[2019-03-12 20:49] robertnishihara commented on #3721
Fixed by #4185.

[2019-03-12 20:49] #3721 closed

[2019-03-12 21:36] robertnishihara opened #4344 "If a node dies causing a task to become infeasible, it can cause other raylets to die."
I've seen this check fail when running the `many_tasks.py` long running stress test.

https://github.com/ray-project/ray/blob/490d896f41c0d964fc7199a160d139360617bf0b/src/ray/raylet/node_manager.cc#L466-L470

I think the issue is that the first node dies for some unrelated reason causing a task to become infeasible. The second node then fails that `RAY_CHECK` because it wasn't expecting the task t

[2019-03-12 21:46] robertnishihara opened #4346 "Infeasible task warnings are not pushed to driver."
The warning in

https://github.com/ray-project/ray/blob/eddd60e14e95a2aadb06192bd141d06c68d5f082/src/ray/raylet/scheduling_policy.cc#L107-L111

should be pushed to the relevant driver.

[2019-03-12 22:07] robertnishihara commented on #4346
Actually, it's done in https://github.com/ray-project/ray/blob/490d896f41c0d964fc7199a160d139360617bf0b/src/ray/raylet/node_manager.cc#L1182-L1191.

[2019-03-12 22:07] #4346 closed

[2019-03-12 22:19] robertnishihara opened #4347 "RAY_CHECK doesn't give backtraces."
I think `RAY_LOG(FATAL)` does give backtraces.

[2019-03-12 22:24] jincongho commented on #4329
Not sure if this is helpful, this is BreakoutNoFrameskip-v4 using IMPALA vtrace for 50M timesteps (200M frames) on Ray 0.6.3. It seems the performance stuck around 80.

![breakout](https://i.imgur.com/CBUVvRv.png)

[2019-03-12 22:28] robertnishihara commented on #4347
Actually, `RAY_LOG(FATAL)` doesn't seem to be doing the right thing either. This is on Linux.

What I'm seeing is the following. It does seem to be trying to give some backtrace, but there's no information there.

[code]

[2019-03-12 23:18] virtualluke commented on #4347
Not sure if helpful but I use the traceback module a decent amount and on unknown exception print `traceback.format_exc()`

[2019-03-13 00:08] ericl commented on #4329
I was able to get to 500 reward within that time on current master. Will
test this branch soon.

On Tue, Mar 12, 2019, 3:25 PM Jin Cong Ho (Martin) <notifications@github.com>
wrote:

[2019-03-13 00:40] max333 commented on #4211
I am seeing this problem too and it makes Tune unusable for me.  I don't think it has anything to do with shuffling the trial results requests.  I tested various versions and it started at 0.6.2.  The nightly build still has this bug, despite the shuffling fix.

The workers are idle most of the time and the cpu utilization is very low.

The problem is much more apparent when many jobs are schedule

[2019-03-13 01:55] richardliaw commented on #4211
For each Trainable object, can you time the amount of time in between `train` calls?

Also, are you using the autoscaler? If not, can you file a new issue? I think this issue was specifically tracking a multi-node bug.

[2019-03-13 01:59] ericl commented on #4211
I would be suspicious of any time lag in the TrialRunner::step method here: https://github.com/ray-project/ray/blob/1ce6f746bda802be03d54288ebaf7afa803cf0f2/python/ray/tune/trial_runner.py#L224

This PR adds some warn_if_slow blocks, but could probably cover other things like checkpoint(): https://github.com/ray-project/ray/pull/4218/files

[2019-03-13 02:13] max333 commented on #4211
@ericl I showed a toy example here, but for our real workload each job lasts about 5 minutes.  The problem still appears when running those jobs over many nodes.  Maybe it's a different problem, but it looks very similar with nearly all jobs being in a waiting state.

[2019-03-13 03:30] ericl commented on #4342
Btw, you can enable xterm scrolling in tmux with this conf (no idea why it isn't on by default): https://superuser.com/questions/310251/use-terminal-scrollbar-with-tmux?lq=1

[2019-03-13 03:32] #4329 closed

[2019-03-13 03:32] ericl commented on #4329
Merged. Thanks for the quick fix!

[2019-03-13 04:18] RehanSD opened #4350 "Linux Wheels missing files from ray.experimental.serve"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: Ray installed using python binaries
- **Ray version**: 0.7.1dev
- **Python version**: 3.6
- **Exact command to reproduce**: pip install -U
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.7.0.dev1-cp36-cp36m-manylinux1_x86_64.whl

### Descr

[2019-03-13 05:38] gowthamnatarajan opened #4352 "IMPALA for non-image inputs"
I see the IMPALA implementation has a conv net in it. I am interested in using IMPALA for non-image inputs. Can I use a custom network architecture instead?

[2019-03-13 05:43] ericl commented on #4352
Yes -- RLlib will choose a fully connected or conv net depending on your observation space, but you can also specify your own custom network: https://ray.readthedocs.io/en/latest/rllib-models.html

[2019-03-13 06:02] gowthamnatarajan commented on #4352
Thanks.
This is a more generic question, but would appreciate some help. Have RL algorithms been used for variable length output using RNNs? My custor network would have a regular fully connected input and an RNN (of varying length) as an output.

[2019-03-13 06:05] ericl commented on #4352
Could you provide a more detailed example here -- is it that for a step of your agent you would use an RNN to generate some variable-length output to send to the environment?

[2019-03-13 06:17] gowthamnatarajan commented on #4352
The action space is not a single action as it is in most applications of RL. In my case, the action involves a set of steps. So, given a state as input, the output would be 2 to 6 steps. Then we can get the reward and continue the cycle.

Since I cannot the the real problem I am working on, I am giving a made up example:

The output (actions) could be any of the following:

- Don't do anything
- B

[2019-03-13 06:37] ericl commented on #4352
I see, in this case, I think you could represent the action space as a Tuple of individual action possibilities i.e., `Tuple([Box(...)] * MAX_OUTPUTS)` where each Box space is either the no-op action or a single buy/sell action. Internally in the model, you could have a RNN or RNN-like structure that generates outputs up to MAX_OUTPUTS and returns it as the tuple action. I don't know of any existi

[2019-03-13 06:47] ericl commented on #4335
Does this also happen if sample_async=False? We usually never test with the async sampler so I wouldn't be surprised if there is some bug with it.

[2019-03-13 07:44] richardrl commented on #3923
Hi, yes, MultiGPU with Pytorch. Specifically I am dealing with slow backpropagation through <10,000 parameters in a graph neural network architecture. The bottleneck is not memory, but speed of loss.backwards()

If it's not implemented, any resources to get it implemented?

[2019-03-13 09:51] gowthamnatarajan commented on #631
Since the windows support is being worked on, if I have to use RLLIB now, the only was is to install linux directly right? Installing linus as a VM inside Windows won't work because it cannot access my GPU?

[2019-03-13 09:54] mehrdadn commented on #631
I have heard it is possible to directly link a GPU to a VM, but as I understand it is not for the faint-hearted... https://wiki.archlinux.org/index.php/PCI_passthrough_via_OVMF

[2019-03-13 09:57] mehrdadn commented on #631
Sorry, I should clarify I don't know if this feature is implemented in any VMs that run on Windows (it seems the host is Linux in that scenario), just that it isn't necessarily impossible in principle.

[2019-03-13 14:21] nikola-j opened #4356 "Current master ray wheel doesn't work"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: ray-0.7.0.dev1-cp36-cp36m-manylinux1_x86_64.whl
- **Python version**: 3.6.7
- **Exact command to reproduce**:
[code]

### Describe the problem
If you build the current master wheel from docker or download one built by travis from

[2019-03-13 16:00] bjg2 commented on #4356
I experience the same issue, wheels built as described [here](https://github.com/ray-project/ray/blob/master/python/README-building-wheels.md) are segfaulting when installed.

[2019-03-13 17:58] dmadeka commented on #4223
@ericl Thanks! Is there a way to do the same for advantages? Advantage normalization is usually super helpful

[2019-03-13 18:26] #4290 closed

[2019-03-13 18:29] ericl commented on #4223
Hm, we standardize the advantages for PPO (see: standardize_fields arg in multi_gpu_optimizer.py), but currently not for other algorithms. This would probably have to be done in the loss function itself in some cases, and so would require code modifications.

[2019-03-13 19:20] natashamjaques opened #4357 "rllib using all available memory on server and crashing"
### System information
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.6.4
- **Python version**: 3.6.7
- **Exact command to reproduce**:
ray.init(num_cpus=FLAGS.num_cpus, object_store_memory=int(2e10), redis_max_memory=int(1e10))

Exact launching script here: https://github.com/eugenevinitsky/sequential_social_dilemma_

[2019-03-13 19:56] flying-mojo commented on #4335
Hi Eric!
I have not tried to run with sample_async=False, i will try and let you
know.
Jarek

On Wed, 13 Mar 2019 at 06:48, Eric Liang <notifications@github.com> wrote:

[2019-03-13 20:26] ericl commented on #4335
Great. By the way, there is a way to emulate multiple nodes when testing on a single machine by passing `--ray-num-nodes` to `rllib train` -- that might help with coming up with a reproduction case.

[2019-03-13 20:30] ericl opened #4358 "[rllib] Add option to ignore crashed workers in RLlib"
### Describe the problem
Currently RLlib will abort a trial if any worker fails. We should add an option to ignore crashed workers instead and continue training.

Also, we should bump timeouts to handle slow-initializing envs.

[2019-03-13 21:35] robertnishihara commented on #4357
Hey @natashamjaques, thanks for reporting this! The fact that the object store is using more than the specified amount is surprising.

If you check `/tmp/ray/session.../logs/plasma_store.err`, it should have a line at the top saying something like **Allowing the Plasma store to use up to 5.15396GB of memory.** What is that number in your case? There should also be a bunch of messages saying things

[2019-03-13 21:42] robertnishihara opened #4359 "Flush tasks from lineage cache much more quickly."
One of the issues in https://github.com/ray-project/ray/issues/4256 appears to be that the lineage cache grows larger and larger. This causes more and more data to be sent between nodes when tasks are forwarded and the raylets receiving tasks have to do more processing.

Currently tasks are flushed from the lineage cache when they are assigned to a worker (by the raylet that owns the worker). Inst

[2019-03-13 22:15] pcmoritz commented on #2713
Here is a simple solution that can be used (it is easy to replace logstash with your own database/logging solution):

First install the dependencies (the first only needs to be installed on the machine that will keep the logs, the second needs to be installed on all workers):

[code]

Start the logstash server on one of the machines (here localhost):

[code]

(make sure to wait till it comes up, i

[2019-03-13 22:21] mitar commented on #2713
Yes. This works great. I use something similar to store things in MongoDB.

[2019-03-13 22:21] mitar commented on #2713
(I also redirect all stdout/stderr to logging first, and then from logging to MongoDB. And then on driver from MongoDB to console.)

[2019-03-13 22:22] mitar commented on #2713
Are you sure this is necessary? I thought that Ray now uses per Python module logger and not one global logger?

[2019-03-13 22:26] pcmoritz commented on #2713
The logger object (which in this case is connected to logstash) needs to be assigned somwhere so it can be accessed from user code. It could be a global variable but then it needs to be brought into scope with `global`, or it an be assigned to a variable in a module.

How are you handling this?

[2019-03-13 22:28] pcmoritz commented on #2713
Ah, actually we can use `logging.getLogger` to access the logging object I think.

[2019-03-13 22:40] mitar commented on #2713
What what? OK, I am NOT doing this. :-) I haven't noticed this in your code. A great thing about Python logging is that you have to redirect only the root logger. Messages propagate up to it (if not filtered). So you just attach your handler to the root logger and this is it.

[code]

BTW, you should add to logger first a memory queue. And then you connect to that memory queue and you redirect it

[2019-03-13 22:44] pcmoritz commented on #2713
My code only shows how to set up the logging on all the workers and actors, which logging mechanism is used is an implementation detail :) I.e. you could use an async logger, or your queue implementation or logstash, that's orthogonal.

[2019-03-13 22:46] mitar commented on #2713
I am just saying that you should not example the code which uses directly logstash, but you should have a queue in between (except if they don't already do queuing in memory themselves).

[2019-03-13 22:47] mitar commented on #2713
Read more information here: https://docs.python.org/3/howto/logging-cookbook.html#dealing-with-handlers-that-block

[2019-03-13 22:49] mitar commented on #2713
So there are two important points in my snippet(s):
* Adding handler to the root logger which captures all logging, so you do not need to even know which exactly logger is being used for logging. It propagates up to the root (except if filtered).
* Using a queue handler between real handler and logger. Prevents logger from blocking ever.

[2019-03-14 00:15] pcmoritz commented on #4356
Thanks for reporting this! I can reproduce the segfault and also verify
that it is fixed in https://github.com/ray-project/ray/pull/4281. Wheels
after that should work!

@bjg2:
The instructions in
https://github.com/ray-project/ray/blob/master/python/README-building-wheels.md
are outdated now, I'll update them.

On Wed, Mar 13, 2019 at 9:00 AM bjg2 <notifications@github.com> wrote:

[2019-03-14 01:31] tengteng opened #4361 "[rllib] off-policy estimator checking action_prob from wrong places."
I followed example code from [saving_experiences.py](https://github.com/ray-project/ray/blob/master/python/ray/rllib/examples/saving_experiences.py) trying to generate some offline experience for off-policy CPE but found this issue:

Later code in off_policy_estimator.py actually checks inconsistent places from for `action_prob`:
[L70](https://github.com/ray-project/ray/blob/master/python/ray/rlli

[2019-03-14 08:47] richardliaw opened #4363 "[tune] Better documentation for 'done'"
It is not clear in the docs where `done` is used (to terminate trials from within the trial).

[2019-03-14 09:00] nikola-j commented on #4356
Awesome, thanks guys!

[2019-03-14 09:00] #4356 closed

[2019-03-14 09:38] bjg2 commented on #4356
Thanks from me as well! :)

[2019-03-14 13:04] zuoxingdong opened #4365 "[tune] PyTorch: remove dependency of TensorFlow"
It will be very convenient to remove dependency of TensorFlow when using `ray.tune` for PyTorch.

[2019-03-14 13:33] max333 opened #4366 "[tune] Performance collapses with thousands of queued jobs"
### System information
- **Ray version**: 0.6.2 to at least March 12th nightly

When there are thousands of trials queued (not even running), the master node performance is very poor and it processes results from the nodes very slowly.  The nodes cpu utilization is very low.

Here is an example where this problem happens:
[code]
You can run this locally and see that the jobs (trials) are processed

[2019-03-14 15:58] nikola-j opened #4369 "[rllib] Entropy coefficient in various algos"
### Describe the problem
In IMPALA and A3C entropy coeff is multiplied with the entropy but in PPO the negative of the entropy coeff is multiplied with entropy which creates inconsistencies between the algorithms.

I think it would be good to change them to use the PPO variant since this is a coefficient and the user shouldn't have to define the sign. And because same coefficient should be used be

[2019-03-14 19:08] ericl commented on #4369
Perhaps we can throw an error if the sign is unexpected, since it seems unlikely you'd want to penalize entropy?

The problem with changing it now is that it would break existing tuned hyperparameters. We could also rename the config.

[2019-03-14 19:10] ericl commented on #4365
I think we only have a soft dependency, so it's only imported if already installed. Is this not the case?

[2019-03-14 19:48] ericl commented on #4366
Yep, looks like self.has_resources is much more expensive than it needs to be: https://github.com/ray-project/ray/blob/d5f46983056642ad0a2e4dff2a0030845f5c3f03/python/ray/tune/ray_trial_executor.py#L359

[2019-03-14 19:48] ericl commented on #4366
A reasonable fix would to be to avoid calling `_update_avail_resources` unless there is actually a state change in the cluster.

[2019-03-14 20:09] ericl opened #4370 "[tune] Add scheduling throughput test"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Ray installed from (source or binary)**:
- **Ray version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem
We should add a perf test so that issues like https://github.com/ray-project/ray/issues/4366 can be caught in CI.

cc @richardliaw

[2019-03-14 20:13] max333 commented on #4366
But then it's not clear how the trial executor ever becomes aware that the user changed resources.

Currently every single pending trial calls `_update_avail_resources`, but maybe it could only be called once instead.

[2019-03-14 20:25] ericl commented on #4361
I think this is working as intended:
- the action_prob for the offline data is read from batch["action_prob"]
- the action_prob for the current policy is read from the info return of policy.compute_actions()

An error can occur if either the action prob is missing from the batch, or if the policy does not has meaningful action prob (e.g., DQN without soft_q enabled).

[2019-03-14 20:26] ericl commented on #4366
I see, it makes sense to call it once in a while. Perhaps at the beginning of `choose_trial_to_run`?

[2019-03-14 21:25] tengteng commented on #4361
Sounds good. A better error message is definitely helpful.

[2019-03-14 21:25] #4361 closed

[2019-03-14 22:44] robertnishihara commented on #4356
@pcmoritz any idea what the prior issue was?

[2019-03-14 22:53] pcmoritz commented on #4356
For https://github.com/ray-project/ray/pull/4127 the previous fixes weren't sufficient any more. Fortunately the crashes are solved differently now.

[2019-03-14 22:53] richardliaw commented on #4326
Hmm, this can be done by avoiding the `expanduser` call until called within the Trainable.

Would you be interested in pushing a fix?

[2019-03-14 22:55] ankeshanand opened #4371 "[rllib] [Feature Request] PyTorch version of DQN style algorithms"
Hi,

I think it would be nice to have a PyTorch version of DQN family of algorithms (particularly the distributed ones). As far as I am aware there's no distributed implementation of DQN algorithms (ApeX) in PyTorch out there, so including them would be tremendously useful!

[2019-03-14 22:56] richardliaw commented on #3954
(Closing this with PR)

[2019-03-14 22:56] #3954 closed

[2019-03-14 22:58] richardliaw commented on #4013
(Closing this for now because stale, but if this is still an issue, please feel free to reopen!)

[2019-03-14 22:58] #4013 closed

[2019-03-14 23:00] ericl commented on #4371
One approach may be to port an existing PyTorch DQN implementation to the torch policy graph abstraction (assuming compatible licensing). Any idea on possible reference impls here?

[2019-03-14 23:03] richardliaw commented on #3803
(Closing this because stale, feel free to reopen)

[2019-03-14 23:03] #3803 closed

[2019-03-14 23:04] richardliaw commented on #3320
Closing this due to inactivity -- feel free to reopen

[2019-03-14 23:04] #3320 closed

[2019-03-14 23:04] richardliaw commented on #3192
Closing this due to inactivity -- feel free to reopen

[2019-03-14 23:04] #3192 closed

[2019-03-14 23:09] ankeshanand commented on #4371
I think @Kaixhin's implementation of DQN style algorithms is pretty comprehensive: https://github.com/Kaixhin/Rainbow.

 There's an official PyTorch tutorial with a minimal DQN implementation as well: https://github.com/pytorch/tutorials/blob/5fff87419e157bbc3fd73cfac1f6e2e0477470e8/intermediate_source/reinforcement_q_learning.py

[2019-03-14 23:37] tengteng opened #4372 "[tune] CUDA_ERROR_NO_DEVICE error when use tune.run_experiments()?"
### System information
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.0 dev1
- **Python version**: Anaconda 3.6.4

### Describe the problem
Code below. In training process the logic will invoke a process which will execute a code snippet on GPU. I set CUDA_VISIBLE_DEVICES=0,1,2,3 in my env variable. But that execution code actually throws CUDA_ERROR_NO_DEVICE error.
I s

[2019-03-14 23:57] pcmoritz opened #4373 "Java security vunerability warning"
It's due to the following dependency:

[code]

We should get rid of it/upgrade it ASAP.

@guoyuhong @raulchen

[2019-03-15 00:28] ericl commented on #4371
Ah, I did try porting Kai's Rainbow a while ago. This was back before we had proper policy abstractions: https://github.com/Kaixhin/Rainbow/compare/master...ericl:rllib-example

I also recall it didn't achieve the same performance for some reason, likely a bug introduced during the porting. Also, the code has changed a lot since then so it probably makes sense to start fresh.

I personally wouldn'

[2019-03-15 00:29] ericl commented on #3893
Duplicate

[2019-03-15 00:29] #3893 closed

[2019-03-15 00:35] ericl commented on #4372
The following works for me, and I see one GPU visible inside the environment.

[code]

By the way
- You shouldn't set "resources_per_trial" for RLlib -- RLlib will auto-set this, to avoid mistakes.
- If you want to share GPUs with the driver, you can set num_workers: 0.

[2019-03-15 00:57] mitar commented on #2618
In meantime we got a new use case here. So we would use Ray Tune to run experiments on the cluster. But while experiments run, user might want to interact through our dashboard with experiments. For example, save some intermediary results. We are currently using Ray task for this saving process. But ideally we should make higher priority than any Ray Tune task.

[2019-03-15 01:34] tengteng commented on #4372
It works after I removed 'resources_per_trial' and changed 'num_workers' to 0. But I don't understand these options.

So this is specific to tune+RLlib. Can we print a hint message here?

Why setting 'num_worker' as 0 will share GPU resource with the driver?

[2019-03-15 01:34] #4372 closed

[2019-03-15 01:38] ericl commented on #4372
resources_per_trial determines how many resources Tune will allocate from Ray per trial. Normally this is automatically determined based on the other RLlib options.

num_workers is the RLlib parallelism, see this diagram here: https://ray.readthedocs.io/en/latest/rllib-training.html#specifying-resources

[2019-03-15 02:49] ericl commented on #3303
I think this is fixed

[2019-03-15 02:49] #3303 closed

[2019-03-15 02:54] raulchen commented on #4373
thanks @pcmoritz. If I upgrade it, how do I verify wether the issue is gone?

[2019-03-15 04:24] pcmoritz commented on #4373
Github says:
[code]

So upgrading it to that version should do the trick :)

[2019-03-15 06:07] szymonWojdat commented on #4371
Hi, I'll have a look as well if this helps

[2019-03-15 06:44] richardliaw commented on #4371
@szymonWojdat that'd be great! feel free to open a WIP PR as soon as possible, and tag us if you have questions about the codebase/implementation.

[2019-03-15 07:50] guoyuhong opened #4378 "Do not upgrade Bazel to 0.23"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Ray installed from (source or binary)**:
- **Ray version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem

Now brew's version for Bazel is 0.23.2. However, 0.23.0 has a bug while building cython code, which I met the same problem as described in https://github.com/bazelbuil

[2019-03-15 08:24] richardliaw commented on #4366
Actually, I think it would be OK if we just call it on `TrialExecutor.on_step_begin` and remove it from `has_resources`.

[2019-03-15 08:37] richardliaw commented on #4366
Addressed in https://github.com/ray-project/ray/pull/4379.

[2019-03-15 13:56] max333 commented on #4366
Sounds good to just leave `_update_avail_resources` in `TrialExecutor.on_step_begin` and remove it from `has_resources`.

However, `self.trial_executor.has_resources(trial.resources)` is called in `TrialRunner._try_recover`.  This is called in the main loop (`TrialRunner._process_trial`) in case `self.trial_executor.fetch_result(trial)` raises an exception.  Since `fetch_result` is a blocking call

[2019-03-15 14:07] dulex123 opened #4381 "[tune] Removing unnecessary checkpoints / freeing up disk space"
### Describe the problem

Currently there is no way to specify the removal of stale checkpoints. It fills up disk space based on checkpoint-freq.

One idea is to specify number of last checkpoints to keep `--keep-checkpoints-num`. This is fine, but it may not save the best performing (highest reward) model.

So another parameter that could help with this is: `--keep-best-checkpoints-num` which wil

[2019-03-15 15:54] markgoodhead opened #4382 "Log monitor issue"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.6.4
- **Python version**: 3.7

### Describe the problem
When running a Tune experiment from the autoscaler from time to time I get the following error:

[code]

[2019-03-15 17:34] jincongho commented on #4329
This is my graph on Ray 0.7.0.dev1. What could be the problem of not converging?

![image](https://i.imgur.com/alEZAM2.png)

[2019-03-15 17:39] ericl commented on #4329
What are the hyperparameters you're using? I was using the atari-impala
yaml in the tuned examples folder.

On Fri, Mar 15, 2019, 10:35 AM Jin Cong Ho (Martin) <
notifications@github.com> wrote:

[2019-03-15 18:05] dmadeka opened #4384 "Question: Documentation for creating a new agent"
Is there a simple example of how to create an agent with a different loss and multiple policy networks from scratch?

[2019-03-15 18:36] #4373 closed

[2019-03-16 00:24] ericl commented on #4384
Do you mean writing an algorithm from scratch? The pg algorithm is a pretty good example (it has a super simple loss): https://github.com/ray-project/ray/blob/master/python/ray/rllib/agents/pg/pg_policy_graph.py

[2019-03-16 00:26] ericl commented on #4384
If you mean multi-agent here, QMIX is an example, otherwise there is the multi-agent API for running multiple agents/policies in one environment.

[2019-03-16 05:23] #2879 closed

[2019-03-16 20:34] #4358 closed

[2019-03-16 20:50] vladfi1 opened #4387 "Feature Request: measure inference and environment step times separately"
Sampling has two components: generating an action from the agent (inference), and stepping the environment. It would be very useful to measure these separately to find bottlenecks in training.

[2019-03-16 20:52] #4366 closed

[2019-03-17 05:42] ericl commented on #1614
I'm seeing this again in TF 1.9 -- feeding writeable memory runs a 5GB/s, and read-only memory at <1GB/s.

[2019-03-17 05:59] ericl commented on #1614
Nevermind, it's fixed in later versions.

[2019-03-17 07:44] gowthamnatarajan opened #4389 "rllib not recognized"
I have installed ray as per the instructions. How do I install rllib, tune etc?

[2019-03-17 09:26] gowthamnatarajan commented on #4389
rllib is not recognized in python3. It says its not defined. Should I add the path name somewhere?

[2019-03-17 19:10] ericl commented on #4389
Oh, there's some examples of how to use the python API here: https://ray.readthedocs.io/en/latest/rllib-training.html#python-api

[2019-03-17 19:33] #4389 closed

[2019-03-17 22:10] robertnishihara commented on #4272
Done by #4281 and #4280.

[2019-03-17 22:10] #4272 closed

[2019-03-17 22:40] gowthamnatarajan opened #4391 "Gitter chat room for rllib?"
Is there a Gitter chat room for rllib / ray?

[2019-03-17 22:45] robertnishihara commented on #4391
There is not.

**Some resources:**
- our mailing list (for discussions about development or any questions really): ray-dev@googlegroups.com
- StackOverflow (for questions about how to use Ray): https://stackoverflow.com/questions/tagged/ray

[2019-03-18 01:07] #4369 closed

[2019-03-18 01:46] nautilus22 opened #4393 "[ray] Clustering issue"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.4
- **Python version**: 3.6.8
- **Exact command to reproduce**:

### Describe the problem

I tried "manual cluster setup" on gcp instances, but always fail.
I used ```ray start --head --redis-port=6379``` command on head

[2019-03-18 03:42] #4391 closed

[2019-03-18 03:44] gowthamnatarajan opened #4394 "LSTM cells in the output of a model"
In this section https://ray.readthedocs.io/en/latest/rllib-models.html#built-in-models-and-preprocessors
it says that LSTM cells can be added to the model. Does that mean, we can have multiple and variable number of actions in the model?

[2019-03-18 04:49] ericl commented on #4394
A LSTM model just means it can remember state from past observations of the MDP, it has nothing to do with the actions output of the model.

[2019-03-18 05:17] guoyuhong commented on #4347
If I used cmake to build the binary, there is not such case. It looks like this only happens in bazel built binaries.

[2019-03-18 05:23] robertnishihara commented on #4347
@guoyuhong oh interesting. Maybe we're forgetting to compile with `-g` or something like that?

[2019-03-18 07:07] ericl commented on #4247
This will be fixed by https://github.com/ray-project/ray/pull/4324

[2019-03-18 07:20] ericl commented on #4030
@fiorenza2 , did you ever figure out if the variance is expected for the env?

[2019-03-18 07:30] guoyuhong commented on #4347
For cmake, it will run some tests to define some macros, but for bazel, it all predefined. Glog bazel script only uses a minimal set of macros. I'm trying out which macros are necessary.

[2019-03-18 08:46] nikola-j commented on #4369
Awesome work, thanks!

[2019-03-18 09:42] timediv opened #4396 "Ray dashboard only shows head node"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.64
- **Python version**: 3.6
- **Exact command to reproduce**: Start head node and child nodes and open dashboard

### Describe the problem

The dashboard only shows the head node even though in fact tasks are running on multipl

[2019-03-18 12:31] nikola-j opened #4397 "[rllib] Remote worker envs cause memory leak"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 18.04
- **Ray installed from (source or binary)**: source
- **Ray version**: newest master
- **Python version**: 3.6.7
- **Exact command to reproduce**:
[code]

### Describe the problem

When running rllib with remote worker envs and multiple tune trials the number of workers grows constantly between each trial u

[2019-03-18 13:14] timediv opened #4399 "Inefficiency: worker_idle between actor methods"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.64
- **Python version**: 3.6
- **Exact command to reproduce**: Start head node, 1 child node; Create actor on child node, queue two remote method calls on actor.

### Describe the problem
I would expect both methods to run with

[2019-03-18 13:45] timediv opened #4400 "Log directory empty since upgrade from 0.63 to 0.64"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.64
- **Python version**: 3.6
- **Exact command to reproduce**: Starting ray and running any driver

### Describe the problem
Since upgrading from ray 0.63 to 0.64 the log directory appears to be empty.

[code]
[code]

[2019-03-18 14:24] virtualluke commented on #2618
Having task priorities could also help solve issues with https://github.com/ray-project/ray/issues/3644 .  Deeper nested tasks given I higher priority would keep a deadlock from happening I would think.

[2019-03-18 15:06] guntherglenk opened #4401 "[tune] Add ASHA (promotion-based scheduler)"
I read the title of [this](https://arxiv.org/abs/1810.05934) paper from CMU and immediately had to think of ray.

I am not sure how hard this would be for you guys to add to tune, but on a very high-level it seems like a rather simple and intuitive algorithm, that apparently is competitive to PBT.

Here’s a blog post explaining the idea behind ASHA (Asynchronous Succesive Halving Algorithm):
https

[2019-03-18 15:15] jincongho commented on #4329
Sorry, false alert. It was my problem, I created a class wrapper around gym.make object, but then `atari_wrapper` cannot properly preprocess the frames.

[2019-03-18 18:16] richardliaw commented on #4401
This is already implemented in https://ray.readthedocs.io/en/latest/tune-schedulers.html#asynchronous-hyperband

Should we rename it?

[2019-03-18 18:57] ericl commented on #4401
Hmm I think we should have something called ASHA in the docs / doc comments for search purposes. Not sure about naming the class ASHA :)

[2019-03-18 19:45] guntherglenk commented on #4401
Ah awesome, thanks a lot!
The first line of the docs indeed says: “Implements the Async Successive Halving.”

For me it would have definitely been easier to spot if it would have been called AsynchronousSuccessiveHalvingScheduler, but I am not sure if this is the case for everyone else. ;-)

[2019-03-18 19:52] robertnishihara commented on #4393
Can you try `ray.init(redis_address="localhost:6379")`. Does that work?

Also, can you do `ps aux | grep "raylet/raylet "` to see if there are any live raylets?

[2019-03-18 21:21] albarji opened #4402 "num_steps_sampled and num_steps_trained unbalanced in IMPALA"
### System information
- **OS Platform and Distribution**: Ubuntu 16.04.5 LTS
- **Ray installed from**: binary
- **Ray version**: 0.6.3
- **Python version**: 3.6.8
- **Exact command to reproduce**: rllib train -f config.yml
(config file provided below)

### Describe the problem

It seems like IMPALA drops samples when using either more than 1 num_gpus or more than 1 num_data_loader_buffers, or at

[2019-03-18 22:12] AdamGleave opened #4403 "[tune/autoscaler] _LogSyncer cannot rsync with Docker"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.4
- **Python version**: 3.6.7

### Describe the problem
In `_LogSyncer`, `sync_to_worker_if_possible` and `sync_now` use `rsync` to transfer logs between the local node and the worker. This breaks when using Docker, since:
  -

[2019-03-18 22:14] AdamGleave commented on #4403
@richardliaw may have thoughts as already triaging #4183

[2019-03-19 01:54] ericl commented on #4402
I have a fix for this -- it turns out to be just an accounting error when in multi-GPU mode. Basically, for reasons we use `train_batch_size` to count train timesteps instead of the true number of timesteps trained. This can sometimes vary from the configured batch size.

Btw just FYI, `        num_envs_per_worker: 64` will cause your batch size to be 50 * 64, so the train batch size will become 3

[2019-03-19 02:16] robertnishihara opened #4406 "Redis LRU plus object store LRU can lead to fatal crash."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **Ray installed from (source or binary)**: source
- **Ray version**: `0.7.0.dev1`
- **Python version**: 3.6.4
- **Exact command to reproduce**:

[code]

The raylet crashes with **Redis error: ERR The entry to remove doesn't exist.**:

[code]

This is related to https://github.com/ray-project/ray/pull/4199

[2019-03-19 03:16] guoyuhong commented on #4347
@pcmoritz Helped to merge the PR. @robertnishihara could you help to double confirm the problem is fixed? Then we can close this issue.

[2019-03-19 03:40] kfstorm commented on #4406
The redis key about this object was deleted and then it requests to remove an entry about this object. This is due to we treat a remove operation against a non-existent entry is invalid.

To make GCS `Set` data structure works well with redis LRU cache, we can change the implementation in `ray_redis_module.cc` to allow removing a non-existent entry. This will keep it consistent with redis list imp

[2019-03-19 03:54] pcmoritz commented on #4347
I tested it with RAY_CHECK, backtraces are working now!

[2019-03-19 03:54] #4347 closed

[2019-03-19 04:14] robertnishihara commented on #4406
Thanks @kfstorm, that explanation makes sense. Relevant comment is https://github.com/ray-project/ray/pull/4199#discussion_r263244194 I believe.

[2019-03-19 09:18] aGiant opened #4410 "APEX DDPG DEFAULT CONFIG issue"
### System information
- **Ubunt LTS 18.04**:
- **Ray installed from pip**:
- **Ray version 0.6.4**:
- **Python version 3.6**:
- **APEX DDPG**:

### Describe the problem

APEX DEFAULT CONFIG issue:
[code]
Error:
[code]

### Source code / logs

Some errors that I really had no idea where came from;
[code]

[2019-03-19 11:29] jpiabrantes opened #4411 "[rllib] Misspelled key in .../tuned_examples/pendulum-ppo.yaml"
https://github.com/ray-project/ray/blob/c93eb126ec8946a35486b5ee60d4b95427a1be51/python/ray/rllib/tuned_examples/pendulum-ppo.yaml#L18

`observation_fliter` should be `observation_filter`.

[2019-03-19 11:49] jpiabrantes opened #4412 "[rllib] Training interrupted with Exception: [RayletClient] Connection closed unexpectedly"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: WSL Ubuntu 18.04
- **Ray installed from (source or binary)**: Source
- **Ray version**: 0.7.0.dev1
- **Python version**: 3.6.8
- **Exact command to reproduce**: `rllib train -f tuned_examples/pendulum-ppo.yaml`

### Describe the problem
I've encountered the exception: `Exception: [RayletClient] Connection closed

[2019-03-19 15:25] gehring opened #4414 "[tune][feature request] Kubernetes based trial executor"
### Describe the problem
Tune is a very powerful hyper-parameter framework but, currently, involves an all or nothing commitment to ray for managing concurrency, scheduling and fault tolerance. I believe tune's API already supports different backends through the trial executor.

### Why?
I believe there would be a strong interest in being able to use tune without having to fit experiments within r

[2019-03-19 15:48] gehring commented on #4414
@richardliaw I've prioritized opening up this issue now so that we can make sure the global tracking solution you mentioned would be compatible with this idea.

I can think of two approaches:
1. We force result logging into the Trainable API, wrapping any external communication inside `_train()`. This is the simplest for tune but might not give a particularly elegant solution.
2. The tracking API

[2019-03-19 16:10] jamescasbon opened #4415 "Cannot queue trials when there are no available cpus"
### System information
- **Debian 8**:
- **binary**:
- **0.6.4**:
- **3.5.3**:
- **--run DQN --env CartPole-v0 --queue-trials --queue-trials --redis-address x.x.x.x:x**:

### Describe the problem

If I have zero cpus available I am unable to queue trials.  This is not great when using autoscaling. When using autoscaling on a cloud provider I want to start with 0 workers and 0 cpus on the head node

[2019-03-19 16:42] stephanie-wang commented on #4406
Sounds like we should change this to log the error on redis, but return OK.

[2019-03-19 18:24] gehring commented on #4371
@ericl @szymonWojdat @richardliaw  In my opinion, every algorithm should support both pytorch and tensorflow (if at all reasonably possible).

A lot of the DQN code will have to be refactored to fit the TF 2.0 API anyway (and the TF 1.0 object-oriented/eager API). Given there obviously is interest in pytorch models for DQN algorithms, we might be better off trying to do this right and design a set

[2019-03-19 19:21] ericl commented on #4371
@gehring I think we already have pretty good isolation here, is that not the case? For example, PG and A2C/A3C work in both PyTorch / TF without much effort.

The only cases I can think of where we have tight coupling with TF is for the multi-GPU optimizer, which is hard to avoid since it's a performance-critical component.

[2019-03-19 19:37] pcmoritz opened #4417 "Ray project suggestions"
Ray is a community-driven project. We love to learn about existing use cases and how we can help to make Ray more useful. To facilitate that, we would like to create a community-maintained list of project suggestions that can help future contributors decide on what to work on. To facilitate the discussion, here is a preliminary list.

- If you are interested in working on any of these or have more

[2019-03-19 19:53] gehring commented on #3956
@richardliaw I missed the change to [which fields](https://github.com/ray-project/ray/blob/7c3274e65b75d4533b744639e8fb62fb05bf7f75/python/ray/tune/tests/test_trial_runner.py#L114) are checked in the consistency check.

Not a pressing issue but I do think that all the auto-filled results that aren't different by design should be checked, not only the user provided results. The intent would be to t

[2019-03-19 20:27] ericl opened #4418 "[rllib] Ideas on simplifying TFPolicyGraph code?"
### Describe the problem

It's been noted a few times that TFPolicyGraph is hard to understand for new developers. I think this is due to a few reasons:
- The policy, loss, and postprocessing are all mixed together in one class (though this is somewhat hard to avoid since the loss might be defined over arbitrary parts of the policy).
- The sampling dataflow is not clear (sample batch from sampler

[2019-03-19 20:30] ericl commented on #4411
Thanks! fixed in https://github.com/ray-project/ray/pull/4409

[2019-03-19 20:37] ericl commented on #4410
Hm if you remove this line, does it fix it? https://github.com/ray-project/ray/blob/e78562b2e8d2affc8b0f7fabde37aa192b4385fc/python/ray/rllib/agents/ddpg/apex.py#L26

For the segfault, perhaps try upgrading TensorFlow? (what version are you using)?

[2019-03-19 20:51] ericl commented on #4412
Could you attach any relevant raylet logs from /tmp/ray?

Also, is this reproducible? It's a bit surprising you'd see this on that example since that has pretty minimal usage of parallelization.

[2019-03-19 20:52] gehring opened #4419 "[tune] Simplify and document semantics of auto-filled logging fields"
### Describe the problem
Currently, the behavior of several of the [auto-filled results](https://ray.readthedocs.io/en/latest/tune-usage.html#auto-filled-results) is opaque and poorly documented. It would be good to clearly and unambiguously document the semantics of every result not provided by the user that could be added or modified by tune.

### Possible issues to look into:
- [ ] Missing docu

[2019-03-19 20:59] gehring commented on #4419
@richardliaw This issue summarizes the remaining logging peculiarities I encountered that weren't caused by the class API vs function API logging issues. Let me know what you think!

[2019-03-19 21:00] richardliaw commented on #3956
Yeah that's actually a good point; it should actually be quite an easy fix. Let's reopen this issue for now.

[2019-03-19 21:44] richardliaw commented on #4403
Hey @AdamGleave,

Thanks a bunch for opening up this!

I think the sync functionality in `_LogSyncer` should probably not depend on the autoscaler because it seems like the non-autoscaler cluster use case is still quite prevalent.

Given this, the cleanest solution is probably to line up (or play around with) the volume binding from the autoscaler side. This way, Tune would be agnostic to whether

[2019-03-19 21:44] richardliaw opened #4420 "[tune] sync_func should be executed after worker_to_local"
_Originally posted by @richardliaw in https://github.com/ray-project/ray/issues/4403#issuecomment-474596623_

[2019-03-19 22:48] richardliaw commented on #4419
Thanks again for opening this issue! Honestly, I think any additions/clarifications to the documentation would be incredibly helpful.

No strong opinion on this, though displaying `ts` is pretty helpful. cc @ericl

RE: `_this_iter`/ `_total` - I think general-case handling here might not be needed and might introduce too much complexity. The value add doesn't seem too worth it to me; it's way easi

[2019-03-19 23:51] natashamjaques opened #4422 "Multi-agent A3C needs to log vf_loss and other metrics"
### System information
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**:
- **Ray version**: 0.6.4
- **Python version**: 3.6.7
- **Exact command to reproduce**:

Launch script here: https://github.com/eugenevinitsky/sequential_social_dilemma_games/blob/visible_actions/run_scripts/train_baseline_a3c.py

### Describe the problem
Multi-agent A3C does n

[2019-03-20 00:33] richardliaw opened #4423 "[tune] (RFC) Exposing a first-class tracker/logger"
## General Motivation

TL;DR: Minimally invasive utility for logging experiment results that integrates seamlessly with Tune.

One common barrier to adoption is that users already have a developed workflow by the time they need to use a hyperparameter tuning framework.

As @gehring mentions in #4414 ,

The solution to this is to expose a tracking/logging mechanism as a first class. This mechanism

[2019-03-20 00:39] ericl commented on #4423
The high level motivation here makes a lot of sense to me.

One question is about: `track.init()`, should this have a good default instead and auto-init? I think one big design flaw with python logging is that it requires you to call configure somewhere -- which may be unclear if you have a large codebase with several modules.

[2019-03-20 00:52] richardliaw commented on #4414
Done! Let's move the tracking discussion onto #4423 and keep this issue specific to Kubernetes integration.

cc @robertnishihara do you have any thoughts?

[2019-03-20 01:33] danielrs opened #4424 "Issues when using with eventlet"
There seems to be an issue when trying to use ray in an application that uses `eventlet`. How to reproduce:

[code]

Traceback:

[code]

`pip freeze`:

[code]

Bug could be in the Redis package, but it seems to be working fine with eventlet by itself.

[2019-03-20 01:35] gehring commented on #4423
@richardliaw I won't have a lot of time to dive into the current tracker implementation until the end of the week so maybe this is already clearly addressed somewhere. How is checkpointing going to be handled? I ask because repeated results can be introduced if not very careful with how trials are restored and can be difficult to resolve.

An easy solution, and one I've seen implemented before, is

[2019-03-20 02:07] ericl opened #4425 "[rllib] Add option to preserve RNN state across episodes"
### Describe the problem
Add a sampler option that when enabled:
- allows RNN state to carry across episodes for an env
- allows bootstrapping VF from end of episode (effectively not setting done=True for the end of the episode)

This allows for the handling of episodes that never terminate (but that you still want to get some reward from).

cc @vladfi1

[2019-03-20 02:14] ericl commented on #4357
Is this still reproducible?

[2019-03-20 02:19] nautilus22 commented on #4393
`ray.init(redis_address="localhost:6379")` works on head machine.
[code]
But it does not work on node machine.
[code]
And live raylets on head machines are
[code]
on node machine
[code]

[2019-03-20 02:32] AdamGleave commented on #4403
Thanks for pointing out the non-autoscaler use case; I agree this means we shouldn't introduce an `autoscaler` dependency. I managed to work around the problem for my particular setup just by changing the autoscaler [config](https://github.com/HumanCompatibleAI/adversarial-policies/blob/master/src/modelfree/configs/ray-aws.yaml). This makes me confident a solution just inside `ray/autoscaler/docke

[2019-03-20 05:49] raulchen commented on #4399
Did you submit the actor tasks from the head node or the child node?

Also, could you try again with env var `export RAY_BACKEND_LOG_LEVEL=debug`, and paste the `raylet.err` logs of both nodes?

[2019-03-20 06:11] aGiant commented on #4410
I removed "max_weight_sync_delay" and it worked. Tensorflow 1.13.1 was used.

[2019-03-20 08:32] jpiabrantes commented on #4412
Here are the logs:
[session_2019-03-20_08-18-01_42.zip](https://github.com/ray-project/ray/files/2987140/session_2019-03-20_08-18-01_42.zip)

It occurs to me more often than not.

[2019-03-20 08:47] ericl commented on #4412
[code]

@robertnishihara any ideas here?

By the way, I'm curious if `./train.py --run=PPO --env=Pendulum-v0 --config='{"num_workers": 0}` also crashes. This uses 0 workers so Ray would be completely idle (and you can compare against num_workers > 0).

[2019-03-20 10:02] jpiabrantes commented on #4412
Curiously the same error also happened when `num_workers=0`.

Here are the logs:
[session_2019-03-20_09-46-04_9296.zip](https://github.com/ray-project/ray/files/2987571/session_2019-03-20_09-46-04_9296.zip)

[2019-03-20 11:57] thbuerg commented on #585
Any updates on a allowing conda install?

[2019-03-20 14:24] jincongho commented on #4130
Hi, I was having problem with the multitask performance logging with `custom_metrics`. I tried a lot of times using function below:
[code]
But the metrics always different from the real reward. At the end, I tracked down the issue at `sampler.py` line 543:
[code]
Because each episode can be split into multiple Rollout, `episode.total_reward` won't be accurate in Atari environment. Also, at line 34

[2019-03-20 15:17] gehring commented on #4417
@pcmoritz This is a create idea! It might be good to include a project for supporting TF 2.0 (related #4134)

[2019-03-20 16:33] kunalrdeshmukh opened #4436 "[tune] No attribute `tune.run`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 18.04
- **Ray installed from (source or binary)**: binary
- **Ray version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem
I got below error while executing a ray.tune code -

AttributeError: module 'ray.tune' has no attribute 'run'

I faced same issue while importing
`fr

[2019-03-20 17:14] ericl commented on #4412
That's super weird :/

Do you have any other machines (e.g., AWS instance) to try on? It could be an environment-specific issue.

[2019-03-20 17:51] jpiabrantes commented on #4412
I have installed Ubuntu as dual-boot now - everything is working fine I cannot reproduce the error any more :)

It might be a problem with running Ubuntu on WSL (Windows for Subsystem Linux), I guess not many people are doing that.

[2019-03-20 18:01] ericl commented on #4412
Ah that makes sense, I think there are known issues with that.

[2019-03-20 18:45] pcmoritz commented on #4417
Thanks, added it!

[2019-03-20 18:57] gehring commented on #4418
@ericl I think all problem points are correct. In general, I find that several of the classes are trying to do too many things which 1) bloats the class, making hard to parse 2) prevents code from being placed in more intuitive places.

Also, the nomenclature of classes inside rllib is throwing me off at times. For example, the structure and design of the `Agent` class (and its subclasses) feels v

[2019-03-20 19:16] gehring opened #4437 "[ray] TensorFlowVariables cannot find resource variables"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.7.0.dev1
- **Python version**: 3.6.6
- **Exact command to reproduce**:

[code]

### Describe the problem
Currently resource variables go undetected by the `TensorFlowVariables` since it finds variables by searching specific node names.

[2019-03-20 19:22] natashamjaques commented on #4357
Thanks for your help. I checked the session logs and it does have the line about allocating 20GB, and seems to be maintaining that amount:

$ more /tmp/ray/session_2019-03-13_14-40-27_13035/logs/plasma_store.err
I0313 14:40:27.623787 13180 store.cc:989] Allowing the Plasma store to use up to 20GB of memory.
I0313 14:40:27.624085 13180 store.cc:1016] Starting object store with directory /dev/shm an

[2019-03-20 19:22] gehring commented on #4437
@ericl wrote a small bandaid to fix this until we finish the redesign

[2019-03-20 19:27] zbarry opened #4439 "Autoscaling is slow - possibly because of the time it takes to configure a node"
Python 3.7 / CentOS 7 / Ray 0.6.4 & 0.7 dev nightly from yesterday.

Having autoscaling problems - for whatever reason, I can run tasks on all my workers across my cluster, but the monitor process sometimes either responds very slowly to requests for more workers or never spawns any new ones at all. This is what I get from `monitor.err`:

Logs:

[code]

I think what is going on is that Ray is gett

[2019-03-20 19:45] FedericoFontana opened #4440 "Agent returns action with np.nan when using extra_spaces.Simplex"
### System information
- **Linux Ubuntu 18.04**
- **Ray installed with `pip install ray`**
- **Ray 0.6.4**
- **Python version 3.6.7**
- **Exact command to reproduce**: see section `Source code / logs` below.

### Describe the problem
**Context**: My use case is to create custom `gym.Env` and solve those environments with `ray` agents. Ray has worked very well in my use case, where different agents

[2019-03-20 19:58] robertnishihara commented on #4382
@markgoodhead thanks for reporting this. I'm currently unable to reproduce this. I tried

[code]

in Python 3.7.

This prints

[code]

Any ideas for how to reproduce this?

[2019-03-20 19:58] zbarry commented on #4439
Nevermind - bottleneck was on my end in my `NodeProvider`! Whoops.

[2019-03-20 19:58] #4439 closed

[2019-03-20 20:39] richardliaw commented on #4436
Can you pip install the latest snapshot of `ray`? (https://ray.readthedocs.io/en/latest/installation.html)

[2019-03-20 21:09] zbarry opened #4441 "Autoscaler resource usage is counted by IP, not unique worker?"
It looks like resource usage for an autoscaling cluster is logged by the IP the nodes are on, not by the worker ID.

Resource info reports are generated by IP:

https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/autoscaler.py#L194-L200

These IPs come from a dictionary mapping from the client ID:

https://github.com/ray-project/ray/blob/master/python/ray/monitor.py#L129-L138

So

[2019-03-20 21:32] williamma12 opened #4442 "Add more pytest flags when running in travis"
I'm opening this issue to, hopefully, start a discussion on what pytest flags and, in turn, what we want displayed on the travis logs.

Personally, `-v` flag is really helpful when debugging because it let's me know which tests travis failed or was hanging on and allows me to run just one test to try to recreate the issue locally. Without the `-v` flag, I find myself running an entire test file lo

[2019-03-20 21:34] robertnishihara commented on #4442
Note @raulchen already opened  #4430.

[2019-03-20 21:38] robertnishihara commented on #4319
Fixed by  #4428.

[2019-03-20 21:38] #4319 closed

[2019-03-20 21:39] robertnishihara commented on #4396
Should be fixed by #4428.

To see tasks, you can use the `ray timeline` command line command and then open the resulting file in chrome://tracing.

[2019-03-20 21:39] #4396 closed

[2019-03-20 21:39] robertnishihara commented on #4269
Fixed by #4428.

[2019-03-20 21:39] #4269 closed

[2019-03-20 21:39] robertnishihara commented on #4201
Fixed by #4428.

[2019-03-20 21:39] #4201 closed

[2019-03-20 21:40] robertnishihara commented on #2435
Closing because we are no longer using ASV.

[2019-03-20 21:40] #2435 closed

[2019-03-20 21:55] kunalrdeshmukh commented on #4436
Yes it worked.
`pip install -U ray `

[2019-03-20 22:10] williamma12 commented on #4442
Oops nevermind then

[2019-03-20 22:10] #4442 closed

[2019-03-20 22:27] kunalrdeshmukh commented on #4436
![image](https://user-images.githubusercontent.com/6230929/54723366-97d90980-4b24-11e9-8897-2108f7abdce3.png)

This is still a problem.

[2019-03-20 22:34] ericl commented on #4418
For the agent class in particular, I think one tweak we could make is renaming `_init(self)` to `_init(self, config, env_creator)`, which at least makes the input state explicit rather than implicit through `self`. Any other suggestions?

I was also thinking about a build-like pattern for Agent itself, though I still don't know if it's a net win. The code would certainly be clearer at a glance, bu

[2019-03-20 22:46] richardliaw commented on #4436
Please install a snapshot wheel, not the latest release. Thanks!

On Wed, Mar 20, 2019 at 3:27 PM Kunal Deshmukh <notifications@github.com>
wrote:

[2019-03-20 22:57] ericl commented on #4418
Concretely, I think one approach would be to split TFPolicyGraph into TFLoss and TFPolicy (these two classes provide the common utilities for building up learn_on_batch(), compute_actions(), and so on). This should be a pretty straightforward refactoring if TFLoss can have a reference to the policy object.

For example, for the simple policy grad algorithm there would be three classes:

[code]

No

[2019-03-20 23:50] markgoodhead commented on #4382
It might be quite hard to reproduce - it happened when running a very large cluster (84 boxes, ~6k cores) and was sporadic and infrequent over many jobs so quite possibly some load edge case. I also don't get when running locally for small jobs. I was hoping the error trace alone might be enough

[2019-03-21 00:52] kunalrdeshmukh commented on #4436
oh sorry I missed it. This worked.

[2019-03-21 00:52] #4436 closed

[2019-03-21 01:03] richardliaw opened #4443 "[tune] Implement Prioritization for Trials"
Trials should be given a priority (which defaults to 1) at first.

You should be able to use the Tune client to set priorities.

[2019-03-21 01:32] richardliaw opened #4444 "[tune] Programmatic stopping criteria"
Tune's stopping criteria should support more complex situations (i.e., maybe something stateful).

The fix here is to allow users to specify some callable with the signature:

`should_stop(trial, result)`

[2019-03-21 02:24] richardliaw commented on #4403
Hey,

Hm, in general, I think the Trial object `logdir` isn't intended to be mutable; we should probably hide it and expose it as a property. IMO Users generally shouldn't be mutating Trial objects.

If we do that, and then tell Tune + Autoscaler users specify in `run_options` something like:
[code]
then I think this resolves part of the issue?

OK, one really quick fix for this would be to 1. det

[2019-03-21 02:35] richardliaw commented on #2796
Resolved with #4138.

[2019-03-21 02:35] #2796 closed

[2019-03-21 02:38] richardliaw commented on #4211
I think we closed this issue with #4379 and #4302; feel free to reopen if otherwise.

[2019-03-21 02:38] #4211 closed

[2019-03-21 02:44] richardliaw commented on #2563
Think this is really not an issue (closing for now)

[2019-03-21 02:44] #2563 closed

[2019-03-21 02:46] richardliaw commented on #4381
This is a duplicate of #4287, let's consolidate discussion there

[2019-03-21 02:46] #4381 closed

[2019-03-21 02:47] richardliaw commented on #3911
This is a duplicate of #4287.

[2019-03-21 02:47] #3911 closed

[2019-03-21 02:53] richardliaw commented on #4365
I'll close this for now as I think it's not actually a hard dependency; would be good to reopen if this is actually an issue.

[2019-03-21 02:53] #4365 closed

[2019-03-21 02:55] richardliaw commented on #4401
OK; feel free to push a fix to our documentation or docstrings! Closing this for now.

[2019-03-21 03:03] robertnishihara commented on #4382
Related to https://stackoverflow.com/questions/35028683/python3-unicodedecodeerror-with-readlines-method.

Ok, I'm not 100% sure how the issue arises, but I can artificially reproduce it by doing something like

[code]

[2019-03-21 03:15] AdamGleave commented on #4403
Thanks for the response. I trust your judgement given you have much more familiarity with the Ray codebase and pain points in distributed development in general. I'm mostly happy with the proposed plan: in particular, pulling the SSH user out of the bootstrap config seems easy and should work in most cases. However, I think I wasn't clear enough about the issue with `local_dir` being configurable,

[2019-03-21 03:26] ericl commented on #4440
@Szkered, any ideas here?

[2019-03-21 03:28] ericl commented on #4030
Closing this since it can't be reproduced -- feel free to reopen.

[2019-03-21 03:28] #4030 closed

[2019-03-21 04:04] ericl commented on #4357
`81.54 GB of shared memory is currently being used by the Ray object store`

I wonder if somehow there are old object store processes on the machine. Running `ray stop` or `pkill plasma` might help clean these up.

Also, is it possible to reproduce this with a normal gym env? I wonder if it could be some setting like a very large replay buffer for DQN (not sure about A3C).

[2019-03-21 04:04] ericl commented on #3529
Fixed?

[2019-03-21 04:06] ericl commented on #4397
It looks like this is since the remote env actors aren't cleaned up. They probably could be killed with an `atexit ` hook or something? `agent._stop()` could also send remote calls to all the policy evaluators to clean up remote envs.

[2019-03-21 05:21] richardliaw commented on #4403
Hey,

Oh ok, I see. One option is to have TUNE_RESULTS_DIR forcefully override or throw an error if the value is also set in the constructor.

Yeah; especially in this Docker case I see the issue.

Hmm, we have to special-case the situation where the trainable worker is placed on the head node, which is probably the most common case (and hence an extra `cp` seems weird). But maybe there's a clean

[2019-03-21 07:11] raulchen commented on #4417
Thanks for summarizing and posting this!

I'd like to share some experiences and work from Ant.

**Improve task submission overhead:**
Big +1 for this. We're also planning on profiling and improving Ray's performance. One thing we already did is perf metrics, #4246 is first PR and other PRs should also come soon. Besides this, there're a lot of other things that need to be built. E.g., distributed

[2019-03-21 07:29] robertnishihara commented on #3529
Here's a simple example to reproduce the issue.

[code]

This causes the raylet to crash with

*F0321 00:28:28.386531 2466321280 node_manager.cc:1895]  Check failed: lineage_cache_.ContainsTask(task_id) Task metadata not found in either GCS or lineage cache. It may have been evicted by the redis LRU configuration. Consider increasing the memory allocation via ray.init(redis_max_memory=<max_memory_

[2019-03-21 07:57] ericl opened #4446 "[tune] Tune travis tests bypass stdout capture and pollute travis logs"
A significant fraction of travis logs are just this one test that bypasses pytest capture:
[code]

The test should be fixed to avoid placing output in stdout.

[2019-03-21 07:57] ericl commented on #4446
cc @richardliaw can you take a look at this? I think this was introduced as part of a tune test.

[2019-03-21 08:02] richardliaw commented on #4423
Thanks for the comments!

Assuming a singleton design, we can default and auto-init to log `~/ray_results`. In my mind, users can use `init()` if needed (i.e., specify S3 sync up/down, specify other logging hooks, etc). I guess in this case, `configure` is not needed but is still provided.

For this, I'm assuming you're referring to cases where you're on (say) a single machine, your experiment som

[2019-03-21 08:04] ericl opened #4447 "[rllib] Update docs from tune.run_experiments => tune.run"
Note: this should not be implemented until `tune.run` is released in a stable wheel.

[2019-03-21 10:38] SumNeuron opened #4448 "[tune] tune has no attribute run"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Google Colab
- **Ray installed from (source or binary)**: pip installed
- **Ray version**: latest
- **Python version**: 3.5+
- **Exact command to reproduce**:

[code]

[code]

[code]

### Describe the problem

Just trying to get tune to work and understand a bit more of the docs.

Wanted to print the config to se

[2019-03-21 12:12] vlad17 commented on #4423
Just weighing in over here from my arm chair.

I think the track goals are well-set and address my concerns with other "tracker" libraries (except track :) ).

The module-level `track.report` (checkpoint is a bit overloaded w/ actor checkpointing) is indeed a nice process-global replacement for the reporter, as an API replacement. I remember aggregating reports was annoying if you're distributing

[2019-03-21 16:09] fiorenza2 commented on #4030
Hi Eric,

So did a bit more experimentation, and I now believe that increase in variance I observed was in-keeping with the environment.

I was able to achieve similar variance in non-RNN policy networks by putting certain constraints on the agent (i.e., forcing it to explore new states). This suggests that the RNNs were having a similar effect, but I would need to view the rollouts to fully confi

[2019-03-21 16:26] natashamjaques commented on #4357
Oh, that's possible. Some of the other jobs died in weird ways, so maybe their object store processes didn't get de-allocated. I'll try `ray stop` and `pkill plasma`, thanks!

[2019-03-21 16:26] #4357 closed

[2019-03-21 18:25] ericl commented on #4448
Currently, run() is only available in the master build (the docs are a bit ahead of the stable release). You can change the version in the docs site to 0.6.4 and that should show run_experiments() instead.

[2019-03-21 18:36] robertnishihara commented on #4357
@natashamjaques let us know if that turned out to be the problem!

[2019-03-21 18:59] #4406 closed

[2019-03-21 20:53] robertnishihara commented on #4441
@zbarry thanks for reporting this, I think what we want is a mapping from `client_id` to "load".

However, there could be some other issues that arise when using more than one "Ray node" per "physical node", e.g., when we try to downscale, we run `ray stop`, which will kill all of the Ray nodes on a given physical node.

Also, we'll try to do the same `setup_commands` multiple times on the same ph

[2019-03-22 00:27] gehring commented on #4423
Essentially, yes, that was what I was thinking about, but in the context of preemptible VMs.

At first glance, I think that seems pretty reasonable!

Thinking out loud: what if you have no guarantees that the trials are restored on the same machine? Should tune be responsible with transferring the checkpoint files, and, if so, by what API and (potentially) backend specific mechanism?

How about ex

[2019-03-22 00:47] gehring commented on #4423
I forgot to say that I think the question is important even outside of the context of the Function API. For `track` to be an attractive solution, it is important to provide some reliability mechanism since saving/restoring is common in large scale experiments.

I'm not arguing that it should be responsible for it (though it might not be a bad idea, as you proposed) but it should be able to offer s

[2019-03-22 04:34] #4410 closed

[2019-03-22 04:34] #4411 closed

[2019-03-22 05:01] suquark opened #4451 "Failed to build with bazel (:boost)"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS
- **Ray installed from (source or binary)**: source
- **Ray version**: latest
- **Python version**: 3.6.2
- **Exact command to reproduce**: `bazel build //:ray_pkg -c opt --verbose_failures`

### Describe the problem
Fail to build Ray because it cannot process the Boost dependence. It could because download

[2019-03-22 06:23] raulchen commented on #4451
Could this be due to slow network?  bazel build works well for me.

[2019-03-22 06:30] #4273 closed

[2019-03-22 08:28] loveJasmine opened #4455 "is there a plan that running on windows?"

[2019-03-22 09:24] KuangyeChen opened #4456 "Memory leak when remote PolicyEvaluator samples"
### System information
- **OS Platform and Distribution**: Ubuntu 18.04
- **Ray installed from (source or binary)**: pip install ray
- **Ray version**: 0.6.4
- **Python version**: 3.6.8
- **Exact command to reproduce**: ./ray_memory_leak_test.py

### Describe the problem
When remote PolicyEvaluators sample, they take constantly increasing memories. From `htop` one can see each process takes RAM ab

[2019-03-22 10:47] Austrie commented on #3940
Any updates on this? I'm facing the same issue on an AWS EC2 instance.

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-20-3fdb98b24005> in <module>()
      8 # combat this, I make the blocksize much large (500MBs), so there's less chance of the CSV being split improperly, since

[2019-03-22 11:52] #4130 closed

[2019-03-22 12:25] SumNeuron commented on #4448
@ericl in the mean time can how can I use the function `run`?

[code]

throws:

[code]

[2019-03-22 12:39] SumNeuron commented on #4448
@ericl I tried to combine sacred with ray tune but I am getting pickling errors...

https://colab.research.google.com/drive/1aJ3BviXE5k9yLXSd2UbHYQ9KsyV_4h0N#scrollTo=k812KMlNzXoj

[2019-03-22 14:52] suquark commented on #4451
@raulchen Do you know how to adjust the 'download timeout' for bazel?

[2019-03-22 17:15] ericl commented on #4456
What do you mean by setting them not working? Have you tried smaller values like 1GB?

[2019-03-22 17:38] jincongho opened #4460 "[rllib] IMPALA on Atlantis Min, Max and Mean Stay Constant"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: Source
- **Ray version**: 0.7.dev
- **Python version**: 3.6.8

### Describe the problem

IMPALA for Atlantis running using Atari-impala.yaml configuration produce weird performance. The mean stuck at a level, but min and max also stuck (possibly seems bugg

[2019-03-22 17:44] ericl commented on #4460
Are the number of episodes increasing?

[2019-03-22 17:46] ericl commented on #4448
You can find the latest wheels on this docs page: https://ray.readthedocs.io/en/latest/installation.html

[2019-03-22 17:48] #4446 closed

[2019-03-22 17:51] robertnishihara commented on #4193
@pcmoritz @devin-petersohn is this fixed in the nightly wheels by 59d74d5e929378e3d9b2790959e70ccc41295422, which updated arrow?

[2019-03-22 17:54] zbarry commented on #4090
This was caused by trying to run a driver from a computer that was not running a ray worker. It can be solved by simply starting a "dummy" worker on that computer - `ray start --num-cpus 0 --redis-address yourheadnode:port`

[2019-03-22 17:54] #4090 closed

[2019-03-22 17:55] jincongho commented on #4460
Yes, you pointed out the issue! It is not increasing. What could potentially cause this?
I have run twice to verify the problem.

![episode](https://i.ibb.co/m03Bdqw/b.png)

[2019-03-22 18:02] robertnishihara commented on #4193
Fixed by #4284.

[2019-03-22 18:02] #4193 closed

[2019-03-22 18:03] ericl commented on #4460
Well, one possibility is the agent becomes so good the episode never terminates ;)

... Not sure though, perhaps setting an episode horizon makes sense? I think in papers they usually set something like a few hundred k steps.

[2019-03-22 18:03] jincongho commented on #4460
Haha, didn't thought of that possibility. I'll try the horizon out.

[2019-03-22 18:24] jincongho commented on #4460
I think your intuition could be right, I looked at the episode_this_iter.

![episode](https://i.ibb.co/T21Z2Tf/c.png)

However, gym by itself has a max_episode_steps=100000, but this my agent don't have any episode for 4M time steps. How does this relate? Suppose I want to achieve 773355 as in IMPALA paper, how long the horizon I should set so as not to drop episode too soon?

Thanks.

[2019-03-22 18:38] ericl commented on #4460
Could it a bug that the limit is not respected somehow? I'd try setting
horizon according to the hyperparams in the papers.

I think also they might be evaluating offline without a horizon.

On Fri, Mar 22, 2019, 11:24 AM Jin Cong Ho (Martin) <
notifications@github.com> wrote:

[2019-03-22 18:44] ericl opened #4462 "[rllib] simplify multi agent API with better defaults"
Currently, the policy graph for each agent must be explicitly specified. However, in most cases you want to use the default one.

[2019-03-22 19:39] richardliaw commented on #4448
The link to the latest wheels is here - `run` should be available there. https://ray.readthedocs.io/en/latest/installation.html#trying-snapshots-from-master

@SumNeuron Users have gotten Sacred + Tune to work; can you open a new issue if you have a specific error? Thanks.

I'll lock this issue for now.

[2019-03-22 19:55] ericl commented on #3715
I was going to file another issue, but I think another case where this comes up is evicted objects:

The following script will hang forever "waiting for original". Note that without the timeout, ray.wait() will raise the right exception. I think this is the cause of some weird RLlib hangs when allocating lots of memory.

[code]

[2019-03-22 20:33] FieldMrFive commented on #4456
After setting them, I can still see the memory usage increasing steadily.
I now tried setting them both to 1GB and the memory usage increases more slowly, but still doesn't drop.
So, it seems setting lower number will make the script lasting longer. Is it normal? I am not familiar with concepts behind the scene.

[2019-03-22 20:50] sukritkalra opened #4463 "Ray is not propagating variable types correctly"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: Binary
- **Ray version**: Checked with 0.5.3 and 0.6.4
- **Python version**: Python 2.7.12 / Python 3.5.2

### Describe the problem
When sending instances of a base class and a derived class to the same method of an actor, the types of the class are propag

[2019-03-22 20:50] ericl commented on #4456
I tried setting it to 100MB, and the following is pretty steady for me in memory (about 500MB per evaluator after 10000 iterations). I did notice a very slow increase, but this is probably normal for a long-running Python program due to memory fragmentation.

[code]

[2019-03-22 20:55] FieldMrFive commented on #4456
Ok, so setting a low limit does no harm to performance?

[2019-03-22 21:07] ericl commented on #4456
Yeah, it should be full speed if there is enough memory for your workload.
If it crashes then you can try increasing the limit.

On Fri, Mar 22, 2019, 1:55 PM Kuangye Chen <notifications@github.com> wrote:

[2019-03-22 21:42] robertnishihara commented on #4463
Thanks for reporting this! This is definitely a bug.

It should be possible to work around this by doing

[code]

What happens is that normally when we try to pass an object into a remote function and we don't know how to serialize it, Ray will run a line like the above under the hood. However, when we try to serialize the derived class, it's accidentally getting serialized as the parent class. Yo

[2019-03-23 02:47] raulchen commented on #4451
I don't know. But please note, if you're using a proxy, you need to put the following in your `~/.bazelrc`, otherwise bazel won't pick up the env vars.
[code]

[2019-03-23 16:39] virtualluke commented on #3715
I'm curious if I am also seeing the kind of hang, does something show up in a log indicating this is happening?

[2019-03-23 23:21] pcmoritz opened #4466 "Ray backend profiling instructions broken"
Following https://ray.readthedocs.io/en/latest/profiling.html gives

[code]

[2019-03-24 00:17] cgraywang opened #4467 "[tune] EXAMPLE DOESN'T RUN only show failing information from two examples: mnist_pytorch.py and tune_mnist_keras.py"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

- **Ray installed from (source or binary)**: source
- **Ray version**: 0.6.5
- **Python version**: Python 3.6.5
- **Exact command to reproduce**:
[code]
pytorch version:

or
[code]
TF version:

keras version:

### Describe the problem
Without any modfifications, build Ray from source, try to directly use tune pr

[2019-03-24 01:08] AdamGleave commented on #4029
If this isn't going to be fixed soon, can we at least document it somewhere prominently? This was very confusing to me for a while: now I know what's causing it, it's largely a non-issue, as I can look at output from my other logging methods.

[2019-03-24 03:17] #4402 closed

[2019-03-24 04:38] richardliaw commented on #4467
I do believe the examples are running but the verbosity is too low. You can see the output by setting `verbose=1`. I've opened a PR to fix this.

[2019-03-24 15:21] opherlieber opened #4470 "[rllib] APEX batch replay not working and not using train batch size"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX 10.14.2
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.4
- **Python version**: 3.6.2
- **Exact command to reproduce**: rllib train -f apex_batch_replay.yaml

### Describe the problem

When enabling batch_replay in APEX, it crashes on the first train step.
Also, I've noticed the bat

[2019-03-24 20:22] robertnishihara commented on #2278
It's still pretty common to encounter this issue. I wonder if we should include something in RLlib that checks if lz4 is installed and if tensorflow is being used and then raises a better exception.

The issue is where to put the check. We basically want the check to happen iff `tf.contrib` is being used I think.

Another solution is to remove our usage of `tf.contrib`.

[2019-03-24 21:43] cgraywang commented on #4467
Thanks @richardliaw . After setting `verbose=1`, I got the following by running `mnist_pytorch.py`. Is that the correct logging info to expect?

[2019-03-24 22:20] cgraywang commented on #4467
@richardliaw I now encounter this error when running on my own dataset, could you help to take a look?

[2019-03-24 22:45] robertnishihara commented on #4412
@devin-petersohn reported being able to reproduce the same issue on the Windows Linux Subsystem by just doing `ray.init()`. My guess is that something actually is taking too long and the raylet is failing to send some heartbeats (e.g., perhaps involving the raylet's plasma store client.

[2019-03-24 22:49] #4312 closed

[2019-03-25 06:01] robertnishihara commented on #4029
Thanks @AdamGleave for bringing this up. I'll take a look at fixing it this week.

[2019-03-25 08:36] raulchen commented on #4455
There's already an issue #631 tracking windows support. However, there're still a lot of pending problems.
Closing this issue because it's duplicated. Feel free to reopen if you have more questions.

[2019-03-25 08:36] #4455 closed

[2019-03-25 10:11] louiskirsch opened #4474 "Memory management can not find /proc/meminfo"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.1 LTS
- **Ray installed from (source or binary)**: binary master
- **Ray version**: 0.7-dev1 binary
- **Python version**: 3.6
- **Exact command to reproduce**:

### Describe the problem
Memory management crashes. Running `cat /proc/meminfo` as the same user is successful.

### Source code / logs
2019

[2019-03-25 15:47] timediv commented on #3432
Are there any plans on implementing affinity features?

[2019-03-25 17:01] iitzco-asapp opened #4476 "[TUNE] Install requirements in all hosts?"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: pip
- **Ray version**: 0.6.4
- **Python version**: 3.6

### Describe the problem
When running a tune experiment in a multi-machine cluster, it seems that all requirements must be installed in all hosts. If not, a worker node can raise something like `Modul

[2019-03-25 18:37] ericl commented on #4470
Yes, I think this option is a little half baked at the moment. However you can change this bit of code here to produce a right sized batch: https://github.com/ray-project/ray/blob/c6f15a00576fdafbc5cb379c890839abe2bf407b/python/ray/rllib/optimizers/async_replay_optimizer.py#L356

[2019-03-25 18:38] #4462 closed

[2019-03-25 19:10] FedericoFontana commented on #4440
I've done more digging in the source code of ray and I've shed some light on why logits are well defined and actions probabilities are not.

The context is that the input of [Dirichlet](https://github.com/ray-project/ray/blob/master/python/ray/rllib/models/action_dist.py#L263) (the action distribution associated with Simplex) are logits, then passed to tf.distrib.Dirichlet in `Dirichlet.__init__`.

[2019-03-25 21:49] ericl opened #4477 "[rllib] Support all action spaces in IMPALA"
Currently the IMPALA implementation is restricted to Discrete/MultiDiscrete, but this is just a implementation detail.

Cc @michaelzhiluo who has a patch for this

[2019-03-25 22:13] #4467 closed

[2019-03-25 22:15] cgraywang commented on #4467
One more question, some trials completed successfully, while some of them completed with errors, do you have any clue on that? @richardliaw The error msg is as below:

The error log looks like:

[2019-03-25 22:34] richardliaw commented on #4476
Yeah, all requirements need to be installed on all hosts. I think for now Ray + Tune should probably avoid handling dependencies.

One option is to use the [Ray autoscaler for setup.](https://ray.readthedocs.io/en/latest/autoscaling.html#quick-start-private-cluster) This should allow you to easily specify installation instructions that are run on all machines of your cluster.

Let me know if that

[2019-03-25 22:35] richardliaw commented on #4474
cc @ericl

[2019-03-25 22:35] ericl commented on #4440
Based on https://en.m.wikipedia.org/wiki/Dirichlet_distribution, it might be undesirable to restrict the parameters to [0,1]. Perhaps an alternative parametrization would be to square each parameter independently?

[2019-03-25 22:36] richardliaw commented on #4448
I'll close this for now since 0.6.5 has been released on pip.

[2019-03-25 22:36] #4448 closed

[2019-03-25 22:39] richardliaw commented on #4467
Sorry for the late response:

1. Your first output looks right.
2. That doesn't look like an error; it just seems like you completed the run
3. This error is raised if you don't call `reporter` anywhere in your training run; for the most part it looks harmless.

[2019-03-25 22:48] cgraywang commented on #4467
Thanks. Just want to confirm with you that for the third error as the below, you suggest me to add `reporter` in the `train()` right? However, in the example `mnist_pytorch.py`, `def train(epoch)` also doesn't have the `reporter`, but `def test()` you have the `reporter`, which is the same in my case.

[2019-03-25 22:56] richardliaw commented on #4423
OK, thanks all for feedback.

Presumably, we're talking about individual trials; not something like a single trial that is running data-parallel. Each trial should be saving to its own Trial directory, and artifacts will be saved within there.

​​The idea is to eventually have an API like something like `track.save(object, artifact_name, save_fn=pickle.dump)​`. This should allow Track to be aware

[2019-03-26 01:06] ericl commented on #4474
Are you running on a container or something? Maybe this would help: https://github.com/giampaolo/psutil/issues/1011

[2019-03-26 03:50] iitzco-asapp commented on #4476
Yes this helps! Thanks for the answer.

[2019-03-26 03:50] #4476 closed

[2019-03-26 05:41] timediv commented on #4474
No I was not running in a container. Just plain Ubuntu. I decreased the object store and redis size and have not seen this error since then.

[2019-03-26 11:24] neychev commented on #4326
It would be great to contribute. I'll try to dive into on weekends.

[2019-03-26 12:22] raulchen commented on #3432
@timediv Yes, affinity will be implemented based on the "dynamic resources" feature. And we're currently working on it, #4465 is the first PR.

[2019-03-26 13:12] SumNeuron opened #4479 "[ray] Better UX for finding local modules"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: pip
- **Ray version**: latest
- **Python version**: 3.5
- **Exact command to reproduce**: see linked repo

1. clone this [repo]
2. cd to project folder
3. `jupyter-notebook <cloned-project>/jupyter/`
4. just run the cells

### Describe the problem

I

[2019-03-26 13:51] Deepak3994 opened #4480 "carla.tcp.TCPConnectionError"
I am running Ray on my local system, but i am facing the below error.

(pid=21716) Traceback (most recent call last):
(pid=21716)   File "/home/ubuntu/ray/python/ray/rllib/examples/carla/carla_env.py", line 321, in step
(pid=21716)     obs = self.step_env(action)
(pid=21716)   File "/home/ubuntu/ray/python/ray/rllib/examples/carla/carla_env.py", line 347, in step_env
(pid=21716)     reverse=revers

[2019-03-26 14:38] aGiant opened #4481 "Restore issue and Segmentation fault"
### System information
- **Ubuntu 18.04**:
- **Ray installed from pip install -U Ray**:
- **Ray version current released**:
- **Python version 3.7**:
- **agent.restore()**:

### Tested trained model just on one same set but two results:

Trained model:
episode_reward_max: 4953.908495018565
episode_reward_mean: 261.6792498747267
episode_reward_min: -1126.165714394932

Repeat test (restoring saved m

[2019-03-26 14:39] jeremyasapp opened #4482 "[Tune] Broken Pipe error"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: pip
- **Ray version**: 0.6.4
- **Python version**: 3.6.5
- **Exact command to reproduce**: N/A

### Describe the problem

We are seeing a series of "Broken Pipe" errors, whenever we use more than a single factory machine. We haven't been able to identify t

[2019-03-26 14:44] Deepak3994 commented on #4393
Hi,

I am facing the same issue regarding the ray cluster. I am using python 3.5, ray 0.7 and the latest ray-repository from github (0.6.4).

**from head node:**
Python 3.5.2 (default, Nov 12 2018, 13:43:14)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

{'webui_url': None, 'object_store_address': '/tmp/ray/session_2019-03-26_14-26-20_2021/soc

[2019-03-26 15:08] robbertvc commented on #631
Hi, I'm also interested in making Ray work on Windows (without WSL). Is there any branch where we can follow the work being done? Or maybe help porting some dependencies?

[2019-03-26 15:26] whatbeg opened #4483 "`ray stop` makes node continuing to grow its shared memory usage until crash"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: RedHat 7
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.5
- **Python version**: 3.6
- **Exact command to reproduce**:

### Describe the problem

In cluster mode, when exec ray stop for every node.
There is one node (randomly, any node is possible) continues to grow its shared memory us

[2019-03-26 15:42] FedericoFontana commented on #4440
I've tested a few possible solutions the contextual bandit environment above.
- Red line (top line): contextual bandit with discrete action space (so no Dirichlet). This is just a benchmark.
- Grey and orange (2 lines in the middle): two runs using exponential of logits or -logits.
- Lines at the bottom: square of logits, absolute value of logits, softmax of logits
![image](https://user-images.git

[2019-03-26 17:35] jeremyasapp commented on #4482
We've identified that the problem was on our end. Sorry about that.

[2019-03-26 17:35] #4482 closed

[2019-03-26 18:04] ericl commented on #4483
Seems like some process is not killed somehow.... Are you able to identify which ones (ps aux)?

[2019-03-26 19:17] ericl commented on #4481
Can you provide a reproduction script?

[2019-03-26 19:18] ericl commented on #4483
@robertnishihara seems this has come up a few times, is there any recent changes to ray stop that might be the cause?

[2019-03-26 19:21] aGiant commented on #4481
Sorry, the database is local. Above codes were used for restoring saved model
[code]

More error came out:
TypeError: _init() got an unexpected keyword argument 'max_weight_sync_delay'

after del config['optimizer']['max_weight_sync_delay']:

TypeError: _init() got an unexpected keyword argument 'num_replay_buffer_shards'

Just calle APEX DQN:
[code]

[2019-03-27 00:57] richardliaw commented on #4479
Hi @SumNeuron, can you try printing `sys.path`, both in the `run_fn` and in `tune_run_ex`?

[2019-03-27 01:21] BnJam opened #4487 "Implement support for OpenCL"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Mojave 10.14.3
- **Ray installed from (source or binary)**: pip package
- **Ray version**: 0.6.2
- **Python version**: 3.7.2
- **Exact command to reproduce**: N/A

### Problem
There is only support for CUDA enabled devices. OpenCL should be implemented to allow for a larger range of non-CUDA compatible devi

[2019-03-27 01:25] azadsalam opened #4488 "Error linking _raylet.so while building ray from source"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.14.2
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.7.0.dev2
- **Python version**: Python 3.6.8 (Using Anaconda Virtual Environment: **conda version**: 4.6.2)
- **Exact command to reproduce**: `pip install -e . --verbose`

### Describe the problem

I am following the instruction

[2019-03-27 03:34] pcmoritz commented on #4488
Thanks for the report! Not super sure what is going on here.

It is possible that the error is happening because your full PATH is
exposed to bazel by https://github.com/ray-project/ray/pull/4458.

Can you try if the building works on the previous commit, i.e.
https://github.com/ray-project/ray/commit/01747b11a103b483b42328f207fa5506e23dd87b
?

Best,
Philipp.

On Tue, Mar 26, 2019 at 6:25 PM Abdus

[2019-03-27 04:17] pcmoritz commented on #4487
Thanks! This would be a great addition. I'm not familiar with OpenCL, is there a command line variable like CUDA_VISIBLE_DEVICES we could set to make this work?

If you can submit a PR that'd be great!

https://github.com/ray-project/ray/search?q=CUDA_VISIBLE_DEVICES&unscoped_q=CUDA_VISIBLE_DEVICES

[2019-03-27 05:14] suquark commented on #631
@robbertvc Hi, I am replacing event loop with asio for plasma store (which Ray depends on) . The related PR is https://github.com/apache/arrow/pull/3704

The remaining tasks:

1. Implementing windows support for plasma store server/client using asio.
2. Shared memory support for windows.
3. Redis for windows.
4. Asio for Ray https://github.com/ray-project/ray/pull/3784

[2019-03-27 06:30] robertnishihara commented on #4483
@whatbeg can you see if `ps aux | grep ray` or `ps aux | grep plasma` return anything?

If you run `ray stop`, are those processes still alive?

[2019-03-27 06:46] robertnishihara commented on #631
@robbertvc, one possibility is to just start trying to compile Ray on Windows and see what issues you encounter. There will be a number of system calls that need to be changed.

[2019-03-27 06:48] robertnishihara commented on #4480
Looks like an error with Carla. You could try running with `ray.init(local_mode=True)` to see if the error can be debugged more easily.

[2019-03-27 06:49] whatbeg commented on #4483
Yes, there are many process that are not killed.
They are mainly `multiprocessing.semaphore_tracker` s, seems this issue is about python multiprocessing ?
@ericl

@robertnishihara
when the node continuing to grow its memory usage, I exec following shell commands:
[code]

[code]

[code]

After that I changed creating many process to Pool(1), but when `ray stop` executed, the same problem arises.

[2019-03-27 06:54] ericl commented on #4134
Btw, any thoughts on eager mode? I haven't thought about this too much, but it seems like we should stick with graph based execution for TF2. Though, things like RNN handling could be easier with eager (but would still require integration work).

[2019-03-27 06:56] robertnishihara commented on #4479
See also https://stackoverflow.com/questions/55358554/ray-tune-and-sacred-tune-cant-find-local-module.

[2019-03-27 06:58] whatbeg commented on #4483
https://stackoverflow.com/questions/54042038/uswgi-unable-to-load-configuration-from-from-multiprocessing-semaphore-tracker

The 1st answer of this link may provide some ideas and inspiration.

[2019-03-27 07:01] robertnishihara commented on #4483
@whatbeg and is the output unchanged after running `ray stop`? Are you saying `ray stop` doesn't even kill the `raylet` process (pid 44773 above)?

[2019-03-27 07:18] mehrdadn commented on #631
Just a heads up, there are also cases where have similar APIs but different behavior (unless your wrapper handles it appropriately). The one I can think of off the top of my head is `SO_REUSEADDR` [which can mean something different on each platform](https://stackoverflow.com/a/14388707). There might also be others, not sure.

[2019-03-27 08:38] SumNeuron commented on #4479
@richardliaw

[code]

In the above code block you can see I added two print statements.

[code]

which results in:

[code]

[2019-03-27 10:17] suquark commented on #631
@robbertvc I agree with @robertnishihara that you could first trying to compiling Rat on windows, e.g. you can create a PR to include CI tests for Ray on windows.

[2019-03-27 11:38] Deepak3994 commented on #4393
@robertnishihara
Do you know why the cluster is not getting communicated?
Kindly help...

[2019-03-27 14:50] aGiant commented on #4481
More errors but for APEX DDGP during training:
[code]

[2019-03-27 17:56] ericl commented on #4481
Can you provide a reproduction script that uses a standard gym env?

On Wed, Mar 27, 2019, 7:50 AM aGiant <notifications@github.com> wrote:

[2019-03-27 18:38] aGiant commented on #4481
We did not use gym env. All data values are numeric arrays saved in redis database.

[2019-03-27 19:03] ericl commented on #4481
Ok, but it's not going to be possible to diagnose this without a
reproduction case that doesn't use such a database.

On Wed, Mar 27, 2019, 11:39 AM aGiant <notifications@github.com> wrote:

[2019-03-27 19:13] robbertvc commented on #631
Thanks for the status update and the pointers. I should mention that I'm not really a C++ dev though, but I can definitely try a windows build and see how far I can get. Should the windows build script include both CMake and bazel?

[2019-03-27 19:59] robertnishihara commented on #631
@robbertvc just bazel. Cmake will be gone soon.

A good starting point like @suquark mentioned would be to try to set up Travis for Windows (we could also consider Appveyor, if there's a compelling reason).

[2019-03-27 20:02] gehring commented on #4134
As far as I am aware, there is no graph API in TF 2.0. Graph execution is supported through the use of `tf.function`. As a result of this, everything will be eager compatible. To get the graph-based optimizations, things will have to be wrapped by `tf.function`. Roughly, to implement an old style class which looks like this:
[code]
you would write something similar to this:
[code]
There are a few

[2019-03-27 20:24] #4387 closed

[2019-03-27 20:37] ericl commented on #4134
Right, so my question is whether we _have_ to do anything here. Since we need TF 1.x compat, I don't see us adopting new constructs for the loss definitions unless they also work in 1.x. However it sounds like switching models is a no brainer since it's cleaner and also backwards compatible.

No problem. I still don't quite understand what you mean by making it invariant to TF vs pytorch though. I

[2019-03-27 22:40] #4422 closed

[2019-03-28 00:12] gehring commented on #4134
In the long run, I would strongly encourage a full switch to the TF 2.0 way. It will be easy to support TF 1.x with a TF 2.0 design but I don't see how the other way around will be possible. Though, I agree with you that a full switch is not necessary yet, but now is probably a good time to start thinking about what ray + TF 2.0 will look like to make sure that 1) new classes play nice together an

[2019-03-28 06:04] guoyuhong opened #4495 "Deadlock when remote function has `ray.shutdown`."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Ray installed from (source or binary)**: Source
- **Ray version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem

In `worker.py`, `self._process_task(task, execution_info)` is called in Function `_wait_for_and_process_task` within the worker lock. The remote call of `ray.sh

[2019-03-28 06:04] guoyuhong commented on #4495
I will submit a fix later on.

[2019-03-28 06:24] robertnishihara commented on #4495
Thanks @guoyuhong. Are you saying there is some task like this?

[code]

I think `ray.shutdown` should only be called by the same process that called `ray.init()`, meaning the driver process and not the workers.

[2019-03-28 06:58] guoyuhong commented on #4495
@robertnishihara Yes, we have a scenario that we need to call `ray.shutdown()` to manually stop an actor to release the resources and start a new one. Actually, this `ray.shutdown()` is called corresponding to worker's `ray.init`.

[2019-03-28 07:09] szymonWojdat commented on #4371
Sorry for the lack of update/commits recently, got stuck on something IRL, should be able to commit to this next week.

[2019-03-28 07:11] robertnishihara commented on #4495
Only the driver calls `ray.init()`, right? Are you referring to the call to `connect()` in `default_worker.py`?

Why not just have the worker call `sys.exit()` or `__ray_terminate__()`?

[2019-03-28 08:08] guoyuhong commented on #4495
@robertnishihara Oh, in our repo there is bit different. We have an argument to control whether or not a `ray.shutdown` will clean the resource or not. Anyway, you way may still work.

I checked the code again. In driver, this deadlock may also happen, since the import thread starts in both worker and driver. Furthermore, I also think it is a good practice to separate the lock in worker and functi

[2019-03-28 08:18] ericl commented on #4134
I definitely see the value of thinking about 2.0 support more holistically. Longer term there are also interesting ways this could tie in with differentiable ray actor methods, which is another experimental Ray+TF2 project).

Oh I see, I can see this being hard to pull off.

Btw, another idea I've kicked around is whether we can embed TF models in torch graphs and vice versa. This limits the scope

[2019-03-28 08:40] Guilherme-B opened #4496 "[feature request] PPO compute_action deterministic"
I am requesting the ability to grab a PPO agent trained for a stochastic distribution. and add the capability to compute_actions in a deterministic manner, as[ pointed here](https://groups.google.com/forum/#!topic/ray-dev/MxlguIGfkho).
This feature will allow using rollouts to compare agent behavior on small scales, in a comparable and contained environment, to see to what extent has the agent lea

[2019-03-28 11:58] joneswong opened #4497 "[rllib] SyncReplayOptimizer no need to require learng_starts < buffer_size"
This [assertion](https://github.com/ray-project/ray/blob/master/python/ray/rllib/optimizers/sync_replay_optimizer.py#L72) is unnecessary in my opinion.

1. In some applications, we do want to waste the data at the beginning due to some reasons, e.g., the data are noisy or the pre-processor has to consume a lot of data to estimate some statistics accurately enough.

2. For restored agent, the buffe

[2019-03-28 12:46] FedericoFontana commented on #4496
One workaround for discrete action spaces is to pick the action corresponding to the argmax of the logits.

[code]

[2019-03-28 13:31] opherlieber opened #4498 "[rllib] Slowly running out of memory"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.6.5
- **Python version**: 3.6.8
- **Exact command to reproduce**: rllib train --run=APEX --env=BreakoutNoFrameskip-v4 --ray-object-store-memory 10000000000

### Describe the problem

The Agent class slowly grows in memory

[2019-03-28 14:34] Guilherme-B commented on #4496
I did consider doing that, and I'll probably do it, problem is, its only for discrete action spaces - it is a solution for now nonetheless.

Thanks for your help @FedericoFontana

[2019-03-28 19:22] mxlei01 opened #4500 "Ray on GCP Cluster cannot init"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Ray installed from (source or binary)**: pip
- **Ray version**: 0.6.5
- **Python version**: 3.6.3
- **Exact command to reproduce**: ray start

### Describe the problem

I have a remote cluster in GCP, with correct firewalls configured so I can ssh (attach) into the head node.

However, when I try

[2019-03-28 21:13] Guilherme-B commented on #4496
Ran some preliminary tests. Seems to be working, although something rather odd is happening:
- For most observations, the agent selects the exact same action. This is likely to be an indicator of the agent not being to long-term plan (perhaps due to a small amount of training iterations, 500 for an environment of 3.000 possible actions and a MultiDiscrete(250,11) environment - where 11 is disaster

[2019-03-28 21:24] ericl commented on #4498
Looks suspicious. The agent really shouldn't be holding on to much memory at all, that's all up to the replay buffers.

[2019-03-28 21:26] ericl commented on #4496
btw for continuous spaces, you can set only the second half of the logits to zero in a custom model (those happen to parameterize the standard deviation).

[2019-03-28 21:29] ericl commented on #4497
Perhaps it can be changed to a warning instead?

[2019-03-28 22:48] vuoristo opened #4502 "Inconsistent weight assignment operations in DQNPolicyGraph"
### System information
- **OS Platform and Distribution (e.g., macOS 10.14.3)**:
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.7.0.dev2 ab55a1f9
- **Python version**: 3.6.8

### Describe the problem

`DQNPolicyGraph` creates tensorflow assign operations by looping through lists of `self.q_func_vars` and `self.target_q_func_vars` sorted by variable name on lines 390:393.

[2019-03-28 23:30] ericl commented on #4502
Would removing the sorted() might be the right fix here? According to the TF docs for get_collection(), the variables are already returned in the "order they were collected", which is presumably a consistent order.

[2019-03-28 23:32] vuoristo commented on #4418
I'm using rllib on a problem with continuous time. I ran into some of the complexity described in this discussion while implementing the equivalent of `pcontinues` in [deepmind trfl/trfl/value_ops.py](https://github.com/deepmind/trfl/blob/d2912fdbab1b98891d8210786470dac56941e003/trfl/value_ops.py#L74) for `DQNPolicyGraph`. So I figured I would add my experience to the discussion. As a disclaimer,

[2019-03-28 23:36] vuoristo commented on #4502
Yup, that seems to fix it.

[2019-03-28 23:43] robertnishihara opened #4503 "Test failure in test_actor.py::test_resource_assignment on Travis."
I've seen Travis fail on the following test

[code]

I can reproduce the failure locally after trying maybe 10 times (on MacOS).

When I check the raylet logs, I see the following crash

[code]

cc @williamma12

[2019-03-29 00:04] ericl commented on #4500
Are you running ray.init() on a separate machine from IP_REMOTE_MACHINE? You have to be co-located on the same node (in which case "localhost:6379" should also work).

[2019-03-29 00:05] mxlei01 commented on #4500
@ericl

Yep, I'm running on a separate machine. So it's not possible to run a command remotely?

[2019-03-29 00:09] ericl commented on #4500
Unfortunately not. This is because the client needs shared memory access to
communicate with ray.

On Thu, Mar 28, 2019, 5:05 PM Max <notifications@github.com> wrote:

[2019-03-29 02:17] joneswong commented on #4497
Replacing this hard one by a warning would be quite convenient for us.

[2019-03-29 02:25] mxlei01 commented on #4500
@ericl

Oh ok, then it sounds like I would need to setup the same notebook system for ray, and then connect to ray then?

Or could the head node be local, but then using some script I can create workers on GCP?

[2019-03-29 02:31] kiddyboots216 opened #4505 "Config Does Not Accept Custom Parameters"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Google Colab
- **Ray installed from (source or binary)**: Source
- **Ray version**: 0.6.5
- **Python version**: 3.7
- **Exact command to reproduce**:
`run_experiments({
        "test": {
            "run": my_trainable_func,
            "env": multienv_name,
            "config": {
                "multiagent": {

[2019-03-29 04:13] ankeshanand opened #4506 "[rllib] Clarifying timesteps_per_iteration"
Hi,

I wanted to know more about what the `timesteps_per_iteration` parameter means in context of DQN based agents? Quick glance at the code: https://github.com/ray-project/ray/blob/cff08e19ff1606ef6e718624703e8e0da19b223d/python/ray/rllib/agents/dqn/dqn.py#L257-L261
suggests that you optimize for  `timesteps_per_iteration` after each env step? That doesn't quite seem right since the default value

[2019-03-29 05:29] ericl commented on #4505
This is probably since you are subclassing agent? Agent checks that no unknown config keys are present, to avoid typos in your experiment config.

If you want to add a custom key, you can add it to the default config of your custom agent. You can check out any of the existing agent classes for an example of the config.

[2019-03-29 05:32] ericl commented on #4506
This is a system-level parameter, and only affects the (system) performance of your agent. For example, if you set this value too small, then too many result logs may be produced, slowing down training.

The hyperparameter you're probably thinking of is train_batch_size and sample_batch_size: https://ray.readthedocs.io/en/latest/rllib-training.html#specifying-resources, which determine how many st

[2019-03-29 05:56] ckarying opened #4508 "[rllib] DQN agent support retrace value function"
Hi:
    I wonder will dqn agent support retrace value function, which uses a product of truncated importance sampling. From its experient, its safe and efficient.

Paper link: https://arxiv.org/abs/1606.02647

[2019-03-29 05:56] ckarying opened #4509 "[rllib] DQN agent support retrace value function"
Hi:
    I wonder will dqn agent support retrace value function, which uses a product of truncated importance sampling. From its experient, its safe and efficient.

Paper link: https://arxiv.org/abs/1606.02647

[2019-03-29 05:58] #4509 closed

[2019-03-29 06:14] ericl commented on #4508
Hey -- no current plans, though contributions are always welcome! (https://ray.readthedocs.io/en/latest/rllib-dev.html#contributing-algorithms)

[2019-03-29 07:16] ericl commented on #4500
That sounds right.

This isn't a supported configuration (and would perform very poorly due to the high network latencies).

[2019-03-29 07:56] richardliaw opened #4511 "[tune] Add `--output` to the Tune docs"
We should add --output to the docs.

_Originally posted by @richardliaw in https://github.com/ray-project/ray/pull/4322#issuecomment-477903993_

cc @andrewztan

[2019-03-29 08:04] kiddyboots216 commented on #4505
Ah, to be clear, I was wondering whether there was a way to do this without subclassing Agent ('my_trainable_func' I am trying to Tune a function and not a class).

[2019-03-29 08:18] ericl commented on #4505
The exception you posted is originating from agent, so you must be calling agent code somehow.

[2019-03-29 08:21] kiddyboots216 commented on #4505
Thanks Eric! Resolved; I was passing in the config (with custom parameters that were specific to my training function) into the Agent without removing the parameters beforehand. Now I know that I need to remove any parameters the Agent can't identify.

[2019-03-29 08:21] #4505 closed

[2019-03-29 11:52] neychev opened #4512 "[ray] remove_from_object_store method"
ray version: 0.6.4 (stable)
OS version: Ubuntu 16.04

__Feature request:__

Maybe we could add function to remove some useless data from object store without restarting ray process? It could be useful in some cases (e.g. getting new datasets online and using them to update model parameters).

For now in `ray.tune.util.py` are present functions `pin_in_object_store` and `get_pinned_object`, referri

[2019-03-29 20:19] #4397 closed

[2019-03-29 20:32] #4502 closed

[2019-03-29 22:06] ericl commented on #4498
I am actually not able to reproduce this on master / Ubuntu 16.04 / TF 1.12 (latest DLAMI):
I ran `rllib train --run=APEX --env=BreakoutNoFrameskip-v4 --config='{"num_envs_per_worker": 10}' --ray-object-store-memory=5000000000`:

The agent memory appears relative stable at ~2GB extra on top of the shared mappings, even after ~10M steps:
[code]

What TensorFlow version are you using?

You could als

[2019-03-29 23:13] richardliaw commented on #4479
Sorry for the slow reply. Can you try moving the import into the function, like:

[code]

[2019-03-29 23:17] richardliaw commented on #3956
Fixed in #4421.

[2019-03-29 23:17] #3956 closed

[2019-03-30 14:56] SumNeuron commented on #4479
@richardliaw @robertnishihara 's suggestion to use a `setup.py` file and `pip install -e` is a sufficient work around...

However I personally dislike both approaches. In general python style guides encourage all import statements at the top of the file.

Having to setup and manage the module shouldn't be necessary either.

Please clone the repo and try the jupyter notebook as well as the "script.

[2019-03-30 19:30] FlyClover opened #4520 "[rllib] env.close() not called"
### System information
- **OS Platform and Distribution**:  Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.4
- **Python version**: 2.7
- **Exact command to reproduce**:

### Describe the problem

I have a custom Unity environment wrapped inside gym with subprocess. When running it inside rllib with tune, the close() seems never been called so there are lots

[2019-03-30 20:44] gehring commented on #4437
@ericl I believe this can be closed now.

[2019-03-30 20:49] #4437 closed

[2019-03-30 21:07] #4447 closed

[2019-03-30 21:09] ericl commented on #4520
I think https://github.com/ray-project/ray/pull/4521 should fix it, can you try it out?

[2019-03-30 21:30] gehring commented on #4134
This should be fairly easy to do. Your comment gave me the following idea. We implement a base `Model` class with an optional overridable gradient function. If all operations are compatible with tensorflow, then nothing special is required apart from overriding the `apply` function (exact names TBD). Otherwise, the custom gradient function needs to be overwritten.

Additionally, we can use this to

[2019-03-31 01:28] ericl commented on #4134
Looks promising. I would try implementing a couple cases to see if there are any issues:
- simple fcnet
- simple fcnet with (layer sharing) value function
- RNN model
- model with custom loss (see: custom_loss.py example)

You'd need to handle layer sharing somehow right? I don't know how that would work with multiple functions in eager mode. It would be awkward to pass the output of features() to

[2019-03-31 02:36] #4520 closed

[2019-03-31 02:56] richardliaw opened #4523 "[tune] Specify `--columns` for CLI"
### Describe the problem
Right now it's not possible to specify the columns shown for `list-experiments` and `list-trials`.

It's already implemented in `tune/commands.py`, but just needs to be exposed via `scripts.py`.

This should also support `result-columns`.

See: https://groups.google.com/d/msg/ray-dev/T5q7DkkGlpQ/ZzbOTIsVBwAJ

@andrewztan can you take a look at this?

cc @Nithanaroy

[2019-03-31 02:57] richardliaw commented on #4512
cc @robertnishihara

[2019-03-31 07:11] opherlieber commented on #4498
Yes strange, I also don't see it on a clean AWS setup.
I will try clean virtual-env on my machine and update

[2019-03-31 07:11] opherlieber commented on #4498
TF 1.12.0

[2019-03-31 07:27] andrewztan commented on #4523
Sorry, what do you mean by `reset-columns`? What would that command look like? Thanks!

[2019-03-31 07:40] richardliaw commented on #4523
Oh `result_columns` are the keys in `last_result` (i.e., see `commands.list_trials(result_keys=RESULT_KEYS)`). Let me know if you have any questions...

[2019-03-31 08:56] opherlieber commented on #4498
Looks like this only happens with #4473 applied to 0.6.5 (Or to master), not sure why though as LR schedule is not enabled here.
I'll close this and continue discussion in the PR.

[2019-03-31 08:56] #4498 closed

[2019-03-31 08:58] PengZhenghao opened #4525 "[rllib] Bug report: examples codes (multiagent_cartpole.py) incompatible with ray-0.6.5"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Mojave 10.14.1
- **Ray installed from (source or binary)**:
- **Ray version**:
- **Python version**: 3.6
- **Exact command to reproduce**:

### Describe the problem

### Source code / logs

I find that using the stable version of Ray 0.6.5, which installed by pip install, error happen when run the `multiage

[2019-03-31 09:08] ericl commented on #4525
Hey @PengZhenghao , I think this is expected since the examples point to the master branch. If you switch to the previous example versions, it will work for 0.6.5.

[2019-03-31 10:21] opherlieber commented on #4498
The issue was somehow related to the tf.cast() of the 'cur_lr' being generated on every call to 'extra_compute_grad_fetches', not sure why? (Removing the cast or changing to float32 solved it).

I pushed an update to create the stats dict once during init and it solved the memory issue.

[2019-03-31 19:18] PengZhenghao commented on #4525
Thanks for replying, then let's close this issue and leave information for those who search related error.

[2019-03-31 19:18] #4525 closed

[2019-03-31 19:25] #3816 closed

[2019-03-31 19:25] #4247 closed

[2019-03-31 22:18] gehring commented on #4418
In general, I really like the move towards more explicit passing of arguments (e.g., that `Agent.build` example and the changes to `_init()`). In a perfect world, I would split the config dicts such that all relevant parameters are passed as keyword arguments. Being able to see what parameters can be configured from looking at the constructor is very transparent while packed configs are very opaqu

[2019-03-31 22:26] gehring commented on #4423
Thanks for the clarification! I think making it the trial executor responsibility to be the most flexible since a kubernetes executor would require a very different setup and forcing `tune.run` to accommodate future backends might add unnecessary complexity.

I think that is reasonable. What you have here is already quite good! Maybe checkpointing tools should be its own standalone API. I might be

[2019-04-01 05:28] pengzhenghao opened #4526 "[rllib] Seems not support agent revival? Namely multiple "done=True" in one episode."
Hi there! I have a custom environment which the "scene" is static and never changes. Multiple agents act in that scene and revive at the birthplace once it's done or dead.

Therefore in my environment, I never call the `reset` method of the environment, and let all agent reset done in `env.step` method if dead or done detected.

When trying to use RLlib to conduct multiple PPO training, the error

[2019-04-01 05:41] ericl commented on #4526
IIUC, this is a multi-agent environment where you have an agent_id that is done and then appears again in the env?

I don't think this is allowed, you should probably allocate a new agent_id for the revived agent. That will avoid multiple dones for one agent's trajectory.

[2019-04-01 06:08] ericl commented on #4418
Ultimately, I would like the concept of an "Agent" to go away. For one, it's confusing when dealing with multi-agent environments, where the actual agents are entities in the environment.

The right name is probably something like "Trainer", which makes the following read nicely:
[code]

Re: passing configs explicitly: I'm not sure this is practical for the top-level config given the huge number o

[2019-04-01 06:48] PengZhenghao commented on #4526
@ericl Yes! You are right, we making an agent_id reappear immediately after it done in the same environment.

Let me explain my understanding first. The term `episode` in your codes means a whole process from the beginning of all agents to the terminations of all agent in an environment. This concept is applied to the environment, and therefore we can only say 'an episode terminated because all ag

[2019-04-01 07:16] Nithanaroy opened #4527 "[tune] Can't find my logs in PBT"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.5
- **Python version**: 2.7
- **Exact command to reproduce**: NA

### Describe the problem

`logging.info` does not log anything to jupyter notebook's output part of the cell.

### Source code / logs
[code]

and it printed only,
[cod

[2019-04-01 07:19] Nithanaroy opened #4528 "[tune] Integration with TensorBoard HParams Dashboard"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.2
- **Python version**: 2.7
- **Exact command to reproduce**: NA

### Describe the feature request
Would it be possible to see the `ray.tune`'s results in Tensorboard's HParams https://www.tensorflow.org/tensorboard/r2/hyperparameter

[2019-04-01 14:14] jacooba opened #4530 "[rllib] Value Error with long RNN seq in Single Env"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.6.2
- **Python version**: 3.5.5
- **Exact command to reproduce**: (running on custom env)

### Describe the problem

When running with a single environment, load_data() in multi_gpu_impl.py throws an error, since self._loaded_ma

[2019-04-01 18:14] ericl commented on #4526
That's right, when we refer to episode it is for the entire environment. An unroll or sample batch is a slice of the environment episode. Each agent in a multi agent environment has its own trajectory, which is also sliced into batches for postprocessing and policy optimization.

I think it's probably ok for the environment to run forever, however one caveat is that RLlib won't report any rewards

[2019-04-01 18:19] ericl commented on #4530
Could you provide a reproduction script on a gym env here?

I think you could also try reducing the max seq len of your LSTM model?

[2019-04-01 22:00] mxlei01 commented on #4500
@ericl

Gotcha, thanks for your help!

[2019-04-01 22:00] #4500 closed

[2019-04-01 23:09] BenMacKenzie opened #4531 "[tune] display any field in results.json from tune cli"
i'd like to do something like this:

tune list-experiments ~/ray_results --sort accuracy

i.e., sort by and display any field in the results.json file.  maybe i am missing something, but it is not clear how else to see results from each experiment, apart from watching the output from run_experiments or searching manually.

[2019-04-02 00:33] #4506 closed

[2019-04-02 02:55] richardliaw commented on #4523
BTW, this depends on #4519, so you can base a PR off of that.

The command would look like

`tune ls [EXP_PATH] --columns id,name,cidr --result-columns mean_accuracy,mean_loss`

[2019-04-02 02:59] richardliaw commented on #4531
Hey @BenMacKenzie, this is blocked by #4519. I think this issue is a duplicate of #4523; can you take a look there to see if it is? (Feel free to leave some thoughts there and close the issue if it is duplicate).

Thanks!

[2019-04-02 03:01] richardliaw commented on #4527
@Nithanaroy can you try calling `logging.basicConfig(level=logging.DEBUG, format='%(asctime)s: %(levelname)s %(filename)s] %(message)s')` in `setup`?

[2019-04-02 03:20] guoyuhong commented on #4512
@neychev You can try `ray.internal.free` and the reference test is [here](https://github.com/ray-project/ray/blob/master/python/ray/tests/test_basic.py#L1405-L1489). Currently, there is not need to do flush, but you still need to wait some time for the object deletion operation.

[2019-04-02 04:05] williamma12 commented on #4503
It appears that the error is caused by the double machine precision error and #4533 should fix it

[2019-04-02 05:02] whatbeg commented on #4483
@robertnishihara No, the output changed after running ray stop. I am saying `ray stop` causes an increase in memory usage, and finally crash. May be this crash caused raylet/plasma being killed.
I don't know what is the cause of a continuous increase in memory usage.

[2019-04-02 08:54] jacooba commented on #4530
Hey! Thanks for getting back so quickly.

I believe reducing the max seq len of your LSTM model will fix the issue, but I am more concerned about whether there is either an underlying issue that might cause problems or a misunderstanding of how the parameters are supposed to operate. It seems like this might be unintended/inconsitent behaviour.

Here is a way to reproduce on cartpole. I've created

[2019-04-02 08:57] jacooba commented on #4530
[cartpole-dqn-lstm-bug - Copy.zip](https://github.com/ray-project/ray/files/3033078/cartpole-dqn-lstm-bug.-.Copy.zip)

[2019-04-02 09:04] #4497 closed

[2019-04-02 09:38] stefanpantic opened #4536 "[rllib]Learner throws queue.Empty"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.7.0.dev2
- **Python version**: 3.6.6
- **Exact command to reproduce**: N/A

### Describe the problem

When trying to run ray on a cluster I sometimes get the following exception:
[code]

I've also had this happen when runn

[2019-04-02 09:44] #4425 closed

[2019-04-02 09:45] ericl commented on #4536
It could be starting the actors on a fresh cluster takes longer than 60 seconds. We should probably raise this timeout to a higher value...

[2019-04-02 12:13] Nithanaroy opened #4538 "[tune] PBT Model accuracy inconsistent with training"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.5
- **Python version**: 2.7
- **Exact command to reproduce**: NA

### Describe the problem

I used tune's PBT for hyperparameter discovery. The training accuracy given by `model.evaluate()` of the final model saved by `_stop()` of `T

[2019-04-02 13:53] phuicy opened #4539 "Feature request: logging across raylets"
### Logging

It would be great if logging in ray functions would be piped out, even over the network.
For example:
[code]

Additionaly it would be great if we could integrate into tqdm. For example:
[code]

or alternatively:

[code]

thanks,
Guy

[2019-04-02 14:12] BenMacKenzie commented on #4531
yeah...looks like it.  I'll close it.

[2019-04-02 14:12] #4531 closed

[2019-04-02 14:27] julianstastny opened #4541 "[tune] executing _train() takes too much time on Slurm"
### System information
- **OS Platform and Distribution**: Ubuntu 16.04.6
- **Ray installed from**: source
- **Ray version**:  0.6.5
- **Python version**: 3.6.8
- **Exact command to reproduce**:
Run the source code

### Describe the problem

When running this code on Tesla V100 GPUs, training one iteration takes about 70 seconds.
The analogous code for one model without Tune (just regular PyTorch)

[2019-04-02 19:08] robertnishihara commented on #4539
This already works. When I run your example, I see

[code]

printed in the background.

[2019-04-02 20:09] ericl commented on #4541
Are you counting the evaluation time? Checkpointing also adds overhead if you are perturbing each iteration.

[2019-04-02 20:29] julianstastny commented on #4541
Yes, I do count the evaluation time, as the code for the baseline is essentially the same. The only difference is that there, I do not encapsulate into the trainable class.

Regarding checkpointing: As far as I understand, calling result = self._train() in ray/python/ray/tune/trainable.py does not create a checkpoint yet.
Anyway, the same thing also happens if I don't perturb every iteration, so I

[2019-04-02 21:27] ericl commented on #4541
Hm, if you create the trainable class manually and call _train() does that fix it? Wondering if the problem can be narrowed down to the trainable class / Tune / PBT specifically.

[2019-04-02 21:38] perara opened #4543 "For python version > 3.3, PIP must be up to date in order to interpret dependency syntax"
The command `cd ray/python && python3.7 -m pip install -e . --verbose`
Will fail for old version of PIP. tried with version 8 (for some reason this was the shipped version).

THe following syntrax:
`"faulthandler;python_version<'3.3'",`
is not supported for older versions it seems. Maybe this should be highlighted somewhere (that pip must be of a newer version)

[2019-04-02 22:10] stevenlin1111 commented on #4004
Would it also be possible to provide an option for executing the file mounting (`mkdir` and `rsync`) commands with `sudo`?

[2019-04-02 22:52] gehring commented on #4418
I think that is a good solution! I agree with you. This would likely make the code clearer and more intuitive.

I think with what you just proposed, this isn't relevant anymore. I was trying to solve the same problem but you are probably right, there wouldn't be much left if you try to separate the idea of an agent from the "Trainer".

I completely agree! I'm sorry, I was a little unclear. I think

[2019-04-03 02:47] alvarodemig commented on #4184
Any update? im having the same issue

[2019-04-03 05:17] #2887 closed

[2019-04-03 06:47] julianstastny commented on #4541
I just did that and it resulted in the expected (~20 sec) training time. So I guess the trainable class is fine.

[2019-04-03 07:06] ericl commented on #4541
Hm one thought is that the autoscaler sets OMP_NUM_THREADS=1, which can affect pytorch performance. This should only be relevant if you're using that to setup the cluster though.

[2019-04-03 07:21] julianstastny commented on #4541
(Not an expert on cluster computing, so I might just be confused)
Is there any way this might be set implicitly by running the code I provided?
Or does this have to do with the cluster setup itself? I am using Slurm, if that's of any help.

[2019-04-03 07:26] ericl commented on #4541
This bit of code sets it during cluster creation:
https://github.com/ray-project/ray/blob/b513c0f49827ab62cf05e5993820ae9cd38353d0/python/ray/autoscaler/updater.py#L275

You can check if this is the case (or change it) by checking
os.environ["OMP_NUM_THREADS"] in your trainable class.

On Wed, Apr 3, 2019, 12:21 AM Julian Stastny <notifications@github.com>
wrote:

[2019-04-03 07:31] nautilus22 commented on #4393
@y-xue
It works!!!!
I could use clustering by python script after all nodes opened.
Thank you very much @y-xue

[2019-04-03 07:31] #4393 closed

[2019-04-03 08:23] julianstastny commented on #4541
Ok, I solved the issue, though it had nothing to do with "OMP_NUM_THREADS":

The command to request a node in the cluster needed an explicit flag to be set which requests extra CPUs. I didn't think of that before because Tune claimed to be using all #trials/16 CPUs that are available on the node.
[code]

So I'd leave this as an open issue for now, though I'm not sure if it's possible for Ray to de

[2019-04-03 09:18] gliese581gg opened #4548 "Failed to install ray above 0.6.4 from source in Arm64 architecture"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 18.04 (Arm64 architecture)
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.6.4
- **Python version**: 3.6.7
- **Exact command to reproduce**: pip3 install -e . --verbose

Hi!

I'm trying to install ray 0.6.4 on the NVIDIA Xavier board which has Arm64 CPU.

However, install command f

[2019-04-03 09:26] gliese581gg commented on #4548
I found that there is RAY_USE_CMAKE option in build.sh

I will try this.

However, There is no cmake support since 0.6.5

Will there be a way to install ray > 0.6.5 in Arm64 machine in the future?

[2019-04-03 09:33] PengZhenghao commented on #4526
Yes, using unique agent ID make the program bug-free. However, as expected, the reward is always Nan. Therefore I try to reimplement my environment in a not-revival manner. (By the way, do you have some comment on the revival issue? Our environment is like a car racing scenario and the revival is believed to make the env more sample-efficient, providing the racing tracks is static and never change

[2019-04-03 10:41] phuicy commented on #4539
Ah, ok I can get `print()` to work but not `log.info`, even if the handler to pipe data into print, hmmm.

[2019-04-03 11:00] gliese581gg commented on #4015
I reinstalled release version on the Arm64 machine and ray works perfectly now!

Thank you:)

[2019-04-03 11:00] #4015 closed

[2019-04-03 14:36] FedericoFontana opened #4550 "Instructions in installation.rst to build ray from source do not work"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Ray installed from (source or binary)**: source
- **Ray version**: master branch
- **Python version**: 3.6.7
- **Exact command to reproduce**: As indicated in [installation.rst](https://github.com/ray-project/ray/blob/master/doc/source/installation.rst):
[code]

### Describe the problem
I know ho

[2019-04-03 16:07] FedericoFontana commented on #4440
@ericl I know how to fix this issue. I'm happy to send a pull request if you or someone else agrees with the solution below (and after than #4550 will be fixed).

**Context**: Use `Simplex` to describe the action space and therefore `Dirichlet` as action distribution.
**Bug**: Agents return nans.
**Diagnosis**: there are two separate issues.
1. The Dirichlet is parametrized by the output of the po

[2019-04-03 16:29] sammuli commented on #4548
@gliese581gg, I've also just this morning encountered this same issue trying to build on a power 9 machine. I had previously figured out a hack to get it built under 0.6.1, but the revised build system that downloads prebuilt wheels for dependencies doesn't work for non-standard architectures. I guess the question amounts to this: Is there a way to force builds of dependencies?

[2019-04-03 16:56] ericl commented on #4550
Hm, I'm not sure why venv is crashing, but for RLlib changes you fortunately don't have to build all of RLlib: this script lets you just symlink the code to a pip installed ray:

https://ray.readthedocs.io/en/latest/rllib-dev.html#development-install

[2019-04-03 16:57] ericl commented on #4550
`    ../build.sh: line 109: bazel: command not found`

Ah seems like it requires http://bazel.io/ to be installed.

[2019-04-03 17:03] ericl commented on #4440
@FedericoFontana using exp(logits) seems like a reasonable choice to me. Do you observe stable training with this support? Clipping to some epsilon value during probability calculation sounds good too.

[2019-04-03 17:17] Nithanaroy commented on #4527
Initializing logging inside _setup() works. The theme here looks like whatever config needed for workers should go in setup instead of in some outer scope

[2019-04-03 17:27] pcmoritz commented on #4548
@sammuli @gliese581gg You will need to install the pyarrow dependency separately, and comment out the following line from build.sh: https://github.com/ray-project/ray/blob/b0f6ddf6d103ad19844b129b62811c8ee9073ee1/build.sh#L98

Instruction to build pyarrow are here: https://arrow.apache.org/docs/developers/python.html#build-and-test

I usually install it with:
``
git clone https://github.com/apache

[2019-04-03 17:30] pcmoritz commented on #4550
I think the problem here is that after `ray/ci/travis/install-bazel.sh` run sucessfully, you need to make sure the binary landed in a place that is in the path and log out of the shell to refresh the environment variables

[2019-04-03 17:38] gehring commented on #4134
@ericl I'm making a bit of progress here but before I can continue I need to know which versions of tensorflow are Ray and RLLib trying to support. Several significant additions to the API and backend were made along the way from 1.11 to 1.13 which would make some parts of the code cleaner but aren't necessarily mandatory.

I was able to write out a prototype for embedding pytorch functions within

[2019-04-03 18:46] ericl commented on #3715
Any update on this?

[2019-04-03 18:46] ericl commented on #3715
@vladfi1 I think you probably ran into some variant of this issue for the hanging (i.e., some object got evicted and there wasn't an error message raised for that).

[2019-04-03 18:55] ericl commented on #4134
@gehring for a new feature, I think it's fine if it only works on the newest versions. However we shouldn't break compatibility overall for older models / older TF versions, since some RLlib users are stuck on quite old TF versions.

I think this would be useful for many users, and we would be interested in adding this to RLlib (and I suspect this would be value outside of RLlib as well). However

[2019-04-03 19:49] gehring commented on #4134
How old are we talking?

The reason this is important is that a lot of tensorflow's function tracing functionality received a considerable amount of polish in the last two releases, as well as bug and inconsistencies fixes. Using tensorflow's function wrapping methods would allow for a concise, clean implementation and would spare us from re-implementing lots of little things, e.g., variable lifti

[2019-04-03 20:15] ericl commented on #4134
Well, we have stubs to support 1.5.0... I think it depends on how bad it is to support older versions. I would prefer not to depend on eager / function tracing right now since it's quite new and we can get the majority of the benefits without fully porting to that model.

Yeah, perhaps copying intermediate values isn't that bad. What you pass into custom_gradient() isn't that large, iirc, mostly i

[2019-04-03 20:48] yunqu commented on #4548
Is there a stable version of pyarrow that is verified? I checked out a few tags, but the `make -j8` gave out some errors so I was not able to install it from source.

[2019-04-03 20:51] sammuli commented on #4548
Can't speak for the maintainers, but I just managed to get it compiled using the "apache-arrow-0.12.1" tag. Running on power 9 though, so you mileage may vary...

[2019-04-03 21:27] robertnishihara commented on #4184
@alvarodemig no update at the moment, though it should be easy to work around by not using `*` in the function signature.

[2019-04-03 22:27] yunqu commented on #4548
Still no success on the `arrow` installation. Followed steps [here](https://arrow.apache.org/docs/developers/python.html#build-and-test) but `make` after `cmake` failed miserably.

[2019-04-03 23:12] sammuli commented on #4548
Well, that was quite a rabbit hole I had to follow, but I finally got it built on my power 9 system.

Some notes on the process:

I followed the instructions given by @pcmoritz above:

[code]

Then (note the additional ARROW_HOME variable I needed to set, though there's probably a more elegant way of setting that with cmake):

[code]
I had an older version of bazel, but that was no good, so I foll

[2019-04-04 01:42] richardliaw commented on #4527
Awesome; should we close this?

[2019-04-04 01:43] richardliaw commented on #3912
Looks like this is actually still an issue.

[2019-04-04 01:43] richardliaw commented on #3912
We should have a PBT + TF Saver example that we fix.

[2019-04-04 06:14] ericl commented on #4530
This turns out to be a bug in the check. We previously assumed the seq len would always be smaller than a minibatch.

https://github.com/ray-project/ray/pull/4557/files changes the behaviour to automatically increase the minibatch size to fit at least one sequence.

As for why it worked when num_envs > 1: this is a separate bug where sometimes RNN sequences got concatenated together across sample

[2019-04-04 06:23] Nithanaroy commented on #4527
Yeah, it would be helpful to describe things like these in the
documentation as well :)

- Nitin Pasumarthy
  Website <https://sites.google.com/site/nitinpasumarthy/> || LinkedIn
<http://bit.ly/nitinpasumarthy>

On Wed, Apr 3, 2019 at 6:42 PM Richard Liaw <notifications@github.com>
wrote:

[2019-04-04 07:22] perara opened #4558 "[autoscaler] Hardcoded docker --net=host"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: Binary
- **Ray version**: ray-0.7.0.dev2
- **Python version**: 3.7.3
- **Exact command to reproduce**: ray up cluster.yaml

### Describe the problem
When using autoscaler, the docker command hardcodes --net=host in the docker run command. This makes it dif

[2019-04-04 07:27] alaameloh commented on #557
@pcmoritz
I'm having some trouble serializing spacy objects (nlp models) :
**pickle** cannot serialize them , but **cloudpickle** and **dill** do.
would you have a recommendation or should I go with a custom serialization function ?

Great work !

[2019-04-04 08:16] ericl commented on #4134
Btw, I had an old issue for the embedding torch models: https://github.com/ray-project/ray/issues/3885

[2019-04-04 08:43] jacooba commented on #4530
Thanks for following up on this! The concatenation could certainly be unsafe. However, with multiple envs, and in general, the downside to automatic SGD minibatch resizing is that the user may not realize and it could cause training issues. Perhaps this is better than the alternative though. A Boolean could be introduced for dynamic minibatch resizing, but this may be overkill.

[2019-04-04 10:45] pschafhalter opened #4559 "[autoscaler] KeyError when starting private cluster"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Ray installed from (source or binary)**: pip
- **Ray version**: 0.6.5
- **Python version**: 3.6.7
- **Exact command to reproduce**:

`ray create-or-update cluster.yaml`

### Describe the problem

### Source code / logs

I followed the documentation and modified [example-full.yaml](https://github.

[2019-04-04 16:02] yunqu commented on #4548
I was finally able to build ray! It happens to me that the `cmake` version is bad so I had to switch back to the original version that comes with Ubuntu 18.04. After that fix everything works fine now.

@sammuli  I think the tweaks you did have been documented in their RTD:
[code]
before you can run the `cmake`.

Another thing to consider, is perhaps adding that target `pyarrow-0.12.1-cp36-cp36m-l

[2019-04-04 18:23] ankeshanand opened #4561 "[RLLib] [Question] Control over the whole training workflow"
Hi,

I appreciate how RLLib tries to abstract and encapsulate various different modules in an RL pipeline, but I have been finding it sometimes hinders hacking with the code and implementing non-standard algorithms. Here's something I have been trying to implement (https://papers.nips.cc/paper/7507-meta-gradient-reinforcement-learning):

![image](https://user-images.githubusercontent.com/2134563/5

[2019-04-04 20:22] alvarodemig opened #4562 "Ray hangs the 2nd time it is called"
### System information
- **OS Platform and Distribution (e.g., macOS 10.13.4)**:
- **Ray installed from (source or binary)**: pip install
- **Ray version**: 0.6.5
- **Python version**: 3.6.5

### Describe the problem
It is a flask+dash app.
Im running it on my local machine (8 cpus). I want to use ray to update a graph through a callback.
The first time it is called the app updates accordingly, bu

[2019-04-04 20:47] ericl commented on #4561
@ankeshanand thanks for bringing this up. I think the way to go in these sort of research use cases is to bypass the built in "Agent" (soon renamed to Trainer) classes. Instead, use the policy graph and policy evaluation classes directly with Ray to implement your training workflow.

For example, suppose you wanted to collect two sets of trajectories T, T', and then optimize theta, n, and repeat.

[2019-04-04 21:00] ankeshanand commented on #4561
Gotcha, thanks, I will try this! And yes, the name Trainer makes more sense!

Aside: One of the things I found confusing that `self.optimizer.step()` does not not only optimize the policy graph with a batch (which is what I would have guessed intuitively, but also co-ordinates collecting the samples too).

Relatedly as a new user, I think it would have easier for me to onboard if things were a lot

[2019-04-04 21:00] #4561 closed

[2019-04-04 21:02] ericl commented on #4561
That's a good point! Maybe optimizer isn't the right term either, since sample collection is a major part of it's functionality.

[2019-04-04 21:33] #4440 closed

[2019-04-04 22:25] FlyClover opened #4563 "[tune] Resume experiments resets training_iteration"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: Source
- **Ray version**: master
- **Python version**: 3.5
- **Exact command to reproduce**:

### Describe the problem

When resuming a tune experiment, I can see that it loads previous checkpoints with correct meta:

[code]

However, after one iteration,

[2019-04-04 22:40] ericl commented on #4563
Hm, do you have `checkpoint_freq` set for the individual trials? It seems like it restored the overall experiment state, but fell back to starting the trial from iter=0 since there isn't a per-trial checkpoint.

[2019-04-04 22:50] FlyClover commented on #4563
Yes, I set checkpoint_freq=500 and it indeed resumes from that point.

[2019-04-05 04:04] richardrl opened #4566 "Job launch script RLlib"
Is there an easy way to iteratively launch EC2 jobs in RLlib like: https://github.com/justinjfu/doodad ?

[2019-04-05 04:38] pcmoritz commented on #557
@alaameloh Can you share an example that you would like to get working?

[2019-04-05 05:31] ericl commented on #4561
Btw, cleaned this up and made a runnable example here: https://github.com/ray-project/ray/pull/4554/files#diff-b58a7ecdf4c8cdfe99316a5de0893f58R64

[2019-04-05 05:33] ericl commented on #4566
I would recommend using `tune.run` to schedule your experiments onto an auto-scaling Ray cluster: https://ray.readthedocs.io/en/latest/autoscaling.html

You can use launch a new cluster per experiment with `ray submit` as well.

[2019-04-05 05:36] ericl commented on #4563
Are you able to reproduce with `rllib train --run=PG --checkpoint-freq=1 --resume --env=CartPole-v0`?

When I interrupted training and re-ran the above, it seemed to have the right iter on resume:
[code]

[2019-04-05 06:07] robertnishihara commented on #4562
Would you mind providing the code in a runnable form so that we can copy and paste the example to reproduce the error?

Also, please post complete instructions for reproducing the issue.

To format code, you can write

\`\`\`python
your code goes here
\`\`\`

[2019-04-05 06:39] richardliaw commented on #4566
@richardrl, A quick command for you - `ray exec [CLUSTER_YAML] 'rllib train --run DQN --env CartPole-v0' --start`.

We'll add an example page for launching EC2 experiments in Tune soon.

[2019-04-05 07:16] #4511 closed

[2019-04-05 07:26] richardliaw commented on #4558
Yeah, this was a bit of a hack not to need to worry about ports, and we should make it more extensible. Can you post what you tried so far and what things you ran into?

Thanks!

cc @robertnishihara who wrote the original Ray/Docker docs.

[2019-04-05 08:07] richardliaw commented on #4559
Can you try installing the latests master?

We should probably make all of our configs backward compatible from now on...

[2019-04-05 08:28] ZhangYuef opened #4568 "Fail to run tune with tensorflow and gpu"
### System information
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.5
- **Python version**: 3.6

### Describe the problem
I am trying to use ray with tensorflow following the tutorial ([link](https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/tune_mnist_ray.py))
And I got a `tune error`:

###

[2019-04-05 08:53] alaameloh commented on #557
[code]
here ray falls back to using pickle to serialize the spacy model. however , with the current spacy version i'm working with (2.0.16), pickle doesn't work (but cloud pickle does). it gets stuck afterwards and crashed after some time (due to memory i believe).

depending on the model, the loading time for spacy would be an inconvenience if i simply loaded the model inside the processing_funct

[2019-04-05 15:37] pengzhenghao opened #4569 "[rllib] What is the proper way to restore checkpoint for fine-tuning / rendering / evaluation of a trained agent based on example/multiagent_cartpole.py?"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: pip install ray
- **Ray version**: 0.6.5
- **Python version**: 3.6.2
- **Exact command to reproduce**:

### Describe the problem

Before my question, let me introduce my understanding of the checkpoint file system. (you can skip it and toward my question)

[2019-04-05 15:54] richardliaw commented on #4568
Hi, can you post the output of the error_{date}.txt file shown in the terminal output?

[2019-04-05 19:59] robertnishihara commented on #557
@alaameloh hm, when we say "falling back to pickle" I think we actually mean "cloudpickle". Can you provide a runnable code snippet that we can use to reproduce the issue?

[2019-04-05 22:20] yunqu commented on #3988
Sorry to comment on this, but I do think the version mismatch check is too harsh... Having versions like 3.6.5 and 3.6.7 will lead to an error, but I guess the infrastructure should just work fine.

For me, I just modified
`/usr/local/lib/python3.6/dist-packages/ray/services.py` so I have

[code]

It looks fine to me. Maybe that error message should be a warning instead?

[2019-04-05 23:48] ericl commented on #4569
I think there is some confusion here about tune's checkpointing of experiment state, vs RLlib's checkpointing of trial state.

To enable RLlib checkpointing, you have to specify `--checkpoint-freq`. For example: `rllib train --run=PG --checkpoint-freq=1 --env=CartPole-v0`

Then, this will create checkpoints in ~/ray_results that includes the .tune_metadata file. To restore, you can specify one of

[2019-04-05 23:50] ericl opened #4570 "[rllib] Possible checkpointing improvements"
There are several improvements we could make to checkpointing:

- Automatically checkpoint every N iterations, once https://github.com/ray-project/ray/pull/4490 is merged.
- Make checkpoint format more stable (https://groups.google.com/forum/#!topic/ray-dev/Vim6HEWPvb8)
- Use standard TensorFlow checkpoint format for dumping model weights

[2019-04-06 02:49] #4523 closed

[2019-04-06 02:50] richardliaw commented on #4523
@Nithanaroy @BenMacKenzie, thanks to @andrewztan, this is now merged - feel free to try it out on the latest master!

[2019-04-06 06:00] PengZhenghao commented on #4569
Thanks for your reply! I find that if running tune.run without any change, the parameter of trained agent would not saved... The .pkl file saved automatically simply records “trail” instead of anything related to neural network.

Unfortunately the training for last few days goes in vain. I suggest to turn checkpoint_final be True as default...

[2019-04-06 07:37] PengZhenghao commented on #4498
Yes I got this too!

`ray_PPOAgent:train()` take up to 7Gb (40% of the total) memory after 80 iterations and keep growing till some point. I am also using learning rate scheduler with Ray 0.6.5. Seems it's a bug of memory leakage.

[2019-04-06 07:38] ericl commented on #4569
The only blocker for enabling checkpointing by default is https://github.com/ray-project/ray/pull/4490

That will avoid out of disk space errors for long training.

[2019-04-06 07:48] ericl commented on #4498
rllib train --run=PPO --env=BreakoutNoFrameskip-v4 --config='{"num_envs_per_worker": 10}' --ray-object-store-memory=5000000000

Are you able to reproduce with the above?

[2019-04-06 09:59] PengZhenghao commented on #4498
That script run correctly. I am sorry for my carelessness because I calculate the memory consumption of my case and find that the batch size is too large... So consuming so much memory is reasonable. Blame on the insufficient memory.

[2019-04-06 12:14] ZhangYuef commented on #4568
Of course.

The error file for trial 1:
[code]

[2019-04-06 16:09] richardliaw commented on #4568
Oh, make sure in your main function you call the status_reporter as seen in the example. Can you try that out?

[2019-04-06 16:10] richardliaw commented on #4566
@richardrl let us know if you have any followup questions.

[2019-04-06 16:12] hlbkin opened #4571 "Feeing up memory using ray.internal.free"
Hi Team!

I want to free memory from some of the dataset objects we are using

1) We pin the object using "pin_in_object_store(object))" function
2) ray.internal.free([object_id]) require some object_id which should be instance of ray.ObjectId

The only workaround I've found is modifying source code like that

Is there any other way to do it?

[code]

[2019-04-06 17:55] evanatyourservice commented on #4307
Ray 0.6.5 in Google Colab.

I'm actually getting a similar error except with the seq_lens_1:

`tensorflow.python.framework.errors_impl.InvalidArgumentError: You must feed a value for placeholder tensor 'default/q_func/seq_lens_1' with dtype int32 and shape [?]
	 [[{{node default/q_func/seq_lens_1}}]]`

with this setup:
'run_experiments({
    "demo": {
        "run": "DQN",
        "env": "CartPole

[2019-04-06 19:40] mynkpl1998 opened #4572 "How to get actual probabilties for actions given a state for policy gradient based methods. [question]"
Hi, I want to see what probabilities my agent predicting in the case of discrete action space given a state input to the network. Is there any way to get access to those values. I looked at the compute_action function but it doesn't return probability distribution.

[2019-04-06 21:47] ericl commented on #4572
Most policies emit "action_prob" as an extra info fetch of computing actions. However you'll need to call the low-level batch compute_actions() method directly. For example:

`agent.get_policy().compute_actions()` where the args to compute_actions is defined here: https://github.com/ray-project/ray/blob/master/python/ray/rllib/evaluation/policy_graph.py#L48

Note that DQN

[2019-04-06 22:27] ericl commented on #4307
RNN policies aren't currently supported in DQN (this is being worked on in
the R2D2 issue).

On Sat, Apr 6, 2019, 10:55 AM Evan Walters <notifications@github.com> wrote:

[2019-04-06 23:55] eugenevinitsky opened #4573 "Prev_action, prev_reward not passed to rollout"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: n/a
- **Ray installed from (source or binary)**: n/a
- **Ray version**: n/a
- **Python version**: n/a
- **Exact command to reproduce**:

### Describe the problem

rollout.py does not keep track of previous actions and previous observed rewards and pass them to compute_action.py. This obviously is an issue if the

[2019-04-07 00:17] ericl commented on #4573
Ah yeah @vladfi1 has a fix here: https://github.com/ray-project/ray/pull/4565

[2019-04-07 00:24] ericl commented on #4572
After https://github.com/ray-project/ray/pull/4556 is merged, you can also call `compute_action(..., full_fetch=True)` to retrieve these values, which will be a bit more convenient.

[2019-04-07 02:58] ericl commented on #4051
Fixed

[2019-04-07 02:58] #4051 closed

[2019-04-07 03:49] ericl commented on #4418
Here's a shot at a build-like pattern for trainer: https://gist.github.com/ericl/0d3502f204c7612a429bfd3c3aba0307

A plus I think is that it makes the overall training workflow more clear at a glance:
[code]

This is something that could also be achieved by using more helper methods in the trainer subclasses though. I guess the build-like pattern is kind of a forcing function for that.

[2019-04-07 07:01] ZhangYuef commented on #4568
I have the `status_reporter` in my main file as:

[code]

[2019-04-07 07:36] #4536 closed

[2019-04-07 15:59] timediv commented on #4503
I am having issues with this too. A workaround is to set a required resource to `x - epsilon` instead of `x`.

[2019-04-07 17:20] richardliaw opened #4574 "[autoscaler] Docker container out-of-date"
Autoscaler should detect if docker config has changed and kill the previous container if the image values do not match.

[2019-04-07 18:01] mynkpl1998 commented on #4572
The following code worked for me. Thanks for the suggestion @ericl
[code]

[2019-04-07 18:01] #4572 closed

[2019-04-07 19:11] #4530 closed

[2019-04-07 22:46] evanatyourservice commented on #4307
Ahh I see. Awesome, can’t wait for r2d2.

[2019-04-07 23:00] vitchyr opened #4576 "More informative error message when OOM"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: pip (`ray[rllib,debug]==0.6.4`)
- **Ray version**: 0.6.4
- **Python version**: Python 3.6.5
- **Exact command to reproduce**: N/A

### Describe the problem
When my computer ran out of memory, `ray` kept giving this error:

[code]

It kept retrying until it

[2019-04-07 23:55] richardliaw commented on #4568
hm, can you check that in the main file, `status_reporter` is not None? You can do this by turning `verbose=2` in `tune.run` and then printing the arguments in the training loop.

[2019-04-08 00:54] ericl commented on #4418
So here's what I'm thinking are possible next steps:
- clean up use of PolicyOptimizer so that they are created directly with **kwargs. Remove PolicyOptimizer.make() which isn't really used.
- port all trainers to the `build_trainer` pattern, and document this as the recommended way to add a new algorithm / modify a training workflow. This could be done incrementally.

[2019-04-08 02:49] eugenevinitsky commented on #4573
Cool, resolved!

[2019-04-08 02:49] #4573 closed

[2019-04-08 02:53] FlyClover commented on #4563
Turns out it's my bad. I wrapped the Agent class inside a Trainable class and doesn't fully initialize the agent instance.

[2019-04-08 02:53] #4563 closed

[2019-04-08 03:40] ericl commented on #4576
Could you provide more details on what the memory issue was? It sounds like you're saying the node had too little memory available to start ray?

[2019-04-08 04:10] vitchyr commented on #4576
Correct. It's not that ray necessarily caused this OOM issue, but it'd be nice ray provided a more informative error message when this is why it fails.

[2019-04-08 05:30] hartikainen commented on #4576
@vitchyr Was this your computer running out of memory or disk space? If I remember correctly it was about the disk space that was causing this.

[2019-04-08 05:48] vitchyr commented on #4576
Yes, sorry this was disk space memory.

[2019-04-08 06:56] ZhangYuef commented on #4568
Hi, thx for your help. I simply add this in main file which I am not sure whether it is right.
[code]

The output of the errorr_{date}.txt file seems to be unchanged. As in complete:
[code]

The output of the terminal:
[code]

[2019-04-08 07:25] pschafhalter commented on #4559
I'm getting the same error on the latest master. [This line](https://github.com/ray-project/ray/blob/915486984a2890f93235a8c5a1ec6963321fdbb0/python/ray/autoscaler/commands.py#L241) is causing the error.

Looks like the local example is out of date.

[2019-04-08 09:41] alexanderkell commented on #4051
Thank you @ericl and @ctombumila37 for your work.

[2019-04-08 10:28] stefanpantic opened #4578 "[rllib]check_shape in preprocessors doesn't work with Dict action space"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.7.0.dev2
- **Python version**: 3.6.8
- **Exact command to reproduce**: N/A

### Describe the problem

Getting a TypeError here:
[code]

I've narrowed it down to this function:
[code]

Namely the line:
[code]

There sould be an a

[2019-04-08 12:28] alaameloh commented on #557
[code]
[code]

[2019-04-08 12:39] alaameloh commented on #557
@robertnishihara

[code]
[code]

[2019-04-08 13:09] PengZhenghao commented on #826
So...

**How to use Ray in a Slurm cluster?**
For my case, it seems to be hard to access each individual node and install and start a redis server on it.

After using `srun` to put a python script start with `ray.init()`, the first error report shown is:

`2019-04-08 21:05:15,898	INFO services.py:368 -- Failed to connect to the redis server, retrying.`

It seems that the ray fails at the very begi

[2019-04-08 13:54] marianogabitto commented on #826
Can you copy the entire command that you are using? In addition, can you try to write a bash script and run it using sbatch ?

Thanks,

M

[2019-04-08 14:02] gowthamnatarajan opened #4580 "How are the functions in the environment called?"
I will be creating a custom Environment.
Wanted to know how it will be used.
When will reset be called? When an episode ends, will reset be called and will the same object be reused? OR will a new object be created which would call init again?

I am planning to initialize my environment only in the init function and not in the reset function.

In the project I am working on, the start state is not

[2019-04-08 17:05] ericl commented on #4578
Could you provide an example check that fails but should succeed? As far as I can tell this handles dict spaces.

[2019-04-08 17:06] ericl commented on #4580
We will call reset() every time the episode ends, and the object is reused.

[2019-04-08 17:21] gehring commented on #4134
@ericl I apologize for the I step forward, two steps back that I've been doing, but how much push back were there be against adding [Sonnet](https://github.com/deepmind/sonnet) as a dependency for RLLib and using that as a back-end for models? (This would also require the minimum version of TF to be 1.5)

The reason I ask is that 1) it offers all the tools necessary for us to implement OO models w

[2019-04-08 17:40] ericl commented on #4134
Hm, I don't think we should adopt a dependency on any particular library (e.g., Sonnet) for something as core as models. I would rather bump the TF dependency requirement if needed.

I think some ideal compatibility story would be as follows, assuming older versions can't provide full compatibility:
- TF < version ZZ not supported.
- TF < version YY only works with RLlib v1 models
- TF >= version

[2019-04-08 18:50] gehring commented on #4134
I understand being reluctant to having a third-party dependency in model but let me try to make a slightly stronger case for Sonnet. First, for context, Sonnet is the in-house tools developed by DeepMind and is widely used internally. The reason Sonnet was created rather than simply using other TF solutions (and the reason why Sonnet 2.0 is being developed) is because other solutions were too "int

[2019-04-08 20:09] DuaneNielsen opened #4581 "Error in Kubernetes yaml files"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu
- **Ray installed from (source or binary)**: not installed
- **Ray version**: latest master
- **Python version**: 3.6
- **Exact command to reproduce**: kubectl create -f ray/kubernetes/head.yaml

### Describe the problem
typo in kuber head.yaml

I believe

requiredDuringSchedulingIgnoreDuringExecution

sho

[2019-04-08 20:15] ericl commented on #4134
Yeah, I think having two concrete prototypes to choose from would be the way to go here. That would let us weigh the complexity introduced of supporting it ourselves, vs using a third-party library.

I think the bar would have to be pretty high to add a new dependency (something like saving 500+ lines of code).

By the way, Sonnet is Apache 2 licensed, so we could potentially also "borrow" just th

[2019-04-08 22:12] robertnishihara commented on #4581
@DuaneNielsen Good catch! Would you be able to submit a pull request fixing this?

[2019-04-08 22:46] DuaneNielsen commented on #4581
Sure

On Mon, Apr 8, 2019 at 3:12 PM Robert Nishihara <notifications@github.com>
wrote:

--
Duane
Broadcom
480 760 1559

[2019-04-09 00:48] yunqu opened #4583 "deserialization problem when cross platforms"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04, Ubuntu 18.04
- **Ray installed from (source or binary)**: source for 18.04, wheels for 16.04
- **Ray version**: 0.6.5
- **Python version**: 3.6.5
- **Exact command to reproduce**:

### Describe the problem
When running ray on cross platforms, the serialization/deserialization has problems. The aarch

[2019-04-09 01:01] gowthamnatarajan commented on #4580
How many instances of the class is created? Is it same as number of workers? I will be using PPO.

[2019-04-09 02:19] ericl commented on #4580
That's right.

On Mon, Apr 8, 2019, 6:02 PM Gowtham Natarajan <notifications@github.com>
wrote:

[2019-04-09 05:17] gowthamnatarajan commented on #4580
Thanks. And I assume close is called at the end when training is done?

[2019-04-09 05:51] #4580 closed

[2019-04-09 06:14] robertnishihara commented on #4581
Fixed by #4582.

[2019-04-09 06:14] #4581 closed

[2019-04-09 06:16] ericl commented on #4580
Yes.

On Mon, Apr 8, 2019, 10:51 PM Gowtham Natarajan <notifications@github.com>
wrote:

[2019-04-09 06:42] robertnishihara commented on #4576
Hm, the most informative error message above is

*WARNING: The object store is using /tmp instead of /dev/shm because /dev/shm has only 67108864 bytes available. This may slow down performance! You may be able to free up space by deleting files in /dev/shm or terminating any running plasma_store_server processes. If you are inside a Docker container, you may need to pass an argument with the flag

[2019-04-09 09:15] PgLoLo opened #4587 "Missleading information in doc and tutorial related to GPU usage"
Both in documentation and examples (and pretty much everywhere where I was able to find the information) mentioned, that the user should control GPU usage by himself inside actors and remote functions that require GPUs (e.g. by setting CUDA_VISIBLE_DEVICE environment variable).

Which is only partially true: according to my testing and [this](https://github.com/ray-project/ray/issues/975) issue, r

[2019-04-09 10:00] joneswong commented on #4134
Hi Eric, in our company, users rely on diverse TFs ranging from v112 to v180. I am not familiar with the new features, so I am sorry that I cannot give any constructive comment now. However, I had a discussion with one TF developer and he told me that we'd better make some comprehensive survey without committing until the emergence of TF RC version. I will continue to learn the TF2.0 in the follow

[2019-04-09 19:12] ericl commented on #4134
@joneswong what do you think about dropping support for TF < 1.13?

[2019-04-09 21:39] ericl commented on #4587
Could you provide links to the doc pages that should be changed?

By the way, if you set CUDA_VISIBLE_DEVICES then Ray will restrict scheduling to those specific GPUs. So it does work naturally for controlling GPU usage.

[2019-04-09 23:28] azadsalam commented on #4488
So the way we solved the problem is, ignoring linking python symbols during the build.

[code]

[2019-04-09 23:28] #4488 closed

[2019-04-10 00:00] pcmoritz commented on #4488
Nice, I'm glad this helped!

[2019-04-10 00:24] gowthamnatarajan opened #4590 "Continuous and Discrete actions example"
Is there an example where the action space has both Continuous and Discrete actions?

How about the same in the observation / state space. If its PPO then its even better.

[2019-04-10 00:46] p-morais opened #4591 "Ray remote subprocess not recognizing Openai Gym environment registration"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 18.04
- **Ray installed from (source or binary)**:
Binary
- **Ray version**:
0.6.5
- **Python version**:
3.7.1

### Describe the problem
Ray isn't recognizing the execution context for a worker the way I assume it should. I have a custom gym environment "gym_cassie" which is registered with openai gy

[2019-04-10 02:18] whatbeg commented on #4483
hello, excuse me, does community has ideas about that?

[2019-04-10 02:27] joneswong commented on #4134
I prefer to support that because there are many old fashion docs, codes, and users in my company. BTW, scoping based on `tf.make_template` like Sonnet and TensorForce do may rise the bar of development according to my experience (at least in my company, most users do not have such a capability).

[2019-04-10 03:30] #4590 closed

[2019-04-10 04:05] ericl commented on #4591
https://ray.readthedocs.io/en/latest/rllib-env.html

^^ The gym registry is not compatible with Ray. Instead, always use the registration flows documented above to ensure Ray workers can access the environment.

[2019-04-10 04:20] p-morais commented on #4591
Ah, thank you for the prompt reply. I hadn’t thought to look in the RLlib documentation. I’ll close this issue now.

For future reference though, what is it about the Ray backend that is incompatible with the gym registry? It’s kind of surprising to me.

[2019-04-10 04:20] #4591 closed

[2019-04-10 04:30] ericl commented on #4591
I'm surprised multiprocessing works, actually, since the registry is not shared across processes. It could be gym is doing something specific for compatibility there...

[2019-04-10 05:33] robertnishihara opened #4593 "The /tmp/ray directory belongs to the first person to start Ray, which leads to permission errors."
To see the issue, do the following:

1. `rm -r /tmp/ray`
2. `python -c "import ray; ray.init()"`
3. `ls -l /tmp/`

You will see a line like

[code]

which shows that the temp directory `/tmp/ray` created by Ray cannot be written by other users. If another user on the same machine tries to do `ray.init()`, they may run into errors. On the other hand, if you do

`ls -l /tmp/ray/`

you will see a lin

[2019-04-10 05:38] robertnishihara opened #4594 "Each new driver creates an unnecessary session directory in /tmp/ray/."
To see the issue, do the following:

1. `rm -r /tmp/ray`
2. `ray start --head --redis-port=6379`
3. `ls -l /tmp/ray/`

This shows

[code]

Then do

4. `python -c "import ray; ray.init(redis_address='localhost:6379')"`
5. `ls -l /tmp/ray/`

This shows

[code]

which shows that a new directory has been created for the driver (it is empty and there are no contents in it). We should not create this di

[2019-04-10 06:40] raulchen commented on #4571
cc @ericl

[2019-04-10 06:48] robertnishihara commented on #4571
Hi @hlbkin, I don't really understand the question. `pin_in_object_store(object))` returns on object ID, so you can just pass that into `ray.internal.free`, right?

[2019-04-10 06:54] ericl commented on #4571
I think the issue is the return is an encoded object id.

Since the pin function is simply a wrapper around ray APIs, I would recommend copying it into your codebase and modifying it as needed.

[2019-04-10 07:05] robertnishihara opened #4595 "Jupyter notebook seems to disconnect from raylet after a while."
I'm running into the following problem (when using Ray in Jupyter on Binder).

In the notebook, I do `import ray` and `ray.init()`. This starts all of the relevant Ray processes, and I see the following in `top`:

<img width="946" alt="Screen Shot 2019-04-09 at 11 01 29 PM" src="https://user-images.githubusercontent.com/249517/55855172-972c0580-5b1b-11e9-9233-0d540226d1e2.png">

Then I wait for a

[2019-04-10 22:44] robertnishihara commented on #4595
@romilbhardwaj pointed out that it could be related to the `MappingKernelManager.cull_idle_timeout` config in jupyter. https://jupyter-notebook.readthedocs.io/en/stable/config.html. See https://github.com/jupyter/notebook/pull/2215.

[2019-04-11 00:06] richardliaw opened #4599 "[autoscaler] `ray attach CLUSTER.YAML --docker`"
It would be great to support this.

This is related to #4183

[2019-04-11 07:59] jovany-wang opened #4603 "Discussions about which metrics we need to stat"
We have integrated `opencensus` library into raylet and added 2 example metrics: `CurrentWorker` and `TaskReceivedCount`.

I think this issue can be used to collect our requirements about metrics. I racked my brains to think of these metrics:
- `RedisLatency`: The latency of a redis operator. (finished at https://github.com/ray-project/ray/pull/4602)
-  `CompletedTaskCount`: How many completed tas

[2019-04-11 08:00] jovany-wang commented on #4603
@raulchen @guoyuhong
@ericl @pcmoritz @robertnishihara

[2019-04-11 08:09] ericl commented on #4603
I would probably also add the metrics emitted in `debug_state.txt` as well, which should cover internal data structure sizes and things like that.

Some metrics on what the raylet is spending time doing would also be useful, i.e., time making scheduling decisions.

[2019-04-11 12:00] ashione opened #4604 "Deadlock about remotecall in multinode"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.7
- **Python version**: 3.6
- **Exact command to reproduce**:

### Describe the problem

We find deadlock about remotecall in this scenario ：
* 1. An actor (called actorA) submit a task (taskA)  to another actor (actorB) a

[2019-04-11 15:15] NarasimhaM3101 commented on #1080
Can you please clarify how to use offline datasets with DDPG and other examples?

[2019-04-11 16:09] NarasimhaM3101 commented on #4412
hi,

I got same error when I was training Pong DQN example in Ubuntu AWS EC2 machine. Running it from jupyter notebook. Please suggest recommended fixes. See error at the bottom of this error log.
------------------------------------------------------------------------------------------

(pid=115711) Traceback (most recent call last):
(pid=115711)   File "/home/ubuntu/anaconda3/envs/pytorch_p36/li

[2019-04-11 16:22] techvslife commented on #631
Thank you, I'm looking forward to seeing modin on Windows, as pandas is one of the most used statistics and data analysis programs on Windows.  Until then, I would strongly recommend mentioning on the FIRST page of the docs and homepage that this package is currently limited to Linux.  (It would save new users a lot of time, especially as the installation error message is not entirely obvious:
"Co

[2019-04-11 18:19] ericl commented on #1080
You can find documentation and examples here: https://ray.readthedocs.io/en/latest/rllib-offline.html

[2019-04-11 21:06] richardliaw commented on #4568
Oh; can you remove these things? `[-h] [-c CONTINUE_PATH] [-l LOSS]`

I think absl hijacks the sys args that Ray uses

[2019-04-11 21:57] trias702 opened #4606 "[tune] Trials stopping early with "loss: 0""
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.5
- **Python version**: 3.6.8
- **Exact command to reproduce**:

### Describe the problem
I am trying to implement a basic gridsearch using tune.run on a custom Trainable class I've built. However, every time I run the s

[2019-04-11 23:34] adizim opened #4607 "[tune] Fix ray results values for 'iteration_since_restore'"
### Describe the problem
Ray results 'iterations_since_restore' values overlap in each trial

### Source code / logs
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import json
import logging
import os
import numpy as np
import pandas as pd
from pandas.api.types import is_string_dtype, is_numeric_dtype
from shutil import copyfile

from

[2019-04-12 00:00] robertnishihara commented on #685
Closing because I haven't seen this failure in a while.

[2019-04-12 00:00] #685 closed

[2019-04-12 00:01] robertnishihara commented on #685
Please reopen if you see this error in the future.

[2019-04-12 00:18] robertnishihara commented on #1110
We could do more here, but this is largely done now by @justinwyang.

[2019-04-12 00:18] #1110 closed

[2019-04-12 05:54] ashione commented on #4604
Sounds like TCP and UDP.
In fact, Strong Consistency is much better than RC.
Anyway, it isn't important what name it's named but break this deadlock.

[2019-04-12 06:54] stevenlin1111 opened #4610 "[tune] Exposing the logger variable"
It would be nice if modifications to `result_logger` variable could be made in the middle of a trial. A use case would be if I have sequential sections to my trial and want different logging files for each section (e.g `part_1_progress.csv`, `part_2_progress.csv`).

[2019-04-12 07:44] richardliaw commented on #4610
oh you can do this with a custom logger

I would have the result_dict include some notification boolean that the custom logger uses to create a new file.

See: https://ray.readthedocs.io/en/latest/tune-usage.html (Custom logging section) and https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/logging_example.py

Let me know if that helps!

[2019-04-12 07:49] richardliaw commented on #4606
Oh; all the stopping criteria assumes monotonicity (this is an issue #4120). Maybe consider setting `neg_mean_loss: 0` instead?

[2019-04-12 07:49] stevenlin1111 commented on #4610
Ah yes this makes sense. Thanks!

[2019-04-12 07:49] #4610 closed

[2019-04-12 14:07] PengZhenghao opened #4613 "[rllib] "TypeError: Object of type 'Box' is not JSON serializable" happen when checkpointing at Ray 0.7"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: pip install -U wheel/path
- **Ray version**: 0.7.0.dev2
- **Python version**: 3.6
- **Exact command to reproduce**:

I have setup a policy_graphs for multi-agent senario:

[code]

wherein obs_space and act_space are both `gym.space.Box` objects. Concretely

[2019-04-12 14:18] PengZhenghao commented on #4613
By the way, I have try the example codes without any argument / modification at [multiagent_cartpole.py](https://github.com/ray-project/ray/blob/master/python/ray/rllib/examples/multiagent_cartpole.py). The same error printed each time Ray checkpointing.

[2019-04-12 14:31] Kismuz opened #4614 "[rllib] Periodic policy evaluation in the course of training"
_Problem description:_
Suppose we can instantiate several environment simulators with predefined dynamics (source, or train tasks) and an instance of environment with slightly modified dynamics (target, or test task);

What we aim is to run policy optimization on episodes from source domain and periodically check agent performance progress on sample from target environment, such as:
[code]
It is d

[2019-04-12 14:51] PengZhenghao commented on #4613
I have looked up the same codes in Ray 0.6.0, the `runner_state` there only contain:

[code]

I think this explain why the Ray 0.6.5 do not raise such error.

[2019-04-12 15:47] 7vikpeculiar commented on #4599
Hi, can I work on this ?

[2019-04-12 15:50] richardliaw commented on #4599
Yes! That’d be awesome! Can you open a WIP PR as soon as possible (within the day or two)?

[2019-04-12 18:25] trias702 commented on #4606
Thank you kindly for the link, I understand the issue now.

Please mark this issue as closed.

On Fri, 12 Apr 2019, 01:49 Richard Liaw, <notifications@github.com> wrote:

[2019-04-12 18:39] #4333 closed

[2019-04-12 18:42] ericl commented on #4371
I saw some commits... looks like a good start, but @szymonWojdat were you planning on porting Kaixhin's Rainbow or writing your own? I think it makes sense to reuse code as much as possible.

[2019-04-12 19:13] #4606 closed

[2019-04-12 19:13] ericl commented on #2776
cc @samp830 would be great if you could take a look at this. Looks like the main things to seed are:
- the model initialization
- gym env

[2019-04-12 19:25] szymonWojdat commented on #4371
Thanks! I haven't tried porting it yet, I'll have a look. Been mostly looking around the project and trying to implement some abstract methods of PolicyGraph so far.

Just curious - why aren't all abstract methods of PolicyGraph implemented in most inheriting classes, eg. QMixPolicyGraph? Asking as I've been wondering which abstract methods should be good to skip, is there any way of finding out o

[2019-04-12 19:45] 7vikpeculiar commented on #4599
@richardliaw  can you tell me what needs to be done ?

[2019-04-12 21:00] ericl commented on #4614
The closest thing might be the "evaluation_interval" setting in DQN, which will periodically run episodes with epsilon=0 and log them under a separate evaluation/ metric key.

This is something that could potentially be generalized to other algorithms as well. Do you see some easy way of achieving this? Perhaps we can allow a separate evaluation config to be specified that allows various config se

[2019-04-12 21:25] ericl commented on #4371
The only crucial methods are these: {compute_actions, learn_on_batch, get_weights, set_weights}. Intuitively this is because RLlib needs to know how to compute actions to run env rollouts, improve the policy once a batch of rollouts is done, and synchronize weights in the distributed setting. The other methods are sometimes needed depending on your algo but I don't think they are critical for DQN.

[2019-04-12 21:40] ericl commented on #4613
Ah, this seems to be due to https://github.com/ray-project/ray/pull/4519

Should we revert that @richardliaw ?

[2019-04-12 22:39] richardliaw commented on #4613
Hm, so we need to have some part of the config properly jsonified for CLI viewing. I think the proper fix is to have the encoder fall back to cloudpickle if fails?

[2019-04-12 23:22] ericl commented on #4613
There's the safe fallback encoder?

On Fri, Apr 12, 2019, 3:39 PM Richard Liaw <notifications@github.com> wrote:

[2019-04-13 00:11] richardliaw commented on #4613
Looks like safe fallback gets around this by removing the config (in
`pretty_print`). Let me push a PR for a cloudpickle fallback...

On Fri, Apr 12, 2019 at 4:22 PM Eric Liang <notifications@github.com> wrote:

[2019-04-13 00:15] pcmoritz opened #4618 "Cluster wide arguments for workers and profiling"
We should have the possibility to pass cluster wide arguments to every worker/every component of the system. An example for this is a flag that tells us if profiling is on.

This is most naturally implemented as an argument to "ray start --head", which could be stored in the primary redis shard and read out by everybody.

[2019-04-13 01:26] richardliaw opened #4620 "[tune] CLI Result Columns failing silently"
[code]

It'd be nice to get some indication as to why the training_iteration column isn't showing up in the terminal

cc @andrewztan can you take a look at this?

[2019-04-13 04:57] DuaneNielsen commented on #1415
ray --version from the command line would be helpful too

[2019-04-13 08:04] 7vikpeculiar commented on #4599
I tried running the repo locally using [this](https://ray.readthedocs.io/en/latest/installation.html)

[2019-04-13 08:18] #4613 closed

[2019-04-13 09:22] Kismuz commented on #4614
Yes indeed, https://github.com/ray-project/ray/blob/master/python/ray/rllib/agents/dqn/dqn.py#L51 is exactly what I meant.

yes, if I understand correctly from the code at https://github.com/ray-project/ray/blob/master/python/ray/rllib/agents/dqn/dqn.py#L211  in addition to  policy_graph extra_config  one can specify evaluation env_extra_config [partially] overriding env_config and pass it along t

[2019-04-13 18:54] ericl commented on #4618
Environment variables are also a natural way to implement this sort of thing.

[2019-04-13 21:17] ericl commented on #4614
Makes sense. I guess this limits you to the same env class, but the env config could be different for evaluation.

Yep, we could add a model option to set DiagGaussian standard deviation to zero, and also softmax temperature to close to zero. Then, this could be handled via extra_config as well.

Would you have the time to help implement this?

[2019-04-13 23:18] DuaneNielsen commented on #2212
Realize this is closed but...

I do hope "put all your project into a single file" is not the final solution to this problem.  In any non-trivial project you do kinda need to run stuff in more than one file.

[2019-04-14 05:35] gowthamnatarajan commented on #4352
The input to this is also a variable number of items. So the number of input items is not known. But the max number is knows. Do you think its better to use an RNN as input or use a regular NN and use padding with zeros in case the number of items is less than max?

[2019-04-14 06:56] robertnishihara opened #4624 "Warning printed when doing specific tab completions."
I see the following warning printed when doing tab complete in IPython (sometimes).

*2019-04-14 06:51:31,696	WARNING worker.py:201 -- Calling ray.get or ray.wait in a separate thread may lead to deadlock if the main thread blocks on this thread and there are not enough resources to execute more tasks*

I can reproduce this on Linux (Ubuntu 16.04) with Python 3.6.3 (Anaconda) in IPython 6.1.0 by d

[2019-04-14 07:31] ZhangYuef commented on #4568
Thanks Richard, after removing the absl outputs, I finally got the outputs of Ray and  found the problem was not related to Ray. So I closed this issue.

[2019-04-14 07:31] #4568 closed

[2019-04-14 10:52] andrewztan commented on #4620
Yeah I'll look into what's going on

[2019-04-14 12:21] opherlieber opened #4625 "[rllib] sampling in asynchronous/real-time environments"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: source
- **Ray version**: master branch
- **Python version**: 3.6
- **Exact command to reproduce**:

### Describe the problem

Hi,

I'm using rllib on games without emulated environments, running in real-time. The frames arrive at a fixed 30 FPS, and sampl

[2019-04-14 12:43] opherlieber opened #4626 "[rllib] wrong target discount in DQN in case of truncated n_step"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: source
- **Ray version**: master branch
- **Python version**: 3.6
- **Exact command to reproduce**:

### Describe the problem

In DQN, when using 'truncate_episodes' batch_mode, it looks like the last <n_step-1> samples in each sample batch get a truncated

[2019-04-14 14:03] PengZhenghao opened #4627 "[rllib] agents dies at time T, should the environment return obs after that?"
Not a software engineering issue. Just confusing on the output of environments.

Let's clarify the RLlib principles for a custom multi-agent environment:

1. Obs and Reward should have the same keys.
2. Infos's keys must be a subset of Obs.
3. For the convenient for post-processing the observation, the observation should basically have same shape, and must be numpy array (That means, None is not a

[2019-04-14 15:57] pengzhenghao opened #4628 "[rllib] misleading sample_batch_size and train_batch_size in Multi-agent scenario."
Note that this is a different issue with #2957.

In multi-agent scenario, the `sample_batch_size` is the number of **environment steps** sampled from **each environment**, and the `train_batch_size` is the number of **environment steps** sampled from all available environments.

From standard single agent scenario these two words seems reasonable, since the data used to train the neural network ha

[2019-04-14 18:24] PengZhenghao commented on #4569
For the potential reader:

`resume` argument do nothing but continue the last unfinished task. In this mode, it's no allowed to reset the `num_iters`.

`restore` argument take the path of the checkpoint file as input. Concretely, the file look like `~/ray_results/expname/envname_date_someothercodes/checkpoint_10/checkpoint-10`. Note that the checkpoint files would only exist for those `tune.run()`

[2019-04-14 19:39] Guilherme-B commented on #4496
Sorry for the long delay, took me a while to get AWS to approve the new instances. Ran tests for a few more training iterations - about 5.5k - and the result is rather odd.

I recorded the actions under custom metrics, to see their evolution throughout time, so I can plot them and get some understanding of what it is learning.

Here is the chart (sorry for the ugly thing, just using excel to make

[2019-04-14 20:39] ericl commented on #4625
Thanks for bringing this use case up. I think that, given we cannot easily achieve the required latency in other settings, we will have to continue to support sample_async.

Feel free to open a PR to un-deprecate it. I think the config doc could also be updated to point out the main use case of sample_async -- the reason it was originally deprecated was because many users were confused about what

[2019-04-14 20:48] ericl commented on #4626
Yeah, I think you are right, the target calculation should also take into account the truncated n_step. Though as you point out for small n the error is trivial.

cc @joneswong what do you think?

[2019-04-14 20:54] ericl commented on #4627
Hm, is principle (4) correct? While an obs is returned for done agents in gym (which is a bit odd), I think these obs are ignored in the sampler if the agent is done:

https://github.com/ray-project/ray/blob/master/python/ray/rllib/evaluation/sampler.py#L414

If you have a script where an agent is getting an action from the sampler even after it set done=True in the last step, that would be useful

[2019-04-14 20:56] ericl commented on #4628
Yeah some renaming here makes sense. Another possibility is `sample_batch_size => env_unroll_length`, and `train_batch_size => train_env_steps`. I'm not sure if a standard convention has emerged in the community here.

[2019-04-14 20:57] Kismuz commented on #4614
yes, I would like to do this but  since I'm new to the ray and rllib some guidance would be greatly appreciated:

**Commit 1: generalising evaluate loop:**
We need:
-  update COMMON_CONFIG at https://github.com/ray-project/ray/blob/master/python/ray/rllib/agents/trainer.py#L41
 with ==Evaluation== block from DQN config and remove it from https://github.com/ray-project/ray/blob/master/python/ray/rl

[2019-04-14 21:08] ericl commented on #4614
Cool, some answers inline:

You could instead add it to the `Trainer.train()` method which in turn calls Trainable.train which calls Trainer._train().

Sounds good. I would probably add a generic "evaluation_config" to trainer config that can be merged with self.config to override potentially any value, including env_config. You can use the merge_dicts() utility function for that.

For Categorical

[2019-04-15 02:40] joneswong commented on #4626
yes, this is a problem. I am afraid that taking this into consideration by the TF computation graph is costly. How about post-processing `batch_size + n each` samples each time to generate `batch_size` ones for training, and then we continue interaction with the last `n` samples reserved.

[2019-04-15 02:44] ericl commented on #4626
Hm, that was the old strategy but it has bad behaviour around rollout boundaries.

Is it expensive to take the n into account? We could feed an array of the actual n step value used for each transition.

[2019-04-15 03:25] joneswong commented on #4626
I forgot the `assert not any(dones[:-1]), "Unexpected done in middle of trajectory"` assertion in the `_adjust_nstep` method. It seems that each postprocessed trajectory has only one done mask at the end. In this case, the last n-1 samples have `done=True` and thus `gamma ** n` would not introduce any bias.

[2019-04-15 03:29] guoyuhong commented on #4624
Do you think this is related to https://github.com/ray-project/ray/pull/4499 ?

[2019-04-15 04:41] szymonWojdat commented on #4371
Just to make sure I understand the whole process of porting Kaixhin's Rainbow:
1. Add an RLlib dependency to Rainbow so that it uses RLlib's Evaluators and Trainers
2. Add a few "run" scripts to RLlib that would use the stuff that just got integrated into Rainbow
Is this correct? I think I might be missing something in what do we exactly add to RLlib (assuming more than just run examples).

[2019-04-15 04:52] PengZhenghao commented on #4627
I made mistake on "principle 4", as the codes show what going on.

Saying "die at timestep T-1", I means the `done=True` and `reward=dead penalty` should be returned after the action `a_{t-1}` conducted. So more precisely saying, the transition at timestep T-1 to timestep T is:

[code]

[2019-04-15 05:01] ericl commented on #4371
I meant adding it to RLlib: you would implement a RainbowTorchPolicyGraph
that wraps the rainbow code, that way it can support running distributed
with Apex. This can be added to the agents/dqn directory similar to pytorch
support for a2c.

On Sun, Apr 14, 2019, 9:41 PM szymonWojdat <notifications@github.com> wrote:

[2019-04-15 05:23] exploringNewThings opened #4631 "All the trials for Hyperband gets terminated after 1 epoch only, even though max_t=50"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.5
- **Python version**: 3.6.7

### Describe the problem
The current configuration of Ray done makes use of Hyperband based optimization algorithm. The max_t variable which specify the max iterations a configuration can r

[2019-04-15 06:25] richardliaw commented on #4631
Hm, can you take out `mean_loss` from `"stop"`? Stop assumes increasing metrics (and there's an issue to track this #4120)

[2019-04-15 06:53] ericl commented on #4627
Yeah, I think the last observation is not that useful for training. It can be set to all zeros or anything convenient.

[2019-04-15 06:58] #4627 closed

[2019-04-15 08:21] ericl commented on #4371
https://ray.readthedocs.io/en/latest/rllib-concepts.html has an overview of the high level organization in rllib, of which you'd need to implement only the policy graph component since the rest is already there for DQN.

[2019-04-15 09:04] simon-mo opened #4632 "No `log_to_driver` option in cli mode"
When running `ray start` in command line mode, there isn't a `log_to_driver` option. Specifically, I'm looking for a way to easily disable `log_to_driver` on worker node.

Context:
- PR #3892 was merged to provide log_to_driver option

[2019-04-15 12:10] opherlieber commented on #4626
It only validates that the trajectories don't have a 'done' in the middle (i.e. only allows 'done; at the end, but doesn't require it), but the trajectories can still have no 'done' at all if they are from the middle of an episode (when using 'truncate_episodes'), this is usually the case for long episodes.

[2019-04-15 12:28] exploringNewThings commented on #4631
Yes this seems to be working as it is has already run more than an epoch now.
Thanks.

[2019-04-15 12:29] #4631 closed

[2019-04-15 12:45] PgLoLo opened #4635 "How to guarantee the actor was shutted down?"
I have an actor that performs some work with csv.writer. I read that actor should be destroyed right after the objects goes out of scope but it looks like it's not the case: csv.writer is not flushed after the actor goes out of scope.

How can I wait until the actor is completely destroyed?

[2019-04-15 13:50] joonleesky opened #4636 "[rllib] role of the train_batch_size in the A3C implementation"
In rllib.optimizers.AsyncGradientsOptimizer,
`for e in self.remote_evaluators: `
&nbsp; &nbsp; `e.set_weights.remote(weights)`
&nbsp; &nbsp; `future = e.compute_gradients.remote(e.sample.remote())`
&nbsp; &nbsp; `pending_gradients[future] = e`
&nbsp; &nbsp; `num_gradients += 1`

Gradient updates seem to be based on the sample_batch_size and replacing the remote worker's weights seems to be based o

[2019-04-15 14:13] joneswong commented on #4626
my fault...so we cannot depend on that the last n-1 samples do not need the estimated target q values. Besides, as the correct discount factor changes according to the `done_masks` of the last n-1 samples, it is not viable to prepare a fixed array of discount factors. Thus, I think we'd better change `Sampler` to enable the old strategy.

[2019-04-15 14:14] to266 opened #4637 "[tune] trial state upon interruption of tune.run"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: binary (pip)
- **Ray version**: 0.6.5
- **Python version**: 3.6.8
- **Exact command to reproduce**:

### Describe the problem

This is actually a question/request. What happens is:

1. Run `ray.tune.run(MyTrainable, **other_args)`.
2. While (1) is tr

[2019-04-15 14:27] nikola-j commented on #4578
It seems that this just requires the observations to be numpy arrays, also the second ValueError output is incorrect if you are using an obs space other than box, it should probably be changed to: `"Every element of the observation should be a np.array"`

[2019-04-15 16:07] ericl commented on #4578
Ah yes, this is a partially a bug in gym that doesn't accept lists instead
of arrays. Which obs types besides Box also raises causes that error? I can
send a patch upstream to fix it for future gym versions.

On Mon, Apr 15, 2019, 7:27 AM Nikola Jovicic <notifications@github.com>
wrote:

[2019-04-15 16:09] ericl commented on #4626
We can compute a dynamic array of discounts and feed that in right? For example vtrace does this, though we feed in a constant array.

[2019-04-15 21:33] mitar opened #4638 "Disable ray low memory monitoring"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 18.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.1
- **Python version**: 3.6.7

### Describe the problem

I noticed that now Ray raises a low memory exception. In our case we configured OOM so that it kills Ray workers if there is OOM situation. This feels a better approach to us b

[2019-04-15 21:35] mitar commented on #4638
Also, inside container just reading host memory consumption (which looks what you are currently doing) does not really tell you if container does not have any cgroups set on memory use which could make container have in fact less memory (which then triggers OOM inside container when reached). You should probably look at memory related cgroups from inside the container to figure this out.

[2019-04-15 22:12] gowthamnatarajan opened #4639 "How to handle Ordinal input and output?"
The observation space is ordinal, like 5, 10, 18, 23, 31 and the action is to choose any 3 from the input, like, 10, 18, 31,
How best to represent the above observation and action space?
I cannot make it a continuous space because, the action MUST be a subset of the observation space. Continuous action space can output ANY number and not just from the observation space.

I cannot make it discrete

[2019-04-15 23:38] mitar opened #4640 "MemoryMonitor uses print instead of logger"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 18.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.1
- **Python version**: 3.6.7

### Describe the problem

[code]

There is no way to suppress this message. If I install (or have on my system for other reasons) `psutil` then message is suppressed, but I cannot disable low memory exc

[2019-04-16 00:51] ericl commented on #4636
I don't think that config is used by A3C.

[2019-04-16 00:52] ericl commented on #4639
That's exactly what parametric actions can do, check it out: https://ray.readthedocs.io/en/latest/rllib-models.html#variable-length-parametric-action-spaces

[2019-04-16 01:37] gowthamnatarajan commented on #4639
I am confused. Those parametric actions can handle variable length actions. How do they make sure the action space is a subset of observation space?

[2019-04-16 03:02] joneswong commented on #4626
I guess that [gamma**n, ..., gamma**n, gamma**(n-1), ..., gamma**1] is always viable, since we have correctly propagated the `done_mask` which enables transitions with `done_mask==True` to ignore the correct/incorrect discounts.

[2019-04-16 03:41] gowthamnatarajan commented on #4639
Thanks. That helps a lot.
But, how to make sure, the action is a subset of the observation space? That is, the action is to choose something from the observation space.

[2019-04-16 04:44] #4352 closed

[2019-04-16 06:34] gowthamnatarajan commented on #4639
Thanks. It helps a lot.
But, how do I make sure, the actions are a subset of the observation? For example, the observation can have any 5 numbers. The output should be a max of any 3 numbers out of those 5.

[2019-04-16 06:58] robertnishihara commented on #2212
@DuaneNielsen right, using one file is just a quick workaround. Non-trivial projects should be Python modules that are installed on all of the machines so that the code is already available.

[2019-04-16 07:19] nikola-j commented on #4578
multi_binary and multi_discrete will also cause the error, thanks

[2019-04-16 07:35] mitar commented on #4638
Oh, I see you added this in #3605. Time to update Ray. :-)

[2019-04-16 08:25] mitar opened #4641 "Setting temp directory does not really work"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.6.5
- **Python version**: 3.6.7

### Describe the problem

It looks like setting `temp_dir` does not really fully work. I test by first doing `ray.init` and setting `temp_dir`. After running our test suite there are few er