[2021-08-05 07:48] adyomin opened #17604 "[docs] "latest" tag at docs.ray.io still points to 1.4.1 docs"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
n/a

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

Open https://docs.ray.io/en/lat

[2021-08-05 08:08] robot-xyh commented on #15206
I ran into the same problem

[2021-08-05 08:24] #16706 closed

[2021-08-05 09:06] jovany-wang commented on #13854
Tao is working in progress: https://github.com/ray-project/ray/pull/17339

[2021-08-05 09:13] MartinBubel commented on #7133
I encountered this issue as well. I found a workaround which might be far away from a best-practice style but might be helpful for anyone looking for a simple fix:<br>
For me, moving the `sys.path.append` and the respective `import ...` to the `@ray.remote` function
[code]
fixed the issue. That workaround for sure is inefficient and kind of ugly but may do the job for anyone simply trying to get s

[2021-08-05 09:20] #15300 closed

[2021-08-05 09:25] #16703 closed

[2021-08-05 09:25] #16704 closed

[2021-08-05 09:25] #16705 closed

[2021-08-05 12:22] chanshing opened #17611 "[docs] Tutorial on Pytorch Lightning needs rearranging"
The tutorial on how to use Pytorch Lightning needs to be rearranged a bit
https://docs.ray.io/en/latest/tune/tutorials/tune-pytorch-lightning.html

For example:
![image](https://user-images.githubusercontent.com/5551642/128348657-fee4cec5-472c-4c90-9261-ddd86965306f.png)

The code snippets seem to have been shifted somehow.

[2021-08-05 12:45] #16252 closed

[2021-08-05 14:09] krfricke opened #17612 "[datasets] `random_shuffle` overspills objects on random node"
### What is the problem?

When using `random_shuffle`, the object store spills objects even though the disk is full. This leads to filesystem errors.

Usually, objects are only spilled on one of the nodes. In the cluster setup, the head node has 200 GB storage space and the worker nodes 100 GB. One worker node seems to consistently overspill their disk.

### Reproduction (REQUIRED)

`simple_spill.

[2021-08-05 14:12] krfricke commented on #17612
Note that in my tests this usually only happened on a single worker node (not all of them) - only one node would try to spill objects to disk.

Also, if the `random_shuffle()` call is commented out, I never saw this issue, so it might be related to that.

[2021-08-05 14:17] krfricke commented on #17593
I'd vote for eventually consolidating these classes into one. There is no discernible use case (anymore?) to implement an own trial executor. Also, in most cases it should then be possible to just inherit from `RayTrialExecutor` instead.

Thus, we should deprecate the class and remove it in a future release.

[2021-08-05 14:36] krfricke commented on #17568
cc @sven1977

[2021-08-05 15:03] Yard1 commented on #17593
Agreed, though we should still do a depreciation cycle.

[2021-08-05 15:05] #17518 closed

[2021-08-05 16:05] richardliaw commented on #17594
@ijrsvt @DmitriGekhtman can you take a look? This is quite confusing behavior.

[2021-08-05 16:16] DmitriGekhtman commented on #17594
@xwjiang2010 I think `~` should resolve correctly to the home directory in both cases? Let us know if that works.

Either way, the documentation could be improved here.

By the way, you may be interested in checking out the new [runtime environments](https://docs.ray.io/en/master/advanced.html#runtime-environments-experimental) functionality for syncing files.
I think runtime envs will be the pref

[2021-08-05 17:46] rkooo567 commented on #17612
So, if we raise the exception and crash the workload, is it the expected behavior?

[2021-08-05 17:47] richardliaw commented on #17612
Actually, not really. What's the operating rule of thumb here (for disk space vs data size)?

[2021-08-05 17:55] #17370 closed

[2021-08-05 17:55] sabeaussan commented on #17370
Yes, thx for the clarification.

[2021-08-05 18:00] ericl commented on #17612
Two issues:
- How do we raise an error message here
- How do we avoid this imbalance scenario
It would be good to review how other systems handle disk space full (iirc, stop accepting tasks is a common solution but may not work for us)

[2021-08-05 18:02] akern40 commented on #17491
I'm having the same issue. It appears the bug was introduced in 1.5.0, since running the exact same scripts using 1.3.0, 1.4.0, and 1.4.1 works as expected.

[2021-08-05 18:06] amogkam commented on #17491
cc @rkooo567

[2021-08-05 19:03] #15262 closed

[2021-08-05 19:08] richardliaw commented on #17554
@DmitriGekhtman as per request from Zhe @zhe-thoughts , can you make sure this issue gets associated with the serverless team (maybe the milestone)?

[2021-08-05 19:10] djdongjin opened #17616 "[Dataset] Write a dataset fail if the path doesn't exist"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Build from source, python 3.8.10, MacOS

When writing a dataset to a path that doesn't exist, it will fail. Is this expected or `ray` should create the output folder if not exist and then write the dataset to it? If it's not expected, I can send a PR to fix this.

### Reproduction (REQUIR

[2021-08-05 19:15] ericl commented on #17616
I agree we should probably create the directory if it doesn't exist! A PR would be great.

[2021-08-05 19:16] djdongjin commented on #17616
Then I will try to send a PR today :)

[2021-08-05 20:28] giancds opened #17618 "[rllib] After creating a trainer, matplotlib plots won't show in jupyter notebooks"
### What is the problem?

Before creating a RLLib trainer, plots work fine. As soon as a trainer is created, the output of a plot in a jupyter notebook is something similar to `Figure(432x288)`

*Ray version and other system information (Python version, TensorFlow version, OS):*

* MacBook Pro M1, 8gb
* OS: macOS Big Sur (11.5)
* Python 3.9
* ray version: '2.0.0.dev0'

### Reproduction in Jupyter

[2021-08-05 20:46] #16591 closed

[2021-08-05 21:06] #17242 closed

[2021-08-05 21:16] DmitriGekhtman commented on #17554
Sure, milestone applied!

[2021-08-05 21:56] rkooo567 opened #17621 "[Log] When the driver is crashed with FATAL logs, it is not printed to the stdout."
### What is the problem?

Currently, cpp core worker logs are logged to the file. It is usually fine, but for driver, it can cause issues. When the driver is crashed with FATAL error, that error message is only logged and not printed to the driver, which can give confusion that driver is crashed out of blue. It happens because our logger basically logs core worker logs to the file only. We should

[2021-08-05 21:58] rkooo567 commented on #17621
@ericl If we emit FATAL logs to stderr of core worker, it can also stream FATAL error to driver because core workers are child processes of raylet, and their stderr is redirected to the raylet's stderr (which is redirected to raylet.err I believe)

[2021-08-05 22:01] ericl commented on #17621
Duplicates https://github.com/ray-project/ray/issues/12893

[2021-08-05 22:01] #17621 closed

[2021-08-05 22:02] rkooo567 commented on #12893
One of possible implementation; https://github.com/ray-project/ray/issues/17621

[2021-08-05 22:02] rkooo567 commented on #12893
Note that this implementation probably won't cover all use cases. For example, RAY_LOG(ERROR) from core workers are not printed to the driver (which is probably the ideal behavior?)

[2021-08-05 22:03] ericl commented on #12893
We definitely want ERROR logs to end up on the driver in all scenarios (otherwise, it should not be an ERROR level log).

[2021-08-05 22:53] rkooo567 commented on #17621
Btw, this is technically different issue from #12893. For example, implementing this can solve #12893 as a side effect, but #12893 doesn't guarantee this will be supported (since driver will be killed before the message is published).

[2021-08-05 22:54] rkooo567 commented on #17369
The PR reverted

[2021-08-05 22:58] rkooo567 commented on #14305
I've seen lots of this error from the raylet logs. Do you know what this means?

[code]

[2021-08-05 23:01] rkooo567 commented on #14305
Also, can you try starting ray with

`ray start --head` and connect to it using `ray.init(address='auto')` and see if the same kind of issue happens, or it behaves differently?

[2021-08-06 00:12] #17170 closed

[2021-08-06 00:49] ericl opened #17625 "Remote tasks show as ray::IDLE -> 100% CPU in top"
run `ray.data.range(int(10e9)).sum()` and check top:

[code]

cc @rkooo567 @wuisawesome regression?

[2021-08-06 00:53] jovany-wang commented on #17602
@ashione

[2021-08-06 01:29] rkooo567 commented on #17625
I think this is the existing usability issue. I saw when the task runs for a short time, the process name is IDLE although there was a task running.

[2021-08-06 01:59] stephanie-wang opened #17628 "[core] Task concurrency limited when pull manager has requests queued"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 2.0dev

The pull manager will only pull task args up to the available capacity in the local object store. However, sometimes space can also be made by spilling local objects. So a node  with lots of local objects can execute much fewer tasks than expected concurrently, according to its av

[2021-08-06 02:00] stephanie-wang commented on #17628
@rkooo567 @scv119, this is a performance issue not a stability one, but I think it could lead to big slowdowns when there are lots of cores that go unutilized.

[2021-08-06 02:14] rkooo567 commented on #17628
I have one question! Does it happen only when we pull for the first time in a while? For example, if we are actively pulling the spilling is already started, so we don't see this issue?

[2021-08-06 02:28] #14914 closed

[2021-08-06 02:44] suquark opened #17629 "GCS crashes when looking up killed named & detached actor"
### What is the problem?

As in the title.

### Reproduction (REQUIRED)

[code]

Then GCS crashes with

[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

[2021-08-06 02:45] suquark commented on #17629
Not sure this should be P0 or P1

[2021-08-06 02:49] rkooo567 commented on #17629
Seems like an easy fix?

[2021-08-06 03:05] chenk008 opened #17630 "[Core] Make WorkerCacheKey more extentional"
### Describe your feature request

Currently `WorkerCacheKey` has three member: two map and one string.  I think we can make it more extentional.

How about use one `std::unordered_map<std::string, std::string>` in `WorkerCacheKey`? We put key-value pairs into `WorkerCacheKey` on demand.

[2021-08-06 03:12] jovany-wang commented on #17630
I don't know what the best practice is for this issue yet, but it's necessary to refine it to avoid future bugs.

[2021-08-06 03:18] #15587 closed

[2021-08-06 03:18] #17417 closed

[2021-08-06 03:20] ericl commented on #17625
These tasks are long running. It's a bug.

On Thu, Aug 5, 2021, 6:29 PM SangBin Cho ***@***.***> wrote:

[2021-08-06 03:39] jsuarez5341 opened #17631 "[rllib] Add toggle to disable automatic min/max/mean computation"
Ray automatically computes min, max, and mean for each metric here: https://github.com/ray-project/ray/blob/5a45009ebc40f1a96a75ff52e1532ff4a86f21eb/rllib/evaluation/metrics.py#L177

There is currently no way to disable this feature, which does not play nice with certain integrations. In my case: it spams the wandb integration with tons of redundant plots:

![image](https://user-images.githubuserc

[2021-08-06 03:54] stephanie-wang commented on #17628
I don't think it matters when the last time we pulled was. The problem is that the PullManager is trying to limit how many active pulls there are so that it doesn't trigger OOM, but by doing that, it also doesn't ever trigger spilling. So we might end up pulling much less memory than we could actually use.

[2021-08-06 05:12] iycheng commented on #17629
I'm resigning myself since I'm a little bit out of bandwidth busy checking the actor-killing client issue. I think this should be a p0 since it crashes GCS.

[2021-08-06 06:54] adyomin commented on #17604
Thanks for fixing this! Closing the issue.

[2021-08-06 06:54] #17604 closed

[2021-08-06 07:28] rkooo567 commented on #17629
I can take it next sprint

[2021-08-06 08:36] raulchen commented on #12834
hi @kira-lin , #17605 will fix this issue.

[2021-08-06 08:55] cbravo93 commented on #14305
Hi!

Ray seems to not be found from CLI (do I need to add something before ray start?). About the error, I also noticed it, it also appears just running ray.init().

The "solution" I found for this issue was to keep raylet quiet by:

[code]

It still prints relevant errors from the process I am running, while making my notebooks look much nicer without the infinite errors :)

Of course this does n

[2021-08-06 15:34] xwjiang2010 commented on #17594
Thank you!!
Sounds good. I'll give ~ a try next time. May be worthwhile to update the documentation, especially since we have so many ways of achieving similar things, including the newly come up runtime environment.

[2021-08-06 16:11] #17348 closed

[2021-08-06 16:50] #16390 closed

[2021-08-06 17:34] wuisawesome opened #17643 "Actor scalability envelope failing on 1.6 branch"
### What is the problem?

(needs investigation still)

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the

[2021-08-06 18:58] nikitavemuri opened #17644 "Error while killing actor started in non-current namespace"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Python 3.7, Ray `57b190c98770c0582d525076c261a104fc72a66a`

### Reproduction (REQUIRED)
[code]
This fails when getting the actor after it is killed with error:
[code]
This also fails with the same error when initially getting the actor handle if the actor is non-detached (`A.options(name=

[2021-08-06 19:09] scv119 commented on #17553
https://gist.github.com/scv119/6741fb95e1fd1af4a428bfa059cc4029 here is a repro I got. Looks like an under reference counting in OBOD. still looking.

[2021-08-06 19:10] rkooo567 commented on #17644
I think it is duplicate to https://github.com/ray-project/ray/issues/17629

[2021-08-06 19:10] rkooo567 commented on #17644
Please re-open it is not.

[2021-08-06 19:10] #17644 closed

[2021-08-06 19:12] edoakes commented on #17590
@simon-mo can you take a look at this? Seems to be fastapi serialization-related.

[2021-08-06 19:17] scv119 opened #17646 "[Core] IDLE worker leaked"
### What is the problem?

In Ray 1.5, we've seen that a head node running with outstanding number of worker nodes. This is an indication that we are not properly released/killed, probably a bug in worker_pool

### Reproduction (REQUIRED)
The simplest way is to run non_streaming_shuffle_1tb_5000_partitions nightly test in both prod or OSS env. When it close to OOM usually we will notice hunderds of

[2021-08-06 19:29] simon-mo commented on #17590
sounds good, note to self:
- it works with ray actor
- it works with serve deployment without fastapi
- seems like related to `FastAPIWrapper` inheriting the class and cause trouble for not pickling def hello.

[2021-08-06 20:06] OrEisenberg opened #17647 "Empty error at the end of script getting futures from ray server on cluster."
[autoscaler]

### What is the problem?

- python version: 3.7/3.8 (confirmed that it breaks for both)
- `ray` version:  1.5.1
- local OS: MacOS Big Sur 11.4 (local)
- remote OS: ubuntu focal 20.04 (remote)

### Reproduction
I set up a ray cluster which, upon launch, configures itself to be a server (config file to follow). I then run the following script locally.

[code]

Here is the perplexing st

[2021-08-06 20:49] richardliaw opened #17648 "ray.exceptions.RaySystemError: System error: Broken pipe when calling `shuffle`"
This workload provides nonstop exceptions:

[code]

Here's the project: https://beta.anyscale.com/o/anyscale-internal/projects/prj_Rztp4a5rBZCDvG6vtLZDgpX8/sessions/ses_xDXxh4H9reZmftcHLqKmGMFn?command-history-section=head_start_up_log

Cluster config:
[code]

Here's the output:

[code]

[2021-08-06 20:55] rkooo567 commented on #17648
cc @wuisawesome who's the best person to look at this while Eric is not available?

[2021-08-06 20:56] wuisawesome commented on #17648
@clarkzinzow or I can probably take a look at this next sprint.

[2021-08-06 20:59] rkooo567 commented on #17648
@wuisawesome

[code]

This is from the failed nodes.

Btw, we should capture this broken pipe error and instead say it is due to the raylet death.

[2021-08-06 21:10] rkooo567 commented on #17648
My guess the heartbeat is probably impacted by other network heavy workload. @richardliaw does the workload have some huge network usage outside Ray now? e.g., (lots of network read that eats up the network bandwidth)

[2021-08-06 21:22] architkulkarni opened #17652 "Extend API stability annotations to apply to specific kwargs"
### Describe your feature request
The public/beta stability annotations in `annotations.py` are very useful.  Right now they can be used to decorate methods, e.g.
[code]
I'm not sure exactly how it would work but it would be great to have a similar way of annotating keyword arguments (for example, the `runtime_env` kwarg of `Actor.options()`, `ray.init()`, etc, for which we currently manually incl

[2021-08-06 21:33] richardliaw commented on #17648
No, it's just Ray. In fact it also fails on OSS (not product).

[2021-08-06 22:41] jsuarez5341 opened #17653 "[rllib] Torch multi GPU does not work with RNNs"
Latest Ray nightly on python 3.8, Ubuntu

[code]

produces error:

ValueError: cudnn RNN backward can only be called in training mode In tower 0 on device cuda:0

[2021-08-06 22:42] jsuarez5341 commented on #17653
@sven1977 Awesome work on multi gpu btw, just the one gotcha above :)

[2021-08-07 01:52] sven1977 commented on #17653
Confirmed. This PR fixes the issue:
https://github.com/ray-project/ray/pull/17657

[2021-08-07 02:28] rkooo567 commented on #17648
Actually I can take over this task. It looks like it is related to io layer stability. Our goal is basically to make sure this workload runs reliably

[2021-08-07 04:34] holdenk opened #17658 "Image Pull secrets causes an error"
### What is the problem?

After 208d997414986710b79022db99373f7f9a11e39e I get an error trying to deploy helm

### Reproduction (REQUIRED)

[code]
- [ X] I have verified my script runs in a clean environment and reproduces the issue.
- [ X] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

[2021-08-07 08:37] richardliaw commented on #17491
@import-antigravity and @akern40 thanks a bunch for reporting this!

Can you tell me a bit about your slurm setup? Are you using singularity?

[2021-08-07 13:39] #11506 closed

[2021-08-07 16:09] al-rigazzi opened #17662 "Ray Client not connecting"
When trying to connect to the client (with either `ray.init("ray://<host_ip>:10001").connect()` or `ray.client("<host_ip>:10001").connect()`, I get the following Redis error (where `<host_ip>` and `<CONDA_ENV>` correctly reflect my system setup):

[code]

This has been a problem starting with Ray 1.4 and is a problem in Ray 1.5.1, but it was totally OK in Ray 1.3

[2021-08-07 17:22] DmitriGekhtman commented on #17662
Thanks for raising this here.

Recalling context from Slack -- this cluster is deployed manually by running Ray start on the relevant nodes with a custom Redis password.
@ijrsvt this looks similar to another Redis password issue you resolved recently -- it had something to do with the proxier.

It's generally not recommended to use a custom Redis password to secure the Ray head's Redis. (You shoul

[2021-08-07 18:24] al-rigazzi commented on #17662
@DmitriGekhtman Thank you for your reply! So, just to make sure, I am just using the Redis password option for `ray start`. Do you think I should not use that argument, and leave the default password? I am not sure all of our users can secure the ray network, especially on large shared systems.

Anyhow, let me know if I can provide more details to help you solving the issue.

Thanks!

[2021-08-08 07:18] tekumara opened #17663 "ray dashboard memory tab loading wheel when nothing running"
A cluster with nothing running will show an infinite loading wheel, rather than report nothing. This is a confusing UX because it does not distinguish between "please wait" and "there's nothing running".

<img width="509" alt="Screen Shot 2021-08-08 at 5 10 12 pm" src="https://user-images.githubusercontent.com/125105/128624166-6761a75e-dc6e-4848-9dfe-3463a49fc966.png">

ray 1.5.1

### Reproduction

[2021-08-08 07:27] Akkarine commented on #7317
I can add, that dashboard also consumes memory

[code]

And after 9 hours process still busy with something (consumes 100% one core)

It always happens with clean start on such cluster:
![image](https://user-images.githubusercontent.com/13115270/128624352-91b8720a-0cc5-4bd3-97cd-48273c73988f.png)

<details>
<summary>My setup</summary>

I've set up cluster manually with `ray start` on bunch of old

[2021-08-08 08:30] ferrantedev commented on #17397
Just in case anyone stumbles upon this issue and is running Ray locally, adding `local_mode=True` to the `ray.init()` call could fix the issue, just make sure Tensorflow or PyTorch are able to detect the GPU

[2021-08-08 12:20] tekumara commented on #17658
Same issue here.

To reproduce:

[code]

[2021-08-08 22:15] xwjiang2010 opened #17665 "[tune] TrialExecutors should not have dependency on TrialRunner"
### Describe your feature request

Several of TrialExecutor's methods are relying on TrialRunner: on_step_begin/end, on_no_available_trials, cleanup. These should really just have access to List[Trial] rather than the whole TrialRunner interface.

[2021-08-09 00:52] jiangtianli91 commented on #11959
@rkooo567 @wuisawesome Hello, it seems that cloudpickle has merged a pull request [(here)](https://github.com/cloudpipe/cloudpickle/pull/417) that can solve this issue. I wonder whether it can be implemented here?

[2021-08-09 03:42] juliusfrost opened #17667 "[rllib] CQL GPU error when num_gpus=1"
### What is the problem?

I'm getting the following error when I try running CQL. It just started happening this week while I was on the nightly wheels.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The sni

[2021-08-09 04:14] QWQyyy opened #17668 "Ray1.4版本，在已经搭建的集群上跑python代码时报错，无法远程连接虚拟机中的集群"
集群是成功运行的
![image](https://user-images.githubusercontent.com/54056797/128659376-ff0cdc4d-8a35-4dbc-96ab-d980fb81f4ee.png)
远程无法操作集群，报错redis.exceptions.ResponseError: WRONGTYPE Operation against a key holding the wrong kind of value
![image](https://user-images.githubusercontent.com/54056797/128659346-816c9a29-22bf-4609-ba2d-b22dafb3b027.png)
可以ping通，防火墙也已经关闭，但是却出现这个问题

[2021-08-09 04:31] xwjiang2010 commented on #17346
I did a little survey of the current scheduler/searcher APIs.

There seems to be at least 3 similar/potentially conflicting way of specifying scheduler/searcher behavior:
- when they are initialized (this can be done by user, outside of tune.run()'s implementation, or done in tune.run())
- set_search_properties API. In the case of searcher, this interface is extended to take `config: Dict`. In exa

[2021-08-09 05:30] iycheng opened #17669 "Better support of wf.cancel"
Right now `workflow.cancel` doesn't actually cancel the tasks due to some error in ray. Need to fix it.

[2021-08-09 05:52] rkooo567 commented on #17514
This test is not needed anymore

[2021-08-09 05:52] #17514 closed

[2021-08-09 06:36] fishbone opened #17672 "workflow cli to manage all jobs"
Integrate with ray serve to provide a cli to manage all jobs. It should include:

[code]

[2021-08-09 08:41] richardliaw commented on #17346
This is a great set of questions. Ignoring schedulers for now, a couple comments:

I think this is basically only used to specify the number of samples used in searcher?

Ideally each config value will be specified in only one place. The searcher init function should be the landing place for all optimization algorithm-specific parameters. Right now we have some overlap, like `metric/mode/time_budg

[2021-08-09 10:24] auderson opened #17673 "cancelling a task causes grpc._channel._InactiveRpcError"
Hi, I'm running a ray cluster on k8s. Both the server and my client's version is 1.5.1.
[code]

### Reproduction (REQUIRED)

[code]
First I start an actor that stores records in a dict, and now I want to read the record.

[code]
This will correctly raise a `KeyError`

[code]
This will correctly raise a `GetTimeoutError`

Now note that the actor is running in the while loop forever because I specif

[2021-08-09 11:27] tesla-cat opened #17674 "[tune] tune outputs repeated block that says `PENDING`"
## Solved by removing `import matplotlib.pyplot as plt`, but still want explanation

- my code

[code]

- I get repeated blocks like this that says `pending`

[code]

[2021-08-09 11:53] tomjamescn opened #17675 "dashboard process crash cause ray cluster crash"
### What is the problem?
Frequent requests between actors in head node and worker node cause the dashboard to not respond, which in turn causes the entire cluster to crash.

If disable dashboard when starting ray cluster, everything is ok.

Ray 1.3 1.4 1.5.1

[2021-08-09 12:27] jaredvann commented on #15893
Error still occurs with version 1.5.1.

@ijrsvt the download bar freezes for about 10-15 seconds before showing the error message and the process exiting.

[2021-08-09 13:01] Yard1 commented on #17346
@xwjiang2010 The searcher/scheduler initialization always takes priority over `set_search_properties`. That method is called in `tune.run`, to set some common properties like config, mode and metric to ensure that they need not to be set again in searcher/scheduler initialization.

Config dict, ideally, should not contain any searcher/scheduler properties. `time_budget_s` in blendsearch should rat

[2021-08-09 13:43] djakubiec commented on #17153
@ijrsvt Following up a little late on this, but it does appear that 1.5.0 does fix this issue, thank you!

[2021-08-09 13:43] #17153 closed

[2021-08-09 14:20] jovany-wang opened #17676 "[Java] Shade some widely-used dependencies in Java."
Some widely used dependencies like guava would be conflicted with the different versions introduced by users.

[2021-08-09 14:29] mickelliu opened #17677 "[rllib] Is it true that TF base policy does not support multi-GPU usage yet?"
Ray Version: v2.0.0.dev0

I tried to run MADDPG both on my own custom environment and `examples/two_step_games.py`, both showed the same error while running on the setting `num_gpus > 1`. The error was encountered when the `load_batch_into_buffer` method is called.

`framework` is `tf`.

[code]

[2021-08-09 14:31] ijrsvt commented on #15893
@jaredvann Hmm, not really sure why this keeps breaking for you. Could you try adding the following `initialization_command`?
[code]

[2021-08-09 16:10] akern40 commented on #17491
@richardliaw we are using Slurm v20.11.3, without Singularity or other third-party container managers. I'm not sure what other information you're looking for (I'm just a consumer of our supercomputing resources, and don't know all of the low-level details) but if there's information that would help debug let me know and I'll see if I can find out.

[2021-08-09 16:14] ijrsvt commented on #16743
@richardliaw @matthewdeng Can we close this issue as the initial problem is solved by [`dask.config.set(scheduler=ray_dask_get)` on the server](https://github.com/ray-project/ray/issues/16743#issuecomment-874974458).

[2021-08-09 17:20] fishbone opened #17679 "Cleanup stats/metrics.h"
After https://github.com/ray-project/ray/pull/17578 we'll need to cleanup the legacy API with metrics.

We'll do it once we are sure the new API is stable and working well.

[2021-08-09 17:29] jaredvann commented on #15893
@ijrsvt no change.

[2021-08-09 17:40] DmitriGekhtman commented on #17662
This is surprising -- I'm pretty sure https://github.com/ray-project/ray/pull/16885 made it into Ray 1.5.

[2021-08-09 18:19] #17089 closed

[2021-08-09 19:22] al-rigazzi commented on #17662
It seems to be still an issue in 1.5.1. In fact, I tried not passing the `--redis_password` argument and everything works.

[2021-08-09 21:39] richardliaw commented on #17491
@akern40 awesome.

I wonder if this is a IP related issue. Can you enable ` RAY_BACKEND_LOG_LEVEL=debug` before you run `ray start`, then post the full folder from `/tmp/ray/session_latest/logs`?

[2021-08-09 22:07] lucaguarro opened #17686 "How to use custom module to load data in Colab environment"
I have created a custom class that is responsible for loading my dataset. In order to use this class in Google Colab, I upload it to my drive and then update the system's path to include the corresponding drive directory.

I essentially do something like:
`sys.path.append('drive/path/to/dataset')`

And now I can import my dataset class located in 'drive/path/to/dataset'
`from MultimodalGoodreadsDa

[2021-08-09 22:10] richardliaw commented on #17686
@lucaguarro hey, this is due to Ray automatically enabling parallelism and needing to run your training on a separate process. Do you have a bit more code that I can look at here?

[2021-08-09 22:13] #16262 closed

[2021-08-09 22:14] lucaguarro commented on #17686
Yes, here is my code

Training Function:
`
def mm_train_fun1(config, checkpoint_dir='/tmp/MultiModalModels'):
  ds = load_data()

  model = FullModel(ds.f_lengths[0], ds.f_lengths[1], config['std_dims'], config['num_units']).to('cuda')
  model.train()

  criterion = nn.CrossEntropyLoss()
  optimizer=AdamW(model.parameters(), lr=config["lr"])

  trainloader = DataLoader(ds.train, batch_size=config[

[2021-08-09 22:22] lucaguarro commented on #17686
Yes, here is my code. Let me know if there is anything else I can provide

Training Function:

    def mm_train_fun1(config, checkpoint_dir='/tmp/MultiModalModels'):
      ds = load_data()

      model = FullModel(ds.f_lengths[0], ds.f_lengths[1], config['std_dims'], config['num_units']).to('cuda')
      model.train()

      criterion = nn.CrossEntropyLoss()
      optimizer=AdamW(model.parameters(

[2021-08-09 22:26] rkooo567 commented on #17675
cc @edoakes

Do you know why that causes crash? does it use high memory usage or something?

[2021-08-09 22:31] rkooo567 commented on #17673
Yeah ray.cancel() is basically causing interrupt to the process, so it shouldn't be used for actors. It can easily corrupt the actor states.

For your case, there's no known support, but you can actually just implement it in this way I believe.

Also note that running a loop inside an actor can be problematic because actors are running in a single thread (it will basically not be able to process a

[2021-08-09 22:31] rkooo567 commented on #17663
cc @edoakes

[2021-08-09 22:33] rkooo567 commented on #17658
cc @ijrsvt

[2021-08-09 22:57] akern40 commented on #17491
Ok, so I went to go set up an environment to try to replicate the issue (using Ray 1.5.1), and have discovered it's flaky. I was previously getting the `global_state_accessor` problem on every node start. Now, when I try to replicate it, I only get it once (nominally, according to my logs, after Ray has started all of the workers and my script starts). I'm not sure why this is.

After that warning

[2021-08-09 23:08] richardliaw commented on #17686
@lucaguarro can you try doing something like:

[code]

[2021-08-09 23:34] akern40 commented on #17491
Here are a few pieces of context. I'm including my submission script and the raw output log from SLURM (edited down to get rid of personal details).

__Submission script:__
[code]

__SLURM output:__
[code]

[2021-08-09 23:46] richardliaw opened #17687 "Issue on page /tune/tutorials/tune-pytorch-lightning.html"
The documentation is not rendering properly due to mis-highlighted regions.

cc @amogkam

<img width="779" alt="Screen Shot 2021-08-09 at 4 46 01 PM" src="https://user-images.githubusercontent.com/4529381/128787982-66514304-e460-408f-bca9-cbc584d1876f.png">

[2021-08-10 00:07] lucaguarro commented on #17686
This didn't seem to work. I also tried to "force" the reimport by doing `from MultimodalGoodreadsDataset import MultimodalGoodreadsDataset` but this also did not do anything.

I am confused as to why raytune can use classes from non-local imports without issue but instead has issues with my own local import. Do all the imports not get transferred over to the new process?

[2021-08-10 00:09] akern40 commented on #17491
Ok lastly, as requested, I'm dropping in all of the contents of the `logs` directory. I'm also including the full SLURM output. Like I did above, all of these are sanitized so that the root directory is replaced with `~`, and IPs are obscured. Hopefully this shouldn't mess up any debugging, I made sure that all of the IPs are still unique. Github doesn't accept `.err` or `.out`, so I've replaced t

[2021-08-10 00:27] ijrsvt commented on #17390
@nikunjm10 they will be in `Ray 1.6.0`!

[2021-08-10 00:30] DmitriGekhtman opened #17689 "[autoscaler][local node provider] Make sure docker state is completely cleaned up"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Some users report trouble due to incomplete docker clean-up with the local node provider.
See discussion here:
https://discuss.ray.io/t/how-do-i-troubleshoot-nodes-that-remaining-uninitialized/2991/5
Might need some LocalNodeProvider-specific logic to fix that. Related to https://github.

[2021-08-10 00:57] richardliaw commented on #17686
Hmm, where does `load_data` get defined? MultimodalGoodreadsDataset should be only imported in the function.

IIRC this is a limitation of cloudpickle. cc @suquark

[2021-08-10 00:58] ijrsvt commented on #17658
@holdenk and @tekumara I think this is addressed in https://github.com/ray-project/ray/pull/17678

@DmitriGekhtman I presume you have an idea of a path forward here?

[2021-08-10 01:10] matthewdeng commented on #16743
Actually @Yard1  is [this](https://github.com/ray-project/ray/issues/16743#issuecomment-872440624) suggestion something you can help with on the `xgboost_ray` side?

[2021-08-10 01:20] DmitriGekhtman commented on #17658
Should be fine to use master after the revert Ian mentioned above.

We'll come back later to adding support for image pull secrets, making sure to maintain backwards compatibility.

[2021-08-10 01:20] #17658 closed

[2021-08-10 01:32] auderson commented on #17673
@rkooo567 I see, thanks for your advice

[2021-08-10 01:41] richardliaw commented on #16979
OK I found out the issue. It looks like if we use a public IP address in dist.init_process_group, the things don't work so well. Specifically, the initialization hangs upon instantiation.

By commenting out L60 in sgd/torch/distributed_torch_runner.py, and then setting the following environment variables in init_hook:
[code]
and then calling init_process_group manually:
[code]
I was able to get th

[2021-08-10 02:47] clarkzinzow commented on #17325
This has always been broken, the schema of individual Parquet pieces/fragments don't include the partition columns since those columns don't exist at the piece/fragment/file level. Pretty sure that the partition columns are added back into the schema at the dataset level.

https://github.com/apache/arrow/blob/6323c12f2273e4473108ecc3a270ab40651a76fd/python/pyarrow/parquet.py#L1401-L1416
https://gi

[2021-08-10 02:58] holdenk opened #17693 "Make TASK_WARNING_THRESHOLD time decay"
### Describe your feature request

In `worker.py` we track the total number of tasks and when exceeds some threshold give a warning that the tasks may be too fine grained. I think this warning could be overly sensitive especially for multi-stage jobs so I think maybe having a rate of task scheduling could help provide the users with a better hint.

[2021-08-10 03:18] #14469 closed

[2021-08-10 03:18] #17114 closed

[2021-08-10 03:59] richardliaw commented on #17568
Escalating this to release-blocker for now, but @sven1977 please advise how we should treat this!

[2021-08-10 04:11] #17369 closed

[2021-08-10 04:17] lucaguarro commented on #17686
load_data is defined as a standalone function in its own cell.

If MultimodalGoodreadsDataset is not available shouldn't I be getting an "ImportError" as opposed to a "No module" error?

[2021-08-10 04:17] richardliaw commented on #17491
Thanks a bunch for all of these logs!

Taking a look, it seems like the sigterm handler in Ray is working properly, but Torch is manipulating the stack in some way:

[code]

which causes the exit code 1 to be returned from that thread.

You mention this is largely a logging issue (your program runs correctly) -- perhaps maybe an easy solution here is just to provide a way to mute this exception lo

[2021-08-10 04:33] nikunjm10 commented on #17390
Okay Thank you @ijrsvt . I am closing this issue.

[2021-08-10 04:33] #17390 closed

[2021-08-10 06:32] quao627 opened #17695 "[rllib] Assertion error caused by rollout_fragment_length in simple_list_collector.py"
Hi, I have been training a custom environment with the PPO policy using a custom model for around 30 iterations and then I got interrupted by an assertion error caused by rollout_fragment_length in simple_list_collector.py.
Currently, I set sgd_minibatch_size as "128", timesteps_per_iteration as "600", and "num_sgd_iter" as 80. Other parameters are set to default. I am not sure if the error is cau

[2021-08-10 07:49] richardliaw opened #17697 "[client] Support `log_to_driver=False` in ray.client"
This can be a usability regression when going from Driver to client.

We probably want to implement like:

[code]

And also allow the RayletServicer to take in kwargs as part of its Init request.

cc @DmitriGekhtman @ijrsvt

[2021-08-10 08:41] alirezanobakht13 commented on #10681
I have this error too. does anyone know how to fix this?

[2021-08-10 08:47] ZekiDorukErden commented on #10681
I found it to be an issue with the version. On Colab I was using version 0.8.7, while the trainer checkpoint I was trying to load was obtained with a later version, apparently not backwards compatible. You may want to check if this is the case.

[2021-08-10 08:50] keyile opened #17700 "May hang when submitting actor task"
### What is the problem?

It could be a deadlock when the main thread (holding GIL) is waiting for the mutex in core worker, and the heartbeat thread (holding the mutex) is waiting for GIL. We provide the corresponding stacks below to make it more clear:

![image](https://user-images.githubusercontent.com/32282736/128835399-6fa9ada7-804d-423a-963c-06103c55f7dd.png)
![image](https://user-images.git

[2021-08-10 15:16] Yard1 commented on #16743
I'll take a look!

[2021-08-10 16:37] akshaygh0sh commented on #17568
@sven1977 My apologies, very badly written bug report. I'll get on it right away.

[2021-08-10 16:39] ijrsvt commented on #17662
@al-rigazzi Are you using `redis_password` or `redis-password` (the latter is the correct one). I was not able to reproduce this with:
[code]
Then

[code]

[2021-08-10 16:55] jovany-wang opened #17704 "[Java] Better log message when failed to invoke tasks."
https://github.com/ray-project/ray/blob/master/java/runtime/src/main/java/io/ray/runtime/task/TaskExecutor.java#L144

`InvocationTargetException` is not enough to be caught. More exceptions may be raised like `IllegageArgumentException`. better to log message with function descriptions, task id and argument types.

[2021-08-10 16:58] #17629 closed

[2021-08-10 17:02] simon-mo commented on #17644
@nikitavemuri looks like the fix is merged via https://github.com/ray-project/ray/pull/17670 (tyvm @rkooo567)! can you try rebase your PR?

[2021-08-10 17:06] akshaygh0sh opened #17706 "[rllib] "AttributeError: 'numpy.ndarray' object has no attribute 'items'" on certain turn-based MultiAgentEnvs with Dict obs space."
### What is the problem?
When trying to train with a DQN (or really any other algorithm - I even tried it with PPO) with the latest nightly installation of Ray , I seem to get a weird error thrown by the DictFlatteningPreprocessor in the write() function over [here](https://github.com/ray-project/ray/blob/a33cbec12a3dff9c3348c3245017754ee50c1a34/rllib/models/preprocessors.py#L266). **This error do

[2021-08-10 17:07] akshaygh0sh commented on #17706
Mentioned in #17568.

[2021-08-10 17:35] akshaygh0sh commented on #17568
@sven1977 I have created the reproduction script above ^, again sorry about that.

[2021-08-10 17:53] ijrsvt commented on #17662
Ah yep, `--redis_password` throws an error for me.

Actually, I'm able to reproduce this on `1.5.1`, but not master.

[2021-08-10 17:56] amogkam opened #17710 "Fix `test_ddpg`"
Fix failing `test_ddpg` test and revert back https://github.com/ray-project/ray/pull/17707
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library depend

[2021-08-10 17:57] amogkam opened #17711 "Fix `test_trainer`"
Fix failing test_trainer test and revert back #17709

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data

[2021-08-10 17:58] DmitriGekhtman commented on #17662
Could

Would you mind doing a quick check with the 1.6.0 release branch?

[2021-08-10 17:59] ijrsvt commented on #17662
It is in the 1.6.0 release branch:
https://github.com/ray-project/ray/blob/658e3668ae296be0348f05ed4c8a18ebcf64e226/python/ray/util/client/server/proxier.py#L221

[2021-08-10 18:20] Yard1 opened #17712 "[serve] fastapi and uvicorn are hard dependencies"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

In the nightly wheels, `fastapi` and `uvicorn` became hard dependencies, causing an exception to be thrown on `ray.init()` if they are not present - and they are not installed by `ray[default]`.

[code]

(line 16 for `uvicorn`).

### Reproduction (REQUIRED)
Install the latest nightly whe

[2021-08-10 18:30] akern40 commented on #17491
Hopefully it wasn't an overwhelming number of logs! You asked for the whole folder, so I figured I'd just do a dump.

It's possible this is just a logging issue - I'll look into whether Ray is getting proper performance out of all of the nodes. However, I don't think Torch is manipulating the stack in a significant manner. Turns out their `fx` module [monkey-patches `linecache`](https://github.com

[2021-08-10 19:55] DmitriGekhtman commented on #17662
and indeed not in the 1.5.1 branch
https://github.com/ray-project/ray/blob/releases/1.5.1/python/ray/util/client/server/proxier.py#L203

Just saw the fix in the release notes draft.

Glad we cleared it up: fixed in master and will be fixed in the upcoming Ray 1.6.0 release!

[2021-08-10 19:55] #17662 closed

[2021-08-10 19:57] richardliaw opened #17714 "[dependencies] Add a test to check the minimal install of Ray."
We should add a build that specifically only installs ray with minimal installs.

We should make sure that this is tested on the cluster.

cc @amogkam

[2021-08-10 20:24] #17323 closed

[2021-08-10 20:31] NathanTP opened #17717 ""Node Failure" on nested references"
### What is the problem?
When nesting actors, you can sometimes get the following error:

This does not seem completely deterministic, although I can reproduce it pretty reliably. The main conditions for it seem to be when and where you ray.get() any of the intermediate references. For example, if an actor in the middle of the call chain ray.get()s one of the nested references before passing it up

[2021-08-10 20:39] stephanie-wang commented on #17717
The error message is misleading but it looks like this might be due to a ref counting issue. What happens if you keep the `actor2` handle in scope?

[2021-08-10 20:54] NathanTP commented on #17717
That does seem to fix it, though the error isn't super deterministic.

The version below works reliably. If you instead create a new actor2 every time within caller, it fails. This could be due to reference counting issues or due to creating a new actor2 for each call. Calling it with n=1 doesn't reproduce for me right now, but I think that's just because the bug is non-determinisitc and my system

[2021-08-10 21:48] stephanie-wang commented on #14580
Here are some notes on the types of failures can occur right now, but that all result in ObjectLostError. I'm also including the metadata that I think we can reasonably include:

1. The object was stored in Ray's distributed memory but all copies have been lost.
  a. We can include the IP address where the object was stored.
  b. We can include object metadata such as call site.
2. The owner of th

[2021-08-10 21:50] al-rigazzi commented on #17662
That's great to know! Thanks for looking into this, we look forward to the next release!

[2021-08-10 21:58] stephanie-wang opened #17718 "[core] Actors force-killed while they still own objects that are referenced"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 2.0dev

Actors are ref-counted and will get force-killed if there are no more references to the actor.

However, this can be problematic if another process references an object owned by that actor. Then, that reference becomes unusable because the actor has been killed. We should fix this

[2021-08-10 22:09] stephanie-wang opened #17719 "[core] Safety bug in distributed reference counting"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 2.0dev

#13309 introduces an optimization for small objects that allows `ObjectRef` holders to get the value directly from the owner. I think this is causing a bug in the distributed ref counting code when ObjectRefs are nested.

The scenario is something like this, where worker W holds a

[2021-08-10 22:12] stephanie-wang commented on #17717
I think I've tracked down the root cause to two issues: #17718 and #17719. So I will close this one for now to avoid duplicating.

For now, the recommended workaround is probably to call the additional `ray.get`s, as you said :/

By the way, is this a blocker for you?

[2021-08-10 22:12] #17717 closed

[2021-08-10 22:17] richardliaw commented on #17714
@amogkam I will assign this to you for now; please delegate/cc help if appropriate

[2021-08-10 22:22] stephanie-wang commented on #17718
The workaround for this issue right now is to keep the actor handle in scope.

[2021-08-10 22:23] stephanie-wang commented on #17719
A workaround for this issue is to run with the environment variable `RAY_max_direct_call_object_size=0`, which will disable inlining objects.

[2021-08-10 22:47] ch1ck opened #17720 "[tune] PAUSED trials still occupy GPUs"
### What is the problem?
I am trying to customize my own scheduler.
In this process, I want to pause those unpromising trials and release GPUs to start new trials.
But I found that neither `return TrialScheduler.PAUSE` in on_trial_result nor using `trial_runner.trial_executor.pause_trial(trial)` can release GPUs resources.

I printed the status of trials and used `ray.cluster_resources().get("GPU"

[2021-08-10 22:57] richardliaw commented on #17720
In `TrainMNIST` maybe you can also use `tune.utils.wait_for_gpu`: https://docs.ray.io/en/master/tune/api_docs/trainable.html?highlight=wait_for_gpu#ray.tune.utils.wait_for_gpu

[2021-08-10 23:13] richardliaw opened #17721 "[autoscaler] Don't tell users to set num_workers for head node"
[code]

^ I get this warning message for my head node (which is explicitly tagged as head node too). Can we please avoid printing this message?

It is unintuitive.

cc @DmitriGekhtman @ijrsvt

[2021-08-10 23:26] DmitriGekhtman commented on #17721
Related to the other issue on this.
This is warning you about the current default behavior.

[2021-08-11 00:03] #16032 closed

[2021-08-11 00:03] #17154 closed

[2021-08-11 00:03] scv119 commented on #17553
Very likely this is the same bug as #17719

[2021-08-11 00:06] #17712 closed

[2021-08-11 00:08] ch1ck commented on #17720
Hi, I added `tune.utils.wait_for_gpu` to TrainMNIST step() function but it didn't change the result.

Actually I tried to pause more trials, like
[code]

the result was

[code]
that It even has no available GPUs to run any trials.

**How can I correct my scheduler to make paused trials release their GPUs resources?**
Thanks

[2021-08-11 00:17] richardliaw commented on #17720
Can you post your full script? I'm not quite sure why you're seeing this behavior. Pausing should release all resources of a given trial.

[2021-08-11 00:24] pcmoritz opened #17722 "Put serve HTTP paths behind a prefix"
### Describe your feature request

At the moment, serve is using `/` as the prefix for its HTTP paths. It is standard for web applications to use a custom path or allow overwriting the prefix. We should support that for serve too, since it will make it much easier to integrate serve application into existing network infrastructure.

[2021-08-11 00:27] simon-mo commented on #17480
@wuisawesome any hint?

[2021-08-11 00:27] simon-mo commented on #17668
maybe duplicate of #17480

[2021-08-11 00:36] ch1ck commented on #17720
Yes, the expectation is that the available GPUs should be equal to total GPUs when all trials are in PAUSED or TERMINATED status.

test_scheduler.py
[code]

test.py
[code]

thx

[2021-08-11 02:24] rkooo567 commented on #17648
Couldn't reproduce in the master. It only broken by no space in device issue, so after I increased the disk size or spread out the consumer, it worked reliably.

- increased disk size: still imbalanced because all consumers are scheduled on the same node and ingesting there, but there's no node crash due to no space left in device.
- spread consumer: Gave 1 num_gpus to the consumer, and it decreas

[2021-08-11 02:24] #17648 closed

[2021-08-11 02:25] rkooo567 commented on #17648
@richardliaw feel free to re-open it if you start seeing other weird issues in your experiment!

[2021-08-11 02:25] rkooo567 commented on #17612
For this particular issue, the disk usage was imbalanced because all consumers are scheduled on the same node and ingesting there. Since these tasks are long-running (while loop), all of shuffled data was coming to that node and pinned, which causes high disk usage.

We definitely need to handle high disk usage in a better way. So I will keep the issue open for tracking purpose.

[2021-08-11 02:48] scv119 commented on #17553
Finally there is an easy repro:

[code]

[2021-08-11 07:42] mattmcclean opened #17730 "[ray client] Add Authentication mechanism to Ray Head node"
### Feature request to add Authentication from Ray Client to Head node

I would like to raise a feature request to add an authentication mechanism between the Ray Client and head node. The use case is for developers/data scientists who work outside the network where the Head node is running (e.g. working from home and head node running in VPC). At the moment the only way I can see perform this is

[2021-08-11 07:45] scv119 opened #17731 "[Core] plasma unlimited is limited by max number of open fds"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*  2.0dev

### Reproduction (REQUIRED)
The idea of plasma_unlimited is to fallback allocate objects to disk and it will success as long as we have disk space available. However, when we running [non_streaming_shuffle_1tb_5000_partitions](https://github.com/ray-project/ray/blob/master/releas

[2021-08-11 07:58] WangTaoTheTonic commented on #17400
Hi @CraigMeng , we did not support external redis from ray.init but only `ray start`, but I think we need to do that.
Glad to hear your idea! If it's simple you can just write it here or create a pull request for that.

[2021-08-11 08:05] tomjamescn commented on #17675
@rkooo567 `ray memory` show that memory usage is low. but when our program based on ray cluster (1 head and 1 worker node)  lasts for a while, dashboard first crash and then the ray cluster crash.

[2021-08-11 08:25] kfstorm opened #17734 "[C++ API] Support non-global named actor"

[2021-08-11 08:31] sven1977 commented on #17706
Thanks for the bug report. The above PR should fix it (confirmed it's working on my Mac with your above script). We'll get this fix into 1.6.

[2021-08-11 08:32] sven1977 commented on #17568
https://github.com/ray-project/ray/pull/17735

Closing this as a duplicate of https://github.com/ray-project/ray/issues/17706.

[2021-08-11 08:32] #17568 closed

[2021-08-11 10:33] #17706 closed

[2021-08-11 10:44] #17653 closed

[2021-08-11 13:52] AmeerHajAli commented on #17554
Thanks @DmitriGekhtman for filing this.
I don't have context. But why do we have to make this change? won't this make it even harder to move away from head node or treating it in a special way?
Also, are we having a specific use case/user that we are optimizing for?
Why is this backward incompatible? can't we translate old yamls?

[2021-08-11 14:06] vivecalindahl opened #17744 "Initializing trainer with policy `RandomPolicy` and framework `tf` fails"
### What is the problem?

Initializing a trainer customized with a random policy leads to an attribute error.
Ray version: 1.4.0

### Reproduction (REQUIRED)
[code]

Example output:

[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

[2021-08-11 14:21] gasteigerjo opened #17745 "Don't set SIGTERM handler on import"
### What is the problem?

When importing Ray, any previous SIGTERM handlers are disabled due to Ray overwriting the SIGTERM handler outside of any function here: https://github.com/ray-project/ray/blob/7a0b8982f3195182f17aca54232165441689c6f5/python/ray/worker.py#L1036

A simple import thus can have large unintended side effects. For example, in our repository this caused submitit (the Slurm manag

[2021-08-11 14:26] AmeerHajAli commented on #15843
tracked in #17697. Please reopen if I misunderstood.

[2021-08-11 14:26] #15843 closed

[2021-08-11 14:55] DmitriGekhtman commented on #17554
In practice, we’re very far from being able to deemphasize the notion of a
head node. Most use-cases require a single head node with special
configuration.

If we’re somehow able to eliminate a user-facing notion of head node, in
principle the only configuration change would be eliminating the field
“head_node_type”.

Currently we default max_workers for the head node type to global
max_workers, w

[2021-08-11 15:24] rkooo567 commented on #17675
Is it possible to check top or htop command and see if the dashboard process uses large memory?

[2021-08-11 16:01] sven1977 commented on #17667
This PR here fixes the problem:
https://github.com/ray-project/ray/pull/17742

@juliusfrost

[2021-08-11 16:10] ericl commented on #14580
Can we propagate a bit of extra metadata (e.g. creation site string / type)
in the object reference proto? That will allow us a good error message even
in the worst case.

On Tue, Aug 10, 2021, 2:49 PM Stephanie Wang ***@***.***>
wrote:

[2021-08-11 16:26] richardliaw commented on #17554
Agree with Dmitri. @AmeerHajAli responses in line:

Yes. This is a huge usability improvement. Every standard user who uses the cluster config will no longer get confused by “why I need to set max workers for my head node”. I have seen multiple issues and questions raised by users about this.

This is a situation where you are asking to be forward compatible by sacrificing usability in the present

[2021-08-11 16:30] #17667 closed

[2021-08-11 16:34] wuisawesome opened #17748 "Datasets will crash if memory usage is too high for .map()--- should bound memory usage"
### What is the problem?

read_parquet on a moderately sized dataset causes ray to crash.

Note: this is a public s3 bucket so this should be reproducible.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The

[2021-08-11 16:43] #17525 closed

[2021-08-11 16:52] richardliaw commented on #17554
In fact, there was another question created in slack *at the same time* as when I posted my above response: https://ray-distributed.slack.com/archives/CN2RGCHRR/p1628699174011300

[2021-08-11 18:08] ericl commented on #17719
Given this bug, is the optimization still worth it?

[2021-08-11 18:09] ericl commented on #17748
Could you provide more details on the crash (i.e., stack trace, logs?)

[2021-08-11 19:13] ericl commented on #17628
I don't think this is right, we should be spilling continuously at max throughput as long as there is any CreateRequestQueue pressure. This was the main point of the refactorings I merged earlier.

So in this scenario, we are already spilling as fast as we can. Is this not the case?

[2021-08-11 19:14] amogkam commented on #17744
Thanks for posting this @vivecalindahl! This is an obvious question, but what Tensorflow version do you have installed?

[2021-08-11 19:25] xwjiang2010 commented on #15570
@xwjiang2010

[2021-08-11 19:31] ijrsvt commented on #17697
@richardliaw @pcmoritz How would this be exposed to users?

[code]

[2021-08-11 19:59] richardliaw commented on #17697
the latter looks right!

[2021-08-11 20:25] #15023 closed

[2021-08-11 20:34] sofglide opened #17756 "[tune] rsync fails on azure cluster"
### What is the problem?
ray 1.5.0

When running tune on ray cluster in Azure, I get `ERROR syncer.py:190 -- Sync execution failed` after every trial.

### Reproduction (REQUIRED)
I created a ray cluster in Azure and launched a tune experiment on it by attaching the head and launching the tuning script from there.

After every trial I get the following error:
[code]
This is my cluster yaml file:
[

[2021-08-11 20:46] ericl commented on #17553
Disabling RAY_max_direct_call_object_size as suggested here https://github.com/ray-project/ray/issues/17719#issuecomment-896351436 doesn't seem to fix this case:

[code]

[2021-08-11 21:17] AmeerHajAli commented on #17756
@gramhagen , can you please help?

[2021-08-11 21:26] clarkzinzow opened #17759 "[Datasets] Add a version check for pyarrow>=4.0.1"
Ray Datasets requires `pyarrow>=4.0.1` in order to function properly (serialization issues, API usage, etc.). We should make this an explicit version check and fail fast if the user doesn't have a sufficiently up-to-date pyarrow installed.

[2021-08-11 22:31] scv119 commented on #17553
yup. there is an edge case current distributed ref counting didn't handle properly. A fix I'm currently working on is like following:

1. when task returns it returns all the object/nested object refs; currently only inlined nested object refs are returned
.2 when the caller received the returned rpc, we can identify those nested object need a reference bump, either in TaskManager or in ReferenceC

[2021-08-11 22:47] wuisawesome commented on #17748
There's no good stack trace here. CPU usage in all the workers goes through the roof, then the raylet misses too many heartbeats and kills itself (this script is running locally). The workers then die. Some of them print:

[code]

before they fateshare with their dead raylet.

[2021-08-11 22:55] #17325 closed

[2021-08-11 23:05] ericl opened #17761 "[cleanup] Pull stats table out of instrumented_io_context and enable by default for non-asio stats"
Currently our operation stats tracker is inside the instrumented_io_context class, but it is actually recording general purpose metrics.

1. Pull the class out into a separate event_tracker/operation_tracker class.
2. Enable reporting by default (except for asio perhaps---which is triggering segfaults in Java tests still).

cc @iycheng @clarkzinzow

[2021-08-11 23:17] ericl commented on #17748
I just tried locally, that's just because map() is very inefficient and you run out of memory for large partitions. Using .map_batches() fixes the issue.

[2021-08-12 00:52] gramhagen commented on #17756
these setup commands don't seem right, but it's probably not the problem.
[code]

I think you will need to install additional packages in your docker image or in the head_setup_command, can you try this?
[code]

[2021-08-12 01:39] simon-mo opened #17764 "[Serve] Regression: no more ability to disable http ingress for deployment"
Deployment API doesn't the ability to reject HTTP ingress route. It used to have `serve.create_endpoint(route=None)` but `@serve.deployment(route_prefix=None)` is not equivalent.

[code]

[2021-08-12 03:46] simon-mo opened #17767 "[Dashboard] GPU usage not showing correctly on K8s"
The GPU usage doesn't show up correctly when using K8s mode. Notable gpustat is working.
![image](https://user-images.githubusercontent.com/21118851/129135348-98d066a3-7c2f-42c4-8e6e-6be52111a10a.png)

[2021-08-12 03:47] mimoralea commented on #11724
I had an issue like this and the problem in my case was a few training runs that crash (due to errors in my environment), and left Ray processes running in the background.

[code]

Does the trick.

[2021-08-12 04:22] hauntsaninja opened #17769 "ray.init with address crashes process outside of cluster"
Where `address` is a reachable ray head node:
[code]
causes the Python process to crash entirely, when I'd expect an exception

Ray version: 4616e8a03c48e6806738d5c13c9d5e88f07c9f26
OS: Ubuntu 18.04

[2021-08-12 04:25] hauntsaninja opened #17770 "new_dashboard agent is not disabled by `ray start --include-dashboard=False`"
Basically what the title says.

Maybe this is expected behaviour, but if so it would be nice to have a way to disable the new_dashboard agent. Currently working around by commenting out: https://github.com/ray-project/ray/blob/add6ceb3ec958834da53e28fe3fa2dea68992c7c/python/ray/_private/services.py#L1504

[code]

[2021-08-12 04:28] hauntsaninja opened #17771 "ray.client doesn't have `log_to_driver=False`"
Similar to `ray.init`, it would be great to have the option to disable logs for `ray.client`.

My current main reason for wanting this is as a fix for https://github.com/ray-project/ray/issues/14305, but it seems like a good thing to have feature parity with `ray.init`.

Current workaround is this awful monkeypatch:
[code]

[2021-08-12 05:13] Akkarine commented on #17675
My case. After several hours of load, all nodes has very high CPU demand for `log_monitor.py`, so all others computing tasks struggle without resources.
![image](https://user-images.githubusercontent.com/13115270/129141639-ec2e4449-3f55-4837-b8cb-497f87fa37d2.png)

And if I try to open dashboard on head node, it slowly consumes all memory, going to `RayOutOfMemoryError`, as I mentioned in https://

[2021-08-12 06:14] rkooo567 commented on #17675
@Akkarine It looks like glob has pretty high overhead because it needs to do regex for finding files. Can you tell me how many files do you have when the log monitor uses high cpu usage? (ls /tmp/ray/session_latset/logs | wc -l)

[2021-08-12 06:32] jefferent2019 opened #17775 "[Datasets] Bug in locality-aware splitting example"
### What is the problem?
![20210812-142015(WeLinkPC)](https://user-images.githubusercontent.com/49013238/129147736-8270f123-6ca9-4dec-83d1-3b3b577e6fcb.png)

https://docs.ray.io/en/master/data/dataset.html#exchanging-datasets

The ray Documentation，in the case of the datasets section，there is a problem with the code sample：the variable w is not defined。I think what the author wants to say is as fo

[2021-08-12 06:37] Akkarine commented on #17675
Right now I set up envs RAY_ROTATION_BACKUP_COUNT=0 RAY_ROTATION_MAX_BYTES=1024
Ran work around an hour and stopped. RIght now it is working, but `log_monitor.py` always has 25% CPU load.

One of nodes:
![image](https://user-images.githubusercontent.com/13115270/129149227-7de435ac-be03-49a9-90f2-31133d3103dd.png)
![image](https://user-images.githubusercontent.com/13115270/129149431-23eaebe1-1e50-4

[2021-08-12 07:04] vivecalindahl commented on #17744
Sure, that makes sense to know. I used tensorflow 2.4.0.

[2021-08-12 07:32] richardliaw commented on #15362
Closing this for now.

[2021-08-12 07:32] #15362 closed

[2021-08-12 07:50] calvinwy commented on #15126
@krfricke I see 1.5.0 on conda-forge now, thanks a lot for your effort, really appreciate it!! ;)

[2021-08-12 08:20] sofglide commented on #17756
Hi, actually the setup commands look like this:
```setup_commands: []```
The 2 lines that follow were introduced by mistake when copying the file here. (updated in the message now)

When I attach to the head and run pip I find the packages you're suggesting. This is because these packages are installed in the docker image I'm using.
[code]
In the docker file there is:
```RUN pip install --upgrade

[2021-08-12 09:10] amogkam commented on #17744
@vivecalindahl Ah in that case can you set the framework to be “tf2” instead of “tf”.

[2021-08-12 10:31] sofglide commented on #17756
can it be related to ssh keys? Is the syncing done using ssh public/private key pairs?
I found that I'm not generating such a pair, I'm just copying my own public key to the cluster through `file mounts` but the keys I'm specifying in `auth` section do not exist.

Where in the yaml file should I generate the pair?

[2021-08-12 10:57] gramhagen commented on #17756
Ah. Got it. Right now bootstrapping is not set up to use managed identity. If you run `az login` on the head node prior to kicking off tune does it still fail to get credentials?
It does seem weird that bootstrapping is even being called in this context. I know there's an option to rsync without bootstrapping, but I don't know if that can be configured within tune.

[2021-08-12 11:03] gramhagen commented on #17756
This error looks more like an inability to retrieve Azure credentials from the cli. You would have a managed identity on the head node, but normally this part of the code is run to setup a cluster so the expectation is you're doing it from your own machine where you have logged in through Azure cli.

[2021-08-12 12:52] sofglide commented on #17756
I'm goint to install `azure-cli` package in the docker image and run `az login -i` in a setup_command then try again.

[2021-08-12 14:26] sofglide commented on #17756
installed `azure-cli` in docker image and modified `setup_commands`
[code]
got this error for each trial
[code]

[2021-08-12 14:41] DmitriGekhtman commented on #17756
I think we've seen syncing errors of this type before and that these might be possible to correct with a slight tweak to the Tune code.

@richardliaw
I think it could be possible to avoid the error in the last comment by using ray rsync's `should_bootstrap=False` flag in Tune's syncer code.

The alternative would be to grant the head node the permissions it needs to complete AzureNodeProvider.boot

[2021-08-12 14:58] DmitriGekhtman opened #17782 "[Tune] Don't bootstrap config when syncing results"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Tune runs rsync on the head node to sync files from workers, which in turn calls NodeProvider.bootstrap_config. This can result in errors if the head node hasn't been granted sufficient permissions.
https://github.com/ray-project/ray/issues/17756#issuecomment-897685314

Use the `should_b

[2021-08-12 14:58] DmitriGekhtman commented on #17782
cc @richardliaw

[2021-08-12 15:39] #17084 closed

[2021-08-12 16:04] wuisawesome commented on #17400
@WangTaoTheTonic do you know if the current implementation supports starting multiple ray clusters with the same redis server?

[2021-08-12 16:20] gramhagen commented on #17756
some methods in config.py are not compatible with using a managed identity, even if it's used to log in with the cli (`az login -i`). we can make changes to allow that, but you would also need that managed identity to have specific role assignments which allow for resources to be created. this introduces some security concerns and i think in this context it is better to avoid running bootstrap whe

[2021-08-12 16:25] vivecalindahl commented on #17744
Yes, that works of course. However, since I'm not actually using any models here, I wouldn't expect to have to have to set the framework to something arbitrary (I might as well set it to `torch`).

[2021-08-12 16:30] stephanie-wang commented on #17719
I think so. It should be a straightforward fix.

Actually it appears that #17553 is a different issue.

[2021-08-12 16:32] amogkam commented on #17744
cc @sven1977 @richardliaw

[2021-08-12 16:36] richardliaw commented on #17756
We should definitely support the case where we run Tune on the head node.

I think avoiding bootstrap would be a good option here.

[2021-08-12 16:36] stephanie-wang commented on #17628
Currently we are only spilling if the CreateRequestQueue exceeds its quota, which will trigger OOM handling in the object store. But queued task args respect the quota, so we never trigger spilling.

Discussed offline, the fix is to lower the spill threshold so that we spill before the object store is 100% full. This should work as long as we set the threshold low enough.

[2021-08-12 16:37] stephanie-wang commented on #13783
ReconstructionPolicy was removed a while back.

[2021-08-12 16:37] #13783 closed

[2021-08-12 16:38] stephanie-wang commented on #14580
Hmm yeah I think we could do that. We can do this in two PRs then, one to propagate the metadata and another to disambiguate the error messages.

[2021-08-12 16:52] ericl commented on #17628
It sounds good, but it's not right we don't trigger spilling on queued task
args. We always fetch at least one bundle so that will trigger spilling.
The task itself might not get scheduled but the bundle will be fetched.

On Thu, Aug 12, 2021, 9:36 AM Stephanie Wang ***@***.***>
wrote:

[2021-08-12 17:06] ijrsvt commented on #16708
@Mathieu-Prouveur Just wanted to close the loop here--is this working for you now?

[2021-08-12 17:08] stephanie-wang commented on #17628
That will only trigger spilling if the one bundle puts us over the memory quota.

[2021-08-12 18:12] stephanie-wang commented on #17719
I'm going to wait on #17553 because they both require the same refactoring for nested object refs. This one should be just a few lines change on top of #17777.

[2021-08-12 18:18] rkooo567 opened #17790 "[Object Spilling] Remove the spilled directory upon Sigterm for ray start"
### Describe your feature request

Currently, spilled directories are destroyed only when driver cluster (ray.init) is terminated, but not cluster started by `ray start`.

We should handle this case.

Impl:
- When the raylet receives a sigterm, it asks the spill worker to destory the directory and shutdown.

cc @richardliaw

[2021-08-12 21:07] rkooo567 commented on #17675
We will have the right fix for the log monitor, and that will be tracked here https://github.com/ray-project/ray/issues/7317

[2021-08-12 21:14] AmeerHajAli opened #17795 "rayproject/ray-ml:latest-gpu image does not point to ray 1.5.2"
With every release the rayproject/ray-ml:latest* should be updated to the latest ray version (which is 1.5.2 atm)
instead rayproject/ray-ml:latest-gpu (the default when you call ray up aws/example-full.yaml) points to ray 1.4.1
We should also check all latest images

CC @edoakes @jiaodong

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):

[2021-08-12 21:18] AmeerHajAli opened #17796 "rllib does not work on gpus on our default docker images"
repro:
1) replace m5.large head node with p2.xlarge for example-full.yaml.
2) `ray up -y ray/python/ray/autoscaler/aws/example-full.yaml`
3) set num_gpus=1 inside cartpole-impala.yaml (see step below)
4) call `rllib train -f ray/python/ray/rllib/tuned_examples/impala/cartpole-impala.yaml`

error:
[code]

Fix:
`pip install tensorflow==2.3.3`
OR
`pip install tensorflow==2.5.0 tensorflow-gpu==2.5.0`

[2021-08-12 21:18] AmeerHajAli commented on #17796
cc @amogkam

[2021-08-12 21:39] AmeerHajAli commented on #17796
@amogkam suggested using tensorflow==2.5.0 and tensorflow-gpu==2.5.0 which also seem to work well.

[2021-08-12 22:18] iycheng opened #17797 "comparison between other flow systems"
similar things to this: https://github.com/serverlessworkflow/specification/tree/main/comparisons

[2021-08-12 22:19] sofglide commented on #17756
Not running tune on the head node, does that mean connecting from another machine with `ray.init(address=<PUBLIC_IP>:<PORT>, _redis_password=<PASSWORD>)` ?

I tried that, it wasn't able to connect, I suppose I have to expose the port?

[2021-08-12 22:24] xwjiang2010 opened #17799 "[Tune] Access to more detailed resource management information"
This is to improve Tune usability, namely we should not just let user be stuck in PENDING state. The current PlacementGroup API is very reactive. Tune doesn't know if a certain request is ever gonna be fulfilled or not. Since autoscaler has access to cluster.yaml and has an overview understanding of the resource requests, ideally it should signal if a request cannot be met at all.

For context, se

[2021-08-12 22:26] xwjiang2010 commented on #17799
@AmeerHajAli @richardliaw @mwtian

[2021-08-12 22:29] gramhagen commented on #17756
according to the output after setting up a cluster you should be able to do something like:
`ray.init(address="ray://<public_ip_of_head>:10001")`

i haven't been able to test this out though.

[2021-08-12 22:45] xwjiang2010 commented on #17799
@wuisawesome as well. Mingwei mentioned this may fit in Ray Scheduler.

[2021-08-12 23:24] iycheng opened #17800 "Error for serialize function object with variable passed in"
Code here: https://gist.github.com/ca8f89bd9a753458793daa985c642784

method1=True/method1=False will result in different results.

[2021-08-12 23:27] #11950 closed

[2021-08-12 23:36] rkooo567 opened #17801 "[Core] Better error messages for when disk is full."
### What is the problem?

When disk becomes full because the user workload has huge data size even more than a disk, the operating systems give "no space left in device" error. We should detect this scenario and raise a better error such as DiskFullError.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue

[2021-08-12 23:36] rkooo567 commented on #17801
cc @richardliaw

[2021-08-13 00:37] jiaodong commented on #17795
With help from @ijrsvt and @thomasdesr i got the script running to update docker images: https://hub.docker.com/repository/docker/rayproject/ray/tags?page=1&name=latest&ordering=last_updated

Feel free to reopen if the issue persists.

[2021-08-13 00:43] AmeerHajAli commented on #16539
@tmbdev please reopen if this is not closed.

[2021-08-13 00:47] AmeerHajAli commented on #16708
@ijrsvt , thanks for closing the loop!

[2021-08-13 00:57] AmeerHajAli commented on #17795
I just called ray up on an example.yaml and it is still version 1.4.1. Can we keep this open until calling ray up and then calling ray--version prints 1.5.2?

[2021-08-13 01:03] jiaodong commented on #17795
I think that's due to the script took ~20mins to process one image and is still running on my laptop :/ We should keep it open until it's verified. Just to confirm, how did you verify it by "ray up on example.yaml" ? I don't have much context about this part

[2021-08-13 01:04] AmeerHajAli commented on #15893
@jaredvann , I ran the same repro as you are providing:
[code]

[2021-08-13 01:04] holdenk commented on #7189
This has been fixed with the new recoverable actors, closing the issue :)

[2021-08-13 01:04] #7189 closed

[2021-08-13 01:07] AmeerHajAli commented on #17795
here it is:
https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/aws/example-full.yaml

[2021-08-13 01:20] pdames opened #17803 "[Core] Slow Embedded Object Ref Counting"
### What is the problem?
`ray.get()` shows unexpectedly high latencies when getting objects refs that contain embedded object refs. I've run the repro script below to measure the object ref counting latency here, which produced the following `ray.get()` latency results:
[code]

Here, "ref hiding" refers to using `cloudpickle.dumps(obj_ref)` to hide embedded object references from Ray's reference c

[2021-08-13 01:39] ericl commented on #17731
[note from offline discussion]: The root cause of this seems to be object unpinning taking longer than the 2 second spill grace period. So even though we shouldn't be fallback allocating while spilling is happening, we still do.

[2021-08-13 01:57] AmeerHajAli commented on #15407
@edoakes @richardliaw is it sufficient to print a table of mismatched packages similar to ^?

[2021-08-13 02:53] iycheng commented on #17800
Actually it's a python behavior:
[code]

output
[code]

[2021-08-13 02:56] iycheng opened #17805 "Improve maximum nodes support and actor launching performance"

[2021-08-13 03:03] WangTaoTheTonic commented on #17400
No we can't start up multiple ray clusters on one same redis server. It is not supported. Neither with external redis or internal redis in the head node.

[2021-08-13 03:58] holdenk opened #17808 "Make the Ray on Kubernetes logs visible for each pod"
### Describe your feature request

kubectl log is normally part of everyone's debugging toolkit, however because ray launches with `'trap : TERM INT; sleep infinity & wait;'` the log messages are not printed to somewhere the user can easily access them.

[2021-08-13 04:22] #17537 closed

[2021-08-13 05:28] #5240 closed

[2021-08-13 05:28] #5019 closed

[2021-08-13 06:12] scv119 commented on #17126
Can't reproduce this after several stress tests. It also hasn't been show up in our night tests; could it be fixed by recent async pop worker change? Reprioritize this until there is a report again.

[2021-08-13 07:29] Mao771 commented on #17506
Same problem:

[code]

[2021-08-13 07:35] heyfavour opened #17814 "[RLlib Tune] Can't get gpu ids in colab."
when i use ray rllib in google colab,it can't get gpu ids if framework is torch ( tf is normal)
in ray/rllib/policy/torch_policy.py  => line 152   => ray.get_gpu_ids() =>return []

code:
#install
!pip install ray[default]
!pip install ray[rllib]
#run
import ray
import ray.rllib.agents.sac as sac

ray.init(num_gpus=1)
config = sac.DEFAULT_CONFIG.copy()
config["num_gpus"] = 1
config["num_workers"] =

[2021-08-13 07:43] richardliaw commented on #15893
`ssh -tt -i /home/ubuntu/.ssh/ray-autoscaler_us-east-2.pem -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes -o ExitOnForwardFailure=yes -o ServerAliveInterval=5 -o ServerAliveCountMax=3 -o ControlMaster=auto -o ControlPath=/tmp/ray_ssh_1d41c853af/4817a4d972/%C -o ControlPersist=10s -o ConnectTimeout=120s ubuntu@3.142.221.13 bash --login -c -i 'true && source ~/.bas

[2021-08-13 08:34] richardliaw commented on #15407
Yep!

[2021-08-13 08:37] #16425 closed

[2021-08-13 09:31] #17704 closed

[2021-08-13 11:44] krfricke commented on #15126
Happy to do it :-)

[2021-08-13 12:44] jovany-wang opened #17820 "Enhance document on Java API"
- [ ] Concurrency Actor/Concurrency Group
- [ ] getCurrentHandle (Both in Python and Java)
- [ ] BackPressure
- [ ] User loggers configuration

Not only the above, we should also overview the whole doc pages and add the necessary doc for Java.

[2021-08-13 14:09] #17386 closed

[2021-08-13 16:24] #17535 closed

[2021-08-13 16:36] architkulkarni opened #17823 "[Serve] Bad import in deployment __init__ causes deployment to restart forever"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Master, python 3.7, Mac OS
### Reproduction (REQUIRED)
[code]

Prints this forever:
[code]
If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have v

[2021-08-13 16:54] clarkzinzow commented on #17172
Tracking the `pyarrow` version check in [this issue](https://github.com/ray-project/ray/issues/17759), closing this one.

[2021-08-13 16:54] #17172 closed

[2021-08-13 17:20] ericl commented on #17718
Couldn't this cause issues if the actor is holding resources like GPU memory? In that case force-killing regardless of ownership status would be what the user would expect.

[2021-08-13 17:20] #17643 closed

[2021-08-13 17:35] stephanie-wang commented on #17718
Hmm so this is tricky... I think in most cases the actor should exit normally even if we wait to drain the references, but it is possible to write programs that have a cycle of ObjectRef passing, and then we will definitely leak. The user can always resolve the deadlock themselves by using `ray.kill` to force-kill the actor, but that might be hard to do.

I think our two choices are either to:
1.

[2021-08-13 17:50] ericl commented on #17803
cc @mwtian

[2021-08-13 18:08] jiaodong commented on #17795
closing after verified pulled docker image correctly points to 1.5.2

[2021-08-13 18:08] #17795 closed

[2021-08-13 18:28] ericl commented on #17469
Closing this as subset of https://github.com/ray-project/ray/issues/17592

[2021-08-13 18:28] #17469 closed

[2021-08-13 18:39] #17796 closed

[2021-08-13 19:52] simon-mo commented on #17823
This will be resolved by @jiaodong's PR: https://github.com/ray-project/ray/pull/16922

[2021-08-13 20:11] jkterry1 opened #17827 "Testing that the newest version of Gym doesn't break anything in RLlib befor I release it"
Hey,

I'm about to cut a release of Gym based on what's currently on the master branch for it. Joseph Suarez (Neural MMO) said I should ask you guys to run all your RLlib tests with this to make sure nothing is broken.

@sven1977

[2021-08-13 20:14] richardliaw commented on #17827
@jkterry1 please go ahead and release! We will aim to adjust our CI/releases accordingly.

cc @amogkam @krfricke @sven1977 .

[2021-08-13 20:17] #17582 closed

[2021-08-13 20:21] jkterry1 commented on #17827
No I mean that this is my first release of Gym as the maintainer and there should be no breaking changes so I'm trying to make sure that I didn't accidentally do something that breaks major upstream projects without meaning to. This is especially because there have been numerous large changes to the specified dependencies.

[2021-08-13 20:22] jamesliu commented on #17814
Same issue here with both standalone python and jupyter notebook.

[2021-08-13 20:45] #17262 closed

[2021-08-13 20:46] richardliaw commented on #17827
Can you push a release candidate to pypi? We'd be happy to run our test suite against that.

[2021-08-13 21:00] rkooo567 commented on #17718
I think 1 + figuring out a way to inject this warning into ObjectLostError sounds better? I think this happens because of application issue (ref not managed correctly), and just failing the job should be easier to debug than having resources leaks (given we can give them clear warning).

Or what about 2, and instead of warning it, we can probably just force kill it and do 1 after timeout?

[2021-08-13 21:01] ericl commented on #17718
Also in favor of (1) (perhaps with enhanced error messages).

[2021-08-13 21:05] ch1ck commented on #17720
Hey @richardliaw, could you find anything wrong with my script?
In this example, I use grid_search to start 6 trials. Stop one of the trials and pause the rest of the trials in on_trial_result(). And the paused trials will not resume in choose_trial_to_run().
Then you may see the weird behavior.

[2021-08-13 22:05] jkterry1 commented on #17827
Is depending on something akin to `pip install git+https://github.com/openai/gym.git@master` compatible with your test suite? If not I can deal with pushing a release candidate to PyPI (OpenAI is still in control of the PyPI so it's fairy nontrivial).

[2021-08-13 22:12] amogkam commented on #17827
@jkterry1 OK no worries we can test against master branch. I can kick off the testing right now.

[2021-08-13 22:17] amogkam commented on #17827
Kicked it off here https://github.com/ray-project/ray/pull/17829

[2021-08-14 00:58] vinamrabenara commented on #14252
if these are alredy added to the doc, could you link me to it?

[2021-08-14 01:01] #17710 closed

[2021-08-14 02:50] architkulkarni opened #17838 "[runtime env] Ray wheel URLs are wrong for Mac OS"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
As a side effect of https://github.com/ray-project/ray/pull/16913 a portion of the Ray Mac wheel URLs changed from `10_13` to `10_15`, e.g. `https://s3-us-west-2.amazonaws.com/ray-wheels/releases/$RAY_VERSION/$RAY_HASH/ray-$RAY_VERSION-cp36-cp36m-macosx_10_15_intel.whl`

The functions `ge

[2021-08-14 05:37] wuisawesome commented on #14252
https://docs.ray.io/en/master/cluster/guide.html#system-configuration

[2021-08-14 08:59] nikitavemuri opened #17843 "`namespace` is not valid argument for `get_actor` when using Ray client"
### What is the problem?
`namespace` is not a valid argument for `get_actor` when using Ray client, but it is valid when using `ray.init()`

*Ray version and other system information (Python version, TensorFlow version, OS):* Python 3.7, Ray latest master `6957ce66f6eb370d633444b4420c874b2e517505`

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) tha

[2021-08-14 13:49] MischaPanch opened #17844 "[rllib]: regression bug. Catastrophic drop in SAC performance after updating from 1.2"
### What is the problem?

This is a regression bug. After updating from ray 1.2.0 to later versions, SAC (with torch framework, torch version 1.8.1) stopped converging at all on my environment. See the learning curve below

I ruled out the following possibilities:

1) This issue is not related to the removing of state_preprocessor option in 1.3.
2) It is not due to transcendental dependencies comi

[2021-08-14 15:59] architkulkarni opened #17845 "[runtime env] Runtime env hangs silently if "ray[default]" is not installed"
### What is the problem?
Runtime environments depend on the dashboard, but this is not documented.  When installing the base Ray package (`pip install ray` or `pip install https://ray-wheels.s3.us-west-2.amazonaws.com/releases/1.6.0/25355bf35e217fb92e75825fa625bf3eea3c5da3/ray-1.6.0-cp36-cp36m-macosx_10_13_intel.whl` and attempting to start any task or actor with a runtime environment, the script

[2021-08-14 17:01] dmatrix opened #17846 "DOC: The documentation points to 2.0.0dev"
### What is the problem?

The docs point to the future version of Ray, not the current one. This could prove confusing for new comer who does a ‘pip install ray’,  followed by ray—version, only to see 1.5.

*Ray version and other system information (Python version, TensorFlow version, OS):*

the current docs website.

[2021-08-14 17:43] jamesliu commented on #16425
Yes. After removing num_gpus_per_worker, pending issue is fixed.

[2021-08-14 18:18] #17800 closed

[2021-08-15 03:17] JasonLou99 opened #17848 "[Ray Streaming] wordcount.py generates an error: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))"
I run the wordcount.py follow https://docs.ray.io/en/releases-1.5.1/auto_examples/plot_streaming.html, but I get some errors:
[code]
how can i fix it?

[2021-08-15 07:42] WangTaoTheTonic commented on #17400
Hi @krfricke , I took a look at the codes and it seems like that the rules are:
-  if we use `ray.init` with passing a `address`, it means we will connected an existing cluster
- if we use `ray.init` without `address` parameter, it will start a new one locally.
So the external redis support is nothing to do with `ray.init`. It just is used in `ray start` command to connect an existing redis server

[2021-08-15 09:15] WangTaoTheTonic commented on #17400
After another try I figured out that dashboard cann't start up if the redis server requires no passworld it use `aioredis` to get its redis client, in which it will use `AUTH` command and it will response with an error if we pass empty string as password.
![image](https://user-images.githubusercontent.com/5276001/129473503-015407ef-dc08-4292-b335-b364ed60d7cb.png)
![image](https://user-images.gith

[2021-08-15 21:16] #17808 closed

[2021-08-16 00:47] tgaddair opened #17857 "[docker] Ray GPU images use inconsistent CUDA version"
Currently, Ray docker images do not explicitly tag the version of CUDA being used. This can lead to some pernicious bugs popping up where training suddenly becomes a lot slower, because the framework version is incompatible with the version of CUDA in the image.

This most recently happened to us on the Ludwig.ai team when #17806 downgraded from CUDA 11.2 to 11.0. Since we were using TensorFlow 2.

[2021-08-16 00:50] richardliaw commented on #17857
@amogkam can I assign this to you to address?

IIUC Ludwig doesn't need `ray-ml`, just `ray:latest-gpu`. Perhaps we can do what @tgaddair is suggesting and add `-cuda112` and `-cuda-110` in addition to what's currently provided.

[2021-08-16 00:50] richardliaw commented on #17857
Will assign it as P0 for now, but we can reassess the severity later.

[2021-08-16 00:51] richardliaw commented on #17857
FYI @sven1977 @ijrsvt

[2021-08-16 01:27] mwtian commented on #17803
Thanks for the detailed reproduction. I was able to reproduce the behavior with a [modified script](https://gist.github.com/mwtian/625b9a8bdc907e07e175e4d40c21a4a5) to wait for all tasks to finish. The behavior of slow getting and deallocating objects with embedded refs is reproducible on a single local node too.

In the last example, `500 * 2400 = 1.2e6` embedded object refs are created in ~ `20s

[2021-08-16 01:28] amogkam commented on #17857
Hey @tgaddair thanks for raising this!

We'll look into this more tomorrow, but to unblock you in the meantime you should be able to build your own Ray Docker image with whatever base image you'd like with this script: https://github.com/ray-project/ray/blob/master/build-docker.sh. In fact this still defaults to CUDA 11.2 for the GPU image- I missed changing this in https://github.com/ray-project/

[2021-08-16 01:39] JasonLou99 commented on #17848
I resolve this problem, this is caused by china firedwall....so, I can't access wikipedia...

[2021-08-16 01:39] #17848 closed

[2021-08-16 09:02] howieeeeeeee opened #17862 "[rllib]: The tensor has two None in shape when not use eager mode"
### What is the problem?
When I use ViewRequirement to produce "prev_n_obs", such as
`self.view_requirements["prev_n_obs"] = ViewRequirement(
            data_col="obs",
            shift="-10:0",
            space=obs_space)`
it will have "tensorflow.python.framework.errors_impl.InvalidArgumentError: Only one input size may be -1, not both 0 and 1"
since the shape of  input_dict['prev_n_obs'] is

[2021-08-16 12:17] young-chao opened #17864 "Non-independent sampling in several rollout workers"
I found that in my Webots experiment, one of the workers who sampled will wait for the other sampled worker at regular intervals until the other worker has the same amount of experience. This confuses me, because this wait is meaningless. According to my understanding, sampling does not need to be performed evenly among all workers. I want to know if there are related parameters in Ray to control

[2021-08-16 15:14] simonsays1980 opened #17866 "User-defined `view_requirements` get overwritten when inheriting directly from `Policy`."
### What is the problem?

When writing a policy that directly inherits from `Policy` and using the *View Trajectory API* the super class `Policy` calls `_update_view_requirements_from_init_state()` which results in user-defined `view_requirements` for the `state_in_0` column getting overwritten and consequently ignored.

*Ray version and other system information (Python version, TensorFlow version

[2021-08-16 16:04] architkulkarni opened #17868 "[Serve] Move Serve logs to beginning of line"
### Describe your feature request
Currently, Serve logs (both our internal logs and the user's logs) have tags appended at the end of the line: `component=serve deployment={name} replica={replica_tag}`.  It's more standard and more readable to have these at the beginning of the line.
For questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-08-16 16:27] #15113 closed

[2021-08-16 16:30] architkulkarni opened #17870 "[Serve] Deployment names converted to camel case in cluster snapshot"
### What is the problem?
The deployment name shows up in the snapshot as `“fooBar”: { “name”: “foo_bar” }`.  This is not consistent and will lead to problems looking up deployments by name.
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to

[2021-08-16 16:31] architkulkarni opened #17872 "[Serve] [dashboard] Snapshot exposes internal hash of unversioned actor's version number"
### What is the problem?
The serve metadata under an actor shows the version as the internal hash when it’s unversioned. It should say "Unversioned".
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should

[2021-08-16 16:35] RXminuS commented on #15780
Having the same issue, I don't know if it's the same problem but it seems weird that the IP address configuration isn't respected at least

[2021-08-16 16:59] edoakes opened #17874 "[serve] Update old blog post to use new API"
https://medium.com/distributed-computing-with-ray/the-simplest-way-to-serve-your-nlp-model-in-production-with-pure-python-d42b6a97ad55

[2021-08-16 18:44] wuisawesome opened #17877 "many_tasks release test is failing"
### What is the problem?

We should see if this is related to the async worker pool pop PR.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake

[2021-08-16 19:34] #17697 closed

[2021-08-16 20:16] sven1977 commented on #16529
Thanks for the new PR @Bam4d , I'll merge it asap (I'll quickly confirm on a GPU machine).

[2021-08-16 20:18] #17540 closed

[2021-08-17 02:02] #17553 closed

[2021-08-17 03:44] tiantengfei opened #17886 "[custom action generation] pass input_dict to action_sampler_fn not _input_dict[SampleBatch.CUR_OBS] as paramer"
### action_sampler_fn is not flexible enough.
The defination action_sampler_fn in ray 2.0.0dev is as follow:
[code]

However, I need more information from input_dict for my exploration strategy. I found action_distribution_fn have passed input_dict as paramter. Is it possible input_dict as parameter in the action_sampler_fn?

[2021-08-17 07:22] chaokunyang opened #17890 "Failed to start the dashboard"
### What is the problem?
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*
ray: 1.5.2
python: 3.8.1
tensorflow: not installed
os: macosx 10.13.6

### Reproduction (REQUIRED)
[code]
- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en

[2021-08-17 07:33] #17890 closed

[2021-08-17 08:47] LutzWeischerFujitsu commented on #14867
Solved using v1.5.2.

[2021-08-17 08:56] sofglide opened #17894 "[tune] sync down and path sanitization problems"
### Sync down fails at the end of each trial
Ray 1.5.0 on Azure cluster
Python 3.8

### Reproduction (REQUIRED)
Do a tune experiment where some params are strings containing space (like `name = "MY NAme"`) or params which a single value is a tuple.

Actually, since it seems that tune accepts only params which a single value is immutable, if you need to pass a sequence as a parameter like:
```seque

[2021-08-17 09:49] #17866 closed

[2021-08-17 10:20] moamenibrahim commented on #15297
Has this been solved or worked on? I am facing the same problem now in a multi-agent setup but in `add_action_reward_next_obs()` function, line 524 with same line `assert agent_key in self.agent_collectors` and it happens basically in the second training iteration.

Error stack:
[code]

[2021-08-17 11:37] #17104 closed

[2021-08-17 11:56] kfstorm commented on #17700
It seems that this issue has been addressed by https://github.com/ray-project/ray/pull/17396. cc @ericl  @scv119 @rkooo567 to confirm.

[2021-08-17 11:57] kfstorm commented on #17700
Also cc @fyrestone

[2021-08-17 13:40] igorgad commented on #16979
Just adding some info here. I was facing the exact same problem but using the `ray_lightning` integration. It seems that it's working with the PyTorch nightly version.

[code]

[2021-08-17 15:45] JustasB commented on #10839
Since this issue ranks highly on google, the change above makes it so that one can check if inside a tune session with:

[code]

[2021-08-17 15:47] SebastianBo1995 commented on #4506
@ericl Just to clarify if I am wrong. It seems to me that RLLib trains after that ammount of done steps/episodes in the environment.

For example a training with the following parameters:
timesteps_per_iteration = 2
train_batch_size = 32
epochs = 5

ends with 5 times Training the Agent and 10 collected Episodes. Then it would be imho not just a system level parameter or am I missing something?

Th

[2021-08-17 16:17] amogkam opened #17899 "[CI] Fix ML Tests"
- Deflake `test_trial_scheduler_pbt`
- Split up Tune tests & examples 1/2
- Speed up the slower rllib tests

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no exter

[2021-08-17 16:36] duburcqa opened #17900 "[rllib] Non-reproducible rollout sampling."
If `num_envs_per_worker > 1`, then ` self.async_env` is constructed based on `self.env` [here](https://github.com/ray-project/ray/blob/2bd2ee7a73e7fa525eca657a190a447e621fac01/rllib/evaluation/rollout_worker.py#L623) in `RolloutWorker`. This is done using the nested method defined as such:
[code]

As you can see, nothing is done to set the seed of those environments, making the sampling from them

[2021-08-17 17:47] rkooo567 opened #17901 "[Object Spilling] Objects are lost when spilling"
### What is the problem?
It looks like in a rare occasion, our spilling fails to get the object from the object store. This was discovered from 1000 partitions autoscaling shuffle.

[code]

The root cause is unknown, but we should fix the issue.

Logs;
https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_tdyFfiAe2qYBsD8dMswUCGXa?command-history-section=com

[2021-08-17 17:48] rkooo567 commented on #17901
Related; https://github.com/ray-project/ray/issues/17048

Highly likely we fails to pin the object before spilling in some scenarios.

[2021-08-17 18:16] Sepiafs commented on #17618
I have the same issue with ray version '1.5.0', python 3.8 on windows

[2021-08-17 18:57] Luis-Victor opened #17904 "[k8s][autoscaler] Ray cluster autoscaler dies after some time running"
### What is the problem?
After deployment of a Ray cluster on AKS, it runs well, but after some time (1~7 days), the cluster's autoscaler dies and doesn't restart.

Autoscale failure log:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray version == 1.5.2
aks version == 1.18.14

### Reproduction (REQUIRED)
Please provide a short code snippet (less than

[2021-08-17 20:29] al-rigazzi opened #17907 "[Core] Can't run Ray natively on Mac OS"
### What is the problem?

If I run `ray start --head` on Mac OS, here is what I get (<EXTERNAL_IP> is my laptop's public IP):
[code]

As far as I understand, the problem is that Ray starts on 127.0.0.1, but this address is then changed to the external IP (in `address_to_ip`), but this seems to prevent the Redis server (or one of them) to spin.

*Ray version and other system information (Python ver

[2021-08-17 21:15] wuisawesome commented on #17877
The failure is:

[code]

[2021-08-17 21:21] davidegraff opened #17909 "NCCL unhandled cuda error in ray SGD"
help!

I'm trying to implement multi-GPU training inside some python software I have written and I'm looking to use ray to accomplish this because all other options seem to require running an external script (i.e., all of the Pytorch Distributed documentation uses a specific training script that is invoked.) In contrast, I'm looking to train the model over a distributed setup that is handled entir

[2021-08-17 21:35] sofglide commented on #17894
@richardliaw

[2021-08-17 21:49] richardliaw commented on #17909
I think this is probably somewhat similar to https://github.com/ray-project/ray/issues/16979.

We should address this soon in master.

Assigning to Amog and Matthew for now, who are leading the SGD development.

[2021-08-17 21:51] ericl commented on #17801
Duplicates https://github.com/ray-project/ray/issues/17017 (should fix both in same issue)

[2021-08-17 21:51] #17801 closed

[2021-08-17 21:52] richardliaw commented on #17894
@xwjiang2010 do you think you could take this issue?

[2021-08-17 22:07] xwjiang2010 commented on #17894
Sure. I'll take a look.

[2021-08-17 23:41] #17843 closed

[2021-08-18 00:22] pdames commented on #17803
@mwtian I'm currently using an average of ~1000 embedded object references per outer object, and a max of ~10,000 embedded object references. In total across all outer objects, I'm producing an average of ~2,000,000 embedded object references, and a max of ~30,000,000 embedded object references.

An acceptable latency for a common scenario of 625 outer object references with 3520 embedded object r

[2021-08-18 00:38] stephanie-wang commented on #17877
How many tasks was this run with? I'm a bit confused reading the test code; shouldn't 1000 tasks -> threshold = 1000 * 0.25 * 0.75 = 187.5? So I thought 288.25 CPUs used should be sufficient. Actually it seems too high?

[2021-08-18 01:10] #13877 closed

[2021-08-18 02:06] heinerb opened #17914 "[RLLIB] Windows WSL GPU Not Detected"
### What is the problem?
**Problem** The current `ray/lib/python3.9/site-packages/ray/resource_spec.py`  does not support GPU discovery on WSL2.

**Ray Version:** 1.5.1
**OS:** Windows 10/11 WSL2

### Reproduction (REQUIRED)

The current `ray/lib/python3.9/site-packages/ray/resource_spec.py` runs the following check for GPUs.

[code]

This works for Linux but not WSL2 Linux within Window 10/11 as

[2021-08-18 07:01] simon-mo commented on #17868
I don't think that's the case? Look at Python structlog https://www.structlog.org/en/stable/why.html
[code]

Golang https://github.com/sirupsen/logrus
![image](https://user-images.githubusercontent.com/21118851/129852735-e47d55f1-940b-4190-b715-557c03feb2c3.png)

[2021-08-18 07:14] sofglide commented on #17756
Hi, I had a look at the PR and reproduced it in my current installation, but I can't see how from `tune` API I can use it. Is there something else supposed to be implemented or am I missing something?

[2021-08-18 08:38] andras-kth opened #17921 "[rllib] Mutating `validate_config` (in R2D2 [and others])"
### What is the problem?

A number of trainer classes have **mutating** `validate_config` methods
causing validation to fail if evaluation is enabled and `evaluation_config`
doesn't contain the expected defaults.

Relevant code locations:
* [trainer](https://github.com/ray-project/ray/blob/7e109a3266016a35501ddd897f279576fe7bfc3d/rllib/agents/trainer.py#L753)
* [r2d2](https://github.com/ray-projec

[2021-08-18 09:07] calvinwy commented on #15126
@krfricke hi Kai, there seems to be a problem with `num_samples`.  Using constant_grid_search=True, the `num_samples ` doesn't work anymore.  It only sample each grid variable once.

[2021-08-18 10:10] marcovaresi opened #17923 "[tune] Different in performance and best model between analysis.best_config and the best model in analysis.dataframe"
### What is the problem?

*pytorch_lightning: '1.4.2'*
*ray: '1.5.2'*
*tensorboardX: '2.4'*

callbacks = TuneReportCheckpointCallback
scheduler = ASHAScheduler
search_alg = HyperOptSearch
reporter = CLIReporter

at the end of the tune.run (searching for the best performance on the validation loss) i obtain the best model (best config) and the best checkpoint.
When i move the result in a df using a

[2021-08-18 12:08] loicsacre opened #17924 "[rllib] Mismatch between evaluation and training metrics when using evaluation_parallel_to_training"
### What is the problem?

When using the `evaluation_parallel_to_training` agent parameter, an evaluation is launched at the same time as a training iteration. See https://github.com/ray-project/ray/blob/7e109a3266016a35501ddd897f279576fe7bfc3d/rllib/agents/trainer_template.py#L203-L207

Therefore, for instance, at the first train call when getting back the results in Tune callbacks, the evaluatio

[2021-08-18 12:44] sietseromijn commented on #16995
Any update on this? Can I help?

[2021-08-18 13:23] preetijoshi-womply opened #17926 "[Ray-Data]: Parquet partition filters raise an exception"
Here is the code snippet I am using to fetch the data from parquet with filters applied:
[code]
I get the following error:
[code]
"date" is partition key and it is coming as of null type for the tables which are empty due to filter condition applied.

We can avoid this by either 1) filtering out the empty tables or 2) sending promote=True

But I am not able to handle this when error is thrown by P

[2021-08-18 13:44] #13515 closed

[2021-08-18 14:50] amogkam commented on #17923
Hey @marcovaresi thanks for raising this!

Would you be able to provide more info here? What is analysis.best_config giving you vs. what does the full analysis.dataframe look like? What is the default metric and mode you pass into tune.run?

If you could provide a small reproducible example showing this bug, that would be great.

[2021-08-18 16:33] davidegraff commented on #17909
An additional note: when I run this example from the SGD [getting started page](https://docs.ray.io/en/latest/raysgd/raysgd.html):
[code]
with 2 GPUs in my ray cluster, it still fails with the same output as above. If I switch to `use_gpu=False` then it works just fine.

[2021-08-18 16:36] architkulkarni commented on #17868
Oh good point.  That looks pretty readable, thoughts @edoakes @jiaodong?  Maybe one thing to emulate here is the alignment of the tags, or just use structlog as you suggested.

[2021-08-18 17:09] gracedu0213 opened #17927 "Dask on Ray: Unable to set Dask scheduler from local client"
### What is the problem?
*Ray version and other system information (Python version, TensorFlow version, OS):*
ray==1.5.2
dask==2021.7.0
Python==3.7.9

I'm trying to load data from GCS using Dask on Ray, and then train a sklearn randomforest model on Ray remotely in a kubernetes cluster. The job is submitted through a local client.

I have setup Dask scheduler `dask.config.set(scheduler=ray_dask_ge

[2021-08-18 17:22] eriksf commented on #16933
@oriolaranda Any tips from your system team on building ray for Power9 (ppc64le)? I'm struggling with that right now.

[2021-08-18 18:58] sgillen commented on #17618
Exact same issue for me, I'm on Ubuntu 18.04. python==3.6, ray==1.5.1, matplotlib==3.3.4,jupyterlab==3.1.7.

[2021-08-18 18:58] sofglide commented on #17756
Hi, I had a look at the PR, it adds argument `should_bootstrap: bool = True`.

I wanted to understand, as a tune user, is that enough for me to avoid the boot strapping error? I can't see where to take advantage of this argument. Is there something else that will modified in the API to specify `should_bootstrap = False`? Would that be at `ray.init`?

[2021-08-18 19:02] DmitriGekhtman commented on #17756
Cc @richardliaw -- is the flag accessible through Tune's public APIs?

[2021-08-18 19:30] richardliaw commented on #17927
@amogkam assigning to you first, feel free to pull in appropriate folks to assist (like Clark or Alex or Sang).

[2021-08-18 21:21] wuisawesome commented on #17799
Btw there was some discussion around this in #14908 but it's worth revisiting if requirements have changed. I suspect this will be somewhat involved though.

[2021-08-18 21:58] longyuzhao opened #17934 "[rllib] When using custom model with continuous action space, the num_outputs dimension doubles action_space dimension"
### What is the problem?

When building a custom model with discrete action space, the num_outputs dimension equals to the action_space dimension. However, when building a custom model with continuous action space, the num_outputs dimension doubles the action_space dimension. This causes the action logits size doubles as well.

*Ray version and other system information (Python version, TensorFlow

[2021-08-18 22:16] RuofanKong commented on #14818
I hit the same issue now that blocks us. Is there an ETA on the fix?

[2021-08-18 22:19] RuofanKong commented on #14818
Looks this attribute is unused anywhere. can we just simply remove it?

[2021-08-18 23:12] xwjiang2010 opened #17937 "[core] PlacementGroup should be no op for local_mode=True"
### What is the problem?

PlacementGroup should be no op for local_mode=True

Ray version: pretty much master head
Python version: Python 3.8.10

### Reproduction (REQUIRED)
Right now, if I enable local_mode, I still see the code path like the following:
[code]

Should we not do that for local_mode=True?

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I

[2021-08-18 23:17] xwjiang2010 commented on #17937
A print statement [here](https://sourcegraph.com/github.com/ray-project/ray/-/blob/python/ray/tune/utils/placement_groups.py?L375) shows that two pgs are requested (each corresponding to one trial) and both are granted.

[2021-08-18 23:18] xwjiang2010 commented on #17937
@richardliaw

[2021-08-18 23:34] anhnht3 opened #17939 "[tune] ASHA terminated trials but does not start new ones despite of available GPUs."
I am using the latest RayTune to do hyperparameter optimization. Each trial is allocated a few CPUs and 1 GPU. When first started, Tune will utilize all GPUs. However, once a trial is terminated by ASHA, new trials woud not be started even though some GPUs are now free.

I've looked at the issues here and it seems to be something about Placementgroup and Autoscaler. Any pointer how should I addres

[2021-08-19 00:29] longyuzhao commented on #17934
It seems that despite the `num_outputs` is doubled for the continuous actions, `PPOTrainer` can still output the correct action dimension. For example, for Pendulum-v0, `num_outputs` is 2 but `PPOTrainer` successfully outputs an action dimension of 1. I am not sure how this happens.

Also, I am trying to apply action mask to a hybrid action space (some continuous actions + some discrete actions).

[2021-08-19 01:12] richardliaw opened #17940 "[tune] Distributed checkpoints don't get deleted"
### What is the problem?

The standard rsync mechanism does not delete checkpoints upon `keep_checkpoints_num` garbage collection.

Here's a script to reproduce this:

[code]

[code]

Here's the output:

[code]

Note that some of the checkpoints should not exist (there should only be checkpoint_000009)

cc @amholler

[2021-08-19 01:26] richardliaw commented on #17939
@anhnht3 this seems to be a problem that is recurring. Do you have a small simple script and some information about your cluster that I can use to reproduce?

[2021-08-19 02:39] DmitriGekhtman commented on #16945
Can we increase the default?
WDYT @rkooo567 ?

[2021-08-19 04:03] richardliaw commented on #16945
No, I think we shouldn't increase the default.

Instead, we should just document this particular issue (and link it in the GCP stuff).

[2021-08-19 04:18] clarkzinzow opened #17943 "[Dask-on-Ray] Propagate Dask-on-Ray scheduler config to (rest of) cluster"
When setting the Dask-on-Ray scheduler as the Dask scheduler via a global config within the driver
[code]
this config won't be propagated to any workers. Therefore, if you do some Dask computation within a Ray task or actor, it won't use the Dask-on-Ray scheduler:
[code]
This can be extremely counter-intuitive, since to users, setting a global config implies that the config is set _everywhere_, in

[2021-08-19 04:21] clarkzinzow commented on #17943
Somewhat related to https://github.com/ray-project/ray/issues/17927 and https://github.com/ray-project/ray/issues/16743, where we wish to propagate the Dask-on-Ray scheduler config to the Ray Client server.

[2021-08-19 05:39] clarkzinzow commented on #17943
Note that Dask [supports environment variables](https://docs.dask.org/en/latest/configuration.html#environment-variables) and [serialized configs](https://docs.dask.org/en/latest/configuration.html#distributing-configuration), but neither will suffice since we need to give a callable as the scheduler.

[2021-08-19 05:52] CraigMeng commented on #17400
@WangTaoTheTonic Thank you, I can run the cluster now. Perhaps I give the wrong password by mistake.

[2021-08-19 06:08] CraigMeng commented on #17400
@WangTaoTheTonic So I states my thoughts here:
we may distinguish different mode by specifying protocol.

Currently we are able to use ray.init(address="ray://123.45.67.89:10001") to connect to existing ray cluster. And I know that Ray has the plan to remove Redis as hard dependency (https://github.com/ray-project/ray/issues/7239). In the future, perhaps we can use other backend to support GCS.

S

[2021-08-19 06:35] aronium97 commented on #9198
I was wondering the same thing.
Might it have something to do with the exploration setting?

[2021-08-19 06:45] #15153 closed

[2021-08-19 06:49] WangTaoTheTonic commented on #17400
@CraigMeng Thanks for your reply and ideas!
The current way of using address in `Ray.init` is:
1. `ray.init()` with no address provided will start ray processes including redis in local and connect to it.
2. `ray.init("auto")` will try to connect to port 6379 in local.
3. `ray.init("ip:port")` will try to connect to the port on the ip specified.
4. `ray.init("ray://ip:port")` will try to connect t

[2021-08-19 09:06] Mingrui-Yu commented on #8469
Is this problem solved? I think I meet the same problem when running SAC with 'num_worker'>1.

[2021-08-19 09:37] AdityaDas-IITM commented on #16505
I'd like to work on this issue, could you please help me get started?

[2021-08-19 10:23] #17424 closed

[2021-08-19 11:49] CraigMeng commented on #17400
@WangTaoTheTonic I assume item3 and item4 will do the same thing according to documentation (https://docs.ray.io/en/master/package-ref.html?#ray.init)? Correct me if I am wrong.

Yeah I agree that adding prefix exposes underlying implementation details to users. I thought ray.init will do exactly same thing with ray start, so I was trying to resolve the conflicts that how ray.init handles passing

[2021-08-19 13:51] krfricke opened #17950 "[tune] DurableTrainable and upload_dir are confusing concepts"
### Describe your feature request

If you want to upload your checkpoints to S3, you can use a `tune.SyncConfig` with `upload_dir="s3://...`. But this will e.g. not delete remote checkpoints with `keep_checkpoints_num`. The `DurableTrainable` has a very similar goal, but will actually work with remote checkpoint deletion - but might run into other problems?

Generally it would be good to either co

[2021-08-19 14:41] anhnht3 commented on #17939
@richardliaw My code is messy and proprietary so I cannot share. There is no message, no warning except:

`DEBUG serialization.py:20 -- Unable to encode. Falling back to cloudpickle`.

I will try to create a simple script later when I have time.

[2021-08-19 14:58] anhnht3 commented on #17939
It seems that there is something that blocks the next trial.

[code]

[2021-08-19 15:08] wuisawesome opened #17952 "Unrevert #17951"
Tracking issue to unrevert #17951 which broke lint on master

[2021-08-19 15:57] matthewdeng commented on #17950
Yeah this is very interesting, @richardliaw @xwjiang2010 and I were just chatting about this topic yesterday. https://github.com/ray-project/ray/issues/17940 may be related to the `keep_checkpoints_num` gap mentioned.

Maybe @xwjiang2010 and I can work together to consolidate our understanding of this functionality into a document and formulate a plan?

[2021-08-19 16:04] marcovaresi commented on #17923
i made this little example using a tutorial of a model in pytorch lightning:

    import ray
    from ray import tune
    from ray.tune import CLIReporter
    from ray.tune.schedulers import ASHAScheduler
    from ray.tune.integration.pytorch_lightning import TuneReportCheckpointCallback
    from ray.tune.suggest.hyperopt import HyperOptSearch
    from pytorch_lightning.callbacks import EarlyStopp

[2021-08-19 17:03] ijrsvt commented on #16708
@Mathieu-Prouveur Please let me know if the fix in #17027 does not fix this.

[2021-08-19 17:03] #16708 closed

[2021-08-19 19:19] #17797 closed

[2021-08-19 19:26] zseymour commented on #17934
@longyuzhao
When you have a `Box` action space, it will be mapped to a `DiagGaussian` action distribution ([see here](https://github.com/ray-project/ray/blob/master/rllib/models/catalog.py#L262)).

Consequently, [this line](https://github.com/ray-project/ray/blob/master/rllib/models/tf/tf_action_dist.py#L264) splits the model output into two halves, such that the first half (2 elements in your cas

[2021-08-19 19:44] rkooo567 opened #17961 "Refactoring Pull/Push manager / OBOD optimization"
### Describe your feature request

It is created to keep track of progress on push/pull manager refactoring + OBOD optimization. These tasks are going to be a backbone of new push/pull protocol. Each of tasks will be a small PR.

- [x] Remove old GCS based object directory in raylet
- [ ] Use client pool for OBOD
- [ ] Move SpilledURL to Object Directory and unpin object before URL update is done

[2021-08-19 19:46] rkooo567 commented on #17961
cc @scv119 The goal is to merge all PRs for each section in next 2 and a half weeks

[2021-08-19 20:05] amogkam commented on #17711
Closed by https://github.com/ray-project/ray/pull/17895

[2021-08-19 20:06] #17711 closed

[2021-08-19 20:29] xwjiang2010 commented on #17950
Yes, Matt, that's a good idea, let's sync on that.

[2021-08-19 20:34] xwjiang2010 commented on #17937
May be related: https://github.com/ray-project/ray/issues/13932

[2021-08-19 21:02] edoakes opened #17964 "Dashboard crashing due to GCS RPC errors"
Context:

@TanjaBayer running Ray Serve on Kubernetes (need to verify exact version). The dashboard crashes but their Serve endpoints are still reachable, so direct actor communication is working at least. The dashboard logs show the following:

[code]

and there are repeated log messages like this:
[code]

[2021-08-19 21:02] edoakes commented on #17964
@TanjaBayer could you please provide (1) the Ray version you're running and (2) the logs from the GCS server when you have a chance?

[2021-08-19 21:06] anhnht3 commented on #17939
I found the culprit. It was BlendSearch who blocked new trials, I changed to different Searcher and everything is good.

[2021-08-19 21:08] rkooo567 opened #17965 "[Dashboard] Dashboard agent is created and killed indefinitely when pip install ray[default] is not downloaded."
### What is the problem?

When I ran ray start with ray downloaded by pip install ray, I observed the dashboard agent is indefinitely created and killed (which uses lots of cpu forking processes) because the agent is immediately crashed due to dependency issue, and the raylet restarts them after 10ms.

### Reproduction (REQUIRED)
Run ray with pip install ray and look at raylet.out

If the code sni

[2021-08-19 21:09] rkooo567 commented on #17965
cc @richardliaw @edoakes should be a high priority issue

[2021-08-19 21:31] wuisawesome opened #17967 "Actors should call atexit before gracefully exiting"
### What is the problem?

Ray actors should run the atexit procedure before gracefully exiting. We should also document this behavior.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no exte

[2021-08-19 22:12] ChrisChiasson commented on #8578
I noticed this paragraph in the [scaling guide](https://docs.ray.io/en/master/rllib-training.html#scaling-guide):

[2021-08-19 22:29] ckw017 opened #17968 "Confusing error message when ClientObjectRefs are cleaned up on script exit"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.5.2, Python 3.8

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

(Requires Ray

[2021-08-19 22:58] bnorick opened #17970 "[core] Severe task scheduling slowdown due to excess function exports"
### What is the problem?

To support scheduling tasks quickly in a large cluster, I need to use resource based scheduling. When doing so, multiple runs without restarting a cluster suffer severe performance degradation.

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray 1.5.2 and nightly both exhibit this behavior
Python 3.6.10
Linux

### Reproduction
[code]

[2021-08-20 00:22] richardliaw commented on #17965
@rkooo567 @edoakes is this a release blocker?

[2021-08-20 01:03] richardliaw commented on #17714
@krfricke Would you be able to take this item? Assigning this to you for now, please cc help if appropriate!

[2021-08-20 01:13] amogkam commented on #17714
Sorry haven't gotten to this yet. I chatted with @simon-mo briefly, and he suggested just creating a separate conda environment for this test since the bootstrap docker image already includes the full set of dependencies.

[2021-08-20 03:33] YeahNew opened #17974 "Some models will be slower when running Distributed Scikit-learn / Joblib on ray cluster ？"
I recently hope to use Distributed Scikit-learn / Joblib on Ray to train some ML models, and refer to your case: https://docs.ray.io/en/master/joblib.html. The program is faster when running on a multi-node Ray cluster than a local Ray cluster. But when I change the model  to LogisticRegression, the training time of the ML model will be longer on a multi-node Ray cluster（Below is my execution code

[2021-08-20 03:53] amogkam commented on #17927
I believe this should be a subset of #17943 since if we have a mechanism to propagate the scheduler to all nodes on a cluster, it should work for client to server as well.

@clarkzinzow @rkooo567 can data processing team look into this as part of #17943?

As for testing, this is only an issue for a multi-node cluster, and we have the testing in place for this with the golden notebooks (tracked by

[2021-08-20 03:56] rkooo567 commented on #16945
Yeah this is highly likely due to the fact that network bandwidth is taken by rsync. +1 on better documentation on various failure scenarios.

[2021-08-20 04:05] amogkam commented on #17943
One option could be to have Dask on Ray be its own importable library that's just a wrapper around dask, but sets all the necessary configurations during import.

[2021-08-20 04:37] rkooo567 commented on #14580
@stephanie-wang After looking at code, it seems like this task https://github.com/ray-project/ray/issues/15962 can also be benefited by this change (adding call site to protobuf). Additionally, I think we can also include (task,actor) repr / type (task vs actor) / ip of (task, actor) to the protobuf?

[code]

In this way, we can always include object_ref.metadata() to every exception such as Worke

[2021-08-20 06:03] sven1977 commented on #17952
Merged again. Closing this issue.

[2021-08-20 06:03] #17952 closed

[2021-08-20 07:00] WangTaoTheTonic commented on #17400
@CraigMeng Thanks for the sharing. You're alway welcome. :-)
@krfricke Hi Kai, does the explanation sound good to you? We'll close this if it's alright.

[2021-08-20 07:28] fyrestone opened #17979 "print after import ray has strange endings."
### What is the problem?

We noticed that after `import ray`, the print result is different. This breaks the default stdout behavior.

[code]
This will print
[code]
After digging into the problem, it is caused by the `colorama.init(strip=False)` in autoscaler cli_logger:
https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/_private/cli_logger.py#L104

*Ray version and other system

[2021-08-20 07:40] TanjaBayer commented on #17964
We have currently two Cluster with a similar setup, the one cluster I completely restarted this morning, to get new logs, this means it also pulled the latest updated docker image for the tag, on this cluster it is right now not failing anymore. But I also did some code changes on our code (No failing serve backends anymore).
Could that mean that this dashboard crashing issue is also caused by thi

[2021-08-20 08:16] TanjaBayer commented on #17964
I need to correct myself the errors are there on the second cluster again, it just took a bit longer than before (maybe less failures)
The whole content of the logs folder:
![image](https://user-images.githubusercontent.com/30770185/130200517-c04f0638-d318-41c1-aa03-9b70527bea38.png)
Here are the logs from the head node, however I did not include the logs for the runtime environments as they conta

[2021-08-20 09:06] raulchen opened #17980 "Dead lock in python import thread."
### What is the problem?

`test_args.py` may time out. After digging into it, I found this is caused by a dead lock introduced by #16278. cc @ckw017 @suquark @rkooo567

This is stack trace of the dead-locked worker

![image](https://user-images.githubusercontent.com/2883335/130209507-184bd1b0-4aab-46ea-b961-83634702dc53.png)

Then main thread is holding the lock and waiting for an actor class to b

[2021-08-20 09:24] #12834 closed

[2021-08-20 13:06] preetijoshi-womply commented on #17926
sorry i think i closed this by mistake, reopened now.

[2021-08-20 15:51] krfricke commented on #17400
Yes, this is great. Thanks @WangTaoTheTonic!

[2021-08-20 15:51] #17400 closed

[2021-08-20 15:52] krfricke commented on #17714
That sounds easy enough, happy to take this on.

[2021-08-20 15:53] krfricke commented on #17939
Hi @anhnht3, do you still have a reproducible code example you can share? I'd like to take a look into if and why Blendsearch malfunctioned

[2021-08-20 15:58] #17719 closed

[2021-08-20 16:14] mingju88D commented on #12491
Does this means the average mean for one episode will need to be divided by 100? I am asking this is because my own code only evaluates the mean reward only on one episode.

[2021-08-20 16:16] mingjunwang88 commented on #12491
Does this means the average mean for one episode will need to be divided by 100? I am asking this is because my own code only evaluates the mean reward only on one episode.

[2021-08-20 16:18] ckw017 commented on #17980
Great find, looks like #16304 might be the way to go then (global import lock, or inject lock on imports just for deserializer).

[2021-08-20 16:52] dmkulazhenko commented on #17506
+ I can give you any error logs you want from head / worker nodes.

[2021-08-20 16:59] ericl commented on #12491
It will be averaged (smoothed) over the last 100 completed episodes of training overall.

[2021-08-20 17:22] jaimegonzalezj commented on #6860
Is the rollout also possible with the multi-agent interface? Thanks

[2021-08-20 19:09] mingjunwang88 commented on #12491
make sense. Thanks @ericl

[2021-08-20 20:03] AmeerHajAli opened #17991 "[usability][runtime_env] misleading error/warning"
[code]
@iycheng: "I think usually it’s because of race condition. If there is no functionality errors, it’s OK. It’s in the place where runtime env is cleaned up. The error means the thing that need to be deleted has been deleted by other jobs."

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provid

[2021-08-20 20:03] AmeerHajAli commented on #17991
@architkulkarni @iycheng , I did not know who to assign this to, can you please reassign this as you see suitable?

[2021-08-20 20:33] ericl commented on #17803
@mwtian any thoughts on low level optimizations here, or any high level approaches to eliminate the overhead altogether for these bulk processing of references?

[2021-08-20 20:45] xwjiang2010 commented on #17940
Hey Richard, somehow I can't reproduce what you saw.
My output (every trial has only checkpoint_000009):
[code]

Command to run the tuning job:
[code]
After the job is finished, ssh'ed into head and inspected the output.

Can you comment on what the diff may be?

[2021-08-20 20:53] richardliaw commented on #17940
Can you verify that `example-full` has multiple nodes and that the tune script is leveraging all of the nodes? it looks like all of the traces you generated have `ip-172-31-26-249`

[2021-08-20 21:10] ericl commented on #17616
Any update here?

[2021-08-20 21:16] xwjiang2010 commented on #17940
All 20 trials are coming from the same node: ip-172-31-26-249. I was using the same example-full.yaml as supplied in the original set up.

[2021-08-20 21:23] richardliaw commented on #17940
Oh sorry, you have to run `ray submit $CFG hyperband_function_example.py -- --server-address auto`

[2021-08-20 21:34] edoakes commented on #17868
This is interesting from structlog. I've only ever seen all of the structured info logged at the beginning of the line. Given that this seems (somewhat) standard in Python we can leave it for now. I'd be fine w/ using structlog to improve the formatting.

[2021-08-20 21:45] edoakes commented on #17965
@richardliaw just discussed with @rkooo567 and sounds like it should be a blocker. He was seeing something like 30% CPU usage in the raylet due to constant retries.

[2021-08-20 22:18] #17968 closed

[2021-08-20 22:18] #17647 closed

[2021-08-20 22:29] #15867 closed

[2021-08-20 22:52] edoakes commented on #17964
@TanjaBayer there are definitely a lot of strange outputs in these logs, but it's hard to narrow it down to the root cause just from the logs. Given that fixing the Serve constructor failures seems to have made a difference and you're see OOM messages, I'm wondering if this could be some issue with processes getting leaked. Do you happen to have access to the Serve controller logs? It could be tha

[2021-08-20 23:01] rusu24edward commented on #6860
@jaimegonzalezj I don't believe it is possible with native RLlib. I've created a wrapper in [Abmarl](https://abmarl.readthedocs.io/en/latest/) that can rollout custom simulations, including multi-agent interface.

[2021-08-20 23:51] valiantljk opened #17993 "Issue on page /development.html"
I followed the building instruction, but failed with the error:

[code]

I'm using Mac,
Python version: 3.8.1
go version go1.15.3 darwin/amd64
 bazel --version
bazel 3.7.0-homebrew

[2021-08-21 01:06] robertnishihara opened #17995 "Outdated terminology in warning message."
This error message is a bit oudated

https://github.com/ray-project/ray/blob/8fe7111a7b2beaa6120df44961b1dde0b646947f/python/ray/util/client/__init__.py#L74-L77

It still says `ray.connect`, but I encountered it by running `ray.init`.

<img width="916" alt="Screen Shot 2021-08-20 at 6 06 10 PM" src="https://user-images.githubusercontent.com/249517/130305737-58c9b935-75f7-4d67-b7ee-364d8750f469.png

[2021-08-21 02:20] xwjiang2010 commented on #17940
Hmm, tried ray.init(address="auto"). All the trials are still run on head node. Could that be the trials are so light that there are no autoscaling involved yet? The job finishes under a minute.

[2021-08-21 02:40] richardliaw commented on #17940
interesting, maybe add a 5 second sleep?

On Fri, Aug 20, 2021 at 7:20 PM xwjiang2010 ***@***.***>
wrote:

[2021-08-21 08:04] #17965 closed

[2021-08-21 10:03] ymd-h commented on #14818
@RuofanKong

No. This is a refactoring bug (maybe) introduced by the commit: https://github.com/ray-project/ray/commit/8f79b4e45ee41565690c59769462c12208996c4a.

The `_num_sampled` should be replaced with `_num_timesteps_sampled`.

(The `_num_timesteps_sampled` is used at `ReplayBuffer.stats()` method)

[2021-08-21 16:30] xwjiang2010 commented on #17940
It is reproduced now after adding 5s of sleep. Thanks!

[2021-08-21 23:52] valiantljk commented on #17993
workaround:

[code]

Install protoc@3.16.0
[code]

Then building ray
[code]

Other information:
bazel 4.2.0-homebrew
python 3.8.3
ray cloned from master
brew info grpc: stable 1.39.1
brew info protobuf: stable 3.17.3

[2021-08-21 23:52] #17993 closed

[2021-08-22 00:01] valiantljk commented on #14752
closed in https://github.com/ray-project/ray/issues/17993

[2021-08-22 00:01] #14752 closed

[2021-08-22 00:03] #15234 closed

[2021-08-22 00:03] #15225 closed

[2021-08-22 03:13] iycheng commented on #17991
I think it should be an easy fix by converting LOG(ERROR) -> LOG(DEBUG).

[2021-08-22 04:06] DmitriGekhtman commented on #14129
@rkooo567
Looks like `ray stop` just sends SIGTERM to all ray processes on the node. Would running `ray stop` prevent this message from showing?

[2021-08-22 06:04] rkooo567 commented on #14129
Hmm I need to double check, but ideally this should not.

[2021-08-22 07:05] guru4elephant opened #18002 "problem with kubernetes run_local_example.py"
### What is the problem?
try to replicate the tutorial on https://docs.ray.io/en/master/cluster/kubernetes.html
a ray cluster has been setup, and I can run '''kubectl -n ray create -f https://raw.githubusercontent.com/ray-project/ray/master/doc/kubernetes/job-example.yaml''' sucessfully.

when I'm trying to run 'run_local_exmaple.py', it fails with some error log as follows:
[code]

Is there somet

[2021-08-22 18:13] AmeerHajAli opened #18003 "[rllib][gcs] inconsistencies in resource demands"
When I run rllib:
1) the resource demands stay even after the application finishes, for example, I still see the following resource demands (for a few minutes) from the scheduler even after the job prints `(pid=191) 2021-08-22 10:45:21,492	INFO tune.py:550 -- Total run time: 1095.71 seconds (1094.69 seconds for the tuning loop).
`:
[code]

2) RLLIB prints a lot of verbose resources:
[code]
CC @wui

[2021-08-22 19:03] anhnht3 commented on #17939
Really sorry for the false alarm. For some reasons, search_alg.is_finished() is not True but the trial is terminated at the time I wrote my comments above. Now, I dont think it's BlendSearch.

[2021-08-22 20:21] ksn-alameda opened #18006 "Adding Rust as a supported language"
### Describe your feature request
This issue represents a vote for including Rust as a main language in addition to Python, Java (and C++-ish). Do we think this will happen?

[2021-08-22 23:54] AmeerHajAli opened #18007 "rllib train -f compact-regression-test.yaml ERROR on APEX_BreakoutNoFrameskip and DQN_BreakoutNoFrameskip"
Is the following dump expected when running ray 1.5.2 with tf=2.5.0 and tf-gpu=2.5.0?
CC @amogkam @sven1977 @richardliaw
[code]

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet sh

[2021-08-22 23:56] AmeerHajAli commented on #18007
All error files show:
[code]

[2021-08-23 02:31] sungho-joo commented on #8151
This is also an important issue for me as well.
Is there any update for this issue?
Seems like storing replay buffer in checkpoint is in progress

[2021-08-23 03:00] #15696 closed

[2021-08-23 04:24] haoliangjiang commented on #14140
Do you mind elaborating your solution a little bit more? I did not quite follow what your global variables are and how you call them in tune.run. Thanks in advance.

[2021-08-23 04:24] haoliangjiang commented on #14140
@jonas27

[2021-08-23 08:27] TanjaBayer commented on #17964
I think the OOM error was due to the constant restarting of the process, and not stopping the failing one. However the OOM did only happen on the one cluster, the logs from the other cluster (see zip files above) do not include any OOM errors. So I do not think that the OOM is the cause of the dashbord crash

![image](https://user-images.githubusercontent.com/30770185/130415088-79214687-d4ba-4f70-

[2021-08-23 09:17] avinashkumar-d opened #18015 "Is there a way to change the default method of spawning new processes using Pool in Python? It is "spawn" by default on macOS."
### Describe your feature request

For questions, post on our Discussion page instead: https://discuss.ray.io/
<img width="584" alt="Screenshot 2021-08-23 at 2 44 47 PM" src="https://user-images.githubusercontent.com/72370959/130422233-693edf0c-dabe-4b11-aea9-d4f240999611.png">

I am currently using the following code to create a multiprocessing Pool in python.

with multiprocessing.get_context('s

[2021-08-23 12:38] sven1977 commented on #7747
Hey @lvhuiwei @josjo80 @felixs8696, finally found the problem! :) This has been a bug in RLlib from the beginning of time.

In a multi-GPU tf policy, the apply op should not be created in the individual towers since the main apply op is created separately (mean-reduce over all towers' gradients). Apparently this individual tower apply-op messes up the Adam optimizer op placements, but only when us

[2021-08-23 12:42] sven1977 commented on #9844
Marking this as a duplicate of https://github.com/ray-project/ray/issues/7747, in which I describe a one-line fix.
PR coming up ...

[2021-08-23 12:42] #9844 closed

[2021-08-23 12:42] sven1977 commented on #9844
@Antymon ^^

[2021-08-23 13:14] sven1977 commented on #16529
The above PR was merged, hence the issue was fixed. Closing this now. Please re-open in case this issue resurfaces again in the future.

[2021-08-23 13:14] #16529 closed

[2021-08-23 14:41] architkulkarni commented on #17991
Sounds great, thanks for the hint--I can take this one.

[2021-08-23 15:42] xwjiang2010 commented on #17940
The checkpointing flow for trials:
1. User specifies how to checkpoint in training_function.
2. Each trial, during its execution, saves checkpoint files onto local (worker) disk.
3. Node syncer uses rsync to periodically send checkpoint files back to driver (there is some rater limiting, may buffer multiple ones)
4. CheckpointManager is responsible for maintaining checkpoint files on **driver**.

[2021-08-23 15:44] krfricke opened #18018 "[placement groups/autoscaler] unfulfillable requests should raise an error"
### What is the problem?

Latest master.

This is a follow up to item 3) from #18003 cc @AmeerHajAli

When requesting resources using placement groups that are unfulfillable by the autoscaler, no error is raised. Additionally, nodes are started to fulfill part of the requested resources.

### Reproduction (REQUIRED)

If a `custom_resource` is requested, but no node type can fulfill it, nodes are s

[2021-08-23 15:45] krfricke commented on #18003
Thank you so much for discovering these. I'll investigate further and might create child issues to track these individually after finding out the cause.

[2021-08-23 15:53] TanjaBayer commented on #17964
I am not sure if those issues are really related or not, however now I see this error beeing thrown when trying to startup:
[code]

It seems like the lib is not linked correctly, which causes the error, and it seems this issue is not new, as it is there in several image which I have on my local machine without pulling them (e.g. rayproject/ray:1.5.0-py37-gpu):
![image](https://user-images.githubus

[2021-08-23 16:42] mwtian commented on #17803
@pdames thanks for the info. @ericl one optimization I found is to cache Python stack for all embedded references (#17882). It reduces the processing time by ~50% for objects containing 2400 object references, and by ~65% for objects containing 10000 object references. We need to reduce the time by another ~50% for the common scenario of 625 objects with 3520 embedded object references each, to re

[2021-08-23 16:59] ericl commented on #17803
Good find on the stack optimization. I wonder where the rest of the time is going, did you get a profile?

250ns is quite a tight budget but not unreasonable--- that's room for more than enough hash table lookups/updates etc. But maybe if we're constructing a bunch of protos etc. it would be too expensive.

[2021-08-23 17:10] amogkam commented on #17756
You would be able to toggle this via the `TUNE_SYNC_DISABLE_BOOTSTRAP` environment variable

[2021-08-23 17:19] djdongjin commented on #17616
Hi @ericl , I was able to cover the local file system situation, but not sure about the cloud storage situation (s3). I saw the file system checking happens in a lower level (pyarrow?) Any idea how we can check the file system here and create the path if it doesn't exist (only) in local file system?

[2021-08-23 17:30] ZhijieWang opened #18019 "Doc page with broken links and incorrectly sized columns"
Describe the bug
see screenshots

<img width="1440" alt="Screen Shot 2021-08-20 at 11 43 57 PM" src="https://user-images.githubusercontent.com/1463296/130491066-8e66396f-fcc3-46e1-b993-84ff64e92f28.png">

Doc page code example column is partially blocked.
<img width="682" alt="Screen Shot 2021-08-20 at 11 43 44 PM" src="https://user-images.githubusercontent.com/1463296/130491085-b84b14e5-ca72-46cf

[2021-08-23 17:31] james-tn opened #18020 "Is there a way to scale the cluster dynamically from python client execution?"
After ray.init(), I need to execute remote method and I'd like the cluster to scale dynamically based on the workload. Is there anyway to do that?
I can see cluster scale with job submission via YML but can this dynamic scale applied for python script execution? My cluster is on Kubernetes
### Describe your feature request

For questions, post on our Discussion page instead: https://discuss.ray.io

[2021-08-23 17:44] ericl commented on #17616
Does the pyarrow filesystem API provide any such facility for this? Otherwise, not sure if we can handle that case.

[2021-08-23 17:55] ijrsvt commented on #15893
@jaredvann were you able to try out @richardliaw 's suggestion?

[2021-08-23 17:58] ijrsvt commented on #16743
@Yard1 Any updates on trying to implement the suggestion?

[2021-08-23 18:00] Yard1 commented on #16743
We are still trying to figure out the best way to take care of this. Ideally this would be taken care of on the Client's side

[2021-08-23 18:05] DmitriGekhtman commented on #14789
This was more of a concern with the `ray up` stack -- probably autoscaler was contending with other ray head processes for memory. Re-marking P2 for now.
(Autoscaler memory efficiency is an important goal but not exactly within scope here.)

[2021-08-23 18:07] ijrsvt commented on #15407
Hmm, @architkulkarni, do we handle this for `runtimeEnvs`? I'm wondering how such a package warning would interact with 'laptop version' vs. 'runtimeEnv' version?

[2021-08-23 18:29] AmeerHajAli commented on #18003
@krfricke , after running compact-regression-test.yaml,  I am also getting:
[code]

[2021-08-23 18:32] ijrsvt commented on #16743
@Yard1, Would ensuring all calls to the `Dask` class methods first call

[code]
be okay?

[2021-08-23 18:35] Yard1 commented on #16743
Yeah that should work actually. I'd be happy to test this!

[2021-08-23 18:44] ericl commented on #17980
@ckw017 I assume you're working on this? cc @suquark

[2021-08-23 18:45] architkulkarni commented on #15407
Currently this is how runtime envs works:  If `pip` or `conda` is specified, we generate and install a conda environment on each worker.  In the `environment.yml` spec for the generated environment, Ray inserts the line`python=3.x.x` where this version is read from `sys.version_info` on the laptop.  In this way, the Python patch version on the workers always matches the one on the driver.

If the

[2021-08-23 18:47] architkulkarni commented on #15407
Ah sorry, what I posted earlier was just about the python version and not about packages.  Runtime envs doesn't have any special handling for this situation; currently the user needs to make sure the package versions specified in their runtime env are compatible with the ones installed on their laptop.

[2021-08-23 18:50] ericl commented on #16802
@chaokunyang is this actively worked on?

[2021-08-23 18:51] ericl commented on #16304
Duplicates https://github.com/ray-project/ray/issues/17980

[2021-08-23 18:51] #16304 closed

[2021-08-23 19:10] jonas27 commented on #14140
@haoliangjiang I did it like this

@ray.remote
class GlobalState:
    def __init__(self):
        self.bestScore = 0
        self.bestRun = []

    #
    def set(self, val_roc_score, run):
        if self.bestScore < val_roc_score:
            self.bestScore = val_roc_score
            self.bestRun = run

    def resetScore(self):
        self.bestScore, self.bestRun = 0, None

    def get(self):

[2021-08-23 19:20] mwtian commented on #17803
Here is a [profile](https://gist.github.com/mwtian/c73d7918c4d4a82429ad2c3939a96d27) for creating and getting 625 objects containing 3520 object refs each, running this [script](https://gist.github.com/mwtian/625b9a8bdc907e07e175e4d40c21a4a5) against master branch. Btw https://www.speedscope.app/ seems to provide a better visualization of `profile_data_collapsed`.

Most of the time spent during de

[2021-08-23 19:27] ericl commented on #18018
There's some overlap with a usability issue we're looking at here: https://github.com/ray-project/ray/issues/15933

We plan to prioritize this, which could also fix this issue. Though also open to autoscaler team taking the lead on this!

[2021-08-23 19:45] richardliaw commented on #17940
@xwjiang2010 maybe you can post output somehow? I'm not sure why all the trials are showing up on the same node.

[2021-08-23 21:14] ericl commented on #17452
cc @jjyao

[2021-08-23 22:00] amogkam commented on #18007
Hey @AmeerHajAli is there no other information in the stdout or in the error.txt files? Are you using spot instances?

[2021-08-23 22:19] AmeerHajAli commented on #18007
no, not using spot instances.
It is easy to repro, run ray/rllib/tuned_examples/compact-regression-test.yaml on the product

[2021-08-23 23:05] edoakes commented on #17964
Hmm, the above looks like it's some kind of error in the runtime_env working_dir code, I'm not sure it actually has to do with linking. @architkulkarni @iycheng could you take a look here? Have we seen any other similar issues reported from other users?

Btw, @TanjaBayer as an experiment what happens if you don't use runtime_env at all? Do you see the same issues?

[2021-08-23 23:16] architkulkarni commented on #17964
I agree it looks related to `working_dir`, but I haven't seen this error before.  What's interesting is that it's going through `/home/ray/anaconda3/lib/` in the process of uploading the working_dir.  @TanjaBayer Would you mind sharing what `working_dir` is set to in the `runtime_env`, and roughly what's contained in it?  I'm not sure you want  `home/ray/anaconda3/lib/` in there (if it is), since

[2021-08-23 23:34] dmatrix commented on #17846
I wonder if this problem comes from this [line](https://github.com/dmatrix/ray/blob/master/doc/source/conf.py#L239)

[2021-08-23 23:54] ericl commented on #17970
I did a few experiments and believe the issue here is in how Ray manages functions. When a function is first used (via `func.remote`), Ray exports the function to Redis, and Redis broadcasts the function definition to all workers. When a nested tree of function is used, Ray might export a function multiple times if it's used from multiple submission processes. So suppose you have 50 submission tas

[2021-08-23 23:54] ericl commented on #17970
Related to https://github.com/ray-project/ray/issues/8822

[2021-08-24 00:41] CMobley7 opened #18027 "[tune] Multi-Objective Samplers Like NSGA-II found in Optuna"
I'm using Optuna's NSGA-II multi-objective sampler in order to optimize over multiple performance metrics. However, one of the libraries I'm using is single-threaded; so, when I run the analysis with just Optuna, only 1 thread of my CPU is utilized. In an effort to maximize my CPU usage, as well as allow the possibility to expand the analysis to multiple servers I decided to use Ray. Awesome libra

[2021-08-24 00:52] amogkam commented on #18027
Hey @CMobley7 instead of returning inside your `objective` function, can you use `tune.report` instead like in the optuna example https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/optuna_example.py#L29. Let me know if that works for you.

[2021-08-24 01:01] #16479 closed

[2021-08-24 01:03] architkulkarni commented on #16277
Closed by https://github.com/ray-project/ray/pull/17249

[2021-08-24 01:03] #16277 closed

[2021-08-24 01:05] architkulkarni commented on #16299
Closed by https://github.com/ray-project/ray/pull/17306

[2021-08-24 01:05] #16299 closed

[2021-08-24 01:11] CMobley7 commented on #18027
@amogkam, thank you for the quick response. I really appreciate it. My apologies for not noticing that discrepancy in my code earlier. I fixed that as shown below, as well as updated my init of ray when using Optuna's example. However, I get the following error now.

[code]
[code]

[2021-08-24 02:31] amogkam commented on #18027
Hey @CMobley7, thanks for the followup. It don't look like the `OptunaSearcher` supports multi-objective samplers currently (cc @krfricke and @Yard1 to confirm), though we can definitely look into adding support for this.

What's interesting though is that the `KeyError` looks to be something unrelated to Ray Tune though. From the stack trace it looks to be coming from the `generate_stats` call in

[2021-08-24 02:51] jmugan opened #18031 "Example with deprecated class"
I love RLlib so far. Thanks for your effort. The example at https://docs.ray.io/en/master/rllib-offline.html#example-converting-external-experiences-to-batch-format uses `SampleBatchBuilder`, but that is deprecated and also gives a weird error `AttributeError: 'function' object has no attribute '_next_unroll_id'` for the line `writer.write(batch_builder.build_and_reset())` in my modified version o

[2021-08-24 03:05] CMobley7 commented on #18027
@amogkam , thanks for looking into this and being open to updating `OptunaSearcher`. I really appreciate it. In regards to the error, it looks like it's originating from `vectorbt`. I'll investigate more and open a ticket there of necessary. Thanks again

[2021-08-24 03:13] liyingathere opened #18032 "AttributeError: 'AsyncPPOTFPolicy' object has no attribute 'target_model' [rllib]"
### What is the problem?

*AsyncPPOTFPolicy' object has no attribute 'target_model'*

### Reproduction (REQUIRED)
        import os
        import ray
        from ray.rllib.agents import ppo
        from ray.rllib.agents import impala
        os.environ["OMP_NUM_THREADS"] = "1"
        ray.init()
        change = {
            "env": "PongNoFrameskip-v4",
            "framework": "tensorflow",

[2021-08-24 03:17] liyingathere commented on #18032
Error message
Traceback (most recent call last):
  File "test_appo_rllib.py", line 222, in <module>
    trainer = ppo.APPOTrainer(config)
  File "xxxxxx/lib/python3.7/site-packages/ray/rllib/agents/trainer_template.py", line 106, in __init__
    Trainer.__init__(self, config, env, logger_creator)
  File "xxxxxx/lib/python3.7/site-packages/ray/rllib/agents/trainer.py", line 465, in __init__
    sup

[2021-08-24 04:37] RuofanKong opened #18034 "RLLib Apex-DQN regression on convergence"
### Issue Description
I am upgrading Ray from 0.8.6 to 1.3.0. I tried training CartPole-v0 (OpenAI Gym) with Apex-DQN and the default hyper-parameters, and I noticed that Apex-DQN 1.3.0 is way slower than 0.8.6 on the convergence w.r.t training iterations. Specifically, the mean episode reward mostly reaches 100+ after 4 - 5 training iterations for 0.8.6, while it's still <100 after 15 training it

[2021-08-24 07:12] sven1977 commented on #18007
Trying to reproduce now ...

[2021-08-24 07:49] YeahNew opened #18038 "In Distributed Scikit-learn / Joblib on ray cluster demo, is it possible to read data distributedly?"
Hello~
I am studying Distributed Scikit-learn / Joblib on ray cluster recently, but found that the data needed in the model training process must be transmitted to other nodes through the network, and the data cannot be read from the ObjectStore in a distributed manner. When the data scale is large, this will obviously be a bottleneck. So, Distributed Scikit-learn does not support distributed acqu

[2021-08-24 08:01] sven1977 commented on #18032
Hey @liyingathere , there were some multi-GPU related problems most of which I fixed in this PR here yesterday.
https://github.com/ray-project/ray/pull/18017

It's not merged yet (should be merged today), but you could try the latest master plus the changes in this PR. To make sure multi-GPU does not break anymore in the future, we have added nightly multi-GPU learning tests for all major algos (i

[2021-08-24 09:10] sven1977 commented on #17844
Hey @MischaPanch , could you check, whether your model is actually the same for those comparisons. For example, just print out the number of trainable weights in both cases (before the drop and after). Would like to understand this issue better.

[2021-08-24 09:11] sven1977 commented on #17844
Also, what's your observation space?

[2021-08-24 09:15] sven1977 commented on #18034
Hey @RuofanKong , I can confirm that the latest master is slower than 0.8.6 on your example script. Roughly 10% for Atari and ~20% for CartPole :/ will try to find out why.

[2021-08-24 10:23] sven1977 commented on #18007
Tried a shortened 10min-each-trial run on a 8GPU machine using the same tf and ray versions you mentioned above. Not seeing any problems. Will run now for 1h each trial (original `rllib train -f compact-regression-test.yaml` experiment).

[2021-08-24 10:26] sven1977 commented on #18007
[code]

[2021-08-24 10:27] sven1977 commented on #18007
Will run now for 1h each trial (original `rllib train -f compact-regression-test.yaml` experiment). ...

[2021-08-24 10:27] sven1977 commented on #18007
@AmeerHajAli ^

[2021-08-24 11:18] AmeerHajAli commented on #18007
@sven1977 , thanks for doing that. I was using the default compute template. The issues arise after it runs for much than 10 minutes, I'd say around 40 minutes for sure.

[2021-08-24 11:59] sven1977 commented on #18007
Ok, cool. So far the 1h run looks ok (>1h running). I'll keep you posted.
I'm on a g4dn.metal with container anyscale/ray-ml:1.5.2-py38-gpu
I only updated tensorflow to 2.5.0 and then ran `rllib train -f [yaml file]`.

[2021-08-24 12:01] MischaPanch commented on #17844
Hey @sven1977, thanks for the answer! I am constructing the model with ray, using the same config for all experiments. So, if the model is not the same that would also be a bug in rllib ^^.  Here the agent config (excluding the env config) passed to tune

[code]

Essentially, I just run
[code]

My observation space is just a flat vector. One slightly special thing is that because I have a partiall

[2021-08-24 12:05] MischaPanch commented on #17844
I will try training the same model with tensorflow in different versions of ray and will write the results here soon (probably later today)

[2021-08-24 12:41] AmeerHajAli commented on #18007
Would it be helpful if I run it and share the cluster with you?

[2021-08-24 12:41] YeahNew opened #18039 "Can ray provide an API to store custom data into the ObjectStore ？"
When using Ray combined with other frameworks, the data generated in the middle of the program will continue to be used in the subsequent, and it is hoped that these data can be stored in the ObjectStore distributely, the data can continue to be used in the subsequent fusion framework.
I looked at the APIs in ray/python/ray/data, but I didn’t seem to find a similar method. Someone can answer it?
l

[2021-08-24 12:45] marksirvine commented on #17769
I've had a similar issue: when I run `ray stop`, the python server that ray is connected to crashes and becomes unresponsive.
![image](https://user-images.githubusercontent.com/10220149/130618389-a4b66bdb-4b4f-4213-9f54-ae7428e6ca91.png)

Is this being looked into?

[2021-08-24 13:06] sven1977 commented on #18007
Yes, would like to take a look.

[2021-08-24 13:09] sven1977 commented on #18034
Hey @RuofanKong , I did some digging and it's not necessarily the trajectory view API per se. It does still run "fast" (similar to 0.8.6) in versions 1.0.0 and 1.1.0, which both already have the trajectory view API enabled for APEX. The slow-down happens after 1.2.0. I'm currently bisecting to find the actual root cause. ...

[2021-08-24 13:16] sven1977 commented on #8151
Hey @sungho-joo , actually, here is a PR that's currently in review, which will store the contents of the replay buffer to a checkpoint, if some config flag is set to True. The data is then also reloaded properly. Should get merged soon:

https://github.com/ray-project/ray/pull/17999

[2021-08-24 13:52] sven1977 commented on #18007
Looks ok on my cluster.

g4dn.metal
anyscale/ray-ml:1.5.2-py38-gpu
tf=2.5.0
ray=1.5.2

`rllib train -f rllib/tuned_examples/compact-regression-test.yaml`

[code]

[2021-08-24 14:06] AmeerHajAli commented on #18007
@sven1977 checkout this one:
https://beta.anyscale.com/o/anyscale-internal/projects/prj_MyVW7bByg2bLbXNU6mupEDiL/clusters/ses_Zs3sW7dQQUKqi8bfA5tPBfUY

[2021-08-24 14:42] wuisawesome opened #18042 "Unrevert #18041"
#17978 broke many of the windows builds. Should be fine to remerge after fixing those issues.
![image](https://user-images.githubusercontent.com/3980609/130637488-80b00098-34ec-4490-9703-e588752157a4.png)

[2021-08-24 15:19] sungho-joo commented on #8151
Thanks for replying @sven1977. Actually I already looked over the PR and was waiting for the merge. Cheers!

[2021-08-24 15:24] TanjaBayer commented on #17964
You are right, I defenitely don't want anaconda3/lib in there I just yesterday changed the `WORKDIR` in my Dockerfile which is used for deploying the kubernetes job to point to  `/home/ray` to be able to write a file with `open('filename', 'r')`. My `workdir` is `./` and as the anaconda3 in the `rayproject/ray:1.6.0-py37` is in this location it resulted in the above error. I just changed the `WORK

[2021-08-24 15:26] TanjaBayer commented on #17964
@edoakes did not yet have the possibility yet to test that. Do you have any example script I could try, preferably it should be a bit more complicated than just starting one serve backend :smile:

My scripts will not work because they will instantly fail if they do not have the appropriate requirements installed in the runtime...

[2021-08-24 16:17] RickDW opened #18044 "[rllib] Trainer.with_updates does not allow adding additional mixins"
I have posted this proposal on the [ray forums](https://discuss.ray.io/t/feature-request-trainer-with-updates-discards-previous-mixins/3337) as well but I figured it might be good to post it here as well.

I'm working on a project where a trainer's default_resource_request method needs to be updated. This can be done by passing a mixin into the trainer's with_updates() method. This is what is done

[2021-08-24 16:46] Thompson104 opened #18045 ""ray start --head" in command line gives 'ray' not found"
### What is the problem?
Python 3.6.9;
Ray: 1.6.0;
Ubuntu 18.04.
### Reproduction (REQUIRED)
I'm trying to run `ray start --head`  but have the following result from command line:
![image](https://user-images.githubusercontent.com/28070085/130656218-402afad7-47ee-4edb-b14a-6272a369ddc3.png)

I'm able to run ray.init in python3 and the result is:
![image](https://user-images.githubusercontent.com/2

[2021-08-24 16:49] xwjiang2010 commented on #17940
This is everything in tmp-results/hyperband_test
[code]

If you search for ip, seems all trials are coming from `172-31-29-201`, which is the private ip of the head node.

But then if I look at some training progression results in output console:
[code]
It's saying this trial(train_c2818_00013) is happening on node `172.31.16.77`, different than what the folder is saying (events.out.tfevents.16298

[2021-08-24 16:57] richardliaw commented on #17940
Ah, yeah -- the tfevents thing is misleading (sorry). TFevents file is generated on the driver via callbacks, not on the worker nodes.

[2021-08-24 16:59] richardliaw commented on #18045
Can you try `python3 -m ray start --head`? Looks like ray wasn't installed into your default environment.

[2021-08-24 17:08] #17894 closed

[2021-08-24 17:17] Thompson104 commented on #18045
Thanks for the quick reply. The suggested command returns: `/usr/bin/python3: No module named ray.__main__; 'ray' is a package and cannot be directly executed`

However, the problem seems to be fixed after I restarted my computer? Not sure why.

[2021-08-24 17:17] #18045 closed

[2021-08-24 17:23] cassidylaidlaw commented on #16715
Seems to work for me now! Thanks for the fix.

[2021-08-24 17:48] RuofanKong commented on #18034
Hi @sven1977, Thanks for looking into this! Actually perhaps you tried the latest master, what i see is, 1.3.0 consistently got 2x+ slower down on CartPole, compared against 0.8.6. Also as I shared, the issue is not necessarily trajectory API itself, could be sampler, SimpleListCollector, etc. I confirmed it because as I mentioned, If I replaced the 1.3.0 sampler with 0.8.6 one but keep all other

[2021-08-24 19:06] #17870 closed

[2021-08-24 19:06] #17872 closed

[2021-08-24 19:41] sven1977 commented on #17900
Hey @gjoliver , we should update our example script, which serves as a test at the same time: rllib/examples/deterministic_training.py to have `config.num_envs_per_worker = 2`.

[2021-08-24 19:50] gjoliver commented on #17900
yeah, good idea!!

[2021-08-24 20:36] yuduber opened #18053 "[core] occasional Ray port conflict issue"
### What is the problem?

encountered an issue with occasional Ray port conflict.
Ray component is trying to use a port number xxx that is used by other components.
*Ray 1.3.0*

### Reproduction (REQUIRED)

start the head node as normal,
start the worker node with command below in a could:
ray start --address=agent10909-phx4.prod.uber.internal:31014 --object-manager-port=31009 --worker-port-list=3

[2021-08-24 20:59] architkulkarni opened #18054 "[runtime env] Add py_modules to RuntimeEnvDict"
### Describe your feature request
The implementation of this feature is already there, it just needs to be hooked up to the RuntimeEnvDict API and documented.
For questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-08-24 21:08] edoakes opened #18055 "[serve] Error when starting two serve instances in different namespaces"
In the below example, the two scripts should be entirely isolated.

`ray start --head`

[code]

[code]

Output from second one:
[code]

[2021-08-24 21:10] edoakes commented on #18055
@nikitavemuri hopefully this is addressed by your open PR -- could you try out this example on your PR to see if it's still an issue? We should add a test case either way.

[2021-08-24 21:33] edoakes commented on #17964
@TanjaBayer Ok, to summarize my current understanding (please correct me if I'm wrong):

- The OOM is no longer happening, so that doesn't seem to be related.
- Now that you've changed the `working_dir`, you're no longer seeing the errors about `No such file or directory`
- The dashboard is still crashing with the same message about the GCS RPC deadline.

Now that we've eliminated those red herrin

[2021-08-24 21:46] bnorick commented on #17970
The proposed workaround is a non-starter, unfortunately. When tasks tasks start to take longer, say `--sleep 1`, then scheduling tasks from the driver will never saturate the cluster because the scheduling overhead starts to dominate. With shorter tasks, e.g., `--sleep 0.1`, the driver can schedule many of them locally and it's still fast (albeit not as fast as distributed).

# Tests

## Updated s

[2021-08-24 22:15] wuisawesome commented on #17970
hmmm actually this is a slightly smaller bug on its own isn't it? i don't think there's any reason we need to re-export a task if we change the options right? Only the function definition comes from GCS, the options (or at least the resource requirements) should all be coming from the task spec anyways right?

[2021-08-24 22:17] bnorick commented on #17970
The proposed workaround is a non-starter, unfortunately. When tasks tasks start to take longer, say `--sleep 1`, then scheduling tasks from the driver will never saturate the cluster because the scheduling overhead starts to dominate. With shorter tasks, e.g., `--sleep 0.1`, the driver can schedule many of them locally and it's still fast (albeit not as fast as distributed).

# Tests

## Updated s

[2021-08-24 22:33] kombuchafox opened #18056 "[serve] serve.start() needs to have detached=True or its cleaned up right away"
### Describe your feature request
serve.start() needs to have detached=True when using ray client or else deployment is cleaned up right away.

Everytime I deploy the actor is killed and recreated

For questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-08-25 00:19] stephanie-wang commented on #17803
@mwtian and I synced offline and I think some steps to try are:
1. Disable recording the call stack entirely.
2. Batching the calls to `deserialize_and_register_object_ref`.

Also, I think the script is not an apples-to-apples comparison because the version that hides the refs doesn't deserialize the ObjectRefs fully. If you deserialize the refs after `ray.get`, it actually has about the same late

[2021-08-25 00:27] ericl commented on #17970
Seems there are a couple bugs here cc @stephanie-wang @wuisawesome

The slowdown seems worth debugging. Separately, we should be able to schedule low 10k tasks per second from a single driver.

[2021-08-25 00:46] bnorick commented on #17970
I think the scheduling issue (or whatever is going on that causes the 10 minute run time for the driver based task submission) is problematic. However, the slowdown might actually be resolved in nightly? I did a fresh install of nightly on my cluster and reran that test.

# Task submitters without resources
## 0.0001 second tasks
Running `python test.py --no-submitter-resources` four times after a

[2021-08-25 00:49] DmitriGekhtman commented on #18018
Expected behavior Item 2 seems like it should be implied by the advertised property that `Placement groups are atomically created`.

[2021-08-25 01:16] DmitriGekhtman commented on #18018
I could try to take a hack at fixing the autoscaling behavior -- will bug placement group autoscaling expert @wuisawesome if I get stuck.

[2021-08-25 01:28] aloysius-lim commented on #13820
I am facing this issue as well, on Ray 1.6.0. SlateQ will be important for a project that I am working on, and it'd be great if the issues with SARSA and QL can be fixed.

[2021-08-25 01:48] WangTaoTheTonic commented on #18042
I'll take this. Thanks.

[2021-08-25 02:07] WangTaoTheTonic commented on #13854
PR merged. I think we can close this.

[2021-08-25 02:07] #13854 closed

[2021-08-25 02:28] wuisawesome commented on #18018
This looks similar to #17799 and  #14908? Btw perhaps the autoscaler can raise an error. Option 2 seems preferable here, since one can always update the autoscaler config to make the node feasible.

[2021-08-25 03:00] #13590 closed

[2021-08-25 03:06] DmitriGekhtman commented on #18018
Updating autoscaling config is a little touchy because
(a) By default `ray up` restarts ray processes (you have to pass a `--no-restart` flag)
(b) There are contexts in which it's not possible to update the cluster config

[2021-08-25 03:14] rkooo567 commented on #17628
Okay. So I've worked on this a bit.

- Script here has some issues. I modified it.
[code]
There are 2 discoveries.

1. After I modified it, I actually couldn't reproduce the issue in the small scale because eventually the spilling is triggered because there's always 1 bundle that's pulled (so eventually spilling is triggered at some point).
  - Without faster spilling
    - Pull upto the max quota

[2021-08-25 03:43] rkooo567 commented on #17628
This is another scenario I found.

This happens 100% of time when pipeline spilling wasn't enabled, and 50% of time when it is enabled (we should eventually solve it by better retry protocol). TL;DR this block is triggered quite often which made it wait 10 additional seconds.
https://github.com/ray-project/ray/blob/5571d2436da42438c26967a5d1211a2ebbeffe42/src/ray/object_manager/object_buffer_pool.

[2021-08-25 04:28] stephanie-wang commented on #17628
Hmm I'm not sure why spilling still gets triggered when pulling the 1 bundle would still keep the pull manager under quota. Maybe it's just because the estimation of memory remaining is not exact?

@rkooo567 can you file a separate issue for the object store race? It looks like we could fix it just by not releasing the lock during the Create call but we should track it separately.

[2021-08-25 04:31] rkooo567 commented on #17628
Let me create an issue for the second observation. One of concerns of holding a lock is that the object manager server receives are now blocked by spilling (which is probably fine if pipeline is on?). We can discuss more in a separate issue.

[2021-08-25 04:38] bnorick commented on #17970
Looks like the issue with distributed scheduling and submitter resources is resolved in the "latest" wheel (which refers to commit 5571d2436da42438c26967a5d1211a2ebbeffe42 at the moment). When I run `python test.py`, i.e., use the default of distributed scheduling and submitter resources being true I see no slowdown over time, I also do not see any of the "task asked to execute a function that it

[2021-08-25 04:40] rkooo567 opened #18062 "Pull request race triggers inefficient pull retry"
### What is the problem?

https://github.com/ray-project/ray/issues/17628#issuecomment-905157992

his happens 100% of time when pipeline spilling wasn't enabled, and 50% of time when it is enabled (we should eventually solve it by better retry protocol). TL;DR this block is triggered quite often which made it wait 10 additional seconds.
https://github.com/ray-project/ray/blob/5571d2436da42438c2696

[2021-08-25 04:40] rkooo567 commented on #18062
https://github.com/ray-project/ray/issues/17628#issuecomment-905173500 Another discussion

[2021-08-25 04:41] rkooo567 commented on #18062
cc @ericl @scv119 @stephanie-wang

There are 3 solutions suggested;

- Cache push grpc requests until the object is created
- Make retry protocol efficient
- locking while creating objects

[2021-08-25 04:57] stephanie-wang commented on #17628
I looked into the script a bit more and it looks like this is actually not an issue after the first task gets dispatched. At that point, we're back to pulling no args, so then we'll trigger spilling. The sequence is something like this:
1. pull args for task 1, under quota so we don't spill or pull args for task 2 even though we have available CPU
2. pin args for task 1, dispatch task 1
3. now we

[2021-08-25 04:57] #17628 closed

[2021-08-25 05:19] ericl commented on #18062
Why don't we just retry the create for index 0 (instantaneously), then things will just work since the object was created for index 1 already right?

[2021-08-25 05:23] swicaksono opened #18063 "Ray 2.0.0 dashboard failed to start"
### What is the problem?
I tried to start ray context by run via CLI, and got the following error
[code]

When I tried to check via logging.debug, it returns this error tracebak;
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

- Ray Version: [Python 3.6.6](https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp36-cp36m-manylinux2014_x86_

[2021-08-25 05:45] rkooo567 commented on #18062
Oh actually a good point. I realized the order is a bit messed up. So

indx 1 -> indx 0 created

but indx 0 is replied first (since this is done by retry from the client), and indx0 status is failed (duplicated creation)

and indx0 is dropped and then indx1 is replied.

and that’s the time buffer pool noticed there was an object created

[2021-08-25 07:43] sasha-s commented on #18018
It seems clean to reject inconsistent configs/requests, ideally with a clear error message.

[2021-08-25 11:19] MischaPanch commented on #17844
Update: training with tensorflow. Somehow surprisingly, training with tensorflow also behaves worse than pytorch in version 1.2.0. In 1.3.0 it gets even worse

![image](https://user-images.githubusercontent.com/35432522/130781473-f2b40e73-02ee-452a-a150-d898c7666358.png)
Orange curve is torch on 1.2.0, pink is tf2 on 1.2.0 and grey is tf2 on 1.3.0.

I used the newest versions of tensorflow and ten

[2021-08-25 14:08] #16743 closed

[2021-08-25 14:35] TanjaBayer commented on #17964
Yes

Yes

I hope I am able to attach the logs tomorrow

[2021-08-25 14:40] GiovanniGatti opened #18075 "[rllib] Checking Serializability of <class 'ray.rllib.agents.trainer_template.A2C'>"
# What is the problem?

When upgrading from `ray[rllib]==1.5.2` to `ray[rllib]==1.6.0` I'm getting the following error:

[code]

Note that it is breaking while loading the RLLib modules `from ray.rllib import agents` (which in my project it is being currently used for type checking).

**OS**
[code]

**Python**
[code]
**VirtualEnv config**: [requirements.txt](https://github.com/ray-project/ray/file

[2021-08-25 15:20] Therealchainman opened #18077 "[runtime env] Add _skip_inject_ray into ray runtime environments again"
### Failing to download ray wheel on ray 1.6.0
This is basically asking for this to be added back into ray.  It was removed in this pull request https://github.com/ray-project/ray/pull/17227

The problem is that with this removed I can no longer use ray runtime environments behind a proxy on remote computers that will not allow downloading from the injected ray wheel url.  In Ray version 1.5.1 it

[2021-08-25 15:39] #17345 closed

[2021-08-25 16:43] edoakes commented on #18056
@kombuchafox do you mean the deployment is cleaned up when the script exits? If so, that's the expected behavior of the detached flag.

[2021-08-25 16:59] edoakes commented on #18055
Confirmed that this is still happening on master.

[2021-08-25 18:11] scv119 opened #18080 "[nightly test] stress test placement group is timing out"
[  Stress test placement group](https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_XK8dGTQuc7i9va97p1u5YYGZ?command-history-section=command_history) has been timing out consistently. We should prioritize the fix of it.

[2021-08-25 22:42] clarkzinzow opened #18094 "[Datasets] Add test coverage for reading from HDFS."
Add test coverage for reading from a pyarrow `HadoopFileSystem`. Will need to explore mocking HDFS, or starting and managing a local HDFS cluster via a pytest fixture.

[2021-08-25 22:59] wuisawesome opened #18095 "Function manager exports duplicate functions"
### What is the problem?

The function manager currently uploads functions, using a key derived from the pickled function, but couldpickle pickling isn't stable. This means the function will get reuploaded many times.

On mitigation is to put a uuid in the function when the decorator is invoked, and use that (instead of hashing the bytes) to determine function uniqueness.

*Ray version and other s

[2021-08-25 23:22] xwjiang2010 opened #18097 "resource config is not respected in head_start_ray_commands in cluster.yaml"
### What is the problem?

Pretty recent master. --num-cpus and --num-gpus are not respected in head_start_ray_commands in cluster.yaml.
They are overwritten by RAY_OVERRIDE_RESOURCES.

### Reproduction (REQUIRED)

`ray up example-full.yaml -y`
`ray exec example-full.yaml "watch ray status"`

example-full.yaml used: https://gist.github.com/xwjiang2010/772b799a70b0902ce78acce30574f40a

Please provid

[2021-08-26 00:42] richardliaw opened #18101 "[datasets] Segfault sometimes when using windowed data shuffling/ingest"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* master

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

Here is the stack trace:

[c

[2021-08-26 00:46] richardliaw opened #18102 "[datasets] Non-deterministic AWS error"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* master

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

The following error will hap

[2021-08-26 00:50] amogkam opened #18103 "[Dataset] Progress Bar not rendering correctly inside Ray actor"
Shuffle Map:  56%|█████▋    | 22/39 [00:00<00:00, 219.32it/s]
Shuffle Map:  59%|█████▉    | 23/39 [00:00<00:00, 229.36it/s]
Shuffle Map:  59%|█████▉    | 23/39 [00:00<00:00, 229.52it/s]
Shuffle Map:  56%|█████▋    | 22/39 [00:00<00:00, 219.51it/s]
Shuffle Map: 100%|██████████| 39/39 [00:00<00:00, 234.59it/s]
Shuffle Reduce:   0%|          | 0/39 [00:00<?, ?it/s]
Shuffle Map: 100%|██████████| 39/39

[2021-08-26 03:22] simon-mo opened #18107 "[Serve] Controller specifies Proxy number"
### Describe your feature request

For questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-08-26 03:23] simon-mo opened #18108 "[Serve] Controller state persistence interface and configuration"
### Describe your feature request

For questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-08-26 11:21] YeahNew opened #18114 "When the size of the stored data reaches tens of millions, the subsequent tasks will stop when reading the data from ObjectStore."
I recently used dataset APIs to store large-scale data (the data shape is [11749860, 80]), but when the data size is large, subsequent model training will automatically stop when the data is read from the ObjectStore without any error messages.
When I reduce the size of the data by an order of magnitude: [1174986, 80] everything is fine. Is this a bug? My ray cluster has three nodes, and the plasm

[2021-08-26 12:12] Bam4d opened #18116 "[rllib] Policy `learner_stats` get dropped when multi_gpu_learner_thread.py is used (in GPU and multi-GPU use cases)."
### What is the problem?

When multiple gpus are used, learner stats are gathered in the `learn_on_loaded_batch` method with a "tower_X" key before the stats:
https://github.com/ray-project/ray/blob/master/rllib/policy/torch_policy.py#L645

for example:
[code]

This 'tower_0' is not taken into account when `get_learner_stats()` is used:
https://github.com/ray-project/ray/blob/089dd9b94924cccb85ba1

[2021-08-26 12:46] YeahNew opened #18117 "[Datasets] Prevent Datasets from treating the first line of a CSV file as the header."
ray.data.read_csv() will read the first line of the csv file as schma information by default. Whether this method can be modified, similar to spark.read.format("csv").option("header","False"), you can choose whether to read the first line of content.

[2021-08-26 15:24] wuisawesome opened #18121 "[workflows] Better message when not init'ed"
### What is the problem?

We have a great error message when `workflow.init` isn't called, but unfortunately it isn't called if `ray.init` also isn't called.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)

[code]

[code]

Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the

[2021-08-26 16:14] DmitriGekhtman opened #18125 "[helm][kubernetes][test] Add formatting tests for Helm chart"
### Describe your feature request

Add tests to verify formatting of Helm chart under various conditions to avoid glitches like https://github.com/ray-project/ray/pull/18123 in the recent past.
These tests could simply use `helm install --dry-run`.

For questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-08-26 16:52] amogkam opened #18127 "[Datasets] `split_at_indices` for `DatasetPipeline`"
The `split_at_indices` feature implemented as part of https://github.com/ray-project/ray/issues/17592 looks great!

Could this be implemented for `DatasetPipeline` as well? This will allow us to do per-epoch global shuffling while also splitting the dataset to make sure each worker has the same amount of data (`ds.repeat().random_shuffle().split_at_indices(...)`) which is a requirement for distrib

[2021-08-26 20:53] iycheng opened #18131 "better error message for workflow.init not called"
[code]
The error looks wired:
[code]

We should give better error for this one.

[2021-08-26 21:22] scv119 opened #18132 "[Core] Ray actor died during training"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* latest

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

as @robertnishihara reported

[2021-08-26 23:03] yuduber opened #18134 "Best way to diagnose the OOM problem in a Ray cluster"
We are running Ray cluster heavily in our production with various models and sometime we encounter out of memory issue.  When this happens, it's very often difficult to diagnose which component of our training is causing the issue.  Since the end to end training process includes many parts, for example from data reader to shuffling, batch formation, then to trainer's model.  When the Ray worker no

[2021-08-27 00:43] simon-mo opened #18136 "[Ray Client] Cannot connect to Ray Client when cluster doesn't have resource"
It seems like when the cluster runs out of CPUs, ray client connect hangs. And also submitting `num_cpus=0` task doesn't work.

[code]

1.6.0

[2021-08-27 01:38] iycheng opened #18139 "Documentation for alpha"
The new features in public alpha:

- [x] named step
- [x] workflow inside virtual actor
- [ ] some usability fix [api changes]
- [x] obj ref checkpointing
- [x] update getstate/setstate for virtual actor
- [x] fix crash in first example (need workflow.init?)
- [x] https://docs.ray.io/en/master/workflows/management.html mentions resume_existing option which doesn't exist
- [x] fix request_id: int t

[2021-08-27 02:40] iycheng opened #18147 "[Workflows] Better error message"
- ray.exceptions.RaySystemError: System error: Workflow[id=hello] failed during execution. Why is this a SystemError? Also, the exception chain is quite long.

[2021-08-27 02:50] sighingnow opened #18148 "[Core] Allow users to speicify a worker_id when spawn remote functions"
### Feature request

Current users cannot have fine-grained control about where the remote function are executed. Users cannot archieve things like spawn a function on every worker and only run once on every worker.

A possible workaround is "exported" function using `ray.worker.Worker.run_function_on_all_workers` but it is not for such general purpose.

In `RemoteFunction.remote()` I think is pos

[2021-08-27 03:08] raulchen opened #18149 "[C++ API] Support cross-lang API with Python/Java"
### Describe your feature request

For questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-08-27 03:34] xwjiang2010 opened #18150 "docker.py's rsync is not working as intended"
### What is the problem?
Minimal reproduction:
- Have a 2 node ray cluster: one head and one worker.
- Create a source folder at /home/ray/tmp-result on worker and create a nested /home/ray/tmp-result/001 folder with some file in it.
- On headnode, invoke rsync function:
[code]
- Verify that on head node, there is only 001 under /home/ray/tmp-result
- Now, on worker node, create another 003 folder

[2021-08-27 04:46] DmitriGekhtman opened #18151 "[Autoscaler] Log ids and ips of nodes being terminated by autoscaler."
### Describe your feature request

For questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-08-27 04:51] DmitriGekhtman opened #18152 "[Helm][Kubernetes] Ray Cluster sometimes fails to be created"
### What is the problem?

Some users find that a RayCluster does not come up when installing the operator and Ray cluster in the same namespace.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet sho

[2021-08-27 05:15] SongGuyang opened #18153 "[Event] support severity configuration"
WARNING by default

[2021-08-27 05:46] gjoliver opened #18154 "[rllib] Make sure deterministic seed works for remote RolloutWorker environments"
RolloutWorker supports seeding their environments so they have deterministic behavior.
This however may not work for environments that are created as remote processes.
 We should test and potentially fix this.

[2021-08-27 12:06] DonYum opened #18162 "There is no parameter to config _metrics_export_port in `ray start` cmd"
FYI.

[2021-08-27 12:09] DonYum opened #18163 "with spilling, ray put/get so slow"
python: 3.7.9
ray: 1.6.0

[code]

[code]

![image](https://user-images.githubusercontent.com/1471864/131125050-cc118f46-d093-4273-a1c9-c58f9da1f380.png)

[2021-08-27 18:24] SheldonCurtiss opened #18165 "Worker Distribution issues?"
I got ray running on two machines and it looks correct but for some reason my workers aren't being spread properly.
I'm trying to use both GPU instances with CPU instances on azure but unfortunately their core counts are dramatically different.
I'm using this project but both the discord and issues appear quite dead: https://github.com/werner-duvaud/muzero-general
![image](https://user-images.gith

[2021-08-27 19:18] scv119 opened #18168 "[Core] actor call microbenchmark perf regression"
We've noticed there is a [40% regression](https://a5472365.us1a.app.preset.io/superset/dashboard/17/?preselect_filters=%7B%7D#CHART-Eiv4W7QpvZ) in n_n_(async)_actor_calls_async microbenchmark since Aug 27th. We should investigating if the trends continues.

[2021-08-27 19:25] clarkzinzow opened #18171 "[Datasets] Error message polish"
Error messages returned from Datasets should be nice, e.g. from `ds.map()`.

[2021-08-27 22:04] richardliaw opened #18172 "Ability to pause cluster logs interactively"
### Describe your feature request

It's often very convenient to create a breakpoint in my driver. However, with Ray, I often get some extra logs from the cluster processes that print past my `(Pdb)` prompt.

it’s not fatal but pretty annoying.

[2021-08-27 22:13] richardliaw opened #18173 "[datasets] HDFS read is super slow"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* master

Reading 10k rows from 200 files takes 5 minutes. Any ideas about how to speed up?

[code]

[2021-08-27 23:00] ckw017 commented on #17980
Side tracked on client disconnect stuff.

I think a quick fix would be to drop the lock that introduced the bug, and then introduce the following somewhere before the import when the import thread is started:

[code]

This would prevent threads competing on imports. Technically you could still get deadlock if for some reason the act of importing something spawns a new thread that tries to import o

[2021-08-27 23:05] #16114 closed

[2021-08-27 23:48] architkulkarni opened #18177 "[runtime env] Unhelpful error message for bad pip/conda spec when using Ray Client"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.6, same issue on master. MacOS Py3.7

### Reproduction (REQUIRED)
[code]

This outputs
[code]

after some time.
In `ray_client_server_23000.err` we find the cause:
[code]

However it would be better to stream this to the driver.  In the same file we see `Tried to receive the per job

[2021-08-27 23:52] richardliaw commented on #16878
Closing this, as it looks like the workload is good.

[2021-08-27 23:52] #16878 closed

[2021-08-28 00:05] architkulkarni commented on #17823
Closed by  #16922

[2021-08-28 00:05] #17823 closed

[2021-08-28 00:12] richardliaw commented on #18101
I unfortunately cannot do this on an anyscale cluster, but here is my cluster yaml:

[code]

[2021-08-28 00:13] richardliaw commented on #18102
Unfortunately I cannot repro this on the product, but here is my yaml:

[code]

[2021-08-28 00:13] richardliaw commented on #18102
cc @wuisawesome @clarkzinzow @ericl can you help prio this?

[2021-08-28 00:29] richardliaw commented on #17721
This got fixed right @DmitriGekhtman ?

[2021-08-28 01:20] richardliaw commented on #17940
@xwjiang2010 would it be possible to verify that this works with the `durable` trainable?

[2021-08-28 03:05] DmitriGekhtman commented on #17721
Indeed, closed in https://github.com/ray-project/ray/pull/17757.

[2021-08-28 03:05] #17721 closed

[2021-08-28 05:48] Jthon-lab commented on #4568
Hi, I met the same question when I run the flow project. Did you solve it?

[2021-08-28 05:55] mahuangxu commented on #4568
Please check if you are using the GPU version Pytorch or Tensorflow.

马黄旭
***@***.***
北京邮电大学
信息与通信工程学院
北京市海淀区西土城路10号，100876
---Original---
From: ***@***.***&gt;
Date: Sat, Aug 28, 2021 13:48 PM
To
Cc: ***@***.******@***.***&gt;;
Subject: Re: [ray-project/ray] Fail to run tune with tensorflow and gpu (#4568)

I got the same error while performing a Flow training.

== Status ==
Using FIFO scheduling

[2021-08-28 06:15] #17687 closed

[2021-08-28 06:24] wuisawesome commented on #18097
Yeah, this is the intended behavior, since setting `--num-cpus` would leave the autoscaler in a dangerously inconsistent state. We should add a good error message that says to set the `CPU` field in `node_config: {resources: {CPU: ...}}` instead.

[2021-08-28 14:50] xwjiang2010 commented on #18097
Got it! Thanks for the info.

[2021-08-28 15:03] wuisawesome commented on #18097
I'm going to reopen this, because if you were confused by this, then we should fix the message since others would be confused too

[2021-08-28 15:13] xwjiang2010 commented on #18097
Sounds good. Just curious, why would it "leave autoscaler in a dangerously inconsistent state"?

[2021-08-28 16:34] xwjiang2010 opened #18186 "docker worker does not have aws credentials"
### What is the problem?

I was just trying to see if sync to S3 works to bypass rsync issue for our customer.
The same set up as #17940, with the following change:
[code]
And wrap `train` in `tune.durable`.
In cluster.yaml's setup cmd, add
`pip install awscli`

Still the same workflow but ran into the following issue on worker:
`Error message (1): fatal error: Unable to locate credentials`

On Dr

[2021-08-28 16:35] xwjiang2010 commented on #18186
@richardliaw

[2021-08-28 18:06] DenysAshikhin commented on #15753
So with @sven1977 comment regarding the ability to use `observation_space.contains(obs)` I was able to narrow down the issue in my observation_space set-up.

[code]
The stuff below should have been as above.
[code]
Essnetially, the **14** is a unique id to items, which you can have a max of 12 in a game, 250 is localID for heroes (which you can get up to that number). However, I had them in the op

[2021-08-28 19:52] mvindiola1 commented on #15753
@DenysAshikhin,

Nice catch. Does this mean it is working now?

In the usual work flow when not using a remote env the observation is checked as part of the preprocessor step.

https://github.com/ray-project/ray/blob/05c9dfbbda575e92273121e1a62aec8b1d122624/rllib/models/preprocessors.py#L187

I guess this does not happen in the remote env setup. @sven1977 do you think it is worthwhile to add such

[2021-08-28 20:56] DenysAshikhin commented on #15753
I still (rarely) run into this issue when using TFE with Eager Tracing mode if the client tries to push/pull data while the server is in the middle of training (and not awaiting more data). However, on TF it seems like this isn't an issue. So yes it is working (I am doing more extensive, long-running tests to confirm fully though).

[2021-08-28 21:46] amogkam opened #18188 "[Tune] Pdb causes trial to hang"
Setting a pdb breakpoint inside the train function causes trial to be stuck in PENDING state. This works fine on Ray 1.6 but fails on master.

To reproduce:
[code]

[2021-08-28 21:58] amogkam opened #18189 "[Tune] Print statements not being shown"
### What is the problem?
If I put a print statement inside my training function, it doesn't get printed out with `tune.run`. I'm only seeing this behavior on master, not with Ray 1.6.

To reproduce:
[code]

Output on master:
[code]

Output on Ray 1.6:
[code]

[2021-08-28 22:06] amogkam opened #18190 "[Core] Print statement in task not being shown"
### What is the problem?
On master, print statements inside a Ray task are not being outputted. This was working fine on Ray 1.6.

To reproduce:
[code]

Output on master:
[code]

Output on Ray 1.6:
[code]

cc @clarkzinzow

[2021-08-28 22:07] amogkam commented on #18189
Closing in favor of https://github.com/ray-project/ray/issues/18190

[2021-08-28 22:07] #18189 closed

[2021-08-28 22:12] amogkam commented on #18190
This also means that `pdb` breakpoints inside the task will cause the program to hang since the user cannot interact with pdb.

To reproduce:
[code]

Confirmed that `pdb` works fine on Ray 1.6

[2021-08-28 22:12] amogkam commented on #18188
This is due to https://github.com/ray-project/ray/issues/18190. Closing this issue

[2021-08-28 22:12] #18188 closed

[2021-08-28 22:37] amogkam commented on #18190
Never mind, there was something weird with my install. Did a fresh install and this works fine.

[2021-08-28 22:37] #18190 closed

[2021-08-28 23:51] #17287 closed

[2021-08-28 23:51] #18131 closed

[2021-08-29 01:11] blublinsky commented on #12842
Was this ever fixed. It looks like sample https://github.com/ray-project/ray/blob/master/streaming/python/examples/wordcount.py is still broken. When running it I am getting:

[code]

[2021-08-29 04:15] pdames commented on #17803
@ericl  I'm unsure whether I could improve latency using two layers of serialized objects, since I still need to gather all object refs mapped to a given group ID key across all tasks, then send those object refs to a reduce task for that group ID. Here's a script that more closely reflects the actual scenario:

[code]

However, I may be misunderstanding how to properly apply this recommendation s

[2021-08-29 04:46] ashione commented on #17602
Streaming job is supposed to run all actors in long running mode, so it's can not be stopped. But it will be halted if your source function throws EndofdataException.

[2021-08-29 04:50] ashione commented on #12842
These exception trace back information lines show the root cause is that streaming jar can not be found in your classpath. Could you mind check it again?

[2021-08-29 06:53] mwtian commented on #17803
Thanks Patrick for the details. This looks like distributed shuffle of object refs, where minimizing unnecessary object ref deserialization in the driver is needed. Ideally a high-level Ray API can be used for the whole shuffling operation, e.g. Ray Dataset shuffle or ray.experimental.shuffle, so you can save time from getting into implementation details and the underlying Ray implementation would

[2021-08-29 07:39] rkooo567 opened #18194 "[Core] Task spec including inlined objects can crash lease request RPCs."
### What is the problem?

Since the Task Spec includes all inlined objects, the size of the WorkerLeaseRequest which includes TaskSpec can exceed 200MB. Note that we are avoiding this issue by putting those inlined objects to the plasma store, but we do that only for task submission not for the lease request, which can still cause this issue.

### Reproduction (REQUIRED)
Please provide a short cod

[2021-08-29 13:34] Oxi84 opened #18195 "First time i tried it and it does not work - ctypes objects containing pointers cannot be pickled"
I read this module is supposed to be better than python multiprocessing, but when i have tried the same thing that works with ray i get: ctypes objects containing pointers cannot be pickled

Obviously there are not pointers in the object, these are just a few lists. Quite big lists, but python multiprocesing is handling them without any problem.

[2021-08-29 14:24] blublinsky commented on #12842
What exactly am I checking? I have the latest version of Ray pip installed. Do I need to install anything else to make it work.
Also can it be related to the fact that I am running Java 15, not 8 on my box?

[code]

[2021-08-29 15:24] haoliangjiang commented on #14140
@jonas27 Thanks. Really beautiful solution.

[2021-08-29 18:52] AmeerHajAli opened #18196 "ray dashboard hangs in "Loading...""
CC @edoakes

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet ca

[2021-08-29 20:27] MarvinSt opened #18197 "SSH Error Ray Up on Azure"
Hi all,

I am trying to setup a cluster on Azure using Ray and am looking for some help. I followed the steps in the documentation and the infrastructure is being created on Azure, but when calling `ray up -y config.yaml --no-config-cache` it throws the following error:
[code]

- I have created the ssh keys using `ssh-keygen -t rsa -b 4096` in the default location
(Windows PC: `C:\Users\{user}\.ss