[2019-09-08 01:57] richardliaw commented on #4876
Thanks - please open a PR against the above repo when ready!

[2019-09-08 02:02] richardliaw opened #5660 "[tune] Create an advanced walkthrough example with PBT and Trainable API"
The Trainable API should be surfaced more, since more advanced algorithms depend on it.

This walkthrough should show how to use the Trainable API and cover PBT integration. Consider also developing this on a notebook.

[2019-09-08 16:03] yichuan9527 opened #5661 "How to parser the results of PopulationBasedTraining ?"
Hellow, I run the tune example `pbt_example.py`. I get three results files `pbt_global.txtx`, `pbt_policy_1.txt`, `pbt_policy_2.txt` and `pbt_policy_3.txt`. For example, in `pbt_policy_1.txt`:
[code]
What does each item denote ? And how I pasrer them and reconstruct the searching schedule?

[2019-09-08 21:18] robertnishihara commented on #5649
Fixed by #5655.

[2019-09-08 21:18] #5649 closed

[2019-09-08 22:05] #5624 closed

[2019-09-09 03:02] #5575 closed

[2019-09-09 08:00] Senmumu commented on #4876
sure.

[2019-09-09 10:39] gabiguetta opened #5666 "checkpoint save-restore issues"
### System information
- **OS Platform and Distribution**:  Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: binary (I think)
- **Ray version**: 0.7.2
- **Python version**: 3.6

### Describe the problem
During training, using trainer.save() and trainer.restore() right afterwards presents differences between the original and the reconstructed policy.
I got to debug it after experienc

[2019-09-09 10:44] federicosacerdoti commented on #1928
The allreduce ray-vs-MPI results in the paper were impressive @elibol. Do you have a pointer to the ray code used? Seems a good example of a high-performance ray algorithm implementation. Sorry if I've missed it in the docs.

[2019-09-09 13:18] ggdupont opened #5667 "[java] Usage of sun.reflect.generics.reflectiveObjects.NotImplementedException"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macos sierra
- **Ray installed from (source or binary)**: source
- **Ray version**: tag ray-0.7.4
- **Python version**: NA
- **Exact command to reproduce**: Install ray for java and try the simple example to store an int in object store

### Describe the problem
Issue raised when loading the test:
[code]
This is

[2019-09-09 14:31] ThibzR commented on #5454
Sure @richardliaw, thanks again.
I've checked both ports for object store, and node manager, `master -> worker` and `worker -> master`, they are open, I can communicate through those.

I have attached a tarball of the ray session logs (without edits), with debug logging turned on. Surprisingly, there is no `worker-*\.(out|err)` files (whereas I have some while using only 1 node). Would it be relat

[2019-09-09 15:46] sanjeevanahilan opened #5669 "[rllib] Custom metrics compatibility with MultiAgentEnv"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu
- **Ray version**: 0.6.1
- **Python version**: 3.6.8

### Describe the problem

The examples show how to build custom metrics for single agent environments, which involves the assignment `episode = info["episode"]`. See example code: https://github.com/ray-project/ray/blob/master/rllib/examples/custom_metr

[2019-09-09 16:52] mattearllongshot opened #5670 "Worker count on rllib with on the ray dashboard"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.2 LTS
- **Ray installed from (source or binary)**:
- **Ray version**:
- **Python version**: 3.7.2
- **Exact command to reproduce**:

### Describe the problem

When running rllib the worker processes have names starting with `ray_RolloutWorker`:

[code]

...however the code for the ray dashboard only

[2019-09-09 17:24] ThibzR commented on #5223
Same issue here in #5454

[2019-09-09 17:48] ericl commented on #5669
Could you provide a reproduction script? I think it should work actually.

[2019-09-09 17:49] ericl commented on #5666
Can you provide a reproduction script? This is tested by test_checkpoint_restore also.

[2019-09-09 19:57] richardliaw commented on #5454
Relevant logs:
[code]

[2019-09-09 23:30] ericl commented on #5670
How about "ray_*"? Otherwise, perhaps you could look and see if the parent process is the raylet, though that could be more involved.

[2019-09-09 23:32] shreyagu commented on #1438
@chenhuims @robertnishihara  @richardliaw @ericl Was anyone able to implement this for Azure?

[2019-09-10 00:43] robertnishihara commented on #1438
@shreyagu there hasn't been any progress on this. If you can help, that'd be fantastic!

[2019-09-10 02:45] tarasglek commented on #2483
I'm seeing this on jupter/all-spark-notebook too

[2019-09-10 03:26] kiddyboots216 commented on #5669
Hi -this is a working example of creating metrics in an `on_train_result` callback function:
https://github.com/fedpbt/fedpbt/blob/master/fed/utils.py#L200
Hopefully this can clear up how to access the metrics you want.

[2019-09-10 03:27] kiddyboots216 commented on #5661
Hi, please see https://github.com/ray-project/ray/issues/5489#issuecomment-523829610

[2019-09-10 10:30] ThibzR commented on #5454
It appears to me that it just keeps trying to forward the task to a worker upon failure. Do the logs you pasted suggest something else? An issue on my side?

[2019-09-10 12:54] snownus commented on #4410
@ericl, recently, I came across the same issue. but even remove the "max_weight_sync_delay", the problem still exists. Do you have any other suggestions?

[2019-09-10 13:38] sanjeevanahilan commented on #5669
Hi, thanks for your responses and the link. Turns out I actually made a stupid mistake and it does work fine - sorry about that.

I will close this issue, although I have another question in case you happen to know the answer. Is it possible to create custom metrics for the MultiAgentEnv rather than just the agents experience? Right now, it seems as though 'episode' only gives access to the observ

[2019-09-10 13:38] #5669 closed

[2019-09-10 18:21] ericl commented on #5669
In that case, you can put the full state either in the info return of the
env, or put it in the obs of the agents and ignore it in the forward passes
with a custom model.

On Tue, Sep 10, 2019, 7:12 AM sanjeevanahilan <notifications@github.com>
wrote:

[2019-09-10 19:47] richardliaw commented on #5454
cc @stephanie-wang ? Seems like a common problem.

[2019-09-10 20:07] mtcrawshaw opened #5682 "[rllib] Unable to add agents to multi-agent environment at training time"
### System information
- **OS Platform and Distribution:** Linux Ubuntu 18.04
- **Ray installed from**: Binary
- **Ray version**: 0.7.4
- **Python version**: 3.7.4

### The problem
The problem is that in the file rllib/rollout.py, in the function rollout, the set of agent ID's which are added to action_dict (a dictionary from agent ID's to chosen actions, which is then passed to the environment fo

[2019-09-10 20:12] mtcrawshaw commented on #5682
Nevermind, sorry, I just realized that obs is being updated inside of the loop starting on line 158.

[2019-09-10 20:12] #5682 closed

[2019-09-10 20:45] richardliaw commented on #4289
cc @hershg

[2019-09-11 03:48] stephanie-wang commented on #5454
Can you provide the logs for the worker nodes? It should be under `/tmp/ray/session_<timestamp>` on the 2 worker nodes. If you can turn on debug logging for the workers too through the `ray start` command, that would be helpful.

Also, is it possible for you to use the [autoscaler](https://ray.readthedocs.io/en/latest/autoscaling.html)? That is the recommended way to start clusters.

[2019-09-11 07:13] kiddyboots216 opened #5686 "[rllib] Integer entropy coeff cannot be passed in"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Steropes
- **Ray installed from (source or binary)**: pip install -U <latest whl>
- **Ray version**: nightly
- **Python version**: 3.7
- **Exact command to reproduce**: Pass integer value of entropy_coeff into run() with PPO

### Describe the problem

### Source code / logs

[code]

[2019-09-11 07:26] jovany-wang opened #5688 "`check_no_existing_redis_clients` is out of date in `scripts.py`"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Ray installed from (source or binary)**:
- **Ray version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem

### Source code / logs

[2019-09-11 09:38] yushan111 commented on #4244
@richardliaw Could you please elaborate how to do this in this specific case? It will be really helpful if you could provide an example. (P.S. it seems only s3 and gs prefixes are allowed for remote_dir https://github.com/ray-project/ray/blob/master/python/ray/tune/syncer.py#L224)

[2019-09-11 10:21] dungnt35 opened #5690 "Can't put frame from camera"
Hi,

I am using ray to process frame from camera. But when i try to put image via ray.put(image) it dont work. it show:
 (pid=21619) libpng error: Invalid IHDR data
(pid=21619) libpng warning: Image width is zero in IHDR
(pid=21619) libpng warning: Image height is zero in IHDR
What it's happend?
Please kindly help me reslove it. I want to use Ray not multiprocessing
[code]

[2019-09-11 10:22] ThibzR commented on #5454
@stephanie-wang sure, please see attached logs from worker nodes, thanks for helping.

[session_2019-09-09_10-22-10_035949_30097_second_node.zip](https://github.com/ray-project/ray/files/3600197/session_2019-09-09_10-22-10_035949_30097_second_node.zip)
[session_2019-09-09_10-22-10_035949_30097_third_node.zip](https://github.com/ray-project/ray/files/3600196/session_2019-09-09_10-22-10_035949_30097

[2019-09-11 14:57] ilan-seebo opened #5691 "How come HyperOpt example does not reach best solution?"

[2019-09-11 15:18] ilan-seebo commented on #5691
**System information**
OS Platform and Distribution: macOS 10.14.6
Ray installed from (source or binary):binary
Ray version: 0.7.3
Python version: 3.7.2
Exact command to reproduce:
python /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ray/tune/examples/hyperopt_example.py
**Describe the problem:**
I am running the example for hyperOpt in: ray/tune/examples/hyperopt_e

[2019-09-11 21:35] #5686 closed

[2019-09-12 01:59] bfortuner commented on #5408
This extends to the Analysis/ExperimentAnalysis, too. Right I can't find a good way to figure out which trials failed? Previously, I could filter by status and see which hyperparam combinations caused failures.

[2019-09-12 02:19] richardliaw commented on #5408
Yeah, I need to get to this soon. I’ll cc you once I open a PR.

On Wed, Sep 11, 2019 at 6:59 PM Brendan Fortuner <notifications@github.com>
wrote:

[2019-09-12 03:58] #5513 closed

[2019-09-12 07:20] snownus commented on #4481
@ericl, similar issues when I run some experiments. the log is:
`Possible unhandled error from worker: ^[[36mray_RayModel:restore_from_object()`

[2019-09-12 07:24] snownus commented on #5240
Will this affect the final performance if such error occurs? @mitar and @ericl , thanks

[2019-09-12 07:40] #5667 closed

[2019-09-12 13:12] wjaskowski opened #5696 "Poor auto-scaling"
### System information
- **Ray version**: 0.7.4

### Describe the problem
The auto-scaling mechanism seems quite unintuitive for me. I spent a considerable amount of time to understand it, so let me share my troubles here. Take an example. I have a head node with 2 cpus and 20 computing nodes with 8 cpus each and 50 long tasks to be computed, each using 8 cpus. If I set to have initially 3 workers

[2019-09-12 17:02] bfortuner opened #5697 "[Tune] sync_to_cloud fails to upload all files"
Version: 0.7.4
Problem: Tune syncs to cloud every 5 minutes, but doesn't perform a final sync and thus misses data from trials that complete within the last 5 minutes of the study.
Possible solution: Add a final sync in the TrialRunner after all trials finish running.

[2019-09-12 18:54] mehmetbasbug opened #5698 "try_import_tf should not live in rllib"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 10
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.3
- **Python version**: 3.7
- **Exact command to reproduce**: python -c "from ray.experimental.tf_utils import TensorFlowVariables"

### Describe the problem
try_import_tf should not live in rllib. There are ray users who a

[2019-09-13 01:34] EyalSel opened #5700 "[RLLib] Built-in support to generate rollouts on custom environments?"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Ray installed from (source or binary)**: Binary
- **Ray version**: 0.8.0.dev4
- **Python version**: 3.6.8
- **Exact command to reproduce**:

### Describe the problem
Hi, I'm writing to ask whether RLLib has a built-in option to get rollouts (something similar to `rollouts.py`) for custom en

[2019-09-13 07:43] wjaskowski opened #5703 "Autoscaler: wait until nodes are ready?"
### System information
- **Ray version**: 0.7.4

### Describe the problem
As far as I am concerned, there is currently no robust way to wait until at least one of the nodes of the autoscaled cluster is active/ready for computations (let me know if I am wrong).

I want to do
```ray up && ray submit script```
but `ray submit` fails with unavailable resources if none node is ready yet so maybe we nee

[2019-09-13 08:02] richardliaw commented on #5703
This would be nice.

As a workaround, in your script, you can call `ray.cluster_resources()` and just check if you have the right quantity ready before executing.

[2019-09-13 15:50] DavidVillero opened #5704 "Having trouble extracting target network weights through callback"
### System information
- **OS Platform and Distribution**: Linux Debian GNU/Linux 9 (stretch)
- **Ray installed from (source or binary)**: Source
- **Ray version**: 0.6.5
- **Python version**: Python 3.6.7
- **Exact command to reproduce**:

### Describe the problem
What am I trying to do?
I'm training DQN/Rainbow agent with noisy nets and I'm noticing that as the model converges towards the ideal

[2019-09-13 16:04] ericl commented on #5704
I think this is due to the tf.cast() calls, which add nodes to the graph on each iteration. I would try to avoid doing any TF operations inside the callback, or if you need to, do it once and save the result in a global variable for reuse. That way the Tensors don't keep building up.

[2019-09-13 18:26] EyalSel commented on #5700
Resolved. After `register_env("MyEnv-v1", env_creator)` I was calling `ray.shutdown()` by accident.

[2019-09-13 18:26] #5700 closed

[2019-09-13 18:46] #5696 closed

[2019-09-13 18:46] ericl commented on #5696
The latest wheels should be updated in a few hours... mind trying out the fix?

[2019-09-14 07:03] ilan-seebo commented on #5691
Thank you very much for taking the time to reply, but I still do not understand something.
In my example, when I use max_evals=1000, the run takes about 1sec, on single core and reaches a good score,
Trying to do the same with tune:
With 1 sample and 1000 iterations I get a very bad score
With 1000 samples and 1 iterations, the run takes at least few minutes (with  max_concurrent=8)

I am sorry fo

[2019-09-14 07:33] richardliaw commented on #5691
This function is a bad example, since Tune/Ray spawns a new process for
each evaluation. By default, Tune targets heavier workloads like DL/RL.

If you really want to optimize a function like the example, one way to work
around this, because the function evaluation is so fast, is to set
ray.init(local_mode=True) before tune.run

1 sample + 1000 iteration only actually samples 1 configuration (no
s

[2019-09-14 21:46] kivo360 commented on #5480
Did you start creating a contribution for this. I'm doing something similar outside of the RLlib agent and would like to reduce the amount of code I have to watch.

[2019-09-15 00:06] bfortuner commented on #4105
+1 Useful for my organization. We're considering using Dask for this purpose.

https://ml.dask.org/hyper-parameter-search.html

[2019-09-15 02:39] mitar commented on #5240
This is just cosmetic.

[2019-09-15 05:04] snownus commented on #5240
Thanks. @mitar

[2019-09-15 05:31] #5633 closed

[2019-09-15 15:39] jon-chuang commented on #5480
Sorry, no, been busy with other projects these days.

[2019-09-15 16:37] snownus commented on #5240
@mitar thanks a lot for your reply. However, my log error is like this:
`
ERROR worker.py:1612 -- Possible unhandled error from worker: ray_RayModel:restore_from_object() (pid=24887, host=4GPU)
UnreconstructableError: Object bf2495b140d49c2a06e85e15968cbeae01000000 is lost (either evicted or explicitly deleted) and cannot be reconstructed.
`
It seems try to load from a model.

Will it affect the f

[2019-09-15 16:44] mitar commented on #5240
I do not think this is related to this issue, so I suggest to or open a new issue or (it looks more like an user issue) write to the mailing list.

[2019-09-15 23:00] richardliaw commented on #5697
Should be fixed now.

[2019-09-15 23:00] #5697 closed

[2019-09-16 06:14] pengzhenghao opened #5712 "ES Agent take up all GPU memory even ray do not provide GPU for it"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **Ray installed from (source or binary)**: pip install -U wheel
- **Ray version**: 0.7.4
- **Python version**: 3.6
- **Exact command to reproduce**:

[code]

![image](https://user-images.githubusercontent.com/22206995/64937265-33f18c80-d88c-11e9-8fed-5350d053cf86.png)

### Describe the problem

This is re

[2019-09-16 07:25] ilan-seebo commented on #5691
Yeah of course the function we really need is much more complected, real ML with hounders of features. Just wanted to make sure I understand your simple example before refactoring my code. It is much clearer now thanks to you,  the part with the inner 'for' loop on the iterations which only work with the Async scheduler was very confusing.

[2019-09-16 07:25] #5691 closed

[2019-09-16 14:03] Skylark0924 opened #5713 "How can I get the replay buffer"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Ray installed from (source or binary)**:
- **Ray version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem

How can I get the replay buffer or where can I find the buffer entrance? For example, where does the (s,a,r,s') save?
I need to change the memory in the buffer.

### S

[2019-09-16 19:31] wjaskowski commented on #5703
Works. Thx for the hint!

[2019-09-16 21:59] richardliaw opened #5715 "[local mode] Actors are not handled correctly"
The below fails with:
[code]

[code]

[2019-09-16 21:59] richardliaw commented on #5715
cc @edoakes

[2019-09-17 02:28] richardyy1188 commented on #4289
I think when it comes to visualizing and comparing different experiments, Weights & Biases is one of the best choice. It can
- compare multiple runs
- save model graph
- save and query hyperparameter configuration of different trials
- real-time visualization
[demo video](https://www.wandb.com/demo)

I suggest either we can build a wandb-like experiment management/comparison/visualization, or we c

[2019-09-17 02:56] pengzhenghao opened #5717 "[rllib] Is it possible to add extra inputs to the model?"
The current implementation uses the `observation` as the input to the RL agent's policy's model, which seems to be hardly modified.

I am trying to add extra input to the model (for example some extra information as the second stream of inputs), but find the codes is so sophisticated that I don't know how to do.

It's easy to build the model with multiple input placeholders. But the question is ho

[2019-09-17 03:05] richardliaw commented on #4289
@richardyy1188 Can you try the Weights and Bias Tune Logger? https://github.com/wandb/client/tree/master/wandb/ray

[2019-09-17 08:23] morgangiraud commented on #5312
Hi all,
Sorry for the long wait ant the stall PR.

I've just pulled the latest updates of ray and rebase my work on master, I've also updated to TensorFlow rc-1.
Now, I can't run my custom TF2 script nor the other PBT example with Keras.

It seems related to this issue: https://github.com/tensorflow/tensorflow/issues/32159

I've been wondering if  RAY + TF2 is compromised in the short term because

[2019-09-17 08:42] FedericoFontana commented on #5717
At least partially related: it is not clear from where to retrieve the required (recurrent) `state` when using `policy.compute_actions` or `policy.compute_single_action` in combination with recurrent networks.

[2019-09-17 10:07] wjaskowski opened #5718 "Ray is hijacking worker's output"
### System information
- **Ray version**: 0.7.4

### Describe the problem
I am using ray together with sacred (https://github.com/IDSIA/sacred/). Sacred logs my experiment results in some database. It also captures the standard output of my experiments and logs it. Unfortunately, Ray somehow interferes with the sacred standard output hijacking and a sacred experiment when executed inside a ray.rem

[2019-09-17 15:20] nicofirst1 commented on #4147
Any update on this?

[2019-09-17 16:11] richardliaw commented on #5718
You can maybe forcefully reset `sys.stdout = sys.__stdout__`?

[2019-09-17 16:40] karstenkrispin opened #5720 "Ray stalls when calling remote functions during custom deserialization of objects."
### System information
- **OS Platform and Distribution**: arch linux
- **Ray installed from **: pip binary
- **Ray version**: 0.7.4
- **Python version**: 3.7.4
- **Exact command to reproduce**: call the attached minimum breaking example

### Describe the problem
When implementing own de/serializer for objects, I sometimes have the need to
call parallized coded. Whenever I call remote functions du

[2019-09-17 16:50] nicofirst1 opened #5721 ""The ray.global_state API cannot be used before ray.init has been called" when using local_mode"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Mojave, version 10.14.6
- **Ray installed from (source or binary)**: source
- **Ray version**:  0.6.1
- **Python version**: 3.6
- **Exact command to reproduce**:
`ray.init(num_cpus=1, local_mode=True)`

### Describe the problem

When trying to use the local_mode in *ray.init()* I get
`Exception: The ray.glo

[2019-09-17 16:52] richardliaw commented on #5312
Hi @morgangiraud, can you try importing Ray in the trainable?

[2019-09-17 16:55] richardliaw commented on #5721
Can you update to `ray==0.7.4`?

[2019-09-17 17:19] ericl commented on #5717
What are you trying to do? Usually, you can put this information in the observation. Observations can be arbitrarily complex with Dict spaces. For states, the new states are returned by the compute action call.

[2019-09-17 17:28] karstenkrispin opened #5722 "Question: Force tasks to be scheduled only on local node"
### Describe the problem
I would like to use ray for parallized execution, especially to avoid multiprocessing.

Eg, when I open a list of compressed images I would like to run this concurrently. However, it wouldn't make too much sense to delegate this task to workers not on the same node.

Is there a way to force scheduling only on the local node?

[2019-09-17 18:11] anthonyhsyu opened #5724 "[Tune] Usability Request"
Some notes on creating the tutorial:
1. At first, it wasn’t completely obvious I needed a class structure: some did not (eg. pbt_ppo_example.py) although most examples did show a basic framework of how I would build this class for training
2. Making sure everything converted to a field in an object (eg. self.<field>)
3. Imports pain, sometimes erroring because I forgot to import something
4. Diffe

[2019-09-17 19:09] timonbimon opened #5726 "[tune] stopping criterion to propagate to other trials"
We use ray.tune to do automated hyperparameter tuning (yay 🙌). To check we have done everything correctly in our projects, we often have an integration test that runs tune and checks if an Experiment can reach a very achievable accuracy in a certain time.

Currently it seems that the stopping criterion that you pass to a ray.tune.Experiment is only applied per trial (that is if one trial reaches i

[2019-09-17 19:21] justinwyang commented on #5715
I'll take a look into think.

[2019-09-17 20:03] mawright commented on #5715
I get a similar error in this test case.

[code]

[code]

[2019-09-17 21:28] wjaskowski commented on #5718
Thanks for the hint. Eventually, I solved the problem in sacred by finding this workaround https://github.com/IDSIA/sacred/issues/195.

[2019-09-17 21:28] #5718 closed

[2019-09-17 23:42] virtualluke commented on #5722
We have had the need for workers with a critical need of data locality similar to what you describe.

We have addressed this kind of thing by launching an actor on each node and that actor has a list of work specific to that node (ie the data is on that node).  Each worker task checks what node it is on and asks for work from the actor that resides on its node.

Does that make sense?  I can elabor

[2019-09-18 00:42] simon-mo opened #5728 "[Kubernetes] Build and update rayproject docker images in Travis CI"
Build and push rayproject docker images in travis CI.

[2019-09-18 07:01] richardliaw commented on #5722
RLlib has a helper function called "create_colocated" to launch actors on the same node; you could do the same for your application.

[2019-09-18 07:09] robertnishihara commented on #5722
This should be doable with custom resources. See https://ray.readthedocs.io/en/latest/configure.html#cluster-resources. Does this work for your use case?

[2019-09-18 07:13] richardliaw commented on #5726
Ah, I see; I'll get to the programmatic stopping condition PR this weekend. That should allow you to do what you want.

[2019-09-18 07:21] nicofirst1 commented on #5721
This worked for me! Thanks alot

[2019-09-18 08:55] nonlimited commented on #5722
Hey all,
many thanks for your answers!

@virtualluke
Let me understand if the actor approach is useable in my case: If I have data that is static but should be kept e.g. in the local plasma store, then an actor per node approach totally makes sense to me. However, If the data needs to be processed on the fly but parallelized, the actor would need to schedule tasks again, right? These tasks would b

[2019-09-18 08:57] FedericoFontana opened #5729 "[rllib] [feature request] Add or expand method of agents to compute deterministic actions"
# System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: pip install ray
- **Ray version**: 0.7.4
- **Python version**: 3.6

### Describe the problem
After having successfully trained and restore an agent, one very common use case might be to  make deterministic action given a state. After training, or when deploy

[2019-09-18 09:35] morgangiraud commented on #5312
Thanks, it does work.

Now, I'm having a new problem with the perturbed path created by PBT.
Example : `path/to/PBTTrain_0@perturbed[training={'batch_size': 64, 'lr': 0.0020391468520995727, 'optimizer': 'adam', 'reg_param': 35.44998722808567}/`

Brackets seem to create complication with TensorFlow, I've created a TF issue [here](https://github.com/tensorflow/tensorflow/issues/32614), waiting for m

[2019-09-18 12:07] nicofirst1 commented on #5715
I'm getting the same error with:
[code]

With the following Traceback:

[code]

[2019-09-18 13:37] kivo360 commented on #5480
Mkay

[2019-09-18 17:07] ericl commented on #5729
I agree this would be a nice feature. Perhaps it could be part of the agent config, e.g. exploration: False?

Contributions would be welcome here.

[2019-09-18 18:03] marsbars33 commented on #5512
@blitzvb Were you able to resolve this issue by any chance? I'm experiencing a similar failure when running setup.py. However, it seems to be stemming from the direct actor gRPC lib in BUILD.bazel on my end. Thanks!

[2019-09-18 18:13] blitzvb commented on #5512
No i tried many many things but I finally gave up :/

[2019-09-18 19:34] mawright opened #5732 "[rllib] Qmix does not use GPU, also QMixTorchPolicy inherits from Policy instead of TorchPolicy"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 19.04
- **Ray installed from (source or binary)**: source
- **Ray version**: 8903bcd
- **Python version**: 3.7.4
- **Exact command to reproduce**: N/A

### Describe the problem
Qmix (implemented in Pytorch) does not use the GPU.

It looks like TorchPolicy has some code to put the NN model(s) on the G

[2019-09-18 19:50] FedericoFontana commented on #5729
I'm afraid that I don't have time to contribute for now I'm afraid. The solution with Simplex is to take softmax of logits, whereas with Box the deterministic action corresponds to the first half of logits as the second half represent the variance of the diagonal multivariate Gaussian distribution. I don't know if this is true for agents different from PPO.

[2019-09-18 23:48] bfortuner opened #5734 "[Tune] Trial Checkpoint/Restore Broken?"
Haven't been able to resume trials since version 0.7.2. I think it has to do with how we're checkpointing. The `last_result` doesn't seem to be persisted in the checkpoint after version 0.7.2. It doesn't show up in experiment_state.json, for example.

I'm able to repro with the logging example here:
https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/logging_example.py

Setup
P

[2019-09-19 03:18] mitchellstern commented on #4690
Hi @songpengwei, this was fixed in #5466.

[2019-09-19 03:18] #4690 closed

[2019-09-19 12:18] Skylark0924 commented on #5712
I have the same problem

[2019-09-19 13:24] #4835 closed

[2019-09-19 13:49] synaptic opened #5736 "[rllib] Workers hang intermittently when connected to PolicyServer"
### System information
Linux Ubuntu 16.04
Ray installed from binary (via conda)
Ray version 0.6.5 (installed via https://github.com/ray-project/tutorial/blob/master/environment.yml)
Python version 3.6

### Describe the problem
I am using the ExternalEnv serving example given here (https://github.com/ray-project/tutorial/blob/82daad6e8ccd991294cfc3e9dc07150954ca7a06/rllib_exercises/rllib_exercise03

[2019-09-19 14:00] anthonytec2 opened #5737 "[tune] PyTorch - Invalid device ordinal"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Ray installed from (source or binary)**: Binary
- **Ray version**: 0.7.3
- **Python version**: 3.7
- **Exact command to reproduce**:
.to("cuda:0")

### Describe the problem
I am using pytorch currently and trying to get tune to distribute runs across 4 GPUs. As mentioned in the docs, this should be taken care of

[2019-09-19 14:02] anthonytec2 commented on #5737
similar to #3772

[2019-09-19 16:05] richardliaw commented on #5312
oh, we may want to flatten that...

[2019-09-19 19:09] ericl opened #5739 "[autoscaler] Should have pool of stopped nodes (rather than terminating them)"
### Describe the problem
A lot of the overhead of instance initialization is only paid the first time the instance is booted, since it needs to populate the EBS blocks, etc. This is easily seen since something like "import tensorflow" takes a very long time. However if you stop and start the instance, it is fast the second time.

In the autoscaler context, many times a lot of state such as library

[2019-09-19 19:16] ericl commented on #5739
To put the cost tradeoff in context, m4.16xl is $3.20 an hour, 100GB EBS is $0.01 an hour.

[2019-09-19 19:17] richardliaw commented on #5739
I would use this; `ray suspend`?

[2019-09-19 19:21] ericl commented on #5739
To be clear this would be in the context of normal autoscaling too.

[2019-09-19 20:01] marsbars33 commented on #5512
@blitzvb I managed to install it! Have you tried adding the following to the build config section in ray/.bazelrc?
`build --incompatible_depset_is_not_iterable=false`

[2019-09-19 21:23] beabevi commented on #5737
I am running into the same issue. I have multiple `Trainables` and each of them in the `_setup` tries to move the model to `cuda:<n>`. I am using 3 GPUs set with `CUDA_VISIBLE_DEVICES=0,1,3` and each `Trainable` using `0.05` of GPU.
`tune` starts but every now and then some `Trainable` fails with `invalid device ordinal` although other `Trainables` in the _same_ `tune.run` still complete normally

[2019-09-19 22:36] richardliaw commented on #5737
@anthonytec2 @beabevi thanks for raising this issue! Can any of you post some code for reproducing?

[2019-09-20 13:13] thebeancounter opened #5743 "ray has no attribute init"
I am using ray on a linux server, installed it using pip
and when using

[code]

I keep getting

What am i missing here?

[2019-09-20 15:27] marsbars33 opened #5744 "[Tune] TuneError: Insufficient resources - no GPU detected on Nvidia Jetson"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 18.04 / Jetpack 4.2.2
- **Ray installed from (source or binary)**:
source
- **Ray version**:
0.8.0.dev4
- **Python version**:
3.6
- **Exact command to reproduce**:
python ./tune/tests/example.py

### Describe the problem
Tune is unable to detect GPU resources on Nvidia Jetson where the GPU is integrated di

[2019-09-20 15:51] waldroje opened #5745 "Tune not checkpointing at end for all trials"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: RHEL 7.6
- **Ray installed from (source or binary)**: Source
- **Ray version**: 0.7.4
- **Python version**: 3.6.8
- **Exact command to reproduce**:

### Describe the problem

I"m getting inconsistent behavior from checkpoint uploads... on longer running trials, often I'm not getting the final checkpoint, particul

[2019-09-20 16:57] richardliaw commented on #5745
Should be fixed in #5699; can you try out master?

[2019-09-20 17:06] richardliaw commented on #5744
can you provide the output of `import GPUtil; GPUs = GPUtil.getGPUs()`?

Also `len(os.listdir("/proc/driver/nvidia/gpus"))`?

[2019-09-20 17:10] richardliaw commented on #5743
looks like ray was installed incorrectly; can you try uninstalling ray multiple times and checking `ray.__file__` (site-packages) to see that it's really gone?

[2019-09-20 17:51] waldroje commented on #5745
Sorry, I did a quick search and nothing popped... didn't think that it was already fixed... thanks much

[2019-09-20 18:41] ericl commented on #3816
fyi @vinamra_benara

[2019-09-20 19:06] marsbars33 commented on #5744
Thanks for the quick response! Earlier I had missed that I could pass num_gpus=1 to ray.init() (as is specified in using-ray-with-gpus.rst). Doing so allowed me to successfully launch the trial :)

The GPU on Tegra-based devices (the Jetson) is integrated directly to the memory controller, so there isn't a separate gpu driver and nvidia-smi is incompatible (requires a PCI interface). I imagine tha

[2019-09-20 19:18] richardliaw commented on #5744
Thanks for the in-depth response! Do you know of any way we can get the gpu
count in python without importing/depending on tensorflow?

On Fri, Sep 20, 2019 at 12:06 PM marsbars33 <notifications@github.com>
wrote:

[2019-09-21 01:01] tianheyu927 commented on #1513
I also have this issue. How do you guys resolve it?

[2019-09-21 01:43] richardliaw commented on #1513
what command are you running and what is the stacktrace?

[2019-09-21 05:29] tianheyu927 commented on #1513
I ran `ray.autoscaler.commands.exec_cluster` as shown [here](https://github.com/rail-berkeley/softlearning/blob/master/examples/instrument.py#L287) in the softlearning repo. And here's the stack trace:

`E0920 17:57:28.584939 139628152801024 updater.py:145] NodeUpdater: i-0cd94a9ba7969588e: Error updating Unable to SSH to node
Exception in thread Thread-3:
Traceback (most recent call last):
  File

[2019-09-21 05:58] richardliaw commented on #1513
OK, can you try manually sshing into the node?

On Fri, Sep 20, 2019 at 10:29 PM Tianhe Yu <notifications@github.com> wrote:

[2019-09-21 06:00] tianheyu927 commented on #1513
Yes, I'm able to manually ssh into it.

[2019-09-21 06:08] richardliaw commented on #1513
Can you make sure the `user` command you're using for the manual ssh is the
same as the `ssh_user` field?

Also, what ray are you using?

On Fri, Sep 20, 2019 at 11:00 PM Tianhe Yu <notifications@github.com> wrote:

[2019-09-21 06:13] tianheyu927 commented on #1513
Yeah, they are the same. I'm using 0.7.1

[2019-09-21 06:53] richardliaw commented on #1513
OK - hm presumably you cannot upgrade because you are using softlearning

Can you provide a bigger stacktrace? Also, if you can try to obtain the ssh
command that is being run (via ssh_cmd in updater), run it and provide the
output - that would be very helpful.

Our error handling did improve a lot since 0.7.1, sorry about that..

On Fri, Sep 20, 2019 at 11:13 PM Tianhe Yu <notifications@github.co

[2019-09-21 07:07] tianheyu927 commented on #1513
Okay, here's the list of the ssh commands being run:
`['ray stop', 'ray start --head --redis-port=6379 --object-manager-port=8076 --autoscaling-config=~/ray_bootstrap_config.yaml']`

[2019-09-21 07:13] richardliaw commented on #1513
Sorry; this is a generated command by the autoscaler (you may need to step
through it. It should probably end with “uptime”.

Also, maybe it is a cluster-name issue (try killing cluster, set name:
“test” and rerun exec).

On Sat, Sep 21, 2019 at 12:08 AM Tianhe Yu <notifications@github.com> wrote:

[2019-09-21 07:25] nicofirst1 opened #5748 "'PPO' object has no attribute 'set_global_vars'"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Mojave, version 10.14.6
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.7.4
- **Python version**: 3.6
- **Exact command to reproduce**:
[code]

### Describe the problem

The Attribute error shows up

### Source code / logs

[code]

[2019-09-21 07:25] tianheyu927 commented on #1513
Thanks! Seems like setting the cluster name to "test" works. Is there anything we should be careful about naming the cluster?

[2019-09-21 07:40] nicofirst1 commented on #5748
Seems to work if I set _num_cpus=1_

[2019-09-21 07:50] richardliaw commented on #1513
This should be fixed if you upgrade to 0.7.4 ray. For now, try reducing the
cluster bame.

Thanks for being patient and responsive!

On Sat, Sep 21, 2019 at 12:25 AM Tianhe Yu <notifications@github.com> wrote:

[2019-09-21 17:32] richardliaw commented on #5748
This is the same issue as #5715 I think.

[2019-09-21 18:06] #4528 closed

[2019-09-22 06:28] thebeancounter commented on #5743
@richardliaw I am using a conda env, and looking for ray.__file__ using sudo find / -name ray.__file__ and there is nothing on the machine with that name, is that sufficient for validating the removal?

[2019-09-22 06:32] thebeancounter commented on #5743
@richardliaw p.s istalled it again using this[https://anaconda.org/bioconda/ray]
and tried to install pip specific to that conda env. Still no luck, same issue

[2019-09-22 06:35] thebeancounter commented on #5743
@richardliaw when I go to the python stub for ray (using ctrl+click) on the import I get to an empty init file. Is it possible that the conda env is not installing properly for some reason?

[2019-09-22 07:35] richardliaw commented on #5743
This isn’t maintained by us, unfortunately... can you use pip?

On Sat, Sep 21, 2019 at 11:35 PM thebeancounter <notifications@github.com>
wrote:

[2019-09-22 07:44] thebeancounter commented on #5743
@richardliaw I installed is using pip on a conda env.
source env
pip install ray

Still the same problem...

[2019-09-22 12:45] richardyy1188 commented on #4289
Yes I tried it. But it seems there's no way to use `wandb.watch(my_model_instance)` with tune. This call is to track gradient and save the model graph, to show sth. like this
![image](https://user-images.githubusercontent.com/17963619/65387321-d0c69500-dd78-11e9-8238-422e3d0bf3bc.png)
The problem I encountered is `watch` should called after `init`, but if we put `watch` in logger like below, we ca

[2019-09-22 17:05] kivo360 commented on #5455
Is this gonna happen? I use a different library to do hierarchical learning on the side. Having something integrated would be nice.

[2019-09-22 21:17] brendanxwhitaker opened #5753 "[rllib] Unable to add new policies in multi-agent setting."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 18.04.1 LTS (Bionic Beaver) WSL
- **Ray installed from (source or binary)**: Binary
- **Ray version**: 0.7.4
- **Python version**: 3.7.4
- **Exact command to reproduce**: See below.

### Describe the problem
I'm trying to create a multi-agent environment which supports the creation of new agents and removal of cu

[2019-09-22 22:35] ericl commented on #5753
Yeah, this isn't supported. You have to create the set of valid policies up-front at trainer initialization. The configuration dict is replicated in the cluster so it's not something you can just mutate in your code.

If you really need to change the configuration at runtime, a possible workaround is to checkpoint the trainer with `save()`, destroy it, create a new trainer with the updated configu

[2019-09-22 22:37] brendanxwhitaker commented on #5753
Thanks for replying so quickly. I'm guessing the checkpoint functionality you're describing is rather expensive? As in it would be a bad idea to be doing it every couple of environment steps?

[2019-09-22 22:39] ericl commented on #5753
That's right---I would recommend creating the max number of policies needed up front in the dict instead.

[2019-09-22 22:43] brendanxwhitaker commented on #5753
Gotcha.  And just for a sanity check here, you need a distinct policy for each agent if you don't want any weight sharing going on? Or am I misreading the docs here and you only need multiple policies if you want different RL algorithm implementations?

Assuming you do need a distinct policy for each agent, suppose the max number of distinct agents is unbounded. Any recommendations? Are there any

[2019-09-22 23:03] ericl commented on #5753
That's right.

This is an interesting feature request. I'm not sure about other libraries, but maybe the policy mapping function can, instead of returning the id of an existing policy, also return a new (policy_id, policy config) pair that gets added to the policy map. I can see it being a little tricky to implement, since different workers could be creating different sets of policies, and you nee

[2019-09-22 23:14] brendanxwhitaker commented on #5753
This is more or less exactly what we're looking for. The number of policies increasing indefinitely is a problem though. The number of "living" agents, i.e. those still being trained in the environment, remains stable and doesn't really exceed 60 or so, but the total number of agents created, "dead" and "alive" grows to be around 10^4 after a few hours of training. Is there anything that iterates

[2019-09-22 23:26] ericl commented on #5753
The main thing I can think of is when policy weights are broadcast to workers---this would slow down linearly with the number of policies total.

There aren't so much pitfalls as a lot of different places where code may have to change. For example, in sync_samples_optimizer there is a for loop over the list of local policies. Which would ignore any policies created dynamically on workers. Not hard

[2019-09-23 00:30] #5739 closed

[2019-09-23 03:42] brendanxwhitaker commented on #5753
I've stepped through the `Trainer` init function a few times in debugger, and I've been poking through the files you linked.

From what I understand so far, the `policy_for()` function in episode is called every time we call `_process_observations` in one of the sampler classes. We're using `PPOTFPolicy`, so I believe it's `SyncSampler`. I'm not 100% on this, but it seems like every rollout worker

[2019-09-23 07:58] kuonangzhe commented on #4417
Are we going to support kubeflow?

[2019-09-23 09:37] mseeger commented on #4401
Hello,
I read the ASHA paper. What is implemented in AsyncHyperBandScheduler, is quite different from what is known as ASHA. Some differences:
- In ASHA, decisions are about promoting configs to the next run. In your code, it is about stopping tasks
- In your code, the first configs always pass all milestones, just because they are the first. In ASHA, you only get promoted if you are better than m

[2019-09-23 10:27] haje01 opened #5757 "[rllib] Need More Tuned Examples for Continuous Action Tasks with Multi-GPU Settings."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.6 LTS
- **Ray installed from (source or binary)**: pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.8.0.dev3-cp36-cp36m-manylinux1_x86_64.whl
- **Ray version**: 0.8.0
- **Python version**: 3.6
- **Exact command to reproduce**:

Hi.
I am trying to find a distributed(and hopefu

[2019-09-23 13:12] thebeancounter commented on #2260
@robertnishihara
is there any way to give a worker a specific value for env variable?
e.g give one worker value of 1 and another value of 2 ?

thanks

[2019-09-23 13:13] thebeancounter commented on #5743
@richardliaw

shame on me, had another directory named ray in the project, interpreter found it and mapped it to path running over the real ray.

removed it, now its working

[2019-09-23 13:13] #5743 closed

[2019-09-23 17:24] ericl commented on #5757
cc @michaelzhiluo can you open source your examples?

[2019-09-23 20:36] #5613 closed

[2019-09-23 20:44] ericl commented on #5753
One option is to decide which policies to prune centrally in the policy optimizer (you can use workers.foreach_worker() to call a function on each worker). That way the set should stay roughly in sync and you can implement least recently used or some other heuristic pretty simply.

Another issue I can think of is -- if you're initializing policies on the workers, they'll start with random weights,

[2019-09-23 20:44] #5563 closed

[2019-09-23 21:04] brendanxwhitaker commented on #5753
Ah okay shoot, maybe I should have done that. I've already begun implementing decentralized adding of policies in each worker. Here's the code I've written so far, if it isn't too incomprehensible. The snippet is contained in `_process_observations()` in `sampler.py`. I've also modified the `policy_mapping_fn` to yield tuples of the form `(cls, obs_space, act_space, conf)`. To accommodate this, I

[2019-09-23 21:05] mitchellstern commented on #5670
@mattearllongshot This should be fixed in the recent dashboard update (https://github.com/ray-project/ray/pull/5730).

See https://github.com/ray-project/ray/pull/5730/files#diff-bc889dcbe0d5fa415e6bf5a3da09f485R51.

We're now checking for processes whose names start with `"ray_"`  in order to detect workers and actors to display in the dashboard.

[2019-09-23 21:05] #5670 closed

[2019-09-23 21:23] pinakigupta opened #5763 "[rllib] how to save a previously trained agent model as pickle"
After successfully training agents in my environment I was thinking of using my agent to emulate the behavior of other actors (which was hand coded so far). I am not looking to model this as a multiagent env, just a disclaimer. Rather trying to simulate the "static" env using a previous policy.

So I retrieved the policy using
     agent_policy = agent.get_policy() method.
But I am not sure how to

[2019-09-23 21:25] ericl commented on #5753
one quick response: you can try it with SyncSamplesOptimizer first (set simple_optimizer: True for PPO). This is much easier to deal with

[2019-09-23 23:16] richardliaw commented on #4289
Got it; we should integrate more with them then.

[2019-09-23 23:18] richardliaw commented on #5734
Does this fail on the latest master wheels too?

[2019-09-24 01:39] #5726 closed

[2019-09-24 02:00] richardliaw commented on #2260
You have to manually do that.

[2019-09-24 02:01] richardliaw commented on #5726
hey @timonbimon, this should be addressed in #5754. Give it a try?

[2019-09-24 02:03] richardliaw commented on #4444
OK this should be closed with #5754.

[2019-09-24 02:03] #4444 closed

[2019-09-24 05:56] thebeancounter commented on #2260
@richardliaw how? in the machine itself? in ray?

[2019-09-24 07:50] FengLi666 opened #5766 "cannot serialize lru_cache wrapped function"
ray 0.7.4

[code]

[code]

[2019-09-24 08:11] timonbimon commented on #5726
awesome, this looks great! I'll try it once the next release is out :)

[2019-09-24 15:46] flying-mojo commented on #5593
Hi! Any info on this issue?
To temporarily get going i have changed the line that builds "action" tensor signature (in tf_policy.py) to:

output_signature["actions"] = \                                                                                             tf.saved_model.utils.build_tensor_info(tf.stack(self._sampler.batches, name='stacked_actions'))

that is i have just stacked all the tuple

[2019-09-24 15:57] bask0 opened #5767 "[tune] trainable:stop not called at end of training"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16
- **Ray installed from (source or binary)**:
From source
- **Ray version**:
0.8.0.dev4
- **Python version**:
3.6

### Describe the problem

I call `ray.tune.run(...)` to optimize 5 cross-validation folds in parallel (the best hyperparameters have already been found in a previous step). For test purposes

[2019-09-24 16:24] hokiegeek2 opened #5768 "AttributeError: module 'ray' has no attribute 'remote'"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Mojave, version 10.14.6
- **Ray installed from (source or binary)**: pip install
- **Ray version**: 0.7.4
- **Python version**: 3.7.1 (Anaconda)
- **Exact command to reproduce**:

### Describe the problem
AttributeError: module 'ray' has no attribute 'remote' is raised when I attempt to import the following

[2019-09-24 16:35] richardliaw commented on #5767
Ah; can you try `reuse_actors=False`? This is a bug; I'll push a fix now. Thanks!

[2019-09-24 16:36] karthikbhat13 commented on #5698
Hey, can I take this up?

[2019-09-24 16:43] bask0 commented on #5767
This fixed the problem for me, thank you!

I leave it up to you to decide whether you want to close this now or after having fixed the bug.

[2019-09-24 16:58] hokiegeek2 commented on #5768
Also, the code

[code]
raises the following error:

[code]

[2019-09-24 17:26] hokiegeek2 commented on #5768
OBE, I fixed it

[2019-09-24 17:26] #5768 closed

[2019-09-24 18:00] devin-petersohn opened #5769 "StringIO objects are not correctly serialized by Ray"
### Describe the problem

StringIO objects are not correctly serialized by Ray, nor is there an error message saying not to expect the output to be correct. It may not be possible to correctly serialize StringIO, but it would be nice to have some message stating that.

### Source code / logs

[code]

[2019-09-24 18:01] devin-petersohn commented on #5769
Related to modin-project/modin#806

[2019-09-24 18:23] brendanxwhitaker commented on #5753
So I've taken a look at SyncSamplesOptimizer. I'm running into an issue where the version I get when I `pip install ray` conflicts with the version seen in the master branch on github. Specifically, the following line is not in 0.7.4.

[code]

What was changed about the way SyncSamplesOptimizer functions? The loop

[code]
is missing as well from the 0.7.4 version. Will it break if I just copy `syn

[2019-09-24 18:33] bfortuner commented on #5734
Yes, just tried again on latest nightly build available here. Python2.7
https://ray.readthedocs.io/en/latest/installation.html

[2019-09-24 19:14] richardliaw commented on #5734
Ah I see what you mean; can you try setting the `tune.run(global_checkpoint_period=0, ...)`? This was done because users would complain that `tune` was too slow when trying out some very fast functions.

[2019-09-24 20:01] pcmoritz commented on #5769
Yeah, this is a bug, especially given that both pickle and cloudpickle can handle this case:
[code]

Let me look into what's going wrong here :)

[2019-09-24 21:20] ericl commented on #5753
In master we added support for minibatching, which requires breaking the loop up and handling each individual policy separately. In the prior version, multiagent is still supported (self.workers.local_worker().learn_on_batch(samples) will do a SGD step for all policy data in `samples`--- try printing the keys of samples to see). So you could stick with the previous version, or copy paste the new v

[2019-09-25 01:24] flyinskybtx opened #5770 "Multi-discrete action space support for Pytorch?"
Or could there be any work around alternatives for this demand?

I am working on a project that requires multi-channel action space as control output and for some reason I have to rely on pytorch. However i found that pytorch only support Box or Discrete action space in action_dist.

I have considered to rollout my actionspace however it is quite large 28^6, and it hinders me from adding constrain

[2019-09-25 04:37] bfortuner commented on #5734
Ah I see now. Just saw this PR: https://github.com/ray-project/ray/pull/4859. Yep that fixes it! I'll play around with it some more for our other studies, but feel free to close in the meantime.

[2019-09-25 06:52] richardliaw commented on #5734
Awesome!

[2019-09-25 06:52] #5734 closed

[2019-09-25 06:57] richardliaw opened #5772 "[autoscaler] Raise better error message if `ssh_user` is not correct"
`ssh_user` value error is not very clear. We should investigate/invest in clear error messages to throw user errors back.

[2019-09-25 06:57] #5767 closed

[2019-09-25 06:59] ericl commented on #5770
You could perhaps try specifying a custom action distribution? https://ray.readthedocs.io/en/latest/rllib-models.html#custom-action-distributions

Btw, why the pytorch dependency---would translating the code to TF eager work instead?

[2019-09-25 11:41] johann-petrak opened #5774 "Actor class attributes not visible in actor methods?"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Ray installed from (source or binary)**: pip install under per-user Anaconda installation
- **Ray version**:  0.7.4
- **Python version**: 3.6.8
- **Exact command to reproduce**: N/A see code below

### Describe the problem

I tried to use and existing class as an actor with ray. That class assign

[2019-09-25 12:09] bask0 opened #5775 "[tune] BOHB algorithm; role of num_samples and custom early stopping"
### System information
- **Ray version**:
0.8.0.dev4

### Describe the problem

I have two questions regarding the [BOHB algorithm](https://ray.readthedocs.io/en/latest/tune-schedulers.html#hyperband-bohb):

* It is not clear to me how `tune.run(num_samples=...)` interacts with the BOBH algorithm (`TuneBOHB` and `HyperBandForBOHB`). When I set `num_samples=10` for example, only 10 trials are used

[2019-09-25 15:15] johann-petrak opened #5776 "Intermittent exceptions related to torch during actor initialisation"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Ray installed from (source or binary)**: pip install under per-user Anaconda installation
- **Ray version**: 0.7.4
- **Python version**: 3.6.8
- **Exact command to reproduce**: Intermittent

### Describe the problem

I am getting intermittent exceptions which seem to happen as the actors get init

[2019-09-25 15:28] deepaksharma36 opened #5777 "Getting ValueError: Dimension size must be evenly divisible by 2 but is 5 Number of ways to split should evenly divide the split dimension for for SAC for action space dim =2"
### System information
- ** Linux Ubuntu 16.04 **:
- **Ray installed from source**:
- **Ray version 0.7.4**:
- **Python version 3.7.4 **:
- ****:

### Describe the problem
      For a custom env with observation space size 6 and action space size 2
      tfp.layers.MultivariateNormalTriL.params_size gives 5 unit which leads to
      Dimension size must be evenly divisible by 2 but is 5  Number of

[2019-09-25 17:26] VoVAllen opened #5779 "How to implement a KV store/Embedding server with ray?"
How to implement a KV store/Embedding server with ray?

Since I didn't see how I can ensure the object to be kept or removed from object store.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Ray installed from (source or binary)**:
- **Ray version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem

### Source code / logs

[2019-09-25 17:46] brendanxwhitaker commented on #5753
So I think I'm quite close here. I'm running into a tensorflow graph issue. The default session which is used to create the input variables in `TFPolicy` is no longer the same one as the session used to run everything in `utils/tf_run_builder.py`. I'm fairly certain this is because we're now initialing the policies in `evaluation/sampler.py`. The full stack trace is below:
[code]

[2019-09-25 19:41] deepaksharma36 commented on #5777
Log:
   Trainer.__init__(self, config, env, logger_creator)
  File "/home/xxxx/anaconda3/lib/python3.7/site-packages/ray/rllib/agents/trainer.py", line 367, in __init__
    Trainable.__init__(self, config, logger_creator)
  File "/home/xxxx/anaconda3/lib/python3.7/site-packages/ray/tune/trainable.py", line 99, in __init__
    self._setup(copy.deepcopy(self.config))
  File "/home/xxxx/anaconda3/lib

[2019-09-25 20:08] deepaksharma36 commented on #5777
Looks like we are using split function incorrectly here
agents/sac/sac_model.py
https://github.com/ray-project/ray/blob/master/rllib/agents/sac/sac_model.py#L103
since int value for num_or_size_split can only on even or it has to be a list
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_ops.py#L1730
for my case, (Maybe) I should pass a list [2, 3]
shift, log_scale_

[2019-09-25 21:08] ericl commented on #5753
Hm yeah, I think you may have to make sure the policies are created in the context of `with sess.graph.as_default()` or it may complain.

[2019-09-25 22:40] richardliaw commented on #4401
[code]

Should be the implementation you're looking for, @mseeger?

[2019-09-26 03:14] pcmoritz commented on #5766
Thanks for the report! This is actually a limitation of cloudpickle, the associated issue is there: https://github.com/cloudpipe/cloudpickle/issues/178

We should get this fixed upstream! Do you want to answer to the thread there, maybe somebody has an idea how to fix it :)

[2019-09-26 06:12] mseeger commented on #4401
Thanks, great.
Maybe some other naming should be found? Both variants may be useful to
have. One could be called promotion based, the other stopping based.

Richard Liaw <notifications@github.com> schrieb am Do., 26. Sep. 2019,
00:41:

[2019-09-26 06:40] dmadeka opened #5785 "[rllib] JSONWriter doesn't work with some types of custom info"
If custom metrics passes an object such as:

[code]

I think you can loop through lists or dicts and flatten arrays? Not sure how to recover them though

[2019-09-26 07:33] #5745 closed

[2019-09-26 11:33] #5713 closed

[2019-09-26 14:28] johann-petrak opened #5787 "Make it possible to accept some version mismatches?"
Currently Ray is very picky about version of python, Pyarrow and Ray which have to match between a running cluster and client code.

This will even fail if the difference is e.g. Python 3.6.7 vs. Python 3.6.8
Would it be possible/reasonable to allow for such minor version discrepanices, at least by deliberately setting some config options or environment variable?

[2019-09-26 14:37] brendanxwhitaker commented on #5753
The modifications are now at least partially functional. Unfortunately, the policy initialization is painfully slow, and since it has to run roughly every 10 or so environment steps, the speed of training is so slow as to be useless.
[code]
Is there any testing or extraneous stuff that's done at policy initialization time that could be cut out? One possible solution is reusing policies of `done` a

[2019-09-26 15:58] FengLi666 commented on #5766
Thanks for reply.  I will tak a look at related code in my spare time

[2019-09-26 17:19] ericl commented on #5753
Most of the overhead is just TensorFlow I believe--- the init doesn't do
anything heavyweight besides create a lot of TF ops that then have a bunch
of overheads the first time it is run etc. I guess you can try eager and
see if that is any faster?

I think shuffling weights of a policy should be pretty fast actually, if it
just means re-running the variable init ops of the policy model.

Eric

On

[2019-09-26 17:24] waldroje opened #5788 "Is there a way to alter model size in PBT?"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux RHEL 7.6
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.8.0
- **Python version**: 3.6.8
- **Exact command to reproduce**:

### Describe the problem

One of the parameters which would be interesting to optimize while hyper parameter sweeping would be the size of the network... but w

[2019-09-26 17:47] richardliaw commented on #5775
1. If you want the closest HyperBand setup to the blog, you need `num_samples= $\sum_{i} n_i$` (so 81 + 27 + 9 + 6 + 5 if eta = 3).
2. IIUC trials can be killed and BOHB should do the bookkeeping correctly; though if you run into issues, please let me know.

[2019-09-26 17:50] brendanxwhitaker commented on #5753
Ah yeah makes sense. I'll try eager!

just means re-running the variable init ops of the policy model.

Big, I will definitely try this as well. Thanks for your input!

[2019-09-26 18:09] robertnishihara opened #5789 "Make it possible to see resource deadlocks through web UI."
[code]

This is an example of a resource deadlock that should be visible through the UI. To make this possible, we should visualize:
- Next to each task, the resources it's currently using (accounting for whether the task is blocked or not).
- The total resource capacity and the total available resources for each node.
- For each node, the resource requirements of some of the ready tasks.

cc @mit

[2019-09-26 18:12] robertnishihara opened #5790 "Problems with resource deadlock warning."
The resource deadlock warning will fire spuriously (some fraction of the time) during the following workload.

[code]

The reason is that it is waiting for a worker to start up.

If we then subsequently run something which actually does deadlock, like

[code]

it may not print any warning because the warning happens at most once every `debug_dump_period_` milliseconds.

[2019-09-26 18:14] robertnishihara commented on #5790
https://github.com/ray-project/ray/issues/5789 is related.

[2019-09-26 18:14] robertnishihara commented on #5790
cc @edoakes

[2019-09-26 19:04] ericl commented on #5790
This is working as designed -- a warning will eventually show up. But feel free to ignore them if the cluster is still scaling up.

[2019-09-26 19:05] ericl commented on #5790
Also, is the second case supposed to work? Not sure if GPU resources are released on the blocking get call.

[2019-09-26 19:47] bask0 commented on #5775
Thank you very much, you helped me a lot! I'll let you know if 2. causes problems.

[2019-09-26 19:47] #5775 closed

[2019-09-26 19:55] #5769 closed

[2019-09-26 20:12] richardliaw commented on #5775
BTW, feel free to join our slack to chat faster (https://docs.google.com/forms/d/e/1FAIpQLSfAcoiLCHOguOm8e7Jnn-JJdZaCxPGjgVCvFijHB5PLaQLeig/viewform)

[2019-09-26 21:25] brendanxwhitaker commented on #5753
Just to be sure, when you said

did you mean just creating a new model object, i.e. calling the model init function, and pointing `policy.model` to it?

Here's my stab at it:
[code]

[2019-09-26 22:02] ericl commented on #5753
That would create more TF variables and probably has similar perf
overheads, I mean re-running the variable initializers ops for all model
variables or .loading() specific values for all the variables.

On Thu, Sep 26, 2019, 2:25 PM Brendan Whitaker <notifications@github.com>
wrote:

[2019-09-26 22:11] richardliaw commented on #5788
maybe you have to write a custom Model for rllib? cc @ericl

[2019-09-27 07:16] TheVinhLuong102 opened #5795 "Bug with Ray's packaged PyArrow: Parquet read_table error in Python3.7: pyarrow.lib.ArrowInvalid: Column data for field with type list<...> is inconsistent with schema list<...>"
I have Parquet files with certain complex columns of type List<item: double>, List<item: string>, etc. and am using PyArrow to process them. My libraries also make use of Ray extensively.

The problem I'm having is that the PyArrow 0.14.0.RAY packaged with Ray and loaded upon importing Ray has a bug while reading such complex Parquet files, and returns errors of the kind "pyarrow.lib.ArrowInvalid:

[2019-09-27 08:52] 7starsea opened #5796 "one gpu per worker"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos 7
- **Ray installed from (source or binary)**:
- **Ray version**: 0.7.5
- **Python version**: 3.7.3
- **Exact command to reproduce**:

### Describe the problem

start ray and worker on one machine with 4gpus
[code]
and here is my driver:
[code]

Q1. I would expect that each worker would use one gpu, but th

[2019-09-27 12:20] wesm commented on #5795
Bundling unreleased versions of Apache Arrow in Ray exposes users to a great deal of risk. I've warned about this before

[2019-09-27 12:34] waldroje commented on #5788
i realize the error in my thinking... one just has to initially create trials via the model_config and "grid_search"  and num_samples such that your initial trials contain a good representation of network sizes, and then let normal hyperparam_mutations impact them, rather than allow network sizes be a hyperparam mutation itself., everything seems to run fine doing it that way....

[2019-09-27 12:34] #5788 closed

[2019-09-27 13:42] brendanxwhitaker commented on #5753
Alright, so bear with me here, I'm not completely sure I'm following you. Below I've created an initializer operation, and run it with the policy's session. I'm not certain if you were saying use the specific initializer operation that is used at policy creation. If that's the case I'm not sure exactly where that is.
[code]
In any case, it's not as fast as I was expecting, so I'm not sure we're on

[2019-09-27 17:35] eugenevinitsky opened #5797 "[rllib] Callbacks should be wrapped in tune.function"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 10.14.5
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.4
- **Python version**: 3.7.3
- **Exact command to reproduce**: N/A

### Describe the problem
If you try to build a callback based off the example in https://github.com/ray-project/ray/blob/master/rllib/examples/custom_metrics_and_

[2019-09-27 20:46] NikEyX commented on #5454
Any news on this? I'm configuring this on a non-GCP server and for some reasons I am getting the same problems. It just hangs and the log is full of "Failed to forward task". As above, I tested the ports with `nc` and they're open/can send from one another.

raylet.out on the head-node:
[code]

raylet.out on the connecting node:
[code]

[2019-09-27 21:11] annaluo676 commented on #5568
@ericl Sorry for the late reply. The action space issue was actually in the environment, and SAC agent is able to train after the fix. However, I'm still getting the above mentioned error "stochastically". The agent usually trained smoothly for the first couple of iterations, then the "Input matrix is not invertible" popped up. Was there a reason not to add a small number to prevent this, similart

[2019-09-27 21:46] ericl commented on #5568
Hm, https://github.com/rail-berkeley/softlearning/tree/master/softlearning doesn't have this I believe, or it seems like it is defined in tensorflow-probability only: https://github.com/rail-berkeley/softlearning/blob/7bbfcdba8ad6efd56811df946718c3f175f25499/softlearning/policies/gaussian_policy.py

[2019-09-27 22:36] annaluo676 commented on #5568
I guess my confusion comes from the fact that the output range for log_std is already clipped to avoid the actions too random / deterministic (https://github.com/rail-berkeley/softlearning/blob/7bbfcdba8ad6efd56811df946718c3f175f25499/softlearning/policies/gaussian_policy.py#L76), so inverting the diagonal matrix shouldn't be a problem. Any ideas?

[2019-09-27 22:41] virtualluke commented on #5795
Does it involve the interaction with ray and pyarrow or do you see the issue with the specific pyarrow whl that aligns with the ray whl (if such is sitting around somewhere).

[2019-09-27 22:44] wesm commented on #5795
My understanding is that Ray includes a complete copy or pyarrow inside its wheel. So if you have both installed, depending on the import order you will be using a different one.

[2019-09-27 22:44] virtualluke commented on #5779
What is the more specific use case you have in mind that makes you want to implement a KV store with ray?

[2019-09-27 23:29] pcmoritz commented on #5795
@TheVinhLuong102 Thanks for the report and sorry to hear about the inconvenience! Do you want to try running your workload with this patch: https://github.com/ray-project/ray/pull/5798 and pyarrow 0.14.1 from pip? If you don't work TensorFlow or pytorch, that should work out of the box.

This is also the longer term direction are moving towards, but before we can do it a few more things need to ha

[2019-09-28 00:58] pcmoritz commented on #5787
Hey Johann,

The reason why we do this for python versions is because we use cloudpickle to serialize python code and ship it between different python processes. Python bytecode is not stable between python versions (see https://nedbatchelder.com/blog/200804/the_structure_of_pyc_files.html). It might be that it is stable between patch releases like 3.6.7 or 3.6.8, I don't know. But even if that is

[2019-09-28 01:03] pcmoritz commented on #5776
Thanks for reporting! One possible explanation is that there are two different Python versions installed and they somehow clash. If that's not the case and you can reproduce it in a clean install, sending us a minimal version of the reproduction code and how you set up the environment (e.g. on EC2 if possible) would help us to look into the problem.

[2019-09-28 01:10] pcmoritz commented on #5774
Thanks a lot for reporting this and also for the reproduction code which is very useful! This is indeed a bug, let me look into it. As a workaround for now you can do this:

[code]

i.e. replace the Test1.X with self.X, which works.

[2019-09-28 03:46] ericl commented on #5753
What if you use the existing init ops for the variables?

[code]

[2019-09-28 06:16] TheVinhLuong102 commented on #5795
@pcmoritz thanks for your patch. Yes, I also figured out last night that those were the related lines of code, so I did indeed manually commented out those lines to make my current workloads work, for now. :)

[2019-09-28 06:38] johann-petrak commented on #5776
If this would be because of two different Python versions, why is it only happening rarely though?
If e.g. running the process for a worker would invoke a different python version that causes this error, why would it not happen every time?
Sadly I was not able to make this reproducible. As I said it only happens rarely and it may be that it happens in situations where a bug in the code causes the

[2019-09-28 06:42] johann-petrak commented on #5787
Thank you, I have seen the version dependency of cloudpickle now and for that reason it indeed makes a lot of sense to be that picky!

My use case was experimenting with a cluster where some of the nodes had a *slightly* different anaconda installation where for some reason or other the python differed in the last digit (and I was too lazy to create a separate environment just for testing).
Howeve

[2019-09-28 06:42] #5787 closed

[2019-09-28 07:27] VoVAllen commented on #5779
Thanks for reply. It's something like a distributed plasma storage, which could store huge embeddings, and would be updated by row each time. The case here is embedding may have millions or billions entries, therefore full update is not preferred. I expect it's something like a kv store that we can only update partial rows for the full embedding matrix.

[2019-09-28 16:10] brendanxwhitaker commented on #5753
Unexpectedly, this was even slower:
[code]

[code]

Is it expected behavior that the ordinary policy initialization process takes longer each time it's called? By then 10th or so agent initialized during training the time it takes to run goes from around 3s to more like 15s.

[2019-09-28 16:34] alexgby commented on #4412
I also run into the same probelm.
[code]

[2019-09-28 16:47] ericl commented on #4412
Could you file a separate issue with reproduction details, Ray version, etc?

Going to close this since there are too many probably unrelated issues here that should be tracked separately.

[2019-09-28 16:47] #4412 closed

[2019-09-28 16:52] ericl commented on #5753
Hmm, what if you sess.run(list_of_init_ops) (don't run them one by one?)

I suppose you could also try policy.set_weights() on weights previously
retrieved via get_weights(). That should be reasonably fast since we use it
all the time for syncing policies, though potentially slower than using
init ops since it is copying data from weights into the variables.

On Sat, Sep 28, 2019, 9:11 AM Brendan

[2019-09-29 06:46] JasonWayne opened #5800 "[docs] Issue on `tune-tutorial.rst`"
# Documentation Problem/Question/Comment

Type error in links to ASHA blog which misses a 'h' in "https".

(Created directly from the docs)

[2019-09-29 06:52] JasonWayne commented on #5800
https://github.com/ray-project/ray/pull/5801

[2019-09-29 07:20] zhichao-li commented on #5223
@richardliaw Wondering is there any plan to fix this issue? I was also facing the same exception while trying to run the `PyTorchTrainer` on multiple nodes with `Manual Cluster Setup` (Ray 0.7.4 and 0.7.5)

[2019-09-30 00:41] #5800 closed

[2019-09-30 02:44] caowei012136 opened #5804 "docker build delpoy error"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos 7.3
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.7.4
- **Python version**: 3.6.5
- **Exact command to reproduce**: RUN pip install -e .

when i run follow command:
docker build --no-cache -t deploy deploy
the console print the follow errror info:
  [1,025 / 1,179] Compiling exte

[2019-09-30 08:41] richardliaw commented on #5223
@zhichao-li I definitely want to fix this issue, but I can't reproduce this on my setups. If you have any insights/more information about your cluster setup, that would be very helpful.

[2019-09-30 11:23] mattearllongshot opened #5806 "[Autoscaler] AWSNodeProvider._create_node: Fails silently under low spot availability"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.2 LTS
- **Ray installed from (source or binary)**:  Binary
- **Ray version**:  0.7.3
- **Python version**:  3.7.2
- **Exact command to reproduce**:

### Describe the problem

If you attempt to launch some workers in a Ray cluster under low spot availability, then the autoscaler will get stuck waiting

[2019-09-30 11:32] mattearllongshot commented on #5806
For what it's worth, I'm not 100% sure that the cause is low spot availability, however it certainly appears to be the case that for whatever reason `create_instances` can return a list of length less than the number of requested nodes, and so this case should be properly handled.

[2019-09-30 15:31] NikEyX commented on #5223
Facing the same issue. ALSO CentOS. It works on Ubuntu and Arch clusters using the same settings (but different cloud infrastructure). Could it be related to the OS?

[2019-09-30 15:55] frthjf commented on #4159
Hi, I've been looking for a Ray-based queue solution that circumwents the remote() call overhead. @ericl, the gist is very useful! Is there a way to have multiple actors feed and consume such a queue at the same time?

I have a setup where multiple actors generate data that is processed by another actor. The result of the processing has to be send back to producing actors. Something like this:

![

[2019-09-30 23:02] richardliaw commented on #5223
Got it; I'll try this out now.

[2019-10-01 01:33] richardliaw commented on #5223
[code]

@NikEyX still not able to repro - can you take a look at the `setup_commands` (I used py3) and see if there's anything inconsistent with your setup? I was able to run a distributed Tune job very easily.

[2019-10-01 14:34] NikEyX commented on #5223
Richard, unfortunately I cannot use the autoscaler at my work - and it seems that everyone affected by this bug is using a manual cluster set-up as well. I'll try to outline a manual replication of the error below - maybe you are able to replicate it with this.

Given two CentOS systems with ray 0.8.0.dev5, I am running on the first system the head-node:
```ray start --head --redis-port=6379 --red

[2019-10-01 17:28] shreyagu opened #5811 "issues with starting ray"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.14.6
- **Ray installed from (source or binary)**: source
- **Ray version**: ray 0.7.5
- **Python version**:python 3.6.9
- **Exact command to reproduce**:

### Describe the problem
I'm not able to start ray with the command: `ray start --redis-address *********:6379` please help me figure this out.

### S

[2019-10-01 17:30] JAMMFam commented on #5811
Nice!

[2019-10-01 20:39] yannbouteiller opened #5812 "Custom policy optimizer in rllib"
Hello,

I am a (multiagent) RL research student and I am currently discovering rllib (very nice project by the way). I have found the documentation helpful about how to implement custom environments and custom policies, but my main interest is to use rllib with custom policy optimizers and I didn't find any documentation about how to implement these.

Did I miss something, please?

Best regards,
Y

[2019-10-01 21:18] simon-mo opened #5813 "[Core worker] Python core worker logs are not in ray directory"
Ray master

python core worker logs seems to be just placed in tmp directory.

@edoakes can you take a look?

[code]

[2019-10-01 22:07] robertnishihara opened #5814 "Workload creates an unbounded number of actor handles."
This may be a duplicate of https://github.com/ray-project/ray/issues/2798 (so I'm closing the other one). I just ran into this with @simon-mo in ray serve. This seems to be causing a gradual slowdown over time and also periodic latency spikes.

[code]

When running this workload, I wasn't able to detect a slowdown, but I suspect I would see it if running the workload much longer.

If you check the

[2019-10-01 22:07] robertnishihara commented on #2798
Probably the same as #5814.

[2019-10-01 22:08] #2798 closed

[2019-10-02 00:52] simon-mo commented on #5728
Maybe set updated builds on dockerhub.

[2019-10-02 05:05] yukiego opened #5817 "[tune] TypeError: can't pickle Connection objects"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Mojave 10.14.6
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6.8
- **Exact command to reproduce**:

[code]

### Describe the problem
The above code returns `TypeError: can't pickle Connection objects` in Python 3.6.8 but works well on 3.5.7.

I detected

[2019-10-02 05:13] ericl commented on #5814
How about we make the handle id deterministically (curworkerid, actorid). This deduplicates it by worker (there's no need for unique IDs per handle, just per worker).

[2019-10-02 05:14] ericl commented on #5814
Or remove actor handle id altogether, substituting (client ID, actor ID) as needed?

[2019-10-02 07:24] ankdesh opened #5819 "[RLlib] Low GPU utilization with Apex and IMPALA"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Ray installed from (source or binary)**: Binary (pip install ray[rllib] )
- **Ray version**: 0.7.5
- **Python version**: 3.5.2
- **Exact command to reproduce**:
___rl-experiments___
$ rllib train -f atari-apex/atari-apex.yaml
$ rllib train -f pong-speedrun/pong-impala-fast.yaml
___rllib/tun

[2019-10-02 08:15] davidcotton opened #5820 "[rllib] Actor died unexpectedly before finishing this task."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Ray installed from (source or binary)**: pip
- **Ray version**: 0.7.5
- **Python version**: 3.6.8
- **Exact command to reproduce**: `ray.get(future)` (see code below)

### Describe the problem

Apologies if this issue is because I'm doing something wrong.

I'm trying to use [Global Coordination](

[2019-10-02 09:10] fatenghriss opened #5821 "MLFlow parameter error using rllib agents"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.14.6
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.7.5
- **Python version**: 3.7.3
- **Exact command to reproduce**:

### Describe the problem

When I tried to integrate MLFlow to my experiment that uses a DQN agent, I get the following error:
[code]

It seems like the agent's

[2019-10-02 16:50] annaluo676 commented on #5568
Hi @ericl, I've created a dummy env to replicate the error:
[code]
with configuration
[code]

The environment is modifed upon Pendulum-v0, with a larger observation space (100 vs. 3). `agent_test = SACTrainer(env="DummyEnv_V2", config=sac_test)` throws out the Input matrix error (full log [here](https://docs.google.com/document/d/1OMmevHTK0z3aEQq1Mr0yKDyl-sM0SxCXh-5jOqOfItA/edit?usp=sharing)). It

[2019-10-02 17:00] georgmerz opened #5824 "How to manually change tensorboard event files with rllib"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:"Ubuntu 16.04.6
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.3
- **Python version**:3.68
- **Exact command to reproduce**:

### Describe the problem

How can one change the default path "~/ray_results" where rllib stores the log files and event files of tensorboard.
I know that via Tu

[2019-10-02 17:07] stephanie-wang commented on #5814
Yes, I think we should just use the actor or task ID of the submitter instead of generating a new handle ID each time. We'll have to keep some state on the worker about what actor "handles" it has in scope. I think this state should just be the actor ID and the sequence number of the last task that it submitted to that actor.

[2019-10-02 18:23] waldroje opened #5825 "tf error when using parameter_noise"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: RHEL 7.6
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.7.5
- **Python version**: 3.6.8
- **Exact command to reproduce**:

### Describe the problem

Was trying to activate parameter noise using DQN, and got the following error ...
AttributeError: module 'tensorflow.compat.v1' has no attr

[2019-10-02 18:33] arunavo4 commented on #5819
@ankdesh I am also facing the same problem, also running [Tuned Examples](https://github.com/ray-project/rl-experiments) the `pong-speedrun/pong-impala-fast.yaml ` which should run in under 7 mins for 32 CPUs, I ran that for 1 Hour on 10 CPUs, still, it didn't move from a negative reward.

[2019-10-02 20:04] ericl commented on #5568
@annaluo676 thanks for the repro, it seems to be since we did not define bounds on the observation space, which caused the policy to emit NaNs since it was being passed dummy observations with very large values during policy initialization.

Try this fix out? https://github.com/ray-project/ray/pull/5826/files

[2019-10-02 20:34] ericl commented on #5812
Check this out: https://ray.readthedocs.io/en/latest/rllib-concepts.html#policies

[2019-10-02 20:36] richardliaw opened #5827 "[tune] If node dies in middle of rsync, trial restart fails"
cc @stevenlin1111

[2019-10-02 20:37] richardliaw opened #5828 "[tune] Failed spot instances should not stall entire cluster"
We should keep a running list of trials and their update times, and only jumpstart when necessary

cc @stevenlin1111

[2019-10-02 20:37] richardliaw opened #5829 "[autoscaler] GCP headnode fails on startup sometimes"
[code]

[2019-10-02 20:51] yannbouteiller commented on #5812
Oh I see, thanks @ericl !

[2019-10-02 20:51] #5812 closed

[2019-10-02 21:08] richardliaw commented on #4784
This still doesn't work because if all worker nodes die, Tune dies.

[2019-10-02 21:32] pcmoritz opened #5832 "Profiling ray tasks includes ray initialization time"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac and Linux
- **Ray installed from (source or binary)**: source
- **Ray version**: master
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem

[code]

will print ``time 2.897523880004883``. On the other hand,

[code]

will print ``time 0.015043973922729492``. Even better:

[code]

[2019-10-02 22:36] #5577 closed

[2019-10-02 22:38] richardliaw commented on #4682
OK, this is fixed with #5678

[2019-10-02 22:38] #4682 closed

[2019-10-02 22:39] richardliaw commented on #2571
This is sort of resolved with #5773

[2019-10-02 22:40] richardliaw commented on #5829
This might be just a AWS issue resolved a long time ago.

[2019-10-02 22:40] #5829 closed

[2019-10-02 22:46] #4559 closed

[2019-10-02 22:51] #4744 closed

[2019-10-02 22:53] #3753 closed

[2019-10-02 23:05] #4541 closed

[2019-10-02 23:06] richardliaw commented on #4541
Closing this for now just because it is resolved and Ray currently does not check CPU usability/for other tenants.

[2019-10-03 00:23] davidcotton commented on #5715
I'm a bit late as I can see a PR in progress, but I was able to fix this local mode issue by using Ray 0.7.3, seems to be introduced in 0.7.4

[2019-10-03 01:03] #4527 closed

[2019-10-03 01:03] richardliaw opened #5835 "[tune] Add best-practices for logging in trainable"
Users often run into issues for using `import logging` and printing.

[2019-10-03 01:17] Nithanaroy opened #5836 "[tune] Trainable run with AHB and BayesOpt does not o/p Tensorboard Logs"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: RHEL 7
- **Ray installed from (source or binary)**: Binary
- **Ray version**: 0.7.4 with TF version 1.12
- **Python version**: 3.6
- **Exact command to reproduce**: NA

### Describe the problem

[code]
ideally should save Tensorboard event logs files in the ray output folder (e.g. ray_results/) along with other t

[2019-10-03 08:31] gabiguetta commented on #5666
I'll see what I can do, but do notice that the tests run with default config for the policies, meaning, e.g. that this code is used with default config for A3CTrainer:

`
def _import_a3c():
    from ray.rllib.agents import a3c
    return a3c.A3CTrainer
`
Problem rises when actually using config["use_pytorch"]==True and thus using A3CTorchPolicy instead of A3CTFPolicy.

[2019-10-03 15:40] Eudoxier commented on #3265
Just ran into the same problem training a CNN with `tune.run`:

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): PopOS (Ubuntu 18.04)
- Ray installed from (source or binary): pip
- Ray version: 0.7.3
- Python version: Python 3.7.3 :: Anaconda, Inc.

Everything was working, then I added `validate_save_restore` before calling `run`:

[code]

Which later causes `torch.cuda.is_available()` t

[2019-10-03 17:47] devin-petersohn opened #5837 "Unable to specify `object_store_memory` and `memory` as more than 100% of total memory"
### Describe the problem

In previous versions of Ray, I was able to conduct out of core computations by specifying an object store that is larger than the memory on the machine. With the new checks for `memory` and `object_store_memory`, I am unable to do this.

### Source code / logs

[code]

[2019-10-03 18:25] shreyagu commented on #5811
@richardliaw  @robertnishihara  @ericl Can someone please help me understand this?

[2019-10-03 18:31] shreyagu opened #5839 "cap object store memory usage error"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.14.6
- **Ray installed from (source or binary)**: source
- **Ray version**: ray 0.7.5
- **Python version**:python 3.6
- **Exact command to reproduce**:

### Describe the problem

i created an AWS cluster and i run the [tune example here](https://github.com/ray-project/ray/blob/master/python/ray/tune/exam

[2019-10-03 18:31] shreyagu commented on #5839
@richardliaw  @ericl @robertnishihara Can someone please help me in understanding this?

[2019-10-03 19:35] NikEyX commented on #5223
Did you have a chance to run this @richardliaw ?

[2019-10-03 20:00] devin-petersohn commented on #5316
Closing as this should be fixed in Modin now. We had to change the order of imports for the `typing` library.

Please reopen if the issue persists.

[2019-10-03 20:00] #5316 closed

[2019-10-03 20:05] devin-petersohn opened #5840 "Better error message for ray.exceptions.RayWorkerError"
### Describe the problem

Users who shut down their python environment before all computation has completed will see the following error:

[code]
This makes it seem like there was a system error, and has caused some problems for Modin users https://github.com/modin-project/modin/issues/820

This is prevalent in python scripts when the user does not do anything with the result of the computation. A

[2019-10-04 00:08] virtualluke opened #5843 "Unknown instability with kubernetes cluster"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Redhat 7.6
- **Ray installed from (source or binary)**: binary
- **Ray version**:  0.7.4 -0.8.0dev5
- **Python version**: 3.7.3
- **Exact command to reproduce**:

### Describe the problem

The kubernetes cluster has nodes related to ray jobs that freeze up on pod termination and result in the nodes in question cr

[2019-10-04 02:31] ankdesh commented on #5819
Can someone please have a look and help out. I need to decide on which framework to use and need to close on the same soon.

[2019-10-04 07:56] sotte commented on #5821
I have a similar, but not MLflow related, problem. The basic question is the same: How do you pass arguments via the config if the agent does not allow additional config values.

Maybe an abstraction layer to allow additional parameters makes sense.
Or maybe allowing a field like `"custom_config"` should be allowed all the time.

[2019-10-04 14:04] gehring commented on #5843
Would you be able to share the config files used to run the ray deployments?

[2019-10-05 16:25] richardliaw opened #5847 "[docs] Issue on `deploy-on-kubernetes.rst`"
# Documentation Problem/Question/Comment

We should link to the actual repository in this page. Right now `ray/doc/kubernetes` is not linked to the github and can seem like an arbitrary path. This can be confusing to the reader.

cc @edoakes

(Created directly from the docs)

[2019-10-05 16:26] richardliaw commented on #5843
Hey @gehring the one in the docs is here: https://github.com/ray-project/ray/tree/master/doc/kubernetes

[2019-10-05 16:37] gehring commented on #5843
I guess my question was more, did they use the ones from the docs as is (apart from changing cpu/ram/gpu)? It might also help to know what version of kubernetes they are running and if they have any alpha features enabled.

I don't really know what could cause the issue they describe but my initial guess would be an issue on the kubernetes side. That's not to say that we can't avoid it on the ray

[2019-10-05 20:59] johann-petrak commented on #5774
The problem is that that workaround then makes the class break when used without Ray.

Another symptom of probably the same underlying problem is that static methods do not work:

Running this:
[code]
causes an exception "Methods must take a 'self' argument, but the method 'm' does not have one."

This is a real problem for classes outside of the direct control of the programmer but also awkward f

[2019-10-05 23:12] toanngosy opened #5848 "Error when run examples/autoregressive_action_dist.py"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6.8
- **Exact command to reproduce**: python ray/rllib/examples/autoregressive_action_dist.py

### Describe the problem

I run the example of autoregressive policy head and there is an error fro

[2019-10-06 02:29] toanngosy commented on #5848
It has been solved with the lastest update on logger.

[2019-10-06 02:29] #5848 closed

[2019-10-07 06:26] richardliaw opened #5853 "[local mode] All serialization should still use PyArrow"
Right now, serialization in ray local mode goes through "copy" (or does not go through any serialization at all, in the case of `put`). Since local mode is not performance sensitive, we should emulate the normal behavior as closely as we can.

[2019-10-07 06:26] richardliaw commented on #5853
cc @edoakes

[2019-10-07 14:37] alexgby commented on #5005
Hi @devin-petersohn
I run into the problem that ray keep printing this error, but I'm sure I call it once in an import file. How can I avoid the warnings? Thank you.

[2019-10-07 17:29] richardliaw commented on #5839
What happens when you install `urllib3`?

[2019-10-07 17:30] shreyagu commented on #5839
it says it's already installed

[2019-10-07 18:08] richardliaw commented on #5839
Can you update to the most recent ray? Should be 0.7.5.

[2019-10-07 18:23] drozzy opened #5855 "Rllib Trainer.save not saving the .tune_metadata"
When calling checkpointing with a custom path: `trainer.save("checkpoint")` it does not save the `.tune_metadata` files with it.

So if you later do:

[code]
You get this error:
[code]

The `tune_metadata` is still stored in `~/ray_results` directory.

[2019-10-07 18:28] shreyagu commented on #5839
could it be because of this issue with starting ray:
https://github.com/ray-project/ray/issues/5811

[2019-10-07 18:34] shreyagu commented on #5839
Sorry i take that back, the ray version is already updated to 0.7.5 @richardliaw , i mistyped i think.

[2019-10-07 19:09] pcmoritz opened #5856 "Handling `use_pickle=True` with pickle5 serializer and performance regression"
At the moment, `ray.register_custom_serializer` is not working when `use_pickle=True`. In that case it should just do nothing, at the moment it is trying to call

https://github.com/ray-project/ray/blob/3a42780cb860d26f50fb092662b4b236eb60a1c3/python/ray/worker.py#L2209

with `serializer=None`.

There is also a performance regression in the code, which can be reproduced by running
[code]

The time

[2019-10-07 21:28] #5721 closed

[2019-10-07 21:30] richardliaw commented on #5454
OK looks like this might be a CentOS related issue. Closing this in favor of #5223 .

[2019-10-07 21:30] #5454 closed

[2019-10-07 21:31] stephanie-wang commented on #5814
@edoakes and I discussed today and we think we should try the following:
- Replace actor handle IDs with the client ID (either the actor or task ID of the submitter). Each handle's state will be this client ID, the task counter for the last task that was submitted on the handle, and whether the handle is active.
- When the Python handle instance goes out of scope, mark the handle as inactive.
- If

[2019-10-07 21:43] richardliaw commented on #1885
This should be fixed now that we subclass the error.

[2019-10-07 21:43] #1885 closed

[2019-10-07 21:45] richardliaw commented on #2811
We don't run this anymore I think.

[2019-10-07 21:45] #2811 closed

[2019-10-07 21:45] #2726 closed

[2019-10-07 21:46] richardliaw commented on #2649
Jenkins doesn't fail on this anymore.

[2019-10-07 21:46] #2649 closed

[2019-10-07 21:47] richardliaw commented on #968
We've added some of this in #5175

[2019-10-07 21:47] #968 closed

[2019-10-07 21:48] richardliaw commented on #1799
I'm not sure we're planning to do this. Closing this for now.

[2019-10-07 21:49] #1616 closed

[2019-10-07 22:03] #2773 closed

[2019-10-07 22:08] stephanie-wang commented on #5820
Actors will exit when the original handle to the actor is out of scope, so the actor's probably exiting here before it can execute the task. Try keeping the original handle to the actor around by doing something like this:
[code]
instead of this:
[code]

[2019-10-07 22:13] stephanie-wang commented on #5820
Actually, there appears to be something else going on. I'll try to investigate more.

[2019-10-08 00:57] mightyking7 opened #5858 "ValueError: ('Observation outside expected value range'"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6.8
- **Exact command to reproduce**: run_experiments()

### Problem
I am training an RL agent to stabilize traffic using [Flow](https://github.com/flow-project/flow). Every two minutes I will r

[2019-10-08 03:16] davidcotton commented on #5820
Thanks heaps for the help @stephanie-wang! I've implemented your fix and it solves the `ray.exceptions.RayActorError: The actor died unexpectedly before finishing this task` error.

With the updated code I now get the following errors (Ray 0.7.5):
[code]
and in 0.7.3 & 0.7.4 I get:
[code]
However, I've found that the code runs successfully with `ray.init(local_mode=True)` in 0.7.3

With the help o

[2019-10-08 06:56] #5774 closed

[2019-10-08 07:17] pcmoritz commented on #5774
@johann-petrak The fix has now been merged into master, do you want to check if it solves your problems? You can install and try it out from https://ray.readthedocs.io/en/latest/installation.html#latest-snapshots-nightlies

[2019-10-08 17:40] stephanie-wang opened #5862 "RayTaskError doesn't subclass original exception correctly"
### System information
- **Ray version**: 0.7.5

### Describe the problem
I'm not exactly sure what's going on, but it looks like some issue with recreating the original exception. The original exception here is a `ray.exceptions.UnreconstructableError`, but it fails when trying to print the exception because there is no `self.object_id`.

### Source code / logs
[code]

This results in:
[code]

It

[2019-10-08 17:41] edoakes commented on #5715
Sorry this took so long, but it will be fixed in the next release (see the above PR). For now, if you rely heavily on local mode I would suggest using 0.7.3.

[2019-10-08 17:54] nicofirst1 commented on #5715
My problem is that I'm using the MADDPG in the contrib section of rllib, which is not available in ray version 0.7.3.
Is there a way to update ray and keep rllib as it is?

[2019-10-08 18:06] #5847 closed

[2019-10-08 18:40] #5335 closed

[2019-10-08 18:41] #5828 closed

[2019-10-08 18:43] richardliaw commented on #5485
Should be closed by #5402.

[2019-10-08 18:43] #5485 closed

[2019-10-08 20:07] #5715 closed

[2019-10-08 20:18] #5732 closed

[2019-10-08 20:21] ericl commented on #5862
I have this in some other pr:

[code]

[2019-10-08 20:33] ericl commented on #5858
This is because the observation is outside the value range of the Box() -- (the hi/low values defined).

[2019-10-08 20:33] #5858 closed

[2019-10-08 21:28] richardliaw commented on #5855
Is the issue here that you're using `checkpoint` for save and then `checkpoint1` for restore?

[2019-10-08 21:29] richardliaw commented on #5223
I haven't gotten a chance to reproduce this on AWS yet; I'll keep trying later this week.

[2019-10-08 22:38] stephanie-wang commented on #5820
Thanks, @davidcotton! The issue that you're getting has to do with the way Ray maintains handles to named actors. Hopefully that will be fixed with #5814.

For your particular application, you can actually fix it by saving the actor handle directly in the environment and reusing it later on in the callback. I'd recommend using this kind of pattern wherever possible instead of named actors. Here's

[2019-10-08 22:38] #5820 closed

[2019-10-09 00:03] ericl commented on #5862
@stephanie-wang try out https://github.com/ray-project/ray/compare/master...ericl:no-wrap?expand=1 ? For some reason your example doesn't fail for me.

[2019-10-09 04:04] #3644 closed

[2019-10-09 14:06] mkrech opened #5872 "Avoid putting the redis password in plain text in processlist"
### System information
- Ubuntu 16.04
- binary:
- 0.7.4:
- 3.7:

### Describe the problem
When we start tune we see the redis password in the processlist ... so in logs.
Is it possible to start tune // ray without to see the redis password?

### Source code / logs
/home/michael/miniconda3/envs/ppp/lib/python3.7/site-packages/ray/core/src/ray/raylet/raylet --raylet_socket_name=/tmp/ray/session_2019

[2019-10-09 15:08] hcch0912 opened #5873 "[rllib] PPO Gamma Configuration"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 18.04
- **Ray installed from (source or binary)**: binary
- **Ray version**:  0.7.5
- **Python version**: 3.6
- **Exact command to reproduce**:

### Describe the problem

Would like to set the gamma of the PPO algorithms. Now there's only option for Lambda and using GAE or not.

### Source code / logs

[2019-10-09 15:22] drivenow opened #5874 "[multi-tenancy] Outdated env vars and functions"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**:  pip install
- **Ray version**: 0.7.3
- **Python version**: python3.6
- **Exact command to reproduce**:

### Describe the problem

It's convinient for ray applications to connect an exsiting ray cluser by passing a redis address,
and making it possib

[2019-10-09 18:42] rostyboost commented on #5795
I also hit this issue with `pyarrow==0.15.0`:
[code]
I write these parquet files from a Spark job (so `parquet-mr` writer, `1.9.1`).

Note that in my case, read with `pyarrow==0.14.1` also fails for this column.
I _suspect_ it's because the values of my column can be large (meaning, very long arrays), because I've read `array<float>` columns in `pyarrow==0.14.1` in the past without issues.

[2019-10-09 20:21] edoakes commented on #5715
@nicofirst1 one option is to build Ray from source off of the latest master. You can follow these instructions to do so:
https://ray.readthedocs.io/en/latest/installation.html#building-ray-from-source

0.7.6 will contain the fix and should be released in the coming weeks.

[2019-10-09 20:49] shreyagu commented on #5811
@richardliaw  @robertnishihara  @ericl  @pcmoritz

[2019-10-09 23:28] richardliaw opened #5875 "[tune] In-memory Checkpoints should spill over to disk"
Right now, there is no way to recover from an evicted checkpoint during a run with a small object store memory. This is even more problematic when the number of concurrent trials is dynamic (i.e., experiment autoscaling, causing some behaviors to occur unexpectedly).

cc @ericl @ujvl

[2019-10-09 23:46] richardliaw opened #5876 "[tune] Rewrite Search Algorithms Documentation"
Generally, the SearchAlgorithm documentation is quite sparse. A tutorial or walkthrough on the search algorithm page would be good.

Here are some general questions about how to use SearchAlgorithms.

1. Will Ray take care of it via resources_per_trial or HyperOpt via max_concurrent? Or should they both be in sync?
2. How does HyperOptSearch know when to stop?

[2019-10-10 16:35] robertnishihara commented on #5715
If you're trying to use the latest version of Ray, you can also just pip install the latest version by following the instructions in https://ray.readthedocs.io/en/latest/installation.html#latest-snapshots-nightlies.

[2019-10-10 16:38] robertnishihara commented on #5811
@shreyagu how much memory does the machine have?

Also, since you are passing in `--redis-address` does this mean you already started Ray with `ray start --head` successfully?

Can you try doing `import ray; ray.init()` in Python and share what that outputs?

[2019-10-10 18:16] ankdesh commented on #5819
No activity on this thread. Closing without resolution.

[2019-10-10 18:16] #5819 closed

[2019-10-10 18:30] rusu24edward opened #5879 "[docs] Issue on `actors.rst`"
# Documentation Problem/Question/Comment
There is a link under the "Passing Around Actor Handles" section: "asynchronous parameter server example", which leads to the URL: http://ray.readthedocs.io/en/latest/example-parameter-server.html. However, this link is broken.

(Created directly from the docs)

[2019-10-10 21:12] nemanja-rakicevic opened #5883 "error: free(): invalid pointer"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **Ray installed from (source or binary)**:
 installed via `pip`
- **Ray version**:
Version: 0.7.5
- **Python version**:
Python 3.5.2
- **Exact command to reproduce**:
example from https://ray.readthedocs.io/en/latest/using-ray-with-tensorflow.html

### Describe the problem

I have followed th

[2019-10-10 21:21] pcmoritz commented on #5883
Thanks for sharing! According to the backtrace:

[code]

it seems to be crashing inside of TensorFlow. Can you try to run the code that gets executed in the crashing process without Ray to see whether it works in that case?

[2019-10-10 21:30] rusu24edward opened #5884 "[docs] Issue on `rllib.rst`"
# Documentation Problem/Question/Comment

I'm getting started on the RLlib tutorial. I attempted to run a python script:
[code]

And I got the following error:
[code]

Not sure if this is a bad environment setup on my part or if the tutorial is outdated.

(Created directly from the docs)

[2019-10-10 21:43] pcmoritz commented on #5883
Ok, this looks a little more involved! Can you also try the following:

[code]

and then also

[code]

and rerun the ray script. In the backtrace it looks like there is some interaction between torch and tensorflow, so I think it is crashing because ray imports torch by default if it is installed.

See the lines
[code]

[2019-10-11 02:31] zhichao-li commented on #5223
@NikEyX I was facing the same issue on Ubuntu 16.04.2 LTS with manually setting up the cluster. Also, I can reproduce the error with your code snippet.

[2019-10-11 06:29] EC2EZ4RD opened #5892 "[rllib] Custom loss and custom stats cannot work"
### System information
- **OS Platform and Distribution**: Linux Ubuntu 18.04
- **Ray installed from**: binary (pip install)
- **Ray version**: 0.7.5
- **Python version**: 3.6.8
- **Exact command to reproduce**: `python custom_loss.py --input-files=/tmp/cartpole`

### Describe the problem

When using custom loss and custom stats, it won't show in the log and tensorboard.
The custom_loss.py uses th

[2019-10-11 10:20] nemanja-rakicevic commented on #5883
Uninstalling `torch` fixes the issue!

I tried with both `@ray.remote` and `@ray.remote(num_gpus=1)` and they both work fine.
Their outputs are shown below:

 `@ray.remote` :
[code]

`@ray.remote(num_gpus=1)`:
[code]

[2019-10-11 10:27] nemanja-rakicevic commented on #5883
One unrelated follow up question:

- Is there some comparison on the performance of `ray` w.r.t. using python multiprocessing and importing keras/tf in each process?
For example:

[code]

[2019-10-11 13:19] dekromp opened #5895 "Custom Head and Worker Name Tag in cluster.yaml (AWS)"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Mojave 10.14.6
**Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6
- **Exact command to reproduce**:

[code]
### Describe the problem
Hi,
is it possible to set the instance Name Tag when ray is spinnnig up head and worker nodes on AWS EC2? Using the boto3 API

[2019-10-11 18:00] #5862 closed

[2019-10-11 18:35] arunavo4 commented on #5819
@ankdesh Hey I did some digging into this and I read through the original paper for ape-x and what I found was that in their setup they said that workers will run on cpu and only one learner network will run on GPU. So if that's how it's implemented in rllib maybe that's why we see a lower usage on GPU . I haven't gone through the ape-x code in rllib but I think that's the case.

[2019-10-11 18:39] arunavo4 commented on #5819
@ankdesh Also I wanted to ask you how long did it take to achieve the desired scores in your two setups. I wanted to get an idea and also how much ram is required. For the examples that u have ran on your system (pong).

[2019-10-11 18:49] #5879 closed

[2019-10-11 20:31] NikEyX commented on #5223
ohh, ok, I guess it's not just CentOS then. Something else must be going on. Maybe it's transparent pages related? There are a few warnings about that in my redis logs, but really I'm in the dark right now

[2019-10-12 04:28] richardliaw commented on #5895
Right now this is not possible because the autoscaler depends on tags for node identification. See `ray/python/ray/autoscaler/tags.py` for where these tags are set.

Curious - why do you want to change the tag name?

[2019-10-12 12:41] BigRiceBall opened #5896 "ModelCatalog does not support model interface when using pytorch"
### Problem Description

I try to implement the DQN with pytorch.
The `get_model_v2` in ModelCatalog would call model interface so it can create Q head if the framework is tensorflow. But the model interface is never called if the framework is pytorch.
### Source code

Tensorflow:
[code]
Pytorch:
[code]

[2019-10-12 16:38] richardliaw commented on #5873
You can still set `gamma`; see `rllib/agents/trainer.py` (it is folded into the base_config).

[2019-10-12 16:40] richardliaw commented on #5817
Ah, sorry for the late reply. Can you paste your `tuner`?

[2019-10-12 16:41] richardliaw commented on #5840
What do you mean by "shut down their python environment"?

[2019-10-12 21:37] eugenevinitsky opened #5897 "Soft actor critic error: "Number of elements was larger than representable by 32-bit output type""
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.4
- **Python version**: 3.6.5
- **Exact command to reproduce**: N/A

### Describe the problem
Running a soft actor critic algorithm with the following hyperparams and 32 workers, I got the attached error. I can't give th

[2019-10-12 21:44] eugenevinitsky commented on #5897
Some other notes that might help, I can run it locally, it only breaks when I run it on EC2 across 5 nodes.

[2019-10-12 21:46] eugenevinitsky commented on #5897
Also, if it helps I'm attaching the corresponding run script and the command I ran it with is:
"ray exec ray_autoscale.yaml \
"python flow/examples/rllib/velocity_bottleneck.py centralized_0pen_SAC --num_iters 5000 --av_frac 0.1 --multi_node --sims_per_step 2 --sim_step 0.5 --warmup_steps 100 \
--num_samples 1 --grid_search --n_cpus 36 --use_s3 --rollout_scale_factor 2.0 --horizon 1000 --low_inflo

[2019-10-13 03:17] simon-mo opened #5899 "test_component_failures.py::test_dying_worker_get failed on master"
According to [ray travis tracker](https://ray-travis-tracker.herokuapp.com/),`test_component_failures.py::test_dying_worker_get` has been failing on linux python2, python3 since fair task scheduling pr.

@ericl can you take a look? logs https://travis-ci.com/ray-project/ray/builds/131065695

[2019-10-13 06:20] matejsoroka opened #5901 "'Worker' object has no attribute 'core_worker' || 'raylet_client'"
Hey I'm stuck at this kind of error

Full sentry output - https://sentry.io/share/issue/1655c16b2da94719b64a4de4b1dad245/

- Linux Ubuntu 18.04
- Installed via PIP
- Ray version 0.7.5
- Python version: 3.6.8

### Source code / logs
[code]

[2019-10-13 09:59] llan-ml opened #5902 "[Tune] About fractional GPU"
### System information
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6.5

### Describe the problem

For now, Tune allocates fractional GPU in terms of the total number of GPUs. For example, if one `Trainable` requires `0.15` gpu, there will be `floor(8/0.15)=53` trials in a 8-GPU machine. This would be problematic in practice because the memor

[2019-10-13 13:51] andmib opened #5904 "[tune] Understanding checkpointing & resuming?"
Hello all,

I would like to run a parameter sweep using the Hyperopt-based search functionality. My model is not serializable (because I am using Sacred). If I run a parameter sweep over (for example) 10 trials with no checkpointing, and these results are saved in `~/ray_results/sweep`, and then run another 10 trials, will Ray tune automatically utilize the original 10 trials to narrow the search

[2019-10-13 17:04] richardliaw opened #5905 "[autoscaler] Unable to scale up"
I'm trying to test a workload where I start a CPU-only headnode and launch a GPU actor. This should cause the autoscaler to scale up (according to current behavior).

I observe that the worker node is launched, and the autoscaler checks for node readiness (via uptime). However, after a couple tries, the node is left as "updating" and no more interactions with the node are logged. The updating stat

[2019-10-13 17:05] richardliaw commented on #5905
Notice how in the logs, `Running uptime on 192.168.2.144...` disappears after a couple tries.

[2019-10-13 17:05] richardliaw commented on #5905
cc @edoakes @ericl

[2019-10-13 17:12] richardliaw commented on #5901
Any way to reproduce this from our end?

[2019-10-13 17:30] matejsoroka commented on #5901
Unfortunately not, it happens after some running time, is it possible that something like this be raised after some internal app error?

[2019-10-13 17:42] devin-petersohn commented on #5840
In the case that they are running in a script, the asynchrony can cause ray to shut down before the end of all computation in the script. More details can be found in the issue linked above.

[2019-10-13 21:15] richardliaw commented on #5905
Should be fixed by #5907.

[2019-10-13 22:10] edoakes commented on #5901
The only way I could see this happening is if a task is run or an error occurs after disconnecting a worker, as we disconnect & remove the `core_worker` and `raylet_client` on intentional disconnect (e.g., killing an actor). Could that be related to the issue you're seeing?

[2019-10-13 22:20] richardliaw commented on #5902
Thanks for raising this issue @llan-ml!

Would it be reasonable to just assert that if you have a fraction for `resources_per_trial`, it must exactly equal to 1 by some integer multiplication?

[2019-10-13 22:24] richardliaw commented on #5904
You can do this by running `hyperoptsearch.save(logdir)` and `hyperoptsearch.restore(logdir)`. See https://ray.readthedocs.io/en/latest/_modules/ray/tune/suggest/hyperopt.html#HyperOptSearch

I am currently rewriting the documentation to better describe this.

[2019-10-14 01:06] #5899 closed

[2019-10-14 01:23] ericl commented on #5902
Can the calculation be fixed?

[2019-10-14 02:09] richardliaw commented on #5902
The floor operator doesn’t make sense if we assume trials can have
different resource quantities.

On Sun, Oct 13, 2019 at 6:23 PM Eric Liang <notifications@github.com> wrote:

[2019-10-14 02:14] llan-ml commented on #5902
The max number of trials in a GPU is not determined. It would waste some GPU resources if we assert that.

[2019-10-14 02:35] andmib commented on #5904
Thank you! That's exactly what I'm looking for.

With that being said, if I'm passing the `hyperoptsearch` object to `tune.run_experiments`, at what point do I run `hyperoptsearch.save()` & `restore`?

I.E., if I put it at the end of the code below, I assume it will save at the very end of the `num_samples` I run. But is it possible to save the current state of `hyperoptsearch` after each successf

[2019-10-14 03:29] henryliu00 commented on #5119
@ehknight Could you please describe a little more detail about how you add the delay? I meet the same problem and I add `time.sleep` before this ([line](https://github.com/ray-project/ray/blob/dcd6d4949ca296b584f7090fb2249ae7a07b3e8f/python/ray/node.py#L100)) which didn't seem to help.

[2019-10-14 03:41] richardliaw commented on #4784
With #5900, I think this should work now. We can avoid doing the 2-stage thing as suggested above.

[2019-10-14 03:41] richardliaw commented on #4784
@stevenlin1111 can you try this out tomorrow? (after the wheels finish building). If it does work as intended, can you also close this issue?

Thanks!

[2019-10-14 04:38] richardliaw opened #5910 "Build Python 3.8 wheels"
As requested from https://groups.google.com/forum/#!topic/ray-dev/B6seATMPWCQ

[2019-10-14 04:43] richardliaw commented on #5874
Currently, the multi-tenant cluster support is not well-tested.

There is some limited support for refreshing workers and avoiding this leaked state, such as `max_calls` for remote tasks: https://ray.readthedocs.io/en/latest/package-ref.html#ray.remote

[2019-10-14 05:00] richardliaw opened #5911 "[tune] multi-tenancy"
It is common that users may want to run multiple experiments at once. To support this, we may want to first enable the case where multiple `tune.run`s are directed at the same cluster, and let the `trial_executor` handle fairness.

[2019-10-14 05:07] richardliaw commented on #5904
We have #5773 in progress, which saves on a periodic time interval. That should work for you?

[2019-10-14 05:16] richardliaw commented on #5902
I think without any overly complicated mechanism it won't be easy to support this, but maybe I'm wrong. Imagine if you have `cpu=0.3` and `extra_cpu=0.4`, (extra_cpu is used in distributed trials). I have 4 CPUs. How do you calculate the expected number of trials?

[2019-10-14 05:43] jovany-wang commented on #5119
I guess your head node is not able to be started.

Could you please verity it?

[2019-10-14 06:31] llan-ml commented on #5902
I would calculate the number as `floor(4/(0.3+0.4))=5` under the assumption that the system memory is large enough. However, the GPU memory is relatively scarce. If we do not have a floor operator, the program will raise OOM error. In my practice, I set `num_gpus` in terms of the GPU memory a program will occupy.

I'm not sure how Ray/Tune allocates a GPU to a process/trial. Imagine that we have `

[2019-10-14 07:36] llan-ml commented on #5902
The issue may be just about float precision? Here is a script:
[code]

The log is
[code]
Although there are 5 running trials, the trial `Foo_4` is actually pending. Thus, it will not raise OOM error as I mentioned above. A better way is to put `Foo_4` into the pending queue, but the current behavior is also okay.

[2019-10-14 09:06] dekromp commented on #5895
Hi Richard,
thanks for the quick response. We have naming conventions for our EC2 instances so we can associate resources to people and projects (we use a bunch of other tags, too). In addition, we have bots that "deal" with instances that do not follow these conventions.

[2019-10-14 09:16] gaocegege commented on #1437
Can we close the issue now? I think #5492 implemented the feature.

[2019-10-14 09:27] edoakes commented on #1437
#5492

[2019-10-14 09:27] #1437 closed

[2019-10-14 11:06] nicofirst1 opened #5913 "MADDPG with horizon"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04, but same error is on macOSX 10.14.06
- **Ray installed from (source or binary)**: source
- **Ray version**: 0.8.0 dev5
- **Python version**: python 3.6.9
- **Exact command to reproduce**:
I'm trying to use the [MADDPG](https://github.com/ray-project/ray/tree/master/rllib/contrib/maddpg) algorithm to

[2019-10-14 15:16] weidler opened #5914 "Pickle Error with TF2.0"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04 (LTS)
- **Ray installed from (source or binary)**: installed with pip
- **Ray version**: 0.7.5
- **Python version**: 3.6
- **Exact command to reproduce**: Execute code from https://ray.readthedocs.io/en/latest/using-ray-with-tensorflow.html

### Describe the problem
I cannot use ray with Tensor

[2019-10-14 17:30] richardliaw commented on #5914
Try this?

[code]

[2019-10-14 20:26] richardliaw commented on #5902
@llan-ml, thanks for the reply! so right now, the task is launched but will not OOM - Ray will take care of the placement and avoiding this overflow.

This is different from your original proposal of `8*floor(1/0.15)=48` right? In any case, we should be able to avoid OOMs.

Can you explain why you are opposed to "if you have a fraction for resources_per_trial, it must almost equal (`np.isclose`) t

[2019-10-14 20:50] tatianafrank opened #5917 "'NoneType' object has no attribute 'group' with python 3.5.3"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Darwin-18.7.0-x86_64-i386-64bit
- **Ray installed from (source or binary)**: Poetry install
- **Ray version**: 0.7.5
- **Python version**: 3.5.3
- **Exact command to reproduce**: Poetry Install

### Describe the problem
I just downgraded from Python 3.6 to 3.5.3 and when I try to install Ray with Poetry I get thi

[2019-10-14 20:58] richardliaw commented on #5917
@tatianafrank can you provide a longer stack trace?

[2019-10-14 21:02] richardliaw commented on #5884
This works for what version of tf and ray are you on?

[2019-10-14 21:07] #5905 closed

[2019-10-14 21:20] ericl commented on #5913
cc @wsjeon

[2019-10-14 21:25] ericl commented on #5902
How about this?
[code]

[2019-10-14 21:29] richardliaw commented on #5902
Is this only for `Resources(cpu, gpu)`? if so, that sounds good. Otherwise, it's not clear to me any rounding/integration makes sense for extra_cpu/extra_gpu. If you have 3 GPU workers each wanting 0.25, you set extra_gpu=0.75. `round_up` wouldn't make sense on `extra_gpu` then right?

[2019-10-14 22:33] weidler commented on #5914
Works! Interesting, given that with python's multiprocessing the local import is not necessary. Thanks for the help!

[2019-10-15 00:18] wsjeon commented on #5913
Hi. I guess you've used the environment different from [OpenAI MPE](https://github.com/openai/multiagent-particle-envs). Have you tested the code works on MPE and got the same issue? Additionally, do you have the same issue when there are a small number of agents?

[2019-10-15 02:59] llan-ml commented on #5902
Yes. At the beginning, I thought GPU could be oversubscribed, but those trials are actually pending. So, I think the issue is only about correctly displaying the number of running trials now.

I didn't get your point yesterday. Now, I think the constraint is okay when we only set `gpu`, and we can just set it as `gpu=1/expected_number_per_gpu`. But if we use `gpu` and `extra_gpu` at the same time?

[2019-10-15 09:28] nicofirst1 commented on #5913
Thanks for the fast reply, I haven't tested the OpenAI environemnt and I do not think I have the time to do that.
Concerning the number of agents, the same problem arises having just 3 agents (1 dpg and 2 maddpg). If i remove the _dpg_ agent another error rises, which is due to the lack of agents using the second policy.

[2019-10-15 09:29] nicofirst1 commented on #5913
However I just noticed that having an horizon as low as 15 does not prevent the error, so my previous considerations on it were wrong.

[2019-10-15 13:14] brendanxwhitaker commented on #5753
This was significantly faster, but still a bit slow (around 1 s), whereas before it was taking somewhere between 15-20s.

However the initialization of the first few agents (before reuse of old policies) is exhibiting some odd behavior: each initialization takes progressively longer than the last (3s, 5s, up to 20s), for 10 agents or so. Is this normal? Otherwise my moving of the initialization co

[2019-10-15 13:17] brendanxwhitaker commented on #5753
For reference: running on a 2 core machine with a k80 and 12G of memory. Also the GPU utilization is oddly low. I thought maybe it was a memory leak, but it was only using 350MB on the GPU.

[2019-10-15 13:56] wsjeon commented on #5913
@nicofirst1 I've been checking the code with MPE and found there's no error with your dependencies. I couldn't find an error when I vary the size of replay buffer and types of the algorithm (ddpg, maddpg for good and adversary).

One thing I guess is that the error is due to the environment class (rllib.MultiAgentEnv) you defined.
- Would you please share some information on the environment?
- Add

[2019-10-15 14:06] nicofirst1 commented on #5913
@wsjeon  the whole project can be found in [here](https://gitlab.com/nicofirst1/mas_traffic). The configuration is stored in the [Params class](https://gitlab.com/nicofirst1/mas_traffic/blob/master/FlowMas/utils/parameters.py) ( under _Agent  params_), while the environment is [this one](https://gitlab.com/nicofirst1/mas_traffic/blob/master/flow/envs/multiagent/customRL.py).

[2019-10-15 14:15] tatianafrank commented on #5917
@richardliaw  That's the entire output to the terminal when I run `poetry install`.. is there a file with more of a stack trace that I can look for? The output doesn't mention any..

[2019-10-15 14:41] heeryerate opened #5921 "Low cpu usage on a simple run using PPO"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Red Hat Enterprise 7.5
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6.8
- **Exact command to reproduce**: rllib train --env=CartPole-v0 --run=PPO --config='{"num_workers": 15, "train_batch_size": 400000}

### Describe the problem

I try to run rllib PPO algo

[2019-10-15 14:46] wsjeon commented on #5913
I just found that you've set `leanring_starts=2`. Could you please check if the error occurs after setting it larger than `train_batch_size`?

[2019-10-15 15:07] nicofirst1 commented on #5913
I set _leanring_starts=train_batch_size_ and _leanring_starts=train_batch_size*2_. Still getting the same error

[2019-10-15 15:09] nicofirst1 commented on #5913
Currently my parameters look like this:
[code]

[2019-10-15 15:17] mawright opened #5922 "rllib: TorchModelV2 and torch.nn.Module have conflicting __call__ methods"
### Describe the problem
It is suggested in the documentation that a user's Pytorch neural net subclass both rllib's TorchModelV2 and torch.nn.Module. TorchModelV2 overrides __call__ by inheriting ModelV2's __call__. However, torch.nn.Module also has a __call__ method that handles some settable hooks around the forward and backward passes https://github.com/pytorch/pytorch/blob/19d83ab8007aa5f295b

[2019-10-15 15:22] wsjeon commented on #5913
What is the main code you're running in [https://gitlab.com/nicofirst1/mas_traffic]?

[2019-10-15 15:23] nicofirst1 commented on #5913
The [train script](https://gitlab.com/nicofirst1/mas_traffic/blob/master/FlowMas/train.py)

[2019-10-15 15:30] wsjeon commented on #5913
It seems like the line you invoke MADDPG agent is [this line](https://gitlab.com/nicofirst1/mas_traffic/blob/master/FlowMas/utils/parameters.py#L107-109), but I 'm wondering where `training_alg` is used.

[2019-10-15 15:32] nicofirst1 commented on #5913
It is used [here](https://gitlab.com/nicofirst1/mas_traffic/blob/master/FlowMas/train.py#L215)

[2019-10-15 15:37] wsjeon commented on #5913
I think you need to check the sample batch size after [these lines](https://github.com/ray-project/ray/blob/master/rllib/optimizers/sync_replay_optimizer.py#L115-L129) so that agent-environment interaction gives the experiences with the same length.

[2019-10-15 15:46] wsjeon commented on #5913
By the way, I'd like to ask about the episode lengths and termination flags. Is the number of agents varying in a single episode?

[2019-10-15 15:47] nicofirst1 commented on #5913
The number of agents it's not varying, but after [these lines ](https://github.com/ray-project/ray/blob/69d5c1b53a1aeed52a321bf2cc9f2d830ead5682/rllib/optimizers/sync_replay_optimizer.py#L117-L121) the _batch_ contains just some agents, not all of them. This is why I get different sample sizes.

[2019-10-15 15:50] nicofirst1 commented on #5913
Seems like some agents just disappear during episodes

[2019-10-15 15:58] wsjeon commented on #5913
Hmm, that is quite weird, and definitely that's the source of the error. Can you please check your environment functions as you desired, e.g., the number of observations and actions it took during `step`?

[2019-10-15 16:24] richardliaw commented on #5917
is there a verbose flag? also, does pip worrk for you?

[2019-10-15 16:27] tatianafrank commented on #5917
Poetry is a hard requirement for our production environment so I cant use pip unfortunately. Here is the trace using debug verbose mode:

[code]

[2019-10-15 16:29] tatianafrank commented on #5917
Reading the trace now after posting it.. seems this might be a poetry issue instead of ray...

[2019-10-15 16:44] nicofirst1 commented on #5913
I think you're right and the env just removes some agents during the episode, I will fix it and update you as soon as possible

[2019-10-15 17:44] tatianafrank commented on #5917
Sorry closing this issue. It was a poetry issue and is resolved now.

[2019-10-15 17:44] #5917 closed

[2019-10-15 18:31] leon2014dresden commented on #1653
hi @marianogabitto i have got the same problem as you. But i don't understand the solution 'change it to be CUDA_VISIBLE_DEVICES='' ray start ... '. Can you tell me how to change the slurm file or python script?

[2019-10-15 18:41] marianogabitto commented on #1653
Dear Leon,
     I fix my issue by adding a line into my slurm script. Can you try to see if this works? This is my slurm script:

#!/bin/bash
source activate python_with_ray

CUDA_VISIBLE_DEVICES=''

python my_script

[2019-10-15 18:58] leon2014dresden commented on #1653
Yes, it works now...

thank you!

[2019-10-15 19:24] richardliaw commented on #5737
Can you also provide a cuda version?

[2019-10-15 22:57] heeryerate commented on #5921
Thanks! I understood the SGD bottlenecked behavior for PPO. I'm wondering if I have sample size (train batch size) large enough, e.g., CartPole-v0 with 400000 samples collected at each iteration, the computation is quite heavy... should I expect such high sampling overhead, making it use only around 18% cpu per core for a while?

I will also try on the tuned example and APPO to verify :)

[2019-10-15 23:34] annaluo676 commented on #5568
Yes, the patch works. Thanks!

Closing this issue.

[2019-10-15 23:34] #5568 closed

[2019-10-16 00:23] shreyagu commented on #5811
Instance type
t2.micro, RAM: 1GB

When i try `ray up` this is what happens:

[code]

[2019-10-16 00:25] shreyagu commented on #5811
This is what i get when i run `ray --head`

[code]

[2019-10-16 01:06] #5539 closed

[2019-10-16 01:06] richardliaw commented on #5539
feel free to reopen if still an issue.

[2019-10-16 01:19] richardliaw commented on #5824
Can you provide more info as to what you're trying to do?

If you want to use Tune in combination with a trainable function, why not just change `log_dir`?

[2019-10-16 04:15] richardliaw opened #5925 "[tune] Log Tune actions into experiment directory"
Often times it is very hard to debug what the user ran into in terms of schedulers and tune issues. It would be good to log Tune actions with a rotating logger.

[2019-10-16 06:04] eugenevinitsky opened #5926 "eager tf policies incompatible with RNN"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6.5
- **Exact command to reproduce**: Run any RNN model in eager and local mode

### Describe the problem
If you run an RNN policy in eager mode, in eager_tf_policy line 474 it will call self.get_stat

[2019-10-16 06:06] eugenevinitsky opened #5927 ""use_lstm" seems incompatible with conv_filters option"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6.5
- **Exact command to reproduce**: Run any model with conv_filters on and "use_lstm" true

### Describe the problem
If you run a model with use_lstm and conv_filters, the tensors wind up stacked on the wi

[2019-10-16 06:10] eugenevinitsky commented on #5926
@richardliaw this explains the issue we were having this evening.

[2019-10-16 06:22] eugenevinitsky opened #5928 "models trained with conv_filters are not restored correctly"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6.5
- **Exact command to reproduce**: N/A

### Describe the problem
If you train a model with conv_filters on, when you call agent.restore it errors out when restoring the weights because it does not

[2019-10-16 06:22] richardliaw commented on #5926
can you actually just post a simple thing I can copy paste?

[2019-10-16 06:49] telemmaite commented on #5914
Can we get more on why it works when the ```python import tensor_flow as tf``` moved inside the function ?

[2019-10-16 08:01] pschafhalter opened #5930 "[rllib] [tune] Not tensorboard output for tensorflow 1.12.0"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Ray installed from (source or binary)**: wheels
- **Ray version**: 0.8.0.dev6
- **Python version**: 3.6.8
- **Exact command to reproduce**:
   1. `rllib train --run DQN --env CartPole-v0 --local-dir=~/ray_results/cartpole`
   2. `tensorboard --inspect --logdir=~/ray_results/cartpole/`

[2019-10-16 08:35] richardliaw commented on #5930
Created #5931 in response.

[2019-10-16 09:39] RedTachyon commented on #5884
I'm getting the same error with TF 2, but not with TF 1.14

[2019-10-16 09:42] lunasdejavu opened #5933 "ValueError: ctypes objects containing pointers cannot be pickled"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **Ray installed from (source or binary)**: pip
- **Ray version**:0.7.5
- **Python version**:3.6
- **Exact command to reproduce**:

### Describe the problem

I am trying to run a classification by caffe and a objectdetection by python darknet(something with pyc) the darknet code is from
most o

[2019-10-16 12:25] RedTachyon opened #5934 "[rllib] PPO with CartPole doesn't work on Tensorflow 2"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Mojave, Colab
- **Ray installed from (source or binary)**: binary (via pip)
- **Ray version**: 0.7.5
- **Python version**: 3.7.4, 3.6
- **Exact command to reproduce**: `rllib train --run=PPO --env=CartPole-v0`

### Describe the problem
I'm trying to run the basic PPO example using Tensorflow 2, and on just

[2019-10-16 14:25] drivenow commented on #5874
It works！Thanks！

[2019-10-16 16:27] tatianafrank opened #5935 "FileNotFoundError: [Errno 2] No such file or directory: 'vmstat'"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux 9
- **Ray installed from (source or binary)**:
- **Ray version**: 0.75
- **Python version**: 3.5.3
- **Exact command to reproduce**: ray.init

### Describe the problem
Im running Ray in a docker image using Poetry and getting a vmstat error after ray.init() so I installed psutil using pip but im

[2019-10-16 16:44] xdever commented on #4309
Hi all,

Any progress on this?

Building PyArrow is the most difficult thing I have ever seen on Linux... At least could you somehow provide the old script that was used to auto-build it?

Thank you,
Robert

[2019-10-16 18:13] eugenevinitsky opened #5936 "PPO object has no attribute set_global_vars, occurs in local_mode"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6.5
- **Exact command to reproduce**: Run the attached script with `python examples/rllib/velocity_bottleneck.py centralized_0pen_0p1_GRU_A3C --num_iters 3000 --av_frac 0.1 --sims_per_step 2 --sim_step 0.5 -

[2019-10-16 18:35] eugenevinitsky commented on #5936
@richardliaw do you have a sense of what might be happening here?

[2019-10-16 18:52] eugenevinitsky commented on #5927
[error_2019-10-14_13-33-27.txt](https://github.com/ray-project/ray/files/3735943/error_2019-10-14_13-33-27.txt)

[2019-10-16 19:18] richardliaw commented on #5936
Local mode is “less buggy” if you upgrade ray to nightly

[2019-10-16 19:36] eugenevinitsky commented on #5897
@hartikainen would you happen to have encountered this error in your use of SAC?

[2019-10-16 20:46] tatianafrank commented on #5935
Ok resolved this by installing psutil differently

[2019-10-16 20:46] #5935 closed

[2019-10-16 21:49] andmib commented on #5904
Yes thank you!

On Mon, Oct 14, 2019, 1:08 AM Richard Liaw <notifications@github.com> wrote:

[2019-10-16 22:32] stackedsax opened #5938 "[docs] Issue on `installation.rst`: Additional dependencies required for dashboard support"
# Documentation Problem/Question/Comment

Regarding the optional dashboard support, I think it's worth mentioning a couple other dependencies here:

 * https://ray.readthedocs.io/en/latest/installation.html#optional-dashboard-support

When I ran ray with `include_webui=True` the first time, it prompted me with this message:

Happy to add a line in the docs to read:

[code]

[2019-10-16 23:17] richardliaw commented on #5938
can you make a pr? Thanks! @stackedsax

[2019-10-16 23:19] #2571 closed

[2019-10-16 23:30] rusu24edward commented on #5884
Yes, I am also running TF 2

[2019-10-16 23:47] richardliaw commented on #5884
@rusu24edward @RedTachyon can you try out the latest wheels? https://ray.readthedocs.io/en/latest/installation.html

[2019-10-16 23:53] richardliaw commented on #5934
@RedTachyon can you update to latest tensorflow?

[2019-10-16 23:54] richardliaw commented on #5934
@RedTachyon can you update to latest Ray? https://ray.readthedocs.io/en/latest/installation.html

[2019-10-16 23:55] richardliaw commented on #5614
I think generally just if I've run into pickling errors with a library, importing inside the function works for me. It's hard to give a standard answer mainly because external libraries/packages are not very transparent in how they depend on global state.

[2019-10-16 23:55] #5614 closed

[2019-10-17 01:27] sytelus opened #5940 "Ray is not finding GPU but TF, PyTorch and nvcc does"
I have two NVIDIA TitanX but Ray isn't seeing any:

[code]

Ray also prints below inicating no GPUs:

`2019-10-16 18:20:17,954 INFO multi_gpu_optimizer.py:93 -- LocalMultiGPUOptimizer devices ['/cpu:0']
`

But TensorFlow sees all devices:

[code]

That prints:

[code]

Similarly,

[code]

Why Ray doesn't see my GPUs?

[2019-10-17 01:57] lunasdejavu opened #5941 "Exception: Remote functions cannot be called directly."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:ubuntu16.04
- **Ray installed from (source or binary)**: pip install
- **Ray version**:0.7.5
- **Python version**:3.6
- **Exact command to reproduce**:

### Describe the problem

I am trying to do reading a dictionary  by a for loop
every loop will call a function which there are three functions  to be run by ray

[2019-10-17 05:01] sytelus commented on #5940
Just wondering what does Ray uses to find GPU? May be I can also look into this...

[2019-10-17 05:12] ericl commented on #5940
Ray does not allocate GPUs unless you specify them as resources, please see: https://ray.readthedocs.io/en/latest/rllib-training.html#specifying-resources

[2019-10-17 05:44] sytelus commented on #5940
Thanks, that was helpful although its confusing. This is what happens:

Even if I explicitly init ray with num_gpus=1, `ray.get_gpu_ids()` is [].

However, if I start PPOTrainer with explicit `num_gpus=1` then ray gets GPU. If I don't set this in config then it doesn't.

I believe the confusing part is `ray.get_gpu_ids()` which I thought is the detected GPUs in the system. Instead, it's actually *

[2019-10-17 07:01] fyrestone commented on #5941
try `eval_ids.append(eval_lpd.remote(real_name_list, sorted_lpr_names, sorted_boxes, img_path))`

[2019-10-17 07:39] #5938 closed

[2019-10-17 07:42] yukiego commented on #5817
Hi,

I can't paste the actual code but here's our mock code.

[code]
where `load_model_class` load `tf.keras` model class that we predefined, and `save_val_loss` to save results to our database.

and here is out `TuneCallBack`

[code]

Again this works on Python 3.5.7 but not on 3.6.8.
Thanks!

[2019-10-17 07:44] richardliaw commented on #5817
Does the `save_val_loss` have a database connection? can you try creating the database connection inside `def tuner`?

[2019-10-17 07:47] RedTachyon commented on #5934
It does seem to work on 0.8.0.dev6. To be clear, we're talking about the nightly build, i.e. the current stable version is not (supposed to be) compatible with TF2?

[2019-10-17 07:49] RedTachyon commented on #5884
Like in #5934 upgrading to 0.8.0.dev6 fixes this issue.

[2019-10-17 07:52] richardliaw commented on #5934
The nightly build; yeah. This is because TF2 came out after we cut our last release - the next release is in a week and should be fixed there.

Sorry about that!

[2019-10-17 08:04] yukiego commented on #5817
Yes it does, our database connection is based on `MySQLdb` class

[2019-10-17 08:26] richardliaw commented on #5940
Ray does the following to check:

[code]

[2019-10-17 09:21] yukiego commented on #5817
But the db connection has nothing to do with this issue I suppose.
It looks to me it's coming from `pickle.dumps(value)` where value is `<class 'ray.tune.function_runner.wrap_function.<locals>.WrappedFunc'>`.

[2019-10-17 09:34] lunasdejavu commented on #5941
thanks! it works!

[2019-10-17 09:34] #5941 closed

[2019-10-17 09:50] hartikainen commented on #5897
Hey @eugenevinitsky, unfortunately, I have never seen this error before. It looks like this is a tensorflow issue with the inputs being too large, which is why I'm not sure if this is specific to SAC. Do you know if your example fails in the same way with, for example, DDPG?

[2019-10-17 15:16] richardliaw commented on #5817
The wrappedfunc is the tuner function - I think if you comment out “save_val_loss” it will work. I think Tune is trying to pickle a db connection (which is necessary for it to run “tuner” on different machines”).

Alternatively, if you are trying to write, why not use a custom logger?

[2019-10-17 15:35] yannbouteiller opened #5944 "[docs] suggestion for `rllib-algorithms.rst`"
# Documentation Comment

Hello. Just a suggestion, I think it would be more than useful from a user point of view to have something similar to this table https://github.com/hill-a/stable-baselines#implemented-algorithms in the documentation (only more complex with all rllib specifications) to visually understand what all implemented algorithms can and cannot do in the current state of rllib develo

[2019-10-17 16:36] #5814 closed

[2019-10-17 17:08] annaluo676 commented on #5897
I encountered this once on EC2 with SAC. But I wasn't able to reproduce it as it looked fine after re-submitting the job.

[2019-10-17 19:35] ericl commented on #2105
Try this?

[code]

[2019-10-18 00:42] che85 commented on #5940
I am having a similar issue. The number returned by the code in https://github.com/ray-project/ray/issues/5940#issuecomment-543065188 is correct, but when starting training it's telling me the following:

[code]

At first, it detects GPUs but then somehow the process doesn't.

What could be a quick fix for this?

[2019-10-18 00:55] ericl commented on #5940
Ray is detecting the GPUs but not allocating them since your code didn't
request any for the trials (that's why it says 0/2 GPUs requested).

The Tune API provides a way to request GPUs per trial.

On Thu, Oct 17, 2019, 5:42 PM Christian Herz <notifications@github.com>
wrote:

[2019-10-18 00:58] che85 commented on #5940
@ericl Why wouldn't it automatically allocate all found GPU unless otherwise defined?

Is this the resource? https://github.com/ray-project/ray/issues/5940#issuecomment-543005640

[2019-10-18 01:05] ericl commented on #5940
How would it know how many GPUs to give to each trial?

Please see
https://ray.readthedocs.io/en/latest/tune-usage.html#trial-parallelism

On Thu, Oct 17, 2019, 5:58 PM Christian Herz <notifications@github.com>
wrote:

[2019-10-18 04:51] yukiego commented on #5817
Looks like you are right.
Thanks, will try a custom logger ;)

[2019-10-18 04:51] #5817 closed

[2019-10-18 13:51] che85 opened #5947 "TypeError: can't pickle CudnnModule objects"
When trying to wrap my existing pytorch code, I am getting the following error message:

I am using NVIDIA apex library for supporting mixed precision training. I turned mixed-precision off for testing ray and I am still getting the error.

[code]

**ray version 0.7.5**

When turning off mixed precision and setting `torch.backends.cudnn.enabled = False`, training works. Is CuDNN not supported by r

[2019-10-18 14:50] che85 commented on #5947
I tested again. Mixed precision works.

only if I use either one
[code]
or
[code]

it fails to pickle.

[2019-10-18 15:13] virtualluke commented on #1968
I am seeing this error from time to time, seems random.  When I rerun the job it succeeds.  It is infrequent but very frustrating.

This error message as is is not very helpful.

 Is it a plasma store memory issue?  How can I tell?  Using ray master from about a week ago, python 3.7.4

[2019-10-18 16:49] eugenevinitsky commented on #5897
Thanks to you both! I have not tested it yet with DDPG but will give it a try and see what happens.

[2019-10-18 18:38] richardliaw commented on #5454
Looks like this is not a centos issue.

[2019-10-18 18:39] richardliaw commented on #5454
(see #5223)

[2019-10-18 18:50] richardliaw commented on #5223
OK I made a little bit of progress on this. I think you get hanging if one of the ports is not open. If the redis shard port is not open, you'll get some error about things not being able to be forwarded.

This is the set of ports and their permissions that I've opened. That's 5 inbound.

![image](https://user-images.githubusercontent.com/4529381/67119521-34878680-f19c-11e9-9986-9ba83aa30536.png)

[2019-10-18 20:52] richardliaw commented on #5947
Can you try moving the cudnn call into your trainable?

[2019-10-18 20:53] richardliaw commented on #5940
Closing this now - thanks!

[2019-10-18 20:53] #5940 closed

[2019-10-18 20:55] richardliaw commented on #5817
Feel free to contribute a MySQLLogger btw!

[2019-10-19 07:02] gohsyi opened #5950 "How to change ssh port when using cluster.yaml to set up a cluster?"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Ray installed from (source or binary)**:
- **Ray version**:
- **Python version**:
- **Exact command to reproduce**:

### Describe the problem

I have a private cluster and I want to use ray on it. However, the ssh ports of my servers are not 22.
I wonder how to change `ray/python/ray/autoscaler/local/example-

[2019-10-19 11:18] martinkoenig opened #5951 "Memory usage constatntly growing when running looped background workers"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.5.2
- **Exact command to reproduce**:

### Describe the problem

I'm trying to setup some background workers in ray for monitoring CPU, RAM, GPU and disk usage, but memory usage keeps constantly growi

[2019-10-19 11:37] martinkoenig commented on #5951
Ok, nvmd. I've figured it out. Sorry for opening an issue and closing it 20 minutes after.

Here is the updated code that doesn't eat up RAM

main.py in lib root
[code]

/util/hardware/monitor.py
[code]

/util/hardware/cpu.py
[code]

/util/hardware/ram.py
[code]

[2019-10-19 11:37] #5951 closed

[2019-10-19 17:23] zaaaap opened #5952 "ray.tune with pytorch: only uses 1 of 2 GPUs"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.7.4
- **Exact command to reproduce**: slightly modified version of the original ray.tune pytorch example:

[code]

### Describe the problem
The scheduler runs 2 experiments concurrently, but ass

[2019-10-19 17:52] richardliaw commented on #5952
Hey @zaaaap, I think this is a misleading function from pytorch (https://discuss.pytorch.org/t/torch-cuda-current-device-always-return-0/26530/4). Can you try printing `os.environ["CUDA_VISIBLE_DEVICES"]`?

[2019-10-19 18:14] zaaaap commented on #5952
[code]

[2019-10-19 18:39] zaaaap commented on #5952
Problem solved, there was none. I was confused by the output always being `0`. Just checked with `watch nvidia-smi` and it clearly shows that both GPUs are running 1 trainable each. Thanks anyways!

[2019-10-19 18:39] #5952 closed

[2019-10-20 01:55] richardliaw commented on #5950
Can you edit the .ssh/config on each node instead? https://askubuntu.com/questions/1001830/is-there-a-way-to-change-default-ssh-connect-port

[2019-10-20 01:56] #5934 closed

[2019-10-20 01:59] richardliaw commented on #5902
Thanks for the discussion! Looks like this is mostly resolved (it would be hard to actually get the PENDING to show up correctly because the task placement is handled by Ray, not by Tune). Closing for now, but feel free to reopen.

[2019-10-20 01:59] #5902 closed

[2019-10-20 01:59] richardliaw commented on #5921
Yeah That sounds fine. Closing now, fee free to reopen.

[2019-10-20 01:59] #5921 closed

[2019-10-20 02:00] #5874 closed

[2019-10-20 02:01] richardliaw commented on #5836
I think this is fixed with #5931

[2019-10-20 02:01] #5836 closed

[2019-10-20 02:02] gohsyi commented on #5950
Thank you for your reply! I want to try this, but port 22 is occupied for other purpose and I'm not allowed to change that. (The servers actually belong to my laboratory)

So, does ray provide any way to change ssh port ?

[2019-10-20 02:05] simon-mo opened #5954 "Named actor failed to work on master"
Named actor can't be accessed from multiple drivers. it can still be access from the same driver though.

Step to reproduce:
[code]

[code]
Keep the python shell running (so `a` does not go out of scope). Open a new python shell.

[code]
will error
[code]

I'm on commit
[code]

[2019-10-20 02:06] simon-mo commented on #5954
First suspect,
[code]

Checking if the issue still error in
[code]

[2019-10-20 02:18] #4895 closed

[2019-10-20 03:56] simon-mo commented on #5954
I tried to use (1) pickling actor handle (2) pyarrow serializer. It turns out `ray_forking` in  https://github.com/ray-project/ray/blob/91acecc9f9eb8d1a7e9fe651bd50e3b2d68ecee2/python/ray/actor.py#L591 are not used anyway.

Log:
[code]
One thing i noticed is the actor task has the wrong JobID. It should be job id 2. checking...

[2019-10-20 04:44] richardliaw commented on #5950
The autoscaler currently does not support this right now, but feel free to make a patch! What is the proper `ssh` command that you usually run to connect to a server?

On the other hand, you should then use the [Manual Cluster Setup](https://ray.readthedocs.io/en/latest/using-ray-on-a-cluster.html) if the autoscaler is not usable.

[2019-10-20 05:41] gohsyi commented on #5950
Thanks! Maybe I'll try the manual way.
I usually add -p<port> to connect to the servers.

[2019-10-20 16:16] #5950 closed

[2019-10-20 18:46] simon-mo commented on #5954
@stephanie-wang can you take a look?

[2019-10-20 23:04] #5954 closed

[2019-10-20 23:34] simon-mo opened #5957 "Orphaned named actor implementation plan"
In ray serve, we need an actor that handles that can survive after driver exits. Ray serve put all actor actors inside a single actor called ActorNursery. The ActorNursery is a single actor inside the ray cluster accessible from multiple driver. Right now, this is done by use a num_cpu=0 tasks to hold the actor handle for ActorNursery in a `while True` loop.

But this is hack. What we really need

[2019-10-21 00:15] dHannasch opened #5958 "Feature request: task dependency graphs"
Ray allows us to implicitly compute according to any directed acyclic graph via having remote functions call other remote functions.
https://ray.readthedocs.io/en/latest/advanced.html#nested-remote-functions

However, consider a task that depends on *any* of several possible inputs. We do not know in advance which of the inputs will be ready soonest. We would like to run this task as soon as any o

[2019-10-21 00:40] miguelwon opened #5959 "pip install ray not working on raspberrypi"
I can't install ray with `pip install ray`. Pip does not find it. I'm using Raspbian 10 with pip version 19.3

### System information
- **Linux raspberrypi 4.19.75-v7+ #1270 SMP Tue Sep 24 18:45:11 BST 2019 armv7l GNU/Linux**:
- **pip 19.3 from /home/pi/raspcamera/env/lib/python3.7/site-packages/pip (python 3.7)**

[2019-10-21 03:36] #5930 closed

[2019-10-21 05:40] #2629 closed

[2019-10-21 06:13] richardliaw commented on #5922
sounds like a good idea - could you push a patch?

[2019-10-21 07:42] zhichao-li commented on #5223
@richardliaw , I tried it again but somehow the problem was gone on my side. Maybe it did related to port usage as our environment is mixed with containers.

[2019-10-21 09:38] georgmerz commented on #5824
Hi,
I used the parameter log_dir in tune. However the trainable function calls train function in Ray.

As I am not aware of a parameter like log_dir for ray (and not tune) the result is the following:

Tune does produce folders in the given log_dir path. However they are mainly empty.
 The files generated by train in ray (e.g. the tensorboard event files) are saved in the default folder ~/ray_resu

[2019-10-21 12:06] andrewv99 commented on #5379
I have only just started using ray / tune. I am experiencing the same issue / symptoms as @jasonnance.

[2019-10-21 13:57] Coac opened #5963 "[rllib] [tune] No tensorboard summary using tensorflow 2.0.0"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **Ray installed from (source or binary)**: Build from source (master branch 26a724c5e6fa82dcb166e14170731aee0dd51807)
- **Ray version**: 0.8.0.dev6
- **Python version**: 3.7
- **Exact command to reproduce**: `python custom_env.py`

### Describe the problem

Running the the provided rllib example `c

[2019-10-21 16:08] richardliaw commented on #5963
which tensorflow version are you using?

[2019-10-21 16:24] #4607 closed

[2019-10-21 16:38] richardliaw commented on #5963
Sigh this is so painful - can you try this? https://github.com/ray-project/ray/pull/5953/files

[2019-10-21 16:40] SsnL opened #5965 "[FR] expose global_worker.raylet_client.is_worker"
## Describe the problem
Currently, `ray` does not seem to provide a public API for checking if a function is running inside a remote worker or not. Having this information accessible would make code sharing easier in many cases.

[2019-10-21 16:49] lsklyut opened #5966 "[docs] Issue on `using-ray-with-tensorflow.rst`"
there are two code blocks which do not state which highlighting language to use. This breaks the display on readthedocs (the code block does not appear), even though it looks fine on the github preview

[2019-10-21 17:00] Coac commented on #5963
I checked your branch, using the script `custom_env.py`  it's working now, there are summaries :+1:

[2019-10-21 17:38] yannbouteiller commented on #5944
Actually I have found this in 'Environments'

https://ray.readthedocs.io/en/latest/rllib-env.html#feature-compatibility-matrix

There is too little information imo but it does tell about continuous action-space compatibility.

[2019-10-21 17:38] #5944 closed

[2019-10-21 22:09] #5884 closed

[2019-10-21 22:28] Michiel29 opened #5968 "HyperOptSearch (and SuggestionAlgorithms) restore with empty generator and empty live_trials"
Currently, the trial generator is not part of the saved state for HyperOptSearch. #5773 adds save/restore of the search algorithm to the trial runner. However, upon resuming an experiment the trial runner skips adding an experiment to the search algorithm. The trial generator is normally created in the call to add_experiment (this is the case more generally for SuggestionAlgorithms) and so the res

[2019-10-21 22:45] ericl commented on #5957
Can we just make this an attribute of creating the actor instead of adding a new call?

[2019-10-21 23:02] stephanie-wang commented on #5957
Agree with Eric that we should do it when creating the actor, ideally in [this struct](https://github.com/ray-project/ray/blob/master/src/ray/core_worker/common.h#L101). Otherwise, looks good, although it's likely we'll have to move this code from the raylet to the core worker soon enough.

[2019-10-21 23:39] simon-mo commented on #5957
Ok sounds good. I will do it when creating the actor. I'll ping you once the PR is created.

[2019-10-21 23:55] richardliaw commented on #5824
You can technically set `os.environ.get("TUNE_RESULT_DIR")` if using RLlib. The other thing you should do is just report the results to the reporter (or tune.track.log) and then Tune should take care of the log_dir rerouting for you.

[2019-10-22 00:29] richardliaw commented on #5968
cc @hershg

[2019-10-22 01:10] ericl commented on #5958
Can't you use ray.wait() to handle nondeterministic dependencies?

[2019-10-22 01:53] NikEyX opened #5969 "Trying to make a torch.multiprocess queue work"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch latest
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.3
- **Python version**: 3.7

Is it possible to use torch.multiprocess.Queue and ray at the same time? I want to create a separate process that keeps on putting samples onto the GPU. I tried this before and eventually did this t

[2019-10-22 02:05] robertnishihara commented on #5958
Yeah, you can call `ray.wait` inside a function and pass in object IDs in a list. E.g.,

[code]

You should see an output like

[code]

This isn't the nicest syntax, but it should be possible to come up with a helper function that takes care of some of the details. Let me know if this is doing what you're looking for.

[2019-10-22 07:15] stevenlin1111 opened #5970 "Undefined Reference To "run_identifier" on GPU Machine With tune.Experiment"
On the latest nightly build, passing a `tune.Experiment` into `tune.Run` on a GPU machine results in an undefined reference to `run_identifier`.  This occurs because `run_identifier` is defined conditionally [here](https://github.com/ray-project/ray/blob/91acecc9f9eb8d1a7e9fe651bd50e3b2d68ecee2/python/ray/tune/tune.py#L214). The `run_identifier` reference occurs on [this line](https://github.com/r

[2019-10-22 07:45] #5966 closed

[2019-10-22 09:00] #5970 closed

[2019-10-22 09:37] RA-DL opened #5973 "number of workers and RAM increase when running remote and get in infinite loop"
HI, I have a problem using ray, i used shared gpu memory to store object model detection (to share deep learning model with all process) , i use infinite loop to read image video and detect object and nested remote function ,i use singleton but i notice that ray init the object many time  , i notice that RAM was growing until it crash , i ask if there is a way to control number of worker or finish

[2019-10-22 11:32] kapsl opened #5974 "SAC performance on mujoco"
Hi,
I find it difficult to figure out working parameters for SAC. Is there just some standard examples like e.g. in the original softlearning environment?

[2019-10-22 11:56] gabiguetta commented on #4965
Or add another different metric for the clipped value?
Both approaches sounds fine to me.

[2019-10-22 17:20] richardliaw commented on #4965
@gabiguetta are you interested in pushing a patch?

[2019-10-22 18:07] #5927 closed

[2019-10-22 18:46] shreyagu commented on #5811
@robertnishihara  @ericl @richardliaw can someone please help?

[2019-10-22 20:26] simon-mo commented on #5959
Ray is not compiled to ARM processor right now. We only have pre-built x86 binaries. However, you can try [build from source](https://ray.readthedocs.io/en/latest/installation.html#building-ray-from-source) on raspberrry pi.

[2019-10-22 20:32] RuofanKong opened #5977 "Ray RunOutOfMemoryError is consistently raised for Apex-DQN"
### System information
- **OS Platform and Distribution:** `Ubuntu 16.04 Docker container with 11GB RAM and 9 CPU Cores without GPUs, the docker container is running on the Mac.`
- **Ray installed from (source or binary)**: `pip install`
- **Ray version**: `pip install ray==0.7.5`
- **Tensorflow version**: `1.14.0`
- **Python version**: `python 3.6.8`
- **Exact command to reproduce**: `python3 tes

[2019-10-22 23:02] ericl commented on #5977
I don't think 11GB is enough memory to assert there is a leak, it could just be not enough for the replay buffer size or other overheads. To be sure, I tried running the above with a buffer_size of 50000, going up to 32 workers, and using a node with 500GB of memory. The memory usage goes up but plateaus after several million timesteps.

What if you used a bigger node, say 200GB?

[2019-10-22 23:04] RuofanKong commented on #5977
@ericl thanks for looking it! Do you mean it's safe only when the node RAM bigger than 200GB?

[2019-10-22 23:06] ericl commented on #5977
No, I'm just saying your reproduction is not pointing to a real issue. It's expected that memory will grow during the beginning of training, so crashing after a bit of time does not indicate a leak, just normal operation.

[2019-10-22 23:09] RuofanKong commented on #5977
@ericl What we're doing now is to lower down both redis and plasma store memory so it evicts the data sooner. Otherwise, the shared memory maybe used by other non-ray processes, which prevents the ray data hits the shared memory limit to evict data and causes the problem. Do you think it's a workaround?

[2019-10-22 23:24] RuofanKong commented on #5977
@ericl Also, even we use the node withe much more memory, the memory usage is still going up forever, and it would still hit the memory issue some point during the training time (if we leave training max iterations very large).

[2019-10-22 23:54] 1Reinier commented on #4183
So what ended up being the fix for this?

[2019-10-23 03:04] ericl commented on #5977
Good news, I think I found the leak. It is since we are creating a new tf.group() op in Python on each update target, and TensorFlow never garbage collects these operations.

For reference, I was able to identify the issue by running `py-spy dump` on the APEX trainer process. It showed some stack traces running `_extend_graph` in TensorFlow which should never be happening after the initial policy

[2019-10-23 06:47] ericl opened #5981 "Odd core worker errors in ObjectId.__dealloc__"
When running `rllib train --run=A3C --env=CartPole-v0 --eager --trace --config='{"log_level": "ERROR"}' --stop='{"training_iteration": 0}' --num-samples=5` on master you sometimes get:

[code]

cc @edoakes

[2019-10-23 06:47] ericl commented on #5981
Followed by
[code]

cc @richardliaw

[2019-10-23 07:28] #5977 closed

[2019-10-23 12:53] brendanxwhitaker opened #5982 "Time to initialize a policy grows linearly with the number of agents"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Ray installed from (source or binary)**: Binary
- **Ray version**: 0.7.4
- **Python version**: 3.7.4
- **Exact command to reproduce**: N/A

### Describe the problem

I noticed that in multi agent settings, the time to initialize a policy per agent increases as more agents are initialized. I

[2019-10-23 13:15] mtcrawshaw commented on #5982
I am a collaborator on the project with @brendanxwhitaker, and I wanted to add another peculiar thing about the initialization code in DynamicTFPolicy. As pointed out above, line 291 of `rllib/policy/dynamic_tf_policy.py` is
[code]
However, line 350 of the same initialization method in the same file is the exact same line, so that initialization runs twice. This is briefly touched on in a comment

[2019-10-23 13:39] dmadeka opened #5983 "Restoring a non-eager agent in eager mode throws an error"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.8.0dev6
- **Python version**: 3.6
- **Exact command to reproduce**:

Calling `agent._restore` on a saved checkpoint (which was trained without eager) with an `eager==True` config raises the error:

[code]

[2019-10-23 19:53] mawright opened #5984 "Ray doesn't build on Ubuntu 19.10 due to GRPC"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 19.10
- **Ray installed from (source or binary)**: Source
- **Ray version**: `34fbc7f`
- **Python version**: Anaconda 3.7
- **Exact command to reproduce**: pip install -e . --verbose

### Describe the problem

### Source code / logs
[code]

[2019-10-23 20:04] dHannasch commented on #5958
Thank you!

You told me something I didn't know --- that ray.wait() can wait specifically for any of several inputs to be ready. When reading the Walkthrough, I saw "Return a list of IDs that are ready and a list of IDs that are not." and skipped past it thinking it would return immediately with whatever was done. But this looks very useful.
https://ray.readthedocs.io/en/latest/walkthrough.html#fe

[2019-10-23 20:07] eugenevinitsky opened #5985 "RLlib Tensorboard errors in Ray 0.7.5 with TF-gpu 2.0.0"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6.6
- **Exact command to reproduce**: N/A

### Describe the problem
Running on an ubuntu machine with tf 2.0.0 I get the following error.

### Source code / logs

2019-10-23 20:04:18,978 ERROR trial_r

[2019-10-23 20:08] damianj opened #5986 "ray.remote actor function can erroneously return previously cached objects on subsequent calls when using multiple processes"
**System information**
- **OS Platform and Distribution**:  Arch Linux (5.3.7)
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.6
- **Python version**:  3.7.4
- **Exact command to reproduce**: Call ray.remote() function to retrieve prediction scores of a tensorflow model on a given input

### Describe the problem
I am trying to serve a pre-trained model using Ray and Sani

[2019-10-23 21:25] pcmoritz commented on #5984
@mawright Thanks for the report! It is failing to compile grpc, can you try to replace this line here:
[code]
and the line two below to the latest release commit `https://github.com/grpc/grpc/archive/2de2e8dd8921e1f7d043e01faf7fe8a291fbb072.tar.gz` and see if it is fixed in the latest grpc release/

[2019-10-23 21:44] mawright commented on #5984
Hi Phillip, I was digging around and it looks like you were right about it being a bug in grpc. It looks like that bug was fixed in this commit: https://github.com/grpc/grpc/commit/57586a1ca7f17b1916aed3dea4ff8de872dbf853

Unfortunately when I updated the link to the grpc artifact like you said,
[code]
 I got a new error:

[code]

[2019-10-23 22:13] SsnL opened #5990 "[FR] low-level API for controlling job placement"
### Describe the problem
Currently job and actor placements are automatically determined, which is great for a high-level easy-to-use abstract API. However, in many cases we want certain tasks to only run a subset of nodes, due to different machine configurations (e.g., IO access, missing libraries, CPU/GPU type). The two hacky solutions I can see working currently are:
1. custom resources.
2. kee

[2019-10-23 23:49] simon-mo commented on #5990
Custom resource are designed to do this. See @atumanov's blog here https://rise.cs.berkeley.edu/blog/ray-scheduling/

[2019-10-24 00:09] eugenevinitsky opened #5994 "[Tune] Installing gputil can cause an error if nvidia-smi is not installed"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.5
- **Python version**: 3.6.6
- **Exact command to reproduce**: Running any experiment with gputil installed

### Describe the problem
If gputil is installed, tune attempts to perform gpu monitoring by default, even if no GPUs

[2019-10-24 04:23] SsnL commented on #5990
This still seems quite inflexible. What if I want start multiple pairs of actors, where the actors of each pair only need to collocate, and I do not care which node they do? AFAICT, there is no way to achieve this without race risk or retrying, because of the lack of ways to "transfer" resources to an actor.

[2019-10-24 04:57] istoica commented on #5990
@SsnL You can actually use custom resources to implement the above example as well. Say you want 1 GPU for each actor of the pair:
1) For each pair, create a shadow actor that allocates resources needed by both actors in the pair, i.e., 2GPUs. This shadow actor does not use any of the GPU resources. In addition, the shadow actor creates a unique custom resource X with capacity 2.
2) Launch each ac

[2019-10-24 05:12] SsnL commented on #5990
@istoica Wait, I thought the actor takes resources throughout its lifetime, which means that
1. if I launch the pair inside the shadow actor, the pair cannot "take away" X from the shadow actor
2. if the shadow actor/remote_fn returns the node ID, and I have another custom node-specific resource, and launch the pair from the node ID gotten from the shadow actor, I can end up in the race condition

[2019-10-24 05:24] SsnL commented on #5990
@istoica I think the key is in this sentence of yours

I was not aware of ways to create custom resource on the fly programmatically. The only way I know is to specify those for each node when launching the cluster. It would be great if I am wrong!

[2019-10-24 05:51] simon-mo commented on #5990
Ray has support for:
1. Creating dynamic resource on the fly:
- [ray.experimental.set_resource](https://github.com/ray-project/ray/blob/master/python/ray/experimental/dynamic_resources.py)
- [Usage](https://github.com/ray-project/ray/blob/master/python/ray/tests/test_dynres.py)

2. Overriding actor's resource requirement with dynamic resource [parameter](https://ray.readthedocs.io/en/latest/advanc

[2019-10-24 05:54] SsnL commented on #5990
@simon-mo Thanks! Didn't know about (1). I think a bunch of experimental APIs are great (named_actors is another one). If only they could be documented in the doc website....

[2019-10-24 06:39] ericl opened #5995 "Switch to absl::Mutex / absl::MutexLock instead of std::mutex / std::lock_guard"
We should switch to using absl's locks so that we can leverage the thread annotations (e.g., GUARDED_BY). Apparently these work on bazel clang build (works on mac at least, and presumably on linux if you install clang).

Some parts of the raylet are already using absl::Mutex.

cc @zhijunfu @edoakes

[2019-10-24 07:30] RedTachyon commented on #5985
It seems to be the same error as in #5934 so should probably work with ray 0.8.0 (assuming everything else works)

[2019-10-24 07:31] ericl commented on #5974
@hartikainen

[2019-10-24 09:40] kapsl commented on #5974
I also have the problem, that my environment trains well on the softlearning repo, it works with ppo in ray, but not with sac at ray?!

[2019-10-24 12:58] kapsl commented on #5974
Hi @hartikainen,
my values in ray are:
`config={
"horizon": 201,
"num_workers": 5,
}`

elseway I go with the standard settings. (The same in softlearning, i have not altered the standard settings).

Could one reason be action normalization? Actually in softlearning I use the NormalizeActionWrapper. I never really understood this way of normalization. But when i use normal min max scaling, sac's pe

[2019-10-24 16:19] mawright commented on #5922
Sure, I will see when I get a chance

[2019-10-24 18:13] ericl opened #5996 "Tune doesn't show timesteps anymore"
This makes it not very useful for monitoring RL runs:
[code]

cc @richardliaw

[2019-10-24 18:14] ericl commented on #5996
Can we also drop "ID"? It seems redundant given that it is encoded in the trial name already.

[2019-10-24 18:19] pcmoritz commented on #5984
Thanks for trying it out! This seems to be a new issue that is fixed in https://github.com/grpc/grpc/pull/20586, however with that PR I get another error:
[code]

Is it possible for you to use ubuntu 18 in the meantime while this gets fixed?

[2019-10-24 18:38] richardliaw commented on #5996
@ujvl can you take a look at this?

[2019-10-24 18:46] ericl commented on #5974
The ray port does normalization internally in `unsquash_actions`. I tried commenting out `unsquash_actions` and using NormalizeActionsWrapper around the env as follows, but get pretty much the same performance. So it probably is something else:

[code]

![image](https://user-images.githubusercontent.com/14922/67515571-c0ddf180-f653-11e9-9c9f-e6404a0479a9.png)

FYI @michaelzhiluo if you were also l

[2019-10-24 18:53] gallmerci commented on #5984
Did you call grpc_extra_deps() introduced in https://github.com/grpc/grpc/pull/20586 from somewhere here?
It seems that apple_rules_dependencies() is not called which sets up the build_bazel_rules_swift repo.

[2019-10-24 19:05] ujvl commented on #5996
will take a look today

[2019-10-24 20:13] #5114 closed

[2019-10-24 20:13] #1530 closed

[2019-10-24 20:13] #3190 closed

[2019-10-24 20:13] #3516 closed

[2019-10-24 20:13] #3529 closed

[2019-10-24 20:13] #4307 closed

[2019-10-24 20:13] #4526 closed

[2019-10-24 20:13] #4668 closed

[2019-10-24 20:13] #4886 closed

[2019-10-24 20:13] #4916 closed

[2019-10-24 20:14] #5001 closed

[2019-10-24 20:14] #5248 closed

[2019-10-24 21:02] SsnL commented on #5990
So, IIUC, the process is to
[code]

Question: Do I have to keep `creator` reference alive in main node so that `actual_resource` is taken, or is it automatically kept alive by `a1` and `a2`?

I'd argue that this is still not very clean....

[2019-10-24 21:07] mawright commented on #5984
I am only doing development on Python stuff so I think I will be able to work around it by installing from the wheel and symlinking stuff.

[2019-10-24 21:53] ericl commented on #5983
@dmadeka can you try out https://github.com/ray-project/ray/pull/6001 ? I think that should fix it. You might have to generate a new checkpoint though, since this is changing the non-eager mode to be similar to eager.

[2019-10-24 21:58] ericl commented on #5982
Thanks for looking into this... agree we should try to fix the redundant initialization. One possible solution may be to initialize uninitialized variables. It looks like TF doesn't have a way to do this out of the box, but there are some workarounds:

https://stackoverflow.com/questions/35164529/in-tensorflow-is-there-any-way-to-just-initialize-uninitialised-variables

Maybe one of these would wo

[2019-10-24 23:21] pcmoritz commented on #5984
@gallmerci Thanks for your help! I tried what you suggested (in https://github.com/ray-project/ray/pull/6002) and now I get the following error:

[code]

So it looks like `grpc_extra_deps` still doesn't contain everything needed.

[2019-10-24 23:48] #5981 closed

[2019-10-24 23:51] gallmerci commented on #5984
@pcmoritz you need to execute grpc_deps() before you load grpc_extra_deps.bzl because the repos are defined after calling grpc_deps()
[code]

[2019-10-25 00:12] DylanDKnight opened #6007 "Ray failing to execute, needs {} resources to execute, plenty of resources available."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.3 LTS
- **Ray installed from (source or binary)**: Source
- **Ray version**: 0.7.5
- **Python version**: 3.7.3
- **Exact command to reproduce**:

### Describe the problem
When using Ray, after a period of time, the system states it cannot schedule a worker, and that it requires {} for execution.

I a

[2019-10-25 01:56] zhijunfu commented on #5995
@ericl Sounds like a good idea! Thread safety analysis provided by this lib should help to avoid unintended bugs.

[2019-10-25 02:27] richardliaw commented on #6007
Hey @DylanDKnight - just to check, this is installed from master source? does it fail on the latest pip release?

[2019-10-25 03:08] pcmoritz commented on #5984
@gallmerci That indeed fixes the problem, thank you so much for your help. I updated the PR.

[2019-10-25 08:20] damianj commented on #5986
Any idea as to what I'm doing wrong, or am I mis-using Ray?

[2019-10-25 11:45] kapsl commented on #5974
Also when I use your configuration. There is the problem that the actions step by step are very close. E.g. if I have action bounds [0, 1]. I get e.g. for action 0 0.4342435 and for action 1 0.435234. The actions only deviate in the third place after the comma, normally.

[2019-10-25 12:11] brendanxwhitaker commented on #5982
Okay, so just to be clear, when you say redundant, are you referring to calling `tf.global_variables_initializer` and initializing everything on each of those calls, or are you referring to there being two of those calls for every call to the init function?

[2019-10-25 14:03] compete369 opened #6011 "Ray Java could not build"
I got to build Ray Java  through Docker with the ENV  RAY_BUILD_JAVA=1     , however the exception appeared like this:
- /root/.cache/bazel/_bazel_root/5fe90af4e7d1ed9fcf52f59e39e126f5/external/rules_jvm_external/defs.bzl:59:5
     - /root/.cache/bazel/_bazel_root/5fe90af4e7d1ed9fcf52f59e39e126f5/external/com_github_ray_project_ray/java/dependencies.bzl:4:5
     - /ray/bazel/ray_deps_build_all.bzl

[2019-10-25 14:12] compete369 opened #6012 "Ray serve could not work as desired"
The first simple echo.py,  but I got the following error:

{
    "error": "Path /echo not found. Please ping http://.../ for routing table"
}

...Sleeping for 2 seconds...
(pid=11809) INFO: ('127.0.0.1', 34444) - "GET /echo HTTP/1.1" 404
{
    "error": "internal error, please use python API to debug"
}

[2019-10-25 14:59] arunavo4 opened #6013 "Problems with config in DQNTrainer [TypeError: __init__() got an unexpected keyword argument 'num_atoms']"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04 LTS
- **Ray installed from (source or binary)**: binary
- **Ray version**: '0.8.0.dev6'
- **Python version**: 3.6.8
- **Exact command to reproduce**: `Code Provided Below`

### Source code

[code]
`

### Describe the problem

When running the above code causes `TypeError: __init__() got an unex

[2019-10-25 18:00] ericl commented on #5982
The former (which includes the latter, though double init is less of an
issue).

On Fri, Oct 25, 2019, 5:11 AM Brendan Whitaker <notifications@github.com>
wrote:

[2019-10-25 19:24] ericl commented on #5974
I see actions that are spread out:

When running tuned pendulum with --eager and this patch:
[code]

I see actions like this:
[code]

Which covers a decent range of the action space [-2, 2]?

[2019-10-25 21:03] richardliaw commented on #6012
cc @simon-mo

[2019-10-25 21:08] simon-mo opened #6016 "Async API hangs forever after #5864"
With #5864, the async_api stops working.

Test session log, the warning message seems weird.
[code]

cc @pcmoritz , @suquark

[2019-10-25 23:42] ericl commented on #6013
I believe the issue is that your class that extends DistributionalQModel has to have the same __init__ arguments as DistributionalQModel (i.e., including missing num_atoms).

[2019-10-26 03:18] pengzhenghao opened #6021 "Strange value of object_store_memory at ray.available_resources()"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: mac and linux
- **Ray installed from (source or binary)**: pip install -U ray
- **Ray version**: 0.7.6
- **Python version**: 3.6
- **Exact command to reproduce**:

### Describe the problem

I found that the value return at `ray.available_resources()` is confusing. It does not meant the GB or MB of the size of the

[2019-10-26 03:27] ericl commented on #6021
Yes sadly due to legacy reasons, the units are represented as number of ~50MB chunks internally. This should be fixed in the future.

[2019-10-26 06:50] arunavo4 commented on #6013
@ericl I want to use the vision network with dqn or apex /Impala but in all the cases it seems like i need to subclass the Distributional QModel. So how do i go about doing it ?

[2019-10-26 07:18] ericl commented on #6013
See the MyKerasQModel example here:
https://github.com/ray-project/ray/blob/master/rllib/examples/custom_keras_model.py

On Fri, Oct 25, 2019, 11:50 PM ARUNAVO RAY <notifications@github.com> wrote:

[2019-10-26 08:02] richardliaw opened #6025 "Seg Fault on cluster shutdown"
reproduce easily with
`pytest ray/python/ray/tune/tests/test_cluster.py -k test_cluster_down_simple`

[code]

Here is the core-dump:

[code]

[2019-10-26 08:11] richardliaw commented on #6025
Looks something like:
[code]

Fails on the last line. If a `sleep(2)` is added right before, it does not fail.

@edoakes

[2019-10-26 12:35] mtcrawshaw commented on #5982
Looking through the stack overflow page, none of those answers are super clean but one of them is not as slow, with only one sess.run to find which variables are uninitialized. We are going to try a workaround and see how the performance is. Also, I am curious about what Brendan asked about regarding the initialization time growing. Do you know if this is something we should expect from initializa

[2019-10-26 22:47] eugenevinitsky commented on #5985
Yeah, this is resolved in 0.7.6. Thanks!

[2019-10-26 22:47] #5985 closed

[2019-10-27 01:59] mrdrms opened #6027 "WebUI shows zero percent for the workers."
Hi,

When I run the ray framework locally, it always shows zero percent for the Workers field. Is this an issue, or am I missing something?

Thanks

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS
- **Ray installed from (source or binary)**: Binary
- **Ray version**: 0.7.3
- **Python version**: 3.7.4

[2019-10-27 04:49] mattdornfeld commented on #3988
Hey just came across this issue. At the very least Ray should be able tolerate differing patch versions of Python between nodes. I'm running into a bit of a dependency headache caused by setting up gpu type nodes and cpu type nodes in Docker. The two types start of with different base Docker images and it's a bit difficult to get them both to have the same Python patch versions.

[2019-10-27 12:52] gohsyi opened #6029 "time_this_iter_s >> sample_time_ms + grad_time_ms + update_time_ms"
# Describe the problem

In my experiment, `time_this_iter_s` is much larger than `sample_time_ms + grad_time_ms + update_time_ms`.

I wonder how these time intervals are computed, what are the exact meanings of them, and on what the remaining time `time_this_iter_s - sample_time_ms - grad_time_ms - update_time_ms` spends.

[2019-10-27 17:48] robertnishihara commented on #5965
@SsnL can you give a short code snippet with an example of how you would use that?

[2019-10-27 21:30] ericl opened #6030 "[rllib] Add examples for attention network models"
For example, the Numpad / memory maze experiments in https://arxiv.org/pdf/1910.06764.pdf

cc @gehring

[2019-10-27 21:32] ericl commented on #5982
@mtcrawshaw I don't think it should be slowing down over time once the redundant inits are removed, if so that might be a bug in TensorFlow.

[2019-10-27 21:52] ericl opened #6031 "[core worker] Python runtime should return RayObject* for returns instead of putting directly"
As a followup for https://github.com/ray-project/ray/pull/5991, we should avoid doing puts for task returns from the Python runtime directly. We should instead return RayObject* back to the core worker runtime, as is done for direct actor calls.

This has to be done for several types of objects handled in Python code right now: pyarrow, pickle5, raw bytes.

cc @zhijunfu @edoakes

[2019-10-27 22:01] edoakes commented on #6031
Agreed, that would be great. What we need to do to keep the same low-cost serialization is (1) add a `WriteTo(buffer)` method to the `RayObject` interface and then implement it in cython by pulling in the `SerializedPyObject` from pyarrow and whatever the equivalent is in pickle5.

[2019-10-28 00:06] jin commented on #6011
rules_jvm_external 1.2 was broken by some upstream changes, https://github.com/ray-project/ray/pull/6033 fixes this.

[2019-10-28 02:06] damianj commented on #5986
I can reproduce this with a minimal example

[code]

After starting the application, simply go to http://127.0.0.1:5000/ to trigger the remote method then wait about 30 seconds and reload the page to trigger it again (note that you might need to keep re-loading the page every 30 seconds-ish until the error occurs). It shouldn't take long to observe the behavior I described in my first post.

[2019-10-28 02:09] damianj commented on #5986
Didn't mean to close the issue, I was trying to comment so here goes again..

I have some code that can reproduce the issue:

[code]

To reproduce the behavior I have described you just need to go to `http://127.0.0.1:5000/` to trigger the remote method. Then wait about 30 seconds-ish and reload the page to trigger the method again. Do the whole waiting and reloading until the error occurs, should

[2019-10-28 08:34] sytelus commented on #631
Looking forward to this. As first step, let's just make minimal thing work so pip install works. Distributed and other things can wait. If we can just test things on single CPU and GPU on WIndows, that's a progress.

[2019-10-28 16:10] edoakes commented on #6025
This should be fixed by #6014. Will merge that in the next day or two.

[2019-10-28 17:15] #5963 closed

[2019-10-28 18:42] simon-mo opened #6035 "python/ray/tune/tests/test_commands.py::test_ls FAILED on travis"
MacOS build, Python 3

See https://travis-ci.com/ray-project/ray/jobs/250247169#L381

[code]

@richardliaw

[2019-10-29 02:27] gaocegege commented on #4414
If you are interested in running hyperparameter tuning experiments on Kubernetes, you could have a look at https://github.com/kubeflow/katib/, which is a Kubernetes Native system for AutoML workloads.

But we do not provide the Python API as ray tune does. Katib needs a YAML config to define the search space and trial code. Please have a look at our examples https://github.com/kubeflow/katib/blob/

[2019-10-29 04:16] damianj opened #6039 "Does Ray (Python) support being used in conjunction with multiple processes?"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux (5.3.7)
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.6
- **Python version**: 3.7.4
- **Exact command to reproduce**: N/A (info below)

### Describe the problem
This is with respect to #5986, I figured this is what I should try and figure out before I proceed with trying to

[2019-10-29 12:57] mtcrawshaw commented on #5982
So we have implemented a couple of the workarounds from the stack overflow page that you mentioned, and we noticed some weird behavior from RLlib that we wanted to ask you about. In policy/dynamic_tf_policy.py, we replaced

[code]

with a call to ``initialize_uninitialized(self._sess)``, where ``initialize_uninitialized`` defined by

[code]

However, we still were getting an increase in the initia

[2019-10-29 17:01] alexabstreiter commented on #5726
hey @richardliaw, I have tried it out as explained in the docs. Unfortunately, the functionality of stopping the entire Experiment once any trial reaches the stopping criterion does not work.

Since the trials are executed in different processes and the stopping criterion is evaluated in each trial, the `self.should_stop` variable of the `Stopper` class, has a different memory address after assign

[2019-10-29 17:43] ericl commented on #5982
That's really weird, perhaps try printing out the current TF graph id?
Maybe there are new graphs being created each time. I can't think of any
code that would be uninitializing variables otherwise.

On Tue, Oct 29, 2019, 5:57 AM Michael Crawshaw <notifications@github.com>
wrote:

[2019-10-29 22:18] richardliaw commented on #5726
Can you post your error?

The trial objects should not be in different processes.

On Tue, Oct 29, 2019 at 10:02 AM Alexander Abstreiter <
notifications@github.com> wrote:

[2019-10-30 08:20] guyue5 commented on #1913
How to solve this problem, i got the same problem
~/anaconda3/envs/TensorFlow-1.8/lib/python3.6/site-packages/ray/tune/trial.py in _registration_check(cls, trainable_name)
    338             from ray import rllib  # noqa: F401
    339             if not has_trainable(trainable_name):
--> 340                 raise TuneError("Unknown trainable: " + trainable_name)
    341
    342     @classmethod

[2019-10-30 08:35] guyue5 commented on #5636
I also got the problem, have you solved?

[2019-10-30 08:54] veredhalperin commented on #5636
No

בתאריך יום ד׳, 30 באוק׳ 2019, 15:35, מאת guyue5 ‏<notifications@github.com>:

[2019-10-30 09:09] graciofilipe opened #6046 "Importing a saved model after tunning"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Mojave 10.14.6
- **Ray installed from (source or binary)**: pip install ray[rllib]
- **Ray version**: ray==0.7.6
- **Python version**: Python 3.7.4
- **Exact command to reproduce**:
[code]

And the Trace (excluding the training logs):

[code]

[2019-10-30 09:38] lunasdejavu opened #6047 "Perhaps you called ray.init twice by accident? This error can be suppressed by passing in 'ignore_reinit_error=True'"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **Ray installed from (source or binary)**: pip
- **Ray version**:0.7.5
- **Python version**:3.6.9
- **Exact command to reproduce**:

### Describe the problem

I am modifying a project which makes the fake license plate and the jsonfiles contains the coordinates of every characters.  the main archite

[2019-10-30 09:58] kapsl commented on #5974
I'm currently trying different stuff - seems like during training the values are different - but for the evaluation trials they are very similiar. It's clear, that there is no exploration noise, but so similiar?!

I'm currently also testing with a different nr. of workers, my first impression is, that it works (also when much slower then softlearning) with one worker, but has a bad performance wit

[2019-10-30 11:06] graciofilipe commented on #6046
I'll add the pip freeze of the python venv:

`
absl-py==0.8.1
appnope==0.1.0
astor==0.8.0
atari-py==0.2.6
atomicwrites==1.3.0
attrs==19.3.0
backcall==0.1.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorama==0.4.1
decorator==4.4.1
filelock==3.0.12
funcsigs==1.0.2
future==0.18.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.24.3
gym==0.15.3
h5py==2.10.0
idna==2.8
importlib-metadat

[2019-10-30 13:09] alexabstreiter commented on #5726
I am running a basic PBT on MNIST. I logged `self.should_stop` at every call of `stop` in the `Stopper` class and after the stopping criterion was fulfilled.

The first trial `85bb094a` fulfills the criterion after the first iteration, `self.should_stop` is set to `True`, and its memory address changes.
After that, the other two trials `85bb8e2e` and `85ba6ae4` read `self.should_stop` at its old m

[2019-10-30 13:18] ruojol opened #6048 "Wierd import error after update"
### System information
- **Ubuntu 18.04**:
- **Ray installed from pip**:
- **0.76**:
- **3.5**:
- **import ray**:
[code]

[2019-10-30 13:36] RedTachyon commented on #5278
Any news on this? I'm noticing similar problems, wondering if it'd be worth it to just write a PPO from scratch in case it's something wrong with this one.

[2019-10-30 16:11] kapsl commented on #5974
Ok the performance seems to be the same with 6, but is actually even slowing down the hole process compared to 1 worker. The learning curve seems pretty much the same like with one, but streteched - and even slower!!!

[2019-10-30 17:26] eugenevinitsky opened #6049 "Memory increase when use_lstm=True"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac 10.14.5, Ubuntu 16.04
- **Ray installed from (source or binary)**: Binary
- **Ray version**: 0.7.4, 0.7.6
- **Python version**: 3.6
- **Exact command to reproduce**: ` pip install -U memory_profiler; mprof run memory_err_example.py`

### Describe the problem
The memory usage of our programs goes up and up unt

[2019-10-30 17:29] eugenevinitsky commented on #6049
Confirmed that this occurs in the latest wheels as well (as of last night).

[2019-10-30 18:19] richardliaw commented on #6048
cc @suquark @pcmoritz

[2019-10-30 18:20] richardliaw commented on #5636
Can you try `from ray import rllib` before `run_experiments`?

[2019-10-30 20:33] josjo80 commented on #5278
My issue turned out to be enabling CuDNN at the driver level.  I've been using the PPO algorithm both on StarCraft and other environments.  It seems to work just fine.  Some tips: pay attention to what @ericl mentioned regarding the vf_coeff.  The vf_loss could be much larger than the policy loss (depending on the game), so use the vf_coeff to scale it down inline with the policy loss.  Pay attent

[2019-10-30 22:01] richardliaw commented on #4401
It does not perform better, though we can add it to master. I'll reopen this issue in case anyone is interested.

[2019-10-30 22:05] waldroje commented on #6030
that would be awesome if you guys tackled this... would love to see such an example....

[2019-10-30 22:25] gehring commented on #6030
@waldroje This is a priority for us so, barring anything major, it will get done! I can't give you a concrete estimate for when this will be completed but it should be relatively soon, hopefully within a month or so.

[2019-10-31 15:01] llan-ml opened #6056 "Doubt about combining AsyncHyperBand with HyperOpt"
`HyperOptSearch` only passes the results to `hyperopt` when a trial is completed: https://github.com/ray-project/ray/blob/16e9dfd2e197995f853e4f3a504edbe703e43093/python/ray/tune/suggest/hyperopt.py#L183-L193

However, when we use `AsyncHyperBand` to schedule trials, a lot of trials are early terminated and their results are useless for `hyperopt`.

Do you have any practical advice to alleviate th

[2019-10-31 17:26] arunavo4 commented on #6013
Thanks @ericl , I just changed the __init__ and everything works

[2019-10-31 17:26] #6013 closed

[2019-10-31 18:08] zachary62 opened #6057 "Can I set priority for my tasks"
According to https://github.com/ray-project/ray/issues/642

"Ray uses a distributed bottom-up scheduling scheme in which workers submit tasks to local schedulers, and local schedulers assign tasks to workers. Local schedulers can also forward tasks to global schedulers which can load balance between machines. Dask uses a centralized scheduler, which manages all tasks for the cluster. The point of

[2019-10-31 18:57] ericl opened #6058 "Productionize direct actor calls and enable by default"
This issue tracks the work we need to do to enable direct actor calls by default.

- [x] Add direct actor call flag in Python https://github.com/ray-project/ray/pull/5991
- [x] Support all serialization types https://github.com/ray-project/ray/pull/6052
- [x] Allow pass by ref args for direct actor calls https://github.com/ray-project/ray/pull/6040
- [x] Enable concurrent calls https://github.com/

[2019-10-31 19:09] zplizzi opened #6059 "[rllib] Atari broken in 0.7.5+ since RLlib chooses wrong neural net model by default"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Ray installed from (source or binary)**: binary
- **Ray version**: 0.7.6
- **Python version**: 3.6.8
- **Exact command to reproduce**: `python3 train.py -f pong-appo.yaml` using the rllib train.py and the [tuned APPO pong yaml file](https://github.com/ray-project/ray/blob/master/rllib/tuned

[2019-10-31 19:35] zplizzi commented on #6059
I see the same behavior with the PPO algorithm, here's the log output at ~5M steps using [this](https://github.com/ray-project/ray/blob/master/rllib/tuned_examples/pong-ppo.yaml) tuned config file:

[code]

[2019-10-31 21:14] zplizzi commented on #6059
Hmm, I tried a couple more of the tuned configs and can't get them to train, either.

`atari-ppo.yaml` (edited to play PongNoFrameskip-v4):

[code]

`atari-apex.yaml` (only Qbert):
[code]

Here's the Dockerfile I'm using to run these experiments (in an AWS Kubernetes cluster with p3.2xlarge and c5n.9xlarge instances): https://gist.github.com/zplizzi/17e49ffabff848d16973e83277dac425

[2019-10-31 22:16] #5983 closed

[2019-10-31 23:41] ericl commented on #6059
I can reproduce this. Trying to figure out when this first broke.

[2019-10-31 23:48] ericl commented on #6059
It seems it works in Ray 0.7.4.

[code]

But not 0.7.5+ (<= 2 reward for Breakout no matter how long).

[2019-11-01 00:23] zplizzi commented on #6059
Cool, 0.7.4 seems to work for me also.

[2019-11-01 00:24] richardliaw commented on #6056
#5651

[2019-11-01 00:24] richardliaw commented on #6056
We just need to merge the PR; can you try it out actually?

[2019-11-01 02:49] llan-ml commented on #6056
@richardliaw Thanks for your response. I'll try it soon.

For the current master, I ran an experiment yesterday. I set `max_t` to `25000` and `num_samples` to `10000`. The milestones are `Bracket: Iter 24948.000: None | Iter 8316.000: None | Iter 2772.000: None | Iter 924.000: None | Iter 308.000: None`. After finished, there are only 107 trials reaching the "24948" and 137 trials reaching the "83

[2019-11-01 03:02] llan-ml commented on #6056
In my opinion, simply sending the results of early terminated trials without something like warm-up may mislead `hpo`, since some good trials could be early terminated and `hpo` will be told that those configuration are bad.
cc @adizim

[2019-11-01 10:55] ajayaraman opened #6063 "[docs] Issue on `tune-schedulers.rst`"
# Documentation Problem/Question/Comment

Need info on how Trial Schedulers can perform early stopping if the Trainable _train method doesn't naturally provide ways to stop a trial. Is the process simply terminated? If so, then how will the TrialScheduler be able to obtain the latest metric

(Created directly from the docs)

[2019-11-01 12:09] samarth-b opened #6064 "[tune] Unable to get mnist_pytorch.py example working on multigpu"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux
- **Ray installed from (source or binary)**:  binary
- **Ray version**: 0.7.6
- **Python version**: 3.5.2
- **Exact command to reproduce**: python mnist_pytorch.py --cuda 1

I am trying to run the mnist_pytorch.py example in multi-gpu setting, where CUDA_VISIBLE_DEVICES=0,1,2,3. Through the documentation sa