[2022-10-13 05:46] rkooo567 commented on #17374
Example API that other systems support worker loggers https://www.distributedpython.com/2018/11/06/celery-task-logger-format/

[2022-10-13 05:47] rkooo567 commented on #15778
It's not fixed

[2022-10-13 05:48] rkooo567 commented on #18491
@Hoeze we completely deprecated redis. So there's no redis password. It is probably just legacy code we haven't cleaned up.

[2022-10-13 05:49] rkooo567 commented on #18491
Also I don't see redis password flag from the dashboard.py https://github.com/ray-project/ray/blob/master/dashboard/dashboard.py

[2022-10-13 05:50] rkooo567 commented on #12726
we don't have this code anymore

[2022-10-13 05:50] #12726 closed

[2022-10-13 05:58] rajexp opened #29309 "InvalidLocationConstraint Message: The specified location-constraint is not valid for storage option"
### What happened + What you expected to happen

I intended to use workflow in my ray cluster mode application. For that I provided the following option in the ray start command `--storage s3://mybucket/mypath`  where the bucket is in `us-east-1` region. After running the ray application, I am getting following error during head setup.
[code]
It looks like pyarrow is not able to handle the `us-eas

[2022-10-13 08:51] rkooo567 commented on #22518
cc @scv119 for answers ^?

[2022-10-13 08:57] rkooo567 commented on #20991
Hmm actually I think this is an intended behavior. The file is open because we are writing cpp logs from driver core worker.

[2022-10-13 08:57] #20991 closed

[2022-10-13 09:25] rkooo567 commented on #18491
I found it is indeed the legacy code. Let me remove them quickly.

[2022-10-13 09:41] rkooo567 commented on #29246
cc @iycheng

[2022-10-13 09:42] rkooo567 commented on #29246
Btw, from ray 1.12, we removed Redis. So the password there has no meaning I think

[2022-10-13 09:46] bdzjorg commented on #29252
I have found the solution. It becomes slow because it evaluates policy every 20 iterations with a large amount of trajectories. By setting `evaluation_interval = 1000`, I can skip the evaluation and speed up the training.

[2022-10-13 09:46] #29252 closed

[2022-10-13 09:54] aslansd opened #29310 "The difference between "add_time_dimension" function from 0.8.4 version to the 2.0.0 version of Ray"
Hello all,

I have a customised neural network model which has been written in the framework of Ray 0.8.4 version and it uses "add_time_dimension" function. Now I want to use that model using Ray 2.0.0 version. I think "add_time_dimension" function now is located in "ray.rllib.models.tf.recurrent_net" instead of "ray.rllib.models.tf.recurrent_tf_modelv2". Moreover, I think the inputs that it accep

[2022-10-13 10:15] Alfredvc commented on #27493
@amogkam Excellent, good job!

[2022-10-13 12:59] mlguruz commented on #29215
I move forward further thanks to your help (really appreciate!), but got SSH errors onto *head node* now.
[code]

I read the the autoscaler code and compared my custom json w/ the default ones (i.e. `azure-vm-template` and `azure-config-template`).
It seems that `azure-vm-template` uses this `"Microsoft.Compute/virtualMachines"` block as a template for generating / scaling workers, but can I ask w

[2022-10-13 13:10] Christof23 commented on #28429
@ankur6ue you need to set `include_dashboard=True` when initialising the ray cluster, either in `ray.init(include_dashboard =true)` or `ray start --include-dashboard=true` using the cli.

[2022-10-13 13:50] joshua-cogliati-inl commented on #28071
That would be useful, but it should be noted that the replication script sets `--num-cpus` to 1 and gives it 8 ports, and blocks the all the ports with listen in a different process on one of the nodes.

Also, ray already produces this error message: `(raylet, ip=10.159.0.81) [2022-08-24 09:04:57,727 E 23321 23321] core_worker.cc:137: Failed to register worker d9bab59cebc6623b6888e5f9cba6756538880

[2022-10-13 14:30] dlasecki commented on #29256
If you need a hand on this, I might be able to jump in.

[2022-10-13 15:23] xwjiang2010 opened #29314 "[AIR] Add progress bar for training"
## User Flow
I am training a model, I want to see the current progress and how much is left of the work. If possible I would also like to see some key metrics attached to the end of the progress bar that is being updated with each round of new results. Something like:
https://devblog.pytorchlightning.ai/super-charged-progress-bars-with-rich-lightning-669653d6ab97

## Current state
AIR is showing a

[2022-10-13 15:31] xwjiang2010 commented on #29314
cc @jiaodong @rkooo567 @amogkam @richardliaw

[2022-10-13 15:55] gramhagen commented on #29215
https://github.com/ray-project/ray/blob/acd8fbaa95e5fdb8498a4522e81f9be368b70178/python/ray/autoscaler/_private/commands.py#L739 is where the head node is created, it uses the same json template as the worker nodes, but passes the head node config parameters from the yaml.
Right now the subnet mask is defined in the provider section of the yaml, but if you need separate options for the head node a

[2022-10-13 16:36] yinweisu commented on #29216
Any workaround I can have to suppress the warning for now?

[2022-10-13 16:43] architkulkarni commented on #28058
@hora-anyscale We haven't been able to reproduce it.  But based on the user's investigation in the issue, it seems like the root cause is an issue in Ray Core where `await` behaves differently from `ray.get()` in terms of how it handles exceptions.

[2022-10-13 16:47] clarng commented on #28974
I think this is expected. There are several changes to the product + oss that is causing this
- product added memory limit to the container and we have less memory per node now (64 GiB -> 57 GiB)
- the test is ingesting 100GB of data on 10 nodes. It is expected that the memory usage on each node is > 10 GiB as it needs to process and store the results to the object store in addition to using the h

[2022-10-13 16:48] architkulkarni commented on #22565
The issue persists

[2022-10-13 16:52] architkulkarni commented on #23423
We haven't been able to reproduce it but believe we understand the root cause, and https://github.com/ray-project/ray/pull/24719 should fix it.  We haven't had any reports of the issue since then, so I'll close this issue for now, but we should reopen it if we hear any other reports.

[2022-10-13 16:52] #23423 closed

[2022-10-13 16:58] hora-anyscale commented on #28058
cc: @ericl

[2022-10-13 17:18] ckw017 commented on #26144
Think we need to just merge this https://github.com/ray-project/ray/pull/27940, but was blocked on committer approval, will try reopening.

[2022-10-13 17:30] rickyyx opened #29318 "[CI][release] long_running_horovod_tune_test failed"
### What happened + What you expected to happen

[Build failure ](https://buildkite.com/ray-project/release-tests-branch/builds/1108#0183cdac-c92f-4008-a0c2-3b31129b2ac0)

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_5FSsQny6bZQwDJJBRp5PB9cR?command-history-section=command_history)

[code]

### Versions / Dependencies

releas

[2022-10-13 17:35] rickyyx opened #29319 "[release][CI] long_running_impala failed"
### What happened + What you expected to happen

[Build failure ](https://buildkite.com/ray-project/release-tests-branch/builds/1108#0183cdac-c984-4839-927e-37e476335a1c)

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_8VTuCPu3RZ1292bwn6G6NuQk?command-history-section=command_history)

Looks like OOM issue related.

[code]

###

[2022-10-13 17:37] richardliaw commented on #25837
Have we fixed this issue btw? This seems to come up very frequently.

[2022-10-13 17:41] rickyyx opened #29320 "[release][CI] rllib_multi_gpu_learning_tests failed"
### What happened + What you expected to happen

[Build failure ](https://buildkite.com/ray-project/release-tests-branch/builds/1108#0183cdac-c9ef-4ed7-9e8c-84c63db642d4)

[Cluster failure](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_A1hVuZGVctnd5xmDJx1xJ7mu?command-history-section=command_history)

[code]

### Versions / Dependencies

[2022-10-13 17:46] rickyyx opened #29321 "[release][CI] rllib_stress_tests failed"
### What happened + What you expected to happen

[Build failure ](https://buildkite.com/ray-project/release-tests-branch/builds/1108#0183cdac-c9f7-4b5c-a530-81e453d90569)

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_gxSxeL3vJw6gNAfQusV9akpM?command-history-section=command_history)

Looks different from the previous failure:

[2022-10-13 17:47] rickyyx commented on #29166
Could we cherry-pick the PR?

[2022-10-13 17:52] sihanwang41 opened #29322 "[release] ML image can't use ray serve because of the starlette version conflicts."
### What happened + What you expected to happen

latest FastAPI requires starlette version 0.20.4, but it causes https://github.com/ray-project/ray/pull/29277
[code]

### Versions / Dependencies

master & 2.1

### Reproduction script

N/A

### Issue Severity

_No response_

[2022-10-13 17:58] mattip opened #29323 "BAZEL: redis build resets all compiler-related environment variables"
This line https://github.com/ray-project/ray/blob/25c2a4dbea83c0c9b355d1271e9ea159cb612927/bazel/BUILD.redis#L45

was added in #18622, it seems the intention is to work around limitations in CI. It has the effect of resetting compilation to the platform defaults, and breaks the build on platforms like conda that use these environment variables and more to layer their own preferences on top of the

[2022-10-13 17:59] rickyyx opened #29324 "[ci][release] many_tasks failed"
### What happened + What you expected to happen

[Build failure ](https://buildkite.com/ray-project/release-tests-branch/builds/1108#0183cdac-cb1d-42b9-bffe-ec698fda9353)

[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_jHSSbXD6zgBfZFSbAH1FSkLm?command-history-section=command_history)

### Versions / Dependencies

release 2.1 branch

##

[2022-10-13 18:00] c21 commented on #29166
@rickyyx - yeah will do today.

[2022-10-13 18:10] richardliaw commented on #25837
let's not bump it to P0 (just to keep good hygiene, since it's not a real P0), but maybe just take it on the next sprint?

[2022-10-13 18:15] mattip commented on #28542
This seems to be a known problem with wandb, see the issue I linked above. There is also wandb/wandb#1991 which was closed (stale?) and has some work-arounds. I think this should be fixed by wandb, there is not much ray can do.

[2022-10-13 18:16] rickyyx commented on #29299
Let's get this cherry picked to release branch.
Reopnening to track the cherry-pick

[2022-10-13 18:18] pratkpranav commented on #29036
hey @jovany-wang , when could expect next pygloo release?

[2022-10-13 18:25] rickyyx commented on #29231
Are we cherry picking the fixed PR?

[2022-10-13 18:28] rickyyx opened #29329 "[core][observability] Improving reliability of memory_summary API call"
### What happened + What you expected to happen

There are issues when the API call is not reliable.

See https://github.com/ray-project/ray/pull/29293

### Versions / Dependencies

2.0.0

### Reproduction script

NA

### Issue Severity

_No response_

[2022-10-13 18:39] architkulkarni commented on #28513
@dmatrix do you mind answering @mattip's question?  This is regarding what we were debugging on your M1 machine

[2022-10-13 18:58] gjoliver commented on #29301
these are being fixed by https://github.com/ray-project/ray/pull/29249

[2022-10-13 19:39] scottsun94 commented on #28199
cc: @jjyao Not sure if it's related to our discussion about workers. Ray core seems to keep idle workers alive as the same # of physical cores on a node.

[2022-10-13 19:46] scottsun94 commented on #28075
cc: @wuisawesome

[2022-10-13 19:47] scottsun94 commented on #28074
cc: @rkooo567 @rickyyx

[2022-10-13 19:52] scottsun94 commented on #28047
@rgiacomin Is this still happening? Do you know which processes are taking up more and more memory?
cc: @rkooo567 @ericl @rickyyx @clarng

[2022-10-13 19:56] scottsun94 commented on #28047
This might be related to this issue: https://github.com/ray-project/ray/issues/29199
cc: @alanwguo

[2022-10-13 19:57] ericl commented on #28047
It might be related to #29199, which is under investigation. We'd need to confirm the process leaking memory to prioritize (top / htop snapshot).

[2022-10-13 20:06] #29300 closed

[2022-10-13 20:07] richardliaw commented on #27493
Another workaround is `runtime_env={"env_vars": {"PL_DISABLE_FORK": "1"}}`

[2022-10-13 20:19] scottsun94 commented on #27725
Is this fixed? @rkooo567

[2022-10-13 20:20] awaelchli commented on #27493
Nice work, great fix @krfricke @amogkam !

Btw in the mean time we have worked with PyTorch to remove this hack on the Lightning side. First we proposed some changes on the PyTorch side (https://github.com/pytorch/pytorch/issues/83973), after they landed ported the changes back to Lightning (https://github.com/Lightning-AI/lightning/pull/14631). Finally, in PyTorch >=1.14 (and some future Lightnin

[2022-10-13 20:27] rickyyx commented on #28893
Showing up on release branch: https://buildkite.com/ray-project/oss-ci-build-branch/builds/507#0183d26b-4bd8-4c99-9a49-72e0bf5bc5f0

[2022-10-13 20:30] wuisawesome commented on #28075
@JoonHong-Kim do you want to make a PR for this?

[2022-10-13 20:30] justinvyu commented on #29216
Hi @yinweisu, the warning is indeed incorrect and shouldn't affect anything. The PR above should fix remove the warning, feel free to ignore it in the meantime.

[2022-10-13 20:38] richardliaw commented on #27493
awesome @awaelchli :) thanks for all your hard work!

[2022-10-13 20:40] #29160 closed

[2022-10-13 20:43] scottsun94 commented on #26390
cc: @jjyao

[2022-10-13 20:46] rickyyx opened #29333 "[release][CI] test_multinode_sync failed"
### What happened + What you expected to happen

[Build failure ](https://buildkite.com/ray-project/oss-ci-build-branch/builds/507#0183d278-b863-4a17-8af7-74e38caab3ab)

Interestingly - this test is not captured on flaky dashboard, neither is it reported on the oss tests result? https://b534fd88.us1a.app.preset.io/superset/sqllab?savedQueryId=93

### Versions / Dependencies

release 2.1

### Repro

[2022-10-13 20:50] rickyyx opened #29334 "[CI] `linux://python/ray/train:test_torch_trainer` is failing/flaky on release 2.1."
[Build failure ](https://buildkite.com/ray-project/oss-ci-build-branch/builds/507#0183d27f-8e01-43c7-ab7a-ca3f54881338)

[2022-10-13 20:50] scottsun94 commented on #26325
@valentasgruzauskas is this issue fixed?

In Ray 2.0, we made the previous experimental dashboard the new default dashboard. Currently, we don't support the tune tab or Tensorboard in the new dashboard. We may also deprecate the existing dashboard in the near future to reduce maintenance burden.

Our assumptions are: there are already good OSS tools for experiment tracking/visualizations like Tens

[2022-10-13 20:51] stephanie-wang opened #29336 "[core] GCS segfaults under OOM"
### What happened + What you expected to happen

I was running a Datasets.map_batches operation on large files to check for OOM cases and the GCS eventually segfaulted. Unfortunately not sure how easy it is to reproduce this issue, but opening an issue just to track it. Seems like maybe a thread safety issue.

Stacktrace:
[code]

[ray_head_34.212.0.204.tar.gz](https://github.com/ray-project/ray/fi

[2022-10-13 20:59] rickyyx opened #29339 "[CI] `linux://rllib:test_apex_ddpg` is failing/flaky on master."
- 28c0553f8f6478795fd18be2421efb61ec6035cb FAILED [Buildkite :brain: RLlib: Algorithm Tests (specific algos)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/504#0183d240-5fc0-4f34-a29b-3299778f07b5)
- 75a0c491e8ee4009e8828081059cfc98543c4d51 FAILED [Buildkite :brain: RLlib: Algorithm Tests (specific algos)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/434#0183b53a-2f2

[2022-10-13 21:00] rickyyx commented on #29339
Marking it as release blocker for now since it is showing up in the release branch CI as well: https://buildkite.com/ray-project/oss-ci-build-pr/builds/2138#0183d2a7-1715-49d7-afb9-1c1bae966d09

[2022-10-13 21:04] jiaodong commented on #28974
^ PR about to increase batch size should be all we need, all other investigations and discussions completed

[2022-10-13 21:11] gjoliver commented on #29339
I looked at this test. I don't know what we can do tbh.
when it passes, it passes. when it times out, pytest just hangs at "collecting tests ..." without any error logs.

[2022-10-13 21:11] gjoliver commented on #29339
I am willing to declare this non-release blocking.

[2022-10-13 21:12] yinweisu opened #29340 "[Tune] Ray Tune Checkpoint Warning with PL Checkpoint Callbacks"
### What happened + What you expected to happen

I got the following warning when using PL Ray Tune checkpoint callback:
[code]

### Versions / Dependencies

Ray 2.0
Ubuntu

### Reproduction script

Just the official example:
https://docs.ray.io/en/latest/tune/examples/tune-pytorch-lightning.html#

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-10-13 21:15] scottsun94 commented on #25395
@ggservice007 Have you ever used the new dashboard in ray 2.0 to view logs?

cc: @DmitriGekhtman
what's the recommended way to download/fetch logs when using KubeRay?

[2022-10-13 21:17] scottsun94 commented on #25303
@DmitriGekhtman We removed the config page in the new default dashboard.
Do you think there is a need to add it back?

[2022-10-13 21:23] #29216 closed

[2022-10-13 21:24] rickyyx commented on #28979
Any updates on this? @sven1977 @avnishn

[2022-10-13 21:24] rickyyx commented on #28980
Any updates on this @sven1977 @avnishn ?

[2022-10-13 21:26] yinweisu commented on #29216
Hi @justinvyu, I understand the warning won't affect anything. However, we wrap ray tune inside our package, and the warning could be very confusing to the user. It would be better if we could suppress it.

[2022-10-13 21:33] justinvyu commented on #29216
Got it, I misunderstood. You can try setting the logging level within `ray.init(logging_level=logging.ERROR)` to suppress all warnings/info logs (will only print for errors).

[2022-10-13 21:40] scottsun94 commented on #23467
Is this fixed now? Have you tried ray 2.0? @mlguruz

[2022-10-13 21:43] mlguruz commented on #23467
Yes it works - I'm on 3.0.0dev now actually :)

Feel free to close it. Thanks

[2022-10-13 21:53] amogkam commented on #29229
So just to summarize the discussion:

Makes sense to set datasets to lazy by default for BatchPredictor, but seems orthogonal to the API discussion about batch size. Fusion should work regardless of what the batch size is of multiple map batches calls.

Seems the primary pushback to option 2 is that there is too much configuration complexity?

[2022-10-13 22:04] DmitriGekhtman commented on #25303
I don't think so?
I think this issue is probably fine to close.

[2022-10-13 22:05] #23467 closed

[2022-10-13 22:09] scottsun94 commented on #25303
Okay. Closing it for now. Will create a new issue if we hear any feedback about it.

[2022-10-13 22:09] #25303 closed

[2022-10-13 22:12] scottsun94 commented on #22418
cc: @simon-mo

[2022-10-13 22:13] jiaodong commented on #29229
We can always have a simple default option (like batch size = block size, or batch size = 4096) for all preprocessors without enforcing them right ? I think for 95%+ of the case end user will never need to know or tune it, but for internal developers be able to use this flag can benefit efficiency and benchmarking.

[2022-10-13 22:21] c21 commented on #29098
Thansk @clarng for checking out. The [latest failure of nightly test](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_1NhGqHVxAMGxz1JiuPUNnkUb?command-history-section=command_history) seems not related to OOM killer. I am looking.

[2022-10-13 23:38] jiaodong commented on #29318
I think this failure should not be release blocking, mostly test flakiness given it's long running.

Our latest known good test from CI had 4 errored trial with same cuda error thrown from some trials, but it appeared for both successful and failed end state runs.

In both release tests, the main trial kept training with expected progress and ended up in TERMINATED state.

The flaky error `Runtime

[2022-10-13 23:55] jjyao commented on #26390
The most common case where we start multiple ray nodes on the same physical node is probably testing. A warning seems reasonable to me.

[2022-10-14 00:08] krfricke commented on #29291
Resolved after re-creating the bucket: https://buildkite.com/ray-project/release-tests-branch/builds/1108#0183d3b1-cf8a-44c6-a4a2-82bad47a0f8f

[2022-10-14 00:08] #29291 closed

[2022-10-14 00:24] rickyyx opened #29348 "[CI] `linux://rllib:test_r2d2` is failing/flaky on master/release branch"
- eaddb6c89a4f987f4d13662cd0548a1d0a3f3bc8 FAILED [Buildkite :brain: RLlib: Algorithm Tests (specific algos)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/500#0183cf42-a7c6-4bde-bb88-a3514c0c9f70)
- 60840b5498a8e5e8fc6b1bbeadaaa5c210b62624 FAILED [Buildkite :brain: RLlib: Algorithm Tests (specific algos)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/465#0183c8fc-e23

[2022-10-14 00:24] rickyyx commented on #29348
Seems to be flaky/failing
recent release branch [failure](https://buildkite.com/ray-project/oss-ci-build-branch/builds/517#0183d3b8-87f1-460f-97b0-368519e34159)

[2022-10-14 00:50] rickyyx commented on #29318
Thanks for the investigation JIao - will remove release blocker for now. cc @matthewdeng

[2022-10-14 00:54] #28968 closed

[2022-10-14 01:24] rkooo567 commented on #29329
Maybe we should just use ray.summary_objects() as an impl? Btw I think the issue from that particular test is due to raylet, not the API itself

[2022-10-14 01:26] krfricke commented on #29333
Passed on retry https://buildkite.com/ray-project/oss-ci-build-branch/builds/507#0183d3a7-95ad-4b7b-8445-aa02653a4d53

[2022-10-14 01:26] #29333 closed

[2022-10-14 03:02] mlguruz commented on #29215
Got it. This is super helpful. Let me try that.

Btw - I'm on 3.0.0-dev, and I see there are a few changes from 2.0. I assume the interfaces for 3.0.0dev is where we are going?

[2022-10-14 03:28] JoonHong-Kim commented on #28075
Sure I'll do soon

[2022-10-14 04:24] ysmu opened #29354 "[Serve] Unable to upload current working directory"
### What happened + What you expected to happen

I have a deployment file that specifies the `.` as the working directory. Following the documentation from

- https://docs.ray.io/en/latest/ray-core/handling-dependencies.html#remote-uris
- https://docs.ray.io/en/latest/ray-core/handling-dependencies.html#api-reference

I was expecting `serve deploy deployment.yml` to upload the current directory to

[2022-10-14 04:45] larrylian commented on #28160
![image](https://user-images.githubusercontent.com/11072802/195764336-d2e1bccc-ff86-4ac5-9517-57ab0d402a1f.png)
The problem is here. After this change it is solved. I will mention PR and supplementary test cases in the past two days.

[2022-10-14 05:49] scottsun94 commented on #26390
@ofey404 Do you want to submit a PR for this?

[2022-10-14 06:00] ofey404 commented on #26390
This weekend.

[2022-10-14 13:49] mlguruz commented on #29215
Ok - I've managed to successfully launch & kill the head node using our specific network setup thanks to your help!!

The current issue I'm having is the autoscaling failed on Authentication:

The log I see when I do `ray monitor XXX.yaml` is the following:
[code]
It seems that I'm missing some Authentication variable setup?
b/c I can't re-create msi/vnet/..., I'm not sure if those authentication

[2022-10-14 15:15] mlguruz commented on #29215
I see - so far I created a managed identity and may I ask which one of these ID's I should be using for MSI:
- MSI name
- Client ID
- Object (principal) ID

thank you so much!

[2022-10-14 15:25] mlguruz commented on #29215
I got it - although I see in your template, you're asking for direct input of resource id:
[code]
maybe could just set that as "name", and then in the resource section do `resourceId(...)` ?

[2022-10-14 15:59] rickyyx commented on #28429
Could you verify that `telnet 107.22.107.71 32188` is able to connect?

[2022-10-14 16:00] mlguruz commented on #29215
@gramhagen

I was able to move even further so I think the MSI is working.

I got below permission error. Does it mean I don't have enough permission? Thanks!!

[code]

[2022-10-14 16:22] jjyao commented on #28774
The last 10 runs all succeeded without this error.

[2022-10-14 16:23] rickyyx commented on #28975
Hmmm this seems to be still failing on the release branch with the linked PR in? https://buildkite.com/ray-project/release-tests-branch/builds/1114#0183d3c4-af14-43dc-b33e-77c37350271f

Or if I am missing something here?

[2022-10-14 16:26] c21 commented on #29098
The nightly test is not failing, but time out consistently. Latest nightly test - https://buildkite.com/ray-project/release-tests-branch/builds/1113#0183d365-cc5e-40c7-b39a-497eda8a3ea8 , and cluster - https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_pZS39esQXtfmYiX7zkhxbBpy?command-history-section=command_history .

It seems trainer was kept runn

[2022-10-14 16:30] movy commented on #23424
Btw, Ray 2.0 still produces this warning:
You are trying to access _search_alg interface of TrialRunner in TrialScheduler,

I assume it's harmless, but a week ago when I was just starting with Ray this was kinda intimidating.

[2022-10-14 16:32] gramhagen commented on #29215
yeah, i usually grant contributor scope over the resource group to the msi, you can have more fine-grained controls but I don't know the full extent that's required so you can adjust and iterate a bit to test that out.

[2022-10-14 16:35] mlguruz commented on #29215
Got it - let me work on it now. Super helpful!!

[2022-10-14 16:39] xwjiang2010 commented on #23424
@movy yeah we should disable this. This was part of an effort to clean up our scheduler interface, which has been given too broad of an access. But the project was de-prioritized. I will remove the warning for now.

[2022-10-14 16:54] rickyyx commented on #29240
Re-opening to track [failure](https://buildkite.com/ray-project/release-tests-branch/builds/1114#0183d3c4-af3a-4fc0-af7f-b1c7b1691616) in release branch

Let's close this when we merge the cherry pick?

[2022-10-14 17:06] rickyyx commented on #29166
Re-open to track [failures](https://buildkite.com/ray-project/release-tests-branch/builds/1114#0183d3c4-b077-47be-b2ac-dd3a7439bfcc) in release test. Close with cherry-pick PR.

[2022-10-14 17:10] simon-mo commented on #29354
Hi @ysmu, can you elaborate a bit on why is this needed? Are you uploading from local machine to the cluster? or from head node to the worker nodes?

[2022-10-14 17:11] rickyyx commented on #29100
Any idea of why [this](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_PrMJ5LyAWVfiD7c999B8Gf6k?command-history-section=command_history) happens

This is a recent [failure](https://buildkite.com/ray-project/release-tests-branch/builds/1114#0183d3c4-b0b1-4872-a931-2ceee4c7e6e2) from the release branch

There is definitely the dashboard agent memor

[2022-10-14 17:13] c21 commented on #29166
@rickyyx - https://github.com/ray-project/ray/pull/29361 should be ready to merge (only change in nightly test).

[2022-10-14 17:14] rickyyx commented on #29163
Could we have the cherry-pick PR close this if there's gonna be one? Thanks!

[2022-10-14 17:17] #29166 closed

[2022-10-14 17:18] amogkam commented on #29163
Cherry pick was already merged!

[2022-10-14 17:18] #29163 closed

[2022-10-14 17:21] rickyyx commented on #29163
Oh ooops. - sorry about that.

[2022-10-14 17:26] rickyyx commented on #29240
Closed by #29363 29363

[2022-10-14 17:26] #29240 closed

[2022-10-14 17:37] simon-mo commented on #28878
The environment variable seems not to be properly passed into the container
[code]

[2022-10-14 17:38] simon-mo commented on #28878
The reason is the duplicated `env` key
[code]

[2022-10-14 17:41] DmitriGekhtman commented on #28878
Thanks, that would explain it.
This is not the first time I've burned myself by duplicating a key.
Need to lint my yaml files...

[2022-10-14 17:59] Yard1 opened #29367 "[RLlib] `examples/replay_buffer_api.py` is broken"
### What happened + What you expected to happen

`examples/replay_buffer_api.py` was misconfigured in the BUILD bazel file and not being tested in CI at all. It throws an exception.

### Versions / Dependencies

master

### Reproduction script

`examples/replay_buffer_api.py`

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-10-14 17:59] Yard1 commented on #29367
@avnishn

[2022-10-14 18:13] rickyyx commented on #29304
Closed by #29317

[2022-10-14 18:13] #29304 closed

[2022-10-14 18:18] jiaodong commented on #29299
@rickyyx FYI the merged PR simply splits tests so you can expect the failure has low risk to 2.1 release

[2022-10-14 18:19] jiaodong commented on #29334
This should be addressed with low risk of regression in 2.1 release
<img width="1501" alt="Screen Shot 2022-10-14 at 11 19 19 AM" src="https://user-images.githubusercontent.com/6372689/195914584-b26b0a5c-dff6-41af-bdf9-fc56ca3c024b.png">

[2022-10-14 18:24] rickyyx commented on #29322
Does this need to be cherry pick in?

[2022-10-14 18:25] amogkam commented on #28975
this passed again on a re-run so looks like a transient error: https://buildkite.com/ray-project/release-tests-branch/builds/1113#0183d76a-deac-4efa-8623-d1d1b43713e1.

We should look into deflaking this, but is not a release blocker. Closing this issue.

[2022-10-14 18:25] #28975 closed

[2022-10-14 18:27] ysmu commented on #29354
I was hoping this would upload the entire directory from the local/dev machine to the entire cluster. I can't use the git+zip method because my repo has submodules, which isn't included the zip file.

[2022-10-14 18:27] scv119 commented on #29294
@clarkzinzow i'm a bit overloaded right now (5 total release blocker). Mind take this one?

[2022-10-14 18:44] jiaodong commented on #29098
i didn't spot anything obviously wrong there, it's consistently producing training metrics like

[code]

@c21 that do you see from previous passing runs on this, does this metrics like `per_batch_time` match other passing ones ?

[2022-10-14 18:54] rickyyx commented on #29299
Will you be opening a cherry pick for this jiao? @jiaodong

[2022-10-14 18:58] rickyyx commented on #28816
This is timing out on the release branch as well (on mac machine though) - should we cherry pick this? https://buildkite.com/ray-project/oss-ci-build-branch/builds/528#0183d72d-8a29-4fcb-a094-b4e7cddf24c2

[2022-10-14 18:58] gjoliver commented on #29199
@vakker can you share your Tune/RLlib config dictionary?
we are trying to reproduce this on our end.

[2022-10-14 19:00] jiaodong commented on #29299
hmm i don't think it's necessary, we don't need to fix anything in 2.1 code itself, just the way we structure tests to accommodate cuda 11.6 update

[2022-10-14 19:06] rkooo567 commented on #29314
This SGTM. Maybe it'd be great if you can also share some e2e code example writing progress bar using the callback?

[2022-10-14 19:07] rickyyx commented on #29299
Let's still cherry pick this in - generally we try to make CI green rather than have exceptions. Otherwise there will be too many false positives in the CI, which makes it hard to track the status. cc @matthewdeng

[2022-10-14 19:18] #29273 closed

[2022-10-14 19:20] avnishn commented on #28980
I've run these tests again and it appears that they don't fail, but that we had some issue getting instances of the correct size for these tests. I'm going to be changing the compute config to use smaller instances, but more of them so that we get instances in time.

[2022-10-14 19:20] #28980 closed

[2022-10-14 19:20] avnishn commented on #28979
I've run these tests again and it appears that they don't fail, but that we had some issue getting instances of the correct size for these tests. I'm going to be changing the compute config to use smaller instances, but more of them so that we get instances in time.

[2022-10-14 19:20] #28979 closed

[2022-10-14 19:34] #28893 closed

[2022-10-14 19:36] gauravagrwal commented on #28889
Hi @bveeramani, is the docs already updated or would it be okay if I update it?

[2022-10-14 20:01] bveeramani commented on #28889
@gauravagrwal Looks like the documentation is still out of date. If you want to open a PR, go for it!

[2022-10-14 20:19] architkulkarni opened #29373 "[CI] `osx://python/ray/tests:test_runtime_env_working_dir_3` is failing/flaky on master."
- 6b86e4671ff8a2ba951fd170fff7df5c2e6f8263 FAILED [Buildkite :mac: :apple: Large](https://buildkite.com/ray-project/oss-ci-build-branch/builds/519#0183d33b-b4e2-4240-9bae-7c5d1a70b79f)
- 0ee478b13152254380f3dd638bd666a114fd6e67 FAILED [Buildkite :mac: :apple: Large](https://buildkite.com/ray-project/oss-ci-build-branch/builds/393#0183afb6-2259-4933-b7f3-5969fc1acda6)
- 036225dec2d1f0d895043ca5f0ae

[2022-10-14 20:20] Yard1 opened #29374 "[Data] Absymal performance & disk usage when reading files from S3"
### What happened + What you expected to happen

I've ran a simple script to read two files from S3 (partitions of NYC taxi dataset). With pure pyarrow, this is done in <10 seconds. With Ray Data, this takes over 350 seconds, while also taking up a lot of disk space and memory.

The disk space is not cleaned up afterwards, too, meaning if I run the repro script twice, the node crashes due to all d

[2022-10-14 20:22] architkulkarni commented on #28816
@rickyyx Can it be fixed by a restart?
<img width="642" alt="Screen Shot 2022-10-14 at 1 13 46 PM" src="https://user-images.githubusercontent.com/5459654/195934274-71ee8262-3fac-4c4b-a97e-67dda721f3d2.png">
I don't think it's a release blocker.  If you think it would delay the release less overall if we skip the test, we can cherry pick a PR to skip it on Mac.

We should eventually figure out the

[2022-10-14 20:31] c21 commented on #29098
Looks like some regression after 10/06. Bisecting in https://github.com/ray-project/ray/compare/fd0148878...1bd8ab9b .

[2022-10-14 20:35] vakker commented on #29199
I'll try to reproduce it with a simple rllib config, e.g. `rllib train -f atari-ppo.yaml`
Let me get back to you in a bit on the findings.

@architkulkarni  But I've only seen it once, when I run an experiment with a lot of workers. Then I switched off the dashboard.
@gjoliver I can share my Slurm scripts, that should be enough to reproduce.

[2022-10-14 20:42] rickyyx commented on #28816
I see - I think it doesn't show up every single time. I could bear with the flakiness for now.

[2022-10-14 20:42] #28816 closed

[2022-10-14 21:07] rickyyx opened #29377 "[ci][release] Known non-release-blocking issues tracking"
List of flaky tests/failures that are known to be non-release blocking but might show up in CI failures/nightly failures. **No cherry picks are expected for these failures. Release managers will ignore them in CI**:

## Release test known issues
- https://github.com/ray-project/ray/issues/29294
- https://github.com/ray-project/ray/issues/29777
- https://github.com/ray-project/ray/issues/29318 (fix

[2022-10-14 21:08] rickyyx commented on #29377
cc @zhe-thoughts

[2022-10-14 21:27] #29303 closed

[2022-10-14 21:27] #29301 closed

[2022-10-14 22:33] clarkzinzow commented on #29374
Is data being spilled to disk on the read? Is there anything useful being logged, e.g. file sampling taking a long time? Have you checked out the [Datasets stats](https://docs.ray.io/en/master/data/performance-tips.html#debugging-statistics) to see if there's any signal there as to why it's slow?

We should try to see if there's anything unexpected in the benchmark (e.g. spilling to disk), and if

[2022-10-14 23:27] richardliaw opened #29378 "[air] XGBoost + Datasets + Tune workload hanging"
### What happened + What you expected to happen

Using XGBoostTrainer + Datasets + Tuner, I will repeatedly fail to complete the job. Workspace attached.

[code]

### Versions / Dependencies

2.0, py3.9

### Reproduction script

[code]

https://console.anyscale-staging.com/o/anyscale-internal/workspaces/expwrk_v4xWyxRTikVqUbhVsCVFzp4d/ses_aaAr5sHQHC8rBDaFP1jLc9se?command-history-section=worker_log

[2022-10-14 23:28] richardliaw commented on #29378
Tagging as P0 until proper assignment / investigation...

[2022-10-14 23:36] #28759 closed

[2022-10-14 23:50] architkulkarni commented on #29199
@vakker Thanks for the additional info--in case you remember the date and time you were running the session which failed, you might still be able to find `dashboard_agent.log` in `/tmp/ray/session_2022_<...>/logs`.

[2022-10-14 23:54] Yard1 commented on #29374
Data is defined being spilled to disk. I'll try the things you suggested. I had ran it without to pandas previously (with a simple batch transform instead) and the results were similar.

[2022-10-15 00:19] clarkzinzow commented on #29374
I experimented with this benchmark + a few different tweaks, it looks like there might have been a regression in Parquet read performance that we didn't catch. I'd be happy to pair on investigating this!

[2022-10-15 07:02] vedantroy opened #29379 "Ray Data: Uploading Large Files Crashes Ray"
### What happened + What you expected to happen

The reproduction script, which uploads a 1GB binary file to S3 crashes on a m5.large machine.

It does not crash for a 500 MB file.
This in and of itself is not a problem, but I'm getting other flakiness with ray's `write_parquet` method, and I suspect this could??? be the source of the issue (not sure).

## Logs
[code]

### Versions / Dependencies

[2022-10-15 12:09] andreichalapco opened #29383 "Ray scripts"
### What happened + What you expected to happen

Hi,

when running the minimal tests via `python -m pytest -v python/ray/tests/test_mini.py` I noticed that some deprecated error are comming through that could be fixed.

1. python-3.10.7/lib64/python3.10/site-packages/requests/__init__.py:43: DeprecationWarning: 'urllib3[secure]' extra is deprecated and will be removed in a future release of urllib

[2022-10-15 15:20] mlguruz opened #29384 "[Core] Ray doesn't shutdown properly on KeyboardInterrupt"
### What happened + What you expected to happen

Putting `ray.init` and `ray.shutdown` in a `try:...finally...` block won't shut down the ray cluster.

### Versions / Dependencies

python == 3.8
ray == 2.0.0

### Reproduction script

If you run the following in a notebook env:
[code]

...and interrupt by KeyboardInterrupt, and then you run

[code]

you can still see the cluster stats, meaning that

[2022-10-15 15:59] #22043 closed

[2022-10-15 15:59] #25352 closed

[2022-10-15 15:59] #25363 closed

[2022-10-15 15:59] #25364 closed

[2022-10-15 15:59] #25368 closed

[2022-10-15 15:59] #25379 closed

[2022-10-15 16:00] #25399 closed

[2022-10-16 03:56] sairajab commented on #28903
@bveeramani and @bhavika , I can work on this.

[2022-10-16 08:30] jovany-wang commented on #25396
reassigning...

[2022-10-16 10:12] jbedorf opened #29388 "[Core|Tune] Not all workers cleaned up on Windows on trial failure."
### What happened + What you expected to happen

When using Tune (+RLlib) on Windows machines workers are not always properly cleaned up when an actor fails. This results in a slow but steady increase of worker processes and associated memory usage. The log files of the workers indicate that they exit (see screenshot below), but they are actually left running. This does not happen for every worker

[2022-10-16 13:07] bhavika commented on #28903
@sairajab go ahead!

[2022-10-16 13:10] PaulFenton commented on #15893
I also experienced this error but got it working by re-running. Details:

I started with the instructions to [launch ray on GCP](https://docs.ray.io/en/master/cluster/vms/user-guides/launching-clusters/gcp.html).

On first run of `ray up example-full.yaml` I got:

[code]

  Then after re-running with verbose debug statements (`ray up example-full.yaml -vvvv`), it seems to have worked. The initial

[2022-10-17 07:06] rkooo567 commented on #29383
cc @rickyyx @scv119 another deprecated APIs for Python 3.10. I will leave it up to you guys for triaging process

[2022-10-17 07:09] rkooo567 commented on #29199
Thank you! @vakker. And thanks for taking your time to create a repro. We are also trying hard to find repro script ourselves (but no luck so far...)

A couple additional questions;
1. When do you turn off dashboard (include_dahsboard=False), you don't see this anymore? I am asking it because Ray still starts agent when include_dashboard=False. So it means some dashboard-related operation is the r

[2022-10-17 07:44] cpwan commented on #14053
So... has this issue been fixed? I am getting suboptimal results with PPO. Not sure if it is the problem with the optimizer or other parts of my code.
Can someone confirm which optimizer was used in the PPO?

[2022-10-17 09:49] #13090 closed

[2022-10-17 10:38] vakker commented on #29199
Okey, I managed to reproduce this. I can send repro info on Slack instead of posting it all here.

[2022-10-17 13:28] ArturNiederfahrenhorst commented on #29259
[Possibly related](https://discuss.ray.io/t/ars-produces-actions-outside-of-action-space-bounds/7636/7)

[2022-10-17 15:18] imnotpete commented on #29259
Yes, these are related.

[2022-10-17 15:56] sihanwang41 opened #29396 "[Docker] ray serve is not able to be used in ray-ml image"
### What happened + What you expected to happen

FastAPI is pined in the requirements.txt file, but ray-ml image is still installing the 0.85.0 version

### Versions / Dependencies

N/A

### Reproduction script

N/A

### Issue Severity

_No response_

[2022-10-17 16:00] rcremese opened #29397 "[rllib] Hindsight Experience Replay (HER) implementation"
### Description

I just try to reactivate an old feature request (https://github.com/ray-project/ray/issues/8526)
Is there any chance to have an implementation of [HER](https://proceedings.neurips.cc/paper/2017/hash/453fadbd8a1a3af50a9df4df899537b5-Abstract.html) in rllib ? If not, what is needed to be modified to implement it ?

I just started to use rllib and due to the abscence of this feature

[2022-10-17 16:02] Break00 commented on #3899
I got the same issue with Ray 2.0.0

**Code**
ray.init(address='auto')

**Error**

File /opt/tljh/user/lib/python3.9/site-packages/ray/_private/client_mode_hook.py:105, in client_mode_hook.<locals>.wrapper(*args, **kwargs)
    103     if func.__name__ != "init" or is_client_mode_enabled_by_default:
    104         return getattr(ray, func.__name__)(*args, **kwargs)
--> 105 return func(*args, **kwa

[2022-10-17 16:36] rickyyx opened #29398 "[release][CI] ml_user_xgboost_gpu_connect_latest failed"
### What happened + What you expected to happen

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_6g2uwk2rawaXG4LjNSRZpDf2?drivers-section=interactive-sessions)

[Build ](https://buildkite.com/ray-project/release-tests-branch/builds/1123#0183d941-484f-45a8-b1ad-26f1d1e2e2e0)

### Versions / Dependencies

NA

### Reproduction scri

[2022-10-17 16:36] rickyyx opened #29399 "[CI][release] long_running_distributed_pytorch_pbt_failure failed"
### What happened + What you expected to happen

[Build](https://buildkite.com/ray-project/release-tests-branch/builds/1123#0183d941-4842-4fa2-b086-2170ea0bc3ae)

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_WAvvmyJq5QZ3VXMfBHmtmksi?command-history-section=command_history)

### Versions / Dependencies

release 2.1

### Reprod

[2022-10-17 16:39] AndreMPCosta commented on #19116
Same problem:
[code]

Windows 11, Python 3.10

[2022-10-17 17:22] scv119 commented on #29324
after some bisecting i'm 90% confident it's caused by #28418.

[2022-10-17 17:23] scv119 commented on #29324
here is the success runs on the previous commit of https://github.com/ray-project/ray/pull/28418. https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_xsV2ncB84hxXiEaFqdEtVUBY?command-history-section=command_history

[2022-10-17 17:23] #29302 closed

[2022-10-17 17:24] scv119 commented on #29324
and failed runs: https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_yX3YPSTVkYAtNemir8jXduR1?command-history-section=command_history

[2022-10-17 17:30] #29047 closed

[2022-10-17 17:36] #28853 closed

[2022-10-17 17:53] gjoliver commented on #29319
maybe this dashboard mem leak thing should be a release blocker.

<img width="1119" alt="Screen Shot 2022-10-17 at 10 52 22 AM" src="https://user-images.githubusercontent.com/6347585/196247922-96e03e84-1e4d-4575-9ce3-9544b46c52aa.png">

[2022-10-17 17:59] clarkzinzow commented on #28144
Confirmed that this works with ragged tensors + `read_images()` API.

[2022-10-17 18:40] scv119 opened #29405 "[Core] ASAN issue in memory monitor"
### What happened + What you expected to happen

https://buildkite.com/ray-project/oss-ci-build-pr/builds/2296#0183e2a4-e2e0-46e2-b3a8-111ec4486f6b

[code]

### Versions / Dependencies

master

### Reproduction script

run test

### Issue Severity

High: It blocks me from completing my task.

[2022-10-17 18:53] scv119 commented on #29100
looks RAY_memory_usage_threshold_fraction is still 0.95 in the test?

[2022-10-17 18:59] rickyyx commented on #29383
Hmmm, I somehow have troubles reproducing it.

[code]

Maybe I need a fresh env? cc @andreichalapco Would you also share on your setup steps? Maybe I could follow the same. I am pretty sure it's my local env.

[2022-10-17 19:04] scv119 commented on #29100
huh look it's agent memory leak according to the log:
agent is using 23.35GiB of memory.

[code]

[2022-10-17 19:05] scv119 commented on #29100
duplicate of #29199

[2022-10-17 19:47] scottsun94 commented on #18227
cc: @maxpumperla

[2022-10-17 19:58] scottsun94 commented on #16711
One question: "CPU, GPU, and RAM usage per task over time" This is referring to physical machine usage per Ray task over time?

[2022-10-17 20:02] scottsun94 commented on #16431
@Jhonathan-Pedroso Sorry to bother. +1 Eric. Are you able to create a generic repo? Otherwise, it's hard to validate a fix.

[2022-10-17 20:11] scottsun94 commented on #15322
In Ray 2.0, we made the previous experimental dashboard the new default dashboard. Have you tried it? Are you running into the same issue?
@Vickzhang

[2022-10-17 20:11] rickyyx commented on #29334
Probably need a cherry-pick

[2022-10-17 20:11] jianoaix opened #29408 "[Datasets] shuffle performance regression from Ray 1.11 to Ray 2.0"
There is performance regression in Dataset.random_shuffle() from Ray 1.11 to Ray 2.0.

Observations:
- The spread scheduling worked in both case
- The reduce phase took particularly longer than before

**Before: Ray 1.11 perf test result**
[code]

**After #1: Ray 2.0 perf test result, without fusion**
[code]

**After #2: Ray 2.0 perf test result, with fusion**
[code]

**Test cluster**:
- 1.11: htt

[2022-10-17 20:15] rickyyx commented on #29320
Maybe not agent leak. cc @gjoliver

[2022-10-17 20:18] rickyyx commented on #29319
This is probably caused by the #29199

[2022-10-17 20:19] scottsun94 commented on #14664
(1) Not sure if this still happens in the new dashboard
(2) This will be fixed by better default sorting which prevents nodes from shifting a lot in the node table.

[2022-10-17 20:20] scottsun94 commented on #14614
cc: @ericl @rkooo567 @rickyyx
Do we already have regression tests?

[2022-10-17 20:21] rickyyx commented on #29294
Might be due to agent memory leak #29199

[2022-10-17 20:21] scottsun94 commented on #14537
For the new dashboard, we will set the default to 20 nodes per page. Let's iterate based on user feedback

[2022-10-17 20:23] rickyyx commented on #29098
@c21 any updates on this?

[2022-10-17 20:25] gjoliver commented on #29348
this is known to be flaky.
a few folks took a look and couldn't really understand this.
I am gonna assign this to Sven for help.

[2022-10-17 20:34] matthewdeng commented on #29399
@krfricke @justinvyu can you take a look?

Not sure why Tune was not able to recover from this...
[code]

[2022-10-17 20:35] matthewdeng commented on #29398
Looks transient based on the retry

[2022-10-17 20:36] matthewdeng commented on #29398
@jiaodong  can you take a look and see if this should be a release blocker? I think it might be an xgboost issue, but the part that worries me is that the error was not safely handled/terminated, but instead it just hangs.

[2022-10-17 20:38] rkooo567 commented on #29319
Is it possible to bisect this? There must be information from the nightly dashboard? Looks like regression

[2022-10-17 20:47] zplizzi commented on #23286
This is still broken. A clean install of the latest `ray[rllib]` (2.0.0) installs `gym-0.23.1`, which does not have the necessary `gym.wrappers.Monitor` class.

[2022-10-17 20:48] scv119 commented on #29324
hmm the reverted wheels still have this issue. maybe the test is really flaky?

[2022-10-17 20:58] jiaodong commented on #29398
trying my best along with two other new release blockers that popped up today

[2022-10-17 21:03] rickyyx commented on #29324
I think @jiaodong believes there could be a simpler forward fix for this.

[2022-10-17 21:07] rickyyx commented on #29348
But this is still considered a release blocker right?

[2022-10-17 21:14] pratkpranav opened #29412 "[Ray Core] Ray agent getting killed unexpectedly"
### What happened + What you expected to happen

We are writing a module for data-parallel training using ray for our machine learning engine. Currently, we are trying to scale our computation to 64 nodes on an in-house cluster, but while communication between the nodes, the ray agent on some nodes fails unexpectedly. I am pretty sure the program is not running out of memory(As I don’t see any OOM

[2022-10-17 21:26] #25743 closed

[2022-10-17 21:29] gjoliver commented on #29320
this one @avnishn will extend the deadline for IMPALA torch a little bit.
the algorithm is fine.
taking release blocker tag off.
thanks.

[2022-10-17 21:54] clarkzinzow commented on #29408
The level of randomness in the shuffle changed between Ray 1.11 and Ray 2.0, so I don't think that this is a true performance regression warranting investigation in a perf fix.

The Datasets shuffle in Ray 1.11 wasn't performing a fully global/random shuffle, since it wasn't mixing samples across mapper chunks in the reducers. This was [fixed](https://github.com/ray-project/ray/commit/9813f2cce4b8

[2022-10-17 21:55] scottsun94 commented on #13630
cc: @rkooo567 @rickyyx
The underlying need should be addressed by state api? https://docs.ray.io/en/latest/ray-observability/state/state-api.html

[2022-10-17 22:02] ericl commented on #14614
We have them for all the new metrics, but some older ones may not be adequately tested.

[2022-10-17 22:03] scottsun94 commented on #12761
@salman1993 It seems that this feature has been supported. Is there any limitation from it? Otherwise, we could close this issue?

[2022-10-17 22:05] richardliaw opened #29415 "[runtime env / doc] Clarity for Docker vs Runtime envs /ray-core/handling-dependencies.html"
I got a question from a user here:

[code]

cc @architkulkarni can you take a look at this? Specifically, add a section in the documentation about Ray runtime envs vs docker and when you should use each.

[2022-10-17 22:05] scottsun94 commented on #12662
cc: @alanwguo @rkooo567
Is now the right time to change it?

[2022-10-17 22:07] architkulkarni commented on #29415
<img width="1130" alt="Screen Shot 2022-10-17 at 3 06 29 PM" src="https://user-images.githubusercontent.com/5459654/196292697-605acb13-0a8e-4040-8f3a-0e2fbc3543b5.png">
Currently we have "For production usage or non-changing environments, we recommend installing your dependencies into a container image and specifying the image using the Cluster Launcher. For dynamic environments (e.g. for developm

[2022-10-17 22:07] shahsmit1 commented on #16679
I am running into this as well but on docker setup. Any workarounds?

[2022-10-17 22:08] rickyyx commented on #29339
@gjoliver Looks like there are some failure output w.r.t this test in this [build](https://buildkite.com/ray-project/oss-ci-build-branch/builds/556#0183e754-d158-4a43-be26-86851a7d1990), maybe this will help root-causing.

[2022-10-17 22:15] scottsun94 commented on #11966
cc: @jjyao on the documentation feedback.

[2022-10-17 22:16] jianoaix commented on #29408
Thanks Clark for shedding light. Indeed the 1.11 shuffle-reduce looks too cheap if it actually did anything. Glad this isn't a real regression!

[2022-10-17 22:21] jiaodong commented on #29324
so .. @scv119 is https://github.com/ray-project/ray/pull/28418 the culprit that you want me to dive deeper or it's due to flakiness ?

[2022-10-17 22:21] scottsun94 commented on #11172
cc: @alanwguo @DmitriGekhtman For the new default dashboard (previous experimental dashboard), do we still have those issues?

[2022-10-17 22:22] richardliaw opened #29416 "[docs/docker] Add documentation for development with Ray Dockers"
### Description

Some users have historically tried to use Ray Dockers for development purposes. If we can add documentation for these issues/questions, this would be great!

This has run into a variety of issues/gotchas. For example:

https://stackoverflow.com/questions/65884838/docker-permissions-issue-writing-to-txt-file-with-simple-python-script
https://github.com/ray-project/ray/issues/13602#

[2022-10-17 22:30] andreichalapco commented on #29383
So I've built Ray (Python only by following the documentation at https://docs.ray.io/en/latest/ray-contribute/development.html#building-ray-python-only).
Next I've installed all dependencies via: ```pip install -r python/requirements.txt``` and lastly I run the test via
```python -m pytest -v python/ray/tests/test_mini.py```

[2022-10-17 22:33] DmitriGekhtman commented on #11172
This issue has been resolved. I'll go ahead and close it.

[2022-10-17 22:33] #11172 closed

[2022-10-17 22:35] DmitriGekhtman commented on #14664
I'm guessing that this might have been resolved, @alanwguo can confirm.

[2022-10-17 22:41] scv119 commented on #29324
let me spend a bit more time before invest your time in it.

[2022-10-17 22:46] rickyyx commented on #29383
Thanks @andreichalapco
Also, just for full disclosure - we will be working on python3.10 support for 2.2 so I will maybe revisit this in the next few days (or a week or two).

[2022-10-17 22:56] jiaodong commented on #29398
looks like just flakiness to me. Kai helped to kick off a retry on the failed buildkite run and it passed: https://buildkite.com/ray-project/release-tests-branch/builds/1123#0183e2d3-f26e-4d87-96da-7018069fd066

[2022-10-17 22:58] lly-zero-one opened #29419 "[Core] NCCL_BLOCKING_WAIT=1 leads to performance regression"
### What happened + What you expected to happen

Looks like NCCL_BLOCKING_WAIT is set to 1 for detecting node failure: https://github.com/ray-project/ray/blob/d99eff919bf785f911e4eebc87ddc4960344a139/python/ray/train/torch/config.py#L103

But this will lead to significant performance regression, since CPU will stop scheduling new operator during the waiting. Can we just default it to zero to avoid

[2022-10-17 23:08] jiaodong commented on #29398
New issue discovered by this is we left the cluster running much longer than needed with 4 p3.2xlarge hosts .. that costs us $350 that could've been just < $5 on the happy path. Looking into client timeout error now.

[2022-10-17 23:16] architkulkarni commented on #16711
@scottsun94 I think I might have meant to write "node" instead of task.  This issue just referring to the physical machine usage reported in the dashboard, or more generally anything that's prominently visible in the dashboard UI but doesn't show up in any log file or doesn't have a programmatic way to access it, but perhaps this is already covered in the recent observability work.

[2022-10-17 23:25] scottsun94 commented on #16711
Got it. I guess that fetching those time-series metrics programmatically has been covered by metrics export: https://docs.ray.io/en/latest/ray-observability/ray-metrics.html.
cc: @rkooo567 could confirm

[2022-10-17 23:29] rickyyx commented on #13630
Yes, check this [output schema](https://docs.ray.io/en/latest/ray-observability/state/ray-state-api-reference.html#state-api-schema-obj). Let's know if this works.

[2022-10-17 23:30] rickyyx commented on #29398
So I guess I will remove release-blocker but keep the issue open.

[2022-10-17 23:40] dejangrubisic commented on #5940
I have the same problem. Is there any updates on this topic?
`torch.cuda.device_count() == 2` while `ray.get_gpu_ids() == []`

[2022-10-17 23:41] sairajab commented on #28903
What are the steps to reproduce this error?
Did you try to build for Python only or linux (full) ?

[2022-10-17 23:54] andreichalapco commented on #29383
No problem! Just wanted to let you know. Just wanted to make a small contribution :)

[2022-10-17 23:54] shahsmit1 opened #29420 "Ray core: incorrect account of GPUs on ec2 ubuntu instance: g4dn.2xlarge"
### What happened + What you expected to happen

`ray.cluster_resources()` returns 2 GPUs as ray cluster resources on an ec2 instance with exactly 1 gpu. This is on a docker based setup with 2 containers: `ray-head` and `ray-worker`. The cluster is booted manually using `ray_scripts.start`.

### Versions / Dependencies

OS:  amazon/Deep Learning AMI (Ubuntu 18.04) Version 56.1
Ray: 1.13.0
<img wid

[2022-10-17 23:54] shahsmit1 commented on #29420
@ rkooo567 to take a look

[2022-10-17 23:56] clarkzinzow commented on #29098
@c21 @jiaodong We should note that the pipelining implementation changed (on 10/07) from [a manual windowed per-epoch shuffling](https://github.com/ray-project/ray/blob/75a0c491e8ee4009e8828081059cfc98543c4d51/release/nightly_tests/dataset/ray_sgd_runner.py#L206-L224) to the `ray.data.read_parquet().repeat().random_shuffle_each_epoch()` implementation, among other things, in this PR: https://githu

[2022-10-18 00:06] scottsun94 commented on #9786
@rkooo567 Has this been fixed?

[2022-10-18 00:07] clarkzinzow commented on #29294
I've been looking into this, but taking a step back, it looks like this release test has not had a good success rate since August: https://b534fd88.us1a.app.preset.io/superset/dashboard/19/?native_filters_key=V5NMHssrZzj86978-asD6zeCWfwL9FF61U2d4tZ_PE3wDDt6-2hTI6MMw_UcRjIK

[2022-10-18 00:08] amogkam commented on #29420
What does your cluster configuration look like @shahsmit1?

[2022-10-18 00:08] scottsun94 commented on #9692
@wuisawesome Is this already done?

[2022-10-18 00:09] scottsun94 commented on #9672
Is this already done?

[2022-10-18 00:11] scottsun94 commented on #9548
@richardliaw Is this stale? Let's close it so

[2022-10-18 00:11] clarkzinzow commented on #29294
Most recent failure looks to be due to failing to connect to the GCS, making the agent memory leak causing the head node to get OOMKilled more likely: https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_GhqMXjBcR8nutFSsTCc8Z7yp?command-history-section=command_history

[code]

[2022-10-18 00:25] scottsun94 commented on #8776
It seems that this issue has been fixed. Shall we close? @JiahaoYao @KristianHolsheimer

[2022-10-18 00:26] justinvyu commented on #29399
Kai walked me through this test failure. This test will randomly kill nodes via `FailureInjectorCallback`, and the test failure happens when:
1. A trial result comes in and is processed
2. The node this trial is running on is requested to be killed by the failure injector
3. The driver's syncer callback runs on the `on_trial_result` event
4. The node dies
5. The driver is in the middle of syncing,

[2022-10-18 00:35] scottsun94 commented on #6965
cc: @rkooo567

[2022-10-18 00:41] clarkzinzow commented on #28974
@jiaodong With this [PR merged](https://github.com/ray-project/ray/pull/29337), and release tests passing on both the [PR](https://buildkite.com/ray-project/release-tests-pr/builds/18161#0183d7c9-df5b-4f11-8b32-ba440595d6fe) and in [master](https://buildkite.com/ray-project/release-tests-branch/builds/1126#0183e81b-743d-4902-8fa7-673a0ea975d9), I'm closing this as fixed.

[2022-10-18 00:41] #28974 closed

[2022-10-18 02:02] JiahaoYao commented on #8776
Hi @scottsun94 , thanks for reminding, the issue is fixed.

[2022-10-18 02:02] #8776 closed

[2022-10-18 02:31] minerharry opened #29423 "[Core] inspect_serializability bug - parent object serializable but bound method not"
### What happened + What you expected to happen

In dealing with a bug serializing an object (and after some frustration with inspect_serializability() not finding the offending sub-object in the correct location), I ended up running inspect_serializability on every attribute of the object using dir(). After I fixed the original bug, I found that the object itself was serializable but one of its a

[2022-10-18 04:50] minerharry opened #29424 "[Core] Add unpack_args kwarg to imap and imap_unordered"
### Description

Would allow for istarmap and istarmap_unordered super easily. Just needs to pass the argument through to the IMapIterator who then passes it to _submit_chunk. Exactly how map->starmap and map_async -> starmap_async is done. Way better than the multiprocessing interface in that regard.

### Use case

Implicitly (or explicitly if you want) adds istarmap and istarmap_unordered, round

[2022-10-18 07:19] richardliaw commented on #29423
interesting....

do you have any ideas on how to improve this?

[2022-10-18 07:57] vinayakghatul commented on #28747
I would like to work on this issue!

[2022-10-18 08:03] vinayakghatul commented on #3820
I would like to work on this issue.

[2022-10-18 08:16] vedantroy opened #29425 "Ray Cluster (Job Submission)"
### Description

Be able to load zip files locally. Right now, you need to pass in a URL to a object store.

### Use case

See: https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1665837652764489
@rkooo567

[2022-10-18 09:35] jovany-wang commented on #29036
@pratkpranav  But actually, the ownership has not been taken over to me yet.  @ericl CC

[2022-10-18 09:55] rkooo567 commented on #28296
Close since it is working as expected

[2022-10-18 09:55] #28296 closed

[2022-10-18 10:05] rkooo567 commented on #29100
@scv119 @rickyyx I don't think this issue is related to #29199. It has the agent memory leak. But the root cause is the raylet is killed all of sudden in the beg of the run. Look

[code]

When the raylet crashes it only uses 23GB of memory

[2022-10-18 10:06] rkooo567 commented on #29100
I don't think this issue is related to #29199. It is true this has agent memory leak, but it hangs when the mem usage is just 50GB/200GB.

[2022-10-18 13:54] mlguruz commented on #29215
Good morning

Thank you again for the great help!

Following your instructions, I eventually get autoscaling working on our custom Vnet env after modifying (hacking) the templates and `config.py`/`node_provider.py` quite a bit. Once again, truly appreciate your great advice!

There are, however, a few areas where either my current workaround isn't perfect (or simply hacky), or, areas we eventually

[2022-10-18 14:03] bveeramani commented on #28889
Closing because I can't reproduce this issue. Looks like both `ray/ci/env/install-bazel.sh` and `ray/scripts/install-bazel.sh` work.

I was probably in the wrong directory when I got `no such file or directory`.

[2022-10-18 14:34] bveeramani opened #29430 "[Datasets] Add `ray.data.from_torch` and `ray.data.from_tensorflow`"
### Description

Add functions `from_torch` and `from_tensorflow` like the already-added `from_huggingface`.

See also https://github.com/ray-project/ray/pull/24464#issuecomment-1119927932.

### Use case

`from_torch` and `from_tensorflow` would make it easy to try AIR. It'd also improve the consistency of our APIs, because we already have `from_huggingface`.

Let's say I want to try AIR with a si

[2022-10-18 15:02] pconrad-insitro opened #29431 "Core: hang during atexit shutdown handler"
### What happened + What you expected to happen

I was running a badly configured job, which needs lots more memory than was requested. As a result, it caused a lot of OOMs. Ray continued, however, and managed to run much of the computation. However, when calling `ray.shutdown`, either manually, or via the `atexit` handler, it can hang.

Here's the `py-spy dump` output for the atexit handler case.

[2022-10-18 15:06] zoetsekas commented on #28754
same issue here, tried with various tensorflow versions with no luck

[2022-10-18 15:32] richardliaw commented on #28447
fyi @scv119

[2022-10-18 16:02] bveeramani opened #29432 "[AIR] Raise `ValueError` if preprocessor column doesn't exist"
### Description

Instead of getting a long and obnoxious `KeyError`, we should raise a useful `ValueError`.
[code]

### Use case

QOL

[2022-10-18 16:16] shahsmit1 commented on #29420
I have one `ray-worker` container and one `ray-head` container, both instantiated manually using ray scripts, some more details around args that I pass in to `ray_scripts.start` here: https://ray-distributed.slack.com/archives/C030EQH72GG/p1666054187970279?thread_ts=1666049140.015009&cid=C030EQH72GG

[2022-10-18 16:40] gramhagen commented on #29215
yeah, i think leveraging kubernetes will hopefully make this easier to deploy across cloud, as long as Azure supports the necessary fundamental kubernetes functionality, the configuration _shouldn't_ really be different, (other than skus and what not).

i'd love to test out the docker setup on AKS, but I haven't had a lot of time to experiment. I think this is the right direction to go however and

[2022-10-18 16:51] rickyyx opened #29436 "[CI][release] tune_cloud_* failed with protobuf issue on release 2.1"
### What happened + What you expected to happen

A couple of tune_cloud_* test is failing with protobuf issues.

https://buildkite.com/ray-project/release-tests-branch/builds/1129#0183e820-cb38-4967-8315-99ac94e3c312
https://buildkite.com/ray-project/release-tests-branch/builds/1129#0183e820-cb3b-4de6-9dfe-fd095c0dbcf9
https://buildkite.com/ray-project/release-tests-branch/builds/1129#0183e820-cb3

[2022-10-18 16:53] jiaodong commented on #29299
this issue is good to close and not release blocker anymore ?

[2022-10-18 16:55] rickyyx commented on #29436
Seems to be failing in main branch's nightly as well.

[2022-10-18 17:00] #15297 closed

[2022-10-18 17:02] rickyyx opened #29437 "[CI][release] parquet_metadata_resolution failed"
### What happened + What you expected to happen

Looks like some infra issue

[Build ](https://buildkite.com/ray-project/release-tests-branch/builds/1129#0183e820-cbb5-4169-94ab-04e78b3e8bca)
[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_WwnGnSzSRFjhCSBhsTYhhdCK?command-history-section=command_history)

[code]

### Versions / Dependen

[2022-10-18 17:03] gjoliver commented on #29339
I don't see anything 😢
since this has been flaky for at least a quarter now, I am gonna say this is not release blocking for now.
thanks man.

[2022-10-18 17:05] gjoliver commented on #29348
this is not blocking.
it's a weird flakiness for an unimportant algorithm that has been there for a long time.
I have taken off the blocker label and made this a RLlib P0.

[2022-10-18 17:07] rickyyx commented on #29098
Most [recent failure ](https://buildkite.com/ray-project/release-tests-branch/builds/1129#0183e820-cbcf-4edb-951e-73a54dd5829a)on release branch

[2022-10-18 17:14] jiaodong commented on #29334
@rickyyx , @amogkam  just told me the cherrypick PR for this issue is already merged.

[2022-10-18 17:15] clarng commented on #29098
looks like status of the command was killed, and not specifically about the workload that is running? Is this an infra issue?

[2022-10-18 18:25] scottsun94 commented on #28496
Another note: Ray already supports exporting metrics in Prometheus format: https://docs.ray.io/en/latest/ray-observability/ray-metrics.html

[2022-10-18 18:27] clarkzinzow commented on #29294
@rkooo567 agreed!

[2022-10-18 18:29] minerharry commented on #29423
No clue. It seems weird that pickle would get annoyed about this when trying to pickle the method itself but seemingly not care about the parent, so it sounds like a bug to me - but if it's accepted/intended behavior I suppose there's not much to be done.

[2022-10-18 18:32] scottsun94 commented on #28344
What does it mean?
If I don't specify memory resources like this anywhere

The ray status will always show 0 memory used?

[2022-10-18 18:32] clarkzinzow commented on #29229
I think we need tiers of overridable defaults here, both at a single preprocessor level and at a global level:
1. Default batch size for **all** preprocessors that preprocessors or the caller can override.
2. Default batch size for **each** preprocessor that caller can override.
3. API for callers (training, prediction) to override batch sizes.

One question I have is whether (3) should be a singl

[2022-10-18 18:35] #29299 closed

[2022-10-18 18:44] #29334 closed

[2022-10-18 18:44] rickyyx commented on #29334
Closed by https://github.com/ray-project/ray/commit/f55df44e97a3b41d22c2951e76faabd7f95f2f75

[2022-10-18 18:50] amogkam commented on #29229
@clarkzinzow @ericl and I chatted just now.

The decision is to go with Option 1, and introduce option 2 if needed down the line.

We will change the default batch size at the AIR level to be less than 4096 (probably make it 256 by default). And we will also log a warning if batch size is not specified for training or prediction.

[2022-10-18 18:57] c21 commented on #29098
We are debugging with product team now. Looks like same commit which was running successfully, is failing now. So not seem an issue with a specific commit.

[2022-10-18 19:40] rickyyx commented on #29437
Infra issue. Remove as a release blocker.

[2022-10-18 20:07] #29436 closed

[2022-10-18 20:09] c21 commented on #29098
FYI looks like a product issue after Chris Wong tested on an older version of product. He is investigating.

[2022-10-18 20:20] #29128 closed

[2022-10-18 20:50] vakker commented on #22557
Do you have any update on this? Probably a lot has changed since this issue was opened.
Have you done any changes to the sample queues?
I was thinking that "throttling" the rollout workers to match the consumption speed (which can change due to different hardware and network properties) might be a way to reach maximum throughput for a given setup.

E.g.
1. option: GPU is processing the samples slo

[2022-10-18 20:55] gjoliver commented on #29339
huh, thanks I didn't notice it. taking a look.

[2022-10-18 21:34] krfricke commented on #29318
I actually think this might be release blocking after all.

The test does not introduce any deliberate failures. We see failures because bad performing trials try to exploit well performing trials, and this fails after some point. The reason why one trial survives is because after all the other trials failed, it will be the last remaining trial and not try to exploit anything else.

The workload i

[2022-10-18 22:50] gjoliver commented on #22557
hey @vakker, thanks for the message. we didn't really find anything last time.
about throttling either GPU or rollout workers so that their throughputs match, personally I had found it to be really important for a successful training run. otherwise you are wasting capacity at either trainer or sampler side for algorithms like IMPALA and APPO.
I think num_workers is a parameter that everyone should

[2022-10-18 22:53] dejangrubisic commented on #9123
This is great, but one basic functionality is not covered. How would you **retrain** the loaded model?

[2022-10-18 22:57] ckw017 commented on #29098
Note: I've been bisecting on product versions and its working on all of them. Including versions after 10/07.

[2022-10-18 23:28] matthewdeng commented on #29318
Do we know if this functionality ever worked in the past? Seems like fixing PBT uncovered another issue?

[2022-10-18 23:31] ckw017 commented on #27147
Done

[2022-10-18 23:31] #27147 closed

[2022-10-18 23:33] gjoliver commented on #29339
job received a sigterm from where ...

[2022-10-18 23:38] ckw017 commented on #29098
I suspect this is not a product infrastructure issue. Was given these two examples:
* [passing](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_Yz6mBXVxFMbkPCXE9BD5tvrk?command-history-section=command_history)
* [failling](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_PMU7MfTAJLXiMaVVBwCVUpAr?

[2022-10-19 00:14] #28651 closed

[2022-10-19 03:16] KimmiShi opened #29452 "[Ray Log_monitor]: close_all_files ProcessLookupError"
### What happened + What you expected to happen

1. the error log:
[code]

2. expected behavior:
It should not abort?

### Versions / Dependencies

Ray  1.13

### Reproduction script

Sorry I cannot provide.

### Issue Severity

High: It blocks me from completing my task.

[2022-10-19 03:51] minerharry opened #29453 "[Core] util.multiprocessing.pool scheduling inefficiencies, blocking behavior in imap and imap_unordered"
### What happened + What you expected to happen

I was poking around in the ray.util.multiprocessing.pool code and I found that all pool methods schedule chunks to actors purely by cycling the current actor index in the pool. This leads to two issues: first, in all iterable-input methods (map+, starmap+, imap+), since the items (or chunks) are assigned deterministically, bad random patterns in the

[2022-10-19 04:01] yosider commented on #8692
No, I couldn't after all. However, I did not look for a way to do it very deeply.

[2022-10-19 04:51] scv119 commented on #29100
looks at the runs, the tests are inherently flaky?
<img width="2184" alt="image" src="https://user-images.githubusercontent.com/837180/196600443-6eba9b64-4c70-4e80-8838-0e509e110b78.png">

not a release blocker for now.

[2022-10-19 06:37] rkooo567 commented on #29416
+1. I've seen many users starting from deploying on docker

[2022-10-19 06:40] rkooo567 commented on #29425
Please update the issue description. Also cc @architkulkarni to take a look

[2022-10-19 06:40] rkooo567 commented on #29100
Maybe it means we have a deadlock in our protocol (or when we recover tasks)?

[2022-10-19 06:54] nankaimy opened #29455 "how to pip install ray==0.7.1 on windows"
### What happened + What you expected to happen

how to  pip install ray==0.7.1 on windows,thanks

### Versions / Dependencies

how to  pip install ray==0.7.1 on windows,thanks

### Reproduction script

how to  pip install ray==0.7.1 on windows,thanks

### Issue Severity

_No response_

[2022-10-19 07:00] scv119 commented on #29324
@jiaodong so i rerun both commits to 10 runs:

passed 10 times

failed 10 times..

looks the regression caused by this PR is significant :(

[2022-10-19 07:21] jbjuin commented on #25916
Hi Ray ! This is issue is not staled :)
The doc for version 2.0.0 do not show any sign of this "Advanced Traffic Pattern". Any new on this ?
Thanks !

[2022-10-19 08:57] Iqigai commented on #29455
I have a similar issue, it is impossible to install any version of ray on windows 10, python 3.10 I get the message:
C:\WINDOWS\system32>pip install ray
ERROR: Could not find a version that satisfies the requirement ray (from versions: none)
ERROR: No matching distribution found for ray

[2022-10-19 09:41] duburcqa commented on #29455
`ray==0.7.1` is more than 3 years old (Jul 2019), way before Windows was officially supported, not to mention Python 3.8 and upward...

[2022-10-19 10:41] jiahao-shen commented on #10448
Same problem with PPOTrainer with `use_lstm=True`

[2022-10-19 11:01] #29455 closed

[2022-10-19 11:58] juliusvonkohout commented on #14077
Given https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/127-user-namespaces/README.md#phase-2-pods-with-volumes we also might just wait for upstream to make root containers secure. Phase one is already available in kubernetes 1.25 with cri-o 1.25 and containerd 1.17

[2022-10-19 12:37] eromoe commented on #19834
@rkooo567 Got this error on windows too.

[2022-10-19 13:09] vedantroy commented on #21592
@architkulkarni I'm using ray version 2.0.1rc.

I can reproduce this by using the Python SDK to submit a job to a local cluster.
Script:

[code]

[2022-10-19 13:21] Al12rs opened #29456 "[Core] Implement Ray based concurrent.futures.Executor"
### Description

https://docs.python.org/3/library/concurrent.futures.html#executor-objects

It would be very nice to have a ray based (so distributed) implementation of a `concurrent.futures.Executor`, an analogue of `concurrent.futures.ProcessPoolExecutor` simply working on a distributed cluster using Actors.

This would be similar to `ray.util.multiprocessing.Pool` with the important difference

[2022-10-19 13:48] n30111 opened #29458 "[Checkpoint: AIR] Saved checkpoints folders does not include correct training iteration number."
### What happened + What you expected to happen

While enabling the `frequency` parameter In the Keras Callback (`from ray.air.callbacks.keras import Callback`), the checkpoints folder does not include the correct training iteration number.

If we set `frequency=1`, then the checkpoints follow the naming convention `checkpoint_{(iteration-1):06d}`, but if we set `frequency>1`, the saved checkpoint

[2022-10-19 14:12] jkterry1 commented on #23975
Hey, FYI we recently cut a release that made the last of the planned core API changes.

[2022-10-19 15:04] Tehada opened #29461 "[Core] Workers die randomly and crash all pipeline"
### What happened + What you expected to happen

Hello, ray team! Thank you for a great library!

Our company uses ray to launch daily data pipelines and they started to fail ~1 month ago. The error, which crashes pipeline looks like this:

[code]

We run cluster on gcp with spot vms, but we were doing so for around 6 months and it worked fine until recently. To run ray jobs I use sth like `ray ex

[2022-10-19 15:13] #28872 closed

[2022-10-19 16:27] richardliaw commented on #29456
Hey, that's a good point. It would certainly allow for a much faster port to distributed execution.

FYI, @pcmoritz @ericl @scv119 for API surface addition.
cc @simon-mo for previous introduction of concurrent.futures.

[2022-10-19 16:39] c21 commented on #29098
Thanks @ckw017, after bisecting I found https://github.com/ray-project/ray/commit/d99eff919bf785f911e4eebc87ddc4960344a139 is the commit causing test regression here.
* passing (before this commit) - https://buildkite.com/ray-project/release-tests-branch/builds/1133
* failing (with this commit) - https://buildkite.com/ray-project/release-tests-branch/builds/1134

@Yard1 could you help take a look?

[2022-10-19 16:40] bveeramani opened #29465 "[Datasets] Format dataset representation"
### Description

**State of the world**

[code]

**Proposal**
[code]

### Use case

1. Makes schema easier to read in interactive sessions
2. Makes schema easier to read in docstring examples

[2022-10-19 16:41] architkulkarni commented on #21592
@vedantroy Thanks for the details, I'll take a look.  By the way, do you mean version `2.0.0rc0`? Or are you using some version that isn't listed here? https://pypi.org/project/ray/#history

[2022-10-19 17:00] minerharry opened #29466 "[Core] util.multiprocessing.pool: imap and imap_unordered blocking on ray.wait even though processes are complete"
### What happened + What you expected to happen

In testing for #29453, I found that when a long process is put into the imap or imap_unordered queue, it blocks other tasks from being submitted until it finishes (see the linked issue for the script I used to find that). Specifically, if pool actor A is given a long task, actor B will execute a short task but not execute its *next* task until actor

[2022-10-19 17:07] architkulkarni commented on #21592
I actually can't reproduce this on Ray 2.0.0 or on master.  Here's a minimal reproduction I used (since I don't have `job_file`), and I tried it both with `RAY_ADDRESS` environment variable set and without:
[code]

Do you mind double checking what `ray --version` returns?

Also, inside your `job_file` or in the `entrypoint` script, can you print `os.environ.get("RAY_ADDRESS")` and `ray.__version__

[2022-10-19 17:21] scv119 opened #29468 "[Core] Infeasible requests leaked even if the submitting job is canceled"
### What happened + What you expected to happen

 Here’s a basic example that shows that behaviour:
[code]
Assuming that it is in a script called unfeasible_request.py, if you run it as:
``
python unfeasible_request.py 16
[code]
(scheduler +3s) Error: No available node types can fulfill resource request {'CPU': 16.0}. Add suitable node types to this cluster to resolve this issue.
[code]
======== A

[2022-10-19 17:55] rickyyx opened #29471 "[CI] `linux://rllib:examples/bandit/tune_lin_ucb_train_recsim_env` is failing/flaky on master and release test"
- 2bb96b738440f4798d4dfad85bc137b20562b159 FAILED [Buildkite :brain: RLlib: Examples {A..B}](https://buildkite.com/ray-project/oss-ci-build-branch/builds/587#0183ed40-1b6f-4a14-ab85-bc8f7af49646)
- 575ea65f7877c20fedcdd75f58287f7a85615b40 FAILED [Buildkite :brain: RLlib: Examples {A..B}](https://buildkite.com/ray-project/oss-ci-build-branch/builds/574#0183ec6a-febd-4afc-a547-e9503e46ea84)
- c06627

[2022-10-19 17:56] rickyyx commented on #29471
[Timing out](https://buildkite.com/ray-project/oss-ci-build-branch/builds/599#0183f128-2022-4093-87db-87e32a7ec8ec) on release branch

Is this a release blocker?

[2022-10-19 17:59] rickyyx opened #29472 "[CI] `linux://rllib:connectors/tests/test_agent` is failing/flaky on master/release 2.1"
- 2a2001d95f9fcddd763043efecc1512e32ff2f36 FAILED [Buildkite :brain: RLlib: Everything else (env-, evaluation-, ... dirs)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/533#0183d797-df76-4ef6-908d-84530f503426)
- 9fb3bc5639493c0d6756d57b6ae02581f138df87 FAILED [Buildkite :brain: RLlib: Everything else (env-, evaluation-, ... dirs)](https://buildkite.com/ray-project/oss-ci-build-bran

[2022-10-19 18:00] rickyyx commented on #29472
Release [branch timeout](https://buildkite.com/ray-project/oss-ci-build-branch/builds/598#0183f121-d061-4346-91a3-24c87d6ac7c2)

Let me know if this should be a release blocker.

[2022-10-19 18:01] rickyyx opened #29473 "[CI] `linux://rllib:env/tests/test_local_inference_cartpole` is failing/flaky on master/release branch"
- 5229df15ab71baf22ade6a3ff14e921be10b3a25 FAILED [Buildkite :brain: RLlib: Everything else (env-, evaluation-, ... dirs)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/477#0183c9b3-b1f4-4cf7-9336-c04fb89e932d)
- fe3c2294f08fd27867d77d0e3dc3ebfeba0d6d05 FAILED [Buildkite :brain: RLlib: Everything else (env-, evaluation-, ... dirs)](https://buildkite.com/ray-project/oss-ci-build-bran

[2022-10-19 18:12] rickyyx commented on #29473
Release branch [timeout](https://buildkite.com/ray-project/oss-ci-build-branch/builds/598#0183f121-d061-4346-91a3-24c87d6ac7c2)

[2022-10-19 18:16] gjoliver commented on #29472
this one is already fixed in MASTER. I don't know if we need to cherry pick the fix, since it's a fix for the test.
let me know.
otherwise, it should be safe to just close this one.

[2022-10-19 18:35] rickyyx commented on #29472
Cherry picked in.

[2022-10-19 18:35] #29472 closed

[2022-10-19 18:49] mlguruz commented on #29215
that makes sense, and we're making efforts in that direction.

yeah sys & py versioning is critical to me so docker is a natural candidate.

absolutely. through out the pass wk or so customization process, below is what I hope we could expose to pub:
1. msi - I struggled a lot on making sure the managed identity has the correct perms and stuff. also, as of 3.0.0dev, I see this is exposed as a "par

[2022-10-19 18:54] rickyyx commented on #29399
Cherry pick?

[2022-10-19 18:57] scv119 opened #29474 "[Core][OOM Prevention] Calculate memory usage in cgroup v2."
### What happened + What you expected to happen

Today we calculate the memory usage for  cgroup v1 and bare linux; but the support for cgroup v2 is yet to be implemented. (reference PR https://github.com/ray-project/ray/pull/29103)

We can follow https://github.com/google/cadvisor/blob/master/container/libcontainer/handler.go#L836 to calculate the current memory usage for cgroup v2.

Ideally we w

[2022-10-19 19:00] #29399 closed

[2022-10-19 19:03] gramhagen commented on #29215
if you've created your own image and are hosting it using azure compute gallery it will have an id, you can use that in the imagereference field of the vm template instead of publisher/offer/sku/version
https://learn.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachines?pivots=deployment-language-arm-template

this is definitely something that should be exposed so people can use th

[2022-10-19 20:34] amogkam commented on #29458
Thanks for reporting the issue @n30111! Indeed, definitely something we should fix.

I think we should switch to using the Tune Session API internally instead of `tune.checkpoint_dir`, and then on the Tune side, it can fill in the checkpoint `step` the `training_iteration` in the corresponding metrics. cc @xwjiang2010 @Yard1

[2022-10-19 20:50] scottsun94 commented on #28018
Is this fixed by the PR? Could we close? @suquark

[2022-10-19 20:52] scottsun94 commented on #27947
@clarng Could you confirm^? Shall we close this then?

[2022-10-19 20:57] scottsun94 commented on #27800
@ljjsalt Is this fixed by the merged PR? Shall we close then?

[2022-10-19 20:57] ljjsalt commented on #27800
@scottsun94
Yeah, I think the merged PR fixed the issue.

[2022-10-19 21:02] #27800 closed

[2022-10-19 21:31] rkooo567 commented on #28074
cc @DmitriGekhtman can you take a look at the issue?

[2022-10-19 21:54] amogkam commented on #29396
Reopening to track cherry pick

[2022-10-19 22:05] DmitriGekhtman commented on #28074
This seems quite reasonable.
@csaimd would you like to open a PR implementing the suggested change?
I'd be glad to review and make sure it's merged!

[2022-10-19 22:09] clarng commented on #28074
fyi we already fixed this for cgroup v1 docker here : https://github.com/ray-project/ray/pull/29103, @avivhaber  is looking into fixing this for cgroup v2 docker

[2022-10-19 22:10] clarng commented on #27947
I think we need a use case and then implement the custom message for worker crash error. Right now the error is hardcoded

[2022-10-19 22:24] #29471 closed

[2022-10-19 22:49] richardliaw commented on #29456
BTW, assuming we are OK with the proposal, @Al12rs would you be open to pushing a PR?

[2022-10-19 22:57] scv119 opened #29484 "[Core] linux://python/ray/tests:test_memory_pressure is flaky"
### What happened + What you expected to happen

as title, looks the failure is a bit scary?

[code]
https://buildkite.com/ray-project/oss-ci-build-branch/builds/601#0183f153-48de-48f8-b82e-153c1b847442

### Versions / Dependencies

latest

### Reproduction script

run test locally

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-10-19 22:58] Al12rs commented on #29456
I'm afraid I'm not confident to have the knowledge or the free time to contribute directly.

[2022-10-19 23:10] rkooo567 commented on #25523
@alanwguo said it is fixed. @rkooo567 to verify and close.

[2022-10-19 23:18] c21 commented on #29294
This test looks flaky, get a succeessful run on release branch later - https://buildkite.com/ray-project/release-tests-branch/builds/1123#0183d941-4949-4929-b3c8-233d0ca816e1 . Removed as release blocker.

[2022-10-19 23:43] rickyyx commented on #29319
So this is caused by agent leak?

[2022-10-19 23:45] rickyyx commented on #29396
Could this one be closed after merging #29481 ?

[2022-10-20 00:42] #29396 closed

[2022-10-20 01:36] clarkzinzow opened #29489 "[Datasets] Concatenation of homogeneous-shaped tensor columns can produced variable-shaped tensor columns"
Concatenating homogeneous-shaped tensor column can result in a heterogeneous-shaped tensor column, but this currently fails silently by continuing to consider it a homogeneous-shaped tensor column, until accessing the data fails somewhere downstream of the concatenation.

E.g., if you have 5 images of shape (32, 32) in one block, and 5 images of shape (64, 64) in another block, the image column in

[2022-10-20 01:39] clarkzinzow opened #29490 "[Datasets] No tensor column casting for `ds.to_pandas()`, `ds.to_dask()`, etc."
Datasets automatically casts tensor extension types to opaque object-dtyped columns for user-facing Pandas DataFrame batches (e.g. in `.map_batches()` and `.iter_batches()`), but we currently don't do this casting for `ds.to_pandas()`, `ds.to_dask()`, etc. We should cast tensor columns Pandas views of Datasets to an opaque object dtype, to match the semantics of our batch UDFs and iterators.

This

[2022-10-20 03:01] dumpmemory commented on #29458
There is the same issue for HuggingfaceTrainer, when using steps for saving frequency, like 1000 steps, the first checkpoint is checkpoint 00000, not checkpoint1000.

[2022-10-20 03:09] clarkzinzow opened #29492 "[Datasets] Concatenating large chunks of string/binary/list columns in Arrow tables can cause offset overflow."
There's a [long-known bug in Arrow](https://issues.apache.org/jira/browse/ARROW-9773) where concatenating large chunks of string/binary/list columns in Arrow tables can cause offset overflow. We should try to work around this at the Datasets level, detecting this at concatenation time and upcasting the 32 bit int offsets to 64 bit offsets **before** the concatenation, if possible.

[2022-10-20 03:20] jiaodong commented on #29324
sigh, ok let me see what i can do to change imports then.

[2022-10-20 03:22] clarkzinzow opened #29493 "[Datasets] Variable-shaped tensors with uniform first dimension (e.g. imagery channel) will fail."
`np.array([arr1, ...])` on arrays with a uniform first dimension but ragged latter dimensions will try to broadcast the latter dimensions, which will fail. This breaks our variable-shaped tensor column construction. We should catch this failure and try a create-and-fill route, with `np.empty(num_rows, dtype=object)`.

[2022-10-20 03:31] Jack47 commented on #7239
so redis is not a mandatory since  ray 1.10, see this ray blog:
https://www.anyscale.com/blog/redis-in-ray-past-and-future

[2022-10-20 04:30] #29473 closed

[2022-10-20 05:40] Coastline-lhy opened #29496 "QMixagent.compute_single_action(obs['group_1'], state) error?"
### What happened + What you expected to happen

ray_results/DangerUAV2_v1/QMIX/QMIX_DangerUAV2_v1_83686_00000_0_2022-10-05_13-49-20/checkpoint_001500/checkpoint-1500
2022-10-13 13:00:31,396	INFO trainable.py:669 -- Restored on 172.28.0.2 from checkpoint: ray_results/DangerUAV2_v1/QMIX/QMIX_DangerUAV2_v1_83686_00000_0_2022-10-05_13-49-20/checkpoint_001500
2022-10-13 13:00:31,397	INFO trainable.py:

[2022-10-20 06:15] vedantroy commented on #21592
@architkulkarni Ahhh! For some reason; the issue has vanished -- even though I spent at least an hour dealing with it last night. If it happens again, I'll upload an asciinema recording so you know I'm going insane heh.

[2022-10-20 07:03] #29496 closed

[2022-10-20 07:05] Coastline-lhy commented on #29496
I am sorry，just input timestep will solve it.

[2022-10-20 07:06] LinWencong commented on #21524
I meet the same issue;

[2022-10-20 07:12] rkooo567 commented on #29324
I think we should handle this issue asap. @jiaodong I wonder

1. Were you able to figure out the root cause of slow down? Based on the history, this is highly likely due to importing some expensive modules & they are imported upon starting a new worker process.
2. If not, https://github.com/ray-project/ray/pull/27658 -> is this fix reasonable?

[2022-10-20 07:24] Tehada commented on #29461
No, it is up after the exception, I can even ssh into it.

[2022-10-20 07:25] wjrforcyber commented on #22319
I am still seeing this with python 3.9.1 and ray 1.13.0, btw:
macOs Monterey, version 12.5
chip Apple M2
Memory 24 GB
My error message:
[code]

[2022-10-20 07:25] rkooo567 commented on #29319
yeah this one seems to be due to agent leak. Let's re-run after merging https://github.com/ray-project/ray/pull/29451

[2022-10-20 07:25] rkooo567 commented on #29319
I will take this issue @gjoliver @matthewdeng

[2022-10-20 07:47] rkooo567 commented on #29461
Have you tracked the memory usage of the cluster? I recommend you to set up prometheus after upgrading to ray 2.0. https://docs.ray.io/en/master/ray-observability/ray-metrics.html. Many times this sort of issue happens due to OOM (like your workers use too much memory and OS kills them randomly)

[2022-10-20 07:52] rkooo567 commented on #27947
custom message meaning users can provide their own error? Or does it mean we should fill up more details in worker crashed error? If it is the former, can yo show me some API example?

[2022-10-20 08:39] aschuh-hf opened #29499 "[Autoscaler] Delete AWS resources created when launching Ray cluster upon cluster termination"
### Description

Given a `cluster.yaml` configuration with `provider.cache_stopped_nodes=False`, the EC2 instances created by `ray up` are being terminated by `ray down`, effectively destroying the cluster. The cluster launcher automatically creates a set of default AWS resources required by the Ray cluster. Some of these default resources are shared between different Ray clusters (e.g., IAM role

[2022-10-20 08:49] wjrforcyber commented on #19792
I am still seeing this issue on macOS
macOs Monterey, version 12.5
chip Apple M2
Memory 24 GB
ray 1.13.0
My error message:

[code]

[2022-10-20 09:41] wjrforcyber commented on #18876
Saw this exact same issue again, how's everything going...

[2022-10-20 10:12] vakker commented on #29199
Sure, I submitted a job yesterday, it's been running for 13.5h now, and the memory usage of `agent.py` is ~10GB, which is I think better than before.

Correct me if I'm wrong, but changing the interval only changes how fast the process leaks memory, but it doesn't address the leak itself?

[2022-10-20 10:19] aschuh-hf opened #29500 "[Datasets] Expression of type "Dataset[ArrowRow]" cannot be assigned to return type "Dataset[TableRow]""
### Description

Using VS Code type checking "basic", it reports incompatibility between `Dataset[ArrowRow]` and `Dataset[TableRow]`.

### Use case

Using `Dataset[TableRow]` to annotate a function which returns the result of `ray.data.from_pandas`, where `Dataset` and `TableRow` are public API, whereas the concrete type `ArrowRow` which is subclass of `TableRow` is an internal detail.

[code]

Wo

[2022-10-20 11:10] rkooo567 commented on #29199
State: Short term mitigation PR merged.

Yeah @vakker you are right. I think the PR I merged will drastically reduce the mem leak, but it is not the fundamental fix, and we have a follow-up work we will merge by the next release (2.2 around Dec). I also highly encouraged you to try 218f9ba6312f1aeb29203a3e00822c70f972c742 -> this commit to see the pace of the leak (it should be even slower).

The

[2022-10-20 11:26] aschuh-hf opened #29501 "[Datasets] "TensorArray" is not exported from module "ray.data.extensions.tensor_extension""
### Description

VS Code basic type checker warns about import of `TensorArray` from `ray.data.extensions.tensor_extension`.

[code]

### Use case

_No response_

[2022-10-20 13:41] antonioaa1979 opened #29502 "[RLlib] "model": {"free_log_std": True} generates Tensorflow Lambda layers warning with TF2 framework"
### What happened + What you expected to happen

Hi, trying to train PPO algo with tf2 framework. Whenever my configuration has:

 "model": {"free_log_std": True}

I get following warning message, which is a bit concerning.

(RolloutWorker pid=62139) WARNING:tensorflow:
(RolloutWorker pid=62139) The following Variables were used a Lambda layer's call (lambda), but
(RolloutWorker pid=62139) are not

[2022-10-20 13:45] simonsays1980 commented on #9075
There are two solutions at this point that worked out so far:

1. Try to wrap your environment into an `ExternalEnv` and avoid the `PolicyInputServer` completly.
2. Inherit from `PolicyInputServer` and start `Actor`s that contain your environment logic and start your external simulator. Here you have to also implement the fault intolerance to deal with the external simulator, i.e. a plan how to de

[2022-10-20 14:35] spolcyn opened #29503 "[Core] PyArrow version is out of date"
### What happened + What you expected to happen

The current PyArrow version is locked at <7, which prevents us from using Ray and a modern PyArrow (e.g., v9) version at the same time: https://github.com/ray-project/ray/blob/master/python/requirements.txt#L61.

We'd expect to be able to use the latest version with Ray.

### Versions / Dependencies

Ray 2.0.0

### Reproduction script

Attempt to bu

[2022-10-20 15:18] clarkzinzow commented on #29503
Hi @spolcyn, thank you for opening this issue! This upper-bound on Arrow is due to a bug in pickling Arrow data that would make using Arrow 7+ in Ray untenable. I actually have a PR out adding support for Arrow 7+ (fixing this Arrow serialization issue with our own workaround), up to the latest stable release (Arrow 9). We expect this to land for Ray 2.2.

Are there any details you can share about

[2022-10-20 16:13] jjyao opened #29507 "[Core] Better error message when using allow_multiple option with a non-ray-client address"
### What happened + What you expected to happen

[code]
A better error message could be that `allow_multiple` can only be used when the address is in ray-client format.

### Versions / Dependencies

master

### Reproduction script

https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1666091770165799

### Issue Severity

_No response_

[2022-10-20 16:51] jiaodong commented on #29324
@rkooo567 just got time back to this thread again --

1) The reason #28418 could relate to slowdown is because during diff reviews we wanted to unify conversion utils from ray.data to ray.air, however ray.air's import is tied to ray scheduling task level while data is not, thus surfaced a number of expensive imports previously only living in ray.data.
2)  Yep it is. Let me look into it and see if

[2022-10-20 16:59] architkulkarni commented on #21592
Ah I see, thanks for following up!  I'll close the issue for now.

[2022-10-20 16:59] #21592 closed

[2022-10-20 17:02] architkulkarni commented on #19792
Hi @wjrforcyber, do you have any more details about your workload?  Are there any relevant logs in `/tmp/ray/session_latest/logs/ray_client_server_23000.err`?

[2022-10-20 17:15] mattip commented on #12481
I am closing this, since we did not get any response after #25806 was merged. Please open a __new issue__ if this returns, with a complete reproducer.

[2022-10-20 17:16] mattip commented on #13780
@richardliaw what action should we take here?

[2022-10-20 17:17] mattip commented on #28542
@richardliaw can we close this as an wandb problem?

[2022-10-20 17:18] mattip commented on #28478
We have had no update from the OP on describing their hardware, and have been unsuccessful in reproducing. I am closing, please reopen with more info or open a new issue as appropriate.

[2022-10-20 17:18] #28478 closed

[2022-10-20 17:21] #29298 closed

[2022-10-20 17:21] mattip commented on #27421
Still waiting for a reproducer script ...

[2022-10-20 17:28] mattip commented on #12128
I think we should close this. There are various other issues about linux aarch64 and maxos arm64. This issue is about arm7, which is not supported on PyPI so even if we could create a wheel we would have to host it on a non-standard platform like [piwheels](https://github.com/piwheels/packages/issues).

[2022-10-20 17:31] mattip commented on #21786
This is different from #12128, which is specific to raspberry pi wheels. Those are difficult to publish since they are not supported on PyPI.

[2022-10-20 17:33] mattip commented on #21994
I wonder if there is something about the python provided in the windows store that changes the way job creation happens.

[2022-10-20 17:44] mattip commented on #28356
What are the steps to reproduce the document build on M1, starting from `conda create` ?

[2022-10-20 17:47] Tehada commented on #29461
Yeah, I see your point, but I specificially used dummy task which was doing only time.sleep to check for OOM. It appeares that even doing only time.sleep leads to the problem, described above.

[2022-10-20 17:54] kouroshHakha opened #29514 "[RLlib][OfflineRL] Cannot simultaneously have loader_fn for train data and have input_config with `format` for evaluation"
### What happened + What you expected to happen

The partial overriding of algorithm config with evaluation config is causing a bug when we specify `loader_fn` for training but want to use `format` + `paths` for evaluation.

This config will raise an error saying that `format` and `loader_fn` cannot be specified at the same time, because the evaluation config passed into the validation dataset rea

[2022-10-20 17:58] jiaodong commented on #29324
To make it easier to debug, on the good runs we're getting **20~60 iter/s**

[code]

And from runs with regression we're getting **9~10 iter/s**

[code]

[2022-10-20 18:11] mattip commented on #4309
I changed the title to be about ppc64le. Is the goal to provide a ppc64le wheel, conda package, or to provide clear instructions how to build for ppc64le?

[2022-10-20 18:15] mattip commented on #7476
Also see #4309 (for ppc64le) and #13780 (for aarch64/macos arm64).

[2022-10-20 18:15] mattip commented on #22640
Closing as fixed in master.

[2022-10-20 18:15] #22640 closed

[2022-10-20 18:20] GHUserNameLL commented on #23637
hi @gjoliver , did you solve the issue? Same problems here.

[2022-10-20 18:22] mattip commented on #19834
Could someone provide a clear reproducer and description of the hardware/software stack?

[2022-10-20 18:45] xwjiang2010 opened #29516 "[AIR] Horovod trainer workload only using one GPU resources"
### What happened + What you expected to happen

Using the script here:
https://github.com/ray-project/ray/pull/29505

both workers are using the same GPU...

See

![Screen Shot 2022-10-20 at 11 45 04 AM](https://user-images.githubusercontent.com/87673679/197031956-c412f271-82f7-4a80-b2f1-e7f51324364c.png)

### Versions / Dependencies

See above

### Reproduction script

See above

### Issue Sever

[2022-10-20 18:46] xwjiang2010 commented on #29516
cc @amogkam

[2022-10-20 18:47] xwjiang2010 commented on #29516
![Screen Shot 2022-10-20 at 11 46 53 AM](https://user-images.githubusercontent.com/87673679/197032395-ccd7dd45-2698-4458-9582-f07651dc4001.png)

[2022-10-20 18:48] Tehada commented on #29461
Also, got some more deails on problem: when pipeline crashes, spot vm's with workers actually stay forever, unless I will stop them manually from google cloud website. On stuck vm's I see that docker container of ray is not up (output of `docker ps` is empty), hence, the reason that ray's head node couldn't communicate with it. This could be somehow related to the another issue: when executing `ra

[2022-10-20 18:51] AlessandroZavoli commented on #4309
Yes, a conda package would be perfect

[2022-10-20 19:00] mattip commented on #28447
They are available in the [nightly builds](https://docs.ray.io/en/master/ray-overview/installation.html?highlight=nightly#daily-releases-nightlies) at [this link](https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp310-cp310-win_amd64.whl]. Maybe the upload process at 2.0 release time missed them?

[2022-10-20 20:01] kevin85421 commented on #28356
I rebased the current master branch, and I could build the document on my M1 with Python 3.8.13 now. Honestly, I am not sure what happened. Thank @mattip and @matthewdeng for the follow-up. Feel free to close this issue.

[2022-10-20 20:03] mattip commented on #28356
Ok, thanks for getting back. Closing.

[2022-10-20 20:03] #28356 closed

[2022-10-20 20:10] mattip commented on #9259
This issue seems to have collected a number of different setups, all with the same error but with no clear common denominator. It is not clear what they share, but there are hints around networking problems and open ports. Since redis is no longer required, I will close this. If network issues recur, we should try to figure out if firewalls are involved.

Please open a new issue and describe your

[2022-10-20 20:10] #9259 closed

[2022-10-20 20:45] jianoaix opened #29519 "[Datasets] Make it easier to run all data workload in a heterogeneous cluster"
It's an architecture pattern in Ray to run data workload in a group of CPU nodes (aka. data nodes) and ML workload in a group of GPU nodes (aka. training nodes), forming a heterogeneous cluster. We already have a few users run this in production successfully.

The way to achieve this via setting custom_resource for CPU nodes (e.g. {"DATA_NODE": 1000000}, 1 million units of a virtual custom resourc

[2022-10-20 21:14] ericl commented on #26083
I think this flag specifically only makes sense for read operations on files. It's basically saying to treat `file://` URIs as a local-only resources instead of networked. I don't know why you'd ever want this on other operations, which don't have such URI dependencies.

[2022-10-20 21:27] reisub0 commented on #12128
@mattip I respectfully disagree.

- Until we have first class ARM support for Ray from the toolchain and CI/CD side, I would recommend against closing this issue. I believe that until more time and energy is invested in this, this is going to remain open for a while because it's a subtle thing that needs to be solved at the root. (How to solve it at the root is pretty much documented in the histor

[2022-10-20 21:41] rickyyx commented on #29318
Declaured non release blocking

[2022-10-20 21:59] krfricke opened #29524 "[air] Preprocessing with new column names does not work for CPU processing"
### What happened + What you expected to happen

I'm working on smoke testing in the PR: https://github.com/ray-project/ray/pull/29173

In particular, I'm trying to introduce a smoke test for the gpu_batch_prediction test. This smoke test will run on CPU.

https://github.com/ray-project/ray/pull/29173/files#diff-53bdec7252c0a7c7488d370da89e1b552e05af54afb6e053fd2de1b36b6ab2eb

When running this, I

[2022-10-20 22:07] bveeramani opened #29525 "[Tune] [Docs] `PlacementGroupFactory` reference should link to Placement Group guide"
### Description

[ray.tune.execution.placement_groups.PlacementGroupFactory](https://docs.ray.io/en/latest/tune/api_docs/internals.html#ray.tune.execution.placement_groups.PlacementGroupFactory) talks about placement groups and bundles, but doesn't define either term. So, we should link to the [placement group user guide](https://docs.ray.io/en/latest/ray-core/placement-group.html).

### Link

htt

[2022-10-20 22:12] krfricke commented on #29524
As a success criteria, this issue should be closed once we have added unit smoke tests for gpu_batch_prediction and pytorch_training_e2e

[2022-10-20 22:16] clarkzinzow commented on #29524
Oh wow, this is a great point! We should definitely delay the feature column selection until preprocessing has completed within the predictor.

@amogkam What if we pushed feature column selection into [`Predictor.predict(batch, feature_columns, **kwargs)`](https://github.com/ray-project/ray/blob/02f911ce78137cb63ecb685a8ef8e56dcb60062c/python/ray/train/batch_predictor.py#L198-L203) as a top-level

[2022-10-20 22:20] avnishn opened #29528 "[RLlib] Benchmark bandit methods vs plain Thompson Sampling for a non-contextual MAB"
### Description

This would be a useful datapoint in convincing users who use non contextual bandits over to using RLlib's contextual bandits.

We would need a dataset of sorts, perhaps open bandit dataset. https://github.com/st-tech/zr-obp

### Use case

RL for Recsys

[2022-10-20 22:29] rkooo567 opened #29530 "[Core][Test] Gcs_placement_group_test fails with asan"
### What happened + What you expected to happen

<img width="806" alt="Screen Shot 2022-10-20 at 3 28 30 PM" src="https://user-images.githubusercontent.com/18510752/197071038-dc3452ff-2a39-4415-ab32-0f8f9aa66050.png">
https://buildkite.com/ray-project/oss-ci-build-branch/builds/636#0183f6c2-1f11-4c14-bef5-21caed593b2b

Seems to start happening recently. We should fix it

### Versions / Dependencie

[2022-10-20 22:34] rickyyx commented on #29324
Also, looks like the task regression shows up in other task related benchmark as well: https://github.com/ray-project/ray/pull/29529/files#r1001181635

Will see how this looks up after the linked PR is merged.

[2022-10-20 23:12] #29516 closed

[2022-10-20 23:16] amogkam commented on #29524
@clarkzinzow I think we should separate out all of these things (preprocessing, feature column selection, prediction, and keep column selection) as separate stages. Then in BatchPredictor, make the dataset lazy and therefore delegate to Datasets to make all the stage fusion decisions.

At the BatchPredictor level, we don't need to do stage fusion special casing like this. Stage fusion is contained

[2022-10-20 23:16] amogkam commented on #29524
So concretely, feature column and keep column selection can just become preprocessors.

[2022-10-20 23:19] #29493 closed

[2022-10-20 23:22] chongxiaoc commented on #11966
Any documentation about correctly initializing Ray inside a docker container? Hitting same issue here.

[2022-10-20 23:50] vedantroy commented on #29160
Does this solve https://github.com/ray-project/ray/issues/29168?

[2022-10-20 23:59] rickyyx commented on #29319
https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_ibY1y8rd6B5JzgYyyYxMksek?command-history-section=command_history most recent nightly still failed.

[2022-10-21 00:04] cadedaniel commented on #29530
In https://buildkite.com/ray-project/oss-ci-build-branch/builds/636#0183f6c2-1f11-4c14-bef5-21caed593b2b I see two distinct failures out of the three failures:

[code]
* https://gist.githubusercontent.com/cadedaniel/34d2470f654368f37458c71b21e2c976/raw/fb78780b0d22c80abe2f9f9f05aeb58cd878f44c/gistfile1.txt
* https://gist.githubusercontent.com/cadedaniel/f06369af0826c43b5faa548b71543ae5/raw/0b60c10

[2022-10-21 00:14] scottsun94 commented on #11966
cc: @DmitriGekhtman

[2022-10-21 00:42] rkooo567 commented on #23388
oh yeah this is the important issue

[2022-10-21 01:24] wjrforcyber commented on #19792
I found another issue with the [exact same log here](https://github.com/ray-project/ray/issues/18876) but no more discuss and bot had the issue closed. I think it's still a M2 chip issue.

[2022-10-21 01:30] cadedaniel commented on #29530
Some observations and a hypothesis:

* There are two unique stacktraces, I’m only looking so far at the first one.
* Both stacktraces fail in GcsPlacementGroupManagerTest::TestRemovingLeasingPlacementGroup
* GcsPlacementGroupManager is not thread safe (I don’t see any locking and [this comment](https://github.com/ray-project/ray/blob/2c032ebe0ce8e625796491030a759e5e01edbef9/src/ray/gcs/gcs_server/

[2022-10-21 01:33] rkooo567 commented on #29530
I think that's a reasonable guess! So it is test specific right? Lmk how this goes!

[2022-10-21 01:50] cadedaniel commented on #27709
Hmm I'm doubtful they're the same since `unexpected end of data` is pretty telling, discussing more here https://discuss.ray.io/t/entire-ray-cluster-dying-unexpectedly/7977

[2022-10-21 03:47] chongxiaoc commented on #11966
After upgrading to Ray 2.0, issue is gone on my side.

[2022-10-21 05:23] jiaodong commented on #29324
So I manually verified failed runs # of cpus used, where threshold for passing is 2500 * 0.7 = 1750 / 4096 CPUs used.

Before
[code]

After ([cluster link](https://console.anyscale.com/o/anyscale-internal/clusters/ses_KvP3hCm9DG1Aq4JEg7vUUAS2?command-history-section=command_history)) with #29517

[code]

[2022-10-21 05:53] scottsun94 commented on #27740
cc: @rkooo567

[2022-10-21 05:59] rkooo567 commented on #27740
@WangTaoTheTonic do you have a plan to make a PR? Otherwise I can fix it

[2022-10-21 06:01] scottsun94 commented on #27591
cc: @rkooo567 @ericl @clarng

[2022-10-21 06:04] rkooo567 commented on #27591
This is technically not a bug. But I agree this is confusing.

Maybe alternatively, we can just make spill worker fate share with the job, so they are cleaned up..

[2022-10-21 06:17] scottsun94 commented on #26761
Are you able to get a repo? @JiahaoYao

[2022-10-21 06:29] rkooo567 commented on #29324
The suggestion sounds reasonable to me! Can you also run 5~10 times for this new run and see how many times it fails?

[2022-10-21 06:33] #23066 closed

[2022-10-21 06:39] rkooo567 commented on #29319
The fix PR was merged after this date (it is merged on 20th).

[2022-10-21 06:44] rkooo567 commented on #29319
manually triggered here https://buildkite.com/ray-project/release-tests-pr/builds/18758

[2022-10-21 06:46] rkooo567 commented on #29431
cc @cadedaniel

[2022-10-21 06:48] rkooo567 commented on #29412
your zip file seems to be empty when I downloaded.

What's the log from dashboard_agent.log? We need to understand why this component failed!

[2022-10-21 06:56] shrekris-anyscale opened #29539 "[Serve] `ServeHandles` fail on first request if GCS is down"
### What happened + What you expected to happen

If the GCS crashes before a `ServeHandle`'s first request, the `ServeHandle` cannot process any requests, even if there are replicas alive. However, if it crashes after the `ServeHandle`'s first request, the `ServeHandle` _can_ process requests as long as there are replicas alive.

I would expect the `ServeHandle` to fulfill any requests even if the

[2022-10-21 07:20] shrekris-anyscale commented on #29539
I confirmed that this issue is not on a per-method basis. It doesn't matter how many methods the deployment has. The `ServeHandle` only fails if hasn't processed at least 1 request on any method.

Repro script:

[code]

[2022-10-21 07:29] jovany-wang commented on #27740
@rkooo567 It will be good if you take this.

[2022-10-21 07:31] pratkpranav commented on #29412
Mac messed it up earlier i guess. Could you please check it now?

[2022-10-21 07:38] clarkzinzow commented on #26083
+1 to @ericl's assessment, the primary use case is wanting to read/write small datasets from/to local disk. A full-on local mode for all operations is out-of-scope for this feature IMO, and it can already be achieved with the hard local mode affinity scheduling strategy in the `DatasetContext` anyway (might be worth documenting this as a debugging route).

[2022-10-21 07:56] rkooo567 commented on #29412
Would you be willing to help us debugging after we merge https://github.com/ray-project/ray/pull/29540? You can use the nightly wheel and give us another log when things fails.

[2022-10-21 07:57] rkooo567 commented on #29412
We will also try reproducing it ourselves, but from the repro script, it seems to be more env-specific issue than Ray (like the agent detects if parent is dead via `psutil.parent`, but this seems to sometimes not work in your env based on your logs. Raylet will kill itself if agent is killed).

[2022-10-21 07:57] pratkpranav commented on #29412
Sure

[2022-10-21 07:59] mattip commented on #6626
I think we should close this. Ray now builds with bazel 4.2.2.

[2022-10-21 09:56] ajaffe-lyft opened #29543 "[RLlib] MultivariateNormal distributions in bandits do not actually update sample variance"
### What happened + What you expected to happen

For the conclusion first, it looks like BanditLinUCB and BanditLinTS are both broken because the variance of the parameter estimates appear to be fixed to 1 at initialization.

Investigation ahead!

A teammate and I were experimenting with using BanditLinTS against a toy data example we created with arms with fixed reward ratios.

As we ran the expe

[2022-10-21 10:21] cheadrian commented on #16425
I think there should be an argument to set the `evaluation_num_workers` for ScalingConfig and count it in total number of workers for clarity or to limit total number of workers to the value that is set in ScalingConfig as if there are additional workers set in `config={}` the number will pass.

[2022-10-21 10:37] ayushthe1 commented on #29525
hey @bveeramani ,i would like to work on this issue.

[2022-10-21 10:45] ayushthe1 commented on #29525
#self-assign

[2022-10-21 11:22] simonsays1980 commented on #23637
@GHUserNameLL on which system are you installing. For Linux I have created an [installation help](https://discuss.ray.io/t/rllib-installation-help/5577/7?u=lars_simon_zehnder) in the forum and even an [installation shell script](https://github.com/simonsays1980/ray-installation-help/blob/main/virtual_env_install.sh).

Usually, if you have this error popping up you need to make a clean reinstall. O

[2022-10-21 11:30] jharaldson opened #29545 "[Tune] Passing a handle to grid search cause trials to get stuck in running and pending mode"
### What happened + What you expected to happen

**The bug**
Tune trials get stuck in RUNNING and PENDING mode after initially running and TERMINATING a number of trials (the number seems to be related with the number of CPUs available).

**Context**
We use Ray Tune to trigger parallell execution of simulations that take in a Ray Serve handle to allow ML model predictions inside the simulations. A

[2022-10-21 12:58] ayushthe1 commented on #29525
hey @bveeramani ,i am getting some confusion in how to add link in `internal.rst` file. I see that it inside `internal.rst` file there is a section called [PlacementGroupFactory](https://github.com/ray-project/ray/blob/0959f44b6fc217a4f2766ed46a721eb79b067b2c/doc/source/tune/api_docs/internals.rst#placementgroupfactory) which points to [class PlacementGroupFactory](https://github.com/ray-project/r

[2022-10-21 13:20] rkooo567 opened #29549 "[Test][Core] test_actor_resources in OSX seems to start failing"
### What happened + What you expected to happen

<img width="758" alt="Screen Shot 2022-10-21 at 6 20 08 AM" src="https://user-images.githubusercontent.com/18510752/197205502-0c00bd26-575c-4651-ba7c-d6bb0dbf1258.png">

This starts to fail. We should fix it.

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-10-21 13:22] rkooo567 commented on #29549
cc @cadedaniel this seems to a bit difficult to bisect since it was unavailable for a while. Feel free to delegate to others (that's better than making it stay broken!)

[2022-10-21 14:27] spolcyn commented on #29503
@clarkzinzow Great, glad to see that!

At this moment, we don't have any hard requirements for Arrow 7+ -- primary goal is to make sure the ball is already rolling on the PyArrow support so we don't end up in a situation where there is a hard requirement (from us, from another package, etc.).

[2022-10-21 15:50] matthewdeng commented on #29324
@jiaodong what was the number of CPUs _before_ the numpy narrow waist change? It looks like after making the fix we're still under the 1750 threshold? Was it consistently over 1750 before?

[2022-10-21 16:00] ArturNiederfahrenhorst opened #29553 "[RLlib] Does not restore algorithm counters when restoring from checkpoint"
### What happened + What you expected to happen

RLlib keeps track of several global metrics like "timesteps_total" that can be depended on to to terminate trainings.
If a tune trial execution fails, Algorithm is restored from checkpoint but counting from 0 again.
This can lead to scenarios of endless execution, especially in the face of spot instances.

### Versions / Dependencies

release/2.1

#

[2022-10-21 16:02] jiaodong commented on #29324
@matthewdeng we don't print CPUs used for passing tests so we won't know for sure, all data points i got from Chen was it mostly passes before numpy commit but can also fail due to flakiness.

The metrics shown above didn't include last inline numpy commit yet but gives promising signals for passing test. With last commit of inlining numpy, https://github.com/ray-project/ray/pull/28418 didn't add

[2022-10-21 16:26] architkulkarni commented on #19792
@wjrforcyber got it, let's keep this issue for the `runtime_env` dependency error, and move this discussion to the other issue.

[2022-10-21 16:26] architkulkarni commented on #18876
@wjrforcyber

[2022-10-21 16:35] rickyyx commented on #29324
Thanks so much Jiao for looking into this! Let me also get some microbenchmark numbers with #29517 .

[2022-10-21 16:35] stephanie-wang opened #29555 "[core] Reduce verbosity of memory monitor logs"
### What happened + What you expected to happen

If the memory monitor kills several processes in a row, it prints out the full log message each time, which can be pretty verbose. It would be nice to limit the frequency of logging, maybe limiting the log kill messages to every 10s or so, and ideally printing out the total number of workers killed during that time.

Example of current output (all o

[2022-10-21 16:37] simon-mo commented on #29539
can you turn on serve debug log? there might be some information about long polling thread shutting down here..

[2022-10-21 16:41] clarkzinzow opened #29557 "[Core] Eagerly importing non-core subpackages slows down Python worker startup"
Certain Ray subpackages are expensive to import, either due to their size, dependencies, or their import-time logic that must be executed. E.g. a change in a Datasets import caused a regression for the many_tasks nightly test, despite many_tasks only using Ray Core. However, we want subpackages like `data` and `workflow` to be accessible via attributes on a simple `import ray` import:
[code]

## P

[2022-10-21 18:07] bveeramani commented on #29525
Hey @ayushthe1, thanks for taking on this issue!

I don't think you actually need to update `internal.rst`. You could just replace
[code]
with
[code]

in the `PlacementGroupFactory` docstring.

For example,

[code]

[2022-10-21 18:09] #29553 closed

[2022-10-21 19:37] hora-anyscale commented on #29367
Per Triage Sync: closing

[2022-10-21 19:37] #29367 closed

[2022-10-21 19:45] hora-anyscale commented on #29398
Per Triage Sync: closing as transient, if it happens again re-open

[2022-10-21 19:45] #29398 closed

[2022-10-21 19:49] hora-anyscale commented on #29419
Per Triage Sync: significant performance regression, please prioritize for 2.2?

[2022-10-21 19:51] c21 opened #29560 "[Datasets] Print out dataset statistics automatically after execution"
### Description

Datasets statistics are very helpful for debugging and monitoring status. Currently the stats can only be printed manually via [Dataset.stats()](https://github.com/ray-project/ray/blob/master/python/ray/data/dataset.py#L3524) method from user side. This is inconvinent and add overhead from user side. We should allow to print out dataset statistics automatically after executing the

[2022-10-21 19:52] hora-anyscale commented on #29452
@AwesomePH - could you please share a repro script and confirm it happens on Ray 2.0?

[2022-10-21 19:58] cadedaniel commented on #29453
Thanks for the details and writeup! Let me see if we have a current plan for this.

[2022-10-21 20:09] stephanie-wang commented on #278
As a workaround, you can create your own methods that just call the superclass method.

[code]

[2022-10-21 20:21] clarkzinzow commented on #29560
I was thinking about this a few weeks ago, always printing out the Datasets stats by default (disablable via the dataset context or an arg) makes a lot of sense once we have lazy execution by default.

[2022-10-21 20:22] clarkzinzow commented on #29560
For eager execution, we should only do this if we can print out incremental stats (e.g. for the most recently executed stage) rather than the aggregate stats (for all stages), and I don't know if we should print them out by default since that may be a bit spammy. 🤔 Could be controlled by the progress bar flag, I suppose.

[2022-10-21 20:36] c21 commented on #29560
Yes, I agree. Print out all stages are too spammy. As part of the issue, we can add logic to print the newly executed stages stats.

[2022-10-21 21:15] c21 commented on #29379
@vedantroy - thanks for reporting. This looks OOM when writing the Parquet file to S3. Internally in Ray Datasets, we are using [PyArrow](https://arrow.apache.org/docs/python/index.html) to read and write files.

m5.large only has 8GB memory, it looks too tight to read and write 1GB binary data here (Ray object store memory takes 2GB already). Can you try with a larger machine - m5.xlarge?

[2022-10-21 21:40] xwjiang2010 opened #29563 "[air] GPU memory leak when using AIR trainer with torch dataloader when the latter uses multi-processing"
### What happened + What you expected to happen

Torch Dataloader with multiprocessing (`num_workers`) may not (get a chance to) clean up the processes it started because Ray Core just kills actors forcefully when GC kicks in. As a result, GPU memory leaks. This is NOT a regression.

### Versions / Dependencies

master

### Reproduction script

If you run horovod_tune_test.py and specifying `num_w

[2022-10-21 21:40] xwjiang2010 commented on #29318
non release blocker.
There are multiple things not going quite right with this particular test. The PR above is intended to fix this test and bring down its cost. Pending review right now. Cost wise, we are down from $60 to $10 per run.

Also exposed through debugging this test is that Torch Dataloader with multiprocessing (`num_workers`) may not (get a chance to) clean up the processes it started

[2022-10-21 21:51] rickyyx opened #29564 "[CI] `osx://python/ray/tests:test_autoscaler` is failing/flaky on master."
- a6b242f318eca8c411a73a825404976458280508 FAILED [Buildkite :mac: :apple: Small & Client](https://buildkite.com/ray-project/oss-ci-build-branch/builds/595#0183f0c1-f5d6-4e74-b0e5-34963f1c2a9d)
- a52155a972e95cd0045c75dd5289b03f7a5f742d FAILED [Buildkite :mac: :apple: Small & Client](https://buildkite.com/ray-project/oss-ci-build-branch/builds/559#0183e75f-2a18-4d03-9627-ce3c1e855849)
- d00e65685f

[2022-10-21 21:53] c21 commented on #29379
@vedantroy - a separate question, what's the end-to-end use case here? Are you just trying to upload local binary file to S3 in Parquet format? Or you have other work to be done in Ray Datasets except that?

[2022-10-21 22:17] jianoaix commented on #27591
Does the spill worker need to outlive the job, in order to e.g. clean up the blocks spilled on disk after the job crashed unexpectedly?

[2022-10-21 22:30] c21 opened #29567 "[Datasets] Only store aggregated statistics in DatasetStats"
### Description

Currently in [DatasetStats](https://github.com/ray-project/ray/blob/master/python/ray/data/_internal/stats.py#L171), we store every block's statistics in every stage. For each call of [summary_string()](https://github.com/ray-project/ray/blob/master/python/ray/data/_internal/stats.py#L230), the blocks statistics are aggregated for each stage. We can further reduce the memory and C

[2022-10-21 22:38] zhe-thoughts commented on #29016
Hi @dolanp83 if you file this as a `bug` it will go through our triaging process. But thanks for reporting it!

[2022-10-21 22:44] c21 opened #29568 "[Datasets] Expose statistics as an accessible object in `Dataset.stats()`"
### Description

Currently [Dataset.stats()](https://github.com/ray-project/ray/blob/master/python/ray/data/dataset.py#L3524) method returns the statistics as a string. This is good for logging and human reading, but not good if we want to further manipulate the statistics with code. We should add an option in `Dataset.stats()` to allow return an object (either `DatasetStats` or a new public class

[2022-10-21 22:45] stephanie-wang commented on #29461
Thanks for the info! I think you are definitely right that there is some issue with starting Ray. That would explain this message:

[code]

Can you try running `ray cluster-dump <config.yaml>` to collect a dump of all the logs? If the machines are still up, I think this will include logs from the dead raylets and we can see if there's any info about why they've died. Another thing to try (if it's

[2022-10-21 22:52] ericl opened #29569 "[core] Reduce log spam in task_manager when nodes newly fail"
When nodes fail, there is a period of time before they are marked as dead. In the interim, task lease requests can fail, which currently triggers the following LOG(INFO) spam:

[code]

We should reduce the frequency of these logs.

[2022-10-21 22:53] #29489 closed

[2022-10-21 22:56] ericl opened #29570 "[data / core] Make it easier to debug system-level task failures for long-running jobs"
Currently, when a task fails due to WorkerCrashedError (i.e., node failure), it's sometimes difficult to trace down the root cause in a large cluster with many log files. Currently, all you get is

[code]

This is slightly improved in master, but still missing the `task_id`. Ideally, we'd make sure to include the task ID on all important scheduling logs (task dispatched / retried / failed on the o

[2022-10-21 23:51] c21 opened #29573 "[Datasets] Track scheduling strategy per stage"
### Description

Datasets have several different scheduling strategies. By default it uses DEFAULT strategy. but for read, it uses SPREAD strategy. We should track the scheduling strategy used per stage in Datasets stats.

### Use case

_No response_

[2022-10-22 00:06] c21 opened #29575 "[Datasets] Persist the dataset statistics to log file"
### Description

After we finish https://github.com/ray-project/ray/issues/29560, we should also persist the dataset statistics to a log file. So in case job failure or crashes, we have a way to retrieve the statistics for debugging.

### Use case

_No response_

[2022-10-22 00:43] jianoaix commented on #26083
Is there any link to the existing use cases?

The use case I can think of for "read/write locally, process distributedly" is those highly compute-intensive workload, where  a small amount of data could use a large amount of CPUs.

[2022-10-22 01:00] amogkam opened #29576 "[Core] SIGABRT causes Ray to hang"
### What happened + What you expected to happen

The below script causes Ray to hang. I would expect to see a `RayActorError` instead.

The output when running the script

[code]

### Versions / Dependencies

 master

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-10-22 01:01] amogkam commented on #29576
cc @rkooo567 @cadedaniel

[2022-10-22 01:51] matthewdeng commented on #29545
I was able to reproduce this.

I looked at one of the hanging Trial processes (using `py-spy dump --pid <pid>`) and saw that it was hanging during deserialization:
[code]

I then simplified the script to only try to put/get the Serve handle, and was able to reproduce the hang:

[code]

[code]

I'm not sure why the first few trials were successfully run, but based on this I wouldn't expect any of t

[2022-10-22 06:12] davidADSP commented on #9123
I'm also unclear on this - how can you reload a checkpoint and start retraining with an updated config? A typical use-case would be wanting to increasing the batch size mid-training.

In Ray 2.0 it using a `Tuner` allows you to `restore` the trial, but I can't see a way to update the config.

[2022-10-22 06:26] csaimd commented on #28074
can this fix merge to other verson ,such as ray-1.5.1,ray-1.12.1 or others

[2022-10-22 06:26] csaimd commented on #28074
@clarng can this fix merge to other verson ,such as ray-1.5.1,ray-1.12.1 or others

[2022-10-22 11:37] rkooo567 commented on #29557
This is the issue that we are handling from the pr right?

[2022-10-22 14:08] rkooo567 commented on #29555
Can we bump up the priority to P1? I think this is a really confusing output that harms usability upon retry case (and users would think something is broken)

[2022-10-22 14:09] rkooo567 commented on #29324
We merged the PR. @rickyyx can you cherry pick the issue, run final tests, and close the issue?

[2022-10-22 14:09] rkooo567 commented on #29321
cc @gjoliver for the status?

[2022-10-22 14:13] rkooo567 commented on #29560
Another useful feature can be CLI? similar to state API (ray-data stats [stage_id]) or sth like that.

[2022-10-22 14:14] rkooo567 commented on #29563
@xwjiang2010 will you take over this task?

[2022-10-22 14:15] rkooo567 commented on #29570
cc @scv119 (can we prioritize this task before 2.2?)

[2022-10-22 14:31] ayushthe1 commented on #29525
Thanks @bveeramani ,i made a pr for this issue ,could you please review it.

[2022-10-22 14:37] rkooo567 commented on #29319
running here https://buildkite.com/ray-project/release-tests-pr/builds/18760#0184001b-f13c-4527-9a5d-1a6b225155dd

[2022-10-22 14:42] rkooo567 commented on #29576
We want to finish this by 2.2

[2022-10-22 16:18] clarng commented on #29555
I think we can create a shorter version of the message if the task is being retried? I don't think the frequency has changed (much) since the OS OOM Killer would have triggered this otherwise

[2022-10-22 16:21] #28920 closed

[2022-10-22 16:22] clarng commented on #27947
I think we are referring to the latter, where the error is not hardcoded always. But we need a case for customizing it for this to be actionable

[2022-10-22 16:25] clarng commented on #28921
Dup of https://github.com/ray-project/ray/issues/27947

[2022-10-22 16:25] #28921 closed

[2022-10-22 16:30] clarng commented on #27336
Addressed by https://github.com/ray-project/ray/pull/29103 (cgroup v1)

and tracking the cgroup v2 change in https://github.com/ray-project/ray/issues/29474

[2022-10-22 16:30] #27336 closed

[2022-10-22 16:32] clarng commented on #27336
The impact is the user may see inconsistency between how memory is reported in Ray vs other modules like cadviser that is used for docker, the user may also see memory accounting issues where the node may have (or not have) memory when it is otherwise, making it difficult to debug when there is a issue that might be related to memory usage

[2022-10-22 20:52] pcmoritz commented on #29383
@andreichalapco Do you think you can help here and create a PR since you already have a fix? That would be really appreciated.

We do want to make sure there are no deprecation warnings in our code!

[2022-10-22 23:28] xwjiang2010 commented on #29563
Yes, will prioritize this after the demo next week.

[2022-10-23 04:18] clarng commented on #29555
I think this task needs some more thought on how it should be implemented. Right now this is happening in worker.py as a logger.warning:

[code]

And this is async info coming from ErrorTableData async through GCS

I see there are several ways to reduce the logging here

* don't always write to the error table . This will be a regression from today's behavior since it currently writes all worker f

[2022-10-23 08:04] aschuh-hf opened #29585 "[Datasets] DatasetPipeline.iter_torch_batches() missing dtypes"
### Description

The `Dataset.iter_torch_batches()` function has a `dtypes` and `device` keyword argument, but `DatasetPipeline` does not. It would be desirable for these two APIs to be inter-changeable.

https://github.com/ray-project/ray/blob/de238dd626a48a16c8b3cd006f3482db75f63a83/python/ray/data/dataset.py#L2489-L2499

https://github.com/ray-project/ray/blob/de238dd626a48a16c8b3cd006f3482db75

[2022-10-23 08:07] #25653 closed

[2022-10-23 08:07] #25458 closed

[2022-10-23 08:07] #25472 closed

[2022-10-23 08:07] #21926 closed

[2022-10-23 08:07] #23704 closed

[2022-10-23 08:07] #25598 closed

[2022-10-23 08:07] #25178 closed

[2022-10-23 08:59] Rane90 opened #29586 "[bug] cannot run with too many parameters"
### What happened + What you expected to happen

While running a simple lightgbm cv hpo script taken from [your code repo](https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/lightgbm_example.py), ray crashed giving the following error:

[code]

I assume that this happens because the directory name is too long, and therefore it cannot be created.

Is there any "elegant" way to

[2022-10-23 10:16] andreichalapco opened #29587 "[installation] Ray Installation broken with circular import on virtualenvs"
### What happened + What you expected to happen

Hi,

when wanting to build ray just for python (See https://docs.ray.io/en/latest/ray-contribute/development.html#building-ray-python-only) I've encountered a problem when trying to run the script : ```python python/ray/setup-dev.py```.

The following stack tracke appears:
[code]

It seems it is a circular import problem... (the problem is caused by

[2022-10-23 14:41] rkooo567 commented on #29319
^ agent mem usage is 169MB after 23h run. So I think it can be closed

<img width="1342" alt="Screen Shot 2022-10-23 at 7 40 52 AM" src="https://user-images.githubusercontent.com/18510752/197398466-3f7dc404-972c-4623-94a6-af742376b72f.png">

[2022-10-23 14:41] #29319 closed

[2022-10-23 19:29] bveeramani opened #29590 "[Datasets] `Dataset.take` flattens `ArrowTensorType` tensors"
### What happened + What you expected to happen

Called `Dataset.take` on a dataset containing `ArrowTensorType` tensors. Expected NumPy arrays, but got a flattened list instead.

See repro.

### Versions / Dependencies

**Ray**: de238dd626a48a16c8b3cd006f3482db75f63a83
**Arrow**: `pyarrow==9.0.0`

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-10-23 20:48] PaulFenton commented on #15893
Continuing to debug this - The call that is failing is the `docker pull` command that takes place on the head node when the cluster is initializing:

https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/_private/command_runner.py#L905-L907

I suspect running `sudo dockerd --max-download-attempts 10` before docker is started could fix this issue - trying to figure out how/where to d

[2022-10-23 22:33] richardliaw commented on #15893
maybe you can try putting it into the initialization_commands? that runs
before the docker pull/.

On Sun, Oct 23, 2022 at 1:48 PM Paul Fenton ***@***.***>
wrote:

[2022-10-24 01:55] matthewdeng opened #29592 "[data] `Dataset.stats()` causes `Dataset.schema()` to be unknown"
### What happened + What you expected to happen

Calling `Dataset.stats()` will change the Dataset's schema to be `None`.

In my workload, I can workaround this by simply removing the  `stats()` call. However, the severity of this may increase depending on the underlying root cause, and if other methods will trigger the same code path in the execution plan.

This is problematic because some downst

[2022-10-24 01:55] matthewdeng commented on #29592
cc @c21

[2022-10-24 02:51] #28331 closed

[2022-10-24 02:58] wjrforcyber commented on #18876
Yes, my error has exactly the same log in the original post, I think you have already seen my reply in #19792. Thanks for reopening this.

[2022-10-24 03:39] matthewdeng opened #29595 "[air][data] unable to restore Datasets that call `map_batches`"
### What happened + What you expected to happen

When I pass in a Ray Dataset to an AIR Trainer specifically constructed via `ray.data.read_XYZ(...).map_batches(...)`, calling `Tuner.restore()` on a checkpointed Experiment will result in  an `OwnerDiedError` in the `split` step.

I am able to work around this by moving the `map_batches` call to a `BatchMapper` Preprocessor.

**Update:** Similar to

[2022-10-24 04:15] yuxiliu1995 opened #29596 "Issue on page /rllib/rllib-env.html"
For some reason, the links to `https://www.gymlibrary.dev/` on https://docs.ray.io/en/latest/rllib/rllib-env.html are all replaced with `https://www.gymlibrary.ml/`. It seems there's some phishing going on.

Tested it on all my browsers (Chrome, Chrome Incognito, Firefox).

[2022-10-24 04:21] matthewdeng opened #29597 "[air][data] unable to restore Datasets that call `repartition`"
### What happened + What you expected to happen

When I pass in a Ray Dataset to an AIR Trainer specifically constructed via `ray.data.read_XYZ(...).repartition(...)`, calling `Tuner.restore()` on a checkpointed Experiment will result in an `OwnerDiedError` in the `preprocess` step.

I am able to work around this by calling `ds = ds.lazy()` before repartitioning. One question I have is how this af

[2022-10-24 04:55] rkooo567 commented on #25448
From ray 2.1, this information will be available from the Ray metrics dashboard as `PENDING_OBJ_STORE_MEM_AVAIL`. From 2.2, it will be also available from `ray get tasks` API

I will document this (when task scheduling can be delayed). There are many cases tasks can be delayed,  so printing warning seems to be a little drastic (maybe too spammy).

[2022-10-24 05:00] rkooo567 commented on #27725
I can't reproduce this. Close for now

[2022-10-24 05:00] #27725 closed

[2022-10-24 05:01] rkooo567 commented on #26761
this is a core bug btw (not related to ray status). We may have a leak

[2022-10-24 05:02] rkooo567 commented on #25963
is it completed?

[2022-10-24 05:02] rkooo567 commented on #25915
I believe you can try https://docs.ray.io/en/master/ray-observability/state/state-api.html. IF you have any feedback to the API, plz lmk!

[2022-10-24 05:02] #25915 closed

[2022-10-24 05:03] rkooo567 commented on #25463
cc @rickyyx btw. Some APIs we can support in the future

[2022-10-24 05:07] rkooo567 commented on #25252
Should be handled in the master

[2022-10-24 05:07] #25252 closed

[2022-10-24 05:16] #19309 closed

[2022-10-24 05:40] rkooo567 commented on #29484
Will reopen if the fix PR doesn't fix the issue https://github.com/ray-project/ray/pull/29593

[2022-10-24 05:43] rkooo567 commented on #29549
it looks like this test fails even when the Mac build was green. 😮

[2022-10-24 06:36] rkooo567 commented on #28344
yes, that's right

[2022-10-24 06:36] rkooo567 commented on #28344
because it is the logical resource

[2022-10-24 06:38] rkooo567 commented on #29549
I probably found the root cause ^

[2022-10-24 06:38] rickyyx commented on #29324
Cherry-picked. Running tests here: https://buildkite.com/ray-project/release-tests-branch/builds/1148

[2022-10-24 07:25] MissiontoMars opened #29601 "[Dashboard] Add hostname in api/jobs and logical/actors APIs."
### Description
Some Dashboard APIs are called in our internal Ray platforms, i found some fields missing in api results.

api/jobs returns:
[code]

logical/actors returns

[code]

What we expected result is:

[code]

logical/actors returns

[code]

### Use case

_No response_

[2022-10-24 07:28] MissiontoMars commented on #29601
@alanwguo If this feature makes sense, i will submit a PR.

[2022-10-24 07:51] liangyu-1 opened #29602 "[Dashboard] Can't see GPU usage in `ray-ml:latest-gpu` Docker image"
### What happened + What you expected to happen

ray cluster mode dashboard, cannot see the gpu usage

docker image: ray-ml:latest-gpu

when I reinstall gpustat, then I cannot use the tensorflow

### Versions / Dependencies

ray 2.0.0
ray-ml:latest-gpu
python 3.7

### Reproduction script

When I import gpustat.core in the docker, it shows this:
Please reinstall gpustat
pip install -force-reinstall

[2022-10-24 08:49] MissiontoMars commented on #29601
I figured out that the `nodes?view=details` api satisfy my requirement. Is it stable API? @alanwguo

[2022-10-24 13:14] hellofinch commented on #28496
@scottsun94 Thanks for your response! I read the link you give. I think this is not what I need.
I use Ray in a cluster where computing nodes and the login node are separated. I submit a script to set up the Ray cluster and run my program. I have no access to the ports which are opened on the computing node. If there could save a log file, I can check the info after my program is done and Ray's cl

[2022-10-24 13:20] jovany-wang opened #29604 "[Java] Bump fst serialization to 3.0.1"
### What happened + What you expected to happen

3.0.1 fix this issue: https://github.com/RuedigerMoeller/fast-serialization/issues/278

### Versions / Dependencies

-

### Reproduction script

-

### Issue Severity

_No response_

[2022-10-24 13:25] rkooo567 commented on #29555
What about removing this error message (and still reporting to the error table)? Since all exceptions will be caught anyway and an error message will be printed, it might be fine?

[2022-10-24 13:28] rkooo567 commented on #26568
is this closeable @architkulkarni ?

[2022-10-24 13:31] rkooo567 commented on #29601
I am curious if this can replace your usage https://docs.ray.io/en/master/ray-observability/state/state-api.html? If you have a missing field, you can let us know

[2022-10-24 14:51] harksodje commented on #19071
@saswatac please can show a sample of the changes you made in code format.
Thanks

[2022-10-24 15:45] scottsun94 commented on #28496
RE: "each task's resource usage". What do you refer to by "resource usage"? You mean physical CPU/disk/memory usage by each task?

cc: @rkooo567 @ericl @rickyyx on saving the metrics as log files.

[2022-10-24 15:47] scottsun94 commented on #28344
Got it. It is confusing then and we should improve it.

[2022-10-24 15:54] shogohida commented on #29432
Hi @bveeramani, can I work on this? I'm new to develop ray and thought this is a good one for my first issue to deal with!

[2022-10-24 15:58] tgaddair opened #29606 "[core] Ray task not releasing PyTorch GPU memory upon completion"
### What happened + What you expected to happen

When running multiple Ray tasks in succession that have `num_gpus=1`, you would expect that previously completed tasks would release GPU memory allocated during their invocation. However, it seems something is causing this memory to be held onto between tasks, even after explicitly telling GPU pinned objects to move to CPU.

What should happen is th

[2022-10-24 16:04] architkulkarni commented on #26568
I ran the repro in this issue for a few hours on the nightly and didn't detect any leak, so I think we can close this issue. It was likely fixed by https://github.com/ray-project/ray/pull/29187

[2022-10-24 16:04] #26568 closed

[2022-10-24 16:05] tgaddair commented on #29606
This StackOverflow answer suggests that one solution could be to close the GPU out entirely:

https://stackoverflow.com/questions/70051984/how-to-clear-gpu-memory-after-using-model

So it seems like what's happening here is that Ray is not closing out the underlying process, which is leading to torch sticking around and keeping memory around that it shouldn't.

[2022-10-24 16:06] tgaddair commented on #29606
Ah, seems like it could be this issue:

https://docs.ray.io/en/latest/ray-core/tasks/using-ray-with-gpus.html#workers-not-releasing-gpu-resources

[2022-10-24 16:07] tgaddair commented on #29606
Can confirm that setting `max_calls=1` on `alloc_gpu_mem` solved the issue.

[2022-10-24 16:07] #29606 closed

[2022-10-24 16:27] DmitriGekhtman commented on #19071
I'd strongly recommend deploying Ray use KubeRay.
You can read about that here: https://docs.ray.io/en/latest/cluster/kubernetes/index.html
The KubeRay operator is now the preferred tool for deploying Ray on Kubernetes.

[2022-10-24 16:54] gjoliver commented on #29321
works fine now with the mem issue fixed.
closing. thanks.

[2022-10-24 16:54] #29321 closed

[2022-10-24 16:55] gjoliver commented on #29320
works fine now after the mem leak is fixed. performance likely got boosted a bit.
closing.

[2022-10-24 16:55] #29320 closed

[2022-10-24 16:56] gjoliver commented on #28176
Hey cheng, this may also be a good starter project for Scott.

[2022-10-24 17:04] architkulkarni opened #29607 "[Observability] No way to get head node ID"
### Description

Ray has the concept of "head node" and "worker nodes", but there is no Ray API to get which node is the head node.  We should surface this information in the State API somehow.

### Use case

Certain Ray processes (GCS, dashboard head) only run on the head node.  For debugging these processes, it's useful to run certain commands specifically on the head node.  To do this programma

[2022-10-24 17:05] architkulkarni commented on #29607
cc @rkooo567 Happy to submit a PR for this if you have some pointers! I guess there first needs to be a design for how best to surface this information in the State API.

[2022-10-24 17:07] amogkam commented on #29419
Thanks @lly-zero-one for raising the issue!

PR to change this is here: #29562
The PR is currently blocked on: https://github.com/ray-project/ray/issues/29576

[2022-10-24 17:07] rickyyx commented on #26524
Wondering why was it closed? Has the underlying retry mechanism changed so that this is no longer relevant? cc @clarng

[2022-10-24 17:08] cadedaniel commented on #29431
Downgrading to P1 given that there's a hacky workaround.

@pconrad-insitro how consistent is this issue? Does it happen every time or more stochastic?

[2022-10-24 17:13] bveeramani commented on #29432
@shogohida Go for it! Feel free to reach out to me if you need any help.

[2022-10-24 17:17] ckw017 commented on #26019
Bump

[2022-10-24 17:23] cadedaniel commented on #29431
I think this behavior is currently unavoidable, since some additional memory is required to shut down cleanly. We have an improved OOM killer in development which I think will make this happen much less. Assigning to @clarence-wu , feel free to close/deprioritize if it'll be fixed by the new OOM killer.

[2022-10-24 17:42] pconrad-insitro commented on #29431
Thanks all for the triaging, and @cadedaniel for the insight about the better OOM implementation. This particular instance was nearly deterministic, but I don't know that it's easy to recreate. I would readily admit that this task was very badly behaved and wildly misconfigured, I'm only noting it because ray is clearly trying to be careful about this kind of error handling. I tried some simple ma

[2022-10-24 18:14] c21 opened #29610 "[Datasets] Revert block bundling feature from 2.1"
### What happened + What you expected to happen

The problematic PR is https://github.com/ray-project/ray/pull/28648
and all related nightly tests should be changed (I will double check each PR author):
https://github.com/ray-project/ray/commit/928c528075a44a42c5b233bc9fbbaef72b54adc1
https://github.com/ray-project/ray/commit/4605b58b932e03cf0eb89592be82be7c9a72d1bc
https://github.com/ray-project/

[2022-10-24 18:27] scottsun94 commented on #27089
Bump ^

[2022-10-24 18:40] heyitsmui commented on #18094
@jianoaix based on @atomic's bandwidth, we are targeting 11/23 for completion for this task, let us know if this is reasonable, thanks!

[2022-10-24 19:30] c21 commented on #28176
Thanks @gjoliver and @jianoaix, sounds good to me.

[2022-10-24 19:48] austinnichols101 commented on #27881
Python 3.11.0 released!

[2022-10-24 20:01] rickyyx opened #29617 "[CI][release] Gradio dependency breaks CI in release 2.1"
### What happened + What you expected to happen

Failure [build](https://buildkite.com/ray-project/oss-ci-build-branch/builds/675#01840b28-3d1a-46a8-9073-eeb6a549c36e)

### Versions / Dependencies

release 2.1

### Reproduction script

NA

### Issue Severity

_No response_

[2022-10-24 20:03] rickyyx opened #29618 "[CI][release] Polars dependency breaks release 2.1"
### What happened + What you expected to happen

Failure [build](https://buildkite.com/ray-project/oss-ci-build-branch/builds/675#01840b28-3d1a-46a8-9073-eeb6a549c36e)

### Versions / Dependencies

release 2.1

### Reproduction script

NA

### Issue Severity

_No response_

[2022-10-24 20:05] rickyyx commented on #29617
We are trying to see if we need to cherry pick a bunch of PRs (https://github.com/ray-project/ray/commit/2c032ebe0ce8e625796491030a759e5e01edbef9, https://github.com/ray-project/ray/commit/9575c173204c2855bdd1dafbb285a3fc03c5d14c, https://github.com/ray-project/ray/pull/29375) to fix it or a simpler fix specific to release branch would be better.
cc @krfricke @amogkam @simon-mo

[2022-10-24 20:07] #29324 closed

[2022-10-24 20:14] scv119 commented on #29569
#29619

[2022-10-24 20:31] ericl opened #29621 "[jobs] Define a proto API for checking job status"
## The Problem

Currently, we have two "overlapping" concepts of jobs:
- GCS Jobs (a Ray driver)
- Submitted jobs (Job submitted to the Ray job server)

There are two ways to check on the status of jobs: using the GCS `ListAllJobs` endpoint (which contains only partial data), and the dashboard list jobs endpoint.

Currently to get full job status from the cluster, you need to query both and join t

[2022-10-24 20:56] vakker opened #29623 "[RLlib] PPO speed and performance issues"
### What happened + What you expected to happen

I'm running some benchmarks, and I'm getting varying results on Atari.
I'm using the [Breakout benchmark](https://github.com/ray-project/ray/blob/master/release/rllib_tests/learning_tests/yaml_files/ppo/ppo-breakoutnoframeskip-v4.yaml) from the `learning_tests` folder and the [Pong example](https://github.com/ray-project/ray/blob/master/rllib/tuned_

[2022-10-24 21:01] tgaddair opened #29624 "[core] Set `max_calls=1` by default when `num_gpus>0`"
### Description

Current Ray behavior is to reuse Python interpreters across multiple Ray tasks to reduce latency. However, this comes with a lot of baggage for GPU tasks. Specifically, libraries like CUDA (and by extension, PyTorch and TensorFlow) tend not to be very mindful about clearing up GPU memory when references to objects holding GPU memory are removed by the Python garbage collector. For

[2022-10-24 21:05] cadedaniel opened #29625 "[CI] `linux://python/ray/tests:test_object_manager` is failing/flaky on master."
- 031fb44311da77ef93f45f74a3a4560ef25cb0bd FAILED [Buildkite :redis: (External Redis) (Medium K-Z)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/686#01840b14-9feb-416b-8f85-0f77820ec17f)
- c0284c071dc16b3481d8488a3fe3a9311b8ddd60 FAILED [Buildkite :redis: (External Redis) (Medium K-Z)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/662#0183fbdc-ac5b-43c1-8894-0a143216

[2022-10-24 21:10] architkulkarni commented on #28847
This should be fixed by https://github.com/ray-project/ray/pull/28643, I verified it works on the master branch.  Can you try on the [Ray nightly ](https://docs.ray.io/en/latest/ray-overview/installation.html#daily-releases-nightlies)and see if it's fixed for you as well?

[2022-10-24 21:13] richardliaw commented on #29624
cc @ericl @scv119 what do you think?

[2022-10-24 21:18] scottsun94 commented on #26027
@DmitriGekhtman Are we still planning to improve in consideration of KubeRay?

[2022-10-24 21:24] scottsun94 commented on #25847
cc: @gjoliver

[2022-10-24 21:30] clarkzinzow commented on #29374
When removing the Pandas conversion, which can be a confuser, the biggest contributor to this being slow appears to be:
1. disk spilling,
2. file sampling.

(1) is the biggest culprit; without disk spilling, Datasets is a few seconds slower on a single file and ~4 seconds faster on two files, since file sampling has a further added time of 3-5 seconds. Without file sampling, Datasets is only a sec

[2022-10-24 21:31] clarkzinzow commented on #29374
Closing this for now but will make a note for ongoing benchmarking work that we should have a very basic parallel reading benchmark.

[2022-10-24 21:31] #29374 closed

[2022-10-24 21:36] clarkzinzow commented on #29374
@Yard1 Ping me on Slack if this was blocking a benchmark or release test, we can ensure that the benchmark/test is well-formed and that e.g. spilling to disk is avoided. At that point, we can open up some follow-up P1s for optimizing e.g. file sampling and the like.

[2022-10-24 21:53] scottsun94 commented on #25280
It seems that it's the intended behavior. Shall we close this one then?
@GoingMyWay @iycheng

[2022-10-24 21:53] scottsun94 commented on #25280
cc: @rkooo567

[2022-10-24 21:59] scottsun94 commented on #25019
@vonHartz Is this issue resolved? Have you reported this issue to Weights and biases?

[2022-10-24 22:02] scottsun94 commented on #25011
@dirkweissenborn It seems that this issue is not fixed yet?

[2022-10-24 22:08] #29549 closed

[2022-10-24 22:10] rkooo567 commented on #26524
I think we should do it for state API. Ideally by 2.1

[2022-10-24 22:11] scottsun94 commented on #24863
@krfricke Is this a ray core or ray tune issue? Shall we rename the title?

[2022-10-24 22:14] scottsun94 commented on #24807
@DmitriGekhtman It seems that we are waiting for more context : )

[2022-10-24 22:14] rkooo567 commented on #25555
seems like it is fixed

[2022-10-24 22:14] #25555 closed

[2022-10-24 22:18] rkooo567 commented on #29607
I think we can pass --head = 1 / 0 to the head node raylet and include that information to GCS' node info table!

[2022-10-24 22:18] rkooo567 commented on #29607
and it'd be great if you can help on this

[2022-10-24 22:18] scottsun94 commented on #23564
@architkulkarni Is this fixed now since we are moving towards job submission GA.

[2022-10-24 22:21] rkooo567 commented on #29621
Hey @ericl is this something we should prioritize for ray 2.2?

[2022-10-24 22:26] #29490 closed

[2022-10-24 22:33] scottsun94 commented on #22621
Closing it for now. @han14466 Please reopen if this issue persists in the new dashboard.

[2022-10-24 22:33] #22621 closed

[2022-10-24 22:35] scottsun94 commented on #22567
Is this similar to `ray stacks` but specific for Ray Train? Could we actually extend `ray stacks` to support it?
cc: @rkooo567

[2022-10-24 22:40] scottsun94 commented on #22312
cc: @rkooo567

[2022-10-24 22:44] #29135 closed

[2022-10-24 22:45] scottsun94 commented on #21974
@newmanwang Bump it ^

[2022-10-24 22:52] amogkam commented on #22567
That's right it's basically calling `ray stack`, but also making it more interpretable for a Ray Train user.

[2022-10-24 22:52] amogkam commented on #23310
Just for actors created by Ray Train.

[2022-10-24 22:53] rkooo567 commented on #22567
We are thikning to support running py-spy on running workers in 2.2. Would that satisfy the req?

[2022-10-24 22:54] rkooo567 commented on #22567
I already have a prototype working

[2022-10-24 23:00] scottsun94 commented on #20645
@amogkam Could you add more context to this?

[2022-10-24 23:00] architkulkarni commented on #23564
@scottsun94 This issue is still open.  I think it can be added after GA.

[2022-10-24 23:01] scottsun94 commented on #20357
@architkulkarni Is this one fixed?

[2022-10-24 23:04] #20357 closed

[2022-10-24 23:19] amogkam commented on #20645
Tbh I don't remember what I had in mind when I wrote this. I think this issue is already covered by other existing issues, so going to close this.

[2022-10-24 23:19] #20645 closed

[2022-10-24 23:19] jdrusso commented on #17491
This issue still persists

[2022-10-24 23:20] jianoaix commented on #29592
I took a look. I think it's because we null out the schema at stats actor: https://sourcegraph.com/github.com/ray-project/ray@master/-/blob/python/ray/data/_internal/stats.py?L125

[2022-10-24 23:22] rkooo567 opened #29630 "[Metrics] Incorrect Node Gpu hardware utilization"
### What happened + What you expected to happen

![Screen Shot 2022-10-24 at 8 29 48 AM](https://user-images.githubusercontent.com/18510752/197648154-60a36bd9-a69b-43bd-b61c-068bad261e61.png)

Node Gpu hardware utilization can exceed the max GPUs now.

![Screen Shot 2022-10-24 at 4 15 08 PM](https://user-images.githubusercontent.com/18510752/197648231-22ccf9e1-3e4a-4593-905b-49e1d5bba4a1.png)

Loo

[2022-10-24 23:42] heyitsmui commented on #24604
@krfricke i chatted with @kyle-chen-uber and based on bandwidth, he's targeting 11/18 to wrap up this PR, would that work with your timeline? thanks!

[2022-10-24 23:43] hora-anyscale commented on #24626
Per Triage Sync: @jjyao - could you please confirm this was done?

[2022-10-24 23:45] architkulkarni opened #29632 "[Dashboard] [Jobs] Jobs API request causes exception in metrics middleware"
### What happened + What you expected to happen

Upon a (successful) job submit REST API call, an error appears in `dashboard.log` (see repro below).  There are no obvious symptoms, but it might be indicative of a bug in the dashboard metrics middleware, or the Job Head server might be returning the wrong kind of response.

### Versions / Dependencies

Master (Oct 24, 2022), Python 3.8, macOS

###

[2022-10-24 23:45] architkulkarni commented on #29632
cc @alanwguo for awareness

[2022-10-24 23:49] hora-anyscale commented on #25484
Per Triage Sync: Can you please confirm if this is still an issue and what the priority on this should be?

[2022-10-24 23:51] scottsun94 commented on #16807
Closing this for now. @SheldonCurtiss let us know if you see this issue again.

[2022-10-24 23:51] #16807 closed

[2022-10-24 23:51] hora-anyscale commented on #24667
Per Triage Sync: @franklsf95 - is this still an issue? what priority if so?

[2022-10-24 23:58] alanwguo commented on #29632
I made this error go away in master, but it's probably worth cherry-picking... Will produce a quick PR for that.

[2022-10-24 23:59] hora-anyscale commented on #24926
Per Triage Sync: @mattip @czgdp1807 who from QS can pick this up?

cc: @richardliaw

[2022-10-25 00:00] architkulkarni commented on #25484
The immediate issue is fixed and the conclusion is in https://github.com/ray-project/ray/issues/21818, but I still need to follow up with a design for long-term maintainability.  I'll move future discussion of the design to the linked RFC issue and close this issue.

[2022-10-25 00:00] #25484 closed

[2022-10-25 00:02] hora-anyscale commented on #25951
Per Triage Sync: Dependent on upstream - https://github.com/cloudpipe/cloudpickle/issues/460

[2022-10-25 00:04] hora-anyscale commented on #26878
Per Triage Sync: @jjyao can you please confirm this is fixed and close if so.

[2022-10-25 00:05] hora-anyscale commented on #23983
Per Triage Sync: This is already fixed.

[2022-10-25 00:08] scottsun94 commented on #16328
@fyrestone bump it^

[2022-10-25 00:15] scottsun94 commented on #16092
@DmitriGekhtman
Same question. In consideration of KubeRay, do we still need to do this? Or do we need to fix this for KubeRay?

[2022-10-25 00:15] clarkzinzow commented on #23983
@hora-anyscale @scv119 @stephanie-wang How is this already fixed?

[2022-10-25 00:17] scottsun94 commented on #15854
Bump it ^

[2022-10-25 00:17] scottsun94 commented on #15322
^ Bump it

[2022-10-25 00:18] scottsun94 commented on #15264
Bump it ^

[2022-10-25 00:20] hora-anyscale commented on #28904
Per Triage Sync: Flaky test

[2022-10-25 00:20] #28904 closed

[2022-10-25 00:22] hora-anyscale commented on #28906
Per Triage Sync: Flaky test

[2022-10-25 00:22] #28906 closed

[2022-10-25 00:25] scv119 commented on #23983
My understanding is that we concluded that ray.wait semantics is correct and we should have a separate API for data prefetching

[2022-10-25 00:25] hora-anyscale commented on #24682
Per Triage Sync: Closing since dupe

[2022-10-25 00:25] #24682 closed

[2022-10-25 00:25] rickyyx commented on #29618
Rebuild the base image and recent build no longer failing: https://buildkite.com/ray-project/oss-ci-build-branch/builds/691#_

[2022-10-25 00:25] #29618 closed

[2022-10-25 00:27] hora-anyscale commented on #27378
Per Triage Sync: Flaky test

[2022-10-25 00:27] #27378 closed

[2022-10-25 00:29] hora-anyscale commented on #28411
Per Triage Sync: Flaky Test

[2022-10-25 00:29] #28411 closed

[2022-10-25 00:30] hora-anyscale commented on #28933
Per Triage Sync: Flaky Test

[2022-10-25 00:31] hora-anyscale commented on #12806
Per Triage Sync: Please confirm if still an issue

[2022-10-25 00:33] hora-anyscale commented on #28855
Per Triage Sync: @clarng please confirm if still an issue

[2022-10-25 00:34] clarkzinzow commented on #23983
I think the conclusion was that the `ray.wait()` semantics are **not** what the user expects, but we fundamentally need a stateful API and wedging that into the existing `ray.wait()` API would be complex.

We can close this issue if we're going to leave the `ray.wait()` API alone (and possibly deprecate it eventually), but can we make sure that we still have a tracking issue for the prefetching us

[2022-10-25 00:35] scottsun94 commented on #14664
<img width="1573" alt="Screen Shot 2022-10-24 at 5 23 22 PM" src="https://user-images.githubusercontent.com/9677264/197654433-afbb3930-1749-455e-b1f6-7480aa0e4a4b.png">
<img width="1423" alt="Screen Shot 2022-10-24 at 5 24 10 PM" src="https://user-images.githubusercontent.com/9677264/197654446-6c692b15-1d21-4854-bf2f-2423e205e269.png">

Took a quick look and it seems that:
1. The css style of the

[2022-10-25 00:45] scottsun94 commented on #13662
@DmitriGekhtman
Sorry about repeating the same question. In consideration of KubeRay, do we still need to do this? Or do we need to fix this for KubeRay?

[2022-10-25 00:47] scottsun94 commented on #13630
@rickyyx The `ip` in the schema is the node ip?

@YarShev Does it solve your issue?

[2022-10-25 00:50] scottsun94 commented on #13122
@alifaki077 Bump it ^

[2022-10-25 01:07] matthewdeng commented on #29378
@Yard1 can you take a look?

[2022-10-25 01:17] dmatrix opened #29640 "[Ray AIR]"
### What happened + What you expected to happen

The training team and I encountered this problem trying to use Ray AIR to do an e2e example.

Data: NYC Tax Cab
Trainer: XGBoosTrainer
Code: [Notebook](https://github.com/dmatrix/misc-code/blob/master/py/ray/rayair/examples/nyc-taxi/e2e_nyc.ipynb)

Run this notebook as is and you will get the error.

Commet out `valid_dataset = valid_dataset.drop_co

[2022-10-25 01:18] hellofinch commented on #28496
yes, that is what I mean.
It will help me to analyze each part of my program and show where is my program's bottleneck.

[2022-10-25 01:19] amogkam commented on #29640
@dmatrix can you share the stack trace you are seeing if you keep the `drop_columns` line?

[2022-10-25 01:22] dmatrix commented on #29640
![Screen Shot 2022-10-24 at 6 09 33 PM](https://user-images.githubusercontent.com/1117597/197660059-4908452d-ed4c-4aa0-9502-182a5879c339.png)
![Screen Shot 2022-10-24 at 6 10 01 PM](https://user-images.githubusercontent.com/1117597/197660064-f87271e5-b79b-423a-97e1-df374239d56f.png)

[2022-10-25 02:10] GoingMyWay commented on #25280
Hi, it is ok to close the issue. I can add try/catch to logging the stderr.

[2022-10-25 02:10] #25280 closed

[2022-10-25 02:24] scottsun94 commented on #12761
Closing it for now. @salman1993 Please reopen if your issues are not resolved.

[2022-10-25 02:24] #12761 closed

[2022-10-25 02:33] scottsun94 commented on #12313
cc: @rkooo567 Do we already have these? Shall we close it then?

[2022-10-25 02:35] scottsun94 commented on #12312
This seems fixed. Shall we close then? @thomasdesr

[2022-10-25 02:44] stephanie-wang commented on #29555
If we implement in the raylet, will we lose anything in terms of observability from not always reporting the ErrorTableData? It would be good to make sure that state APIs can still fetch the errors, for example.

[2022-10-25 03:04] franklsf95 commented on #24667
Yes. Low priority.

[2022-10-25 04:01] clarng opened #29647 "[core] telemetry for oom"
### What happened + What you expected to happen

we should add telemetry for when a cluster has oom killer enabled

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-10-25 04:03] #28922 closed

[2022-10-25 04:38] DmitriGekhtman commented on #13662
Thanks for following up.
We don't support using rsync with KubeRay.

[2022-10-25 04:38] #13662 closed

[2022-10-25 04:40] DmitriGekhtman commented on #16101
We've got at least some guidance on this now:
https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/logging.html

[2022-10-25 04:40] #16101 closed

[2022-10-25 04:43] DmitriGekhtman commented on #16092
Specifically relates to stability of legacy operator. This can be closed. Thanks again for following up.

[2022-10-25 04:43] #16092 closed

[2022-10-25 04:44] DmitriGekhtman commented on #17491
cc @tupui

[2022-10-25 04:44] DmitriGekhtman commented on #26027
Nope.

[2022-10-25 04:44] #26027 closed

[2022-10-25 04:49] DmitriGekhtman commented on #24807
Run any Ray workload workload that triggers autoscaling, such as the one described here: https://docs.ray.io/en/latest/ray-contribute/fake-autoscaler.html (can be run on a laptop).
Messages describing scaling events will be slightly confusingly prefixed with `(scheduler)` rather than `(autoscaler)`.

[2022-10-25 05:15] scottsun94 commented on #12309
cc: @rkooo567 should we close it since we already have ray state log api

[2022-10-25 05:19] scottsun94 commented on #12060
@shril Is it already fixed?

[2022-10-25 05:21] scottsun94 commented on #11277
@abhayraw1  ^ bump it

[2022-10-25 05:22] scottsun94 commented on #10961
cc: @alanwguo

[2022-10-25 05:26] scottsun94 commented on #10018
Outdated. Closing it.

[2022-10-25 05:26] #10018 closed

[2022-10-25 05:29] scottsun94 commented on #9692
^ bump it

[2022-10-25 05:30] scottsun94 commented on #9672
I assume that this is done. Reopen if it persists @richardliaw

[2022-10-25 05:30] #9672 closed

[2022-10-25 05:34] scottsun94 commented on #8951
cc: @rkooo567 @alanwguo

[2022-10-25 05:36] scottsun94 commented on #8607
@alokgogate @rkooo567 Is this fixed?

[2022-10-25 05:39] scottsun94 commented on #8432
I assume that this has been fixed due to no response. Closing it.

[2022-10-25 05:39] #8432 closed

[2022-10-25 05:44] scottsun94 commented on #7431
@rickyyx @rkooo567
It seems that ip is still not available when using `ray list actors`: https://docs.ray.io/en/latest/ray-observability/state/ray-state-api-reference.html#actorstate?

[2022-10-25 05:44] zhe-thoughts commented on #14285
(Context: I'm doing a round of cleanup of waiting-for-triage issues)

@jjyao @rkooo567 Do you think this should be P1 or P2? For now I'm putting on Core Backlog and assigning to myself

[2022-10-25 05:45] zhe-thoughts commented on #14543
Most likely this is no longer valid. But @AmeerHajAli is it OK to assign to you to validate (you can delegate). Thanks

[2022-10-25 05:46] zhe-thoughts commented on #14862
@AmeerHajAli could you assign a priority level? Thanks

[2022-10-25 05:48] zhe-thoughts commented on #16308
(Context: I’m doing a round of cleanup of waiting-for-triage issues)

@jjyao @rkooo567 @scv119 I'm marking this as P2 but let me know if you agree. Thanks!

[2022-10-25 05:49] zhe-thoughts commented on #16321
(Context: I’m doing a round of cleanup of waiting-for-triage issues)

@scv119 This is already assigned to you and in Core Backlog. Let's give it a priority label and we can remove it as`triage`?

[2022-10-25 05:54] scottsun94 commented on #5840
I believe the worker death error has been improved. Shall we close this? @rkooo567

[2022-10-25 05:55] zhe-thoughts commented on #16431
It's been 7 days since the ask for a repro. Let's close this and @Jhonathan-Pedroso please reopen if the issue still exists! Thanks for reporting your experience using Ray

[2022-10-25 05:55] #16431 closed

[2022-10-25 06:01] zhe-thoughts commented on #17198
Marking as P1 for now. But I'm talking to @allwefantasy to verify

[2022-10-25 06:08] zhe-thoughts commented on #17491
Assigning to @tupui for now since our documentations page indicates they are the maintainer of the module. But we will get back with a plan for this issue

[2022-10-25 06:10] zhe-thoughts commented on #17612
(Context: I’m doing a round of cleanup of waiting-for-triage issues)

Marking this as P1 and assigning to myself (it's already in Core Backlog). And let's prioritize it according to global list.

cc @rkooo567 @scv119 @stephanie-wang to correct me on the priority if needed

[2022-10-25 06:13] zhe-thoughts commented on #17769
(Context: I’m doing a round of cleanup of waiting-for-triage issues)

@jjyao @rkooo567 Do you think it's OK for Ray Core oncall to quickly validate this?

[2022-10-25 06:14] zhe-thoughts commented on #18787
(Context: I’m doing a round of cleanup of waiting-for-triage issues)

Hey @simon-mo is this issue still valid, and if so which priority? Thanks!

[2022-10-25 06:18] #19938 closed

[2022-10-25 06:25] simon-mo commented on #18787
P2. This is an experimental feature that hasn't been officially maintained.

[2022-10-25 06:32] Rane90 commented on #29586
I've managed to find some "workaround" by setting - TUNE_DISABLE_AUTO_CALLBACK_LOGGERS to 1:

[code]
Hope this helps others

[2022-10-25 07:40] ChrisMcCarthyDev opened #29652 "[RLlib] pip install ray[rllib]==2.0.1 fails due to missing [rllib] extra"
### What happened + What you expected to happen

I have a Python package that has `install_requires=['ray[rllib]']` as part of the setup.py file. My CI/CD pipeline (Running on Linux VM in AWS.) has broken down since the release of ray 2.0.1 as I'm now getting this error message:
[code]

When replicating in a Windows environment, I received the error message:
[code]

### Versions / Dependencies

##

[2022-10-25 08:30] liangyu-1 commented on #29602
this is the screenshot when I import gpustat inside the docker:
![WechatIMG2854](https://user-images.githubusercontent.com/62563545/197717703-36ce067a-0eda-431c-a8de-b511f6a38a3b.png)

[2022-10-25 08:41] jharaldson opened #29653 "[Datasets]: write_parquet() argument arrow_open_stream_args fails when used with path parameter"
### What happened + What you expected to happen

The `write_parquet()` function takes `arrow_open_stream_args` as argument, however when specifying path as input to `arrow_open_stream_args`, then the following error is thrown:

`TypeError: open_output_stream() got multiple values for keyword argument 'path'`

This is caused by the following call in `file_based_datasource.py`:

[code]

Not sure wha

[2022-10-25 09:21] jharaldson opened #29654 "[Datasets] Introduce padded batching to allow varying size input to ML models"
### Description

Introduce padded batching to allow batches of varying sizes as input to ML models. Today we have to do the padding as we write the data to disc. This has several disadvantages;

1. we have to pad all input according to the largest anticipated input size, resulting in in-efficient data storage.
2. we cannot easily modify the padding type (instead of zeros we might want another stra

[2022-10-25 10:22] rkooo567 commented on #29530
@cadedaniel were you able to verify the hypothesis?

[2022-10-25 10:57] rkooo567 opened #29656 "[Core] Fail more gracefully when the actor cannot be reached due to network related issue"
### What happened + What you expected to happen

[code]

It looks like
1. when the actor direct RPC fails due to some network issue (in the error here, it uses Connection reset by peer) we just consider the actor is dead immediately.
2. In this case, the "deatch_cause" is also not filled up.

https://github.com/ray-project/ray/blob/2947e2360676b2034163282f7426d979849fa79a/src/ray/core_worker/trans

[2022-10-25 11:23] rkooo567 commented on #29431
actually @pconrad-insitro when you change the exception catching here to `except Exception`, does the hang still happen?

https://github.com/ray-project/ray/blob/398300252611547acc4d47b2f645e580e828965b/python/ray/_private/worker.py#L1839

Based on your theory, my guess is the grpc is dead with mutex hold. My expectation is upon this sort of thread failure, the mutex should be released, but idk th

[2022-10-25 11:58] rkooo567 commented on #29632
Hey @architkulkarni can you do more investigation on why the response doesn't contain `status`? Last time I saw this, it was a bug that we couldn't catch `AsyncIoCancelledError`. Basically the handler raises an exception that wasn't caught from try:catch blocks.

[2022-10-25 11:59] rkooo567 commented on #29632
basically the handler returning `None` is undefined behavior and there's something going bad under the hood.

[2022-10-25 12:38] dcarrion87 opened #29658 "[Core] Unable to autoscale CPU job with Kuberay on system with A100"
### What happened + What you expected to happen

Realised I should have posted this here instead of https://github.com/ray-project/kuberay/issues/653 since the resource_demand_scheduler is in this project?

Running into issues getting the autoscaler to scale on simple CPU jobs. I suspect this may have something to do with the underlying system having GPU but having trouble working it out from the

[2022-10-25 12:39] rkooo567 commented on #29656
cc @scv119

[2022-10-25 12:50] rkooo567 commented on #14614
Should we have some tests for Grafana? Maybe at least something like if they is rendering something. I think something that we can do is 1. validate json schema (or at least validate if that's the correctly formatted json). 2. make sure all query returns the value?

[2022-10-25 12:51] rkooo567 commented on #12662
I thought we already did it. Bump up the priority

[2022-10-25 12:53] rkooo567 commented on #16711
Why do you want to write this to a log file? Isn't it sufficient you can see it from the the graph?

[2022-10-25 12:59] clarkzinzow commented on #29557
PR reverted due to flaky GCS tests: https://github.com/ray-project/ray/pull/29659

[2022-10-25 13:02] rkooo567 commented on #29607
Ping me or schedule a meeting if you need more information!

[2022-10-25 13:12] rkooo567 commented on #5840
I think we improved this a lot, but the task error message is probably still not 100% working. However, we are tracking that here. https://github.com/ray-project/ray/issues/27947 here, so I will close this as duplicate

[2022-10-25 13:12] #5840 closed

[2022-10-25 13:14] rkooo567 commented on #16308
@ericl since we have fallback allocation, we can just set it >= and close this?

[2022-10-25 13:15] rkooo567 commented on #14285
I think it's P2. But we better fix it someday..

[2022-10-25 13:16] rkooo567 commented on #7431
@scottsun94 it's on the list. Btw what's the use case of this feature?

[2022-10-25 13:17] rkooo567 commented on #8607
it's not fixed.

[2022-10-25 13:18] #12309 closed

[2022-10-25 13:19] rkooo567 commented on #12309
Use `ray logs` API for this purpose. https://docs.ray.io/en/master/ray-observability/state/state-api.html#logs (note: The API is alpha, and it will be changed at beta to be something like `ray logs actor...`)

[2022-10-25 13:20] rkooo567 commented on #29555
I think as long as worker failure is correctly reported, the state API will contain the error message properly regardless of `ErrorTableData `. (However rn, the tasks are GC'ed, so we can lose the data in this case)

[2022-10-25 13:21] rkooo567 commented on #12313
it is not available yet.

[2022-10-25 13:22] rkooo567 commented on #12313
Maybe we should do it as a part of metrics GA

[2022-10-25 13:23] rkooo567 commented on #28496
You can access this data from Prometheus + Grafana https://docs.ray.io/en/master/ray-observability/ray-metrics.html

[2022-10-25 13:25] rkooo567 commented on #28496
I think the currently available information from the dashboard is not sufficient to do `I'm interested in each task's resource usage. In this way, I can analyze my program more vividly.`. We are planning to improve in the short term (next 3~4 months) and then we will consider to allow persistence of the dashboard state after that.

[2022-10-25 13:26] rkooo567 commented on #13630
Btw the IP from the ray list objects is the IP of the owner, not the object.

[2022-10-25 13:26] rkooo567 commented on #13630
so I don't think it can satisfy the requirement. We may need new APIs to expose the state of plasma store

[2022-10-25 13:27] #15322 closed

[2022-10-25 13:29] rkooo567 commented on #15854
Please make sure to set dashboard_agent port manually if you see this issue. https://docs.ray.io/en/master/ray-core/configure.html#all-nodes

We are planning to make this part more robust, but it is not a high priority rn. It may take some time.

Also dashboard agent is started regardless of the dashboard because it has additional functionality other than the dashboard (runtime env, job submission

[2022-10-25 13:29] #15854 closed

[2022-10-25 13:30] rkooo567 commented on #16328
we can keep it as p2

[2022-10-25 14:22] jharaldson opened #29662 "[Tune] [Datasets] Calling dataset.repartition(1) from within a Trainable cause trials to get stuck in running mode."
### What happened + What you expected to happen

1. When we call `dataset.repartition(1)` from within a Tune Trainable function, this results in the trials getting stuck in running mode. This is also the case for calling `dataset.write_parquet()` from within a Tune Trainable function.

2. We have a function `simulate()` that is used to generate data. This function is input to Tune as a trainable f

[2022-10-25 14:25] jbedorf commented on #29586
You can also use a custom function that creates a directory name that is shorter. By setting the `trial_dirname_creator` of the `tune.run` [call](https://github.com/ray-project/ray/blob/ray-2.0.1/python/ray/tune/tune.py#L152). Not sure if you can specify that via the Tuner class though

[2022-10-25 15:20] ericl commented on #16308
Yes, I think >= would be fine. I don't think you would ever hit this except when manually setting the memory though, if I understand the scenario.

[2022-10-25 15:28] scottsun94 commented on #28538
CC: @rkooo567

[2022-10-25 15:32] architkulkarni commented on #16711
At least one user requested this, but it was a while ago so I don't remember.  I imagine it's so you can parse the data using a program instead of scanning it visually.

[2022-10-25 15:40] architkulkarni commented on #29632
@rkooo567 thanks, that's what I was wondering about.  I'll take a look

[2022-10-25 15:53] architkulkarni commented on #29632
@rkooo567 Are you saying there's a bad response coming from the Jobs server?

[2022-10-25 15:54] clarng opened #29663 "[core] task throttling when node ooms"
### What happened + What you expected to happen

we resubmit task immediately even when the node is under memory pressure. This causes workload to fail or causes OOM

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-10-25 15:55] clarng opened #29664 "[core] oom killer: kill task more aggressively"
### What happened + What you expected to happen

It takes time for process to be killed by os, during that time the node may have run out of memory and cause OOM.

This is a placeholder task to find ways to prevent this from happening as this causes the node to freeze and application to slow down significantly

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

[2022-10-25 16:13] DmitriGekhtman commented on #14862
This issue relates to a deprecated deployment stack.
The KubeRay operator is now the preferred tool for deploying Ray on K8s.
Read about that here: https://docs.ray.io/en/latest/cluster/kubernetes/index.html

[2022-10-25 16:13] #14862 closed

[2022-10-25 16:22] juliusvonkohout opened #29665 "Ray restricted podsecuritystandards for enterprise security and Kubeflow integration"
### Description

@Jeffwan @DmitriGekhtman related to https://github.com/kubeflow/kubeflow/issues/6680 and https://github.com/ray-project/kuberay/issues/502

You can build the OCI images however you want, you just need to adhere to the official safe Kubernetes "Restricted PSP" standard https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted .

If you have a good architecture

[2022-10-25 16:25] Yard1 commented on #29378
Duplicated the workspace and reran the notebook there - after fixing some minor syntax errors it finished successfully without any hanging. Can't reproduce the issue.

https://console.anyscale-staging.com/o/anyscale-internal/workspaces/expwrk_Q68ukq1JemT4KWhrZYYLLsgu/ses_ngqZnDsTTQansCQ8YP7heqRb?command-history-section=worker_log

[2022-10-25 16:31] scottsun94 commented on #16711
Here is a request for this: https://github.com/ray-project/ray/issues/28496

[2022-10-25 16:37] scottsun94 commented on #7431
cc: @richardliaw for use case

[2022-10-25 16:45] rkooo567 commented on #28538
Can you provide a repro script?

[2022-10-25 16:46] rkooo567 commented on #29632
or job server has exception in the middle that's somehow not caught. The handler should never return None in theory if you read the code

[2022-10-25 16:49] #29617 closed

[2022-10-25 16:56] shrekris-anyscale commented on #27089
This seems to be a Serve issue, thanks for looping us in!

[2022-10-25 17:15] jmakov commented on #28538
I start the cluster with `ray up cluster.yaml` without doing anything else.

[2022-10-25 17:21] DmitriGekhtman commented on #29665
This part is beyond near-term scope; for now, "Ray node == K8s pod" is the only architecture we can feasibly maintain.

This the Ray team must make sure to nail down.

Adding the experts from the Ray team to comment on secure image building.
Any thoughts, @ijrsvt @aslonnie @thomasdesr @simon-mo ?

[2022-10-25 17:35] wuisawesome commented on #28075
Closed by https://github.com/ray-project/ray/pull/29353. Thanks for the contribution @JoonHong-Kim !

[2022-10-25 17:40] richardliaw commented on #29378
Interesting... will close this for now.

[2022-10-25 17:40] #29378 closed

[2022-10-25 17:50] c21 commented on #29592
Thanks @jianoaix for taking a look. Assigning issue to you for now.

[2022-10-25 18:04] emmyscode commented on #29640
Adding on that if you **keep** the validation data, but do **not** drop the target column "is_big_tip", the code runs successfully. Is this the intended behavior?

[2022-10-25 18:06] RehanSD opened #29668 "Ray crashes when writing large df to csv"
### What happened + What you expected to happen

When Modin writes a large dataframe to CSV, the Ray workers OOM and then crash, and the whole process hangs. More information can be found [here](https://github.com/modin-project/modin/issues/2999).

### Versions / Dependencies

Ray 2.0.1
Ubuntu 20.04

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I

[2022-10-25 18:17] jianoaix commented on #29668
@RehanSD Can you provide a repro script using Ray Data APIs? That'd be easier for Ray team to debug it.

[2022-10-25 18:19] cadedaniel opened #29669 "[CI] Fix `Tune multinode tests` so spot instance preemption doesn't show as flaky"
Looks like there's an issue in the flaky tracker which causes `Tune multinode tests` to show up as flaky when it shouldn't. According to @simon-mo the test runs were preempted (spot instances) and thus shouldn't show up in the tracker.

see https://anyscaleteam.slack.com/archives/CLJQR6420/p1666641768698169

[2022-10-25 18:26] simon-mo commented on #29665
Is there a scanner/tool we can use to check (and therefore plan out to fix) the gap in our current docker images?

[2022-10-25 18:36] juliusvonkohout commented on #29665
Yes let's start with https://kubernetes.io/docs/concepts/security/pod-security-admission/ use a modern cluster 1.24+ with that enabled and you can audit any violations. 1.24-1.25 is what kubeflow 1.7 will require and it supports the podadmission controller.

Here is an example, but with the wrong profelile (baseline instead of restricted) https://kubernetes.io/docs/tasks/configure-pod-container/en

[2022-10-25 18:36] Tehada opened #29671 "[Core] "No such container" error after ray up"
### What happened + What you expected to happen

After executing `ray up` and waiting until the command finishes, I can't use cluster properly, because container is in "Exited" status (I confirmed it by doing raw ssh into vm) -- if I will run `ray exec` or `ray attach` I will see an error "No such container" with the name of container fromm ray's config. It happens on google cloud with vm's image

[2022-10-25 18:40] juliusvonkohout commented on #29665
You need to add USER 1000:0 at the end of your Dockerfiles. Then run your cicd test and I bet you will already get some error messages regarding file permissions. I think that is the first step and afterwards I would focus on PSS

[2022-10-25 18:41] avnishn commented on #29652
I don't have access to a windows machine, however, I attempted to repro this issue on MacOS M1, a linux instance via google colab, and a linux instance on gitpod.io.

I wasn't able to reproduce your issue running your script.

Are you still running into this issue?

[2022-10-25 18:58] amogkam commented on #29640
Discussed with @dmatrix right now- for validation data you want to keep the label column. When doing validation you still calculate the loss and accuracy, requiring the label column.

However, for a _test_ dataset, you would drop the label column. But then for this case, you would not pass this into `XGBoostTrainer`, but instead use it with `BatchPredictor` after training has finished.

[2022-10-25 18:59] amogkam commented on #29640
https://stats.stackexchange.com/questions/19048/what-is-the-difference-between-test-set-and-validation-set

[2022-10-25 18:59] amogkam commented on #29640
That being said, I think we can raise a better error message here on the xgboost side.

[2022-10-25 19:00] dmatrix commented on #29640
Agreed. The error was a bit misleading.

[2022-10-25 19:08] cadedaniel opened #29672 "[CI] `bk://:mac: :apple: Ray C++ and Java ` is failing/flaky on master."
`bk://:mac: :apple: Ray C++ and Java` is broken for a while

https://flaky-tests.ray.io/

[2022-10-25 19:09] Nithanaroy commented on #28779
Sorry for the delay. That didn't solve the issue. Attached all the dependencies and versions I used in head and worker nodes.

[head.txt](https://github.com/ray-project/ray/files/9863267/head.txt)
[worker.txt](https://github.com/ray-project/ray/files/9863268/worker.txt)

[2022-10-25 19:13] architkulkarni commented on #29672
I can look at post-wheel tests, most of them are runtime env tests which require the Ray wheel to be built to insert it in a conda env.

@cadedaniel The title of this issue doesn't match the description, is it C++/Java or post-wheel-tests?

[2022-10-25 19:15] zhe-thoughts commented on #20344
@jjyao Looks like this can be closed?

[2022-10-25 19:17] zhe-thoughts commented on #20899
@rkooo567 Could you help assign a priority level and let's put it in Core Backlog? Thanks

[2022-10-25 19:18] cadedaniel commented on #29672
Oh.. the link to create the C++/java was too long so I tried creating it from another but forgot to update title

it's `bk://:mac: :apple: Ray C++ and Java `

[2022-10-25 19:21] zhe-thoughts commented on #20906
@rkooo567 Could you help triage this issue with a priority label? Looks like we should move it to Core Backlog? Thanks

[2022-10-25 19:26] clarkzinzow opened #29673 "[AIR - Datasets] pyarrow version check doesn't check upper bound"
We have a pyarrow version check enforcing `pyarrow>=6.0.1` for Datasets; however, this check doesn't check for `pyarrow<7.0.0`, which is currently required for Datasets to be able to properly carry out tabular and tensor workloads. We should add this upper bound check to the version check.

[2022-10-25 19:30] richardliaw commented on #29668
@jianoaix This isn't using Ray Data.  @RehanSD please create a repro using the Ray APIs (data or core or whatever). Thanks!

[2022-10-25 19:30] richardliaw commented on #29668
I guess @rkooo567 has been shepherding this.

[2022-10-25 19:39] krfricke commented on #29669
So the previous failures are due to spot instances failing. Presumable `m5.large` get preempted often. The automatic retries seem to succeed eventually

[2022-10-25 19:39] krfricke commented on #29669
This should just not turn up in the flaky test tracker I think

[2022-10-25 19:43] cadedaniel commented on #29669
I will change the title to "Fix `Tune multinode tests` so spot instance preemption doesn't show as flaky"

[2022-10-25 19:51] zhe-thoughts commented on #22008
(Context: I’m doing a round of cleanup of waiting-for-triage issues)

@scv119 Could you assign a priority? Thanks

[2022-10-25 19:51] Nithanaroy commented on #28779
I don't see a reopen option, @richardliaw @scv119

[2022-10-25 19:58] Yard1 commented on #29374
This was actually caused by https://github.com/ray-project/ray/issues/29673

[2022-10-25 20:18] jjyao commented on #20344
`object_store_memory` is deprecated for actor as of 2.0. You can config object spilling instead (https://docs.ray.io/en/releases-2.0.0/ray-core/objects/object-spilling.html) for out-of-core processing.

[2022-10-25 20:18] #20344 closed

[2022-10-25 20:21] #28712 closed

[2022-10-25 20:37] simon-mo commented on #29665
I believe we already met the requirements regarding uid, gid, ports, etc...

https://github.com/ray-project/ray/blob/69b3e3c0aced4aac2e19505d759d3cf137c8f96d/docker/base-deps/Dockerfile#L16-L17

We can go test against a modern cluster and audit violations. I think there is a misunderstanding here that Ray, on its critical path, and the default configurations, do not run as root at all and do not u

[2022-10-25 20:50] jjyao opened #29677 "[Core] RayActorError should include actor_id in all cases."
### What happened + What you expected to happen

https://github.com/ray-project/ray/pull/27802 added actor_id as an attribute to RayActorError but it's not set in all cases.

### Versions / Dependencies

master

### Reproduction script

https://github.com/ray-project/ray/pull/27802#issuecomment-1234025546

### Issue Severity

_No response_

[2022-10-25 21:02] cadedaniel commented on #29669
fixed by @simon-mo

[2022-10-25 21:02] #29669 closed

[2022-10-25 21:24] jjyao commented on #26878
It's been fixed.

[2022-10-25 21:24] #26878 closed

[2022-10-25 21:25] jjyao commented on #24626
Not yet. It will be done as part of 2.2 core doc revamp.

[2022-10-25 21:35] rickyyx commented on #29294
Should we declare this unstable? cc @scv119

[2022-10-25 21:36] cadedaniel opened #29680 "[CI] `bk://:python: Minimal install 3.10` is failing/flaky on master."
Also 3.8 and 3.9

[code]

I thought Sang's PR would fix this but it didn't https://github.com/ray-project/ray/pull/29657

- bf22325eb518c4a42242a88031909869da003850 FAILED [:python: Minimal install 3.10](https://buildkite.com/ray-project/oss-ci-build-branch/builds/723#01841098-0e54-4c99-9e44-31eb11785577)
- 51a7b093c9fd56d4b7a14d4159fe6a6bf770742e FAILED [:python: Minimal install 3.10](https://bui

[2022-10-25 21:56] c21 opened #29681 "[AIR] Nightly test regression of air_benchmark_xgboost_cpu_10"
### What happened + What you expected to happen

Last successful run (10/19): https://buildkite.com/ray-project/release-tests-branch/builds/1138
First failed run (10/20): https://buildkite.com/ray-project/release-tests-branch/builds/1143

### Versions / Dependencies

master

### Reproduction script

as above

### Issue Severity

High: It blocks me from completing my task.

[2022-10-25 21:58] scv119 commented on #22008
cc @clarkzinzow  this is fixed?

[2022-10-25 21:58] c21 opened #29682 "[AIR] Nightly test regression of air_benchmark_tune_torch_mnist"
### What happened + What you expected to happen

Last successful run (10/19): https://buildkite.com/ray-project/release-tests-branch/builds/1138
First failed run (10/20): https://buildkite.com/ray-project/release-tests-branch/builds/1143

### Versions / Dependencies

master

### Reproduction script

as above

### Issue Severity

High: It blocks me from completing my task.

[2022-10-25 22:08] jjyao commented on #29672
Java tests are failing: https://buildkite.com/ray-project/oss-ci-build-branch/builds/697#01840c5e-eb77-45fe-88d2-bb116216d391

[2022-10-25 22:14] zhe-thoughts commented on #22173
@rkooo567 Could you help determine if this issue is still a valid issue and if so assign a priority? Thanks

[2022-10-25 22:14] scv119 commented on #29625
looks the test is inherently flaky?

[2022-10-25 22:15] rickyyx commented on #25011
I think we have it working? @nikitavemuri

[2022-10-25 22:46] jjyao commented on #28199
Yes, we will keep some idle workers alive for future tasks to avoid the worker startup overhead. Does this behavior work for you @Alxe1?

[2022-10-25 23:34] kouroshHakha commented on #29543
Hello, @ajaffe-lyft Thanks for filing this issue. The issue has been addressed in [this](https://github.com/ray-project/ray/pull/29666) PR. Here is the updated mean and standard deviation as the training progresses.
<img width="1273" alt="image" src="https://user-images.githubusercontent.com/31483498/197901247-c8b239c0-43da-4b66-abc0-dace8d3868e7.png">

[2022-10-25 23:55] jianoaix commented on #29592
Actually this script seems not able to reproduce for me (run "python script.py"). @matthewdeng

[2022-10-26 00:31] rkooo567 commented on #26761
Can you share the workload we can try running?

[2022-10-26 00:41] rkooo567 commented on #16711
Hmm sounds like this should be sufficient for this use case (if it is just for nodes);

[2022-10-26 00:42] rkooo567 commented on #16711
Close as duplicate https://github.com/ray-project/ray/issues/28496

[2022-10-26 00:42] #16711 closed

[2022-10-26 00:43] rkooo567 commented on #7431
The description doesn't answer my question I think. It just says what he wants, but not the purpose!

[2022-10-26 00:47] rkooo567 commented on #29668
@RehanSD how big is each csv file?

[2022-10-26 00:49] matthewdeng commented on #29592
[Here](https://console.anyscale-staging.com/o/anyscale-internal/workspaces/expwrk_PCM3KgMKjKV6TYmuJn3F8s5h/ses_m6kr6sQdYhJQjw7pmPrkTyUj)'s a Workspace where I'm able to reproduce the issue. Maybe it has to do with multi-node?

Ray commit is 2189552ada299a23c8dabf49ef10f4a9ecad68ca.

[2022-10-26 00:51] scottsun94 commented on #12311
Shall we close it since this is old and too general? @rkooo567

[2022-10-26 00:51] scottsun94 commented on #12311
Closing it for now. Please reopen if needed

[2022-10-26 00:51] #12311 closed

[2022-10-26 00:52] scottsun94 commented on #12312
Closing it for now. Please reopen if needed

[2022-10-26 00:52] #12312 closed

[2022-10-26 00:52] rkooo567 commented on #12312
this is done

[2022-10-26 00:53] jianoaix commented on #29592
Hmm, I can repro in python interactive mode with the exact same script (run them one by one), but cannot if running it with "python script.py" :exploding_head:

[2022-10-26 00:56] bveeramani commented on #29682
Looks like this is just noise. See figure below.

This test failed on 10/20 because Tune ran slower than expected. However, the test passed on on 10/21 and 10/24.

In any case, I've opened a PR to prevent this kind of thing in the future: https://github.com/ray-project/ray/pull/29688

[code]

[code]

![image](https://user-images.githubusercontent.com/26107013/197907316-a3d9e229-6588-4f50-a58f-ab97

[2022-10-26 00:56] #29682 closed

[2022-10-26 00:58] rkooo567 commented on #20899
I will mark it P2. I think after fixing the first 2 items, I haven't practically seen issues from this, but we should definitely remove such bad logic from core that can hang.

[2022-10-26 01:01] rkooo567 commented on #20906
We will remove `RAY_DISABLE_MEMORY_MONITOR` and replace it with Ray oom killer (https://docs.ray.io/en/master/ray-core/scheduling/ray-oom-prevention.html). So  I think we can close it. I will just answer users questions here.

This will be replaced by https://docs.ray.io/en/master/ray-core/scheduling/ray-oom-prevention.html which has the documentation! `RAY_DISABLE_MEMORY_MONITOR` basically disabl

[2022-10-26 01:01] #20906 closed