[2020-12-07 20:12] Gekho457 commented on #12654
We're currently finishing up an initial release of a new Kubernetes operator for deploying Ray clusters.
(See https://github.com/ray-project/ray/pull/12098)

I think once we're done with that, we can go ahead and package the operator and associated resources as a helm chart.

[2020-12-07 20:13] Gekho457 commented on #2037
Here's the new issue:
https://github.com/ray-project/ray/issues/12654

[2020-12-07 20:41] cfusting commented on #5425
This also does not appear to work with ax. Is this expected?

[2020-12-07 20:42] simon-mo commented on #12649
Hi @PidgeyBE thanks for raising this. I will look into it

[2020-12-07 20:48] richardliaw commented on #5425
No, that is not expected @cfusting -- could you open a new issue and post the stack trace?

Thanks a bunch!

[2020-12-07 21:00] cfusting commented on #5425
Sure, although there is no stack. Rather it looks like setup is being called for each new trial rather than reset_config.

[2020-12-07 21:01] ericl commented on #11239
@soundway @waldroje please file a separate bug if you are able to come up with a repro of immediate crashes, should be easy to fix in that case.

@soundway I'm running the script you have, but note that you have "cpus_per_worker: 0.2" which is overloading the node by a factor of 5... wouldn't be surprised if that's causing the instability, but let's see.

[2020-12-07 21:04] richardliaw commented on #5425
got it, let's follow up on a separate issue!

[2020-12-07 21:50] rkooo567 commented on #12505
https://discuss.ray.io/t/how-to-abort-a-driver-program-elegant/152/2 Can you try this?

[2020-12-07 22:08] rkooo567 opened #12656 "[Object Spilling] Restore and Spill workers are not properly cleaned by sigint."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script

[2020-12-07 22:09] rkooo567 opened #12657 "[Object Spilling] Shuffle.py keeps increasing num workers unboundedly."
### What is the problem?

https://gist.github.com/ericl/d419c6373928b4b7c8739738262da287

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in a clean enviro

[2020-12-07 22:14] rkooo567 opened #12658 "[Object Spilling] IO workers memory footprint is too high"
### What is the problem?

It seems like although IO workers are IDLE, the memory usage didn't decrease from the dashboard. As a result, each IDLE spillworker has almost 1GB memory footprint

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cann

[2020-12-07 23:54] sumanthratna commented on #12645
(linking PR #11375, https://github.com/ray-project/ray/pull/11375/files#diff-dd7410063c0dffe287cb4eb207a0b1810ba3d934182f9d2b79fa2285a2248112L79-R82, discussion #11859)

[2020-12-08 00:31] subbareddydagumati commented on #12505
It worked.

[2020-12-08 01:05] wuisawesome commented on #12633
Yeah, I don't think this introduces any new concepts, but it's a pretty big API/behavior change (I would expect that I can always can `x.remote()` on anything with a `@ray.remote` decorator).

I don't feel very strongly about this, but would lean towards a different decorator (I suppose something like `@ray.remote(preserve_signature=True)` wouldn't be a super big deal).

[2020-12-08 01:23] simon-mo opened #12662 "Ray dashboard_url and prom_discovery.json files not scoped to session dir"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
From offline conversation with @rkooo567 :
[code]
### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot

[2020-12-08 01:26] rkooo567 commented on #12662
I think P2 is better because if we change the location, it is sort of an API change (maybe we should potentially have an API to access the from discovery file in the future to avoid this sort of changes).

[2020-12-08 02:12] hybug commented on #12646
Issue #6669 implement self-play with PPO via multi-agent. But in PokerGame, the opponent-agent compute_action must base on the observation after rl-agent's step. So i don't think multi-agent is the proper way to implement PokerGame's self-play.

If you have any progress on PokerGame's selfplay, welcome to communicate with me.

[2020-12-08 02:16] rkooo567 opened #12663 "[Object Spilling] Thrashing when there are large number of dependencies for many tasks"
### What is the problem?

Discovered from the shuffling workload: https://gist.github.com/ericl/d419c6373928b4b7c8739738262da287

When there are many tasks with a large number of dependencies, tasks are not properly scheduled because they are waiting for dependencies to be local, but some of the dependencies are evicted (to make space) before every dependency becomes local. These dependencies are

[2020-12-08 02:25] rkooo567 commented on #12663
This could be the symptom of this behavior; https://github.com/ray-project/ray/issues/12657

[2020-12-08 02:37] ericl commented on #12653
@pcmoritz @simon-mo do we have particular redis requirements?

[2020-12-08 02:39] ericl commented on #12640
This is expected behavior, please see https://docs.google.com/document/d/167rnnDFIVRhHhK4mznEIemOtj63IOhtIPvSYaPgI4Fg/edit for workarounds ("Accessing global variables"

[2020-12-08 02:41] ericl commented on #12650
@richardliaw

[2020-12-08 02:42] DonYum opened #12665 "[core] The ports being used in ray is too messy..."
## version
1.1.0.dev, 1.0.1.post1, 1.0.1, 1.0.0

## background:
I'm debugging ranning ray cluster with docker. For some reasons, I can't use host network mode. So I have to find all ports that ray used and export to external.
And then, I found it's a big dirty work. So much so that I'm not done yet.

I have find the ports under is necessary:
- HEAD(10.12.0.125):
export ports: 6379 8265  8075   807

[2020-12-08 02:42] ericl commented on #12622
@richardliaw

[2020-12-08 02:43] rkooo567 commented on #12665
You should also expose `--min-worker-port` and `--max-worker-port`https://docs.ray.io/en/latest/configure.html#ports-configurations

[2020-12-08 02:44] ericl commented on #12599
@PidgeyBE this is an internal API, we don't provide any guarantees on the behavior of those.

[2020-12-08 02:49] Glaucus-2G commented on #12488
After many attempts, this happens every time I run about 114 iterations.

And there was no memory leak according to the dashboard.

How should I check this problem?

[2020-12-08 02:49] DonYum commented on #12665
@rkooo567  I tried `--worker-port-list=10000,10001,10002` and export `10000,10001,10002`. However, it's not help. I think it's the same effort as `--min-worker-port` and `--max-worker-port`.
Am I right?

[2020-12-08 02:50] rkooo567 commented on #12665
3 are not enough. You should open at least as many as `num_cpus`, and it is recommended to open more to avoid port conflict or worker startup failures (because of address already in use).

[2020-12-08 02:57] DonYum commented on #12665
OK, I'll try now.
Another question is: what is '--node-ip-address' for? is that necessary?
BRs.

[2020-12-08 02:58] rkooo567 commented on #12665
That' used when you want to specify the IP address on your own. Otherwise, the IP address is resolved automatically by Ray (it is probably resolved to be the docker internal IP address if you don't specify anything).

[2020-12-08 03:37] simon-mo commented on #12653
It should be bumped to >=3.5.0 already after #11776

[2020-12-08 04:06] concretevitamin opened #12667 "[core] Is starvation possible for multi-driver on the same cluster?"
### What is the problem?

We are launching multiple drivers, at different times, that connect to the same Ray cluster:

* Jobs 1-10: launched at the same time; running for 20 hours; constantly submitting tasks, which are being completed by the cluster.  No starvation.
* Job 11 now freshly launched at 20 hours; connected to the same cluster; submitting a few tasks, ray.get() on those, but those are

[2020-12-08 04:07] mfitton opened #12668 "[Dashboard]Profile Actor Button Not Working"
### What is the problem?
The launch profiling button doesn't work because of a change to a backend grpc payload that led to nodeId no longer being present in actor objects in the front-end. The symptom is that when the profiling button is clicked (any duration), the front-end crashes to a blank page.
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduc

[2020-12-08 04:55] ericl commented on #12490
Have you tried using the env settings?
[code]

It sounds like setting horizon and no_done_at_end might do the trick?

[2020-12-08 05:29] #12643 closed

[2020-12-08 05:30] rkooo567 commented on #12639
This must have been fixed for 1.0.1. Do you have the correct IP address when you run ray.init?

[2020-12-08 06:10] rkooo567 commented on #12546
@ffbin Do you have a plan to work on it soon?

[2020-12-08 06:18] rkooo567 commented on #12505
Awesome! We can probably add this to the documentation.

[2020-12-08 06:19] rkooo567 commented on #12479
I will spend time on this once you create a script!

[2020-12-08 06:20] rkooo567 commented on #12337
One possibility is that we might have some race condition in the shutdown process (since we deallocate cpp code => python, but there are some parts python code accesses cpp code). We definitely need more investigation here since many users suffer from it. It'll be really awesome if any of you guys can create a reproducible script!

[2020-12-08 06:23] rkooo567 commented on #11274
Hmm I am not really familiar with this code path. cc @simon-mo Do you have any guess?

[2020-12-08 06:25] rkooo567 commented on #11180
Oh actually the issue is that locks are not serializable. Maybe the lock object was captured by your remote task.

We recently developed a serialization diagnosis tool. Please try using it (it is available in the latest master); https://docs.ray.io/en/master/serialization.html#troubleshooting

[2020-12-08 06:25] rkooo567 commented on #11180
This is how you can download the latest master https://docs.ray.io/en/master/installation.html#daily-releases-nightlies

[2020-12-08 06:35] ffbin commented on #12546
Yeah, i am working on it now. I want to abstract NodeSelector separately, so that PG and actor can reuse a set of interfaces when scheduling and selecting nodes.

[2020-12-08 06:55] ffbin commented on #12546
@rkooo567

[2020-12-08 09:56] PidgeyBE commented on #12599
Ok @ericl . We will investigate if we can find a way to eliminate the use of the function (on our side).

[2020-12-08 09:56] #12599 closed

[2020-12-08 12:07] sven1977 commented on #12480
This is a great suggestion @abrandenb . I will take a look at this. We should also have a "output_max_num_episodes" parameter that limits the number of episodes in one file. If either `output_max_num_episodes` or `output_max_file_size` is None, RLlib will use only one of these restrictions, if both are given, they are both max conditions. At least one of them must be provided.

[2020-12-08 12:55] #9293 closed

[2020-12-08 16:23] jsanjay63 commented on #11412
@rkooo567 Could you please help with any updates on this.

[2020-12-08 16:32] edoakes opened #12676 "Clarify versioning requirements for Ray Client"
Do I need to have the same Python version locally as is running on the cluster? Do I need to have the same Ray version?

Seems like we could potentially be somewhat lax here if we define the gRPC interface well.

[2020-12-08 16:32] mirekphd commented on #12653
Yup, it looks like it's just waiting for a new release: https://github.com/ray-project/ray/blob/10572611aa8c9638d97b755c6a7b19afd5e39497/python/setup.py#L157

[2020-12-08 17:36] #8502 closed

[2020-12-08 18:10] mrmotallebi opened #12677 "[tune] Pickle @torch.jit.script annotated functions (ScriptFunction)"
### What is the problem?

Trying to run a module with `@torch.jit.script` annotation, it fails with the following error:

Running `pickle.dumps` on the module / trainable gives the same error.

What is the solution for this?

Not sure. `torch.jit.save` ? https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/docs/serialization.md

*Ray version and other system information (Python version, T

[2020-12-08 18:13] rkooo567 commented on #12546
The inteface LGTM. But this line;
[code]
is different from this issue's policy right?

It is soft spread as a fallback currently.

[2020-12-08 18:26] #12615 closed

[2020-12-08 18:27] rkooo567 commented on #12337
I also found processes are not killed when raylets die with some unexpected error (ex, segfault). Do you guys see the same pattern?

[2020-12-08 18:32] Gekho457 commented on #2037
Also, feel free to post about this on our Discussion page: https://discuss.ray.io/

[2020-12-08 18:37] janblumenkamp commented on #12337
I think I can reproduce the issue if I send multiple SIGINT in the command line (i.e. press Ctrl+C repeatedly) without waiting for the process to terminate on its own. In that case, the last thing that is printed is something like `[1]    1687004 abort (core dumped)`.  If I send a single SIGINT and wait, ray seems to clean up everything and quit properly.

[2020-12-08 18:43] alexenos opened #12678 "[rllib] MultiAgentBatch object has no attribute 'total'"
### What is the problem?
When trying to train with an ExternalEnv MultiAgent environment through the PolicyServerInput/PolicyClient interface. The following error occurs:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
python==3.6.9
ray==1.0.1.post1
tensorflow==2.3.1
OS: Ubuntu 18.04 LTS

### Reproduction (REQUIRED)
Based on the `unity3d_[server|client

[2020-12-08 18:44] alexenos commented on #12678
Here are the scripts with a `.txt` extension

[bug_client.txt](https://github.com/ray-project/ray/files/5661172/bug_client.txt)
[bug_server.txt](https://github.com/ray-project/ray/files/5661173/bug_server.txt)

[2020-12-08 18:46] #12437 closed

[2020-12-08 18:49] ericl commented on #12438
Hey @kfstorm just checking, since you self-assigned are you planning to submit a patch?

[2020-12-08 18:53] ericl commented on #12678
Looks like it was using a deprecated method .total instead of .agent_steps(). Do you mind submitting a fix?

[2020-12-08 18:56] ericl commented on #12529
@richardliaw it looks like an odd interaction of PBT with the hyperopt search perhaps. Not sure if that's allowed.

[2020-12-08 18:58] ericl commented on #12501
@simon-mo any ideas?

[2020-12-08 19:00] ericl commented on #12494
I think this is expected, it's just a performance difference between the frameworks.

[2020-12-08 19:42] rkooo567 commented on #12337
Oh probably our sigint handler is not idempotent so when it receives multiple of them, it is crashed (and that causes the whole processes to be killed fast).

[2020-12-08 19:45] simon-mo commented on #12501
Can you show the output of `pip debug`?

[2020-12-08 19:48] rkooo567 opened #12680 "[Core] Ray.get(timeout=0) doesn't work"
### What is the problem?

it looks like ray.get(obj, timeout=0) is equivalent to just ray.get(obj)

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I

[2020-12-08 19:48] ericl commented on #12488
This is quite odd. If you are able to reproduce with a dummy env (post a reproduction snippet here with np.zeros() for obs and so on), we can look into it further.

[2020-12-08 19:51] ethem-kinginthenorth opened #12681 "[rllib] Observation outside expected value range"
### Describe your question
I am getting `Observation outside expected value range` and I checked the values and all of the values are in those ranges. I searched online and seems like there is not a good answer to this question.

Is there any pointer how to debug this issue? Appreciate any help.

ray version is 0.8.4

Stack trace:
[code]

[2020-12-08 19:52] ericl commented on #12681
99% of the time it really is out of the range, I would try manually checking space.contains(obs) for the obs and space you have.

[2020-12-08 19:53] ericl commented on #12470
It doesn't work since your cluster only has 1 GPU. You could try num_gpus: 0.5 to allow two workers on a GPU.

[2020-12-08 19:58] ethem-kinginthenorth commented on #12681
It does print out the values and I checked all of them. I see something like below and they are all between -1e20 and +1e20. I am sure I am missing something but kind of puzzled
[code]

[2020-12-08 20:04] 1seck commented on #12470
Hi there, thank you I will try that, but the question was also why the
engine does not automatically start another worker instance on aws, since
in ddppo the head also needs 1 GPU for calculations.
Or more general, since I am trying for some weeks now to get an industry
standard model and physics model to run: what are good configurations? P2
xlarge have to few mem since the whole model params are

[2020-12-08 20:27] ericl commented on #12470
Is your cluster configured to have GPU worker nodes? https://docs.ray.io/en/master/cluster/autoscaling.html

I would try out a basic non-autoscaling setup first (perhaps with a single p2.8xl or p2.16xl), to validate things work before running with multiple nodes.

[2020-12-08 20:50] #7966 closed

[2020-12-08 20:53] alexenos commented on #12678
I dont mind at all!

[2020-12-08 20:57] richardliaw commented on #12529
Hey @meechos, PBT isn't compatible with Hyperopt. Consider using PB2:

https://docs.ray.io/en/master/tune/api_docs/schedulers.html#summary

[2020-12-08 21:14] 1seck commented on #12470
That I actually did which goes, but then I switched to g4dn with 1 GPU and the scaling works fine now with 1 head, 2 workers. I added queue_trials=True.
Getting lim increase soon. Only  problem now is the batch size problem.

[2020-12-08 21:18] jennicetao opened #12683 "[Core] ability to set the hard limit for the number of workers"
`[2020-12-08 21:07:51,676 I 20313 20313] worker_pool.cc:746: The worker pool has 51 registered workers which exceeds the soft limit of 48, and worker 362535858062b8599b72fa433da90d45df6cb739 with pid 2138 has been idle for a a while. Kill it.`

This very frequently happens with my job where many same tasks run with some time gaps between each run. It's time consuming for my tasks to reload in a ne

[2020-12-08 22:03] #12651 closed

[2020-12-08 22:33] rkooo567 opened #12685 "[Object Spilling] Plasma store ReturnFromGet segfault depending on different object_store_memory"
### What is the problem?

When I ran the below script, I can reliably get the segfault from the plasma store from `ReturnFromGet`.

More weird discovery is that when I ran the script with object_store_memory=4GB, it is so much slower than when it is 1GB.

Ran it from a machine that has 16GB memory

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The scri

[2020-12-08 22:36] ericl commented on #12683
Can you provide a reproduction case? Is this with multiple different jobs on the same cluster?

[2020-12-08 22:38] ericl commented on #12390
@ijrsvt can you change the yamls to ray-ml by default?

[2020-12-08 22:39] ericl commented on #12382
@wuisawesome do you mean that only three workers are launched, instead of 4?

[2020-12-08 22:40] ericl commented on #12379
Should be fixed in master cc @AmeerHajAli

[2020-12-08 22:40] #12379 closed

[2020-12-08 22:40] rkooo567 commented on #12657
Turns out the issue is unrelated to object spilling, but related to the shuffle code itself. If we have a blocking call inside a task, it can create a new worker. I will close this and open a new PR with better description

[2020-12-08 22:40] #12657 closed

[2020-12-08 22:41] wuisawesome commented on #12382
Yeah

[2020-12-08 22:41] ericl commented on #12378
Is the reason that max_workers defaults to zero for the node type if not available? Should we just make it a required field?

[2020-12-08 22:42] ericl commented on #12334
Not that flaky now, closing.

[2020-12-08 22:42] #12334 closed

[2020-12-08 22:42] ericl commented on #12331
Not that flaky now, closing.

[2020-12-08 22:42] #12331 closed

[2020-12-08 22:42] wuisawesome commented on #12378
Ah, in hindsight I think that might've been the issue. I didn't spend much time debugging this because it occurred during some higher level ML work.

[2020-12-08 22:45] rkooo567 opened #12686 "[Core] More elegant mechanism to borrow CPUs for workers"
### What is the problem?

Currently, when the worker's main thread is blocked by Ray's blocking call, we are running a mechanism called borrowing cpus. The idea is basically that when the task is blocked, we release the cpu of that worker until it is unblocked to avoid deadlocking.

The current mechanism is not really great and easily can lead to starting 100s of workers. For example, try running

[2020-12-08 22:45] ericl commented on #12248
Duplicates https://github.com/ray-project/ray/issues/12138

[2020-12-08 22:45] #12248 closed

[2020-12-08 22:46] rkooo567 commented on #12663
cc @stephanie-wang will produce a design doc that will fundamentally fix this sort of issue by adding admission control to object manager.

[2020-12-08 22:48] ericl commented on #12213
Can you reproduce this on a "vanilla" cluster without xgboost? If so, we can raise priority to P0.

[2020-12-08 22:48] ericl commented on #12206
Duplicates https://github.com/ray-project/ray/issues/12213

[2020-12-08 22:48] #12206 closed

[2020-12-08 22:52] ericl commented on #12205
We can raise the priority of this to P0 if you can reproduce with a simple code snippet (no xgboost).

[2020-12-08 22:54] rkooo567 commented on #11994
@stephanie-wang I will close the issue!!

[2020-12-08 22:54] #11994 closed

[2020-12-08 23:00] ericl commented on #12073
@richardliaw this is probably related to the event loop bottleneck. It might be fixed by your latest patch.

[2020-12-08 23:01] ericl commented on #12059
@raulchen we can probably cap to an upper limit of 10000 or something for redis connections?

[2020-12-08 23:02] #12058 closed

[2020-12-08 23:02] #12053 closed

[2020-12-08 23:10] ijrsvt commented on #12390
@ericl I'm okay with doing this--my only concern is that it _will slow down the pull time_.

[2020-12-08 23:12] ericl commented on #12390
Can you add the original image as a second line with a comment as a hint to the user? e.g.
[code]

[2020-12-08 23:15] ijrsvt commented on #12390
@ericl Great idea!! :) Will do ASAP

[2020-12-08 23:15] richardliaw opened #12688 "[docker] Image links are out of date"
The docker image links are out of date. It'd be great to have an up-to-date version that I can point to for users!

https://docs.ray.io/en/master/installation.html?highlight=docker#docker-source-images

[2020-12-08 23:54] simon-mo commented on #12649
The reason is SystemExit (raised by exit_actor()) was raised in the asyncio loop thread, which isn't caught by Ray worker's main thread. A work-around is to use `os._exit(0)` to exit the process forcefully. But this will skip Ray worker's cleanup stack. I will continue investigate a solution for this.

[2020-12-08 23:58] richardliaw opened #12690 "Avoid global state access during cleanup"
[code]

I'll often see weird issue like this. It'll be nice to avoid this stacktrace, as it is misleading (looks like a bug when actually the cleanup is OK).

[2020-12-09 00:08] ericl commented on #11239
FYI
[code]

[2020-12-09 00:11] ericl commented on #12690
This seems like a P0 regression

[2020-12-09 00:12] ericl commented on #12690
@richardliaw can you provide a simple repro? This seems like a regression.

[2020-12-09 00:12] simon-mo opened #12691 "Metric Agent Broken on Windows"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]

https://github.com/ray-project/ray/runs/1520348041#step:7:3625

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run y

[2020-12-09 00:13] ericl commented on #12690
Actually, seems this causes the problem
[code]

[2020-12-09 00:16] AmeerHajAli commented on #12382
Can you just add 1 if it is a headnode here:
https://github.com/ray-project/ray/blob/fd4e025da6df60838600d019be19f55f35707b32/python/ray/autoscaler/_private/resource_demand_scheduler.py#L564
?

[2020-12-09 00:19] AmeerHajAli commented on #12604
@rkooo567 , can we close this PR?

[2020-12-09 00:23] barakmich commented on #12583
Should be covered by #12585

[2020-12-09 00:33] ericl commented on #11239
To me, this sounds like there is some issue where the two sets of actor launches are conflicting (i.e., one does not launch completely, or the launch of the second is interrupting the launch of the first). I can think this might happen if `queue_trials=True`. Setting that flag to false will prevent Tune from over-launching trials that might not fit in the cluster (we intend to remove this flag onc

[2020-12-09 00:43] soundway commented on #11239
@ericl Thanks for providing the dependency list. I will see if I can get a similar docker image in our cluster.

For the other issue I mentioned, we aren't using any Tune/RLLib -- just vanilla Ray with our own actors/tasks. Unfortunately, we can't report a bug with our code so it might take some time before I can get a clean standalone script that could reproduce this. Even then, these things don'

[2020-12-09 00:58] LARS12llt commented on #12494
@ericl @ingambe Thanks for replying. Yes, minor implementation differences between different frameworks could sometimes cause a significant difference. After tunning a lot in pytorch with ray and many discussions with ray users,  I don't think this  is the only reason.
After discuss with other competitors in NeurIPS 2020 procgen competition, which use ray as default distirbuted framework, I think

[2020-12-09 01:10] ericl commented on #12494
Interesting. This could be the case, especially if you are seeing learning performance differences (and not just wall-time compute differences). @sven1977 might be worth taking a look here to see if we can pick up those fixes.

[2020-12-09 01:10] richardliaw opened #12694 "Resource scheduling error message is misleading/incorrect"
I'm seeing this error message in my stderr.

It says I have some number of workers that cannot be available, but then subsequently in the same sentence, claims to actually have precisely those resources available!

[code]

[2020-12-09 01:12] richardliaw commented on #12694
(this is a new application that I'm working with, so I'll investigate why this is the case).

cc @rkooo567 @wuisawesome @ericl

[2020-12-09 01:19] rkooo567 commented on #12694
This message is printed as a deadlock warning, and I guess the issue is just a deadlock warning happens before we actually schedule the task (so some timing issue).

[2020-12-09 01:30] richardliaw commented on #12208
@magnusja I think this might be a separate issue because the raylet fails?

If so, should we then mark the OOM issue as fixed and open a separate issue for this new failure?

[2020-12-09 01:32] richardliaw commented on #12694
@rkooo567 Can you explain to me what you mean by deadlock warning? To me, it seems like we're requesting resources, and the resources are available.

[2020-12-09 01:43] rkooo567 commented on #12694
So this is printed as a part of

[code]
But it seems like there's a timing issue that this warning can be called when it is not supposed to.

[2020-12-09 01:50] rkooo567 commented on #12694
@ericl It looks like if there's no available worker (meaning `PopWorker` returns nullptr), we can have tasks that have enough resources, but still in the READY state, which will be printed as a part of resource deadlock warning? (Look at the line with `if (worker != nullptr)`)

[code]

[2020-12-09 01:53] ffbin commented on #12546
soft_spread is just a sample, it will support spread / pack / strict_ spread/strict_ pack. I will submit a PR this week.

[2020-12-09 01:54] wuisawesome commented on #12694
Let's verify this doesn't happen when the new scheduler is turned on.

[2020-12-09 01:56] rkooo567 commented on #12694
@wuisawesome This won't because we don't use new scheduler queue for the resource deadlock warning judgement logic.

Also I found the test has been actually skipped;

[code]

[2020-12-09 01:56] rkooo567 commented on #12694
Should we enable it for the new scheduler?

[2020-12-09 02:02] wuisawesome commented on #12694
Right we have to implement it, so we should just make sure this bug doesn't exist once we do turn it on.

Let me know if I'm missing something here.

[2020-12-09 02:12] rkooo567 opened #12695 "[New Scheduler] Implement the resource deadlock warning"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-09 02:13] rkooo567 commented on #12695
cc @wuisawesome

[2020-12-09 02:19] mattdornfeld opened #12696 "[rllib] PerWorkerGaussianNoise is broken?"
### What is the problem?

PerWorkerGaussianNoise fails to instantiate with the below error

[code]

### Reproduction (REQUIRED)
I can reproduce if necessary, but I was able to fix by creating a custom `Exploration` class that contains the following changes https://github.com/ray-project/ray/compare/master...mattdornfeld:patch-1

[2020-12-09 02:21] GuHongyang commented on #12638
Thanks!  But I think this is not clear enough, especially in TrialRunner, when defining hooks such as “start”, “end”, and “completed” for “step” and “trial”, an entire flow chart should be given to facilitate development. It can have a clear structure like pytorch-lightning, or a mini_pyro given by pyro.

These are some of my humble opinions, but thank you very much.

[2020-12-09 02:41] #12498 closed

[2020-12-09 02:50] ericl commented on #12694
Duplicates https://github.com/ray-project/ray/issues/12695

[2020-12-09 02:50] #12694 closed

[2020-12-09 03:06] AmeerHajAli opened #12698 "[autoscaler] resource demands are not removed when ray.kill() is called on an actor that did not start yet."
The resource demands of an actor killed with ray.kill() are not removed if the actor did not start yet (say waiting for its worker node to launch)
### Reproduction (REQUIRED)
yaml:
[code]
the code:
[code]
this will print:
`INFO resource_demand_scheduler.py:186 -- Resource demands: [{'WORKER': 1.0, 'CPU': 0.2}]`

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my scri

[2020-12-09 03:06] wuisawesome commented on #12695
This falls under `test_failure` right?

[2020-12-09 03:10] AmeerHajAli opened #12699 "[autoscaler] refactor duplicate code for handling request_resources()."
The current code has some potentially duplicate code in autoscaler inside the resource_demand_scheduler.py (`_add_min_workers_nodes()`) that adds nodes to accommodate `request_resources()` and the termination code in autoscaler.py (`_get_nodes_allowed_to_terminate`).

In general, this refactoring can also involve a better design of the autoscaler.

### Describe your feature request

For feature re

[2020-12-09 03:21] richardliaw commented on #12638
cc @krfricke this could be a good piece of documentation to add (a flowchart showing where Callbacks, Schedulers, and Search Algorithms come in).

[2020-12-09 03:37] richardliaw commented on #12073
@Andrej4156 Can you try again with the latest nightly wheels? `pip install -U [wheel-link]` https://docs.ray.io/en/master/installation.html#daily-releases-nightlies

[2020-12-09 04:16] kfstorm commented on #12438
Oh, sorry. I forgot to follow this issue. @wuisawesome Do you know if there's a quick fix so I don't need to go through the new scheduler logic?

[2020-12-09 04:43] DonYum commented on #12665
@rkooo567 When I use `--node-ip-address` to specify IP to host IP, it lanch ok but runs `ray memory` fail:
[code]

[2020-12-09 04:46] DonYum commented on #12665
@rkooo567  Another problem about ports is: when I export a bundle of ports, docker will hang for a long time(about 30s). The cmd is like this:
`docker run -it -p 6379:6379 -p 8265:8265 -p 8075:8075 -p 8076:8076 -p 8077:8077  -p 6666:6666  -p 6667:6667 -p 10000-10022:10000-10022 --shm-size=4g rayproject/ray bash`

[2020-12-09 05:02] DonYum opened #12701 "[ray][question] What happens when I use importlib in task/actor within a cluster?"
I'm very confused of this and I have no env to try, so anyone can give me a tip?
Whether I need sync code to all node? If it's necessary, is there a convince method to sync code automaticly?

Thx a lot and BRs!

[2020-12-09 06:31] ericl commented on #12546
If we want to hotfix this into the release branch, the fix should be minimal. Can we do something small (<20 LOC patch) without the refactoring initially?

[2020-12-09 06:44] rkooo567 commented on #12690
I think this is fixed by https://github.com/ray-project/ray/pull/12655/files?

[2020-12-09 06:47] #12690 closed

[2020-12-09 06:52] ijrsvt commented on #12688
@richardliaw can you look at the PR? I'm not 100% sure if this is the change you are looking for :)

[2020-12-09 07:46] sven1977 commented on #12696
This has been fixed in newer versions of rllib.
The current constructor of PerWorkerGaussianNoise already has this:
[code]

Would you be able to upgrade to the latest master?

[2020-12-09 07:46] #12696 closed

[2020-12-09 07:53] sven1977 commented on #12678
Thanks for raising this @alexenos ! This PR fixes the issue:
https://github.com/ray-project/ray/pull/12704
Closing this. Feel free to re-open should the fix not work for you.

[2020-12-09 07:53] #12678 closed

[2020-12-09 07:55] sven1977 commented on #12632
Thanks for filing this @mvindiola1 ! Taking a look now. ...

[2020-12-09 08:14] sven1977 commented on #12632
I remember we often got the following complaints:
Users trying to set `default_policy` in `build_trainer` to their own custom policy class and then wondering that this class still wouldn't be used by the built Trainer. The reason was b/c `get_policy_class` would still return the TF policy version (given that framework="tf") and the given default was simply ignored. This is why we changed it to the

[2020-12-09 08:14] #12632 closed

[2020-12-09 08:16] sven1977 commented on #12516
Taking a look right now ...

[2020-12-09 08:16] sven1977 commented on #12516
Thanks for filing this @hybug !

[2020-12-09 08:41] vnlitvinov commented on #585
Just giving a heads-up - I've taken the sword in https://github.com/conda-forge/staged-recipes/pull/11160, and it now passes CI for Linux and Windows packaging Ray 1.0.1. So I have high hopes of having Ray in conda-forge really soon.

[2020-12-09 09:45] ffbin commented on #12546
@ericl I think i can submit a hotfix PR today.

[2020-12-09 10:03] sven1977 commented on #12516
Ok, here is the fix PR: https://github.com/ray-project/ray/pull/12706
As a workaround, could you change the following in your rllib/evaluation/worker_set.py (look for the `if self._remote_workers:` if-block)?
[code]

The problem was that the local-worker (driver) was using the already preprocessed space (got it from the remote-worker) to build its own policy/preprocessot stack. That's why the nece

[2020-12-09 10:07] sven1977 commented on #12681
@ethem-kinginthenorth I think it's simply the dtype of the `time` child-space, which is Box(float64), but your obs time is a float32 np.ndarray.

[2020-12-09 10:34] sven1977 commented on #12504
Thanks for filing this @uhlajs @adriendoerig . Taking a look rn. ...

[2020-12-09 10:54] sven1977 commented on #12504
I cannot reproduce the error. The above script runs fine on the current master using either `framework=tf` or `framework=tf2`. :/

[2020-12-09 10:55] sven1977 commented on #12504
What's your tf version?
I just tried this on Mac OS with tf 2.1.0.

[2020-12-09 10:58] adriendoerig commented on #12504
I am on tf 2.3 with linux.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, 9 Dec 2020 at 11:55, Sven Mika <notifications@github.com> wrote:

[2020-12-09 11:55] FruechteBini opened #12709 "[rllib] Number of episodes in trainer.train() with "no_done_at_end : True" (?)"
Hello guys,

i am currently working on a multi-agent project and i have a hard time understanding how the number of executed episodes is determined.

Info:

My train()-method is similar to the one on the [python api-documentation](https://docs.ray.io/en/master/rllib-training.html#basic-python-api):
[code]
my config looks like this:
[code]
As you can see, i use custom callbacks to print the episode

[2020-12-09 12:03] sven1977 commented on #12509
What seems to break in 1.0.1 (but not anything larger than this version: 1.0.1post1 or 1.2) is when we have a custom RNN-based model that overrides ModelV2's `get_initial_state()`.
You would receive an empty list for your internal states in the model (forward) calls.

As workarounds, do one of the following:
- set `_use_trajectory_view_api=False` in your main config dict.
- OR: add the view requir

[2020-12-09 12:05] #12446 closed

[2020-12-09 12:23] sven1977 commented on #12709
It's totally normal to have more than one episode in each train iteration. This depends on:
1) Your environment and the number of timesteps that an episode lasts.
2) Your "horizon" config key, which will force-terminate the environment after that many timesteps (even if the episode is still ongoing).
3) Your "soft_horizon" config key: If True, RLlib will not try to reset the environment after the

[2020-12-09 12:24] sven1977 commented on #12681
Closing this issue for now. Please feel free to re-open should the above solution not fix your problem.
Thanks.

[2020-12-09 12:24] #12681 closed

[2020-12-09 12:26] sven1977 commented on #12372
This has been merged today.
Simply set in your config:
[code]
to make the collected batches (including train batches) use the individual agent count rather than the env-step count (which remains the default).

Also: This only works if `_use_trajectory_view_api=True` in your config (default value).

[2020-12-09 12:26] #12372 closed

[2020-12-09 13:07] uhlajs commented on #12504
Using TF 2.3.0 as well.

[2020-12-09 13:20] hybug commented on #12516
Wonderful solution! Thanks to your selfless contribution!

[2020-12-09 13:20] #12516 closed

[2020-12-09 14:36] HarvinderBhullar opened #12710 "RaySGD: Class defined in another local module and passed to TorchTrainer training_operator_cls argument is nor copied to worker node"
Problem:

If class passed to **training_operator_cls**  argument of TorchTrainer is defined in another module then it is not getting copied to all the workers.

Ray: 1.0+
Python: 3.7
Torch 1.6.0
OS: Linux

[code]

MyNetwork is defined in a separate file mynetwork.py

[code]
This code throws module MyNet not found. If this code is include in the main file then everything works fine.

- [ x] I have

[2020-12-09 14:47] 1seck commented on #12470
I suppose the error was that relic does not wait until the autoscaled instance workers are started up and with `queue_trials=True ` works fine now, could that be, then we can close the issue.

[2020-12-09 15:33] abrandenb commented on #12480
Thanks for the response @sven1977 ! Just a minor comment from my side:

Is there a specific reason why splitting the output has to be enforced? I do agree, that the default should include some type of file splitting (e.g. by `output_max_file_size` as it is currently), since this prevents the unwilling generation of virtually unreadable monster-files. However, if a user may decide that saving all e

[2020-12-09 16:08] afaul opened #12713 "[rllib] compute_action broken since Version 1.0.1"
### What is the problem?
I'm using the compute_action function of Trainers to evaluate the trained agents.
Since Version 1.0.1 the compute_action function, at least of the PPOTrainer, don't accepts Dict-based observation spaces as parameter.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python 3.7.7
TensorFlow 2.2.0
OS: Windows

### Reproduction (REQUIRED)
P

[2020-12-09 16:48] sven1977 commented on #12713
Thanks for filing this @afaul !
I think this is the same issue as this one here, which is fixed now:
https://github.com/ray-project/ray/issues/12516

[2020-12-09 16:49] sven1977 commented on #12713
Closing this due to being a duplicate.

[2020-12-09 16:49] #12713 closed

[2020-12-09 17:10] anabranch commented on #585
@vnlitvinov this is amazing!!!! Thanks so much :). We were just discussing this internally and we're so glad to see the progress!!!!!

[2020-12-09 17:11] #12529 closed

[2020-12-09 17:23] meechos opened #12717 "[tune] quniform sampling results out of bound"
### What is the problem?
 The quantised uniform sampling results out of bound.  A dropout range of

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray 1.0.1-post1
torch 1.4.0
python 3

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [latest wheels](https://docs.r

[2020-12-09 17:27] sven1977 commented on #12494
Yeah, on wall-time, no doubt, TorchPPO is slower. But I don't remember seeing any learning performance differences when I recently ran PPO Atari benchmarks (I ran both tf and torch).
The big difference I still see is only:
- default initialization of weights in Dense layers is Xavier in tf and normc in torch (our SlimFC class actually uses Xavier as default, but we override this with normc if we c

[2020-12-09 18:26] simon-mo opened #12719 "Custom Serializer Guide"
### Describe your feature request
https://docs.ray.io/en/latest/serialization.html?highlight=serialize
The doc page removed the mention of custom_serializer. Can we add a simple guide for the best practices for implement the custom `__reduce__` function?

cc @richardliaw @suquark
For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-09 18:29] richardliaw commented on #12719
Note that this is blocking people from porting from 0.8 to 1.x.

(`register_custom_serializer` was removed)

[2020-12-09 18:29] simon-mo opened #12720 "[Serve] Comparing against Celery"
### Describe your feature request
- Code example of going from celery -> serve
- Discuss advantages and disadvantages, when to use celery and when to use serve.

https://ray-distributed.slack.com/archives/CNCKBBRJL/p1606339319206300

cc @edoakes
For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-09 18:42] simon-mo commented on #12719
Here's a quick code sample
[code]

[2020-12-09 18:55] #7830 closed

[2020-12-09 19:07] mattdornfeld commented on #12696
Sorry I should have mentioned I tested in 1.0.1.post1. It's not the method signature of `PerWorkerGaussianNose` that's the issue. It's the call to the parent constructor [here](https://github.com/ray-project/ray/blob/f6241302a80f4df7a4cde5227e0692cc7508415c/rllib/utils/exploration/per_worker_gaussian_noise.py#L41), which then gets passed to the `Exploration` constructor [here ](https://github.com/

[2020-12-09 19:20] wuisawesome commented on #12438
I think our dispatch queue is equivalent to the ready queue in the old scheduler.

[2020-12-09 19:27] ericl opened #12723 "[Autoscaler] Refactor bin packing routines in autoscaler for code clarity"
### Describe your feature request

Currently, the autoscaler code is quite difficult to read since it directly manipulates resources dicts, cluster load dicts, individual node ids directly. This results in a lot of low level code in the main loop of the autoscaler / resource demand scheduler classes. We can extract some of this generic resource manipulation code into a utility class, for instance,

[2020-12-09 19:38] ericl commented on #11239
@soundway It still seems ok after a few days:
[code]

Note that the changes I had to make to get it to run were settting
[code]
and
[code]

The training hangs initially without this. Based on this result, it seems the instability is either related to these options, dependencies, or the use of docker, since the other factors are the same.

[2020-12-09 19:43] rkooo567 opened #12725 "[New Scheduler] Make `AsyncResolveObjects` and `AsyncResolveObjectsFinish` compatible to the new scheduler"
### What is the problem?

Not sure @wuisawesome and I have the same problem scenario, but it seems like without handling the code block below with the new scheduler, we can have subtle race condition issues in non-unit-test environment.

Sang Cho  2 minutes ago
Hmm it seemms like this block looks relevant though?
[code]

Sang Cho  1 minute ago
If this method is called before DirectCallBlocked (bec

[2020-12-09 19:49] #12390 closed

[2020-12-09 19:55] #12546 closed

[2020-12-09 20:19] Andrej4156 commented on #12073
I rebuilt my docker container with the nightly version. I had to copy over your requirements.txt to get it to work. I've posted it below because while I think I did it right I've never actually built a docker container with a wheel link.

[requirements.txt](https://github.com/ray-project/ray/files/5668272/requirements.txt)

In terms of performance, I reran all three tests in the original post and

[2020-12-09 20:21] ericl commented on #12073
That seems high, likely a bug in Tune, perhaps it's writing to a slow NFS filesystem or something to update result logs.

To mitigate it, you can increase the length of your train call. As a rule of thumb for large scale runs I always set `min_iter_time_s` to at least 60, which means Tune only has to process one event per minute per trial.

[2020-12-09 20:22] wuisawesome commented on #12725
@stephanie-wang can you sanity check us here? This seems reasonable, but it's a little strange that we don't fail any tests because of this.

[2020-12-09 20:22] rkooo567 commented on #12719
Btw, just out of curiosity, but why do we suggest reduce instead of custom serializer?

Isn't reduce harder to use when the object you'd like to serialize is, for example, from other libraries since you need to add the method to the classes that are not under your control? (whereas it is easier in the custom serializer if I understand how it works correctly)

[2020-12-09 20:36] rkooo567 opened #12726 "[Dashboard] Infeasible and ready task reporting is inefficient."
### What is the problem?

[code]
We are currently serializing the whole task spec which has pretty huge payload although we only use a few fields from the dashboard. We should optimize this.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i

[2020-12-09 20:36] rkooo567 commented on #12726
cc @mfitton @edoakes

[2020-12-09 20:46] Andrej4156 commented on #12073
Setting ```"min_iter_time_s"``` to 60 results in the operation taking significantly longer

```2020-12-09 20:45:14,730	WARNING util.py:142 -- The `process_events` operation took 62.502 s, which may be a performance bottleneck.```

[2020-12-09 20:49] ericl commented on #12073
Ah looking at the code, that warning is incorrect. @richardliaw can we remove it? It's covering a blocking call to wait for the next trial result.

[2020-12-09 20:54] ericl commented on #12725
We have other code that handles re-ordered messages though. What is the scenario that is of concern here?

[2020-12-09 20:55] Andrej4156 commented on #12073
Do you have any other suggestions for increasing the training speed? I'm still confused why Cartpole has so much better parallelization than my my custom environment. I know it must be something to do with my environment but I don't know what.

[2020-12-09 20:59] cfusting commented on #5425
Apologies @richardliaw but I am not going to be able to meet the requirements to post a fully reproducible script and have hence not opened an additional issue. Is there a lighter "bug suspected" issue I can open? <g>.

[2020-12-09 21:45] simon-mo commented on #12719
Correct. That's why for PyTorch Tensor @suquark introduced serialization_addons. Maybe we can make that a public API?

[2020-12-09 21:46] richardliaw commented on #5425
Yeah! Maybe just open a thread on `discuss.ray.io` .

On Wed, Dec 9, 2020 at 12:59 PM Chris Fusting <notifications@github.com>
wrote:

[2020-12-09 21:47] rkooo567 commented on #12725
My concern here is that the code seems to be very similar to `HandleDirectCallTaskBlocked`, and I thought the reason was to handle some subtle edge cases or other possible cases that can happen around handling blocking tasks.

[2020-12-09 21:50] rkooo567 commented on #12725
Another concern is our unit tests are not perfect, and since node manager didn't have unit tests, some of code that was written to handle some edge cases could have been ignored when developing the new scheduler, and they were discovered by non-reproducible issues. So, I thought it'd make sense to match the previous behavior as much as possible if we are not certain that this is not needed.

[2020-12-09 22:09] ericl commented on #12725
Ok. Until we are certain this is a real issue, let's close it. We shouldn't be making speculative fixes unless we are sure about the problem. Most likely this isn't needed in the direct call path.

[2020-12-09 22:09] #12725 closed

[2020-12-09 22:21] ericl commented on #12438
@wuisawesome isn't it actually `tasks_to_schedule_` (after calling SchedulePendingTasks() to process any schedulable tasks to the waiting or dispatch queues)?

I added some more comments to the headers here to try to clarify: https://github.com/ray-project/ray/pull/12730

[2020-12-09 22:23] soundway commented on #11239
Thanks for the update. What's the max number of iterations each trial runs till? The script I provided set to 5 -- which is very aggressive at restarting trials. Here it seems to be 2000?

[2020-12-09 22:26] wuisawesome commented on #12438
Isn't the transition in the old scheduler Infeasible -> Placeable -> Waiting -> Ready -> Running?

[2020-12-09 22:39] edoakes opened #12731 "[serve] Add docs page on logging within backends"

[2020-12-09 23:49] ericl commented on #12438
The new scheduler is doing something more like this:
[code]

[2020-12-09 23:50] ericl commented on #11239
Ah I missed that. Retrying with max_t=1, grace_period=1.

[2020-12-09 23:58] ericl commented on #12717
cc @richardliaw

[2020-12-09 23:58] ericl commented on #12710
This is expected--- you have to sync the files to the worker nodes for library imports (you can do this with file_mounts option in the autoscaler, or manually).

[2020-12-09 23:59] ericl commented on #12701
You can use file_mounts to auto sync project files to worker nodes (or copy the files manually).

[2020-12-10 00:12] wuisawesome commented on #12438
Right, which would mean that the dispatch queue in the new scheduler is most analogous to the ready queue in the old one.

[2020-12-10 00:21] ericl commented on #12438
Dispatch queue has different semantics though right? It means waiting for
workers, not waiting for resources.

On Wed, Dec 9, 2020, 4:13 PM Alex Wu <notifications@github.com> wrote:

[2020-12-10 00:24] mfitton opened #12733 "[Dashboard] Dashboard crashes with error “Cannot read property “split” of undefined”"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray 1.1.0 release branch

### Reproduction (REQUIRED)
Recreatable running the microbenchmark release test.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/mas

[2020-12-10 00:26] wuisawesome commented on #12438
I think it's possible to be waiting on resources in either queue (like in the old scheduler). Tasks always move from the waiting queue to the dispatch queue, so a task can go on the waiting queue, then while its dependencies are being fulfilled the node's resources are taken up (this is why `AttemptDispatchWork` returns a boolean)

[2020-12-10 00:46] ericl commented on #12438
That's awkward, it means we can't look at the state of the queues and make a determination of whether tasks are currently blocked on resources only right? So you have to do some calculation on the tasks in the waiting queue as well.

Maybe we can just iterate over all tasks in the scheduling queue and also waiting queue that don't fit into local resources. The cluster_task_manager can provide a vi

[2020-12-10 01:19] ericl commented on #12438
Alternatively, we could have `::TasksUnblocked()` move tasks from `waiting` back to `tasks_to_schedule`. The next ScheduleAndDispatch will move those tasks directly to `dispatch`.

That way, we just need to check `tasks_to_schedule` for all tasks waiting on resources. Eventually all tasks blocked on resource demands will end up there.

[2020-12-10 01:26] rkooo567 opened #12737 "[New Scheduler] Provide infeasible tasks / pending tasks information to the dashboard."
### What is the problem?

cc @mfitton Do we have a dashboard test to check this?

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run by itself, the issue will be cl

[2020-12-10 05:20] ppdollhhh opened #12739 "[serve] Memory growth related to redis"
Problem:
In my project, I use ray[serve] to do model inference.

When I did jmeter test(function is ok), memory has been consistent growth slowly.

I use command top to debug this problem,  the memory size of redis-server process is growing  steadily.

When ray start, two redis-server will start together. One of the two redis-server is the root cause of this problem, whose port is random(the norma

[2020-12-10 07:23] sonny3690 opened #12742 "Permission/Accessibility Connecting to Redis using Ray on Apple Silicon (ARM)"
### What is the problem?
Initing ray leads to issues connecting to redis.

*Ray version and other system information (Python version, TensorFlow version, OS):*
- OS: Apple Big Sur 11.0.1
- Python: 3.8.6
- Running on 13-inch Apple M1

### Reproduction (REQUIRED)

Apriori checked that redis-cli is working:

[code]

But initing ray on the REPL leads to the following:

[code]

If the code snippet cann

[2020-12-10 07:44] pdames commented on #8420
Can we re-open this issue?

[2020-12-10 08:22] DonYum opened #12743 "[dashboard] Can not see objs in 'Memory'"
### What is the problem?

ray version: 1.0.1.post1
python version: 3.6.5
OS: CentOS 7

### Reproduction (REQUIRED)

Ray cluster: 1 head, 3 worker

push some objs and submit some actors.

And you Can not see objs in 'Memory'.

`Code`:
![image](https://user-images.githubusercontent.com/1471864/101740329-a428a580-3b03-11eb-833a-bedaf2a7b398.png)

`ray memory` results:
![image](https://user-images.git

[2020-12-10 08:36] DonYum opened #12744 "[ray] The results of ray.cluster_resources() is not right."
### What is the problem?

ray version: 1.0.1.post1
python version: 3.6.5
OS: CentOS 7

The results of `ray.cluster_resources()` is not right.

`ray.cluster_resources()`:
![image](https://user-images.githubusercontent.com/1471864/101742127-60cf3680-3b05-11eb-8567-c5d7c94c41c8.png)

`Resoures in Dashboard`:
![image](https://user-images.githubusercontent.com/1471864/101742779-88260380-3b05-11eb-9436-

[2020-12-10 08:59] ahbone commented on #12635
I think my concern here is two things: 1) how to manage all the detached variables; 2) how to do better isolation between groups of jobs.

_how to manage all the detached variables_
We plan to make `ray` run in a cluster, and developers can submit their job to the cluster. If someone created many detached variables by using (1), it'd prevent other jobs from running due to OOM. And it's not easy to

[2020-12-10 09:01] rkooo567 commented on #12744
Currently, the units that are specified by cluster_resources are different from GB because of some legacy scheduler code. We are currently developing the new scheduler now, and this issue will be resolved once that's completed.

[2020-12-10 09:01] #12744 closed

[2020-12-10 09:02] rkooo567 commented on #12743
cc @mfitton

[2020-12-10 09:56] DonYum commented on #12744
@rkooo567 Thanks for your reply. What's the roadmap of the new scheduler? Will it be included in the next release?

[2020-12-10 09:59] DonYum opened #12747 "[ray] Why not separate RLlib/Serv/SGD/Tune from ray"
There's definitely a lot of thought and discussions about this topic. Can anybody show me some information?
Any response will be appreciated.

Thx and BRs!

[2020-12-10 11:01] #11136 closed

[2020-12-10 11:01] #12035 closed

[2020-12-10 11:17] DonYum opened #12748 "[Question][ray] Long-lived Ray objs"
As we all know, objs in plasma will be release after program exists.

So my question is how can I persistent a plasma obj.

Is there some way to implement actor naming?

This question is inspired by: <https://discuss.ray.io/t/long-lived-ray-actors/23>

[2020-12-10 11:51] DonYum opened #12749 "[ray][question] Do we need serialization of obj within actor?"
How can I understand the highlighted `Tips` as follow(<https://docs.ray.io/en/latest/serialization.html?highlight=serialize#numpy-arrays>):

![image](https://user-images.githubusercontent.com/1471864/101768043-10190700-3b20-11eb-9158-5720e5b72dd8.png)

Don't we need serialization of obj within actor?

Any reply will be appreciated.
BRs!

[2020-12-10 12:03] roireshef commented on #12546
@rkooo567 @ffbin @ericl  Hi guys, can anyone of you briefly summarize what was fixed, in what version, and what should we test for? (what should we expect to work at the moment)

[2020-12-10 12:18] roireshef commented on #12490
@ericl actually I think I'm describing a different use case than what your proposal addresses. In my use case, the episode doesn't only terminate after N steps, but more importantly it terminates *dynamically based on conditions when they are met*. Just to illustrate, consider the following case:
* The environment has an autonomous vehicle agent acting in it.
1. When the vehicle crashes, _Done_ si

[2020-12-10 12:49] LARS12llt commented on #12494
Thanks. I am trying to provide more details and a clear code.

For example, with code from Thomas Tumiel, who using a IMPALA-CNN with modified channel [32,64,64] and default PPO TF policy ,  we can get about 60 scores in starpilot environment of procgen benchmark.
This code is base on TF. When I change it into Pytorch, it only returns about 40 with same settings:

- same IMPALA-CNN model with modi

[2020-12-10 12:56] roireshef commented on #10395
@austinmw So how did you finally managed to solve it? Was it related to Ray or your environment implementation?

[2020-12-10 12:58] roireshef commented on #7242
@deepankar27 @wangzelong0663  It is probably related to networking. Try disabling your firewall, work around your proxy and test for open connection using common communication tools like telnet, etc.

[2020-12-10 13:03] roireshef commented on #11875
@ingambe I get the "The given NumPy array is not writeable" warning myself and I took some time to investigate it. It seems like this is rooted at the creation of the state tensors which are to be kept immutable anyway. This has nothing to do with the tensors you care to change during training, to the best of my knowledge. Empirically, my training makes good progress even though I get those warnin

[2020-12-10 13:07] roireshef commented on #12467
@ericl thanks. I'm using on-premise hardware so I don't have any access to AWS software, but yeah I managed to uninstall tensorflow and run my experiments. There were few fixes lately, so I'm not sure if uninstalling tensorflow specifically helped or whether this has to do with other fixes. Anyway, uninstalling TF is an easy quickfix.

[2020-12-10 13:21] HarvinderBhullar commented on #12710
This is what I am doing to make it work if it is expected behavior then it is fine.

[2020-12-10 15:51] h-vetinari commented on #585
Hi all. The [feedstock](https://github.com/conda-forge/ray-packages-feedstock) for ray has just been created and CI is running. Packages should be available in a few hours. :)

[2020-12-10 16:49] #11162 closed

[2020-12-10 16:49] #11443 closed

[2020-12-10 17:22] richardliaw commented on #585
Awesome! Thanks so much!

[2020-12-10 17:29] h-vetinari commented on #585
Happy to hear!
Though the lion's share of the credit goes to @vnlitvinov! :)

PS. Packages have finished building, conda-forge is open for business:
`conda install -c conda-forge ray-all`

[2020-12-10 17:53] rkooo567 commented on #12744
The eta is eoy, so it will be likely to be included in jan or feb release

[2020-12-10 17:55] rkooo567 commented on #10065
HA is achieved by one advanced user, but we need a little more work to make it generally available. Currently, that’s not the highest priority.

[2020-12-10 17:55] #10065 closed

[2020-12-10 18:00] barakmich commented on #12676
That's correct, some drift is allowable. One need not have the same version locally as on the cluster. The difference being that they may not have the 'latest and greatest' features but assuming we're good about making backwards compatible proto changes when we go beta/GA with the feature, then we should be set.

If we wanted to get fancy, the first feature in our protocol negotiation could be ver

[2020-12-10 18:01] barakmich commented on #12583
Closing with #12585 -- if there's a follow up, make a follow up issue.

[2020-12-10 18:01] #12583 closed

[2020-12-10 18:11] architkulkarni commented on #12395
Hi @TanjaBayer, can you try the nightly build and see if it fixes your issue?  It fixes it for me.  Also, the next release will be out fairly soon (in about 1 week).

On the nightly, the script doesn’t run as written, you have to add the line `client = serve.connect()` in the body of `nested_one` to prevent the error “ray.serve.exceptions.RayServeException: Ray Serve client cannot be serialized. P

[2020-12-10 18:33] jac-z-uk opened #12755 "RayTaskError(ImportError)"
Hi, I upgraded pettingzoo and ray and get this error:

"line 1452, in get
    raise value.as_instanceof_cause()

RayTaskError(ImportError)"

The old and new versions are as follows:
pettingzoo: 1.3.5 to 1.4.2
ray: 1.0.0 to 1.1.0.dev0
(I use the same version of gym 0.17.3 in both runs.)

The script runs fine on the old versions but I get the error with the new versions:

The script for the new vers

[2020-12-10 18:49] edoakes opened #12758 "max_task_retries not working for named actors"
### What is the problem?

When setting `max_restarts=-1` and `max_task_retries=-1` for a named actor and killing it, the actor is successfully restarted but pending actor tasks are failed.

### Reproduction (REQUIRED)
Unnamed actor, working:
[code]

Output:
[code]

Named actor, not working:
[code]

Output:
[code]
If the code snippet cannot be run by itself, the issue will be closed with "needs-rep

[2020-12-10 18:50] edoakes commented on #12758
cc @stephanie-wang looks like another problem with the existing retries logic D: I think we should seriously consider moving to using failure callbacks instead (though it wouldn't directly address this problem -- this is probably something with how `get_actor` constructs the actor handle).

[2020-12-10 18:50] edoakes opened #12759 "[serve] Re-enable failure_test.py"

[2020-12-10 18:58] ericl commented on #12635
Another use ask in https://github.com/ray-project/ray/issues/12748

[2020-12-10 18:58] ericl commented on #12635
Another user ask in https://github.com/ray-project/ray/issues/12748

[2020-12-10 19:00] ericl commented on #12635
This isn't something we need to worry about though--- if the user pins too much, it's their problem. With an autoscaling cluster, we can also spill / add more nodes to handle this case.

One way is that the object refs can be transferred through a named actor. Perhaps we can try this to see if it satisfies use cases before adding another API.

[2020-12-10 19:02] ericl commented on #12635
Btw, in the RayDP/Spark on Ray use case, the variable just needs to be transferred within the job, so there isn't the use case of multiple jobs yet. For caching use cases, the variables can be transferred to named actors global across many jobs. So I think changing lifetime is sufficient for both these cases, but perhaps there are others that require more functionality.

[2020-12-10 19:06] simon-mo commented on #12395
Let's keep it upon until @TanjaBayer can verify it with nightly. Thanks!

[2020-12-10 19:12] salman1993 opened #12761 "[ray][metrics] Displaying metrics about Ray cluster on Datadog"
### Describe your feature request
- Want to be able to look at Ray metrics from a Datadog dashboard
- Metrics include: queue size, memory/CPU/GPU utilization, etc.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-10 19:37] felipeeeantunes commented on #4569
I'm trying to restore from an s3 bucket without setting `resume="REMOTE"` and getting `FileNotFoundError: [Errno Path does not exist]`. The solution described here seems to work with a local directory but not when using a remote one.

[2020-12-10 19:41] ericl commented on #11239
@soundway it succeeded (100 samples), I'm retrying with 1000 samples. Btw, is it possible for you to provide an example YAML of the p2.16xl workload to reproduce? Wondering if it's some odd dependency issue / docker image issue.

[2020-12-10 20:05] edoakes commented on #12676
Sounds good, let's make sure it's P0 that this is clear in the docs :)

[2020-12-10 20:10] jsuarez5341 commented on #12372
Perfect -- I'll work on porting a my project to rllib master as soon as possible to try it out! Thanks Sven!

[2020-12-10 20:14] jsuarez5341 commented on #12337
That sounds about right. Quit behavior is pretty wonky -- sometimes, one SIGINT does the job. Normally, it's hammer Ctrl-C repeatedly. Especially (though not always) from within pdb

[2020-12-10 20:47] simon-mo commented on #12742
The wheel was built for intel and probably not compatible with apple silicon. We also used some executable what might not work well with Rosettta2 translation. Can you try building Ray from source? https://docs.ray.io/en/latest/development.html#building-ray-full

[2020-12-10 20:51] simon-mo commented on #12739
Hi @ppdollhhh, thanks for raising this issue. Can you try installing the latest ray master? https://docs.ray.io/en/latest/installation.html#latest-snapshots-nightlies

This issue should be fixed in master as part of #12395. However, it's weird that redis memory was the issue. can you post a screenshot of your system's memory monitor (htop or Activity Monitor) before and after?

[2020-12-10 21:08] soundway commented on #11239
What exactly do you mean by the YAML file?

Sometimes the job crashes around 1K-2K samples. The "200" num_workers could also reduce the chance of crashing since less trials will be launched. When using 10000 samples, while there is an initial hanging, the job will eventually start.

[2020-12-10 21:13] ericl commented on #11239
You mentioned being able to reproduce on a p2.16xl; I'm wondering if you could share the Ray cluster launcher yaml used to create that node (if that was how it was created).

I agree the "200" could reduce the chances of crashing; however note that you shouldn't be running with >1 worker per core, I would be curious if the issues go away on your end if you set "num_cpu_per_worker" > 1 to avoid ove

[2020-12-10 21:21] soundway commented on #11239
We have our own way of launching Ray jobs within our infra and don't use any Ray's launching mechanism. But at a high level we just launch bunch of instances with the specified types, each loaded with a docker image, then we run a command on one of the containers.

We generally don't use more than 1 worker per core, but this script was created in the context when you asked me to make the crash rep

[2020-12-10 21:52] sven1977 commented on #12212
Thanks for filing this @Dipamc77 !
This PR fixes the issue: https://github.com/ray-project/ray/pull/12765
Closing. Feel free to re-open should you continue seeing this problem on your end.

[2020-12-10 21:52] #12212 closed

[2020-12-10 23:02] mfitton commented on #12743
@DonYum This is actually the intended behavior at this point. In the case of these counter objects, the only thing stored in the object store is an "Actor Handle" a reference to the actor itself. The counter's inner variables are not kept in the object store.

There was a user request a while ago to remove "Actor Handles" from the memory view dashboard because they're tiny objects and were clutter

[2020-12-10 23:08] ericl commented on #12743
Ah I misunderstood, I thought the issue was that the "Memory" UI wasn't showing the same thing as "ray memory".

[2020-12-10 23:12] ericl commented on #12490
Hmm if this is about a regression in the traj view API, I think that would be a bug. @sven1977 do you know why the info dict is no longer sent automatically?

[2020-12-10 23:20] lvhuiwei commented on #7747
Same error when running https://github.com/ray-project/ray/blob/releases/1.0.0/rllib/examples/custom_rnn_model.py with `num_gpus=2`

Ray version and other system information (Python version, TensorFlow version, OS):
Ray 1.0.0
Tensorflow 2.2.0
Debian 10

[2020-12-11 00:02] #12302 closed

[2020-12-11 00:21] ericl commented on #12644
@edoakes can you try running this under asan? I think you can do that by adding `--config=asan` to the bazel command in setup.py.

[2020-12-11 00:24] #12758 closed

[2020-12-11 00:25] #12743 closed

[2020-12-11 00:50] edoakes opened #12769 "[serve] Better validation for arguments to client.start()"
### What is the problem?
If I pass in a bad host to serve, it gives me an obscure error:
[code]

Likely to be the same with a bad port number.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If

[2020-12-11 01:25] wuisawesome opened #12771 "[Autoscaler] Startup logs are missing"
### What is the problem?

Unsure when this happened, but autoscaler logs were originally written to `monitor.out`, but were moved to their own separate log files (per node). Now they don't seem to exist at all.

This seems to be easy to reproduce (pick your favorite yaml), mine is attached below.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Rep

[2020-12-11 01:26] ahbone commented on #12635
I think I misunderstood some parts. So let me just summarize it here and please let me know if I was wrong:

- Having a named actor shared across jobs to exchange data between them
- If the user wants to do the cross job communication, pass the ownership to the actor
- Multiple eviction policy can be supported here (detached, lru, binding it to anther job/actor)

Another thing I might want to be c

[2020-12-11 01:26] wuisawesome commented on #12771
cc @richardliaw could this be related to cli logger changes?

cc @ericl

[2020-12-11 01:43] DonYum commented on #12743
@mfitton @ericl  I'm sorry that my expression was misinterpreted.
My problem is just as @ericl understands it: `the "Memory" UI wasn't showing the same thing as "ray memory"`.
Is this a bug?
Thx you all a lot.

[2020-12-11 02:07] richardliaw commented on #12719
@ericl what's the recommendation for working around the custom serializer, which was removed in 1.0?

[2020-12-11 02:08] #12688 closed

[2020-12-11 02:14] FarzanT commented on #12650
@richardliaw Any reason why we can't provide our own checkpoint saving function? Like using the `torch.save` and `torch.load` from Pytorch. I'm sure there wouldn't be any model saving/loading issues there.
I actually added `protocol=4` to `pickle_checkpoint` and that fixed the checkpoint saving part, but now I get a `MemoryError` in `f.read()` part of `pickle_checkpoint`.

[2020-12-11 03:00] rkooo567 opened #12774 "[Core] Possible deadlock from plasma store object creation?"
### What is the problem?

I can consistently reproduce
[code]
from the script below. It seems to happen even when we don't configure the object spilling feature. So it is probably related to our new plasma store creation mechanism.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should hav

[2020-12-11 03:06] ericl commented on #12719
Define __reduce__ (standard pickle5 custom serialization).

On Thu, Dec 10, 2020, 6:07 PM Richard Liaw <notifications@github.com> wrote:

[2020-12-11 03:09] #12426 closed

[2020-12-11 03:23] suquark commented on #12719
How about some third-party objects that users cannot define `__reduce__` in the original object? One case is pytorch tensor (the default `__reduce__` is of low efficiency; another one is the pydantic metadata)

[2020-12-11 03:29] ericl commented on #12719
Can you wrap the tensor in another class and define a serializer for that?

On Thu, Dec 10, 2020, 7:23 PM Siyuan (Ryans) Zhuang <
notifications@github.com> wrote:

[2020-12-11 03:43] #9482 closed

[2020-12-11 03:56] #9736 closed

[2020-12-11 04:03] suquark commented on #12719
No, because we are going to change all pytorch tensors used in the application without changing user's code. For example, this issue: https://github.com/ray-project/ray/issues/12317

[2020-12-11 05:03] #12710 closed

[2020-12-11 05:51] simon-mo opened #12778 "Serve failed multi-node scalability tests"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Weird error when running https://github.com/ray-project/ray/blob/master/python/ray/serve/benchmarks/cluster.yaml

[code]
### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have

[2020-12-11 05:55] simon-mo opened #12779 "[Serve] Regression: HTTP Server multiplexing on same node no longer works"
### What is the problem?
Setting num_nodes > 1 will fail the long running test because it tries to spawn multiple http server per node. We should either have an option to start only one http server, or fail softly.

https://github.com/ray-project/ray/blob/master/release/long_running_tests/workloads/serve.py

*Ray version and other system information (Python version, TensorFlow version, OS):*

###

[2020-12-11 08:16] #9814 closed

[2020-12-11 08:43] sven1977 commented on #12490
Yes, there is a known bug related to the trajectory view API in 1.0.1 described here:
https://github.com/ray-project/ray/issues/12509
The workaround would be to set "_use_trajectory_view_api" to False here (and you should see the info dict again). This was fixed in all versions >1.0.1.

I'll add this observation (missing info dict) to the issue.

[2020-12-11 08:45] sven1977 commented on #12509
Another issue is that the environment's info dict is not present anymore in the postprocessing or train_batches.

The only workaround here is:
Set `_use_trajectory_view_api=False` in your Trainer config dict.

This bug was also fixed in all versions >1.0.1

[2020-12-11 09:03] tangsmall opened #12782 "[Help] Ray cluster plasma N/A"
I faced some problem with my cluster, I started the Ray cluster manually by starting a head node on the local machine using ray start --head.
After this, I used other machines or VMs to connect to this Ray cluster by ray start --address=<head-node-ip> --redis-password=5241590000000000> All the machine successfully "connected" to the Ray cluster and existed on the localhost dashboard.

But when I r

[2020-12-11 09:53] h-vetinari commented on #585
I believe this issue can now be closed.

[2020-12-11 09:55] rkooo567 commented on #12774
I decided to make `local_object_manager` not thread-safe but always use `main_service.post`, so that we can keep the single thread structure for raylets. Making local_object_manager thread-safe adds too much complexity. For fields that should be shared by plasma store and local object manager, I will create another thread-safe class (that encapsulates pinned objects). I will include the change int

[2020-12-11 10:32] sven1977 commented on #12244
Thanks for filing this @ivallesp! Taking a look rn. I can reproduce the above error.

[2020-12-11 10:40] PidgeyBE opened #12784 "[core] sys.stdout broken for 3rd party libraries"
### What is the problem?
* ray nightly
* pafy==0.5.5

### Reproduction (REQUIRED)
I was testing something with ray nightly and got
[code]
It seems since 11 days, ray is overwriting `sys.stdout` with something custom that does not inherit from the original `sys.stdout`, which breaks any 3rd party library that also want to use `sys.stdout` I assume...
https://github.com/ray-project/ray/blob/e3b5deb7

[2020-12-11 10:41] rkooo567 commented on #12784
Ah, yeah we added this for the log rotation. I will add the encoding method.

[2020-12-11 10:44] PidgeyBE commented on #12784
Adding encoding method will fix this particular issue, but still there could be other issues left, right?

[2020-12-11 10:47] rkooo567 commented on #12784
I think we can keep adding methods in that case? The current class is almost like a file-like object in my opinion. If you have other good ideas to support log rotation to logs that are streamed to stdout, I'd love to hear the idea as well. Btw, @edoakes, this issue is related to the one I was worried bout when you reviewed my code!

[2020-12-11 10:49] PidgeyBE commented on #12784
I just feel like in that way you will always lag behind.
![image](https://user-images.githubusercontent.com/19860056/101894674-d17a5f80-3ba6-11eb-9461-6cdba5023b74.png)
I think these are all the methods/properties that should be supported

[2020-12-11 10:54] rkooo567 commented on #12784
I see. @AmeerHajAli also suggested to inherit sys.stdout. I will either do that or implement all those 3 methods.

[2020-12-11 11:04] krfricke commented on #12747
Hey @DonYum, there are a couple of benefits and drawbacks with our monorepo approach vs. keeping the libraries in separate repos. One of the most daunting things here is cross-compatibility. E.g. RLLib integrates nicely with Tune (you can call tune.run directly on RLLib Trainers). Tune on the other hand auto-detects autoscaling environments and configures syncers accordingly.

If we kept these lib

[2020-12-11 11:09] rkooo567 commented on #12784
@PidgeyBE Is it a hard blocker now?

[2020-12-11 11:15] PidgeyBE commented on #12784
@rkooo567 If it is in a release we will not be able to use the release because we depend on other 3rd party libraries to which are broken now.

[2020-12-11 11:18] rkooo567 commented on #12784
Hmm I see. Can I ask you which library caused this issue?

[2020-12-11 11:22] PidgeyBE commented on #12784
@rkooo567 Sure, that's in the ticket description: `pafy==0.5.5`. So just doing `import pafy` is enough to raise an exception.

[2020-12-11 11:45] rkooo567 commented on #12784
Thanks! I will try fixing it asap and hopefully I can include it to the next release.

[2020-12-11 12:23] sven1977 commented on #12244
Could you try this fix here? It's working for me. The problem is apparently that for some reason, the `timestep` placeholder must be one with default value. I'm not understanding fully, why that's the case. The example is further reducable to non multi-agent (e.g. CartPole and no `multiagent` config), num_workers=0, simple_optimizer=True (I thought it may have had something to do with the multi-GP

[2020-12-11 12:24] sven1977 commented on #12244
Closing this issue. Feel free to re-open if the above solution does not fix the problem on your end.
I was also able to make these `Unable to create a python object for variable <tf.Variabl...` warnings go away. But these were unrelated to the actual error/crash.

[2020-12-11 12:24] #12244 closed

[2020-12-11 13:27] sven1977 commented on #12483
Thanks for filing this @VenezianoMauro ! Taking a look rn.

[2020-12-11 13:28] TanjaBayer commented on #12395
@simon-mo @architkulkarni I verified it with latest masters, I see the same behavior now as @architkulkarni mentioned (only one_one growth in first and second call), I will also check it with our more complex version if that changes anything.

But what I still don't get, why does it grow twice?

[2020-12-11 13:48] sven1977 commented on #12483
Hmm, apparently our OneHotPreprocessor (the one that transforms int observations into one-hot Boxes) does not store the "original_space" property in the new space, leading the Trainer's local_worker to believe that its Policy has the Box space as its original one (instead of Discrete(20)).
This is fixed with this PR:
As a workaround for right now, replace the if-block in line in rllib/models/prepr

[2020-12-11 13:51] sven1977 commented on #12483
This is also related to this issue here: https://github.com/ray-project/ray/issues/12516

[2020-12-11 13:51] sven1977 commented on #12483
I'm closing this issue. Please feel free to re-open it should the above solution/PR not work on your end.

[2020-12-11 13:51] #12483 closed

[2020-12-11 14:17] dashsatish opened #12788 "Is ray or ray[serve] compatible with python3.9 and pipenv/poetry?"
Ray and Ray-Serve

### What is the problem?
Unable to install latest version of ray a.k.a 1.0.1.post1 in a virtual env running with python3.9. The error so described
here is same when run with pipenv or poetry.

*Ray version and other system information (Python version, TensorFlow version, OS):*
OS version: MacOS catalina, version: 10.15.6(19G73)
Python: 3.9
Poetry: Poetry version 1.1.4
(or
pipenv

[2020-12-11 14:42] sven1977 commented on #12458
Actually, this is not a bug per se (just an unintuitive setup rule for eval workers, where you also need to set `evaluation_interval > 0`).

The following slightly modified script works just fine:
[code]

[2020-12-11 14:43] sven1977 commented on #12458
Closing this issue now.

[2020-12-11 14:43] #12458 closed

[2020-12-11 14:49] sven1977 commented on #11668
Hmm, yeah, I see this error, too, sometimes on Windows.

[2020-12-11 15:00] sven1977 commented on #11875
Yeah, let's open a separate issue on the PyTorch `The given NumPy array is not writeable` warnings.

[2020-12-11 15:09] sven1977 opened #12789 "[RLlib] PyTorch warning: "The given NumPy array is not writeable""
RLlib throws the warning `The given NumPy array is not writeable` when running PyTorch Trainers.
The root-cause of these warnings should be fixed.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should ha

[2020-12-11 15:11] sven1977 commented on #12789
To reproduce:
E.g. run rllib/agents/a3c/tests/test_a3c.py::TestA3C::test_a3c_compilation

[2020-12-11 15:40] sven1977 commented on #11875
Closing this issue now. Here is the link to the PyTorch warning issue: https://github.com/ray-project/ray/issues/12789

[2020-12-11 15:40] #11875 closed

[2020-12-11 15:49] WangTaoTheTonic commented on #11825
All tasks left are achieved by https://github.com/ray-project/ray/pull/12535. Closing this.

[2020-12-11 15:49] #11825 closed

[2020-12-11 16:25] edoakes commented on #12395
@TanjaBayer I'm not completely sure, but I'd guess that this is just because Python/numpy is `malloc`ing on the first few requests and not relinquishing the memory as an optimization. You could try to verify this by running the same inference call in a local Python process and seeing if it's the same behavior.

[2020-12-11 16:32] edoakes commented on #12788
Hi @dashsatish, unfortunately Ray (and therefore Ray Serve) does not support Python 3.9 yet. We are actively working on this and you can expect to see support for it soon. We currently support Python 3.6-3.8.

[2020-12-11 16:33] edoakes commented on #12788
Closing due to duplicate with https://github.com/ray-project/ray/issues/12788

[2020-12-11 16:33] #12788 closed

[2020-12-11 16:40] #4159 closed

[2020-12-11 16:41] d-chambers commented on #585
Should the docs be updated to include this in the installation options first?

[2020-12-11 16:42] #11648 closed

[2020-12-11 16:49] edoakes commented on #12644
Trying that gives me the following error:
[code]

This seems like it's potentially mac-specific based on some googling -- is ASAN only working on linux?

[2020-12-11 16:51] edoakes commented on #12626
First commit here: https://github.com/ray-project/ray/pull/12770

[2020-12-11 16:53] edoakes opened #12794 "[serve] Make deploying basic models simpler"
Currently, the "hello world" deployment for Serve is:

[code]

This logical endpoint / physical backend split is useful for advanced features like traffic splitting, incremental deployments, etc. but for basic use cases this is quite verbose and can be confusing.

[2020-12-11 16:58] edoakes commented on #12794
@simon-mo @architkulkarni my proposal here is to introduce a new wrapper API called `serve.deploy` that will basically just wrap `create_backend` and `create_endpoint` into one.

[code]

If the user calls `serve.deploy` and the backend and endpoint already exist, we will transparently create a new backend, switch traffic to it, and delete the existing backend. We can also introduce another API cal

[2020-12-11 17:08] edoakes commented on #12644
Looks like this can actually be reproduced just by running the serve `test_api.py` (happens ~50% of the time):
[code]

[2020-12-11 17:19] rkooo567 commented on #12761
Thanks for the feature request! We are collecting metrics in the OpenCenesus format and export them using prometheus exporter by default. It seems like datadog also has a support for prometheus integration (https://docs.datadoghq.com/integrations/prometheus/). Did you find some limitation from this and request a feature to natively support datadog metrics exporter?

[2020-12-11 17:26] magnusja commented on #12208
Yes lets close this for now.

I think PyTorch dataloder was stalling because of some weird deadlock similar to this: https://github.com/pytorch/pytorch/issues/1355

Setting the opencv threads and generally limiting the dataloders to 16 instead of 32 seems to have improved the situation. Will report back if not.

Thanks a lot.

[2020-12-11 17:35] #12649 closed

[2020-12-11 17:36] simon-mo commented on #12649
@PidgeyBE this should be fixed in Ray master once the wheel is available in few hours!

[2020-12-11 18:07] richardliaw commented on #11239
@mkoh-asapp mentioned today he was seeing this issue on some other Ray issues - Matt, can you maybe add some information on this thread?

[2020-12-11 18:42] vnlitvinov commented on #585
Note that there's no MacOS packages because I don't have a MacOS box to build them :) someone should take the lead now.

[2020-12-11 18:43] ericl commented on #11239
@richardliaw Please file a separate issue, this is a symptom not a cause.

[2020-12-11 19:35] architkulkarni opened #12797 "[Serve] test_api.py::test_backend_user_update flaky"
Since the controller long polling update, `test_api.py::test_backend_user_update` is flaky because it assumes that changes in the backend are reflected immediately, which is no longer true.

To fix this, we should use `wait_for_condition` from `test_utils.py`.

[2020-12-11 19:38] architkulkarni opened #12798 "[Serve] Handle options do not update correctly"
After calling `handle.options(method_name="my_method_1")`, calling `handle.options(method_name="my_method_2")` on the same handle doesn't update the method name.  The solution is to swap `self.method_name` and `method_name` in the right hand side of the line `self.method_name = method_name or self.method_name`, and similarly for the other options.  We should write tests for this too.

In `handle.o

[2020-12-11 19:45] architkulkarni opened #12799 "[Serve] Endpoints are not deleted correctly with multiple clients"
There can be multiple Serve clients accessing the same Serve controller.  However, each client has its own ServeHandle cache.  Here's the relevant piece of client code:

[code]

That means when an endpoint is deleted using one client, it remains in the cache of the other clients.  This can cause issue using ServeHandles when endpoint names are reused after the endpoint is deleted.  In particular,

[2020-12-11 20:04] barakmich opened #12801 "Canonicalize the python lint options"
Currently, most of the linters we run on CI are controlled by command line arguments in https://github.com/ray-project/ray/blob/master/ci/travis/format.sh

Python supports things like `setup.cfg` or `tox.ini` as a general config file for its many linters. It'd be nice to use them.

#12800 is a band-aid that fixes it, partially, for `flake8` specifically, but is generally the right idea. It'd be gr

[2020-12-11 20:05] architkulkarni opened #12802 "[Serve] Handle.options modifies defaults for all future handles on same endpoint"
[code]

As illustrated above, any options that are set for a handle at any time will remain as the defaults for all future handles created on the same endpoint.  This behavior is somewhat unexpected.  One idea for how to resolve this is to use a router cache instead of a handle cache in the client, and have a handle be a dataclass on top of the router.  Multiple handles on the same endpoint will s

[2020-12-11 20:26] richardliaw commented on #11239
Got it

On Fri, Dec 11, 2020 at 10:44 AM Eric Liang <notifications@github.com>
wrote:

[2020-12-11 20:37] wuisawesome commented on #12221
Hmm now that we're adding these to `ray status`, I wonder if we should also make some of this information available programmatically... Just a thought.

[2020-12-11 20:47] cassidylaidlaw commented on #8429
I'm getting the same issue. It looks like it's caused by how `Trainable.train` and `Trainer.train` interact. In `Trainable.train`, the control flow goes

    ...
    self._log_result(result)
    return result

And then in `Trainer.train`, the control flow

    result = Trainable.train(self)
    ...
    evaluation_metrics = self._evaluate()
    result.update(evaluation_metrics)
    return result

S

[2020-12-11 20:58] ericl commented on #11239
@soundway good news, I managed to repro. Filtering the logs with

cat raylet.out | grep -v "soft limit" | grep -v "Unpinning object" | grep -v "Failed to send local" | grep -v "Connected to" | grep -v "Sending local GC" | grep -v "Last heartbeat was sent" | grep -v "took " | grep -v "Failed to kill
[code]

dmesg:
[code]

It could be that triggering GC somehow caused a segfault in the worker. I'll

[2020-12-11 20:59] ericl commented on #11239
Btw, I think you can mitigate transient trial crashes by using `max_failures` setting in Tune. @richardliaw not sure if it's compatible with hyperopt though.

[2020-12-11 21:11] richardliaw commented on #11239
It is compatible yep

On Fri, Dec 11, 2020 at 12:59 PM Eric Liang <notifications@github.com>
wrote:

[2020-12-11 21:11] richardliaw commented on #12221
yep! cc @maximsmol who is investigating a prototype

On Fri, Dec 11, 2020 at 12:38 PM Alex Wu <notifications@github.com> wrote:

[2020-12-11 21:20] #11898 closed

[2020-12-11 21:29] ericl commented on #12635
That sounds right to me. A couple clarifications: a Python script/driver
defines a job, since we generate a unique job on connecting to a cluster.
So in the Spark on Ray case, all actors run would be all within a single
job.

Re: memory usage, the isolation here is not very well developed, but note
this is a general problem in Ray and not something specific to detached
objects. Hence, it is out of

[2020-12-11 21:45] architkulkarni commented on #12794
This sounds great!  I wonder if it might be a little confusing when used in conjunction with `create_backend` and `create_endpoint` for the advanced use cases, but I think it's still worth it.

How should `serve.delete("backend_and_endpoint_name")` work?  It can delete the backend and endpoint with that name, but perhaps it should also delete other backends (with other names) used by the endpoint

[2020-12-11 22:14] edoakes opened #12805 "Clarify atexit docs"
### What is the problem?
From discourse: https://discuss.ray.io/t/ray-inconsistent-documentation-atexit-behavior-with-ray-kill-actor/188

In the source code documentation for ray.kill(actor) it states:

This will interrupt any running tasks on the actor, causing them to fail
immediately. Any atexit handlers installed in the actor will still be run.

Source: https://github.com/ray-project/ray/blob/

[2020-12-11 22:18] edoakes opened #12806 "atexit handlers don't run when actor is terminated from going out of scope"
### What is the problem?

When using `__ray_terminate__.remote()`:
[code]

Output:
[code]

When removing the reference to the actor:
[code]

Output:
[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / enviro

[2020-12-11 22:23] shril commented on #12060
Hi, @richard4912 can I go ahead with the PR for this issue?
I'll document the requirements and list of file changes once you give me a green signal.

[2020-12-12 01:20] richardliaw commented on #12060
yep!

On Fri, Dec 11, 2020 at 2:24 PM Shril Kumar <notifications@github.com>
wrote:

[2020-12-12 01:27] suquark commented on #12719
@ericl any thoughts?

[2020-12-12 01:52] clarkzinzow opened #12812 "[Core] Locality-aware leasing"
Add locality-aware scheduling to Ray in the form of locality-aware leasing.

### Background

When executing tasks on remote workers, transferring task dependencies to those workers adds task execution latency, creates unnecessary object store memory pressure, and takes up valuable cluster network bandwidth. For data-intensive workloads, task dependency transfer often becomes the most significant p

[2020-12-12 01:54] clarkzinzow opened #12813 "[Core] Locality-aware leasing: Milestone 1 - Owned refs, pinned location"
Implement locality-aware leasing for owned refs, such that the locality cost only includes owned refs, and only considers pinned object locations.

See #12812 for the parent issue and a link to the design doc.

[2020-12-12 01:57] clarkzinzow opened #12814 "[Core] Locality-aware leasing: Milestone 2 - Owned refs, non-pinned (cached) locations"
Implement locality-aware leasing for owned refs, such that the locality cost also includes non-pinned (cached) object locations for owned refs.

See #12812 for the parent issue and a link to the design doc.

[2020-12-12 01:58] clarkzinzow opened #12815 "[Core] Locality-aware leasing: Milestone 3 - Spillback"
Implement locality-aware leasing for owned refs, such that locality is considered on task spillback.

See #12812 for the parent issue and a link to the design doc.

[2020-12-12 01:59] clarkzinzow opened #12816 "[Core] Locality-aware leasing: Milestone 4 - Borrowed refs"
Implement locality-aware leasing for borrowed refs.

See #12812 for the parent issue and a link to the design doc.

[2020-12-12 02:56] jcmgray commented on #1883
This would still be very convenient to have - and is I think a separate issue and interface from `asyncio` no?

[2020-12-12 03:45] #12805 closed

[2020-12-12 03:47] #12644 closed

[2020-12-12 05:47] #12434 closed

[2020-12-12 07:56] #9820 closed

[2020-12-12 08:56] #9743 closed

[2020-12-12 09:40] #12340 closed

[2020-12-12 11:17] DonYum commented on #12747
@krfricke  Your answer solved my confusion perfectly.
Thx a lot!

[2020-12-12 11:45] #9841 closed

[2020-12-12 12:00] DonYum commented on #12635
Both @ericl  and @ahbone 's opinions are impressive.

As @ahbone say, the management of the detached objs looks like shouldn't be given to the user. This will mess the code of user.
However, In practice, we do need a 'method' to make some long-life objs.

Yes, using detached named actor to customize a 'detached objs' is a method. But it's to complete, and is implicit.

As a novice of ray, I spent

[2020-12-12 12:23] DonYum commented on #12747
@krfricke I have another question now: why not detach ray core from this repo?
As you say, there are much cross-compatibility to consider. But ray core is a basic 'toolbox' which should provide enough APIs.
If we achive that, ray core should be separated from other projects.

The reason I'm asking this question is because I see that ray is now too big.
If this continues, maybe, it will seriously s

[2020-12-12 14:50] #8674 closed

[2020-12-12 15:46] raoul-khour-ts commented on #4741
@wangzelong0663 did you find a solution to this? I am having the exact same problem.

[2020-12-12 16:11] dHannasch commented on #12241
Incidentally, if we moved towards using a `.readthedocs.yml` instead of specifying the dependencies (manually, I assume?) through the web interface, it would be easier to make pull requests adding documentation dependencies (such as https://github.com/sloria/sphinx-issues to link to extant issues or pull requests).

[2020-12-12 18:11] npitsillos commented on #11970
I have this problem as well.  State seems to be returned as emtpy list, in my case I am loading an already trained feature network. Here is my code and error.
[code]
[code]

I am using a custom environment which I have made sure works fine and have had no problems with using it with rllib.  Can someone please give me some pointers, I am new to rllib!

[2020-12-12 18:53] #9843 closed

[2020-12-12 20:25] shril commented on #12060
@richard4912 on it.

[2020-12-12 20:34] richardliaw commented on #12060
btw be sure to tag richardliaw not richard4912 :)

On Sat, Dec 12, 2020 at 12:25 PM Shril Kumar <notifications@github.com>
wrote:

[2020-12-12 20:50] shril commented on #12060
My bad, updated.

[2020-12-12 21:58] #9717 closed

[2020-12-12 23:48] mirekphd commented on #12653
Why closing? Not fixed yet IMHO:)
[code]

[2020-12-12 23:58] #9854 closed

[2020-12-13 04:23] ahbone commented on #12635
@DonYum  Thanks for your ideas here, and I agree this is a useful feature to support.
My concern here is not about providing such an API/feature but how we we should support this feature better. Early discussion of it will save us effort in the future.
What worries me here is actually how to manage all these long-life objects. Suppose we have a lot of long-life objects created, now the user wants

[2020-12-13 05:18] richardliaw commented on #12771
f669830de6ae9f93ae4f81b921a667a33e53fc0d (dec 3) does not work

11:59
234df9091e57f2a4d7574e2ae53635bb5c862b9e (nov 30) works
12:03
da42bf29d07141c61948bd78cad936548fc47911 (dec 1) does not work

Richard Liaw  3:38 PM
8223a33bff9b8d0e736571c9808b27dc2e2a74f5 is the source of error

[2020-12-13 05:25] rkooo567 commented on #12771
Have a couple questions for fix

- what do you mean by log file per node? Isn’t autoscaler log supposed to be only at a head node?
- also what do you mean by “its own log files”?

[2020-12-13 07:34] #12554 closed

[2020-12-13 07:59] #11180 closed

[2020-12-13 08:00] rkooo567 commented on #10398
Thanks again for fixing it @oliverhu!

[2020-12-13 08:00] #10398 closed

[2020-12-13 08:43] TheBloodthirster opened #12828 "[rllib]Help!How can cartpole_client.py and cartpole_server.py use tune to set up distributed enviroment ?"
I use this [code](https://github.com/ray-project/ray/blob/master/rllib/examples/serving/cartpole_client.py)
to set up my own gym environment, and then run this code on the server
[code](https://github.com/ray-project/ray/blob/master/rllib/examples/serving/cartpole_server.py)

Could any one please tell me how to add tune in these code to run distributed enviroment?

I see here it seen like can run

[2020-12-13 09:43] richardliaw commented on #12531
Looks like you need to call `model.cuda()`

[2020-12-13 09:44] richardliaw commented on #12531
Or rather; model.to(device)

[2020-12-13 10:39] sven1977 opened #12831 "[RLlib] AttributeError: 'NoneType' object has no attribute 'id' when using custom Atari env."
Chris reported the following problem on the discuss.ray.io forum:

------------

Hi,

I’m just getting started with RLlib and becoming more and more desperate using a modified Atari environment. I want to utilize the gym.ObserverationWrapper for domain adaptation, hence manipulating the observation.

It works like a charm for Pong and Breakout with observation type == ‘ram’, thus not the actual im

[2020-12-13 10:41] sven1977 commented on #12831
PR that fixes the issue:
https://github.com/ray-project/ray/pull/12832

[2020-12-13 11:00] sven1977 opened #12833 "[RLlib] Enhance merging of custom callback information into learner (per episode, per timestep data)."
@jsuarez5341 posted this on the discuss.ray.io forum:

-------
[code]

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-13 11:04] chaokunyang opened #12834 "Remove load_code_from_local"
### Describe your feature request
Currently, the python code can be loaded from gcs or local, but can't can loaded from both side. It would be great if we can try load code from local first, and load from gcs if we can't load cpode from local.

[2020-12-13 12:37] mvindiola1 commented on #12632
@sven1977 Thank you for the suggestion. That is exactly how I handled the error. Following up on your last comment, the main reason I filed the issue was because there are a number of agents that still have the old behavior for get_policy_class. Should those be changed to match or just be left alone?

I just compiled a list from the master branch with the following:
* Name of the policy
* get_poli

[2020-12-13 15:15] #12831 closed

[2020-12-13 15:46] rodorio opened #12835 "Installing Ray Core on Rasbperry Pi 4B"
Hello,

I dont know if this is the correct place to post this but I'm wanting to install Ray on my rasberry-pi but I keep getting the following message:

Could not find a version that satisfies the requirement ray (from versions: )
No matching distribution found for ray

From what I understand this is due to the fact that Ray does not currently build a wheel for ARM.

I was wondering if someone ha

[2020-12-13 17:57] dashsatish commented on #12788
@edoakes Just curious, is the work to support ray-core with python 3.8 to 3.9 intensive? The reason I ask this is because  I assume supporting different python 3.x versions for a library(including a huge stack system) should be seamless. Do correct me.

[2020-12-13 19:19] #9769 closed

[2020-12-13 19:48] richardliaw commented on #12241
Yeah, we should move towards a .readthedocs.yml ...

right now we use `requirements-doc.txt` and `requirements-rtd.txt` to create some sort of environment. We'll look into doing this in the next couple weeks!

cc @simon-mo

[2020-12-13 21:53] clarkzinzow commented on #12812
@rkooo567 @stephanie-wang @ericl This parent issue would probably be better expressed as a GitHub milestone containing 4+ issues as subtasks, but I don't have permissions to create a milestone or assign tasks to a milestone so I went with a plain GitHub issue. If y'all would rather represent this as a milestone, please feel free to do the conversion!

[2020-12-13 22:38] DanielAtKrypton commented on #12481
Sure.

[ray.zip](https://github.com/ray-project/ray/files/5685665/ray.zip)

[2020-12-14 10:01] roireshef commented on #12360
@rkooo567 Did you end up testing if those slowdowns are fixed? What version is this fix going into?

[2020-12-14 10:04] rkooo567 commented on #12360
Yeah the fix has been pushed to the master branch, so if you can verify if it fixes your issue, that'll be awesome!

https://github.com/ray-project/ray/pull/12707

[2020-12-14 10:12] jovany-wang commented on #10428
It does work that upgrade my python version from 3.8.2 to 3.8.5.  :)

[2020-12-14 12:12] mohitranawat opened #12841 "Issue in ray.init() functionality"
I am using ray  version 1.0.1.post1 in Linux.
I have made the ray cluster of two systems.
My member node has one GPU also.
I wanted to use both the nodes and GPU also but when I am mentioning  ` ray.init( address = "auto") ` I cannot use the GPU.
and when I want to explicitly mention the `num_cpus`  according to total number of cores combining both the nodes and `num_gpus` it is not able to accces

[2020-12-14 12:54] Devil-Z opened #12842 "[streaming]Can not run streaming example and test"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: ray-1.1.0.dev0 (master branch 35f7d84dbe0c4c2bfe8117727eeda5256fe2c3a2)
Python: 3.8.5 with conda
Java: 11.0.8 with Alibaba Dragonwell
OS: Ubuntu 20.04 with WSL2

### Reproduction (REQUIRED)
I try to use ray streaming API,and write a example follow the [test_word_count.py](https://git

[2020-12-14 13:47] krfricke commented on #12747
Currently we'll be keeping Ray as a monorepo, as changes in some of the ray core functionality might impact the libraries (though not vice versa). The overhead from carrying the libraries should be relatively low: It's just text files of python code, e.g. no modules are compiled, and dependencies are only installed if requested via `pip install ray[all]`, or `ray[rllib]`, `ray[tune]` etc. We're aw

[2020-12-14 13:47] #12747 closed

[2020-12-14 14:14] #9813 closed

[2020-12-14 15:38] ZumbiAzul commented on #12531
Thanks, @richardliaw That was indeed the solution.

[2020-12-14 17:51] richardliaw commented on #12650
I think we can fix this by replacing pickle with `ray.cloudpickle`

[2020-12-14 17:53] richardliaw commented on #12645
Looks like this might be already fixed.

[2020-12-14 17:53] #12645 closed

[2020-12-14 18:09] PidgeyBE commented on #12835
We are working on ARM builds.
I should have a ray 0.8.5 somewhere if you'd like and I'm currently trying to build ray 1.0.1.

If Ray team could give us some pointers of where to put our code (using qemu/docker for emulation ARM environment) we could put it in the ray repository.

[2020-12-14 18:29] ericl commented on #12628
Fixed

[2020-12-14 18:29] #12628 closed

[2020-12-14 18:38] jackbart94 commented on #9964
Is there any update on this issue? I have been dealing with the same.

[2020-12-14 18:38] #12395 closed

[2020-12-14 18:38] edoakes commented on #12395
@TanjaBayer is there an open issue for the issue you're seeing with the dashboard?

[2020-12-14 18:44] ericl opened #12849 "Turn on Test_reference_counting"
Using ray.experimental.set_resource().

[2020-12-14 18:45] wuisawesome opened #12850 "[New scheduler] Object Spilling"
### What is the problem?

cc @rkooo567

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet c

[2020-12-14 18:46] rkooo567 commented on #12850
https://www.google.com/url?q=https://github.com/ray-project/ray/pull/12584&sa=D&ust=1607974866999000&usg=AOvVaw2X6W7GBqrAaulb6699ap6m

[2020-12-14 18:49] roireshef commented on #12360
@rkooo567 I'm having difficulties doing that, since the soft-links-based setup still doesn't work (https://github.com/ray-project/ray/issues/12543). How can I tell when was the last time the "nightly" build was built? Is it actually building **every night** out of the master branch? If I used the latest nightly build - am I guaranteed to have this fix inside? Also, assuming I'm using a nightly bui

[2020-12-14 18:50] sven1977 commented on #11668
Does seem like a PyTorch/cuda/cudnn bug.
e.g. https://github.com/pytorch/pytorch/issues/21819

[2020-12-14 18:50] #11668 closed

[2020-12-14 19:05] TanjaBayer commented on #12395
@edoakes not yet but there is an open discussion in slack about it

[2020-12-14 19:12] raoul-khour-ts commented on #10574
@rkooo567 I am starting to see issues like this again on 1.1.0.dev. Its a little stranger though that it seems like things end up dieing but with similar errors.

Have y'all moved 1.1.0.dev to distributed or spawning gcs or something? (could be a separate issue)

[2020-12-14 19:12] raoul-khour-ts commented on #10574
either way it seems like the gcs location is being lost...

[2020-12-14 19:14] PidgeyBE commented on #12835
@rodorio This zip should contain a wheel for ray 1.0.1 on ARM. Would you mind testing it?
[ray-1.0.1-cp36-cp36m-linux_aarch64.zip](https://github.com/ray-project/ray/files/5691036/ray-1.0.1-cp36-cp36m-linux_aarch64.zip)

[2020-12-14 19:17] rkooo567 commented on #10574
Are there logs in gcs_server.err?

[2020-12-14 19:22] ericl commented on #12176
cc @edoakes @mfitton since this is a P0 in dashboard, can one of you guys take a look?

[2020-12-14 19:30] ericl commented on #12104
@AmeerHajAli @ijrsvt this sounds like a potential P0 issue, should we raise the priority?

[2020-12-14 19:32] korbinian-hoermann opened #12851 "[rllib] PPO centralized critic example with more than two agents"
### What is the problem?

*ray 1.0.1, Python 3.7, TensorFlow 2.3.1, Windows 10*

Hi!

I am trying to solve the following environment with the MAPPO (PPO with a centralized critic)
![image](https://user-images.githubusercontent.com/39766418/102124089-1c66d200-3e48-11eb-8c7c-e4504a3da8aa.png)

**Reward**
For each time step a agents is not in its final position, it receives a reward of -1
For each ti

[2020-12-14 19:37] wuisawesome commented on #12176
btw I think this should just be a matter of tracking a process in the fate-sharing/reaper code.

[2020-12-14 19:41] cfusting commented on #12104
I'm having a related issue with DockerSyncer:

Interestingly earlier in the logs I see the directory being created:

Unfortunately I cannot create an issue as my code is proprietary and I likely won't have time to build a minimal example, but the issues are related at least with respect to the directory in question. I'm looking over the framework code now.

[2020-12-14 19:51] edoakes commented on #12176
@ericl @stephanie-wang is this reproducible? I haven't been able to reproduce it locally. Also, I thought the above PR fixed it -- is that not the case? Or was that PR reverted or something?

[2020-12-14 19:53] edoakes commented on #12104
@AmeerHajAli can you please take a look at this ASAP? Not sure if it should be release blocking.

[2020-12-14 19:55] ericl commented on #12176
@edoakes you need a Linux machine to reproduce. The PR above was reverted since it broke the build; not sure if it actually fixed the issue:

[code]

[2020-12-14 19:58] edoakes commented on #12788
@dashsatish see the above issue for details. It's not quite that simple because Ray contains a significant amount of C++/cython code.

[2020-12-14 20:11] AmeerHajAli commented on #12005
Closed in #12661 for nodes that failed to update/init and `NODE_START_WAIT_S` for getting nodes.

[2020-12-14 20:11] #12005 closed

[2020-12-14 20:15] wuisawesome commented on #12543
@roireshef do you have a reproduction of this? For reference, this seems to consistently work for me when doing autoscaler development.

Happy to find some time to sit down with you pair debug if this is still an issue btw.

For reference, here's a cluster yaml of my typical setup:

[code]

[2020-12-14 20:30] edoakes opened #12854 "segfault when installing nightly wheels for python 3.6"
### What is the problem?

Running on an AWS t3a.2xlarge with Ubuntu 18.04.

[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run by itself, the issue will be

[2020-12-14 20:31] edoakes commented on #12854
cc @ericl this seems pretty bad

[2020-12-14 20:34] edoakes commented on #12854
Same thing happened when building from source on latest master.

This was in the default Python environment -- going to try installing conda now.

[2020-12-14 20:42] simon-mo commented on #12854
t3a uses AMD processors instead of Intel, if that makes a different. https://aws.amazon.com/about-aws/whats-new/2019/04/amazon-ec2-t3a-instances-are-now-generally-available/

[2020-12-14 20:54] simon-mo opened #12855 "Support .readthedocs.yml"
Utilize the new config file format to specify Python dependencies: https://docs.readthedocs.io/en/stable/config-file/v2.html

This should (?) give us better encapsulation of what will be built on readthedocs.io and what we run in CI. @richardliaw any thing to add?

[2020-12-14 20:56] richardliaw commented on #12855
We should deprecate https://github.com/ray-project/ray/blob/master/doc/requirements-rtd.txt when we are done. This forces the dependencies to match the existing readthedocs base.

[2020-12-14 21:04] edoakes commented on #12176
@ericl I'm still not able to reproduce this unfortunately. This is with Ray built from source off of latest master on an AWS t3a instance running Ubuntu 18.04:
[code]

[2020-12-14 21:06] ericl commented on #12176
Maybe it only applies to custom compiles?

On Mon, Dec 14, 2020, 1:05 PM Edward Oakes <notifications@github.com> wrote:

[2020-12-14 21:07] mfitton commented on #12176
The original fix PR was reverted. Let me see if another fix was made. Maybe there's another PR to cherry-pick instead.

[2020-12-14 21:33] sven1977 commented on #12851
This is an interesting example. But have you made sure that your `OPPONENT_OBS` in your postprocessing fn is built for the correct number of opponent agents? I'm only seeing you do this (loss not initialized yet):
[code]
which is only 0s for one opponent. That's why you get the shape error: You are passing in data for 1 opponent, instead of 3.

[2020-12-14 21:57] rkooo567 commented on #12360
It is built every commit. So yes. The nightly will contain the latest changes

[2020-12-14 22:05] #12033 closed

[2020-12-14 22:37] edoakes commented on #12854
Update -- the segfault issue did not happen when using conda, only the default python environment.

[2020-12-14 23:03] #11575 closed

[2020-12-14 23:05] richardliaw commented on #10612
This is now fixed on master!

[2020-12-14 23:05] #10612 closed

[2020-12-14 23:07] #9027 closed

[2020-12-14 23:09] ericl commented on #11239
Quick update: I've verified the issue is not due to GC. I also don't see any memory spikes or anything like that, so it's possible I've reproduced a different crash than what you've originally reported @soundway .

What I *do* see is `"general protection fault" in libpytorch.so`, which suggests this is a rare PyTorch bug. It seems to happen about one out of every 100000 actor launches (so after 50

[2020-12-14 23:09] #12214 closed

[2020-12-14 23:10] richardliaw commented on #9339
This is also done via the new Callbacks API!

[2020-12-14 23:10] #9339 closed

[2020-12-14 23:51] soundway commented on #11239
I've only checked dmesg in a handful of failed instances, and did not see torch related memory errors in those. I've reproduced crashes with TF in the past, but unfortunately I don't have the log files anymore for them. So it is possible that it's an unrelated issue.

[2020-12-15 00:45] simon-mo opened #12859 "[Metric] Override error"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]

shows
[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code sn

[2020-12-15 01:09] acxz opened #12861 "[rllib] Overriding policy.compute_actions does not work with ray > 1.0.0 and torch"
### What is the problem?
I have been able to find a way to update default policies in a generic fashion. I.e. based on some user specified functionality that can be added to a policy, such as a `mixin`, one can specify which policy to update based on the `run_or_experiment` flag in `tune_kwargs`. See: https://github.com/ray-project/ray/discussions/11806, https://github.com/ray-project/ray/discussi

[2020-12-15 01:26] amogkam commented on #12562
This is an awesome feature @rkooo567! It would be very useful for xgboost_ray in order to support placement groups with elastic training. In our case, we have a bunch of training actors each represented by a bundle and using a PACK strategy. But if some of the actors die, we want to continue training with the remaining actors that are still alive. In that case it seems like we would either have to

[2020-12-15 01:27] barakmich opened #12863 "Allow for serializing ObjectRefs (for ClientObjectRefs) without pinning"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-15 02:45] edoakes commented on #12176
We were unable to reproduce this on an EC2 instance but @ericl confirmed that the reverted PR above fixes the issue for him Made a new PR to get that fix merged:
https://github.com/ray-project/ray/pull/12867

[2020-12-15 02:47] rkooo567 commented on #12784
@mfitton I think it is okay to cherry-pick this now

[2020-12-15 02:47] #12784 closed

[2020-12-15 02:52] GuHongyang opened #12869 "[tune] Conditional Grid Search??"
Hello there! I want to know if it supports conditional grid search.

I hope that when a takes different values, b will also grid search the corresponding results.

I have four situations to search, as shown below
**（a=1, b=8), (a=1, b=9), (a=2, b=6), (a=2, b=7)**

But currently only grid search can be performed in the following way
_config={
            "a": tune.grid_search([1,2]),
            "b

[2020-12-15 03:03] ericl commented on #12438
@kfstorm are you still working on this, or should we take it over? We have a soft deadline of end of this week.

[2020-12-15 03:04] #12582 closed

[2020-12-15 03:24] wuisawesome opened #12870 "[New scheduler] Don't assume 1-CPU tasks are feasible"
### What is the problem?

We currently make a few assumptions about 1-CPU tasks always being feasible (for example in our heartbeat code).

You can imagine that this could break down for an extremely elastic cluster which has `num_cpus=0` on the head node.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code

[2020-12-15 03:34] #9810 closed

[2020-12-15 05:19] aregm commented on #11765
For a given use case and context looks good, but should be updated for the next release.

[2020-12-15 05:19] #11765 closed

[2020-12-15 05:50] richardliaw commented on #11765
OK great, thanks for following up @aregm

[2020-12-15 06:00] rodorio commented on #12835
Thanks @PidgeyBE! I dont know if I did it right but I got this error:

$pip install /home/pi/Downloads/ray-1.0.1-cp36-cp36m-linux_aarch64.whl
ray-1.0.1-cp36-cp36m-linux_aarch64.whl is not a supported wheel on this platform.

[2020-12-15 06:34] mdeib opened #12873 "[rllib] Ray ignores GPU settings"
In both IMPALA and PPO setting using the pytorch framework

"num_gpus": 0,
"num_gpus_per_worker": 0,

stops ray from using utilizing the GPU at all (as expected) but setting

"num_gpus": 0.01,
"num_gpus_per_worker": 0,

Or any other fractional setting utilizes the entire GPU (expected it to use a very tiny portion of the GPU). I have tried using a custom pytorch model and explicitly putting it ont

[2020-12-15 07:03] rominf commented on #9408
For me, upgrading to `msgpack=1.0.1` helped:
[code]

[2020-12-15 07:03] rodorio commented on #12835
Ok, I think I figured it out, my RPI has armv71 instead of aarch64.

[2020-12-15 08:46] zzchuman commented on #12851
Hello sven1977, I want use PPO via a centralized critic class also. I try to custom it. But, I do not know Which classes must be modified? Agents, action space,  state space must be modified, right?

centralized_critic_postprocessing,loss_with_central_critic, setup_tf_mixins, central_vf_stats,LearningRateSchedule, EntropyCoeffSchedule, KLCoeffMixin,CentralizedValueMixin

I want to know these funct

[2020-12-15 10:40] IsabelLafaia commented on #10427
Hello! Is there a solution to the above?
I am also trying to use ray on an existing EMR cluster but the processing remains in the master node and it is not distributed to the other nodes of the cluster. Thanks in advance for any help.

[2020-12-15 11:59] AmeerHajAli commented on #12723
I changed the priority to P2 for now.

[2020-12-15 12:22] AmeerHajAli commented on #12104
I think this is a release blocker.
Basically, it is straightforward to reproduce:
1. `ray up`
2. `ray down`
3. `ray up` -> fails because it can't locate `/tmp/ray_tmp_mount`
@ijrsvt , I think the command runner is looking for the `/tmp/ray_tmp_mount` and fails because it assumes it is there in the cached node. But it seems like AWS cleans the `/tmp` directory on terminated nodes.

[2020-12-15 13:01] ericbugin commented on #10427
Hey,
The solution for using Ray on Spark was made by analytics-zoo.

https://analytics-zoo.github.io/master/#ProgrammingGuide/rayonspark/

I wasn't able to get it working because I could not set dynamicAllocation to false.

https://github.com/intel-analytics/analytics-zoo/issues/2818

[2020-12-15 13:12] rodorio commented on #12835
Ok, apparently there is a 64 bit version of Raspbian thats in beta. I'm gonna try to update to it tomorrow.

[2020-12-15 13:18] PidgeyBE commented on #12835
@rodorio Yes indeed there is. I'm also trying to build a release for ARMv7.
But it takes a long time :)

[2020-12-15 14:26] sumanthratna commented on #12869
Hi @GuHongyang! Can you take a look at this? I think it might help for your use-case: https://docs.ray.io/en/master/tune/tutorials/overview.html#conditional-grid-search.

For your example that would look like this (hard-coded):
[code]

[2020-12-15 16:30] mfitton commented on #10102
@20zinnm this issue is fixed in the nightly / version of Ray to be released. It was present in the previous version of the dashboard api, but I haven't seen it or any reports of similar in the new dashboard infrastructure. Please reopen if you encounter this issue going forward. Thanks!

[2020-12-15 16:30] #10102 closed

[2020-12-15 16:32] #8379 closed

[2020-12-15 16:35] edoakes commented on #12562
This sounds pretty similar to the use case for Serve. The tricky part of the API will be sizing the bundle down. @rkooo567 maybe you can propose an API here for all of us to agree on?

[2020-12-15 16:50] AmeerHajAli opened #12879 "[autoscaler] give the ability to modify the node types while the cluster is running"
If you have a running cluster and you want to change the node types without terminating the cluster, make sure it works smoothly.

CC @edoakes @Gekho457. Can any of you please provide a good example use case here?

[2020-12-15 16:53] edoakes opened #12880 "[serve] Clean up the serve handle sync vs. async API"
See discussion here:
https://github.com/ray-project/ray/pull/12858#pullrequestreview-552663777

[2020-12-15 16:55] AmeerHajAli opened #12881 "[K8s] Make sure autoscaler detects GPUs"
The cluster launcher is not properly detection GPUs in Kubernetes.

CC @richardliaw , Can you please provide reproduction script here?

Please feel free to change the priority here.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

[2020-12-15 16:59] richardliaw commented on #12881
Here you go:

[code]

You'll want to start a GPU cluster (on say Google Kubernetes Engine).

[2020-12-15 17:01] mfitton commented on #11171
I think this issue is still present based on a look at the code. Sorry it slipped off my radar @noe-mis
@ijrsvt would you be willing to help me fix this? I'm unfamiliar with the arguments that are causing this issue. Maybe we can pair on it.

[2020-12-15 17:12] richardliaw opened #12883 "[k8s] printenv occasionally fails"
### What is the problem?

I'm running a kubernetes cluster with my docker image (`richardliaw/horovod`) and I get this:

[code]

during node startup.

cc @Gekho457  @ijrsvt

[2020-12-15 17:39] #12859 closed

[2020-12-15 17:53] mfitton commented on #11457
I'm going to close as there hasn't been recent activity, and I believe the issue has been fixed. Please reopen if I've made a mistake.

[2020-12-15 18:12] rkooo567 opened #12884 "Startup log use autoscaler_log.out / err instead of monitor.log"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-15 18:17] edoakes opened #12885 "[serve] Backends can no longer take no arguments as input"
### What is the problem?

This should work:
[code]

Traceback:
[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run by itself, the issue will be closed with "

[2020-12-15 18:28] edoakes commented on #12383
This works, test here: https://github.com/ray-project/ray/blob/master/python/ray/serve/tests/test_api.py#L800

[2020-12-15 18:34] rkooo567 commented on #12884
https://github.com/ray-project/ray/pull/12876

[2020-12-15 18:36] simon-mo commented on #12383
It doesn't work in other ray actors or drivers.

[2020-12-15 18:37] simon-mo commented on #12383
But yeah technically this is just a feature request. Not a bug.

[2020-12-15 18:38] #12059 closed

[2020-12-15 19:05] #12850 closed

[2020-12-15 19:15] simon-mo opened #12887 "[serve] option to just start one HTTP server"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-15 19:16] simon-mo opened #12888 "[serve] condense http_host and http_port to http_options"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-15 19:25] DmitriGekhtman opened #12889 "[kubernetes] Set up framework for Kubernetes tests in Buildkite"

[2020-12-15 19:28] DmitriGekhtman opened #12890 "[kubernetes] Add CI tests for new Kubernetes operator"
Will be addressed after https://github.com/ray-project/ray/issues/12889 is finished and closed.

[2020-12-15 19:36] #12176 closed

[2020-12-15 19:47] ericl commented on #11239
I've managed to repro without a segfault (using TF). It seems to happen after ~550 trials (not sure if exactly after 550). Trying to dig up worker logs for the crash if there are any.

[2020-12-15 19:56] edoakes commented on #12383
Oh, you mean non-serve-managed actors? The issue description says serve backends and that there's no way to do composition, which does work (it's tested in the link above).

Could you clarify the feature request in the description?

[2020-12-15 19:59] PidgeyBE commented on #12835
@rodorio I've build ray and py-spy (ray dependency) for ARMv7l. Would be interesting if you could try it out!
[ray-pyspy-armv7l.zip](https://github.com/ray-project/ray/files/5698218/ray-pyspy-armv7l.zip)

[2020-12-15 20:07] richardliaw commented on #11547
This is now showing up again for Horovod-Ray. Generally, anything that uses `cloudpickle` in a library out of band from Ray will break.

@suquark is it possible to avoid affecting the regular `cloudpickle` path?

[2020-12-15 20:37] simon-mo commented on #12383
Updated. thanks!

[2020-12-15 20:57] rkooo567 opened #12893 "[Logging] Core worker ERRORs/check failures not streamed to drivers."
### What is the problem?

This probably didn't work for a long time, but we should add this feature so that users won't lose core worker logs.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If

[2020-12-15 20:58] ericl commented on #12893
Specifically, not stderr, but ERROR level logs from the core worker.

[2020-12-15 21:35] #12797 closed

[2020-12-15 21:49] #12771 closed

[2020-12-15 22:15] jackbart94 commented on #8469
Did anyone maanage to find out the memory leak on RolloutWorker? This issue is still present in latest ray.

[2020-12-15 22:21] mfitton opened #12895 "[Docker] Microbenchmark client put gb/s perf regression"
### What is the problem?
When running the release tests in Docker via the product, two aspects of the microbenchmark show a regression in speed, namely in `multi client put gigabytes per second` and `single client put gigabytes per second`
![image (1)](https://user-images.githubusercontent.com/3156716/102279237-ea08b380-3edf-11eb-9e77-068aa35453e4.png)
![image](https://user-images.githubuserconten

[2020-12-15 22:58] edoakes commented on #12895
Verified that this was caused by passing too little memory to `--shm-size`. Relevant warning for Ray:
[code]

This error message was a little confusing, so improving it here: https://github.com/ray-project/ray/pull/12896

[2020-12-15 22:58] #12895 closed

[2020-12-15 23:19] ijrsvt commented on #12104
@AmeerHajAli This is not a new regression and I think that rushing this fix as a cherry pick is more risky than waiting for this fix to go through nightlies.

[2020-12-16 00:39] divyankgarg opened #12900 "Ray SGD Distributed Tensorflow"
I tried to compare the time taken by LSTM model for 230k rows with using Ray distributed tensorflow and not using Ray.  All the parameters are same like batch size and steps per epoch. But I am shocked to find that LSTM model on single VM without Ray is performing better then compared to Ray SGD for number of replicas ranging from 4 to 12. We have 6 machine in Ray cluster (30 cores) then also Ray

[2020-12-16 00:44] roireshef commented on #12543
Hi @wuisawesome Ive never used autoscaler since I'm running on premise. The repro is very simple and already detailed in the body of the original ticket https://github.com/ray-project/ray/issues/12543#issue-754650947

Have you tried running it with latest nightly build and master branch using the script provided and it worked for you??

[2020-12-16 00:51] wuisawesome commented on #12543
Yeah, as you can see, my cluster yaml pulls the latest nightly wheel, and runs `setup-dev.py`.

The one caveat is that if `setup-dev.py` doesn't symlink files in the module's top level directory, so if you're changing those, you need manually symlink them (see the `monitor.py` example).

[2020-12-16 00:56] divyankgarg opened #12902 "reduce computation time for DL"
I want to know is there any way in Ray that can be used to reduce the computation time for DL models.
Like for sklearn ML models I tried to used the ray remote and actors for model selection and then ray back end for computing individual model. It gave good result in SVC and xg-boosting method by reducing computation time and better result.
I waant to do the same for DL models like I have 3 differ

[2020-12-16 00:57] roireshef commented on #12543
I also tried linking monitor.py like you suggest in your yaml file.
This is the result I'm getting:
[code]

[2020-12-16 01:00] wuisawesome commented on #12543
hmmm what commit is your nightly wheel? (`python -c "import ray; print(ray.__commit__)"`)

Also when was the last time you rebased/merged upstream/master into your branch?

[2020-12-16 01:17] richardliaw commented on #12900
@divyankgarg can you post this question on discuss.ray.io?

Thanks!

[2020-12-16 01:31] mfitton commented on #11630
This doesn't seem reproducible. I checked to see whether I could reproduce in the `test_many_actors` stress test which runs a large cluster. I think this might have been related to what this PR fixed: https://github.com/ray-project/ray/pull/12660

Please let me know if you see it again or can reproduce.

[2020-12-16 01:31] #11630 closed

[2020-12-16 01:32] roireshef commented on #12543
9527220a868fbd57aa7617fa9a5eacecd56602db

Just now.

[2020-12-16 01:37] roireshef commented on #12543
I now see my ray build is on a commit from Nov 4, which is already outdated, and this issue might have already been fixed by now. Problem is, running `ray install-nightly` doesn't seem to update to the latest nightly wheel. What should I do to update?

[2020-12-16 01:39] wuisawesome commented on #12543
Ah yes, `ray install-nightly` broke for 1 commit when we updated from manylinux1 to manylinux14.

Can you try grabbing the latest nightly from the table here? https://docs.ray.io/en/master/installation.html#daily-releases-nightlies

Sorry about that :/

[2020-12-16 01:39] DonYum commented on #12747
OK, thanks for your patient reply.
BRs!

[2020-12-16 01:43] roireshef commented on #12543
It might be worth documenting that somewhere so other won't get stuck as well...

[2020-12-16 01:54] roireshef commented on #12543
Yes, it works. Thanks @wuisawesome !

[2020-12-16 01:56] wuisawesome commented on #12543
No problem! It seems like this was a one-off issue due to the manylinux upgrade, but let us know (or submit a PR) if you have any suggestions around improving the documentation for this :)

[2020-12-16 01:58] rkooo567 opened #12906 "Object store thrashing if it runs ray.get in a non-main thread."
### What is the problem?

object store thrashes when ray.get is called in a non-main thread because ray.get wouldn't unsubscribe the get dependency because the RPC to unsubscribe the get dependency is not called (`NotifyDirectCallUnblock`), resulting in that the give object is pulled / evicted until the get dependency is unsubscribed by the task termination.

### Reproduction (REQUIRED)
Please pro

[2020-12-16 01:59] rkooo567 commented on #12906
This essentially means ray.get is always thrashing in
- Java workers
- Any ray tasks/actors that run a background thread.

[2020-12-16 02:57] rodorio commented on #12835
Hm, looks like the same error. Any ideas?

$pip install /home/pi/Downloads/py_spy-0.3.3-cp36-cp36m-linux_armv7l.whl
py_spy-0.3.3-cp36-cp36m-linux_armv7l.whl is not a supported wheel on this platform.

[2020-12-16 03:44] richardliaw opened #12909 "[k8s] ray rsync doesn't match expectations"
### What is the problem?

In rsync, it's a "bug/feature" that the source directory should be interpreted differently when it has a trailing slash.

https://gist.github.com/ilyar/a00eff120fb8d33785be4a4d3fb1f820#:~:text=A%20trailing%20slash%20on%20a,that%20source%20is%20copied%20to.

Unfortunately, when you run rsync-up or `ray up` for a kubernetes cluster, it seems like the files do not get moved

[2020-12-16 04:37] richardliaw commented on #12909
Turns out this is because kubectl cp is pretty much garbage -- it doesn't respect the trailing slash like `cp` or `rsync`.

[2020-12-16 04:38] richardliaw commented on #12909
Solution is just to `apt-get install -y rsync` on your containers.

[2020-12-16 05:03] #12909 closed

[2020-12-16 05:12] Gekho457 commented on #12883
Weird. What happens if you directly launch a pod with the same spec as the one in your head node config and then try the same `kubectl exec` command with that pod?

[2020-12-16 05:16] richardliaw commented on #12883
It's not easily reproducible; by kubectl exec'ing after this failure, you'll get a exit status 0 (successful execution)

[2020-12-16 05:40] mohitranawat commented on #3116
Can someone help me to fix this issue ? I am not able to fix this issue

[2020-12-16 05:43] Gekho457 commented on #12883
Is it correct that you’re running `ray up` with a running cluster?
Any other useful context you can think of?

I wonder if just having KubernetesCommandRunner retry that command a couple times before giving up would be a passible temporary bandaid on this.

It would be great if we could get more detailed info on what happened than `exit status 1` — need to look into the logging logic.

[2020-12-16 05:45] rodorio commented on #12835
Got a little further:

	$python3.6 -m pip install py_spy-0.3.3-cp36-cp36m-linux_armv7l.whl
	Traceback (most recent call last):
	  File "/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
		"__main__", mod_spec)
	  File "/usr/lib/python3.6/runpy.py", line 85, in _run_code
		exec(code, run_globals)
	  File "/usr/lib/python3/dist-packages/pip/__main__.py", line 16, in <module>
		from pip.

[2020-12-16 06:01] rodorio commented on #12835
I think its because I have both 3.6 and 3.7 installed but I cant seem to be able to fix it. I may try looking into virtual environments but I've never worked with them before.

[2020-12-16 06:11] robertnishihara commented on #3116
@mohitranawat can you post a small self-contained script that reproduces the issue? Then we might be able to help diagnose it.

[2020-12-16 06:19] mohitranawat commented on #3116
@robertnishihara actually issue is same. Whenever the process is going into the different machine import is not happening.

Error is `File "/home/mohit/virtualenvironment/pytorch_env/lib/python3.6/site-packages/ray/function_manager.py", line 177, in fetch_and_register_remote_function
    function = pickle.loads(serialized_function)
  File "/home/mohit/virtualenvironment/pytorch_env/lib/python3.6/s

[2020-12-16 06:58] valiantljk commented on #8611
any update?

[2020-12-16 07:07] ericl commented on #8611
See this for Ray 1.0: https://docs.ray.io/en/master/actors.html#actor-lifetimes

[2020-12-16 07:27] ericl opened #12912 "[RFC] Add release_resources flag to ray.get/wait"
In IO-intensive use cases, the application may not want ray.get() to release resources. For example, if object spilling is on, ray.get() may be requiring remote object reads from external storage. In this case, the worker should be still considered "busy", and releasing resources just results in the needless creation of more workers that can cause thrashing.

Example:
[code]

Without the `release_

[2020-12-16 07:28] #11549 closed

[2020-12-16 07:51] robertnishihara commented on #12912
Would this alternative just always do the right thing? That sounds very preferable.

As much as possible, I'd prefer for things to just work out of the box. My concern with this flag is that the code users write won't work the first time. It will fail because too many workers are started. Then they'll have to debug and figure out what went wrong. It could be hard to make the connection between too

[2020-12-16 07:54] ericl commented on #12912
Yeah, the concern is that it could be tricky or even impossible to implement in a performant way. For example, suppose we had to check object metadata prior to releasing resources, that could add a lot of overhead to every get call. There might be some nice solution though.

[2020-12-16 07:57] hybug commented on #7489
`trainer.get_policy().export_checkpoint()` OR `trainer.get_policy().export_model()` maybe can help you, the forward export ckpt files, the behind export pd files.

[2020-12-16 08:06] PidgeyBE commented on #12835
I got myself a RasPi4 and the following worked for me, using conda environments:
(The benefit of conda over virtualenv will be that conda can download packages that are already compiled/built for ARM. Conda is also pretty well isolated from the system python installations)
[code]

[code]

[code]
... this last step takes a while... will update when finished...

[2020-12-16 08:10] richardliaw commented on #12883
Hmm, looks like this is a GKE issue: https://gitlab.com/gitlab-org/gitlab-runner/-/issues/3247

Maybe a retry makes sense?

[2020-12-16 10:32] krfricke commented on #12717
Hi @meechos, can you give a reproduction script? I can't reproduce the issue:

[code]

[2020-12-16 10:35] krfricke commented on #12717
Are you using PopulationBasedTraining by any chance? If so, please paste how you instantiate the PBT scheduler and how you call tune.run.

In short, PBT does hyperparameter mutations by multiplying existing parameters value by 0.8 or 1.2 - hence 1.08 (which is 0.9 * 1.2). This is expected behavior as discussed in the original PBT paper.

[2020-12-16 10:37] krfricke commented on #12000
Closing this because of inactivity, please reopen if the problem persists and can be reproduced.

[2020-12-16 10:37] #12000 closed

[2020-12-16 10:39] krfricke commented on #12531
Hi @ZumbiAzul, this can be seen here:

[code]

which indicates that the input is a cuda tensor and the model is not (otherwise it would also be a `torch.cuda.FloatTensor`). By moving the model to the GPU the model weights will become `torch.cuda.FloatTensor`, too.

[2020-12-16 10:56] krfricke commented on #12531
We're updating the docs in #12914 so this doesn't happen in the future. Thanks for pointing this issue out to us!

[2020-12-16 13:36] Gekho457 commented on #12883
Looks like it’s the same problem that arose in the autoscaler here: https://github.com/ray-project/ray/issues/12255
except now it’s impacting the cluster launcher. I’m curious just how long these random API server outages are.

[2020-12-16 13:58] korbinian-hoermann commented on #12851
Thank you @sven1977 !
I had to do some more adjustments in the postprocessing fn but it seems to work now. 👍

@zzchuman those are the functions I had to modify:

- init function of CentralizedCriticModel(TFModelV2)
(adjust the inputs of the net to suit your agent's and opponent agents' acttions/ observations)

- centralized_critic_postprocessing
as sven mentioned above: built OPPONENT_OBS for the

[2020-12-16 14:20] krfricke commented on #9159
We are adding support for this in #12916 (though with a slightly different API to match existing behavior in other searchers).

[2020-12-16 14:37] PidgeyBE commented on #12835
This one works on my Raspi4! [Uploading ray_armv7l_32bit.zip…]()

[2020-12-16 14:53] PidgeyBE commented on #12835
This version works for me on Raspberry Pi 4, 32bit OS: [ray_armv7l_32bit.zip](https://github.com/ray-project/ray/files/5703429/ray_armv7l_32bit.zip)

[2020-12-16 16:19] stephanie-wang commented on #12912
I think we could do the optimization just based on whether the value is ready in the in-process store. So on `ray.get(o)`:
1. Wait for o to appear in in-process store.  # Release resources.
2. Wait for o to appear in local object store.  # Hold resources.
Also makes sense to do that in general, I think, since we do use actually use resources in step 2.

The only thing is that this can still behave

[2020-12-16 16:21] edoakes commented on #12902
@divyankgarg this would also be better posted to discuss.ray.io

[2020-12-16 16:24] roireshef commented on #12543
I'm reopening this, as `ray start` keeps crashing at startup with:
[code]

And the dashboard temp log file shows:
[code]

@wuisawesome any magic trick for that one?

[2020-12-16 17:32] tylerkohn opened #12920 "broken pipe when calling ray.get()"
When running under reasonable (not necessarily huge) load I've witnessed broken pipes when calling ray.get() to retrieve something.  Under most conditions this does not happen so I don't have a reproducible script.

we are using ray 1.0.0 on a GKE cluster and minikube (seeing it on both) using python 3.7 on Ubuntu 20.04.1 LTS

The error being reported is:

[code]

The code being called is:
[code]

[2020-12-16 17:52] divyankgarg commented on #12902
Yes sure will do it. But can anyone provide the solution for it. Ray SGD with TFTrainer is already tested but it failed to give better result in total time taken.

[2020-12-16 17:58] divyankgarg commented on #12900
Hi @richardliaw . Could you tell the solution for it. Why TFTrainer is not helping in reducing the time for DL models even it is replicating the models and dataset is huge. Why increasing replicas is taking more time to compute compared to simple LSTM in one worker node?

[2020-12-16 18:09] rkooo567 commented on #12920
Did you see any logs from /tmp/session_latest/logs/raylet.out or *core-worker* logs when you see this error?

[2020-12-16 18:33] mfitton commented on #12543
Hey @roireshef to fix this, I think you'll need to run `cd /usr/local/lib/python3.6/dist-packages/ray/new_dashboard/client && npm ci && nom run build`. This is occurring because the `setup-dev.py` script sym links the dashboard code as well to allow for development on the dashboard without building entirely from source. That said, it requires the locally sym linked dashboard be built manually by t

[2020-12-16 18:34] mfitton commented on #12543
Please let me know if you run into any difficulties running that command, and I'll help debug.

[2020-12-16 19:23] tylerkohn commented on #12920
are those logs found on the specific worker?  also, where/which logs are the core-worker logs?  the pods are still up but the logs seem to have been rotated (haven't found anything with the right dates yet.

[2020-12-16 19:37] robertnishihara commented on #12912
@stephanie-wang, regarding

I'm a bit confused about what those two scenarios mean. Is it the same as saying the following?

1. If the object hasn't been created in the system yet, release the resources.
2. If the object exists somewhere in the system (including on disk) but not on the local machine, then hold the resources.

[2020-12-16 19:41] roireshef commented on #12543
Hi @mfitton - I am running into difficulties with building locally, probably related to some npm dependencies. This is something I tried to avoid. I mean, the whole purpose of the `setup-dev.py` script is to avoid building any software locally, as it's using the Ray binaries, plus softlinking the python code. Why is the dashboard different?

[2020-12-16 20:05] mfitton commented on #12543
I've always considered the setup-dev.py script to be a way to develop on the non-CPP non-ray-core part of the code without having to compile the C++ binary. It essentially takes all the non C++ parts of Ray and links them in place of those parts of Ray in a pre-built ray wheel.

To provide some justification for why it is this way--if it didn't symlink the dashboard, then you wouldn't be able to u

[2020-12-16 20:06] mfitton commented on #12543
You can also copy the `client/build` directory from the ray wheel install to the `new_dashboard/client/build` directory of the code you're sym-linking.

[2020-12-16 20:06] stephanie-wang commented on #12912
Yes.

[2020-12-16 20:10] BrunoBSM commented on #8248
Any news on this? I've been having a hard time saving the model from one trainer and loading into another (like going from BC to PPO).

[2020-12-16 20:21] roireshef commented on #10628
Hi @ericl @sven1977 - I have implemented a solution based on (1) from https://github.com/ray-project/ray/pull/11935#issuecomment-730644787

I don't think it uncovers the full potential of the async sampler runtime improvements, but I do see a 20%-50% speedup when switching from sample_async=False to sample_async=True with this feature enabled (depending on how many envs_per_worker I use).

Could y

[2020-12-16 20:30] richardliaw commented on #12920
They should be on the `head` pod. You can just post all the `/tmp/ray/session_latest` logs (in a zip) if you want us to look through it :)

[2020-12-16 20:33] roireshef commented on #12543
@mfitton, I see. I think the cleaner solution would be to modify setup-dev.py to sym-link only the new_dashboard contents, excluding `client/build`, which as far as I see, comes with the ray wheel. This way running setup-dev.py will not require re-building the dashboard, as well as copying folders around, and you could still develop the python code of it.

[2020-12-16 20:35] roireshef commented on #12543
A better, longer term solution, would be to take the client folder out of the python code's folder, because it doesn't belong there. This way you could easily sym-link the new_dashboard folder as a whole.

[2020-12-16 20:44] ericl commented on #12635
Perhaps we don't allow "true" global objects in the first iteration, to avoid the problems mentioned above. If an object can only be transferred to another actor, then that would solve the RayDP use case (single job) and also allow other use cases which span multiple jobs.

The issue is the objects are still owned by the producing worker (the one that call ray.put). If that worker is killed, the o

[2020-12-16 20:55] mdeib commented on #12873
Moved to discuss.ray.io

[2020-12-16 20:55] #12873 closed

[2020-12-16 21:11] DmitriGekhtman opened #12924 "[Kubernetes] Resilience of Ray/K8s cluster launcher and operator to temporarily unavailable K8s API."
In production environments, the K8s API server can sometimes be temporarily unavailable.
This causes problems launching clusters (https://github.com/ray-project/ray/issues/12883)
and autoscaling (https://github.com/ray-project/ray/issues/12255)

The cluster launcher and operator need to be resilient to temporary unavailability of the K8s API server, e.g.
by implementing retry logic.
We also need t

[2020-12-16 21:18] Alwinator commented on #8248
Unfortunately, I still haven't found any solution. But I also have to say that I didn't have time to work on this.

[2020-12-16 21:18] AmeerHajAli commented on #12924
@Gekho457 Thanks for filing this! I generally add Serverless Milestone to such issues.
.

[2020-12-16 21:19] Gekho457 commented on #12924
I think you beat me to adding the milestone by a split second :)

[2020-12-16 21:21] ericl commented on #8248
@sven1977 I think this is possible by saving/restoring the keras model weights, do we have any existing example code? Perhaps adding an explicit API like stable baselines (mentioned above) would be useful: https://stable-baselines.readthedocs.io/en/master/guide/pretrain.html

Also cc @michaelzhiluo for any thoughts.

[2020-12-16 21:25] ericl commented on #12912
Ok, so formalizing the proposal a bit more, suppose we call Get(oids) or Wait(oids), this currently has two phases:
[code]

Currently both phases can release resources. The proposal is to change it so that _only_ phase 1 can release resources. Phase 2 will never release resources. Is that right?

IIUC, this is a race condition where we might spuriously unblock right?

Here's a draft PR btw: https:

[2020-12-16 22:15] edoakes commented on #12912
Agree with @robertnishihara that we should try to do this without user input if at all possible.

@ericl the proposal sounds good to me -- this allows better "fair sharing" of network B/W when fetching large objects within the cluster as well. There are basically two cases here and for both it seems preferable to hold resources:
(1) the object is small, in which case network transfer overhead/late

[2020-12-16 22:22] ericl commented on #12912
Right, I also agree the new behavior should be much better. The possibility of regression is there, but unlikely (and we can make it a feature flag for now to be safe).

The current behavior will be unchanged (it will release if there are any "pending" objects).

@rkooo567 , for the spilling PR I think the only ramifications are:
- we should keep the release_resources flag internal (not expose in

[2020-12-16 22:40] richardliaw commented on #12481
OK, looks like we're seeing this:

[code]

@DanielAtKrypton do you happen to have a firewall that might be blocking ports?
@rkooo567 do you know what's the setting to configure to get more internal ray logs?

[2020-12-16 22:58] EvanOman opened #12928 "[tune] tune.with_parameters Not Working with XGBoost"
### What is the problem?

**Versions:**
Ray: v1.0.1.post1
Python: 3.7.9
OS: Ubuntu 16.04

I am getting an error when I use `tune.with_parameters` to pass the NumPy training data to an XGBoost model.

<details>
<summary>Training Function</summary>
<p>

[code]
</p>
</details>

<details><summary>Working Tune Function (w/ Currying):</summary>
<p>

[code]
</p>
</details>

<details><summary>Failing Tune

[2020-12-16 23:03] richardliaw commented on #12928
Thanks for posting this issue @EvanOman!

Also, thanks for nicely formatting this -- it's so incredibly clean and easy to parse.

A couple things:

1. Can you try using the nightly wheels to see if this is still an issue? We recently modified tune.with_parameters to better leverage the object store. The nightly wheels can be found here: https://docs.ray.io/en/master/installation.html#daily-release

[2020-12-16 23:05] DanielAtKrypton commented on #12481
I am using a VPN tunnel and port forwarding.

[2020-12-16 23:05] richardliaw commented on #12928
On another side, maybe you can try tune-sklearn (https://github.com/ray-project/tune-sklearn/blob/master/examples/xgbclassifier.py) which provides a scikit-learn interface for using Tune.

[2020-12-16 23:15] EvanOman commented on #12928
@richardliaw  Thank you for the quick response!

1. I updated to nightly and still got the same result.
2. I added a `.copy()` to each of the numpy array uses within the training function and that did the trick, no error!

[2020-12-16 23:43] edoakes opened #12929 "[serve] Prefer stopping pending replicas instead of running ones"
If a user scales to 100 and then down to 50 immediately, prefer to "dequeue" the pending replicas instead of tear down the running ones.

[2020-12-17 00:05] richardliaw commented on #12928
Cool! I'll close this issue for now; feel free to open a new one if you have any questions.

[2020-12-17 00:05] #12928 closed

[2020-12-17 00:10] richardliaw commented on #12900
(moved to discuss.ray.io)

[2020-12-17 00:10] #12900 closed

[2020-12-17 00:29] mfitton commented on #12543
I frequently want to use the development version of the dashboard typescript code in addition to the development version of the dashboard javascript code, and want the shown dashboard UI to be the one built from the code on the branch I'm developing on, rather than the version included with the master branch. What if the setup.py script built the dashboard as part of its script?
That said, I can d

[2020-12-17 01:21] wuisawesome commented on #12543
Ideally we can do this via bazel though (which effectively makes it part of setup.py)

[2020-12-17 01:32] mfitton commented on #12543
@wuisawesome can you expand upon that a little bit? I'm not super familiar with Bazel. Does this mean we define the dashboard build as a Bazel task and then can run that Bazel task (or not, depending on the flag) based on whether the flag is passed to setup-dev? Or am I way off base?

[2020-12-17 01:41] wuisawesome commented on #12543
Yup, the rough idea would be to create a new bazel target, then add that to `ray_pkg`. @barakmich thoughts?

[2020-12-17 02:41] simon-mo opened #12930 "[serve] Better error message for resource checks"
### Describe your feature request

[code]
This error message is bad in two ways:
- Didn't say _why_ it cannot be added, listing the resources shape would help
- "Scaling the replica to 0" is clearly not actionable
- Should mention how to turn off this check.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

cc @edoakes @architkulkarni

[2020-12-17 04:28] DonYum opened #12931 "[ray core] AttributeError: module 'ray' has no attribute 'experimental'"
Version:  '1.0.1.post1'

[code]

BRs!

[2020-12-17 05:07] richardliaw commented on #12931
`experimental` is renamed to `ray.util`

[2020-12-17 05:11] #12902 closed

[2020-12-17 05:11] richardliaw commented on #12902
(moving this discussion to `discuss.ray.io`)

[2020-12-17 05:15] rodorio commented on #12835
Nice! I've been swamped today but I'll give it a try tomorrow. Was it still using the conda env?

[2020-12-17 06:45] valiantljk commented on #12018
any update on this?
I run into this issue with similar error:

[code]

[2020-12-17 07:04] drozzy commented on #10338
Just spend 30 mins on this too before I found this issue. Would be nice to put something in the docs saying this doesn't work right now...
Any eta on when 1.2.0 comes?

[2020-12-17 07:12] Servon-Lee commented on #8166
@stephanie-wang Hi Stephanie, long time no see. The args `--internal-config` and `--memory` have been deprecated in Ray 1.0, how can I do something like:
[code]

[2020-12-17 07:18] kli-crise opened #12934 "AttributeError: module 'ray' has no attribute 'services'"
`2020-12-17 15:17:44,440 INFO worker.py:651 -- Connecting to existing Ray cluster at address: 10.244.5.200:6379
Traceback (most recent call last):
  File "test.py", line 12, in <module>
    set(ray.get([f.remote() for _ in range(1000)]))
  File "/home/kpl/.local/lib/python3.6/site-packages/ray/worker.py", line 1452, in get
    raise value.as_instanceof_cause()
ray.exceptions.RayTaskError(Attribute

[2020-12-17 07:20] robertnishihara commented on #3116
Do you have a file called `model.py` that you are trying to import? It will need to be on the PYTHONPATH on all the machines. If that's not the issue, please provide detailed instructions for how to reproduce the issue!

[2020-12-17 07:49] ahbone commented on #12635
Thanks for the explanation. I'll spend some time to check how to support this version.

[2020-12-17 08:04] PidgeyBE commented on #12835
Yes, indeed! Instructions above, with conda, but with that last zip file!

[2020-12-17 08:11] rkooo567 opened #12937 "[Core][New Scheduler] Actors borrowing CPUs infinitely."
### What is the problem?

[code]
This job is supposed to be hanging because worker can borrow cpu to an actor once (and the subsequent actor creation cannot borrow a cpu anymore), but it seems like it succeeds when I ran this script.

It fails (which is the expected behavior) when I run it with the old scheduler.

But when we run it with only tasks, it works for both cases (which is the expected b

[2020-12-17 08:37] richardliaw commented on #12934
`from ray.services import get_node_ip_address()`

[2020-12-17 08:49] #12934 closed

[2020-12-17 08:51] rkooo567 commented on #12018
Sorry I didn't have enought time to work on it yet. I will work on it within a few weeks

[2020-12-17 09:01] TanjaBayer opened #12938 "[dashboard] Empty screen or errors when running ray"
### What is the problem?

When starting ray scrips with the latest nightly version the dasboard only shows a blank screen, making it impossible to check any logs or other stuff. When checking the console the following two errors are printed repeatedly:

![image](https://user-images.githubusercontent.com/30770185/102464888-3cb3ae00-404d-11eb-9707-ea9de553cefc.png)

* ray: 1.1.0.dev0
* Python 3.7.9

[2020-12-17 09:13] #12439 closed

[2020-12-17 10:03] kfstorm commented on #12438
@ericl @wuisawesome After looking into this issue again, I still don't know a clear way to fix it. Maybe you guys could take over this issue?

[2020-12-17 10:24] mohitranawat commented on #3116
@robertnishihara how to put `model.py` on PYTHONPATH on all machines? Can you elaborate?

[2020-12-17 11:38] alexvaca0 commented on #11970
Hi, I'm experiencing the exact same problem as @npitsillos , in my case I'm also using a custom environment, and it is able to train properly using PPO with TorchPolicy with LSTMs, but when testing it, the time I call agent.compute_action(obs) it throws the same error as for @npitsillos . Could someone please help with this?
Also, I've read above something about the trajectory_view_api and some ha

[2020-12-17 11:48] roireshef commented on #12543
@mfitton @wuisawesome - Having to build any part of the software requires meeting dependencies and much move overhead than installing the binaries. The setup-dev.sh script is doing great job by avoiding that, and still, allow modifying the **python** code in a clean an concise way. I think it should relatively straightforward to move the `client/build` artifacts into a different folder than any of

[2020-12-17 11:56] saeid93 opened #12940 "[rllib] ValueError: ('Observation ({}) outside given space ({})!' for an inside the space observation"
rrlib's `preprocessor.py` line 62 gets stuck in the value error `ValueError: ('Observation ({}) outside given space ({})!`. But the observation is not outside the given space. I tried the same observation and space outside rllib and the `observation_space.contains(observation)` returned `True` for the example that rllib returns `ValueError`

**observation**:

[code]

**Space:**

[code]

[2020-12-17 13:06] janblumenkamp commented on #7923
I would like to follow up on this since I am having similar troubles now, a different environment though in a more complex model facilitating differential communication channels. I observe that after a seemingly random training time, the log probabilities computed with the logp function of the action distribution become -inf. My action space is bounded to something small like [-1, 1], but for some

[2020-12-17 14:16] roireshef commented on #12360
OK, This actually works quite well now, running Tune with 27 trials (1 node x 32 cores each).
Thanks a lot for your support!!

[2020-12-17 14:39] #9930 closed

[2020-12-17 14:54] crystalww commented on #12018
I print `sys.modules` in remote function, found the Python `import module` caused my problem. `I guess there isn't a good way to clean imported modules`.  Use `reload(module)` can help when I change my code and re-run it. But if I run two projects in turn which import a module has the same name, It doesn't work.

[2020-12-17 15:50] AmeerHajAli commented on #11388
Closed with #11753.

[2020-12-17 15:54] BrunoBSM commented on #8248
The Ray team answered me about this, I put the solution into the discussion forum. Basically just use the get.weights() and set.weights() methods to go from one trainer to the other (Make sure the model configurations match!). Here is the [link to discussion](https://discuss.ray.io/t/how-to-pretrain-a-model-with-behavior-cloning/278)

[2020-12-17 16:13] stephanie-wang commented on #12912
About this:

I'm thinking now that it would make sense to split the handlers for releasing resources vs fetching objects in the raylet. It no longer makes sense to keep them in one handler since we'll always set release_resources=false when fetching objects anyway. Also, this has been a brittle/complicated part of the NodeManager code for a while so it'd be nice to make it more sane. So now it wil

[2020-12-17 16:23] #11388 closed

[2020-12-17 16:30] AmeerHajAli commented on #12378
There are basically three issues here:
1. Even if you specified min and max workers we still count the head node in min workers.
2. We default to max_workers:0 when it is absent. This is safer than assuming it is infinity. But I think the best solution here is to make this a required field.
3. Why @wuisawesome is using the global initial_workers and min_workers when they are deprecated? I will rai

[2020-12-17 16:58] richardliaw commented on #12360
wow! great!

On Thu, Dec 17, 2020 at 6:17 AM roireshef <notifications@github.com> wrote:

[2020-12-17 17:40] edoakes commented on #8166
@Servon-Lee `--internal-config` was renamed to `--system-config`

[2020-12-17 17:40] #8166 closed

[2020-12-17 17:41] #12883 closed

[2020-12-17 18:00] DmitriGekhtman opened #12944 "[K8s] PIP install in pod running `rayproject/ray:nightly` image does not work on GKE"
### What is the problem?
See title.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cann

[2020-12-17 18:01] simon-mo opened #12945 "[serve] improve http logging"
### Describe your feature request
Features:
- Log to driver
- Log to file
- configure http proxy logging verbosity

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-17 18:01] Gekho457 commented on #12944
@richardliaw could you add repro script / other details

[2020-12-17 18:53] sven1977 opened #12947 "[Dashboard] Getting `KeyError: 'RAY_RAYLET_PID'` on Win."
When running e.g. `rllib train --env CartPole-v0 --run PPO` on Windows, I'm seeing these error messages.
The program doesn't crash.

[code]

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. Th

[2020-12-17 18:59] amogkam commented on #12947
I saw these error messages yesterday on my Mac even with just a `ray.init()`.

It stopped after I upgraded the latest wheels again.

[2020-12-17 19:02] #8460 closed

[2020-12-17 19:05] edoakes opened #12949 "Properly fate-share dashboard agents with Raylet on Windows"
### What is the problem?

We should be able to do this using the Windows Job API, we currently do that for the workers.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot

[2020-12-17 19:14] FarzanT commented on #12650
@richardliaw Is there anything else that I can do? I've never submitted a pull request, but want to fix this issue as it's disallowing me to optimize larger models.

[2020-12-17 19:21] richardliaw commented on #12650
Thanks for the ping! Hmm can you try changing the one line “import pickle”
to “import ray.cloudpickle as pickle” and see if that works?

You may need to do this on all nodes of your cluster if you have multiple.

On Thu, Dec 17, 2020 at 11:14 AM Farzan Taj <notifications@github.com>
wrote:

[2020-12-17 19:44] rkooo567 opened #12950 "[Object Spilling] Improve Read throughput"
### Describe your feature request

Read throughput is much lower than the write throughput now because we read 1 object using 1 io worker.

We can implement multi threaded read or pre-load multiple objects to improve read throughput.

[2020-12-17 20:02] FKhadivpour opened #12951 "Cannot save training episodes: "TypeError: Object of type ndarray is not JSON serializable""
I am trying to train a ppo agent using this [repository](https://github.com/HumanCompatibleAI/human_aware_rl), which is a repo for the DRL implementations compatible with a multi-agent environment (Overcooked). I am trying to run this [code](https://github.com/HumanCompatibleAI/human_aware_rl/blob/master/human_aware_rl/ppo/ppo_rllib_from_params_client.py), which is for training one agent with PPO.

[2020-12-17 20:29] edoakes commented on #12938
@mfitton could you take a look?

[2020-12-17 21:08] edoakes commented on #12879
Example: in Ray Serve, want to deploy a new model with different dependencies while the cluster is running.

[2020-12-17 21:51] ijrsvt commented on #12630
Some more context:
If we start a cluster with 4 nodes (and do not run any ray applications) and wait for those to start we get the following situation:
[code]
The nodes fail around (from `monitor.out`):
[code]
and `monitor.err` has the following repeated _many_ times:
[code]
This issue is most likely that rsync is able to copy files and then fails to update time because the files in question are *

[2020-12-17 22:01] edoakes commented on #12737
@rkooo567 I'm confused -- is this an existing bug or a required feature for enabling the new scheduler?

[2020-12-17 22:03] rkooo567 commented on #12737
Ah, it is a required feature (new scheduler doesn’t report the infeasible & pending tasks)

[2020-12-17 22:07] mfitton commented on #12938
I'm also able to reproduce on Ubuntu, and not on OS X. It has to do with the logCount and errorCount for workers being undefined in Ubuntu for some reason. Reading through the code now and trying to figure out how that could happen...

[2020-12-17 22:07] richardliaw commented on #12755
This works for me fine, can you post a stacktrace?

I had to install Box2D though

[2020-12-17 22:09] edoakes commented on #12841
@mohitranawat could you post a stack trace or a code sample so we have more information to go on here? This would also probably be better posted on discuss.ray.io -- that's our community forum.

[2020-12-17 22:10] #12931 closed

[2020-12-17 22:16] FarzanT commented on #12650
@richardliaw Yes it did! Thank you!

[2020-12-17 22:16] richardliaw commented on #12951
@sven1977 can you take a look at this? it seems like when the worker writes out certain datatypes it fails?

[2020-12-17 22:21] edoakes commented on #12352
Hey @roireshef I see the issue you linked is resolved now, can we close this one?

[2020-12-17 22:26] edoakes opened #12955 "Improve dashboard not found exception"
### What is the problem?

This exception can be scary for users:
[code]

We should just log an error or warning instead.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet canno

[2020-12-17 22:26] ericl commented on #11239
I've validated that using `ray.init(_system_config={"maximum_gcs_destroyed_actor_cached_count": 1000})` avoids the crash. All 1000 trials finished successfully with this config set.

This means that https://github.com/ray-project/ray/pull/12894 should resolve the issue, by raising the unique bytes in the actor id from 4 -> 12 (now we support up to ~281474976710656 instead of ~100000 actors).

[2020-12-17 22:27] edoakes opened #12956 "Add dashboard to bazel target to avoid running manual build commands"
See discussion here:
https://github.com/ray-project/ray/issues/12543

[2020-12-17 22:27] richardliaw commented on #12650
Very cool! sorry for the the slow reply... been a bit busy these days. Do you want to push a pull-request? If you're busy I can do it quickly so that it gets fixed in later ray releases.

[2020-12-17 22:28] richardliaw commented on #12650
(But it'd be awesome for you to do it :) )

[2020-12-17 22:29] FarzanT commented on #12650
No problem at all, I understand how busy you are! I'll give it a try, have to do a bit of research on how to do this properly.

[2020-12-17 22:29] edoakes commented on #12543
Agree that this should just be part of the regular bazel build/setup.py workflow. Opened an issue tracking this improvement here:
https://github.com/ray-project/ray/issues/12956

Another to improve this error message:
https://github.com/ray-project/ray/issues/12956

[2020-12-17 22:29] #12543 closed

[2020-12-17 22:49] soundway commented on #11239
Thanks for the update! If this is indeed the fix for the crashed produced by the contrived script, then I'm not entirely convinced that it shares the same root cause as the problem we have when running with our own environments (e.g. where sometimes we see errors related file descriptor from raylet). The experiment we run with our environments that crashed don't produce nearly as many actors, and

[2020-12-17 23:01] ericl commented on #11239
Yep, 0.8.5 doesn't centralize actor management, so the probability of collision is much lower (you would have to have collisions within individual trials, which is extremely unlikely since each trial only had ~200 actors). However, the central GCS tracks *all actors over all time*, so collisions there become inevitable once you cycle through enough actors in your app.

That said it does seem likel

[2020-12-17 23:03] rkooo567 opened #12957 "[Object Spilling] multi node streaming shuffle check failure."
### What is the problem?

I saw this failed the job.
[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

- [ ] I have verified my script runs in a clean environment and reproduces the

[2020-12-17 23:13] roireshef commented on #12490
@sven1977 @ericl - Is there any documentation on how to use/customize the _trajectory view api_ ?
I'd like to add this flag that is passed from my environment in the _info_ dict it returns so that _add_advantages_ will have an access to it. It's actually independent of the algo being used.

I understand the easiest way would be to disable the _trajectory view api_ but AFAIK it's better to use this

[2020-12-17 23:28] josephcarmack commented on #10486
I am also trying to resume a run. I am using rllib with a custom environment. I did this by copying the rllib train.py script found here:

https://github.com/ray-project/ray/blob/2a86943b13983d677fb2b1b27b25d7096fa5feb3/rllib/train.py

and registered my env in the script so that I can run `python -m train.py --env myCustomEnv`. I then did an experiment with PPO where I grid searched over some of t

[2020-12-17 23:34] roireshef commented on #12352
I just ran larger scale experiments few hours ago, I'll report the results tomorrow. So far it looks good.

[2020-12-17 23:51] FarzanT commented on #12650
@richardliaw Hey, I just made the changes but don't know how to assign you.

[2020-12-18 00:22] rkooo567 commented on #12562
I will create a API proposal after coming back from the vacation!

[2020-12-18 00:51] richardliaw opened #12959 "[k8s] nodes are leaked upon outdated config"
### What is the problem?

### Reproduction (REQUIRED)

When we update the cluster yaml, it is expected that the entire ray k8s cluster is terminated (and all worker pods too).

However, in testing, I've seen that the worker pods remain alive. This causes the cluster to leak resources.

[2020-12-18 00:52] richardliaw commented on #12959
@Gekho457 @AmeerHajAli

[2020-12-18 00:55] AmeerHajAli opened #12960 "[Autoscaler] cleanup the cluster yaml"
~~1) remove `worker_default_node_type` field from the cluster yaml and cleanup the code that uses it [Done].~~
2) print a warning/logger.error for using `min_workers` and `initial_workers` and any of the deprecated fields in the yaml with multi node types.
~~3) Make max_workers infinity per node type by default. [Done]~~
4) Make all example-full.yaml for all providers use multi node types and upda

[2020-12-18 01:38] #9939 closed

[2020-12-18 01:43] mfitton commented on #12737
It's in the test here: https://github.com/ray-project/ray/blob/master/dashboard/modules/logical_view/tests/test_logical_view_head.py#L18

[2020-12-18 02:46] lixin-wei commented on #12842
I'll take a look.

[2020-12-18 02:58] wuisawesome commented on #12960
Why does this need to be required? The alternative here is to default to `inf` because the global max_workers field is required and bounds the max number of nodes regardless.

[2020-12-18 03:10] chaokunyang commented on #12842
@lixin-wei `aligned_free` seemed  has be fixed in  a previous PR.

[2020-12-18 03:16] #9159 closed

[2020-12-18 03:17] #12650 closed

[2020-12-18 03:56] mohitranawat commented on #12841
`import time
import random
import ray
import os
ray.init(num_gpus = 1)

def tiny_work(x):

    for i in range(10000):
        pass
    time.sleep(0.0001) # replace this is with work you need to do
    return x

@ray.remote
def mega_work(start, end):
    return [tiny_work(x) for x in range(start, end)]

start = time.time()
result_ids = []
[result_ids.append(mega_work.remote(x*1000, (x+1)*1000)) for

[2020-12-18 04:00] mohitranawat commented on #12841
` import time
import random
import ray
import os
ray.init(num_gpus = 1)

def tiny_work(x):
    for i in range(10000):
        pass
    time.sleep(0.0001) # replace this is with work you need to do
    return x

@ray.remote
def mega_work(start, end):
    return [tiny_work(x) for x in range(start, end)]

start = time.time()
result_ids = []
[result_ids.append(mega_work.remote(x*1000, (x+1)*1000)) for

[2020-12-18 04:16] kfstorm commented on #12197
@rkooo567 If you look at the stack trace, it crashed when creating a new actor. So I believe the root cause is still duplicate actor IDs.

[2020-12-18 04:17] kfstorm commented on #12197
This issue will be eased by https://github.com/ray-project/ray/pull/12894

[2020-12-18 04:43] wangzelong0663 commented on #4741
Maybe the memory problems can be solved like  below：
def ray_get_and_free(object_ids):
  result = ray.get(object_ids)
  ray.internal.free([object_ids])
  return result

And the raylet.err like  [ ....node_manager.cc:765] Check failed: node_id !=self_node_id_ Exiting because this node manager has mistakenly been marked dead by the minitor: GCS didn‘’t receive heartbeats within timeout 30000ms.This

[2020-12-18 04:44] dmadeka commented on #7923
Having similar issues with

[code]

[2020-12-18 05:23] jac-z-uk commented on #12755
Thank you for looking into this!  I have Box2D (2.3.8).  Also I forgot to mention I'm on macOS.  Please see below the stacktrace:

Traceback (most recent call last):

  File "/Users/jz/Dropbox/Python/2020/Dec2020_Multiwalker_ray.py", line 145, in <module>
    trainer = get_agent_class(alg_name)(env="multiwalker", config=config)

  File "/Users/jz/opt/anaconda3/envs/ray_1/lib/python3.7/site-package

[2020-12-18 06:16] Gekho457 commented on #12959
Related: https://github.com/ray-project/ray/issues/12879
Recently @yiranwang52 @edoakes and I talked about this -- I think we agreed that the autoscaler's restart/update behavior is in general not very well defined or documented.

@richardliaw
How precisely did you modify the cluster config?

If something specifying the behavior of worker pods is modified, I definitely agree that the existing work

[2020-12-18 06:18] deepankar27 opened #12965 "How to use BERT tokenizer in ray cluster?"
Hello Team,

ray==0.8.4

First, a big thanks for awesome lib I love it's simplicity.
I have 3 node cluster setup, I am doing text pre-processing where I need Bert tokenizer as well. I want to distribute it as well.
I am looking for suggestion on how to distribute it, only this piece is running on local.
 - I am thinking to use Ray[serve]
 - Distribute ray service only for tokenization. I want to a

[2020-12-18 06:18] valiantljk commented on #10803
Added '--include-dashboard False' in ray start fixed the issue for me.

[2020-12-18 06:27] DmitriGekhtman opened #12966 "[autoscaler] Improve/specify/document precise restart/update behavior of the autoscaler"
The behavior of the autoscaler when the cluster config is updated seems not to be very well specified or documented. It should be clearer how changing each field of the cluster config affects the state of the cluster.

Related issues:
https://github.com/ray-project/ray/issues/12879
https://github.com/ray-project/ray/issues/12959

[2020-12-18 06:47] kbc8894 opened #12967 "[k8s][autoscaler] file_mounts option apply to head and worker node differently."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
python 3.8.5
ray 1.0.1

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

When I run `

[2020-12-18 07:49] Coorch opened #12969 "[tune]AttributeError: 'NoneType' object has no attribute 'optimizer'"
### What is the problem?

- Ray version: 1.0.1.post1
- python: 3.7.5
- OS: Linux version 4.14.81.bm.23-amd64

AttributeError: 'NoneType' object has no attribute 'optimizer'

### Reproduction (REQUIRED)
`from ray.tune.suggest.skopt import SkOptSearch`

![image](https://user-images.githubusercontent.com/38720272/102588520-833a0300-4148-11eb-98b8-72864d59ab40.png)

[2020-12-18 08:48] richardliaw commented on #12969
Thanks for the report! The fix is to install `pip install scikit-optimize`.

[2020-12-18 08:48] richardliaw commented on #12969
I've opened a PR to fix this error message

[2020-12-18 08:50] richardliaw commented on #12967
I think this is similar to #12909 -- can you install `rsync` via `apt-get install rsync` on your container?

cc @Gekho457 this is because `kubectl cp` doesn't support directories properly.

[2020-12-18 09:21] kbc8894 commented on #12967
@richardliaw I use [rayproject/ray-ml image](https://hub.docker.com/r/rayproject/ray-ml).
I think [base-dep](https://github.com/ray-project/ray/blob/master/docker/base-deps/Dockerfile) image already installed rsync.

[2020-12-18 09:26] Coorch commented on #12969
Thanks.
The problem has been solved.

[2020-12-18 09:31] #12531 closed

[2020-12-18 09:32] #12881 closed

[2020-12-18 10:33] rkooo567 commented on #12957
This should be solved by the open PR

[2020-12-18 10:33] #12957 closed

[2020-12-18 10:44] #9949 closed

[2020-12-18 12:36] rodorio commented on #12835
Ah darn, I think I broke my bash installation messing around with pyenv a few days ago. Imma try to see if I can undo what I did:

bash: export: `$': not a valid identifier
bash: export: `export PATH="/home/pi/.pyenv/shims:${PATH}"

[2020-12-18 13:39] krfricke commented on #8165
We added support for `points_to_evaluate` for all search algorithms in https://github.com/ray-project/ray/pull/12790 and https://github.com/ray-project/ray/pull/12916.

I'm a bit lost if everything's solved by this. We could also support supplying existing results for these `points_to_evaluate`, is this a desired feature or are most use cases covered by the existing PRs?

[2020-12-18 13:42] zzchuman commented on #12851
Hello korbin, congratulations!
I have some questions:
1. You have change the framework as torch, and  use the torch to build the model, right?
2. Except for   CentralizedCriticModel(TFModelV2) and centralized_critic_postprocessing, which chalss and function must be rewrited?
Thank you!

[2020-12-18 13:43] #9899 closed

[2020-12-18 14:39] ashione commented on #12842
@Devil-Z this issue has been fixed in master. Could you try in the lastest version? @edoakes I'm not sure can we pick this fix commit to release version.

[2020-12-18 14:56] dHannasch commented on #12665
@DonYum Are you using the latest wheel from https://docs.ray.io/en/master/installation.html? There should be a more informative error message for "Redis has started but no raylets have registered yet." now.

[2020-12-18 15:48] #9638 closed

[2020-12-18 16:44] Gekho457 commented on #12967
@kbc8894
Could you try using a newer version of Ray, for example `ray1.1.0` or the latest master?

I think the problem should have been fixed by this PR: https://github.com/ray-project/ray/pull/12356.
Probably what you're experiencing is that rsync is being used in one place and (as a result of the bug fixed in that PR) kubectl cp is being used in another place.

[2020-12-18 16:51] richardliaw commented on #12755
Hmm, is there an even longer stack trace? Like is there a message beyond
the import error? Or perhaps before?

On Thu, Dec 17, 2020 at 9:23 PM jac-z-uk <notifications@github.com> wrote:

[2020-12-18 17:12] Gekho457 commented on #12967
Ah, if you're currently running `ray up` out of `rayproject/ray-ml`, one approach is to switch to a more recent image: `rayproject/ray-ml:nightly`.

[2020-12-18 17:26] richardliaw commented on #12965
Hey, can you please post questions to https://discuss.ray.io/ ?

Thanks!

[2020-12-18 17:26] #12965 closed

[2020-12-18 17:47] edoakes commented on #12842
@ashione could you point me to the PR that fixes it please? It's unlikely that we can cherry-pick it at this point.

[2020-12-18 17:55] mfitton commented on #12938
I'm still a little confused about why this is happening, but I have some front-end code that I think will at least patch the issue if nothing else. I'm running this alongside some other tasks, but I'm going to test the fix at some point today and open up a PR if the fix is successful.

[2020-12-18 18:21] soundway commented on #11239
@ericl I see that make sense. Another question -- during RLLib training, besides the obvious trial and worker actors, are other hidden actors being created in the background constantly? One of the earlier tests I did here is to use super long trial duration, but jobs still crashed without trial reset happening.

[2020-12-18 18:25] AmeerHajAli commented on #12104
@ijrsvt , I think it is very common for someone to run `ray up` after a `ray down`. I understand it is not a regression. But I am not sure what is the workaround here? The user will have to change the cluster name or work very hard to make it ray up again. If this is not a good reason for blocking a release then I am fine with it, but at least we should have some documentation somewhere telling th

[2020-12-18 19:41] simon-mo opened #12974 "[core] asyncio actor stackoverflow issue"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
I still haven't be able to reproduce it but we have seen this issue several times that shows:
[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external libr

[2020-12-18 19:42] simon-mo commented on #12974
Here's a failed attempt, I might try to pick this up again; or if somebody else have seen this with producible example please let me know!
[code]

[2020-12-18 19:46] rkooo567 opened #12975 "[Object Spilling][Plasma store] Use a timer for retry instead of num_retries."
### Describe your feature request

[2020-12-18 19:47] #11977 closed

[2020-12-18 20:17] #12438 closed

[2020-12-18 20:17] #12695 closed

[2020-12-18 20:19] richardliaw commented on #12104
Hey, just to help clarify, I think there's two conversations happening -- a conversation around _deadline_ and conversation around _importance_.

@AmeerHajAli I think Ian and me and you absolutely agree that it is important to provide a workaround.

I think Ian was just pushing back on the "prioritization/deadline" for this task. In terms of prioritization, I think it's ok to do it within the time

[2020-12-18 20:55] ijrsvt commented on #12104
I definitely agree that this is important, I think a workaround should be to set the following in `provider:`
[code]

[2020-12-18 21:53] #12436 closed

[2020-12-18 21:53] ericl commented on #9801
Thanks @clay4444 !!!

[2020-12-18 21:53] #9801 closed

[2020-12-18 22:03] edoakes commented on #12841
@mohitranawat this seems like more of an "API question" than an issue - could you please post this on the community forum at discuss.ray.io?

[2020-12-18 22:03] #12841 closed

[2020-12-18 22:10] blueplastic opened #12977 "Python class variables not updating between all remote instances of the class"
### What is the problem?

It seems that Ray doesn't allow using a class variable to keep track of some shared class-level information, such as how many instances of the class have been created.

I understand there are at least a couple of ways I can accomplish sharing state across instances:

1. I can use a different class with an counter instance variable and have all of the launched classes upda

[2020-12-18 22:29] pouyajafarian opened #12978 "RayActorError: The actor died unexpectedly before finishing this task."
### Issue with Ray 1.0.1-post1

We are trying to train an agent in a custom gym environment using rllib, and the execution is failing with below message:
""2020-12-18 00:29:43,447\tWARNING worker.py:1091 -- A worker died or was killed while executing task ffffffffffffffffdf5a1a8201000000.\n","
"     "ename": "RayActorError",
     "evalue": "The actor died unexpectedly before finishing this task.",

[2020-12-18 22:30] enxtw1 opened #12979 "Ray: Check failed: _s.ok() Bad status: IOError: Failed to receive the handle."
cant connect to Win 10 CLI init from Python with following error:

2020-12-18 23:17:57,062 INFO worker.py:650 -- Connecting to existing Ray cluster at address: 192.168.1.73:6379
F1218 23:18:01.161550   872 14600 client.cc:262]  Check failed: _s.ok() Bad status: IOError: Failed to receive the handle.
*** Check failure stack trace: ***
    @   00007FFF675E983B  public: void __cdecl google::LogMessag

[2020-12-18 23:59] #11239 closed

[2020-12-19 00:00] #12937 closed

[2020-12-19 00:07] ericl commented on #11239
@soundway shouldn't be. That sounds like a different cause (btw, I also realized that you should be able to see crash logs in the `python-core-worker*.log` files in the ray logs dir). It would be great if you can file a separate issue with those if you can reproduce on the nightly wheels still.

[2020-12-19 00:40] LianShuaiLong opened #12981 "The ray stuck when report metrics"
### What is the problem?
 I choose Ray with AsyncHyperBandScheduler to search Optimal hyperparameters for deep networks, but i found the program stuck when report metrics to Ray, how can i solve it?
*Ray version and other system information (Python version, TensorFlow version, OS):*
version:1.0
tensorflow version:1.14
os:ubuntu18.04
### Reproduction (REQUIRED)
Please provide a short code snippet (

[2020-12-19 01:37] ericl commented on #12737
@mfitton do you know where this information coming from? I'm having a hard time finding out where the dashboard is getting this data from.

[2020-12-19 01:40] ericl commented on #12737
I see, it was introduced in 1e690673d8bd5f2204ad49a78cc93d29cf9e4d12

[2020-12-19 01:46] barakmich opened #12983 "Excise the trampoline from Ray Client [3]"
### Describe your feature request

After #12818 and #12964 the client/server pickling convention means that the ray object itself can be stubbed.

This cleaner approach means deleting a lot of code -- there's no need for the elaborate CoreRayAPI anymore, it's merely the client Ray API.

[2020-12-19 02:36] richardliaw commented on #12959
Yeah this is a bit complex.

The cluster provider will terminate the head node and restart it if the head node config changes. The head node will do the same for worker nodes (if needed).

Usually on other node providers, you can safely terminate the head node, and the new head node will either be able to attach to existing worker nodes. And thus, "leaking nodes" is actually not that big deal.

Ho

[2020-12-19 02:53] adithyabsk commented on #6573
This thread was really helpful to diagnose the problem, I didn't notice I had my VPN flicked on which was causing all sorts of problems with redis. It might be useful to add this to an FAQ of sorts.

[2020-12-19 05:40] kbc8894 commented on #12967
@DmitriGekhtman
rayproject/ray-ml:1.1.0 is not working
error message is
[code]

rayproject/ray-ml:latest is also not working
[code]

rayproject/ray-ml:nightly is not working
error message is

[code]

[2020-12-19 06:36] DmitriGekhtman commented on #12967
I see -- that's happening because, as of this PR , the ray images have a non-root user:
https://github.com/ray-project/ray/issues/10786

For now, the way to get around this is to mount into a subdirectory of the remote container's home folder:
"~/example"

We'll update the examples to
(a) suggest mounting into a subdirectory of the container's home
(b) explain that the ray images use a non-root us

[2020-12-19 07:07] DmitriGekhtman commented on #12967
https://github.com/ray-project/ray/pull/12987/files

[2020-12-19 08:40] #9021 closed

[2020-12-19 09:35] mrmotallebi opened #12992 "[autoscaler] Allow specifying virtual env (Conda) for starting and stopping cluster"
### Describe your feature request

When executing `ray up cluster.yaml` it assumes that ray is installed in the default environment or activated via '.bashrc' . To use a virtual environment (e.g., Conda) without having to set it as default requires activating it before the `ray stop` and `ray start` command as provided in the [development-example.yaml](https://github.com/ray-project/ray/blob/maste

[2020-12-19 10:02] Devil-Z commented on #12842
Rebuild the ray with master branch [`5d987f5`](https://github.com/ray-project/ray/commit/5d987f5988b5ff2333156b05e26a2f965b5da167)
It seems that the master branch has changed some init config,`ray.init()` do not recieve config `_load_code_from_local=True`.
When I run the code with `ray.init(_load_code_from_local=True)`,I got these msg:
[code]
When I use `ray.init(job_config=ray.job_config.JobConfi

[2020-12-19 10:05] mrmotallebi opened #12993 "[autoscaler] Option to increase SSH connection timeout"
### Describe your feature request

Simple SSH to worker node (or head node) works, but because of system settings, it may do so with >10s delay.

In this case, most ray commands fail. `ray monitor cluster.yaml` either doesn't report the node (if startup was even successful) or with every timed-out connection, increases the node's value for `MostDelayedHeartbeats`.

I don't know if this can be chan

[2020-12-19 15:03] MissiontoMars opened #12995 "[Plasma Store]PlasmaClient::Get() return Status::OK() when timeout"
### What is the problem?
The `PlasmaClient::Get()` API returns Status::OK() when get object timeout, for instance, get an object which does not exist.
I think `Status::TimedOut` should be returned in this case.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possibl

[2020-12-19 19:00] ericl commented on #11239
https://github.com/ray-project/ray/pull/12990

The pr got reverted, pending re merge.

[2020-12-19 21:22] #12737 closed

[2020-12-19 21:54] #9985 closed

[2020-12-19 22:59] janblumenkamp commented on #7923
I have this issue primarily with a custom trainer, but I was able to reproduce it with standard PPO. This is my current setup. The issue seems to occur after a random time, sometimes very quickly, sometimes it takes longer, which makes it really hard to debug. The environment consists of two differential drive robots, the action space is a lateral and angular speed for each. Each agent has fixed s

[2020-12-19 23:06] dmadeka commented on #7923
Ive noticed if you set `entropy_coeff` to 0 - the error should dissapear

[2020-12-20 01:36] pdames commented on #12842
I'm also seeing the same issues when trying to leverage cross-language calls from Python to Java as documented at: https://docs.ray.io/en/master/cross-language.html. If I make a simple local code change to force the "ValueError: Cross language feature needs --load-code-from-local to be set" check to pass after setting the code search path via job config in ray.init(...), then I run into the "worke

[2020-12-20 03:02] suquark commented on #11547
@richardliaw I cannot reproduce the error with the given code. What python and joblib version you are using?

[2020-12-20 03:12] richardliaw commented on #11547
@suquark let me get another repro for this, as i think it is out of date.

[2020-12-20 04:35] richardliaw commented on #11547
Hi @suquark thanks for looking into this! I've updated the above script and can repro this on the latest sklearn ( 0.23.2) and joblib (1.0.0).

[2020-12-20 05:46] #12466 closed

[2020-12-20 07:26] suquark commented on #11547
@richardliaw I can see the error message now with `joblib==1.0.0`, I'll dig into the bug.

[2020-12-20 09:01] #12969 closed

[2020-12-20 09:02] suquark commented on #11547
Here's a minimal reproducible script:

[code]

The bug is caused by

[code]

and the root cause is:

[code]

We may fix this issue by isolating the pickle5 path of ray from a default pickle5.

[2020-12-20 09:25] pcmoritz commented on #11547
So maybe we need to help the upstream pickle5 package to build wheels and remove the hack and depend on the upstream version directly? That would be the preferred solution. If that's too much work, we could install the pickle5_path in our vendored cloudpickle (ugh).

[2020-12-20 09:39] suquark commented on #11547
I also agree with the upstream solution.

[2020-12-20 18:17] ujvl opened #13005 "[tune] @wandb_mixin doesn't work with tune.with_parameters"
### What is the problem?

`@wandb_mixin` decorator doesn't work with tune.with_parameters.

my guess is you need to pull the trainable fn's `__mixin__` property out to the with_parameters wrapper fn.

[code]

Error:

[code]

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [x] I have verified my script runs in a clean environment and reproduces th

[2020-12-20 18:19] richardliaw commented on #13005
hey, thanks for the report. Have you tried this on master (1.2.0.dev0)?

cc @krfricke @amogkam

[2020-12-20 18:57] edoakes commented on #12977
@blueplastic actor classes are instantiated across multiple processes, so each actor will have its own copy of the class variables. Therefore, using class variables is not currently supported/recommended.

We should definitely try to raise an informative error message here, though.

[2020-12-20 18:59] edoakes commented on #12979
@enxtw1 I'm a little bit confused about the workflow that you're using that's hitting the issue here. Could you provide the sequence of commands you're running that reproduces the issue? Also, could you please provide more info about the environment (e.g., python version, windows vs. WSL, etc.)

[2020-12-20 19:41] amogkam commented on #13005
Yep this should be fixed on master/latest wheels!

https://github.com/ray-project/ray/blob/master/python/ray/tune/function_runner.py#L653

[2020-12-20 19:42] richardliaw commented on #12981
Can you print the types for `self.metric_val['cvr_auc']`?

[2020-12-20 21:10] ujvl commented on #13005
ah thanks, worked for me

[2020-12-20 21:10] #13005 closed

[2020-12-20 22:54] #12422 closed

[2020-12-20 22:54] #12378 closed

[2020-12-20 23:32] ericl commented on #12423
FYI I tried to run this and it seems tune is somehow using the "real" ray instead of the client:

[code]

Not sure how to get it to use the real ray.

[2020-12-20 23:43] #12282 closed

[2020-12-21 00:34] #12361 closed

[2020-12-21 02:23] chaokunyang commented on #12842
@pdames `Check failed: state != states_by_lang_.end() Required Language isn't supported."` may be caused by no java installation in the machine. Could you check java installation in your machine? We should add more detailed error message.

[2020-12-21 02:40] ashione commented on #12842
Sure, I mean we might cherry-pick it to next minor version of 1.0.x.
That's commit 462c7fb5754e75c96bb970955cd2ef9bb66786d6 and PR id 12345.

[2020-12-21 02:48] jac-z-uk commented on #12755
No, that's the full stack trace.  I created a new env and installed all and again get the same exact error message.

[2020-12-21 03:00] chaokunyang commented on #12842
This will be fixed in #12830

[2020-12-21 03:20] richardliaw commented on #12755
Hmmmm, can you take a look at the logs in `/tmp/ray/session_latest/logs/worker*`? Do you see anything interesting there (or maybe post all the worker logs?)