[2022-05-04 22:33] wuisawesome commented on #23522
I feel like we should separate mechanism from policy and drain node should be a mechanism. That may be a reasonable policy in some cases (in others, it may be infeasible if a workload is all actors or requires spreading, etc)

[2022-05-04 22:47] rkooo567 commented on #23522
@wuisawesome you are right. @scv119 I feel like the right approach is going from (3) -> (2) -> (1) iteratively? (1) could be a pretty big project (moving objects & ownerships around could be more difficult than actors/tasks I believe)

[2022-05-04 22:47] robertnishihara commented on #21328
I think it's still an issue. @maxpumperla @richardliaw shall we just remove the example?

[2022-05-04 22:49] rkooo567 commented on #24466
@gjoliver is this something that should be handled by the core? (core side raising a certain exception on this network failures?) Or is the issue from out of band network communication from ray core?

[2022-05-04 23:02] ckw017 opened #24479 "[Client] Optimize for memory usage for serialization/deserialization"
### Description

There's roughly 100% memory overhead for deserializing/serializing large objects, because we pickle them directly into memory:

Pickle to memory (client): https://github.com/ray-project/ray/blob/releases/1.12.0/python/ray/util/client/client_pickler.py#L164
Unpickle from memory (client): https://github.com/ray-project/ray/blob/releases/1.12.0/python/ray/util/client/client_pickler.p

[2022-05-04 23:05] stephanie-wang opened #24480 "[Dataset][core] Scale Dataset.random_shuffle and sort to 100TB"
### Description

Try running Dataset.random_shuffle and sort on 100TB / 100 nodes to test scalability. We can also try adding this as a release test if it's reasonably fast.

First try with random_shuffle on 100 nodes passes map stage successfully in about 6h. However, almost immediately after the reduce stage starts, the head node becomes unusable and eventually the driver is OOM-killed. There ar

[2022-05-04 23:08] #22652 closed

[2022-05-04 23:16] jiaodong commented on #24475
Observations:

1) Creating new instance of DeploymentNode is much more expensive than DeploymentMethodNode.
[code]
2) DeploymentMethod node is cheap to copy and get handle to class method, but very expensive on `.remote` execution.
[code]

3) There seems to be a time sink on executing DeploymentMethodNode besides calling handle and fetching its result.

[code]

[2022-05-04 23:23] rkooo567 commented on #24259
Hey @krfricke any luck in reproducing the issue? Should we downgrade the priority until we find a repro?

[2022-05-04 23:23] ckw017 commented on #24479
<img width="1403" alt="Screen Shot 2022-05-04 at 4 17 02 PM" src="https://user-images.githubusercontent.com/14043490/166840403-9e1c452c-a72a-43eb-824a-555bf678e31e.png">

Example graph of memory use on head node: initial slope is from the object gradually being loaded from the client. We can avoid the initial slope by writing chunks from the client incrementally to disk.

Spike happens after the e

[2022-05-04 23:27] ckw017 opened #24482 "[Client] Chunk ClientTask's"
### Description

If a ray.remote in client mode captures over 2GiB of dependencies, it will fail. We could work around this by chunking client task's into multiple messages.

### Use case

_No response_

[2022-05-04 23:34] gjoliver commented on #24466
I think this should be handled by core actually.
we don't do any gRPC communication ourselves in RLlib.

[2022-05-05 00:18] zhe-thoughts opened #24484 "Setup SLA-based alerting for supporting forum questions (discuss.ray.io)"

[2022-05-05 00:24] stephanie-wang opened #24485 "Ray fails to start due to "Ray agent failed""
### What happened + What you expected to happen

I cannot start Ray because the dashboard_agent.py fails to start.

Dashboard agent logs:
[code]

### Versions / Dependencies

2.0dev (commit fccf9fd642573b5992affd3b1b387777099f840f)
python 3.7.9 (using conda env)
Ubuntu

### Reproduction script

ray.init()

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-05-05 00:38] stephanie-wang commented on #24485
I think there is something left over from a previous Ray install; how do I fix it? Installing on a clean conda env works.

[2022-05-05 00:57] stephanie-wang commented on #24485
Hmm I'm going to close this since I'm not sure if it's reproducible.

[2022-05-05 00:57] #24485 closed

[2022-05-05 01:28] tekumara commented on #24371
@jjyao yes the code works

[2022-05-05 01:55] shawnpanda opened #24487 "[Ray Core] Move some release tests to use `ray job submit`"
### Description

Currently, a lot of release tests use `SDKRunner` and end up using the Session Command API through the Anyscale SDK (code [here](https://github.com/ray-project/ray/blob/master/release/ray_release/command_runner/sdk_runner.py#L93)). However, for long-running release tasks, if they get killed for some reason, the logs won't be persisted and it would be hard to debug. The ask here is

[2022-05-05 02:01] xiurobert commented on #24449
I'd like to give this a shot! I'm having a bit of trouble setting up my development environment on macOS though.

[2022-05-05 02:23] mattip commented on #23945
Does anything change if you remove `Python310` from your path?

Sorry, I am not a pipenv user. Can you explain the steps to install ray?
[code]

[2022-05-05 02:27] mattip commented on #22509
@evo11x any progress with a reproducer script?

[2022-05-05 02:29] jjyao commented on #23965
It's not longer flaky.

[2022-05-05 02:29] #23965 closed

[2022-05-05 02:31] jjyao commented on #21900
It's no longer happening.

[2022-05-05 02:31] #21900 closed

[2022-05-05 02:54] DmitriGekhtman opened #24491 "[Ray clusters][docs] Improve the docs for manual setup"
### Description

Ray should make sure to have good docs on manual cluster setup.
Quoting a colleague, we "need a section that explains about port & network related information in a visible place within [the] cluster deployment" section of the docs.

### Use case

Being able to set up a Ray cluster manually (or writing custom automation that doesn't use the Ray Cluster Launcher code) is important f

[2022-05-05 03:43] infzo opened #24493 "[Core] Add a CMake-based template project"
### Description

https://docs.ray.io/en/latest/ray-core/walkthrough.html#installation

[code]

Can you add a CMake-based template project, which can adapt to most C++ projects?

### Use case

_No response_

[2022-05-05 04:24] xiurobert commented on #24449
Would adding in a feature to sample a fraction (as referenced in the forum) be useful too?

[2022-05-05 04:50] mwtian commented on #24176
[5a82640](https://github.com/ray-project/ray/commit/5a8264015b1bde67924f0a38f1d55b1280ead17d) should reduce driver raylet memory usage. For Python workers, it seems their RSS memory is mostly shared memory usage, e.g. a Python worker with 6.6GB RSS uses about 6.4GB shared memory.

[2022-05-05 04:55] RocketRider commented on #24074
@sven1977 Thank you!

[2022-05-05 05:02] scv119 commented on #23522
hmm one thing i'm not sure is if we do 3 without fixing 1, what would the semantic of `drain`?

[2022-05-05 05:14] xwjiang2010 opened #24494 "[air - preprocessor] "most frequent" SimpleImputer crashes"
### What happened + What you expected to happen

[code]

### Versions / Dependencies

master

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-05-05 05:14] xwjiang2010 commented on #24494
@matthewdeng

[2022-05-05 05:34] maxpumperla commented on #21328
@robertnishihara good point, let me see what's best here.

[2022-05-05 06:15] fantow opened #24496 "[RLlib] The wrong simulation environment is configured in test code of the DDPG algorithm"
### What happened + What you expected to happen

When I execute the test code of the DDPG algorithm,program prompts the following error message:
  ray.exceptions.RayActorError: The actor died because of an error raised in its creation task, ray::RolloutWorker.__init__() (pid=5884, ip=127.0.0.1, repr=<ray.rllib.evaluation.rollout_worker.RolloutWorker object at 0x000000E8DB675D08>)
KeyError: 'Pendul

[2022-05-05 06:31] quarkpt opened #24497 "[<Ray component: exceptions.py>] Full tracebacks for RayTaskError"
### Description

I would like to have the option to extract from the output of RayTaskError.as_instanceof_cause() the full traceback of the exception. Right now if I use exc_info() to get the traceback, it only provides a traceback to the point at which as_instanceof_cause() was called. I'd like to be able to see the traceback for the cause exception as well, ideally with the two tracebacks integr

[2022-05-05 06:33] maxpumperla commented on #24496
@fantow what you're saying is correct, it's fixed on master:

https://github.com/ray-project/ray/blob/master/rllib/agents/ddpg/tests/test_ddpg.py#L48

[2022-05-05 06:40] fantow commented on #24496
Thanks,I didn't pay attention to the changes in the master branch.

[2022-05-05 06:40] #24496 closed

[2022-05-05 07:26] iycheng opened #24499 "[core] Better support of gRPC channel reconnection"
The reconnection right now happens in application layer:

- Health check is in the application layer by starting a new channel.
- Monitor the GCS address change and do resubscribe.
- Always retry the failed request and do reconnection in case of a failure.

However, there are several issues with this approach:

- We need service to discover for GCS address change.
- Monitor is too heavy since it a

[2022-05-05 07:36] iycheng opened #24500 "[core] Move sys.path setup from run_fun_on_all_workers to other places and optimized import/export"
# code path setup

When ray worker started, it'll need to setup the code path to find the code to run.

Right now, `run_function_on_all_workers` will be called from the driver side and all ray worker will run this function to set the path.

In ray worker, there is a thread running and trying to fetch all functions exported by the driver. This is done async in the runtime.

However, it causes some

[2022-05-05 08:39] matteobettini commented on #10338
I have the same issue.At the current state wandb mixin integration is not working.

The documentation at:
- https://docs.wandb.ai/guides/integrations/other/ray-tune
- https://docs.ray.io/en/latest/tune/examples/tune-wandb.html#ray.tune.integration.wandb.wandb_mixin

Are both wrong. The "wandb" config parameter for the trainer is even rejected as unknown, but even after  removing this check, the mi

[2022-05-05 10:47] krfricke opened #24504 "[release/1.13.0][rllib] rllib_learning_tests are failing"
https://buildkite.com/ray-project/release-tests-branch/builds/487#31d041d1-aabb-49b6-9b6b-21817a8a8019

[code]

[2022-05-05 10:56] thomascizeron commented on #23945
Same error here (Windows 10, ray==1.12.0, venv), managed to work around by using a global python install.
For info that was my PATH variable when I encountered this issue:
`PATH=%USERPROFILE%\AppData\Local\Microsoft\WindowsApps;%PyCharm%;C:\Users\<username>\AppData\Local\Programs\Microsoft VS Code\bin;`

[2022-05-05 15:29] edoakes commented on #24422
Snippet updated and confirmed working 👍

[2022-05-05 15:29] #24422 closed

[2022-05-05 15:47] mattip commented on #23945
The fact that it works in a global install but not in "Windows 10, ray==1.12.0, venv" means that in order to fix this I need to know what you mean by that telegraphic phrase. How exactly did you set things up?

[2022-05-05 16:06] ZhijieWang commented on #24466
@rkooo567 Full stack trace here https://github.com/anyscale/product/issues/10871

[2022-05-05 17:07] architkulkarni opened #24513 "[runtime env] Installing pip runtime envs concurrently sometimes errors"
### What happened + What you expected to happen

When installing multiple runtime envs with the `pip` field, the `pip`/`virtualenv` installations sometimes happen concurrently, leading to failures sometimes with weird errors like `FileNotFound`.  For example, it made a CI test 50% flaky. https://github.com/ray-project/ray/issues/23963

### Versions / Dependencies

Master, Python 3.7, Mac OS

### R

[2022-05-05 17:25] DmitriGekhtman opened #24514 "[kuberay][autoscaler] Filter pods marked for termination out of pod lists."
### What happened + What you expected to happen

When processing info about currently active ("non_terminated") Ray pods the KubeRay node provider should not take into account pods that have been marked for termination. The KubeRay node provider's non_terminated_nodes, create_node, and terminate_nodes methods need to be modified to filter out pods that have been marked for termination, whenever we

[2022-05-05 17:56] mJones00 opened #24517 "[<Ray component: |RLlib>] : a bug in model sampling from MBMPO's model ensemble with multiple workers"
### What happened + What you expected to happen

Training with MBMPO using multiple workers gives the following error:
`(MBMPOTrainer pid=98221)     next_obs_batch = self.model.predict_model_batches(
(MBMPOTrainer pid=98221)   File "/home/jones/anaconda3/envs/ray_latest/lib/python3.8/site-packages/ray/rllib/agents/mbmpo/model_ensemble.py", line 350, in predict_model_batches
(MBMPOTrainer pid=98221

[2022-05-05 19:28] scottsun94 opened #24519 "[Ray doc] Cannot easily see/find all the search results using search on ray doc site"
### What happened + What you expected to happen

<img width="1059" alt="Screen Shot 2022-05-03 at 6 29 38 PM" src="https://user-images.githubusercontent.com/9677264/167010731-badbd294-4277-4bb1-8589-fcae3bf7c617.png">
When searching, I type some queries and see the top results instantly which is great.
If I want to view more results/all results, I try to press "enter" on my keyboard but it only se

[2022-05-05 19:29] scottsun94 commented on #24519
Asked in the slack channel. Some users do express the same need of viewing the all results.

[2022-05-05 19:32] ckw017 commented on #24482
Alternative route: under the hood just ray.put all of the arguments to the task and convert to object refs instead (or detect arguments that are too large for serialization)

[2022-05-05 19:50] simon-mo commented on #24449
@xiurobert thanks for picking it up. Out of curiosity, how did you find this issue?

[2022-05-05 19:54] FedericoGarza opened #24520 "[Docs] Bug compiling documentation locally"
### What happened + What you expected to happen

1. I'm getting the following error trying to compile the docs locally.
<img width="1422" alt="image" src="https://user-images.githubusercontent.com/10517170/167014459-a36711a3-a1c4-4214-916c-347f849e130a.png">

2. Display docs locally.

### Versions / Dependencies

Python: 3.7
OS: macOS Monterey

### Reproduction script

[code]

### Issue Severity

[2022-05-05 20:27] xwjiang2010 commented on #24439
Accumulating some confusions people run into here:
https://discuss.ray.io/t/statuscode-resource-exhausted/4379/17?u=xwjiang2010

[2022-05-05 20:54] architkulkarni commented on #24455
@amogkam I haven't used that env var before but it sounds reasonable to me.  To be clear, we should set `RAY_EXPERIMENTAL_NOSET_CUDA_VISIBLE_DEVICES=1` in the job supervisor actor, so that setting `CUDA_VISIBLE_DEVICES` is disabled, so that `cuda` becomes available?  It's a little confusing.

[2022-05-05 21:01] richardliaw commented on #16900
Closing this for now.

[2022-05-05 21:01] #16900 closed

[2022-05-05 21:01] richardliaw commented on #17134
This doesn't show up anymore perhaps? Closing because stale.

[2022-05-05 21:01] #17134 closed

[2022-05-05 21:02] richardliaw commented on #17557
I believe this is fixed.

[2022-05-05 21:02] #17557 closed

[2022-05-05 21:03] pongnguy commented on #2618
+1

[2022-05-05 21:06] amogkam commented on #24455
Yep that's exactly right.

When you create an actor or task with `num_gpus=1` or whatever, it changes the `CUDA_VISIBLE_DEVICES` environment variable. Any GPU device ids that are not specified in this env var will be effectively hidden from torch, tensorflow, etc.

If we just don't set the env var in the job supervisor actor, then using Ray jobs won't change the behavior when compared to running t

[2022-05-05 21:07] richardliaw commented on #18132
Closing this for now but we should reopen if we see this repeated.

[2022-05-05 21:07] #18132 closed

[2022-05-05 21:07] #18246 closed

[2022-05-05 21:08] richardliaw commented on #17846
fixed

[2022-05-05 21:08] #17846 closed

[2022-05-05 21:10] pongnguy commented on #2618
Although still in alpha, this would be important for workflows since earlier tasks that have a lot of dependent tasks should have higher priority.

[2022-05-05 21:19] #18721 closed

[2022-05-05 21:20] richardliaw commented on #21384
Is there any updates to the documentation to be made here?

[2022-05-05 21:24] richardliaw commented on #19279
Seems like this might be stale and addressed in newer versions of ray

[2022-05-05 21:24] #19279 closed

[2022-05-05 21:28] edoakes commented on #24455
@amogkam assuming this will not be inherited by the rest of the Ray job it sounds like a good idea to me (more similar to running something directly on the head node).

@architkulkarni I think we should file a small change to do this and then remove it if/once we support resource requirements for the driver.

[2022-05-05 21:58] jjyao commented on #24371
I guess the reason is that `ray.remote()` signature is
[code]
so it doesn't work nicely with pyright.

[2022-05-05 22:14] #23625 closed

[2022-05-05 22:27] wuisawesome commented on #23522
Good question. I think it would be equivalent to the `kubectl cordon` command (perhaps we should even rename it?). https://kubernetes.io/docs/concepts/architecture/nodes/

Do we have a roadmap for object migration and actor migration? Both seem like potentially difficult projects.

I think the "safe" downscaling routine in the meantime would be:

1. Pick a node
2. Remove it from scheduling
3. Wait

[2022-05-05 23:10] rkooo567 commented on #24466
Hmm looking at the stacktrace, the error seems to be from their application communication layer (`status = self.stub.IsGameReady(self.no_parameters)`). @gjoliver can you verify this? Does it mean it is not something core should handle?

[2022-05-05 23:39] rkooo567 opened #24526 "[Core] test_many_tasks failed with under utilization error"
### What happened + What you expected to happen

[code]

This test hasn't failed for a long time. https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_qHXpABvkkjZJEba83czBnDYU?command-history-section=command_history

### Versions / Dependencies

master

### Reproduction script

nightly tests

### Issue Severity

High: It blocks me from completing my tas

[2022-05-05 23:41] rkooo567 commented on #24526
cc @scv119 @jianoaix we might need to see the trend a bit

[2022-05-05 23:43] architkulkarni opened #24527 "[Jobs] Allow resource requests for driver"
### Description

We should be able to set `num_cpus` and `num_gpus` for the driver script.  See https://github.com/ray-project/ray/issues/24455#issuecomment-1119063830

### Use case

Users may want to do computationally intensive tasks directly within their driver tasks.  Currently we tell users to move all their computation inside tasks and actors, but this is a limitation.

[2022-05-05 23:47] amogkam commented on #24455
Ah @edoakes-- that's a good point, I think it will affect all actors in the Job. If it's put in the runtime env of just the supervisor actor, will it be inherited by sub actors?

[2022-05-05 23:51] architkulkarni commented on #24455
@amogkam we can put it in the runtime env, or we can just set it manually, e.g. https://github.com/ray-project/ray/blob/master/dashboard/modules/job/job_manager.py#L222

But I think in either case, the environment variable will persist for child actors.

Maybe one way around it is to set `RAY_EXPERIMENTAL_NOSET_CUDA_VISIBLE_DEVICES=0` (note: 0) in the runtime env, while also manually setting it to

[2022-05-06 00:39] iinc opened #24529 "[RLlib] Simplex action space shape"
### What happened + What you expected to happen

The Simplex action space doesn't work when you specify a shape with more than one element.

This action space does work: `self.action_space = spaces.Simplex(shape=(3,))`

This one does not work: `self.action_space = spaces.Simplex(shape=(3, 4))`

The source code provides an example that is broken:
https://github.com/ray-project/ray/blob/5a7c5ab79cc5

[2022-05-06 01:26] SongGuyang commented on #23399
Related issue https://github.com/ray-project/ray/issues/23010#issuecomment-1079249521

[2022-05-06 01:30] xiurobert commented on #24449
I was randomly browsing GitHub out of boredom and this repo was recommended to me.

[2022-05-06 01:33] SongGuyang commented on #23399
Hey @edoakes, I think we need an agreed solution for this recently. Do you have any other thought for this now? Can you discuss in your team first?

[2022-05-06 01:33] SongGuyang commented on #23399
cc @raulchen @Catch-Bull

[2022-05-06 01:47] SongGuyang commented on #22460
@edoakes @simon-mo @rkooo567 Please ping us next time directly😊. If the code owner is not clear, you can ping @raulchen and he will distribute. We will take a high priority for the blocking issues in OSS.

[2022-05-06 02:50] neigh80 opened #24530 "[RLlib] add_time_dimension fails to handle multidimensional input tensors"
### What happened + What you expected to happen

I've been using a customized model that processes 2D tensors (without the batch dimension). It works with Ray 1.10.0, but does not with Ray 1.11.0 or higher versions. Since my model contains a LSTM layer, `ray.rllib.policy.rnn_sequencing.add_time_dimension` is needed, which fails to handle multidimensional input tensors.

### Versions / Dependencies

[2022-05-06 04:00] bushshrub opened #24533 "[doc] Update instructions for wheel installation"
### What happened + What you expected to happen

https://docs.ray.io/en/master/ray-contribute/development.html#building-ray

The wheel installation link is a bit misleading since it only applies for Python 3.8 on linux. It would be best to remove the wheel link and replace it with a link directly to the nightly wheels.

### Versions / Dependencies

None

### Reproduction script

https://docs.ray.i

[2022-05-06 05:16] maxpumperla commented on #24520
@FedericoGarza seems like you have to install `libomp`. Can you please give that a shot? If it works, we should amend the docs accordingly.

[2022-05-06 06:13] ZhijieWang commented on #24466
@gjoliver @rkooo567  i don't have the code. But if we can determine the GRPC connection is not on our side, we can get back to Riot team and close this issue.

[2022-05-06 06:25] scv119 commented on #24466
replied in the Anyscale issue.

[2022-05-06 06:28] #24466 closed

[2022-05-06 06:29] jovany-wang opened #24534 "[Test Suite] use a Github repo to maintain packages of runtime env tests."
### Description

In our runtime env tests, the prepared packages are in oss which are not accessible to open source users/developers. It's hard to debug.

See the following tests as examples:
https://github.com/ray-project/ray/blob/master/python/ray/tests/test_runtime_env_working_dir_remote_uri.py#L15-L18

https://github.com/ray-project/ray/pull/24170/files#diff-f3238f51e742edc70bfe01755cf949bae6d

[2022-05-06 06:29] jovany-wang commented on #24534
@SongGuyang CC

[2022-05-06 06:53] fantow opened #24536 "[Rllib] Lack validation for "num_workers" parameter in DDPGTrainer."
### What happened + What you expected to happen

When the user needs to execute the DDPG algorithm,the current DDPGTrainer can only support the single-machine version of the algorithm. If user needs to use the multi-machine version, call ApexDDPGTrainer. However, DDPGTrainer allows users to set config["num_workers"]>1, and there is no parameter verification mechanism during the calculation process

[2022-05-06 07:24] Jet132 commented on #23945
I installed Python using Chocolatey: https://community.chocolatey.org/packages/python/3.9.7
I'll try the python.org installation in the next few days.

[2022-05-06 07:41] czgdp1807 commented on #23945
Ah! I see. I use conda environment on my windows to run your code. May be that's why I never received the error which you faced.

You can try using conda environment and let us know if you still face the same error. This might help in finding a point of difference and guide the investigation in a certain direction. Thanks.

[2022-05-06 07:47] Gyubin commented on #24419
Hi @spolcyn @simon-mo
I had the same situation. The way I solved it is to increase the `_health_check_timeout_s` value to big integer(like 100).
The health_check_function seems to take a long time, so the ServeController keeps killing existing actors and adding new one.

[2022-05-06 09:00] ArturNiederfahrenhorst commented on #22972
Has been resolved in another PR.
Usage of Replay Buffers has shifted to specifying a new Replay Buffer config in the new API.
For example as follows:

`config = Trainer.merge_trainer_configs(SIMPLE_Q_DEFAULT_CONFIG, {"replay_buffer_config":{"type":"MultiAgentPrioritizedReplayBuffer"})`

I tested this in the new API and everything worked fine. Thanks for reporting!

[2022-05-06 09:00] #22972 closed

[2022-05-06 09:37] jovany-wang commented on #23415
I'd like to use `RayConfig` as the API class. Maybe we could rename current `RayConfig` class to `RayInternalConfig` or `TypeSafeConfig`. or do you have other thoughts? @raulchen @kfstorm @SongGuyang

[2022-05-06 10:03] kwand opened #24539 "[Core] SLURM: Always getting `raylet [exit code=1]` exited unexpectedly when launching `ray start` (head and workers) with `srun` inside sbatch script. Without `srun`, `ray start` works with no errors however."
### What happened + What you expected to happen

As titled, I'm been trying to wrap my head around for a week why I'm unable to successfully use `srun ... ray start ...` to launch head/worker nodes on an HPC cluster using Slurm inside a sbatch script. **I have read through existing issues, and have not found one that matches this bug.**

I am using the default scripts as provided in the Ray docume

[2022-05-06 13:21] #24530 closed

[2022-05-06 13:31] ArturNiederfahrenhorst commented on #14710
Hey perara! Thanks for reporting this.

First of all: 1.12 does not include build_trainer anymore and LocalReplayBuffer has also been deprecated.

I know this issue is stable, but I have written a runnable version of your script.
Be aware that this is based on the current nightly:

[code]

This script runs and learns.

I will create a PR that automates the step that you missed (`.for_each(lambda x

[2022-05-06 13:38] spolcyn commented on #24419
@Gyubin Thanks for posting that mitigation here -- we've done a similar thing that seems to help (likely because there are fewer failures), and we've also put some of our longer-running calls (e.g., large inference batches) in threads to avoid blocking the health check.

@simon-mo -- on that topic (and happy to make another issue for this), it seems synchronous code running in Serve Deployments fo

[2022-05-06 13:56] vakker commented on #22518
I'm not sure this is over yet.

Now, with grpcio 1.46.0 (and latest Ray from master) I see a lot of these:
[code]

Which is coming directly from below the previous message, see [here](https://github.com/grpc/grpc/blob/master/src/core/lib/iomgr/fork_posix.cc#L76).

With grpcio 1.43.0 I don't see any. Seems to be the same issue, i.e. it was changed to ERROR in 1.44.0.
So, the question is the same, d

[2022-05-06 15:57] edoakes commented on #24455
@architkulkarni I think we can set it in the runtime_env of the supervisor actor, then remove it from the runtime_env that's set for the driver. That should do it.

[2022-05-06 16:16] simon-mo commented on #24419
Ah @spolcyn  @Gyubin, thank you for these nice clue! I think it's straightforward to fix here to put healthcheck in a separate group of executor in the replica.

[2022-05-06 16:25] edoakes commented on #24455
@architkulkarni made a quick PR w/ a test to verify that it isn't set for child tasks

[2022-05-06 16:59] Ivorforce commented on #20758
Thanks for the pointer, this helped. I'm now installing the same software via yum and I think the issue is resolved for me now. Thanks!

[2022-05-06 17:33] simon-mo opened #24548 "[Serve] `Deployment.url` not updated after options changing name or prefix."
### What happened + What you expected to happen

[code]

[2022-05-06 17:49] simon-mo opened #24550 "[Serve] `test_model_wrappers.py` not ran in CI"
### What happened + What you expected to happen

This script doesn't have a `pytest.main` block so it was not properly tested in CI.

### Versions / Dependencies

master

### Reproduction script

... and it is failing.

### Issue Severity

_No response_

[2022-05-06 17:50] jjyao commented on #23315
grant_or_reject for raylet based actor scheduler is implemented as part of https://github.com/ray-project/ray/pull/23829/. So "SPREAD" works for actors as well now.

[2022-05-06 17:54] ericl commented on #23315
That's awesome, great to have this capability now. Any cleanups we can do now we have this?

[2022-05-06 17:56] simon-mo opened #24553 "[Serve] Use `max_pending_calls` in Serve ReplicaSet"
### Description

Current we implement our own back pressure mechanism to honor max_concurrent_queries parameter. But there is a recent Ray Core feature that move this into a `max_pending_calls` parameter in actor options. We should use this instead.

### Use case

_No response_

[2022-05-06 17:58] simon-mo opened #24554 "[Serve] Move replica health check to separate concurrency group"
### Description

As reported in #24228 and #24419, when a function blocks the event loop, health check times out and replica gets killed. We should move the health check to another asyncio thread/loop to prevent this from happening.

### Use case

_No response_

[2022-05-06 18:08] jjyao commented on #23315
Created https://github.com/ray-project/ray/pull/24552 to document this.

[2022-05-06 18:16] mwtian commented on #24482
One thing to make sure for the `ray.put()` approach is that arguments object lifetime should be similar to passing arguments as values.

[2022-05-06 18:28] shrekris-anyscale commented on #23980
Closed by #24265.

[2022-05-06 18:28] #23980 closed

[2022-05-06 18:32] simon-mo commented on #24554
Ran a simplified repro and it verifies the hypothesis

[code]

Gets
[code]

While the replica shouldn't get killed by health check failure in this case.

[2022-05-06 18:40] scv119 commented on #24292
One page design doc is needed.

[2022-05-06 19:10] atomic-init opened #24556 "[Ray component: Core] Dask on Ray - Worker processes go to idle state and not garbage collected when used with RayProgressBar()"
### What happened + What you expected to happen

While using `RayProgressBar()` ran into an issue where the Ray worker keeps running as `IDLE` worker, even after the client context is done and ray.shutdown() is called.  This is causing increased memory footprint / growth overtime, and sometimes the worker startup error. This happens only when RayProgressBar() is used. The instantiation of the Prog

[2022-05-06 19:12] HJasperson commented on #12389
I also am experiencing this issue with ray 1.12

[2022-05-06 19:57] mwtian commented on #22518
@vakker this message would be useful if the Python code actually tries to fork processes. Btw for your application, is it multi-threaded and does it use fork explicitly? Is there an easy way to reproduce the issue?

[2022-05-06 20:09] #24046 closed

[2022-05-06 20:48] stephanie-wang opened #24557 "[Dataset] Report peak memory usage during task in Dataset stats"
### Description

It would be nice to see heap memory usage per Dataset stage in the aggregate stats, in addition to wall and CPU time. This can help the user debug OOM issues.

### Use case

_No response_

[2022-05-06 21:16] jianoaix commented on #24533
That link is an example. The link to those 12 nightly wheels (OS * Python combinations) is already there, right?

[2022-05-06 21:31] avnishn commented on #24504
This was closed by #24542

[2022-05-06 21:31] #24504 closed

[2022-05-06 21:36] mavroudisv opened #24558 "[RLlib] Curiosity implementation bug + Patch"
### What happened + What you expected to happen

Hi,

I have been facing an issue when using PPO with curiosity and Torch, on a machine with at least one available GPU. In particular:

`RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!`

I have traced the error to lines (358-359):

[code]

as shown here:
https://docs.ray.io/en/master/_modu

[2022-05-06 21:39] #24478 closed

[2022-05-06 22:04] wmayner opened #24559 "[Core] `ray.cancel` multiple ObjectRefs"
### Description

`ray.cancel` currently only accepts a single `ObjectRef`. It would be convenient if it also accepted a list of `ObjectRef`s.

### Use case

I'm using `ray.cancel` to short-circuit a map-reduce operation if a particular value is found. When the value is found, I cancel all tasks individually in a loop. It would be nice if I could do this with a single call to `ray.cancel`.

[2022-05-06 23:12] xiurobert commented on #24533
Yup it is, just thought it might be a bit misleading. It does throw an error pretty quick if your system is incompatible.

[2022-05-06 23:47] stephanie-wang commented on #24176
One note for users is that we can often (always?) work around this in Datasets by decreasing the partition size, at the cost of potentially higher system overhead.

[2022-05-07 01:35] clarkzinzow opened #24565 "[Datasets] Add datasource for parallel reading of Hugging Face datasets."
As an extension to https://github.com/ray-project/ray/issues/24046, which provided a simple `from_huggingface()` integration that converts in-memory Hugging Face datasets data to Ray Datasets, we should provide a datasource that allows for parallel/distributed reading of Hugging Face datasets, when possible.

### Possible Solutions

One possible option is asking the user to give us a [`DatasetBuil

[2022-05-07 01:59] kira-lin commented on #23824
1. a task in python ->
2.  mappartitions in spark ->
3. ray.put in spark executor(a thread of a ray actor)
How can I get the task id of the first step in the third step? Thanks

[2022-05-07 02:33] infzo opened #24566 "[Core] In C++, there are D_GLIBCXX_USE_CXX11_ABI settings conflicts when both Ray and Arrow are used."
### What happened + What you expected to happen

I expected to use both Ray and Arrow in a c++ project, but a build conflict caused it to fail.

### Problem Scene

In a C++ project, both **Ray** and **Arrow** are used to develop functions and features. Build code with **CMake** and link Ray's `libray_api.so`, Arrow's `libarrow.so`, and so on.

### Problem Description

***Cannot set D_GLIBCXX_USE_C

[2022-05-07 02:44] #24301 closed

[2022-05-07 04:03] jianoaix commented on #24526
It's a bit unclear to me what this is trying to test. IIUC, this was to ensure there is a moment that it had >75% tasks up and running; is it about task launching speed, since tasks themselves are just sleep not burning cpus?

[2022-05-07 04:19] scv119 commented on #24566
cc @qicosmos @mwtian Do you know why we can't build ray with D_GLIBCXX_USE_CXX11_ABI=1?

[2022-05-07 04:29] #23133 closed

[2022-05-07 04:29] #23448 closed

[2022-05-07 05:42] duburcqa commented on #24566
I don't know if it is related but manylinux2014 image can't build with D_GLIBCXX_USE_CXX11_ABI=1 because the provided GCC version is too old.

[2022-05-07 06:00] maxpumperla commented on #24533
@xiurobert @jianoaix we could introduce code tabs for all options

[2022-05-07 06:04] jovany-wang opened #24567 "Track items of Removal about multiple core workers in one process."
### Description

- [x] removing config item `num-java-workers-per-process`. #24147
- [x] removing Java APIs: #24147
- [x] Ray.getAsyncContext
- [x] Ray.setAsyncContext
- [x] Ray.wrapRunnable`
- [x] Ray.wrapCallable
- [x] getActorContext

- [x] removing Java implementations:
- [x] RayAsyncContextUpdater. #24147
- [x] ClassLoaderTest #24147
- [x] MultiThreadingTest #24147
- [x] nativeSetCoreWorker

[2022-05-07 06:40] xiurobert commented on #24533
Alternatively an easier solution would be to delete direct link to the wheel.

[2022-05-07 06:55] ArturNiederfahrenhorst commented on #16503
Hi @thomascros, thanks for raising this! I've implemented another solution in the linked PR. Maybe that solution works for you? Feel free to leave feedback over there if you have any thoughts.

[2022-05-07 06:55] #16503 closed

[2022-05-07 06:59] flomok opened #24568 "Hello,I have done as the solution,but it has other problem shown in picture.can you help me,thank you!"
Hello,

Your solution is working until I work with huggingface. It looks like the problem is in python 3.7, however  when I install python 3.8 in my colab:

[code]
It does not recognize `transformers` , that I already install:

![ray_error](https://user-images.githubusercontent.com/53188008/164421186-365c14d0-a8f7-452f-95ce-ced284bec2a9.PNG)

Do you have any advice?

Thank you so much.

_Originall

[2022-05-07 07:00] flomok commented on #24568
![image](https://user-images.githubusercontent.com/88573497/167242903-67fb2d4c-9dcf-4036-af6b-bc2ff89245f1.png)

[2022-05-07 07:10] ArturNiederfahrenhorst commented on #23942
Have your tried lowering your gym version to `pip install gym==0.21`, incase it's up? We usually work with 0.21 instead of 0.23, which is the official release right now.

[2022-05-07 09:55] wumuzi520 opened #24573 "[Core] The eager mode of subscribing to actor's status will block redis when job dead."
### Description

Now the status of subscribing to Actors in Actor Manager is eager mode, that is to say, when worker `A` passes `List<ActorHandler>` as an input parameter to another worker `B`, worker `B` will immediately subscribe to the status of all Actors in this list when constructing, even if worker B has not yet used these actors.

Assuming that a graph job has 1000 actors, and each actor h

[2022-05-07 12:56] SongGuyang commented on #24566
@scv119 I think it is related to the compiling environment of ray wheels, but I don't know the real reason. A walking around way is that users can build the ray wheels by themself from source code, but we should find a best way to support this.

[2022-05-07 13:27] duburcqa commented on #24566
manylinux2014 is precisely the compiling environment of ray wheels on linux. A new image [manylinux_2_28](https://github.com/pypa/manylinux/pull/1277) is currently under testing phase. Migrating to this one would fix the issue, but it means leaving out people on Ubuntu 18 without wheels since it supports at most `manylinux_2_27`.

[2022-05-07 13:46] carlogrisetti commented on #22279
You might want to update your branch from master, since there are many occurrences where issues are already fixed before you encounter them, and you've been left behind on your own branch.

I'm not confident enough on the dev setup procedure to help you on that, sorry! :(

Once you pass some quick internal tests you might also want to submit a PR and let the more extensive CI tests run.

[2022-05-07 13:54] SongGuyang commented on #24566
@duburcqa I run a container using the image `quay.io/pypa/manylinux2014_x86_64:2021-11-07-28723f3` and get the gcc version:
[code]

The gcc is located in:
[code]

Seems the gcc version is not old?

[2022-05-07 14:09] SongGuyang commented on #24566
Does tensorflow also don't support ABI=1?

https://www.tensorflow.org/guide/create_op#compile_the_op_using_your_system_compiler_tensorflow_binary_installation

[2022-05-07 14:27] SJ-L opened #24574 "[<Ray component: Core|RLlib|etc...>]"
### What happened + What you expected to happen

I just installed Ray with Pycharm. and I tried to run the code as below.
`import ray`
`ray.init()`
`from ray import tune`
`tune.run("PPO",config = {"env": "CartPole-v1",
                         } )`

then I got the error as below
`
2022-05-07 10:14:36,980	INFO trial_runner.py:803 -- starting PPO_CartPole-v1_fbf28_00000
2022-05-07 10:14:37,068	ERROR

[2022-05-07 14:28] jarbus opened #24575 "RLlib QMIX index error in rnn_sequencing.py when using groups"
### What happened + What you expected to happen

With certain configurations of QMIX, there is the following index error:
[code]
I first experienced this in a custom environment, and then successfully recreated this issue in the Iterated Prisoner's Dillemma. I did some digging to try and pin down whether the issue was with my environment or Ray, and came across the following (please tell me if my

[2022-05-07 14:34] Jet132 commented on #23945
Tried a few things with the python.org and Anaconda distributions and found some interesting results.

| Method | Versions | Missing `redis` | Works |
| :-- | :-- | :--: | :--: |
| User installed Pipenv from global python.org install | <ul><li>pipenv `2022.5.2`</li><li>python `3.9.12`</li></ul> | Yes | No |
| Venv from global python.org install | <ul><li>python `3.9.12`</li></ul> | Yes | No |
| Gl

[2022-05-07 16:20] duburcqa commented on #24566
Ok my bad, GCC is only one of the criteria. Here it is not because gcc is too old but because the environment relies on a old version of the standard library that does not support it anyway so something like that. So this flag would be ignored. The problem is reversed for  `manylinux_2_24`. The environment is more recent but the gcc version is much older (4.7). So it does not support it either...

[2022-05-07 17:53] mattip commented on #23945
Thanks @Jet132 this is very helpful. Could you list the commands you used for the first two so that I can try to reproduce?

[2022-05-07 19:36] Jet132 commented on #23945
The first one is documented in the initial issue post. The second one goes as follows:

[code]

[2022-05-07 20:19] mattip commented on #23945
This is really strange. I cannot replicate your failures: neither the failure to see redis (I did not need to add it at all to the install command), nor the failure to run the test program, nor do I get an error when I add a `time.sleep(30)` to `f()`. Do you have any `PYTHON*` environment variables set (Does `set PYTHON` print anything)?

[2022-05-07 20:31] frank-lsf opened #24581 "[Core] Restore objects directly from S3"
### What happened + What you expected to happen

Scenario:
- A task on node A produces object X
- X is spilled to S3 from A
- A task on node B depends on X

What should happen:
- B's IO worker should restore X from S3 into B's object store

What is happening:
- B sends a pull request to A
- A restores X from S3 into A's object store
- A pushes X to B

This is unnecessarily inefficient. Also it loo

[2022-05-07 21:25] jianoaix commented on #24407
Discussed with @simon-mo on this issue, the CI pipeline time is now down to about 3 hours, by bumping up the resource (which is still within the quota).

The approaches on the table:
- Further increasing the builders: we still have sufficient quota
- More precisely figure out what tests are affected and run only those tests (so decrease unit cost, ie. CI cost per commit): @mwtian had a PR pending

[2022-05-08 01:08] kwand commented on #24539
@richardliaw Apologies for pinging, but you seem to be familiar with SLURM? Any idea if this is just a simple script issue on my end (such as something related to ports or network interfaces that @tupui mentioned?), or a bug introduced with #22382?

Would love to be able to run Ray in a multi-node allocation, but so far this issue is blocking me from doing so. I would appreciate knowing if this is

[2022-05-08 04:25] gmjehovich commented on #21994
Hi, were you ever able to fix this problem?  I am getting this same issue

[2022-05-08 04:29] gmjehovich commented on #13296
I am having this same issue on Windows.  I just used pip to install ray and get the error when using tune.run().  I also get it if I just try using ray.init().

[2022-05-08 08:38] mattip opened #24586 "CI: window wheel CI run builds ray too many times"
The control flow when [calling `ci.sh build` with WINDOWS_WHEELS="1"](https://github.com/ray-project/ray/blob/master/.buildkite/pipeline.windows.yml#L40) in CI is
- [call `_bazel_build_before_install`](https://github.com/ray-project/ray/blob/d462172be7c5779abf37609aed08af112a533e1e/ci/ci.sh#L662), which on windows [calls `bazel //:*`](https://github.com/ray-project/ray/blob/d462172be7c5779abf37609

[2022-05-09 00:59] xwjiang2010 opened #24593 "[air] Result dict has no key: training_iteration."
### What happened + What you expected to happen

Dump the stack trace here first. Will add more details later.

[code]

### Versions / Dependencies

Master

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-05-09 03:47] infzo commented on #24566
Thanks for your attention, I expected to use both Ray and Arrow in a c++ project, but that seemed difficult for me :sob:. And now there are two questions:

1. If I want to build a wheel of Ray with D_GLIBCXX_USE_CXX11_ABI=1, how do I modify Ray's code and build configuration? How to build and compile a wheel? Can there be some step-by-step help?
2. Or can the community provide a wheel of Ray with

[2022-05-09 07:26] infzo commented on #24566
For the first question, adding `build --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=1" # line 12` to `.../ray/.bazelrc` seems feasible.

[2022-05-09 07:47] tisonkun commented on #17400
It seems that `--address` doesn't work if specified as an existing redis server address:

[code]

[2022-05-09 08:53] vakker commented on #22518
@mwtian, yes, there's a very simple repro example:
[code]

Output:
[code]

This is with ray 7ab19ddc3 and grpcio 1.43.0.

[2022-05-09 09:20] fodrh1201 opened #24598 "[Data] Cannot Read parquet from multiple directories in aws s3."
### Description

Error occurs when reading parquet files from multiple directories in aws s3.

OSError: Error creating dataset. Could not read schema from 's3://bucket/path1': Path does not exist 's3://bucket/path1'. Is this a 'parquet' file?

### Use case

I think it would be nice if you could read it in multiple directories like read_json or read_csv.

[2022-05-09 10:08] Fabien-Couthouis opened #24601 "[RLlib] Metrics not reported with Client/Server and env=None"
### What happened + What you expected to happen

Hey!
I have observed a strange behavior with Client/Server. In fact, with config {"env": None}, some metrics are never updated (reward_mean, episodes_total..) and so tensorboard logs are not complete.

Example: in blue, env=None, in orange env=CartPole-v0.
![metrics_env_none](https://user-images.githubusercontent.com/28305248/167388007-b3ffdcda-5845

[2022-05-09 10:15] John-Almardeny commented on #4741
Hey @stephanie-wang

In Ray docs, I cannot find any reference to the commands you used and their effect (e.g. `--num-redis-shards 4`).
I'd appreciate it if you can point to a reference that contains what command options we have in Ray.

Another question please, it's recommended to assign `0 CPUs` to the Head Node to prevent it from carrying out any calculations... Is this a correct decision?

Many

[2022-05-09 14:57] krfricke opened #24604 "[tune] `progress_reporter.py` is messy and should be cleaned up"
The implementation of the progress reporter, particularly the table generation, suffers from cluttered legacy code. The functions are long, messy, and pass around long argument lists. It is hard to unit test. We should clean this module up do make it easier to extend and modify.

[2022-05-09 15:28] shaileshcheke commented on #17185
Can I work on this?

[2022-05-09 16:00] mwtian commented on #24566
@infzo did building your own wheels work? You may have found it already but here is the instruction on installing dependencies and building Ray from source: https://docs.ray.io/en/latest/ray-contribute/development.html#building-ray-on-linux-macos-full

[2022-05-09 16:26] clarkzinzow commented on #17185
@shaileshcheke Definitely! 🙌 I've been wanting to see this happen for a long time.

Let me know if you want any assistance with leveraging the custom datasource API for this, I *think* that this should only involve a simple subclassing of [`FileBasedDatasource`](https://github.com/ray-project/ray/blob/76da2255d9c59d485e8cd5e942de49eb93e03011/python/ray/data/datasource/file_based_datasource.py#L127

[2022-05-09 16:49] krfricke opened #24605 "[air] OneHotEncoder should accept a number/names of classes argument"
### Description

If a value is never seen in a dataset shard, it may still exist in other dataset shards. The current one hot encoder cannot deal with this case, as it will create non-compatible column layouts if values are missing in different shards.

Consider this example:

[code]

This will result in the following output:

[code]

To make it possible to continue processing these dataframes, we

[2022-05-09 16:59] michaelfeil commented on #21921
This works, it seems like the built-in `ModelV2` had some problems with non-flat observations. In my case, I also got the same error, as I forget to define the `custom_model` (fallback to the built-in model): in the trainer config. There are a couple of solutions: defining a custom model, which flattens the input space or can handle your multidimensional observations, or writing a Gym.Wrapper for

[2022-05-09 16:59] #24554 closed

[2022-05-09 17:23] wuisawesome commented on #16539
Separate from the P0 issue, we should also get around to implementing integration tests to make sure this stuff works.

[2022-05-09 17:57] mwtian commented on #22518
@vakker I reproduced this log message with grpcio `1.46.0`, but it appeared only once. Since the condition that triggered the logging likely exists in older versions of `grpcio`, this should not affect the output of Ray program. Pinning `grpcio` to `1.43.0` or an earlier version would avoid the excessive logging.

[2022-05-09 18:03] stephanie-wang commented on #24581
It could be that if B still thinks that A has the object in-memory, it will prefer to pull from there. It's also possible that A doesn't actually have the object anymore, since the location updates are async.

It should be a straightforward change to try restoring from S3 first. [Here](https://github.com/ray-project/ray/blob/master/src/ray/object_manager/pull_manager.cc#L514) is the relevant code

[2022-05-09 18:22] simon-mo commented on #24228
@spolcyn to clarify, is this issue now the same as #24419?

[2022-05-09 18:24] spolcyn commented on #24228
Correct, closing issue in favor of #24419

[2022-05-09 18:24] #24228 closed

[2022-05-09 19:26] shrekris-anyscale opened #24614 "[serve] Remove circular imports in deployment schema helpers"
### Description

Remove the circular imports in [`deployment_to_schema()`](https://github.com/ray-project/ray/blob/b51d0aa8b12ceb7ce082b69db4d2707ea52c0b69/python/ray/serve/deployment.py#L449) and [`schema_to_deployment()`](https://github.com/ray-project/ray/blob/b51d0aa8b12ceb7ce082b69db4d2707ea52c0b69/python/ray/serve/deployment.py#L477) functions in [`deployment.py`](https://github.com/ray-proj

[2022-05-09 19:37] shrekris-anyscale opened #24615 "[serve] Promote `pipeline` folder's files to `serve` directory"
### Description

The `serve` directory stores Deployment Graph code in the `pipeline` directory.

[`serve` directory](https://github.com/ray-project/ray/tree/07986349c63ecf64a0bd92a3804bd2e5546c23c0/python/ray/serve):

<img width="1229" alt="Screen Shot 2022-05-09 at 12 34 09 PM" src="https://user-images.githubusercontent.com/92341594/167484259-51992839-5397-42e7-910e-629238bd50d2.png">

[`pipelin

[2022-05-09 19:59] Tsesterh opened #24617 "[RLlib] MCTS with nested observation space: The two structures don't have the same nested structure"
### What happened + What you expected to happen

**What is the Problem?**

When using the MCTS implementation in RLlib for a custom environment with a nested observation space, we get the following error:

[code]

**Reproduction**

Nested observation space (i.e. gym.spaces.Dict) + wrapper environment following the example in https://github.com/ray-project/ray/blob/master/rllib/contrib/alpha_zero/e

[2022-05-09 20:22] jiaodong opened #24620 "[Serve] Simplify json_serde of deployment graph"
### Description

Currently we're importing classes that includes both ServeHandle and DAGNode types in `json_serde.py`. But in other files we need to use JSON serde that causes circular import issue. So we need to:

1) Use string types to eliminate imports that's not needed in JSON serialize path
2) Update corresponding JSON deserialize path to not rely on imported class type, if possible.

Both s

[2022-05-09 22:19] clarkzinzow commented on #20609
Reopening because I still really want to see this. 😄

[2022-05-09 22:42] DmitriGekhtman commented on #16539
How to test cloud-provider-specific functionality will be tricky to get right. (Might need end-to-end release testing.) But that's a topic for another day/issue!

[2022-05-09 22:43] cadedaniel commented on #16539
I think we should try to design a simple solution to this. If we can't find a simple way to get coverage of this, so be it, but at least then we'll have an estimate.

[2022-05-09 22:43] cadedaniel commented on #16539
(although yes maybe it should be a different GH issue)

[2022-05-09 22:48] clarkzinzow opened #24624 "[Core] `ray_object_store_available_memory` metric goes negative when fallback allocation is used"
We calculate the available object store memory for this metric via `config_.object_store_memory - used_memory_` [here](https://github.com/ray-project/ray/blob/6e17c4a2b71eeeb556a638ae09d379af862b79f9/src/ray/object_manager/object_manager.cc#L739), yet `used_memory_` can exceed the configured object store capacity via fallback allocation to disk since we always increase this [on the seal path](http

[2022-05-09 23:12] wuisawesome opened #24625 "[autoscaler][testing][tracking] Integration testing of the autoscaler"
### Description

This is a tracking issue for integration testing of the autoscaler.

P0: Avoid regressions like $16539
P1: Ensure examples in the docs are always up to date and working.

cc @DmitriGekhtman @maxpumperla

### Use case

_No response_

[2022-05-09 23:12] wuisawesome commented on #16539
Let's track here https://github.com/ray-project/ray/issues/24625

[2022-05-10 00:05] mwtian commented on #24176
I generated a Raylet memory profile for shuffling on a single node:
<img width="1818" alt="image" src="https://user-images.githubusercontent.com/81660174/167517062-513767cd-a760-4f50-a357-2e466d027dd0.png">

Raw data: [profile023.pb.gz](https://github.com/ray-project/ray/files/8656059/profile023.pb.gz)

There is significant memory usage under `ClusterTaskManager::QueueAndScheduleTask()`, which is

[2022-05-10 00:08] scv119 opened #24626 "[Core] clarify that num_cpus are logical not physical in doc"
### Description

when specifying resources requirement link num_cpus, user often confused this with concurrent tasks or phyisical cpu usgage

we should do a better job there.

### Use case

_No response_

[2022-05-10 00:12] stephanie-wang commented on #24176
Nice find! I guess the next question is whether there is a memory scalability bug and whether there is any low-hanging performance fruit on the raylet side.

Since this is happening during the reduce phase, a quick fix would be limiting how many tasks we're sending to the raylet from the Datasets side (`ray.wait` on some results before submitting more tasks).

[2022-05-10 00:22] simon-mo opened #24627 "[Serve] Asynchronous inference best practices"
### Description

A common practice is to submit a batch of requests to Serve endpoints and _not_ waiting for the task to finish. This use case can be accomplished in Ray Serve using a layer of indirection (a deployment handling buffering).

https://docs.aws.amazon.com/sagemaker/latest/dg/async-inference.html

### Use case

_No response_

[2022-05-10 00:28] simon-mo commented on #24553
Code sample
[code]

Diff:
https://github.com/ray-project/ray/pull/19936/files#diff-8e9bf745ebae5f1f1d8196f9c0c545a3140efe01dae0263f8a4c75789e3f6a3e

[2022-05-10 00:45] mwtian commented on #24176
Great info. Another thing I'm trying to confirm is that if the task metadata is only for the 32 / 64 running tasks, or includes more past tasks. It is a bit hard to imagine that metadata from running tasks can balloon to a few GBs.

[2022-05-10 00:50] stephanie-wang commented on #24176
Yeah, one thing here is that you're probably seeing the memory blow up because of queued tasks in addition to the running ones. But yes, we should confirm that there's no memory leak from the past tasks.

I agree, it's a bit odd that the memory footprint is so high. Compared to the driver metadata, each worker raylet is only handling a fraction of the ObjectRefs. The raylets do significantly more

[2022-05-10 01:00] Chengeng-Yang commented on #19942
Hello @andrewkhardy , I'm having the same issue (https://discuss.ray.io/t/ray-on-slurm-different-ip-addresses-of-worker-nodes/6071), could I ask did you find a way to edit the slurm template to fix this issue? Many thanks!

[2022-05-10 01:10] mwtian commented on #24176
Task queueing makes sense. I will try to set up profiling in product, and capture a profile for the case of 19 workers + 1 head node as well. That should give a more definite picture about the memory consumers.

[2022-05-10 02:32] infzo commented on #24566
@mwtian Thank you. By the above method, it works. But I ran into a new issue where ArrowTable does not support msgpack serialization. Is there an elegant way to pass the ArrowTable in the Task and Actor of Ray?

[2022-05-10 02:47] SongGuyang commented on #24566
@infzo Hi, we only support msgpack serialization now. I'm sorry that we don't have a good doc which indicate the details of serialization. Can you create a separate issue about this and show your code and error message? We'd like to make some enhancements of serialization in C++.

[2022-05-10 03:13] tisonkun opened #24634 "Improve argument document of `address` and `port`"
_Originally posted by @tisonkun in https://github.com/ray-project/ray/issues/17400#issuecomment-1120759243_

Current, the help information of `ray start --help` shows:

[code]

It's confused by stating `use for Ray` since a user cannot understand what kind of usage is here.

Also, it would be better to add examples / demos on docsite for playing with such arguments and start some typical deploymen

[2022-05-10 03:38] kira-lin commented on #23824
@Catch-Bull Hi, I remember you implemented ray.put(owner=xxx), any idea on this? Is this useful in your use case?

[2022-05-10 06:02] DmitriGekhtman commented on #17491
The error message occurred in the investigation of another issue https://github.com/ray-project/ray/issues/20402#issuecomment-969942536
It seems there might have been a change in the Ray core that led to this regression.

When Slurm deployment scripts are fixed, the Ray team would be very glad to coordinate on testing procedures to prevent these scripts from breaking again.

[2022-05-10 06:24] iycheng opened #24642 "[core] Resubscribe for GCS pubsub from GCS side"
When GCS restarts, it'll lose all subscription information since everything is stored in memory. Then in the runtime, we need to tell GCS what's currently being subscribed.

The previous method:
- We'll have a thread in core worker/raylet to check whether the GCS restarted or not.
- If it restarted, we'll send resubscribe request to GCS.

However, this is not working in these cases:
- GCS restarts

[2022-05-10 06:38] infzo opened #24643 "[Core] In C++, how to implement the serialization transfer function of ArrowTable in Ray in an elegant way?"
### What happened + What you expected to happen

It is expected that third-party user-defined data objects, such as ArrowTable, can be transferred in Task and Actor, and both Put and Get operations are supported. But a message is displayed indicating that ArrowTable does not support msgpack serialization.

### Problem Description

Ray does not support serialization of ArrowTable, which makes it im

[2022-05-10 06:41] infzo commented on #24566
ok, the new issue I created is : https://github.com/ray-project/ray/issues/24643

[2022-05-10 07:43] simonsays1980 opened #24644 "[RLlib] Conditional Callbacks do not work"
### What happened + What you expected to happen

# What happened
I want to run a `tune` experiment with different exploration schemes. For one scheme I wrote custom metrics callbacks to show metrics in TensorBoard.

## What I wanted to do
Activate the custom metrics callbacks only when the appropriate exploration config is used by `tune`, i.e. setting the `config["callbacks"]` paramter conditional

[2022-05-10 08:38] wumuzi520 opened #24646 "[Core] CheckHealth always failed with "Unable to reach GCS at ...""
### What happened + What you expected to happen

$pytest -v test_gcs_fault_tolerance.py::test_gcs_server_restart
======================================================================================================================= test session starts =======================================================================================================================
platform linux -- Python 3.

[2022-05-10 09:23] rkooo567 opened #24647 "[Core/Doc] Document fallback allocation"
### Description

We should write about fallback allocation and detailed information regarding object store memory to the documentation

### Use case

_No response_

[2022-05-10 10:00] infzo commented on #24643
The serialization and deserialization of ArrowTable can be realized by using the [IPC module](https://github.com/apache/arrow/tree/master/cpp/src/arrow/ipc) of Arrow. After conversion to the basic type, the second serialization, storage and transmission can be realized by using Msgpack.

[code]

However, the use of Ray requires serialization of ArrowTable before transmission and deserialization af

[2022-05-10 10:24] czgdp1807 commented on #24559
I think I can work on this. Please let me know if this sounds good. @pcmoritz

[2022-05-10 11:38] infzo commented on #24493
https://github.com/ray-project/ray/issues/24566

[2022-05-10 11:38] #24493 closed

[2022-05-10 12:53] CpyKing commented on #23611
Hi, i got the same issue today.
That may because the ray version of your head node is not compatiable with your worker node.
Try to install the same ray version instead.
good luck :)

[2022-05-10 13:08] shirellm commented on #1440
Hello everyone, I'm new to openAI gym and RLlib. I'm trying to run a PPOTrainer on the env i created on gym but something is not working and I can't figure what is the problem.
my main file is:
[code]

[2022-05-10 13:20] vinzm commented on #12709
I think it should be:
This determines, whether a rollout is always *a whole number of episodes* (not necessarily just one, for example if rollout_fragment_length is much greater than the typical length, in steps, of an episode) or rather "rollout_fragment_length" steps long.

To be able to run a single episode for iteration, I had to set "train_batch_size" to 1, together with "batch_mode"="complet

[2022-05-10 16:43] #24455 closed

[2022-05-10 16:44] edoakes opened #24652 "[flaky test] serve:test_runtime_env timing out"
Likely just need to bump the timeout here?

https://buildkite.com/ray-project/ray-builders-branch/builds/7441#bfd11b43-19be-43ce-8556-f9bed4a5012c/6

[2022-05-10 17:06] jianoaix opened #24653 "CI failing to build window wheels"
See the "bk://:windows: Wheels" at https://flakey-tests.ray.io/#owner=infra for details.

It looks some dependency issue from the logs:

+ popd
--
  | /c/Install/ray
  | + cd /c/Install/ray/python/../python
  | + /c/Install/ray/python/../ci/keep_alive pip install -v -e .
  | Using pip 21.2.2 from C:\Miniconda3\lib\site-packages\pip (python 3.6)
  | Obtaining file:///C:/Install/ray/python
  | Runni

[2022-05-10 17:15] JiahaoYao opened #24654 "[<Ray matplotlib] plot issue"
### What happened + What you expected to happen

Run the following code to generate the plots using ray remote. I already use `matplotlib.use('Agg')` to control the display issue. I am able to generate the plots using the plain `for-loop`. But it fails with the ray parallel.

[code]

The error message is
[code]

### Versions / Dependencies

system info
[code]

### Reproduction script
This script i

[2022-05-10 17:39] joshua-cogliati-inl commented on #5399
Hm, are you saying that --temp-dir causes this? (Unfortunately for me I get basically no logs without --temp-dir), and when I do use --temp-dir (ray 1.9.2 fyi) I get the errors like:
[code]

[2022-05-10 17:51] JiahaoYao commented on #24654
Thanks @dynamicwebpaige for the prompt response!

[2022-05-10 17:51] #24654 closed

[2022-05-10 18:06] avnishn opened #24655 "[Docs][Rllib] How To Create a Good Gym Environment for use with RLlib"
### Description

There's many tutorials on the internet explaining how to create a gym env, but there aren't many that show how to make sure that the environment is created with all the correct properties so that its easy to validate and has no foot-gun errors. I'm suggesting that we add this to our documentation and replace our current docs on gym environments.

The environments documentation pag

[2022-05-10 18:10] amogkam commented on #23014
Closed by https://github.com/ray-project/ray/pull/24453

[2022-05-10 18:10] #23014 closed

[2022-05-10 18:18] avnishn opened #24656 "[RLlib] Weekly Learning Tests are timing out on 1.13"
### What happened + What you expected to happen

See buildkite link:
https://buildkite.com/ray-project/release-tests-branch/builds/507#a13d63f5-4f6d-4961-8b3d-be4862e84939

looks like slate q is timing out, doesnt have enough time to run -- could be a runtime regression, but likely is the case that theres many tests being run.

I think there's something I saw in there about ES taking a long time t

[2022-05-10 18:24] avnishn commented on #24656
@sven1977 has commented offline that this is not a release blocker. but ill be keeping this open as a p1 in the meantime

[2022-05-10 18:29] wmayner opened #24658 "[Core] Suppress `ray.cancel` stderr noise from `KeyboardInterrupt`"
### Description

`ray.cancel` is currently quite noisy; the implementation seems to send a `SIGTERM` signal, which by default is passed back to the driver's stderr as a `KeyboardInterrupt`. There are use cases where `ray.cancel` is called routinely as part of an algorithm, and thus should not be treated as an error (e.g. #24559).

`RAY_IGNORE_UNHANDLED_ERRORS=1` suppresses the noise, but this is n

[2022-05-10 18:32] scv119 commented on #24653
@jianoaix can you try to upgrade python to 3.6.2?

[2022-05-10 18:37] scv119 commented on #24653
https://stackoverflow.com/questions/67569038/flask-attributeerror-on-import-module-typing-has-no-attribute-noreturn/67857937#67857937

[2022-05-10 18:44] scv119 commented on #24653
https://pypi.org/project/pbr/#history looks pbr had a release at May 5th. It showed up in the stack trace and that's when this failure happens.

[2022-05-10 19:05] avnishn opened #24660 "[Core] long_running_actor_deaths is failing releases/1.13.0rc0"
### What happened + What you expected to happen

long_running_actor_deaths is failing in the 1.13 release builds:

https://buildkite.com/ray-project/release-tests-branch/builds/507#ca9e517f-7d37-4bb2-9c38-060f59a8f401

### Versions / Dependencies

releases/1.13.0rc0

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-05-10 19:07] avnishn opened #24661 "[Core] shuffle_1tb_5000_partitions is failing releases/1.13.0rc0"
### What happened + What you expected to happen

[shuffle_1tb_5000_partitions](https://buildkite.com/ray-project/release-tests-branch/builds/507#28991b3b-65c3-419b-9e9a-60b0814e16d4) is failing (permalink to the buildkite run)

### Versions / Dependencies

releases/1.13.0rc0

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-05-10 19:08] avnishn opened #24662 "[Core] many_tasks is failing releases/1.13.0rc0"
### What happened + What you expected to happen

many tasks is failing on releases/1.13.0rc0

https://buildkite.com/ray-project/release-tests-branch/builds/507#aaa06767-2f2d-40f0-b3b8-28b4d716da77

### Versions / Dependencies

releases/1.13.0rc0

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-05-10 19:10] avnishn opened #24663 "[Core] scheduling_test_many_0s_tasks_many_nodes Is Failing releases/1.13.0rc0"
### What happened + What you expected to happen

[scheduling_test_many_0s_tasks_many_nodes](https://buildkite.com/ray-project/release-tests-branch/builds/507#4df175e0-8532-4669-933f-7ed4523c8d8f) is failing on releases/1.13.0rc0

### Versions / Dependencies

releases/1.13.0rc0

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-05-10 19:25] joshua-cogliati-inl commented on #5399
Still in ray 1.12:
[code]

[2022-05-10 19:28] sijieamoy opened #24664 "[doc] Distinction between Guides and Examples"
### Description

For a user looking for ways to log Tune trials, currently there is the TensorBoard guide in the [Tune > User Guides](https://docs.ray.io/en/latest/tune/tutorials/overview.html) section, and W&B, MLFlow, Comet examples in the [Tune > Examples](https://docs.ray.io/en/latest/tune/examples/index.html) section, which adds to the feeling that the definition of Guides vs Examples is a bi

[2022-05-10 19:52] joshua-cogliati-inl commented on #5399
An interesting point is that it doesn't kill all the raylets, just some of them.  For example, with the above one, it kill 2 out of 5 raylet workers.

[2022-05-10 20:19] joshua-cogliati-inl commented on #5399
@Deathn0t I am not sure why you closed this issue, it still seems to be a problem.  Thanks.

[2022-05-10 20:26] jianoaix commented on #24653
Thanks Chen, nice catch the change of pbr, the timeline matches well. It looks we don't directly depend on pbr. It might be indirectly via setuptools.

For Python, it's already python-3.6.13 (according to https://buildkite.com/ray-project/ray-builders-branch/builds/7441#bd5b2603-29b6-45b7-91e6-0bd4ec09bf14)

[2022-05-10 20:50] xwjiang2010 commented on #24593
The same thing also showed up in shopify's session. Looking into the issue.

[2022-05-10 21:02] joshua-cogliati-inl commented on #5399
Possibly this could be solved by adding `--log-dir` to the arguments that `ray start` takes.  (It is available already for `raylet`) This would let people use choose what directory to use for log files without changing what directory is used for the sockets.

[2022-05-10 21:24] franklsf95 opened #24667 "[Core] Spilling performance regression in large-scale shuffle"
### What happened + What you expected to happen

It seems #22750 introduced performance regression in large-scale shuffle. This is 1TB shuffle, 1GB partitions, running on 10x `d3.2xlarge` VMs. I tested version 1.12.0 and commit bdd3b9a0abdb96f70584092ae4d97f74769533b3 (one before the PR was merged) and the run time is 638 seconds. After the PR (commit 1c972d5d2d076ec069a81e81b5d6ba6dc34a92ce), the

[2022-05-10 21:41] clarkzinzow opened #24668 "[Datasets] Bound actor pool size by number of input blocks."
When batch mapping over an actor pool, we can map over all input blocks in parallel, but that's the upper limit to our parallelism. We should therefore not scale the actor pool beyond the number of input blocks, otherwise we'll be allocating actors that will never get used.

[2022-05-10 23:49] jianoaix commented on #24663
This is known and same as https://github.com/ray-project/ray/issues/24234, @jjyao

[2022-05-11 00:07] peterhaddad3121 opened #24675 "[Ray: Tune] - Checkpoint sync fails at end of Ray Tune experiment"
### What happened + What you expected to happen

I have Ray tune set up to sync to an S3 bucket. During execution of Ray Tune, I notice that checkpoints get uploaded to S3 just fine during execution of the experiments.

At the end of the experiment the Agents fail with: upload failed: ray_results/PPO/basic-variant-state-2022-05-10_15-43-21.json to s3://my_bucket/test3/PPO/basic-variant-state-2022-

[2022-05-11 00:19] jianoaix commented on #24598
You may achieve the same by:
ds1 = ray.data.read_parquet(["s3://bucket/path1"])
ds2 = ray.data.read_parquet(["s3://bucket/path2"])
ds = ds1.union(ds2)

[2022-05-11 00:24] mwtian commented on #24407
PR to prune macos builds in CI has merged.

[2022-05-11 01:04] rkooo567 commented on #24660
Hey @avnishn can you cherry-pick this PR and run (this won't impact any other tests) https://github.com/ray-project/ray/pull/24469/files? It seems like this test has been stable for a while after 5/4, and I have one commit that I think it could be a fix (not 100% sure), and I think this PR can help identify that.

[2022-05-11 01:06] rkooo567 commented on #24660
This is the potential fix commit (https://github.com/ray-project/ray/commit/bf2dc94cdb4089044cef7b771d0473dbc57843dc), but I need https://github.com/ray-project/ray/pull/24469/files to be merged for better information

[2022-05-11 01:17] scv119 commented on #24660
@rkooo567 is this a release blocker?

[2022-05-11 01:31] rkooo567 commented on #24660
I tried bisecting it, but I could find a commit that looks suspicious around the time the first failure happens..

[2022-05-11 01:33] rkooo567 commented on #24662
@jianoaix are you doing bisecting now?

[2022-05-11 04:20] jovany-wang opened #24679 "[Java] Change SINGLE_PROCESS to LOCAL"
### Description

_No response_

### Use case

_No response_

[2022-05-11 05:52] fantow commented on #24536
@maxpumperla  Hi,may I invite you to evaluate the necessity of this issue?If it is not a good change,I will close this issue,thank you.

[2022-05-11 06:18] lixin-wei commented on #24643
Hi! We are working on providing a standard way for users to implement custom serializers. The proposal was submitted and is under review. Check https://github.com/ray-project/enhancements/pull/6 for more information and welcome to leave a comment. The work might be done by the end of July.

For now unfortunately we don't have an elegant way to implement custom serializers. You can work around it b

[2022-05-11 07:17] RocketRider commented on #21954
Should be added to TBXLogger from tune as well:
https://github.com/ray-project/ray/blob/8119b62640aab4c3e14927feaefe2fdc9678c32a/python/ray/tune/logger.py#L211

[2022-05-11 08:10] rkooo567 opened #24682 "[Core] `SetCurrentTaskId` & `GetCurrentTaskId` is incorrect when async actor is used."
### What happened + What you expected to happen

Currently, `SetCurrentTaskId` stores the single currently running task id to the thread local data structure, which works for normal task/actor/threaded actors cases.

However, when async actor is used, this semantic is incorrect because async actor can run multiple tasks at the same time within the same thread.

https://github.com/ray-project/ray/b

[2022-05-11 08:10] rkooo567 commented on #24682
cc @scv119 for triage. I think this is not impacting correctness right now since there's no logic we depend on this. But it is very error prone

[2022-05-11 08:17] czgdp1807 commented on #24658
I can also look into this once https://github.com/ray-project/ray/issues/24559 is done.

[2022-05-11 08:19] czgdp1807 commented on #24559
Can you share the code for this? Would be nice to test the changes on a real life example like yours.

[2022-05-11 08:21] bveeramani commented on #12623
The troubleshooting section should be placed on the [Building Ray from Source](https://docs.ray.io/en/latest/ray-contribute/development.html#building-ray) page instead of the [Installing Ray](https://docs.ray.io/en/latest/ray-overview/installation.html#troubleshooting) page because the error occurs while building Ray from source.

(Ran into this error recently. Only discovered the "Troubleshooting

[2022-05-11 08:29] axelbr commented on #8303
I think the easiest solution is to provide small set of MultiAgentWrappers (similar to the interfaces defined in gym.wrappers). This should not be too much effort and would be comparably stable.

[2022-05-11 09:16] raulchen commented on #24643
Currently it's possible to pass ArrowTable as task parameters, either with the approach in your last code snippet, or by serializing them to bytes before passing it.
However, currently shared-memory is not supported for C++. This issue will be addressed by the enhancement proposal @lixin-wei mentioned.

[2022-05-11 10:56] jnpm commented on #23470
@xwjiang2010 I am using a python base sagemaker image and creating a conda environment from a yml file with packages from pip and conda-forge upon initialization.

[2022-05-11 12:10] #22466 closed

[2022-05-11 13:30] mbehrendt commented on #24361
we've been seeing the error message in the subject of this issue as well, but on ubuntu 20.04.
It happens when running a simple load, which drives the autoscaler to add 25 more nodes / workers (starting from 0).
Everything is running on 4vCPU, 16GB mem VMs.  We see this happening with 1.12.0, but not on 1.9.2 . However, our suspicion is that the actual error root cause might be already there in 1.

[2022-05-11 16:00] edoakes opened #24689 "[serve] `print` inside of FastAPI deployment isn't streamed to the console"
From: https://discuss.ray.io/t/dumb-question-about-print/6102.

If you run a very simple fastapi deployment:
[code]

and invoke it via serve handle, the `hihihi` is printed. Via HTTP and it isn't.

[2022-05-11 16:11] simon-mo opened #24691 "[Serve][Doc] Include call to action to every documentation page"
### Description

At the end of each documentation, we should have a section detailing "what's next"

### Use case

_No response_

[2022-05-11 16:50] jianoaix commented on #24662
It's not consistently failing so not sure bisecting can find anything useful here.

The first failure was on 5/1: https://b534fd88.us1a.app.preset.io/superset/explore/p/4KY87JeLoQW/
It then bounced back to normal for a few days and then becoming flaky again.

That first failure was at this commit: https://github.com/ray-project/ray/commit/27917f570de3296ecf6c81fbe0cc318efd448b1b
The commit however

[2022-05-11 17:09] dynamicwebpaige commented on #24177
Related to #12289 (scaling to zero). cc: @simon-mo @edoakes

[2022-05-11 17:41] jiaodong opened #24694 "[Serve] Add an inspirational case for scale-to-zero with dynamic dispatch"
### Description

Basically a statically defined deployment graph with `.bind()` API and upon each request, it went through dynamic dispatch that only triggers the requested model in a group of lazily deployed models.

<img width="850" alt="Screen Shot 2022-05-10 at 11 44 32 PM" src="https://user-images.githubusercontent.com/6372689/167912592-05e016f7-8b5e-4311-9faa-439ad9466273.png">

### Use case

[2022-05-11 17:41] jiaodong commented on #24694
Related to #12289

[2022-05-11 17:45] KastanDay commented on #20702
I didn't realize that `pip install ray` != `pip install "ray[default]"`

The `"ray[default]" version includes necessary dependencies for things like Ray's Dashboard. Try installing that, which is okay to do on top of a regular install, because it just adds more dependencies. Good luck!

[2022-05-11 17:48] mwtian commented on #24176
Tried profiling memory usage of push-based shuffle, and the result is similar. Most memory usage seems to be due to metadata for arguments and objects.
<img width="1786" alt="image" src="https://user-images.githubusercontent.com/81660174/167910191-1a043782-2603-4107-ae7e-cb2810a5b393.png">

Raw data: [profile028.pb.gz](https://github.com/ray-project/ray/files/8672157/profile028.pb.gz)

Some of the

[2022-05-11 17:49] #24514 closed

[2022-05-11 17:56] jianoaix commented on #24662
Re-ran the first failed commit https://github.com/ray-project/ray/commit/27917f570de3296ecf6c81fbe0cc318efd448b1b and this test passed: https://buildkite.com/ray-project/release-tests-branch/builds/455#67835cf3-a579-410b-9ada-c2075b0ac0d3

[2022-05-11 18:14] DmitriGekhtman commented on #24323
Found some pretty good info on autoscaling in cluster guide section, courtesy of Alex an Ameer
https://docs.ray.io/en/latest/cluster/guide.html#autoscaling-with-ray

The task would be to
- make that info easier to find, maybe by giving it its own page accessible from the landing page
- flesh out details e.g. how resource bundles are processed

[2022-05-11 18:28] stephanie-wang opened #24696 "[docs] Hard to understand context for quick search results"
### Description

Currently search results on docs only provide the page name, which is often hard to understand without context about the parent pages. For example, the below screenshot shows identical results for the top 3, even though they actually link to different pages (fault tolerance for tasks, actors, vs objects).

![Screenshot from 2022-05-11 11-25-46](https://user-images.githubuserconten

[2022-05-11 18:30] mattip commented on #24653
Can we drop Python3.6? It reached EOL in Dec 2021, 4 months ago.

[2022-05-11 18:30] stephanie-wang commented on #24519
Just want to +1 this! It's actually quite an obstacle because there is just no way to find the results that you need if they don't appear in the top few.

[2022-05-11 18:30] mattip commented on #24653
Does ray have a declared python version support policy?

[2022-05-11 18:37] wmayner commented on #24559
Sure, here's a gist with the code and a test case: https://gist.github.com/wmayner/be88c0cb6f8fb3708e8126774e86ce95

[2022-05-11 19:16] #24460 closed

[2022-05-11 19:43] maxpumperla commented on #24696
@stephanie-wang thanks, we should definitely fix that.

On the flip side, it's also a good idea not to call to many documents by the same, unspecific title (which is also presumably not that great for SEO). Maybe we should tackle that, too?

[2022-05-11 19:55] stephanie-wang commented on #24696
Yeah, but I think it would probably be better to add some subtext instead of trying to differentiate all of the titles. Sometimes there really are things that we need to treat separately depending on the Ray Core component or depending on the library.

Here's another example of that, looking at checkpointing, which is a concept both in individual libraries and in Ray Core. The first result is Tune

[2022-05-11 19:59] jjyao commented on #24234
raylet was killed by oom
[code]

[2022-05-11 20:09] scv119 commented on #24234
is it a regression? if not new it doesn't necessary need to block release.

[2022-05-11 20:11] jjyao commented on #24234
It has been flaky since March.

[2022-05-11 20:37] #24482 closed

[2022-05-11 21:40] pcmoritz opened #24702 "[docs] Add end-to-end example on how to profile a Ray application"
### Description

Take for example Waleed's decision tree example https://medium.com/distributed-computing-with-ray/the-power-and-potential-of-ray-8f6d9f2c3d44 and show how to profile it with the Ray timeline (seeing how large the tasks are, how much time is spent in data serialization and deserialization).

This is motivated by a user I have recently communicated with who was parallelizing an algo

[2022-05-11 21:40] pcmoritz commented on #24702
@maxpumperla @dynamicwebpaige What do you think about this?

[2022-05-11 21:44] jianoaix commented on #24653
I tried pinning setuptools to a version used in MacOS, and it seems work: https://github.com/ray-project/ray/pull/24699

Dropping 3.6 sounds good to me. @zhe-thoughts on the Python version support lifecycle.

If that's more risky to change, to unbreak CI, I think we can just pin setuptools for now.

[2022-05-11 22:54] julietnasar commented on #24604
I'll take a stab at cleaning this up!

[2022-05-11 23:27] #24499 closed

[2022-05-11 23:39] stephanie-wang commented on #23824
I think you can probably get it through C++, but I'm not totally sure. Why do you need it?

[2022-05-12 00:02] kira-lin commented on #23824
As you said, I should forward the task spec in ray.put. The task spec should refer to the first step, right? Because I want that get rerun if lost. So where should I get the task spec during  ray.put in the third step?

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Stephanie Wang ***@***.***>
发送时间: Thursday, May 12, 2022 7:39:32 AM
收件人: ray-project/ray ***@***.***

[2022-05-12 00:20] simon-mo commented on #24689
Print did show up once you remove `, *args` in the arguments. the http isn't because it hits validation error before it hits the print

[2022-05-12 00:20] simon-mo commented on #24689
[code]

[2022-05-12 00:24] stephanie-wang commented on #23824
Oh, got it. I think you actually want the task spec for the task that runs on the actor, though.

You will need to dive into the CoreWorker to do this. Here's a code sample to get the spec for the currently running [task](https://github.com/ray-project/ray/blob/master/src/ray/core_worker/core_worker.cc#L1682). I should have some time to help prototype this part next week, too, if you need it.

[2022-05-12 00:54] shrekris-anyscale opened #24710 "[serve] FastAPI integration does not support encapsulating `response_model` with `List`"
### What happened + What you expected to happen

This script raises an error:

[code]

[code]

However, the pure FastAPI equivalent runs fine:

[code]

The issue seems to occur when encapsulating the `response_model` with a `List` type. However, [the FastAPI documentation mentions that this is allowed](https://fastapi.tiangolo.com/tutorial/response-model/#response-model):

### Versions / Dependenc

[2022-05-12 01:02] DmitriGekhtman commented on #24361
@mbehrendt, I'm trying to understand if it's linked to Ray client -- does the issue continue to occur for you if, all other things equal, the script is executed on the Ray head node, connecting with `ray.init(address="auto")`?

[2022-05-12 01:02] scv119 opened #24711 "[Core] Actor not released when all references are released"
### What happened + What you expected to happen

[code]

In a two cpu cluster, this creates two actors, each of which takes 1 cpu, in an actor group,  releases the references to the actors; then creates another two actors.

we expect the second round of actor creation to be successful because the first two actors went out of scope, but it actually hangs.

### Versions / Dependencies

nightly

###

[2022-05-12 01:04] scv119 commented on #24711
ah I guess the reason is because we don't force kill actor, when the actor is still running, even all the references went out of scope.

[2022-05-12 01:05] DmitriGekhtman commented on #24361
Also, for some context -- I attempted to reproduce the issue with a similar set-up but
1. On K8s
2. Using MacOS locally for the Ray client connection
Wasn't able to reproduce the issue.

[2022-05-12 01:08] amogkam commented on #24711
I see, so this is expected behavior.

It does affect the experience on notebooks quite a bit. If I'm using Ray Datasets or Ray Train, or any library that orchestrates multiple actors, and one of them raises an error, I have to restart the entire notebook in order to free up the resources used by other actors.

[2022-05-12 01:08] scv119 commented on #24711
https://docs.ray.io/en/latest/ray-core/actors/terminating-actors.html is the document, looks not reflect the actual semantic.

[2022-05-12 01:11] DmitriGekhtman commented on #24361
@mbehrendt @cardchase the error message refers to `/tmp/ray/session_latest/logs/raylet.out`. Are you able to fetch that file to see the error?

Finally, one more question for @mbehrendt -- if you re-run the script with no workers at all (max_workers=0), what's the behavior? Does the head's Raylet crash?

[2022-05-12 01:11] scv119 commented on #24711
one concrete example @amogkam has is using libraries that manages actors (like dataset); user encountered some issues and tried to delete the dataset and creates a new one, but they might encounter this issue because some actor created by dataset is not killed in time.

[2022-05-12 01:17] kira-lin commented on #23824
That'll be appreciated!

[2022-05-12 01:19] rkooo567 commented on #24711
Hmm what about in the destructor of ActorGroup, you call ray,kill of all actors?

[2022-05-12 01:37] amogkam commented on #24711
I'm not sure if this will work all the time- the ActorGroup itself can still be in scope, even if the underlying actors are not. Basically you can change the last few lines of the code snippet above to this
[code]
and you will get the same problem, with the destructor of the ActorGroup never being called.

[2022-05-12 01:40] shrekris-anyscale commented on #24710
In case others run into this issue, one workaround is to make a separate Pydantic model that encapsulates the inner Pydantic model. For example:

[code]

This runs fine. The `ItemList` is acting like `List[Item]` did in the reproduction script.

You can also use [Pydantic's custom root types](https://pydantic-docs.helpmanual.io/usage/models/#custom-root-types) to create Pydantic models that act as

[2022-05-12 01:43] amogkam commented on #24711
So here's my thought process, let me know what you guys think

1. From the user perspective, this is pretty poor experience right now, especially on notebooks. To be able to understand what's going on, I need to know the following:
- How the libraries are using Ray actors
- How actor termination works (and even then the documentation is not fully correct as @scv119 pointed out).
So I think we shou

[2022-05-12 01:47] amogkam commented on #24711
We should definitely source other opinions here, but I think making this the default behavior makes sense. This is what I thought was already the default behavior to begin with 😅

[2022-05-12 01:49] amogkam commented on #24711
Btw one short term solution could be to just raise a better error message. Not sure how difficult that is, but basically logging some messages if there is not enough resources in the cluster, and there are actors that are out of scope but are still executing tasks, on how the user can terminate these actors.

[2022-05-12 01:52] scv119 commented on #24711
cc @jjyao ray 2.0 api clean up?

[2022-05-12 01:57] rkooo567 commented on #24711
A couple of caveats I can think of when we make an ungrateful shutdown when it goes out of scope.

1. Semantically not consistent with other .remote APIs. E.g., When task or actor task ref goes out of scope the task is not canceled, but it will run.
2. More prone to side effect because more tasks are "interrupted". If actor task has side effect, this could cause lots of unexpected consequences.

+

[2022-05-12 02:10] infzo commented on #24643
Well, it's great to have a serialized enhancement. I'll find out more. Thanks.

[2022-05-12 02:17] rkooo567 commented on #24711
Another factor to consider; Looks like Python thread has the same semantic as our actor (it doesn't forcefully cancel running tasks when the ref goes out of scope). I am also asking some other folks to learn the original motivation of this behavior now

[2022-05-12 02:22] amogkam commented on #24711
Got it, I see. Ok yeah we could resolve this at the library layer, but it would be great to document the behavior better.

I can make the change to Ray Train. @clarkzinzow @jianoaix are you guys OK with also implementing @rkooo567's code snippet above for Dataset's actor pool?

[2022-05-12 02:25] rkooo567 commented on #24711
Btw, to be clear, I am not against changing the default semantics. I am just trying to figure out caveats for better decision. However, if it is urgent, doing it in lib layer sounds more reasonable since it could be pretty breaking changes (and it might take some time to make a decision from 2.0 API clean up efforts).

[2022-05-12 02:34] amogkam commented on #24711
Yep that sounds good! It would be great to understand these caveats some more, and have a broader discussion about this.

[2022-05-12 02:40] jianoaix commented on #24711
It looks to me out-of-scope destruction semantics is more clear in general, but this seems very C++-ish rather Python, which I think Sang pointed out the semantics consistency with other APIs we have.
For Dataset I think we can implement the fix. Just not sure non-ActorPool uses of actors that may still have this UX issue in Notebook-like context.

[2022-05-12 03:17] cardchase commented on #24361
[There you go](https://gofile.io/d/yxWUI4)

[2022-05-12 03:22] matthewdeng commented on #24711
Going back to this, was this behavior true at some point in time? Seems like the answer is yes (the docs do explicitly call out the behavior is implemented in Python but not Java/C++).

Would someone be able to confirm if the behavior seen now is a regression or if it was an intentional change and the doc was never updated?

[2022-05-12 03:53] matthewdeng commented on #24519
One workaround I found is to directly go to https://docs.ray.io/en/latest/search.html

[2022-05-12 05:30] zhe-thoughts commented on #24653
Seems there are still a number of companies using Ray on Python 3.6. So I don't think it can be dropped as of now. cc @pcmoritz to confirm this

[2022-05-12 06:32] lizelive commented on #19116
3.10 :package: support would be very nice makes ray seem dead without it

[2022-05-12 07:23] #24653 closed

[2022-05-12 07:41] pcmoritz commented on #24653
We indeed still have a large number of 3.6 downloads and some large users on 3.6, so I don't think we can drop it at this point. However, 3.6 is definitely heading towards the end -- TensorFlow and PyTorch are already dropping building wheels for 3.6 in their recent releases.

[2022-05-12 07:58] larrylian opened #24721 "[Core|Pubsub] Old subscribers cannot listen to new information after gcs_server restart"
### What happened + What you expected to happen

 Old subscribers cannot listen to new information after gcs_server restart,like SubscribeAllNodeInfo subscribers。

What happened：
raylet.out is first node raylet's log .
gcs_server.1.out is gcs_server's log after gcs_server restart

1、add a new node 314ef1a71b2216122a0149ab45af181baf40fb5bdfe8592b4df08dbb after gcs_server restart
2、But raylet.out ca

[2022-05-12 09:29] WangTaoTheTonic commented on #24721
@iycheng @mwtian Can you help to ensure this?

[2022-05-12 09:34] maxpumperla opened #24723 "[docs] migrate from algolia docsearch v2 to v3"
### Description

For technical reasons (the Sphinx search box is an `input`, not a container) we resorted to working with algolia v2 to override the built-in search. The latest version is better maintained and documented, and seems to fix a lot of the UX issues we seem to be having out of the box.

[Here's what it looks like](https://github.com/algolia/docsearch/blob/next/.github/screencast.gif)

[2022-05-12 10:07] maxpumperla commented on #24472
@stephanie-wang fixed on master

[2022-05-12 10:07] #24472 closed

[2022-05-12 10:38] maxpumperla opened #24730 "[docs] Convert all rst files to md (like Serve!). Don't add new rst. 🚀"
### Description

We use quite an assortment of features from the Sphinx ecosystem, but we don't have to rely on the rather wonky `rst` format. Markdown is much more popular, and I think it will be much easier to attract new contributors if everything we publish is either in `.md` format (in MyST flavour) or an `.ipynb`.

We can slowly but surely migrate this over, not urgent. Once gone, we should

[2022-05-12 10:46] simonsays1980 opened #24731 "[RLlib] Duplicate custom metrics"
### What happened + What you expected to happen

# What happened?
I constructed my custom callbacks to collect some metrics, run my experimnt with `tune` and found them twice in TensorBoard. The first time under `tune/custom_metrics` and the second under `tune/sampler_results/custom_metrics`.

The reason for this behavior is that in the `Trainer` class the `results` dictionary gets provided with t

[2022-05-12 11:13] krfricke commented on #24604
Thanks @julietnasar that would be great!

[2022-05-12 13:32] mbehrendt commented on #24361
did you run any setup commands in the image? and at which value was your scaling ratio parameter?

[2022-05-12 15:24] mwtian commented on #24721
@iycheng has a pending PR for this: #24628

[2022-05-12 15:44] xwjiang2010 commented on #24208
This is great!
For my own understanding, does this mean that if I have a n-d numpy array returned, it will be automatically converted to an array with each element being (n-1) d numpy arrays?

[2022-05-12 15:56] simon-mo commented on #24730
lesson learned from my rst2myst process:
- Make sure to use Python 3.7!
- The steps are `rst2myst convert $(find .rst)`; rm $(find .rst)`.
- Then iterate over `make html` for the compilation process. The first try probably won't compile and most error should be broken references. Which are typically easy to fix!

[2022-05-12 16:25] #23439 closed

[2022-05-12 16:30] simonsays1980 opened #24737 "[tune] Make tfevents files smaller"
### Description

# Actual state
At present a trial writes a single `tfevents` file that can grow in large in size, if the trial runs long and has many metrics. On clouds like GCP, AWS, etc. this can become a problem as syncing to a bucket becomes slower by time until it almost stagnates and is finalized after the trial has finished. This makes users even wonder, if their experiment runs correctly.

[2022-05-12 16:41] Yard1 commented on #24737
cc @krfricke @amogkam

I am not sure if tensorboard supports combining results from multiple files, but if it does, then I think we should be able to implement this. @simonsays1980 how big was the file?

[2022-05-12 17:18] simon-mo opened #24738 "[Serve] Prototype C++ Worker in Serve"
### Description

Ray has C++ worker support along with cross language calling APIs. It would be nice to prototype to see how much performance gain can we have with a C++ based proxy.

### Use case

Performance
Bring your own C++ code

[2022-05-12 17:20] simonsays1980 commented on #24737
@Yard1 it does :) That was actually the clue with my two `tfevents` files. It glues it together. You can give it a try by running an experiment, interrupting and resuming it. There should then be two files and if you load only one of them you get only the number of timesteps therein.

What I right now look into, is, if the parameters in the `tune.SyncConfig` define the sync behavior of the `tfeven

[2022-05-12 17:22] edoakes commented on #24689
@simon-mo 🙈 that was pretty confusing. I suppose this isn't the user-reported issue then?

[2022-05-12 17:23] edoakes commented on #24177
@wuisawesome can you take this or redirect as appropriate?

[2022-05-12 17:33] simon-mo commented on #24689
I will continue to work with the user report on forum! Seems like we get more clarification there. I'll close this issue.

[2022-05-12 17:33] #24689 closed

[2022-05-12 17:34] wuisawesome commented on #24177
@edoakes I can take this one.

@IanLeeClaxton, we can definitely fix this bug, but just note that setting upscaling_speed to 0 is a bit of an edge case and will only allow 5 nodes at a time to be launched no matter how big the cluster is.

[2022-05-12 17:36] scv119 opened #24740 "[Core] shuffle performance regression"
### What happened + What you expected to happen

we noticed performance regression for nightly test shuffle_1tb_5000_partitions. concretely the test previously takes 1h10m to finish but now it takes more than 2h30minutes.

after investigation we believe mostly likely 5a8264015b caused the regression.

here is the run before 5a8264015b: https://console.anyscale.com/o/anyscale-internal/projects/prj_

[2022-05-12 17:37] scv119 commented on #24740
@mwtian I tried revert the pr but it requires some merging due to follow up renaming #24451. Let you to decide if we should revert that too.

[2022-05-12 17:56] mwtian commented on #24740
Reverting both could be cleaner.

[2022-05-12 17:57] edoakes commented on #24689
Thanks 👍

[2022-05-12 19:08] stephanie-wang commented on #24519
Hmm I think there is still an issue here. I just tried it on the master version of docs
![Screenshot from 2022-05-12 12-07-55](https://user-images.githubusercontent.com/2560516/168150268-2bba9d3e-40bc-4578-9193-0120a593c223.png)
.

[2022-05-12 19:58] stephanie-wang commented on #24519
Oh hmm may have just been a caching issue on my laptop. Never mind!

[2022-05-12 19:58] #24519 closed

[2022-05-12 20:08] scv119 commented on #24661
confirmed that with the merge the test passed; while I'm kicking off more runs, I'll mark this closed.
https://console.anyscale.com/o/anyscale-internal/projects/prj_SVFGM5yBqK6DHCfLtRMryXHM/clusters/ses_rH3ATVQDCqkVgBijDcxpVQqC

[2022-05-12 20:08] #24661 closed

[2022-05-12 21:12] IanLeeClaxton commented on #24177
I thought this also, we need to scale to a fixed number of nodes but we do not want to manually create a cluster. I was thinking maybe if you had a strict property for the cluster this could be used to scale to the min worker nodes and with a zero upscaling_speed the cluster will only scale down when jobs complete

[2022-05-12 21:14] wuisawesome commented on #24177
I think most users set `min_workers` and `max_workers` to the same value to achieve this. Let me know if i'm misunderstanding the problem though.

[2022-05-12 22:52] ZhijieWang opened #24750 "[RLlib] Worker Fault Tolerance and Reconstruct Execution Plan"
### Description

it has been reported (not yet confirmed)
1. After restore worker, with some fault tolerance, if RL Lib can't achieve learning in 3 episodes, it will kill itself,
2. Restoring from checkpoints seems to be in sequential
3. Consider support cases where we overprovision or under provision learners, discard stale data with configurable threshold (maybe learning buffer is sufficient?
4.

[2022-05-12 22:54] ZhijieWang commented on #24750
@dynamicwebpaige  fyi. @gjoliver is engaged.
@zhe-thoughts, you can use start from here and track the progress, such as release tests blocker etc.

[2022-05-12 22:56] edoakes commented on #23399
@SongGuyang sorry for leaving you hanging here, we don't have anyone actively working on this at the moment because we are focused on finishing the runtime_env stability & plugins work. I'm also not sure what the best solution is -- the reason I want to use the actor as a supervisor is because we can rely directly on the existing runtime_env setup and scheduling logic rather than reinventing it fo

[2022-05-12 22:59] edoakes commented on #23399
Of course, if you're interested in contributing here before then we'd appreciate it :)

[2022-05-12 23:07] stephanie-wang commented on #24248
I'm upgrading this to P1 since it is actually pretty bad for debugging if we're silently dropping errors.

@rkooo567 do you think you have bandwidth to take this in the next week or two?

[2022-05-12 23:17] #24740 closed

[2022-05-13 00:56] scv119 commented on #24663
this has been a known flaky tests so not release blocker.

[2022-05-13 00:56] #24663 closed

[2022-05-13 01:35] #23612 closed

[2022-05-13 01:37] #24660 closed

[2022-05-13 01:38] stephanie-wang opened #24757 "[Datasets] Unskip Datasets memory release tests"
### What happened + What you expected to happen

This Datasets test has been failing since #24523, although the PR seems to be unrelated. Adding timeouts and retries didn't seem to help.

### Versions / Dependencies

2.0dev

### Reproduction script

bazel test //python/ray/data:tests/test_optimize

### Issue Severity

_No response_

[2022-05-13 01:38] stephanie-wang commented on #24757
cc @clarkzinzow

[2022-05-13 02:06] #24109 closed

[2022-05-13 03:17] DmitriGekhtman commented on #24730
[Oh, good, I'm not crazy.](https://github.com/ray-project/ray/pull/21086#discussion_r789993339)

[2022-05-13 03:22] DmitriGekhtman commented on #24361
I meant no worker Ray nodes. I wonder if the crash happens before scale-up -- if so, it might be possible to reproduce without spinning up any nodes.
On the other hand, that hypothesis is inconsistent with the observation that the crash happens only with a large upscaling speed.

[2022-05-13 03:27] DmitriGekhtman commented on #24361
I see a lot of
`[2022-04-30 15:38:15,378 I 5028 5416] (raylet.exe) object_buffer_pool.cc:153: Not enough memory to create requested object 00ffffffffffffffffffffffffffffffffffffff0100000012000000, aborting
`
cc @jianoaix and the ray-core folks on this thread already @scv119 @jjyao and @rkooo567 (I saw your thumbs up :))

[2022-05-13 03:30] #19593 closed

[2022-05-13 06:13] mbehrendt commented on #24361
[raylet.out.txt](https://github.com/ray-project/ray/files/8684502/raylet.out.txt)
 @DmitriGekhtman

[2022-05-13 06:33] mbehrendt commented on #24361
i see it failing both when using the client directly and when launching via `ray submit`

[2022-05-13 06:39] mbehrendt commented on #24361
fwiw -- even when it's failing, the additionally requested VMs are all provisioned. However, I can't do anything with them anymore, since the processes on the head node died.

[2022-05-13 06:46] marianogabitto commented on #21479
I am having the same issue when I am in a node instantiated by the sun command.

I want to add that this do not happens if I install ray 0.6.3 .

[2022-05-13 06:48] maxpumperla commented on #24702
@pcmoritz sounds very interesting, let's go for it :D

[2022-05-13 07:38] maxpumperla commented on #24730
thanks @simon-mo! So far I've only done this manually, one by one. But it might be a good idea to speed this up a little, e.g. go by project.

[2022-05-13 08:06] kfstorm commented on #21220
Should we push forward about merging the api and runtime modules?

[2022-05-13 09:47] wes3985 commented on #24177
@wuisawesome  and @edoakes I am also experiencing this issue. I have a fixed daily workload that is distributed across multiple workers and have had to set max and min workers to 'n' and 'n-1' respectively. Its often the case that a model on one worker may take a bit more or less time than the others but the workers do not get removed when complete and all workers remain 'up' until the entire work

[2022-05-13 10:15] simonsays1980 opened #24769 "[RLlib, tune, ml] Import errors when working on the master"
### What happened + What you expected to happen

# What happened
For working on a `tune` feature I created a new branch and also created the appropriate links for `rllib`, `tune`, and `ml` via `python pytthon/setup-dev.py`.

I get the following error when I import `ppo` from `ray.rllib.agents.ppo`:

[code]
This is somehow something about linking as there occur different errors when leaving out `tu

[2022-05-13 10:53] SongGuyang commented on #23399
Seems we still have more than a half month before June. I will lead discuss first in Ant next week and go back to sync with you.

[2022-05-13 11:21] mattip commented on #24251
It seems `test_ray_init` has fallen off the flaky scoreboard. Closing.

[2022-05-13 11:21] #24251 closed

[2022-05-13 11:30] michaelfeil commented on #17631
For the sake of the wandb exclusion, you could do this with `excludes` keyword in the wandb integration.

I modified this integration to compile the "excludes" as regex string, and allows you to filter with regex, instead of needing to provide the exact string.

`from ray.tune.integration.wandb import *
import re
from ray.tune.utils import flatten_dict, merge_dicts, unflattened_lookup

from ray.tu

[2022-05-13 14:43] maxpumperla opened #24780 "[docs] 🔢 Establish configurable galleries for ecosystem integrations and other cases"
### Description

The executable book project has an interesting way of defining example galleries like [this one](https://executablebooks.org/en/latest/gallery.html)

![Screenshot 2022-05-13 at 16 38 47](https://user-images.githubusercontent.com/3462566/168307416-13381377-9ab1-4d48-9a93-ca0c467a1520.png)

purely by touching a *simple to modify yaml file*. We could use this to improve the appeal of

[2022-05-13 15:59] #24513 closed

[2022-05-13 16:25] mikwieczorek commented on #18212
Hi, any updated on the problem @DmitriGekhtman ?
Using `helm uninstall ray-cluster` removes the operator while the head and workers are intact.

BTW. Is the k8s operator still the recommended way or KubeRay is the new way for deploying RayCluster?

[2022-05-13 16:26] edoakes commented on #24710
Maybe @sihanwang41 can take this to build familiarity with a new part of the code?

[2022-05-13 16:29] frigobar93 opened #24784 "Ray component: Core: PoolActor processes hanging"
### What happened + What you expected to happen

I'm attempting to use a hybrid solution of ray.util.multiprocessing.Pool and multiprocessing.Pool. It works exactly as I'd hope for about 19 of every 20 jobs, but on the 1 job where it doesn't our Python script hangs at the Ray pool.map step. When I look at running processes I can see that, along with my hung Python script, there is what appears to

[2022-05-13 17:20] dynamicwebpaige commented on #11680
I'd like to propose boosting the priority on this tutorial. We should also create a supplemental guide, RE: debugging issues with autoscaling, and pinpointing where issues are occurring.

[2022-05-13 17:21] wuisawesome commented on #24177
@wes3985 I think you're describing a different problem. Do you mind filing a separate issue (and tag me in it)? Your use case definitely makes sense.

[2022-05-13 17:44] #24526 closed

[2022-05-13 17:53] sihanwang41 commented on #24710
yeah, I will take a look

[2022-05-13 18:00] simon-mo opened #24786 "[Serve][Doc] User Guide for Iterative Development with Ray Serve"
It should mention:
- autoreload
- recommended startup and shutdown sequence
- `serve.run` core workflow

[2022-05-13 18:01] simon-mo opened #24787 "[Serve][Doc] User Guide for Going to Production with Ray Serve"
It should include:
- How to run he go to production workflow on laptop
- How to run with remote cluster
- How to run it with K8s
- What's the relationship between Serve app, Ray Cluster, and K8s cluster.

[2022-05-13 18:02] shrekris-anyscale commented on #24710
@edoakes @sihanwang41 Yeah, that sounds good. I chatted with @simon-mo offline, and it sounds like this could be due to some workarounds used for serialization over the wire with CloudPickle. @simon-mo could you provide additional context here if there is any?

[2022-05-13 18:10] kouroshHakha opened #24788 "[RLlib] name conflict in training_iteration"
### Description

`training_iteration()` is an already used property in `tune.Trainable` that we are overriding with a method in `rllib.Trainer`. We should consider renaming the `training_iteration()` API.

### Use case

_No response_

[2022-05-13 18:18] jianoaix commented on #24662
Fixed by https://github.com/ray-project/ray/pull/24758.

@avnishn can you cherry pick?

[2022-05-13 18:28] #24394 closed

[2022-05-13 18:42] ericl commented on #24270
Hmm how would this help? Seems you'd need to materialize anyway prior to the shuffle map stage, since you'd not want to repeat the computation for generating the data before sample.

[2022-05-13 18:55] stephanie-wang commented on #24270
Currently it looks like this: Load data -> spill -> restore -> sample -> restore -> map ...

With fusion, we can get it to: Load data + sample -> spill -> restore -> map ...

But actually that did make me realize - I don't know if it's currently possible to fuse these stages? Because we would need to add a return value to return the sample along with the block.

Judging from the 10TB results, it l

[2022-05-13 19:00] ericl commented on #24270
Yeah, we'd need to special case this for sure. The current fusion code would be discarding the blocks of the load stage.

[2022-05-13 19:56] simon-mo opened #24790 "[Serve] `serve run --reload` command"
### Description

`serve run` currently supports one off deploying and health checking an application. However, common web servers like uvicorn support file watching for development convenience. We can use the same library https://watchfiles.helpmanual.io/ to achieve this.

### Use case

`serve run --reload my_app:dag_node` and change any code within the directory -> redeploy.

[2022-05-13 20:04] zhe-thoughts commented on #24662
Yup let's do a separate cherry-pick PR. Thanks @jianoaix

[2022-05-13 20:34] jianoaix commented on #24662
Done: https://github.com/ray-project/ray/commit/096918b357a2978e6f771ffb555cb60f2c8bc05b

[2022-05-13 20:35] #24662 closed

[2022-05-13 20:55] spolcyn opened #24793 "[Serve] Can't autoscale deployment when target ongoing requests is 1"
### What happened + What you expected to happen

Issue: In Ray Serve, if `target_num_ongoing_requests_per_replica` is 1 and `max_concurrent_queries` is also 1, then autoscaling will never occur.

Expected: I can set the target to 1 and autoscaling will occur as I send more queries to the deployment, but a single replica will never have more than 1 ongoing request.

See: https://discuss.ray.io/t/au

[2022-05-13 20:55] spolcyn commented on #24793
@simon-mo

[2022-05-13 21:44] dirkweissenborn commented on #12630
Any updates on this issue? This still happens, e.g., with the following error:
[code]

I haven't really found a workaround other than running a command on all worker vms that changes the owner of the generated files. This is super hacky though.

[2022-05-13 21:56] DmitriGekhtman opened #24796 "[Docs][Core] Document examples, use-cases for fractional CPU requests"
### Description

Using fractional CPU (and other resources) in Ray tasks and actors might not be well documented.
(Feel free to close this issue if that's not the case.) This should be documented clearly and explicitly.

This a pretty standard way to control concurrency in Ray but many users seem to get tripped up on this:
https://discuss.ray.io/t/ray-grpc-ambiguous-error-message/5874/12

In gener

[2022-05-13 22:35] DmitriGekhtman commented on #24361
I guess that means the head is dying after the autoscaler provisions resources.

Hmm, that last raylet log file didn't show any error message.
The other log files in `/tmp/ray/session_latest/logs` may be helpful as well.

[2022-05-13 22:54] DmitriGekhtman commented on #18212
It's possible to install and uninstall Ray clusters and the operator independently.
See https://docs.ray.io/en/latest/cluster/kubernetes-advanced.html#running-multiple-ray-clusters

I'd personally recommend KubeRay. Main caveat with KubeRay is that Ray autoscaler integration is still in the works. If you're ok with statically sized clusters (or managing scale yourself) then go with KubeRay.

[2022-05-13 22:55] rkooo567 commented on #24248
Hmm I will be a bit busy until June 21st I think. I can share some thoughts if there's anybody who has bandwidth on Shuffle project's side instead?

[2022-05-13 23:04] stephanie-wang commented on #24248
I think we can find someone to work on it. But please share what you know about the issue so far!

[2022-05-14 00:41] gjoliver opened #24802 "[RLlib] Sampler <-> Env Spec"
### Description

This is a cover issue for our latest thoughts about the interfacing spec between RLlib's Sampler and user environments.

The context behind this is that users are using complicated environments in production, which sometimes have dependencies on other remote backend services.
There is then a question of how these environments should report application errors to RLlib during simula

[2022-05-14 00:52] suquark opened #24803 "[workflow] Some recent changes break 'workflow.get_output'"
### What happened + What you expected to happen

This example in the doc failed to work.

[code]

However, the original `workflow.get_output` is also implemented in a tricky way. Some recent major refactoring would sweep away all related issues.

### Versions / Dependencies

/

### Reproduction script

/

### Issue Severity

_No response_

[2022-05-14 02:30] wumpus commented on #19116
To explain the why of the previous comment: I use ray in the guts of some middleware that facilitates distributed computing for the black hole research group that published that image of the black hole in the middle of our galaxy yesterday.

I would like to support as many python versions as possible, especially the "current" one. But I don't know how to install ray for python 3.10, reliably acros

[2022-05-14 02:48] #13594 closed

[2022-05-14 09:44] ARDivekar commented on #9704
I like to use `self` as the name for the method, instead of `getattr`, feels more natural:

[code]

[2022-05-14 16:38] gjoliver opened #24806 "[RLlib] Policy migration TODOs"
### Description

We are migrating RLlib's policy implementation to be sub-class based. The remaining tasks in the order priority are:

Finish migrating the rest of the agents. [P0]

Removing references of worker and worker_index from Policy classes. [P1]
Policy right now uses worker_index to decide whether a model should be placed on CPU or GPU.
This type of logic needs to happen in application la

[2022-05-14 17:01] gjoliver commented on #24806
@smorad and @kouroshHakha also have a lot of good comments on the PR https://github.com/ray-project/ray/pull/24742
centering around better API names, consolidating API calls, and some potential bugs.
we should converge on the decisions and tackle them as a team too.

[2022-05-14 17:02] simonsays1980 commented on #24769
@amogkam calling `ray install-nightly` results in the following error:

[code]

[2022-05-14 17:03] DmitriGekhtman opened #24807 "[Autoscaler][Logs][minor] Prefix (autoscaler) instead of (scheduler) for autoscaler events"
### What happened + What you expected to happen

The autoscaler pushes some logs to the Ray driver. The logs are prefixed with `(scheduler)` which is misleading.
The prefix should be `(autoscaler)`.

### Versions / Dependencies

Ray master.

### Reproduction script

Submit a Ray task or actor which triggers upscaling to trigger the logs.

### Issue Severity

Low: It annoys or frustrates me.

[2022-05-14 18:33] mzaiprog commented on #19116
At least on Windows 11 I managed to build ray tag:1.12.0 using the attached patch

by following the instructions on: https://docs.ray.io/en/latest/ray-contribute/development.html

May be it helps on linux too.
 

Mit freundlichen Grüßen
Mike Ziebeck

 
 

Gesendet: Samstag, 14. Mai 2022 um 04:30 Uhr
Von: "Greg Lindahl" ***@***.***>
An: "ray-project/ray" ***@***.***>
Cc: "mzaiprog" ***@***.***>, "C

[2022-05-14 19:26] smorad commented on #24806
Quick summary of the biggest points:

1.

2.

3.

4.

[2022-05-14 20:08] matthewdeng opened #24808 "[Docs] full search results generates wrong URL"
### What happened + What you expected to happen

1. Go to any subpage (e.g. https://docs.ray.io/en/master/data/dataset.html#)
2. Search for something in the search bar
3. Press enter

Expectation: https://docs.ray.io/en/master/search.html?q=test
Reality: https://docs.ray.io/en/master/data/search.html?q=test

cc @maxpumperla follow-up to https://github.com/ray-project/ray/pull/24722

### Versions /

[2022-05-14 21:15] amogkam commented on #24769
Hmm that might be a bug with install-nightly command.

Can you do the other option of also symlinking ray/util directory.

[2022-05-14 21:20] matthewdeng opened #24809 "[Tune] `MedianStoppingRule` mishandles `nan`s"
### What happened + What you expected to happen

From https://ray-distributed.slack.com/archives/CNECXMW22/p1652378266020999

### Root Cause

The general logic for `MedianStoppingRule` is:
1. Calculate `np.mean` of each Trial's `metric`s.
2. Calculate `np.median` across the results of [1].
3. Compare the current Trial's `metric` against [3] using `max` or `min`.

If any Trial ever reports `nan`, t

[2022-05-14 22:25] matthewdeng opened #24810 "[Clusters][Docs] cluster authentication instructions unclear"
From https://ray-distributed.slack.com/archives/CNECXMW22/p1651851717897509?thread_ts=1651523530.713409&cid=CNECXMW22

[2022-05-15 00:03] mwtian commented on #24407
I don't see much backlog for MacOS builds now. Closing.

[2022-05-15 00:03] #24407 closed

[2022-05-15 00:22] clarkzinzow commented on #24208
Correct! If the UDF returns an ndarray, the outermost dimension of the ndarray will be treated as the row (batch) dimension; if the UDF returns a list of ndarrays, the list will be treated as the row (batch) dimension.

[code]

[2022-05-15 02:04] clarkzinzow opened #24811 "[Datasets] Provide a `"numpy"` batch format for batch mapping and batch consumption."
Users working with tensor-only or tensor-heavy datasets want to be able to work directly with the tensors in the UDFs and when consuming batches. Datasets should provide a `"numpy"` batch format for both, which will allow users to request that the Datasets batches are provided as NumPy ndarrays.

## Example

[code]

## Semantics for block types

This would have the following semantics:
- **Arrow b

[2022-05-15 09:45] simonsays1980 commented on #24769
@amogkam Thanks for your reply! I did this and run into the next error:

[2022-05-15 11:34] Jet132 commented on #23945
Sorry for the late reply. I was busy last week. No, there are no environment variable names containing `PYTHON`.

I've just tested a clean `3.9.12` python.org default installation (except for enabling the "Add to PATH" option) on a second machine.
It yielded the same results with `redis` having to be added manually and it erroring out after 30 seconds with `GrpcUnavailable`. Note that I used the f

[2022-05-15 13:28] ArturNiederfahrenhorst commented on #21246
Hey @J-S-Robinson @zbwzwd @gramhagen @awarebayes,

I've written a [fix](https://github.com/ray-project/ray/pull/24783).
[These metrics](https://tensorboard.dev/experiment/FAdsRNtpQwaTQKqjaS2JDQ/#scalars) are now being reported. Please let us know if this works for you!

[2022-05-15 13:28] #21246 closed

[2022-05-15 14:22] jimthompson5802 opened #24815 "[Tune: scheduler] shim tune.create_scheduler() does not properly parse kwargs for pb2 scheduler"
### What happened + What you expected to happen

The shim `tune.create_scheduler()` does not properly parse the keyword parameters passed in a dictionary for the `pb2` scheduler.   For this call
[code]

This error is generated:
[code]

The incorrect parsing appers to be specific to the `pb2` scheduler.  All other schedulers kwargs are processed correctly.

From what I can tell, the issue might be

[2022-05-15 16:14] jamuus commented on #21457
Hey,

I've run into the same issue.

From the debugging I've done it seems to be the calls to` get_q_values` in `action_distribution_fn` don't have actions passed in, so `_get_q_value` doesn't concatenate anything with the observation and the dimension mismatch occurs.

[code]

With #23814 and passing in `input_dict['actions']` it progresses further but I'm seeing other seemingly unrelated issues.

[2022-05-15 16:37] BabelTower opened #24818 "[Tune] Issue on page /tune/api_docs/search_space.html"
how can i generate an interval by ray.tune as a hyperparameter for search space?

i want my hyperparameter be a format as (a, b), which a <= b. so that my program can sample for this interval.

[2022-05-15 18:16] clarkzinzow opened #24819 "[Datasets] In `read_{format}()` APIs, automatically filter out files that don't match the format"
The Datasets `read_{format}()` APIs will currently fail if pointed at a directory that contains any files not in that format. E.g., `ray.data.read_json("/some/dir")` will fail if `/some/dir` contains any non-JSON files (e.g. a readme).

We can greatly improve the UX here by:
1. Providing a `{format}PathPartitionFilter` for each file-based datasource.
2. Setting said `{format}PathPartitionFilter` a

[2022-05-15 18:47] matthewdeng commented on #24818
Hey @BabelTower, can you elaborate more on the criteria for this interval?

In your scenario, are a and b already known and for each Trial you want to generate 1 value in the range (a, b)? Or do you want to generate values for a and b which will be used within the Trial?

[2022-05-15 18:58] matthewdeng commented on #24815
Hey @jimthompson5802, thanks for the really clean bug report and repro! Taking a look over this, your hypothesis looks correct.

As a workaround, could you just skip over `create_scheduler` and directly instantiate the object?
[code]

Also, would you be interested in making a PR to fix the issue?

[2022-05-15 19:27] jimthompson5802 commented on #24815
@matthewdeng   thank you for confirming the hypothesis.

Actually, I was thinking of possible fix for the issue, something like this in this area: https://github.com/ray-project/ray/blob/5c9b1003d56eca4e0d06e4077a09ad0b8106fa16/python/ray/tune/schedulers/__init__.py#L63-L64  the fix would be
[code]

One concern I had was the comment in the wrapper about
[code]

For the above fix, I would have to i

[2022-05-15 19:54] matthewdeng commented on #24815
In general I think we'd want to adhere to the same logic in `_pb2_importer` and only import `PB2` if `scheduler == "pb2"`!
 And going off that, we should not have to duplicate the import logic.

One idea I had is to clean up the creation logic of `SchedulerClass` to directly capture the `_pb2_importer` logic if `scheduler == "pb2"` and return `PB2`. IMO it's a little strange that right now `Schedu

[2022-05-15 20:44] jimthompson5802 commented on #24815
This is the part that I'm scratching my head on.

I thought the existing logic would have done what you suggested.  Though in looking at `_pb2_importer` again, it appears to return an instanstiation of the PB2 class vs the class itself.  All the other entries are classes.  Maybe the fix is as simple as
[code]

There are some tasks, I need to complete for the open source project I'm contributing to

[2022-05-15 21:35] matthewdeng commented on #24675
Hmm this does seem odd, are any of the other files getting synchronized? @krfricke any ideas?

[2022-05-15 22:19] marsupialtail opened #24823 "Ray core (Ray client) problem with 1.12.0"
### What happened + What you expected to happen

This is a problem when running Ray 1.11 on cluster and Ray 1.12 on client.

Doing ray.init with address = cluster ip results in ModuleNotFoundError: No module named 'ray.runtime_env'

### Versions / Dependencies

1.12 on client, 1.11 on cluster

### Reproduction script

start a ray cluster with ray 1.11, then try to do ray.init on a ray client with

[2022-05-15 22:35] avnishn opened #24824 "[RLlib] [Docs] How to tune compute stability parameters for DDPPO, AlphaStar, IMPALA/APPO, APEX"
### Description

We need to create documentation and logging details that help users to tune experiment hparams such as
`ray_wait_timeout_s` and `max_inflight_requests`

### Use case

Experiments for our power users who have really large sample batches/data

[2022-05-16 00:06] nb-themes opened #24826 "Ray init fails on AWS Lambda"
### What happened + What you expected to happen

When initializing ray on a 10GB lambda (6 CPUs) with a amazon/aws-lambda-python:3.8 Docker container I get the following error when trying to initialize with 3 CPUs:

[code]

### Versions / Dependencies

1.11.1

### Reproduction script

import ray
import psutil

num_cpus = psutil.cpu_count(logical=True)
print("Number of available CPUs:", num_cpus)
n

[2022-05-16 00:26] matthewdeng commented on #24823
Hey @marsupialtail, in general you should be using the same version of Ray or [an error will be raised](https://docs.ray.io/en/latest/cluster/ray-client.html#versioning-requirements).

[2022-05-16 01:31] AlxDfy commented on #24169
Also running into this exact issue and downgrading doesn't fix it unfortunately. Tried everything from 1.7 - 1.12
![image](https://user-images.githubusercontent.com/4674698/168504974-75c983b8-b351-43da-879e-dc761d0e91c2.png)

[2022-05-16 01:33] nb-themes commented on #24826
Lambda unfortunately doesn't support multiprocess pools, only pipes and so ray won't work there.

[code]
https://aws.amazon.com/blogs/compute/parallel-processing-in-python-with-aws-lambda/

[2022-05-16 01:33] #24826 closed

[2022-05-16 03:16] jovany-wang commented on #21220
The benefits of merging api module and runtime module are:
- Avoiding too many reflection invocations.
- We now have only one implementation, it's unnecessary to introduce a runtime module in principle.
- It also could reduce the LOC.

Disadvantages：
- It's a break change.
- ?

I prefer to merge them, but I don't know the concerns from @raulchen .

[2022-05-16 03:42] xwjiang2010 opened #24833 "[air] unactionable `fork_posix.cc` error message from (raylet)"
### What happened + What you expected to happen

Not sure what it means and what I am supposed to do about it.

[code]

### Versions / Dependencies

Master

### Reproduction script

Pretty much every script that I run.

### Issue Severity

Low: It annoys or frustrates me.

[2022-05-16 03:49] jovany-wang commented on #23415
I believe the priority should be system property first, because we still need an approach to change the configuration value when code is not changed.

The implementation details  could be:
1. All configuration items in RayConfig class are optional, to let us know which items are set or not for further merging.
2. Items set via system properties should be set into RayConfig.

[2022-05-16 03:53] jovany-wang commented on #23415
I updated the issue description according this merging logic.

[2022-05-16 06:17] rkooo567 commented on #21479
This must happen from the pretty latest version (I believe 1.10 or 1.11). But I haven't seen report from the latest version (1.12) I believe. @marianogabitto what's the version of Ray you are using?

[2022-05-16 06:46] rkooo567 opened #24835 "[Core] Reach parity of task status for `ray memory` and `ray list tasks`"
### Description

After this PR https://github.com/ray-project/ray/pull/24651, `ray list tasks` is able to display "RUNNING" state. However, this status is not available from `ray memory`.

The root problem is that "RUNNING" state is only available from the "execution side", but `ray memory` is only processing the state from the owner (caller) side, which cannot figure out if tasks is actually exec

[2022-05-16 06:51] rkooo567 opened #24836 "[Core] Refactor Ray memory codepath to follow same pattern as `ray list tasks`."
### Description

Currently, ray object information is embedded into `core_worker_stats` (https://github.com/ray-project/ray/blob/863943a5405c5e87dcabd2f804866d072e54eb0a/src/ray/protobuf/node_manager.proto#L309). We should decouple object information from `core_worker_stats` protobuf like we do for `ray list tasks`. (https://github.com/ray-project/ray/blob/863943a5405c5e87dcabd2f804866d072e54eb0a/

[2022-05-16 06:53] rkooo567 opened #24838 "[Core] Enhance runtime env state when `ray list runtime-env` is used."
### Description

We should implement "Per URI state" tracking as specified in https://github.com/ray-project/ray/blob/863943a5405c5e87dcabd2f804866d072e54eb0a/dashboard/modules/runtime_env/runtime_env_agent.py#L572.

Also, unlike other APIs, `ray list runtime-envs` return a "list" of runtime envs (unlike other APIs that return id -> data mapping). It's because there's no concept of "unique id" in

[2022-05-16 07:10] fuhuifang commented on #21868
I need to decorate the class at its definition:
[code]
and I'm getting
[code]
I'm using Ray 1.12.0. Any suggestions to fix this? Thanks!

[2022-05-16 07:41] simonsays1980 commented on #24769
Solved thanks to @Yard1 in [this thread](https://discuss.ray.io/t/rllib-installation-help/5577/7?u=lars_simon_zehnder) on the discussion board

[2022-05-16 07:41] #24769 closed

[2022-05-16 07:59] maxpumperla commented on #24808
@matthewdeng thanks, good catch! We're using a relative link to `/search.html`, which obv. doesn't work if you're not at the index page...

[2022-05-16 08:05] Jet132 commented on #24259
@rkooo567 have you taken a look at it yet?

I was able to kinda work around the issue by setting `reuse_actors` to `False` (which is the default) and never halting the tuning process. If I try to resume it reserves all resources and never actually moves any trails from the `PAUSED` state to `RUNNING` state.

[2022-05-16 09:08] kira-lin commented on #23824
Hi @stephanie-wang ,
I was trying to implement as you said, but it did not behave as expected. What I did is: in CreateOwnedAndIncrementLocalRef, if owner address is set, (that is to assign an actor as owner), it sends a rpc to the owner to generate an objectID. This objectID is generated using worker_context_.GetCurrentTaskID of the owner, but the objectid still does not look like the objects ret

[2022-05-16 09:11] jovany-wang commented on #21463
Items were finished.

[2022-05-16 09:11] #21463 closed

[2022-05-16 09:40] matthiaskoenig commented on #19116
Hi all,
it would be great if this could be solved.

This is already one of the highest rated issues based on reactions (so the community wants this)
https://github.com/ray-project/ray/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc
and there are multiple open pull requests which seem to address this.

Any chance of solving this or explaining what the big issue is with python 3.10?
Best Ma

[2022-05-16 11:16] wes3985 opened #24844 "ray autoscaler not de-scaling when individual workers fixed workload completes"
### What happened + What you expected to happen

I have a fixed daily workload that is distributed across multiple workers and have had to set max and min workers to 'n' and 'n-1' respectively. Its often the case that a model on one worker may take a bit more or less time than the others but the workers do not get removed when complete and all workers remain 'up' until the entire workload is compl

[2022-05-16 11:16] wes3985 commented on #24177
Thanks @wuisawesome, new issue created here: [https://github.com/ray-project/ray/issues/24844](url)

[2022-05-16 11:46] krfricke commented on #24259
@Jet132 can you please share which Ray version this was on? 1.12.0? Just want to make sure we try out the right things when we repro

[2022-05-16 12:15] Jet132 commented on #24259
I'm not quite sure but it most certainly was either `1.12.0` or `1.12.0.dev0`. It probably was `1.12.0`.

[2022-05-16 12:37] rkooo567 commented on #24259
@krfricke based on the fact that there's a workaround, I assume this could be Tune related issue? Do you have bandwidth to take an initial look? I can work on it soon otherwise

[2022-05-16 12:50] #23994 closed

[2022-05-16 12:56] rkooo567 commented on #24361
This is nothing special. It is a normal log that can happen under memory pressure.

[2022-05-16 12:57] rkooo567 commented on #24361
@jianoaix @scv119  Can you triage the issue? I currently have no capacity to take a look at this.

[2022-05-16 15:11] krfricke commented on #24259
Yep, this looks like a Tune problem:

[code]

the placement group exists but isn't re-used. cc @xwjiang2010 seems we have a problem with the caching.

[2022-05-16 15:30] krfricke commented on #24259
I've found the culprit, it's a faulty `has_resources_for_trial` implementation in the trial executor. Working on a fix now.

[2022-05-16 18:23] scv119 commented on #24361
I suspect the windows issues are OOM related.

Also my guess is that @mbehrendt and @cardchase are hitting different issues; just demonstrating similar symptoms.
@mbehrendt can you run dmesg to see if it's OOM killed?

[2022-05-16 18:28] scv119 commented on #24361
@mbehrendt I suspect the issue you are hitting are different than this windows one. Since the window's one is relatively easy to reproduce; we can first fix that and then revisit to see if your issue still reproduce.

[2022-05-16 18:33] scv119 commented on #24361
@mattip @czgdp1807 any insight into this one?

[2022-05-16 18:55] stephanie-wang opened #24854 "[core] Allow user to configure default max task retries"
### Description

The default for the `ray.remote(max_retries)` parameter is hardcoded as a Ray constant. It can be overridden for individual functions or task calls, but this is a bit awkward if you want to change the max retries for a specific library or application. The library has to expose it and make sure to reset the max_retries for every remote function that it defines.

We should improve t

[2022-05-16 19:02] stephanie-wang opened #24855 "[core] Add basic metrics for lineage reconstruction"
### Description

We should include some basic metrics for lineage reconstruction like:
- how many top-level objects are currently being recovered
- how many objects were recursively recovered (because they were needed by a top-level task)
- how long object recovery took

Looking for suggestions on how to expose these metrics. `ray memory --stats-only` would work for the first two, but the latter s

[2022-05-16 19:10] stephanie-wang opened #24856 "[Datasets] [Docs] Document fault tolerance in datasets"
### Description

We should document what fault tolerance guarantees Datasets provides.

### Use case

_No response_

[2022-05-16 19:39] spolcyn opened #24858 "[Dashboard] Connecting to dashboard forces port usage"
### What happened + What you expected to happen

1. Previously we used a URL with no port (dashboard.company.com) via a proxy to connect to the Ray Dashboard for monitoring and job submission. However, with the release of Ray 1.12, if the URL for the `JobSubmissionClient` doesn't have a port on it, there is no way to stop the implementation from adding a port number to it (https://github.com/ray-p

[2022-05-16 20:26] peterhaddad3121 commented on #24675
@krfricke @matthewdeng Looks like a ton of the .json files were uploaded and the typical: .json, .csv, .pckl, events.out, result,json. Everything you would expect from checkpoints. It runs for a while then fails.

[2022-05-16 20:54] jjyao commented on #13689
When an object is under reconstruction, pull manager keeps the bundle request active with no timeout, which may block the next bundle request that's needed for the object reconstruction. As a result, we have deadlock.

For example, task 1 takes object A as argument and returns object B, task 2 takes object B as argument. When we run task 2, pull manager will add B to the queue and then B is lost.

[2022-05-16 21:42] #24347 closed

[2022-05-16 22:31] Nintorac opened #24863 "[core] Uninformative error for unserialisable objects"
### What happened + What you expected to happen

I tried to run a ray tune job using the Sigopt suggester on a remote cluster. The sigopt suggester object was later found to be unserialisable however the stack trace gave no indication of this.

The stack trace looks like this

[code]

discussion around this issue can be found here https://ray-distributed.slack.com/archives/CNECXMW22/p1652417782100

[2022-05-16 22:34] Nintorac opened #24864 "[tune] SigOptSearch suggester is not serialisable"
### What happened + What you expected to happen

I tried to run a ray tune job using the Sigopt suggester on a remote cluster. The sigopt suggester object was later found to be unserialisable however the stack trace gave no indication of this.

The stack trace looks like this

discussion around this issue can be found here https://ray-distributed.slack.com/archives/CNECXMW22/p1652417782100299

Tha

[2022-05-16 22:44] simon-mo commented on #24858
cc @edoakes @architkulkarni

[2022-05-16 23:17] amogkam commented on #23951
This has been fixed in Ray 1.12.1!

[2022-05-16 23:17] #23951 closed

[2022-05-17 00:48] amogkam opened #24868 "[AIR] More checkpoint configurability"
### Description

I want to configure the following behavior in my training run (without using Tune):

1. Only keep a certain number of checkpoints on Disk. `RunConfig` does not accept this option currently.
2. Get the best checkpoint for my training run, not just the latest. `Result` only contains the last checkpoint saved by training, but it's not possible to get the best.

### Use case

_No resp

[2022-05-17 00:51] amogkam opened #24869 "[AIR] Add a `reconfigure` option to `ModelWrapperDeployment`"
### Description

Serve has an experimental feature to update deployments via a user config without having to restart the replicas.

Currently, this feature is not exposed through the `ModelWrapperDeployment` and has to be implemented manually by the user. We should add a `reconfigure` method to the deployment class that accepts a `ray.ml.Checkpoint` and creates a new predictor from this checkpoint

[2022-05-17 01:46] rkooo567 commented on #24833
cc @mwtian! Have you seen this log emitted from raylet before?

@xwjiang2010 do you use fork in your application code?

[2022-05-17 01:51] peterhaddad3121 commented on #24307
Hi @sven1977 , I wanted to follow up on this issue. I have still been experiencing problems and was curious if anything came to mind.

[2022-05-17 01:58] peterhaddad3121 commented on #14666
Hi @amogkam, I am running into this issue as well. I created a new issue here. https://github.com/ray-project/ray/issues/24307

[2022-05-17 04:41] #23643 closed

[2022-05-17 04:42] iycheng commented on #22814
duplicate https://github.com/ray-project/ray/issues/23155

[2022-05-17 04:42] #22814 closed

[2022-05-17 06:10] mattip commented on #24361
@cexen When you run inside a virtualenv, are you activating it first?
[code]

[2022-05-17 06:21] mattip commented on #21479
@marianogabitto two questions:
1. which version of ray are you running when you see the problem, before downgrading to 0.6.3?
2. Can you provide a reproducer script? I don't know what you mean by "when I am in a node instantiated by the sun command"

[2022-05-17 06:34] cexen commented on #24361
@mattip I tried both conditions: running python.exe directly or activating it first.

1. `.venv\Scripts\python.exe repro.py`
2. `.venv\Scripts\activate && python repro.py`
3. `.venv\Scripts\activate && .venv\Scripts\python.exe repro.py`

The three above produced the same error.

[2022-05-17 08:11] #18314 closed

[2022-05-17 08:53] kennethlien commented on #24248
Could you point us to the related PRs / any examples of bubbling up errors from workers?

[2022-05-17 09:54] mattip commented on #23945
The missing redis was reported in #23982, and fixed in #23991. You are correct that `pip install `ray[serve]` alone is broken for the 1.12.0 package.

[2022-05-17 10:00] mattip commented on #24361
Here is what I did to recreate the failure with the code from [this comment](https://github.com/ray-project/ray/issues/24361#issuecomment-1117232209) in `repr24361.py` in a new dos cmd.exe window:
[code]
<details>

[code]

</details>

Without installing redis, the run failed, see #23982 which was fixed in #23991

[code]

Now I can reproduce the failure:

<details>

[code]

</details>
In the `dashb

[2022-05-17 10:12] iasoon commented on #23847
Seems to be fixed (https://docs.ray.io/en/latest/ray-core/actors/actor-utils.html)

[2022-05-17 10:20] rkooo567 commented on #24248
@kennethlien
There are two paths where things can hang forever.

Spilling: needed when ray.put is called
Restoration: needed when ray.get is called

Right now, if spilling is failed, it is retried later when another spilling happens. (Ideally, we'd like to fail ray.put if this happens a lot, but I think this is P2).

For restoration, we have the hanging issue described in this issue.

Basically, t

[2022-05-17 10:23] rkooo567 opened #24876 "[Core Observability]"
### Description

https://discuss.ray.io/t/custom-process-name-for-ray-actors/6152/2

We'd like to do 2 things.
1. When the name is given to each task, we'd like to prefix them to driver logs.
2. When the name + repr is given to the task, we'd like to change the proc name to that instead of ray:[class_name].[method_name].

[code]

### Use case

Improve observability

[2022-05-17 10:43] rkooo567 commented on #24216
Hey @Samreay I have had no bandwidth to take a look at this issue, but I will take it over shortly. Please remind me if I don't update the status in 2 weeks.

[2022-05-17 11:38] XuehaiPan commented on #24876
Method `__repr__` may have side effect and may lead to potential issues. I think `ray:[class_name](name=[actor.name]).[method_name]()` would be good.

[2022-05-17 12:20] krfricke commented on #24259
A fix is in #24878 for which the repro passes for me.

[2022-05-17 12:22] #24808 closed

[2022-05-17 12:52] jimthompson5802 commented on #24815
@matthewdeng  ... an update:
* took awhile to get a dev environment in a docker container to working
*  I have a proposed fix for the `TuneError` exception, here is the same example program now working
[code]

* next step for me is update the test for this fix and to ensure it passes the linter tests.  Once this is done, I'll submit the PR.  Expect in the next day or two.

[2022-05-17 13:04] peterhaddad3121 commented on #24307
I did some additional investigating and it looks like this function is returning an empty string:

[code]

[2022-05-17 13:21] #24818 closed

[2022-05-17 13:51] mattip commented on #24361
digging into the logs:
- in one of the `python-core-worker-<uid>.log`s, I see this message ~27 secs in:
[code]

- in the `raylet.out` log file I see (note the timestamps, the processes start up at ~11:03:31)
[code]

- `dashboard_agent.log` has nothing exceptional.
[code]
  and that is it, the trail goes cold.

[2022-05-17 14:48] mattip commented on #24361
Now for a native installation, the log for  is
<details><summary>`python -m pip install ray[serve] redis`</summary>

[code]

</details>

After running the script, which runs successfully, the `dashboard_agent.log` is equivalent (of course the timestamps, log paths, and ports changed).

[2022-05-17 14:53] mattip commented on #24361
Here's one difference: the `raylet.out` log is different. The virtualenv run reports an error where this time the code reaches `store.cc`
[code]

[2022-05-17 16:28] maxpumperla commented on #24425
@zhe-thoughts I researched this a bit and e.g. the "Furo" Sphinx theme supports switching to dark mode out of the box (see screenshot below).

By doing so I learnt that the theme underlying ours (pydata theme) now has dark mode as well, so I have high hopes that this might be propagated to our "book" theme

![Screenshot 2022-05-13 at 12 04 29](https://user-images.githubusercontent.com/3462566/1688

[2022-05-17 17:24] xiurobert commented on #24574
Interesting, I can see that the call to python.exe is wrapped with quotes but not the actual python file itself.

[2022-05-17 17:34] xiurobert commented on #24568
Hey so turns out this was fixed in the latest release.

[2022-05-17 17:41] jaidisido opened #24879 "[Datasets] Write out directory-partitioned datasets"
### Description

Looking at `ray.data.Dataset.write_*` methods, none of them seem to support writing partitioned data. Is there a plan to support this in the future?

### Use case

Writing data partitioned by specific columns is a common pattern in data engineering. Various other frameworks support it including Spark, Arrow, and Pandas.

[2022-05-17 17:51] spolcyn commented on #24858
@edoakes Yep! That syncs to what I would expect, restated below to confirm:

1. `client = JobSubmissionClient()` will use `localhost:8265` by default (like `ray.init()`)
2. `client = JobSubmissionClient("dashboard.company.com")` will connect to `dashboard.company.com`
3. `client = JobSubmissionClient("dashboard.company.com:8265")` will connect to `dashboard.company.com:8265`

[2022-05-17 18:27] SJ-L commented on #24574
@xiurobert
Thank you for your kind help.  You can download the context.py through the google link below (I do now know how to upload it with GitHub...)
[https://drive.google.com/file/d/1CdVPqf3TdYRl5YU_Tj3X14bKAjEGbAvV/view?usp=sharing](url)

I extract the context.py from ray>>_private>>runtime_env>>context.py. I think this should be the right location. I am running Ray in Windows by the way. Let

[2022-05-17 18:54] Yard1 commented on #24494
Cannot repro on master, seems to be fixed already.

[2022-05-17 18:54] #24494 closed

[2022-05-17 19:08] christy commented on #24644
We recorded this **"live coding" debugging session** with Sven during RLlib office hours!
The video is available [on youtube](https://www.youtube.com/watch?v=bj6cIOSWXwQ).

**minute 28**:  Fix Ray Tune callback using issubclass.  See code section just before ray.init().

    Original code - this did not work
[code]

This works
[code]

**minute 29**: Explanation why issubclass needed for a dict obj

[2022-05-17 19:20] LingfengTao opened #24881 "[RLlib] Error when converting GYM Robotics env to Multi-agent Env with the make_multi_agent wrapper"
- High: It blocks me to complete my task.

Hi, I’m new to OpenAI Gym and RLlib. SO my question may be dumb.
I'm using
    Anaconda python 3.9
    Gym 0.21.0
    Ray 1.12.1
    Tensorflow 2.8
    Torch 1.11.0

Recently I’m doing a multi-agent project and trying to convert the OpenAI Gym robotics environments (Fetch and Handmanipulate) to the multiagent environment with the [make_multi_agent](https:

[2022-05-17 19:29] rapotdar opened #24882 "[RLlib]: Add tabular models to ModelV2"
### Description

Similar to the current torch/tf/jax ModelV2 models, add a new folder ('numpy' or 'tabular') that implements tabular models for RLlib, and trains them using e.g. ridge regression.

### Use case

Useful for contextual bandit/theory/recsys examples with small discrete state/action spaces that require convergence guarantees instead of neural networks.

[2022-05-17 19:44] marianogabitto commented on #21479
1. 1.20
2. Sorry, that was a typo. The script is quite simple
       conda activate env1
      python

within python:
import ray
ray.init()

[2022-05-17 20:21] #24624 closed

[2022-05-17 20:59] mattip commented on #24361
The difference seems to be in the PIDs of the agent. Inside the windows virtualenv, there is a shim python process that then starts the real python process. The second one is the one reported by `os.getpid()`, and appears at the end of the `raylet.out` log lines (from a different failing run than the one above), but maybe the first one is the one that "counts" for the `agent_manager.cc:94` callbac

[2022-05-17 21:12] spolcyn opened #24886 "[Jobs] Setting `RAY_LOG_TO_STDERR` results in empty job logs"
### What happened + What you expected to happen

1. When `RAY_LOG_TO_STDERR` is set, a job doesn't receive the logs from actors it creates.
2. We'd expect the logs to look the same whether `RAY_LOG_TO_STDERR` is set or unset.

Note: "empty" here means the job driver log lacks all the previous output from the actors created, and it only has the internal `python-core-driver` cpp logs.

### Versions

[2022-05-17 21:25] ericl opened #24888 "[client] Ray.init ignore_reinit_error=True doesn’t seem to work for ray client"
### What happened + What you expected to happen

From https://discuss.ray.io/t/ray-init-ignore-reinit-error-true-doesnt-seem-to-work-for-ray-client/6148

when I am using ray.init() from a client to connect to a ray cluster, even when I pass in the ignore_reinit_error=True argument, it returns: RuntimeError: Ray Client is already connected. Maybe you called ray.init(“ray://”) twice by accident?

cc

[2022-05-17 21:26] DmitriGekhtman opened #24889 "[K8s][KubeRay][Dashboard][Jobs] Flakey dashboard port-forwarding"
### What happened + What you expected to happen

When using the Dashboard of a Ray cluster running on K8s via port-forwarding, the port-forwarding connection sometimes gets randomly cut off with an error message like
[code]
In particular, this interrupts job submission.

Context: [Slack](https://ray-distributed.slack.com/archives/CN2RGCHRR/p1652739647230389), [Discuss](https://discuss.ray.io/t/ray

[2022-05-17 21:50] scv119 opened #24890 "[Core] race condition between job exits and actor creation."
### What happened + What you expected to happen

### Versions / Dependencies

1.12

### Reproduction script

N/A

### Issue Severity

_No response_

[2022-05-17 22:01] #24206 closed

[2022-05-17 22:16] spolcyn commented on #24419
@simon-mo We've verified the fix with the repro script and have been waiting on 1.13.0 to see if the issue reoccurs on our production workloads.

Since we don't know exactly when 1.13.0 will be out though, feel free to close this issue in the meantime. We can open a new issue with a new repro later if we run into the same error for another reason.

[2022-05-17 22:20] DmitriGekhtman commented on #24886
I think @clarkzinzow @rkooo567 are the `RAY_LOG_TO_STDERR` experts.
I think @edoakes is on-call for jobs stuff.

[2022-05-17 22:47] simon-mo commented on #24419
Awesome. 1.13.0 is actively in the work and going through extensive testing process now. Closing this for now.

[2022-05-17 22:47] #24419 closed

[2022-05-17 22:50] simon-mo commented on #23376
Supported now! thx @edoakes

[2022-05-17 22:50] #23376 closed

[2022-05-17 22:51] simon-mo commented on #12945
Supported now! thx @edoakes

[2022-05-17 22:51] #12945 closed

[2022-05-17 22:59] jimthompson5802 commented on #24815
@matthewdeng   submitted PR to address the bug.

[2022-05-17 23:17] xiurobert commented on #24574
Thanks for your quick response! I've located the offending line (68) in `python/ray/_private/runtime_env/context.py`

[2022-05-17 23:38] fuhuifang opened #24899 "[Core] use `@ray.remote` on a subclass with classmethods"
### Description

Reposting from https://discuss.ray.io/t/how-to-use-ray-remote-on-a-subclass/6150:

I want to define a class `Foo` with classmethod `main`, and an Actor class `Bar`:
[code]
and run into error
[code]
Ray version: 1.12.0

### Use case

I'm using Ray for orchestration, and a base class like `Foo` is required for easy user code.

[2022-05-18 01:06] SJ-L commented on #24574
@xiurobert Thank you very much. I probably can go ahead and fix the issue first.

[2022-05-18 02:29] rkooo567 commented on #24886
Hmm this is pretty tricky. It is because how we display logs to the driver is by reading a log file. If `RAY_LOG_TO_STDERR ` is set, we don't write anything to the log file, so it won't be able to get logs from the driver. I think there are 2 ways to fix it, but both are not very straightforward nor clean.

1. If `RAY_LOG_TO_STDERR` is set, the component directly publishes the batched log message

[2022-05-18 02:39] jovany-wang commented on #24890
It seems that solution should be similar with #13902 ？

[2022-05-18 03:57] #23089 closed

[2022-05-18 05:54] matthewdeng commented on #24675
One thing I noticed is that this has a `json` file extension but is actually saved as a pickled file. I wonder if AWS is rejecting it because of that...

https://github.com/ray-project/ray/blob/9b2086c726fba46b0aa2ded28920c0cb6952ec08/python/ray/tune/suggest/basic_variant.py#L393-L398

https://github.com/ray-project/ray/blob/9b2086c726fba46b0aa2ded28920c0cb6952ec08/python/ray/tune/utils/util.py#L3

[2022-05-18 07:03] czgdp1807 commented on #24899
I can look into this.

[2022-05-18 07:04] simonsays1980 opened #24904 "[RLlib|Core] module 'ray.ray_constants' has no attribute 'RAY_RUNTIME_ENV_HOOK'"
### What happened + What you expected to happen

# What happened
I ran the tests of my new exploration algorithm and they errored out with an error inside of `ray.init()`:

[code]

# What you expected to happen
That my tests run through as they did before, testing the algorithm functionality.

### Versions / Dependencies

Linux Fedora 35
Python 3.9.0
ray dev2.0.0

### Reproduction script

Run the

[2022-05-18 07:17] simonsays1980 commented on #24904
Had to merge the master and to rerun `setup-dev.py`

[2022-05-18 07:17] #24904 closed

[2022-05-18 07:41] wumuzi520 opened #24906 "[Core] Failed to delete named actor in client mode"
### What happened + What you expected to happen

The named actor should be dead when the reference count of actor handle decreased to 0, but it does not work in client mode.

### Versions / Dependencies

master branch

### Reproduction script

// Please set the following evn.
// export RAY_BACKEND_LOG_LEVEL=debug
// export RAY_CLIENT_MODE=1
// export RAY_PROFILING=1

def test_keep_calling_get_acto

[2022-05-18 08:13] HosseinRZ95 opened #24907 "[<Ray component: RLlib>] ppo error when not using critic"
### What happened + What you expected to happen

I tried a ppo agent with these configs:
model_config['batch_mode'] = 'complete_episodes' , model_config['use_gae'] = 'False',model_config['use_critic'] = 'False'
then I got this error:"
[/usr/local/lib/python3.7/dist-packages/ray/rllib/policy/torch_policy.py](https://localhost:8080/#) in <lambda>(s)
    701                 data.append(
    702

[2022-05-18 08:15] mattip commented on #23945
xref #24905, which has a pure-python fix

[2022-05-18 08:16] mattip commented on #24361
xref https://github.com/ray-project/ray/pull/24905, which has a pure-python fix

[2022-05-18 08:49] BigBen12138 commented on #24051
Please try `ray start --head --include-dashboard=true`, and it will remind you that you need to install ray[default].

[2022-05-18 09:53] #21328 closed

[2022-05-18 10:07] czgdp1807 commented on #24899
The following works for me,

[code]

**Output**

[code]

For actually supporting `.remote`, I would be required to do some more investigation and discussions. Let me know if the above works you. Thanks.

[2022-05-18 11:05] czgdp1807 commented on #24784
I tried to reproduce and got the following logs,

[code]

[2022-05-18 11:44] simonsays1980 commented on #24558
@mavroudisv Did you use in your experiment `num_workers>0`? As `Curiosity` in RLlib is up to now (regrettably) only synchronuously possible.

[2022-05-18 11:50] mavroudisv commented on #24558
Yes, I did. You're right that this is a common mistake but thankfully the error message in that case is clear!

[2022-05-18 12:12] simonsays1980 opened #24917 "[Core|RLlib] Using `grpcio==1.46.0` produces log spam `Other threads are currently calling into gRPC, skipping fork() handlers`"
### What happened + What you expected to happen

# What happened
I executed my RLlib algorithm with `tune` and everything ran, however I got some strange outputs on the shell:

[code]
This could be connected to the same environment variable as in [this PR](https://github.com/grpc/grpc/pull/29103) in `grpcio`.

# What you expected to happen
That I get the same output but without the lines
[code]

#

[2022-05-18 12:50] christianvogellive commented on #23423
is there any quick workaround for this issue currently? or do we need to wait for the PR?
kind of stuck because of this issue and already tried out different versions.

[2022-05-18 12:57] simonsays1980 opened #24918 "[tune] Better resumption of stopped or errored experiments"
### Description

- Pre-experiment: Maybe we could provide some guidelines in regard to disk space (checkpoint size, etc.)

- During experiment: Probably using smaller tf.events  files (but many of them) would result in faster syncing to the bucket I guess (would also resolve [this issue](https://github.com/ray-project/ray/issues/24737)).

- When errored out:
   - Offering a `remote_errored_only` p

[2022-05-18 12:58] simonsays1980 commented on #24918
@Yard1 As written in slack ;)

[2022-05-18 13:01] simonsays1980 commented on #24644
We can close this as @sven1977 offered a good solution that runs.

[2022-05-18 13:01] #24644 closed

[2022-05-18 13:03] simonsays1980 commented on #23890
I close this issue as the discussion here is clear and the solution from the PR #24262 gives the user direction.

[2022-05-18 13:05] simonsays1980 commented on #22899
This does not occur when installing the requirements via the nightly wheel, which is all needed for development. I close this issue.

The solution is:
Install the [nightly wheel](https://docs.ray.io/en/latest/ray-overview/installation.html#daily-releases-nightlies)

[2022-05-18 13:05] #22899 closed

[2022-05-18 14:23] Joshuaalbert opened #24920 "[Ray Serve] Unable to connect to GCS with ray start --head, but works from inside python"
### What happened + What you expected to happen

When I try follow this [tutorial](https://docs.ray.io/en/latest/serve/deployment.html#deploying-on-a-single-node) for deploying on a single node, and I start up a ray head node using `ray start --head`, it fails to start up (see below error).

However, when I start a server up from inside a python script it works as expected (see below). I want to b

[2022-05-18 14:45] krfricke commented on #24918
We had a few requests for both restarting errored out trials and continuing other trials now. We should take this on soon and think about how to best configure it.

[2022-05-18 14:58] sumanthratna commented on #24815
actually, I think we have a simpler solution:

the issue is that `ray._private.utils.get_function_args` (which calls `inspect.signature` internally) returns the parameters of `_pb2_importer` rather than `PB2`. Thus, we can simply add `functools.wraps(PB2)` as a decorator on `_pb2_importer` to tell `inspect.signature` to fetch the parameters of `PB2` rather than `_pb2_importer`

will leave it to @m

[2022-05-18 15:21] siavash119 opened #24921 "[core] Newly pushed actors to ActorPool are not used in previously submitted tasks"
### What happened + What you expected to happen

If I submit tasks to an ActorPool, it will use the available _idle_workers or append to _pending_submits. If I then push a new actor to the pool, I expect this actor to be assigned to a task if there are any pending submits, but it is not. The new actor will never be used until I submit a new task myself. This is easily fixed by after successfully p

[2022-05-18 15:50] rkooo567 commented on #24906
cc @ckw017 do you know who we should assign for ray client bugs?

[2022-05-18 16:18] rkooo567 commented on #24917
I can also produce it from grpcio 1.46.1 + this script

[code]

Looks like the error msg is suppressed if we set env var `GRPC_ENABLE_FORK_SUPPORT=0`, but I don't know the implication of this yet.

[2022-05-18 16:18] rkooo567 commented on #24917
cc @mwtian @scv119 I think we should take a look at this. It can cause lots of spammy logs to users (and we should probably find a way to resolve it to 1.13)

[2022-05-18 16:40] rkooo567 commented on #24917
Verified it doesn't happen on grpcio==1.45.0. I think we can cherry-pick the version restriction as a short term solution, and fix the underlying issue (maybe disabling fork support from ray wheels) after that

[2022-05-18 16:42] jovany-wang commented on #21547
This is done. closing it

[2022-05-18 17:05] rkooo567 commented on #24917
@simonsays1980 can you also verify if using `pip install grpcio==1.45.0` resolves your issue?

[2022-05-18 17:23] sven1977 opened #24926 "[Core and RLlib] RLlib crashes on Win due to OOM even with simple Trainers (actors seem to use much more memory than on e.g. Mac)."
### What happened + What you expected to happen

RLlib on Win keeps crashing due to OOM errors. Actors (from RLlib's RolloutWorker class) seem to take much more memory than say on MAc or Linux.

### Versions / Dependencies

master
Win10 64 32Gig RAM

### Reproduction script

Running e.g. `rllib/agents/a3c/tests/test_a2c.py` and `rllib/agents/a3c/tests/test_a3c.py` both at the same time (such that

[2022-05-18 18:12] josiahlaivins commented on #24917
@rkooo567 I didnt use RLib for my project, however was getting the same issues and pip install grpcio==1.45.0 fixed it.

In my case, im running GRPC in a process, in a docker container. Is there something weird about running a grpc server in a process or something that was changed after 1.45.0?

[2022-05-18 18:23] mwtian commented on #24917
This is due to a change in grpc itself. Also grpcio [1.45.0](https://pypi.org/project/grpcio/1.45.0/) has been yanked from pypi, so it cannot be something Ray users can pin at. I have tried triggering the grpc fork handler before there are concurrent requests, but was not able to. We can go back to pinning grpcio <= 1.43.

[2022-05-18 18:38] zhe-thoughts commented on #21837
@clarkzinzow @maxpumperla @jianoaix : Is this already done? Thanks

[2022-05-18 18:39] clarkzinzow commented on #21837
@zhe-thoughts Yes this is done.

[2022-05-18 18:39] #21837 closed

[2022-05-18 18:53] ckw017 commented on #24906
cc @mwtian for actor ref cleanup

[2022-05-18 19:21] scv119 commented on #24917
@mwtian sgtm, can you send out a PR and cherry-pick for 1.13 release branch?

[2022-05-18 19:42] sumanthratna commented on #24815
Yup sorry you're correct -- let's stick with the current solution

[2022-05-18 20:43] #13689 closed

[2022-05-18 22:28] rkooo567 commented on #19938
For me, I had this issue when I built Ray from sources. It was resolved when I re-create the virtual env

[2022-05-18 22:31] rkooo567 commented on #24917
@mwtian have we discussed / found the root cause of the spam logs before? I think we should resolve the root cause after 1.13, so that we can support grpc version >= 1.46 (so we should probably open a new issue or keep the issue open after cherry pick)

[2022-05-18 23:02] scv119 opened #24936 "[Core][flakey-test] linux://:global_state_accessor_test is flakey"

[2022-05-18 23:04] scv119 opened #24937 "[Core][flakey-test] linux://python/ray/tests:test_logging is flakey"

[2022-05-18 23:05] scv119 opened #24938 "[Core][flakey-test] linux://python/ray/data:tests/test_dataset is flakey"

[2022-05-18 23:05] scv119 opened #24939 "[Core][flakey-test] linux://python/ray/tests:test_actor_advanced is flakey"

[2022-05-18 23:07] scv119 opened #24940 "[Core][flakey-test] linux://python/ray/tests:test_gcs_fault_tolerance is flakey"

[2022-05-18 23:25] iycheng opened #24941 "[Core][flakey-test] linux://python/ray/tests:test_scheduling_2"

[2022-05-18 23:29] iycheng opened #24942 "[Core][flakey-test] linux://python/ray/tests:test_reconstruction"

[2022-05-18 23:30] iycheng opened #24943 "[Core][flakey-test] linux://:gcs_placement_group_manager_test"

[2022-05-19 00:13] amogkam opened #24947 "[Train/AIR] Ray Train actors still use up resources after Notebook cell is stopped"
### What happened + What you expected to happen

As discussed in https://github.com/ray-project/ray/issues/24711, even when Ray actor references are released, actors that are currently executing methods are not forced killed.

This behavior leads to poor UX when running Ray Train in notebook environments, and has been brought up by users. If one actor fails, or the cell is interrupted, an error is

[2022-05-19 00:22] amogkam opened #24948 "[Datasets/AIR] Ray Dataset actors still use up resources after Notebook cell is stopped"
### What happened + What you expected to happen

As discussed in https://github.com/ray-project/ray/issues/24711, even when Ray actor references are released, actors that are currently executing methods are not forced killed.

This behavior leads to poor UX when running Ray Datasets with an `ActorPool` compute strategy in notebook environments, particularly during development. If one actor fails,

[2022-05-19 01:36] mwtian commented on #22518
I just re-pinned grpcio to <= 1.43.0 in Ray via https://github.com/ray-project/ray/commit/502c3e132d27ce5106fe98ecde8deacbdde57e6a

[2022-05-19 02:05] mwtian commented on #24917
@rkooo567 yeah the immediate cause of the log is what the log message indicates: there are concurrent calls to grpc when grpc fork handler is triggered. Possible options going forward:
1. Avoid triggering fork handler in Ray. e.g. if we can figure out which lines of Python triggered the logs in the repro at https://github.com/ray-project/ray/issues/24917#issuecomment-1130222383 and at https://gith

[2022-05-19 02:14] mwtian commented on #24917
Maybe after this sprint, I can try to create a simple repro without Ray and see if it is worth pushing on option (3).

[2022-05-19 02:17] #24679 closed

[2022-05-19 04:32] rkooo567 commented on #24917
I might be ignorant here, but is disabling `GRPC_ENABLE_FORK_SUPPORT=0` also could be an option? It seems like the error message is displayed only when the fork support was enabled.

[2022-05-19 04:43] mwtian commented on #24917
Yes the issue is that Python grpc currently enables forking support by default, and there can be users relying on that behavior in Ray. I think it is a bit risky to disable fork support by default.

[2022-05-19 04:49] vonJJ commented on #14284
After move module to __init__, I met another problem:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/ray/function_manager.py", line 493, in _load_actor_class_from_gcs
    actor_class = pickle.loads(pickled_class)
AttributeError: type object 'PyCFuncPtrType' has no attribute '__mul__'

[2022-05-19 06:00] DmitriGekhtman commented on #24920
Is it possible there are left-over background Ray processes? Would running `ray stop` first help?

Is this a Ray core issue?

[2022-05-19 06:05] fuhuifang commented on #24899
Thanks @czgdp1807 for investigating. We'll still need `.remote` in our case.

[2022-05-19 06:21] czgdp1807 commented on #24926
I don't get a memory error but I get invalid handle error. See the logs below,

[code]

[2022-05-19 07:31] tsaoyu commented on #22164
How many external dependencies would requires for the 'lite head' mode?
Have you considered any HA services provided by cloud vendors?

[2022-05-19 07:59] czgdp1807 commented on #24784
I changed `with Pool(40) as pool:` to `with Pool(8) as pool:` and added a debug print `print(processes)` after `processes = batches(processes, cpus)` and I got the following output,

[code]

The code didn't hang.

[2022-05-19 08:29] Jet132 commented on #23945
Will try out the new dev version once I have time and there is a passing build.
Out of curiosity: Were you able to reproduce the issue?

[2022-05-19 08:40] Peter-P779 opened #24955 "ray[RLlib]: Windows fatal exception: access violation"
### What happened + What you expected to happen

Expectation: Training CartPole
What Happens: WINDOWS FATAL EXECTION ACCESS VIOLATION

[code]

### Versions / Dependencies

ray, version 1.12.0
Python 3.9.12
gym 0.21.0

[code]

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-05-19 08:42] jovany-wang commented on #21239
Let me give the conclusion on the jdk selection:
1. Users could configure the jdk home for a cluster, like:
[code]

2. Then users could specify the jdk in the runtime env.
[code]

[2022-05-19 08:50] #14479 closed

[2022-05-19 09:00] mattip commented on #23945
Yes. It seems earlier I was focusing on the wrong areas: the redis thing was a false flag, and the agent issue only shows up after a 30 second timeout.

[2022-05-19 09:16] rkooo567 commented on #14284
Hmm, can you show me the code snippet I can run that this is reproducible?

[2022-05-19 09:18] mattip commented on #23945
Looking back, you had the `time.sleep()` in your scripts that would have triggered the failure, I must have missed that.

[2022-05-19 09:18] rkooo567 commented on #24917
Hey @mwtian @scv119 have we cherry-picked the fix?

[2022-05-19 09:29] vonJJ commented on #14284
Thank you and the issue was solved! It's due to our incorrectly way of importing. We change "from ctypes import *" to "from ctypes import xx ,xxx,..." and it worked. But when testing without ray both ways worked .

[2022-05-19 09:33] rkooo567 opened #24956 "[Core \ State Observability] Use Submission client"
### Description

When the state APIs are used, we need direct communication to the API server (dashboard.py).

When we send a request to the API server, we currently use a hand-written client code. https://github.com/ray-project/ray/blob/f781622f8652c16bbd1845b9d05b121ae2cbafea/python/ray/experimental/state/api.py#L35

However, we'd like to instead implement the standard client following the same

[2022-05-19 09:45] rkooo567 commented on #14284
Hmm interesting... cc @suquark do you have any clue? If we add import to `__init__`, isn't import supposed to happen on runtime, so it shouldn't have any difference from importing it from the driver?

[2022-05-19 10:08] jovany-wang commented on #21547
Here is the ticket for further refactor https://github.com/ray-project/ray/issues/24567

[2022-05-19 10:09] czgdp1807 commented on #24784
I did some calculations. So, you are launching a pool first with 8 processes in the beginning. I am referring to `with Pool(cpus) as pool:`. Now in the `import_file`, you launch another pool in each of these 8 pools. Kind of nested pooling. So, each of these nested pool now start 40 processes. I am referring to `with Pool(40) as pool:`. So, overall total number of processes started is 40 * 8 = 320

[2022-05-19 11:00] simonsays1980 commented on #24917
@rkooo567 This gives me a warning when installing:
[code]
The program runs then - but very slow. Have never seen in running that slow.

[2022-05-19 12:27] mattip commented on #24926
Could this be the difference between forking processes vs spawning? For instance, here ray uses `os.system` on windows (spawning) and `os.execvp` otherwise (forking).
https://github.com/ray-project/ray/blob/88dfc20c6e0b6d57794cdb565f221aa99c0b4882/python/ray/_private/runtime_env/context.py#L71-L79

I'm sure there are more places like this.

[2022-05-19 12:44] rkooo567 opened #24961 "[Core / State observability] Keep the task state after it is finished."
### Description

Currently, we are querying all owners to get the task state. At this time, if the task has already finished, they are immediately GC'ed, which means we will lose the state of "finished" tasks.

There are 2 solutions here; 1. Keep the task spec after task is completed until it reaches to the bounded memory size. (2) Report all finished tasks state to GCS.

### Use case

_No respons

[2022-05-19 13:38] frigobar93 commented on #24784
Thanks, I appreciate your insight. I'm using three Linux nodes, not Windows, and I restrict Ray to be able to use one CPU per node.

ray start -v --head --port=6379 --num-cpus=1 --include-dashboard=false
ray start -v --address=$RAY_HEAD_IP:6379 --num-cpus=1

Being so, the math for my tests don't line up with what you've shown, but I will play with those settings and see if I can eliminate the hung

[2022-05-19 13:42] krfricke commented on #23385
I agree - not being able to configure logging globally produces unavoidable log spam in our libraries.

For instance, Ray Serve logs every incoming request with INFO level. It's currently impossible to disable this, as driver settings are ignored and we can't inject logic into the serving workers.

Simple repro:

[code]

[2022-05-19 14:02] raceychan opened #24965 "[Core] Serialization issue for naive use case of actors"
### What happened + What you expected to happen

### what happend:
I was trying to similate the simplest case of two actor communicating with each other, so i came up with a class with two methods:
1. send(msg, target_actor)
2. receive(sender, msg)
and the communication would go like:
a.send(msg='hello', target=b)
and b would print something it receives,
where a and b are two instances of a remote

[2022-05-19 14:03] iasoon opened #24966 "[data] arrow.json.ReadOptions is not serializable"
### What happened + What you expected to happen

`ray.data.read_json` supports passing options to `arrow.json.read_json`, but it does not look like this is actually possible, as the required config objects are not serializable ([docs](https://lidavidm.github.io/arrow-docs-next/python/generated/pyarrow.json.read_json.html)).

As a workaround, I tried registering this serializer:
[code]

Unfortunate

[2022-05-19 14:18] mwtian commented on #24917
@rkooo567 1.13.0 is cut after the revert to pin grpcio <= 1.43.0, no cherrypick is needed.

@simonsays1980 Yes 1.45.0 is a yanked version of grpcio. Can you try grpcio 1.43.0 instead?

[2022-05-19 14:19] #24917 closed

[2022-05-19 14:45] raceychan commented on #24965
it turns out that the problem occurs when some import logger from loguru
[code]

[2022-05-19 14:45] #24965 closed

[2022-05-19 14:50] krfricke commented on #16340
Can we add this as a Ray AIR example? cc @Yard1

[2022-05-19 14:51] Yard1 commented on #16340
Yes!

[2022-05-19 16:49] dirkweissenborn opened #24969 "[Core] driver occasionally hangs after node is preempted"
### What happened + What you expected to happen

We are running jobs on preemptible GCP TPU VMs using autoscaling. On preemption the remote jobs (using ray.remote) do not restart even though we set max_failures to -1. The driver script seems to hang after that happens and the monitor doesn't show any resource requests.

My suspicion is that when preemption happens, the driver for some reason doesn

[2022-05-19 17:13] kouroshHakha opened #24971 "[RLlib] implement `__getitem__` in `MultiAgentBatch`"
### Description

Write now we have to call `batch.policy_batches["default_policy"]` while we can instead call `batch['default_policy']` to get access to the correct policy_batch.

### Use case

_No response_

[2022-05-19 17:22] amogkam opened #24972 "[Datasets/AIR] Don't log warning messages for `SimpleTorchDatasource` by default"
### Description

`SimpleTorchDatasource` logs a warning when the `parallelism` arg for `read_datasource` is greater than 1, as this datasource does not support parallel reads. However, the default `parallelism` is 200. So as a user, the happy path of using defaults results in a bunch of warning messages getting logged.

[code]

### Use case

_No response_

[2022-05-19 17:23] gjoliver commented on #24806
Post migration clean up:

* consolidate all the action computation APIs to the one and only compute_actions()
* find a consistent naming scheme for all the APIs users can override, for example we have loss() and optimizer(), and we also have all the functions that ends with _fn(). we are keeping the names for now so users know how to migrate their code.
* TF and Torch policies have different APIs

[2022-05-19 17:35] mwtian commented on #24969
When the driver hangs, can you use `py-spy` to dump the stack trace? Just want to confirm that the driver is indeed waiting on some results that are not being computed.

I have also seen in nightly tests where after many workers crashed (e.g. OOM killed), the driver hangs on `ray.get()` cc @stephanie-wang @jjyao

[2022-05-19 17:40] mwtian commented on #24921
Hi @siavash119 thanks for the detailed investigation! Do you want to submit a PR for this? If not I can take it over too.

[2022-05-19 17:52] amogkam opened #24973 "[Datasets/AIR] Fix unsqueezing semantics for `ds.to_torch()` and `TorchPredictor`"
### What happened + What you expected to happen

From @bveeramani:

The semantics for tensor unsqueezing for data ingest to training (`ds.to_torch()`), and for inference (`TorchPredictor.predict()`) is unintuitive and does not always work.

For example,
[code]

Or when working with tensor data with unsqueeze set to True, the extra dimension is added right after the batch dimension, instead of as t

[2022-05-19 17:56] mwtian commented on #24906
I don't work on ray client that much. The last attempt to fix Ray client ref counting seems to be https://github.com/ray-project/ray/pull/14753.

[2022-05-19 18:00] clarkzinzow commented on #24973
Strongly agreed with this! I was actually going to try to fix this as a driveby before Datasets GA but didn't have time.

[2022-05-19 18:00] amogkam opened #24974 "[AIR/Train] Automatically return the framework specific dataset in `train_loop_per_worker`"
### Description

For our DL trainers (Torch, Tensorflow, etc.), users are expected to call `ray.train.get_dataset_shard()` inside their `train_loop_per_worker` function, and then convert that shard to a Torch dataset or TF dataset themselves (via `ds.to_torch()` or `ds.to_tf()`).

Instead, we may want to consider returning the framework specific datasets directly.

This will allow us to add variou

[2022-05-19 18:09] amogkam opened #24975 "[AIR/Train] Torch: Automatically unpack model when checkpointing state dicts"
### Description

For PyTorch training, it is very common to checkpoint state dicts. However, after wrapping your model with `ray.train.torch.prepare_model(...)` (which will wrap it in `DistributedDataParallel`), the the keys in the state dict will contain a `.module` prefix, which will prevent the checkpoint from being used in `TorchPredictor`.

We have documented that users should use `torch.nn.m

[2022-05-19 18:13] amogkam opened #24976 "[AIR] Add a `TorchVision` preprocessor"
### Description

`TorchVision` has a ton of useful transforms for image data. We should explore how these torchvision transforms can fit in our preprocessor APIs so users can easily leverage these transforms with AIR.

### Use case

_No response_

[2022-05-19 18:23] DmitriGekhtman commented on #24361
Looks like we've identified the problem for the original Windows issue?
Is it likely to be specific to Windows?

@scv119 Any debugging tips for @mbehrendt? We're still kind of blind on what's going wrong there.

[2022-05-19 18:43] siavash119 commented on #24921
Sure, I'll just call _return_actor at the end of push. Should I update the docstring for push, too, or is the current one sufficient for now? I've also implemented some other features for Actor Pools where renaming _return_actor might make sense, but I'll leave that for feature requests later. I'll start this pull request and see if there's any discussion.

[2022-05-19 18:47] mattip commented on #24361
In the raylet.out log linked [in the comment from @cardchase](https://github.com/ray-project/ray/issues/24361#issuecomment-1124488435) I see the same problematic lines as in the windows issue:

Note that the agent process's PID is 15680, but a process with PID 12332 registered as the agent. The root cause may be the same: a launcher process used to start python. Are you using any kind of virtual e

[2022-05-19 18:50] amogkam opened #24979 "[AIR] Support postprocessing in Predictors"
### Description

Often times, there is additional postprocessing that needs to be done after the model outputs. For example, this could include converting logits outputted by the model to a predicted class or converting a sequence of numbers to a sentence.

Currently, the only way to support this postprocessing **uniformly for both offline and online inference** is to subclass and override predict

[2022-05-19 19:22] Joshuaalbert commented on #24920
There were no actors:
[code]

What worked was stopping redis service:
[code]

Then `ray start --head` worked.

[2022-05-19 19:22] #24920 closed

[2022-05-19 19:33] Joshuaalbert opened #24983 "ray.init("auto") not finding instance"
### What happened + What you expected to happen

I start a ray head node, and then try to connect in a python script to deploy a backend. The python script raises error that there is no instance running, and asks to use `serve.start(detached=True)`. I'd like to be able to use the detached instance version so that I can update deployments.

### Versions / Dependencies

[code]

### Reproduction scri

[2022-05-19 19:35] peytondmurray opened #24984 "[Core] `bazel build -c fastbuild //:ray_pkg` fails on linux"
### What happened + What you expected to happen

I was following the [instructions for building ray from source](https://docs.ray.io/en/latest/ray-contribute/development.html#fast-debug-and-optimized-builds); I ran `bazel build -c fastbuild //:ray_pkg` at the root of the repository. The build nearly finishes but before it does, I get an error about an uninitialized variable:

[code]

It looks like

[2022-05-19 19:35] DmitriGekhtman commented on #24920
...oh, I see what happened here.

It used to be that the Ray head used redis to store state and Ray workers connected to the head by referencing the address of the head's Redis server (default port 6379).

Ray stopped using redis in 1.11.0 -- to make that transition less disruptive, we made it so that workers still connect to the head by referencing port <head-address>:6379.
To make that possible,

[2022-05-19 19:51] Joshuaalbert commented on #24983
Resolved: I didn't realise you also need to add `serve.start(detached=True)` after `ray.init(address='auto')`. Documentation is not super clear.

[2022-05-19 19:51] #24983 closed

[2022-05-19 20:16] Joshuaalbert commented on #24920
Quick question then: is a solution here to simply point Ray at my other redis server (which I'm using for redis-graph)?

[2022-05-19 20:44] mwtian commented on #24920
@Joshuaalbert you can set `RAY_REDIS_ADDRESS=<Redis address>` in the environment before starting Ray, to use Redis as an external storage. Also, you would need to start Ray on a port different from Redis. e.g.
[code]

[2022-05-19 20:45] mwtian opened #24985 "[Doc] Improve documentation on external Redis"
Currently documentation on external Redis is scattered among different pages. We should gather the info and have at least one section for it.

[2022-05-19 20:48] mwtian opened #24986 "[Core] Improve error message when GCS failed to start"
Currently during Ray head node startup, if GCS failed to start, the error is only discovered later when trying to connect to it. We can:
1. Test the port that will be used by GCS, to make sure it is available before starting GCS.
2. When failing to connect to GCS, see if we can print out the exit status of GCS.

[2022-05-19 20:48] mwtian commented on #24920
@DmitriGekhtman filed #24985 and #24986 for GCS start up failure error message and external Redis doc.

[2022-05-19 21:08] JiahaoYao commented on #8776
Hi @KristianHolsheimer and @akbir

for your original code, if you add `ray.get()` in front of your remote function, you can get the following ans.

[code]

the output is
[code]

[2022-05-19 21:13] ericl commented on #24966
@clarkzinzow

[2022-05-19 21:19] #24823 closed

[2022-05-19 21:20] JiahaoYao commented on #8732
Hi @sven and @dynamicwebpaige, https://github.com/ray-project/ray/issues/8776 is fixed, hopefully, by adding `ray.get()` before the remote task.

[2022-05-19 21:22] #24260 closed

[2022-05-19 21:24] mwtian commented on #24984
Hi @peytondmurray, what is the version of `gcc`? Ray requires at least `gcc` 9.4. And feel free to contribute! I wonder if moving `updater_io_service_` to the 1st in class member variable list would fix the issue.

[2022-05-19 21:27] edoakes commented on #24100
This is fixed in master

[2022-05-19 21:27] #24100 closed

[2022-05-19 21:41] peytondmurray commented on #24984
@mwtian I'm running gcc 12.1.0.

Thanks, I intend to make a PR for this!

The build definitely succeeds when `updater_io_service_` is moved to the top, but is this an acceptable solution? I guess I'm just wondering if I should be initializing it from elsewhere, or whether a fresh instance is acceptable. After all, this is a helper class for the `CoreWorker`, which already contains an [`instrumente

[2022-05-19 21:50] a2bhulla opened #24990 "[Core]: Unable to get large tensor object when using NodeAffinitySchedulingStrategy"
### What happened + What you expected to happen

I have a cluster with two nodes and I am running two asks that are scheduled via `NodeAffinitySchedulingStrategy`. Each task computes a torch.nn.Linear layer and then returns the output, but when the shape of the matmul output is greater than `(1, 1, 128, 128) (MM_DIM = 128)` then the script below fails with:

At least one of the input arguments for

[2022-05-19 22:01] Joshuaalbert commented on #24920
@mwtian I'm getting an error with that.

Launch a docker with redis:
[code]
Then launch ray pointing there:
[code]

Observe:
[code]

[2022-05-19 22:04] mwtian commented on #24984
Thanks @peytondmurray! `instrumented_io_context` in Ray has a default constructor, so it can be default initialized as a class member. After reading [this](https://stackoverflow.com/questions/10720377/can-member-variables-be-used-to-initialize-other-members-in-an-initialization-li) stackoverflow question, indeed we should fix its order in the class member list, so that `updater_io_service_` is ini

[2022-05-19 22:12] Joshuaalbert commented on #24920
Note, that we can be sure that redis is available in the container since `redis-cli -h 127.0.0.1 -p 6379` works (and we did `sudo service redis-server stop` before so the only redis on that port is in the container).

[2022-05-19 22:27] mwtian commented on #24920
I see. Ray by default assumes Redis is configured with a password. Can you try:
1. Specify a default password when starting Redis, e.g. `redis-server --requirepass=xyz`
2. Set Redis password when starting Ray, e.g. `ray start --head --redis-password=xyz`

If you use Ray's default Redis password `5241590000000000`, the 2nd step can be simplified to `ray start --head` too.

[2022-05-19 22:50] Joshuaalbert commented on #24920
The issue persists:

[code]
Start Ray
[code]

Same response `redis.exceptions.ResponseError: AUTH <password> called without any password configured for the default user. Are you sure your configuration is correct?`

[2022-05-19 22:53] mwtian commented on #24920
Can you verify with `redis-cli` that `REDIS_PASSWORD` actually set the password on Redis server? The command to start Ray looks right.

[2022-05-19 22:56] Nintorac opened #24993 "[core?] GPU Docker images based on outdated nvidia images"
### What happened + What you expected to happen

When trying to build on a ray base image and running `apt-get update` results in a failure as Nvidia's signtature cannot be verified

There is some discussion around this here https://forums.developer.nvidia.com/t/18-04-cuda-docker-image-is-broken/212892

The workaround mentioned in the thread works, i.e add the following snippet before calling `apt

[2022-05-19 23:31] cardchase commented on #24361
I wasn't using a manager but the venv was created by Pycharm for the project.
Runs fine on the system interpreter.

[2022-05-19 23:47] stephanie-wang commented on #24969
Another thing to try is to check `ray memory` ([docs](https://docs.ray.io/en/latest/ray-core/objects/memory-management.html#debugging-using-ray-memory)), which should tell you which objects the driver still thinks are pending.

[2022-05-20 00:36] #24267 closed

[2022-05-20 01:04] kennethlien commented on #24248
Working on this at https://github.com/ray-project/ray/pull/25000

[2022-05-20 01:09] #24940 closed

[2022-05-20 01:11] jdchn opened #25001 "[Core][RLlib][Tune] CUDA PTX error when training with Tune"
### What happened + What you expected to happen

## 1

Training a  PyTorch-based policy with Tune inside a container results in an error:

 `CUDA error: the provided PTX was compiled with an unsupported toolchain`

## 2

The expected behavior is no error.

## 3

This is on a DGX A100 using [NGC PyTorch] as a base image. [Dockerfile.txt](https://github.com/ray-project/ray/files/8734779/Dockerfile.t

[2022-05-20 02:21] ofey404 commented on #18411
Well... So we should keep the GET and close this issue?

[2022-05-20 02:26] ofey404 commented on #12977
What if raising an exception when user is trying to define a class variable?

It may not be a good idea, because it breaks backward compatibility - someone may already using class variable in workers as a feature.

[2022-05-20 02:29] ofey404 commented on #11509
I'd like to have a try, if it's proper.

Add an `--address` flag to `ray stop` may not be too hard.

[2022-05-20 02:40] ofey404 commented on #12060
Are there anybody working on it?

[2022-05-20 02:57] Joshuaalbert commented on #24920
I stand corrected, `redis-server --requirepass "1234"` is the the right way to set the password from command line..

[2022-05-20 03:47] valtab opened #25005 "[Train] Repeat assignments for preprocessor results nested recursive calling in Callback"
### What happened + What you expected to happen

### Search before asking ###

- [x] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### The issue: ###

`callback.results_preprocessor` property is initialized in `callback._preprocess_results()` method as below,

[code]

however,`callback. _preprocess_results()` method was called **every time** `trai

[2022-05-20 04:46] #23155 closed

[2022-05-20 05:40] #24208 closed

[2022-05-20 06:56] czgdp1807 commented on #24955
Let me look into this.

[2022-05-20 07:13] mattip commented on #24361
Ahh. Maybe PyCharm is wrapping the python process inside a launcher.

[2022-05-20 07:16] dirkweissenborn opened #25011 "Ray Tune: No console output is logged to Wandb."
### What happened + What you expected to happen

I am trying to run ray.tune jobs with wandb for experiment logging and was expecting to find the console output logs (logged using python's standard logging module) of the individual jobs in wandb. Curiously these console outputs appear on wandb when running a job through ray.remote but not when using ray.tune.

Note, that we initialize wandb direct

[2022-05-20 07:23] mahuangxu opened #25012 "[Core] Received a GOAWAY with error code ENHANCE_YOUR_CALM and debug data equal to "too_many_pings""
### What happened + What you expected to happen

I got an error when running the following code with **multi-worker**:
ERROR:
[code]

### Versions / Dependencies

python 3.8

Package                  Version
------------------------ ---------
aiohttp                  3.8.1
aiohttp-cors             0.7.0
aioredis                 1.3.1
aiorwlock                1.3.0
aiosignal                1.2.0
an

[2022-05-20 07:43] czgdp1807 commented on #24955
I ran this script and it keeps on running without any issues. It opens a bunch of Windows with some animations. See the attached screenshot.
<img width="901" alt="Screenshot 2022-05-20 at 1 12 56 PM" src="https://user-images.githubusercontent.com/36567889/169479054-a9f21e94-01e1-4897-8652-ff86f8276e97.png">

[2022-05-20 08:08] dirkweissenborn commented on #24969
This is the pyspy dump of the idling driver script:

[code]

[2022-05-20 08:10] dirkweissenborn commented on #24969
ray memory is not working for me. ray is running though, I can for instance run ray status.

[code]

[2022-05-20 08:14] Peter-P779 commented on #24955
So idk why the error occurs on my machine.
The Windows also open and then i get the error. Is there some log or so i can send for further analysis?
The same programm runs perfect on wsl with ubuntu tho.

Laptop Dell G3 15:

Intel(R) Core(TM) i7-10750H CPU @ 2.60GHz   2.59 GHz (12 Core)
16,0 GB RAM
NVIDIA GeForce RTX 2060

Os:
Windows 11 Home
Version:
21H2

[2022-05-20 08:58] czgdp1807 commented on #24955
I see. Note that I don't have any GPU on my Azure Windows VM. Its Windows 10 Pro 20 H2.

[2022-05-20 09:10] chiaraf10 commented on #24169
I still have the same issue with the new version.
On windows .
Version of ray is 1.12.1.

Traceback:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
c:\Users\OWNER\------- Cell 2' in <cell line: 19>()

---> [19](vscode-notebook-cell:/c%3A/Users/OWNER/--line=18) from ray import tune

File c:\User

[2022-05-20 09:14] Peter-P779 commented on #24955
So there might be a serious problem once the cluster gets updated?

[2022-05-20 10:04] raceychan opened #25018 "[Core] async_generator has serialization issue"
### What happened + What you expected to happen

when running remote method on actor,
an exception would be raised indicates that async generator object is not supported.
(Actor pid=18493) TypeError: cannot pickle 'async_generator' object

say we have a method like this:

[code]
such method would cause the serialization problem

[code]

### Versions / Dependencies

ray = 1.12.0
python = 3.8.10

##

[2022-05-20 10:09] czgdp1807 commented on #25018
Let me look into this.

[2022-05-20 10:16] czgdp1807 commented on #25018
After replacing `race = Actor(name="race")` with `race = Actor.remote(name="race")` and `andrew = Actor(name="andrew")` with `andrew = Actor.remote(name="andrew")`, I executed your script and got the following error,

[code]

[2022-05-20 10:17] czgdp1807 commented on #25012
Let me look into this.

[2022-05-20 10:33] raceychan commented on #25018
thanks for the quick reply, i have edited my reproduce script to a correct version

[2022-05-20 10:40] czgdp1807 commented on #25018
Thanks. I am able to reproduce your error now. Let me investigate what needs to be done to get this issue fixed.

[2022-05-20 10:48] raceychan commented on #25018
I have done a little research myself on this, and i am afraid that there is not quick fix for this, since the root of the issue is that python does not support pickling gengerator objects, i have found a issue to related to this
 "Make Generators Pickle-able"
https://bugs.python.org/issue1092962
 and thus i assume async generator does not make a difference.
And at this point of time, i am not quit

[2022-05-20 10:51] czgdp1807 commented on #25018
I checked. I think `yeild` results in a generator and its not possible to pickle generators. So may be you need to store the states of `receive` and `start` methods manually. Then whenever these methods are called first check if their respective states are available. If so then resume from there. Otherwise use the initial case for these functions.

To support generators I think pickling approach h

[2022-05-20 10:57] czgdp1807 commented on #25012
I am able to train using your script. I don't get any error. However note that no GPUs are available on my machine. It has 8 CPUs and 16 GB RAM and its a windows machine. I changed `'num_workers': 10,` to `'num_workers': 7,` so that it matches with the number of CPUs I have.

[2022-05-20 10:58] raceychan commented on #25018
yeah i looked up to that question too, thanks for your suggestion, im closing the issue for now

[2022-05-20 11:01] czgdp1807 commented on #25018
If you want, I can think of a way to manually deal with `yeild`. Basically `yeild` returns a generator and pauses the function there. In the next call it resumes from there, right? So, may be we can do this manually without using `yeild`. If its okay with you I can try to figure out a way to get your script running without `yeild`. Just let me know.

[2022-05-20 11:12] vonHartz opened #25019 "[Tune] WandbLoggerCallback misreports System Metrics"
### What happened + What you expected to happen

When using the WandbLoggerCallback, I expect the System tab in Wandb to display accurate system metrics. However, the reported memory use is wrong.

![wandb-system-report](https://user-images.githubusercontent.com/17391760/169515378-a98b6208-29b0-4b98-8a06-6ae124104577.png)

While Wandb reports a memory use of ~2GB, the run actually uses 4GB (and tr

[2022-05-20 11:36] krfricke commented on #25019
Weights and biases reports the system metrics automatically. We don't feed anything into them. Thus it seems this is more of a weights and biases issue than a Ray/Rllib/Tune issue.

[2022-05-20 11:40] krfricke commented on #25011
Generally Ray Tune also just runs remote actor tasks, so the behavior should be the same. Can you share a quick reproduction script so we can look into this more?

[2022-05-20 11:46] raceychan commented on #25018
it would be great if you can do that, and I appreciate it even if you don't! Please go ahead and give it a shot

[2022-05-20 11:47] #24815 closed

[2022-05-20 14:06] fkaleo opened #25023 "ray docker images do not have uvloop installed"
It looks like `uvloop` is not a dependency of `uvicorn` but only of `uvicorn[standard` as per the documentation of `uvicorn`:

https://www.uvicorn.org/#quickstart

_Originally posted by @fkaleo in https://github.com/ray-project/ray/pull/9216#discussion_r878185365_

[2022-05-20 14:14] Tehada opened #25024 "Use more modern python for official docker image"
### Description

Official ray docker image uses python 3.7.7, which is quite ancient, tbh. [Pandas](https://pypi.org/project/pandas/) doesn't even support python below version 3.8. Also, many cool features have arrived in python since 3.7.7. Can we use ubuntu:22.04 for base image, which has python 3.10.4 in official repos? I was using custom docker image for ray with python 3.9.9, but it was quite

[2022-05-20 14:14] fkaleo commented on #25023
I could verify this on Docker image `rayproject/ray:1.12.1-py39` with:
`python -c "import uvloop"`

[2022-05-20 14:20] rkooo567 opened #25025 "[Core | Python3.10] Stop using `get_event_loop`"
### What happened + What you expected to happen

`get_event_loop` will be deprecated and print spammy logs to the driver. We should use `new_event_loop ` and `get_running_loop` instead. https://docs.python.org/3.10/library/asyncio-eventloop.html#asyncio.get_event_loop

### Versions / Dependencies

Ray for Python 3.10

### Reproduction script

pytest -vs python/ray/tests/test_basic.py::test_put_get