[2022-09-08 03:00] madappie opened #28366 "[Core] a compile error about class xx has no member named 'msgpack_pack' when passing an object as parameter"
I am using ray cpp, and passing parameters like follows:
1. auto state = master.Task(&Master::init).Remote(g, wl).Get();
2.
3. bool Master::init(ConstraintGraph& g, WorkList& initialWorklist) {
4.     std::cout<<"this is initializing master!" <<std::endl;
5.     return true;
6. }

The compiler reports the following errors, any one has ideas how to resolve it?
   python3.7/site-packages/ray/cpp/inc

[2022-09-08 03:06] pcmoritz commented on #27738
Ah this is https://issues.apache.org/jira/browse/ARROW-10739

Well, I don't think we can close this bug until that's resolved then :)

However if we install pyarrow >= 7.0, manually, I have now verified it works (on the latest master with Kai's fix):

test.tsv

[code]

[code]

Results in the correct
[code]

@davidxiaozhi This should unblock you, but let us know if there is more trouble :)

[2022-09-08 03:10] scv119 commented on #27299
FWIW, [1.45 - 1.48) suffers from spammy logs issue https://github.com/grpc/grpc/commit/e8ca82b9a4374c8f87c2d190509c39055deda42a

[2022-09-08 03:14] SongGuyang commented on #28366
Currently, the remote function arguments should be able to be serialized by MessagePack. Can you add the macro `MSGPACK_DEFINE` to your  user-defined class ConstraintGraph following the doc https://github.com/msgpack/msgpack-c/wiki/v2_0_cpp_packer#packing-classes?

[2022-09-08 06:04] guodashun commented on #27361
@clarkzinzow thx for your reply! I changed the pyarrow version from 8.0.0 to 6.0.1 and this bug was fixed!

[2022-09-08 07:39] erilju719 commented on #28312
Thanks a lot @shrekris-anyscale, it works as expected with the latest Ray nightly build! Feel free to close this issue now that I know it will be fixed in the next Ray release. How often do you release, BTW?

[2022-09-08 08:50] heyitsmui commented on #17088
perhaps somewhere here e.g. https://github.com/heyitsmui/ray/commit/86a7b7748cdd31b41658e8ffc901061c89258694?

[2022-09-08 09:14] krfricke commented on #28326
Just for completeness, there is a workaround for existing installations of Ray (so users don't have to use latest master Ray or wait for the next pyarrow release). The solution is to implement a custom csv datasource and use `ray.data.read_datasource` instead of `ray.data.read_csv`.

Here is the full working example:

[code]

[2022-09-08 09:18] krfricke commented on #27738
To use the patch from #28326 / #28327 without upgrading Ray, here is a workaround: https://github.com/ray-project/ray/issues/28326#issuecomment-1240448217

[2022-09-08 09:22] h-vetinari commented on #27299
I don't think spammy logs a good enough reason to forbid a version, much less such a big range of them. On the conda-forge side, we try to be very faithful to the restrictions specified by the project, but non-essential restrictions like this just make that work _a lot_ harder.

For context, we need to rebuild packages for newer host dependencies, and grpc (together with  abseil + protobuf) are a

[2022-09-08 09:22] madappie opened #28372 "[core cpp] failed to connect to gcs within 5s when calling ray::Init()"
The logs are as follows:
[code]

[2022-09-08 10:23] Rubertos opened #28374 "Ray acts differently depending on conda environments.."
I have two conda environments, namely, 'base' and 'myname'.
( - 'base' environment packages are installed at /root/anaconda3/lib/python3.8/site-packages )
( - 'myname' environment packages are installed at /home/myname/anaconda3/lib/python3.8/site-package )

With the environment 'myname' activated, if I type `ray start --head` , I get the following:

![image](https://user-images.githubusercontent.

[2022-09-08 10:39] h-vetinari commented on #28354
It would be really good to know which grpc-versions are affected by the hang. As I commented in #27299, we have to consider widening the range for conda-forge already, and I'd very much like to avoid hitting the hang.

In particular, it would be relevant to us if the hang appears with 1.46 / 1.47 (don't care about older versions); no problem to avoid 1.48.0 specifically.

[2022-09-08 11:34] AlexandreRozier commented on #9419
@sidazhou The following code is now working for me:
`
results = tune.ExperimentAnalysis(experiment_checkpoint_path=exp_path,default_metric="val/loss",default_mode="min")
best_config = results.best_config
`

[2022-09-08 14:50] ArturNiederfahrenhorst opened #28378 "[RLlib] GPU OOM on (almost) example script"
### What happened + What you expected to happen

The provided script is expected to run without errors.
Are we maybe rounding the num_gpus_per_worker resources somewhere?

### Versions / Dependencies

master

### Reproduction script

Execute the following on a g3 instance.

### Issue Severity

_No response_

[2022-09-08 14:57] xwjiang2010 commented on #17088
Hmmm, I am actually not sure how this "hack" works with the new `with tune.resources()` API for functional trainables.

for example,
[code]
doesn't work

while
[code]
works

This is because `tune.with_resources` doesn't go through VariantGenerator (where `sample_from` stuff is resolved...)

On the other hand, for the new ray AIR trainers, we can achieve specifying resources through param_space["sc

[2022-09-08 15:26] saeidb71 commented on #8526
Hi,
Is this method implemented in Rllib?

[2022-09-08 16:20] heyitsmui commented on #17088
@xwjiang2010 sounds good! seems like there are some docs that call out `ScalingConfig` is tunable: https://docs.ray.io/en/master/train/config_guide.html. In that case, will try to see if we can make it clearer via FAQ etc. Will send out a PR for review later today.

[2022-09-08 16:34] xwjiang2010 commented on #17088
ah just tried again:
[code]
should work for functional trainables. So we should have both cases covered!

[2022-09-08 16:40] mvashishtha commented on #28216
@scv119 could you please take a look?

[2022-09-08 16:44] shrekris-anyscale commented on #28312
Great to hear it's working as expected @erilju719! We're still finalizing the upcoming Ray release timelines, but [in the past](https://pypi.org/project/ray/#history) we've released new minor versions every 1-2 months.

[2022-09-08 16:59] #27957 closed

[2022-09-08 17:44] kevin85421 commented on #28356
@matthewdeng Thank you! It works.

Matthew's solution enables me to use `pip` to install tensorflow with the same Python version. However, I still cannot install `lightgbm` successfully. When I tried to comment out all dependencies in "Ray libraries", I can build the documents.

[2022-09-08 17:45] stephanie-wang commented on #28230
Looks like this is passing now.

[2022-09-08 17:45] #28230 closed

[2022-09-08 17:45] stephanie-wang commented on #28273
Passing now.

[2022-09-08 17:45] #28273 closed

[2022-09-08 17:52] clarkzinzow commented on #28346
The NumPy narrow waist will result in strictly less data copies than the Pandas or Arrow narrow waist (that's why it was initially added), so I don't think that we need that as a call-out, but we can have a single validation item for that if you'd like. Since there are no known Datasets code changes needed, how about we axe the Data items and have an AIR-level validation item for ensuring that our

[2022-09-08 17:58] matthewdeng commented on #28356
Hm @richardliaw do we actually even need to install `xgboost-ray`/`lightgbm-ray` now that the direct references have been removed?

[2022-09-08 18:08] jiaodong commented on #28346
Sounds good ! I trust your judgment on this given all the context you have on data side. So how about we put data items as placeholder for now, we cross off items in this list that's already status-quo; Amog and I start adding the numpy path in AIR / predictor and if we discovered any corner cases (which i assume we will certainly run into) we can sync with data team to see what's the best action

[2022-09-08 18:18] clarkzinzow commented on #28346
@amogkam Hmm interesting... I feel like that `Union[TensorType, Dict[str, TensorType], np.ndarray, Dict[str, np.ndarray]]` return type is weirder/messier than `Union[TensorType, Dict[str, TensorType], List[Any]]`, since the former makes you ask "why do we only take ML tensors but can return ML tensors or NumPy ndarrays?", and I think we can easily document the latter `List[Any]` as an escape hatch

[2022-09-08 18:19] mgerstgrasser opened #28382 "[RLlib] DQN, Apex-DQN, SimpleQ fail with tf2"
### What happened + What you expected to happen

When using DQN, ApexDQN, or SimpleQ with tf2, the computation of `q_t_selected_target` in `model.loss()` fails with the error message `cannot compute AddV2 as input #1(zero-based) was expected to be a int64 tensor but is a float tensor [Op:AddV2]`. This seems to be the same issue as in #14736, but also happens with online training. I have verified t

[2022-09-08 18:25] c-phillips commented on #28378
Just leaving a comment for context from the [discussion thread](https://discuss.ray.io/t/high-memory-usage/7475).

I have tried with fractional GPUs and without. Using fractional GPUs, system resource usage is several times higher than without. I have also tried different divisions and its present for all that I've tried.

[2022-09-08 18:30] cassidylaidlaw opened #28383 "[RLlib] Use TypeAlias throughout typing.py to prevent mypy errors"
### What happened + What you expected to happen

In newer version of python, type aliases (e.g., where you do `TrainerConfigDict = dict`) have to be explicitly defined as a TypeAlias (e.g., `TrainerConfigDict: TypeAlias = dict`). Not doing this will cause MyPy to error (see [here](https://mypy.readthedocs.io/en/stable/common_issues.html#variables-vs-type-aliases)). For instance, if you save the re

[2022-09-08 18:54] mgerstgrasser opened #28385 "[Core, RLlib] RLlib uses Metal GPU even when told not to"
### What happened + What you expected to happen

It seems that on MacOS when Metal devices are available and recognised by the local tensorflow installation, RLlib uses them even when `num_gpus` is set to 0. Running the reproduction script below with `tensorflow-metal` installed shows GPU usage in Activity Monitor, and produces the message `Metal device set to: AMD Radeon Pro 5300M` in the command

[2022-09-08 18:56] richardliaw commented on #28346
cc @simon-mo on the serve comment

[2022-09-08 19:06] amogkam commented on #28346
Isn't this also the case with `List[Any]`?

Can't we also document `np.ndarray` as an escape hatch?

My reasoning is that `np.ndarray` handles these 2 requirements while `List[Any]` does not.
1. Keeping the contract that the input type is the same as the output type. If we change this behavior, then this is a significant API change we should discuss.
2. It allows predictors to be used as preproces

[2022-09-08 19:31] qmihau commented on #11959
@rkooo567 Do you have a feel for when that might get into the work pipeline? Definitely don't want to be pushy, but just trying to plan our work accordingly :)

[2022-09-08 20:01] clarkzinzow commented on #28346
@amogkam I was thinking that we could make `List[Any]` our canonical AIR escape hatch since it already serves that purpose within Datasets, via the simple block representation. This has the added benefit that Datasets will try to convert it into a well-formatted dataset (e.g. a tabular dataset if its a list of dicts, as is the case for SSD300_VGG16 object detection outputs), only falling back to t

[2022-09-08 21:35] wmayner commented on #24559
I still think this would be a great addition.

[2022-09-08 21:35] wmayner commented on #24658
Bumping this as well as #24559

[2022-09-08 21:54] ckw017 commented on #24163
Sorry for the late response! After digging around, it looks like `print` by default will use the [encoding configured in your local machine's LANG env var](https://stackoverflow.com/questions/54512406/unicodeencodeerror-ascii-codec-cant-encode-character-in-print-function). For example, this script will repro the issue depending on how LANG is set:

[code]

This will error:
[code]

This won't:
[cod

[2022-09-08 22:49] fwong03 commented on #13938
@andreapiso I reread the opening comment and I misunderstood the request, what I had been looking to do was run a bunch of tasks in parallel while limiting the number of database connections created, i.e., to reuse database connections when I could.

Just in case this is what you are also trying to do (and not share database connections between processes as the original reuqest was), a pattern tha

[2022-09-08 23:34] richardliaw commented on #28356
Not sure, let's try it out.

[2022-09-09 00:34] cadedaniel commented on #27299
I think you have a good point @h-vetinari. Let me check to see if there were any other reasons (besides the spammy logs) which caused us to limit versions [1.45, 1.48). If there's nothing else then I'll create a PR for people to comment on.

[2022-09-09 00:37] cadedaniel commented on #28354
I haven't tested it, but AFAIK the hang is only on 1.48.0. I'll make a PR to enable 1.45/46/47 and test to make sure there are no hangs.

[2022-09-09 01:37] #23894 closed

[2022-09-09 02:50] #28374 closed

[2022-09-09 03:33] wuisawesome commented on #23522
beep bop boop

[2022-09-09 03:36] wuisawesome commented on #18576
beep bop boop

[2022-09-09 03:45] wuisawesome opened #28393 "[autoscaler] ray status verbose improvements"
### Description

* Include the (available_node_types) node type in the per-node breakdown
* Include more timing statistics like autoscaler update time, etc

### Use case

_No response_

[2022-09-09 04:08] mwtian commented on #27299
https://github.com/ray-project/ray/issues/22518 has most of the context. The extra logs show up in the otherwise sparse stdout as well, which is distracting to users and they opened issues in the Ray repo. But if the restriction for [1.45, 1.48) is removed now, maybe most of the new Ray installations will not get these versions anyway.

[2022-09-09 05:19] #23458 closed

[2022-09-09 06:12] h-vetinari commented on #27299
Cool, thanks! So we'll open up the range to <=1.47 for now. If people have issues with the spammy logs, we can patch the grpc within conda-forge to include that fix.

[2022-09-09 06:38] vincentliuheyang commented on #3899
I got the same issue. The same script is going to raise permission error saying the files under `ray` folder does not have permission, while other deployed scipts work just fine.

[2022-09-09 06:44] bveeramani opened #28398 "[Datasets] Split `test_dataset_formats` into separate modules"
### Description

Split `test_dataset_formats` into modules like `test_json`, `test_csv`, and `test_parquet`.

### Use case

`test_dataset_formats` is 3282 lines long. Splitting `test_dataset_formats` would make the tests easier to read and maintain.

[2022-09-09 06:47] siavash119 commented on #28198
okay, so it shouldn't be related to those detached actors or the flask/gunicorn servers. Those weren't running when the user with a few config files in a runtime_env working_dir ran again with ray 2.0.0 and got this crash.

[2022-09-09 07:16] maxpumperla opened #28399 "[serve] Gradio integration does surface error messages, runs indefinitely"
### What happened + What you expected to happen

Following [the Gradio tutorial](https://docs.ray.io/en/latest/serve/tutorials/gradio-integration.html), whenever any error gets introduced into the program, Serve will not pass through the error emitted from Gradio, but fail silently in the background. In the front-end the app just waits for a response indefinitely.

I'm expecting the same behaviour

[2022-09-09 08:23] ChVo24 opened #28402 "Ray.tune.impl.tuner_internal.py"
### What happened + What you expected to happen

Restoring the Tuner Trials on Windows yields FileExistsError. Solution would be in _restore_from_path_or_uri():

Adding in file tuner_internal.py, in function _restore_from_path_or_uri after line 217 within the loop:
                if os.path.isfile(new_exp_path / file_dir.name):
                    os.remove(new_exp_path / file_dir.name)

### Vers

[2022-09-09 08:38] maxpumperla opened #28403 "[AIR] various AIR usability issues around Checkpoints and predictions"
### What happened + What you expected to happen

I've created a [gist](https://gist.github.com/maxpumperla/0c852ec23c3957db02f9721c72df87af) that shows how to train a PyTorch model with AIR, then stores it to a checkpoint, and loads it again in a separate script. The script is based on an existing [example](https://docs.ray.io/en/master/ray-air/examples/torch_image_example.html).

The problem is t

[2022-09-09 09:09] krfricke commented on #28402
I think we can just use `file_dir.replace` instead of `file_dir.rename`. Do you want to file a quick PR for that? Otherwise I'm happy to do it.

[2022-09-09 09:36] ChVo24 commented on #28402
Indeed replace would also work! Great, would be nice if you could do that :)

[2022-09-09 09:52] krfricke commented on #28402
Sure thing! Here we go: #28404 - will be merged later today. And thanks for raising this issue!

[2022-09-09 12:09] miannini commented on #23228
there is any progress on this?
I'm having the same issue, using Ray Tune with ML Flow to track hyperparameter optimization experiments.
the run_name is the save for all trials and there is no way to compare results

[2022-09-09 12:50] #27552 closed

[2022-09-09 12:51] #27553 closed

[2022-09-09 13:51] #27496 closed

[2022-09-09 13:53] #22279 closed

[2022-09-09 14:50] kong13661 commented on #27709
Version 2.0.0 also has the similar problem. It raise ObjectFetchTimeOutError error in the same place.

[2022-09-09 16:41] architkulkarni opened #28406 "[Jobs] [Doc] Update all references to "job" in docs to use the same definition"
### Description

E.g. add something like

[code]

### Link

_No response_

[2022-09-09 16:43] jovany-wang opened #28407 "[RFC][Core] Add `get_actor(actor_id)` API to simplify applications."
### Description

Passing actor handles across workers may make actors unmanageable in frameworks on the top of Ray.

### Use case

For the use case1, currently, most applications should save the checkpoints of serialized actor handles for some failure recovery reasons, which may cause errors if users haven't loaded the actor handles from serialized bytes carefully. For example, users often make ac

[2022-09-09 16:47] architkulkarni commented on #22131
I believe this is still an issue. cc recent release manager @scv119, feel free to close if no longer an issue

[2022-09-09 16:48] #22412 closed

[2022-09-09 16:59] matthewdeng commented on #28356
I guess it doesn't work... https://buildkite.com/ray-project/ray-builders-pr/builds/44057#01831fc5-a4bf-427c-a47b-e973e93f5db8

@kevin85421 can you share what are the errors you're running into with `lightgbm`? Thanks!

[2022-09-09 17:25] #28402 closed

[2022-09-09 17:43] matthewdeng commented on #24757
@clarkzinzow can you share what the context is here?

[2022-09-09 17:44] Yard1 opened #28408 "[Data] Quantile calculation"
### Description

Quantile calculation is a common operation for various statistical and ML purposes (especially the case of calculating the median). It would be very helpful for both users and AIR preprocessor developers to have a Dataset API to efficiently calculate desired quantiles.

### Use case

_No response_

[2022-09-09 17:44] Yard1 commented on #28408
@matthewdeng

[2022-09-09 17:53] matthewdeng commented on #26083
To consider: having this as a flag in the DatasetContext, and also whether this should just be for IO or expand to all scheduling.

[2022-09-09 18:02] #21838 closed

[2022-09-09 18:06] clarkzinzow commented on #27327
`_block_udf` is a deprecated private arg, so bumping this to a P2.

[2022-09-09 18:08] clarkzinzow opened #28410 "[Datasets] Support string tensor columns."
Add support for string tensor columns in our tensor extension. Construction of the Arrow-side extension array currently breaks.

[2022-09-09 18:09] matthewdeng commented on #25231
@stephanie-wang is this still an issue?

[2022-09-09 18:17] #27361 closed

[2022-09-09 18:19] architkulkarni commented on #28198
Reproduced by adding a 10 second sleep between these lines: https://github.com/ray-project/ray/blob/master/src/ray/gcs/gcs_server/runtime_env_handler.cc#L30-L31

Starting a local single node Ray cluster, running the following reproduction script (the pip packages are probably not important):
[code]

About 75% of the time we get the following segfault which is similar to the one in the issue:
[code

[2022-09-09 18:37] stephanie-wang commented on #25231
I think the test was marked stable since then...I'll close the issue.

[2022-09-09 18:37] #25231 closed

[2022-09-09 18:41] stephanie-wang opened #28411 "[core][tests] chaos_dataset_shuffle_push_based_sort_1tb fails with ray.exceptions.WorkerCrashedError"
### What happened + What you expected to happen

[code]

### Versions / Dependencies

Commit: ca705fd0f2040575227f2fcba4f85544a7fefd2c
Last successful commit: e12d436244a9e4ef122c689b7aaabbf1308d0ce2

### Reproduction script

chaos_dataset_shuffle_push_based_sort_1tb

### Issue Severity

_No response_

[2022-09-09 19:14] amogkam opened #28412 "[AIR] Framework specific Checkpoint API consistency"
We should make sure all of our framework-specific Checkpoints follow similar API design patterns.

- For creating checkpoints via different sources (for example, from a model object, from a path, etc.), these should be expressed as different methods and not overloaded onto the same method.
- All framework specific checkpoint classes should expose `def get_model(self, *args, **kwargs)` and `def get

[2022-09-09 20:01] Sundar0989 opened #28415 "socket.gaierror: [Errno -2] Name or service not known"
### What happened + What you expected to happen

When i run the command below,
[code]
I get the following error
[code]

Please assist

### Versions / Dependencies

Ray version - 1.7.0
Python version - 3.8.13
OS - Linux

This is part of using modin & ray package together. I raised the issue with Modin team and they asked me to raise the issue here.

### Reproduction script

[code]

### Issue Severi

[2022-09-09 21:54] jiaodong commented on #28346
Synced with Clark and Amog offline, looks like for all options we had adding opaque object lead to more implications of AIR narrow waist or ability to chain predictor / preprocessor to others. Given the only case we know of is object detection, which ragged tensor support already greatly improved UX by eliminating the need of padding, we decided to punt it for now unless new clear use cases show u

[2022-09-09 22:28] pcmoritz commented on #28415
Thanks for opening the issue!

As described in the docstring https://docs.ray.io/en/latest/ray-core/package-ref.html#ray-init, the dashboard_host can only be set to either `0.0.0.0` (listen on all interfaces) or `127.0.0.1` (listen on localhost only). Other values are not supported.

If you want to run the dashboard behind a URL, you need to
- Run the dashboard with dashboard_host = 0.0.0.0 on a n

[2022-09-10 00:38] siavash119 commented on #28198
1 head and 8 nodes connected over 10GBe. Each node is started with --num-cpus=40.  The user was running with 200 actors.

the 1.13 crash was a little different now that I look at it. I'll paste some logs here for now; let me know if you want something else

gcs_server.err
[code]

ray_client_server.err
[code]

monitor.log
[code]

[2022-09-10 02:17] #28222 closed

[2022-09-10 06:43] iycheng commented on #24500
@SongGuyang pass to you as part the work of code path refactoring

[2022-09-10 06:48] iycheng opened #28423 "[core] Make gRPC request's lifecycle the same as the handle."
### Description

We fixed a bug  https://github.com/ray-project/ray/pull/28409  where the request is used after free. The current design assume the developers knows that we shouldn't use the request if the reply handler is called.

We should bind the request's lifecycle to the handler function instead.

### Use case

Prevent the future bad use of the request.

[2022-09-10 06:48] iycheng commented on #28423
Mark it as P1, but we need to fix it with high priority.

[2022-09-10 07:20] tekumara opened #28426 "core: log exception info when exception fails to deserialize"
### Description

When an exception cannot be deserialized log whatever info is available (eg: class etc.) to aid debugging

### Use case

I'm trying to debug a non-serializable exception but don't know much about it so I'm unsure where to start.

eg:
[code]

ray 2.0.0

[2022-09-10 15:09] OhadRubin opened #28427 "[Tune] Adding DEHB"
### Description

Hey,
The team behind BOHB has a new(-ish) algorithm called DEHB, is it possible to add it to Ray Tune?

### Use case

_No response_

[2022-09-10 15:42] ArturNiederfahrenhorst opened #28428 "[RLlib] QMix accepts GPUs > 0 but errors out"
### What happened + What you expected to happen

[User has reported](https://discuss.ray.io/t/qmix-is-not-running-when-use-gpu/7454/2) not being able to use QMix with GPUs.
RLlib should either warn about using GPUs with a meaningful error early or be able to use GPUs in QMix.

### Versions / Dependencies

master

### Reproduction script

[User provided script](https://discuss.ray.io/t/qmix-is-not-

[2022-09-10 21:08] ankur6ue opened #28429 "[State API] Cannot connect to the dashboard server for the summary API"
### What happened + What you expected to happen

Trying to use the summarize APIs to get a actor summary to kill any pending actors in my driver program. Setting: ray cluster running on a kubernetes cluster. I can successfully connect to the cluster like so:

Here 30423 is the port number where port 10001 is exposed by the nodeport service start by KubeRay operator
ray.init(address="ray://107.22.1

[2022-09-11 03:55] #28198 closed

[2022-09-11 07:12] hahahumble commented on #9177
Code Example:
[code]

[2022-09-11 07:13] hahahumble commented on #9177
Reference: https://docs.ray.io/en/latest/tune/tutorials/tune-output.html

[2022-09-11 16:17] Joshuaalbert opened #28436 "[Core] Subclassed Exceptions with more than one argument fail to deserialise"
### What happened + What you expected to happen

Exceptions that take more than one argument fail to deserialise. So if it want to make a nice formatted exception, I can't.

### Versions / Dependencies

ray 1.13
python 3.10

### Reproduction script

[code]

EDIT: not a problem if the args actually kwargs. I reduce the severity.

[code]

### Issue Severity

Light: It is an annoying difficulty but I

[2022-09-11 17:27] shaileshcheke commented on #17185
@jianoaix Really sorry for replying late. Was busy in other things last month. Nothing is blocking me. I am still working on it.

[2022-09-11 22:42] ArturNiederfahrenhorst commented on #23898
The _log_likelihoods_ that you compute are representations of Q-Values because you are using DQN.
Since the Q Values between different state-action pairs in your environment don't vary a lot, they are very close. Luckily, DQN uses the Epsilon Greedy action sampling function and therefore almost always simply picks the action with the slightly higher Q Value. The likelihoods that you print in your

[2022-09-11 22:42] #23898 closed

[2022-09-11 23:10] ArturNiederfahrenhorst commented on #23944
Hi @MasterXiong ,
I cannot reproduce this on master and I don't think we will look for the fix and pick it to earlier versions in this case.
Feel free to repoen the issue if you still experience it with our nightlies.

[2022-09-11 23:10] #23944 closed

[2022-09-12 10:07] krfricke opened #28439 "[train] Horvod+Torch does not convert GPU tensors to CPU"
### What happened + What you expected to happen

When using a HorovodTrainer with Torch on GPU, saving checkpoints via state dict leads to deserialization issues on the main trainer worker (which does not hold any GPU resources):

[code]

### Versions / Dependencies

Latest master

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-09-12 12:29] krfricke opened #28443 "[core] Empty placement group fails on ready() but not on creation"
### What happened + What you expected to happen

Creating an empty placement group does not raise any error on creation, but query the `ready()` status leads to a timeout after 60 seconds and this error message:

[code]

Instead, the placement group should not be created to begin with.

### Versions / Dependencies

Latest master

### Reproduction script

[code]

### Issue Severity

Medium: It is a

[2022-09-12 13:26] thatcort commented on #26605
I don't think filtering files based on an assumed file extension is OK. For example, if the file is tab-delimited, will it look for a `.tsv` file instead of `.csv`. Best to just let the user specify the file name, no?

[2022-09-12 14:27] larrylian commented on #28160
I will take a look at this issue few days

[2022-09-12 15:12] #17088 closed

[2022-09-12 15:14] fehrin opened #28446 "[Windows,Core] (De)serialization fails on Windows"
### What happened + What you expected to happen

1. (de)serialization with registered (de)serializers works on Linux but fails on Windows.
    The error on Windows is
    FileNotFoundError: Unsuccessful TensorSliceReader constructor: Failed to find any matching files for ram://008a291b-1a52-4b98-b858-68fd80866136/variables/variables
    You may be trying to load on a different device from the comp

[2022-09-12 15:30] fehrin opened #28447 "[Windows,Core] Windows wheel missing for ray-2.0.0-cp310"
### What happened + What you expected to happen

1. The ray-2.0.0-cp310 wheel is missing for Windows, only Linux and MacOS are present.
2. The ray-2.0.0-cp310 wheel should be available for Windows too.

### Versions / Dependencies

Windows 10 Python 3.10 ray 2.0.0

### Reproduction script

no code snippet

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-09-12 15:40] austinnichols101 commented on #27881
Python 3.11.0rc2 released on 2022-09-12.

Official release planned for Monday 2022-10-24

[2022-09-12 17:43] heyitsmui commented on #27056
@xwjiang2010 @bveeramani i am happy to take this on if this is not yet claimed!

[2022-09-12 18:20] krfricke opened #28450 "[core] Scheduling a future on an actor with removed placement group hangs forever"
### What happened + What you expected to happen

When a placement group is removed, and a new future is scheduled for an actor that lived on this placement group, ray.get hangs forever on this future and does print any error.

### Versions / Dependencies

Latest master

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-09-12 19:01] bveeramani commented on #27056
Hey @heyitsmui, there's already a PR in review for this (https://github.com/ray-project/ray/pull/28049), but thank you for offering to help!

[2022-09-12 19:02] avnishn opened #28452 "RLlib getting rid of rollout_fragment length and replace with something more dynamic/interpretable"
### Description

rollout_fragment_length is super confusing for RL users.

It isn't used in PPO for controlling sampling, train batch size is used for controlling sampling.

It is used by DQN, but rollout_fragment_length is actually a function of the train batch size, which in off policy algorithms is the amount of samples to collect from replay buffer before running a training step.

We could pot

[2022-09-12 20:17] hanli-0612 opened #28453 "[Job Submission] Support env file input in ray.runtime_env.RuntimeEnv"
### Description

In ray.runtime_env.RuntimeEnv environmental variables are passed to ray head node as a dictionary. It may cause security concerns if there's secret key-value in the dict. We are requesting for a feature support to pass a .env file as part of RuntimeEnv. The job submission request will look like: "ray job submit --runtime-env-json '{"working_dir": "./",  "env_file": $PATH_TO_ENV_FI

[2022-09-12 20:20] rgiacomin commented on #28047
@mihajenko Sorry for the late response and thank you for sharing your script. We have tried exactly your script with the same (undesirable) effect, iow container crashes when we kill the process. We are now upgrading to Ray 2.0 hoping that the issue is solved in the new version. I will let you know if this is the case...

[2022-09-12 20:41] architkulkarni commented on #26568
The root cause is that the Serve controller emits the following error about every 20 seconds:

`'ray::ServeController.listen_for_change() (pid=37658, ip=127.0.0.1, repr=<ray.serve.controller.ServeController object at 0x7f8f594302e0>)\n  File "/Users/archit/anaconda3/envs/ray-py38/lib/python3.8/concurrent/futures/_base.py", line 437, in result\n    return self.__get_result()\n  File "/Users/archit/

[2022-09-12 21:38] christy opened #28457 "[Core RLlib] RLlib on Ray 2.0 not working on Colab"
### What happened + What you expected to happen

### Ray does not easily run on Google Colab

Steps to reproduce:
1. Open Google Colab, do not change the runtime
2. !pip install ray gputil  #gputil is commonly installed and our own warning messages say to install it
3. import ray
    ray.init()

**What you get**:
ValueError: invalid literal for int() with base 10: "NVIDIA-SMI has failed because it

[2022-09-12 21:39] simon-mo commented on #26568
This error can be prevented within Ray Serve. @sihanwang41 I remember you looked into changing this error before once? Was there any WIP code? Otherwise I can submit a PR.

[2022-09-12 22:32] sihanwang41 commented on #26568
Hi @simon-mo , go ahead, I don't have any wip code in this issue.
IIRC https://github.com/ray-project/ray/issues/27677
we should not see this error any more since the exception log has been under DEBUG level?

[2022-09-12 22:35] architkulkarni commented on #26568
We don't see the log statement for this error in the driver anymore, but the underlying error is still being raised and being saved by the dashboard.

[2022-09-12 23:15] peterghaddad commented on #11641
@krfricke Is the tune tab supposed to only show on the legacy dashboard?

[2022-09-12 23:47] architkulkarni opened #28460 "[runtime_env] Allow specifying existing `virtualenv` path in `pip` field"
### Description

Allow specifying a local path to a preinstalled virtualenv that exists on all nodes:
`RuntimeEnv(pip="/path/to/env/")`.

This should activate the virtualenv for all Ray workers without doing any installation of packages.  This is similar to how the `conda` field works for when providing the name of a conda environment that exists on all nodes.

Should be less than 100 lines of cod

[2022-09-13 00:32] peterghaddad commented on #20012
Hi @DmitriGekhtman, I am seeing this issue when running Tune Experiments in Ray 2.0. Should we open this issue back up? I can give more details.

[2022-09-13 00:42] peterghaddad opened #28461 "[Ray Tune] Unable to Run Any Tune Experiment with Ray Client: AttributeError: 'ForwardRef' object has no attribute '__forward_module__'"
### What happened + What you expected to happen

When running Ray Tune from a Jupyter Notebook using tune.Tuner produces the following Stacktrace:

I am utilizing the Ray Client for submitting the job. I saw a similar issue related to here which was closed (this utilized Ray Core). #20012

***Please Reference Reproduction Script #1***
[code]

### Versions / Dependencies

Running Ray 2.0 with Kuber

[2022-09-13 02:11] dbczumar commented on #28226
Hi @jjyao @ericl just checking in here. Also cc'ing a few others based on memory: @robertnishihara @pcmoritz @richardliaw @edoakes. If you feel this doesn't belong in Ray yet, we're also happy to write it as a third-party library. We'd just like to get alignment on a path forward in the next few days. Please let me know if it would help to set up a meeting to discuss this; I'd be happy to schedule

[2022-09-13 02:29] zhe-thoughts commented on #28457
@stephanie-wang @sven1977 Could you help triage?

Also quick question for @christy : is this a regression from previous versions?

[2022-09-13 02:36] pcmoritz commented on #28457
On the GPUtil issue (the first one): I can reproduce this with a fresh colab notebook that doesn't have a GPU. I noticed we are using both GPUtil and gpustat -- the latter seems better maintained, can we only use that? If we use both of them, that puts us at a severe disadvantage since then we inherit the bugs from both packages. cc @richardliaw

[2022-09-13 02:50] christy commented on #28457
Something might have gotten fixed between when I first tried Ray 2.0 on
Colab.  It did not work the first time I tried my code on Colab.

Right now, ray.init() works on Colab default as long as you do not
import GPUtil.

We should remove all WARNING messages that tell user to install gputil?

[image: image.png]

On Mon, Sep 12, 2022 at 7:36 PM Philipp Moritz ***@***.***>
wrote:

[2022-09-13 04:35] #28197 closed

[2022-09-13 04:57] amogkam opened #28462 "[AIR] Refactor checkpoint encoding and decoding out of Backend to framework-specific Checkpoints"
Currently, `TorchBackend` has special logic to be able to serialize GPU tensors, and then deserialize them back on CPU. This logic should be refactored out of the Backends and into `TorchCheckpoint`.

Open question is what to do about metrics (user reports a GPU tensor as a metric).

[2022-09-13 07:46] krfricke commented on #28196
I can reproduce it and have logs here: https://gist.github.com/krfricke/80cf0ddea1b6e0785780cb5b74acbc62

I think @justinvyu identified the issue and is working on a fix

[2022-09-13 09:55] krfricke opened #28465 "[core] `ray.get(future, timeout=0)` blocks forever but should return immediately"
### What happened + What you expected to happen

Calling `ray.get` with `timeout=0` blocks forever, as if `timeout=None` got passed. However, I think it should instead return immediately, as the timeout is zero.

This would then match the experience of core python modules such as `queue.Queue` that return immediately with `timeout=0`.

[code]

The obvious workaround for now is to pass `timeout=0.0

[2022-09-13 10:33] #28439 closed

[2022-09-13 11:34] RaymondKoopmanschap commented on #28237
I noticed this is fixed now.

[2022-09-13 11:34] #28237 closed

[2022-09-13 11:59] mr-abc-xyz opened #28467 "[Train/Tune] Setting `export CUDA_VISIBLE_DEVICES=0` leads to error `ValueError: '0' is not in list`. List of GPUs is made of integers but checks for a string member."
### What happened + What you expected to happen

The issue I have occurs with GPUs. I have to run `export CUDA_VISIBLE_DEVICES=0` before running my code.
I get an error `ValueError: '0' is not in list`.

I provide a small example how to reproduce this error further below.

I traced this error back to ray's `train_loop_utils.TorchWorkerProfile.get_device` function:
Here, the line `gpu_ids = ray.get

[2022-09-13 12:24] RaymondKoopmanschap opened #28468 "[Tune] Resuming to different node ip then original one doesn’t work"
### What happened + What you expected to happen

**Describing the bug**
I first start one tune run on a docker with a certain ip address. I then resume this run from a docker with another ip address. It then resumes at the correct iteration but after 1 iteration I get the error `Error: No available node types can fulfill resource request {'node:172.18.0.2': 0.01}. Add suitable node types to this c

[2022-09-13 13:50] kjabon commented on #9760
Hi, has anyone made any progress on this front? Thanks

[2022-09-13 14:06] #20012 closed

[2022-09-13 14:10] DmitriGekhtman commented on #28461
Tagging @ckw017.

I'd lean towards Ray job submission for submitting jobs, rather than using Ray client.

[2022-09-13 14:14] peterghaddad commented on #20012
@DmitriGekhtman is there a reason we are closing this issue? Are we saying that we are always supposed to use the job sdk? When would we want to use the Ray Client then? Just trying to understand. Thanks!

[2022-09-13 15:08] krfricke commented on #28468
Confirmed this is an issue. The issue is actually in the post-result syncing: The next checkpoint will be saved before the next result is returned. The syncer looks up the last reported node IP, which still points to the old IP. I have a working fix for this in progress now, but it will only be available in Ray 2.1.

In the meantime, you can do this as a workaround:

[code]

[2022-09-13 15:42] RaymondKoopmanschap commented on #28468
Thanks for the quick reply and happy to hear that a fix is already on its way!
The workaround doesn't seem to work however. I made sure it is executed by adding a print statement. This is the code I now use for rllib_simple.py
[code]

[2022-09-13 16:53] heyitsmui commented on #28412
@xwjiang2010 @krfricke im happy to take a look at this if this hasn't been grabbed!

[2022-09-13 16:54] OrenLeung opened #28471 "[Collective] Ray Collective Doc Declarative Style Doesn't work"
### Description

Ray Collective Doc Declarative Style Doesn't work

### Suggestion
update docs from the removed `declare_collective_group` to the `create_collective_group`

example of proper usage https://github.com/ray-project/ray/blob/7f1bacc7dc9caf6d0ec042e39499bbf1d9a7d065/python/ray/util/collective/examples/nccl_allreduce_example_declare_collective_group.py#L7-L33

Error Trace:
[code]

[code]

[2022-09-13 17:02] krfricke commented on #28468
Apologies, I didn't clean up my local test results directory properly.

Can you try again with this callback:

[code]

Thanks!

[2022-09-13 17:12] OrenLeung opened #28472 "[Collective] Support for Jax Array Collective"
### Description

Existing CuPy Collective work out of the box with jax arrays either through a wrapper around cupy like in alpa

### Use case

GPU to GPU collective ops for jax array on a ray cluster:
- as seen in alpa https://github.com/alpa-projects/alpa/blob/87850dad9bce97229eace74a71d76c8cc412df47/alpa/collective/worker_nccl_util_cupy.py#L225-L259
- other jax codebases that use ray and gpu (qu

[2022-09-13 17:24] jiaodong commented on #28472
Hi @OrenLeung , i actually just chatted with Alpa team about the exact topic yesterday, and the latest status is I'm pushing to upstream ray collective for JAX in Ray repo to ensure Ray is the best framework to do distributed JAX in a cluster of GPUs. Both Alpa and Ray/Anyscale are aligned on this.

If you have particular workloads in your mind or want to share about your understanding of this com

[2022-09-13 18:30] shrekris-anyscale opened #28477 "[Serve] [Docs] Document `ray_actor_options` options"
### Description

`ray_actor_options` allows users to configure [an allow-listed subset](https://github.com/ray-project/ray/blob/4daefb28f5ccfdd14681cf8590e098f9a6744d67/python/ray/serve/config.py#L394-L404) of general actor options. However, this isn't documented anywhere.

The documentation explicitly list which options are supported by `ray_actor_options`. It should also enumerate which `acceler

[2022-09-13 19:01] franklsf95 commented on #24581
work in progress

[2022-09-13 19:24] jsuarez5341 opened #28478 "[Core] ray.init hangs, corrupts, crashes on WSL"
### What happened + What you expected to happen

Installed ray[all]==2.0 on a fresh WSL 2 with conda 3.9

ray.init() hangs and eventually crashes. This leaves extra processes around that ray kill --force cannot terminate (have to kill -9). Even managed to freeze my entire WSL, unresponsive to wsl --shutdown, and required a reboot of the host machine.

Fixed by ray.init(include_dashboard=False) --

[2022-09-13 20:14] joshua-cogliati-inl commented on #28071
A view in the dashboard. r1i2n5 is the one that is blocked:
![ray_failing](https://user-images.githubusercontent.com/7118148/190000298-320a94d2-4140-4026-9a63-3b4440eae4c8.png)

[2022-09-13 20:50] wuisawesome opened #28483 "[autoscaler] ray status verbose should display launch failure description"
### Description

_No response_

### Use case

_No response_

[2022-09-13 21:01] DevJake opened #28484 "Ray Dataset - improve documentation"
### Description

To be really blunt, the documentation is of pretty low quality. I've just spent several hours trying to find how to apply a specific schema to the `load_parquet()` function, and it's as simple as just supplying it directly: `load_parquet(schema=[Schema object])`. I'm glad the solution is simple, but to spend this long trying to find a solution is indicative of a bigger issue: the

[2022-09-13 21:54] richardliaw commented on #28484
@DevJake I think this is really good feedback, and we've been trying to make the documentation better.

That being said, from our perspective it's very hard to write great docs when we're trying to write it for ourselves. I'm wondering if you'd be willing to help sit down with us, walk us through your experience from a first-person perspective, and give some better color on what you're trying to d

[2022-09-13 22:06] peterghaddad commented on #28461
@DmitriGekhtman If we lean towards using the Job Submission SDK, is there any documentation for getting the best checkpoint or returned values? For example, we can do get_job_logs but I don't see a solution for returning a specific value after job completion.

[2022-09-13 22:14] pcmoritz commented on #28484
Thanks, this is super great feedback! I'll try to make a PR to improve the documentation with these points and tag you in it @DevJake

As Richard points out, we'd also love to get more feedback from you. Ray Data is still a very new library and we are actively improving the documentation -- such immediate feedback is incredibly valuable!

Thanks for your help :)

[2022-09-13 23:13] jjyao opened #28487 "[Core] Document what are the generic python code that's easily scalable."
### Description

We need some documentation and examples targeting Python users telling them what are the patterns that are easily scalable, .e.g.,
Python multiprocessing code
Independent large functions.
No global variables.
...
Also, we can provide guidance on changes they might make to their code to make it parallelizable with Python, e.g., eliminate global variables.

### Link

_No response_

[2022-09-13 23:25] pcmoritz commented on #28484
I made a PR to improve the issues you brought up on the Ray side (https://github.com/ray-project/ray/pull/28488).

The error message will need to be improved in Apache Arrow. I'm happy to do that and have done so in the past (e.g. https://github.com/apache/arrow/pull/13979, https://github.com/apache/arrow/pull/14001, https://github.com/apache/arrow/pull/14019) -- the Apache Arrow project is still

[2022-09-13 23:36] christy commented on #28457
@richardliaw - FYI - Philipp made a comment we should replace GPUtil with gpustat

[2022-09-14 00:13] xwjiang2010 opened #28491 "[tune] Document/Fix/Define how to get checkpoint uri path when SyncConfig is set up to cloud"
### What happened + What you expected to happen

See repro script

I would imagine something like `result.get_best_result().checkpoint._uri` (even this is questionable - why would one access an internal method for some basic information like this..)

### Versions / Dependencies

Master

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work aroun

[2022-09-14 00:13] xwjiang2010 opened #28492 "[tune] Document/Fix/Define how to get checkpoint uri path when SyncConfig is set up to cloud"
### What happened + What you expected to happen

See repro script

I would imagine something like `result.get_best_result().checkpoint._uri` (even this is questionable - why would one access an internal method for some basic information like this..)

### Versions / Dependencies

Master

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work aroun

[2022-09-14 00:14] xwjiang2010 commented on #28491
Checked the bucket actually has the checkpoint. What seems to be broken is the user interface to surface this information.

[2022-09-14 00:54] bveeramani opened #28494 "[Docs] `Deprecated` annotation makes "Args" and "Returns" jank"
### Description

<img width="662" alt="image" src="https://user-images.githubusercontent.com/26107013/190034765-709b380a-2ccc-4378-a7a3-0960b7c27062.png">

<img width="684" alt="image" src="https://user-images.githubusercontent.com/26107013/190034794-e5465e28-d939-4cf0-a2df-b7e871791605.png">

### Link

_No response_

[2022-09-14 01:07] richardliaw commented on #28494
Make a PR?

[2022-09-14 01:07] richardliaw commented on #28494
Good catch!

[2022-09-14 01:17] richardliaw commented on #28494
Actually, doesn't seem like Deprecated annotation is the cause, but rather the indentation from the method.

[2022-09-14 01:26] bveeramani commented on #28494
I think the `Deprecated` annotation is the cause. Adding additional indentation to the `message` variable fixes the error.

Will open PR now

[2022-09-14 01:40] hellofinch opened #28496 "[Core] dump the info and anaylze the data offline"
### Description

Ray dump the log which can be visualized in the dashboard or something else. The system info can be recorded such as the usage of CPU, the bandwidth, and the usage of disk and memory.

### Use case

Ray dumped all logs and used the logs to show how the program runs dynamically. I can analyze the performance of the distributed program and optimize the program.

[2022-09-14 01:43] 1059692261 opened #28497 "[jobs] cannot instantiate 'PosixPath' on your system"
### What happened + What you expected to happen

Dear all,
I try to submit a work using ray tune from my windows 10 laptop to our ray cluster,  which is deployed on several linux machines. And I encounter an error as shown below:
![image](https://user-images.githubusercontent.com/44863873/190038508-3734e49f-6d7c-4e24-af31-69573364f10d.png)
The code I run is actually a sample code from ray tune doc

[2022-09-14 02:14] DmitriGekhtman commented on #28461
Getting a Python object out of a job isn't currently supported, but I think it could make sense and might not be too bad to implement.
From a Ray developer perspective, it would be great if we can slightly enrich job submission to achieve parity with the relevant Ray client features.

If you open a Ray feature request issue, we could get more discussion going.

[2022-09-14 02:40] peterghaddad opened #28498 "[Job SDK] Enable return values after job completion"
### Description

Currently the Ray Job SDK does not support the ability to return an object after job completion.

For example, once a job is completed it would be useful to return training metrics, tune metrics, ray-serve endpoint, etc. I would expect this to return None, Undefined, or False if the job is not in the `SUCCESSFUL` state. Since all is needed is the job ID, it would be a useful featu

[2022-09-14 02:41] peterghaddad commented on #28461
I created [the following issue.](https://github.com/ray-project/ray/issues/28498) I agree. For the above script, it doesn't take too long to execute so I would think the Ray client is fine to utilize. I do believe this issue is still relevant and any insight would be helpful.

[2022-09-14 02:55] DmitriGekhtman commented on #28498
I think it's a good idea.

cc @simon-mo @architkulkarni @richardliaw @pcmoritz
One way of describing what we'd be shooting for here is a "thin Ray client" using job submission.

[2022-09-14 03:11] bveeramani opened #28500 "[Docs] `PublicAPI` annotation makes rendering jank"
### Description

`PublicAPI` works fine if the API is defined in the global namespace, but fails otherwise (e.g., a class method).

<img width="720" alt="image" src="https://user-images.githubusercontent.com/26107013/190049806-cafdf254-8377-45a3-ad3b-a73cf6baca9e.png">

See also #28499  and #28494

### Link

_No response_

[2022-09-14 05:26] stephanie-wang commented on #28071
I'm afraid Ray is not expected to work if you specify too small of a range of worker ports and the ports are all in use. Your script will slow down quite a bit, and the errors about workers failing to start are expected, but eventually Ray should be timing out workers and retrying queued tasks on a different worker.

I took a look at the previous issues that you reported, and I think it's best tha

[2022-09-14 05:28] stephanie-wang commented on #27499
We cannot put a hard cap on the number of workers since this can potentially deadlock if you have a deeply nested application, so I'm afraid this feature is unlikely to be supported. The recommended way to impose a soft cap is to use `--num-cpus`, as you said.

That said, this is definitely abnormal:

Can you please provide a reproduction script so we can dig into this further?

[2022-09-14 05:33] richardliaw commented on #28494
Sorry, what I meant was that all the API stability decorators exhibit the same issue (in that all, not just the deprecated annotation, don't work well when the docstring is indented).

[2022-09-14 06:00] #28443 closed

[2022-09-14 08:28] Fazziekey opened #28501 "[<Ray component: Core>]"
### Description

I used ray with my teammate on a cluster, but I always get failed like below if my teammate also use ray
![image](https://user-images.githubusercontent.com/55798671/190102454-efc28a8b-a11a-444b-9202-4429b81f7037.png)

### Use case

_No response_

[2022-09-14 08:39] marcmk6 commented on #28197
Yes, it works!

[2022-09-14 08:39] marcmk6 commented on #28197
Yes it works!

[2022-09-14 09:19] dirkweissenborn opened #28502 "Dashboard / Jobs RegexMatcher ignores "includes"."
### What happened + What you expected to happen

Ray doesn't respect negated patterns when setting up `excludes` in runtime_env. The reason is that includes is never used in the regex matcher here:
https://github.com/ray-project/ray/blob/master/python/ray/_private/thirdparty/pathspec/pattern.py#L128

### Versions / Dependencies

2.0

### Reproduction script

Not necessary.

### Issue Severity

Med

[2022-09-14 10:25] RaymondKoopmanschap commented on #28468
Thanks a lot! The workaround works. I really appreciate the fast replies.

[2022-09-14 10:41] rgiacomin commented on #28047
Unfortunately, same scenario with Ray 2.0. See pictures below, representing memory usage (last 12 hours) for head and 2 additional nodes. Again, I had no activity in this cluster since deployment (meaning, nothing configured to run on the cluster)...

Any hints? This is a blocker issue for me, because I can't keep restarting the cluster every x days...

![image](https://user-images.githubuserconte

[2022-09-14 11:03] mihajenko commented on #26568
cc @rgiacomin

[2022-09-14 11:12] igolant opened #28505 "[Data] ray.data ignores schema if block contains zero rows"
### What happened + What you expected to happen

1. reading parquet with zero rows should keep schema (returns schema is None)
2. map_batches should return table with schema (returns schema is None)

see examples in reproduction scripts

### Versions / Dependencies

ray.__version__ = "2.0.0"

### Reproduction script

1. reading parquet with zero rows should keep schema (returns schema is None)
[co

[2022-09-14 12:49] WeichenXu123 commented on #28226
@jjyao @ericl

This is a design sketch doc:
https://docs.google.com/document/d/11ngU2yTunli_uLlaN04WOXzfmYZi60LVNBt-6Sn3Reg/edit?usp=sharing

[2022-09-14 14:26] joshua-cogliati-inl commented on #28071
Hm, how long is it expected to take the workers to time out?  When we see this on our cluster in production runs, it seems like it can take over a day before the workers time out (or otherwise can run) and it starts running again (and then it hits the broken node, and gets blocked again).

I agree that one of the root problems is that there is no good api to limit the number of workers started (#2

[2022-09-14 14:34] #28468 closed

[2022-09-14 14:55] joshua-cogliati-inl commented on #27499
Hm, I don't have a simple reproduction script, but what we are roughly doing is calling ray.init in one python program, and then it runs multiple ray.remotes, and in the ray remotes, they do a subprocess call to another python program that does another ray.init and then calls its own ray.remotes.  I think that is required to get to levels like 90.

That said, if you want to see ray::IDLE workers t

[2022-09-14 15:13] DevJake commented on #28484
Hey @pcmoritz and @richardliaw, I really appreciate your quick responses and action on this. I apologise for the bluntness in my message, but I'm sure you can understand. A lot of new, open-source software is in development in response to the AI explosion we're seeing lately, so it definitely needs time to get up to scratch with stuff that's been out there for a much longer period. I'd be more tha

[2022-09-14 15:13] #28484 closed

[2022-09-14 15:13] xwjiang2010 commented on #28492
[code]
is what I got...

[2022-09-14 15:39] joshua-cogliati-inl commented on #27499
Um, correct me if I am wrong, but doesn't this mean that ray potentially deadlocks with a deeply nested application, since any physical machine has some actual hard limit for the number of workers? It sounds like ray may need some way to error out in that case. (This may be difficult to fix...)

[2022-09-14 16:01] #28382 closed

[2022-09-14 16:15] stephanie-wang commented on #27499
Each time you call `ray.init()`, it starts another "driver" Ray program, like calling a `main()` function but for a distributed program. In Ray, we don't share workers across drivers for isolation purposes. I believe this is the most likely reason that you're seeing so many IDLE workers.

The best practice here is to try to keep the whole application under the same driver. In the ray.remote calls,

[2022-09-14 16:21] stephanie-wang commented on #28071
It should take <1min for the worker to time out.

From the other github issue, I think you're probably seeing tasks hanging because you have workers started by multiple drivers, and these can't be shared across the different drivers. So most likely, some workers have already taken up all of the available ports, and the scheduler can't create a suitable worker for the queued task.

We can fix Ray t

[2022-09-14 16:28] joshua-cogliati-inl commented on #27499
I agree in principle that it would be nice to eliminate the subprocess call.  We have discuss that ~every 6 months, but it is non-trivial. And for what it is worth, the subprocesses do exit, and to get to 90, they probably have to not be cleaned up after exiting.

That said, the replication in https://github.com/ray-project/ray/issues/27499#issuecomment-1246894172 does not use a subprocess call, a

[2022-09-14 16:38] joshua-cogliati-inl commented on #28071
I agree that the way we are using ray may be suboptimal, but the replication script here only uses one driver. From the Ray Architecture document: "Ray worker nodes are designed to be homogeneous, so that any single node may be lost without bringing down the entire cluster." Basically, this does fault injection on a single node, and that results in the entire cluster failing to make progress.

Biz

[2022-09-14 17:05] stephanie-wang commented on #28071
I see, thanks! I've updated the issue title and we'll look into it, but I can't guarantee a timeline. So I strongly suggest that you find a way to work around using the min and max worker ports in the meantime.

[2022-09-14 17:07] stephanie-wang commented on #27499
@joshua-cogliati-inl are you okay closing this issue? We cannot provide the requested feature to hard-cap workers, but feel free to open or rename to something else.

[2022-09-14 17:09] joshua-cogliati-inl commented on #28071
Any hints as to where I should look in the ray code would be appreciated.

[2022-09-14 17:18] mattip commented on #28478
I assume you are running the `ray.init()` in the WSL2 shell, right? Can you see any suspicious messages in /tmp/ray/sessson*/logs ?

Could you describe your hardware: do you have an nvidia graphics card? We have seen some instances where dashboard uses gpustat which can crash on windows. PR #26295 was meant to fix that but has not been merged yet. Could you try updating gpustat to `gpustat == 1.0.

[2022-09-14 17:19] joshua-cogliati-inl commented on #27499
Hm, would "ray workers not being cleaned up if node blocked" be an acceptable renaming? (And if there is another way to do the fault injection quickly besides min/max worker ports I would be happy to try a replication script with that instead.)

[2022-09-14 17:28] joshua-cogliati-inl commented on #27499
(If  #28071 was renamed to "[Core] Ray may hang if workers fail to start", I would be fine with closing this one, because this one is about preventing ray from failing if the workers use too much memory.)

[2022-09-14 17:49] pcmoritz commented on #28484
Thanks that sounds great! PRs are certainly very much appreciated :)

[2022-09-14 17:57] voklejas2 opened #28510 "[AIR/Tune] HorovodTrainer (with Keras Model) apparently not writing metrics to results"
### What happened + What you expected to happen

Hi!

1. I've tried to implement a HorovodTrainer, to train a Keras Model, with Ray Tune, but it appears as though the results dict is not being updated with the specified "mean_accuracy" metric. The model will train as expected (with Horovod distributing the model/data over worker nodes), but I suspect that either the TuneReportCallback is not being

[2022-09-14 18:19] rkooo567 commented on #28501
Can you share the script you run? Also it seems like workflow related cc @iycheng

[2022-09-14 18:19] rkooo567 commented on #28502
cc @architkulkarni ?

[2022-09-14 18:21] joshua-cogliati-inl commented on #27499
Okay, the actual problem (as the stack flow question with no answers has: https://stackoverflow.com/questions/60098624/what-is-rayidle-and-why-are-some-of-the-workers-running-out-of-memory/63231293 ) is that ray can often end up in situations where ray::IDLE workers are taking up a lot of resources.  I think this may require fixing various bugs ( #28071 and 28199 to name two.) and possibly improvi

[2022-09-14 19:11] dirkweissenborn commented on #28502
Sorry for not being more explicit.

The problem is that negation doesn't work. So writing something like
"!*.py" as a pattern to exclude should exclude everything but .py files. It
doesn't. The reason it doesn't (i think) is the line i linked. The match is
computed on the not negated pattern ("*.py") but the "include" attribute is
not taken into consideration.

On Wed, Sep 14, 2022, 20:26 Archit K

[2022-09-14 19:24] peterghaddad commented on #27748
@richardliaw I created a PR that enables the user to pass metadata as an environment variable. I think this is a great method since it is similar to setting Certs and Proxies.

Essentially, we need to enable verification of a JWT token that is passed through metadata.

I've spent a lot of time reading gRPC docs and using a metadata callback; however, I noticed passing metadata is different for the

[2022-09-14 19:36] richardliaw commented on #28510
Seems like a pretty bad bug. Assigning to @krfricke as DRI (feel free to hand this off, we can coordinate).

[2022-09-14 20:11] architkulkarni opened #28513 "[runtime env] `conda` fails to install Ray due to `grpcio` error on some M1 macs"
### What happened + What you expected to happen

Running a basic Ray script with a `runtime_env` that uses `conda` dependencies fails during the installation of Ray into the conda env.  It happens on one of our M1 mac but we couldn't reproduce it on a new M1 mac, so it could be due to a corrupted environment of some sort.  Opening this issue in case other users run into similar problems.

<img wid

[2022-09-14 20:56] flixmk opened #28514 "[air/tune] AttributeError: 'method' object has no attribute '_resources'"
``Hi,

I am trying to run my hyperparameter tuning on my gpu. It works perfectly fine using only optuna. But because I want to be able to scale I switched to ray.
Here
[code]
This is the part that causes the trouble. If I only give the objective like this:
[code]
then it works but uses only CPU. Now - like above - I want to allocate a GPU which is recognized by PyTorch.
But then I get this error h

[2022-09-14 21:20] richardliaw commented on #28514
@flixmk could you help post the full stacktrace?

[2022-09-14 21:38] mlguruz opened #28516 "[AIR] Composite Trainer"
### Description

So far, it seems that a Trainer is standalone.
It would be nice if a Trainer can take other trainers as inputs, or, a DAG of trainers as inputs, in which case it acts as a "Composite Trainer" where `training_loop` is basically just executing the workflow based on the DAG.

### Use case

This will allow tuning multiple models (or basically any sub-graph) together possible.

[2022-09-14 21:39] richardliaw commented on #28491
Seems like this is redundant with https://github.com/ray-project/ray/issues/28492

[2022-09-14 21:39] #28491 closed

[2022-09-14 21:43] richardliaw commented on #28516
Interesting... could you show me a use case?

[2022-09-14 21:47] ebilgin opened #28518 "[RLlib] PyTorch policy cannot restore from checkpoint"
### What happened + What you expected to happen

I have a MARL environment using PPO with PyTorch backend. When restoring the trainer from a checkpoint, `convert_to_torch_tensor` torch util fails:

[code]

It looks like this Adam optimizer param group cannot be restored because `foreach` is `None`.

`11: {'step': 36800.0, 'exp_avg': array([0.00672955], dtype=float32), 'exp_avg_sq': array([0.019012

[2022-09-14 21:52] mlguruz commented on #28516
An example could be that you wanna fit three models that depend on the same preprocessor (e.g. some winsorizer) and a stacker that depends on the predictions from the three models.

In this case,
1) the preprocessor should be fitted once
2) there's no dep among the three models, so they could train in parallel, but they all depend on the preprocessor
3) the stacker depends on all three models so h

[2022-09-14 22:06] richardliaw commented on #28516
So just so I understand this, is this basically:

[code]

What do you mean by this?

[2022-09-14 22:08] richardliaw commented on #28497
tagging in @mattip to help out here!

[2022-09-14 22:10] richardliaw commented on #28427
Looks awesome! Thanks for the pointer.

Looks like the code is here: https://github.com/automl/DEHB

Shall we add it at some point @xwjiang2010 @justinvyu ?

[2022-09-14 22:14] mlguruz commented on #28516
Yes on the pseudo-code.

And sorry for the typo - I meant "along with"...

So, I may wanna tune "max median-absolute-dev" values and "activation function" types together. They belong to two "models".

[2022-09-14 22:16] richardliaw commented on #28516
OK just help me understand -- when you're tuning the preprocessor with the model params, do all models get affected? What do you mean by they belong to "two models"

[2022-09-14 22:21] mlguruz commented on #28516
Yes - all downstream models will be affected.

For (an extreme) example, when you set stdev of StandardScaler to 0, all feature values get clipped to mean, hence everything from that point on will be affected.

I think a "model" as anything that takes in some data and spits out some data, so a preprocessor is the same as a NN (transform = predict, not identical, but you get my point).

[2022-09-14 22:42] stephanie-wang opened #28521 "[core] Give a better error message when ray.remote requires can't serialize a global variable"
### Description

To execute remote functions and actors, Ray needs to serialize the function or class definition. If there are global variables captured in the scope of these, Ray has to serialize these too. This may not always be possible. Currently the error message is pretty opaque, and it would be nice if we could point users in the right direction.

[code]

On the other hand, this will work,

[2022-09-14 22:55] jiaodong opened #28522 "Add _transform_numpy to all DL preprocessors, ex: `BatchMapper`"
See master task attached for success criteria.

This tasks changes `BatchMapper` and `Preprocessor` to add a numpy transformation path.

[2022-09-14 22:55] richardliaw commented on #28516
OK got it, so you just want to be able to tune everything end-to-end. Kinda like the StackedRegressor in Scikit-Learn.

[2022-09-14 23:01] jiaodong opened #28523 "Remove _transform_arrow from Preprocessors"

[2022-09-14 23:01] jiaodong opened #28524 "Add numpy combination for _transform_batch to all DL preprocessors, ex: `BatchMapper`"

[2022-09-14 23:02] mlguruz commented on #28516
Yes - it avoids duplicated fits (like refitting the same preprocessors) and makes the whole dag tuneable.

I have done that before but not on Ray, and now I wanna move it to Ray, since I really like the distributed training (w/ different resources for different models) features of Ray, and the Ray Tune ecosystem.

Do you have any suggestions on how I could achieve that?

[2022-09-14 23:02] jiaodong opened #28525 "Add `predict_numpy` to DLPredictor types (tf, torch)"

[2022-09-14 23:02] jiaodong opened #28526 "[Datasets] Push data block produce / concat / convert to upstream and minimize time spent in user code (training & prediction)"

[2022-09-14 23:32] ericl opened #28528 "[tune] Documentation around syncing / saving / retrieving results is hard to understand"
### Description

For the task of "I want to train 1000 models and retrieve each model result later", it's pretty hard to figure out how to do this. There are multiple doc issues:
1. There is no guide for "How to save and retrieve Tune results". This should be a core guide, not something spread out.
2. Several parts of the documentation say "Tune automatically syncs files to the head node". However

[2022-09-14 23:39] peytondmurray commented on #28478
I'm trying to recreate this bug just now.

<details>
<summary>Environment</summary>
<pre><code>
# packages in environment at /home/pdmurray/.pyenv/versions/mambaforge/envs/ray:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                       2_gnu    conda-forge
aiohttp

[2022-09-14 23:46] richardliaw opened #28530 "[tune/docs] Update Distributed Tuning example to be cluster agnostic"
### What happened + What you expected to happen

Right now, our Ray Tune distributed execution guide is too specific (written for only the cluster launcher).

We need to update this so that it is agnostic to the cluster type, and then also make sure any of the cloud-specific aspects are pushed to the clusters/ section of the docs.

https://docs.ray.io/en/latest/tune/tutorials/tune-distributed.html

[2022-09-15 00:21] ericl commented on #28528
Here's a concrete suggestion on a guide for saving results:

## How to Save and Retrieve Trial Artifacts

### Saving Trial Artifacts

Some explanation of alternatives and when to use them. Limitations such as size, etc.

[Tab 1] -- Using local files
[Tab 2] -- Using Checkpoint (and also explanation of resuming from Checkpoint)
[Tab 3] -- Using log_model

### Reading Trial Artifacts

Explanation of

[2022-09-15 01:03] pcmoritz commented on #28497
It seems highly likely that this is due to the Ray Client and the code being pickled on the Windows host and then unpickled on the Linux server that runs the Ray Cluster -- I would recommend running the script from within the Ray cluster as a driver.

[2022-09-15 01:05] pcmoritz commented on #28497
I.e. if you replace
[code]
with
[code]
and run the script with `python script.py` from the head node it should work :)

[2022-09-15 01:35] Fazziekey commented on #28501
![image](https://user-images.githubusercontent.com/55798671/190292724-0854f595-c4c3-455a-96b9-0a197dc3cd60.png)

[2022-09-15 01:36] Fazziekey commented on #28501
this is my code,and this is the link of repositories https://github.com/hpcaitech/FastFold

[2022-09-15 01:47] 1059692261 commented on #28497
Thank you for your advice. However, submitting works from the head node would not be our goal. We actucally want to submit jobs from any remote hosts.

[2022-09-15 02:06] simon-mo commented on #28407
Maybe we can consider an internal/experimental API? cc @iycheng as well.

[2022-09-15 02:17] richardliaw commented on #28497
Can you try using Ray Job submission instead? https://docs.ray.io/en/latest/cluster/running-applications/job-submission/index.html

[2022-09-15 03:02] 1059692261 commented on #28497
Sorry for the misleading statement. We need ray tune for hyperparameter tuning and except to submit the work programmatically.

[2022-09-15 03:30] pcmoritz commented on #28497
There are two possibilities to make it work:
- Use the Python API for job submission: https://docs.ray.io/en/latest/cluster/running-applications/job-submission/sdk.html#submitting-a-ray-job
- Put the tuning into a Ray task that you submit via the client:
[code]

For the latter, it avoids pickling the unpicklable object on your driver :)

I hope one of these ways works for your use case!

[2022-09-15 03:31] pcmoritz commented on #28497
Let us know which way you decide to use / works for your use case so we can add it to our documentation :)

[2022-09-15 05:03] jjyao commented on #28505
cc @jianoaix @clarkzinzow for triage.

[2022-09-15 07:50] praveenblr32 opened #28534 "[Ray: Core] - Unable to enable TLS on the ray head node"
### What happened + What you expected to happen

On enabling the TLS on the ray cluster as per the ray documentation https://docs.ray.io/en/latest/ray-core/configure.html#tls-authentication,the ray cluster fails to start with the below error

[code]

Note: If TLS is disabled RAY_USE_TLS: '0', everything works fine.

### Versions / Dependencies

ray: 2.0.0
Python: 3.8.5

### Reproduction script

im

[2022-09-15 09:43] mr-abc-xyz commented on #28467
I changed the title and added explicit dependencies for easier reproducibility.
Can someone please confirm if this is a bug or if I am doing something wrong on my end?
Thank you!

[2022-09-15 11:19] bveeramani opened #28537 "[Datasets] `read_text` `errors` parameter is unused"
### What happened + What you expected to happen

The `read_text` function exposes an `errors` parameter, but it isn't used in the implementation (i.e., it does nothing).

https://github.com/ray-project/ray/blob/b878fd28d25f17d5bf23563f73c4ab19b6ab625e/python/ray/data/read_api.py#L661-L662

https://github.com/ray-project/ray/blob/b878fd28d25f17d5bf23563f73c4ab19b6ab625e/python/ray/data/read_api.py#

[2022-09-15 11:50] jmakov opened #28538 "[Cluster] agent.py using 100% of a CPU core"
### What happened + What you expected to happen

Deployed on a local cluster, `agent.py` is using on every node a CPU core almost all the time (2s 100% usage, 2s pause).

### Versions / Dependencies

name: puma-lab
channels:
  - conda-forge
  - defaults
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=2_gnu
  - bzip2=1.0.8=h7f98852_4
  - ca-certificates=2022.9.14=ha878542_0

[2022-09-15 12:33] #28266 closed

[2022-09-15 16:57] richardliaw commented on #27582
@simon-mo can we get this in for 2.1? or close if already addressed?

cc @sihanwang41

[2022-09-15 16:58] richardliaw commented on #27783
@xwjiang2010 can we document this?

[2022-09-15 16:58] #27582 closed

[2022-09-15 17:01] richardliaw commented on #28412
yeah please do so! and keep us updated. opening a draft PR would be the fastest way to collaborate here!

[2022-09-15 17:03] richardliaw commented on #24938
no longer issue?

[2022-09-15 17:03] #24938 closed

[2022-09-15 17:03] krfricke commented on #28514
oh and could you also post more of your training code?

[2022-09-15 17:04] #28284 closed

[2022-09-15 17:06] amogkam commented on #28467
Hey @mr-abc-xyz, yes this is a bug! I'm taking a look right now!

[2022-09-15 17:13] #23307 closed

[2022-09-15 17:29] #28494 closed

[2022-09-15 17:29] #28500 closed

[2022-09-15 17:53] flixmk commented on #28514
Sorry for the late answer.
[code]

My training routine is just a simple pytorch training routine. Works perfectly fine without raytune.

[2022-09-15 18:27] crclark opened #28540 "[Tune] ray.tune.sklearn creates unfulfillable resource requests"
### What happened + What you expected to happen

The code below hangs forever with an error from the scheduler:

`(scheduler +3s) Error: No available node types can fulfill resource request {'CPU': 64.0}. Add suitable node types to this cluster to resolve this issue.`

The number of CPUs requested by Ray Tune varies depending on the size of the nodes in the cluster: bigger nodes => bigger, unfulfi

[2022-09-15 18:38] peterghaddad commented on #28461
@DmitriGekhtman @ckw017 As an FYI, I get the above errors when using any Ray Serve locally also.

[code]

[2022-09-15 18:45] ckw017 commented on #28461
Will take a look today, what version of Ray did you spot this on?

[2022-09-15 18:47] peterghaddad commented on #28461
@ckw017 This is on Ray 2.0. My full pip is above. I'm seeing this when running both locally and in Jupyter Notebook in the cloud.

[2022-09-15 18:47] ckw017 commented on #28461
Ah hmm, found this issue: https://github.com/ray-project/ray/issues/26443

Can you double check the python version where you're running the script and the python version where the cluster is running?

[2022-09-15 18:56] peterghaddad commented on #28461
@ckw017 Both are running 3.9.5, however seems that 3.9.7 fixes this issue?

The Ray image I am using is ray:2.0.0-py39

[2022-09-15 19:37] c-phillips opened #28541 "[AIR/Tune] Wandb exits with encoding error"
### What happened + What you expected to happen

### The Bug
WandB exits because of an encoding error

### Expected Behavior
WandB callback should log all tune logs without error

### Useful Information
Error Log:
[code]

### Versions / Dependencies

Ray 2.0.0
WandB 0.13.2
Python 3.9.13
PettingZoo  1.20.1

### Reproduction script

[code]
### Issue Severity

Low: It annoys or frustrates me.

[2022-09-15 19:42] peterghaddad commented on #28461
Would the hope to enable Ray to work with 3.9.7? Will ray:2.0.0-py39 ever increase its version from 3.9.5 to > 3.9.5? Definitely the problem is with 3.9.7 or greater.

[2022-09-15 19:46] c-phillips opened #28542 "[AIR/Tune] [Windows] Wandb fails when running on a non C drive"
### What happened + What you expected to happen

### The Bug
WandB integration fails when you run your script from another drive letter. It doesn't matter where you put the `api_key_file` or if you use the `api_key` directly, it will still fail when running your main script from a non-C drive

### Expected Behavior
WandB should initialize and start logging metrics returned from Tuner

### Useful I

[2022-09-15 19:48] ckw017 commented on #28461
I'll check if I run into the same issue. The easiest fix I can think of here would be to switch your local version to 3.9.5 (if you're using conda, you can do something like `conda create -n py395 python=3.9.5`).

I suspect that Ray will work on 3.9.7, it would just need a compatible version of python on the client side as well.

[2022-09-15 19:50] malintha commented on #16200
I'm experiencing the same on ray 2.0. I have slightly changed the code above, as currently pettingzoo is throwing an error when trying to use the waterworld environment. So, I changed it to simplespread and the algorithm to DQN. Here is my reproduction code.

[code]

[2022-09-15 20:23] shrekris-anyscale opened #28544 "[Ray State API] Include `namespace` in `ActorState`"
### Description

**Background**

`ActorState` provides useful information about actors, such as `name` and `actor_id`.

**Request**

`ActorState` should include `namespace`.

### Use case

The [Serve controller relies on `list_named_actors`](https://github.com/ray-project/ray/blob/c5952f2163ea24fa072b1e57e4fa37b5caf1a56c/python/ray/serve/controller.py#L124-L131) to detect which deployment replicas

[2022-09-15 20:50] jiaodong opened #28545 "[Ray Cluster][Autoscaler] Reduce # of redundant tags as we autoscale"
### Description

User reported that with ray cluster autoscaling to 16 hosts, we ended up with ~16 tags that could exceed limit of tags on GCP which requires user to hack around reducing them. We should be able to make them less verbose and scalable to GCP wrt to the tag count limit.

### Use case

_No response_

[2022-09-15 20:54] jiaodong opened #28546 "[Ray Cluster][Autoscaler] Maximize concurrent requests to bring up 1-> many instances"
### Description

From user call who trains on TPU on GCP, they observed expected time to bring up 0->1 instances (headnode) but 1-> many seems more linear than parallelized. Ideally we should facilitate parallelized requests to these instances to speed up full static cluster startup time.

### Use case

_No response_

[2022-09-15 22:19] zygi commented on #28545
Specifically, GCP's labels are quite restrictive: you can have 64 k/v pairs each, with each key and value being max 63 chars. For normal nodes this isn't a problem, but we wrote an autoscaler provider for GCP TPU pod slices -- which means we can be creating up to 32 ray nodes backed by a single logical gcp instance (e.g. TPUv4-256). To fit the tags for all the ray nodes I've had to resort to some

[2022-09-15 22:29] zygi commented on #28546
Hi! I don't think this is strictly a feature request, but I'll just describe our workflow and the problems we're facing, and maybe you guys can figure out a way to improve this.

So, we want to spin up GCP TPU pod slices using the autoscaler, and so we wrote a custom autoscaler provider for this. The way TPU pod slices work is you create a single logical GCP instance, but that instance gives you e

[2022-09-15 22:36] ckw017 commented on #28461
^Was able to reproduce with 3.9.7 client and 3.9.5 cluster. I'll add a warning if the user's local patch version mismatches the cluster's patch version.

Wanted to double check if the workaround of using 3.9.5 locally is possible for you

[2022-09-15 22:49] pcmoritz commented on #4758
I'm running into this again now (trying to get Ray doctests working with @ray.remote), if somebody has a way to fix it that would be great :)

[2022-09-16 00:09] amogkam opened #28554 "[AIR] Status updates still prints even with breakpoint"
### What happened + What you expected to happen

When inserting a pdb breakpoint inside the training function, the period status updates still print out. This makes it very difficult to debug.

[code]

### Versions / Dependencies

Ray master

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-09-16 00:10] bveeramani opened #28555 "[Datasets] Add partitioning user guide"
### Description

#28413 adds a `partitioning` parameter to many top-level read functions. However, there's no guide on how to use partioning with Ray Datasets. Currently, there's just a limited API reference https://docs.ray.io/en/latest/data/api/input_output.html#partitioning-api

### Link

https://docs.ray.io/en/latest/data/api/input_output.html#partitioning-api

[2022-09-16 02:16] 1059692261 commented on #28497
Both ways work for me, thank you so much @pcmoritz ! But I still have a few questions:
1、So I guess it is not possible to directly use ray tune to submit my work in my case, right?
2、How can I get my result back using ray job submission python sdk?
Looking forward to your reply. Thanks again!

[2022-09-16 02:40] clarng opened #28557 "[core] disable / adjust memory check at task submission if memory monitor is enabled"
### What happened + What you expected to happen

Workload fails if the memory check sees low memory.

With memory monitor it could accept the task and retry / throttle appropriately

Repro:
https://anyscaleteam.slack.com/files/U02837M6JQ7/F0427HB6F55/screen_recording_2022-09-15_at_4.01.26_pm.mov

### Versions / Dependencies

latest

### Reproduction script

import ray

@ray.remote
class MyActor:

[2022-09-16 02:42] clarng commented on #28557
probably need this for 2.1 cc @stephanie-wang @scv119 @rkooo567

the cluster has eviction threshold 0.95 so it is still possibl for the memory checker to trigger

[2022-09-16 03:00] flyinskybtx opened #28558 "[Tuner/RLlib] Failed restore tuner on Windows."
### Failed restore tuner on Windows. Urllib wrongly recognized Windows filepath as url
Tuner failed to restore from checkpoint (trainable.pkl) on Win10.

The ray_results location is "~/ray_results" by default, which is interpreted as "C://User/lxh/ray_results", and my trainable.pkl and tuner.pkl well exists.

by calling tuner.restore("C:\\Users\\lxh\\ray_results\\RocketHover"), it raise
_FileNotFo

[2022-09-16 03:33] stephanie-wang opened #28559 "[core] All long-running release tests that use a local Ray cluster are failing"
### What happened + What you expected to happen

long_running_* tests create a local Ray cluster and are failing:

[code]

### Versions / Dependencies

Last good commit: 9ff23cd6224a39254048738fcc469289df387d08
First bad commit: 71bb155c5568e693c6f06a9392889ce4085c7750

### Reproduction script

long_running_* tests

### Issue Severity

_No response_

[2022-09-16 03:36] stephanie-wang opened #28560 "[core] microbenchmark_staging release test is failing from ValueError"
### What happened + What you expected to happen

Test fails with:

[code]

### Versions / Dependencies

Last good commit: 38d87c281b1424a365ee8a23a50a6ec0db5777c8
First bad commit: 71bb155c5568e693c6f06a9392889ce4085c7750

### Reproduction script

microbenchmark_staging test

### Issue Severity

_No response_

[2022-09-16 03:40] stephanie-wang opened #28561 "[core] shuffle_1tb_5000_partitions times out with ObjectStoreFullError"
### What happened + What you expected to happen

[command_scd_YJyWmqHNMNXexvB6EdDzfUcz.log](https://github.com/ray-project/ray/files/9580472/command_scd_YJyWmqHNMNXexvB6EdDzfUcz.log)

### Versions / Dependencies

Last good commit: 9ff23cd6224a39254048738fcc469289df387d08
First bad commit: 71bb155c5568e693c6f06a9392889ce4085c7750

### Reproduction script

-

### Issue Severity

_No response_

[2022-09-16 03:44] stephanie-wang opened #28562 "[core] chaos_many_actors failing due to node crash, GCS unreachable"
### What happened + What you expected to happen

[command_scd_W8xe3jzdaCEE1qykk7UwiMEk.log](https://github.com/ray-project/ray/files/9580485/command_scd_W8xe3jzdaCEE1qykk7UwiMEk.log)

Nodes dying:
[code]
And later GCS crashing or runreachable:
[code]

### Versions / Dependencies

Good commit: 7ba37885c67844d2eb18a63dcf3b7ac7f66ce89f
Bad commit: b878fd28d25f17d5bf23563f73c4ab19b6ab625e

### Reprodu

[2022-09-16 03:46] stephanie-wang opened #28563 "[core] autoscaling_shuffle_1tb_1000_partitions failing on memory_monitor.cc assertion failure"
### What happened + What you expected to happen

[code]

Possibly also spurious kills by the memory monitor.

### Versions / Dependencies

good commit: 7ba37885c67844d2eb18a63dcf3b7ac7f66ce89f
bad commit: b878fd28d25f17d5bf23563f73c4ab19b6ab625e

### Reproduction script

-

### Issue Severity

_No response_

[2022-09-16 03:52] stephanie-wang commented on #28411
duplicate of #26922.

[2022-09-16 03:55] stephanie-wang commented on #28562
As far as I can tell, no core changes made between these commits, but it's now failed twice in a row.

[2022-09-16 04:26] pcmoritz commented on #28484
Btw, I was digging a bit deeper on the underlying issue why you needed to specify a schema at all here and my findings are in https://issues.apache.org/jira/projects/ARROW/issues/ARROW-17719

I wonder how large the performance overhead would be if we made the default to inspect the schemata of all partitions. That seems more user friendly :)

[2022-09-16 04:41] zhe-thoughts commented on #27299
Hi @jjyao @cadedaniel : could you help provide an update on this one (since it's P0)? Thanks for working on this!

[2022-09-16 05:40] amogkam opened #28564 "[Datasets] `batch_size` is not respected for `map_batches`"
### What happened + What you expected to happen

I have a very simple script (see below) where I do a `map_batches` with a `batch_size=10`. However, none of the batches are actually of size 10.

Looking at the internal `map_batches` code, it seems that the "true" batch size is `min(batch_size, block_size)`. If I have small blocks, these blocks are not aggregated to give me the batch size I want. I

[2022-09-16 08:01] lewisbails opened #28565 "[Core] Can't use docker's SSH mount if using Ray as the base image"
### What happened + What you expected to happen

I'm trying to build a docker image with Ray's `2.0.0-py38-gpu` image as the base image, with the intention to use it as the node image in the cluster launcher yaml. However, it appears that I'm not able to mount my ssh key into the build process, unlike when I use another base image like `ubuntu:18.04`, `alpine` or `python:3.8.14-buster`. If I'm mis

[2022-09-16 10:47] cwfparsonson commented on #24731
I also have this unnecessary duplicate logging of `custom_metrics` occurring.

[2022-09-16 10:51] cwfparsonson commented on #28265
I also have this unnecessary duplicate logging of `custom_metrics` occurring.

[2022-09-16 11:14] Martin4R opened #28567 "[Serve] Logger syntax is wrong"
### What happened + What you expected to happen

This issue write unnecessary error messages to raylet.err, due to a syntax error in the code. The issue causes no harm else. In the last line of the reproduction code one can see, that all the code after the error is still executed normal.

My raylet.err log-file is full of these messages:

[code]

The logger.info() code in line 173-176 of file http

[2022-09-16 12:19] PaulFenton commented on #28398
@bveeramani I'm taking a look at this.

[2022-09-16 14:15] DevJake commented on #28484
That makes complete sense, with the schema being inferred from the very first file.

I imagine inspecting all partitions might carry a considerable overhead, especially with a large number of partitions. Perhaps any or all of the following would work:
- Prompting the user to explicitly specify a schema, as I have done.
- Providing an optional parameter to infer the schema by merging across all par

[2022-09-16 14:28] ankur6ue opened #28569 "[dashboard] Dashboard randomly not showing the status of worker nodes."
### What happened + What you expected to happen

Ray dashboard is randomly not showing the status of some of the worker nodes.

See screenshot:

It shows the status of the some of the worker nodes, but no status for the others.
![image](https://user-images.githubusercontent.com/6232547/190661991-1e69c26b-4c5f-4859-9790-fdc38857ee5b.png)

### Versions / Dependencies

Using ray 2.0.0 with Kuberay

#

[2022-09-16 14:57] jjyao commented on #27748
@peterghaddad,

I checked the implementation of `ray debug`:

[code]

As you can see, it basically connects to a ray cluster via `ray.init()` and retrieve debug information. This means if you want to connect to a remote cluster, the address should be a ray client address (e.g. "ray://host:port") and the metadata passing should be automatically handled by ray client. Currently there is some method

[2022-09-16 15:29] clarkzinzow opened #28571 "[Datasets] Add custom datasource user guide."
The ability for users to easily create a custom data connection via our [custom datasource API](https://docs.ray.io/en/master/data/api/input_output.html#datasource-api) is a great feature, but users have struggled creating custom datasources in the past without a user guide. We should have a thorough user guide for this feature.

[2022-09-16 16:16] richardliaw commented on #28569
cc @alanwguo assigning to you to find priority and address/handoff to others if needed

[2022-09-16 17:33] amogkam commented on #28564
cc @clarkzinzow @c21

[2022-09-16 18:07] gariepyalex commented on #26308
This page also uses the Ray client address instead of the HTTP API of the Ray dashboard: https://docs.ray.io/en/latest/serve/dev-workflow.html#testing-on-a-remote-cluster

Using the client URL doesn't work as documented and gives a runtime error

[code]

[2022-09-16 18:16] pyrito commented on #13213
What's the status of this issue? We're still seeing some CI errors with this.

[2022-09-16 18:57] shrekris-anyscale commented on #26308
@gariepyalex Thanks for letting us know! That error's a bit surprising– since [`serve run` uses Ray client](https://github.com/ray-project/ray/blob/80749160e133199539d67848d58f4935683f97bb/python/ray/serve/scripts.py#L305), I would expect a Ray client address to be required there.

Could you confirm that you noticed this error with `serve run` (and not `serve deploy`)?

[2022-09-16 19:03] rickyyx commented on #28562
Rerunning failed as well. Running it manually here https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_hwhsTD54MJmfFjY4Q4jjW72Q?command-history-section=command_history

so that I could get access to the gcs logs.

[2022-09-16 19:57] #28301 closed

[2022-09-16 19:58] richardliaw commented on #27708
Closing this as stale.... let's open a new issue if this arises again.

[2022-09-16 19:58] #27708 closed

[2022-09-16 20:00] mlguruz opened #28576 "[Core/Dask On Ray] `ray_dask_get_sync` is buggy - missing one arg"
### What happened + What you expected to happen

Line 555 of file `ray/util/dask/scheduler.py`, inside function `ray_dask_get_sync`, the `get_sync` function that calls `_apply_async_wrapper` which is missing a positional arg `scoped_ray_remote_args`, so the entire function is not usable.

I assume it's a careless mistake when adding in the support of dask annotations?

### Versions / Dependencies

[2022-09-16 20:03] #28045 closed

[2022-09-16 20:19] richardliaw commented on #28516
Hey sorry for the slow reply...

That's great to hear! To be honest it might be a bit hard at the moment. The reason is because we don't have great support for composing trainers together right now... @krfricke is working on something that will enable this type of workload.

Perhaps you can give us some pseudocode for how you might expect to express your tuning/stacking workload so that Kai will h

[2022-09-16 20:23] cool-RR commented on #24107
This is especially needed because the scientific packages in Python are always built on top of each other with lots of problems between the dependencies. For example, I just installed the latest version of rllib, and I'm getting several different warnings:

[code]

None of these deprecation warnings are something I have anything to do about as a user. For example, the one in Gym was probably alrea

[2022-09-16 20:24] mlguruz commented on #28516
Not at all! Thank you for your help, and your timing couldn't be any better, as I just got a working example :)

Pls let me know if something like the following looks right to you:

[code]

Several notes:
1. the `TorchTrainer` is copying + pasting your example: https://docs.ray.io/en/latest/train/examples/torch_fashion_mnist_example.html
2. the `DaskOnRayScheduler` is something a bit proprietary b

[2022-09-16 20:38] architkulkarni opened #28577 "[Jobs] [Dashboard] Job Submission logs for entrypoint scripts without ray.init() don't appear in dashboard UI"
### What happened + What you expected to happen

In the "Jobs" tab, logs only appear for jobs that involve at least one Ray driver.

<img width="1733" alt="Screen Shot 2022-09-16 at 1 35 17 PM" src="https://user-images.githubusercontent.com/5459654/190728430-18e0f98f-ebbd-4025-9d36-c9db662e46f1.png">

To find the logs for `ray job submit`, you have to go to the "Logs" tab:
<img width="585" alt="Sc

[2022-09-16 20:42] richardliaw commented on #28516
Honestly that's amazing that you got it to work... I would have thought there'd be some issues. A couple thoughts:

1. Maybe you can get away with simple threading rather than needing to invoke dask on ray.
2. How big is your machine/cluster?

Let's chat offline.

[2022-09-16 20:55] joncarter1 commented on #28453
+1ing this - I made an almost identical feature request a couple of weeks ago:
https://github.com/ray-project/ray/issues/28276

[2022-09-16 21:43] tanmaychimurkar commented on #28265
@cwfparsonson Thanks for the update. Did you mean you removed the 'results/custom_metrics' from the `progress.csv` file that is generated from the experiment runs?

I didn't exactly from where you removed the 'results/custom_metrics' from. Can you please help me identify this?

[2022-09-16 21:45] bveeramani commented on #28398
@PaulFenton thanks! Lemme know if you need help with anything.

[2022-09-16 21:47] cwfparsonson commented on #28265
I have a custom training loop with a callback getting the custom metrics from my environment. I get my results for one epoch with `results = trainer.train()`, where trainer is an instantly algorithm trainer object such as `PPOTrainer`

[2022-09-16 21:53] tanmaychimurkar commented on #28265
Thank you for the update. Is it from this results variable that you remove the 'results/custom_metrics'? Because for my current setup, I am using 'Ray tun' to train the algorithm trainer, since the 'Tune API' has a better checkpointing system. However, I could not see how I could remove the 'results/custom_metrics' directly from inside the analysis object provided by the `tune.run()` function.

Do

[2022-09-16 21:55] cwfparsonson commented on #28265
Sorry, I haven't used tune() since I've found having more customisation useful (for stuff like this I suppose!), so I am not sure

[2022-09-16 21:59] scv119 opened #28579 "[Core] memory_monitor crash"
### What happened + What you expected to happen

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_GASWyegwPsGW8V2H2iuFvt88?command-history-section=command_history

(raylet) [2022-09-16 09:27:25,719 C 236 236] (raylet) memory_monitor.cc:121:  Check failed: (_left_ > _right_)  117896851456 vs 117896851456
(raylet) *** StackTrace Information

[2022-09-16 22:02] scv119 commented on #27287
@rickyyx @rkooo567 are we working on this one?

[2022-09-16 22:10] scv119 commented on #28564
@c21 let you to triage.

[2022-09-16 22:12] scv119 commented on #28560
@wuisawesome is it possible https://github.com/ray-project/ray/commit/d8dc04c3aa759c9d4d0d1e99b011b9a64cea2166 leads to this test failure? if this is the case can you suggest the fix?

[2022-09-16 22:18] rickyyx commented on #28562
Still haven't been able to ping down the root cause yet, essentially the test gets stuck at a weird states with GCS being alive:

**1. Looping of reporting dead raylet on the same dead node**
[code]

[code]

**2. Multiple raylet instances on the dead node**
<img width="1148" alt="image" src="https://user-images.githubusercontent.com/11676094/190812568-dc94ad78-cf49-4181-b835-ee8e46ba22ba.png">

**

[2022-09-16 22:24] rickyyx commented on #27287
guess it's time to pass back to me lol - Sang is OOO next week.

[2022-09-16 22:37] rickyyx commented on #28562
We had a success pass though now: https://buildkite.com/ray-project/release-tests-branch/builds/1005#0183470b-bf6b-4bde-a27d-07e766210082

[2022-09-17 00:29] c21 commented on #28564
(Also discussed in separate thread, summarize here.)

This is not a bug per se, but is a suprising behavior for user. Based on dataset's current design, batch size can be varied because each batch is just a slice of block it processes. A few action items in short term and long term:

1. (P0) Improve documentation: add note/warning that `batch_size` is not always guaranteed, but mostly a best-effor

[2022-09-17 02:30] stephanie-wang commented on #28560
Test is still failing. @wuisawesome can we revert this PR?

[2022-09-17 04:19] DmitriGekhtman commented on #24886
Keep open.

[2022-09-17 04:20] DmitriGekhtman commented on #24796
Keep open.

[2022-09-17 04:21] DmitriGekhtman commented on #24730
Keep open.

[2022-09-17 05:13] pcmoritz commented on #24780
Let's keep this open, I'm sure we can get to this in the not too distant future :)

[2022-09-17 09:13] tanmaychimurkar commented on #28265
@cwfparsonson Thank you for the update. Initially I also tried to setup my experiment via the Rllib setup only, but I had problems setting up checkpoints and restoring them later on.

Can you please provide me insights as to how you are saving and restoring model checkpoints via the Rllib API, if you are creating checkpoints based on some intervals?

Thank you.

[2022-09-17 09:17] cwfparsonson commented on #28265
I just use `trainer.save()` and `trainer.restore()` to save and load checkpoints - you can see an example here: https://docs.ray.io/en/latest/serve/tutorials/rllib.html

[2022-09-17 09:22] tanmaychimurkar commented on #28265
Thanks for the update. I never looked into Ray serve before, I will check it out to see how I can save and restore model checkpoints as mentioned in the documentation.

Thank you very much for all the help.

[2022-09-17 10:44] andraxin commented on #21058
[Apparently](https://buildkite.com/ray-project/ray-builders-pr/builds/44593#01834ab7-eb3f-4754-930f-a4fe5228ccff), the problem persists in 1.13.0, and also on the current `master` as evidenced by a failed CI build:
https://buildkite.com/ray-project/ray-builders-pr/builds/44593#01834ab7-eb3f-4754-930f-a4fe5228ccff/13-3427

So, you have your reproduction right in your own test code, but still choose

[2022-09-17 10:45] andraxin commented on #25783
The same symptom can be observed in a failed CI build:
 https://buildkite.com/ray-project/ray-builders-pr/builds/44593#01834ab7-eb3f-4754-930f-a4fe5228ccff/13-3427

[2022-09-17 14:43] jjyao opened #28585 "[Core] CloudPickle explain tool"
### Description

Create some inspection tool that can tell us why cloudpickle decides to include some dependencies or modules when pickling a method or class. For example, pickle may decides to include (transitively) some module during pickling a method and during unpickling, it will include that module and executes it’s `_init_.py` code. We need a way to know like which line of code in the method

[2022-09-17 14:44] jjyao commented on #28585
cc @suquark

[2022-09-17 17:54] akashe commented on #27170
Hi,

I am seeing the same behavior as above in version 2 also. PBT starts perturbations from checkpoints that don't exist. Was this supposed to be fixed in version 2?

Best,
Akash

[2022-09-17 18:51] smorad opened #28586 "[Core] CPU resource allocation not respected on SLURM clusters"
### What happened + What you expected to happen

Related issue: https://github.com/ray-project/ray/issues/13607

Ray will bypass CPU limits set by SLURM and access all available CPUs. This is a significant blocker in running ray on SLURM systems, because ray will pick cores in-use by other jobs. This means significantly slower jobs for both the ray user and whoever was allocated the CPUs ray is us

[2022-09-18 01:43] #25340 closed

[2022-09-18 05:45] kschmaus opened #28587 "Issue on page /ray-overview/index.html"
In the "Scale out model training." tab, the code block references a `preprocessor` object that doesn't appear to be imported or defined anywhere.

[2022-09-18 08:13] sortiz-hub commented on #26557
Hi all,
I am affected by issue and taking workaround with torch 1.11.
Is there an estimated date for the fix be included in a Ray official release?

Thanks very much!

[2022-09-18 14:30] msingh00 commented on #16007
how would i start tasks without waiting?   what i would like to do is modify this example as a producer/consumer.   to that i would like to create n number of workers that read from the queue, and blocks while the queue is empty.  to that i need to be able to start the to tasks and not wait or block.   i dont see any examples on how to do this...

[2022-09-18 14:36] scv119 commented on #28562
hmm, this is interesting. on the node where raylet crashed, do we see high load in the state_dump? it could be the raylet is too busy for some reason and failed to send heartbeat in time.

[2022-09-18 14:41] scv119 commented on #28561
huh this is odd. nothing looks suspicious
71bb155c55 [Datasets] Add Optional hint to compute parameter (#28431)
371866db28 Add a simple `ray_tasks` metric for tracking active and completed tasks. (#28459)
068c9d3f45 [Docs/AIR] Various fixes for AIR examples (#28364)
08275baee3 [Docs] Fix API annotations (#28499)
f0f0001172 [Datasets] Fix _get_read_tasks type hint (#28536)
c2bdee9fea [AIR] Deprecat

[2022-09-19 04:19] scv119 opened #28592 "[P0] test_submit_cpp_job failed in osx"
### What happened + What you expected to happen

https://buildkite.com/ray-project/ray-builders-branch/builds/9913#01834e45-3eb1-498b-ac67-d757a80716fa

failed with following errors:

[code]

### Versions / Dependencies

master

### Reproduction script

run test

### Issue Severity

High: It blocks me from completing my task.

[2022-09-19 04:20] scv119 commented on #28592
@Catch-Bull can you help take a look? this test might be flaky for a while.

[2022-09-19 04:32] jjyao commented on #27299
@cadedaniel will work on it on Monday. We already found the root cause and know how to fix.

[2022-09-19 04:51] robertnishihara commented on #3899
@ARDivekar can you try with Ray 2.0? I just tried locally (on a Macbook) but wasn't able to reproduce the issue.

[2022-09-19 07:28] WeichenXu123 commented on #28226
REPS:
https://github.com/ray-project/enhancements/pull/14

[2022-09-19 08:12] Zarca opened #28594 "[Ray Core] Actor cpu resource do not match the Torch cpu resource"
### What happened + What you expected to happen

Hi：
I'm using an actor as Trainer for torch deep learning in such a way:
[code]
However, the torch.get_num_threads() just yields 1 cpu available when I ran this code on a ray local cluster in an 8 cores cpu machine, and it seems this will make my training looks very slow. After I fixing it by add the line into the Trainer's __init__():
[code]

### I

[2022-09-19 09:37] krfricke commented on #28514
Ah interesting! This is a bug on our end as we use attributes to track requested resources, but apparently Python only allows arbitrary attributes to be set on class objects and functions, but not class methods:

[code]

I'll file a fix for that. In the meantime, you can use the following workaround:

[code]

The reason this works is because we wrap the trainable method into a function where attri

[2022-09-19 13:57] mvindiola1 commented on #28452
Hi @avnishn,

I agree that the rollout_fragment length is confusing at first but it serves a few purposes that are not mentioned in this issue so I thought I would bring them up because the replacement should be mindful to keep these functionalities.

In the algorithms that use a replay buffer the rollout fragment length makes it possible to express how many new environment steps to sample and add

[2022-09-19 13:58] gariepyalex commented on #26308
You are right, I entered the wrong command and got the error with `serve deploy`. False alarm!

[2022-09-19 14:09] cool-RR commented on #24107
![6tx58a](https://user-images.githubusercontent.com/56778/191037240-5e3a527a-293e-46a9-805e-4c703b8e9ed7.jpg)

[2022-09-19 15:20] #28514 closed

[2022-09-19 16:02] stephanie-wang commented on #28562
Yes, seems like maybe there's an issue with the raylet coming under heavy load when restarting. The first raylet shutdown is normal, I think, since the test is purposefully killing nodes.

[2022-09-19 16:14] cool-RR opened #28605 "RLlib: RecursionError when using MultiBinary space"
### What happened + What you expected to happen

## The bug

I'm getting this recursion error (truncated because it's very large and repetitive:

[code]

## Expected behavior

I expected the code to run without error, and to train PPO on my environment.

### Versions / Dependencies

Python 3.10.4

[code]

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my ta

[2022-09-19 16:47] malintha commented on #22266
For the LSTM, you have to pass the state parameter with `full_fetch=True` on rllib 2.0.
[code]
This works fine for me for a LSTM module, but what's troubling is getting an attention module working. I will update if I can find a solution to that.

[2022-09-19 16:48] xwjiang2010 commented on #24593
Tried the updated script - everything is working fine. Closing out...

[code]

[2022-09-19 16:54] rickyyx commented on #28562
I see - that's possible. I think I glanced through it but wasn't paying close attention to it. Let me verify raylet's load when this happens

[2022-09-19 17:09] stephanie-wang commented on #28561
Yeah, agreed, could be something changed in the infrastructure too. Let me try running this a few times and see what happens.

[2022-09-19 17:22] mvashishtha commented on #28216
@scv119 could you please take a look?

In my opinion the worker errors are significantly degrading the experience of using Modin on Ray.

[2022-09-19 17:45] dmatrix commented on #28571
Yes, the user guide, as a reference implementation of a data source, will provide immense value for third-party engineering teams who wish to integrate with Ray Data for data ingestion from their custom data source.

[2022-09-19 18:31] stephanie-wang opened #28611 "[core] @ray.method for actor methods is not documented"
### Description

@ray.method is only very lightly documented in the API reference. We should include:

- when to use it
- available kwargs
- give some examples

### Link

_No response_

[2022-09-19 18:57] matthewdeng commented on #24593
Nice!

For context if anyone else runs into this, the `train.save_checkpoint` function has been replaced with `session.report` which now unifies reporting and checkpointing.

[2022-09-19 19:30] bveeramani opened #28613 "[Datasets] Add partitioning user guide"
### Description

Add a user guide that explains how to use and extend `Partitioning` objects.

### Link

See https://github.com/ray-project/ray/pull/28413

[2022-09-19 19:30] bveeramani opened #28614 "[Datasets] Add partitioning examples to reference"
### Description

Title.

This is a follow-up task to https://github.com/ray-project/ray/pull/28413.

### Link

_No response_

[2022-09-19 19:41] bveeramani commented on #28613
Closing because duplicate of https://github.com/ray-project/ray/issues/28555

[2022-09-19 19:41] #28613 closed

[2022-09-19 19:41] joshua-cogliati-inl commented on #28071
And this gives a segfault (regardless of if a node is blocked):
[code]

[code]

[2022-09-19 20:10] kyle-chen-uber commented on #24604
will working on this issue. cc [krfricke](https://github.com/krfricke)

[2022-09-19 20:23] jianoaix commented on #26244
For reference, map_batches(): https://sourcegraph.com/github.com/ray-project/ray@master/-/blob/python/ray/data/dataset.py?L314

[2022-09-19 20:26] Yard1 opened #28616 "[AIR] Improve modularity of AIR Trainers (especially GBDT ones)"
### Description

Currently we are calling `tune.report` at the end of training method for GBDT trainers. This should be separated into a different method and `session.report` used instead.

### Use case

This lack of modularity was an issue during the AutoML hackathon project.

[2022-09-19 20:30] Yard1 opened #28617 "[AIR] An ability to apply preprocessing steps conditionally"
### Description

Oftentimes, we are facing a situation where the pipeline for training includes steps for the label, which is not present during prediction, leading to exceptions. Having a way to apply preprocessing steps based on conditions (perhaps through a wrapper) would be very useful.

### Use case

This was an issue that became apparent during the AutoML hackathon project.

[2022-09-19 20:31] Yard1 commented on #28617
cc @bveeramani @clarkzinzow @matthewdeng

[2022-09-19 20:32] krfricke commented on #24604
@kyle-chen-uber here is a good example for a single Ray Train run: https://docs.ray.io/en/latest/train/train.html#quick-start

[code]

[2022-09-19 20:33] Yard1 opened #28618 "[AIR] Allow for nested Chain preprocessors"
### Description

Allow for Chains to be a part of other Chains. This is explicitly disabled right now, but I don't see a reason why it would need to be.

### Use case

This is a common pattern in scikit-learn - have a pipeline (chain) composed of pipelines. Eg. a categorical pipeline for categorical columns and a numeric pipeline for the rest.

[2022-09-19 20:33] Yard1 commented on #28618
cc @xwjiang2010 (as last commit author) @clarkzinzow @bveeramani @matthewdeng

[2022-09-19 20:34] kyle-chen-uber commented on #24604
based on discussion with @krfricke
some of the initial thoughts is we have a base_progress_reporter, and tune extend the base_progress_reporter, train extend base_progress_reporter, etc. General idea is to clean the abstractions and can easily extend the reporter.

todos:
 - qi to run the tune using reporter test, and see how current print out for tune looks like
 - @krfricke to provide a ray trai

[2022-09-19 20:36] stephanie-wang commented on #28071
Sorry can you explain the context for these scripts? I tried running the latter on a local Ray instance but I'm not seeing the same segfault.
- what is the goal of the script?
- what is the setup for the Ray cluster? Was it started using `ray start` and if so, what is the command used?
- Can you provide the full output and preferably the logs from the run? You can use `ray logs` to zip the system

[2022-09-19 20:43] Yard1 opened #28619 "[AIR] XGBoost/LightGBM predictors lose dtype information"
### What happened + What you expected to happen

XGBoost and LightGBM have special support for categorical features. If during training a pandas dataframe with Categorical columns is passed, then during prediction, a dataframe with those exact column dtypes will be expected.

Inside XGBoost/LightGBM predictors, we always convert to numpy first and then to pandas. This is undesirable, as it causes

[2022-09-19 20:46] wuisawesome commented on #28560
Looks like @scv119 is on it already. https://github.com/ray-project/ray/pull/28620 should also fix it, but i'm fine reverting first if that's faster

[2022-09-19 20:59] Yard1 opened #28621 "[AIR/Tune] Checkpoints do not have their path set relative to dir after loading"
### What happened + What you expected to happen

While the `ExperimentAnalysis` object can deal with relative paths (eg. after moving the folder with tune results to another folder, or machine), the checkpoint paths inside individual Trial objects are not updated and cannot be found. This essentially makes them unusable.

### Versions / Dependencies

master

### Reproduction script

[code]

### Is

[2022-09-19 21:04] joshua-cogliati-inl commented on #28071
The goal of the script was to force ray to finish by adding unnecessary work from a different thread similar to what I discussed in: https://github.com/ray-project/ray/issues/28071#issuecomment-1247030880

setup was as in https://github.com/ray-project/ray/issues/27499#issuecomment-1246894172  *without* running listen_range.py

[2022-09-19 21:07] joshua-cogliati-inl commented on #28071
If the script isn't doing anything too weird to be considered a bug, I can make a proper separate bug report on it.  As soon as I changed the script to stop running ray.get or f.remote in StuffInQueue after the main thread finished, it stopped throwing a segfault.

[2022-09-19 21:15] Yard1 opened #28622 "[AIR/Tune] Add a Tune callback event for each step of the driver loop"
### Description

Expose that to the users.

### Use case

Useful for eg. time based progress bars.

[2022-09-19 21:38] stephanie-wang commented on #28071
Hmm I see, most likely the segfault is harmless. It happens in multithreaded situations during teardown of the worker, if some C++ state gets torn down before all of the Python threads have joined. It doesn't look like we have an issue open for it, so feel free to do that, but it's relatively low priority since it's only at teardown.

[2022-09-19 21:38] joshua-cogliati-inl commented on #28071
So this code works (the extra thread manages to make ray able to finish):
[code]

[2022-09-19 22:06] stephanie-wang commented on #28272
Downgrading since it is not currently failing consistently.

[2022-09-19 22:14] scv119 commented on #26922
duplicate

[2022-09-19 22:14] #26922 closed

[2022-09-19 22:26] stephanie-wang commented on #28561
Seems like the error might be related to memory monitor but it's not clear. The only noticeable difference in the logs is that there are error messages from the memory monitor evicting workers, but not sure how it leads to ObjectStoreFullError. Possibly there is some other core bug that is causing some bad state when workers are killed often.

I think this issue is currently blocked since there ar

[2022-09-19 22:54] stephanie-wang commented on #28564
Btw, you can work around this right now by running this beforehand:
[code]

[2022-09-19 22:57] PaulFenton commented on #28398
@bveeramani I have created a PR that should fix this issue. There is still a remaining test `test_write_datasource_ray_remote_args` at the end of `test_dataset_formats.py` that I still have not ever got to work - although I suspect that was a pre-existing issue.

[2022-09-19 23:00] stephanie-wang commented on #28559
Note, this appears to be an issue with testing infrastructure, not OSS-related change.

[2022-09-19 23:22] jiaodong opened #28627 "`BatchPredictor` works with batch_format="numpy" as input & output"

[2022-09-19 23:31] rickyyx commented on #28562
it seems to me that it's less about raylet under heavy load when restarting, but an inconsistent state between the started node + GCS.

So when a node gets restarted, here are what I think are happening (I am not 100% sure with all the sequence of the callbacks yet though)
- The node tries to [register itself with GCS](https://github.com/ray-project/ray/blob/10e9422f8fe91c150083be24c4113c7f784cd48

[2022-09-19 23:36] clarng commented on #28561
looks like it is fixed now , e.g.

https://console.anyscale-staging.com/o/anyscale-internal/clusters/ses_yJ5rPfSrVGCt4ubwyHwfviba?command-history-section=head_start_up_log

[2022-09-19 23:50] rickyyx commented on #28562
Synced with @iycheng offline, we are highly confident in the root cause and working with product side for some details:
- Product has a [PR](https://github.com/anyscale/product/commit/4ed3704563f054b770aa3c1d81dbe59af1e162c8) that sets node id as env variable as a side effect of other features.
- A newly started node in chaos test will have the same node id, thus the above states (GCS thought node

[2022-09-20 00:05] stephanie-wang commented on #28562
Thanks for looking into this, @rickyyx this definitely seems like the root cause.

For context, we should *never reuse NodeIDs*. The reason is that if you reuse NodeIDs across raylet restarts, it becomes a lot more complicated trying to figure out if a given raylet is alive or not. Actually it says this in the 1.x architecture:

Normally we do this by randomly generating NodeIDs, so if the testing

[2022-09-20 00:18] rickyyx commented on #28562
Yeah, I think we will work with them on a much better protocol for this. Thanks for confirming! @stephanie-wang

[2022-09-20 00:28] rickyyx commented on #28562
Also on node ids, IIUC, I guess the requirement here from product might be a predictable node id that's not internally generated when the raylet starts.

Have we considered other sources of node id generation? E.g. could it be a monotonically increasing id-generator on GCS? cc @stephanie-wang @iycheng

Also, the current node id is so long but could actually be much shorter right? (@rkooo567 and I

[2022-09-20 00:54] rickyyx commented on #28559
Yes, confirmed that test is working after I run `unset RAY_RAYLET_NODE_ID` - so this is the same root cause as #28562

[2022-09-20 01:03] rickyyx commented on #28559
I am creating a PR that explicitly unsets this variable for these long running nightly tests before product PR is rollout as a mitigation.

[2022-09-20 01:05] wuisawesome commented on #28560
Shall we just roll forward and merge https://github.com/ray-project/ray/pull/28620 since it's ready?

[2022-09-20 02:15] Zarca commented on #28594
Though I did not figure out the reason for such a feature to set OMP_XXX =1, but it seems to solve my question, and i will close this issue.
here is an short answer that I found on the documentation:https://docs.ray.io/en/latest/ray-core/configure.html#cluster-resources

[2022-09-20 02:15] #28594 closed

[2022-09-20 02:24] amogkam commented on #28412
hey @heyitsmui, let me know if you are still planning to work on this :).

[2022-09-20 02:31] bveeramani commented on #28398
@PaulFenton Thanks! Could you link me the PR? I saw https://github.com/ray-project/ray/pull/28626, but it's closed, and it says no files are changed

[2022-09-20 03:34] amogkam commented on #27419
Hey @ming-shy, apologies for the late response!

We would really like to help you out here. Are you still running into this issue? It would help if you can paste your cluster configuration and the stdout you are seeing when running the example.

I am also happy to pair program with you to get this working for you. Let me know if that would help! Thanks!

[2022-09-20 08:40] krfricke commented on #24604
Yes! To be clear, the ProgressReporter base class currently calls a lot of functions, passing lots of context, and it's not possible to inject custom logic there. The functions that build the tables are very convoluted and hard to read or extend.

We should find a nice way of abstractions and APIs that can be used in the future to extend these reporter classes.

[2022-09-20 13:30] PaulFenton commented on #28398
@bveeramani https://github.com/ray-project/ray/pull/28638

[2022-09-20 13:50] PaulFenton commented on #28605
I'm able to reproduce this with the provided script on ray 3.0.0.dev0, python 3.8.10.

[2022-09-20 14:05] #24318 closed

[2022-09-20 14:50] clarng commented on #28561
Here's a run today

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_q8FSbfqSTBdQDY45EEY8RKzt?command-history-section=command_history

looks like the memory threshold is set to 0.8, which is too low as that would cause excessive retries and test failure. I am sending a PR to fix the threshold for our release test.

https://github.com/ray-p

[2022-09-20 15:12] clarng commented on #28579
Two issues:
- the memory check is very strict and cgroup can violate the check. We should move the check to log
- the memory usage went to 100% even when we had memory monitor enabled. the memory grew by another 1.54GB after 10 sec. The raylet logs are gone now so we couldn't debug what happened

(raylet) [2022-09-16 09:27:14,959 E 236 236] (raylet) node_manager.cc:2964: System memory low at node

[2022-09-20 15:32] xwjiang2010 commented on #26663
cc @ilee300a FYI

[2022-09-20 15:54] heyitsmui commented on #28412
hey @xwjiang2010 i believe you mentioned you already have a draft PR for this? if not, i can get started on this :)

[2022-09-20 16:58] amogkam opened #28645 "[AIR] `WandbLoggerCallback` does not capture stdout"
W&B has a feature to automatically capture console logs (stdout): https://docs.wandb.ai/quickstart

This is useful to be able to save the outputs from training or tuning experiemnts and easily access them from the web ui.

However, with out `WandbLoggerCallback`, these console logs are not captured. This is likely due to the fact we use wandb in separate processes.

I'll add a repro here later.

[2022-09-20 17:00] amogkam opened #28646 "[Tune] Support for declarative conditional search spaces"
We can programmatically define conditional search spaces, however for complicated search space logic, a declarative API would be easier to use.

cc @tgaddair

[2022-09-20 17:04] amogkam opened #28647 "[Tune] Allow filesystem to be configurable"
Tune should allow a custom filesystem to be plumbed in to here: https://github.com/ray-project/ray/blob/master/python/ray/air/_internal/remote_storage.py#L81.

This is useful for advanced users who want full configurability.

cc @tgaddair

[2022-09-20 17:40] xwjiang2010 commented on #28412
Ah the one I have is this: https://github.com/ray-project/ray/pull/28474
It's currently being blocked by another PR, which should be landed soon. I dont have other parts of this task planned yet.

[2022-09-20 17:47] #27056 closed

[2022-09-20 17:51] joshua-cogliati-inl commented on #28071
This works with a blocked node, but if I set extra to 0, it fails with a blocked node:
[code]

[2022-09-20 17:53] matthewdeng commented on #28241
Tensorflow prefetching may be sufficient.

[2022-09-20 18:06] richardliaw commented on #28646
@tgaddair could you add an API example here?

[2022-09-20 18:08] amogkam commented on #28412
Thanks @heyitsmui! Let me know if you have any questions!

[2022-09-20 18:12] scv119 commented on #28407
can you use named actor to serve the same purpose？can you be more specific about the suggested API?

[2022-09-20 18:21] #23631 closed

[2022-09-20 18:21] #22352 closed

[2022-09-20 18:21] #23131 closed

[2022-09-20 18:21] #23678 closed

[2022-09-20 18:21] #22111 closed

[2022-09-20 18:21] #23702 closed

[2022-09-20 18:21] #23661 closed

[2022-09-20 18:21] #23635 closed

[2022-09-20 18:21] #22685 closed

[2022-09-20 18:22] #21835 closed

[2022-09-20 18:22] #21833 closed

[2022-09-20 18:22] #21724 closed

[2022-09-20 18:22] #22304 closed

[2022-09-20 18:22] #21251 closed

[2022-09-20 18:22] #21872 closed

[2022-09-20 18:22] #21238 closed

[2022-09-20 18:22] #21411 closed

[2022-09-20 18:22] #8398 closed

[2022-09-20 18:22] #8448 closed

[2022-09-20 18:22] #21399 closed

[2022-09-20 18:22] #21415 closed

[2022-09-20 18:22] #21645 closed

[2022-09-20 18:22] #21445 closed

[2022-09-20 18:22] #21481 closed

[2022-09-20 18:22] #21343 closed

[2022-09-20 18:22] #21446 closed

[2022-09-20 18:22] #21502 closed

[2022-09-20 18:22] #21529 closed

[2022-09-20 18:46] Yard1 commented on #28646
We can look to Optuna for an example of how that can be done (we already support that in OptunaSearcher too)

[2022-09-20 19:17] markf94 commented on #22736
+1 for this issue

[2022-09-20 19:59] #28622 closed

[2022-09-20 20:08] xwjiang2010 commented on #28530
@richardliaw can you provide more details? Is this about moving cluster launcher stuff outside of tune materials? Where should we put it to? Thinking of having Justin to take a look at this.

[2022-09-20 20:33] jianoaix opened #28651 "[Datasets] Improve documentation for map_batches()"
This is extracting learnings from Data oncall, where we saw user confusions around map_batches(), regarding:
- UDF needs to be picklable: this is an implicit requirement so far, and we should document the requirement explicitly. Source issue: https://discuss.ray.io/t/cannot-pickle-batchinfermodel-when-ds-map-batches-batchinfermodel/7553/2
- Execution model for a single block: specifically, the bat

[2022-09-20 21:08] shrekris-anyscale opened #28652 "[Serve] Kubernetes operator reapplies Serve config too frequently"
### What happened + What you expected to happen

From [a Ray Slack thread](https://ray-distributed.slack.com/archives/C02GFQ82JPM/p1663343998548389):

The user posted logs from the Serve controller and the Kubernetes operator that imply the controller was receiving new Serve config deployment requests more than once per second. E.g.:

[code]

This likely doesn't give enough time for Serve to deplo

[2022-09-20 21:25] richardliaw commented on #28530
Lets wait until we finalize PRD for this item. Will provide more details
later.

On Tue, Sep 20, 2022 at 1:08 PM xwjiang2010 ***@***.***>
wrote:

[2022-09-20 22:03] simon-mo commented on #26568
@mihajenko I have merged a change. You can use the nightly wheels to alleviate this issue. Please feel free to test it out!

[2022-09-20 22:09] schen-apple opened #28653 "[RLlib] TorchPolicy.set_state move extra parameters in optimizer to torch.Tensor"
### What happened + What you expected to happen

This is not a contribution.

When handling optimizer state,

TorchPolicy.get_state converts all torch.Tensor to numpy.ndarray. TorchPolicy.set_state is supposed to convert them back. However, it accidently converts extra parameters, such as lr, betas, step, and etc, into torch.Tensor on self.device. The actual function that does the conversion is ra

[2022-09-20 22:20] jianoaix commented on #18094
@atomic FYI this PR which is for S3 may serve as an example for HDFS test: https://github.com/ray-project/ray/pull/17158

[2022-09-20 23:50] #28544 closed

[2022-09-21 00:23] jianoaix opened #28657 "[Datasets] Create a separate doc on how to build batch prediction on Datasets"
We have a guide now, but it's embedded in NYC taxi data processing example: https://docs.ray.io/en/latest/data/examples/nyc_taxi_basic_processing.html#parallel-batch-inference

When users come to Datasets, they may have a workload in mind, so our documentation would be better to be sharded/indexed by those workloads.

[2022-09-21 03:55] #28477 closed

[2022-09-21 05:31] garg02 commented on #28160
Are there any updates or potential timelines for this issue?

[2022-09-21 06:21] larrylian commented on #28160
I am currently busy with some urgent things, it may take a while to locate this problem. If this issue has a high impact, I can raise the priority to look at this issue.

[2022-09-21 07:54] garg02 commented on #28160
Thank you for your response. As described in the initial [issue](https://discuss.ray.io/t/new-placement-groups-not-being-created-after-initial-round/7314), I am able to work around the issue by merging sequential tasks together and using node_strategy instead of placement groups. That said, my patch is unideal and could benefit a lot from parallel placement groups.

[2022-09-21 07:58] larrylian commented on #28160
OK, Thank for your patch.

[2022-09-21 10:01] dumpmemory commented on #28172
we need deepspeed for sure

[2022-09-21 10:01] dumpmemory commented on #28172
we need deepspeed for sure

[2022-09-21 14:01] AlexandreRozier opened #28666 "[Tune] Torch Lightning example hangs"
### What happened + What you expected to happen

Hi ! I am trying to run your [Torch Lightning example](https://github.com/ray-project/ray/tree/master/python/ray/tune/examples/mnist_pytorch_lightning.py).
However, the script never finishes, leaving me with 1 or more experiments running (No progress is shown in the `training_iterations`).
![image](https://user-images.githubusercontent.com/14081633/

[2022-09-21 14:15] cool-RR opened #28667 "[RLlib] Bug in `observation_space_contains`"
### What happened + What you expected to happen

I got this warning: `WARNING multi_agent_env.py:141 -- You environment returns observations that are MultiAgentDicts with incomplete information. Meaning that they only contain information on a subset of participating agents. Ignore this warning if this is intended, for example if your environment is a turn-based simulation.`

I do believe that my o

[2022-09-21 14:47] anurag-sequoia opened #28668 "Can not use ray with google-cloud-bigquery with poetry due to grpcio version incompatibility"
### What happened + What you expected to happen

Tried installing ray using poetry in a virtual environment that already has google-cloud-bigquery.

Poetry dependency resolver fails because ray depends on grpcio <=1.43.0

[code]

Mac m1 requires newer grpcio dependencies - https://github.com/googleapis/python-bigquery/issues/1262

Ideally, ray should have worked with newer grpcio dependencies as w

[2022-09-21 15:11] #28579 closed

[2022-09-21 15:21] krfricke opened #28669 "[rllib] Torch tensor conversion is incompatible with some checkpoints"
### What happened + What you expected to happen

For some reason (currently unknown), a PPOTrainer saved a checkpoint which was impossible to restore from. In that run, all checkpoints saved by the worker were unrecoverable.

When inspecting the checkpoint and comparing with a working one, this field in the optimizer state was different:

Working checkpoint:

[code]

Faulty checkpoint:

[code]

In

[2022-09-21 15:28] krfricke commented on #28669
Update: It looks like these parameters were introduced in later Torch releases. This then just means this error comes up with recent torch versions, and we didn't capture it because we test on old versions.

[2022-09-21 15:55] krfricke commented on #28669
Update: this issue only concern Ray 1.13.0, I could confirmed it is solved on latest master.

[2022-09-21 15:55] #28669 closed

[2022-09-21 16:07] cwfparsonson opened #28670 "RLlib unbatch() function in ray/rllib/utils/spaces/space_utils.py called from ray/rllib/evaluation/sampler.py causing errors"
### What happened + What you expected to happen

I have a custom multi-agent environment with a nested action space dict of the form:

[code]

I then have a custom policy which returns actions of the form:

[code]

I am then loading this custom environment and agent into an RLlib trainer and calling `trainer.train()` - the actions and observations are computed fine, but the `unbatch()` function in

[2022-09-21 16:30] #28616 closed

[2022-09-21 16:54] scv119 commented on #28216
did some investigation. as @simon-mo mentioned this seems to be the right behavior. You can suppress the warning by setting `os.environ["RAY_IGNORE_UNHANDLED_ERRORS"]="1"` before ray.init

[2022-09-21 17:20] mvashishtha commented on #28216
@scv119 why do you say this is the right behavior? The [documentation](https://docs.ray.io/en/latest/ray-core/package-ref.html#ray-init) of `log_to_driver` says "If true, the output from all of the worker processes on all nodes will be directed to the driver.". Error output from nodes is output, just as warnings are. I think the right behavior would be to suppress the error output.

[2022-09-21 17:53] rickyyx opened #28674 "[core][nightly] stress_test_dead_actors failing"
### What happened + What you expected to happen

Failed run: https://buildkite.com/ray-project/release-tests-branch/builds/1013#018352a2-af48-4af1-a2cf-5346f4a9ab5d

### Versions / Dependencies

First failure commit: 54136e8a7d0847674298e37a7a0d180c54954404

### Reproduction script

Rerunning at: https://buildkite.com/ray-project/release-tests-branch/builds/1027

### Issue Severity

_No response_

[2022-09-21 17:56] rickyyx opened #28675 "[core][nightly] stress_test_many_tasks failing"
### What happened + What you expected to happen

Failed run:  https://buildkite.com/ray-project/release-tests-branch/builds/1013#018352a2-af45-4430-af9a-a1311dbed266

### Versions / Dependencies

First failure: https://github.com/ray-project/ray/commit/54136e8a7d0847674298e37a7a0d180c54954404

### Reproduction script

Rerunning here: https://buildkite.com/ray-project/release-tests-branch/builds/10

[2022-09-21 17:57] rickyyx opened #28676 "[core][nightly] shuffle_20gb_with_state_api failing"
### What happened + What you expected to happen

Failed run: https://buildkite.com/ray-project/release-tests-branch/builds/1013#018352a2-af42-4924-bcd7-a6ffcb13f83f

### Versions / Dependencies

First failure commit: https://github.com/ray-project/ray/commit/54136e8a7d0847674298e37a7a0d180c54954404

### Reproduction script

Reruning here: https://buildkite.com/ray-project/release-tests-branch/buil

[2022-09-21 18:07] heyitsmui commented on #26733
@yuduber @chongxiaoc @irasit, @jianoaix is trying work on benchmarking Ray datasets, including creating similar workloads like Uber. Can you guys take a look at this and provide some guidance? Thanks!

[2022-09-21 18:17] amogkam commented on #28666
what pytorch lightning version do you have @AlexandreRozier?

[2022-09-21 18:24] amogkam commented on #28666
If this is with Pytorch lightning 1.7, then looks this is the same as this issue: https://github.com/ray-project/ray/issues/28197.

This has been fixed in the nightly versions of Ray. Alternatively, you can do this workaround to resolve the issue for Ray 2.0 or prior:

[code]

Add this to the beginning of your training script

[2022-09-21 18:50] richardliaw commented on #21020
This might be a great thing to cover as part of our imagery story in AIR...

[2022-09-21 18:56] irasit commented on #26733
@yuduber Please share our stress testing setup with Jian.

[2022-09-21 19:07] yuduber commented on #26733
The test is defined in uber ml-code project under the folder:
/ml-code/platforms/maps/postprocessing/deepeta/pipelines/v5/experiments/rayhete_perf/

The preliminary results are like below:
DeepETA v5
----------
The folder contains two projects that are used to determine the baseline and stressed performance of ray heterogenous cluster.

The baseline used V6 prod model
The stressed used branch yud-

[2022-09-21 19:50] rickyyx commented on #28676
Rerunning succeeds.

[2022-09-21 19:50] #28676 closed

[2022-09-21 19:50] rickyyx commented on #28674
Rerunnign succeeds.

[2022-09-21 19:50] #28674 closed

[2022-09-21 19:58] jianoaix commented on #26733
Thank you folks. Can you help generate the *synthetic* input data that share similar characteristics as real data? We can upload it to S3 (e.g. today it's using randomly generated data at: 3://shuffling-data-loader-benchmarks/data/r10_000_000_000-f1000) and then use in this benchmark.

[2022-09-21 21:12] rickyyx commented on #28675
Rerun succeeds.

[2022-09-21 21:12] #28675 closed

[2022-09-21 21:14] zhe-thoughts opened #28679 "[Core] [Docs] Clarify how fractional GPU is handled by Ray Core scheduler"
### Description

It's becoming a common question how Ray Core schedule Tasks / Actors to meet the fractional GPU specification: https://docs.ray.io/en/master/ray-core/tasks/using-ray-with-gpus.html#fractional-gpus

We should clarify in docs that this is done by bin packing onto individual GPU devices (with a simple example)

### Link

_No response_

[2022-09-21 21:39] #26663 closed

[2022-09-21 22:23] clarng commented on #28563
The latest run failed, but not due to OOM since it didn't hit memory issues:

https://ec2-7c1kalm-401tpox-0000-cust-mon.ray.aws-us-west-2-admin.anyscale-test-staging.com/grafana/?orgId=1&token=mxhLMgoTV3oWkDtOY0eS6rv_7S1sj5DbfqOGaEQ8Auo&var-ClusterID=ses_pUEy8g4AW2fnPCnXNYuBkDwv&refresh=1m&from=now-2d&to=now

Seems the failure was due to something else, there was heartbeat failure possibly due to

[2022-09-21 22:25] clarng commented on #28563
@scv119  should we keep this issue open or open a different one? The issue in the original title is resolved after we increased the memory threshold in the product / release test

[2022-09-21 22:26] clarng commented on #28563
Latest run failed for other reasons, seems raylet crashed

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_pUEy8g4AW2fnPCnXNYuBkDwv?command-history-section=command_history

Memory not an issue after we increased the threshold

https://ec2-7c1kalm-401tpox-0000-cust-mon.ray.aws-us-west-2-admin.anyscale-test-staging.com/grafana/?orgId=1&toke

[2022-09-21 22:27] #28563 closed

[2022-09-21 22:29] ArturNiederfahrenhorst opened #28680 "tensorflow-metal 0.6.0 errors out in tests"
### What happened + What you expected to happen

Running any library script with tf metal 0.6.0 gives me the following error:

[code]

### Versions / Dependencies

conda list:
(Same errors goes for tensorflow 2.6.2, which is our current requirement, and 2.6.0)

[code]

### Reproduction script

Run rllib's test_algorithm test for example.

### Issue Severity

_No response_

[2022-09-21 22:29] clarng commented on #28561
I'm not seeing this issue in the latest run after increasing the memory threshold in the product

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_pUEy8g4AW2fnPCnXNYuBkDwv?command-history-section=command_history

[2022-09-21 22:30] #28561 closed

[2022-09-21 22:35] stephanie-wang opened #28681 "[core] Support num_returns="dynamic" generators for actor tasks"
### Description

Support [generators](https://docs.ray.io/en/master/ray-core/tasks/generators.html#num-returns-set-by-the-task-executor) for actor tasks.

### Use case

Useful for `compute="actors"` and block splitting in Datasets.

[2022-09-21 22:43] YQ-Wang commented on #24985
Hey @wilsonwang371 , may I ask what is the current status for the external redis doc? If possible, it would be great to have a sample yaml file [like this](https://github.com/ray-project/ray/blob/master/doc/kubernetes/ray-cluster.yaml) for the external redis feature.

[2022-09-21 22:51] wilsonwang371 commented on #24985
thanks for asking. currently, there is one yaml for external redis. https://github.com/ray-project/kuberay/blob/master/ray-operator/config/samples/ray-cluster.external-redis.yaml

Please take a look at this.

[2022-09-21 22:55] YQ-Wang commented on #24985
Are there any yamls without using KubeRay?

[2022-09-21 22:57] wilsonwang371 commented on #24985
i didn't get this part. what do you want here?

[2022-09-21 23:22] rickyyx commented on #28668
Hey @anurag-sequoia , thanks for reporting it. We have a PR that's addressing the grpcio dependencies: https://github.com/ray-project/ray/pull/28623

[2022-09-21 23:33] rickyyx commented on #28681
Do we need to assign owners for this? @stephanie-wang @scv119

[2022-09-21 23:42] ring-pete commented on #24985
Does this map cleanly to non-kubernetes Ray clusters, or is that not a supported configuration yet?

[2022-09-21 23:46] scv119 commented on #28216
@mvashishtha in ray, unhandled errors are treated different from output.

In Ray, if a task throws an unhandled error, the error message will show up in the output of the caller. In your case,  the caller happened to be in the driver, so log_to_driver=False doesn't do the work.
RAY_IGNORE_UNHANDLED_ERRORS env is intended to suppress unhandled errors show up in the caller.

[2022-09-22 00:34] pcmoritz commented on #28426
Thanks for reporting, I also recently ran into this.

This should be fixed by https://github.com/ray-project/ray/pull/28684 :)

[2022-09-22 00:42] stephanie-wang commented on #28681
I'm hoping @c21 or @clarkzinzow can take the lead on it.

[2022-09-22 01:54] stephanie-wang opened #28688 "[core] Object returned by a generator with num_returns="dynamic" should throw an error if reconstruction fails"
### What happened + What you expected to happen

If a dynamic generator stores some objects in shared memory and these are later lost, then Ray will try to reconstruct them by re-executing the generator task. Currently, if the re-execution stores some of these objects but then errors (e.g., because the generator returned more values than expected), the already-stored objects will be accessible to

[2022-09-22 01:58] stephanie-wang opened #28689 "[core] Generator task that returns more values than specified by num_returns should throw error instead"
### What happened + What you expected to happen

If a generator task is used, it should yield `num_returns` values (or a dynamic number if `num_returns="dynamic"`). Normally if a task errors, we store the exception as the value for all task returns. But currently, if a generator task stores some objects in shared memory, then errors, we don't replace the task return values.

To fix this, we should

[2022-09-22 03:08] EnjianGong opened #28690 "[Core/Dashboard]Timeline view of jobs task etc. similar to spark"
### Description

How to provide a Timeline view of tasks during the entire ray scheduling process,  to assist in analyzing performance bottlenecks.

Hierarchical timeline views: job, task, actor
### Use case

Visualization

[2022-09-22 03:12] EnjianGong commented on #28690
[类似Spark的方式](https://spark.apache.org/docs/3.3.0/img/AllJobsPageDetail2.png)

[2022-09-22 03:16] jiaodong commented on #28690
Hi @EnjianGong can you edit the title with component and make issue description in English ? This will help a lot to communicate with broader ray community.

[2022-09-22 04:42] matthewdeng opened #28691 "[Tune] Restore fails for GCS directory upload_dir"
### What happened + What you expected to happen

When I run an experiment with the GCS Bucket as the `upload_dir`, I can successfully restore the experiment.
[code]
[code]

When I set the `upload_dir` to be a directory in the bucket, trying to restore from this path will result in the following error.
[code]
[code]

### Versions / Dependencies

Ray nightly wheel https://github.com/ray-project/ray/

[2022-09-22 05:00] Zephyr69 commented on #12128
Sir! What procedure did you use (or should we use now) to build for jetsons (with python3.8)?

And although this 2.0.0 build runs fine with cpu, it doesn't see the jetson's gpu. Is this normal?

[2022-09-22 08:12] AlexandreRozier commented on #28666
Hi, I can confirm downgrading torch-lightning to 1.6.5 fixes the issue (still using torch 2.0.0).
I was testing with torch-lightning==1.7.2, where the error occured. Thanks for the tip !

[2022-09-22 08:39] tanmaychimurkar commented on #25783
Hello everyone,

I am also currently facing the same issue with IMPALA. Is there any workaround for this?

I was not able to find a workaround for this. Thanks for the help.

[2022-09-22 08:42] tanmaychimurkar commented on #25783
Hello everyone,

I am also currently facing the same issue with IMPALA about `check()`. Is there any workaround for this?

My pipeline works with A2CTrainer, but I wanted to use decaying-epsilon greedy like IMPALA, but not able to run so far.

Thanks for the help.

[2022-09-22 08:59] jovany-wang commented on #28407
No, it couldn't be addressed in named actor. As we all know, Ray is a very flexible system, so we built many frameworks or tool jobs on top of that. Image that we have a long serving job which serves for other Ray jobs, if we use the names to manage all actors from the other jobs, stuff should be unmaintainable.

For an instance, we have a long serving job which monitors the workloads of nodes, on

[2022-09-22 10:12] AbhishekBose opened #28692 "[Ray Serve]: Testing out on local using Docker container"
### What happened + What you expected to happen

I am testing out ray serve for the first time on my local environment. Using Docker containers in order to do that

This is the dockerfile which I am using

[code]

The serving code is given below

[code]

I am starting the ray server inside the docker container using an entrypoint file.
The commands are as follows

[code]

Starting the docker conta

[2022-09-22 10:13] krfricke commented on #28691
I can't reproduce this error, it works fine with me with the repro script.

However, I noticed two things:

1. For some reason, even when only running one experiment and shielding the main part behind `if __name__ == "__main__"`, two experiment checkpoints are created
2. When I delete the local folder in ray_results, the experiment checkpoint is not synced completely, which leads to a different re

[2022-09-22 14:22] simonsays1980 opened #28700 "[RLlib] Add exit handler to `PolicyServerInput`"
### Description

Momentarily, the `PolicyServerInput` just exits when the stop criteria are reached leading to the `PolicyClient`s either dangling around for a while or exiting with an error.

This might be handled cleaner by providing the `PolicyServerInput` class with a `_close` function and using the `atexit` module:

[code]

On the `PolicyClient` side it needs then a message handler that exits

[2022-09-22 14:38] simonsays1980 opened #28701 "[RLlib] Add total metrics to a response for `Commands.REPORT_SAMPLES`"
### Description

At the moment the `PolicyServerInput` sends *no response* when the `PolicyClient` sends the samples back (see the [code](https://github.com/ray-project/ray/blob/87f22e106575e7eaf9c8004a5427cf7c2232b2c1/rllib/env/policy_server_input.py#L254)).

The problem is, if multiple clients are connected, no client has an overview of the total timesteps samples, total episodes sampled, total

[2022-09-22 16:06] #28619 closed

[2022-09-22 16:25] justinvyu commented on #28082
Hi @Stefan-1313, I'm taking on getting this issue resolved! I reproduced the issue by:
1. Training and killing the run in the middle/intentionally erroring out
2. Move the experiment directory
3. Use `Tuner.restore(new_experiment_path).fit()` to resume training, which loads the TrialRunner and Trials from JSON data that has the incorrect absolute paths.

Is "I give Tune my new `local_dir`" referri

[2022-09-22 17:09] get-a-grep opened #28704 "[Ray Serve] No method with new DAG for remote handle retrieval"
### What happened + What you expected to happen

In version 1.13.0, if I were to have the following data management deployment:
[code]
then I could call a serve handle from any other serve deployment in the same cluster by simply calling the following:
[code]

The problem is that these interfaces are deprecated in ray 2.0.0 in favor of the new DAG implementation. Most of the examples I've seen so

[2022-09-22 17:18] justinvyu commented on #28621
Similar problem as referenced in #28082.

[2022-09-22 18:07] cool-RR opened #28706 "[RLlib] Add documentation for "preferred format" for observation space and action space"
### Description

When defining a multi-agent environment, you can specify observation spaces and action spaces in the new "preferred format". There is a check for this and a possible warning. But I couldn't find documentation anywhere about this "preferred format" and how to correctly specify an observation space.

### Link

_No response_

[2022-09-22 18:22] rickyyx opened #28709 "[core] autoscaling_shuffle_1tb_1000_partitions failing on uncaught actor death"
### What happened + What you expected to happen

Failure [run](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_Bmk5Ftx5tgxs5eiQX55Q6QSF?command-history-section=command_history)

A stacktrace seems to point to OOM killing that wasn't handled?
[code]

### Versions / Dependencies

Last success: https://github.com/ray-project/ray/commit/7ba37

[2022-09-22 18:32] jjyao commented on #28216
Some context: https://github.com/ray-project/ray/pull/15432.

@mvashishtha want to make sure I understand it correctly: are you saying those errors are eventually handled by calling `ray.get()`, it just happens a while (5s) after the error is generated? Is my understanding correct.

[2022-09-22 18:33] rickyyx commented on #28709
Same test failure (seems to have slightly different causes)

cc @stephanie-wang @wuisawesome @clarng

[2022-09-22 18:39] Stefan-1313 commented on #28082
Hi @justinvyu ,

Thanks for taking on this issue!

I have a reproduce script you can use. Probably you can make it much more minimal, but it is still clear and easy so it does the job.

[code]

Yes, do this.

Yes, initially my `local_dir` is `C:\Test\InitialDir`.
Then, I move the experiment files (the content of the `local_dir`) to: `C:\Test\MovedDir`.

I'm not completely sure what you mean here,

[2022-09-22 18:44] scv119 commented on #28216
@jjyao this error happens when object is being GCed, even `ray.get()` is not called.

[2022-09-22 18:45] clarng commented on #28709
ray.exceptions.RayActorError: The actor died unexpectedly before finishing this task.
        class_name: _StatusTracker
        actor_id: f656a044d3f6760f06af19a701000000
        pid: 470
        namespace: adf55096-7a84-42f4-854a-56d5d1156221
        ip: 172.31.85.35
The actor is dead because its worker process has died. Worker exit type: USER_ERROR Worker exit detail: System memory low at node

[2022-09-22 18:46] clarng commented on #28709
_StatusTracker failing will cause the workload to fail?

[2022-09-22 18:50] rickyyx commented on #28709
Looks like this is the case for now - not sure about the best way to handle it yet.

[2022-09-22 18:54] #28666 closed

[2022-09-22 18:58] clarng commented on #28709
yea look like it is used to render the progress bar.

Trying to see if i can get the logs to see why it was chosen to be killed

[2022-09-22 19:02] jjyao commented on #28216
IIUC, currently the error will be printed out even if we handle the error (e.g. `ray.get()`) but just not fast enough. I want to confirm if this is the case for them.

[2022-09-22 19:13] justinvyu commented on #28082
Thanks for the detailed reply! I was reproducing the issue using the new Tune APIs (`Tuner.restore`) introduced in 2.0, but my fix should apply to the old `tune.run` codepath as well.

Sidenote: here are some resources for migrating to new APIs if you're interested:
- [Slack post with migration guides for all Ray libraries](https://ray-distributed.slack.com/archives/CMVUQ1KMX/p1661990605290689)
-

[2022-09-22 19:24] mvashishtha commented on #28216
@jjyao in my original script, if I add `ray.get(oid)` to the end of the script, I get a nice stack trace from the handled error:

<details>

<summary>Stack trace</summary>

[code]

</details>

If I get the result immediately, i.e. replace `oid = raise_error.remote()` with `print(ray.get(raise_error.remote()))` then I just get the traceback and I don't get the message from the worker task.

Please

[2022-09-22 19:34] rickyyx opened #28711 "[core][nightly] shuffle_1tb_5000_partitions failing"
### What happened + What you expected to happen

Failed with timeout and failures.

[One of the failure](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_pUEy8g4AW2fnPCnXNYuBkDwv?command-history-section=command_history) seems to point at some memory issue

[code]

### Versions / Dependencies

First failure: 9ff23cd6224a39254048738fcc469289

[2022-09-22 19:54] amogkam opened #28712 "[Docs] [Tune] Add user guide for analyzing results"
We currently have an API doc for `ResultGrid` (https://docs.ray.io/en/master/tune/api_docs/result_grid.html) but it is not easy to find and also doesn't contain any examples for common user workflows.

We should add a user guide for this in the Tune user guide section.

[2022-09-22 19:57] jjyao commented on #28216
@mvashishtha Thanks for the response. That matches my understanding as well.

I think the problem we need to fix is when the error is actually handled (via `ray.get()`) we shouldn't print a message about unhandled error.

Normally we only print the unhandled message when the error is actually not handled before it's GCed. However we do something special here for iPython due to the reason mentioned

[2022-09-22 19:59] jjyao commented on #28216
Btw, if you run your program non-interactively (e.g `python program.py`), you shouldn't see the message.

[2022-09-22 20:25] rickyyx commented on #28709
Assigning to you for now - feel free to triage and re-assign back.

[2022-09-22 20:35] rickyyx commented on #28711
Oh, seems we have a recent PR on the similar issue #28561, but it seems to me the ObjectStoreFullError still exists after the PR merged.

[2022-09-22 21:08] rickyyx opened #28716 "[<Ray component: Core|RLlib|etc...>]"
### What happened + What you expected to happen

Test failing - a direct traceback on the exception thrown as below:

[code]

There seems to be a seg fault in GCS:

[code]

### Versions / Dependencies

This test was not stable test though - but tracking here since segfaults sound bad enough.
Failure nightly commit: https://github.com/ray-project/ray/commit/45d7cd2f86d0eccdad632ac04514279f4d126106

[2022-09-22 21:08] rickyyx commented on #28716
cc @scv119

[2022-09-22 21:53] xwjiang2010 opened #28718 "[tune/train] make log_to_file work for distributed training workflow"
### Description

Desired behavior upon setting `log_to_file`:
1. print statements in distributed workers should show up in driver's corresponding folders on a per trial basis.
2. such print statement should show up in a streaming fashion.

One can tail the file and follow along in the progress made with each trial as training proceeds.

### Use case

W&B integration

[2022-09-22 21:54] xwjiang2010 commented on #28718
cc @amogkam @nikitavemuri

[2022-09-22 21:54] bveeramani opened #28719 "[Datasets] Change `Partitioning` package"
### Description

If I want to use partitioning, I need to do

[code]

It's not intuitive that `Partitioning` is located in the `datasource` subpackage.

It'd be nice if I could do

[code]

instead.

### Use case

Better UX.

[2022-09-22 22:03] bveeramani opened #28720 "[Datasets] Cast partition values to appropriate type"
### Description

Currently, we store all partition value as strings

[code]

Instead, we should cast partition values to the appropriate type.

See https://github.com/ray-project/ray/pull/28413#discussion_r976730951.

### Use case

_No response_

[2022-09-22 23:02] #17126 closed

[2022-09-22 23:18] justinvyu opened #28722 "[Tune] [Docs] Checkpointing example resume functionality is misleading"
### Description

This [example](https://docs.ray.io/en/master/tune/tutorials/tune-checkpoints.html#a-simple-cloud-checkpointing-example) doesn't seem to actually resume the experiment as one of the comments suggest:

Recreating a `Tuner(…)` rather than going through `Tuner.restore(...)` currently never resumes (`resume=False` is being passed into `tune.run` -> `TrialRunner`), and there’s no way to

[2022-09-22 23:42] scv119 commented on #28407
Why? Looks named actor is exactly designed to solve your problem; where the only inconvenience is that an actor doesn't have a name by default. If that's the case, is one option to extend the named actor API to auto generate a name to an actor?

[2022-09-22 23:47] #28560 closed

[2022-09-23 00:20] kevin85421 opened #28723 "[docs][kubernetes] Update the document for metadata.name and metadata.generateName for Pods"
### Description

This [PR](https://github.com/ray-project/kuberay/pull/587) sets `ObjectMeta.Name` to an empty string, and use `GenerateName` to prevent name conflicts. Hence, this [document](https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/config.html#pod-templates) needs to be updated.

### Link

https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/config.html#pod-templates

[2022-09-23 00:57] scv119 commented on #28216
just to clarify: the error message show up when the object get deallocated, even if it's not in interactive mode. so following code will show the error message for both python/ipython, regardless of interactive or script mode

[code]

[2022-09-23 01:04] #27502 closed

[2022-09-23 01:05] rickyyx commented on #28562
Successful runs : https://b534fd88.us1a.app.preset.io/superset/dashboard/p/j6G4EY14keo/

[2022-09-23 01:05] #28562 closed

[2022-09-23 01:07] scv119 commented on #26994
starting investigating. run the script for 20 consecutive runs seems no repro. so very likely we need to ctrl+C to interrupt the job in the middle.

[2022-09-23 03:47] jjyao commented on #28216
Case 1: an exception object is GCed before it's accessed/handled, then it's an unhandled error so we will have the error message regardless of interactive or script mode. (@scv119 this is the case you described)

Case 2: an exception object is accessed/handled within 5s after it's created, then we won't have the error message in either mode.

Case 3: an exception object is accessed/handled 5s afte

[2022-09-23 03:56] wilsonwang371 commented on #24985
Do u mean using external redis cluster that is outside kubernetes?

[2022-09-23 07:46] anurag-sequoia commented on #28668
Yes, thanks!

[2022-09-23 07:58] moured commented on #21785
Got the same issue. Python 3.9, the latest ray version (today).  This Log image should show 20 requests but nothing is there :(

![image](https://user-images.githubusercontent.com/67905762/191915987-d9917897-a307-445a-b373-b026cf4bd033.png)

[2022-09-23 10:25] krfricke commented on #28691
This is a incompatibility with gcsfs 2022.8.2: https://github.com/fsspec/gcsfs/issues/498

[2022-09-23 13:45] lyriccoder opened #28732 "Ray Deployment crashes in docker [<Ray component: Serve>]"
### What happened + What you expected to happen

If I have a ray head and worker in different containers, ray-worker cannot be started. It fails with the following warning:
[code]
When I tried to debug a client, seems  it fails after `listen_for_change` failure:

[code]

I printed the following lines in `\ray\util\client\dataclient.py` :
[code]
... and also in `ray\util\client\worker.py`

[code]

[2022-09-23 13:58] ArturNiederfahrenhorst commented on #28706
Before we add documentation I'll explain here that it means that the observation space of the multi agent env is a mapping of the `agent_id`s to observation spaces of these agents.

[2022-09-23 13:59] cool-RR commented on #28706
Thank you.

[2022-09-23 14:09] samgoldman97 opened #28734 "[Tune][Docs] Torch Lightning integration reports _last_ metric, not best when using early stopping"
### Description

When having ray tune monitor the validation loss, my expectation was that Ray Tune would use the _best_ validation loss from the given trial. However, it uses the _last_  value reported, even when using Torch Lightning's early stopping callback. Because of this, ray tune can be sensitive to the patience setting in torch lightning's early stopping callback (I.e., with high patience

[2022-09-23 14:59] ring-pete commented on #24985
I mean not running a ray cluster in kubernetes.  my specific use case is a ray cluster on aws, and the goal is to have an HA head node.  thanks!

[2022-09-23 15:55] ArturNiederfahrenhorst commented on #28680
Can be resolved by installing tensorflow-metal==0.4.0

[Link](https://docs.google.com/document/d/1XgpuUX0vtk82NIVQyEk8d3tnbpSFHO8ZGmF-i2J8_9A/edit#) to @gjoliver  's setup guide.

[2022-09-23 15:55] #28680 closed

[2022-09-23 15:55] stephanie-wang opened #28738 "[docs][AIR] Session API ref link is broken"
### Description

https://docs.ray.io/en/latest/ray-air/package-ref.html#air-session-ref is used several times in the docs but seems to lead to the wrong place.

### Link

_No response_

[2022-09-23 22:55] matthewdeng opened #28747 "[Tune] Improve Tuner API documentation"
### Description

[Tuner API documentation](https://docs.ray.io/en/releases-2.0.0/tune/api_docs/execution.html#tuner) needs improvement.

- [ ] It's not clear at all what a `trainable` is.
  -  [ ] I feel like it's really difficult to define what a trainable is in a single param doc, and it might be worthwhile to just link to the [Trainable](https://docs.ray.io/en/releases-2.0.0/tune/api_docs/train

[2022-09-24 00:02] kleecmt commented on #28103
Were you able to get any workaround?

[2022-09-24 02:50] jiaodong commented on #25130
keep alive

[2022-09-24 02:50] jiaodong commented on #25129
keep alive

[2022-09-24 02:51] #23914 closed

[2022-09-24 02:51] #23893 closed

[2022-09-24 02:51] #23857 closed

[2022-09-24 02:51] #23828 closed

[2022-09-24 02:51] #23779 closed

[2022-09-24 02:51] #23819 closed

[2022-09-24 02:54] zhe-thoughts commented on #22833
Closing this issue as Ray 2.0 was released

[2022-09-24 02:54] #22833 closed

[2022-09-24 02:56] zhe-thoughts commented on #25182
Hey @chaokunyang sorry I missed your question. I think we should create a REP for this cc @scv119 @jjyao

[2022-09-24 05:47] #23711 closed

[2022-09-24 05:47] #24084 closed

[2022-09-24 05:47] #24152 closed

[2022-09-24 05:47] #21825 closed

[2022-09-24 05:47] #23597 closed

[2022-09-24 05:47] #23492 closed

[2022-09-24 05:47] #23093 closed

[2022-09-24 05:47] #23045 closed

[2022-09-24 05:47] #23043 closed

[2022-09-24 05:47] #20724 closed

[2022-09-24 05:47] #21209 closed

[2022-09-24 05:47] #20234 closed

[2022-09-24 05:47] #18817 closed

[2022-09-24 05:47] #20236 closed

[2022-09-24 05:47] #24696 closed

[2022-09-24 05:47] #24198 closed

[2022-09-24 05:48] #24224 closed

[2022-09-24 05:48] #24274 closed

[2022-09-24 05:48] #24275 closed

[2022-09-24 05:48] #24305 closed

[2022-09-24 05:48] #24446 closed

[2022-09-24 05:48] #24487 closed

[2022-09-24 05:48] #24497 closed

[2022-09-24 05:48] #21384 closed

[2022-09-24 05:48] #24534 closed

[2022-09-24 05:48] #20758 closed

[2022-09-24 05:48] #20760 closed

[2022-09-24 05:48] #23315 closed

[2022-09-24 07:51] #24573 closed

[2022-09-24 07:51] #24539 closed

[2022-09-24 07:51] #24605 closed

[2022-09-24 07:51] #24553 closed

[2022-09-24 07:51] #24586 closed

[2022-09-24 07:51] #24647 closed

[2022-09-24 07:51] #24694 closed

[2022-09-24 07:51] #21430 closed

[2022-09-24 07:51] #21530 closed

[2022-09-24 07:51] #20482 closed

[2022-09-24 07:51] #21559 closed

[2022-09-24 07:51] #21634 closed

[2022-09-24 07:51] #21576 closed

[2022-09-24 07:51] #21604 closed

[2022-09-24 07:51] #21632 closed

[2022-09-24 07:52] #21545 closed

[2022-09-24 07:52] #21599 closed

[2022-09-24 07:52] #21651 closed

[2022-09-24 07:52] #21707 closed

[2022-09-24 07:52] #21751 closed

[2022-09-24 07:52] #21495 closed

[2022-09-24 07:52] #21793 closed

[2022-09-24 07:52] #21631 closed

[2022-09-24 07:52] #21325 closed

[2022-09-24 07:52] #21888 closed

[2022-09-24 07:52] #21797 closed

[2022-09-24 07:52] #21909 closed

[2022-09-24 07:52] #16872 closed

[2022-09-24 07:52] #21586 closed

[2022-09-24 09:26] tekumara commented on #21631
ping

[2022-09-24 13:17] ngupta23 commented on #24224
Just FYI... The issue has not been resolved yet.

[2022-09-24 15:43] mgerstgrasser opened #28753 "[Tune] HyperOptSearch fails with nested config dicts and points_to_evaluate"
### What happened + What you expected to happen

When using HyperOptSearch together with (a) nested configuration dicts, as are commonly used in RLlib, and (b) some initial configurations to evaluate, Tune will fail after some number of some number of trials. Interestingly, not immediately though, it will run a number of trials before it crashed. Also removing the `points_to_evaluate` in the repro

[2022-09-24 19:23] #8420 closed

[2022-09-24 19:23] #21591 closed

[2022-09-24 19:23] #22087 closed

[2022-09-24 19:24] #22089 closed

[2022-09-24 19:25] #19189 closed

[2022-09-24 19:25] #22115 closed

[2022-09-24 19:26] #23221 closed

[2022-09-24 19:27] #22051 closed

[2022-09-24 19:28] #20511 closed

[2022-09-24 19:28] #17171 closed

[2022-09-24 19:29] #22875 closed

[2022-09-24 19:29] #22877 closed

[2022-09-24 19:30] #22866 closed

[2022-09-24 19:31] #22537 closed

[2022-09-24 19:31] pcmoritz commented on #28587
This should now be fixed in https://github.com/ray-project/ray/pull/28745 :)

[2022-09-24 19:31] #28587 closed

[2022-09-24 19:31] #22868 closed

[2022-09-24 19:31] #23443 closed

[2022-09-24 19:31] #21617 closed

[2022-09-24 19:32] #23347 closed

[2022-09-24 19:33] #23152 closed

[2022-09-24 21:27] artemisep opened #28754 "[doc] conflict version requirement of protobuf by existing tensorflow and google-api-core"
### Description

1. run pip install -r requirements-doc.txt
get error:
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-api-core 2.10.1 requires protobuf<5.0.0dev,>=3.20.1, but you have protobuf 3.19.5 which is incompatible.

uninstalled protobuf and reintall: pip in

[2022-09-24 21:42] artemisep opened #28755 "[Pytest][Python] pytest failed with test_basic.py::test_ray_options"
### What happened + What you expected to happen

run the following:
python -m pytest -v -s python/ray/tests/test_basic.py

failed the following test
ray/tests/test_basic.py::test_ray_options ✓
2022-09-24 14:31:23,760	INFO worker.py:1518 -- Connected to Ray cluster.
(raylet) [2022-09-24 14:31:23,796 E 428083 428096] (raylet) file_system_monitor.cc:135: Failed to parse spilling config, error message

[2022-09-24 21:48] artemisep opened #28757 "[Pytest][Python] pytest failed with test_basic.py::test_nonascii_in_function_body[ray_start_shared_local_modes1]"
### What happened + What you expected to happen

run the following:
python -m pytest -v -s python/ray/tests/test_basic.py

gave the following err:
ray/tests/test_basic.py::test_nonascii_in_function_body[ray_start_shared_local_modes1] ✓   98% █████████▊2022-09-24 14:31:41,451	ERROR worker.py:400 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::throw_exception_fct1() (pid=429

[2022-09-25 02:42] mgerstgrasser opened #28759 "[RLlib] ES get_weights() and set_weights() fail"
### What happened + What you expected to happen

It seems with ES (Evolutionary Strategies), both getting and setting weights fails.

### Versions / Dependencies

ray==2.0.0

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-09-25 05:34] InbarShirizly commented on #22169
any update here @rkooo567 ? thanks

[2022-09-25 16:36] #27299 closed

[2022-09-25 19:47] evanrittenhouse commented on #28398
I can take this!

[2022-09-25 19:48] evanrittenhouse commented on #28460
I can take this on if it's still free!

[2022-09-25 21:09] mvashishtha commented on #25025
@rkooo567 is it possible to address this some time soon? The messages are fairly long. I don't want the bot to close this issue.

[2022-09-25 21:25] matthewdeng opened #28762 "[2.0.1][release] tune_cloud_gcp_k8s_durable_upload fails"
https://buildkite.com/ray-project/release-tests-branch/builds/1053#018375b1-3f91-4918-a809-1ac6bcbb6097

[code]

[2022-09-25 21:33] matthewdeng opened #28763 "[2.0.1][release] rllib learning/stress tests fail"
https://buildkite.com/ray-project/release-tests-branch/builds/1053

There are a number of tests failing. At a quick glance it look like they may be due to the same root cause (unable to install environment).

- [rllib_learning_tests_a2c (30f2e58)](https://buildkite.com/ray-project/release-tests-branch/builds/1053#018375b1-6ff9-4aef-9c1a-59f37f6c1044)
- [rllib_learning_tests_a3c (30f2e58)](https://

[2022-09-25 21:40] matthewdeng commented on #28762
@krfricke looks like this has been failing on master as well - do you know if it's expected to be stable?

[2022-09-25 23:17] scottsun94 commented on #24277
Not resolved. Keep it open

[2022-09-26 02:45] dumpmemory commented on #28172
usually, we use deep speed's Zero 2 or 3 to train large model and for the small one , we also use deepspeed's fb16 to train model.

[2022-09-26 03:52] jovany-wang commented on #24288
It's still valid but in a low priority.

[2022-09-26 08:33] wqh17101 commented on #23046
fixed！. related https://github.com/fsspec/filesystem_spec/issues/928 https://github.com/modin-project/modin/issues/4298

[2022-09-26 08:33] #23046 closed

[2022-09-26 09:27] krfricke commented on #27011
Hi @Tonyhao96, this is already possible with the `CLIReporter`:

[code]

might be a bit cumbersome to configure though, so we my want to simply this.

[2022-09-26 09:29] krfricke commented on #24604
See also https://github.com/ray-project/ray/issues/27011 - it would be good to make this easily configurable or be able to add default replacements (e.g. in Ray Train we probably don't want to display `train_loop_config` at all)

[2022-09-26 11:20] NKcqx opened #28765 "[Core] ObjectRef's meta-data took too much memory under the large scale shuffle scenario"
### Description

In the large scale shuffle scenario, some certain actors may used as intermediate objects' owners. In this case, the metadata memory overhead will be extremely large on those owners.
The scenario can be reproduced by an equivalent case shown below:

[code]

This issue is same to the  #23604, but still requires more optimizations.

### Use case

Large scale shuffle ( > 10000 partit

[2022-09-26 12:02] ArturNiederfahrenhorst opened #28767 "[Tune][Air] Links to Session Key-Concepts Page, but there is no section"
### Description

The tune [function trainable](https://github.com/ray-project/ray/blob/master/python/ray/tune/trainable/function_trainable.py#L597) has a deprecation warning in line 597 that links to a section on our key concepts page that does not exist.

### Link

https://docs.ray.io/en/master/ray-air/key-concepts.html#session

[2022-09-26 13:12] AwesomeLemon commented on #6965
I'm facing the same issue, has there been any solutions found for this?

[2022-09-26 14:48] xwjiang2010 opened #28769 "[release test] `tune_cloud_gcp_k8s_durable_upload` has been consistently failing"
### What happened + What you expected to happen

for a while.

[code]

Seems to be related to https://github.com/ray-project/ray/issues/28691.

For now we should pin gcsfs version.

### Versions / Dependencies

Master

### Reproduction script

NA

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-09-26 14:48] xwjiang2010 commented on #28769
cc @amogkam

[2022-09-26 15:21] architkulkarni commented on #28460
@evanrittenhouse That's great to hear, please let me know if you need any pointers!

[2022-09-26 16:06] #27011 closed

[2022-09-26 16:15] #28769 closed

[2022-09-26 16:25] amogkam commented on #28762
@matthewdeng can you pick https://github.com/ray-project/ray/pull/28770

[2022-09-26 17:00] maxpumperla commented on #28767
we should definitely think about adding "session" as concept.

[2022-09-26 17:35] rickyyx commented on #28716
Looks like recent failures are more on worker died unexpectedly following a bunch of OOM killings:
https://b534fd88.us1a.app.preset.io/superset/dashboard/p/KO2WOeewLdP/

Spotchecked a few (most recent 3), with similar stacktraces:
[code]

[2022-09-26 17:51] scv119 opened #28773 "[Core] Ray actor reuses workers that has been previously running a task"
### What happened + What you expected to happen

his behavior looks like a bug.  at least our expectation is we always create a new worker for an actor https://docs.ray.io/en/latest/ray-core/actors.html

### Versions / Dependencies

latest master

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-09-26 17:55] rickyyx opened #28774 "[core][release] chaos_dataset_shuffle_push_based_sort_1tb failed with WorkerCrashedError"
### What happened + What you expected to happen

[chaos_dataset_shuffle_push_based_sort_1tb](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_rgW51uGKM59NkPdcJcRsuVMk?command-history-section=command_history)

[code]

### Versions / Dependencies

Last success: [45d7cd2](https://github.com/ray-project/ray/commit/45d7cd2f86d0eccdad632ac04514279f4d126

[2022-09-26 17:56] scv119 commented on #28773
huh looks this has been fixed in 2.0.0

[2022-09-26 17:58] rickyyx opened #28775 "[core][release] chaos_dataset_shuffle_sort_1tb failed with OutOfMemoryError"
### What happened + What you expected to happen

[chaos_dataset_shuffle_sort_1tb](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_ky7MXP7hQCVLiW9svQdaEpM2?command-history-section=command_history)

[code]

### Versions / Dependencies

Last success: [45d7cd2](https://github.com/ray-project/ray/commit/45d7cd2f86d0eccdad632ac04514279f4d126106)
First

[2022-09-26 18:00] rickyyx opened #28776 "[core][release] [unstable] chaos_dataset_shuffle_push_based_random_shuffle_1tb failed with OutOfMemoryError"
### What happened + What you expected to happen

[chaos_dataset_shuffle_push_based_random_shuffle_1tb](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_iDDsjc6at2BFAerLk2LJqeVs?command-history-section=command_history)

[code]

### Versions / Dependencies

Last Success: [45d7cd2](https://github.com/ray-project/ray/commit/45d7cd2f86d0eccdad632ac0451

[2022-09-26 18:03] wilsonwang371 commented on #24985
currently, kuberay supports ray FT. If you need external redis, you can specify external redis using  RAY_REDIS_ADDRESS. You can take a look at the GCS FT document here: https://github.com/ray-project/kuberay/blob/master/docs/guidance/gcs-ft.md

[2022-09-26 18:05] scv119 commented on #28773
https://github.com/ray-project/ray/pull/22482 fixed the issue.

[2022-09-26 18:05] #28773 closed

[2022-09-26 18:08] ring-pete commented on #24985
Thanks @wilsonwang371 - i tested setting this on my end where I'm *not* running k8s and unfortunately it prevents the ray process from starting.  Here's an example:

[code]

I've done a bit of exploration in the code base but it wasn't immediately obvious to me why this was not working as expected.

[2022-09-26 18:12] marsupialtail opened #28777 "[Ray Core] large actor launch overhead."
### What happened + What you expected to happen

Maybe this is not an actual bug but expected behavior, but launching 4 actors take 1.2s on my machine.

These actors do nothing, and I'd expect the overhead to be much lower.

In my actual system, launching 4 significantly more complicated actors take 2.4s. This is acceptable for long-running workflows but an unacceptable latency for interactive sys

[2022-09-26 18:13] rickyyx opened #28778 "[core][release] dask_on_ray_large_scale_test_no_spilling failed with RayActorError on low memory"
### What happened + What you expected to happen

The below task has been failing due to memory monitor actor killed by OOM killer
- [dask_on_ray_large_scale_test_no_spilling(smoke)](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_1XbSk6M9jn5QTFXxYvBi4Juc?command-history-section=command_history)

- [dask_on_ray_large_scale_test_spilling(smoke)](ht

[2022-09-26 18:15] pcmoritz commented on #28690
@EnjianGong Have you had a look at https://docs.ray.io/en/latest/ray-core/troubleshooting.html#visualizing-tasks-in-the-ray-timeline? It provides a timeline similar to your suggestion :)

[2022-09-26 18:17] wilsonwang371 commented on #24985
Here is how we use this variable:

![image](https://user-images.githubusercontent.com/3913185/192350283-5af96161-5f12-47c7-99d7-e6092c8b559b.png)

It seems like there are some connection issues in our case.

BTW, In order to use Ray FT, you need to use Kuberay. A manually started Ray cluster does not support Ray FT.

[2022-09-26 18:21] YQ-Wang commented on #24985
There is an opening PR for deploying the static Ray cluster with external Redis. https://github.com/ray-project/ray/pull/28687 Please feel free to take a look.

[2022-09-26 18:23] Nithanaroy opened #28779 "Ray Core: AttributeError: 'NoneType' object has no attribute 'enum_types_by_name'"
### What happened + What you expected to happen

I started the head node using `ray start`. Then to create a cluster I started the worker node, passing in the head server's address, `ray start --address='100.96.243.93:54140' --redis-password='5241590000000000' -v --block`. The worker node fails to start and dies with the follow error,

[code]

### Versions / Dependencies

- Ray 1.12.1 on both serv

[2022-09-26 18:23] rickyyx opened #28780 "[core][release] decision_tree_autoscaling_20_runs failed with OutofMemoryError"
### What happened + What you expected to happen

[decision_tree_autoscaling_20_runs](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_qBhzuzRdJDhUyB2xdifH8sdm?command-history-section=command_history)

[code]

There was also a Segfault on the [fist failure (timeout)](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFAL

[2022-09-26 18:26] rickyyx opened #28781 "[core][release] dask_on_ray_1tb/100gb_sort failing with WorkerCrashedError on OOM"
### What happened + What you expected to happen

[dask_on_ray_1tb_sort](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_ANmBVP1kpGqqATfPzApXgurw?command-history-section=command_history)
[dask_on_ray_100gb_sort](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_HqitSduBRqAf5d588txj9x2F?command-hist

[2022-09-26 18:38] rickyyx commented on #28774
There are a bunch of open issues but seems to me the root causes might be different:
- 28242: seems to be different issue
- 28411: seems to be the same issue, but there was a successful run recently, and started to fail again. So this might be different.

[2022-09-26 18:48] rickyyx commented on #28776
Unstable test so P1.

[2022-09-26 19:56] #28354 closed

[2022-09-26 20:14] scv119 opened #28783 "[Core] documents how to prevent worker being reusued"
### Description

There has been confusion around worker reuse for actor/tasks. Might worth document it.

### Link

_No response_

[2022-09-26 20:50] #28691 closed

[2022-09-26 20:58] kyle-chen-uber commented on #24604
thx @krfricke i able to set up local dev and reproduce the the single Ray Train run you provided.
https://docs.ray.io/en/latest/train/train.html#quick-start

Since this requires some design on the interface. I will first send out a small pr this week to address the non-necessary print-out for single training flow. For the design, i will target for starting next week/later this week.

[2022-09-26 21:22] cadedaniel commented on #28779
cc @rickyyx @scv119

[2022-09-26 21:34] scv119 commented on #28779
@Nithanaroy i think this is due the compatibility issue between protobuf and grpcio in the old ray versions. Can you try to use latest ray (2.0.0) which have fixed this issue?

[2022-09-26 21:52] ncoish opened #28788 "[Core] Download Logs from Ray Dashboard"
### Description

I often find myself viewing Ray logs on the dashboard which I would like to investigate with local tools. However it is quite difficult to access the logs and copy them directly from the dashboard UI.

It would be convenient if there was a "Download" button on the log UI page which downloads the log to my local machine.

### Use case

Using local search tools, or sharing a log wit

[2022-09-26 22:03] scv119 opened #28789 "[Core] Ray worker slow initialization"
### What happened + What you expected to happen

There have been user reports that the worker takes too long to initialize. We should log and analyze the worker start time and find ways to improve that by creating warm/cold pool.

### Versions / Dependencies

latest ray

### Reproduction script

N/A

### Issue Severity

Low: It annoys or frustrates me.

[2022-09-26 22:11] scv119 opened #28790 "[Infra] Improve Ray client usability"
### What happened + What you expected to happen

There are gotchas for ray clients such that
1. calling it in a loop has unexpected performance comparing to non-client mode.
[code]

We should provide better guide to the users

### Versions / Dependencies

latest ray

### Reproduction script

N/A

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-09-26 22:27] tobiasweede opened #28791 "[AIR] Segfault"
### What happened + What you expected to happen

I want to tune a ML model.
Running ray-tune on a HPC cluster via slurm:

[code]

### Versions / Dependencies

LInux Kernel: 4.9.215-36.el7.x86_64
Python 3.8
ray: version 3.0.0.dev0

### Reproduction script

NA

### Issue Severity

High: It blocks me from completing my task.

[2022-09-26 22:28] Nithanaroy commented on #28779
@scv119, looks like the condition, `protobuf >= 3.15.3, < 4.0.0` mentioned in the above PR is satisfied in my case

**Head**
- protobuf==3.19.4
- grpcio==1.43.0

**Worker**
- protobuf==3.18.1
- grpcio==1.41.0

Unfortunately, it is bit tricky to migrate to 2.0 yet in my setup.

[2022-09-26 22:39] scv119 commented on #28779
@Nithanaroy hmm could you try to pin grpcio to an earlier version, such 1.30.0 ?

[2022-09-26 23:01] rkooo567 commented on #28790
Other issues I've seen

2. Ray.put or passing the large object has unexpectedly high overhead compared to the cluster mode (cuz objects need to be pushed to the remote node). It also has the same issue when we ray.get a lot.
3. Unmatching dependencies from a local & remote node has unexpected problems.
4. Reconnection issues (connection is lost, and that will kill the whole job regardless of the e

[2022-09-26 23:20] rkooo567 commented on #28788
cc @alanwguo do we plan to support this use case?

[2022-09-26 23:41] rickyyx commented on #28777
Hey @marsupialtail , thanks for the issue and the mini reproducible script.

I tried running on my dev machine, which took 0.6 secs, not that different in terms of orders of magnitude of yours.

The short answer is it depends, but I don't think it could under dozens of milliseconds etc.
And yes, I think you are right, the start-up time is currently linear with number of actors as well.

We are awa

[2022-09-26 23:46] pcmoritz commented on #28790
Also:

   5. File paths from laptop and remote not matching up / files not being present on the cluster that are present on the driver

[2022-09-26 23:48] rickyyx commented on #28765
cc @stephanie-wang do you have any recommended practices to mitigate this / or are you aware of any ongoing projects that would address this?

cc @scv119

[2022-09-26 23:55] #28134 closed

[2022-09-26 23:59] scv119 commented on #28789
First action item, collect telemetry on how bad it is.

[2022-09-27 01:11] #28723 closed

[2022-09-27 01:25] rickyyx opened #28799 "[core][metric] Logical resource view"
### Description

We currently don't have good logical resources metrics exported. For example, we only have `ray_node_cpu_count` shows all the physical cpus available on the cluster, rather than a logical of resources available to the ray cluster (configured by `num_cpus`)

### Use case

_No response_

[2022-09-27 01:41] scv119 commented on #28765
cc @kfstorm
AFAIK @kfstorm are working on the improvement.

[2022-09-27 02:22] NKcqx commented on #28765
@scv119 thx for the quick reply. I'm now actively working on this project with @kfstorm . this issue

[2022-09-27 03:35] pcmoritz opened #28802 "[Core] Ray Client Proxy test failing since upgrade to gRPC 1.48.1"
### What happened + What you expected to happen

See

<img width="1735" alt="Screen Shot 2022-09-26 at 8 33 47 PM" src="https://user-images.githubusercontent.com/113316/192425792-90198b5e-e534-452e-b82a-4614190af772.png">

### Versions / Dependencies

gRPC 1.48.1

### Reproduction script

In Ray's CI environment

### Issue Severity

High: It blocks me from completing my task.

[2022-09-27 04:14] marsupialtail commented on #28777
OK. This sounds good. I am rearchitecting my system to use fewer actors anyways. I have found that a good rule of thumb is you want to have one actor on each machine instead of each physical thread if you want good scale-up times. The actor on the machine functions as a task scheduler for that machine, and you just push tasks instead of launch new actors to do tasks.

[2022-09-27 04:43] #28423 closed

[2022-09-27 05:32] mickelliu commented on #25914
Hi @avnishn, sorry for getting back to so late. The code that I had problem with is closed-source and very difficult to produce a minimal example, but I ran the taxi domain example shown on the RLlib index page with the torch framework and it had the sample problem. Sampling-related metrics (e.g. `sample_throughput`, `sample_time_ms`) are not shown in the `info`. I think this is probably why these

[2022-09-27 08:11] #28340 closed

[2022-09-27 13:29] DuoblaK commented on #12413
Hello，has this question solved for you?
I have met the same problem.
And I tried ray 2.0.0 still exits this problem.
Plus, if my mig device exits on the same gpu device, ray can see different mig device, else if my mig exits on the same gpu device, then ray can see only one mig device.

[2022-09-27 13:31] DuoblaK commented on #12413
Hello，has this question solved for you?
I have met the same problem.
And I tried ray 2.0.0 still exits this problem.
Plus, if my mig device exits on the same gpu device, ray can see different mig device, else if my mig exits on the same gpu device, then ray can see only one mig device.

[2022-09-27 14:51] joncarter1 commented on #19640
Hey all,

I'm glad I stumbled across this issue, the RAY_USER_SETUP_FUNCTION is really handy for my use case and will help me further tighten security in my Ray cluster.

I'm wondering whether there's a target release for the custom RuntimeEnv plugin which I've heard whispers for in a few places?

Thanks,
Jonathan

[2022-09-27 15:32] krfricke opened #28814 "[core] `ray.get_runtime_context.get_assigned_resources()` does not return raw resources in PG"
### What happened + What you expected to happen

When `ray.get_runtime_context.get_assigned_resources()` is called in a task scheduled within a placement group, it returns the `CPU_group_xxx` and `CPU_group_n_xxx` resources, but not the regular `CPU` resource. This makes it hard to identify how many CPUs are allocated to the current task.

Expected behavior: Also return e.g. `"CPU": 2`.

### Versi

[2022-09-27 16:06] heyitsmui commented on #28412
Working on this now, expect to have a draft PR out for review later today

[2022-09-27 16:09] architkulkarni opened #28816 "[CI] `windows://python/ray/tests:test_runtime_env_working_dir_3` is failing/flaky on master."
- d1eae27713e08ff9904a5c6d38d4aaadea87992a FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/220#01837d42-9a25-4c69-a430-9de53fa74b1b)
- 9505cd164ac99ed0cd4406d7197c1fb1db8b9c74 FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/219#01837c8a-2a2d-4cdc-997a-02fc5f06821c)
- 4d74b06fb9a6abfc3fb54e

[2022-09-27 16:12] architkulkarni commented on #28816
Likely due to https://github.com/ray-project/ray/pull/28623 and we just need to increase a timeout somewhere.

[2022-09-27 16:20] architkulkarni commented on #28816
5/5 failures are in `https://buildkite.com/ray-project/oss-ci-build-branch/builds/204#01837b47-7381-4a73-a193-98de0c9d35c1/8514-8542`.

Example: https://buildkite.com/ray-project/oss-ci-build-branch/builds/204#01837b47-7381-4a73-a193-98de0c9d35c1/8514-8542

[2022-09-27 16:21] architkulkarni commented on #28816
[code]

[2022-09-27 16:24] kouroshHakha opened #28817 "[RLlib] The ope estimators use split_by_episode which can be very slow"
### What happened + What you expected to happen

The ope estimators (is, wis, and dm) all use this split_by_episode call on the batch which is insanely slow. Example numbers: on a dataset with 600k rows for training and 600k rows from validation where each row is a single episode, training take 25 seconds with 5 rollout workers, validation dataset batch collection takes 76 seconds with a single lo

[2022-09-27 16:47] justinvyu commented on #28510
Hi @voklejas2, I reproduced the error with the script you provided. There are two ways of fixing the issue (I've also included an example of how to load checkpoints in both cases):

1. **Use the AIR Keras callback instead of the Tune callback.** This [section in the documentation](https://docs.ray.io/en/latest/train/dl_guide.html#logging-checkpointing-and-callbacks) goes over the differences betwe

[2022-09-27 17:10] ericl commented on #12413
As a workaround, I believe the following should work (referencing https://github.com/ray-project/ray/issues/12413#issuecomment-736399842):
1. Set CUDA_VISIBLE_DEVICES=uuid1,uuid2 prior to "ray start".
2. Also set --num-gpus explicitly in "ray start".

e.g., `CUDA_VISIBLE_DEVICES=uuid1,uuid2,uuid3 ray start --num-gpus=3`.

Should we auto-detect MIG devices by default? @amogkam

[2022-09-27 17:38] XuehaiPan commented on #12413
I think we should use `libcuda.so` to detect CUDA devices, see also https://github.com/ray-project/ray/issues/17914#issuecomment-123609513. Currently, CUDA program can only enumerate one MIG device, see https://docs.nvidia.com/datacenter/tesla/mig-user-guide/index.html#cuda-visible-devices. Ray should read all available MIG devices then set `CUDA_VISIBLE_DEVICES` for each remote actor.

[2022-09-27 17:45] richardliaw commented on #28412
awesome!

On Tue, Sep 27, 2022 at 9:06 AM Michael Mui ***@***.***>
wrote:

[2022-09-27 18:25] #28767 closed

[2022-09-27 18:44] valiantljk commented on #14104
any update on this

[2022-09-27 19:16] alanwguo commented on #28718
Is there a sense of how difficult it is to support this?

This seems like a good quality of life improvement for folks debugging tune trials. It's very common use case that tune trials have distributed workers?

This also will interact with W&B much better because now folks can see their entire trial logs in the W&B log viewer.

@xwjiang2010 , @richardliaw , what's the process of trying to get thi

[2022-09-27 20:10] amogkam commented on #28791
Can you provide a simple reproduction script and the full stdout?

[2022-09-27 20:29] xwjiang2010 commented on #28718
Actually, we were just talking about this today.
@alanwguo @ericl Is it fair to say that we should always have access to EFS for product?
Basically,
product --> certain requirements but also get EFS, which can greatly simplify impl
non product --> the impl is more tricky but we can choose not to provide this capability

[2022-09-27 20:31] xwjiang2010 commented on #28718
btw, let me know if this discussion should be moved to product github...

[2022-09-27 21:29] rickyyx opened #28828 "[core] Object spilling flaky on macOS"
### What happened + What you expected to happen

Seems object spilling on macos has bene a known issue, and there are multiple tests w.r.t. that are currently skipped in our tests.  See `test_object_spilling_*` and `test_tasks_metric::test_pull_manager_stats`

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-09-27 21:29] rickyyx commented on #28828
cc @scv119

[2022-09-27 21:33] amogkam commented on #28738
Fixed by https://github.com/ray-project/ray/pull/28824

[2022-09-27 21:33] #28738 closed

[2022-09-27 21:34] joshua-cogliati-inl commented on #27499
Alternative reproducer to get long lived ray::IDLE's:
[code]
Basically, this returns a lot of data from the ray remote (`sys.getsizeof([0]*15*1024*3000)/1024**2 ~= 351`) and this results in multiple ray::IDLE's existing.  Ray is started as in https://github.com/ray-project/ray/issues/27499#issuecomment-1246894172 *without* blocking a node with listen_range.py.  Returning 350 MB of data is sufficie

[2022-09-27 21:41] amogkam opened #28829 "[Tune] Use same directory when resuming an experiment"
When resuming a Tune experiment, Ray Tune creates a new experiment directory and does not reuse the old one. It would be good to have a configuration to continue to use the old directory so features like keeping the best N checkpoints will work as if resuming never happened (the fact that this was 2 separate runs is abstracted away from the user).

From https://discuss.ray.io/t/train-when-resuming

[2022-09-27 21:46] amogkam opened #28830 "[AIR] [Tune] Don't add random hash to trial id for single trial"
If running a single trial, adding the hash string to the `trial_id` (which is used as the directory name for where checkpoints are saved) is unnecessary. We should disable it for training only workloads.

From https://discuss.ray.io/t/train-when-resuming-training-a-new-trial-directory-is-created-even-when-resuming-from-checkpoint/7672

[code]

[2022-09-27 21:57] ijrsvt commented on #28086
Sorry, but I do not currently have the bandwidth to fix this.

[2022-09-27 22:01] shrekris-anyscale opened #28831 "[Serve] `serve build` option to output Kubernetes config format"
### Description

`serve build` should have an option to output the config file in Kubernetes format.

### Use case

`serve build` outputs [a Serve config file](https://docs.ray.io/en/releases-2.0.0/serve/production-guide/config.html) that can be deployed to a Ray cluster with `serve run` and `serve deploy`:

[code]

Kuberay `RayServices` use this config when deploying Serve. However, the KubeRay c

[2022-09-27 22:24] nikitavemuri commented on #28718
Sure, let's discuss any product features/implementation for this in https://github.com/anyscale/product/issues/13890

[2022-09-27 22:36] joshua-cogliati-inl commented on #27499
So ray status goes from:
[code]
to
[code]
without the ray.get ever either returning a value or throwing an exception or outputting anything related to this to *.err in the logs directories.

[2022-09-27 22:42] joshua-cogliati-inl commented on #27499
@stephanie-wang Is this worth a separate issue?

[2022-09-27 22:51] joshua-cogliati-inl commented on #27499
Neat, we got a stack trace with 35 MB return values after waiting long enough:
[code]

[2022-09-27 23:35] simon-mo opened #28833 "[Serve] Soft Session Affinity"
### Description

Currently, Ray Serve routes requests to replica in a round robin fashion. This is approach is fine for stateless workloads. But we have seen cases where the replica is contains some sort cached state, it would be more performant when the requests are routed to the right replica instead of going uniformly to all replicas.

This does entails a few things:
* Consistent hashing techni

[2022-09-28 00:02] #28802 closed

[2022-09-28 00:57] KepingYan opened #28836 "[Datasets] Why does pydantic make training slower？"
### What happened + What you expected to happen

I‘m using Ray to load parquet data and feed it to model for training.
I use multiple nodes and multiple processes for training, and use mpi for communication between nodes. I first split dataset to multiple shards, and then pass each shards to each process according to node_ip. In process, the data shards is first converted to torch type, and then f

[2022-09-28 01:01] #28383 closed

[2022-09-28 02:26] pingsutw opened #28838 "Dataclass becomes empty after running ray remote function"
### What happened + What you expected to happen

In our case, We use [dataclass_json.to_json](https://github.com/lidatong/dataclasses-json/blob/23e5eec42b173cf91a1ff194416ccbc87411df2e/dataclasses_json/api.py#L28-L49) to serialize the dataclass, but we failed to serialize dataclass because the dataclass value became empty for some reason after running the ray remote function

### Versions / Depend

[2022-09-28 04:50] voklejas2 commented on #28510
Many thanks! This resolved this change resolved the issue.

[2022-09-28 04:50] #28510 closed

[2022-09-28 11:17] tumzied opened #28846 "[<Ray component: Core|RLlib|etc...>] register_serializer does not work when I am trying to wrap a Actor class"
### What happened + What you expected to happen

i have implement a wrapper class that that wrap an Actor class just to reduces calling `.remote` method every time also i have added that wrapper class as custom serialize. now when i try to pass a wrapper actor object as argument  to another wrapper actor using ray. the receiving wrapper object only receive actor object not wrapper object.

### Ver

[2022-09-28 11:58] DicardoX opened #28847 "[Core] Cannot 'ray list nodes' after setting the environmental variable 'export RAY_ADDRESS="http://127.0.0.1:8265" '"
### What happened + What you expected to happen

I first use the following command to create a ray head node:

- ray start --head

After that, I can get the following node information with the command 'ray list nodes':

List: 2022-09-28 19:49:19.974051
Stats:
Total: 1

Table:

NODE_ID    NODE_IP     STATE    NODE_NAME    RESOURCES_TOTAL
 0  8b62297b1b1281778a7db24698aa00539e6247cb64a70e9c529e6828

[2022-09-28 14:03] cool-RR commented on #28706
@sven1977 Thanks.

[2022-09-28 14:24] antoine-galataud opened #28848 "[RLlib] Offline RL with Ray Dataset fails on big json files"
### What happened + What you expected to happen

When training DT using `"input":"dataset"` the following exception is raised if the json input files are too big:

[code]

My current workaround is to split input files into smaller chuncks.

A more long-term approach would be to autosize pyarrow blocks or to let user specify pyarrow read options. For instance, reading works well with following opti

[2022-09-28 14:28] antoine-galataud opened #28849 "[RLlib] Decision Transformer training fails with GPU"
### What happened + What you expected to happen

Training DT on a GPU-based instance fails with following exception:

[code]

Possible fix: move model to cuda device. Instead of

https://github.com/ray-project/ray/blob/27292c41242e1c98bbc8e5e6ea7dc10349e2cb3c/rllib/models/torch/mingpt.py#L140

Use

[code]

### Versions / Dependencies

Ray nightly
Ubuntu 18.04
Python 3.8

### Reproduction script

U

[2022-09-28 15:24] DuoblaK commented on #12413
Thanks for you reply, and I tried as you said, it really worked in the condition in which pod running on single node in k8s pod, multi-nodes still has problem and I am working on it, it should be working with the same way.
Thanks again for your reply, it helps me a lot.

[2022-09-28 15:47] justinvyu commented on #28510
Glad to hear! I made one small update to the checkpoint loading to use the recommended framework-specific [`TensorflowCheckpoint`](https://docs.ray.io/en/latest/ray-air/package-ref.html#ray.train.tensorflow.TensorflowCheckpoint) rather than loading it as a dict and getting the weights key manually.