[2022-02-20 23:38] jdwillard19 commented on #22525
Fixed by adding _temp_dir to the initial

`ray start --head --port=6379 --temp-dir=~/tmp/ray`

[2022-02-20 23:38] #22525 closed

[2022-02-21 00:13] vijayi1 commented on #20956
Has this issue been resolved?
I got it to work with the following patch (but I'm not sure that its the right fix).

diff --git a/horovod/ray/driver_service.py b/horovod/ray/driver_service.py
index b3c9d72..58f242a 100644
--- a/horovod/ray/driver_service.py
+++ b/horovod/ray/driver_service.py
@@ -38,18 +38,14 @@ def _driver_fn(node_actors, all_host_names, local_host_names, settings):
     :rtype: l

[2022-02-21 00:56] rkooo567 commented on #22524
cc @iycheng It seems like this requires very big payload for InternalKVPut.

@jamie0xgitc0decat

[code]

Do you happen to know what value do you put here? We have the default gRPC limit for Put object.

cc @krfricke @amogkam I think if the value is too big, application layer probably should split the data into smaller chunks. Alternatively, we can support it from Ray core, but Idk if that's someth

[2022-02-21 05:24] bveeramani opened #22527 "[Bug] `TimeoutError` with empty train function"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

I expected that my minimal training script with an empty train function would run without any errors.

Instead, I received a `TimeoutError`.

[code]

Here's what `ray status` returned at the t

[2022-02-21 06:28] A12134 commented on #22523
After firmly checking, the issue is caused by the actual size difference between my defined observation shape and the actual returned shape.

[2022-02-21 06:28] #22523 closed

[2022-02-21 07:28] KepingYan commented on #21980
@clarkzinzow  I'm back and sorry for not following up for so long.
Both ray.data.read_csv() and ray.data.from_pandas()  work fine for me. This makes sense because the blocks of data returned by both functions are already of type `pyarrow`,  so they do not trigger this assertion: https://github.com/ray-project/ray/blob/ef593fe5d3c864836b80ae77be32635cef42b537/python/ray/data/impl/arrow_block.py#L14

[2022-02-21 08:27] orcahmlee commented on #13433
I also hit this error, when I tried to launch Ray cluster on GCP.

launch command:
[code]

`config.yaml`
[code]

The error message after running `ray up`
[code]

I also check the `LC_ALL` and `LANG` my Mac(thanks @satrya-sabeni ). Although the settings of `LC_ALL` and `LANG` are both `en_US.UTF-8`, seems these settings do not send to the GCE instances. Since the above error message shows

[code]

[2022-02-21 08:30] orcahmlee commented on #13433
I wanna share my solution. After I modified the `ssh_config` on my Mac, I was able to create the Ray cluster(using docker image) on GCE.

[code]
then comment out the `SendEnv LANG LC_*`
[code]

[2022-02-21 08:48] birgerbr commented on #22352
Our cluster is again getting "Server startup failed", and the operator is running `rayproject/ray:1.10.0` which matches the version used in the head node.

The "Unable to succeed in selecting a random port." were not in the logs, but they might have come if we had let it continue.

Your script above ran without any issues.

[2022-02-21 09:04] rokrokss opened #22530 "[Bug] Dashboard shows TypeError frequently"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

my ray dashboard is frequently shows nothing on the browser and prints below error in console

`TypeError: Cannot read properties of undefined (reading 'split')`

### Versions / Dependencies

[2022-02-21 09:38] vakker commented on #21335
I believe this was introduced in #18540 to change the exception to a warning, but shouldn't the resolution be the other way around?
I.e. instead of:
[code]
do
[code]

My understanding is that the stacks are there to support the requirements of the algorithm, not the other way around. In other words, changing the `minibatch_buffer_size` has RL performance implications, while changing `num_multi_gpu

[2022-02-21 09:44] chenk008 opened #22531 "[Feature] rename "java/test/src/main" to "java/test/src/test""
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In java project specification, we should put test into  `src/test`, it help IDE(vscode) to detect tests and user to debug these tests.

### Use case

Debug the java tests in IDE(vscode)

### Related issues

_No response_

### Are you

[2022-02-21 10:44] #22150 closed

[2022-02-21 12:23] jakub-valenta commented on #21419
I was able to reproduce this while debugging in ipython console. I have been testing ray client reconnection after networ failure or after restarting ray cluster. I have created dummy function:
[code]
After connecting to remote cluster I was disabling and enabling network also I have restarted ray head and operator nodes. Calling remote function raised an exception:

[code]
But ray client reported

[2022-02-21 12:48] MrDarcy1 commented on #16126
Hi I got the same problem with import ray in python 3.6 win10.
My ray version is 1.10.

import ray
Traceback (most recent call last):

  File "<ipython-input-13-d310bc7e5061>", line 1, in <module>
    import ray

  File "D:\anaconda\envs\pytorch\lib\site-packages\ray\__init__.py", line 83, in <module>
    _configure_system()

  File "D:\anaconda\envs\pytorch\lib\site-packages\ray\__init__.py", lin

[2022-02-21 13:08] ASDen commented on #22349
@amogkam though this is a good analysis, I am unable to get the problem resolved, unfortunately the same problem persists even after the suggested fix

[2022-02-21 13:39] newmanwang commented on #21974
ray 1.10.0

It happend again。
This time I started about 20 remot tasks, each task print a lot of logs to standard output.  But after these tasks exit without exception, they remian on dashboard under "machine view" tab with "Group by host" unchecked

[2022-02-21 14:01] #9206 closed

[2022-02-21 14:01] #16446 closed

[2022-02-21 14:01] #16856 closed

[2022-02-21 14:01] #16693 closed

[2022-02-21 15:01] #17067 closed

[2022-02-21 15:01] #17316 closed

[2022-02-21 15:01] #17494 closed

[2022-02-21 16:12] jon-chuang opened #22532 "[containers] explore vaccel-based firecracker accelerator virtualization"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

https://docs.vaccel.org/quickstart/

### Use case

More secure virtualization/containerization w/ accelerator support

Concerns:
- support seems quite limited and there is a lot of coupling to specific library (meaning coupling is not

[2022-02-21 20:05] ankur6ue commented on #21241
I'm seeing the same issue.. ray on kubernetes tries to install runtime dependencies but stalls midway

Traceback (most recent call last):
  File "/home/ray/anaconda3/lib/python3.7/site-packages/ray/util/client/server/proxier.py", line 624, in Datapath
    client_id, job_config):
  File "/home/ray/anaconda3/lib/python3.7/site-packages/ray/util/client/server/proxier.py", line 281, in start_specific_

[2022-02-21 20:49] tupui commented on #11785
Hi @AlessandroZavoli, did you try the instructions here https://docs.ray.io/en/latest/cluster/slurm.html?

[2022-02-21 20:54] AlessandroZavoli commented on #11785
I was not able to do it, as my access to the HPC resource expired. Indeed, my major suspect was the IBM ppc64le architecture.
Next project I will be back on an Intel architecture, which is is expected to start on March 14.
As a side question, I might try to create a Singularity container.
I will keep you up-to-date

[2022-02-21 20:55] tupui commented on #11785
Great thanks!

[2022-02-21 22:27] suquark commented on #21979
It is already been addressed.

[2022-02-21 22:27] #21979 closed

[2022-02-21 22:45] wuisawesome commented on #13433
@orcahmlee can you file a new issues for this? It's almost certainly a different issue (this one is purely about noisy output in a unit test which doesn't use a real node provider).

[2022-02-21 23:12] #18665 closed

[2022-02-21 23:12] #14888 closed

[2022-02-21 23:12] #19266 closed

[2022-02-21 23:12] #17482 closed

[2022-02-22 00:14] INF800 opened #22533 "Ray serve + FastAPI Tutorial / Docs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hi, when I checked the official ray serve docs, I saw "more coming soon". I hope the documentation is in progress for ray serve. But I don't think documentation is ready for FastAPI.

I would like to write FastAPI specific tutorials f

[2022-02-22 01:54] peterhaddad3121 commented on #22466
I think the issue is that Ray converts hostnames to IP addresses meaning if you aren't using a self-signed cert, then it will throw an error. The ability to set --address to a hostname that way Common Names (CNs) can be properly generated and used would be helpful.

[2022-02-22 02:27] INF800 commented on #22533
https://docs.ray.io/en/latest/serve/http-servehandle.html#serve-fastapi-http This is good but I want to make application oriented docs/examples

[2022-02-22 02:45] orcahmlee opened #22535 "[Bug] Launch Ray cluster on GCP via macOS hit the issue of cannot change locale"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

I was trying to launch a Ray cluster on GCP via my macOS. When I disabled the `docker` field and used the `setup_commands` field to set up the new node, everything went well. However, when

[2022-02-22 02:48] orcahmlee commented on #22535
I'm not sure this issue is related to either Ray or my macOS ssh config settings.

I wanna share my solution. After I modified the `ssh_config` on my Mac, I was able to create the Ray cluster(using docker image) on GCE.

[code]
then comment out the `SendEnv LANG LC_*`
[code]

However, is it possible to make the error message provide more details?

[2022-02-22 02:49] orcahmlee commented on #13433
Done. https://github.com/ray-project/ray/issues/22535
Thanks for your advice. @wuisawesome

[2022-02-22 05:12] wuisawesome commented on #22535
Thanks for investigating and finding the root cause. Ideally we will be able to either provide a better error message or just handle locales more robustly.

[2022-02-22 05:17] wuisawesome commented on #22514
@DmitriGekhtman thoughts here? do we need some sort of backoff here?

[2022-02-22 05:24] wuisawesome commented on #22466
@iycheng @mwtian can y'all take a look? looks like it could be related to migrating internal kv?

[2022-02-22 06:38] #18442 closed

[2022-02-22 06:38] #17593 closed

[2022-02-22 06:38] #18006 closed

[2022-02-22 06:38] #19226 closed

[2022-02-22 06:38] #19229 closed

[2022-02-22 07:15] #22397 closed

[2022-02-22 08:34] dirkweissenborn opened #22537 "[Bug] Autoscaler fails on monitor with 404"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Autoscaler error stack trace. After that error the cluster idles and doesn't run the job.

I think this is very similar to #21151 .

[code]

### Versions / Dependencies

1.10

### Reproduction

[2022-02-22 08:57] simonsays1980 commented on #22488
In my opinion this is a great development and needed since some time, where the possibilities with ray are growing. I am using mostly RLlib, which I think is a great workhorse in RL and there is nothing comparable so far on the market. There it is often unclear what the standard way (or the intended way) is how things should be solved in code. Combining the APIs in a standardized manner would brin

[2022-02-22 09:30] jovany-wang commented on #21128
@Catch-Bull CC

[2022-02-22 09:52] aralebox opened #22539 "[Bug] agent_key not removed in self.agent_collectors in simple_list_collector when training_enabled==True in last_info"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I'm using the ExternalEnv to train a RL policy with many short episodes. During test, "training_enabled" is set to True.
Occasionally, an assert error appeared in simple_list_collector.py, method

[2022-02-22 15:52] mattip commented on #22509
I wonder if this is connected to windows 11 and/or some new firewall setting

[2022-02-22 16:24] rkooo567 commented on #21920
Closing it as this wasn't the issue from the API itself. We are planning to have an improvement on the API, and it might be great if the question above is answered!

[2022-02-22 16:24] #21920 closed

[2022-02-22 17:13] juliusfrost commented on #17914
This is still an issue.

[2022-02-22 17:54] architkulkarni commented on #22533
Hi @INF800 Thanks for offering to contribute, we'd be happy to have more such tutorials!  Feel free to submit PRs for these.  Let us know if there's any specific guidance you need; otherwise working off of the existing tutorials as a template should be fine (although these are not set in stone and you should feel free to improve them!)

[2022-02-22 18:19] scv119 commented on #22491
https://github.com/ray-project/ray/issues/22518 the same issue.

[2022-02-22 18:25] scv119 commented on #22491
cc @iycheng
according to https://github.com/grpc/grpc/issues/17253, seems we need to ensure GRPC_FORK_SUPPORT_ENABLED=0 in our worker.

[2022-02-22 18:55] Yard1 opened #22548 "[Bug] Resources displayed in Dashboard don't match cluster configuration"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

The resources displayed in dashboard (cores) will always show the actual physical resources on the node, and not what was specified in the cluster configuration. This behavior leads to confusi

[2022-02-22 19:06] #21655 closed

[2022-02-22 19:08] jamie0xgitc0decat commented on #22524
@rkooo567
The type of value is Byte. The key is my env.

The default MAX_RECEIVE_MESSAGE_LENGTH is 512MB which is placed in the ray/_private/gcs_utils.py
https://github.com/ray-project/ray/blob/7f1bacc7dc9caf6d0ec042e39499bbf1d9a7d065/python/ray/_private/gcs_utils.py

Line 74
`
_MAX_MESSAGE_LENGTH = 512 * 1024 * 1024
`

https://github.com/ray-project/ray/blob/7f1bacc7dc9caf6d0ec042e39499bbf1d9a7d0

[2022-02-22 19:12] architkulkarni commented on #21241
Hi @ankur6ue sorry you're running into this!  could you post more logs from `dashboard_agent.log` on the head node and any other runtime env setup logs you might find on the head node?

It may be that the `pip install` ran out of memory and was killed; if this is the case there should be `Killed` in the logs somewhere.  Regardless, you can try increasing the memory of your node to see if that fixe

[2022-02-22 19:35] simon-mo commented on #21103
No longer relevant as @edoakes removed goal manager.

[2022-02-22 19:35] #21103 closed

[2022-02-22 19:35] #22520 closed

[2022-02-22 19:36] bveeramani commented on #22527
Closing because I didn't include `ray.init("auto")`

[2022-02-22 19:36] #22527 closed

[2022-02-22 19:57] ericl commented on #17493
I think we have enough coverage this is a P2.

[2022-02-22 19:58] #18524 closed

[2022-02-22 20:06] worldveil opened #22551 "Add scalability envelope to docs"
https://github.com/ray-project/ray/blob/master/benchmarks/README.md

Many users ask for this, and it's not easy to find.

cc @wuisawesome @maxpumperla

[2022-02-22 20:24] andenrx opened #22552 "[Bug] Cloudpickle losing parents of types defined in __main__ if an ancestor used a type annotation"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When Ray cannot import a specific type, it creates a "skeleton class" remotely instead. This skeleton class is meant to be identical to the original, however, if an ancestor of the class used t

[2022-02-22 20:57] VIPTankz commented on #14105
Hello,
I also got this problem when running IMPALA using the following config on top of the default.

DEFAULT_CONFIG["framework"] = "torch"
DEFAULT_CONFIG["gamma"] = 0.999
DEFAULT_CONFIG["num_workers"] = 16
DEFAULT_CONFIG["num_gpus"] = 1
DEFAULT_CONFIG["num_envs_per_worker"] = 2
DEFAULT_CONFIG["evaluation_num_workers"] = 1
DEFAULT_CONFIG["evaluation_interval"] = 25
DEFAULT_CONFIG["evaluation_durat

[2022-02-22 21:02] nikhil-sthalekar commented on #22518
Not sure if this is helpful, but I was getting this error in a workflow job this past Sunday and Yesterday (today is feb 22), yet it seemed to resolve itself today.

[2022-02-22 21:59] #22491 closed

[2022-02-22 22:20] worldveil commented on #22262
Hey, just to add onto this issue, the same problem arises for defaults in other places.

Both

- provider.availiability_zone
- available_node_types.ray.worker.default.node_config.ImageId

Also default to things in us-west-2.

For example, if do something like this:

[code]

the `availability_zone` will also default to `us-west-2`!

[2022-02-22 22:38] vakker opened #22557 "[Bug] High-throughput architectures (IMPALA, APPO) regression"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I was doing some experiments, and for some reason I couldn't get APPO to work properly, while I can get PPO to work quite reasonably. This led me to some debugging, and currently to me it seems th

[2022-02-22 23:47] #20510 closed

[2022-02-23 00:01] stephanie-wang commented on #22485
I agree with @franklsf95. I also agree with @scv119 that we shouldn't block waiting for new objects to appear, but the fact that this is happening on Frank's repro script makes it seem like there is an actual bug.

Looking at the code, it looks like this might be a pretty simple fix. I think the problem is that we're calling [this function](https://github.com/ray-project/ray/blob/master/src/ray/ra

[2022-02-23 00:12] avnishn commented on #21457
In RL literature, the Q function's parameters are states and actions. When we represent that as a neural network in code, we concatenate the observations and actions together in order to represent that the Q function is a function of these 2 things.

In the case that your environment is a discrete environment, the q function actually isn't a q function, and is instead a value function, which only

[2022-02-23 00:52] jovany-wang opened #22561 "[xlang] Support propagate default_actor_lifetime flag in xlang"
The job config flag should be propagated in xlang, for instance:
A Java driver create a Python actor, and the flag in Python actor should be the same as what we configured in driver.

If we set default_actor_lifetime to `detached` for the Java driver, the python actor2 should be `detached`.
java driver ----> python actor1----> python actor2

Also we need add the tests for that.

[2022-02-23 00:52] anmshkmr opened #22562 "[Bug] dask utilities cause serialization error (TypeError: cannot pickle 'pickle5.PickleBuffer' object)"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Normal dask utilities like `from_dask` result in serialization error. In this case, when pandas partitions are persisted to disk and read back into `Dataset[ArrowRow]` type, it results in `Type

[2022-02-23 00:55] clarkzinzow commented on #22562
What version of Python are you using?

- If < 3.8, can you try upgrading pickle5? `pip install -U pickle5`
- If >= 3.8, can you try uninstalling pickle5? `pip uninstall pickle5`

[2022-02-23 00:57] jovany-wang opened #22563 "[Feature][Java] Support specifying namespace when creating actors."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Align this API https://github.com/ray-project/ray/blob/master/python/ray/actor.py#L554

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-02-23 01:07] architkulkarni opened #22565 "[Cluster snapshot] [Bug] `runtime_env` fields in cluster snapshot are converted to camelcase when they should not be"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

Follow up from https://github.com/ray-project/ray/pull/22225/files#r805055313

Currently all keys and values in the snapshot are converted to camelcase.  However, we need to disable this for c

[2022-02-23 01:10] anmshkmr commented on #22562
@clarkzinzow
I am on Python 3.8. Doing `pip uninstall pickle5` fixes it! Thanks!

[2022-02-23 01:30] tgaddair commented on #22562
Thanks @clarkzinzow, can you provide some more context on this. Is it expected that pickle5 is incompatible with Ray when using Python 3.8 and above?

[2022-02-23 01:36] clarkzinzow commented on #22562
@anmshkmr Great to hear! 🎉

@tgaddair It's more that pickle5 is a [backport](https://pypi.org/project/pickle5/) for [pickle protocol 5](https://www.python.org/dev/peps/pep-0574/) for Python < 3.8 and shouldn't be used for Python 3.8+, which uses pickle protocol 5 in the stdlib `pickle`. Ray uses pickle protocol 5's feature for representing out-of-band data (zero-copy array buffer reads) [extensive

[2022-02-23 01:44] amogkam opened #22567 "[Train] Better debuggability when training is hanging"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

When Ray Train hangs, it's very hard to get an understanding on what it's hanging on because the main process is just waiting on a `ray.get` call. Debugging this requires multiple `py-spy` calls (possibly on multiple nodes in the clus

[2022-02-23 01:46] amogkam commented on #22349
@ASDen can you do `ps aux` to find the pid of the process running your python script, and then do `py-spy dump --pid {MY_SCRIPT_PID}`?

And is that the only output from `ray stack`? I believe there should be more output. Was this run on every node?

[2022-02-23 01:53] tgaddair commented on #22562
Got it, thanks. In that case, I believe our fix [here](https://github.com/ludwig-ai/ludwig/pull/1763) should be correct.

[2022-02-23 01:54] clarkzinzow commented on #22562
@tgaddair Yep that should do it!

[2022-02-23 02:00] ericl opened #22568 "Improve actor pool support in Datasets"
Currently, compute="actors" has limited configurability for Datasets. We should support setting the pool size explicitly.

[2022-02-23 02:09] jinfagang commented on #4393
[code]

[2022-02-23 02:23] jinfagang opened #22573 "[Bug] ray process killed by `pkill -9 ray*` and node can not work"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

It should automatically up again.

### Versions / Dependencies

python37
ray 1.7.0

### Reproduction script

sudo pkill -9 ray*

### Anything else

_No response_

### Are you willing to submit

[2022-02-23 02:42] jinfagang opened #22575 "[Feature] Why ray can connnect to redis but my machine doesn't installed redis??"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

My ray project can run by:

[code]

But I don't have redis on my machine:

[code]

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-02-23 03:09] GoingMyWay commented on #1221
When `local_mode=False`, the error happens for `ray==1.4.1` with pytorch.

[code]

and the error

[code]

Actually, there is a GPU on my machine. I guess `ray.get_gpu_ids()` failed to get the GPU ids.

[2022-02-23 03:36] #21879 closed

[2022-02-23 04:17] qicosmos opened #22579 "[Feature] [Python] Python call c++ worker"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We have supported c++ worker call python worker now, we need to support python call c++ worker as well.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to su

[2022-02-23 04:43] ericl commented on #21274
This seems to be because serializing a parquet piece triggers network calls:

[code]

[2022-02-23 05:26] #21427 closed

[2022-02-23 05:32] ericl commented on #21274
I'm not sure there's a super easy way around this, given that it seems to be due to pickle accessing the lazy `metadata` attribute of the piece. Maybe the best we can do is just execute metadata resolution locally but in parallel using a large threadpool.

cc @clarkzinzow

[2022-02-23 06:02] iycheng commented on #22122
I tried it today and it seems not reproducible with a cluster on ec2.

[code]

The commit is `40fa56f40cb1dbdc50d33291e5adf45e7f32d471`.

[2022-02-23 06:15] ericl commented on #22122
@iycheng after a bit of fiddling I was able to reproduce on a K8s cluster: https://console.anyscale.com/o/anyscale-internal/clusters/ses_ts49ySqkJ1bSxYD7tXuhjWmH

I think the main thing is you need a large number of worker nodes (wait for 20 nodes to start). In that condition, when I ran the following script I saw that the CPUs in the cluster took a long time to become utilized, though eventually

[2022-02-23 06:28] wilsonwang371 commented on #22051
I can also observe this in ray cluster created in kuberay deployed in Kind environment.

[2022-02-23 06:45] wilsonwang371 commented on #22051
Is this related to kernel config? @chenk008  CONFIG_CGROUP_CPUACCT

[2022-02-23 07:19] ericl commented on #22310
Here's a minimal repro. With pyarrow==6.0.1 it works fine. With 7.0, you get a 800GiB plasma allocated block...
[code]

[2022-02-23 07:32] ericl commented on #22310
Inserting a copy() of the block seems to resolve the issue. Maybe there's some large sparse array that's allocated in the pyarrow object when read from parquet in pyarrow 7.0.0.

We can insert the copy as a workaround for that version, and file a bug upstream.

[2022-02-23 08:09] kfstorm commented on #21380
@simon-mo Thanks for the update.

This issue will remain open because we still couldn't distinguish overloads with the same amount of parameters.

[2022-02-23 08:10] ramesh-shah75551 opened #22585 "[Error]: 'InProgressSentinel' object has no attribute 'id'"
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/uvicorn/protocols/http/httptools_impl.py", line 376, in run_asgi
    result = await app(self.scope, self.receive, self.send)
  File "/usr/local/lib/python3.8/site-packages/uvicorn/middleware/proxy_headers.py", line 75, in __call__
    return await self.app(scope, receive, send)
  File "/usr/local/lib/python3.8/site-p

[2022-02-23 08:21] clarkzinzow commented on #22310
Interesting, I tried reading Parquet data and many different operation combinations and wasn't able to reproduce.

I'll time-box an investigation this week and otherwise do as you suggest. Thank you for finding a repro!

[2022-02-23 08:24] #21646 closed

[2022-02-23 09:51] sven1977 commented on #22539
Hey @aralebox , thanks for raising this!
You are right, when `training_enabled==False` the `del` code is never reached as we `continue` the loop before that.
Let's try your suggested fix and make sure all tests pass, then we can merge this. I'll PR now ...

[2022-02-23 09:58] sven1977 commented on #22539
PR:
https://github.com/ray-project/ray/pull/22587
@aralebox

[2022-02-23 11:07] hellofinch opened #22589 "[Bug] rllib example cannot run"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, RLlib

### What happened + What you expected to happen

I run a rllib demo ```multi_agent_two_trainers.py``` but it does work. There are outputs.
It seems that the environment is not a subclass of BaseEnv, MultiAgentEnv, ActorHandle, or Exter

[2022-02-23 11:32] sven1977 commented on #22444
Hey @2dm , thanks for raising this. This seems indeed wrong. We'll try to fix this.
Here is a PR:
https://github.com/ray-project/ray/pull/22590

[2022-02-23 11:41] #21709 closed

[2022-02-23 11:47] vakker commented on #22557
@sven1977 thanks for the additional details, the configs are the same that are in `tuned_examples` (except the `num_cpus_per_worker: 0.5` bit):
<details>
<summary>ppo/pong-appo.yaml</summary>

[code]
</details>

<details>
<summary>impala/pong-impala-fast.yaml</summary>

[code]
</details>

What config are used for your tests?
Could you possibly provide the timesteps and the wall time it takes to re

[2022-02-23 11:51] sven1977 commented on #22383
Hey @carlogrisetti , sorry, but I was not able to reproduce this with PPO + torch + FrozenLake env. Generating a checkpoint with 1.9 and restoring with latest master worked just fine.
Could you post a repro script here? Thanks!

[2022-02-23 11:56] sven1977 commented on #22424
Hey @ZKBig , not sure I understand what you mean by "attention values"? You could take a look at the batch used for training via defining a custom callback and overriding the `on_learn_on_batch()` method (see e.g. `rllib/examples/custom_metrics_and_callbacks.py` on how to do this). In the on_learn_on_batch method, there'll be a `train_batch` arg, which should contain e.g. the internal state values

[2022-02-23 11:57] sven1977 commented on #22179
Hey @Mathieu-Prouveur , yeah, I think our APEX algos (DQN and DDPG) do NOT support multi-GPUs yet. Let me take a look ...

[2022-02-23 13:03] saswatac opened #22592 "[Bug] Delay in availability of results when using serve handles"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

When using serve handles, results are not available after the remote method has completed execution.

I have a method in serve deployment which takes ~10s. A single replica is deployed, and I

[2022-02-23 13:09] INF800 commented on #22533
Will keep you posted here.

[2022-02-23 14:35] ThomasCassimon opened #22593 "[Bug] "Discrete" space sampling breaks on gym >= 0.22.0"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib, Others

### What happened + What you expected to happen

When "gym==0.22.0" is installed, sampling certain observation spaces throws an AttributeError. Using the same code with "gym==0.21.0" works.

The expected behaviour is for the training cyc

[2022-02-23 14:40] daikeshi commented on #22514
Thanks, @DmitriGekhtman. What's the expected timeline regarding supporting core Ray functionality in KubeRay operator? Can we start using KubeRay now?

[2022-02-23 15:12] carlogrisetti commented on #22383
I will try to repro in a controlled environment and post a script or at least detailed instructions.
Sorry for this but I am having huge timing issues right now :)

[2022-02-23 15:13] ZKBig commented on #22424
Thanks for your valuable reply, I appreciate it quite much!

Sorry for making you confused. More specifically, I want to get the attention weights of the model, which are calculated during forward propagation according to attention mechanism. In fact, I have tried to get this intermediate value through defining a 'get method' in the custom rl model, which is shown as follows:
<img width="706" alt=

[2022-02-23 15:19] #22383 closed

[2022-02-23 15:36] HeyItsBethany3 commented on #22518
@rkooo567 I'm still experiencing this issue - what is the solution?
I have tried setting GRPC_FORK_SUPPORT_ENABLED as an environmental variable using `os.environ["GRPC_FORK_SUPPORT_ENABLED"]="0"` in python and `export GRPC_FORK_SUPPORT_ENABLED=0` in the terminal but I'm still getting these error messages.

[2022-02-23 16:15] xwjiang2010 opened #22595 "[release test] train_pytorch_linear_test hangs since Monday 2/21"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

fail: https://buildkite.com/ray-project/periodic-ci/builds/2877#7efe4aca-68fd-414f-9798-153a692cebd2
success: https://buildkite.com/ray-project/periodic-ci/builds/2841#9b925354-82d8-46bd-864b-

[2022-02-23 17:22] JosephChotard commented on #22533
@INF800 Thanks for doing this! I'm very new to the framework and would especially like some clarification regarding swagger/openapi and ray:serve

[2022-02-23 17:29] DmitriGekhtman commented on #22514
You can start using KubeRay now.
Some features, such as built-in autoscaling, are not available yet, but the core functionality is there and is stable.

[2022-02-23 17:54] saswatac commented on #21578
We would also benefit from this. Our predictions take quite a bit of time and the traffic is expected to be spiky.
I also like the proposal in  https://github.com/ray-project/ray/issues/20977 .

[2022-02-23 18:19] simon-mo opened #22599 "[Serve] replica recovery logic cleanup"
Cause serve_failure to break often

[2022-02-23 18:20] simon-mo opened #22600 "[Serve] Health check HTTP proxy as well"

[2022-02-23 18:20] simon-mo opened #22601 "[Serve] autoscaling should look at queue length"

[2022-02-23 18:50] amogkam opened #22603 "[Train] Automatic pipelining of host to device transfer"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

For better performance, we can pipeline the data transfer from CPU -> GPU with training. So while training is happening for one batch on one cuda stream, another cuda stream can concurrently move the next batch from CPU to GPU. We alr

[2022-02-23 18:54] shrekris-anyscale opened #22604 "[serve] Make controller use import paths"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The Serve controller primarily uses serialized classes and functions when setting up replicas. It should instead primarily use import paths.

### Use case

Import paths better support the [REST API](https://github.com/ray-project/ray/

[2022-02-23 19:10] xwjiang2010 commented on #22595
On Monday it shows up as:

https://buildkite.com/ray-project/periodic-ci/builds/2869#be927d3d-5c9c-41aa-b468-1aa5fa465904 and https://buildkite.com/ray-project/periodic-ci/builds/2869#88167da2-2a9d-412e-81a1-dd3a433773dc

The cluster was running for > 10 hours and training is not yet finished.

[2022-02-23 19:57] Yatagarasu50469 opened #22605 "[Bug] No Logging Options for Serve Deployment and/or Ray generated Pool Actors"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

Re-posted from: https://discuss.ray.io/t/no-logging-options-for-serve-deployment-and-or-ray-generated-pool-actors/5164

Option(s) for controlling the logging level for a serve deployment and p

[2022-02-23 20:29] worldveil commented on #22081
@matthewdeng @amogkam for folks that come to find this issue in future, can we show how to prevent this?

(longer term we may want to support threading / matplotlib usage in Ray tasks, but too large of task unless we hear more user feedback/issues about it. for now, workaround is good enough)

[2022-02-23 21:09] #18290 closed

[2022-02-23 21:35] #20394 closed

[2022-02-23 22:20] ZhijieWang opened #22607 "[Bug] RLlib slate_q example causing GCS to be non-responsive"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, RLlib, Ray Clusters

### What happened + What you expected to happen

I'm attempting to run the rllib example recommender_system_with_recsim_and_slateq.py on anyscale, but I'm getting the error:
[specific-server] Failed to put health check on

[2022-02-23 22:32] #21912 closed

[2022-02-23 22:32] #22448 closed

[2022-02-23 22:53] simon-mo commented on #19260
Will be replaced by Serve K8s operator documentation

[2022-02-23 22:53] #19260 closed

[2022-02-23 22:54] matthewdeng commented on #22595
From an initial glance I wasn't able to tell exactly where it's hanging. This test does run successfully on a single node in CI, so my current hunch is that it has to do something with the setup of the release tests. I'll spin up a cluster and see if I can reproduce. May be related to [this line](https://sourcegraph.com/github.com/ray-project/ray/-/blob/release/ml_user_tests/train/train_torch_line

[2022-02-23 23:30] #21540 closed

[2022-02-23 23:30] #21995 closed

[2022-02-23 23:31] #22053 closed

[2022-02-23 23:32] amogkam commented on #22595
@xwjiang2010 and I just looked into it- there's something very weird going on. 3 of the workers are executing the training function and are blocked in DistributedDataParallel initializing, waiting for the other 3 workers. The other 3 workers are not actually executing any methods. Logs don't show any error or anything out of the ordinary.

This test was passing on Sunday though, so I am trying to

[2022-02-23 23:32] ZhijieWang commented on #22607
working on repro, more info should come

[2022-02-23 23:34] architkulkarni commented on #22592
Interesting, thanks for reporting this.  I would also expect the results to become available one at a time, at 10s, 20s, 30s and so on.  I was able to reproduce this on the latest nightly:
[code]
And when using an ordinary Ray actor, the waiting times are 10, 20, 30,... as expected.

The `max_concurrency` hypothesis is interesting, and it sounds like it must be correct because you said setting it

[2022-02-23 23:41] matthewdeng commented on #22595
Hmm did the version of `torch` change?

[2022-02-23 23:42] amogkam commented on #22595
no its been 1.9.0...we're thinking it's a change with ray core

[2022-02-23 23:48] DmitriGekhtman commented on #22515
The fix to the confusing NoneType-error is linked above.
It appears the underlying issue has to do with the node provider in use.

[2022-02-23 23:54] #19644 closed

[2022-02-24 00:21] amogkam commented on #22595
Ok this runs successfully on commit 29d94a22114b02adfd3745c4991a3ce70592dd16

[2022-02-24 00:59] valiantljk opened #22610 "[Bug] runtime_env doesn't honor env_vars first"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

I set both env_vars and pip in runtime_env, one of the pip install need to access the user-defined env during runtime, but looks like the env is not honored and pip install failed, with err

[2022-02-24 01:26] polovinko1980 commented on #22468
Primary benefit is container size when we run training without using GPUs(test training and other workloads are CPU based). The images are used on Ray clusters orchestrated on top of auto-scaled K8s clusters so when it needs to land on a freshly spun node, a 3.5GB image vs 7GB image has a dramatic impact on startup time.

[2022-02-24 01:30] jon-chuang commented on #20773
I think the only risk is flooding with many heartbeats at once, causing Gcs server to fail. However, at 2000 nodes, at 1000ms interval, one expects 2000 req/s. This is still far below even capacity of single thread. Heartbeat have very low-resource handler.

Also, agreed it is critical especially if gcs is flooded with other requests competing for Gcs reply.

The other worry is if there is a servi

[2022-02-24 04:09] #18527 closed

[2022-02-24 04:11] rkooo567 commented on #20773
This is something we are definitely planning to tackle in the short term!

[2022-02-24 04:34] #21549 closed

[2022-02-24 04:40] iycheng commented on #22122
@ericl I'm not sure but I see it normal in `ray status`
[code]
My session is here https://console.anyscale.com/o/anyscale-internal/projects/prj_LFKjNprpiYt4AjAf1NdLDJwn/clusters/ses_Gcvu6F5VyrYmH9qCmZhHSNQ4

[2022-02-24 04:44] ericl commented on #22122
You need to wait for the workers to come up before it can be reproduced.

[2022-02-24 04:46] iycheng commented on #22122
Oh, yes, I saw it now. Thanks for the clarification.

[2022-02-24 06:26] driedler commented on #22518
This is an absolutely god awful work-around, but it works:

Basically, it intercepts the stdout out stream and drops the grpc error msg. Use at your own risk:

[code]

[2022-02-24 06:50] iycheng commented on #20773
I think the backpressure here needs to be re-designed.
The current backpressure has no order, so basically, the next request to be accepted is pretty random. And it never fails, so in the end, the possibility of one request getting accepted is much smaller. At least, I'd prefer to fail the RPC request instead of retrying it indefinitely.

[2022-02-24 06:51] xwjiang2010 commented on #22595
Update: reverting runtime env fixes the test: https://buildkite.com/ray-project/periodic-ci/builds/2890#05a9ce04-e2a9-4b4e-8b2f-25ba63f3053d

[2022-02-24 06:59] iycheng commented on #22122
It seems like

- if it has reached to max workers, demands will show 10+ pending tasks/actors. (full utilized)
- ec2 cluster also has this issue.

I suspect that when the cluster is fully utilized, max_pending_lease_requests_per_scheduling_category will limit the pending leasing request to be 10. So in this case, demand will drop to 10. I'll study the code related to max_pending_lease_requests_per

[2022-02-24 07:02] ericl commented on #22122
Hmm but the backlog reporting should be independent of this right? Unless
somehow the core worker is no longer reporting the full backlog of tasks in
some situations.

On Wed, Feb 23, 2022, 10:59 PM Yi Cheng ***@***.***> wrote:

[2022-02-24 10:58] #22539 closed

[2022-02-24 11:33] han14466 opened #22621 "[Bug] ray dashboard ip:8265 out of memory"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

![image](https://user-images.githubusercontent.com/1457188/155516683-964a7e0b-0bac-4ed4-93a5-5c44373cc49d.png)

The page loads very slowly, and the constant loading of resources consumes sever

[2022-02-24 11:43] keep9oing opened #22622 "[Bug] Error when running 'autoregressive_action_dist.py' in rllib example"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I run the code of the rllib's example "autoregressive_action_dist.py" without modification.
But the error comes out like this
`  File "ray/rllib/agents/trainer.py", line 728, in __init__
    super

[2022-02-24 11:57] HeyItsBethany3 commented on #22518
Thank you so much! - I downgraded the version and it worked

[2022-02-24 12:20] #19308 closed

[2022-02-24 12:21] #19299 closed

[2022-02-24 12:21] #19228 closed

[2022-02-24 12:21] #19240 closed

[2022-02-24 12:29] noe-mis commented on #20968
A bit late, but verified that it works on the nightly now. Thanks!

[2022-02-24 13:02] sappjw commented on #18795
The pull request may need a reformat to `black`.

[2022-02-24 13:08] ArturNiederfahrenhorst opened #22625 "[Bug] MultiAgentBatch.timeslices() does not behave as expected"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

The method's signature reads:
[code]

But later slices may contain non-information. See repro script.

### Versions / Dependencies

master branch, discovered at c866131cc02712188e2fd07090fa0fc386d

[2022-02-24 13:26] ArturNiederfahrenhorst commented on #22625
Moved to P1 since this blocks a test for the new replay buffer api.

[2022-02-24 15:01] xwjiang2010 commented on #19710
This is still relevant. Let's keep it open for now.

[2022-02-24 15:06] dineshbvadhia commented on #22533
@INF800 @architkulkarni Sounds good. A few thoughts:

The combination of Ray + Ray Serve + FastApi (which sits on top of Starlette and uvicorn) adds up to a lot of independent moving parts in this stack. Apart from tutorials, what is missing are minimal working templates to cover:

* single node and multi-node templates with each showing:
* starting ray+serve+fastapi optimally
* shutting down ray+

[2022-02-24 15:25] xwjiang2010 commented on #22595
Porting over discussion from https://github.com/ray-project/ray/pull/22615

@SongGuyang See [here](https://sourcegraph.com/github.com/ray-project/ray/-/blob/python/ray/train/trainer.py?L197) for how runtime_env is used internally in Ray Train.

Also @edoakes @architkulkarni Could we add CI tests to catch regressions like this?

[2022-02-24 16:00] #21880 closed

[2022-02-24 16:03] jjyao commented on #22122
Yea backlog reporting is independent. @iycheng we can do a pair debugging on this.

[2022-02-24 16:38] ThomasCassimon commented on #22593
Seems like the issue I ran into is likely one of the issues discussed in https://github.com/ray-project/ray/pull/22510, closing for now, since the workaround is scheduled to be merged in 1.11.

[2022-02-24 16:38] #22593 closed

[2022-02-24 17:07] xwjiang2010 commented on #22595
Do we have a doc that discusses why one behavior is more favorable than the other?
Also isn't this a breaking change to existing customers? (Ray Train may not be the only one here...)

[2022-02-24 17:31] stwerner97 commented on #22075
The same issue applies to version 1.10.0

[2022-02-24 17:31] xwjiang2010 opened #22627 "[Tune] support xgboost.cv"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

xgboost.cv reports a sequence of results each corresponding to a fold. Currently Ray Tune does not support that and throws error when processing the results.

### Use case

_No response_

### Related issues

_No response_

### Are you

[2022-02-24 17:32] xwjiang2010 commented on #22627
cc @Yard1

[2022-02-24 17:50] #22295 closed

[2022-02-24 17:53] scv119 commented on #22122
last time i investigated:

- there is a known bug where we could over reporting if we have some shapes waiting in both in cluster_task_manager and local_task_manager's pending queue.
- if worker reports backlog to local raylet but lease client from remote raylet due to locality based scheduling, there will be under report.

[2022-02-24 17:54] grechaw commented on #22610
Is this an issue with pydoop installation?  I verified that JAVA_HOME gets set correctly for both Ray 1.9 and 1.10... but what's possible here is that it's not set *at the time that pip installs pydoop*

[2022-02-24 17:57] jjyao commented on #22122
Could you elaborate on this?

[2022-02-24 18:01] edoakes commented on #22595
@matthewdeng @xwjiang2010 yes this is a breaking change that was merged without a deprecation plan or communication to users (this is my fault, I didn't review the PR). There's an [RFC](https://github.com/ray-project/ray/issues/21818) with discussion about the behavior.

We will revert the change and leave the behavior as-is for now and independently consider if we will make the behavior change at

[2022-02-24 18:24] valiantljk commented on #22610
Yeah, I can get the var using os.environ (but I guess, this is in the stage of the actual worker process execution); During runtime_env setting up, pip install doesn't see it.

[2022-02-24 18:44] scv119 commented on #22122
yeah the back log reporting requires
- the shape in both tasks queues (either cluster_task_manager/local_tasks_manager)
- also the backlogs itself.
this [logic](https://sourcegraph.com/github.com/ray-project/ray/-/blob/src/ray/raylet/scheduling/scheduler_resource_reporter.cc?L129)
so if the client report the backlogs to local raylet but send tasks to remote raylet looks we have under reporting.

[2022-02-24 19:33] clarkzinzow opened #22632 "[Datasets] [Feature] Deterministically vary random seeds across epochs when a seed is given to `DatasetPipeline.random_shuffle_each_window()`"
Currently, when a `seed` is given to `DatasetPipeline.random_shuffle_each_window()`, that seed is used for shuffling each window in the pipeline. However, the more common use case for specifying a seed for shuffling a pipeline is to yield reproducible shuffles for the pipeline while still yielding different random shuffles of the data for each epoch. We should find a way to deterministically vary

[2022-02-24 19:36] ZhijieWang commented on #22607
closing, mitigated.

[2022-02-24 19:36] #22607 closed

[2022-02-24 19:37] iycheng commented on #22122
I think the root cause is here: https://sourcegraph.com/github.com/ray-project/ray/-/blob/src/ray/core_worker/transport/direct_task_transport.cc?L302-307

It seems like when it reaches the max ones, it won't add it to the scheduling queue, so it's capped to 10.

But I'm not sure how at the beginning before workers are up, it's > 10.

[2022-02-24 19:47] xwjiang2010 opened #22633 "[Release test] horovod_user_test_latest is flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

Have been seeing this quite often. Let's track it in this ticket. The failure can be fixed by retry.

https://buildkite.com/ray-project/periodic-ci/builds/2905#76273d38-7e37-406c-a499-f63da6d9

[2022-02-24 19:55] matthewdeng commented on #22595
@edoakes thanks that sounds good to me!

For what it's worth I do personally prefer the new behavior as it is just simpler and does have the ability to support the legacy behavior. Maybe another way to handle the rollout is to add a flag to control the behavior, and change the default value in a future release.

[2022-02-24 20:01] jjyao commented on #22122
We also report backlog periodically so even that function is early returned (also this function won't early return forever, once a lease is granted, a new lease will be requested), we still have the chance to report backlog: https://sourcegraph.com/github.com/ray-project/ray/-/blob/src/ray/core_worker/core_worker.cc?L723

[2022-02-24 20:01] #22568 closed

[2022-02-24 20:28] xwjiang2010 commented on #22595
@edoakes This is really helpful, thank you!

I see there are some discussions on the PR for a warning msg for API behavior change. However, we didn't catch anything mentioning runtime env from log output when debugging this issue. It could be that we are missing something in our debug flow.

I have prepared a revert PR but if the team thinks fix forward is better, we can also do that.

[2022-02-24 20:45] iycheng commented on #22122
@jjyao  I think it's about this line https://sourcegraph.com/github.com/ray-project/ray/-/blob/src/ray/core_worker/transport/direct_task_transport.cc?L488

Pending lease request is not added. It's not about the backlog is not reported but about it doesn't include the pending request.

[2022-02-24 20:50] jjyao opened #22635 "[Release Test] Microbenchmark timed out"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Latest microbenchmark timed out, based on https://buildkite.com/ray-project/periodic-ci/builds/2904, it seems that the offending commit is 2e0186a5b6560cd263431f4bb5ae40e11ad5a5f7 although the

[2022-02-24 20:54] amogkam commented on #22633
I think this is some race condition with GPUs on ray core. Potentially related to this https://github.com/ray-project/ray/issues/22504

[2022-02-24 20:55] amogkam commented on #22633
This is not just with horovod on ray, but I've also seen ray lightning test fail with the same error. Hence why I think it's stemming from Ray core.

[2022-02-24 21:05] #22444 closed

[2022-02-24 21:28] edoakes commented on #22595
@xwjiang2010 there wasn't an warning added AFAICT, let's go ahead with the revert and if we re-introduce we will do it more smoothly :)

[2022-02-24 21:57] architkulkarni commented on #22595
There's a warning of the form `[2022-02-24 10:00:38,165 W 632 668] core_worker.cc:1425: Runtime env already exists and the parent runtime env is {"envVars": {"SERVE_ENABLE_SCALING_LOG": "1"}}. It will be overridden by {"envVars": {"SERVE_ENABLE_SCALING_LOG": "1"}}.
` but this was hidden in the `python-core-worker` logs rather than being streamed to the driver.  We'll make it more visible if we rei

[2022-02-24 22:03] iycheng commented on #22122
It seems like local reporting is correct:
[code]
I'll check GCS aggregation.

[2022-02-24 22:18] xwjiang2010 commented on #22633
ah I see. Thanks for pointing it out. Will close this one then!

[2022-02-24 22:18] #22633 closed

[2022-02-24 22:29] yonil7 opened #22640 "[Bug] Ray Workflow in c:\ray does not work on windows"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

[code]
Fail with the following exception:

(`'c:/ray'` and `r'file:///c:\ray'` also fail)

### Versions / Dependencies

ray-1.10.0

### Reproduction script

see above

### Anything else

_No resp

[2022-02-24 22:51] rkooo567 commented on #22640
cc @iycheng is workflow currently supported at Windows?

[2022-02-24 22:59] rkooo567 commented on #22622
cc @xwjiang2010 for the rllib issue. Do you know who I should ping?

[2022-02-24 23:10] rkooo567 commented on #22548
I will add a dashboard flag for now. This might be a bug

[2022-02-24 23:14] rkooo567 commented on #22524
Hmm it does sound odd. My understanding is also that changing gcs_utils.py should fix the issue.

Is there an easy way to reproduce this? I can take a look at it

[2022-02-24 23:15] rkooo567 commented on #22518
I will take a look at this issue. @iycheng is it possible to reproduce this if I remove version constraint on the CI?

[2022-02-24 23:16] rkooo567 commented on #22498
cc @iycheng similar issues as we keep seeing (GCS response slow).

@xwjiang2010 any way to reproduce the issue?

[2022-02-24 23:19] rkooo567 commented on #22466
To be clear, you are trying to enable TLS to expose the dashboard endpoint to outside the cluster right?

[2022-02-24 23:20] rkooo567 commented on #22425
This seems like there was a heartbeat failure on your local node. Do you use really small instances for worker nodes or sth?

[2022-02-24 23:21] rkooo567 commented on #22621
What's the size of the cluster? I think currently dashboard memory usage is not optimized, and we should fix this. cc @edoakes

[2022-02-24 23:21] rkooo567 commented on #22585
Can you talk a bit more about your setup? Are you using the ray client?

[2022-02-24 23:22] rkooo567 commented on #22575
Ray comes with packaged Redis binary! It doesn't download the Redis

[2022-02-24 23:22] #22575 closed

[2022-02-24 23:23] rkooo567 commented on #22562
Maybe it's okay to close this?

[2022-02-24 23:27] rkooo567 commented on #22552
Thanks for submitting the PR!

[2022-02-24 23:27] rkooo567 commented on #22551
cc @maxpumperla where do you think is the best place to add this doc?

[2022-02-24 23:44] rkooo567 commented on #18309
@jon-chuang will take a look at this

[2022-02-24 23:44] edoakes commented on #22621
cc @alanwguo for dashboard issues!

[2022-02-24 23:55] NastiyaM commented on #22589
Hi! Did you solve the problems?

[2022-02-25 00:03] xwjiang2010 commented on #22498
Our Riot friend says it's pretty consistent in his setup. But I don't know how we can reproduce it ourselves. I linked his cluster size in the description for reference.

[2022-02-25 00:20] xwjiang2010 commented on #22622
Hi, can you use gym == 0.21.0?

[2022-02-25 00:39] iycheng commented on #22122
Have a fix, I need to add test for it.

[2022-02-25 00:41] jon-chuang commented on #20773
@iycheng does C++ gRPC have off-the-shelf components to better handle the backpressure?

[2022-02-25 01:16] hellofinch commented on #22589
Nope, I haven't solved the problems.

[2022-02-25 02:00] han14466 commented on #22621
3 machines.

[2022-02-25 02:11] xwu99 commented on #13855
@AmeerHajAli I encountered the same issue and find this thread. My question is the same, the warning is confusing, could you elaborate what does the warning means? thanks a lot !

[2022-02-25 02:17] SongGuyang commented on #22595
Sorry for this break and agree to revert my PR first. I think we already discuss this change enough in ray core team. But it is really hard to push a backwards incompatible change even though I pretty strong ensure the current runtime_env inheritance logic is not reasonable.

And sorry for the invisible warning log which make you hard to identify the root cause commit. We should add a user level l

[2022-02-25 02:33] rkooo567 commented on #22498
Hmm the cluster size doesn't seem to be big.  I feel like I have seen similar issues a lot lately, but it is really difficult to fix until we can reproduce it.. so I hope there's a way to do this. It is fine if there's no repro

[2022-02-25 03:24] parshad1710 commented on #21212
Hi, I am still having same exact issue to load ExperimentAnalysis even after registering the trainable. I am not sure what is the workaround. I have latest v1.10.

`Could not load trials from experiment checkpoint. This means your experiment checkpoint is likely faulty or incomplete, and you won't have access to all analysis methods. Observed error: No module named 'gym'
`
I donot have any depende

[2022-02-25 04:02] #22562 closed

[2022-02-25 04:05] #22515 closed

[2022-02-25 04:34] keep9oing commented on #22622
I changed gym version 0.22.0 to 0.21.0 and it works well now. Thank you

[2022-02-25 05:13] EricCousineau-TRI opened #22649 "[Bug] `pip install boto3` is enabled by default for `head_setup_commands`, but undocumented?"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

From config docs, it looks like only `setup_commands` should have a defaults, whereas `head_setup_commands` and `worker_setup_commands` should be empty:
https://docs.ray.io/en/releases-1.9.

[2022-02-25 07:11] #19363 closed

[2022-02-25 07:58] architkulkarni commented on #16711
unstale

[2022-02-25 07:59] AmeerHajAli commented on #13855
Hi @xwu99 , the warning should appear once. In this case, joblib is using ray Pool under the hood, which does not support 'context' argument. The multiprocessing `pool` class supports an argument `context` that Ray does not. but this is not significant and in most cases you can ignore the warning.

[2022-02-25 08:01] carlogrisetti commented on #22279
Can anyone at least point me in the right direction to try and cobble up a PR introducing this callback?
It would be very helpful :)

[2022-02-25 09:45] rkooo567 opened #22652 "[Bug] threaded_actor_stress_test is flaky."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

`threaded_actor_stress_test` seems flaky in the master

### Versions / Dependencies

Master

### Reproduction script

N/A

### Anything else

_No response_

### Are you willing to submit a PR?

[2022-02-25 09:52] rkooo567 commented on #22635
Seems like it was actually completed, but it still times out. Let me just try increasing the timeout.

One thing I noticed is we have this error;

[code]

which basically can slow down the performance of this test in general. And I found `client: put gigabytes per second 0.13 +- 0.0` has been actually regressed (the regressed result: `client: put gigabytes per second 0.05 +- 0.0`)

[2022-02-25 10:04] Catch-Bull opened #22653 "[Feature][runtime env] `RuntimeEnvAgent` use MD5Sum as the key to cache package which download from URLs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, runtime_env_agent use parsed URL as key to the cache download package,  but it seems will bring up two problems:

1. I find two different URLs with the same protocol have the same result which returns by function `pares_uri

[2022-02-25 10:24] carlogrisetti commented on #22383
Ok it definitely was an error in defining the custom model to be used. Sorry again.

[2022-02-25 10:28] vsergeyev commented on #21595
@iycheng we may confirm, prototype is fixing issue on our side. We use Ray to run scientific quantum computing workflows, and this fix helps us a lot.

[2022-02-25 10:30] SongGuyang commented on #22653
@Catch-Bull Thanks for adding this. @edoakes @architkulkarni we think this issue is very important for the large-scale using of runtime env. If we don't resolve, a lot of weird faults will encounter(Actually we already has some experiences in Ant). So, let's discuss and find a best way and user-facing behavior to address.

[2022-02-25 10:47] Yard1 commented on #21212
Can you install `gym`?

[2022-02-25 11:14] Catch-Bull opened #22654 "[Feature][runtime env] refactor URI Protocol in runtime env."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Make different protocols become different plugins. In simple terms, I want to implement a SmartURIHandle, somewhat similar to [io_path](https://github.com/facebookresearch/iopath/tree/main):

[code]
This simplifies the implementation

[2022-02-25 12:48] sven1977 commented on #8469
We have a PR in review that adds memory-leak tests to all major RLlib algos. We are currently testing it to make sure it doesn't detect false positives, but the tool is pretty good at finding leaks, however small.

https://github.com/ray-project/ray/pull/15412

[2022-02-25 14:14] pni-mft commented on #13327
I agree!

[2022-02-25 16:38] #22392 closed

[2022-02-25 16:48] architkulkarni commented on #22654
This looks like a good idea to me. What does `register_handler` do?

[2022-02-25 16:52] parshad1710 commented on #21212
I installed gym and now the error turned to:

`Could not load trials from experiment checkpoint. This means your experiment checkpoint is likely faulty or incomplete, and you won't have access to all analysis methods. Observed error: argument should be bytes, buffer or ASCII string, not 'PlacementGroupFactory'`

Here's the code snippet:

[code]

[2022-02-25 16:57] Yard1 commented on #21212
@parshad1710 It looks like the fix hasn't been merged into Ray 1.10. You can [install the latest nightly version](https://docs.ray.io/en/latest/installation.html#daily-releases-nightlies) which will include it, or wait for Ray 1.11.

[2022-02-25 16:57] Catch-Bull commented on #22654
make `SmartURIHandler` have the ability to handle a specify URI, for example:

[code]

[2022-02-25 17:06] architkulkarni commented on #22653
Thanks for raising this concern!

For 1: Good catch!  I think the only downside to using the hash is that it makes the package name less readable, so debugging will be harder, but this seems like a minor concern.  Maybe there's some way around this (like instead of replacing `.` and `/` with `_`, replace with some less common character? but this doesn't solve the problem, just makes it less likely

[2022-02-25 17:18] edoakes commented on #22654
@Catch-Bull the idea looks good, but I'm not sure about the specifics of this proposal. I think we could do something simpler like define an abstract `URIHandler` and then register the supported ones like this:
[code]

[2022-02-25 17:21] edoakes commented on #22653
@Catch-Bull the first example you brought up about using the local working_dir is a non-issue because of what @architkulkarni mentioned (the dynamically-uploaded packages are content-addressable).

For remote URIs, it could be a problem, but making it clear to users that best practice is to have immutable / content-addressable URIs should address it (and I believe we already mention this on the do

[2022-02-25 17:36] max333 opened #22659 "[Bug][RLLib] Some parameters of ComplexInputNetwork (pytorch) are not sent to CUDA"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Some member modules of ComplexInputNetwork (rllib/models/torch/complex_input_net.py) are not sent to the GPU when using .to(device) because they were not registered as modules in the constructor.

[2022-02-25 17:38] vale981 commented on #19942
I get this error, but only on one node.
Kind of weird.
And the error message is unfortunately not very helpful as it may appear in many contexts.

[2022-02-25 17:41] shrekris-anyscale commented on #22653
@architkulkarni I wonder if we could keep the current translation in `parse_uri` but also append a hash to the end of the file name. The prefix would still be human-readable, and the hash would prevent collision.

[2022-02-25 17:45] tupui commented on #19942
@vale981 did you try to use `auto` to set the address? What about the global env for the redis password? Do you have other Ray instances running?

[2022-02-25 18:19] architkulkarni commented on #22653
Oh nice!  That solves it

[2022-02-25 19:41] simon-mo opened #22664 "[Feature] [Java] Redirect stdout and stderr to java-worker log file"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently only lines printed via the slf4j logger will be written to the java-worker log file. Everything else through `System.out.println` or `System.err.println` still go through the file descriptor of raylet. It would great to redi

[2022-02-25 21:24] #22485 closed

[2022-02-25 22:19] architkulkarni opened #22668 "[runtime env] `working_dir` overwrites `PYTHONPATH` instead of appending to it"
When using working_dir, we want to add the working_dir to the PYTHONPATH to allow files in the working directory to be importable.

However, it looks like the original PYTHONPATH gets deleted and replaced.  This is a problem for users who are relying on the PYTHONPATH for other packages to be importable. It's likely this happens with `py_modules` too, haven't tested it.

Reproduction:
Run this in

[2022-02-25 23:44] frreiss opened #22670 "[Serve] Endpoints should return an error when the cluster is overloaded"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The Ray Serve Router should detect that it does not have the resources to handle additional requests in a timely fashion and return an appropriate HTTP error instead of attempting to take on more work.

Here's a suggested policy for h

[2022-02-25 23:51] edoakes commented on #22599
might take a look this weekend, I think we can drastically simplify it by just killing unknown replicas at startup (should be rare)

[2022-02-25 23:53] richardliaw commented on #22488
cc @gjoliver @sven1977 @avnishn on @simonsays1980's feedback!

[2022-02-26 00:00] architkulkarni commented on #19749
Possibly related: https://discuss.ray.io/t/failed-to-lease-worker-from-node/5140 `torch` still seems to be causing problems with `pip` for some users.

[2022-02-26 00:00] architkulkarni commented on #19749
@davidberenstein1957 is the issue resolved?  Do the recommendations in the linked discussion thread help?

[2022-02-26 00:12] naijoaix opened #22673 "[Dataset][Bug] map_batches() handles the combining of results from empty and non-empty batches incorrectly"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

The map_batches() API of Dataset produces different results for the same input data, in these two conditions:
- There are no empty batch: the result is expected
- However when there are empty bat

[2022-02-26 00:15] jwyyy commented on #21934
Hi @amogkam, I'd like to look into this issue 😄 if no one is working on this.

[2022-02-26 00:21] amogkam commented on #21934
Yes this would be a great project to work on! Though this is a little bit more complex, so maybe we put together an rfc first before starting with the implementation.

cc @matthewdeng

[2022-02-26 00:21] naijoaix commented on #22673
From BlockOutputBuffer::has_next(), it will return at least one block; and from DelegatingBlockBuilder::build(), it returns ArrowBlockBuilder if it's empty block. We might pass down the block type so it can construct the expected BlockerBuilder.

[2022-02-26 00:25] jwyyy commented on #22603
Hi @amogkam, this issue is not in the train backlog. You may want to add it to the list. (I will look into this issue as well with other ones.)

[2022-02-26 00:26] amogkam commented on #22603
good catch, added it to the backlog!

[2022-02-26 01:26] ckw017 opened #22675 "[Feature] Client version check on commit"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

add a warning if client/server have same version but different commits

### Use case

Client currently lets 2.0.0.dev client/servers connect, but they might have different commits

### Related issues

_No response_

### Are you willin

[2022-02-26 01:29] #22635 closed

[2022-02-26 01:33] rkooo567 commented on #22621
Is it possible to see what takes up most of the payload?

[2022-02-26 08:35] ZKBig commented on #22424
cc @sven1977

[2022-02-26 10:32] #19405 closed

[2022-02-26 14:42] jjyyxx opened #22677 "[Bug] RLlib action distribution not work well with Discrete space and Random exploration"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

First of all, I encountered this problem on a toy project in tabular Q learning (custom policy and model) setting, so the combination below may be unusual.

I have an action space of `Discrete(4)`

[2022-02-26 21:27] vale981 commented on #19942
It is my impression that if the ray head is on another node, I will surely have to supply its address. Is that not so?

[2022-02-26 22:11] holdenk commented on #19071
While I still get the error message, deleting and re-creating the ray namespace seems to do the trick for subsequent helm clusters set up in that namespace suggesting that maybe there is some weird resource hanging out.

[2022-02-26 23:45] #19407 closed

[2022-02-27 12:14] simonsays1980 opened #22683 "complete_episodes breaks custom callback example [Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

# What happened
I used the `custom_metrics_and_callbacks.py` example to build my own callbacks for custom metrics. I am using `batch_mode="complete_episodes"` which resulted in an error that was n

[2022-02-27 19:40] tupui commented on #19942
@vale981 We need more details on your setup and the commands/actions you tried.

[2022-02-27 22:36] jwyyy commented on #22603
Here is a minimal integration (not including the current `_WrappedDataLoader` implementation). I assume that `batch` is always a torch Tensor. The default dataLoader returns a list of predictors and targets. We need to take careful of different data formats, such as tuple / list, or a single tensor.

[code]
The performance depends on the scale of the problem. For instance, I tested it using the py

[2022-02-27 23:52] mageofboy commented on #13338
Hi @jackbart94 , were you able to resolve this issue in your integration with CARLA? I am working on a similar project that involves integrating CARLA and rllib, and I am also encountering the same memory leak issue during training.

cc: @pschafhalter

[2022-02-28 04:11] han14466 commented on #22621
you can see it request many nodes?view=details requestions. Each of requestion is 158M

[2022-02-28 06:08] babyblue1334 opened #22685 "[Bug]Windows fatal exception: access violation"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

(pid=None) [2022-02-28 09:19:28,849 C 12116 13028] dlmalloc.cc:121:  Check failed: *handle != nullptr CreateFileMapping() failed. GetLastError() = 1455
(pid=None) *** StackTrace Information ***

[2022-02-28 08:51] Catch-Bull commented on #22653
@architkulkarni @edoakes  for 2, We will discuss it with our usage case internally, and we will synchronize the results later.

[2022-02-28 09:38] Jeffwan opened #22687 "[Bug] kuberay autoscaler yaml has outdated configmap info"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

![image](https://user-images.githubusercontent.com/4739316/155958820-ef1a33ed-ec57-465d-a661-669e9a339ee1.png)

I think we forget to clean up the configmap from MVP PR and the example doesn

[2022-02-28 10:42] danieljanes commented on #22518
Is Ray going to publish patch releases for older versions that include the `<=1.43` version range limiter?

[2022-02-28 12:04] chuzheng88 opened #22690 "[Bug] Caus error （TypeError: object of type 'NoneType' has no len()） when I custom a dataset."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Caus error （TypeError: object of type 'NoneType' has no len()） when I custom a dataset. I don't konw what happen?

### Versions / Dependencies

1.10.0

### Reproduction script
[code]
### Anythi

[2022-02-28 14:45] max333 opened #22693 "[Feature] [RLLib] Remove RNNSAC"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

RNNSAC is badly broken.  I lost a lot of time trying to use it.  It would be an improvement to RLLib to remove it as it is not maintained.   And obviously no one has ever used it since there are no bug reports.

I found many bugs and

[2022-02-28 15:21] #21858 closed

[2022-02-28 15:25] #20706 closed

[2022-02-28 16:37] rkooo567 commented on #22518
Cc @iycheng for the release ^

[2022-02-28 17:16] EricCousineau-TRI commented on #19834
Happening to myself as well, more-or-less vanilla cluster setup w/ AWS EC2 (but on private subnet).

Using cached instance: https://docs.ray.io/en/releases-1.9.2/cluster/config.html#cluster-configuration-cache-stopped-nodes

Has anyone figured out what log info to look to get more details? I'd consider inspecting worker nodes, but hard to do when `ray` auto-stops the instance.

[2022-02-28 17:35] jaimehrubiks commented on #20665
Is the metrics server just not working? I'm running just in regular app mode, and this won't expose the port ray.init(_metrics_export_port=6000)

[2022-02-28 18:19] architkulkarni opened #22701 "Add docstrings for SDK"

[2022-02-28 18:21] bananenpampe commented on #18378
I receive the same error, what can I do to avoid this error when running on one node and one GPU?

[2022-02-28 19:39] jon-chuang opened #22704 "[Core] Use RAAI to enforce thread safety"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

There are many thread unsafe methods in Ray codebase. Usually the methods are only threadsafe if a lock is acquired by an outer context.

In order to enforce thread safety, we should convert th

[2022-02-28 20:03] jon-chuang commented on #20665
I am not able to repro with latest master.

Could you show your `sudo ss -ltn` to see which ports are open?

[2022-02-28 20:05] jaimehrubiks commented on #20665
I remove the message I sent because I found my issue. I was missing this "pip install ray[default]" , did not have the [default] part. That helped me.

[2022-02-28 20:07] jon-chuang commented on #20665
I confirmed that if another process is using that port, Ray does not send any error message, and this fails silently.

@rkooo567 I think we should fix this by having ray at least report that the port is used by another process and say that it will not be able to export metrics? Or should the behaviour be to fail to start?

[2022-02-28 21:20] EricCousineau-TRI opened #22707 "[Feature] Unclear how to concretely change ray's logging directory?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Pinned docs (for version we're using): https://docs.ray.io/en/releases-1.9.2/ray-logging.html#logging-directory-structure
New docs: https://docs.ray.io/en/master/ray-observability/ray-logging.html#logging-directory-structure

From doc

[2022-02-28 21:22] EricCousineau-TRI commented on #22707
As a hacky workaround, I'm doing something silly like this via `setup_commands`:

[code]

[2022-02-28 22:19] bananenpampe commented on #18378
status = StatusCode.RESOURCE_EXHAUSTED
        details = "Received message larger than max (170845224 vs. 104857600)"
        debug_error_string = "{"created":"@1646086693.652770104","description":"Error received from peer ipv4:10.91.27.42:42316","file":"src/core/lib/surface/call.cc","file_line":1063,"grpc_message":"Received message larger than max (170845224 vs. 104857600)","grpc_status":8}"

[2022-02-28 22:31] ckw017 commented on #18378
@bananenpampe Can you share the full traceback? The `104857600` limit looks like it comes from runtime environments, are you trying to transfer a large file through runtime a runtime env (for example, a large file in your working directory)

[2022-02-28 22:36] rkooo567 commented on #20665
Hmm we should have code to raise exception if it uses the port that will be used by other procs

seems like the main root cause is it doesn’t work with minimal ray (expected, but that is not surfaced to users). @jon-chuang would you be interested in fixing it?

[2022-02-28 23:15] #21274 closed

[2022-02-28 23:18] ericl commented on #22673
It might be hard to pass the block type ahead of time since the UDF given to map_batches produces a batch of unknown type, but we could potentially reconcile / merge the types of empty blocks after execution.

[2022-02-28 23:57] #21913 closed

[2022-02-28 23:57] #22502 closed

[2022-03-01 01:02] chuzheng88 commented on #22690
I'm so sorry, I have solved this problem because I usde relative path for root_dir, not absolute path for root_dir parameter.

[2022-03-01 01:20] EricCousineau-TRI commented on #19834
I used workaround \to inspect logs pre-shutdown: https://github.com/ray-project/ray/issues/22707#issuecomment-1054675306

When looking through, I see two types of logs - one that shows things being OK, then one showing things are *NOT* OK:
https://gist.github.com/EricCousineau-TRI/4822b8be94fccc7483a51040e7f44d47

The main stuff from failing node is gRPC failing:
[code]

However, I can't run `lsof

[2022-03-01 01:25] EricCousineau-TRI commented on #20402
Possibly related to #19834?

[2022-03-01 01:52] EricCousineau-TRI commented on #19834
K, so if I ensure I only call `ray up` **once**, then I do not get this issue.
If I call it twice or more, then I get the port conflict on the worker.

However, if I cal `ray up --no-restart`, then it's fine.

But, this isn't great if I want to manually start a worker node, and then have `ray` use it.
I also expect `ray up` to be idempotent - especially if `ray stop` is explicitly in the worker's

[2022-03-01 01:58] clarkzinzow commented on #22704
Note that we _do_ use [absl thread annotations](https://abseil.io/docs/cpp/guides/synchronization#thread-annotations) for these methods [in the header](https://github.com/ray-project/ray/blob/82daf2b041172ebab18d21810988632061af751a/src/ray/core_worker/transport/direct_task_transport.h#L133), marking these methods as requiring the mutex to be acquired before being called.

[2022-03-01 02:02] EricCousineau-TRI commented on #20402
Yeah, fairly confident https://github.com/ray-project/ray/issues/19834#issuecomment-1054897153 is related

Basically, yeah, restarting ray on workers makes the worker + head nodes sad.

Is this because `ray stop` for `worker_start_ray_commands` may not always stop ray correctly? perhaps it leaves a lingering `raylet`?
https://docs.ray.io/en/releases-1.9.2/cluster/config.html#cluster-configuration-

[2022-03-01 02:05] clarkzinzow commented on #21274
@eggie5 @mwbyeon We recently added a [mitigation](https://github.com/ray-project/ray/commit/cf3577f0ee8c09c4315def1593545487432fe3e2) that resulted in a ~10x speedup in our many-file nightly test, could you try the wheel for this specific commit?

https://docs.ray.io/en/master/ray-overview/installation.html#installing-from-a-specific-commit

The commit in question is cf3577f0ee8c09c4315def15935454

[2022-03-01 02:33] rkooo567 commented on #22652
Marked it unstable. P1 for now. Will handle it once k8s migration is done

[2022-03-01 03:28] GoingMyWay commented on #19001
@UrmsOne Please upgrade the k8s version to the latest one (v1.16+).  There is no `CustomResourceDefinition` in the version you used.

[2022-03-01 03:53] Catch-Bull commented on #22610
the `env_vars` is the env of the ray worker process, but we use the command `pip install` to install the python package in the `runtime env agent` process, and `pip install` will run in the child process of the `runtime env agent` process, So env_vars will not take effect on the process which executes pip install command.

but, we can set the env of the `pip install` process by this argument [`env

[2022-03-01 03:55] Catch-Bull commented on #22610
So, I think this is not a bug, we just don't support it...

[2022-03-01 04:30] kfstorm commented on #22664
Actually, we redirected all stdout and stderr logs of workers to standalone files no matter what language front end they are. I think this would be the ideal solution. @qicosmos Could you upstream the change?

[2022-03-01 04:35] kfstorm commented on #22664
There's a related issue: https://github.com/ray-project/ray/issues/13466

[2022-03-01 04:44] jovany-wang commented on #21547
The plan should be:
1. to finish this https://github.com/ray-project/ray/pull/21701 on current master(before 2.0 cut).
2. to remove `num-java-workers-per-process` on 2.0 branch only. Because this is a huge breakage behavior.

[2022-03-01 05:15] ericl commented on #21547
Really happy to see these architectural cleanups!

[2022-03-01 05:20] worldveil commented on #9571
I also hit this issue and was hung up for a while on it.

Could we add this (above) snippet to the docs too, along with a small reason for the rationale?

the rationale is good, but when you're just trying to read a checkpoint or something, this feels annoying as a user to get caught on this.

[2022-03-01 05:23] worldveil opened #22718 "XGBoost documentation clarifications"
Few things to add or clarify to XGBoost documentation:

- Compatibility of RayDMatrix with Ray Datasets [here](https://docs.ray.io/en/latest/xgboost-ray.html#data-sources), and that you can hand one into the other ([perhaps here too](https://docs.ray.io/en/latest/xgboost-ray.html#usage), or even adjust the example to use Datasts). Definitely need to call out the compatibility [here as well](https:

[2022-03-01 05:31] jon-chuang commented on #20665
@rkooo567 Turns out that code is not used for metrics_export_port. Could you point out where this code is for other ports? The issue is the prometheus_client has its own code path for consuming ports.

[2022-03-01 05:32] worldveil commented on #22304
thoughts here? or disagree we need to make clearer?

[2022-03-01 05:34] worldveil commented on #22267
Just looked again, and I can buy that the description in the docstring is good enough. closing.

[2022-03-01 05:34] #22267 closed

[2022-03-01 05:35] worldveil commented on #22081
@matthewdeng @amogkam let's show briefly how to prevent, and then close this issue?

[2022-03-01 05:35] worldveil commented on #18730
Have not been able to repro! Leaving closed for now.

[2022-03-01 05:38] worldveil commented on #22079
Can we add the list of things a user must create inside (or whether should be outside) for a typical torch/TF script to docs [here](https://docs.ray.io/en/latest/train/user_guide.html#update-training-function)?

between :

- torch datasets?
- models?
- training loop?
- optimizers/loss?
- ...anything else I missed

?

[2022-03-01 05:39] worldveil commented on #22085
Bump here, anyone know what issue might be? @wuisawesome perhaps?

[2022-03-01 05:41] worldveil commented on #22064
I see in "master" this [page is still around](https://docs.ray.io/en/master/ray-core/using-ray-with-pytorch.html).

Can we have a link at top of page at least to direct people to an easier integration with PyTorch? it's not a good page for first time googlers of Ray + PyTorch...

[2022-03-01 05:59] qicosmos commented on #22664
So we need to distinguish logs according different languages?

[2022-03-01 06:13] simon-mo commented on #22664
Ah it doesn't have to be language dependent. It's just useful when you prefix the log by language, it helps debugging and log tagging during ingestion.

[2022-03-01 06:16] worldveil opened #22719 "Update serve deployment FastAPI docs to make clear all steps needed to update endpoint"
On this page [for FastAPI + Ray Serve](https://docs.ray.io/en/latest/serve/http-servehandle.html#fastapi-http-deployments)

If you update a deployment, you need to re-run not only the redefinition of the deployment Python class, but also the following:

[code]

This wasn't clear from docs, and is a pretty frustrating error since it's not spelled out on the link above, and the [actual "Updating a d

[2022-03-01 06:16] ericl commented on #22278
From what I can tell, the proximal cause of this is that tasks submitted to concurrent actors have a `skip_queue` flag set. When this is true, it seems that the `client_processed_up_to_` counter is stuck at -1, triggering the queueing warning as a false positive.

It seems to be disabled on purpose in core_worker_client.h in this case:
[code]

Possible solutions:
- Fix this counter so it's updated

[2022-03-01 06:27] rkooo567 commented on #22278
I think setting this to -1 was intended because we'd like to remove ordering for concurrent actor case. So, the second suggestion sounds good to me. Maybe we can indicate some integer is out-of-order execution? (like OUT_OF_ORDER == -2, and we don't raise warning in this case)

[2022-03-01 06:32] jon-chuang commented on #22704
I see, indeed. Thank you. May I know where the behaviour to either give an error or warning for EXCLUSIVE_LOCKS_REQUIRED and related annotations is defined in ray codebase?

[2022-03-01 06:36] ericl commented on #22278
@rkooo567 if we remove it this PR will do: https://github.com/ray-project/ray/pull/22720

It does disable the warning entirely for concurrent actors, which is unfortunate, but maybe this is fine as an interim fix.

[2022-03-01 06:50] rkooo567 commented on #22278
Thoughts @scv119 ? I think if we want to actually raise the warning, we should probably have 2 attributes to track "seqno" and the total queued tasks.

[2022-03-01 08:05] Catch-Bull commented on #22654
no problem and I will open a PR, we can discuss details in PR's comment

[2022-03-01 08:31] bananenpampe commented on #18378
Traceback (most recent call last):
  File "ray_hypers_tune.py", line 317, in <module>
    main(num_samples=100, max_num_epochs=50, gpus_per_trial=1)
  File "ray_hypers_tune.py", line 293, in main
    progress_reporter=reporter))
  File "/home/kellner/venvs/COSMO/lib/python3.7/site-packages/ray/tune/tune.py", line 453, in run
    restore=restore)
  File "/home/kellner/venvs/COSMO/lib/python3.7/site

[2022-03-01 10:13] rkooo567 commented on #22704
It should fail the compilation if it doesn't hold the lock when the method is called. I will close this for now!

[2022-03-01 10:13] #22704 closed

[2022-03-01 10:14] rkooo567 commented on #22685
cc @pcmoritz @wuisawesome ? Is this error fixed in the latest version?

[2022-03-01 13:57] EricCousineau-TRI commented on #22707
Yep, that'd be awesome, thanks!

But I was unable to figure this out w/ command-line args; I see the code (in 1.9.2) in this region:
https://github.com/ray-project/ray/blob/ef593fe5d3c864836b80ae77be32635cef42b537/python/ray/scripts/scripts.py#L434-L438

But I did not see all of these flags when looking at `ray start --help`:
https://gist.github.com/EricCousineau-TRI/f32c27ebddd551a57ab90e93db4517

[2022-03-01 13:59] EricCousineau-TRI commented on #22707
(I can file a separate issue, if that helps!)

[2022-03-01 14:50] bananenpampe commented on #18378
I think my comments are not correct. I have not correctly serialized my dataset in my code. Thank you for the effort!
However, would you recommend writing a simple get_data() function that uses ray.put() and .get() on the pytorch tensor instances I am using that contain the dataset?

[2022-03-01 15:00] rkooo567 commented on #22707
I think it is because it is set to `hidden=True`. Hmm my guess is this is for some reasons not promoted as a public API

[2022-03-01 15:04] EricCousineau-TRI commented on #22707
Ooh, didn't even look at that haha.

But yeah, if it's in the documentation, perhaps it'd be good to promote to public?

[2022-03-01 16:18] c3-kunhwi commented on #22505
@wuisawesome @DmitriGekhtman Noticed this was assigned as a P2, but was wondering if anyone was actively looking into this. We were hoping to use Ray without having to restart the operator frequently.

[2022-03-01 16:57] DmitriGekhtman commented on #22505
I'd actually recommend taking a look into the KubeRay project, as that will form the basis for Ray's preferred K8s support in the future.
https://github.com/ray-project/kuberay

[2022-03-01 17:14] tupui opened #22732 "[Feature] [core] Selecting network interface"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Add a parameter to `ray.init(...)` to be able to select the network interface. Or be able to use the `--address` parameter for that.

### Use case

If you have a HPC cluster, you most likely have multiple network interfaces. Right now

[2022-03-01 17:47] wuisawesome commented on #22085
Not sure what the issue is, but `maxclients` is a redis config, and as of 1.11, redis will be removed, so it should be solved by the most overkill solution ever :)

[2022-03-01 17:47] #22085 closed

[2022-03-01 17:49] Yard1 opened #22733 "[Bug] Train PBT example is not using checkpointing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

Train PBT example is not using checkpointing, which is necessary for PBT to work as intended.

### Versions / Dependencies

Ray 1.11

### Reproduction script

N/A

### Anything else

_No respo

[2022-03-01 18:27] edoakes opened #22734 "[serve] No scaledown due to HTTP proxies on empty nodes"
Serve currently targets all nodes in the cluster when `EveryNode` is set (even if they're otherwise empty), so Ray can never relinquish nodes when they're started.

We should instead maintain the invariant that the HTTP proxy only runs on the head node + any worker nodes that have deployment actors on them.

[2022-03-01 18:32] edoakes opened #22736 "[jobs] Add DELETE endpoint"
* Add a DELETE REST API, CLI, and SDK call.
* The API should remove queued job, or cancel in progress job.
* The API should emit clean logs and metrics.
* Discussion point: should the deleted job remain in LIST call for some time?

[2022-03-01 18:41] kristinepetrosyan commented on #22734
Thank you Edward!

[2022-03-01 18:52] EricCousineau-TRI commented on #20402
A dumb workaround is to try and issue an extra `ray stop || true` command before running `ray up`. Doesn't seem perfect, but lowers chance of running into this:
https://github.com/EricCousineau-TRI/repro/blob/b63b25f4683dd0afd7582748c2adfe7dc8aa0c6f/python/ray_example/run_all.sh#L20-L21

See surround code + files for full repro.

[2022-03-01 19:04] ckw017 commented on #22675
True, that seems better. Was thinking of case where you're running locally built against a wheel (locally won't have a commit), but you can just disable the check with env in that case

[2022-03-01 19:07] simon-mo commented on #22734
@edoakes weird thing is that we already set `num_cpus=0` and autoscaler should ignore those actors. I'll try to repro.

[2022-03-01 19:35] jjyao commented on #20159
What I found is that the process is eventually killed but after 10+s

[2022-03-01 20:50] simon-mo opened #22740 "[CI] [Core] `test_logging.py` was not enabled"
This test was not listed in bazel targets, and if you try to enable it, it fails #22671

[2022-03-01 21:20] simon-mo commented on #22418
Implementation wise, you should be able to store pickle the startup exception in `deployment_state.py` and raise it when statuses were polled in Client in `api.py`.

[2022-03-01 21:59] stephanie-wang opened #22742 "[Bug][placement groups] Actor scheduling does not respect placement_group=None"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Scheduling an actor `placement_group=None` is supposed to schedule the actor without any placement group. However, if I also specify a custom resource requirement, the placement_group parameter

[2022-03-01 21:59] stephanie-wang commented on #22742
Workaround is to pass `placement_group=None` again into `.options()`.

cc @rkooo567

[2022-03-01 22:28] #22278 closed

[2022-03-01 22:35] worldveil commented on #22262
Just checking back here, can we fix this?

[2022-03-01 22:38] worldveil commented on #22080
Any complaints with this change? Or is there a better way?

[2022-03-01 22:40] worldveil commented on #22084
Just wanted to check in here, we're still targeting end of March for this?

[2022-03-01 22:48] matthewdeng commented on #22080
I don't have any complaints, but I would say that hyperparameter tuning is not necessarily the main usage even though it is the motivation for why the API is structured this way.

There are two cases that I would think about when writing this doc section:
1. I want to pass in some arguments. Normally, I would just add them to the function signature, but if I try that then an error will be raised.

[2022-03-01 23:07] wilsonwang371 opened #22744 "[Feature] New Ray Lite-Head mode for head node."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

After a previous discussion with Ant Group, we realized the need to separate head node components into isolated environments. Putting head node specific components(GCS, dashboard, ray client server) into a separated node can help impr

[2022-03-01 23:16] spolcyn opened #22745 "[Bug][Serve] Excessive ServeController Log Output"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

1. Got: The ServeController under normal circumstances is producing excessive output from the GCS
2. Expected: The ServeController only shows logs when it adds/removes/attempts to autoscale, o

[2022-03-01 23:18] wilsonwang371 commented on #22164
Just saw this. Btw, the design might need to be revised a little bit. Since a recent switch from "redis bootstrap" to  "gcs bootstrap".

[2022-03-01 23:18] wilsonwang371 commented on #22164
Do you guys think adding a new "lite-head" mode for head node can be a first step feature?
https://github.com/ray-project/ray/issues/22744

[2022-03-01 23:21] architkulkarni opened #22746 "[Jobs] Add DELETE endpoint"
Currently, all job information is stored permanently and the only way to clear it is to restart the Ray cluster.  This can make it hard to search through the output of the `job list` API.

- There should be an API to delete past jobs.
- We should also offer an option to auto-delete jobs older than a certain time, or only remember the last N jobs.

[2022-03-01 23:43] motokiomura opened #22747 "[Bug] Custom model with R2D2"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I'm getting the following bug when using custom models in r2d2.

[code]

I believe this is due to the wrong order of model wrapping.  I checked the model classes in
https://github.com/ray-project/

[2022-03-02 00:06] architkulkarni commented on #22746
Duplicate of https://github.com/ray-project/ray/issues/22736

[2022-03-02 00:06] #22746 closed

[2022-03-02 00:24] jon-chuang commented on #18309
I have managed to repro with MWE for `STRICT_SPREAD`, `SPREAD`, `PACK` (when cannot fulfill `STRICT_` requirement on best effort basis):
[code]
This does not affect: `STRICT_PACK` (which fails to allocate the resource) and fails with suitable error message:
[code]

[2022-03-02 00:46] #20554 closed

[2022-03-02 00:46] #22504 closed

[2022-03-02 00:49] jon-chuang commented on #18309
This is the issue: unimplemented sorting of resources:
[code]

[2022-03-02 01:15] #21353 closed

[2022-03-02 01:36] clarkzinzow commented on #22084
@worldveil Yep, it's on the list! https://github.com/ray-project/ray/issues/18262

[2022-03-02 02:31] shrekris-anyscale opened #22751 "[Bug] [serve] Accessing shared objects within a deployment"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

See [this forum post](https://discuss.ray.io/t/ray-serve-sharing-objects-with-deployment/5243). Objects in the shared memory store are not accessible via `ray.get()` inside a deployment when u

[2022-03-02 03:19] cgy-dayup opened #22752 "_InactiveRpcError: <_InactiveRpcError of RPC that terminated with: status = StatusCode.RESOURCE_EXHAUSTED details = "Received message larger than max"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

_InactiveRpcError: <_InactiveRpcError of RPC that terminated with:
	status = StatusCode.RESOURCE_EXHAUSTED
	details = "Received message larger than max (210771146 vs. 104857600)"
	debug_error_s

[2022-03-02 03:27] #21956 closed

[2022-03-02 03:53] cgy-dayup commented on #18378
_InactiveRpcError: <_InactiveRpcError of RPC that terminated with:
	status = StatusCode.RESOURCE_EXHAUSTED
	details = "Received message larger than max (210771146 vs. 104857600)"
	debug_error_string = "{"created":"@1646188124.309444695","description":"Error received from peer ipv4:10.207.183.32:40455","file":"src/core/lib/surface/call.cc","file_line":1074,"grpc_message":"Received message larger th

[2022-03-02 03:56] matthewdeng opened #22753 "[Train] update `logdir` relative path"
Currently, constructing a `Trainer` with a `logdir` will store it relative to `DEFAULT_RESULTS_DIR`.

As a user, it is easier to rationalize if the `logdir` is relative to the script working directory.

[Docs](https://docs.ray.io/en/master/train/user_guide.html#log-directory-structure) will need to be updated accordingly.

[2022-03-02 04:00] ckw017 commented on #18378
@cgy-dayup are you using tune as well? If there's more context to that error message that would be handy to debug (see bananenpampe's traceback above).

@xwjiang2010 Can you help triage, not too familiar with that Tune codepath, but looks like it relies on a KV put which is trying to store something larger than 100 MiB

[2022-03-02 04:05] cgy-dayup commented on #18378
yes,i use tune as well.

[2022-03-02 04:05] matthewdeng opened #22754 "[Train] add logging to `finish_training` for existing `Callback`s"
**Goal:** Add helpful logging to `finish_training` so that the user can easily access results from their Callbacks.

**Example:** The `TBXLoggerCallback` will write to a TensorBoard file. `finish_training` could include a message with instructions on how to open the result  (e.g. "Run `tensorboard --logdir <generated_path>`").

[2022-03-02 04:18] chaokunyang opened #22755 "[Feature] Check whether current process is ray client server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Support check whether current process is a ray client server

### Use case

Mars has some special serialization which need to be registered when running on Ray. we need to register those logic for ray client server process, so that wh

[2022-03-02 04:39] ericl commented on #22524
This isn't technically a bug--- creating big environments like this is a bit of an anti-pattern. A couple alternatives here are to either:
1. Create the Array in the env constructor instead of bound to its class.
2. Use ray.put() to store the Array, and retrieve it by reference using ray.get() inside the env.

Either way Tune/RLlib could probably raise a better message here, such as your env class

[2022-03-02 04:57] matthewdeng commented on #22081
@worldveil I created a [PR](https://github.com/ray-project/ray/pull/22757) to add this to the docs. Please take a look!

[2022-03-02 05:00] matthewdeng commented on #22753
@JiahaoYao

[2022-03-02 05:01] matthewdeng commented on #22754
@JiahaoYao

[2022-03-02 06:29] JiahaoYao commented on #22754
Adding one printing sentence, and wonder whether I can use print or should I use `logger` instead?

[2022-03-02 06:38] matthewdeng commented on #22754
I would recommend using `logger` since it's more structured and the user can disable it if desired.

[2022-03-02 07:00] JiahaoYao commented on #22754
by the way, will other loggers like `MLflowLoggerCallback` also need the same thing?

[2022-03-02 08:59] jjyyxx commented on #18418
Not sure if its the correct place to ask, but #19101  only partly fixes the problem. When having an observation space like
[code]
and I have a custom model to handle the Repeated observation, the flatten logic will not work as expected.

My final hacky workaround is
[code]
- If passing `obs_space.original_space` to `super().__init__` or setting `_disable_preprocessor_api` to `True`, `Policy._get_d

[2022-03-02 09:21] Yupjun opened #22761 "Issue on page /train/train.html"
All you have to do is use the ray.train.torch.prepare_model and ray.train.torch.prepare_data_loader utility functions to easily setup your model & data for distributed training. This will automatically wrap your model with DistributedDataParallel and place it on the right device, and add """DisributedSampler""" to your DataLoaders.

DisributedSampler to DistributedSampler

you can search typo erro

[2022-03-02 10:59] cgy-dayup commented on #18378
i receive the same error.Have you solved the problem?

[2022-03-02 11:22] FLYING37520 opened #22764 "Issue on page /ray-collective.html"
This simple code can't run, and throw this error:

Traceback (most recent call last):
  File "/root/autodl-nas/BaseMP/Ray/rayCollectiveInitNccl.py", line 36, in <module>
    results = ray.get([w.compute.remote() for w in workers])
  File "/root/miniconda3/lib/python3.8/site-packages/ray/_private/client_mode_hook.py", line 105, in wrapper
    return func(*args, **kwargs)
  File "/root/miniconda3/li

[2022-03-02 11:23] FLYING37520 commented on #22764
https://docs.ray.io/en/latest/ray-collective.html?highlight=allreduce#collective-communication

[2022-03-02 12:05] saswatac commented on #22707
I tried the --temp-dir option.  It did change the logging directory, but does it also have other side effects?

When I point the temp dir to a location in shared mount ( specifically Azure files) , ray fails to start. I get the following error in raylet.err

[code]

[2022-03-02 12:46] jovany-wang commented on #22744
Vote +1.

It seems like what we'd propose https://github.com/ray-project/ray/pull/20213 .

[2022-03-02 17:02] #20159 closed

[2022-03-02 17:13] matthewdeng commented on #22754
Yep! Of the existing Callbacks, I can see this bringing immediate user value if done for `MLflowLoggerCallback `, `JsonLoggerCallback`, and `TorchTensorboardProfilerCallback`.

[2022-03-02 17:33] EricCousineau-TRI opened #22772 "[Bug] Lots of "Fork support is only compatible with the epoll1 and poll polling strategies" errors / warnings?"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When using `ray.init()`, I see a lot of log messages, like:
[code]

This doesn't seem to hurt performance.

Ideally, these errors / warnings don't exist.

Altenatively, there's a way to supress

[2022-03-02 17:34] #22752 closed

[2022-03-02 17:54] EricCousineau-TRI opened #22773 "[Bug] cluster: `ray up` does not always ensure that workers run gets updated files / runs `setup_commands`? (false cache hit?)"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Searched for "cluster worker not updated", didn't see anything that immediately seemed relevant.

#### Background
Basically, we have some head + worker nodes. We prefer to fine-tune the pro

[2022-03-02 17:57] xwjiang2010 commented on #18378
@cgy-dayup can you link your script? It's probably related to transferring some big chunk of data when the training function is serialized and shipped through GCS.
Usually we recommend people using `tune.with_parameters` in such cases. Can you try it out?

[2022-03-02 18:30] alanwguo commented on #22621
@han14466, can you try using the experimental dashboard for now? You can click the "Experimental Dashboard" in the top right of the dashboard screen.

[2022-03-02 18:39] ZhijieWang opened #22774 "[Bug]Can't kill a placement group from placement group table."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Xgboost ray kicks off some placement group which i do not control. It kicks off some infeasible ones and tried to kill it so the autoscaler can get back to a normal state faster.
Tried to list

[2022-03-02 18:40] richardliaw commented on #22774
@ericl @rkooo567

[2022-03-02 19:28] ericl commented on #22772
Duplicates https://github.com/ray-project/ray/issues/22518 -- seems workaround is to downgrade grpc.

[2022-03-02 19:28] #22772 closed

[2022-03-02 19:29] ericl commented on #22518
@mwtian @iycheng is this fixed in the latest release?

[2022-03-02 19:31] mwtian commented on #22518
Yes, the fix (99fa8424f0e8129448cfddb394bb1a9a7829399b) has been cherry picked into 1.11.0. cc @iycheng

[2022-03-02 19:54] maxpumperla commented on #22064
@worldveil @ericl will take care of this, got enough info from Eric now

[2022-03-02 19:56] ericl opened #22778 "[Dataset] Create the stats actor as a global named singleton instead of passing by handle"
Currently, the stats actor is passed as an actor handle within the stats object. This can be problematic for serialization. Instead, we should "get or create" the stats actor by a fixed name, and never include its handle when stats is serialized.

cc @clarkzinzow

[2022-03-02 19:56] worldveil commented on #5356
@edoakes should we post here references to `ray job submit` now that this is preferred way of doing things?

this is a top result on google now for "ray job submit python"

[2022-03-02 20:00] ericl opened #22780 "(Bad error msg) Ref count check failure when passing actor handle serialized"
The following script check fails on master. Most likely this is since Tune is pickling the actor handle. We should handle this better / raise a better error message.

[code]

[code]

cc @stephanie-wang @jjyao

[2022-03-02 20:36] #22718 closed

[2022-03-02 21:55] ckw017 commented on #22262
Taking a look, shouldn't be too bad to fix

[2022-03-02 22:15] rkooo567 commented on #22774
While I think it is possible to support, I have some questions;

1. Can you tell me a bit more about "autoscaler can get back to a normal state faster."?
2. It is a bit weird to me xgboost starts infeasible ones, and you try killing it manually while the xgboost job is still running. Is it impossible to make xgboost job to not have infeasible pgs instead? (by modifying your resource requirement or

[2022-03-02 22:19] jjyao commented on #20005
We cannot reproduce it anymore: as long as we have enough disk, even if we reduce object store mem size, the test still passed. Will close it for now until we can reproduce it in the future.

[2022-03-02 22:19] #20005 closed

[2022-03-02 22:21] rkooo567 commented on #22518
Btw it is not the long term fix. I think we need to mark it P1 and find the long term fix to allow us to use 1.44 (according to philipp this is the first version that works well with M1 Mac)

[2022-03-02 22:32] ZhijieWang commented on #22774
@rkooo567  the whole history with xgboost having infeasible placement group is a long complicated story. multiple issues filed involving infra team and many others. I ran into this during my attempt to repro and isolate issues.
"autoscaler can get back to a normal state faster." -- The placement group will hang around for a couple min, and i need to kill it to trigger a new set of auto scaling beh

[2022-03-02 22:41] ericl commented on #21769
Duplicates https://github.com/ray-project/ray/issues/22339

[2022-03-02 22:41] #21769 closed

[2022-03-02 22:42] #21433 closed

[2022-03-02 23:26] ckw017 commented on #22262
@worldveil ImageId should be fixed with #22506, what are the symptoms you're spotting with availability zones? Looks like those don't get populated from defaults

[2022-03-03 00:21] architkulkarni commented on #21952
Makes sense!

Makes sense, I also experienced the looping download behavior in the past.

Agree this makes sense.  Should this be on a per-field basis (like one timeout for `pip`, one timeout for `working_dir`, etc) or should it be for the entire runtime env?

Why is this necessary? Can't the options of pip be specified in `requirements.txt`, or per-line like `["requests", "--extra-index-url=url -

[2022-03-03 00:51] jsuarez5341 opened #22790 "[Bug] QMix flattening obs, not passing seq_lens to recurrent models"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

This issue is part of the ongoing effort to add Neural MMO to RLlib's integration tests

I am trying to get QMix working with Neural MMO. I have simplified down to a fixed, 2 agents in one group.

[2022-03-03 01:15] shrekris-anyscale opened #22791 "[Feature] [Docs] Improve connection between library references and their APIs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, the API references for each Ray ML library is stored under "References" in the "API References" drop-down menu:

<img width="334" alt="Screen Shot 2022-03-02 at 5 07 17 PM" src="https://user-images.githubusercontent.com/923

[2022-03-03 01:18] richardliaw commented on #22791
cc @maxpumperla i think we've had this discussion multiple times, would be great to document the decision

[2022-03-03 01:36] stephanie-wang commented on #22780
Interesting...I can take this or help @jjyao if he's interested!

[2022-03-03 01:50] jjyao commented on #22780
yea I'm interested in learning this!

[2022-03-03 03:01] rkooo567 commented on #22707
Hmm looks like the process probably just doesn’t have the access to the shared mount? Maybe you can try with sudo to verify (if you run ray start, also do sudo ray start)

[2022-03-03 03:43] edoakes commented on #21952
I would prefer if we could keep all options related to a given field inside of a single value in the dictionary, but agree with @architkulkarni's point about verbosity.

Is it possible we could change these options at the cluster level instead of per-runtime env? That might be a good solution that'd avoid us needing to add a bunch of new options to the runtime_env schema.

[2022-03-03 03:49] edoakes commented on #5356
Starting with the upcoming Ray 1.12 release, the recommended solution for this will be Ray job submission. Please see the documentation for up-to-date details:
https://docs.ray.io/en/latest/ray-job-submission/overview.html

[2022-03-03 05:42] kfstorm commented on #13594
Working on this.

[2022-03-03 06:21] maxpumperla commented on #22791
@shrekris-anyscale please have a look at Tune, where we have it in both places. I think there's benefit to both (central API section vs per-lib). Just duplicate the docs in the toc.yml

[2022-03-03 06:33] ky1emoon commented on #12481
Still hanging error occurs on [Ubuntu 20.04, Python 3.8, Ray 1.10]

It works on the base interpreter,

but using `venv` environment still occurs hanging error on` ray.init()`

Note that `virtualenv` environment dose not occur this hanging problem.

[2022-03-03 06:34] ky1emoon commented on #13794
Still hanging error occurs on [Ubuntu 20.04, Python 3.8, Ray 1.10]

It works on the base interpreter,

but using venv environment still occurs hanging error on ray.init()

Note that virtualenv environment dose not occur this hanging problem.

[2022-03-03 06:37] septicmk opened #22795 "[Feature] [Plasma alternative] Enhance the ray object store with more functionalities."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

By storing the objects in Plasma, data can be efficiently (0-copy) shared between Ray tasks. We propose to provide a plasma-like object store with more functionalities targeting different situations (e.g. to better support [kubernetes

[2022-03-03 06:59] dsctt opened #22796 "[Bug] DD-PPO Batch size possibly out of sync between workers"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

DD-PPO throws `Batch size possibly out of sync between workers` as seen here (https://github.com/ray-project/ray/blob/master/rllib/agents/ppo/ddppo.py#L244) whenever `count_steps_by=agent_steps`.

[2022-03-03 07:06] larrylian commented on #22164
yes。 If switch to the "gcs bootstrap" feature. Then I need to make some modifications to this feature, and need to introduce third-party components such as zookeeper or others. It is used for multi-head node election and dynamic discovery of addresses by gcs client.

yes.  This new "lite-head" mode is the premise of my head-standby ha feature， I totally approve of your "lite-head" mode feature。 We

[2022-03-03 07:14] larrylian commented on #22744
Vote +1.

[2022-03-03 07:42] mwbyeon commented on #21274
@clarkzinzow I tested same environment.
[code]

[code]

It takes 21mins for 188k parquet files. Is it reasonable?
(188370 / 21m / 60s = 149.5/sec)

Previously it took almost 3 hours. (~9x speed up 👍)

[2022-03-03 09:21] jefferent2019 commented on #21609
Hi，@ericl，I have a problem with ensuring that when grouping data, the same KEY is divided into the same Block.  For example, the ability to aggregate daily stock data into a large data set and then group and break it down by stock code seems impossible for existing interfaces.  I see someone also encountered a similar situation: https://discuss.ray.io/t/filter-and-pivot-large-datasets-on-s3-by-sym

[2022-03-03 14:06] maxpumperla commented on #22064
Everything addressed in the PR linked above, we also have redirect rules in place for all deleted examples:

![Screenshot 2022-03-03 at 15 05 07](https://user-images.githubusercontent.com/3462566/156580277-298e54e9-4e8e-4f41-b74d-221079665306.png)

In particular, @worldveil 's search result should now redirect to Train examples, which have proper TF examples.

[2022-03-03 15:25] Catch-Bull commented on #21952
The reason for mentioning `Feature 4` is that we already have this usage internally. It is undeniable that this usage is very tricky, and it will bring many problems...So, I agree with you, we do not support it in runtime env.

I also support designing a new nested structure to describe pip in runtime env, maybe we can support both usages at the same time, that is, both of the following are legal:

[2022-03-03 19:26] architkulkarni opened #22807 "Release tests `single_deployment_1k_noop_replica` and `multi_deployment_1k_noop_replica` flaky on master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

The tests `single_deployment_1k_noop_replica` and `multi_deployment_1k_noop_replica` used to have a near 100% pass rate.  After https://github.com/ray-project/ray/pull/22297 was merged, it loo

[2022-03-03 19:34] saswatac commented on #22707
I don't think that is the case. The process is running in a container in kubernetes with the root user. And the logs actually get written to the files in the mount location.

[2022-03-03 19:40] clarkzinzow commented on #19063
Bumping to a P1 since the assumption:

is often made implicitly by users.

Another encountered use case is when using batch normalization in their model, which breaks (raises an error) when using a unit batch size. We'd like to recommend that the user ensures that `len(ds) % batch_size != 1` and then this failure case won't be hit, but without batching across windows in a pipeline, this guarantee

[2022-03-03 20:17] mwtian commented on #21870
`pipelined_ingestion_1500_gb` is still passing after reenabling reporting pinned bytes only. The test running time is ~2600s compared to ~2800s before, not sure if related.

However, it seems `autoscaling_shuffle_1tb_1000_partitions` started failing. I'm bisecting but https://github.com/ray-project/ray/pull/22786 is likely the root cause. Error logs seen from driver:
[code]
Looks like some invaria

[2022-03-03 20:23] architkulkarni commented on #22512
The smoke test is failing too:
[command_scd_aGuFeMtmYL5nQxcEFQ5jmBSW.log](https://github.com/ray-project/ray/files/8180884/command_scd_aGuFeMtmYL5nQxcEFQ5jmBSW.log)
[code]

[2022-03-03 20:28] naijoaix commented on #21609
Hi @jefferent2019, I think block is more like internal/physical representation of a Dataset. For map_groups(), even though we do make sure same key go to same block, this is implementation detail (to handle non-associative operations on a group). That said, your use case, which IIUC is about rekeying your data and write out a file for each new key, can be supported with groupby(stock_ticker).map_g

[2022-03-03 20:53] vicyap commented on #22352
Hello, I think I am hitting a similar issue. My Ray cluster is installed through the Helm chart in this repo. The operator and head node are both using version 1.10.0.

This line fails for me:
`ray.init("ray://mycluster.internal:10001", runtime_env={"pip": ["torchaudio==0.10.0", "boto3"]})`

However, this does work if I am on a node in the cluster, eg. `ray.init("auto")`.

Here is the client trace

[2022-03-03 21:01] jjyao commented on #15437
We can no longer run asyncio actors on the main thread with the introduction of concurrency group since we may have multiple threads running async actor methods.

[2022-03-03 21:18] ckw017 commented on #22352
cc @shrekris-anyscale can you help triage vicyap's issue, looks like an issue with runtime envs

[2022-03-03 21:22] EricSteinberger opened #22811 "[Feature] ray serve + model parallel deepspeed inference"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hi folks,

I'm trying to split a model across multiple gpus within ray serve using deepspeed inference.

I believe it boils down to the new ray processes not being started with the [deepspeed launcher](https://github.com/microsoft/Dee

[2022-03-03 21:49] shawnpanda opened #22812 "[Feature] Create a deterministic way to retrieve runtime env logs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I have a ray cluster and run multiple jobs on it. I do see `runtime_env_setup-[job_id].log` entries but there is no way to associate a job with its runtime env log since the `job_id` value in the filename is a ray internal counter tha

[2022-03-03 21:59] shrekris-anyscale commented on #22352
Sure, let me take a look.

[2022-03-03 22:06] simon-mo commented on #22352
@vicyap looking at the traceback, it looks like the the process or container might be OOM killed. This is a common problem for installing PyTorch within a container.

Please take a look at https://github.com/pytorch/pytorch/issues/1022#issuecomment-482650324 for workaround.

[2022-03-03 22:06] architkulkarni commented on #22352
@vicyap is it possible to try the same thing without the `torchaudio` package and see if it works?  We've had a couple other users report about the same thing, using `torch` with Helm charts.

[2022-03-03 22:07] simon-mo commented on #22352
@architkulkarni is there a way to do something like `pip --no-cache-dir install torch`?

[2022-03-03 22:14] architkulkarni commented on #22352
@vicyap you can try setting PIP_NO_CACHE_DIR=1 on the cluster: https://pip.pypa.io/en/latest/topics/configuration/#environment-variables

Another user reported that using the `"conda"` field instead seemed to work https://discuss.ray.io/t/failed-to-lease-worker-from-node/5140/6?u=architkulkarni though it's not clear why it would fix a memory issue.  If you're okay with running in an isolated conda

[2022-03-03 23:14] #21609 closed

[2022-03-03 23:20] iycheng opened #22814 "Make redis ray pass ci testing"
Due to lack testing for some period of time, redis ray is failing some tests. We should fix it and put the tests for it.

https://github.com/ray-project/ray/pull/22458/files

[2022-03-04 01:23] DmitriGekhtman opened #22815 "[Documentation][autoscaler] Document the rest of autoscaler sdk"
Document all of autoscaler.sdk and remove the old doc string claiming that it is experimental.

[2022-03-04 01:30] DmitriGekhtman commented on #22815
Several users have asked about the existence of this sdk.

@rkooo567 suggests we might document it as part of Ray 2.0.0 release, which seems reasonable enough to me
@ericl any thoughts about that?

[2022-03-04 01:37] ericl commented on #22815
I'm ok with that if the interface has been stable.

On Thu, Mar 3, 2022, 5:30 PM Dmitri Gekhtman ***@***.***>
wrote:

[2022-03-04 02:25] rkooo567 commented on #22815
Asp cc @jjyao

[2022-03-04 03:13] jovany-wang commented on #22744
At high level, I'm not sure whether it's a good idea to run Rayclient/server/ dashboard with a raylet.

If we start raylet on head and don't schedule any task, users still be confused why there is 101 nodes and I only use 100. It's a huge mental challenge to users.

[2022-03-04 03:34] Catch-Bull commented on #22610
@valiantljk You can try it on the master branch now, this issue should have been resolved

[2022-03-04 05:12] orthosku commented on #22216
running into this problem with ddpg as well

[2022-03-04 08:45] skkuai commented on #8091
I think I found it. The default optimizer is Adam.

ray > rllib > policy > torch_policy.py

`@DeveloperAPI
    def optimizer(
            self
    ) -> Union[List["torch.optim.Optimizer"], "torch.optim.Optimizer"]:
        """Custom the local PyTorch optimizer(s) to use.

        Returns:
            The local PyTorch optimizer(s) to use for this Policy.
        """
        if hasattr(self, "confi

[2022-03-04 10:07] richardliaw commented on #22732
cc @ericl @scv119 @rkooo567

It'd be great to support this, though I don't know how complicated the implementation would be.

It would open up a big set of use cases (SLURM is one of the top-searched entries on our discourse).

[2022-03-04 10:11] tupui commented on #22732
I was told that with the move away from Redis, this behaviour might have been fixed (ability to set `--address`). I still need to check.

[2022-03-04 11:39] smorad commented on #21921
Yeah, it seems if you have any observations like `gym.spaces.Box(shape=(2, 1))`, you will get this error. Making this  `gym.spaces.Box(shape=(2,))` fixes the problem. IMO this is a very confusing bug for a very common use case. Why does the observation space mess with the underlying `torch.device`? @sven1977 maybe we should assert that all spaces are flattened or something?

[2022-03-04 11:46] EricCousineau-TRI commented on #20402
Yeah, not sure if this is new info, but `ray stop` does not always seem to stop the server. Confirmed that in a setup I was just running, using my hacky `ray_exec_all` script. Output:
https://gist.github.com/EricCousineau-TRI/f2f67c488b75956bbb9d105cc4794ebc#file-ray-stop-failure-sh-L40-L58

Script: https://github.com/EricCousineau-TRI/repro/blob/b63b25f4683dd0afd7582748c2adfe7dc8aa0c6f/python/ray

[2022-03-04 15:23] lchu-ibm opened #22824 "[Bug] [Workflow] max_retires wrong behavior"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Workflow

### What happened + What you expected to happen

In Workflow, the current behavior of `max_retires` is **the number of total attempts** rather than **the number of retry attempts**, this is less intuitive and inconsistent with the behavio

[2022-03-04 15:34] lchu-ibm opened #22825 "[Bug] [Workflow] .options() wrong behavior"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Workflow

### What happened + What you expected to happen

In Workflow, the current behavior of `.options()` is to **completely rewrite all the options** rather than **update options**, this is less intuitive and inconsistent with the behavior of `

[2022-03-04 16:19] Catch-Bull commented on #21952
About Timeout PR, I will finish it on Monday. and which of the two interfaces do you guys prefer?
[code]
or
[code]

[2022-03-04 18:28] lchu-ibm commented on #22824
@iycheng do we want to allow infinite retries in workflow as we allow in remote functions?

remote function currently allows values of -1 (infinite retries), 0 (no retry), positive int (finite retries).

do we want to do the same with workflow step, or only allow 0 and positive int?

[2022-03-04 18:39] shrekris-anyscale commented on #22791
Closed by #22800.

[2022-03-04 18:39] #22791 closed

[2022-03-04 18:54] mwtian commented on #22744
Ray client server and dashboard job server needs access to the worker API, so currently they need a raylet as well.

Running raylet run in a "passive mode" to hide it from any "active" node list should be possible. Another way is to allow not running client server or dashboard with GCS. It should be beneficial to make Ray internal routing more modular. External routing to Ray will also be a bit mo

[2022-03-04 18:57] wilsonwang371 commented on #22164
Regarding the ray-client server local raylet socket connections, what is your opinion on this?

[2022-03-04 19:04] wilsonwang371 commented on #22744
One question, will a "passive mode" raylet populate the object store and have a changing memory usage?

[2022-03-04 19:08] mwtian commented on #22744
Yes, when used by client server or potentially by job service the local object store could be used. After thinking about this a bit more, I think direction of not running client server or dashboard with GCS, and support running them on different Ray nodes would be more feasible as the first step.

[2022-03-04 19:43] wilsonwang371 commented on #22744
Agreed. But running gcs separately may lead us towards a different long term design. so probably now it is time to think about running gcs separately on different node or nodes?

[2022-03-04 20:51] wilsonwang371 commented on #22744
Just plotted one diagram and later ppl can discuss the feasibility of this HA design:

If we run GCS separately from head node(as we discussed in this thread's previous comments). We may finally end up with a Ray HA design like this:
1. Multiple nodes will do election and the winner will be the new head node.
2. GCS component will be external and can work as a separate cluster. Either active-stand

[2022-03-04 22:32] #22122 closed

[2022-03-04 22:47] richardliaw commented on #22732
OK, that'd be great. Keep us updated here.

[2022-03-05 00:26] #19063 closed

[2022-03-05 00:32] ericl opened #22833 "[RFC] Ray 2.0 Feature Proposals"
# What is Ray 2.0?
Ray 2.0 (ETA: August this year) will improve on the Ray 1.x line in three major ways:

- **Usability**: Ease-of-use improvements include new observability tooling, improving the interoperability of libraries in the Ray ML ecosystem, and higher-level APIs for scheduling, model pipelines, and durable workflows.
- **Performance**: The Ray dataplane and object store are critical to

[2022-03-05 00:49] gabrielmittag opened #22835 "[Bug] [RLlib] Normalized actions wrongly clipped with GaussianNoise exploration"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

The GaussianNoise exploration clips the gaussian sampled actions to the action space bounds. However, at this stage, the actions are already normalized. For example, let's assume an action space o

[2022-03-05 06:10] JiahaoYao commented on #22754
One question here is that it seems like it would be good to use ([link](https://github.com/mlflow/mlflow/issues/3317))
[code]
for the `mlflow`. How can I verify this? any minimal example to debug?

Also added, the `finish_training` for `JsonLoggerCallback`.

[2022-03-05 06:59] JiahaoYao commented on #22753
change the path and doc, and ready to do a PR.

[2022-03-05 08:11] czgdp1807 commented on #12481
I will look into this. A bit weird, but in conda environments as well, some scripts (which use ray APIs) hang (for example, `test_dataclient_disconnect`). The behaviour is random though. Following is the output,

[code]

[2022-03-05 08:29] Sridhar701Pitt commented on #19804
[checkpoint_010000.zip](https://github.com/ray-project/ray/files/8190289/checkpoint_010000.zip)
I have the same issue. Attached is my checkpoint file. Restoring this give me the following error.
[code]

 I trained my program using SACTrainer in google cloud (GCP) inside a custom docker container. It might be that my current config for the trainer is different from the config when I ran this progra

[2022-03-05 17:47] pcmoritz commented on #22518
For some reason, this is one of the top viewed pages on github:

<img width="472" alt="Screen Shot 2022-03-05 at 9 46 34 AM" src="https://user-images.githubusercontent.com/113316/156894460-9577ac86-44d2-4abc-9a8f-3b42062a7ccf.png">

[2022-03-05 21:46] avnishn commented on #19804
Is your ray version the same on your pc as it is from your gcp experiment? They'll need to be the same version.

[2022-03-05 21:51] varunjammula commented on #13338
Same issue. I tried different versions of ray from 1.1 to 1.10 and all have the same issue. @jackbart94 were you able to solve this issue?

[2022-03-06 01:33] Sridhar701Pitt commented on #19804
I checked and both run ray v1.10.0

[2022-03-06 02:50] Sridhar701Pitt commented on #19804
Not sure what the issue is but I had to use slightly different containers for running on the GCP and on the local machine. Both containers have the same Ray version (1.10.0). I was able to restore the agents only in the containers the checkpoint file was generated from. The main application script run with these containers is exactly the same.

I suspect it might be another dependency (other than

[2022-03-06 07:56] BrandonDotLin opened #22841 "[Bug] Can't get runtime attribute on module"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

when i tried to run symbreg_ray.py from https://github.com/DMTSource/deap_ray/blob/master/symbreg_numpy_ray.py in my ray cluster, which set an attribute 'rand101' on module deap.gp , the worker

[2022-03-06 12:10] LAITRUNGMINHDUC commented on #12481
Hi, it's work for me with this Python code-line:
[code]

[2022-03-06 15:33] oliverwang15 commented on #22168
@amohazab  Hi,I' m also new to Ray and RLlib. I also encounter this error today. My problem is that I forgot to add my `env` to `config`. You may try adding you environment to you `config` before using `ApexDDPGTrainer(config=config)` or using `ray.tune(config=config)`

The following is an example from [ray's official doc](https://docs.ray.io/en/latest/rllib-env.html#configuring-environments):
[co

[2022-03-06 17:45] mattip commented on #22509
Could you describe exactly what you did to get this? I cannot reproduce the problem, and without a reproducer it is hard to fix it.

[2022-03-06 17:48] evo11x commented on #22509
Try to add these settings to reproduce the problem, I have a box action space and box observation

cfg = ppo.DEFAULT_CONFIG.copy()
cfg["num_gpus"] = 1
cfg["num_workers"] = 8
cfg["num_envs_per_worker"] = 2
cfg["framework"] = "torch"

[2022-03-06 17:50] mattip commented on #21479
It has been over a month with no more information on this problem. Without a reproducer (including how the reporter installed ray and what version of python, ray, and windows) we cannot fix the problem.

[2022-03-06 21:25] INF800 commented on #22533
Been thinking about how to pull this off for sometime. The main problem that I want to solve is "how to make the code as developer friendly as possible keeping the performance and 'gotchas' in mind".

The best conclusion that I could come to was to create **template repository that will serve the following purposes**. (Feel free to add any as I am mentioning only the P0 ones)

- Any developer (beg

[2022-03-07 00:38] architkulkarni commented on #21952
I agree that we should have `pip_check`, `pip_version` and `setup_runtime_env_timeout_seconds` per runtime-env rather than cluster env, for the reason you mentioned.  The timeout_seconds especially makes sense as a runtime_env option because certain environments are much slower to install than others.

Since the timeout shouldn't be part of the hash like you said, I think the second interface you

[2022-03-07 03:18] rkooo567 commented on #22745
Can you provide us a repro script?

[2022-03-07 03:42] SongGuyang opened #22846 "[feature][test] split dashboard_agent.log in multiple nodes tests"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently in multiple nodes tests, all of the dashboard agents logs has been written to one log file named `dashboard_agent.log`. It's hard to debug.

### Use case

_No response_

### Related issues

_No response_

### Are you willing

[2022-03-07 04:45] pdames commented on #17220
I can submit a PR for this since I've started prototyping the same metadata injection features as part of a Redshift Manifest datasource implementation (where the manifests being read always comes with per-block byte counts and sometimes also includes row counts + schema info).

[2022-03-07 06:32] #19502 closed

[2022-03-07 07:15] raulchen opened #22850 "[Scheduler] refactor scheduler data structures"
The current scheduler data structures (defined in `src/ray/raylet/scheduling/cluster_resource_data.h`) expose too many implementation details. This makes all the use sites have to deal with the concrete vectors and maps, and also leads to copy-pasted code.
I'd like to introduce a better abstraction to solve this problems.

Current structure:
[code]

Proposed refactor:
[code]

@ericl @scv119 @iyche

[2022-03-07 07:53] SongGuyang commented on #21952
I really like the second one. But we already have a `eager_install` option in the runtime env dict. I think `eager_install` and `setup_runtime_env_timeout_seconds` should be placed in the same level. @edoakes Do we plan to move it out in future(version 2.0)? It's ok for me to keep it inside `runtime_env` and follow the first interface.

[2022-03-07 11:09] vakker commented on #22557
@sven1977 could you provide the configs that you use for your tests? Thanks

[2022-03-07 11:37] raulchen commented on #22850
I plan to submit 2 PRs: one for non-instance-level resources, and one for instance-level. #22854 is the first one. It's not ready yet, just in case someone may want to see what the refactor will look like.
Basically the main idea is to hide the implementation details about the underlying arrays and maps, while retaining the current optimizations.

[2022-03-07 11:42] mcharlou commented on #22518
@pcmoritz I think that's because the issue stems from grpcio 1.44, so it affected much more than just Ray. I'm not a Ray user but ended up here because I've got the same issue on my own program. The [latest issue regarding this message on the gRPC GitHub](https://github.com/grpc/grpc/issues/17253) is closed and 4 years old, so people naturally end up here.

[2022-03-07 12:20] liuyang-my opened #22858 "[serve]The interaction between Java API and Unified Controller API"
In a complete Java user case, the cross language interaction between Java API and Python controller will be involved, such as starting a serve, deploying a deployment, querying the deployment status, and so on. The proposal of [Serve Unified Controller API](https://docs.google.com/document/d/1Yb9eZIQ4cZWypWZj4bK__7nDXWgthoj52QRg8FOFmNY/edit#heading=h.mttk25m16f6c) can solve this cross language pro

[2022-03-07 12:27] irani74 opened #22859 "[Bug] problem with running ray with WSL in powershell"
### Search before asking

- [x] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Hi
I have an amazing problem with running the ray in WSL
in powershell and cmd:
when input: (1)
wsl
(then:)
ray start --head
evrything is OK and 12 process was running

but when input: (2)
wsl

[2022-03-07 13:39] mataney commented on #15893
This still happens in version 1.7.1
using `image: "rayproject/ray:latest-gpu"` as well.

Any help?

[2022-03-07 13:46] mattip commented on #22509
@evo11x that description is too telegraphic. Here is what I did and it worked fine for me on windows10 using conda
[code]

[2022-03-07 14:54] rkooo567 commented on #22795
There might be difficulties due to the object spilling implementation. My guess is the whole object spilling will be broken if we just replace these interfaces.

cc @scv119 we might need to have discussion on the interface design (including if we can generalize object spilling for different storages).

Do you guys have working prototypes now?

[2022-03-07 15:32] maxpumperla commented on #21820
https://github.com/ray-project/ray/pull/22656

[2022-03-07 15:32] #21820 closed

[2022-03-07 15:32] #21714 closed

[2022-03-07 15:34] maxpumperla commented on #21832
https://github.com/ray-project/ray/pull/22496

[2022-03-07 15:34] #21832 closed

[2022-03-07 15:34] maxpumperla commented on #21821
https://github.com/ray-project/ray/pull/22656

[2022-03-07 15:34] #21821 closed

[2022-03-07 15:57] evo11x commented on #22509
I have Windows 11 not 10

[2022-03-07 16:04] Jeffwan commented on #22833
Any reference on the hardware efficiency? how to define it?

[2022-03-07 16:04] mattip commented on #22509
@evo11x that might be the problem. Could you describe the steps you are using to install and run your script, just to make sure nothing else is problematic?

[2022-03-07 16:13] maxpumperla opened #22865 "[docs] no broken doctests"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

we have around 500 broken doctests, simply run "make doctest" to confirm.
Most of these are trivial to fix, but this is something we should care about. In essence, the doc strings corresponding to these tests all show up in an API ref

[2022-03-07 16:21] maxpumperla opened #22866 "[docs] cover all code snippets in CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Most of our examples and tutorials had pretty good test coverage to start with.
We've also gotten much better by now when it comes to testing snippets in docs. The ones for which we use `literalinclude` are all tested, but there are s

[2022-03-07 16:26] maxpumperla commented on #21838
Follow [Tune User Guides](https://docs.ray.io/en/master/tune/tutorials/overview.html) and [Tune Examples](https://docs.ray.io/en/master/tune/examples/index.html) to get an idea of what we're aiming for.

In particular, identify useful topics for how-to guides first, and think about actionable examples that users care about.

[2022-03-07 16:26] maxpumperla commented on #21843
Follow [Tune User Guides](https://docs.ray.io/en/master/tune/tutorials/overview.html) and [Tune Examples](https://docs.ray.io/en/master/tune/examples/index.html) to get an idea of what we're aiming for.

In particular, identify useful topics for how-to guides first, and think about actionable examples that users care about.

[2022-03-07 16:30] maxpumperla opened #22867 "[docs] Create docs contributor guide with templates"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

To complement our internal contributor guide, have a concise guide for users who want to contribute to docs in any capacity (fix typos, add to existing docs, fix examples or tests, add a new doc, add a new notebook).

To make this eas

[2022-03-07 16:33] maxpumperla opened #22868 "[docs] [rllib] Create Examples section with notebooks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We have a lot of links to GitHub Python scripts in RLlib, but very little in terms of walkthroughs/tutorials/examples.

Follow [Tune User Guides](https://docs.ray.io/en/master/tune/tutorials/overview.html) and [Tune Examples](https://

[2022-03-07 16:36] maxpumperla opened #22869 "[docs] [train] Create "key concepts" page (merge with "Architecture")"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

For consistency and clarity, create a key concepts page like most other projects have by now (see Tune). Have the architecture page included in there.

[2022-03-07 16:38] maxpumperla opened #22870 "[docs] [train] plan removal of "sgd" pages"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The RaySGD section has slowly but surely no use anymore. We can have a link that directs people to an old version of the docs. It's simply confusing to have this still there, even though we talk about migration etc.

[2022-03-07 16:52] maxpumperla opened #22871 "[docs] [serve] Landing page and getting started structure"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Ray Serve landing page and "End-to-End Tutorial" are good already. Make sure to follow the Tune landing page stylistically and rename the latter to "Getting Started" for consistency. Does this e2e tutorial cover everything we want to

[2022-03-07 16:55] maxpumperla opened #22872 "[docs] [serve] Create "key concepts" page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

This is where "Serve Architecture" and the concepts currently in "Core API: Deployments" should go. The latter should probably be converted into a user guide called "Using Deployments". The word "core" is also extremely confusing.

[2022-03-07 17:09] evo11x commented on #22509
@mattip I use Visual Code with virtualenv,
pip install "ray[rllib]" tensorflow torch

and I run the script from visual code

Try to increase num_workers to 10 or 20, and use gpu

[2022-03-07 17:38] maxpumperla opened #22873 "[docs] [serve] Split into user guides and examples"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Similar to Tune, have a user guide (with overview page) consisting of:

- Calling Deployments
- Deploying Ray Serve
- Serving ML Models
- Using the Pipeline API
- Performance Tuning

What's currently called "Advanced Tutorials" corres

[2022-03-07 17:39] eggie5 commented on #21274
This fixed it for me, thanks!

[2022-03-07 17:42] scv119 commented on #22795
There is some work @MissiontoMars could be an incremental path to this goal. https://github.com/ray-project/ray/pull/18738 specifically.

[2022-03-07 17:47] maxpumperla opened #22874 "[docs] [clusters] Create landing page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The "Ray Cluster Quick Start" is quite informative, but there's very little in the way of "why" use Ray Clusters and "what" this project is. Create a landing page for this project similar to that of Tune. This can include the current

[2022-03-07 17:59] maxpumperla opened #22875 "[docs] [clusters] Key concepts page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Similar to other projects, have a key concepts page explaining all essential abstractions needed to use this project in practice (see e.g. Tune).

For Ray Clusters this is particularly important, because it can be easy to get lost in

[2022-03-07 18:07] gjoliver commented on #22279
adding a callback is actually extremely simple, for examle:
https://github.com/ray-project/ray/pull/22493
let me know if you want to give this a try :)

[2022-03-07 18:07] clarkzinzow commented on #22310
After some thorough debugging, it looks like this is the [same bug](https://issues.apache.org/jira/browse/ARROW-10739) around serializing Arrow array slices-views on an underlying larger buffer. The core issue here is that Arrow's Parquet reader is creating chunked arrays whose chunks are each slice-views on an underlying contiguous buffer containing the entire chunked array, causing serialization

[2022-03-07 18:10] maxpumperla opened #22877 "[docs] [clusters] Add Examples section"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We do have a "Deployment Guide" now that is ok. Probably "Launching Cloud Clusters" and "Cluster Managers" should go there, too.

Apart from that, Ray Clusters is currently the only sub-project without standalone Examples. Sometimes w

[2022-03-07 18:10] architkulkarni commented on #22533
That sounds good!  Let us know if you need help opening a PR.

[2022-03-07 18:12] architkulkarni commented on #21952
I agree about `eager_install`, I think it would make sense to move it out for Ray 2.0.

[2022-03-07 18:38] shrekris-anyscale commented on #22858
What is the `str` that `get_deployment_info` returns?

[2022-03-07 18:43] gjoliver commented on #22216
I tried your repro script in python3.9, torch 1.10, and ray 1.10.0.
but I couldn't reproduce the problem you mentioned here.
the job seemed to run fine.

[2022-03-07 18:44] gjoliver commented on #21359
hey man, this should be closed right?

[2022-03-07 18:56] #21375 closed

[2022-03-07 19:13] architkulkarni commented on #22533
Not too familiar with this but it looks like you can only create new repositories off of a template, not merge them into an existing repository.

Maybe once we have more tutorials we can have an examples directory like https://github.com/mlflow/mlflow/tree/master/examples, but for now maybe it's easiest to just tutorials in our existing locations.

[2022-03-07 19:22] gjoliver commented on #21335
Hi Vince, thanks for the issue.
this is minibatch_buffer_size though, not sgd_minibatch_size. So the training batch would still be the same size.
While the buffer may be smaller, and there may be speed implication, I don't how whether there will be be performance impact.

[2022-03-07 19:44] vakker commented on #21335
@gjoliver thanks for clarification. The training batch size would be the same (which in controlled by `train_batch_size` for IMPALA, not `sgd_minibatch_size` if I understand it correctly), but the number of batches that the trainer iterates through each "epoch" depends on the `minibatch_buffer_size`.

E.g. if `num_sgd_iter=10`, `minibatch_buffer_size=1` and `train_batch_size=500`, then the trainer

[2022-03-07 19:44] worldveil opened #22881 "Ray Train / Tune - W&B logger documentation"
## Context

We have great functionality here, users just need to be walked through how to make it happen.

Tips like:

- `move the wandb.init() call inside the train function. And you can do this only only on the rank 0 worker so if ray.train.world_rank() == 0`
- `if you are using tune with train, then you can do wandb logging using tune’s WandbLoggerCallback`

## Concrete things to add

- How to

[2022-03-07 19:53] avnishn commented on #21359
Yerp.

[2022-03-07 19:53] #21359 closed

[2022-03-07 20:14] Michalos88 commented on #22445
Any updates on this @xwjiang2010? My project is past due because of this bug, so would really appreciate if someone could investigate this issue.

[2022-03-07 20:30] irani74 commented on #22859
Thanks!

[2022-03-07 20:54] ericl commented on #22310
Great find. For (2), I think that sounds good if the implementation is fairly simple. Otherwise, we can add a smaller fix with the read logic.

Can you also file an Arrow issue for (3)?

[2022-03-07 20:59] stephanie-wang opened #22883 "[Bug][core] Plasma store should evict plasma-allocated objects immediately"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

The plasma store only evicts objects when it needs to make space for a new object. This is fine because the objects are stored in shared memory, so it doesn't hurt to keep the extra copies arou

[2022-03-07 20:59] stephanie-wang commented on #22883
cc @scv119?

[2022-03-07 21:16] edoakes opened #22884 "[jobs] Automatically set `RAY_ADDRESS` env var so users don't need to set `address="auto"`"

[2022-03-07 21:16] edoakes commented on #22884
@architkulkarni should be a quick fix: just need to set the env var in the supervisor actor.

[2022-03-07 21:46] scv119 commented on #22883
For clarification, is this just a reporting issue or the fallback allocation has caused actual problems (like OOM)?
Assume the later case, does an eager eviction on fallback allocated objects suffice?

[2022-03-07 21:51] stephanie-wang commented on #22883
I haven't actually seen it cause issues, but I imagine it could in an adversarial case. The reason I found this was that the actual allocation was higher than expected, causing the flaky test (once fixed) to fail.

Yes, I think an easy fix is just to trigger eviction of fallback-allocated objects as soon as there are no more clients.

[2022-03-07 22:28] gjoliver commented on #21335
@vakker 🤯 too many confusing parameters.
I hope minibatch_buffer_size doesn't have impact on how many times a mini_batch gets used. need to double check.
and in general, if same data gets trained on for fewer times, it is less likely to get overfit.
@sven1977 would know this instantly. I will try to double check when I get a chance.

[2022-03-07 22:45] #18533 closed

[2022-03-07 23:03] ericl commented on #21962
This is fixed by stage fusion.

[2022-03-07 23:03] #21962 closed

[2022-03-07 23:18] bstollnitz commented on #19909
@amogkam - It seems that you wrote the original code for this feature. Can you please take a look?

[2022-03-08 00:31] ericl commented on #22883
We were discussing this issue offline and concluded this isn't necessary since fallback-allocated objects are already part of the normal spilling / deletion path. So:
1. Either they're un-refed, at which point they're eagerly deleted.
2. Or memory pressure will trigger eviction / spilling, which will spill the fall-back allocated object and free it.

Having fallback-allocated objects hanging aroun

[2022-03-08 00:31] #22883 closed

[2022-03-08 00:57] ericl commented on #22833
I believe this was defined with respect to the aggregate disk performance of the cluster (cc @stephanie-wang ), which was the bottleneck.

For Datasets you can follow the P1/P2s in the milestone: https://github.com/ray-project/ray/milestone/53; otherwise we'll be posting REPs which will contain more details. Are there particular questions you have?

[2022-03-08 01:33] mwtian commented on #22339
The next PR will fix this.

[2022-03-08 02:17] #22673 closed

[2022-03-08 03:26] ZaberKo opened #22888 "[Bug] SampleBatch.timeslices() causes infinite loop"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When the SampleBatch size cannot be divided by `timeslices()` argument `size`, the internal loop will not meet the break condition. This is caused by the wrong loop condition (should be things lik

[2022-03-08 04:09] edoakes commented on #21952
Ok, seems like we have two separate question here:
1. What to do about the advanced `pip` options.
2. What to do about general runtime_env configurations like `eager_install` and `setup_timeout_s`.

For question (1), I think I have a slight preference for overloading the schema and allowing users to either pass a simple list or a more complex dict that contains more options.

For question (2), I d

[2022-03-08 04:10] edoakes commented on #21952
cc @ericl @pcmoritz any thoughts on the above API proposals?

[2022-03-08 05:46] liuyang-my commented on #22858
The `str` in `get_deployment_info` returned value is `route_prefix`.

[2022-03-08 06:17] raulchen commented on #22850
Yeah, actually I wanted to rename "ResourceRequest" to "ResourceSet" as well. Because "request" is a bit too specific, and "set" is more general. But later I decided to hold on this change, in order to minimize the refactor.
So, I'm going to keep the current name as the first step. If everyone agrees on "ResourceSet". I'm happy to do the renaming, after we remove the old "ResourceSet".

[2022-03-08 06:20] scv119 commented on #22850
If we decide not rename ResourceRequest, then we shouldn't put ResourceRequest into NodeResources; it's just very confusing.

[2022-03-08 06:22] raulchen commented on #22850
Also, regarding the optimization of using arrays for predefined resources. I also suspect the performance gains.
But still, as the first step, my plan is to hide the array inside a "PredefinedResources" class. After this, it should be easy to change the underlying implementation.

[2022-03-08 06:26] raulchen commented on #22850
I'm with you on this point. I'll vote for renaming.

[2022-03-08 06:32] maxpumperla commented on #22881
@worldveil we have an example in the Tune "Examples" gallery, quite visible by now:

![Screenshot 2022-03-08 at 07 28 55](https://user-images.githubusercontent.com/3462566/157179940-33419407-e2d2-47b9-a060-45bb8a4057dc.png)

Here's the example:

https://docs.ray.io/en/master/tune/examples/tune-wandb.html#tune-wandb-ref

Also note that this document already is a tested notebook that can be launched

[2022-03-08 06:37] maxpumperla commented on #22881
and regarding where it should be located, please follow the Tune docs on this. I.e.: create an `examples` folder, have an `index.rst` in there that builds the gallery, and then add (hopefully many) example notebooks in `.ipynb` format. Then add a BUILD file to the `examples` folder once:

https://github.com/ray-project/ray/blob/master/doc/source/tune/examples/BUILD#L1-L5

and add all notebooks for

[2022-03-08 07:43] SongGuyang commented on #21952
This API looks good for me. Not sure if `RuntimeEnvConfig` is the best name.

[2022-03-08 08:00] SongGuyang commented on #21952
Actually, we prefer to make the package check more strict and standard. We should try to use the higher pip version. But in Ant internal, persons are using different pip and python version in their developing environment. When they board ray cluster, the environment setup fails with built-in pip in some cases. They will say that: "It works in my desktop, why fails in ray cluster?"
So, we allow use

[2022-03-08 08:06] SongGuyang commented on #21952
In addition, some pip issues are brought by some third-party libraries. It's hard to ask users to address that.

[2022-03-08 08:13] maxpumperla opened #22895 "[docs] Align top nav bar and footer with ray.io"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The sites ray.io and docs.ray.io are completely disconnected. There's no link back from our docs to the main ray.io page. Given that ray.io serves a different purpose, and has content that is better suited there (and partly duplicated

[2022-03-08 09:18] sighingnow commented on #22795
Our prototype does the almost same thing with the `PlasmaClientInterface` in #18738 and such an abstraction layer should be enough for our subsequent work.

@scv119 Thanks for letting us know that. We'll reach out to @MissiontoMars to discuss the status and plan of the pull request #18378.

[2022-03-08 12:21] jmakov opened #22897 "[Bug] runing ray script in parallel crashes the process"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Clusters

### What happened + What you expected to happen

I have a script that takes arguments. I'd like to run the same script with different arguments in parallel on a local cluster. But `ray` randomly crashes the process (looks like a

[2022-03-08 13:20] simonsays1980 opened #22899 "Installing `requirements.txt` for development fails on Fedora 35 [Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I tried to install the `python/requirements.txt` file to run the tests with `pytest`. Installing the packages resulted in a problem with `scikit-learn==0.22.2`:
[code]
This wheel does not exist

[2022-03-08 13:25] #22625 closed

[2022-03-08 15:32] evo11x commented on #22509
I am not allowed to share the script because it contains private data, but I will try to make a demo script to demonstrate more bugs which I found

[2022-03-08 15:56] #9571 closed

[2022-03-08 17:27] msaroufim commented on #22833
The State observability work sounds really exciting, an easy to debug distributed training library seems like a very unique value proposition. Do you have some design doc or RFC you can share on this?

[2022-03-08 17:38] pcmoritz commented on #21868
This should now be fixed with https://github.com/ray-project/ray/pull/22113 :)

[2022-03-08 17:38] #21868 closed

[2022-03-08 17:41] architkulkarni commented on #21952
The use case makes sense, and I think RuntimeEnvConfig is a reasonable name. I'm happy with moving forward with this.

[2022-03-08 17:45] pcmoritz commented on #22685
@babyblue1334 Do you have a reproduction for the issue (e.g. a minimal example that reproduces this behavior)?

[2022-03-08 17:47] pcmoritz commented on #22640
@mattip or @czgdp1807 This is probably a simple path error, do you want to look into fixing it?

[2022-03-08 18:01] ckw017 commented on #22262
Closing this since original bug is fixed, feel free to open a new issue if it seems separate

[2022-03-08 18:46] wuisawesome commented on #14780
going to assume the fix worked and will close this issue.

[2022-03-08 18:46] #14780 closed

[2022-03-08 18:46] #15078 closed

[2022-03-08 18:47] wuisawesome commented on #15739
closing since we've stabilized these quite a bit since 1.3

[2022-03-08 18:47] #15739 closed

[2022-03-08 20:02] mwtian opened #22909 "[Bug] Crash after enabling GCS pubsub"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High

### What happened + What you expected to happen

A crash happens for a user workload, where bisection points to 5893a9eddb2b40fad11ef0da281a42258a1aa7d6.

Crash stack trace:
[code]

### Versions / Dependencies

Commi

[2022-03-08 20:28] yupbank opened #22910 "[Feature] Ray dataset loading large list of parquet files is extremely slow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Trying to use ray to run inference on our big dataset. And we are using ray dataset to load the dataset. The read operation is quite slow on 2k files, and increases linearly proportional to number of files, as our goal is to process 1

[2022-03-08 20:44] gramhagen commented on #21246
@gjoliver / @sven1977 is any work started on this? I'd like to fix this area and am willing to jump in and help but will take me a bit to ramp up, so if there are specific areas you think would be useful for me to focus on please let me know.

[2022-03-08 22:17] mwtian commented on #22909
From the reproduction script, first guess is that the crash is from GRPC not working well with `fork` (https://github.com/grpc/grpc/blob/master/doc/fork_support.md). Currently the way Ray uses GRPC in Python (forking after GRPC started), and the default polling engine GRPC uses (`epollex` on Ubuntu 20.04 / 18.04), do not support fork. And Ray pubsub uses Python GRPC underneath. So forking at `mana

[2022-03-08 22:26] ericl commented on #22910
This has been greatly improved in master: https://github.com/ray-project/ray/pull/22665, though I think it's only speeding up metadata resolution and not creation of the initial ParquetDataset. In nightly tests, we resolve parquet files from S3 at ~100 files/s, so not sure why it's going at ~20/s here.

The reason we need to use ParquetDataset in general is for handling of schema and partitioning.

[2022-03-08 22:29] xgreat8 commented on #22833
Resource utilization observability is needed for finer pricing model.

[2022-03-08 22:41] INF800 commented on #22533
Sure, makes sense.

[2022-03-08 23:07] ericl commented on #22910
It could also be a GCSFilesystem specific issue. On S3 with the master build of Ray, I get the following timing (similar results for pyarrow 4.0.1/6.0.1/7.0.0):

[code]

[code]

So no significant amount of IO happens when constructing the ParquetDataset. Note that use_legacy_dataset=False is passed in.

[2022-03-09 02:02] edoakes commented on #21952
@SongGuyang @Catch-Bull actually, to make this even less intrusive, what if we put these options nested inside of the `runtime_env` field? That would prevent us from needing to update schemas all over the place to support it. For example:

[code]

I would be happy to go forward with this proposal, it is the least intrusive I can think of (I don't think most users will ever think about these advanc

[2022-03-09 02:12] edoakes opened #22928 "[release tests] Serve single- and multi-deployment 1k replica tests have become flaky"

[2022-03-09 02:13] #22406 closed

[2022-03-09 02:37] #22603 closed

[2022-03-09 02:59] SongGuyang commented on #21952
@edoakes sounds good. We should also move `eager_install` into `RuntimeEnvConfig`, right? Do we need to make `eager_install` backward compatible?

[2022-03-09 03:34] #22928 closed

[2022-03-09 06:40] jerinka opened #22938 "[serve][Feature] Option to serve multiple instances of a single class with different arguments"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

An option for creating multiple objects (with different init arguments) of a single class and ray-serving these objects.

### Use case

For using ray serving of multiple objects of same class, in projects with multiple objects created

[2022-03-09 08:40] keep9oing opened #22940 "[rllib][Bug] AttributeError while running multi_agent_independent_learning.py example"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

I ran the example file of Fully Independent Learning in RLlib example
multi_agent_independent_learning.py
But I've got an error w

[2022-03-09 11:43] AstridVanneste opened #22943 "[Bug] Error when using PettingZoo Environments with ray==1.11.0"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

When upgrading to ray 1.11.0, using a PettingZoo environment (MPE Simple Speaker Listener) results in an error.

[code]

### Vers

[2022-03-09 12:54] peterhaddad3121 opened #22945 "[core][Feature] Ability to set Headers for gRPC channels."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently gRPC supports setting custom headers prior to creating the channels. However, Ray.init() doesn't support custom headers as parameters. This can be limiting due to multiple reasons: proxy authentication, etc.

Is there a work

[2022-03-09 15:19] fridary opened #22950 "[tune][Bug] Ray Tune+RL CPUs underutilized"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, RLlib

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

OS: Debian 9
Processor: Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz 6 cores (12 processores)
RAM: 64Gb
Python: 3.8.12

The

[2022-03-09 16:07] jjyao commented on #22795
Could you write a REP (https://github.com/ray-project/enhancements) so that people can discuss the proposal? cc @ericl

[2022-03-09 16:25] jjyao commented on #9233
In general, if there are multiple tasks that are running concurrently with tqdm, the progress bar will interfere with each other if we try to fix the carriage return issue. The pyramid at least let us see the progress from each remote task clearly.

[2022-03-09 16:28] mzakharocsc opened #22954 "[Bug] Dashboard broken for a node with a GPU with no utilization stats"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Dashboard

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

I have a node with an Nvidia GTX 790 GPU on Linux (Ubuntu 20.04).  When I  try to view a dashboard, containing this

[2022-03-09 17:02] smacpher commented on #15893
I'm also encountering this with ray version 1.10.0 on GCP using `image: "rayproject/ray:1.10.0-py38-cpu"`. Looks like I'm getting an `unexpected EoF` towards the end up the `docker pull` step when it's extracting downloads:

[code]

Thanks in advance for your time!

[2022-03-09 18:03] simonsays1980 commented on #22683
@gjoliver @sven1977 #22684 should close this issue. And #22900 is an improvement containing 1 of the two suggestions made by @sven1977 in #22684.

@sven1977 The second suggestion has not made it into the PR as @gjoliver saw possible compatability problems with `multiple_episodes_in_batch`.

[2022-03-09 18:03] #22683 closed

[2022-03-09 18:51] edoakes opened #22964 "[release tests] Serve multi-node test broken with "NoneType has no attribute __len__""
https://buildkite.com/ray-project/periodic-ci/builds/3020#85775b62-c967-46a6-94ab-44c56507fbb4

[2022-03-09 19:21] architkulkarni commented on #22807
Closed by #https://github.com/ray-project/ray/pull/22918

[2022-03-09 19:21] #22807 closed

[2022-03-09 19:25] dynamicwebpaige commented on #22868
+1 for examples in `.ipynb` form! 🤗

You can also regularly run these notebooks as makeshift integration tests, via cron or via GitHub Action, to ensure that updates to the APIs don't break existing functionality.

[2022-03-09 19:26] architkulkarni opened #22968 "[Bug] [runtime env] `pip` field not respected in subprocesses"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Others

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

When a `pip` runtime env is specified, the packages are not importable in a subprocess.  This is a regression introduced in

[2022-03-09 19:59] edoakes commented on #21952
@SongGuyang yes, we should maintain backwards compatibility here. For now, we can leave a top-level `eager_install` alias in `RuntimeEnv` and just set the `config` option if users use it.

[2022-03-09 20:28] simonsays1980 opened #22972 "[Bug] SimpleQ Trainer does not allow `prioritized_replay` configuration parameter"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

# What happened
When I use `prioritized_replay` in the configuration of the SimpleQ agent, I get an Error:

[code]
This should no

[2022-03-09 20:37] #22964 closed

[2022-03-09 21:42] AmeerHajAli commented on #15893
@wuisawesome , can you please take a look/triage when you have a chance?

[2022-03-09 22:01] mavroudisv commented on #21226
Any progress on this? I'm having the same issue.

[2022-03-09 22:06] wwoods opened #22976 "[Bug] AdaBelief optimizer crashes checkpoint restore"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

If using the `adabelief_pytorch.AdaBelief` optimizer, its `state_d

[2022-03-09 23:08] #17383 closed

[2022-03-09 23:30] ponner-github opened #22977 "[core][Bug] Ray processes escaping hermetic python environment"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

ray.init() the (grand)child python processes are escaping our h

[2022-03-09 23:32] matthewdeng commented on #22950
Hey @fridary,

Thanks for posting this question. First, I want to clarify one common misconception about `num_cpus` and `num_cpus_per_worker`. Unfortunately, these don't necessarily translate to 12 cores being utilized, and would explain why you're seeing the same behavior no matter what you configure `num_cpus` and `num_cpus_per_worker` as. From [the docs](https://docs.ray.io/en/master/ray-core/w

[2022-03-09 23:48] Midnighter opened #22978 "[Bug] An exception in a task cannot be caught with ActorPool.map_unordered making restarting meaningless"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

I have defined an actor as shown below. I have set `@ray.remote(max_restarts=-1, max_task_retries=-1)` thus expecting tasks to be re

[2022-03-10 01:22] wuisawesome commented on #15893
Upgrading to P1 since it sounds like it's affecting more users now.

@mataney @smacpher can either of you provide a full cluster yaml? or at least the AMI/machine image you're using (or if it's left unspecified, and the setup command you specify if any?)

[2022-03-10 02:19] ponner-github commented on #22977
Also can confirm that the issue gets fixed  by passing `-Ss` flags
Included the flag in [start_worker_cmd](https://github.com/ray-project/ray/blob/releases/1.9.1/python/ray/_private/services.py#L1549), [agent_command](https://github.com/ray-project/ray/blob/releases/1.9.1/python/ray/_private/services.py#L1586), [java_command](https://github.com/ray-project/ray/blob/releases/1.9.1/python/ray/_priva

[2022-03-10 02:44] chaokunyang opened #22981 "[core][Bug] ray metrics SIGSEGV"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

When running `Mars` on `Ray`, I got following crash occasionally:
[code]

### Versions / Dependencies

`ray==1.9.2`

### Repro

[2022-03-10 03:11] rkooo567 opened #22984 "[Bug] `register_serialization` not working"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

[code]

This is the example code displayed in https://docs.ray.

[2022-03-10 03:11] rkooo567 commented on #22984
cc @suquark can you take a look at this?

[2022-03-10 03:22] WangTaoTheTonic commented on #22850
Voting for adding algebra operations in resource data structure, as current structure is pretty raw and the for loop to handle  `predefined_resources/custom_resources` is every where.

[2022-03-10 05:06] pcmoritz commented on #20260
It seems this is fixed now?

[2022-03-10 05:08] #20260 closed

[2022-03-10 05:30] zhe-thoughts commented on #22874
Thanks @maxpumperla . Could you add the best example we have on a landing page? Would it be Tune? https://docs.ray.io/en/master/tune/index.html

[2022-03-10 05:39] dynamicwebpaige opened #22991 "[Feature] Consider creating a Ray extension for VS Code."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

## Feature Description
Several similar products have created extensions that enable users to view performance metrics and visualize running task streams in VS Code.

An example would be [the Dask extension](https://marketplace.visuals

[2022-03-10 06:02] dynamicwebpaige commented on #1673
It might be worthwhile to consider [documenting WSL2 with Ray](https://docs.microsoft.com/en-us/windows/wsl/compare-versions#exceptions-for-using-wsl-1-rather-than-wsl-2) rather than the original implementation of WSL, as there have been significant performance improvements (ex: adding a Linux kernel with full system call compatibility).

#### Some useful content to draw inspiration from:
* [CUDA

[2022-03-10 06:08] czgdp1807 commented on #22640
Let me try to repro this on my Azure VM.

[2022-03-10 06:10] rkooo567 commented on #22981
Hmm we might need the repro to fix it. I am looking at code now, and I cannot think of any scenario this can cause sigsegv. Did it happen upon shutdown?

[2022-03-10 06:16] maxpumperla commented on #22868
hey @dynamicwebpaige, thanks! For our existing notebooks we already have a quick bazel rule in place that picks them all up in CI:

https://github.com/ray-project/ray/blob/master/doc/BUILD#L141-L147

[2022-03-10 06:34] pcmoritz commented on #1673
Thanks for chiming in!

Since this issue has been created, we actually have a pretty stable version of Ray for Windows that can be downloaded from https://docs.ray.io/en/latest/ray-overview/installation.html -- currently we call it "beta", but in the next 1-2 month the plan is to label it as stable as we keep making progress on getting more and more of the Ray test suite running on Windows.

I wou

[2022-03-10 06:35] pcmoritz commented on #1673
(would it make sense to close the issue for now?)

[2022-03-10 06:38] pcmoritz commented on #22640
@czgdp1807 Thanks for checking, how much work do you think it would be to fix it/can you look into that?

[2022-03-10 06:39] czgdp1807 commented on #22640
The reason I am able to figure out so far. The problem is that `urllib.parse` is used internally to parse any path provided as input to `workflow.init`. Now, since you are passing, `c:\ray`, `urllib.parse` splits it into `c` and `ray`. So, `scheme='c'` and `path=ray`. There is no case handled for `c` scheme in `create_storage`, so it fails with a `ValueError`. If I pass linux styled path i.e., `/r

[2022-03-10 06:44] MissiontoMars commented on #21294
@rkooo567 Is there any progress on this work ?

[2022-03-10 06:55] cgy-dayup opened #22992 "[tune][Bug] 'tune.report( mean_accuracy=sklearn.metrics.accuracy_score(test_y, pred_labels), done=True)'where can i get the mean_accuary result?"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

when i use TuneReportCheckpointCallback and tune.report togethe

[2022-03-10 07:03] mattip commented on #22640
There is an [issue on python](https://bugs.python.org/issue42215) about this with no comments. Whatever the solution, it should be generalized to any arbitrary drive name `c`, `D`, `Z`, ... A variation on (1) might be to reprocess anything with an invalid scheme by prefixing with `file://` or `file:///` which would turn them into valid URIs:
[code]

[2022-03-10 07:30] yonil7 commented on #22640
Info that might help on Windows paths/URLs:
* In windows, an **_absolute_** path must start with the drive letter followed by colon (`c:` /  `d:` / ...)
* In windows, `/tmp`, `/`, `\tmp`, `\` are a kind of a **_relative_** paths - `\` always points to the root of the **current** drive (the drive of the **current** working directory)
* When I open a local pdf file in chrome on windows the URL looks

[2022-03-10 07:39] rkooo567 commented on #21294
Oh no. Actually the scope of the project has been changed. This could be a part of the project, but it is not a high priority.

If you have bandwidth, adding things to task spec sounds good to me! But we should make sure this is done in a thread safe way (and isolated from other immutable fields)!

[2022-03-10 07:45] matthewdeng commented on #22992
Hey @cgy-dayup,

I took a look at the [example](https://docs.ray.io/en/latest/tune/examples/lightgbm_example.html) you're referring to. The reason you are observing this behavior is that `lgb.train()` has default value `num_boost_round=100` and `ASHAScheduler()` has default value `max_t=100`, so the script will terminate before it gets to the final `tune.report()` call. If you set either `num_boos

[2022-03-10 08:06] HongW2019 opened #22996 "[Bug] [Autoscaler] [Azure] Can't create multiple clusters on Azure"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

Ray autoscaler on Azure couldn't create multiple clusters i

[2022-03-10 08:18] Yard1 commented on #22992
@matthewdeng I have already removed the extra report in another PR precisely due to this issue.

[2022-03-10 08:35] dirkweissenborn opened #22999 "[autoscaler][Bug] Autoscaler randomly fails on potential race condition."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

We are running jobs on preemptible VMs and the autoscaler eventually fails with the following error:
[code]

I think this whole thin

[2022-03-10 09:35] Midnighter commented on #22978
When I instead try something like this:

[code]

The exception is caught and logged but still not retried, i.e., I'm missing the results for those. Maybe I don't understand what task retrying means... 😖

[2022-03-10 12:45] septicmk commented on #22795
HI, @jjyao we have the proposal at https://github.com/ray-project/enhancements/pull/4 following the REP guideline.

[2022-03-10 12:59] Rusteam opened #23001 "[Feature] add tune.choices to select multiple values from a search space"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

There're cases when I want to optimize a subsample from a list of options, for instance, image augmentations.

I have a list of augmentations such as `[crop, color, weather, randaugment, rotate, randerasing, etc.]` and
I want to use r

[2022-03-10 14:41] maxpumperla commented on #22874
@zhe-thoughts yes

[2022-03-10 16:00] devin-petersohn commented on #1673
@pcmoritz In my experience, WSL2 is not providing any significant benefits over WSL1 in terms of Ray performance. I do not recommend folks use ray with WSL2, it will be a really bad experience.

I think it makes sense to close the issue and not recommend to run ray on WSL2

[2022-03-10 16:27] stephanie-wang opened #23007 "[core][Bug] datasets_ingest_train_infer is failing on master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

core nightly test datasets_ingest_train_infer is consistently failing.

The root cause appears to be a node dying due to OOM.

### V

[2022-03-10 17:15] engrmg opened #23010 "[jobs] Ray Job Submission only running tasks on the head node"
Hi,

We have a cluster of 1 head node and 3 workers in AWS. We deployed this using the AWS config. Our config is set to deploy 5 max workers.

We are following this tutorial https://docs.ray.io/en/latest/cluster/job-submission.html. We expanded the ray docker image and added our script with the following code.
[code]

Our issue is that the head node is running all the work load. It never delegates

[2022-03-10 17:37] edoakes commented on #23010
@engrmg I think the issue here is that you need to set `ray.init(address="auto")` to connect to the ray cluster, else it's just starting ray locally. We should make this work automatically and will do so before the next Ray release, we have a bug tracking it:
https://github.com/ray-project/ray/issues/22884

Let me know if that doesn't solve the issue.

[2022-03-10 17:42] wuisawesome commented on #22999
@dirkweissenborn let us know if you still run into the issue with ray 1.11 or master. If so, can you provide a reproduction (including the autoscaler config)

[2022-03-10 18:05] jiaodong opened #23011 "[Feature] Configure deployment options like num_replicas"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

.

### Use case

.

### Related issues

.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-03-10 18:23] edoakes opened #23012 "Bad error message when trying to define application from local python class"
[code]

[code]

[2022-03-10 18:23] mikwieczorek opened #23013 "[Bug] [Dask-on-Ray] Dask-on-Ray scheduler does not use correct shuffle settings."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Clusters

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

When using Ray Cluster with at least 1 head and 1 worker, setting index on Dask Dataframe and trying to extract rows b

[2022-03-10 18:23] xwjiang2010 opened #23014 "[Train] Start deprecating tune/integrations/* and direct people to use ray AIR"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

NA

### Versions / Dependencies

NA

### Reproduction script

[2022-03-10 18:24] xwjiang2010 commented on #23014
@matthewdeng

[2022-03-10 18:25] edoakes opened #23015 "Shouldn't need to call `ray start --head` to do `serve run`"
[code]

[2022-03-10 18:26] simon-mo opened #23016 "Pipeline doesn't accept importable class as arguments"
The following doesn't work

[code]
where `MyClass` can be imported from `a.b.c.d.MyClass`. And we can know that by `MyClass.__module__ == "a"` and `MyClass.__qualname__ == "b.c.d.MyClass`.

[2022-03-10 18:29] edoakes commented on #23012
Also, looks like I can't usefully export a class to config file at all:
[code]

[2022-03-10 18:35] edoakes opened #23018 "Not able to `serve run` an `Application`"
(app pid=77902) 2022-03-10 12:34:20,554 ERROR worker.py:450 -- Exception raised in creation task: The actor died because of an error raised in
its creation task, ray::SERVE_REPLICA::app#jSLfmB:RayServeWrappedReplica.__init__ (pid=77902, ip=127.0.0.1, repr=<ray.serve.replica.app object
at 0x7fc8680cda60>)
(app pid=77902)   File "/Users/eoakes/anaconda3/lib/python3.8/concurrent/futures/_base.py", li

[2022-03-10 18:42] simon-mo opened #23019 "Pipeline DAG sanity check for model wrappers fields"
We need to ensure model wrappers don't have input_schema in them when they are in pipeline nodes, or those should be merged into ServeInputNode's input schema function.

[2022-03-10 18:42] clarkzinzow commented on #23013
Hi @mikwieczorek, this is a known issue (https://github.com/ray-project/ray/issues/20108, https://github.com/ray-project/ray/issues/20992), and it actually appears that you opened a similar issue a few months ago. You can fix this manually by setting `shuffle="tasks"` when calling `.set_index()`, as you indicated, or by forcing task-based shuffle via a global config: `dask.config.set(shuffle="task

[2022-03-10 18:44] edoakes opened #23020 "Only show defaults in serve info (?)"
This is really verbose, should we only include things that we set to non-defaults?
[code]

[2022-03-10 18:48] edoakes opened #23021 "Unnecesary "statuses" in `serve status` formatting"
The `statuses` key is unnecessary here and makes things unnecessarily indented.
[code]

[2022-03-10 18:48] mikwieczorek commented on #23013
@clarkzinzow Yes, I opened similar issue as stated in my post at the top.

That's not generally a problem to set it manually, but I would expect that when Ray connects to a cluster (not local Ray) `tasks` should be the default and the only correct option. However, I understand you do not want to force some specific bahaviour.

Sseems like `enable_dask_on_ray()` does what I need. Thank you for quic

[2022-03-10 18:48] #23013 closed

[2022-03-10 18:49] edoakes opened #23022 "Rename `serve info` to `serve config`"
Or another name?

[2022-03-10 18:58] edoakes commented on #23020
One option is show only non-default options by default, and support `-v` to show everything

[2022-03-10 19:02] edoakes opened #23023 "Not able to set deployment options in `serve run` without using a config file"
Options are ignored on deployments defined in code, so the only way I can set options is by creating a config file, which is pretty frustrating. For example:
[code]

`serve run my_file.Echo`

This will ignore the `route_prefix` option I set.

[2022-03-10 19:06] #22579 closed

[2022-03-10 20:24] edoakes opened #23025 "Some info messages have newlines in them"
[code]

[2022-03-10 20:42] suquark opened #23029 "[core][Bug] Ray DAG does not capture options correctly"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

Ray DAG fails to capture the options of some ray tasks, or the options it get differs from what we expect.

### Versions / Dep

[2022-03-10 20:53] suquark commented on #22984
@rkooo567  This is because Ray is not initialized. We can either raise a more user-friendly error, or maybe we can initialize the lock in the worker early, so users can use the serializer before `ray.init()`

[2022-03-10 21:15] #22044 closed

[2022-03-10 22:00] edoakes opened #23033 "Better error message for calling `.remote` instead of `.bind` on classnode"
[code]

[code]

[2022-03-10 22:03] edoakes opened #23036 "[pipeline] build() step looks for a running serve instance"
[code]

[code]

[2022-03-10 22:05] edoakes opened #23037 "Shouldn't require `PipelineInputNode` to build a pipeline DAG"
We should probably allow building a serve dag w/o importing `PipelineInputNode` (just pass the starlette request directly through)

[code]

[2022-03-10 22:13] edoakes opened #23038 "[pipeline] Don't require preprocessor to be `async def`"
I tried a regular `def` function and got:
[code]

[2022-03-10 22:20] simon-mo commented on #23038
@edoakes try on master?https://github.com/ray-project/ray/pull/22995 should change that

[2022-03-10 22:23] simon-mo opened #23039 "`Predictor` now takes `**kwargs` but ModelWrapper doesn't support the extra args."
Recent development:

[code]

[2022-03-10 22:25] edoakes opened #23040 "Not able to set deployment name or options via .options()"
[code]

[code]

[2022-03-10 22:37] worldveil opened #23041 "[docs][serve] Improve Ray Serve FastAPI docs"
## FastAPI docs

(1) In [FastAPI section](https://docs.ray.io/en/latest/serve/http-servehandle.html#fastapi-http-deployments), let's return JSON response, since most users doing this will want that. it's pretty easy with `from fastapi.responses import JSONResponse` and `return JSONResponse(content=content)`

(2) Let's also call out that you don't need to do request parsing in same way, and that th

[2022-03-10 22:39] simon-mo opened #23042 "Better way to use ModelWrapper in DAG construction"
[code]

currently a `ray.remote` is required, but this is awkward

[2022-03-10 22:43] worldveil opened #23043 "Ray Serve often requires Ray restart to clean state"
In debugging a script like this:

[code]

(I moved the import into the Actor init, so it will fail then)

I found debugging this to be pretty painful, I needed to use this line over and over to test:

[code]

because often running

[code]

wouldn't clean up processes, and ipython terminal would keep filling up with error messages and generally clobbering stdout. Without restarting Ray, I would see

[2022-03-10 22:48] worldveil opened #23044 "Bad grammar in Serve pipeline docs"
https://docs.ray.io/en/latest/serve/pipeline.html#pipeline-api-experimental

[code]

[2022-03-10 22:52] worldveil opened #23045 "No good story for Ray Serve request logging persistence (integrations)"
How can we help users do this for integrations like:

- Cloudwatch
- Datadog
- Grafana (Loki)
- S3 (or other blob storage)

It's a very common ask, especially for machine learning model serving, to want to capture requests for later training on said requests once labels have been established.

Today users would just use Python to make an external call / API call to store each log, but having a nic

[2022-03-10 23:19] architkulkarni commented on #22884
@jiaodong Actually, isn't this already fixed by https://github.com/ray-project/ray/issues/21938?  I changed all the scripts in `tests/subprocess_driver_scripts` to just use `ray.init()` and it still passed.

[2022-03-10 23:19] architkulkarni commented on #22884
@jiaodong specifically this part: https://github.com/ray-project/ray/blob/ebac18d1633d966ca2634cee1ee8a7e4b4d0b061/dashboard/modules/job/job_manager.py#L211-L218

[2022-03-10 23:24] wqh17101 opened #23046 "[core] init error on Windows"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

1. on my windows `ray.init()` can not work.
2. work on windows
3. i run the script `ray.init()`
and get
[code]
Then i check the func

[2022-03-10 23:55] simon-mo opened #23048 "Pipeline ingress requires trailing /"
http://localhost:8000/ingress doesn't work but http://localhost:8000/ingress/ works.

[2022-03-11 00:07] siddgoel opened #23049 "[Datasets][Bug] Frequent worker crashes on ray when reading multiple files locally"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

1. The workers are frequently crashing in ray when reading multiple files from local FS.
2. Expected behavior:  The files should be

[2022-03-11 00:31] edoakes opened #23052 "Bad validation error message"
[code]

[code]

[2022-03-11 00:33] edoakes commented on #23052
Slightly different error with serve deploy:
[code]

[2022-03-11 00:38] simon-mo opened #23053 "Application delete should happen concurrently"
The deploy steps deploy everything at once. but delete is sequential

[2022-03-11 00:49] jiaodong opened #23054 "[Bug] serve app to_yaml work with deployment handles in init_args"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

it throws with error `yaml.representer.RepresenterError: ('cannot represent an object RayServeHandle`.

to_dict() works tho.

### V

[2022-03-11 00:50] Nithanaroy opened #23055 "[tune][Bug] Worker doesn't sync the logs to HDFS at the given interval"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, Ray Clusters

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

[code]
doesn’t not sync the data from workers to

[2022-03-11 00:52] Nithanaroy commented on #23055
@krfricke I did not find anything related to HDFS sync failures in /tmp/ray/session_latest/logs/ directory while the trail is running

[2022-03-11 00:53] simon-mo opened #23056 "pipeline with dangling node should print warnings or fail"
[code]
this will work but it's pretty apparent user forget to operate on `b`.

[2022-03-11 01:14] simon-mo opened #23057 "passing a node as arg to method won't work"
[code]

[code]

yield

[code]

when calling http