[2021-11-16 07:41] kenny99k opened #20411 "Installed ray but error output: No module named 'ray'"
My environment is python 3.9.9 , VScode and windows 10.

I have run `pip install ray[default]` in cmd and terminal in VScode. The output is as follow and confirm ray is installed.
(path is deleted for privacy)

[code]

[the code](https://github.com/minimaxir/gpt-2-keyword-generation/blob/master/keyword_encode.py)
I am trying to run the code in above link but VScode keep showing ray is not recognis

[2021-11-16 07:45] iycheng commented on #20364
Looks fine from the dashboard (100% passed) and I can't read the log from the failed link. Close it for now.

[2021-11-16 07:45] #20364 closed

[2021-11-16 08:59] SebastianBo1995 commented on #19993
Hi @gjoliver

my use case would be the Hindsight experience Replay. Therefore I have to acess the infos dict to get the "goal".

The main problem arised, when sharing the code for the callback. And the other person using another framework. If you just close it as is, it would be great to add it to the documentation: https://docs.ray.io/en/latest/rllib-training.html#callbacks-and-custom-metrics.

O

[2021-11-16 09:03] #20411 closed

[2021-11-16 09:04] kenny99k commented on #20411
you need to change interpreter in vscode

[2021-11-16 09:15] gjoliver commented on #19993
sure, I will add it to the docstring. thanks for suggesting documentation improvements actually.

[2021-11-16 10:00] rkooo567 opened #20416 "[Release][Bug] Windows build failing in the master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Windows build seems to fail in the master for some time.

https://flakey-tests.ray.io/

Need to fix it before proceeding the release

### Versions / Dependencies

master

### Reproduction script

[2021-11-16 10:57] sven1977 commented on #20122
Page has been updated. Closing this issue now. Please feel free to post a PR with fixes for the `ray/doc/source/rllib/index.rst` file.

[2021-11-16 10:57] #20122 closed

[2021-11-16 10:58] sven1977 commented on #20062
Added 3 scripts (normal case, LSTM, attention) to the examples folder and linked to the simple one from the RLlib index docs page. Closing this issue now.

[2021-11-16 10:58] #20062 closed

[2021-11-16 11:00] sven1977 commented on #20021
Awesome, thanks @SebastianBo1995  for confirming the fix. Closing this now. Feel free to re-open should the bug occur again.

[2021-11-16 11:00] #20021 closed

[2021-11-16 11:10] SebastianBo1995 opened #20419 "[Bug] [RLlib] EpsilonGreedy exploration fails without normalized actions"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When Setting the exploration to epsilon greedy and normalize_actions to False, the output of the action has always the shape of () without any regards to the actual action space.

### Versions / D

[2021-11-16 11:46] mickelliu opened #20421 "[Bug] Stochastic Sampling is always deterministic in default PPO setting"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Attribute `self.random_timesteps` under class `StochasticSampling` is always 0, which causes the method `_get_torch_exploration_action` to always sample a action from the learned distrubution , i.

[2021-11-16 12:19] clay4444 commented on #19937
Sorry, @rkooo567 ,  I just carefully analyzed the code path, but I'm still confused about the issues you listed, Could you please add more detailed context?   for example,  about the first issue,  Why that we don't remove the queued workers will cause the placement group removal unit test flakiness?  I'm confused about this because I found we have successfully handled the resource return of the pl

[2021-11-16 14:21] jovany-wang commented on #16474
DONE

[2021-11-16 14:22] #19781 closed

[2021-11-16 14:36] #20361 closed

[2021-11-16 14:40] jovany-wang opened #20425 "[Java] Support RuntimeEnv and docker in container for Java Worker"
- [ ] Support starting java worker process in container.
- [x] Support specifying java dependencies in runtime env, both in job level and actor/task level.

[2021-11-16 15:07] #20421 closed

[2021-11-16 15:26] mattip commented on #20173
I think the crash is a false flag. It happens long after the remote objects fail to execute. [Here is a test sequence](https://gist.github.com/mattip/b206b3925fa6a87cddb10ec68ac16d52) that demonstrates the process. It creates a number of threads and calls actors in them. Then it tries to create remote objects and wait for their execution. The remote objects are __never created__ so the test hangs.

[2021-11-16 16:44] #20272 closed

[2021-11-16 17:03] concretevitamin commented on #20402
Thanks for the investigation @DmitriGekhtman.  FYI this showed up even if Docker is not used - e.g., `docker:` removed from the yaml.

[2021-11-16 17:06] simon-mo commented on #20334
I ran into this as well and i have no clue so far.

[2021-11-16 17:06] #20382 closed

[2021-11-16 17:26] wuisawesome commented on #20173
@scv119 do you mind helping out and looking into this? i'm wondering if this is related to the other multi-threaded actor issues.

[2021-11-16 17:53] mattip commented on #20173
For convenience, here is the guts of the test. It calls a function `test_api_in_multi_threads` from a worker, which in turn calls `run_test_in_multi_threads(func)` with two functions: one to call actions via actors, and then another to wait for remote calls.

[code]

[2021-11-16 17:53] clarkzinzow opened #20432 "[Datasets] Don't include Arrow-internal __index_level_0__ Pandas index column when converting ArrowRows to dicts"
`ArrowRow.as_pydict()` [currently](https://github.com/ray-project/ray/blob/693063d6f841b7d994786ee15fadd5cd85d01c6e/python/ray/data/impl/arrow_block.py#L39-L40) returns all Arrow columns in the row. We should filter out the Arrow-specific Pandas index-tracking column, `__index_level_0__`, since this is purely for Pandas <--> Arrow [interoperability](https://pandas.pydata.org/docs/development/devel

[2021-11-16 18:07] scv119 commented on #20173
@mattip yes let me take a look. btw do you have a repro on linux as well?

[2021-11-16 18:13] scv119 commented on #20395
bisecting: 5b1c8e46e16b04b46463eaef523e661f4e31e8ff [passed](https://beta.anyscale.com/o/anyscale-internal/projects/prj_SVFGM5yBqK6DHCfLtRMryXHM/clusters/ses_FnWrsjHWPaN1KPznt7MCkn8p?command-history-section=command_history)

[2021-11-16 18:16] scv119 commented on #20395
@rkooo567 so the test is flaky by itself.

[2021-11-16 18:42] ericl commented on #17220
Another thing here might be to add a resolve schemas option to the read, which will force the reader to merge all schemas ahead of time. It could be pretty efficient for parquet (maybe this should be the default?) but would take longer for other formats.

[2021-11-16 18:45] ericl commented on #19421
Hmm yeah I think you should transform before calling iter_batches(). I think having a post-transform API would be pretty confusing / difficult to implement in a performant way.

[2021-11-16 18:45] #19421 closed

[2021-11-16 19:48] simonsays1980 commented on #19875
I can assist with testing this with my setup on GCP, if needed.

[2021-11-16 19:58] edoakes opened #20440 "[job submission] Add message field to status endpoint"
Return a status message + log lines when a job fails.

If runtime env fails to set up, we should return a good message for that and return the last N lines of the runtime_env setup log.

[2021-11-16 20:16] edoakes opened #20441 "[job submission] Add RAY_ADDRESS or --address to suggested commands for logs/status"

[2021-11-16 20:17] mattip commented on #20173
I have not found a way to trigger this failure on linux. Reducing the thread count and repeat to a minimum does not help the situation on windows, and making them larger does not cause a failure on linux (as far as I can tell)

[2021-11-16 20:24] #20384 closed

[2021-11-16 20:44] krfricke opened #20442 "[Bug] RLLib trainer does not work with upload_dir"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, RLlib

### What happened + What you expected to happen

Currently throwing an initialization error

### Versions / Dependencies

Latest master

### Reproduction script

Run any rllib trainable with a upload_dir to cloud storage

### Anything

[2021-11-16 20:52] #20442 closed

[2021-11-16 21:36] ericl opened #20445 "Add dataset execution metrics API"
We can piggyback some execution time metrics on the dataset return metadata. This can include:
- Execution time per task (min,max,mean)
- Queueing time per task (min,max,mean)
- Input/output sizes (min,max,mean)
- Overall stage execution time

This should be accessible via some metrics method on the dataset object itself. We also should think about it should work for dataset pipelines.

cc @clarkz

[2021-11-16 21:48] xwjiang2010 opened #20446 "[Tune] Design SchedulerDecision proto to unify the interaction between scheduler and executor"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Scheduler's responsibility is to output a SchedulerDecision (CONTINUE, STOP etc). Executor should then act on that decision.

The current problem is that some schedulers make shortcuts to the a

[2021-11-16 21:49] xwjiang2010 commented on #20446
e.g. pbt scheduler and resource changing scheduler.

[2021-11-16 22:04] mvindiola1 commented on #20419
Hi @SebastianBo1995,

Epsilong-Greedy is an exploration strategy for Categorical (Discrete) action spaces.

You are using TD3 in this case which only works for Continuous (Box) action spaces.

You probably want to switch to GaussianNoise.

Check out this link for more info:

https://docs.ray.io/en/latest/rllib-training.html#customizing-exploration-behavior

[2021-11-16 22:16] edoakes commented on #20401
@ericl yes I think that would actually be preferred :)

Though we need one other thing -- the ability to force the autoscaler to scale up immediately for the actors instead of respecting the throttling/delay (that's why we use 1 PG per actor right now).

[2021-11-16 22:22] xwjiang2010 commented on #20446
In particular, pbt scheduler not only perturbs the trial whose result is handled in `on_trial_result`, it also perturbs other trials (sync mode).

[2021-11-16 22:26] SebastianBo1995 commented on #20419
Thanks for the information. 😃

[2021-11-16 22:26] #20419 closed

[2021-11-16 23:58] worldveil opened #20454 "ray.shutdown() does not work without serve.shutdown()"
I have noticed that cleanup for Ray Serve doesn't happen on `ray.shutdown()`, users need to additionally call `serve.shutdown()`.

I can't think of a case where users would want Ray to shutdown, but not Serve.

Can `ray.shutdown()` also clean up Serve state?

[2021-11-17 00:02] blublinsky opened #20455 "Execution of sklearn.model_selection.GridSearchCV fails when invoked in Ray remote function"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Usage of GridSearchCV in the Ray remote function produces a strange error:

[code]
I would expect the attached code to execute successfully

### Versions / Dependencies

Ray 2,0 (nightly build

[2021-11-17 00:13] #19478 closed

[2021-11-17 01:49] simon-mo commented on #20454
@edoakes fyi

[2021-11-17 02:07] #15960 closed

[2021-11-17 03:06] #20247 closed

[2021-11-17 03:20] ericl commented on #20401
Got it, I think that's easy enough to add (some plumbing to split up task vs actor resource demands): cc @DmitriGekhtman for prioritization. That feature is orthogonal from this issue though right (you'd never create 0-cpu actors of that sort?)

[2021-11-17 03:28] jovany-wang opened #20460 "[C++ Worker] Align APIs for Namespace concept."
This issue is used to track the work items to port C++ APIs for namespace concepts.

- [x] Remove APIs to global actor and global PG. #20468
- [x] Support specifying the namespace for job.
- [x] Support generating an UUID string as the namespace for an anonymous namespace.
- [ ] Support `GetNamespace()` API.
- [x] Support `GetActor(name, namespace)`
- [ ] and `GetPlacementGroup(name, namespace)`.

[2021-11-17 03:29] iycheng commented on #20416
https://github.com/ray-project/ray/pull/20437

[2021-11-17 03:31] jjyao commented on #18524
@clay4444 Yea, behave similar to soft spread in placement group.

[2021-11-17 03:35] jovany-wang commented on #20460
@qicosmos @SongGuyang @kfstorm

[2021-11-17 03:48] iycheng commented on #20383
@gjoliver / @sven1977  do you have some eta about this fixing?

[2021-11-17 03:53] jovany-wang opened #20462 "[xlang] Review and track xlang basic functionalities."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Since many features have been being introduced and most of them are language independent, which make they are not able to be used in xlang mostly if we didn't do more external works. Eg, concurrency groups, runtime env are not able to

[2021-11-17 03:53] scho97 commented on #20246
Hi @sumanthratna, thank you for your reply. I see HEBO does not support quantization. I will make a change accordingly.

I did not see any warnings in my output. FYI, the `total_run_time` also does not print out when I use HEBO while using other search algorithms prints it out.

[2021-11-17 04:06] gjoliver commented on #20383
We think the problem is transient actually.
This is a run that Amog helped kick off 11.5 hrs ago, and it's still going, passing the 8hr mark when the last single worker OOM happened.
We should be able to know for sure tomorrow morning.

[2021-11-17 04:22] #20025 closed

[2021-11-17 05:05] michaelzhiluo opened #20463 "[Bug] [Ray Autoscaler] Parallel Launch of Head and Worker Node"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

For multi-node clusters, Ray Autoscaler will first setup Ray Head node first, and then setup a bunch of Ray Worker nodes in async parallel. For examples where instances take forever to laun

[2021-11-17 05:06] ericl commented on #20463
This isn't something we intend to fix. To optimize launch speed, you can pre-bake AMIs or use docker images.

[2021-11-17 05:06] #20463 closed

[2021-11-17 05:08] ericl commented on #20394
cc @clarkzinzow

[2021-11-17 05:10] franklsf95 commented on #20463
@ericl I'm curious is there a reason that head and worker nodes provisioning and setup _cannot_ happen concurrently?

[2021-11-17 06:18] ericl commented on #20463
It can, and does in architectures like the k8s operator, kuberay, and in Anyscale. We don't intend to add new features to direct cloud autoscaling beyond stability and bug fixes.

[2021-11-17 06:29] clay4444 commented on #19937
reproduce process:
1. shutdown the feature of prestart workers, you can just do this in a hack way, just like this:
![image](https://user-images.githubusercontent.com/17047853/142145630-02133e88-8c79-452f-94d9-e4a654847b61.png)
![image](https://user-images.githubusercontent.com/17047853/142145684-b0ddddbc-60bc-4c28-828c-efc5d2fc4773.png)
2. Add a delay to the worker process startup, NOTE: Must use

[2021-11-17 06:33] clay4444 commented on #19937
The reason why we need random in step 2 is that we need to make sure the worker corresponding to the `long_running_task` start later than the worker corresponding to the actor  `A`.

[2021-11-17 07:01] sven1977 commented on #19875
Hey @simonsays1980 , let me check through the code to see what's going on here. Yeah, we may not even support this at this point, but should definitely change that then.

[2021-11-17 07:17] DmitriGekhtman commented on #20401
Oh, scaling up immediately for actors makes a lot of sense (since they're long-lived).
The context was tldr for me -- can we close this issue and open a new one for scaling up immediately for actors?

[2021-11-17 07:32] jovany-wang commented on #20372
CC @qicosmos
We can also consider the CPP worker part as well.

[2021-11-17 08:36] yiwei00000 commented on #17112
At startup, docker run -- ulimit core = 0. When -- ulimit core = 0 is added, the core file will not be generated again

[2021-11-17 08:36] #17112 closed

[2021-11-17 08:44] jovany-wang opened #20470 "Be able to disable passing arguments and return values by reference"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

`max_direct_call_object_size` defines the max size of the direct call object, 0 indicate passing by reference always.
There're applications which have the requirement on turn it off. It means they need pass by value always. Even if we

[2021-11-17 08:49] kfstorm commented on #20402
I'm not sure about this. It seems that the registered IP address of Raylet doesn't match the one detected by the driver. So the driver cannot find the local Raylet instance to connect to.

@ConeyLiu Any thoughts?

[2021-11-17 09:38] dirkweissenborn commented on #20286
Yes this will fix it.

[2021-11-17 09:38] #20286 closed

[2021-11-17 09:50] hseelawi opened #20473 "[Bug] MLflowLoggerCallback doesn't play nicely with MLFlow when using a PBT scheduler"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, Others

### What happened + What you expected to happen

When using the `MLflowLoggerCallback` from `ray.tune.integration.mlflow` with a PopulationBasedTraining scheduler, and a new iteration starts, the following error gets thrown:

`mlflow.

[2021-11-17 11:02] lyle-nel commented on #17171
Parallel iterators are still missing from the newest documentation:

[2021-11-17 11:03] simonsays1980 commented on #19875
@sven1977 Thanks for taking a look into it. If you need testing I can test my algorithm on GCP and see, if output get stored in GCS.

Could you provide a link where in the source code the output path is used before passing it into the `JsonWriter` object?

[2021-11-17 12:56] jovany-wang opened #20475 "[Bug][ConcurrencyGroup] Tasks in different concurrency groups noises others due to task order issue."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

[code]

[code]
`Ray.get(obj2)` will be blocked forever since the eventloop is in `request.Accept()` and invoking the task `f1`.

### Versions / Dependencies

master/1.8

### Reproduction script

[2021-11-17 12:58] jovany-wang commented on #20475
This issue is a bit like #19593 but not the same one. This is due to the tasks of default concurrency group are in main loop.

[2021-11-17 13:06] andras-kth opened #20476 "[Bug] Autoscaler doesn't scale CPU-only workloads to workers with GPU"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Clusters where *all* nodes have a GPU fail to autoscale on CPU-only workloads.
[code]

Changing the resource definition of the node type (leaving everything else intact) allows the cluster

[2021-11-17 13:14] #16882 closed

[2021-11-17 13:19] clay4megtr opened #20477 "[Feature] [Placement Group] Add timeout mechanism when scheduling placement group"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, The scheduling of placement groups is one by one and there is no timeout mechanism when scheduling is in process, so, when there is something wrong with the worker node or the prepare/commit msg lost, the scheduling will ha

[2021-11-17 13:26] rkooo567 commented on #20477
You mean timeout in prepare / commit rpcs?

[2021-11-17 14:12] clay4444 commented on #20477
Yes,  we encountered this issue in the production env several days ago, it costs 10+ minutes to commit a bundle...   so we can just manually remove the worker node at that time.

[2021-11-17 14:47] Bibabu330 opened #20479 "ModuleNotFoundError: No module named 'ray._raylet'"
## Problem Description

I tried to run the 2019 open source code on using reinforcement learning to solve the decision tree package classification problem, but when trying to configure the environment, the same problem was reported from ray 0.7.0 to 0.8.0

The code I am trying to run is [Neurocuts](https://github.com/neurocuts/neurocuts/blob/master/run_neurocuts.py)

[code]

May I ask how to solve

[2021-11-17 15:44] clay4444 commented on #20477
actually, no, I believe this was caused by the problematic node because there were also failures when creating workers on that node, but I didn't find the root cause.....  I even suspected that was a one-way network unreachable issue afterward.

[2021-11-17 15:51] mbwmbw1337 commented on #11959
We're seeing the same issue. What is the best workaround or have you been converting all class attributes to instances?

[2021-11-17 16:06] mbwmbw1337 commented on #11959
Not resolved as far as I am able to tell.

[2021-11-17 16:26] PavelCz opened #20482 "[Bug] TF AttributeError when having policy_map_capacity lower than number of policies"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When setting the `policy_map_capacity` in the `multiagent` config to a number that is lower than the number of policies, the following `AttributeError` is raised in `learn_on_loaded_batch` in `dyn

[2021-11-17 16:45] edoakes opened #20483 "[runtime_env] Unhelpful error message when runtime_env fails to be installed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

[code]

### Versions / Dependencies

master

### Reproduction script

see above

### Anything else

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-11-17 16:46] gjoliver commented on #20383
Rerun passed, as expected.
Marking this as closed now.

[2021-11-17 16:46] #20383 closed

[2021-11-17 16:46] gjoliver commented on #20383
https://buildkite.com/ray-project/periodic-ci/builds/1647

[2021-11-17 16:52] bkrosenz commented on #10995
Same issue.  PTL 1.4.8 works, 1.5.1 and 1.5.2 do not.

[2021-11-17 16:59] ericl commented on #20470
Why is it a requirement? The application shouldn't need to know, and
performance is better passing by reference.

On Wed, Nov 17, 2021, 12:44 AM Qing Wang ***@***.***> wrote:

[2021-11-17 17:08] Yard1 commented on #20455
The Loky backend for joblib used by scikit-learn is not supported by Ray. You can try using the [Ray backend for joblib (though beware of resource allocation)](https://docs.ray.io/en/latest/joblib.html?highlight=joblib), or use the sequential backend by setting `n_jobs=1`.

[2021-11-17 17:17] CaioMS2000 commented on #5935
and how was it ? i'm having the same error message

[2021-11-17 17:26] jovany-wang commented on #20470
Let me make the words shorter.

The data in object store relies on the distributed GC to collect, and distributed GC relies on local GC to trigger, so we have an flag to trigger local GC `local_gc_interval_s`  https://github.com/ray-project/ray/blob/master/src/ray/common/ray_config_def.h#L276-L280

It triggers every 10m, which makes our online application happens vibration in every 10m. It's too b

[2021-11-17 17:37] ericl commented on #20470
Reference counting will immediately delete the references once they fall out of scope. The local gc is only in the rare edge case the object gets caught in a Python reference cycle.

You can avoid it by avoiding Python reference cycles, or calling gc.collect(). In Java, you could also call System.gc().

If calling GC is too high overhead, we could add an API to delete object copies explicitly from

[2021-11-17 17:39] ericl commented on #20470
Actually I don't quite get this, why not just set it to a very large value? We can't set it to unlimited since you'll exceed the gRPC max message size. So something like 50MB will probably fix your use case, and also won't break gRPC.

[2021-11-17 17:49] ericl commented on #20470
Actually, I don't think GC is relevant here at all. The object reference created for passing arguments automatically by reference is never exposed to the application-level. So there is no chance it can get caught in a Python reference cycle or end up in some older Java GC generation. It should always be immediately discarded after the task finishes. If it isn't, that must be a bug.

There are othe

[2021-11-17 18:54] ericl commented on #20394
Btw great issue report. @crclark are you interested in submitting a fix? If not, we'll get to this prior to datasets GA.

[2021-11-17 19:17] crclark commented on #20394
Sadly I won't have time to submit a fix. Thanks!

[2021-11-17 19:39] crclark opened #20488 "[Bug] Dataset .to_pandas() throws"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

`ray.data.from_items([0, 1, 2, 3, 4]).to_pandas()` throws an exception: `AttributeError: 'list' object has no attribute 'to_pandas'`.

I'd expect it to return a Pandas dataframe with a single col

[2021-11-17 20:18] Yard1 commented on #18027
@CMobley7 Good news! We will be able to support multi-objective optimization for Optuna after all. https://github.com/ray-project/ray/pull/20489

[2021-11-17 21:04] stephanie-wang opened #20493 "Enable lineage-based reconstruction by default"
Lineage reconstruction is a feature to automatically reconstruct objects lost from distributed memory by re-executing the object's lineage (the task graph that created the object originally). While the primary work behind lineage reconstruction is already complete, there remain some extensions to ensure that it works properly for Datasets and ML ingest workloads.

To turn it on by default, we have

[2021-11-17 21:04] mwtian opened #20494 "Remove Redis GCS dependency: Currently Ray uses Redis for global metadata storage and state subscription. We plan to remove Redis as a dependency, making it an optional pluggable storage, and migrate the state subscription to use gRPC-based pub-sub."

[2021-11-17 21:04] ericl opened #20495 "Memory-aware task scheduling - When tasks consume too much heap memory, the scheduler should pushback on the scheduling of new tasks and preempt eligible tasks to reduce memory pressure."

[2021-11-17 21:05] rkooo567 opened #20496 "Full internal observability: This is a project to consistently expose Ray internal metrics to Prometheus / grafana for improved developer and user observability."

[2021-11-17 21:06] iycheng opened #20497 "Ray common storage configuration"
## Overview
Right now if the ray cluster is shutdown, all data will be lost, so for the services that require data living beyond that they need to do this in their own way. One drawback is that, the user might need to config this multiple times for different component. Right now, serve deployment metadata/tune checkpoints/workflow checkpoints/spilled objects will need persistent storage, and we sh

[2021-11-17 21:06] stephanie-wang commented on #19565
Reopening since we've had to revert the PR a couple times.

[2021-11-17 21:08] mwtian opened #20498 "High availability - Allow Ray to survive restart of the GCS node if the user provides durable external storage. This will likely only be supported out of the box in K8s."

[2021-11-17 21:10] stephanie-wang opened #20499 "[core] Scale shuffle to 200+ nodes"
Shuffle is a key workload for stressing Ray core's distributed dataplane. For large datasets, it requires all-to-all communication and spilling to disk. Thus, shuffle stresses the object transfer and object spilling/restoring protocols in Ray's backend.

So far, we have successfully tested up to 1TB scale (100TB once also but only on 50 nodes) using both Dask-on-Ray and custom shuffle implementati

[2021-11-17 21:12] ericl opened #20500 "Sparse object reads - read part of an object, without downloading the entire object"
## Overview

Currently, accessing an object requires ray.get(), which downloads the entire object to a node. This means that applications must pre-split their objects to the granularity desired by read tasks. For example, in distributed shuffle, this means each map task must produce O(nreducers) objects instead of a single sorted object.

There are two problems here:
1. If we don't know the object

[2021-11-17 21:18] stephanie-wang commented on #20499
@franklsf95 has been working on some ideas here.

[2021-11-17 21:18] scv119 opened #20501 "[Core] Full TSAN coverage for Ray core"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Recently we have been running into multiple thread safety related issues. In the spirit of this we should enable full TSAN coverage for all Ray core unit test and integration tests; and we should selectively enable TSAN for e2e tests

[2021-11-17 21:19] scv119 opened #20502 "Full TSAN coverage: https://github.com/ray-project/ray/milestone/71"

[2021-11-17 21:19] #20501 closed

[2021-11-17 21:19] scv119 commented on #20501
duplicate of #20502

[2021-11-17 21:40] iycheng opened #20503 "[release] test failed due to app config building error"
stress_test_many_tasks/many_actor_tests/node_failures failed due to app config building error.

Some example are here:
https://buildkite.com/ray-project/periodic-ci/builds/1700#15650bd3-b052-45fc-aa98-13c3a3cbbb4f

https://beta.anyscale.com/o/anyscale-internal/configurations/app-config-details/bld_SXWhBBrSXaYp24EVwSx1q76X

[2021-11-17 21:51] edoakes commented on #20483
The actual exception also only returns a generic message:
[code]

We should remove the noisy C++ logs and instead return the underlying traceback here (it's already returned from the agent)

[2021-11-17 22:04] iycheng commented on #20258
Inference is still failing, reopen the ticket.
https://buildkite.com/ray-project/periodic-ci/builds/1675#152aee41-67fa-4d16-a2d7-63086b1a4ef7

[2021-11-17 22:09] iycheng opened #20505 "[release] `pg_long_running_performance_test` failed"
https://buildkite.com/ray-project/periodic-ci/builds/1675#2da62baa-e477-4e68-8ab0-24c0faaccf3d

[2021-11-17 22:17] msaroufim opened #20506 "Ray Job API file not found"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Using the Ray job API to schedule a distributed job, the job client can't seem to find files in its `working_dir`

[code]

Temporary directories seem to be working fine locally

[code]

But then

[2021-11-17 22:24] rkooo567 commented on #20483
Cc @lixin-wei

we are planning to work on this soon. (The work was separated by 2, support exception -> support better msg)

[2021-11-17 22:28] iycheng commented on #20505
it's new test, not tracked in this release

[2021-11-17 22:28] #20505 closed

[2021-11-17 22:32] iycheng opened #20508 "[release] aws_ssh_sync test failure"
https://buildkite.com/ray-project/periodic-ci/builds/1701#521058b3-4051-460e-b1c6-9367a427c114

[2021-11-17 22:56] amogkam opened #20510 "[Datasets] `iter_epochs` not iterating using native format"
It seems like when iterating over a dataset returned by `iter_epochs`, the batch format is always a Pandas dataframe, and not the native format.

This behavior is different when iterating over a regular ray dataset or a dataset returned by `iter_datasets`.

[code]

[2021-11-17 23:03] amogkam commented on #20508
ok looks like this test is just flaky. Just re-ran it again on the release branch and it is passing. https://buildkite.com/ray-project/periodic-ci/builds/1701#bf9f1c16-c4ad-4d18-b762-3baa0df4fcd5

[2021-11-17 23:03] #20508 closed

[2021-11-17 23:05] ericl commented on #20510
I think this is because the default value of `batch_format = "pandas"` in `class DatasetPipeline`. How about we change it to "pandas" for both Dataset and DatasetPipeline?

[2021-11-17 23:16] amogkam commented on #20510
@ericl why not make it "native" for both?

[2021-11-17 23:17] gjoliver opened #20511 "[Bug] e2e.py doesn't work on m1"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

This may be a symptom of other more significant platform specific issue, thus this tracking bug.
If you try running e2e.py to launch any CI test, you see the following trace stack:

'''
(main) ju

[2021-11-17 23:20] ericl commented on #20510
I don't have a strong opinion, but it seems "pandas" is more usable by default. Arrow tables are pretty hard to work with and most people end up converting it to pandas anyways.

[2021-11-17 23:23] amogkam commented on #20510
Got it.

Just my 2c- for a simple dataset like `ray.data.from_range` I would prefer working with python lists than pandas dataframes.

[2021-11-17 23:34] pcmoritz opened #20513 "[Bug] Ray Serve End-to-End tutorial not working with Ray 1.9.0 on Windows"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

When I run through the tutorial https://docs.ray.io/en/latest/serve/tutorial.html, at the part where it says
[code]

I'm getting this in the backend:
[code]

and curl returns

[code]

### Vers

[2021-11-17 23:37] architkulkarni commented on #20506
Resolved offline by @jiaodong -- the intermediate `/ray/` directory was not present in the local directory, but was specified in the entrypoint command.

The remote directory appeared to be empty because the directory is deleted when the job exits.  We will soon have support for caching these directories with a configurable size limit, which should make debugging after the job easier as they won't

[2021-11-17 23:37] #20506 closed

[2021-11-17 23:37] jiaodong commented on #20506
resolved offline -- the issue is we're using `ray/ray_driver.py` as entrypoint command, but his actual working_dir only has python scripts without the ray folder. User is unblocked now :)

[2021-11-17 23:42] #16313 closed

[2021-11-17 23:46] zhe-thoughts commented on #20503
Thanks for catching this @iycheng . Why did this test pass for RC0 and failing now?

[2021-11-18 00:04] iycheng commented on #20503
I'm not quite sure about this. It seems pip change. @wuisawesome  do you have some ideas?

[2021-11-18 00:08] wuisawesome commented on #20503
It seems to be failing because doing

[code]

the second line is downgrading the ray version. That isn't the behavior I'd expect from pip though. We can work around it pretty easily, but still not sure why it behaves like that.

[2021-11-18 00:10] iycheng opened #20515 "[workflow] create a virtual actor from a virtual actor"
When one virtual actor is created, sometimes the user want to duplicate the virtual actor like fork.
One way to do this is to get the content of the virtual actor and create another virtual actor.
But there is one limitation for this way since sometimes the user doesn't have the code.

Another and more efficient way to do this is to copy from storage. Here I propose the following API:

[code]

so

[2021-11-18 00:10] iycheng commented on #20515
@ericl  could you share some comments about the above API proposal?

[2021-11-18 00:16] ericl commented on #20515
Hmm, I feel it would be more general if we added get_state / set_state methods on actors. So you could write:

`actor2.set_state(actor1.get_state())`. This could be useful for debugging or manually resetting the state of the actors anyways.

[2021-11-18 00:36] wuisawesome commented on #20503
@iycheng I just realized that these logs come from 2 separate tests (both should be release blockers)

many_tasks fails on the app config build: https://beta.anyscale.com/o/anyscale-internal/configurations/app-config-details/bld_SXWhBBrSXaYp24EVwSx1q76X

stress_test_many_tasks failed for a different reason. Looks like some edge case that `e2e.py` just didn't handle around app config caching? I ret

[2021-11-18 00:46] simon-mo commented on #20513
can you
- `curl -v` to show the request
- `pip freeze | grep h11`

[2021-11-18 00:47] simon-mo commented on #20513
likely related: https://github.com/python-hyper/h11/issues/92

[2021-11-18 00:48] pcmoritz commented on #20513
(base) C:\Users\ray>curl --version
curl 7.68.0 (x86_64-pc-win32) libcurl/7.68.0 Schannel zlib/1.2.11 libssh2/1.8.2
Release-Date: 2020-01-08
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtsp scp sftp smb smbs smtp smtps telnet tftp
Features: AsynchDNS IPv6 Kerberos Largefile NTLM SPNEGO SSL SSPI UnixSockets libz

[2021-11-18 00:48] richardliaw opened #20517 "[Bug] Unpin horovod on release tests"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Release test for horovod was pinned to a older version of horovod #20484 . We should revert this change upon updating deprecated APIs.

### Versions / Dependencies

N/A

### Reproduction script

[2021-11-18 00:48] simon-mo commented on #20513
sorry i meant
[code]
for verbose output

[2021-11-18 00:48] pcmoritz commented on #20513
h11 version is 0.9.0

[2021-11-18 00:49] pcmoritz commented on #20513
(base) C:\Users\ray>curl -v -X GET localhost:8000/Counter/
Note: Unnecessary use of -X or --request, GET is already inferred.
*   Trying ::1:8000...
* TCP_NODELAY set
*   Trying 127.0.0.1:8000...
* TCP_NODELAY set
* Connected to localhost (127.0.0.1) port 8000 (#0)

* Empty reply from server
* Connection #0 to host localhost left intact
curl: (52) Empty reply from server

[2021-11-18 00:51] simon-mo commented on #20513
aha this is fixed in v0.11.0 of H1 apparently?
[code]

serve depends on uvicorn -> h11>=0.8.

maybe just upgrading h11 should help here.

[2021-11-18 00:56] pcmoritz commented on #20513
Thanks, let me try to upgrade my python installation :)

[2021-11-18 01:00] edoakes commented on #20401
That's right @ericl

[2021-11-18 01:25] #19704 closed

[2021-11-18 01:26] pcmoritz commented on #20513
Thanks, that indeed fixed the problem!

[2021-11-18 01:26] #20513 closed

[2021-11-18 01:38] sijieamoy opened #20520 "[Bug] RaySystemError: System error: Ray has not been started yet. You can start Ray with 'ray.init()'."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Running a Ray Tune job on Anyscale. After ~40min and finishing 6 trials, it errored out:
[code]

### Versions / Dependencies

ray, version 1.8.0
Python 3.8.12
Mac OS

### Reproduction script

[

[2021-11-18 01:43] #9265 closed

[2021-11-18 02:23] ericl commented on #12635
I've updated the description given the current state of things. The proposal is to extend the ray.put with owner API to allow GCS owned objects. In the future, we can then enable automatic transfer to GCS.

[2021-11-18 04:02] iycheng opened #20524 "[workflow] log is not pushed to driver if run multiple times"
[code]
Run the above script multiple times and only the first one will print the log correctly. Need to always push the log to the driver.

[2021-11-18 04:27] jovany-wang commented on #19822
@scv119 @ericl How's this going?
I believe this #19593 is related.

[2021-11-18 04:33] lixin-wei commented on #20483
nice!

[2021-11-18 05:12] iycheng commented on #20416
Close this one since we decide not to cherry-pick it https://github.com/ray-project/ray/pull/20437#issuecomment-972365927

[2021-11-18 05:12] #20416 closed

[2021-11-18 05:17] zhe-thoughts commented on #20258
Do we have a leading theory? Thanks

[2021-11-18 05:17] #20340 closed

[2021-11-18 05:23] #20520 closed

[2021-11-18 05:55] scv119 commented on #19822
one more pr to go (https://github.com/ray-project/ray/pull/20177)

[2021-11-18 07:17] gjoliver opened #20526 "[Bug] [RLlib] Reporting of total_time_steps_trained seems to be broken"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

https://github.com/ray-project/ray/blob/master/rllib/execution/metric_ops.py#L18

parameter by_steps_trained is only used for filtering, not stats reporting.
steps_trained is likely more important

[2021-11-18 07:30] jovany-wang commented on #20470
Will investigate more details and then discuss here.

[2021-11-18 08:01] #18919 closed

[2021-11-18 10:20] #19305 closed

[2021-11-18 11:51] rkooo567 opened #20534 "[Feature] Plan to improve `RayActorDiedError`."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

### Status quo
`RayActorDiedError` is an infamously bad error message known in Ray.

When you call `ray.get` on actor method, `RayActorDiedError` is raised when something goes wrong. The problem is that the error message doesn't have

[2021-11-18 11:56] rkooo567 commented on #20534
cc @scv119 @ericl This is the plan for improving actor died error message. I already have a semi-working prototype here https://github.com/ray-project/ray/pull/20535. I will stack PRs since it is a bit complex.

Here's the example (not completed) output when I killed the actor using `ray.kill`.
[code]

[2021-11-18 13:05] souravraha commented on #20131
I have tried the following code. I have exhausted commenting/uncommenting all possible permutations and combinations of the
[code]
code in all the places as indicated below. But every time things ended in the usual error.

[code]

[2021-11-18 14:16] yuanchi2807 commented on #20515
Confirming actor_id respects namespace?

[2021-11-18 15:15] klwuibm commented on #20515
@iycheng In the following code segment, would the estimator inside `new_va` be a different object from the estimator inside `old_va`?  Or `new_va` and `old_va` might still share the same estimator object?
[code]

[2021-11-18 16:15] #20440 closed

[2021-11-18 18:47] #18027 closed

[2021-11-18 19:36] iycheng commented on #20515
@ericl  I think it's because you don't have the Actor class so you can't actor2.set_state(actor1.get_state)
Btw, the reason put it in this way is that the code could be very simple&efficient to implement, just copy-paste the data underneath.

[2021-11-18 19:39] #16918 closed

[2021-11-18 19:39] iycheng commented on #20515
@yuanchi2807 right now we don't have namespace concept, so no namespace here. But later when we add it, it should have an extra field: from_namespace
It'll be nice if @lchu-ibm  can help on this one https://github.com/ray-project/ray/issues/18818

[2021-11-18 19:43] iycheng commented on #20515
They will be different, even in the storage layer.

you should treat them as a different virtual actor.

[2021-11-18 19:44] iycheng commented on #20515
btw, i update the api to use workflow.get_actor. please check the description for the update

[2021-11-18 19:47] iycheng opened #20545 "[release] revert nested task feature"
This feature has a big impact on ray internal scheduler, we shouldn't include this in 1.9 release.
Need to revert https://github.com/ray-project/ray/pull/20438

[2021-11-18 19:51] #20503 closed

[2021-11-18 19:59] lchu-ibm commented on #20515
@iycheng sure, I can look into the namespace feature.

[2021-11-18 20:25] worldveil opened #20550 "Getting checkpoints from Tune cloud storage into Serve is difficult right now"
[code]

This isn't exactly ideal for a couple reasons:

1. Users have to figure out the S3 URL for the exact model in question
2. There's some messy, cloud-specific syncing that has to happen to get the model back to Serve deploying process (ie: `subprocess.run(["gsutil", "rsync", gcs_path, model_path], check=True)`)

Wondering how we can improve this experience.

[2021-11-18 22:42] avnishn commented on #20171
I believe this is closed by #20205

[2021-11-18 22:42] #20171 closed

[2021-11-18 22:43] avnishn commented on #19804
can you both provide me with scripts for reproducing your issues. If its possible to post them in google colab links that would also be great.

[2021-11-18 22:45] avnishn commented on #19770
I'm going to close this due to inactivity. Feel free to reopen if you have any additional questions/comments

[2021-11-18 22:45] #19770 closed

[2021-11-18 23:01] zhe-thoughts commented on #20545
@iycheng The revert PR has been merged and cherry picked, right? Should this issue still be open?

[2021-11-18 23:31] worldveil commented on #20338
@krfricke it seems like all the default Tune examples will fail on a k8s cluster with default checkpointing (rsync).

Can we add an error message here pointing users to cloud checkpointing docs if it fails in this case?
https://docs.ray.io/en/master/tune/user-guide.html#using-cloud-storage

"Are you running on a k8s or managed cluster? rsync will not function due to a lack of SSH. You'll need to u

[2021-11-18 23:49] jiaodong opened #20553 "[Bug] Potential job submission bug with jobs cli"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

Jobs log return empty string after print statement and halted in sleep.

### Versions / Dependencies

n/a

### Reproduction script

❯ ray job submit --address="127.0.0.1:8265" -- "python -c 'p

[2021-11-18 23:53] jiaodong commented on #20553
basically logs only return something if the job reached succeeded state, but not when the job is still executing or stopped before it's done. But we should expect `logs` API to return intermediate value while the job is still running.

[2021-11-18 23:56] #20545 closed

[2021-11-18 23:58] stephanie-wang opened #20554 "[Bug] OwnerDiedError when a task worker is reused as an actor"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

This bug happens when a worker creates an ObjectRef while executing a task, then later gets reused as an actor. If the actor goes out of scope, Ray force-kills the process without waiting for a

[2021-11-18 23:58] stephanie-wang commented on #20554
@ericl, this bug is related to the "context" thing we were discussing about tracking when ObjectRefs were created.

[2021-11-19 00:29] ericl commented on #20554
Hmm what are some ways we could fix this? What if workers owning objects are not eligible for being converted into an actor?

[2021-11-19 00:31] stephanie-wang commented on #20554
Yeah, so I think we could:
1. Not reuse workers for actors, either in general or if they own objects.
2. Drain actors on force-kill if they own objects from a previous task. I think this one is not as good because the actor may have state that we want to clean up.

[2021-11-19 00:45] #15452 closed

[2021-11-19 00:45] #15707 closed

[2021-11-19 00:45] #15674 closed

[2021-11-19 00:50] jiaodong commented on #20553
After a bit more digging the issue appears to be that logs file doesn't have anything flushed if the script hasn't returned, even though it might already executed print statements that writes to stdout. I will followup on this.

[2021-11-19 00:54] ericl commented on #20554
Right, I think the second option isn't workable since actors often have GPU
state that requires killing the process to clean up.

On Thu, Nov 18, 2021, 4:31 PM Stephanie Wang ***@***.***>
wrote:

[2021-11-19 01:21] jjyao commented on #18730
Confirmed with @worldveil that popups are gone.

[2021-11-19 01:21] #18730 closed

[2021-11-19 02:45] #11457 closed

[2021-11-19 02:45] #15604 closed

[2021-11-19 03:04] kfstorm commented on #20498
@mwtian Do we have a plan for the underlying storage for GCS? Is it a service out of the Ray cluster?

[2021-11-19 03:17] kfstorm commented on #19745
@ericl Tasks with `@ray.remote(num_cpus=0)` will still be able to schedule to the head node, right?

[2021-11-19 03:51] kfstorm commented on #20500
An interesting topic. 👍

[2021-11-19 04:23] Therealchainman commented on #19397
I had the same error message for a simple ray workflow as well using s3 storage.  Any progress on this bug?

[2021-11-19 05:55] kangsan0420 opened #20563 "[Feature] Multiple trials in a single GPU"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Similar to open issue -> https://github.com/ray-project/tutorial/issues/141

According to: https://docs.ray.io/en/latest/tune/user-guide.html, when I have 4 gpus and set resources_per_trial['gpu'] = 4, then 4 trials will run at the sa

[2021-11-19 06:10] #14562 closed

[2021-11-19 06:10] #16305 closed

[2021-11-19 06:10] #15635 closed

[2021-11-19 06:39] iycheng commented on #20338
I've put it in the release blockers spreadsheet. Please don't duplicate it there.

[2021-11-19 06:44] iycheng commented on #20385
@gjoliver I'm reopening this since it still fails https://buildkite.com/ray-project/periodic-ci/builds/1716#70d3fc92-7874-4cfb-a2c7-1a4dc4f389e4

The error looks similar as before:
[code]

[2021-11-19 08:02] gjoliver commented on #19920
See this again, check out this wheel:

https://ray-ci-artifact-branch-public.s3.amazonaws.com/2d50bf13025272185a41f7dcab66bab994a99719/tmp/artifacts/.whl/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl

it actually has a commit hash of add2450b92bcb8c18b6fef7667c8acb9e3cc63cd

[2021-11-19 08:38] cirrostratus1 opened #20564 "[Bug] Wrong observation type when creating videos during evaluation of AlphaZero algorithm"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Run AlphaZero algorithm with enabled video generation during evaluation. The process crashes due to observation not contained in the observation space:

[code]

The problem is that the observation

[2021-11-19 09:17] #20338 closed

[2021-11-19 10:07] L-Z-7 opened #20567 "[Feature] Realease memory manually"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

When I run the code below, I wil get 4G data.
[code]
But, in fact, I only need 2G data.
I need to `gen_data` parallelly, but I dont need it stay in memory.

### Use case

_No response_

### Related issues

_No response_

### Are you w

[2021-11-19 10:58] Marvin-TMG opened #20568 "[Feature] Job Scheduler with Multi Job Execution"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hi all,

Thanks for the amazing efforts developing this library. We are interested in using this library for model execution and have seen the ongoing efforts to bring a job scheduler to Ray.

For our specific use case, we need to run

[2021-11-19 16:03] gjoliver commented on #20385
have trouble re-produce it. ok.

[2021-11-19 16:14] devin-petersohn commented on #20388
@wuisawesome Is someone available to take a look? This appears to be an object store issue.

[2021-11-19 16:31] wuisawesome commented on #20388
@devin-petersohn @mvashishtha are y'all able to reproduce this without a dataset? Or really ideally, simulate modin's behavior here with just the ray core?

cc @scv119 @rkooo567

[2021-11-19 17:36] #18890 closed

[2021-11-19 17:51] grechaw opened #20572 "[Bug] key error when fetching. error logs from Ray Dashboard"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

When I see that there are error logs in a cluster, I expect to be able to click and view them.  Instead I get a key error

```Error: Traceback (most recent call last): File "/Users/cgreer/mini

[2021-11-19 18:32] jiaodong opened #20574 "[Release Blocking] Ensure minimal install works without `requests` module for jobs sdk"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

We're using delayed import for `requests` in order to make job submission client work, but for minimal install we don't have the module, thus shouldn't add typechecks expecting it.

### Versio

[2021-11-19 19:00] ericl opened #20575 "Support snappy compression for spilled objects"
## Overview

Currently, objects are spilled uncompressed. However, in many cases data is highly compressible (e.g., Arrow column batches). We should consider compressing objects prior to spilling. This is likely to speed up many Dataset use cases.

One complication is that this may make direct serving of data from disk a little more complex, as we can't directly index into compressed data.

cc @rk

[2021-11-19 19:05] #19822 closed

[2021-11-19 19:09] #19804 closed

[2021-11-19 19:10] avnishn opened #20578 "RLlib; Pre-checks/better failure behavior Failure modes environment checking gym environments"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

add checks for gym environments

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2021-11-19 19:11] #20578 closed

[2021-11-19 19:12] avnishn opened #20579 "[RLlib; Pre-checks/better failure behavior] Base Env Checks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Env checks for base envs

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2021-11-19 19:13] avnishn opened #20580 "[RLlib; Pre-checks/better failure behavior] Multi-agent environment checks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

checks for multi agent environments

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2021-11-19 19:14] avnishn opened #20581 "[RLlib; Pre-checks/better failure behavior] Merge env checks onto critical code path"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

_No response_

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-11-19 19:14] avnishn opened #20582 "[RLlib; Pre-checks/better failure behavior] Add flags for env checks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Add a flag to enable/disable env checks that can be set in the config dict.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2021-11-19 19:23] ericl commented on #20497
Didn't realize this duplicated https://github.com/ray-project/ray/issues/18885, let me just link that instead.

[2021-11-19 19:23] #20497 closed

[2021-11-19 21:44] amogkam opened #20587 "[Bug] [Runtime Envs] Env vars caching across Ray sessions"
It seems like environment variables specified in runtime envs are caching across Ray sessions.

This script fails when I would expect it to pass.

[code]

If I remove the

[code]
lines at the bottom, then this works fine.

[2021-11-19 21:52] scv119 commented on #19593
FYI  #19822 is merged

[2021-11-19 22:17] scv119 opened #20588 "[Dataset][Feature] Have a better way to specify the window size for users"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently it's not easy to set the window size for Users. Sometimes it's even not possible to set window size when the parquet file it too large, as the windowing is implemented at file level not block level.

We need have a better wa

[2021-11-19 22:39] RodgerLuo opened #20589 "[Bug] Tuple Action Space in Behavior Cloning"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I’m using this [saving experience example](https://github.com/ray-project/ray/blob/releases/1.8.0/rllib/examples/saving_experiences.py) to collect a dataset for Behavior Cloning (BC) algorithm. Th

[2021-11-19 22:44] pcmoritz opened #20590 "[Feature] Put in linting for documentation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

E.g. make sure that sphinx checks all parameters are documented

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-11-19 23:04] #20574 closed

[2021-11-19 23:23] amogkam commented on #20383
FYI @iycheng the failure is due to an app config change. We confirmed that reverting this back fixes the test and the revert has been merged on master: https://github.com/ray-project/ray/pull/20397

[2021-11-19 23:26] amogkam commented on #20385
Hey @iycheng this is resolved on master by  #20387 and #20439. Here's the passing test from earlier today https://buildkite.com/ray-project/periodic-ci/builds/1726#69928313-bceb-4fb7-b3ba-dc819d425be5

[2021-11-19 23:54] matthewdeng opened #20593 "[train] rename `BaseWorkerMixin` Actor logs"
Currently Ray Train distributed worker methods are executed through a `BaseWorkerMixin` class which may lead to some confusion. Example:
[code]

Ideally we should be able to override these generic worker classes in the logs to something more specific e.g. `DistributedTrainWorker`.

[2021-11-19 23:56] jiaodong opened #20594 "Documentation for oss job submission"

[2021-11-19 23:57] #19862 closed

[2021-11-19 23:57] jiaodong opened #20595 "Authentication with remote ray cluster for job submission"
We need to provide ability to pass in header for each request made to job server.

[2021-11-19 23:57] architkulkarni commented on #20587
I was able to reproduce this on master.

Strangely, the following minor variation passes:
[code]
This should be a clue.

[2021-11-19 23:59] mvashishtha commented on #20388
@wuisawesome here's an example that doesn't use Modin. We do need the data to be about 0.8 GB total, as it is here, to see a major difference in speed:

[code]

This takes 224 and 132 seconds on two trials on the macbook from the first comment, but just .69 seconds on the windows computer from the first comment.

[2021-11-20 00:04] jiaodong opened #20596 "Have e2e docs script running in CI and use that to empower oss docs page"

[2021-11-20 00:10] architkulkarni commented on #20587
I think what's happening is that Ray actors and tasks inherit all environment variables *at the time ray.init() was called*.  In that case, this is unrelated to runtime envs and working as intended, though I agree the behavior is confusing.  @amogkam does this make sense?  Here's a repro:

[code]

[2021-11-20 00:13] architkulkarni commented on #20587
In other words, the "1" that was being read was not the "1" from the previous session, but rather the "1" from the driver script in your repro at the line `os.environ[env_var_name] = "1"`.

If the behavior is sufficiently confusing perhaps it's worth making a new issue for this.

[2021-11-20 00:13] richardliaw opened #20597 "[jobs/runtime env] runtime env requirements txt doesn't work"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

It's giving me:

[code]

when I run

[code]

[code]

### Versions / Dependencies

master

### Reproduction script

 ray job submit --runtime-env-json '{"pip": "requirements.txt"}' --working-dir .

[2021-11-20 00:29] amogkam commented on #20587
Ah got it, that makes sense. Thanks for investigating this @architkulkarni! Agreed this is a bit confusing, but it's not a runtime env issue so going to close this.

[2021-11-20 00:29] #20587 closed

[2021-11-20 00:54] architkulkarni opened #20599 "[Serve] Intelligently remove replicas to relinquish as many nodes as possible"
Currently when a Serve deployment is redeployed with a smaller `num_replicas`, the replicas that are shut down are chosen arbitrarily.

Instead, we should shut down replicas so as to maximize the number of nodes with no actors, so the Ray Core autoscaler can shut down those nodes.

The best strategy for doing this is a little subtle because there are a few different factors to consider:
- Replicas

[2021-11-20 00:59] #20594 closed

[2021-11-20 01:15] franklsf95 opened #20601 "[Bug][rllib] Tune PyTorch Lightning example fails"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

I'm running this example https://docs.ray.io/en/latest/tune/examples/mnist_ptl_mini.html and got the following error:

[code]

### Versions / Dependencies

Ray 1.8.0
Python 3.6 from AWS Deep Le

[2021-11-20 01:16] amogkam commented on #20601
Hey @franklsf95 can you try with PTL 1.4? It seems like 1.5 has some changes that break the Tune integration.

[2021-11-20 01:21] franklsf95 commented on #20601
@amogkam yea looks like that is the problem. I guess more generally is there a `requirements.txt` file for these examples? Would be very helpful.

[2021-11-20 01:23] amogkam commented on #20601
Yeah the versions we use for CI are in `ray/python/requirements/ml/requirements_tune.txt`. But that's a good point, we should do a better job of documenting what versions all of our examples run against.

[2021-11-20 01:26] franklsf95 commented on #20601
Thanks. Yes that would be helpful in the future. Feel free to close this now.

[2021-11-20 01:33] iycheng opened #20602 "[release] `many_actors` failed"
I actually run it twice and both failed.
https://buildkite.com/ray-project/periodic-ci/builds/1716#0873e354-d1c4-462f-87be-63307f0cb870

[2021-11-20 02:08] jovany-wang commented on #19593
Thanks @scv119
I will confirm if this issue is addressed later.

[2021-11-20 02:39] wuisawesome commented on #20602
@rkooo567 can you look into this one?

[2021-11-20 02:40] wuisawesome commented on #20388
@mvashishtha thanks, do you also mind sharing your `ray.cluster_resources()` and the ram on the machines?

[2021-11-20 07:15] jon-chuang commented on #17499
Why isn't a user exception just another user type that can be treated opaquely and handled by the user-side code instead of needing special handling by Ray?

[2021-11-20 07:27] jon-chuang commented on #18149
Is there a roadmap for this? What would language interoperability mean/look like? Does this mean merely to call C++ methods from Java/Python or vice versa?

[2021-11-20 07:34] iycheng opened #20606 "[release] weekly test `serve` failed"
Failed link: https://buildkite.com/ray-project/periodic-ci/builds/1716#918128e3-cfaa-4133-8985-c8629a8bc3d1
This might be a regression caused by cherry-pick since it passes last time before cut (https://buildkite.com/ray-project/periodic-ci/builds/1621#f1cf0b10-d153-4709-9786-1868f2a8ed1b)

It might be related to https://github.com/ray-project/ray/issues/20602 which is also a regression.

[2021-11-20 09:42] jon-chuang opened #20609 "[Feature] Rust API for Ray"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

## Problem Description
### Introduction
Ray currently allows for a very attractive distributed programming model that can be embedded within existing programming languages, offering low latency and fine-grained control of tasks and sh

[2021-11-20 09:57] richardliaw opened #20610 "[serve] Serve swallows errors"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

I was not able to understand why my deployment was failing:

[code]

My code was:

[code]

Turns out the problem was that I didn't import os. However, the exception was not thrown to me, so it

[2021-11-20 10:14] newmanwang opened #20611 "[Bug] Create named actor failed with error "Actor with name already exists", but get_actor raise "ValueError: Failed to look up actor with name""
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

in one console:
[code]
actor with name 'some_name' started normally.

then, in another console:
[code]
kill return successfully.

then, in the third console, try to reuse name 'some_name' again

[2021-11-20 10:20] rkooo567 commented on #20611
Can you see if you can repro this in the master? We had bunch of fix in get_actors api recently, and this might have fixed already

[2021-11-20 12:02] newmanwang commented on #20611
Thank a lot for you quick response, I really appreciate it. I will give it a try soon

[2021-11-20 14:20] CavalloneChen opened #20612 "[Bug] Pid=None after running multiple jobs"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I have one python script written with ray. There are one actor class and multiple task functions in that script, and gpus are used. When I run my script with different parameters, the first to

[2021-11-20 15:59] newmanwang commented on #20611
Still, name can not reused after named actor being killed. I forget to mentioned that this named actor is also a detached actor.

in one console:
[code]
actor with name 'some_name' started normally.

then in another console:
[code]
kill return successfully.

in the third console, try to reuse name 'some_name' again:
[code]
got error:
[code]

go back, get_actor, 'some_name' actor not found:
`actor

[2021-11-20 16:20] zhe-thoughts commented on #20385
Yup this is not a release blocker. Thanks for the diligent checking @iycheng !

[2021-11-20 16:23] newmanwang commented on #20611
`RAY_LOG(INFO) << "Actor name " << actor->GetName() << " is cleand up."; `
this line at gcs_actor_manager.cc:532 is never called according to gcs_server.out when estroying actor, actor id = c52a129c3ab2e250ab0c2f3201000000, job id = 01000000

[2021-11-20 16:42] gjoliver commented on #20385
This is a test with #20439 picked to 1.9rc0 branch that passed without problem.
https://github.com/gjoliver/ray/commits/releases/1.9.0rc0
I am going to close this issue now, since we are not cherry-picking, and there is nothing left to do.
Thanks all.

[2021-11-20 16:42] #20385 closed

[2021-11-20 17:13] rkooo567 commented on #20611
Let me try reproduce the issue next week. Please ping me again if I don’t get back here!

[2021-11-20 21:00] DmitriGekhtman commented on #20402
This looks pretty bad -- I'm seeing in this in other contexts where we try to restart Ray on a node.

[2021-11-20 23:53] DmitriGekhtman opened #20614 "[Bug][Core][Autoscaler] Misconfigured object store size on GCP with Docker"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core and Ray Autoscaler

### What happened + What you expected to happen

https://discuss.ray.io/t/core-controlling-object-store-size/2015/2

Object store size for Ray nodes appears to sometimes get misconfigured on GCP.
Possible to mitigate by man

[2021-11-21 00:43] #19565 closed

[2021-11-21 01:53] DmitriGekhtman opened #20615 "[Bug] [Core][Autoscaler] Stuck downscaling worker nodes, don't know why GCS thinks they're still running"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Autoscaler

### What happened + What you expected to happen

With a similar cluster setup as in
https://github.com/ray-project/ray/issues/20614,
I got stuck with a few workers that refused to time out.

I manually extracted load metrics b

[2021-11-21 01:57] rkooo567 commented on #20615
+ 1 on observability.

[2021-11-21 04:27] iycheng opened #20616 "[release] `gcp_k8s_durable_upload` test failure"
I was told it's just flaky. But I manually run it 8 times (https://buildkite.com/ray-project/periodic-ci/builds/1727#50f2c990-9fe4-4765-a30b-5c13fc9a3962) and it still failed.

The error seems are from the infra (Startup error:Exception: Ray cluster ses_rvPWDHTtYjVThNxKfQfh58aS takes too long to get ready.)

@yifeif  since you are the oncall, could you take a look?

[2021-11-21 09:24] newmanwang commented on #20611
It' s a bit urgent, so I built a test enviroment and it turned out that in CreateActor in gcs_actor_manager.cc, actor in registered_actors_ is replaced by a new actor object with namespace set as job's namespace. If that is not intented, I woulk like send a pr that has been test

[2021-11-21 16:47] #16974 closed

[2021-11-21 17:02] chunweiyuan opened #20618 "[Bug] Remote task memory leak from numpy.concatenate"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Running this snippet and monitoring via top, one would see the RES of the workers incrementing with each loop iteration (the worker that runs concat), and then something like this this happens:

[2021-11-21 17:05] iasoon commented on #20610
A more minimal reproduction:

[code]

In addition to logging the error, would it be desirable to bring the exception back to the `deploy` call site when possible (such as in #20617)?

[2021-11-21 17:22] raghuvarranvh commented on #10431
Hello @gumupaier  - can you please post where you changed the max_call option? I am facing the same error in a similar situation and your inputs will be helpful.

[2021-11-21 19:26] joseph-long opened #20619 "[Bug] Specifying runtime_env leads to failure on Apple ARM64"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Having recently obtained an Apple ARM laptop, I'm in the process of bringing up my development environment on it. I've followed https://docs.ray.io/en/master/installation.html#m1-mac-apple-sili

[2021-11-21 20:34] #16960 closed

[2021-11-21 21:34] devin-petersohn commented on #20388
@wuisawesome Machine specs are in the first post.

[2021-11-21 21:37] wuisawesome commented on #20388
@devin-petersohn I'm mostly wondering about RAM specifically (I don't think it's mentioned) because I'm wondering if we're getting object spilling on the mac repro. Btw when I run the script locally (also a 16inch 2019 macbook pro), it take 6s to run (e2e including the `ray.init` and everything).

[2021-11-21 21:41] devin-petersohn commented on #20388
I see, that makes sense. The Mac machine has 16GB of memory, and there should be no object spilling.

Could this be a dependency issue? Do you reproduce the issue with a fresh conda environment?

[2021-11-21 21:42] mvashishtha commented on #20388
@wuisawesome I edited my `cluster_resources` and RAM into the Mac specs in my first comment.

[2021-11-22 00:09] rkooo567 commented on #20619
Cc @edoakes

[2021-11-22 03:39] raulchen commented on #18149
Hi @jon-chuang , there is no concrete roadmap for C++ API at this moment.
FYI, [this](https://docs.ray.io/en/latest/cross-language.html?highlight=cross-language) is how cross-language looks like between Python and Java.
But there are still some [limitations](https://github.com/ray-project/ray/issues/20372).
We are still investigating how to improve that. So C++ will likely come later.

[2021-11-22 05:32] mwtian commented on #20609
Hi @jon-chuang, great to see this effort! I think the community will be interested in the Ray Rust API proposal, and pros and cons for building on top of Ray C++ API vs core worker API.

Implementing Ray Java and C++ API have been large undertakings, so please don't shy away from reaching out to the Ray team. Ray team are active in the [project slack channel](https://docs.google.com/forms/d/e/1FAI

[2021-11-22 05:33] iycheng commented on #20606
Close it since retry succeeds https://buildkite.com/ray-project/periodic-ci/builds/1716#51d5ea79-7e04-477f-ba22-8bcdbff5b896

[2021-11-22 05:33] #20606 closed

[2021-11-22 05:43] DonYum opened #20624 "[board] Ray Board cannot open and consume too much network bandwidth"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

Start ray with board, and ran for hours with dense workload, open ray board, we'll find the main page always 'loading' and network on board is too high! It almost touch to 30Mbps.

E.X. : Befo

[2021-11-22 06:01] wuisawesome opened #20625 "[Bug][Dataset] Inference nightly test download regression"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

There was a large performance regression in the inference nightly test. Bisecting showed that it was caused by #199660. Before that commit the download stage of the pipeline was taking 50s to com

[2021-11-22 07:42] raulchen commented on #20609
Glad to see this proposal! I'm a newbie to Rust. But based on my experiences from Java and C++ API, here are some thoughts that might be useful.
1. Local mode vs cluster mode: local mode in other languages are still incomplete. That is partially because some APIs are semantically incompatible with local mode (kill actor for example), partially because of the extra work. So in our practice, users d

[2021-11-22 07:56] kfstorm commented on #17499
@jon-chuang If I understand this correctly, you are asking what's the difference between wrapping `RayTaskException` on user exceptions or not, and why we choose to add this wrapper, right?

I believe we add this wrapper exception to explicitly inform users that a user exception occurred remotely instead of locally. If we don't add this wrapping, users may be confused about the stack trace.

BTW,

[2021-11-22 08:06] iasoon commented on #20599
Intuitively I would expect a downscaling strategy to free up as many nodes as possible. In this sense, I think it makes sense to prioritize deallocating from nodes that only have replicas from the deployment being downscaled - but only when we can remove enough replicas to free up the node. When this is not possible you could revert to the first strategy @architkulkarni proposed (or implement a mo

[2021-11-22 09:24] mattip commented on #20173
The `test_actor_call_order` test in `test_basic_2.py` also exhibits this pattern. If I
- add a print in the Actor function `inc`
- add a sleep(large number) to the end of the function to not clutter the logs with shutdown messages
- filter out the multiple messages about metric reporting (this PR would help with reducing the noise #20426)
- reduce the num_cpus to 2 `num_cpus=2`

On windows I get ~

[2021-11-22 09:39] raulchen commented on #20356
I'm in favor of `Optional`. Throwing a ValueError when something is absent is a common practice in Python, but not in Java.

[2021-11-22 12:21] #19447 closed

[2021-11-22 12:22] #18247 closed

[2021-11-22 13:06] hpaantee opened #20634 "[Bug] Cannot start cluster if other user is already running one"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

I tired to start a cluster via `ray up cluster.yaml` on a multi-user system. However, I receive the error that ray cannot create the temporary directory `/tmp/ray_current_cluster`, as this

[2021-11-22 15:36] mattip commented on #20173
Maybe the `is_idle` shutdown is a symptom of the problem, not the cause. If I disable this by forcing `is_idle = false;` I still get only 8-9 tasks completed on windows.

[2021-11-22 17:07] sven1977 commented on #20589
Hey @RodgerLuo , thanks for filing this. Taking a look ....

[2021-11-22 17:23] #20610 closed

[2021-11-22 17:52] stephanie-wang commented on #20408
@rkooo567 I was just trying this out and it looks like the fixture actor isn't always getting scheduled on the head node, so we end up sometimes killing the driver node.

[2021-11-22 18:42] simon-mo commented on #19955
closing in favor of docs

[2021-11-22 18:42] #19955 closed

[2021-11-22 19:37] amogkam opened #20642 "[Train] Add MLflow Logger Callback"
Add a built-in callback to Ray Train for logging to MLflow. It can follow the same structure as the logger callback for Ray Tune

[2021-11-22 19:38] amogkam opened #20643 "[Train] FP16 support"
Have built in support for torch native mixed precision in Ray Train

[2021-11-22 19:39] amogkam opened #20644 "[Train] Improve Docs Landing Page"

[2021-11-22 19:39] yifeif commented on #20616
The GCP aica cloud in production is currently broken. Is there anyway we can run this in a different cloud? Say the aws aioa cloud?

[2021-11-22 19:40] yifeif commented on #20616
If this needs GCP clouds, can we run from staging?

[2021-11-22 19:40] amogkam opened #20645 "[Train] Better system observability/profiling"

[2021-11-22 19:41] amogkam opened #20646 "[Train] Imagenet Example"
Scope out an imagenet + finetune resnet example with Ray Train. Also possibly due a comparison with Sagemaker for this example

[2021-11-22 19:43] amogkam opened #20647 "[Train] Support for elastic training"
Ray Train already has fault tolerant training, but it cannot continue training with fewer workers currently.

[2021-11-22 19:44] amogkam opened #20648 "[Train] Deepspeed support"
Add support for sharded data parallel or model parallel training with Deepspeed

[2021-11-22 20:04] iycheng commented on #20616
Do you have some eta about this? @yifeif  I can rerun this later once it's fixed.

[2021-11-22 20:46] #20526 closed

[2021-11-22 20:53] robertnishihara opened #20650 "[API] Disallow @serve.deployment() with no arguments"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

Both of the following work

[code]

[code]

We should disallow the second one (with a great error message of course). Similarly, you can do `@ray.remote`, but you can't do `@ray.remote()`.

##

[2021-11-22 20:54] iycheng commented on #20602
[code]

[2021-11-22 21:03] yifeif commented on #20616
We are gonna need to recreate the gcp cloud. cc: @allenyin55 how close are we w/ GCP terraform?
Would any of the ^ alternatives work for the release?

[2021-11-22 23:50] jiaodong commented on #20619
cc: @architkulkarni can you help to provide more context if runtime_env is supposed to work and supported for Apple ARM64 ?

[2021-11-23 00:07] shrekris-anyscale commented on #20619
I believe the `runtime_env` feature requires the dependencies from `ray[default]`. @joseph-long Could you try running `pip install ray[default]` and then retrying the reproduction script?

[2021-11-23 00:08] joseph-long commented on #20619
That is how I installed it initially, but for completeness:

[code]

[2021-11-23 00:13] joseph-long commented on #20619
[code]

[2021-11-23 00:24] chunweiyuan commented on #20618
Update:

If I define

1.) success = finishing the i-loop without worker failure
2.) `n` = size of `list_of_arrays`
3.) `st` = sleep time in seconds

then

`4 cores, 60G mem`:
n=1000, st=10 --> failure
n=900, st=10 --> success
n=900, st=5 --> fails
n=800, st=5 --> success

`4 cores, 240G mem`:
n=1000, st=10 --> success

Am I right in inferring that this is not necessarily a memory leak issue, but r

[2021-11-23 00:53] simon-mo commented on #20650
@robertnishihara what's wrong with both of them?

This is not the case of having "one way to do things" because:
- we advocate `@serve.deployment` for simple use and with `@serve.deployment(...)` for advanced configuration. You have to know both.
- the empty `@serve.deployment()` doesn't do any harm and does not exist in the doc. if a user stumble on to this, it cause no harm. forcing users to mig

[2021-11-23 02:23] amogkam opened #20658 "[Train] Run release tests with NCCL"
Make sure to set NCCL_SOCKET_IFNAME env var to "ens3"

[2021-11-23 03:12] kfstorm commented on #20356
I'm not sure what's the common practice in Java. But since we throw an exception if the object is lost on `Ray.get(objRef)`, shouldn't we do the same for `Ray.getActor(name)`?

[2021-11-23 03:24] jiaodong opened #20659 "[Bug] Job submission seems to leak bash processes"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

repeatedly do

[code]

And ctrl+c them. We seem to have high # of hanging bash processes left.

<img width="1950" alt="Screen Shot 2021-11-22 at 7 22 49 PM" src="https://user-images.githubuser

[2021-11-23 03:27] #16981 closed

[2021-11-23 03:27] #16982 closed

[2021-11-23 03:31] jiaodong commented on #20659
After `killall -9 bash` and repeatedly submit & interrupt job submission again, this issue seems not reproducible again. It could be other actions i took locally, will leave it open for now.

[2021-11-23 05:39] iycheng commented on #20602
https://github.com/ray-project/ray/pull/20662

[2021-11-23 06:57] #16984 closed

[2021-11-23 07:03] franklsf95 opened #20665 "[Bug] Prometheus Metrics Exporting not working"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I launched Ray successfully with a metrics export port, but then that port is unreachable. Tried the same thing on macOS and it works.

[code]

### Versions / Dependencies

- Problem exists on

[2021-11-23 08:29] PatTheSilent commented on #19071
@DmitriGekhtman Sorry to dig this one out but I'm seeing the same errors as were originally reported. All new pods are spitting out `Not enough permissions to watch for resources: changes (creation/deletion/updates) will not be noticed; the resources are only refreshed on operator restarts.`
I don't have any raycluster resources deployed yet (helm chart deployed with `operatorOnly: true`) and use

[2021-11-23 08:42] jovany-wang commented on #20189
@clay4444 Who is the owner of this issue? :)
I saw that you're willing to submit a PR in the description, but this issue is assigned to me and @kfstorm .

[2021-11-23 08:47] clay4444 commented on #20189
@jovany-wang   oh, sorry, I will submit a pr as quickly!

[2021-11-23 09:03] shahar-fleischman opened #20667 "[Feature]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hi,
I have 2 requests:
1. I would like to do log rotation for logs in ray log dir(monitor,dashboard, and all other ever growing files) right now if you rotate the log, the dashboard process keeps writing to the old file, and is not us

[2021-11-23 10:37] mattip commented on #20173
If I change the test and turn the normal remote task into an actor remote task the test passes. So something about mixing normal tasks and actor-based tasks?

[2021-11-23 11:19] rkooo567 commented on #20609
Btw, we started a thread here; https://ray-distributed.slack.com/archives/C01GJCCA2NT/p1637559584012400

Also, feel free to ping `Mingwei Tian` from the public slack channel! We'd love to help making the integration successful :)!

[2021-11-23 13:25] SongGuyang opened #20672 "[Bug] bazel build failed in Windows"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

This is my PR https://github.com/ray-project/ray/pull/19511. I add some runtime env protobuf and then `common_proto` depends on `runtime_env_common_proto`. This change leaded to a build failure

[2021-11-23 14:05] rkooo567 commented on #20166
I will keep tracking of this issue and work with Yi to properly resolve the problem once we use Internal KV for initialization.

[2021-11-23 16:02] jovany-wang commented on #20470
@ericl I understood the 10min interval by default is used for addressing the cycle reference issue. But the cost of `System.GC()` in Java is still expensive because it stops the world. We set it to 24h for our user online applications, they still complain about it because all workers of the application stop the world at almost the same time every day.
(Note that many workers in production use more

[2021-11-23 16:42] simon-mo opened #20675 "[Serve][Blog] Code still mentioned create_backend."
https://www.anyscale.com/blog/ray-and-mlflow-taking-distributed-machine-learning-applications-to

Trying to create a backend seems to have a different signature now:
client.create_backend("mlflow_backend", MLFlowBackend, model_uri)
-> AttributeError: 'Client' object has no attribute 'create_backend'

[2021-11-23 17:43] jovany-wang commented on #6715
Hi @ericl @kfstorm ,
We're planing to contribute long-running flag to community. Things look like:
1. Flag is in job_config. so the API should look like:
[code]
2. The behavior of long running job is making actors created in driver as detached. And then the the job is not offlined even if the driver exits.

3. We can use job submission pages and APIs, or Ray command line tool to offline a long run

[2021-11-23 18:00] jjyao opened #20678 "[Bug] [Autoscaler] Autoscaler starts multiple head ndoes"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Autoscaler starts multiple head nodes
[code]

[code]

### Versions / Dependencies

I'm using https://s3-us-west-2.amazonaws.com/ray-wheels/master/80d9476c50dff05c39695292bce20bcf835c827f/ra

[2021-11-23 18:15] jjyao commented on #20678
Turned out that I used ray 1.6 to start the cluster and the max_worker for head is set to the global max_worker which is 80 not 0.
[code]

The issue has been fixed in 1.8
[code]

[2021-11-23 18:15] #20678 closed

[2021-11-23 18:15] newmanwang commented on #20611
@rkooo567 Would you like take a look at this PR.

[2021-11-23 18:56] Metalcycling opened #20681 "[Ray 1.8] "ray memory" fails with "No module named 'aiohttp.signals'""
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Hi Ray team,

I can run most `ray` commands like `ray status` and `ray timeline` but when I try `ray memory` I get the following error:

[code]

I manually imported the code on my Python shell

[2021-11-23 19:05] ericl commented on #20470
@jovany-wang your concerns on the GC makes sense. However, for batch applications not running full GC can leak tons of memory and cause OOMs. Since OOMs are worse than slowdowns, I'd suggest keeping it on by default and documenting it as a option for production applications.

Regarding this issue, when args are auto-converted to references those ObjectRef are never exposed to the application right

[2021-11-23 19:19] ericl commented on #6715
Could we make this an experimental API initially? One option is allowing the default actor lifetime to be overriden, for example:

[code]

[2021-11-23 19:27] devin-petersohn commented on #20388
@wuisawesome @scv119 @rkooo567 What else do you all need to reproduce this? This is a blocker for us.

[2021-11-23 19:33] pcmoritz commented on #20388
@czgdp1807 and @mattip Can you look into this?

[2021-11-23 19:34] pcmoritz commented on #20388
Thanks for following up on this @devin-petersohn and thanks for the repro!

[2021-11-23 19:37] ma002726 commented on #7192
Is there any way for ray to recover if this error occurs?

(pid=75055) [2021-11-23 12:35:15,774 E 75055 735623] direct_actor_transport.h:585: Cancelling stale RPC with seqno 5 < 6
2021-11-23 19:35:20,800	WARNING worker.py:1227 -- infinite retries left for task 86bffe0f5949226a10769384f886dd4e4f7889da01000000, attempting to resubmit.
(pid=75055) [2021-11-23 12:35:20,790 E 75055 735623] direct_actor

[2021-11-23 19:38] thakkarparth007 opened #20682 "[Bug] Import failure: `from ray.rllib.agents.ppo import ppo` fails due to pickling error"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

**What?**
`from ray.rllib.agents import ppo` should work for v1.8 (right?)

**Logs**
[code]

### Versions / Dependencies

Ray: 1.8
Python: 3.6.3
OS: Linux 3.10 (CentOS)

### Reproduction script

`

[2021-11-23 19:41] thakkarparth007 commented on #20682
More info. On running with "RAY_PICKLE_VERBOSE_DEBUG" environment variable set, I got these additional logs:

[code]

[2021-11-23 19:45] thakkarparth007 commented on #20682
The error is actually being thrown by `cloudpickle_fast.py`, and the docstring of this module talks about some functionality only being available for Python 3.8+. Does Ray 1.8 need Python 3.8+? I'm not sure of that because this import works fine on 3.7.3 on my Windows machine.

[2021-11-23 19:51] wuisawesome commented on #20388
@pcmoritz this is actually faster on windows, so it probably isn't a windows problem?

[2021-11-23 19:52] wuisawesome commented on #20388
Btw I just got what I think is a reliable repro by setting object store memory explicitly. Without the object store memory part, it runs quickly (< 7s), with the object store memory part, it takes 98s.

@scv119 @rkooo567 If I had to guess, I'd say this is an object spilling bug?

[code]

[2021-11-23 20:00] thakkarparth007 commented on #20682
The underlying error was `maximum recursion depth exceeded in comparison`.  The system I was running on had a max recursion depth of 3000 by default. I even set it to 30K, but the issue still crops up. In comparison, on my Windows machine, the default recursion depth is just 1000, and it just works.

[2021-11-23 20:47] pcmoritz commented on #20388
Haha wow, I didn't realize this was actually faster on Windows! First time something is faster on Windows I think :)

[2021-11-23 21:00] jiaodong opened #20684 "[Bug][Jobs] Job submission CLI didn't work on first ray install"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

Assuming user starts from clean conda env and install ray packages via pip, job submission CLI doesn't work.

### Versions / Dependencies

on master and nightly

### Reproduction script

Basic

[2021-11-23 21:10] thakkarparth007 commented on #20682
Upgraded python version to 3.6.9 and it works now. Not closing yet though, because there isn't a clear resolution for this issue. Either the documentation/install requirements must be updated or need clarity on why the issue is happening.

[2021-11-23 21:21] zhe-thoughts commented on #20684
Once PR ready, does it need to be picked into 1.9? cc @edoakes

[2021-11-23 21:24] wuisawesome commented on #20388
@devin-petersohn actually as a short term work around to unblock you, can you manually set `object_store_memory` to a higher value for now?

[2021-11-23 21:27] dmatrix commented on #20684
The docs say it's an Alpa release. It would be nice to have the basic CLI job work out-of-the-box, especially when that's in our [docs](file:///Users/jules/git-repos/ray/doc/_build/html/ray-job-submission/overview.html#job-cli-api).

[2021-11-23 21:28] richardliaw opened #20685 "[release][ml-nightly] torch_tune_serve is failing due to checkpointing issue"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

https://buildkite.com/ray-project/periodic-ci/builds/1758#d15ac8ca-46e7-4ed6-86fe-d77b6e3a4d5e

[code]

### Versions / Dependencies

nightly test failure for Tuesday 11/23

### Reproduction scr

[2021-11-23 21:32] richardliaw opened #20686 "[release][ml-nightly] aws_ssh_sync and aws_durable_upload failing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

https://buildkite.com/ray-project/periodic-ci/builds/1758#7ce51ee1-4339-4f64-9b69-1e697da1dc18
https://buildkite.com/ray-project/periodic-ci/builds/1758#1ce6a022-ee60-4770-87b4-ca01b60c9926

[c

[2021-11-23 21:37] edoakes commented on #20684
@zhe-thoughts yeah I think we need to pick this one :/ it would be extremely confusing for users. @jiaodong and I just diagnosed, the fix is quite simple:
https://github.com/ray-project/ray/pull/20687

[2021-11-23 21:42] mvashishtha commented on #20388
@wuisawesome Even with 3.75x the object store memory, that script takes 163 seconds on the same mac I've been using throughout:

[code]

That's about as much object store memory as Ray is willing to take. If I go to 4x, I get

[code]

[2021-11-23 21:57] jiaodong commented on #20684
Ed and I pair programmed a bit and came up with a PR for this, I marked it as P0 and release blocker since it will be very weird experience for first time ray users. I will add more tests to the PR linked here and verify it solves the issue. cc: @zhe-thoughts @iycheng about cherry-picking this to 1.9

[2021-11-23 22:03] zhe-thoughts commented on #20684
Yup please add it to the release tracking spreadsheet and by looking at the PR so far I think it should be picked

[2021-11-23 22:15] rkooo567 commented on #20611
Will take a look!

[2021-11-23 22:22] rkooo567 commented on #7192
@ma002726 can you tell us the version of Ray you are using?

[2021-11-23 23:13] #20602 closed

[2021-11-23 23:42] zhe-thoughts commented on #20616
Is the potential issue in Ray itself?

[2021-11-23 23:47] yifeif commented on #20616
We plan to recreate the production gcp cloud tmr fyi. Let us know if there is anything we can do to help unblock this.

[2021-11-24 00:13] edoakes commented on #20619
@joseph-long could you please try running `import ray.dashboard.optional_deps` in a python shell and provide the output? That is the underlying check happening here to determine if the dependencies are available.

[2021-11-24 00:31] TheFizzWare commented on #20681
Also having this issue but for doing
[code]
which eventually trips this `raise ImportError(...` on line 1204
[code]

... Meanwhile, doing `pip install -U 'ray[default]'` only results in `Requirement already satisfied: ...`.

[2021-11-24 01:15] devin-petersohn commented on #20388
Thanks @pcmoritz!

[2021-11-24 01:21] joseph-long commented on #20619
Thanks, that's the diagnostic I was missing! Not an ARM64 thing at all, it turns out. It's just https://github.com/ray-project/ray/issues/19940 again.

[code]

Fixed with `pip install 'aiohttp<3.8'`

(Would be great if that ImportError output were part of the `Corresponding error logs should have been streamed to the driver's STDOUT.` 😃)

[2021-11-24 01:21] #20619 closed

[2021-11-24 01:22] TheFizzWare commented on #20681
It appears that the issue also involves any
[code]
That was discovered by commenting out the `import aiohttp.signals` line from ray's `optional_deps.py`, trying the import again, and getting the same `ModuleNotFoundError` for `aiohttp.frozenlist` instead of `aiohttp.signals`.

I was able to `ray.dashboard.optional_deps` after commenting those two import lines in `optional_deps.py`, and have moved

[2021-11-24 01:23] #16007 closed

[2021-11-24 01:23] #17013 closed

[2021-11-24 01:23] #17021 closed

[2021-11-24 01:54] pcmoritz commented on #20681
This is a known problem that is fixed in master in https://github.com/ray-project/ray/pull/20261.

In the current release you can pin `aiohttp` by running `pip install aiohttp==3.7` which will fix it.

[2021-11-24 02:00] jiaodong commented on #20684
Fix PR is ready with a few integration test cases, also passed all tests on CI (exception windows build which shouldn't be relevant)

[2021-11-24 02:05] TheFizzWare commented on #20681
@pcmoritz Thank you, worked exactly as you said it did.

[2021-11-24 02:13] iycheng opened #20690 "[release] weekly impala failed"
It looks like there is a regression in rc2 compared with rc1.
impala failed on rc2 https://buildkite.com/ray-project/periodic-ci/builds/1750#27200154-aa20-411d-9b00-a1cc3a72c87c
but succeeds on rc1 https://buildkite.com/ray-project/periodic-ci/builds/1716#a149eada-5359-41b9-978d-28ffc1b84dc7

I retried several times, but no luck.

I think these are the only commits between two run. Another thing i

[2021-11-24 02:15] iycheng commented on #20690
I see error in logs:

[code]

[2021-11-24 02:18] ericl commented on #20690
[code]

It seems to be some other process using the memory?

[2021-11-24 03:01] ericl commented on #20625
Thanks for reporting this! This seems to be due to LazyBlockList. With block splitting, we need call ray.get() while iterating over the list since we need to ray.get() the inner refs. This means task submission gets delayed.

https://github.com/ray-project/ray/pull/20660/files will be a short term mitigation. Working on another PR to fix this properly for the block splitting case.

[2021-11-24 03:27] #19771 closed

[2021-11-24 05:12] rkooo567 commented on #20388
After the run, what's the output of ray memory --stats-only?

Also, @pcmoritz does Windows support shared memory? Once of possibility is that Mac uses /tmp as a plasma store memory, which is probably a lot slower than shm (for example running things on Mac was a lot slower than Windows)

[2021-11-24 05:41] mvashishtha commented on #20388
@rkooo567 Immediatelyfter running the previous script with the change `object_store_memory=3248034201*3.625`, I got from `ray memory --stats-only`:

[code]

[2021-11-24 05:52] rkooo567 commented on #20388
Is it same in the windows output?

I feel like the diff probably just comes from shm vs /tmp, but I will wait for philipp for windows information

[2021-11-24 05:56] rkooo567 commented on #20388
@wuisawesome it seems like his workload is slow without object spilling (whereas it is faster in your machine). Isn’t there possibility the issue is where plasma object is stored? (In mac, it is /tmp, and maybe his tmp is slow, and in windows, it probably uses shm)

[2021-11-24 06:03] DmitriGekhtman opened #20694 "[autoscaler] Document flag `use_internal_ips` in provider config"
It's not documented.

[2021-11-24 06:05] DmitriGekhtman opened #20695 "[GCP][autoscaler] Scale down is slow and Ray status doesn't show pending nodes"
Investigate issues in title.
https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1637602414055800
https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1637611963058200

[2021-11-24 06:38] scv119 commented on #20388
oh @rkooo567 that's a good point. we don't have /dev/shm on Mac

[2021-11-24 09:26] rkooo567 commented on #20132
@edoakes why did you unpin this? I think we should pin it until 1.9 is released! (It can happen quite commonly)

[2021-11-24 09:40] SongGuyang commented on #20672
Solved by this pr https://github.com/ray-project/ray/pull/20670.

[2021-11-24 09:40] #20672 closed

[2021-11-24 09:53] aavbsouza opened #20698 "[Bug] Wrong array values after using actor pool"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I have the following code

[code]

When I try to used the results accumulated by the actor (`reconActor`) I got errors (wrong values for the content of the array). In the process of debugging t

[2021-11-24 09:54] kfstorm commented on #6715
I think the long-running flag doesn't solve the problem that we don't have a mechanism to kill a job and clean up things that belong to the job, e.g. detached actors, running normal tasks, idle workers, runtime env, etc. We may need a new API in the dashboard to kill and clean up a job forcibly (maybe we need to introduce a new job state). With this new API, the long-running flag is just like synt

[2021-11-24 10:17] Hankpipi commented on #18432
Maybe this issue has been solved by #19431
https://github.com/ray-project/ray/blob/7446269ac90c23f3c6737162acc88dcce280df67/python/ray/serve/deployment_state.py#L1086-L1087
The only thing to do is adding `stop_on_slow=True`.

[2021-11-24 10:45] AliKarimi95 commented on #19938
The same problem occurs with conda env and Python 3.7.1

[2021-11-24 11:06] Ramtin-Nouri commented on #19938
This seems to be an [known issue](https://docs.ray.io/en/latest/using-ray-with-tensorflow.html) with Tensorflow2.
I had the same problem as you. Even when I was not using Tensorflow and only doing ray.init() would show the same crash.
Creating a new virtual environment and installing tensorflow 1.4 instead fixed it for me.

[2021-11-24 11:11] rkooo567 commented on #19938
It looks like there are many people going through the issue. Let me try bumping up the priority cc @ericl

[2021-11-24 11:12] rkooo567 commented on #19938
@Ramtin-Nouri are you seeing this error even when you didn't import tensorflow at all from the python script?

[2021-11-24 11:14] rkooo567 commented on #20612
Is it possible to provide the mock script and instruction regarding how I should run them? I've seen some users who saw the same issue, and it'd be a great chance to get fix it.

[2021-11-24 11:18] aavbsouza commented on #20698
Hello everyone, with a great deal of help/patience  of @rkooo567I we have found the issue.

The issue is that I cannot be sure that all tasks submitted to the `reconActor` are actually finished after the task loop. The fix is to ensure that all tasks submitted are actually finished.

Is possible to do that using `ray.get` on a "fake task". This final ray.get ensure that all tasks are actually fini

[2021-11-24 11:21] Ramtin-Nouri commented on #19938
@rkooo567 Yes. Even this would show the crash:
[code]
It seems as if only tensorflow 2 is installed its enough for the error to occur !?
Tensorflow 2 is installed on my system without virtual environment.
Thus creating a new empty virtual environment without system-site-packages fixed the problem.
Installing Tensorflow 1.4 to the venv also did not reintroduce the error.

[2021-11-24 11:21] #20698 closed

[2021-11-24 14:12] JNMGR14 opened #20702 "[Bug] Ray 1.8.0 [Default] does not contain dashboard when installing with pip3 on ubuntu server"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

I installed ray using
"`pip3 install ray [default]`"

But it shows me the following error that I show in the image, the first ray installation was using the sentence that I show in quotes b

[2021-11-24 14:16] rkooo567 commented on #20702
What happens if you try pip install -U “ray[default]”?

[2021-11-24 14:38] JNMGR14 commented on #20702
I tried it with

[code]

[2021-11-24 14:42] JNMGR14 commented on #20702
And answering your question

It actually installs everything normally and when trying to run the statement `"ray start --head --port = 10000 --include-dashboard = true --dashboard-host = 192.168.1.215 --dashboard-port = 7777 --num-cpus = 16 "` and the error occurs again

[2021-11-24 15:05] rkooo567 commented on #20702
What about uninstall and reinstalling again?

[2021-11-24 15:05] rkooo567 commented on #20702
Any logs from dashboard.log?

[2021-11-24 15:06] rkooo567 commented on #20702
It is in /tmp/ray/session_latest/logs normally

[2021-11-24 15:53] mvindiola1 opened #20703 "[Bug] [RLLIB] SampleBatch.concat_samples has incorrect max_seq_len logic"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

SampleBatch.concat_samples uses the first sample batch in the list of samples to determine the max_seq_len. This value is not updated after initialization which makes it possible that it does not

[2021-11-24 17:08] JNMGR14 commented on #20702
![image](https://user-images.githubusercontent.com/71668190/143283581-33bf7cfc-197d-4840-859a-5d6ad360e284.png)

[2021-11-24 17:33] pietrolesci commented on #20131
Hi there, I have the same issue running ray tune with pytorch lightning locally on my mac.

[2021-11-24 17:41] ericl commented on #6715
Given that we have namespaces, how about adding an API to cleanup by
namespace id?

On Wed, Nov 24, 2021, 1:54 AM Kai Yang ***@***.***> wrote:

[2021-11-24 18:00] pcmoritz commented on #20702
This is probably the same issue as https://github.com/ray-project/ray/issues/20681, can you try the fix recommended there?

[2021-11-24 18:11] fwong03 commented on #13938
I'm also new to Ray and found this issue while trying to do the same thing (one connection per process). Since this issue was opened a while ago @demitri I'm guessing you probably found a solution by now. But just in case this is helpful for anyone else who was in my position and googling around, I ended up getting these helpful two suggestions from Eric Liang in the Ray slack channel and I've cop

[2021-11-24 18:15] robertnishihara commented on #20650
Mostly aesthetic, but
- Consistency with `@ray.remote`
- Generally good to have one recommended way of doing things

I came across some code somewhere that used both in the same file, but now I'm having trouble finding it.

[2021-11-24 18:32] stephanie-wang opened #20706 "[Bug][core] Worker processes may leak on raylet crash"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Python workers are supposed to check whether their local raylet is still alive using the PID. But this PID is not currently set. If the PID is not set, then the utils check whether the parent P

[2021-11-24 18:34] stephanie-wang commented on #20706
I'm not sure if this is a universal issue or something related to my environment. I would make this p0 if it's universal.

[2021-11-24 22:00] stephanie-wang commented on #20706
@jjyao note, passing RAYLET_ID to workers isn't enough to fix this because it won't work for drivers. I think we need to grab the raylet ID when first connecting instead.

[2021-11-24 22:01] jjyao commented on #20706
I also discovered the issue and I'm planning to fix it. It should only happen inside bazel environment where the child reaper feature is  on.

[2021-11-24 22:03] jjyao commented on #20706
Yup, passing RAY_RAYLET_ID environment variable itself is not enough since driver will exit as well. Need to have a fix where worker will exit and driver will propagate error messages to the user.

[2021-11-24 22:21] chunweiyuan commented on #20618
I somewhat suspect this is related to [#7653](https://github.com/ray-project/ray/issues/7653), but in my case I'm able to relieve the leak via longer sleep time, which feels more like a garbage collection issue to me.

[2021-11-24 23:25] #20625 closed

[2021-11-24 23:38] #20684 closed

[2021-11-24 23:47] AmeerHajAli opened #20709 "[Bug] [Tune] runtime_env does not work with `pip install ray[tune]`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

when I `pip install ray[tune]` on the cluster and run `ray job submit ...` it fails because runtime_env does not work out of the box. when I do `pip install ray[default]` runtime_env works but

[2021-11-25 01:12] jovany-wang commented on #6715
I don't think so. Image that there might be 2 jobs may in the same namespace.

[2021-11-25 01:35] ericl commented on #6715
Why not put the jobs in separate namespaces then? By default, the
namespace is randomized per job, so there is a unique one per job. It
can also be set to be the same as the job id for convenient cleanup.

[2021-11-25 02:12] #18856 closed

[2021-11-25 02:57] jovany-wang commented on #6715
There're different concepts.
We provide namespace concept for isolation accessibility. If users don't specify it, it will be generated a random one. But there're still some users that want to put 2 jobs in one namespace for accessibility because we have provided the way to specify it.
Shortly, dropping a job is orthogonal to namespace.

[2021-11-25 03:02] bing1zhi2 opened #20711 "[docker][on-premise clusters][local] work node can't start successfully"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

I run a cluster using a config file. The head node starts successfully,
[code]
 but when monitoring autoscaling status using the given command, it shows some errors  says:
[code]

When I tr

[2021-11-25 03:10] mjlorenzo305 commented on #14479
Just getting back to this.
@WangTaoTheTonic @jovany-wang ,  thanks for pointing out the port. I switched to port 6379 by passing it via jvm arg like this: `-Dray.address=127.0.0.1:6379` when invoking the java program and I no longer hit the error above instead it seems to hang at the Ray.init() call within the java main(). I tried variations that included "-Dray.password=<password here>" but that

[2021-11-25 03:22] jovany-wang commented on #14479
Could you show your code snippit?

[2021-11-25 03:42] kfstorm commented on #6715
Ideally, I believe that killing a job is a valid feature request. Killing a namespace maybe valid too.

[2021-11-25 05:04] jovany-wang commented on #20470
Yes.

For this case, data in callee's object store would not be freed. Is there any problem with cycle reference?
[code]

[2021-11-25 06:07] stephanie-wang opened #20713 "[Bug][core] Task re-execution doesn't work if the owner of a created object has changed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

A task can fail at any time, leaving a partial state if it creates some objects before it fails. #20447 addresses the problem by having a re-executed task pin the created object if a copy alrea

[2021-11-25 06:24] #20475 closed

[2021-11-25 06:39] rkooo567 commented on #20667
Which files are problems now? We currently have log rotation for most of files, I think except the worker logs.

[2021-11-25 06:55] iycheng commented on #20690
https://buildkite.com/ray-project/periodic-ci/builds/1760#368310fe-9a2f-4bce-ad48-fe1ee2558a58

[2021-11-25 06:59] rkooo567 opened #20715 "[Bug] Placement group Prepare/Commit needs to batched per node."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Currently, when the placement group is prepared/committed/removed, we are sending a separate RPC per bundle.

This is bad because

1. The performance can be impacted when you have many bundles

[2021-11-25 06:59] rkooo567 commented on #20715
cc @clay4444 do you have bandwidth to take this?

[2021-11-25 07:01] rkooo567 opened #20716 "[Bug] Test placement group chaos testing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Placement group fault tolerance is implemented and tested in the CI, but we need a real test in the nightly tests.

We'd like to test 2 things.

1. Recovery protocol working correctly?
2. Atomi

[2021-11-25 07:11] clay4444 commented on #20715
yeah, I will check this~

[2021-11-25 09:56] raulchen commented on #20356
For `Ray.get(objRef)`, I think it makes sense to throw an exception. Because if the object is absent, it does indicate an exception (e.g., it's evicted or its owner is dead).

[2021-11-25 10:07] kfstorm opened #20719 "[Feature] Better integration between Ray Dataset and Pandas"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The current implementation of Ray Dataset supports two types of blocks: arrow table and raw Python object. Existing workflows involving pandas DataFrames and Ray Datasets suffer from the conversion between arrow table and pandas DataF

[2021-11-25 10:21] rkooo567 opened #20723 "[Feature] [Internal Observability] Improve debug_state."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently debug_state.txt has several problems.

1. It is only available from raylet. GCS and core worker don't have debug_state.txt
2. It is hard to access it, especially from worker nodes.
3. You cannot query the state in real time.

[2021-11-25 10:21] rkooo567 commented on #20723
cc @scv119

[2021-11-25 12:30] satish-madugula opened #20724 "Ray Serve performance"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

A keras/ Tensorflow model  deployed on ray serve, seemed to be working slow compared to general python inference code

### Versions / Dependencies

Python: 3.8
Ray: 1.8
OS: Linux

### Reproduc

[2021-11-25 12:45] mjlorenzo305 commented on #14479
Here you are:
[code]

You never get to the print statement, just blocks at the Ray.init(). See java core dump above to see where it is stuck. Note: if I stop the Ray cluster and rerun this simple program, it instead produces numerous failed retry attempts to connect and gives up after "50 attempts to connect".

[2021-11-25 13:10] chuckhope commented on #20711
same problem, ray up yaml cannot connect to the worker node without error info

[2021-11-25 14:18] jovany-wang commented on #14479
It ran well on my laptop. Could you paste your log of the driver progress?
[code]

[2021-11-25 14:25] #16909 closed

[2021-11-25 14:47] iamhatesz opened #20727 "[Feature] Allow extra keys in info in multi-agent"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Right now there is a following [guard](https://github.com/ray-project/ray/blob/31f378e45a62e5626b200671baa265f45e31949d/rllib/env/base_env.py#L492-L494):

[code]

which doesn't allow for extra keys in info, when using multi-agent setu

[2021-11-25 14:47] loretoparisi commented on #9750
@stefanbschneider I think to have a similar error.

this is my full stack trace

[code]

[2021-11-25 14:47] mjlorenzo305 commented on #14479
I don't see a log directory:

[code]

[2021-11-25 15:11] jovany-wang commented on #14479
Can you debug  `Ray.init();` and see where it hangs.

[2021-11-25 15:46] moamenibrahim commented on #19885
I get the same error while running on `ray 1.8.0` and `python 3.8`:

`cat monitor.err`:
[code]

`cat worker-fd5cff6abd2768b36ed3f052df5d1c3a53f573e451e6d36deba53570-01000000-707.err`:
[code]

These are the only errors I get, not sure what is the root cause?

[2021-11-25 15:46] stefanbschneider commented on #9750
@loretoparisi Hi, the `TuneError` with `Trials did not complete` just indicates that something else went wrong while running tune. Tune is not causing the error itself.

If you look at your error trace, it seems like the root cause is here:
[code]

So corresponding to the code here: https://github.com/hugofloresgarcia/music-trees/blob/main/music_trees/data.py#L144

To me, it seems like there is so

[2021-11-25 15:47] mjlorenzo305 commented on #14479
See the java core dump [above](https://github.com/ray-project/ray/issues/14479#issuecomment-978780484) ... it shows the stack where it hangs. Looks like it occurs on the boundary of Java calling native code at
[code]

[2021-11-25 15:49] mjlorenzo305 commented on #14479
Also, as mentioned above, I am invoking that simple program with the following jvm args: -Dray.address=127.0.0.1:6379  -Dray.redipassword='5241590000000000'

Are you using any other jvm args when you are invoking the simple program? (like your [BaseTest](https://github.com/ray-project/ray/blob/master/java/test/src/main/java/io/ray/test/BaseTest.java) unit test)

[2021-11-25 15:51] iamhatesz opened #20729 "[Bug] Multi-agent policy configs does not support Tune samplers"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, RLlib

### What happened + What you expected to happen

Take as an example `hierarchical_training.py` from `ray.rllib.examples` and change policies configuration by adding `tune.sample_from` to both configs:

[code]

This ends up with:

[code

[2021-11-25 16:02] jovany-wang commented on #14479
We don't use any extra JVM options.

Do you execute the command `ray start --head` somewhere? As my experience, it might some thing wrong with the connection to Redis still.

[2021-11-25 16:07] kfstorm commented on #20356
@raulchen It can also indicate a user error, which applies to `Ray.getActor(name)` as well.

[2021-11-25 16:34] chuckhope commented on #6707
Hi there, I use ray commit to run the .py file. I have changed the env to my conda but still, the command  " ray commit" uses default python to connect to the cluster which causes the mismatch error. Do you have any ideas? Thanks a lot. I think it may be related to the "ray.init()" in my .py file.

[2021-11-25 16:56] Yard1 commented on #16779
Hey @henrique, sorry for taking so long. The reason for the iterations and epochs diverging is due to a small mistake in your code - when you load an epoch, it is already finished and therefore you should start from the next epoch (eg. if you save epoch 2, you need to start from epoch 3). In your code, if you save epoch 2, you'd start from epoch 2 again. There isn't any issue related to that in Tu

[2021-11-25 16:56] #16779 closed

[2021-11-25 18:27] mjlorenzo305 commented on #14479
Correct, I have started ray using "ray start --head" before running that java program. Like this:

[code]

and running a netstat to check that the 6379 port is open and listening:
[code]

Can you confirm that you NOT using "ray.local-mode" ? I am not

[2021-11-25 19:32] amogkam commented on #20690
@iycheng just pushed some more changes to the PR and re-ran again.

[2021-11-26 01:34] jovany-wang commented on #14479
Yes. I'm sure I use cluster mode.

What's your version, I'd like to confirm it again.

[2021-11-26 03:46] raulchen commented on #20356
These 2 cases are different.
For `Ray.getActor(name)`, as the argument is a string, it can be used to check if an actor with the given name exists.
While for `Ray.get(objectRef)`, as the argument ObjectRef is generated by Ray, the object must be present unless there is an error.

[2021-11-26 04:10] kfstorm commented on #20356
I see your point. In Java, we usually don't throw an exception to represent a valid state, but it's common in Python. In this case, the absence of a named actor is not considered an error, hence we shouldn't throw an exception in Java.

[2021-11-26 07:09] chuckhope commented on #18529
Hi body, I have faced the issues since  "Only head node provisioned, worker nodes untouched", the worker is remaining as 'waiting-for-ssh' and I am sure both my head and worker have the same ssh username for connection. Commenting out the ssh_private_key: ~/.ssh/id_rsa is not helpful, Do you have any ideas, thank you

[2021-11-26 07:13] rkooo567 opened #20733 "[Bug] Implement Blocking call without infinite timeout"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Currently, many of blocking calls are implemented using promise + async RPC calls. Unfortunately, lots of promise just uses promise->get_future()->get(), which is just waiting forever if someth

[2021-11-26 07:13] chuckhope commented on #20711
Update: I have faced the issues since "Only head node provisioned, worker nodes untouched", the worker is remaining as 'waiting-for-ssh' and I am sure both my head and worker have the same ssh username for connection. Commenting out the ssh_private_key: ~/.ssh/id_rsa is not helpful, Do you have any ideas, thank you @richardliaw

[2021-11-26 12:11] bing1zhi2 commented on #20711
Update: I solved my problem by adding "min_workers" and max_workers" options in the config file. In my case, I set value 1 for them. Everything is fun.

[2021-11-26 12:11] #20711 closed

[2021-11-26 12:15] bing1zhi2 commented on #20711
I was set 2 in this field before I realized that I actually only have 1 work node.

[2021-11-26 12:17] bing1zhi2 commented on #20711
Have you checked your firewall?

[2021-11-26 13:49] mjlorenzo305 commented on #14479
1.7.0
[code]

[2021-11-26 14:55] carlogrisetti commented on #20681
`pip install "aiohttp>=3.7,<3.8"` is a better way to address this, since it will include any fixes that will be released

[2021-11-26 15:05] jovany-wang commented on #14479
What's the version from your local command `ray --version`?
![image](https://user-images.githubusercontent.com/19473861/143600068-88522b60-1a45-4bd4-a534-d11d6d945cd6.png)

[2021-11-26 16:11] rkooo567 commented on #20258
This seems to be fixed in the master. Please reopen if this fails again.

[2021-11-26 16:11] #20258 closed

[2021-11-26 16:13] #16444 closed

[2021-11-26 16:14] rkooo567 commented on #16445
Must be covered by data ingest workload? Please reopen if not

[2021-11-26 16:14] #16445 closed

[2021-11-26 16:17] #20298 closed

[2021-11-26 16:18] rkooo567 commented on #20395
seems like a fluke

[2021-11-26 16:18] #20395 closed

[2021-11-26 16:21] rkooo567 commented on #20534
It is a part of https://github.com/ray-project/ray/issues/20496

[2021-11-26 16:21] rkooo567 commented on #19271
duplicated from https://github.com/ray-project/ray/issues/20534

[2021-11-26 16:21] #19271 closed

[2021-11-26 18:11] jovany-wang commented on #14479
@mjlorenzo305 Could we discuss this in the Slack channel to make this move fast?

[2021-11-26 19:01] mjlorenzo305 commented on #14479
sure, I'll reach out to you via slack

[2021-11-26 19:04] mvindiola1 commented on #19976
@gjoliver  @sven1977,

What is the status on this? I think this should get fixed before 1.9 is cut.

[2021-11-26 19:42] #20690 closed

[2021-11-26 19:50] Seanny123 opened #20736 "[Bug] Check failed: core_worker_process causes Actor to crash"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

As described in [my Discourse post](https://discuss.ray.io/t/multi-stage-pipeline-using-ray/4266?u=seanny123), I'm currently trying to run a multi-stage Ray pipeline with fan-out using Ray Acto

[2021-11-27 23:03] jamesbsilva opened #20741 "[Feature] Support for Pytorch-lightning 1.5.0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

As of Pytorch-lightning 1.5.0

https://github.com/PyTorchLightning/pytorch-lightning/blob/49d09aa28b4bdde7a272c3e77dc3f13613802672/CHANGELOG.md#150---2021-11-02

The property `running_sanity_check` in the `Trainer` class has been depr

[2021-11-27 23:32] richardliaw commented on #20741
I believe a similar PR to achieve this is being implemented by the great @kaushikb11?

 #20562

[2021-11-27 23:35] jamesbsilva commented on #20741
It looks like that will indeed make this a subset of that functionality. Nice, I cant wait until this is released.

[2021-11-28 02:45] mvindiola1 commented on #19976
I went ahead an prepared a PR just in case.

[2021-11-28 03:06] newmanwang commented on #18348
Ensure task submittion before user script exit is in my wish list, it really would reduce the complexity of application based on detached actor.

[2021-11-28 06:50] chuckhope commented on #20711
@bing1zhi2 hi, do u have any idea what should I check for my worker and head's firewall, e.g. port or anything else, thank you

[2021-11-28 07:03] chuckhope opened #20744 "[Bug] [on-premise cluster] “ray up yaml” cannot connect to worker node without error info"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Hi there, I follow the doc to start my on-premise cluster with the default yaml configuration. Howerver, my worker node remains “waiting-for-ssh”. I can manually add the worker to the head by “

[2021-11-28 09:44] gjoliver opened #20745 "[Bug] [RLlib] TF2 BatchNorm model seems to be broken"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When running:

[code]

I see the following error:

Failure # 1 (occurred at 2021-11-28_01-39-46)
Traceback (most recent call last):
  File "/Users/jungong/ray/python/ray/tune/trial_runner.py", lin

[2021-11-28 14:12] tom634 opened #20747 "[Bug] ERROR syncer.py:75 -- Log sync requires rsync to be installed. but newest ray doesn't need it"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, Others

### What happened + What you expected to happen

I installed newest ray (version 1.8.0) on Windows 10, I am using VS Code with Python 3.9.1.
I am running this code: https://github.com/StephanAkkerman/TensorTrade/tree/main/src
but I ge

[2021-11-28 15:54] Akkarine commented on #17438
Unstale

[2021-11-28 23:42] #14399 closed

[2021-11-29 03:26] worldveil commented on #19885
@moamenibrahim do you have a example repro script you can provide?

[2021-11-29 05:56] #14187 closed

[2021-11-29 06:26] chenk008 commented on #20425
For now, java driver is initialized by `Ray.init()` which will load `ray.conf`.

To support java driver runtime env, we can add `runtime-env` into `ray.conf`. Sample is listed below:
[code]

[2021-11-29 06:46] chenk008 commented on #20425
And java driver can create tasks/actors with different runtime env, so we need add some new API. The runtime env will contain multiple plugins, so we can use a Map<String,Object> to store it.

# Here is some change in java API.

### Add setRuntimeEnv into io.ray.api.call.BaseActorCreator
[code]

### Add serializedRuntimeEnv into io.ray.api.options.ActorCreationOptions.Builder
[code]

# Sample with

[2021-11-29 06:49] jovany-wang commented on #20425
@SongGuyang @raulchen CC the APIs.

[2021-11-29 08:17] raulchen commented on #20425
The runtime env in the config file is used for job scope. So we'd better put it under `ray.job.runtime-env`.

[2021-11-29 08:25] raulchen commented on #20425
Regarding the actor- and task-level API, I have 2 suggestions:
1) Make it strong-typed instead of using a raw Map. The demo will look like this:
[code]
2) Do not add gson dependency to the api module. We can delay serializing the runtime env object in the runtime module.

[2021-11-29 10:39] bmframos commented on #17459
Still getting the same behaviour, using ray version 1.4.1. I don't think there is compatibility between ray 1.8.0 and autoscaler with docker images, right?

The workaround is to set `cache_stopped_nodes` to False, but that `results` in a big turnaround time.

[2021-11-29 10:42] #17459 closed

[2021-11-29 11:01] #20703 closed

[2021-11-29 12:47] Ivorforce opened #20758 "[Feature] Cluster launcher script to run on node (re-)relaunch"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Today, I had the problem that my head node ran long enough to stop my workers (due to idleness). When I used it again, reactivating the workers after 2 days hibernation, my `docker login` that I run in `initialization_commands` had ex

[2021-11-29 14:38] Akkarine commented on #17483
unstale

[2021-11-29 15:03] jovany-wang commented on #13833
An RFC proposal: https://docs.google.com/document/d/1pF2Ib1GHOiaXyPsu3i4nS6M_OeR8pVyVZ62JmVOs7JY/edit#

[2021-11-29 15:11] jovany-wang opened #20760 "[RFC] Open source RayCommonLibs, which'll enrich the Ray ecosystem."
An initial public proposal doc: https://docs.google.com/document/d/1keQjKNKmhlC7SJQCGByPB-knnVMk9W_0khh7qpZv9Js/edit#heading=h.k3w9s2fjmhwo

Some related issues:
[[RFC] Feature request about Actor State/Migration Notification. ](https://github.com/ray-project/ray/issues/13833)

-------Updated
An pubsub lightweight library proposal: https://docs.google.com/document/d/1eOiTBDO8Crpc4GgKKrKuy-IlUYzKkB

[2021-11-29 15:14] jovany-wang commented on #20760
@ericl @simon-mo @raulchen @lixin-wei CC

[2021-11-29 16:35] marcm-ml opened #20762 "[Bug] get_checkpoints_path does not work with tmp dir names"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Using [get_checkpoints_paths](https://github.com/ray-project/ray/blob/bf2c5f1417c71ce85e7b377a10be7e1ecdddf750/python/ray/tune/utils/trainable.py#L143-L175) (which is internally used in Analysi

[2021-11-29 17:40] jovany-wang opened #20764 "[ConcurrencyGroup] Add thread name for concurrency group to help debug."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Both native code and language frontend code need to be added.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-11-29 17:41] crclark commented on #20108
Sorry for the delay. We were able to reproduce with a synthetic dataset.

[code]

The output will be:

[code]

With Ray 1.8.0, Dask 2021.10.0, Python 3.8.4.

**Note:** this only seems to happen on some clusters, but we aren't able to find a pattern. We have seen it happen with even a single Ray node.

[2021-11-29 18:50] ericl commented on #20760
This seems quite similar to the actor pool proposal from @edoakes for improving actors management for Serve. If we go ahead with the ActorPool concept, it seems these efforts can be unified.

[2021-11-29 19:29] simon-mo commented on #20760
Are the libraries implemented purely in Java at the moment?

[2021-11-29 19:53] simon-mo commented on #20724
how big are the predictions? the input looks small enough (just file path) but the output serialization and deserialization might be the bottleneck here

[2021-11-29 20:02] ericl commented on #20470
Oh, there is one possibility of a cyclic ref here, not involving the ObjectRef, but the `data` array if it's mmaped (e.g., numpy array type).

Plasma can't delete the underlying object if the data array is mmaped. So even if the reference counter is at zero, the object will be pending deletion of the mmaped `data` array.

[2021-11-29 20:05] ericl commented on #6715
I agree that killing a job or cleaning up its detached actors is a reasonable feature. But, I don't see why we need a long-running job concept.

Currently, we can already have a job with detached actors. Why not instead add a `cleanup detached actors` API for these jobs? We can also add a status / check if there are any detached actors for a job that still exist.

That way we don't need to introdu

[2021-11-29 20:13] matthewdeng commented on #20658
For additional context, the problem occurs with PyTorch 1.9.0 & NCCL 2.7.8 and specifically seems to be problematic with the `veth` device. The hardware used by the tests are currently using `ens3`, but similar changes could be made to support `ensX` or `ethX` interfaces.

[2021-11-29 20:19] jiaodong opened #20768 "[Bug][Serve] Documentation code didn't seem to work for FastAPI"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

Our documentation example https://docs.ray.io/en/latest/serve/http-servehandle.html#fastapi-http-deployments didn't work for new users using FastAPI.

### Versions / Dependencies

on master

#

[2021-11-29 20:42] #20658 closed

[2021-11-29 21:12] iycheng opened #20769 "[Feature] Better log when worker not registered"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Logs for worker starts/failed are not very clear which makes it not so easy to debug. We should consider adding when worker start failed:

* Whether the worker is hanging
* Whether the worker is kill/dead
* Add possible reasons for th

[2021-11-29 21:13] iycheng opened #20770 "[Feature] Run the test nightly instead of weekly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Some tests which are not expensive are running weekly. We should consider converting them to nightly tests.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing t

[2021-11-29 21:16] iycheng opened #20771 "[Bug] Worker is not killed before starting new ones"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

If the worker failed to starts, for example, it hangs, raylet will start a new worker. This could leads to unlimited worker process in the node. We should kill the worker before start a new one

[2021-11-29 21:18] iycheng opened #20772 "[Bug] Move GCS internal kv runs in a dedicated thread"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Internal KV right now will compete with other gcs resources which can increase the latency. internal kv request should have higher priority since they are cheaper and important. We should move

[2021-11-29 21:20] iycheng opened #20773 "[Bug] Make the heartbeat handler limit -1"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Heartbeat is an important rpc and we shouldn't backpressure them. Mark them as -1 is good for now. We need to test 2k nodes with this change to measure the gain.

### Use case

_No response_

### Related issues

_No response_

### Are

[2021-11-29 22:09] naren-ponder commented on #20388
My results upon running the script:

--- Aggregate object store stats across all nodes ---
Plasma memory usage 3080 MiB, 40 objects, 93.31% full
Spilled 2052 MiB, 36 objects, avg write throughput 759 MiB/s
Restored 771 MiB, 3 objects, avg read throughput 286 MiB/s
Objects consumed by Ray tasks: 256 MiB.

Took me 113.09455108642578 seconds with resources:

Out[3]:
{'memory': 6963071387.0,
 'object_

[2021-11-29 22:11] rkooo567 commented on #20770
This is done!

[2021-11-29 22:11] #20770 closed

[2021-11-29 22:29] Ivorforce opened #20774 "[Feature] Autoscaler should understand AWS availability and act accordingly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I ran into this issue because frequently, spot instances are not available on AWS.

This manifests itself in a repeated log of 'spawning x' without any progress:
![bildschirmfoto_2021-11-24_um_16 25 49](https://user-images.githubuserc

[2021-11-29 22:38] #20358 closed

[2021-11-29 22:43] #20650 closed

[2021-11-29 22:43] edoakes commented on #20659
Haven't been able to reproduce.

[2021-11-29 22:43] #20659 closed

[2021-11-29 23:32] korzefi commented on #17292
still not resolved

[2021-11-30 01:18] edoakes commented on #20132
@rkooo567 sorry I have no idea how I did that, that was accidental

[2021-11-30 02:04] jovany-wang commented on #20760
Some of them are implemented in multiple languages. The ActorStateNotification is implemented in Java currently.

[2021-11-30 02:57] jovany-wang commented on #20760
@simon-mo Any concern on introducing a new language for RayServe?

[2021-11-30 02:58] rkooo567 commented on #20772
Personally recommend a similar approach as https://github.com/ray-project/ray/blob/d697c13bdaf97c140844dc87fcc046f8d661e20c/src/ray/gcs/gcs_server/gcs_server.cc#L214

[2021-11-30 03:35] simon-mo commented on #20760
Serve and other Ray Python libraries cannot depend on Java due to memory overhead and JVM dependencies. So this has to be either Python, C++ actor, or C++ core component.

[2021-11-30 03:37] jovany-wang commented on #20760
I see.

[2021-11-30 03:43] qicosmos commented on #20760
I think we can use c++ worker to implement the RayCommonLibs according to the proposal.

[2021-11-30 04:10] scv119 commented on #20681
@ericl looks this is fixed?

[2021-11-30 04:11] #20681 closed

[2021-11-30 04:26] jovany-wang commented on #20760
@ericl @edoakes @simon-mo Is there any doc or related issue around actor pool concept?

[2021-11-30 05:10] AmeerHajAli commented on #20774
Hey @DmitriGekhtman , when you have a chance, can you make a PR here to pipe this error to the driver?

[2021-11-30 05:46] ericl commented on #20686
Is this a regression or an infrastructure issue (like https://github.com/ray-project/ray/issues/20616)?

[2021-11-30 07:31] raulchen commented on #6715
@ericl Instead of a "clean up detached actors in job" API, I'd like to have an API that "completely cleans up all resources in the job" and mark the job as "truly finished".
IIRC, we discussed this before, and the conclusion was to mark the job state as "driver_exited" when the driver exits and there are detached actors. And when the "kill job" API is called, the job state become "finished".
The b

[2021-11-30 07:36] bing1zhi2 commented on #20711
@chuckhope I just shut down the firewall, and most problems have gone. Or you could read the official document to find out which port is used. For example, https://docs.ray.io/en/master/configure.html#ports-configurations. Hope it will be helpful.

[2021-11-30 08:32] chuckhope commented on #20744
Basically, use ray monitor yaml can see the complete log. And make sure all nodes's users have the full privileges and good env.

[2021-11-30 08:33] #20744 closed

[2021-11-30 08:36] chuckhope commented on #20711
@bing1zhi2 Thank u, I have figured out that my problem exists in an incomplete log and user's privilege.

[2021-11-30 09:05] loretoparisi commented on #9750
Thanks you @stefanbschneider for details and checking the code, in fact it seems so, first time I was using ray, so it was difficult to dig into this logging. Thanks a lot again.

[2021-11-30 12:35] mattip commented on #20173
The problem is two-fold:
- The worker is leased to the actor, but the timeout expires long before it can complete the tasks on windows. To execute 100 tasks on a single CPU requires 6000ms on my machine, and the default is 500ms: https://github.com/ray-project/ray/blob/b872fdaaac997db0b06ec6bc9de0148d714f18ad/src/ray/common/ray_config_def.h#L158-L160
- There is a fallback path which calls `CoreWor

[2021-11-30 12:45] YeahNew opened #20790 "How do RayTrainer processes store data with the same name through a shared container?"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

I have a question. When using RayTrain to implement multi-process training, for example, each process will get test_loss("def validate_epoch" in https://docs.ray.io/en/master/train/examples/tr

[2021-11-30 13:32] jovany-wang commented on #20460
@MissiontoMars

[2021-11-30 14:33] Phirefly9 opened #20791 "[Bug] starting ray hangs process depending on what method used to start"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

on a single node with multiple network interfaces (ifconfig at bottom of issue), depending on how ray is started the script being run can get into a hung situation where it is deadlocked and ca

[2021-11-30 14:34] DmitriGekhtman commented on #20774
Right, short term we could add a message to the driver logs that "x nodes failed to launch. Check the autoscaler logs."

[2021-11-30 14:53] johanbrunius commented on #6900
Hi, does anyone know if there is a way to get it working with version 1.0.0 instead of 0.8.6?

[2021-11-30 14:57] #17139 closed

[2021-11-30 14:59] DmitriGekhtman commented on #20774
Also, we need to throttle these log messages to once per 30 sec or so.

[2021-11-30 16:45] smestern commented on #20682
Can confirm I am running into the same issue (ray 1.8.0, python 3.7.1, win 10). Tried setting the recursion limit to 30k with no fix. Downgrading to ray 1.4.0 also fixes the issue but its missing some features I would like to use.
Will try a fresh env of python 3.8 to see if that remedies the issue.

[2021-11-30 17:00] #19976 closed

[2021-11-30 17:23] krfricke commented on #20686
I'm rerunning it now as it might be general test flakiness. I'm not aware of any changes yesterday that could have caused that regression.
If this is just flakiness I'll try to improve this.

[2021-11-30 17:47] #20768 closed

[2021-11-30 17:57] AmeerHajAli commented on #20774
I meant that the user should get an error in their driver similar to how they now get autoscaling updates from the terminal

[2021-11-30 18:06] scv119 opened #20795 "[core][nighlyt-test] object-store is failing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

object_store is failing benchmark/nightly tests https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_qSSkfmdtkA4FN8L51eQKF7ax

### Versions / Dependenc

[2021-11-30 18:07] scv119 commented on #20795
cc @rkooo567 do you have context here?

[2021-11-30 18:14] jlarsen-usgs commented on #6900
@johanbrunius

1.0.1.post1 works on WSL with my version of windows (19042.1288).

[2021-11-30 18:31] matthewdeng commented on #20790
Hey @YeahNew, just to make sure I'm understanding this question properly, for the example shown are you asking if you could somehow store `test_loss` from each worker in an in-memory object?

If so, you can do either of the following:
1. Handle them iteratively with `train.report` and `Callback`s (you may need to create a new `Callback` for aggregation).
2. Return them as a final result.

Note tha

[2021-11-30 18:52] valiantljk opened #20797 "[Bug] workflow basics doesn't work in notebook"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

I can run the workflow basic example in a python script but not in jupyter notebook: https://docs.ray.io/en/master/workflows/basics.html

The error I got each time varies, for example with a clea

[2021-11-30 18:54] DmitriGekhtman commented on #20774
I agree.

Currently you get a failed node launch message if a node updater failed.
We can update the node launcher with some error handling around the create_node call to produce the same or similar message.

[2021-11-30 19:05] zhe-thoughts commented on #20797
@iycheng and @wuisawesome ^

[2021-11-30 19:18] krfricke commented on #20762
I agree, the checkpoint iter should be inferred from the tune metadata. Thanks for raising this

[2021-11-30 19:20] hckuo commented on #20198
Hey, I'm interested at working on this. Just to clarify the goal: we want to modify code in this dir (https://github.com/ray-project/ray/tree/53630ee03b8d0fbdcd76f037203085f4565a0ad1/python/ray/_private/runtime_env) so that users can pass a Path instance to specify the runtime env.

[2021-11-30 19:32] Phirefly9 commented on #20791
apologies if anyone started tracking this down, we are running in a singularity container and had not tried running ray outside of the singularity container.

running it on the node outside of singularity worked perfectly fine, so I'm leaning towards this is an "us" issue. closing issue

[2021-11-30 19:32] #20791 closed

[2021-11-30 19:42] NathanTP opened #20801 "[Bug] Numpy vs Bytes ray.get() Performance Gap"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

bytes objects are much slower than numpy objects when storing/loading through ray.put/get. The test script below shows it clearly, but the basic setup is: pass either a bytes object or numpy ob

[2021-11-30 19:47] Nesqulck commented on #20762
Agreed. Usually they get deleted as soon as the next checkpoint comes available. However, I noticed that this does not happen reliably but needs more investigation. Are there flags in the metadata to distinguish between tmp and normal? If so, the Analysis object can disregard those checkpoints, possibly in TrainableUtil.get_checkpoint_paths()

[2021-11-30 19:52] xwjiang2010 opened #20803 "[Tune] PBT saving trial and continue training with the trial may race"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

In PBT, we checkpoint upper quantile trials to memory from time to time. This is done by checkpointing remote trainable to disk and then load it to object store. However, we don't really check

[2021-11-30 20:02] jiaodong opened #20805 "[Feature] Support strawberry-graphql in serve with FastAPI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

User tried to use GraphQL + FastAPI but ran into serialization error: https://discuss.ray.io/t/fastapi-and-graphql/4300

Looks like we're not supporting it well and based on docs on fastapi - https://fastapi.tiangolo.com/advanced/grap

[2021-11-30 20:05] amogkam opened #20806 "[Train] Add `PrintingCallback`"
Add a simple `PrintingCallback` to print out intermediate results from the training run.

Provides a cleaner approach to viewing the info passed into `train.report(...)` instead of having to add

[code]

in the training function.

[2021-11-30 20:09] amogkam opened #20807 "[Train] Support custom checkpoint file names"
Currently, the file names for Ray Train checkpoints are not customizable. They will always be of the format `checkpoint_XXX`.

Provide a way for the user to specify the name of the checkpoint file that they save.

One possible API is to allow the user to specify the checkpoint file name in `train.save_checkpoint()`

[2021-11-30 20:11] amogkam opened #20808 "[Train] Built in Keras Callback"
When using Ray Train with Keras and reporting intermediate results, the user has to create a Keras callback that calls `train.report()`.

For example something like this
[code]

which would then get passed into `model.fit(...)`.

It would be nice for Ray Train to have a built-in Keras callback so that users don't have to implement it themselves. It can look very similar to the current Ray Tune Ker

[2021-11-30 20:30] #18355 closed

[2021-11-30 20:52] xwjiang2010 commented on #20803
Ray Core makes sure that calls to remote actors are queued up and executed sequentially.

[2021-11-30 20:52] #20803 closed

[2021-11-30 20:59] rkooo567 commented on #20795
I think this is fixed in the master? by this PR https://github.com/ray-project/ray/pull/20739

[2021-11-30 21:29] ericl commented on #6715
It sounds good. Just want to clarify the semantics more formally, is this what you had in mind?
- When the driver exits and there are detached actors, the state is DRIVER_EXITED.
- When all detached actors exit, the state becomes FINISHED.
- There is a `KillJob(job_id, kill_detached_actors=True)` API that kills the job, disconnecting the driver, and optionally kills detached actors. When the detac

[2021-11-30 21:33] jiaodong commented on #20724
I would assume your final prediction is probably a classification result that's small, but compare with your simple python script that presumably directly reads the image file and call into prediction locally, with ray serve you're unpacking your image as python array and send it as json via http, which introduces significant additional work.

Just for side-by-side comparison, can you try to pass

[2021-11-30 21:56] rkooo567 commented on #20801
I think bytes are probably not supported by zero-copy whereas numpy is.

If zero copy is not supported, when you call ray.get, there's additional overhead to copy the value into the process memory.

https://docs.ray.io/en/master/serialization.html#numpy-arrays

[2021-11-30 21:57] rkooo567 commented on #20795
Confirm it is fixed.

[2021-11-30 21:57] #20795 closed

[2021-11-30 22:04] jon-chuang commented on #20609
# Rust API for Ray Detailed Report and Plan
###### tags: `Distributed Systems`

Hi everyone, thank you for the enthusiasm and support!

I apologize for not replying sooner, I've been busy figuring out more details of the problem.

There are indeed many things to discuss.

---
### General Issues of Concern
1. Building
    - I investigated several ways of building:
    	1. Building by manually inclu

[2021-11-30 22:31] iycheng commented on #20616
Lower the priority to p1 and remove it as a release blocker since @amogkam confirmed it's ok to let it go.

[2021-11-30 23:12] hckuo commented on #20702
I ran into a similar issue. I realized that `npm run build` failed. I solved it by rebuilding the dashboard client:
[code]

[2021-12-01 06:25] jovany-wang commented on #6715
Why we need the 2nd parameter?  I think it's unnecessary to have `KillJob(job_id, kill_detached_actors=False)` since `KillJob()` should be indicated as killing everything of the job.

And after discussed with @kfstorm offline , we think it's a bit confused that what the job state should be if the detached actor dead. It should be JOB_DEAD or JOb_FINISHED? Normally, if an actor dead, the job state

[2021-12-01 06:32] jovany-wang commented on #20498
@WangTaoTheTonic

[2021-12-01 06:35] ericl commented on #6715
Fair enough.

I would think it enters the same terminal state whether it dies naturally or via kill command. Personally I think FINISHED or TERMINATED is more common terminology (dead sounds a bit violent).

[2021-12-01 06:37] jovany-wang commented on #20372
Hi @ericl @gjoliver , do you guys have any initial idea or some additional requirements on this topic?
And does @gjoliver is willing to get involve in this?

[2021-12-01 06:37] WangTaoTheTonic commented on #20498
Ray now supports external redis as storage layer. If user specify an external redis(or cloud based redis-like storage), the head node can be restarted without impacting the running workload.

[2021-12-01 06:41] jovany-wang commented on #20498
@WangTaoTheTonic and his team are doing the related works for GCS HA. Maybe we should make the efforts together.

[2021-12-01 06:45] jovany-wang commented on #6715
Do you agree that the end users need to know whether the job is finished normally or dead?

If it's FINISHED, end users know his job is green(PASSED), otherwise it's red(some thing wrong), and they need to debug his application.

[2021-12-01 06:57] ericl commented on #6715
From Ray's POV, I don't think exit status of internal jobs is needed. We can track "Ray Job" status (status of a submitted bundle of code) separately in the Job Submission API built on top of Ray: https://docs.ray.io/en/master/ray-job-submission/overview.html

For Jobs with detached actors, whether they are terminated successfully or not also seems of dubious value; a platform built on top of Ray

[2021-12-01 07:34] gjoliver commented on #20372
yeah, I'd like to champion and help this effort as much as I can. mostly catching up at the point though.
I went through the doc, at a high level, it seems to me, for complex objects, we need to define a serialize/de-serialize API.
and for primitive types, I don't actually understand why msgpack doesn't do the job for us already.
need to read some more I guess.

[2021-12-01 09:38] satish-madugula commented on #20724
@jiaodong, Thank you, sending file path as request did solve the problem (included the post processing of results in the deployment code).
 what if I don't have access to the path to read the image ??

@simon-mo The output is a numpy array (1 x 31x63)
Few things observed are (sending numpy array as request)

when num_cpus = 4 (For 100 images )
1. and the post processing of the results is done at t

[2021-12-01 10:24] antoine-galataud opened #20817 "[Feature][autoscaler][AWS] tag both instances and volumes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In order to efficiently restrict access to EC2 resources, it would be interesting to tag volumes too when instances are created.

### Use case

If we tag volumes, it's possible to filter both instance and volume creation requests with

[2021-12-01 12:19] chenk008 opened #20820 "[Feature] Support to run Ray worker container in a rootless container"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Now we can start Ray process in an isolated container, but `root` is required. It is unfortunate.

We need to run Ray worker rootless container. In Ray worker scenarios, what we need is an isolated rootfs and some cgroup configs.

###

[2021-12-01 14:24] #20817 closed

[2021-12-01 14:53] devin-petersohn commented on #20388
What else do you need from us to help move this along @wuisawesome @rkooo567 ?

[2021-12-01 16:56] jon-chuang commented on #20372
One example of serialization lib with support (and spec) for complex types I've come across: https://borsh.io/
Unfortunately, I don't think support for langs outside of Rust/typescript exists.

[2021-12-01 17:42] #17197 closed

[2021-12-01 17:42] #14619 closed

[2021-12-01 18:00] matthewdeng commented on #20807
What's the user goal for this? What kind of customization does the user want?

[2021-12-01 18:03] gjoliver commented on #20372
it's unlikely there will be a library that handles serialization of arbitrarily complex objects for multiple languages.
we need to let users define these.
we then can just save and retrieve a bunch of binary blobs or array/dict of binary blobs in object store for anything that needs to be used xlang.

[2021-12-01 18:32] richardliaw commented on #18134
@rkooo567 do we have a plan to include this in the next ray release?

[2021-12-01 18:50] ColorfulSS commented on #16159
Please refer to these documents:
1. https://github.com/ray-project/ray/blob/releases/1.8.0/rllib/agents/ppo/ppo.py#L311
2.  https://github.com/ray-project/ray/blob/72fdf3be605e4aadfd9a8c3f01dd7843c01cb8fd/rllib/agents/trainer_template.py#L53

_**default_policy (Optional[Type[Policy]]): The default Policy class to use if `get_policy_class` returns None.
get_policy_class (Optional[Callable[ TrainerC

[2021-12-01 19:05] a-python-script commented on #16159
+1. Thx son, now it works. Closing this issue.

[2021-12-01 19:05] #16159 closed

[2021-12-01 19:10] thoth291 opened #20824 "[Bug] Train: adding train.save_checkpoint(epoch=epoch, model=model) hangs the training in CPU-only mode"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Train

### What happened + What you expected to happen

I was closely following this tutorial [here](https://docs.ray.io/en/latest/train/train.html) and these [customizations](https://docs.ray.io/en/latest/train/user_guide.html#saving-che

[2021-12-01 19:18] jiaodong commented on #20724
That's where I would take advantage of shared memory in ray cluster. You can start off by saving preprocessed images into ray cluster first via `obj_ref = ray.put(img)` then you can pass its binary representation `binary = obj_ref.binary()` around and reconstructed by `obj_ref = ray.ObjectRef(binary)` then you can fetch this remote object anywhere in the ray cluster by simply calling `img = ray.ge

[2021-12-01 19:22] tgaddair opened #20825 "[Bug] TensorDType conversion causes boolean tensor columns to duplicate across batches"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

When using the `TensorDType` to cast a binary valued column in a dataset to a tensor type, it breaks the `iter_batches` behavior by causing the first batch of data (only for the binary column) to

[2021-12-01 19:31] amogkam commented on #20807
This is just being able to customize the name of the file that the checkpoint is saved in.

@andrijazz could you describe some more about your use case?

[2021-12-01 20:37] hckuo commented on #20343
I can work on this.

[2021-12-01 20:51] ericl commented on #20372
It seems that msgpack with extensions may be enough to cover most of the use cases. Basically, we can support a list of common msgpack types, and Object refs, and then also support opaque language-specific blobs, e.g. PythonObject, JavaObject.

[2021-12-01 21:02] stefanbschneider opened #20827 "[Bug] [rllib] Attention and FrameStackingModel work poorly"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I've been experimenting with Ray RLlib's StatelessCartPole environment, where some observations are hidden, and with different options for how to deal with these partial observations. I noticed tw

[2021-12-01 21:09] stefanbschneider commented on #20827
Or should I be stacking frames differently as mentioned here? https://github.com/ray-project/ray/issues/10882

[2021-12-01 21:35] scv119 opened #20829 "[Bug] dask_on_ray_large_scale_test_no_spilling timeout"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_vrDzSrXu2g42MCL4eahNjfjq

### Versions / Dependencies

N/A

### Reproduction script

N/A

### Anyt

[2021-12-01 21:54] yifeif opened #20830 "[Bug] Ray not passing keyword argument properly when propagating exceptions from task"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Seeing the following error when trying to initialize the exception from a ray task by passing in keyword argument, but it works as a positional argument.
[code]

### Versions / Dependencies

la

[2021-12-01 23:35] chunweiyuan commented on #20470
Could this be what's happening at #20618?

[2021-12-01 23:39] #20198 closed

[2021-12-01 23:46] ericl commented on #20618
If you add system.gc() in the loop / remote functions, does it prevent the leak?

[2021-12-02 00:10] chaomengyuan opened #20834 "[Bug] _resolve_paths_and_filesystem func in file_based_datasource.py"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

In `prepare_read()`, when two hdfs file paths (hdfs://netloc/path1, hdfs://netloc/path2) are passed into `_resolve_paths_and_filesystem()`. The first one is parsed into "path1" and the second one

[2021-12-02 00:20] #20396 closed

[2021-12-02 00:40] chunweiyuan commented on #20618
Hi @ericl ,

Here's the new code I tried (just added a few `del` and `gc.collect()`):

[code]

And here's the output:
[code]

Attached are some screen shots from `top`:
loop 3
![loop 3](https://user-images.githubusercontent.com/5572303/144336741-fab30aae-e2aa-4154-81b2-4688ce11ab2d.png)

loop 5
![loop 5](https://user-images.githubusercontent.com/5572303/144336755-8a6b56fc-c580-4e1a-98a6-1f633f1b8f

[2021-12-02 01:27] jiaodong opened #20835 "Update jobs document to use better example for cli"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

_No response_

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2021-12-02 01:54] thoth291 commented on #20824
I was reminded by @amogkam to try `TF 2.6.2` - and can tell that it DOES NOT hang, BUT it still fails.
And here is the traceback of the error (right after first epoch).
[code]

[2021-12-02 02:24] ericl commented on #20618
Hmm, I'll take another look. Another thing to try is running "ray memory" to see what reference are still in scope. That should tell you if it's a reference counting issue or not.

[2021-12-02 02:41] simsimiSION commented on #19218
Hi, I have the same problem, when evaluating the algorithm in ray[1.8.0]. Have you solved the problem? ^-^

[2021-12-02 02:55] qicosmos commented on #20372
Maybe we could also look at [microsoft bond](https://github.com/microsoft/bond), it support multiple languages, c++, java, python.
[cpp example](https://github.com/microsoft/bond/tree/master/examples/cpp/core/serialization)
[java example](https://github.com/microsoft/bond/tree/master/examples/java/core/serialization)
it can support map and vector:
[code]

[2021-12-02 03:57] DmitriGekhtman opened #20837 "Remove deprecated autoscaler fields [Bug][autoscaler] Retire deprecated autoscaler fields"
Deprecated fields like "initial_workers, target_utilization_fraction, autoscaling mode, worker_nodes, head_node` need to be officially retired at this point (we should raise an error if these fields are present).
Anecdotally, some of these fields no longer work well. There's not much interest maintaining them.

[2021-12-02 04:15] jiaodong opened #20839 "Support call_async()"

[2021-12-02 05:00] scv119 opened #20840 "[CI] linux://python/ray/tests:test_multi_node_3 is flakey"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

N/A

### Versions / Dependencies

N/A

### Reproduction script

N/A

### Anything else

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-12-02 05:10] scv119 opened #20841 "[CI] linux://python/ray/tests:test_failure_2 is flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

N/A

### Versions / Dependencies

N/A

### Reproduction script

N/A

### Anything else

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-12-02 05:14] scv119 commented on #20801
@NathanTP as @rkooo567 suggested, Ray is optimized fro numpy where put yields fewer copies under the hood. Closing it for now but let's know if you have more questions.

[2021-12-02 05:14] #20801 closed

[2021-12-02 06:17] chenk008 opened #20842 "[Bug] The raylet not reconnect to the replaced redis"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

### What happened

Now we use Kuberay to deploy ray cluster on K8s. The ray worker node's entrypoint like ` ray start  --block  --node-ip-address=$MY_POD_IP  --redis-password=LetMeInRay  --addr

[2021-12-02 06:41] zhe-thoughts commented on #19004
@sandratatarevicova : Do you still see this issue with 1.8.0? Thanks

[2021-12-02 07:47] #20612 closed

[2021-12-02 08:14] mattip opened #20846 "[Bug] Executing tasks is slow on windows"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

TL;DR: `CoreWorkerDirectTaskReceiver::HandleTask` calls `task_handler_()` to trigger task execution. On linux the call to `task_handler_()` returns almost immediately. On windows, (on my machin

[2021-12-02 08:19] chuckhope commented on #19173
well, I have experienced a similar issue that I have set keep_checkpoints_sum = 1, but the worker will sync all checkpoints to the header. Besides, the head will always keep the first checkpoint with the best.

[2021-12-02 08:20] dHonerkamp commented on #19218
I haven't tried it again. I chose to downgrade to the previous version until there is a fix

[2021-12-02 08:24] KyunghyunLee opened #20847 "[Bug] training stuck in PENDING status"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I just run the example to train IMPALA in atari environments using `rl-experiments`.
It sticks forever in PENDING status.

[code]

== Status ==
Current time: 2021-12-02 17:21:50 (running for 00:03

[2021-12-02 08:38] chuckhope commented on #17940
@xwjiang2010 hi, is there any way to tackle this problem right now with syncing to the driver? Thank you

[2021-12-02 09:32] lixin-wei opened #20848 "[Optimization] Split GcsNodeInfo into Basic/Full GcsNodeInfo"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Recently we found that GetAllNodeInfo is a bottleneck of GCS. Because when actor/raylet FO, it will subscribe to node change, in which GetAllNodeInfo will be sent.

After analyzing, we found that only a few fields are used by CoreWork

[2021-12-02 12:47] sandratatarevicova commented on #19004
It did not yet happen after the upgrade. I will try to reproduce it.

[2021-12-02 14:36] andrijazz commented on #20807
Exactly as @amogkam described. Feature request is about providing ability to the user to specify name of the checkpoint. Currently, checkpoint names are assigned automatically ... `checkpoint000001`

[2021-12-02 14:42] jovany-wang commented on #17484
Right now Ray has been supported on M1. Feel free to reopen this or open a new issue if it cannot work on your environment.

[2021-12-02 14:42] #17484 closed

[2021-12-02 16:10] matthewdeng commented on #20807
Hey @andrijazz, can you clarify why you want to customize this checkpoint name, or perhaps give an example of what you'd want to customize it to? This would be helpful for us to understand the right API to expose.

[2021-12-02 16:44] krfricke commented on #20847
Hi @KyunghyunLee, `atari-impala.yaml` specifies 32 workers, each using a CPU. However, the learner and also uses up resources, so the 32 CPUs your cluster has are not sufficient. Can you try e.g. 16 workers?

Can you see any warning outputs for insufficient resources? cc @xwjiang2010

[2021-12-02 17:25] Yard1 commented on #19018
Hey @mathetes87, just wanted to check in if you need any help on this :)

[2021-12-02 17:51] simon-mo opened #20851 "[Serve] Document `serve.get_replica_context()` in package ref"
They are currently no documented.

[2021-12-02 18:34] jiaodong opened #20854 "[Feature] RFC-Serve: Support gRPC"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We've got community asks about supporting gRPC in ray serve, as currently we're HTTP only. This issue opens up RFC for this request and open for community comments about their need and use case to help us prioritizing.

### Use case

[2021-12-02 18:36] DmitriGekhtman opened #20855 "[autoscaler] Persistent problems encountered during autoscaling can lead to driver log spam"
Persistent problems encountered during autoscaling can lead to driver log spam.
See for example the create node message in https://github.com/ray-project/ray/issues/20774

Consider how to rate-limit the messages in these situations.

[2021-12-02 18:48] richardliaw opened #20857 "[RFC] Usage Data Collection in Ray"
Hi all!

I'd like to get your thoughts on this below proposal which will impact a large number of Ray users.

The Ray team is proposing to enable the collection of usage statistics data in Ray, which will be used to understand how to improve Ray.

[Here is the proposal.](https://docs.google.com/document/d/1ZT-l9YbGHh-iWRUC91jS-ssQ5Qe2UQ43Lsoc1edCalc/edit?usp=sharing) **You will always be able to d

[2021-12-02 18:53] ArturNiederfahrenhorst commented on #20857
I support this kind of data collection in open source projects :)

[2021-12-02 18:55] davidbuniat commented on #20857
I support it as well. Analyzing edge cases of instability and getting actionable insights will be extremely helpful to make Ray more stable.

[2021-12-02 18:59] tgaddair commented on #20857
This will be very informative for better understanding the community. Looking forward to the blog post summarizing the results :).

[2021-12-02 19:00] dmatrix commented on #20857
In general, non-intrusive data collection with goodwill and good cause to improve the usage of the platform and its libraries is a good idea. And openly sharing with the community is even better. Good idea!

[2021-12-02 22:21] scv119 opened #20861 "[CI] nightly dashboard is broken"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

go/cd it's broken

### Versions / Dependencies

n/a

### Reproduction script

n/a

### Anything else

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-12-02 22:29] scv119 opened #20862 "[Bug] nightly test many_nodes_actor_test is flakey"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://buildkite.com/ray-project/periodic-ci/builds/1838#c4491071-470e-4cfb-8623-9d2c0e05cfb5 is hanging

### Versions / Dependencies

N/A

### Reproduction script

N/A

### Anything else

_No

[2021-12-02 22:29] scv119 commented on #20862
https://github.com/ray-project/ray/issues/20395

[2021-12-02 22:46] simon-mo commented on #20861
I contacted support from our dashboard service provider and will report back here.

[2021-12-02 23:22] mathetes87 commented on #19018
Hey. I actually was not even able to build Ray for local development :(
I'll give it another try though and let you know. Thanks!

On Thu, Dec 2, 2021, 2:25 PM Antoni Baum ***@***.***> wrote:

[2021-12-02 23:22] John-Almardeny opened #20863 "[Feature] Get The Actor Creation State Programmatically"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

For streaming applications, many Ray Actors will be created over a short time.

The problem is: there is a huge latency in the Ray Actor creation. A lot of them spend a long time in the "Pending" State before becoming "Alive" or they

[2021-12-02 23:30] simon-mo commented on #20861
Preset ticket https://preset.atlassian.net/browse/PPR-43

im still asking about a better workaround than hard coding the date.

[2021-12-03 02:37] chenk008 commented on #20820
[Fuse-overlayfs](https://github.com/containers/fuse-overlayfs) is an implementation of overlay+shiftfs in FUSE for rootless containers, it can help to workaround this rootfs issue on non-debian based distros.

[2021-12-03 03:20] iycheng commented on #20848
I have one question here, for worker, should they just ask for GetNodeInfo from raylet?  If we do that could it fix this problem?

Long term goal is that worker shouldn't talk with gcs directly. For some info it can be cached in raylet, so it'll go with raylet, for some, raylet will redirect them to gcs.

cc @scv119  as well.

[2021-12-03 04:05] #16962 closed

[2021-12-03 04:26] xinchen384 opened #20869 "[Client] Training with a large model (size>2GB) with Ray Client leads to Ray stuck forever"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

1. The bug.
In our application, we need to construct a large Pytorch model. (size >> 2GB).
When doing the training, ray gets stuck forever with the large model. The terminal does not show anyt

[2021-12-03 04:50] #17244 closed

[2021-12-03 04:50] #17246 closed

[2021-12-03 05:06] #20189 closed

[2021-12-03 06:17] larrylian commented on #20498
@mwtian  Can you describe the detailed design? Our ant team is also doing HA now. We can discuss it together.
Our current HA design is. Use external redis as the storage layer. Then start two head nodes(include gcs and dashboard process). When the primary node fails, the standby head node can quickly become the primary head node. Ensure that the ray cluster recovers quickly.

[2021-12-03 06:17] raulchen commented on #6715
Yeah, that's what I was thinking. This should be able to meet all the requirements I can think of.

[2021-12-03 06:59] lixin-wei commented on #20848
Yeah! I totally agree with you, we are working on making raylet as a proxy, too.

But this optimization is a parallel thing with that. Even we made raylet as a proxy, this optimization will still work.

[2021-12-03 07:00] lixin-wei commented on #20848
@iycheng Yeah! I totally agree with you, we are working on making raylet as a proxy, too.

But this optimization is a parallel thing with that. Even we made raylet as a proxy, this optimization will still work.

[2021-12-03 07:31] 2726651506 commented on #20681
pip install aiohttp==3.7.4

[2021-12-03 07:33] 2726651506 commented on #20702
pip install aiohttp==3.7.4 you can solve this issue

[2021-12-03 09:19] richardliaw commented on #20824
@amogkam or @matthewdeng are the right folks to take this issue.

I'll assign it to both of them for them to triage for now.

[2021-12-03 10:00] stefanbschneider commented on #20857
Same here, I support and see great potential in collecting usage data - and I agree it's crucial that this remains transparent and optional. Looking forward to the resulting insights and improvements!

[2021-12-03 10:16] scv119 commented on #20830
turned out to be not a ray issue, the following code throws the same exception without ray.

[code]

probably you need to follow this to make the exception picklable.

https://stackoverflow.com/questions/16244923/how-to-make-a-custom-exception-class-with-multiple-init-args-pickleable

[2021-12-03 10:17] scv119 commented on #20830
cc @yifeif

[2021-12-03 10:17] #20830 closed

[2021-12-03 12:04] andrijazz commented on #20807
hi @matthewdeng ... i mean its not critical but to me it feels weird not to have ability to specify checkpoint name.
My use case is that I keep checkpoints from different models in the same folder on the azure so my checkpoints are usually named `[model_name]_[some run_id]_[epoch].pth`. Having 100 different models and 100 checkpoints named `checkpoint-xxxxx` would probably cause me confusion ... b

[2021-12-03 17:11] HuangLED commented on #20869
@amogkam @richardliaw

[2021-12-03 17:33] mwtian commented on #20869
Thanks for the detailed report and reproduction script. Ray probably should emit a better error message instead of hanging here. From the error log the script was running into the client object / protobuf size limit in https://github.com/ray-project/ray/issues/18378,  cc @ckw017

[2021-12-03 18:02] amogkam commented on #20869
@xinchen384 Is there a longer stack trace on where exactly in ray sgd this is happening?

[2021-12-03 18:06] amogkam commented on #20869
One quick fix would be to just wrap everything in a ray task.

[2021-12-03 18:54] xinchen384 commented on #20869
@amogkam >Is there a longer stack trace on where exactly in ray sgd this is happening?
No. In the terminal, nothing shows up. The log is the thing I copied from /tmp/ray/session_latest/logs.

INFO:ray.util.client.server.server:Starting Ray Client server on 0.0.0.0:10001
INFO:ray.util.client.server.proxier:New data connection from client 6b18bfbeffc44e888fa3e24dd7bec455:
INFO:ray.util.client.server

[2021-12-03 18:59] xinchen384 commented on #20869
@amogkam > One quick fix would be to just wrap everything in a ray task.
The reproduction code is something we directly copied from the SGD example here, https://docs.ray.io/en/latest/raysgd/raysgd.html. The only change we made is on the size of the model. I am not clear on how to wrap this example in a ray task.

BTW, we just tried the SGD v2, and it behaves exactly the same.

[2021-12-03 19:28] amogkam commented on #20869
@xinchen384 so the log you shared in the second comment is different than the one you shared in the original post.

[code]

[code]

[2021-12-03 19:38] wubdub commented on #20634
I am also hitting this exact issue on ray 1.8.0 and ray 1.9.0rc1 and is crippling productively using Ray amongst a number of people on a shared cluster

It it hard for the user to fix because even with group write permissions, it appears another user can't rm ```/tmp/ray_current_cluster``` for another user because it is in ```/tmp```

[2021-12-03 19:42] Yard1 commented on #19018
@mathetes87 If you need any help with that, please let me know. I'd be happy to schedule a short meeting to unblock you if needed :)

[2021-12-03 20:41] scv119 opened #20874 "[Dataset][Bug] Ray Dataset and Train example doesn't work"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I have a script using Ray Dataset and Train that runs locally but when running on an Anyscale cluster, the get_dataset_shard step inside the training func gives an error AttributeError: 'Worker

[2021-12-03 21:51] architkulkarni opened #20876 "[runtime env] Specifying `pip` per-job using `requirements.txt` using Ray Client on remote cluster doesn't work"
The following script fails when connecting to a cluster with a different file system than the client:

[code]

Output:
[code]

### Versions / Dependencies

Python 3.8
Ray 1.9.0
MacOS client, Ubuntu head node

### docker setup
[code]

### Inside the container
[code]

### In host shell
[code]

[2021-12-03 21:55] matthewdeng commented on #20874
Actually explicit Ray Client support wasn't added for Ray Train until 1.9. The behavior in 1.8 in which the `BackendExecutor` is on the driver has not been tested, and may be the reason for this.

[2021-12-03 22:00] amogkam commented on #20869
Ah ok so this is the line that is attempting to deserialize the model state dict on the driver: https://github.com/ray-project/ray/blob/master/python/ray/util/sgd/torch/torch_trainer.py#L448.

Unfortunately the 2GB limit is a limitation of Ray Client. You can either not use Ray Client altogether, or wrap the main code in a Ray task like so (which is equivalent to not using Ray Client):

[code]

[2021-12-03 22:01] amogkam commented on #20869
As @mwtian mentioned, the issue is the same as https://github.com/ray-project/ray/issues/18378 and we should raise a better error message here.

I am going to close this for now as a duplicate of https://github.com/ray-project/ray/issues/18378, but please feel free to reopen if the workaround does not work for you.

[2021-12-03 22:01] #20869 closed

[2021-12-03 22:02] amogkam commented on #18378
@ckw017 @AmeerHajAli can we revisit this issue? The same problem is happening again in https://github.com/ray-project/ray/issues/20869.

It would be great if we can prioritize this and have a better error message.

[2021-12-03 22:29] chunweiyuan commented on #20618
Hi Eric,

Unfortunately the terminal command `ray memory` doesn't work on either my laptop nor our cluster.  While the dashboard work, for some reason the memory tab updates very slowly to be of any use for me.  So I wasn't able to drill down to the references.

Barring that, I did some empirical grid search on this issue.  I suspect the `np.concatenate()` is just a red herring, the real issue bei

[2021-12-03 22:30] rkooo567 commented on #18378
cc @scv119 @ericl  maybe we should prioritizing raising a better error here?

[2021-12-03 22:53] vladfi1 opened #20878 "[Bug] rsync_filter isn't used in hash_runtime_conf"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

In my cluster.yaml, I have a filemount for the current working directory:
[code]
Locally, I have a folder `./data/` with ~100K files that I do not want to mount. These files are in my `.git

[2021-12-03 23:14] richardliaw commented on #20878
@ckw017 can you take a look at this?

[2021-12-03 23:18] clarkzinzow commented on #20874
Fixed by upgrading to Ray 1.9, when Ray Client support was added to Ray Train.

[2021-12-03 23:18] #20874 closed

[2021-12-03 23:36] #15734 closed

[2021-12-03 23:39] ericl commented on #20618
The following seems to work for me (it ran to completion). I think the issue was that the loop wasn't blocking on the remote task to finish (no ray.get), hence the number of active tasks / memory usage grows without bound.

[code]

[2021-12-03 23:49] matthewdeng commented on #20824
Hi @thoth291, can you try checkpointing just the model weights?

[code]

And upon `load_checkpoint`, you can call `multi_worker_model.set_weights()` if they are available.

[2021-12-03 23:57] chunweiyuan commented on #20618
Hi @ericl,

Yeah your code ran to completion for me too.  And it's interesting that the worker memory footprint on the dashboard is only about 1.8GB now, compared to ~3.2GB when I ray.get() in the remote.  I thought whatever the remote gets will just get zero-copy-mapped to the object store, so the total memory footprint should stay ~1.6GB.  Or perhaps there's some double-counting on the dashboard

[2021-12-04 00:02] ericl commented on #20618
Yeah it is pretty easy to shoot yourself in the foot when using the tasks API directly.

It's a question of optimal scheduling order--- in this case, you minimize footprint by scheduling serially (or maybe you can allow a limited number of tasks to execute). You can run all of them in parallel but that seems to cause excessive thrashing in this hardware configuration. (cc @stephanie-wang for furth

[2021-12-04 00:06] ckw017 commented on #20878
Not too familiar with this codepath, but will take a look

[2021-12-04 00:25] architkulkarni opened #20879 "[Bug] On Ray 1.9, `ray --version` returns `ray, version 2.0.0.dev0`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

`pip install "ray[default]==1.9"`

`ray --version`

This returns `ray, version 2.0.0.dev0`.

However, inside python, `import ray; ray.__version__` returns the correct version, `1.9.0`.

### Ver

[2021-12-04 00:27] architkulkarni commented on #20879
Couldn't reproduce in a fresh conda environment, something must have been messed up in my environment

[2021-12-04 00:27] #20879 closed

[2021-12-04 00:54] stephanie-wang commented on #20618
Yeah, Eric's approach of inserting ray.get() or ray.wait() statements to throttle how many tasks are in the system is the recommended approach for now.

It might also help if you use varargs to pass array_futures, like `ars = get_arrays.remote(*list_of_arrays)`, so that `get_arrays` doesn't actually get scheduled until all of its inputs are available. If that allows the script to work, there might

[2021-12-04 07:13] thoth291 commented on #20824
That worked. Thanks. I guess I was a bit confused by the user guide on what is actually going on there.
Maybe more complete example there would be working better...
Thank you for your help @matthewdeng , @richardliaw and @amogkam !
Now will work on adding tune and then will scale on the cluster. Fingers crossed.
I consider this ticket closed.
Thanks!

[2021-12-04 12:29] TingNLP opened #20884 "Ignore the same value we have run"
### Search before asking

- [x] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In a same dataset, is it possible that the same value which we have run in the previous experiment will not be implemented in the next experiment ?

I want to try more values, but I don't want to waste time to run same value again.

I

[2021-12-04 15:03] #17293 closed

[2021-12-05 00:47] #17261 closed

[2021-12-05 04:22] mm04926412 opened #20886 "Can't resume a run after hitting max samples"
Even if I raise the max sample limit it seems that once a run has hit the original limit that the run is effectivelly dead and cannot be resumed anymore. Is there a work around to this?

[2021-12-05 07:06] tekumara opened #20888 "[Bug] Cannot access member "map_batches" for type "DatasetPipeline[int]""
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

  vscode and pyright report:

[code]

Because DatasetPipeline is a dynamically created method without type annotations.

This prevents vscode from:
1. being able to go to the definition of the me

[2021-12-05 18:54] wrmichaelmak commented on #20084
Hey @28140, did you try out the solutions listed at stackoverflow? I tried them out but does not seem to be working. Was wondering if you got them working... I also tried to use a venv but no luck as well.

[2021-12-05 19:43] ze897c opened #20890 "experimental dashboard breaks ray?"
Folks, not sure if I have tracked this down well at all, but it FEELS like ray breaks for me after switching to the experimental dashboard. I could perhaps validate this (somewhat) if I could delete/edit config to force the dashboard back to the sable version. Maybe in the `redis` cache...? Any help would be fantastic. Thanks All.

"""
(pid=93804) 2021-12-05 14:44:32.742 python[93804:2522960] ***

[2021-12-05 20:02] John-Almardeny opened #20891 "[Bug] Unable to Schedule Fractional CPUs on Windows 10"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

## The Problem:

With enough available resources (i.e. 12 CPUs), Actor number 13 is ***always*** pending regardless of the fractional CPU assigned to it. Then after that, most Actors keep pendi

[2021-12-05 22:02] mvindiola1 commented on #20886
Resume is for when a trial fails. Restore can be used to start a new trial using the saved parameters of a previous one.

[2021-12-05 22:37] ericl opened #20892 "[doc] API doc show things like "Mock name='mock.ObjectRef' id='140639907666512'""
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

https://docs.ray.io/en/latest/package-ref.html#ray-wait

shows

ray.wait(object_refs: List[<Mock name='mock.ObjectRef' id='140639907666512'>], *, num_returns: int = 1, timeout: Optional[float] =

[2021-12-06 01:14] #17266 closed

[2021-12-06 01:47] mm04926412 commented on #20886
What I am trying to do is carry on with my hparam search after the script last terminated as I have to do my searches in "bursts" on my cluster. Would restore enable that? I mostly just dont want to throw away the search space information.

[2021-12-06 02:38] #20291 closed

[2021-12-06 05:25] jovany-wang commented on #20372
We have a cross language serializer, which has been serving our internal cross language applications. Let us make it as one of the options when investigating.  @chaokunyang CC
https://docs.google.com/document/d/1nrKrXnyRqiIQqLV1P6i3t6TXQEwduoyLeHLMT2DV-fc/edit#heading=h.yb77c3r8bwjt

[2021-12-06 05:29] satish-madugula commented on #20854
Hi @jiaodong ,

It would be a good feature, if ray serve can support gRPC requests.

[Comparison of gRPC and REST with TF-Serving](https://medium.com/@avidaneran/tensorflow-serving-rest-vs-grpc-e8cef9d4ff62)

I had discussions on the same earlier , please refer the same [here](https://github.com/ray-project/ray/issues/20724) and [here](https://discuss.ray.io/t/ray-serve-with-grpc-request/4244)

[2021-12-06 06:29] scv119 commented on #20829
hmm can't reproduce after 20 consecutive runs...

[2021-12-06 07:17] sijieamoy opened #20896 "[Bug] Ray Dataset is slow when doing raydataset.take() on a large data row"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

I'm working on a ML project that performs text vectorization using Ray Dataset. Each row of the vectorized data can have 10k+ integers after vectorization. After the processing I want to use `myd

[2021-12-06 07:45] rkooo567 opened #20899 "[Bug] Incorrect promise usage that causes infinite blocking calls"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Many of Ray gRPC simulates the blocking call using `std::promise`. This is one of examples.

https://github.com/ray-project/ray/blob/b3a9d4d87d31255e0871852efaf1ddff7acdc390/src/ray/gcs/gcs_cli

[2021-12-06 08:05] rkooo567 commented on #20733
Duplicated https://github.com/ray-project/ray/issues/20899

[2021-12-06 08:05] #20733 closed

[2021-12-06 08:39] shahar-fleischman commented on #20667
Dashboard & monitor
Is there a place I can see the settings for log rotation in ray documentation ?
Can I move ray log location from /tmp ?

[2021-12-06 08:40] Eleven1Liu opened #20901 "[Bug] [ray/tune] Best trail printing `None` when input a nested config"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

1. **the bug**: When passing in the nested config (Ex. `config['network_config']['dropout']`) to `tune.run()`, parameters specified in the nested config are `None` in "Current best trial".
Plea

[2021-12-06 09:27] poldpold commented on #20498
@WangTaoTheTonic, would you have any doc, blog post or anything really explaining how to test this functionality? I'm a ray newbie, so please bear with me if the answer should be obvious.

[2021-12-06 12:07] andrew-rosenfeld-ts opened #20902 "[Bug] tune.run uses methods that are not in ProgressReporter, again"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

This is basically the same issue as I reported in #13153, except it has happened again in a new way.

"While the docs say you can write your own custom ProgressReporter, tune.run() calls method

[2021-12-06 13:42] fnw commented on #9166
I am on Ray 1.9.0 and on Windows 11 Insider Preview (Build 22483.1011) and attempting to run GPU experiments results in a "FileNotFoundError: [WinError 2] The system cannot find the file specified" error when trying to run the WMIC command in the GPU auto-detection function, which would seem to indicate that WMIC has already been removed, at least on Insider Preview builds.

[2021-12-06 14:51] jmakov commented on #19636
Still pollutes cell output in v1.9.

[2021-12-06 15:28] devin-petersohn commented on #20388
Hi folks, wanted to check in on this. What else do you need?

[2021-12-06 15:31] iamhatesz opened #20904 "[Bug] [RLlib] Actions are calculated for done agents"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When using `rllib.evaluate.rollout` method on a multi-agent environment, actions are being calculated for agents which have just done. This is due to the following code block:

https://github.com/

[2021-12-06 15:49] devin-petersohn commented on #20388
@rkooo567 Thanks for the response. The performance on the new Macs is generally unacceptable, we are talking about 2 or 3 or 4 minutes for a task with <1GB of data dependencies, writing out <1GB to the object store.

This is really important, and I will send ship you a new Mac on loan if that is what it takes to get this fixed. It is blocking critical development and usage.

cc @pcmoritz should I

[2021-12-06 15:55] rkooo567 commented on #20388
Hmm when you say new Mac, are you talking about M1 macbook?

[2021-12-06 15:57] devin-petersohn commented on #20388
No, not on M1. This is happening on Intel Macbook pro, I think related specs are in the first comment of the issue.

[2021-12-06 16:35] rkooo567 commented on #20388
I have been looking into this a bit more, and @scv119 it looks like it takes about 1 minute to seal the object after it is created;

[code]

Do you know when this can happen?

[2021-12-06 16:42] rkooo567 commented on #20388
Also, @devin-petersohn can you try

[code]

-> use this script instead and give me output for both Windows & Mac following the below instruction.

Windows; Can you try running it without using shm & same object store memory as Mac? That says, start ray with `ray.init(_plasma_directory="[tmp dir that mounts on SSD]", object_store_memory=[same amount of object store memory as Mac])` and see the resu

[2021-12-06 16:54] gjoliver commented on #20372
Great doc!

It looks to me Fury is heavily designed to work across Python and Java. Any idea how hard it would be to extend Fury to support languages like C++ or Go?
Is there any plan to open source Fury?

Otherwise, the "Integration With Ray" section looks like the right way to go about this.

[2021-12-06 16:59] ckw017 commented on #19636
As a quick sanity check, can you try setting RAY_SCHEDULE_EVENTS=0 as well? Looks like #18724 might have changed the behavior of AUTOSCALER_EVENTS, which would explain why new output is showing up after an update.

[2021-12-06 17:09] ckw017 commented on #19636
^Sorry, should be RAY_SCHEDULER_EVENTS=0 (with schedule->scheduler)