[2022-01-17 21:57] efokschaner commented on #20968
I used this approach to pin the Trainer itself to my head node, which worked:

[code]
HEAD_CPU is a custom resource which only the head has which i defined in the cluster yaml as such:
[code]

[2022-01-17 23:17] xwjiang2010 opened #21653 "[tune] multi fake node set up doesn't work under non ray client mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

`ray.init("127.0.0.1:16379")` is not working.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-01-17 23:21] xwjiang2010 opened #21654 "[fake multi node] provide a mechanism to kill node under ray client mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

`docker kill <node>` can only work from outside of the docker nodes. However, tune Callbacks are called from driver (which runs on head node). We need a mechanism for tune Callbacks to surface the information to outside of the docker

[2022-01-17 23:37] rkooo567 commented on #21623
I am a little confused about :task_name:myfunc

Do you mind printing the driver output directly here?

Also pid=runtime_env is expected. It is just an event log for setting up runtime environment

lastly for the keyboard interrupt, do you have a simple repro?

[2022-01-18 00:12] pcmoritz opened #21655 "[Kuberay] Automatically generate Autoscaler YAML config from CRDs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

At the moment in https://github.com/ray-project/ray/pull/21086, the autoscaler config is manually posted to Kubernetes and shared between Ray clusters (and needs to be manually kept in sync with the Ray cluster CRD). Going forward we

[2022-01-18 00:26] pcmoritz opened #21656 "[Kuberay] Optimize API calls of Kuberay Node Provider to k8s API server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

There are several opportunities to optimize the API calls in the Kuberay/Ray autoscaler integration at the moment:

- As pointed out in https://github.com/ray-project/ray/pull/21086#discussion_r785239788, we should use `resourceVersio

[2022-01-18 00:41] pcmoritz opened #21657 "[Kuberay] Ray CI integration with Kuberay, including Ray libraries"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Make sure the Ray/Kuberay integration is tested in our CI, including making sure libraries run and components like the Ray client is functional and doesn't break.

The best way to do this is to port this new CI functionality https://g

[2022-01-18 04:19] jon-chuang commented on #21578
Notes:
- is work stealing, or a gather evenly more efficient? A: probably depends on task granularity; work stealing more adaptive overall. Implementation for work stealing: Expose `steal_jobs(n)` remote method on serve actor.

[2022-01-18 07:25] #21108 closed

[2022-01-18 07:28] xiedidan commented on #21285
@valiantljk
It looks ```ray stop``` tries to stop external redis @ 6379. This seems to be wrong since I already have redis-server running (for other propose) and started ray cluster with --port=6389.

[code]

```ray stop``` cannot stop my external redis-server since I started it with root.
However, there's a raylet process after ```ray stop```, I have to ```kill -9``` to stop it:
[code]

Is this a

[2022-01-18 07:30] SongGuyang commented on #19824
@rkooo567 @edoakes @lixin-wei Has this issue already been finished?

[2022-01-18 07:58] SongGuyang commented on #21495
In Python:
[code]

or

[code]

In Java:

[code]

The principle is that:
        If we create a cross-language field of the typed runtime env, the API name should have a prefix, like "java_..." or "setPy...". Otherwise, the prefix is not required.

What do you think about this?

[2022-01-18 08:05] wildsky95 commented on #21457
Hi, is there any development on this issue ? @avnishn @sven1977

[2022-01-18 08:22] rkooo567 commented on #19824
No. Not implemented yet

[2022-01-18 08:24] pcmoritz opened #21662 "[Kuberay] Expose Ray client and dashboard in Kuberay and add docs about it"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Add service definitions to expose the Ray client and dashboard in Kuberay (with info on how to thread it through a Kubernetes ingress, so it can work out of the box for users).

Add documentation on these.

### Use case

_No response_

[2022-01-18 08:27] pcmoritz opened #21663 "[Kuberay] Polish documentation and add example configurations"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Work with users to make sure the documentation is good and makes the users successful.

Add good example configurations (Kuberay RayCluster CRD yaml files) that can used by users to solve their problems -- you can get some ideas from

[2022-01-18 08:38] KyunghyunLee opened #21664 "[Bug] worker_ports not released even after ray stop"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I am testing a new algorithm with multiple nodes, so I export many workers and kill them.
After a huge amount of tests, I got a message when starting ray head,

[code]
seems like all worker_por

[2022-01-18 08:47] sven1977 commented on #20827
Hey @stefanbschneider and @mickelliu , I'll take a look at this today w/ high prio. ...

[2022-01-18 09:07] mickelliu commented on #20827
Thanks @sven1977, it could be because that attention net and lstm are notoriously harder to train.
Especially in our custom CV environment, we found that the LSTM stagnant performance problem was mainly attributed to the shared layers between value and actor networks, separating the two branches help the convergence of LSTM models...
And as for GTrXL the original paper used 12 transformer layers a

[2022-01-18 09:33] rkooo567 commented on #21664
This doesn’t mean the ports are selected. It means the ports between those numbers can be used by ray. The error message indicates the gcs server using 12345 can cause conflict with worker ports. Did you manually set 12345 for gcs-server-address!

The message has also improved at ray 1.10 (which will be released soon).

[2022-01-18 09:39] sven1977 commented on #20827
On the attention-net experiment:
* Attention nets are large, complex networks, requiring some tuning. This could very well just be a tweaking issue. Also, 10 iterations are not enough to get to >150 reward. You'll have to run it for a little longer.
* Note that we cover attention learning tests in our regression suite, running nightly the following experiments: `ray/release/rllib_tests/multi_gpu_w

[2022-01-18 09:45] mariaboerner1987 commented on #21651
Great. Then we will make a PR for adding Flower to the ecosystem.
Do you mean with "Other Libraries" the "More Library" in the documentation such as https://docs.ray.io/en/master/joblib.html? I guess we will create a separate PR for this.

I will contact you via mail about the blog post.

[2022-01-18 09:48] sven1977 commented on #20827
On the framestacking experiment:
* Note that the two experiments you are comparing use different models:
    a) Using env wrapper for framestacking + RLlib default model
    b) Using framestacking inside a custom(!) model
* In a), the RLlib default model has separate vf- and policy nets. In b), these are shared, thus, the vf_loss_coeff value needs to be carefully tuned.

This script here works per

[2022-01-18 09:49] sven1977 commented on #20827
I'm closing this issue. Feel free to re-open should you think that the above answers are not sufficient :)

@stefanbschneider  @mickelliu

[2022-01-18 09:49] #20827 closed

[2022-01-18 10:45] #21336 closed

[2022-01-18 10:50] jon-chuang commented on #21632
Hmm, I've been looking into it. I'm starting to feel that we should distinguish between `Mutable` and `Immutable` at the type level.

Not sure how this plays with https://github.com/ray-project/ray/pull/21250 and the like of sharing responsibility for buffer lifetimes across language worker code and Ray core.

[2022-01-18 11:04] sven1977 commented on #21648
Hey @n30111 , thanks for raising this. I think the answer here is that in case you do want to use a `action_sampler_fn` (in which you take charge of action computation entirely w/o the help of the policy's built-in action-dist/sampling utilities), you have to make sure that your loss function handles this absence of an action-distribution class.

From looking at your `action_sampler_fn`, it seems

[2022-01-18 11:11] jmakov commented on #21623
`fun` is the name of my remote function:
[code]

[2022-01-18 11:23] sven1977 commented on #21633
Hey @simonsays1980 , thanks for raising this. This is actually a bug. SimpleQ should not use a prio. replay buffer.

Here is a PR that fixes this issue. Just as an information: We are working on a more API to specify/configure/define replay buffers and custom replay buffers.

https://github.com/ray-project/ray/pull/21665

[2022-01-18 11:44] rkooo567 commented on #21623
Is this a log file or a output from stdout?

[2022-01-18 12:17] jmakov commented on #21623
Stdout. Same is happening with log lvl debug&info. I'd expect to see this only if explicitly setting some ray debug var on or in ray debug logs somewhere, not in my main program.

[2022-01-18 12:19] rkooo567 commented on #21623
Hmm I am a little confused here. That log cannot be printed to the stdout in normal situation. Do you have a repro script that I can see exactly what’s going on?

[2022-01-18 12:22] jmakov commented on #21623
Just tested with `ray.init(local_mode=False)` (previously set to `True`). And there's no more `:task_name:[some_fun]` outputs. Still `(pid=runtime_env...` though.

[2022-01-18 12:54] sven1977 commented on #21629
I can reproduce the issue. Happens also with CartPole (seems not Atari related). I'll debug ...

[2022-01-18 14:14] sven1977 commented on #21629
Hey @simonsays1980 , here is a PR that hopefully fixes your issue. The repro script is working on this PR. I also enhanced the existing test case to actually check for mp4 files to be created in both the single-agent case (sub-class gym.Env) and the multi-agent case (sub-class our MultiAgentEnv).

[2022-01-18 14:14] sven1977 commented on #21629
https://github.com/ray-project/ray/pull/21670

[2022-01-18 14:27] aeroaks commented on #21471
Hi @architkulkarni, After recreating the cluster I tried connecting to the cluster. I get the `ClientContext` response but also get the following lines as output still:
[code]

Is there a config that I could try?

[2022-01-18 14:57] XuehaiPan opened #21671 "[Bug] RLLib custom model metrics `policy.model.metrics()` are not logged when training with GPUs"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I'm trying to train RL policies with custom models and additional custom losses.

I implement method `model.metrics()` to log my custom loss to the TensorBoard. Same as the example `rllib/examples

[2022-01-18 15:00] #21554 closed

[2022-01-18 15:26] DeepWolf90 commented on #21576
@rkooo567 @ericl Thank you for your help.

I don't know exactly the cause of SIGBUS error, but when I updated the server OS to ubuntu 20.04, the error disappeared.

I'm pretty sure though, it is not Ray, may be dependencies issue.

[2022-01-18 17:28] pcmoritz commented on #21599
I think it would make to give a better error message here, but it is fine not to support it, since this won't work on a cluster with many machines for example.

[2022-01-18 17:57] architkulkarni commented on #21647
Unfortunately it is too late to cherry-pick this into 1.10.0, but we will include this in 1.11.0.

[2022-01-18 18:44] ckw017 commented on #19636
I see, just to make sure we're on the same page, the RAY_SCHEDULER_EVENTS=0 workaround does work, but you expect the default behavior to be the autoscaler logs aren't visible?

cc @DmitriGekhtman (thoughts on setting scheduler events to silent by default)

[2022-01-18 18:53] iycheng commented on #21432
It's consistent.

[2022-01-18 19:17] jmakov commented on #19636
Correct.
I'll copy my response from https://github.com/ray-project/ray/issues/21623#issuecomment-1015359135: not sure what your team's approach to informing users is, but as a user, I didn't ask ray to print anything. If I'm interested in what's going on I'd look in ray logs. And it's not just pid=runtime_env...., just to be able to work normally I have to explicitly set stuff like RAY_SCHEDULER_E

[2022-01-18 19:18] simonsays1980 commented on #21633
The API sounds promising @sven1977! Really cool idea! Do you think we could also do a similar thing with optimizers for the training step? Altogether the whole RL algorithm becomes more modular - I like this approach.

[2022-01-18 19:21] ckw017 commented on #21573
Any chance you can provide a "data.csv" (or some context how to generate one) that can repro this?

[2022-01-18 19:31] matthewdeng commented on #21416
Ah @bkpcoding I was just using that as an example to showcase the ordering of data! I would say it's not tied to this particular issue, but something that can be added in a separate PR to further improve usability 😄

[2022-01-18 19:52] dimzhead commented on #8429
pip install tensorboardX

This did the trick for me

[2022-01-18 19:55] richardliaw commented on #21651
Yep, that sounds great! Feel free to reach out on slack too if you want faster correspondence.

[2022-01-18 19:57] scv119 opened #21677 "[Core][nightly-test] night test infra failure"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

There are two category of failures
[code]
https://buildkite.com/ray-project/periodic-ci/builds/2405#c06fbeac-d08b-47c4-a157-26e005889852

and  file not found issue:

[code]
https://console.anys

[2022-01-18 20:22] lorepieri8 opened #21678 "Issue on page /rllib/core-concepts.html"
Broken link in the docs:

https://docs.ray.io/en/latest/rllib/rllib-concepts.html#policy-evaluation

(clicking on "Rollout workers" in https://docs.ray.io/en/latest/rllib/core-concepts.html)

[2022-01-18 20:35] scv119 commented on #21677
Confirmed with @krfricke that  https://github.com/ray-project/ray/pull/21626 fixed ` can't open file 'workloads/actor_deaths.py'` issue

[2022-01-18 20:59] xwjiang2010 commented on #21524
Was able to repro on master. @Yard1 Can you take a look?

[2022-01-18 21:05] rkooo567 opened #21679 "[Bug] pg_long_running_performance_test is failing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

pg_long_running_performance_test is failing. It succeeds at c0f12022785f4b7b8ca1deb1ba2720c8652b99d8, and start failing around 4a55d10bb1b70971f50a3872421f2c1eebd84e64. We need to bisect this.

[2022-01-18 21:06] rkooo567 commented on #21679
cc @jjyao

[2022-01-18 21:11] jjyao commented on #21679
Based on the bisect, it's failing due to  4a55d10. The code has been reverted.

[2022-01-18 21:12] architkulkarni commented on #21471
The line ` Killed` seems to indicate that it's a failure of the `pip install` itself, possibly due to running out of memory;  I found one example here: https://stackoverflow.com/questions/30550235/pip-install-killed.  Maybe you could check if the same error occurs with a smaller `pip` requirements list.

I'm not sure why `Failed to delete URIs` is happening, I'll try to reproduce it using some of

[2022-01-18 21:17] ckw017 commented on #21625
Looks like the main offenders (client, reconnect, client_mode, basic_2_client_mode) are all pretty stable at the moment (The last 5 master CI runs passed all the client tests). The stats are just a bit skewed because of few breaking PRs early last week that took a while to fix, most obvious victim of this is test_client. CI rate should go back up to >85 once the history from those breaks go out of

[2022-01-18 21:20] xwjiang2010 commented on #21490
Hi,
I am not very familiar with windows platform, but reading the error message, it seems to complain that only `thread` and `spawn` are expected but `fork` is instead given.
Reading more about `multiprocessing.[get_all_start_methods](https://docs.python.org/3/library/multiprocessing.html)`, different methods are supported on windows.

Maybe try changing to `thread` instead?

[2022-01-18 21:31] xwjiang2010 commented on #21272
This seems like a wandb client API stability issue.

[2022-01-18 21:32] rkooo567 commented on #21677
Closing it since @krfricke fixed it! (I am not aware of any new bug related to this)

[2022-01-18 21:36] rkooo567 opened #21681 "[Bug] Shuffle data loader nightly test failing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://buildkite.com/ray-project/periodic-ci/builds/2414#7e0505a3-f7d6-4945-bf87-b5d4985615bb

[code]

@clarkzinzow do you know what's going on? Maybe some api changes from dataset?

### Versi

[2022-01-18 21:38] rkooo567 opened #21682 "[Bug] Dask on ray 1tb sort failing due to input file not found error"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://buildkite.com/ray-project/periodic-ci/builds/2414#7b967590-572d-458a-97b5-24efdd10b4af
https://buildkite.com/ray-project/periodic-ci/builds/2405#75fbbe3c-58d3-4d90-8c74-e60a7b3c02b8

[c

[2022-01-18 21:39] #21679 closed

[2022-01-18 21:40] clarkzinzow commented on #21681
@rkooo567 Appears to be an issue with `botocore` removing that function:
- https://stackoverflow.com/a/70028682/3204624
- https://github.com/boto/botocore/issues/2568
- https://github.com/fsspec/s3fs/issues/357

[2022-01-18 21:49] olivierlabreche opened #21683 "[Feature] Accelerate creation of large clusters [k8s] [GKE]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

When creating large Ray clusters on GKE, the creation process appears iterative, as if not all workers were requested at once.

For example, creating a cluster of 200 workers with 15 GPUs each will initially request about 140 worker p

[2022-01-18 21:54] rkooo567 commented on #21681
Does anyone work on fixing this? Cc @jjyao ?

[2022-01-18 21:56] jjyao commented on #21681
@scv119  is on it: https://github.com/ray-project/ray/pull/21680

[2022-01-18 21:56] clarkzinzow commented on #21681
Ok, so this would be fixed if we updated `aoiboto3` to the most recent version, 9.3.1 ([broken in aiobotocore](https://github.com/aio-libs/aiobotocore/issues/905), [needs to bump botocore to 1.23.0](https://github.com/aio-libs/aiobotocore/issues/904), [happens in aiobotocore 2.1.0](https://github.com/aio-libs/aiobotocore/commit/4d198ec4501c582e69a1427f8d30417f31808677), [aioboto3 upgrades to aiobo

[2022-01-18 21:58] NumberChiffre commented on #21272
Most likely, I haven't seen this issue in the last week, will close this.

[2022-01-18 21:58] #21272 closed

[2022-01-18 21:58] clarkzinzow commented on #21681
Pinning `botocore` to a version before that function is removed might work.

[2022-01-18 21:59] ericl commented on #21682
The files still seem to be in the bucket. At a high level, it seems that somehow Dataset is now interpreting the URI as a local path, perhaps due to an unknown upstream dependency change. @clarkzinzow since you're most familiar with this code could you take a look?

[2022-01-18 22:10] jiaodong commented on #21592
Observed behaviors:
1) In new terminal, upon executing `ray stop --force && ray start --head` for the first time, then set address by `export RAY_ADDRESS=http://127.0.0.1:8265`, everything works repeatedly via ` ray job submit --working-dir="./" -- python script.py`

2) Repeat the same flow by re-starting ray cluster `ray stop --force && ray start --head`, RAY_ADDRESS didn't change but now we will

[2022-01-18 22:24] olivierlabreche opened #21684 "Failure to delete namespace containing RayCluster with kopf finalizer"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

It is not possible to directly delete a namespace containing a Ray cluster and its associated operator when using namespaced operators. After deleting it, pods will be deleted but the `RayC

[2022-01-18 22:27] architkulkarni commented on #21495
Adding a prefix for language-specific options makes sense to me!

[2022-01-18 22:57] xwjiang2010 commented on #21259
Hi,
Is this error consistently reproducible? Does it only happen on GPU trainings? Could you share with me your Trainable class?

Thanks!

[2022-01-18 22:59] avnishn commented on #21457
Hey sorry about the late responses -- I haven't gotten to this in time -- I'm going to assign @sven1977 as well, so that we can get your issue resolved ASAP.

[2022-01-18 23:07] jiaodong commented on #21592
In other words, we want to always ensure we use redis address "127.0.0.1:8265" for inner script's ray.int(), rather than passing an address with "http" in it.

[2022-01-18 23:07] simon-mo commented on #21617
Hi @efokschaner, thanks for the investigation. The container integration is still experimental. As you mentioned, currently we have a hard dependency on podman. I had success with just `docker run --privileged` to run the outer container.

[2022-01-18 23:15] simon-mo commented on #21276
The job submission system recently updated the API, the dashboard page doesn't quite work with that API yet.

[2022-01-18 23:41] DmitriGekhtman commented on #19636
My opinion:

It's usually preferable to have driver logs off when working from a Jupyter notebook.
On the other hand, if you've submitted a ray script for non-interactive execution the extra info is useful.

The particular logs being emitted suggest something's not functioning correctly and needs to be fixed.
@jmakov could you describe the configuration you are using to deploy your Ray cluster?

[2022-01-19 01:23] JanJF commented on #21573
You can repro this by any csv file, or parquet file maybe other files. I don't think this issue is file format or content related

[2022-01-19 01:24] richardliaw commented on #21573
@ckw017 can you just try using a generic csv file?

[2022-01-19 01:33] Yard1 commented on #21524
@bladesaber can you make sure your FLAML version is up to date? `pip install -U flaml`

[2022-01-19 02:46] c4cld opened #21687 "How to print action distributions and agent_id in RLlib during training?"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I'm trying to print action distributions and agent_id at each timestep to see what my agent is doing. I want to achieve this goal by adding some codes and setting breakpoints in path/to/rllib/agen

[2022-01-19 03:00] amogkam commented on #21354
The current example is still working, right? In that case, I made this into a P3 and unassigned myself. I agree this would be a nice to have, but don't think it's time critical.

[2022-01-19 03:07] hauntsaninja commented on #14305
@cbravo93 I also ran into this and I think I found a workaround in https://github.com/ray-project/ray/pull/21686
Could you confirm what error `python -c 'import pynvml; pynvml.nvmlInit()'` gives you?

[2022-01-19 03:15] #18374 closed

[2022-01-19 03:15] #18384 closed

[2022-01-19 03:25] efokschaner commented on #21617
Thanks @simon-mo

I may give that a try, would --privileged be the recommended way to run the cluster's runtime in the future?

And do you have plans to include Podman within your rayproject/ray container in the future?

[2022-01-19 03:49] simon-mo commented on #21617
We will definitely have answer to both when we graduate the feature from experimental to stable. For your use case, do you have a constraint on the privileged flag?

[2022-01-19 05:02] AmeerHajAli commented on #21625
Please close this issue when you think it is no longer relevant.

[2022-01-19 05:39] n30111 commented on #21648
Thanks @sven1977, we were trying to do additional things (not only deterministic) in the custom `action_sampler_fn`. Since it worked for SAC, I was expecting it would work for PPO also.

[2022-01-19 06:39] efokschaner commented on #21617
Thanks. My use case is just experimenting with the framework and so I have unconstrained access to root on the cluster.

[2022-01-19 06:46] ArmanArbab commented on #13940
When looking at ray/src/ray/core_worker/actor_manager.cc we see that the line
RAY_LOG(ERROR) << "Actor handle already exists " << actor_id.Hex();
is no longer there. It was not replaced with a debug statement, such as:
RAY_LOG(DEBUG) << "Actor handle already exists " << actor_id.Hex();
but rather, simply removed.

Should this issue therefore be closed, as the error message has been removed?

[2022-01-19 06:50] ArmanArbab commented on #13940
E.g.
actor_manager.cc as of Jan 7th, 2021:
https://github.com/ray-project/ray/commit/77cd0d5a21ad1511c6c2d8d38042693613cbd3e1#diff-fbdfb9cf3d64b7333fbf342beac3be8d2c0425adb1353b853096938a26b26cf7
[code]

Current version of the code (No "Actor handle already exists " error message):
https://github.com/ray-project/ray/blob/2878161a282b2422b08f9feca10b734b10111d64/src/ray/core_worker/actor_manager.cc

[2022-01-19 07:16] #21681 closed

[2022-01-19 07:43] scv119 commented on #21540
discussed with @rkooo567; there are 3 possibilities the worker starts up slowly

1. Worker is crashed (no report)
2. it takes long time to register to gcs (gcs overloaded)
3. worker itself is started slowly (runtime env)

In this case it's not 1 since the log indicates the worker is still alive; it's also unlikely runtime env as we are not using runtime env for dask_on_ray. So most likely 2 is the

[2022-01-19 08:47] magaboomchen commented on #9064
Hi, I have a similar question.
My task can only get a reward after finishing the task.
So, I just need to train the agent when it finishes the task, not in each step().
Does Ray support this kind of training scheme?

[2022-01-19 09:08] jmakov commented on #19636
@DmitriGekhtman could you perhaps share how having +100 (almost exact) lines of `(autoscaler +4m23s, ip=192.168.0.101)  Adding 1 nodes of type local.cluster.node` is useful (as a user I'm genuinely interested what this output means) especially since all nodes in a local cluster are already up (`min_workers` is the same as `max_workers`)? Also, again, as a user I didn't ask `ray` to output anything

[2022-01-19 09:21] liuyang-my opened #21694 "[Serve] The adjustment about Ray Serve Java Proxy and Java Replica"
In the process of adapting Java replica and Java Proxy to Python controller, there are some problems that need to be confirmed.

- [ ] Does Java RayServeReplica reconfigure need to return Tuple[DeploymentConfig, DeploymentVersion]?
- [ ] Can Java LongPollClient get the controller handle without controller_namespace?
- [ ] How to serialize/deserialize body in Java HTTP Proxy?
- [ ] For Java Replica

[2022-01-19 12:27] KyunghyunLee commented on #21664
Yes, I manually set 12345 for the gcs-server-address.
However, I used the 12345 port many times with the same command, and suddenly the error message occurs then cannot use it anymore.
I didn't change the script. Sometimes it worked, and sometimes it didn't.

[2022-01-19 12:39] SongGuyang opened #21695 "[Feature][runtime env] URI reference refactor"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, we generate a URI list in python worker when we validate a runtime env input. The related code is here https://github.com/ray-project/ray/blob/master/python/ray/_private/runtime_env/validation.py#L394.

But, if we want to s

[2022-01-19 12:45] SongGuyang commented on #21695
@edoakes @architkulkarni what do you think of this proposal? @rkooo567 could also give advise? cc @raulchen

[2022-01-19 12:51] melonipoika opened #21696 "[Bug] Sync execution failed on a GCP cluster"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters
RLlib

### What happened + What you expected to happen

While running this [example](https://github.com/ray-project/ray/blob/master/rllib/examples/cartpole_lstm.py) on a GCP cluster with one head node and two worker nodes, this error appea

[2022-01-19 13:06] rkooo567 commented on #21695
Sorry for my ignorance, but is moving the logic into the core worker also an option? What's the pros and cons of this approach?

[2022-01-19 13:30] XuehaiPan commented on #21671
I created a PR #21671 to fix `TorchPolicy` training with multi-GPU optimizer (`multi_gpu_train_one_step` or `MultiGPUTrainOneStep`). Not so sure for `TFPolicy`.

[2022-01-19 13:41] rkooo567 commented on #21494
I also prefer to follow the proposed logic. It seems to be unstraightforward some values are inherited when runtime envs are given to actors (if you look at code, it is very implicit). Maybe we can alternatively do

[code]
? This seems a lot more explicit and less magic for user perspective.

[2022-01-19 14:00] rkooo567 commented on #21664
Sorry for the inconvenience.. It seems like we changed the default port range from 10003 - 11000 to 10003 - 19999 (I think it was due to some port related stability). So, after this version, 12345 will be a conflicting port from worker port range.

You can fix this by setting higher port value for gcs_server (2xxxx) or reducing the worker port range (--min-worker-port  and --max-worker-port) https

[2022-01-19 14:05] rkooo567 commented on #21623
that's the valid point (don't want system event output from the driver). The default we have is to print all system-event & worker output to the driver output. I will update the doc to explain how to opt-out this.

Also, maybe we can have general env var that helps you streaming only worker output. log_to_driver=False should also prevent you from getting system logs. In this case, you still want w

[2022-01-19 14:05] rkooo567 commented on #13940
Yeah I think we can close this!

[2022-01-19 14:05] #13940 closed

[2022-01-19 14:16] rkooo567 opened #21699 "[Bug] `actor_deaths` long running test starts failing."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://buildkite.com/ray-project/periodic-ci/builds/2415#4df29c1c-19e3-4c04-a8a3-086b6597f1ed

seems to fail. It failed last week due to infra failures.

### Versions / Dependencies

N/A

###

[2022-01-19 14:21] SongGuyang commented on #21695
Yep, it is also a alternative. But I think core worker is also unnecessary to know the concept of URIs. We should try to avoid adding unnecessary logic in worker for runtime env and unify the logics to agent. It is good for modularization and pluggability. And it is also hard to maintain a framework which needs to add code both in C++ and python.

[2022-01-19 15:00] rkooo567 commented on #18134
We don't right now. But I think we can add this to the dashboard?

[2022-01-19 15:32] jmakov commented on #21623
Yes. As with any lib I expect output in 2 scenarios: I somehow enable lib's debug log or something happens (exception, error etc.) that requires my (users) attention. Anything else I as a user didn't request and am thus not interested in. Imagine a SQL client (with defaul settings) printing system wide events etc. when you query your DB...

[2022-01-19 15:50] smonsays commented on #19879
This bug still exists in ray 1.9. Does someone know of a workaround in the mean time?

[2022-01-19 16:23] LudoHackathon commented on #19879
Does something like
https://discuss.ray.io/t/tune-multiple-runs-with-same-hyperparameter-different-random-seed/644/2
would do the job for you?

Le mer. 19 janv. 2022 à 16:51, Simon Schug ***@***.***> a
écrit :

[2022-01-19 16:52] DmitriGekhtman commented on #19636
Thanks for the config details!

The spew of logs you are observing is most certainly useless and is the result of a bug. You should be able to resolve this by either
- Setting the max and min workers fields to 4
- Deleting the max and min worker fields (these fields will be auto-filled to 4)

The cause of this issue is that the head does not count as a worker (hence, just 4 workers),
yet the autos

[2022-01-19 17:23] jovany-wang commented on #21602
@ashione Could you remove them from building and CI?

[2022-01-19 18:40] jmakov commented on #19636
Thank you for this super clear and easy to understand explanation. Feel free to close the issue.

[2022-01-19 18:57] spolcyn opened #21706 "[Bug] [Autoscaler] Autoscaler Doesn't Use k8s Memory Limits When Scheduling Memory-Aware Tasks"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

1. With a worker node declared in the cluster YML as having 1Gi requested and 5Gi limit (for k8s), I set an actor to request 1Gi of RAM (`memory=1024 * 1024 * 1024`)
2. I expected the actor

[2022-01-19 19:12] chhabrakadabra opened #21707 "[Feature] Support for directing *all* logs to stdout"
## Feature Request

### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

It would be useful to redirect all the logs that go into the [`/tmp/ray`](https://docs.ray.io/en/master/ray-logging.html#logging-directory-structure) directory to stdout, perhaps using a flag in `ray start`.

### U

[2022-01-19 19:25] architkulkarni commented on #21695
Thanks for writing down these detail! I think this proposal makes sense and I don't see a problem with it.

[2022-01-19 20:48] mwtian commented on #21699
This looks like infra failure / job submission flakiness. Logs from [a failed run](https://buildkite.com/ray-project/periodic-ci/builds/2415#5dd794ed-22c5-4594-96f4-45212991be03/113-458):
[code]
Logs from [a successful run](https://buildkite.com/ray-project/periodic-ci/builds/2415#58c629e9-0182-4936-88de-5c53ce1bb12f/81-414) of `actor_deaths` on retry:
[code]
The change to use job submission may b

[2022-01-19 20:49] #20955 closed

[2022-01-19 20:49] mwtian commented on #21699
The infra failure from last week also looks like related to the step of using a job to upload result. The issue might not have been fixed completely.

[2022-01-19 20:54] mwtian commented on #21699
Just for notes, the performance of the actor death test does not look too different before and after enabling GCS pubsub. [Before](https://buildkite.com/ray-project/periodic-ci/builds/2328#249a5616-58f0-413e-a56b-eb20c5b3237c/139-491):
[code]
[After](https://buildkite.com/ray-project/periodic-ci/builds/2415#58c629e9-0182-4936-88de-5c53ce1bb12f/81-449):
[code]

[2022-01-19 20:56] #20086 closed

[2022-01-19 21:07] rkooo567 opened #21709 "[Java] Remove GetGcsClient"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

`std::shared_ptr<gcs::GcsClient> CoreWorker::GetGcsClient() const { return gcs_client_; }`

Is it possible to remove this API (it’s only used by Java)? gcs_client_ is not thread-safe, and it se

[2022-01-19 21:18] mwtian commented on #21699
Reassigning to @simon-mo who seems to have the most context on job submission and e2e tests.

[2022-01-19 21:32] rkooo567 commented on #21540
closed by mistake.,.

[2022-01-19 21:48] DmitriGekhtman commented on #19636
https://github.com/ray-project/ray/pull/21710 resolves this

[2022-01-19 21:53] xwjiang2010 commented on #21458
Fixed by https://github.com/ray-project/ray/commit/8fd5b7a5a80e88f7f70c4ebb179129c8eed65b72. Closing out.

[2022-01-19 21:53] #21458 closed

[2022-01-19 22:15] mwtian commented on #21699
As @simon-mo pointed out off thread, `requests.exceptions.HTTPError: 502 Server Error: Bad Gateway for url: https://session-7d1enii9hckvs9ena47mby6l.i.anyscaleuserdata.com/api/version` during job submission is likely from dashboard being unresponsive. We should double check if dashboard is healthy during the test.

[2022-01-19 22:21] #19636 closed

[2022-01-19 23:05] spolcyn opened #21713 "[Bug] [Jobs] Logs from separate jobs are mixed together"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

1. When running multiple jobs on a remote cluster, logs from multiple jobs are mixed together.
2. I'd expect each job's logs are isolated to the code it runs + the logs from the tasks/actors i

[2022-01-19 23:09] mwtian commented on #21699
I found one instance where `dashboard` exited due to transient error from the GCS aio subscriber to error info. Sent https://github.com/ray-project/ray/pull/21712 to fix.

[2022-01-19 23:11] rkooo567 commented on #21695
What’s the diff between runtime env vs uri? Is this impossible to completely remove states from worker pool?

[2022-01-19 23:55] zhe-thoughts opened #21714 "[docs] Standalone API references"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Make all API references a top-level navigation item. Still split into projects, but have a single place to find things. Right now scattered all over the place.

### Use case

_No response_

### Related issues

_No response_

### Are y

[2022-01-20 00:00] zhe-thoughts opened #21715 "[docs] Split into ML, Core, Infra/Deployment"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Have a main navigation item for each persona. Just a first step: refactor the doc structure, don’t touch the content yet.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes

[2022-01-20 00:12] grechaw commented on #21592
A related issue is that ray job CLI does not work with anyscale urls.  I wish it did... should I make a Ray project issue for this or a Anyscale one?

[2022-01-20 00:18] architkulkarni commented on #21695
A single runtime environment can depend on multiple URIs.  Each URI corresponds to a single resource on disk, like `working_dir`, a conda environment, or a module in `py_modules`.

As for whether it's possible to make the worker pool stateless, that seems tricky if I'm understanding correctly: When we schedule a task with a runtime env, we need to know if there's an existing worker we can schedule

[2022-01-20 01:11] #15548 closed

[2022-01-20 01:29] gjoliver opened #21718 "[Bug] [RLlib] Potential Memory Leak in RolloutWorker / Env wrapper?"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

RLlib rollout worker crashes due to OOM error after 10 hrs of training.

### Versions / Dependencies

Ray version 1.9.1 (cluster environment anyscale/ray-ml:1.9.1-py37-gpu)

### Reproduction scrip

[2022-01-20 02:28] SongGuyang commented on #21695
If we remove states from worker pool, raylet need to send a rpc every time when worker is created or worker dies. Actually, if the job only uses a job level runtime env, raylet only need to send one rpc to agent before the job finished.

[2022-01-20 02:31] rkooo567 commented on #21695
To be clear, do we need to send a rpc whenever worker is created or a new task is scheduled? And what’s the overhead of rpc usually (single round trip latency + qps) I suspect this is very low (local rpc) and could be premature optimization to cache info at worker pool? Any thoughts?

[2022-01-20 02:58] SongGuyang commented on #21695
Yep, If there is no state in worker pool, we don't know if the runtime env has been created and can't get the runtime env context for setup worker. And we need send a rpc to agent for updating the reference counter when a worker is created or a worker dies.

[2022-01-20 03:03] SongGuyang commented on #21695
Yep, maybe this overhead is low. But if we can optimize this by a reasonable way, I will try to do this. And I think add some states in worker pool is a way to do this optimization. The "runtime env reference counting" I mentioned in the proposal is just like a cache as you said.

[2022-01-20 03:08] rkooo567 commented on #21695
Hmm i think it depends on the complexity of caching implementation, but if it is not very straightforward, I prefer to keep state only at agents and make all other components stateless. That seems way easier to understand and bug free

[2022-01-20 03:17] SongGuyang commented on #21695
My thought is that:
- Worker pool manage the life time of runtime env because it knows which runtime env is needed by which workers.
- Agent manage the life time of URIs because agent also download the resources.

But I don't ensure if this proposal will affect the implementation of caching https://github.com/ray-project/ray/pull/20273. @architkulkarni What do you think?

[2022-01-20 03:18] SongGuyang commented on #21695
@edoakes @raulchen What do you think about the discuss above?

[2022-01-20 03:22] rkooo567 commented on #21695
Lmk if I am wrong, but this can be a lot simplified if we have CreateRuntimeEnvIfNeeded Rpc (that requests a list of uri).

I personally don’t like that we have ref counting logic within a worker. It is a big complexity and bad separation of concern.

I am technically not against in optimization, but we should do it only when there’s workload that can be benefitted by it.

[2022-01-20 03:33] SongGuyang commented on #21695
Do we have an alternative? We support setting runtime env in actor/task level now. Maybe worker is the best reference substance？

[2022-01-20 03:36] rkooo567 commented on #21695
Let me know if I am missing something. I am still not very familiar with the implementation.

Maybe alternative approach could be always sending RPC to agent and we only handle uri references?

[code]

and agent has ref to the uri. When uri ref goes to 0, it cleans up the uri (maybe with some caching timeout to avoid requesting the same uri after).

All workers just need to send this RPC when it i

[2022-01-20 03:44] SongGuyang commented on #21695
Should we consider the idempotence of this two RPCs?

[2022-01-20 03:47] rkooo567 commented on #21695
I guess we don't need to worry about network error since it is all done locally? That said, maybe we don't need to worry about it.

This also makes me think; agent is a self-recovering component. How are we currently handling agent failures?

[2022-01-20 03:52] SongGuyang commented on #21695
Currently, we don't have state about reference counting in agent. So we don't need to handle agent failures?

I think this is a good question! When we move the reference counting logic to agent, we should consider agent failures any more.

[2022-01-20 03:53] rkooo567 commented on #21695
Hmm interesting. In this case, the alternative is to keep all ref counting logic into worker pool and keep agent stateless...

[2022-01-20 03:58] SongGuyang commented on #21695
@rkooo567 Yep, let me take some time to summarize. Thank you for this discuss.

[2022-01-20 04:39] n30111 commented on #21648
I was able to make it work by making minor changes in the `ppo_surrogate_loss` and `make_model`, and with `action_samper_fn` output signature changes in the policy class.
@sven1977 Can you please look at this commit https://github.com/minds-ai/ray/commit/eba38ecc8b7e4eeeacb95d1ca93a0c72a343b5d3 and let me know if RLLib will accept this change?

[2022-01-20 04:54] jovany-wang commented on #21545
Does Python worker access GCS only in grpc? I'm not sure if it's the best practice by the current status quo of our codebase.

[2022-01-20 05:09] jiaodong opened #21724 "[Bug] Remove requests from minimal deps CI test from miniconda"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

we have implicit dependencies issue that we actually uses `requests` module in our minimal test, even though it appeared in the blacklisted module list but commented out inline. As I followed u

[2022-01-20 05:12] jiaodong commented on #21592
do you have repro steps in detail ? Given that it mentioned product I think it's better to have details on an anyscale issue as usually we don't expose the term or details on ray oss repo :)

[2022-01-20 05:22] SongGuyang commented on #21494
I think we have reached an agreement of this! I will create some PRs for this proposal.

[2022-01-20 05:27] iycheng opened #21725 "[workflow] Sending signal to specific workflow/step"
With workflow events, we are able to read data from external sources, i.e., sleep or some external queue.

Sometimes users want to send a specific event to a specific workflow/step. One way to do this is to have an event dispatcher which will dispatch the event to the specific step. But the downside is that it's not scalable and also if there is some garbage to the queue, it doesn't know when to d

[2022-01-20 05:28] iycheng commented on #21725
@ericl  @klwuibm @yuanchi2807  could you take a look?

[2022-01-20 06:02] rkooo567 commented on #19503
@edoakes I can take this over.

[2022-01-20 08:22] mattip opened #21730 "WINDOWS: test_reference_counting_2 scores high on flaky.tests.ray.io"
At https://flaky-tests.ray.io/#, test_reference_counting_2 on windows scores badly, with 17% red and 42% red yellow. In CI, if a test in a file fails, the entire file is run again. This is repeated three times, if on all three times the file has a failing test it fails CI. This means each time a different test could fail. Looking at the failures I see the data below, which seems to point to a prob

[2022-01-20 08:23] mattip commented on #21730
the offending line in `one_worker_100MiB` is
[code]

[2022-01-20 09:11] WangTaoTheTonic commented on #21545
yeah now accessing GCS in Python is limited to grpc, told by @iycheng

[2022-01-20 09:14] SongGuyang opened #21731 "[runtime env] Cross-language runtime env"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, we have some design which doesn’t consider multiple languages and cross-language.  This issue is used to trace all the issues and works of runtime env refactor for cross-language.

framework issues:
- Add strong-typed API h

[2022-01-20 09:35] SongGuyang opened #21733 "[Feature] [runtime env] [C++] support a strong-typed API in C++"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The runtime env C++ API is similar to Java API https://github.com/ray-project/ray/issues/21495#issuecomment-1015154248.
We could only support working_dir in the first PR.

### Use case

_No response_

### Related issues

_No response_

[2022-01-20 09:50] smonsays commented on #19879
Thanks! That workaround should do for the time being.

[2022-01-20 10:46] #21633 closed

[2022-01-20 11:26] jbedorf opened #21734 "[Bug][RLlib] Gym environment registration does not work when using Ray Client and ray.init"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When using RLlib and Ray Client then you will receive an error (see below) when relying on:  `ray.init(f"ray://127.0.0.1:10001")`
whereas things work when using:  `export RAY_ADDRESS="ray://127.0.

[2022-01-20 11:58] XuehaiPan commented on #13075
In PyTorch, RNN cells are in time-major by default, for example:

[code]

the default value for argument `batch_first` is `False` in PyTorch.

------

In RLlib, batches for RNNs are stored in batch-major format by default. Users should use `config["_time_major"] = True` to have time-major batches.

[code]

For RNNs in RLlib, users implement `model.forward_rnn` method instead of `model.forward`. In

[2022-01-20 13:58] mgerstgrasser opened #21736 "[Bug] VisionNetwork and ComplexInputNetwork fail with non-1x1 final convolutional layer and FC-stack."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I am trying to recreate [the "Nature CNN" model from OpenAI Baselines](https://github.com/openai/baselines/blob/master/baselines/common/models.py#L15) in RLLib using the built-in model catalog. Th

[2022-01-20 15:59] genspire commented on #5933
I believe this part of the documentation helps with the above issue: https://docs.ray.io/en/stable/serialization.html
The idea being that Ray is using cloudpickle to serialize function results which are not of a supported type.

[2022-01-20 18:12] valiantljk commented on #21494
I like this option, some users may assume job level env are passed to actor/task level, so previous merging doesn't always sound bad to me.

[2022-01-20 18:13] zhe-thoughts opened #21750 "[docs] Improve the Getting Started section"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Expand on what we have now, but go much deeper / be more helpful. Answer what Ray is, why you need it, where to learn more and how to get started. This is where new users land.

### Use case

_No response_

### Related issues

_No res

[2022-01-20 18:16] zhe-thoughts opened #21751 "[docs] Have same common structure for every library"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

For clarity, each library landing page is a Getting Started tutorial. We also have
Tutorials for common workflows

Key Concepts

User guides?

As a baseline. Depending on the lib we might need more sections.

### Use case

_No respons

[2022-01-20 18:20] zhe-thoughts opened #21752 "[docs] Central Examples Section"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Split into applications, e2e examples of our libs, split by use-case / industry if possible. We’re completely missing out on this one right now. Might be the toughest to build. Need to evaluate what we have and what can be reused from

[2022-01-20 18:22] zhe-thoughts opened #21753 "[docs] Create a guideline page on how to contribute to docs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

_No response_

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-01-20 18:31] clarkzinzow commented on #21707
@chhabrakadabra This is actually most supported already by the `GLOG_logtostderr` environment variable, where if this environment variable is set on the driver and all Ray nodes at connection/startup time, application logging (i.e. logging within tasks/actors) and **most** internal Ray logging will be redirected to stdout/stderr. I just opened up a [PR](https://github.com/ray-project/ray/pull/2175

[2022-01-20 19:17] pouyahmdn opened #21756 "Setting VF_SHARE_LAYERS to False and NO_FINAL_LINEAR to true leads to a bug"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

If you set 'vf_share_layers' to False and 'no_final_linear' to True, the value function in [fcnet.py](https://github.com/ray-project/ray/blob/b6d3e01e0b5928fa3cfb747c0b7c2ad65f0e3f60/rllib/models/

[2022-01-20 20:00] kawshik8 opened #21758 "[Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

1. Apex DQN trainer gets stuck randomly during training if gpu's are used for rollout workers. Couldn't find why it is happening from the  ray logs in all logging modes. This behaviour doesn't hap

[2022-01-20 20:11] fostiropoulos commented on #4755
@krfricke does not address the issue of when a trial has been terminated and want to continue training from latest checkpoint for more epochs or different hyper-parameters. Any thoughts on this?

[2022-01-20 20:18] mwtian commented on #21699
After #21712 was merged, dashboard stayed alive throughout the tests. But there are still failures during the job submission step to access `session-{id}.i.anyscaleuserdata.com/api/version`, when the job submission takes more than 2min. I have not observed accessing the endpoint taking more than 2 min, but it regularly takes 10s ~ 30s. The stack from dashboard regularly contains synchronous operat

[2022-01-20 20:19] architkulkarni opened #21760 "[1.10.0 Release] `stress_test_many_tasks` regression"
Context: https://github.com/ray-project/ray/pull/21512#discussion_r788310272

Result from 1.10.0:
[code]

This is a significant regression from 1.9:
[code]

[2022-01-20 21:21] #21517 closed

[2022-01-20 21:22] architkulkarni commented on #21760
Assigning @jjyao (Core on-call) for now

[2022-01-20 22:03] jjyao commented on #21760
The regression happens between 11/13 - 11/20

https://buildkite.com/ray-project/periodic-ci/builds/1621#524f9d0e-5d15-497f-962c-0d209ac19c43
https://buildkite.com/ray-project/periodic-ci/builds/1742#78b364bb-8d5a-476f-975f-3df71e222c77

[2022-01-20 22:17] wuisawesome commented on #21684
Thanks @olivierlabreche are you able to provide an example of the error message or logs from the operator?

[2022-01-20 22:19] wuisawesome commented on #21683
@DmitriGekhtman do you know if there's a quick ratelimiting argument that we just need to document/expose here?

[2022-01-20 22:51] akbir commented on #8776
Any update on this?

[2022-01-20 23:14] iycheng commented on #21725
@klwuibm @yuanchi2807

I think it's doable. Basically, it'll wait for a different event id:

[code]
Then each step will wait for e1 and e2.

Besides, if multiple steps are waiting for the same event, you can pass `e1` to them as well.

When sending signals, you can just `.signal(workflow_id, "{contract_id}:first_line_approval", EVENT_DATA)`

Just send with different event id.

EventProvider here i

[2022-01-20 23:24] DmitriGekhtman commented on #21683
The situation can be improved by setting the following environment variables for the operator pod.

AUTOSCALER_MAX_LAUNCH_BATCH=1
AUTOSCALER_MAX_CONCURRENT_LAUNCHES=9999

The defaults are 5 and 10 respectively. See https://github.com/ray-project/ray/blob/90093769df71ea4f49fdb7004565b4b747c62fcf/python/ray/autoscaler/_private/constants.py#L37-L44

This will result in the desired 200 pods launched i

[2022-01-21 00:11] clarkzinzow commented on #17467
FYI @nkratzke @wuisawesome @DmitriGekhtman, [this PR](https://github.com/ray-project/ray/pull/21767) adds support for disabling log redirection to files (i.e. letting logs being directed to stdout/stderr) via specifying an environment variable when starting each Ray node/driver. As an extension, we can consider doing the following in future APIs:
1. Adding first-class API support for disabling log

[2022-01-21 00:16] wilsonwang371 commented on #21549
No longer see this in latest master code.

[2022-01-21 00:33] edoakes commented on #21495
@SongGuyang this looks pretty good to me. So there would be no compatibility breakage for existing Python users, right?

[2022-01-21 00:35] edoakes commented on #21494
@SongGuyang do you mind summarizing the proposal in an RFC issue so we can solicit more feedback?

[2022-01-21 01:27] architkulkarni commented on #21713
Thanks for the thorough reproduction steps!  Just making a note for myself here.  I was unable to reproduce this running on a local machine.  The next step is for me to try to reproduce this on a physical multinode cluster as mentioned in the reproduction.

[2022-01-21 03:21] mwtian commented on #21699
Still working on the fix (https://github.com/ray-project/ray/pull/21762).

[2022-01-21 04:35] mwtian opened #21769 "Implement memory protection for GCS"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

With GCS pubsub and KV, GCS itself now has increased chances of using too much memory. We need to implement some protections against OOM in GCS. Some ideas:
0. Allow configurable memory thresho

[2022-01-21 04:35] mwtian commented on #21769
cc @ericl @iycheng

[2022-01-21 04:54] rkooo567 commented on #21769
Theoretically it shouldn’t use more memory than redis + gcs service combined from before?

[2022-01-21 05:00] mwtian commented on #21769
@rkooo567 I agree. GCS pubsub and KV shouldn't be a big regression in OOM protection. But there should be an opportunity for enhancement.

[2022-01-21 06:06] zhe-thoughts commented on #21760
Thanks @jjyao ! Could you help provide an ETA?

[2022-01-21 07:13] jjyao commented on #21760
Based on the bisect result, seems it's ad56b9b432519350323575dc49eae516f2df4dd9.

[2022-01-21 09:03] rkooo567 commented on #21760
Note that we only take care of stage_3 time, which measures the actor creation + submission time. creation_time is irrelevant because actor creation is asynchronous (so this doesn't measure anything).

Based on @jjyao's bisect;
[code]

According to this, the offending commit is https://github.com/ray-project/ray/commit/ad56b9b432519350323575dc49eae516f2df4dd9.

https://github.com/ray-project/ray/c

[2022-01-21 11:12] SongGuyang commented on #21760
I will take a look at this blocking issue!

[2022-01-21 13:51] rkooo567 commented on #21682
Confirmed it is fixed in the master magically. Maybe there was some infra failures.

[2022-01-21 13:51] #21682 closed

[2022-01-21 13:55] yuanchi2807 commented on #21725
@iycheng

Do you mean a step may choose to wait for one or more events? An event may be thought as a special type of input data to a step and thus its arrival is checkpointed?

From the point of view of workflow developer, an event-driven ray workflow is defined as:
- A DAG consists of steps to process data, issue notifications or receive events;
- Each event type in the DAG must be declared with

[2022-01-21 13:55] spolcyn commented on #21713
My memory is I was also unable to reproduce on a local machine, so that's consistent with my experience.

[2022-01-21 16:38] wuisawesome commented on #21683
yup, i think this is the second time these args have come up.

[2022-01-21 16:39] wuisawesome commented on #21683
Let's bump this up to p1 if a third user hits this problem.

[2022-01-21 16:44] xwjiang2010 commented on #21736
@avnishn do you mind clarifying what is the expected value output is?

[2022-01-21 16:52] Mathieu-Prouveur opened #21778 "[rllib] APEX-DDPG default resources"
Hi,

Is there any reason why APEX-DDPG and APEX-DQN do not share the same default resources methods, or is it a small omission ?

In APEX-DDPG, the default resources are identical to DDPG, the number of replay shards are not taken into account :
https://github.com/ray-project/ray/blob/ef593fe5d3c864836b80ae77be32635cef42b537/rllib/agents/ddpg/apex.py#L32

Whereas in APEX-DQN, the main bundle asks

[2022-01-21 16:59] SongGuyang commented on #21494
Yep, if you think it is necessary, I will create a RFC issue. (I already have started to change code for this issue because it has an impact on subsequent PR. )

[2022-01-21 17:07] olivierlabreche commented on #21684
Even with this approach, the finalizer must be removed on the `RayCluster` manually. So in summary, we are doing these steps:

1- Patch the RayCluster to remove the finalizer
2- Delete the RayCluster
3- Delete the namespace

Definitely an awkward procedure :/

[2022-01-21 17:12] edoakes commented on #21494
Yeah the internal changes are fine, but before we make API changes such as adding the Python class for runtime_env I'd like to solicit more feedback

[2022-01-21 17:12] architkulkarni commented on #21494
We did solicit feedback in #general on the OSS slack on Tuesday: https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1642533302098800. It led to a couple comments on this issue.  So we might not need to make an RFC, but it's possible making a formal RFC will lead to even more comments.  I'll defer to @edoakes here.

[2022-01-21 17:12] DmitriGekhtman commented on #21684
That sounds like a bug. If the operator is up, it should be able to remove the finalizer. Could you share logs from when the operator fails to remove the finalizer?

[2022-01-21 17:15] architkulkarni commented on #21494
Ah I see, we only solicited feedback for this internal change (merging behavior) but we didn't solicit feedback for the API change (adding a Python class for runtime_env).  So it makes sense to have an RFC for the API change

[2022-01-21 17:18] DmitriGekhtman commented on #21683
I'm going to raise the priority on this, to remind myself to make the fix on the env values for K8s.

[2022-01-21 17:19] olivierlabreche commented on #21684
Sure. So I just spun up a workspace and deleted the RayCluster without clearing the finalizer. The RayCluster still shows as "Running". The logs of the operator end with this:
[code]

[2022-01-21 17:25] DmitriGekhtman commented on #21683
@olivierlabreche
This might be something you're already aware of -- when running larger Ray clusters, it's a good idea to keep tabs on the operator's memory usage.

[2022-01-21 17:28] olivierlabreche commented on #21684
The operator pod gets deleted successfully and the last logs I can extract from it are as follows (though the RayCluster is still alive at this point):

[code]

[2022-01-21 17:39] SongGuyang commented on #21494
Make sense. I will create the RFC!

[2022-01-21 17:44] architkulkarni commented on #21760
I'll also take a look.  Off the top of my head it's probably something like what @rkooo567 is suggesting, where we're inadvertently going through some part of the runtime_env codepath even when the runtime_env is empty.

[2022-01-21 17:46] SongGuyang commented on #21494
Maybe we will only add a API like `get_current_runtime_env `, and current issue is not related to `RuntimeEnv` class. And I found we already has the API `ray.get_runtime_context().runtime_env`. Maybe we have no need to add a new API for current issue.

[2022-01-21 17:48] SongGuyang commented on #21494
But if we do that, we will change the behavior of current runtime env API. So, it makes sense to create the RRC.

[2022-01-21 18:55] SongGuyang commented on #21760
I have do a test using `test_many_tasks.py`(change a little to run the stage_3 in a single node) in different commit version.

In master branch(2cd3045b1684c0d9f4ed062788cd7f4adf02a520), the result is 238 seconds:

![image](https://user-images.githubusercontent.com/26714159/150583181-c7aebea1-f8eb-4f43-b6cf-89ad8bdcfa20.png)

In the commit version of https://github.com/ray-project/ray/commit/ad56b

[2022-01-21 19:09] architkulkarni commented on #21760
Thanks for running that test, let me see if I can replicate it on my machine.

[2022-01-21 19:51] scv119 opened #21781 "[Core][Bug] gRPC poller error message showed up in the logs"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Our user is experiencing following errors in the worker log related grpc.
[code]
more context https://anyscaleteam.slack.com/archives/C027L220V0V/p1638157108298400

### Versions / Dependencies

[2022-01-21 19:54] scv119 opened #21782 "[Core][Feature] Add checksum support for object store."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We need to add checksum in object store so we can detect corruption (due to [TCP bit flip](https://stackoverflow.com/questions/3830206/can-a-tcp-checksum-fail-to-detect-an-error-if-yes-how-is-this-dealt-with) or bug).

### Use case

N

[2022-01-21 20:00] architkulkarni commented on #21760
I could not replicate it in my local test:
[code]

[2022-01-21 20:22] mwtian commented on #21781
I don't have much context here yet. The next step seems to be to find a repro. cc @rkooo567

[2022-01-21 20:46] jjyao commented on #21760
https://github.com/ray-project/ray/pull/21780 Seems that PR did introduce some slowdown.

[2022-01-21 21:44] chhabrakadabra opened #21785 "[Bug] Sometimes the worker node logs in the ray dashboard are empty"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

The "logs" overview for worker nodes is often empty. See this screenshot for what that looks like:
<img width="1512" alt="21-02-hcx2q-98hp3" src="https://user-images.githubusercontent.com/7734

[2022-01-21 22:02] iycheng commented on #21725
Yes. workflow.wait_for_event returns a Workflow object. All the FT-related things are the same as normal workflow objects.

Here, when should the event step finish depends on what do we do in the event provider.

- it can ask for a specific event_type to come
- multiple steps can subscribe to the same event_type
- it should have data that comes with the event.

@yuanchi2807

[2022-01-21 22:03] iycheng commented on #21725
Also, cc @mwtian  who is recently working on RFC about checkpoint coroutine.

[2022-01-21 22:06] rkooo567 commented on #21760
^ good to know! Maybe we can have a patch for this and unblock it?

[2022-01-21 22:15] azisi opened #21786 "[Feature] Create and publish in pypi a wheel for linux arm64"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Create and publish in pypi a wheel for linux arm64, so that i can pip install ray inside a docker container running in docker for mac in apple silicon/m1.

### Use case

Able to pip install ray inside a docker container running in doc

[2022-01-21 22:20] rkooo567 commented on #21781
I followed up with the user for repro, but I think it is not easy to obtain it unfortunately.. :(.

Two things we know is that 1. this is from Python worker code. 2. The error seems to appear if we access the closed fd

[2022-01-21 22:42] xwjiang2010 commented on #19875
Hi,
Instead of using `worker_setup_commands` to copy things over (which I believe was using the wrong syntax), could you just manually copy the file over and inspect it?
Can you manually ssh onto the worker node and just run a sample gsutil command? You don't necessarily need to run Tune or RLlib.

[2022-01-21 22:43] rkooo567 commented on #21785
@edoakes I will mark dashboard issues with dashboard label

[2022-01-21 22:46] xwjiang2010 commented on #21696
Looks like service account is not set up on worker nodes.
Have you tried [this](https://docs.ray.io/en/latest/cluster/config.html?highlight=serviceAccounts#full-configuration) in your cluster.yaml?

I also added some comments to [the other ticket](https://github.com/ray-project/ray/issues/19875) that you linked.

We should definitely add some examples for your use cases.

[2022-01-21 22:47] rkooo567 opened #21789 "[Bug] Shutdown check failure after gRPC based pubsub is enabled."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

cc @mwtian

Update this patch (https://github.com/ray-project/ray/pull/21787) (adds a little delay to the function).

And then run `pytest -vs python/ray/tests/test_placement_group_mini_integra

[2022-01-21 22:50] rkooo567 commented on #21789
cc @mwtian This is the shutdown bug I mentioned. I think java shutdown error seems to be resolved after my PR, but I will keep you updated

[2022-01-21 23:35] rkooo567 opened #21791 "[Bug] `test_cli.py` might not run in the master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://github.com/ray-project/ray/blob/45eebdd6e348aadea9c41a86023247b4751bbbef/dashboard/modules/job/tests/test_cli.py#L84

This line of code fails the test in the master because `await` is n

[2022-01-21 23:51] #19868 closed

[2022-01-22 00:07] jiaodong commented on #21791
The line you pointed out should be removed since the test is not async.

About if this test is running on master: https://sourcegraph.com/github.com/ray-project/ray/-/blob/dashboard/BUILD?L16:5 this suggests all subfolders {actor, event, job, log, node} files in dashboard with `test*.py` pattern will be executed including this test, since all job tests have the same structure as other folers.

It'

[2022-01-22 00:20] rkooo567 commented on #21791
If it worked on your local, it probably is the API change from the pytest. I will send you my result tomorrow or day after tomorrow (I am outside now)!

[2022-01-22 00:22] jiaodong commented on #21791
Sure, no rush :) I will put up a PR to remove it anyways as it seems to be included by mistake.

[2022-01-22 01:07] rkooo567 commented on #21494
Is runtime env GA or beta? I think we need to be careful changing the default behavior if it is GA already

[2022-01-22 01:17] mwtian opened #21793 "[RFC] distributed Python coroutines"
## Overview
[Python coroutines](https://docs.python.org/3/library/asyncio-task.html#coroutines) are Python functions that can be suspended and resumed. They are built from Python generators, including those declared with the `async` / `await` syntax. With https://github.com/llllllllll/cloudpickle-generators for generator serialization, and Ray ObjectRef for [distributed future](https://medium.com/

[2022-01-22 01:21] SongGuyang commented on #21760
Unbelievable. I think the test in my machine is correct. What's the conclusion now?

[2022-01-22 01:28] architkulkarni opened #21794 "[Feature] [Serve] Graceful failure for `handle.remote()` if not deployed yet"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

[code]

We should instead print a graceful error message.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-01-22 01:35] rkooo567 commented on #21760
The real tests run with 100 machines, so there must be difference from local testing btw

[2022-01-22 01:36] rkooo567 commented on #21760
Btw how does it take 1900 seconds in 100 nodes where as 30 seconds for a single local machine?

[2022-01-22 01:42] SongGuyang commented on #21760
But In my test, master branch's result is bad. It means the single node test is useful.

[2022-01-22 01:44] rkooo567 commented on #21760
It could be useful, but that’s the different workloads (I believe it means the local node scheduling perf has regression). I think we need some perf profiling metrics within scheduler..

[2022-01-22 01:45] SongGuyang commented on #21760
Maybe the total task number is different.

[2022-01-22 02:09] SongGuyang commented on #21760
What's you test command?
In my side, I started a single node cluster by `ray start --head`, and run the test by `python release/nightly_tests/stress_tests/test_many_tasks.py --num-nodes=0`

And my test main is:
[code]

[2022-01-22 02:45] jwyyy commented on #19292
Hi @matthewdeng, is anyone currently working on this issue? If no, I would like to give it a try 😄

[2022-01-22 02:54] Bowen0729 commented on #21463
Will it be released in the next version？

[2022-01-22 04:08] rkooo567 commented on #21760
I merged the pr. Should we unblock the release and have postmortem for additional bottlenecks? After the patch, we still have about 20% regression

[2022-01-22 06:24] tekumara commented on #21631
Ah, so it appears I was using the wrong port, it should be 6379 not 10001, eg:

[code]

FYI: `ray.init(address='auto')` also works.

[2022-01-22 06:24] tekumara commented on #21631
It would be nice to have a more informative error message than
[code]

[2022-01-22 06:33] rkooo567 commented on #21631
Ah I see. It makes sense. We will handle the error message.

[2022-01-22 08:12] Michaelvll opened #21797 "[Bug] placement_group not fulfilled in FIFO order"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Multiple placement_group's with the same resource requirement are not fulfilled in a FIFO order.

### Versions / Dependencies

* ray==1.9.2
* python==3.6.9
* OS: Ubuntu 18.04

### Reproduction

[2022-01-22 08:48] rkooo567 commented on #21797
I think it makes sense to reserve fifo for pgs that have the same resource requirements. Would you like to create a PR for this?

[2022-01-22 08:50] rkooo567 commented on #21797
Right now, we queue pg to the back of the queue if resources are not satisfiable (with retry delay). Maybe we can do this behavior per same key (same resource reqs with strategy).

[2022-01-22 15:49] LuisFelipeLeivaH commented on #19834
This happens to me when trying to do `rai.init()` on a HPC computer cluster on computecanada.

[2022-01-22 18:01] Michaelvll commented on #21797
Thank you for the reply! Yes, I can submit a PR, but could you please point me to the current code for scheduling?

Also, I was wondering if we can keep the fifo order not only for pg that has exact same resource requirement but also, more generally, keep it whenever it is possible to do so.

For example, on a 2gpu machine, pg1 requires 1gpu, pg2 reuiqres 1, pg3 requires 2gpu, pg4 requires 1gpu, w

[2022-01-22 20:26] zhe-thoughts commented on #21760
@rkooo567 @jjyao @iycheng @scv119 @ericl : Let's decide on this quickly (whether to block 1.10 release).
- In what scenarios would the 20% regression show up? For all Ray jobs? Or only when the number of tasks is very high?

[2022-01-23 00:22] mwtian commented on #21699
The `actor_deaths` test is passing consistently now. No other failure has the same problem of job submission unavailability / timeout. Closing this issue.

[2022-01-23 00:22] #21699 closed

[2022-01-23 00:34] rkooo567 commented on #21699
Thanks for handling this @mwtian !!

[2022-01-23 01:11] matthewdeng commented on #19292
Hey @jwyyy, no one is currently working on this, but I'm actually not sure if there's anything that needs to be done here!

@clarkzinzow do you have any advice on how to think about the serialization cost of `Dataset`s? I tried reading in a 10MB parquet file and the pickled `Dataset` was only 10KB. Is it expected that the pickled `Dataset` will always be relatively small due to the reference based

[2022-01-23 02:44] clarkzinzow commented on #19292
@matthewdeng The Dataset should always be very small relative to the full data size, since only Ray object references + some metadata is stored in the `Dataset` object. The size will scale with the number of blocks, since there is a Ray object reference and metadata object per block, but you can just calculate the ref + metadata size of one block and extrapolate the expected size of the full `Data

[2022-01-23 03:11] jwyyy commented on #19292
@matthewdeng thank you for your confirmation! I will follow the conversation in this discussion to see if there is anything I can help.

[2022-01-23 04:35] #18470 closed

[2022-01-23 04:35] #18509 closed

[2022-01-23 04:40] iycheng commented on #21432
objgraph shows:
[code]

[2022-01-23 04:42] troymyname commented on #8473
Was there any progress on this item?

[2022-01-23 08:45] jovany-wang commented on #21128
TODO: Add documents.

[2022-01-23 08:55] jovany-wang commented on #21463
I believe it's impossible to release it in 1.10.0. I'm not sure if we can release it in 1.11.0.

[2022-01-23 09:56] mattip commented on #21730
The test has dropped to 10% / 32%, so maybe the problem was fixed by #21737 or #21768 or something else?

[2022-01-23 12:43] Mazyod commented on #9059
I am facing this issue now with an Async actor, which isn't supported with local_mode.

[2022-01-23 14:05] #21791 closed

[2022-01-23 16:06] MarvinSt commented on #21786
would love to see this as well!

[2022-01-23 17:26] jovany-wang commented on #19795
Maybe we should add a specification/mechanism on xlang test set to help developers easily to contribute the tests to our unified xlang test sets.

[2022-01-23 21:44] #18517 closed

[2022-01-24 02:07] SongGuyang commented on #21463
@Bowen0729 Do you have any requirements about java runtime env?

[2022-01-24 05:39] Bowen0729 commented on #21463
Actually,  when I run ray cluster on yarn, jar files are stored on HDFS, which have different absolute path in each node. In such case, how can I run a java worker? And I think this feature could fix my point, I can setJars for java workers.

[2022-01-24 06:48] SongGuyang commented on #21463
Yep, I think java runtime env can help you. We will support this feature recently. Please pay attention to the state of current issue and release notes.

[2022-01-24 06:56] scv119 commented on #21540
Waiting for a repro with logs/metrics on k8s clusters.

[2022-01-24 06:59] SongGuyang commented on #21494
Seems already GA in 1.6.0 https://github.com/ray-project/ray/releases/tag/ray-1.6.0.

[2022-01-24 07:38] melonipoika commented on #21696
Thanks @xwjiang2010 for taking the time and looking into this.

I added this to mu worker configuration:

[code]

And verified in GCP console that the SA is added to the workers:

Service account: ray-autoscaler-sa-v1@<my-project-id>.iam.gserviceaccount.com
Cloud API access scopes: Allow full access to all Cloud APIs

Unfortunately, I am still getting the same error:

[code]

Any idea what to look

[2022-01-24 07:46] Mazyod commented on #13521
This is also useful for async actors that require some async calls during initialization, as we don't want to (can't?) use `async __init__(self):`.

[2022-01-24 09:22] rkooo567 commented on #21797
My concern is if we keep FIFO for all resource requests, it can cause unexpected behaviors (head of line blocking). For example;

node A
{CPU: 4}

pg1
{CPU: 2}
pg 2
{CPU:3}
pg 3
{CPU:2}

In this case, pg 3 will not be scheduled although you have 2 available CPUs. For user perspective this will look like some sort of scheduling bug since {CPU:2} pg cannot be scheduled although there are 2 CPUs. If

[2022-01-24 09:31] rkooo567 opened #21812 "[Bug] datasets_ingest_train_infer is flaky in the master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

We are trying to promote this test to stable, but this seems to be still unstable with runtime error.

Example:
- https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCw

[2022-01-24 09:36] rkooo567 commented on #21791
[code]

Deps
[code]

[2022-01-24 09:37] rkooo567 commented on #21791
Highly likely related to the version of `pytest-asyncio` I think.. good to know it wasn't broken in the master

[2022-01-24 09:50] gjoliver commented on #21359
is this done? @avnishn ?

[2022-01-24 09:52] #21340 closed

[2022-01-24 09:52] #20388 closed

[2022-01-24 10:12] billadam28 commented on #21786
I would love to see this as well!!

[2022-01-24 10:28] SongGuyang opened #21818 "[RFC] Change the behavior of Runtime Environments inheritance"
Hi all:
    Runtime Environments is already GA in Ray 1.6.0. The latest doc is [here](https://docs.ray.io/en/master/ray-core/handling-dependencies.html#runtime-environments). And now, we already supported a [inheritance](https://docs.ray.io/en/master/ray-core/handling-dependencies.html#inheritance) behavior as follows (copied from the doc):
- The runtime_env["env_vars"] field will be merged with t

[2022-01-24 10:45] vnlitvinov commented on #15725
shoo bot

[2022-01-24 10:46] Borda opened #21819 "[Feature] integrate with Lightning ecosystem CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hello and happy that you show integration with PL! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it

[2022-01-24 11:38] SongGuyang commented on #21818
@cc @edoakes @architkulkarni @rkooo567 @raulchen

[2022-01-24 14:31] jovany-wang commented on #21547
Blocked items:
- [ ] Move functiondescriptor, auto generated proto to api module.

[2022-01-24 15:19] olivierlabreche commented on #21683
Thank you @DmitriGekhtman, I will try this suggestion when I get some time and report back. This is very helpful.

[2022-01-24 15:21] maxpumperla opened #21820 "[Docs] Tune: Overhaul key concepts page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Concepts are not explained well, e.g. not clear how schedulers and algos interact at all. Think about emphasising the functional API / hide class-based.

### Use case

_No response_

### Related issues

_No response_

### Are you will

[2022-01-24 15:24] maxpumperla opened #21821 "[Docs] Tune: Separate FAQ from Tutorials."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Make sure content isn't mixed. Curate FAQ properly. Make sure tutorials explain necessary foundations.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to sub

[2022-01-24 15:51] noe-mis commented on #20968
Do you have any ETA on this? It is still causing us quite a lot of hassle.

[2022-01-24 16:05] yuanchi2807 commented on #21725
@iycheng
- multiple steps can subscribe to the same event_type

To clarify, the steps subscribing to the same event_type cannot have sequential dependency, ie. one is in the upstream of another step, because such sequential dependency means out of order execution. Non-sequential dependency, such as multiple steps in different branches of a DAG, is fine.

[2022-01-24 16:11] xwjiang2010 commented on #21696
Thanks for trying it out! Seems still access issue.
Just to clarify, have you tried a "gsutil rsync xxx" dummy run from worker? Does that work?

Also @richardliaw can you shed some light as you tried it successfully at some point?

[2022-01-24 16:27] #21212 closed

[2022-01-24 16:38] klwuibm commented on #21725
@iycheng

Two follow-on questions:

(1) Can a workflow step waits for more than one event?  Namely we have something like the following:
`
   e1= workflow.wait_for_event(WorkflowEventProvider, f"{contract_id}:first_line_approval")
   e2= workflow.wait_for_event(WorkflowEventProvider, f"{contract_id}:export_control_approval")

  @workflow.step
  def next_step(approval results):
      if (approval_r

[2022-01-24 17:26] jwyyy commented on #19324
Hi @amogkam, is anyone working on this issue? If no, I would like to take a look. Thanks!

[2022-01-24 17:38] #19503 closed

[2022-01-24 18:15] scv119 commented on #21812
[code]

[2022-01-24 18:38] #21629 closed

[2022-01-24 19:18] thoglu opened #21825 "[Bug] Possible tune / core bug related to correct resuming of trials on a dynamic cluster"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Tune

### What happened + What you expected to happen

I ve had a discussion on slack with @krfricke  about a recent tune bugfix that came with this PR (https://github.com/ray-project/ray/pull/20536) which is among other things concerned

[2022-01-24 19:47] scv119 commented on #21760
To summarize the issue:

- We are paying some runtime env overhead even if it’s empty
- the logic to decide if runtime env is empty is broken

[2022-01-24 19:48] architkulkarni opened #21828 "[1.10.0 release] [CI] Many tests failing with `assert type in (None, "pathlist", "args", "linelist", "bool")`"
CI run is here: https://buildkite.com/ray-project/ray-builders-branch/builds/5668#_

Example test failure: https://buildkite.com/ray-project/ray-builders-branch/builds/5668#f845ec83-02df-4729-a04e-afa19079cdb2/228-4936

Many unrelated tests are failing with the same error, so it might be a problem with the CI setup.

[2022-01-24 19:50] architkulkarni commented on #21828
Closed by https://github.com/ray-project/ray/pull/21579.

[2022-01-24 19:50] #21828 closed

[2022-01-24 20:59] maxpumperla opened #21832 "[Docs] RLlib: Only have one "Concepts" page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Expand on Core concepts, merge with other concepts page. One "Key Concepts" page for alignment is good, and all relevant concepts should be touched on.

Policies, Batches and Training are not enough. Introduce at least environments, t

[2022-01-24 21:04] jwyyy commented on #19324
Hi @matthewdeng @amogkam, I studied this issue a little bit. It seems we can have a simple fix. Currently I have two ideas in my mind. Please let me know which one looks good to you.

1. We can turn off autosharding inside [`to_tf()`](https://github.com/ray-project/ray/blob/master/python/ray/data/dataset.py#L2002-L2066). The implementation should be straightforward, as the return object is already

[2022-01-24 21:07] maxpumperla opened #21833 "[Docs] RLlib: Create Tutorials section with good examples"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

RLlib examples are currently just links to [blog posts or directly to GitHub](https://docs.ray.io/en/latest/rllib-examples.html
). Have actual walkthroughs and explanations of examples using RLlib, e.g. in the style that we see in som

[2022-01-24 21:19] maxpumperla opened #21835 "[Docs] RLlib: Reduce usage of long config lists"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Many places in the RLlib docs rely on "config dumps" like [here](https://docs.ray.io/en/latest/rllib-training.html#common-parameters) and [here](https://docs.ray.io/en/latest/rllib-algorithms.html). Given the current API, the content

[2022-01-24 21:23] maxpumperla opened #21836 "[Docs] Train: Create actual examples for TF, PT and Horovod."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently the [examples section](https://docs.ray.io/en/latest/train/examples.html) just consists of links to GitHub. Make sure those are all explained properly like the [examples in Ray Core](https://docs.ray.io/en/latest/auto_exampl

[2022-01-24 21:26] maxpumperla opened #21837 "[Docs] Data: Introduce "Key Concepts" page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

For consistency, have the same key concepts page like most other Ray libs. Explain what I have to know to use Ray Data? Which concepts do I need to understand, which abstractions to dig to get started with the project?

### Use case

[2022-01-24 21:29] maxpumperla opened #21838 "[Docs] Data: Create User Guides and Examples"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Same as e.g. with Train, we don't really have good / any examples demonstrating a) how to do concrete tasks or b) how to tackle a somewhat realistic use case. Aim to have at least 3 of each to start with. Take [Ray Core](https://docs.

[2022-01-24 21:31] maxpumperla opened #21839 "[Docs] Core: Create "Key Concepts" page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

For consistency, create a key concepts page like most other libs have. The content is already there, just needs to be grouped meaningfully into a document dedicated to this topic.

### Use case

_No response_

### Related issues

_No

[2022-01-24 21:42] maxpumperla opened #21840 "[Docs] Core: Leaner user guide"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We've already created a "user guide" section on the master docs for Ray Core, but it still has ~20 documents. Some of them might be better placed in the advanced "developer guide" section, like "Limiting Concurrency Per-Method with Co

[2022-01-24 21:52] maxpumperla opened #21841 "[Docs] Workflows: Clarify what this is any why we should care. Add examples."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

It's very difficult to follow along the Workflows docs right now. It's unclear what this can be used for, unless you spend a lot of time figuring it out. "Why Workflows?" is not really answered. Why do we introduce all these concepts

[2022-01-24 21:55] maxpumperla opened #21842 "[Docs] Cluster/Deployments: Key Concepts page"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

For consistency, have a dedicated "Key Concepts" page. Should have Ray Client, Deeper architecture dive, k8s operator, cluster launcher etc. Add Ray Jobs here, and whatever else users need to understand about Ray Clusters and how to d

[2022-01-24 22:01] maxpumperla opened #21843 "[Docs] Cluster/Deployments: Add Tutorials and Examples"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Given how close this sub-project of the docs is to our product, we should make a better job of explaining what you can do with it. Apart from the quick-start there's practically not a single example to be found on how to deploy a clus

[2022-01-24 22:15] smorad opened #21844 "[RLlib] PPO cannot use standard optimizer when using recurrent policies"
### Search before asking

- [x] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

This is a continuation of https://github.com/ray-project/ray/issues/19976, where RNN+PPO requires `simple_optimizer=True` to function. Since `simple_optimizer` is being deprecated, recurrent polic

[2022-01-24 22:33] amogkam commented on #19324
Hey @jwyyy, thanks for looking into this!

We originally had option 1, but decided that it didn't really make sense to have this directly in Ray Datasets. I think option 2 would work well here instead!

cc @matthewdeng for thoughts.

[2022-01-24 22:36] #19250 closed

[2022-01-24 22:41] rkooo567 commented on #20968
Hi, I will have bandwidth to investigate the issue from tmrw! I can lyk the ETA after the initial investigation

[2022-01-24 23:12] DmitriGekhtman commented on #19785
Can you say more about your use-case?
Would it make sense to have application-level logic that detects when the job is done and then signals that scale-down is allowed?

[2022-01-24 23:34] rkooo567 commented on #21818
Since it is already GA, I added core-api-change-approval. cc @ericl @edoakes please review it!

[2022-01-24 23:54] scv119 commented on #21812
Talked with @matthewdeng, we suspect this is caused by the input tensor generated from ray dataset has unexpected shape. for example, it could be the batch size is unexpected, or the num of columns/features is different from what expected. cc @clarkzinzow are you aware of any similar issues?

for now; we will add a check to assert the shape is expected, so if this ever happens we can see the actua

[2022-01-25 01:06] wuisawesome opened #21847 "[Bug] [Autoscaler] Extraneous warning when placement group resource can't be satisfied"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

This message shouldn't be shown for placement group related resources:

[code]

### Versions / Dependencies

Master

### Reproduction script

run a placement group

### Anything else

_No r

[2022-01-25 01:25] clarkzinzow commented on #21812
@scv119 @matthewdeng `torch.nn.Linear` is batch-size-agnostic, i.e. it will accept a batch of any size, so I'd expect this to be an issue with a mismatch on the number of columns.

[2022-01-25 01:32] matthewdeng commented on #21812
Yeah my hunch is that sometimes the internal Arrow column _isn't_ present, but we currently hardcode:
[code]

[2022-01-25 01:43] matthewdeng commented on #19324
What about providing a utility function (e.g. `train.tensorflow.prepare_dataset_shard`) so that it is more explicit to the user what is happening?

[2022-01-25 02:02] amogkam commented on #19324
I would actually prefer doing this automatically with an option to disable. Is there a use case when you would not want this? We can show a log message saying that this is happening so that it is clear to the user.

[2022-01-25 02:03] jwyyy commented on #19324
Hi @matthewdeng, thank you for your suggestion! Can you be more specific on the behaviors of the proposed utility function? `train.torch.prepare_dataset()` takes a torch dataset. (I guess `train.tensorflow.prepare_dataset_shard` is expected to take a something like TF dataset to be consistent?) Here I think @amogkam meant turning off autosharding when a TF Dataset returned from a Ray Dataset.

[2022-01-25 02:44] amogkam opened #21848 "[Train] Support for early stopping"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Provide out of the box support for early stopping (stopping training after reaching a certain accuracy).

The current way to implement this would be to check this in the training function, and if the accuracy is above a certain thresh

[2022-01-25 02:47] amogkam opened #21849 "[Train] Support for averaging results"
Provide a built-in utility for averaging results from workers.

This can be exposed to users through the Ray Train preprocessor API.

This should also take into account the number of samples from each worker.

The implementation could follow what was done for Ray SGD v1: https://github.com/ray-project/ray/blob/master/python/ray/util/sgd/torch/torch_trainer.py#L476

[2022-01-25 03:02] jovany-wang opened #21850 "[RFC] Deprecate local mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Since we have debugging tool for a cluster, I think there's no need for having local mode any longer.
Local mode increases redundancy and complexity of our code path.

I'm not sure if it's possible to remove local mode in Ray2.0 , but

[2022-01-25 03:18] ericl commented on #21850
Yeah I think I agree here. There are also better ways to implement local mode, such as running all tasks in the same worker process, which are both higher fidelity and equivalent in debuggability.

Ideally we'd have a replacement to recommend, though I think the usage of local mode is low enough to remove, especially given we have a distributed debugger too.

[2022-01-25 03:48] SongGuyang commented on #21760
Can we add a unit test to replicate the regression? It's so hard to copy your test by 100 nodes in my side.

[2022-01-25 04:45] matthewdeng commented on #19324
Ah in my mind we would just move [this](https://github.com/ray-project/ray/blob/master/python/ray/train/examples/tensorflow_linear_dataset_example.py#L34-L41) into a util function.

I'm not sure if there are any cases where the user _wouldn't_ want this done automatically, but my hesitancy comes from the fact that this is implicit to the user and doesn't appear to be configurable if they ever did

[2022-01-25 04:53] jwyyy commented on #19324
Can we do the following ?
[code]
It adds an extra argument in the `get_dataset_shard()` method, but it also gives users an option to turn it on / off.

[2022-01-25 05:15] matthewdeng commented on #19324
Yeah, that actually seems like a good compromise! Perhaps we can make this more specific to `to_tf` by naming it `tf_autoshard_off` since we don't need the same logic for `to_torch`.

[2022-01-25 05:21] jwyyy commented on #19324
Sounds good! I will do the implementation and add related doc 😄  Thanks!

[2022-01-25 07:45] yogeveran commented on #10960
This issue caused us a lot of trouble.
Version 1.6 of ray (unable to update version at the moment).
Was this solved in a future release? If not what is holding the fix?

[2022-01-25 07:52] ericl commented on #20203
Duplicates https://github.com/ray-project/ray/issues/10960

[2022-01-25 07:54] ericl commented on #18533
Duplicates above

[2022-01-25 07:55] #20158 closed

[2022-01-25 09:14] hero-tugang opened #21856 "[Bug] [CPP API]Failed when Passing object refs to remote functions"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

It works when the object ref returned by remote function call.
then it fails when the object ref returned by put.

test code as:
-------------------
/// put and get object
  auto object = ray::

[2022-01-25 09:37] markgoodhead commented on #19785
Sure @DmitriGekhtman - essentially we have a batch job of N sub-jobs where each sub-job uses one CPU resource (where N is of the order of a few thousand) and each sub-job takes between 5 and 30 mins.

Once we start the Ray head node, we want to immediately scale up to a cluster of N cpus and start our batch job at essentially the same time we call request_resources. That way, as the worker nodes c

[2022-01-25 10:28] DmitriGekhtman commented on #19785
Would each sub-job trigger autoscaling on its own?

If so, then to guarantee un-throttled upscaling, you could set upscaling_speed=99999 in the autoscaling config.

[2022-01-25 10:41] vsergeyev opened #21857 "[Feature] Set publisher for logs on ray init (to use in LogMonitor)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hi,

Currently `LogMonitor` has a good feature to publish logs into Redis or GCS.
We using Ray (with Python) for workflows and one possible limitation of current approach is 0 TTL of Redis pubsub.

Is it a chance it could be introduce

[2022-01-25 11:15] mattip commented on #21730
Something seems to have changed, the test is now scoring 5% red/21% red yellow. Maybe something else fixed this?

[2022-01-25 11:18] markgoodhead commented on #19785
What do you mean by this? We are relying entirely on request_resources() for the scaling up, and just need the autoscaler for scaling down

We'll give this a go - am I right in thinking with the new autoscaling logic that if the scheduler has 3k tasks outstanding then 3k cores will be provisioned immediately?

[2022-01-25 11:36] DmitriGekhtman commented on #19785
That's correct -- if a very large upscaling speed is set, cores should be provisioned about as quickly as if request resources were used.

@wuisawesome would you say that's accurate?

[2022-01-25 11:42] markgoodhead commented on #19785
What are the reasons (if any) why having `upscaling_speed=99999` as the default for our clusters might be a bad idea? Perhaps if there's 3k tasks but they each take 1 millisecond to finish? I'm wondering if we should just use this as our base cluster setting as I think every ray task we ever run is significant enough that we may as well always start extra worker resource to work on it if it isn't

[2022-01-25 11:42] SongGuyang commented on #21856
@qicosmos Any thought?

[2022-01-25 11:45] melonipoika commented on #21696
Sorry @xwjiang2010 but I am not sure I understand what you asked me to test with gsutil.
I am not sure how I should connect to the worker node. I can SSH into it from GCP console, but then I am logging in with my user account, not the SA.

I found instructions how to attach to the head node, but I didn't find how to attach to a running worker in the docs (probably I could use the IP address if the

[2022-01-25 11:47] thoglu commented on #21825
Could this be related to something with gcs server (https://github.com/ray-project/ray/issues/11309) and the "too many files" problem (https://github.com/ray-project/ray/issues/12227) related to ulimit? I have no possiblity to change ulimit in my case ....

[2022-01-25 11:52] jon-chuang commented on #21856
This is a known issue fixed by https://github.com/ray-project/ray/pull/21236

[2022-01-25 11:54] kfstorm commented on #21850
@ericl Is the distributed debugger widely used by Ray users? Do you think it's possible to make the debugger available for other front-end languages?

[2022-01-25 12:41] SongGuyang commented on #21856
Nice! @hero-tugang maybe you can download the latest wheels and retry. https://docs.ray.io/en/latest/installation.html#daily-releases-nightlies

Note, you should download two wheels: ray and ray-cpp. You can get the ray-cpp wheel download address easily from ray wheel download address. Just replace "ray-2.0.0" to "ray_cpp-2.0.0" in the download url.

[2022-01-25 12:45] hero-tugang commented on #21856
ok，l'll try. thx

[2022-01-25 14:26] rkooo567 opened #21858 "[Bug] many_tasks_serialized_ids is broken in the master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

After we started long running tests every day, it seems like this fails every day;

<img width="1466" alt="Screen Shot 2022-01-25 at 6 25 52 AM" src="https://user-images.githubusercontent.com/1

[2022-01-25 15:06] wuisawesome commented on #19785
Seems like we're all converging on using upscaling speed (which I'm supportive of). Yeah, the bad case for `upscaling_speed=inf` is if task time << node startup time. Of course, note that if you increase this number, you'll want to set your max_workers appropriately.

[2022-01-25 16:48] jjyao commented on #19920
I have seen the same issue for PR wheel:
[code]

Seems the issue is not fully fixed. cc @krfricke

[2022-01-25 17:49] mattip commented on #9116
As the people reporting this error have not replied in nearly a month, I will close this. Please reopen or open a new issue if the problem is repeatable on the latest version of ray, which has many fixes around the area of port allocation at startup.

[2022-01-25 17:49] #9116 closed

[2022-01-25 18:22] ericl commented on #21850
It's been used by large scale Python users. I don't think it would work in other languages though.

[2022-01-25 18:37] DmitriGekhtman commented on #21655
I vote for the second option, for the reason that running `kubectl apply` against a running cluster must result in an updated autoscaling configuration.

[2022-01-25 18:43] DmitriGekhtman commented on #21655
In option 1 it would take a while (a few minutes, anecdotally?) for the updated config map to propagate to the autoscaler container's file system.

[2022-01-25 18:52] #18345 closed

[2022-01-25 19:53] architkulkarni opened #21863 "[1.10.0 Release] `ray_lighting_user_test_master` failing with `invalid usage, NCCL version 2.7.8 ncclInvalidUsage`"
It failed 5x on the release branch:
Example:
https://buildkite.com/ray-project/periodic-ci/builds/2493#2fa01976-a782-4ef7-9700-d5aa0c350bbd/6-283

[code]

[2022-01-25 19:54] architkulkarni commented on #21863
@amogkam can this failure be ignored, or do we need to merge a fix?  Or should I keep retrying the test? Oddly, it passed on the first try in a prior run on January 7: https://buildkite.com/ray-project/periodic-ci/builds/2287#4e523131-f4a3-45ce-b786-fa9385631988

[2022-01-25 19:54] amogkam commented on #21863
@architkulkarni can you try it again? this should be fixed as of yesterday

[2022-01-25 19:55] architkulkarni commented on #21863
@amogkam I've retried it a few times this morning and it's currently being retried again.

[2022-01-25 19:55] amogkam commented on #21863
Ok let me take a look.

[2022-01-25 20:38] matthewdeng commented on #21836
@maxpumperla do you have a desired ETA for this? Will plan accordingly to get this done!

[2022-01-25 20:58] amogkam commented on #21863
@architkulkarni ok yeah this issue is coming from the Ray Lightning side. I'll make a patch, but let's not block the release on this.

[2022-01-25 21:00] architkulkarni commented on #21863
@amogkam Sounds good, thanks for your help with this!  I'lll downgrade to P1 for now and let you decide whether this issue should be closed or left open.  I'll ignore the test for the purposes of the release.

[2022-01-25 21:09] mwtian opened #21865 "`[1.11 Release]` `network_overhead` unable to pass after retries"
`network_overhead` has failed consecutively after a few retries. The test looks like it passed in one attempt, although Buildkite still indicates a failure:
https://buildkite.com/ray-project/periodic-ci/builds/2503#6bd29292-d403-4c52-a9f8-2cd381ea3dbd/392

And there are failures with no apparent reason. There are error logs like `Ran into error when copying results dir to persistent location: [Err

[2022-01-25 21:10] richardliaw commented on #21835
@avnishn please make sure you fully understand the task at hand before implementing/addressing this! Feel free to ping Max with questions.

[2022-01-25 21:29] simonsays1980 commented on #19875
Is there any progress on [this issue](https://github.com/ray-project/ray/issues/7064)?

[2022-01-25 21:38] jwyyy commented on #19324
Hi @matthewdeng @amogkam, the overriding approach does not fully resolve the issue. `get_dataset_shard()` may return a DatasetPipeline which does not have `to_tf()` method. A TF dataset is obtained by calling `next()` as shown in the [example](https://github.com/ray-project/ray/blob/master/python/ray/train/examples/tensorflow_linear_dataset_example.py#L73). We could override the native iterable me

[2022-01-25 22:08] brandondube opened #21868 "[Bug] ray.remote is incompatible with classmethods"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

A particular design for a program would be to have a class `__init__` which does nothing more (or almost nothing more) than attach some attributes to an instance.  Initializations requiring lar

[2022-01-25 22:13] iycheng commented on #21857
@vsergeyev  thanks for providing the information!

I'd like to get a better understanding of your use case. What you'd like is to push all logs to someplace and collect them there right?

Also what kind of logs do you need? For example, do you only need application-level logs? Or do you also need library-level logs (workflow)? Or do you even need system-level logs (ray logs)?

[2022-01-25 22:18] amholler opened #21870 "[Bug] Ray Autoscaler is not spinning down idle nodes due to secondary object copies"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

[code]

### Versions / Dependencies

Ray 1.9.1

### Reproduction script

https://github.com/ludwig-ai/experiments/blob/main/automl/validation/run_nodeless.sh
run with Ray deployed on a K8s clus

[2022-01-25 22:19] iycheng commented on #21725
I think for this case if it's upstream, you can just pass the data from upstream to downstream.

[2022-01-25 22:21] xwjiang2010 commented on #21870
Asking Anne to help repro it on single Tune session setup.

[2022-01-25 22:22] iycheng commented on #21725
Yes, it's doable.

I think it's not a cycle. With dynamic workflow, it's just like a recursive call that is supported by workflow. Basically depends on the results, just generate a new step. You don't need to re-submit a workflow.

[2022-01-25 22:38] xwjiang2010 commented on #21865
Thanks @mwtian for reporting it. The test started failing consistently since 1/24 (Monday). Last successful run is on Sunday.
Main reason of failing is timeout. Threshold is 400s for smoke test. Before the test was consistently around 360 - 370 and now it's 410s.

The delta is not huge but can be reproduced consistently. I think we should try to understand it before increasing the timeout.
@krfric

[2022-01-25 22:43] #19840 closed

[2022-01-25 23:25] edoakes commented on #21818
I think this behavior is reasonable and simplifies the mental model, while still allowing libraries and advanced users to achieve today's functionality.

My only concern is that this is going to be a breaking change for some users. If we do this, it needs to be well documented and ideally we would raise a useful warning message in the cases where behaviors have changed (I'm not sure if that's poss

[2022-01-26 00:12] mwtian opened #21871 "[1.11 Release] `ray_lightning_user_test_master` failing"
https://buildkite.com/ray-project/periodic-ci/builds/2503#9310e89c-7bf5-4374-a7d1-311dd3834663/6-344

But `ray_lightning_user_test_latest` is passing.
cc @xwjiang2010 @amogkam

[2022-01-26 00:12] vicyap opened #21872 "[helm] [k8s] Expose Volumes and VolumesMounts to Helm values.yml"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I would like to be able to add volumes and volumeMounts to pods launched by the Ray Cluster. For example, these lines (https://github.com/ray-project/ray/blob/ray-1.9.2/deploy/charts/ray/templates/raycluster.yaml#L62-L64) should be co

[2022-01-26 00:26] #21841 closed

[2022-01-26 00:31] shrekris-anyscale opened #21873 "[Feature] [Serve] [Declarative API] Add deploy_group() feature to the Serve controller"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The Serve controller needs an atomic `deploy_group()` function that atomically deploys a set of deployments.

### Use case

This allows any deployment in the set to reference any other deployment's handle within its `__init__()` funct

[2022-01-26 00:37] JiaxuanYou opened #21874 "[Bug] Official Ray tune Pytorch Lightning example compatibility issue"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Running official Ray tune Pytorch Lightning [example](https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/mnist_pytorch_lightning.py) does not work with the latest Pytorch L

[2022-01-26 00:45] shrekris-anyscale opened #21875 "[Feature] [Serve] [Declarative API] Cross-namespace Serve controller"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Allow the Serve controller to interact with deployments across namespaces.

### Use case

Maintaining deployments across namespaces is important because the declarative API updates _all_ deployments in a namespace when executing a cod

[2022-01-26 00:51] simon-mo opened #21876 "[Serve] Duplicate headers with httptools"
https://discuss.ray.io/t/invalid-method-encountered-or-duplicate-content-length-header/4786/7

[2022-01-26 00:53] amholler commented on #21870
My plan is to run 2 Ray Tune sessions serially, rather than in parallel, and check that idle workers are reclaimed.

[2022-01-26 00:53] shrekris-anyscale opened #21877 "[Feature] [Serve] [Declarative API] Update namespaces as a unit"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Encode logic into the Serve controller and the Serve data plane to update all deployments in a namespace as a single unit.

### Use case

The declarative API updates _all_ deployments in a namespace whenever _any_ deployment in that n

[2022-01-26 00:55] amholler commented on #21870
And note that if the problem doesn't reproduce in that scenario, we could switch the blog to
using serial Ray Tune sessions while we figure out what's the problem in scale down with parallel Ray Tune sessions.

[2022-01-26 00:57] shrekris-anyscale opened #21879 "[Feature] [Serve] [Declarative API] Configuration schema"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Add a Pydantic-validated schema to Serve as an internal representation for all options in the declarative API's configuration YAML file and REST request bodies.

### Use case

The declarative API allows users to specify configuration

[2022-01-26 01:01] shrekris-anyscale opened #21880 "[Feature] [Serve] [Declarative API] REST API"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Add logic to the Ray dashboard to parse REST commands and issue them to the Serve controller.

### Use case

Declarative REST requests are first sent to the Ray dashboard. This feature extends the Ray dashboard, so it accepts these re

[2022-01-26 01:04] shrekris-anyscale opened #21881 "[Feature] [Serve] [Declarative API] Implement CLI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Implement a CLI that can take the user's Serve deployment configurations, convert them into declarative REST requests, and issue them to the Ray dashboard.

### Use case

This feature wraps Serve's declarative REST requests with a CLI

[2022-01-26 01:05] shrekris-anyscale opened #21882 "[Feature] [Serve] [Declarative API] Documentation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Add detailed documentation for Serve's declarative API.

### Use case

This feature adds documentation detailing Serve's declarative API and teaches users how to apply it.

### Related issues

_No response_

### Are you willing to sub

[2022-01-26 01:15] #17663 closed

[2022-01-26 01:15] #18565 closed

[2022-01-26 01:32] takeshi-yoshimura opened #21883 "[Bug] Hard-coded timeout for get()"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I am testing ray around plasma allocating host memory of 10^3, 10^4,... 10^9 bytes, and the test was stuck on 10^9 (1 GB) with repeated retry messages.

[code]

raylet.out:
[code]

The raylet r

[2022-01-26 01:43] xwjiang2010 commented on #21871
@amogkam This is a different error signature but still the same "ray_lightning_user_test_master" test failing.

@amogkam @matthewdeng thoughts?

[2022-01-26 02:22] matthewdeng commented on #19324
Ah, that's right... good catch. I think handling only Datasets or overriding the iterable method will more than likely end up leading to unintended behavior down the line.

The utility method can be a reasonable stop-gap until a better solution is discovered, if @amogkam is okay with it! 😄

[2022-01-26 03:18] amogkam commented on #19324
yep a utility function sounds good to me! What do you guys think about `train.tensorflow.prepare_dataset_shard`?

[2022-01-26 03:33] jwyyy commented on #19324
Adding `train.tensorflow.prepare_dataset_shard()` agrees with @matthewdeng's previous suggestion. At the same time, we can revise the warning to remind users of using this method when they use TF datasets. An TF example is helpful (although it should be straightforward).

[2022-01-26 03:48] SongGuyang commented on #21818
Make sense. I will add a warning message in the implementation.

[2022-01-26 04:46] tekumara opened #21888 "[Feature] k8s operator - custom annotations for the ray Service"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The ray operator creates a Service resource for the head pod. I'd like to be able to customise the Service with annotations specific to our ingress controller (traefik).

### Use case

Integrate the ray Service with our ingress contro

[2022-01-26 04:56] iycheng commented on #21432
Lower the priority to P1.
The reason it failed is that the master is faster after this [PR](https://github.com/ray-project/ray/pull/21616).

Memory leak still exists in the dashboard. But without this PR, every worker basically needs to import a lot of things and it slows the driver's performance.

We can see from this log
[code]
It cost a lot of time to finish one iteration and within 24h, it onl

[2022-01-26 08:09] czgdp1807 commented on #21488
I can kind of reproduce this issue. It hangs on my Windows machine (probably due to the deadlock you are suggesting). With the simple map in https://github.com/ray-project/ray/issues/21488#issuecomment-1008316056, the code completes execution, provided remove `with Pool(...) as pool` context.

[2022-01-26 08:19] LiamMa opened #21891 "[Bug] `ray.tune.integration.pytorch_lightning.TuneReportCallback` has an AttributeError"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

When using `ray.tune.integration.pytorch_lightning.TuneReportCallback` with pytorch_lightning, an error occurs as shown in the following figure:
![Screen Shot 2022-01-26 at 2 03 56 AM](https://

[2022-01-26 11:10] SlowShip commented on #19785
I've just ran a few tests with `upscaling_speed: 99999`, it's a bit too conservative for our use case.

Requesting 10,000 tasks each taking up 1 CPU (using `@ray.remote(num_cpus=1)`)

[code]
Head node has `resources: {"CPU": 8}` and workers have `resources: {"CPU": 47}`

`ray submit` output
[code]
You can see it takes 5 minutes to try and scale to the max workers, even though the number of resourc

[2022-01-26 11:21] SlowShip commented on #19785
More context:

Ray version: 1.9.2

Running
[code]

[code]

[code]

[2022-01-26 11:37] SlowShip commented on #19785
Also, I noticed in the ray autoscaler code there was a check for
[code]

So I also tested with `autoscaling_mode: aggressive`, it didn't appear to change anything.

[2022-01-26 13:00] #20715 closed

[2022-01-26 14:28] wuisawesome commented on #21432
nit: i think we've tried both of these things for actors, but not for jobs, so maybe that's where it needs to be done.

Can we make sure to let this stuff expire over time, not based on the number? that way we keep the guarantee that the snapshot can provide the data.

[2022-01-26 14:35] wuisawesome commented on #19785
hmmm can you do `autoscaling_mode: inf`? We should probably just support that instead of attempting to pick some arbitrary high number (though you could also just pick some higher number)

[2022-01-26 14:45] SlowShip commented on #19785
Sorry not sure what you mean. `inf` doesn't pass the validation for either `autoscaling_mode` (needs to be ['default', 'aggressive']) or `upscaling_speed` (needs to be a number)? Are you suggesting adding it?

[2022-01-26 14:56] SlowShip commented on #19785
As it is now that doesn't work unfortunately. `autoscaling_mode` needs to be an enum so I assume you meant `upscaling_speed`

With `upscaling_speed: .inf` the cluster launches (the validation on upscaling_speed is it needs to be a number). But when it comes time to scale the cluster dies.

[code]

[2022-01-26 15:05] SlowShip commented on #19785
Just did a quick test with `upscaling_speed: 9999999999999999999999` and it didn't go any faster than before. Running ray status it knows there is a high demand:
[code]

But it still scales up 5 workers -> waits ->  ~20 workers -> waits -> e.t.c

[2022-01-26 15:22] #20611 closed

[2022-01-26 15:59] xwjiang2010 commented on #21871
@amogkam assigning this to you as you are already looking at it. Seems we can also drop release-blocker here?

[2022-01-26 16:36] mwtian commented on #21871
Sounds good, will drop the release blocker and close this issue since it is a duplicate to #21863.

[2022-01-26 16:36] #21871 closed

[2022-01-26 17:32] iycheng commented on #21432
@wuisawesome I think snapshot is reading data from GCS and limit numbers of actor history is for actors in `dashboard.DataCenter`.

But yeah, I think I'll only remove the unused fields in actors, like TaskSpec in `DataCenter.actor`

[2022-01-26 17:35] xwjiang2010 commented on #21696
@ijrsvt Could you advise since you added the [instructions](https://sourcegraph.com/github.com/ray-project/ray/-/blob/python/ray/autoscaler/gcp/example-full.yaml?L113).

[2022-01-26 18:01] maxpumperla commented on #21836
@matthewdeng this is relatively big and underspecified, since it's unclear how long it takes to convert all current examples. Would be great to make a dent this sprint, and have a rock solid examples section by end of  Q1 (as for every other project)

[2022-01-26 18:09] mwtian opened #21900 "[Release] `threaded_actors_stress_test` failing on master, 1.10.0 and 1.11.0 release branches"
E.g.
1.10.0: https://buildkite.com/ray-project/periodic-ci/builds/2489#fd61e70a-e76d-4a43-9a97-a8671b0b05f9
master: https://buildkite.com/ray-project/periodic-ci/builds/2514#d2044e01-e6b5-423b-ab57-b1d5cd9bb6c1

The failure looks like an infra failure, `Waiting for more nodes to come up: 1/201`. But it is unable to pass after retries, while concurrent tests do not exhibit infra failures. IIUC this

[2022-01-26 18:09] simon-mo opened #21901 "[Serve] Ray model wrapper"

[2022-01-26 18:09] simon-mo opened #21902 "[Serve] HTTP adapters"

[2022-01-26 18:10] simon-mo opened #21903 "[Serve] Framework wrappers"
- Torch
- Tensorflow
- sklearn
- xgboost

[2022-01-26 18:10] ijrsvt commented on #21696
Hmm, this is interesting--I think the problem is that the `ray-autoscaler-sa-v1@.iam.gserviceaccount.com` was not provisioned with permissions to run `boostrap`.

[2022-01-26 18:10] simon-mo opened #21904 "[Serve] Wrappers Documentation"

[2022-01-26 18:14] mwtian commented on #21900
On 1.10.0rc0, the test passed on the 11th retry: https://buildkite.com/ray-project/periodic-ci/builds/2193#10cd84f8-4355-49ba-bf24-70d32085747e

[2022-01-26 18:37] xwjiang2010 commented on #21696
Is it reasonable for it to have this permission? And if so, how should we grant that in cluster.yaml?

[2022-01-26 18:42] wuisawesome commented on #21432
ah i see, as long as you're removing it in the dashboard (and not the snapshot part), sounds good. i thought you were going to remove it from the ray core originally

[2022-01-26 18:44] melonipoika commented on #21696
I don't know. I don't understand what is happening in the syncer call that needs to call getIamPolicy. This was the original traceback

[code]

[2022-01-26 18:46] amholler commented on #21870
[code]

[2022-01-26 18:47] melonipoika commented on #21696
Nice! Thank you!

[2022-01-26 18:47] ijrsvt commented on #21696
@melonipoika is it still broken for you?

[2022-01-26 18:51] ijrsvt commented on #19875
@simonsays1980 one workaround before #21907 gets merged:
[code]

[2022-01-26 18:52] melonipoika commented on #21696
@ijrsvt I need to test again with your changes. I will verify the fix in the morning

[2022-01-26 19:14] wubdub opened #21909 "[Bug] [Or feature request?] RayWorker should be able to gracefully exit"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I would expect Ray to pass signals to workers so that workers can appropriately cleanup before exiting. Perhaps there is an API for this but I am missing it? The use case, is I have a ```RayWor

[2022-01-26 19:42] pcmoritz commented on #9117
Thanks for trying to reproduce this! Let's close this then until somebody has a more detailed reproduction (maybe the exact user name and locality setting). If there is a reproduction please feel free to re-open :)

[2022-01-26 19:42] #9117 closed

[2022-01-26 19:48] mehrdadn commented on #9117
I would try a username that's "far" from English, like say Chinese or Arabic. If you merely used a letter like é then that might not work, because Windows's default 8-bit charset supports some characters in the range 0x80-0xFF.

[2022-01-26 20:11] Michaelvll commented on #21797
In my perspective, this problem can be solved by timeout. We wait for a few seconds `t` for pg 2, and if it failed to get the resources, we move on to the next pg. The `t` can be gradually increased when the number of failures increases for pg 2.

It is actually a problem for the `ray job`. After I submit multiple jobs, the job that requires more resources will never finish as long as there are mo

[2022-01-26 20:24] mattip commented on #9117
I tried a username in Hebrew

[2022-01-26 20:34] xwjiang2010 opened #21910 "[tune/rllib] PPO Trainer's worker creation error sometimes causes Tune to hang"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Instead of bubbling up all the way to Ray Tune, it's silently dropped somewhere and ray.get() hangs.

Error for reference.

[code]

Expected to see that this error can propagate to ray.get() an

[2022-01-26 20:35] xwjiang2010 commented on #21910
@krfricke Wondering if you have thoughts.

[2022-01-26 20:44] xwjiang2010 commented on #21734
@mwtian See above. Can you help clarify the behavior of gcs client or point me to someone?

[2022-01-26 20:58] xwjiang2010 commented on #21870
Thanks Anne for the experiment.
Could you maybe print `placement_group_table` after 8:14 and before Tune job is finished? This would give us an idea of the placement groups requested.
Also @krfricke

[2022-01-26 20:59] #11988 closed

[2022-01-26 20:59] #12581 closed

[2022-01-26 20:59] #12691 closed

[2022-01-26 20:59] #13378 closed

[2022-01-26 21:09] architkulkarni opened #21911 "[Jobs] Make jobs work out-of-the-box with cluster YAML"
Should just involve setting up port forwarding.

[2022-01-26 21:10] mehrdadn commented on #9117
Ah interesting, ok. Have you set Windows to UTF-8 by any chance? It was an experimental new feature they added in Windows 10, it might affect what you're seeing: https://superuser.com/a/1451686

[2022-01-26 21:10] architkulkarni opened #21912 "[Jobs] [Doc] Add example for usage with Kubernetes"
Should just involve setting up port forwarding.

[2022-01-26 21:11] architkulkarni opened #21913 "[Jobs] [Doc] Render the CLI api reference in the docs"

[2022-01-26 21:12] architkulkarni opened #21914 "[Jobs] Add tests for REST API"

[2022-01-26 21:13] architkulkarni opened #21915 "[Jobs] Backwards compatibility for REST API"

[2022-01-26 21:13] architkulkarni opened #21916 "[Jobs] Add release tests"

[2022-01-26 21:20] amholler commented on #21870
Here is an example ray status right after 8:14.  Interestingly, it turns out an additional worker
got added to the ray cluster that never got used by the Ray Tune job.
[code]

[2022-01-26 21:22] amholler commented on #21870
Right after that, in the autoscaler logs we see:
[code]

[2022-01-26 21:28] mattip commented on #9117
I succeeded both ways: with and without the utf-8 beta setting.

[2022-01-26 21:42] gendrelom opened #21917 "[Bug] "The kernel has died..." during Ray tune.run"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Tune

### What happened + What you expected to happen

I'm trying to start [notebook](https://colab.research.google.com/drive/1aQmH526cjCcB1JJZph2cywCBAjNiQgzW?usp=sharing) from [this article](https://medium.com/mlearning-ai/hyperparamete

[2022-01-26 21:57] #20839 closed

[2022-01-26 21:58] #19155 closed

[2022-01-26 21:58] mwtian opened #21918 "[1.11.0 Release] `serve_failure` failing on master and 1.11.0 branches"
E.g.
1.11.0: https://buildkite.com/ray-project/periodic-ci/builds/2524#5e259950-8965-4f40-a39a-bb0f2fbf2c86/138-427
master: https://buildkite.com/ray-project/periodic-ci/builds/2503#69d841c1-1c30-4ea4-8a2e-c586ffe142c8/139-429

I was able to reproduce the issue by starting the test from my laptop. The cluster can be kept open after the failure with `--no-terminate`. e.g. get aws creds, then run
[c

[2022-01-26 22:00] amholler commented on #21870
Hey, I see something that could be interesting; an unexpected (to me) reset of NodeIdleSeconds.
Could this be associated with the problem?
[code]

[2022-01-26 22:21] amholler commented on #21870
Here is an example of what I think you want from the period when only 1 trial is running
[code]

[2022-01-26 22:23] xwjiang2010 commented on #21870
@wuisawesome Can you take a look as Dataplane oncall? I suspect this is not a Tune issue (asking Anne to print out `placement_group_table` to verify) but an autoscaler issue (See Anne's comments above). Can you advise on how to proceed?

[2022-01-26 22:25] xwjiang2010 commented on #21910
Also @sven1977 @avnishn, as I only see this issue with RLlib trainer that creates workers.

[2022-01-26 22:43] #21876 closed

[2022-01-26 22:49] xwjiang2010 commented on #21870
@amholler Just saw your last comment. I am not very familiar with this output. @rkooo567 to see if there is anything suspicious (especially the resource demand session, I saw a lot of 0.001 placeholder. @rkooo567 is that concerning?). Json beautified result:
[code]

I was thinking if you could use `ray.util.placement_group_table()` to print out the resources at that moment when this is happening.

[2022-01-26 23:03] amholler commented on #21870
It seems like a key clue at this point is the odd reset-and-stuck-at-zero of NodeIdleSeconds.

[2022-01-26 23:03] mwtian commented on #21918
Adding @jiaodong as current server oncall.

[2022-01-26 23:04] mwtian commented on #21865
Adding @richardliaw as current ML oncall.

[2022-01-26 23:11] #18547 closed

[2022-01-26 23:11] #18586 closed

[2022-01-26 23:11] #17974 closed

[2022-01-26 23:15] architkulkarni commented on #21760
I agree it would be great to have this. I'm still not sure why the regression doesn't show up on a single-node test.  I used essentially the same test command as you, and commented out the earlier stages the same way you did

[2022-01-27 00:26] mwtian commented on #21734
If this is about gcs kv client (for get / put etc), @iycheng will be the most knowledgeable. Thanks for making the fix, and feel free to assign both of us to the PR!

[2022-01-27 00:29] mwtian commented on #21734
For `ray.experimental.internal_kv._internal_kv_get()` on a non-existent key, returning `None` seems right.

[2022-01-27 00:39] ndrwnaguib commented on #10995
`pytorch_lightning==1.5.9`
well, the trick of modifying the `SLURM_JOB_NAME` to `bash` didn't work for me, and downgrading the version wasn't really an option, I had to manually remove the lines.

[code]

That said, PTL team has fixed that behavior on `master` but haven't released it yet.

[2022-01-27 00:42] kiralaz opened #21920 "[Bug] 1.9.0 PlacementGroup scheduling"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

This is not a contribution.

With the requirement of using PlacementGroup in 1.9.0 for Tune, we’ve noticed that cloud jobs run with custom resources and PlacementGroupFactory() fail to schedule

[2022-01-27 01:04] alexvaca0 opened #21921 "[Bug] RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cpu and cuda:0! (when checking argument for argument mat1 in method wrapper_addmm)"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, RLlib

### What happened + What you expected to happen

When trying a RLLib experiment following these guidelines: https://www.tensortrade.org/en/latest/examples/train_and_evaluate_using_ray.html
 with this config:
`
tune.run(
        run_or_

[2022-01-27 01:08] richardliaw commented on #21870
@DmitriGekhtman can you take a look here? It seems to be a autoscaling/scheduling bug.

[2022-01-27 01:14] #21750 closed

[2022-01-27 01:22] zhe-thoughts commented on #21900
Per Slack discussion, not a blocker for 1.10.0 release

[2022-01-27 01:23] alexvaca0 commented on #11807
Hi, I'm running into a similar issue when trying to use PPO, ray 2.0.0.dev0 and python 3.8, on a windows 10 machine...

[2022-01-27 01:24] zhe-thoughts opened #21923 "Performance regression of `microbenchmark` in 1.10.0"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

See https://github.com/ray-project/ray/pull/21908/, `microbenchmark` has slowed down in Actor method call throughput

----

So this regression is introduced by #20894. more specifically:
prior

[2022-01-27 01:27] DmitriGekhtman commented on #15128
This issue has disappeared due to some unspecified improvement. Great work Ray team!

[2022-01-27 01:27] #15128 closed

[2022-01-27 01:30] iycheng commented on #21923
Maybe we should add performance metrics in e2e.py tests to prevent regression from happening. Running successfully is the only metric we are monitoring (pass/fail).

Also when I was doing releasing, in the last step, there is also a regression. I think we do benchmark after cut and identify the big regression as release blockers from the beginning so we'll have plenty of time to fix this.

[2022-01-27 01:53] iycheng commented on #21276
I also notice this issue. Are we planning to fix this?

[2022-01-27 02:10] jiaodong commented on #21918
I just verified running `serve_failure.py` locally works fine after a few minutes while test runs errored but command history showed "finished" after running for ~1min 30secs. Checking into how `e2e.py` is implemented as the failure happens at that level as mingwei documented:

`

Traceback (most recent call last):
--
  | File "/home/ray/anaconda3/bin/ray", line 8, in <module>
  | sys.exit(main())

[2022-01-27 02:36] rkooo567 commented on #21920
Thanks for the report @kiralaz !! We will take a look shortly.

@richardliaw can you guys take a initial look at this (maybe one of oncalls from you guys can take a look)? Just to make sure if there was no mistake in resource configuration or Tune side.

[2022-01-27 02:50] jiaodong commented on #21918
cc: @krfricke based on https://sourcegraph.com/github.com/ray-project/ray/-/commit/9352cb781c7acdd1f7d4a0ce3941c351c8bacd21 for context -- what's the reason we included `ray stop` as a prepare command in the first place ? Seems like we're ensuring it to finish before trying to fetch `/tmp/release_test_out.json`, where the fetching command wouldn't work if it's done via job submission.

If the prep

[2022-01-27 02:54] rkooo567 commented on #21920
@kiralaz is it possible to share

/tmp/ray/session_latest/debug_state.txt (if it is not there, it must be inside /log file) from both raylets?

[2022-01-27 03:29] jjyao commented on #21923
We have metrics, it's just that we didn't monitor closely. We should just set up auto alerts.

[2022-01-27 03:47] eytanhanig commented on #10598
Are there any plans to implement this?

[2022-01-27 04:26] amogkam commented on #21891
Hey @LiamMa! This has been fixed in master and will be included in the Ray 1.11 release!

[2022-01-27 04:26] #21891 closed

[2022-01-27 04:30] amogkam commented on #21874
Hmm @JiaxuanYou what version of Ray is this? The failure is occurring at `trainer.current_epoch = ckpt["epoch"]`, but I don't see this line anywhere in the `mnist_pytorch_lightning.py` script. Is this custom code that was added in?

[2022-01-27 04:45] mwtian commented on #21918
Not using job submission would work. Also I just found the reason why dashboard is killed at the end. The `serve_failure` smoke test differs from other smoke tests in exiting just after 1 iteration, instead of running for ~3600s and getting terminated by the e2e.py script. When the `serve_failure.py` script finishes, it tears down the cluster including the dashboard, which stops job submission fro

[2022-01-27 05:00] jjyao commented on #21900
I experienced same issues before, 200 nodes is a lot especially during release period. I'll follow up to see if it's auto scaler issue or product issue.

[2022-01-27 05:57] SongGuyang commented on #21695
Based on the discussion above, if we want to do this refactoring(move this URIs generating logic from python worker to agent), we have three options:

### Option 1: Keep all ref counting logic in worker pool and keep agent stateless.

This is what we already implemented currently. In worker pool, we have two maps to keep the URI reference(by `runtime_env_manager`):
- Map from id to URIs. (The id s

[2022-01-27 06:00] SongGuyang commented on #21695
@rkooo567 @edoakes @raulchen I have summarized three options in the reply above. Can we choose one by discussion? I prefer to option 2 or option 3.

[2022-01-27 06:01] SongGuyang commented on #21695
+ @architkulkarni

[2022-01-27 06:04] jon-chuang commented on #16872
Interested in the intersection between RL, online learning, causal inference, and graphical models/causal structural models, and where this piece of research fits into this larger picture.

[2022-01-27 07:20] root12321 opened #21926 "ValueError: Invalid return or yield value. Either return/yield a single number or a dictionary object in your trainable function"
ValueError: Invalid return or yield value. Either return/yield a single number or a dictionary object in your trainable function

why this error happen？any one help me ?

[2022-01-27 07:21] root12321 commented on #21926
Traceback (most recent call last):
(ImplicitFunc pid=117609)   File "/home/leinao/anaconda3/envs/yolo_rotate_new/lib/python3.6/threading.py", line 916, in _bootstrap_inner
(ImplicitFunc pid=117609)     self.run()
(ImplicitFunc pid=117609)   File "/home/leinao/anaconda3/envs/yolo_rotate_new/lib/python3.6/site-packages/ray/tune/function_runner.py", line 281, in run
(ImplicitFunc pid=117609)     rais

[2022-01-27 07:26] rkooo567 commented on #20968
@efokschaner this (https://github.com/ray-project/ray/issues/20968#issuecomment-1014885271) is probably equivalent issue as https://github.com/ray-project/ray/issues/18309. Can you confirm this?

[2022-01-27 07:29] rkooo567 commented on #21920
@kiralaz this is interesting given `worker` is more common resources than cpus or memory (1000 per node)... @scv119 I wonder if this is a custom resource related bug

[2022-01-27 07:51] rkooo567 commented on #20968
Just to let you know I had a couple interrupts, so I haven't started look into it deeply yet. I think the issue itself is probably overlapped with https://github.com/ray-project/ray/issues/18309, and I will let you guys know about the progress of the issue asap

[2022-01-27 08:01] hero-tugang commented on #21856
it works.

[2022-01-27 08:01] #21856 closed

[2022-01-27 08:17] melonipoika commented on #21696
@ijrsvt I can confirm that the fix in #21907 solves this issue:

[code]

[2022-01-27 08:46] richardliao opened #21928 "[Bug] PolicyServerInput memory leak"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

PolicyServerInput of rllib has memory leak.

### Versions / Dependencies

ray==1.8.0

### Reproduction script

[code]

One of ray::RolloutWorker process RES memory size increased from 531.5m to 97

[2022-01-27 09:10] maxpumperla commented on #21837
@ericl I'm taking this one

[2022-01-27 09:21] richardliaw commented on #21920
The code looks right to me; I wonder if you can inspect where all the actors are going.

Maybe we can use the new pseudo-multi-node testing stuff for this (cc @krfricke )

[2022-01-27 09:34] rkooo567 commented on #21920
Can you also share the output of ray status when things hang?

[2022-01-27 10:18] askainet commented on #20758
We are using [Amazon ECR Docker Credential Helper](https://github.com/awslabs/amazon-ecr-credential-helper) to take care of renewing docker credentials automatically when needed.

Try adding this script to your `initialization_commands` (it assumes AWS credentials are already available in your system):

[code]

[2022-01-27 10:24] askainet commented on #7339
An alternative approach is to use [Amazon ECR Docker Credential Helper](https://github.com/awslabs/amazon-ecr-credential-helper) which provides the extra benefit of taking care of renewing docker credentials automatically when needed. This is very helpful on long-running nodes.

Try adding this script to your `initialization_commands` (it assumes AWS credentials are already available in your syste

[2022-01-27 11:27] mattip commented on #21642
I cannot reproduce. The code below works for me on Ubuntu20.04, with the locale set to `LC_CTYPE="en_US.UTF-8"` on python 3.9.9 using ray 2.0.0dev0 (latest HEAD). Could you report
- your operating system (windows? linux?)
- the results of `locale` (on linux) or `chcp` (on windows)
- your python version and how you installed it (conda? python.org?)
- what version of ray are you using (`ray.__versio

[2022-01-27 12:29] #18618 closed

[2022-01-27 13:19] awarebayes commented on #21246
Any easy fix for that?

[2022-01-27 14:00] SlowShip commented on #19785
So looked into the autoscaler code some more. The way it's working is as intended, but doesn't work for our use case. Apparently the resource_demand_scheduler [limits the number of nodes launching](https://github.com/ray-project/ray/blob/893536ebd94796548f348e61f63436d5fc86e5a1/python/ray/autoscaler/_private/resource_demand_scheduler.py#L396) during the initial scale up to 5.
[code]

Still don't f

[2022-01-27 15:35] amholler commented on #21870
I think the key area of the autoscaler log is below, where NodeIdleSeconds goes to 0 after the idle node is removed:
[code]

[2022-01-27 16:00] mwtian commented on #21865
This test eventually passed on retries. Lowering to P1. Feel free to upgrade if you think this warrants P0.

[2022-01-27 16:01] mwtian commented on #21918
Since the issue has been identified to be related to test setup, lowering to P1.

[2022-01-27 16:02] amholler commented on #21870
Maybe somehow after the removal of the idle ip, this if condition gets stuck triggering on updates
for the remaining ips, until the Ray Tune job ends:
[code]

[2022-01-27 16:10] mwtian commented on #21432
Should this be a P0 release blocker for 1.11.0, and should the fixes be merged to the release branch? cc @zhe-thoughts @ericl

[2022-01-27 16:53] kiralaz commented on #21920
Sure, here's the output from `ray status` on my end
[code]

[2022-01-27 16:58] gjoliver commented on #21246
I guess I can try to prototype something and see if anything breaks.

[2022-01-27 17:13] mwtian commented on #21923
Regressions: https://github.com/ray-project/ray/pull/21908
Suspected culprit (found by @jjyao): https://github.com/ray-project/ray/pull/20894

Regressions exist in 1.11.0 as well:
  1_n_actor_calls_async = [12725.67787708049, 552.0123808253086]
  n_n_actor_calls_async = [37888.75237849107, 987.6635435902489]
vs 1.10.0:
  "1_n_actor_calls_async": [
    11741.041010762125,
    485.03043177404095
  ]

[2022-01-27 17:15] czgdp1807 commented on #21488
**Cause**

Consider the following three blocks in `python/ray/util/multiprocessing/pool.py`,

https://github.com/ray-project/ray/blob/893536ebd94796548f348e61f63436d5fc86e5a1/python/ray/util/multiprocessing/pool.py#L434-L436

https://github.com/ray-project/ray/blob/893536ebd94796548f348e61f63436d5fc86e5a1/python/ray/util/multiprocessing/pool.py#L556-L560

https://github.com/ray-project/ray/blob/89

[2022-01-27 17:37] jiaodong commented on #21918
Thanks Mingwei ! I think we agreed this is a test setup issue and you surfaced issue of our use of cluster_utils. Let me check with the team to see what's our plan on this as the proper setup seems to be use real job submission / services rather than running cluster_utils script on remote cluster, which should be more of a local dev / smoke test setup.

[2022-01-27 18:08] vicyap commented on #21209
Hi, is there a workaround to list jobs? Is there a way to list job ids?

[2022-01-27 18:16] amogkam opened #21934 "[Train] Add support for Bagua"
The Bagua library (https://github.com/BaguaSys/bagua) is optimized for high performant PyTorch training and is shown to have higher throughput than PyTorch DDP and Horovod. We can add support for it in Ray Train to make it very easy to run distributed training jobs with Bagua.

[2022-01-27 18:20] jiaodong opened #21935 "[Feature] Migrate runtime_env tests to use mock s3 rather than real bucket"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

runtime env tests are taking forever to run on CI, also requires latest AWS credential for laptop development.

//python/ray/tests:test_runtime_env                                      PASSED in 288.7s
//python/ray/tests:test_runtime_

[2022-01-27 18:23] czgdp1807 commented on #21586
With [`cea80b1a5b56cb68defd8a60fa89`](https://github.com/ray-project/ray/commit/cea80b1a5b56cb68defd8a60fa898e248d2b2a7d) commit of ray on Windows, I built from source and executed, your reproduction script works fine without any connection errors.

With Ray 1.9.2, I receive the same exact some connection error which you received.

So, between Ray 1.9.2 and the above commit the issue got fixed.

[2022-01-27 18:26] #21625 closed

[2022-01-27 18:47] #21557 closed

[2022-01-27 18:49] wuisawesome commented on #10598
Implementation actually exists now, we need to make it a public api and document it now. (let me know if you'd be interested in writing those docs, otherwise I'll try to do it in about a month or 2 when we begin polishing the kuberay integration).

[2022-01-27 19:08] mwtian commented on #21918
Sounds good Jiao.

[2022-01-27 19:08] #21334 closed

[2022-01-27 19:27] yuanchi2807 commented on #21725
@iycheng We created some pseudo code to illustrate how events and workflow steps interact.
![image](https://user-images.githubusercontent.com/84025022/151422861-7b552d9f-5509-444c-adb9-a04e975c4499.png)
The pseudo code is meant to express the approval flow in the diagram.
[code]
Next define basic branch constructs.
[code]
Lastly declare processsing steps and assemble them to contract_wf.
[code]

W

[2022-01-27 19:39] jiaodong commented on #21095
Issue should be resolved in https://discuss.ray.io/t/modulenotfounderror-during-deployment-after-upgrade-to-1-9-0/4376/11

[2022-01-27 19:39] #21095 closed

[2022-01-27 19:42] jiaodong commented on #20553
this is fixed on master and verified both streaming and none streaming logs can show correct result.

[2022-01-27 19:42] #20553 closed

[2022-01-27 20:23] DmitriGekhtman opened #21936 "[Bug] Env variables are undocumented: AUTOSCALER_MAX_LAUNCH_BATCH AUTOSCALER_MAX_CONCURRENT_LAUNCHE"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

There are env variables controlling speed of upscaling which are undocumented
AUTOSCALER_MAX_LAUNCH_BATCH AUTOSCALER_MAX_CONCURRENT_LAUNCHES
Document them, as many users have raised issues

[2022-01-27 20:24] DmitriGekhtman commented on #19785
I think
`max(5, self.upscaling_speed * running_nodes[node_type])` should be modified to
`max(5, self.upscaling_speed * max(running_nodes[node_type], 1) )`
to speed scale from 0 for non-head node types.
What do you think @wuisawesome?

There's another built-in rate limiting behavior that's present whether or not you request scale with request resources,
configurable via the env variables
AUTOSCALER

[2022-01-27 20:41] clarkzinzow commented on #21030
For the record: solving the underlying issue (and therefore obviating the need for the workaround) is blocked by gcsfs making something akin to [this change](https://github.com/fsspec/gcsfs/issues/264#issuecomment-995042989). Keeping this issue open until this is fixed upstream.

[2022-01-27 20:59] scv119 commented on #21923
So this regression is introduced by #20894. more specifically:
prior than #20894 we offload a lot of queuing logic into a different thread, so the worker thread (which submit the task) takes less time to return;
after #20894, we need to do extra work in the worker thread (who submit the task) to check the queue length before offload the work to a different thread.

looks this change is fundamental

[2022-01-27 21:21] wuisawesome commented on #19785
Hmmm this one is a little different i think. Iirc this rate limit is to avoid launching too many nodes when short tasks are started.

I think you're right about the modified equation though.

[2022-01-27 21:43] clarkzinzow commented on #20888
@tekumara Thank you, this is great dev UX feedback on how we designed `DatasetPipeline`! We should look at a more editor-friendly way to implement these while still avoiding a lot of boilerplate.

[2022-01-27 21:54] clarkzinzow commented on #20488
@crclark I've confirmed that this is fixed in master:
[code]
Specifically, fixed by [this commit](https://github.com/ray-project/ray/commit/f5dfe6c1580443b3ce0a149b4e7f9d108cf43b6d), which should be released in a few days when the 1.10 release comes out.

I'm closing this issue for now, please reopen if the fix doesn't work for you!

[2022-01-27 21:54] #20488 closed

[2022-01-27 22:07] clarkzinzow commented on #20329
@matthewdeng I think we can adopt the semantics of other (distributed) dataframe libraries (Dask DataFrames, Spark): **row and partition order is preserved, unless shuffling occurs; if it's not obvious that an operation involves a shuffle (e.g. it's not called `.sort()` `.shuffle()`), then the documentation of the operation should make it clear that it does**.

I'm going to rescope this issue to m

[2022-01-27 22:13] matthewdeng commented on #20329
That sounds good to me! Just to make sure I understand, is locality-aware splitting one of those cases where this is a non-obvious shuffle?

[2022-01-27 22:13] edoakes commented on #21695
@SongGuyang for options 2 and 3, how will the agent recover the ref counts from the raylet? We can't just communicate the list of envs in use because we also need the count for each of them. If we're maintaining that, we're essentially doing ref counting in both places.

[2022-01-27 22:18] clarkzinzow commented on #19799
Tried this with latest master and it worked without any issues, closing for now.

[2022-01-27 22:18] DmitriGekhtman commented on #19785
Parenthesized what I meant by "this behavior" above. The behavior configured by the env variables attempts to deal with rate limits and make reduce the amount of time blocking on create_nodes calls.

Low upscaling speed is meant to prevent trigger upscaling from short-running tasks.

[2022-01-27 22:32] clarkzinzow commented on #20329
@matthewdeng Yes, we'd make a note that if `equal=True` OR `locality_hints=...` is provided, then block/row ordering is no longer guaranteed.

[2022-01-27 22:36] #17722 closed

[2022-01-27 22:46] #17775 closed

[2022-01-27 23:06] jwyyy commented on #21849
Hi @amogkam @matthewdeng, I will start to work on this issue first. Will post my proposal once I have some ideas. Thanks!

[2022-01-27 23:36] #21918 closed

[2022-01-28 00:48] amholler commented on #21870
One additional thing about my setup I just thought of is described below.

The Ray cluster deployed on the Kubernetes cluster is Ray 1.9.1, which is in the docker image.
However, I am now reflecting on the fact that in a Kubernetes cluster, the ray operator contains the Ray Autoscaler.
The ray operator I am running in the K8s cluster was deployed 51 days ago from master.

Whenever I want to deploy

[2022-01-28 00:50] DmitriGekhtman commented on #21870
Updating the operator image isn't a bad idea. Could you share the configuration you are using to deploy?

[2022-01-28 00:55] valiantljk commented on #21733
you can assign this to me @SongGuyang

[2022-01-28 01:01] amholler commented on #21870
[code]

[2022-01-28 01:17] SongGuyang commented on #21695
@edoake For option 2, we only need to send the list of envs because worker pool will delete envs when the ref count of envs become to zero. Agent don't need to know the ref count of envs.
For option 3, we need to summerilize the ref count of envs from existing workers and jobs, and send it to agent. I think worker pool is easy to summerilize this. What do you think about this？

[2022-01-28 01:18] stephanie-wang opened #21941 "[Bug] ray.wait hangs when objects need to be restored"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I tried a loop that creates a bunch of objects and periodically waits and deletes some of them for backpressure. The total size of the ray.wait returns should fit in the object store memory, bu

[2022-01-28 01:19] stephanie-wang commented on #21941
Btw, this problem only appears for `ray.wait(fetch_local=True)`, not `fetch_local=False` or `ray.get`.

[2022-01-28 01:56] #21863 closed

[2022-01-28 02:06] daikeshi commented on #21030
@clarkzinzow sounds good to me. Yes, the workaround worked for us. Thank you!

[2022-01-28 07:20] czgdp1807 commented on #21479
Hey @cxy990729 Is there any reproduction script which is causing this thing to happen? Please share that in your issues description. Thank you.

[2022-01-28 08:10] pcmoritz commented on #21623
The remaining extra prints in local mode are the same as https://github.com/ray-project/ray/issues/21424 I think and should be fixed when that issue is fixed :)

Thanks for your patience!

[2022-01-28 08:13] n30111 commented on #21648
Hi @sven1977 please let us know your thoughts on this.

[2022-01-28 08:28] aeroaks commented on #21471
Thanks for your help. I was able to get the remote cluster working by doing 2 things:

1. Increase the memory of the nodes (Solution to the last comment)
2. Use an extended `ray.init` command to include every dependencies when initializing like below
[code]

[2022-01-28 08:28] #21471 closed

[2022-01-28 10:03] Catch-Bull opened #21950 "[runtiime env] Use coroutine to create runtime envs in `runtime_env_agent`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

- current:
    - Different `CreateRuntimeEnv` request will trigger different thread for runtime env setup.
    - The setup steps of `runtime_env` is synchronous. (such as downloading packages, pip install, conda env prepare...)
- prop

[2022-01-28 11:35] SlowShip commented on #19785
Just ran a few tests again with a different `cluster.yaml` and using `ray-2.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl` instead of `1.9.2` found it scaled up to 5 nodes -> then 50 something nodes to hit the max_workers limit, no idea why but either it's been fixed or there must have been something in my original wrong `cluster.yaml`

I found changing the `resource_demand_scheduler` as  @DmitriGek

[2022-01-28 12:44] Catch-Bull opened #21952 "[runtime env] pip-based runtime env refactor"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

## Work Items

1. Introduce Virtualenv, detail:
    - Create vituralenv for jobs or workers
    - check ray version
    - use `pip check` to find python dependencies conflict
    - download dependencies
    - PR:
        - https://git

[2022-01-28 15:19] smorad opened #21954 "[RLlib][Feature] Tensorboard image logging"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

It's not currently possible to log images to tensorboard. We could change that by making some changes here: https://github.com/ray-project/ray/blob/8119b62640aab4c3e14927feaefe2fdc9678c32a/python/ray/train/callbacks/logging.py#L285-L2

[2022-01-28 15:25] CopyOfA commented on #21586
Thanks, that sounds like progress. When will this fix be made available for public use?

[2022-01-28 15:48] vsergeyev commented on #21857
Hello @iycheng !

 * plan is to use Ray for workflows related to quantum-enabled application
 * we would like to collect both system and workflow logs
 * one of architecture idea we have - to build own service to provide a "Historical logs" feature

### Getting historical logs

How do we get historical logs if we didn't subscribed to pubsub at time these logs appeared?

In a cluster environment ho

[2022-01-28 16:04] DmitriGekhtman commented on #19785
Thanks, that would be great!

[2022-01-28 16:42] xwjiang2010 commented on #21865
Could be product glitch. It's now returning to normal time: https://buildkite.com/ray-project/periodic-ci/builds/2565#512564b8-cc3f-4722-8754-706ce2f8b7a3

Closing it out.

[2022-01-28 16:42] #21865 closed

[2022-01-28 16:57] SlowShip commented on #19785
@DmitriGekhtman @wuisawesome [PR as discussed](https://github.com/ray-project/ray/pull/21953)

[2022-01-28 17:29] architkulkarni opened #21956 "Make a `list_jobs` API"
We should export the jobs info to the cluster snapshot as well.

[2022-01-28 17:29] SongGuyang commented on #21950
I believe this is a issue from history. In the first version, runtime envs are installed in workers(setup_worker.py). So all the methods of runtime env setup are synchronous. It made sense at that time. When we moved the logic from workers to agent, we used `run_in_executor` creating multiple threads to achieve concurrent setup tasks. But I think it is a temporary walk-around implementation. I agr

[2022-01-28 18:20] #21696 closed

[2022-01-28 18:31] iycheng commented on #21432
With the fix it can only reach to 5k iterations which are really wired since the observation for the memory growth is much more flat for the first several hours.
[code]

I'll change the testing to run it only for 4k iterations.

[2022-01-28 18:38] coinzerge opened #21957 "[Datasets] [Bug] ray.data.read_parquet failed with multiple files"
Ray version:
[code]
pyarrow version
[code]

paths = [ ... ] # a list of s3 files

this is okay
[code]

this is also okay
[code]
the schemas are exactly the same. but
this is not okay
[code]
with error msg:
[code]

[2022-01-28 19:01] ericl commented on #21936
These aren't supposed to be user configuable, just internal constants. The upscaling config should be just `upscaling_speed`.

[2022-01-28 19:09] DmitriGekhtman commented on #21936
Some users have complained that upscaling is too slow, but ok.

I'm going to modify the defaults for K8s stacks (by setting envs in default and recommended configs), as the defaults appear to be targeted towards AWS EC2 autoscaling.

[2022-01-28 19:09] #21936 closed

[2022-01-28 19:34] #19785 closed

[2022-01-28 19:44] iycheng commented on #21725
@yuanchi2807     `w: Workflow = workflow.wait_for_event(WorkflowEventProvider, subscribed_event)`

`w` is a workflow, and you can't get the value out of workflow without passing it to other steps.

[2022-01-28 20:16] klwuibm commented on #21725
@iycheng okay, would something like the following would do:
'''
def eventnode(forms, approver, subscribed_event):
    input_form, output_form = forms
    notify_approver(input_form, approver)

    w = workflow.wait_for_event(WorkflowEventProvider, subscribed_event)

    @workflow.step
    def is_event_approved(wf_event):
        if wf_event.get('approved'):
            return true
        else:

[2022-01-28 20:30] clarkzinzow commented on #21812
@scv119 This hasn't been deflaked yet, right? We've just added an assertion to get better failure information? If that's the case, then I don't think that this should be closed.

[2022-01-28 20:49] scv119 commented on #21812
right.. i blame the "smart" github that auto closes PRs

[2022-01-28 20:50] clarkzinzow commented on #21812
So smart! 😂

[2022-01-28 21:12] clarkzinzow opened #21962 "[Datasets] Add a first-class API for windowed, repeated reads."

[2022-01-28 21:20] yuanchi2807 commented on #21725
@iycheng Follow up question on a step function inside another step function, such as `is_event_approved() `above. When the outer step `eventnode()` failed after `w` is received, does reexecution of `eventnode()` recover `w`?

[2022-01-28 21:21] simonsays1980 commented on #19875
This does not fix the issue I have described above. I have run the command on the google cloud shell and created the binding. When executing my script again and setting `"output": "gs://<BUCKET-NAME>/output"`, I get the same behavior:

[code]
Somehow the output is neither written on the head node nor into the bucket. I have no clue where the data gets written.

[2022-01-28 21:45] jjyao commented on #21858
The correct behavior of this test should be running for 1d and timed out (this timeout is expected since it's a infinite long running test). For the failed tests, they did successfully run for 1d and timed out. So it's the infra error after timeout caused the test to fail.

[2022-01-28 21:52] jjyao commented on #21858
It's `[INFO 2022-01-28 10:14:24,831] e2e.py: 399  Executing pip install -q awscli && aws s3 cp /tmp/release_test_out.json s3://ray-release-automation-results/tmp/aswgiavyxx --acl bucket-owner-full-control with {} via ray job submit` failed with `requests.exceptions.HTTPError: 502 Server Error: Bad Gateway`

[2022-01-28 22:48] edoakes commented on #21950
@SongGuyang @Catch-Bull coroutines sounds good (we're actually using `asyncio` already, just doing it with the thread executor). My only concern is if all of the plugins/options are able to gracefully support `asyncio`.

[2022-01-28 23:59] #20445 closed

[2022-01-29 00:01] ericl commented on #21486
This seems to work in the latest release:
[code]

[2022-01-29 00:01] #21486 closed

[2022-01-29 00:09] #19324 closed

[2022-01-29 00:13] clarkzinzow commented on #20445
@ericl I was going to leave this open until split is instrumented, or should I open a separate issue for that?

[2022-01-29 00:19] ijrsvt commented on #19875
@xwjiang2010  I'm not familiar with setting the output, any ideas?

[2022-01-29 00:37] ericl commented on #20445
We can make that separate.

[2022-01-29 00:41] architkulkarni commented on #21950
This sounds good to me as well.  I think you're right about the historical reasons @SongGuyang.

Regarding @edoakes's concern, I'm trying to imagine a case where a plugin's setup step wouldn't be able to support `asyncio`, but I'm struggling to think of one.  Any synchronous routine can still be run with `asyncio` with no changes right?  It just won't get any optimization from the `async` but that

[2022-01-29 00:42] architkulkarni commented on #21952
This plan sounds good to me!

[2022-01-29 00:46] shrekris-anyscale opened #21968 "[Feature] [Docs] Do not copy line numbers when clicking the clipboard"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Docs such as [this one](https://ray--21887.org.readthedocs.build/en/21887/serve/end_to_end_tutorial.html) include code snippets that can be copied by clicking a clipboard pop-up:

<img width="759" alt="clipboard" src="https://user-ima

[2022-01-29 02:08] #18465 closed

[2022-01-29 03:22] SongGuyang commented on #21950
If any step of plugins/options didn't support `asyncio`, I think we can use `run_in_executor` to make it executed in a short thread. @fyrestone @Catch-Bull What do you think?

[2022-01-29 06:53] maxpumperla commented on #21968
@shrekris-anyscale very good catch, thanks for spotting this. Should be an easy fix!

[2022-01-29 06:58] maxpumperla commented on #21968
ok, so surprisingly enough this seems to be a sphinx >= 4.0 issue, which needs to be patched in downstream themes:

https://github.com/sphinx-doc/sphinx/issues/9363

The RTD theme has fixed it, the book theme might not be aware yet:

https://github.com/readthedocs/sphinx_rtd_theme/issues/1168

[2022-01-29 07:34] Catch-Bull commented on #21950
We use coroutine to implement `pip install`, `virtualenv setup`, `java env setup` (download jar package), `prepare working_dir` etc and we've been using them for over a year. So we have confidence about these parts. Although we have not used `conda`, after viewing the implementation of `conda` setup, this part seems ok. If there are some plugins in the future that cannot be created by coroutines,

[2022-01-29 07:41] Catch-Bull commented on #21950
Yes. We're going to do this part in two steps:
1. Step 1, we just change `def` to `async def`, This will not bring any optimization.
2. Step 2, after finished step 1, We can do the following work in parallel:
    - use coroutine to implement `pip install $SOME_PAKCAGE`
    - use coroutine to implement `conda setup`
    - use coroutine to implement `java_env creation`

[2022-01-29 08:25] #15857 closed

[2022-01-29 09:12] fyrestone commented on #21950
Some asyncio APIs are different between Python 3.6 & 3.7. But, it's OK to write the code to compatible both of them.

[2022-01-29 09:18] fyrestone commented on #21950
Yes, the first step just change runtime env manager's API to async, e.g. delete_uri, setup, ... The implementation of API use `asyncio.to_thread` or `run_in_executor` to put the sync logic to async.

Then, we can refactor all the runtime env implementations to async step by step.
- pip
- conda
- ...

Finally, we can run some logic concurrently. e.g. `py_modules`, `working_dir` and `pip` can run co

[2022-01-29 11:43] axelbr opened #21973 "[Bug] Policy - ActionDistribution Type"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When implementing the Policy interface, i noticed that the loss-function takes an argument named `dist_class`. Concluding from examples in your documentation, this should be a type or a factory me

[2022-01-29 15:33] newmanwang opened #21974 "[Bug] Finished task remain running on dashboard forever"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Dashboard

### What happened + What you expected to happen

**The bug:**
Lauch bunch of tasks with ray.remote api, then collect them with one ray.get(refs) call. After ray.get(refs) return, some tasks remain on dashboard in the machine view t

[2022-01-29 20:39] DmitriGekhtman commented on #21870
https://github.com/ray-project/ray/issues/21870#issuecomment-1023342183
The idle time of the unused node is 184 (just over the timeout of 3 minutes).
There are 5 nodes in the cluster (4 workers plus 1 head).
The reported mean of 37 is roughly 184 / 5, suggesting that all of the nodes that were ever involved in the workload were considered active.
So at least we know there was no surprising interac

[2022-01-29 21:07] DmitriGekhtman commented on #21870
Right, so this is where the last used time is determined.

Explanation:

"static resources" means "total available node resources"
"dynamic resources" mean "currently available resources" (resources not currently in use by a Ray workload)

So the second condition in the "or" checks if there are resources that are currently in use. If so the node is in use.
The first condition just marks the node a

[2022-01-29 21:43] DmitriGekhtman commented on #21870
What we actually need to debug this is a periodically emitted node-by-node breakdown of used and available resources.

I don't think Ray has a public API for info at that level of granularity.
I'll suggest a patch to get that info in the operator/autoscaler logs.

[2022-01-29 22:14] #18707 closed

[2022-01-30 00:09] amholler commented on #21870
This is very interesting, thank you @DmitriGekhtman !  Am happy to apply a patch and rerun.

[2022-01-30 00:58] DmitriGekhtman commented on #21870
Here's some code that can be added to monitor.py and load_metrics.py in the operator image to get more detailed info in the autoscaler logs
https://github.com/ray-project/ray/pull/21978/files

There are many ways to build an operator image with patched Python code. I usually use setup-dev.py as described [here](https://docs.ray.io/en/latest/development.html?highlight=setup-dev.py#building-ray-pyth

[2022-01-30 01:49] suquark opened #21979 "[Bug] RLlib logo is broken in README"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Some previous doc refactoring seems to break the RLlib logo on the README homepage.

![image](https://user-images.githubusercontent.com/13750372/151683592-4d40cf71-8150-46eb-9df2-c0da132cf065.png

[2022-01-30 02:41] #21316 closed

[2022-01-30 06:20] #21730 closed

[2022-01-30 06:22] KepingYan opened #21980 "[Spark-on-Ray] [Bug] When the total samples in a worker <= batch_size, the dataset's iteration will fail."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

When the total samples in a worker <= batch_size, the dataset's iteration will fail at an assert:
`assert isinstance(block, pyarrow.Table), block`
Stack:
[code]
after debugging, I found that i

[2022-01-30 06:32] mattip opened #21981 "WINDOWS: test_client_thread_safe crashing on windows"
On flakey-tests.ray.io, windows://:logging_test is showing up at 3% red / 18% yellow/red. When I peruse the failures, [I see](https://buildkite.com/ray-project/ray-builders-branch/builds/5728#ade8e5ac-f13a-41cd-80d1-a5b351aa26e6/2709-2759)
[code]

<details><summary>More complete log</summary>

[code]

</details>

[2022-01-30 06:40] mattip opened #21983 "WINDOWS: tests:test_reference_counting_2 failing"
On flakey-tests.ray.io, windows://python/ray/tests:test_reference_counting_2 is showing up at 4% red / 17% yellow/red. When I peruse the failures, [I see](https://buildkite.com/ray-project/ray-builders-branch/builds/5741#9eaf4d93-b809-4b30-81c2-d7229ba78357/2711-3544) `test_recursively_pass_returned_object_ref[False-True] FAILED`, then `ERRROR`, then `FAILED` again like the first time.

<details><

[2022-01-30 07:43] yogeveran commented on #21488
Hello,
Thank you for the response.
The solutions 1 and 3 do not seem appropriate.
The second solution is very similar to the one suggested here: [#1920](https://github.com/ray-project/ray/pull/1920)

I also think that Pool actor resource allocation should be defined as an argument to the Pool constructor, and not statically.

[2022-01-30 08:04] bveeramani opened #21987 "[Train] Automatically choose number of workers"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Users must specify the number of workers in the `Trainer` constructor.

[code]

We could add a feature that automatically chooses the optimal number of workers. It could look something like this.

[code]

### Use case

_No response_

[2022-01-30 08:07] clarkzinzow commented on #21980
@KepingYan Thank you for opening this issue, and for including a reproduction! This does indeed seem like an unhandled edge case, I'm surprised that this slipped through. I'll open up a PR fixing this!

[2022-01-30 08:08] bveeramani opened #21988 "[Train] Disable autofilled metrics"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, Train reports are autofilled with various metrics.

[code]

Users might not care about the autofilled metrics. To improve the readability, we could add a feature that disables autofilled metrics.

[code]

### Use case

Addi

[2022-01-30 08:13] bveeramani opened #21989 "[Train] Add callback preprocessor that smoothly tracks values"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The [reference classification](https://github.com/pytorch/vision/blob/main/references/classification/utils.py) script for PyTorch vision implements a class that smoothly tracks distributed training data across epochs (e.g., loss).

[c

[2022-01-30 08:24] czgdp1807 commented on #21488
Great. I will start implementing the second solution tomorrow.

[2022-01-30 19:27] architkulkarni commented on #21695
Thanks a lot for the summary @SongGuyang!

I think your response to @edoakes makes sense.  To clarify for myself, the agent's URI refcounts mean different things in Option 2 and Option 3 (let me know if I misunderstood):

Example: Runtime envs in use are (A, A, B, C, C, C) (e.g. 6 workers), and all of these envs use some uri X.

Option 2: Agent's URI refcount is  {X: 3}.  It counts the number of u

[2022-01-31 00:19] hauntsaninja commented on #17769
unstale

[2022-01-31 00:42] rkooo567 commented on #21695
Can you also add option 4: Remove the dashboard agent restart feature? We can alternatively fate-share raylet and agents in this case.

Do you happen to know when this feature is actually useful? (When's the time only agent processes fail when raylet doesn't)?

Also cc @scv119 can you also take a look at this?

[2022-01-31 02:33] rkooo567 commented on #21304
Unassign myself for now. We will revisit it (performance) after refactoring. Right now, we know that increasing the lease parallelism can improve the performance a lot!

[2022-01-31 02:41] rkooo567 commented on #19747
This is fixed!

[2022-01-31 02:41] #19747 closed

[2022-01-31 02:49] rkooo567 commented on #21920
@kiralaz

In a glance, it looks like you have correct number of resources reserved by pg. If you look at

[code]

it correctly reserved 41 CPUs / workers (which is the sum of  `'num_workers': 36, 'num_hm_workers': 5`).

But for some reasons, you have 4 pending actors that require `{'CPU': 1.0, 'memory': 1258291200.0, 'worker': 1.0}` -> meaning 1 task cannot be scheduled forever.

Do you know what

[2022-01-31 02:55] rkooo567 commented on #21920
Can you also share the output of `ray.state.actors()`?

[2022-01-31 03:03] rkooo567 commented on #20483
I am on it now! ETA is next Tu, but it could be delayed depending on other work I am doing.

[2022-01-31 04:23] varunjammula commented on #20736
+1

[2022-01-31 06:30] czgdp1807 commented on #21586
cc: @pcmoritz

[2022-01-31 07:41] YarShev commented on #13706
A stub just to remove `stale` tag.

[2022-01-31 08:22] XuehaiPan opened #21991 "[RLlib][Bug] Wrong number of samples in `batch[SampleBatch.INFOS]` in RNN cases"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I'm trying to train my custom models by adding additional custom loss with `info`. This is a common case for training RL policies with auxiliary tasks and online imitation with behavior cloning.

[2022-01-31 09:31] rkooo567 commented on #15818
Hmm idk how this is currently possible. It seems like the default value should be set to 1. I will defer the issue until repro is provided

[2022-01-31 13:17] joel-thomas-wilson opened #21994 "AssignProcessToJobObject() failed in ray.init()"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When starting ray.init() from terminal - both in Run and Debug mode, the following exception is thrown:
[code]

### Versions / Dependencies

[code]

### Reproduction script

Reproduction (REQUI

[2022-01-31 13:24] rkooo567 commented on #20968
@noe-mis This issue must be fixed by https://github.com/ray-project/ray/pull/21993

@dirkweissenborn I believe your issue is the same one as  https://github.com/ray-project/ray/issues/21920. Let's follow up there. I will make a fix for this issue during next week.

[2022-01-31 13:29] rkooo567 opened #21995 "[Bug] shuffle_1tb_5000_partitions failed with `ray.exceptions.OwnerDiedError:`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

This test never failed before. I failed to find the right commit range. Maybe we merged a PR that makes things flaky recently.

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR

[2022-01-31 14:10] rkooo567 commented on #20911
This is still flaky. @richardliaw should we bump the priority to P0? (I believe all of flaky nightly tests should be P0)?

[2022-01-31 15:21] franekbcorp opened #21998 "[Feature] [Security] [Docs] Disabling object spilling is not documented"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Object spilling is a useful feature of Ray. However, certain use cases require the object spilling to be disabled and the way to do so is not obvious whatsoever.

Disabling object spilling is not even mentioned in the docs, which desc

[2022-01-31 15:31] amholler commented on #21870
[code]

[2022-01-31 16:57] edoakes commented on #21950
Sounds good to me.

[2022-01-31 17:49] disruptek opened #21999 "[Datasets] [Bug] workers and actors leaking in trivial dataset use"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

I have a stock cluster and I'm testing datasets, but after running the code below, an actor named `ray::_DesignatedBlockOwner` persists in addition to three `ray::IDLE` workers.  Eventually

[2022-01-31 18:00] richardliaw commented on #21999
@clarkzinzow can you take a look?

[2022-01-31 18:01] #9421 closed

[2022-01-31 18:14] clarkzinzow commented on #21980
@KepingYan I opened a PR adding a test that covers this case (batch size larger than total dataset size), and the test passes for me locally. This is a set of in-memory Pandas DataFrames for the test data, so maybe the bug is somewhere in the Spark-on-Ray integration.

Could you try reading the CSV with Datasets and see if you still hit that assertion error?

[code]

Also, trying on the [latest ni

[2022-01-31 18:30] clarkzinzow commented on #21999
@ericl It seems as if we need better lifecycle management of `_DesignatedBlockOwner`. Just to double-check, why can't we tie the `_DesignatedBlockOwner` lifetime to the driver/context creator instead of making it a detached actor?

[2022-01-31 18:56] DmitriGekhtman commented on #21870
Thanks, Anne! Looks like we're getting closer to figuring this out.

Some of the Ray worker nodes are unexpectedly kept from scaling down despite not being involved in active Ray workloads. The reason is that they appear to still be using object store memory.

Polling experts on the Ray internals:
@rkooo567 @wuisawesome @ericl
What are some potential mitigations or directions for further investiga

[2022-01-31 19:17] ericl commented on #21999
We should be able to at least make it a global singleton. I think this is just a matter of setting the namespace.

[2022-01-31 19:27] wuisawesome commented on #21870
Hmmm seems like there are a few options here (I'm assuming that these nodes aren't storing anything useful in their object store).

1. Somewhat eagerly flush the object store to bring it back down to 0 utilization.
2. Report some kind of object ownership metric and have the autoscaler ignore object store utilization.

[2022-01-31 19:28] wuisawesome commented on #21870
cc. @scv119 as well

[2022-01-31 19:30] scv119 opened #22003 "[Dataset][Bug] _spread_resource_prefix doesn't work with GPU nodes"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Currently, we always require CPU for data pipeline, and with the _spread_resource_prefix we requires GPU nodes to remove CPU resources. This makes it challenging if we want to schedule data pip

[2022-01-31 20:02] ericl commented on #21999
@clarkzinzow maybe it would also work just to not set detached lifetime. The default lifetime should work, since we hold a reference to the actor in the context.

[2022-01-31 20:03] ericl commented on #22003
This should be unneeded after @jjyao 's spread scheduling right?

[2022-01-31 20:08] wubdub commented on #20634
Bump on this, continuing to see this on Ray 1.9.0rc1

[2022-01-31 20:33] jjyao commented on #22003
With spread scheduling, it won't run on GPU nodes either due to the global config `scheduler_avoid_gpu_nodes`

[2022-01-31 20:34] edoakes opened #22004 "[jobs] Fix quote escaping on the CLI"
Everything after the `--` in the command should be treated as the command verbatim, no quote escaping at all. For instance:
`echo "hello 'world'"` gives output: `hello 'world'`
but `ray job submit -- echo "hello 'world'"` gives output: `hello world` due to interpreting the quotes

[2022-01-31 20:39] edoakes opened #22005 "[jobs] Move jobs SDK to a better import path"
Currently, it's at `from ray.dashboard.modules.job.sdk import JobSubmissionClient` but this is really just revealing an implementation detail. We should move it to something more clear like `from ray.job_submission import JobSubmissionClient`

[2022-01-31 20:43] wuisawesome commented on #20634
@wubdub do you mind sharing the error message you get from `ray up --verbose cluster.yaml`

[2022-01-31 20:51] edoakes commented on #22004
For my own sanity, this does not seem to be bash's doing:

t.py
[code]

[code]

[2022-01-31 21:02] scv119 opened #22008 "[Dataset][Bug] Dataset pipeline stuck at groupby"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

[code]
stuck at GroupBy on Ray version 1.8 and never makes progress

[code]

Also as we debugged there is no pending tasks in the cluster

[code]

there is some object in object store, but over

[2022-01-31 21:04] edoakes commented on #22004
Confirmed that kubectl supports the desired behavior in the issue description:
[code]

[2022-01-31 21:13] DmitriGekhtman commented on #21870
Correct.

[2022-01-31 21:15] ericl commented on #21870
Hmm do we know what created those objects and what is referencing them? "ray memory" can show you more information on this.

[2022-01-31 21:19] wubdub commented on #20634
Hey @wuisawesome, for my case I am just using ```ray init ...``` but this fails because another user has created and left the ```/tmp/ray_current_cluster``` file on the node, even though their Ray sessions is finished

[2022-01-31 21:20] scv119 commented on #21995
Note there is a worker failed register error at the beginning of the runs.

[2022-01-31 21:47] edoakes opened #22012 "[jobs] Make port optional, default to the default dashboard port (8265)"
`ray job submit --address=http://localhost -- ls` should default to `:8265`

[2022-01-31 21:48] edoakes commented on #21911
@architkulkarni I was thinking about this, I think for now we can get away with just documenting this and recommending that users manulaly run the `ray dashboard` command to port-forward to their laptop before interacting w/ the job submission server.

[2022-01-31 21:48] edoakes commented on #21914
https://github.com/ray-project/ray/blob/master/dashboard/modules/job/tests/test_http_job_server.py

[2022-01-31 21:48] #21914 closed

[2022-01-31 21:49] edoakes commented on #21911
Making another issue for that, let's make this P2 and documenting it P1

[2022-01-31 21:49] edoakes opened #22013 "[jobs] Document how to use w/ `ray dashboard` port-forwarding command"

[2022-01-31 22:20] wuisawesome commented on #20634
hmmm a few things:

1. what arguments are you passing into `ray.init()`?
2. what do you mean by "finished"?
3. what error message are you seeing?

[2022-01-31 23:02] rkooo567 commented on #20736
@Seanny123 I failed to actually run the attached script because of some issues

1. := -> should I just use ==?
2. There are some variables that are not defined. Can you fix this?

[2022-01-31 23:05] rkooo567 commented on #18309
This will be soon fixed. Sorry for the delay. I am planning to merge the fix PR within 2 weeks.

[2022-01-31 23:13] clarkzinzow commented on #21274
@mwbyeon We recently tried to mitigate this via [batching the piece serialization](https://github.com/ray-project/ray/pull/21963). We'll be doing our own benchmarking, but could you also try this out again and let us know if it's still very slow?

[2022-01-31 23:34] amholler commented on #21870
[code]

[2022-02-01 00:03] DmitriGekhtman commented on #21870
@richardliaw @xwjiang2010
Looking again at the summary [here](https://github.com/ray-project/ray/issues/21870#issuecomment-1025898564).
At `16:45:06` the nodes at ips `10.0.1.161`, `10.0.3.161` have finished their trials, yet they seem to continue to be using object store until 17:21 when the whole Tune run stops. That prevents the nodes from timely downscaling.

The amount of object store memory

[2022-02-01 00:06] kiralaz commented on #21920
Sorry — not sure I totally follow your question. It looks like it is the `hm_worker` actors that are not being scheduled, right? since the associated `memory` request is 1.2GiB.

Is it possible that since the hm_worker bundle resource requests are a superset of the other ones, that the `hm_worker` bundles are being filled up with `worker` actors that only require 400MiB of memory and thus there ar

[2022-02-01 00:20] ericl commented on #21870
I think it could be an artifact of reference counting in Ray. It sounds like all the trials are referencing a shared copy of an object (this 36MB object). However, Ray doesn't evict secondary copies of an object until all references fall out of scope. So the nodes are reporting memory in use, when the object could be evicted safely in this case.

There are some potential fixes:
- Eagerly evict sec

[2022-02-01 00:24] rkooo567 commented on #21920
Sorry I think I misread some values last time I checked it...

I think your theory could make sense. I am not very familiar with Tune, but if this is the case, scheduling hm_workers on hm_worker bundles could solve the issue? @richardliaw is this possible?

[2022-02-01 00:27] scv119 commented on #21870
Vote for this approach.

[2022-02-01 00:29] jiaodong opened #22019 "[Ray DAG] Support .options for task and actor"

[2022-02-01 00:33] DmitriGekhtman commented on #21870
^ Sounds like the correct solution. Is it straightforward to implement? Would it be difficult to distinguish secondary objects?

[2022-02-01 00:38] DmitriGekhtman commented on #21870
hah, prompt answer in <20 lines of code

[2022-02-01 00:43] DmitriGekhtman opened #22021 "[Bug][kubernetes][core] `ray memory` fails with certain Ray on K8s set-ups"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Deploying with the config described here
https://github.com/ray-project/ray/issues/21870#issuecomment-1023785346
and running `ray memory` on the Ray head node leads to the following rpc err

[2022-02-01 00:50] patopipp opened #22022 "[Docs] Document how to use serve with Tuple observations"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

There's no documentation that explains how to use Ray Rlib Serve with Tuple observation. The example provided uses the cartpole model that has an array as observation, but there are no examples with Tuple observations.

### Use case

[2022-02-01 01:06] #21999 closed

[2022-02-01 02:27] siekmanj commented on #21591
It is not clear in the documentation that calling `ray.init` in python with a redis address is no longer supported. In fact, https://docs.ray.io/en/latest/package-ref.html seems to imply that this should work.

[2022-02-01 02:30] #22003 closed

[2022-02-01 02:41] clarkzinzow opened #22023 "[Datasets] [Bug] Streaming reads for Snappy-compressed files not supported"
Snappy does not support streaming (de)compression, so Arrow doesn't support streaming reads for Snappy-compressed files. We should fall back to one-shot decompression via a non-streaming read for Snappy files.

See https://discuss.ray.io/t/ray-dataset-support-snappy/4862/2

[2022-02-01 03:47] iycheng commented on #21725
@yuanchi2807  it's not correct. `.step()` returns object, so you can't use this: `    if is_event_approved.step(w):`

Keep in mind that event/steps are both `Workflow` and you can't dereference it unless you pass it to inputs.

[code]

[2022-02-01 03:59] DmitriGekhtman commented on #20402
Leaving this exclusively to @wuisawesome, since this issue appears to have a Ray-internal component, and that's a good enough reason to disqualify myself.

[2022-02-01 04:14] joel-thomas-wilson commented on #13296
@nirvana-msu  - Can you share which version of the ray / python / etc fixed this for you? I face the same issue #21994

[2022-02-01 04:50] michaelzhiluo commented on #20402
Sgtm, we still encounter this issue pretty frequently and it'd be great if this issue is resolved soon.

[2022-02-01 06:27] #20033 closed

[2022-02-01 07:05] #19439 closed

[2022-02-01 07:05] #19440 closed

[2022-02-01 07:05] #19441 closed

[2022-02-01 07:05] #19442 closed

[2022-02-01 07:05] #19443 closed

[2022-02-01 07:05] #19444 closed

[2022-02-01 07:06] maxpumperla commented on #22022
@patopipp in the original tutorial `obs = env.reset()` is a numpy array, so we make it a list to then convert it all to json. Then on the server we de-serialise the json and read in `obs = json_input["observation"]`, which is now a list again. And in this case you're "lucky" because you can feed both plain lists and numpy arrays into your trainer's `compute_action`. (It's not necessary here, but t

[2022-02-01 07:06] iycheng commented on #19397
Close this one and use https://github.com/ray-project/ray/issues/21595 to track

[2022-02-01 07:06] #19397 closed

[2022-02-01 07:08] iycheng commented on #21595
After discussing with @suquark and we realize it's easier than our expectation if we pass Workflow object to remote function. The prototype is here https://github.com/ray-project/ray/pull/21940

The prototype work with the code in the ticket. We can use this as a start. cc @richardliaw

[2022-02-01 07:36] iycheng opened #22027 "[Bug] Dashboard memory leak"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

Ray dashboard keeps the whole history of actors and never delete the old ones. So as time going, it'll OOM.

This issue is a follow up for this one https://github.com/ray-project/ray/issues/21

[2022-02-01 11:56] czgdp1807 commented on #21488
I tried detecting the deadlock (gives correct results) and then removed that deadlock by releasing resources from a leased worker. The things worked and the final output was correct. I have added the diff below. However, the confusing part is that why releasing resources from a worker (which is already leased to an actor (again which hasn't completed executing one of its methods)) is successfully

[2022-02-01 12:35] toza-mimoza opened #22031 "[Bug] Multi-node Dask on Ray cluster fails to write to tmp folder"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

1. Ray cluster with one node works fine and sees the tmp folder, but adding multiple nodes files are not written/found in the tmp folder. I am trying to run Rasa training code in parallel on mu

[2022-02-01 14:22] yuanchi2807 commented on #21725
@iycheng Thanks for the refresher. Aside from the syntax error, I believe the multi-approval workflow example is feasible, assuming multiple `wait_for_event` allow some form of hiberation. `workflow.cancel ` in a simplified example seems to be a partial solution.

[2022-02-01 14:46] chwflhs opened #22033 "[RLLib] Workers died at the initialization stage when the observation space is a 3D shape"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

1. bug description:
This bug is irrelevant to ANY environment, or, you could reproduce it with an arbitrary environment.
When trying to transfer a 3D shape Box space to the agent, the bug occurs (

[2022-02-01 15:43] DomagojHack commented on #16500
Any news with this, I am reproducing the same problem with A3C

[2022-02-01 16:07] yuanchi2807 commented on #21725
@iycheng Thanks for the refresher. I believe our confusion came from executing the workflow object returned from `wait_for_event`. e.g.
[code]

[2022-02-01 17:19] pcmoritz commented on #21642
Looks like the issue is fixed then, please re-open if it still happens.

[2022-02-01 17:19] #21642 closed

[2022-02-01 17:51] pcmoritz commented on #21488
We discussed this issue in a bit more detail and came to the conclusion that we should set the CPU resource requirement for each actor in the actor pool to 0, to make the Ray Pool compatible/same behavior as the Python multiprocessing pool. Would that work for you @yogeveran ? (very similar to solution 4 mentioned above, but with 0.0 instead of 0.1, so it works in all cases).

[2022-02-01 18:37] #21317 closed

[2022-02-01 18:37] aralebox opened #22036 "[Bug] Rllib episode handling with concurrent episodes"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

In my project, I use ExternalEnv to train a policy. Due to practical reasons, I need to create an 'action episode' to continuously get actions. Meanwhile, separate episodes ('log episodes') are st

[2022-02-01 21:36] mikwieczorek commented on #21536
+1 for this feature, that's what I am missing when running Dask with Ray. Would love to see a working solution for that.

[2022-02-01 21:50] iycheng commented on #21725
@yuanchi2807 workflow event is not different from other workflow steps from the user side. From the user's perspective, it's like:

[code]

What's different is about the internal implementation which we can make it more efficient and support FT and recover correctly from a failure.
We are supposed to provide the same semantic as the normal workflow step.

[2022-02-01 21:50] clarkzinzow commented on #21957
@coinzerge Thank you for filing the issue! On those two single-file runs that work, what does `ds.schema()` output exactly?