[2022-03-11 01:35] shrekris-anyscale opened #23058 "[serve] Start dashboard's Serve controller in the "serve" namespace"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

_No response_

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-03-11 02:46] hezhaozhao-git opened #23060 "[Bug] ray train on pytorch with mutil nodes mutil gpus not work"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen
### when i run num-workers = 5, output logger
[code]
It just stuck and didn't give any error
### when i run "py-spy  dump --native

[2022-03-11 02:54] hezhaozhao-git commented on #23060
@amogkam Have you encountered such a problem?

[2022-03-11 02:55] amogkam commented on #23060
maybe @matthewdeng could you take a look at this?

[2022-03-11 03:01] hezhaozhao-git commented on #23060
oh,thank you,I have already @ him in the ray community, I will synchronize my [questions](https://discuss.ray.io/t/how-to-launch-multi-node-job-with-ray-train/4540) in the ray community here, and make a mark

[2022-03-11 03:34] matthewdeng commented on #23060
Hmm @hezhaozhao-git, based on your observations, it could be there's some sort of connection issue when the 2 machines try to communicate.

1. Can you try running the `py-spy dump --pid <pid>` command without `--native`?
2. Another thing worth verifying is running this with Gloo instead of NCCL:
[code]

[2022-03-11 03:39] daikeshi commented on #22514
@DmitriGekhtman will this issue go away if we switch to using KubeRay? We plan to do the migration soon (next week) to use KubeRay to deploy Ray 1.11.0

[2022-03-11 03:59] DmitriGekhtman commented on #22514
Yes.

If you have any problems, feel free to discuss on the #kuberay channel in the Ray Slack and/or the [KubeRay GitHub](https://github.com/ray-project/kuberay)!

[2022-03-11 04:12] hezhaozhao-git commented on #23060
@matthewdeng thank you,I have solved this problem by changing torch backend to gloo, I wonder if ray can't use nccl backend?

[2022-03-11 07:49] oliverwang15 opened #23062 "[rllib][Bug] AttributeError: module 'gym.wrappers' has no attribute 'Monitor'"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

 **Gym has just [Removd deprecated Monitor class and its dependenc

[2022-03-11 09:01] pdames commented on #22910
I think there is some immediate value in creating a Parquet File datasource to supplement the existing Parquet Dataset datasource, given that Parquet Datasets currently have other problems like being unable to read files with index columns (due to running an implicit merge across files and https://issues.apache.org/jira/browse/ARROW-13851). This is why I also recently [created a Parquet File Datas

[2022-03-11 09:42] simonsays1980 opened #23064 "[Bug] `ModuleNotFound: ray.serve.generated`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

# What happened
I am working on my fork with the nightly-build and encounter a weird `ModuleNotFound` error.

Following steps I have do

[2022-03-11 09:48] maxpumperla commented on #22064
@worldveil the file is now deleted, and at least in our algolia search on our docs the right documents are now surfaced when searching for pytorch. closing for now

[2022-03-11 09:48] #22064 closed

[2022-03-11 10:15] 77loopin opened #23066 "[core][Bug] Unexpected error when pushing prometheus metrics"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Monitoring & Debugging

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

When I sent the metric to pushGateway for ray prometheus metric, I encountered the next error message.

[code]

[2022-03-11 10:20] ddelange commented on #13780
Duplicate of https://github.com/ray-project/ray/issues/12128 ?

[2022-03-11 10:21] ddelange commented on #12128
Any update on adding `manylinux2014_aarch64` wheels to Rays official CI/CD?

Manually building and passing around 3rd party links to wheels doesn't seem the right way to go...

[2022-03-11 11:32] czgdp1807 commented on #21479
I am re-opening this issue as I have reproduced this several times (though it happens randomly and needs fair amount of luck and patience).

Some assumptions (which I believe should be true),

1. Worker pool in `worker_pool.cc` launches `default_worker.py` as the workers for Python scripts at least.
2. This `default_worker.py` sends a signal for registration via a RPC.
3. So, starting `default_wor

[2022-03-11 11:42] rkooo567 commented on #21479
@iycheng i think this must be related to what we observed (very slow rpc to internal kv)

[2022-03-11 12:25] saswatac opened #23071 "[Feature] expose prometheus metrics in default kubernetes deployment"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, Prometheus metrics are not exposed in the default helm chart template https://github.com/ray-project/ray/blob/master/deploy/charts/ray/templates/raycluster.yaml .

To expose the prometheus metrics, the `--metrics-export-por

[2022-03-11 13:38] dirkweissenborn commented on #22999
This is not really fixed. Now the errors just appear in a loop.

[code]

The issue is that some nodes get lost (are deleted) while the autoscaler still has a node-id cached that's pending some operation (here it is `terminate_scheduled_nodes`). The autoscaler still tries to apply operations on those missing nodes which leads to the 404 on request. I think this can easily be caught (properly) and n

[2022-03-11 14:02] maggielkx commented on #19909
Hi @bstollnitz i am in a similar scenario as you are: MLFlow+ Raytune + Azure where the child runs cannot be automatically logged in Azure experiments. The current work-around i found is:
`@mlflow_mixin
def train_func(...):
run_id = mlflow.active_run().info.run_id
        with mlflow.start_run(nested=True):
        ...
        mlflow.set_tag("mlflow.parentRunId", run_id)`

[2022-03-11 14:04] richleigh opened #23074 "[Bug] Actions from outside action_space chosen"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

This seems to be a regression on bug https://github.com/ray-project/ray/issues/2965

When given a box action space of -1 to +1, the age

[2022-03-11 15:31] smorad opened #23077 "[Feature][RLlib] Improve pytorch memory usage by disabling caching"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

By default, the [pytorch GPU memory allocator](https://pytorch.org/docs/stable/notes/cuda.html) will not usually `free` unused memory, since `malloc` calls to the GPU are relatively expensive. This makes sense for a single pytorch ins

[2022-03-11 15:50] dirkweissenborn commented on #22999
It seems that:
self.nodes_to_terminate is never cleaned up if there is an error here:
[code]

As a general remark, I think keeping state around in the autoscaler is really dangerous and bug prone. It would be cleaner to pass state instead. I am wondering why there is a state for self.nodes_to_terminate at all.

[2022-03-11 16:35] stephanie-wang commented on #23049
cc @clarkzinzow @naijoaix

[2022-03-11 16:45] #23052 closed

[2022-03-11 16:53] stephanie-wang opened #23083 "[core][Bug] Several core nightly tests failing due to infrastructure error"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

Error during cluster startup:
[code]

### Versions / Dependencies

--

### Reproduction script

--

### Anything else

_No response_

[2022-03-11 17:29] stephanie-wang commented on #23083
Looks like this is likely either #22860 or #23005.

[2022-03-11 17:33] smacpher commented on #15893
Hi @wuisawesome thank you for taking a look at this issue. Here's my cluster yaml with some internal things like project ID and code paths redacted:

[code]

I've noticed that this was happening more often for me on smaller machine types (e.g. `n1-standard-2`). When I bumped up to `n1-standard-4` and larger, I started running into a new error. I can consistently reproduce this using the exact YAML

[2022-03-11 19:19] ericl commented on #22910
+1 to have a separate parquet file datasource. @pdames does it make sense to contribute your implementation? We could add it as a simpler `read_parquet_fast()` API that acts more like the other file datasources.

Another possibility is just making it the default implementation, if the partitioning support is good enough.

[2022-03-11 19:49] clarkzinzow opened #23088 "[Datasets] [Docs] Refactor docs structure + Getting Started vs. User Guide content"
We are restructuring the Datasets docs into the following:
[code]

## TODOs

- [x] Trim down Getting Started page to linear end-to-end example.
- [x] Remove DatasetPipelines from Getting Started page and de-emphasize/qualify throughout user guides (should only be used in advanced cases).
- [x] User Guide pages created/changed:
  - Creating Datasets - pulled from Getting Started
  - Saving Datasets

[2022-03-11 19:53] clarkzinzow opened #23089 "[Datasets] [Docs] Create data ecosystem overview"
The Ray Data landing page should contain a brief overview of the data ecosystem, positioning Ray Datasets as the Ray-native offering.

[2022-03-11 19:58] clarkzinzow opened #23090 "[Datasets] [Docs] Better documentation for filesystem arg in I/O APIs"
We should add top-level examples for (1) reading from private cloud storage with specified credentials, (2) reading from GCS and Azure Blob Storage. Also, the API documentation can also be improved to indicate that both Arrow filesystems and fsspec filesystems are accepted, and that these filesystems can be used to specify things like credentials, regions/zones, projects, etc.

[2022-03-11 20:01] #22328 closed

[2022-03-11 20:07] clarkzinzow opened #23091 "[Datasets] Datasets GA - Docs and UX Push"
Tracker for docs and UX push for Datasets GA.

# Issue Backlog

### Docs

- [ ] [P0] https://github.com/ray-project/ray/issues/23088
- [ ] [P0] https://github.com/ray-project/ray/issues/23089
- [ ] [P1] Follow strict semantics about row/partition reordering, and document them: https://github.com/ray-project/ray/issues/20329
- [ ] [P1] Make the simple and Arrow dataset distinction more clear, inclu

[2022-03-11 21:13] simon-mo commented on #23064
@simonsays1980 thanks for filing this. I'm work this part. @edoakes this is the issue @amogkam has been seeing as well.

The root cause:
- Recently ray dashboard start importing Ray Serve.
- During setup-dev.py, `serve` is symlinked.
- But `serve` requires some files to be compiled and generated.

I have filed https://github.com/ray-project/ray/pull/23092 to fix this. Serve developers don't use se

[2022-03-11 21:15] dynamicwebpaige opened #23093 "[Feature] Include one or more vignettes for the Ray Serve project examples."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

### Motivation
I love that the Ray Serve documentation references FastAPI, as well as [`scikit-learn`](https://docs.ray.io/en/latest/serve/tutorials/sklearn.html), PyTorch, and Keras + TensorFlow! However, the examples on the website

[2022-03-11 21:21] #23064 closed

[2022-03-11 21:21] simon-mo commented on #23064
Please try pulling master, uninstall nightly wheel, adn re-apply the symlink!

[2022-03-11 22:13] pdames commented on #22910
Yep - I'm happy to start by contributing my Parquet File Datasource back and linking it to this PR.

I'll also open some related issues for consideration like (1) contributing content-type-agnostic `read_files()` APIs/datasources w/ partition predicate push-down support, (2) an AWS S3 datasource built on the code from [1] (w/ some S3 perf improvements like input file discovery via Key Prefix), and

[2022-03-12 02:07] #23083 closed

[2022-03-12 03:12] gjoliver commented on #23077
as a prerequisite / part of this task, what do you think if we try to make fractional GPU work really well on Anyscale?
I tried it once before, and ran into weird issues.

[2022-03-12 04:26] DmitriGekhtman commented on #22999
We should catch the 404 in the GCP Node Provider. As you've pointed out, it doesn't matter if the nodes are gone already.

You make an excellent point about cleaning up nodes_to_terminate in the event of a failure. I will push a PR to fix that.

[2022-03-12 05:29] dynamicwebpaige commented on #593
**Note**: this constraint would also apply to [JAX's `jax.jit()`](https://jax.readthedocs.io/en/latest/jax-101/02-jitting.html), as well as [TensorFlow's `tf.function`](https://www.tensorflow.org/api_docs/python/tf/function). Self-contained examples for testing below.

#### JAX:
[code]

#### TensorFlow:
[code]

[2022-03-12 05:47] #18309 closed

[2022-03-12 05:47] rkooo567 commented on #18309
@jfischer this must be fixed. let us know if you see the issue again!

[2022-03-12 08:15] simonsays1980 commented on #23064
Hi @simon-mo , thanks for coming back to this. I tried the suggested steps above and then rerun my code. The error is still there. Here are the commands I ran:

[code]
The output of the install is:
[code]
And the output of the `dev_setup.py` is:
[code]
Did I miss sth?

[2022-03-12 08:21] simon-mo commented on #23064
Hmm the following logs shouldn't happen on master
[code]

Can you double check the commits change it in your local branch?

[2022-03-12 10:20] czgdp1807 commented on #21479
In addition, after thinking for a while, IMO, in case of `default_worker.py`, we should exit in python instead of doing `QuickExit` in the below line,

https://github.com/ray-project/ray/blob/5b2d58674b4e168801a792093431b893c2585785/src/ray/core_worker/core_worker.cc#L123

[2022-03-12 12:38] simonsays1980 commented on #23064
Thanks for checking again. I removed all symlinks and reinstalled the nightly build. The lines you cited above are gone now. Thanks for the fix.

Therefore, however, another error occurred with the dashboard:

[code]
which I could overcome by running the commands to build the dashboard:
[code]
Rerunning the script returns then the following error:
[code]
No clue why this comes up now. Usually I wo

[2022-03-12 14:20] PookieBuns opened #23107 "[Bug] ActorPool map returns incorrect results if submit happens before without getting result"
### Search before asking

- [x] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

According to docstring for Actorpool's map method

This returns

[2022-03-12 15:07] simon-mo commented on #23064
The NotImplementedError sounds something you can trace down too. I'm not familiar with RLlib here.

But looking at them code, it might be a RLlib bug?

[code]

[2022-03-12 18:12] czgdp1807 commented on #23107
@pcmoritz Can I work on this? Please let me know.

[2022-03-12 19:47] Numchies opened #23109 "[tune][Bug] RayActorError (worker crashed) when resources_per_trial is not set"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

Hi all,
I'm quite new when it comes to programming, so please bear with me if I don't understand your explanations right away or if

[2022-03-13 06:27] Jeffwan opened #23113 "[Bug] Workflow docs have few typos and type issue"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

I am learning Ray workflow APIs and usage and found a few issues in master branch.

1. typo
https://docs.ray.io/en/master/work

[2022-03-13 11:26] dynamicwebpaige commented on #22991
**Update**: just need to make a couple of modifications to the extension linked above, and the dashboard is viewable within VS Code (as a supplemental panel, or embeddable within a notebook). 😄

Will package up the `.vsix` and put it on the VS Code Marketplace for testing.

![](https://pbs.twimg.com/media/FNudB9DVUAgu549?format=jpg&name=4096x4096)

[2022-03-13 16:46] mattip opened #23118 "[Dashboard] Update speedscope from 1.5.3 to the latest 1.13.0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

speedscope is vendored into the dashboard at version 1.5.3 from 2020-1-16. I might be nice ot update it to the latest 1.13.0. Filtering the [changelog](https://github.com/jlfwong/speedscope/blob/main/CHANGELOG.md) for relevant improve

[2022-03-13 17:25] Numchies commented on #23109
Update: The program has been running now for 24 hours after I removed the scheduler and set `resources_per_trial={'cpu': 2}`. Since I have removed the scheduler before and it still crashed, I think me setting the resources per trial somehow improves the code to not give me this RayActorError. Can anyone explain why?

[2022-03-13 19:17] Midnighter commented on #22978
I've resorted to wrapping all exceptions myself and storing arguments such that I can resubmit tasks. Below is the code. I would love for you to consider dealing with exceptions, too. Especially, if you consider that a worker running out of memory will likely result in a `MemoryError`.

[code]

[2022-03-14 03:39] dynamicwebpaige commented on #19116
#### Note, for context:

This issue is also a blocker for [FlyteKit](https://github.com/flyteorg/flytekit), a Python SDK for [Flyte](https://flyte.org/) -- which is used in production by Lyft, Spotify, and Freenome.

[2022-03-14 04:24] jjyao commented on #23007
Not sure what changed but it's recovered in master.

[2022-03-14 05:45] ZaberKo commented on #23062
I believe this is caused by an incompatibility of gym 0.23. Reinstalling gym 0.21 works for me.

[2022-03-14 06:11] #1673 closed

[2022-03-14 06:18] zbwzwd commented on #21246
also observation_space and action_space should be get from client

[2022-03-14 08:01] czgdp1807 commented on #21479
[code]

I applied the above diff and it seems like `ray.init` hangs because `default_worker.py` is unable to register itself before `RayConfig::worker_register_timeout_seconds` s. So, either one or a combination of the following things is slow during some calls of `ray.init`,

1. `python default_worker.py` takes a bit more time to start up.
2. RPC for registration from `default_worker.py` to `work

[2022-03-14 08:11] tekumara opened #23131 "[workflows][Feature] Retain function type info when used as a workflow step"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

When a function is annotated with `@workflow.step` and then later used, the types of function parameters are lost and return types become `Any`.

<img width="396" alt="Screen Shot 2022-03-14 at 7 10 58 pm" src="https://user-images.git

[2022-03-14 08:53] dirkweissenborn commented on #22999
Thanks!

[2022-03-14 11:56] tsaoyu opened #23133 "[Dataset] Unable to read scientific notation such as '1E+05' in CSV."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

[code]

Ray Dataset seems failed to read from the famous credit c

[2022-03-14 15:59] edoakes opened #23137 "Implement serve.run, serve.deploy, and serve.build, taking in BoundDeploymentNode"

[2022-03-14 15:59] edoakes opened #23138 "Update serve.Application and enable it to be passed to serve.run and serve.deploy"

[2022-03-14 16:00] edoakes opened #23139 "Update CLI to operate on BoundDeploymentNodes or Applications only"

[2022-03-14 16:01] simon-mo commented on #23042
Yes

[2022-03-14 16:01] edoakes opened #23141 "Enforce JSON serializability and importability _only_ in serve.build"

[2022-03-14 16:03] matthewdeng commented on #23060
Hey @hezhaozhao-git, Ray Train does work with NCCL backend, there may be a misconfiguration on the NCCL side (in other words, I believe you would run into the same issue if you ran the same script using NCCL without Ray Train).

One thing to investigate is setting the `NCCL_DEBUG` environment variable on the worker nodes - you can do this by adding `os.environ["NCCL_DEBUG"] = "INFO"` to the start

[2022-03-14 16:05] #23012 closed

[2022-03-14 16:07] edoakes commented on #23022
`serve get` ?

[2022-03-14 16:08] edoakes commented on #23040
duplicate

[2022-03-14 16:08] #23040 closed

[2022-03-14 16:09] edoakes commented on #23048
Let's just always expose the pipeline on `/` @simon-mo? That will be compatible with direct ingress as well.

[2022-03-14 16:10] #23023 closed

[2022-03-14 16:10] #23018 closed

[2022-03-14 16:29] davidschnermann opened #23142 "[RLlib][Bug] OpenAI Gym with RLlib PPO computed action is not in action_space"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

I wonder why the action calculated by the PPO agent from RLlib doesn't fit in the action space I defined in my Env. If I choose DDPG it

[2022-03-14 17:08] engrmg commented on #23010
Hi @edoakes

Thank you for the quick response. We tried your suggestion and deployed our cluster to make sure everything was updated with the new script that contains `ray.init(address="auto")`. Unfortunately, the head seems to be behaving the same way and does not delegate jobs to the worker nodes. It does delegate 1 or two jobs randomly but 90% of the jobs submitted are completed by the head nod

[2022-03-14 17:38] #23015 closed

[2022-03-14 18:14] ponner-github commented on #22977
Thanks @architkulkarni , will try passing in the runtime environment args and confirm

[2022-03-14 18:19] architkulkarni commented on #22977
Sounds good, thanks!  I'm not too familiar with bazel environments, but it might be appropriate to pass in a certain directory for `PYTHONPATH` instead of deleting it altogether.  Looking forward to hearing the results.

[2022-03-14 18:44] #22884 closed

[2022-03-14 18:47] bveeramani opened #23148 "[Train] [Feature] Print useful traceback on SIGINT"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Print useful traceback when user interrupts Ray Train (i.e., enters `Ctrl-C`).

### Use case

If you interrupt a frozen training program, the traceback is unhelpful.
[code]

### Related issues

_No response_

### Are you willing to su

[2022-03-14 18:53] bveeramani opened #23150 "[autoscaler][Feature] Support secrets in cluster configuration yamls"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Allow me to use securely use secrets (e.g., passwords) in a cluster configuration file.

### Use case

I want to download a dataset from Kaggle during setup, but I need to provide my Kaggle credentials to do so. I'm currently hardcodi

[2022-03-14 18:53] edoakes commented on #23010
@engrmg what are the resource requirements of the tasks/actors in the jobs? It could be that they require `num_cpus=0` so they're all getting placed on the same node.

[2022-03-14 18:59] bveeramani opened #23151 "[runtime_env][Bug] Runtime envs `py_modules` doesn't support local Python modules"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

If I create a Python module `module.py` and specify that module

[2022-03-14 19:06] Yard1 commented on #22733
@amogkam @matthewdeng can this be closed?

[2022-03-14 19:08] ponner-github commented on #22977
Naively setting `PYTHONPATH` to  the bazel python path where imports are present or an empty path fails with
[code]
I will continue checking other env variables that could possibly impact this behaviour.

The easiest solution from our perspective would be an additional param in ray.init that would toggle the `-Ss` flag in `python/ray/_private/services.py`  where python subprocesses are started.

D

[2022-03-14 19:11] bveeramani opened #23152 "[autoscaler][Bug] Raylet address already in use during worker node startup"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

I ran my training script and received an esoteric error.

[

[2022-03-14 19:15] bveeramani opened #23153 "[Bug] [Train] Progress bars don't print correctly"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

I downloaded CIFAR10 and expected the download progress bar to display normally.

[code]

### Versions / Dependencies

**Ray*

[2022-03-14 19:27] bveeramani opened #23154 "[autoscaler][Bug] You can connect to cluster even if head setup fails"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

I launched a cluster and the setup commands failed. I expected to be unable to connect to the head node, but I could.

###

[2022-03-14 19:44] smorad commented on #23077
Just a preliminary experiment, but adding `PYTORCH_NO_CUDA_MEMORY_CACHING=1` reduces GPU memory usage from ~`10GiB` to `7.5GiB`. But `sample_throughput` drops from 435 to 250.

Might be useful to those that are memory constrained.

[2022-03-14 19:51] mwtian opened #23155 "[GCS FT] Create CI builds to test Ray with external storage (Redis)"
Ray uses GCS internal KV by default now. And Ray will not support launching Redis going forward. But for GCS FT, an external storage will need to be configured for Ray. This feature currently only has minimal testing support. We should add CI build steps that run more / all unit tests with the external storage / external Redis configuration.

cc @scv119

[2022-03-14 20:19] mathetes87 opened #23158 "[tune][datasets][Bug] Ray Tune hangs when Ray Datasets makes pandas conversion"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, Others

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

When invoking `to_pandas` function within a trainable f

[2022-03-14 20:19] bveeramani opened #23159 "[Train] Print actionable error message when CUDA object returned from training function"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Provide a clear and actionable error message when the user returns an object on CUDA from the training function

### Use case

If you return an object on CUDA from your training function, you receive a lengthy and unactionable error m

[2022-03-14 20:24] matthewdeng commented on #22733
@Yard1 this hasn't been fixed yet. Adding to backlog!

[2022-03-14 20:28] mgelbart opened #23160 "[docs] Broken links to RLlib Environments in RLlib docs"
Hi, all links under "RLlib Environments" are broken on the [main page of the RLlib docs](https://docs.ray.io/en/latest/rllib/index.html). Screenshot attached.

<img width="1410" alt="Screen Shot 2022-03-14 at 10 28 49 AM" src="https://user-images.githubusercontent.com/157368/158255405-aed265fb-e31e-40b2-a94e-fe5d5edc8365.png">

They go to places like https://docs.ray.io/en/latest/rllib/rllib/rllib

[2022-03-14 21:35] richardliaw commented on #22977
So it looks like `-s` can be toggled using an environment variable:

https://peps.python.org/pep-0370/#implementation

Looking for -S now...

[2022-03-14 21:53] richardliaw commented on #22977
It seems like `-S` does not have the same environment variable toggle for Python.

It doesn't seem like PYTHONPATH/PYTHONHOME will have the same effect -- these environment variables augment the import flow for Python, but do not disable the searching in site-packages.

[2022-03-14 22:09] DmitriGekhtman opened #23166 "[Bug] autoscaler.sdk.request_resources input is not validated"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

The arguments to ray.autoscaler.sdk are not validated.
I ju

[2022-03-14 22:17] jnpm commented on #18378
Hi, I have a similar error as bananenpampe using raytune. I have also tried using `tune.with_parameters` but that also did not work. My dataset is not even big (roughly 2MB). I'm using Jupyterlab on AWS Sagemaker.

[code]

[2022-03-14 22:22] xwjiang2010 commented on #18378
@[jnpm](https://github.com/jnpm)
can you link me with what you supplied as trainable into `tune.run()`?

[2022-03-14 22:38] jnpm commented on #18378
@xwjiang2010

[code]

The tokenizer and model is specified in the global environment.
`train_model` is the function that iterates over epochs and batches for the training and validation set and returns the highest accuracy value over all epochs.

[2022-03-14 23:08] rokrokss commented on #22154
which release can we have this fix? I was expecting this in 1.11.0 though...

[2022-03-14 23:51] xwjiang2010 commented on #18378
@jnpm
I think in this case, your transformer model is implicitly captured in train function, and is too big to be shipped over GCS.
you can either try `ray.put` it directly/ `tune.with_parameters()` or just simply initialize the model in each trial from `pretrained_weights_path` and `bertconfig`.

[2022-03-14 23:59] #22668 closed

[2022-03-15 00:40] jnpm commented on #18378
@xwjiang2010 Do you mean to put the model initialization inside the `train_wrapper` function?

[2022-03-15 01:08] #19861 closed

[2022-03-15 01:08] #19865 closed

[2022-03-15 01:08] #19839 closed

[2022-03-15 01:08] #19833 closed

[2022-03-15 02:08] #19787 closed

[2022-03-15 02:08] #3988 closed

[2022-03-15 02:08] #19483 closed

[2022-03-15 02:08] #19628 closed

[2022-03-15 02:21] stephanie-wang commented on #23152
Can you provide a cluster config? Otherwise I don't think we'll be able to reproduce this issue and will have to close this issue.

[2022-03-15 02:44] jovany-wang commented on #14923
It's still valid.

[2022-03-15 03:18] dynamicwebpaige commented on #20741
Would it make sense to close this issue, given that [#20562](https://github.com/ray-project/ray/pull/20562) is now merged? We might also want to reach out to the [`prob-ml/bliss`](github.com/prob-ml/bliss) team to reintroduce their Ray dependency, as it looks like they might have been blocked on Lightning support.

[2022-03-15 04:14] #11096 closed

[2022-03-15 04:17] DmitriGekhtman commented on #20240
Can consider in the context of upcoming GCS/autoscaler interface changes.
Closing, as there isn't really a plan to act on this soon.

[2022-03-15 04:17] #20240 closed

[2022-03-15 04:22] kfstorm commented on #14923
Do we all agree that this feature is valid? I think we should be on the same page before discussing the API design.

[2022-03-15 04:39] mimoralea commented on #22051
Good read on cgroup v2 adoption: https://medium.com/nttlabs/cgroup-v2-596d035be4d7.

Also, this seems resolved in master: https://github.com/ray-project/ray/blob/master/dashboard/k8s_utils.py#L7-L8

However, using the `latest` container "The most recent Ray release" as of today is not enough: https://github.com/ray-project/ray/tree/master/docker/ray

A workaround:
1. Update the pods to use the nig

[2022-03-15 05:02] dynamicwebpaige opened #23171 "[Docs] Create a tutorial showing how to use Ray with Feast."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

## Motivation
[Feast](https://feast.dev/) is an operational data system for managing and serving machine learning features to models in production. It can serve features from a low-latency offline store (for real-time prediction), or

[2022-03-15 05:18] matthewdeng commented on #23158
Hey @mathetes87, thanks for flagging this. The root cause for the behavior you're observing is that Ray Tune is reserving all the CPU resources from the cluster and Ray Datasets is waiting for CPU resources to free up to perform the transformation, which leads to a resource deadlock.

One quick sanity check you can run to confirm this is to start your cluster with `ray.init(num_cpus=31)` and verif

[2022-03-15 06:17] chaokunyang commented on #22981
Ray didin't shutdown when it crash. It happend in a CI environment which is a 2C7G ubuntu docker container, I can't reproduce in my local machine.

[2022-03-15 06:22] tbabej commented on #23151
I can confirm we are also hitting this issue (the second case, supporting first one is not something I would expect).

[2022-03-15 06:30] maxpumperla commented on #23171
@dynamicwebpaige great idea!

In the current structure "Ray ML" is split by libraries, and to a certain extent it has to be, as we have so much stuff. In your view, would it make sense to have Ray ML Examples section or even  Examples for all of Ray? (I have an opinion on this, but love to hear yours).

[2022-03-15 06:41] maxpumperla commented on #23088
@clarkzinzow thanks for further specifying this! Just a couple of comments:

- Let's make sure we align the [docs project](https://github.com/orgs/ray-project/projects/20/views/1?filterQuery=data) with your [UX initiative](https://github.com/ray-project/ray/issues/23091) so that we don't duplicate tickets.
- Can we merge key concepts and architecture in your above proposal? I think those usually n

[2022-03-15 08:42] SongGuyang commented on #17596
Can we restart this discussion and support this feature recently?

[2022-03-15 08:43] #10154 closed

[2022-03-15 10:55] oscartackstrom opened #23182 "[updater][Bug] update fails on preempted node and autoscaler stops scheduling"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

1. I'm running a parallel ML training workflow with preemptible TPUs on GCP. It looks like one of the workers is preempted during th

[2022-03-15 10:56] oscartackstrom commented on #23182
I believe the underlying issue is related to https://github.com/ray-project/ray/issues/22999

[2022-03-15 12:15] mathetes87 commented on #23158
You're correct @matthewdeng !
I suspected the same thing and set a `max_concurrent` parameter to a lower value within the search algorithm class (Hyperopt in this case). But, and it may be obvious in hindsight, the resources limit needs to be set at the `tune.run()` level, otherwise Tune 'reserves' all the resources anyway

[2022-03-15 12:15] #23158 closed

[2022-03-15 13:32] xwu99 opened #23184 "[Bug] ray.util.joblib does not spread tasks among PoolActors"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

When using the following reproducer, joblib ray backend can not always spread the worker_func into 4 actor processes.

[code]
Expect

[2022-03-15 14:36] czgdp1807 commented on #23107
I am able to reproduce the issue with `master` branch of `ray`.

[2022-03-15 14:51] luzgui opened #23185 "Empty checkpoint files with Tune.run"
Hello, I am using tune to perform different trials on hyperparameters with RLlib fin a custom environment
My problem is that I was supposed to save a final checkpoint per trial but although I have a folder inside each trial folder with checkpoints they are not the correct files

Specifically I am getting the following folder structure

- Experiment
    - Trial
        - Checkpoint_-00001

[2022-03-15 15:15] czgdp1807 commented on #23107
**Cause of the problem**

The underlying cause of the problem faced by @PookieBuns is the definition of `ActorPool.map` (see below),

https://github.com/ray-project/ray/blob/f51cb09e02c2797fd857adb0e7fd44d4dd4222d5/python/ray/util/actor_pool.py#L39-L65

As you can see, first the method submits the tasks and then calls `gen_next` until all the outputs of all the submitted tasks (including the ones

[2022-03-15 15:18] dynamicwebpaige commented on #23171
@maxpumperla

I would *love* to see a `ray-project/examples` repo of [vignettes](https://r-pkgs.org/vignettes.html) that show how to use individual libraries (ex: Tune) with other components of the machine learning ecosystem; and Ray libraries composed together in end-to-end projects. We have few such examples of long-form documentation today.

[2022-03-15 16:12] dirkweissenborn commented on #22999
#23182 is very similar only on another function.

[2022-03-15 16:24] architkulkarni opened #23186 "[runtime env] Improve tracking of URI size"
Reported in https://github.com/ray-project/ray/pull/23183, sometimes when deleting a URI the size is larger than when it was created.  This allows the cache size to become negative.  The solution is to track the URI sizes upon creation.

[2022-03-15 16:27] pcmoritz commented on #22640
@czgdp1807 Let's do 3, and ask the user to add `file:///` in front of the path (only on windows)

[2022-03-15 17:51] #22687 closed

[2022-03-15 17:56] scottsun94 opened #23193 "[Docs] Improve the navigation of Ray Tune examples"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

For examples we don't want to include in the side bar, we should still highlight their parent page in the side bar and add "Back

[2022-03-15 18:29] bveeramani commented on #23152
I'll try reproducing later today.

[2022-03-15 18:45] bveeramani commented on #22410
Closed by #22851

[2022-03-15 18:45] #22410 closed

[2022-03-15 18:56] scottsun94 opened #23194 "[Docs] Improve the navigation experience"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

Issue 1: The "collapse" button in the top left corner is confusing to me. I always thought it was "back" button.
<img width="985

[2022-03-15 18:57] ericl commented on #17596
Seems this was partially merged (at least the flag). What remains to enable this as a feature?

[2022-03-15 19:36] #22627 closed

[2022-03-15 20:01] engrmg commented on #23010
@edoakes

We tried your suggestion and unfortunately does not help with delegation and autoscaling. We noticed that the jobs completed faster but the head can not handle more than 8 jobs at a time which results in a bottle neck on the head node. It does not use the full capacity of the cluster. This blocks the auto scaling mechanism.

We noticed this from looking at Actors in the Dashboard. There'

[2022-03-15 20:30] ponner-github commented on #22977
Also confirming that passing in env variables with runtime_env do not fix the issue
[code]
Output
[code]

[2022-03-15 20:52] #22023 closed

[2022-03-15 20:59] ericl commented on #18791
Note to self: this is mostly complete, except that we need to fix `test_memory_release_eager` in test_optimize.py. This is a bit non-trivial, and depends on this https://github.com/ray-project/ray/pull/22616 to merge first.

[2022-03-15 21:14] clarkzinzow opened #23199 "[Datasets] Port `.to_torch()` to new `IterDataPipe` API."
[`torchdata`](https://github.com/pytorch/data) has a new `IterDataPipe` API that will subsume the old `IterableDataset` API, which is now considered the legacy Torch data interface. We should port our `.to_torch()` API to this new interface for a few reasons:
1. Stay current with the canonical Torch data interface in order to provide a better experience to end-users.
2. Stay open to better interop

[2022-03-15 21:20] kinalmehta opened #23202 "[Bug] RLlib: Dict environment space with lstm wrapping and preprocessing disabled setting incorrect seq_lens"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

Dict environment space with lstm wrapping and preprocessing disabled setting incorrect seq_lens inside TorchPolicy.compute_actions_from

[2022-03-15 21:40] kinalmehta commented on #22940
This can be solved by using `env.env.agents` instead of `env.agents`.

[2022-03-15 23:08] edoakes opened #23205 "[serve] Better error for calling `.options` on a deployment node"
[code]

[2022-03-15 23:10] edoakes commented on #23205
This is a bit tricky: if the underlying deploymentnode has a `.options` method, we need to make it valid :)

[2022-03-15 23:11] edoakes opened #23206 "[serve] Don't require `serve.start` before `serve.run` [lazy handle]"
`serve.run` should work without calling `ray.init` or `serve.start` prior.

[code]

[2022-03-16 00:06] Wendi-anyscale opened #23212 "[Datasets] Mental model confusion + Doc improvement (identified from user test)"
### Context
We did 5 tests with users on loading data with Ray dataset & train an xgboost model.
All 5 participants are familiar with xgboost and have work experience in the machine learning industry.
### Test Data
- **4 of 5 failed the load dataset step** with ~15-30 mins attempt, 1 completed the step with assistance.
- On average, 5 of 5 find the step is **more difficult than they thought**.
Exp

[2022-03-16 00:07] Wendi-anyscale commented on #23212
@clarkzinzow
@maxpumperla

[2022-03-16 00:34] kennethlien opened #23214 "[core][Object Spilling] Spilled objects not deleted for Smart Open"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

1. Spilled objects to directories opened with `smart_open` are not deleted due to a lack of implementation.
2. Spilled objects

[2022-03-16 00:45] chunky commented on #8583
For what it's worth, I got so frustrated by this specific issue that I moved to stable-baselines3, which culminated in a longer-but-smoother export process: https://github.com/chunky/sb3_to_coral

[2022-03-16 01:36] hezhaozhao-git commented on #23060
@matthewdeng ,thank you. Ok, I will try it, and I have an urgent problem, when huggingface transformers and ray are used together, the memory of the graphics card is occupied, but the utilization of the graphics card is 0, and the machine load is very high, I refer to this [example](https://docs.ray.io/en/latest/train/examples/train_fashion_mnist_example.html) to modify Yes, in addition, I saw tha

[2022-03-16 01:50] keep9oing commented on #22940
Thank you, this works to me.

[2022-03-16 01:50] #22940 closed

[2022-03-16 02:46] SongGuyang commented on #17596
@ericl We don't support using cgroup to limit worker processes now, right?

[2022-03-16 02:48] SongGuyang commented on #17596
The flag `worker_resource_limits_enabled` only works in the case of `worker in container`.

[2022-03-16 02:51] ericl commented on #17596
Got it. Personally I'm +1 on supporting it. How about we write a REP for it? https://github.com/ray-project/enhancements

IMO, there are a couple different possibilities to consider:
1. We only support it in worker-in-container (and make it easier to enable worker-in-container: AFAIK, it's not well documented and I haven't heard anyone using it in the wild). It would be awesome if you could just f

[2022-03-16 02:57] SongGuyang commented on #17596
@ericl Sounds good for using REP. @chenk008 Let's create.

[2022-03-16 03:17] mwtian commented on #22909
Downgrading since we know the root cause now.

[2022-03-16 03:21] mwtian commented on #22518
The issue should have been fixed on gRPC `master`. We can wait for the release containing the fix.

[2022-03-16 03:21] jovany-wang commented on #21218
All items were done.

[2022-03-16 03:21] #21218 closed

[2022-03-16 04:07] ericl commented on #23214
This is resolved with the new pyarrow backend for object spilling: https://github.com/ray-project/ray/pull/22889

I'm not sure this is easy to do with smart_open, since it doesn't implement full filesystem semantics.

[2022-03-16 04:37] jovany-wang commented on #14923
+1

[2022-03-16 04:41] zhuhj-tery commented on #14681
Hello,
I also encounter the similar problem and I'm wondering how you make it works.
Thank you very much in advance.

[2022-03-16 04:43] ericl commented on #14923
Yeah, it seems valid. Seems everyone agrees above--- just the implementation needs to be fixed to not block if other tasks are running, right?

[2022-03-16 06:31] mattip opened #23221 "[WINDOWS] Compiling gcs_placement_group_scheduler_test.cc fails"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

When running CI, building the gcs_placement_group_scheduler_test [fails to complete](https://buildkite.com/ray-project/ray-bui

[2022-03-16 07:26] jovany-wang opened #23224 "[Bug][Java] Info level logs are not able to be printed."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

[code]
`log1` is printed but `log2` is not printed.

### Versions / Dependencies

All versions with log4j2 dependency.

### Re

[2022-03-16 08:07] maxpumperla commented on #23212
@Wendi-anyscale this is fantastic, please keep it up :v:

[2022-03-16 10:25] oscartackstrom commented on #23182
FYI, we tried patching ray to catch this error and move on, but then we get these errors instead:
[code]
and
[code]
and again it never tries to reschedule the tasks that was running on these failed nodes.

[2022-03-16 10:49] melonipoika commented on #15893
I think I am having the same issue on GCP:

[code]
Re-running Ray up again works fine

[2022-03-16 11:10] dirkweissenborn commented on #23182
It seems that this happens when attempting to recover a preempted node. Upon recovery attempt the updater thread should just ignore exceptions and move on.

[2022-03-16 11:24] dirkweissenborn commented on #23182
On a more general note: Looking through all the code it seems to me that fault tolerance of the autoscaler should be reworked. Error handling in general is very intransparent and inconsistent. There are also loads of side-effects which makes it very hard to reason about the code. I think that should be reduced to a bare minimum if possible.

[2022-03-16 11:29] Rusteam opened #23228 "[Feature] [tune] create a mlflow run name from config params"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Create a unique run name (derived from search config) for mlflow runs

### Use case

When analyzing MLflow runs auto-generated by MLflowLogger it would be useful have a unique name for each run.
For instance to analyze a lineplot with

[2022-03-16 11:38] #23160 closed

[2022-03-16 14:06] hezhaozhao-git opened #23230 "[tune][Bug] ray + transformers example is not using GPUs correctly"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

### my machine:
node1: 4gpu 1080ti
node2: 4gpu 1080ti
### detail:
When I run the [ray+transformers example](https://github.com/ray-

[2022-03-16 14:34] yonil7 commented on #22640
As I understand, this fix just change the error message wording but does not fix this issue.

There are 4 different types of error here:
1.
[code]
Fail with the following exception:

2.
[code]
Fail with the following exception:

3.
[code]
Does not fail but creates the storage in the current working directory.

4.
[code]
Creates the storage directory always under the current drive (e.g. if the curr

[2022-03-16 14:41] czgdp1807 commented on #22640
What should be the desired behaviour instead? Should it create a folder in `C:\` drive with the name of `ray`?

[2022-03-16 14:56] yonil7 commented on #22640
means if I run the script in `c:\my\other\folder\` it will just use this folder as the workflow storage. (instead of in `c:\ray` folder)

This (case 4) is also faulty behavior. if I run the script from `d:\my\other\folder\` my workflow storage folder will be `d:\ray` and running the exact same script from `e:\my\other\folder\` causes the storage folder to be `e:\ray` (and after it there is `Workfl

[2022-03-16 14:57] amogkam commented on #23230
cc @matthewdeng

[2022-03-16 15:10] czgdp1807 commented on #22640
Sure. I will look into this. Thanks for specifying your requirements in detail.

[2022-03-16 16:48] amogkam opened #23234 "[tune] Support specifying `runtime_envs` for Trainables"
I want to set environment variables for my Trainable, but I also want these environment variables to be set for any child actors that this Trainable creates.

Using `runtime_envs` seems to be the best way to do so since the same environment will automatically be propagated to child actors. Can Tune provide a way to specify the runtime env of the Trainable?

[2022-03-16 17:10] simon-mo opened #23236 "[Serve] [Pipeline] Support `serve.deployment` decorated functions"

[2022-03-16 17:10] simon-mo opened #23237 "[Serve] [Pipeline] Implement PipelineDriver and add tests"

[2022-03-16 17:11] stephanie-wang opened #23238 "[core][Bug] long_running_many_drivers nightly test is failing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

It looks like the actual test is passing, or at least it seems to finish successfully in the cluster console.

I think maybe the err

[2022-03-16 17:15] jiaodong opened #23239 "[Feature] Remove route prefix for all deployment and deployment method nodes in a serve dag"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

.

### Use case

.

### Related issues

.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-03-16 17:16] stephanie-wang opened #23241 "[core][Bug] shuffle_1tb_5000_partitions is failing on master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

The test is timing out. [Here](https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_z97

[2022-03-16 17:24] jiaodong opened #23243 "[Feature] Cleanup current use of `other_args_to_resolve` that passes deployment object into ClassNode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

.

### Use case

.

### Related issues

.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-03-16 17:24] stephanie-wang opened #23244 "[core][Bug] threaded_actors_stress_test is failing on master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

Fails with an error, a bit hard to understand from the logs since there's a lot of unrelated errors printed out from the test itself

[2022-03-16 17:28] edoakes commented on #23239
Specifics:

- Default "ingress" deployment to `/`
- All other deployments have `None`
- Error if any of the other deployments have non-default (maybe at `.bind()` step?)

[2022-03-16 18:41] edoakes commented on #23057
@simon-mo @jiaodong do we have a good error msg for this now?

[2022-03-16 18:41] #23039 closed

[2022-03-16 18:42] edoakes commented on #23056
@simon-mo still relevant?

[2022-03-16 19:37] stephanie-wang commented on #23241
Haven't been able to reproduce this yet. I'm going to close it for now but will reopen if it fails again in the next few days.

[2022-03-16 19:37] #23241 closed

[2022-03-16 20:32] #22968 closed

[2022-03-16 20:33] architkulkarni commented on #20597
Closed by #22044

[2022-03-16 20:33] #20597 closed

[2022-03-16 20:33] architkulkarni commented on #22610
Closed by #22730

[2022-03-16 20:33] #22610 closed

[2022-03-16 21:13] #23053 closed

[2022-03-16 21:13] simon-mo commented on #23056
let's close

[2022-03-16 21:13] #23056 closed

[2022-03-16 21:21] jnpm opened #23249 "[tune][Bug] TypeError: Object of type Float is not JSON serializable"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

I am trying to tune the learning rate of my transformer model. When I run `tune.run()` with a float number or a grid search `'lr': t

[2022-03-16 21:26] architkulkarni opened #23251 "[jobs] Add 'entrypoint' field to JobInfo and snapshot"
Currently JobInfo contains nearly all information needed to recreate the job, including `runtime_env` and `metadata`, but it's missing `entrypoint`.  Providing `entrypoint` would also make it easier to identify jobs, for example when calling `ray job list` and seeing a bunch of random strings for the job names.

[2022-03-16 21:37] #22096 closed

[2022-03-16 22:31] #23244 closed

[2022-03-16 23:05] architkulkarni opened #23257 "[runtime env] Refactor packaging code"
Issue to track refactoring followups from https://github.com/ray-project/ray/pull/22843#pullrequestreview-901874493 and https://github.com/ray-project/ray/pull/22368#discussion_r823018034.  Ideally, we should have a unified interface for uploading a single file.  Currently the packaging code assumes a "package" is a directory that needs to be zipped, which makes it not very clean to upload a singl

[2022-03-16 23:09] architkulkarni opened #23258 "[jobs] Reenable backwards compatibility test"
Issue to track followup https://github.com/ray-project/ray/pull/22368#issuecomment-1064660062

[2022-03-16 23:25] jiangtianli91 commented on #11959
@rkooo567 Hello, I wonder is there any plan to fix this bug?

[2022-03-17 02:13] INF800 commented on #22533
Hi, I need to setup kubernetes for testing. Is there some way I can grab some code and configurations from somewhere.

Setup well enough to scale up a model that takes 2s to make predictions.

[2022-03-17 02:37] KID0031 opened #23266 "[Feature] support QMIX with multidiscrete action space"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I try to use multidiscrete action space in QMIX, but in its _validate() function, it only allow discrete action space, is there any way to pass this _validate() function or convert multidiscrete space to discrete space?
![image](https

[2022-03-17 03:00] #23224 closed

[2022-03-17 03:02] #23251 closed

[2022-03-17 03:53] #20643 closed

[2022-03-17 04:13] #23266 closed

[2022-03-17 04:36] jie8357IOII opened #23269 "[Bug] Ray 1.11.0 still rely on Redis python pkg"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

I expected Ray 1.11.0 could run without Redis lib and Redis pyt

[2022-03-17 05:13] jiaodong commented on #23057
no :/ we have quite a few corner cases around accessing deployment `__call__`

[2022-03-17 05:33] DmitriGekhtman opened #23271 "[Bug][Core] No args to ray.method() leads to confusing failure"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

New users (apparently me when I wrote this [test](https://github.com/ray-project/ray/blob/814b49356c1e773f2ec8d7c643acef48b6db

[2022-03-17 05:36] #19819 closed

[2022-03-17 05:38] DmitriGekhtman commented on #23271
cc core oncall @stephanie-wang
@ckw017 for the Ray client piece
@naijoaix for 1.12.0 release management

[2022-03-17 06:56] czgdp1807 commented on #23184
@pcmoritz Is this something that I can try fixing? Please let me know.

[2022-03-17 07:13] pcmoritz commented on #23184
Yes, that would be worth looking into :)

[2022-03-17 09:44] czgdp1807 commented on #23184
I think I can reproduce. See the timestamps, some processes start when others are complete. Not all 4 are launched at the same time.

[code]

[2022-03-17 10:11] #19941 closed

[2022-03-17 10:11] #19943 closed

[2022-03-17 10:11] #17686 closed

[2022-03-17 10:11] #19750 closed

[2022-03-17 10:11] #19637 closed

[2022-03-17 10:58] PookieBuns commented on #23107
I believe running get_next in the while loop could actually cause problems because if the initial submit is a very long task or even worse, a long blocking task, the map will actually have to wait until that task is completed before it can start actually mapping tasks. I don't have a clear solution to this as the a ray actor currently doesn't support canceling tasks yet

[2022-03-17 10:59] PookieBuns commented on #23107
@czgdp1807 @pcmoritz

[2022-03-17 11:02] PookieBuns commented on #23107
I believe the proper way to ignore the task is by somehow fiddling with the next_task_index and next_return_index so it skips over it instead of waiting for it?

[2022-03-17 11:04] czgdp1807 commented on #23107
I call `get_next` with `timeout=0` before submitting new tasks in `map`. I also catch the `TimeoutError` and ignore it in the process. Effectively it should mean that we are just ignoring the previously submitted tasks. So, ideally length of previously submitted tasks shouldn't matter. Let me confirm this for surety.

[2022-03-17 11:06] PookieBuns commented on #23107
from what I understand, when get_next raises a timeout error it doesn't effectively skip over the current future to be returned because the next_return_index doesn't get changed

[2022-03-17 12:03] czgdp1807 commented on #23107
**Code**

[code]

**Approach**

[code]

I don't know if we should include the extra parameter, `ignore_if_timedout` in `get_next` because IMHO, if a task has been timed out then it should be ignored anyway and we should move forward with other tasks. Ideally, the previous tasks should be cancelled (IMO, its not a good idea for tasks to keep consuming resources if effectively their outputs are not

[2022-03-17 12:42] rkooo567 commented on #11959
Hmm, if this is correct https://github.com/ray-project/ray/issues/11959#issuecomment-894888593, using the latest cloudpickle should fix the issue? Have we merged the upstream cloudpickle? cc @suquark

[2022-03-17 16:26] kai314 opened #23281 "[Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

Using tune.run() on an ESTrainer results in the following error after ~10.000 steps:
[code]

Other trainers such as PPO and A2C work fi

[2022-03-17 16:51] #22999 closed

[2022-03-17 18:26] #21839 closed

[2022-03-17 18:26] #21840 closed

[2022-03-17 18:27] mwtian commented on #23269
Hi @jie8357IOII, in Ray 1.11.0, we only made Redis-less Ray the default, but Redis-Ray is still available with `RAY_bootstrap_with_gcs=0 RAY_gcs_storage=memory ray start --head`, so the `redis` dependency is needed. We plan to completely remove the Python `redis` dependency in the next 1 or 2 release. Please let us know if there are other issues!

[2022-03-17 18:50] #23062 closed

[2022-03-17 20:09] clarkzinzow commented on #23088
Reopening since there are some remaining TODOs!

[2022-03-17 20:12] clarkzinzow commented on #23088
@maxpumperla Great feedback!

Agreed, the split-out of internal concepts (which is what the "architecture" page is supposed to document) is TBD/optional. I like the "internals" user guide, @naijoaix that seems like a good route to go if we have some architecture key concepts that are a bit too in-the-weeds!

[2022-03-17 20:31] MarioGalindoQ opened #23286 "[Bug] [RLlib] module 'gym.wrappers' has no attribute 'Monitor'"
## Ray Component
RLlib

## Problem description
gym version 0.23.1 has removed `Monitor` from wrappers, so `ray/rllib/env/utils.py` do not work!

## Issue Severity
Medium: I solved the problem installing gym version 0.21.0

## Code reference
https://github.com/ray-project/ray/blob/f400b4333a3f9008ebfc069d1e6c6812f996e995/rllib/env/utils.py#L59
ray/rllib/evaluate.py also uses gym_wrappers.Monitor

[2022-03-17 20:41] Maritimo commented on #23286
ray/rllib/evaluate.py also uses gym_wrappers.Monitor

[2022-03-17 21:37] #23236 closed

[2022-03-17 21:53] alanwguo commented on #23238
Has this test ever worked? The 502 happens when the dashboard API server crashes. The dashboard API server is needed to submit the job which uploads the test results to S3.

One way we've seen the dashboard API server die is when the head_node is under heavy load the the API server crashes.

option 1: Alter the test to have the head node set "cpu: 0" to avoid having any load on the head node.
opti

[2022-03-17 21:56] jiaodong commented on #23011
this should be supported by binding serve decorated class or func, and also via final yaml file

[2022-03-17 21:57] alanwguo commented on #23238
It would also be helpful to be able to manually run this test and try to repro with less iterations. @krfricke, @rkooo567  is there documentation on how I can do this?

[2022-03-17 22:21] naijoaix commented on #23088
I think architecture is not necessarily the thing as concepts and it has to show how things work together. Describing it at a high level hopefully is not a deep dive and would help users use datasets more effectively (such as building a mental model ready for self-serve debugging).

[2022-03-17 22:32] clarkzinzow commented on #23088
@naijoaix I get wanting to make that distinction between abstraction-type concepts and architecture, but I think that @maxpumperla would argue that those sort of high-level mental model building things (even if purely architecture) should be in the "Key Concepts" section, since that falls under the purview of "what concepts do I need to know to use Datasets" and we're aggressively trying to unify

[2022-03-17 22:59] naijoaix commented on #23088
I think decoupling logically-separated things into their own units is exactly what refactoring should do.
Currently the Key Concepts contains 3 parts: Dataset, DatasetPipelines and Dataset Execution Model. I'd think Dataset Execution Model is not the same kind of things as Dataset/DatasetPipelines.
It's possible to structure these properly in one page. The concern is how long we want to expand thi

[2022-03-17 23:03] #19555 closed

[2022-03-17 23:03] #19547 closed

[2022-03-17 23:03] #19554 closed

[2022-03-17 23:03] #15826 closed

[2022-03-17 23:03] #18196 closed

[2022-03-17 23:09] edoakes opened #23291 "[release tests] runtime_env tests failing/flaky"
`runtime_env_rte_many_tasks_actors` latest run:
https://buildkite.com/ray-project/release-tests-branch/builds/181#79668090-b3c7-4eda-a689-b64a2dac51fe

`runtime_env_rte_ray_client` latest run:
https://buildkite.com/ray-project/release-tests-branch/builds/181#cbf096a0-e278-4b01-88ae-859d3f93772a

[2022-03-17 23:21] architkulkarni commented on #23291
The failure is from dependency conflicts caused by the test installing old pinned versions of the `requests` library.  Should be a straightforward fix by using a different package with no dependency relations, like `pip-install-test==0.5` and `pip-install-test==0.4`.

[2022-03-17 23:38] amogkam opened #23295 "[ml] `Tuner.fit` does not return ML Checkpoint"
Running `tuner.fit()[0].checkpoint` returns a `ray.tune.Checkpoint` object, not a `ray.ml.Checkpoint` object.

[2022-03-17 23:57] richardliaw opened #23296 "[ml] Get the docstrings onto somewhere accessible by users"
Right now, there's no way to access the docstrings. We need a way to access from the top-level documentation (without doing a large refactor, etc)

[2022-03-17 23:58] tianlinzx commented on #22833
Any timeline estimation for aplpha,beta,rc and finanl releases ? @ericl

[2022-03-17 23:59] richardliaw opened #23297 "[ml] TorchTrainer docstring doesn't work"
https://github.com/ray-project/ray/blob/04ab27dcbf61226d5b53ef3f5375a98308d6a460/python/ray/ml/train/integrations/torch/torch_trainer.py#L136-L138

Doesn't show how to pass in train_loop.

[2022-03-18 00:01] richardliaw opened #23298 "[ml] Dogfooding issues"
- [ ] `from ray import train` is a bit confusing to mix together with `ray.ml.train` ; we should softlinking everything into ray.ml so that user only imports from ray.ml if using the new API

- [ ] Torch train example should also show GPU

- [ ] We should have the Tuner interface in https://github.com/ray-project/ray/tree/master/python/ray/ml

- [ ] https://github.com/ray-project/ray/blob/master/p

[2022-03-18 00:01] richardliaw opened #23299 "[ml] Show tuner interface in top-level ray.ml"
We should have the Tuner interface in https://github.com/ray-project/ray/tree/master/python/ray/ml.

It's not very consistent as it is right now.

[2022-03-18 00:02] richardliaw opened #23300 "[ml] Torch train example should also show GPU"
User has to infer how to use the Scaling Config.

We can make this easier by just providing a comment in the docstring

[2022-03-18 00:03] #17961 closed

[2022-03-18 00:03] #19467 closed

[2022-03-18 00:03] #19474 closed

[2022-03-18 00:03] #19482 closed

[2022-03-18 00:05] richardliaw opened #23302 "[ml] Fix 'num_gpus_per_worker'"
trainer = TorchTrainer(
   train_loop_per_worker=train_func,
   scaling_config={"num_workers": 1, "use_gpu": True},
)
trainer.fit()

AttributeError: 'dict' object has no attribute 'num_gpus_per_worker'

[2022-03-18 00:08] richardliaw opened #23303 "[ml] typo in tune docstring"
https://github.com/ray-project/ray/blob/04ab27dcbf61226d5b53ef3f5375a98308d6a460/python/ray/tune/tuner.py#L60

We should fix up the docstring so that it actually runs

[2022-03-18 00:09] amogkam commented on #23302
This will be resolved by #23293!

[2022-03-18 00:11] richardliaw opened #23304 "[air] dogfooding: rendering issues"
- [ ] [ml][Improvement] Progress bar doesn’t render properly in remote actors.
- [x] [ml][Improvement] Train_function_bla → we should change it to a good name

cc @xwjiang2010 @amogkam

[2022-03-18 00:11] richardliaw opened #23305 "[ml][Bug] discrepancies in the following API"
Trial.checkpoint.value is there
trial.checkpoint_manager.best_checkpoints() is empty
This is observed when we only checkpoint but not report is done. This is common for Train.
Amog: Can we combine checkpoint with report? What goes into callbacks?
Xiaowei: Can we make trial.checkpoint to return the new checkpoint?
Checkpoint.from_directory(trial.checkpoint.value)
Maybe we should make sure that Expe

[2022-03-18 00:16] richardliaw opened #23307 "[AIR] Dogfooding Issues from Matt/Eric"
- [x] We need some way to load these keras dataset out of the box and other stuff (https://github.com/ray-project/ray/issues/23977)
- [x] #23439
- [x] #23870
- [ ] would be nice to be able to rename dataset columns (got "value", "value_1") zipping two numpy datasets or at least be able to set the column name when calling from_numpy()
- [ ] no way to visualize images easily in dataset e.g., save_as

[2022-03-18 00:21] richardliaw opened #23308 "[ml][Improvement] Make sure train.report and train.save_checkpoint is called on all the actors → this error message needs to be corrected"

[2022-03-18 00:21] richardliaw opened #23309 "[ml][Improvement] serve dependency should not leak into dashboard and leak into other ray libraries."

[2022-03-18 00:28] richardliaw opened #23310 "[ml][Improvement] Improve messages to be “rank0, rank1” actors etc."
The node ip and process doesn’t really make a lot of sense when you are debugging distributed training.

1. Is not hard blocker
2. Is persistent
3. Is easy to work around

[2022-03-18 00:55] ericl commented on #22833
@tianlinzx thanks for the question! Roughly speaking, we plan to have a community preview around the **end of July**, though many of the features will land in master in some form before then. The actual release will be Aug 21.

[2022-03-18 00:58] xwjiang2010 commented on #23295
cc @krfricke
Problem description:
1. `ExperimentAnalysis` has this notions of `metric` and `mode` and what is "best" baked in.
2.  On the other hand, train using tune does not need these concepts. It does not need to get the best trial, it only needs to get "the" trial.

Proposal #1, `ExperimentAnalysis` is still what it is. But train will only call `result_grid[0].checkpoint` to get what it needs

[2022-03-18 01:58] #23033 closed

[2022-03-18 02:04] renos commented on #22747
This could help https://github.com/ray-project/ray/issues/9870

[2022-03-18 02:18] jiaodong opened #23313 "[Bug] Fix missing deployment configs from user decorator"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

num_replicas = 2 should be applied and default user configs should be there too.

### Versions / Dependencies

.

### Reproduction

[2022-03-18 02:20] jiaodong opened #23314 "[Feature] Fix double dumped JSON in serve dagnode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We should remove the extra hop of `json.dumps()` at DAGNode base implementation. It makes the yaml super weird.

### Use case

.

### Related issues

.

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-03-18 02:26] bxkong opened #23315 "[core][Bug] Starting many actors causes driver crash"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

When I submit a large number of actor creation tasks and action task  with one node, the node gets killed.
Prerequisites
Node resour

[2022-03-18 02:55] ericl commented on #23315
This is expected, since each actor is backed by a physical python process. Typically, it's inadvisable to assign resources significantly less than 1 to a task or actor.

[2022-03-18 02:59] ericl commented on #15778
@rkooo567 Why don't we just purge all queued tasks when the job finishes? That way it's nothing to do with placement groups.

[2022-03-18 03:02] ericl commented on #23310
This just means defining the `__repr__` of the actors right?

[2022-03-18 03:15] INF800 commented on #22533
I don't think it is available in docs as well

[2022-03-18 03:24] bxkong commented on #23315
Thank you very much for your answer, but I still have some questions.

Theoretically, a node with 6 CPUs should be able to start more than 200 physical processes.
In other words, is there a relationship between the number of actor workers that a ray node can carry and the physical resources of the node, such as the number of CPUs? Is it possible that raylet has some bottlenecks or limitations?

Al

[2022-03-18 03:42] richardliaw commented on #23310
should be, right

On Thu, Mar 17, 2022 at 8:02 PM Eric Liang ***@***.***> wrote:

[2022-03-18 03:42] ericl commented on #23315
Typically it's memory related, so you can figure for each GB of memory you can launch X processes.

About the spreading, I think that would work if you increase the resource requirement. Otherwise, Ray may try ray to pack the actors for locality. An alternative is to set num_cpus=0, which will force spreading of the actors.

[2022-03-18 03:47] jie8357IOII commented on #23269
Thank you! @mwtian! I am looking forward to Ray 1.12
Can't wait to get rid of Redis, issue close

[2022-03-18 03:47] #23269 closed

[2022-03-18 03:47] ericl opened #23317 "[core] Write docs about using scheduling_strategy"
Task and actor spread is an important behavior that should be documented.

cc @jjyao

[2022-03-18 05:04] JiahaoYao commented on #22753
I have updated my changes in this issue.

[2022-03-18 05:05] JiahaoYao commented on #22754
I have updated my changes in this issue.

[2022-03-18 05:58] #23206 closed

[2022-03-18 06:04] gjoliver commented on #20511
still valid issue

[2022-03-18 06:30] pcmoritz commented on #20511
We could change the documentation for Ray on M1 and recommend people to run a x86_64 version of python, then there will be no problems with grpc and everything will just work. That's how I set up the Anyscale end-to-end tests now and it seems to be working well. It is also the recommendation from gRPC (https://groups.google.com/g/grpc-io/c/9iM4SPpOyC8). Rosetta will take care of the emulation and

[2022-03-18 06:49] #23297 closed

[2022-03-18 06:49] #23300 closed

[2022-03-18 06:49] #23302 closed

[2022-03-18 06:49] #23308 closed

[2022-03-18 07:01] gjoliver commented on #20511
it seems like a library would need to be compile under this dual arch mode to be able to run on both platforms.
I am not sure ... kinda feel like even if the universal python runs fine, there will be dependent x86 builds that won't run on M1?

also, this specific problem seems to be pickle related. like we are not able to pick the _run() function for remote running on M1 somehow.

[2022-03-18 07:08] pcmoritz commented on #20511
Actually x86_64 Python will just only use x86_64 wheels and libraries, at least that's my experience and nothing needs to be specially compiled. It's pretty magic and kudos to apple for making it work. I think this option is worth at least mentioning in the docs -- it will also make sure all the wheels work that are only compiled for x86_64 and not arm64.

[2022-03-18 07:11] ddelange opened #23322 "[k8s][Bug] Healthchecks don't catch ray-operator failing to start head"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Monitoring & Debugging

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

Booted a simple ray cluster in a kOps k8s cluster

[2022-03-18 09:08] gjoliver commented on #20511
what, really? 🤯
let me test a bit and report back.

[2022-03-18 12:16] lyle-nel commented on #17171
Still no work on this functionality being deprecated?

[2022-03-18 13:20] oscartackstrom commented on #15893
Running on GCP, we used to see this, but after adding `bash -c $'ps -e | grep apt | awk \'{print $1}\' | xargs tail -f --pid || true' # Wait for auto upgrade that might run in the background.` first in `initialization_commands` this went away. It seems that GCP runs an auto-upgrade in the background on the node that can interfere with things like `docker pull`.

[2022-03-18 13:22] oscartackstrom commented on #15893
Running on GCP, we used to see this, but after adding `bash -c $'ps -e | grep apt | awk \'{print $1}\' | xargs tail -f --pid || true' # Wait for auto upgrade that might run in the background.` first in `initialization_commands` this went away. It seems that GCP runs an auto-upgrade in the background on the node that can interfere with things like `docker pull`.

[2022-03-18 14:00] xwjiang2010 opened #23328 "[Tuner] Add testing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

Test Tuner in conjunction with a dummy trainer.
scenario 1: Tun

[2022-03-18 14:37] ddelange commented on #9086
duplicate of #12128

[2022-03-18 14:37] ddelange commented on #21786
duplicate of #12128

[2022-03-18 14:38] ddelange commented on #19865
duplicate of #12128

[2022-03-18 15:09] Yard1 opened #23330 "[Bug] `MLfLowLoggerCallback` is not possible to deepcopy"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

`MLflowLoggerCallback` uses `MLflowLoggerUtil`, which has `mlflow` module as an attribute. This makes it unserializable, causing it

[2022-03-18 15:10] Yard1 commented on #23330
@amogkam tagging you as the author of the file

[2022-03-18 15:12] fwitter opened #23331 "[Bug] [RLlib] CQL does not support complex observations"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

When training CQL with complex observations, i.e. structures consi

[2022-03-18 15:48] amogkam commented on #23330
Ah yes this is a good point! I don’t think we need to enforce that callbacks be serializable, after all they are just needed on the driver anyways. I think the solution we want here is to automatically remove the run config from param space? We can also override __reduce__ method of callbacks to raise a better error message, like we did for Predictors. cc @krfricke @xwjiang2010 @matthewdeng

[2022-03-18 15:58] amogkam commented on #23330
For ray client, shouldn’t callbacks be run on the laptop (and not on the head node)?

[2022-03-18 16:07] Yard1 commented on #23330
If you take a look at either the Tuner or tune.run, all the kwargs are passed to a remote function running the Tuner/tune.run, including callbacks. I just tried it and doesn't seem to cause issues with `MLFlowLoggerCallback`, so it could be a deepcopy only thing. Still, no reason not to fix it :) I can make a PR for this

[2022-03-18 16:09] amogkam commented on #23330
I understand that’s how it works, but I don’t think that’s the behavior we want.

[2022-03-18 16:16] Yard1 commented on #23330
I feel like this is a separate discussion to be had. I do agree that's how it should work. But in the meantime, this is an easy fix that will unblock using MLFlow with AIR in the meantime.

[2022-03-18 17:51] #23291 closed

[2022-03-18 17:52] #22701 closed

[2022-03-18 18:16] architkulkarni opened #23335 "[runtime env] Warn user if pip check fails"
That makes sense to me.

But I think users should also be informed that the current configuration is at risk, maybe we should open a new PR to implement this, I think there have two ways to implement this.

1. log warning information when RuntimeEnv construct. The advantage is that the implementation is simple, the disadvantage is that the construction of RuntimeEnv is too frequent, and too many l

[2022-03-18 18:24] stephanie-wang commented on #23271
Hmm I don't think this is a valid release blocker. We've always had the same behavior for @ray.remote.

[2022-03-18 18:28] DmitriGekhtman commented on #23271
@stephanie-wang there is a change in the behavior of @ray.method within a Ray client connection but the impact is trivial

[2022-03-18 18:29] DmitriGekhtman commented on #23271
Impact is sufficiently trivial to remove from release blockers.

[2022-03-18 18:30] jjyao commented on #23315
Yea, num_cpus>0 actor supports "SPREAD" since GCS will send all lease requests to the owner raylet and onwer raylet will round robin.

[2022-03-18 18:34] DmitriGekhtman commented on #23271
There's a theme of Ray's APIs failing to validate user input parameters.
https://github.com/ray-project/ray/issues/23166
Kind of a Python problem.

[2022-03-18 18:46] jwarley commented on #23185
I'm having this same issue. The regularly scheduled checkpoints seem to work fine for me (maybe you're not getting any because your agent finishes training before 10 iterations?), but the final one is always empty as described above.

[2022-03-18 18:50] scv119 commented on #21538
No longer reproducable

[2022-03-18 18:50] #21538 closed

[2022-03-18 18:54] scv119 commented on #23133
@naijoaix delegate to you to decide the priority.

[2022-03-18 18:56] scv119 commented on #23066
@rkooo567 could you have a quick assessment of the problem? looks we might put two lines metric?

[2022-03-18 18:58] ericl commented on #23315
@jjyao are you saying that to achieve "some kind of spread", for:
- num_cpus=0: this will always spread by default (random)
- num_cpus>0: use `scheduling_strategy="SPREAD"` (round-robin)

[2022-03-18 19:02] scv119 commented on #22899
looks there is inconsistency in the dependency version. should we bump it scikit-learn to 0.24.2?
https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/ray-project/ray%24+scikit-learn+lang:text+&patternType=literal

[2022-03-18 19:28] architkulkarni commented on #22977
@ponner-github I see, thanks for running those tests.  I'll make a patch for this and try to get the API change approved.

[2022-03-18 19:32] #18885 closed

[2022-03-18 20:12] jjyao commented on #23315
Yes exactly. But I realized that I still need to implement grant_or_reject for raylet based actor scheduler in order for this to fully work (didn't do that initially because there was gcs based actor scheduler ongoing)

[2022-03-18 20:18] ericl commented on #23315
I see, so spread strategy won't work properly for actors, and the best way to spread is num_cpus=0.

[2022-03-18 20:22] jjyao commented on #23315
Yes, right now is num_cpus=0 but I can add grant_or_reject for raylet based actor scheduler shortly.

[2022-03-18 20:40] richardliaw commented on #22977
BTW @architkulkarni we should consider doing this via runtime envs rather than through the top-level API. But yeah, lets go through the api change process.

[2022-03-18 21:15] edoakes commented on #23010
@engrmg I will add this to our backlog to make it so the job submission drivers can be load-balanced across the cluster.

For now, my best recommendation is to try to make the driver script as lightweight as possible and do the heavy-lifting in the tasks/actors of the application. That way, you can pack more drivers without the head node being the bottleneck.

[2022-03-18 21:47] #22909 closed

[2022-03-18 22:25] #23313 closed

[2022-03-18 23:26] ericl opened #23342 "Write documentation on task ordering for actors"

[2022-03-18 23:49] xwjiang2010 commented on #18835
Hi @rkooo567 wondering if there is an update on this ticket? There is some feedback about insufficient resource messages can be confusing if autoscaler is enabled.

[2022-03-18 23:53] ericl commented on #18835
I think this is blocked on pending work from @wuisawesome refactoring the autoscaler interfaces.

[2022-03-18 23:56] #23239 closed

[2022-03-19 00:40] frreiss opened #23347 "[core][java][Bug] Cannot put object references onto object store with modern version of Java"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

With Java 17, Java code that attempts to write an object reference to object storage fails. More specifically:
* The code from the t

[2022-03-19 00:51] stephanie-wang commented on #23238
@alanwguo I think you can use this command:
[code]

Test script is in release/long_running_tests/workloads/many_drivers.py

[2022-03-19 00:52] stephanie-wang commented on #23238
Also, this particular test doesn't have any worker nodes and it's supposed to test long-running behavior, so I'm not sure if there's a way we can meaningfully modify the test, unfortunately. I do remember this passing before, so I think this is a new error.

[2022-03-19 01:07] #23237 closed

[2022-03-19 02:23] gaurav274 commented on #19547
I encountered a simpler issue. Looks like when the numpy array isn't contiguous ray.put is slow

[2022-03-19 03:05] #19507 closed

[2022-03-19 03:05] #19504 closed

[2022-03-19 03:05] #17677 closed

[2022-03-19 03:53] Morefrees opened #23348 "Some questions about whether the MADDPG algorithm is suitable for continuous action and parameter setting"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

First of all, I would like to consult the MADDPG in the rllib algorithm introduction this piece is written to support part of the conti

[2022-03-19 21:56] isaac-vidas opened #23359 "[Bug] [dataset] Idle workers and possible memory leak after ray dataset job"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

After running a dataset pipeline on a Ray cluster of about ~1000

[2022-03-19 23:28] DmitriGekhtman commented on #20401
Let's keep this open. I was digging for this issue recently in the context of GCS/autoscaler interface redesign.

[2022-03-19 23:54] frreiss commented on #23347
Two updates from further testing:
* It looks like Ray's serialization of *any* object that contains a `String` field is not working on Java 17.
* Downgrading to Java 11 allows my program to work, but it prints out a warning message every time it runs:
[code]

[2022-03-20 00:53] infwinston commented on #16539
It seems that this bug hasn't been fixed yet. I also failed to `ray up` on GCP with the same `SSH command failed` error.
The following YAML and `ray==1.9.2` was used.
[code]

Below are outputs of `ray up -vvv`. The error happened during file mounts processing.
[code]

This error can be easier to trigger when `file_mounts` contains a large number of files (such as a Ray repository).
Possible reason

[2022-03-20 01:04] infwinston opened #23361 "[Bug] "ray up" on GCP is still not working"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

`ray up` failed when launching a head node on GCP during fi

[2022-03-20 03:54] dynamicwebpaige commented on #22991
**Update**: [fork of Joyce's excellent Dask extension](https://github.com/joyceerhl/vscode-dask/issues/1) has been completed, and a new Ray VS Code extension (including code snippets, as well as dashboard visualizations) [is getting prepped to be published](https://github.com/dynamicwebpaige/vscode-ray-dashboard). 😄

[2022-03-20 06:07] 77loopin commented on #23066
@scv119 @rkooo567

Ray return like this

[code]

I think it should be like this.
[code]

[2022-03-20 16:32] krfricke commented on #23238
Maybe we can just bump the instance size for this particular test. I think it's most likely that the head node is under too much load.

[2022-03-20 16:34] krfricke commented on #23238
Alternatively, we can switch back to SessionController-based syncing (which doesn't use jobs) - the test passed last time we used that (in the old infra): https://buildkite.com/ray-project/periodic-ci/builds/3041#a73020d9-440b-4d2c-a35f-0798a67d34e2
This is also the only difference.
I'll kick both options off

[2022-03-20 16:35] #20029 closed

[2022-03-20 16:35] #19696 closed

[2022-03-20 16:35] #19980 closed

[2022-03-20 16:35] #20103 closed

[2022-03-20 16:35] #20101 closed

[2022-03-20 17:25] DmitriGekhtman commented on #23361
Thanks for raising this @infwinston
Reopened https://github.com/ray-project/ray/issues/16539 .
Closing this one to de-deduplicate.

[2022-03-20 17:25] #23361 closed

[2022-03-20 17:32] xwjiang2010 opened #23363 "[AIR] AttributeError: 'StandardScaler' object has no attribute 'stats_'"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

[code]

### Versions / Dependencies

Master

### Reproduction scr

[2022-03-20 17:35] #19416 closed

[2022-03-20 19:11] alanwguo commented on #23238
I think moving back to session controller-based syncing is the fastest way to unblock Stephanie.

In the medium term, @yifeif, @AmeerHajAli  , I think this is a good issue to spend time on for fixing stability issues. I'm happy to help out but I think infra folks should also be involved. For example, maybe we should health check all dataplane services and log the results in the control plane. Then

[2022-03-20 20:29] stephanie-wang commented on #23238
Yes, my vote is to keep the test as is. Head node load is a valid application scenario and I think we should keep it in our test coverage. Thanks for looking into this!

[2022-03-20 21:44] ericl commented on #23359
What's the object store size per node? This is pretty normal for newly started clusters. The object store size will grow up the configured max capacity and stay there, and Ray caches idle workers in its worker pool.

If the memory keeps growing over time as you submit more jobs, then that would be something to be concerned about.

[2022-03-20 23:05] #23317 closed

[2022-03-21 06:59] ddelange commented on #21161
What is the current state of persistence/recovery (can someone point me to docs/issues)? Will the requirements of persistence be tracked under this RFC?

Take for instance the scenario where both ray-operator and the head pod are scheduled on a spot instance, that spot instance gets unexpectedly killed, and these pods are restarted on another node (I guess this scenario is also relevant outside th

[2022-03-21 07:36] ZKBig opened #23368 "[Rllib][Bug] Custom Multi-agent Environment Observation Space Error"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

In my project, I am supposed to first train a single automatic vehicle to drive in a custom traffic network, and then applying this tra

[2022-03-21 10:08] maxpumperla commented on #22867
https://github.com/ray-project/ray/pull/23003

[2022-03-21 10:08] #22867 closed

[2022-03-21 10:50] luzgui commented on #23185
Hi @jwarley I also have those checkpoints that I save in the training loop but I didn't mentioned those since they are working.

[2022-03-21 15:18] edoakes opened #23372 "[serve] test_pipeline_driver.py::test_loading_check failing on windows"
https://buildkite.com/ray-project/ray-builders-branch/builds/6670#ebc1e6f3-650f-412c-b380-bf49073c6b82/2844-3082

[2022-03-21 15:22] edoakes opened #23374 "[serve][flaky test] serve:test_runtime_env is increasingly flaky on master"
<img width="1327" alt="Screen Shot 2022-03-21 at 10 20 59 AM" src="https://user-images.githubusercontent.com/9871461/159293289-a1134919-815b-426b-bc79-170cecc5f561.png">

Sample failure:
https://buildkite.com/ray-project/ray-builders-branch/builds/6653#c0b0bf8a-30d7-4701-af2a-af08b57f12ab/6-8392

[2022-03-21 15:31] edoakes opened #23376 "[serve] Support access logs by default for HTTP (& deployment handles?)"
From @tgaddair:

We should:

1. Have these on by default.
2. Have a way to turn it off.
3. Also support it for serve handle calls

[2022-03-21 15:36] edoakes commented on #23376
@simon-mo I'm thinking we should just properly configure the `"ray.serve"` logger and allow people to customize it as they wish, then use it for HTTP & serve handle logging. Should be quite simple but a huge QoL boost.

[2022-03-21 15:43] ddelange commented on #4583
Does this bug still exist? i.e. a `put` from arm64 onto an AMD worker, or from amd onto an arm worker? Towards #12128

[2022-03-21 15:46] ddelange commented on #7476
Adding aarch64 to the mix (ARM64), would make #12128 a duplicate

[2022-03-21 15:50] ddelange commented on #10774
Duplicate of #2358

[2022-03-21 16:34] simon-mo commented on #23347
@raulchen please help triage

[2022-03-21 16:40] isaac-vidas commented on #23359
Object store size is the plasma right? It's the default 30% of each worker so in this case ~100GB.

From my experience, if I will run a new job on the same cluster the RAM will continue to increase until OOM.

[2022-03-21 16:53] krfricke commented on #23238
Ok, @stephanie-wang here is the PR that successfully fixed the run: https://github.com/ray-project/ray/pull/23379

fwiw, increasing the instance size did not fix the test anyway.

[2022-03-21 16:57] stephanie-wang commented on #23238
Closed by #23379.

[2022-03-21 16:57] #23238 closed

[2022-03-21 17:19] ericl commented on #23359
I see. I think in your example this is because you didn't specify compute="actors" (or ActorPoolSpec in master). This can cause those callable classes to be leaked. In master we raise a warning in this scenario.

Can you try again with using compute="actors"? The actor processes should get terminated after the stage finishes.

[2022-03-21 18:36] amogkam commented on #23309
Stack trace when starting up Ray cluster

[code]

[2022-03-21 18:37] amogkam commented on #23309
Full dashboard logs

[code]

[2022-03-21 18:37] amogkam commented on #23309
You can repro by starting a cluster with these setup commands

[code]

[2022-03-21 18:43] NaIwo commented on #22943
Same issue here.

### Versions / Dependencies
Ubuntu 20.04.4 LTS
pettingzoo==1.16.0
python==3.8.12
gym==0.21.0
ray==1.11.0

[2022-03-21 18:52] richardliaw commented on #23309
@ray-project/ray-serve can you take a look ?

[2022-03-21 18:53] richardliaw commented on #23309
Also @amogkam does this happen on master?

[2022-03-21 18:56] amogkam commented on #23309
Yep this is on master (using `ray install-nightly`).

[2022-03-21 19:01] amogkam commented on #23309
I think we might want to make this a 1.12 release blocker @edoakes?

[2022-03-21 19:15] edoakes commented on #23309
Yes we should make it a 1.12 release blocker.

@shrekris-anyscale can you please take this? I think we just need to do some delayed/optional imports and error in the endpoints if serve isn't installed.

I think @rkooo567 can provide context on it if you're stuck.

[2022-03-21 19:15] edoakes commented on #23309
We should also have a test for this in CI

[2022-03-21 19:17] shrekris-anyscale commented on #23309
Yep, I can look into this.

[2022-03-21 19:28] simon-mo commented on #23309
@shrekris-anyscale the issue seems to be that serve is rethrowing `ModuleNotFoundError` while `optional_utils` is expecting `ImportError`. A low risk change would be just change the ModuleNotFoundError to ImportError and change corresponding test

[2022-03-21 19:30] amogkam commented on #23309
wait @simon-mo doesn't `ModuleNotFoundError` subclass `ImportError`? So it should still be caught in any `ImportError` except block?

[2022-03-21 19:51] isaac-vidas commented on #23359
Sure, I'll give it another go. In the past I had more trouble keeping the job stable with `compute="actors"` so I usually avoid using it if I already have a full cluster up and running but I can try again and check how it goes.

[2022-03-21 19:55] ericl commented on #23359
Sounds good. Btw, the new ActorPoolSpec allows you to control the min/max pool size explicitly, which might help with stability of jobs.

[2022-03-21 20:09] chhabrakadabra opened #23385 "[Feature] Provide an easy way to configure logging for a job"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

If I configure `logging` in my driver script, that doesn't translate to my remote task's logging being configured the same way. Today, I have to configure my logging inside my remote tasks/actors too. If I use a library that uses Ray

[2022-03-21 20:23] zhe-thoughts commented on #23309
@richardliaw @edoakes This is P0 right?

[2022-03-21 20:40] chhabrakadabra opened #23388 "[core] Allow custom formatting for logs from remote processes"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

I would like to configure the logging from both the driver and

[2022-03-21 21:33] ericl commented on #21870
@mwtian any update on the root cause of this issue?

[2022-03-21 21:36] simon-mo commented on #23376
Relevant uvicorn code
https://github.com/encode/uvicorn/blob/master/uvicorn/protocols/http/h11_impl.py#L430-L438

Currently turned off here
https://github.com/ray-project/ray/blob/master/python/ray/serve/http_proxy.py#L387

[2022-03-21 21:48] mwtian commented on #21870
Still looking at this. Will have a fix soon.

[2022-03-21 23:04] edoakes opened #23390 "[serve] Feature request: integration with Gradio"
Gradio is a library for doing out-of-the-box visualizations for ML models: https://gradio.app/

It uses FastAPI under the hood, so should be straightforward to integrate w/ our FastAPI support.

[2022-03-21 23:04] edoakes commented on #23390
Relevant docs: https://gradio.app/getting_started/#customizable-components

This would be a great community contribution.

[2022-03-21 23:58] ckw017 commented on #23271
Looks like the client piece is from an update to ray.method #22810, but IMO we're probably better off leaving in this behavior so that client mode is consistent with non-client

[2022-03-22 00:20] #23296 closed

[2022-03-22 01:10] DmitriGekhtman commented on #23271
It'd be nice if both gave the user a helpful error message.

[2022-03-22 01:21] rkooo567 opened #23392 "[Feature] Support customized node name for state / error messages."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, Ray automatically detects hostname & node IP and generates a random node ID to identify individual nodes. For some users, this is not sufficient because they cannot identify their nodes using IP + hostname pairs.

I'd like

[2022-03-22 01:21] rkooo567 commented on #23392
cc @scv119 @jjyao

[2022-03-22 01:21] rkooo567 commented on #23392
cc @jon-chuang maybe you can take a look at this issue when you have time

[2022-03-22 01:25] GoingMyWay opened #23393 "[RLlib][docs] Adding more flow charts to RLlib components docs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hi, there are many great properties in https://docs.ray.io/en/latest/rllib/package_ref/execution.html. To make these components easy to understand, I believe it is necessary to add more flow charts to show how these components work. F

[2022-03-22 01:47] matthewdeng opened #23394 "[train] unable to override `CPU` and `GPU` resources in `to_tune_trainable`"
**Problem:** When initializing the `Trainer`, we clear `CPU` and `GPU` from `resource_per_worker` so that the underlying classes don't need to handle them. However, this makes it so that they are not properly propograted when calling `to_tune_trainable`.

https://github.com/ray-project/ray/blob/1fe110f8f4a042f3dd7128d07c697bda3633b990/python/ray/train/trainer.py#L168-L169

**Repro:**
[code]

**Exp

[2022-03-22 02:11] isaac-vidas commented on #23359
Thanks @ericl!
Do you mean [this section](https://docs.ray.io/en/master/data/getting-started.html?highlight=ActorPoolStrategy#transforming-datasets)? This looks pretty awesome!

Just making sure, this would only be available in the nightly build until the next Ray release, right?

[2022-03-22 02:12] keep9oing opened #23395 "[Bug] the trainer stuck when enabling the use_gpu option and running trainer.start()"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

I tried to follow the document at https://docs.ray.io/en/latest/train/user_guide.html#backends
with
[code]
However, the progr

[2022-03-22 02:16] ericl commented on #23359
Yep, it's only in nightly for now, should be in next release also.

[2022-03-22 02:17] amogkam commented on #23395
Hey @keep9oing, if you have num_workers set to 2, then this requires at least 2 GPUs to start the trainer. Can you confirm the number of gpus your ray cluster has? You can do this with just printing ray.cluster_resources().

also is there anything being printed out in stdout? I believe there should be a message saying that your cluster may not have enough resources.

[2022-03-22 02:17] matthewdeng commented on #23395
Can you share the output of `ray status` when this is hanging?

[2022-03-22 02:39] keep9oing commented on #23395
Thank you @amogkam , I had a single GPU. When matching the number of workers and the number of GPUs solve the problem. Maybe I misunderstood the option.

[2022-03-22 02:39] #23395 closed

[2022-03-22 03:08] isaac-vidas commented on #23359
Ok, good to know and thanks for the info. I'll run a couple of more tests and update it here.

[2022-03-22 03:53] okvlam commented on #3401
the provided link is not available as showing error 404

[2022-03-22 05:16] zhe-thoughts commented on #23309
@simon-mo : by closing the issue, do you mean the PR has been picked to the rc1 branch? Thanks

I think the bottom line is we should always have an open issue/PR with `release-blocker` label for something that is a blocker

[2022-03-22 05:44] simon-mo commented on #23309
No sorry this is automatically closed as part of closing PRs. @edoakes will proceed with TL approval tomorrow.

[2022-03-22 05:46] zhe-thoughts commented on #23309
Actually in cases like this we can either keep the original issue open, or create a separate cherry-pick issue/PR. @simon-mo curious about your feedback: which way is better?

[2022-03-22 05:48] simon-mo commented on #23309
Definitely separate PRs because they are targeting different branches. For issues either works but if there is already a PR there doesn't need to be a matching issue (seems duplicated).

[2022-03-22 06:14] #22535 closed

[2022-03-22 07:24] czgdp1807 commented on #23184
The reason behind not all tasks being launched at the same time is random index generator i.e., the following method,

https://github.com/ray-project/ray/blob/f21092e80a962b4479ad4fc7c267c37088acc593/python/ray/util/multiprocessing/pool.py#L574-L575

Basically, joblib calls `apply_async` method which redirects to `Pool.apply_async` method of `ray` i.e., the following code is executed,

https://git

[2022-03-22 08:54] SongGuyang commented on #23010
We set a little resource for the supervisor actor which launches the real driver. https://github.com/ray-project/ray/blob/master/dashboard/modules/job/job_manager.py#L453

Is it the root cause? Maybe we schedule the actors to local node by default without load balance?

[2022-03-22 09:08] SongGuyang opened #23399 "[job submission] Support running supervisor actors in worker nodes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In some real world use cases, we will deploy the dashboard in a separate node which doesn't include a Raylet process. We do this because we want to achieve high available of dashboard. But now in job submission, we use `ray.init` in d

[2022-03-22 09:10] SongGuyang commented on #23399
@jiaodong @edoakes @architkulkarni What do you think?

[2022-03-22 10:51] mattearllongshot commented on #23286
It looks like `ray[default]` doesn't have a dependency on gym.  After setting up a fresh conda env with these commands:

[code]

It looks like gym isn't installed meaning rllib can't be imported:
[code]
Is the proper fix to add a dependency on gym with an appropriate version spec such that `Monitor` exists?

[2022-03-22 11:32] mattearllongshot commented on #23286
Having reviewed the rllib docs it appears that `ray[rllib]` is the thing to install for rllib, which does indeed have the right dependency on gym.  So I think this might be a non-bug, aside from having a slightly confusing error message.

[2022-03-22 11:41] #23249 closed

[2022-03-22 15:21] #23295 closed

[2022-03-22 15:21] #23303 closed

[2022-03-22 16:01] edoakes commented on #23309
@zhe-thoughts @jianoaix we should cherry-pick https://github.com/ray-project/ray/pull/23389 to the release branch. I can make a cherry-pick PR if you'd like (I tried just now but GitHub appears to be having an outage 😢 )

[2022-03-22 16:05] edoakes commented on #23010
@SongGuyang this is currently intentional because the way we support fetching logs for jobs is by reading them from local disk. If we want to run the actors across the cluster, we need to have a way to fetch & tail logs from each node (maybe through the per-node agent).

[2022-03-22 16:20] mlguruz commented on #11098
Hi, is there any update on this?

[2022-03-22 16:21] mlguruz commented on #11098
Hi guys, I run into the exact same situation, and I'm using version 2.0.0dev. Can someone help on this please?

[2022-03-22 16:24] pcmoritz commented on #23184
Let's do the second fix

[2022-03-22 16:44] mpgussert commented on #21781
I think i see this too, or similar

`E0322 16:30:03.442713753    7520 backup_poller.cc:134]       Run client channel backup poller: {"created":"@1647966603.442613274","description":"pollset_work","file":"src/core/lib/iomgr/ev_epollex_linux.cc","file_line":320,"referenced_errors":[{"created":"@1647966603.442608683","description":"Bad file descriptor","errno":9,"file":"src/core/lib/iomgr/ev_epollex_

[2022-03-22 16:44] yonil7 commented on #22640
@czgdp1807, regarding: "_Changing c: to d: results no directory created anywhere_", this happens because when you use path as `r'file://d:/workflow_dir'`, the `d:` part is dropped (as part of taking only the path component of this URL) and then it call windows to create `'/workflow_dir'` - in windows this is a *relative* path starting from the *current* working drive. (so the directory will be cre

[2022-03-22 17:40] jianoaix commented on #23309
Ok, please add this cherry pick to release tracker: https://docs.google.com/spreadsheets/d/1fkOvrLGuaKLDuBwgsArwzjV0zuWpjS6DEs9HiKsWZ3Q/edit#gid=0

[2022-03-22 17:45] mwtian commented on #22339
Still in progress.

[2022-03-22 17:51] amogkam opened #23405 "[ml] Trainer failure stack traces are too long and hide the original error"
Running this script

[code]

results in this stack trace
[code]

The actual error (`NameError`) is repeated multiple times and is only shown as a log message and not raised as the actual error.

We should improve this by
1. Fixing the repeated `NameError` stack traces by only showing them once.
2. Raise the actual error instead of an arbitrary `TuneError`/`TrainingFailedError`.

One way to impleme

[2022-03-22 17:58] simon-mo commented on #23372
this is ci specific and skipping should be fine.

[2022-03-22 18:14] #23372 closed

[2022-03-22 18:24] mlguruz commented on #11098
I've tried all the above suggestions, and I can confirm this issue still exists.

For example, after I ran `ray down -vvvv --workers-only cluster.yaml`, I didn't see anything happen:

`Checking Local environment settings
Destroying cluster. Confirm [y/N]: y
2022-03-22 14:18:15,825 INFO node_provider.py:43 -- ClusterState: Loaded cluster state: ['192.168.1.153', '192.168.1.155']
The head node will

[2022-03-22 18:56] ijrsvt commented on #11098
@mlguruz Just to confirm, before running `ray down`, did all the nodes show up when your ran  `ray.nodes()`?

[2022-03-22 19:04] mlguruz commented on #11098
Yes, but it's complicated...

If I filter to alive ones by running `list(filter(lambda r: r['Alive'], ray.nodes()))`, I see
[code]
, which are *exactly* the nodes I have locally.

However, on the worker node (i.e. ip = 192.168.1.153), I'm seeing ever increasing number of raylets and dead workers.
So, if I ran `list(filter(lambda r: not r['Alive'], ray.nodes()))`, I see:
[code]

I don't know if thi

[2022-03-22 20:03] mlguruz opened #23410 "[Bug] Raylet keeps crashing with segmentation fault"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

I'm trying to run ray on local on-prem cluster with docker.
After fighting through lots of other issues, I'm now at a stage where I'

[2022-03-22 20:09] ijrsvt commented on #11098
@mlguruz Hmm, very strange. Could you also run:
[code]
^This will get the autoscaler's view of the world.

[2022-03-22 20:15] mlguruz commented on #11098
This is what I see:
[code]

[2022-03-22 20:47] #23374 closed

[2022-03-22 20:54] ijrsvt commented on #11098
Hmm, that's weird that it is not trying to run `ray stop` in the container. Could you share your YAML if that is okay?

[2022-03-22 21:05] mlguruz commented on #11098
Absolutely.

[code]

[2022-03-22 21:08] mlguruz commented on #11098
If it helps, I also sometimes get this error:
[code]
...which killed my worker node.

Not sure what this is about either...

[2022-03-22 21:38] ijrsvt commented on #11098
Where is that `No space left on device` coming from? That looks to be something related to object spilling.

Could you send the state file from your laptop? It should be something like `/tmp/ray/cluster-user.state`

[2022-03-22 21:44] mlguruz commented on #11098
Sure. First of all, I'm running low on disk space on my worker node, so I cleaned up a bit, and now I don't see that specific error anymore. This is what I see now in `/tmp/ray/cluster-user.state`

[code]
However, as something I posted here https://github.com/ray-project/ray/issues/23410, I saw tons of raylets segfault errors, like these:
[code]
, and my worker node is restarting over and over, ea

[2022-03-22 21:49] khorshidisamira commented on #3318
Same here with Python 3.8!

[2022-03-22 22:18] ijrsvt commented on #11098
The State file and YAML look correct. This could be a caching issue? Do you have any entries in `/tmp/` that look like `ray-config-...`?

If so, try deleting those and rerunning `ray down`?

[2022-03-22 22:33] mlguruz commented on #11098
So step-by-step.

1. Before, I ran `ray down`, if I do `ll /tmp/ | grep -i 'ray-config'`, this is what I have:
[code]
2. I then `rm /tmp/ray-config-80d850b8c8f9af5b3929199c30bea378c9d83bd3`
3. Now I ran `ray down cluster.yaml -vvvvv`, I got
[code]
4. But on my worker node, I saw:
[code]

Basically, the worker node still has docker running, and the docker container on my launcher node is gone...

[2022-03-22 23:22] #20956 closed

[2022-03-22 23:41] ijrsvt commented on #11098
Ahh! You have `min_workers: 1` set in the configuration. I think that is why Docker is not being stopped for the worker.

[2022-03-23 00:01] mlguruz commented on #11098
Just tried.
The scheduler initialize starts one node (head). Makes sense.
I launch lots of jobs, and then it auto-scales to add one more node (worker).
Yet, I don't see workers launched on the worker node. See:
![image](https://user-images.githubusercontent.com/24363659/159595922-91a15080-c231-4ac2-8a03-3513d39edd6d.png)
And again, I kept receiving segfaults from that worker node like I mentioned

[2022-03-23 00:43] jianoaix commented on #23133
We should investigate and fix this. I added it to Dataset GA list.

[2022-03-23 02:36] ZKBig commented on #23368
cc @sven1977  Please check this question, thank you.

[2022-03-23 06:31] jovany-wang opened #23415 "[Feature][Java] Support passing RayConfig to `Ray.init()`"
### Description

RuntimeEnv is too complex to be written as system properties in Java. We're proposing supporting passing RayConfig to `Ray.init()` for make RayConfig programmable.

The API and behavior should be like:
[code]
The value of `KEY1` should be `A` and value of `KEY2` should be `C`.

[2022-03-23 06:31] jovany-wang commented on #23415
@SongGuyang @kfstorm @Catch-Bull @raulchen

[2022-03-23 06:32] ddelange commented on #23322
Maybe it makes sense to add a healthcheck something like the one below to the `ray-operator` pod in the Helm chart. Or is this out of scope and something for `kuberay`? cc @DmitriGekhtman via https://github.com/ray-project/ray/pull/22799#issuecomment-1070957733
[code]

[2022-03-23 06:40] scv119 commented on #23238
Looks the job submission is not able to handle the load comes with this long_running_many_driver tests. A separate question is if job submission is designed to handle this many concurrent jobs (i.e. 4000). cc @edoakes  on this.

If job is not designed to handle the load (and I assume it doesn't), we probably need to keep this test with sdk instead of jobs even after we migrated to k8s clusters. cc

[2022-03-23 09:43] zbwzwd commented on #21246
method 'log_returns' in policy_client.py ,the type of args 'reward'  should be float

[2022-03-23 09:57] yonil7 commented on #22640
1. I'm not sure such change wont break this functionality for linux (e.g. if in linux we pass `'file://myserver/path/in/server'`)
2. I'm not sure its not a bug in Pyhon `urllib` that `netloc='d:'` (`netloc` should be the hostname of the machine - if its a bug in `urllib` we better not depend on its faulty output)
3. Its would be clearer for windows users to be able to pass just a path such as `'c:

[2022-03-23 09:59] czgdp1807 commented on #22640
Most probable case is either 1 or 2. Doing 3 will require special case heuristics (which may not robust).

I think it shouldn't. `netloc` would be just empty. I don't have a linux system so can't say for sure. @mattip Can you test this out?

[2022-03-23 10:18] SongGuyang commented on #23399
@edoakes I think we should also avoid using `ray.init` in agent if it is possible. Do we have other alternatives? Two uncertain options:

1. Start a long running system actor when the ray cluster started. Dashboard interacts with the system actor by pubsub channel. When job submitted, dashboard pub a message to start the supervisor actor for the job.
2. Dashboard call the GCS grpc service directly

[2022-03-23 10:33] jakub-valenta commented on #21499
This bug is fixed in version 1.11. It did not happen since upgrade.

[2022-03-23 10:33] #21499 closed

[2022-03-23 10:40] yonil7 commented on #22640
We can add code such as this in the beginning of `create_storage()` function:
[code]
For checking if a string is a URL or not, we can use one of the suggested ways here: https://stackoverflow.com/questions/7160737/how-to-validate-a-url-in-python-malformed-or-not

This way we don't relay on `urlparse()` to handle path properly. (as path is not a URL we should no pass it to `urlparse()` and expect i

[2022-03-23 14:49] ankur6ue opened #23423 "[Bug][runtime-env] Failed to fetch URI gcs://_ray_pkg_23ac9932199ad6d4.zip from GCS."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

While connecting to a Ray cluster running on Kubernetes using r

[2022-03-23 16:03] arsedler9 opened #23424 "[Bug] `PopulationBasedTrainingScheduler` remains paused after `burn_in_period` when `synch` is `True`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

When I use the the `PopulationBasedTraining` scheduler with `sy

[2022-03-23 16:57] edoakes commented on #23238
@scv119 what is the workload here? We're trying to run 4000 concurrent ray jobs? If so, ray job submission definitely isn't designed/tested for that case (as a side note, it seems like kind of a strange workload to test).

[2022-03-23 16:58] edoakes commented on #23399
Why is it preferable to use a separate pubsub channel or gRPC service to communicate instead of the public API? That seems like it will increase maintenance burden vs. using actor calls (which is generic to many other things we do in the dashboard).

[2022-03-23 17:27] richardliaw opened #23426 "[air] Dogfooding issues from AIR"
- [ ] #23427
- [ ] #23430
- [ ] #23431

Generally, train makes it a bit more cumbersome to debug/test my code.

[2022-03-23 17:27] richardliaw opened #23427 "[air] Bad exception message with invalid parameter"
[code]

1. Not blocking
2. Not easy to work around
3. Is persistent

[2022-03-23 17:38] hannahcoles commented on #23166
Hi! Can I claim this issue please?

[2022-03-23 17:43] scv119 opened #23429 "[Bug] integration test test_placement_group_5 is flakey"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

test_placement_group_5 has been frequently timing out. We should deflake it.

### Versions / Dependencies

N/A

### Reproducti

[2022-03-23 17:44] scv119 commented on #23429
@jon-chuang can you take a look? cc @rkooo567 as well.

[2022-03-23 17:44] mwtian commented on #21870
Chatted with @stephanie-wang yesterday and learned a lot of useful background about object store. Most likely the issue is that nodes with spilled objects but no pinned objects are reporting 0 pinned memory usage, so after the feature flag is enabled, these nodes get drained and live objects on the nodes are destroyed. https://github.com/ray-project/ray/pull/23425 has a proposed fix.

[2022-03-23 17:46] krfricke commented on #23424
Interesting! Early-stopping of trials seems not to be supported for synchronous mode in PBT - it sohuld be, however. The fix is likely just checking only non-terminated trials for their training state and not all.

The bug for your first problem is in these lines:

[code]
and
[code]

basically, `self._next_perturbation_sync = 4`, and then `choose_trial_to_run` never chooses any trial.

Here, we sh

[2022-03-23 17:54] scv119 commented on #23423
Looks a runtime env related issue. @architkulkarni have you seen similar issues and any insight how to debug this?
@ankur6ue I wonder if you have driver logs showing why exactly this fetch failed?

[2022-03-23 17:59] scv119 commented on #23410
that's a bit odd. looks raylet is crash looping. can you share what's the content of raylet.*.out ?

[2022-03-23 18:03] scv119 commented on #23410
also you can add `RAY_BACKEND_LOG_LEVEL=debug ` before ray start to show debug logs.
[code]

[2022-03-23 18:27] zhe-thoughts commented on #23309
@jianoaix @edoakes Do you know the necessary fix has already been picked into rc1? Do we need to keep this issue open? Thanks

[2022-03-23 18:31] amogkam commented on #23427
Any more details on this?

[2022-03-23 18:36] stephanie-wang commented on #23388
The reason you see the `(func pid=xxx)` is to differentiate between messages printed by the driver process and messages printed by the remote worker. Otherwise, the output can be very confusing because it's not possible to tell which messages are from the local process, so we don't have plans to change this behavior or to allow it to be overridden.

A potential workaround is to take the logs from

[2022-03-23 18:44] arsedler9 commented on #23424
Thanks! I haven't contributed before, but I'm happy to give it a shot. I'll take a look at the guidelines.

This is probably unrelated, but while we're working on it, I've also noticed that using the `PopulationBasedTrainingScheduler` results in the following error being printed out 2x for each trial at the beginning of each of my runs:
[code]

[2022-03-23 19:25] richardliaw opened #23430 "[air] Logging message is not relevant to user"
[code]

When running `trainer.fit()`

It is not blocking
It is easy to work around
It is persistent

[2022-03-23 19:26] mlguruz commented on #23410
Thanks! Let me incorporate all these and come back w/ what I see on my end.

[2022-03-23 19:27] richardliaw opened #23431 "[air] If you kill train via control C, a bunch of random error messages show up next time you run Train."
[code]

not blocking
not easy to work around
is persistent

[2022-03-23 19:36] richardliaw commented on #23427
added!

On Wed, Mar 23, 2022 at 11:31 AM Amog Kamsetty ***@***.***>
wrote:

[2022-03-23 19:54] ankur6ue commented on #23423
Where should I look for these driver logs?

[2022-03-23 20:19] mlguruz commented on #11098
@ijrsvt I think I know why it doesn't properly shutdown w/ docker.

Correct me if I'm wrong:

The autoscaler look for state file to get info on head & worker nodes. The file is located in `/tmp/ray/`.

For on-premise cluster (my case), `LocalNodeProvider` will call `ClusterState` and initialized the states of all workers to be `"terminated"`.

So far it's all reasonable. But since we're running ev

[2022-03-23 20:39] jianoaix commented on #23309
Yes, this PR is cherry picked: https://github.com/ray-project/ray/pull/23389

[2022-03-23 20:45] zhe-thoughts commented on #23309
SG, closing this issue. @edoakes Please reopen if you think it's still needed

[2022-03-23 20:46] #23309 closed

[2022-03-23 20:50] #17090 closed

[2022-03-23 20:51] #18319 closed

[2022-03-23 20:52] iycheng commented on #18412
@suquark I think we still need a document for this one. Could you add a document there?

[2022-03-23 20:54] iycheng commented on #21725
@yuanchi2807 @klwuibm  since we are working on an efficient workflow event and this one should be a follow-up for that which is about how to implement event provider. So I assign this task to you two.

[2022-03-23 20:55] iycheng commented on #20307
This is supported by event_checkpointed. Close this.

[2022-03-23 20:55] #20307 closed

[2022-03-23 20:57] architkulkarni commented on #23423
Hi @ankur6ue, thanks for reporting and sorry you're running into this.  This sounds like it might be a bug with the way we're garbage collecting the working_dir resources on each node when the client connection ends.  There are logs on the head node in `dashboard_agent.log` and `runtime_env_setup_*.log` but I'm not sure they will have more details.

To help debugging this, can you set the environm

[2022-03-23 21:20] DmitriGekhtman opened #23434 "[Release blocker] Restore use_gcs_for_bootstrap"
Certain external integrations rely (in a way that is invalid and should in principle be avoided) on the private object `ray._private.gcs_utils.use_gcs_for_bootstrap`, which had been removed from master and 1.12 release branch.
The to-do in this case is to restore the private object before moving on to fix the external integration.

See https://github.com/ray-project/ray/pull/23413 (master PR) and

[2022-03-23 22:41] rkooo567 commented on #23429
Relevant PR https://github.com/ray-project/ray/pull/23350

[2022-03-23 22:54] richardliaw commented on #23405
Seems like this issue is:

1. Not blocking critical user journey
2. Is persistent
3. Is hard to work around.

Thus labeling P1.

[2022-03-23 22:54] richardliaw opened #23439 "Should add a ray[air] package that installs everything."
`pip install ray[air]` instead of `pip install ray[train, etc...]`

[2022-03-23 22:58] richardliaw commented on #23439
Not critical, not blocking, but is persistent (across installs)

[2022-03-23 23:02] richardliaw commented on #23426
Closing this since issues are tracked.

[2022-03-23 23:02] #23426 closed

[2022-03-23 23:04] amogkam commented on #23431
Can you provide a repro script please?

[2022-03-23 23:11] architkulkarni opened #23441 "[runtime env] `serve:test_runtime_env` and `serve:test_runtime_env_2` were flaky in macOS CI"
I'm going to put back the post-wheel-build flag to disable it on OSX.

_Originally posted by @simon-mo in https://github.com/ray-project/ray/issues/23380#issuecomment-1076874983_

---
The test is disabled now, but when it was enabled both tests were timing out often.  When run locally, both tests consistently pass in 100-120s.  Maybe the issue is the Mac CI machines are not fast enough, but we sho

[2022-03-23 23:16] amogkam commented on #23427
This will no longer be a problem once we make the dataclass the user facing api

[2022-03-23 23:16] richardliaw commented on #23431
https://colab.research.google.com/drive/1ejz98xbvf1Dral8w4vltUEvQ_eZ0vVRA#scrollTo=2xtOoomcVcIS&uniqifier=1

[2022-03-23 23:17] richardliaw commented on #23431
5 line repro ^

[2022-03-23 23:34] amogkam commented on #23431
Yeah this is super odd...looks like this is behavior with Tune though.

I can repro with this code, without using Trainer

[code]

[2022-03-23 23:35] amogkam commented on #23431
cc @xwjiang2010 @krfricke @Yard1

[2022-03-23 23:41] amogkam commented on #23431
Actually nvm, not able to repro anymore...

[2022-03-23 23:55] amogkam commented on #23431
Ok I am able to reproduce with this now

[code]

[code]

[2022-03-24 00:11] amogkam commented on #23431
Looks like this might be a problem with Ray core. Actors don't get cleaned up- you can try playing around with this example https://colab.research.google.com/drive/1gNbLWHktfXY6b8G6mafx4_B-w9suW1PW#scrollTo=GuVHg6JcP0_S

[2022-03-24 00:35] #14558 closed

[2022-03-24 00:41] amogkam opened #23443 "[core] Ray actor continues running after `KeyboardInterrupt` in interactive environment"
As the title says, doing ^C does not kill Ray actor execution in interactive environments (python interactive mode, ipython, colab notebooks).

[code]

Try this notebook for a simple repro https://colab.research.google.com/drive/1gNbLWHktfXY6b8G6mafx4_B-w9suW1PW#scrollTo=GuVHg6JcP0_S

[2022-03-24 00:41] amogkam commented on #23443
cc @stephanie-wang

[2022-03-24 00:42] amogkam commented on #23431
Blocked on https://github.com/ray-project/ray/issues/23443

[2022-03-24 00:42] amogkam commented on #23431
Since this happens only in interactive environments, I would say it should be fine to downgrade this to P2.

[2022-03-24 00:43] stephanie-wang commented on #23443
I think this behavior is expected because KeyboardInterrupt only interrupts the `ray.get` call, not the actor task.

[2022-03-24 02:36] Qiwei97 opened #23447 "[RLlib][Feature] Feature Importance Plots"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hi,

Is it possible to obtain feature importance plots from the RLlib agents? Or perhaps getting it to work with the SHap library?

Thank you!

### Use case

Improving the explainability of how trained agents make use of the features

[2022-03-24 02:59] amogkam opened #23448 "[Datasets] [Bug] AIR dogfooding- Reading csv with ray.data fails, but works with pandas"
[UCI_Credit_Card.csv](https://github.com/ray-project/ray/files/8338068/UCI_Credit_Card.csv)

Reading the attached csv file with `ray.data` fails with the following error

[code]

Pandas is able to successfully read the csv file.

There are workarounds to this so it is not fully blocking (such as using Dask on Ray and then converting to Ray Datasets), but it is difficult to overcome and persistent

[2022-03-24 03:02] amogkam opened #23449 "[air] LightGBM Trainer should use `num_cpus_per_actor=2` by default"
- [ ] LightGBM trainer should use `num_cpus_per_actor=2` by default
- [x] https://github.com/ray-project/ray/issues/23448
- [x] ~~Annoying to have to figure out how to create a manual scorer class and pass in the checkpoint object reference. Have to use examples to figure out how to do this.~~ Resolved by Batchpredictor! (https://github.com/ray-project/ray/pull/23808)
- [x] ray.data does not have

[2022-03-24 03:24] scv119 opened #23450 "[Datasets] [Bug] Ray cluster becomes not responsive when dataset processing data larger than its object store"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

Basically what it does is running some data processing against

[2022-03-24 03:30] scv119 commented on #23450
cc @matthewdeng

[2022-03-24 03:30] scv119 commented on #23450
cc @jianoaix @jjyao

[2022-03-24 04:11] kshivvy opened #23451 "[Bug] Can not turn off logging to disk"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

I am running a ray.tune() experiment with num_samples > 50,000. My trial stops and runs into ""Disk quota exceeded" when running on

[2022-03-24 04:24] ericl commented on #23450
Can you attach the heap memory graph for the run? I'm wondering if the partition sizes are just too large and cause normal OOM (not related to object store).

[2022-03-24 04:25] ericl commented on #23450
`dmesg` might also show the reason for the worker kill (if it was an OOM kill). Otherwise, the worker log might have something.

[2022-03-24 04:57] scv119 commented on #23450
looks OOM killed
[code]

[2022-03-24 05:02] ericl opened #23455 "[Core] Add a warning message if options / arguments differ for Actor.options(get_if_exists=True)"
The get-or-create actor flow from https://github.com/ray-project/ray/pull/23344 doesn't warn if the actor options / arguments differ for future creators.

This will be a little tricky to implement, but in principle the data is accessible in the GCS and we could fetch it for comparison on actor get.

[2022-03-24 05:25] #21870 closed

[2022-03-24 05:30] ericl commented on #23450
So (1) it's surprising we didn't see RayOutOfMemoryError. Could be we didn't get a chance to raise it since that only checks memory usage when new tasks are launched.

(2) seems like this could be solved by increasing the number of partitions, or increasing the memory to CPU ratio for the cluster. I'm having a hard time reading the log but is it using 1.6GB per worker? That's reasonable for most m

[2022-03-24 07:07] tbabej opened #23457 "[Bug] [dashboard] Missing dependencies fastapi and uvicorn on installs with pure ray"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Dashboard

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

Job submission server is broken on installs without

[2022-03-24 09:24] MissiontoMars opened #23458 "[Bug] instrumented_io_context StatsString coredump"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

We've got a serious coredump in production environment caused by instrumented_io_context::StatsString. Although our codebase branch

[2022-03-24 09:25] MissiontoMars commented on #23458
@scv119 @clarkzinzow @rkooo567 Could you help me?

[2022-03-24 10:03] rkooo567 commented on #23458
Hmm I’ve never seen this.

1. Does it happen on shutdown?
2. Is there any way to repro?

[2022-03-24 10:22] kinalmehta commented on #23202
There are multiple bugs when trying to train with `"_disable_preprocessor_api": True`. The above script can be used to replicate all the bugs.

[2022-03-24 11:16] krfricke commented on #23451
Hi @kshivvy, the problem is probably in the logging _callbacks_, which are automatically created. You can disable them with this environment variable:

[code]

See also
https://docs.ray.io/en/latest/tune/api_docs/env.html

[2022-03-24 11:27] czgdp1807 commented on #23074
@pcmoritz @stephanie-wang Can I look into this?

[2022-03-24 11:30] czgdp1807 commented on #22938
@jerinka Can you please share an example of current behaviour and the desired behaviour? It would be helpful to discuss and iterate on an example. Thanks.

[2022-03-24 11:34] czgdp1807 commented on #22888
@pcmoritz Can I look into this?

[2022-03-24 14:37] frosk1 commented on #22505
still an issue!

[2022-03-24 15:02] xwjiang2010 commented on #20446
Not doing it for now.

[2022-03-24 15:02] #20446 closed

[2022-03-24 15:33] frosk1 commented on #22954
why is this closed? can replicate the same on ray 1.11.0

[2022-03-24 15:39] #22824 closed

[2022-03-24 15:47] MS6518 opened #23466 "[Bug] _InactiveRpcError: <_InactiveRpcError of RPC that terminated with: status = StatusCode.RESOURCE_EXHAUSTED details = "Received message larger than max"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

Hi I am trying to use ray tune for torch_geometric, which is a package for building graph neural networks.

Specifically, I got an e

[2022-03-24 15:55] arsedler9 commented on #23424
Sounds good! I will start on this today and hopefully finish by this time next week. If I have questions, should I ask them here or elsewhere?

[2022-03-24 15:56] krfricke commented on #23424
Once you've opened the PR we should have discussions about it there - you can just assign me and I'll be happy to help. If you need help before opening the PR you can ask here!

[2022-03-24 16:19] mlguruz opened #23467 "[Dask-on-Ray][Bug] Ray remote resources having unexpected {'CPU': 1.0}"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Others

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen
Related to https://github.com/ray-project/ray/issues/21536

Ray remote resources having extra info after passing task-wise re

[2022-03-24 16:21] mwtian commented on #22954
@frosk1 this is issue is not closed, only a related one. I sent out https://github.com/ray-project/ray/pull/23468 for a workaround.

[2022-03-24 16:23] SongGuyang commented on #23399
If we create actor in agent directly, agent will become a driver, instead of a pure python process. It will rely on ray cluster. And there will be a lot(equals node number) system level jobs in gcs view.
Of course, I agree using ray api is a simple way.
I'm not sure which is the best way now.

[2022-03-24 16:54] kshivvy commented on #23451
Hi @krfricke -

I've tried setting that like this:

`os.environ["TUNE_DISABLE_AUTO_CALLBACK_LOGGERS"] = "1"`

But the ray_results directory and objective_fn folders inside them still are created. Is there anything else I can do?

[2022-03-24 17:00] frosk1 commented on #22954
yes sry, I did remove my comment ;)

[2022-03-24 17:20] #23466 closed

[2022-03-24 17:45] frreiss commented on #23347
One way to address this issue is to communicate that Ray only supports Java versions 1.8 through 11, inclusive. You could enforce that through two updates:
* Add a note about Java version compatibility to https://github.com/ray-project/ray/edit/master/doc/source/ray-overview/installation.rst, under the heading, "Install Ray Java with Maven".
* Add code to check the Java version at the top of [Ray.

[2022-03-24 18:05] jnpm opened #23470 "[Tune][Bug] Large checkpoint size results in PLACEMENT_GROUP_REMOVED error"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

I am using TuneBOHB in order to optimize hyperparameters of a transformer model with the functional training API. The trainable func

[2022-03-24 18:17] #21875 closed

[2022-03-24 18:32] architkulkarni opened #23473 "[runtime env] `zip_directory` `excludes` parameter doesn't work with absolute paths"
Here's the reproduction:

[code]

Output:
[code]

Expected output:
[code]

[2022-03-24 18:36] arsedler9 commented on #23424
I just opened a draft PR - could you help me find a good place to add the tests?

[2022-03-24 18:41] architkulkarni commented on #23473
This should be added as a test in https://github.com/ray-project/ray/blob/master/python/ray/tests/test_runtime_env_packaging.py.

[2022-03-24 19:12] #23457 closed

[2022-03-24 19:22] xwjiang2010 commented on #22445
Sorry for being late on this ticket!
@Michalos88 Could you maybe update your ray version (0.8.7 is pretty old and no longer supported)?

[2022-03-24 19:30] xwjiang2010 commented on #23405
Sounds good. Looking at it now. One low hanging fruit is https://github.com/ray-project/ray/pull/23475.

So basically we have:
runner thread (where it actually happens) --> main thread --> Tune driver (wrapped as a RayTaskError) --> Write to disk (error.txt) --> load up when creating ResultGrid

Amog's suggestion applies to the first transition. In addition, there are the rest of the piping that w

[2022-03-24 19:41] zplizzi opened #23479 "[RLlib][Bug] RLLib Dreamer tuned example requesting unreasonable amount of GPU memory"
### Search before asking

- [ ] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

I am trying to run the [tuned Dreamer example](https://github.com/ray-project/ray/blob/master/rllib/tuned_examples/dreamer/dreamer-deep

[2022-03-24 21:33] DmitriGekhtman commented on #23434
Resolved, fix merged into master and release branch.

[2022-03-24 21:33] #23434 closed

[2022-03-24 22:27] davidegraff opened #23480 "[Train] Issue on page /train/user_guide.html"
the first example code block will result in an `AttributeError` because `torch` isn't imported in `ray.train.__init__py`

the block in question:
[code]

[2022-03-24 23:31] DmitriGekhtman commented on #22505
As a random short in the dark -- you can try increasing the resource allocation to the operator pod and see if that makes it happier.

Again, I highly recommend checking out KubeRay, as this operator is unfortunately unlikely to receive much attention.

[2022-03-24 23:33] DmitriGekhtman commented on #23166
@hannahcoles
Yes, please! Feel free to add me as a reviewer.

[2022-03-24 23:44] #19914 closed

[2022-03-24 23:44] #14073 closed

[2022-03-24 23:44] #14216 closed

[2022-03-24 23:44] #18308 closed

[2022-03-25 00:44] #19978 closed

[2022-03-25 00:44] #18454 closed

[2022-03-25 00:44] #20182 closed

[2022-03-25 00:44] #20161 closed

[2022-03-25 00:48] #23330 closed

[2022-03-25 01:00] jiaodong opened #23483 "[Bug] Clean up deployment name generator upon calling serve shutdown"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

we should clean it up otherwise we'll be getting new name ever

[2022-03-25 01:25] jiaodong opened #23484 "[Feature] DAGDriver should support partial access of InputNode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In Ray dag, we can do

[code]

that will automatically wrap user input to InputNode object, where access by index [0] maps to "5" and [1] maps to [1, 2].

In serve dag, we're using a default driver class as the outer layer with a fixe

[2022-03-25 01:44] #19979 closed

[2022-03-25 01:44] #20007 closed

[2022-03-25 01:44] #17487 closed

[2022-03-25 01:44] #19203 closed

[2022-03-25 04:24] jovany-wang commented on #23347
Actually, we haven't supported >JDK11. For the concrete exception, I'll take a look later.

[2022-03-25 06:07] kfstorm commented on #23347
Ray Java depends on https://github.com/RuedigerMoeller/fast-serialization for serialization, and it doesn't support Java 17 yet. See https://github.com/RuedigerMoeller/fast-serialization/issues/312 for details. @jovany-wang Could we try adding [this](https://github.com/RuedigerMoeller/fast-serialization/issues/312#issuecomment-911770257) to our codebase?

[2022-03-25 07:08] GoingMyWay commented on #4506
Hi, if `timesteps_per_iteration` is not a necessary parameter, could you please delete is in future versions?

[2022-03-25 07:37] #22865 closed

[2022-03-25 07:40] maxpumperla commented on #21842
accidentally duplicated in https://github.com/ray-project/ray/issues/22877

[2022-03-25 07:40] #21842 closed

[2022-03-25 07:41] maxpumperla commented on #21843
accidentally duplicated in https://github.com/ray-project/ray/issues/22877

[2022-03-25 07:41] #21843 closed

[2022-03-25 07:42] maxpumperla commented on #23194
@scottsun94 fixed in https://github.com/ray-project/ray/pull/23417

[2022-03-25 07:42] #23194 closed

[2022-03-25 10:53] simonsays1980 commented on #22899
@scv119 thanks for coming back to this. Running with `scikit-learn==0.24.2` works for this error, but then another one pops up that looks more severe:

[code]

[2022-03-25 10:54] simonsays1980 commented on #22899
Sorry had to split the error output:
[code]

[2022-03-25 10:54] simonsays1980 commented on #22899
Leaving away the version of `scipy` lets this run through then and another error pops up:

[code]
Setting `llvm-lite` to no version and running the installation again, resulted finally in **no errors**

[2022-03-25 11:30] simonsays1980 opened #23489 "[Bug] Value passed to parameter 'shape' has DataType float32 not in list of allowed values: int32, int64"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

This is picked up from an [issue](https://discuss.ray.io/t/lstm-wrapper-giving-issue-when-used-with-trainer-compute-single-action/5528/

[2022-03-25 11:52] CoulsonZhao commented on #19804
I think this problem is caused by different python versions, I meet this when I transfer the model from Ray1.9.1&python3.6.9 to Ray1.9.1&python3.8.5

[2022-03-25 13:05] etiennedub opened #23492 "[Bug] Actor scheduler with fractional GPUs"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

When trying to deploy a Deployment from Ray serve with fractional `num_gpus` sometime the scheduler cannot deploy all the replicas

[2022-03-25 13:30] Waterkin opened #23493 "[Bug] tune different parameters but get the same output accuracy"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

As the title says, I tune different parameters for the same LSTM model(hidden_size, batch_size, learning rate...), but finally I got

[2022-03-25 14:30] krfricke commented on #23424
Sure - let's have this discussion in the PR!

[2022-03-25 14:31] krfricke commented on #23479
cc @avnishn @sven1977

[2022-03-25 14:35] krfricke commented on #23451
The directories will always be created, but without the loggers it should not write anything to e.g. the results files there. Are the files still being written?

[2022-03-25 14:35] krfricke commented on #23451
Ah right, you also don't want to directories to be created because it's 50k. Let me take a look

[2022-03-25 14:39] krfricke commented on #23451
I'm afraid the log dirs will always be created and there is currently no great way around this. Tune generally assumes that there is a local directory to write artifacts to (e.g. checkpoints). Please let me know if the files are at least not being written to so that you don't run out of system memory.

[2022-03-25 15:40] krfricke commented on #19274
Sorry for the late reply.

I couldn't reproduce the error with various settings for buffered results. However, we've cleaned up Ray Tune's buffering in the past months, so it might be that the error is resolved by some of those changes.

The core problem here lies in how Optuna handles duplicate results. Of course, trial completion shouldn't be called twice anyways.

https://github.com/ray-project

[2022-03-25 15:49] maxpumperla opened #23497 "[Feature] change name of "travis" folder in CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

the `ci/travis` folder is confusing. The `ci/README.md` also mentions Travis, could be interpreted in all sorts of ways. maybe time to change that to something more agnostic? After all, we're not using Travis anymore.

### Use case

_

[2022-03-25 15:50] #18427 closed

[2022-03-25 15:51] krfricke commented on #19382
I'm probably not the right person to look into this.

Maybe @rkooo567 - do you know if we have something like this already?

[2022-03-25 15:56] krfricke commented on #20912
Passing (mostly) in recent builds

[2022-03-25 15:56] #20912 closed

[2022-03-25 15:59] jnpm commented on #23470
`reuse_actors=True` seems to solve the issue mentioned above. However, in my original model for large checkpoint sizes (~1.4GB) raytune will start to idle after running 2 different trials. The status for the third trial stays at pending with no resources being requested. I have tried initiating the model outside the trainable function and including it with `tune.with_parameters` but that does not

[2022-03-25 16:29] krfricke commented on #16215
Seems like this was resolved: https://github.com/ray-project/ray/blob/master/python/ray/util/ml_utils/dict.py#L120

A quick test shows it works:

[code]

closing this for now, lmk if the problem persists.

[2022-03-25 16:29] #16215 closed

[2022-03-25 16:31] krfricke commented on #16203
Seems this is a k8s configuration error, so closing here

[2022-03-25 16:31] #16203 closed

[2022-03-25 17:32] madsenwattiq commented on #23010
I see the exact same issue with Ray 1.11.0, running a cluster of two nodes on two physical hosts on the same LAN -- removed any possible complexity from cloud clusters etc.  Can replicate with a tiny toy example, which launches more tasks than either of the machines has cores, and given the discussion in this thread I added `ray.init(address="auto")` to no effect.
![Screen Shot 2022-03-25 at 10 28

[2022-03-25 18:15] krfricke commented on #23470
Interesting - it seems like `restore_from_object` suffers from too large object sizes.

For single node training, you could try passing `sync_config=tune.SyncConfig(syncer=None, sync_on_checkpoint=False)` to `tune.run()` to disable resrtoring from object (Tune will then try to restore from the directory directly, assuming it is locally available). For distributed training you may want to specify a

[2022-03-25 18:37] #23137 closed

[2022-03-25 18:37] #23138 closed

[2022-03-25 18:37] #23139 closed

[2022-03-25 18:51] krfricke commented on #23493
Hi @Waterkin, can you provide more context here, please - how does your training script look like, how do your results look like? We can't help you if you don't provide us enough information.

[2022-03-25 19:06] lily-gao opened #23501 "[Bug] zip method does not work for Ray Datasets created from pandas DataFrames"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

When I try to zip two Ray Datasets created from pandas DataFrames, I get an `AttributeError: 'DataFrame' object has no attribu

[2022-03-25 19:14] iycheng commented on #20524
https://github.com/ray-project/ray/blob/master/python/ray/_private/ray_logging.py @lchu-ibm

[2022-03-25 19:29] mwtian commented on #22954
Should be fixed on Ray nightly / `master` branch, but I do not have the environment to verify it.

[2022-03-25 19:29] #22954 closed

[2022-03-25 19:36] wilsonwang371 opened #23502 "[Feature] getting redis password from environment variable"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

when submitting a job to ray. the script will do an initialization using the head address discovered from an environment variable. However, when redis password is specified, the password is not available in environment variables. Shal

[2022-03-25 19:39] wilsonwang371 commented on #23502
@ckw017

[2022-03-25 19:42] jiaodong opened #23503 "[Bug] DAGDriver input_schema didn't work in jupyter notebook"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

With the following snippet
[code]

in jupyter notebook we will

[2022-03-25 20:09] wilsonwang371 commented on #14558
Hi Sangbin, why is this closed?

[2022-03-25 20:58] jnpm commented on #23470
@krfricke
Just tried the `sync_config` setting but it does not seem to solve the issue either. Guess I'll have to switch to a search algorithm that doesn't require checkpointing for the time being.

[2022-03-25 21:00] matthewdeng commented on #23501
@jianoaix can you take a look at this?

[2022-03-25 23:21] lchu-ibm commented on #20524
@iycheng thanks for the pointer. I think a more general way to describe this is "Workflow has kept the initial **Ray Runtime** due to detached WorkflowManagmentActor."

[code]

the worker-side runtime C is identical to driver-side runtime A (from `ray.state.next_job_id()`), but worker-side workflow's runtime B is picked up from the initial runtime when workflowManagementActor was firstly created.

[2022-03-25 23:26] ckw017 commented on #23502
@wilsonwang371 Can you describe your workflow in a bit more detail, specifically:
* How was the cluster launched (manually running ray start --head somewhere, going through `ray cluster up`, etc...)
* When/where are you generating the password

@mwtian Is core currently trying to clean up references to redis (--redis-address, --redis-password) from the API for the switch to HA GCS? Trying to figur

[2022-03-25 23:27] #22254 closed

[2022-03-25 23:54] simon-mo commented on #23492
This is because Ray cannot provision an actor that uses fractional resource to span across two GPUs.

For example, say each replica requires `{"GPU": 0.6}`. And total of 2 available GPUs. Theoretically it might look like we can fit 3 replicas because `0.6*3 < 2`. But Ray can't allocate the third one like that. Once the first two replicas assigned, it will look like first GPU has 0.6 allocated, and

[2022-03-26 02:29] max0x7ba opened #23509 "[Bug] Ray cluster autoscaler and Google Compute Engine."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

In autumn 2021 I explored the option of using Ray autoscaler in a Google Compute Engine cluster with rsync and found quite a few

[2022-03-26 08:21] bhavithran1 commented on #21921
This problem was solved for me by **pip install ray[default,tune,rllib,serve]==1.9.2**

Hope it helps!

[2022-03-26 15:30] #23509 closed

[2022-03-26 17:14] gjoliver commented on #18654
Please provide a reproduce script. Thanks.

[2022-03-26 17:27] jiaodong opened #23511 "[Feature] .bind() on function does not take pre-bind value from upstream DAGNode"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

[code]

### Are you willing to submit a PR?

- [X] Yes I am wi

[2022-03-26 17:38] evo11x commented on #18654
I cannot provide the script because it depends on a bigger data which I cannot post here.

This is the error:

[code]

And this is my observation space

[code]

When I increase the size of self.obs_math by any number the error starts to appear. If I increase data1 or data2 it works.

Again stable_baselines3 runs fine with the observation

[2022-03-26 21:19] gjoliver commented on #18654
we have custom logics to verify that the obs you get form an env matches the declared spaces.
in your case, the data ranges are from -inf to inf, so the values will always be in range.
so there is likely some mis-match in the shape of the data your env returns after the reset call, i.e., it does not have shape (840,):

... does not contain returned observation after a reset ...

[2022-03-26 21:30] evo11x commented on #18654
I have checked and reset returns the identical observation as the step which matches the declared observation.
But I will do some more checks and try with a single observation non dict

[2022-03-26 23:14] etiennedub commented on #23492
Maybe I don't understand your explanation, but in your example, the number of replicas is higher than the number of GPUs available. In my case, I have 6 GPUs and 6 replicas. Also, if I set `{"GPU": 1}` all my replicas are allocated, but with `{"GPU": 0.6}` they are not. From what I understand, it should work with every possibility if GPU < 1.

Let me know If I don't understand correctly your expla

[2022-03-27 02:18] ericl commented on #23502
We no longer use Redis by default in the latest Ray release, so these flags should be considered deprecated and have no effect.

[2022-03-27 02:18] #23502 closed

[2022-03-27 05:59] dynamicwebpaige commented on #23447
😄 Thanks for the feature request! It looks like there has been at least one exploration for `shap` and `ray` interplay added on GitHub, found in [`dlb-rl/pulse-rl`'s `evaulation.py` script](https://github.com/dlb-rl/pulse-rl/blob/ebe78d2286b2199d18b86941fbc9990e0d5c354a/src/train_model/evaluation.py).

Are you just interested in seeing an official tutorial or example? Or are there any specific vis

[2022-03-27 06:15] dynamicwebpaige commented on #23480
Thanks for filing the issue! I was able to run the code sample you shared without error:

[code]

Though there do appear to be some rendering and formatting issues with the documentation in the [Ray Train user guide](https://docs.ray.io/en/latest/train/user_guide.html#update-training-function). These quirks are persisted when clicking the `copy` button on the right hand side of the code block:

![

[2022-03-27 13:02] calisro commented on #22518
IS this an actual work around for now?  Does this break anything?

[2022-03-27 19:20] kvnkho commented on #13327
Hello, I just stumbled onto this issue and wanted to mention that Ray support has been added to Prefect 2.0. The docs can be found [here](https://orion-docs.prefect.io/tutorials/dask-ray-task-runners/)

[2022-03-27 19:45] renos opened #23515 "[Bug] rllib evaluate"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

The rllib evaluate script (https://github.com/ray-project/ray/blob/master/rllib/evaluate.py) does not save rollouts.

Specifically, lin

[2022-03-28 00:17] #20267 closed

[2022-03-28 00:17] #20275 closed

[2022-03-28 00:17] #20278 closed

[2022-03-28 00:17] #20259 closed

[2022-03-28 00:17] #20316 closed

[2022-03-28 00:40] asm582 opened #23522 "[RFC][Feature][Autoscaler][Core]Graceful draining of nodes while scale-down"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The current implementation of the drain is just `kill `as confirmed by @DmitriGekhtman on kuberay repo: https://github.com/ray-project/kuberay/pull/208#discussion_r835970677.

We want to implement a graceful drain where we allow worke

[2022-03-28 06:54] maxpumperla commented on #23480
@dynamicwebpaige thanks. these "-/+" thingies have been put there intentionally by the Train team to indicate what has to be changed compared to normal torch training (cc @matthewdeng). Apart from that, what exactly do you mean be "rendering" issues?

If you ask me, I'd rather not have this "diff" feature in there for pedagogical reasons, especially since the code is not copyable. We should also m

[2022-03-28 07:34] mattip commented on #22685
From the traceback, it seems like ray is trying to recover from an error around the use of `edge_detect_time`, which is, as far as I can tell, not a ray function. @babyblue1334 is that a correct analysis? If so, maybe the problem is not in ray.

[2022-03-28 08:01] mattip commented on #22859
I am missing something. If I create a file `wsl.sh` with either the contents of (1) or (2) and try to run it from cmd.exe or from powershell, the script does not run. If I create a file `wsl.bat`, then the single-line in (2) runs, but the two line form in (1) enters wsl and presents a bash prompt, hanging after executing the first line. How are you running the scripts?

[2022-03-28 08:52] brodermind opened #23527 "[Bug] ValueError: ('Observation ({}) outside given space ({})!'"
### Search before asking

- [ ] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, Ray Train, RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

rrlib's `preprocessor.py` line 62 gets stuck in the value error `ValueError: ('Observation ({}) outside given spac

[2022-03-28 09:09] wuyeguo opened #23528 "[Feature] support set memory limit in ray tune"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

when use ray tune with a trianable function like this

tune.run(
    train_fn,
    resources_per_trial={"CPU": 2, "GPU": 0.5})

is there a config for set the memory used for one running？

### Use case

tune.run(
    train_fn,
    reso

[2022-03-28 10:07] ashione opened #23529 "[Java Release Issue] No such ray-1.11.0 jar found in maven central repo"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I just want to use released ray-1.11.0 java and found that no such package had been uploaded in maven central repo.
Anybody can trace that release pipeline and make sure this workitem has been finished in last release?
### Use case

_

[2022-03-28 10:10] ashione commented on #23529
@jovany-wang Could you know that release detail about 1.11.0 java related package?

[2022-03-28 11:10] czgdp1807 commented on #23443
It happens with a python script as well that is copying your code and launching it as a script using `python` command. I think @stephanie-wang is right, the `check_status` raises `KeyboardInterrupt` after receiving a signal from `CoreWorker.Get`.

May be `CoreWorker.Get` isn't killing/stopping the tasks once KeyboardInterrupt is received (makes sense?) ?

[2022-03-28 11:16] czgdp1807 commented on #22888
Confirmed. There are two places which use `while left:` which should be replaced with `while left > 0:`. Making a PR to do that.

[2022-03-28 11:18] czgdp1807 commented on #22888
Seems like already fixed in `master`. Closing it then.

[2022-03-28 11:18] #22888 closed

[2022-03-28 13:14] smorad commented on #22166
I have done testing of AMP and JIT on a Tesla T4 GPU, using an AWS `g4dx.2xlarge`, the results are available at https://tensorboard.dev/experiment/OYJwoaI5Qji63JTWENgleA/ using the following config
[code]

The small model uses the default `[256, 256]` hidden layers. The large model uses `[512, 512, 512, 512]` hidden layers.

The summary is that both JIT and AMP are quite disappointing. With AMP, w

[2022-03-28 13:19] jovany-wang commented on #23529
@mwtian CC

[2022-03-28 14:17] ashione commented on #23529
@mwtian I can even guess that no one is willing to check the entire checklist of the release process. this can not be said that it is not a careless. As a project that has been open source for a few years now, this is not a one-time occurrence, and we don't even know what caused this. In my opinion this is a major mistake in principle. If these can't be implemented, it's hard to ask other develope

[2022-03-28 15:59] gjoliver commented on #22166
if CPU is the bottleneck, we can try running the 2 workers on 2 different nodes?
we also track various timing stats. for example, worker stats:
https://github.com/ray-project/ray/blob/c3e04ab275b8367b87eb8ceb60a8084ed647b468/rllib/evaluation/sampler.py#L87-L91
and there are similar fields for learning as well.
will be interesting to actually see some of the numbers.

[2022-03-28 16:06] qbphilip opened #23530 "[Bug] Wrong gym version on ray-ml:1.11.0 docker images"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib, Ray Clusters

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

Relates to the python issues in #23286 #23062.

**Wh

[2022-03-28 16:17] smorad commented on #22166
@gjoliver all these numbers are tracked in the tensorboard link in my last post. I used a `g4dn.2xlarge` which has 8 CPUs -- that should be enough for 2 workers + trainer, right? I suspect we'll see even slower performance moving workers off of the trainer host, because then `SampleBatches` need to be serialized and sent over the network.

[2022-03-28 16:42] gjoliver commented on #22166
ah right. looking at everything under /sampler_perf/, mean_inference_ms is still the dominating component, although it only takes about 1.7ms, and no big difference between jit and non-jit version.
try a really big network? the first step probably should be to observe some performance gain for the inference step alone.

[2022-03-28 16:50] amogkam commented on #23480
I personally am a fan of having the diff here to have a visual of how much your code can be simplified with Ray Train- this is what I liked about going through the Huggingface Accelerate docs for example: https://github.com/huggingface/accelerate. It also gives an overview of what exactly `prepare_model` and `prepare_data_loader` are doing, and what parts of your distributed pytorch code you no lo

[2022-03-28 16:56] amogkam commented on #23480
Like compare the Huggingface accelerate docs: https://huggingface.co/docs/accelerate/index with Lightning Lite: https://pytorch-lightning.readthedocs.io/en/latest/starter/lightning_lite.html.

For Lightning Lite, they have the before/after in 2 separate code blocks, but for me it's much harder to tell what has changed compared to the Huggingface docs. This is why they also have the gif at the top

[2022-03-28 17:12] kshivvy commented on #23451
Hi,

The logs are no longer being written. I still run into Disk Quota issues, and from a cursory Google search it's not because I run out of space on the cluster, but because I hit the inode limit and can no longer create any more files or directories.

I've tried decreasing the num_samples to 1000 but even then I run into this issue.

Is there any workaround to this, even if it's complicated? In

[2022-03-28 17:26] richielo opened #23531 "[Bug] AttributeError: 'env' object has no attribute '_agent_ids' after updating from 1.6 to 1.11"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

I am tackling multi-agent RL problems in multi-grid (multi-agent's

[2022-03-28 18:21] scv119 opened #23533 "[Release 1.12.0] regression in benchmarks/many_pgs.json"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

Looks there is a regression for many_gps test for Ray 1.12.0 release. we should investigate that. Please refer to https://github.com

[2022-03-28 18:25] scv119 opened #23534 "[Release 1.12.0] regression in ray client related benchmarks"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

There are few benchmark regression relates to ray client.
specifically:
`client__get_calls/client__put_gigabytes` regressed, whereas

[2022-03-28 18:26] scv119 commented on #23534
hey @ckw017 @mwtian can you find the right owner to investigate this?

[2022-03-28 19:00] mwtian commented on #23534
`client__get_calls`: 1584 (before) vs 1105 (now)
`client__put_gigabytes`: 0.13(before) vs 0.045 (now)

These could be related to the chunking changes. Maybe increasing the chunk sizes would help.

I think they should not block release, since Ray client is intended for interactive use cases. If any user complains, we can look into optimizations later. @ckw017 what do you think?

[2022-03-28 19:07] #19274 closed

[2022-03-28 19:39] ecm200 commented on #21617
Installing of `podman` into the container image, and running with the `--priveleged` option on the outer docker container has got me so far. But I have run up against a problem.

Does anyone have a feel for how `podman` works with the need to authenticate to private container repositories?

I have managed to get the `ray` cluster on Azure VMs to pull container images from a privately hosted image

[2022-03-28 19:45] #17382 closed

[2022-03-28 19:45] #20408 closed

[2022-03-28 19:45] #20493 closed

[2022-03-28 20:14] dynamicwebpaige commented on #23480
🙂 Thank you both for the clarification (in that the `+` and `-` additions to the code snippet indicate lines of code that have been changed, compared to Torch training).

+1 for having an end-to-end, testable example at the top of the section. Given that most users would probably be interested in a runnable code snippet when quick-selecting the `copy` button, would it be possible to have clicking

[2022-03-28 20:29] davidegraff commented on #23480
sidestepping the conversation about the readability of this block- I must be going crazy because when I run the following block:
[code]
I get an `AttributeError`. I'm confused why others aren't reporting this because `torch` isn't imported in the `train` top-level `__init__.py` file

[2022-03-28 20:42] davidegraff commented on #23480
I know I need to do that- that's how I've fixed it in my own code. But my point is this example from the docs is *broken*. Also, my two cents, the example is clear enough right now. I never thought to copy the plus and minus symbols into my own code to try and run it. I may not be bright, but I'm smarter than the average bear. A third penny, for those who want it, is that yes, it would be nice to

[2022-03-28 21:05] DmitriGekhtman commented on #23522
Thanks, @asm582 for opening the issue!
It's RFC for now, but I think it's very important.

Two interlocking questions
- What should Ray's implementation of "drain" be? (cc @rkooo567 @scv119)
- How should external scaling machinery (autoscaler, operators, etc.) use the drain api? (cc @wuisawesome @sriram-anyscale @yiranwang52 @me)

[2022-03-28 21:16] smorad commented on #22166
@gjoliver I'm wondering if huge models are a valid use case. In research, most practitioners use somewhere between 2-4 hidden layers. Are there any commercial users of RLlib that are concerned with truly deep models? If so, it makes sense to pursue this. If not, then I think efforts could be better spent elsewhere.

[2022-03-28 21:25] ankur6ue commented on #23423
I tried setting RAY_runtime_env_skip_local_gc to 1 but still getting random GCS errors:
error message: Failed to fetch URI gcs://_ray_pkg_bf5c39d1ac02aa14.zip from GCS.

They seem to be somewhat less frequent, but still occurring 25-30% of the time

[2022-03-28 21:33] dynamicwebpaige commented on #23480
+1, and thank you for flagging this! We appreciate the issue; and as @amogkam mentions, this should now be fixed in master. I apologize for hijacking the issue to talk about formatting. 🙂

You're brighter than you think! And there might be other users who get confused by the `+` / `-` symbols in examples. Speaking personally, knew not to try running them; but sure found it tedious to remove them f

[2022-03-28 21:39] asm582 commented on #23522
If this helps, I tried to work on such a policy here: https://github.com/ray-project/ray/pull/18761

[2022-03-28 23:03] ckw017 commented on #23534
Increasing chunk size for put should help on put_gigabytes. I agree, I think this is fine given client's expected usecase. We've already accepted similar performance losses to add the proxier server in the past.

[2022-03-28 23:13] gjoliver commented on #22166
totally agree. I only know 1 user who is using a network maybe 15 to 20 layers deep. mostly pretty small.
this is mostly for satisfying our own curiosity, like is there any artificial scenario we can create where this shows any kind of visible benefit?
otherwise, I wonder maybe we did something stupid before that breaks all these nice improvements ...

but obviously not super high priority. we can

[2022-03-28 23:18] mwtian commented on #23534
Sounds good. Closing the issue because the regression is not a release blocker.

[2022-03-28 23:18] #23534 closed

[2022-03-29 00:58] #23501 closed

[2022-03-29 01:05] mlguruz commented on #11098
@ijrsvt @ericl

Hi guys, like stated above, I think the issue is that when we run `ray down xxx` on local machine, it looks at the **local** `/tmp/ray/` dir for the state file to get the info of who's running and who's not, which is problematic when we run in docker (for local).

I came up a workaround which was to `rsync_down` the *actual* ray state file on the **head** node to local, and then ru

[2022-03-29 01:13] scv119 commented on #23533
Looks the latest test on the 1.12.0rc1 branch is fine:
https://buildkite.com/ray-project/release-tests-branch/builds/282#377ecbe3-af56-446b-932e-2020f08fe5c2
[code]

[2022-03-29 01:23] mlguruz commented on #23410
Hi Chen,
Sorry for the late reply.
After quite a bit of local debugging, I found out it was related to my firewall port issues.
I was seeing those endless raylet restarting logs b/c the firewall on the head node was blocking some of the worker ports.
Once I fixed it, I no longer saw the *endless* failure logs.
I still *occasionally* saw raylet failure sometime, but it was kinda flaky and I couldn'

[2022-03-29 01:25] scv119 commented on #23533
false alarm; actually we copied the wrong result.

[2022-03-29 01:25] #23533 closed

[2022-03-29 01:29] bveeramani commented on #23153
Closing because duplicate of #9233

[2022-03-29 01:29] #23153 closed

[2022-03-29 02:32] Purvak-L opened #23547 "[Feature] Scale down Ray serve deployments to 0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I want to have the control to scale down a model to 0 replicas when it's deployed using Ray Serve. Currently, the autoscaling_config in Ray serve doesn't allow min_replicas as 0. A nice to have will be to also control idle time per ra

[2022-03-29 02:32] Purvak-L commented on #23547
cc: @jiaodong

[2022-03-29 02:45] wuyeguo commented on #23528
Hi @krfricke
thank you for your tips.

I modify my code like this
[code]
but i get exception like this
[code]

my ray cluster has two node and the start cmd like this

[code]

[2022-03-29 05:14] goswamig opened #23548 "[BUG] Ray dashboard client failed to build"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

I tried to build the ray from source by following the official instruction from [here](https://docs.ray.io/en/latest/ray-contribute

[2022-03-29 05:20] goswamig commented on #23548
[npm-debug.log](https://github.com/ray-project/ray/files/8368270/npm-debug.log)

[2022-03-29 05:55] simon-mo commented on #23503
Another repro:
[code]

[code]
from @edoakes

[2022-03-29 07:14] maxpumperla opened #23551 "[Bug] [Tune] Some scheduler integration examples fail without useful errors when dependencies not installed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

when running e.g. `python tune/examples/blendsearch_example.py` after simply installing `pip install ray[tune]` users get this

[2022-03-29 09:22] luzgui commented on #23185
Hi @jwarley did you had any breakthrough on this issue?

[2022-03-29 10:45] frosk1 commented on #22954
@mwtian unfortunately the issue is not resolved.

 **line 265, in _get_actor for process in gpu_stats.get("processes", []): TypeError: 'NoneType' object is not iterable**

[2022-03-29 11:26] melonipoika opened #23554 "[Feature] Support for `worker_start_ray_commands` per node type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

It should be possible to have different `worker_start_ray_commands` for each node type in the cluster.

Ray already support different `worker_setup_comamnds` and `docker` for each note type [[1]](https://docs.ray.io/en/latest/cluster/

[2022-03-29 12:16] ijrsvt commented on #11098
cc @DmitriGekhtman I know you've worked with the `LocalNodeProvider` somewhat recently. What are your thoughts with synchronizing state from the head node -> launcher?

[2022-03-29 15:42] ecm200 opened #23560 "[Doc] Issue on page /cluster/config.html - Node Docker field description is wrong."
Under the `node_types` definition of the yaml configuration, the `Node Docker` fields are given as follow:

[code]

However, when executing a YAML configuration with a docker specification like above, it reports a configuration error:

[code]

It would appear the that the `Node Docker` configuration expects `worker_image` instead of `image` as specified in the docs.
The configuration API should re

[2022-03-29 17:04] jianoaix opened #23563 "[Release 1.12.0] rllib_learning_tests is failing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

rllib_learning_tests is failing at 1.12.0rc1 release test. It's blocking the release.

### Versions / Dependencies

1.12.0rc1

### Repr

[2022-03-29 17:23] architkulkarni opened #23564 "[jobs] [Feature] Support streaming job logs to stdout/stderr"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Right now job logs are streamed directly to log files, but we should support an option to stream the logs to stdout/stderr.  Should be configurable here: https://github.com/ray-project/ray/blob/77090144a22b89b6dda83840adace1fdf2407191

[2022-03-29 17:28] frosk1 commented on #22954
`gpu_stats` is a `ImmutableDict` with field prcesses seems to be None here and `not iterable`.

[2022-03-29 17:29] mwtian commented on #23529
I have ran through the Java release instructions twice, but it seems the jars are landing in the `JCentral` repo, without the Ray api jar either. Does anyone have ideas about how to fix that?

[2022-03-29 17:55] architkulkarni opened #23565 "[runtime env] [Feature] Add tests for failure scenarios"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

There are various parts in the runtime environments codepath that can fail due to network issues, including internal KV upload/download, remote storage download, and RPC calls.  We need to write a test for each of these failure scenar

[2022-03-29 18:17] scv119 opened #23566 "[Feature] Catch worker process exit status using SIGCHLD"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently when worker process exit abnormally we don't know the exit code. One way we get this information in raylet is to handle system SIGCHLD signal in worker_pool.

### Use case

_No response_

### Related issues

_No response_

#

[2022-03-29 18:35] architkulkarni opened #23567 "[runtime env] [Feature] Make Internal KV operations async"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently there are blocking internal KV operations in the runtime env agent (it’s blocking because it uses `globalstateaccessor::getinternalkv`, which uses `internalkvaccessor::Get` https://github.com/ray-project/ray/blob/e9755d87a64

[2022-03-29 18:39] richleigh commented on #23142
Sounds similar to an issue I spotted a few days back https://github.com/ray-project/ray/issues/23074

[2022-03-29 18:39] architkulkarni opened #23569 "[runtime env] Deflake `test_runtime_env_working_dir_2`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen
From  https://flaky-tests.ray.io/
<img width="1640" alt="Screen Shot 2022-03-29 at 11 38 31 AM" src="https://user-images.githubus

[2022-03-29 18:41] #20191 closed

[2022-03-29 18:42] architkulkarni commented on #20191
Tracked here https://github.com/ray-project/ray/issues/23569

[2022-03-29 18:45] architkulkarni opened #23570 "[runtime env] [Bug] Deflake `test_runtime_env_remote_uri`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

From https://flaky-tests.ray.io/
<img width="1630" alt="Screen Shot 2022-03-29 at 11 43 50 AM" src="https://user-images.githubus

[2022-03-29 20:24] simon-mo opened #23575 "[Bug] [Serve] [Tests] long_running_tests failed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/277#b83f0a62-1ba7-4e2f-8b3f-783e99307dd2

### Versions / Depend

[2022-03-29 22:11] simon-mo commented on #23492
I see. Sorry for the misunderstanding. If that's the case this is definitely a bug.

One clue is this `'accelerator_type:T4': 3.0, 'GPU': 6.0` in available resource line. Can you show the `nvidia-smi` output by any chance? Is there any other workload also consuming this acclerator?

[2022-03-30 03:51] #6184 closed

[2022-03-30 03:52] #18599 closed

[2022-03-30 04:13] raulchen commented on #23347
@lixin-wei could you also take look?

[2022-03-30 04:18] ZhijieWang opened #23581 "[Bug] Failed Serve Deployment are still registered, not cleanedup. Yet Couldn't list deployment."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### Issue Severity

Low: It annoys or frustrates me for a moment.

### What happened + What you expected to happen

Going through XGboost Ray Serve demo, serve failed due to a reference to local file.

[code]

It is related to https://github

[2022-03-30 04:30] iycheng commented on #20524
@lchu-ibm it's not about the runtime but about the job_id. Basically, logs will be pushed to the driver.
The driver of WorkflowManager is the script where the workflow.init runs.

The thing we need to do is to push the log to the right driver. All drivers listen to the log channel, so we just need to log to the right driver.

This means: 1) we need to understand how logging is working here. (you n

[2022-03-30 06:11] jovany-wang commented on #23529
![image](https://user-images.githubusercontent.com/19473861/160763146-3d0dd5ef-b686-4840-bca1-5497f716992d.png)

It seems to have been released successfully yesterday?

[2022-03-30 06:56] Arcadianlee opened #23582 "[Bug] Tensorboard w/ RLlib not plotting any data at all"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

Hi, my issue is that the result files (e.g. result.json, progress.csv) inside the _ray_results_ folder are all **empty**, meaning no tr

[2022-03-30 07:17] bveeramani commented on #23159
To implement this, you could call [`TorchBackend.decode_data`](https://github.com/ray-project/ray/blob/ray-1.11.0/python/ray/train/torch.py#L166) on the function output in [`session.finish`](https://github.com/ray-project/ray/blob/ray-1.11.0/python/ray/train/session.py#L93).

There was discussion about implementing this functionality in https://github.com/ray-project/ray/pull/20333#issue-105280107

[2022-03-30 07:32] guytenn commented on #9436
having the same problem, seem to happen randomly

[2022-03-30 10:40] Arcadianlee commented on #23582
update: installed latest version of TensorBoardX, and the problem persists.

[2022-03-30 12:48] pantelis commented on #16679
I can also confirm the bug for k8s deployment in the nightly py38 gpu container (pulled 3/28/22). Can I ask what ports need to be opened and how we can open them manually?

(base) ray@ray-cluster-1-ray-head-type-2m9pl:~$ ray debug
2022-03-30 05:42:52,739	INFO scripts.py:200 -- Connecting to Ray instance at 10.42.199.202:6379.
2022-03-30 05:42:52,739	INFO worker.py:946 -- Connecting to existing Ray

[2022-03-30 12:54] mikwieczorek opened #23587 "[Bug] Dask-on-Ray ray scheduler does not respect dask annotations / resource requirements"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Clusters

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

The problem is that when using Dask-on-Ray, the Ray scheduler does not respect resource requirements marked by `dask.a

[2022-03-30 13:13] WeiSHI7 opened #23588 "[Bug] Unstable Performance of SAC Trainer rllib from Ray 1.10.0 and 1.11.0, compared to Ray 1.1.0"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

Hi, I am using class SACTrainer from ray.rllib.agents.sac to solve

[2022-03-30 13:35] luzgui commented on #23185
@jwarley, I solved this issue using as a trainable just a `PPOTrainer` or a `DQNTrainer` instead of the `experiment` function

[2022-03-30 13:35] #23185 closed

[2022-03-30 15:04] etiennedub commented on #23492
Sorry, it is hard for me to reproduce at this time. When I did my tests, the 6 GPUs were delegate to Ray and no other process were running. Also, GPU memory was not an issue.

I also note that the number of `accelerator_type:T4` doesn't match the number of GPUs, when there are multiple GPUs per VM. I'm not really sure what it implied or if it's a bug.

[2022-03-30 15:48] wwoods commented on #13908
Also would like to use this to avoid pickle errors. However, sometimes I need to run a dynamic import directly via `importlib.machinery.SourceFileLoader` -- so a static list of imports that just get enumerated on the worker may not suffice. Some sort of setup function would be a lot more flexible.

[2022-03-30 16:04] nirvana-msu commented on #13908
You can put any code you want in a module that gets imported, so a static list of modules still covers this I would have thought. That is unless you want to pass some parameters to it.

[2022-03-30 16:19] wwoods commented on #13908
Fair point. Parameters are involved, though realistically that might just be bad code hygiene.

[2022-03-30 16:49] architkulkarni commented on #23423
Thanks for testing it out!  Very interesting to see these messages even with the GC turned off.  We'll try to reproduce this on our end.

[2022-03-30 17:47] krfricke commented on #20686
Let's hope this is fixed by #23277

[2022-03-30 17:47] #20686 closed

[2022-03-30 17:47] scv119 opened #23591 "[Nightly-test][Bug] scheduling_test_many_0s_tasks_many_nodes failing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

High: It blocks me to complete my task.

### What happened + What you expected to happen

scheduling_test_many_0s_tasks_many_nodes starts failing since 62414525f98e2eaeccdefa5d82a1a112e0c9f24a. Two consecutive failed runs

[2022-03-30 17:47] krfricke commented on #20911
Hope this is solved by #23277

[2022-03-30 17:47] #20911 closed

[2022-03-30 17:47] krfricke commented on #19895
Re-opening to track GCP-specific issues

[2022-03-30 18:01] stephanie-wang opened #23593 "[Datasets][enhancement] Use the same shuffle operator for all higher-level Datasets primitives"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Datasets currently exposes four shuffle-based APIs. These are:
- repartition
- random_shuffle
- groupby
- sort

Currently Datasets uses slightly different shuffle implementations for each of the shuffle-based APIs. Ideally, we should

[2022-03-30 18:06] simon-mo commented on #23581
This is fixed in https://github.com/ray-project/ray/pull/23476

[2022-03-30 18:07] stephanie-wang opened #23594 "[Datasets][Feature] Implement push-based shuffle in Datasets"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently Datasets uses a simple pull-based shuffle implementation where all map tasks store their outputs locally, then reduce tasks pull their inputs from the map nodes. This can cause problems in metadata overhead and I/O efficienc

[2022-03-30 18:08] scv119 commented on #23591
Looks very likely caused by https://github.com/ray-project/ray/commit/d1ef498638298a700b3224909c7c862a449cfa89

[2022-03-30 18:12] jjyao opened #23595 "[Scheduler] Spread scheduling is not spread enough during load"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

If we submit a lot of spread tasks to the raylet at once, the initial sets of tasks will be spreaded evenly until the cluster has no available nodes. After this, spread scheduling falls back to the default hybrid scheduling which is n

[2022-03-30 18:23] jjyao opened #23596 "[Bug][core] Node receives a stale object location update and fails to fetch object"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### Issue Severity

Medium: It contributes to significant difficulty to complete my task but I work arounds and get it resolved.

### What happened + What you expected to happen

When we do large scale data shuffle, occasionally we saw it fai

[2022-03-30 18:24] simon-mo opened #23597 "[Feature] [Serve] Document model weights rollout pattern"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We need documentation about how to rollout model weights frequently without re-deloying everything again in Ray Serve.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I a

[2022-03-30 18:26] jjyao opened #23598 "[Feature] Soft node scheduling strategy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

_No response_

### Use case

Instead of using node-ip custom resource hack, we propose to introduce a NodeSchedulingStrategy to pin tasks to nodes. More details can be found here: https://docs.google.com/document/d/1Cu0xjeYekn4-vjzh1P

[2022-03-30 18:26] ZhijieWang commented on #23581
thanks

[2022-03-30 18:26] HJasperson commented on #14533
Popping in to say that this issue still persists. In my case, tf1.enable_eager_execution was being called in evaluation/rollout_worker.py despite using "tf2" as the framework. The workaround (putting tf1.enable_eager_execution() at the top of every file) fixed the issue, but it took a hot minute to find this thread.

Ray version 1.11.0
Python version 3.9.12
TF version 2.7.0

[2022-03-30 18:29] simon-mo opened #23599 "[Serve] Tutorial and Tests for Framework Model Wrappers"
Currently we have a very generic model wrapper for Ray AIR. We need framework specific wrappers in tutorial and test them.

[2022-03-30 18:52] mwtian opened #23603 "[Shuffle] Profile driver memory usage"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

With current shuffle implementations, driver memory usage, and in particular ObjectRef memory usage in the driver, can scale quadratically with the number of partitions we use. We would like to profile / instrument driver memory usage

[2022-03-30 18:56] mwtian opened #23604 "[Shuffle] Reduce ObjectRef memory usage"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

From the results of past instrumentation on drivers during shuffle, ObjectRef takes up most of the memory usage in the drivers, especially when using many partitions. We would like to look into ways to optimize this usage, ideally mak

[2022-03-30 19:42] stephanie-wang commented on #23596
This is partially worked around in #23539 for cases where the node is trying to pull an object that it already has according to the object directory, but the root bug is not fixed yet.

[2022-03-30 21:01] kkr4353 opened #23611 "[Bug][Core] Issue on connecting to a worker node"
![ray problem](https://user-images.githubusercontent.com/55729394/160935652-0f8aa39b-d5fe-4cf6-b4ae-6547c2a5fc5c.PNG)

(base) C:\Users\nvina\Desktop>ray start --address=127.0.0.1:6379 --redis-password=''
Local node IP: 127.0.0.1
2022-03-30 17:22:35,502 WARNING node.py:1465 -- Unable to connect to GCS at 127.0.0.1:6379. Check that (1) Ray GCS with matching version started successfully at the specif

[2022-03-30 21:18] stephanie-wang opened #23612 "[Datasets][Feature] Speed up Datasets shuffle primitives with polars"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Datasets uses some baked-in single-threaded code to implement shuffle primitives (groupby, random_shuffle, sort) that we should speed up using a library like Polars. Initial prototype for a groupby max showed ~50x speedup during both

[2022-03-30 21:40] shrekris-anyscale commented on #23423
I believe `RAY_runtime_env_skip_local_gc` may have no effect. PR [#20789](https://github.com/ray-project/ray/pull/20789) seems to have removed the logic that skips garbage collection using that environment variable ([relevant diff](https://github.com/ray-project/ray/commit/32cf19a8815348894319fa2ea8f72c97861768f3#diff-d2f22b8f1bf5f9be47dacae8b467a72ee94629df12ffcc18b13447192ff3dbcfL302-L308)).

I