[2020-11-09 22:36] richardliaw commented on #11670
I think the schedulers will run, but I'm not sure if the behavior is expected (i.e., everything becomes a nan?)

[2020-11-09 22:41] viotemp1 commented on #11854
Yes, sure. I tested most search algorithms and for now  can say that the best results I had with NevergradSearch. The issue with that is that the have so many optimisers :)
Should I open a new issue/request?

This original issue regarding points_to_evaluate can be closed. It is clear and normal to use initial values in case of resume.

[2020-11-09 22:42] richardliaw commented on #11854
A new pull-request would be awesome!

[2020-11-09 22:47] viotemp1 commented on #11854
Here you got me :)
Never did this, not sure how to do it, sorry... But never too late to learn!

[2020-11-09 22:51] krfricke commented on #11854
You can just get started and we're happy to help if you get stuck. Also feel free to ping us on the community slack if you need any support with this!

[2020-11-09 22:52] krfricke commented on #11854
[Here's the link to slack](https://forms.gle/9TSdDYUgxYs8SA9e8) just to be sure

[2020-11-09 22:57] #10836 closed

[2020-11-09 22:57] #11417 closed

[2020-11-09 23:05] viotemp1 commented on #11854
OK. I joined slack (Vio Ubi) and will address my question about how to start from there.
Thanks, This current ticket can be closed.
Regards,

[2020-11-10 00:02] #11854 closed

[2020-11-10 01:36] architkulkarni opened #11898 "[Serve] create_backend causes ModuleNotFoundError in FastAPI app on multi-node cluster"
### What is the problem?
Calling `client.create_backend` in a simple FastAPI app (`minimal_repro.py` below) works with one node, but when using multiple nodes, gives the following error:

[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.0.0, Python 3.7, Linux (AWS cluster)
### Reproduction (REQUIRED)
Please provide a script that can be run to reprod

[2020-11-10 02:01] #9432 closed

[2020-11-10 02:11] barakmich commented on #11765
@wuisawesome +1 to upgrading to Redis >= 6.0.3 to unblock our enterprise users. Maybe we should break out upgrading Redis as a separate issue for tracking since we've already got #11371 in progress. Perhaps I was hasty earlier; my focus was on the security risks to Ray's users and didn't account for enterprise requirements.

To be clear for the community; this vulnerability (CVE-2020-14147) is not

[2020-11-10 02:48] simon-mo opened #11899 "[Autoscaler] Log error when using k8s provider"
Ray 1.0.1. I tried refactor the k8s yaml using resource demand scheduler but encountered this error when running ray up with it. It just log an error and carries on.

[code]

[code]

[2020-11-10 02:53] wuisawesome commented on #11899
cc @AmeerHajAli, this seems like it should be a simple fix. Btw little mistakes like this that are annoying to test are a good argument in favor of keeping this code wrapped in a try/catch + log instead of letting the error propagate.

[2020-11-10 02:59] simon-mo opened #11900 "[Autoscaler] Worker Node Type's `max_workers` is not validated"
### What is the problem?
Ray 1.0.1

I forgot to fill out the `max_workers` for my worker node type. The yaml passed validation and cluster launched. But autoscaler crashed when i'm trying to scale up the cluster.

[code]

[2020-11-10 03:55] xuehy opened #11903 "How to extract pytorch model weights from rllib?"
How can I export the pytorch policy model to pytorch jit file or `pth` file after trained with rllib `PPOTrainer`? I want to deploy the model to some critical environments where the ray framework is not allowed to be installed.

I have found that the model weights can be obtained by `PPOTrainer.get_policy().get_weights()`.
[code]
But how can I obtain the model structures so that I can rebuild the

[2020-11-10 04:02] franklsf95 opened #11904 "[CLI] Add option to `ray memory` to print object store usage for all nodes"
### Describe your feature request

Right now running `ray memory` only prints the memory usage info of the current node. Can we add an option so that it prints the memory usage info for **all** nodes?

Is it also possible to show a `used/total_available` statistic so that I can tell if the object store is (close to) full?

[2020-11-10 06:26] noprohuangqi opened #11906 "[tune] why one trial stops running when use pbt?"
### Describe your feature request

When I use PBT for training, for example there are four trials. And I found sometimes one trail will stop at one epoch  and other trials will work normally. Of course this can be solved by use `synch=True` , but I really want to know why this happend. I am sure this situation is not caused by resourse.Is it some internal mechanism in PBT that causes this problem?

[2020-11-10 07:13] amogkam commented on #11906
@noprohuangqi thanks for bringing this up; this is odd behavior and I don’t think it has to do with resources. Could you provide more info on your setup? Do you have any stopping conditions set? It would be great if you could share your code as well as the console output.

[2020-11-10 07:57] TommasoBendinelli commented on #11891
Sorry, I should have provided more details. I am using ray 1.0.0.
I have tried multiple times with and without adding workers but result was not changing.
What I notice, that to me was I bit unclear in the documentation, is that the commands specify in initialization, setup, heat_setup and head_start are not stateful.
For instance I have a python enviroment with ray installed in on folder, and I p

[2020-11-10 07:57] ericl commented on #11858
Can you make it so only the one agent gets the observation? Or finally agents have to act, but only one gets a reward?

I think another way of handling this is to define a custom postprocessor, or use the callback options, to rewrite the rollout batch to drop actions with noop rewards.

[2020-11-10 08:04] #10140 closed

[2020-11-10 08:27] karstenddwx commented on #11858
Yes, only one agent acts per step, so only one observation and reward per step and episode (because the episode consists of one step only).

I understand your proposals to workaround this issue.
But why not just fixing the existing rollout batch line 433. It's a one liner just ignoring None's when summarizing rewards and
it even better complies with the environment interfaces. I can create a pull

[2020-11-10 08:59] noprohuangqi commented on #10789
Yes,I update version to 1.0.0 and try `synch=True` mode , everything goes well.
THANKS.

[2020-11-10 09:54] OrlMat commented on #11239
Hi,

We did observed very similar behavior on our end after updating to 0.8.6 and 1.0.0. We mainly utilize PPO with custom build cluster consisting of four machines. We as well use custom environment. Problem gets more frequent after using PPO in multiagent configuration. We as well observed some correlation with `train_batch_size` - in current multiagent case value of `1024 * 256` works fine and

[2020-11-10 11:32] AmeerHajAli commented on #11899
@simon-mo @wuisawesome , this should have been fixed a few days ago right? Can you try the most recent nightly?
It is replaced with `logger.exception()`
https://github.com/ray-project/ray/blob/543f7809a6e81a346472662a1dcdf5d3263f6e27/python/ray/autoscaler/_private/util.py#L140

[2020-11-10 13:26] AmeerHajAli commented on #11899
I am not sure what is the problem here "It just log an error and carries on"? @simon-mo

[2020-11-10 14:04] #9579 closed

[2020-11-10 16:24] danuo opened #11913 "[rllib] ES and ARS agents cannot handle observation of type list"
### What is the problem?
There is a bug that occurs when training is done with either "ES" or "ARS" agent. When one uses a custom environment with observation of type `list` and `len(list)=1`, the training crashes. This is because internally, the list `observation = [0]` gets converted into type `int`, which many functions in place cannot handle. Here are some of the errors:
`box.py`:
[code]

###

[2020-11-10 16:32] simon-mo commented on #11899
Sorry I was try to say that it's bad UX. Users don't know what's going on and will think that they did something wrong.

[2020-11-10 16:44] simon-mo commented on #11900
cc @ray-project/ray-autoscaler

[2020-11-10 16:51] AmeerHajAli commented on #11900
can you please provide the yaml you used?
This should he been auto filed by the defaults.yaml.

[2020-11-10 16:59] simon-mo commented on #11900
Hi @AmeerHajAli, same yaml here: https://github.com/ray-project/ray/pull/11905#issuecomment-724461100

[2020-11-10 17:33] konichuvak opened #11917 "[tune] [wandb] Experiment checkpointing fails with `WandbTrainableMixin`"
### What is the problem?
Experiment checkpointing fails when `WandbTrainableMixin` is added to the `Trainable` base classes.
The [signature](https://github.com/ray-project/ray/blob/releases/1.0.0/python/ray/tune/integration/wandb.py#L392) of `WandbTrainableMixin.__init__` is `config, *args, **kwargs` which makes it look like a checkpointable function (i.e. it passes `func(config, checkpoint_dir=No

[2020-11-10 17:52] ag-tcm opened #11918 "[tune] Resume fails when using Repeater if last trial before resume is incomplete"
### What is the problem?

Using tune.suggest.Repeater does not work when trying to resume a search and leads to an error like this upon resume:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray Version: 1.1.0.dev0

### Reproduction (REQUIRED)

Run the script and let it run for a few trials. Then interrupt it. Uncomment the "resume" parameter to let r

[2020-11-10 18:46] LorenzoBottaccioli opened #11919 "[CORE] Starting many Actors increases RAM usage"
Hi,

I'm running a test script for understanding if the problem was my code but I get the same behaviour even with a dummy code like this.

[code]

If I increase the number of actors it eats up all the RAM and gives this warning

`	WARNING worker.py:1779 -- WARNING: 234 PYTHON workers have been started. This could be a result of using a large number of actors, or it could be a consequence of using

[2020-11-10 19:08] sergeivolodin commented on #9964
@richardliaw same thing

![image](https://user-images.githubusercontent.com/1012270/98719573-38321080-2390-11eb-86d1-563260117958.png)

![image](https://user-images.githubusercontent.com/1012270/98719657-513ac180-2390-11eb-944e-b67166913073.png)

![image](https://user-images.githubusercontent.com/1012270/98719703-5d268380-2390-11eb-8fef-d2f5736fd662.png)

![image](https://user-images.githubusercon

[2020-11-10 19:22] wuisawesome commented on #11899
There also shouldn't be an exception to begin with. `fillout_available_node_types_resources() missing 1 required positional argument: 'cluster_config'` This is clearly a minor bug (we should still pass a cluster config and have it do nothing, not throw)

[2020-11-10 20:33] Gekho457 opened #11920 "[autoscaler] ResourceDemandScheduler legacy yaml logic"
### What is the problem?

The two blocks of logic in `ResourceDemandScheduler._infer_legacy_node_resources_if_needed()` look like they are intended to be executed once per monitoring/autoscaling session. However, the `ResourceDemandScheduler` is reinstantiated in `StandardAutoscaler.reset()`, which is called during each autoscaler `update`. As a result, the logic is repeated during each update whe

[2020-11-10 20:34] Gekho457 commented on #11920
cc @wuisawesome @ericl

[2020-11-10 20:38] AmeerHajAli commented on #11920
Should be closed with #11802 .

[2020-11-10 21:10] roireshef commented on #11875
About the "The given NumPy array is not writeable" warning, I initially thought it's related to numpy arrays created at the environment custom logic as states to be returned, but further investigating it shows this is not the case, but rather it's referring to **the policy weights**. Reading the warning, it seems like the policy weights maintained by PyTorch are not rewritable. I wonder if it make

[2020-11-10 21:24] #11920 closed

[2020-11-10 21:34] roireshef commented on #11875
BTW, I'm using a slightly different setup, with:

- Ubuntu 16.04.5
- PyTorch 1.6.0
- Ray 0.8.7
- Python 3.6.8

[2020-11-10 21:52] simon-mo commented on #11920
The PR looks like a big PR. Can you push some hotfix so we can still use autoscaler master in the meantime?

[2020-11-10 22:38] roireshef commented on #10628
Hi @ericl

I was able to reproduce and track it to a race condition for reading and writing from/to the class variable I'm using to store the value function estimate in my TorchModelV2, let's call it `self.last_value`. The problem is that by the time a thread runs:
1. TorchModelV2.forward()
2. TorchModelV2.value_function()

another thread could override the `self.last_value` by calling TorchModelV

[2020-11-10 23:06] roireshef commented on #10628
@ericl , @sven1977 - I tried to look for a use case where value_function() is called independent of the forward() call, but it seems like they are always called together, one after the other. I assume you were trying to save computation by decoupling them...? But the fact is that same design that decouples between the two really limits the performance of PyTorch + A3C.

**Is it worth recoupling th

[2020-11-10 23:14] richardliaw commented on #9919
(I'm rebranding this issue for Ray Tune + RaySGD placement group integration)

A current draft of this is here, though I think it is still not done: https://github.com/ray-project/ray/pull/11061/files

cc @oliverhu

[2020-11-10 23:29] hanming-lu opened #11921 "[autoscaler] Does autoscaler prune idle nodes with alive actors?"
### Describe your feature question
I am trying to understand the behavior of autoscaler. When autoscaler is scaling down the cluster by removing idle nodes, does it remove an idle node even if that node hosts some alive actor? If so, how?

It will be great to provide some pointers to where the code is. Thanks!

Best,
hanming

[2020-11-11 00:00] #11921 closed

[2020-11-11 00:29] ericl commented on #9432
@DMTSource if you're still running into this, it should be fixed in the nightly wheels. Let us know if the issue still happens!

[2020-11-11 00:58] danuo opened #11924 "[rllib] ES and ARC agents cannot utilized custom environment in rollout.py"
### What is the problem?
When performing a rollout with rollout.py, one cannot pass a custom environment directly into the function. Instead, a custom environment needs to be registered with ray.tune.registry.register_env() which then can be called by it's name. This works fine with most of the agents, specifically those which use workers. This approach fails for the agents ES and ARC, as shown be

[2020-11-11 01:23] ijrsvt opened #11925 "[Docker] Cannot import ruamel.yaml on ray Docker images"
### What is the problem?
* I cannot run `python -c "import ruamel.yaml"`, but when I run `pip install ruamel.yaml` it claims it is already installed.
* `pip show ruamel.yaml`
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external li

[2020-11-11 01:26] richardliaw commented on #11925
sounds like a path issue? `python -c 'import sys; print(sys.path)'`

[2020-11-11 01:26] ijrsvt commented on #11925
Solution:
[code]

[2020-11-11 01:28] ijrsvt commented on #11925
@richardliaw The part that is weird is that before the `conda install`, the directory `root/anaconda3/lib/python3.7/site-packages/ruamel_yaml` existed **and  `import ruamel_yaml` worked**.

[2020-11-11 01:30] ijrsvt commented on #11925
The output is also:
[code]
and `$PATH` is:
[code]

[2020-11-11 01:46] sergeivolodin commented on #9964
@richardliaw is there a way to attach a Python debugger to a ray worker, preferably from an IDE like PyCharm?

[2020-11-11 02:00] richardliaw commented on #9964
There's now a Ray PDB tool: https://docs.ray.io/en/master/ray-debugging.html?highlight=debugger

[2020-11-11 02:10] richardliaw commented on #11918
Hmm, i think the reason is `save/restore` isn't yet implemented for the Repeater. This should be an easy thing to implement; would you be interested in making a contribution?

[2020-11-11 02:19] richardliaw commented on #11917
Hmm, I think rather we should just detect that the input is a Trainable class and return False in `detect_checkpoint_function`. Would that make sense?

cc @krfricke

[2020-11-11 02:55] rkooo567 commented on #11919
By default, actor's remote task sets num_cpus=0. That says, you can oversubscribe actors if you create a lot of them.

Each actor needs a single process to be started. Some solutions;

1. Use many nodes to start many actors and set `num_cpus` to avoid oversubscription. For example,
[code]

[2020-11-11 02:56] #11919 closed

[2020-11-11 02:56] devin-petersohn commented on #11765
This has not been independently verified by NIST. The links on the NVD are there for information only and are links to third party resources. It should be up to the user whether to accept these third party opinions, and we should be careful not to obfuscate the fact that NIST has this CVE classified as up to (excluding) Redis 6.0.3, which means Ray is currently vulnerable (scroll to the bottom of

[2020-11-11 02:57] rkooo567 commented on #11903
cc @ericl

[2020-11-11 02:57] rkooo567 commented on #11904
That sounds like a good idea. Btw, this is already all available if you use the dashboard. (But I agree to port this to CLI).

[2020-11-11 03:29] konichuvak commented on #11917
That works! We can add the following check to `detect_checkpoint_function`:
[code]

However, if the definition of checkpointable function always requires just 2 arguments (config, checkpoint_dir), then we could replace the try/except block with a direct check.

That is, we can use
[code]
instead of
[code]
I could take a stab at PR in case either of the two looks reasonable.

[2020-11-11 04:07] richardliaw commented on #11917
Hmm, yeah I think option 1 is more robust, so let’s do that. Ping me if you
need help with anything!

On Tue, Nov 10, 2020 at 7:29 PM konichuvak <notifications@github.com> wrote:

[2020-11-11 04:07] oliverhu commented on #9919
👍

Placement group is a very good to have for SGD (at least for tf) to avoid starvation and deadlock.

[2020-11-11 06:03] PratimaGupta commented on #3940
i am facing below error in sagemaker .Can someone help me with this
predictions = []
for item in np.array(vectors.todense()):
    np.shape(item)
    results = ntm_predictor.predict(item)
    predictions.append(np.array([prediction['topic_weights'] for prediction in results['predictions']]))

predictions = np.array([np.ndarray.flatten(x) for x in predictions])
topicvec = train_labels[newidx]
topicn

[2020-11-11 06:29] rkooo567 commented on #11688
I am working on this now.

[2020-11-11 07:30] richardliaw commented on #9021
@rkooo567 the formatting for the bot is off

[2020-11-11 07:31] rkooo567 commented on #9021
My bad. Let me fix rn. (Will double check with markdown)

[2020-11-11 07:44] #11760 closed

[2020-11-11 08:34] TanjaBayer opened #11932 "[Dashboard] Blank screens when clicking on expand buttons"
### What is the problem?

#### Setup
* ray 1.1.0.dev0
* python 3.7
* multinode-setup (2 nodes) in docker on mesos dcos (but I can also reproduce it in single node setup)
* Browser: chromium browser Version 86.0.4240.75 on ubuntu 18.04

After starting a node screen turns blank and console error appears:
![image](https://user-images.githubusercontent.com/30770185/98787874-5afc0d80-2400-11eb-8ef4-a9a

[2020-11-11 08:39] #9423 closed

[2020-11-11 10:29] AmeerHajAli commented on #11900
should be fixed here:
https://github.com/ray-project/ray/pull/11802

[2020-11-11 10:29] #11900 closed

[2020-11-11 10:43] AmeerHajAli commented on #11899
When I run this on the provided yaml, I get the following error:
`jsonschema.exceptions.ValidationError: 'resources' is a required property`

[2020-11-11 10:51] timost1234 opened #11936 "[tune] Multiple population base training (PBT) problems with TF2"
Hi, I am using the population based training in ray tune with TensorFlow 2.3, there are 3 questions I have encountered.

1) During the training progress, every time the perturbation happens, the iteration was also reset to 0. I don't think this was working correctly. I have tried to modify the `_init_ self.iteration`  in `TuneReporterCallback` to 25 and `initial_epoch=50` in `model.fit`, however,

[2020-11-11 10:52] sven1977 commented on #10628
@roireshef Here is a PR that may fix this issue: https://github.com/ray-project/ray/pull/11935
Waiting for tests to pass.

[2020-11-11 10:52] AmeerHajAli commented on #11899
Closing this as it is resolved here:
https://github.com/ray-project/ray/pull/11628

Note that we keep the logger.exception to figure out bugs like this and to warn the users if things are wrong.
For example, this should log an exception if someone is using staroid but it is not installed on his laptop.

[2020-11-11 10:52] #11899 closed

[2020-11-11 11:28] SanaIRnI commented on #11715
Hi @kfstorm ,
After making almost every class Serializable in my application I am getting below error :

java.lang.RuntimeException: java.lang.RuntimeException: Class java.lang.reflect.Method does not implement Serializable or externalizable
        at io.ray.runtime.serializer.MessagePackSerializer.encode(MessagePackSerializer.java:243)
        at io.ray.runtime.serializer.Serializer.encode(Seria

[2020-11-11 11:31] AmeerHajAli commented on #11891
hi @AmeerHajAli , I looked into this.
can you try using latest yaml file: https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/local/example-full.yaml with the later ray version?
set the worker_ips to [] and the head_ip to 138.131.217.158.
you should also source the anaconda from bashrc not in setup commands.
I think the docker container will resolve this issue too.
It worked for m

[2020-11-11 11:31] #11891 closed

[2020-11-11 11:54] kfstorm commented on #11715
@SanaIRnI Can you try wrapping java.lang.reflect.Method like https://stackoverflow.com/a/13086760/2671861? BTW, what's the root cause you need this proxy approach? Why not create ParentActor actors remotely?

[2020-11-11 12:03] amogkam commented on #11936
Hi @timost1234 thanks for raising this issue! All of these seem very odd and could potentially be bugs on our end. Do you have a script I could run to reproduce these issues? I can then investigate further. Also what version of Ray are you using?

[2020-11-11 12:17] roireshef opened #11940 "Dashboard failures with include_dashboard set to false"
Running Tune with A3C fails straight at the beginning with the following traceback:
[code]

**This is obviously a dashboard related exception, which is unexpected since include_dashboard is set to False.
It might be related to https://github.com/ray-project/ray/issues/11943 but it shouldn't happen if this flag is set to False, so it's a different issue.
**

*Ray version and other system informatio

[2020-11-11 12:21] roireshef commented on #11940
Although this is documented in https://docs.ray.io/en/master/configure.html?highlight=ports#ports-configurations
when running ray.init() without "ray start" beforehand, the include_dashboard flag doesn't work well

[2020-11-11 12:44] roireshef commented on #11940
This actually happens even if I run "ray start" with "--include-dashboard=false"

[2020-11-11 12:53] roireshef opened #11943 "Failure to connect to Redis when running in a docker container"
When running in a docker container, the address resolution results with the docker container IP and not the physical machine's IP, which results in the following traceback (*** are hidden fields for security reasons):
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray installed via https://docs.ray.io/en/master/development.html#building-ray-python-only

[2020-11-11 13:01] roireshef commented on #11943
Looks like the root cause is in https://github.com/ray-project/ray/blob/master/python/ray/_private/services.py#L187
I'll open a PR for that

[2020-11-11 13:42] #9253 closed

[2020-11-11 13:42] #9238 closed

[2020-11-11 14:08] TommasoBendinelli commented on #11891
Yeah, I think docker is the solution. What I would suggest is to make sure to specify in the documentation that the docker container is needed for running the cluster properly

[2020-11-11 14:16] AmeerHajAli commented on #11891
@TommasoBendinelli , thanks for pointing this out. I think that you can overcome this challenge in the setup commands by setting up the cluster with the necessary environments. We generally provide our example yaml with the docker image.

[2020-11-11 15:30] ivallesp commented on #10733
Same problem here... Any workaround?

[2020-11-11 15:31] HarvinderBhullar commented on #11783
The issue turns out be to in my code as I mentioned code_paths=['.']. Since I was running the code in the root folder, it was trying to pickle all the files in the current directory and hence taking for ever. I am closing this issue.

[2020-11-11 15:31] #11783 closed

[2020-11-11 15:54] timost1234 commented on #11936
Hello @amogkam.  Thanks for your prompt reply.

I am using ray version 1.1.0.dev0. Please find the full script as well as some output in [this colab file](https://colab.research.google.com/drive/1VMn77tU3DQCg--006tAe-kEIGGiIqBVx?usp=sharing). I also state the problems again in the file. Hope these will be helpful.

BTW, I really like `ray tune`. Is there any document explaining how this library wa

[2020-11-11 17:05] mfitton commented on #11932
@TanjaBayer Thanks for reporting this. @ijrsvt hit the same issue. I'm working on a fix for this now.

[2020-11-11 17:06] DavidMChan commented on #9333
Bumping this to remove the stale label. .

[2020-11-11 17:28] rkooo567 commented on #11940
This looks like a bad bug. @mfitton can you take a look at it?

[2020-11-11 18:03] amogkam commented on #11936
Hi @timost1234 just briefly looking at your Colab notebook, I think one issue is that checkpoints are not properly being used in your training function. See this guide for an in-depth example, https://docs.ray.io/en/latest/tune/tutorials/tune-advanced-tutorial.html#function-api-with-population-based-training, but your `tune_model` function needs to accept an additional `checkpoint_dir` arg to load

[2020-11-11 18:41] hartikainen opened #11947 "[tune] tune fails with deeply-nested configs due to `unflatten_dict`"
### What is the problem?
Tune fails when using >2 levels deep configs.

*Ray version and other system information (Python version, TensorFlow version, OS):* 543f7809a6e8

### Reproduction (REQUIRED)
Add deeply-nested value, such as `"a": {"b": {"c": {"d": tune.choice([1, 2])}}}` to the BOHB config here:: https://github.com/ray-project/ray/blob/396ae0b7c2af310cffdd078570893fc87173eb93/python/ray/tu

[2020-11-11 18:43] krfricke commented on #11947
Thanks for this issue, I'll look into this tomorrow.

[2020-11-11 18:47] krfricke commented on #11947
Awesome, thanks for the PR. We'll merge it once the tests pass

[2020-11-11 19:10] juliusfrost commented on #9418
This question is still unanswered!

[2020-11-11 19:12] richardliaw commented on #7989
`tune.run(resume=)` should work for this.

[2020-11-11 19:26] krfricke opened #11950 "[core] Stale file handles in the plasma object store take up disk space"
### What is the problem?

When loading large data sets (200GB) into memory and storing (parts of it) in the object store, Ray starts to occupy disk space for the object store file. This disk space stays occupied when the program exits.

`issue.yaml`
[code]

`issue.py`
[code]

Before:
[code]

While creating dataframe: free -m memory increases (up until 80GB)
/dev/shm stays the same

After storing t

[2020-11-11 19:31] krfricke opened #11951 "[autoscaler] restarting ray with `ray up` switches object store location from /dev/shm to /tmp"
### What is the problem?

Restarting the ray runtime on a cluster that uses docker with shm moves the plasma object store location to /tmp.

After starting the cluster the first time (scroll to end):
[code]

[code]

After restarting (scroll to end):
[code]

`issue.yaml`
[code]

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no e

[2020-11-11 19:45] #9125 closed

[2020-11-11 19:50] richardliaw commented on #9048
You can do this with the Ray Client API (https://docs.ray.io/en/master/tune/api_docs/client.html#tune-client-api).

[2020-11-11 19:50] #9048 closed

[2020-11-11 19:50] #9196 closed

[2020-11-11 19:54] richardliaw commented on #8332
https://docs.ray.io/en/master/tune/tutorials/overview.html#how-can-i-reproduce-experiments should work.

[2020-11-11 19:54] #8332 closed

[2020-11-11 19:59] richardliaw commented on #7932
Will close this issue as there's no action to be taken I think.

[2020-11-11 19:59] #7932 closed

[2020-11-11 20:00] #7871 closed

[2020-11-11 20:13] ijrsvt commented on #11951
What is the output near the actual  `ray start` ?
Is there a message like:
[code]

[2020-11-11 20:14] mfitton commented on #11932
@rkooo567 I just made a PR to fix this: https://github.com/ray-project/ray/pull/11954 could you take a look when you have a chance? I'll check back to make sure tests pass CI in an hour or so.

[2020-11-11 20:16] mfitton commented on #11940
Yep, I'll take a look. Thanks for reporting @roireshef and apologies for the inconvenience. We're moving to a new dashboard backend that's currently in the nightly, so your bug report is really helpful as far as helping iron out issues before we roll this out more broadly.

[2020-11-11 20:33] utke1 commented on #11166
works for me now with new 1.0.1 release.

[2020-11-11 20:40] Pagariya opened #11955 "[rllib] Issue with changing name of checkpoint save file"
Hello, I am using Rllib for some of our research. While working with RLlib we want to change the name of the file (Checkpoint_{}) where the checkpoint is saved with the .save() function. How can I achieve this?

Thanks
Anshul

[2020-11-11 21:16] mehrdadn commented on #9117
This bug is definitely not fixed...

[2020-11-11 21:36] krfricke commented on #11951
Yep, there is:

[code]

[2020-11-11 21:37] ijrsvt commented on #11943
@roireshef Quick question, what networking options are you applying to the Docker container?

[2020-11-11 21:38] ijrsvt commented on #11951
@krfricke Was the cluster up when you added the `run_options`? You might need to `ray stop` and `ray up` again if that is the case.

[2020-11-11 22:01] Yatagarasu50469 commented on #7932
Issue appears to be resolved as of 1.0.0 release.

[2020-11-11 22:03] richardliaw commented on #9327
Yeah, maybe this should be added to this page: https://docs.ray.io/en/master/cluster/aws-tips.html#aws-cluster

[2020-11-11 22:06] krfricke commented on #11951
Yes it was. I think this is actually related to #11950: `/dev/shm` is still occupied by 30 GB of stale file handles, which are cleared only after ray is restarted.
Is the size of /dev/shm checked after `ray stop`?

[2020-11-11 22:30] mfitton commented on #11940
I've noticed this is because in the new dashboard architecture we start-up the dashboard agent regardless of whether `include_dashboard` is specified. This could be because the dashboard agent is the entity that receives ray stats via GRPC for export to Prometheus.

@fyrestone I'm planning on creating a PR to make the dashboard agent not start when `include_dashboard` is false. Am I missing any is

[2020-11-11 22:31] rkooo567 commented on #11940
The immidiate issue I noticed is people cannot export metrics?

[2020-11-11 22:34] ijrsvt commented on #11951
@krfricke Oh shoot! I meant `ray down` from your laptop to tear the cluster down.

[2020-11-11 22:34] mfitton commented on #11940
Yep, that's true, they wouldn't be able to export metrics without running the dashboard.

[2020-11-11 22:36] rkooo567 commented on #11940
I think that’s not ideal though. I can imagine users who want to export metrics while they don’t have the dashboard

[2020-11-11 22:39] mfitton commented on #11940
Yeah. It's kind of a general problem that people might want to run certain backend dashboard modules without running the actual web ui. Especially when more APIs are introduced that are accessed via the dashboard.

That said, the main reason to want to not run the dashboard is performance-oriented, as it generally won't cause any other issues to have it run.

We might want to eventually move to an

[2020-11-11 22:40] mfitton commented on #11940
Not sure what the best thing to do is for now. I can't repro the issue yet because the repro script is incomplete, but I would be surprised if the dashboard warning message is actually causing the training to fail. I'm going to try to search for where the `A3CTrainer` comes from.

[2020-11-11 22:45] richardliaw commented on #11955
I think this is not possible. What is your use case?

[2020-11-11 22:46] rkooo567 commented on #11950
What does it mean by "when the program exits" btw? Currently, when your driver is done all the workers that are started by that job should be killed. (as of 1.0.1).

[2020-11-11 22:46] mfitton commented on #11940
I found `A3CTrainer` in `ray.rllib.agents.ac3`. That said, the provided script fails with the error
[code]
@roireshef I'm happy to keep looking into this, but I need you to provide a script that is runnable as-is. I doubt that the dashboard error message you're seeing is impacting training, as the two processes should run separately and not overlap / crash one another.

[2020-11-11 22:55] #11932 closed

[2020-11-11 23:00] rkooo567 commented on #9324
The feature request still relevant.

[2020-11-11 23:01] rkooo567 commented on #11940
@mfitton This issue should be reproducible without the tune code right?

[2020-11-11 23:01] rkooo567 commented on #11940
Also about the solution; We can probably collect stats only when the include_dashboard is set to be True.

[2020-11-11 23:41] architkulkarni commented on #11898
Suggested by @simon-mo, a workaround is to move the definition of `f` into the body of the startup event function.

[2020-11-12 01:32] rkooo567 commented on #8794
Close as the issue is resolved

[2020-11-12 01:32] #8794 closed

[2020-11-12 01:32] jiangtianli91 opened #11959 "Class attribute in ray actor cannot be accessed/copied"
### What is the problem?

Ray actor fails to access class attributes.

*Ray version and other system information (Python version, TensorFlow version, OS):*
```ray 1.0.0```
```Python 3.7.7```
### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have
[code]

[code]
If we cannot run your script, we cannot fix your issue.

- [x] I have verified

[2020-11-12 02:16] ericl commented on #11765
@aregm #11371 fixes this in nightly Ray; can you verify the issue no longer exists in the latest wheels?

[2020-11-12 02:27] fyrestone commented on #11940
@mfitton The traceback shows that agent can't register to raylet, it seems that the raylet process has been crash. The dashboard process is the head role, if the dashboard is not started, then the agent just collects stats and not report to dashboard directly (but publish to redis).

[2020-11-12 02:32] #11789 closed

[2020-11-12 02:41] rkooo567 commented on #8969
We are in progress of improving this by adapting pluggable GCS interface. Will close the issue as it is responded!

[2020-11-12 02:41] #8969 closed

[2020-11-12 02:54] #8826 closed

[2020-11-12 04:28] #10817 closed

[2020-11-12 05:40] brorro commented on #11166
It happens to me after I upgraded ray to 1.0.1 from 1.0.0

[2020-11-12 05:57] 4everZard commented on #11166
Happens to me as well.

[2020-11-12 06:42] rkooo567 commented on #8643
Hi, @mnicstruwig I assume you are still blocked?

[2020-11-12 06:44] rkooo567 commented on #8243
Hi, @jenniew did you figure out anything? I’d like to follow up the conversation if you didn’t.

[2020-11-12 06:44] rkooo567 commented on #7741
This must be a bug in this case? @ijrsvt again

[2020-11-12 07:08] mnicstruwig commented on #8643
Hi @rkooo567, I'd forgotten to close the issue -- it has apparently resolved itself since the latest v1.0 release. Thanks for following up!

[2020-11-12 07:08] #8643 closed

[2020-11-12 07:09] ppdollhhh opened #11962 "[Serve] Inference model use gpu problem"
My project use ray serve as Inference model deployment.

GPU: 2 * tesla P4
ray: 1.0.0
create_backend() args:   ray_actor_options={"num_gpus":  0.15}, config = {"num_replicas": 5}

I found that only gpu1 is used ,  but I intend to  allocate 5 replicas to gpu0（2） and gpu1（3）

How can I do it?

Thx

0  Tesla P4            Off  | 00000000:03:00.0 Off |                    0 |
| N/A   42C    P8     7W /

[2020-11-12 07:13] rkooo567 commented on #11959
This is an interesting issue. It seems like it only happens when we send serialized objects to other processes.

[code]

As you can see
[code]
works.

[2020-11-12 07:14] rkooo567 commented on #11959
cc @robertnishihara Have you seen similar issues before?

[2020-11-12 07:14] #11962 closed

[2020-11-12 07:27] LianShuaiLong opened #11963 "ModuleNotFoundError: No module named 'dataclasses'"
### What is the problem?
when i import ray
ModuleNotFoundError: No module named 'dataclasses'  occurs

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray=1.0.0
### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If

[2020-11-12 07:28] rkooo567 commented on #11963
cc @architkulkarni

[2020-11-12 07:28] rkooo567 commented on #11963
This might be resolved in 1.0.1.

[2020-11-12 07:39] LianShuaiLong commented on #11963
when i upgrade ray to 1.0.1 ,this problem still occurs:
   from ray import tune
  File "/opt/conda/lib/python3.6/site-packages/ray/tune/__init__.py", line 2, in <module>
    from ray.tune.tune import run_experiments, run
  File "/opt/conda/lib/python3.6/site-packages/ray/tune/tune.py", line 7, in <module>
    from ray.tune.analysis import ExperimentAnalysis
  File "/opt/conda/lib/python3.6/site-pa

[2020-11-12 07:47] richardliaw commented on #11963
@LianShuaiLong You need to run `pip install 'ray[tune]'`. We should fix the error message..

[2020-11-12 08:22] LianShuaiLong commented on #11963
thanks

[2020-11-12 08:22] #11963 closed

[2020-11-12 08:32] timost1234 commented on #11936
Hi @amogkam I exposed the `checkpoint_dir` per the tutorial, however, it didn't seem to work. [Here](https://colab.research.google.com/drive/1Hv8R7kHhRJdvZ-pSR9nVA2BVTxwGGQAw?usp=sharing) are the revised script. Thanks again for your help.

[2020-11-12 09:15] peldszus commented on #9059
I ended up getting the coverage in unit tests using local_mode and used the integration tests only for testing the integration. :)

I will close this now. Thanks! :)

[2020-11-12 09:25] krfricke commented on #11951
Yes, that works. However I was under the impression that running `ray up` on a running cluster is a viable way to just restart the ray runtime (and run setup commands etc), in fact I was using this quite a lot to save time on node startups.

[2020-11-12 09:26] jingjiwuwei opened #11965 "[core] clear the shared memory"
How to clear the object shared memory after using it  in Ray?Thanks

[2020-11-12 09:28] krfricke commented on #11950
The disk space stays occupied when the program exits, no matter if gracefully or due to an error. With the reproduction script above (`issue.py`) no ray worker or task is started at all, only the object store is partially filled, which seems to lead to the spilling to disk.

[2020-11-12 09:49] LianShuaiLong opened #11966 "ValueError: After taking into account object store and redis memory usage, the amount of memory on this node available for tasks and actors (-0.01 GB) is less than 0% of total. You can adjust these settings with ray.init(memory=<bytes>, object store memory=<bytes>"
### What is the problem?
when i run ray in ML platform,

[code]
occurs
can you tell me the approximate value of memory size /object store memory i should set  ?
thanks

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependen

[2020-11-12 11:19] jenniew commented on #8243
No, I didn't figure out. Can some ray contributor look at this issue?

[2020-11-12 11:36] Purpleslz opened #11967 "[rllib] How does rllib sync torch model buffers in distributed learning?"
In https://github.com/ray-project/ray/blob/master/rllib/policy/torch_policy.py#L337
[code]
It only cares parameters with gradients, how does rllib sync model buffers(normalization parameters, which does not have grads) ?

[2020-11-12 11:43] PidgeyBE commented on #11080
Also
[code]
When using autoscaling in ray 1.0.1

cc @ericl

[2020-11-12 12:27] #8699 closed

[2020-11-12 12:28] #8360 closed

[2020-11-12 12:35] zawaki opened #11969 "[rllib] Out of (GPU) memory when trying to initialise a PPOTrainer"
I am unable to run the simple cart-pole demo:

[code]

However, I am able to use PPO in the context of tune - i.e. the following code runs fine:

[code]

The first instance crashes with the following output:

[code]

For reference, the context of this problem is that I would like to load a checkpoint from a custom custom environment trained using a custom TF model (which can be trained without err

[2020-11-12 12:35] Glaucus-2G commented on #8699
I'm sorry not to reply at soon.

I have read all codes about the environment and tried again and again.  It turns out that there is a circular reference.

If someone also wants to encapsulate a complex environment which you are not familiar with, please take environment as a black box.

Finally, thank you for your help

[2020-11-12 12:36] iamhatesz opened #11970 "[rllib] RNN model receives empty state/seq_lens when upgraded from 1.0.0 to 1.0.1"
### What is the problem?

A classical PyTorch RNN model (without `RecurrentNetwork` wrapper) does not receive proper `state` and `seq_lens` values after upgrading from Ray 1.0.0 to 1.0.1.

*Ray version and other system information (Python version, TensorFlow version, OS):* Ubuntu 20.04, Ray 1.0.0/1.0.1, PyTorch 1.6/1.7

### Reproduction (REQUIRED)

This code works in 1.0.0, but it doesn't in 1.0.1

[2020-11-12 12:48] iamhatesz commented on #11970
From my investigation in 1.0.1 `compute_actions_from_input_dict` from `TorchPolicy` is being called instead of `compute_actions`, which populates `state` and `seq_lens` in a different way (not populating them at all in my case :)).

[2020-11-12 13:05] zzchuman opened #11971 "[rllib] PPO ICM learning rate"
Hello, I know the default ppo learning rate is 5e-5, default curiosity learning rate is 0.001.
I just want to know whether the two learning rate are same?

If I use curiosity in ppotrainer, how do I set it?
Thank you!

[2020-11-12 13:19] roireshef commented on #11940
@mfitton I can't attach the original script I'm using because it relies on a custom environment I developed which I can't expose its code outside of my company, I hope you understand. That said, I don't think this issue is related to the environment or RL algorithm implementation at all. Try to use **any environment** you have in hand. If you run it inside a docker container like I do, I'm pretty

[2020-11-12 13:20] ivallesp commented on #10733
@ericl is there any hacky way of exporting the model and having a different name for that placeholder so that I can use it?

If I manage to do that, what should I pass as arguments for default_policy/Placeholder:0, default_policy/Placeholder_1:0?

[2020-11-12 13:22] roireshef commented on #11940
Guys, if I may, from my perspective having metrics written to the logs files so they can be viewed in Tensorboard is crucial, regardless if the web dashboard is working on not. I would kindly like to ask not to break this functionality, I believe it's being heavily used by others as well...

[2020-11-12 13:25] roireshef commented on #11940
@mfitton - could you please point me to where you are starting it so I could disable it as a local hotfix? If I do that, will it disable metrics as well? or is there any way around it?

[2020-11-12 15:02] roireshef commented on #11943
I'm passing to Ray all the port configurations in https://docs.ray.io/en/master/configure.html#ports-configurations manually and making sure to have docker set up with port forwarding for all of those ports, if that's what you are asking.

If not, please be more specific on what parameters you want to know about...

[2020-11-12 15:05] roireshef commented on #11943
Please be aware that running `hostname --ip-address` inside docker gives a different result (docker container virtual IP) than running this same command outside docker on its host machine (which will then result with the machine's IP)

[2020-11-12 15:12] jdavid04 commented on #7924
Hi, did anybody get a chance to look at this issue?

[2020-11-12 15:17] Pagariya commented on #11955
We are using it for Robotic Arm Control. We want to change the name of the checkpoint with the name having some metadata of training.

[2020-11-12 15:33] iamhatesz commented on #11970
The reason why I am using a pure `TorchModelV2` instead of a `RecurrentNetwork` was described by me in #8099.

[2020-11-12 16:09] ijrsvt commented on #11943
@roireshef That is what I'm looking for. I've usually run Docker with` --net=host`. Does using that option avoid this problem?

[2020-11-12 16:12] ijrsvt commented on #11943
cc @ericl Can you provide any context here?

[2020-11-12 16:16] ijrsvt commented on #11951
`ray up` will restart the ray runtime, but to change docker configuration (i.e. add `--shm-size`), you need to restart the docker runtime :/

[2020-11-12 16:22] krfricke commented on #11951
So the problem here is that I didn't change anything. I.e. `--shm-size` was set all the time, but only lead to using /dev/shm on the first start, not the second. Though it seems this is just due to `/dev/shm` still  being occupied by the object spilled from the last session.

[2020-11-12 16:43] #11947 closed

[2020-11-12 16:48] #8245 closed

[2020-11-12 16:52] richardliaw commented on #8538
This is fixed :)

[2020-11-12 16:52] #8538 closed

[2020-11-12 16:52] richardliaw commented on #8534
Doesn't `ray submit` work already?

[2020-11-12 16:53] richardliaw commented on #8534
It should block until the script is finished.

[2020-11-12 16:53] #8534 closed

[2020-11-12 17:29] sandguardian opened #11973 "[autoscaler] Actor xxxxxxx already exists"
Entire python process got crashed after a few hours.

[code]

Python 3.7
Ray 1.0.1(1.0.0)
Ubuntu 18.04

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

Hard to create reproducible script.

[2020-11-12 17:35] richardliaw commented on #11973
@sandguardian can you at least describe your workload?

[2020-11-12 17:40] #8219 closed

[2020-11-12 17:40] edoakes commented on #8481
@arita37 this is now possible using new support for specifying environment variables for actors/tasks. Check out how we did this in Ray Serve:
https://github.com/ray-project/ray/pull/11743

[2020-11-12 17:40] #8481 closed

[2020-11-12 17:46] mfitton commented on #11940
@roireshef I don't have any RLLib/Tune environments on hand, as I don't do any ML work.

The tune metrics written to log files is not affected by whether the dashboard is running or not. You'll still be able to run tensor board by starting it with the log directory that Tune writes to. We'll make sure not to break this functionality.

That said, what's crashing your program isn't the dashboard. Th

[2020-11-12 17:56] rkooo567 commented on #8196
`"Trying to put an object that already existed in plasma"` => This is just warning. I think this might indicate there's some system load to the plasma store, but it should just work.

Btw, I will close the issue as it seems to be resolved! But feel free to create a new issue or reopen the issue if you'd have any conversation you'd like to continue!!

[2020-11-12 17:56] #8196 closed

[2020-11-12 17:57] rkooo567 commented on #8419
@Julianbaozi I will close the issue because I believe it should've been resolved. Please reopen the issue if you think it is not! (And let's keep the conversation :) )

[2020-11-12 17:57] #8419 closed

[2020-11-12 18:14] rkooo567 commented on #11959
Also @richardliaw

[2020-11-12 18:14] #11965 closed

[2020-11-12 18:17] rkooo567 commented on #11966
This is a great question! Usually these memory should be set automatically by ray. Did you set artificial values when you run ray.init?

[2020-11-12 18:19] rkooo567 commented on #11966
Also cc @richardliaw

[2020-11-12 18:26] raphaelavalos opened #11974 "[RLlib] TrajectoryView positive shifts doesn't work"
Hello,
I am trying to access the next action during training. I updated the requirement with
[code]
However it doesn't work because, when building the batch, data gets an empty list (see line 141)

https://github.com/ray-project/ray/blob/ad639f12d85297690b1190837e55ee47ce554e60/rllib/evaluation/collectors/simple_list_collector.py#L127-L144

I think that line 141 should be changed to
[code]
@sven19

[2020-11-12 18:38] rkooo567 commented on #8243
Scheduling itself has overhead because it is not just done within a single process. The basic scheduling request requires at least 2 IPC (worker -> node and worker -> worker to request to execute methods). Also, how ray scheduling works is as follow;

1. Worker (in your case the process that runs ray.init is a worker) sends a lease (this is a term used to schedule tasks. It means the worker will l

[2020-11-12 18:45] rkooo567 commented on #11950
Hmm what confuses me is this row.

[code]

afaik, file handle should be closed when the process is killed, so this line indicates you have alive worker processes?

[2020-11-12 19:04] amogkam commented on #11936
Ah got it, so since you are using Keras, you should use the `TuneReportCheckpointCallback` (https://docs.ray.io/en/latest/tune/api_docs/integration.html?highlight=keras#ray.tune.integration.keras.TuneReportCheckpointCallback) which will automatically report _and_ checkpoint for you. This is the only callback that's need and will handle saving and registering checkpoints with Tune. But you should k

[2020-11-12 19:19] ericl opened #11975 "Support calling remote functions from remote functions (f->g)"

[2020-11-12 19:20] ericl opened #11976 "Support actors"

[2020-11-12 19:20] ericl opened #11977 "Support basic reference counting [15]"

[2020-11-12 19:21] ericl opened #11978 "Support multiple client connections simultaneously"

[2020-11-12 19:21] ericl opened #11979 "Support ray.wait"

[2020-11-12 19:22] ericl opened #11980 "Add client metrics / Add to `ray microbenchmark` suite [3]"
[sync with @simon-mo ]?

[2020-11-12 19:24] ericl opened #11981 "Allow real "ray" usage in cluster side (allow any ray method like .get_actor(), etc.)"

[2020-11-12 19:25] ericl opened #11982 "Integrate with jobs dependency management / job submission"

[2020-11-12 19:28] ericl opened #11983 "Some kind of automatic server setup / routing story [10]"

[2020-11-12 19:36] ericl opened #11985 "Pipe driver side logs back to the client [5]"

[2020-11-12 19:39] krfricke commented on #11950
So this was tested on a fresh cluster after starting it with `ray up`, no other scripts were run before, no remote tasks or actors were started at all, just objects put into the object store.

[2020-11-12 19:47] ericl opened #11986 "Object manager should limit concurrent fetches to at most 2-3 sources"
Currently, we can fetch objects from infinite number of sources, leading to O(n^2) transfers in the worst case.

cc @wuisawesome @barakmich

[2020-11-12 19:50] #11131 closed

[2020-11-12 19:51] rkooo567 opened #11987 "[Multi Tenancy] Better interface for per-job environment support"
### Describe your feature request

Like Serve provides an easy way to specify different environments, we should also support this per-job within ray by adding a new field to the `JobConfig` class.

[2020-11-12 20:34] wuisawesome commented on #8243
Hey @jenniew (sorry I missed this months ago), can you try with a new version of Ray, we've merged a few bug fixes to the scheduling spillback algorithm that should've fixed this issue (Ray >= 1.0 iirc)

[2020-11-12 20:35] wuisawesome commented on #11959
Since this seems to be a pickling issue, I wonder if we should first try to reproduce the issue with just cloudpickle and forward this to their team.

[2020-11-12 21:03] simon-mo opened #11988 "[Build System] Python tests shouldn't download jvm deps"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
[code]

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installati

[2020-11-12 21:30] roireshef commented on #11940
@mfitton
A. Sure, I can send the raylet files, but where can I find them?
B. If you have Ray installed, you already have RLlib-ready environments at hand. See: https://github.com/ray-project/ray/tree/master/rllib/examples - I think you'll find it very useful to use one and close a training loop for debugging...

[2020-11-12 21:55] roireshef commented on #11940
@mfitton - I'll try to provide some more information in the meantime:

This is how I setup ray cluster (handshakes between nodes):

**Head (inside docker):**
`ray start --block --head --port=$redis_port --redis-password=$redis_password --node-ip-address=$head_node_ip \
--gcs-server-port=6005 --dashboard-port=6006 --node-manager-port=6007 --object-manager-port=6008 \
--redis-shard-ports=6400,6401,6

[2020-11-12 22:07] simon-mo opened #11990 "[Core] max_restarts/max_task_retries hang forever with asyncio actor"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):
[code]

If using sync actor, the script finishes and print "hi". When using async actor, t

[2020-11-12 22:13] simon-mo commented on #11990
Dupe of #11683

[2020-11-12 22:13] #11990 closed

[2020-11-12 22:40] Dadatata-JZ opened #11991 "[tune] RuntimeError: The actor with name ImplicitFunc failed to be imported"
Hi there,

First time user, met this issue and could not locate where this function actually is working.

[2020-11-12 22:46] richardliaw commented on #11991
Hmm, can you tell me more about your setup? I've seen this error message before but I can't quite reproduce this error.

[2020-11-12 22:48] roireshef commented on #11943
Hi @ijrsvt, assuming the `--net=host` is a flag you're passing to `docker run` command - I was already doing that.

[2020-11-12 22:53] devin-petersohn commented on #11765
Thanks @ericl, we began testing earlier today. It takes some time to get results back and we will share once we have them.

[2020-11-12 23:26] dHannasch commented on #11940
raylet.out and raylet.err are explained at https://docs.ray.io/en/master/configure.html#logging-and-debugging. (This should be linked from https://docs.ray.io/en/master/debugging.html#backend-logging, but the link is broken at the moment. (https://github.com/ray-project/ray/pull/11956))

[2020-11-12 23:42] stephanie-wang commented on #11094
Closing for now since I'm not sure how necessary this is.

[2020-11-12 23:42] #11094 closed

[2020-11-12 23:43] stephanie-wang commented on #11092
Closing for now. Feel free to reopen once it becomes clearer what API we should support.

[2020-11-12 23:43] #11092 closed

[2020-11-12 23:44] #11496 closed

[2020-11-12 23:45] stephanie-wang commented on #11496
Closed in #11673.

[2020-11-13 00:06] simon-mo commented on #11683
I will work on this issue. (as it blocks Serve fault tolerance)

[2020-11-13 00:08] stephanie-wang commented on #11683
Great! Feel free to add me as a reviewer.

[2020-11-13 00:22] rkooo567 opened #11992 "[Object Spilling] Use compression to reduce IO cost."
### Describe your feature request

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

According to Eric;
[code]

We'd like to have this for our IO workers

[2020-11-13 00:22] richardliaw commented on #11991
Have you tried this? https://stackoverflow.com/questions/54338013/parallel-import-a-python-file-from-sibling-folder

[2020-11-13 00:22] rkooo567 opened #11993 "[Object Spilling] Clean up spilled objects when the cluster tears down."
### Describe your feature request

When jobs are done, we'd like to remove spilled objects.

[2020-11-13 00:24] rkooo567 opened #11994 "[Object Spilling, Performance] Support Async plasma object creation."
### Describe your feature request

When raylet calls plasma provider -> Create, it is currently a blocking call. It might not go well with the new queue-based object creation.

We would like to create a new method AsyncCreate, so that we can avoid raylet waiting for object creation for a long time.

[2020-11-13 00:37] edoakes commented on #11994
This is potentially useful for asyncio as well (await ray.async_put)

[2020-11-13 00:50] rkooo567 commented on #8472
This issue seems to be resolved? Feel free to reopen if not!

[2020-11-13 00:50] #8472 closed

[2020-11-13 00:52] rkooo567 commented on #8516
Actually, if what you meant is adding a lock defined outside the class to be used within ray actor or tasks, that’s not possible because locks are not serializable. Consider initiating the lock within a task or actor instead.

[2020-11-13 01:22] #11951 closed

[2020-11-13 01:31] LianShuaiLong commented on #11966
i set num_cpus=16 only

[2020-11-13 01:46] #7919 closed

[2020-11-13 02:24] #5177 closed

[2020-11-13 02:35] #8007 closed

[2020-11-13 02:53] wuisawesome commented on #11633
Should we split this up into PR's per library (or only start with certain parts of the repo for now?)

Otherwise, this is going to be one of those PRs that changes almost every single file in the repo.

[code]

[2020-11-13 04:43] richardliaw commented on #7907
We actually updated the example recently, so this shouldn't be the case anymore.

[2020-11-13 04:43] #7907 closed

[2020-11-13 04:46] rkooo567 commented on #7858
@DLWCMD sorry. It seems like I for some reason forgot about answering the issue. Is this resolved or still relevant!

[2020-11-13 04:53] rkooo567 commented on #11959
@wuisawesome That sounds like a good idea. @jiangtianli91 Does this issue block you, or is it something that you can get around? (a.k.a, is it possible to not use class attributes? I assume this can be a blocker if this happens from other libraries that you depend on)

[2020-11-13 04:57] rkooo567 commented on #11986
Why don't we actually use the same `max_chunks_in_flight` for both push and pull?

[2020-11-13 05:04] rkooo567 commented on #10917
@sumanthratna @richardliaw Isn't it already there?

[2020-11-13 05:05] rkooo567 commented on #11966
@ericl Do you know what's the recommended setup?

Also, what's your total memory @LianShuaiLong?

[2020-11-13 05:09] rkooo567 commented on #11191
duplicated issu

[2020-11-13 05:09] #11191 closed

[2020-11-13 05:13] rkooo567 commented on #9598
@mfitton This is a nice issue that we can resolve with the dashboard task view.

[2020-11-13 05:13] richardliaw commented on #10917
fixed i think as of october!

[2020-11-13 05:13] #10917 closed

[2020-11-13 05:14] rkooo567 commented on #9200
As fixing error messages is crucial for us now, I will bump up the priority.

[2020-11-13 05:20] rkooo567 commented on #8251
@ericl I think this is a commonly known issue (when there's large disk IO, heartbeat seems to fail). And if this hypothesis is true, it will impact object spilling, so I will increase the priority to P1.

[2020-11-13 05:21] rkooo567 commented on #7879
@devin-petersohn Is it resolved?

[2020-11-13 05:23] rkooo567 commented on #7330
@cuiguangwu Are you still blocked by this?

Also, @stephanie-wang Is this error message still relevant?

[2020-11-13 05:26] LianShuaiLong commented on #11966
I run it in Machine Learning Platform, I set 16 CPUS , 8GPUS, 48GB memory for all my training  trials

[2020-11-13 05:31] rkooo567 commented on #11070
@edoakes Not sure, but we should do this asap. @kfstorm Will you have bandwidth next week to do this?

[2020-11-13 05:35] fyrestone commented on #11940
The above traceback shows that the prometheus exporter has a port conflict. @mfitton Does the exporter use a fixed port? I am not familiar with the `MetricsAgent`.

[2020-11-13 05:46] LianShuaiLong commented on #11966
i find that ray can start successfully when i set no params for ray.init(),why?

[2020-11-13 06:36] SanaIRnI commented on #11715
Hi @kfstorm I have tried the solution mentioned in the stackoverflow link you provided. But error remains same. This is because this Method has to be serialized inside io.ray.runtime.serializer.MessagePackSerializer.java class as error is thrown by ray class not application code.

 I need proxy approach because there is one application project which is depended on core project and ui of core proje

[2020-11-13 06:51] liangyi123 commented on #6184
pls keep this issue open for future improvement

[2020-11-13 07:49] richardliaw commented on #7689
This shouldn't exist anymore due to ref counting.

[2020-11-13 07:49] #7689 closed

[2020-11-13 07:49] richardliaw commented on #7689
(architecture change)

[2020-11-13 07:59] robertnishihara commented on #7787
This is still a problem!

[2020-11-13 08:00] richardrl opened #12000 "[Tune] Double printing"
All my print statements are double printing inside `tune.run`. I'm not sure what logs to post, but I can paste logs if I know where to look.

[2020-11-13 08:01] richardrl commented on #11855
Yea for anyone reading this, set `queue_trials=True` in `tune.run(...)`

[2020-11-13 08:01] richardliaw commented on #12000
Is this a new issue? What version of Ray are you on?

Can you try disabling `tune.run(log_to_file`?

[2020-11-13 08:02] robertnishihara commented on #7802
To reproduce the issue, I had to run the script several times, but it's still an issue.

[2020-11-13 08:10] sven1977 commented on #11971
Hey @zzchuman , no they are not the same. The curiosity module has its own optimizer and lr.
You can set the curiosity lr inside the exploration_config key, the same way as it's done in rllib/utils/explorations/tests/test_curiosity.py:
[code]

[2020-11-13 08:14] zzchuman commented on #11971
Thank you! got it! @sven1977 ,  I have a try! Thank you!

[2020-11-13 08:38] richardrl commented on #12000
I am using Ray 1.1 dev0.

Commenting out `log_to_file` fixed it. But, it's nice to have log_to_file for debugging.

[2020-11-13 08:56] richardliaw commented on #12000
ah its a bug then - cc @krfricke

[2020-11-13 09:08] zzchuman opened #12002 "[Rllib] trainer use grid search"
Hello, I usally use trainer. But, I want to use tune grid search in trainer, does it support this way?

trainer = PPOTrainer(env="3x3grid", config={
        "multiagent": {
            "policies": {
                '0': (PPOTorchPolicy, spaces.Box(low=np.zeros(20), high=np.array(['inf'] * 20)), spaces.Discrete(4), {}),
                '1': (PPOTorchPolicy, spaces.Box(low=np.zeros(20), high=np.arra

[2020-11-13 09:19] PidgeyBE opened #12004 "[autoscaler] Make NODE_START_WAIT_S configurable (for docker container nodes)"
### Describe your feature request

Currently the time it can take to start a new node in the autoscaler is limited to 300 seconds: https://github.com/ray-project/ray/blob/3b56a1a5220fe0c3b522cff43dbb6ef7e33bfd99/python/ray/autoscaler/_private/command_runner.py#L36
In some setups, where starting and configuring new nodes takes a few minutes and downloading docker images also takes some time, it can

[2020-11-13 09:28] PidgeyBE opened #12005 "[autoscaler] Failed workers end up in broken state"
### What is the problem?
* ray 1.0.1
* kubernetes autoscaling

When an autoscaled worker failed to update, it ends up in a broken state:
* The worker pod that was scaled and failed to update is not cleaned up. It keeps running and keeps using e.g. GPU resources.
* The autoscaler algorithm takes resources of "failed workers" into account, while in fact no resources can be scheduled on these workers

[2020-11-13 09:31] PidgeyBE opened #12006 "[autoscaler] Number of target nodes is incorrect"
### What is the problem?
* ray 1.0.1
* kubernetes autoscaler

### Reproduction (REQUIRED)
When I run this script of @simon-mo twice: https://gist.github.com/simon-mo/7b0dd033b2f12c72c75ce0cfd0c664d7
A worker is scaled, but the number of target nodes is incorrect:
`2020-11-10 17:09:24,585 INFO autoscaler.py:591 -- Cluster status: 1/0 target nodes (0 pending)`
It should report `1/1`.
Although the re

[2020-11-13 09:42] richardrl opened #12007 "[CLI] restart-only Fails to start head-node"
I run this command, applied to an already-started cluster:
`(ray1.1.dev0) richard@richard-desktop:~$ ray up --restart-only /home/richard/code/ray_config/aws_spot_cluster_gpu_ray1.1dev0.yaml
`

and get this output:
[code]

I don't think this should fail just because Ray is already running/

[2020-11-13 09:43] Alwinator commented on #8248
## Still important!
@ericl @robertnishihara @richardliaw @pcmoritz @edoakes @mehrdadn @sven1977 @stephanie-wang @simon-mo @rkooo567 @ffbin

[2020-11-13 10:12] internetcoffeephone commented on #7946
Comment to remove stale label.

[2020-11-13 10:31] richardrl commented on #12007
It seems to work after waiting for a while and trying the command again.

[2020-11-13 10:40] hartikainen commented on #7696
I believe this is still an issue and should not be closed.

[2020-11-13 12:27] krfricke opened #12008 "[core] passing an object multiple times deserializes into different objects in remote function"
### What is the problem?

When passing the same object multiple times to an actor or task, it is deserialized into two different objects. I would expect it to be deserialized into the same object.

### Reproduction (REQUIRED)

[code]

If we cannot run your script, we cannot fix your issue.

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified

[2020-11-13 13:16] devin-petersohn commented on #7879
We have a workaround that @simon-mo implemented.

I think the issue can be marked resolved from my perspective. There was also the issue @janblumenkamp ran into, which seems related.

[2020-11-13 14:01] janblumenkamp commented on #7879
I don't know if the error persists, I haven't used PBT in a long time. I suggest to close the issue for now, if it occurs again we can always re-open :)

[2020-11-13 14:12] devin-petersohn commented on #7879
SGTM @janblumenkamp

[2020-11-13 15:59] MasterScrat commented on #5087
@joneswong were you able to make any progress in this direction?

[2020-11-13 17:55] krfricke commented on #12000
Hi @richardrl, can you provide a script for reproduction? I tried this:

[code]

on the latest wheels and the output seems fine to me:

[code]

[2020-11-13 18:16] #6464 closed

[2020-11-13 19:27] richardliaw commented on #6186
Have release tests now.

[2020-11-13 19:27] #6186 closed

[2020-11-13 21:14] #11267 closed

[2020-11-13 21:16] rkooo567 commented on #10912
@edoakes I will close the issue because I believe it is done.

[2020-11-13 21:16] #10912 closed

[2020-11-13 21:23] kivo360 commented on #6105
Not useful anymore. Closing ...

[2020-11-13 21:23] #6105 closed

[2020-11-13 21:29] rkooo567 commented on #10398
@oliverhu

[2020-11-13 21:48] richardliaw commented on #6144
@andrewv99 if the question still stands, let's open a new issue!

[2020-11-13 21:48] #6144 closed

[2020-11-13 21:58] rkooo567 commented on #12004
cc @wuisawesome

[2020-11-13 21:58] rkooo567 commented on #12005
cc @AmeerHajAli

[2020-11-13 21:59] rkooo567 commented on #12006
cc @wuisawesome

[2020-11-13 21:59] rkooo567 commented on #12007
I feel like restart-only command is currently not so stable. We should probably add some tests there. cc @richardliaw @wuisawesome

[2020-11-13 22:00] ericl commented on #12006
We replaced the legacy autoscaler backend recently (it will be released in 1.0.2). I'm closing this issue for now since it's likely fixed in the new backend; feel free to re-open if this isn't the case.

[2020-11-13 22:00] #12006 closed

[2020-11-13 22:01] rkooo567 commented on #12008
Hmm I guess it makes sense because both are not referenced, but copied when remote calls are invoked?

cc @stephanie-wang

[2020-11-13 22:01] ericl commented on #12005
One option here is to retry on update failures, or to terminate the node if updates failed.

[2020-11-13 22:01] #11115 closed

[2020-11-13 22:11] richardliaw commented on #12007
I think it might actually be `ray stop` is not so stable.

[2020-11-13 22:32] acxz commented on #8496
@ericl do you have any suggestions on this issue?

[2020-11-14 00:05] ericl commented on #12004
This deadline should only apply to physical start of the instance (time until first SSH connection can be established). Post-setup steps like downloading images are after this step.

[2020-11-14 00:07] ericl commented on #11994
@rkooo567 this plasma create call always returns instantaneously right (either success or failure). Isn't the creation queue done at a higher level (the object creation manager is calling into plasma)?

[2020-11-14 00:12] simon-mo commented on #9775
@rkooo567 can you suggest few similar PRs that perform data plumbing like this piping from C++ -> Python -> Dashboard?

[2020-11-14 00:25] wuisawesome commented on #9775
@mfitton Hey what metrics do you think we _should_ expose to the dashboard?

[2020-11-14 00:28] yncxcw opened #12017 "Trying to understand the performance of short-lived actors with a dependency of big module"
### Describe your question

I am running this benchmark to exercise an issue we are facing.

In `ray_test.py`:
[code]

In `tf.py`:
[code]

This gives me the perf like:
[code]

If I made this change `self.value += func() -> self.value += 1` from `ray_test.py`, then it gives me perf like:
[code]
It seems that big dependencies have a huge impact on perf for short-lived actors. I am wondering if this

[2020-11-14 00:32] wuisawesome commented on #12004
@PidgeyBE I guess one question here is what error message(s) are you seeing that lead you to believe this constant is the problem?

[2020-11-14 01:02] rkooo567 commented on #9775
This is not just about metrics. We should collect snapshot of data to know how placement groups are located in the cluster

[2020-11-14 01:02] rkooo567 commented on #9775
The scope of this task is quite big.

[2020-11-14 01:03] rkooo567 commented on #9775
@simon-mo let me look for it

[2020-11-14 02:05] amogkam opened #12018 "[Core] [Error Message] Possible unhandled error from worker"
When you have a remote function that handles an exception, a `Possible unhandled error` message is still printed on the driver side. For example,
[code]
Shows the following message on the driver
[code]
even though the exception is actually being properly handled in the remote function `main`. This is very confusing for the user because it implies that an error actually occurs even though it doesn'

[2020-11-14 03:09] ivallesp commented on #10733
Ok, answering myself... For those getting blocked by this issue, a workaround would be:

[code]

[2020-11-14 03:31] rkooo567 commented on #11966
Hmm, so are you saying

[code]
?

[2020-11-14 03:31] aregm commented on #11765
@ericl , thanks for updating the dependencies, but only redis and c-ares are updated. Lua dependency vulnerability still persists. Can you please update Lua to version 5.4.1?

[2020-11-14 04:24] praveen-palanisamy commented on #2957
Closing the issue since enough clarify was brought in by #2967  way back in time.

[2020-11-14 04:24] #2957 closed

[2020-11-14 08:35] AmeerHajAli commented on #12005
I think this should be handled by the autoscaler cleaner of idle nodes. The only concern is when the number of nodes is min_workers and then it might not be cleaned.

[2020-11-14 09:03] NikhilKothari commented on #11285
I'm facing the same issue.

[2020-11-14 11:21] #11971 closed

[2020-11-14 11:21] timost1234 commented on #11936
Hello @amogkam The `TuneReportCheckpointCallback` do solve the problem.
It now left only problem 3. Do you have any idea about why the HPs were going out of the range set in `hyperparam_mutations`?

[2020-11-14 11:21] michaelzhiluo commented on #11969
This is an issue mostly likely to do with your machine. Check your CUDA and Cudnn versions.

[2020-11-14 11:21] #11969 closed

[2020-11-14 11:26] michaelzhiluo commented on #11967
For layers such as Batchnorm, I believe the running mean and std are initialized independently for each worker.

There is an example of normalization sync [here](https://github.com/ray-project/ray/blob/master/rllib/agents/mbmpo/mbmpo.py#L286) if you want to try it on your own.

[2020-11-14 17:48] PidgeyBE commented on #12004
@ericl Indeed that's correct
@wuisawesome I dont remember exactly, I had to help out in a debugging sessions because our DevOps team was experiencing issues with it. The problem is we are using ray autoscaling on kubernetes and e.g. in google cloud we have an additional system which scales physical nodes when there is no space for additional pods anymore.
So when Ray autoscaling decides to start a

[2020-11-14 19:07] ericl commented on #12017
This is because of the "calling ray.get in a loop" antipattern, see this doc for more details on how to fix: https://docs.google.com/document/u/1/d/167rnnDFIVRhHhK4mznEIemOtj63IOhtIPvSYaPgI4Fg/mobilebasic#h.5hvaid3puygu

[2020-11-14 20:09] jiangtianli91 commented on #11959
So far we have hit this issue because our own libraries used class attributes, so we could move those although it does disrupt the organization a bit.

[2020-11-14 20:13] rkooo567 commented on #11959
Gotcha. Btw, @suquark Have you seen any similar issue before?

[2020-11-14 20:16] asmv commented on #9716
Yes, I believe this added test would catch the issue. The minimal example at the top of the issue works on the most recent version of Tune as well.

[2020-11-14 20:30] #4603 closed

[2020-11-14 20:30] rkooo567 commented on #4603
Added new stats.

[2020-11-14 20:31] rkooo567 commented on #10459
Porting was done.

[2020-11-14 20:31] #10459 closed

[2020-11-14 20:32] rkooo567 commented on #10324
@edoakes Is @ijrsvt planning to fix this issue?

[2020-11-14 20:34] rkooo567 commented on #9546
cc @edoakes Wasn't this intentional? What's the best way to remove warning here?

[2020-11-14 20:35] rkooo567 commented on #2953
This is already done by env var.

[2020-11-14 20:35] #2953 closed

[2020-11-14 20:40] rkooo567 commented on #10232
Not worth doing it before new scheduler is enabled.

[2020-11-14 20:40] rkooo567 commented on #11692
Hey @clay4444 Are you in progress with this issue?

[2020-11-14 20:40] rkooo567 commented on #11204
@ericl This is closeable right?

[2020-11-14 20:44] rkooo567 commented on #9775
Some ideas; @wuisawesome

- Display where placement groups are located.
- Display the scheduling queue states (how many pending requests are there).
- Display more scheduling related data. EX, failure ratio, why pg cannot be created, and etc.
- Display individual placement group data.

[2020-11-14 21:11] robertnishihara commented on #5493
I think it's ok to close for now though the issue is still present.

[2020-11-14 21:11] #5493 closed

[2020-11-14 21:15] robertnishihara commented on #449
The original issue no longer seems completely accurate, but there is still a problem here.

If I run

[code]

There is no issue with cloudpickle now, but the actor constructor fails with

[code]

[2020-11-14 21:16] robertnishihara commented on #6155
Closing because I think this is a duplicate of https://github.com/ray-project/ray/issues/449. Please reopen if that's a mistake.

[2020-11-14 21:16] #6155 closed

[2020-11-14 21:49] wuisawesome commented on #9775
Hmmm a little concerned about how much data this is (we'd have to constantly poll for data about _every_ placement group unless the dashboard agent queries dynamically right?

[2020-11-14 22:17] juliusfrost commented on #9360
This feature would still be great to have. I'm willing to work on it if I had the time.

[2020-11-14 22:18] rkooo567 commented on #9360
Nice! I will mark it as p2 (then it won’t be marked as stale in any case). Cc @sven1977

[2020-11-14 23:33] richardliaw commented on #5837
I think this is not needed now that we have object spilling :)

cc @rkooo567

[2020-11-14 23:33] #5837 closed

[2020-11-14 23:38] richardliaw commented on #6198
Hey Devin, I'm interested in making a better error message; but unfortunately I dont have access to the dataset you linked.

Any way to reproduce?

[2020-11-14 23:40] richardliaw commented on #4929
I haven't seen this on master recently. I'd encourage folks running into this to open a new issue.

[2020-11-14 23:40] #4929 closed

[2020-11-14 23:41] richardliaw commented on #5456
Should be available in:

ray/python/requirements_linters.txt and ray/python/requirements.txt

Thanks!

[2020-11-14 23:41] #5456 closed

[2020-11-14 23:49] richardliaw commented on #3588
Hm, I think this is no longer an error message that we report. Do please open a new issue if you see this again.

[2020-11-14 23:49] #3588 closed

[2020-11-14 23:50] #5790 closed

[2020-11-14 23:51] richardliaw commented on #5968
This is now supported on the latest Ray release.

[2020-11-14 23:51] #5968 closed

[2020-11-14 23:59] #8819 closed

[2020-11-15 00:06] richardliaw commented on #8621
SearchAlgorithm is now supported. Schedulers will be supported later.

[2020-11-15 00:06] #8621 closed

[2020-11-15 00:08] #8155 closed

[2020-11-15 00:18] richardliaw commented on #8130
We added this recently -- should be fixed on master.

[2020-11-15 00:18] #8130 closed

[2020-11-15 00:20] richardliaw commented on #6953
should be fixed.

[2020-11-15 00:20] #6953 closed

[2020-11-15 02:53] LianShuaiLong commented on #11966
yeap，it failed when i set num_cpus/_temp_dir/_memory/
by the way i run my experiment in Machine Learning Platform, and it works well on my own computer

[2020-11-15 04:14] richardliaw commented on #7050
@jCrompton did you figure this out?

[2020-11-15 04:17] pengzhenghao opened #12027 "[rllib] Please add a callback to apply custom environment wrapper in env_creator"
### Describe your feature request

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

Hi there! I found that it's extremely difficulty to  apply a custom environment wrapper. Since the custom preprocessor is deprecated, and there is no API left in `build_policy`, I suggest to add a new input to `build_policy` that allows

[2020-11-15 04:41] #5572 closed

[2020-11-15 05:27] #6200 closed

[2020-11-15 05:29] #9098 closed

[2020-11-15 05:36] #5876 closed

[2020-11-15 05:36] richardliaw commented on #9147
Fixed :)

[2020-11-15 05:36] #9147 closed

[2020-11-15 05:41] richardliaw commented on #11670
Well, I'll close this for now.

[2020-11-15 05:41] #11670 closed

[2020-11-15 05:42] #7777 closed

[2020-11-15 05:44] richardliaw commented on #4723
Closing as I haven't heard any new reports for this.

[2020-11-15 05:44] #4723 closed

[2020-11-15 05:49] richardliaw commented on #11707
Tips and tricks page:

* Start super simple -- with 1 trial and 1 GPU, with a 1 training_iteration step.
* Using 'fail_fast'
* Serialization issues → use diagnostic function
* save/restore issues → use diagnostic function

[2020-11-15 05:50] #5835 closed

[2020-11-15 05:52] #5724 closed

[2020-11-15 05:53] #8701 closed

[2020-11-15 05:54] #10201 closed

[2020-11-15 06:30] robertnishihara commented on #5790
The behavior seems to have changed here. Now if I run

[code]

it deadlocks (as it should), but there is no warning (either in stdout or in the dashboard).

[2020-11-15 06:31] robertnishihara commented on #3914
I think this has been fixed.

[2020-11-15 06:31] #3914 closed

[2020-11-15 06:32] robertnishihara commented on #4750
This is fixed (and there's no need for a workaround now).

[2020-11-15 06:32] #4750 closed

[2020-11-15 06:51] #5779 closed

[2020-11-15 11:33] doctorcolossus commented on #11166
Me too, on 1.0.1.

[2020-11-15 12:50] roireshef commented on #11940
If anyone's interested, a temporary fix to disable the dashboard is commenting out those 2 lines:

https://github.com/ray-project/ray/blob/master/python/ray/_private/services.py#L1447
https://github.com/ray-project/ray/blob/master/python/ray/_private/services.py#L1448

[2020-11-15 12:54] roireshef commented on #11940
Here are the two Raylet files:

[raylet.err.txt](https://github.com/ray-project/ray/files/5542363/raylet.err.txt)
[raylet.out.txt](https://github.com/ray-project/ray/files/5542364/raylet.out.txt)

[2020-11-15 20:48] devin-petersohn commented on #6198
I haven't seen it in some time, we have since implemented a lot of workarounds for issues like this, so not completely sure how to proceed.

[2020-11-15 21:15] zifeo commented on #3692
Still valid so far.

[2020-11-16 00:13] wuisawesome opened #12031 "[Autoscaler] Clarify override resources message"
### What is the problem?

Right now if a resource is provided in both the `RAY_OVERRIDE_RESOURCES` env var, and through another means, we print a message like
[code]

Instead, we shouldn't print this message if the quantity is the same.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to repro

[2020-11-16 00:26] sungreong commented on #11382
Recently, the environment was created from scratch and the installation started, and it worked well.

Thanks

[2020-11-16 02:00] richardliaw commented on #6198
OK i'll close this now then, and let's open a new issue if this arises again.

[2020-11-16 02:00] #6198 closed

[2020-11-16 02:10] richardliaw opened #12032 "[tune] Log error message if machines don't have ssh access"
### Describe your feature request

Head node needs to have ssh access between different machines in order to leverage rsync to move checkpoints across nodes.

Right now, there is no proper error message printed. However, we should log a message once that says:

[code]

[2020-11-16 02:11] richardliaw commented on #12031
BTW, @wuisawesome I think this belongs under the `fix-error-msg` label right?

[2020-11-16 02:12] wuisawesome commented on #12031
oh yeah i didn't realize those were separate tags

[2020-11-16 03:07] fyrestone commented on #11940
According to the logs, I found two problems:

1. The prometheus exporter has a port conflict, so the agent is exit with `OSError: [Errno 98] Address already in use`.
2. The agent can't register to raylet by using `ip = ray._private.services.get_node_ip_address()`, `port = node_manager_port`. Then the agent is exit with `grpc.experimental.aio._call.AioRpcError`.

[2020-11-16 03:18] fyrestone commented on #11940
@roireshef Is your worker node has multiple network interface card? I guess the second problems is cause by:
The agent connects to the raylet with `ip = ray._private.services.get_node_ip_address()`, the ip is different with your worker command ip `--node-ip-address=$worker_node_ip`.

[2020-11-16 04:31] leozc opened #12033 "The approach to guess `maxclients` on Redis is fragile"
### What is the problem?

RAY: 1.0.1
The current approach for guessing _maxclient_ of Redis is problematic. On a machine with a large RLIMIT_NOFILE would result in error from Redis due to over ranged `maxclient`

### Reproduction (REQUIRED)
Set your machine ulimit to a very large number  e.g.

`resource.setrlimit(resource.RLIMIT_NOFILE,(6553600000,6553600000))`

The following error is observed
`
r

[2020-11-16 04:45] lynnliu030 commented on #11766
Encountered with the same error. Any solutions?

[2020-11-16 06:11] clay4444 commented on #11692
sorry about for delay days this issue...  I was busy on double eleven before, I will fix this within 2 days.

[2020-11-16 06:34] kfstorm opened #12034 "Remove the `--java-worker-options` parameter"
We've enabled multi-tenancy. We can now pass JVM options via job config.

[2020-11-16 06:38] kfstorm opened #12035 "Update document about code search path"
The `--code-search-path` parameter in `ray start` is for clusters with multi-tenancy off. Since now we've enabled multi-tenancy, we should document the new way to pass the code search path, that is, via job config.

[2020-11-16 10:09] roireshef commented on #11940
As said, I'm working in docker container, which abstract away the node's external IP (the only one that is valid to use if you were to connect from another machine). For applications running inside a docker container and asking for an IP (and I'm assuming what you're doing there is similar to running "ifconfig" or "hostname" in the bash shell), the docker will provide a different "virtual" IP that

[2020-11-16 10:13] roireshef commented on #11940
It feels we are getting closer to solve (2), do you have any idea on how to solve (1)? BTW, when running v1.0.1 it doesn't happen. This might be because the new dashboard isn't initialized. So, if the problem only occurs when initializing the new dashboard, I'm suspecting it's trying to do something different than the reset of the stack (redis, ray core, tune, rllib, etc.). It might be worth stick

[2020-11-16 10:31] Purpleslz commented on #11967
I think the better solution is sync buffers during training phase in policy. In this way, rllib could sync normalization parameters across all training algorithms.

[2020-11-16 11:10] krfricke opened #12037 "[tune] Stopped trials should log `done=True` in CSVs"
### Describe your feature request

Currently, Tune trials only log `done=True` to CSV if it is explicitly passed by a user. This leads to confusions (see e.g. #9351) and is incorrect, since these trials are actually completed.

Tune should log `done=True` always if a trial completed.

This test should pass:

[code]

[2020-11-16 11:11] fyrestone commented on #11940
Thanks. I will create a fix PR about the (2) by adding a `--node-ip-address` param to the agent command line.

[2020-11-16 11:12] krfricke commented on #9351
Sorry for getting back so late. Apparently we only log `done=True` in CSVs if the trial explicitly passes this in `tune.report()` - i.e. it is treated like any other metric. But since we update`done` internally, too, this is confusing. I added an issue to track this at #12037.

I'll close this issue for now, but please let me know if there's other questions you have regarding the results dataframe

[2020-11-16 11:12] #9351 closed

[2020-11-16 13:47] krfricke commented on #11670
Hm right, schedulers should filter out NaNs for quantile calculation etc. Let's discuss intended behavior here - if a trial reports NaN e.g. to Hyperband, should it continue to run (assuming it might recover) or stop (assuming it is broken)? It's straightforward for searchers to just ignore results, but schedulers have to make a decision.

Some possibilities:

1. Stop trial immediately
2. Assign a

[2020-11-16 14:55] wangzelong0663 commented on #7242
I also have the same problem ...

[2020-11-16 16:49] edoakes commented on #11166
Hi all, unfortunately the fix for this did not make the cut for 1.0.1. This should be fixed on the nightly wheels and will be included in 1.0.2 which should be released within a couple of weeks.

[2020-11-16 17:08] stephanie-wang commented on #11994
Related to this, we also need this feature to fix #11772 completely. The problem is that we want to move the out-of-memory retries from the plasma client into the plasma store, which has better information about when to retry a request. This way, we can centralize all logic relating to memory allocation. However, this would cause the plasma client on the core worker to block during object creation

[2020-11-16 17:31] stephanie-wang opened #12040 "[Object spilling] Improve OutOfMemory handling through better memory bookkeeping in plasma store"
### Describe your feature request

Currently, the plasma store's decision to return OutOfMemory is based on:
1. Timing - the client chooses when to retry a creation request. Even if we fix #11772 by having the plasma store choose to retry instead, we should not rely solely on timing because it can be inefficient (we could've allocated the object sooner) or imprecise (the object could've been alloc

[2020-11-16 17:36] AmeerHajAli opened #12041 "[C++ API] Objects leaking in the C++ language Support."
The c++ API is leaking objects. We suspect this is due to reference counting. We might need to add a class like this in the C++ API https://github.com/ray-project/ray/blob/master/python/ray/includes/object_ref.pxi.

example:
[code]
- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.

[2020-11-16 17:38] stephanie-wang opened #12042 "[Object spilling] Move LocalObjectManager into the plasma store"
### Describe your feature request

The local object manager logic actually has nothing to do with the NodeManager scheduling code. If it were moved into the plasma store directly, we could:

1. Avoid additional IPCs between the NodeManager and the plasma store for object pinning/releasing/deletion.
2. Simplify the protocol between the CoreWorker and the plasma store when pinning a primary object.

[2020-11-16 18:23] rkooo567 commented on #12040
I have one question! What's the example of this case? `(2) Objects in use that could not be released if spilled`

[2020-11-16 18:49] DanielWicz commented on #9756
Did you solve the problem ?

[2020-11-16 18:52] edoakes commented on #10324
There are no immediate plans to fix it.

[2020-11-16 18:53] rkooo567 opened #12044 "[Object Spilling] Make filesystem external storage work in multi-nodes."
### Describe your feature request

File system based spilling has so much easier interface for users to use than S3. It'll be really great if we can make this work in multi-nodes setup.

[2020-11-16 19:00] richardliaw opened #12045 "Issue on page /tune/tutorials/tune-distributed.html"
Checkpointing semantics have changed a bit after transitioning to the function API.

We should update this docs page to reflect that.

[2020-11-16 19:40] mfitton commented on #11940
As far as issue (1), it looks like when `--metrics-export-port` isn't passed in as an argument to Ray start, a random unused port is fetched for the metric agent to do prometheus export.

The code is here https://github.com/ray-project/ray/blob/master/python/ray/node.py#L128 where the port gets selected and passed into the initialization of the Raylet as well as the dashboard agent.

It should be

[2020-11-16 19:43] mfitton commented on #11940
@fyrestone thanks for contributing the fix for the IP issue, I reviewed it and will get it merged by a teammate ASAP.

[2020-11-16 19:56] mfitton commented on #11940
[code]
this is the code being used to fetch an unused port, and for some reason failing to select an unused port on docker.

[2020-11-16 19:57] mitar commented on #5019
Unstale.

[2020-11-16 19:57] mitar commented on #4934
Unstale.

[2020-11-16 19:57] mfitton commented on #11940
@yiranwang52 @ijrsvt

Quick docker question: When not passed in explicitly, the metrics-export-port (which the MetricsAgent class is fed as an argument for where to host prometheus metrics for scraping over HTTP) gets set to a random unused port on the machine. There’s a user who’s running into an issue starting the dashboard_agent because the MetricsAgent fails to connect to this port. Can either

[2020-11-16 19:57] mitar commented on #3055
Unstale.

[2020-11-16 20:13] felipeeeantunes opened #12047 "[rllib] OffPolicyEstimator returning negative values for action_prob"
### What is the problem?
OffPolicyEstimator class is using `log_likelihoods` instead of action probabilities, leading to negative values for `action_prob`. This bug affects the `IS` and `WIS` OPE results.

*Ray version and other system information (Python version, TensorFlow version, OS):*
- ray==1.0.1dev commit hash `d1182b827af9fc94be0cd9a6a3211c096aa4c0e3`
- numpy==1.19.2
- tf-nightly-cpu==2.4.

[2020-11-16 20:27] decodyng opened #12048 "[tune] Restarted Trials Use Incorrect Command When Multiple Commands Run on Cluster/Runtime"
### What is the problem?
When multiple **distinct Ray Tune jobs** (each job with a distinct set of command line arguments, as well as a search space of config parameters Tune knows about) are **run against the same runtime in sequence**, and when a trial in the first job fails due to an actor error, it is restarted with the correct set of config parameters that Tune is tracking (that is, the same

[2020-11-16 21:47] stephanie-wang opened #12049 "Verbose messages about new dashboard"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 1.1dev, installed from source

Anaconda Python 3.6.10, Ubuntu 18.04

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your

[2020-11-16 21:57] stephanie-wang commented on #12049
Looks like this was because I had aiohttp==4.0.0a1. I no longer saw the messages after pinning to aiohttp==3.6.

[2020-11-16 22:55] leozc commented on #12033
Reference: [this](https://github.com/pantsbuild/pants/blob/f084d4f90e5f6c3b23d8420d0fd4f8f1665dea1d/src/rust/engine/fs/src/lib.rs#L767-L803) is what pantsbuild doing to raise the rlimit

[2020-11-16 23:09] simon-mo commented on #10324
@edoakes and I chatted a little bit about this offline. We think one possible approach would be:
- In the core side, store some mapping of `task_id`->`worker_context`.
- In the Python side, when you access the worker context, you can access a thread local variable (if threaded or regular actor) or context variable (in asyncio context).

These are just rough thoughts and helpfully it can guide to a

[2020-11-16 23:10] danwallach opened #12052 ""slow start" launching worker processes on new nodes"
### What is the problem?

This is with Ray 1.0.1 on Ubuntu 20.04 on AWS `c5a` servers.

I create a cluster with 13 worker computers, each a `c5a-16xlarge` node on AWS, so 64 vCPUs per worker computer (13*64 = 832). Watching the Ray dashboard, I can see the number of workers, at the bottom, versus the number of cores. It takes somewhere between 3.5 and 4 minutes for the number of worker processes t

[2020-11-16 23:16] edoakes commented on #12052
cc @kfstorm

[2020-11-16 23:21] ericl commented on #12052
@kfstorm could there be more going on here than the worker slow start? IIRC it should just be a couple second delay, not minutes

[2020-11-16 23:22] ericl commented on #12044
Hmm in principle this isn't too hard right? We can spill it, and just not change the location in the directory. When we try to fetch it, reload it if needed.

[2020-11-16 23:25] #5016 closed

[2020-11-16 23:25] ericl commented on #12040
I think (2) -- refers to mmaped objects (pinned by workers).

@stephanie-wang an equivalent condition is (a) no objects further can be spilled and (b) the put request in plasma fails right?
We could also add a short delay (can be managed in plasma manager) for waiting for global GC.

[2020-11-16 23:39] stephanie-wang commented on #12040
@ericl that's actually what I implemented in #11915, but with that implementation, workloads that should work with spilling would often still produce OOM errors and delay retrying creation requests longer than the 10ms timeout. This is what I wrote on that PR:

Yeah, unfortunately this PR won't solve all the issues with OutOfMemory retries. Part of the reason is that it's still possible for memory

[2020-11-16 23:50] rkooo567 commented on #12044
Yes! That was my thought as well.

[2020-11-16 23:51] rkooo567 commented on #12044
For now, we just pull it from external storage if the object has been already spilled

[2020-11-16 23:53] rkooo567 commented on #12052
Btw, I will add process startup time to our set of metrics to troubleshoot this sort of performance issue better. Also, afaik, the process startup took less than a millisecond when we merged @kfstorm's PR, so it is a bit surprising.

[2020-11-16 23:54] rkooo567 commented on #10324
That's actually pretty similar to the idea @clarkzinzow and I discussed before.

Also, I think it is pretty crucial for serve use case. It can probably break your custom metrics if this issue is not fixed.

[2020-11-17 00:04] ericl commented on #12031
I think we should put these under the milestone right?

[2020-11-17 00:04] ericl commented on #12031
@richardliaw how about we remove the tag since we have the milestone?

[2020-11-17 00:11] anabranch opened #12053 "[DOCS] Change Links to Discuss.ray.io"
### What is the problem?

Throughout the docs we've got links to the slack, we should emphasize the community and link to discuss.ray.io

[2020-11-17 00:14] anabranch commented on #11867
does setting `sync_to_driver=False` in `tune.run(...)` improve this?

[2020-11-17 00:42] sergeivolodin commented on #8432
Made a hacky reverse proxy script that replaces the URLs in the html/js/css files of the dashboard at runtime. This way, one does not need to re-build the dashboard (in some setups it is impossible, for example, without npm and with limited disk space)

https://gist.github.com/sergeivolodin/2362e14fea8eca20ae271033d7b124ce

[2020-11-17 02:54] #12049 closed

[2020-11-17 03:20] dHannasch opened #12058 "Wheel builds failing"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
master on Travis
### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [X] I have ver

[2020-11-17 03:27] ericl commented on #12052
@rkooo567 is it possible to attach the repro script to this issue?

[2020-11-17 03:32] liside commented on #11239
Hi there, I'm experiencing similar actor exited unexpectedly errors but with RaySGD. I was new to ray and got started straight from version 1.0.0 with Python3.7. I mainly use RaySGD and Tune to run data-parallel training on CPUs in a cluster of beefy ubuntu nodes. I'm dealing with tabular data so I preload them into the memory store and let actors read from there. The entire training process is ex

[2020-11-17 03:36] kfstorm commented on #12041
We can refer to https://github.com/ray-project/ray/milestone/16 for adding reference counting support in C++ worker.

[2020-11-17 04:23] raulchen opened #12059 "ray.init() fails on macOS Big Sur"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
OS version: macOS Big Sur
Ray version: should impact all versions.

Issue:
`ray.init()` fails when starting redis, with the following error stack.
[code]

Digging into this issue, I found it's because `resource.getrlimit(resource.RLIMIT_NOFILE)[0]` (see [here](https://github.com/ray-proje

[2020-11-17 04:26] rkooo567 commented on #12059
Oh interesting. We set it before because 256 fds are usually not enough to handle all connections to Redis.

[2020-11-17 04:47] robertnishihara commented on #12059
In the cluster setting, you could have many hundreds of thousands of workers, so `maxclients` needs to be at least that large.

[2020-11-17 05:10] robertnishihara commented on #3531
No longer relevant.

[2020-11-17 05:10] #3531 closed

[2020-11-17 05:11] #4495 closed

[2020-11-17 05:11] #3538 closed

[2020-11-17 05:12] robertnishihara commented on #3700
The test is still skipped.

[2020-11-17 05:16] robertnishihara commented on #3692
@zifeo This is what I see, is that consistent with what you see?

<img width="1096" alt="Screen Shot 2020-11-16 at 9 15 02 PM" src="https://user-images.githubusercontent.com/249517/99349441-e20e1300-2850-11eb-8625-897fd5beefc5.png">

What version of Ray are you using?

[2020-11-17 05:18] robertnishihara commented on #3341
Perhaps low priority, but still relevant and probably still a good idea.

[2020-11-17 05:18] #3090 closed

[2020-11-17 05:26] robertnishihara commented on #3274
Still relevant.

To reproduce

[code]

Run `ray timeline` from the command line, load it in chrome://tracing. The task doesn't show up.

[2020-11-17 05:44] #11706 closed

[2020-11-17 06:13] raulchen commented on #12059
Just found the reason why `resource.getrlimit(resource.RLIMIT_NOFILE)[0]` returns `9223372036854775807` is not related to Big Sur, it's because of [this line](https://github.com/ray-project/ray/blob/90574b66cce07f8f4fabe99bee6ff6419c097a0b/python/ray/worker.py#L633).

[2020-11-17 06:14] richardliaw opened #12060 "[logging] Use 'warnings.warn' appropriately"
### Describe your feature request

Throughout our codebase, we don't use `warnings.warn` and rather rely on `logger.warn` to inform users of possible negative outcomes.

Instead, we should use `warnings.warn` appropriately:

https://docs.python.org/2/howto/logging.html#when-to-use-logging

[2020-11-17 06:39] stefanbschneider commented on #9756
I'm not sure. I set `done = False` and `soft_horizon = True` and the environment runs continuously without resets as I want it.
Until now, I didn't change anything else, eg, regarding the calculation of average reward instead of discounted return.
The agent still learns reasonable behavior but it seems to work a bit worse compared to the episodic setting.

[2020-11-17 06:40] kfstorm commented on #12052
Starting from 1.0.1, workers are started on demand. If we start 832 small normal tasks (e.g. each finishes within 1ms), we can't guarantee that every task will be executed on a different worker. Some tasks are very likely to be scheduled on the same worker because they are extremely fast to execute and when a task is scheduling, another task may have finished executing and an existing worker is no

[2020-11-17 07:03] kfstorm commented on #11715
@chaokunyang Could you please help with the serialization part?

@SanaIRnI You can see how ray.remote() and ray.get() work from the [Ray Whitepaper - Example of task scheduling and object storage](https://docs.google.com/document/d/1lAy0Owi-vPz2jEqBSaHNQcy2IBSDEHyXNOQZlGuj93c/preview#heading=h.a09dapb3l2im). For your second application, could you please search in "/tmp/ray/session_latest/logs" and

[2020-11-17 08:48] chaokunyang commented on #11715
@SanaIRnI Could you show the code of `ParentActor` here? The stack show there are errors when serialize `ParentCalss`. Ould be great if we can know which fields are being serializing for `ParentActor`? If some fileds can't be serialized, can we make it lazy and transisent? Or implement `Externalizable` for `ParentActor` class?

[2020-11-17 09:17] chaokunyang commented on #11602
Close it since #9896 is merged

[2020-11-17 09:17] #11602 closed

[2020-11-17 09:33] meechos commented on #4479
@SumNeuron could you please post your `setuptools` solution here? I am still having issues with this and the relevant stackexhange link posted by @robertnishihara has been deleted.

[2020-11-17 12:15] iamhatesz commented on #11970
So this is related with the new Trajectory View API. If I override `_use_trajectory_view_api` to `False`, then it works.

[2020-11-17 12:52] ffbin opened #12066 "[PlacementGroup]PlacementGroup flaky testcase"
### What is the problem?
https://travis-ci.com/github/ray-project/ray/jobs/441365091
![image](https://user-images.githubusercontent.com/13081808/99392499-c5d4a980-2916-11eb-8aab-84249226afc4.png)

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **

[2020-11-17 12:53] ffbin commented on #12066
cc @rkooo567 @ericl

[2020-11-17 13:02] kschuerholt commented on #4479
Sure. Basically, you make your local module a package. Instead of importing it locally from python path, you install it with pip. that way, it becomes available, even if the package isn't in your path.
To that end, create a file called 'setup.py' in the package you want to install. There's a lot of info on that online, you'll find all the details you need. It needs to contain the import of setup,

[2020-11-17 13:35] devin-petersohn commented on #11765
@ericl @richardliaw The Lua version is still a problem, updating Lua to 5.4.1 will resolve the issue.

[2020-11-17 14:01] danwallach commented on #12052
My tasks typically run for about 30 seconds, and I launch about 2500 of them in parallel at a time.

I'm using c5a-16xlarge nodes, so 64 vCPUs per node. I'd like to have all those vCPUs busy.

[2020-11-17 14:55] kfstorm commented on #11070
Sorry that I don't have time to do it this week.

[2020-11-17 16:31] Andrej4156 opened #12073 "[tune][rllib] Hyperparameter sweeps not running asynchronously"
### What is the problem?
Running several workers in parallel on separate environments results in each worker running at a fraction of the speed a single worker would run at. This problem occurs in both my custom environment and the cartpole environment though to a lesser extent in the latter.

For example, suppose I run a single process with 1 worker. It evaluates 600 timesteps every second. If I

[2020-11-17 16:33] felipeeeantunes commented on #12047
This bug is related to the issue https://github.com/ray-project/ray/issues/10458.

[2020-11-17 16:56] AmeerHajAli commented on #12005
If we can detect failed nodes, we can easily skip the `keep_min_workers` call when the node is tagged as failed.

[2020-11-17 17:12] oliverhu commented on #9919
@richardliaw  @ericl  let's close this ticket ?

[2020-11-17 17:13] wuisawesome commented on #12005
IMO this seems like the best solution. Clean and cost effective.

One downside is that this would make it harder to debug setup failures, so we may want to consider putting it behind a flag.

[2020-11-17 18:36] roireshef commented on #11239
Hi there, I'm experiencing similar (although might not be exactly the same) issue with both gcs reporting a stream of :
`gcs_server.out:I1117 17:50:03.524953    59    59 gcs_worker_manager.cc:32] Reporting worker failure, worker id = 9e5bc2ff1515401c181db192ee0a0d3dfccd5a48, node id = ec63ba9921092c53a281629a004c547f7f8353bc, address = 10.120.253.12`
and monitor reporting a stream of:
`Monitor: co

[2020-11-17 18:37] roireshef commented on #11239
[logs.tar.gz](https://github.com/ray-project/ray/files/5555488/logs.tar.gz)

[2020-11-17 18:49] roireshef commented on #11239
I'm attaching my logs:

[logs.tar.gz](https://github.com/ray-project/ray/files/5555550/logs.tar.gz)

[2020-11-17 19:06] aced125 opened #12077 "Example cluster yaml configuration is broken."
https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/aws/example-full.yaml#L16

`ray up example-full.yaml` yields

[code]

Deleting line 16 fixes everything.

[2020-11-17 19:09] roireshef commented on #11239
@OrlMat what's the last stable Ray version you managed to make it work at scale...? Did you say v0.8.6 doesn't work for you either??

[2020-11-17 19:15] richardliaw commented on #12077
Can you try upgrading your ray to the latest nightly version?

[2020-11-17 19:15] #9919 closed

[2020-11-17 19:32] yncxcw commented on #12017
@ericl hi, Yeah, I am just trying to understand if importing a large dependency would potentially slow down the short-lived task.

[2020-11-17 19:41] raoul-khour-ts opened #12079 "[rllib] custom filters"
If you see the get_filer function in https://docs.ray.io/en/latest/_modules/ray/rllib/utils/filter.html

Filters must be a string that matches a predefined set of filters. some of which are a bit limiting.

I propose allowing filters to be a callable that will create a filter object that can be used instead.

### Describe your feature request
adding an if callable(filter_config): return filter_con

[2020-11-17 19:42] OrlMat commented on #11239
We started to observe issues after upgrade to v0.8.7 - I have already edited the post.

[2020-11-17 19:52] ijrsvt opened #12080 "Task Cancellation is broken for queued tasks"
### What is the problem?
*  After #11051 , tasks that are not yet executing may not be cancellable.
* Tasks cancellation is implemented for tasks that are pending a lease, or are currently running on the worker

## Change needed
* Basically [HandleCancelTask](https://github.com/ray-project/ray/blob/d7c95a4a9065cbad73901b4c1de087837e260316/src/ray/core_worker/core_worker.cc#L2165) should also ask `

[2020-11-17 19:53] ijrsvt commented on #12080
@gabrieleoliaro Hey I saw that you implemented queuing for non-actor tasks (which is **super exciting!**) and I was wondering if you could extend task cancellation to cancel tasks that are queued at the remote backend worker?

[2020-11-17 20:05] gabrieleoliaro commented on #12080
Thanks for bringing this up, @ijrsvt ! I'll look into this.

[2020-11-17 20:24] ijrsvt commented on #12080
@gabrieleoliaro Awesome! Please let me know if you have any questions!

[2020-11-17 20:59] #5005 closed

[2020-11-17 21:13] ricpruss opened #12083 "Security Question what is the 'google" package ray is installing? (pip install ray)"
### What is the problem?
The 'google' package required by ray looks very suspect and is **not** an official google package.

https://pypi.org/project/google/
is very suspect. No source link, home page links off to some random blog.  Author link goes no where.
Certainly not done by google.

*Ray version and other system information (Python version, TensorFlow version, OS):*
pip list | grep ray
ray

[2020-11-17 21:28] pcmoritz commented on #12083
@thomasdesr Can you have a look at this?

[2020-11-17 21:29] richardliaw commented on #12083
@ricpruss thanks a bunch for opening this issue! That's a bad oversight on our side:

This was introduced in: https://github.com/ray-project/ray/pull/6045 by @pcmoritz

We should perhaps install `protobuf` (as seen in this repo: https://github.com/benhodgson/protobuf-to-dict/blob/master/setup.py). Or just vendor the protobuf-to-dict inside ray repo.

[2020-11-17 21:38] pcmoritz commented on #12083
It seems to me that we are not actually using this package (it is unrelated to the `google` namespace we are using), so just removing the requirement might fix the issue.

[2020-11-17 21:44] pcmoritz commented on #12083
I created a PR here: https://github.com/ray-project/ray/pull/12085

Let's see if that fixes it, or if we need additional dependencies here!

[2020-11-17 21:52] pcmoritz commented on #12083
Thanks a lot for flagging this @ricpruss

[2020-11-17 22:03] DanielWicz commented on #9756
@stefanbschneider  Thanks for your answer

@sven1977  or @ericl
There's an example how to use `postprocess_trajectory()` method ? Because, the discounted reward may or may not work depending on how small is gamma and how long is the continued trajectory. Therefore it would really appreciated, to see average reward and value function based on it.

[2020-11-17 22:22] barakmich opened #12086 "Base client `get` atop client `wait` (and potentially make the API streaming)"

[2020-11-17 22:31] architkulkarni commented on #12059
It looks like you've already figured out the issue, but I'll post my error message here since it's slightly different and the last line gives an idea of what we could try setting the upper limit to (namely, 4294967295).  I don't know if that makes sense though, I'm not familiar with this part of the code.

[code]

[2020-11-17 23:16] aced125 commented on #12077
How do I do that? Also shouldn't the docs be stable?

[2020-11-17 23:17] aced125 opened #12088 "Ray cloud cluster code snippet is broken"
https://docs.ray.io/en/master/cluster/cloud.html

[code]

The above snippet from the docs fails at `source activate tensorflow_p36` because there are no conda environments other than the default in the docker image.

[2020-11-17 23:26] #7882 closed

[2020-11-17 23:33] richardliaw commented on #12088
cc @ijrsvt this is caused by the docker example flip

[2020-11-18 00:16] rkooo567 commented on #11993
@stephanie-wang

[2020-11-18 00:17] rkooo567 commented on #11993
oh my bad. it is the one I will take over

[2020-11-18 00:52] aced125 opened #12091 "Tune example on landing page is broken!"
Hi - I started a cluster, pulling the rayproject/ray:latest-gpu container.

It has python 3.7.7, and running the tune example on the landing page gives:

[code]

Error:

[code]

Ray looks really good, but it is frustrating when the landing page examples don't work

[2020-11-18 00:53] aced125 commented on #12091
The error seems to be related to `typing`, `dataclasses` and python 3.7.

[2020-11-18 00:54] amogkam commented on #12091
Hi @aced125 can you do `pip uninstall dataclasses` and try again? There's a problem if dataclasses is installed as its own package since it should already be included in Python 3.7.

[2020-11-18 00:58] aced125 commented on #12091
Still doesn't work.

[2020-11-18 01:00] amogkam commented on #12091
With the same error? It looks like the same thing as here https://github.com/ray-project/ray/pull/10936

[2020-11-18 01:01] aced125 commented on #12091
I would suggest some test automation for the docs - to make sure it runs with the default docker image.

[2020-11-18 01:01] aced125 commented on #12091
yes

[2020-11-18 01:07] architkulkarni commented on #12091
Sorry you ran into this--did you try running `pip uninstall dataclasses` on every node in the cluster, or just on one node?  If you're able to use the cluster launcher, you can add `pip uninstall --yes dataclasses` to the field `setup_commands` in the cluster YAML file.

[2020-11-18 01:10] aced125 commented on #12091
`pip uninstall -y dataclasses` is in the setup_commands in the YAML. Doesn't work.

[2020-11-18 01:15] amogkam commented on #12091
@aced125 Can you share your full yaml file?

[2020-11-18 01:25] richardliaw commented on #12091
@aced125 I just ran `aws/example-full.yaml` and ran the above Ray Tune starter script via `ray submit` and was not able to reproduce this issue.

[2020-11-18 02:07] ericl commented on #12052
30 seconds sounds like it should be triggering scale-up then. @danwallach can you provide a self-contained reproduction script? You can use mock tasks, like

@ray.remote
def f():
  time.sleep(30)

[2020-11-18 02:10] SanaIRnI commented on #11715
Hi @chaokunyang ,

As per your suggestion I implement Externalizable for ParentActor class, But ended up getting below error :
F1118 07:25:24.495728 23968 23969 reference_count.cc:154]  Check failed: object_id_refs_.count(object_id) == 0 Tried to create an owned object that already exists: ffffffffffffffff3bc3c4ff010000c001000000
*** Check failure stack trace: ***
    @     0x7f9726e3502d  google:

[2020-11-18 03:01] #12083 closed

[2020-11-18 03:35] danwallach commented on #12052
I've got a "no-op" version of my job that I built for @rkooo567 on a different bug. I haven't tried it yet with 1.0.1, but it should have the same behavior.

[2020-11-18 03:37] rkooo567 commented on #12052
Yeah @ericl this is the same one that I ran about 3-4 weeks ago and couldn’t reproduce the issue at that time. I remember it took some time to actually spawn all workers for that script too. I can share the repo with you

[2020-11-18 04:27] rkooo567 commented on #12052
https://github.com/rkooo567/arlo-e2e-noop

(This should be just runnable at least when I tried last time).

[2020-11-18 05:34] LianShuaiLong opened #12099 "[Tune] Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above"
### What is the problem?
when i run tf_mnist_example.py with tensorflow-gpu, the following errors occur:
 Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray:1.0.0
tensorflow:2.2.0
cuda:10.1
cudnn:7.6.5
pyth

[2020-11-18 05:35] richardliaw commented on #12099
Can you post the full trace?

[2020-11-18 05:37] LianShuaiLong commented on #12099
2020-11-18 13:35:43,658 INFO services.py:1166 -- View the Ray dashboard at http://127.0.0.1:8265
== Status ==
Memory usage on this node: 19.7/251.6 GiB
Using AsyncHyperBand: num_stopped=0
Bracket: Iter 64.000: None | Iter 16.000: None | Iter 4.000: None | Iter 1.000: None
Resources requested: 2/48 CPUs, 1/1 GPUs, 0.0/131.64 GiB heap, 0.0/41.65 GiB objects (0/1.0 accelerator_type:V100)
Result logdi

[2020-11-18 05:42] LianShuaiLong commented on #12099
2020-11-18 13:35:43,658 INFO services.py:1166 -- View the Ray dashboard at http://127.0.0.1:8265
== Status ==
Memory usage on this node: 19.7/251.6 GiB
Using AsyncHyperBand: num_stopped=0
Bracket: Iter 64.000: None | Iter 16.000: None | Iter 4.000: None | Iter 1.000: None
Resources requested: 2/48 CPUs, 1/1 GPUs, 0.0/131.64 GiB heap, 0.0/41.65 GiB objects (0/1.0 accelerator_type:V100)
Result logdi

[2020-11-18 05:47] richardliaw commented on #12099
Thanks!

1 tip: use 3 ticks (```)  to mark as code ^ see my edits in your response.

Also, it looks like you're seeing a tensorflow issue - https://github.com/tensorflow/tensorflow/issues/37144

[2020-11-18 05:54] LianShuaiLong commented on #12099
thanks

[2020-11-18 05:54] #12099 closed

[2020-11-18 06:44] ericl commented on #12052
@rkooo567 can we come up with a simpler repro? The problem with a complex repro is that the issue can always be an issue in the application code. Have you tried reproducing this on that cluster with a simple wave of tasks?

[2020-11-18 06:47] rkooo567 commented on #12052
Ah, I didn't do that last time because I couldn't reproduce the original issue I just ran -> it worked -> so I stopped working. I can spend some time later to make simpler reproducible scripts.

This is totally possible because it seems like the AMI I used didn't have the original issue, but Dan's ami had that for some reason. I will try reproducing it again and create simpler scripts.

[2020-11-18 06:56] rkooo567 commented on #8812
Close since it looks like there's no followup. Please feel free to reopen it!

[2020-11-18 06:56] #8812 closed

[2020-11-18 07:23] robertnishihara commented on #11765
@devin-petersohn does the tool provide any more info (e.g., location or file or something)? We don't directly use Lua in the project (and I can't find references to it in the codebase right now). Redis uses Lua for some stuff, so it must have something to do with Redis.

[2020-11-18 08:11] aced125 commented on #12091
I'm running it via a jupyter notebook @richardliaw

`ray exec $conf --port-forward=8899 'jupyter lab --port=8899 --allow-root'`

[2020-11-18 08:14] aced125 commented on #12091
[code]

[2020-11-18 08:26] ericl commented on #11239
I'll spend more time trying to reproduce this. Seems like I might just have to but the bullet of waiting a couple days for a crash.

As usual, if anyone has a fast reproducible crash that would be very helpful.

[2020-11-18 08:51] ericl commented on #11239
Btw @soundway there is some possibility part of your issue is solved by https://github.com/ray-project/ray/pull/11869

Which is in latest wheels. However, that issue should manifest immediately and not after a long period of time.

[2020-11-18 08:57] rkooo567 commented on #11239
@OrlMat @roireshef @soundway Also, can you guys give us logs that are from the crashed nodes? It seems like everyone's issue was basically stemmed from random node failures that we don't know why they happen.

[2020-11-18 09:03] richardliaw opened #12104 "[autoscaler] [docker] ray up on stopped node fails?"
### What is the problem?

I ran `ray up` on a cluster that I had previously stopped.

The ray up was unable to finish properly due to a `tmp` call.

cc @ijrsvt
[code]

[2020-11-18 09:08] richardliaw commented on #12091
@aced125 I ran your command on the `example-full.yaml` cluster that I started today:

![image](https://user-images.githubusercontent.com/4529381/99509292-7011f880-293a-11eb-9e2c-30c97f7deb7b.png)

[2020-11-18 09:08] richardliaw commented on #12091
<img width="841" alt="Screen Shot 2020-11-18 at 1 08 11 AM" src="https://user-images.githubusercontent.com/4529381/99509360-87e97c80-293a-11eb-9282-9b08abe03a1b.png">

[2020-11-18 09:21] ijrsvt commented on #12104
@richardliaw can you rerun with something like `ray up -vvvvvv ...`

[2020-11-18 09:49] guyue5 commented on #9823
I also encountered this, have u solved?

[2020-11-18 09:49] guyue5 commented on #9823
I also encountered this, have u solved?

[2020-11-18 11:25] AmeerHajAli commented on #12104
I get this error too @ijrsvt .

[2020-11-18 12:27] Tinusf opened #12107 "[rllib] Custom model compute_action is wrong."
### What is the problem?
Hello, I have created a custom model based on TFModelV2, akin to the example "MyKerasModel" in https://github.com/ray-project/ray/blob/master/rllib/tests/test_model_imports.py, using `num_outputs=2`. I am trying to create a PPO agent without critic that is first trained in a supervised manner using:
[code]
After that I import the model to the new PPO agent using
[code]
How

[2020-11-18 12:42] krfricke commented on #12107
cc @sven1977

[2020-11-18 13:02] krfricke opened #12109 "[autoscaler] installing latest ray wheels leads to errors (no `ray status`, no worker nodes)"
### What is the problem?

I'm using the attached cluster config to bin up a cluster with one head and two workers. After starting and attaching to the session I get

[code]

Also, the worker nodes don't start up:

[code]

When I install latest ray (1.0.1) instead of the latest wheels in the cluster yaml, everything works fine.

It seems the ray version of the docker container is 1.0.0 per default.

[2020-11-18 13:10] mathpluscode commented on #8826
Hi, @kamil-kaczmarek, we are using Neptune with RLLIB in our projects currently. Are there any updates on the integration with tune? We are really looking forward to this feature! Especially now wandb has been supported ;) Thanks!

[2020-11-18 13:57] AmeerHajAli commented on #12109
I am not able to reproduce this, I used the same yaml and I get the following after running ray status:
[code]

[2020-11-18 14:28] krfricke commented on #12109
I just checked it again, and it seems I made a mistake reporting my environment.

When I tested the config on filing the issue, I was on the latest ray release locally (`1.0.1`). This still doesn't work for me.

However, switching to latest master solves the problem. I thus assume the problem has been fixed or was due to a version mismatch.

Thanks for your help and sorry for my mistake.

[2020-11-18 14:28] #12109 closed

[2020-11-18 15:18] krfricke commented on #12073
Hi Andrej, thanks for raising this issue. Just to clarify, are you running this on a single machine or on a cluster (it looks like a single machine)? How many CPUs are on your machine?

Parallelization can only do so much on a single machine - if your CPUs are at 100% utilization, it doesn't matter if they're working on six workers with one environment each, or one worker with six environments. Th

[2020-11-18 16:15] DMTSource commented on #9432
@ericl I tested with 4 machines using the wheel: ray-1.1.0.dev0. I am seeing absolutely no odd/extra ram use or issues like before on any machine due to the large plasma object broadcast. I will try at larger scales asap but the broadcasting is now going very smoothly. Thank you all and congrats on ray 1.0+ release!

[2020-11-18 16:16] kocmurat93 opened #12112 "The specified module could not be found"
Hi ,
I installed ray on Python 3.7.5 . ı imported ray , when i runned the code ı got error that i wrote below. How can i solve this error ?
[code]
I have been working on Windows Server 2016.

[2020-11-18 16:16] kocmurat93 commented on #12112
++++

[2020-11-18 16:19] stephanie-wang opened #12113 "[core] Misleading error message on hanging ray.get"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 1.1dev

During `ray.get` of an object stored in distributed memory, the Python worker will repeatedly ping its local raylet to fetch the object (or detect that the object is lost and will never appear) until the object appears in its local object store. If this happens too many times, it

[2020-11-18 17:03] #11233 closed

[2020-11-18 17:40] ijrsvt commented on #12091
@aced125  Maybe try flipping the order of your installs. One potential problem here is that it seems like `torch` requires `dataclasses`
[code]

[2020-11-18 17:45] ijrsvt commented on #12058
The problem is that we updated our `base-image` #11407, but that wasn't built and pushed to our DockerHub because the method the function (`determine_tests_to_run.py`) used to check if docker was affected (and thus triggering a rebuild of `base-images) seems to not work on merge builds.

[2020-11-18 17:45] iamihgam commented on #4184
One can define it under a class as below and adding self since @staticmethod does not work with ray to avoid self
@ray.remote
class  frames:
       def __init__(self, param1, param2, param3, param4, params)
              self.param1 = param1
              self.param2 = param2
              self.param3 = param3
             self.param4 = param4

       def get_frames_ray(param1, param2, param3, par

[2020-11-18 17:46] architkulkarni commented on #12091
Ah good catch.  It looks like that's related to this `torch` issue https://github.com/pytorch/pytorch/issues/46930.  Hopefully they remove dataclasses as a dependency for Python > 3.6.

[2020-11-18 17:53] ijrsvt commented on #12058
[Merge build](https://travis-ci.com/github/ray-project/ray/jobs/434849569#L14820)

[Last commit--PR Build](https://travis-ci.com/github/ray-project/ray/jobs/433972422#L11974)

[2020-11-18 18:07] ag-tcm commented on #11918
Hey, sorry, I would like to but do not have the time to contribute right now.

[2020-11-18 18:14] gabrieleoliaro commented on #12080
@ijrsvt I just opened a PR to address this issue! I can't assign people to review my code, so feel free to either assign yourself, or somebody else. Thanks!!

[2020-11-18 18:17] Waki7 opened #12118 "[rllib] Previous reward and prev action parameter"
I would like to request that in the LSTMWrapper the parameters for previous action and previous reward be separate. Including previous reward is also a huge red flag for a lot of applications, it can completely nullify your results. On the other hand, conditioning on previous action is fairly common and effective in real use cases.

[2020-11-18 18:18] Manuscrit commented on #10423
I think that there may be an issue here. I have a similar problem.
With `DQNTorchPolicy`, the LR is never updated (cur_lr is updated but not used to update the optimizer).

The function `LearningRateSchedule.optimizer` is never called.
What is called is
[code]
from torch_policy_template. The method is not overridden.

There was a possibly related issue: [https://github.com/ray-project/ray/pull/610

[2020-11-18 18:19] Laksh1997 commented on #12091
@richardliaw I'm using the latest PyPi version of Ray. I'm assuming you're using the master/development branch though?

[2020-11-18 18:25] ijrsvt commented on #12080
@gabrieleoliaro Thanks for doing that so quickly!

[2020-11-18 18:39] aced125 commented on #12091
@richardliaw @architkulkarni @ijrsvt Swapping the installations works:

[code]

[2020-11-18 18:42] aced125 commented on #12091
So I just found out that `tune.track.log` is now `tune.report`.

I don't think the landing page demo should have this sort of error. It's the landing page!!!!

Think there needs to be some automated testing for all snippets

[2020-11-18 18:43] aced125 commented on #12091
Also:

[code]

[2020-11-18 18:48] bkusenda commented on #9823
@guyue5
My current workaround is to use an environment wrapper which doesn't perform any heavy initialization until the first call to "reset".  This only resolves the expensive initialization costs issue I point out not that it's a waste of resources and generally poor design.

[2020-11-18 18:52] amogkam commented on #12091
Hey @aced125 what version of the documentation are you looking at? Is this on master/latest?

[2020-11-18 18:55] amogkam commented on #12091
The landing page train_mnist example you posted is from an old version of Ray, <0.8.5 I believe

[2020-11-18 18:56] aced125 commented on #12091
@amogkam I am installing the latest version of Ray on PyPi, as can be seen from the YAML file.

I do not think the landing page example should be out of dat.

[2020-11-18 19:03] amogkam opened #12122 "[Tune] [PBT] Automatic experiment restart for synch=True"
In PBT with synch mode turned on, perturbations only occur when all trials are synched at the same timestep. This ensures fairness when trials are running at different speeds and could be useful if a trial has to restart when working with pre-emptible instances. However, in situations where a crashed trial is not able to restart, other trials will be blocked. We should add some sort of timeout for

[2020-11-18 19:10] amogkam commented on #12091
Hey @aced125 just to clarify you're using the latest stable version of Ray (1.0.1) right?

In that case you want to look at the master documentation (https://docs.ray.io/en/master/tune/index.html) or the documentation for the version of Ray that you are using (https://docs.ray.io/en/releases-1.0.1/tune/index.html).
The landing page example for both of these is different from what you posted origin

[2020-11-18 19:33] #11979 closed

[2020-11-18 19:47] anabranch opened #12126 "[Dashboard / metrics] KeyError: 'viewData'"
### What is the problem?

Ray nightly, TF 2.2, Python 3.7.7, running a tune training workload.

[code]

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in

[2020-11-18 19:53] edoakes commented on #12126
@anabranch could you please provide some info on how to reproduce this? e.g., cluster yaml and what the tune job was

[2020-11-18 19:58] ricpruss commented on #12083
Thanks you certainly have fixed it fast,
Ric

On Wed, 18 Nov 2020 at 7:52 am, Philipp Moritz <notifications@github.com>
wrote:

[2020-11-18 20:02] richardliaw commented on #12091
oh @aced125 are you looking at `ray.io` or `docs.ray.io`?

[2020-11-18 20:03] Laksh1997 commented on #12091
@richardliaw I am looking at ray.io, the landing page.

[2020-11-18 20:09] amogkam commented on #12091
Ohh my bad I thought you meant the Tune landing page (tune.io) which redirects directly to the docs. Yes you're right the ray.io example is out of date. We should definitely update that.

[2020-11-18 20:09] FormerLurker opened #12128 "Wheel for Raspberry PI (ARM processor)"
### Describe your feature request

Could a wheel be created for installing via pip on a raspberry pi? I tested ray on windows, and it worked amazingly well, and would LOVE to get it working on a raspberry pi too.  This would make it much easier to distribute my cross platform open-source application for raspberry pi users.

Thank you for your amazing work!

[2020-11-18 20:09] richardliaw commented on #12091
OK we should get rid of that code snippet on `ray.io`; can you please use

https://docs.ray.io/en/releases-1.0.1/

instead?

[2020-11-18 20:22] amogkam commented on #12112
cc @mehrdadn

[2020-11-18 20:40] #12088 closed

[2020-11-18 20:40] Laksh1997 commented on #12091
sure - everything working for me anyway - just thought I'd point out so others have a flawless experience

[2020-11-18 21:43] ericl opened #12137 "[autoscaler] Logging a bit too verbose on CPU requests"
[code]

This can be simplified to something like
`{'CPU': 1.0}: 1000`

cc @AmeerHajAli @wuisawesome

[2020-11-18 21:59] simon-mo commented on #11683
I'm thinking about some modified version of approach two:

The caller keep tracks of all the returned tasks that had received replies and are not `num_completed_tasks+1`. Caller will resend these tasks on actor restarts, but mark a flag `skip_execution` in the request payload. The actor will receive these `skip_execution` task, run through them only for book keeping and skip actually running the t

[2020-11-18 21:59] richardliaw commented on #12091
OK we update the example (and will probably remove it later) from the landing page. @aced125 let us know if you're running into other issues.

[2020-11-18 22:00] ericl opened #12138 "Spam in monitor logs about removing mappings or IP not found"
To reproduce, start a cluster with min_workers=10, then force it to scale down by changing min_workers=0 and running `ray up --no-restart`. The cluster will terminate the idle workers. You'll see something like this repeating in the monitor logs:

[code]

Some other users have instead reported `Monitor: could not find ip for client {client_id}"`.

I think this might be a bug in `update_load_metric

[2020-11-18 22:14] stephanie-wang commented on #11683
Actually I think we already have this field that lets the actor know the highest seq number that the caller has received a reply for ([handler code](https://github.com/ray-project/ray/blob/master/src/ray/core_worker/transport/direct_actor_transport.h#L365)). So I'd recommend reusing that.

I think we can contain all of the changes to the sender's side. Potentially something like this:
- next_reply

[2020-11-18 22:26] alexenos commented on #9075
I tried @gramhagen suggestion, and it did not work for me.

Regardless, I am also interested in support for using tune with external applications through the `PolicyServerInput`

[2020-11-18 22:27] zhe-thoughts commented on #12041
Thanks @kfstorm!

There are recently some users interested in C++ (Intel, Alibaba). Just in order to set right expectations, when do you think we can have this issue resolved? cc @SongGuyang @raulchen

[2020-11-18 22:56] aregm commented on #11765
@robertnishihara @zhe-thoughts The tool scans the binary and its dependencies, and as the Lua is a dynamic library loaded by redis-server and is a part of the Redis package dependencies, it triggers the scan and the list of vulnerabilities. Look for the file liblua.so and links liblua.so.5.1, liblua.so.5.1.5. It also could be installed in your build dependencies on a system level.

Output from the

[2020-11-18 23:06] anabranch commented on #12126
Yes, I will try to get the repro. Feel free to leave as P2 until then, just wanted to document the error for posterity. Additionally, it also looks like we're just querying a dictionary for a value that may or may not exist. It seems like if we just did `node_stats.get("viewData", {<insert-default>}` then we'd cover our bases.

[2020-11-18 23:07] Andrej4156 commented on #12073
The above example is running on a single machine with an Intel 8700K processor (6 cores, 12 threads) but this also occurs on a server with 40 cores, 80 threads.

Generally the CPUs are below 100% utilization. Even when running a single environment on the single machine with 10 workers, the average CPU utilization is well below 50%. One core might spike to 100% and they might all jump up to 80% for

[2020-11-18 23:09] anabranch commented on #12126
In fact just looking at [the code](https://github.com/ray-project/ray/blob/master/dashboard/datacenter.py#L146). It seems like this is almost designed to occur as

        node_stats = dict(DataSource.node_stats.get(node_id, {}))

Will create an empty dictionary if it can't find the node_id and in 4 lines later we try to extract a value from it.

I realize a reproduction would be nice, but this al

[2020-11-18 23:12] edoakes commented on #12126
@anabranch yeah, see the PR above which fixes it. Want a repro mostly to make sure there aren't other related corner cases / assumptions we're making

[2020-11-18 23:23] richardliaw opened #12140 "[tune/logging] Warning for Tune"
This is a sub-issue of #12060 .

Throughout our codebase, we don't use warnings.warn and rather rely on logger.warn to inform users of possible negative outcomes.

Instead, we should use warnings.warn appropriately:

docs.python.org/2/howto/logging.html#when-to-use-logging

[2020-11-18 23:24] anabranch commented on #12126
ugh, I just didn't refresh github so I didn't see the PR...

[2020-11-18 23:36] simon-mo commented on #11683
Let me try to work this through see if I got the idea:

Caller sends four tasks and the actor restarted when processing the last task `3`:
[code]
- `0` and `2` are completed
- `1` and `3` are not.

Now the caller find out actor was restarted:
[code]

So the caller re-send task `1` with seqno `0` and mark `client_processed_up_to` to `1` (which correspond to the original task `2` minus caller_starts

[2020-11-18 23:38] mehrdadn commented on #12112
@amogkam Sounds like a shared library dependency of the raylet isn't being found. I'm not sure what it might be though... someone will have to debug it.

[2020-11-19 01:09] amogkam opened #12145 "[Tune] Session Detection bad warning"
I'm seeing this warning being printed out a lot:
[code]
This is not very useful since I don't know what "this function" is referring to and there no actionable steps to take. The program also seems like it's executing fine, so this in fact might be an unnecessary warning.

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproducti

[2020-11-19 02:13] ericl commented on #11239
Quick update, I am currently running the following on a 10-node cluster:

`rllib train --run=PPO --env=CartPole-v0 --config={"num_workers": 32} --stop={"timesteps_total": 1000} --num-samples=10000 --ray-address=auto -vv`

After a few hours (2000 / 10000 trials complete), the raylet is at 100% CPU which is causing heartbeat delays. This seems likely to result in random node failures if raylet CPU l

[2020-11-19 02:45] 4ever-Rain commented on #12112
got the same error with Python3.7.9 on Windows10

[2020-11-19 03:11] LianShuaiLong opened #12149 "can i run ray with tensorflow-gpu version 1.x?"
### Describe your feature request

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-11-19 03:37] SanaIRnI opened #12151 "[Java][ray] Unable to run RAY with non Maven based Java project"
### What is the problem?
Hi,

When I am trying to run ray with hello world example without maven nature project, only normal java project with added dependencies as jars its throwing below error :

2020-11-20 10:12:55,707 INFO RunManager [main]: Ray runtime started @ 192.168.140.63.
10:12:55,707  INFO RunManager:198 - Ray runtime started @ 192.168.140.63.
  Exception in thread "main" java.lang.NoS

[2020-11-19 07:46] TomaAlexandru opened #12153 "Ray node connects to random redis port"
Hello.

Python version: 3.6.8
Ray version: 1.0.1

### What is the problem?
Node can't provide workers even successfully connects to head.

I have two Centos machines, first is head and the second connects to head.

redis runs on head machine on port 6379

First machine :  ray start --head --port=6380 --dashboard-host=0.0.0.0
Second machine: ray start --address='161.97.xx.xxx:6380' --redis-password

[2020-11-19 07:50] rkooo567 commented on #12153
Did you make sure to open all ports specified here? https://docs.ray.io/en/latest/configure.html#ports-configurations

[2020-11-19 08:20] krfricke commented on #12149
Hi @LianShuaiLong, sure you can. Ray itself is a general distributed computing framework and agnostic towards the libraries you use. As for the specific libraries, RLLib's algorithms support tensorflow 1.x. The other libraries don't have any restrictions with regards to libraries, so work with it, too.

Does this answer your question? If not it would be great to learn more about your use case - wh

[2020-11-19 08:38] mitar commented on #9578
I think this is waiting for a documentation improvement.

[2020-11-19 09:19] sven1977 commented on #11807
This DDPG specific bug should be fixed in the current master.
Could you try it out and let us know, if this is still a problem?

[2020-11-19 10:43] roireshef commented on #11940
@mfitton, @fyrestone  I see you merged in a fix - thanks! Were you able to verify dashboard works now when using Ray inside docker? Is this issue fixed completely?

[2020-11-19 10:44] roireshef commented on #11239
@ericl In my setup, just as I start the Tune cluster I immediately observe issues, like trials not starting. After a while (can be ~1 day) they are marked as failed. Please see the following output (from ~1 day since beginning of Tune run):
[code]

[2020-11-19 10:51] roireshef commented on #11239
@ericl - please also see the **_total time_** column. I've verified the trials the ARE running have started more on less (+-20sec) at the same time. The total time reported for some trials is completely off... Actually this was sampled 6-7 after the beginning of the experiment, so the only one shows total time close the actual time passed is the last one. All other trials are way off.... I hope th

[2020-11-19 11:03] roireshef commented on #11239
@ericl @rkooo567 I'll make sure to provide you with an reproducible example soon, but note that this doesn't happen when using single machine, so you'll need to run Tune over a cluster of few Ray nodes.

[2020-11-19 11:09] roireshef commented on #11943
@ericl , @ijrsvt - should we just propagate node-ip-address if it's provided by the user, to avoid issues?

[2020-11-19 12:32] sven1977 commented on #12047
Yeah, I think returning the logp instead of the prob is indeed a bug. I'll fix it. However, I still think we should use `policy.compute_log_likelihood()` for that, for the following reason:

Let's take a look at rllib/offline/is_estimator.py:

What we are trying to do here inside the  estimate method is to calculate the importance sampling ratios (IS): `p_old(actions)/p_new(actions)`, where `actio

[2020-11-19 12:34] meechos opened #12157 "[Tune] RayTune issue with broken pipe while writing to socket"
### What is the problem?
Failure to begin tuning trials due to broken pipe, with large data files.

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray 1.0.1
torch 1.4.0
python 3
Cloudera workbench

### Reproduction (REQUIRED)

Code example used to test [here ](https://colab.research.google.com/github/ray-project/tutorial/blob/master/tune_exercises/exercise_2_o

[2020-11-19 12:54] roireshef commented on #11239
@ericl @rkooo567 to reproduce, please install FLOW package using the instructions in: https://flow.readthedocs.io/en/latest/flow_setup.html#local-installation-of-flow -  NOTE: I skipped installing conda and installed it in my docker contrainer instead.

Next, clone the environment example from :
https://github.com/roireshef/flow_rllib_public

Finally, setup your Ray cluster, add `ray.init()` comma

[2020-11-19 13:14] krfricke commented on #12157
Hi @meechos, can you share a bit more details? Are you just running the above example in a different environment? Or did you adjust the code to fit your needs? If so, can you share parts of that code?

[2020-11-19 13:22] TomaAlexandru commented on #12153
Very usefull hint!
I've closed firewall on both machines and everithing works fine!

however there are something that i can't understand if want to start firewalld service.
   --min-worker-port: Minimum port number worker can be bound to. Default: 10000.
   --max-worker-port: Maximum port number worker can be bound to. Default: 10999.
   those ports need to be opened in firewall across the machine

[2020-11-19 13:35] kfstorm commented on #12041
Sorry that we don't have much bandwidth on this currently. Could you guys take on this issue?

[2020-11-19 13:47] roireshef commented on #11940
@mfitton , @fyrestone I'm still experiencing this issue after I've installed latest Ray wheel and verified the fix is in it. Please see attached logs in:

[logs.tar.gz](https://github.com/ray-project/ray/files/5567098/logs.tar.gz)

[2020-11-19 14:24] mattearllongshot opened #12161 "[autoscaler] cannot launch head node running ray 1.0.0 from system running 1.0.1"
### What is the problem?

Schema validation code fails on a 1.0.0 head node when it encounters `rsync_exclude` and `rsync_filter` entries when reading `ray_bootstrap_config.yaml`, which occurs when `ray up` was run on a machine with ray 1.0.1.

This can be fixed by removing the rsync entries from `python/ray/autoscaler/*/defaults.yaml`, although this isn't ideal because it means you can't specify

[2020-11-19 15:28] Manuscrit opened #12163 "[rllib] LR not updated by LearningRateSchedule in TorchPolicy"
### What is the problem?
In a `TorchPolicy` (I did not test with `TFPolicy`) with `LearningRateSchedule` mixin, the lr value of the optimizers lr_group are not updated (LR stays constant). The `cur_lr` attribute has the right value but the optimizers are being updated to use it.
This may be related/similar to #6101 and #10423.
The `optimizer` method of the Policy is not overridden when using the `

[2020-11-19 15:44] AmeerHajAli commented on #12041
@SongGuyang mentioned he will look into it tomorrow.

[2020-11-19 16:05] kamil-kaczmarek commented on #8826
Hi @mathpluscode,

We are working on it in Neptune. I hope that we will be able to release it in the upcoming weeks. Very happy to hear that you use Neptune with RLlib!

[2020-11-19 16:52] utkarsh0304 commented on #12060
import caffe
import cv2
import sys

def deploy(img_path):

    caffe.set_mode_gpu()

    # Initialize the Caffe model using the model trained in DIGITS. Which two files constitute your trained model?
    net = caffe.Classifier('##REPLACE WITH ARCHITECTURE FILE##', '##REPLACE WITH WEIGHTS FILE##';
                           channel_swap=(1,1,0),
                           raw_scale=255,

[2020-11-19 16:52] utkarsh0304 commented on #12060
anyone have this solution???

[2020-11-19 18:28] franklsf95 opened #12166 "[autoscaler] Ray Autoscaler should support custom Azure images"
### Describe your feature request

We can use custom AMI images when launching instances on AWS. We should also be able to do this in Azure.

[2020-11-19 18:45] simon-mo opened #12168 "[CI] Upload Windows Status to flakey-tests.ray.io"
### Describe your feature request

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-11-19 18:47] simon-mo opened #12169 "[CI] Upload test logs from failed tests"
### Describe your feature request

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-11-19 18:47] simon-mo opened #12170 "[CI] Upload ray session logs from failed tests"
### Describe your feature request

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-11-19 18:57] bkusenda commented on #9823
@guyue5 I just ran into this in the documentation.

    # When `num_workers` > 0, the driver (local_worker; worker-idx=0) does not
    # need an environment. This is because it doesn't have to sample (done by
    # remote_workers; worker_indices > 0) nor evaluate (done by evaluation
    # workers; see below).
   "create_env_on_driver": False,

Snipped from https://docs.ray.io/en/master/rllib-train

[2020-11-19 19:04] #12126 closed

[2020-11-19 19:31] ericl commented on #11239
Thanks @roireshef , I'll try those next.

For now, seeing issues with plain PPO on CartPole
[code]

[code]

Going to try upgrading tensorflow (realized this node was using 1.15 which is pretty old).

[2020-11-19 19:35] ericl commented on #11239
@roireshef one more note, while I'm still validating basic behavior at large scale, can you try reproducing your issue with a standard benchmark env? You can try Pong-v0 for example with the same learning configs.

It would be good to know (1) if the same issue happens, (2) if it does, does it take longer or the same time?

[2020-11-19 19:43] krfricke commented on #12161
Is this something we might be able to address in the post1 release? cc @AmeerHajAli @wuisawesome

[2020-11-19 19:49] tuxa opened #12172 "[tune] PBT checkpoints are not synced to head in GCP using Docker"
### System

Using the instance image and docker image from the example config:
Image: `projects/deeplearning-platform-release/global/images/family/tf-1-13-cpu`
Docker Image:  `rayproject/ray:latest-gpu`

Ubuntu 18.04
ray 1.0.1
python 3.7.7

Following dependencies are also installed:
torch==1.7.0
pytorch-lightning==1.0.6
torchvision==0.8.1

### What is the problem?

I am trying to deploy the tune-p

[2020-11-19 20:03] richardliaw commented on #12172
cc @krfricke it seems like the wrong checkpoint is being synced?

[2020-11-19 20:06] krfricke commented on #12172
Yep, this looks odd. Thanks for raising this issue @tuxa, I'll look into this.

[2020-11-19 20:20] wuisawesome commented on #12161
Unfortunately this would probably require patching 1.0 which is unlikely.

Starting in 1.0.1 though, we are trying to maintain api compatibility so hopefully this won't happen again in the future.

[2020-11-19 21:20] #12079 closed

[2020-11-19 21:46] SanaIRnI commented on #11715
[logs.zip](https://github.com/ray-project/ray/files/5569917/logs.zip)

@kfstorm Hi I am attaching my logs files. I am not able to figure out reason behind :  Failed to send local GC request. Request you to kindly help.

[2020-11-19 21:57] stephanie-wang opened #12176 "[dashboard] "new_dashboard" is leaking processes on Linux"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray 1.1dev

OS: Ubuntu 18.04
Python 3.6

When a ray is started and stopped with `ray.init()`, I see a process left over like this:

[code]

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies

[2020-11-19 21:58] stephanie-wang commented on #12176
cc @mfitton

[2020-11-19 22:05] edoakes commented on #12176
Max is out until next week. @fyrestone @mxz96102 could you please take a look? This might be linux-only because I'm not able to repro locally.

[2020-11-19 22:07] ericl commented on #8251
Duplicates https://github.com/ray-project/ray/issues/11624

[2020-11-19 22:07] #8251 closed

[2020-11-19 22:07] ericl commented on #11280
Duplicated

[2020-11-19 22:07] #11280 closed

[2020-11-19 22:09] ericl commented on #11765
@barakmich any idea why upgrading redis doesn't also pull in the newest Lua? I don't think we have a direct dependency.

[2020-11-19 22:11] ericl commented on #12077
To see the stable docs, click the version tab on readthedocs to select the version.

(note that github links always point to master, you'll have to see the release branch).

[2020-11-19 22:11] #12077 closed

[2020-11-19 22:12] ericl commented on #12091
Fixed.

[2020-11-19 22:12] #12091 closed

[2020-11-19 22:44] edoakes commented on #11166
FYI: we decided to do a patch release to fix this issue (`ray==1.0.1.post1`). You can try it out with `pip install -U ray`.

[2020-11-19 22:55] edoakes opened #12178 "[serve] Bad error message when passing in a function that takes no args"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
[code]

Output:
[code]

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/m

[2020-11-19 22:56] edoakes commented on #12178
@architkulkarni mind taking a look? We should probably either support taking no args (preferred) or have a better error message than this.

[2020-11-19 22:58] simon-mo opened #12179 "[Doc] Security Page"
### Describe your feature request

We need to bring back the security page for Ray:
- How to deploy Ray securely
- The threat model

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-11-19 23:00] simon-mo opened #12180 "[Serve] [Doc] Web Framework Examples"
### Describe your feature request
We should add examples integrating Serve with:
- FastAPI
- Aiohttp
- Flask

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-11-19 23:28] richardliaw commented on #8312
I think this is now fixed on master.

[2020-11-19 23:28] #8312 closed

[2020-11-19 23:30] LinxiFan opened #12181 "Ray doesn't allow "actor=" kwarg"
Ray v1.0

[code]

Ray doesn't allow "actor=" keyword argument. Error message: `actor_method_executor() got multiple values for argument 'actor'`.

I believe the internal variable "actor" should be renamed to `_actor` to avoid the conflict with user API.

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [lates

[2020-11-20 01:33] stephanie-wang opened #12190 "[core] `ray.wait` doesn't return ready objects until they are local"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray 1.1dev

I believe `ray.wait()` is supposed to return objects once they are ready anywhere in the cluster. Right now, it seems that it only returns ready objects once they have been pulled to the local node.

At minimum, the docs should be updated to reflect this.

Probably, we should

[2020-11-20 01:35] ericl commented on #12190
I think this has been the case for a long time (maybe 0.8). I think we can add a new flag to disable this? However, it does seem like the right behavior in the common case.

[2020-11-20 01:45] stephanie-wang commented on #12176
Closed by #12096 :)

[2020-11-20 01:45] stephanie-wang commented on #12190
Yeah, I think it makes sense to add a new flag and default to just waiting until the objects are local.

[2020-11-20 02:07] chaokunyang commented on #11715
@kfstorm  Could you please help with reference counting. The actor can't be created.

[2020-11-20 02:13] fyrestone commented on #12176
The dashboard agent has a loop for checking parent is alive. https://github.com/ray-project/ray/blob/master/dashboard/agent.py#L90

[2020-11-20 02:35] fyrestone commented on #11940
Thanks for the logs. It's weird that both of `Dashboard head -> GCS` and `Dashboard agent -> raylet` GRPC connections are failed.

[2020-11-20 02:55] LianShuaiLong commented on #12149
i close this issue since i test ray in tensorflow-gpu1.14 successfully ;Anyway,Ray is an excellent framework

[2020-11-20 02:55] #12149 closed

[2020-11-20 03:12] fyrestone commented on #11940
@roireshef Can you help confirm whether the environment variables http_proxy or https_proxy exist?

The GCS logs:
[code]
The Dashboard head logs:
[code]
It seems that the GRPC Python client uses correct address, but can't connect to the GRPC server.

[2020-11-20 03:35] simon-mo commented on #11683
Actually this won't work because the tasks that were resent might not arrive in the same order. So if task 3 are retried, it tells the actor to ignore all tasks up to 2 or 4, then task 1 will get cancelled.

If we resend task 2 but tells the actor the client processed up to 2, then the task 1 still won't be processed when it arrives later.

[2020-11-20 03:58] kfstorm commented on #11715
@SanaIRnI About the error you see in raylet.err, it's because you were not using the latest Ray (1.0.1). Actually it was a false alarm and has been resolved in 1.0.0. Could you show us the full version string in pom.xml?

BTW, I see another error: "Error: Could not find or load main class io.ray.runtime.runner.worker.DefaultWorker". It seems that the classpath for worker processes is misconfigured

[2020-11-20 04:05] kfstorm commented on #11715
@SanaIRnI About "Check failed: object_id_refs_.count(object_id) == 0 Tried to create an owned object that already exists", does it fail this way constantly?

@chaokunyang The only reason I can think of is that a duplicated actor ID is generated.

[2020-11-20 04:17] simon-mo commented on #11683
New design:
- client keep track of all `out_of_order_completed_task_ids`
- in SendPendingTasks (on actor restarts): client send a new RPC call to the actor to ignore these task ids
- in the actor side, these tasks are only tracked for seqno and won't be executed.

The rationale for this design:
- We cannot piggyback any task specific data (like `client_procesed_up_to`) on PushActorTask RPC because

[2020-11-20 04:35] dHannasch commented on #11940
When I run the following script:
[code]
on a machine with http_proxy and https_proxy set, it spits out
[code]
This looks like the same error, right?
(The sleeps are necessary so that the script doesn't exit before the error appears; the length of sleep necessary presumably varies by machine.)

Obviously, on any machine with http_proxy and https_proxy set, no_proxy is also going to be set, presumab

[2020-11-20 04:55] TomaAlexandru commented on #12153
Thank you very much guys, you've helped me a lot!
(@dHannasch very good explanation in your commit)
Regards,
Alex.

[2020-11-20 05:06] richardliaw opened #12194 "[docker] Default docker AWS example won't rsync across nodes"
### What is the problem?

In order to rsync files from one node to another, we rely on boto:

[code]

However, this will not work on the default docker image. Thus, when you try to rsync between nodes, you run into:
[code]

# Repro:

take a Tune script and run it on the cluster:

[code]

[2020-11-20 05:32] richardliaw opened #12195 "[aws] unspecified boto dependency breaks autoscaler examples"
### What is the problem?
In many of our examples, `boto3` is pinned to 1.4.8.
However, with this version of boto3, Tte autoscaler is throwing an error on `describe_instance_types` without any hint as to what the user should do next.

I'm not sure why we can't just load a copy of these instance types in the repo, to be honest.

cc @ericl @AmeerHajAli

*Ray version and other system information (Pyth

[2020-11-20 05:43] SanaIRnI commented on #11715
Hi @kfstorm

My mistake the pom.xml has version 0.9.0 . I modified it to 1.0.0 and the error changed for both projects and giving similar kind of error. It is unable to load functions from classes I have made as ray actor. For Eg in below stack trace ProxyTimedActor is the ray actor class and its giving error.

I tried to make nested class making ray actor class as static class but got similar err

[2020-11-20 05:44] kfstorm opened #12197 "Duplicated IDs are generated"
### What is the problem?

The bytes generated by `GenerateUniqueBytes` is not really unique. https://github.com/ray-project/ray/blob/0178d6318ead643fff6d9ed873c88f71fdac52e7/src/ray/common/id.cc#L40-L53

*Ray version and other system information (Python version, TensorFlow version, OS):* 1.0.1

### Reproduction (REQUIRED)

Apply below patch and run `bazel run //:id_test`,

[code]

You will see the

[2020-11-20 05:45] SanaIRnI commented on #11715
For this error , the application runs for few objects or few instances and then later fails in between .

[2020-11-20 05:45] kfstorm commented on #12197
This may relate to #9551 and https://github.com/ray-project/ray/issues/11715#issuecomment-729329913

[2020-11-20 05:57] kfstorm commented on #11715
@chaokunyang Is it because of https://github.com/ray-project/ray/pull/12001?

[2020-11-20 07:18] rkooo567 commented on #12197
Oh, I also saw users who had this issue.

[2020-11-20 07:18] rkooo567 commented on #12197
Will you push the fix?

[2020-11-20 07:26] kfstorm commented on #12197
Nope. I don't know how to fix it.

[2020-11-20 07:59] #12047 closed

[2020-11-20 10:43] meechos commented on #12157
Thank you @krfricke. Was hoping there was a clear debugging path. I am sending through more specific code below.

[code]

[2020-11-20 11:03] iamhatesz commented on #8616
The same for the PyTorch version of IMPALA.

[2020-11-20 11:53] chaokunyang commented on #11715
Seems `actor.ProxyTimedActor` is not in classpath. @SanaIRnI How do you run the application? Since you using spring boot, does `actor.ProxyTimedActor` packaged into spring boot jar in a special way, thus can only be loaded by spring classloader?

[2020-11-20 13:35] krfricke opened #12205 "[core] Restarting a task after crash raises RayActorErrors in follow-up tasks"
### What is the problem?

After starting a distributed training task which exited ungracefully, starting it the next time raises `RayActorError`s (from the old non-cleaned up run?), leading to failures. Only the second restart seems to work.

The error message is `ray.exceptions.RayActorError: The actor died unexpectedly before finishing this task.`.

Please note that the distributed training was

[2020-11-20 13:37] krfricke opened #12206 "[core/autoscaler] ray status SIGSEGV: No address out of total 1 resolved"
### What is the problem?

When trying to run a large scale cluster (200 nodes in this example), `ray status` sometimes throws SIGSEGVs. Additionally, the nodes do not connect to the head node.

Output:

[code]

This is just the output for one node. I have the same output for the other 201 nodes...

### Reproduction (REQUIRED)
Cluster config: https://github.com/ray-project/xgboost_ray/blob/master/x

[2020-11-20 13:48] stephanie-wang commented on #11683
I see. What about just resending the tasks that were already completed? That way, we don't need to modify the receiver logic at all and we can just save the out-of-order task specs on the sender side. I can actually see an argument for this approach since it follows the same execution semantics that are provided during normal execution, that the execution order follows submission order.

I'm fine

[2020-11-20 14:20] krfricke commented on #12181
cc @ericl

[2020-11-20 14:23] krfricke commented on #12161
Thanks @mattearllongshot for raising this - unfortunately for the time being you'll just have to make sure to use compatible versions. I'll close this issue for now, but we're trying hard to avoid such problems in the future.

[2020-11-20 14:23] #12161 closed

[2020-11-20 14:37] krfricke commented on #11695
Hi @nadav-jac, I believe this is just following the algorithm in the hyperband/asha paper. The idea here is that if you set a maximum training time, you don't want a trial that starts late to stretch out the experiment. As you correctly observed, the best trials are often found in the first bracket because they have more training iterations. This is especially true the more we proceed in time, and

[2020-11-20 14:37] #11695 closed

[2020-11-20 14:57] krfricke commented on #12206
Update: I get this sometimes after starting a benchmark script. It might be a general issue that comes up with many nodes:

[code]

[2020-11-20 14:59] krfricke commented on #12206
Sorry, I can't do much more than pasting stacktraces here... this came up when I started the script another time:
[code]

[2020-11-20 15:13] magnusja opened #12208 "[tune] seems to leak memory during checkpoint/pausing trials"
### What is the problem?

Ray seems to slowly leak memory over the course of tuning via PBT. Training is run in inside a k3s node (single node Kubernetes) with nvidia-docker and docker as container runtime (instead of containerd).

Screenshot if pod memory usage (grafana):
![grafik](https://user-images.githubusercontent.com/1659457/99815787-10d70280-2b4b-11eb-80aa-7803b63a102e.png)
where blue is r

[2020-11-20 16:16] edoakes commented on #12176
@stephanie-wang did you confirm that this fixes the issue? Above it says you have processes left from ray.init() but #12096 seems to only change ray stop.

[2020-11-20 16:24] stephanie-wang commented on #12176
Oh I think you're right about that. It seems it's still leaking processes. Here is the output that I have from a dashboard agent (it repeats this over and over):

[code]

[2020-11-20 17:54] Dipamc77 opened #12212 "[Rllib] 1.0.1 - eager_tf_policy has no attribute action_sampler_fn"
The action_sampler_fn is referenced as self.action_sampler_fn ... which is never assigned to self

Hence, using an action_sampler_fn with eager mode on results in error

Error on line:
https://github.com/ray-project/ray/blob/releases/1.0.1/rllib/policy/eager_tf_policy.py#L352

Python version 3.7.3
Tensorflow version 2.2.0

[2020-11-20 18:17] amogkam commented on #12212
Hi @Dipamc77 do you have a small reproducible script to try out? Thanks!

[2020-11-20 18:20] richardliaw commented on #12206
I'll separate this into a couple different issues.

[2020-11-20 18:20] richardliaw opened #12213 "[core] Failed to add any wildcard listeners RPC when starting many workers on cluster"
Cluster config: https://github.com/ray-project/xgboost_ray/blob/master/xgboost_ray/tests/release/cpu_large_scale.yaml

200 nodes, 4 workers each:

I get this sometimes after starting a benchmark script. It might be a general issue that comes up with many nodes:

[code]

_Originally posted by @krfricke in https://github.com/ray-project/ray/issues/12206#issuecomment-731218232_

[2020-11-20 18:22] richardliaw commented on #12213
cc @ericl @stephanie-wang

[2020-11-20 18:24] richardliaw commented on #12205
cc @ericl @rkooo567

[2020-11-20 18:32] edoakes commented on #12213
This error message means that gRPC couldn't successfully bind to the port it was allocated. How many workers are you running on each node? Is it possible you're running out of available ports?

[2020-11-20 18:40] simon-mo opened #12214 "[Serve] client.shutdown() is not complete"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

@crypdick found this issue.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.
[cod

[2020-11-20 18:40] rkooo567 commented on #12206
Do you have a lot of workers at each node? Also, did you set min-worker-port and max-worker-port?

[2020-11-20 18:46] simon-mo commented on #12214
This is actually a race condition in ray core:
[code]

[2020-11-20 18:52] rkooo567 commented on #12197
Actually, this might just make sense. We have 4 unique bytes, meaning there are 4294967295 cases. If I use the birthday paradox formula, the number of candidates to get a probability of 10% of conflict among 4 bytes number 29000. With 100000 actors, the probability to have conflict converges to 100%.

[2020-11-20 18:53] rkooo567 commented on #12197
<img width="243" alt="Screen Shot 2020-11-20 at 10 52 52 AM" src="https://user-images.githubusercontent.com/18510752/99838811-8b3d5d80-2b1e-11eb-9ee1-5e3b3e2a9792.png">

Reference is here just in case I probably did a mistake in calculation.

[2020-11-20 18:54] rkooo567 commented on #12181
@ericl Should we change the argument to something else? haha

[2020-11-20 19:15] Lewisracing opened #12216 "Deploy Ray on PBS cluster: redis.exceptions.AuthenticationError: invalid password"
Hi,

I'm having difficulty in starting ray on a multi-node cluster.
I'm trying to modify a PBS job submission script to initialize Ray.
[code]

I'm given the error of

 [s262332@dcn081 ~]$ 2020-11-20 19:09:59,359	INFO scripts.py:468 -- Using IP address 10.0.1.77 for this node.
2020-11-20 19:09:59,364	INFO resource_spec.py:212 -- Starting Ray with 71.78 GiB memory available for workers and up to 30

[2020-11-20 19:27] LinxiFan commented on #12181
`actor=` is a very common term in reinforcement learning, so it'd be great to avoid the conflict. Thanks!

[2020-11-20 19:36] richardliaw commented on #12216
Does it work if you don't start any worker?

[2020-11-20 20:14] rkooo567 commented on #12205
Does it happen in 1.0.1?

[2020-11-20 20:16] rkooo567 commented on #12205
Is your queue detached actor?

[2020-11-20 20:24] Lewisracing commented on #12216
If I comment the workers as below:

'''
from Lewis_functions import *
import torch.multiprocessing

torch.multiprocessing.set_sharing_strategy('file_system')
import ray

ray.init(address="auto")
#ray.init()
if __name__ == '__main__':
    cfg = PPO_config()
    i=0
    while i<200:
        print(i)
        i+=1

    #learner = [Learner.remote(cfg)]
    #workers = [Worker.remote(i, cfg) for i in ran

[2020-11-20 21:16] AmeerHajAli commented on #12195
I am not sure if the best solution is to store the table because we have to keep updating it. I think a quick workaround here is to make this a non breaking feature (keep it in try except as it was previously) with `logger.exception()`.

[2020-11-20 21:23] Lewisracing commented on #12216
No, still the same error

[2020-11-20 21:28] #11981 closed

[2020-11-20 21:48] janblumenkamp commented on #7341
This issue can hopefully be closed once #10884 is done :)

[2020-11-20 22:06] richardliaw commented on #12195
yeah, that would be great @AmeerHajAli can you open a PR and cc me?

[2020-11-20 22:22] richardliaw commented on #12206
No, 4 workers per node. 800 total workers.

[2020-11-20 22:23] richardliaw commented on #12213
4 total actors on each node, with 200 nodes.

[2020-11-20 22:33] richardliaw commented on #8204
If anyone runs into this problem, it'd be great to see the ray logs: `/tmp/ray/session_latest/logs`

[2020-11-20 23:26] richardliaw opened #12220 "[aws] Docker doesn't support changing filemounts"
### What is the problem?

[code]

If I add a file mount to an existing cluster, I can no longer start my cluster properly. This is actually a huge pain point for my development, where I sometimes need to attach different folders.

cc @ijrsvt

[2020-11-20 23:53] ijrsvt commented on #12220
@richardliaw Can you elaborate more on what you workflow is? Specifically, what state do you need to "keep in the cluster".

[2020-11-20 23:55] ijrsvt commented on #10786
#11407 introduced this change! The default user is `ray`!!

[2020-11-20 23:55] #10786 closed

[2020-11-20 23:58] ijrsvt commented on #12104
@richardliaw Follow up question, did you happen to edit your YAML between shutting down and restarting?

[2020-11-21 00:07] richardliaw commented on #12220
yeah:

[code]

[2020-11-21 00:11] richardliaw commented on #12104
hmmm maybe i modified the filemounts

[2020-11-21 00:12] ericl opened #12221 "[RFC] Improved autoscaler log messages"
The current autoscaler output is quite difficult to interpret due to its verbosity and low-level details. This is a proposal to clean it by periodically emitting the following summary table:

[code]

Implementation details:
- The autoscaler should periodically generate a JSON status message that includes the above information.
- We should log the above text summary for of the JSON status every 10-

[2020-11-21 00:13] ijrsvt commented on #12220
@richardliaw Oh! So you're totally fine with tearing down the container and restarting it :)

[2020-11-21 00:16] richardliaw commented on #12220
yep, that's right!

[2020-11-21 00:16] richardliaw commented on #12220
(but not with the vm download)

[2020-11-21 00:16] richardliaw commented on #12221
cc @mkoh-asapp @mattearllongshot

[2020-11-21 00:27] ijrsvt commented on #12220
There will be zero VM download :)

[2020-11-21 00:31] krfricke commented on #12213
It should actually be 200 nodes with 1 worker each. Sorry if this was confusing in the original post.

[2020-11-21 00:33] krfricke commented on #12205
I'm not using the `detached` keyword at all - is this what you're asking? (Nor really familiar with detached actors)

[2020-11-21 00:39] ijrsvt commented on #12221
@ericl Would it be useful to include something about the `head_node` in this output (like which one it is)?

[2020-11-21 00:53] richardliaw commented on #12172
OK I'm able to repro this and found one of the key issues. It seems like on the trainable, we're not using a `logger-creator` and so the logdir that the trainable is using is different from expected:

[code]
while the actual checkpoint should be:
[code]
(with the `PBTBenchmark` prefix)

[2020-11-21 01:15] wuisawesome opened #12223 "Warning for large number of python workers should be suppresable"
### What is the problem?

There are many legitimate cases in which number of actors >> num_cpus. In those cases, there should be a way to turn off the "WARNING: XXX PYTHON workers have been started." message. Since it makes it impossible to read other output.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script t

[2020-11-21 01:38] ericl commented on #11239
It seems Ray nightly fixes the raylet 100% CPU bug now. I'm now running the following:

1. 10000 short-lived PPO/Pong-v0 trials on a cluster of 30 m4.4xl workers (16 CPUs each). Tensorflow 2.1 / Ray nightly.
2. @roireshef 's `simple_tune.py` on a cluster of 20 m4.4xl workers (16 CPUs each). Tensorflow 2.1 / Ray nightly.

[2020-11-21 01:38] amogkam commented on #12223
Looks like this is a duplicate of #9384. I’m going to close this one.

[2020-11-21 01:38] #12223 closed

[2020-11-21 01:52] rkooo567 commented on #12205
I see. All the actors should be cleaned up when you re-run your job. This looks like a bug in this case

[2020-11-21 02:45] rkooo567 commented on #12206
If this happens on all nodes it is highly likely you configure `--node-manager-port` on the port that is already bound. Can you check if that's the case?

[2020-11-21 05:13] rkooo567 commented on #12221
cc @mfitton We should definitely port this to our dashboard.

[2020-11-21 06:15] #12153 closed

[2020-11-21 07:19] ffbin opened #12226 "[GCS]Optimize GCS actor&placement group scheduling"
### Describe your feature request

This feature mainly includes the following contents:
1. Split the GCS node manager and move the `NodeResourceTable` to GCS resource manager.
2. GCS resource manager provides cluster resource view for actor and placement group scheduling.
3. GCS provides a general scheduling module, give it a resource shape, return the scheduling to that node, and then both actor

[2020-11-21 07:20] ffbin commented on #12226
cc @raulchen @wumuzi520 @ericl @rkooo567

[2020-11-21 07:29] ericl opened #12227 "[tune] "Too many open files" with Tune sync after 4000 trials completed"
### What is the problem?

After 4000 trials completed, the Tune job crashed with:
[code]

### Reproduction (REQUIRED)

rllib train --run=PPO --env=Pong-v0 --config='{"num_workers": 16, "num_sgd_iter": 1}' --num-samples=10000 --stop='{"timesteps_total": 1}' --ray-address=auto

cc @richardliaw

[2020-11-21 08:57] Lewisracing commented on #12216
Problem solved.... should not use the password from yourself

[2020-11-21 09:01] richardliaw commented on #12216
@Lewisracing can you post more about what you did to fix it?

It was hard for me to help because I didn't quite understand the error -- I'd love to learn more about what you did/what the issue was so that I can help others in the future!

[2020-11-21 09:05] Lewisracing opened #12230 "Ray on PBS cluster: All workers jam on head node"
I'm trying to deploy Ray on a PBS cluster. I requested 2 nodes for this

[code]
No strange error was reported. Given the info below, I should assume that the connection is seccussful?
![image](https://user-images.githubusercontent.com/48195265/99872252-64dbf880-2bd8-11eb-8791-8611262d9480.png)
But why all the workers are still working on the head node and other one is doing nothing?
Anything wrong

[2020-11-21 09:08] Lewisracing commented on #12216
It's a bit odd for me as well. When I manually initialize Ray on the allocated nodes(by ssh log on then ray start**), I can assign the password anyway I like. But if I want to use the PBS shell script to submit the job, I have to use the default password given by redis which is a long one. Otherwise it will throw the invalid password.

[2020-11-21 09:08] #12216 closed

[2020-11-21 09:44] alokgogate opened #12231 "[tune] Ray tune xgboost experiment stuck with local_mode"
I've recently upgraded from `ray==0.8.7` to `ray==1.0.1` and have been using xgboost with tune. I've noticed that if I have sampled 10 (or more than 1) hyperparameter configurations (using hyperopt for parameter optimization) only the first experiment starts and remains in `running` state. I've tried this a few times and was able to reproduce it with the following code.

I've also tested by downgr

[2020-11-21 09:53] Lewisracing commented on #10466
@Patol75 Hi Thomas,
I'm trying to replicate your code. However, my workers still work on a single node. The following is my code. Could you help me figure out what difference could lead to this issue? Many thanks

[code]

And for the startWorkerNode.sh, I have
[code]

[2020-11-21 10:08] Patol75 commented on #10466
Hey @Lewisracing,

In my case, having `#!/bin/bash -l` in `startWorkerNode.sh` was necessary; I think it had something to do with environment variables not being loaded otherwise. Additionally, I think you need to `--block` in the `ray start` command in that same file, otherwise the `pbsdsh` process will simply finish and the worker will not be active. To go with that change, you also need to add

[2020-11-21 10:11] Patol75 commented on #12230
Could be solved by #10466.

[2020-11-21 10:26] rkooo567 opened #12232 "[Object Spilling] Tune S3 performance + Add unit tests with moto3"
### Describe your feature request

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-11-21 11:22] tibogissel opened #12233 "[rllib] Weight sharing example does not seem to actually share weights"
### What is the problem?

Versions: Python 3.6  | tf2.1 | rllib1.0.0

Weight sharing in tensorflow as implemented in rllib/examples/models/shared_weights_model.py creates two different sets of weights when it is supposed to reuse part of them.

### Reproduction (REQUIRED)
[code]

Output

[code]

Weight for `fc_1` should eb the same but apparently they are not. It seems that `tf.keras.layer` is not

[2020-11-21 11:39] Lewisracing commented on #10466
Thanks @Patol75

Unfortunately all workers are still working on one node...

[code]
startWorker_node.sh
[code]

Btw, what output do you have from PBS in your successful case?

[2020-11-21 11:50] Patol75 commented on #10466
Have a look below. Which version of Ray are you using? Can you also include how you initialise Ray in your Python script? Can you also verify in the log that the address printed by `echo` matches the one reported above (i.e. 10.0.1.106:6379)?

`job.sh.eXXX`
[code]
`job.sh.oXXX`
[code]

[2020-11-21 12:06] Lewisracing commented on #10466
The address is verified. Ray verysion is 0.8.6
The Python script is as below
[code]
When I manually request for 2 nodes then manually start ray on them, it actually works---the workers are properly distributed. But when I try to use the shell script to do the job, it doesn't work anymore. I suspect there's something wrong with the shell script...but I'm no expert..

[2020-11-21 12:33] markgoodhead commented on #12221
This would be a game-changing feature for autoscaler debugging/visibility - can't wait until this is on the dashboard!

[2020-11-21 13:31] Patol75 commented on #10466
Can you try to remove everything related to the Redis password in the shell scripts and try again?

[2020-11-21 17:48] Lewisracing commented on #10466
Yup... But still kinda same...

[2020-11-21 19:16] enikon commented on #7645
dciborow:
Worked for me on Win10

[2020-11-21 19:38] robertnishihara commented on #12190
If you call `ray.wait(object_ids)`, is the default behavior also to fetch all of the corresponding objects to the node where `ray.wait` is being called? If so, how would that behavior depend on the value of the flag that you're proposing?

Also, are you aware of use cases for this flag? I know it would be helpful for working around the problem in the above script, but it doesn't seem like a satisf

[2020-11-21 19:50] alperyyildiz commented on #11970
I have the same error. I also set _use_trajectory_view_api to False but it still does not work. I tried to inherit from both ModelV2 and Recurrent, both gave the same error.

[2020-11-21 19:50] richardliaw commented on #12221
cc @maximsmol this would be a good thing to use (especially since the plan is to emit json)

[2020-11-21 20:53] richardliaw commented on #9679
@flokde sorry for the slow reply! This is actually now possible - see https://github.com/ray-project/ray/pull/12156

[2020-11-21 20:53] #9679 closed

[2020-11-21 21:00] richardliaw commented on #12227
Thanks for the report; we should definitely add to the release tests when we have time (cc @krfricke).

[2020-11-21 21:04] #12195 closed

[2020-11-21 21:05] richardliaw commented on #12231
Thanks, @alokgogate . This seems bad - what happens if you enable local_mode=False, and disable GPU usage?

[2020-11-21 21:10] richardliaw commented on #12157
@meechos have you taken a look at this?

https://docs.ray.io/en/master/tune/user-guide.html#handling-large-datasets

I think the problem is that you're forcing the objects to be serialized and transferred through Redis (while instead you should use the Ray Object Store).

[2020-11-21 21:13] richardliaw commented on #12208
@magnusja this is interesting, thanks for reporting this issue.

What happens when you let it continue training (i.e., many hours)?

Does it oom?

[2020-11-21 21:13] richardliaw commented on #12194
I think this is closed with #12195

[2020-11-21 21:13] #12194 closed

[2020-11-21 21:15] richardliaw commented on #11687
@dHannasch any tips as to what we should do here?

[2020-11-21 22:29] magnusja commented on #12208
Yes it does get killed at 100GB (current pod limit), but I also have seen it getting killed at 150GB.

Last run which got killed today:
![Anmerkung 2020-11-21 232612](https://user-images.githubusercontent.com/1659457/99888963-1f0f4680-2c51-11eb-9267-b0eb42e37150.jpg)

ray memory a couple of hours before killing:
https://gist.github.com/magnusja/0bd1849b42d7e6cd940505e3c5b779f2

Anything else I cou

[2020-11-21 22:52] rkooo567 commented on #12232
Candidate:

- Better tuning for buffer size, multi-part-upload parameters, and stuff like that.
- Implement warm up. (add a new interface warmup).
- Track better stats to measure the bandwidth.
- smarter fusion (https://github.com/ray-project/ray/pull/12087#issuecomment-731646187) => don't fuse large objects behind small objects.

[2020-11-21 22:52] rkooo567 commented on #12232
cc @stephanie-wang

[2020-11-21 22:59] richardliaw commented on #12208
I think this is good, I thought I fixed this earlier a month ago but I
guess we still have some issues. I’ll take a look at this later this week
and will report progress in this thread!

Is this a blocker for you right now?

On Sat, Nov 21, 2020 at 2:29 PM magnus <notifications@github.com> wrote:

[2020-11-22 00:48] Patol75 commented on #10466
How many processors are you requesting for the job? And how many processors per node are there in the queue you have chosen?

[2020-11-22 02:49] keyboardAnt opened #12238 "Issue on page /ray-debugging.html"
AttributeError: module 'ray.util' has no attribute 'pdb'

[2020-11-22 03:03] pcmoritz commented on #12238
Thanks for the report, this is not released yet and only available in the Ray nightly (see https://docs.ray.io/en/master/installation.html#daily-releases-nightlies). Let me clarify that in the documentation!

[2020-11-22 06:20] alokgogate commented on #12231
Hi @richardliaw, all trials run if I disable GPU usage and enable `local_mode=False`
Also I tried setting `local_mode=False` and try with GPU and it seemed to work fine.

the setting of `local_mode` is only for redis or applicable for the entire ray cluster?

Also if I want to set the location of plasma store, session directory etc how would I do it in v1.0.1. Earlier (v0.8.7) I used to set  `temp

[2020-11-22 06:41] richardliaw commented on #12231
Local mode is just for your own python file/"job" - so that your code runs on 1 process.

You can set `temp_dir` with a renamed parameter: `_temp_dir`: https://docs.ray.io/en/master/package-ref.html#ray-init

[2020-11-22 06:42] richardliaw commented on #12231
BTW, have you considered using `tune-sklearn` for XGBoost training?

[2020-11-22 06:59] alokgogate commented on #12231
Not yet, will take a look at it though.

[2020-11-22 07:34] #12231 closed

[2020-11-22 08:21] Lewisracing commented on #10466
Each node in the cluster has 16 processors. What I'm requesting is 2 groups of 10 processors. That's the PBS scheduler will give me a total of 20 processors from 2 nodes

[2020-11-22 08:46] Patol75 commented on #10466
So can you try
`for (( n=10; n<=20; n+=10 ))`?

[2020-11-22 08:50] rkooo567 commented on #12181
Created a patch https://github.com/ray-project/ray/issues/12181

[2020-11-22 09:00] Lewisracing commented on #10466
Yeah that makes sense. Unfortunately it still doesn't work...
Btw, based on my manual attempts, it doesn't hurt if I repeatedly initialize a worker node, does it?

[2020-11-22 09:08] Patol75 commented on #10466
Can you confirm you tried the command from my latest edit? If yes, can you post the log and error content?

[2020-11-22 09:20] Lewisracing commented on #10466
Yes I did the `for (( n=10; n<20; n+=10 ))` line. Below is the log. Actually no obvious error was reported but when I ssh log in the node and check the status of the node, still all workers are all in the head node while the other one doesn't seem to have anything running on it

[code]
The rest are simple irrelevant program output

[2020-11-22 09:36] Patol75 commented on #10466
Hum... OK, nothing obvious comes to mind now. Would you mind posting the updated versions of both shell scripts?

[2020-11-22 09:43] Lewisracing commented on #10466
Sure
Main script:
[code]

startWorkerNode.sh:
[code]

Thanks

[2020-11-22 10:56] Patol75 commented on #10466
I do not see any problem in these scripts, unfortunately. However, I still have two suggestions. Within your python script, can you get rid of `if __name__ == '__main__':` and see if that helps? Additionally, can you try upgrading Ray to either 0.8.7 (`python3 -m pip install --user --upgrade ray==0.8.7) or the latest nightly build (I linked it above, same prodecure with pip)?

[2020-11-22 12:16] keyboardAnt commented on #12238
Thanks

[2020-11-22 14:31] dHannasch opened #12241 "Move to readthedocs.yml for configuration"
### What is the problem?
The instructions in https://github.com/ray-project/ray/blob/master/doc/README.md (or https://docs.ray.io/en/master/development.html#building-the-docs; incidentally, there should probably be a single source of truth there) fail to build the documentation.
*Ray version and other system information (Python version, TensorFlow version, OS):*
master
Anaconda Python 3.8.5
Ubuntu

[2020-11-22 14:37] dHannasch commented on #11687
One thing that I think would be a good idea is having a super-easy one-liner for anyone to build the docs with a simple change. But before streamlining those instructions, we'd have to have working instructions (https://github.com/ray-project/ray/issues/12241).

[2020-11-22 16:14] FruechteBini commented on #4569
@stefanbschneider i am currently working on the same issue - what is the parameter you use in the config equivalent to your test() function (evaluation mode) in this issue: https://github.com/ray-project/ray/issues/9123#issuecomment-649543419 ?

[2020-11-22 19:06] Lewisracing commented on #3644
Hi is this issue improved in the latest ray verisions (e.g. 1.1.0)?

[2020-11-22 19:57] stefanbschneider commented on #4569
@FruechteBini Not sure, I get your question correctly. In

[code]

from the example above, `myconfig` is the [RLlib config dict](https://docs.ray.io/en/latest/rllib-training.html#configuration).

In the issue comment you referenced, I did

[code]

inside my testing/evaluation function. Here, `self.env_config` is just the dict that I pass to instantiate my environment, i.e., env settings, but nothi

[2020-11-22 20:22] Lewisracing opened #12243 "Ray worker cannot find files on cluster storage"
Hi,

I'm wondering if Ray reads or write a file in the storage in a different way?

I'm trying to run Ray codes on a cluster, when I try to let a Ray worker load a file such as `np.load('aaa/asd.npy')` the program popped an error saying 'No such file or directory'. But the file is literally there and same thing happens when saving.

(1) For non-Ray programs, it definitely works (either a local wor

[2020-11-22 20:38] rkooo567 commented on #12243
In a cluster setting, ray workers can run in “any machine” in your cluster. You can see the error message if the machine that runs the ray worker doesn’t have a file.

[2020-11-22 20:39] rkooo567 commented on #12243
So in order to avoid this you should,

1. Make sure every machine has the same file at the same path
2. Or use file systems like NFS

[2020-11-22 20:44] Lewisracing commented on #12243
But in the cluster I'm using, all compute nodes are connected to the same storage. And there's no problem running completely separated non-ray jobs on different nodes accessing the same folder given the same relative path

[2020-11-22 20:46] rkooo567 commented on #12243
In that case, why don’t you try listing files on the path you specified within a ray worker and see if the path actually does exist?

[2020-11-22 20:51] Lewisracing commented on #12243
Good idea... and interesting...  why is Ray directing me back to the user root directory...

[2020-11-22 20:53] rkooo567 commented on #12243
I think it uses the path where you ran ray start. If you use autoscaler, this might be a user root directory

[2020-11-22 20:58] Lewisracing commented on #12243
Yup, point made. Thanks

[2020-11-22 20:59] Lewisracing commented on #12243
Yup, point made. Thanks

[2020-11-22 20:59] #12243 closed

[2020-11-22 23:02] ivallesp opened #12244 "[rllib] Unable to restore multiagent PPO policy models with tensorflow"
### What is the problem?
Ray version: 1.0.1
Tensorflow version: 2.3.1
Operative systems tested: Ubuntu 18.04 and MacOS Mojave

Hi, I am trying to export a trained policy in a multiagent environment as a tensorflow model, but it is dropping me an `UnliftableError`. I tried to simplify the reproduction script as much as possible.

### Reproduction (REQUIRED)
[code]

Once the model is saved, try to r

[2020-11-23 00:57] richardliaw opened #12246 "`ray dashboard` throws bad exception"
### What is the problem?
[code]
cc @wuisawesome

[2020-11-23 02:10] fyrestone commented on #12176
This error is expected, because redis has exit. I will find out the cause of this problem.

[2020-11-23 02:13] KyunghyunLee opened #12247 "[core] How to assign a specific actor to a specific GPU"
I use multiple actors for different jobs.
I defined different functions for each job, and their computation time differ.
Therefore, I want to assign a whole GPU for the heavy-load actor and share the other GPU for light actors.
However, I cannot find how to assign a specific actor to a specific GPU.

Thanks!

[2020-11-23 02:45] fyrestone commented on #12176
@stephanie-wang Can you help to find out what the parent pid of the agent process is? I can't reproduce this problem in my Linux, I wonder if it is caused by running in a container.

I will create a PR to fix this problem. It is not enough for dashboard agent to detect `ppid == 1` (The same logic from ray core https://github.com/ray-project/ray/blob/master/src/ray/util/process.cc#L569).

[2020-11-23 03:23] swicaksono opened #12248 "[autoscaler] Ray autoscaler: Monitor could not find IP"
I have done my own research about this and tried to find relevant issues on my current problem, but I did not find any suitable reference. I tried to up my own local cluster based on this reference [local autoscaller](https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/local/example-full.yaml) and [the YAML file](https://github.com/ray-project/ray/blob/master/python/ray/autoscaler

[2020-11-23 06:12] #5285 closed

[2020-11-23 06:42] magnusja commented on #12208
Yeah, unfortunately, it is.

I tried 0.8.6 but it seems that I am having the same issue there as well? https://gist.github.com/magnusja/6ce14e08a93864fed015bc4931877c63

I think this was working fine at some point with ray 0.8.6, so maybe the error is in my code somewhere or the problem really is because training is not really improving performance? That would be the two differences I can currentl

[2020-11-23 06:43] syed881 opened #12251 "[RLlib] Restoring GTrXLNet with A3C model requires historic observation"
Hey guys,

I have a custom environment where the observation size is (1,10) and action size is (2). For my environment, I found that A3C with GTrXLNet performs best. For GTrXLNet, I have used following configuration:

"model": {
		"custom_model": GTrXLNet,
		"max_seq_len": 10,
		"custom_model_config": {
			"num_transformer_units": 1,
			"attn_dim": 64,
			"num_heads": 2,
			"memory_tau": 50,
			"h

[2020-11-23 06:54] richardliaw commented on #12208
Hmm, ok yeah definitely if you could take a look at a couple things, that'd be helpful.

We have actually a check for memory leakage in PBT (tune/tests/test_trial_scheduler_pbt.py:testMemoryCheckpointFree). At some point, the memory usage was actually quite stable, but recently the test has become more flakey (https://flakey-tests.ray.io/).

Letting this test run for more iterations should definit

[2020-11-23 07:34] OrlMat commented on #11239
Here are the logs from our last run, which resulted in crash of ~10 workers after first train batch collection. I did not included logs from workers because they consist a lot of lines logged from our environment. We have used _ray-1.1.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl_, which btw seems to fails / freezes after first optimization (actors still collects data but no further optimizations ar

[2020-11-23 08:12] PidgeyBE opened #12255 "[autoscaler/k8s] Autoscaler does not recover from interruption of k8s API"
### What is the problem?
* ray==1.0.0
* kubernetes autoscaling

### Reproduction (REQUIRED)
In for example Google Cloud, it is not uncommon for the kubernetes master to be rebooted (e.g. when node-pools are added/removed, master is upgraded, etc..).
However, in this case, the k8s API used by ray autoscale is temporarily unavailable and the autoscale monitor crashes, without recovering. The head no

[2020-11-23 08:30] lizelive commented on #8152
is this issue still problem in 1.0?

[2020-11-23 09:47] ivallesp commented on #12244
In case somebody else faces this issue, the workaround is to downgrade to `ray===1.0.0`. In this version the same warnings are dropped but the `UnliftableError` disappears.

[2020-11-23 09:56] krfricke commented on #12206
Do you mean `--object-manager-port`? If that's the case then `ray down` did not clean up all resources. I'll check this next time I see the error (should be soon)

[2020-11-23 10:06] krfricke commented on #12244
Thanks work the issue and workaround @ivallesp. cc @sven1977 have you seen this one?

[2020-11-23 10:08] krfricke commented on #12248
cc @AmeerHajAli @wuisawesome  can you help with this?

[2020-11-23 10:09] krfricke commented on #12251
cc @sven1977

[2020-11-23 10:30] SanaIRnI commented on #11715
I am building spring boot jar with eclipse in fat jar format . PFB part of pom.xml :
		<plugin>
  			<groupId>org.springframework.boot</groupId>
 			 <artifactId>spring-boot-maven-plugin</artifactId>
  			<executions>
    			<execution>
      				<goals>
        				<goal>repackage</goal>
     				 </goals>
      				<configuration>
       					 <classifier>spring-boot</classifier>
        				<ma

[2020-11-23 10:35] Laksh1997 opened #12258 "[autoscaler/aws] No usable subnets found - on AWS cluster spin up"
I do:
[code]

and get:

[code]

Here is my configuration:

[code]

[2020-11-23 10:43] krfricke commented on #12258
Hi @Laksh1997, you'll need to create an AWS subnet that matches your resource requests. I'm afraid I don't have more detailed information here, but cc @thomasdesr who can definitely point you to the right direction

[2020-11-23 11:51] roireshef commented on #11940
@fyrestone @dHannasch - Thanks for your thorough response! it definitely gives me a better direction now. I'll investigate my node configuration further.

[2020-11-23 13:49] mehrdadn commented on #12112
Oh yes!! If you haven't [installed the VC++ runtime](hhttps://docs.ray.io/en/latest/installation.html#windows-support) then that might very well be it. I just assumed that was already done, but if not, please do try that @kocmurat93.

[2020-11-23 14:11] roireshef commented on #11239
Hi @ericl - I think it is worth running it with PyTorch, as TF/PyTorch Memory/CPU footprints can greatly vary.... In all of my reports I only used PyTorch as the DL engine.

[2020-11-23 16:42] joshua-cogliati-inl opened #12264 "Allow ray stop to stop a specific ray start"
### Describe your feature request

The use case is that we have a cluster that is shared by multiple users.  We are trying to use ray on this cluster.  Since it is shared, to run a program, we request resources (example ```qsub -l select=4:ncpus=2 ...```) and then we start ray on the resources we have been given.  Then, when the program is done we need to stop ray.
The issue is, say we request two

[2020-11-23 16:50] PidgeyBE commented on #11079
Just to be clear, raylet is still crashing when a custom resources becomes 0.
E.g in case the custom resource is `GPU` (we overwrite it):
[code]
Together with these logs, the raylet's memory usage sky rockets right before crashing:
![image](https://user-images.githubusercontent.com/19860056/99990624-577b6580-2db4-11eb-83fe-c706fca7c50b.png)

[2020-11-23 17:09] edoakes commented on #12264
@richardliaw this seems pretty important for better Slurm support.

[2020-11-23 18:03] GonzagueHenri commented on #10516
Hello,

I observed the same issue with a tuple Gym environment in Ray 1.0.0 using Tensorflow as a framework, with an error in compute_actions, the error is in tf_policy trying to get the shape of fetched. This error does not appear using pytorch.

Reverting to 0.8.5 allows to train an agent with Tensorflow (thanks Edward!).

[2020-11-23 18:11] amogkam commented on #12246
Mainly there is no actionable next steps to take if a user runs into this issue.

[2020-11-23 18:23] edoakes commented on #12247
@wuisawesome what's the recommended way to do this?

[2020-11-23 18:23] edoakes commented on #12247
Btw, @KyunghyunLee this would be a good thing to ask on our discussion forum: discuss.ray.io. Would you mind re-posting there so other users can discover it more easily?

[2020-11-23 18:25] rkooo567 opened #12271 "[Object Spilling] Spill/Restore failures are not propagated to raylet"
### What is the problem?

If we look at the method below, it seems like we always reply `status.OK()` even when spilling itself actually fails (imagine S3 write fails for some unknown reason).

This means that raylets will have the wrong spilling info (it will think object O is spilled although it actually wasn't).

We should handle this case properly

cc @stephanie-wang I added it to the mileston