[2021-02-15 22:48] rkooo567 commented on #14121
Thanks for posting the issue! Can you also provide us your ray start command? It'll be also great if you can provide the output of `ray.cluster_resources()`

[2021-02-15 22:50] rkooo567 commented on #14079
As long as you can provide a script that I can run without
1. GPUs
2. external dependencies. Meaning if it requires data, it'll be great if they are mocked out.
3. Also, if you can provide a cluster.yaml, that's also great.

It is okay to take long time to reproduce. Just by the fact that we know how to reproduce the issue, it'll be a tone of help. (Once we reach to that point, I can figure out ho

[2021-02-15 22:57] rkooo567 commented on #14121
Also, can you show us logs inside `/tmp/ray/session_latest/logs/raylet.err`?

[2021-02-15 23:00] photoszzt commented on #14121
I setup a cluster using ray up with a config like this:
[code]

[2021-02-15 23:03] rkooo567 commented on #14121
oh also, the bus error happens when you use too much of shared memory. You can also veruft this by calling `df -a /dev/shm`. Can you also check the output of this when the application crashes?

[2021-02-15 23:24] photoszzt commented on #14121
The raylet.err outputs this:
[code]

For shm, I cat on the head node:
[code]

Is there any command to execute commands on all nodes?

[2021-02-15 23:26] photoszzt commented on #14121
I change the chunk size to 5000 to make the issue easier to reproduce:
[code]

[2021-02-15 23:32] rkooo567 commented on #14121
While I will look into the issue, can you actually try one thing?

-> Set `--object-store-memory` to be lower than `5101024 KB`. You can do sth like `ray start --head --object-store-memory= 3758096384` => 3.5 GB of object store memory.

[2021-02-15 23:40] photoszzt commented on #14121
When storing the matrix in npy(no compression) file, it's 1.2 GB.

[2021-02-16 00:04] #14069 closed

[2021-02-16 00:05] richardliaw commented on #14069
hey @JohnLaMaster we just pushed a fix; could you try downloading the https://docs.ray.io/en/master/installation.html wheels and opening a new issue if you find errors?

Thanks!

[2021-02-16 00:28] photoszzt commented on #14121
When looking at the autoscaler log:
[code]
Is there any reason the object store memory and memory are zero? When logging into the node, the memory usage is not zero.

[2021-02-16 00:40] shamanez commented on #14091
Yeah application errors. Nothing wrong with RAY.

On Tue, Feb 16, 2021, 11:35 SangBin Cho <notifications@github.com> wrote:

[2021-02-16 02:35] baozhiming opened #14123 "a single bug in k8s autoscaler part"
This bug will never appear, but it is still ugly
![image](https://user-images.githubusercontent.com/32292894/108011835-eeb62900-7042-11eb-8e19-7a92212085a4.png)

[2021-02-16 02:57] #8825 closed

[2021-02-16 03:14] photoszzt commented on #14121
I change the object store memory to 3.5 GB. It fails with a different error:
[code]

[2021-02-16 03:30] DmitriGekhtman commented on #14123
lol, thanks for pointing that out!
It should read "return config"

I'll fix this next time I open a PR in the Ray repo (within the next few days)

[2021-02-16 03:34] rkooo567 commented on #14091
Can you also answer this question? `Is it also happening when you use CTRL+C?` Also, it'd be great if you can give us a reproduction script. (so that I can try with CTRL-Z and see if it happens to me as well)

[2021-02-16 03:35] rkooo567 commented on #14121
@photoszzt they are allocated only when you specify resources in @remote method. By default, it is 0. But the real resources are actually used (you can check the dashboard to see the memory & object store memory usage).

The error indicates one of your nodes failed. I think we should take a look at the issue in order to figure out the exact root cause. Thanks for the report!!

[2021-02-16 03:59] richardliaw opened #14124 "[tune/core] Ray core worker seems to hang with placement groups?"
### What is the problem?

You will need to checkout this branch: https://github.com/ray-project/ray/pull/13906
OS: MacOS.

### Reproduction (REQUIRED)

Then run:
[code]

What seems to happen is that the driver hangs forever near the end of training:

[code]
and the logs show a nonstop loop of:
[code]

cc @krfricke @rkooo567

[2021-02-16 05:29] offthewall123 commented on #14029
Yes, have set a global `http_proxy`. Have tried the latest version....ray 1.1.0

[2021-02-16 05:41] rkooo567 commented on #14124
Seems to be a quite critical bug that can block placement group turned on by default for Tune. cc @ericl

[2021-02-16 06:46] ijrsvt commented on #14095
Hmm, This permission is definitely concerning, let me look into why this is happening!

[2021-02-16 06:58] wuisawesome commented on #12221
@yiranwang52 what should the `/tmp/ray/setup-10.log` part look like for the k8s operator?

[2021-02-16 08:08] birgerbr commented on #14104
Here is an example of trying to use a memory-aware function on a multi-node-type cluster:

`memory_aware_func.py`:
[code]

ray cluster config (without any memory resource in `available_node_types`):
[code]

The task is never scheduled:
[code]

No feasible node type was found:
[code]

[2021-02-16 11:24] Bam4d opened #14128 "[rllib] VTrace in multi-agent non-recurrent setting does not correctly cut/mask batches at episode boundary."
### What is the problem?

Ray version: 1.1.0
Python: 3.8
OS: Ubuntu 20.04
Pytorch: 1.7.1

When using IMPALA to train multiple agents i'm coming across numerical instabilities due to batches of zeros polluting the training data. I believe this is due to a padding operation `pad_batch_to_sequences_of_same_size` not being handled correctly in `vtrace_torch_policy.py`

The error I believe is one of (o

[2021-02-16 14:50] AmeerHajAli opened #14129 "terminated idle nodes generate a misleading warning"
start an AWS cluster with 0 workers (m5.large, default yaml, set idle timeout to 1).
run this code:
[code]
This would result spinning up 1 worker. When this worker becomes idle, autoscaler terminates it, but generates the following warning:
[code]
[code]

[2021-02-16 14:56] Bam4d commented on #14128
My current hacky workaround is to override `vtrace_torch_policy.py` and calculate the masks in the following way:

[code]

`make_time_major` is left unchanged, but I'm unsure if it is working as wanted. Also my hack breaks compatibility with recurrent policies :(

[2021-02-16 15:02] sumanthratna opened #14130 "[docs] running time for examples is 0.000 s"
### What is the problem?

sphinx-gallery embeds the running time in HTML for examples, but on the ray docs it shows

e.g., see bottom of https://docs.ray.io/en/master/auto_examples/plot_parameter_server.html

the actual runtime should be reported, or we should disable that message by setting `min_reported_time` to `inf`

[2021-02-16 15:31] mr-mcox commented on #14079
That's helpful advice - thank you! I'll work on creating that reproducible script over the next few days. It will take some work because I want to incrementally verify that I'm simplifying while still reproducing the original issue.

[2021-02-16 17:40] ijrsvt opened #14132 "[autoscaler] Rsync Exclude can break Ray"
### What is the problem?

If you set `rsync_exclude` `"**"`, Ray won't rsync **ray_bootstrap_config.yaml** and will break!

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library

[2021-02-16 18:05] ijrsvt commented on #14132
A workaround to **rsync_exclude** everything is:
[code]

[2021-02-16 18:37] #13276 closed

[2021-02-16 18:57] simon-mo opened #14133 "[dashboard] dashboard crashed on nightly"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Repro:
- run dashboard on nightly, the page goes blank
- open the console, there some error of undefined attribute related to node.net
- might be related to the rename (net -> network)?

I will revert the original PR in the meantime

### Reproduction (REQUIRED)
Please provide a short cod

[2021-02-16 18:59] rkooo567 commented on #14133
I am seeing the same issue. Is it the ClusterFeatureRenderFn has no property 0 or sth?

[2021-02-16 19:00] rkooo567 commented on #14124
This is a high priority task, and we should fix it asap. Will be handled in the beg of next week.

[2021-02-16 19:00] rghelichi opened #14135 "Running custom_keras_model.py"
### What is the problem?
I am trying to define a custom model using tf.keras and it gave me a valueerror complaining about some variables are not registered. I try to run the file in the repo (custom_keras_model.py) and it gives the same error

"""
ValueError: It looks like variables {<tf.Variable 'default_policy/my_out/bias:0' shape=(2,) dtype=float32>, <tf.Variable 'default_policy/value_out/bias

[2021-02-16 19:01] stephanie-wang commented on #13110
FYI, #14094 is related and we will need to report object store memory availability from each node to fix it. So that will bring us partway there.

[2021-02-16 19:36] barakmich opened #14137 "optimization: Client blocks on releasing references due to detached actor race condition"
This is the comment as mentioned here https://github.com/ray-project/ray/pull/14122/files#diff-10f3fda5ddb0ff3dbb8f347dd7fc53101d2dd140585e72f2d55be831bd5455dbR134

### What is the problem?

In most cases, a client object's lifetime matches its ID, but this isn't so with named actors. Performance can be improved by reverting this call to non-blocking.

### Reproduction outline
Here's how named act

[2021-02-16 19:42] yuduber commented on #14098
I have verified with lsof -i :ports and the ports are all available.

[code]

[2021-02-16 19:43] stephanie-wang commented on #13110
Yep, my plan is to report how much object store memory is available on each node for new task arguments. So once an object is spilled, it will get released and its size will be automatically added to this available memory.

[2021-02-16 19:50] yuduber commented on #14098
tried specify `--node-manager-port` and behave the same, see below output from my laptop:

[code]

[2021-02-16 19:57] wuisawesome opened #14139 "Latent bugs in command_runner.py"
### What is the problem?

This issue is meant to track many latent bugs in `command_runner.py`.

The most egregious issues are type errors:

* The command runner interface specifies that  `run` should return a string, but none of the command runners guarantee that: SSHCommandRunner sometimes returns a subprocess return code, and sometimes returns a string. The k8s one often returns None
* There is

[2021-02-16 20:00] rkooo567 commented on #14094
Btw, this will probably fix the multi-node cluster utilization issue? Because tasks were probably not spilled back due to ray.get requests.

[2021-02-16 20:02] wuisawesome commented on #13110
Sounds good! btw, i wonder if there are implications around scheduling behavior here? If a node's memory is over subscribed, can we still schedule tasks to it? (if no, this can have some dangerous deadlock implications)

[2021-02-16 20:04] simon-mo commented on #14133
yeah that should be the error from the frontend, but the underlying issue is related to some backend changes.

[2021-02-16 20:07] stephanie-wang commented on #13110
Hmm yeah. I'll keep the fix for #14094 limited to just spilling back to the node with the most amount of memory available.

[2021-02-16 20:16] rkooo567 commented on #14129
Can we ssh and call ray stop before the autoscaler kills idle nodes?

[2021-02-16 20:44] acxz commented on #14117
I gave it a shot, but I think it is a bit more complicated than at first glance (or maybe I'm just not able to read the error messages properly). I think I made some progress by upgrading https://github.com/ray-project/ray/blob/019d84a9f3c76204b0f71de5338ea7c11c16dffc/bazel/ray_deps_setup.bzl#L248 but am still having the issue, most likely do to another dependency.

[2021-02-16 21:40] simon-mo commented on #14130
can you submit a PR to set min_reported_time to inf? We are not running those code in the doc generation process. Thanks!

[2021-02-16 21:45] shamanez commented on #14091
CTRL+C doesn't even kill the process. I use [this huggingface script](https://github.com/huggingface/transformers/blob/master/examples/research_projects/rag/finetune_rag_ray.sh).

[2021-02-16 22:32] #13912 closed

[2021-02-16 22:36] jan-petrak opened #14140 "[Tune] Trainables making copies of global variables?"
What is the problem?

Trainable instances do not access global variables. It seems like they create their copies.

Reproduction (REQUIRED):

[code]

it produces an output like this:
(pid=8444) x is still empty
(pid=8444) x is still empty
x has len: 1
(pid=8444) x is still empty
(pid=8444) x is still empty
(pid=8444) x is still empty
(pid=8444) x is still empty
(pid=8444) x is still empty
(pid=8444

[2021-02-16 22:40] ericl commented on #12352
@richardliaw is this fixed now?

[2021-02-16 22:43] ericl commented on #14121
I think this could be related to object ownership... if you disable autoscaling, does the workload run? cc @stephanie-wang

[2021-02-16 22:49] sumanthratna commented on #14130
sure, I'll do that now. FYI, setting [`$SOURCE_DATE_EPOCH`](https://reproducible-builds.org/docs/source-date-epoch/) will disable reporting runtimes (as an implementation detail in sphinx-gallery). @simon-mo if you think we should set the SOURCE_DATE_EPOCH env var then I can add that in the PR instead of just adding `min_reported_time`

[2021-02-16 22:51] jsuarez5341 commented on #12337
Adding a note here: it seems zombie processes are always created when calling ray workers from a callback inside of a Twisted web socket server. Not exactly a repro I know, but perhaps somebody knows of a possible interaction? E.g. conflict in signal behavior?

[2021-02-16 22:52] rkooo567 commented on #12337
I actually verified the singal stuff worked correctly. If you can create a repro script, I think we can try fixing it quickly.

[2021-02-16 22:59] ericl commented on #14121
You can set min_workers = max_workers in the cluster config.

[2021-02-16 23:00] ericl commented on #14121
Btw, is the bus error fixed? We should track that in a separate issue if Ray isn't autodetecting the right shared memory size (cc @rkooo567 )

[2021-02-16 23:04] rkooo567 commented on #14121
@ericl Bus error doesn't appear after setting lower plasma store memory size. I think it definitely doesn't autodetect the max shared memory size (I've actually seen this issue before too). I can create a new issue for this.

His new particular issue just seems to be related to some race condition? `Check failed: spilled_objects_url_.count(object_id) > 0`. Also I ran this yesterday in my cluster,

[2021-02-16 23:23] rkooo567 commented on #14133
Is this fixed now?

[2021-02-16 23:27] kathryn-zhou commented on #14133
@rkooo567 the previous PR was reverted, so it should be fixed. will be adding another PR that re-adds the PR changes along with the more extensive fix

[2021-02-16 23:30] richardliaw commented on #12352
I was planning to leave this open until @sven1977 merges placement groups support for RLlib.

[2021-02-16 23:52] chevin-ken commented on #14097
@mvindiola1 The proposed change seems good to me! Are you planning on opening/merging a PR for this?

[2021-02-17 00:05] ericl commented on #14121
Is it because the node was removed due to autoscaling? It seems to be an incorrect check in that case then.

[2021-02-17 00:21] rkooo567 opened #14145 "[Object Spilling] Plasma store probably doesn't respect the max shm size."
### What is the problem?

It seems like some users are seeing Bus error when they run object spilling workload. Theoretically, it should never happen (unless there are multiple applications) because the object store memory should always lower than the shared memory size, and the plasma store shouldn't use more memory than that. We should make sure if the shared memory is correctly respected.

###

[2021-02-17 00:21] rkooo567 commented on #14145
cc @ericl

[2021-02-17 00:22] stephanie-wang commented on #14121
Just took a quick look at the code and it seems like it may just be a race condition with multinode spilling to disk.

We add the URL to the map [here](https://github.com/ray-project/ray/blob/master/src/ray/raylet/local_object_manager.cc#L294), but this gets called in a callback after adding the spilled location to the object directory. So there is a window where the location could be in the direc

[2021-02-17 00:28] rkooo567 commented on #14121
If we do this, is it necessary to change the assertion? In this case, doesn't the object URL should always exist?

[2021-02-17 00:38] rkooo567 commented on #14121
^ Talked to Stephanie, and I will make a PR To address both parts she mentioned.

[2021-02-17 00:39] ericl commented on #14145
Took a quick look and we are already doing this in `determine_plasma_store_config`. This might be pretty hard to reproduce. Downgrading to P2 until we have a repro.

[2021-02-17 02:46] rkooo567 commented on #14094
^ Hmm probably not because shuffle tasks args are all small... not sure what that happened

[2021-02-17 05:10] photoszzt commented on #14121
I try disable the autoscaler. It seems it's hitting a deadlock somewhere. There's no output and the cpus are idle.

[2021-02-17 06:37] rkooo567 commented on #14121
@photoszzt I am fixing the issue rn. Can you try again in a few days? Btw, I verified this worked when I used a larger memory machine (like 10GB object store per node)

[2021-02-17 07:38] rkooo567 commented on #14121
^ PR to fix the check failure you are seeing.

[2021-02-17 08:20] AlexandreRozier commented on #9419
Hi, any update on this issue ? I'd like to be able to restore an ExperimentAnalysis object like @endvroy , and not have to process it right after the execution of `tune.run() `. Using the `resume=True` option in `tune.run` does not work either :)

[2021-02-17 08:46] richardliaw commented on #9419
@AlexandreRozier ok; we will prioritize this so that it lands in the next release.

[2021-02-17 09:23] MihailSalnikov opened #14151 "[rllib] framework argument not passed to get_action_shape method that leads to AttributeError"
### What is the problem?
In this part of the policy initialization framework argument not passed to get_action_shape method that leads to AttributeError if TensorFlow not installed.
https://github.com/ray-project/ray/blob/b87fc1be5505c577f01807fd342e0cdb2e129081/rllib/policy/policy.py#L712

method [get_action_space](https://github.com/ray-project/ray/blob/b87fc1be5505c577f01807fd342e0cdb2e129081/r

[2021-02-17 11:02] krfricke commented on #14072
Thanks, I guess this makes sense. 6 digits should be enough though - there are certainly problems that use more timesteps (e.g. Atari) but I'd argue they are rather rare and you probably wouldn't keep millions of checkpoints.

[2021-02-17 11:21] Kai-AI opened #14153 "[rllib] Workload is not evenly distributed on a dual socket windows machine"
Hi, I am using RLlib for RL control of rocket engines for my PhD research. I am using rllib locally on my Windows machine, which is a workstation with 2 seperate CPUs (Intel Xeon Gold 6140). The problem is that only 1 CPU is actually working and the second CPU is mostly in idle. I have already discussed the problem on discuss.ray.io and was asked to open an issue (https://discuss.ray.io/t/ray-on-a

[2021-02-17 12:05] thoglu commented on #14072
I think 6 digits is rather low, since in the current implementation "step" refers to the internal training steps, not checkpoint steps.. and again in RL problems you can easily reach 9-10 million training steps.. so why not go with something higher than 6?

[2021-02-17 13:26] yuduber commented on #14098
I found the issue here.

In /ray/python/ray/_private/services.py start_redis(), after the primary redis started at port defined by command arg `--port=31001`, the start_redis() goes on to start the shards at incremented values of port, which means:
    if we have one shard (by default), the new redis shard will be using 31002;
    if we have two shards, the new redis shards will be using 31002, 31

[2021-02-17 14:40] sven1977 commented on #14114
Thanks for the issue @jsuarez5341 !

[2021-02-17 14:46] AmeerHajAli commented on #14129
Not really, especially for k8s.

[2021-02-17 15:03] erikerlandson opened #14155 "[operator] Use of '~' hard-coding in ray code"
### What is the problem?

There are some places in the ray code where the use of `~` for 'home directory' is hard-coded.
This is a problem for ray images where no home directory has been created. It is also a potential problem for any image running in openshift, where images run using anonymous random UID, and no passwd entry will exist.

*Ray version and other system information (Python version,

[2021-02-17 15:10] erikerlandson commented on #14155
I may be able to hack around this by setting HOME on images, will experiment.
However avoiding the use of `~` still seems desirable.

On a related note, assuming ray has been installed via conda, or needs the use of `.bashrc` and friends, is an assumption it is worth avoiding, if possible.

[2021-02-17 15:40] nihirv commented on #12157
I'm getting the same issue (Error 32). After making changes based on what the handling large datasets page says, my error changed to:
`redis.exceptions.ConnectionError: Error 104 while writing to socket. Connection reset by peer.`

I saw another github thread which was similar #2931 (https://github.com/ray-project/ray/issues/2931). One comment on that issue (https://github.com/ray-project/ray/issu

[2021-02-17 15:50] erikerlandson commented on #14155
@DmitriGekhtman  what do you think - is the use of a `RAY_HOME` environment var a good way forward or should the goal be to remove all references to appearances of `~`, `~/.bashrc`, etc, altogether?

[2021-02-17 16:01] neel04 opened #14156 "[Tune] [Transformers] Ray fails to complete trials"
I am trying to tune a model for text classification purposes with HuggingFace's `transformers` library. Using Ray, I am having this problem:

- Whenever I start tuning/Hyperparameter search, it starts running the first trial and logs a bit, then goes to the second trial showing the first one to be "running". This is how the logs look like-->

[code]
This just keeps happening despite trying 'n' num

[2021-02-17 16:23] neel04 commented on #14156
This seems to be the error:-
[code]

That def looks like a bug

[2021-02-17 16:42] erikerlandson commented on #14155
OK, a workaround exists: by setting `HOME=/valid/path` and creating an empty `$HOME/.bashrc` on my image

A side-note, I had to install `uptime` on my image as it wasn't there by default. This should be easy to do on any standard OS package manager, but might be worth documenting in a "requirements for ray container images" topic.

[2021-02-17 18:11] ali3assi opened #14159 "Function checkpointing is disabled. This may result in unexpected behavior when using checkpointing features or certain schedulers. To enable, set the train function arguments to be `func(config, checkpoint_dir=None)`."
Hi, I am new to ray so i am facing some difficulties.
When i run my code i get the following before I can see the training progress.
[code]
Then after i get an exception:
[code]
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-02-17 18:25] richardliaw commented on #14159
Here is the error that you are seeing:
[code]

I'm guessing that you don't always pass `val_loss` every time. Consider just setting the environment variable to avoid this error?

Also, in the future, could you please post on discuss.ray.io? Thanks!

[2021-02-17 18:25] #14159 closed

[2021-02-17 18:26] richardliaw commented on #14095
I will assign high priority to this, as it makes GCP really hard to use (and GCP is the standard for most ML startups).

[2021-02-17 18:27] #14133 closed

[2021-02-17 18:28] richardliaw commented on #14051
@pcmoritz does Eric's above explanation make sense? If so, could you please +1?

It'd be good to get closure on this thread before we drag it on forever.

[2021-02-17 18:28] ali3assi commented on #14159
@Thanks i Will do for next time, but now please how:
1- how can pass always the val_loss and where?
2- how to setpup tthe environment variable?

[2021-02-17 18:28] #11863 closed

[2021-02-17 18:28] #4574 closed

[2021-02-17 18:30] richardliaw opened #14160 "[tune] Move Optuna integration to use Ask/Tell interface"
This should simplify the implementation quite a bit:

https://github.com/optuna/optuna/issues/2177

[2021-02-17 18:30] richardliaw commented on #14160
cc @krfricke

[2021-02-17 18:33] iycheng commented on #12635
@fschlimb The second one is almost similar to the one you mentioned. If we make it default for all variables which introduces extra performance cost. So at someplace, we should have some kind of call to tell the system, it's shared_ptr, not unique_ptr. In the second solution, it's like the caller will do this. Or we make callee do this kind of work, like return an ObjectRef and user set the 'share

[2021-02-17 19:07] #14130 closed

[2021-02-17 19:09] richardliaw commented on #13084
This should be resolved with #14089

[2021-02-17 19:09] edoakes opened #14161 "[ray_client] Client prints handled exceptions"
### What is the problem?
The following does not print anything about the exception:
[code]
[code]

but when running with the Ray client, it has verbose output with the exception:
[code]
[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies**

[2021-02-17 19:22] richardliaw opened #14162 "[tune] Stack Traces with Function API are really hard to parse"
### What is the problem?

https://discuss.ray.io/t/attributeerror-nonetype-object-has-no-attribute-get/918/2

We end up posting a dozen stack traces from various parts of the system; we should really make sure to isolate so that we minimize the number of stacktraces that we show.

[2021-02-17 19:32] barakmich commented on #14161
This looks like a dupe of #13842 but I prefer your reproduction as being simpler and easy to test -- so I'm going to merge it the other way :)

[2021-02-17 19:33] barakmich commented on #13842
Moving tracking to #14161

[2021-02-17 19:33] #13842 closed

[2021-02-17 20:59] kathryn-zhou opened #14164 "[dashboard] Add test for Ray dashboard"
### Describe your feature request
Add a test using Selenium or Cypress that ensures that the Ray dashboard page loads.

This test was suggested because #14061 was merged and crashed the dashboard. There is currently no test that ensures the dashboard still works after changes.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-02-17 21:51] mingjunwang88 commented on #3030
I saw this issue too. my Env did not output did not use done. So I have to make sure at some point to make sure episode output done=True.

[2021-02-17 21:59] rkooo567 opened #14166 "[Object Spilling] Use subdirectories to avoid large top level inodes for file spilling"
### What is the problem?

For cases like 100TB shuffle, this could be problematic. Spark is doing the same thing for spilling.

cc @clarkzinzow

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If

[2021-02-17 22:00] ericl commented on #13612
I tried running the above script (modified below) on a i3.8xl instance (latest DLAMI, pytorch_p36 python env, Ray nightly) for 24 hours. I did not observe any increase in latency over time (things stayed bounded at ~100ms max). The average rose slightly from 23ms to 27ms, but that seemed pretty negligible to me.

Is it possible the problem is a system-specific issue (for example, running low on me

[2021-02-17 22:14] wuisawesome commented on #13725
Using the native shuffle (with 2 cluster util nodes with 4 cores each), i get the following:

With the worker pool's `TryKillingIdleWorkers` feature turned off, I see 12 core workers created (in theory this could require 8).

With the feature turned on (which it is by default), I get 23 core workers.

These numbers are all excluding io workers (which there always appears to be the correct number o

[2021-02-17 22:15] clarkzinzow opened #14168 "[Object Spilling] Object directory is not notified when spilled object is deleted"
### What is the problem?

When a spilled object is deleted, the object directory (GCS-based or ownership-based) is not notified, meaning that the spilled URL and spilled node ID are never unset in the object directory. Given that we use the existence of those fields as a proxy for whether the object is currently spilled, we risk running into issues e.g. when an object is spilled, restored, and the

[2021-02-17 22:35] rkooo567 commented on #14121
^ This issue should've been fixed. I will also try verifying it in a few days.

[2021-02-17 23:05] ANarayan opened #14169 "[tune] Extending HyperBandForBOHB scheduler to support training the n best trials to completion"
Would it be possible to extend the HyperBandForBOHB scheduler implementation to identify the _**n**_ best trials and then train those trials to completion (based on some other stopping criteria i.e. TrialPlateauStopper) all in one go? My understanding is that the HyperBandForBOHB scheduler stops training a given trial when it is the last one left in its bracket. Hence, it wont actually return a fu

[2021-02-17 23:48] #13084 closed

[2021-02-17 23:48] #14032 closed

[2021-02-18 00:57] barakmich opened #14172 "[Core] RayTaskError serialization is broken"
### What is the problem?

`ray.exceptions.RayTaskError` does some metaclass work that results in the inability to deserialize it.

This is easy to test by way of `ray.exceptions.RayError` -- a `RayTaskError` cannot always survive

[code]

The resulting error looks like the following when using the ray client:
[code]

This is, modulo the logging fixed in #14161, the root cause of #13842. It happens

[2021-02-18 01:04] rkooo567 opened #14173 "[Autoscaler] Head node doesn't seem to respect num cpus = 0"
### What is the problem?

After I start a cluster with a head node num cpus=0, it seems like it doesn't respect that config. Below is my ray status output. I am supposed to have 0 cpu, but it has 32.

[code]

Here's my autoscaler bootstrap output;
[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue.

[2021-02-18 01:05] rkooo567 commented on #14173
cc @AmeerHajAli @ericl This is the regression right?

[2021-02-18 01:10] rkooo567 commented on #14173
Also do you guys know any workaround I can try?

[2021-02-18 01:25] rkooo567 opened #14175 "[Dashboard] Display worker utilization & task list instead of process name."
### Describe your feature request

Currently, the dashboard displays the process names at each node. This approach is fragile because the dashboard captures the process name once every 1 second, and it is possible it doesn't properly capture the task that runs for a short time. This is really confusing from the end-user perspective because it is hard to know if the cluster is actually used or not.

[2021-02-18 01:25] rkooo567 commented on #14175
cc @edoakes

[2021-02-18 01:48] pcmoritz commented on #14051
So here is the resolution:
- We remove the warning in the placement group case as proposed in solution (1)
- At the same time we add a warning to the placement group docs that users are responsible to make sure their placement groups get ready with `ready` or `wait`

[2021-02-18 01:53] ericl opened #14177 "[RFC] loading packaged ray functions"
**Update**: This is the google doc of the draft API: https://docs.google.com/document/u/1/d/1gLGl_eNUsf0O2se4rKg7fbf9IhHtst1w8ydGPNCXnQI/edit

This issue proposes a way to package and load functions defined in separate codebases, similar to how you can import packages in Golang: https://thenewstack.io/understanding-golang-packages/

A few use case examples include:
- Loading different model versio

[2021-02-18 01:58] ericl commented on #14177
cc @edoakes @richardliaw

[2021-02-18 03:22] fyrestone commented on #14029
The ray 1.2.0 has been released, could you try it?

[2021-02-18 03:55] mxz96102 commented on #13883
Actor pages are designed to not refresh because the number of actors might be massive. But for further concern, I think it still needs an auto-refresh switch. And it will be turned off by default when there are too many actors (like 1k+ ?) I think it's a better way to solve this problem. ( Sorry for the late reply, we just have our Chinese new year vacation )

[2021-02-18 03:58] rkooo567 commented on #14124
cc @clay4444 Do you have time to take care of this issue?

[2021-02-18 05:06] rkooo567 commented on #14168
I think this is more critical for OBOD case, so I will assign it to you @clarkzinzow

[2021-02-18 05:07] rkooo567 commented on #14145
@ericl maybe it is the same issue I told you today (when my object store memory was 80GB, it uses 120GB shm). Let me see if I can find a repro later. I think it is okay to keep it P2.

[2021-02-18 07:26] rghelichi commented on #14135
I found the solution
at the end of the __init__ function the following line must be added
self.register_model(self.base_model.variables)

[2021-02-18 07:26] #14135 closed

[2021-02-18 07:50] rkooo567 opened #14181 "[Push Manager] OnChunkComplete occupies the main thread."
<img width="1198" alt="Screen Shot 2021-02-17 at 11 49 23 PM" src="https://user-images.githubusercontent.com/18510752/108322814-c6314a80-717a-11eb-9f7f-a68e43f103d1.png">

### What is the problem?

It seems like the OnChunkComplete and SchedulingRemainingPushes called from it occupies the main thread and overload the raylet, so that heartbeat reports are deferred in a multi node setup. We should f

[2021-02-18 07:59] rkooo567 opened #14182 "[Object Spilling] Plasma store uses more shared memory than object_store_memory sometimes when spilling"
### What is the problem?

It looks like sometimes (when there's a huge memory pressure), plasma store uses more memory than `object_store_memory`, which causes the SIGBUS. For example, I ran one stressful spilling workload, and I received SIGBUS while my /dev/shm size was 120GB and the object store memory limit was 80GB. When I killed the raylet, all memory was freed.

### Reproduction (REQUIRED)

[2021-02-18 08:55] Quentin-M commented on #13290
https://github.com/ray-project/ray/pull/14089

[2021-02-18 09:41] chaokunyang opened #14186 "[Java] Ray call java api doesn't support method overload"
### What is the problem?
Ray java api use method reference(lambda) to reference a method which will be executed remotely and enforce type safety in compile-time. But when the referenced method is overloaded, the compiler will complain. This is because both ray call api(`io.ray.RayCall#task/io.ray.ActorCall#task`) and referenced methods are overloaded, neither side of the methods are determinate ah

[2021-02-18 10:26] JohnLaMaster opened #14187 "[tune] PB2 tries to compare trial and string"
Hi @richardliaw, I caught a new error. Using the same code as in #14069 but with the updated nightly wheel (2.0.0.dev0), I now get a different code error message. This error was also thrown for actor 8/8. This display is different on this server, so I'm now entirely sure when it threw. At the bottom I have the pbt_global.txt output in case that helps narrow it down.

    Failure # 1 (occurred at 2

[2021-02-18 10:38] fschlimb commented on #12635
@iycheng Yes, I agree, these are closely related.

The point I am trying to make is that I do not see how 2 (or 1 and 3) is (are) composable. Without shared being the default, how would different packages orchestrated to a larger program synchronize? I see only 2 practical options: 1. all producers explicitly declare all outgoing refs shared or 2. the consumers always convert all incoming objrefs

[2021-02-18 13:07] #14022 closed

[2021-02-18 13:13] chenk008 opened #14188 "[Autoscaler] available_node_types is required in local mode?"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

python version: 3.6.5
OS: linux

monitor.err show the log:
`KeyError: 'available_node_types'`

### Reproduction (REQUIRED)

ray up  demo.yaml

demo.yaml:

[code]

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [x] I have verified my sc

[2021-02-18 14:28] AmeerHajAli commented on #14173
Is this a duplicate of #13270 ?

[2021-02-18 14:30] jackvice commented on #8469
+1 running SAC

[2021-02-18 15:14] iglimanaj commented on #3899
For the latest version of ray you need to pass the temp_dir argument like the following:
`ray.init(_temp_dir='/tmp/something_else')`

[2021-02-18 15:17] #14140 closed

[2021-02-18 15:28] holinov commented on #8469
+1 running SAC

[2021-02-18 15:37] #10565 closed

[2021-02-18 17:38] richardliaw commented on #14187
@jparkerholder could you take a look?

[2021-02-18 18:24] rkooo567 commented on #14173
OH yeah this is. As long as there's a workaround, I am fine with that.

[2021-02-18 18:24] #14173 closed

[2021-02-18 18:24] rkooo567 commented on #14173
@AmeerHajAli we should at least make it clear this in the document. It is really confusing behavior.

[2021-02-18 18:28] #14121 closed

[2021-02-18 18:29] rkooo567 commented on #14181
cc @stephanie-wang

[2021-02-18 18:32] rkooo567 commented on #14121
Hey @photoszzt can you try running it again, and if you face the issue again can you create a new issue and tag me there?

[2021-02-18 18:36] ericl commented on #14124
This seems to be a deadlock caused by https://github.com/ray-project/ray/pull/14180 (merged)

Note if you do py-spy --native you can see the deadlocking thread.

[2021-02-18 18:45] ericl commented on #12018
Reverted due to
[code]

[2021-02-18 19:13] #14161 closed

[2021-02-18 19:18] PidgeyBE commented on #12128
@PeterPirog
We build ray wheels more or less like this:
[code]

[2021-02-18 19:33] jparkerholder commented on #14187
hey - I have never had this issue so I can't immediately see what is causing it, I guess the issue is coming from the hyperparameter bounds and criteria being different to what we used for testing.

It looks like it is this line:

df["y"] = df.groupby(["Trial"] + list(bounds.keys()))["Reward"].diff()

One thought (if not too hard) is maybe print the df before this line. Or save it as a .csv and th

[2021-02-18 20:12] rkooo567 commented on #14153
cc @sven1977

[2021-02-18 20:36] #13824 closed

[2021-02-18 20:41] ericl commented on #14168
Discussed offline; this isn't needed since the spilled file is only ever deleted if the object reference is deleted itself.

[2021-02-18 20:41] #14168 closed

[2021-02-18 20:47] smorad opened #14195 "[rllib] Torch gtrxl crashes on iterable types"
The torch version of gtrxl expects `obs` to be a non-iterable `gym.space` (e.g. `Box`, not `Dict` or `Tuple`) and crashes.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Nightly linux wheel installed just now `2.0.0.dev0`

### Reproduction (REQUIRED)
Simply run this slightly modified `ray/rllib/examples/attention_net.py` using the nested repeat after me envir

[2021-02-18 20:48] ericl opened #14196 "Autoscaling should not remove nodes with active or spilled objects"

[2021-02-18 21:23] PeterPirog commented on #12128
@PidgeyBE Thank You for the answer. I have some problem with libatomic library, the error is:
 `error:undefined reference to '__atomic_load_8'`

I found some posts with advice to install libatomic library
    `sudo apt-get install -y libatomic-ops-dev`

 I have done it but now I don’t know how to set path ` /usr/lib/arm-linux-gnueabihf/libatomic.so.1.2.0` for the bazel linker.

[2021-02-18 21:26] #13827 closed

[2021-02-18 21:28] richardliaw commented on #14124
Yeah, seems like this issue has gone away. I can close this for now.

[2021-02-18 21:28] #14124 closed

[2021-02-18 22:09] #14181 closed

[2021-02-18 22:09] AmeerHajAli commented on #14188
@chenk008 , can you please try this on ray 1.2 or the ray nightly?

[2021-02-18 22:12] iycheng commented on #12635
@fschlimb I'm not an expert in ray's using patterns, so correct me if I'm wrong. From my understanding, the `actor` will be killed by the user ( not sure :p ), and the user knows which object will be used after killing. So, in this case, the user only needs to make that particular object shared.

One difference between (2) and (4) is that (2) always generates new object id while (4) reuse the old

[2021-02-18 22:25] #3326 closed

[2021-02-18 23:55] ericl commented on #14196
This could be automatically addressed via https://github.com/ray-project/ray/issues/13110 (at least the non spilled objects case)

[2021-02-19 00:57] #10240 closed

[2021-02-19 02:10] ericl commented on #11545
Closing as this feature is now implemented.

[2021-02-19 02:10] #11545 closed

[2021-02-19 02:10] ericl commented on #4289
Closing as this feature is now implemented.

[2021-02-19 02:10] #4289 closed

[2021-02-19 02:18] chenk008 commented on #14188
i have try the ray nightly: https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp36-cp36m-manylinux2014_x86_64.whl

monitor.err also show the error log:
KeyError: 'available_node_types'

[2021-02-19 02:57] #13714 closed

[2021-02-19 02:59] chenk008 commented on #14188
it's my mistake. I need to update ray locally.

[2021-02-19 02:59] #14188 closed

[2021-02-19 03:11] lacerdamarcelo commented on #8325
Thank you @noprohuangqi! I'll take a look!

[2021-02-19 03:59] raulchen commented on #14186
An alternative solution is to support lambdas. So users can work around overload methods by wrapping them with lambdas.
E.g.
[code]
The advantage is that we can still preserve type safety.

[2021-02-19 04:10] thegyro commented on #13612
@ericl Is there a reason why we see spikes in the latency of `ray.put()` call? In the graph, you posted above, an operation that typically takes < 25 ms seems to spike to 75, 100, and even 200 ms. I want to better understand why that happens.

[2021-02-19 05:09] ericl commented on #13612
Just a guess, but it could be something like periodic python GC, or
something from the OS.

On Thu, Feb 18, 2021, 8:10 PM Srinath Rajagopalan <notifications@github.com>
wrote:

[2021-02-19 05:13] pragyagarg642 commented on #13930
Okay, thank you @richardliaw

[2021-02-19 05:13] #13930 closed

[2021-02-19 06:22] chaokunyang commented on #14186
lambda is more complicated. Method reference doesn't contain state ,this is why we can convert method reference to function descriptor. But lambda can captures outer variables and state, which is stateful, so we can't convert lambda to function descriptor. We may need to use a common function descriptor and serialize lambda and arguments instead

[2021-02-19 08:50] kfstorm opened #14206 "[Java] Update doc about installing Ray Java"
After #10762, Running a Ray Java application requires `pip install ray` except single process mode. We should update the document about Ray Java installation. In particular, the _Installing Ray_ and _Ray Core Walkthrough_ page.

[2021-02-19 09:05] vannitorelli commented on #8758
Hello,

I would like to have an update on this. At the current state of the HA feature, if the cluster has one head node and one worker node and the head node goes down, is the worker node automatically elected as the new head node?

Thanks, Vanni

[2021-02-19 11:46] #14186 closed

[2021-02-19 17:58] clarkzinzow opened #14213 "[Ownership-based Object Directory] Object location subscribers aren't properly notified when reference is freed"
### What is the problem?

When a reference is freed, all future object location removal RPCs to the core worker will error with object not found, which the OBOD will interpret as a no-op. This means that after a reference is freed, no more updates will be pushed to the location subscribers. In order to match the current GCS-based object directory's semantics, we should push a final empty location

[2021-02-19 19:15] ali3assi opened #14214 "How to monitor memory usage in ray?"
I tried to monitor my hyperparamters ray tune based solution:
1- Can I monitor the memory usage, CPU, GPU etc?
2- I follow https://docs.ray.io/en/master/ray-metrics.html as suggested:
So when I run localhost:8080 I see the dashboard but noting inside. Indeed, if we go to status menue and select target option we can see:
**Endpoint:** [http://localhost:8080/metrics](http://laptop-6o4h5m9s:8080/metr

[2021-02-19 19:22] stephanie-wang commented on #14092
Looks like this issue is probably because the scheduling policy assumes that a node's resource capacity is static, which is not true in the case of placement groups.

[2021-02-19 19:34] rkooo567 commented on #14214
What do you mean by `So when I run localhost:8080 I see the dashboard but noting inside`? If you follow the instruction, 8080 should have a prometheus endpoint (not a dashboard), and the dashboard should be bound to 9090

[2021-02-19 19:37] clarkzinzow opened #14215 "[dask-on-ray] Allow output error objects to be dropped."
### Describe your feature request

When computing multiple Dask collections, sometimes the user wants to drop any collections that failed to be computed (due to either application errors or Ray system errors) and still salvage those that had been computed instead of always raising an exception. This can be done using the Dask Distributed API, by [dropping failed futures](https://docs.dask.org/en/l

[2021-02-19 19:37] clarkzinzow opened #14216 "[dask-on-ray] Add better support for progress reporting"
### Describe your feature request

Users often wish to monitor the progress of their Dask tasks (e.g. via a progress bar) as their computation unfolds. Although this is currently possible using Dask-on-Ray callbacks and `ray.wait()`, since this is a common use case, we should make this easier for users. Dask [has a first-class `ProgressBar` callback](https://docs.dask.org/en/latest/diagnostics-loc

[2021-02-19 19:38] ali3assi commented on #14214
@rkooo567  I mean when I type in the browser localhost:8080

[2021-02-19 19:51] rkooo567 commented on #14214
Are you using VPN? It is probably just a network issue (looks like 9090 cannot access localhost:8080)?

Also from 8080, the metrics should start displaying every 10 second. Can you also give me the screenshot of it?

[2021-02-19 19:54] ali3assi commented on #14214
![image](https://user-images.githubusercontent.com/16214827/108554631-5a59f980-72c2-11eb-9534-cac976b64cbb.png)

[2021-02-19 20:09] rkooo567 commented on #14214
8265: Dashboard
8080: Prometheus endpoint (the endpoint that prometheus server scrapes to obtain metrics from ray) https://prometheus.io/docs/prometheus/latest/getting_started/#configuring-prometheus-to-monitor-itself
9090: Prometheus server

[2021-02-19 20:10] rkooo567 commented on #14214
ah are you using windows?

[2021-02-19 20:10] rkooo567 commented on #14214
I think dashboard is not supported on Windows, and the monitoring information is exposed as a part of dashboard. I think that's the root cause..

[2021-02-19 20:24] shamanez commented on #14101
any update?

[2021-02-19 20:29] #13757 closed

[2021-02-19 22:22] ijrsvt opened #14220 "[Dashboard/K8s] Dashboard fails to start on Ray node running on K8s"
### What is the problem?
When running a single ray node on a k8s cluster, the dashboard fails to start.

*Ray version and other system information (Python version, TensorFlow version, OS):*
- Ray 1.1.0

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library depend

[2021-02-19 23:00] DmitriGekhtman commented on #14220
Could you include the configuration for the pod?

[2021-02-19 23:21] JenishPatel99 commented on #8429
@cassidylaidlaw We have been getting the same issue with our custom evaluation metrics not being shown on tensorboard. Our method to invoke the train method is as followed:

trainer = ppo.PPOTrainer(config=config, env=env)

[2021-02-20 03:26] rwa commented on #10376
Does this need to be disabled before training the policy?

[2021-02-20 07:12] ericl commented on #14213
Do you have an example where there are still subscribers when a reference is freed? Shouldn't the reference be retained until there are no possible subscribers?

[2021-02-20 10:27] gopiprasanthpotipireddy commented on #7430
**Tried these instructions:** But Same Error again
[code]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/3.7/site-packages/ray/__init__.py", line 63, in <module>

import ray._raylet  # noqa: E402
  File "python/ray/_raylet.pyx", line 20, in init ray._raylet
ImportError: dlopen(/Library/Python/3.7/site-packages/ray/thirdparty_files/setproctitle.cpyt

[2021-02-20 14:15] tkram01 commented on #9259
I am getting a similar error when running the aws cluster launcher. I get

`redis_context.cc:335:  Will retry in 100 milliseconds. Each retry takes about two minutes.`

but I am able to connect from the client machine to redis using the redis cli without a problem so it doesn't seem to be a firewall issue.

[2021-02-20 14:23] FarzanT commented on #12565
Hi, I still got the same error (randomly) on a multi-node cluster setup where I had to turn the dashboard off. After about 7 hours of processing, the error caused the whole job to terminate. I'm using `Ray 2.0.0dev0`

[2021-02-20 16:14] daniel347x commented on #11287
Please forgive me if this is inappropriate to ask, as I am grateful for the effort folks have put into the Ray library, but is there a timeline for this? The lack of support by Ray for Python 3.9 is the only thing holding me back from upgrading to Python 3.9 at this point, and there is no good substitute for Ray as an improvement upon Python.Multiprocessing.

[2021-02-20 17:35] Hoeze opened #14227 "[dask-on-ray] Memory efficiency: Dask arrays should always be passed by reference only"
When passing a (persisted) dask array with np.ndarray chunks to some ray remote function, the whole dask array does get serialized.
I created a notebook showing the consequence:
https://gist.github.com/Hoeze/26430689bb3252ebb71b9ae08242d09a

Instead, the np.ndarray chunks should be put to the object store and the dask array should only contain references to the object store.

This could be solved

[2021-02-20 21:51] #11037 closed

[2021-02-20 22:29] #14169 closed

[2021-02-21 03:20] FarzanT commented on #12565
I'm also getting the following error (comes afterwards), but I'm not sure which one is causing which, if that's the case.
[code]

[2021-02-21 03:47] rkooo567 commented on #14227
Thanks for the awesome analysis in the gist @Hoeze. @clarkzinzow will take a look at this next week!

[2021-02-21 03:49] rkooo567 commented on #12565
Hmm interesting.

[2021-02-21 03:49] rkooo567 commented on #12565
Btw, log_monitor is not related to the dashboard (it is always turned on regardless of the dashboard), and the only impact of this error is that your drivers cannot receive logs from workers.

[2021-02-21 03:50] rkooo567 commented on #12565
Anyway this seems to be a bad bug, so we should take a look at it.

[2021-02-21 03:50] rkooo567 commented on #12565
The following error seems to be unrelated... are you using multi processing pool within a ray task or actor?

[2021-02-21 04:16] FarzanT commented on #12565
Yes, I'm using Pytorch's data.DataLoader() with num_workers=4. Do you think this is the cause for the latter error?

[2021-02-21 04:19] rkooo567 commented on #12565
It is hard to say, but it looks like the error just seems to be application-specific error (rather than system issues). Do you have any log that indicates this node (172.16.190.50) has an issue?

[2021-02-21 04:24] rkooo567 commented on #12565
Maybe this? https://github.com/pytorch/pytorch/issues/1551

[2021-02-21 05:15] FarzanT commented on #12565
Perhaps, I'll disable multithreading and will update you! Thanks

[2021-02-21 06:12] rkooo567 commented on #12683
Hey @jennicetao This issue might be resolved by https://github.com/ray-project/ray/pull/14202

[2021-02-21 06:27] rkooo567 commented on #13792
This will partially achieve this; https://github.com/ray-project/ray/pull/13444

But we need some refinement to make programmable APIs.

[2021-02-21 06:39] rkooo567 opened #14229 "[Placement Group] Throttle scheduling failure logs when it is autoscaling."
### What is the problem?

@jennicetao had issues like this;

His monitor log level was warning. GCS server will still print INFO.

- He started his cluster with many pgs.
- Monitor didn't print any logs because the level was warning.
- But at the same time gcs server creates tons of log messages that the pg scheduling is failed (which is expected because the monitor hasn't started autoscaling)

Th

[2021-02-21 06:40] rkooo567 commented on #14229
@wuisawesome Another feedback was that the startup logs of monitor could be a bit more verbose to indicate it is started. Can we change all startup logs to WARNING? I think it is pretty standard for many people to set their log level to WARNING.

[2021-02-21 08:58] diman82 opened #14230 "Tune.run ignores loggers=None and fails on TBXLogger (tensorboardX)"
### What is the problem?
The issue (also has code sample) has been described in details in discussion forum: https://discuss.ray.io/t/tune-run-ignores-loggers-none-and-fails-on-tbxlogger/927
After quick debug, it seems, that there is no fallback to a local fs writer in TBXLogger, and it fails (as it can't find not S3 nor Google storage backend factories)..

*Ray version and other system informatio

[2021-02-21 14:29] AmeerHajAli opened #14232 "updating worker nodes show as healthy"
In the current logs I see this output:
[code]
1 node is updating (for the second time) but since it already shows in load metrics the node is marked as active. This happens for example when the node becomes active but then autoscaler decides it should update.

[2021-02-21 16:09] ANarayan opened #14235 "[tune] Support extending Async Hyperband runs past max_t"
Would it please be possible to extend the async hyperband scheduler implementation to have the best n trials train to completion beyond max_t  and stop based on some other stopping criteria (i.e. TrialPlateauStopper)? Currently, the scheduler stops training a given trial when it is the last one left in its bracket. Hence, it wont actually return a fully trained model that has minimized or maximize

[2021-02-21 18:28] FarzanT commented on #12565
Now I don't get the `ConnectionResetError` anymore, but the same error persists:
[code]

[2021-02-21 19:34] PeterPirog commented on #12128
@PidgeyBE  I have achieved next phase in raspberry pi ray building. The building process is successful.

Steps:
[code]

!!!  I have changed 2L to 2ULL in /src/ray/common/ray_config_def.h  in line 200 !!!

[code]

Now the question is: "**How to generate whl file ??**"

[2021-02-21 20:02] wuisawesome commented on #14232
I think the ray status output is kinda correct in that it's faithfully displaying the status of the cluster.

The underlying issue is that we should disconnect the node from the cluster when updating it.

As we think more about dependency management, this may actually be important.

[2021-02-21 20:08] FredrikM97 opened #14237 "[tune] JupyterNotebookReporter - Support for "/" in name"
### What is the problem?
- ray - 1.2.0
- pytorch-lightning         1.2.0

Reports from JupyterNotebookReporter  show up as empty when using "/". Example:

![image](https://user-images.githubusercontent.com/16705530/108636909-70191b80-7488-11eb-8276-3634deb0ac87.png)

If I replace "loss_val" with "loss/val" the output will show up empty.

Here is a part of the output:
[code]

### Reproduction (REQU

[2021-02-21 21:41] KiborgBBK opened #14238 "alpha zero: ValueError: ('Observation ({}) outside given space ({})!'"
Good day
I'm facing a stack of problems, just like a few people have written before. ValueError: ('Observation ({}) outside given space ({})!'
I tried to change the constraints in self.observation_space, but it didn’t work ... the training goes off with a bang, but as soon as the predictions of the trained network (compute_action), this error pops up ... I updated everything to the latest versions

[2021-02-21 22:47] mvphilip commented on #7001
This same problem happens to me. I can file another issue if required. I have identical OS and python
spec as original filer and also not using conda or virtual env. I am installing as user however.

I cloned the repo and I'm running:

pip3 install -e . --verbose --user

The same error (can't combine user with prefix, exec_prefix/home, or install_(plat)base) happens:

    Exception:
    Traceback

[2021-02-22 00:44] diman82 commented on #13290
I can confirm, that I get the same error for ray 1.2.0

[2021-02-22 01:02] stephanie-wang commented on #14094
Actually this is not a regression; it's just that we don't spill back from the waiting queue.

[2021-02-22 01:13] DmitriGekhtman commented on #14155
@erikerlandson

Thanks for the suggestions -- agreed that Ray code should make fewer assumptions on the existence of a home directory -- .bashrc, etc
and that we should more carefully document requirements for building Ray images for use on Kubernetes.

cc @ijrsvt

Hmm...as for uptime in particular, I think the code path that calls it could be avoided with some restructuring...

[2021-02-22 03:14] #14123 closed

[2021-02-22 05:20] rkooo567 commented on #13443
Tried the same example with Dask on Ray in the latest master (with a little bit of modification because the application was broken), and I verified it works. Here's my code. Please reopen an issue if you face other issues!

[code]

[2021-02-22 05:20] #13443 closed

[2021-02-22 07:29] clarkzinzow commented on #14227
@rkooo567 **Some background:** The semantics of Dask Distributed's `Client.persist()` and plain Dask's `dask.persist()` are a bit different: the former [triggers computation on the Dask Distributed cluster and inlines references to the corresponding futures in the Dask collection](https://distributed.dask.org/en/latest/api.html#distributed.Client.persist), while the latter [eagerly computes the Da

[2021-02-22 10:48] ffbin opened #14245 "Flaky testcase: ServiceBasedGcsClientTest.TestActorTableResubscribe"
### What is the problem?
*Ray version and other system information (Python version, TensorFlow version, OS):*

[ RUN      ] ServiceBasedGcsClientTest.TestActorTableResubscribe
--
  | [2021-02-19 00:44:05,562 I 1033 1033] test_util.cc:61: Start redis command is: 'external/com_github_antirez_redis/redis-server' --loglevel warning --loadmodule './libray_redis_module.so' --port 3179
  | 1630:C 19 Feb

[2021-02-22 10:49] ffbin commented on #14245
cc @simon-mo @rkooo567 @WangTaoTheTonic

[2021-02-22 12:18] adriendoerig opened #14247 "[rllib] access policy model in env step function"
In RLlib, I would like to have access to the policy model in the environment step function, to print some debugging information at each timestep. I would also need to make the step function depend on the state of a layer in my policy model. Is this possible?

I couldn't find a way to get any information about the model, except for the output action of course, in the environment. Currently, I am pa

[2021-02-22 13:09] Bam4d opened #14249 "[rllib] MultiDiscrete action space with dims > 1 throws error"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Rllib Version: 1.2.0
Python Version: 3.8
torch Version: 1.7.0
OS: ubuntu 20.04

In `ray/rllib/models/catalog.py` the total number of elements is calculated with `int(sum(action_space.nvec)`. Which throws an error if the Action space is more than 1 dimensional, as sum() here only does a 1d

[2021-02-22 13:35] PidgeyBE commented on #12128
@PeterPirog Aha! The patch you are referring to is needed for ARMv7 I assume, not form ARMv8 (64bit).
If bazel build works, I assume you should be able to run `cd ray/python && python setup.py bdist_wheel` and find your wheel in the ray/python/dist folder.

[2021-02-22 13:58] Hoeze commented on #14227
@clarkzinzow If you say it is possible to overwrite `df.persist()`, would it then be possible to have a global `ray_persist=True` as default option?
In general, I use `df.persist()` for two reasons:
- I want to keep the chunks for parallel processing
- I want to load pre-load chunks for fast reading

In both cases, it does not make sense to use `ray_persist=False` since I can just use `df.compute(

[2021-02-22 14:17] clarkzinzow commented on #14227
The core issue is that `ray_dask_get` won't be able to tell if it's being called by `dask.compute()` or `dask.persist()`, the call will look exactly the same `ray_dask_get` in either case, which is why a user-supplied `ray_persist=True` flag would be necessary. And I agree that an explicit function would be better! I think that's the best option for now.

[2021-02-22 15:06] Hoeze opened #14250 "[core] How to obtain memory occupied by object ref?"
Hi, is there an easy way to get the memory occupied by some object ref?
E.g. `ray.sizeof(ray.put(object))`

[2021-02-22 15:35] Bam4d commented on #14249
This might actually be significantly more complicated, because many other places in the codebase assume that multidiscrete spaces are not 2D.

[2021-02-22 16:23] PeterPirog commented on #12128
@PidgeyBE  Thank You for the suggestion. Unfortunatelly command `python setup.py bdist_wheel` gives error: `undefined reference to '__atomic_store_8'` so I assume that I have to somehow set linker options for bdist_wheel.
Maybe I can use some of these options: [https://pip.pypa.io/en/stable/reference/pip_wheel/](https://pip.pypa.io/en/stable/reference/pip_wheel/)

[2021-02-22 16:46] stephanie-wang commented on #14250
There's no way to do this programmatically, but it would be an easy enough feature to add. Since ObjectRefs are also futures, we would have to return None or something similar if the size is unavailable, though.

[2021-02-22 17:00] krfricke commented on #13953
I'll be using this issue for tracking progress on resolving problems in this test.

Running into NCCL errors on latest master:

[code]

[2021-02-22 17:16] rkooo567 commented on #14227
+1 for explicit function. I can imagine this could be also useful for regular .compute output? Especially when we’d like to pass dask output to other ray task or sth

[2021-02-22 17:45] #14156 closed

[2021-02-22 17:45] richardliaw commented on #14108
(duplicate of hugging face issue?)

[2021-02-22 17:45] #14108 closed

[2021-02-22 17:49] richardliaw commented on #13290
@diman82 @ptyshevs could you try the latest ray wheels?

[2021-02-22 17:50] #13600 closed

[2021-02-22 17:52] rkooo567 opened #14252 "[Doc] Improve documentation to explain how to set ulimit and its impact."
### Describe your feature request

The max num connection is the biggest bottleneck to scale up Ray right now. Currently, the recommended solution is to set ulimit before calling ray start. But we need to improve our documentation to make this clear. For example,
- Why we need ulimit to scale Ray?
- How to handle operation not permitted?
- How to increase the system level ulimit

cc @wuisawesome

[2021-02-22 17:53] rkooo567 commented on #14252
I think we generally need some guidance to introduce the best practice and tips to scale Ray.

[2021-02-22 17:56] #13983 closed

[2021-02-22 17:57] rkooo567 commented on #14250
Hey @Hoeze Can you also explain the use case here? Are you using it for debugging your Dask on Ray workload?

[2021-02-22 17:58] #13368 closed

[2021-02-22 18:03] amogkam commented on #13971
Hey @turmeric-blend, the argument to `step` is used to determine the name for the checkpoint directory. But, we need to make sure that each checkpoint directory name is unique. In cases where we are checkpointing multiple times per epoch, then we cannot use `current_epoch` as the checkpoint directory name because a directory with that name will have already existed.

[2021-02-22 18:15] ijrsvt commented on #14155
@erikerlandson Are you using the Ray Cluster Launcher with the `Kubernetes NodeProvider`?

[2021-02-22 18:19] ijrsvt commented on #7001
@mvphilip Could you open a new issue instead?

[2021-02-22 18:19] DmitriGekhtman commented on #14155
The focus here is on the K8s operator, which does this under the hood
https://github.com/ray-project/ray/blob/master/python/ray/ray_operator/operator.py#L58

[2021-02-22 18:23] concretevitamin commented on #8822
We're hit by this issue.  Our multi-driver cluster will have its GCS OOM-killed in ~4 days of usage.  Upon inspection on the redis table's keys (using `rdb -c memory ./dump.rdb --bytes 128 -f memory.csv`), we see
* a lot of 1-10MBs of `FunctionTable:xxx` entries, of `quicklist` type
* as well as a lot of `RemoteFunction:xxx` keys, 2KB each, of `hashtable` type

This seems exactly caused by many dr

[2021-02-22 18:38] FarzanT commented on #12565
@rkooo567 What `str` values can `worker_pid` have other than `raylet` and `gcs_server`? I think this is the primary cause of the problem: https://github.com/rkooo567/ray/blob/c197f4cb0f024e44aa83a14939d9b87a1c750ac3/python/ray/log_monitor.py#L100
[code]

[2021-02-22 18:40] rkooo567 commented on #12565
Oh good discovery. I think we recently added `autoscaler`. cc @wuisawesome Can you confirm?

[2021-02-22 19:01] wuisawesome commented on #12565
The timing here is a little strange, since it sounds like Richard discovered this in december but #13434 was merged in january. maybe it's even simpler and we're getting the string representation of an int?

[2021-02-22 19:04] ijrsvt opened #14255 "[autoscaler] Assign GCS Server Port from ENV"
### Describe your feature request
* Allow `--gcs-server-port` to be set via Environment Variable!

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-02-22 19:11] ericl commented on #12565
Can we just add "autoscaler" to fix this? https://github.com/rkooo567/ray/blob/c197f4cb0f024e44aa83a14939d9b87a1c750ac3/python/ray/log_monitor.py#L100

[2021-02-22 19:11] #12018 closed

[2021-02-22 19:13] wuisawesome commented on #12565
Does anyone have a repro? If this was happening in december, then "autoscaler" was probably not the string breaking this.

Alternatively we could just do

[code]

[2021-02-22 19:27] Hoeze commented on #14250
I tried to find out why my cross-validation method caused 30GB increase of memory usage.
My first guess was that the returned lightgbm models are large, so I wanted to check this.

Since ray has to track object sizes anyway, I was just curious whether it could tell me the object size.
For now, I `joblib.dump`ed it to disk (the resulting file occupies then 4.7GB).

[2021-02-22 19:34] MattEWeber opened #14257 "Ensure dashboard starts on the desired port"
### What is the problem?
We need a guarantee that the ray dashboard will get started on port 8265 when `ray stop` and `ray start` are called programmatically in quick succession.

*Ray version and other system information (Python version, TensorFlow version, OS):*

In Ray 1.2.0 (Python 3.7) using `ray stop --force`, fixes the problem the majority of the time but we're still seeing it get started o

[2021-02-22 19:37] ericl commented on #14092
@iycheng can you take a look with @wuisawesome ?

[2021-02-22 20:25] #13538 closed

[2021-02-22 21:25] wuisawesome opened #14258 "[core] Turn on "put_small_objects_in_memory_store" feature"
### What is the problem?

This feature has been sitting around and off for a while, but seems non-trivial to turn on. See #13621

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external l

[2021-02-22 21:31] KiborgBBK commented on #13177
Good day.
I would like to know if there is still an answer on this topic? I'm also suffering with this (action = agent.compute_action (obs)), then I get exactly the same error then (ValueError: ('Observation ({}) outside given space ({})!')
thanks in advance for the answer

[2021-02-22 21:41] simon-mo commented on #14257
discussed offline, @edoakes suggested that one path forward would be the Ray dashboard keep trying to find to the specified port.

[2021-02-22 21:55] rkooo567 commented on #14250
For now, you can achieve this using ray memory command (it is not programmable api tho). I can take a look if there’s a good way to support this.

[2021-02-22 21:56] rkooo567 commented on #12565
Talked to Alex. Last year, the root cause was that I made a mistake while I changed log monitor code. I think the new issue must be the autoscaler string.

[2021-02-22 22:03] MattEWeber commented on #14257
The workaround we were using was a script that delayed running ray start until port 8265 was open. So yeah, I think doing something like that internally to Ray is the way to go!

[2021-02-22 22:57] FarzanT commented on #12565
@rkooo567 Great, so the only thing required is to add `"autoscaler"` here?
[code]
I can submit a pull request, I would like to practice!

[2021-02-22 23:20] ijrsvt commented on #14257
@simon-mo  What if a user is running ray multiple times, should we still support the 'incrementing' behavior?

(I mean this could be solved with trying to bind to 8265 for ~5 seconds, and then beginning to count).

[2021-02-22 23:47] simon-mo opened #14262 "[Tune] ::ConvergenceTest::test_convergence_gaussian_process failed on Buildkite"
### What is the problem?
This tune test consistently fails in Buildkite. I'm having a hard time decipher what went wrong. My first suspicion was the random number but I did verify that np.random.seed is platform independent, it produces the same values across OS.

Can we just add the value `40` into the result set?

https://buildkite.com/ray-project/ray-builders-branch/builds/452#18b7b17a-02f6-46d

[2021-02-22 23:47] simon-mo commented on #14262
I would appreciate any pointers about this test, cc @richardliaw @amogkam @krfricke

[2021-02-22 23:48] richardliaw commented on #14262
yeah add 40 sounds good!

[2021-02-23 00:04] wuisawesome commented on #10301
To expand on the issue here: The old scheduler consisted of old scheduling code in the raylet, as well as shared/common data structures which were used across the cluster (this is mostly `SchedulingResources`).

The current state of things is that the scheduling code in the raylet consists of new scheduling logic _and_ new data structures, but we haven't replaced the old data structures in GCS, Co

[2021-02-23 00:06] edoakes commented on #14257
@ijrsvt we can leave the existing behavior if the port is not explicitly specified by the user

[2021-02-23 00:26] clarkzinzow commented on #14227
@rkooo567 We'd want to maintain the expected `.compute()` semantics that Dask provides, where `.compute()` returns a concrete Pandas DataFrame or NumPy Ndarray in memory. Dask itself doesn't expose a `.compute()` flag for turning on that inlined future references behavior, since that's what `.persist()` is for. If anything downstream from Dask such as a Ray task or a Dask --> MLDataset connector w

[2021-02-23 00:32] jennicetao opened #14264 "[autoscaler] wrongly shuts down all nodes due to one bad node."
the autoscaler tries take down one idle (false positive though, the node was running at 100% cpu) node but end up killing every nodes due to an internal key error. It seems to get confused with the mapping. this is a serious issue as all my progress get lost. I was using 16 placement group (on one machine each).

[code]

[2021-02-23 00:35] wuisawesome commented on #10301
To be concrete, **outside of the scheduler**

`ResourceSet` => `TaskRequest` should be the biggest conversion.

`SchedulingResources` => `NodeResources` is needed for some of the RPC's.

There may be some other subtle uses of these structures, so we should try to delete `common/task/scheduling_resources.*` completely.

[2021-02-23 00:38] rkooo567 commented on #14264
cc @wuisawesome @AmeerHajAli

[2021-02-23 00:47] wuisawesome commented on #14264
Oh dear this seems bad. It sounds like

1. We're incorrectly marking a node as idle
2. We're crashing the cluster when we try to kill a node
3. We're killing all workers when the autoscaler crashes (this seems intentional, but we probably shouldn't be doing this).

@AmeerHajAli @ericl should we prioritize this?

[2021-02-23 00:49] wuisawesome commented on #14264
@jennicetao thanks for the report. What does your workload look like? Do you have unused placement groups in the cluster?

As a short term fix to unblock yourself, can you set `idle_timeout_minutes: 999999` in your cluster config for now?

[2021-02-23 00:52] AmeerHajAli commented on #14264
I think this seems like a serious issue, @jennicetao , can you please provide some reproduction scripts?

[2021-02-23 00:53] AmeerHajAli commented on #14264
This seems like this is a spot instance? Could this be potentially what happens when a spot instance dies from the provider?

[2021-02-23 00:57] ijrsvt commented on #14257
@edoakes Sounds good, the one edge case that I personally find weird is that if I specify `--dashboard-port=8265`, the current behavior is to still increment (this is only because it looks like the code doesn't differentiate from a user-provided value of 8265 and the default value of 8265).

[2021-02-23 01:33] rkooo567 commented on #14264
Also, @jennicetao Can you verify the node that is killed is not a head node? Currently, the head node is a single point of failure for Ray.

[2021-02-23 01:36] jennicetao commented on #14264
Yes, the node was worker node that was either running out of memory or disk.

[2021-02-23 01:40] jennicetao commented on #14264
@AmeerHajAli reproducing script is a bit tricky as this is part of my batch process and it may or may not happen. I think that killing one node intentionally with putting very large object might do... still it has to be a multi node setup. What's the best way to get a reproducing script for autoscaler? You would need yaml, python script, and etc. It may be simpler to look at the log and the code?

[2021-02-23 01:44] AmeerHajAli commented on #14264
a yaml and a python script will be great.
Maybe we should consider keeping the workers alive if monitor dies.

[2021-02-23 02:05] rkooo567 commented on #12565
Thanks for the immidate action @FarzanT!!!

[2021-02-23 02:39] jennicetao commented on #14264
@wuisawesome thanks for the tip! I'm relying on the idle timer though to reduce the size of the cluster dynamically, which can grow large at times. I wonder whether `ray.autoscaler.sdk.request_resources` can be used to explicitly reduce # of nodes, but this seems to be about 'minimum' resources. @AmeerHajAli it might take some time for me to do that, as it's currently complex code. It would be gre

[2021-02-23 02:45] jennicetao commented on #14264
@wuisawesome my temporary solution was to use larger memory node type to prevent the crash, btw.

[2021-02-23 02:47] rkooo567 commented on #14098
Btw, what ports need to be specified for you guys? We might have other components that choose a random port (e.g., --gcs-server-port).

[2021-02-23 02:47] rkooo567 commented on #14098
Also, @clarkzinzow made a quick fix to resolve this issue. I will merge this by tonight.

[2021-02-23 03:01] wuisawesome commented on #14264
@jennicetao you mentioned running out of disk/memory. Does your workload make intense use of the object store?

This may also imply that the node was marked idle because it was removed from the cluster because it wasn't reporting heartbeats.

The issues after that look like the autoscaler is trying to compensate by starting new nodes, which all fail. Even just the cluster yaml could be helpful on

[2021-02-23 03:15] rkooo567 commented on #14098
So, to avoid the issue, what you can immediately do is to assign higher port for `port` arguments than `object_manager_port`, `node_manager_port`, and `gcs_server_port`, and `min&max_worker_port`.

The quick fix just randomizes the Redis shard ports, but I wonder if this is fundamentally fixes you guys' issues.

[2021-02-23 03:25] jennicetao commented on #14264
@wuisawesome yes, I do use large object store. the node got marked idle due to 100% memory usage or 100% disk usage (and it probably was unresponsive).

[code]

[2021-02-23 03:31] wuisawesome commented on #14264
Thanks!

@jennicetao do you also mind sharing any relevant errors from `monitor.out` (I have a feeling we're also going to ask for relevant warnings from `raylet.err`, so if you have those on hand, that would be great too).

@rkooo567 there may be an unresponsive raylet due to object spilling here?

@AmeerHajAli this config should be good enough to repro the autoscaler issues right? just manually

[2021-02-23 03:38] wuisawesome commented on #14252
Yeah, we should really have an entire scalability guide.

cc @pdames you may have some other stuff to contribute too 😉

[2021-02-23 03:38] richardliaw opened #14268 "Collecting debug_state.txt in `ray cluster-dump`"
Hey @krfricke Can we also collect debug_state.txt as well? I think this could be pretty useful.

_Originally posted by @rkooo567 in https://github.com/ray-project/ray/issues/14212#issuecomment-783810164_

[2021-02-23 03:54] rkooo567 commented on #14227
I see. So users can use `ray_persist(df)` to get refs and `df.compute` to get the result at a centralized place right? This sounds good to me!

[2021-02-23 04:08] richardliaw opened #14269 "[placement groups] SIGABORT when using placement groups"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* master

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

In our code, we wall `ray.sh

[2021-02-23 05:21] FarzanT commented on #12565
I think there might be another problem, I went ahead and changed the same line as in the pull request manually in `log_monitor.py` on our cluster, and I still get this error:
[code]

Maybe there's some other `str`? I can only think of adding a print statement and report what I can find.

[2021-02-23 05:28] rkooo567 commented on #12565
Can you try with this change and give us what's the output? https://github.com/ray-project/ray/pull/14271

[2021-02-23 06:36] yuduber commented on #14098
In a cloud production environment, just assign higher port for `port` still might not work.  Because even tho it will be higher than all these `object_manager_port`, `node_manager_port`, and `gcs_server_port`, and `min&max_worker_port` in your current ray node.  It might still be conflicting with other docker container that happened to be running on the same host.  In a could environment, on one s

[2021-02-23 06:55] vinamrabenara commented on #11863
when we set ```file_mounts_sync_continuously: True``` in the YAML, what events will trigger a rsync? Will mere file modifications trigger automatic rsync?

[2021-02-23 07:02] rkooo567 commented on #14098
If you guys specify all the ports number manually, would that solve the issue? For example,
[code]

If you use any randomized solution, that will always have the risk of conflicting with other ports right? I don't think we will have other components that could have port assignments other than these, but I can double check.

The port specification is here; https://docs.ray.io/en/latest/configure.ht

[2021-02-23 07:10] rkooo567 commented on #14098
Or is it allowed to use randomized ports as long as it won't conflict with other ones?

[2021-02-23 08:05] yuduber commented on #14098
yesh, that's what I proposed in the RC analysis.  When you need to pick port for any service, first look at the `ray start ...` command, if that was specified, use it.  If not, pick a random port that is not used at the moment.  Continue this iteration util all ports are assigned.

[2021-02-23 10:37] krfricke commented on #14262
Adding 40 should be fine. For testing purposes I'd argue that asserting that `len(analysis.trials) < 50` would be fine, too. After all we're just testing that duplicate configurations are created as the GP converges, the exact number is not important (even though it is strange it's not constant given that we use a seed).

[2021-02-23 10:42] #6358 closed

[2021-02-23 12:46] itmorn opened #14276 "[rllib] I cannot debug into env step function while using register_env"
`config["env"] = MyEnv`
I found it possible to debug into env step function using the code style above.

But now I have a complex environment as follows and I don't know how to convert it to the above way because I want to debug into the env step function.
`register_env("tictactoe",lambda config: PettingZooEnv(env_creator()))`

[2021-02-23 14:35] krfricke commented on #14269
Hm, when I use `ray.shutdown()` and `ray.init()` in this reproduction script: https://github.com/ray-project/ray/issues/14092 I don't run into the issue anymore. Does this really happen on ray init? In the aborting test we call init in `setUp`, but we don't call it again after the first tune run (intentionally) failed.

[2021-02-23 14:55] PeterPirog commented on #12128
@PidgeyBE I think the problem is solved :) result is here:
[https://github.com/PeterPirog/Raspberry_armv7_builds/blob/main/ray/How_to_build.txt](https://github.com/PeterPirog/Raspberry_armv7_builds/blob/main/ray/How_to_build.txt)

[2021-02-23 15:02] Carterbouley commented on #9220
Hi Stefan, did you figure out how to proceed with these parameters? thanks

[2021-02-23 15:28] mr-mcox commented on #14079
After spending a few hours struggling to get my minimal script to fail when it reproduced the conditions of my original code, I went back to retry my original code and am no longer experiencing this issue. In the conditions where Ray was throwing errors when spilling objects, it is now acting as expected. I suspect that some change in recent nightlies (perhaps unrelated?) resolved my issue. I will

[2021-02-23 15:28] #14079 closed

[2021-02-23 15:38] rkooo567 commented on #14079
Oh that’s awesome. We keep adding fixes now, so yeah it is possible some other fix happened to resolve ur problem.

I remember you are using this to avoid memory issue while using Tune right? I’d love to hear ur use case of object spilling and experience! Is it working well now without a bug then?

[2021-02-23 16:19] clarkzinzow opened #14278 "[Core] Fix ray::Status <--> gRPC status interplay."
There isn’t a clean `ray::Status` <--> gRPC status conversion for all `ray::Status`es, yet [we're pretending that there is by recasting every server-side `ray::Status` as an `IOError` client-side](https://github.com/ray-project/ray/blob/54ab6d2801e0983a31a653920bfd80a9cb246269/src/ray/common/grpc_util.h#L68-L89). This is very confusing to Ray devs when they, say, return a `Status::ObjectNotFound`

[2021-02-23 17:10] devin-petersohn opened #14279 "Ray 1.2+ crashes with `Check failed: it != object_pull_requests_.end()`"
### What is the problem?

Ray crashes with certain workloads in Modin.

*Ray version and other system information (Python version, TensorFlow version, OS):* 1.2

### Reproduction (REQUIRED)

I haven't been able to reproduce this outside of Modin, I am still working on that. I am posting here now to see if there are any pointers and I'll update as I know more. The same issue occurs on nightly, but

[2021-02-23 17:11] FredrikM97 commented on #14237
Checked one of the logs and it seem that the output is:
  loss/train: .nan
  loss/val: .nan

[2021-02-23 17:19] ptyshevs commented on #13290
@richardliaw sorry, I don't have access to that environment now.

[2021-02-23 17:44] rkooo567 commented on #14278
Added to core bug not to lose track of it. Feel free to remove it if you think it is not appropriate @ericl

[2021-02-23 17:46] rkooo567 commented on #14279
This was discovered by someone else too actually. We should address this ASAP.

[2021-02-23 17:53] rkooo567 commented on #14279
So,
[code]

This script should be able to reproduce the issue without multi nodes right?

[2021-02-23 18:20] richardliaw commented on #14269
hey is this a duplicate of #14092 ? should i close this then?

[2021-02-23 18:41] #14262 closed

[2021-02-23 18:55] AmeerHajAli opened #14283 "summary printing fails for missing tags"
The logs printing should not cause an error because of tags:

[code]
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fa

[2021-02-23 18:59] rkooo567 commented on #12565
Just a followup, @FarzanT did you see any issue so far?

[2021-02-23 19:03] richardliaw commented on #14098
Hmm let's keep this open so that we actually fix the underlying issue

[2021-02-23 19:09] wuisawesome commented on #14283
I'll call this an enhancement since we've always just expected node providers to have read-after-write consistency :p

[2021-02-23 19:10] javi-redondo opened #14284 "Failed to load actor due to dependencies not being pickled"
### What is the problem?

Seems like dependencies are not getting pickled and then they can't be used within the actor:

[code]
Running Ubuntu 20.04, Python 3.8, Ray 1.1.

### Reproduction (REQUIRED)

The code looks as follows:

[code]

Moving `from confluent_kafka import Consumer` to `__init__` is a workaround but I believe this should work with the module global import?

[2021-02-23 19:16] javi-redondo opened #14285 "__del__ magic method can't access class properties"
### What is the problem?

Class properties cannot be accessed within the `__del__` method.

[code]

Running Ubuntu 20.04, Python 3.8, Ray 1.1.

### Reproduction (REQUIRED)

[code]

This can be fixed by creating a method within the class e.g. `destroy` and calling that explicitly before `del` but this should work within the `__del__` method too?

[2021-02-23 19:17] richardliaw commented on #13290
Closed by https://github.com/ray-project/ray/pull/14089 -- this should be fixed on master!

[2021-02-23 19:17] #13290 closed

[2021-02-23 19:27] devin-petersohn commented on #14279
Yes, on Modin master.

[code]

[2021-02-23 19:59] FarzanT commented on #12565
@rkooo567 Surprisingly not yet, I submit 24-hour jobs, usually they would throw this error after 7-8 hours. So far so good, but I'll update you as soon as I get something!

[2021-02-23 20:01] ericl commented on #14278
cc @raulchen for thoughts

[2021-02-23 21:16] KiborgBBK commented on #12940
Good day
with a similar problem, I solved the question, maybe you can help solve this problem (https://github.com/ray-project/ray/issues/13177):

agent = AlphaZeroTrainer (config = config)
agent.restore (checkpoint2)
env = CartPole ()

state = env.reset ()
action = agent.compute_action (state)
print (action)

... / ray / rllib / contrib / alpha_zero / play.py ", line 180, in <module>
    action =

[2021-02-23 21:17] #14238 closed

[2021-02-23 21:56] #14283 closed

[2021-02-23 22:18] mr-mcox commented on #14079
@rkooo567 You are correct that I was trying to avoid a memory issue while using Tune. My use case is that I have a model that has about 4.5GB worth of parameters and for some reason, whenever a trial is paused, the trial is saved in the object store, and is never removed. I had a head node with about 60GB of memory that would run out of memory after about 12 trials were paused. This seems to avoid

[2021-02-23 22:19] clarkzinzow opened #14290 "[dask-on-ray] Dask DataFrame --> MLDataset connector"
Add a `Dask DataFrame --> MLDataset` connector, allowing seamless interoperability with Ray-based model training.

[2021-02-23 23:01] simon-mo commented on #14257
Actually, I think we should do the following:
- Only do the incrementing behavior for `ray.init()` use case.
- `ray start --head` should be equivalent to `ray start --head --dashboard-port 8265` because it doesn't make sense to run multiple `ray start --head` on the same node. If the port is not available, ray start should fail.
- Set SO_REUSEPORT option to allow rapid `ray stop; ray start --head`

[2021-02-23 23:08] MattEWeber commented on #14257
I assumed the reason why incrementing was the default behavior for `ray start` previously was so you could consistently start up the dashboard even if some other non-Ray process was using port 8265. Wouldn't we lose that?

[2021-02-23 23:09] edoakes opened #14292 "[dashboard] Add resource usage/availability to the dashboard"

[2021-02-23 23:15] edoakes commented on #14257
`ray start` is only really used for "production" deployments / from within cluster managers. In both of these cases you want a fixed port, not for it to randomly pick a new one, so I think it's fine to only support this from `ray.init()`. Honestly, the automatic port selection might not even be desirable for `ray.init()` (I personally always assume it's running on :8265).

@simon-mo this solution

[2021-02-23 23:23] ijrsvt commented on #14257
@simon-mo Sounds good to me.

@edoakes I'm on the fence about automatic port selection. It is simultaneously annoying (* tend to just assume it is going to be 8265) and useful (in a more development context when I might have several conda envs).

[2021-02-24 00:27] #13351 closed

[2021-02-24 00:28] rkooo567 commented on #14279
Hey @devin-petersohn I will take care of it asap and ping you if I need any help.

[2021-02-24 00:49] simon-mo commented on #14257
We would assume only Ray dashboard would occupy the port and set `SO_REUSEPORT` and that process would exit soon. If there are another non-ray process:
- if that process have set `SO_REUSEPORT`, kernel should load balance between two socket in linux, and send all traffic to the first process bind to that port in macOS
- if that process have not set `SO_REUSEPORT`, our subsequent bind will fail.

O

[2021-02-24 01:39] rkooo567 commented on #14264
What's the scenario object spilling can break here?

[2021-02-24 02:09] wuisawesome commented on #14264
It looks like the first issue is that the raylet/node are being removed from the cluster.

[2021-02-24 02:42] clay4444 commented on #13859
Done

[2021-02-24 02:42] #13859 closed

[2021-02-24 02:43] clay4444 commented on #13625
Done

[2021-02-24 02:43] #13625 closed

[2021-02-24 03:40] stephanie-wang opened #14297 "[core] Resources are getting reported even though they have not changed."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* v2.0dev

I noticed that resources are getting reported on every heartbeat, even though the raylet is supposed to only report resources if they have changed from the last reported. The culprit seems to be [this line](https://github.com/ray-project/ray/blob/master/src/ray/raylet/node_manage

[2021-02-24 03:40] stephanie-wang commented on #14297
FYI @wuisawesome @ericl, probably relevant to the planned changes for GCS resource reporting.

[2021-02-24 03:43] wuisawesome commented on #14297
errr yeah that line is also very race-condition prone. Once GCS pulls from the raylet, we can add a flag to not use lightweight heartbeats for the first request, then get rid of that call.

[2021-02-24 03:47] ericl commented on #14297
@wuisawesome with long-polling heartbeats from the GCS, we won't need lightweight heartbeats at all right? If nothing changes the polls will simply block until a change occurs.

[2021-02-24 03:48] wuisawesome opened #14298 "[autoscaler] SSH command errors aren't written to monitor.out"
### What is the problem?

Consider some setup command:

[code]

When `echo hi` gets run, "hi" will appear in `monitor.out`. When `non-existent command` fails, the error will not be generated.

This is because we run commands with `ssh -tt` which forces tty allocation. When ssh fails with a non-zero exit code, that tty output is not piped through `stderr`, so the command doesn't show.

Note we can'

[2021-02-24 03:51] wuisawesome commented on #14298
This mini script demonstrates the underlying issue.
[code]

[2021-02-24 03:54] wuisawesome commented on #14297
Actually the gcs failure case is a reason why long polling is problematic, but regardless, lightweight heartbeats would still help (for example if only 1 cpu changed, we don't need to re-report all the placement groups on the node)

[2021-02-24 04:38] rkooo567 commented on #14279
Btw, have you seen the issue from the nightly as well?

[2021-02-24 05:24] stephanie-wang commented on #14297
I don't understand that line at all. Can someone explain why we need it? The comment says it's for GCS failure, but couldn't we just have the GCS ask for new resource reports when it restarts...?

[2021-02-24 05:50] wuisawesome commented on #14297
You need a pull mechanism for that right?

[2021-02-24 06:51] stefanbschneider commented on #9220
@Carterbouley No, unfortunately not. I did not continue working with LSTM in RLlib.

[2021-02-24 07:51] DmitriGekhtman commented on #14220
this was fixed by adding `--dashboard-host 0.0.0.0` to the args for `ray start`

[2021-02-24 07:51] #14220 closed

[2021-02-24 08:25] Carterbouley commented on #9220
Thanks for coming back to me. Was there another library that suited your
purposes better for using LSTM in RL?

On Wed, Feb 24, 2021 at 6:51 AM Stefan Schneider <notifications@github.com>
wrote:

[2021-02-24 08:35] jovany-wang commented on #13902
One possible solution is that driver sends the `REGISTER_ACTOR` request to GCS, and the GCS store it and reply `REGISTERED` to caller. Once that done, it means GCS will promise the actor will never be lost even if the dependencies unresolved. But I'm not sure if this is conflict with ref-counting.

@rkooo567 @edoakes @wumuzi520 @kfstorm @raulchen @chaokunyang @ashione
Do you have more thoughts on

[2021-02-24 08:37] sven1977 commented on #14276
Interesting. Did you try setting `local_mode=True` in your call to `ray.init(local_mode=True)`?

[2021-02-24 08:40] ashione commented on #13902
Will it make ray.shutdown more complicated processing since it must get all of infilght response.

[2021-02-24 08:49] sven1977 commented on #14249
Thanks for filing this issue @Bam4d !

As a workaround, you could also just do this, I think:
[code]

Something along those lines.

[2021-02-24 08:53] jovany-wang commented on #13902
Maybe another feasible way is add a flag `wait_until_actors_are_created` for `ray.shutdown()`

[2021-02-24 09:12] stefanbschneider commented on #9220
No. I tested my RL approach with RLlib and LSTM with `config['model']['lstm_use_prev_action_reward'] = False` and it lead to significantly worse performance than the RL approach with a simple feed-forward NN (ie, no LSTM).
I'm not sure why but, since it worked quite fine without LSTM, just continued working without LSTM and didn't have a chance to look into it again.
So, I'm still using RLlib, jus

[2021-02-24 09:51] Bam4d commented on #14249
Yes my current approach to this is to flatten everything and reshape in the env wrapper. Thanks

[2021-02-24 10:04] fyrestone commented on #14257
Maybe we can set the default value of dashboard port to `None` (or 0).

- If the dashboard port is not None,
  - then auto select a port from [8265, 8265 + 10], failed if no available port found.
- else,
  - use the dashboard port to start dashboard, failed if the port is occupied.

[2021-02-24 10:19] zhongchun commented on #14292
We've developed a resource module in internal version and will open source this feature to the community in the near future.

[2021-02-24 11:23] abhirupkamath commented on #8743
Could you post the updated code solving the issue you mentioned. I feel that the issue still exists with ray.

[2021-02-24 11:31] RaphaelCS opened #14304 "[rllib] [tune] Cannot create fcnet when using HyperOptSearch"
### What is the problem?

I am working with **DQN** of **rllib** and **HyperOptSearch** of **tune**. I found that there is something wrong with creating fcnet.

When I run the code (at the bottom), it throws an error. Here is a brief of error message:
[code]
After digging a bit into the code I find that the value of hyperparameter `fcnet_hiddens` become a tuple object after some operations of `Hyp

[2021-02-24 13:25] cbravo93 opened #14305 "Ray printing "(raylet) cut: write error: Broken pipe" constantly"
Hi!

When using ray, I constantly get this message from raylet (every 1-2 secs it is printed):

[code]

This is the output of raylet.out (the warning part is repeated all over again)

[code]

And in raylet.err is just the error all over again

[code]

The code continues running though. It would happen anytime I use it, even with the simplest example. Any idea on how to avoid this? This is happenin

[2021-02-24 15:16] rkooo567 opened #14307 "When the node is crashed, logs are not accessible."
### What is the problem?

When the node is crashed logs in that node are not accessible. It is because the dashboard agent fate sharing with the raylet (which was dead!). In this case, we should warn users that logs are not accessible because the raylet is dead, and they should restart raylet there to access the previous logs

### Reproduction (REQUIRED)
Please provide a short code snippet (less t

[2021-02-24 15:29] krfricke commented on #14304
Thanks for posting this.

Converting list spaces to tuples is an issue of upstream hyperopt (though I guess semantically it makes sense, as a tuple is just an immutable sequence).

However, $14308 addresses this on our end by casting the config object to a list before doing list-related operations.

Thanks for raising this issue!

[2021-02-24 15:30] magedhelmy1 commented on #13652
I had to do `pip install -U "pydantic<1.7"` or else it returned `bash: 1.7: No such file or directory` with `pip install -U pydantic<1.7`

Otherwise, thank you both!

[2021-02-24 15:34] krfricke commented on #14072
We should keep it practical however, and twelve zeros means lines become very long (especially in a terminal). This is a cosmetic issue after all, so I think it should be fine to optimize for the more common cases.

[2021-02-24 15:38] krfricke commented on #14237
Hi @FredrikM97, could you provide a self-contained reproduction script for this issue please? E.g. something I can just copy and paste in an empty file (or notebook), run, and it then shows the error. You can also link a notebook or so.

It doesn't have to be your real trainable, just something that show the same issue. Otherwise it's hard for us to debug these things, as we spend much of our time

[2021-02-24 15:44] devin-petersohn commented on #14279
Thanks @rkooo567! I'm happy to help in whatever way I can.

Yes, I checked yesterday and just checked and it is still happening on nightly.

[2021-02-24 15:52] thoglu commented on #14072
How about 8 digits ;) this probably covers all use cases, including reinforcement learning (999 mio steps) and is not much more than 6

[2021-02-24 16:10] stephanie-wang commented on #14297
Not necessarily. You can just have the nodes report resources when they detect the GCS failure. If I understand correctly, the problem seems to be that the code is trying to make GCS failures fully transparent, which is not necessary.

[2021-02-24 19:44] richardliaw opened #14315 "Retry reverted PR #14248"
cc @ffbin this is breaking windows tests https://github.com/ray-project/ray/runs/1970088434

_Originally posted by @richardliaw in https://github.com/ray-project/ray/issues/14314#issuecomment-785326428_

[2021-02-24 20:31] rkooo567 commented on #14305
Can you give me the simple example you said this error would occur? Also, what's the OS?

[2021-02-24 21:21] jkterry1 opened #14320 "[tune] Memory leak after crash"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Reproducing this almost certainly requires using external dependencies, so I'll just include the code I was running (they're very minimal):
https://github.com/justinkterry/all_pistonball/blob/e678a3fa087f07e6a5c21e29e4ec0b299212e698/run_hyperparameters.py

I w

[2021-02-24 21:36] #14315 closed

[2021-02-24 21:47] krfricke opened #14321 "Create unit/release test for ray cluster-dump"
### Describe your feature request

We should add a test for `ray cluster-dump`/`ray local-dump`, see #14310

[2021-02-24 21:47] #14268 closed

[2021-02-24 22:12] richardliaw commented on #14320
are you using `fail_fast` with Tune?

[2021-02-24 22:46] ericl opened #14322 "Excessive heap memory usage in raylet / owner process when shuffling many objects"
To reproduce, run: python -m ray.experimental.shuffle --num-partitions=1000 --partition-size=1e6

You'll see that in `top` the raylet and owner process will end up using >10GB of heap memory. This is very unexpected, since theses processes should (1) only be storing metadata, and (2) the amount of "real data" is only 1GB in the benchmark above.

There might be some memory leak or other unexpected

[2021-02-24 22:48] roireshef commented on #12352
@

Any plans for when will it happen? It will be much appreciated if we could run RLlib/Tune at scale.

[2021-02-24 22:51] rkooo567 commented on #14098
hey @yuduber after the quick fix, do you still see the same issue?

[2021-02-24 22:53] ericl opened #14323 "Autoscaler stopping nodes when updating cluster"
I have a fairly normal YAML (legacy yaml, if it matters). If you run "ray up" on the YAML, wait for the nodes to start, and then try "ray up" again to update the cluster, you'll see that the nodes are first stopped before "reused".

The nodes should not be stopped, this adds 1+ minutes to the cluster update.

[code]

[2021-02-24 22:53] #12552 closed

[2021-02-24 23:03] rkooo567 commented on #14079
Yeah it'll be great to write how this worked in the discuss.ray.io!! I will appreciate that :)!

Btw, @richardliaw is this an expected behavior? (that the trial is saved to the plasma store and never removed)

[2021-02-24 23:08] ericl commented on #13725
I'm still seeing this on ray.__commit__
'021ed92e8aa72d6ed6892d81346b9b43804fd59a'

If you run python -m ray.experimental.shuffle --num-partitions=500 --partition-size=1e6 --ray-address=auto this happens very reliably on a 4 node cluster.

[code]

I am not able to reproduce on a single node cluster. Maybe it only happens related to tasks in the WAITING queue (multi-node data transfer).

[2021-02-24 23:09] justinkterry commented on #14320
@richard4912

1) No, I was using defaults. If defaults result in resource leaks, this is a problem.
2) Settings fail_fast=True is very undesirable because it appears to remove fault tolerance, which is the only reason I'm using Tune
3) This is slightly unrelated but there's a documentation problem for fail_fast. In https://docs.ray.io/en/master/tune/api_docs/execution.html in the main function doc

[2021-02-24 23:15] rkooo567 opened #14324 "[OBOD] Dask on Ray 100GB shuffle is crashed with the heartbeat error"
### What is the problem?

When the OBOD is turned on a single node 100GB dask on ray shuffle didn't finish with the heartbeat missing error from the raylet.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / envir

[2021-02-24 23:15] rkooo567 commented on #14324
cc @clarkzinzow @ericl

[2021-02-24 23:20] #12308 closed

[2021-02-24 23:24] ericl opened #14325 "ray memory --stats-only should not fetch all reference table info"
If you pass --stats-only, the RPC should skip returning the extra info, otherwise sometimes you get:

	details = "Sent message larger than max (124329006 vs. 104857600)"
	debug_error_string = "{"created":"@1614208992.390378279","description":"Error received from peer ipv4:192.168.14.248:58804","file":"src/core/lib/surface/call.cc","file_line":1067,"grpc_message":"Sent message larger than max (1243

[2021-02-24 23:25] rkooo567 commented on #14325
I think this will be fixed by https://github.com/ray-project/ray/pull/13444. But I can re-confirm later. (and I will make sure this will be fixed)

[2021-02-24 23:27] wuisawesome commented on #13725
I think this is a different issue (Stephanie's issue was creating 10k+ workers).

Btw what size nodes are you using?

[2021-02-24 23:32] ericl opened #14326 "Require opt-in to switching plasma to /tmp instead of /dev/shm"
Ray can suffer severe performance degradations (IO hangs / meltdowns) if the object store size is too large. Instead of doing this automatically, make it opt in.

1. Raise an exception if object store size is too large by default (and make auto-configured size small enough to fit)
2. Require an opt in flag / env var to allow switching to /tmp (e.g., RAY_ALLOW_USING_TMP_FOR_PLASMA)

With object spi

[2021-02-24 23:45] ericl commented on #13725
Oh, I think I see the issue. There are zombie shuffle_map tasks hanging around

ubuntu    35081  1.8  0.6 3490472 1657936 pts/1 Sl   22:43   1:05 ray::shuffle_map()
ubuntu    35082  0.7  0.0 2266752 128000 pts/1  Sl   22:43   0:26 ray::shuffle_map()
ubuntu    35083  2.0  0.7 3722712 1958972 pts/1 Sl   22:43   1:13 ray::shuffle_map()
ubuntu    35084  1.5  0.4 3108408 1240724 pts/1 Sl   22:43   0:55

[2021-02-25 00:28] rkooo567 commented on #14279
So, I found the root cause;

[code]

=> This doesn't work (pass the same object twice to the remote method).

While I will fix the issue, I wonder if you intended this, or is it unexpected?

[2021-02-25 00:55] bbalaji-ucsd commented on #7744
I'm interested in this issue. Is there an example of doing cross validation with tune? I'm interested in doing cross validation with tensorflow or torch frameworks.

[2021-02-25 01:03] devin-petersohn commented on #14279
Thanks @rkooo567! I see, that makes sense. It is not unexpected in Modin. It can happen multiple ways:

* A dataframe joins with itself (`df + df`)
* Data partitions become shared between dataframes (a memory footprint optimization)

A single `ObjectRef` can belong to multiple dataframes. We try to keep copying to a minimum.

[2021-02-25 01:13] rkooo567 commented on #14279
https://github.com/ray-project/ray/pull/14329 => This is the fix

[2021-02-25 01:34] rkooo567 commented on #14326
cc @devin-petersohn

[2021-02-25 01:53] ericl commented on #13725
Let me file a new issue.

[2021-02-25 01:55] ericl opened #14332 "Too many workers launched in multi node shuffle benchmark."
On a 5 node machine with 1GB object store memory each:

[code]

[code]

[2021-02-25 01:55] ericl commented on #14332
cc @wuisawesome

[2021-02-25 02:05] devin-petersohn commented on #14326
Thanks, we will be updating how Modin handles the object store to use the new best practices.

We are also encouraging users to initialize Ray themselves starting with 0.9 (this week).

[2021-02-25 02:29] RaphaelCS commented on #14304
Thanks for quick reply!

[2021-02-25 02:32] stephanie-wang commented on #13725
How about not counting those workers as idle?

[2021-02-25 02:40] ericl commented on #13725
Here's the new bug: https://github.com/ray-project/ray/issues/14332

[2021-02-25 02:44] wuisawesome commented on #13725
I'll close this one so we centralize the new conversation there.

[2021-02-25 02:44] #13725 closed

[2021-02-25 02:47] wuisawesome commented on #14332
How many cores are there per node?

[2021-02-25 02:51] ericl commented on #14332
32 cores here

[2021-02-25 03:10] rkooo567 commented on #13994
Multi-node bugs will be prioritized over this;

[2021-02-25 03:10] rkooo567 commented on #14324
@clarkzinzow I will assign you here.

[2021-02-25 03:13] rkooo567 commented on #14332
I can take this over so that @wuisawesome can focus on heartbeat stuff. My guess is worker capping removed the workers from its pool after killing it, but they were not killed because they own objects. Maybe we can add sth like do not remove idle workers from the pool if they fail to be killed.

[2021-02-25 03:13] rkooo567 commented on #14332
@kfstorm do you think it is a possible scenario?

[2021-02-25 03:22] ericl commented on #13958
Reverted

[2021-02-25 03:22] ericl commented on #13958
Or maybe not

[2021-02-25 03:22] #13958 closed

[2021-02-25 04:36] kfstorm commented on #14332
Does the worker number in the warning message keeps growing?

Do we constantly see the below log message if debug log is enabled, and the pids still show up in `ps` output?
https://github.com/ray-project/ray/blob/80657e5dfe3b5b449c16fe3238b91c57ca7eb9f3/src/ray/raylet/worker_pool.cc#L695-L699

Is it a bug that `CoreWorker::Exit` is invoked but the worker process refuses to quit?

[2021-02-25 04:41] #14164 closed

[2021-02-25 04:49] rkooo567 commented on #14332
Will check this out. Also, it is not a bug, but intended behavior. If the worker owns an object, we cannot kill them because if so, other tasks/actors that depend on that object will have trouble.

[2021-02-25 05:21] kfstorm commented on #14332
I see. Then it becomes tricky. On the worker side, we need to check that if there are any objects the worker owns or any unfinished tasks, right? Because both are the factors that a worker can't exit immediately. I'm not sure if there are more factors.

This results in a case that worker capping isn't able to help reduce the number of idle workers. Consider a job running on a cluster with only 100

[2021-02-25 05:24] #12814 closed

[2021-02-25 05:31] ericl commented on #14332
How about we try to reuse these workers then, if they can't be killed? That
would at least prevent infinite buildup of workers.

On Wed, Feb 24, 2021, 9:21 PM Kai Yang <notifications@github.com> wrote:

[2021-02-25 05:44] wuisawesome commented on #12565
@FarzanT any luck reproducing?

btw is it possible that the run from 2 days ago was on an old cluster? A little suspicious that the failing line of code isn't the `os.kill` anymore

[2021-02-25 05:46] rkooo567 commented on #14332
@ericl I am curious once we support detached object if we can move object ownership to GCS before killing idle workers or sth (maybe it will increase the load to gcs too much?).

[2021-02-25 05:49] kfstorm commented on #14332
@ericl It's definitely OK to me.

[2021-02-25 06:01] wuisawesome opened #14337 "Cluster instability past 250 nodes"
### What is the problem?

Ray clusters become unstable past 250 nodes.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / envir

[2021-02-25 06:01] rkooo567 commented on #14332
Also, I think those IDLE workers will eventually killed once owned objects are not used anymore (so it won't last forever)

[2021-02-25 06:20] clay4444 opened #14338 "[Placement Group] [Java] Support placement group for the normal tasks in Java api"
### Describe your feature request

Support placement group for the normal tasks.

[2021-02-25 06:21] clay4444 commented on #14338
cc @ffbin

[2021-02-25 06:46] qingtian1771 opened #14339 "AssertionError:"
Your issue content here.

[2021-02-25 06:48] #14339 closed

[2021-02-25 07:06] #14304 closed

[2021-02-25 09:41] cbravo93 commented on #14305
Hi @richardliaw !

*Example*
It would happen any time I try to run ray (if the task takes more than a few seconds). I am running on a single node. This is a toy example:

[code]

And this is what happens:

Jupyter notebooks
![image](https://user-images.githubusercontent.com/19205518/109133709-958e7980-7755-11eb-9dea-d2d3ac5907a9.png)

Console
![image](https://user-images.githubusercontent.com/1920

[2021-02-25 09:48] cbravo93 commented on #14305
Actually, there is no need to run anything simply doing:

[code]

And waiting a couple seconds prompts the messages already:

![image](https://user-images.githubusercontent.com/19205518/109135077-fbc7cc00-7756-11eb-82cb-ae50e671d308.png)

[2021-02-25 13:04] RaphaelCS opened #14344 "[dashboard] Dashboard failed to start"
### What is the problem?

I tried to run `ray start --head --num-cpus 2 -vv --block &` but it seemed that the dashboard failed to start. I cannot connect to localhost:8265 neither.
Here is the output after executing the command:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
**ray**: 2.0.0.dev0
**Python**: 3.7.9
**OS**: Ubuntu 20.04.2 LTS

### Reproduc

[2021-02-25 13:30] Phirefly9 opened #14346 "[autoscaler] v1.2.0 Autoscaler crashes when attempting to calculate resource usage"
### What is the problem?

In our teams k8s cluster the resources for a given node can be listed as
{CPU: something>0, GPU: 0}, and when we run the autoscaler everything works as intended until the first time the scaler checks
resource usage, then it divides by 0 on the GPU resource and dies, killing all worker pods.

to fix this issue we have added a line to our setup_commands:

[code]
which fixes

[2021-02-25 13:41] clay4444 opened #14347 "[Placement Group] [Java] Security of Get All placement groups in java API"
### What is the problem?
Currently, the interface of getting all placement groups in java API will return all `PlacementGroups` in the whole cluster, which brings security issues.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fa

[2021-02-25 13:50] FredrikM97 commented on #14237
I based it upon: https://towardsdatascience.com/how-to-tune-pytorch-lightning-hyperparameters-80089a281646

The only difference is that I changed the names on self.log and did not define. metrics = {"loss": "ptl/val_loss", "acc": "ptl/val_accuracy"}

[2021-02-25 14:01] FarzanT commented on #12565
@wuisawesome No, thankfully didn't have that problem anymore!
I think the job was already running when I went ahead and changed the line (sorry I had many jobs at that point). I think the computer copies the code at import once and doesn't care if it's changed in the middle of running a job, correct? In this case, the job was using the older version. I think adding the "autoscaler" string has fixe

[2021-02-25 14:57] ConeyLiu opened #14350 "[core] The autoscaler failed when environments has http_proxy or https_proxy"
### What is the problem?
When the environment has set `http_proxy` or `https_proxy`, got the following errors:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library depe

[2021-02-25 15:35] ConeyLiu opened #14352 "[sgd] TrainingOperator wrap model incorrect"
### What is the problem?

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

If the code snippet

[2021-02-25 15:54] limash commented on #13680
Hello! @krfricke @simon-mo

I have similar issues with fractional GPUs. In ray docs there is just "It is the developer’s responsibility to make sure that the individual tasks don’t use more than their share of the GPU memory. TensorFlow can be configured to limit its memory usage."
I adjusted a bit above example to allocate only specific amount of memory.

[code]

But it faces the similar issues w

[2021-02-25 16:06] krfricke commented on #13998
This should probably be fixed by #14306

[2021-02-25 16:07] krfricke commented on #13881
I'll close this for now - please feel free to re-open if the issue still comes up. Thanks!

[2021-02-25 16:07] #13881 closed

[2021-02-25 16:33] Kai-AI commented on #14153
Any idea how I could further analyze or debug this problem?

[2021-02-25 17:09] simon-mo commented on #13680
Ah for your code snippet. Can you try moving your tf memory config into the task definition? So the tf config runs inside the worker instead of the driver.

[2021-02-25 17:18] ericl commented on #14346
Oh, I think you can resolve this by never setting :0 for a resource (just omit the resource key). We should handle this automatically though.

[2021-02-25 17:25] wuisawesome commented on #12565
Awesome! I'll reclose this issue then :)

[2021-02-25 17:25] #12565 closed

[2021-02-25 17:48] rkooo567 commented on #14344
What's the log output from `/tmp/ray/session_latest/logs/dashboard.log`?

[2021-02-25 17:55] ingambe opened #14355 "[RLLib] Dueling DQN doesn't work with masked actions"
### What is the problem?

Currently, Dueling DQN is not working with the masked actions.
I've started to work on it. See the related PR.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 2.0
Pytorch 1.7.1
macOS Catalina

### Reproduction (REQUIRED)
Use Parametric Cartpole or an environment with masked actions (I use: https://pypi.org/project/JSSEnv/ and http

[2021-02-25 18:17] ericl commented on #14269
Duplicates https://github.com/ray-project/ray/issues/14092

[2021-02-25 18:17] #14269 closed

[2021-02-25 18:27] Phirefly9 commented on #14346
Here is a redacted version of the base cluster-yml we use, we make no specification of gpu resources anywhere

[code]

[2021-02-25 18:34] ericl commented on #14346
Hmm, perhaps the k8s operator is injecting "GPU": 0 by accident? @DmitriGekhtman might know better.

Btw, if you are using the k8s autoscaler, you should migrate to the k8s operator as the autoscaler is deprecated.

[2021-02-25 18:45] DmitriGekhtman commented on #14346
@ericl
Yep, that's the issue.

@Phirefly9
This is a pretty serious bug in Ray 1.2, unfortunately.
You can get around this by using the latest master,
or any commit after this fix was merged https://github.com/ray-project/ray/pull/14024 .

Alternatively, you can use the Ray Operator with the provided operator.yaml
(which uses an image with latest Ray master installed)
https://docs.ray.io/en/master/

[2021-02-25 18:48] ericl commented on #14346
Nice, thanks for confirming this is fixed in master @DmitriGekhtman . I'll close this issue; separately we should probably be pointing users more strongly at operator.

[2021-02-25 18:48] #14346 closed

[2021-02-25 18:49] limash commented on #13680
Oh thanks, it works fine.

[2021-02-25 18:54] limash commented on #13680
And one more stupid question. Is it guaranteed that different processes won't use the same chunk of memory?

[2021-02-25 19:38] yuduber commented on #14098
sorry being busy yesterday.  Where is the fix?  Can I take a look of the fix?

[2021-02-25 19:51] yuduber commented on #14098
I see the fix now, which is just use random.randint(10000, 65535) for the new port number for the shard.  This still leave certain probability of picking a used or already allocated port and create conflict later on.  Can't you just keep track of the allocated ports, and when you need to pick a new port, you find a random one and check to make sure it's not in the allocated ports and not used at t

[2021-02-25 20:05] rkooo567 commented on #14098
@yuduber Yeah that's the fundamental fix we've been thinking about too (blacklisting user-selected ports), but we are a little bit overloaded this and next week, so we merged the quick fix first! (to unblock you quickly). If this fix is very urgent, I can spend some time maybe this weekends to push the fix asap.

[2021-02-25 20:10] yuduber commented on #14098
I see.  Thanks for letting me know.  The fix is kinda critical to unblock some of our work here at uber.  If it will be available sometime next week, that will be greatly appreciated.

[2021-02-25 20:11] rkooo567 commented on #14098
Sure. Let me try pushing a fix by this weekend! Thanks for the clarification :)!

[2021-02-25 20:39] rkooo567 commented on #14098
Okay @clarkzinzow will take care of it asap. Hey @clarkzinzow can you tell him your implementation plan and get confirmation if this can satisfy all of requirements?

[2021-02-25 22:15] richardliaw commented on #14305
Can you provide the files of `/tmp/ray/session_latest/logs`

[2021-02-25 22:21] richardliaw commented on #14051
@wuisawesome @ericl is there an ETA for this?

[2021-02-25 22:28] richardliaw opened #14361 "Re-enable placement group support for RLlib"
We are reverting this because ray/python/ray/tests/test_memory_scheduling.py was failing on travis/osx/windows.

_Originally posted by @richardliaw in https://github.com/ray-project/ray/issues/14360#issuecomment-786269014_

cc @sven1977

[2021-02-26 00:03] ijrsvt commented on #14095
It appears that the source image (the AMI or HostOS) that we default to uses the user Ubuntu, but with `UID=1001`. The container runs with `user=ray, UID=1000`. This usually is not a big problem because the user inside the container and the user on the host have the same UID (The `ubuntu` user usually defaults to UID=1000).

[2021-02-26 00:30] DmitriGekhtman opened #14363 "[autoscaler][dashboard] Ray up aws/defaults.yaml fails due to dashboard error"
### What is the problem?
Running
`ray up aws/defaults.yaml` leads to the following error
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Using current master Ray locally.
Version of Ray installed on head node is nightly build at 4:30 PM Pacific 2/25/2021

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) th

[2021-02-26 00:36] simon-mo commented on #14363
I was able to reproduce this. Investigating

[2021-02-26 00:42] simon-mo commented on #14363
Dashboard process failed to start because:
[code]

I have to set the stdout_file and stderr_file not to subprocess.DEVNULL to reveal this error. @rkooo567 I think this reveal a weakness of the ray logging stack because ray process startup error is silently swallowed.
https://github.com/ray-project/ray/blob/34a9714dda012241cdf035c8bbad2ebd60882aad/python/ray/node.py#L704-L705

[2021-02-26 00:46] simon-mo commented on #14363
It's the environment issue, please update the the protobuf:
[code]
After the protobuf is updated (make sure you are using the right conda environment by `source ~/.bashrc` or `conda activate tensorflow_p36`), `ray start --head` will work.

[2021-02-26 01:28] stephanie-wang opened #14366 "[metrics] Remove unused or unnecessary metrics."
### Describe your feature request

Some of our metrics are not relevant for any real workload. For example, we do not need to know the total resources of each node; this shouldn't change over time.

[2021-02-26 01:30] architkulkarni opened #14367 "Pre-push hooks allow code to be pushed that fails LINT"
### What is the problem?
The pre-push hook checks to see if `travis/format.sh` exits with code 0 before pushing.  However, `format.sh` can exit with code 0 with the linter still failing:

[code]

Maybe this code in `format.sh`
[code]
can be changed somehow to account for the possibility that the linter failed but didn't make any changes to the files.

*Ray version and other system information (Pyt

[2021-02-26 01:33] stephanie-wang opened #14368 "[metrics] Report general metrics for gRPC"
### Describe your feature request

Report some general metrics about grpc request processing.

- gRPC QPS (raylet and GCS)
- gRPC queue length (raylet and GCS)

[2021-02-26 01:38] #5218 closed

[2021-02-26 01:48] #14227 closed

[2021-02-26 01:55] rkooo567 commented on #14227
Hey @Hoeze Can you try this out and let us know how ti works?

[2021-02-26 01:56] stephanie-wang opened #14369 "[metrics] Report metrics to be used for debugging load balancing issues"
### Describe your feature request

Add some metrics for the raylet scheduler.

- Number of task scheduling requests
- Total number of tasks running
- Cumulative tasks run
- Cumulative task spillbacks

[2021-02-26 01:56] RaphaelCS commented on #14344
Before I tried to reproduce the issue to get the output from `/tmp/ray/session_latest/logs/dashboard.log`, I had reinstalled the lastest wheel (and linked to the lastest source code).
Now the issue doesn't occur anymore. 😄
I think the issue occurred because I hadn't updated the wheel to the latest (though I had the latest source code). I noticed that after update the wheel to the latest, an error

[2021-02-26 01:58] #14344 closed

[2021-02-26 01:58] stephanie-wang opened #14370 "[metrics] Add metrics for native streaming shuffle"
### Describe your feature request

- [object store] Object store memory available, used, pinned
- [object manager] Cumulative object store transfer bandwidth: incoming and outgoing
- [object manager] Number and size of concurrent pull requests/push requests
- [object store] Object store creation queue length

[2021-02-26 01:59] stephanie-wang opened #14371 "[metrics] Add metrics for debugging ownership-based object directory"
### Describe your feature request

- [object manager] Number of object directory operations (Lookup / Add / Remove) done by raylet

[2021-02-26 02:00] stephanie-wang opened #14372 "[metrics] Add metrics for debugging Dask-on-Ray"
### Describe your feature request

- [object manager] Total bytes requested from the pull manager
- [scheduler] Number of queued tasks for dispatch
- [scheduler] A number of tasks that are waiting for dependencies.

[2021-02-26 02:06] wuisawesome commented on #14051
I'll try to get it done next week.

Also fyi @robertnishihara

[2021-02-26 02:52] RaphaelCS commented on #14344
Sorry, I made a mistake. :cry:
I didn't update the wheel to the latest (though I want to). I wrongly download the latest wheel of version 1.2.0 from [this page](https://docs.ray.io/en/releases-1.1.0/installation.html#daily-releases-nightlies). I didn't realize that the wheel's version is related to the doc's version.

But, whatever, the issue doesn't occur after installing the true latest wheel of

[2021-02-26 04:10] RaphaelCS opened #14374 "[tune] Cannot optimize a metric nested in result"
### What is the problem?

The script at the bottom failed because it pass `evaluation/episode_reward_mean` as the metric to optimize. In the reported dict `result`, `episode_reward_mean` is nested under `evaluation`.
After digging a bit into the source code, I think this kind of metric could be optimize in tune. But, the validation process failed because it use nested result.

*Ray version and oth

[2021-02-26 04:59] #14363 closed

[2021-02-26 05:00] frazz24 opened #14376 "[RLLib]"
RLLib

### What is the problem?

Ray 1.2, Python 3.8, Torch 1.7.1

When using gym.spaces.Dict for an observation, the "space contains observation" check fails because the dictionary observation is contained within a list.

Using the check below fixes the issue in check_shape:
`if type(self._obs_space) is gym.spaces.Dict:
observation = observation[0]`

Similarly, the write method fails with Attribu

[2021-02-26 05:20] RaphaelCS opened #14377 "[tune] Checkpoint according to nested metric"
### Describe your feature request

The script at the bottom failed with error message:
[code]
, since it use a metric nested in the reported result (`episode_reward_mean` under the key `evaluation`).

Script:

[code]

[2021-02-26 07:23] turmeric-blend commented on #13971
For a normal training/validation setup the workflow is, for **each** epoch, `training_loop` --> `validation_loop` --> `checkpointing to determine whether to save model or not`. In this case, this:

would **not** occur, and can I just confirm that the defaults in ray's callbacks are to work with the normal cases?

In addition, can I know what would the ray settings be to work with this case:

Thank

[2021-02-26 08:35] amogkam commented on #13971
It's definitely viable to checkpoint multiple times per epoch. For example, you can checkpoint after each training batch like so:
[code]

Using the global step for checkpoint directory name ensures that all directories have a unique name in all cases, regardless of the checkpoint frequency. If you want to map global-step based directory names to epoch numbers, it should just be the lowest step is

[2021-02-26 08:35] rkooo567 commented on #14344
Ah yes, sorry about that 😢. There were some issues before that the latest wheel in the doc wasn’t properly connected to the true latest wheel. Now it should be all resolved! Thanks for writing up how you fixed the issue :)!!

[2021-02-26 08:57] RaphaelCS commented on #14344
Everything is fine now! 😄

[2021-02-26 08:57] turmeric-blend commented on #13971
I have my callback like so: `callback = TuneReportCheckpointCallback(..., on="validation_end")`. And internally in the [callback method](https://github.com/ray-project/ray/blob/918ad84f08ee3e019e79d049442fc509777abac0/python/ray/tune/integration/pytorch_lightning.py#L220) I changed `trainer.global_step` to `trainer.current_epoch` for ease of readability of my files.

[code]

I was afraid I might b

[2021-02-26 11:41] sven1977 opened #14385 "[RLlib] `Policy.compute_actions_from_input_dict` does not properly track accessed fields for the Policy's view-requirements."
`Policy.compute_actions_from_input_dict` does not properly track accessed fields for the Policy's view-requirements.

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have *

[2021-02-26 12:59] #10939 closed

[2021-02-26 12:59] #13998 closed

[2021-02-26 13:00] #14374 closed

[2021-02-26 13:34] smorad commented on #14195
I've narrowed this down to the `forward` call in `attention_net.py:304`. `input_dict['obs']` is a list, not `TensorType`. My understanding is that `input_dict['obs']` should always be `TensorType`.

[2021-02-26 14:13] smorad commented on #14195
I think this bug is __not__ specific to grtxls, and has to do with how rllib unpacks observations. `AttentionWrapper.forward` is passed *the wrong type* before any attention stuff happens, so it's possible this may cause trouble elsewhere. This is on latest master 8cedd16f4440f5baf8c68d5012896512466c9f6a.

[2021-02-26 14:25] krfricke commented on #13256
Hey @gordoni, I can't reproduce the issue on a cluster running on the latest wheels. Could you try those out (or release 1.2) and report if the issue still comes up?

For reference, this is my autoscaler config:

[code]

(the `CPU: 0` sets the head node CPUs to 0 so we train on the worker node)

[2021-02-26 14:30] krfricke commented on #11867
Closed via #12108

[2021-02-26 14:30] #11867 closed

[2021-02-26 14:34] krfricke commented on #13614
Hi @ricardobatistad, unfortunately Hyperopt indeed does not support function search spaces, or at the very least none that depend on other values. Currently `tune.sample_from()` only works with random search (the default).

[2021-02-26 14:34] #13614 closed

[2021-02-26 16:08] krfricke commented on #14230
So generally TensorboardX does work with local directories (which is the default use case).

I couldn't reproduce this issue, so I suppose it is actually a windows problem / maybe an issue of TensorboardX on windows.

As for passing `loggers=None`, as explained in the discussion, if you want to disable loggers, you'll have to set the environment variable `TUNE_DISABLE_AUTO_CALLBACK_LOGGERS=1`.

Ca

[2021-02-26 16:29] krfricke opened #14390 "[tune] allow Analysis to load from json"
We currently load from CSV, but it should be possible to load from json instead.

https://discuss.ray.io/t/add-an-option-to-use-json-log-for-tune-analysis/977

[2021-02-26 16:51] thomasdesr commented on #14350
Hey @ConeyLiu !

I'm having difficulty reproducing this behavior. I've tried a few approaches like this:

[code]

Could you share a bit more context on how you're triggering this behavior in your reproduction script?

[2021-02-26 17:05] KhrystynaFaryna opened #14391 "Unable to start a dashboard"
Hi, this is an awesome framework.  I ran into an issue, I am trying to use ray[tune] to reproduce [this ](https://github.com/kakaobrain/fast-autoaugment) project. My jobs are running on a local linux gpu cluster.
How can I access the **dashboard** from my windows pc? If I go to localhost:8265, I get  "This site can’t be reached
localhost refused to connect."
I followed the instructions from [here]

[2021-02-26 17:14] richardliaw commented on #14391
Hey @KhrystynaFaryna maybe you need to port-forward that 8265 port to your local laptop? https://phoenixnap.com/kb/ssh-port-forwarding
`ssh -L8265:localhost:8265 ubuntu@...`

[2021-02-26 17:22] amogkam commented on #13971
Ah I see, yes using that `current_epoch` as the dir name is fine as long as there is only one checkpoint per epoch. Your current setup looks good.

[2021-02-26 17:25] diman82 commented on #14230
I'm using latest 2.1 version.
Setting env variable to disable logger callbacks works, but the problem is, that it disables all callbacks, including a callback the MLFlow callback (I'm aware that there is another way to write to remote tracking server).
Yes, this seems to be a windows issue. Would you advise to open an issue on T[ensorboardX github issues](https://github.com/lanpa/tensorboardX/issu

[2021-02-26 18:00] edoakes commented on #14366
Completely agree that a lot of the metrics aren't useful, but want to point out that total resources of each node is useful for two reasons: (1) you can compute resource utilization over time based on it (alternatively we could report utilization as a % for each metrics, it's a 2-of-3 scenario) and (2) the total resources of the cluster can change over time due to autoscaling and this is useful in

[2021-02-26 18:19] cbravo93 commented on #14305
Here they go :)

[logs.zip](https://github.com/ray-project/ray/files/6051609/logs.zip)

[2021-02-26 18:36] #12816 closed

[2021-02-26 18:51] architkulkarni opened #14393 "[Ray Client] Can't connect to Ray client locally"
### What is the problem?
Connecting to the Ray client after `ray start --head`doesn't seem to work, see the repro for details.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Master, Python 3.6, Mac OS
### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet sho

[2021-02-26 19:33] edoakes commented on #14177
@ericl what exactly is `my_pkg.MyActor` here? It can't be the full class because the script this is running in may not actually have the dependencies to import that class -- is it just an API stub?

[2021-02-26 20:43] #14279 closed

[2021-02-26 20:46] #13916 closed

[2021-02-26 20:46] #13917 closed

[2021-02-26 20:46] devin-petersohn commented on #14279
Thanks @rkooo567, @stephanie-wang, and @ericl!

[2021-02-26 21:15] ericl commented on #14177
That's right, it would be a "remote actor stub". The intent is the exposed symbols are all Ray remote tasks or actors, which can be safely called since they would always run in separate processes.

[2021-02-26 22:51] StaminaTang opened #14394 "slurmstepd: error: Detected 8 oom-kill event(s) in step 59137890.batch cgroup. Some of your processes may have been killed by the cgroup out-of-memory handler."
### What is the problem?

  File "/home/user/.local/lib/python3.6/site-packages/ray/tune/tune.py", line 330, in run_experiments
    raise_on_failed_trial=raise_on_failed_trial)
  File "/home/user/.local/lib/python3.6/site-packages/ray/tune/tune.py", line 272, in run
    raise TuneError("Trials did not complete", errored_trials)
ray.tune.error.TuneError: ('Trials did not complete', [seed:5591])
slu

[2021-02-27 00:50] valiantljk commented on #14177
what does 'remote actor stub' mean here?
when loading a package, is a detached actor created in the backend? and this my_pkg.myactor is just the handle of that remote actor?

[2021-02-27 00:56] ericl commented on #14177
To clarify, it's the same as a remote actor definition.

[code]

The same goes for the remote function definitions.

[2021-02-27 01:01] simon-mo opened #14395 "[serve] test_backend_state.py fails locally and not tested in bazel"
I can't run https://github.com/ray-project/ray/blob/master/python/ray/serve/tests/test_backend_worker.py locally because it faied with
[code]

and it turns out it's not included in the BUILD file so it's not tested in our CI:
https://github.com/ray-project/ray/blob/master/python/ray/serve/BUILD

[2021-02-27 01:03] simon-mo commented on #14395
test_async_goal_manager.py is not included in build as well and it cannot be ran in py3.6
[code]

[2021-02-27 01:07] StaminaTang commented on #14394
2021-02-27 03:01:56,997	ERROR trial_runner.py:487 -- Error processing event.
Traceback (most recent call last):
  File "/home/usr/.local/lib/python3.6/site-packages/ray/tune/trial_runner.py", line 436, in _process_trial
    result = self.trial_executor.fetch_result(trial)
  File "/home/usr/.local/lib/python3.6/site-packages/ray/tune/ray_trial_executor.py", line 323, in fetch_result
    result = ra

[2021-02-27 01:11] StaminaTang commented on #14394
Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
[GCC 7.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

2021-02-27 03:09:44,371 INFO node.py:498 -- Process STDOUT and STDERR is being redirected to /tmp/ray/session_2021-02-27_03-09-44_371497_24314/logs.
2021-02-27 03:09:44,480 INFO services.py:409 -- Waiting for redis server at 127.0.0.1:23409 to

[2021-02-27 05:35] ConeyLiu commented on #14350
Hi @thomasdesr,  I got the error on the master branch code.
[code]

[2021-02-27 09:12] #9935 closed

[2021-02-27 09:33] StaminaTang commented on #14394
/.local/lib/python3.6/site-packages/ray/tune/tune.py", line 272, in run
    raise TuneError("Trials did not complete", errored_trials)
ray.tune.error.TuneError: ('Trials did not complete', [seed:6462])

[2021-02-27 11:55] mike576 commented on #13881
Thanks, actually, I could not figure out what was wrong, with a clean environment it works.

[2021-02-27 12:27] #9615 closed

[2021-02-27 17:19] KhrystynaFaryna commented on #14391
Yes I did that -  it did not help. I also tried using:
`ray.init(dashboard_host='0.0.0.0')`
Now it says:
`-- View the Ray dashboard at http://172.17.0.3:8265`
And when I go there I get:
''This site can’t be reached 172.17.0.3 took too long to respond.''

I am using ray version 1.2.0.

[2021-02-27 20:16] mitar opened #14399 "1.0 migration guide is missing"
Reading through [releases](https://github.com/ray-project/ray/releases), a 1.0 migration guide is mentioned:

I would want to check it out, but the link does not work. So where is the 1.0 Migration Guide?

[2021-02-27 20:33] mbehrendt opened #14400 "[k8s] min_workers doesn't seem to be honored"
### What is the problem? & Reproduction (REQUIRED)

Ray version 1.2, k8s 18.6 and 19.x, Ubuntu 18.04

i’ve been playing around with various min_worker settings and have been seeing inconsistent behavior, e.g when i set min_worker to 10, the system indeed ended up with 10 pods, but when i changed it to 30, I only ended up with one or no worker.
The cluster yaml i used as a starting point is just th

[2021-02-27 20:36] amogkam opened #14401 "[SGD] Make process group init_method configurable"
Ray SGD uses TCP initialization for creating the torch.distributed process group. However, TCP initialization requires P2P communication between devices. In cases where P2P communication is not supported, we should provide a way for the user to specify a different initialization method for the process group.

_Requested by @andrijazz_

[2021-02-27 20:43] mbehrendt opened #14402 "[k8s] Number of tasks is not being scaled out"
### What is the problem?
Ray version 1.2, k8s 18.6 and 19.x, Ubuntu 18.04.

### Reproduction (REQUIRED)
this is in the context of https://github.com/ray-project/ray/issues/14400

when i invoke a task many times in parallel, often times there is no provisioning of additional task instances although there is enough free capacity available.

To reproduce, just setup a k8s cluster as described in the

[2021-02-27 20:49] rkooo567 commented on #14402
Hey @wuisawesome maybe the same issue we saw yesterday?

[2021-02-27 20:55] mbehrendt opened #14403 "[k8s] num_CPUs doesn't seem to be working"
### What is the problem?
Ray version 1.2, k8s 18.6 and 19.x, Ubuntu 18.04.

### Reproduction (REQUIRED)
this is in the context of https://github.com/ray-project/ray/issues/14400 and https://github.com/ray-project/ray/issues/14400

when i invoke a task many times in parallel, often times there is no provisioning of additional task instances although there is enough free capacity available. This see

[2021-02-27 21:00] bioinfornatics opened #14404 "How to Combining ray queue and asyncio"
Dear,

Firstly thanks for your awesome library.

I would like to split my program into 2 components.

1. a writer into a background thread that run forever (with an input stream of data to store)
2. a producer which generate a stream of data through a job queue `ray.util.queue`

I use currently ray `1.1.0` in python. I do not found into the documentation how to use together ray + queue + asyncio.

[2021-02-27 21:36] mitar commented on #2617
So I checked and i do not find a way to get also object IDs for the current task. I could not find a way to map from task_id to object IDs. I would guess additional utility function should be exposed.

[2021-02-27 22:02] mitar commented on #9578
Moreover, it would be great if out-of-band object refs could be officially supported.

[2021-02-28 01:47] stephanie-wang commented on #14369
We should also add:
- Number of worker processes started
- Current number of worker processes

[2021-02-28 04:25] rkooo567 commented on #2617
Got it. I think the object id is currently not supported but should be trivial to add. Can you specify the use case here?

[2021-02-28 04:54] DmitriGekhtman opened #14405 "[autoscaler][gcp] gcp/defaults.yaml ray install setup command fails"
### What is the problem?

`ray up gcp/defaults.yaml` fails to setup the head node, with error
[code]

The problem seems to come in part from the `NodeUpdater`/`CommandRunner`:

If you ssh into the node by doing `ray attach defaults.yaml` and then attempt the same pip install, it fails with the same error.

BUT if you go to the google cloud console, copy the provided ssh command from there, and use

[2021-02-28 04:58] DmitriGekhtman commented on #14405
cc @ijrsvt @richardliaw

[2021-02-28 05:03] rkooo567 commented on #14404
cc @architkulkarni

[2021-02-28 06:43] VishDev12 opened #14407 "[tune] Cleanup function not running to completion"
### What is the problem?

When migrating from Ray 1.0.1 to Ray 1.1.0 or 1.2.0, I found that the program exits as soon as all the iterations are done in tune.run. The execution of the cleanup function is not fully completed.

I had seen the same problem in a previous version of Ray (0.8.4) and raised this issue:
#7963

@richardliaw implemented a fix for it through this PR:
#7967

In the 1.2.0 versi

[2021-02-28 07:28] mitar commented on #2617
We use this for logging. So that it is easy to correlate object IDs between callers and tasks. So caller can log the object ID and then tasks can do that as well. So logging and debugging.

[2021-02-28 14:02] #11411 closed

[2021-02-28 15:34] safdark commented on #5455
Has this been abandoned? Hopefully not...

[2021-02-28 16:16] richardliaw commented on #14407
hmm @krfricke maybe take a look at this?

meanwhile @VishDev12 could you check if this is still the case on the latest nightly wheels?

[2021-02-28 16:41] Hoeze commented on #14227
I tried it and it works great! Thank you @rkooo567 and @clarkzinzow :smile:

One thing that one has to be aware of, though, is that using object_ref's in Dask arrays only work when using `.compute(scheduler=ray_dask_get)`. When forgetting to set this option, one gets a strange error:

[code]

<details>

[code]

</details>

A possible solution to this would be to wrap every `object_ref` with `dask.

[2021-02-28 16:48] clarkzinzow commented on #14227
@Hoeze I'm happy to hear that it's working pretty well for you! And that is quite an unfortunate failure mode, I know that Dask Distributed gets around that by having dedicated logic in `.compute()` to detect if a Dask Distributed client has been instantiated, at which point it will use that as the scheduler. And unfortunately, I think that wrapping every object ref would be an untenable performan

[2021-02-28 18:06] Hoeze commented on #14227
Yes, that's what I do now.
You need to run `dask.config.set()` on all workers. Otherwise, you run into this problem when calling `.compute()` in some remote function as well.

[2021-02-28 19:04] rkooo567 commented on #14227
We have an internal api to run the function on every worker. Maybe we should just support ray.util.setup_dask_on_ray() which sets the config on all workers + apply our custom shuffle optimization

[2021-02-28 19:28] AmeerHajAli commented on #14104
@wuisawesome , do we support memory? can a user provide memory in resources field?

[2021-02-28 19:36] wuisawesome commented on #14104
Hmm I suspect there are some rough edges/bugs around this.

1. (Bug) We don't convert from the scheduler's 50MB units to bytes.
2. (Rough edge) We don't autodetect memory.

[2021-02-28 19:45] wuisawesome commented on #14402
Interesting.

@mbehrendt just want to get a better understanding of the issue. Does it look like the problem is that ray isn't using up all the resources on the existing nodes in the cluster? Or do you expect Ray to add _more_ nodes and it's not?

It may help to share the results of `ray.cluster_resources()` and `ray.available_resources()` while the tasks are running.

[2021-02-28 20:40] alexanderkell commented on #9643
Has any reason for this been found? The hack I posted in September still works, but I would like to use the latest version of Ray.

[2021-02-28 21:14] mbehrendt commented on #14402
@wuisawesome based on what i'm seeing in the logs, ray removes the worker nodes again right after startup b/c it identifies it as 'outdated'. As mentioned in the root issue, this only seems to be happening with a larger number of nodes.

For example,, when i set `min_workers` (in the `exampe-full.yaml`you're providing on github, everything seems to be fine (i set the cpu value to 6000m, and 27000M

[2021-03-01 01:52] robertnishihara opened #14410 "RLlib default example doesn't work with tensorflow 2.4.1 and numpy 1.20.1"
Taking the example from https://ray.io/ and running it, it appears to fail with

[code]

This is with

[code]

Note that I also tried with `tf=='2.1.0'` and `np=='1.18.2'` and that succeeded.

**Script for reproduction**

[code]

**Full output below.**

[code]

@sven1977

[2021-03-01 08:52] breznak opened #14413 "[tune] release 1.2.0 insufficient aiohttp requirements"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
- ray 1.2.0
- python 3.7
- Ubuntu 20.04

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environment

[2021-03-01 08:59] richardliaw commented on #14413
@breznak could you show your stacktrace? that'd help us figure out what to fix!

[2021-03-01 11:11] #14237 closed

[2021-03-01 11:12] #14072 closed

[2021-03-01 13:08] krfricke opened #14415 "[tune] use Optuna's `fixed_distributions` parameter after next release (2.6.0)"
See #14387 and the Optuna docs here: https://optuna.readthedocs.io/en/latest/reference/generated/optuna.study.Study.html#optuna.study.Study.ask

[2021-03-01 13:12] MischaPanch commented on #8151
A comment just to revive this issue. The current status is that after restoring an agent the buffer is gone. It would be really helpful for me to be able to restore the buffer since I want to pretrain an SAC agent on a modified reward. Without reloading the replay buffer the training begins by forgetting what was learned (although in my case the agent recovers pretty fast), see image below. There

[2021-03-01 15:20] krfricke commented on #14407
Hm, so this code works for me:

[code]

i.e. the "Still stop" is printed. Could you build on this to create a reproducible example?

[2021-03-01 15:39] jennicetao commented on #14264
[code]

It seems that the autoscaler failed to terminate the node as the node was unresponsive for many seconds. Probably the autoscaler needs to wait more than 6 seconds every time (exponential backing)? It may be better not to kill everything else while reporting this issue to the user.

[2021-03-01 16:14] #14377 closed

[2021-03-01 16:28] krfricke commented on #11341
I've finally looked into this. The problem here is that ConfigSpace does not allow nested search space natively. We could build workarounds to support this, e.g. sampling a categorical index and set the respective config parameter in dependence of that. However, this seems like a lot of overhead to maintain. Instead, it would be probably best to track progress of https://github.com/microsoft/nni/i

[2021-03-01 16:28] #11341 closed

[2021-03-01 17:27] #12280 closed

[2021-03-01 17:27] architkulkarni commented on #14393
Here's the server log in /tmp:

[code]

[2021-03-01 18:05] DmitriGekhtman opened #14418 "[autoscaler][interface] Per-node-type docker configs"
### Describe your feature request

We should make it possible to specify per-node-type docker configs, with the global docker config either {} or unspecified.

[2021-03-01 18:17] thomasdesr commented on #14350
That does it! Thanks :D

I do have a question if the fix in #14351 is the right way to handle this. These environment variables are fairly standard ways to configure various network clients.

Do you have a use case where these environment variables need to be set but GRPC clients should not be following their instructions? I'm worried we'd break users who depend on this behavior.

One complication

[2021-03-01 18:18] edoakes commented on #14395
@simon-mo thanks for pointing these out. I'll fix `test_async_goal_manager`

[2021-03-01 18:24] wuisawesome opened #14420 "Regression in scheduling performance"
### What is the problem?

When running the scalability envelope, it's clear that task scheduling has regressed significantly since the cluster never reaches full utilization (looking at `ray status` it's clear that we're scheduling very slowly.

This is a regression since 1.2.0 (the only scheduling policy PR was #14096 ).

*Ray version and other system information (Python version, TensorFlow versi

[2021-03-01 18:50] #14405 closed

[2021-03-01 19:05] #11982 closed

[2021-03-01 19:05] #11983 closed

[2021-03-01 19:08] #12676 closed

[2021-03-01 19:15] ericl commented on #14264
It seems to me there are two issues here right?

(1) First, there is just a flat out bug in the autoscaler, we should never hit KeyError or anything like that:
File “/home/centos/.local/lib/python3.7/site-packages/ray/autoscaler/_private/aws/node_provider.py”, line 170, in node_tags
d1 = self.tag_cache[node_id]
KeyError: ‘i-02b77234ffad2072c’

(2) It is undesirable to kill the cluster. @jennicetao

[2021-03-01 19:17] ericl commented on #14420
@wuisawesome can you include details about the regression and how to reproduce in the issue description?

[2021-03-01 19:25] simon-mo commented on #14393
I can't repro it with ray master. what's your grpc version?
[code]

[2021-03-01 19:26] architkulkarni commented on #14393
[code]

[2021-03-01 19:27] simon-mo commented on #14393
hmm and ray commit?
[code]

[2021-03-01 19:28] architkulkarni commented on #14393
[code]

[2021-03-01 19:29] architkulkarni commented on #14393
Hmm, let me try again with your commit

[2021-03-01 19:31] wuisawesome commented on #14264
re (1), looks like the aws node provider removes the node from its cache when terminating a node. The key error looks like a side effect of the fact that the node is not being terminated properly.

[2021-03-01 19:33] ericl commented on #14264
Can we fix that first?

Eric

On Mon, Mar 1, 2021 at 11:31 AM Alex Wu <notifications@github.com> wrote:

[2021-03-01 20:08] architkulkarni commented on #14393
My fault, I just had to rerun `bazel build //:ray_pkg`.

[2021-03-01 20:08] #14393 closed

[2021-03-01 20:08] krfricke commented on #11470
Hm, we might need to think about if it's really worth supporting this via value casting. There's paper on this issue (e.g. here: https://arxiv.org/abs/1706.03673). My impression is that it seems like people should use search algorithms that natively support the respective search spaces instead of trying to make it fit.

I'll close this for now.

[2021-03-01 20:08] #11470 closed

[2021-03-01 20:41] chegrane opened #14426 "ray Aborted on a cluster managed by slurm"
### What is the problem?
ray is Aborted just after the function ray.init()

Sys: Linux cedar1.cedar.computecanada.ca 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 25 17:23:54 UTC 2020 x86_64 GNU/Linux
Python 3.8
ray version : '1.1.0'

### Reproduction (REQUIRED)

[code]

note:
It may have relation with slurm, since it is a cluster.  But according to the cluster information, they say that we can execu

[2021-03-01 21:19] #13110 closed

[2021-03-01 21:19] #14196 closed

[2021-03-01 22:16] rkooo567 commented on #14426
Can you show us logs inside `/tmp/ray/session_latest/logs/raylet.err`?

[2021-03-01 23:59] AmeerHajAli commented on #14350
This change was introduced after ray 1.2, here:
https://github.com/ray-project/ray/commit/d87a82e8915f5bb3adc24b6f0f99ddece10be3ea#diff-f53bc0455e31fe9f401c121cd42fed36aca0ca3f862c8b88588b6a133da9dc64

[2021-03-02 00:10] lairning commented on #13820
Hi @sven1977.
When can I expect some feedback on this issue?
Warm regards
Mário

[2021-03-02 00:22] rkooo567 opened #14428 "[RFC] ray memory improvement"
### Describe your feature request

We improved the output & usability of the `ray memory` command from this PR. https://github.com/ray-project/ray/pull/13444

Now that it is merged, we'd like to make proposals to improve the `ray memory` command further. Here's the brief roadmap.

- [x] Use the same code for both `ray memory` and ray dashboard (https://github.com/ray-project/ray/pull/13444)
- [x]

[2021-03-02 00:24] drozzy opened #14429 "Load, play, rollout a trained/saved policy (without cli rollout.py)"
I know this might be a duplicate, but there is still no clear section in the docs explaining how to do a simple rollout/render from a trained policy.
What I'm talking about is **code-based** (not command line based) equivalent of [stable baselines example like this](https://stable-baselines.readthedocs.io/en/master/guide/examples.html#basic-usage-training-saving-loading):
<img width="647" alt="Scr

[2021-03-02 01:50] ConeyLiu commented on #14350
I have not that case. Our proxy is used to access the network outside of the company. The ray cluster should be a local network cluster. I have patched before for dashboard https://github.com/ray-project/ray/pull/12598. It has a similar problem and had reported by some users too.

[2021-03-02 02:27] cassidylaidlaw opened #14431 "py.typed file missing in PyPI Linux wheel"
### What is the problem?

The MacOS wheel of ray contains a `py.typed` file, whereas the Linux wheel does not. This file indicates that type checking can be performed against the types defined in Ray. Excluding the file on Linux means that type checkers like `mypy` work differently on different OSs on projects using Ray.

I have confirmed this for Ray 1.2.0 and Python 3.8 (see below). I have not c

[2021-03-02 03:03] frazz24 commented on #14376
Found the issue on my side. Apologies.

[2021-03-02 03:03] #14376 closed

[2021-03-02 03:10] frazz24 commented on #7923
@janblumenkamp did you make any further progress with this? I am having the same issue. Action NaN at a random time using APPO in a multi-agent environment with Python 3.8, PyTorch. Thanks.

[2021-03-02 04:14] #13971 closed

[2021-03-02 04:37] VishDev12 commented on #14407
I'm not sure what happened, but as soon as I set the `TUNE_DISABLE_AUTO_CALLBACK_LOGGERS` environment variable to 1, the issue went away. I must've messed up the logger flow that was changed in version 1.1.0.

Sorry for the false alarm!

[2021-03-02 06:04] import-antigravity opened #14437 "[tune] TBXLogger not creating necessary directory"
### What is the problem?

I'm trying to use some very simple code to get rolling with Tune and Pytorch Lightning. I've been trying all night to figure out why the tensorboard logger is not working. It appears that when it logs the hyperparameters and the metrics at the end of a run, it logs them _outside_ of a folder. Moving one of the event files into a folder causes the metrics to appear:

![Scr

[2021-03-02 06:06] rmkohlman commented on #7123
I am as well having a hard time trying to connect to ray head from jupyterhub notebook.
env : k8s on docker desktop Mac
installed  : ray k8s operator, k8s jupyterhub.
ray cluster :  example-cluster2-ray-head (example from operators on ray.io page)

error I get:
2021-03-02 05:46:36,099	INFO worker.py:113 -- Waiting for Ray to become ready on the server, retry in 5s...
2021-03-02 05:46:46,074	INFO w

[2021-03-02 06:12] rmkohlman opened #14438 "[k8s] Operator & JupyterHub Connectivity issues"
I am having a hard time trying to connect to ray head from jupyterhub notebook.

env : k8s on docker desktop Mac
installed  : ray k8s operator [namespace=ray], k8s jupyterhub [namespace=jhub]
ray cluster :  example-cluster2-ray-head (example from operators on ray.io page)

![image](https://user-images.githubusercontent.com/45956230/109605847-07165100-7ae3-11eb-9647-26287258a976.png)

[2021-03-02 08:06] chenk008 commented on #14077
SGTM

[2021-03-02 08:11] kfstorm commented on #14077
Nice RFC! We've been struggling with Java worker memory restriction for a long time. A couple of things we may need to think about:

* Worker lifetime management (is it still possible with this RFC?)
	* Currently Raylet is able to kill workers by sending signals.
	* A worker will quit automatically if the ppid becomes 1 (meaning that the parent process has died).
* Since workers are not in the Ray

[2021-03-02 08:12] raulchen commented on #14019
Allowing different environments for different jobs makes a lot of senses.
But I'm not clear in which case we would need to use different environments for tasks/actors in the same job. Why can't just start multiple jobs?
I could imagine many potential issues:
- cross-env call could be error-prone.
- if we initialize the env unpon task/actor submission. that could be very slow.
- hard for debugging

[2021-03-02 08:15] Qstar commented on #14077
Great topic!!! This feature will have better control of separation and more flexible scheduling.

[2021-03-02 08:37] krfricke commented on #12869
In your case you should even be able to use something like this:

[code]

I'll close this since we deal with this case in the documentation.

[2021-03-02 08:37] #12869 closed

[2021-03-02 08:39] krfricke commented on #14407
Glad to hear that! If the issue comes up again or you suspect it might be related to Tune after all, feel free to re-open.

[2021-03-02 08:39] #14407 closed

[2021-03-02 08:40] krfricke commented on #13256
I'll close this for now, but feel free to re-open if the issue persists and can be reproduced on latest master.

[2021-03-02 08:40] #13256 closed

[2021-03-02 09:06] krfricke commented on #14230
Setting the env variable will only disable adding automatic callbacks. Any other callbacks you pass to the `callbacks` argument of Tune will still work, so the MLFlow callback won't be disabled.

[code]

should always work, no matter if you set the env var or not.

Regarding TensorboardX, if you can reproduce the issue with a simple script (probably without Ray Tune) it makes sense to raise it on

[2021-03-02 09:13] janblumenkamp commented on #7923
I actually don't think this is a systematic error in the implementation, but rather occurs due to a poor choice of hyperparameters (as dmdeka suggested, have a look at the entropy coefficient and maybe also at batch sizes). I also found it has something to do with the reward. I changed my reward function from a sparse to a dense/shaped reward and that helped a lot. I guess something like this stil

[2021-03-02 10:10] chenk008 commented on #14077
Big +1!

In AntGroup, we consider two schema for k8s-native worker
-  Per worker per pod
1. deploy raylet as daemon, raylet requests to k8s apiserver for create worker pod
2. combine gcs scheduler with k8s scheduler using pod affinity. It's can reuse k8s resource restriction
3. use k8s persistentvolume , share session dir with multiple worker pod in the same k8s node
4. autoscaler will k8s node

-

[2021-03-02 11:35] dimikout3 opened #14446 "[rllib] Is there any example for training parallel petting zoo environments ?"
In RLlibs examples for multi-agent systems there is an example only for classic petting environments (rllib/examples/multi_agent_independent_learning.py or rllib/examples/multi_agent_parameter_sharing.py)
I am currently working on a project which requires parallel execution of actions from all the agents. Is any similar example ?

[2021-03-02 14:40] chegrane commented on #14426
The following log is when I use python directly from command line :

[2021-03-02 06:37:44,220 E 53311 53360] dlmalloc.cc:112: mmap failed with error: Cannot allocate memory
[2021-03-02 06:37:44,220 E 53311 53360] logging.cc:414: *** Aborted at 1614695864 (unix time) try "date -d @1614695864" if you are using GNU date ***
[2021-03-02 06:37:44,221 E 53311 53360] logging.cc:414: PC: @

[2021-03-02 16:19] FarzanT commented on #7744
I'm also interested! @richardliaw, is the `Repeater` class the best way of performing cross-validation with Ray Tune? Thanks!

[2021-03-02 17:27] #14325 closed

[2021-03-02 17:34] architkulkarni commented on #14404
Hi @bioinfornatics, in Ray 1.2.0 we have added async get and put methods for the Ray Queue called `get_async` and `put_async`.  See https://docs.ray.io/en/master/package-ref.html#ray-util-queue-queue.  If you would like to stay on Ray 1.1.0, you could try copying the source code available at that link.

Alternatively, see https://gist.github.com/simon-mo/bcc385a2d577b1353b8b3e93b384b55e for two co

[2021-03-02 18:00] #10481 closed

[2021-03-02 18:20] richardliaw commented on #14098
Marking as P0 since this is blocking much of our other integration work.

[2021-03-02 18:24] #14092 closed

[2021-03-02 18:45] ericl commented on #14077
I think so, the pod will exit in this case once the process it contains is shutdown.

It should become possible, though it would still need to be co-located with a Raylet.

Pod per worker
In one pod , container per worker

cc @edoakes this is also very similar to our internal discussions. Our conclusion was the container per worker situation is a bit problematic due to:
- need to privileged contai

[2021-03-02 19:06] #14264 closed

[2021-03-02 20:27] #14332 closed

[2021-03-02 20:35] stefanbschneider commented on #11274
It seems like listing `ray[rllib]` inside `setup.py` works fine when installing with
[code]
instead of
[code]

Or for development, `pip install -e .` instead of `python setup.py develop`.

This solves the issue for me; I'm closing it. But feel free to reopen it.

[2021-03-02 20:35] #11274 closed

[2021-03-02 21:32] iycheng opened #14453 "Cluster ray failure due to port missing"
### What is the problem?
Raylet failed to get port in cluster mode.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]
And it'll show errors like this:

[code]

- [ ] I have verified my scri

[2021-03-02 21:33] iycheng commented on #14453
I think this bug is related to this PR https://github.com/ray-project/ray/pull/14349  @ericl  @kfstorm

[2021-03-02 21:44] rkooo567 commented on #14453
If this is true, isn't it a serious bug? Should we revert the PR?

[2021-03-02 21:57] rkooo567 commented on #14453
I just tried and couldn't reproduce. Is it happening consistently?

[2021-03-02 22:00] iycheng commented on #14453
It's consistently happening on my side. Reverting this PR looks like fixing this issue. I merged my code to upstream/origin today and it's not working. I check to the trunk of the remote, and it keeps happening. I'm running it in docker instance which I suppose should be OK?

[2021-03-02 22:00] ericl commented on #14453
Did you recompile? Sounds like Python is out of sync with C++ changes.

[2021-03-02 22:02] rkooo567 commented on #14431
cc @simon-mo do you know why we are missing this dep?

[2021-03-02 22:05] rkooo567 commented on #14098
cc @yuduber Just a reminder the PR is the proposed fix I discussed with you yesterday.

[2021-03-02 22:07] simon-mo commented on #14431
ah probably because it's not included when we package the wheels, can you file a PR to add it in https://github.com/ray-project/ray/blob/bacbdd297b3ddf1407fd34db926b642717028d7e/python/setup.py#L51-L92

[2021-03-02 23:19] rmkohlman commented on #14438
Okay I got it working... I feel dump 😂
I didn't have the right version of ray on the hub

![image](https://user-images.githubusercontent.com/45956230/109728145-e269ba00-7b72-11eb-96e0-0b7eb5e3e101.png)

[2021-03-02 23:35] #14160 closed

[2021-03-02 23:37] #14438 closed

[2021-03-02 23:41] DmitriGekhtman commented on #14438
Glad you were able to get this to work.

We really should have a warning message indicating Ray version mismatch @ericl what do you think?
(I know we do currently show an error showing Python minor version mismatch.)

[2021-03-03 00:08] walli55 opened #14456 "Walli55"
Walli55

_Originally posted by @walli55 in https://github.com/ray-project/ray/pull/14294#discussion_r584328895_

[2021-03-03 00:08] #14456 closed

[2021-03-03 00:15] AmeerHajAli commented on #14323
@ericl , I tried this on all commits, used git bisect, and with a lot of debugging I found the issue.
The issue is that you used the cluster name "default4" :D. When I use "efihajghrsgh" for example it works.
God knows if this is because this is aliasing with other users who used "default4" in their cluster name :D.

[2021-03-03 00:16] AmeerHajAli commented on #14323
Please reopen the issue if you think this is still happening if you change the cluster name.

[2021-03-03 00:35] DmitriGekhtman commented on #14400
Confirming I was able to reproduce this issues with min_workers=30 on GKE with node pool consisting of 5 8-vCPU VMs, launched with the Ray cluster launcher.
In my case, it looks like the autoscaler failed and tried to tear down all of the workers. Even after that happened, 10 worker pods remained, disconnected from the Ray cluster.
Sample of the monitor logs pasted below. cc @AmeerHajAli .

[code]

[2021-03-03 00:43] stephanie-wang commented on #14323
I can confirm that this issue is also happening for my yaml, where the cluster name is "ray".

Maybe the workaround is to rename the cluster and `ray up` again, but we should also just fix the issue.

[2021-03-03 00:44] #14326 closed

[2021-03-03 00:46] AmeerHajAli commented on #14323
@stephanie-wang , but I am not sure this is then a P0 or a regression in that case. I am not even sure it is an issue, this might be expected because we have 20 people using the same AWS account and if you use commonly used cluster names that other folks might use then this might happen right?

[2021-03-03 00:47] stephanie-wang commented on #14323
This is on a personal AWS account, and there is for sure no name collision.

[2021-03-03 00:49] AmeerHajAli commented on #14323
just to confirm, if you use a cluster name "ray9031" for example, and call `ray up` then `ray up` (without changing the cluster name in the middle) does it work for you?

[2021-03-03 01:06] AmeerHajAli commented on #14323
I think the main reason we originally marked this as a P0 because we thought it is a regression, but if this is not a regression then it is just an issue where using some legacy cluster names will make workers take 30 seconds more to launch, this does not seem like a P0 to me.

[2021-03-03 01:14] DmitriGekhtman commented on #14400
With 10 nodes everything was normal.
With 15 the cluster reached the intended steady state, but there was some weird worker pod start/termination behavior getting there.
With 20 also got to the desired state.
With 25 got to desired state after a lot of start up / shutdown behavior.
ray down killed all the pods as intended but spewed this output:
[code]

Ran with 30 again,
autoscaler launched a bun

[2021-03-03 01:15] stephanie-wang commented on #14323
This issue was definitely happening before, but it appears to be working for me now on nightly, without needing a cluster name change.

[2021-03-03 01:15] #14323 closed

[2021-03-03 01:43] ericl commented on #14438
Yep, we are now checking for Ray version compatibility ("protocol version mismatch"), this is only in the nightly build though.

[2021-03-03 02:16] iycheng commented on #14453
I'll close this. Somehow `python setup.py bdist_wheel` doesn't update `.so`. After cleaning up, it looks good.

[2021-03-03 02:16] #14453 closed

[2021-03-03 02:28] AmeerHajAli commented on #14400
We made it now so that autoscaler crashes does not kill the workers.

[2021-03-03 02:37] stephanie-wang opened #14458 "[core] Possible memory leak in raylet when a required object takes a long time to fetch"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* v2.0dev

When an object is needed on a node, the raylet periodically pings its owner to check that the owner is still alive. This is a long-polling RPC that can potentially stay in the raylet's outstanding requests for a long time. This may be related to #14322, but I need to do some inve

[2021-03-03 02:42] DmitriGekhtman commented on #14400
That's useful to know -- so something else is killing the nodes before the autoscaler craps out.

[2021-03-03 03:57] rkooo567 commented on #14458
Let me try making a reproduction quickly. I assume just calling ray.put million times in a driver should be able to reproduce the issue (if I understand your statement correctly)

[2021-03-03 04:04] chenk008 commented on #14077
@ericl

Now we create worker container in the same pod with raylet, not container in container. In other words, raylet container and worker container run in the same hierarchy

[2021-03-03 04:08] ericl commented on #14077
I was under the impression pods are immutable, do you mean creating
containers out of band that aren't managed by k8s?

On Tue, Mar 2, 2021, 8:04 PM chenk008 <notifications@github.com> wrote:

[2021-03-03 04:16] #12960 closed

[2021-03-03 04:16] #13816 closed

[2021-03-03 04:23] rkooo567 commented on #14458
[code]

Okay. I verified this also increases the memory usage by more than 10GB for both driver and raylet. One interesting discovery is that raylet memory usage has remained > 10GB even after the driver exits. (But when I run the driver twice, the memory usage of the raylet didn't increase... interesting).

[2021-03-03 04:58] rkooo567 commented on #14458
Hmm actually, I don't see any of this log from the driver;
[code]

[2021-03-03 05:04] frazz24 commented on #7923
Thanks. This makes sense to me as my reward is currently very sparse and I get the same action NaN (with varying levels of severity) when trying other continuous action algorithms (A2C, PG, PPO, etc) with default parameters. Seems unlikely that all algorithms would have implementation errors...

[2021-03-03 05:43] rkooo567 commented on #14458
Actually, I did one experiment with the reproduction above and found out the memory growth of the driver is pretty consistent.

Each object 1 KB
-----------------
10 owned objects -> 67MB
100 owned objects -> 69MB (2MB+)
1000 owned objects -> 85MB (16MB+)
10,000 owned objects -> 225MB (140MB+)
100,000 owned objects -> 1.6GB (1400MB+)
1,000,000 owned objects -> 15.8 GB (14000MB+)

This indicates st

[2021-03-03 06:30] #14094 closed

[2021-03-03 06:56] robertnishihara opened #14460 "Dask on Ray documentation example doesn't run."
In the documentation page for Dask on Ray https://docs.ray.io/en/master/dask-on-ray.html, running the example

[code]

fails with
[code]

If I fix that error, the next error I get is

[code]

@clarkzinzow

[2021-03-03 07:40] Bhavya6187 commented on #11172
@DmitriGekhtman Any updates for this? Ray demo on k8s fall flat because of this dashboard bug :(

[2021-03-03 08:08] WangTaoTheTonic opened #14463 "[large scale]Reduce redis connections"
### Describe your feature request

![image](https://user-images.githubusercontent.com/5276001/109781689-17ddd880-7c43-11eb-9fb7-dcb45be55ec7.png)

Like image up there we use redis client to setup connections to redis, which contains 3 different contexts. Each context would fire a connection and most times not all of them is necessary.
Each redis client contains 1 primary context and N sharding con

[2021-03-03 08:09] WangTaoTheTonic commented on #14463
FYI most of works have been done internally and I would like to file pull requests in near days. :-P

[2021-03-03 08:10] WangTaoTheTonic commented on #14463
//cc @kfstorm

[2021-03-03 08:14] kfstorm commented on #14463
In `A*(3+S*3)+N*(3+S*3)+(3+S*3)+G*(3+S*3)`, could you point out the sources?

[2021-03-03 08:15] WangTaoTheTonic commented on #14463
![image](https://user-images.githubusercontent.com/5276001/109774709-9d5d8a80-7c3b-11eb-931e-abac065aa84e.png)
It's here.

[2021-03-03 08:23] rkooo567 commented on #14463
hey @WangTaoTheTonic this is the perfect timing. We also discovered the overloaded Redis is the bottleneck to scale up the cluster further from one of our users.

I have 4 questions.
- For (3 + s * 3), is it because each context creates 3 connections, and we have (s+1) context (primary + shards)?
- And when you say we will only use 2 connections for actor & raylet, how will you remove all these co

[2021-03-03 08:43] WangTaoTheTonic commented on #14463
yes

We will add bool arguments to `redis_client_option` which indicates whether it need sync/async/subscribe context. For those client who need only one or two of those contexts we just set the rest to false.
shards are only used in gcs server for accessing data stored in redis, so we can disable them in other scenarios.(also by bool parameter)

global state accessor seems to be used more in pyth

[2021-03-03 08:44] kfstorm commented on #14463
@WangTaoTheTonic The image you put here has some Ant-internal code. Maybe you'll update it?

[2021-03-03 08:45] WangTaoTheTonic commented on #14463
ok

[2021-03-03 08:48] krfricke opened #14464 "[tune] use `smart_open()` in `get_cloud_sync_client()`"
### Describe your feature request

Currently we're checking for S3, GS, or HDFS in the `get_cloud_sync_client()` function and return a `CommandBasedClient`. Instead we should be using `smart_open()` to be able to support arbitrary shared/cloud storage locations.

cc @richardliaw @ericl

[2021-03-03 09:35] Matrix-World opened #14465 "What is the relationship between ObjectStore and Plasma？"
The Ray framework uses ObjectStore as a shared memory to realize communication between processes. I studied the project source code and found that ObjectStore stores and obtains data objects through the underlying Plasma storage mechanism, right?
I am not sure how ObjectStore calls Plasma. Does ObjectStore encapsulate Plasma so that data can be obtained across nodes?
Is master/src/ray/plasma/store

[2021-03-03 10:06] Matrix-World opened #14467 "Will the TrainingOperator class be automatically converted to Ray Actor in RaySGD?"
When a Python class is annotated by @ray.remote, the class will be used as a Ray Actor process for stateful calculations.
When I used RaySGD, I studied the source code (torch_trainer.py) and found that the custom TrainingOperator class will be copied to all remote nodes and start a series of actors, so these custom classes with models, etc.
will be converted into Actor processes ?
Looking forward

[2021-03-03 11:49] kfstorm opened #14469 "[C++ worker] Move non-API code out of `ray::api` namespace"
### Describe your feature request

Lots of non-API code is currently defined under `ray::api` namespace. We should only put user-accessible code in `ray::api`.

I'll just give some examples here:

* ActorCreator
* ActorTaskCaller
* Arguments
* RayRuntime
* Serializer
* TaskCaller

[2021-03-03 11:49] kfstorm commented on #14469
cc @SongGuyang @AmeerHajAli

[2021-03-03 12:14] chenk008 commented on #14077
Yes, make Raylet to manage worker container, and all worker container share the network namespace. It looks a little hacky.

The advantages:
- raylet don't need to interactive with k8s apiserver, but interactive with containerd/dockerd
- in gcs scheduler, no modification is required
- worker can use on-premises resource which is requested by pod. In a multiple-workload kuberntes cluster, it helps

[2021-03-03 13:21] RaphaelCS opened #14470 "[tune] HyperOpt AssertionError if setting `points_to_evaluate`"
### What is the problem?

The script at the bottom fails with AssertionError:
[code]

This error doesn't occur if I don't set `points_to_evaluate`.

*Ray version and other system information (Python version, TensorFlow version, OS):*

**ray**: 2.0.0.dev0
**hyperopt**: 0.2.5

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to

[2021-03-03 14:06] RaphaelCS opened #14472 "[tune] BOHB fails with list of tuning hyperparameters"
### What is the problem?

The script at the bottom fails with `TypeError`:
[code]
This occur because this line tries to concatenate `"model/fcnet_hiddens"` and `0`, `str` and `int`.

*Ray version and other system information (Python version, TensorFlow version, OS):*
**ray**: 2.0.0.dev0

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be co

[2021-03-03 14:32] bioinfornatics commented on #14404
Thanks @architkulkarni that sound awesome.

Thanks for your amazing tool

[2021-03-03 14:40] chegrane commented on #14426
Dear @rkooo567

I find where was the problem.

In fact, as i suspect in my first post, that, it may have a a relation with slurm, since I am using a cluster.
To confirm or deny this relation, I tested with submitting a job to slurm with the script provided above in my first post.

The error was in the command line to submit a job :
 - **bash ./lunch_ray_cluster_cedar.sh** , which is wrong
 - **sba

[2021-03-03 15:46] DmitriGekhtman commented on #11172
cc @rkooo567

I've identified the problematic code, but haven't had a chance to address the issue. I'll attack this early next week.

[2021-03-03 16:20] thomasdesr commented on #14350
Since this is a new & unreleased behavior let us hope no one is depending on this yet.

If you're reading this in the future because making this change broke your use case, sorry 😭. Please reply here so we can discuss how to support both of these situations.

[2021-03-03 16:22] #14350 closed

[2021-03-03 17:16] rkooo567 commented on #14098
@yuduber The proposed solution is merged. Please create other issues if you see other port-related issues! I'd love to take a look :)

[2021-03-03 17:19] #14098 closed

[2021-03-03 17:21] thomasdesr commented on #14077
From what I understand, the dependency for privileged containers _mostly_ comes from cgroups. If we didn't want to rely on cgroups to enforce Ray's scheduling constraints, some shape of container-in-container should be doable. That said, container-in-container is definitely an uncommon path atm.

[2021-03-03 17:26] rkooo567 commented on #14465
This code is not used anymore. We used to start a new process for the plasma store. Now, the plasma store is one of threads inside a raylet.

You can think it is a layered design.

Raylet
====
Object Manager (A high level layer that manages objects. It is also in charge of pulling/pushing objects in other nodes if it needs them).
====
Plasma store (object store): Shared-memory based key-value stor

[2021-03-03 17:27] rkooo567 commented on #14463
Thanks for the response! When do you plan to create PRs for this?

[2021-03-03 17:41] rkooo567 commented on #11940
Dashboard is not currently supported by Windows! I think this issue should've been resolved. Please reopen if you see any other issue!

[2021-03-03 17:41] #11940 closed

[2021-03-03 17:58] zhe-thoughts opened #14473 "[client] [doc] Update Ray 1.0 Architecture white paper with Ray Client"
### Describe your feature request

The [Ray 1.0 Architecture](https://docs.google.com/document/d/1lAy0Owi-vPz2jEqBSaHNQcy2IBSDEHyXNOQZlGuj93c/edit?usp=sharing) white paper is now a "definitive guide" for developers to understand Ray internals. Ray Client should be part of "Connecting to Ray"

[2021-03-03 18:51] #10918 closed

[2021-03-03 19:32] viotemp1 opened #14475 "bazel 4.0.0 build failing"
### What is the problem?
bazel build -c fastbuild //:ray_pkg failing

*Ray version and other system information (Python version, TensorFlow version, OS):*
git origin/master

### Reproduction (REQUIRED)
I followed the steps from https://docs.ray.io/en/master/development.html
Fast, Debug, and Optimized Builds

Error is
DEBUG: /home/.../git/ray/bazel/ray_deps_setup.bzl:63:14: No implicit mirrors used

[2021-03-03 19:34] ericl commented on #14077
As I understand it this is more like allowing docker access to create
containers on the side, not container in container correct?

So the security issues are only around unrestricted access to docker?

On Wed, Mar 3, 2021, 9:21 AM Thomas Desrosiers <notifications@github.com>
wrote:

[2021-03-03 19:53] simon-mo opened #14476 "fix buildkite's plasma error."
From offline:

@ekl:
- @simon-mo seems that after https://github.com/ray-project/ray/pull/14451 some buildkite tests are failing due to the /dev/shm too small error. Any way to configure the buildkite containers to have larger /dev/shm (preferably >1GB) to avoid the trip?

[2021-03-03 19:54] yuduber commented on #14098
Thanks for the fix.  I just had time to take a look at the fix.

I have a question regarding the fix.  In the new_port(lower_bound=10000, upper_bound=65535, blacklist=None) function,  I didn't see you check if the randomly generated port conflicting with any existing port or not.  If this happen, the port will not be usable right?  I am talking about not only the ports used by gcs, object_manager

[2021-03-03 20:21] rkooo567 commented on #14098
Ah, the new_port is used to allocate redis ports, and the retry happens within `start_redis_instance`. (it basically keeps calling new port until it succeeds to start on that port).

For other processes, they already have the mechanism to retry on different ports if the port is not available. There are 3 components that could be problematic though. --metrics-export-port, --metrics-agent-port and -

[2021-03-03 20:36] ericl commented on #14473
Done!

[2021-03-03 20:36] #14473 closed

[2021-03-03 20:36] yuduber commented on #14098
All right I see.  If you have retry at higher level, it will probably fine as well.  I will try this latest code to see if things works fine.  Thanks.

[2021-03-03 20:38] KiborgBBK opened #14477 "[rllib] Compute_actions() and Compute_actions_from_input_dict() with AlphaZero algorithm"
Good day!
need help solving this error

ray 2.0.0 (however I installed different versions, and the result is the same)
python 3.7
Ubuntu 20.04

training:
    ModelCatalog.register_custom_model ("dense_model", DenseModel)
    config = {
        "env": CartPole,
        "num_workers": args.num_workers,
        "rollout_fragment_length": 10,
        "train_batch_size": 10,
        "sgd_minibatch_size

[2021-03-03 20:47] ericl commented on #14019
We have a number of users asking for this, to summarize the main use cases:
- In microservice and model serving workloads, developers want to run different versions of services and models within the same serving job topology.
- In distributed ML pipelines, ML engineers want to stitch together operators written by different teams that may have different library and code dependencies.

Currently the

[2021-03-03 20:51] bllchmbrs opened #14478 "[Docs] [tune] WanDB + Ray Integration a bit unclear from the docs"
Running `wandb login` doesn't create the API key file necessary to run the [example](https://docs.ray.io/en/master/tune/examples/wandb_example.html) out of the box. It creates a `.netrc` file with the proper information. Maybe we should refer to that instead? Maybe something changed on the wandb side?

[2021-03-03 21:13] jjgriffin2 opened #14479 "[JAVA] Ray.init() fails"
Simple Java program
package org.example;

/**
 * Hello world!
 *
 */
import io.ray.api.Ray;
public class App
{
    public static void main( String[] args )
    {
        System.out.println( "Hello World!" );
        System.out.println( "Attempting Ray start");
        Ray.init();
        System.out.println (" Attempting Ray stop");
        Ray.shutdown();
    }
}

fails with the following fatal er

[2021-03-03 22:29] rkooo567 commented on #14098
Sounds great! Please ping me again if you have any other issue. I'd love to discuss the solution and help you unblocked :)

[2021-03-03 22:33] #12769 closed

[2021-03-03 22:36] wuisawesome opened #14482 "[error-msg][core] Display ip address when node dies"
### What is the problem?

Currently when an node dies, we print a message like

[code]

It's easy to get the node based on the ip address in code, but as a user, it's virtually impossible to figure out node id->ip mappings. We should include the ip address (or even the entire `rpc::Address` when a node goes down).

*Ray version and other system information (Python version, TensorFlow version, OS):

[2021-03-03 22:55] wuisawesome opened #14483 "[autoscaler/core] `ray status` time should be based on monitor's last update not current time"
### What is the problem?

We're currently setting the `ray status` time to the time the command is run. This is actually pretty misleading because the actual status update took place before then. The difference is only 5 seconds (probably acceptable) if the autoscaler is functioning correctly, but very very misleading if the autoscaler has crashed, is lagging, or failing to update for any other re

[2021-03-03 23:34] edoakes commented on #14077
One advantage of a solution like the one @chenk008 suggested is this can easily be replicated when not using Kubernetes, so we can keep the same feature set and code paths for all deployment strategies.

[2021-03-04 00:37] AlessandroZavoli commented on #3459
I think this issue is still relevant.
Moreover, the callbacks seem not very well documented, yet

[2021-03-04 00:42] ericl opened #14485 "Unhandled error messages aren't printed until next interaction with shell"
If you run something like
[code]

, the unhandled exception won't actually be printed until you run some other command in the shell like `2 + 2`. It seems the print is stuck behind some lock and isn't runnable immediately.

[2021-03-04 00:51] ericl commented on #14077
Yeah agreed, I actually like this solution of "out of band docker containers". It seems the main unknowns here are whether (1) k8s users will find this generally acceptable, (2) whether k8s providers like EKS or GKE support it.

[2021-03-04 01:03] thomasdesr commented on #14077
Out-of-band docker containers is ~= privileged containers. If we can figure out how to nest containers sensibly it offers a big advantage in terms of cleanliness (cleanup is easy & automatic because lineage is obvious).

[2021-03-04 01:18] ericl commented on #14077
It seems both GKE and EKS now support privileged containers: https://stackoverflow.com/questions/31124368/allow-privileged-containers-in-kubernetes-on-google-container-gke https://docs.aws.amazon.com/eks/latest/userguide/pod-security-policy.html

@chenk008 have you considered nested containers instead? It sounds slightly better (though, I'm not too worried about cleanup since Ray workers generally

[2021-03-04 02:09] WangTaoTheTonic commented on #14463
I'd like to create them in a week. :-p

[2021-03-04 02:31] chenk008 commented on #14077
@ericl
Yeah.In fact,I prefer considered/dockerd nested container. Because there are some security problems if raylet  directly interactives with containerd/dockerd on host .
I have tested docker in docker last year, but  encounters some problems. We could test it againt and try to fix problems

[2021-03-04 03:11] #13598 closed

[2021-03-04 03:13] #14095 closed

[2021-03-04 05:47] richardliaw commented on #14305
Unfortunately, there's not much info to go off of here... it seems like there's some `cut` command failing somewhere

[2021-03-04 05:48] richardliaw commented on #13680
@limash I think that is true.

[2021-03-04 05:48] #13680 closed

[2021-03-04 10:13] jeremiaswerner commented on #14403
I'am seeing a similar issue with Ray on Kubernetes, where the autoscaler is not able to scale up. It seems like it does not find an appropriate worker node type

[code]

The config defines 2 CPU via resource requests and limits as well as in the resources section:
[code]

Does anyone has any idea?

[2021-03-04 14:10] duburcqa opened #14491 "[rllib] Unsupported valid gym environment identifier."
I have an gym environment identifier defined as follow `gym_jiminy.envs:jiminy-cartpole-v0`. If I use `gym.make` it works like a charm:
[code]
However, I get an error when passing it to ray trainers, presumably because ":" is used to determine it is a fully qualified import path without additional check, which is not the case. I think a safe quick fix would be to check if there is any "-" on the r

[2021-03-04 14:34] mbehrendt commented on #14400
i played a bit around with the k8s operator. for ray.-- which is where I'm seeing the same behavior (probably expected, but wanted to validate that assumption).

@AmeerHajAli @DmitriGekhtman what are next steps around this in your mind? I'd like to run some larger scale tests with ray and kube, but given this behavior this is not possible at this point.

[2021-03-04 14:35] geyang commented on #2750
Here is a message from our network admin:

[2021-03-04 15:39] chenk008 commented on #14077
`podman` is a more lightweight container manager tool.
https://stackoverflow.com/questions/56032747/how-to-run-podman-from-inside-a-container

Maybe it's a better choice. I will test it and compare with dockerd/containerd

[2021-03-04 18:18] DmitriGekhtman commented on #11172
Here's what the dashboard currently looks like when I launch a head and two workers on Minikube:
<img width="1778" alt="Screen Shot 2021-03-04 at 8 07 38 AM" src="https://user-images.githubusercontent.com/62982571/110009432-dc3e1f80-7cd1-11eb-9bd6-2f9d385ec95e.png">

Displaying correct memory usage (the specific topic of this issue) should be fairly straightforward.

Making the rest of the output

[2021-03-04 18:27] #14482 closed

[2021-03-04 18:31] XavierGeerinck opened #14493 "RLLib - AttributeError: module 'ray' has no attribute 'worker'"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

* Ray 2.0.0.dev0 Linux (through WSL 2)
* Ray 1.2.0 Linux (through WSL 2)
* Ray 1.2.0 Windows

After installing Ray I am not able to run it on Linux or Windows on both latest and 1.2.0 release. The error as shown below keeps popping up.

**Error:**

[code]

### Reproduction (REQUIRED)

[c

[2021-03-04 18:34] Bhavya6187 commented on #14042
Hey guys, can you verify if this example works with current nightlies - https://docs.ray.io/en/master/modin/index.html#modin-with-the-ray-client?

I run into this bug when I try to run it.

[2021-03-04 19:02] stephanie-wang commented on #14458
Closed by #14184.

[2021-03-04 19:02] #14458 closed

[2021-03-04 19:06] yiranwang52 commented on #11172
I don't think k8s could know about per task data.

[2021-03-04 19:32] edoakes commented on #11172
The per-task metrics should still be fine. I think the main problem will be the per-node CPU/memory. Memory should be addressable, for CPU we could either do a simple average of per-worker memory usage or else possibly base it off of the cgroup request/limit

[2021-03-04 19:53] wuisawesome opened #14494 "[autoscaler] Error message not being cleared when autoscaler recovers"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Sometimes the autoscaler runs into exceptions that are not serious (for example race conditions on startup). We intentionally put all exceptions into `DEBUG_AUTOSCALING_ERROR`.

The issue is that many of these exceptions are temporary, but the field isn't cleared afterwards which is very

[2021-03-04 20:22] wuisawesome commented on #14420
Just to summarize from our sync:

This looks like the issue is worker prestart here. In the sequential spilling case, we only have to start worker processes on the nodes that are used (in the case of a non-fully utilized cluster). Waiting for worker processes to start blocks the scheduling process, so there is less blocking.

**Short term solution**: Turn randomized spillback off by default.

We'l

[2021-03-04 20:23] edoakes opened #14496 "[metrics] ray.util.metrics API should closely mirror the prometheus python API"
### What is the problem?

https://github.com/prometheus/client_python

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run by itself, the issue will be closed with "

[2021-03-04 22:33] viotemp1 commented on #14475
made it finally following the diff from [https://github.com/bazelbuild/bazel/issues/12887](https://github.com/bazelbuild/bazel/issues/12887)
Maybe is not the right solution, there are come warnings when building...

I modified WORKSPACE like this.

diff --git a/WORKSPACE b/WORKSPACE
index 35038a3a1..21834f5c0 100644
--- a/WORKSPACE
+++ b/WORKSPACE
@@ -1,5 +1,20 @@
 workspace(name = "com_github_ray

[2021-03-04 22:42] VasilijKolomiets commented on #5488
https://discuss.pytorch.org/t/importerror-key-already-registered-with-the-same-priority/86271

[2021-03-04 23:21] ericl commented on #14494
Isn't this fixed in nightlies (it is only written on monitor death) cc @clarkzinzow

[2021-03-04 23:28] robertnishihara commented on #2750
I thought this had been fixed by https://github.com/ray-project/ray/pull/9744, but maybe not? What version of Ray are you using?

[2021-03-05 01:55] clarkzinzow commented on #14494
It should be cleared in current master, I'll check it that out.

[2021-03-05 02:05] wuisawesome commented on #14494
when was this fixed? i've run into it on pretty recent nightlies (or branches that aren't too stale)

[2021-03-05 02:23] clay4444 commented on #14338
Colsed

[2021-03-05 02:23] #14338 closed

[2021-03-05 02:49] DmitriGekhtman commented on #11172
^ Expanded the scope of this issue.

[2021-03-05 03:45] jovany-wang commented on #14479
Is that the full error message?

[2021-03-05 06:35] RaphaelCS opened #14500 "[tune] All of the BOHB trials pause"
### What is the problem?

I am working with **tune** and **rllib** and I try to use BOHB.
But all of the trials pause and finally throw an errror:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
**ray**: 2.0.0.dev0

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the i

[2021-03-05 08:38] shamanez opened #14501 "RAY actors keep repetitive copies of datafiles as .nfs.. and can't release them."
I am using a modified version of RAG architecture that uses RAY. In the original architecture first, the index is initialized and will be used by actors from time to time to retrieve documents.

In my code, I update the index (which means the local dataset files) and -initialize the index inside the RAY worker. Now what happens is, even though the previously indexed dataset is deleted RAY workers

[2021-03-05 10:12] Matrix-World opened #14502 "How are the inputs and outputs of every task converted to Apache Arrow format and stored in Object_Store?"
According to the introduction of the 4.2.3 section (In-Memory Distributed Object Store) in the Ray .paper(https://arxiv.org/pdf/1712.05889.pdf). This zero-copy data format sharing between tasks running on the
same node is Apache Arrow.
I want to know whether the data calculated by the task or the data read from the file will be automatically converted into the Apache Arrow format, and then the sto

[2021-03-05 11:42] dHonerkamp opened #14503 "[rllib] SAC ignores custom_action_dist"
### What is the problem?

SAC ignores the custom_action_dist argument. I am specifying a custom model (inherited from SACTorchModel) and action dist like this:
[code]

But this does not get picked up.

In `ray/rllib/policy/policy_template.py` it seems to detect this and enters the `elif make_model_and_action_dist` condition. But then ultimately ends up in `ray/rllib/agents/sac/sac_torch_policy.py`

[2021-03-05 12:23] oleg-savko opened #14505 "Run ray via docker-compose"
How to run single node ray via docker-compose?

I tried run like this:
[code]

But its stop conntainer immediately:

If I add `--block` option to `entrypoint`:

[code]

Its not terminated, but also seems not started, in logs I see only (forever):

What I am doing wrong?

[2021-03-05 13:51] jjgriffin2 commented on #14479
Yes.

If I add

System.setProperty("ray.local-mode","true");

Prior to

Ray.init();

Ray runs, but, of course, the kind of defeats the purpose of Ray.

Jim

[2021-03-05 13:59] Sertingolix commented on #14151
The code is fixed. I don't know how long until this propagates. Building from source works

[2021-03-05 14:45] Carterbouley opened #14506 "Saving checkpoints while using a cluster?"
I am trying to save ray checkpoints while spinning up a cluster in Azure.

I am getting the following error, and no checkpoints are being saved:
[code]

Does anyone know how I can save checkpoints while on a remote machine?

[2021-03-05 14:52] justinkterry commented on #14320
Hey, I'm experienced this same problem with `ray::ImplicitFunc` not being releases from CPU/GPU RAM, except for jobs that successfully terminate. This means that I can't run the long tune search I'd like to without running out of memory.