[2021-03-05 15:05] Carterbouley commented on #9558
Hi Guys,

I am currently using a cluster and similarly want to save checkpoints. I didn't fully understand the conversation above, could someone point me in the direction of documentation or advice on a work-around to fix the above problem?

[2021-03-05 15:30] yywangvr commented on #13492
I get the same issue. Could you explain more in detail what did you do? A "fresh install" fo what? Thank you

[2021-03-05 16:33] jagoosw commented on #13492
I just set up new virtual environments on both sides and re installed everything. I never got it working properly but it stopped doing the errors.

[2021-03-05 17:57] jjgriffin2 commented on #14479
And let me add one thing to this conversation.

The code I’m using works fine on a Mac.  It doesn’t, however, work on Ubuntu, which really has me puzzled.
Jim

[2021-03-05 18:20] yywangvr commented on #13492
Thanks. set up new virtual environment through anaconda, right? Then, you redinstalled everything?

[2021-03-05 18:24] DmitriGekhtman commented on #11172
Might just look to replicate docker client's logic..
https://github.com/docker/cli/blob/850845adabaf9845c1c03a9556f8f167ed117187/cli/command/container/stats_helpers.go#L166

[2021-03-05 19:12] yywangvr opened #14507 "MAC Mojave OS, File descriptor limit 2560 is too low for production servers and may result in connection errors."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray version:  1.2.0
Python version: 3.7.10

### Reproduction (REQUIRED)

[code]

Note that I input the
[code]
which did not make any changes...

I get the error what I start to run ray.init(). could you explain me how to fix it?  I am using Mac system.
Thank you.

[2021-03-05 19:46] ericl commented on #14320
I think this is fixed in nightlies if you use placement groups with tune https://docs.ray.io/en/master/tune/api_docs/internals.html#ray.tune.utils.placement_groups.PlacementGroupFactory

The resources will get cleared up with the placement group destruction.

[2021-03-05 19:50] yywangvr commented on #14507
I finally find a solution for Mac user,

[code]

it should be fixed through the above mentioned  code.

[2021-03-05 19:51] rkooo567 commented on #7908
Hey sorry that it was out of my radar. Did you guys figure out the issue?

[2021-03-05 19:53] danwallach opened #14508 "update aiohttp version ("low severity" security vulnerability)"
### What is the problem?

Ray 1.2.0 has a dependency on aiohttp, and currently brings in version 3.7.3, which has some sort of known vulnerability (see, e.g., https://www.cybersecurity-help.cz/vdb/SB2021022804). This needs to be bumped to 3.7.4 or later.

### Reproduction (REQUIRED)
n/a

[2021-03-05 23:18] #11537 closed

[2021-03-05 23:18] #11193 closed

[2021-03-06 00:22] Jhonathan-Pedroso commented on #3644
[>](url)       return sum(results)

I could solve these problem for my case by this logic (Trainer is my actor):

![ray_job_handle](https://user-images.githubusercontent.com/14352527/110187930-ac7d3d80-7ddf-11eb-93ea-140b061014aa.PNG)

[2021-03-06 02:18] #9028 closed

[2021-03-06 07:48] rkooo567 commented on #14507
Hi, @yywangvr! I think this might also work;

[code]

Also the log is a warning, and it is unlikely you will see an issue if you use ray within an ipython. This becomes more important when you use clusters (because ray components have many connections from other ray components). It is non-trivial to permanently solve the problem because this means we should drastically reduce connection across nod

[2021-03-06 08:49] zzchuman opened #14514 "[rllib] attention ppo"
Hello, I now want to use the attention mechanism in the multi-agent PPO algorithm. There are 6 agents in total, but I have the following two questions:

1. If I set each agent to use the PPO algorithm, similar to decentralized control, IQL, then each agent was set  use_attention=true.
 Setting the attention mechanism of each agent in this way does not see the state and strategy of other agents, ri

[2021-03-06 09:02] yywangvr commented on #14507
Thanks @rkooo567, it solved my problem:)

[2021-03-06 09:02] #14507 closed

[2021-03-06 09:25] RaphaelCS opened #14515 "[rllib] Cannot pass customized model config"
### What is the problem?

I want to use some customized model config, instead of those in `MODEL_DEFAULTS`. But the script at the bottom throw an error:
[code]

In addition, I don't understand why we need to check model config in `get_preprocessor_for_space`. This function is just for get preprocessor, right?

*Ray version and other system information (Python version, TensorFlow version, OS):*
**r

[2021-03-06 09:35] RaphaelCS commented on #14515
Sorry, I was wrong.
We can use `config["model"][“custom_model_config"]` to pass customized config :)

[2021-03-06 09:35] #14515 closed

[2021-03-06 16:59] jovany-wang commented on #14479
Could you show the log files under `/tmp/ray/session_latest/*` ?

[2021-03-06 17:39] jjgriffin2 commented on #14479
Contents of /tmp/ray/session_latest (on Ubuntu 20.04.2 LTS:

0 byte file file_lock, lib core_worker_library_java.so, ports_by_node.json, logs directory, sockets directory

Attached: ports_by_node.json,
Contents of log directory

James Griffin

[2021-03-06 19:18] #9842 closed

[2021-03-06 20:26] ericl opened #14517 "Remove old object directory code"
The old object directory no longer works since https://github.com/ray-project/ray/pull/14184, we should remove it

[2021-03-06 21:21] billyjason commented on #3030
setting horizon config does the job, you don't need to change your environment if the episode does not have a terminal state

[2021-03-06 21:52] mcflem06 commented on #9114
Does the dashboard still not work for windows users? Can't connect to the dash on windows 10. Have tried disabling firewall etc...

[2021-03-06 21:56] import-antigravity commented on #10995
Is this an issue with Ray or an issue with Lightning? I'm having the same problem

[2021-03-07 00:15] clarkzinzow commented on #14494
@wuisawesome `DEBUG_AUTOSCALING_ERROR` _should_ be unset when the monitor restarts via [this commit](https://github.com/ray-project/ray/commit/708fb6b06150bf8b881924c52c1a68e969dc59b0#diff-f53bc0455e31fe9f401c121cd42fed36aca0ca3f862c8b88588b6a133da9dc64R267-R269), merged 12 days ago.

[2021-03-07 02:42] jovany-wang commented on #14479
That means `ray start xxx` command is failed to run. Can you also execute the command `ray start --head` in your ubuntu shell command line?

[2021-03-07 03:33] davzaman commented on #9641
Why was this closed? I am getting the same error.

[2021-03-07 08:33] rusu24edward opened #14521 "[rllib] Unity example broken"
### What is the problem?
I am attempting to follow the [local unity example](https://github.com/ray-project/ray/blob/master/rllib/examples/unity3d_env_local.py). I have followed the instructions, and I receive an error while attempting to train with ` python3 unity3d_env_local.py --env SoccerStrikersVsGoalie` and press the play button in my unity editor:
[code]
*Ray version and other system inform

[2021-03-07 08:55] MohammedAljahdali opened #14522 "[Windows] Ray Errors out on Windows 10, Python 3.8"
### What is the problem?

Ray 1.2.0
Python 3.85
Windows 10

Hey, I am facing an issue when I used Ray in my script, the script does not continue beyond the point that ray.init() is called.  This is the code:

[code]
When I run the program nothing gets printed. This is the command-line output:
[code]

Trying the latest wheels, I got the following issue:
[code]
Moreover, there is another issue, whic

[2021-03-07 09:11] #7673 closed

[2021-03-07 12:09] jagoosw commented on #13492
Yeah new pip venv too then reinstalled it all

[2021-03-07 16:45] Bam4d opened #14523 "[rllib] PPO crashes when using GPU with all environments"
### What is the problem?

Ray/RLLib 1.2.0
Pytorch 1.7.1
OS: ubuntu 20.04

i cannot get any examples to work using PPO at all. I either
a) consistently get the crash message if i specify `num_gpus=1`
[code]

b) rllib does not use the GPU at all and tries to train on CPU (which is too slow to be usable)

Notes:
I'm using `ImpalaTrainer` for many experiments which works great on GPU for me with no er

[2021-03-07 19:46] jjgriffin2 commented on #14479
Starting ray from the command line does not fail.  However, I’m at a loss as to how to specify

Ray.init(address=‘auto’,_redis_password=‘xxxx’);

In Java.  Near as I can tell from the documentation, such specifications are not possible.  Please illuminate me if I’m wrong.

[2021-03-07 19:49] jjgriffin2 commented on #14479
Actually, I’m not sure that the command line ray start —head succeeds.  The command doesn’t produce an error, but if I then issue ray stop, it responds with “Did not find any active Ray processes.”

[2021-03-07 19:53] jjgriffin2 commented on #14479
As another test, I started ray from a command line.  I actually was able to to connect to the dashboard via Firefox, and ray stop reported “Stopped all 13 Ray processes.”  And, of course, that also killed the dashboard connection.

[2021-03-07 20:38] dHonerkamp commented on #10338
Unfortunately the above does not seem to allow me to use the wandb_mixin approach:
- If I specify a 'wandb' key I receive the above described error of `Unknown config parameter`.
- If I wrap it into `logger_config`, i.e.
[code]
 this does not happen, but the mixin then fails as follows:
[code]

I am using a nightly build from last week: `Version: 2.0.0.dev0`.

Is there a way to get around this to

[2021-03-07 21:17] amogkam commented on #14522
@mehrdadn any ideas on what could be happening here? This is on Windows 10, Python 3.8.

[2021-03-07 21:20] mehrdadn commented on #14522
@amogkam: Nothing I recognize unfortunately. May or may not be Windows related. Might be worth bisecting and finding the earliest version that breaks.

[2021-03-07 21:33] amogkam commented on #14522
@MohammedAljahdali can you run the program again using Ray 1.2 and send over the Ray logs.

You can find those in `/tmp/ray/session_latest/logs`. If you could just send a zip file of the entire directory, that would really help . Thanks!

[2021-03-07 21:53] MohammedAljahdali commented on #14522
Sorry when I tried with a clean env, I used one that I created but never used. I created a new one and only installed ray and the script worked. I will try now to install the packages needed for my project on the new env and see what happens.

The second env that I tested on contained the following packages:
[code]

[2021-03-07 23:09] MohammedAljahdali commented on #14522
The issue is solved using a new environment. Sorry for not testing it well. Something common in my original env and the second env seems to cause ray not to work. However, the dashboard still does not work.

[2021-03-08 02:45] Capitolhill commented on #10761
My multi agent environment has a similar problem. I wish to provide a global reward to each agent, once all agents are 'done' and then terminate the episode. This necessitates having 2 'done=True' instances in each episode trajectory (for all agents)- first time when done['agent_id'] = True and, second time, when done['__all__'] = True at the end as this generates a global reward for every agent.

[2021-03-08 03:46] edoakes opened #14524 "Named conda env support"

[2021-03-08 03:47] edoakes opened #14525 "Support dynamic python_requirements in runtime_env"

[2021-03-08 03:48] edoakes opened #14526 "Support downloading packaged conda envs"
https://conda.github.io/conda-pack/

[2021-03-08 03:48] edoakes opened #14527 "Basic support for shipping code with working_dir and py_modules"

[2021-03-08 03:50] edoakes opened #14528 "Support specifying container images in runtime_env"
Autoscaler can dynamically add them to the cluster, use custom resources to handle scheduling.

[2021-03-08 03:51] edoakes opened #14529 "Support decoupling task/actor interfaces from implementation"

[2021-03-08 04:40] jovany-wang commented on #14479
That means ray isn't installed well. And you can also check the `/tmp/ray/session_latest/*` logs for taking a look at the errors after `ray start --head`.

And, maybe you should install ray again via `pip install -U ray`

[2021-03-08 04:56] amogkam commented on #14522
Thats's good to hear @MohammedAljahdali! Can you post a new issue for the dashboard please? I will close this one.

[2021-03-08 04:56] #14522 closed

[2021-03-08 07:19] dongrixinyu opened #14530 "the basic code causes a bug. drives me crazy!!!"
### What is the problem?

*Ray version: 1.2.0
Python version:3.8 (anaconda),
OS: linux ubuntu 18:04

[code]

### Reproduction (REQUIRED)
the basic code:
[code]

and the below is the bug and error reported:
[code]

Could you tell me how to avoid the basic bug?

[2021-03-08 07:47] dongrixinyu commented on #14530
plus there is always a log ```(pid=15846) 2021-03-08 15:13:53,996     INFO router.py:248 -- Endpoint my_endpoint doesn't exist, waiting for registration.```
could you tell me if the endpoint registered successfully?!!!???

[2021-03-08 07:53] dongrixinyu commented on #14530
[code]
 can not stand up with this tool

[2021-03-08 09:35] #12638 closed

[2021-03-08 11:50] kk-55 opened #14533 "ValueError: tf.enable_eager_execution must be called at program startup"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

- Ray version 2.0.0.dev0
- Python version 3.8.5 64-bit
- TF version 2.3.1
- OS Ubuntu 20.04 running on Windows Subsystem for Linux (WSL)

Running the multi agent cartpole example, but w/o using `tune`, I get

This occurs when I manually set up a PPO trainer and choose `framework='tf2'`.

[2021-03-08 13:55] hvy commented on #14415
Optuna v2.6 ([PyPi](https://pypi.org/project/optuna/2.6.0/)) was just released with this parameter so this issue might be addressable. The conda-forge release is being worked on and should be available this week. Just dropping by for a heads up.

[2021-03-08 13:58] krfricke commented on #14415
Awesome, thanks! I'll see to address this next week then.

[2021-03-08 14:43] viotemp1 commented on #14475
I actually have some errors - from time to time. Not sure is this compilation is the problem. I found the same issue with tf-mightly also

(pid=gcs_server) [2021-03-08 16:35:53,918 C 124910 124910] gcs_placement_group_scheduler.cc:202:  Check failed: it != placement_group_leasing_in_progress_.end()
(pid=gcs_server) [2021-03-08 16:35:53,918 E 124910 124910] logging.cc:435: *** Aborted at 1615214153

[2021-03-08 15:20] 51616 commented on #12861
@angelolovatto I think you still can use extra information from the batch. Have a look at [this file](https://github.com/ray-project/ray/blob/master/rllib/policy/torch_policy.py#L287). After computing the actions, you can add extra fetches to the output the same way you did with `compute_actions`.

If you still don't see these columns, try using `_initialize_loss_from_dummy_batch` in your custom p

[2021-03-08 15:24] sarahperrin commented on #8158
Same problem here, any updates? I am trying to do exactly the same thing than andrew-rosenfeld-ts.

[2021-03-08 15:40] eicnix commented on #9592
This issue still is still current to this day and cost me a bit of time to figure out. It would be great there was a warning when the combination of `local_mode=True` and `framework=tfe` to expect this behavior.

[2021-03-08 15:58] Matgrb opened #14534 "TuneBaseSearchCV to extend BaseSearchCV from sklearn"
Currently, the TuneBaseSearchCV inherits from BaseEstimator from sklearn, however, I suppose it should extend BaseSearchCV, in order to be fully consistent with the sklearn API. Thanks to this one can detect, whether this object is in fact an optimization search schema, or a classifier.

[2021-03-08 16:35] allenyin55 opened #14535 "[Autoscaler] Autoscaler is not setting --shm-size for docker, causing Ray to fail to start"
### What is the problem?
When using the Ray cluster launcher with docker, `ray start` sometimes fails because of the following error:
[code]

The root cause seems to be that docker shm size is calucated by the autoscaler as `0.3 * available sys mem`, and if the machine is under load during the shm size calculation, this number could be smaller than what the object store expects during the ray star

[2021-03-08 17:23] andrew-rosenfeld-ts commented on #8158
@sarahperrin I'm guessing that PPOTrainer won't be made serializable any time soon. However, there are other approaches to this problem. I've found good performance with using evaluation workers, combining approaches from https://github.com/ray-project/ray/blob/master/rllib/examples/custom_eval.py and https://discuss.ray.io/t/rllib-using-evaluation-workers-on-previously-trained-models/65 .

[2021-03-08 18:29] ericl commented on #14535
You should set --shm-size explicitly in docker (this is a normal error). Previously, it mean Ray would silently start with misconfigured memory storage.

Alternatively, you can set RAY_ALLOW_SLOW_STORAGE as the error message says.

[2021-03-08 18:31] ijrsvt commented on #14535
@ericl This is using `autoscaler` and is a bug where the auto detection should avoid this error from appearing!

[2021-03-08 18:35] ericl commented on #14535
Thanks @ijrsvt , I updated the title to clarify this. Note that the description of the issue is still incorrect.

[2021-03-08 18:35] edoakes opened #14537 "[dashboard] Show more nodes at a time instead of paging through"
From a user on slack:
"Hey, the new dashboard is pretty cool. Would be nice if I could see more nodes at the same time rather than paging through."

[2021-03-08 18:35] ijrsvt commented on #14535
@ericl  I'll fix that as well :)

[2021-03-08 19:12] timvink commented on #14534
I think this should probably be an issue in https://github.com/ray-project/tune-sklearn ..

[2021-03-08 19:31] richardliaw commented on #14534
Thanks! I'll close this for now.

[2021-03-08 19:31] #14534 closed

[2021-03-08 19:33] richardliaw opened #14539 "Ray Kubernetes Cluster Launcher failing with upscaling_speed?"
With the default Ray Kubernetes autoscaler yaml, https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/kubernetes/example-full.yaml, we're seeing this error:

[code]

cc @DmitriGekhtman @tgaddair

[2021-03-08 19:49] wuisawesome commented on #14172
@edoakes I vaguely remember you said you have something in the pipeline for this?

[2021-03-08 19:55] AmeerHajAli commented on #12221
Can we close this once we add the ray status to include failed nodes?

[2021-03-08 19:56] DmitriGekhtman commented on #14539
It looks like the version of Ray on the head node is old (it doesn't know what `upscaling_speed` is )
Make sure that the `rayproject/ray:nightly` image is getting freshly pulled.

[2021-03-08 19:59] AmeerHajAli commented on #12221
Closing this since the final piece here is covered in this issue: https://github.com/ray-project/ray/issues/13586

[2021-03-08 19:59] #12221 closed

[2021-03-08 20:05] DmitriGekhtman commented on #14539
If the issues persist, could you provide version info?
I'm not able to replicate with current master installed locally and freshly pulled nightly image on head node.

[2021-03-08 20:08] wuisawesome commented on #14166
Btw we can also consider just using a different file system for this (iirc Facebook haystack used XFS to solve this before?)

[2021-03-08 20:20] clarkzinzow opened #14540 "[Core] "single client put gigabytes" microbenchmark fails with objects evicted before pinning."
### What is the problem?

On latest master (commit b6c4f21fdacce3a40dea291fabe33399ac84a57f), running the `single client put gigabytes` [test](https://github.com/ray-project/ray/blob/732197e23a937b7b6d196936519c16ec6317ea9f/python/ray/ray_perf.py#L125-L128) of the microbenchmarks outputs a lot of eviction before pinning errors (`local_object_manager.cc:31: Plasma object 4dda7a257f481cd9fffffffffff

[2021-03-08 20:41] lcodeca opened #14541 "Disable ray low memory monitoring"
See: https://discuss.ray.io/t/disable-ray-low-memory-monitoring/1167
As requested: @rkooo567

Desired behavior:
- start ray without the low memory check
- even if RAM & Swap are (or reach) 100%, all workers/divers just wait for some memory to be freed, without crashing.

I understand that this may be against best practices, but the option is intended for the following scenario:
- RAY+RLlib used fo

[2021-03-08 20:54] rkooo567 commented on #14541
Hey @ericl Is there any good workaround he can try now?

[2021-03-08 21:01] ANarayan opened #14542 "[TUNE] Getting CUDA_ERROR_INVALID_DEVICE: invalid device ordinal w/Tune"
System Information:
CUDA Version: 10.1
Tensorflow Version: 2.3.1
Ludwig Version: 0.4-dev0 (most recent commit on master)
Ray Version: 2.0.0.dev0
Python Version: 3.7.7

I am experiencing the following error when running Ray Tune:
`2021-03-08 09:12:39.656449: E tensorflow/stream_executor/cuda/cuda_driver.cc:314] failed call to cuInit: CUDA_ERROR_INVALID_DEVICE: invalid device ordinal`

It appears as

[2021-03-08 21:06] ericl commented on #14541
There's an env var you can set (check the memory monitor code)

[2021-03-08 21:10] rkooo567 commented on #14542
cc @wuisawesome

[2021-03-08 21:10] richardliaw commented on #14542
@ANarayan could you also post the output of `ray.worker.global_worker.core_worker.resource_ids()`?

[2021-03-08 21:10] ddominet opened #14543 "Ray client fails to connect localy on 2.0.0.dev0 on kubernetes cluster both with ray cluster launcher and kubernetes operator"
******Hi i'm currently testing deployment of ray framework in kubernetes enviroment. I have tested from local node, while port forwarding. I have tried both operator and launcher without any progress.
Python version is 3.7.7 on both head and kubernetes node. Ray works fine while running scripts on head and via ray submit. Could you please help out ?******

//error below=>
[code]

[2021-03-08 21:13] ericl commented on #14042
This turns out to be quite tricky to do, since ObjectRef is a native cdef that depends on the C++ runtime. Would the following workaround work?

[code]

Then you can type check around ObjectRefType instead of ObjectRef directly.

[2021-03-08 21:13] lcodeca commented on #14541
Thank you @ericl

I think it's `RAY_DISABLE_MEMORY_MONITOR`
https://github.com/ray-project/ray/blob/8b7cf7cab92d4b4b5cfdc4f905eac07129737fc3/python/ray/memory_monitor.py#L59

[2021-03-08 21:14] ANarayan commented on #14542
Yup, here it is:
{'GPU_group_2918a11aef386cd9d4d5c8fcbba0c409': [(0, 1.0)], 'CPU_group_2918a11aef386cd9d4d5c8fcbba0c409': [(0, 1.0)], 'CPU_group_0_2918a11aef386cd9d4d5c8fcbba0c409': [(0, 1.0)], 'GPU_group_0_2918a11aef386cd9d4d5c8fcbba0c409': [(0, 1.0)]}

[2021-03-08 21:47] ANarayan opened #14544 "[tune] Parallel tune calls not autoscaling ray cluster from head node"
I am running a program on a ray cluster (deployed on kubernetes) that runs multiple `tune.run` calls in parallel. I am facing an issue where tune is unable to autoscale and resize the cluster to support new trial runs. Each `tune.run` has a max concurrency of 2 where each trial has a `resources_per_trial={ 'gpu' : 1, 'cpu' : 1}.` I am running 7 `tune.run` calls in parallel. In theory, I should hav

[2021-03-08 22:14] clarkzinzow opened #14545 "[metrics] Add ASIO event loop statistics collection"
### Describe your feature request

Collect count, queueing time, and execution time statistics for asio handler posts, and periodically dump these statistics to the debugging state file.

[2021-03-08 22:36] tgaddair opened #14547 "Ray Nightly: setup fails w/ object store memory greater than available"
Starting a Ray cluster using the latest nightly and example.yaml file from GitHub is failing when running on a local k8s cluster:

[code]

This cluster was provisioned on a local macOS system using `k3d`. It has a single node, and is overcommitted:

[code]

Adding `ray start ... --object-store-memory=200000000` to the setup commands solved the issue.

cc @richardliaw

[2021-03-08 22:37] edoakes commented on #14545
@clarkzinzow this would be awesome. Any reason to dump them to the state file rather than exporting prometheus metrics?

[2021-03-08 23:02] richardliaw commented on #14547
@DmitriGekhtman will this be solved with better k8s resource detection that you're working on?

[2021-03-08 23:06] DmitriGekhtman commented on #14547
@tgaddair
Thanks for posting this issue.
I just encountered this myself. A recent commit in master might have caused this?
Will ask Anyscale folks.

[2021-03-08 23:12] tgaddair commented on #14539
Thanks @DmitriGekhtman, it was indeed old. For some reason the version of Ray in the nightly image I had read as 1.0.0. Thanks!

[2021-03-08 23:15] AlessandroZavoli opened #14548 "[Question] [rllib] Auto-Attention (GTrXL) wrapping not working"
Dear all,

I was trying to add the Auto-Attention (GTrXL) wrapping but it seems to fail compiling on "use_attention": True.

Not sure if this is an experimental feature (and thus in beta) or if it should work.

        Traceback (most recent call last):
        File "/home/spectral000az/Documenti/tesisti/ReinforcementLearning/quadnew/main_train_2D.py", line 101, in <module>
          IAE = sim_2d(

[2021-03-08 23:21] DmitriGekhtman commented on #14547
changed to P0 -- serious blocker, given that we're currently suggesting nightly images in all example configs

[2021-03-08 23:28] DmitriGekhtman commented on #14547
One temporary workaround is to use an image of form rayproject/ray:<first six chars of commit SHA>
https://github.com/ray-project/ray/commits/master
will suggest more specific SHA as I started bisecting which commit broke things

[2021-03-08 23:40] simon-mo commented on #14530
Hi! Googling the error message leads to this link https://github.com/encode/httpx/issues/96, which seems like a long standing bug that's hard to reproduce. Does this still happen when you try install `ray[serve]` in a clean conda env?

[2021-03-08 23:45] DmitriGekhtman commented on #14547
Use this image for now:
`rayproject/ray:b1d0aa`

[2021-03-08 23:53] richardliaw commented on #14544
@AmeerHajAli @javi-redondo can you please take a look at this and provide some instructions as to how to fix this? The resource demands seem fine, but the node types cannot be detected.

[2021-03-08 23:54] richardliaw opened #14549 "Support `ray status CLUSTER.YAML`"
### What is the problem?

Right now we always need to do `ray exec CLUSTER.yaml 'ray status'`, and it'd be nice for this to work out of the box.

[2021-03-08 23:55] ericl commented on #14545
We can probably export both right? I think the reason to dump to state file is that Prometheus metrics aren't generally available post-hoc after a crash, unless you have it setup for collection.

[2021-03-09 00:04] ijrsvt commented on #14535
@ericl
We are wrong, this PR caused the problem #14345

[2021-03-09 00:20] jennakwon06 opened #14550 "[autoscaler] Improve latency of `ray down` for big clusters"
### Describe your feature request

I'm working with hundred-node EC2 autoscaling clusters. I noticed that `ray down` can take a long time due to serial calls for terminating the EC2 instances.

From Richard Liaw: """I think it’s because we run docker stop on each of the machines, and stop machines sequentially (which adds up to a lot of time). The amazon console should be much faster for this use

[2021-03-09 00:20] jennakwon06 commented on #14550
@rkooo567

[2021-03-09 00:29] rkooo567 commented on #14550
Can you also mention how slow it is, what's the workaround you are using right now? (e.g., are you terminating the cluster from the EC2 dashboard or sth?)

[2021-03-09 00:48] AmeerHajAli commented on #14544
cc @DmitriGekhtman

[2021-03-09 00:54] DmitriGekhtman commented on #14547
hmm, now I can't replicate the bug

[2021-03-09 01:06] AmeerHajAli commented on #14544
Please reopen if this does not solve your issue.

[2021-03-09 01:40] xcharleslin opened #14551 "[autoscaler] SubnetId, a valid AWS field, is being ignored in cluster yaml"
### What is the problem?

[Cluster config docs](https://docs.ray.io/en/master/cluster/config.html#cluster-configuration-node-config-type) say that you can put any valid AWS field in NodeConfig. But, putting `SubnetId` is silently ignored.

This issue has already been raised before; see https://github.com/ray-project/ray/issues/12530 . This new issue is not to find a workaround, but to *fix the doc

[2021-03-09 01:41] xcharleslin commented on #14551
cc @wuisawesome

[2021-03-09 01:48] wuisawesome commented on #14551
"support all AWS fields" is vague.

`provider` seems like a logical place to put the `SubnetIds` (plural) field, but for the sake of backwards compatibility, we should consider leaving it where it is, and just not clobber a user provided `SubnetId`

cc @AmeerHajAli

[2021-03-09 01:52] xcharleslin commented on #14551
@wuisawesome good point, rephrased for precision :)

[2021-03-09 02:21] dongrixinyu commented on #14530
yes, it mistangled with pytorch and opencv.
and this bug occuered from nowhere.
[code]

it can not co-existed with pytorch and opencv

[code]

[2021-03-09 02:23] DmitriGekhtman commented on #14547
able to reproduce consistently, hooray, time to debug

[2021-03-09 02:25] richardliaw commented on #14544
Is one possible workaround to specify the GPU resources manually in the node type definition?

[2021-03-09 02:33] DmitriGekhtman commented on #14544
Unfortunately, I screwed this up -- the autodetected resources override the manual ones:
https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/_private/kubernetes/config.py#L85

Will open an issue to remind myself to fix it soon.

[2021-03-09 02:34] DmitriGekhtman opened #14553 "[kubernetes][autoscaler] Autodetected resources override the manual ones when autoscaling with K8s"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Autodetected resources override the manual ones when autoscaling with K8s:
https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/_private/kubernetes/config.py#L85

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be

[2021-03-09 02:36] DmitriGekhtman commented on #14544
https://github.com/ray-project/ray/issues/14553

[2021-03-09 02:37] ANarayan commented on #14544
So once this is fixed (#14553 ), would I be able to use the Ray Cluster Launcher? Or would i still need to use the operator

[2021-03-09 02:41] DmitriGekhtman commented on #14544
Yes -- if you use Ray master in your local environment after that is fixed to launch the cluster.

[2021-03-09 02:43] edoakes commented on #14545
Yep both SGTM. State file is useful for post-hoc analysis/crashes, prometheus metrics are good for monitoring perf over time

[2021-03-09 02:44] edoakes commented on #14172
I recently merged a PR that serializes the full remote exception for a `RayTaskError`, don't think it solves this problem
https://github.com/ray-project/ray/pull/14449

[2021-03-09 02:45] ANarayan commented on #14544
Great. Also, I tried using the Ray Operator set up as suggested above and am still having the original issue with nodes not scaling up.

Here is the monitor output:
`======== Autoscaler status: 2021-03-08 18:41:51.838533 ========
Node status
---------------------------------------------------------------
Healthy:
 1 head-node
Pending:
 (no pending nodes)
Recent failures:
 (no failures)

Resources

[2021-03-09 02:48] DmitriGekhtman commented on #14544
Thanks -- will look into it

[2021-03-09 02:49] AmeerHajAli commented on #14553
Lets add a test for this in our CICD.

[2021-03-09 02:51] DmitriGekhtman commented on #14553
Yes, should be straightforward to include a test with the PR that addresses this.

[2021-03-09 02:53] richardliaw commented on #14544
Hmm, it's not clear to me that this is a Kubernetes issue though?

One thing that would be good here is a bit more introspection into the set of 'available node types' on the cluster and their available resources (presumably this is an issue for @wuisawesome ?)

[2021-03-09 03:09] ANarayan commented on #14544
@wuisawesome couldn't attach it as a yaml file, but here is as a .txt file.
[kubs_cluster.txt](https://github.com/ray-project/ray/files/6105610/kubs_cluster.txt). This is the config I used with the Ray Cluster Launcher.

[2021-03-09 03:09] #14420 closed

[2021-03-09 03:17] wuisawesome commented on #14544
Looks like we aren't detecting the GPUs in the spec (@DmitriGekhtman  you're more likely to know why than me :p).

As a workaround, can you use the multi node type config (like what the newly updated `example-full` looks like https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/kubernetes/example-full.yaml)

Then set a field `resources: { "CPU": 1, "GPU": 1 }` directly in the `work

[2021-03-09 03:23] ANarayan commented on #14544
I am using 1.1.0 in the launch the cluster and the python 3.7 nightly version in the container images.

[2021-03-09 03:26] DmitriGekhtman commented on #14544
Ah, could you try 1.2.0 (or anything newer, like current master) to launch?

[2021-03-09 03:28] DmitriGekhtman commented on #14544
Also, would you mind running the following on one of the pods in the Ray cluster to check the commit:
`python -c "import ray; print(ray.__commit__)"`

[2021-03-09 03:30] jovany-wang commented on #13902
@rkooo567
After some discussions offline, we'd like to propose the `ray.wait(actor)` or `ray.wait(actors)` API to work to address this issue.  Because we have no more good and simple solution to wait until we have received a response of an asynchronous request.

`ray.wait(actor)` is a synchronous API, and it will wait until the actor state became alive.

Why not users use a dummy `ping()` method f

[2021-03-09 03:47] ericl commented on #10761
@sven1977 could you take a look at this?

[2021-03-09 03:53] DmitriGekhtman commented on #14544
^ yep

[2021-03-09 03:55] clay4444 commented on #12562
hi, we have made an API proposal for this, https://docs.google.com/document/d/1OHO0XkwMBFHXGiCrz45FfBjCGTIARs0OfFHQmIs2LAY/edit#   maybe you can take a look firstly,  thanks~

[2021-03-09 03:55] clay4444 commented on #12562
cc @ffbin

[2021-03-09 03:57] DmitriGekhtman commented on #14547
note to self
caught the two quantities:
object store memory: 537924403
system memory: 536870912

Going to take a look at what these look like in the commit before this issue arose.

[2021-03-09 04:11] DmitriGekhtman commented on #14547
In commit b1d0aa,
object store: 106270310
system: 536870912

[2021-03-09 04:13] ANarayan commented on #14544
alright, so by setting the cluster launcher version I am seeing some scale up. However, the number of requests doesn't seem to match the number of requests I believe should be getting made. In the code below, each `tune.run` has a max concurrency of 2 where each trial has a resources_per_trial={ 'gpu' : 1, 'cpu' : 1}. I am running 5 tune.run calls in parallel. In theory, I should have 10 requests

[2021-03-09 04:29] wuisawesome commented on #14544
@richardliaw this is back in your territory now :p

[2021-03-09 04:35] TisonKun commented on #14475
It seems the same issue as https://github.com/ray-project/ray/issues/14117

[2021-03-09 04:45] DmitriGekhtman commented on #14547
Ok, I don't know what happened with the object store setting, but I think @richardliaw suggested a sensible solution -- set the object store memory in the resource-autodetection step.
I'll take care of this and https://github.com/ray-project/ray/issues/14553 in the same PR.

[2021-03-09 04:56] richardliaw commented on #14547
(nice, though I think I didn't suggest anything!)

[2021-03-09 04:57] DmitriGekhtman commented on #14547
better k8s resource detection :)

[2021-03-09 04:57] aadharna commented on #9218
When I just run the network manually, I do not get any error:

[code]

[2021-03-09 05:10] richardliaw commented on #14544
Thanks! I'm gonna close this in light of a new issue to avoid clutter.

[2021-03-09 05:10] #14544 closed

[2021-03-09 05:29] DmitriGekhtman commented on #14547
uh actually, looks like this might fix it: https://github.com/ray-project/ray/pull/14556/files

[2021-03-09 05:38] richardliaw opened #14557 "[tune/placement groups] multiple parallel tune runs don't work with placement groups"
### What is the problem?

The following configuration will fail on master:

[code]

cc @krfricke @rkooo567

Originally posted by @ANarayan

[2021-03-09 05:58] ANarayan commented on #14557
The same error is encountered when running the following code in the head node of a ray cluster:

[code]

[2021-03-09 06:44] rkooo567 opened #14558 "Remove task table from GCS"
### What is the problem?

Task table is unnecessary

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script

[2021-03-09 07:02] Nithanaroy opened #14559 "Nevergrad PSO doesn't work with ray.tune"
https://colab.research.google.com/drive/1QqK0gwNCTCdA9Vzo7v-Wd9TKfM8oDdrF?usp=sharing shows the problem in detail.

[code]

**Error**
The `optimizer` argument passed to NevergradSearch must be either an `Optimizer` or a `ConfiguredOptimizer`.

`OnePlusOne` works fine. Does this mean, ray tune no longer support PSO?

[2021-03-09 07:30] Nithanaroy commented on #8783
@drivkin what version of ray and PSO did you use? I'm facing some compatibility issues with these libs. Thank you for the help.

[2021-03-09 07:57] krfricke commented on #14557
The command fails because Tune is trying to clean up existing tune-placement groups before creating new ones. This is preferable for sequential execution, but messes up parallel execution.

Setting the `TUNE_PLACEMENT_GROUP_CLEANUP_DISABLED` environment variable will disable this and the code should then work:

[code]

(please note that the env variable has to be set within the remote function).

[2021-03-09 08:13] alvaro-serra commented on #8469
+1 running PPO

[2021-03-09 08:14] Bam4d commented on #14523
This is not reproducable on windows. seems to be a ubuntu 20.04/conda issue.  I'd also like to add that I have 2 GPUs in my machine, a 980ti and a 2080ti. So it possibly might cause a conflict somewhere?

[2021-03-09 08:25] cambel opened #14560 "[Docker container] DL framework (tf) reports GPU acceleration is disabled. This could be due to a bad CUDA- or tf installation."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python: Python 3.7.7
Tensorflow: 2.4.1
OS: Ubuntu 18.04

Similarly to [#13735](https://github.com/ray-project/ray/issues/13735) RAY does not recognize the GPU:

However, Tensorflow does recognize the GPU device:
`python -c "import tensorflow as tf; tf.config.list_physical_devices()"`

I a

[2021-03-09 08:31] krfricke commented on #14559
Hi,

this should work if you pass `ng.optimizers.ConfiguredPSO()`, as this will return a factory for creating the optimizer.

However I agree that it should be possible to just pass optimizer classes. I'll address this with low priority - for now please just try to use the suggestion above and let me know if it works.

[2021-03-09 08:35] stefanbschneider commented on #5048
Could you explain how this is solved? Setting `config['log_level'] = 'ERROR'` doesn't really change the output for me when running RLlib with `ray 1.2`. It still prints something like this:

[code]

Any way to turn these messages off? I'd like to hide them for a demo. Seeing a lot of warnings during the demo may make a bad impression.

[2021-03-09 08:38] richardliaw commented on #5048
can you try `tune.run(PPO, log_to_driver=False)`?

[2021-03-09 09:00] stefanbschneider commented on #5048
I don't think there is a `log_to_driver` option: https://github.com/ray-project/ray/blob/master/python/ray/tune/tune.py#L71

I get `TypeError: run() got an unexpected keyword argument 'log_to_driver'` trying it.

[2021-03-09 09:19] krfricke opened #14562 "[k8s/tune] Provide example configuration for using NFS with Ray Tune"
Can we add an example configuration for a Ray cluster running on Kubernetes that configures a shared storage (e.g. via NFS) accessible from all pods?

Background: Ray Tune synchronizes files and checkpoints across nodes for scheduling decisions and evaluation. Usually this requires SSH, but this is often not preferable for performance reasons and because these important result files might be ephem

[2021-03-09 09:27] #13051 closed

[2021-03-09 09:36] zzchuman opened #14564 "can't pickle _LazyLoader objects"
Hello! my version ray 1.0.0   tf 2.4.1 python 3.7.6

I am writing the centralized critic PPO. But, it reminds me the lazyloader about
CentralizedCriticModel  is defined as:
![image](https://user-images.githubusercontent.com/38434094/110450287-06427800-80fe-11eb-876a-e117f36535d0.png)

![image](https://user-images.githubusercontent.com/38434094/110450075-d3987f80-80fd-11eb-8043-b01edee557d0.png)

[2021-03-09 10:03] #14206 closed

[2021-03-09 10:20] #14564 closed

[2021-03-09 11:03] sven1977 commented on #14523
Hey @Bam4d . I don't think it has to do with the 2 GPUs. Looks more like a missing detach().cpu() call on the tensor in our postprocessing. Could you provide the entire stack trace? The one above only goes back to postprocessing.py, which is not enough for me to debug. Thanks!

[2021-03-09 11:11] #10439 closed

[2021-03-09 11:11] #10396 closed

[2021-03-09 11:11] #10200 closed

[2021-03-09 11:12] sven1977 commented on #14521
Seems like there was an API change in the mlagents package. The set_action_for_agent now takes an ML-Agents `ActionTuple` object  instead of a simple action (np.array). Looks different in the older mlagents version that I used when I wrote the example script.
Let me see, whether I can fix this on the RLlib side. ....

[2021-03-09 11:16] #11887 closed

[2021-03-09 12:26] sven1977 commented on #14521
Yeah, this was an API change on Unity's end. I can reproduce this now and provide a fix for RLlib ...
Thanks for reporting this @rusu24edward !

[2021-03-09 13:33] Bam4d commented on #14523
Thanks for the quick response @sven1977. Here is the full stack trace:

[code]

[2021-03-09 13:48] devin-petersohn commented on #14042
Yes, that will work for our purposes. Something like:

[code]

[2021-03-09 14:21] AlessandroZavoli commented on #14548
Thank you. It makes sense, definitively.
However, I'm not sure how to initialize the hidden states at the first call (i thought "None" would work, but it doesn't.)
If you have an example, it would be helpful.

[2021-03-09 15:14] stefanbschneider commented on #5048
Ah, `log_to_driver` is not an argument of `tune.run()` but of `ray.init()`. Setting `ray.init(log_to_driver=False)` solved the problem for me. Thanks for the pointer!

[2021-03-09 16:20] Nithanaroy commented on #14559
Thank you, this works.

[2021-03-09 16:20] #14559 closed

[2021-03-09 16:26] #11544 closed

[2021-03-09 17:01] krfricke opened #14568 "[tune] Nevergrad should support `Type[Optimizer]`"
See #14559

[2021-03-09 17:48] ijrsvt commented on #14560
@cambel How did you build the Dockerfile exactly?

[2021-03-09 18:04] kathryn-zhou opened #14570 "Collect actor metrics"
### Describe your feature request
Ray is currently not collecting actor metrics (actors scheduled, actors executed, actors pending). Can we add those and export to Prometheus so that users can view these metrics on their Grafana Dashboards (like they can with tasks scheduled, executed, and pending)?

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-03-09 18:10] rkooo567 commented on #11291
cc @sven1977

@saeid93 Do you think it is possible to provide us a repro script?

[2021-03-09 18:20] rusu24edward commented on #14521
Ah, great! Thanks for picking this up so quickly, Sven!

[2021-03-09 18:25] ericl commented on #14542
@richardliaw can you find an assignee for this?

[2021-03-09 18:39] danielbulhosa commented on #8023
In the terminal I ran:

[code]

Then back in Python:

[code]

That seems to have worked.

[2021-03-09 18:46] richardliaw commented on #14547
nice work @DmitriGekhtman !

[2021-03-09 18:48] DmitriGekhtman commented on #14547
actually @ijrsvt reverted the PR that caused this :)

[2021-03-09 18:48] richardliaw commented on #14547
nice work @ijrsvt !

[2021-03-09 19:28] jjgriffin2 commented on #14479
Well.  I've reinstalled Ray, cleared the maven download of the package and reenabled the download of the package, recompiled, and tried again.  I continue to get the error "Failed to initialize Ray runtime."  Yet it will start manually on the console, but will not connect from a Java program.  I'm at a loss.

[2021-03-09 19:49] jjgriffin2 commented on #14479
I believe the problem centers around the factor-defined configuration parameters.  Is there a way to override the defaults?  For instance, In my test cases I'm not on a cluster, which I suspect is common when in a developmental mode.  Yet one of the defined parameters is "run-mode":"CLUSTER".

[2021-03-09 19:53] #14527 closed

[2021-03-09 20:01] krfricke opened #14573 "[tune] tune does not work with imported functions on Ray client"
Latest master.

Given two files:

`a.py`
[code]

`b.py`
[code]

Start cluster with `ray start --head`.

Output:

[code]

The above code works when using `ray.init(address="auto")` instead of the ray client

[2021-03-09 20:04] krfricke commented on #14573
cc @ericl

[2021-03-09 20:06] krfricke commented on #14573
Ah great, would be great to get an update once this is fixed (this is a blocker for progress on the platform prototype)

[2021-03-09 20:08] richardliaw commented on #14573
Would it be possible to just bake everything into the same file?

[2021-03-09 21:07] richardliaw opened #14575 "[k8s] example documentation can be misleading?"
On nightly, the Kubernetes autoscaler is showing:

[code]
upon running something simple like:

[code]

The misleading thing here is that the documentation shows:

[code]

Is this intentional? Maybe we can indicate it a bit more explicitly that this is a custom resource (rather than seeing foo/bar randomly)

cc @DmitriGekhtman  @tgaddair

[2021-03-09 21:45] ericl commented on #14573
You have to upload that code with `file_mounts` or other way to the cluster at the moment (this is just the way Python serialization works).

The work we have will not change this, just add a slightly easier mechanism.

[2021-03-09 22:19] stephanie-wang opened #14577 "[core] Raylet kills workers that are not actually idle"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 2.0dev

The worker pool kills workers that have been idle after a period, but "idle" just means whether a task has been assigned to it. Workers can also have outstanding RPCs that should be finished before the worker is considered idle. For example:

1. Worker A sends task to worker B.
2.

[2021-03-09 22:40] krfricke commented on #14573
Hm, it is weird though that it does work without the Ray client (the trainable is still serialized and sent to the cluster, right?)

Unfortunately we're using the Ray Kubernetes operator, so not sure how to best go about this. I guess for demo purposes I might be able to push the local code to the container image we're using.

[2021-03-09 23:08] rkooo567 commented on #14577
Actually, this is kind of what this fixes; https://github.com/ray-project/ray/pull/14408

Previously, we sent a kill request, but it was not actually killed. They just became a zombie (and after the PR above, they won't be). So I guess this should've been fixed?

[2021-03-09 23:11] stephanie-wang commented on #14577
I see, there is still an issue with outstanding RPCs though. Let me update the description.

[2021-03-09 23:36] rkooo567 commented on #14577
After 2, if the kill request is received, isn't it supposed to be ignored by https://github.com/ray-project/ray/blob/master/src/ray/core_worker/core_worker.cc#L2645? Or is owns objects "after" it succeeds to pin?

[2021-03-09 23:57] weigao-123 commented on #9114
@iuming I had the same problem, and what @Dris101 said is correct, so **try without quotes for both IP address and password**. Then it works for me.

[2021-03-10 00:04] weigao-123 commented on #9114
@iuming I had the same problem, and what @Dris101 said is correct, so **try without quotes for both IP address and password**. Then it works for me.

[2021-03-10 00:06] ericl commented on #14463
cc @wuisawesome

[2021-03-10 01:20] rkooo567 opened #14580 "Improve the object loss message."
### What is the problem?

The current message is;
[code]

We can improve the error message by:
- Including more details about the node that failed (e.g., its IP address or other identifiers).
- Make sure to disambiguate between losing the owner of the object and its data.
- Provide more details in the object metadata (e.g., the callsite, the name of the creating task or actor, its size).

We'll sp

[2021-03-10 02:20] cambel commented on #14560
@ijrsvt I build the [Dockerfile](https://github.com/ray-project/ray/blob/master/docker/ray-ml/Dockerfile) using the requirements file under the [python](https://github.com/ray-project/ray/tree/master/python) directory (which could be made clearer in the README of the docker so that it is easier to use)
Other than that I just executed `docker build -t test .`

[2021-03-10 02:26] ericl opened #14582 "Support docker image specification [in autoscaling clusters]"

[2021-03-10 02:27] ericl opened #14583 "Support docker image specification [in laptop local clusters]"

[2021-03-10 02:28] ericl opened #14584 "Consistent API for runtime_env dictionary in JobConfig and actor/task options"

[2021-03-10 02:33] iycheng opened #14585 "Support ray connect"

[2021-03-10 02:34] iycheng opened #14586 "GC on raylet"

[2021-03-10 02:34] iycheng opened #14587 "GC on GCS"

[2021-03-10 02:34] iycheng opened #14588 "LRU support for packages"

[2021-03-10 02:35] iycheng opened #14589 "Large file support"

[2021-03-10 02:35] iycheng opened #14590 "Use object store instead of GCS"

[2021-03-10 02:49] #12034 closed

[2021-03-10 03:35] zzchuman opened #14592 "rllib changed clip param"
rllib

Hello, @ericl ,
@sven1977 ,

I want write a ppo program which can reduce the clip_param from 0.5 to 0.1 during the training process.
Clip parameter conforms to linear decay, or exponential decay.  It must changed.

But, I look the rllib settings. The params must be set before training.

How can I solve it? Can you give me some advice?

[2021-03-10 05:42] paulfryzel commented on #14117
From https://github.com/bazelbuild/bazel/issues/12887#issuecomment-765950727:

[code]

... verified build+tests w/ bazel 4.0.0 on macOS 11.2.2, ray at ea7d4c66076c5141bbf22c60d77ff4868b1cbb87.

@rkooo567 Is this something you'd be open to a PR on?

[2021-03-10 08:12] zzchuman opened #14597 "rllib dynamically set hyperparameters"
Hello, can rllib dynamically set hyperparameters?
@richardliaw
For example, I want to dynamically set gamma so that the gamma will increase from episode 0.9 in the pre-training period to 0.99 in the post-training period.

[2021-03-10 10:33] javimontero commented on #13780
Hey @wuisawesome,

I think that you are outputting the output of wget to ~/bin/bazel instead of the binary itself.

Other than that. Have you managed to install ray on Graviton instances? I have building errors and I have no luck.

Thanks in advance.
Javi

[2021-03-10 11:43] RaphINSA7 opened #14601 "Loop multiprocessing and shared memory using ray"
I am currently trying to measure the photo-consistency between two images thanks to the planesweep algorithm [Collins, 1995], therefore I have set up a variable called “score-map” of size H x W x L (H and W are the size of the processed images and L is the depth range). This process needs to be achieved very quickly, that’s why I am trying to exploit the 8 cores of my CPU in an optimal way.

I tri

[2021-03-10 13:45] astronauti opened #14602 "[rllib] Assertion error when using SAC"
### What is the problem?
Assertion error when using SAC-Agent instead of PPO-Agent. Script is working on Windows, but not on Cent OS 7. Tensorflow probability is installed

`Traceback (most recent call last):
  File "script.py", line 74, in <module>
    Reinforcement.startTraining(disableOutput=disableOutput)
  File "/libs/Reinforcement.py", line 73, in startTraining
    self.initTrainer() #traine

[2021-03-10 14:47] iuming commented on #9114
@mcflem06 Thank you very much! I am sure I have turned off the firewall.

[2021-03-10 14:48] iuming commented on #9114
@weigao-123 Thanks for your suggestions, I will try it.

[2021-03-10 16:05] ijrsvt commented on #14560
@cambel That is a really good point, I can definitely improve the doc/usability of Docker images! I was wondering if there was a reason why our images on DockerHub are not sufficient? Here are the images for ([ray-ml](https://hub.docker.com/r/rayproject/ray-ml)). If you want to use those, you would want the images with the  `-gpu` tag (those have Nvidia Drivers).

For building locally, you want to

[2021-03-10 17:24] clarkzinzow commented on #13995
@ericl I'm planning on taking the approach of moving everything under `_private` except for a top-level `__init__.py`, which will only expose the functions that we have documented APIs for + the types that we pass to or return from those functions. Does that sound good?

[2021-03-10 17:30] #14540 closed

[2021-03-10 18:17] stuart-clark-45 commented on #13324
Hi @ericl thanks for the update is the connection secure between the client the and cluster?

[2021-03-10 18:19] ericl commented on #13324
Currently it is not configured with HTTP(s). You can setup your own secure proxy however if you want to expose it over the internet.

[2021-03-10 18:24] ericl commented on #13995
Hmm I think you probably want to take a more nuanced approach, including a subset of the directories. We can also live with subdirs not cleaned up for now, since that would be a massive undertaking (auditing Tune, etc.).

For example, there are some non-toplevel symbols that we might want to keep such as ray.services.get_node_ip_address, ray.remote_function.RemoteFunction, ray.actor.Actor, ray.exc

[2021-03-10 19:32] mvindiola1 commented on #14602
Try pip install tensorflow-probability

[2021-03-10 19:51] mvindiola1 commented on #14446
@dimikout3 It is not really documented anywhere but there is a ParallelPettingZooEnv that you can import with `from ray.rllib.env.wrappers.pettingzoo_env import ParallelPettingZooEnv`.

Figuring out how to pad the observations was tricky. I eventually found this to work:
[code]

[2021-03-10 19:52] #14545 closed

[2021-03-10 20:56] wuisawesome commented on #13780
Yes, I tested this when creating the issue. What issues are you running?

[2021-03-10 21:10] ericl commented on #14042
Moving to core bugs for tracking

[2021-03-10 21:44] pcmoritz commented on #14042
Would it be possible to only have a single `ObjectRef` type for both client and the rest of Ray? Certainly from the API side that would be the simplest (no need for `is_object_ref_type` etc)?

If the implementation requires it, the `ObjectRef` could have an internal distinction if it is a client ref or a Ray ref.

[2021-03-10 22:23] Stephanehk opened #14606 "[rllib] Custom Pytorch CNN does have properly formatted input_dict"
I am attempting to implement the forward() function for a CNN that simply processes the image component of the input (`input_dict["obs"]["img"]`), which is a torch.Tensor. With my code below, I get the following error:

[code]
I am quite unsure of why this is happening. Why would the passed in `input_dict["obs"]["img"]` not be in the correct format (ie: a dictionary with all attributes asked for)?

[2021-03-10 23:17] #12742 closed

[2021-03-10 23:28] zrajabi opened #14609 "[tune] "unexpected keyword argument 'points_to_evaluate'" even after installing the nightly version on Goggle Colab Pro"
Hi @turmeric-blend,
I have installed using the following wheel as was suggested to resolve the issue raised by you here but still get the error:

Ray nightly version on Colab Pro: ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64
!pip install https://s3-us-west-2.amazonaws.com/ray-wheels/master/ba6cebe30fab6925e5b2d9e859ad064d53015246/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl

the `points_to

[2021-03-10 23:41] clarkzinzow commented on #14324
Good news here. After moving the raylet heartbeat to a different thread, the 100GB Dask-on-Ray shuffle completes without issue. We should probably rescope this to debugging OBOD-caused raylet stress, with a possibly visible side effect being delayed resource reports.

[2021-03-11 00:54] kathryn-zhou opened #14613 "[metrics] Report resources allocated to Ray for Grafana dashboard"
### Describe your feature request
PR #14184 removed deprecated code paths that included Local Available Resource metrics that reported how much of each resource was allocated to Ray. Could we have the new scheduler expose metrics like this so that we can export to Prometheus and then Grafana?

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-03-11 01:01] kathryn-zhou opened #14614 "[metrics] Add regression tests for Prometheus metrics"
### Describe your feature request
Since Grafana dashboards and Ray dashboard will depend on metrics that are exported to Prometheus, we would like to add regression tests to ensure that we don't remove those metrics.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-03-11 02:15] mvindiola1 commented on #14119
This is kind of hacky so you might not want it but if you were willing to accept a convention where learn_on_batch calls `apply_gradients(None)` then you could move the stepping of the optimizers into apply_gradients. Then if apply_gradients gets a None it steps the optimizers otherwise if it gets a list of np arrays it exercises the current behavior. I know it is ugly but it is working with my qu

[2021-03-11 02:24] cambel commented on #14560
@ijrsvt  Yes, my bad, I didn't notice there were images in DockerHub.

Before testing the DockerHub image I tried using `--build-arg GPU=-gpu` but It actually changes nothing since it is not used in the Dockerfile.

`[Warning] One or more build-args [GPU] were not consumed`

Using the docker image `rayproject/ray-ml:nightly-py36-gpu` I get the following error:

when I run the followin script
[code

[2021-03-11 02:31] #14606 closed

[2021-03-11 02:33] Stephanehk commented on #14606
Turns out that there is currently no support for gym.spaces.Dict in the ComplexInputNetwork example model. Thus is probably not the best solution but worked for me:

[code]

[2021-03-11 02:51] mvindiola1 commented on #14606
self.cnn is expecting a dictionary and you are passing a tensor. I would think this should work.: `cnn_out, _ = self.cnn({"obs" :cnn_input} ) `.

[2021-03-11 05:20] richardliaw opened #14616 "RAY_OBJECT_STORE_ALLOW_SLOW_STORAGE=1 fails without any suggestion for next steps"
[code]

[2021-03-11 07:55] astronauti commented on #14602
Problem is that the conda-forge package is broken. It installs tensorflow-base 2.3. Even though i have tensorflow 2.4 installed, when i run import tensorflow as tf it import tf from the tensorflow-base package. I had to remove the conda package.

Implementing an error message, when the import of tf-agents fails would be great.

[2021-03-11 07:55] #14602 closed

[2021-03-11 08:46] richardliaw commented on #14616
According to @yuduber:

[2021-03-11 09:00] richardliaw opened #14618 "[client] Named actors are destroyed after client disconnects; other actor ref count issues"
### What is the problem?

In workflow orchestrators, you might have many different processes trying to access the same ray cluster simultaneously. They use the same 'ray client' interface/port, this can often induce hangs or odd behaviors.

*Ray version and other system information (Python version, TensorFlow version, OS):* Master, OSX/Linux

### Reproduction (REQUIRED)
Please provide a short code

[2021-03-11 09:19] kfstorm opened #14619 "Actor placement resources should be deprecated"
After migrating to direct actor, actor method resources are no longer effective.

Placement resources were introduced to deal with actor method resources. https://github.com/ray-project/ray/pull/2837

If we no longer support actor method resources. can we remove the concept of placement resources as well?

[2021-03-11 09:20] kfstorm commented on #14619
@raulchen @ericl

[2021-03-11 09:32] kk-55 commented on #9114
### Get stuck in ray.init()

**Problem:**
Running the code example below, the process gets stuck in `ray.init()` and nothing else happens (no error or warning messages).
What could be the problem?
Under my WSL (Ubuntu 20.04) all works fine, but performance slows down and thus I prefer to run ray/RLlib under Windows.

**Information:**
OS: Microsoft Windows 10 Pro, version 10.0.19042 Build 19042
Pyt

[2021-03-11 09:47] chokosabe commented on #12940
Why is this closed?!

Running into the exact same problem....

[2021-03-11 10:02] KiborgBBK commented on #12940
The problem is the wrong floats. Perhaps instead of float64, you need to supply float32, or instead of float, supply int. Well, or something like that, you need to watch what should be in the state of the environment

[2021-03-11 14:47] ian-cannon commented on #14107
I am seeing the same issue with a different system configuration

### What is the problem?
Ray version: 1.2.0
Python version: 3.7.10
OS: Ubuntu 18.04
Pytorch: 1.7.0

### Reproduction (REQUIRED)
rllib train -f dreamer/dreamer-deepmind-control.yaml

```AttributeError: Object <ray.rllib.policy.policy_template.DreamerTorchPolicy object at 0x7f87d82a0b50> must have a `self._lock` property (assigned to

[2021-03-11 15:33] andrew-rosenfeld-ts opened #14621 "[tune/rllib] experiment launch hangs if resources not predeclared"
### What is the problem?

With a recent Ray nightly, `tune` can hang if resources weren't explicitly requested for an experiment, which was not the case in Ray 1.2.0. See repro below.

The relevant versions are the Ray nightly as of 2021-03-11 (and from a day or two previous), compared vs Ray 1.2.0.
I can reproduce it on various versions of Python (3.7 and 3.8), TensorFlow (1.4 and 2.2), OS's (Ubu

[2021-03-11 16:24] edoakes opened #14623 "Add ray.__wheel__ with a link to the wheel to install the same version"
### Describe your feature request

Add `ray.__wheel__` similar to `ray.__commit__` that points to an S3 URL to install the wheels for that version of Ray

[2021-03-11 16:24] edoakes commented on #14623
We'll need this to ensure envs match when supporting conda_envs in `runtime_env`.

[2021-03-11 16:27] e13000 opened #14624 "[tune] What are workarounds required to use fractional GPU with Pytorch Lightning"
In the tutorial, https://docs.ray.io/en/latest/tune/tutorials/tune-pytorch-lightning.html, it is mentioned that certain workarounds needed to use fraction GPU with Pytorch lightning. Would you please give me some pointers what must be done?

[2021-03-11 16:52] garricklw opened #14625 "[tune] Issue on page /tune/api_docs/schedulers.html"
It's really difficult from the docs (and I dug around in the code a bit too) to tell what values should go in the time_attr field for applicable schedulers. It would be great if the possible values for that parameter were documented on this page.

[2021-03-11 17:32] richardliaw commented on #14625
Hmm, that's good feedback. Usually, I would just leave it as `training_iteration` which is the number of times that `tune.report` is called.

What are you trying to do exactly?

[2021-03-11 18:01] #7420 closed

[2021-03-11 18:01] #11658 closed

[2021-03-11 18:01] #3527 closed

[2021-03-11 18:04] richardliaw commented on #14621
@sven1977 @krfricke seems like a recently introduced bug by the placement group support

[2021-03-11 18:08] DavidMChan commented on #9333
Bumping this to remove the stale label.

[2021-03-11 18:16] ericl commented on #14577
cc @kfstorm could you recommend an approach here? This can cause spuriously cause object loss errors. What if the worker reports when it's idle (count outstanding RPCs?)

[2021-03-11 19:18] karim174 commented on #14107
same error

Ray version: 1.2.0
Python version: 3.8.8
OS: macOS Big Sur 11.2.3 11.2.3
Pytorch: 1.8.0

### Reproduction (REQUIRED)
rllib train -f dreamer/dreamer-deepmind-control.yaml

2021-03-11 21:13:48,422 ERROR trial_runner.py:616 -- Trial DREAMER_ray.rllib.examples.env.dm_control_suite.cheetah_run_dc967_00001: Error processing event.
Traceback (most recent call last):
  File "/Users/kfarid/.con

[2021-03-11 20:49] mvindiola1 commented on #14119
I also realized as I was debugging this that the tf and tfe policies do not save or restore optimizer parameters in a checkpoint. It seems this is because the tf policies do not support multiple optimizers yet.

There is a bug in eager_tf_policy.get_state where it does not check to make sure that self._optimizer is not None here: https://github.com/ray-project/ray/blob/8e778d6f4201e68efd89558debf3

[2021-03-11 21:23] #13805 closed

[2021-03-11 21:29] architkulkarni opened #14631 "[Serve] create_backend fails when run from (base) conda env"
On master, introduced by https://github.com/ray-project/ray/pull/14430.  Probably a small logic error when dealing with conda paths.  Running from the (base) conda env is not recommended by conda, but we should still support it.

[code]
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short

[2021-03-11 21:43] ericl commented on #14618
So I'm not able to even get a named actor after disconnecting from a single client. Maybe the "detached" lifetime isn't working for Ray client?

Btw, the above example is a bit suspicious since there are race conditions with getting actors and creating multiple of them at the same time.

[2021-03-11 21:57] richardliaw commented on #14618
@ericl I've adjusted the repro script to synchronously create the named actor and ensure creation before calling the multiprocessing code.

Same behavior occurs.

[2021-03-11 22:56] ericl commented on #14618
I think multiprocessing is doing something weird here, and also it's swallowing exceptions. If I remove the use of multiprocessing, you can see that get_actor is not working properly:

[code]

[code]

So that's at least one bug.

If you run with xargs for concurrency you can see other kinds of errors (if you hold the actor open with a persistent client):
`seq 1 10 | xargs -n 1 -P 10 python client.

[2021-03-11 23:33] dimberman opened #14634 "Ray custom controller does not remedy broken deployments"
### What is the problem?

The Kubernetes Operator won't restart pods when pods die.

If I launch a Ray cluster using the documentation found [here](https://docs.ray.io/en/master/cluster/kubernetes.html#k8s-operator) and then a pod dies (or you manually kill a pod), then the ray operator does not launch a replacement pod. This can render a ray deployment unusable.

*Ray version and other system inf

[2021-03-11 23:45] edoakes opened #14635 "Better validation for runtime_env JSON"

[2021-03-12 00:09] ericl commented on #14618
I did a bit of digging and I think besides the above, the only other concurrency issue is that we `del self.actor_refs[id]` too early, even if multiple clients are referencing the same actor.

[2021-03-12 00:11] ericl commented on #14618
Ah, another issue is
[code]

The max_workers is set to a pretty low value. There may be hangs if that number of connections is exceeded (we should probably drop additional connections, and make the worker pool size configurable).

[2021-03-12 00:51] rkooo567 opened #14636 "[Shuffle benchmark] Shuffle benchmark reliability"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

We'd like to run a bunch of native shuffle benchmarks and make sure they are bug-free. Here's the list of benchmark we should perform.

Spec: i3.8xl for everything. 4 SSD
Config: Streaming Flag on / off (after pinned args PR is merged).

Benchmark
- [x] 10GB shuffle 200 partitions. Objec

[2021-03-12 00:51] rkooo567 commented on #14636
cc @ericl @stephanie-wang

[2021-03-12 01:29] #14616 closed

[2021-03-12 01:41] DmitriGekhtman commented on #14634
Thanks, will look into reproducing and resolving.

[2021-03-12 01:43] lucas-spangher commented on #8526
Hey, are there any thoughts on implementing HER? Would be really helpful for us, if so :)

[2021-03-12 01:55] jsuarez5341 commented on #14523
@sven1977 I've gotten two reports of the same bug on Neural MMO. I am unable to reproduce the bug and it seems we have the same pytorch (v1.7.1) and Conda versions, also 20.04. I have one report of the bug on 18.04. Oddly enough, I can't reproduce it. Only difference as far as I can tell is the card: I'm running on a 3080, reports have come in on a 970 and a Tesla P100

[2021-03-12 04:10] richardliaw opened #14640 "Redis error on macOS ray.init()"
Seeing this upon `ray.init()` -- just installed from the nightly build:

[code]

[2021-03-12 04:11] richardliaw commented on #14640
(though this was not easily reproducible, so feel free to close)

[2021-03-12 05:39] kfstorm commented on #14577
Making sure no outstanding RPCs is a way to try. But I'm concerned about chained RPC requests. e.g. RPC request 2 is sent in the reply callback of RPC request 1.

Maybe we need to make sure `io_service`s are idle too?

[2021-03-12 07:15] ijrsvt commented on #14560
Oh @cambel I think that is a transient failure with `nightly` (fixed by #14615)

[2021-03-12 07:31] zrajabi opened #14642 "Can not import HEBOSearch"
I have installed the latest ray on Google Colab pro, and want to do optimization using hero, but import fails:
from ray.tune.suggest.hebo import HEBOSearch

from hebo.optimizers.hebo import HEBO

Could you please help me why I can not import it from ray?

[2021-03-12 08:08] richardliaw opened #14643 "[tune-sklearn] Better error message when tune_sklearn not installed"
If tune_sklearn is not installed, `from ray.tune.sklearn` will return None.
This just requires a better error message on our side.

_Originally posted by @richardliaw in https://github.com/ray-project/tune-sklearn/issues/195#issuecomment-797222269_

[2021-03-12 08:10] richardliaw commented on #14642
Can you post a longer stack trace?

did you install the right HEBO? https://pypi.org/project/HEBO/

cc @Yard1

[2021-03-12 08:57] krfricke commented on #14609
Hi @zrajabi, can you share the code you are running or the relevant parts from the Colab?

Please also restart the kernel after installing the latest wheels (or only import Ray after updating the wheels), otherwise python might still be working we the previously installed version.

What is `ray.__version__`? I.e. the output of this code:

[code]

The wheels you posted definitely contain the releva

[2021-03-12 10:04] viotemp1 commented on #14475
True, I'll watch that Issue. This can be closed

[2021-03-12 10:04] #14475 closed

[2021-03-12 11:37] phixxx5 opened #14644 "[tune][autoscaler] Randomly dies after first run."
### What is the problem?
When using tune.run to train PPO the program often aborts after the first run is finished so after trying the first value from the tune.grid_search(). However this only seems to happens after longer runs e.g. 1500 iterations of CartPole. If I try it with short iteration numbers like 10 iterations per run the problem does not seem to occur. Maybe someone knows what the outp

[2021-03-12 11:55] Yard1 commented on #14642
Have you installed Ray 1.2.0 or the nightly 2.0.0 wheel?

[2021-03-12 13:19] kishansagathiya commented on #5316
We are facing this issue on python 3.6, with `ray==1.1.0`. The environment does not have typing installed. When I look for typing, I find `typing-extensions==3.7.4.1` installed.

@devin-petersohn I am not sure what do you mean by this. May be this could help me fix my bug. Do you mean changing the order in which imports are sorted in a python file?

[2021-03-12 13:22] sven1977 commented on #13469
Hey @JohnMcCarroll , could you check with the current master branch?
This problem should have been fixed by now.

[2021-03-12 13:35] yywangvr opened #14645 "Will ray.tune run in parallel in as multi-thread?"
I copy the code from the official demo: https://docs.ray.io/en/latest/tune/key-concepts.html

[code]

### Describe your feature request
I am new to Ray.tune, and I want to know:
* How can I ask the Tune.run to run 20 trials in parallel based on my PC cores?
* Is it automatically parallelized? How can I change it?

[2021-03-12 14:08] sven1977 commented on #14621
I think this is actually desired new behavior. But @krfricke @richardliaw , please correct me if I'm wrong here.

The main problem is that the above `trainable` function does not properly define its actual resource requirements (which are, based on the PPO used: 2 CPUs -> 1x driver and 1x worker) and with the new way of always converting to a PlacementGroupFactory, this fails ("more actors (2) tha

[2021-03-12 14:09] sven1977 commented on #14621
@andrew-rosenfeld-ts  ^^

[2021-03-12 14:10] sven1977 commented on #14621
Confirmed that it runs ok when setting the env variable: `TUNE_PLACEMENT_GROUP_AUTO_DISABLED=1`.

[2021-03-12 14:11] sven1977 commented on #14521
Should be merged today or very early next week.

[2021-03-12 14:14] sven1977 commented on #14276
@itmorn ^^

[2021-03-12 14:29] sven1977 commented on #14114
This should be fixed in the current master now. Closing this issue.

[2021-03-12 14:29] #14114 closed

[2021-03-12 14:48] clarkzinzow opened #14646 "[Core] Object spilling - Move object restoration requests to long-poll"
The pull manager restoration requests currently retry without waiting for prior restoration requests to succeed or fail, resulting in a raylet getting spammed with restoration requests if those requests are failing or taking a long time to service.

We should try to move these restoration RPCs to a long-poll, where the RPC only returns when the restoration has either succeeded, in which case we tr

[2021-03-12 15:30] devin-petersohn commented on #5316
@kishansagathiya Since this issue is very old, it would probably be worth it to open a new issue.

[2021-03-12 15:43] Jhonathan-Pedroso opened #14647 "[autoscaler K8s] There is a way that I can count within python the number of actors alive in a K8s ray cluster?"
I am having some trouble to submit many actors by the same time in the cluster, and I need a logic to count the number of actors alive just to create a queue. There is a way I can list the number of actors that is currently alive?

Thank you in advance!

[2021-03-12 15:48] sven1977 commented on #13823
Thanks for filing this @fercook! Could you try this on the latest master? I'm sure this was fixed already:
In particular:
rllib/agents/sac/sac_torch_policy.py::setup_late_mixins, where we make sure the target model is moved to the GPU.

I just confirmed on a single GPU machine using your script and did not see this error (running all fine).

Closing this issue now.

[2021-03-12 15:48] #13823 closed

[2021-03-12 15:48] sven1977 commented on #13721
Closing this issue now due to inactivity and non-reproducability.

Feel free to re-open should this still be an issue.

[2021-03-12 15:48] #13721 closed

[2021-03-12 16:00] krfricke commented on #14621
Yes, that seems right if the PPO trainer actually requires 2 CPUs to run.

The reason this worked on previous versions is that resource requirements were not strictly enforced. I.e., Tune assumed that you only use one CPU when you don't explicitly set resources. You can however request more resources as long as they're available.

You would eventually run into problems if you reach your resource l

[2021-03-12 16:01] stephanie-wang commented on #14577
I think chained requests should be okay, since we can make sure not to count the worker as idle until the second request is fulfilled.

Probably not a good idea to check for `io_service` idle since that will count periodic timers too. I think we can take it on a case-by-case basis, only marking the worker as not idle for specific outstanding RPCs. We could also move the logic about whether there a

[2021-03-12 16:06] DmitriGekhtman commented on #14647
Hi! Could you post this in the Ray discussion forum under Ray Core: https://discuss.ray.io/c/ray-core/8
and tag me in the message (@dmitri)?

discuss.ray.io is a better place for questions/discussion, as opposed to github, which is better for bugs and requests for specific functionality.

[2021-03-12 16:19] Jhonathan-Pedroso commented on #14647
Done thanks!

[2021-03-12 16:19] #14647 closed

[2021-03-12 17:22] #14472 closed

[2021-03-12 17:27] #14521 closed

[2021-03-12 17:40] aaron-nguyen opened #14649 "ValueError: only one element tensors can be converted to Python scalars when using more than 1 worker"
### What is the problem?
When I started to use 5 workers instead of 1, torch.FloatTensor(states).to(device) failed, the error message is ValueError: only one element tensors can be converted to Python scalars. When I tried worker = 1, it ran normally.

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray: 1.2.0
python: 3.8.5
pytorch: 1.6.0
OS: Ubuntu 20.04.1 LTS

[2021-03-12 18:03] edoakes opened #14650 "Move override_environment_variables into runtime_env"

[2021-03-12 18:04] edoakes commented on #14650
Assigning you for now @architkulkarni. We should make sure to clear this with folks from Ant, I think they're the primary users of it.

[2021-03-12 18:06] edoakes opened #14651 "Change named conda runtime_env to directly call `conda activate` instead of using environment variables"
We can easily do this once we have the shim process.

[2021-03-12 18:50] ejunprung opened #14653 "[rllib] KeyError when "skipping" agent steps"
### What is the problem?

In multi-agent configurations, we "skip" agents when any particular agent does not require an action at a given point in time. This worked fine in Ray 1.0.0 but in Ray 1.2.0, it throws a KeyError.

[code]

According to https://docs.ray.io/en/master/rllib-env.html#multi-agent-and-hierarchical, I believe this behavior should be allowed.

[code]

**Ray 1.2.0
Tensorflow 2.3.1

[2021-03-12 19:10] ericl commented on #14613
@edoakes @rkooo567 what's the state of metrics reporting? Should the raylet emit metrics via OpenCensus? Should the GCS do it instead? Or are there other possibilities here?

[2021-03-12 20:08] zrajabi commented on #14642
I have installed the following version Ray 1.20:
! pip install ray==1.2.0
Successfully installed aiohttp-3.7.4.post0 aiohttp-cors-0.7.0 aioredis-1.3.1 async-timeout-3.0.1 blessings-1.7 colorama-0.4.4 colorful-0.5.4 gpustat-0.6.0 hiredis-1.1.0 multidict-5.1.0 opencensus-0.7.12 opencensus-context-0.1.2 py-spy-0.3.4 ray-1.2.0 redis-3.5.3 yarl-1.6.3

! pip install HEBO:
Successfully installed GPy-1.9.

[2021-03-12 20:16] zrajabi commented on #14642
Ok, the nightly version worked which is ray-2.0.0.dev0:
!pip install https://s3-us-west-2.amazonaws.com/ray-wheels/master/ba6cebe30fab6925e5b2d9e859ad064d53015246/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl

Thanks for the help @Yard1!

[2021-03-12 20:38] simon-mo commented on #14650
actually serve is the primary user of it and ant help approve this feature :-)

[2021-03-12 20:59] Yard1 commented on #14642
Yeah HEBO is not present in 1.2.0. Glad it's solved!

[2021-03-12 21:21] mrrobby commented on #14618
It's possible another system could start up several clients concurrently. So if there was a timeout so any clients exceeding the limit could retry, that seems it would help, right? Then allowing to set a pool connection limit dynamically would allow for that to scale smoothly and minimize the amount of retry loops occuring.

[2021-03-12 21:21] edoakes commented on #14613
@ericl both raylet and the GCS can emit metrics via OpenCensus and it'll show up in the prometheus endpoints. I'm not opinionated about which should do this, but it's probably more useful to have per-node information so maybe raylet is the natural place.

[2021-03-12 22:02] ericl commented on #14613
Sounds good, so it seems like we should be emitting this from raylet via the existing OpenCensus metrics.

[2021-03-12 22:52] iycheng opened #14657 "Move Internal KV to GCS"

[2021-03-13 00:15] xujinlai opened #14659 "[rllib] MultivariateNormal's variable not sync (to or from cuda) within the ray.rllib.contrib.bandits.models.linear_regression.OnlineLinearRegression Bug"
There is a bug caused by the MultivariateNormal used in the OnlineLinearRegression  as shown in the code:
https://github.com/ray-project/ray/blob/66be4801c637c2977bcaac99082d7faedac0120b/rllib/contrib/bandits/models/linear_regression.py#L31-L32

The theta sampled from the above distribution will be multiplied with an input tensor
https://github.com/ray-project/ray/blob/66be4801c637c2977bcaac99082d

[2021-03-13 00:42] xujinlai commented on #14659
I found a workaround for pytorch:
https://github.com/pytorch/pytorch/issues/7795

[2021-03-13 08:46] richardliaw commented on #14172
Marking as P1 due to critical user request (@yuduber).

[2021-03-13 10:27] DmitriGekhtman opened #14664 "[dashboard] Wonky GPU display"
### What is the problem?

Two bugs -

(1) GPU field for a n-gpu node looks like this -- '[0]: N/A [1]: N/A [2]: N/A ... [n-1]: N/A'
which isn't too informative.
Hovering mouse over each index shows a tooltip with the type of the GPU.

(2) If you launch a multi-GPU head (e.g. g4dn.12xlarge) and a single-GPU worker (e.g. p2.xlarge),
the info rows for the head and worker may swap with each other ever

[2021-03-13 12:19] XavierGeerinck opened #14666 "EOFError: Ran out of input on Kubernetes Cluster"
### What is the problem?

I deployed a Kubernetes setup with Ray through the documentation at https://docs.ray.io/en/master/cluster/kubernetes.html#interacting-with-a-ray-cluster when I then submit a job through `ray submit my-cluster.yaml myscript.py` it returns `EOFError: Ran out of input`

* Ray Version: Latest as defined in nightly builds at https://hub.docker.com/r/rayproject/ray

### Stacktr

[2021-03-13 14:13] RaphaelCS opened #14667 "[tune] Fail to resume searcher"
### What is the problem?

I can't resume a searcher when I use BOHB (I'm not sure whether this happen when using other search_alg).

I got these messages when resuming:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
**ray**: 2.0.0.dev0

### Reproduction (REQUIRED)

_Run this script and interrupt it before it finishes. Then, re-run it after uncommenting

[2021-03-13 14:36] XavierGeerinck opened #14668 "[autoscaler][azure] example-full.yaml fails to launch due to faulty head node permissions configuration"
In the following, could it be that this should be a deep update rather than a normal one?

https://github.com/ray-project/ray/blob/6babd1928c6175803500c1db4ca23b621d89a83f/python/ray/autoscaler/_private/commands.py#L586

E.g. when utilizing the Azure autoscaler, we have a "azure_arm_parameters" key that is being set in

https://github.com/ray-project/ray/blob/6babd1928c6175803500c1db4ca23b621d89a8

[2021-03-13 15:38] pierreia commented on #14548
Hi, Did you success about this problem? I encounter the same difficulty.

[2021-03-13 17:12] robertnishihara commented on #7787
This is still a problem! @ericl this could be a good starter task.

[2021-03-13 18:11] #14642 closed

[2021-03-13 18:14] internetcoffeephone commented on #7946
This comment is to remove the stale label.

[2021-03-13 19:35] AlessandroZavoli commented on #14548
No. I'm stuck in finding the correct size of the state for the initial step.
One possibility could be to use evaluation callbacks, but that's something I still do not understand entirely

[2021-03-13 23:53] AmeerHajAli commented on #14400
@mbehrendt , We are actively working on this. We expect this to be resolved by end of week.

[2021-03-13 23:56] AmeerHajAli commented on #11172
Since we resolved the CPU and memory, should we close this? @DmitriGekhtman

[2021-03-14 00:05] AmeerHajAli commented on #14402
@mbehrendt , We are actively working on this. We expect this to be resolved by March 26 latest.

[2021-03-14 00:36] DmitriGekhtman commented on #11172
Cpu, memory, and uptime fixed.
GPU already fine except for some non-K8s-specific issues documented here https://github.com/ray-project/ray/issues/14664.

I'll briefly look into removing disk altogether, as it's not too meaningful in this context -- k8s node disk usage should be monitored by other means.

At that point it will look pretty good.
There are a couple of other items that should be check

[2021-03-14 04:02] ryaghmaie1 opened #14669 "Install Ray on offline ubuntu system"
Hi Ray team,
I am trying to install Ray on an ubuntu linux system that does not have internet. I have Python 3.6.9 built with numpy, mat4py, ...

- I tried to use the .whl on the website for linux cp36 and it complained that it was not supported on my linux system.
- I cloned the GitHub repo and tried to install using "sudo apt-get install ray". It seems it installed it. See below, however it is n

[2021-03-14 08:53] iuming commented on #9114
@weigao-123 Sorry, after I removed the quotation marks, the following error occurred:
When I enter `ray start --head` on one computer and `ray start --address=192.168.1.121:6379 --redis-password=5241590000000000` on another computer,
[code]

[2021-03-14 12:12] andrew-rosenfeld-ts commented on #14621
Is there any way to make the error message more friendly for users?

It doesn't mention anything about specifying resources per experiment, it suggests creating fewer actors or increasing the resources available to the cluster.

[code]

[2021-03-14 17:21] weigao-123 commented on #9114
@iuming I think this is probably because of your own environment, e.g. the language you use is non-english or something, and you can easily find more information and solutions online. A quick explaination: [https://github.com/odoo/odoo/issues/773](url)

[2021-03-14 17:23] weigao-123 commented on #9114
@iuming I think this is probably because of your own environment, e.g. the language you use is non-english or something, and you can easily find more information and solutions online. A quick explaination: [https://github.com/odoo/odoo/issues/773](url)

[2021-03-14 18:37] robertnishihara commented on #14640
Reopening because I run into this like half of the time that I do `ray.init()`.

[2021-03-14 18:43] robertnishihara commented on #14640
Ok, actually it seems to happen more frequently the first time after I install ray. So I can reproduce it about half the time by doing the following.

[code]

[code]

[2021-03-14 19:55] mbehrendt commented on #14402
excellent -- thx so much @AmeerHajAli , really appreciate it

[2021-03-14 19:55] mbehrendt commented on #14400
excellent -- thx so much @AmeerHajAli , really appreciate it

[2021-03-14 20:10] zrajabi opened #14674 "[tune] not using GPU for HEBO Optimization"
### What is the problem with gpu utilization on HEBO Search?

@richardliaw @Yard1
I am tuning using HEBO on Google Colab with 16G GPU, I import and run the tuner, I set resources_per_trial={"cpu": 2, "gpu": 1} but inside the objective I checked that GPUs is not utilized at all. I get the following warning which will be an error if I have .to(device) for model

/usr/local/lib/python3.7/dist-package

[2021-03-14 20:40] nirvana-msu commented on #13293
Any thoughts?

[2021-03-14 21:16] robertnishihara commented on #6265
This issue came up recently in https://discuss.ray.io/t/runtimeerror-lost-reference-to-actor-when-using-get-actor-directly-i-e-not-storing-in-a-temporary-variable/1261.

@ericl Should we change the error message to say something like: **RuntimeError: Lost reference to actor. Actor handles must be stored as variables. See https://github.com/ray-project/ray/issues/6265 for more details.**

to make i

[2021-03-14 21:26] Yard1 commented on #14674
It's possible something is messing things up inside HEBO. Can you try with:
[code]
?

[2021-03-14 21:35] Yard1 commented on #14674
One more thing, can you try reinstalling pytorch, making sure it's with GPU support? It's possible that HEBO has overwritten it.

[2021-03-14 23:30] zrajabi commented on #14674
@Yard1 I think have Gpu support, this is the whole error trace:
HyperOpt has also shows the same error.

== Status ==
Memory usage on this node: 3.6/12.7 GiB
Using AsyncHyperBand: num_stopped=0 Bracket: Iter 64.000: None | Iter 16.000: None | Iter 4.000: None | Iter 1.000: None
Resources requested: 1.0/2 CPUs, 1.0/1 GPUs, 0.0/7.33 GiB heap, 0.0/3.66 GiB objects (0.0/1.0 accelerator_type:P100)
Resu

[2021-03-14 23:37] zrajabi commented on #14674
ALSO, print("ray.get_gpu_ids(): {}".format(ray.get_gpu_ids())) returns []

[2021-03-14 23:41] Yard1 commented on #14674
And this doesn't happen if you don't install HEBO, correct?

[2021-03-14 23:50] zrajabi commented on #14674
@Yard1 yes, I used to run random search and bayesian-optimization from ray using gpu. Now, it doesn't see any CUDA within the objectives.
Out of the scope of tune.run, it sees the gpu but inside the runner (function), gpu is invisible. Just tried this example from ray:

https://docs.ray.io/en/latest/tune/examples/hyperopt_example.html

put the following within objective function:
print('torch.cuda

[2021-03-14 23:58] Yard1 commented on #14674
I am not that familiar with Colab, I assume it comes with pytorch pre-installed, right? In that case, can you restart the environment and try this (after installing ray and any other packages):
`pip install pymoo gpytorch GPy` and then `pip install --no-dependencies HEBO`

I believe the issue is with HEBO's torch (no gpu support) overwriting colab's torch, and if I am correct, this should prevent

[2021-03-15 01:29] DmitriGekhtman commented on #14666
@sven1977 @richardliaw -- any sense of what's happening here?

[2021-03-15 01:30] DmitriGekhtman commented on #14668
Hi!
Did you encounter problems launching a Ray cluster on Azure?

[2021-03-15 02:30] #14649 closed

[2021-03-15 02:30] aaron-nguyen commented on #14649
Solved

[2021-03-15 07:14] geraint0923 commented on #14669
I don't think ray currently support `apt-get` installation. You can follow this [installation guide](https://docs.ray.io/en/master/installation.html) or [this build-from-source guide](https://docs.ray.io/en/master/development.html#building-ray) given that your computer doesn't have the internet.

[2021-03-15 07:22] XavierGeerinck commented on #14668
Hi @DmitriGekhtman ! This was indeed when launching a cluster on Azure, it failed to create it due to this issue.

[2021-03-15 07:49] SumanthDatta-Kony opened #14679 "Need Implementation Train_test_split"
Hi ,

As a part of Ray API's, users will require an API similar to train_test_split from scikit learn to split into test and train datasets. The API  should distribute the execution across multiple nodes . This is a very useful API for developers. This split should support type numpy,  Tensorflow dataset etc. In my organisation , I was asked to distribute the same across multiple nodes.

I was ask

[2021-03-15 08:06] sikiyu27 opened #14681 "torch export_model and load model"
model=torch.jit.load("model.pt")
print(model(x))

error

RuntimeError: forward() Expected a value of type 'Dict[str, Tensor]' for argument 'argument_1' but instead found type 'UsageTrackingDict'.
Declaration: forward(__torch__.Agent.hierarchical.cnn_skill.CNNetwork self, Dict(str, Tensor) argument_1, Tensor[] argument_2, Tensor argument_3) -> ((Tensor, Tensor[]))
Cast error details: Unable to cast

[2021-03-15 08:20] #14681 closed

[2021-03-15 08:21] sikiyu27 opened #14682 "torch load model"
model=torch.jit.load("model.pt")
print(model(x))

error

RuntimeError: forward() Expected a value of type 'Dict[str, Tensor]' for argument 'argument_1' but instead found type 'UsageTrackingDict'.
Declaration: forward(torch.Agent.hierarchical.cnn_skill.CNNetwork self, Dict(str, Tensor) argument_1, Tensor[] argument_2, Tensor argument_3) -> ((Tensor, Tensor[]))
Cast error details: Unable to cast Pyt

[2021-03-15 09:08] benlevitas commented on #13794
Thank you for this descriptive explanation.
I'm experiencing this same issue when using both venv and virtualenv in python 3.8.7

[2021-03-15 10:25] Sertingolix opened #14683 "[docker] no cuda device availabel in pytorch"
### What is the problem?

The latest docker builds for ray-ml do not support the gpu with torch.

Note: tensorflow works

### Reproduction (REQUIRED)

`docker run --gpus all -it rayproject/ray-ml:nightly-gpu python -c "import torch; print(torch.cuda.is_available())"`

outputs false

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issu

[2021-03-15 11:14] Sertingolix commented on #14683
Apparently the cpu version is installed in this container. I'm not sure if this is intended behavior to keep the image size small. In the meantime you can install torch gpu in the running container or build a new one with the following docker file:

[Dockerfile.txt](https://github.com/ray-project/ray/files/6140905/Dockerfile.txt)

[2021-03-15 12:08] ianormy commented on #13794
Like @benlevitas  I also experienced this problem with python 3.8.7 venv and virtualenv. The only way I was able to solve it was to install Anaconda and create a conda virtual environment. That wanted to install python 3.9 (which doesn't work with ray at the moment) so I downgraded it to python 3.8. Once I'd done that and installed everything, it worked fine.

[2021-03-15 13:38] krfricke opened #14685 "Wheels for python 3.6. do not contain all files (e.g. cluster_utils.py)"
### What is the problem?

The latest wheels for python 3.6. do not contain all files. For instance, `ray/cluster_utils.py` is missing:

[code]

### Reproduction (REQUIRED)
[code]

Output:
[code]

Also:

[code]
The file is really not there.

cc @ijrsvt

[2021-03-15 15:01] edoakes commented on #11172
Thanks for taking initiative on this @DmitriGekhtman!

[2021-03-15 15:06] #14631 closed

[2021-03-15 15:46] AmeerHajAli commented on #14403
@jeremiaswerner  it seems like you are setting `max_workers` to 10, but your tasks needs 100.

[2021-03-15 16:14] krfricke commented on #14685
Seems to have been moved to `ray._private.cluster_utils`

[2021-03-15 16:14] #14685 closed

[2021-03-15 16:17] ijrsvt commented on #14685
@krfricke good finding! I was able to repro this on Py37 & Py38 as well!

[2021-03-15 16:18] mbehrendt commented on #14403
thx @AmeerHajAli . in the scenario i described there were simply no additional task containers created, although the `max_workers` value hadn't been reached yet.

[2021-03-15 16:32] DmitriGekhtman commented on #14402
Thanks for this detail. I'm 95% sure this is a concurrency issue stemming from getting and setting of pods' metadata.labels field.
("node tags" in Ray autoscaler language)

[2021-03-15 17:43] #14431 closed

[2021-03-15 18:31] ijrsvt commented on #14683
@Sertingolix Thanks for bringing this up! I was under the impression that installing [`torch+cu110`](https://github.com/ray-project/ray/blob/master/python/requirements_ml_docker.txt) was sufficient for GPU support (it is done [here](https://github.com/ray-project/ray/blob/master/python/requirements_ml_docker.txt)).

I will look into getting this working!

[2021-03-15 18:50] architkulkarni opened #14688 "[Serve] Better warning for create_backend with not enough CPUs"
### Describe your feature request

When calling `create_backend()`, if there are not enough CPUs to hold the replicas, we get the following error message:

[code]

We should print out the available resources here if it's infeasible.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-03-15 18:50] architkulkarni commented on #14688
cc @edoakes

[2021-03-15 19:02] jsuarez5341 opened #14689 "[rllib] rollout_fragment_length using count_steps_by parameter"
The rollout_fragment_length parameter should be counted in environment_steps, not agent_steps.

The utility of the count_steps_by parameter is to maintain fixed-size batches (e.g. consistent memory usage) in variable-agent environments. Using agent_steps to compute rollout_fragment_length will result in mixed-size fragments and inconsistent LSTM backpropagation horizons.

Ray version: all, includi

[2021-03-15 20:52] DmitriGekhtman commented on #14668
Could you post the full cluster launching config yaml and the version of Ray used to launch?

[2021-03-15 21:11] Sertingolix commented on #14683
I would have assumed that too. Maybe there is another torch dependency.
Happy to help. rllib is great :)

[2021-03-15 21:16] XavierGeerinck commented on #14668
Definitely, the cluster launching config is the one from the example:

**Version:** 2.0.0.dev0

**Cluster Launch Config:**

[code]

[2021-03-15 21:54] DmitriGekhtman commented on #14668
Ah.. was expecting to see one of the Azure configs in `https://github.com/ray-project/ray/tree/master/python/ray/autoscaler/azure`

When launching this example on a Kubernetes cluster, the `head_node_config` in the line
```head_node_config.update(head_config["node_config"])```
should actually be any empty dict before the execution of the line.

What errors/issues did you see when launching with th

[2021-03-15 23:17] AmeerHajAli commented on #14550
Thanks @jennakwon06 !
The AWS node provider runs the termination in parallel (https://github.com/ray-project/ray/blob/72615ae590d32d4ac1e36e3134e5bec8c7ecac9e/python/ray/autoscaler/_private/aws/node_provider.py#L468)

We should just run the docker stop in parallel as well, @ijrsvt , this should be easy to do as well right? We can spawn multiple threads to call `run_docker_stop`.

[2021-03-16 00:32] #14553 closed

[2021-03-16 02:32] #14688 closed

[2021-03-16 03:29] richardliaw commented on #14640
Also see this:

[code]

[2021-03-16 03:30] deetungsten opened #14697 "Mac M1 Support"
Hello,

I am not sure if I should post this on the discuss channel or here but I have been trying to build Ray for the new Mac M1 CPU. Now that bazel, boost, and protobuf is natively supported, it seems possible but I am having issues with the boost bazel rules. I'm having the same exact issue as this [ticket](https://github.com/ray-project/ray/issues/7184) but with the M1 CPU. Does anyone have an

[2021-03-16 03:33] FarzanT commented on #7744
@richardliaw Hi, do you have any advice on using the Repeater for cross-validation? If not, do you have another technique in mind?
Thank you!

[2021-03-16 04:46] tgaddair opened #14699 "[kubernetes] Allow exposing custom ports with Kubernetes Operator"
The [Ray Kubernetes Operator](https://docs.ray.io/en/releases-1.2.0/cluster/k8s-operator.html) makes it easy to spin up a Ray cluster on Kubernetes, but unlike the cluster config, it doesn't provide a mechanism to expose custom ports.

Using a normal Ray config for Kubernetes, we could do something like this to add port `8000` for Ray Serve:

[code]

However, the k8s operator abstracts the service

[2021-03-16 04:48] tgaddair opened #14700 "[autoscaler] [kubernetes] Calling ray down does not remove Kubernetes services"
When creating a cluster on Kubernetes, Ray will allocate a service routing traffic to the head node when the user adds this to their cluster config:

[code]

However, when calling `ray down cluster.yaml`, this service (unlike the pods) will not be removed. The expected behavior is that all resources created by `ray up` should be properly cleaned up after calling `ray down`.

cc @richardliaw

[2021-03-16 05:47] mGalarnyk opened #14702 "[doc] Add Ray Use Case Section"
### What is the problem?

The docs don't have a use case section. I would like to add one. One option is in the [What is Ray] section.  It would be next to  sections for [Blog and Press](https://docs.ray.io/en/master/#blog-and-press) and [Talks (Videos)](https://docs.ray.io/en/master/#talks-videos).

Some links would include:

- [Ray, Amazon] [Introducing Amazon SageMaker Reinforcement Learning Co

[2021-03-16 05:50] mGalarnyk commented on #14702
Accidentally  added the labels.

[2021-03-16 06:49] richardliaw commented on #14699
@DmitriGekhtman would it be possible to support this?

[2021-03-16 06:54] richardliaw commented on #7744
Hey @FarzanT sorry for the slow reply! Repeater would allow you to run the same model/hypers but using an index to do a different split.

In general I would suggest just doing the cross validation manually within the training run. This is what we do in `tune-sklearn`: https://github.com/ray-project/tune-sklearn/blob/master/tune_sklearn/_trainable.py#L176

[2021-03-16 07:53] XavierGeerinck commented on #14668
My apologies, I am confusing this with another issued I opened :)

For the Azure setup one I am indeed utilizing the link you provided and the [`example-full.yaml` file in there.](https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/azure/example-full.yaml)

When I execute that one then, it states that publicKey and sshUser are missing since they are being removed from the config

[2021-03-16 11:38] Mr-Pepe commented on #14667
I am having the same problem using Ax. My experiment finished regularly after 20 trials, but I would like to continue tuning without rerunning those 20 configurations that were tested already.

[2021-03-16 13:49] DmitriGekhtman commented on #14700
One could also clean up the k8s permissions objects created by ray up.

I think the most straightforward way to achieve this would be to add a clean up method to the node provider interface and implement it in KubernetesNodeProvider.

@edoakes @richardliaw
What do you think?

[2021-03-16 13:56] tgaddair opened #14708 "Ray K8s Operator broken in nightly"
Ray Operator that was working yesterday using the default cluster config now fails when upgrading with the following pod logs:

[code]

Rolling the operator back to image `rayproject/ray:ef5adc` resolves the issue.

[2021-03-16 14:02] DmitriGekhtman commented on #14699
Port 8000 for Ray Serve should be added to the default service.

Should be easy enough to add an optional list of port name/number pairs to the CRD.

Maaybe would consider embedding a service spec into the CRD for full configurability.

In the meantime, you can use kubectl edit to tweak the service without too much pain.

[2021-03-16 14:04] DmitriGekhtman commented on #14708
Will fix shortly.

[2021-03-16 14:46] perara opened #14710 "[rllib] LocalReplayBuffer when replay_sequence_length > 1"
### What is the problem?
When setting `replay_sequence_length` > 1 for the `LocalReplayBuffer` the assertion `AssertionError: Cannot timeslice along `seq_lens` when `seq_lens` is empty or None!`is thrown. `timeslice_along_seq_lens_with_overlap`does not pass seq_lens and seq_lens are None in the SampleBatch

Goal: To retrieve (and store) samples from the buffer in the format [batch, seq, features]

[2021-03-16 15:17] DmitriGekhtman commented on #14708
Actually, I'm not currently able to replicate with the default configs.

@tgaddair
Do you specify memory limits in your pod specs?

[2021-03-16 15:21] edoakes commented on #14699
FYI @simon-mo

[2021-03-16 16:07] #12323 closed

[2021-03-16 16:07] #12304 closed

[2021-03-16 16:08] edoakes commented on #11617
@simon-mo please close this issue with your upcoming PR

[2021-03-16 17:39] edoakes opened #14714 "[serve] Update kubernetes docs to use the operator"

[2021-03-16 17:39] edoakes commented on #14714
@simon-mo think you could take this sometime soon?

[2021-03-16 17:40] ijrsvt opened #14715 "Fix Asyncio Event Metrics on Java"
### What is the problem?
* Asyncio Event Loop Metrics (introduced in #14546) seem to cause segfaults in Java Tests.
* This caused Asyncio Event Metrics to be disabled in #14692. This issue is to fix the cause of the segfaults and re-enable Event Loop Metrics.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short co

[2021-03-16 17:41] ijrsvt commented on #14715
cc @iycheng Can you add some of your findings here?

[2021-03-16 17:46] rkooo567 commented on #14715
cc @ericl @clarkzinzow @iycheng

[2021-03-16 17:46] iycheng commented on #14715
It crashed at java's failure test:
[code]
In this test, [system.exit is called](https://github.com/ray-project/ray/blob/bd641a5e7137e23a340454902a6f1b95efe2f719/java/test/src/main/java/io/ray/test/FailureTest.java#L64
), which will destruct the main thread.

I guess, io_worker is running in a separate thread and using the resources from the main thread, which might be the reason that leads to this

[2021-03-16 17:52] ericl commented on #14715
Is the issue that the stats data structure is getting deallocated before all callbacks have finished? A workaround might be to move that into its own data structure referenced from instrumented_io_context by a shared_ptr. Each of the posted closures should also capture a reference to that shared ptr, keeping it alive until all callbacks have finished.

[2021-03-16 17:58] edoakes commented on #14700
@DmitriGekhtman that seems pretty reasonable. Would it also be possible to accomplish it without adding a new interface by configuring k8s to GC the services & permissions when the head node goes down?

[2021-03-16 18:05] iamhatesz commented on #12742
@djoull

Hey, could you please provide more details on your successful compilation of Ray? I did as you suggested but I keep receiving Bazel errors:

On version 3.2.0:

On latest version 4.0.0:

[2021-03-16 18:06] dHonerkamp commented on #7923
I am running into a similar issue:
Training with SAC on a continuous actions space and getting nan's in the predicted actions after an unspecified amount of time. Training on the same environment with Stable-baselines3 I did not experience this, making me think that this is not due to the environment.

A bit different to the above is that this does not seem to happen with PPO (so far). Actions are

[2021-03-16 18:07] DmitriGekhtman commented on #14700
Probably -- the details to make it work would differ between cluster-launcher / operator.
Given that we're planning to soft-deprecate using the cluster launcher, might make sense to just do it for the operator.

In the context of the operator, I think it would make sense to have the cluster custom resource own the service.

[2021-03-16 18:13] tgaddair commented on #14700
Hey @DmitriGekhtman, thanks for looking into this. Curious what you mean by soft deprecating the cluster launcher. K8s operator is awesome, but needing to use kubectl to interact with pods directly and less support for mounting local directories makes it less suitable for development. Are there plans to support these features through the operator?

[2021-03-16 18:14] tgaddair commented on #14708
Hey @DmitriGekhtman, yeah I was using the config in the Ray repo at `ray/python/ray/autoscaler/kubernetes/operator_configs/example_cluster.yaml`. It specifies resource limits:

[code]

[2021-03-16 18:21] DmitriGekhtman commented on #14700
Thanks -- that's helpful feedback.

By soft-deprecation, I mean removing documentation for the cluster launcher, the idea being that it's better to have one recommended interface for launching Ray clusters on Kubernetes.
We might reconsider it.

cc @richardliaw

Most of the ray cli commands just call kubectl exec.

@tgaddair
For your workflow, are you mounting local directories to all of the Ray n

[2021-03-16 18:29] DmitriGekhtman commented on #14708
will try again to replicate

[2021-03-16 18:31] DmitriGekhtman commented on #14708
This should fix the issue though -- https://github.com/ray-project/ray/pull/14712

[2021-03-16 18:32] edoakes commented on #14700
Btw @tgaddair we are currently in the process of adding support for shipping local directories in ray core itself so that workflow should be supported independent of how you deploy Ray

[2021-03-16 18:55] DmitriGekhtman commented on #14668
Got it, thanks!
I'm going to modify the name of this issue for better visibility.

[2021-03-16 19:18] tgaddair commented on #14700
Nice!  All of that sounds good. For my use case, I want to be able to make changes to my local Python code that are then reflected on both the head node and the workers. Right now I do this through the YAML when using `ray up`:

[code]

Here `python` is a directory containing my local Python files.

In general, I think being able to launch a Ray cluster using the operator, then interact with it vi

[2021-03-16 19:36] edoakes commented on #14700
@tgaddair yep, makes sense, a lot of users follow a similar workflow. Our intention is for this workflow to be done via the Ray client like:

[code]

The files in `working_dir` would be available on every node in the working_dir of the tasks/actors and `py_modules` would be injected into the `sys.path`.

[2021-03-16 19:57] Nanda-Nandan opened #14717 "Ray Serve SimpleQueue objects should only be shared between processes through inheritance"
### <!--Ray serve debug issue>

### Adding logger object inside backend class raising above error

I am using the code fastapi with ray serve code snippet.
since debugging is not possible even with local mode i used logger to debug,but i am facing issue while adding logger too

[code]
In this code if i am commenting self.logger.info(f"request parameter {request}", request = request)  in GPT2 class

[2021-03-16 20:02] edoakes commented on #14717
@Nanda-Nandan could you please post the full stack trace of the error that you're getting?

[2021-03-16 20:04] Nanda-Nandan commented on #14717
**Thanks for quick response,Here it is**

ERROR:    Traceback (most recent call last):
  File "/home/nanda/Study/environments/dl/lib/python3.8/site-packages/starlette/routing.py", line 526, in lifespan
    async for item in self.lifespan_context(app):
  File "/home/nanda/Study/environments/dl/lib/python3.8/site-packages/starlette/routing.py", line 467, in default_lifespan
    await self.startup()

[2021-03-16 20:17] clarkzinzow commented on #14715
@ericl Each handler stats table _item_ is already [a shared pointer](https://github.com/ray-project/ray/blob/f30ac73640c9ed4927150024cb0726055b576112/src/ray/common/asio/instrumented_io_context.h#L108-L111) for that reason, since the callbacks only need to reference that single handler stats struct, so the closure captures a reference to that shared pointer, suggesting that it should stay alive un

[2021-03-16 20:21] ericl commented on #14715
I mean including the mutex in that structure, since the deallocated mutex
access is crashing.

On Tue, Mar 16, 2021, 1:17 PM Clark Zinzow ***@***.***> wrote:

[2021-03-16 20:21] clarkzinzow commented on #14715
No such safety exists for the [global stats struct](https://github.com/ray-project/ray/blob/f30ac73640c9ed4927150024cb0726055b576112/src/ray/common/asio/instrumented_io_context.h#L105-L106), which is [referenced in the handlers](https://github.com/ray-project/ray/blob/f30ac73640c9ed4927150024cb0726055b576112/src/ray/common/asio/instrumented_io_context.cc#L107-L117) and could possibly be the issue.

[2021-03-16 20:24] clarkzinzow commented on #14715
access is crashing.

The handler stats table mutex isn't accessed in the handler, only the mutexes for the individual handler stats struct and the global stats struct are accessed in the handler. The former is behind a shared pointer and should be fine, but the latter is just a plain struct on the object, which could be the issue.

[2021-03-16 20:25] simon-mo commented on #14717
@Nanda-Nandan can we try move `from loguru import logger` and the setup `logger` into the init method of the GPT2 backend?

[2021-03-16 20:34] Nanda-Nandan commented on #14717
I have moved like below

[code]
It is working fine now,but still i didnt  get the reason behind it.

- Do we need to use different logger or different object if we want to use both outside backend class or inside backend class, i mean to say in case of 2 different backend classes i have to do same in both classes ?
-
- This is not related to  the problem above,Is there any simpler method to debug

[2021-03-16 20:57] ericl commented on #14715
Exactly, we shouldn't be accessing that mutex. Can we move that mutex in
the struct inside the shared ptr so it's lifetime is refcounted?

On Tue, Mar 16, 2021 at 1:24 PM Clark Zinzow ***@***.***>
wrote:

[2021-03-16 21:17] AmeerHajAli commented on #14668
@XavierGeerinck , how important is this issue to you? are you blocked on this? is there a specific timeline by which you need this?

[2021-03-16 21:24] XavierGeerinck commented on #14668
Hi Ameer,

It’s not super crucial but I am blocked by it. I however have another issue open regarding the ray cluster purely running on Kubernetes which is more critical.

Kind regards,
Xavier Geerinck

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ameer Haj Ali ***@***.***>
Sent: Tuesday, March 16, 2021 10:18:11 PM
To: ray-project/ray ***@***.***>
Cc: xavier ge

[2021-03-16 21:25] AmeerHajAli commented on #14668
Can you please provide a link to the k8s issue?

[2021-03-16 21:27] DmitriGekhtman commented on #14668
It's this one https://github.com/ray-project/ray/issues/14666

[2021-03-16 21:29] XavierGeerinck commented on #14668
Yes indeed, my apologies for not linking :)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Dmitri Gekhtman ***@***.***>
Sent: Tuesday, March 16, 2021 10:27:33 PM
To: ray-project/ray ***@***.***>
Cc: xavier geerinck ***@***.***>; Mention ***@***.***>
Subject: Re: [ray-project/ray] [autoscaler][azure] example-full.yaml fails to launch due to faulty head node permi

[2021-03-16 21:36] clarkzinzow commented on #14715
@ericl Are you referring to the table-level mutex or the global stats struct mutex? I'm opening a PR right now that properly moves the latter behind a shared pointer, but I thought that you were referring to the table-level mutex above, where "stats datastructure" is referring to the handler stats table, and you were suggesting that we put the handler stats table + its mutex under a shared pointer

[2021-03-16 21:40] mitar commented on #3055
Unstale.

[2021-03-16 21:40] mitar commented on #4934
Unstale.

[2021-03-16 21:40] mitar commented on #5019
Unstale.

[2021-03-16 21:43] ericl commented on #14715
[code]

^ That mutex.

[2021-03-16 21:46] DmitriGekhtman commented on #14708
I'm not able to replicate with the nightly image, which right now is the same as `rayproject/ray:bd641a`.
I checked that the memory resource that seemed to be causing the issue was filled correctly..
Could you try again (maybe with `rayproject/ray:bd641a` specified in `operator.yaml`) to check if you still see the problem?

[2021-03-16 22:09] simon-mo commented on #14717
because the backend class is running inside another process, you have to initialize the logger separately.

you can use `ray.util.check_serialize.inspect_serializability` utility to check the backend class is serialization or not.
https://github.com/ray-project/ray/blob/master/python/ray/util/check_serialize.py#L131

[2021-03-16 22:14] clarkzinzow commented on #14715
That mutex is never accessed in the callbacks (never locked), since that's a table-level mutex and we don't look up any table items (handler stats) in the callback. We pass the one handler stats that we need into the handler/callback, and that handler stats item is reference counted (shared pointer) and is protected by its own mutex. So I don't see why we would want to put that mutex and the table

[2021-03-16 22:39] Nanda-Nandan commented on #14717
okay then what i should do whn i will create a composed backend and i want to log composed backend,backend1,backend2 using same logger,because in whole application i want to use one logger ?

[code]
like in above code if i want use use same logger for ComposedModel,detector_model,mask_model which is 3 different backends how i can do using same logger ?

[2021-03-16 22:44] DmitriGekhtman commented on #14400
continuing to log findings here...
when I pass in
[code]
and run with a min_workers 30 config,
the cluster eventually reaches 30 pods

[2021-03-16 23:41] simon-mo commented on #14717
This code should work for stdlib logger but i'm not sure why it won't work for logrus logger

[2021-03-17 03:19] DmitriGekhtman commented on #14710
cc @sven1977

[2021-03-17 03:27] DmitriGekhtman commented on #14624
cc @krfricke @richardliaw

[2021-03-17 03:32] DmitriGekhtman commented on #14601
It might help if you could post the bits of code that are causing issues -- it's hard to isolate the issues from this description.

[2021-03-17 03:38] DmitriGekhtman commented on #14467
cc @richardliaw @amogkam

[2021-03-17 03:47] amogkam commented on #14467
@Matrix-World yes internally the `TrainingOperator` class that you define will be copied over to all training process on all nodes. But the `TrainingOperator` class itself is not converted into an actor. We have an internal `TorchRunner` abstraction that is an actor class and represents 1 worker. Each `TorchRunner` objects instantiates the user-defined `TrainingOperator` and stores it as an attrib

[2021-03-17 03:48] #14467 closed

[2021-03-17 04:06] yangysc opened #14723 "[rllib] The cartpole_lstm example errors using APPO in Pytorch"
### What is the problem?
The cartpole_lstm.py example errors if using APPO in Pytorch.
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*
- Ray: 2.0.0.dev0
- OS: Windows 10
- Python: 3.8
- Pytorch: 1.8.0

However, the tf version of APPO can run. So comparing these two files, I found the ways they defined the reduce_mean_valid function is different. So is th

[2021-03-17 06:21] kakaxilyp-dawnlight opened #14726 "[kubernetes][operator] setupCommands doesn't work for header node when using ray operator"
### What is the problem?
- Ray version: 1.2.0
- OS version: Ubuntu 20.04.2 LTS (Focal Fossa)
- Python version: 3.7.7

### Reproduction (REQUIRED)
Example cluster config for ray operator:
[code]
Apply the cluster config by:
[code]
Then check the translated cluster config inside the ray operator:
[code]
Looks like the `setupCommands` in the operator config is translated into `worker_setup_commands`

[2021-03-17 06:25] kfstorm opened #14727 "[Core] Delayed task replies when actor FO happens cause subsequent task failures"
According to https://github.com/ray-project/ray/blob/6e326cc23933c64e203691a7946c105ecb896eea/src/ray/core_worker/transport/direct_actor_transport.cc#L162-L168, this is a known issue but hasn't been addressed.

We recently observed this bug in our internal repo. In our case, an actor crashed and a failover is triggered, but the RPC connection between the caller and the actor is still alive. After

[2021-03-17 06:27] kfstorm commented on #14727
@stephanie-wang @ericl , cc @raulchen @MissiontoMars @ashione @jovany-wang

[2021-03-17 08:56] yywangvr commented on #6240
I get the same warning, how can I solve it?

[2021-03-17 09:12] sven1977 commented on #9270
Correct:
[code]

Also correct: If batch_mode=truncate_episodes, the batches generated by one RolloutWorker always have the rollout_fragment_length size! Not more and not less. It doesn't matter, whether some fragments end without an episode being done (hence "truncate_episodes").
[code]

[2021-03-17 09:25] yywangvr opened #14730 "[core] The remote function has been exported 100 times.."
### What is the problem?
[code]

I read the issues[#6240](https://github.com/ray-project/ray/issues/6240). As I am a new user of Ray, I still don't have any idea to avoid the current warning.

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray version:1.2.0
python version: 3.7.10
OS: Ubuntu 20

### Reproduction (REQUIRED)
In fileA.py

[code]

In fileB.py

[co

[2021-03-17 09:34] krfricke commented on #14609
I'll close this for now since it is probably a usage error. Let me know if the issue persists and can be reproduced on a clean environment/colab.

[2021-03-17 09:34] #14609 closed

[2021-03-17 09:55] Bam4d commented on #14117
So did the PR for the above fix, but the CI build fails for other protobuf-version related reasons. I dont know enough about ray build chain to make the right changes in the build to make it work.

It build completely fine locally for me with `pip install -e .` which is the same thing that happens on the server, So guessing it might be a dependency in a docker image?

[2021-03-17 11:43] krfricke commented on #14624
Ah actually let me cc @amogkam who's been working on the PTL integration recently.

[2021-03-17 14:37] Vigilans commented on #14117
From https://github.com/bazelbuild/bazel/issues/12887#issuecomment-765950727 and https://github.com/bazelbuild/bazel/issues/12887#issuecomment-768894825, update protobuf to latest version also works (built on @acxz 's py39 branch):

[code]

[2021-03-17 14:39] stefanbschneider commented on #7927
I have implemented helper functions for loading the last checkpoint already and would be happy to contribute them. I'll check to find a suitable place in the code and open a PR.

It'd be my first ray PR (other than adding documentation). Anything specific to keep in mind?

[2021-03-17 14:46] sven1977 commented on #14410
Working on:
tf==2.0.4 + numpy==1.19.5
tf==2.4.1 + numpy==1.19.5

Tf is also saying:
`tensorflow 2.4.1 has requirement numpy~=1.19.2, but you'll have numpy 1.20.1 which is incompatible.`

[2021-03-17 14:48] #14410 closed

[2021-03-17 15:08] sven1977 commented on #14533
Seems tf version related.
I can confirm the above for tf==2.4.1, but not for tf==2.0.x

[2021-03-17 15:12] vakker opened #14734 "[rllib] The Monitor wrapper records training episodes instead of evaluation"
### What is the problem?

Ray: 2.0.0.dev0 (897b84b)
Python: 3.8

The [doc](https://docs.ray.io/en/master/rllib-training.html#common-parameters) suggests that using `record_env` saves videos from the evaluation. However, it seems that all the training episodes are saved and none of the evaluation ones. This makes training slow and it doesn't capture what was intended.

### Reproduction (REQUIRED)
P

[2021-03-17 15:32] sven1977 commented on #14533
Hmm, I'm seeing a couple of bugs on our end. One also has to do with the "simple_optimizer" setting and is unrelated to this issue. Either way, the main problem is the tf version, which does not seem to allow

Quick workaround for now: Could you add this to the very top of your script?

[code]

[code]

[2021-03-17 15:34] sven1977 commented on #14533
Also, could you set the `simple` arg to True when using tf2? There is a validation bug that allows this to slip through the cracks. tf-eager should always use the "simple_optimizer" option automatically.

[2021-03-17 15:36] DmitriGekhtman commented on #14730
pseudorandom choice of ray core folks:
cc @stephanie-wang  @wuisawesome

[2021-03-17 15:40] SebastianBodza opened #14736 "[rllib] Offline Learning Bug with SAC"
I am getting the following error:

[code]

my environment looks like this:

[code]

The same happens for the PPO-Agent

[2021-03-17 15:43] astronauti commented on #14736
the worker.json is the following:
[code]

[2021-03-17 15:44] mdwint commented on #13908
I'm looking for this feature as well. So far I've tried `ray.worker.global_worker.run_function_on_all_workers`, but this doesn't work as expected. For some reason the function isn't run on all workers. In #12599 it was mentioned that this function is not a part of the public API, which seems strange for such a core feature.

[2021-03-17 15:47] richardliaw commented on #7927
go ahead and open it!

On Wed, Mar 17, 2021 at 7:39 AM Stefan Schneider ***@***.***>
wrote:

[2021-03-17 16:02] sven1977 commented on #14523
Interesting: Tesla V100 also seems to work fine. Not seeing above error.

[2021-03-17 16:03] sven1977 commented on #14523
[code]

[2021-03-17 16:05] stefanbschneider commented on #7927
Ok, I opened a PR here: https://github.com/ray-project/ray/pull/14735

I tried to follow all contribution guidelines. Tests are failing, but I don't think it's due to my changes. Seems like my tests are passing.

[2021-03-17 16:11] sven1977 commented on #14653
Thanks for filing this @ejunprung . I can reproduce this. ...

[2021-03-17 16:12] vakker opened #14739 "[rllib] Working directory is not set properly on remote workers"
### What is the problem?

Ray: 2.0.0.dev0 (eb00386)
Python: 3.8

Using `os.getcwd()` in an environment gives different answers in remote environments.

Why this is relevant: using `record_env` should produce the videos in a single directory, but with remote workers the paths get messed up.
The gym `Monitor` wrapper uses `directory = os.path.abspath(directory)` to set the directory. Ray changes the

[2021-03-17 16:24] astronauti commented on #14736
Update: With the framewor set to 'tf' instead of 'tf2' it is working. However my environment uses tf2, so i can not train offline and do online evaluation.

[2021-03-17 16:25] sven1977 commented on #14653
One thing, though, your env never produces any observations, ever (you probably mean to do `self.steps += 1` not `self.steps + 1`).
This can be fixed - I guess - by just returning prematurely in the `SampleCollector.episode_step` method iff the episode hasn't even been stepped yet by any agents, circumventing the key error.

So as a workaround: Can you try adding this if block at the beginning of:

[2021-03-17 16:34] Bam4d commented on #14523
@sven1977 you are trying to reproduce with the wrong version of python.

This error only happens to me with 3.8. I cannot reproduce it with 3.7.

[2021-03-17 17:01] kk-55 commented on #14533
Next monday I will be back at work and check it out.

[2021-03-17 17:37] #14460 closed

[2021-03-17 17:46] rkooo567 commented on #13908
@ericl Isn't this something we can resolve with the new runtime_env feature? Can you verify that?

[2021-03-17 17:58] ericl commented on #13908
cc @edoakes I think we'd still need some entrypoint hook right?

[2021-03-17 18:18] edoakes opened #14743 "[packaging] Support specifying the package entirely in Python code without requiring local files"

[2021-03-17 18:19] edoakes opened #14744 "[packaging] Use Python's AST parser to validate the stub file"

[2021-03-17 18:19] edoakes opened #14745 "[packaging] Validate arguments to stub tasks/actors"
Maybe for now we only allow primitive types?

[2021-03-17 18:20] edoakes opened #14746 "[packaging] Support basic cross-environment serialization"
We should be able to use code from the existing cross-language support

[2021-03-17 18:32] amogkam commented on #14624
@e13000 can you describe your use case some more? Is it just to increase concurrency by having multiple trials share GPUs?

This might actually work out of the box. Can you try with fractional GPUs and see if you are running into any issues?

[2021-03-17 20:23] ejunprung commented on #14653
@sven1977 Oops, sorry. Typo.

That if block and it fixes the problem. Thank you so much. We are going to apply a hotfix on our end for now so we're all set!

[2021-03-17 20:43] edoakes commented on #13908
@ericl yeah this will need something a bit separate. It should be easy enough to implement though. We can stuff it in the runtime_env and just do those imports before anything else starts up.

[2021-03-17 20:46] edoakes commented on #13908
@nirvana-msu I think it's be simplest to support something similar to celery here -- are there downsides to this / cases it doesn't cover when compared to dask's preload?

[2021-03-17 22:15] ijrsvt commented on #14535
Fixed by #14556

[2021-03-17 22:16] #14535 closed

[2021-03-17 22:58] DmitriGekhtman commented on #14668
@XavierGeerinck , could you check if the changes in the above PR resolve the problem for you?

[2021-03-17 23:33] DmitriGekhtman commented on #14400
The main source of pain appears to be the shallow copy on this line
https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/_private/kubernetes/node_provider.py#L101
Testing out autoscaling with that fixed...

[2021-03-18 00:03] valiantljk opened #14752 "build from source failed"
### What is the problem?
git cloned the master branch and run the pip install -e . -v failed with error

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
bazel --version
bazel 3.7.0-homebrew

python --version
Python 3.8.3

mac catalina version 10.15.6
### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that ca

[2021-03-18 00:52] rkooo567 commented on #14730
If you change the file this way;
[code]

does it still happen?

[2021-03-18 01:11] ericl opened #14756 "Ray client test hangs due to server errornously calling client method"
The following is a test-only (I believe) deadlock. The dataservicer (second stack) is calling back into the client, which leads to deadlock since the server is blocking on a RPC to itself.

I think the issue is we're launching the test server in the same process as the client.

Repro:
for i in `seq 1 100`; do RAY_CLIENT_MODE=1 pytest -v test_actor.py; sleep 0; done

py-spy dumps:
[code]

[code]

[2021-03-18 01:11] ericl commented on #14756
cc @AmeerHajAli

[2021-03-18 01:22] rkooo567 commented on #14752
cc @fyrestone Do you know what this error means?

[2021-03-18 01:22] ericl commented on #14756
There are a couple mysteries here:
1. How does a ClientObjectRef end up on the server side? The pickling protocol should be turning those into normal object refs.
2. Why does this only happen occasionally? There might be some race condition related to python gc here.

[2021-03-18 01:56] ANarayan opened #14759 "[tune/placement groups] trial resources not being properly allocated in tune.run"
Ray Version: Linux, Python3.7 Nightly Version - commit: 34b5781ae0d46b769e8bac400e0cbad6c60c8fcd

I am running a ray tune experiment on in an interactive slurm session w/3GPUs. I have my specified my `resources_per_trial={'cpu' : 2, 'gpu' : 1}` and am running two trials concurrently. However, I am seeing an unexpected behavior where two trials are being allocated to the same GPU.

Here are the out

[2021-03-18 02:10] DmitriGekhtman commented on #14400
That fixes scaling to the correct number of min_workers, but then something goes wrong with the update threads that are supposed to start ray on the worker pods.

[2021-03-18 02:24] DmitriGekhtman commented on #14726
A bit confusing, but I believe this is working as expected --
The operator translates RayCluster CRs into autoscaling configs for the Ray autoscaler.
The `podType`-specific setupCommands fields are translated into `node-type`-specific
`worker_setup_commands` (maybe not a great name for the field).

The global `worker_setup_commands` and `head_setup_commands` above are left empty, as expected.

[2021-03-18 02:27] DmitriGekhtman commented on #14726
The confusing point is that the internally generated `node_type` `head_node` has `worker_setup_commands`.

[2021-03-18 02:32] DmitriGekhtman commented on #14682
Could you provide more details on your Ray environment -- operating system, Ray version, any other details that could aid in reproduction of the problem?

[2021-03-18 02:35] DmitriGekhtman commented on #14667
cc @amogkam @richardliaw @krfricke

[2021-03-18 02:38] DmitriGekhtman commented on #14736
cc @sven1977 @richardliaw

[2021-03-18 02:43] DmitriGekhtman commented on #14645
cc @krfricke @richardliaw

[2021-03-18 02:55] fyrestone commented on #14752
This looks like the grpc build failed. I am trying to reproduce the problem.

[2021-03-18 03:17] kakaxilyp-dawnlight commented on #14726
@DmitriGekhtman Thanks for the quick reply, but the observation in the environment and cluster referenced above, is the setup command was not executed on the head node.

[2021-03-18 03:30] ericl commented on #14759
This seems to be a regression as of ray==1.2.0

[code]

1.2:
0
0

1.1:
1
0

[2021-03-18 04:35] DmitriGekhtman commented on #14726
Ah, I see. Thanks, will look into fixing that.

[2021-03-18 04:37] richardliaw commented on #14645
Hey @yywangvr, it will run 20 trials in parallel based on your PC cores.

What type of configuration are you interested in doing?

[2021-03-18 06:10] fyrestone commented on #14752
@rkooo567 I can't reproduce the build error in my laptop:
bazel --version with `clean --expunge`
bazel 3.2.0
python --version
Python 3.8.2
Ray version (latest master) ea7c9171e917c8e11552fdb3f92070d662e6006c.

[2021-03-18 06:12] rkooo567 opened #14762 "[Core Worker pubsub] Roadmap"
### Describe your feature request

- [x] Wait for object eviction pubsub. [P0]
- [x] Implement batch long polling reply [P0]
- [x] Replace the WaitForRefRemoved RPC [P0] https://github.com/ray-project/ray/issues/14762
- [x] Extend it to the object directory code path. [P1]
- [ ] Refactor to use the swappable interface to use grpc streaming. [P2] -> probably next Q
- [ ] Integrate to grpc streaming

[2021-03-18 06:47] fyrestone opened #14763 "[Dashboard] Avoid dashboard agent port conflicts."
Currently, the `--metrics-export-port` and `--dashboard-agent-port` are specified by `services.py::start_raylet`. If the port is occupied by other processes, the dashboard agent will be failed to start.

[2021-03-18 07:34] e13000 commented on #14624
Dear @amogkam,
Yes, we want increase concurrency using fractional GPU training due to very limited resources. We are a small research team which has just been founded in a third world country. I'm prepared to migrate back to the country this weekend so I can only test again next week. Previously, I was not able to use fractional GPU training with Ray[Tune] + PL. I understand that one can use multi

[2021-03-18 07:44] jovany-wang commented on #14762
@rkooo567 Hi SangBin, can you @ me in those PRs? I'm interested in it and will follow up it.

[2021-03-18 08:30] sven1977 commented on #14653
Great! I'll also provide a PR with a fix in a sec ...

[2021-03-18 08:32] sven1977 commented on #14653
PR: https://github.com/ray-project/ray/pull/14765

[2021-03-18 09:04] #13578 closed

[2021-03-18 09:12] yywangvr commented on #14730
@rkooo567 , thanks for the suggestion, the warning disappear up to now. But why? Why should we put the remote function in the beginning of the python script?

[2021-03-18 10:30] e13000 commented on #14624
I tried the example here: https://docs.ray.io/en/master/tune/examples/mnist_pytorch_lightning.html
Pytorch==1.8, pytorch-lightning==1.2, ray_tune==1.2, python==3.8.

[2021-03-18 10:39] fyrestone opened #14766 "[Dashboard] Reorganize dashboard modules"
We should reorganize the dashboard modules to make the structure more clear.

- Actor module
  - The `/logical/actor_groups` from logical_view.
  - The `/logical/actors` from logical_view.
  - Update actors from stats_collector.
- Node module is renamed from stats_collector

Also, we can move some control logic out of reporter module, such as `/api/launch_profiling`

Then, dashboard have these mod

[2021-03-18 12:05] WangTaoTheTonic commented on #14463
All PRs related with this issue have been merged. I'd like to keep optimize number of redis connections and see what we can do in phase 2.

[2021-03-18 12:28] Nanda-Nandan commented on #14717
using loggingthe error is not coming,but its not able to log

[2021-03-18 12:28] #14463 closed

[2021-03-18 12:58] ulrikah commented on #7923
I recently encountered this error in my own project. In my case, it seems like it was related to a mismatch between the choice of activation function and the bounds of the action space. I mistakenly used `relu` (the default for SAC) when some other logic in my project assumed `tanh`.

I don't think my example is the typical way people would encounter this error, but I'm mentioning it as a heads-up

[2021-03-18 13:02] Bam4d commented on #13432
@deeplearningrobotics I have been working around this by putting observations that are not tensors into the 'info' dict and then retrieving them later on in the policy by overriding `compute_actions_from_input_dict`. Its pretty hacky but it works :rocket:

[2021-03-18 13:29] sven1977 commented on #14689
@jsuarez5341 , wait, wasn't this the exact purpose of `agent_steps`? To have equally sized batches, no matter how many agents step at the same time and in which frequency?
You can still get the agent_steps from a MultiAgentBatch (even with `count_steps_by=env_steps`) by calling `multi_agent_batch.agent_steps()`.

[2021-03-18 13:40] clarkzinzow commented on #14463
Great work @WangTaoTheTonic! 😁

[2021-03-18 13:49] clarkzinzow opened #14769 "[Core] Docs - run data processing examples in CI"
This involves moving example code into Python modules under `python/ray/tests`, ensuring that those modules are run in CI, and inlining those modules section by section in the docs. See Tune tutorials for an example.

[2021-03-18 13:57] krfricke opened #14770 "Enforce concurrency limiting when running non-random/grid search"
With enabling placement groups per default, we are currently trying to create all requested trials at the start of the experiment. This includes calling `search_alg.next_trial()` many times in the first call of `TrialRunner.step()`. If concurrency is not limited, all hyperparameter configurations for the whole run will thus be sampled at once. Effectively this will turn any search algorithm into r

[2021-03-18 14:18] sven1977 commented on #14644
Thanks for filing this @phixxx5 . This maybe related to this one here: https://github.com/ray-project/ray/issues/14759
How many GPUs do you have on your machine?

[2021-03-18 14:22] sven1977 commented on #14548
The initial state can be all zeros and has to be of size: [B, `attention_memory_inference`, `attention_dim`], where B is the batch dimension (any number) and the other number are your attention specific config settings.
E.g. `np.zeros(shape=[B, 50, 16])` if config.attention_dim=16 and config.attention_memory_inference=50.
Does this help?

[2021-03-18 14:24] sven1977 commented on #14736
@astronauti , would you be able to provide a short, self-sufficient reproduction script. I see you posted the data, so I won't need that, just a quick script that shows this error. Then I can debug.

Thanks!

[2021-03-18 14:26] sven1977 commented on #14734
Hey @vakker . Thanks for filing this. Videos should indeed be produced for the evaluation workers (unless maybe there are none).

[2021-03-18 14:42] krfricke commented on #14621
I agree that this is not a very informative or actionable error message.

When requesting too many resources within a placement group (as in this case) the message could/should point out that the limit lies within the placement group and not the cluster. cc @ericl

For Ray Tune we would actually want custom error messages (e.g. suggesting to set the resources_per_trial parameter), but I don't thin

[2021-03-18 14:56] astronauti commented on #14736
Short example added here: https://github.com/astronauti/Rllibbug.git

Thanks 👍

[2021-03-18 15:06] astronauti commented on #14736
Changing:
[code]

to:
[code]

fixes the error

[2021-03-18 15:13] DmitriGekhtman commented on #14400
After the above fix, the Operator is able to correctly spin up and connect to 30 min_worker nodes
(and it does so pretty fast if the relevant container images are already present on the K8s nodes in use)

The Ray cluster launcher fails to get the min_workers connected properly -- not sure yet why.

[2021-03-18 15:17] ilyakochik opened #14771 "Ray Azure example from manual does not work on Windows 10"
### What is the problem?
When attempting to create an Azure cluster with CLI and YAML provided in the 1.2.0 manual the `ray up` script terminates with an error.

Microsoft Windows `10.0.18363.959`
Python `3.8.8` under Conda env
Ray `1.2.0`

### Reproduction (REQUIRED)
1. Create `azure.yaml` from https://github.com/ray-project/ray/blob/releases/1.2.0/python/ray/autoscaler/azure/example-full.yaml
2.

[2021-03-18 15:20] XavierGeerinck commented on #14668
Hi @DmitriGekhtman I checked into this and applied the fix (as far as I could see it was only the `config.py` ) that got adapted. However, when running this I still get the same issue and the previous parameters were overwritten.

What I added:

[code]

Result I get:

[code]

When adding 2 logging events after the lines shown below, I still see the parameters being overwritten. Did I miss a change

[2021-03-18 15:53] ijrsvt commented on #14668
@XavierGeerinck Two things
1. Can you try to run this with `--no-config-cache`
2. Can you add a log after this line https://github.com/ray-project/ray/blob/971855a35376a74bb227155274a2d49a742eac1c/python/ray/autoscaler/_private/commands.py#L237

[2021-03-18 16:09] XavierGeerinck commented on #14668
@ijrsvt thanks for the `--no-config-cache` tip! I forgot to utilize it, but it seems to be working now! Config 2 is showing the updated map now! Will keep you posted, but I think it's resolved.

[2021-03-18 16:11] ilyakochik opened #14774 "Ray GCP example does not connect to SSH on Windows 10"
### What is the problem?

When attempting to create an GCP cluster with CLI and YAML provided in the 1.2.0 manual the `ray up` script creates the
head node but gets stuck in the infinite attempts to connect to SSH. Separately trying to `ray attach` ends up with an error.

Microsoft Windows `10.0.18363.959`
Python `3.8.8` under Conda env
Ray `1.2.0`
SSH `OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5`

[2021-03-18 16:13] XavierGeerinck commented on #14668
The config issue has been resolved, but I am seeing something else popping up. Should I make a new issue for this one?

[code]

[2021-03-18 16:23] ijrsvt opened #14775 "[Core] `max_calls=1` crashes ray when many tasks are launched."
### What is the problem?
* Ray crashes with `overflow_cpu_instances[i] == 0 Should not be overflow` when launching many tasks with `max_calls=1`. Full error at bottom

*Ray version and other system information (Python version, TensorFlow version, OS):*
- Ray: 1.2.0 (and Ray 2.0.0)
- Python 3.7.7
- Docker: rayproject/ray-ml:1.2.0-gpu (but no GPUs used)

### Reproduction (REQUIRED)
Please provide a

[2021-03-18 16:25] ijrsvt commented on #14668
Great to hear!!!

Yes, that would be great (please assign me to it as well :) )

[2021-03-18 16:37] amogkam commented on #14624
@e13000 there's a change to the example that's needed. The `gpus_per_trial` used for Tune can be fractional, but the `num_gpus` passed into the training function (and ultimately to the pl.Trainer) still needs to be an integer. So you'd have to modify it like so
[code]
Could you try this out? Thanks.

[2021-03-18 16:41] ijrsvt opened #14776 "[Core] `max_calls=1` Causes WorkerStartup to Fail when processing many tasks"
### What is the problem?
* This is the initial issue that caused be to open #14775. That issue is what I've run into while trying to repro this one.
* The error is a segfault here `ray::raylet::WorkerPool::StartProcess()`

* Exact logs are [here](https://gist.github.com/ijrsvt/ef320012aa5a143355dfb178331149bf)

*Ray version and other system information (Python version, TensorFlow version, OS):*
*

[2021-03-18 16:56] XavierGeerinck opened #14778 "AttributeError: 'VirtualMachinesOperations' object has no attribute 'update'"
Ray RLLib
Version 2.0.0.dev0

When running `ray up` for an Azure deployment, the following occurs:

[code]

[2021-03-18 16:57] XavierGeerinck commented on #14778
Pinging @ijrsvt but can't assign :)

[2021-03-18 17:09] jsuarez5341 commented on #14689
Hmm I see what you mean. Yes, we want equally sized batches. The only issue is that rollout_fragment_length caps the LSTM backpropagation horizon. I suppose that, as a rule of thumb, rollout_fragment_length > max_agents * max_seq_len ? That might solve the problem, will run some tests and circle back.

[2021-03-18 17:56] ijrsvt commented on #14775
cc @wuisawesome Any ideas about this?

[2021-03-18 18:03] wuisawesome commented on #14775
Your title says `max_calls=-1`, but your repro has `max_calls=1`.

We should fix this either way though. It might just be an edge case in worker termination.

cc @ericl

[2021-03-18 18:07] ijrsvt commented on #14775
@wuisawesome Yikes, I definitely meant `max_calls=1`.

[2021-03-18 18:24] ijrsvt commented on #14778
@gramhagen should we be using `virtual_machines.begin_update` instead of `virtual_machines.update`?

[2021-03-18 18:30] gramhagen commented on #14778
yes, that's the right command for newer versions of the azure sdk.

[2021-03-18 18:34] richardliaw commented on #14644
@phixxx5 can you provide the output of `/tmp/ray/session_latest/logs`?

[2021-03-18 18:38] richardliaw opened #14779 "[tune] Support resume in AxSearch"
I am having the same problem using Ax. My experiment finished as expected after 20 trials, but I would like to continue tuning without rerunning those 20 configurations that were tested already.

_Originally posted by @Mr-Pepe in https://github.com/ray-project/ray/issues/14667#issuecomment-800185465_

[2021-03-18 18:45] XavierGeerinck opened #14780 "Azure Autoscaler - Permission denied connecting to Docker socket - Head Node Setup"
Ray RLLib
Version 2.0.0.dev0

When running `ray up` for an Azure deployment, the following occurs:

[code]

[2021-03-18 18:45] XavierGeerinck commented on #14778
@gramhagen that's it! It's trying to spin up! Stuck at another error now though 😅

Made a new issue for this and am looking into it already https://github.com/ray-project/ray/issues/14780

[2021-03-18 18:46] XavierGeerinck commented on #14780
Might be related to https://github.com/ray-project/ray/issues/13711

[2021-03-18 18:49] e13000 commented on #14624
Hi @amogkam

It works! I really appreciate your help. It would be nice if the examples for pytorch-lightning are updated.

Best Wishes,
e13000

[2021-03-18 18:51] kakaxilyp-dawnlight commented on #14726
Great, thanks.

[2021-03-18 18:51] amogkam commented on #14624
Great! Yes I will make the change, I just wanted to make sure it worked for you first.

[2021-03-18 18:58] richardliaw commented on #14640
@wuisawesome @ericl this happens really often to me, anyone I should assign for this?

[2021-03-18 19:11] DmitriGekhtman commented on #14726
In the meantime, you can build images with necessary stuff installed on top of a `rayproject/ray` image and specify those in the pod specs.
This matches K8s best practices a bit better, but is a bit less convenient for experimentation/iteration.

[2021-03-18 19:26] #14172 closed

[2021-03-18 19:33] rkooo567 commented on #14776
[code]

This sounds sketchy. It shouldn't happen anymore because the heartbeat is in a different thread. We might have some condition that overloads raylet when there are many tasks.

[2021-03-18 19:44] ian-cannon commented on #14107
I have a fix for this. It seems that logp is being set at a list in dreamer_torch_policy.py by setting logp to a tensor, it now has the .float() property that torch_policy is looking for.

```logp = torch.tensor([0.0])```

I can submit a PR for this.

[2021-03-18 20:19] phixxx5 commented on #14644
There is one GeForce GTX 1050 Ti

[2021-03-18 20:23] DmitriGekhtman commented on #14771
Launching clusters on Azure probably won't work until this is merged
https://github.com/ray-project/ray/pull/14750
and these are addressed
https://github.com/ray-project/ray/issues/14778
https://github.com/ray-project/ray/issues/14780

[2021-03-18 20:34] phixxx5 commented on #14644
Didn't know which logs specifically so I zipped all that weren't empty @richardliaw
[logs.zip](https://github.com/ray-project/ray/files/6167043/logs.zip)

[2021-03-18 21:09] DmitriGekhtman commented on #14774
Thanks for the details! We’ll look into this.

[2021-03-18 21:55] #14586 closed

[2021-03-18 23:00] #14668 closed

[2021-03-18 23:04] franklsf95 opened #14788 "[object_store] Object Spilling does not work properly"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

* Ray: nightly (3/18/2021) via https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl
* Python 3.8.5
* Linux ip-172-31-61-153 5.4.0-1038-aws #40~18.04.1-Ubuntu SMP Sat Feb 6 01:56:56 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### Reproduction

[2021-03-18 23:14] DmitriGekhtman commented on #14400
The issue with the cluster launcher was resolved when I raised memory requests and limits from the example 512Mi to 2Gi.
Probably if the operator pod were that memory-constrained, we would see the same problem.

The failure mode I saw for a memory-constrained autoscaler is pretty bad, so I'll open another issue for that.

[2021-03-18 23:17] #14400 closed

[2021-03-18 23:25] #14618 closed

[2021-03-18 23:26] nirvana-msu commented on #13908
@edoakes Dask config option seems overly-complicated to my taste (as is the most of Dask API... so refreshing to use Ray in that sense). Celery-style list of modules to import seems perfectly suitable to me.

[2021-03-18 23:39] ijrsvt commented on #14775
One interesting thing I've noticed while debugging is that the WorkerID from Redis is nil ([here](https://github.com/ray-project/ray/blob/0495d6af1581e2d3bbd4e0819265cf17d2c41611/src/ray/raylet/node_manager.cc#L762)) on the worker crash that tore down the cluster.

[2021-03-18 23:40] DmitriGekhtman opened #14789 "[autoscaler][kubernetes] Bad autoscaler/K8s behavior under memory constraints"
### What is the problem?

I try to launch 30 min_workers on K8s, with the autoscaler running in a memory-constrained environment (a pod with requests=limits=512Mi).
30 worker pods get launched, but the pods do not successfully connect to the Ray cluster.
`ray status` reports various states for head node and workers each time I attempt this.

For future scalability efforts, it would be good to unde

[2021-03-18 23:59] wuisawesome commented on #14775
interesting... that could explain why we're not freeing resources properly/why the cluster resource view is messed up... Any ideas why the worker id is messed up?

Other option is to bisect to find the issue.

[2021-03-19 00:07] #14624 closed

[2021-03-19 00:34] ijrsvt commented on #14775
@wuisawesome I'm not sure if this was ever **not** a bug :(

I think at the most basic level what is happening is that the CPUs returned by the crashed worker have already been re-added.

I'm not 100% if they were added back for that worker **twice**, or if the task's were added back already:
[code]

One thing that is clear, is that there are **many instances** of the crashed worker returning CPUs

[2021-03-19 00:35] wuisawesome commented on #14775
Yeah, I guess my question is why are we returning the worker multiple times to begin with?

[2021-03-19 01:28] #14501 closed

[2021-03-19 01:33] ijrsvt commented on #14775
@wuisawesome what do you mean by returning it multiple times?

[Here is gist with the main patches I made for debugging purposes and the output of raylet.out](https://gist.github.com/ijrsvt/4c8cf72f31a9daa9fefb2e783df158dc).

It almost looks as if the failure is because of the following scenario:
1. Worker_1 with Task_1 using `cpu = 0` finishes and crashes because `max_calls=1`
2. Worker_1 returns

[2021-03-19 01:36] misterguick opened #14792 "[Slurm] Proper way to launch the same script on n independent nodes"
Hi !

I am using ray for distributing my deep rl APEX implementation. However, I don't want to use ray's capabilities to spread the load on several machines. I want to use it on a single machine at a time. The cluster I'm using is running with slurm. At the moment, I simply run n times my script (with ray.init() and everything inside) independently. However, when runing more than 3 times the same

[2021-03-19 01:49] misterguick commented on #14792
It appears there is a specific place for my kind of questions: https://discuss.ray.io/.

Sorry for the noise.

[2021-03-19 01:49] #14792 closed

[2021-03-19 02:55] DmitriGekhtman commented on #14403
This is also corrected by the one-line fix in https://github.com/ray-project/ray/pull/14773 .
Just need to wait for the nightly image containing the fix to get built!

[2021-03-19 02:55] #14403 closed

[2021-03-19 03:03] richardliaw commented on #14667
hey @Mr-Pepe and @RaphaelCS , thanks for raising these issues. I've open up a feature request for these, and will try to get to them soon.

[2021-03-19 03:04] DmitriGekhtman commented on #14402
Fixed by https://github.com/ray-project/ray/pull/14773 .
@mbehrendt
will let you know when the nightly image with the fix gets built.

After the image with fix is built --
If using `ray up` to launch with many Ray pods, the Ray head pod should get at least 1Gi memory request+limit .

We'll go ahead and update the cluster launching example configs to have a 1Gi limit..

Thanks again for reporting t

[2021-03-19 03:12] RaphaelCS commented on #14667
Thanks a lot!

[2021-03-19 03:26] richardliaw commented on #14644
Hmm, seems like this is showing up here:

[code]
in python-core-worker.py

seems like the Raylet also died mysteriously.

[2021-03-19 03:26] richardliaw commented on #14644
Does the error occur if you disable GPUs?

[2021-03-19 03:40] DmitriGekhtman commented on #14402
An image with the fix has been built!

[2021-03-19 03:41] Maxwell2017 commented on #4146
Hi @denkoRa ，I am currently trying to use rllib to train a dmlab30 game. Have you succeeded? How should I use gym to Package dmlab30, I am new to RL, sorry for the basic question。

[2021-03-19 03:46] DmitriGekhtman opened #14794 "[docker] Images with extraneous Ray commits might sometimes be getting tagged nightly"
### What is the problem?

Looks like images with non-merged PR commits occasionally might sometimes get tagged nightly.
I recently pulled a nightly image that had this ray commit in it https://github.com/ray-project/ray/commit/f4b2ae7408c78d8fabf8569e8f458083b1d752ab

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a

[2021-03-19 04:06] richardliaw commented on #14557
@krfricke assigning this to you now, but feel free to set the priority of the task :)

[2021-03-19 04:49] #14756 closed

[2021-03-19 05:14] Sangboom commented on #14107
I've tried similar things that changing logp to tensor before. Then .float() problem solved. However, that seems to cause problems when using other algorithms like DDPG? isn't it?

[2021-03-19 07:25] perara commented on #8469
@ericl, Are you certain this is not a rllib bug?
I've attached a minimal code that flows over in a matter of minutes on my system. In the start, I suspected the LocalReplayBuffer to be at fault, but after stripping quite a lot away from my code it's still spilling memory.
I cannot rule out that I'm doing something horribly wrong in my setup (someone with a clue should comment on that), but it is a

[2021-03-19 07:42] ericl commented on #8469
@sven1977 could you take a look here? Btw what TF version are you using? There are definitely TF versions that leak memory (<2.1 iirc).

[2021-03-19 08:41] Dastyn opened #14795 "[rllib] with Unity ML-Agents wrapper: Observation for a Box/MultiBinary/MultiDiscrete space should be an np.array, not a Python list"
### What is the problem?

An error is raised when training the 3DBall Unity environment, with or without "--torch" option.
(the 3DBall env has its trained model removed from the inspector, as required)

[code]
### Reproduction (REQUIRED)
[code]
Please find attached the resulting error file.
[error.txt](https://github.com/ray-project/ray/files/6169722/error.txt)

- [X] I have verified my script run

[2021-03-19 08:56] perara commented on #8469
@eric-jj I'm running on 2.4.1. I have, however not encountered these leaks in my own (non-distributed) training loop

[2021-03-19 10:27] XavierGeerinck commented on #14666
Hi @richardliaw / @sven1977 any update on this? :)

[2021-03-19 10:39] Mr-Pepe commented on #14779
I was looking at implementing this but stumbled upon a general question.

What is the desired behavior for resuming a tuning? If the tuning run was interrupted unfinished trials should be run. That's what I think the current implementation tries to do. But what if the tuning run finished as expected and I want to run more trials with new configurations, using existing trials to warm-start the proc

[2021-03-19 11:14] vakker commented on #14523
I'm having the same issue, exact same stack trace. Environment:
Py 3.8
Torch: 1.8.0
OS: Ubuntu 20.04
Conda 4.8.3
Ray: 2.0.0dev
Card: 1080Ti

This also happens when I'm trying to run rollout.py with `--config '{"num_gpus": 0}'` which I would assume stops Ray from using the gpu.

[2021-03-19 11:52] VishDev12 commented on #14544
Sorry for tacking this on here, but I just wanted to add a note that I faced the same issue when using the 1.2.0 cluster launcher with Docker. And as noted above, using the nightly version of Ray to launch the cluster seems to fix it; the Ray cluster itself ran smoothly on 1.2.0.

[2021-03-19 13:42] gduvauchelle commented on #14005
@nirvana-msu This is not as magic as the solution you propose but I have managed to debug code executed remotely with ray (without local mode) by opening a reverse ssh tunnel to the machine where the code is executed, and using the [remote debugging](https://www.jetbrains.com/help/pycharm/remote-debugging-with-product.html#remote-debug-config) feature of pycharm.

[2021-03-19 14:04] DmitriGekhtman commented on #14789
To add more detail -- I used the cluster launcher, so the autoscaler was running on the head node. Perhaps nearly all memory was already being used up by the other Ray head processes.

[2021-03-19 14:47] phixxx5 commented on #14644
Yes it occurs with num_gpus=0 as well. I think the problem seems to lie in gcs_server.out, it contains a lot of this:

    [2021-03-19 14:04:47,027 I 13979 13979] gcs_server.cc:357: GcsNodeManager: {RegisterNode request count: 1, UnregisterNode request count: 0, GetAllNodeInfo request count: 701, SetInternalConfig request count: 0, GetInternalConfig request count: 1}
    GcsActorManager: {Register

[2021-03-19 14:51] ijrsvt commented on #14794
Ah, this looks like when people make branches *directly* on the `ray-project/ray` repo 😞

[2021-03-19 15:35] ssiegel95 opened #14799 "Ray 1.2.0 fails to connect to Ray cluster on K8s (running master)"
Working through the instructions given on https://docs.ray.io/en/master/cluster/kubernetes.html, I'm running into the following issue on this step:

[code]
[code]

I've confirmed that the service is available:

[code]

And I've enabled port forwarding:

[code]

I ran this all from the current master (cd89f0dc55ae98231aa08e9a0e1c80409e75acf1).

Any help would be appreciated. Thanks.

[2021-03-19 15:39] #14778 closed

[2021-03-19 15:41] ijrsvt commented on #14780
@XavierGeerinck Awesome! Glad to hear that worked! I'll be trying to fix some of these launch issues (this one and the one with `setup_commands` as soon as I get some Azure credentials :)

[2021-03-19 15:46] ijrsvt commented on #14774
@ilyakochik What were the permissions on the file: `C:\Users\user/.ssh/ray-autoscaler_gcp_us-west1_ray-test-XXXXXX_ubuntu_0.pem` before you modified them?

[2021-03-19 15:49] RaphaelCS opened #14800 "[rllib] Wrong bytes size of SampleBatch"
Replay buffer can report something like `Estimated max memory usage for replay buffer is {} GB ({} batches of size {}, {} bytes each), available system memory is {} GB`, but I found it cannot correctly estimate memory usage.

I think the bug occurred here:
https://github.com/ray-project/ray/blob/cd89f0dc55ae98231aa08e9a0e1c80409e75acf1/rllib/policy/sample_batch.py#L429
After searching some explana

[2021-03-19 16:16] krfricke commented on #14557
I'll try to get to it next week, it should be a pretty short fix

[2021-03-19 16:17] ijrsvt commented on #14780
Actually @gramhagen Do you know if there is an Azure image that has Docker preconfigured?

[2021-03-19 16:19] DmitriGekhtman opened #14802 "[autoscaler] Improve default setup commands for cluster configs with Docker"
### What is the problem?

The way default setup_commands are set currently for configs that use docker is confusing.
See
https://discuss.ray.io/t/cannot-start-ray-runtime-on-gcp/1011/10
https://github.com/ray-project/ray/pull/14750#issuecomment-802696221

The default setup commands are geared towards launching Ray clusters without docker, but these days we generally recommend running with Docker.

[2021-03-19 16:48] ijrsvt commented on #14774
@ilyakochik We currently don't officially support Cluster Launching from Windows? Would you be interested in helping build out that capability?

[2021-03-19 16:58] gramhagen commented on #14780
Similar images are available here: https://github.com/Azure/AzureML-Containers#how-to-get-the-azure-ml-images

But they don't setup a ubuntu user (just using root), also they don't come with any python packages installed, so you will still need to do that. In short I don't think this is particularly any more helpful than the other images, sorry! =/

[2021-03-19 16:59] edoakes commented on #13908
@nirvana-msu Sounds good, I agree. We will add this to the backlog and address it sometime soon as part of our existing `runtime_env` work.

[2021-03-19 17:01] gramhagen commented on #14780
if you are deploying a vm on azure using the data science vm image will get you docker, ubuntu user, and preconfigured conda environments: https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoft-dsvm.ubuntu-1804?tab=Overview

[2021-03-19 17:34] AmeerHajAli commented on #14400
@DmitriGekhtman , can you please link this issue in the issue you filed for this?

[2021-03-19 17:35] AmeerHajAli commented on #14400
@mbehrendt , did we fix your issues? Can you try using the nightly ray version and test if this works for you?

[2021-03-19 17:35] AmeerHajAli commented on #14402
@mbehrendt , did we fix your issues? Can you try using the nightly ray version and test if this works for you?

[2021-03-19 17:36] AmeerHajAli commented on #14403
@mbehrendt , did we fix your issues? Can you try using the nightly ray version and test if this works for you?

[2021-03-19 17:43] ijrsvt commented on #14780
Hmm, @XavierGeerinck what Sku/version were you using?

[2021-03-19 17:44] mbehrendt commented on #14400
@AmeerHajAli thx a lot for closing the loop on this and driving this to resolution based on my initial tests everything seems to be working very well. I'm planning to do some more larger tests over the next coming days. If I come across any remaining issue as part of that, I'd be circling back with you.

[2021-03-19 17:47] ijrsvt commented on #14780
Thanks so much @gramhagen !!! It looks like these are also used in the YAMLs as well! (I didn't realize  `dsvm` meant "Data Science VM")

[2021-03-19 17:58] AmeerHajAli commented on #14400
@mbehrendt , of course. We want to make sure that you are successful.
Would love to sync up with you after this and learn about your use cases and how we can improve.

[2021-03-19 17:58] AmeerHajAli commented on #14400
@DmitriGekhtman , thanks for fixing this!

[2021-03-19 18:03] fastlaner commented on #9259
Disabling my firewall completely worked for me also (for testing only of course.), so 6379 isn't the only port that needs opened.

[2021-03-19 18:08] kakaxilyp-dawnlight commented on #14726
Sure, we are doing so for now to unblock ourselves.

[2021-03-19 18:14] edoakes opened #14805 "Incremental rollout for re-deployments"

[2021-03-19 18:14] edoakes opened #14806 "Basic FastAPI Ingress support"

[2021-03-19 18:15] edoakes opened #14807 "Decorator syntax for .deploy()"

[2021-03-19 18:15] edoakes opened #14808 "Update docs for HTTP ingress"

[2021-03-19 18:16] edoakes opened #14809 "Update docs for .deploy()"

[2021-03-19 18:17] edoakes opened #14810 "Typed handle to deployments"
[code]

[2021-03-19 19:48] AmeerHajAli commented on #14400
BTW @mbehrendt , did you try using the [k8s operator](https://docs.ray.io/en/master/cluster/kubernetes.html?highlight=operator#managing-clusters-with-the-ray-kubernetes-operator)? What do you think about it? We expect that it is a better use case for k8s than using the ray cluster launcher.

[2021-03-19 20:28] ericl commented on #14789
Can we raise an error by default for excessively small pods (less than 4GB?)

[2021-03-19 21:56] ericl commented on #14788
@franklsf95 can you take a deeper look into what's going on here?

[2021-03-19 23:47] DmitriGekhtman opened #14812 "[Kubernetes][autoscaler] Scale-down failure -- node termination not detected."
### What is the problem?

When attempting shutting down idle Ray nodes on K8s, the autoscaler sometimes terminates a node and then tries to recover it  after missing a heartbeat.

This suggests an issue with the consistency of `KubernetesNodeProvider.non_terminated_nodes()`.

Discussion here: https://discuss.ray.io/t/stuck-trying-to-take-down-workers/1309/16

*Ray version and other system informat

[2021-03-20 00:41] ANarayan opened #14814 "[tune] error when trying to resume tune.run calls that use skopt search"
I am am trying to resume a terminated `tune.run` call that uses the `skopt` search algorithm. I am resuming the experiment by setting `resume=True`.  The original experiment was terminated by a sigkill command (`ctrl + c`).

This is the error that I am seeing:
[code]
The contents of the searcher-state pickle file (which is accessed when restore() is called ) is the following:
`([], skopt.optimizer

[2021-03-20 03:29] mbehrendt commented on #14402
@AmeerHajAli unfortunately it seems like the issue i've been seeing is not fixed yet (assuming i didn't make any mistake, which is not unlikely).

In a scenario where there are lots of pending tasks, for instance, scale-out doesn't seem to be happening, pls see the logs i sent you for details.

[2021-03-20 03:41] DmitriGekhtman commented on #14402
It seems the nightly image once again contains a commit not in master, which once again does not contain scaling fix.
Hopefully this PR is merged soon:
https://github.com/ray-project/ray/pull/14798

In the meantime, please use `rayproject/ray:cd89f0` as the ray head node image.

[2021-03-20 04:47] mbehrendt commented on #14402
great -- thank you. Switching from `nightly` to this image tag fixed the issue -- the system now behaves as expected.

[2021-03-20 05:02] #14794 closed

[2021-03-20 05:02] AmeerHajAli commented on #14402
Awesome!
Thanks for checking on this!

[2021-03-20 05:17] robertnishihara commented on #3274
Still an issue

[2021-03-20 05:47] businesscazz commented on #7645
Hey Team,

I tried to follow the preceeding steps, with no success. Still getting ModuleNotFoundError: No module named tree. I'm trying to run one of the multi-agent_rl - I'm very new to all of this, so any help would be greatly appreciated.
Thanks

[2021-03-20 16:20] ymd-h opened #14818 "[rllib] AttributeError: 'ReplayBuffer' object has no attribute '_num_sampled'"
### What is the problem?

`ReplayBuffer.sample` produces `AttributeError`.

*Ray version and other system information (Python version, TensorFlow version, OS):*

- Docker Python:3.8
- ray-1.2.0

### Reproduction (REQUIRED)

[code]

`AttributeError: 'ReplayBuffer' object has no attribute '_num_sampled'`

The error comes from the following line.

https://github.com/ray-project/ray/blob/fab2c40d2938b

[2021-03-20 17:32] XavierGeerinck commented on #14780
Note though that the conda commands seem to run on the container if I am not mistaken? Those don't have conda available I think?

[2021-03-20 17:45] DmitriGekhtman commented on #14402
Nightly images should be consistent now, thanks @ijrsvt !

[2021-03-20 17:45] #14402 closed

[2021-03-20 19:46] noah-peeters opened #14819 "Could not find a version that satisfies the requirement ray"
### What is the problem?
When trying to install ray using ```pip install ray``` on windows 10, I get an error saying the package "ray" wasn't found.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python version: 3.9.2

### Reproduction
```pip install ray```
```ERROR: Could not find a version that satisfies the requirement ray ERROR: No matching distribution f

[2021-03-20 20:10] #14257 closed

[2021-03-20 20:42] #10216 closed

[2021-03-20 20:52] #14819 closed

[2021-03-20 23:26] wuisawesome opened #14820 "Raylet pinned task argument check fails on large cluster"
### What is the problem?

I get this error when running many tasks of different shapes (with no arguments)

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library depende

[2021-03-20 23:26] wuisawesome commented on #14820
cc @stephanie-wang

[2021-03-21 04:27] JennyLeePMH commented on #11959
I have this issue.

[2021-03-21 07:05] evdcush opened #14822 "[tune] Issue on page /tune/tutorials/tune-advanced-tutorial.html"
### Describe your feature request
Thanks for providing lots of examples for new users!

I've been having issues with one of the tutorials, the [Guide to Population Based Training (PBT)](https://docs.ray.io/en/master/tune/tutorials/tune-advanced-tutorial.html).

It feels like there is a good amount of context missing from the tutorial.

As a new user, I find myself spending time browsing the ray re

[2021-03-21 09:58] seiing commented on #14523
I have exact same issue on below environment:
Python 3.7 and 3.8
PyTorch 1.8.0
OS Ubuntu 20.04
Ray 1.1.0
GPU RTX 3070

[2021-03-21 10:41] seiing commented on #14523
I tested on Python 3.6 and it works on this env!

[2021-03-21 10:53] krfricke commented on #14822
Hi @evdcush, thanks for the feedback. This is really valuable to us, as we really want to make sure that our documentation is great and helps users get familiar with our tools, rather than confuse them.

I totally see your points for both tutorials. I think the first tutorial would benefit from a general overhaul. The second one (hosted on pytorch tutorials) is not as straightforward to revamp - w

[2021-03-21 12:48] ilyakochik commented on #14774
Full permissions `(I)(OI)(CI)(F)` for 4 users.

[2021-03-21 12:48] ilyakochik commented on #14774
Sorry, but not sure I have enough time for that.

[2021-03-21 14:32] AmeerHajAli commented on #13586
Closed in #14608. @wuisawesome, please reopen if I am wrong.

[2021-03-21 14:32] #13586 closed

[2021-03-21 14:52] Counterfeiter commented on #13405
same problem here...

Any solutions ?

My best guss:

[code]

but fails. custom_env is registered before....

[2021-03-21 19:54] andrew-rosenfeld-ts opened #14824 "[tune] Trainable.__init__ docstring refers to build()"
### What is the problem?

This is purely a minor documentation bug.

The docstring for `Trainable.__init__()` includes the text:
```Subclasses should prefer defining ``build()`` instead of overriding ``__init__()`` directly.```

I don't see any other reference to `build()` in the code. Looking at the git history, it seems `build` was superseded by `setup`, yet this docstring wasn't updated. Anothe

[2021-03-21 21:53] robertnishihara opened #14825 "Difficult to find working Ray + Horovod example."
None of the code snippets at https://horovod.readthedocs.io/en/stable/ray_include.html actually run out of the box.

The same is true of the code snippet on https://horovod.readthedocs.io/en/stable/api.html#horovod-ray-api.

If we change them so that users can copy and paste the examples and they just work, that will make it a lot easier to use Ray + Horovod.

@richardliaw

[2021-03-21 22:22] richardliaw commented on #14825
Good point - in the future, can you open issues against the horovod/horovod repo? Thanks!

[2021-03-22 00:45] ijrsvt commented on #14780
@XavierGeerinck Yep! these are run inside the container! _Conda_ is available (with our images), but those environments do not exist!

[2021-03-22 02:08] clay4444 commented on #14759
hi, @ericl, I do actually not get the meaning of this code statement, what's the stand for of the env `CUDA_VISIBLE_DEVICES `

[2021-03-22 03:16] amogkam commented on #14824
Yes, thanks for finding this! `build` has been superseded by `setup`. Do you mind making a quick PR to fix this and tagging me? Thanks!

[2021-03-22 03:52] wuisawesome commented on #14759
@clay4444  those are the ID's of the gpus (the first GPU has id 0, the second has id 1). If CUDA_VISIBLE_DEVICES="0" for both tasks, then they will try to use the same GPU.

[2021-03-22 06:18] simon-mo opened #14829 "[Serve] Pin Pydantic Version"
[code]

[2021-03-22 06:38] clay4444 commented on #14759
Yeah, I got it, thanks~

[2021-03-22 07:22] rkooo567 opened #14832 "Unbounded memory leak from raylet when spilling happens with large number of used objects"
### What is the problem?

Run: python -m ray.experimental.shuffle --num-partitions=1000 --partition-size=1e6 --object-store-memory=1e9

After 820~ish map objects are created, the raylet starts spilling, and you can detect there's a memory leak from the raylet (memory grows unlimitedly, and the machine eventually crashes).

This is highly likely because the spilling logic fuse 100K+ of objects to a

[2021-03-22 07:22] rkooo567 commented on #14832
cc @iycheng @ericl

[2021-03-22 07:30] rkooo567 commented on #14762
@jovany-wang https://github.com/ray-project/ray/pull/14638 here you go.

[2021-03-22 08:11] XavierGeerinck commented on #14780
Ok! Then it's just a matter of configuring those correctly.

I got it running here now! Can definitely do a `.yaml` update once I am able to run an experiment then if that's ok? Currently stuck due to #14666

[2021-03-22 09:05] evdcush commented on #14822
Hi @krfricke, thank you for your quick response and consideration!

I understand your points regarding keeping things as close as possible to the pytorch example; that makes sense especially since you just want to show how to use Ray Tune in pytorch and not how to use pytorch.

I'm glad to hear that PBT tutorial may get a cleanup. And if I find a simpler example I may make a MR.

Thank you!

[2021-03-22 09:05] #14822 closed

[2021-03-22 10:23] Bam4d opened #14834 "[docs][rllib] Contributing documentation does not mention additional dependencies required for to develop"
following the guide on `https://docs.ray.io/en/master/rllib-dev.html` is missing several steps before a working dev environment can be realised.

The current instructions are:
1) install wheels using `pip install -U ....`
2) run `setup-dev.py -y`

However this does not allow you to run any examples with rllib (particularly ones running with tune).

There are several packages missing that are not i

[2021-03-22 12:41] Bam4d commented on #14834
Additionally some of the dependencies in tune such as those in requirements_tune override things like `torch-1.8.0` to `torch-1.7.1-cpu` so its unclear which dependency list is supposed to be installed

[2021-03-22 12:44] mch5048 opened #14836 "[rllib], [tune] Question on gif visualization and customization of TBXLogger."
Hi, I'm working on a customized model-based agent based on the  [Dreamer](https://github.com/ray-project/ray/tree/master/rllib/agents/dreamer) implementation in Pytorch.

I found out that adding the 5-rank tensor of shape [B, T, 3, H, W] generates the gif in the Tensorboard X visualization, and
the code implementation regarding this seems to be [here](https://github.com/ray-project/ray/blob/0452a3

[2021-03-22 12:48] MarcoAlejandro opened #14837 "Issue on page /cluster/kubernetes-manual.html"
The [documentation](https://docs.ray.io/en/master/cluster/kubernetes-manual.html#ray-k8s-static) for a static Kubernetes cluster states:

"_A Ray cluster consists of a single head node and a set of worker nodes (**the provided ray-cluster.yaml** file will start 3 worker nodes)_"

However, the mentioned `ray-cluster.yaml` file isn't linked in the page.

Personally, I found the file after doing a we

[2021-03-22 13:17] sven1977 commented on #13132
Thanks for filing this @cedros23 .
Here is a PR that fixes this problem. I was able to confirm your problem and tested the below PR. Weights for all Q-learning algos that have a `target_q_model` property will sync the target net after re-loading the weights form a checkpoint.
Let me know, if this doesn't work for you.

https://github.com/ray-project/ray/pull/14838

[2021-03-22 13:25] krfricke commented on #13953
More detailed debug message:

[code]

Seems to be related to #14759

[2021-03-22 14:13] MarcoAlejandro commented on #14799
I'm having the same problem.

Kubernetes Ray cluster:
[code]

Cluster services:
[code]

And the port `10001` is being forwarded.

Exception message:

[code]

[2021-03-22 14:51] edoakes opened #14841 "Support calling different methods directly with the ServeHandle"

[2021-03-22 14:52] edoakes opened #14842 "[serve] Client-side validation for handle calls"

[2021-03-22 15:28] pierreia commented on #14697
I got exactly the same problem, I spent so many hours configuring my Mac M1 to run machine learning librairies on it... I so regret buying this!!

[2021-03-22 15:39] sven1977 commented on #13026
Downgrading this to P3.
1) Models have to declare that they require PREV_ACTIONS/PREV_REWARDS via their `self.view_requirements` dict.
See the examples here:
rllib/models/tf/recurrent_net.py::LSTMWrapper (most previous action/reward)
rllib/models/torch/recurrent_net.py::LSTMWrapper
rllib/models/tf/attention_net.py::AttentionWrapper (range of previous n actions/rewards)
rllib/models/tf/attention_ne

[2021-03-22 15:39] #13026 closed

[2021-03-22 15:53] sven1977 commented on #8469
Taking a look ...

[2021-03-22 15:56] #14415 closed

[2021-03-22 16:17] MarcoAlejandro commented on #14799
Documentation for `v1.2.0` has a different page. I will follow that version.

https://docs.ray.io/en/releases-1.2.0/cluster/kubernetes.html#ray-k8s-run

[2021-03-22 16:55] sven1977 commented on #8469
It does seem to only happen in non local mode.
Also, when I switch back `batch_mode` to `trincate_episodes`, there is also no leaking (even in non-local mode).
...

[2021-03-22 17:03] sven1977 commented on #14734
This PR fixes the problem (and many others related to recording, monitoring, rendering):
https://github.com/ray-project/ray/pull/14796

[2021-03-22 17:03] #14734 closed

[2021-03-22 17:07] Carterbouley opened #14847 "[rllib] Restoring agent leads to: 'AttributeError: 'PPO' object has no attribute 'optimizer'' using ray tune as a reinforcement learning agent."
### What is the problem?

Agent is unable to be restored from checkpoint.

I have trained a ray tune agent using a cloud cluster, and downloaded the checkpoint to test the actions on my local machine.

I get the error 'AttributeError: 'PPO' object has no attribute 'optimizer''

Here is the stack trace:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

P

[2021-03-22 17:07] amogkam commented on #14026
@wuisawesome @simon-mo @edoakes is this still a release blocker? If so, who should this be assigned to?

[2021-03-22 17:20] #14829 closed

[2021-03-22 17:22] ijrsvt opened #14849 "Ray Start Fails if colorful is not installed"
### What is the problem?
When I run  `ray start --head --port=6379 --object-manager-port=8076 --autoscaling-config=~/ray_bootstrap_config.yaml)'` without `colorful` installed, I get the following error:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that c

[2021-03-22 17:22] ijrsvt commented on #14849
It looks like this is caused by #14793

[2021-03-22 17:23] ijrsvt commented on #14849
cc @richardliaw

[2021-03-22 17:35] andrew-rosenfeld-ts commented on #14824
Sure @amogkam, I created https://github.com/ray-project/ray/pull/14850 to fix this.

[2021-03-22 17:49] amogkam commented on #14640
@richardliaw @wuisawesome @ericl per @robertnishihara's suggestion, should this be a release blocker?

[2021-03-22 17:49] amogkam commented on #14485
@ericl per @robertnishihara's suggestion, should this be a release blocker?

[2021-03-22 17:50] ericl commented on #14485
No, we are prioritizing this for Q2 though.

[2021-03-22 17:53] #14824 closed

[2021-03-22 17:55] wuisawesome commented on #14026
I don't think it's been fixed (beyond my hasty hotfix), but will defer to the dashboard folks on what to do about it.

[2021-03-22 18:10] amogkam commented on #14640
@wuisawesome are you planning to take this on? who would be the best person to assign to this?

[2021-03-22 18:11] wuisawesome commented on #14640
Core team will triage it today.

[2021-03-22 19:06] stephanie-wang commented on #14577
@kfstorm, do you think you could take this issue since it is related to the idle worker killing?

[2021-03-22 19:07] ericl commented on #14832
Can we just add the quick fix of at most 10k objects per spill file?

[2021-03-22 19:08] wuisawesome commented on #14776
Let's make sure #14775 doesn't fix this first before investigating.

[2021-03-22 19:40] xcharleslin commented on #14551
@pcmoritz please triage so this doesn't get forgotten ;)

[2021-03-22 19:42] ericl commented on #14776
I'm going to mark this as needs repro until that other issue is resolved.

[2021-03-22 20:09] ericl commented on #14485
Implementation note: I think the right fix here is to serialize the exception into a plain string on the producer side, and then RAY_LOG(ERROR) it from the core worker instead of calling back into Python land. This will require us to also fix https://github.com/ray-project/ray/issues/12893

[2021-03-22 20:55] rusu24edward opened #14852 "[rllib] Box with single output doesn't need to be array"
### Describe your feature request
Currently, Box observation space requires the output to be an np.array, with the familiar error: `ValueError: ('Observation for a Box/MultiBinary/MultiDiscrete space should be an np.array, not a Python list.'` This is bit annoying for situations where only a single value is returned. It would be nice of rllib could handle single-value cases as special case here.

[2021-03-22 20:59] mGalarnyk commented on #14702
Can I open a PR for this?

[2021-03-22 21:01] edoakes opened #14853 "Make rolling update batch size configurable"
We can do the same as k8s
https://kubernetes.io/docs/tutorials/kubernetes-basics/update/update-intro/

[2021-03-22 21:05] kathryn-zhou opened #14854 "Cluster pending nodes incorrectly collected"
### What is the problem?
The number of pending nodes on a cluster is not being updated after new nodes scale up and are active. This is best seen in the product using Grafana.
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the

[2021-03-22 21:11] #14849 closed

[2021-03-22 22:10] Bam4d commented on #7527
I'm also facing an inference bottleneck running IMPALA on Skylake Intel Gold 6142. even when pushing inference onto GPUs its still super slow, So i *think* there may be some sort of resource contention?

Here's 4 similar jobs, 3 of which (the slow ones) are running on 8 `6142` cores (seperated with linux cgroups). The super fast one is running on a i7 6800K (orange line). (all configured for cpu i

[2021-03-22 23:08] DmitriGekhtman opened #14856 "Refactor `aws/config.py` to use `available_node_types`"
### Describe your feature request

Kill `head_node` and `worker_nodes` fields in `aws/config.py`.
Use `available_node_types` instead.

This finishes the migration to `available_node_types` for `aws`.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-03-22 23:50] Bhavya6187 opened #14857 "[client] Modin fails to detect ray client runtime moving picking objects"
### What is the problem?
Modin is failing to detect ray client when pickling/unpickling objects.
Ray version - 2.0.0.dev0 nightly
Modin version - master (0.9.1+13.gc23b3ce)
Python - 3.7

### Reproduction (REQUIRED)

[code]

This is the stacktrace -

[code]

- [Y] I have verified my script runs in a clean environment and reproduces the issue.
- [Y] I have verified the issue also occurs with the [la

[2021-03-23 02:58] imxuemei commented on #13405
I haven't solved it. Other trainers, such as A3CTrainer, can work, but QMIX can't.

[2021-03-23 05:18] franklsf95 commented on #14788
It turns out the worker processes crashed because of `print(chunks)` which tries to print 8GB worth of bytes. Removing that line fixes the problem.

However Ray does print a warning which I'm not sure if is intended or necessary:

[code]

If this is expected behavior, then we can close this.

[2021-03-23 05:24] ericl commented on #14788
Hmm I think this kind of issue is expected right now, though we have some
fixes to try to avoid this kind of memory overcommit in the common case. To
avoid this, try using smaller chunks (chunks much smaller than the object
store size).

On Mon, Mar 22, 2021, 10:18 PM Frank Luan ***@***.***> wrote:

[2021-03-23 05:56] rkooo567 commented on #14788
Btw, I agree that we need a better warning, or this should be more obvious in `ray memory` command (for usability).

[2021-03-23 07:30] #13132 closed

[2021-03-23 07:30] sven1977 commented on #13132
Above PR has been merged.

[2021-03-23 08:35] birgerbr opened #14862 "[autoscaler][kubernetes] Does not scale-up with single num_cpus=1 task"
### What is the problem?

The autoscaler does not scale-up when running a single job with num_cpus=1.
Tested on the currently latest docker image `rayproject/ray:ef59c1-py38` and `rayproject/ray:latest`.

### Reproduction (REQUIRED)
[code]

ray config:
[code]

- [X] I have verified my script runs in a clean environment and reproduces the issue.
- [X] I have verified the issue also occurs with the

[2021-03-23 08:56] birgerbr opened #14863 "num_cpus not handled correctly when function has a Queue argument"
### What is the problem?

Too many tasks are put on the same node, the CPU requirements are not handled correctly.
In the test below, a node is set to have 7 CPUs and each task has `num_cpus=3`. There should be no more than two tasks and one queue-actor on a node, but 4 tasks are put in one node together with the queue-actor.
![Screenshot from 2021-03-23 09-43-07](https://user-images.githubusercon

[2021-03-23 09:30] #14653 closed

[2021-03-23 10:45] Bam4d commented on #7527
@yannbouteiller did you try setting the following environment variables? I gained a huge (10x) speedup with these, due to the fact that RLLib spawns seperate processes for inference in per-environment in things like APEX/IMPALA. having the following vairables set to >1 will cause num_workers*NUM_THREADS to be spawned across the multiple processes which wreaks havoc with mkl/blas etc.

[code]

[2021-03-23 11:35] LutzWeischerFujitsu opened #14867 "build fails on AArch64, Fedora 33"
(base) [jw@cn05 ray]$ ./build.sh
/home/jw/c4aarch64_installer/compiler_compat/ld: warning: library search path "/usr/lib/gcc/aarch64-redhat-linux/10" is unsafe for cross-compilation
/home/jw/c4aarch64_installer/compiler_compat/ld: warning: library search path "/usr/lib/gcc/aarch64-redhat-linux/10/../../../../lib64" is unsafe for cross-compilation
/home/jw/c4aarch64_installer/compiler_compat/ld: wa

[2021-03-23 12:48] AmeerHajAli commented on #14708
@tgaddair, Can you please checkout what Dmitri wrote above and confirm this solves your issue so we can close this?

[2021-03-23 13:22] tgaddair commented on #14708
Sorry for the delay. Just tested this locally with the latest image, looks like everything is working again. Thanks @DmitriGekhtman!

[2021-03-23 13:23] #14708 closed

[2021-03-23 17:11] franklsf95 commented on #14788
I updated the repro script code. This works well now for 4 mappers, 4 reducers with 2GB per mapper (8GB total data).

The error messages can be improved, but I think we can close this now?

[2021-03-23 17:28] franklsf95 commented on #14788
BTW, when I have `M = R = 4` and 4GB per mapper, Ray consistently crashes with the following error:

There would now be 16 1GB objects in the store. I set the object store memory to be a little over 4GB, so this is stretching it a bit. But for usability I think the error message should be better.

[code]

[2021-03-23 17:32] krfricke opened #14873 "[tune] Add unit test for using multiple different placement group factories"
### Describe your feature request

In some cases, we might want to start Ray Tune trials with different resource requests - e.g. if we train a bigger model we might want to allocate more resources to these trials.

This should already be supported by the current implementation, but we should add unit tests to make sure it works.

In a follow up issue we should then explore how we can improve the A

[2021-03-23 17:33] #11691 closed

[2021-03-23 18:01] kk-55 commented on #14533
@sven1977 I can confirm that adding `tf1.enable_eager_execution()` to the very top of **_shared_weights_model.py_** (and also to my custom script I'm really working on) has fixed the error.
As far as I can see the `simple_optimizer` arg has no impact anyway running under my ray/RLlib release (version 2.0.0.dev0).

**Btw:**
Fixing the above bug led to another bug (_ValueError: Attempt to convert a

[2021-03-23 18:07] kk-55 commented on #9114
Any ideas or related issues? TIA!

[2021-03-23 18:18] ericl commented on #14788
That's seems bad, is this on latest nightly?

On Tue, Mar 23, 2021, 10:28 AM Frank Luan ***@***.***> wrote:

[2021-03-23 18:25] ssiegel95 commented on #14799
Thanks @MarcoAlejandro I will give this a try.

[2021-03-23 18:28] franklsf95 commented on #14788
@ericl yes

[2021-03-23 18:42] rkooo567 commented on #14788
This must be a bug. We should fix it

[2021-03-23 18:43] ericl commented on #14788
I think this is likely fixed by https://github.com/ray-project/ray/pull/14821 which will merge shortly

[2021-03-23 18:43] rkooo567 commented on #14788
@franklsf95 Can you verify that after that PR is merged?

[2021-03-23 18:45] rkooo567 commented on #14788
Let me assign P1 temporarily

[2021-03-23 19:19] #14352 closed

[2021-03-23 19:52] #14802 closed

[2021-03-23 20:24] ssiegel95 commented on #14799
I can kind of sort of get it working from the 1.2.0 release branch/tag. There are still some issues:

1. autoscaling seems broken (despite ample cluster resources, the operator never adds more than `minWorkers` workers
2. port forwarding of the dashboard service fails with
[code]

[2021-03-23 20:26] smorad opened #14875 "[rllib] [tune] GPU allocation no longer respected"
### What is the problem?
GPU allocation is no longer respected using tune/rllib, I believe this is a recent regression (last week or two). If I set `num_gpus=1; num_workers=4; num_gpus_per_worker=0.25`, I should get `ImpalaTrainer` learner on GPU0 and four rollout workers on GPU1. Instead, all rollout workers and the learner end up on the same GPU.

Verified on ray nightly wheel downloaded March 2

[2021-03-23 21:21] mehrdadn commented on #9114
@kk-55 I'm not sure. I'd recommend finding the latest versions of Ray & Python that work, and posting them here to help the team look into it.

[2021-03-23 22:30] dHonerkamp opened #14878 "[rllib] SAC numerical instability"
### What is the problem?

SAC calculates the gaussian log probability based on clamped values, which can result in very large values if the tanh saturates and as a consequence result in exploding gradients (and thereafter NaN values).

The following is based on the calculations in `actor_critic_loss` from `sac_torch_policy.py`, which uses the  `TorchSquashedGaussian` distribution:
First we sample

[2021-03-23 22:50] ssiegel95 commented on #14799
Any fix planned for[ the section](https://docs.ray.io/en/master/cluster/kubernetes.html#using-ray-client-to-connect-from-outside-the-kubernetes-cluster) that doesn't work?

[2021-03-23 23:12] #5959 closed

[2021-03-23 23:12] #9983 closed

[2021-03-23 23:24] ColdFrenzy opened #14880 "Observation and reward in turn-based games"
### Describe your Problem

I have a multiagent version of a turn-based board game and i want to train it with self-play (by copying weights from a network to another) or by training both agents with PPO separately.
At each turn my environment returns the observation for the player that will move next (from its point of view).  I will use a simplified example to show it.
Let's consider a simple obs

[2021-03-24 00:08] AmeerHajAli opened #14883 "Node's reported static resources sometimes corrupted when using placement groups"
It seems that the reported "total" (static) resources for nodes are sometimes corrupted when using placement groups. The issue is easy to reproduce, if I run the following script:

[code]

Sometimes I get (correct):

[code]

and sometimes this (incorrect--- and even the other resources have gone missing!)

[code]

Original issue:
------------------------------------
I started a cluster, I run the

[2021-03-24 00:09] AmeerHajAli commented on #14883
@ericl @wuisawesome , not sure if this is a P0/release blocker (it might be, can you please check it out?)

[2021-03-24 00:22] ericl commented on #14883
Is the ray.available_resources() changing back and forth, or is the issue
only in the AutoScaler / ray status display?

On Tue, Mar 23, 2021, 5:09 PM Ameer Haj Ali ***@***.***>
wrote:

[2021-03-24 00:24] AmeerHajAli opened #14884 "[tune] tune.run does not scale workers"
I am using `tune.run()` on `rayproject/ray-ml:nightly-gpu` docker image,  I call `ray up config.yaml -y` and then `ray attach config.yaml`, then `python unity3d_env_local.py`.
The cluster never scales up workers and I get the following output:
[code]

my code (inside unity3d_env_local.py file). I :
[code]
my cluster yaml:
[code]

the file mounts includes the `unity3d_env_local.py` pasted above and

[2021-03-24 00:24] AmeerHajAli commented on #14884
CC @sven1977 @richardliaw @javi-redondo

[2021-03-24 00:42] AmeerHajAli commented on #14883
This is the output of `len(ray.available_resources())` which seems to be constantly changing.
[code]

[2021-03-24 00:46] ericl commented on #14883
Ok, I looked into the code a bit and the most likely way this is happening is if nodes are constantly crashing and leaving/joining the cluster. This would explain why the number of resources is changing too.

Probably a cluster configuration issue. Anything in the GCS logs or autoscaler logs?

You can also try adding more prints to the LoadMetrics class to see why exactly the static_resources map

[2021-03-24 00:50] AmeerHajAli commented on #14883
the autoscaler logs consistently show:
[code]
gcs logs:
[code]

[2021-03-24 00:51] AmeerHajAli commented on #14883
But placement groups should not leave the cluster so we should not have a case where nodes leave the cluster due to idle. Eitherways, I don't think the nodes are leaving due to idle because I don't see in the logs any termination of failed/idle nodes and it shows consistently 49 healthy workers.

[2021-03-24 00:58] ericl commented on #14883
Is it possible to add `print(self.static_resources_by_ip)` in load_metrics.py?

I think it is possible a node shows as "healthy" in the summary but is not actually reporting any resource usage (raylet hasn't started yet). This is since autoscaler.py:776 is checking load_metrics.is_active(), but that is set to True for all new nodes with load_metrics.mark_active(), even if we haven't received any h

[2021-03-24 01:01] smorad commented on #14875
Actually, is placement broken completely?
`Resources requested: 0/96 CPUs, 0/2 GPUs, 0.0/118.97 GiB heap, 0.0/30.51 GiB objects (0.0/1.0 accelerator_type:RTX)` Shouldn't this be `2/2`, not `0/2 GPUs`?

[2021-03-24 01:19] #14568 closed

[2021-03-24 01:19] #14770 closed

[2021-03-24 01:20] AmeerHajAli commented on #14883
I added the print above, it is not really readible so I printed the len (number of ips) in `static_resources_by_ip` and it seems to be 50 consistently. So something fishy is going on.

[2021-03-24 01:22] richardliaw commented on #14884
I'll mark this as a release blocker for now, though @krfricke please feel free to deprio once you've narrowed the cause!

[2021-03-24 01:23] ericl commented on #14883
Hmm If it's 50 consistently then shouldn't the following function in load metrics (used by the resource summarizer) also be steady?
[code]

[2021-03-24 01:23] AmeerHajAli commented on #14883
[code]

[2021-03-24 01:25] ericl commented on #14883
Btw, it's pretty weird to be using 2-cpu nodes. RLlib users usually max out node size with 64 core nodes for best efficiency.

[2021-03-24 01:29] AmeerHajAli commented on #14883
I am not using rllib yet, this is just starting the placement group and not doing anything (observing the terminal)
btw, looking at the static resources, all the nodes are the same, but some of them do not have CPU resources and instead have:
`'172.31.24.200': {'CPU_group_1eddf1e7aee68c14c16a0b7f3c737194': 2.0, 'CPU_group_97_1eddf1e7aee68c14c16a0b7f3c737194': 1.0, 'CPU_group_96_1eddf1e7aee68c14c16

[2021-03-24 01:38] AmeerHajAli commented on #14883
I sshed to some of these worker nodes and they look normal. I also looked at `top` and also normal ... Any thoughts why CPU resources disappear from the resources reported from raylet?

[2021-03-24 01:38] shwang opened #14885 "[tune] RAY_RAYLET_TMUX=1 crashes Ray Tune"
### What is the problem?

Ray Tune doesn't start when environment variable `RAY_RAYLET_TMUX=1`. Maybe this super-debug-friendly feature isn't supported, but if that's the case would be nice to display a warning message noting that.

*Ray version and other system information (Python version, TensorFlow version, OS):*  Ray v1.2.0 (also tried v0.8.7), OS=Ubuntu.

### Reproduction (REQUIRED)
Run `RAY_

[2021-03-24 01:40] shwang commented on #14885
Ray v0.8.7 says:
[code]

[2021-03-24 01:42] ericl commented on #14883
Ah, that seems like the culprit. It might be a bug in the GCS when reporting resources. The static resource should always be 2.0 even if placement groups are there...

Though it doesn't seem to be an issue locally:
[code]

@clay4444 @rkooo567 do you know why the GCS might be not reporting CPUs in total resources if they are used by placement groups?

[2021-03-24 01:44] amogkam commented on #14759
@wuisawesome @clay4444 can this be prioritized asap please. This is blocking all Tune-related GPU testing.

[2021-03-24 01:44] ericl commented on #14883
Here is the repro:
[code]

[code]

^^ the above is incorrect, it should be showing `Usage: 8.0/8.0 CPU` (and we should be hiding the placement group spam)

[2021-03-24 01:46] AmeerHajAli commented on #14883
The spam is also printed to the autoscaler usage summary, is this expected?
[code]

[2021-03-24 01:48] AmeerHajAli commented on #14883
should it be showing something like 8.0/8.0 CPU or 0.0/8.0 CPU if the placement group is not running anything?

[2021-03-24 01:49] anuragkanungo commented on #12668
I am not sure if this is the same issue but trying to profile via dashboard, it's not doing anything and looks like in the chrome console, this following error gets raised.

[code]

[2021-03-24 01:51] ericl commented on #14883
It should show 8.0/8.0 (since the placement group is "using" the CPU).

Bizarrely, the issue above only happens sometimes. If I run the following script:

[code]

Sometimes I get (correct):

[code]

and sometimes

[code]

[2021-03-24 02:06] ericl opened #14886 "Ray.get fetches not prioritized in PullManager (can lead to deadlock with pull manager memory capping)"
PullManager now caps memory consumption for active and pending task args, as well as ray.get/wait fetches to 70% of available memory: https://github.com/ray-project/ray/pull/14817

However, this might lead to deadlock if PullManager hits the 70% cap while ray.get() fetches of an active task are still queued, or deadlocking if a task's args is already using 70% of memory and it calls ray.get() on s