[2020-08-04 23:34] rkooo567 commented on #9921
cc @richard4912

[2020-08-05 03:13] crypdick opened #9922 "[tune] Initial guess for hyperparameters"
## Request:
Optional "initial guess" parameter for sampling, similar to `x0` kwarg [in scipy optimizers](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.minimize.html), e.g. `tune.loguniform(1e-6, 1e-1, x0=1e-4)`

## Motivation:
Tune experiments dramatically speed up after the first "reasonable" baseline config is found: subsequent "unreasonable config" trials are quickly termi

[2020-08-05 03:15] amogkam opened #9923 "[Tune] Long running distributed test failing"
### What is the problem?

The RaySGD+Tune long running distributed test is failing due to this error:

![image](https://user-images.githubusercontent.com/8068268/89367475-f78a7300-d68d-11ea-8aeb-7b27ecf2ab2d.png)

We need to modify either the test or the kill_node command to not kill any nodes if there is only one node left in the cluster.

*Ray version and other system information (Python version

[2020-08-05 03:16] amogkam commented on #9923
@rkooo567

[2020-08-05 05:25] rkooo567 commented on #8660
Really appreciate it! Would you mind trying one more thing actually? Could you run this command in the head node and see what's the IP addresses in this case?

[code]

The GCS server IP address is resolved in CPP, and it seems like it sometimes doesn't resolve the correct local IP addresses (It first pings Google DNS server, and if it fails, it uses asio resolver to get local IP addresses. If both

[2020-08-05 07:04] pmacalpine commented on #9870
If I use the proposed workaround DQN will run but not PPO.  PPO fails with the following error:
[code]

Without wanting to get into too many technical details, we've currently integrated rllib into our own custom RL framework so that we can use rllib's implemented algorithms and ability to run things in a distributed manner if desired.  The model we're using with rllib is really a rllib model wrap

[2020-08-05 07:11] SnowWalkerJ commented on #7442
you never called ray.get on the result. The function returns immediately without finishing computing. That's why the speed is extremely fast and unchanged.

[2020-08-05 07:14] pmacalpine commented on #9870
It wold be nice if this issue can be reopened so as to keep on everyone's radar the discrepancies between how custom model config options are specified between different algorithms ( I can't reopen it myself as I'm not a repo collaborator).  I'm really hoping a common approach across algorithms can be used so that we're able to still work with rllib using a generic rllib model wrapper.

[2020-08-05 08:51] loveJasmine opened #9925 "how to get start from scratch as a DEVELOPER of Ray?"
specially, any details about the modules like plasma, arrow etc.

[2020-08-05 08:53] rkooo567 commented on #9795
I will take it in the next sprint.

[2020-08-05 11:24] yihengli opened #9926 "[dashboard] track usage from spawned subprocess"
### What is your question?

Ray: 0.8.6
Python: 3.7.7
OS: Cent 7

Currently I need to parallelize some scattered python script, where each python script has been pre-configured as CLI tool. Thus I would like to directly run them through `subprocess` instead of import the specific functions.

[code]

Let's say I have each remote defined simply as above and the workers on dashboard are shown running

[2020-08-05 12:22] kaixin96 commented on #8544
I met the same problem when using a custom model. One workaround I found is to explicitly pass `CustomModel` class to `default_model` argument in `ModelCatalog.get_model_v2()`. By default, `ray.rllib.agents.dqn.dqn_tf_policy.build_q_model` calls `ModelCatalog.get_model_v2()` with `default_model=None`.

[2020-08-05 12:41] stefanbschneider opened #9928 "[rllib] Test reward much lower than training reward"
I'm using the latest RLlib to train a PPO agent on a custom environment. My agent converged to a mean reward of almost 60:

![image](https://user-images.githubusercontent.com/28340802/89413462-26a1f280-d729-11ea-9d5b-202bab635ebc.png)

But when loading and testing the trained agent on the same environment with the same seed, the episode reward is much worse (negative!)!
I seed the environment afte

[2020-08-05 13:36] ChuaCheowHuan opened #9929 "[rllib] 'lr_schedule' not working in DDPPO."
### What is the problem?
Is `lr_schedule ` supported in DDPPO?

The `cur_lr` didn't change throughout the training for both agents, verifiable either from `pretty_print` or tensorboard.

I have included a *Minimal reproducible code* using `RockPaperScissorsEnv` available in this gist: [lr_schedule_ddppo.py](https://gist.github.com/ChuaCheowHuan/c9a3591b0b2d77bbed2eb50dc37c2ab1#file-lr_schedule_ddp

[2020-08-05 13:55] stefanbschneider commented on #9928
My action space is `gym.spaces.Discrete(x)`. I noticed that it works fine for `x=3` or 4, ie, the train and test rewards are similar.

But for a larger scenario with `x=8`, I get the behavior described above that training reward is much higher than testing reward. How's that possible?

Are observations or actions processed differently when calling `compute_action()` compared to normal training?

[2020-08-05 14:01] ramondalmau opened #9930 "[Rllib] with_agent_groups() with number of agents chaning with episode"
Dear all

I am trying to learn a policy for a system with several interacting agents.

All agents are **homogeneous** (they share the weights of the policy) and act as a **team**. In order to cooperate, they use a differentiable **communication** protocol in the model, with a message-passing mechanism before taking the joint action.  To train the policy, I am using an extension of the standard PPO

[2020-08-05 14:16] vancaho commented on #9862
I make a implementation with the `threading` lib, here are the demo codes. Is it ok?
[code]

[2020-08-05 14:22] stefanbschneider commented on #7983
Is it possible to restore an agent and continue training it with `tune.run()` without any custom `train_ppo` function?

I'm looking for something like this (which doesn't work):

[code]

[2020-08-05 14:30] zmonoid opened #9931 "How to run tune on multiple machines?"
### What is your question?
My ray version is 0.8.2.
I have already setup ray successfully.

Server A has 10 GPUs
Server B has 4 GPUs

[code]
I run  ```ray up tune-example.yaml``` on both machines with no problems.
I can submit my tasks on server B like ```ray submit tune-example.yaml fullscript.py``` and the task will be run and saved on server A smoothly, which proves no problem on cluster setup.

[2020-08-05 15:00] ChuaCheowHuan commented on #8452
@51616

The following two lines helps me change hyperparameters `lr` during runtime without the need to modify policies with `mixin`.
In fact, the required schedules mixins are already included in PPO. Related: #9872 #9929

[code]

[2020-08-05 15:14] icaropires commented on #8660
Sure! Running the commands:
[code]
I've only replaced my valid IP for `<my ip>` for security reasons, but it's always the same and is not `127.0.0.1`.

## Some more informations

* `ping 8.8.8.8` works from my head node :thinking:

* This "GcsServerAddress as localhost" behaviour is happening **outside the Docker containers** too!
* In ray version 0.8.6, when opening the dashboard the behaviour is

[2020-08-05 16:51] dorcus01 opened #9932 "What's the usage of self.local_worker in TorchTrainer?"
### What is your question?
What's the usage of self.local_worker in TorchTrainer? I noticed that in the latest version of Ray, there's a new class LocalDistributedRunner. There's always one local work setup via _start_workers() while doing distributed training. Is there any specific reasons of doing it?

I am trying to write some custom classes inherited from TorchTrainer, DistributedTorchTrainer.

[2020-08-05 17:20] mkeckjr commented on #8460
I would also like to put my name in the hat for this. I use ray.init(num_gpus=0) on a machine with 8, and it used all 8 instead of 0. I don't see how tune makes this work, but would love some clarity on that.

Setting CUDA_VISIBLE_DEVICES does indeed address the issue, but using that type of solution will require a great deal of work all over my codebase, it's been designed around the functionalit

[2020-08-05 17:31] jyotishp opened #9933 "[rllib] ARS trainer doesn't work with evaluation workers"
### What is the problem?

ARS trainer fails when evaluation workers are used. Throws the following error:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
- Ray version: 0.8.6
- Tensorflow: 2.3.0
- Python 3.7
- OS: Linux

### Reproduction (REQUIRED)
[code]

If we cannot run your script, we cannot fix your issue.

- [x] I have verified my script runs in

[2020-08-05 17:35] #9847 closed

[2020-08-05 17:36] jyotishp commented on #9933
What I tried?

[code]

Then I get

[code]

[2020-08-05 17:46] HJ-TANG commented on #9643
I have the same issue now. but I didn't get the error when I run the code a couple of weeks ago.

[2020-08-05 18:37] sven1977 commented on #9928
Hey @stefanbschneider . Would you be able to share your env here so we can debug this?
We have had similar problems reported to us from other users, but can't seem to identify the cause of this. Recently added a test for this for Pendulum.
Also, quick question: Are you setting:
[code]
?

[2020-08-05 18:50] MoggeM opened #9935 "use_lstm not working with tuple action space"
When setting "use_lstm" with a tuple action space (with tensorflow) im getting the following error:

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

Seems to be caused by:
self.action_dim = int(np.product(action_space.shape))
https://github.com/ray-project/ray/blob/master/rllib/models/tf/recurrent_net.py#L115

[2020-08-05 21:00] richardliaw commented on #9932
@dorcus01 thanks for opening this issue; we're going to revert this change. I will ping you when that's done.

The original reason is that having a worker on the main GPU simplifies debugging (because there is no layer between driver and training worker). But it seems like this causes more problems than it solves, so we'll fix this by 0.8.7.

thanks again for opening this issue!

[2020-08-05 21:36] mfitton commented on #9918
@ilonadem can you try running `pip install ray[dashboard]` for me and see if that fixes your issues? Otherwise there's a file at `/tmp/ray/session_latest/logs/dashboard.err` that might have something in it. Could you attach that if so please?

[2020-08-05 22:33] josjo80 commented on #6669
@Nicholaz99 In the case of mapping a single random policy to a group of agents, I think you may need to implement the team as a `group` using the `with_agents_group()` method: https://docs.ray.io/en/latest/rllib-env.html?highlight=group#grouping-agents .  If you have a 4-player team as `group_01` and the opposing team as `group_02`, then you could do something like the following:
[code]
I believe

[2020-08-05 23:52] zrobertson466920 opened #9939 "Input Option for Offline RL Double-Creates Files?"
I'm on Windows 10 Enterprise. I'm using Ray[0.8.6] on Python 3.6.5. My version of smart_open is 2.1. I'm trying to train an Offline RL agent on a custom environment and am running into some problems. I'm trying to follow the examples, but there don't seem to be any for my use case which is frustrating. I have a custom environment as follow,

[code]

After setting this up I collect data,

[code]

H

[2020-08-06 00:21] #9825 closed

[2020-08-06 00:32] rkooo567 commented on #9807
Hey @ericl Can I take this & https://github.com/ray-project/ray/issues/9795

[2020-08-06 00:37] rkooo567 opened #9941 "[Placement Group] Release test (Stress test)"
We should stress test placement group and add it to the release process.

[2020-08-06 00:45] ericl commented on #9795
I think this can be implemented via a dummy task. The dummy task tries to schedule itself in the placement group, so a ray.wait() successfully on the task means the placement group has been created.

[2020-08-06 01:03] rkooo567 commented on #9795
That makes perfect sense! I was originally just thinking to ping GCS, but that solution sounds more natural to fit in ray.get & ray.wait!

[2020-08-06 01:04] rkooo567 commented on #9797
@ffbin Could you take over this task?

[2020-08-06 01:08] rkooo567 opened #9942 "[Placement Group] Reference count"
Like actors are ref counted or detached actors are obtainable by ray.get_actor, placement group should be either ref counted or obtainable by name. Not sure what's the best way. Probably the easiest first step is to make it like detached actors. (ray.get_placement_group(name="")).

Implementation:
To make it maintainable, we'd like to use the same code path as the actor handle as it will work in t

[2020-08-06 01:40] ffbin commented on #9797
ok, i will assign it to me.

[2020-08-06 02:13] #9493 closed

[2020-08-06 02:15] cuiguangwu commented on #6778
how to handle the prob？

[2020-08-06 05:37] allenyin55 opened #9948 "[autoscaler]Error when using the new logger"
### What is the problem?

This cluster.yaml used to work

[code]
With the new CLI logger in autoscaler, I'm getting this error when running `ray up cluster.yaml`

[code]

*Ray version and other system information (Python version, TensorFlow version, OS): ray from this commit dba999b6f61cb30237d821aa86691a15ff10e15b, python 3.7.4, macos 10.15.5

### Reproduction (REQUIRED)
Please provide a script t

[2020-08-06 05:37] allenyin55 commented on #9948
cc: @richardliaw

[2020-08-06 07:05] #9796 closed

[2020-08-06 07:39] ericzhao28 opened #9949 "[rllib] Accessing the reward of other agents in custom multi-agent algorithm"
### What is your question?

My goal is to implement a custom multi-agent algorithm. However, to update the policy for any individual agent requires access to the rewards of other agents. Is there any way to access the rewards issued to other agents? I imagine this may be similar to the problem of accessing the observation of other agents, which seems to be an open problem (see #7341, #4748).

[2020-08-06 08:05] stefanbschneider commented on #9928
Sorry, I can't publicly disclose my environment at this point.

I use PPO's default config and didn't touch `config['evaluation_config']`; I think it's currently an empty dict. `config['explore']=True` during training.

[2020-08-06 08:15] stefanbschneider commented on #9928
I digged deeper and found the cause of the problem.

To ensure that each episode is the same, I seeded the environment in every reset:

[code]

This ensured that all episodes during training where the same and all episodes during testing were the same.
However, I found that the training episodes were still different from the testing episodes.
I think the reason is that RLlib uses `random` during t

[2020-08-06 08:15] #9928 closed

[2020-08-06 08:50] sven1977 commented on #9928
Awesome! Thanks @stefanbschneider for describing the solution for this. This was really helpful.

[2020-08-06 08:50] #5514 closed

[2020-08-06 08:51] #3433 closed

[2020-08-06 08:51] #3401 closed

[2020-08-06 08:51] sven1977 commented on #9928
Btw, @stefanbschneider are you already on our slack channel?
https://docs.google.com/forms/d/e/1FAIpQLSfAcoiLCHOguOm8e7Jnn-JJdZaCxPGjgVCvFijHB5PLaQLeig/viewform

[2020-08-06 09:19] stefanbschneider commented on #9928
@sven1977 Yes, thanks, I joined a few weeks ago. But haven't checked in for a while.

[2020-08-06 10:00] sven1977 commented on #9949
Yeah, we are not fully there yet, but are working on a generic API to enable easy set up of things like this in any RLlib agent. The project is called "Trajectory View API" and we have some solutions for LSTM/framestacking, but not multi-agent yet (this will be the last thing we'll add to this API). A rough time estimate, on when this will be done is this Q3, but can't make promises.

[2020-08-06 11:49] fredrikbissmarckatfoise opened #9951 "[rllib] PPO performance degrades in Rllib, not in Stable baselines"
Hi,

I am just starting Rllib but know reinforcement learning well.

I have a problem with convergence in a custom task trained by PPO. In Stable baselines framework, while not always monotone rise in reward, the same agent converges at near optimal behavior (about 2M timesteps) . In Rllib, near optimal behavior (maximum reward) is also obtained, but then performance degrades quickly to lowest pos

[2020-08-06 11:59] sven1977 commented on #9951
Hey @fredrikbissmarckatfoise , thanks for bringing this to our attention.
Would it be possible to share the two configs (baselines and RLlib) here? It could still be some default parameter having slipped through that has a different value that's causing this.

[2020-08-06 12:30] 51616 commented on #9638
@justinkterry How do you use the MADDPG in discrete action env? I have my custom env with discrete action but RLlib MADDPG does not work out of the box. I wanna use MADDPG as a baseline algorithm for my work. Any help would be appreciated.

[2020-08-06 12:31] fredrikbissmarckatfoise commented on #9951
Thank you for prompt answer.

I haven't put much thought into the parameter settings as it worked well for Stable baselines,
and initially looks good for Rllib too. It looks like it might be an overfitting problem, I might put
in some noise to see if I can regularize better.  But that implies the polices are set up rather differently
in tensorflow.

Here are the parameters for each set up:

A) Sta

[2020-08-06 12:37] yushan111 commented on #9899
@richardliaw I have opened PR #9952

[2020-08-06 14:51] ilonadem commented on #9918
@mfitton I already have ray dashboard installed, but here is the dashboard.err file:

[code]

[2020-08-06 15:00] justinkterry commented on #9638
Look at my documentation changes and the discussion in PR #9640.

[2020-08-06 17:16] richardliaw commented on #9931
Yeah; can you just try starting a ray cluster manually? https://docs.ray.io/en/master/cluster/index.html#manual-ray-cluster-setup

[2020-08-06 17:17] richardliaw commented on #9862
Nice; does it work for you?

[2020-08-06 17:51] #9875 closed

[2020-08-06 17:54] richardliaw commented on #9921
^ again, wrong richard :)

[2020-08-06 18:06] mfitton commented on #9918
Thank you, that's very helpful. It seems like there's a permissions issue with the dashboard and the /tmp/ray directory. If you make the /tmp/ray directory writable by doing `chmod 755 /tmp/ray/` (or something to that effect I don't have a Linux box in front of me to validate the command), does that fix your issue?

[2020-08-06 18:12] juliusfrost opened #9961 "[rllib] Offline API takes too much memory"
### What is the problem?

When using a relatively large offline dataset, the offline API (json reader) continuously loads more data from storage even when memory is at full capacity. Possible solutions could involve a queue of some sort so that not all of the data is in memory.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: nightly
Python 3.7
Tensorflow

[2020-08-06 18:14] 51616 commented on #8452
@ChuaCheowHuan Yeah, but modifying Mixin gives you more freedom to change other hyperparams too. Your code would be more convenient if only changing hparams is the learning rate.

[2020-08-06 18:18] ericl commented on #9951
Could it be learning rate annealing? Maybe stable baselines is annealing LR to zero over the time. If you do the same in RLlib the policy should also stabilize.

[2020-08-06 18:20] zmonoid commented on #9931
@richardliaw I run
```ray start --head --node-ip-address=server_a_ip``` on server A and
```ray start --address='server_a_ip:server_a_port' --redis-password='5241590000000000'``` on server B.

On server B, I run:
[code]

it shows:

[code]

No problem.

[2020-08-06 18:35] zmonoid commented on #9931
@richardliaw It turns out to be the IP address problem.

1. Use ray 0.8.2 rather than 0.8.6 otherwise you got other problems.
2. Server A has 2 network card, make sure specify the correct one under same network like:
```ray start --head --node-ip-address=192.168.1.154``` on server A, and server B should have IP address like ```192.168.1.xxx```

[2020-08-06 18:35] #9931 closed

[2020-08-06 18:48] robertnishihara opened #9963 "Register for Ray Summit"
We will be hosting a (free) virtual [**Ray Summit**](https://events.linuxfoundation.org/ray-summit/?utm_source=Robert&utm_medium=GitHub&utm_campaign=github_issue#featuredspeakers) from September 30 to October 1.

The conference will be about **scalable Python and scalable machine learning** and will feature keynotes from prominent members of the Python and machine learning communities!

This inaug

[2020-08-06 19:08] sergeivolodin opened #9964 "[rllib] Memory leak in environment worker in multi-agent setup"
### What is the problem?
When training in a **multi-agent** environment using **multiple environment workers**, the memory of the **workers** increases constantly and is **not released after the policy updates**.

![image](https://user-images.githubusercontent.com/1012270/89562157-d9517e00-d819-11ea-9c5a-f79c28779756.png)

[code]

[code]

**If no memory limit is set, the processes run out of syste

[2020-08-06 19:13] RadicalAcronym commented on #7626
@Jimpachnet Will you please explain in more detail how to "worked on a fresh system and by removing the session from the member variables of the workers"?

[2020-08-06 19:54] simon-mo commented on #9893
Hi @endremborza, thanks for raising this issue. Ray ObjectRef's future is an `asyncio.Future` not `concurrent.Future`. The two has [subtle differences](https://docs.python.org/3/library/asyncio-future.html). I would recommend using asyncio.Queue instead of threading queues. is there a particular reason python threads are necessary?

[2020-08-06 20:20] sven1977 opened #9967 "[RLlib] Add informative error message when bad Conv2D stack is used with fixed `num_outputs` (no flattening at end)."
We should add an informative error message to visionnet.py (torch and tf), when a bad Conv2D stack (`conv_filters` in model config) is configured by the user, with a fixed `num_outputs` (no flattening at end). In this case, the output of the last Conv2D layer must always be [B, num_outputs, 1, 1].

[code]

[2020-08-06 20:29] richardliaw commented on #9931
Btw what are the other problems?

On Thu, Aug 6, 2020 at 11:35 AM ZHOU Bin <notifications@github.com> wrote:

[2020-08-06 20:32] SyedBilalMehdi commented on #9736
That was a very helpful note. It made things pretty simple on our end. Thank you for pointing that out! I think we have a working implementation now where the high-level agent and low-level agents are called alternatively without any complications.

Best regards!

[2020-08-06 20:43] endremborza commented on #9893
I ended up going the asyncio way, and replaced threads with async functions, it worked well that way. I used threads at first because I found it easier to track and kill them, but it worked with asyncio just as well, after a bit of getting used to.

[2020-08-06 21:24] Jimpachnet commented on #7626
Back then removing the Tensorflow session from the class member variables "fixed" the issue. With the current ray release the problem does not occur anymore.

[2020-08-06 21:44] #9948 closed

[2020-08-06 21:53] sumanthratna opened #9969 "[tune] search space API"
### Describe your feature request
I'm working on a project where we want the user to be able to choose which algorithm they want to use via the command line. This makes for ugly code—for example, see:
https://github.com/MLTransfer/MLEncrypt-Research/blob/ce2c6b5fbf77d2486ec4a702a4bdf63dcdba2330/mlencrypt_research/cli.py#L446-L635

Dedicating almost 200 lines of code to instantiating the search alg

[2020-08-06 21:57] richardliaw commented on #9969
yes!

[2020-08-06 22:09] zmonoid commented on #9931
@richardliaw
After ray started on both machine, I type following in node machine:
[code]
It prints:
[code]
And stuck there.

[2020-08-07 01:29] #9900 closed

[2020-08-07 07:41] stefanbschneider commented on #4569
Since I was searching for a simple way to load a trained agent and continue training with RLlib, and I only found this issue, here's what I found & what's the easiest way in my opinion:

[code]

Ie, just set the path in the `restore` argument, that's it! No need for a custom train function.

[2020-08-07 08:14] mnicstruwig opened #9978 "Access to previous compiled Ray releases?"
### What is your question?

Are there wheels available for previous releases of Ray? This bug of mine hasn't been addressed: https://github.com/ray-project/ray/issues/8643, and as a result I'm forced to rely on version of Ray <=0.8.1 for my academic research until it's been fixed.

Unfortunately, it appears as if previous version of Ray are no longer available on PyPi, and I'm struggling to find b

[2020-08-07 08:28] ilonadem commented on #9918
@mfitton Looks like that fixed the issue. Now I just get the following warnings, and the dashboard stays blank still:
[code]

[2020-08-07 08:31] Colafroth opened #9979 "How to make Ray shared memory writeable?"
A little bit of context:
I am writing a stock back test program which subscribes to a websocket feed that streams data for over 100 stocks 1 minute candle. Since this is a back test program, it actually get fed by my local data.

I am trying to utilise Ray for multiprocessing.

So it will receive stock data in a loop locally, for example, A, B, C .... A, B, C... continuously until end of time peri

[2020-08-07 08:42] guoxuxu opened #9980 "Reproduce the best trial results found by ray tune, how to control sampling within small decimals?"
### What is your question?
I have some questions while I was trying to reproduce the results using the best config parameters found by the ray tune. First of all, I have a hyperparameter that changes with the total number of epochs, denoted as EPOCHS, which corresponds to ```training_iteration``` as in the following code. I noticed that some trials do not run the whole EPOCHS maybe because that tr

[2020-08-07 10:04] #9967 closed

[2020-08-07 12:43] #9723 closed

[2020-08-07 12:53] fredrikbissmarckatfoise commented on #9951
Thanks for taking notice of my problem. The learning rate is constant over episodes for both cases and is confirmed directly in the tensorboard display.

I now go back to the stable baselines case to make sure the test case is actually identical, and get more into the inner workings of things.

Personally, I am more interested in getting the Rllib learning to converge, than knowing the difference

[2020-08-07 13:11] #8976 closed

[2020-08-07 16:13] raphaelavalos opened #9982 "[RLlib] Seeding issues"
Hello,

Currently, it is not possible to set the seed for numpy and torch if the env doesn't have a seed method.

https://github.com/ray-project/ray/blob/5d5643e63375928b941e4e6f9d2def60cfe7a86f/rllib/evaluation/rollout_worker.py#L379-L391

(This issue doesn't affect tensorflow.)

Also, why is the seed method not part of the BaseEnvs like in gym?

Thanks

[2020-08-07 16:53] rohan-gt opened #9983 "[Feature request] AWS Lambda support"
Are there any plans to include support for deploying Ray clusters using AWS lambda?

[2020-08-07 17:18] richardliaw commented on #9978
https://pypi.org/project/ray/0.7.7/ seems like previous versions are still available. Maybe try downgrading your python version?

[2020-08-07 17:38] RadicalAcronym commented on #8890
@ericl @rkooo567 I'm running
`https://ray-wheels.s3-us-west-2.amazonaws.com/master/19d44d4fa94413bdc2993869c60e2ef3bd0106ed/ray-0.9.0.dev0-cp37-cp37m-manylinux1_x86_64.whl`
 inside a container.

trying to run `ray/tune/examples/pbt_ppo_example.py` with a couple of modifications:

            "env": "Pendulum-v0",   <----- changed from Humanoid
            "num_workers": 95,      <------increased

[2020-08-07 17:45] crunchybugs opened #9985 "[docs] Issue on `ray-dashboard.rst`"
# Documentation Problem/Question/Comment

How to configure dashboard to accept remote connections?

(Created directly from the docs)

[2020-08-07 18:43] richardliaw commented on #9969
I'll get in touch with you next week with a proposal.

[2020-08-07 19:41] mnicstruwig commented on #9978
Thanks! I didn't realize I was using Python 3.8 -- thank you!

[2020-08-07 19:41] #9978 closed

[2020-08-07 20:38] edoakes commented on #9985
@crunchybugs could you elaborate on what exactly you're trying to do?

[2020-08-07 20:44] edoakes commented on #9983
Might be an interesting thing to hack on and try to get working but it's unlikely we'd add support for this. Lambda isn't built to be a deployment layer for higher-level services and doesn't even support direct communication via TCP/UDP between processes, so you'd need to do some magic like STUN to get around the NAT.

[2020-08-07 20:45] edoakes commented on #9869
@markqiu I'm a big fan of fastapi in general but not sure exactly what this would look like - could you maybe post an example serve application of what you'd like it to look like?

[2020-08-07 20:48] #9893 closed

[2020-08-07 21:08] richardliaw commented on #9866
Are you sure you're using `ray.init(address="auto")`?

[2020-08-07 21:10] richardliaw commented on #9961
cc @sven1977

[2020-08-07 21:11] richardliaw commented on #9964
@sergeivolodin How high does it go? Also, can you try different Tensorflow versions?

[2020-08-07 21:15] richardliaw commented on #9821
Any recommendation on what we should add to the documentation?

[2020-08-07 21:18] #9763 closed

[2020-08-07 21:23] edoakes commented on #8805
Duplicate of https://github.com/ray-project/ray/issues/9317

[2020-08-07 21:23] #8805 closed

[2020-08-07 21:25] richardliaw commented on #7339
cc @maximsmol @ijrsvt

[2020-08-07 21:26] mfitton commented on #9229
@rkooo567 when I run your example, it shows 10 dead actor entries. Is that what it shows for you?
For some reason, when I refresh the page, it then only shows 6 dead actor entries.

[2020-08-07 21:26] mfitton commented on #9229
I'm going to try again and see if I can recreate the case where there are more than 10 entries.

[2020-08-07 21:27] mfitton commented on #9229
I'm able to reproduce the 10 dead actor entries -> refresh -> 6 dead actor entries every time actually.

[2020-08-07 21:36] mfitton commented on #9229
Sang helped me reproduce. Looking into the root cause.

[2020-08-07 21:44] rkooo567 commented on #8660
@ijrsvt I think the issue is that `GcsServerAddress` timeout is too short in CPP code. I can probably push the PR and see if it fixes the issue. If you have any other thought, please let me know!

@icaropires Would you mind downloading the latest Ray and test if my fix will help you solve the problem in some time like next week?

[2020-08-07 21:53] icaropires commented on #8660
@rkooo567 No problem, just let me know. If I get some time, I'll try also try to investigate

[2020-08-07 22:15] richardliaw commented on #9922
which Search Alg are you using?

[2020-08-07 22:15] scotfang opened #9989 "[rllib] DQNTrainer with TORCH framework fails when attempting to perform operations between tensors of different dtypes"
### What is the problem?
DQNTrainer with TORCH framework fails when attempting to perform operations between tensors of different dtypes.  I think there are multiple places tensors should cast to float, but that is missing in the source code.

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray - 0.8.6
python - 3.6.10
pytorch - 1.2.0
OS - Ubuntu 16.04.6 LTS

##

[2020-08-07 22:33] mfitton commented on #9229
Please see explanation and fix here: https://github.com/ray-project/ray/pull/9959

[2020-08-07 23:22] snmhaines commented on #9866
No - I was using the redis address from the host and adding the magic port number.  I just tried using "auto" instead, but the result was the same.

Note that for the "head_start_ray_commands:" (in the config) I am still using:-
- ulimit -n 65536; ray start --head --redis-port=6379 --object-manager-port=8076 --autoscaling-
config=~/ray_bootstrap_config.yaml

[2020-08-07 23:34] #9341 closed

[2020-08-08 02:50] guoxuxu commented on #9980
I found a difference !  when I saved the best trial in the JSON file using results from ```analysis.dataframe(metric=metric_name, mode='max')```, the learning rate is truncated to 5 decimal places compared with that result from
[code]
This may be one of the reasons I cannot reproduce the result using the learning rate from the previous one!

Here comes one more question, how can I prevent sampling

[2020-08-08 03:02] markqiu commented on #9869
Sorry, I seemed to be mistaken. I thought the backend of serve was flask, but now I found it was uvicorn.

[2020-08-08 03:46] #9229 closed

[2020-08-08 06:16] loveJasmine opened #9997 "Could we use ray to accelerating the big text corpus processing?"

[2020-08-08 06:24] richardliaw commented on #9997
yes!

[2020-08-08 06:43] loveJasmine commented on #9997
any demo on text preprocessing?

[2020-08-08 10:03] krfricke commented on #7307
We added a replay utility in #9953

[2020-08-08 10:03] #7307 closed

[2020-08-08 10:04] krfricke commented on #9178
We added a replay utility in #9953

[2020-08-08 10:04] #9178 closed

[2020-08-08 10:27] angshine opened #9999 "[core] Ray on slurm cluster hangs after running a while."
### What is your question?
I'm running ray on a slurm cluster with 5 nodes. One node is used as the head node without any computing work. Each worker node launch 8 Tasks, each requires 1 gpu and 4 cpus cores to do some heavy computing. However, some Tasks hang after running a while and other Tasks work properly. I've tested the code on a local machine with 2 Tasks and it works with no problem. Wha

[2020-08-08 11:40] crypdick commented on #9922
@richardliaw async hyperband

[2020-08-09 02:32] pengzhenghao opened #10001 "[rllib] Custom metrics are not shown if the first episode is not ended while the first training iteration begins"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray 0.8.6
python 3.7
tf 2.1.0

Ray would not report the custom metrics all along if the following condition is met:

* No complete episodes have been collected before the first training iteration starts (so that the first-time metric reporting starts)

However, this is a common cases whe

[2020-08-09 02:38] pengzhenghao commented on #10001
Note: I know in Ray 0.8.6 we are using an object to represent callbacks, but the issue is still there.
Well, a workaround is add empty term in `on_train_result`:

[code]

The term `custom_metrics/pole_angles_mean` is shown in dataframe while `custom_metrics/pole_angles_min` is not since it is commented.

[2020-08-09 04:15] wiljohnhong opened #10002 "[rllib] PPOTrainer pytorch version can only use one GPU?"
ray==0.8.6
python==3.7.4
torch==1.6.0

cuda 10.1
ubuntu 16.04

Hi, I'm new to use rllib, really amazing! But now I have 8 nvidia RTX 2080ti on my driver machine, and when I set `ppo.DEFAULT_CONFIG["framework"]="torch"`, just the first gpu is in use. This is not the case when I switch to the default tensorflow framework which uses up all the 8 gpus with orther configs remain the same. I can't figur

[2020-08-09 05:16] pmacalpine opened #10003 "[rllib] pytorch PPO running slower than it was in 0.8.6"
### What is the problem?

I've seen a noticeable speed decrease and longer running times when using pytorch PPO with ray 0.9.0.dev0 as compared to ray 0.8.6.  Running times on simple environments like cartpole and pong are somewhere around 10-25% slower.  Also, when using a seed value for cartpole and no GPU, I get different values for pytorch PPO with ray 0.9.0.dev0 and 0.8.6.  I get the same val

[2020-08-09 06:38] jparkerholder commented on #9245
Hey - I have a very similar issue with BOHB, has anyone resolved this?

[2020-08-09 07:12] icaropires commented on #8660
I think I was able to solve it. I will update the #10004  with the checkings and this issue with more details as soon as possible.

[2020-08-09 12:25] MoggeM opened #10009 "[rllib] Custom policies crashes in multi-agent, tuple action space settings"
### What is the problem?
Custom policies crashes with the following error:

File "/home/mogge/.local/lib/python3.8/site-packages/ray/rllib/evaluation/sampler.py", line 1004, in _process_policy_eval_results
    clipped_action = clip_action(action,
  File "/home/mogge/.local/lib/python3.8/site-packages/ray/rllib/policy/policy.py", line 526, in clip_action
    return tree.map_structure(map_, action,

[2020-08-09 14:08] alexisdrakopoulos opened #10010 "Confused about how to extract optimal schedule after PopulationBasedTraining"
I read: https://github.com/ray-project/ray/issues/5489 and understand that pbt_global.txt contains the perturbations from some of the trials, however I am confused by how one would then establish an "optimal" schedule. Would you simply save the last value of each dictionary and then use that as your value for iteration N during the next run?

For example, if one were to run the toy example and aft

[2020-08-09 20:06] #6372 closed

[2020-08-10 01:10] icaropires commented on #8660
@rkooo567 I've tried to increase timeout to like 2s but I've got the same behaviour even  my ping response being less than 100ms to 8.8.8.8.

So I invested in trying to fix the fallback option, the local resolve, and implemented the solution at #10004 .

But I guess that even being able to suggest the right IP most of the times, there might be situations in which the best is let the user specify `

[2020-08-10 03:58] concretevitamin opened #10015 "[rllib] Torch policy + non-empty custom_model_config errors out"
### What is the problem?
On Ray 0.8.6, Torch policy + non-empty custom_model_config + custom model would crash.

### Reproduction (REQUIRED)
[code]
Reproducible by any custom Torch model with a non-empty `custom_model_config`.

This error shows up if I set any `custom_model_config: {'pool': xxx}`, where `pool` is something my custom torch model can interpret; here, rllib torch template is unpackin

[2020-08-10 04:54] fyrestone opened #10016 "[Dashboard] Port reporter.py and related tests to the new dashboard"
1. Port `reporter.py` to `reporter_agent.py` in `reporter` module.
2. Port RESTful APIs of reporter to `reporter_head.py` in `reporter` module.
3. Port related tests to `reporter` module.

[2020-08-10 05:38] fyrestone opened #10017 "[Dashboard] A log module for the new dashboard"
- Each agent starts a http log agent to provide log access.
- The log head provides endpoints of log agents.

[2020-08-10 05:52] mxz96102 opened #10018 "[Dashboard] new Dashboard front-end features and merge the old front-end"
- Old front-end pages will keep existing as /dashboard page
- Add menu layout for front-end
- New node summary and detail page to show node info
- New log page to explore logs throw front-end page

[2020-08-10 06:03] fyrestone opened #10019 "[Dashboard] A stats_collector module for collecting node info"
- **GET** `/nodes?view=summary|hostNameList`
- **GET** `/node/{hostname}`
- `stats_collector` also collects actors.

[2020-08-10 09:06] sven1977 commented on #10015
Can you try getting the `pool` information in your Model class' c'tor from `config["model"]["custom_model_config"]["pool"]`, instead of an actual `pool` arg? It should work then.

[2020-08-10 09:12] kamil-kaczmarek commented on #9017
I'm very happy to see this improvement merged. Thanks @krfricke and @richardliaw !

[2020-08-10 09:19] sven1977 commented on #10009
Yup, something's off. Taking a look now ...
Thanks for filing this!

[2020-08-10 09:56] #9906 closed

[2020-08-10 09:56] sven1977 commented on #10009
Can you try this in your policy?

[code]

The thing is that your policy is supposed to return "batched" actions. So if we have a Tuple action space, the returned actions must be tuples of np.array batched values (in this case ints as the child-spaces are all discrete).

I'll leave this open and add a better error message to RLlib in case the policy violates this. Also let me know, if this does not

[2020-08-10 11:48] guoxuxu commented on #9980
Answer: https://docs.ray.io/en/master/tune/api_docs/suggestion.html

[2020-08-10 11:48] #9980 closed

[2020-08-10 12:59] lsylusiyao opened #10024 "[rllib]State input's shape about custom env based on gym's env"
### What is your question?

I've created a custom env, which basically looks like this.

[code]

The problem is, when I wrote `reset` like this, line 375 in [modelv2.py](https://github.com/ray-project/ray/blob/master/rllib/models/modelv2.py) : `_unpack_obs(obs, obs_space.original_space, tensorlib=tensorlib)` gave out : `reshape(): argument 'shape' must be tuple of ints, but found element of type t

[2020-08-10 13:01] sergeivolodin commented on #9964
@richardliaw Here it ate all the remaining memory on my laptop and crashed wsl. Which versions of tensorflow do you want me to try?

![image](https://user-images.githubusercontent.com/1012270/89785205-4f0b6180-db1a-11ea-9324-20c9effa8aa8.png)

[2020-08-10 16:06] concretevitamin commented on #10015
The problem is rllib unpacking this for me.

On Mon, Aug 10, 2020 at 02:06 Sven Mika <notifications@github.com> wrote:

[2020-08-10 16:17] rkooo567 commented on #9999
@wuisawesome Do you have any idea why?

What version of Ray are you using? Also, can you show us logs from /tmp/ray/session_latest/logs/gcs_server.err?

[2020-08-10 16:18] rkooo567 commented on #9979
cc @robertnishihara

[2020-08-10 16:27] sven1977 commented on #10024
Hey @lsylusiyao thanks for filing this. Yeah, looks like a bug or at least something we don't support yet (MultiBinary space). We should have a Bernoulli distribution or MultiBernoulli for these cases. ...

[2020-08-10 17:23] MoggeM commented on #10009
Yes, this worked like a charm. Thank you very much for the help

[2020-08-10 18:21] amogkam commented on #10010
Hi, @alexisdrakopoulos, the schedules for each trial are saved as txt files in the results directory. @krfricke recently added functionality to replay a PBT run (https://docs.ray.io/en/master/tune/tutorials/tune-advanced-tutorial.html#replaying-a-pbt-run). So to get the optimal schedule you can pick the trial with the best accuracy and replay the corresponding schedule. Is this what you're looking

[2020-08-10 19:13] #9042 closed

[2020-08-10 19:25] davidia opened #10028 "Can't join a restarted AWS cluster - Heartbeat timestamp held over from last session"
I had an AWS cluster, I had my local machine join it then I stopped it. Later, I have now restarted it with `ray up cluster.yaml` and tried to join it with my local machine again. However I now get immediately kicked off because my node is stale and the last ping value in the logs is huge. I can only guess this is the timestamp from my the last hearbeat of the previous session is being used and my

[2020-08-10 19:44] davidia commented on #10028
I managed to connect so it may be a race condition, closing

[2020-08-10 19:44] #10028 closed

[2020-08-10 21:53] ericl opened #10029 "[Multi-tenancy] Cap number of worker processes per raylet when there are multiple jobs"
In multi-tenant mode, we should soft cap the number of total processes on a node. Currently, each job can launch up to NCPU processes, which can easily cause resource exhaustion errors (e.g., OOM), if many jobs are running on the same node.

The algorithm should be something like this:
1. When adding a process, and the number of processes exceeds the soft cap (NCPU as before), try to kill an idle

[2020-08-10 22:43] LinxiFan commented on #7084
I had the same issue. I'm using the ray command line API, and adding `--webui-host 0.0.0.0` works for me!

[2020-08-11 02:08] lsylusiyao commented on #10024
However, it seems that the MultiBinary is enough for my problem, and the result of sample satisfies me. The problem could still be in the dimension or in the Box.

[2020-08-11 03:29] anguyenbus opened #10033 "Replay Buffer investigation"
### What is your question?
[rllib] replay buffer.

Hi all,

I am doing a personal RL project in improvement of RNN. The issue is I really want to look into the experience sampled by SACTrainer pre-training. The reason why I want to do this is because I am not sure if the samples are in sequence order when fed into the RNN.

So do you know how can I play around with replay_buffer to print out the e

[2020-08-11 04:26] rkooo567 commented on #9941
Current plan: Create / delete hundreds of placement group and run tasks. Measure

1. Placement group creation time.
2. whether or not there are resource leak.

[2020-08-11 06:02] anguyenbus commented on #8763
I am using sac,

    analysis = tune.run(sac.SACTrainer,
                    config={"env": "RsmAtt",
                           "num_gpus" : 1,
                           "num_workers" : 0,
                           "use_pytorch" : 1,
                           "framework" : 'torch',
                           "buffer_size" : int(1e4),
                           "rollout_fragment_length":100},

[2020-08-11 06:08] wayyoungboy opened #10037 "Can CPU resource scheduling be scheduled through Cgroup?"
The current resource scheduling restrictions rely on programmers to manually set quantitative indicators.
### Describe your feature request

[2020-08-11 06:17] noprohuangqi opened #10038 "[TUNE/PBT]Maybe a bug in tune/pbt example code?"
https://github.com/ray-project/ray/blob/65848201c348bb3fccd6e11d620626ec2480a2d0/python/ray/tune/examples/pbt_convnet_example.py#L135-L136

when I use RAY/PBT follow code above , I find in this code:
[code]
the formula:
`analysis.get_trial_checkpoints_paths(best_trial, "mean_accuracy")`
in fact return a list like :
` lists = [['009' , 0.7] , ['007' , 0.9]]`
This mean the list's item is a list whic

[2020-08-11 06:20] ffbin opened #10039 "[GCS]Duplicate subscribe of node resource when resubscribe."
### What is the problem?
![image](https://user-images.githubusercontent.com/13081808/89863472-bd185d00-dbdc-11ea-861f-94c6e1af566c.png)

We will call `AsyncSubscribeToResources` in the callback of `AsyncSubscribeToNodeChange`.
If the connection between gcs client and gcs server is abnormal, the gcs client will reconnect and fetch data from gcs server and call the callback of `AsyncSubscribeToNodeC

[2020-08-11 07:07] bentzinir opened #10041 "[rllib] How can a trainer access total reward?"
### What is your question?
Can an off-policy algorithm that trains on offline samples access the total reward of the trajectories from which the samples were taken?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 0.9.0.dev0, Python 3.8, TF 2.3,

[2020-08-11 11:00] VishDev12 commented on #9848
It's not comprehensive, but this might be a good starting point: #9327

[2020-08-11 11:41] lsylusiyao commented on #10024
Oh, and today I tested to switch `Tuple` to `Dict` and the same problem occurred in the same way at the same place.......

[2020-08-11 13:05] krfricke commented on #10010
As a side note, you can explore the hyperparameter schedule for each trial in `pbt_policy_{trial_id}.txt`. If you would like to see the extracted schedule we use in the `PopulationBasedTrainingReplay` utility, maybe this helps:

[code]
Please note that `_policy` is a protected attribute and the representation might change in the future.

[2020-08-11 14:47] sven1977 commented on #10024
Yes, that could be. I'm currently adding a better test case for complex action spaces (including MultiBinary components). Some special combinations do fail currently (even w/o MultiBinary). ...

[2020-08-11 15:58] alexcoca opened #10045 "[docs] Issue on `serve/tutorials/batch.rst`"
Hi,

According to your documentation:

![image](https://user-images.githubusercontent.com/30216068/89919870-b5b07e00-dbf3-11ea-8e1c-a516664aa2ff.png)

This means that if a worker happens to be idle and there are 500 requests to serve with a batch size of 10 we would send them all to one worker. I hope what the writer meant is `min` instead of `max`.

(Created directly from the docs)

[2020-08-11 16:42] amogkam commented on #10038
Yes this looks like a bug, good catch! If you don't mind could you submit a PR for this fix?

[2020-08-11 18:48] AprilXiaoyanLiu opened #10048 "[RLLib] RLLib Customized Env do we have to put one action_space in environment?"
I have a customized environment, where per state we have different numbers of actions. The idea is to create a dictionary where for each state, it has different set of number of actions. I know we can use parametric action space to handle this scenario. But we want to use a different model to handle it and customized the action distribution function. In that case, do we have to pass action_space i

[2020-08-11 19:10] richardliaw commented on #8313
This should be fixed in #9744! Please ping (or open a new issue if not!)

[2020-08-11 19:10] #8313 closed

[2020-08-11 20:08] #10009 closed

[2020-08-11 22:33] ericl commented on #9592
Since local mode runs everything in one process, it's difficult to control the TF behaviour (it will basically be set to whatever tf was configured at). So basically this isn't supported.

[2020-08-11 22:35] ericl commented on #9576
I don't think this is the case, we only spawn evaluation workers when evaluation_interval is set: https://github.com/ray-project/ray/blob/master/rllib/agents/trainer.py

Probably you're just seeing the env created for the local worker. Reset() will never be called on this env though, so you can just defer expensive initialization to the first reset.

[2020-08-11 22:36] ericl commented on #9961
Can you provide a reproduction script? This shouldn't be happening since the data is read lazily on-demand, though it's possible there is some memory leak here.

[2020-08-11 22:39] ericl commented on #10048
You must always define the action space as a `gym.Space`, perhaps you can use a Tuple of different action spaces, or a big action space that is the union of all possible child spaces.

[2020-08-11 22:41] ericl commented on #10041
If the batches written to the files are complete trajectories, then you can probably compute the total reward (discounting as needed) easily since the entire data is there.

If the batches are trajectory fragments, you have to instead precompute the reward totals and save them as fields in the batch when building it (e.g., https://docs.ray.io/en/master/rllib-offline.html#example-converting-externa

[2020-08-11 22:45] ericl commented on #10015
@sven1977 I think this is a bug, removed it for torch here: https://github.com/ray-project/ray/pull/10055

[2020-08-11 22:47] ericl commented on #10002
Yeah, we don't have multi-gpu for torch implemented (though you can try DD-PPO). This should probably be raising an error instead of silently ignoring the other GPUs.

[2020-08-11 22:49] ericl commented on #9989
Maybe upgrade pytorch? It seems to run for me on 1.4.0

[2020-08-11 23:39] richardliaw commented on #9866
Hmm, the latest version of Ray I think doesn't support `redis-port` anymore? I think you need to do `ray --port=6379`.
Can you also run `ray monitor {cluster.yaml}`?

[2020-08-12 00:49] wuisawesome commented on #7084
Could the next person who runs into this issue please post the output of `cat /etc/hosts | grep localhost` and share your OS as well? It would be very useful for understanding how widespread link local ipv6 addresses are for Ray users.

[2020-08-12 00:52] #9892 closed

[2020-08-12 02:24] xlnwel opened #10058 "Rllib cannot run on gpu"
I install ray[rllib] and tensorflow using the following commands

[code]
I run rllib's PPO and receive the following error message

I've tested the environment using my own code and the GPU is used as expected. How can I fix it?

My system information:
[code]

[2020-08-12 03:31] vancaho commented on #9862
Yes, it works. But I don't know whether it is elegant.

[2020-08-12 05:14] rkooo567 opened #10061 "[Placement Group] Allow concurrent creation of placement group."
### Describe your feature request
Currently, gcs service can create only 1 placement group at a time. This means when there are 2 placement group requests, the second request won't be processed until the first placement group creation succeeds or fails. We should allow concurrent creation of placement group. This should not be the high priority because placement group creation throughput is not th

[2020-08-12 06:27] snmhaines commented on #9866
Well, I updated the ray start commands as follows:-
[code]
These start the cluster OK, but Ray is still not employing the worker.  I could not understand how to use that monitor, is there a more full instruction than this (https://docs.ray.io/en/master/cluster/launcher.html#monitoring-cluster-status-ray-dashboard-monitor)?

[2020-08-12 07:24] richardliaw commented on #9866
Can you post the monitor output? I could help you decipher it.

[2020-08-12 07:41] lileishitou opened #10065 "when head node failes， how to keep the ray cluster still work"
is there any module such as zookeeper for ray cluster using in the high availability ;

[2020-08-12 07:49] rkooo567 commented on #10065
Hi, @lileishitou. We are currently in progress to support HA for Ray. Ray's single point of failure is GCS (Redis) because they are residing in a head node. We are in progress of decoupling this piece of component from Ray clusters (so that you can use any reliable databases such as etcd as GCS backend). Supporting modules such as zookeeper for leader election should be the next step once this dec

[2020-08-12 07:52] rkooo567 opened #10066 "[Placement Group] Support Placement Group Handles"
### Describe your feature request
Placement Group is currently just an ID object. We should instead use handles that store some metadata. This will allow us to achieve

- Ref counting of handles
- More robust removing placement group mechanism (for example, we can send pubsub message to each core worker that this handle is removed from gcs).
- Getting more metadata of the handle such as bundle ind

[2020-08-12 08:57] guoxuxu opened #10067 "[tune] ModuleNotFoundError for tuning script"
### What is the problem?
### ModuleNotFoundError: No module named 'functions'

Does it seem the ray_tune.py file must stay in the same directory with data/ ??? Otherwise, it doesn't work even if I put ```'../'``` in the data loader function...
Specifically, I run the same ray_tune.py in the parent folder and child folder respectively, but only got success when I run under the parent folder.

Canno

[2020-08-12 12:46] 51616 commented on #2836
Follow up question about RL^2, from this figure in the paper, it seems like when the environment is reset the agent only takes new observation s0 w/o prev action and reward (i guess it uses placeholder for prev action and reward instead) to produce h4 compared to h3 where it uses s3, a2, r2 and d2 as inputs and not output any action in the environment.

So my questions are
1. How can I produce h3

[2020-08-12 13:23] SunLightFor6 commented on #8546
I noticed the pid here is very large, so I suggest you check whether the cpu core can support such a high load or not. Maybe `ulimit -u` can help.

[2020-08-12 14:38] lsylusiyao commented on #10024
Thanks to @panda361, I finally solve this problem. It seems that the bug is on the `Gym` part rather than on the `ray` so I made a pull request for that.
[#2023 for Gym](https://github.com/openai/gym/pull/2023)
And also, thanks for @sven1977 helping me.

[2020-08-12 14:38] #10024 closed

[2020-08-12 16:11] mvindiola1 opened #10068 "[rllib] MARWIL does not convert SampleBatch state_in_* values to torch tensors"
Ray [0.6.8] and Ray nightly wheel: https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.wh

When training marwil with an LSTM layer using pytorch I get the following error:

I do not get any errors in TF.

This is the script I used to test and generate the attached error log.
[torch_error.txt](https://github.com/ray-project/ray/files/5064082/error.txt)

[2020-08-12 17:24] sumanthratna commented on #7084
I'm in a Docker container.
- host OS: macOS Big Sur Beta (20A5343i)
- container OS: debian buster (3.8-slim-buster)
[code]

[2020-08-12 17:45] stephanie-wang opened #10070 "[Object spilling] Update metadata for spilled objects"
The system must track metadata for objects that are currently being spilled or that have already been spilled. This means:
- Raylet keeps track of which objects are currently being spilled.
- The object directory should be updated after an object has been spilled.
- Raylet unpins after the object directory is updated
- Raylet notifies the owner after unpinning (needed for correct failure handling

[2020-08-12 17:48] stephanie-wang opened #10071 "[Object spilling] Raylet automatically reloads spilled objects back into object store"

[2020-08-12 18:02] rusu24edward opened #10072 "[rllib] minimal build"
# What is your question?

With `pip3 install ray[rllib]`, I get to `Running setup.py install for opencv-python`, and I can't seem to move past this point, even waiting for hours. I looked up opencv-python to understand what it is. I don't have applications in computer vision, so I don't need it in my build. Is there a way to install ray[rllib] without this (and possible other) dependencies?

[2020-08-12 19:46] snmhaines commented on #9866
I checked the latest version of example-full.yaml and followed that, i.e. using --address=$RAY_HEAD_IP:6379 in the worker ray start command.  This worked.

I would suggest that since the start command sections are not supposed to be configured by the user, but they do need updating for new releases, it would be safer if they were invisible.  In other words, not in the .yaml, but issued elsewhere,

[2020-08-12 19:46] #9866 closed

[2020-08-12 23:52] annaluo676 opened #10076 "[tune] Cannot change sync_to_cloud frequency"
### What is the problem?

After setting `tune.syncer.NODE_SYNC_PERIOD = 60` and `tune.syncer.CLOUD_SYNC_PERIOD = 60`, files such as `progress.csv`, `result.json` and tensorboard event files under `upload_dir` (aws s3 in this case) are still updated every 300s, which is the default value as per https://github.com/ray-project/ray/blob/master/python/ray/tune/syncer.py

Note that `NODE_SYNC_PERIOD ` i

[2020-08-13 00:18] richardrl opened #10077 "Docker + AWS fails with no such container error"
Latest dev version of ray

[code]

YAML file for repo attached.

[code]

[2020-08-13 01:20] richardliaw opened #10079 "[cli/docs] Provide example commands in the CLI docstrings."
### Describe your feature request

For example:

[code]

[2020-08-13 03:02] amogkam commented on #10076
Hi @annaluo676, can you try upgrading your ray version and setting the `TUNE_CLOUD_SYNC_S` environment variable as described in https://docs.ray.io/en/master/tune/user-guide.html#uploading-results. If that still doesn't work I can investigate this further. Thanks!

[2020-08-13 04:00] wuisawesome opened #10082 "[autoscaler] ray submit --start is broken"
### What is the problem?

`ray submit --start ` is broken on latest master (presumably this is due to recent logging changes)

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

If we cannot run your script, we cannot fix your issue.

- [ ] I h

[2020-08-13 05:30] wuisawesome opened #10087 "[Core/Autoscaler] Connecting to an existing cluster via env var issue breaks autoscaler"
### What is the problem?

Creating a ray cluster using the RAY_ADDRESS environment variable causes a second copy of `monitor.py` to launch. 2 competing autoscalers leads to some strange issues.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

Call `

[2020-08-13 05:32] sungreong opened #10088 "[Tune] Why I always get the tune result (iter=1)?"
`config_space = CS.ConfigurationSpace()
config_space.add_hyperparameter(
    CS.UniformIntegerHyperparameter('hidden_size_1', lower=30, upper=45))
config_space.add_hyperparameter(
    CS.UniformIntegerHyperparameter('hidden_size_2', lower=15, upper=30))
config_space.add_hyperparameter(
    CS.UniformFloatHyperparameter("lr", lower=1e-4,upper =1e-2,log=True))
config_space.add_hyperparameter(
    CS

[2020-08-13 05:57] simon-mo commented on #10072
Opencv python was release yesterday with a breaking change forcing building from source. We just merged a PR that pins the version that does not require building opencv from source.

You can try install our nightly wheel for this. Alternatively, you can just try `pip install ray` and install all necessary libraries yourself: openai gym, tensorflow or PyTorch.

[2020-08-13 06:27] xli4217 opened #10089 "Logging environment data [rllib]"
### What is your question?
Hi, is there a preferred way to log statistics from a custom environment (i.e. state, action distributions) in tensorboard? Thanks

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 0.8.6

[2020-08-13 07:38] skvark commented on #10072
Just tuning in here to say that your issues are most likely caused just very old ``pip`` version. Last 3 ``opencv-python`` releases (release notes: https://github.com/skvark/opencv-python/releases) have used ``manylinux2014`` standard which require `pip` version >= 19.3. If ``pip`` is older (it might be easily 2+ years or even 5+ years old if you use ``pip`` from your Linux distribution repos) the

[2020-08-13 07:54] #10082 closed

[2020-08-13 08:37] zigui-ps opened #10093 "[rllib] Exception for termination at an environment's time limit"
### Describe your feature request

Time Limits in Reinforcement Learning (paper: https://arxiv.org/abs/1712.00378)

IMO, For time-unlimited tasks, an agent getting 0 rewards at the beyond of time horizon can decrease RL performance.
I suggest making an option to select a time limit exception in rllib.

[2020-08-13 09:39] mattearllongshot opened #10094 "[dashboard] Dashboard doesn't load"
### What is the problem?

OS: Ubuntu 18.04.4 LTS
Ray: 0.8.6
Python: 3.8.1

After opening the dashboard URL, the page starts to load but shortly after goes white, and the following is shown in the console:
![image](https://user-images.githubusercontent.com/37295291/90118621-6c297580-dd50-11ea-81cc-362fc874681a.png)

`dashboard.err` on the head node shows a mixture of these two exceptions:

[code]

[2020-08-13 09:43] pengyuan-zhou opened #10095 "Is it possible to run each agent in a different server"
Hi all,

I'm curious if it's possible and what the performance could be if running multiagent in distributed servers that are wireless connected. Each agent runs in a different server and there could be a central node for orchestration.

Is this supported by Ray?
Thanks.

[2020-08-13 10:12] hkvision opened #10096 "[sgd] Support find_unused_parameters in DistributedDataParallel for TorchTrainer?"
Not sure whether it is necessary, but during distributed training, sometimes would have the following error thrown by PyTorch:
[code]
Does it make sense to expose `find_unused_parameters` in distributed_torch_runner.py?

[2020-08-13 10:32] sungreong opened #10098 "[tune] save_to_object issue"
2020-08-13 19:30:02,883	ERROR worker.py:987 -- Possible unhandled error from worker: ray::TrainRegression.save_to_object() (pid=3357, ip=)
  File "python/ray/_raylet.pyx", line 446, in ray._raylet.execute_task
  File "python/ray/_raylet.pyx", line 400, in ray._raylet.execute_task.function_executor
  File "/root/anaconda3/envs/pytorch/lib/python3.7/site-packages/ray/tune/trainable.py", line 385, in

[2020-08-13 13:25] gml16 opened #10100 "[rllib] function unbatch in ray/rllib/utils/spaces/space_utils.py does not work as intended"
### What is the problem?

Function `unbatch` in `ray/rllib/utils/spaces/space_utils.py` produces an error when given the example input in the head-line comment.
Ray version: On master (latest commit hash is 66d204e0785619a6c9cef707b796e5804401b6ca)
Python version:  3.8.2

### Reproduction (REQUIRED)
[code]

Traceback is:
[code]
- [x] I have verified my script runs in a clean environment and reprod

[2020-08-13 13:44] flokde opened #10101 "[Tune] Making my stopper more efficient"
[tune]
I have an objective function (Trainable) to optimise through hyperopt, that does not profit from additional iterations. The optimization is time constrained. So I want to draw samples from the search space and evaluate them until this time is used up. To implement this, I create Trainables and only run them for one iteration (this was the best solution I could come up with). I defined a cus

[2020-08-13 15:32] amogkam commented on #10088
Hi @sungreong, can you also share the code for TrainRegression please? Thanks

[2020-08-13 15:33] amogkam commented on #10096
Yes this is a good point. We're working on enhancing the Ray SGD APIs and will keep this in mind when doing so. Thanks!

[2020-08-13 15:46] amogkam commented on #10098
Hi @sungreong, are you overriding `save` as well? You only need to override `save_checkpoint` in your Trainable. Can you try doing that and see if you still get the error.

[2020-08-13 15:51] sungreong commented on #10088
Hi Thank you for your quick response!
now my ray version is 0.8.6
i read the github source.
https://github.com/ray-project/ray/blob/d35f0e40d07bab06b41ce5493c2f50b6725a1857/python/ray/tune/trainable.py

Will this be solved by upgrading the version(0.8.7)?
[code]

[2020-08-13 15:57] rusu24edward commented on #10072
Thanks for these responses!

@simon-mo I did try to install myself without dependencies and then went through and installed the individually. I actually modified my local install of the rllib library to remove all the atari stuff that needed opencv. This worked reasonably well until I ran into a problem of not being able to find tensorflow. I believe this is a weirdness in the server I'm working o

[2020-08-13 15:57] #10072 closed

[2020-08-13 16:05] sungreong commented on #10098
hi. it can work. but it can't not save the torch model

how can i save the torch model in experiment tag folder?

here is my code.

[code]

[2020-08-13 16:29] ilonadem commented on #9918
@mfitton I am still unable to get the ray dashboard up, and now when I try to run
``` ray stop ```
I get the following error:
[code]

[2020-08-13 17:15] ilonadem commented on #9918
The dashboard.err file now looks like:
[code]

[2020-08-13 17:15] amogkam commented on #10088
My hunch is that `test_mae` is already at 0.0001 after the first training iteration, and since this is in your stopping conditions, the trial terminates. Can you confirm that this is the case? If you want to print additional metrics in the console output you can add a reporter to your tune.run:
[code]

[2020-08-13 17:27] amogkam commented on #10098
Looking at your tune.run invocation in the other issue I don't think checkpointing is actually being called. You either have to manually checkpoint or periodically checkpoint as described here: https://docs.ray.io/en/master/tune/api_docs/trainable.html#class-api-checkpointing

If you have that set then there should be checkpoints under tune's log directory in ~/ray_results. If you want to save the

[2020-08-13 17:40] annaluo676 commented on #10076
Hi @amogkam, **with 0.8.6** I'm able to update the sync frequency with the following change:
[code]
Missing *any* line above will revert the frequency to 300s. It seems the constants get overwritten through the process. Any ideas?

[2020-08-13 17:49] annaluo676 commented on #10076
Just noticed that 0.8.7 is out. Tested with that and the observation remained the same.

[2020-08-13 21:22] mfitton commented on #9918
@ilonadem are you running Ray in an environment where you can run it with root permissions? I believe that would solve these errors, but I understand why you might be hesitant to do that.
Also, is there anything else to that exception at the bottom? The line it refers to in our source is a line that begins listening for messages on Redis

[2020-08-13 21:23] mfitton commented on #9918
It seems like all of these issues could be inter-process communication issues. psutil failing could also be related to the user running Ray's privileges on the machine.

Could you try running the psutil command manually from the user that you normally run Ray from, please?

[2020-08-13 21:29] mfitton commented on #10094
@mattearllongshot I'm sorry that you've had this problem as well. This is unfortunately a known bug with the 0.8.6 release. The issue is fixed in our newest release 0.8.7. Please read here for more details: https://github.com/ray-project/ray/issues/9317

[2020-08-13 21:29] #8660 closed

[2020-08-13 21:30] #10094 closed

[2020-08-13 21:40] 20zinnm opened #10102 "[dashboard] not counting any workers"
### What is the problem?

All nodes report 0 workers, despite the Ray tune trials running on the cluster. I've verified that the processes are running and that they start with "ray::" so they should be included in the count.

![image](https://user-images.githubusercontent.com/6132034/90189924-ac561b80-dd83-11ea-8ca3-3c6569f20588.png)
![image](https://user-images.githubusercontent.com/6132034/90189

[2020-08-13 21:49] ilonadem commented on #9918
@mfitton Ok, sorry about that -- I wasn't running things in root. I ran everything as root and the psutil issues got resolved. My dashboard is still blank though, and looks like this:
![image](https://user-images.githubusercontent.com/69218138/90190240-a3b61300-dd8c-11ea-984c-f603ed0c74aa.png)
The dashboard.err file reads:
[code]

[2020-08-13 21:55] snmhaines commented on #10102
I am suddenly getting a similar looking problem (using Ubuntu 18.04): the cluster is launching with no errors, but the EC2 console is only showing the head-node - even if I only requested one worker.  I have opened a support case with AWS, in case it is their fault.

[2020-08-13 21:58] 20zinnm commented on #10102
@snmhaines Unless I'm misunderstanding you, that sounds like it might be a different problem. I've never used AWS for Ray so I can't speak to their console, but the problem I'm seeing is that Ray workers (which exist and are running properly) are not being counted in the Ray dashboard.

[2020-08-13 21:58] richardliaw commented on #10102
Hey both, thanks a bunch for reaching out.

@20zinnm can you provide some Tune output (i.e. the resource string)? Just want to check that the cluster is connected to properly.

@snmhaines Can you open a separate issue? It sounds like you're using the Ray cluster launcher right? Can you post some of the output from `ray monitor [clusteryaml]` in that separate issue?

[2020-08-13 22:01] 20zinnm commented on #10102
@richardliaw Sorry, I'm not quite sure what you mean by Tune output. The cluster is all connected properly; here I am using 15x 28-core machines (56 threads):

![image](https://user-images.githubusercontent.com/6132034/90191468-8f6f1780-dd86-11ea-919d-8c1b097ae541.png)

And I've SSH'd into various nodes to make sure there are `ray::` processes listed in `htop`.

[2020-08-13 22:02] richardliaw commented on #10102
yeah that's what I wanted to see. thanks!

is it possible that there's 2 ray clusters running at once..?

[2020-08-13 22:03] 20zinnm commented on #10102
@richardliaw I don't believe so, no. At least I don't see any signs of another ray cluster, and I'm supposed to have exclusive access to these nodes (allocated via SLURM).

[2020-08-13 22:07] richardliaw commented on #10102
Thanks - I'll follow up within the team!

@mfitton looks like the dashboard isn't rendering some actors properly?

BTW, @20zinnm  would love to hear about what you're working on and what we can do to make Tune/Ray better. Would you be willing to hop on a short 30-minute call sometime next week to chat? Just let me know!

[2020-08-13 22:11] 20zinnm commented on #10102
@richardliaw Thank you for your help! I'd be happy to chat next week. Feel free to email me (meyerzinn at gmail) and we can find a time.

[2020-08-13 22:43] snmhaines opened #10104 "Too many open files error"
I am trying to run a large cluster on EC2 (21 x c5.24xlarge for Ubuntu 18.04), using Ray 0.8.6  but experiencing this run-time error:-
[code]
This has recently been reported before (issues #6583  and #7169), but neither of the solutions used therein seem to work.  I increased  ulimit in the head_start_ray_commands from 65536 to 1000000, then 10000000.  I also tried 1000000 in the worker config as

[2020-08-13 22:43] snmhaines opened #10105 "[tune] better file-descriptor resource management for 21*c5.24xlarge (2000cores)"
I am trying to run a large cluster on EC2 (21 x c5.24xlarge for Ubuntu 18.04), using Ray 0.8.6  but experiencing this run-time error:-
[code]
This has recently been reported before (issues #6583  and #7169), but neither of the solutions used therein seem to work.  I increased  ulimit in the head_start_ray_commands from 65536 to 1000000, then 10000000.  I also tried 1000000 in the worker config as

[2020-08-13 22:49] richardliaw commented on #10105
Can you try disabling logging? i.e. `tune.run(loggers=None`?

[2020-08-13 22:55] snmhaines commented on #10102
@richardliaw : I will leave this problem until tomorrow. It will either have gone away, or I will hear from AWS.
However, I have opened a new issue about my next problem: Too many open files error #10104 , which you might take a look at.

[2020-08-14 00:13] rkooo567 commented on #9298
As of Ray 0.8.7, you should open

[code]

I will keep it updated as soon as I find new ones.

[2020-08-14 00:21] #10010 closed

[2020-08-14 00:26] snmhaines commented on #10105
I haven't used tune before; is it in ray, or do I have to install it separately, and should the command be run as part of the setup, on all nodes, before or after starting ray?

By the way, I am actually attempting 1000 cores (1008, to be precise) because I have disabled hyperthreading.

[2020-08-14 00:29] mfitton commented on #10102
Thanks @richardliaw I'll look into it.

[2020-08-14 01:00] #9886 closed

[2020-08-14 01:27] juliusfrost commented on #9576
The environment that I am working with is expensive to create and hogs resources when running. The problem is that even if the environment is not used (reset and step is not called), it will still take resources in the background. Is there a reason for keeping this around other than the spaces? You could possibly clone the spaces for later access but terminate the environment instance to save reso

[2020-08-14 01:37] ericl commented on #9576
You can defer env init until reset is called, to avoid using resources at
all. We could potentially fix the interface to allow action spaces etc to
be passed in separately, though it is more cumbersome for the common case.

On Thu, Aug 13, 2020, 6:28 PM Julius Frost <notifications@github.com> wrote:

[2020-08-14 02:24] Czxck001 commented on #7925
I've met the same problem with ray 0.8.6 on my Macbook. Any update on fixing the issue?

[2020-08-14 02:29] wuisawesome commented on #7925
ah yeah, this ended up on my backlog. #10050 should mitigate it by causing the second port attempt to succeed. doing ctrl+c twice quickly will also kill it. i believe the issue is that ssh is hogging the signal and it isn't making its way back to ray.

[2020-08-14 02:30] rkooo567 commented on #10033
cc @sven1977

[2020-08-14 02:35] juliusfrost commented on #9576
Thanks for your quick response!

I am not the creator of the environment so I don't have control over initialization. I doubt that the developers of the environment would want to change the initialization process as it is very intricate. I have not come across the design pattern of leaving initialization to reset() before and I'm uncertain that other users would find it intuitive to keep this in m

[2020-08-14 02:35] rkooo567 commented on #10037
You mean restrict the machine resource usages using cgroup? This is kind of done for actors, but not for tasks. If I misunderstood, can you elaborate the implementation idea a little bit more?

[2020-08-14 02:36] rkooo567 commented on #10038
@amogkam Can you set the priority level and an assignee? If he doesn't respond, you can assign to yourself?

[2020-08-14 02:36] rkooo567 commented on #10058
cc @sven1977 Is it the known issue?

[2020-08-14 02:37] rkooo567 commented on #10067
cc @amogkam

[2020-08-14 02:38] rkooo567 commented on #10077
@richardrl It looks like the issue is resolved, so I will close it. Please reopen it if I am wrong :)!

[2020-08-14 02:38] #10077 closed

[2020-08-14 02:38] rkooo567 commented on #10089
cc @ericl @sven1977

[2020-08-14 02:39] rkooo567 commented on #10095
cc @ericl

[2020-08-14 02:40] rkooo567 commented on #10101
cc @richardliaw

[2020-08-14 02:40] rkooo567 commented on #10104
cc @wuisawesome Any clue?

[2020-08-14 02:41] rkooo567 commented on #10045
cc @simon-mo

[2020-08-14 02:45] rkooo567 commented on #9925
Hi, @loveJasmine Thanks for your interest in becoming a Ray contributor!! I'd like to suggest a couple ways to start! Learning about core components like Plasma store or other parts of systems are a little tricky now, but we will have more resources online out there sooner or later, so stay tuned :).

- Use Ray! Think about what's the problem and propose fixes! Joining our slack is also good idea.

[2020-08-14 02:47] wuisawesome commented on #10104
@snmhaines thaanks for the report, some diagnostic data might be useful here.

Can you get the output from `find /tmp/ray/session_latest | wc -l`, `find /tmp/ray/session_latest/logs | wc -l`, and `find /tmp/ray/session_latest/sockets | wc -l`?

If either of those directories contains a very large (thousands) of files, most of those file names will follow a pattern which would be very useful.

[2020-08-14 03:11] #9925 closed

[2020-08-14 04:55] dciborow commented on #7645
Any way this error message can be improved.... Google saved me here by this being a top result for  ModuleNotFoundError: No module named 'tree'

I'd assume anyone who actually needs tree, as the rest of us probably did simply does pip install tree. But at least google saves us....

[2020-08-14 06:00] ericl commented on #9576
Note that you can always wrap the environment (create self.env on reset,
and just forward the step calls to self.env), so with a trick like this
initialization can be deferred.

I agree with your plan though, maybe we can create a fake env locally or
something that grabs the action spaces from the remote workers, and only
creates the real env on reset.

On Thu, Aug 13, 2020, 7:35 PM Julius Frost <

[2020-08-14 06:25] richardliaw commented on #10105
Ah, I thought `sync_to_driver` was a Ray Tune specific thing. I'll close this issue in lieu of #10104

[2020-08-14 06:25] #10105 closed

[2020-08-14 07:16] richardliaw commented on #10088
Yeah; `stop` assumes that the metrics are *increasing*. If test_mae > 0.001, the trial would stop.

[2020-08-14 09:15] richardrl opened #10111 "ray dashboard not working"
Running the latest ray from master.

After successfully launching my cluster on Docker + EC2 (with ray up), I run:
`ray dashboard config.yaml`

And get this error:
[code]

[2020-08-14 12:28] guoxuxu opened #10113 "[tune] Questions about reproducing Tune results"
### Describe your feature request

I am currently struggling with reproducing the best results using the best hyperparameters found by ray tune. Though I make sure the random seed is the same and data loaders are the same. The results just cannot be reproduced.
I spent a lot of time learning ray Tune, but if it comes that the results cannot be reproduced, then it might not be a potential tool in t

[2020-08-14 16:16] sungreong commented on #10088
Thanks you! I Change the metric(increasing) and then it is work!
but now `iter` is only 2
actually i don't know meaning of training_iteration
please tell me about this?

![image](https://user-images.githubusercontent.com/22166391/90270320-fbd83c80-de94-11ea-8c90-df9186dbe0aa.png)

[2020-08-14 16:37] amogkam commented on #10088
`training_iteration` gets incremented every time `_train` is called. In your example 1 training iteration is actually doing 1000 epochs of training. You might want to have `_train` just train for 1 epoch and then do validation and return those results.

[2020-08-14 16:42] 20zinnm commented on #10102
By the way, @mfitton I verified using the Firefox network inspector that the JSON responses from `node_info` correctly lists all of the workers for each node. The bug is likely on the React side of things.

[2020-08-14 17:54] juliusfrost opened #10117 "[rllib] Off Policy Estimation breaks with GPU on PyTorch (MARWIL) (Offline API)"
### What is the problem?

When I use MARWIL with PyTorch and num_gpus: 1, I get an error when computing metrics. This happens because in off policy estimation it uses the torch tensors on gpu instead of numpy arrays. Particularly, I use "input_evaluation": ["is", "wis"] and the error goes away when "input_evaluation": ["simulation"]

[code]

### Reproduction (REQUIRED)
Please provide a script that

[2020-08-14 17:56] rkooo567 commented on #10111
cc @wuisawesome

[2020-08-14 18:09] juliusfrost commented on #9961
I found that this happens with MARWIL and when num_gpus: 1
I do not have a reproduction script right now as it is coupled with a lot of data preprocessing I can't share feasibly yet.

[2020-08-14 18:19] wuisawesome commented on #10111
@mfitton you should be able to close this once #10050 is merged

[2020-08-14 19:05] #9821 closed

[2020-08-14 19:06] icaropires commented on #8648
@rkooo567 Probably this is fixed by #10004

[2020-08-14 19:27] snmhaines commented on #10102
Thanks for picking this up @mfitton,

[logs.zip](https://github.com/ray-project/ray/files/5076792/logs.zip)

I still have the problem with lack of workers on EC2 today.  The AWS support doesn't quite understand the problem yet, so I have sent them more screenshots.  In case you can find any clues, I am attaching the example of a launch that I just did requesting 2 on-demand workers (to make things

[2020-08-14 20:07] richardliaw commented on #10067
@guoxuxu sorry for the slow reply, can you jsut use an absolute path?

[2020-08-14 20:08] richardliaw commented on #10067
Also, it sounds like you're depending on a relative import in Python.

For Ray, it is best that you use Absolute imports: https://realpython.com/absolute-vs-relative-python-imports/

[2020-08-14 20:10] richardliaw commented on #10113
Can you provide some context as to what you're trying to reproduce and what is hard to do right now?

[2020-08-14 20:12] richardrl opened #10119 "[docs] Issue on `tune/tutorials/tune-pytorch-cifar.rst`"
# Documentation Problem/Question/Comment
ray Trial runs this line here: https://github.com/ray-project/ray/blob/6b53df95990bfac235313f24f80176948339b606/python/ray/tune/trial.py#L438

Passing a function instead of a torchtrainable into tune.run(<>,...) does not run this line, so there is no syncing from the worker nodes to the head node, unless you set "check_freq" in tune.run(...). This is very u

[2020-08-14 20:14] richardliaw commented on #9432
@barakmich did you have time to look into this?

[2020-08-14 20:44] ericl commented on #10001
I'm not sure it's possible to provide these semantically before an episode ends for the same reason we can't provide rewards until the episode ends... consider if the final reward is negative. Then, reporting the reward so far (0.0) would be hugely misleading.

[2020-08-14 20:44] ericl commented on #10058
This is almost certainly due to a bad CUDA installation. Have you checked if tensorflow can use GPUs without Ray?

[2020-08-14 20:45] ericl commented on #10068
@sven1977

[2020-08-14 20:49] ericl commented on #10100
cc @sven1977

[2020-08-14 20:50] ericl commented on #10117
Hmm I think we are missing a call to `.cpu().numpy()` somewhere and are trying to calculate a np.mean() over torch tensors representing a single element. Do you think you could look into this issue?

[2020-08-14 21:07] ericl commented on #10003
0.8.6
[code]

nightly:
[code]

I gave this a try and the perf stats (train -v) seem pretty identical to me. Do you see any particular stat that got slower on your setup?

[2020-08-14 21:29] chanshing commented on #9058
@richardliaw @goulou Does `brackets=3` also include the case for 0, 1, 2? Or do we need to pass `brackets=[0,1,2,3]`?
Also, what if I have one of those "slow winners" performance curves, where it starts off very low but ultimately achieves the best performance? Does increasing `brackets` help?

[2020-08-14 22:16] pmacalpine commented on #10003
The main thing I notice is that learn_time_ms is almost 2.5X more for the nightly build vs 0.8.6.

For 0.8.6
[code]

For nightly:
[code]

[2020-08-14 23:43] mfitton commented on #10102
@snmhaines @20zinnm I'm able to intermittently recreate this issue on a cluster I spawned up. It seems like when I submit a script, new workers will be spun up, and I'm able to see their progress, but when they finish, at times (but not others) those workers' rows disappear from the machine view. I'm trying to figure out what's causing it, but being able to reproduce it is a good sign.

Does my de

[2020-08-15 00:00] stephanie-wang opened #10124 "[dask-on-ray] ValueError on read-only memory"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 0.9dev

I was trying out the new Ray backend plugin for Dask and ran into a read-only error. Looks like the Dask code tries to write in-place, but Ray doesn't allow it since objects are immutable.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue.

[2020-08-15 00:00] stephanie-wang commented on #10124
cc @clarkzinzow, do you have any ideas? Also cc @ericl.

[2020-08-15 00:05] mfitton commented on #10102
@20zinnm would you be able to send me the payload that you're seeing from the `node_info` response in Firefox? If you could send me the `raylet_info` response too that would be really helpful.

I'm having trouble recreating it in my local dev environment where I can set breakpoints and stuff, so I'm thinking it would be helpful to see the payloads you're receiving to see if I can reason about wher

[2020-08-15 00:16] 20zinnm commented on #10102
@mfitton My experience with it is workers never show up on the dashboard. I will send you the payload via Slack when I get a chance.

[2020-08-15 00:26] clarkzinzow commented on #10124
@stephanie-wang Just ran the reproduction script and it worked for me off commit [7ffb37f711f0045f1d1199db139e31e58fcbbe00](https://github.com/ray-project/ray/commit/7ffb37f711f0045f1d1199db139e31e58fcbbe00). Dask collections generally aren't allow to mutate in place, that shouldn't even be possible to express in a Dask graph, so I'm wondering what you're running into here... 🤔

[2020-08-15 00:31] ericl commented on #10124
[code]

I can reproduce, I believe it's due to some argument being passed to the task wrapper that is presented as a readonly Ray object. It's probably specific to particular dask/pandas/numpy versions.

[2020-08-15 00:31] clarkzinzow commented on #10124
Do you mind giving your versions of Numpy, Dask and Pandas? I'm on Python 3.7.5 and:
[code]

[2020-08-15 00:31] clarkzinzow commented on #10124
Ah thanks for the trace back @ericl!

[2020-08-15 00:31] ericl commented on #10124
dask==2.22.0
numpy==1.17.1
numpy-stl==2.10.1
pandas==0.24.2

[2020-08-15 00:33] ericl commented on #10003
Hmm weird I get about the same learn throughput (`learn_throughput: 6593.48` vs `learn_throughput: 6220.133`) on both, whereas you see it much faster with the previous Ray version.

I'm using torch 1.4.0 / python 3.6 here.

[2020-08-15 00:37] clarkzinzow commented on #10124
It looks like this is a recurring Pandas bug, most recent manifestation: https://github.com/pandas-dev/pandas/issues/31710.

[2020-08-15 00:40] clarkzinzow commented on #10124
Also [this](https://github.com/pandas-dev/pandas/issues/23276). It looks like the older bug was fixed for [0.24+](https://github.com/pandas-dev/pandas/commit/dcbf8b5118b4a079899a7bc14e4175eeb75368fb), and the more recent bug was fixed for [1.1+](https://github.com/pandas-dev/pandas/commit/5351732faf4b7186628579709439e1b29494a560).

[2020-08-15 00:43] ericl commented on #10124
Hmm I still see the issue for 1.1.0. Unless pandas has fixed itself to handle read-only arrays properly, we might have to add defensive copies for all numpy arrays passed as arguments to tasks.

dask==2.22.0
numpy==1.17.1
numpy-stl==2.10.1
pandas==1.1.0

[2020-08-15 00:48] ericl commented on #10124
@stephanie-wang as a workaround you can try this patch:
[code]

[2020-08-15 00:54] clarkzinzow commented on #10124
Upgrading to most recent Dask still works, upgrading Pandas breaks it. I'm guessing that this is another case in which Pandas isn't handling read-only arrays properly.

That seems terribly expensive, but until Pandas fixes this, that might be required. Although I'm pretty sure that this issue is exclusive to dataframes, so we'd only have to copy Pandas dataframe arguments; we've hit most of the Nu

[2020-08-15 01:03] clarkzinzow commented on #10124
For this particular case, I think that we just need to add `const` [here](https://github.com/pandas-dev/pandas/blob/a3f5c6a5a3f05edc1c56ab8051f28c4cf322c45c/pandas/_libs/groupby.pyx#L475) to get Cython to accept read-only arrays. And if that's the case, `const` should probably be added to all of the other groupby functions in that module.

[2020-08-15 01:13] clarkzinzow commented on #10124
And to do that, we'll have to wait for const fused type memory views to be released in Cython.

- [Issue](https://github.com/cython/cython/issues/1772)
- [PR](https://github.com/cython/cython/pull/3118) adding support

[2020-08-15 01:17] ericl commented on #10124
Hmm yeah, if we insert a copy only for pandas dataframes, that doesn't seem so bad (not sure if the copy will add that much overhead in the first place). We can also make it a config flag.

[2020-08-15 02:06] clarkzinzow commented on #10124
I tested it out with `const float64_t[:, :]` and that fixes it. Building Pandas from source takes a good while.

I don't think we'll be seeing const fused type memory views in Cython 0.x anytime soon, so that nature of a fix won't be available in Pandas anytime soon.

[2020-08-15 03:16] snmhaines commented on #10102
@mfitton, I think that @20zinnm is right; we have two different problems with a similar symptom.  In my case, I never see any workers starting.  I still suspect that it is caused at the AWS end, because at the end of Wednesday, after a lot of starting and stopping clusters (to debug the other problem), the number of workers started to reduce. So I switched to on-demand - which worked once - and th

[2020-08-15 04:01] urimerhav opened #10128 "resources per trial allocated but only single core gets used"
### What is the problem?

Having successfully set up a cluster with m5.4xlarge worker nodes, each having 16 cpus, I noticed that my runs actually consume exactly 1 cpu on the worker nodes. Using `resources_per_trial={"cpu": 16}` does seem to allocate one run per worker as expected, but sshing into any single worker, only one core gets utilized.

Running the same

### Reproduction (REQUIRED)
[code]

[2020-08-15 04:09] richardliaw commented on #10128
@urimerhav ah looks like there was an unexpected env var propagation. Can you try

[code]

[2020-08-15 04:17] urimerhav commented on #10128
Thanks a ton for the super quick reply! Still no dice. I changed on thing about your script which I'm guessing is a typo: `os.environ["OMP_NUM_THREADS"] = "16"`, since ints aren't allowed.

Utilization is still at exactly one core.

[2020-08-15 04:33] richardliaw commented on #10128
No problem!

Got it; as a diagnostic step, can you do the following:
If you're starting ray by hand:
[code]
If you're using the cluster launcher, you'll want to set this in the yaml:

[code]

And then run:
[code]

[2020-08-15 05:03] guoxuxu commented on #10113
I tried to reproduce the best trial results (e.g., best mean_accuracy) using the hyperparameters of this best trial.

That is, in a normal training procedure, we initialize a learning rate, weight decay, and learning rate scheduler, after training (e.g., 10) epochs, we select the best epoch using dev mean_accuracy and test the best model on a hold-out test set. I run ray tune in the same setting,

[2020-08-15 05:07] guoxuxu commented on #10067
OK, I see. Thank you!

[2020-08-15 05:07] #10067 closed

[2020-08-15 07:31] richardliaw commented on #10113
Hmm, got it. I've had great success using the found hyperparameters before, so I think there's probably a UX issue. A couple things I would try:

1. Can you provide some reproducible example with MNIST?
2. what does your `tune.run` call look like?
3. Is the training accuracy also very low when trying to reproduce using the same hyperparameters?
4. What does your trainable look like, and what does

[2020-08-15 07:32] richardliaw commented on #10113
For example, this is an end-to-end example for reproducing results found from Ray Tune using PyTorch: https://docs.ray.io/en/latest/tune/examples/pbt_transformers.html

[2020-08-15 08:30] yihengli commented on #9926
I am not sure if Ray is currently using `py-spy` to track all underlying per pid performance, it seems like `py-spy` has an option to profile subprocess https://github.com/benfred/py-spy#how-can-i-profile-subprocesses

[2020-08-15 08:56] guoxuxu commented on #10113
[code]

[2020-08-15 09:01] guoxuxu commented on #10113
Trainable:

[code]

[2020-08-15 10:13] Wheeeeeeeeels opened #10132 "How about Further promote this project?"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*
I'd like write a chinese-version's docs about this docs,for more people can contribute this project,may i?

[2020-08-15 11:53] xlnwel commented on #10058
I don't think so. I've run several other programs written in TF and ray, they all used the GPU correctly. The error happens only when I use rllib.

[2020-08-15 13:37] magicly opened #10134 "`ray.wait` more than `timeout`"
### What is the problem?

when supplied `timeout` parameter, `ray.wait` doesn't match the semantics from docs https://docs.ray.io/en/latest/package-ref.html?highlight=wait#ray.wait :

In fact, I find that, when `timeout` is less than 1s, the cost time actually is `2 * timeout`; and when `timeout` is greater than 1s, the cost time actually is `timeout + 1`.

It happens in both 0.8.7 and 0.86.

*Ray

[2020-08-15 16:05] dark16sider opened #10136 "[tune] How can I limit training to only be done at the end of the episode?"
I need action to happen as fast as possible. Is there any way to  stop training during the episode using dqn.

[2020-08-15 16:51] richardliaw commented on #10113
Thanks! Can you also help answer my other questions above?

[2020-08-15 16:53] richardliaw commented on #10113
A reproducible script using mnist is most useful.

Thanks!

On Sat, Aug 15, 2020 at 2:01 AM helloguoxu <notifications@github.com> wrote:

[2020-08-15 18:59] snmhaines commented on #10102
@mfitton, I think that I have found a clue in the monitor.err log for a cluster that I tried today:-
[code]
I do not understand why the worker_id had been lost, but I am attaching all the relevant information.  Note that the AWS Cloud Trail event for the launch shows minCount and maxCount as 1, despite the fact that .yaml config file asks for 20.

[logs.zip](https://github.com/ray-project/ray/file

[2020-08-15 22:14] richardliaw opened #10138 "[tune] lazily generate configurations for grid search"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

This currently breaks on most setups.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):
[code]
https://stackoverflow.com/questions/63395596

[2020-08-15 22:30] richardliaw commented on #10132
yeah sure! feel free to push a PR - https://www.slideshare.net/streetcleaner/writing-multi-language-documentation-using-sphinx

[2020-08-15 23:38] xlnwel commented on #10058
I also found that if I build TF from source, the error will disappear.

[2020-08-16 00:33] richardliaw opened #10140 "[tune] Function API should support process pooling"
### Describe your feature request

Tune currently doesn't support reusing processes for function API. This makes it hard to get low-latency performance.

[2020-08-16 00:37] richardliaw commented on #10101
Hmm, in your trainable, you can do:

[code]

and then you wouldn't need to implement `__call__` in your stopper.
Also, try implementing `Trainable.reset_config`, assuming you're using the class API?

[2020-08-16 02:00] urimerhav commented on #10128
Alright!

I tested and this works! I did indeed use the cluster launcher and it works.

Am I correct that I now need to set num_thread to match the amount of cores on my workers? I can live with that, but I think it's a pretty important issue to resolve, as it's only a matter of time until the env variable and number of cpus go out of sync.

As a temporary workaround, if anyone stumbles on this th

[2020-08-16 02:40] guoxuxu commented on #10113
OK. I'm catching a deadline these days. I will write a reproducible MNIST experiment ASAP. Please read the ray init code, do you think is it because I set ```reuse_actors=True``` which might reuse previous successful trials?

[2020-08-16 03:52] richardliaw commented on #10113
Maybe, though I find that unlikely if your reproduced example is so much
worse. Did you try just instantiating the Train() object outside tune?

On Sat, Aug 15, 2020 at 7:40 PM helloguoxu <notifications@github.com> wrote:

[2020-08-16 05:43] pengzhenghao commented on #10001
I don't mean to predict some metrics that are not collected so far and reporting them. What I think should be added to Ray is the ability to dynamically expand the columns of , at least, the trial_dataframe if new metrics are reported who are not considered by the trial_dataframe at the beginning.

[2020-08-16 06:35] emramos commented on #7339
@MarkCarbonell98 and @tinahbu, try the following:

`aws --region eu-central-1 ecr get-login-password | docker login --username AWS --password-stdin account.dkr.ecr.eu-central-1.amazonaws.com`

What I changed was:
- Removed the evaluation of the command: `$(...)`
- Moved `-region eu-central-1` to the beginning of the command line

I'm using AWS CLI version 2.

[2020-08-16 07:01] guoxuxu commented on #10113
Yes, I did. In a deterministic setting, the Train() object is given a specific learning rate and weight decay and then run 10 epochs outside Tune, which gives totally different results. Nevertheless, I'll provide a reproducible experiment here or clear the issue if I found the problem is caused by reuse_actors. Please leave this issue open. Thanks :)

[2020-08-16 09:36] guoxuxu commented on #10113
Hi, I'm glad to clear several things after some experiments were done. It's totally my own mistake. Though I made sure data loaders are the same, I initialized the model at different places compared with the ray tune. In ray tune, I set seed at the beginning and fetch data loaders. After that, I set the seed and init model in the setup function of the trainable class. However, in my reproducible c

[2020-08-16 09:39] guoxuxu commented on #10113
Thanks a lot! If you have anything to add, please suggest.

[2020-08-16 13:43] Maltimore commented on #8892
I have this issue as well and would like to add the information that I run with `n_workers=0`. In other words, a high number of workers is not the cause of this issue. However, I start multiple scripts (via Univa Grid Engine) on the same node that all do `ray.init()`.

[2020-08-16 14:38] Fritskee opened #10142 "[tune] Cannot create an implementation based on HyperOpt or Optuna with Ray Tune"
### What is your question?
I'm trying to create an implementation of Raytune with Hyperopt, I have gone through the provided tutorial, however this is not relevant for how I require my hyperopt implementation.  I'm optimizing a Deep Neural Net architecture and use the HyperOpt _fmin_ function for this (this is different than from the example provided for RayTune iirc).  When I do try to base me of

[2020-08-16 16:15] flokde commented on #10101
Hi Richard,

thank you so much for your answer! So, solution 1 pretty much does what I am doing already, but more efficient if I understand correctly?

I am really interested In implementing your second solution - I am indeed using class API. This would be super elegant, as I only need to create one Trainable and then use iterations on it. My one concern (why I also decided against it before) is t

[2020-08-16 17:28] wayyoungboy commented on #10037
For example, the current allocation of resources depends on the programmer's manual allocation. I mark a task as a unit of CPU, but in the actual call process, the CPU used by the program exceeds 100%. Perhaps ray can limit the resource usage of this task through Cgroup.

[2020-08-16 18:25] #10117 closed

[2020-08-16 19:24] richardliaw commented on #10142
With RayTune, you cannot use the `fmin` function but rather use `tune.run`.

[2020-08-16 19:45] zmonoid opened #10144 "Ray got stuck on requesting more resources but actually needs less"
### Ray got stuck on requesting more resources but actually needs less.

Since my script only need one GPU, so I set:
[code]

My script is given below, it shows the following warning and program stuck here:

2020-08-17 03:33:33,853 WARNING worker.py:1134 -- The actor or task with ID ffffffffffffffff2512146c0100 is pending and cannot currently be scheduled. It requires {GPU: 0.100000}, {CPU: 1.0000

[2020-08-16 19:49] richardliaw commented on #10144
How many GPUs does `Agent` need? If 0, then the right way to do this is:

[code]

[2020-08-16 19:50] richardliaw commented on #10144
Here is some documentation - https://docs.ray.io/en/latest/tune/api_docs/trainable.html#advanced-resource-allocation

I am thinking about adding a guide for resource management in Tune. Let me know if you'd find that useful

[2020-08-16 19:51] zmonoid commented on #10144
@richardliaw ```Agent``` needs 0.5 gpu, each actor needs 0.1 gpu.

[2020-08-16 19:56] richardliaw commented on #10144
Got it; then try this:
[code]

[2020-08-16 19:59] zmonoid commented on #10144
@richardliaw Thanks for your answer! It works.

[2020-08-16 19:59] #10144 closed

[2020-08-16 20:07] BBLN commented on #9823
Why isn't this considered a bug?

[2020-08-16 20:18] richardliaw commented on #10101
Hey @flokde, no problem!

yep!

Ah I see. It should be fine. I think all you need to understand is the general lifecycle of a Trainable:

[code]
Basically, you will want to implement `reset_config` such that it creates a new instance of the function you're optimizing. This can be tricky if you're using something very custom with Tensorflow + CUDA drivers, as it is hard to reset the training enviro

[2020-08-16 20:19] richardliaw commented on #10113
Great! I'll add some documentation in the user-guide about tips for reproducing results.

[2020-08-16 20:22] dburov190 opened #10145 "Reproducibility issue: `ray` messes up `random.seed(SEED)`"
### What is the problem?

Simply running `ray.init()` screws up seeding performed prior to that when using `random` standard library. Interestingly enough, this does not happen with `np.random`.

_ray: 0.8.6_
_python: 3.8.3_
_OS: macOS 10.15.4_

### Reproduction

Code:
[code]

Output:
[code]

[2020-08-16 20:24] richardliaw commented on #10145
Hm, interesting - is it typically expected that frameworks do not perturb the global random state?

[2020-08-16 20:50] dburov190 commented on #10145
I would assume so... this is at least a very non-trivial behavior, and should be warned about?

[2020-08-16 21:07] richardliaw commented on #10145
Absolutely agree; thanks for illuminating that.

[2020-08-16 21:09] #9558 closed

[2020-08-16 21:23] richardliaw commented on #9047
This is currently done in #10044.

[2020-08-16 21:23] #9047 closed

[2020-08-16 21:23] richardliaw commented on #8351
This now works for most search algorithms (but does not yet work for BOHB).

[2020-08-16 21:37] richardliaw commented on #8023
Can someone post a stacktrace?

[2020-08-16 21:37] lelayf commented on #9116
I managed to run this locally with `ray.init(local_mode=True)`

[2020-08-16 23:20] juliusfrost opened #10146 "[rllib] Add ability to register custom architectures in rllib train script (custom environments, models, etc)"
### Describe your feature request
In the train.py script in rllib, it is not possible to add custom architectures. Although one could copy the train.py script and modify it to include the registration code, it is not intuitive for beginners what is the best practice. Alternatively, if a user wanted to create their own training script from scratch, it may be very cumbersome to learn all the boilerp

[2020-08-17 04:18] simon-mo commented on #10132
Totally! I would be more than happy to review it.

[2020-08-17 04:26] simon-mo commented on #10145
Thanks for pointing this out.

The reason is that ray uses `random` internally generate and find available ports open bind to.
https://github.com/ray-project/ray/blob/master/python/ray/services.py#L123-L124

This fix won't be trivial though. It's hard for me to visualize what kind of behavior should Ray promise:
1. `random.seed(SEED)` is called
2. `ray.init` is called and spawn multiple worker pro

[2020-08-17 04:44] mfitton commented on #9918
Hmm, the issue could be that "172.23.49.92:43815" (the redis address that Ray is trying to connect to), is not accessible from that machine? Essentially, the dashboard collects details about the worker processes running on each other node in the cluster over Redis. This means that you will need to give the same permissions for psutil on other nodes in the cluster, as well as make sure that your he

[2020-08-17 04:56] richardliaw commented on #10145
I think every Ray import (per process) should hold and use its own
RandomState.

On Sun, Aug 16, 2020 at 9:27 PM Simon Mo <notifications@github.com> wrote:

[2020-08-17 06:45] Fritskee commented on #10142
@richardliaw Hi Richard, thanks for the response. I'm well aware thet I cannot use `fmin` since this is Hyperopt functionality.

My issue is that as a _search algorithm_ I use the `HyperOptSearch`. However,  when initializing this as follows:
`hyperopt = HyperOptSearch(space, metric="accuracy", mode = "min")` I get the following error:
` line 205, in _to_hyperopt_result
    return {"loss": self.me

[2020-08-17 07:16] richardliaw commented on #10142
Ah got it. Can you post some output from doing `tune.run(verbose=2)`? I think whatever you're reporting doesn't have `accuracy" as a metric.

[2020-08-17 07:34] Fritskee commented on #10142
@richardliaw I ran it both with and without `(verbose=2)` and funnily enough, both terminal outputs are exactly the same.

As for the:  _I think the values you're reporting doesn't (via tune.report, or the trainable api) have `accuracy` as a key in the dictionary._
Note that the default accuracy measure "episode_reward_mean" also throws the same error.

The thing I'm trying to optimize is the `cre

[2020-08-17 07:37] richardliaw commented on #10142
Hmm, can you try:
[code]

[2020-08-17 07:38] richardliaw commented on #10142
Also, verbose=2 is default yep - it would be nice to see the output just to debug :)

[2020-08-17 07:58] Fritskee commented on #10142
@richardliaw  this `return {'accuracy': validation_acc, 'status': STATUS_OK, 'model': model}` yields the exact same KeyError

The output can be found here: [https://pastebin.com/jGhTXWv7](https://pastebin.com/jGhTXWv7) (don't want to clutter it here)

[2020-08-17 08:29] richardliaw commented on #10142
Got it! Can you try the following:

[code]

[2020-08-17 08:37] Fritskee commented on #10142
@richardliaw yields the following error: `TypeError: can't pickle _thread.RLock objects`

The entire output can be found here: [https://pastebin.com/9E2V8mCB](https://pastebin.com/9E2V8mCB)

[2020-08-17 08:53] mattearllongshot commented on #10094
Great thanks, I'll switch to 0.8.7

[2020-08-17 09:07] mattearllongshot opened #10150 "Poor spillback scheduling behavior in large clusters"
# What is the problem?

Ray version: 0.8.5
Python version: 3.8.1
OS: Ubuntu 18.04.4 LTS

When launching 3000 tasks on an autoscaling EC2 cluster, start times are staggered by more than a minute.  Here is an image illustrating this:

![image](https://user-images.githubusercontent.com/37295291/90377427-e408e000-e06f-11ea-8974-864d7f5a8598.png)

Each horizontal line here represents a task, and they a

[2020-08-17 09:20] maxpumperla commented on #9404
@sven1977 back from vacation. we need two discrete actions of action size two, hence the tuple. how would you emit several actions effectively in a single Discrete space? In any case I think we want to use tuples for the conceptual clarity, since this is exactly the use case for them.

[2020-08-17 09:27] maxpumperla commented on #9404
@rkooo567 @sven1977 no, we're not using DQN, but PPO here... (which goes to show some possible improvements in naming conventions, `DistributionalQTFModel` sure suggests otherwise).

To be clear, we have a running PPO model with tuples, but once I enable action masking it fails with the above error, which isn't very informative. So this is an error that occurs when working with both tuples and act

[2020-08-17 10:23] Seraphli opened #10151 "Potential memory leak of a local `ObjectRef` reference"
I have some actor class and I want them to run some tasks in a while loop, or just complete some tasks and I don't want the result. So sometimes I don't call ray.get to get the result. Will it cause Redis memory to continually grow?
What will happen when I just call `foo.func.remote()`? And how ray set the expire protocol of Redis?

[2020-08-17 10:42] Wheeeeeeeeels commented on #10132
ok,thank you!

[2020-08-17 11:06] anguyenbus commented on #8151
Second to @regproj

[2020-08-17 11:14] guoxuxu commented on #10113
That's great, Thanks a lot!

[2020-08-17 11:14] #10113 closed

[2020-08-17 11:19] Patol75 opened #10152 "[core] Help regarding two warnings"
Hi,

I am using Ray to parallelize a Python 3 script across a university cluster. The operating system is CentOS Linux release 8.2.2004 (Core) and the cluster executes PBS Pro 19.2.4.20190830141245. I am using Python 3.7.4 and Ray 0.8.7.

I start ray using
`/path/to/ray start --head --port=6379 --redis-password=$redis_password --memory $((90 * 1024 * 1024 * 1024)) --object-store-memory $((40 * 102

[2020-08-17 11:53] xlnwel opened #10153 "`None` in the fetching list"
Hi, I participate in [this challenge](https://www.aicrowd.com/challenges/neurips-2020-procgen-competition), which requires using `ray[rllib]==0.8.6`.

I've implemented an algorithm and it works without any issue locally. However, when evaluating at the server, I get an error message as follows

d': <tf.Tensor 'default_policy/Max:0' shape=() dtype=float32>, 'discount': <tf.Tensor 'default_policy/Me

[2020-08-17 12:31] hkvision opened #10154 "[core] [help] Running `ray start` on the same node in parallel would get port error"
Hi,

I want to ask how is the port chosen and used for worker, within the range of [min_worker_port, max_worker_port]? Is it chosen randomly within this range? (Sorry that I don't go into the details of ray core and need some help on the implementation.)

When I call `ray start` for a raylet, it is starting one worker and one port is needed?

Does the following two errors mean the same thing?
[cod

[2020-08-17 12:36] waldroje opened #10155 "[rllib] IMPALA rmsprop throws error"
### What is the problem?
Running IMPALA with `opt_type `set to "rmsprop" throws the following error.

AttributeError: 'RMSprop' object has no attribute 'compute_gradients'

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 0.8.7, Python 3.7, TF 2.2, OS Rhel
### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script

[2020-08-17 12:54] iamhatesz opened #10156 "[rllib] unroll_id is not repeatable once upgraded to 0.8.7"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 0.8.7, Python 3.7.7, Ubuntu 20.04

### Reproduction (REQUIRED)

Rollouts collected with the same seed are now varying on `unroll_id` field. The same script worked for me before upgrading to 0.8.7 from 0.8.6. If we skip assertion on `unroll_id`, then the test passes.

[code]

- [x] I have

[2020-08-17 13:26] ilonadem commented on #9918
@mfitton I see. So far I've just been starting my head node and trying to view the ray dashboard on the same server, so I am unclear why permissions might be different for My redis.err file is empty, but the redis.out file has:

[code]

[2020-08-17 15:10] raphaelavalos opened #10158 "[RLLib] Torch Policy modification of action selection functions' input"
### Describe your feature request

Hello,

In its current form the action selection in PyTorch uses either `compute_actions_from_dict` or `compute_actions` (the latter creates an input dict). Both functions relies on `_compute_action_helper` that takes as input a dict and calls either:
* `action_sampler_function` which takes just the observation and there is no way provide a state.
* `action_distr

[2020-08-17 15:37] Antymon commented on #9844
In meantime rllib upgraded to `0.8.7`, breaking the attached script even sooner, due to `tf_import`. This is only a migration issue and the original problem remains the same.

[2020-08-17 15:48] debackerl opened #10159 "[rllib] Negative vf_explained_var"
### [rllib] Negative vf_explained_var

Python 3.8.5, TensorFlow 2.2.0, rllib 0.8.6, Linux Pop_OS 20.04

I have been trying PPO on a simple experiment. If first reward after an action is too negative, then it looks like that it won't realize that future positive rewards will make up for it. What I observed is that the vf_explained_var will first briefly grow to 0.8 before reversing, and oscillating

[2020-08-17 16:09] richardliaw commented on #10142
hmm can you try moving all tensorflow imports into the create_model
function?

On Mon, Aug 17, 2020 at 1:37 AM FreddyGump <notifications@github.com> wrote:

[2020-08-17 17:01] richardliaw commented on #10142
Here is an example of what I'm talking about: https://docs.ray.io/en/latest/tune/examples/tune_mnist_keras.html

The callback is optional.

[2020-08-17 17:04] richardliaw commented on #10152
What does your `foo` function look like? Are you including anything in its scope? For example,

[code]
^ this will cause the size of the function to grow significantly. In order to avoid this, you should do:

[code]

[2020-08-17 17:18] stephanie-wang commented on #10151
As of Ray 0.8, the majority of metadata is no longer stored in Redis, so Redis memory should only be an issue in extreme cases. Currently, it is used to store the actor and object directories. Actor entries are automatically cleaned up when the actor dies or goes out of scope. Object entries are automatically cleaned up when the `ObjectRef` goes out of scope.

So, as long as you're calling `del` o

[2020-08-17 17:30] dburov190 commented on #10145
Thanks for quick responses, guys!

A quick google search tells me that it's impossible to save and restore seeds (or a bad idea), and even though you can save and restore the _state_ (https://stackoverflow.com/a/32172816), it seems the "most correct" way is to have your own random-number generator that does not affect the global state of `random.random`, `numpy.random` etc.

So, I guess, something

[2020-08-17 17:42] Seraphli commented on #10151
But actually we are having a slowly increasing memory problem. We can random get a key from redis using randomkey, and we find out that this key has a object prefix and it has been 35 hours since last modification. So the key definitely is a object that we don't want.

[2020-08-17 17:47] Seraphli commented on #10151
Is there any method that we can decode the real value from redis so that we can know what is stored and debug?

[2020-08-17 18:02] sumanthratna opened #10160 "[RFC][tune] write output to ./ray_results instead of ~/ray_results"
### Describe your feature request

#### Pros
- seems more intuitive (IMO): the output data of a script should be written to a folder as close to the script as possible unless specified otherwise
- it's a bad practice if a script writes to the home directory -@Maltimore

#### Cons
- breaking change
    - https://github.com/search?q=%7E%2Fray_results&type=Code
- users will need to add `ray_results`

[2020-08-17 18:03] #8047 closed

[2020-08-17 18:12] #10015 closed

[2020-08-17 18:15] stephanie-wang commented on #10151
Are you sure that you're deleting the `ObjectRef` returned by `foo.func.remote()`?

Unfortunately, this is a bit difficult. But you can use the `ray memory` bash [command](https://docs.ray.io/en/latest/package-ref.html?highlight=memory#ray-memory) to see if there are objects that are still in reference that you no longer want.

[2020-08-17 18:20] Seraphli commented on #10151
Actually I don't save any return. Like I said I simply just call the remote function.
For example:
[code]
Something like this

[2020-08-17 18:31] rkooo567 commented on #10134
This looks bad. @edoakes Do you have any clue why it happens?

[2020-08-17 18:34] rkooo567 commented on #10154
Yes it is correct. The error is probably due to
1. You have other processes that use the port within that range outside Ray.
2. Or you launched too many workers.

If you just run `ray start`, the default min_worker_port and max_worker_port is from 10000 ~ the end of the port I believe (could be wrong). It also starts `--num-cpus` number of workers by default.

[2020-08-17 18:36] rkooo567 commented on #10150
cc @wuisawesome @ijrsvt

[2020-08-17 19:09] pmacalpine commented on #10003
I see the same results with  torch 1.4.0.  Is it also odd that I get a different reward result with the same seed when using 0.8.6 vs 0.8.7/nightly?

I also see the following tensorflow warning message printed with 0.8.7/nightly, but not 0.8.6, even though I'm not using tf in case that's a concern:
[code]

[2020-08-17 19:22] rkooo567 commented on #9774
@ffbin Will you also create STRICT_SPREAD?

[2020-08-17 20:38] rohan-gt opened #10163 "[Feature Request] Sklearn example for Ray Tune"
Is it possible to add a simple Sklearn example using the TuneBOHB algorithm with the HyperBandForBOHB scheduler in the documentation?

P.S. This is the best hyperparameter tuning algorithm and scheduler right? If not an Sklearn example using the best combination of both would be very useful!

[2020-08-17 21:16] concretevitamin opened #10164 "[rllib] DQN Torch policy + parametric is broken on GPU"
### What is the problem?

See below. Ray 0.8.6.

### Reproduction (REQUIRED)

[code]

hits error

[code]

If we cannot run your script, we cannot fix your issue.

- [x ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/latest/installation.html).

[2020-08-17 21:21] concretevitamin opened #10165 "[rllib] Action mask support using -inf for PyTorch is broken"
### What is the problem?

Ray 0.8.7

### Reproduction (REQUIRED)
[code]
hits
[code]

Using this same setup on my custom environment & (torch) model, the error manifests explicitly as:
* Using StochasticSampling, plus making sure my model return -1e15 for invalid actions: works.
* Using EpsilonGreedy, plus making sure my model return -float('inf') for invalids: ERROR, model weights quickly get trai

[2020-08-17 21:23] edoakes commented on #8032
Looked into this a bit more, spec for reference:
https://github.com/ray-project/ray/blob/master/src/ray/design_docs/id_specification.md

The idea is to remove the existing flags bytes, which would then free up the full two bytes that are currently allocated to it to add to the job id. Unfortunately it’s not straightforward to remove the object_type bit because the way object ids is calculated is i

[2020-08-17 21:59] ericl commented on #10146
One option is to allow the model to be specified as a package path (e.g., "your.package.CustomModel"), and RLlib can try to auto import this. We already support this for custom envs, and it is quite convenient.

Of course, this still isn't as flexible as being able to register any arbitrary class/function.

cc @sven1977

[2020-08-17 22:00] ericl commented on #10155
cc @sven1977

[2020-08-17 22:01] tom-doerr opened #10166 "Removed the following hyperparameter values when logging to tensorboard: ... [tune]"
I got the message
[code]
and had to dig through the code to find out that the value was removed because it had the wrong type.
Would you accept a pull request that makes it more clear why it gets removed?
Something along the lines of "the hyperparameter got removed because datatype xyz is not supported"

[2020-08-17 22:01] ericl commented on #10150
Interesting. @mattearllongshot to clarify, does this happen also on a fixed-sized (non-autoscaling cluster)?

I can't think of any reason why this would happen, beyond some scheduling bug (cc @stephanie-wang for ideas)

[2020-08-17 22:05] ericl commented on #10156
I think this is because local_mode=True. If you disable that, then unroll id should be isolated per process as usual. We did some bug fixes in 0.8.7 that made the unroll id counter a per-process variable to resolve an issue where it was duplicated.

[2020-08-17 22:07] richardliaw commented on #10166
Yes! That'd be great :) Please ping me when you have a PR open.

[2020-08-17 22:08] ericl commented on #10160
I'm opposed to this change; users can always set it manually but logging to an external directory such as /tmp, ~/ray_results, etc. is fairly standard.

[2020-08-17 22:09] ericl commented on #10158
This will be resolved as we finish the trajectory view API (which will basically accomplish this)--- then we can remove the legacy compute_actions().

[2020-08-17 22:09] #10158 closed

[2020-08-17 22:15] ericl commented on #10165
@concretevitamin does this fix the example https://github.com/ray-project/ray/pull/10168/files ?

[2020-08-17 22:15] ericl commented on #10164
@concretevitamin does this fix the example https://github.com/ray-project/ray/pull/10168/files ?

[2020-08-17 22:22] concretevitamin commented on #10165
Just that change isn't enough.  See
https://github.com/ray-project/ray/blob/master/rllib/utils/exploration/epsilon_greedy.py#L142
.

On Mon, Aug 17, 2020 at 3:15 PM Eric Liang <notifications@github.com> wrote:

[2020-08-17 22:24] ericl commented on #10165
Pushed another change to that file as well.

[2020-08-17 22:35] rkooo567 commented on #10066
cc @ffbin I will assign it to you.

[2020-08-17 22:39] stephanie-wang commented on #10150
It seems likely due to bad behavior in the spillback policy used to load-balance tasks in a cluster. Could also just be that the spillback policy is too slow to push tasks onto other nodes. @wuisawesome probably has a better idea than me.

[2020-08-17 22:51] ericl commented on #10150
Ah, this might just be fixed in the new scheduler (or at least, it makes sense to investigate after we've enabled the new scheduler).

[2020-08-17 22:56] concretevitamin commented on #10164
`dqn_torch_policy.py` may need to be fixed too.

[2020-08-17 22:59] wuisawesome commented on #10150
@mattearllongshot you mentioned errors/warnings. are these just warning about the number of workers started? or are there other warnings?

My initial instinct was that this could be a side effect of rate limiting the number of in flight lease requests?

If Stephanie's theory is correct, this should go away/change with the new scheduler. I agree that we should investigate after/when enabling the ne

[2020-08-17 23:06] juliusfrost commented on #10146
Could you point me to where this is implemented for custom envs? I couldn't find it in the docs

[2020-08-17 23:11] AprilXiaoyanLiu opened #10169 "[rllib] [tune] tune.run does not work"
Hello, I'm running one customized model with customized env and it works when I run

`agent = DQNTrainer(config, "pa_dummyEnv")
for n in range(N_ITER):
  result = agent.train()
  file_name = agent.save(CHECKPOINT_ROOT)
`

but when I run tune.run
`ray.shutdown()
ray.init()
tune.run(
    "DQN",
    stop=stop,
    config=config
)`

it shows error "Trials did not complete',

[2020-08-17 23:11] AprilXiaoyanLiu commented on #10048
Thanks

[2020-08-17 23:11] #10048 closed

[2020-08-17 23:15] #10169 closed

[2020-08-17 23:48] ericl commented on #10146
This is the line that does it, using the from_config utility:
https://github.com/ray-project/ray/blob/master/rllib/agents/trainer.py#L568

On Mon, Aug 17, 2020, 4:06 PM Julius Frost <notifications@github.com> wrote:

[2020-08-18 02:27] sumanthratna commented on #10160
I can see how one can make the argument for `/tmp` (although I would never want this), but I personally don't know of any projects that write to the home folder.

Here's an imperfect analogy: front-end frameworks generally output builds to a `dist/` or `build/` folder *in the project folder*, right next to the source. Why wouldn't Ray follow suit?

This is a breaking change, so I fully understand

[2020-08-18 02:28] ffbin commented on #9774
Yeah, i will create STRICT_SPREAD.

[2020-08-18 02:39] hkvision commented on #10154
Hi @rkooo567 Thanks for your reply. Yeah, the port range should be large, so I doubt why this problem occurs...
So you mean for each cpu core, there would be a worker started. If I understand correctly, `ray start ... --num-cpus 10`, would start 10 workers and 10 random ports are needed? Is there any strategy for choosing these ports?
Also, for the workers that are already started, is there any AP

[2020-08-18 03:15] Patol75 commented on #10152
@richardliaw Thank you for your input.

The function `foo` is sort of a `main` function which calls further functions which, in turn, can call other functions. `foo`, however, is the only function which is decorated with `@ray.remote`. Do I need to decorate all other functions as well?

I also have Scipy Interpolator objects that each worker needs to have access to. According to your answer, I hav

[2020-08-18 03:32] richardliaw commented on #10163
Thanks for opening this, @rohan-gt! What sklearn models are you using? IIRC most of them don't support iterative operations.

[2020-08-18 03:33] ericl commented on #10160
Well, one reason to use a well know folder is it let's infrastructure
automatically launch things like tensorboard to view ray results correctly.
If it's some random folder, it's difficult to provide global services like
this.

Anyways, you can always override it pretty easily to the folder of your
choice.

On Mon, Aug 17, 2020, 7:27 PM Sumanth Ratna <notifications@github.com>
wrote:

[2020-08-18 03:34] Seraphli commented on #10151
![image](https://user-images.githubusercontent.com/1586755/90466484-82667580-e144-11ea-8437-4298218812ea.png)
I check the memory using `ray memory`, and it shows a lot of unknown function and size. I don't what is causing it.
[code]
And some idle worker is also having a lot of unknown objects.
![image](https://user-images.githubusercontent.com/1586755/90467252-4fbd7c80-e146-11ea-93eb-c69afda32778.

[2020-08-18 03:51] rkooo567 commented on #10151
Btw, if you don't store the returned value of remote, the objects are supposed to be garbaged collected. We are doing reference counting for that.

[2020-08-18 03:52] rkooo567 commented on #10151
@Seraphli Is there any way we can reproduce this result?

[2020-08-18 04:16] hkvision commented on #10154
Hi @rkooo567

I use `netstat -tupln` to check the ports and find the following is the result of just started ray:
[code]
If I'm understanding correctly, each `ray::IDLE` is one worker corresponding to one core right?
As if I run for several times, the port always start from 10000 exactly and increments by 1 each time right?
So if I'm understanding correctly, the port is not randomly selected, but

[2020-08-18 04:23] Seraphli commented on #10151
@rkooo567 I can try to make a minimal demonstration. But because we run the program for about 4 days, so we can notice the growth issue.

[2020-08-18 04:32] rohan-gt commented on #10163
All the different models actually. Also models having the Sklearn API like xgboost, lightgbm and catboost. Why is it necessary to have iterative operations? For early stopping?

[2020-08-18 04:34] hkvision commented on #10154
Oh, after checking the code, I find setting `RAY_USE_RANDOM_PORTS` and `--min-worker-port 0 --max-worker-port 0` will use random ports. But the problem still exists... I'll further check it...

[2020-08-18 04:37] richardliaw commented on #10163
Yeah; BOHB in Tune requires iterative operations.

[2020-08-18 04:44] rkooo567 commented on #10151
Also another note, local reference means you have a reference to the object in your drivers or workers.

[2020-08-18 06:23] Fritskee commented on #10142
@richardliaw unfortunately following that example I still get the following: [https://pastebin.com/qFpnLcsi](https://pastebin.com/qFpnLcsi)

My `create_model(params)` function looks like the following now:

def create_model(params):
    import keras
    from keras.layers.core import Dense, Dropout, Activation
    from keras.models import Sequential
    from keras.utils import to_categorical

    m

[2020-08-18 06:37] hkvision commented on #10154
Hi @rkooo567 After further investigations, I think the problem should be executing `ray start` to start raylets in parallel. To be more specific to reproduce this issue:
1. I run `ray start --head --include-webui true --num-cpus 4 --redis-password 123456` on the command line first.
2. I run the following Python code to start multiple raylets in parallel:
[code]
When I run the above code, the total

[2020-08-18 06:44] rkooo567 commented on #10154
As if I run for several times, the port always start from 10000 exactly and increments by 1 each time right?
So if I'm understanding correctly, the port is not randomly selected, but starting from min-worker-port, increments every time and skips the unavailable ports?

Yes. Everything here is correct.

- ray start will start --num-cpus number of IDLE workers of which occupy a single port respectiv

[2020-08-18 06:45] rkooo567 commented on #10154
I am sorry that I didn't notice your "run ray start in parallel".

[2020-08-18 06:48] rkooo567 commented on #10154
Btw, if you use ray start in parallel, you should make sure all ports are not conflicted. You should specify these ports (as of 0.8.7)

[code]

[2020-08-18 07:07] richardliaw commented on #10142
Thanks for your patience!

HyperOpt space looks good. I think the error is because you can't return the `Model` in the dictionary like that. Can you try removing the `model` value from the reporting dictionary?

[2020-08-18 07:15] Fritskee commented on #10142
@richardliaw For sure getting closer. However, getting a `ImportError: cannot import name 'hparams'` which is weird, since plain HyperOpt doesn't throw this one. Seems like it has something to do with `tune.run()`

full printout can be found here: [https://pastebin.com/gfcMmXbc](https://pastebin.com/gfcMmXbc)

[2020-08-18 07:24] hkvision commented on #10154
Hi @rkooo567 Thanks so much for your quick reply.
I tried to add port constraints by modifying the code segments above to the following:
1. For ray master command: `ray start --head --include-webui true --num-cpus 4 --redis-password 12345 --port 50000 --min-worker-port 20000 --max-worker-port 25000 --gcs-server-port 40000 --node-manager-port 21000 --object-manager-port 31000`
2. For raylets parall

[2020-08-18 07:26] hkvision commented on #10154
BTW, may I ask what is the strategy of choosing ports? If I set `--min-worker-port 0`, then everything would be random right? Then there are plenty of ports to choose from and in theory the probability that two workers get the same port would be minimal. But as I experiment, the probability is 100%. Just curious why is that?

[2020-08-18 07:38] hkvision opened #10171 "[sgd] Add serialize_model_creation for TorchTrainer"
For torch model creation, pretrained models would sometimes download checkpoints, and is it necessary to add a lock for model_creator as well (just like what you do for data_creator) to avoid problems when downloading models to the same location?

[2020-08-18 07:43] rkooo567 commented on #10154
Ah, I think I saw the issue. You just need to run `ray start --head` in a head node, and `ray start --address` only once in a worker node. What's the reason why you run `ray start --address` in parallel in the same node? Also, are you running those commands in the same node as the master node?

[2020-08-18 08:02] amogkam commented on #10038
Fixed with https://github.com/ray-project/ray/pull/9958

[2020-08-18 08:02] #10038 closed

[2020-08-18 08:09] amogkam opened #10173 "[Tune] Implement PBT DCGAN example with function API"
The current DCGAN example still uses the Trainable Class API. With function API now supporting checkpointing and the push to prioritize this over the class API, we should port the dcgan example to the function API.

[2020-08-18 08:13] rohan-gt commented on #10163
@richardliaw Is it possible to perform early stopping by cross-validation or using a sampled eval set from the train data?

[2020-08-18 08:15] hkvision commented on #10154
Yeah, I'm running all the commands on the same node. Namely I have one machine, start one master first and start several raylets in parallel.

I'm working on [RayOnSpark](https://medium.com/riselab/rayonspark-running-emerging-ai-applications-on-big-data-clusters-with-ray-and-analytics-zoo-923e0136ed6a), not sure whether you have heard of our work. The details may be not easy to talk in several wor

[2020-08-18 08:39] rkooo567 commented on #10154
I definitely heard of that :)! It was the project from Intel right?

Yes! It is definitely possible to have multiple ray instances in a single node, but there might not be any noticeable benefit other than that they are logically separated & used for testing to simulate multi nodes (lmk if you guys know anything else!). The typical workflow of Ray is to have a single instance per node (ray start -

[2020-08-18 08:40] Seraphli commented on #10151
I manage to find out why the call site is unknown and fix it. Now the call site is able to show. But another problem is I use a wrapper function to wrap `ray.get(obj.func.remote())`, so they all show the wrapper function. Can I change the call stack or the call site with arguments?

[2020-08-18 08:49] hkvision commented on #10154
Yeah, our team is working on RayOnSpark.

Yes, for a single node, I think `ray.init()` is good enough. I encounter this problem due to our implementation of RayOnSpark as for Spark standalone mode, the cluster can be a single node or several different nodes and RayOnSpark would start multiple raylets in parallel on one machine for the single node case.

Since I'm not familiar with C++, I can't go

[2020-08-18 08:52] JarnoRFB commented on #7084
I get the same error in an ubuntu 18.04 container running in jupyterhub on kubernetes. The output of `cat /etc/hosts | grep localhost` is also

[code]

The error went away for when setting `ray.init(dashboard_host="127.0.0.1")`. I believe the argument name was changed since @semin-park's answer.

[2020-08-18 09:14] Seraphli commented on #10151
I try to make a minimal demo, but because I don't know the reason for this issue, I can hardly find a way to reproduce this. Perhaps you guys can provide some advice about the call site so that I can find the right spot that causing this problem. Right now I wrote almost all code based on the wrapper function, so completely remove the wrapper function will take a lot of time.

[2020-08-18 09:53] mattearllongshot commented on #10150
Hi @wuisawesome, I've pasted the errors here https://github.com/ray-project/ray/files/5083237/errors.txt . They look like raylet crashes.  Both of the IPs shown in the log are for worker nodes.

Is the new scheduler in the nightlies?  I've just reproduced the issue with the latest ray nightly build (latest as of Monday, at least).  Here is the output from that run:
[errors-2020-08-18.txt](https://

[2020-08-18 10:13] mattearllongshot commented on #10150
I've just managed to reproduce something similar locally (with yesterday's nightly).

[code]
output:
```[0.002964, 0.002317, 0.021966, 0.0, 0.001448, 0.034085, 0.003278, 0.004434, 0.004678, 0.00506, 0.005454, 0.006248, 0.344598, 0.682394, 1.028834, 1.362036, 1.698101, 2.02707, 2.370679, 2.71421, 3.103086, 3.429623, 3.792918, 4.165995, 4.483482, 4.817203, 5.157538, 5.475349, 5.825019, 6.172419]```

[2020-08-18 12:33] iamhatesz opened #10175 "[rllib] Evaluation workers can't access model which is being trained on a GPU"
### What is the problem?

When training a model on a GPU, evaluation workers cannot restore it, as they don't have access to a GPU. Maybe a missing `map_location` handling in `torch.load`?

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):* 0.8.6, 0.8.7, PyTorch 1.6

### Reproduction (REQUIRED)

Doesn't work:

[code]

Works:

[code]

- [x] I have verified

[2020-08-18 15:35] waldroje commented on #10160
even within /tmp it would be great in my mind if ray/rllib would put everything inside the /tmp/ray/ path... my /tmp get's littered with ray/rllib output logs... and makes it tough to manage other app outputs, my own usage, and to remove garbage.

[2020-08-18 15:40] sumanthratna commented on #10160
My understanding is that ray already does this: https://docs.ray.io/en/latest/configure.html#logging-and-debugging.

[2020-08-18 15:51] Catypad opened #10178 "[rllib] Create random policy"
Hi! I'm working with **batch RL** and I have an **external env** with two possible actions and I'm using **distributional_q_tf_model** and I would like to create a policy **that always acts randomly**. How can I do it? I have to use the build_tf_policy or I can just do this? Thank you!

`"exploration_config": {
            "type": "EpsilonGreedy",
            "initial_epsilon": 1.0,
            "f

[2020-08-18 15:59] stephanie-wang commented on #10151
Hmm sorry there's not much more to say about the call site; it just records the line number where the `.remote()` call was made. Perhaps you could try "bisecting" by duplicating the wrapper function and changing the half the calls to that function, etc.

[2020-08-18 16:35] mimoralea opened #10179 "'rollout_fragment_length' and 'truncate_episodes'"
I want to check the functionality as this comment here is a bit confusing to me:

https://github.com/ray-project/ray/blob/f733d2648b804bb698892affced7857a72990fb9/rllib/agents/ppo/ppo.py#L62-L63

I have an episodic environment with a time wrapper that prevents it from going over 1,000 timesteps; that means, the terminal signal and reward can come at any time due to the agent succeeding or failing

[2020-08-18 16:36] ericl commented on #10150
That's probably just worker start delay, it takes time to launch 50
workers. Subsequent runs will be faster.

On Tue, Aug 18, 2020, 3:13 AM mattearllongshot <notifications@github.com>
wrote:

[2020-08-18 16:39] #10159 closed

[2020-08-18 17:03] mfitton commented on #10151
@Seraphli quite a coincidence, but I'm planning to merge a PR to the Ray dashboard later today that will give 3 stack frames instead of one so that you can more easily find the call-site.
Perhaps you can check out the nightly build later today and see if the additional context helps you find the issue.

[2020-08-18 18:10] #5821 closed

[2020-08-18 18:34] #10111 closed

[2020-08-18 18:34] #7925 closed

[2020-08-18 18:53] wuisawesome commented on #10150
Hmm yeah 300ms is long, but we never really optimize for start up time so it's definitely believable. I will label this an enhancement because we could probably do a better job of tuning some of our constants (in this case, maybe `maximum_startup_concurrency`)

[2020-08-18 20:02] stephanie-wang opened #10182 "[Object spilling] For manual spilling, ask the owner for the location of the primary copy"

[2020-08-18 20:08] edoakes opened #10184 "[metrics] experimental.metrics API Improvements"
The `experimental.metrics API` is really useful but have a few suggestions to improve the API after using it in Serve:

- Use kwargs instead of positionals for constructors
- Provide some way to specify default tags for metrics. Could be specified in the constructor or maybe we can use some kind of call chaining like `metrics.Count(...).with_tags({"tag1": val, "tag2": val2}).record()
- Don't requi

[2020-08-18 20:09] stephanie-wang commented on #10150
Hmm @wuisawesome, is that relevant to the original issue, though? It doesn't seem like worker startup time alone explains the staggered tasks in the cluster version.

[2020-08-18 20:12] edoakes commented on #10184
It would also be great if there was some way for libraries to provide a "metrics context" that can be used by the application. For example, in Serve we want users to be able to log metrics that are tagged with the correct backend, replica, and node IDs without having to manually specify that information.

[2020-08-18 21:01] jonmmease commented on #6256
FWIW, I haven't dug in very far but I think this is coming from Bazel: https://github.com/bazelbuild/bazel/issues/9392

[2020-08-18 21:28] wuisawesome commented on #10150
So the 2 "non-bug" factors here are autoscaling latency and overhead of spinning up new workers. We should probably confirm both of those, and see what portion of the staggering this accounts for (it sounds like your intuition is saying it won't account for all of this?)

[2020-08-18 21:35] stephanie-wang commented on #10150
I don't think autoscaling latency is relevant here since the diagram shows that all machines start at around the same time.

The reason I don't think the worker startup time is the only issue is because the diagram shows that times are staggered by up to ~60s. c4.8xlarge as 36 vCPUs, so that would mean nearly 2s to start each worker process, which seems very high.

[2020-08-18 21:51] rkooo567 commented on #10150
Btw, I heard issues in the past that the worker startup took more than a couple seconds when it is running inside containers. Don't remember the details though. (https://github.com/ray-project/ray/pull/9221)

[2020-08-19 00:15] richardliaw commented on #10142
RE: hparams: Hmm, maybe try `pip install -U tensorboardX`?

RE: accuracy: please make the following change -
[code]

That should fix things for you!

[2020-08-19 01:19] jasonyeoh87 opened #10188 "[serve] worker died - trying to pass python handle to actor"
### What is the problem?

I am trying to set up a batch ray serve that accepts requests from more than one actors. I'm doing this by passing the Ray Serve python handle to the actors as an argument when spawning the process. Not sure if this is supported or if there is a better way to do this.

The error I got was:
  E0819 09:14:36.353615 12152 13332 task_manager.cc:323] Task failed: IOError: canc

[2020-08-19 02:08] snmhaines commented on #10102
@mfitton, I think that the real error is "KeyError: 'cluster_synced_files'" thrown up when the autoscaler initializes the cluster. I found a typo in my file_mounts: section of the config, but correcting it didn't make any difference.  I have tried a number of different variations on that section, including no file mounts at all, but the result is the same.  I am running out of ideas now.

[2020-08-19 02:13] richardliaw commented on #10102
Can you put a `cluster_synced_files: null` into your yaml?

[2020-08-19 02:18] nrhine1 opened #10189 "[rllib] Policy losses that depend on trajectories of experience"
I want to implement a Policy loss function that requires a somewhat long trajectory of observations and actions from the same episode (e.g. a length-10 trajectory of observations and actions).

My understanding is that the standard aggregators of experience are the `SampleBatch` and `MultiAgentBatch` objects, which don't seem to explicitly provide access to arbitrary-length trajectories of samples

[2020-08-19 03:27] Seraphli commented on #10151
@mfitton Thank you for replying to me. I actually need a detailed call-site when analyzing memory. The dashboard is fine for now. It can show which actor is running. But it can not provide any detail about the memory.

[2020-08-19 03:50] rkooo567 commented on #10134
@ericl I will take it over next week.

[2020-08-19 03:53] rkooo567 commented on #9786
Hi, @matter-funds I will start working on this (highly likely) from next week. Would you mind having a short conversation in the beginning of next week? If so, can you give me your slack handle for public Ray channel?

[2020-08-19 03:53] #10132 closed

[2020-08-19 03:54] rkooo567 commented on #7192
Close it since there's no reproduction (and last time when I checked it, it was resolved). Feel free to reopen if there's a reproduction script :)

[2020-08-19 03:54] #7192 closed

[2020-08-19 03:55] rkooo567 commented on #6934
@holli Close it thanks to your PR! :)

[2020-08-19 03:55] #6934 closed

[2020-08-19 07:34] Fritskee commented on #10142
@richardliaw indeed, just had to update my tensorboard...

Thanks for the time, patience and load of help! Much appreciated!

[2020-08-19 07:34] #10142 closed

[2020-08-19 07:35] richardliaw commented on #10142
No problem! Thanks a bunch for your patience too!

[2020-08-19 08:23] Seraphli commented on #10151
I probably find the reason for the memory issue. Here is a minimal demo for reproducing this issue.
[code]
Before running `insert` function, `A` created a shared memory which is 458M file in `/dev/shm`.
Memory displayed on dashboard
![image](https://user-images.githubusercontent.com/1586755/90609669-faad6380-e236-11ea-888a-df535dc740f5.png)
And after running `insert` function, B will overwrite all

[2020-08-19 08:26] Seraphli commented on #10151
And I tried to use `ray memory` to see if there is a new object, but there is no useful information.

[2020-08-19 08:43] mattearllongshot commented on #10150
Ok, it sounds like the local issue is indeed separate then. I don't think it's #9221 since we're not using docker or containers.  Is there any more info I can grab to help diagnose the cluster issue?

[2020-08-19 08:50] mattearllongshot commented on #10150
One other feature in the diagram is that some nodes start just fine (all workers start instantaneously) which makes me doubt that it's just a performance barrier on worker startup time, otherwise why would some nodes be immune to it?

[2020-08-19 09:35] Seraphli commented on #10151
We reproduced this issue using multiprocessing in python. So it might be a python problem.

[2020-08-19 09:36] Patol75 commented on #10152
@richardliaw Thank you for your help, and sorry for my previous answer (deleted) which was missing your point.

The `foo` function is the main function of the program: it calls other functions, which themselves can call additional functions and make use of objects defined in the outermost scope (either immutable or callable, such as Scipy Interpolator objects). Each call to `foo` is fully independ

[2020-08-19 09:44] shaandesaiqb commented on #6780
Hello @richardliaw,

I just wanted to follow up and see if there were any updates on this issue. Curious to hear your thoughts on what might induce this problem. I am facing a similar issue running BOHB.

[2020-08-19 10:20] Seraphli commented on #10151
BTW, here is a code to reproduce this issue in python.
[code]

[2020-08-19 10:31] ChristianECooper commented on #9752
I have run into a similar problem in a project I'm working on.  I'm not able to provide a script to reproduce the problem (sadly the data is not ours, and the code is proprietary), but I have done some analysis, and can provide some background on the data we are processing.

Items of note:
1. Using Python 3.7.7, Pandas 0.25.3, and Ray 0.8.7
1. Pytorch is not used in my project.  The processing is

[2020-08-19 11:42] mattearllongshot commented on #10150
Here's the output of `ray.timeline()`, in case it's useful.  It seems not to be showing some of the workers though.

[timeline.tracing.log](https://github.com/ray-project/ray/files/5096131/timeline.tracing.log)

[2020-08-19 12:23] ChristianECooper commented on #9752
A new run was triggered using the same scenario as above (32 CPUs, 120GB memory), it failed but with significant differences in the logs.

If we look at PID 111, clearly in the below log the process ran out of device space, but then managed to fail gracefully.
In this case though (and many other PIDs showed the same behaviour), all the messages were related to logging failures, some failed.

[code

[2020-08-19 16:24] stephanie-wang commented on #10150
One thing that might help is if you could collect the raylet logs from all of the nodes with debug logging on. This is a bit of a headache to do, so only if you're stuck on this :)

1. Set `RAY_BACKEND_LOG_LEVEL=debug` on all nodes, including the head node. You can do that by prepending the `ray start` commands in the autoscaler config.
2. Collect `/tmp/ray/session_latest/logs/raylet.out`, one per

[2020-08-19 17:16] edoakes commented on #10134
@rkooo567 not sure exactly why it happens but the wait logic in the core worker is pretty ugly. I think we can actually clean it up a lot now that we expect everything to be in the in-memory store - this would be a good chance to do that.

[2020-08-19 17:21] stephanie-wang commented on #10151
I don't quite see the problem here. Isn't it expected that B's memory usage should also increase if it is accessing 500MB of shared memory? I believe that the way the dashboard (and also standard bash tools) report the memory usage includes shared memory. So if A and B both access the same shared memory, they will both appear to be using have that many bytes resident. Perhaps there is a memory lea

[2020-08-19 17:36] arunmk opened #10198 "Ability to specify a termination hook for Ray actors"
### Describe your feature request
We need to do some cleanup steps when the refcounted, non-detached actors complete. These can be things like copying logs to some location, closing open handles etc. There is no clean way of doing this apart from implementing our own ref-counting mechanism.

/CC @stephanie-wang

[2020-08-19 17:51] stephanie-wang commented on #10198
@arunmk, would you be interested in contributing this? It should be relatively easy to add!

[2020-08-19 17:58] edoakes commented on #10134
@rkooo567 Got sucked into this over lunch and ended up finding the issue. Assigned you on the PR.

[2020-08-19 17:59] dark16sider opened #10200 "[rllib] Does noisy layer still work if explore is set to False?"
In rainbow configuration I have seen
[code]
But why not just use  if they are not related
[code]
I have found that for some reason restoring with explore:True with timesteps: 2, set the agent way back, using explore:False doesn't have this issue.

[2020-08-19 18:02] arunmk commented on #10198
@stephanie-wang sure, let me take a look.

[2020-08-19 18:14] UTUnex opened #10201 "[tune] Please add more supports to skorch"
Skorch is a wrapper of pytorch which makes it have a sklearn API format for easy use. Currently, the support of ray tune to skorch is quite limited. I really hope the excellent algorithms in tune.suggest, and the tune.schedulars can all support skorch in the short future. The most important thing is, please add more examples on these supports.

Recently I have been searching for the ways to apply

[2020-08-19 18:19] richardliaw commented on #10201
Please follow this PR here! https://github.com/ray-project/tune-sklearn/pull/68

[2020-08-19 19:03] Seraphli commented on #10151
I post an issue on python bug tracker and get the reply I want.
https://bugs.python.org/issue41587
It seems just a display problem. When I use one process to access the shared memory, `htop` displays a memory increment. But when I use 16 processes to access the shared memory, the total memory is not increasing. So it actually won't cause any problem. I will close this issue.

[2020-08-19 19:03] #10151 closed

[2020-08-19 19:04] sumanthratna commented on #7017
was this fixed in 0.8.7? #9725

[2020-08-19 19:17] UTUnex commented on #10201
Thank you. I have checked that link and it seems very promising. I just think, though skorch has a sklearn-API format, it's a neural network after all and needs more consideration like parallelism with multiple GPUs, etc. If possible, please also consider these kind of things.

[2020-08-19 19:54] richardliaw commented on #10201
Right now we only support 1 GPU per model. Can you raise a feature request there?

[2020-08-19 19:56] snmhaines commented on #10102
That just produced the same error as cluster_synced_files: []
[code]
This is the section:-
[code]

[2020-08-19 21:01] simon-mo commented on #10188
Thanks for raising this issue @jasonyeoh87

The underlying error seems to be
[code]

You can fix it by adding a `_unused_flask_request` for your `__call__` handler:
[code]

I understand this error is definitely not very clear and actionable and the API seems little hard to parse right now. Serve defaults the first argument to web requests. In the batch inference mode, the first argument is still i

[2020-08-19 21:27] snmhaines commented on #10102
Could this be a result of this issue: [autoscaler] Throw error with missing `cluster_synced_files`. #9965 ?  If so, can you suggest a quick temporary fix to autoscaler.py?

[2020-08-19 21:51] ericl commented on #10179
You'll see the full rewards -- truncation is more like "chopping up", it doesn't stop the rollout of the episode until the end.

[2020-08-19 21:52] ericl commented on #10178
That setting looks like it should work, have you tried it? You can also create a totally custom policy that just returns action_space.sample() for actions: https://docs.ray.io/en/latest/rllib-concepts.html

[2020-08-19 21:55] ericl commented on #10175
Hmm this is unfortunate, it's too bad PyTorch doesn't auto-convert tensors in such situations. @sven1977 I wonder if we can solve this by not serializing the tensors directly (perhaps they should be converted into numpy arrays as we do for get/set_weights()?)

[2020-08-19 21:56] ericl commented on #10198
You can already use `atexit`, no need for a custom hook here. See this example: https://github.com/ray-project/ray/blob/5dc4b6686e5885df7d53c6162773ece336994feb/rllib/examples/env/env_with_subprocess.py

[2020-08-19 21:59] UTUnex commented on #10201
Sorry, but I just found another issue : 'ModuleNotFoundError: No module named 'skopt' '. I read the PR :ray-project/tune-sklearn#68 and think that the skopt has been depreciated but now the error occurs, so I have to install skopt to use the updated tune_sklearn ? or should I wait for another update ?

[2020-08-19 22:08] UTUnex commented on #10201
Well, I have just installed the skopt and the error disappears, so skopt is indeed required here.

[2020-08-19 22:19] mimoralea commented on #10179
Thanks, @ericl.

So, if the `horizon` stops the rollout of the episode, and the `sgd_minibatch_size` is the size that gets sampled from the training buffer of size `train_batch_size`, what is the purpose of this `rollout_fragment_length`? The comment on the variable says: `# Size of batches collected from each worker.`. The relevant doc section is this: https://docs.ray.io/en/latest/rllib.html?hig

[2020-08-19 22:24] ericl commented on #10179
That's right, it's mostly an internal system parameter mostly, but has a couple effects:
- LSTM state does not carry across this size.
- Affects system performance (too small => high overhead, too large => high delay).

[2020-08-19 22:35] snmhaines commented on #10102
I find that my version of ray-schema.json (with Ray 0.8.6) has no description of cluster_synched_files, so I put one in (the same format as file_mounts), and put "cluster_synched_files: {}" in the config file.  This got rid of the error, and the cluster span up, but still no workers and, this time, no errors in the monitor.err log!

[logs.zip](https://github.com/ray-project/ray/files/5099674/logs.

[2020-08-19 22:53] mimoralea commented on #10179
Excellent. Thank you so much for the clarification.

[2020-08-19 23:05] arunmk commented on #10198
@ericl the thought was to call the destructor. I can use the atexit to call it definitely. Should I close this feature request?

[2020-08-19 23:28] richardliaw commented on #10198
It would be great to add an example to the ray documentation! I'm sure a lot of other folks would benefit.

[2020-08-19 23:29] richardliaw commented on #6780
@shaandesaiqb can you post your HyperBandScheduler code?

[2020-08-20 00:06] ericl opened #10211 "CLI logger silently swallows exceptions"
### What is the problem?

If you run `ray up` on a file that does not exist, the exception is swallowed an you get some other random error down the line:
[code]

`ray up does_not_exist.yaml`

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest whee

[2020-08-20 00:06] ericl commented on #10211
@richardliaw @maximsmol

[2020-08-20 00:13] maximsmol commented on #10211
I cannot reproduce on master:
![img](https://i.imgur.com/34j9KYY.png)

[2020-08-20 00:14] richardliaw commented on #10211
It's because his log_new_style is False - i can push a fix now.

[2020-08-20 00:15] ericl commented on #10211
Can we enable the new style by default? I am concerned we have an not well tested path enabled by default on master.

[2020-08-20 00:15] ericl commented on #10211
Can we enable the new style by default? It seems there is insufficient testing for the old version now.

[2020-08-20 00:16] maximsmol commented on #10211
This isn't related to logging actually, or to the file being missing

[2020-08-20 00:16] maximsmol commented on #10211
Ah wait nvm, I see how this happens

[2020-08-20 00:18] richardliaw commented on #10211
@ericl yes, @maximsmol and I will push a PR today

[2020-08-20 00:19] maximsmol commented on #10211
We actually broke this a while ago, for all uses of `abort` that do not have their own old-style handler. Might be good to try and fix all of them

[2020-08-20 00:21] richardliaw commented on #10211
Fix for the original issue - https://github.com/ray-project/ray/pull/10212/files

[2020-08-20 01:37] ericl commented on #10160
We actually used to put things in tmp, but that caused issues since many machines automatically delete all tmp files on restart, causing lost data.

Closing this since status quo is preferred.

[2020-08-20 01:37] #10160 closed

[2020-08-20 03:51] rkooo567 commented on #10066
@ffbin I'll need additional implementation for this in order to make remove API fully working. I will take it over.

[2020-08-20 03:58] mmuru commented on #6573
In home wifi, both IPv4 and IPv6 are enabled and ray.init() has failed with `OSError: [Errno 49] error while attempting to bind on address ('2600:1700:4570:7ce0::1', 8265, 0, 0): can't assign requested address`
I followed @iamWing: suggested workaround and able to start without any issues.

[2020-08-20 04:30] richardrl opened #10216 "ray submit does not upload new version of code"
Is ray submit supposed to upload new version of the "file_mounts" each time"?

Right now, it looks like it doesn't. The file_mounts are only uploaded once when you do "ray up".

So, you may say "just do ray down and ray up again".

But this is pretty inefficient because you have to redownload the docker... Code changes (where the code is in file_mounts) are usually small and quick to reupload vers

[2020-08-20 04:30] rkooo567 commented on #10153
cc @sven1977

[2020-08-20 04:35] richardliaw commented on #10216
Nope! try `ray rsync-up yaml`.

[2020-08-20 05:16] jasonyeoh87 commented on #10188
Thank you for the help @simon-mo
After making the fix you suggested (and now on latest ray version 0.9.0) I still have my worker dying unexpectedly with the following error message.

[code]

The codes I have now look like this.
[code]

I also tried using a try/except block to catch the error happening in the Actor, but it does not seem to successfully catch anything. The actor process seems to die

[2020-08-20 08:16] Catypad commented on #7983
Hello @stefanbschneider! Can you explain how to change the directory where the agent is saved? Pass the path with which arg? Thank you!

[2020-08-20 09:12] raphaelavalos commented on #10164
Fixed by #10177

[2020-08-20 09:48] ramondalmau commented on #8194
Hey, did you solved this issue? I am experiencing the same problem with SAC and MultiAgentEnv

[2020-08-20 10:18] mattearllongshot commented on #10150
Here's the output for one of worker node's raylets:
[raylet_10.2.252.220.out.zip](https://github.com/ray-project/ray/files/5102266/raylet_10.2.252.220.out.zip)

I have the others so if you need any more, let me know (in total they are 150MB compressed).

[2020-08-20 10:23] mattearllongshot commented on #10150
Note that the performance this time was slightly worse than before (the spread of the start times of each task was even longer), possibly due to the extra work that was having to be done by the logging?

[2020-08-20 10:33] jasonyeoh87 commented on #10188
Hi @simon-mo
I would like to add some findings.
I manage to solve the issues with some further tests, and found the issue to be caused by not calling one final ray.get() in the __main__ function before serve.shutdown().

Changing the final part to the following solves the issue.
[code]

[2020-08-20 11:05] gradpratik commented on #7420
Any updates on this?

[2020-08-20 12:06] xlnwel commented on #10153
I finally realized that I have to specify `TF` version and all other settings in the `yaml` file. Before I specified them in `DEFUALT_CONFIG`

[2020-08-20 15:15] valentasgruzauskas commented on #9114
Runing exeriment with HyperOptSearch and LightGBM, and receive rror message.

raise TuneError("Trials did not complete", incomplete_trials)

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'C:\\Users\\User\\ray_results\\train_flat_price\\train_flat_price_1_bagging_fraction=tune.sample_from(<function uniform.<locals>.<lambda> at 0x000001C05ECACE58>),featur

[2020-08-20 16:10] arunmk commented on #10198
@ericl @richardliaw the thought was to allow the `__del__()` of the class to be called if available. I spent some amount of time debugging refcounts and leaks until I realized that the destructor would not be called.

There is no need of a *new* custom hook. I use 4 actor classes and I do see the need of calling this in all of the 4 classes. I can use the `atexit` approach but it seems like boiler

[2020-08-20 16:52] esquires opened #10223 "[tune] how to get parallel trials running"
### What is your question?

I am following the tutorial [here](https://docs.ray.io/en/latest/tune/api_docs/grid_random.html?highlight=search#overview) and trying to figure out why my system only has one trial running at a single time. I tried playing around with [trial resources](https://docs.ray.io/en/latest/tune/user-guide.html#parallelism-gpus) (specifically giving fractions of gpus to the conf

[2020-08-20 16:52] richardliaw opened #10224 "[tune] Support class methods"
### Describe your feature request

[code]

[2020-08-20 16:54] richardliaw commented on #10223
Can you provide some Tune output?

[2020-08-20 17:06] esquires commented on #10223
Sure. It is pasted below.

[code]

[2020-08-20 17:15] richardliaw commented on #10223
hm add tune.run(num_samples=10)

On Thu, Aug 20, 2020 at 10:06 AM Eric Squires <notifications@github.com>
wrote:

[2020-08-20 17:19] stephanie-wang commented on #10150
Ack yeah, so this seems to be very clearly an issue with the current spillback scheduling policy (the policy used to distribute tasks across multiple nodes). In this file alone, there are 2000+ events where the raylet spills back to another node! :(

Sorry this is so bad right now, but hopefully the new scheduler will make these issues go away. @wuisawesome could potentially work on a quick fix fo

[2020-08-20 17:30] mattearllongshot commented on #10150
Hi @stephanie-wang we're not really blocked, but it'd be nice to get it fixed since it's adding a couple of minutes onto our testing times, plus the associated EC2 charges.  You mention it should be fixed in the new scheduler, is the new scheduler in the latest nightlies?  The above testing was done with the nightly build as of Monday.

[2020-08-20 17:33] rkooo567 commented on #10150
@stephanie-wang I think we've discovered this in the stress test before (when there are lots of stress, there are lots of spillback). The root cause was inbetween each heartbeat update, the node has wrong information, and it spillbacks to the wrong nodes. I think if we materialize heartbeat data (meaning we temporarily update the heartbeat data in-memory), this can be alleviated.

[2020-08-20 17:43] esquires commented on #10223
Looks like that fixed it. I was under the impression that `num_samples` added repeats of the same hyperparameters. Apparently that is not the case. Is that correct?

Looking at the output, the number of parallel trials doesn't match what I was expecting. This call:

[code]

Results in the following:

[code]
I was thinking that 2 workers per trial with 4 parallel trials would mean 8 cpus plus anoth

[2020-08-20 17:53] stephanie-wang commented on #10150
Thanks, @rkooo567! But unfortunately I don't think that's the problem here. There are as many cores as tasks so any of the nodes are feasible and there shouldn't really be a stale heartbeat problem, except maybe when a node is close to becoming full.

@wuisawesome can comment on this.

[2020-08-20 17:58] deepaksharma36 commented on #8194
I am not normalizing it, I have my own custom normalization method for it
in the rllib/agents/trainer.py
             def normalize(env):
                    return env

[2020-08-20 18:17] jyericlin commented on #9964
We also observed the same issue running QMIX with PyTorch on SMAC. In my case, the machine has 16GB of RAM, and the training would eventually consume all the RAM and crash (at about 600+ iteration using the 2s3z map).

Tried setting `object_store_memory=1*10**9, redis_max_memory=1*10**9` for ray init but didn't help.

Ray version: 0.8.7
OS:  Ubuntu 16.04
Pytorch version: 1.3.0
command used: python

[2020-08-20 18:37] wuisawesome commented on #10037
So the short answer is no: since Ray is independent of any containerization technology (including Linux).

Whether or not we should attempt to enforce allocations via cgroups when possible is potentially worth discussing though.

cc @ yiranwang52

[2020-08-20 18:38] caesar025 commented on #6991
Could you elaborate what the error was @rusu24edward ? I am running into the same error and have no idea where to start.

[2020-08-20 18:40] wuisawesome commented on #9692
I'm changing this task to clearly defining our logging policy (and testing it) which should be done by ray 1.0

[2020-08-20 18:44] ThomasLecat opened #10228 "[rllib] _get_torch_exploration_action doesn't support tuple action dist"
### System information

*  **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS 10.15.4
*  **Ray installed from (source or binary)**: binary (via pip)
*  **Ray version**: 0.8.6., but nothing seems to have changed on master
*  **Python version**: 3.7

### What is the problem?

When using tuple action distributions (as advised in #6372) and exploration is disabled, the line:

https://

[2020-08-20 19:15] rusu24edward commented on #6991
I'm sorry @caesar025, I don't remember what I did to fix this. I can say though that in this case the gym error is misleading. The true issue was this NoneType error.

I have been working extensively with MultiAgentEnv since then and have gained some good experience about what to expect with connecting with RLlib. If you want to share your code, I can take a look and help debug a bit.

[2020-08-20 20:46] ericl commented on #10228
The proposed fix makes sense to me. We could alternatively try to get the batch dimension of the tuple, but I don't see an existing helper method for that, so your proposal is probably simpler.

And yeah, a PR would be great!

[2020-08-20 20:49] ericl commented on #10189
The sample batches do include the episode / unroll ids (`eps_id`), so it is possible to extract contiguous unroll segments from the batch. If you further use "batch_mode: complete_episodes", then you are guaranteed to see entire episodes in the batch, and can use .split_by_episode()  to extract those.

Note that for DQN-like algorithms, you'll also want to set "replay_sequence_length: N", otherwis

[2020-08-20 21:47] #10182 closed

[2020-08-20 21:53] saffronh opened #10231 "[tune] grid search over environment config variables"
I'm running a grid search over variables that get passed into the environment config. So I have env_config = {
"alpha": tune.grid_search([0.2, 0.25, 0.3]),
"beta": tune.grid_search([0.1, 0.2]),
}

While the correct number of trials are instantiated (in this case, it would be 6), the variables that end up getting passed into each instantiation of the environment are e.g. env_config["alpha"] = {"gri

[2020-08-20 21:57] richardliaw commented on #10231
thanks @saffronh , can you post your Tune.run call?

[2020-08-20 22:04] richardliaw commented on #10223
ah `num_samples` = number of hyperparameter evaluations.

Each trial has 2 workers * 1 CPU and 1 "driver" * 1 cpu. Therefore, the total resource usage per trial is 3 cpus (hence 4 parallel trials). Does that make sense?

Let me know if you have any other questions!

[2020-08-20 22:04] saffronh commented on #10231
[code]

[2020-08-20 22:05] saffronh commented on #10231
Oh hold on, is the issue with the register_env call?

[2020-08-20 22:18] esquires commented on #10223
Makes sense. Thanks for your help!

[2020-08-20 22:18] #10223 closed

[2020-08-20 22:22] #9895 closed

[2020-08-20 22:25] rkooo567 commented on #9793
@ericl Should we close this? I think all P0 for removing APIs are done.

[2020-08-20 22:26] rkooo567 commented on #9793
Or I can bring it down to P2 (with addtional explanation).

[2020-08-20 22:29] ericl commented on #9793
Sounds good. Let's close and add more tasks for any refinements.

[2020-08-20 22:29] #9793 closed

[2020-08-20 22:29] #9794 closed

[2020-08-20 22:30] ericl commented on #9919
This is blocked on https://github.com/ray-project/ray/issues/9800

[2020-08-20 22:30] #9774 closed

[2020-08-20 22:32] rkooo567 opened #10232 "Refine Remove API"
### Describe your feature request
Current Removing placement group API has several limtations.
- All pending tasks or subsequent tasks will be just infeasible. We should remove them properly from local_queue. I will deprioritize this because we need to reimplement after new scheduler is turned on.
- Each core workers still submit pending tasks. For example, core worker will retry task submission a

[2020-08-20 22:37] richardliaw commented on #10231
ah it looks like we're not iterating through tuples.

[2020-08-20 22:52] saffronh commented on #10231
sorry, can you explain what you mean by that? didn't realize that i needed to iterate through something for the grid search from the docs. thank you in advance!

[2020-08-20 23:33] snmhaines commented on #10102
Well, I had to do this the hard way, starting from an old version of my config that and then adding in and subtracting different combinations of node set-up commands (and versions thereof) until I found which worked (attached).
The cluster_synced_files problem seems to be fixed in ray 0.8.7 and 0.9.0; so the block doesn't even need to be included.  However v 0.9.0 doesn't start up the workers, at

[2020-08-21 00:00] nrhine1 commented on #10189
Thanks @ericl ! Some quick details for context:

-  I'm currently using torch PPO with the default `execution_plan`
- My goal is for the data that arrives inside the `loss_fn` to contain a set of windows (contiguous sequences) from different episodes, in order to construct, inside the loss function, an observation `Tensor` of shape `(N_windows, window_size, obs_size)`.

I interpreted your comment

[2020-08-21 00:27] snmhaines commented on #10104
OK, I have managed to run reproduce this problem and am attaching all the info I can find:-
[logs.zip](https://github.com/ray-project/ray/files/5106032/logs.zip)
This contains:-
1. conf_east_c5.24xlarge.yaml: the config file
2. AWS CloudTrail.doc: shows the initialization of the cluster on AWS
3. Logs: The logs directory (the sockets one only contained two sockets - plasma_store and raylets - whic

[2020-08-21 04:13] Seraphli opened #10234 "[ray] Redis CPU usage reach 100%, any way to reduce redis workload?"
We open an experiment with over 1000 workers connected to the cluster. And the redis server seems can not handle too many workers. I want to ask how to reduce workload of redis server. May I ask what type of data will be sent to redis?

[2020-08-21 04:16] richardliaw commented on #10234
what type of experiment are you running? are you using Tune/rllib?

cc @stephanie-wang @wuisawesome @ericl

[2020-08-21 04:18] Seraphli commented on #10234
@richardliaw We only use ray on our cluster. We build our experiment based just on ray.

[2020-08-21 04:20] rkooo567 commented on #10234
Hmm.. interesting. Redis is not supposed to use that much of cpu and memory. What version of Ray are you using?

[2020-08-21 04:21] Seraphli commented on #10234
0.8.6. Perhaps we create over 1000+ actor handler cause this problem.

[2020-08-21 05:15] yiranwang52 commented on #10037
I think the options are：
1. Ray itself manages cgroup per actor/task, like YARN. This will take a lot of effort to implement. Hard to handle corner cases like restart, cleanup, or when users launches ray itself into a container.
2. Ray doesn't manage cgoups/containers at all. Let users leverage existing container orchestration frameworks like k8s, and address this need by right-sizing the containe

[2020-08-21 05:42] rkooo567 commented on #10037
I believe 3 and 4 are the right way to go. Btw, afaik, we are already using cgroup for actor tasks to constraint memory usage

[2020-08-21 06:18] Seraphli commented on #10234
Another problem is dashboard show `2266 workers / 2112 cores`.
![image](https://user-images.githubusercontent.com/1586755/90858570-104a9680-e3b9-11ea-9cf5-3649112958a1.png)

[2020-08-21 07:47] abelien101 opened #10235 "[Tune] Have some trials running on GPU and some trials on CPUs"
I only have one GPU and 32 vCPUs on my machine.

When I use `resources_per_trial={'gpu': 1)`, I only have one trial executed at the time, as it waits for the GPU to be released to launch a new trial.

Is it possible to have other trials running in parallel on the available CPUs while one trial uses the GPU, and when the first trial on GPU finishes, it launches a new trial on GPU?

[2020-08-21 08:18] richardrl commented on #854
Hi all,
I often run Tune jobs with an unlimited number of iterations, because I like to check and see how the jobs are doing and decide when/if to kill certain jobs.

Is there some way I can kill Tune jobs with this based on the experiment name? Maybe if this is integrated to the Dashboard?

[2020-08-21 10:13] j4l-Shvn opened #10237 "Pin on a specific node or set of nodes in a cluster?"
Is there a way to pin a remote on a specific node (or set of nodes) in a cluster? Eg. have a parallel (async) io handler on the localhost only.

[2020-08-21 10:19] manishagarwal23 opened #10238 "Unable to start ray dashboard on red hat"
### OS:
Red Hat Enterprise Linux Workstation release 7.6 (Maipo)
### pip list gives us this
Package                       Version
----------------------------- ---------
aiohttp                       3.6.2
aioredis                      1.3.1
alabaster                     0.7.12
async-timeout                 3.0.1
asyncio                       3.4.3
atomicwrites                  1.4.0
attrs

[2020-08-21 11:12] pengyuan-zhou opened #10239 "Decentralized state space"
Hi,

This may be more like a newbie question, but does ray support multi-agent algorithm in which not only the action space is decentralized, but also the state space?

Thank you.

[2020-08-21 12:34] vikasmalik22 opened #10240 "module 'ray' has no attribute 'compat' on windows"
### What is your question?
Hi Guys,

I am getting this error when trying to import ray in my notebook while running on windows.
Is there a workaround or is this a known issue?

Thanks

![Capture](https://user-images.githubusercontent.com/6457663/90890930-72bd8a00-e3ed-11ea-987c-ef559437ae84.PNG)

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray Version 0.8.7

[2020-08-21 13:23] esquires opened #10241 "[rllib] how to set zero learning rate after checkpoint"
## What is your question?

I am trying to change the learning rate after loading in a previous checkpoint but this does not seem to be working for me. Can you help me figure out how to do this? Here is an example:

[code]

After the first run, the system learns. However, if you set the variable `first_run` to false so that the code goes into the second branch where it loads a checkpoint (you would

[2020-08-21 18:18] hammacktony opened #10243 "[Autoscaler] Silent failure when "Arn" is not in the name."
### What is the problem?

When running the `ray up` command, I  get the following error:

[code]

This happens due to not finding "Arn" in the config yaml. However, the error should have happened sooner. Here is the relevant part of my config:

[code]

Since `IamInstanceProfile` is defined, the config object gets returned immediately in [config.py](https://github.com/ray-project/ray/blob/e968b52cb

[2020-08-21 18:19] ryandavis3 opened #10244 "[ray] Support mypy"
I am getting an error when using `mypy` in a virtual environment to type-check a package I built which imports `ray`.

I am using `ray` version 0.8.7 and `mypy` version 0.782.

[code]

This looks like an issue my `mypy` -> it recognizes text with types in comments as actual type annotations, e.g. in the code below.

[code]

I don't see the same error in `ray` 0.8.6. How can I configure `mypy` (e.g

[2020-08-21 19:18] richardliaw opened #10247 "[tune] Do a better job of inferring hyperparameters/results to show"
#### Describe your feature request

Right now, it's not straight-forward to actually get the ProgressReporter and such. We should just do a better job of inferring the right defaults.

[2020-08-21 20:07] richardliaw opened #10249 "[tune] Support Synchronous Bayesian optimization"
### What is the problem?

This is a requirement for https://eng.uber.com/ludwig-v0-2/. We may want to simply do this for 1 or 2 algorithms first (HyperOpt, ax?).

This is generally pretty simple, given that we can just return None for a search algorithm.

[2020-08-21 20:45] wuisawesome opened #10250 "[Logging] Warning printed twice on --plasma-directory"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]
If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my

[2020-08-22 00:46] richardliaw opened #10255 "[cli] new-style Migration Plan"
The CLI received a number of major improvements over the last couple weeks.

Towards 1.0, we plan to:

1. ~Enable New Style by default #10213~
1. ~Add tests #10057~
1. ~Support coloring for white terminal backgrounds. (PR: #10577)~
1. ~Add non-interactive option #10203~
1. ~Enable a timestamped/dull version of the CLI~
1. Remove old logging statements, file by file #10776
1. Remove old_XXX command

[2020-08-22 01:08] richardliaw opened #10256 "[tune] All search alg examples should limit concurrency"
### What is the problem?
Concurrency limiting is critical for search algorithm performance. We should change all of the examples for the ConcurrencyLimiter to be set.

Or introduce a `tune.run(max_concurrent` parameter.

[2020-08-22 01:25] rkooo567 opened #10258 "[Placement Group] SigSegv on IsSubset"
### What is the problem?

The following script has this error.
[code]

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also

[2020-08-22 02:09] adrianliu99 opened #10260 "[rllib] pytorch models not able to access batch['infos'] in custom_loss()"
I want to use the 'info' dictionary returned by the environment's step() function to define a custom loss. However, in torch_policy.py, custom_loss is being called on train_batch, which is a UsageTrackingDict. This makes it impossible to access the 'infos' of the batch, since it returns a tensor of objects, but UsageTrackingDict doesn't allow accessing tensors of objects. I can avoid this issue by

[2020-08-22 19:15] richardliaw opened #10263 "[tune] Improve the serialization diagnoser by providing deeper introspection"
### Describe your feature request

We will want to provide a deeper level of introspection (i.e., diagnose(obj, trace_level=2)).

This will allow us to identify unserializable objects to a deeper level of detail.

[2020-08-23 01:45] AprilXiaoyanLiu opened #10265 "parametric action example 'PPO' algo does not work"
for the example the library gives 'parametric action example', I found when having the run as default 'PPO', it failed. after printing out, it looks like when do batch prediction process, the output of model is nan, is it because the gradient explodes?

[2020-08-23 04:58] 0luhancheng0 opened #10267 "[rllib] How to implement mixed action space"
### What is your question?

My environment is a two-player matrix game where each agent has two actions available which mean the action space is binary.
Now i would like to turn the action space into Box(low=0.0, high=1.0, shape=(2,)), which represent a probability distribution over action. however, it does not guarantee they normalize to 1.
I'm a bit confused which part of the code i should custo

[2020-08-23 09:41] michaelitvin opened #10269 "[tune] mode='min' doesn't work for Bayesian search"
Bayesian search maximizes the target function even if using `mode='min'`.

ray 0.8.6
bayesian-optimization 1.2.0
Ubuntu 18.04

### Reproduction (REQUIRED)
[code]

This outputs:
[code]

Whereas the expected result for these trials would be `(5.42205, 20)` with loss `1.73384`.

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also

[2020-08-23 09:49] michaelitvin opened #10270 "[tune] Add ConcurrencyLimiter to the Bayesian optimization code examples"
As stated [here](https://docs.ray.io/en/latest/tune/api_docs/suggestion.html#concurrencylimiter-tune-suggest-concurrencylimiter), Bayesian optimization doesn't parallelize well and thus needs a `ConcurrencyLimiter`.

Need to add it to the code examples [here](https://docs.ray.io/en/master/tune/examples/bayesopt_example.html) and [here](https://docs.ray.io/en/latest/tune/api_docs/suggestion.html#ba

[2020-08-23 11:39] Iravo42 opened #10271 "[rllib][regression] num_gpus=1 on a device with GPU uses CPU for Pytorch in 0.8.7"
### What is the problem?

The following configuration of the `PPOTrainer` (with a custom model and environment) leads to an unexpected behavior since version 0.8.7:
[code]

In version 0.8.6, the backward pass executed by the PPOTrainer works on the GPU as expected.
In version 0.8.7, this is no longer the case and the CPU is used instead.
This seems to be a regression since this PR: https://github.

[2020-08-23 11:44] ffbin opened #10272 "[Placement Group]Optimize Pack Strategy"
### Describe your feature request
The current algorithm is to select a node and deploy as many bundles as possible. First fill up a node. If the node resource is insufficient, select a new node. Currently it is a double for loop. We need speed this up.

[2020-08-23 11:49] ffbin opened #10273 "[Placement Group]Optimize Strict Spread Strategy"
### Describe your feature request
A bundle may require special resources, such as GPU. We need to schedule bundles with special resource requirements first.

[2020-08-23 11:52] ffbin opened #10274 "[Placement Group]Optimize Spread Strategy"
### Describe your feature request
When reschedule unplaced bundles, we need to see which node the other bundles that have been placed are deployed on, and spread them as far as possible.

[2020-08-23 12:11] ffbin opened #10275 "[Placement Group]Optimize Reschedule When Node Dead"
### Describe your feature request
If we have a placement group bundle that requires a unique resource (for example gpu resource when there’s only one gpu node), this can postpone creating until a node with the resources is added.

[2020-08-23 13:28] Seraphli opened #10276 "[ray] Ray show an exception about object may have been evicted"
I'm getting these two errors while running. What does it mean? The program seems to continue without any fatal error.
[code]

[2020-08-23 16:47] rkooo567 commented on #10234
Ah, I see. What I explained was the case from 0.8.7 (we had pretty big change from 0.8.6 -> 0.8.7). Can you try bumping up the version? There’s a possibility it’d be fixed.

[2020-08-23 17:02] Seraphli commented on #10234
@rkooo567 We are using 0.8.7 right now. These issues happened also in 0.8.7.

[2020-08-23 17:08] Seraphli commented on #10234
I think ray can avoid Redis problem by using one or two backup Redis servers, which will handle some part of the actors' task.
We actually don't have any task for ray to assign to an IDLE worker. We know exactly which PID should handle this task. But it seems all task metadata first will be sent to the main Redis server, then sent to the actor process. I think this causes the overload of the main

[2020-08-23 17:16] rkooo567 commented on #10234
Did you try increasing the --num-shards of Redis btw?

[2020-08-23 17:21] rkooo567 commented on #10234
I think close to the latter. The issue looks like it is simply because Redis is too busy, the connection times out. Another suggestion I have is

1. Increase shard number of Redis.
2. Join nodes more slowly, so that Redis would have less stress. Are you using autoscaler here?
3. Also, create actors slowly => this might not be relevant anymore.

[2020-08-23 17:22] dokuboyejo commented on #8005
@hkvision can you explain how you got it working, as it still fails for me even after setting timeout on `ray.get([refs...timeout=xx)`
<br>
python3.8, ubuntu20.04

[2020-08-23 17:26] rkooo567 commented on #10276
This means GCS says the object is in the local machine, but it doesn't actually have that object, so object manager tries to pull objects from other nodes.

Did you turn on `LRU_evict=True`? Otherwise, this could be a bug. cc @stephanie-wang

[2020-08-23 17:30] Seraphli commented on #10234
We haven't try to use --num-shards. We can try this out. I'm not familiar with Redis sharding. Will it create multiple Redis servers to reduce workload? Will it reduce interactions of the primary Redis server by redirect some interactions to other servers?

[2020-08-23 17:42] rkooo567 commented on #10234
I think it is the latter. I also found this information from online.

[code]

Are you setting ulimit when you run ray start?

[2020-08-23 17:44] rkooo567 commented on #10243
@ijrsvt Do you mind taking this issue?

[2020-08-23 21:38] stephanie-wang commented on #10276
This can happen because the object directory is updated asynchronously, so an object manager may have received an object, evicted it (due to memory pressure), and requested it again before the eviction was reflected in the object directory. It should not be fatal but could indicate that there is memory pressure in the cluster.

[2020-08-23 22:03] richardliaw commented on #10269
Hi @michaelitvin, I think you'll want to do `get_best_config(metric="..", mode="min")`.

[2020-08-23 22:14] JoshuaCrestone opened #10278 "[ray] Programatically expose the amount of memory available in the object store"
When implementing an LRU cache on top of the object store, it is currently impossible to track how much memory is _actually_ available.

For example, assume I instantiate an LRU cache with 7 GB of memory, knowing that my local ray.init() calls usually allocate 8 GB of object store memory. If components other than the LRU cache are also using the object store, and they allocate around 1.5 GB worth

[2020-08-23 23:02] ericl commented on #10265
Can you provide a reproduction script (see the bug template)

[2020-08-23 23:59] JoshuaCrestone commented on #10278
@rkooo567

[2020-08-24 01:44] austinmw opened #10279 "Exceptions and ResourceWarnings on ray.init (Jupyter+offline)"
### What is the problem?

I'm running ray in a JupyterLab notebook (AWS SageMaker), and the notebook has no internet connection (for data safety).
 (instance type is `ml.p3.16xlarge`, so 64 vCPU and 488GiB ram).

When I simply do:
[code]

I get the following output:

[code]

Do I need to modify any init settings due to the fact that I'm running in Jupyter and/or because I'm offline?

*Ray version

[2020-08-24 01:47] hkvision commented on #8005
@dokuboyejo
If you are using TorchTrainer, you need to set this timeout through the environment variable: https://github.com/ray-project/ray/blob/master/python/ray/util/sgd/torch/constants.py#L9 instead of the timeout in ray.get.

[2020-08-24 01:50] snmhaines commented on #10104
I think that, as @richardliaw suggests, this problem should be re-classified as one produced by resource management for large clusters, because it seems that there may be multiple causes.

I have found that the first is the installation of boto3 on worker nodes; as I was doing in the general setup section of the config' included above.  This works only up to about 480 CPUs ( i.e. "actual", for the

[2020-08-24 03:04] richardliaw commented on #9734
Reopening because this seems to be occurring on my cluster again.

[2020-08-24 03:41] Seraphli commented on #10234
We tried to use sharding, but the primary Redis still has a high workload. And ulimit is set to a very high number, 1024768,  so that is not a problem.
![image](https://user-images.githubusercontent.com/1586755/91001481-62302e00-e5fe-11ea-9b9b-8ba2d370b331.png)

[2020-08-24 03:56] Seraphli commented on #10276
If I call an actor method and pass some data to this actor, then this actor use ray.put to put this data into object store, will ray transfer this data to the local machine of this actor?

[2020-08-24 05:07] manishagarwal23 commented on #10238
@rkooo567   i do not see puka beign used my machine .      I did pip install puka but i dont think the version i have uses that .

Can you kindly share your machine detils like OS and pip list output please .

[2020-08-24 05:27] rkooo567 commented on #10238
I don't see any reason why it wouldn't work in RedHat, but here is the Linux version information that dashboard is working.

[code]

Ray officially supports Python 3.6, 7, and 8.

I personally don't think the issue is related to the version of your Python dependencies. It seems like the issue is that the dashboard process cannot be bind to localhost:8265 address, which might be related to your mac

[2020-08-24 05:31] rkooo567 commented on #10234
Hmm interesting. Let me cc @stephanie-wang to see if she's seen anything similar before. Sorry that I cannot find the immediate solution!

[2020-08-24 05:32] manishagarwal23 commented on #10238
@rkooo567   1)   i have changed the port number as well but its still not help .  2) i am on a red hat  virtual machine which is not having ipv6 address so even if it disables ipv6 i dont think that should be an issue . 3) I tried on a full machine as well but dashboard didnt came up on a full machine as well  .

[2020-08-24 05:40] manishagarwal23 commented on #10238
@rkooo567  can you    provide your "pip list" output  .  SInce red hat is not a suspect may be i will use your pip list and use all those in a python  virtual environment

[2020-08-24 05:43] rkooo567 commented on #10238
Sure. Just note that I am running it with `pip install -e .`, but it should have dependencies that work. It might have unrelated deps too.

[code]

Would you mind trying if you can just start aiohttp server in the localhost:8265? That's all dashboard process is doing to start.

[2020-08-24 05:45] rkooo567 commented on #10238
Try with this doc (https://docs.aiohttp.org/en/stable/web_quickstart.html)

[2020-08-24 05:46] rkooo567 commented on #10244
cc @simon-mo

[2020-08-24 05:48] simon-mo commented on #10244
@ericl

[2020-08-24 05:53] ericl commented on #10244
We don't currently support type checking in rllib, the types are advisory only.

[2020-08-24 05:58] #10211 closed

[2020-08-24 06:03] manishagarwal23 commented on #10238
@rkooo567    python -m aiohttp.web -H localhost -P 8265 package.module:init_func
aiohttp.web: error: unable to import package.module: No module named 'package'

Were is this init_func or any other function defined which provides  where will the   / call go

[2020-08-24 06:18] rkooo567 commented on #10238
Can you just try this?
[code]

[2020-08-24 06:26] manishagarwal23 commented on #10238
@rkooo567 it gives the same error

[2020-08-24 06:30] rkooo567 commented on #10238
Yeah then it definitely must be issues from address binding (Outside Ray). Aiohttp uses asyncio methods to bind the process to addresses, so it is highly likely related to some machine setup, but I am not sure what’s the cause

[2020-08-24 06:30] jatinthotaka opened #10282 "Task is returning value but not executing preceding statements"
### What is the problem?
Please refer to the file ray3.py in https://github.com/jatinthotaka/Ray
I'm calling two actors, producer and writer. Producer actor is appending a list and writer actor is accessing the list.
In the caller method of the writer class, the program skips the print statement for the list variable and yet returns the expected values.
The program also raises the following error.

[2020-08-24 06:33] manishagarwal23 commented on #10238
thanks @rkooo567  . Aiohttp  is just an   Asynchronous HTTP Client/Server  .  Can i replace it with someother option (like tornado / node ) or is there some configuration available through which i can change this .   It will help me get it resolved ??

[2020-08-24 06:38] rkooo567 commented on #10238
Unfortunately, Ray dashboard is tightly coupled with aiohttp, and it is not possible to switch it to use others. I'd rather recommend you to figure out why you cannot start aiohttp server on your machine if possible.

[2020-08-24 06:40] manishagarwal23 commented on #10238
@rkooo567  i changed localhost to the specific ipv4 address  in the testerver.py that we created and it started the small server we created . To me it seems it is trying ipV6 address .    can i specify my address in ths command    /home/manishagarwal/VIRTRAY/bin/ray start --head

[2020-08-24 06:41] rkooo567 commented on #10238
That's a good news! Yes it should be possible. Check out this flag (https://docs.ray.io/en/latest/package-ref.html#cmdoption-ray-start-dashboard-host). I think you should specify 0.0.0.0

[2020-08-24 06:41] rkooo567 commented on #10238
(This might not be available in 0.8.6.)

[2020-08-24 06:44] manishagarwal23 commented on #10238
Usage: ray start [OPTIONS]
Try 'ray start --help' for help.

**Error: no such option: --dashboard-host**

from which version is this available ?

[2020-08-24 06:47] rkooo567 commented on #10238
Can you try https://docs.ray.io/en/latest/package-ref.html#cmdoption-ray-start-webui-host? I think that option is available from 0.8.7 (and your version seems to be 0.8.6)

[2020-08-24 06:58] manishagarwal23 commented on #10238
@rkooo567 thanks . --webui-host  works . This helps me a lot . Thanks :)  . Should i close it  or you would like to keep this open to get it documented ?

[2020-08-24 08:12] Patol75 commented on #10152
@richardliaw I think I have addressed all the Warnings and Errors mentioned in this thread by re-structuring my program as detailed [here](https://stackoverflow.com/a/63556897/10640534). Also, it is likely the `ValueError` yielded upon calling Scipy objects is not Ray-related but, instead, Scipy-related as described in this [thread](https://github.com/scipy/scipy/issues/9740). In any case, thank y

[2020-08-24 10:02] hartikainen commented on #6573
I was trying to get the above workaround to work, and it does so fine when running in non-local mode but fails when I run:
[code]

[2020-08-24 10:07] roireshef commented on #8618
@ericl - could you please tell me what am I missing here? I'm fixing all other config parameters and setting *min_iter_time* first  time to 10 [sec], the second time to 20 [sec]. The batch sizes reported (timesteps accumulated since last "iteration") are doubled. I dove into your code. This seems like the chain of events:

1. Trainable.train() calls self.step() and then reports self_iteration += 1

[2020-08-24 11:57] michaelitvin commented on #10269
Yes that did the trick!

[2020-08-24 12:34] FruechteBini opened #10284 "[rllib] "conv_filters" calculation"
Hello guys,
i am trying to use my own environment with rllib.
My observation space is of shape = (4,5,5)
I found this in the documentation regarding the observation shape:
![image](https://user-images.githubusercontent.com/33086953/91045089-9879a780-e616-11ea-88bd-b4455265fe62.png)

I guess the "dim" would be 5 in my case but how do I calculate the "conv_filters"?

Sorry if its a noob question, i

[2020-08-24 13:18] mattearllongshot commented on #10150
Thanks for the updates everyone.  Looking forward to trying out the new scheduler when it's ready.  In the meantime are there any settings we can tweak with the current scheduler to minimize this effect?  Would having a hierarchy of tasks help, something like this:

[2020-08-24 14:51] wuisawesome commented on #10150
Hmm I don't think we fully understand the scope of this bug yet which makes it hard to suggest a mitigation. If you could use actors instead of tasks, that might help (assuming you an get some reuse out of the actors, otherwise the overhead will just be high).

I think we should have a patch in master (for the old scheduler) in the next 2 weeks though.

[2020-08-24 15:20] tatianafrank opened #10286 "Configure host for ray dashboard"
I have the latest version of Ray and can configure the port but I also need to configure the host since right now it's set to 127.0.0.1 and I need it set to 0.0.0.0

[2020-08-24 15:49] wuisawesome commented on #10238
Late to the party, but I believe this is related to #7084. This issue seems to be very common, and we should come up with a permanent fix.

[2020-08-24 15:50] rkooo567 commented on #10238
Would setting the default 0.0.0.0 work?

[2020-08-24 15:55] wuisawesome commented on #10238
yes, it should (we could also mitigate this by defaulting to the ipv4 loopback interface directly instead of localhost. i want to explore upstreaming a permanent patch (i think it's safe to bump up our version of aiohttp?)

[2020-08-24 15:59] AprilXiaoyanLiu commented on #10265
https://github.com/ray-project/ray/blob/master/rllib/examples/parametric_actions_cartpole.py   Both my script and this example has the same issue.  I run this example with policy as PPO and using torch framework. All other parameters remain the same. The bug is "RuntimeError: invalid multinomial distribution (encountering probability entry < 0)",  after further investigation, I found the model pre