[2020-04-13 01:56] forhonourlx opened #7993 "[rllib]Could Rllib support MultiWorkerMirroredStrategy? (Trying multi-node IMPALA)"
Hi,
I am trying to add multi-node features to IMPALA.
I found that sampler components are already compatible on multiple nodes, the rest is the optimizer components for multiple nodes.
One method is to use MultiWorkerMirroredStrategy of TensorflowV2, is there any modules or templates support Tensorflow2 strategy?

Another way is to use TensorflowV1 Cluster Server, But I got stucked on the error:
H

[2020-04-13 02:16] ericl commented on #7991
I think this one is since PPO is trying to optimize the RandomPolicy still, and since it isn't a PPO policy it is missing some necessary fetches.

You can fix this by setting `policies_to_train: ["learned_policy"]` only.

[2020-04-13 02:19] ericl commented on #7993
Does it support feeding in data from numpy arrays (i.e., sample batches)? I remember looking at MultiWorkerMirrored before, but it didn't support anything other than tf.Dataset at the time (I ended up only implementing this for the PyTorch DD-PPO).

[2020-04-13 04:49] rtolsma commented on #7991
Thank you so much, that worked perfectly! I don't know why this was taking so long to figure out, I feel like the documentation/examples were a little obtuse about the inheritance structure of policies, but this helped me get up to speed

[2020-04-13 05:56] forhonourlx commented on #7993
Hi Eric,
Currently there is something wrong with tensorflow distribute.
Single keras model is OK to fit numpy arrays, do you mean that it does not support np arrays with MultiWorkerMirroredStrategy?

[code]

[2020-04-13 07:49] pengzhenghao commented on #7743
Issue is fixed in 0.8.4

[2020-04-13 07:49] #7743 closed

[2020-04-13 08:39] GOnion opened #7996 "[rllib]How to connect my own environment to rllib？"
I have a simulation environment myself, and I now want to connect it to rllib, so I added a new file named **custom_env** in the env folder, but when I import it in **base_env**, the error  **ModuleNotFoundError: No module named 'ray.rllib.env.xsim_env'** is displayed，So how do I expand my own simulation environment?   What other files should I modify？

[2020-04-13 08:53] pengzhenghao commented on #5119
I meet the same issue. I prevent the error by adding delay between the launching of nodes. For me, 15 seconds is not enough while 30 seconds can prevent this issue.

Pseudo code looks like:

[code]

[2020-04-13 09:09] PovelikinRostislav opened #7997 "No pre-built C++ libs and headers in package"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 0.8.4
WSL, Ubuntu 18.04
Python 3.8.2

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):
[code]
If we cannot run your script, we cannot fi

[2020-04-13 09:43] #7889 closed

[2020-04-13 09:45] pengzhenghao opened #7998 "[rllib] validate_config should take effect earilier"
### Describe your feature request

In current practice, `valide_config` of a trainer checks the configin `_init` function. But many operation has been done before that. For example, the `normalize_actions` is being considered during the initialization of `trainer`. So if a custom algorithm changes this setting `normalize_actions` in `validate_config`, it can not stop the wrapping of `Normalization

[2020-04-13 10:06] PovelikinRostislav opened #7999 "[docs] "Testing for C++ development" documentation is broken"
### What is the problem?
I've tried to use command from Testing for C++ development documentation page: `bazel test $(bazel query 'kind(cc_test, ...)')` and it doesn't work

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ubuntu 18.04, ray 0.8.4 release tag

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script s

[2020-04-13 11:17] ttumiel commented on #7996
You can set the env by the classname, or if you register the environment with tune you can call it by the string name.

See here for examples, particularly line 72 and 81: https://github.com/ray-project/ray/blob/master/rllib/examples/custom_env.py

[2020-04-13 12:57] PovelikinRostislav opened #8000 "Bad Warning - "A worker died or was killed while executing task" on program exit"
### What is the problem?
Each time I run RaySGD samples from [Medium ](https://medium.com/distributed-computing-with-ray/faster-and-cheaper-pytorch-with-raysgd-a5a44d4fd220) post, the sample is finishing with the message that worker has died (44 workers on 1 machine with 44 cores).
[code]

The same problem for the `train_example.py` from the RaySGD samples but for the workers amount more than one:

[2020-04-13 13:04] PovelikinRostislav opened #8001 "[docs] documentation is not aligned with latest release"
### What is the problem?
RaySGD documentation refers to Semantic Segmentation, CIFAR10 RayTune examples, but all mentioned files are absent in ray0.8.4 release tag.
![image](https://user-images.githubusercontent.com/20692004/79122254-e8f71380-7d9f-11ea-8636-171b5a909f96.png)

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray 0.8.4
Ubuntu 18.04
Torch 1.4.0

##

[2020-04-13 13:18] PovelikinRostislav commented on #8000
`cifar_pytorch_example.py` produces the warning too with 44 workers on 44 cores

[2020-04-13 13:35] PovelikinRostislav opened #8002 "[sgd] dcgan.py needs a better reference to mnist_cnn.pt"
### What is the problem?
`dcgan.py` sample identifies classification model path as following:
[code]
But Ray doesn't have samples in the package. In case I just want to run the sample using pre-installed ray from pip, I got the following error:
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*
ray 0.8.4,
Ubuntu 18.04,
Torch 1.4.0
### Reproduction (REQUIRED

[2020-04-13 14:01] PovelikinRostislav opened #8003 "bad warning - AttributeError: 'NoneType' object has no attribute 'global_worker'"
### What is the problem?
After launching the dcgan sample on local machine, the sample finishes all epochs and failed with the following log from each worker:
[code]

Full log:
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*
ray 0.8.4
Torch 1.4.0
Ubuntu 18.04
### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The

[2020-04-13 14:12] PovelikinRostislav opened #8004 "[sgd] LinearDataset not found"
### What is the problem?

RaySGD benchmark.py imports `from ray.util.sgd.torch.examples.train_example import LinearDataset`. But Ray package doesn't include samples, thus it doesn't work for packages installed from pip.
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray0.8.4
Ubuntu 18.04
Torch 1.4.0

### Reproduction (REQUIRED)
Please provide a script

[2020-04-13 14:48] PovelikinRostislav opened #8005 "RaySGD benchmark fails to finish with more than one worker"
### What is the problem?
Execution of benchmark.py with 2 workers on local cluster fails due to killed actors because of unhandled exception from PyTorch:
[code]

Note that with single worker on local cluster everything is OK:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray 0.8.4
torch 1.4.0
Ubuntu 18.04
### Reproduction (REQUIRED)
Please provide a

[2020-04-13 16:30] robertnishihara commented on #7724
Error message fixed by https://github.com/ray-project/ray/pull/7951. It still fails, but now with a better Python exception.

[2020-04-13 16:46] ClarkZinzow commented on #7887
Thanks @stephanie-wang, that was quick! 😁 I'll confirm that the issue is fixed today.

[2020-04-13 16:49] robertnishihara commented on #8001
@PovelikinRostislav the documentation is built from the master branch of Ray. If you install the Ray nightly wheels (see https://docs.ray.io/en/latest/installation.html#latest-snapshots-nightlies), then it should match.

[2020-04-13 17:02] PovelikinRostislav commented on #8001
Hi @robertnishihara,

Is it a best known method to build doc from master, not the latest released?

I suppose that most of the people uses Ray installing it from the pip, thus expecting the doc to be aligned with it.

[2020-04-13 17:14] richardliaw commented on #8000
@PovelikinRostislav thank you for opening this issue!

@ericl @edoakes is it possible to remove this warning? It can be quite confusing to users.

[2020-04-13 17:20] richardliaw commented on #7215
yeah.. this should be easy to do.

[2020-04-13 17:21] PovelikinRostislav commented on #8000
Hi @richardliaw,
So it's not an issue and the results of the sample are correct?

By the way, this confuses me in addition to `tune_example.py` results with summary table of TERMINATED statuses.

I saw three states of phases: RUNNING, PENDING, TERMINATED. Does TERMINATED mean successfully finished?

[2020-04-13 17:21] richardliaw opened #8006 "[tune] Support for config to (optionally) be an argparse.Namespace?"
I wrote my codebase for args, so right now I do `args = config_to_args(config)` in each of my functions.

[code]

_Originally posted by @crypdick in https://github.com/ray-project/ray/issues/7215#issuecomment-612621736_

[2020-04-13 17:22] richardliaw commented on #8000
The results of the sample are correct.

In Tune, TERMINATED means successfully finished.

[2020-04-13 17:26] simon-mo commented on #7944
@aannadi It looks like a tensorboard bug https://github.com/tensorflow/tensorboard/issues/766

Can we make tensorboard opt-in? Only when user click "Show Tensorboard", we will issue the request to launch it in the background and open an iframe.

[2020-04-13 17:28] PovelikinRostislav commented on #8000
@richardliaw, thanks for the explanation!

[2020-04-13 17:30] richardliaw commented on #8001
@PovelikinRostislav this is a good suggestion. Let me look into this...

[2020-04-13 18:43] crunchybugs commented on #4548
Got 0.9.0.dev working using https://gist.github.com/heavyinfo/aa0bf2feb02aedb3b38eef203b4b8cc4.  I also needed to update scipy to 1.4.1 and gym to 0.17.1.

Thanks!

[2020-04-13 20:28] josjo80 opened #8007 "[RLlib] & [Tune] Tensorboard No Longer Works in Ray 0.8.4"
### Tensorboard no longer works in Ray 0.8.4

Linux 18.04
Python 3.6.9
Tensorflow 2.1.0
Tensorflow-gpu 2.1.0
Ray 0.8.4
Tensorboard 2.1.0

I updated my packages to reflect the latest builds but I can no longer see training run results in Tensorboard.  I am not using Tune to perform the training routine.  I'm iterating through the trainer as below (see #6669 ):
[code]
I followed the release notes fr

[2020-04-13 21:32] richardliaw opened #8009 "[sgd] Implement Fault Tolerance for Validation"
### What is the problem?

`trainer.validate` currently does not use the fault-tolerance code path. We should make sure we have the same code path so that validate doesn't fail during training either.

[2020-04-13 21:34] richardliaw commented on #8002
@PovelikinRostislav Thanks for opening this issue! The solution to this is just to download it from Git rather than packaging it with Ray.

I can get to this later this week, but feel free to push a PR!

[2020-04-13 22:31] lennardsnoeks opened #8011 "[rllib] PPO centralized critic implementation details "truncate_episodes""
### What is your question?

For my multi-agent crowd simulation problem, I would like to implement a centralized critic approach for PPO. There are a N pedestrians present in the crowd, and each pedestrian will have a corresponding a policy.

I was looking at example [https://github.com/ray-project/ray/blob/master/rllib/examples/centralized_critic.py]( https://github.com/ray-project/ray/blob/maste

[2020-04-13 22:57] richardliaw commented on #8001
@PovelikinRostislav - thanks for the suggestion; I've addressed this in #8010.

[2020-04-13 22:57] #8001 closed

[2020-04-13 22:58] richardliaw commented on #7997
cc @mehrdadn @edoakes

[2020-04-13 23:00] ClarkZinzow commented on #7887
@stephanie-wang I haven't been able to trigger any more task leakages, so it looks like the lease cancellation has done the trick!

[2020-04-13 23:01] richardliaw commented on #3265
Closing this issue because it seems like this is working. Please reopen if not.

[2020-04-13 23:01] #3265 closed

[2020-04-13 23:06] stephanie-wang commented on #7887
Great, thanks @ClarkZinzow for reporting and helping us out with the issue!

[2020-04-13 23:08] mehrdadn commented on #7997
Thanks for reporting! Can you clarify what is the exact bug? Is there a command you run that produces an error, and if so, what is that error? (Sorry I'm a bit confused which headers you're looking for and what they might be necessary for.)

[2020-04-14 00:16] simon-mo commented on #6800
We currently don't have enough bandwidth to fix this right now. Feel free to contribute!

[2020-04-14 00:35] edoakes commented on #8000
@richardliaw how are you terminating the actors? I believe this only happens if you use `ray.kill()` or exit the process manually. We could certainly add an API to call from within the actor to prevent the warning from showing up.

[2020-04-14 00:37] edoakes commented on #7916
@ClarkZinzow https://github.com/ray-project/ray/pull/7833 now allocates both worker and driver ports from the same pool (set by `--min-worker-port` and `--max-worker-port`) - hopefully that works for your use case.

[2020-04-14 01:23] GOnion commented on #7996
@ttumiel ，thanks for the explanation!

[2020-04-14 01:25] #7996 closed

[2020-04-14 02:27] btjanaka commented on #7919
An update in Ray version 0.8.4: The time displayed on the terminal now seems to match the time displayed in the monitoring server, as well as the time I calculate manually.

[2020-04-14 05:20] PovelikinRostislav commented on #7997
Hello,

I was wondering how to use this new C++ API. There are no pre-built libraries to be downloaded from the release page or inside the pip deliverables. Only manual compilation from sources.
And in case users want to inject the Ray in another C++ application - they will have to build Ray from the scratch integrating bazel inside their projects.

How do you see the opportunity to use new C++ AP

[2020-04-14 07:31] JiahaoYao commented on #7992
Thanks @robertnishihara , that helps!

[2020-04-14 07:31] #7992 closed

[2020-04-14 07:55] janblumenkamp commented on #7923
@sven1977 Do you have an idea what might cause this? If you have a starting point I'd be happy to look into it.

[2020-04-14 09:11] sven1977 commented on #6914
Looking into this now...

[2020-04-14 09:28] sven1977 commented on #6914
Yeah, we only allow one level deep Tuples, and no Dicts. This should be relaxed to allow any arbitrarily nested structs (Dict or Tuple).

[2020-04-14 09:46] cpn opened #8016 "custom PPO loss not used after failure"
Ray version: 0.8.3
TensorFlow version: 2.1.0
If you change the PPO loss as in [here](https://github.com/ray-project/ray/issues/7855), and the run fails it will load the old PPO loss. This is with max_failures set to something different than 0.

[2020-04-14 09:58] cpn commented on #8016
``
import logging

from ray.rllib.evaluation.postprocessing import Postprocessing
from ray.rllib.policy.sample_batch import SampleBatch
from ray.rllib.agents.ppo.ppo_tf_policy import PPOTFPolicy
from ray.rllib.utils import try_import_tf
from ray.rllib.models import ModelCatalog
tf = try_import_tf()

logger = logging.getLogger(__name__)

class CustomPPOLoss:
    def __init__(
        self,

[2020-04-14 10:00] cpn commented on #8016
[code]

[2020-04-14 10:02] lsisoft commented on #4569
My view of the resume/restore:
- you start a training with a lot of grid search for a number of interations, let's say on some gamma options
- you add checkpoint_freq=10, checkpoint_at_end=True to ray.tune
- you put some unique name name=name and you specify local_dir in some folder you have space. Name paramter is the folder of this experiment (important)

If somehow the running stops, you add re

[2020-04-14 10:58] floringogianu commented on #6994
Just wanted to say thanks for this. I am currently experimenting with it.

I also worked on orchestrating manually the launch of separate `N` seeds for `K` steps from each tune trial, calling `get()` on each and doing the mean. This has the advantage of also working with early stopping or other schedulers.

But for some reason `ray` stops allocating new processes after the first "batch" of `max_co

[2020-04-14 11:14] PovelikinRostislav commented on #7997
I'm talking especially about _Basic C++ worker implementation. (#6125)_ from 0.8.4 release.
The API is located in ray/cpp/include

[2020-04-14 11:19] PovelikinRostislav commented on #8001
Thanks, it works!

[2020-04-14 11:26] mehrdadn commented on #7997
Thanks for clarifying. If you're trying to use that API, I think there shouldn't be a shouldn't go through `pip` at all, but you would probably need to clone the repo and use Bazel since that is the build system, and unless I'm mistaken, I expect you would need to compile everything. However, I'm not sure what the status of that API is, given it was only merged a couple of weeks ago; it may not ha

[2020-04-14 11:37] csandmann opened #8017 "Locks/Mutexes in ray"
I am finally migrating from `multiprocessing` to `ray` and I am wondering, if and how locks/mutexes are supported.

**Background**
I want to run two functions in parallel *only on the CPU*. However, both functions are doing some work on the GPU, which gets painfully slow if it is shared. Using the `multiprocessing` framework I can mutex the GPU with a `multiprocessing.Lock`, however I have not fou

[2020-04-14 12:16] PovelikinRostislav commented on #7997
In that case, can you @mehrdadn or @edoakes clarify how could anyone integrate this API into their own C++ application without bazel infrastructure?

I just tried to compile `example.cc` from `ray/cpp/src/example` manually and got a lot of dependencies that I should inject even as headers: msgpack, plasma, protobuf, grpc, absl, etc, etc!

Seems like there is no way except using bazel. Maybe there

[2020-04-14 12:29] mehrdadn commented on #7997
Note that Bazel is just the build tool Ray uses (like how projects use Make, CMake, SCons, etc.); it's unrelated to the header file dependencies. Ray does have a number of dependencies that will be the same no matter what build tool is used, so the use of Bazel isn't an issue as far as that goes. But given that Ray already has Bazel rules provided to manage all the dependencies and build them, I i

[2020-04-14 12:53] PovelikinRostislav commented on #7997
I agree that bazel it not the problem itself, this is not the point of conversation.

I'm lacking of experience in the development of large C++ projects and connections between them, but trying to understand the flow I should use to work with Ray C++ API. Since Ray has a ton of dependencies - the easiest way is to use bazel infra.

What to do for the projects that don't have a bazel? What's the fl

[2020-04-14 13:27] mehrdadn commented on #7997
Oh I see, sorry for the confusion. I don't believe we have any support for other build systems currently. While it's theoretically possible to do with with Bazel's Query language, I honestly wouldn't recommend trying to recreate the dependencies in CMake/Make/etc. as this will likely be extremely painful. Bazel is nice for many reasons, including the fact that it automatically downloads and patche

[2020-04-14 14:26] josjo80 commented on #8011
Hi @lennardsnoeks .  A fellow researcher here.  I've implemented multi-agent PPO policies with a centralized critic.  I'll take a stab at some of your questions.

For the model, should opp_obs and opp_act contain all observations and actions for N-1 pedestrians in the crowd?
Yes.  You'll want to take in obs from all other agents in the environment and feed them to the critic.  This will help the c

[2020-04-14 15:33] bitosky opened #8018 "[tune] Support for multi-objective optimization?"
### What is your question?

In the documents, "metric" refers to "the training result objective value attribute".It should be set to a single string, such as "mean_loss" or "episode_reward_mean" etc.
It's there any way to tackle multi-objective optimization problem? For example, ("mean_loss", "accuracy" , "something else") as a metric.

[2020-04-14 15:40] sven1977 commented on #6914
For torch, not even Tuple actions are currently allowed. This PR here will fix all that (not ready yet, will keep you posted).
https://github.com/ray-project/ray/pull/8019

[2020-04-14 16:20] richardliaw commented on #8018
One way you can do this is by having a weighted sum of the objective values -
[code]

Some underlying packages such as Dragonfly (https://dragonfly-opt.readthedocs.io/en/master/getting_started_py/) and Ax (https://github.com/facebook/Ax/issues/185) also have multi-objective optimization support. You should hypothetically be able to get them working with RayTune.

[2020-04-14 16:28] richardliaw commented on #6994
@floringogianu that seems like an issue. Can you post a small script for reproducing this?

Feel free to open a new issue.

[2020-04-14 16:30] richardliaw commented on #8000
@edoakes we should only be calling `__ray_terminate__` to shutdown actors.

[2020-04-14 16:32] richardliaw commented on #8004
@PovelikinRostislav Does this also happen on the latest wheels?

[2020-04-14 16:32] richardliaw commented on #8004
(0.9.0dev0)

[2020-04-14 16:40] richardliaw commented on #8005
This seems weird. Can you try installing the nightly wheels of the latest master? https://ray.readthedocs.io/en/latest/installation.html#latest-snapshots-nightlies

[2020-04-14 16:42] PovelikinRostislav commented on #8004
@richardliaw, yes.
I assume the problem is the same as for #8002 - Ray doesn't provide examples in the package, thus trying to import examples inside `benchmark.py` with ray installed from `pip` will fail anyway

[2020-04-14 16:48] richardliaw commented on #8004
Hm, this is odd because it works for me:

[code]

[2020-04-14 18:17] edoakes commented on #7997
@PovelikinRostislav note that the C++ API is very much a work in progress and not even fully working yet. That said, would be great to get your input on the best way for users to interact with it :)

@AmeerHajAli could you weigh in on what the plans are here? Are users expected to use bazel to build their C++ ray applications?

[2020-04-14 18:29] edoakes commented on #8000
Can you file another issue with a script I can use to reproduce?

[2020-04-14 20:38] zpymyyn commented on #7933
Hi, I've changed the log dir as recommended by @richardliaw , the redis.err is iteratively repeating the following error:
[code]
Other files are empty.

[2020-04-14 21:24] lennardsnoeks commented on #8011
Hi @josjo80, thanks for the answer!

So in the following code. The observation space and action space passed are for a single agent, right. The print results give (128,) for obs en (2,) for action (indeed for a single agent). So should I multiply these amounts by the (number of agents - 1), so it accounts for all other agents? I tried to fill in some shapes but no errors appeared.

I'm not sure wh

[2020-04-14 21:45] clarkzinzow opened #8022 "[Python] Using Ray driver in multiple threads causes KeyError in Redis client."
### What is the problem?

Using a single Ray driver across multiple threads can result in `KeyError`s being thrown within the Redis client, due to the Redis connection pool [not being very threadsafe](https://github.com/andymccurdy/redis-py/issues/1138).

[code]

A [fix](https://github.com/andymccurdy/redis-py/pull/1270) was merged and released, so updating to redis>=3.4.0 should do the trick.

*R

[2020-04-14 21:52] aretor opened #8023 "[tune] redis.exceptions.AuthenticationError: Client set to AUTH, but no password is set"
In Python, when I try to launch:
`ray.init(address='123.456.78.90:6379')`
I get the error in the title. How can I start ray using an already running Redis instance that does not require a password?
*Ray 0.9.0 and other system information (Python 3.7, Ubuntu Server 18.04):*

[2020-04-14 22:25] ruben39x2 commented on #7660
@suprmat95 Hi,
I faced a similar issue and please, note that `register_env` wasn't even needed after all.
I was considering open a Pull Request with support for an additional parameter in `config` (something like a "custom_env": "module_name.CustomClassName") (simple, like [this](https://github.com/ray-project/ray/files/4478061/custom_env_registering.patch.txt)) but turns out that having my custom

[2020-04-14 22:27] lennardsnoeks commented on #8011
@ericl would it be possible to make it work for truncate_episodes as well / how would I best approach that?

[2020-04-14 22:57] ericl commented on #8011
@lennardsnoeks I believe the change you need to make is to compute the estimated value at the end of the trajectory fragment, and then pass it to `last_r` for `compute_advantages()`, i.e., change:

[code]

to

[code]

[2020-04-15 00:23] #7650 closed

[2020-04-15 01:56] hkvision commented on #7575
Hi Xianyang @ConeyLiu
Thanks so much for your reply.
Several follow up questions that need your confirmation and help:

So if I want to run 10 tasks on node 1 in parallel, I need to start the node with resources={node_label: 10}? I suppose in this way the resources need to be carefully allocated to assign tasks on specific nodes as I wish.
Is there any way to just let me know which task is running

[2020-04-15 02:02] hkvision commented on #7511
Okay. I would have a try on your suggestions. Thanks @ConeyLiu
BTW, if I start the cluster using `ray start` in command line, does it mean that the workers are already started?

[2020-04-15 05:29] rkooo567 commented on #7935
Hi, @xlnwel. I have no clue why it slows down, but you can probably check out this page. https://rise.cs.berkeley.edu/blog/ray-tips-for-first-time-users/

[2020-04-15 05:31] rkooo567 commented on #8022
Thanks for reporting this!

[2020-04-15 05:32] rkooo567 commented on #8017
cc @edoakes

[2020-04-15 05:32] rkooo567 commented on #7999
cc @simon-mo

[2020-04-15 05:35] rkooo567 commented on #7917
Thanks for reporting this! Please feel free to make the PR!

[2020-04-15 06:07] ericl opened #8029 "num_local_objects grows without bound on 0.8.4 (seems worse than 0.8.2)"
### What is the problem?

Running the ARS script in https://github.com/ray-project/ray/issues/7976 shows that the local object count increases to the millions. This could be one reason for the slowdown. In earlier versions, I also see the count grow, but not as much (80k vs 1.8m).

[code]

### Reproduction (REQUIRED)
You can reproduce this locally by running `[f.remote() for _ in range(1000)]` whe

[2020-04-15 06:08] ericl commented on #8029
@stephanie-wang @edoakes this looks like a possible leak in the local memory store / distributed ref counting? What would be a good way to confirm, are there some flags I can flip off?

Note that it takes a few hours for the slowdown to occur so it's somewhat hard to reproduce, though I can provide a running VM for debugging if helpful.

[2020-04-15 06:10] ericl commented on #7976
I can also observe from RLlib's internal metrics, time per iteration gradually increases and CPU load decreases.
![image](https://user-images.githubusercontent.com/14922/79304002-285b5800-7ea5-11ea-9f44-e54fcb7c0b4c.png)

[2020-04-15 06:26] LQNew commented on #4520
I also encountered this problem, I added close() function in the env clase , but it also seemed not to be called.

[2020-04-15 06:44] LQNew opened #8030 "[rllib] Try to call close on envs on stop"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04

- Ray installed from (source or binary): pip

- Ray version: 0.9.0.dev0

- Python version: 3.6.10

Exact command to reproduce:

**Describe the problem**
Seems similar to [#4520 ](https://github.com/ray-project/ray/issues/4520#issue-427319649)
I have a custom environment wrapped inside gym. When r

[2020-04-15 08:29] ericl commented on #8017
Yeah, you can use asyncio actors to implement a lock / semaphore actor around a GPU.

Another approach is to break up the computation into parts and let the Ray scheduler deal with resource acquisition, e.g.:

[code]

or with a persistent GPU actor
[code]

[2020-04-15 08:51] Carlz182 commented on #7983
What I am using at the moment is a combination of the tune.run call and a customizable trainer function that specifies how often checkpoints are saved, implements a training curriculum and so on.

[code]

You can use this function either directly by calling `train_ppo(config,None)` or inside a tune call:
[code]

Note that when using tune you will end up with 2 folders in your directory. One genera

[2020-04-15 09:06] ConeyLiu commented on #7575
After talked with @hkvision offline, I do the following summary:
They want to fully use all resources to load data first and cache those data in object store. Distributed train model when all the data has been cached. So they need to know when the data loading finished.  However, `ray.wait` will transfer data back to the driver node which is not as they expected.

Hi @ericl, I think we could add a

[2020-04-15 09:26] Servon-Lee commented on #7937
Hi, there! For this problem, I tried inserting ``ray.shutdown()`` and ``ray.init()`` between ``for`` loops, like:
[code]

Then the problem is gone, so is it possible that too many actors are created but they are not collected? Because I found something in the [document](https://ray.readthedocs.io/en/latest/troubleshooting.html#crashes) as follows:

Thanks for your time :)

[2020-04-15 09:27] Servon-Lee commented on #7937
@richardliaw

[2020-04-15 09:57] guvcolie opened #8031 "Fail to run the demo in hyperopt_example.py"
System information
   OS Platform and Distribution: Ubuntu 16.04
   Ray installed from (source or binary): pip3 install ray
   Ray version: 0.8.4  latest
   Python version: 3.6
   Exact command to reproduce: copy this code https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/hyperopt_example.py , then run this code.

Describe the problem

When I use the hyperopt_example, a error

[2020-04-15 10:08] bitosky commented on #8018
@richardliaw Thanks for answering my question. But I still have some problem.
The schedulers are also use "metric", and there is no underlying packages. What should I do to tackle multi-objective optimization problem if I don't use the weighted sum trick?
[code]
Besides, it's there a plan for supporting multi-objective optimization?

[2020-04-15 10:26] csandmann commented on #8017
Thank you so much for the pointers and the quick response. I tried to work with `asyncio.Lock`, but unfortunatly this seems to make problems during serialization. If this should be the wrong approach, I would be glad to know!
I'll try to work around it using your proposed solutions.

[2020-04-15 10:26] #8017 closed

[2020-04-15 11:10] PovelikinRostislav commented on #7997
@mehrdadn @edoakes thanks for your answers :)

I'm in progress of clarifying the idea of the best way to use Ray C++ API.

I would like to note that in pure C++ projects it's known to use CMake as a build systems, not bazel. bazel is more about cross language projects and also it introduces the problem to reuse libraries in non-bazel environments.
Many big C++ projects have CMake infra (maybe in a

[2020-04-15 11:49] ttumiel commented on #7831
I think it is implemented in line 202. It's just a little complicated but the Trainer calls _restore which calls restore for all the workers which calls set_weights which calls line 202 load_state_dict. So just using the `restore` kwarg in tune.run will restore your model from the checkpoint. Saving is done similarly with the checkpoint_at_end and checkpoint_freq args to tune.run and similarly use

[2020-04-15 11:58] PovelikinRostislav commented on #8004
I checked it one more time, and it still fails. Let me show my log:
[code]

And the content of the corresponding folder:
[code]

I installed latest wheels with `pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp38-cp38-manylinux1_x86_64.whl`

By the way, is it ok that you use 3.7 python? I'm using 3.8 here

[2020-04-15 12:00] PovelikinRostislav commented on #8000
@edoakes what exactly are you looking for?
I added scripts I used to reproduce in the issue. Basically, I used sgd samples and Medium post sample.

[2020-04-15 14:06] josjo80 commented on #8011
@lennardsnoeks I think you followed the "PPO with centralized critic on two-step game" example whereas I followed the "Centralized critic in env" example.  However, it looks like your input shapes are correct to me.  `acts_opp_num` and `obs_opp_num` are correct.  Forward pass method looks good.  The depth of the one_hot encoding is the length of the action space, so if you have 2 actions you shoul

[2020-04-15 16:15] simon-mo commented on #7999
@mehrdadn can you take a look? looks like the real issue is
[code]

[2020-04-15 17:09] clarkzinzow opened #8032 "[Core] Recycle driver job IDs."
### Describe your feature request

For a long-lived Ray cluster with many (not necessarily concurrent) drivers, the simple job ID provisioning of consulting GCS to receive an incremented job ID eventually causes a returned job ID to exceed the maximum `JobID`.

[code]

It'd be nice if these auto-generated job IDs could be recycled, so instead of being limited to 65535 jobs/drivers for the lifetime

[2020-04-15 17:40] simon-mo commented on #8032
@ffbin is working on here https://github.com/ray-project/ray/pull/8015 i believe

[2020-04-15 17:43] stephanie-wang commented on #8029
Unfortunately I don't think there's a way to turn off ref counting completely without recompiling, but you might be able to flip this flag to False: https://github.com/ray-project/ray/blob/master/python/ray/_raylet.pyx#L657

[2020-04-15 19:39] lennardsnoeks commented on #8011
@josjo80 hmm alright thanks! I'll have to adjust some things to the loss and postprocessing parts of my implementation.

@ericl so I just have to compute last_r with the central value function and also put this value in VF_PREDS as follows?

Also does the centralized_critic.py example still work? If I run this and set mode to truncate_episodes, the assert in the postprocessing method is not activa

[2020-04-15 20:23] ericl commented on #7976
`perf top` shows

[code]

[2020-04-15 20:24] ericl commented on #7976
This is pointing to a leak in the number of objects in the memory store.

[2020-04-15 20:33] LucaCappelletti94 opened #8033 "Trying to setup Ray on custom cluster using Docker"
Hello everyone!

First of all, thank you for creating this truly amazing library.

### What is the problem?
Even though all the cluster nodes are available in the dashboard and do not show any error, executing ray-related python code on the head node makes only the head node available, while on the nodes it starts outputting:

[code]

*Ray version and other system information (Python version, Tens

[2020-04-15 21:06] jieru-hu opened #8035 "[ray] Connect to remote servers using ray.init() from local machine"
### Describe your feature request
It would be great if we can connect to a remote cluster from a local machine directly using ray.init(). For example, say the IP of the ray head node is 52.13.54.127 for my AWS cluster, I want to be able to call ray.init(address="52.13.54.127")  and run remote functions from my laptop.

[2020-04-15 21:12] jieru-hu opened #8036 "[autoscaler] Api instead of CLI to interact with cluster."
### Describe your feature request
It would be great if autoscaler provides an API in addition to the CLI. For example, to spin up a cluster instead of doing "ray up cluster.yaml", we can do "ray.up(cluster_config: Dict[str, Any])". Having a API would provide a good experience interacting autoscaler programmatically.

[2020-04-15 21:19] richardliaw commented on #8036
You can currently do this via `ray.autoscaler.commands`:

See: `ray/python/ray/autoscaler/commands.py`. However, we can probably improve this moving forward.

[2020-04-15 22:04] mehrdadn commented on #7999
@PovelikinRostislav Operator is a separate workspace . By using `...` you're including more than one workspace. I would suggest `bazel test "//:*"` since that only includes targets in the current workspace. I don't know why Operator is failing unfortunately; it's not something I work on. But I believe this is a known issue (#7257, #6218), so I'll close this one.

@chenk008 would you know why the b

[2020-04-15 22:04] #7999 closed

[2020-04-15 22:28] #8029 closed

[2020-04-15 22:57] ericl commented on #7976
@annaluo676 just tested and this patch appears to resolve the slowdown problems.

[2020-04-15 23:07] anabranch commented on #8036
@richardliaw is this a supported API or is this subject to change?

[2020-04-15 23:21] richardliaw commented on #8036
It's not a public-facing API, but there's no plans to change it.

[2020-04-16 00:16] annaluo676 commented on #7976
Thanks @ericl. According to https://ray.readthedocs.io/en/latest/development.html#compilation I will need to recompile the c++ code changes. `bash build.sh` emitted the following error:
[code]
The error seems to be caused by the symlinks for Rllib. Is this an issue?

[2020-04-16 00:18] ericl commented on #7976
I think the right way is pip install -e . In the python directory, not
calling that script.

On Wed, Apr 15, 2020, 5:17 PM Anna Luo <notifications@github.com> wrote:

[2020-04-16 01:56] omry commented on #8036
One thing I would like to see there is a way to not pass in the config directly without having to serialize it to a file first.

[2020-04-16 06:25] rkooo567 commented on #8035
Hi, @jieru-hu ! Thanks for the feature request! Can I ask you a couple questions?

1. What's the use case of this feature?
2.Is there any reason why you prefer this way to `ray submit`?
3. This can actually impact performance of Ray because depending on contexts, there are several IPCs to execute tasks remotely. Would your use case be able to tolerate the performance degradation?

[2020-04-16 06:33] rkooo567 commented on #8003
@edoakes This looks more like a core bug happening from python 3.8? I assume the global variable global_worker is cleaned earlier than the actor handle is exited. Have you seen this before?

Also, @PovelikinRostislav, is it happening when you use Python 3.7 as well?

[2020-04-16 06:34] rkooo567 commented on #8031
@richard4912 maybe there were api changes?

[2020-04-16 06:40] Jungdam opened #8041 "[rllib] free_log_std does not support modelV2?"
### What is your question?

Previously, free_log_std was supported and was implemented in "rllib/models/model.py".

Now, I was not able to find similar ones anywhere else in "rllib/models/modelv2.py" and its tf and torch extensions. I am curious whether free_log_std was deprecated or was just missing for some reason.

Thanks!

[2020-04-16 06:58] #7837 closed

[2020-04-16 08:59] lefig opened #8042 "Ray on Windows"
Hi there,

I am struggling to install Ray on Windows with python 3.6.7. Pip does not seem to be able to find a version that fits. And I can't locate any unofficial wheels.

So my question is - will it be possible to support Windows in a future release?

Thanks in advance

Fig

[2020-04-16 11:03] sven1977 commented on #6914
PR (https://github.com/ray-project/ray/pull/8019) is out and will be merged in the next few days. I'm closing this issue.
It contains an example learning (PPO) script in `rllib/examples/nested_action_spaces.py`.

[2020-04-16 11:03] #6914 closed

[2020-04-16 12:38] raulchen commented on #8032
@simon-mo I believe #8015 is only for garbage collecting data when a job finishes. It doesn't recycle job ids.

Actually, instead of reusing job ids for different jobs, I'd prefer to just extending job id to more bytes.
[This](https://github.com/ray-project/ray/blob/master/src/ray/design_docs/id_specification.md) is the current layout of id bytes. Due to plasma's limitation, Object ID had to be no

[2020-04-16 13:12] Data-drone commented on #7025
can we specify a listen port for ray dashboard?

[2020-04-16 15:01] sumanthratna opened #8047 "[tune] can't pickle _thread.lock objects with TensorFlow 2"
### What is the problem?
When running `tune.run` on a method that calls a `tf.function`, I get the following error:
[code]
- python 3.6.8
- ray 0.8.4
- tensorflow 2.1.0
- macOS 10.15.5 Beta

### Reproduction
[code]
And I get the same error as above. From the docs, it looks like I need to use Ray actors, but I'm new to Ray so I don't understand where to put them or what they do.

Note: the followin

[2020-04-16 15:25] anabranch commented on #8036
@omry to confirm, that's the request in #8036 right?

[2020-04-16 15:32] #7969 closed

[2020-04-16 15:32] #7971 closed

[2020-04-16 17:22] ClarkZinzow commented on #8032
@raulchen That bytes bump for the job ID would be a big help! We'd be hard-pressed to exceed 2**32 jobs during the lifetime of a cluster; if the cluster was running for a year, that'd equate to ~8200 jobs per minute. At that scale, we'd most likely rearchitect to reuse driver connections more aggressively.

[2020-04-16 17:25] richardliaw opened #8049 "[docs] MIME type retrieval"
### What is the problem?

The docs are super slow to load right now, and it seems like this is an issue regarding the gallery extension.

[code]

[2020-04-16 17:49] stephanie-wang opened #8050 "[ui] More metadata for the task timeline"
### Describe your feature request

Ray (as of v0.7?) used to show useful metadata in the task timeline such as the name of the executing function and some system-level metadata such as task and object IDs. In the latest wheels, this information does not appear.

![Screenshot from 2020-04-16 10-46-42](https://user-images.githubusercontent.com/2560516/79489114-ae73bd80-7fcf-11ea-9deb-2ff1a15129f6.pn

[2020-04-16 18:34] eaparnell commented on #4393
I have the same problem. I tried the suggestions above and I can only submit jobs from the head node. I am fairly sure it is a firewall issue but do not know how to control all the ports that ray apparently needs open as I of course do not want to open everything. Very frustrating.

[2020-04-16 18:50] edoakes commented on #7632
@arsedler9 this is now merged into master. You only need to set `--min-worker-port` and `--max-worker-port` and then worker and driver ports will be selected from that range. By default the range is 10000-10999.

[2020-04-16 19:38] athenawisdoms opened #8052 "[tune] Appending to a list after each trial"
# What is your question?

Is it possible to append some data to a list after running each trial?

At the end of each trial, I will like to calculate some custom evaluation metric, then store them in a common list `results`, which I can then retrieve after all the trials are done.

The following code is an attempt to do so, but after all the trials are done, `results` list is still empty.

[code]

[2020-04-16 19:44] anabranch commented on #8052
Hey Athena,

the problem is that the list is on your local machine. Since tune is distributed, all of these functions are actually going to run on a worker - so the global reference doesn't actually work.

If I'm not mistaken, you're probably going to need to create an actor to do this.

However, what's the end result of what you're trying to do? Why do you want to create this list in the first pl

[2020-04-16 20:10] preeth1 commented on #4004
Is there currently any workaround for this?

[2020-04-16 20:11] eaparnell opened #8054 "Need Documentation on Using a remote Cluster"
This issue has been entered before but I cannot find an answer that works. I have a remote cluster with ports 8000-9000 open. I am using the following to start the head:
[code]
I can run jobs locally on the head machine just fine.

However, from my local workstation I get the famous:
2020-04-16 11:00:29,385	WARNING services.py:211 -- Some processes that the driver needs to connect to have not regi

[2020-04-16 20:32] athenawisdoms commented on #8052
@anabranch Hello thanks for the swift reply!

I like to calculate custom evaluation metrics after every trial, whose values are more relevant for my project than accuracy and loss.

After all the trials are completed, I will like to collect all these custom metrics into a list/DataFrame which I will then use to select the best configs for each custom metric.

Is there an easier alternative to crea

[2020-04-16 20:33] richardliaw opened #8055 "[tests] Github actions should not use wheel"
### What is the problem?
Currently, Github action dockers are built off of the latest Ray wheel. We should build Ray from scratch to make sure test failures are caught upon breakage.

cc @simon-mo

[2020-04-16 20:35] simon-mo commented on #8055
to be clear this was the original implementation in jenkins. You actually want to build it from source?

[2020-04-16 20:41] richardliaw commented on #8055
I don't think that's true... see this commit before the github actions migration (`run_multi_node_test` is what runs on Ray-PRB):

https://github.com/ray-project/ray/blob/3bd82d0bcde525f47f9b2d04a0e3470204bb216a/ci/jenkins_tests/run_multi_node_tests.sh#L14-L16

and build-docker.sh builds from source:

https://github.com/ray-project/ray/blob/3bd82d0bcde525f47f9b2d04a0e3470204bb216a/build-docker.sh

[2020-04-16 20:42] richardliaw commented on #8055
(sorry, it's a bit confusing... feel free to ask questions)

[2020-04-16 20:49] anabranch commented on #8052
I think the following tutorial might be more helpful for you: https://gist.github.com/anabranch/417cdc19b7f855bcfc96e0bb1d14ec9e

you can't log whatever you want with the tune.track.log and it will give you the results per trial and you can sort by that value.

[2020-04-16 20:50] anabranch commented on #8052
Let me know if that doesn't clarify it for you.

[2020-04-16 21:00] arsedler9 commented on #7632
Excellent, thank you @edoakes !

[2020-04-16 22:02] #8049 closed

[2020-04-16 22:06] zaloogarcia commented on #2191
The answer didn't work for me, I have been researching and the one that helped me was this one. https://stackoverflow.com/questions/59006602/dyld-library-not-loaded-usr-local-opt-openssl-lib-libssl-1-0-0-dylib. For those that have the same problem.

    brew update && brew upgrade
    brew switch openssl 1.0.2s

Worked for me Catalina 10.15.4

[2020-04-16 22:26] #7981 closed

[2020-04-16 22:47] simon-mo commented on #8055
🤦 i see. oh wow this is complicated.

[2020-04-16 22:50] richardliaw commented on #8004
[code]

[code]

[2020-04-16 22:50] richardliaw commented on #8004
hmm this is on mac though; let me try this on linxu

[2020-04-16 22:59] richardliaw commented on #8004
Got it; reproduced this on 3.8 linux.

[2020-04-16 23:06] #7976 closed

[2020-04-16 23:16] rkooo567 commented on #8054
Can you show us logs from `/tmp/ray/session_latest/logs/raylet.err` & `raylet.out`?

[2020-04-16 23:16] rkooo567 commented on #8042
cc @mehrdadn

[2020-04-16 23:18] mehrdadn commented on #8042
Windows support is still under development. Feel free to #631 for updates!

[2020-04-16 23:18] #8042 closed

[2020-04-16 23:46] eaparnell commented on #8054
raylet.out:
[code]
raylet.err is empty.
When I run the test, I don't get any additional messages to rayout.out.

[2020-04-17 00:01] eaparnell commented on #8054
Regarding the stackoverflow reference, when I added another node I too got errors in the logs which basically I interpreted as the head couldn't talk to the worker node, even though the worker showed up on the dashboard. After poking around looking which ports were being used by ray, I changed my firewall config to open ports 30000 to 50000 on the worker node. Then, I was able to execute jobs from

[2020-04-17 00:13] rkooo567 commented on #8054
That makes sense. I guess this commit will be able to resolve the issues as well. https://github.com/ray-project/ray/commit/9f751ff8c4d5d3c4282200ca5dfef9b9e5ff60e1

I definitely agree we should document this part better. I will take a look at writing a doc in the meatime, but please feel free to make a PR for modifying documents

[2020-04-17 00:47] richardliaw commented on #8055
@simon-mo sorry - let me know if there's anything I can help with

[2020-04-17 00:55] #8002 closed

[2020-04-17 01:54] JiahaoYao commented on #4393
Same issue here
[code]

[2020-04-17 03:07] richardliaw commented on #7937
Ah sorry for not getting back to you. theoretically, at the end of `tune.run` all actors should be removed. It might be a regression...

Does the timing regression still show up if you do not use bayesOptSearch?

[2020-04-17 03:09] richardliaw commented on #8018
For existing schedulers, I have no immediate plan to support multi-objective optimization. However, I'm happy to take any contributions. Note that this is not hard to do - adding multi-objective optimization does not require any lower-level modifications to the framework.

I'll close this for now, but feel free to reopen if you have any questions.

[2020-04-17 03:09] #8018 closed

[2020-04-17 03:10] guvcolie commented on #8031
sorry, my fault ...
my tensorboardX's version was 1.6, it's too old. After updating to v2.0, everything is OK!
thank you!

[2020-04-17 03:10] #8031 closed

[2020-04-17 03:10] richardliaw commented on #8004
This should be fixed with #8012.

[2020-04-17 03:45] 5cp opened #8062 "[rllib] Exported Tensorflow models cannot be served by tensorflow-serving when using DQN with EpsilonGreedy"
### What is the problem?

When training using DQN with EpsilonGreedy exploration, the resulting Tensorflow model fails to load in tensorflow-serving with the following error:
[code]

Changing exploration_type to 'StochasticSampling' results in a Tensorflow model that successfully loads into tensorflow-serving:
[code]

The issue appears to be related to the use of `tf.py_function` in [Schedule.py](

[2020-04-17 06:10] ericl commented on #8041
This looks like an unintended omission. I'm not sure if this would affect performance much though, since the logstds will still end up learnable, but connected to more units.

[2020-04-17 06:25] sven1977 commented on #8062
I see. Sorry about that. We'll try to change this to not use tf.py_function in our Schedules.

[2020-04-17 07:20] LQNew commented on #8030
I read the code from [4521](https://github.com/ray-project/ray/pull/4521#issue-265968489), and finally I solved this problem by switching to tune. I think the reason is that the functions of 'RL algorithm' call in RLlib is different from tune.
Here is my solution code:
[code]

[2020-04-17 07:21] #8030 closed

[2020-04-17 07:59] Jungdam commented on #8041
Thank for the reply.

I'll assume our policy is a Gaussian policy.

In theory, there would be similar eventually, however, there are some environments that show differences in performance in practice. The environments affected by the free_log_std option are usually ones that require careful exploration such as physically-simulated agents or robot controls. If logstd depends on the state of agent,

[2020-04-17 08:11] iamhatesz commented on #6372
Hi! I found a similar issue now when trying to run PPO or A3C with `use_pytorch = True`:

[code]

and here's my environment:

[code]

Unfortunately, the solution with `Tuple` space doesn't work for PyTorch:

[code]

[code]

[2020-04-17 11:02] iamhatesz opened #8064 "[rllib] Latest nightly wheels does not contain ray.rllib.execution module"
### What is the problem?

Latest wheels from: https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp37-cp37m-manylinux1_x86_64.whl
which is for commit: f7e4dae8520b0d489c345090621a0653599c95d9

![](https://imgur.com/vffqWZL.png)

This leads to an error when launching e.g. `PPOTrainer`:

[code]

[2020-04-17 11:13] iamhatesz commented on #6372
Seems like MultiDiscrete works for PyTorch with latest master.

[2020-04-17 15:55] Servon-Lee commented on #7937
Really appreciate your help! I tried ``zoopt`` and ``hyperopt`` search algorithms. Both show up the timing regression. To figure out why this happens, I also checked out CPU load. I found the CPU load would be reducing as training. I think maybe they are related.

[2020-04-17 17:27] anabranch commented on #8052
ping @athenawisdoms !

[2020-04-17 18:08] lennardsnoeks commented on #8011
@ericl The issue that the custom policy was not being used was fixed by using #7855 (however the example code still has the action_space and model_config parameters for the PPOLoss creation that should be removed).

I still have some questions regarding the centralized critic:

* Should I just use compute_central_value to compute last_r as in the code above?
* Then where do I assign SampleBatch[VF

[2020-04-17 19:23] annaluo676 commented on #7976
Unfortunately I was not able to recompile the whole package.  Since the the changes were merged, I can test with the latest wheel. Thanks Eric for looking into this!

[2020-04-17 19:53] ericl commented on #8011
That looks right to me (setting last_r = the central vf prediction). You might want to try TF eager with the use_eager config for debugging / prints.

The `centralized_critic_postprocessing` is already creating this with the frozen central vf predictions from model that computed the action:
[code]

I don't think you need to change this part of the code, the only thing missing is setting last_r wit

[2020-04-17 20:07] ericl commented on #8011
Maybe check out https://github.com/ray-project/ray/pull/8073/files (seems to train but haven't checked performance).

[2020-04-17 21:43] alexmascension commented on #5554
Hi!

I'm trying your code but it doesn't seem to work for me. I've included a function that requires some arguments just to try.

[code]

Non-parallelized it takes nearly a minute. When I parallelize it without the bar it takes around 20s. With the bar it takes nearly two and a half minutes, so something must be wrong.

Thanks!

[2020-04-18 00:24] #8064 closed

[2020-04-18 01:12] ericl opened #8076 "GCS actor management introduces reference counting bug"
### What is the problem?

RLlib A3C tests are failing with eviction errors in master since #6763. An object required for an actor construction task seems to have been evicted in error. This probably got overlooked since travis skips RLlib tests on core changes.

cc @wumuzi520 @stephanie-wang can you guys look into this? #6763 seems slightly tricky to revert, so it seems better to try to fix forwar

[2020-04-18 01:47] ericl commented on #8035
I'm not sure we want to maintain this as a public API. Why not use subprocess.call() to invoke the cluster operations?

[2020-04-18 01:48] ericl commented on #8035
This is another ask for Ray client @anabranch

[2020-04-18 01:49] ericl commented on #8036
I don't think we want to maintain this as a public API. You can use subprocess call to invoke the CLI instead.

[2020-04-18 02:18] stephanie-wang commented on #8076
Looks like it's probably because the GCS Service responds immediately to the caller of the actor creation task instead of waiting until the actor creation task has finished.

[2020-04-18 03:51] ericl opened #8078 "Dashboard uses huge amount of memory"
### What is the problem?

When I run rllib, the dashboard starts at 5GB of memory used and quickly climbs to >10GB, crashing my machine.

@mitchellstern

### Reproduction (REQUIRED)
`rllib train --run=APEX --env=CartPole-v0 --config='{"num_gpus": 0, "num_workers": 2, "min_iter_time_s": 5, "timesteps_per_iteration": 1000, "target_network_update_freq": 1000, "learning_starts": 1000}'`

- [x] I have

[2020-04-18 04:22] richardliaw commented on #8078
This issue is redundant with #7944

[2020-04-18 04:22] #8078 closed

[2020-04-18 04:23] richardliaw commented on #8078
(feel free to reopen if different; I've moved the labels over, and there is an open PR addressing it.)

[2020-04-18 04:30] iceman126 commented on #6372
Glad that you solved your problem. It's good to know that we can use MultiDiscrete space now. I'll find sometime to try it. Thank you for your information.

[2020-04-18 07:54] Kuurusch opened #8080 "Ray can't be restarted after several hours of use"
Hallo,

So I'm using ray 0.8.2 with python 3.6 on a Kubuntu 18.04LTS and my problem is the following:

I reinitialize for several tests ray with init() and at the end shuting it down with shutdown() and this works great for several hours of many tests. But after some time I've got the following messages, strangly in two trials the message were different:

First try:
[code]

Second try:

[code]

Do

[2020-04-18 15:15] Kuurusch commented on #8080
Update:

So my third try is still running, but what I've already observed is by chance, that it had already the same problem like in the first try, but this time it manached somehow to reconnect. So I've got the following warning, but afterwards it run further without problems (till now, the csript is still running...):

[code]

So it seems to have from time to time problems, connecting to Redis.

[2020-04-18 15:28] Kuurusch commented on #8080
Update 2:

Ok, now it worked! Don't know, if it was the Ray-Update, the introduced sleep(10) after shutdown() or just by chance! Will investigate it further and give you an update, if I have new information...

[2020-04-18 15:48] robertnishihara commented on #8080
@Kuurusch thanks for the update. Let us know :)

[2020-04-18 17:58] cowboyjj commented on #2683
With no disrespect, why wouldn't you make Ray support Windows? Most industrial professionals I know do not use Linux anymore. It just doesn't make sense. I spent an afternoon looking at Ray tutorials thinking I've found a miracle solution only to find that it doesn't run on Windows. Have to say I'm a bit disappointed ..

[2020-04-18 18:08] sumanthratna commented on #8047
Note: in my project I've switched to autograph with Tensorflow 2 using `tf.function` and I get a different error. It seems like the pickle error is only with eager execution.

[2020-04-18 18:26] robertnishihara commented on #2683
@cowboyjj still working on it. The relevant issue is https://github.com/ray-project/ray/issues/631.

[2020-04-18 23:18] richardliaw commented on #8047
This is because tensorflow can't be easily serialized.

Consider defining the `f` function inside the trainable.

[2020-04-19 03:04] sumanthratna opened #8084 "[tune] [documentation] Installation instructions for dragonfly are incorrect"
https://github.com/dragonfly/dragonfly/blob/master/docs/install.md says dragonfly should be installed via `pip install dragonfly-opt`.

https://ray.readthedocs.io/en/latest/tune-searchalg.html#dragonfly-search says dragonfly should be installed via `pip install dragonfly`. Further, `pip install dragonfly` errors due to a syntax error in a file imported in `setup.py`.

[2020-04-19 03:06] richardliaw commented on #8084
Thanks for the catch, @sumanthratna -- would you be open to pushing a small fix?

[2020-04-19 03:07] sumanthratna commented on #8084
Yup, I'll do that now!

[2020-04-19 03:25] #8084 closed

[2020-04-19 03:26] richardliaw commented on #8084
thanks!

[2020-04-19 08:19] janblumenkamp commented on #8080
I also noticed a few times that Ray (using it with RLlib) just stopped working after a few hours with exactly one CPU core on 100% load. The process could then neither stopped with SIGINT nor with SIGQUIT. I was running in a tmux session and I could kill the session, but the memory would still be allocated and there were a few Ray processes left running. I restarted the machine and didn't investig

[2020-04-19 12:52] wbruce-fetch commented on #7339
I am getting the same error for:`aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 464303500922.dkr.ecr.us-east-1.amazonaws.com/slack-bot`

`aws --version aws-cli/2.0.8 Python/3.7.4 Darwin/19.3.0 botocore/2.0.0dev12`

[2020-04-19 16:53] #8076 closed

[2020-04-19 19:24] matej-macak opened #8088 "[rllib] Slow convergence time compared to other libraries"
The RLLib converges slowly on a simple environment compared to comparable algorithms with different libraries under same conditions (see below the results). Is this something that is expected or is there an approach that I overlooked when running the program?

The environment itself is trivial (reward is simply the sum of all the continuous actions) yet the RLlib algorithm takes a fairly long time

[2020-04-19 19:56] aneesh3397 opened #8089 "Automatic cluster setup issue"
**System info:**

ray version: 0.8.4
python version: 3.8
OSX version: 10.14.5

New Ray user here, I am trying to follow the tutorial on setting up a ray cluster on AWS (https://ray.readthedocs.io/en/latest/autoscaling.html). The ray up command works fine, I am able to ssh into the cluster as well as run commands remotely. I can even see the ec2 instance that is created on my ec2 dashboard. However

[2020-04-19 19:57] anabranch commented on #8089
It seems like you're running that script on your local machine, not on the cluster. Are you running it on that instance or your local machine?

[2020-04-19 21:00] aneesh3397 commented on #8089
I see, that was indeed the issue. Thanks for the quick response!

[2020-04-19 21:44] #8089 closed

[2020-04-19 23:28] KarlXing opened #8091 "[rllib] What's the default optimizer for PPO?"
### What's the default optimizer for PPO and How to change it?
Hi,  I'm new to Ray/rllib. I'm trying to run PPO algorithms, but didn't find the way to set optimizer type such as adam or rmsprop after checking the common config and default ppo config. Could someone please help to point out where it is set and how to change it?

I'm now using Ray 0.8.4. Thanks.

[2020-04-20 00:42] regproj commented on #8088
I can't answer your question, but could you try plotting by number of timesteps on the x-axis? Maybe sampling in ray is slower than it is in other libraries

[2020-04-20 01:41] lennardsnoeks commented on #8011
@ericl thanks for the explanation!

However, got some more problems.

So I have two continuous action values for each agent, so one hot encoding should not be used logically in my case. If I remove it however, I get an error on shape incompatibility.

`raise ValueError("Shapes %s and %s are incompatible" % (self, other))
ValueError: Shapes (?,) and (?, 2) are incompatible`

When the loss is initia

[2020-04-20 02:33] sumanthratna opened #8092 "[tune] NotImplementedError with BOHB and function-based API"
### What is the problem?
When running `ray.tune` with BOHB, I get the following error:
[code]
This happens with none of the other search algorithms that Tune provides.

Note: could be related to https://github.com/ray-project/ray/issues/4833.

*Ray version and other system information (Python version, TensorFlow version, OS):*
- python 3.6.8
- ray 0.8.4
- tensorflow 2.1.0
- macOS 10.15.5 Beta

###

[2020-04-20 06:02] #8091 closed

[2020-04-20 06:19] Kuurusch commented on #8080
Update2:
Ok, I've let it run a second time with the measures discribed above and it worked again. So it was much likely not by chance, that it worked. And then I've let it run a third time without the sleep(10) and it worked too. So I think the problem was fixed in ray 0.8.4! Thanks a lot!
A last question, would it be possible for me to set the timeout and the times of reconnection-tries to Redis,

[2020-04-20 06:26] 5cp commented on #8088
Also - try reducing "num_sgd_iter" for PPO (the default is 30 which seems high), and try PPO with Tensorflow..

[2020-04-20 06:30] ericl commented on #8011
Does this fix to the example clear it up? https://github.com/ray-project/ray/pull/8073/commits/5eb730ddb6bc37f42a071d53df4eefa853996964

The example was misleading before, the action tensor just happened to be the right shape. I switched it to copy the rewards tensor which should be compatibly shaped.

[2020-04-20 07:26] jovany-wang opened #8094 "[Java] Redirect the log of Java workers in RunManager."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script

[2020-04-20 08:32] janblumenkamp commented on #7341
Please ignore my previous question, I had a misconception of how the batching works.

So far I followed this strategy, but now that I add LSTMs it seems that the overhead adds up significantly, especially for larger amounts of agents.

Probably I will have to do something like this then. I will not only need to figure out each agent's id, but also which elements in the batch are coming from the sa

[2020-04-20 09:01] zefang-shen opened #8096 "[tune] Save and resume training"
### What is your question?
Are there any ways to save a training and resume it later? I tried _save() and _store() in a Trainable but it didn't work.

*Ray 0.84 and other system information (Python 3.6, TensorFlow 2.2, Ubuntu 18.04):

[2020-04-20 09:15] #7975 closed

[2020-04-20 09:16] wuisawesome commented on #7975
This may have actually been https://github.com/ray-project/ray/issues/5240

[2020-04-20 09:27] sven1977 commented on #8088
@matej-macak thanks for filing this! It seems to be simply default hyperparam related.
1) Could you try setting the `kl_coeff` in your config to 0.0?
2) Also, it's probably better to use no gamma at all since it is a context-less env (set `gamma` to 0.0).

Please let us know, whether this works.

[2020-04-20 11:26] Rockyyost commented on #7983
Awesome! This advice worked out great for me.

Thank you!

[2020-04-20 11:26] #7983 closed

[2020-04-20 12:07] iamhatesz opened #8099 "[rllib] Do not flatten observation in RecurrentTorchModel"
`RecurrentTorchModel` is a nice utility to simplify defining a PyTorch RNN model, however it only passes `input_dict['obs_flat']` to `forward_rnn` method, additionally adding a time dimension. This is a problem, when using models where we have different branches for processing different parts of `input_dict`.

I propose passing all fields of `input_dict` to `forward_rnn` (after adding time dimensi

[2020-04-20 12:14] angelolovatto opened #8100 "[rllib] Trainer global vars not synced when restoring"
### What is the problem?

When restoring an agent, `global_vars` isn't restored, which causes the policy's global timestep to initialize with 0. Furthermore, if using `Trainer.compute_action` after restoring, initial timestep passed will be 0, which may trigger exploration behavior which was only intended for the beginning of training. I suppose including and syncing `global_vars` when saving and

[2020-04-20 14:06] magnusja opened #8102 "[tune] Saving checkpoint and fetching result get confused in trial_runner"
### What is the problem?

See error log.

Ray v0.8.4 (worked with 0.7.x)
Python v3.8.2
Archlinux

### Error log
[code]

For some reason the `checkpoint.value` is not the path returned by `Trainable._save` but the dict returned by `Trainable._train`. This leads to the TypeError above, which leads to the AttributeError. It seems that `result = self.trial_executor.fetch_result(trial)` is suddenly out

[2020-04-20 14:15] PovelikinRostislav commented on #8004
@richardliaw I'll try!

[2020-04-20 14:31] arsedler9 commented on #7632
Hey @edoakes, just getting around to testing this on my side. I installed the wheel from the merge commit, opened ports 10000-10099 on all machines, and specified the limits using the flags. I do see all of the machines in the dashboard, but my test script only returns the IP of the head node and the workers are logging the messages below. I noticed you reverted the changes from the PR, so maybe t

[2020-04-20 14:35] PovelikinRostislav opened #8103 "[sgd] difference between RaySGD and PyTorch on single node for mnist"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python 3.8
Ray 0.9.0.dev0
PyTorch 1.4.0
Ubuntu 18.04
Tesla V100 with Driver Version: 440.33.01    CUDA Version: 10.2

Hi guys,

I'm trying to manually port an example from PyTorch repo to train a basic model on Mnist dataset: [link](https://github.com/pytorch/examples/blob/master/mnist/

[2020-04-20 15:10] anabranch commented on #8052
Closing this out, re-open if the above didn't solve your issue.

[2020-04-20 15:10] #8052 closed

[2020-04-20 17:02] parinpshah94 opened #8105 "Can't create Ray remote function in a class without manually applying decorator"
This question is similar to the issue [here](https://github.com/ray-project/ray/issues/6311), but the response provided there didn't work for me.

**System information**

**OS Platform and Distribution (e.g., Linux Ubuntu 16.04):** CentOS 7 and MacOS 10.15.3
**Ray installed from (source or binary):** binary
**Ray version:** 0.8.2
**Python version:** 3.6.8

[code]

fails with

```Exception: The @ra

[2020-04-20 17:04] richardliaw commented on #8102
Taking a look now..

[2020-04-20 17:26] richardliaw commented on #8103
OK I know what the issue is - it's because the scheduler_step_freq is set to "batch" by default. You'll have to set it to "epoch".

We should actually just set it to None by default and remind the user to set it when they pass in a scheduler creator.

[2020-04-20 17:35] richardliaw commented on #8007
Hm, so you definitely need TensorboardX. Can you try uninstalling everything (you should have a `tensorboard: No such file...` error), and only  installing `tensorboardX`?

[2020-04-20 17:37] richardliaw commented on #8096
Turn on `checkpoint_at_end`. This is for `tune.run` right?

[2020-04-20 17:38] ujvl commented on #8102
@magnusja are you using PBT by any chance, or a different algorithm?

[2020-04-20 18:43] magnusja commented on #8102
Hey there,

yes we are using PBT.

[2020-04-20 18:55] ujvl commented on #8102
ah okay this is a known issue we'll merge a fix asap

[2020-04-20 19:13] ericl commented on #7341
Hmm what exactly is being printed out here? The batches should get merged together to the train batch size eventually, but you might see smaller fragments during processing.

Also, note that batch.count always measures number of environment steps, which could be much lower than the sum of agent steps.

[2020-04-20 19:14] ericl commented on #7341
Oh, the "size 1" batches is probably during inference if you're printing from your model, that's normal.

[2020-04-20 19:17] ericl commented on #8041
That's a good point. @sven1977 this could be relevant during benchmarking.

[2020-04-20 19:52] richardliaw commented on #6520
This should be done now.

[2020-04-20 19:52] #6520 closed

[2020-04-20 19:53] #5642 closed

[2020-04-20 19:58] #8011 closed

[2020-04-20 21:09] janblumenkamp commented on #7341
Oh I see, that makes sense, then it's coming from the evaluation I am running during training! I guess reshaping the batch in the model won't work then. Then I have to group the agents? For PyTorch that will only be possible after #8101 is finalized. It looks like that will happen very soon, but just out of curiosity, what other options do I have? Just to recap, basically I want n actions for n ag

[2020-04-20 21:23] ericl commented on #7341
There is one workaround, which is to have the policies execute forward() through the "shared" communication layer separately. Basically the shared unit will be evaluated N times for N policies instead of once, so this is more computationally expensive, but should give the same results.

You'll have to make sure the observation space contains the observations of all other agents though.

[2020-04-20 21:26] lennardsnoeks commented on #8011
Thanks!

I got it to train but it can be very inconsistent. Sometimes my pedestrian agents just stay in the same place, and other times they train normally. Not really sure if its related to the config options I use.

Another issue I found however, is when an agent is done for that episode (he has to wait till all agents are done), he will most likely not have the amount of samples specified, so t

[2020-04-20 21:26] ericl opened #8110 "[rllib] Add example of shared communication layers in multi-agent."
### Describe your feature request

E.g., https://github.com/ray-project/ray/issues/7341

[2020-04-20 22:10] #8102 closed

[2020-04-20 22:11] richardliaw commented on #8102
@magnusja we've just merged a fix. Can you try this out on the Nightly Snapshots of master tomorrow (https://ray.readthedocs.io/en/latest/installation.html)?

Thanks!

[2020-04-20 23:02] pmacalpine opened #8112 "GcsServerAddress error"
### What is the problem?
When I try and run anything I get the following error:
[code]

This problem appears to have been caused by #7842 (that's the commit where I first see this problem).

*Ray version and other system information (Python version, TensorFlow version, OS):*
Running on Azure NC6s_v2 machine
ray: 0.9.0.dev0 (latest wheels installed on 4/20/20)
python: 3.7.6 (also saw with 3.6)
tens

[2020-04-21 00:34] matej-macak commented on #8088
Hi all,

thank you very much - really amazing community for such a quick set of answers. Here are the tests that I have run:

#### Test 1 - suggested by @sven1977

In this test, I have set the `kl_coeff` to `0.0` and `gamma` to `0.0`. Agreed that this is a context-less environment but wanted to use like for like (as the `stable-baselines`. Definitely helped with convergence although still a bit sl

[2020-04-21 00:51] ZefangShen commented on #8096
Thanks Richard,
After I set checkpoint_at_end=True, I got the following error. And the trials are not able to run correctly.

![image](https://user-images.githubusercontent.com/56578912/79812874-b30feb80-83ac-11ea-9082-15bbffd92f9e.png)

By the way, what's the difference between num_samples and interactions in Tune? I am using tune with hyperopt, do I only need to set num_samples? Thanks

[2020-04-21 01:45] Jungdam commented on #8041
And also it would be good if users can assign the initial values for constant/learnable log_std.

The implementation existed in the previous version initializes log_std as 0.0, which means 1.0 std and covers approximately 1/4 range given a mean value. In my experience, some environments required more careful exploration by setting lower values than 1.0 std.

And, I guess that #7923 is probably rel

[2020-04-21 02:46] ffbin commented on #8112
@pmacalpine Hi, I can run "python ray/rllib/examples/custom_env.py" successfully on mac, Can this problem be replicated on Mac? And can you show me the gcs_server.err and gcs_server.out, thanks.

[2020-04-21 03:42] nanxintin commented on #6373
Hi @esquires, I have a similar error. Do you have any suggestion?
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
Ray installed from (source or binary): source
Ray version: master or tag ray-0.8.0
Python version: 3.5.2

    + /home/shaokun/projects/fightGameAI/bin/python3 -m pip install -q --target=/home/shaokun/projects/fightGameAI/ray/python/ray/pyarrow_files pyarrow=

[2020-04-21 03:55] pmacalpine commented on #8112
I don't have a mac to run things on, only linux.  This failure happens during ray.init(), and I don't see any logs being written out (nothing in ray_results).  Where would I find gcs_server.* assuming they are written somewhere?

[2020-04-21 04:09] richardliaw commented on #6702
I think we probably want to just rely on NFS or a global FS in this setting.

[2020-04-21 04:19] richardliaw commented on #6938
I'm closing this because I'm not quite sure how to reproduce this - but feel free to reopen!

[2020-04-21 04:19] #6938 closed

[2020-04-21 04:20] richardliaw commented on #6796
You can now access the trial name in the trainable.

[2020-04-21 04:20] #6796 closed

[2020-04-21 04:25] #6440 closed

[2020-04-21 04:35] richardliaw commented on #5797
I think this is now addressed.

[2020-04-21 04:35] #5797 closed

[2020-04-21 06:13] ericl commented on #8100
Is this resolved when `use_exec_api: True`? If so, this will be fixed as we roll forward with enabling that by default.

[2020-04-21 06:13] ffbin commented on #8112
@pmacalpine Hi, we can find logs in /tmp/ray/session_latest/logs, thanks

[2020-04-21 06:48] m3at commented on #8003
I have a similar error so I made a minimal reproducible example, sharing in case it's helpful:

[code]
Tested in docker with base images {`python:3.8.2`, `python:3.7.7`}.
So this fail only with the combination of `pytorch`+`list comprehension`. This seem very specific, I'm not sure if it's an issue coming from Ray.

[2020-04-21 07:11] nflu commented on #6373
I also have this problem. "Check the logs for full command output." Does anyone know where the logs are? I tried running pip with a log file but I think that just captures the same output we see here.

[2020-04-21 07:30] pmacalpine commented on #8112
Got it, here are all the logs: [logs.tar.gz](https://github.com/ray-project/ray/files/4508340/logs.tar.gz)

[2020-04-21 07:46] janblumenkamp commented on #7823
This issue describes the same problem as #7517

[2020-04-21 08:01] #8103 closed

[2020-04-21 08:02] ffbin commented on #8112
@pmacalpine
Hi, I guess connect google public DNS server may take a long time, which a timeout needs to be set. Can you ping 8.8.8.8 in your linux machine?
![image](https://user-images.githubusercontent.com/13081808/79840664-c9d43380-83e8-11ea-9e76-8fc93ab73ba3.png)

[2020-04-21 08:29] yskim5892 opened #8118 "[RLlib] PrioritizedReplayBuffer raises "IndexError: list index out of range" when used together with MultiAgentEnv"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

* Python 3.7.5
* Ray : from commit d66d12661b9e5617897b32fc6a89bc15c72330a4
* OS : Linux (Ubuntu 18.04)

I've made a custom environment which implements MultiAgentEnv, and tried to train on it with DDPG agents, but the error below happened.

### Reproduction (REQUIRED)
Please provide a s

[2020-04-21 09:02] magnusja commented on #8102
Yes this is working perfectly, thanks a lot guys!! :)

[2020-04-21 09:08] pmacalpine commented on #8112
It's taking less than 10ms to ping 8.8.8.8.
[code]

[2020-04-21 09:58] ffbin commented on #8112
Hi, @pmacalpine Can you help add some logs and run again, i am confused that if your linux machine ping 8.8.8.8 successfully, it will get local ip and set it to redis. But now i can not find "Gcs server address =" log. Thanks.
![image](https://user-images.githubusercontent.com/13081808/79852563-669ecd00-83f9-11ea-9dd1-d2d7f29ac56e.png)

[2020-04-21 11:35] pmacalpine commented on #8112
It doesn't reach the code you want to add logging to.
Basically it fails with this [check](https://github.com/ray-project/ray/blob/fa7eecf48a208329c0d42d0329be9b14ec023dad/src/ray/gcs/gcs_client/service_based_gcs_client.cc#L89) while still within socket.connect() and then is done.  I've tried increasing the timeout and number of retries but that didn't help.

[2020-04-21 12:35] ffbin commented on #8112
@pmacalpine I think the reason for the failure is that socket.connect will block until the connection is successfully made or an error occurs. We should use AsyncClient to connect instead of socket.connect. Can you help try again? Thanks.

[2020-04-21 13:54] NasserBenabderrazikSonos commented on #1799
@richardliaw Can we reopen this ?
I think this is important since mounting private keys to the instances is not safe ...

[2020-04-21 13:58] angelolovatto commented on #8100
Hi Eric, thanks for the reply!

I'm not too familiar with the new api, but I tested setting `use_exec_api: True` (and commented the prints related to the optimizer) and got these results:
[code]
Which means that the trainer global vars weren't updated at all and the policy's global timestep was not restored :(

I also noticed that `_timesteps_total` is `None` in the last logger message. Not sure i

[2020-04-21 13:58] lenassero commented on #1799
Hi @richard4912,
Can we reopen this ? I think it is important since transferring private ssh keys is not safe.
Instead, using the ssh agent with the `-A` ssh option is

[2020-04-21 15:43] janblumenkamp commented on #7341
Not sure if I understand, can this be implemented entirely in the model definition or does this require changes in RLlib? If it can be implemented in the model, it surely would require a normal Gym env instead of the MultiAgentEnv? If I have only a single policy and multiple agents, the shared unit would only be evaluated once with your proposed solution?

[2020-04-21 17:48] richardliaw commented on #7944
Should be temporarily closed by #8121

[2020-04-21 17:48] #7944 closed

[2020-04-21 17:50] OnTheRicky opened #8122 "[rllib] Is there MultiAgentEnv test util"
### What is your question?

Is there a way to test my own custom MultiAgentEnv to ensure it works?
I get a the following traceback error and it would be great to have another way to know if it's my environment that's not right and what exactly is wrong?

  File "python/ray/_raylet.pyx", line 452, in ray._raylet.execute_task
  File "python/ray/_raylet.pyx", line 407, in ray._raylet.execute_task.fun

[2020-04-21 18:11] richardliaw commented on #8080
@janblumenkamp can you open a new issue for that?
@Kuurusch re: timeout, can you file a question/feature request?

Just wanted to close this issue because the original issue is resolved (and single-issue threads is much easier on the project maintainers)

[2020-04-21 18:11] #8080 closed

[2020-04-21 19:20] ericl commented on #8100
@angelolovatto some of those internal variables are only used by the legacy API and are not updated; but the global vars should be set properly on the workers, e.g. when you run

[code]

You get as output
[code]

[2020-04-21 20:01] pmacalpine commented on #8112
Using AsyncClient doesn't block and looks to fix to the problem!  I hacked some code together that works for my case, but if you can send me code that still works for the mac case I can test it on my linux system.

[2020-04-21 21:18] OnTheRicky commented on #8122
So there was a bug in my environment.
It steps through and works if I do it by hand, but there was something not set up right in my reset method.
If there is no util to verify that a environment is set up right, it might be worth adding this - [like here](https://github.com/tensorflow/agents/blob/master/tf_agents/environments/utils.py#L45).

[2020-04-21 22:43] vrangaswamy opened #8123 "Cannot connect to ray dashboard [rllib]"
### What is the problem?

When running ray on an ec2 instance I set webui_host==0.0.0.0, but I cannot connect to the ray dashboard from my laptop by going to the provided link. Instead, I need to set up an ssh tunnel. However, [the docs](https://docs.ray.io/en/latest/installation.html?highlight=ssh#optional-dashboard-support) suggest that the ssh tunnel is not necessary if  webui_host=0.0.0.0 .

I

[2020-04-22 02:06] richardliaw commented on #5045
Should be fixed on latest master... please provide a repro script if not.

[2020-04-22 02:06] #5045 closed

[2020-04-22 02:15] #2561 closed

[2020-04-22 02:20] #2856 closed

[2020-04-22 02:22] ffbin commented on #8112
@pmacalpine Hi, i have submit fix PR, https://github.com/ray-project/ray/pull/8126 pls help check it, Thanks.

[2020-04-22 02:23] #5168 closed

[2020-04-22 02:24] richardliaw commented on #5263
Closing this for now, but I think the solution we want to step towards is having people log to EFS or S3.

[2020-04-22 02:24] #5263 closed

[2020-04-22 02:25] richardliaw commented on #5174
We have a better solution for this now, and it allows you to choose "max" or "last" value.

[2020-04-22 02:25] #5174 closed

[2020-04-22 02:36] richardliaw commented on #7467
Can you please try again on the latest Ray version?

[2020-04-22 02:38] richardliaw commented on #5488
I'll close this for now; but if this is an issue, please reopen/comment again.

[2020-04-22 02:38] #5488 closed

[2020-04-22 03:06] richardliaw commented on #7258
We just merged a fix - so the second issue in the thread should be resolved. @waldroje are you still seeing this issue?

[2020-04-22 03:19] waldroje commented on #7258
I saw that come through and merged it in and kicked off a run earlier… so far no problems, will let you know if it finishes w/ no problems.

On Apr 21, 2020, at 11:06 PM, Richard Liaw <notifications@github.com> wrote:

We just merged a fix - so the second issue in the thread should be resolved. @waldroje <https://github.com/waldroje> are you still seeing this issue?

—
You are receiving this becau

[2020-04-22 03:30] pmacalpine commented on #8112
Your change causes the gcs server address to be 127.0.0.1 which I guess runs, but is not the same as the previous behavior which used the machine's ip address.   The reason for this is that the error code [here](https://github.com/ant-tech-alliance/ray/blob/b098cd2e4c9b223ec08f1aae13f02b383ad1efd1/src/ray/common/network_util.h#L125) is `system:0` and not `boost::system::errc::host_unreachable`, an

[2020-04-22 04:04] richardliaw commented on #7258
Awesome! sorry for the delay.

On Tue, Apr 21, 2020 at 8:20 PM waldroje <notifications@github.com> wrote:

[2020-04-22 04:30] richardliaw opened #8127 "[tune] unify run() and run_experiments()"
This is two ways to do the same thing and it is confusing.

[2020-04-22 05:43] henrypfister opened #8128 "[rllib] Multiagent DQN Training Crashes"
### What is the problem?
Some of my multi-agent environment code that works in 0.7.1 - 0.8.2 no longer works in >=0.8.3.  Rather than give you a big mess of code, I am providing a small example with RockPaperScissors that breaks in Ray 0.8.4.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 0.8.4
Python 3.6.9
Tensorflow 2.2.0-rc3
OS = Google Colaboratory
(a

[2020-04-22 05:50] ffbin commented on #8112
@pmacalpine I think we need to check whether the connection times out or the error code is host_unreachable, resolve local ip is required in both cases. What's your suggestion? Thanks

[2020-04-22 06:51] pmacalpine commented on #8112
I'm really not sure as the the error code is system:0 which I think means success.  Note that is_timeout is set to true in AsyncClient, however that value is not reported outside the class.  Maybe you could report the is_timeout value and then use that as an indicator of whether to resolve the local ip.

[2020-04-22 06:58] YarShev opened #8129 "Lost connection with local raylet. Error: IOError: 14: Socket closed"
I see the problem when I use `modin` with `ray` backend. I installed it as `pip install modin` and `pip install modin[ray]`. My workflow is the following:

[code]

[code]
I get

[code]
But this problem is resolved by setting `https_proxy` as empty.

[2020-04-22 07:00] YarShev commented on #8129
I think the problem above is related with this [issue](https://github.com/ray-project/ray/issues/6662)

[2020-04-22 07:51] PovelikinRostislav commented on #8103
Confirmed - works for me.
Thanks @richardliaw

[2020-04-22 09:10] agniszczotka commented on #2856
Thanks for the note :)

On Sat, 2 Feb 2019 at 09:56, Richard Liaw <notifications@github.com> wrote:

[2020-04-22 11:22] Kuurusch opened #8130 "Control timeout and number of reconnection-attempts for Redis"
Hallo,

As I mentioned concerning the Bug https://github.com/ray-project/ray/issues/8080 and even if it seems to be fixed in Ray 0.8.4, it would be helpful to control the timeout and the number of reconnection-attempts, in case it still happens. Because as I also described there, it actually still happens, only that the currently apparently fixed number of reconnection attempts was sufficient in m

[2020-04-22 13:49] henrypfister commented on #8128
I forgot to include this link to a Google Colaboratory notebook that also reproduces the issue:

https://colab.research.google.com/github/henrypfister/rllib_examples/blob/master/multiagent_rock_scissors_paper.ipynb

[2020-04-22 14:26] sven1977 commented on #3365
I'm closing this issue.
- PyTorch PPO has been added and tested some time ago (w/ version 0.8.3).
- PyTorch APPO is on its way into the master branch via this PR here: https://github.com/ray-project/ray/pull/8120

[2020-04-22 14:26] #3365 closed

[2020-04-22 14:30] sven1977 commented on #6461
I'm closing this issue.
- A PyTorch version of PPO has been added in 0.8.2 (then stabilized in 0.8.3 (fixed memory leak)).
- A PyTorch version of APPO is on its way into master via this PR: https://github.com/ray-project/ray/pull/8120

[2020-04-22 14:30] #6461 closed

[2020-04-22 14:40] ffbin commented on #8112
Hi, i have get the is_timeout value from AsyncClient, thanks.

[2020-04-22 15:51] robertnishihara opened #8132 "[docs] Issue on `serialization.rst`"
The description of how serialization works in https://ray.readthedocs.io/en/latest/serialization.html and the discussion of the limitations and workarounds is very out of date and should be updated.

[2020-04-22 17:05] #3393 closed

[2020-04-22 17:05] #4943 closed

[2020-04-22 17:22] Leonolovich commented on #7467
That appears to have made the issue go away. For documentation, I was having the issue on version 0.8.2 or Ray and I no longer have the issue on version 0.8.4.

Thanks

[2020-04-22 17:22] #7467 closed

[2020-04-22 18:56] dvirginz commented on #8129
What is the https_proxy everyone is talking about?:)

[2020-04-22 19:18] yskim5892 opened #8135 "[RLlib] Model with continuous action space outputs inf"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

 * Python 3.7.5
 * Ray : from commit d66d12661b9e5617897b32fc6a89bc15c72330a4
 * OS : Linux (Ubuntu 18.04)

I've made a custom environment which implements MultiAgentEnv, custom trainer similar to DDPGTrainer, and a custom optimizer.
In this setting, high level agent's action space is Bo

[2020-04-22 20:11] YarShev commented on #8129
Problem was resolved, I was using ray 0.8.0 where there was the problem. Now I am using 0.8.4 and it is ok.

[2020-04-22 20:11] #8129 closed

[2020-04-22 20:11] YarShev commented on #8129
That is variable which is used by us to set proxy:)
 
By the way, the problem was resolved. I was using ray==0.8.0, but I saw that it was fixed in 0.8.3 release. Now I am using ray 0.8.4 and it is ok. I have closed the issue.
 

 
 
--
Ярослав Игошев
 

[2020-04-22 23:04] nmatthews-asapp opened #8136 "Make warning through logging not print"
https://github.com/ray-project/ray/blob/89aa47012a2e77c7ddcf5b82e1dcdb2fd1d0bed1/python/ray/memory_monitor.py#L95

Current behavior: the statement referenced prints out a warning message that you need psutil very time you run ray (usually multiple times a run). This can't be filtered because a print statement is used.

Proposed solution: log this warning with warnings.warn or logger.warn so that t

[2020-04-22 23:08] richardliaw commented on #8136
This sounds good to me. Can you push a draft PR with the changes you want to see?

I can help clean up the PR and get it to pass tests.

[2020-04-22 23:39] nmatthews-asapp commented on #8136
done.

(apologies, I forgot to open it as a "draft pr" but hopefully that's not too big of deal!)

[2020-04-23 01:31] waldroje commented on #7258
No issues after running all day… much appreciated!

On Apr 22, 2020, at 12:04 AM, Richard Liaw <notifications@github.com> wrote:

[2020-04-23 01:51] Wangxb06 opened #8139 "serialize error for TF1.14"
Ray—0.84
TF—1.14
python 3.6.4

[code]
“VaemmdTrainble” is a Trainable class  and it will load trained model init()

[code]
-------------------------------
“VaemmdTest” class will load a lot of other model
[code]

"tune.run" will raise:

  File "/usr/local/lib/python3.6/site-packages/ray/tune/tune.py", line 246, in run
    run_identifier = Experiment.register_if_needed(exp)
  File "/usr/local/lib/p

[2020-04-23 01:53] ericl commented on #8128
@sven1977 it seems to crash when ` "exploration_fraction": 0.95` is set due to some bug in the piecewise schedule:

[code]

Oddly, it seems to be trying to execute some ops in eager mode.

[2020-04-23 02:16] richardliaw commented on #7258
Amazing! thanks for the long long wait.

[2020-04-23 02:16] #7258 closed

[2020-04-23 03:25] nanxintin commented on #2930
Hi @praveen-palanisamy,  I want to visualize the tensorboard graph in Ray==0.8.4. Do you have any suggestions? I find that there is a export_model function in tf_policy.py, but I have no idea how to use it.
Thanks.

[2020-04-23 03:49] yskim5892 commented on #8135
I've found some simpler(or minimal) setup that causes this problem. I think you'd better check the issue with this setting.

**Code :**
[code]

**Output:**

[code]

As you can see, outputting inf starts exactly at 2001 step. This doesn't happen if you get rid of Multiagent setting from this code.

[2020-04-23 04:37] richardliaw commented on #8136
No problem. Merged - thanks a bunch!

[2020-04-23 04:37] #8136 closed

[2020-04-23 05:31] yskim5892 commented on #8135
I've just found out that this problem happens even without Multiagent setting. Just simple trainer on simple environment with continuous actions space outputs actions full of infs.

**Code:**

[code]

**Output:**

[code]

[2020-04-23 07:23] vivecalindahlericsson opened #8142 "How to access last step observation in `on_episode_step` callback? [rllib] [tune]"
### What is your question?

I have a multiagent system where not all agents return observables at each `step()`. I want to write a callback function to log the mean of the observables, following `rllib/examples/custom_metrics_and_callbacks.py`. However, from the `info` arg I can only get the last observation of each agent and it is not reset at each step AFAICT. To be able to calculate the mean I

[2020-04-23 08:45] praveen-palanisamy commented on #2930
Hi @nanxintin , with `ray==0.8.4`, you can access the agent's policy graph using this call: `agent.get_policy().get_session().graph.as_graph_def()` which can be written to disk using Tensorflow's summary writer (like in the above snippet) and visualized in Tensorboard.

Here is a minimal yet complete example (`ray==0.8.4`, TensorFlow2.x):

[code]

You can then launch tensorboard to visualize the g

[2020-04-23 09:45] antonwnk commented on #3992
It seems there is no more ray.global_state any more, does this warrant reopening this issue?

[2020-04-23 12:21] janblumenkamp commented on #8135
Perhaps this issue is related to #7923?

[2020-04-23 12:32] McCrearyD commented on #1799
This worked great, however what happens if I'm no longer connected to the head node? Say, I open a tmux session & let it run. Will it fail when horizontally scaling? Assuming that key is required.

[2020-04-23 15:16] cocorosiekz opened #8147 "[tune]add 'last-n-avg' option for scope parameter in get_best_* methods"
### Describe your feature request
As described in the [Google Groups](https://mail.google.com/mail/u/0/#inbox/FMfcgxwHMZGcqCZltQQjfxMpKMWpXKdK), it makes sense to evaluate model on every batch of time series data (like _hour-01, hour-02, ..., hour-23_) when we are doing some online learning stuff (for example ads\feeds recommending).
When dealing with such situation, it's better to take **average

[2020-04-23 15:54] athenawisdoms opened #8148 "Enabling Tune Tab in Dashboard"
Hello, when I visit the web dashboard when the Tune trials are running, the _Tune_ tab is not seen. How can we enable it? I am using tune 0.8.4 installed using `conda`.

Thank you!

[code]

**Obtained:**

![image](https://user-images.githubusercontent.com/6615285/80120363-dd061100-8558-11ea-8074-e0a836f7767c.png)

**Expected:**

![image](https://user-images.githubusercontent.com/6615285/80120401-e

[2020-04-23 16:02] nyxynyx opened #8149 "[tune] Track & visualize metrics of all trials using PyTorch?"
## Is it possible to track and visualize the metrics (loss, accuracy, etc) of all trials (terminated & running) on a dashboard when using PyTorch?

Something similar to Tensorboard, but ideally as simple as possible, as I will just need to visualize the training metrics.

![image](https://user-images.githubusercontent.com/8941374/80121413-463a5400-855a-11ea-8b99-049d8b4dcaf3.png)

*Ray version and

[2020-04-23 16:05] pengzhenghao commented on #7893
I am facing a similar case. I am using tune to run a training program which involve MPI. And now how to record the learning progress of that MPI program become a big trouble for me.

[2020-04-23 16:37] richardliaw commented on #7893
what type of MPI program are you running @pengzhenghao? Is it a well-known library?

[2020-04-23 16:38] richardliaw commented on #8149
Does tensorboard not automatically show up for you?

if you do: `tune.run(..., )`, your results should show up if you do
[code]

[2020-04-23 16:42] yncxcw commented on #7893
hi,  @richardliaw. For multi-gpu training, I think many people are using Horovod, which is based on MPI-allreduce to synchronize gradients at the end of back-prop.

[2020-04-23 19:39] #7478 closed

[2020-04-23 19:42] regproj commented on #8135
Is this because your action space is bounded between -inf and +inf? I noticed a NaN error for continuous action spaces using SAC (even when I bound my action space to say 0,1) but didn't get the same error using ddpg or td3. I'm also interested in why this error is occurring as I've been pulling my hair out thinking my environment was broken when it might be something else related to rllib.

[2020-04-23 19:48] janblumenkamp commented on #8135
For me, the error also occurred in a bounded action space. I tried stable-baselines, and there it worked, so I'm quite confident that this is a bug in RLlib (that being said, I'd still choose RlLib over stable-baselines whenever possible).

[2020-04-23 19:48] regproj opened #8151 "[rllib] What happens to the replay buffer upon checkpoint restore?"
### What is your question?
I've been having to restart training sessions (using td3, sac, whatever) and was wondering what happens to the replay buffer when restoring from a checkpoint. Is the replay buffer now empty?
*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 0.8.4
Python 3.6
Tf 1.12.0
Ubuntu 18.04

[2020-04-23 19:51] regproj commented on #8135
Any idea as to when this might occur or how to avoid it?

[2020-04-23 20:58] lizelive opened #8152 "Redis has started but no raylets have registered yet."
I started a  ray cluster `ray start --head --redis-port=6379`
I connect to in from my jupyter notebook using `ray.init(address='auto', redis_password='5241590000000000')`

Then i try to add an aditional node to the cluster using `ray.init(address='10.0.0.4:6379', redis_password='5241590000000000')`

But get `Redis has started but no raylets have registered yet.` See bellow for full log.

It works

[2020-04-23 21:09] lizelive commented on #8152
simlar to #5437 but im pretty sure my networking is configured correctly.

[2020-04-23 21:24] nyxynyx commented on #8149
Works after installing `tensorboard`, thanks!

[2020-04-23 21:24] #8149 closed

[2020-04-23 21:32] nyxynyx opened #8153 "[tune] Dashboard server crashing (AttributeError: module 'grpc' has no attribute 'server')"
### How to fix the error `AttributeError: module 'grpc' has no attribute 'server'` when running Tune?

When I try to start Ray Tune with the coding:

[code]

I get the error

[code]

The trials still run, but the dashboard shows an error message

![image](https://user-images.githubusercontent.com/8941374/80151581-4a7d6600-8588-11ea-9a41-6e65af80607e.png)

Has anyone seen this error before? How can

[2020-04-23 21:35] ericl commented on #8142
You should have a handle to the "episode" object, which has methods to get other state such as the last obs of other agents: https://github.com/ray-project/ray/blob/master/rllib/evaluation/episode.py

[2020-04-23 21:44] lizelive commented on #8033
I am also effected by this issue.
I was able to connect to ray cluster from command line for whatever reason.
`subprocess.call(('ray','start', '--address=10.0.0.4:6379', '--redis-password=5241590000000000'))`
Maybe that will work for you?

[2020-04-23 22:43] rkooo567 commented on #8153
Hmm I am using this version, and it seems to work `grpcio==1.27.2`. Would you mind downgrading the version and test it one more time? Maybe API has been changed.

[2020-04-23 22:46] neuronflow commented on #616
this is still mentioned in the docs? is it still true?
https://ray.readthedocs.io/en/stable/using-ray-with-gpus.html#troubleshooting

[2020-04-23 22:56] pmacalpine commented on #8112
This code works for me now with the machine's ip being resolved correctly.  Thanks!

[2020-04-23 23:59] nyxynyx commented on #8153
@rkooo567 `1.27.2` works, thanks!

[2020-04-23 23:59] #8153 closed

[2020-04-24 00:10] nyxynyx opened #8155 "[tune] AttributeError: 'EnumTypeWrapper' object has no attribute 'DATA_TYPE_FLOAT64'"
### AttributeError: 'EnumTypeWrapper' object has no attribute 'DATA_TYPE_FLOAT64'  when running a simple Ray Tune example

When I ran the simple example as shown

[code]

I get the following error after one of the trials has been completed:

Any ideas how we can solve this?

Thank you!

-----

[code]

**Full Error**

[code]

*Ray version and other system information (Python version, TensorFlow ver

[2020-04-24 00:47] janblumenkamp commented on #7341
Now I am trying this: I have a `MultiAgentEnv` that contains all agent's observations in each observation as well as an id for each agent. My model now receives the batched observations for all agents. The idea was to filter out only the observations from the agent of id 0 from the whole batch in the model (so basically ignore all agent's observations except one agent), then compute the actions fo

[2020-04-24 01:23] ericl commented on #7341
The example above both (1) altering the env to provide the required obs, and (2) altering the model to implement the desired communication.

I'm not sure I understand this. Why not instead give the full observation to each agent as in the above example? Then, each agent's policy can filter out the desired data without needing to mess with the batch dimension (no guarantees on how that dimension is

[2020-04-24 01:26] richardliaw commented on #3992
You should be able to get the same functionality with `ray.cluster_resources()`.

[2020-04-24 01:31] richardliaw commented on #5554
Interesting... Can you profile this and open a new issue?

[2020-04-24 02:25] McCrearyD commented on #1799
I can confirm that it does indeed fail. I’ve resorted to copying the ssh key.

[2020-04-24 02:45] nanxintin commented on #2930
@praveen-palanisamy Thank you  very much. It works!

[2020-04-24 03:15] pengzhenghao commented on #7893
@richardliaw Well a very traditional implementation using MPI4PY library.
I am trying to build a hybrid by using tune to tune the training of other RL codebase:
https://github.com/openai/safety-starter-agents

Now it seems to work by submitting command `mpirun -n 2 (another python file)` inside a tune trainable function, though I have many works to do to fit the logging / stats / resource allocati

[2020-04-24 03:51] richardliaw commented on #7893
Got it. The fastest and most elegant way to do this IMO is to wrap the
python file as a Ray Actor, and set MPI environment variables via an actor
call.

On Thu, Apr 23, 2020 at 8:15 PM Peng Zhenghao <notifications@github.com>
wrote:

[2020-04-24 04:01] richardliaw commented on #8155
Hm, I've never seen this before.  What does your config look like?

And can you raise this on the TensorboardX github?

[2020-04-24 04:30] raulchen commented on #7997
Thanks for reporting this. I think we should provide libs and headers for other C++ projects that don't use bazel in the future.
But for now, as the C++ API is still pretty preliminary, there is no much benefit to do so.
I think for now, if you want to play with the C++ API, the easiest way is to use Bazel. You can just write a `.cc` file, and define a `cc_test` in `BUILD.bazel`.

[2020-04-24 06:19] kanaadp opened #8158 "[rllib] AttributeError: 'PPO' object has no attribute 'workers'"
### What is the problem?

Ray version: 0.8.2 (also found on 0.8.1),
EC2 ami: ami-030c12d850a83dff1 (linux)

[code]

### Reproduction (REQUIRED)
Run with command: `ray exec autoscale.yaml "python ~/cmbrl/run/ray_bug.py --num_cpus 7 --exp_title ray_bug" --start --stop`

[code]

### Autoscaler
[code]

If we cannot run your script, we cannot fix your issue.

- [x] I have verified my script runs in a c

[2020-04-24 10:28] janblumenkamp commented on #7341
I'm sorry, maybe I am completely misunderstanding how this works... I highly appreciate your patience with me! Let me reiterate what I want to do:

In my use case, I have a single policy for n agents ([Level 1: Multiple agents, shared policy 'homogenous agent'](https://bair.berkeley.edu/blog/2018/12/12/rllib/)) and I want them to share information at every time step. The idea is that each agent re

[2020-04-24 12:54] sven1977 commented on #8158
Thanks for filing this! The following PR fixes the problem.
https://github.com/ray-project/ray/pull/8162
Please let us know, if it doesn't work for you. Closing this issue.

[2020-04-24 13:12] neuronflow opened #8163 "How to place workers onto specific GPU in heterogenous environments?"
### What is your question?
Hi I have multiple systems with diverse hardware in my portfolio. For example this system with 3 GPUs.

Cuda device 0 has 1gb VRAM
Cuda device 1 has 16gb VRAM
Cuda device 2 has 48gb VRAM

How can I configure ray to only do calculations on cuda devices 1 and 2?

My current example model has a size of 11gb. So I can load it once on Cuda device 1 but four times on cuda devi

[2020-04-24 13:53] alexmascension opened #8164 "Slowdown when using Ray with tqdm"
### What is the problem?

We come from #5554

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray==0.8.4
line_profiler==3.0.2
tqdm==4.38.0

*Issue*
When running the suggestion from #5554 with a function with arguments, the computation time with progress bar is much longer than without it. Also, as a curiosity the tqdm values seem to **reset** some time after th

[2020-04-24 14:31] lenassero commented on #1001
Hi @robertnishihara, I have some issues when using ray inside a `virtualenv`.
Basically, I have a `remote` task that I am executing from the head node inside a `virtualenv`. It works fine on the head node, but on the worker nodes, the remote function seems to be executed using the base `python` (not the one in the `virtualenv` with all the necessary modules installed), thus causing import errors.

[2020-04-24 14:34] redzhepdx opened #8165 "[tune] Can't suggest initial parameters for BayesOptSearch"
[tune]

### What is your question?
I am trying to add Ray[tune] into my own model training pipeline. I have some good parameters already found by hand and I know that hyper-parameter optimization can't produce better configuration all the time. I would like to add my initial parameters as additional suggestions that optimizer can compare against its own discoveries. I couldn't find this functional

[2020-04-24 14:46] Servon-Lee opened #8166 "[Ray general] Tons of irrelevant messages are sent to nodes very frequently once starting ray on cluster."
### What is your question?
When I use ``ray start --head --redis-port=6379`` to start Ray on a head node (IP: 10.188) and then run ``ray start --address='192.168.10.188:6379' --redis-password='5241590000000000'`` on other two nodes (IP: 10.94 and 10.181), I notice something like this photo below where I captured some packets:
![image](https://user-images.githubusercontent.com/29559374/80221127-716

[2020-04-24 14:49] nyxynyx commented on #8155
@richardliaw Here's the output of `conda list`. Will be great if you notice something odd with the installed packages.

Will try raising this issue over there.

[code]

[2020-04-24 14:55] gimzmoe opened #8167 "Questions about cluster setup and dependencies on Ray?"
cluster setup

### What is your question?
I've been excited to use Ray, and perhaps I got ahead of myself.  I've noticed there are a few things the seem to be prerequisite, but I can't find them explicitly stated as such.

For instance, reading about "ray on a cluster" it assumes a few things, but it doesn't assume that I have copies of my program (at least the clustered parts) in the same file lo

[2020-04-24 16:51] antonwnk commented on #3992
thanks!

On Fri, Apr 24, 2020 at 3:26 AM Richard Liaw <notifications@github.com>
wrote:

--
*Anton N. Waniek*
*M.Sc.* *Data Science for Decision Making *– Student
Department of Data Science and Knowledge Engineering
Maastricht University
*T: *+31 (0)6 15 68 2503
*E:  *a.waniek@student.maastrichtuniversity.nl
      *antonwnk*@gmail.com <antonwnk@gmail.com>

[2020-04-24 16:52] antonwnk commented on #3992
thanks!

[2020-04-24 16:55] richardliaw commented on #8165
We should document this, but one way you can do this:

[code]

[2020-04-24 17:22] redzhepdx commented on #8165
Thanks a lot but it isn't exactly what I am looking for but it gave me a hint. I am looking for a way to add those initial_parameters into experiment queue like probe function of [bayesian-optimization](https://github.com/fmfn/BayesianOptimization) but It isn't possible in the Ray because in the constructor of BayesOptSearch you instantiate BayesianOptimization object with `None` function.
`self.o

[2020-04-24 17:27] vivecalindahlericsson commented on #8142
I wasn't asking for the last obs of the agent, but the obs of the last step. Assuming this is not possible then?

[2020-04-24 17:38] ericl commented on #8142
Hmm more historical steps should be stored in the batch builder of the
episode object. It should always be accessible in complete episodes mode.

I would also consider changing the env to add this as part of the
observation straight out if needed.

On Fri, Apr 24, 2020, 10:28 AM vivecalindahlericsson <
notifications@github.com> wrote:

[2020-04-24 19:42] vivecalindahlericsson opened #8169 "[rllib] Episode user data not reset for soft horizon"
### What is the problem?
For `soft horizon=True`:
- `episode.user_data` not reset
- `on_episode_start` not (always) called on episode start
- when summarizing metrics of multiple episodes, custom metrics for different episodes are duplicates of the last episode in the list.

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray 0.8.4

### Reproduction (REQUIRED)

[2020-04-24 20:00] ericl commented on #7341
Yep, makes sense that it doesn't scale to a very large number of agents, since it's O(n^2) work as noted. It also makes sense that the super-agent approach doesn't work if the number of agents is varying dynamically over time (unless you use padding hacks, etc).

Yep. Here are two ideas on how this might be concretely realized in PyTorch and TF. There is a difference since with torch policies are

[2020-04-24 20:06] ericl commented on #7341
Some pseudocode to illustrate:
[code]

[2020-04-24 20:14] ermekaitygulov opened #8170 "[Ray] cpprb - replay buffers with Cython"
### What is your question?

Hello. Is it possible to create remote actor from cpprb.ReplayBuffer class? I've tried to follow advice from [Advanced usage](https://docs.ray.io/en/releases-0.8.4/advanced.html#cython-code-in-ray), but following code failed

[code]
<details>
    <summary>Traceback</summary>

     File "/home/airan/projects/Rozum/RobotArm/cython_test.py", line 5, in <module>
    rb_remo

[2020-04-24 20:17] ericl commented on #7341
(deleted an older post that was wrong)

Yep, makes sense that it doesn't scale to a very large number of agents, since it's O(n^2) work as noted. It also makes sense that the super-agent approach doesn't work if the number of agents is varying dynamically over time (unless you use padding hacks, etc).

Yep. So I think one way of doing this is treating this just as an optimization problem. So logic

[2020-04-24 20:31] janblumenkamp commented on #7341
Thank you very much Eric, this sounds great! I will give it a try!
But would the problem really be easier if I would go for a fixed number of agents? Would the superagent approach really be equivalent, i.e. would the policy benefit from the experience of multiple agents and internally output only a single action so that I would have the flexibility to deploy it to any number of agents? To me, it s

[2020-04-24 20:34] ericl commented on #7341
Yeah I think the super agent approach is almost equivalent... You can implement the same data flow within a single policy if that works for the env.

You are right that there would be a single VF estimate for the baseline though, which would be one difference. That might reduce training efficiency.

[2020-04-24 21:29] anthonyhsyu opened #8171 "[tune] Support passing in a list of parameters"
Currently developing on [tune-sklearn](https://github.com/ray-project/tune-sklearn).

Example of what we'd like to get working [here](https://scikit-learn.org/stable/auto_examples/compose/plot_compare_reduction.html), where there's a list of two dictionaries to perform grid search on.

We want to do a grid search over a list of parameter configurations into Tune.

[2020-04-24 21:57] janblumenkamp commented on #7341
Hmmm, but in order to implement your proposed solution I would have to assume a certain spatial arrangement in the batch and as you said there are no guarantees that the data is aligned like that, right? I think what you proposed is essentially what I suggested [here](https://github.com/ray-project/ray/issues/7341#issuecomment-618742230). At the very least I would have to know which rows in the ba

[2020-04-24 22:04] richardliaw commented on #8170
What is cpprb?

[2020-04-24 22:16] ermekaitygulov commented on #8170
[Cpprb](https://ymd_h.gitlab.io/cpprb/) - it is realization of replay buffers for rl on Cython.

[2020-04-24 22:36] ericl commented on #7341
You don't need to assume a spatial arrangement, you can inspect the data and de-duplicate based on whether you see the same identical obs.

[2020-04-25 01:09] regproj opened #8173 "DQN Cartpole not learning"
### What is the problem?
I just wanted to run some basic tests for DQN on the cartpole environment to check things over before running it on my own environment. I'm wondering if I somehow set up the parameters wrong, as it doesn't seem to be learning.
*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 0.8.4
Tf 1.14.0
Python 3.6
Ubuntu 18.04

### Reproduction (

[2020-04-25 01:16] regproj commented on #8173
![dqn_cartpole_error](https://user-images.githubusercontent.com/53584374/80267775-a7941d00-8657-11ea-9a91-9dba66ef24b7.png)

[2020-04-25 04:08] royf opened #8175 "[rllib] torch - This should be logits=inputs"
https://github.com/ray-project/ray/blob/e9ee5c4e5f27c5fa547f1c5c504b9efebef21026/rllib/models/torch/torch_action_dist.py#L63

[2020-04-25 04:11] rkooo567 commented on #8170
Are you trying to use the buffer class as an actor?

[2020-04-25 05:25] rkooo567 opened #8176 "Ray async api is not working with uvloop."
### What is the problem?

Current Ray async api uses asyncio event loop's internal attribute to identify if the loop is running in the current current thread.

[code]
This causes a problem when we uses Ray APIs inside Fast API because Fast API uses uvloop as its main event loop, and uvloop doesn't have `_thread_id` attribute.

@simon-mo Any good idea to fix this? It doesn't seem to be trivial. Wha

[2020-04-25 06:19] rkooo567 commented on #8148
Can you make sure you have tensorboard as dependency?

[2020-04-25 06:19] richardliaw commented on #8148
Also, do you have any files at ~/ray_results?

[2020-04-25 07:31] ermekaitygulov commented on #8170
Yes. I'm not sure that it is normal practice) It samples some batches, sends it to learner, than starts sampling again, while learner updates. I'll try to use it not like actor today and if it won't slow down update frequency I'll close issue.

[2020-04-25 07:50] vivecalindahlericsson commented on #8142
Ok, I didn't have a look at the batch builder yet. In the end I added a variable in the env, `env.last_agent_ids`. Nonetheless, averages of observations for the general multiagent case seems like a reasonable feature to support as this is the direct generalization of the [custom metrics example](ray/rllib/examples/custom_metrics_and_callbacks.py). Currently, a naive change of `env` to a `multiagen

[2020-04-25 09:38] aeroaks commented on #8176
Sounds promising!

[2020-04-25 13:09] ermekaitygulov commented on #8170
It worked for me. Thank you. But I've got another little question) Numpy arrays are stored as read-only objects. Is there any way to store some arrays as read-write object to avoid copying of arrays?

[2020-04-25 16:32] #8176 closed

[2020-04-26 05:57] wizardfishball opened #8181 "[docs] suggestions for `deploying-on-slurm.rst`"
# Make sure head node start before worker node

For the example at **Deploying on Slurm** doc to work, `ray start` on any worker node needs to happen after `ray start --head` has succeeded on the head node. It'd be helpful to suggest people to adjust the sleep time after `ray start --head` to ensure this order.

[2020-04-26 06:07] rkooo567 commented on #8181
This is really good advice! Please feel free to create a PR if you want some contribution to the documentation!

[2020-04-26 06:28] wizardfishball commented on #8181
@rkooo567 will do! 👌

[2020-04-26 06:28] #8181 closed

[2020-04-26 07:35] #8170 closed

[2020-04-26 07:43] Arthur-Null commented on #7819
same error here.
Tensorflow 2.1.0
Ray 0.8.4
CUDA 10.1
cuDNN 7.6.3

[2020-04-26 12:11] Fabien-Couthouis opened #8185 "[rllib] MADDPG different rank of shape for observation and action spaces"
Hi all,

I am trying to train a MADDPG agent on [google football research environment](https://github.com/google-research/football).

Unfortunatly,  shapes of my observations and actions spaces are different:
observations_space: Box(42, 42, 4)
actions_space: Discrete(19) (I am aware I have to convert logits into discrete actions)

And then I have the following error:
`ValueError: Shape must be ran

[2020-04-26 12:12] janblumenkamp commented on #7341
I see. I now tried the super-agent approach again and could not really replicate the performance of my current naive implementation. Probably both the single VF estimate and, more importantly, summing the reward signal for all agents contributes to that (the RL algorithm has no way of knowing which individual action resulted in a reward of an individual agent - and this would probably be even wors

[2020-04-26 16:41] yskim5892 opened #8189 "[RLlib] How can I turn off exploration for a while when training?"
### What is your question?

I want to turn exploration on and off while training(in custom Optimizer or something). For example in DDPG, I wanna remove gaussian noise in action for some amount of steps. But how can I do that?

*Ray version and other system information (Python version, TensorFlow version, OS):*

[2020-04-26 18:30] sven1977 commented on #8189
You should be able to set the config of the Policy directly like so:
[code]
After this, every time the trainer calls `compute_actions` on the policy, the policy will compute a "non-explore" action.
Let me know if this doesn't work.

[2020-04-26 19:14] ericl commented on #7341
Hmm, with a custom loss function (see custom algorithms docs) and custom
model you could get a super agent to work the same. The only question is
how to record the rewards; those could be returned info (accessible to
torch policies) or put in obs_tp1 (a hack).

On Sun, Apr 26, 2020, 5:12 AM Jan Blumenkamp <notifications@github.com>
wrote:

[2020-04-26 20:32] IsaacWolverton commented on #7610
@ca-scribner I am running into the same issue, did you ever find a solution?

[2020-04-26 21:30] ca-scribner commented on #7610
Kinda.

To get things running how I wanted I had to make some [modifications](https://github.com/ca-scribner/ray/tree/gcp_updates).  They are a few weeks behind the main code but still should roughly show what needed to change.  I also spoke with @anabranch about it so maybe some of this has been addressed in the main code now?

If I was doing this again from scratch knowing what I know, I think I

[2020-04-26 21:40] nklarer opened #8190 "Bug: Cannot 'pip install ray' on AWS Ubuntu"
I recently started working on an AWS Ubuntu image. I receive the following error when I attempt to `pip install ray`.

[code]

**OS:** 5.4.0-1009-aws

- [X ] I have verified my script runs in a clean environment and reproduces the issue.
- [X] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/latest/installation.html).

[2020-04-26 22:48] ericl opened #8191 "[rllib] multi_agent_custom_policy test is broken (and skipped in travis)"
### What is the problem?

[code]

The multi agent policy test is skipped in CI currently, and is broken.

### Reproduction (REQUIRED)

python multi_agent_custom_policy.py

[code]

[2020-04-26 22:48] ericl commented on #8191
cc @sven1977

[2020-04-26 22:49] ericl commented on #8191
Marking this as P0 since it means all non-TF/Torch policies are broken.

[2020-04-27 07:25] mingfeisun commented on #2589
The link expired. Would you like to provide a new link to help explain?

[2020-04-27 11:03] yskim5892 commented on #8189
It worked for me, thank you very much!

[2020-04-27 13:06] janblumenkamp opened #8193 "[rllib] Custom loss not implemented for PyTorch policies?"
### Describe your feature request
I would like to override the `custom_loss` function from `ModelV2` in my custom model, but it seems like the torch policy is currently not using the custom loss at all (it's definitely not called in my model). I briefly looked into it, but there appears to be no `loss_inputs` for the torch policy.

[2020-04-27 13:16] sven1977 commented on #8088
Hey @matej-macak , actually, yeah, I noticed too a very slow learning convergence having to do with the (continuous) action space being bounded for PPO. In the case of bounded cont. action, we simply clip the output actions before sending them to the env. I'll look into this further.

[2020-04-27 14:08] deepaksharma36 opened #8194 "[rllib] rllib/agents/trainer not able to normalize actions for env which extends rllib/env/externalEnv"
Ray 0.8.4
TensorFlow 1.14.0
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.6 LTS
Release:	16.04

Dear Developers,

I am using an env which extends external env for training. In the ray 8.4.0, for performing the action normalization an env should extend gym.Env. Since my env extends external env it does not extends gym.Env and I get a run time error during training for the same. Of course, for no

[2020-04-27 15:59] pitoupitou opened #8196 "Ray error : "Not enough space to create this object""
Hi, thanks for Ray. Amazing code.

However, I just launched a learning job in a distributive way (**using a 32 cores & 256 GiB memory machine**). It works fine but I get multiple Ray errors after around 2000 iterations :

There is not enough space to create this object, so evicting xxx objects to free up yyy bytes. The number of bytes in use (before this eviction) is zzz.

You can find an example

[2020-04-27 16:03] robertnishihara commented on #2589
https://docs.ray.io/en/master/package-ref.html#ray.register_custom_serializer

[2020-04-27 19:20] sven1977 commented on #8191
taking a look ...

[2020-04-27 20:42] pmacalpine opened #8203 "Lots of "INFO worker.py:439 -- ray.get_gpu_ids() currently does not work in LOCAL MODE." messages printed in local mode"
### What is the problem?
When I run in local mode I see lots of the following message being printed many times such that the console isn't really useable:
[code]
I'm not sure why this message is being printed as I'm not using a GPU (num_gpus=0, although my machine does have a GPU enabled).  As I recall some time ago I was running in local mode and found that the GPU was being used when it wasn't s

[2020-04-27 20:48] richardliaw commented on #8203
cc @ijrsvt - can we mute this warning?

[2020-04-27 20:59] rkooo567 commented on #8196
This means your plasma store (object store) is full, so objects are evicted in a LRU manner to free up memory. You can increase object storage memory size using this command. https://ray.readthedocs.io/en/latest/package-ref.html#cmdoption-ray-start-object-store-memory

I'd also like to provide more context. When using Ray and you pass around objects that are bigger than 100 KB (e.g, ray.remote(obj

[2020-04-27 21:06] yfche opened #8204 "Actor with name WrappedTrackFunc failed to be imported"
Hi, I am strictly following a Tune example with codes here ([https://colab.research.google.com/github/ray-project/tutorial/blob/master/tune_exercises/exercise_1_basics.ipynb#scrollTo=Cx0z45VuplTo]) on a local desktop (iOS system), and I constantly run into the following error messages:

[code]

I tried to search for solutions online, and the underlying reason is unclear. Here I am pasting the inst

[2020-04-27 21:24] #8191 closed

[2020-04-27 21:27] pitoupitou commented on #8196
**Thanks a lot for your informative answer.**

I already tried setting the object store memory to a very high size (70% of the total RAM) but my deep learning training also ends up reaching this value at some point.

- is it always recommended to set the object store memory up to 40% max of the total RAM?
- what option would i have?

[2020-04-27 21:39] pmacalpine opened #8205 "Error "ray.tune.error.TuneError: Unknown trainable" after shutting down and restarting ray to run second experiment"
### What is the problem?
After I run an experiment, shutdown ray, and then restart ray and try and run another experiment I get the following error:
[code]

I'm just trying to rerun the same experiment in a loop, and ray should know the PPO trainable name (I see this same error with other trainable names too such as A2C).  I also see this same error in ray 0.8.4.

From what I can tell rllib/__init

[2020-04-27 21:45] #8112 closed

[2020-04-27 23:06] anabranch commented on #7610
Well stated! We haven't addressed anything quite yet- still seeking strong user stories for the features.

We've heard others doing VM images as well btw!

[2020-04-27 23:07] richardliaw commented on #8205
Ah, can you try running:

[code]

We should maybe do this in Tune all the time.

[2020-04-27 23:14] pmacalpine commented on #8205
Yes, manually running _register_all() after shutting down ray and before running tune again is a workaround.  It would be good if that functionality were put in to tune.

[2020-04-27 23:43] richardliaw commented on #8204
Before `tune.run`, can you try:

[code]

[2020-04-27 23:46] richardliaw commented on #8155
Hm, yeah no idea. For now, you can turn off the TensorboardX Logger:

[code]

[2020-04-27 23:46] yfche commented on #8204
Hi thanks for the attention. Yes I called `ray.shutdown()` right before calling `tune.run(...`. The errors persist.

[2020-04-28 00:03] richardliaw commented on #8164
Hey @alexmascension, thanks for opening this issue and sorry for the slow reply.

Interesting -- are you running this in the exact order as you specified?

If the TDQM runs first, you might hit some warmup latency. Can you also try this?

I would suggest running it maybe 3 times to get some variance estimate:

[code]

[2020-04-28 00:13] richardliaw commented on #8165
Got it; what was the final workaround you came up with?

[2020-04-28 04:48] jieru-hu commented on #8035
Hi @rkooo567 so sorry for the late response!

Ray autoscaler is great. But it requires users to sync our code manually and then call ray init on the cluster. Being able to call ray.init from a local machine seems a much better experience.

This kind aligns with the above question. Right now I'm using the autoscaler CLI in my code, but I'm hoping Ray could provide us more coding friendly interface

[2020-04-28 04:57] ijrsvt commented on #8203
Yes we can

[2020-04-28 10:09] sean-metzger opened #8212 "Error with Ray init [tune]"
### What is the problem?
Ray init wont work.

Note: I have a separate hyperopt script where I use ray tune to hyperopt a small nn on small dataset. I can call it now, and it works. I can run this exact script on a jupyter notebook with 3 gpus, and it works. But when I submit it as a server job on our gpu servers, it breaks. I have no idea why, especially since I can call ray init in the exact same

[2020-04-28 10:50] redzhepdx commented on #8165
It is very similar to your approach but it calculates scores for every initial parameter before `tune.run(...)`. I think a similar functionality can be part of the library.
Note : `tune.track()` lines need to be in try-catch block otherwise, it throws an AttributeError!
[code]

[2020-04-28 15:27] redzhepdx commented on #8165
Unfortunately, the solution that I proposed doesn't solve the issue because Ray has its own internal experiment collection container[`Trials` array].  When you register (param, score) pairs via the optimizer object of BayesianOpt, it doesn't save those previously registered parameters into its own container or it doesn't consider them in `ExperimentAnalysis` object's  `get_best_trial()` function

[2020-04-28 16:23] ncarrara opened #8213 "[rllib] More informative Exception for algorithms not using RNN"
I just realized DQN does not support RNN models. However, you can still specify a custom model extending `ReccurentTFModelV2` as a model for the Q-function. At some point, a `None` exception should appear because, in `dqn_tf_policy.py`, you are feeding None as the last parameter for the model call which corresponds in that specific case to the sequence lengths parameter of the `forward_rnn` functi

[2020-04-28 16:50] sean-metzger commented on #8212
I found the bug, I was requesting too many workers when I called my data loader. If a bug like this could be easier to find in the future that'd be sweet! Took me a while.

[2020-04-28 16:50] #8212 closed

[2020-04-28 17:10] richardliaw commented on #8212
Hm, awesome! @sean-metzger what was your debugging profess for this?

[2020-04-28 17:34] Camq543 opened #8214 "[rllib] Error while trying to use get_model_v2 to make vision net"
When I try to create a convolutional network using get_model_v2, I get an error on line 96 of visionnet_v2.py, which is the call to tf.squeeze() while building the final layer of the value network. The error I get says that it's trying to squeeze on a dimension >1 but can only squeeze on a  dimension of 1. I'm not sure if this is an error in the rllib code or if I'm doing something wrong. Please h

[2020-04-28 17:35] sean-metzger commented on #8212
Sure,  and this is coming from a new Tune user (started last week).

- Couldn't get any error messages, tried changing verbose to 0,1,2.
- Looked in /ray_runs. It was confusing because it sometimes seemed to start a first round of experiments, but then nothing would happen, and there was no error message.
- Went on github and found previous issues, tried modifying memory, where '/tmp' was, plasma_

[2020-04-28 17:37] richardliaw commented on #8165
Got it. @redzhepdx I just opened a PR to attempt to make your user experience better: https://github.com/ray-project/ray/pull/8216

Basically:
[code]

[2020-04-28 17:41] richardliaw commented on #8165
BTW, any reason to use BayesOpt instead of say Scikit-Optimize (SkoptSearch)?

[2020-04-28 19:03] ericl opened #8218 "[rllib] Improve sampler microbenchmark performance"
### Describe your feature request
Currently RLlib is a bit slow training small envs like Cartpole in the single threaded setting. This is since the sampler is pretty complex and has a lot of overhead for toy envs.

Possible fixes: fast path for non vectorized / multiagent envs, write sampler compiled in Cython.

[2020-04-28 19:12] richardliaw opened #8219 "[tune] Functional Training Pipeline API"
### Describe your feature request

Being able to apply different "optimization operators" to different trials seems quite useful. For example:

1. First run Bayesian optimization + Early stopping on data featurization.
2. Then, on the best featurizations, train multiple models with different decays.
3. Finally, take these trained models and run PBT for fine-tuning.

[2020-04-28 20:49] rtolsma opened #8222 "How would I calculate the mean policy? [tune] [rllib]"
I'm using the Tune API currently to train a multiagent environment with PPO with continuous state/action spaces, which works quite well. After training, I wanted to visualize what the mean policy looks like, but I can't figure out how to get the mean action. Is there a way to get the mean action (from the policy distribution) from a PPOAgent or PPOTrainer? Right now, for visualizing I use the `my_

[2020-04-28 20:56] redzhepdx commented on #8165
I am using HyperOpt(Tree-structured Parzen Estimator) now but on the low capacity devices, the execution of BayesOpt(Bayesian Optimization) is faster than other algorithms. I would like to have the functionality of switching between different hyper-parameter optimization algorithms according to the hardware specs of any device.

[2020-04-28 23:36] richardliaw commented on #8165
Thanks got it; I'll get this merged in a day or two.

[2020-04-28 23:47] richardliaw commented on #8212
Hm, that sounds like a pretty bad experience (but definitely a really useful user journey) -- thanks for typing this all up. I'll look into making this better.

In any case, glad you like it! For next steps:

1. You might consider using an early stopping mechanism like "AsyncHyperBandScheduler".
2. Since you're using Pytorch, I'd look into using RaySGD for Pytorch (https://docs.ray.io/en/latest/ra

[2020-04-29 02:20] GoingMyWay commented on #6718
@edoakes Hi, should I add `ray.shutdown()` in my code when finishing my task?

[2020-04-29 04:04] rkooo567 commented on #8190
Hmm.. this looks very odd.. can you try uninstall ray and reinstall it?

[2020-04-29 05:44] robertnishihara commented on #8212
@richardliaw Do we understand why there weren't any error messages? Is there a bug causing them to get suppressed?

Maybe we should make these things a bit more hidden. It seems really unlikely that changing them will solve people's problems, but it will be frustrating.

Maybe the default way to view these should just be through the dashboard, and they should be somewhat hidden except when we dete

[2020-04-29 06:30] rkooo567 opened #8227 "[rllib][P0] Rllib Regression Test & Impala Long Running test failed (Possibly due to memory leak)."
### What is the problem?
#### rllib Regression test (apex)
[code]

Impala Long Running Test
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*
0.8.5 (not released yet. Follow the branch releases/0.8.5)

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e

[2020-04-29 06:36] ericl commented on #8227
cc @edoakes @stephanie-wang if you have any suspicions. Otherwise will debug tomorrrow.

[2020-04-29 08:19] pmacalpine opened #8228 "[rllib] Wrong number of steps per iteration using experimental distributed execution API"
### What is the problem?
When using the experimental distributed execution API (on by default) an iteration isn't ended when timesteps_per_iteration steps have occurred, but instead only when at least timesteps_per_iteration+1 steps have occurred.  If I turn off the experimental distributed execution API (use_exec_api = False) the iterations are correctly ended when timesteps_per_iteration steps h

[2020-04-29 08:26] sofietorfs commented on #2658
I'm using ray version 0.8.2 and python version 3.6.9 and I am experiencing the same problem.
I'm quite new to python and sphinx, so I don't understand the solution. Would it be possible for someone to explain it for me?

[2020-04-29 13:02] nanxintin commented on #6669
Hi @josjo80 @ericl , I define a custom_metric, such as "win_rate". I change the metric of PBT from "episode_reward_mean" to {"custom_metrics":{"win_rate"}}, but it has an error. Do you have any suggestions? Thanks.

[2020-04-29 14:12] sven1977 commented on #7923
Sorry for the delay. Taking a look now. ...

[2020-04-29 14:43] sven1977 commented on #7923
Hmm, I think it's simply your +/- inf states (observation space does not matter here b/c you don't use it in your env) that the env produces sometimes. Your state outputs are directly calculated from your actions (without any bounds checking), so there is definitely a lot of opportunity here for such instabilities.

[2020-04-29 14:56] lenassero commented on #4159
Hi !
I am trying to use the `ray.experimental.queue.Queue` across multiple actor processes.
In the simple case, I am testing it for one actor process as follows:

[code]
This results in the following error:
[code]

Do you have an idea why ?
Thank!

[2020-04-29 14:59] janblumenkamp commented on #7923
No problem, thanks for taking a look!
I also tried a bounded action space and I think the same thing happened. The [stable-baselines claim](https://stable-baselines.readthedocs.io/en/master/guide/rl_tips.html) that it is always best to normalize the action space from -1 to 1 and then map from that range to whatever is needed, does that also make sense for RLlib? Eventually, I used stable-baselines

[2020-04-29 15:00] sven1977 commented on #7920
@yosagi Thanks for filing this issue!
Please use this PR for a fix: https://github.com/ray-project/ray/pull/8231
Will be merged today or tomorrow. Closing this issue.

[2020-04-29 15:00] #7920 closed

[2020-04-29 15:28] janblumenkamp commented on #7341
That makes a lot of sense, that is exactly what I needed! I implemented it and it yields slightly better results as the naive implementation, but faster and with less required memory!

I took the [PPO torch policy](https://github.com/ray-project/ray/blob/1775e89f262111791fabfd40f80a24f74738fe54/rllib/agents/ppo/ppo_torch_policy.py) as base and implemented my own `postprocess_ppo_gae` and `ppo_surr

[2020-04-29 16:15] #8203 closed

[2020-04-29 16:44] sven1977 commented on #8214
Hmm, could you check, whether you have the version of `visionnet_v2.py`, where we set data_format="channels_last" in all `tf.keras.layers.Conv2D` calls? Which ray version/commit are you running?

[2020-04-29 16:46] RaedShabbir commented on #4614
@Kismuz
Was this functionality ever added in? Any advice on how I would enable Tensorboard logging for the periodic evaluation loop?

[2020-04-29 18:44] walterddr commented on #7904
created a POC #8217, please kindly take a look :-)

[2020-04-29 19:17] sean-metzger commented on #8212
Thanks for the follow ups!
I think just having error messages in the output would've been the most helpful - i was pretty lost for a while as a new user, just because there was nothing to go off in the main output file (our server prints to a txt file in our userdata), wheras other programs print a Traceback there etc. I didnt really know to go to a dashboard etc from the 3 tune tutorial notebooks

[2020-04-29 19:38] ericl commented on #8228
Is the ">=" fix enough or are there any other issues?

[2020-04-29 19:54] pmacalpine commented on #8228
I think the  ">=" fix is all there is to it -- it fixes the problem for me.

[2020-04-29 20:00] ericl commented on #8228
Ok awesome, I rolled it into https://github.com/ray-project/ray/pull/8221

[2020-04-29 20:35] sven1977 commented on #7923
Yeah, it absolutely makes sense. We are currently simply clipping actions to the given bounds. There is a related issue that I would like to fix on PPO and the difference in action spaces [0, 1.0] vs [-1.0, 1.0], tc... Our PPO could simply use a SquashedGaussian or BetaDistribution for these spaces, which should all work better than clipping. We'll fix this.

[2020-04-29 20:35] pcmoritz commented on #7820
Another related question here (which would be the most useful first pass even before we do typing for ObjectIDs) is how to type `ray.remote` such that the type of

[2020-04-29 20:56] yxue-kabam opened #8235 "[docs][autoscaler] additional dependencies needs to be mentioned to build your own autoscaler image"
### What is the problem?
While building my own image for ray as described by https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/kubernetes/example-full.yaml#L112 , I found additional tools needs to be added: uptime and kubernetes python package

*Ray version and other system information (Python version, TensorFlow version, OS):*
debian-stretch
python 3.7

### Reproduction (REQUIR

[2020-04-29 21:17] #8227 closed

[2020-04-29 22:06] kanaadp commented on #8158
@sven1977 A further update on this problem. It seems to be resolved if you do not pass `info['result']['training_iteration']` to the update_curriculum function in the lambda.

Literally changing the on_train_result function to the following works:

[code]

[2020-04-30 01:13] rkooo567 commented on #8166
Hi, @Servon-Lee ! Would you mind sharing your discovery here? It'll be great for future users who will encounter the same question!

[2020-04-30 01:18] rkooo567 commented on #8167
Thanks for asking the question! I have some clarification questions before answering them.

What do you mean by local copies? Can you explain a bit more?

You don't need to have it because Ray will import functions with @ray.remote to other nodes in the cluster under the hood. When you run your remote functions, they will be retrieved and run in different processes in the cluster.

[2020-04-30 01:28] rkooo567 commented on #8196
So, there can be many possibilities why you have that error. The first thing to think about is "are you actually using that amount of memory"? Ray uses reference counting mechanism under the hood, and objects that are used by you are pinned and never be evicted from plasma store. If you store object stores somewhere in your driver and if they are not released (not Gc'ed from Python), they are not

[2020-04-30 01:29] rkooo567 commented on #8235
@edoakes Seems like we should add these dependencies to our docker image?

[2020-04-30 01:34] rkooo567 commented on #8163
Ray doesn't innately support this for now. (It currently does not support resource isolation). You should probably find a way to pin each task to GPU. For example, when you want to pin CPU, you can do sth like this https://stackoverflow.com/questions/61051911/how-to-ensure-each-worker-use-exactly-one-cpu. (I am not that familiar with GPU, but I assume there should be a  way to do). @robertnishihar

[2020-04-30 03:57] Nicholaz99 commented on #6669
Hi @josjo80 @ericl I have a similar project to you, where I want to implement self-play using PPO for a 4 vs 4 games. I notice that your code for policy mapping fn will work if it is for 1 vs 1 game, but if I try to use it 4 vs 4, there is a chance that the opposite side will use 4 different policy, as the random choice will be called on each agent (which mean there is a chance that the agent on o

[2020-04-30 04:30] Servon-Lee commented on #8166
The problem I found is that lots of network resources will be used when I connect 512 worker nodes to a head node without running any task, i.e., running ``ray start --head --redis-port=6379`` at the head node (10.188) and ``ray start --address='192.168.10.188:6379' --redis-password='5241590000000000'`` at other nodes.

As the number of nodes increases, the network traffic is used like the followi

[2020-04-30 05:03] rkooo567 opened #8239 "[Core][P0][Release Blocker] string op segfault in HandleCoreWorkerStats"
### What is the problem?
Nodes are rarely crashed at HandleGetCoreWorkerStats. This RPC endpoint is called when dashboard collects rayletstats from node manager. We got some report that large clusters are failed when dashboard is turned on. This could be related.

[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)

Unfortunately

[2020-04-30 05:07] rkooo567 opened #8240 "[rllib] regression test fails on "could not import pytorch""
### What is the problem?
After running the regression test, I saw these 4 tests failed with the same error below.

<img width="1233" alt="Screen Shot 2020-04-29 at 10 06 33 PM" src="https://user-images.githubusercontent.com/18510752/80674055-b159be00-8a65-11ea-87e6-54b786b67593.png">

[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQ

[2020-04-30 05:51] rkooo567 commented on #8035
Let me know if I understood you correctly! So you are saying you want to ray.init() on your local machine, and it will only run function.remote() (which is compute heavy) to the ray cluster. Am I correct?

[2020-04-30 06:06] Servon-Lee commented on #8166
Thanks a ton! I think that's what I'm looking for. But can I change ``raylet_heartbeat_timeout_milliseconds`` in CLI?  For now, I have to connect all nodes through CLI and then run ray init()...

[2020-04-30 06:17] stephanie-wang commented on #8166
Yes, you can do that! It's a bit ugly, but you just have to pass in a flag like this to the `ray start` command (make sure to do it on both the head and worker nodes):
[code]

[2020-04-30 06:31] Servon-Lee commented on #8166
COOL!!! It works! Thank u so much!

[2020-04-30 07:05] nanxintin opened #8242 "PBT training in server-client training mode"
Hi, I want to train an RL agent with PBT in server-client mode, such as ray/rllib/examples/serving/cartpole_server.py.  Does anyone has any suggestions? Thanks.

[2020-04-30 07:15] jenniew opened #8243 "[Core] Does ray scheduler get such overhead as expected"
I use Ray 0.8.4. And I need to distribute workload on multiple nodes with Ray.  I have 4 nodes, and each node has 44 cores. I launch multiple tasks, then use ray.wait to wait the object ids to be ready. In each task, I print task start time. When I run 44 tasks on 1-node cluster, the last task starting time is ~0.03s later than the first task; when I run 88 tasks on 2-node cluster,  the last task

[2020-04-30 08:36] sven1977 commented on #8158
Hey @kanaadp Thanks for the update. We'll get this merged today. I will reopen this issue, b/c we should dig deeper into checking, why these props do not exist in PPO. But at least your errors are fixed via this patch.

[2020-04-30 09:08] yangw1234 opened #8244 "[core] ray.init does not work if run in a node with external ip while the cluster is started internally"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray verison: 0.8.4

### Reproduction (REQUIRED)

1. start a cluster in a internal network
2. run `ray start --address xxxx` in a node with both internal and external ip
3. call `ray.init(address=xxxx)` in python will fail.

After examining redis and ray code, I found that step 2. will reg

[2020-04-30 09:10] ucasFL opened #8245 "[ray] upload osdi18 slides"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Hi, where can i find Ray: A Distributed Framework for Emerging AI Applications paper's presentation slides on OSDI18, i look up in usenix website, but didn't find it.

[2020-04-30 09:22] Servon-Lee commented on #7519
Hi, @preeth1. Do you solve the problem?

[2020-04-30 09:58] xuehui1991 opened #8247 "Training reward and the evalution reward in stdout?"
### What is your question?
Dear ray team,
I just run a apex-dqn pong example  in ray, the config file could found here:
https://github.com/ray-project/ray/blob/master/rllib/tuned_examples/pong-apex.yaml

Here is the result:
== Status ==
Memory usage on this node: 13.9/503.8 GiB
Using FIFO scheduling algorithm.
Resources requested: 5/28 CPUs, 1/8 GPUs, 0.0/93.12 GiB heap, 0.0/32.13 GiB objects
Resu

[2020-04-30 10:26] Alwinator opened #8248 "[rllib] Pretrain with expert dataset / optimal agent?"
### My Question:
#### Short version
How do I pretrain my agent using the optimal agent?
(Similar to [StableBaselines .pretrain method](https://stable-baselines.readthedocs.io/en/master/guide/pretrain.html))

#### Long version
I have an expert dataset created by a python script including the optimal agent. Now I want to use this dataset to pretrain my agent, that the "real" training doen't take tha

[2020-04-30 10:40] alexmascension commented on #8164
Hi,

I've inserted the function into the Colab if you want to test it. The times I get now are (3 times):
N = 5000, L = 1000000, n_cpus = 56

`parallel_wait_with_bar`: 19.95 | 19.87 | 19.85

`parallel_wait_without_bar`: 18.94 | 19.69 | 18.51

`parallel_without_bar`: 5.37 | 4.35 | 4.27

`single_with_bar`: 50.24 | 50.36 | 48.47

It seems to do not that much. I guess there has to be somthing with the

[2020-04-30 12:27] josephlucas-arc commented on #8245
https://rise.cs.berkeley.edu/wp-content/uploads/2017/07/Ray-BDDRISE-MiniRetreat-201705.pdf

[2020-04-30 12:27] JosephTLucas commented on #8245
https://rise.cs.berkeley.edu/wp-content/uploads/2017/07/Ray-BDDRISE-MiniRetreat-201705.pdf

[2020-04-30 12:32] JosephTLucas commented on #8190
I just successfully installed with just "pip install ray" on a brand new Ubuntu 18.04.3 LTS EC2 image in US-East-1.

[2020-04-30 15:16] OnTheRicky commented on #4762
Has this been implemented already?
If so, what changes are required to see the graph in tensorboard?

[2020-04-30 16:02] nklarer commented on #8190
Apologies, guys. Looks like the instance didn't have cython installed. I assumed it did. That resolved the issue.

[2020-04-30 16:18] yxue-kabam commented on #8235
@rkooo567 `ray/autoscaler` already have these packages if that's what you are referring to

[2020-04-30 16:30] rkooo567 commented on #8245
Btw, many implementation of that paper became obsolete. Just keep this in mind while you are reading it!

[2020-04-30 16:42] vrangaswamy opened #8251 "Ray actors marked as dead while large file are being written."
### What is the problem?
**ray 0.8.2**

I have the following setup: I have 2 nodes on my driver and many other nodes on remote machines. One of the nodes on my driver is periodically writing large files to disk. When the disk-writer writes the file, I get the following error:

[code]

Shortly after, my job crashes.

Writing to disk was taking > 30 seconds. I was able to work around this bug by adj

[2020-04-30 16:44] rkooo567 commented on #8251
Is there any way you can see if the same issue happens in 0.8.4?

[2020-04-30 17:28] ericl commented on #8251
To clarify, the disk writes are occuring in a task? (repro script would help clarify)

[2020-04-30 17:29] JosephTLucas commented on #6993
This might be within my capability (found via `good first issue` tag).  Can someone reference me to the `ray up` section of the codebase?

[2020-04-30 17:34] simon-mo commented on #6993
Sure! Here's the code that correspond to `ray up`

https://github.com/ray-project/ray/blob/b23b6addfcfd4be7a27e58aefbecb3fd7dd6510c/python/ray/scripts/scripts.py#L523-L566

https://github.com/ray-project/ray/blob/b23b6addfcfd4be7a27e58aefbecb3fd7dd6510c/python/ray/scripts/scripts.py#L999

[2020-04-30 17:41] rkooo567 opened #8254 "[Core] Node Failure Long Running Test Failed at `grpc::ServerInterface::RegisteredAsyncRequest::IssueRequest()`"
### What is the problem?
Node Failure Long Running test fails with the error log below.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)

This is hard to reproduce, but it happens consistently in multiple long running tests. For the logs above, it happens after 2909 iterations.

- [ ] I have verified my script runs in a clea

[2020-04-30 18:07] ericl commented on #8158
@kanaadp based on your fix it looks like this isn't a bug in RLlib -- you just need to make sure your closure does not capture the "info" dict. The reason is the info dict isn't serializable so will raise errors when called remotely.

[2020-04-30 18:07] #8158 closed

[2020-04-30 18:14] vrangaswamy commented on #8251
I'll attempt a repro script with 0.8.4--look out for that in the next few days.

[2020-04-30 18:47] simon-mo opened #8257 "Redis-Py Deprecation Warnings"
[code]

[2020-04-30 20:10] JosephTLucas commented on #6993
Thanks! Yeah, I think I can do that.  I'll take a stab over the weekend and get you a PR.

[2020-04-30 20:22] DavidVillero opened #8259 "Extracting and Loading Model in rllib"
Hello,

For deployment purposes, I have been trying to extract a model from a DQN/Rainbow policy that I have trained. I found the cartpole_dqn_export.py script in the examples folder and I was looking at the restore_saved_model and the restore_checkpoint functions which I can use to load my models and restore them back to a checkpoint.

[code]

However, I'm a bit confused as to how I could pass a

[2020-04-30 22:17] richardliaw opened #8260 "Support TPUs across all of Ray"
### Describe your feature request

Ray should be able to leverage TPUs in Tune, RaySGD, RLlib, core Ray, etc.

This is similar to supporting GPUs (with GPU isolation).

[2020-04-30 22:18] richardliaw commented on #8260
Actually, one option would simply be to implement a generalized resource isolation abstraction, as outlined here: https://github.com/ray-project/ray/issues/7204.

[2020-04-30 22:28] richardliaw commented on #8245
Oh jeez that presentation is old!

I'm supposed to be the one responsible for sending this to the usenix folks... I'll take care of this in a couple days.

Here's a version of the slides of the talk we gave at OSDI.
[2018-10-10 - Ray talk at OSDI (no backup).pdf](https://github.com/ray-project/ray/files/4561692/2018-10-10.-.Ray.talk.at.OSDI.no.backup.pdf)

[2020-05-01 00:57] rkooo567 commented on #8240
Resolved by downloading pytorch

[2020-05-01 00:57] #8240 closed

[2020-05-01 02:34] GoingMyWay commented on #6857
You can add CNN to _build_actor_network and _build_critic_network in maddpg.py.

[2020-05-01 03:07] royf opened #8262 "[rllib] Replay buffer compression fails"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: 0.8.4
Python: 3.8.2
OS: macOS 10.15.4
cloudpickle: 1.3.0

### Reproduction (REQUIRED)

[code]

The same also fails for `default_policy=ExampleTFPolicy`, but not for `num_workers=2` (with either TF or Torch).

- [X] I have verified my script runs in a clean environment and reproduces

[2020-05-01 08:08] #7849 closed

[2020-05-01 08:09] sven1977 commented on #8062
I put this on my next sprint to be fixed, starting Monday.

[2020-05-01 08:15] rkooo567 commented on #8239
Likely to be resolved with https://github.com/ray-project/ray/pull/8253. Will remove release blocker / P0 sign, but keep the issue open just in case the PR won't fix the issue.

[2020-05-01 08:35] MoggeM commented on #8041
Did you implement this for rllib? If so, would you mind sharing how you did it?

Im also experiencing NaN problems which I suspect is caused by this.

[2020-05-01 10:00] zewenli98 opened #8263 "[ray] Can RAY pause and continue tasks distributed to the cluster's nodes?"
### What is your question?

I'm not sure if RAY has the ability to pause and continue tasks distributed to the cluster's nodes.

For example, if there is a task running in my cluster, but at this point, a higher-priority task has to be executed immediately. I wonder if RAY is able to pause the low-priority task and then switch to execute the high-priority one. After it's finished, the low-priority

[2020-05-01 11:40] pingsutw opened #8264 "[tune] Does tune support distributed training in each trial?"
### What is your question?
We have a large dataset, and I use distributed TF training in my machines.
I know tune can distribute each trial in different single machines.
Is it possible to run each trail in two or three machines?
If yes, are there any examples?

[2020-05-01 12:08] internetcoffeephone opened #8265 "[rllib] Partially evaluating custom model, selecting action, then continuing model evaluation"
I'm building a custom model with multiple output heads: one actor-critic output (value function, action distribution) and several others. These latter heads depend take the selected action as input.

To list the heads:
- A: Actor-Critic output head
- B: Addtional output head, depends on output of A
- C, D: Additional output heads, depend on output of B

The only thing that comes close to this is t

[2020-05-01 13:32] internetcoffeephone commented on #8265
@eugenevinitsky Tagging you because you've worked on something similar - though your model only had A and B, where B is the MOA in the [social influence paper](https://github.com/eugenevinitsky/sequential_social_dilemma_games).

Despite the fact that your MOA implementation did not require any additional model evaluations, do you have any ideas on how to tackle the above problem?

[2020-05-01 13:47] edoakes commented on #8239
@rkooo567 please close the issue if this isn't observed in next batch of release tests.

[2020-05-01 14:38] alexanderimanicowenrivers opened #8266 "[rllib] How to modify trainbatch"
hey,

1) I am using the python version, and specifically using the torch ppo policy. I am trying to adapt Rllib so it can handle constrained reinforcement learning environments, which have constraint information all put into the gym info dict by default. What I would love is to be able to do train_batch[SampleBach.Cost] as we do with train_batch[SampleBach.Rewards] so I can use this information in

[2020-05-01 15:03] internetcoffeephone commented on #8265
I just realized that I could probably do this in the loss function, where there's access to all relevant parameters. I will try this later and report back

[2020-05-01 15:24] pitoupitou commented on #8196
Again, thanks so much for your answer Sang-Cho!
_lru_evict_ worked, but a simple upgrade from from ray==0.6.1 to ray==0.8.4 also did the job, without using the _lru_evict_ parameter.

However, I now see hundreds of lines, in /tmp/ray/session_xxx/logs/python-worker_yyy, saying:
"Trying to put an object that already existed in plasma"

For context, I am training an agent using Deep Learning and Para

[2020-05-01 16:56] crypdick commented on #8251
I believe I ran into this issue when when I was downloading a pre-tuned torchvision model on a slow internet connection. When I re-ran the script it worked fine since it was using the cached weights.

[2020-05-01 17:34] vrangaswamy commented on #8251
I've pasted my attempt at a repro script below. The behavior I was trying to reproduce is the DummyActor crashing when the DiskActor writes its large file, but unfortunately in a devo environment I was only able to get this to crash nondeterministically.

On an EC2 p3.8xlarge, after ~ 10 minutes, this results in the following error message after successfully writing to disk many times.  However, a

[2020-05-01 18:41] ericl commented on #8266
1) With torch this is particularly easy, the info dict is already available in `train_batch["infos"]` in `def ppo_surrogate_loss(policy, model, dist_class, train_batch)`. You can customize the policy with a loss that includes the costs from the info dicts (after converting to a torch tensor).

2) Easiest way is probably to edit the execution plan here: https://github.com/ray-project/ray/blob/maste

[2020-05-01 18:45] ericl commented on #8262
What's the error? It seems to run for me up to 70k timesteps. Maybe `pip install ray[rllib]` or `pip install lz4`?

[2020-05-01 18:55] royf commented on #8262
I did install with `pip install ray[rllib]`, and lz4 version 3.0.2 was installed as a dependency.

The error is:

[code]

But it seems the problem is not in `pickle.loads`, it's earlier in `pickle.dumps`.

[2020-05-01 19:01] ericl commented on #8260
Should we detect TPUs as GPUs? Not sure if the distinction is meaningful.

[2020-05-01 19:04] #7403 closed

[2020-05-01 19:08] ericl commented on #7472
Note: may want to hold off until https://github.com/ray-project/ray/pull/8221 is merged, which swaps out the execution backend for Apex-DDPG.

[2020-05-01 19:11] ericl commented on #8262
Oh weird, maybe this is a Python 3.8 pickling issue? cc @pcmoritz @suquark if you've seen anything like this

[2020-05-01 19:24] richardliaw commented on #8260
You would want to do the equivalent with `CUDA_VISIBLE_DEVICES` for TPUs

[2020-05-01 20:06] ericl commented on #8251
Thanks for the detailed writeup! At a first glance, it seems like it may be possible to reproduce even if the disk actor is running outside of Ray (e.g., it's just triggered by high system load). Do you have an intuition of whether this is the case?

Also, I wonder if writing to /tmp (iirc this is stored in memory and might cause swapping) vs some other disk makes a difference.

[2020-05-01 20:10] vrangaswamy commented on #8251
I think you're right about the first thing (being triggered by high system load). On the instance that I was using, /tmp is not actually a tmpfs but an EBS volume, so I don't that was the issue.

[2020-05-01 20:31] ericl commented on #8251
Hmm weird, it's hard to imagine EBS / network writes starving the heartbeats from getting through for 30 seconds at a time.

`1000s of remote worker nodes` -- is this literally multiple thousands? I wonder if this was already at a tipping point for scalability or something like that. Could you attach ray logs for the head node? There might be some indications that heartbeats are falling behind eve

[2020-05-01 21:11] ericl commented on #7204
I think a more general way would be to have a `pre_execute_hook` that can be globally registered for all tasks / actors. Then you can put whatever you want in there including resource isolation settings.

[2020-05-01 21:37] richardliaw commented on #7204
Yeah, I actually think that's a great idea... we have makeshift versions in rllib and raysgd already.

[2020-05-01 21:37] richardliaw commented on #7204
Though the thing, for say CUDA devices, how do you know what GPU are you given?

[2020-05-02 01:27] royf commented on #8262
I can confirm that I don't see this issue in a Python 3.7 environment.

[2020-05-02 13:06] vakker opened #8284 "[tune] AxSearch issues with max_concurrency"
### What is the problem?
Using `AxSearch` throws
[code]

Ray: latest master (76e1a4df)
Python: 3.7
OS: Ubuntu 18.04

### Reproduction (REQUIRED)
Just run the Ax example from [here](https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/ax_example.py).

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs

[2020-05-02 17:06] nmayhall-vt commented on #3644
I'm hitting this bug it seems, but I don't quite understand the workarounds. My case seems like a simple use case for ray - I need to do many distinct and cpu heavy computations reading from the same data objects. So I put the large objects in the object store via ray.put(). Then my remote function reads this data and does one of the computations. The actual code is quite lengthy, but the main flo

[2020-05-02 18:04] richardliaw commented on #8284
@vakker thanks a bunch for raising the issue! I just posted a fix https://github.com/ray-project/ray/pull/8285.

max_concurrent for AxSearch should be an integer, and it is one of the only algorithms that leverage `max_concurrent` still (so it's not legacy yet 😄 ). Sorry for the confusion and again, thanks a bunch for taking the time to raise this issue.

[2020-05-02 18:10] richardliaw commented on #8264
@pingsutw, yep this should work. Here's a high level for how you can make it work: https://docs.ray.io/en/master/tune/api_docs/trainable.html#advanced-resource-allocation

We do this for pytorch already: https://docs.ray.io/en/master/raysgd/raysgd_pytorch.html

You can build your own using the RaySGD TFTrainer.

[2020-05-02 18:26] vakker commented on #8284
@richardliaw great, thanks!
So how does `AxSearch` interact with `ConcurrencyLimiter`?
How is the following supposed to be?
[code]

[2020-05-02 18:43] richardliaw commented on #8284
Hm, good point - I guess what we would want to do is:

[code]

[2020-05-02 21:57] Camq543 commented on #8214
That was not in my `visionnet_v2.py` file. I tried adding that into the `Conv2d` calls, but got the same error, but I assume other updates were made to the library so just adding that line may not fix the issue. I am running the version of ray that is currently installable through pip for python 3.6. I believe the version num is 0.8.4.

[2020-05-02 23:45] robertnishihara commented on #3644
@nmayhall-vt there is something a little subtle happening here.

If you are doing something like

[code]

Then you should be able to avoid the issue by doing

[code]

The reason is that when you call `ray.get` inside of a remote function, Ray will treat the task as "not using any resources" until `ray.get` returns, and so will potentially schedule additional tasks, which may require additional wor

[2020-05-02 23:47] richardliaw commented on #8092
@sumanthratna sorry for the late reply; we'll be fixing this in the next two weeks.

[2020-05-03 03:40] rkooo567 opened #8291 "[Core] Long Running Test test_many_drivers.py failed after 2 days with (Failed at ProfileEvent)"
### What is the problem?
`test_many_drivers.py` long running test failed after 2 days. @simon-mo mentioned he saw the same issue from his PR.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Nightly Wheel

<img width="1241" alt="Screen Shot 2020-05-01 at 3 16 34 PM" src="https://user-images.githubusercontent.com/18510752/80898118-9c269e80-8cb4-11ea-8a24-12099ea

[2020-05-03 03:59] rkooo567 opened #8292 "[GCS] Actor creation / kill Performance Regression. Stress Test, `test_dead_actors.py` became slower with GCS service."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
nightly

There was performance regression (`test_dead_actors.py` was 4 times slower) with GCS service on. We will turn off the GCS service for the release 0.8.5. We need investigation on this.

## GCS ON
[code]

## GCS OFF
[code]

### Reproduction (REQUIRED)
Please provide a script that c

[2020-05-03 08:36] vakker commented on #8284
Yeah, that's what I would assume.

What is the idea behind `ConcurrencyLimiter`? To reduce code duplication across different `Search` implementations or something else?

[2020-05-03 11:18] danigosa commented on #7383
This would enable easily integration with standard metrics tools like Prometheus by doing a ray-prometheus-exporter that exports from dashboard to prometheus data without having to use intrusive and discouraging push-gateways, the proper way

[2020-05-03 11:53] pingsutw commented on #8264
@richard4912 Great. Thanks for the help.
This is what I looked for.

[2020-05-03 15:59] OnTheRicky opened #8294 "[rrlib] "pause" individual agents in multi-agent env"
### What is your question?

I have a custom multi-agent environment where there is always the same number of agents interacting with the environment. An individual agent can take an action to take a break for a fixed time period, and then returns (this creates a dynamic where the other agents are still interacting with the environment without the paused agent). For the "paused" time however, the a

[2020-05-03 16:40] JarnoRFB opened #8296 "[docs] Issue on `deploy-on-kubernetes.rst`"
# Documentation Problem/Question/Comment

Following the documentation it should be possible to start an interactive ipython shell on the head node.
[code]

However, when I tried this, ipython seemed to be not installed and I first had to install it using `pip`.
I can add ipython as a dependency to the autoscaler container if desired.

(Created directly from the docs)

[2020-05-03 17:18] richardliaw commented on #8264
great! @pingsutw is you end up getting it to work, would you be interested in contributing an example?

[2020-05-03 17:26] pingsutw commented on #8264
@richardliaw sure, it's my pleasure.
I will do it.

[2020-05-03 18:29] ruben39x2 commented on #7871
You can implement a class that inherits from `DefaultCallbacks` and use the custom callbacks to add values to `episode.custom_metrics`. They will be automatically added to the logdir and you can see them on Tensorboard.

Follow this example and you should be ready to go in less than an hour or so https://github.com/ray-project/ray/blob/0c80efa2a37f482494fbffbe9e81f61586b03ecb/rllib/examples/custom

[2020-05-03 20:47] sven1977 commented on #8135
Just reproduced it. Happens in tf and torch at roughly the same time. The loss is already NaN at the first optimizer step. Taking a closer look. @janblumenkamp Yeah, these issues could be all related. We'll see. ...

[2020-05-03 20:57] sven1977 commented on #8135
Got it. It happens in our Lambda layer in the DDPG model. In there, we "scale" the actions to be within the bounds, which causes this issue due to the bounds being [-inf inf]:
[code]
Will fix this. ...

[2020-05-03 20:57] sven1977 commented on #8135
@janblumenkamp @yskim5892 @regproj

[2020-05-03 20:58] sven1977 commented on #8135
Thanks for filing this issue @yskim5892 !

[2020-05-03 21:30] regproj commented on #8088
Does the action distribution for ppo (or ddpg, sac, etc.) start off as a unit gaussian? If so, would it be better for convergence if we set the environment action bounds to something like -1,1 and rescaled it inside the environment?

[2020-05-03 22:26] simon-mo commented on #8291
The issue seems to be during worker shutdown, there's a race condition between import thread and core worker. The core worker is already shutdown but the import thread was trying to get core worker to `fetch_and_run_function`. Because profiling the `fetch_and_run_function` requires a valid core worker instance, but the core worker is already shutdown, therefore we see the segfault.

[2020-05-03 22:29] EDario333 commented on #1013
Hi there,

I tried with VPN and it failed...

Steps:

1. On server (head) run: `$ ray start --head --redis-port=6379`

![3-server](https://user-images.githubusercontent.com/24981684/80927274-4dcfd900-8d62-11ea-955b-880c6b319b92.png)

2. Check with `nmap` the communication from client to server:

![1-nmap 6379 server](https://user-images.githubusercontent.com/24981684/80927240-0b0e0100-8d62-11ea-8a

[2020-05-04 02:39] GoingMyWay commented on #4357
This is a issue in ray 0.8.2 with offline data via setting the input config with a JSON dataset path.

[2020-05-04 03:27] GoingMyWay commented on #4498
@opherlieber Hi, is this issue fixed now?

[2020-05-04 08:21] sven1977 commented on #8135
Ah, it's our OrnsteinUhlenbeck Noise exploration module.
In there, we scale the noise according to the action-space range (in this case: inf). Noise is inf, action becomes inf.
Question is: How large should noise be in case of an [-inf, inf] action space? 1000? 100? 1? 10? :)

[2020-05-04 08:22] sven1977 commented on #8135
So there are two similar bugs here: Lambda squashing layer and the noise. Will create a PR today.

[2020-05-04 08:53] vivecalindahlericsson opened #8301 "[rrlib] Catch timeout error for Impala and improve error message"
When running Impala with a busy scheduling of new simulations (short horizon, many resets), I got the following assertion error

[code]

After a significant amount of checking code, trial and error debugging, I realized that the source of the problems is a queue-related timeout that should lead to an error (I think) but for some reason the assertion error is what is seen. There is also a trainer c

[2020-05-04 09:25] sven1977 commented on #8135
Here is the PR: https://github.com/ray-project/ray/pull/8302
Please let me know, if this doesn't work somehow. I tested both tf and torch versions of DDPG and none of them was showing the problem of inf actions/rewards anymore.
Closing this issue. Feel free to re-open if the problem still occurs on your end.

[2020-05-04 09:25] #8135 closed

[2020-05-04 09:41] sven1977 commented on #8128
Thanks for filing this @henrypfister. Taking a look now ...

[2020-05-04 11:44] 0luhancheng0 opened #8303 "rllib: Using gym.RewardWrapper around MultiAgentEnv cause observation mismatch with observation_space"
# system config
* python version: 3.6.2
* Ray version: 0.8.4
* Tensorflow version: 1.14.0
* OS: CentOS 7
* gym version: 0.17.1

# problem
I was trying to use customize my multi-agent env with some reward shaping using gym.RewardWrapper, and it gives me error
[code]

Here is a minimal example
[code]
Running this above code block give me the following error
![image](https://user-images.githubusercon

[2020-05-04 11:57] sven1977 commented on #8062
Hey @5cp Could you try it with this PR here?
https://github.com/ray-project/ray/pull/8304
None of our Schedules uses py_function anymore, such that they should all be differentiable now.
Please let me know, if this doesn't fix your issue and feel free to re-open it.

[2020-05-04 11:57] #8062 closed

[2020-05-04 11:58] sven1977 commented on #8128
Hey @henrypfister Got it. It's a weird py_function related problem.
We'll get rid of `tf.py_function` in all our Schedules (which should also fix this related issue here #8062 ).
Here is a PR that fixes your script (tested right now):
https://github.com/ray-project/ray/pull/8304

Closing this issue. Please feel free to re-open it should this solution not work for you.

[2020-05-04 11:58] #8128 closed

[2020-05-04 13:24] sven1977 commented on #7796
Yeah, could just be something cosmetic, but we do want our metrics to be correct. :)

[2020-05-04 16:52] sven1977 commented on #8303
@0luhancheng0 thanks for filing this issue.
I found the problem. When you wrap your Env, our code does not recognize it as a MultiAgentEnv anymore and screws up the observation, which is then not recognized by the preprocessor. Will fix it and PR later today.

[2020-05-04 16:57] richardliaw commented on #8284
This is addressed in #8285. @vakker to me it serves two purposes - to reduce code duplication and also to isolate concerns away from the Searcher, so that the searcher code is easier to reason about.

[2020-05-04 17:00] internetcoffeephone commented on #8265
This was incorrect.

Instead, I did the relevant calculations one timestep later, and shifted all the values by one timestep in loss calculations. Any state I needed from A on the next timestep was moved to the model state output, which let me access it one timestep later. Now, A and B are evaluated in the same pass, and C/D can be as well (although I haven't done this yet in the commit below).

T

[2020-05-04 17:00] #8265 closed

[2020-05-04 17:31] vakker commented on #8284
@richardliaw yeah, that makes sense. The only thing that I can see is that `_live_trial_mapping` is used in many different ways in different Search algos, which might be a pain to factor out to a generic wrapper, but I don't know much about the planned design, so this might not be an issue at all.

[2020-05-04 17:32] #8284 closed

[2020-05-04 17:36] ThomasLecat opened #8307 "[tune] close logger after updating Trial status"
### Describe your feature request

Several experiment tracking systems, such as [neptune](https://neptune.ai/) or [Weights&Biases](https://www.wandb.com/) offer to categorize experiments as "Succeeded" or "Failed". This status is set when closing the logger.

Today, the `RayTrialExecutor._stop_trial` method closes the loggers before updating the status of the trial and updating its `trial.error_ms

[2020-05-04 17:44] richardliaw commented on #8307
Yeah that sounds good - in the finally block right?

A PR would be really appreciated - thanks!

[2020-05-04 17:46] richardliaw opened #8308 "[docs] Development and Contribution pages are very out of date"
Reducing the barrier to contribution would help a lot of people get started.

Right now, not only are the "development" pages hard to find, they're also out of date.

[2020-05-04 17:57] rkooo567 opened #8309 "[Async actor/Dashboard] 0x1020a3790 __pyx_pw_3ray_7_raylet_10CoreWorker_13set_webui_display()"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Nightly

When I ran ray microbenchmark in the latest master, I could see these errors that breaks the dashboard. I assume it happens when async actor monitor is calling the show_web_ui.
<img width="1380" alt="Screen Shot 2020-05-04 at 10 54 44 AM" src="https://user-images.githubuserconten

[2020-05-04 18:08] lennardsnoeks opened #8310 "[Rllib] Scaling train_batch_size and sgd_minibatch_size"
In my environment are N agents. I have a scenario where I train a policy for each agent and another scenario where all agents are trained by the same policy.

For PPO, should train_batch_size and sgd_minibatch_size be different in these scenarios?
For DDPG, should train_batch_size be different in these scenarios?

Also, should these numbers be scaled with the amount of workers? Going from the tune

[2020-05-04 18:11] rkooo567 commented on #8309
@simon-mo I assume this happens because of the same reason as CreateProfile errors.

[2020-05-04 18:22] showgood163 opened #8311 "[tune] when using repeater for Axsearch, report back (mean, std) instead of (mean, 0.0)"
### Describe your feature request
I think this is related to `ray.tune.suggest.ax.AxSearch` and `ray.tune.suggest.Repeater`.
I'm able to do this with less than 10 lines changes of code.
Is there any plan to officially support this?

[2020-05-04 18:43] showgood163 opened #8312 "[tune] How to save the ax and ray.tune search progress for the next training session?"
### What is your question?
I'm using `tune.Trainable` and `tune.run` to search hyparams, like https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/mnist_pytorch_trainable.py.

I want to save the hyparam search progress for another training session since my search space is so large and I don't want to waste any experiments.

And here are my questions:
1. What do I need to save? a

[2020-05-04 19:18] yutaizhou opened #8313 "Ray cannot identify non-base 10 GPU numbering on SLURM"
Hey all,

I am using Ray on SLURM equipped with 2 GPUs per node. I get the following error when I submit a job that acquired GPUs:

[code]

`echo "GPUS: $CUDA_VISIBLE_DEVICES"` gets me the following:
`GPUS: GPU-77e3a4cd-22fb-5d31-b8a6-409df6133eeb,GPU-3de6a983-6da7-e1cf-ffc6-a285c71ff5d3`

I am using Ray 0.8.4, and Python 3.6.10, on Ubuntu.

### Reproduction (REQUIRED)
Here are my sbatch shell scr

[2020-05-04 19:48] richardliaw commented on #8311
I think this would be a great addition! What does your code look like?

[2020-05-04 19:51] richardliaw commented on #8312
For saving hyperparameter search progress, I think you can just save `ax.client`.

I think you should be able to use https://ax.dev/tutorials/gpei_hartmann_service.html#7.-Save-/-reload-optimization-to-JSON-/-SQL

[code]
and for restore:
[code]

and feed it back into the AxSearch module.

[2020-05-04 19:54] richardliaw commented on #8313
Thanks for opening this issue @yutaizhou ! Is it possible to map the string back to the original device index (integers)?

[2020-05-04 19:58] sven1977 commented on #8303
Here is the PR that fixes the problem (test with your script passed). I'm closing this issue, but feel free to re-open it should the problem persist on your end.
Thanks again for letting us know about this!

https://github.com/ray-project/ray/pull/8314

[2020-05-04 19:58] #8303 closed

[2020-05-04 22:30] ericl opened #8318 "[rllib] BUILD shouldn't have "enormous" tests"
### What is the problem?

Travis tests often time out if any of the "enormous" test suites get retried, for example, test_supported_spaces.

These test suites should be split into smaller test rules to avoid timeouts cc @sven1977 .

[2020-05-05 00:09] ericl opened #8319 "[rllib] Vectorization & multi-agent are broken in DDPG (both TF and Torch)"
### What is the problem?

`./train.py --run=DDPG --env=MountainCarContinuous-v0 --config='{"num_envs_per_worker": 2}'`
and
`./train.py --run=DDPG --env=MountainCarContinuous-v0 --config='{"num_envs_per_worker": 2}' --torch`

both currently crash. The issue seems to be that while the input to compute_actions() is a batch of N observations, only 1 action is returned as output. I ran into this while

[2020-05-05 00:35] yutaizhou commented on #8313
@richardliaw thanks for checking in! I think I could, since every node in our HPC system only has 2 GPUs anyway. I could just map the 2 GPUs as 0 and 1? Not sure if that would work across the entire system though. I will try it

[2020-05-05 00:48] ericl commented on #8319
git bisect run script.sh

script:
[code]

[code]

[2020-05-05 00:48] ericl commented on #8319
@sven1977 probably some trivial bug in the new ddpg pol that breaks batching

[2020-05-05 00:53] Romit-Maulik opened #8320 "[rllib] Question about distributed parallelism"
### What is your question?

Hello developers! I'd like to start by thanking you for your documentation and your examples - they have been very helpful for a beginner in RL like me. As a bit of background - I am actually an aerospace engineer with prior experience in old-fashioned OMP/MPI based parallelism for scientific computing and I have a few (probably elementary) questions about the terminolo

[2020-05-05 02:15] showgood163 commented on #8311
For `ray.tune.suggest.Repeater`, I think there should be an `if` for every search algos.

[code]

For `ray.tune.suggest.ax.AxSearch`, I think this is enough.

[code]

[2020-05-05 02:22] #8296 closed

[2020-05-05 03:13] showgood163 commented on #8312
Thanks for the comments!

I'm actually using the following code snippets for this:
[code]

However, I find this snipped rather bloated. Is there a hook or something to save the progress immediately after the result update is happened?

[2020-05-05 06:14] sven1977 commented on #8319
Taking a look ...

[2020-05-05 09:30] sven1977 commented on #8319
Got it, will PR today ...

[2020-05-05 09:41] swicaksono commented on #7242
I have same problem but then I figure it out by open the firewall on the slave nodes.

[2020-05-05 13:11] sven1977 commented on #8319
Here is the PR: https://github.com/ray-project/ray/pull/8324

[2020-05-05 13:12] sven1977 commented on #8319
Leaving this open until merged.

[2020-05-05 14:25] lacerdamarcelo opened #8325 "[rllib][tune] How should I calculate memory usage for Ape-X DDPG?"
Hello everyone.

I've been trying to understand why do I run out of memory when running Ape-X DDPG with tune. I've used Population Based Training with 8 samples and 16 workers each. My actor and critic networks have 4 hidden layers with 400 neurons each, with 8 continuous action variables. My buffer size is 45000 and my observables array has 254 itens (floating points).

I've used a cluster with 1

[2020-05-05 15:29] J1810Z opened #8326 "Integrate with autoscaler to improve error message: The actor or task with ID [] is pending and cannot currently be scheduled"
After setting up a new conda environment with ray, I am running into the issue that ray complains about insufficient resources. While sometimes the actors are still starting after 30s, most of the time my python program gets stuck at this point.

I am initializing ray from within my python script, which runs on a node scheduled by slurm. Access to CPUs and GPUs is limited via cgroups.  psutil.Proc

[2020-05-05 17:10] rkooo567 commented on #7903
Fixed by https://github.com/ray-project/ray/pull/7766

[2020-05-05 17:10] #7903 closed

[2020-05-05 17:14] rkooo567 commented on #8257
Fixed

[2020-05-05 17:15] rkooo567 commented on #8105
Hi, @parinpshah94 Did you eventually figure this out?

[2020-05-05 17:31] simon-mo commented on #8257
Re-open? I think you said
[code]

[2020-05-05 18:53] rkooo567 commented on #8257
You are right. I was out of mind..

[2020-05-05 18:53] rkooo567 commented on #8257
Keep it open until we replace all hmset to hset.

[2020-05-05 18:56] rkooo567 commented on #8326
@edoakes @wuisawesome I also see this warning when there are plenty of resources. This can be scheduler issues?

[2020-05-05 18:58] MoggeM commented on #8041
Just updating that changing to free_log_std solved this for me, having very similar issues as in #7923

[2020-05-05 19:04] richardliaw opened #8329 "Ray Cluster crashes on master with GCS missing entry"
When I launch actors on the latest master, I get this error message

[code]

I've tried https://github.com/ray-project/ray/commit/cc7bd6650ae88aa7fd1ce43b0ca71c869c08557a and it seems to go away.

[2020-05-05 19:36] #8228 closed

[2020-05-05 19:43] richardliaw commented on #8329
1480bf429555610bc68308342da172ecffc3769c seems to work

[2020-05-05 20:25] richardliaw commented on #8329
The working hypothesis is that https://github.com/ray-project/ray/pull/8209 introduced the error.

[2020-05-05 20:26] richardliaw commented on #8329
cc @raulchen @edoakes @ericl

[2020-05-05 21:18] parinpshah94 commented on #8105
@rkooo567: No, I haven't yet 😬 My workaround has been to move the method to be decorated (e.g. `process_helper`) outside of the class and pass the class as an additional argument. It's definitely not clean, but it lets me conditionally apply that decorator.

[2020-05-05 23:00] rkooo567 commented on #7025
Done with #7304

[2020-05-05 23:00] #7025 closed

[2020-05-05 23:35] mahsa91 opened #8332 "[tune] I cannot reproduce the results of ray with simple running of function"
I'm using the latest version of ray with pytorch for tuning parameters. I've used grid_search and found a good config with the highest accuracy. But when I try to run the training process with that config without ray, I get different results from ray. Is there any suggestion that can help me with my problem? I use the following pattern for running:

`tune.run(train, config=config, name='experiment

[2020-05-06 00:16] richardliaw commented on #8332
Can you provide some code for reproduction?

[2020-05-06 00:20] ksettaluri6 opened #8333 "Creating custom metric on older version of ray [rllib]"
I am trying to create a custom score metric, where I count any time the agent has reached a positive sparse reward of 10.

I modified the rllib/evaluation/episode.py with the following:
[code]
I then added these functions. The reached and unreached_count variables are a counter that I want to reset every time a training iteration finishes.
[code]
I know want to tabulate this metric across all agen

[2020-05-06 03:06] Romit-Maulik commented on #4936
@derasaria I am curious what you utilized to solve this problem. I am facing the same issue where I am able to start Ray on 1 head and multiple workers but running rllib causes this error and the subsequent crash.

[2020-05-06 05:58] pmacalpine opened #8335 "[rllib] pytorch error when using gpu "TypeError: can't convert CUDA tensor to numpy" in torch_policy.py"
### What is the problem?
When using a GPU with examples/custom_torch_policy.py I get the following error:
[code]

This was caused by the operation within the assertion at https://github.com/ray-project/ray/blob/ec9357b486bd43c3ce943ec970fcbf08e144d382/rllib/policy/torch_policy.py#L235 added as part of a00144f746bb2ba4da5b1ddaf4954d6f5320c953.

*Ray version and other system information (Python vers

[2020-05-06 06:17] #7387 closed

[2020-05-06 07:23] #8239 closed

[2020-05-06 07:56] ashione commented on #7383
Nice suggestions, metrics exporter is useful for monitor but not enough for interactive platform.

[2020-05-06 08:57] ericl commented on #8294
Can you be more specific about the error? You should be able to simply send no observations and rewards for the agent while it is inactive, as long as you didn't send done for it.

[2020-05-06 09:03] mahsa91 commented on #8332
That's my problem that it's a code of the project and I cannot provide it. I'm suspicious of seed and randomness. I've set seeds but maybe running with ray uses different seeds.

[2020-05-06 09:11] OnTheRicky commented on #8294
Hi @ericl, the error I got was the exact same as #4256.
In the step where the agent sends the "pause action", I was returning a done along with the reward.

From the reading I've done it's unclear whether I need to send a done with the reward to indicate "an episode end" for an agent.
If I don't return the done and the reward, how do updates get treated?
Especially unclear in terms of discounting

[2020-05-06 09:16] ericl commented on #8294
If you need to set done, to cut the reward propagation at the point, then consider deleting the agent and creating a new one with a different agent_id.

[2020-05-06 09:28] OnTheRicky commented on #8294
I believe this is working for me, but could you please confirm if the following logic is the correct way of doing this:

1. At current step, receive agent action to pause and do the following:
- return done
- return reward for last action
- return final state observation
2. At following step:
- delete agent, sending no obs, rewards, dones, infos
3. At step to resume:
- create new agent, with new a

[2020-05-06 09:35] ericl commented on #8294
That should work. Can you post the full error traces please?

On Wed, May 6, 2020, 2:28 AM Ricardo Ludeke <notifications@github.com>
wrote:

[2020-05-06 10:09] hkvision opened #8336 "[sgd] A local worker will always be created for PytorchTrainer?"
Hi,

I'm new to RaySGD and am trying to use PyTorchTrainer for distributed training.
I glanced at a code, and see that in all cases there would be a worker on the driver node and other workers probably on other ray nodes, am I understanding correctly?
So what if I don't have enough resources on the driver?
Also, when creating PyTorchRunner, no resource is specified? Then when training, only 1 cpu

[2020-05-06 12:59] LopezCastroRoberto opened #8338 "[ray] GPU scheduling"
### What is your question?
Hi! I'm using Ray and Pytorch for developing a hyperparameter tuning tool. When I create a batch of actors and I execute them on CPU, there's no problem, even if the number of cores available is lower than the number of actors. However, if I try to do the same on GPU, specifying with the decorator ```@ray.remote(num_gpus=0.1)``` that each actor will use a fraction of tha

[2020-05-06 13:25] internetcoffeephone commented on #5982
I'm running into the same situation. As the agent initialization time grows linearly per-agent, this means that there is superlinear growth in total initialization time as the number of agents increases.

My agents all use the same type of custom policy, but each have their own instance of that policy. Although a single part of the graph does grow exponentially with the amount of agents, it is ins

[2020-05-06 14:37] jdavid04 commented on #7924
As an added comment, it seems like there might be other issues surrounding entropy. For the problem I am working on, attempting to tune the entropy coefficient changes nothing, regardless of the coefficient value. When using Pytorch's A2C, the above crash does not occur, but optimization is identical whether entropy_coeff is set to 0.01 or 10.

[2020-05-06 14:41] LukeIreland1 commented on #4548
None of the above workarounds work for me.

[2020-05-06 14:42] LukeIreland1 commented on #4309
None of the linked/mentioned workarounds work for me

[2020-05-06 15:28] jdavid04 commented on #7924
I'm not sure where this is in the code exactly, but my intuition for both these issues is the following:

This could be explained by entropy_coeff multiplying the logits prior to the policy's softmax, leading to nan's when these logits contain tf.float32.min, and further causing the above error message.

Using the entropy_coeff at this stage and returning the resulting value as the policy's entrop

[2020-05-06 16:45] #8309 closed

[2020-05-06 17:25] santiagoolivar2017 commented on #2229
I am noticing this behavior. I am using ray==0.8.3

`File "/opt/conda/envs/dynamic_dpdm/lib/python3.6/site-packages/ray/tune/tune.py", line 265, in run
    restore=restore)
  File "/opt/conda/envs/dynamic_dpdm/lib/python3.6/site-packages/ray/tune/experiment.py", line 122, in __init__
    _raise_on_durable(self._run_identifier, sync_to_driver, upload_dir)
  File "/opt/conda/envs/dynamic_dpdm/lib/py

[2020-05-06 17:46] rkooo567 opened #8339 "[rllib] torch GPU acceleration broken for PPO"
### What is the problem?
rllib Regression test result from PPO looks slower. The exact cause it uncertain, but it seems like torch GPU acceleration doesn't work as expected (everything else looks fine weirdly)

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / enviro

[2020-05-06 20:31] akharitonov commented on #8185
You either need to convert your observation space to a vector or use `use_state_preprocessor` in the policy definition. However, the latter will fail with the current code because of the following lines: [330](https://github.com/ray-project/ray/blob/97430b2d0fd835faa5aa012171bcd3a153b42a9d/rllib/contrib/maddpg/maddpg_policy.py#L330) and [360](https://github.com/ray-project/ray/blob/97430b2d0fd835f

[2020-05-06 22:41] pmacalpine commented on #8339
Maybe this is related to #8335 where using a gpu with torch fails with an error (in that case with a custom policy but I see the same error with PPO).

[2020-05-06 22:59] richardliaw commented on #8336
@hkvision thanks for opening up this PR! What do you mean by not having enough resources on the driver?

[2020-05-07 01:42] hkvision commented on #8336
Hi @richardliaw Thanks for your reply. Yes. I mean like in YARN settings, the driver is only for scheduling and probably the driver hardware is not as good as other workers. Thus for distributed training, if there is always a process on the driver, then it will be the bottleneck for syncing parameters?

[2020-05-07 02:58] richardliaw commented on #8336
Makes sense.

My suggestion for you is to "lift" the TorchTrainer into an actor:
[code]

[2020-05-07 02:58] richardliaw commented on #8336
Another option is simply to use Tune, which will allow you to keep all of the fault tolerance guarantees and also provide utilities such as auto-checkpoint, tensorboard:

[code]

[2020-05-07 03:13] hkvision commented on #8336
By doing this, TorchTrainer becomes an actor and would be placed on one node; and thus the local worker would be placed on that node as well. Am I understanding correctly?

[2020-05-07 03:13] hkvision commented on #8336
Okay. I will try this. I'm not familiar with tune and will study this first :) Thanks so much!

[2020-05-07 04:00] richardliaw commented on #8336
Yep!

Yep, feel free to ask any questions as you do!

[2020-05-07 04:37] rkooo567 commented on #8326
Turns out this error occurs as a warning of resources deadlock. Here is a related issue. https://github.com/ray-project/ray/issues/5790.

[2020-05-07 04:47] rkooo567 commented on #8263
You can possibly implement this using async actors, but it is not supported by our API. The idea of using AsyncActor is like this.

[code]

[2020-05-07 06:23] hkvision commented on #8336
https://github.com/ray-project/ray/blob/master/python/ray/util/sgd/torch/torch_trainer.py#L336
@richardliaw Want to ask here why creating Runner actor, it forces cpu=1? So if I don't have gpu, each worker only runs one cpu core? But as I run locally, the worker occupies actually occupies more than 1 core... Hope to get some help!

[2020-05-07 07:45] 0luhancheng0 opened #8350 "[rllib] Access info dict in callback function"
I was trying to compute the custom metric according to info dict returned along with each transition.

I'm following the example at
https://github.com/ray-project/ray/blob/master/rllib/examples/custom_metrics_and_callbacks.py

I was wondering how can I access the info dict returned by each transition within the callback? Thank you

[2020-05-07 07:47] 0luhancheng0 commented on #8350
It seems episode.last_info_for() always return None, not sure if this is expected

[2020-05-07 08:53] AlanHassen opened #8351 "[tune] Continue Hyperparameter Search"
I was skimming through the examples and was wondering if I can pause and resume a hyperparameter optimization task with tune? In the examples it seems, you start the process once and get a result afterwards.

My main motivation is the usage of anytime algorithms. BOHP for example produces valid solutions at any time and one of these solutions might already be good enough.

[2020-05-07 09:21] duburcqa opened #8352 "[rllib] Migration from stable_baselines to rllib"
*Ray version and other system information (Python version, TensorFlow version, OS):*
- Ray: [0.8.5 (02c1ab0ec6d615ad54ebf33bd93c51c04000534e)](https://s3-us-west-2.amazonaws.com/ray-wheels/releases/0.8.5/02c1ab0ec6d615ad54ebf33bd93c51c04000534e/ray-0.8.5-cp36-cp36m-manylinux1_x86_64.whl)
- CUDA: 10.1
- Pytorch: 1.5.0 with GPU support
- Ubuntu 18.04
- Python 3.6

Hi everyone,

First of all, I would

[2020-05-07 13:12] hkvision commented on #8005
Has this issue been resolved? I am running my own program and encounter similar errors:
[code]
But the program doesn't exit...
Any ideas on this warning: `[/pytorch/third_party/gloo/gloo/transport/tcp/unbound_buffer.cc:72] Timed out waiting 10000ms for recv operation to complete`
This happens when I run in cluster. When I run multiple workers on a single node, everything is fine.

[2020-05-07 17:12] yutaizhou commented on #8313
@richardliaw So I have tried remapping the GPU IDs but didn't get very far..
`srun --nodes=1 --ntasks=1 -w $node1 --export=ALL,CUDA_VISIBLE_DEVICES=0,1, ray start --temp-dir=$tmpdir --block --head --redis-port=$port &`

After talking to the HPC team, here is my understanding of the status and some direct quotes from them:

- "We’re using NVIDIA’s UUID API to set the device names to the UUID, rathe

[2020-05-07 18:12] thejasvi-ks commented on #7339
I'm getting the same error too.
`aws ecr get-login --region us-east-1 --profile profile-name | docker login --username AWS --password-stdin account.dkr.ecr.us-east-1.amazonaws.com/demo
`

[2020-05-07 18:39] sven1977 commented on #8339
This is probably due to torch==1.5.0 installed. Try `pip install torch==1.4`.
Closing this issue.

[2020-05-07 18:39] #8339 closed

[2020-05-07 18:41] rkooo567 commented on #8339
Is it possible to restrict the torch version when using this? I think we should create a PR for that before we close it.

[2020-05-07 18:58] janblumenkamp commented on #7879
I believe I get a similar error when running PBT hyperparameter optimization:
[code]
Happens after a long time, slowly but steady all the workers die.

[2020-05-07 18:59] anabranch commented on #7879
@janblumenkamp can you give more information about the code you're running / size of the cluster / machine etc. We want to be able to track this one down!

[2020-05-07 19:14] janblumenkamp commented on #7879
Sure! I use a custom environment based on [this example](https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/pbt_ppo_example.py), but I am not importing Pandas in my application. I am not sure if I can reproduce this error with the given example since I don't own a mujoco licence and also I can't spend computation time on that right now :/
If it helps, this is my base script:
[

[2020-05-07 19:19] janblumenkamp commented on #7879
Here also logs of three failed trials:
[failed.zip](https://github.com/ray-project/ray/files/4595242/failed.zip)

[2020-05-07 20:00] richardliaw commented on #7879
Oh this is nasty... one quick workaround is to make the Pandas import a "soft-import".

[2020-05-07 20:06] richardliaw commented on #8313
OK got it. Let me see if we can prio this. cc @anabranch

[2020-05-07 20:08] richardliaw commented on #8336
Restriction doesn't hinder performance. It's only for bookkeeping.

Can you tell me more about this?

[2020-05-07 20:08] richardliaw commented on #8336
Also, are you CPU only? Why not try to use GPU?

[2020-05-08 00:27] allenyin55 opened #8359 "[ray] Async actor not working in local mode."
### What is the problem?

Async actor is not being recognized in local mode. cc: @ijrsvt

Ray version and other system information (Python version, TensorFlow version, OS):
   * ray version: latest master
   * python: 3.7.4
   * OS: macos 10.15.3.

### Reproduction
[code]

The error I'm getting

[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I h