[2021-12-06 17:24] jmakov opened #20906 "[Bug] RayTaskError(RayOutOfMemoryError) although there's plenty of free SWAP left"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Clusters

### What happened + What you expected to happen

Ray throws an exception when node's RAM is full. Would expect to continue using available SWAP and finish the tasks. Also setting `os.environ["RAY_DISABLE_MEMORY_MONITOR"] = "1"`

[2021-12-06 17:31] ckw017 opened #20907 "[Bug] test_client_reconnect is flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Looks scoped to test_valid_actor_state_2 with HA GCS. Skipping might be acceptable for now, since errorring in discon here at least prevents actors from entering invalid state.

[code]

### Versi

[2021-12-06 17:32] architkulkarni opened #20908 "[release] `threaded_actors_stress_test` failed on nightly test"
https://buildkite.com/ray-project/periodic-ci/builds/1878#3948abe9-30bb-432e-88ed-31e3529c7704

Sorry if I have the wrong owner here, please reassign to the appropriate owner if necessary!

[2021-12-06 17:34] ckw017 commented on #19636
Looks like this is a documentation issue, I'll leave the issue open until it's fixed. Sorry for the delay in figuring this out!

[2021-12-06 17:35] architkulkarni opened #20909 "[release] `datasets_preprocess_ingest` failed on nightly test"
https://buildkite.com/ray-project/periodic-ci/builds/1878#6e565885-ea19-4395-8175-0fa2ab3916cf

Sorry if I assigned the the wrong owner, please reassign if necessary!

[2021-12-06 17:39] architkulkarni commented on #20685
Failed again here: https://buildkite.com/ray-project/periodic-ci/builds/1874#9a59617e-ff9a-4f8c-96b1-0cc10a0e6a47

[2021-12-06 17:42] matthewdeng opened #20910 "[Train] update checkpointing documentation"
### Problem
The existing documentation does not make it clear how users should be saving and loading models. We have a [section on checkpointing](https://docs.ray.io/en/master/train/user_guide.html#checkpointing) but it is pretty generic.

#### Examples
1. https://github.com/ray-project/ray/issues/20824
2. https://discuss.ray.io/t/how-do-i-save-a-model-with-ray-train/4361

### Proposed Solution
 U

[2021-12-06 17:43] architkulkarni opened #20911 "[release] [rllib] `aws_durable_upload_rllib_trainer` failed on nightly test"
https://buildkite.com/ray-project/periodic-ci/builds/1874#970d2373-2d0b-4b4d-81ec-d90a5be559e8

Sorry if I assigned the wrong owner, please reassign if necessary!

[2021-12-06 17:46] architkulkarni opened #20912 "[release] `network_overhead` failed on nightly test"
https://buildkite.com/ray-project/periodic-ci/builds/1874#e503a83e-1765-48d1-bb1e-1efc0c21ad8e

Please reassign if necessary, thanks! :)

[2021-12-06 17:47] matthewdeng commented on #20824
@thoth291 yep totally agreed, I just created an issue to track this documentation update.

Marking this issue as closed, please open another issue if you run into any problems with Tune!

[2021-12-06 17:47] #20824 closed

[2021-12-06 17:50] John-Almardeny commented on #20891
Just to confirm that this behaviour seems to be due to a bug in the num_cpus of the remote Actor.

If I change ray.init(num_cpus=12) to ray.init(num_cpus=6) then the same behaviour is triggered with Actor number 7, regardless of num_cpus in @ray.remote(num_cpus=xxx).

Your help is very much appreciated.

[2021-12-06 17:52] architkulkarni opened #20913 "[release] `train_tensorflow_mnist_test` failed on nightly test"
https://buildkite.com/ray-project/periodic-ci/builds/1874#e503a83e-1765-48d1-bb1e-1efc0c21ad8e

Sorry if I assigned to the wrong person, please reassign if necessary! :)

[2021-12-06 18:04] #20876 closed

[2021-12-06 18:09] devin-petersohn commented on #20388
@rkooo567 This is what I get on windows:

Initialized ray with:

[code]

Time logs:
[code]

[2021-12-06 18:09] mvashishtha commented on #20388
@rkooo567

I followed your instructions on my Mac. I confirmed that `sysctl -a vm.compressor_mode` was 2 before running the script. The result was:

[code]

I am currently on:

- Ray 1.8.0
- Python 3.8.8
- MacBook Pro (16-inch, 2019), macOS Big Sur 11.5.2
- RAM: 16 GB 2667 MHz DDR4

[2021-12-06 18:15] #20835 closed

[2021-12-06 18:24] #20595 closed

[2021-12-06 18:56] amogkam opened #20914 "[Train] Better log message for actor name"
From @matthewdeng:

In Ray Train, any log/print messages from the worker side show up like this

[code]

By default the class name that's executing the training function is used (`BaseWorkerMixin`), but this is confusing since it's an internal concept.

It would be better to show a better name here: either the name of the actual function or something like `TrainingWorker_0`, `TrainingWorker_1`, et

[2021-12-06 18:58] richardliaw commented on #20914
You can use `__repr__` to do this I think.

[2021-12-06 19:00] matthewdeng commented on #20914
Duplicate of https://github.com/ray-project/ray/issues/20593

[2021-12-06 19:00] #20914 closed

[2021-12-06 19:06] John-Almardeny commented on #20891
Just to follow up.

I created an Ubuntu 20.04 VM in my Windows 10 OS then ran the same script. It did not show the same behaviour and all worked fine.

It seems to be strictly related to Windows 10, at least that is what experiments show!

[2021-12-06 19:23] matthewdeng opened #20915 "[Train] Document how to handle `state_dict`"
### Problem

When checkpointing a Torch model's `state_dict`, there may be some inconsistencies when saving/loading depending on whether the model is wrapped in DDP.

### Proposal
Provide a utility method that always fetches the non-DDP version of the `state_dict`.

Without DDP:
[code]

With DDP:
[code]

### Also see
[torch.nn.modules.utils.consume_prefix_in_state_dict_if_present](https://github.c

[2021-12-06 19:48] matthewdeng commented on #20915
Spoke with @amogkam.

Since `consume_prefix_in_state_dict_if_present` should functionally be the same, we may just need to document this as the recommended approach in the checkpointing section!

[2021-12-06 19:51] #19569 closed

[2021-12-06 20:55] ashutoshs25 opened #20920 "Tensorflow concat error while trying to use RLLib's MADDPG on a petting zoo environment (cooperative_pong_v3)"
Hi, I am trying to train the [Cooperative pong](https://www.pettingzoo.ml/butterfly/cooperative_pong) environment of Petting Zoo  using RLLib's implementation of the MADDPG algorithm.

Here is my code, mostly inspired from the recent RLLIB - [PettingZoo tutorial](https://towardsdatascience.com/using-pettingzoo-with-rllib-for-multi-agent-deep-reinforcement-learning-5ff47c677abd). I also looked at t

[2021-12-06 21:34] rkooo567 commented on #20388
@mvashishtha Is it also initialized with the same object store memory as @devin-petersohn ? (8GB)

[2021-12-06 21:51] mvashishtha commented on #20388
@rkooo567 No, but I tried again from a clean reboot with swapping off, Ray 1.9.0, and the same object store memory. The result was:

[code]

`ray memory --stats-only` after the script gave:

[code]

[2021-12-06 21:52] rkooo567 commented on #20906
How did you set the env var? You should set this from the terminal. Setting that from the python script with os.environ wouldn’t work because it is not propagated to the worker processes

[2021-12-06 21:56] etetteh opened #20923 "ValueError: `hyperparam_bounds` values must either be a list or tuple of size 2, but got <ray.tune.sample.Float object at 0x7f66710b4490> instead"
Something is broken, and I can't seem to understand why...
My code looks as follows:
[code]

I am getting the following error
[code]

[2021-12-06 21:59] simon-mo commented on #20861
We are still waiting on preset to fix this and perform a deployment. This is no meaningful update here.

[2021-12-06 22:00] simon-mo commented on #20132
@rkooo567 1.9 is release now, should we unpin?

[2021-12-06 22:02] #19389 closed

[2021-12-06 22:03] simon-mo commented on #20675
@architkulkarni ping on this? thanks

[2021-12-06 22:04] rkooo567 commented on #20132
Yes! Please go ahead.

[2021-12-06 22:05] architkulkarni commented on #20675
Sorry, I haven't worked on this yet but I will get to it this sprint.  I just need to update the blog to use the Serve Deployments API.

[2021-12-06 22:06] scv119 commented on #20923
cc @richardliaw

[2021-12-06 22:08] scv119 commented on #20920
cc @krfricke  to triage

[2021-12-06 22:18] rkooo567 commented on #20908
This is marked as stable: false, so you can just let it go for now!

[2021-12-06 22:18] #20908 closed

[2021-12-06 22:25] rkooo567 commented on #20388
@mvashishtha actually, can you try one more thing?

If you run the test with object_store_memory=1*10**9, does it still take long time?

[2021-12-06 22:30] mvashishtha commented on #20388
@rkooo567 it's much faster with that much memory.

[code]

and `ray memory --stats-only` gives:

[code]

[2021-12-06 22:34] #19331 closed

[2021-12-06 22:35] iycheng commented on #20909
it has been fixed in the morning. close it now.

[2021-12-06 22:35] #20909 closed

[2021-12-06 22:36] architkulkarni commented on #20908
Oh cool, @rkooo567 where can I find the marking stable: false?  I'll add this to the OSS release instructions.

[2021-12-06 22:37] architkulkarni commented on #20908
I see, it's in the YAML file.

[2021-12-06 22:43] rkooo567 commented on #20388
Hmm so it looks like ray.put(obj) on /tmp is so much slower than using object spilling (writing to disk) on Mac. cc @scv119

@mvashishtha as a last experiment, can you try initialize ray with `ray.init(_plasma_directory="/tmp", object_store_memory=8*10**9) ` on Linux and see if the performance matches the MacOS case?

[2021-12-06 22:50] jmakov commented on #20906
@rkooo567 running from jupyterlab I set os.environ["RAY_DISABLE_MEMORY_MONITOR"] = "1" before importing ray. Since I [don't find anything for this env var in the docs](https://docs.ray.io/en/latest/tune/user-guide.html?highlight=variables#environment-variables), are you saying this has to be set for each worker?

[2021-12-06 23:05] rkooo567 commented on #20906
Good questions! Let me answer one by one here.

Yes. If you are using cluster.yaml, you will have ray start command somewhere. You can do
[code]

The reason why os.environ is not working in this case, I think, is because the workers are started from process that's started by `ray start`, so os.environ in your driver script (python script that you ran ray.init(address='auto')) won't be propagated t

[2021-12-06 23:41] architkulkarni opened #20927 "[Serve] Export error counter metric even when error count is zero"
The `serve_deployment_error_counter` metric doesn't show up unless there's at least one error.  We should instead always export this metric, and just set it to 0 if there haven't been any errors.

Reproduction:

`ray start --head --metrics-export-port=8080`

Then run

[code]

Then ping `g` a few times (e.g. visit `http://127.0.0.1:8000/g`).

If you check `localhost:8080` (perhaps refreshing after

[2021-12-06 23:43] architkulkarni opened #20928 "[Serve] Add Serve metric for HTTP error codes"
Serve currently provides a metric `serve_deployment_error_counter` for the number of exceptions that happen inside each deployment.

Another useful metric is how many non-200 HTTP return codes have been returned.  These could happen in a user's deployment even if there was no exception raised, so this is a distinct metric from `serve_deployment_error_counter`.

[2021-12-07 02:48] jovany-wang commented on #20372
@gjoliver Yes. We're finding a way to opensource it and integrate it to Ray at least as an option.
Also we're planing to support C++. But we have no plan to support Rust yet.
@chaokunyang

[2021-12-07 03:12] jovany-wang commented on #20291
invalid issue.

[2021-12-07 04:50] #20068 closed

[2021-12-07 05:01] #17119 closed

[2021-12-07 05:01] #17327 closed

[2021-12-07 05:01] #17329 closed

[2021-12-07 05:01] #17239 closed

[2021-12-07 05:25] dustingan opened #20932 "tune runtime error"
when I use ray.tune, there are a error about runtime.  how do I pass the queue in a way that works? I can't find an example, and I've tried several alternatives that failed in various ways. Help please?

Traceback (most recent call last):
  File "C:\Users\Administrator\Desktop\行者生产环境\tune_hyperhyperparameters.py", line 105, in <module>
    analysis = tune.run(training_function, config={
  File "D:

[2021-12-07 06:47] zhuohan123 opened #20933 "[Bug] Unable to schedule fractional gpu jobs"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Please find the minimal reproducible example below. I'm trying to run the following script on a ray cluster with two nodes and each node has 8 GPUs:

[code]
The program will hang forever with t

[2021-12-07 07:19] matthewdeng commented on #20807
Thanks @andrijazz for providing this context, I apologize if my comment came off as trying to restrict users!

The reason I asked was because with the current API, even with the ability to customize individual checkpoint names there may be some confusion  since they will be written to the `<logdir>/run_<run_id>/checkpoints` directory, which may change over runs. Perhaps we need to allow customizat

[2021-12-07 07:38] matthewdeng commented on #20913
Looks like a sporadic failure, [today's run](https://buildkite.com/ray-project/periodic-ci/builds/1880#c5852419-8f89-462f-8866-9a1fc4782b57) succeeded. Marking this as closed, but please feel free to reopen this issue if this happens again.

[2021-12-07 07:38] #20913 closed

[2021-12-07 07:41] chaokunyang commented on #20372
Fury is language and platform independent. Currently we provided the java and python support and partly c++ support. Because we don't have other requirements yet. But fury serialization is language-independent, it's easy to add other language support. Actually, fury python is based on fury cpp code and use cython to build python implementation. And we are working on go-lang support.

[2021-12-07 07:43] chaokunyang commented on #20372
bond need schema-compiling, users need to defined a schema using bond `idl` and compile thje code using `gbc`. Since it need schema-compiling, it's impossible for automatic object serialization.

[2021-12-07 07:47] chaokunyang commented on #20372
We are planing to provide more cpp support, currently we've provide row-format support and arrow integration in cpp, and python implementation is based on the cpp code. Go-lang support is working-in-progress.

[2021-12-07 09:20] John-Almardeny commented on #20933
I think this issue is also related to #20891 but the latter for CPUs.

Are you running the script on Windows OS?

[2021-12-07 10:12] ggdupont opened #20934 "Dead link in ray tune docs"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, Others

### What happened + What you expected to happen

Dead link in documentation

Page where the link is found: https://docs.ray.io/en/latest/tune/index.html
Dead link: https://docs.ray.io/en/latest/tune/tune-scheduler-hyperband

### Versi

[2021-12-07 11:47] sandratatarevicova commented on #19004
I was able to reproduce the issue on 1.8.0 on GKE. It seems that it is sufficient to do something that causes unavailability of Kubernetes API (e.g. enable/disable node pool autoscaling). The operator then gets stuck. From operator logs:

[code]

When I try to send a new task to the cluster when the API is available again it fails with this error:

[code]

The operator is stuck in this state and n

[2021-12-07 13:40] sven1977 commented on #20589
Hey @RodgerLuo , could you take a look at this PR here?
Once merged into master, you will be able to set:
`_disable_action_flattening=True` in your config, then record offline data (w/ actions as-is, e.g. nested dicts/tuples), and read that data in a BCTrainer (also with `_disable_action_flattening=True` set).

[2021-12-07 14:34] devin-petersohn commented on #20388
I am interested in hearing @scv119's opinion on this issue: specifically the seal taking a significant amount of time.

@rkooo567 we don't have a Linux box at the moment, would a cloud machine work? That might not be something you need us for, but still happy to help in whatever way we can.

[2021-12-07 15:28] rkooo567 commented on #20388
Yeah cloud machine works. Just want to know if writing to tmp is purely slow on Mac. I was suspecting the swap memory first, but it seems like he is still getting an issue when it is turned off

[2021-12-07 15:34] devin-petersohn commented on #20388
@rkooo567 you were able to reproduce the issue yourself though, correct?

[2021-12-07 15:46] rkooo567 commented on #20388
Yes. It is slow on my Mac.

[2021-12-07 15:50] rkooo567 commented on #20388
But as I mentioned we should figure out if the bug is from ray or systems (MacOs). The delay between create / seal kind of indicates it is that writing to /tmp is purely slow m. (Between create / seal, it memcpy into mmaped memory on tmp). I suspect this could be the root cause https://stackoverflow.com/questions/30956242/slow-memory-allocation-in-osx, but this might be clearer once we see if this

[2021-12-07 16:24] mvindiola1 commented on #20920
@ashutoshs25,

The RLlib maddpg is expecting the action logits coming from the policy but because you added the aec_action_lambda wrapper you are returning the categorical action not the logits.

[2021-12-07 17:25] vishalrangras opened #20938 "[Bug] [RLlib] Custom metrics are not reported to Tune"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, RLlib

### What happened + What you expected to happen

1. Custom metrics and episodes_total are not been reported while training the MAML agent. I am using ray tune to train MAML. I have tried adding the callback class (inheriting rllib.agen

[2021-12-07 17:25] vishalrangras commented on #20938
I am ready to submit the PR but I don't know the fix, so if you can guide me about the fix as well, I would be more than happy to work on it and submit.

[2021-12-07 17:28] simon-mo commented on #20861
Preset support told me that they were in the process of fixing and deploying still. The issue still persist.

[2021-12-07 18:30] scv119 commented on #20938
cc @krfricke to triage

[2021-12-07 18:33] scv119 commented on #20933
cc @rkooo567 @iycheng another resource reporting or scheduling issue. is this something you are aware of?

[2021-12-07 18:34] scv119 commented on #20932
hi dustingan could you share a bit more code snippet for reproducing this issue?

[2021-12-07 18:35] simon-mo commented on #20861
From support:

[2021-12-07 18:35] #20861 closed

[2021-12-07 18:36] scv119 commented on #20923
also cc @krfricke

[2021-12-07 19:18] mvashishtha commented on #20388
@rkooo567 on my Macbook, I tried to write to /tmp directly instead of using the object store. That gave the best performance for me so far. I ran:

[code]

and then

[code]

and got

[code]

Does that suggest that writing to /tmp isn't the culprit?

[2021-12-07 19:47] zhuohan123 commented on #20933
No, it's on ubuntu on AWS.

[2021-12-07 20:20] John-Almardeny commented on #20891
Hey @scv119, @rkooo567 and @iycheng.

Can you please investigate this issue, as it seems a critical bug?

Thanks.

[2021-12-07 20:30] scv119 commented on #20891
hmm; looks a windows related issue; @John-Almardeny unfortunately the Windows support is experimental.

when the actor refuse to schedule, do you notice any useful information in the driver output?

 cc @pcmoritz

[2021-12-07 20:34] John-Almardeny commented on #20891
Yes, it hangs for a while then outputs `(PID=some number)` even though I did not print out anything.

![image](https://user-images.githubusercontent.com/19558793/145102198-944d37e5-a2bb-45dc-a29e-2406cbc3b9eb.png)

[2021-12-07 20:37] scv119 commented on #20891
oh this is then very likely a windows bug; usually if it's scheduling issue it will print scheduler related info like following:

[code]

[2021-12-07 20:40] John-Almardeny commented on #20891
Yes, it does if I set `@ray.renote(num_cpus=2)` or to some large number (not a fraction).

![image](https://user-images.githubusercontent.com/19558793/145102920-ca2bb6f3-ea3a-4972-a427-df1e43d1ba84.png)

[2021-12-07 20:47] #20825 closed

[2021-12-07 20:53] scv119 commented on #20891
so just to be clear: this bug only reproduce when we set `num_cpus=0.01`, on windows.

can you try following code to see if it works?
[code]

[2021-12-07 21:08] concretevitamin commented on #20402
Any update?  We could work around this by delaying `ray up` the second time as much as possible.  However at some point it does need to be run again.

[2021-12-07 21:12] concretevitamin opened #20944 "Allow TAG_RAY_NODE_NAME to be customizable"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Ray nodes launched using the autoscaler have the hardcoded naming format, `ray-<cluster name>-{head,worker}-<uuid><suffix>`:
* https://github.com/ray-project/ray/blob/master/python/ray/auto

[2021-12-07 21:23] architkulkarni opened #20945 "[Serve Autoscaler] Add debug logs"
It would be useful for us to be able to tell users to turn on a debug flag so we can inspect the history of the average number of queued requests per replica, scaling decisions and any other useful debug information.

[2021-12-07 21:29] John-Almardeny commented on #20891
I tried your code and the behaviour is the same.

No, not just for 0.01, it's behaving like this with any number you try.

[2021-12-07 21:44] iycheng commented on #20848
I think so, but my question here is that if we are doing it that way, is this still necessary? I think most pressure will come from raylet then, and raylet at most will have hundreds of workers, so the optimization might not be that important?

[2021-12-07 21:46] architkulkarni opened #20946 "[Serve Autoscaler] Raise warning if `max_concurrent_queries` < `target_num_ongoing_requests`"
See https://ray-distributed.slack.com/archives/CNCKBBRJL/p1638913303115100?thread_ts=1636735869.089800&cid=CNCKBBRJL:

This behavior is correct, but we should make it more obvious to the user by raising a warning if `max_concurrent_queries` < `target_num_ongoing_requests` to notify the user that scaling up will not occur.

[code]

[2021-12-07 22:02] clarkzinzow opened #20947 "[Datasets] Support datetime tensor columns."
Add support for datetime tensor columns. Slicing currently returns incorrect datetimes.

[2021-12-07 22:04] ericl commented on #18018
Duplicates https://github.com/ray-project/ray/issues/18835

[2021-12-07 22:04] #18018 closed

[2021-12-07 22:04] ericl commented on #18835
@rkooo567 you're currently working on a design for this right? cc @richardliaw

[2021-12-07 22:06] rkooo567 commented on #18835
Yes. I've been putting it off a little bit (focus on other tasks first) because of the feature freeze.

[2021-12-07 22:08] xwjiang2010 opened #20948 "[Tune] Tune checkpointing may checkpoint multiple times for a given trial and iter"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Copy over from internal thread:
Is it a known issue that trainable may checkpoint the same thing multiple times? Like if in pbt, if it chooses to save trial1 to memory (II), replace trial2 with

[2021-12-07 22:09] xwjiang2010 commented on #20948
@krfricke Can you point me to where the backlog is?

[2021-12-07 22:11] ashutoshs25 commented on #20920
@mvindiola1 Thanks for your reply but I'm not sure if I fully understand your point. Could you please expand on it a bit further ? Is there a different wrapper I should be using instead of the aec_action_lambda ?

[2021-12-07 22:20] mvindiola1 commented on #20920
@ashutoshs25

You do not need to use any action wrapper.

[2021-12-07 22:27] ashutoshs25 commented on #20920
@mvindiola1

When I remove the use of aec_action_lambda wrapper by commenting the following lines from my code  :

[code]

I get the following error message :

[code]

[2021-12-07 22:32] rkooo567 commented on #20388
Ray mmap on /tmp and copy the memory into the mmaped blocks (instead of directly writing to disk). So, it is a different case. Object spilling also writes things into /tmp, and the fact that it was fast explains this (because it uses the direct file IO in this case). If this https://stackoverflow.com/questions/30956242/slow-memory-allocation-in-osx is true, it kind of explains why this is a lot sl

[2021-12-07 22:42] mvindiola1 commented on #20920
@ashutoshs25

I am not too familiar with super suit but do you actually need `env = ss.pad_action_space_v0(env)` don't they all have the same action space?

[2021-12-07 23:02] mvindiola1 commented on #20920
@ashutoshs25

I totally misread the original error. Please disregard my suggestion. Not sure why the batches of the two agents are different sizes? Can one agent end before another?

[2021-12-07 23:02] ashutoshs25 commented on #20920
@mvindiola1 Yes, I agree that `env = ss.pad_action_space_v0(env)` is not needed as the `cooperative_pong` environment's agents have the same action space. Removing this line from the code results in the following error :

[code]

[2021-12-07 23:04] clarkzinzow opened #20950 "[Datasets] Support structured array tensor columns."
Add support for structured array tensor columns. Our naive NumPy --> Arrow dtype conversion doesn't work for structured arrays, since `pa.from_numpy_dtype()` doesn't properly map the structured dtype to a `pa.StructType`. One thing that we can try is to do this conversion manually, converting each field dtype to an Arrow dtype and constructing each field's Arrow array independently.

[2021-12-07 23:06] ashutoshs25 commented on #20920
Ok, got it.

[2021-12-07 23:11] rkooo567 commented on #20388
Okay. I ran the same code on /tmp mounted plasma store on Linux (on Docker container), and it took
a.py
[code]

[code]
only about 1 second each. So, I think the issue is almost likely that MacOS is very slow when it allocates blocks for mmap as this issue https://stackoverflow.com/questions/30956242/slow-memory-allocation-in-osx indicates.

[2021-12-07 23:20] mvashishtha commented on #20388
@rkooo567 thanks for checking that. Will Ray have a fix for the slowness on MacOS?

[2021-12-07 23:22] rkooo567 commented on #20933
Cc @wuisawesome can you confirm this is expected behavior or not?

[2021-12-07 23:23] etetteh commented on #20923
Please, any update?

[2021-12-07 23:25] rkooo567 commented on #20388
Hmm in this case, the fix is tricky. Mmap is a core mechanism on all ray object creation, so fixing requires changes in this (since the issue is syscall itself seems not working well on MacOS). There could be other alternatives like recommending low object store memory for mac os.

Cc @ericl @scv119 what do you guys think?

[2021-12-07 23:31] scv119 commented on #20848
@lixin-wei the main concern is we are creating a separate code path for this seemingly temporary fix. Before we dive into the solution, do we know if the cpu or network is the bottleneck?

[2021-12-08 00:24] DmitriGekhtman commented on #20774
Somewhat mitigated by https://github.com/ray-project/ray/pull/20814.
Decreasing priority to P2.

[2021-12-08 01:38] Hankpipi commented on #20928
I'm interested in this, I wonder if errors caught in` http_proxy.py` are all the HTTP errors we need to count.

[2021-12-08 01:49] #17337 closed

[2021-12-08 01:49] #17338 closed

[2021-12-08 02:08] ericl commented on #20388
So it's looking like using large amounts of /tmp for object store memory on OSX is somehow slow, like 100x slower than a small object store. But a small object store is fine, right?

Couple questions:
- Is there a particular threshold of object store size where things suddenly get slower?
- Was this always a problem? Did it start with some Ray release?

In general, using large amounts of /tmp memo

[2021-12-08 02:24] scv119 commented on #20388
sorry swarmed by other issues.

between those two are the actual writing of the object.

[2021-12-08 02:31] wilsonwang371 opened #20955 "[Feature] Modiy build.sh to support python library install"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

What is the way ppl to compile and develop ray on local machine without docker? i saw the build.sh can compile but it does not install related python library code.

Shall we make some changes to build.sh to enable installing python li

[2021-12-08 02:41] scv119 commented on #20388
It seems most likely due to trashing (i.e. the OS tries to write back mmaped pages back to disk due to lack of physical memory), given the fact allocating 1GB of plasma store size doesn't cause this issue.  Maybe we should find some tools to confirm this.

[2021-12-08 02:44] kira-lin opened #20956 "[Bug] [Train] Horovod trainer error in multiple nodes cluster"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

I ran the example [here](https://docs.ray.io/en/master/train/examples/horovod/horovod_example.html) with default args, but it fails as following:
[code]

### Versions / Dependencies

ray 1.9.0

[2021-12-08 02:53] #18884 closed

[2021-12-08 03:03] ericl commented on #20388
If it indeed is thrashing, then seems we should set a limit on the object store size that can be allocated to /tmp by default. In Linux, we already raise an error if the /tmp object store is configured to be >10GB. However on other platforms no error is raised: https://github.com/ray-project/ray/blob/master/python/ray/_private/services.py#L1851

[2021-12-08 03:57] scv119 commented on #20388
after some reading, you i think you might be able to use `vmstat` to monitor the swap out pages during the process; this is the best indication of trashing.

[2021-12-08 05:44] dmatrix opened #20960 "[Bug] [DOCS] The example code snippet references an undefined quick_sort() function"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

The example code snippet on Ray Task Patterns references an undefined function, hence the code will not run to completion.

The solution is to define `quick_sort()`, which is identical to `quic

[2021-12-08 06:56] #13965 closed

[2021-12-08 07:18] lixin-wei commented on #20848
@iycheng @scv119 Yep I agree with you. Seems it's not worth it to do this optimization after we made raylet as a proxy.

Let's go straight forward to the raylet proxy solution. Closing this issue, thank you for your review!

@scv119 it's CPU.

[2021-12-08 07:18] #20848 closed

[2021-12-08 07:45] kira-lin commented on #20956
I have multiple workers on one node. The number of node actors is the same as the config for `num_workers`, but num_hosts is the number of distinct hosts. Why are they equal? How to solve it?

[2021-12-08 07:56] #17358 closed

[2021-12-08 09:00] jon-chuang commented on #20372
Hi @chaokunyang a few qns:
1. Based on your understanding of the alternative serialization options, why would you say Fury manages to get such great speedups of 10-100x?
2. Why do you need to do runtime codegen if you can precompile your byte code and do all of the analysis and codegen statically?
3. How does it compare to msgpack serialization? What is POJO/struct in the context of Python?

[2021-12-08 09:05] markgoodhead commented on #19785
We are considering making a PR to address this - @DmitriGekhtman @richardliaw any advice on this / would this be accepted into the main repo?

[2021-12-08 09:27] raulchen opened #20967 "[Feature] Support Java async actors"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Python already supports asyncio actors, which allows users to run multiple concurrent tasks in one thread. Another similar feature is concurrent actor calls, which runs multiple concurrent tasks synchronously in multiple threads.

Jav

[2021-12-08 09:28] raulchen commented on #20967
cc @kfstorm @jovany-wang @kira-lin

[2021-12-08 10:19] noe-mis opened #20968 "[Bug] Infeasible placement group is not scheduled after the cluster is auto-scaled"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Clusters

### What happened + What you expected to happen

1. When creating a single placement group (STRICT_PACK) for a node on EC2, it never becomes ready, even though the node comes up (seen in ray monitor). When looking at the placeme

[2021-12-08 10:29] rkooo567 commented on #20968
So in summary, you are saying infeasible placement group is not scheduled although the node is up, and then if you reschedule the placement group (when the node is already up), it is scheduled?

cc @clay4444 it seems like the issue is related to the infeasible placement group handling? Do you think you have bandwidth to take a look at this?

[2021-12-08 10:40] noe-mis commented on #20968
Yes, exactly that!

[2021-12-08 12:42] chaokunyang commented on #20372
Hi @jon-chuang thanks for your questions. Those are very good questions. Let me answer one by one.
1. Based on your understanding of the alternative serialization options, why would you say Fury manages to get such great speedups of 10-100x?

For the first question, the speed up of fury mainly comes from runtime-codegen and memory zero-copy. For any serializable objects, the performance of seriali

[2021-12-08 12:49] chaokunyang commented on #20372
Hi @jon-chuang thanks for your questions. Those are very good questions. Let me answer one by one.
1. Based on your understanding of the alternative serialization options, why would you say Fury manages to get such great speedups of 10-100x?
The speed up of fury mainly comes from runtime-codegen and memory zero-copy. For any serializable objects, the performance of serialization is determined by t

[2021-12-08 13:52] holinov commented on #8379
Using ray `1.8.0` , `1.9.0` and python `3.8.10`.
When i try to use solution provided by @mathpluscode i get error
[code]

[2021-12-08 13:57] holinov opened #20970 "[Bug] Unable to subclass PPOTrainer"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Unable to subclass PPOTrainer.
I'm trying to customize some logs and some logic for PPOTrainer and i get error when i try to subclass `PPOTrainer`

[code]

### Versions / Dependencies

- Ray: `

[2021-12-08 13:58] holinov commented on #20970
This coul be reproduced using solution from https://github.com/ray-project/ray/issues/8379

[2021-12-08 15:12] abdulla-hammad commented on #20108
@clarkzinzow  and @ericl, do you think it should be P0 as we can now reproduce with synthetic data?

[2021-12-08 15:17] krfricke commented on #20932
Generally `multiprocessing.Queue` objects should be avoided - you can use `ray.util.queue.Queue` instead. Generally this seems like an antipattern though. If you can share some code we might be able to help.

[2021-12-08 15:23] krfricke commented on #20970
I can't reproduce the error - the following code works fine for me:

[code]

Are you somehow shadowing the `self` parameter?

[2021-12-08 15:26] clarkzinzow commented on #20108
@crclark Thank you for the reproduction! @abdulla-hammad Agreed that this should be a P0, I'll take this as an interrupt.

[2021-12-08 15:29] krfricke commented on #20970
Hm, it seems we made some changes in this file recently, can you try installing the nightly wheels?

[2021-12-08 15:31] clarkzinzow commented on #20108
@crclark First run on a local Ray yields no rows dropped:
[code]

Interesting. I'll try to run this a few more times locally, then with a mock cluster, until I'm able to reproduce.

[2021-12-08 16:03] krfricke commented on #20923
Hi @etetteh, for the `hyperparam_bounds`, you should specify a dict of value bounds:

[code]

See also the documentation here: https://docs.ray.io/en/master/tune/api_docs/schedulers.html#population-based-bandits-pb2-tune-schedulers-pb2-pb2

[2021-12-08 16:06] krfricke commented on #20923
Maybe for a bit more detail: PB2 uses Bayesian optimization to sample new hyperparameters. BO only works with bounds, not with specific sampling methods. This is also the reason why you can't use any categorical hyperparameters here.

[2021-12-08 16:07] spolcyn opened #20971 "[Bug] [Serve] Ray hangs on API methods"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

After connecting to Ray and Ray Serve on a remote Ray cluster (running on k8s), running a job, and then waiting for a little while, future `serve`/`ray` methods seem to block indefinitely.

##

[2021-12-08 16:09] DmitriGekhtman commented on #19785
This is the expected behavior of the API.

https://docs.ray.io/en/latest/cluster/sdk.html

"This request is persistent until another call to request_resources() is made to override."

I agree that's confusing -- I will update the docs to make this more prominent and explain the implication for downscaling.

[2021-12-08 16:18] etetteh commented on #20923
Thanks. I solved the problem yesterday. I changed the code to set the
bounds, instead of the sampling method.
We may close the issue.

On Wed., Dec. 8, 2021, 11:06 Kai Fricke, ***@***.***> wrote:

[2021-12-08 16:43] jwyyy commented on #20910
Hi @matthewdeng, I made a PR to update checkpoint examples in the documentation. Please let me know your feedback once you have time to review. Thank you very much!

[2021-12-08 17:23] gjoliver commented on #20970
yeah, I tested 1.9 as well, and couldn't reproduce it.
if you have the exactly script, we can take another loo.

[2021-12-08 18:30] DmitriGekhtman opened #20974 "[Feature][autoscaler] Include contacts for node provider maintainers in Ray docs."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The Ray documentation should include contacts from maintainers of node providers.
The contacts for Aliyun NodeProvider maintainers are already there and we could follow the same pattern for the rest.
https://docs.ray.io/en/latest/clus

[2021-12-08 18:42] ahah-figure opened #20975 "[Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Often, when I initialize ray on a dataproc cluster, many nodes report the following message. Not 100% sure at this point, but I think it mostly occurs when calling ```ray.init()``` after callin

[2021-12-08 18:50] architkulkarni commented on #20928
I took a brief look at the code and it looks like `_send_request_to_handle` has the logic where we actually send the response.  We could count the non-200 return codes here, but if we do that I don't know how we would be able to tag it by deployment.  Maybe there's a better place to do it?

[2021-12-08 21:04] #17365 closed

[2021-12-08 21:10] spolcyn opened #20977 "[Feature] Autoscaling Based on Full Request Queue"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

It would be nice to send all queries for a job to Ray Serve at once, and have the Serve Autoscaler make autoscaling decisions based on the entire job.

### Use case

Currently, the Ray Serve autoscaling can only be aware of at most `a

[2021-12-08 21:10] spolcyn commented on #20977
@architkulkarni

[2021-12-08 21:20] chunweiyuan commented on #20618
Hi @stephanie-wang and @ericl ,

Thank you very much for your assistance.  As a recap, this is more or less the code I tested, given a `4 cores/60GB` allotment on a 40 cores/251.7GB node:
[code]
If the sleep time is <= 11s, the above code would often "fail" like this:
[code]
some times followed by
[code]
, with a dashboard shot like this
![Screen Shot 2021-12-08 at 12 44 05 PM](https://user-images

[2021-12-08 22:07] stephanie-wang commented on #20618
Most likely what is happening is that the `concat()` tasks are getting scheduled, but then they block in `ray.get(array_futures)` because those ObjectRefs aren't actually ready yet. That's also why we suggested trying with `concat.remote(*array_futures)`: a task with ObjectRefs as direct arguments won't get scheduled until those ObjectRefs are ready, but a task with ObjectRefs in a list as the arg

[2021-12-08 22:22] devin-petersohn commented on #20388
I am not sure that this is thrashing.

- We have disabled swapping above and the performance was not improved
- We also used a disk-based `_plasma_directory` with no improvement as well
- We had the best performance writing pickle files to `"/tmp"` from the worker, bypassing the object store completely. If thrashing was the problem why would bypassing plasma altogether help?

Maybe I am missing so

[2021-12-08 23:41] carlogrisetti commented on #20682
@thakkarparth007 @smestern Had the same issue, as soon as I upgraded to Python 3.7.12 (no official installer for windows, but unofficial builds are available at https://github.com/adang1345/PythonWindows/tree/master/3.7.12) and rebuilt the venv (don't forget this if you're using one) it worked like a charm :)
Seems to be something bugged or not yet implemented in 3.7.0 (and 3.7.1 apparently)

[2021-12-08 23:50] carlogrisetti commented on #20682
Also, the latest 3.6.x versions should have this fixed as well, but can't seem to trace back to where I got that info.

@ericl (tagging you at random, divert this as needed) a warning\error in console when using >=3.6.0 <3.6.x or >=3.7.0 < 3.7.x could be a possible solution. Is there any template already done for this reason within the codebase?

[2021-12-08 23:54] scv119 commented on #20975
Thanks for reporting @ahah-figure, there is nothing to worry about and has been fixed in ray 1.9

[2021-12-08 23:54] #20975 closed

[2021-12-09 00:16] ericl commented on #20388
When object store is backed by /tmp (or any other filesystem other than /dev/shm), the operating system will be trying to write-back these to disk, regardless of whether swapping is enabled. But it might be something else.

I don't have a mac, but @rkooo567 @scv119 if you can reproduce I'd be happy to help dig into this.

[2021-12-09 00:48] richardliaw opened #20980 "[Bug] test"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

test

### Versions / Dependencies

test

### Reproduction script

test

### Anything else

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-12-09 00:49] #20980 closed

[2021-12-09 00:49] scv119 commented on #20388
Yeah. Unfortunately I can't get a reproduce on my Mac; tried different settings like the number of plasma store size and number of objects; range from 8GB to 40GB (my Mac has 64GB of memories)

[2021-12-09 00:52] rkooo567 commented on #20388
I could reproduce this with 16gb mac. Maybe we can pair program to verify if thrashing is the root cause?

[2021-12-09 02:16] victor-ab commented on #14974
BTW, @edoakes do you know the answer to this question?

[2021-12-09 06:54] kfstorm opened #20982 "[Test Bug] Matching `psutil.Process.name()` doesn't work on macOS"
Python workers leverage `setproctitle` to update the process title to something like `ray::IDLE` or `ray::IDLE_SpillWorker`. Sometimes we need to match the titles of processes returned from `psutil.process_iter()` to get the info of workers. e.g.

https://github.com/ray-project/ray/blob/b3a9d4d87d31255e0871852efaf1ddff7acdc390/python/ray/tests/test_multi_node.py#L69-L79

This works on Linux. Howev

[2021-12-09 08:21] #20772 closed

[2021-12-09 10:03] #20923 closed

[2021-12-09 11:44] clay4444 commented on #20968
hmm. it seems weird, I'll try to reproduce it on my local laptop firstly.

[2021-12-09 12:42] Hankpipi commented on #20928
Can we just tag this metric by `handle.endpoint_name`?
I find that the metrics defined in `router.py` is tagged by `endpoint_name` too(`self.deployment_name` defined in class `Router` is actually `endpoint_name`).
https://github.com/ray-project/ray/blob/f7b0b872f9d5a2671d52d53891255d9f814034f7/python/ray/serve/handle.py#L99-L104

[2021-12-09 13:44] #20727 closed

[2021-12-09 16:29] jeffreykennethli opened #20991 "[Bug] core_driver.log leaks when log_to_driver=False"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

After running ray.init(log_to_driver=False), then ray.shutdown(), the ray driver logs remain open, when they are expected to be closed. See screenshot:

![image](https://user-images.githubuserc

[2021-12-09 16:45] mikwieczorek opened #20992 "[Bug] [Dask-on-Ray] Task-based shuffle not being inferred from setting Dask-on-Ray scheduler."
### Search before asking

- [x] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Others

### What happened + What you expected to happen

When using Ray Cluster (not local ray) with at least 1 worker and setting an index on Dask Dataframe results in uneven distribution. Depending on the index-column structure some partiti

[2021-12-09 17:36] clarkzinzow commented on #20329
@matthewdeng Ping on this!

[2021-12-09 17:39] architkulkarni commented on #20928
Oh nice, I think that could work!  You're probably right that it's a naming error, feel free to fix it--at some point we renamed everything from the pre-Ray 1.4 "backends and endpoints" API to the new "deployments" API, but some things may have fallen through the cracks.

[2021-12-09 19:24] matthewdeng commented on #20329
Oops @clarkzinzow I guess this was a misassumption on my part. Perhaps the (non)guarantees could be made clearer in the API documentation?

[2021-12-09 19:25] #20841 closed

[2021-12-09 20:15] RodgerLuo commented on #20589
Hey @sven1977, thank you very much for the fix. It looks good to me and I'm looking forward to trying it out.

[2021-12-09 20:37] #20769 closed

[2021-12-09 22:08] scv119 opened #20999 "[regression] stress_test_many_task performance regression"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

N/A

### Versions / Dependencies

N/A

### Reproduction script

N/A

### Anything else

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-12-09 22:21] #20862 closed

[2021-12-09 22:45] rkooo567 commented on #20862
Is this expected to be close? (don't we have not sufficient data to confirm?)

[2021-12-09 23:01] dobbali opened #21000 "[Bug] TuneReportCallback function uses Pytorch trainer attribute that has been deprecated"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Ray Tune throws an Attribute error when TuneReportCallback is used as a callback in Pytorch Lightning Trainer function.

`AttributeError: 'Trainer' object has no attribute 'running_sanity_check

[2021-12-09 23:04] #20601 closed

[2021-12-09 23:04] amogkam commented on #21000
@dobbali the integration only works with PTL 1.4 or lower for now. We are currently working on support for PTL 1.5.

Closing this as duplicate of https://github.com/ray-project/ray/issues/20741

[2021-12-09 23:05] #21000 closed

[2021-12-09 23:28] #17387 closed

[2021-12-09 23:30] kfstorm commented on #20967
Can we not add 'setAsync(true)'? We can infer whether it's an async actor by scanning member methods. If this is not a good approach, at least use annotation instead. Actor options set on actor creation is mainly designed for dynamic tuning, but whether an actor is async should be solely defined by the code of the actor. It's not possible to change it at runtime.

[2021-12-10 00:25] gg-aking opened #21002 "[Bug] Improper Property name in Pytorch_Lightning integration with tune"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Crashes when running `tune.run` with `pytorch_lightning`. Apparently,  the most recent version of`pytorch_lightning.Trainer` has a property called `sanity_checking`, but `tune.integration.pytor

[2021-12-10 00:26] amogkam commented on #21002
@gg-aking  the integration only works with PTL 1.4 or lower for now. We are currently working on support for PTL 1.5!

Closing this as duplicate of #20741 and #21000

[2021-12-10 00:26] #21002 closed

[2021-12-10 01:03] chunweiyuan commented on #20618
Hi @stephanie-wang ,

I just tried what you suggested regarding changing the list arg into direct args, with the following changes to the original code:
[code]
For me, there doesn't seem to be any practical difference between the two methods.  If I provide enough memory for one to work, the other one would work as well.  Same thing with failure.  I haven't been able to find a situation where one m

[2021-12-10 04:19] #20960 closed

[2021-12-10 06:32] raulchen commented on #20967
Makes sense. I'll use an annotation.

[2021-12-10 10:40] markgoodhead commented on #19785
OK - is there a standard way to recreate the old behaviour? i.e. if I request 3k cores, then immediately request 0k cores, will that still bring up 3k cores? Ideally we want a way to guarantee 3k cores are created, but once that's done we want the autoscaler to take over for downscaling purposes as our job(s) finish.

[2021-12-10 12:37] mm04926412 commented on #20886
Hi just wanted to bump this.

[2021-12-10 13:26] holinov commented on #20970
Yeph. I'v found point that breaks it.
You need 2 files.
First file: `run.py`
[code]
second file `test.py`
[code]

If you launch `run.py` - everything is ok. But if you launch `test.py` - you get that error

[2021-12-10 14:58] Hankpipi commented on #20928
I have tried to fix this naming error and add metrics for HTTP error codes, please help review @architkulkarni.

[2021-12-10 17:04] Yard1 commented on #18903
This is due to Optuna itself being backlogged by the number of results. Unfortunately, this is not something we can influence. With such a large number of trials, the underlying model requires a non-trivial amount of time to suggest new points. I'd consider using simple random search through Tune's `BasicVariantGenerator` as that will return a new suggestion in a constant time, no matter the amoun

[2021-12-10 17:04] #18903 closed

[2021-12-10 18:38] VasundharaAgarwal opened #21014 "Unable to install ray 1.9.0 on MacOS"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I get the following error when trying to install ray 1.9.0 with `pip install ray==1.9.0` on MacOS 10.14.5 using Python 3.7.

[code]

Does anyone know what the problem is?

### Versions / Depend

[2021-12-10 18:52] DmitriGekhtman commented on #19785
Depending on your workload, you may also be able to achieve the desired effect by setting `upscaling_speed` in the autoscaling config to a very high number -- this will prevent the autoscaler from rate limiting node launch triggered by task and actor resource demands.

Using placement groups in place of autoscaler.sdk.request_resources is also an option. (You'd delete the placement group after the

[2021-12-10 18:54] markgoodhead commented on #19785
OK, is there a programmatic way to wait for the scale up? We're running a batch job which happens automatically so no one is there to manually monitor the scaling up.

Ideally there'd be some way to tell that the appropriate amount of resource was being started (although not necessarily ready yet - often clusters start in a staggered way and we'd like our job to start running on them as soon as th

[2021-12-10 18:58] DmitriGekhtman commented on #19785
Check out https://docs.ray.io/en/latest/advanced.html#resource-information

Great idea!

[2021-12-10 18:59] DmitriGekhtman commented on #19785
cc @edoakes -- I think this discussion touches the concept of "jobs"

[2021-12-10 19:27] scv119 opened #21016 "[P0][Bug] Memory leak in ray head"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://discuss.ray.io/t/memory-leak-in-ray-head/4381

### Versions / Dependencies

N/A

### Reproduction script

N/A

### Anything else

_No response_

### Are you willing to submit a PR?

- [

[2021-12-10 20:26] shrekris-anyscale opened #21017 "[Serve Autoscaler] Dynamically adjust autoscaling parameters"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

**Issue**

Redeploying a Serve deployment with new autoscaling configurations currently causes Serve to de-provision and then re-provision replicas. This drops unfinished requests.

**Expected

[2021-12-10 20:37] shrekris-anyscale opened #21018 "[Serve Autoscaler] Dynamically increase min_replicas"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

**Issue**

When a Serve Deployment is redeployed with a higher `min_replicas` value, it doesn't increase the number of replicas. However, the unfinished requests remain queued (which is expect

[2021-12-10 20:50] amogkam opened #21020 "[Train] Port over `timm` example to Train"
In the effort to have more realistic examples for Ray Train, we should port over the `timm` example (like what we had for Ray SGD v1 https://github.com/ray-project/ray/tree/master/python/ray/util/sgd/torch/examples/image_models) and also show how to do more advanced training logic such as exponential moving average or sync batchnorm.

Also showing a performance comparison between Datasets+Train vs

[2021-12-10 20:58] amogkam opened #21022 "[Train] Display training progress output in `stdout`"
It would be nice to show some training progress output when running a Ray Train job (similar to the `ProgressReporter` of Tune).

[2021-12-10 21:12] heng2j commented on #19394
Hi @wpwpxpxp, thank you for adding this issue and willing to submit a PR. How's the progress for this new feature?

[2021-12-10 22:19] mickare commented on #19523
https://github.com/Azure/azure-sdk-for-python/issues/22073

[2021-12-11 00:16] jiaodong commented on #20971
hi @spolcyn i tried to reproduce this using my local ray cluster address 127.0.0.1 with 60s wait time under your "confirmed not to work"and it runs fine: https://gist.github.com/jiaodong/61e07fbfb92b373e236b5a2209f9a27a

So i think it has something to do with ray client connect with remote ray cluster. Let me try to repro it on remote cluster and see if it's consistent. Meanwhile I think you can t

[2021-12-11 01:09] spolcyn commented on #20971
Hi @jiaodong  -- yes, it's just the remote ray cluster we're having problems with. We ran locally on some of our larger nodes as a temporary workaround for certain use cases.

We'll take a look at the job submission API.

[2021-12-11 01:23] jiaodong commented on #20971
@spolcyn i'm giving this suggestion mostly because that's very likely better way to run your workload. Ray client technically gives you the interactive experience but starting serve there and calling serve APIs on your script via ray client is not quite the recommended way to run your service, specially for remote ray cluster -- it's better to have a clear client - server separation and communicat

[2021-12-11 02:03] #20239 closed

[2021-12-11 02:37] daikeshi opened #21030 "[Bug] Fail to access GCS data using Datasets API with token="cloud""
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

We host Ray cluster on a GKE using Ray k8s operator, and Ray head node and worker pod are configured to use the GKE workload identity to access GCS datasets.

On my local laptop, I'm using the fo

[2021-12-11 03:11] daikeshi commented on #18233
Hey @richardliaw, we are also interested in seeing the comparison between Ray Datasets and NVTabular/TF.Transform. It'll be super helpful if we can get more insights. Thank you!

[2021-12-11 03:56] daikeshi opened #21031 "[Bug] Ray client connection error after running helm upgrade"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

We host our Ray cluster on GKE using the k8s operator. I notice lately that after I run helm upgrade with updated chart values for workers (e.g. worker memory and cpu configurations), the R

[2021-12-11 04:43] rkooo567 commented on #21016
This is the original issue https://discuss.ray.io/t/memory-leak-in-ray-head/4381/3

We'd like to ask you some questions regarding the issue.

(1) As @scv119 asked in the original thread, is it possible for you guys to track per process CPU/memory usage over time to see what are offenders? (e.g., this is one of possible ways to do this https://github.com/ray-project/ray/blob/f04ee71dc7ba1e4a84b8bda

[2021-12-11 09:00] #17458 closed

[2021-12-11 09:00] #17347 closed

[2021-12-11 13:57] #20589 closed

[2021-12-11 14:53] CRISPRCas commented on #10995
Thank you sooooo much. I also encountered same issue while following the tutorial, [Using PyTorch Lightning with Tune](https://docs.ray.io/en/latest/tune/tutorials/tune-pytorch-lightning.html). The problem finally solved by downgrading PTL from 1.5.2 to 1.4.8.

Package manager：

- conda 4.10.1

Module Version and the Change:

- pytorch 1.10.0
- pytorch-lightning 1.5.2 => 1.4.8
- ray 1.9.0
- python

[2021-12-11 14:59] keyboardAnt opened #21037 "[Bug] argparser"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I implemented an argparser and call it. Unfortunately, it makes Ray fail. I couldn't find a minimal example that reproduces it.
Thought you might wanna know.
Tnx.

[code]

### Versions / Depend

[2021-12-11 16:54] iasoon commented on #21017
@shrekris-anyscale I can't seem to reproduce this issue. Could it be that your testcase has an error? I think that on the second `deploy` call, you are deploying `v1` of your deployment again. For deploying the new configuration, `A.options(**opts).deploy()` should be used. With that change, the testcase passes for me.

[2021-12-11 16:56] iasoon commented on #21018
@shrekris-anyscale I can't reproduce this issue. Could it be that your testcase has an error? I think that on the second `deploy` call, you are deploying `v1` of your deployment again. For deploying the new configuration, `A.options(**opts).deploy()` should be used. With that change, the testcase passes for me.

[2021-12-11 17:09] iasoon commented on #21017
Is this not the expected behaviour? As per the docs (https://docs.ray.io/en/latest/serve/core-apis.html#updating-a-deployment), redeploying a new version should replace all currently running replicas. For updating the autoscaling config of a deployment, this seems to work without de-allocating any replicas for me:

[code]

[2021-12-11 20:51] Yard1 opened #21038 "[Bug] [tune] `TimeoutStopper` has issues when an experiment is resumed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

`TimeoutStopper` compares the current time to a time at start + time budget. This means that when an experiment is restored, the time between the experiment stoppage and restoration is also cou

[2021-12-11 22:09] dvirginz commented on #11641
I still have it with ray 1.8.0
have both ray[default] and ray[tune], but no tune tab in the dashboard.

[2021-12-12 05:05] wumpus commented on #19938
I ran into this problem after I decided to use pickle5 to check that my users aren't calling ray with too large of an argument list.

My environment is ray 1.2.0, pickle5 0.0.12

Whether my code includes pickle5 or not, ray.init() fails.

When I "pip uninstall pickle5", all is well.

I don't have any tensorflow installed in this venv, so this pickle5 problem appears to be the fundamental problem.

[2021-12-12 07:51] jovany-wang commented on #17820
It's still valid.

[2021-12-12 09:30] duburcqa opened #21041 "[Bug] Memory usage growing unboundedly using episode step callback."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

For some reason, the memory usage grows unboundedly and linearly until eventually OOM error if I enable this monitoring callback. I'm using PPO algorithm for training. I can confirm it is not happ

[2021-12-12 14:36] keyboardAnt commented on #21037
There's no exception when initiating Ray with the `local_mode=True` flag (i.e., calling `ray.init(local_mode=True)`).

[2021-12-12 15:03] VasundharaAgarwal commented on #21014
Worked after updating MacOS to 12.0.1

[2021-12-12 15:03] #21014 closed

[2021-12-12 15:05] duburcqa commented on #21041
Here is what I get using tracemalloc between each training iterations:
[code]

[code]

[2021-12-12 15:53] keyboardAnt commented on #21037
By changing the implementation from using a remote worker function to using an actor class with an empty `__init__`, I received the following traceback:
[code]

[2021-12-12 17:57] wildsky95 opened #21044 "[Bug] KeyError: 'advantages', when using PPO agent with tune.run on multi agent env"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Hi
I'm trying to use PPO with tune.run in a custom multi-agent environment and i get key error: "advantages". is this a bug or how should i solve this. i tried changing the version and the erro

[2021-12-12 20:45] duburcqa commented on #21041
Comparison with and without `MonitorInfoCallback` enabled:
![image](https://user-images.githubusercontent.com/17752950/145728946-4f9c040f-00d6-4156-ab75-d0116ad8436c.png)

[2021-12-12 21:29] iasoon commented on #19155
Personally I feel the current way is cleaner than the proposed solution. As I see it, `_blocking` is a setting for how the `deploy` method should happen, as opposed to `options`, which changes the properties for the actual deployment.

[2021-12-13 00:59] rkooo567 commented on #20723
Note: All the P0s are done.

[2021-12-13 01:00] rkooo567 commented on #20408
@stephanie-wang is this blocked by https://github.com/ray-project/ray/blob/master/python/ray/tests/test_chaos.py#L211? Or the pin existing object should be able to re-enable tests? (I saw it is not enabled yet)

[2021-12-13 01:01] rkooo567 commented on #20309
I am planning to handle this

[2021-12-13 01:13] richardliaw commented on #21031
@DmitriGekhtman @wuisawesome any thoughts here?

cc @zhe-thoughts @gjoliver @worldveil for visibility

[2021-12-13 01:14] richardliaw commented on #21030
cc @clarkzinzow @scv119 to track

[2021-12-13 03:03] DmitriGekhtman commented on #21031
That's definitely problematic. The suboptimal workaround while we look into this is to tear down the Ray cluster and then recreate it, rather than updating the configuration.

[2021-12-13 05:17] wpwpxpxp commented on #19394
Hi,

Thanks for getting back to me!!

I'm working on it, and trying to make the training of the two models
(discriminator and generator) in AIRL algorithm separate and in parallel so
that we can have the flexibility in the future to use any RL algorithm to
train the generator and any supervised learning approach to train the
discriminator.

However, I've been stuck with an issue in Ray for a coupl

[2021-12-13 05:47] #17428 closed

[2021-12-13 06:36] jiaodong opened #21046 "Get latest ray releases on conda"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Our conda packages seems out of date based on: https://anaconda.org/conda-forge/ray-all

It's 1.6, our latest is 1.9.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am

[2021-12-13 07:56] rkooo567 commented on #20933
I think it is due to Ray's fractional GPU resource calculation. When you have 8 GPUs, Ray doesn't have 8.0/8.0 GPUs, but it has

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0] / [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

Here, imagine you schedule 8 of 0.6 GPU,

[0.4, 0.4, 0.4, 0.4, 0.4, 0.4, 0.4, 0.4] / [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

And you cannot schedule any more GPU.

At the end you have

[2021-12-13 07:56] rkooo567 commented on #20933
it is working for 0.25 because 4 of 0.25 GPU can fit into 1.0 instance perfectly (so you can schedule all GPUs in this way)

[2021-12-13 07:57] rkooo567 commented on #20933
@wuisawesome @ericl Is there any way to improve error message in this case? Should we just disallow to schedule GPU values such as 0.6?

[2021-12-13 11:42] krfricke commented on #21041
cc @sven1977

[2021-12-13 12:18] karstenddwx opened #21048 "[Bug] executing trials in local mode (ray.init(local_mode=True)) triggers endless blocking for next trial"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

trial_runner.py blocks forever for providing the next trial (endless loop),
while loop in _update_trial_queue never breaks

prerequisites:
- initialize ray in local_mode=True (max_concurrent=1

[2021-12-13 13:52] kaechb opened #21050 "[Bug] ExperiementAnalysis doesnt work if path has been changed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Hi,
I did not find any issue regarding this, but I can hardly believe that I am the only one that ran into this.

1. When renaming the folder containing the results of a ray tune search, the Ex

[2021-12-13 14:42] yushan111 commented on #19938
Same problem with 3.7.0. I have no `tensorflow` on my system without virtual environment or `pickle5`
Problem disappeared with python==3.7.10.

It might be a issue related to python.

[2021-12-13 15:08] daikeshi commented on #21031
:-) yeah, this is what I'm doing right now as a workaround. Please keep me posted and let me know if there's anything I can help with.

[2021-12-13 17:02] nirn1973 commented on #3644
I am getting the same error with Modin[ray]. I do not call a remote function using ray explicitly, but I do initialize and configure ray inside the main/top module, because the program needs extra out-of-core, disk space. Any advice on how to solve this?

ray.init(_plasma_directory=plasma_directory,
         include_dashboard=False,
         object_store_memory=20e9,
         _system_config={

[2021-12-13 17:34] pcmoritz commented on #20891
@mattip @czgdp1807 Can one of you try this on Windows and see if you can reproduce it?

[2021-12-13 17:38] czgdp1807 commented on #20891
@pcmoritz I think I reproduced this sometime back when @mwtian shared something similar with us. @mwtian Could you please verify if it's the same issue?

[2021-12-13 17:43] #17083 closed

[2021-12-13 17:50] wuisawesome commented on #20933
I think you should be able to log a warning just about anywhere?

It maybe worth allowing the behavior though since someone could be trying to do multiple GPU tasks

[code]

[2021-12-13 17:53] wuisawesome commented on #20933
Btw sorry I'm seeing this issue late, but @zhuohan123, as a workaround, you can do `RAY_predefined_unit_instance_resources= ` (empty string) to treat GPUs as a regular resource, but the rationale here is that most workloads don't let you split a task across multiple partial GPUs.

[2021-12-13 18:07] mwtian commented on #20891
Yes this looks like the same issue as https://discuss.ray.io/t/with-enough-available-resources-most-of-the-actors-creation-is-pending/4364. Thanks for raising awareness on Github @John-Almardeny.

[2021-12-13 18:46] gjoliver commented on #20970
I can reproduce this with 1.9 locally.
let me take a look.

[2021-12-13 19:18] spolcyn opened #21054 "[Bug] NoneType has no attribute _hash"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

In a long-running job, the ServeController eventually went down. When it tried to restore the deployments, it ran into an error:
[code]

The last few lines of the log in the previous ServeCont

[2021-12-13 19:20] edoakes commented on #21054
@spolcyn what version of Ray are you running? We recently fixed a similar-looking issue in our long-running failure tests, it is included in Ray 1.9.

[2021-12-13 19:22] onetwopunch opened #21055 "[Bug] CVE-2021-44228 Log4j"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

It seems Ray is vulnerable to the latest critical Log4j vulnerability [CVE-2021-44228](https://nvd.nist.gov/vuln/detail/CVE-2021-44228) see [this post](https://www.govcert.ch/blog/zero-day-expl

[2021-12-13 19:27] spolcyn commented on #21054
@edoakes We're running 1.8 while working through #20971.

[2021-12-13 19:51] kajc10 opened #21058 "[Bug] ImpalaTrainer - RuntimeError: Dequeue `check()` returned False!"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, Ray Train, RLlib

### What happened + What you expected to happen

Ran ImpalaTrainer and after a few iterations an error is raised : RuntimeError: Dequeue `check()` returned False! Exiting with Exception from Dequeue iterator.  The same envir

[2021-12-13 20:20] pcmoritz commented on #21055
If you need a very short term fix right now, you can remove the `ray_dist.jar` from the wheel (it is not used by Ray unless you are using Ray Java bindings) like this (for example for macOS):

[code]

[2021-12-13 20:24] pcmoritz commented on #21055
Also cc @iycheng who is leading the 1.9.1 release cc @zhe-thoughts

[2021-12-13 20:28] spolcyn commented on #20971
@jiaodong Thanks for working on this! Glad the issue context was helpful for reproducing.

[2021-12-13 20:40] #17486 closed

[2021-12-13 20:49] wumpus commented on #19938
You might want to examine your stack trace, it would be surprising if pickle5 is mentioned there if it's not installed.

The python version dependency might be that 3.7 backported some stuff in a middle version. The entire pickle5 module is unusual because it's a backport of the 3.8 pickle for earlier Python versions.

[2021-12-13 20:56] darcamo commented on #19116
Any news on this?

Arch Linux just updated to Python 3.10 (3.10.1) and when trying to recreate my virtual environments ( using [poetry](https://python-poetry.org/)) it failed with error
[code]
I suspect it is because of the wheels missing. Everything worked fine on Python 3.9.

[2021-12-13 20:58] gjoliver commented on #20970
Fortunately, this has already been resolved in master.
We realized during last quarter that build_trainer() is really confusing, and sometimes cause weird issues described by this issue.
So we spent a lot of time and migrated all of our agents off build_trainer(). They are all simply extending Trainer class with latest HEAD.

You should get the change with next 1.10 release. If helpful, you can al

[2021-12-13 20:59] gjoliver commented on #20970
@sven1977 for your information.
that was a visionary change :)

[2021-12-13 20:59] #20970 closed

[2021-12-13 22:18] #20771 closed

[2021-12-13 22:20] jiaodong commented on #20971
This issue is actually also reproducible on laptop. The key is to enforce using ray client by

`ray start --head`

Then use `ray://127.0.0.1:10001` as address. The symptom on laptop is identical to remote cluster.

[2021-12-13 22:40] simon-mo commented on #19260
@simon-mo to write outline and @jiaodong to flush it out

[2021-12-13 23:09] edoakes commented on #20971
cc @ckw017 looks to be a ray client-specific issue

[2021-12-13 23:10] onetwopunch commented on #21055
Thanks for the quick response and workaround! We're happy to wait till the 1.9.1 release. Please feel free to close this once the release has shipped :)

[2021-12-13 23:51] jiaodong commented on #20971
While the deployment script hangs on my laptop, i can still use ray client to connect to the running controller actor in "serve" namespace, make actor calls to it such as `get_deployment_info()`.

This suggests the issue likely happen at serve's api.py level regarding the use of ray client that led to deadlock, rather than controller implementation itself that is not responding.

[code]

[2021-12-14 00:59] edoakes commented on #21054
@spolcyn is it possible for you to test out 1.9 to see if this issue persists? Otherwise I will close this and we are prioritizing your other issue as a P0.

[2021-12-14 02:13] spolcyn commented on #21054
@edoakes We can't test on 1.9 at the moment in our main workloads, so we can close this for now and re-open if we encounter it again after the next release.

[2021-12-14 02:13] #21054 closed

[2021-12-14 02:19] rkooo567 commented on #20388
Btw, here's the initial investigation.

- Seems like it only happens in 16 GB MacOS (doesn't happen in 64GB MacOS nor Linux).
- What we found out is when we memcpy into mmaped /tmp directory "concurrently from many threads/processes", the slowdown happens. For example, after we disabled "parallel_memcpy (https://github.com/ray-project/ray/blob/30d3115c4585df3b5cead882b69c7a80c8f023b6/src/ray/util/

[2021-12-14 02:54] devin-petersohn commented on #20388
Thanks @rkooo567 for the update. Let us know if/how we can help on this.

[2021-12-14 02:55] matthewdeng opened #21065 "[Train][Tune] Unify Train and Tune Callbacks"
Currently Train and Tune both implement Callbacks of their own. Though they each interact with their own set of steps, there is a clear overlap between the training loop as well as with integrations that the Callbacks interface with. This issue tracks the general objective of unifying the two where beneficial.

### Goals
1. Usability - Users should easily be able to transition from Train to Tune.

[2021-12-14 02:56] matthewdeng opened #21066 "[Train] Document Callbacks"
Best practices for adding Ray Train Callbacks should be documented. When adding a new Callback, it should be clear what existing components can be leveraged or extended.

Some patterns to think about:
1. Class inheritance, metaclasses, mixins.
2. Composability of common functionality.
3. Adding arguments and using `**info` kwargs.
4. Ray Tune Callback interoperability (https://github.com/ray-proje

[2021-12-14 03:09] clarkzinzow commented on #20108
I wasn't able to reproduce this with a mock cluster, going to try with a real cluster tomorrow.

[2021-12-14 03:34] larrylian opened #21068 "When dont' start raylet, set the object_store_memory to 0 so as not to affect the memory check."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

When dont' start raylet, set the object_store_memory to 0 so as not to affect the memory check.
Merge ant team change to ray-project/ray.

The current community structure is that the Head node will also start raylet. But the ant clust

[2021-12-14 04:04] jiaodong commented on #19260
Current documentation: https://docs.ray.io/en/master/serve/deployment.html#deploying-on-kubernetes

[2021-12-14 07:22] sandratatarevicova commented on #21016
I have created a script that logs CPU and memory usage of the head node every 10 minutes. The head node was running for one day now and the log shows that Redis processes consume the most CPU and memory and that its CPU and memory usage is still increasing. I will send you the complete log to Slack.

**Ray version**: We are currently using Ray 1.8.0, we have had the same problem on Ray 1.6.0
**Pyt

[2021-12-14 07:38] rkooo567 commented on #21016
This is a known issue actually (the function is not GC'ed). We are planning to take a look at this next quarter to fix it.

Besides, I wonder why you have so many ray client server processes? It seems like each of them uses 0.5% of memory, and 3 of them already exceeds the memory usage of Redis (which is 1.4%).

[2021-12-14 07:40] rkooo567 commented on #21016
Also, is there a special reason why the head node only uses 2 CPUs?

Head node already has 4~5 Ray processes, each of which probably uses more than a couple threads, so having 2 CPUs are probably too small (even if you don't schedule any Ray tasks on a head node). In our CI, we use at least 4~8 CPUs on a head node IIRC.

[2021-12-14 07:40] fengxiaoxu96 opened #21071 "Tune.run takes a long time before training"
Hello!

I am using `Tune.run()` to train `PPO` agent in rllib.

The `tune.run` command is like this
[code]
and the model config is
[code]
the asha_scheduler is set as this
[code]

But the training does not start and it always keeps showing `== Status ==` in the terminal as
[code]

The CPU usage is 100% and GPU has `PPO.train()` process but is not working.

I saw the [#5386](https://github.com/ray-

[2021-12-14 07:56] #18703 closed

[2021-12-14 08:51] czgdp1807 commented on #20891
I checked again. The `num_cpus + 1` (checked for `4` and `7`) alive actors isn't visible in my logs (though the script completes, the one shared in https://discuss.ray.io/t/with-enough-available-resources-most-of-the-actors-creation-is-pending/4364). Only one actor goes from pending creation to alive state. See the logs below,

[code]

[2021-12-14 14:37] Tehada opened #21075 "[Bug] Deserialization of exception fails"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I have this code in `example.py`:

[code]

When I run this code inside latest docker `rayproject/ray` with default ray 1.8.0 I am getting this error:

[code]
It seems that during deserializatio

[2021-12-14 15:28] Tehada commented on #21075
Upd: seems that problem is in `cloudpickle.py` which resides in `python/ray/cloudpickle`:

[code]

[2021-12-14 15:31] Ha5hBr0wn opened #21077 "[Bug] Logs show memory resource requests as billions of gigabytes"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

The docs on this page: [https://docs.ray.io/en/latest/memory-management.html#memory-aware-scheduling](url) seem to specify memory requirements in terms of bytes.

Logs that appear during runs s

[2021-12-14 15:59] rkooo567 commented on #20933
@wuisawesome @ericl Is there a special reason why we should keep this feature? It makes sense "most workloads don't let you split a task across multiple partial GPUs", but that doesn't align with our API (that allows you to specify values such as 0.6). We should either raise a better error message (maybe not allowing values such as 0.6) or remove this feature to avoid confusion.

[2021-12-14 16:00] Tehada commented on #21075
Upd2: it appears that `urllib.error.HTTPError` doesn't conform the definition of picklable class. I am not sure why python core devs designed it this way, but nonetheless, it would be cool to have some fallback solution in ray for exceptions which are not picklable.

[2021-12-14 16:11] #17504 closed

[2021-12-14 16:11] young-chao commented on #17864
你好，你的邮件已收到，谢谢！

[2021-12-14 16:19] spolcyn commented on #21054
@edoakes Do you have the PR number/commit hash for the fix to this?

[2021-12-14 17:12] wuisawesome commented on #20933
Wait the point in this unit behavior is that a task _won't_ be split across multiple GPUs. It's perfectly fine to use the same gpu for multiple tasks though. It would be very hard to get rid of this feature because it's needed for GPU assignment btw.

[2021-12-14 17:28] architkulkarni opened #21079 "[1.9.1 release] CI test "Run Windows Build" failing consistently on release branch"
Example: https://buildkite.com/ray-project/ray-builders-branch/builds/5157#30d1ac78-a93d-4d36-b710-3296c5a134d2

[2021-12-14 17:29] architkulkarni opened #21080 "[1.9.1 release] CI test "Setting up bootstrap env (ML)" failing consistently on release branch"
Example: https://buildkite.com/ray-project/ray-builders-branch/builds/5157#d9ba05cb-fc05-4156-a90d-900e146c0574

[code]

[2021-12-14 17:32] architkulkarni opened #21082 "[1.9.1 release] `tune:test_commands` failing consistently on release branch"
Example: https://buildkite.com/ray-project/ray-builders-branch/builds/5157#3dc36ad7-45d6-46b2-b180-2ef2d9d5d53d/473-694

`//python/ray/tune:test_commands                                         TIMEOUT in 3 out of 3 in 60.1s`

[2021-12-14 17:38] architkulkarni opened #21083 "[1.9.1 Release] tests:test_cli failing consistently on release branch"
Example: https://buildkite.com/ray-project/ray-builders-branch/builds/5157#609743a7-040a-420d-8fdf-bcce0e2384a4/208-345

This seems to be the error:
[code]

[2021-12-14 17:38] edoakes commented on #21054
@spolcyn https://github.com/ray-project/ray/pull/20268 -- you can try patching it in

[2021-12-14 17:46] architkulkarni opened #21084 "[1.9.1 Release] `aws_ssh_sync` failed twice on release branch"
First failure: https://buildkite.com/ray-project/periodic-ci/builds/1946#6d8b90b0-37df-4dbc-8cea-4e91f7f2f5c6/138-392

[code]

Second failure: https://buildkite.com/ray-project/periodic-ci/builds/1946#b5455517-114a-4adb-be20-74bf2f9eb752/138-380
[code]

[2021-12-14 17:53] #20910 closed

[2021-12-14 17:54] simon-mo commented on #21079
Buildkite windows test are fine it ignore. Please use github action as source of truth.

[2021-12-14 17:54] #21079 closed

[2021-12-14 17:56] architkulkarni commented on #21079
Ah thanks!  It passed on gh actions so we're good.

[2021-12-14 18:02] czgdp1807 commented on #20891
A minor update. There is an anomaly which I found while going through `logs/gcs_server.out`.

For a worker which went `ALIVE`,

[code]

For a worker which was always in `PENDING_CREATION` state,

[code]

So, the difference is that worker for actor in the second case was never leased or atleast leasing never finished. And may be that's why the actor never went alive?

cc: @wuisawesome

[2021-12-14 18:09] wdapalma opened #21085 "[Bug] [workflow] ray debug does not find workflow breakpoints if running multiple workflows"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Monitoring & Debugging

### What happened + What you expected to happen

I can use `ray debug` to find breakpoints on a submitted workflow the first time I run it (which is when the `WorkflowManagerActor` is created). If I complete that and submit the

[2021-12-14 18:10] matthewdeng commented on #20915
Added to Checkpointing docs in https://github.com/ray-project/ray/pull/20973.

If anyone runs into issues or finds the docs confusing, please feel free to reopen this issue. Thanks!

[2021-12-14 18:10] #20915 closed

[2021-12-14 18:15] wdapalma commented on #21085
Additional information seen on the Ray Dashboard:

![image](https://user-images.githubusercontent.com/15362830/146056101-1bf7f8d8-b4c1-4625-930f-edf343c13a71.png)
![image](https://user-images.githubusercontent.com/15362830/146056199-08a892e7-834d-4e40-8694-33a36d0e88bb.png)

[2021-12-14 18:31] wdapalma commented on #20524
I noticed that if I use create a program to subscribe to the `RAY_LOG_CHANNEL` channel in redis, all the log messages are there, however they are associated with the initial `job_id` of the `WorkflowManagerActor`. Because of that, the additional workflows started have a different `job_id` associated with the driver and discards the logs published with the old job_id.

[2021-12-14 18:44] jsuarez5341 opened #21088 "[Bug] Neural MMO Tests"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I have been maintaining a big fancy multiagent simulator dependent on RLlib for the past few years. Every time a new ray version comes out, several (sometimes dozens) of new bugs break basic funct

[2021-12-14 19:42] architkulkarni commented on #21083
Looks like a transient issue that affected master as well and has gone away by itself:
<img width="292" alt="Screen Shot 2021-12-14 at 11 42 23 AM" src="https://user-images.githubusercontent.com/5459654/146068236-9ed17de3-f9af-4a3c-90b1-67d3e5fc4db2.png">

I'll reopen if it continues to fail on the release branch after retrying.

[2021-12-14 19:42] #21083 closed

[2021-12-14 19:44] iasoon commented on #17764
I think this was fixed by https://github.com/ray-project/ray/pull/21042

[2021-12-14 20:04] #17764 closed

[2021-12-14 20:21] Ha5hBr0wn opened #21091 "[Bug] Wrapping xgboost.XGBRegressor as an Actor does not work"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When I extend XGBRegressor and make the subclass an actor, none of its methods work. I get the following error:

`AttributeError: 'Foo' object has no attribute '_ray_trace_ctx'`

I believe it h

[2021-12-14 21:46] architkulkarni opened #21092 "[runtime env] Change pip/conda install streaming logs from INFO to DEBUG"
The streamed logs are too verbose, so we shouldn't stream them by default.

[2021-12-14 21:49] edoakes commented on #20971
@simon-mo is there any reason why the callback in longpollclient would not be async?

As a meta point, this callback mechanism is really nasty and I'm not surprised it caused a bug like this. We should try to come up with a way to make this less race-condition-prone.

[2021-12-14 21:51] edoakes commented on #14974
@victor-ab we are working on improving this, but for now I'd recommend you use the Ray dashboard to look at logs, else the log files are also in /tmp/ray/session_latest/logs/working-*.{out,err}

[2021-12-14 21:51] edoakes commented on #14974
@simon-mo should this ticket be assigned for serve CUJ?

[2021-12-14 22:15] clarkzinzow commented on #20834
@chaomengyuan I think this is because you're missing a few quotations marks here: `["hdfs://netloc/path1, hdfs://netloc/path2"]`. This is a single long string instead of two strings. When using `["hdfs://netloc/path1", "hdfs://netloc/path2"]` instead, the JSON read works as expected for me.

[2021-12-14 22:18] ckw017 commented on #20971
After more digging, the it looks like the hanging is from:

1. remote call to listen_for_change is made
2. when response (timeout error) from listen_for_change is back, the dataclient invokes `callback1`
3. `callback1` set by serve logic sees that a timeout error occurs
4. `callback1` creates a new object ref with a new listen_for_change.remote(). This is asynchronous, i.e. the object ref isn't po

[2021-12-14 22:25] duburcqa commented on #14491
Still buggy. Do I need you open a PR myself ?

[2021-12-14 22:59] architkulkarni commented on #21084
Duplicate of https://github.com/ray-project/ray/issues/20686

[2021-12-14 22:59] #21084 closed

[2021-12-14 22:59] #20907 closed

[2021-12-14 23:09] simon-mo commented on #20971
@edoakes the callback should not block at all.

@ckw017 Great finding! what's your ideal next step here? Should we fix this in Ray Client or Serve must accept this limitation?

[2021-12-14 23:09] Eleven1Liu commented on #20901
Solved by #21078.

[2021-12-14 23:09] #20901 closed

[2021-12-14 23:16] ckw017 commented on #20971
Two fixes I can think of here would be:
- Have [this part run](https://github.com/ray-project/ray/blob/master/python/ray/serve/long_poll.py#L104-L105) on a separate (very short lived) thread, which would let the dataclient carry on/bypass the deadlock. Obvious downside is it seems a bit overkill
    - Alternatively, have some long running separate thread/task that spawns the new listen_for_change

[2021-12-14 23:26] simon-mo commented on #20971
hmm... okay i think i find a way for Serve to get around this. I'll make a PR by EOD. @ckw017 can you create a separate issue for Ray client to track this?

[2021-12-14 23:29] ckw017 opened #21093 "[Bug][Client] client is incompatible with serve LongPollClient"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Related to #20971, at the moment client will hang because of the serve's LongPollClient's use of _on_completed.

### Versions / Dependencies

Ray 1.9.0

### Reproduction script

See #20971

### A

[2021-12-14 23:43] iycheng commented on #20524
@wdapalma  that's right.  The reason here is that the actor is started with the old driver and it'll only push the log to the old ones. What we need here is to push the log to the new driver. `push_error_to_driver` could be something we can update, but I haven't got time to give it a try.

[2021-12-14 23:53] simon-mo opened #21094 "[Bug] [Serve] Constructor failure is no longer logged"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

[code]

in ray 1.9.0:
[code]

notice that the constructor error wasn't logged here. in 1.8, the following show up
[code]

### Versions / Dependencies

good in 1.8
broken in 1.9

### Reproducti

[2021-12-14 23:54] edoakes commented on #21094
@simon-mo this is a very bad regression, let's P0 it and make sure there's a test to avoid regressions

[2021-12-14 23:55] edoakes commented on #21094
Assigning to you to not lose track, feel free to reassign.

[2021-12-14 23:56] simon-mo commented on #21094
Ah fixed in https://github.com/ray-project/ray/pull/20620

[2021-12-14 23:56] #21094 closed

[2021-12-14 23:56] edoakes commented on #21094
Wow, great turnaround time!

[2021-12-14 23:59] jiaodong opened #21095 "[Bug] ModuleNotFoundError during deployment after upgrade to 1.9.0"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

We seem to have different module import behavior compare to previous version that `serve start` should only be executed at project root.

Likely a module import / pickling issue.

### Versions

[2021-12-15 00:17] architkulkarni opened #21096 "[1.10.0 Release] Core Scalability and Nightly Tests failing with mismatched Ray commits"
See https://buildkite.com/ray-project/periodic-ci/builds/1954# and https://buildkite.com/ray-project/periodic-ci/builds/1953, about 10 tests failed at the app config step.  Clicking into the app config build, we see

[code]

[2021-12-15 00:26] architkulkarni commented on #21096
These two commits are a couple of hours apart.  I'll downgrade it to P1 because it looks like some edge case with the timing, hopefully it gets fixed by re-running the tests.

[2021-12-15 00:37] architkulkarni opened #21097 "[1.10.0 Release] datasets_ingest_train_infer failing on master"
Example: https://buildkite.com/ray-project/periodic-ci/builds/1952#6505dd83-6ed8-4cb7-bb52-0f0b19a7b507

It seems to be failing pretty consistently over the last few runs.  It's unable to grab a GPU:

[code]

[2021-12-15 00:45] architkulkarni opened #21098 "[1.10.0 Release] `chaos_pipelined_ingestion_1500_gb_15_windows` failing on master"
It's failing pretty consistently, although it did pass once on Saturday 12/11: https://buildkite.com/ray-project/periodic-ci/builds/1915#ecdeea38-502f-471d-95ef-54488f3c2570

There seem to be a couple of types of failure:

https://buildkite.com/ray-project/periodic-ci/builds/1952#89862931-41e7-4cdd-ac1b-77fc3a262be4/138-498
[code]

https://buildkite.com/ray-project/periodic-ci/builds/1951#498844ec

[2021-12-15 00:47] architkulkarni commented on #21098
Actually @scv119 I see this test is marked with `stable: false`, can you help clarify what this means?  Does it mean we should close this issue and then after the branch cut, keep rerunning it until it passes?

[2021-12-15 01:01] #19415 closed

[2021-12-15 01:05] YuanfengZhang commented on #15780
I meet the same problem. None independent radis installed before so Ray was handling its own redis server.

[2021-12-15 01:07] jiaodong opened #21099 "[Feature] Compatibility test for job submission"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We need to ensure to have proper tests of job submission import lib path to ensure we're not breaking compatibility.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am

[2021-12-15 01:20] mwtian commented on #20971
Great investigations! To summarize Chris's findings, Ray client uses a single thread to process responses from get() and remote() calls, and run `ClientObjectRef._on_completed()` callbacks. During the processing of a response, the thread runs a `ClientObjectRef._on_completed()` callback that makes a `remote()` call and waits for the response containing the object ID. This causes deadlock on the th

[2021-12-15 01:30] scv119 commented on #21098
@architkulkarni this test hasn't been stable but some of the errors are bothering. We will take a look and reprioritize if it's not release blocker.

[2021-12-15 01:30] scv119 commented on #21098
oh it's chaos testing. we can ignore this.

[2021-12-15 02:13] asimovidick opened #21100 "PB2 fails with mean_accuracy metric"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I wanted to run tuning PPO+PB2 example provided in Ray documentation ([https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/pb2_ppo_example.py]) just changing metric in PB2 sche

[2021-12-15 02:47] clarkzinzow commented on #21030
The issue that you're running into is the same as [this one](https://github.com/fsspec/gcsfs/issues/264#issuecomment-705505992), where the project mismatch is being thrown as an error and `token="cloud"` isn't being tried. The default `token=None` should work, since when the mismatch between the specified project ID and the project ID included in the default credentials raises an error, that error

[2021-12-15 03:36] #17054 closed

[2021-12-15 04:42] Ha5hBr0wn commented on #21091
This is an issue with sklearn get_params() function turns out. So I am closing the issue.

[2021-12-15 04:42] #21091 closed

[2021-12-15 05:46] simon-mo opened #21103 "[Bug] [Serve] Completing goal uuid-uuid spamming logs in DEBUG"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

[code]

### Versions / Dependencies

master

### Reproduction script

[code]

### Anything else

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-12-15 05:46] simon-mo commented on #21103
@jiaodong can you take a look? it seems harmless but it's pretty bad that we are completing the same goal every 100ms

[2021-12-15 05:57] jiaodong commented on #21103
hmm this looks pretty weird and buggy indeed. We shouldn't be marking the same goal as "completed" upon each update cycle in deployment state manager.

[2021-12-15 06:15] jovany-wang commented on #21055
Hi @architkulkarni , what's the progress of 1.9.1?

[2021-12-15 06:24] simon-mo commented on #20971
PR is up #21104

[2021-12-15 06:44] simon-mo commented on #14974
For this particular use case:

When you get an application manifested as exception, the traceback should be in the traceback.
For example, the following prints:
[code]

[code]

[2021-12-15 06:45] simon-mo commented on #14974
@edoakes moving this to CUJ but not blocker

[2021-12-15 06:45] #11578 closed

[2021-12-15 06:45] #12180 closed

[2021-12-15 06:45] #12319 closed

[2021-12-15 06:45] #11617 closed

[2021-12-15 07:44] lihost commented on #7450
@ericl anything on this?

[2021-12-15 08:32] mattip opened #21106 "[Bug] [Windows] bazel test python/ray/serve:test_handle times out"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

When running the test_handle tests on windows via pytest, the tests pass
[code]
<details><summary>test output</summary>

[code]

</details>

When running them via bazel, there is a timeout
[co

[2021-12-15 08:38] sven1977 commented on #21088
Hey @jsuarez5341 , this really is a great idea! I'm in full support of this effort and would love to help with the PR.
One question I have is: Should we start by writing a quick (randomized) env emulator using our RandomMultiAgentEnv? Or would that not cover most of Neural MMO's capacity?

I have this abandoned PR here, which has a new example script mocking a multi-agent env with many dynamically

[2021-12-15 09:38] fengxiaoxu96 commented on #21071
Previously, the initialization code is `ray.init(num_cpus=2)`,
retried with `ray.init()` and it can start to train, but `reward = nan` for all iters

and later I changed nothing and try again the training and it is again stuck in searching with keeping showing `Status` as above.

Can anyone help with this problem?

[2021-12-15 10:07] jon-chuang commented on #20372
Thank you for your detailed reply!

From what I understand then, Fury aims to be a performant serialization framework that can serialize types dynamically without needing to provide schemas. The speedups are against naive approach when no schemas exist, by leveraging JIT to compress multiple method calls into a single method, and additional optimizations.

For Rust, one typically generates schemas

[2021-12-15 10:18] SongGuyang opened #21108 "[Feature][runtime env] add a DebugString and print the ref stats"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Reference the comment https://github.com/ray-project/ray/pull/20789#issuecomment-985303094.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2021-12-15 10:30] rkooo567 commented on #21108
I will set this P1. Good observability must be the necessary for all features as we've been having hard time debugging when issues coming up.

[2021-12-15 10:30] rkooo567 commented on #21108
IF there's a better way to implement observability in runtime environment, I'd love to hear the idea!

[2021-12-15 10:39] sven1977 opened #21109 "[Bug] RLlib + Unity3d adapter produce NaN actions due to action unsquashing into a -inf/inf-bound action space."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Running the `ray/rllib/examples/serving/unity3d_dummy_client.py` example script with 3DBall and in `--inference-mode=local` produces NaN/Inf actions due to RLlib unsquashing computed actions prior

[2021-12-15 16:38] jsuarez5341 commented on #21088
@sven1977 Yes, this is useful -- my suggestion would be to do both. This would give you a good idea of the gap between your unit tests, your in-house integration tests (this mockup MMO), and actual research/applications on the platform.

Here are the core things NMMO uses off the top of my head. Mind you, this is not an exhaustive list, and there's a strong possibility that replicating just these

[2021-12-15 17:04] Tehada commented on #21077
I made some research and it seems that problem happens [here](https://github.com/ray-project/ray/blob/92599d9127e228fe8d0a2d94ca75754ec21c4ae4/src/ray/common/task/scheduling_resources.cc#L192).

Initial amount in bytes hits this code:
[code]

and wrong conversion happens. Also it seems that previously this place had correct code according to [this commit](https://github.com/ray-project/ray/commit/

[2021-12-15 17:07] Tehada commented on #21077
@Chong-Li can you help us with this change by your commit?

[2021-12-15 17:17] architkulkarni commented on #21055
A release candidate 1.9.1rc0 should be released later today, and 1.9.1 should be released by the end of the week.

[2021-12-15 17:40] chaokunyang commented on #20372
@jon-chuang https://docs.google.com/document/d/12VvpGw_tEW2fb_Xj5Crmoh-zHR6Jx4ggRtEZjbPcMGs/ Here is a more complete introduction for fury.

[2021-12-15 17:44] chaokunyang commented on #20372
For pojo(java)/data-class(python)/struct(cpp) serialization, tag will be serialized if configured, by default fury order all fields and serialize them one by one. Serializing by tag name is only used for class compatibility and evolution. msgpack didn't consider there may be subclass instance for field value of field type, so some info will be lost when deserialization. Maybe it's smae case for ru

[2021-12-15 17:46] chaokunyang commented on #20372
For POJO, the reference are still considered. For exmaple, if two fields of a pojo reference an object, it will be serialized only once, if the object is already serialized before, it won't be serialized at all.

[2021-12-15 17:47] chaokunyang commented on #20372
For  "out-of-band" serialization, you can reference pickle5 outt of band serialization proposal:https://www.python.org/dev/peps/pep-0574/ @jon-chuang

[2021-12-15 17:48] chaokunyang commented on #20372
@jon-chuang Any comments would be appreciated

[2021-12-15 18:14] clarkzinzow opened #21112 "[Datasets] Support exchange APIs with Mars-on-Ray"
Once the [Datasets integration](https://github.com/mars-project/mars/pull/2393) in [Mars](https://github.com/mars-project/mars) is released, we should add call outs to the integration in our [`ray.data.read_mars()`](https://github.com/ray-project/ray/blob/2878161a282b2422b08f9feca10b734b10111d64/python/ray/data/read_api.py#L541-L551) and [`Dataset.to_mars()`](https://github.com/ray-project/ray/blo

[2021-12-15 18:29] scv119 commented on #21098
cc @stephanie-wang

[2021-12-15 18:50] clarkzinzow commented on #20108
@crclark This appears to be an issue with Dask's shuffle algorithm inference, where it's defaulting to a disk-based shuffle even thought we're using a distributed shuffle, which is most likely resulting in dropped data since the filesystem isn't shared across nodes. Dask Distributed manually sets the shuffle algorithm in the global config to the task-based shuffle, which the Dask-on-Ray scheduler

[2021-12-15 18:51] clarkzinzow commented on #20108
I'll open up an issue for the Dask-on-Ray scheduler setting that config.

[2021-12-15 18:54] clarkzinzow commented on #20992
Thank you for opening this issue, especially with the reproduction and drilling down the cases in which it is triggered! This does indeed appear to be an issue with Dask's shuffle algorithm inference, where it's defaulting to a disk-based shuffle even thought we're using a distributed scheduler, which is most likely resulting in dropped data since the filesystem isn't shared across nodes. Dask Dis

[2021-12-15 18:56] clarkzinzow commented on #20108
Using [this issue](https://github.com/ray-project/ray/issues/20992) as the tracker for Dask-on-Ray automatically setting that config.

[2021-12-15 19:39] architkulkarni commented on #21080
@simon-mo is this just a Buildkite issue?  Should it be a release blocker?  It's still happening on the release branch for 1.9.1: https://buildkite.com/ray-project/ray-builders-branch/builds/5189#b108a72f-a077-4c8f-9e61-5f5c8f66473b

[2021-12-15 19:50] architkulkarni opened #21116 "[Release 1.9.1] impala test failing consistently on release branch"
Example: https://buildkite.com/ray-project/periodic-ci/builds/1945#0deaa5c7-da74-4507-913d-109712915efe

There's a memory error:
[code]

[2021-12-15 19:51] architkulkarni commented on #21116
@amogkam I think this happened for 1.9.0 as well.  What should we do, should we ignore this test for the release, or do we need some sort of fix?  Or should I keep rerunning it?

[2021-12-15 19:58] amogkam commented on #21116
@architkulkarni is this using the test from master?

[2021-12-15 20:00] architkulkarni commented on #21116
No, the test infrastructure and test suite are both from the release branch

[2021-12-15 20:00] architkulkarni commented on #21116
Should I cherry pick something to fix this?  I'm worried that running the master test suite against an older release will give noisy results, but maybe I should do it anyway

[2021-12-15 20:08] amogkam commented on #21116
ah got it, then you would need to pick this commit https://github.com/ray-project/ray/pull/20691

[2021-12-15 20:38] stephanie-wang commented on #20408
Ah right, thanks for the reminder! I'll try to open a PR to fix it this week.

[2021-12-15 20:45] architkulkarni commented on #21096
This happened on the last two nightly tests.  Restarting the test didn't fix it, example: https://buildkite.com/ray-project/periodic-ci/builds/1961#71ad71bc-351d-4947-ab85-6a92cfb1df2f

I think we should upgrade the priority again because I could see it delaying the release if we can't get the tests to pass by restarting.  @krfricke I'm not sure who to assign this to, could you please help find an

[2021-12-15 20:50] #21116 closed

[2021-12-15 20:53] G-Lauz commented on #21095
Hi @jiaodong,

I was wondering if you found any workaround to this issue yet? I'm experimenting the same issue with ray 1.9.0 and a multi-node cluster on kubernetes.

Thanks you.

[2021-12-15 20:57] witt3rd commented on #18889
Same issue on 1.9 WSL2 Ubuntu 20.4 --- I am surprised that this hasn't been addressed yet --- the dashboard is not usable

[2021-12-15 21:05] iycheng commented on #20616
Close this one since it passes the test right now.

[2021-12-15 21:07] iycheng commented on #20616
I made one mistake. reopen it and assign it to @architkulkarni for tracking

[2021-12-15 21:08] architkulkarni commented on #20616
Here's the traceback where it's failing on 1.9.1: https://buildkite.com/ray-project/periodic-ci/builds/1946#d2107406-58d3-4118-ab33-2a05b2555a32/138-424

[code]

[2021-12-15 21:09] architkulkarni commented on #20616
@amogkam Is this okay to skip for the 1.9.1 release, or should it be a release blocker?

[2021-12-15 21:11] iycheng commented on #18818
@lchu-ibm I think way #3 is better
[code]

This is more aligned with ray's API
[code]

Basically by default namespace is None and if not given, it'll use the one from context otherwise, it'll use the given one.

[2021-12-15 21:13] architkulkarni opened #21118 "[1.9.1 Release] pg_long_running_performance_test failing consistently on release branch"
Example: https://buildkite.com/ray-project/periodic-ci/builds/1947#e99e8276-f045-4aaa-94ea-374ba7177a5e/139-396

[code]

[2021-12-15 21:14] simon-mo commented on #21080
@krfricke can you please take a look? I don't think it's release blocking. This is just the new pipeline configured assume the existence of pipeline.ml.yml but 1.9.1 doesn't have it (totally fine).

[2021-12-15 21:14] #21080 closed

[2021-12-15 21:14] architkulkarni commented on #21118
@rkooo567 Not sure about the priority of this one.  I see it's marked with `stable: false`, does that mean I should completely ignore it for the release, or should I keep restarting until it passes?  It failed the last 4 times.

[2021-12-15 21:17] architkulkarni commented on #21080
Ah gotcha, I didn't realize the pipeline configuration happened outside of the Ray repo (although it makes sense in retrospect why I couldn't find the string "setting up bootstrap env (ML)" in the Ray repo).  So I think there's no action needed here @krfricke, since this doesn't seem to be a problem on master

[2021-12-15 21:48] architkulkarni commented on #20616
My thought process is that it failed for 1.9.0, so regardless of whether or not it fails for 1.9.1, we won't be able to identify a regression from 1.9.0 to 1.9.1.  So I don't think it should be a release blocker for 1.9.1

[2021-12-15 22:36] scv119 commented on #21016
yeah, sound we should prioritize the fix. let's sync on this topic.

[2021-12-15 22:40] scv119 commented on #21097
taking a look.

[2021-12-15 22:44] architkulkarni commented on #21082
Passing now https://buildkite.com/ray-project/ray-builders-branch/builds/5189#f8056666-b2b7-4bc2-8bf2-9a919016e085, it must have been a transient error.

[2021-12-15 22:44] #21082 closed

[2021-12-15 23:04] chaomengyuan commented on #20834
@clarkzinzow Sorry for the typo and I updated the issue. The problem comes from this line: https://github.com/ray-project/ray/blob/master/python/ray/data/datasource/file_based_datasource.py#L450. I need to change it to `return parsed.path` instead of 'return parsed.netloc + parsed.path' to work in our inner environment. Otherwise, it will try to find the path "netloc/path2" under "hdfs://netloc" d

[2021-12-15 23:12] architkulkarni opened #21123 "[Bug] [runtime env] "conda" field fails to install with M1 cluster"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

If the Ray cluster is running on an M1 Mac, then when the runtime env agent tries to create a conda environment, it injects the wrong Ray dependency into the conda env.  (It inserts the wheel U

[2021-12-15 23:21] ericl commented on #21016
It sounds like we should close this, and prioritize the known job cleanup issue, does that seem right?

[2021-12-15 23:22] ericl commented on #20685
Ping on this? Is this still broken or just flaky?

[2021-12-15 23:22] ericl commented on #20686
Ping on this? Is this still broken or just flaky?

[2021-12-15 23:22] ericl commented on #20911
Ping on this? Is this still broken or just flaky?

[2021-12-15 23:22] ericl commented on #20912
Ping on this?

[2021-12-15 23:28] architkulkarni commented on #20912
I went through the history, looks like it's just very flaky.  I think this means for the release we can just rerun it until it passes, so let me downgrade this to P1.

[2021-12-15 23:34] architkulkarni commented on #20911
Looks like it's just flaky

[2021-12-15 23:37] architkulkarni commented on #20685
Turns out this one is also flaky.  @ericl I would guess that flaky tests shouldn't be marked as release-blocker since the release manager can just rerun them.  But should it be P0 or P1?

[2021-12-15 23:43] rkooo567 commented on #21016
Yeah. I’ve been syncing with him through slack (he’s running the job and track memory usage now), and it seems like it’s the redis memory issue with function table (so function table not gc’ed).

I am asking him again now if he’s observing the same thing (it’s been 3 days since he started his cluster today)

[2021-12-15 23:43] rkooo567 commented on #21016
I think we can close this and focus on function table work

[2021-12-15 23:43] ericl commented on #20685
If it's not being fixed urgently, it's not a P0.

[2021-12-15 23:44] rkooo567 commented on #21118
The error is not related to the test. When did you do branch cut? This test has been pretty stable for a while

[2021-12-15 23:46] architkulkarni commented on #21118
This is for 1.9.1, not 1.10.0.  So it's just the 1.9.0 branch plus the log4j fix and a version bump commit.

[2021-12-15 23:47] ericl commented on #21099
Why is this a P0?

[2021-12-15 23:48] architkulkarni commented on #21118
1.9.0 branch cut was Nov 16.  Should we just ignore this test for the 1.9.1 release?

[2021-12-15 23:50] rkooo567 commented on #21118
Let me see if I can find cherry pick for you actually

[2021-12-15 23:51] rkooo567 commented on #21118
Oh it is for 1.9. Let’s ignore in this case

[2021-12-15 23:51] #21118 closed

[2021-12-16 00:12] clarkzinzow commented on #21077
This should be fixed by [this PR](https://github.com/ray-project/ray/pull/21089), which has been merged into master.

[2021-12-16 00:12] #21077 closed

[2021-12-16 00:15] clarkzinzow commented on #21123
@architkulkarni Could you assign a priority to this issue and remove the "triage" label?

[2021-12-16 00:16] jiaodong commented on #21095
hi @G-Lauz i haven't got bandwidth to repro or fix this yet :/ but according to user's comment in https://discuss.ray.io/t/modulenotfounderror-during-deployment-after-upgrade-to-1-9-0/4376/, there's a workaround by doing `But with 1.9.0, I have to run both ‘serve start’ and ‘python deploy.py’ from my project root`, could you try this in the meantime to unblock ? Feel free to comment here if the is

[2021-12-16 00:23] simon-mo commented on #21099
Hmm this shouldn't be P0 as no user is actively impacted by the lack of test at the moment. changing to P1

[2021-12-16 00:27] #20971 closed

[2021-12-16 00:30] jiaodong commented on #21099
Yet it's not directly user impacting so not quite P0 of our OSS standard. Just for prioritization to land it earlier.

[2021-12-16 00:32] rkooo567 commented on #21016
Let me temporarily re-open until the customer confirms the function table is the root cause (as P1). (they said it is 2 days ago, but they've been running the cluster 2 additional days). And we can close it as a duplicate.

[2021-12-16 00:32] clarkzinzow commented on #21075
Yep this is a common issue with `urllib.error.HTTPError`, which for some reason the Python devs made unpicklable. Another Ray [issue](https://github.com/ray-project/ray/issues/20830) was opened for this recently. However, given that we can't know that the exception isn't picklable until deserialization time, there's not much that Ray can do here other than what it's currently doing: indicating tha

[2021-12-16 00:32] #21075 closed

[2021-12-16 00:40] clarkzinzow commented on #20834
@chaomengyuan I haven't been able to reproduce this with the list of two strings, `["hdfs://netloc/path1", "hdfs://netloc/path2"]`, but I was able to reproduce it using the accidental list of a single string, `["hdfs://netloc/path1, hdfs://netloc/path2"]`. Have you confirmed that you can reproduce this with the fixed reproduction?

[2021-12-16 01:06] shrekris-anyscale commented on #21018
Ah, thanks @iasoon. The test did indeed have the error that you mentioned. With the fix, it passes on my end as well, so I'll close the issue.

[2021-12-16 01:06] #21018 closed

[2021-12-16 01:18] shrekris-anyscale commented on #21017
Thanks for the reproduction script! I modified my original reproduction script based on it, but it seems that even when redeploying with the same version, some replicas are de-provisioned before new ones are provisioned. You're right that the replica de-provisioning is expected behavior when deploying a new version; however, I'll keep the issue up for now since the de-provisioning happens even wit

[2021-12-16 01:21] Jiamian-Wang opened #21124 "[Tune] Change self.Config in tune.Trainable object"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hi, I'm using the scheuler population based trining (PBT). Currently, for each agent,  the hyperparameters can be modified through exploit/explore process. While they are kept unchanged within in the Trainable class (i.e., learning ra

[2021-12-16 05:59] yyzlong commented on #18889
Got same issue on ray 1.9.0 under centos 7.7 & Python3.7.3. Dashboard worked if downgrade to ray 1.1.0 on the same machine.    It seems to me the dashboard is not stable and somehow broken after upgrading a newer version which adds experimental dashboard feature. Hopefully, someone can provide a workaround on this issue ASAP.

[2021-12-16 06:07] SongGuyang commented on #21108
@rkooo567 Make sense. I will add this with a high priority.

[2021-12-16 06:23] Tehada opened #21127 "[Feature] Human friendly memory resource specification in config"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Is it possible to replace current approach for config specification:
[code]
With sth like this:
[code]
It seems that [this library](https://github.com/xolox/python-humanfriendly) could be used to easily achieve this.

I am trying to e

[2021-12-16 06:30] pcmoritz commented on #21106
I wonder if it goes away if you comment out the `@pytest.mark.asyncio` lines? I have some bad experience with the asyncio plugin of pytest.

[2021-12-16 07:13] jovany-wang opened #21128 "[Feature] Introduce new APIs(default_actor_lifetime/kill_job) for job concept."
For addressing the issue https://github.com/ray-project/ray/issues/6715, after some discussions, we got the agreement on the conclusions.

We're proposing 3 APIs now.

API1: Initializing a job with setting all actors as detached. Something like
[code]

API2: Introducing new state `DRIVET_EXITED` for job.
DRIVET_EXITED: indicating driver exited, but the job is still running. (Maybe some detached ac

[2021-12-16 07:15] jovany-wang commented on #6715
Hi all, I create a new issue for our conclusions https://github.com/ray-project/ray/issues/21128

Feel free to discuss at the new issue.

[2021-12-16 07:23] matthewdeng commented on #21106
As a minor note, the [bazel test](https://github.com/ray-project/ray/blob/master/python/ray/serve/BUILD#L159-L160) is configured with a timeout of 60s (from `size = "small"`). I see from the pytest output that it ran in 58.42s, so it might have just passed the timeout threshold in the bazel test.

You can try running `bazel test python/ray/serve:test_handle --test_timeout 120` to confirm that the

[2021-12-16 08:14] pcmoritz commented on #21106
Ah cool, from what @mattip wrote in https://github.com/ray-project/ray/pull/21107 it looks like that fixes it.

What's your recommendation @matthewdeng, should we increase the timeout (and if yes, how -- bump the test to size="medium"?)

[2021-12-16 08:46] rkooo567 commented on #21016
Okay. Confirmed it is duplicate of https://github.com/ray-project/ray/issues/8822. cc @ericl is it possible to prioritize this problem next quarter?

Also, they are seeing `DASHBOARD_AGENT_PORT_PREFIX` key increasing, but it is relatively small leak (about 50KB for 3 days). So I am not sure if it should be urgently handled.

[2021-12-16 08:46] #21016 closed

[2021-12-16 08:50] Akkarine commented on #17675
unstale

[2021-12-16 08:55] mattip commented on #20173
Closed by #20986

[2021-12-16 08:55] #20173 closed

[2021-12-16 09:20] #20729 closed

[2021-12-16 09:52] rkooo567 commented on #20899
cc @mwtian

[2021-12-16 09:57] andrijazz commented on #20807
Being able to specify custom path and name of the checkpoints would be great.

One other use-case that comes to mind is that user might want to store checkpoints outside of ray generated folders ... for example wandb creates its own dirs and automatically uploads all files stored in those dirs to the cloud after run is finished. User might want to store checkpoints inside wandb dir because he can

[2021-12-16 10:13] mattip commented on #21106
I moved the test to 'medium' and enabled it in #21107

[2021-12-16 12:59] #17551 closed

[2021-12-16 12:59] #17548 closed

[2021-12-16 13:35] rkooo567 opened #21132 "[Feature] [Internal Observability] Move all debug states to Gauge."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

This is a TODO list;

- [x] Centralize existing metrics to metric_defs.h https://github.com/ray-project/ray/pull/20728
- [x] Record Metrics & Debug state for every component https://github.com/ray-project/ray/pull/20957, https://githu

[2021-12-16 13:37] #19929 closed

[2021-12-16 13:40] #16026 closed

[2021-12-16 13:40] #15403 closed

[2021-12-16 13:40] #15346 closed

[2021-12-16 13:40] rkooo567 commented on #15346
Fixed

[2021-12-16 13:42] #12616 closed

[2021-12-16 13:42] #11494 closed

[2021-12-16 13:43] rkooo567 commented on #11130
I don't think we will/want to fix this. Just closing it.

[2021-12-16 13:43] #11130 closed

[2021-12-16 13:43] #11005 closed

[2021-12-16 13:43] #10867 closed

[2021-12-16 14:40] rkooo567 opened #21134 "[Bug] Core scalability infra failure from 3 days ago"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Example: https://buildkite.com/ray-project/periodic-ci/builds/1935#c885ca1b-983a-46c6-a219-bdfc6ac0819c

Looks like core scalability test has had infra failure for a long time due to app config

[2021-12-16 15:02] Ha5hBr0wn opened #21135 "[Bug] Ray always crashes when using a lot of actors/tasks"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I am using Ray to run large machine learning workflows in a distributed fashion. My runs spawn thousands of actors and tasks and often crashes Ray.

The following messages is frequently display

[2021-12-16 15:59] daikeshi commented on #21030
Thank you @clarkzinzow for the detailed explanation! This workaround should work for us.

[2021-12-16 16:52] architkulkarni opened #21137 "[1.9.1 Release] [1.10.0 Release] All release tests failing with `ImportError: cannot import name 'instantiate_api_client' from 'anyscale.api'`"
Example: https://buildkite.com/ray-project/periodic-ci/builds/1972

[code]

[2021-12-16 16:53] architkulkarni commented on #21137
Happening since last night, it looks like there might have been a breaking change in `anyscale.api`.

[2021-12-16 17:23] #19523 closed

[2021-12-16 17:38] G-Lauz commented on #21095
Hi @jiaodong,

Here's a minimal repro script that describe what I'm trying to do: https://github.com/G-Lauz/ray-serve-repro
With the inheritance I'm trying to create a level of abstraction for the user.

I'm using `serve.start()` from the serve api instead of CLI `serve start`, so I'm not sure how I can use the work around. I notice will making my minimal repro script that the error occur right af

[2021-12-16 17:39] Innixma commented on #20084
Can confirm this bug also occurs on:

MacOS Big Sur Version 11.6
Python 3.8.9
ray==1.7.0 & ray==1.9.0

[code]

[code]

We are [adding ray](https://github.com/awslabs/autogluon/pull/1329) to the AutoGluon AutoML package, and this issue is currently a blocker for using ray by default on MacOS.

[2021-12-16 17:48] #20928 closed

[2021-12-16 17:48] amogkam commented on #20084
Is the install being done on an M1 Mac? If so we have specific instructions for that here https://docs.ray.io/en/latest/installation.html#apple-silicon-support

[2021-12-16 17:51] Innixma commented on #20084
@amogkam No, this is on 2019 x86:

MacBook Pro (16-inch, 2019)
Processor: 2.6 GHz 6-Core Intel Core i7
Memory: 16 GB 2667 MHz DDR4
Graphics: AMD Radeon Pro 5300M 4 GB + Intel UHD Graphics 630 1536 M

[2021-12-16 18:11] ericl commented on #21016
Yes, we should have enough time reserved to tackle these P1s.

On Thu, Dec 16, 2021, 12:46 AM SangBin Cho ***@***.***> wrote:

[2021-12-16 19:14] architkulkarni commented on #21055
The release candidate 1.9.1rc0 has been released!  Please try it out with `pip install ray==1.9.1rc0` and let us know if you run into any issues.

[2021-12-16 19:21] simon-mo opened #21141 "[Bug] Ray worker memory usage issue"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Please help correct to title once this question is more clarified.

Given the following workload:
[code]

I would expect the actor's memory to go down once the actor call finishes. But apparent

[2021-12-16 19:22] simon-mo commented on #21141
cc @scv119 @rkooo567

[2021-12-16 19:47] spolcyn commented on #8822
We're having the same problem on Ray 1.8.0 (noticed the issue in #21016) -- it only takes a few hours sometimes for the head to reach max memory and crash, as seen in the Grafana image below (mem usage cliff marks where we experienced client failures).

![Screen Shot 2021-12-16 at 14 45 59](https://user-images.githubusercontent.com/7889440/146438468-3f26590f-02d9-4b0b-a35c-8e8508ad966a.png)
.

[2021-12-16 20:11] architkulkarni commented on #21134
Duplicate of #21096.  @rkooo567 please reopen if I made a mistake!

[2021-12-16 20:11] #21134 closed

[2021-12-16 20:14] matthewdeng commented on #21106
Yeah bumping to `size="medium"` is a reasonable stopgap, though I'm not familiar enough with the test to know if this is expected to take ~60 seconds or if it was caused by a regression which would warrant further investigation.

[2021-12-16 20:27] czgdp1807 commented on #20891
Consider the following code,

[code]

Consider three cases for three different tuples of (`num_cpus_actor`, `num_cpus_ray`),

1. `num_cpus_actor = 1`, `num_cpus_ray = 50` - All 50 workers go into ALIVE state as per my logs.
2. `num_cpus_actor = 10`, `num_cpus_ray = 50` - Only 5 workers go into ALIVE state as per my logs. Makes sense because, 10 CPUs per actor and cap of 50 results in 50/10 i.e., 5

[2021-12-16 20:31] clarkzinzow commented on #21096
@architkulkarni @krfricke I'm on-call for the core team, let me know if y'all need any assistance with this!

[2021-12-16 21:15] #21137 closed

[2021-12-16 21:26] John-Almardeny commented on #20891
Hey Thanks for the input.
On my machine, the odd behaviour is consistent. That's, it does not follow the pattern you found. It rather hangs always at number of cpus +1 regardless.

[2021-12-16 21:42] czgdp1807 commented on #20891
Note that I am using master branch of ray to reproduce the issue.

[2021-12-16 22:21] chaomengyuan commented on #20834
@clarkzinzow Yes, I confirmed that, at least in our inner HDFS. As I mentioned in the last message, for the second path, it throws an error saying "netloc/path2" is not available. But after I change this line: https://github.com/ray-project/ray/blob/master/python/ray/data/datasource/file_based_datasource.py#L450 to just returning the "path", it works.

[2021-12-16 22:28] clarkzinzow commented on #20834
@chaomengyuan Ok thank you! I'll keep trying to reproduce it on my end.

[2021-12-16 23:14] John-Almardeny commented on #20891
What do you mean? A nightly version of Ray?

[2021-12-16 23:19] architkulkarni commented on #21055
It turns out `log4j==2.15.0` is still vulnerable to [CVE-2021-45046](https://nvd.nist.gov/vuln/detail/CVE-2021-45046), and therefore so is `ray==1.9.1rc0`.

The `log4j` dependency has been upgraded to `2.16.0` in master: https://github.com/ray-project/ray/pull/21081. This will be included in the final release of `ray==1.9.1`.

[2021-12-17 01:37] architkulkarni commented on #21096
Closed by https://github.com/ray-project/ray/pull/21119.

[2021-12-17 04:51] #17362 closed

[2021-12-17 04:51] #17573 closed

[2021-12-17 05:22] czgdp1807 commented on #20891
Yes. Nightly build of ray.

[2021-12-17 07:58] scv119 commented on #21141
yup; I'm able to reproduce this using @simon-mo's script.

[2021-12-17 09:10] mattip commented on #21106
Closing, fixed in #21107

[2021-12-17 09:10] #21106 closed

[2021-12-17 09:16] John-Almardeny commented on #20891
I tried your code again with the nightly build. i.e. version `1.9.1rc0`.

It is the same behaviour:
![image](https://user-images.githubusercontent.com/19558793/146519916-ede4d597-d086-4b79-abda-05352234144f.png)

[2021-12-17 09:32] czgdp1807 commented on #20891
To be specific, I am using this `f5dfe6c1580443b3ce0a149b4e7f9d108cf43b6d` commit from the master. I am building from source, to check if the fix should be in `master` branch or not. Other than that, I will use `1.9.0` as well to see if there is a difference in behaviour. Will post the exact code path as well.

The problem I see with `master` branch is that it can be kind of hacked. You can pass a

[2021-12-17 09:34] #21071 closed

[2021-12-17 09:40] KristianHolsheimer opened #21150 "[Bug] Please trigger new release after log4j fix"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I'm getting vulnerability notifications because one of my packages has a dependency on an old of log4j via Ray.

The log4j was already bumped up in `master` in #21081

Please could you trigger

[2021-12-17 09:42] rkooo567 commented on #21150
cc @architkulkarni

[2021-12-17 11:04] ollieglass opened #21151 "[Bug] Autoscaler crashes with 404 when scaling down"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I ran a job using `ray serve`. The job scaled up the cluster and completed successfully. The autoscaler crashed with this error while scaling down:

[code]

There are several VMs remaining in m

[2021-12-17 11:21] czgdp1807 commented on #20891
The results with code in https://github.com/ray-project/ray/issues/20891#issuecomment-996170607 and ray-1.9.0 on my machine are exactly same i.e., the patterns in my comment hold for ray-1.9.0 as well.

[2021-12-17 11:25] John-Almardeny commented on #20891
Are you working on Windows 10 OS or a VM container?

[2021-12-17 12:16] czgdp1807 commented on #20891
I am using Windows 10 Pro hosted on Azure. I interact with it using Microsoft Remote Desktop application. It has 16 GB RAM and 8 Virtual Processors.

Regarding the original issue. When `num_cpus_ray` (see code in https://github.com/ray-project/ray/issues/20891#issuecomment-996170607) get exhausted then Ray tries to spill the tasks to another node. Since, there is only one node so the actor creatio

[2021-12-17 16:53] architkulkarni commented on #21150
This is being tracked here: https://github.com/ray-project/ray/issues/21055. We're currently going through the release process for `ray==1.9.1`.

[2021-12-17 16:53] #21150 closed

[2021-12-17 18:15] pcmoritz commented on #20891
@scv119 Can you have a quick look at the above message ^? This looks like a bug, if there is only a single node in the cluster, tasks shouldn't be spilled, right? Who on the core team should help with this/knows this code the best?

[2021-12-17 18:21] czgdp1807 commented on #20891
If this is a bug then I can try fixing it. Let me know. And thoughts on practicality of `num_cpus=10000` when my machine only has `8` CPUs? Is it normal?

[2021-12-17 18:29] pcmoritz commented on #20891
@John-Almardeny Thanks for trying out 1.9.1rc0, unfortunately that doesn't contain the fix that will probably make a difference for this (I suspect https://github.com/ray-project/ray/pull/20986 will fix the problem where no more than num_cpus actors are scheduled), since it is based on the 1.9.0 release of Ray.

Can you try one of the following wheels (i.e. the right one for your Python version) w

[2021-12-17 18:40] architkulkarni commented on #21096
This is still happening on the nightly release tests: https://buildkite.com/ray-project/periodic-ci/builds/2010#_

Here's one example: https://buildkite.com/ray-project/periodic-ci/builds/2010#9b766a9a-5eff-4518-b02e-dc0ad8658122/138-215

This points to a failed app config build, with the traceback
[code]
from
[code]

It looks like it's using a cached failed app config:
[code]

  Is there a way to

[2021-12-17 18:40] pcmoritz commented on #20891
@czgdp1807 It is expected that if `num_cpus_ray` gets exhausted by the resource requirements by the actors, no more actors are scheduled (note that this is different from the original issue reporting here -- there `num_cpus_ray` was not exhausted, since the actors only required a very small amount of fractional resources). However, in that case it should give a message that there are currently uns

[2021-12-17 18:46] architkulkarni commented on #21096
Actually, maybe we just need to propagate the fix from https://github.com/ray-project/ray/pull/21119/files to the other app configs.

[2021-12-17 18:46] czgdp1807 commented on #20891
I see. However, passing `num_cpus_ray` as `100000` (a large value) makes things work. Though my machine has only `8`? Is it okay to pass such large values of `num_cpus_ray` when my machine has actually very small number of CPUs?

[2021-12-17 18:53] Hoeze commented on #20495
This would be a killer feature, especially for dask-on-ray :+1:

[2021-12-17 18:56] pcmoritz commented on #20891
Yes, `num_cpus_ray` is independent of the actual resources of the machine and can be higher (the OS scheduler will time slice between the processes). For cpu intensive workloads that's not recommended, but for IO intensive workloads it can be useful. However making it too high can lead to OOM problems, since each actor requires some amount of memory (python interpreter + libraries).

[2021-12-17 19:36] scv119 opened #21156 "[CI] all nightly tests are failing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

N/A

### Versions / Dependencies

N/A

### Reproduction script

N/A

### Anything else

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-12-17 19:48] #21156 closed

[2021-12-17 21:16] #20108 closed

[2021-12-17 21:16] #20992 closed

[2021-12-17 21:16] #14048 closed

[2021-12-17 21:24] John-Almardeny commented on #20891
Thanks for the update @pcmoritz

I tried to install them, but I always got:
`ERROR: ray-2.0.0.dev0-cp36-cp36m-win_amd64.whl is not a supported wheel on this platform.`

[2021-12-17 21:29] pcmoritz commented on #20891
Thanks for trying :) Which version of python are you using? For Python 3.7, you have to install the `cp37` wheel, for Python 3.8 the `cp38` wheel and for Python 3.9 the `cp39` wheel (and I assume this is on windows).

[2021-12-17 21:36] John-Almardeny commented on #20891
Cheers. Totally forget about it. I spent my development life in Ubuntu. Just switched to Windows recently!

[2021-12-17 21:42] John-Almardeny commented on #20891
@pcmoritz  Hooray! Worked with your suggested wheel
![image](https://user-images.githubusercontent.com/19558793/146611204-1c5918d8-42d9-4666-b37f-d4dce81e69a5.png)

Thank You! :)

I hope it'll be released soon.

[2021-12-17 21:45] pcmoritz commented on #20891
That's awesome!

Yes it will be part of the 1.10 release. In 1.10 we will very likely declare Ray core on Windows stable, I actually think that https://github.com/ray-project/ray/pull/20986 was the last bug of Ray core on Windows given that many tests started passing after it was merged (fingers crossed). There are some components that need more work (like runtime environments) and we will address

[2021-12-17 21:45] #20891 closed

[2021-12-17 22:22] ericl opened #21161 "[RFC] Job queueing functionality with Ray Serve + Workflows"
## Overview

A number of users have raised the desire for a native Job queue within Ray, which can provide:
- persistence (guarantee that tasks aren't lost due to failures)
- rate limiting (limit the number of concurrently executing tasks in the cluster)
- integration with online serving / event sources (e.g., Serve, SQS)
- Ray integration (use Ray as the execution layer)

This aligns well with th

[2021-12-17 23:39] mbehrendt commented on #21161
thx a lot for putting together this proposal @ericl .

One topic we should drill into a bit more is the persistence layer, and what to persist. E.g. storing execution metadata and potentially other data can become stressful for the underlying persistence technology. What's your thinking around this?

[2021-12-18 00:05] rkooo567 commented on #21161
This document also could be useful for feature comparison? https://docs.google.com/spreadsheets/d/1Q_v__QtYzDtIDOkfmeQqVAw_jiksBz-GbJn-m-pDM34/edit#gid=0

[2021-12-18 00:09] ericl commented on #21161
Currently, workflows supports filesystem and S3-based persistence. This is relatively high latency (~100ms+ per operation), but very scalable. Once we add an index, this should also scale nicely for very large queues of jobs.

[2021-12-18 00:15] scv119 commented on #20891
cc @stephanie-wang @rkooo567

[2021-12-18 00:25] #21096 closed

[2021-12-18 03:00] rtatton opened #21167 "[Feature] Refactor Queue Implementation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, the `_QueueActor` implementation wraps an [asyncio Queue](https://docs.python.org/3/library/asyncio-queue.html). This prevents the use of `local_mode` for debugging. Attempting to do so results in the following error messag

[2021-12-18 04:12] zhou-ting-hub opened #21169 "[Bug] After train, when I test the environment, the range of action exceeds action_space"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

action = trainer.compute_single_action(obs)
Is this tested by the model trained? If not, what should I test with the trained model? If yes, why the range of action of trained results is in the ran

[2021-12-18 06:56] #21135 closed

[2021-12-18 07:48] #21097 closed

[2021-12-18 10:13] duburcqa commented on #21041
Anybody has any idea ? This bug is very painful. I just cannot use ray at all because of it.

[2021-12-18 10:36] czgdp1807 opened #21173 "[Potential Bug] Spilling of tasks on single node cluster"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

AFAICT, this issue is regarding spilling of tasks on a single cluster node. So, what happens is if there is only one node in a cluster then due to lack of resources an attempt is made to sp

[2021-12-18 10:39] rkooo567 commented on #21173
Let me take a look if this makes sense this Sun

[2021-12-18 10:50] #14305 closed

[2021-12-18 13:38] qbphilip commented on #21055
Hello @architkulkarni, thanks for your dedication to fix the vulnerabilities and keep our deployments safe!

There was a new vulnerability found in `log4j==2.16.0` and a fix is published in `2.17.0`, see:
* https://logging.apache.org/log4j/2.x/security.html
* https://thehackernews.com/2021/12/new-local-attack-vector-expands-attack.html
* https://thehackernews.com/2021/12/apache-issues-3rd-patch-to

[2021-12-18 22:18] amogkam commented on #20741
Will keep this open until #20562 is merged

[2021-12-19 00:43] jiaodong opened #21177 "[Nit][Serve] Fix def get_running_replica_info(self) -> RunningReplicaInfo:"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

https://sourcegraph.com/github.com/ray-project/ray/-/blob/python/ray/serve/deployment_state.py?L374

has return statement that never reached.

### Versions / Dependencies

master

### Reproduc

[2021-12-19 02:17] AmeerHajAli opened #21178 "[Bug] test"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

test

### Versions / Dependencies

test

### Reproduction script

test

### Anything else

test

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-12-19 02:30] #21178 closed

[2021-12-19 05:16] #17594 closed

[2021-12-19 05:16] #17652 closed

[2021-12-19 06:41] clarkzinzow opened #21180 "[Datasets] Ensure Datasets + Ray Client test coverage."
We should make sure that Datasets works correctly with Ray Client. The easiest route would be using a fixture for every Datasets test that runs two versions of the test: one with normal Ray, and one with Ray Client.

[2021-12-19 06:45] AmeerHajAli commented on #21180
Hi @clarkzinzow , thanks for filing this. I am not sure what is the current prioritization for Datasets relative to other work, but I think this sounds like Datasets cannot be E.g. in Alpha/Beta without working with Ray Client. It seems to me like a P0 for Datasets (not sure what is the priority relative to other work and thus I’d refer to @ericl / @scv119)

[2021-12-19 07:40] #20588 closed

[2021-12-19 08:14] clarkzinzow commented on #21180
@AmeerHajAli This issue is just for adding Ray Client test coverage; as I mentioned in the other issue, any reproducible issues with Datasets + Ray Client would be a P0/interrupt.

[2021-12-19 09:05] jon-chuang opened #21181 "[Feature] [xlang/C++ API] Interop of `msgpack::sbuffer`/FFI-safe buffer and `LocalMemoryBuffer`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Generally, this fits into the larger picture of xlang and FFI:
- We want an FFI-compatible buffer (e.g. `sbuffer`, but hopefully something more serialization format-independent)
- We don't want to needlessly copy data to and from Ray

[2021-12-19 19:50] rfan-debug opened #21185 "Issue on page /namespaces.html"
## Issue

The demo code on [this page](https://docs.ray.io/en/latest/namespaces.html) does not work as the doc described. In the following demo code:

[code]

it won't be able to create actor correctly in the local cluster. We have to use
[code]
to create an actor to local Ray cluster.

Is this an expected behavior?

## Environment

+ Mac OS 11.6
+ Python 3.7.12
+ Ray 1.9.0

[2021-12-19 23:56] scv119 commented on #20146
Better late than never: we have some internal discussions and some prototypes/experiments done. So far we are thinking to solve the problem by
1. prioritize which tasks to execute first;
2. decide which task to block (which includes spilling the object generated by that task and blocks new object from being created by that task).
Also following is a more formal system model:

### System model

- A

[2021-12-20 02:39] jovany-wang commented on #20372
What languages should be considered in xlang? I believe currently Python C++ and Java are necessary to be considered. Should we consider the Rust or Golang? @jon-chuang @ericl

[2021-12-20 02:42] ericl commented on #20372
Hmm good question, I think it's an important requirement to support Go/Rust. Otherwise, we would essentially be locking out those languages or requiring some other serializer to be implemented for them, which would defeat the purpose of having a unified x-lang experience.

[2021-12-20 03:34] jovany-wang commented on #21181
What's serialization format-independent?

Do you mean we shouldn't copy a rust layer buffer to LocalMemoryBuffer right? This is a good idea. We've been suffering it for a long time in Java worker.

I don't know if it's a good idea to have a common interface compatible buffer yet.

[2021-12-20 06:05] jovany-wang opened #21190 "[Bug][ConcurrencyGroup] Invalid to set concurrencygroup at runtime."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

The following script will fail.

### Versions / Dependencies

All

### Reproduction script

Reprod script:

[code]

### Anything else

_No response_

### Are you willing to submit a PR?

- [X]

[2021-12-20 06:31] jovany-wang opened #21192 "Better error message when failed to look up the concurrency group of a task."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, we don't handle any error when failed to look up the concurrency group of tasks, which may mislead the users of the error. Better to add the correct error message of it.

### Use case

_No response_

### Related issues

_No

[2021-12-20 08:00] kyoungseoun-chung commented on #19116
I also faced the same problem. And seems like definitely wheel is missing...

[code]

Anyone working on this?

[2021-12-20 13:43] jovany-wang commented on #21181
For a short term plan, you can add a `SBuffer` extending from ray::Buffer make `msgpack::sbuffer` as your object_allocator.

[2021-12-20 14:29] rkooo567 commented on #21151
cc @DmitriGekhtman

[2021-12-20 15:18] rkooo567 commented on #6715
I actually have one comment regarding "kill_job".

Currently, "job" is not an exposed concept. I think we recently added a new support to "Ray job", but they are not 1:1 matching to the internal terminology job. This will be the official terminology "job" in Ray.

It seems like the proposal changes the definition of internal term job. From "driver" -> "A set of resources that belong to a job id".

[2021-12-20 15:31] jovany-wang commented on #6715
What if other things? such as detached placementgroup?

[2021-12-20 17:26] ze897c opened #21202 "[Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Dashboard

### What happened + What you expected to happen

Folks: was using ray via python very successfully until, maybe?, I switched to the experimental dashboard, although this seems to make very little sense to me.

Not sure if I have tr

[2021-12-20 17:46] architkulkarni opened #21203 "[1.10.0 Release] Scalability tests `many_actors`, `many_tasks`, `many_pgs`, `many_nodes` all failing on master"
E.g. Smoke test: https://buildkite.com/ray-project/periodic-ci/builds/2038#af8e223c-5c35-41a3-b079-9cf629e424a8

Full tests: https://buildkite.com/ray-project/periodic-ci/builds/2042

It failed the last two times, but there was a period of infra failures before that, so it's possible it's a regression.  The errors are all the same so I'm grouping these together.

[code]

[2021-12-20 17:46] architkulkarni commented on #21203
@wuisawesome Can you please take a look and downgrade the priority if it's not a regression or shouldn't be a release blocker?

[2021-12-20 17:51] DmitriGekhtman commented on #21151
This should fix the proximal cause:
https://github.com/ray-project/ray/pull/21204

What I'd still like to understand is why the node goes 404 missing between the time its termination is scheduled and the time the autoscaler tries to terminate it.

If you have access to autoscaler logs from failed sessions, that would be helpful too.

[2021-12-20 17:52] architkulkarni commented on #21098
This failed again in the previous two nightly tests, so I'll reopen this.  E.g. https://buildkite.com/ray-project/periodic-ci/builds/2038#caf30144-c035-4428-95fb-b4472024c702/138-493

@scv119 could you please close it or downgrade the priority if appropriate?  Also, for the release, should I just keep rerunning until it passes?

[2021-12-20 18:51] scv119 commented on #21098
oh sorry it's automatically closed by the PR. Yes this is not release blocker; feel free to ignore it.

[2021-12-20 18:59] scv119 commented on #21141
we probably need to do some profiling. so far it's pretty sure the memory is not allocated by plasma store. Maybe there is some local cached object? cc @rkooo567 are you aware of this?

[2021-12-20 19:50] ericl commented on #6715
I think we should just align the job ids between "Ray jobs" and "job server". That will, kill will work as you'd expect in both cases.

[2021-12-20 21:42] architkulkarni commented on #21123
Since M1 wheels are not uploaded to AWS, we'll need to `pip install ray=={ray.__version__}` for M1 wheels instead of doing `pip install http://ray-wheels.aws..../{ray_commit}"` as we do for other wheels.  The downside of this is it will only work for PyPI released versions of Ray (so it won't work for nightlies.)

[2021-12-20 21:56] architkulkarni commented on #21203
Actually, not just the smoke tests are failing, the full tests are failing too: https://buildkite.com/ray-project/periodic-ci/builds/2042

[2021-12-20 21:58] architkulkarni commented on #21203
@clarkzinzow can you help find an owner for this?  "Resource leaks" sounds pretty bad, but could it possibly just be an issue with the test script?

[2021-12-20 22:01] irani74 opened #21205 "[Bug] Ray server over internet"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Hi
I have a problem with connect a client node to the server node
both of them be in the internet and behind the NAT. (not in local network)
I was forwarded port of the ray server on the na

[2021-12-20 22:27] architkulkarni commented on #19602
Closed by #20789

[2021-12-20 22:27] #19602 closed

[2021-12-20 22:53] architkulkarni commented on #20616
@yifeif Should this be a release blocker for OSS?  It's failing with AccessDeniedException:

[code]

https://buildkite.com/ray-project/periodic-ci/builds/2041#77b6e0c7-5b38-4075-b67e-a365fafa2edb/138-430

[2021-12-20 22:58] rkooo567 commented on #21203
https://github.com/ray-project/ray/issues/21203 -> This should fix it

[2021-12-20 22:58] rkooo567 commented on #21203
Just merged. Can you cherrypick and test it again?

[2021-12-20 23:04] rkooo567 commented on #21202
Hmm what do you mean by “switching to experimental dashboard”? Experimental dashboard cannot be the default option now afaik, so it doesn’t make much sense to me what this means.

[2021-12-20 23:05] architkulkarni commented on #21203
Thanks!  We haven't done the branch cut yet, so nothing to cherry pick for now.  Once the wheels are ready for that commit in buildkite (~1h), I will manually run the Core scalability test and report back.  If it looks good I'll make the branch cut for 1.10.0.

[2021-12-20 23:11] ze897c commented on #21202
Agreed: does not make sense to me either. As I said, I could not actually diagnose the issue. What I meant was that I toggled the experimental dashboard view from the main page of the 'classic' dashboard.

My behavior is that Ray no longer works, and code that previously functioned now hangs, and fill up the terminal with endless stream of

[code]

I tried re-installing, and still get the same beh

[2021-12-20 23:13] rkooo567 commented on #21202
How do you initialize ray? Are you using ray startv

[2021-12-20 23:36] eytanhanig opened #21206 "Public Helm Repository for Ray Chart"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

For the past 7 months [Ray's Helm documentation](https://github.com/ray-project/ray/blob/master/doc/source/cluster/kubernetes.rst#installing-the-ray-operator-with-helm) has stated "The chart will be published to a public Helm reposito

[2021-12-20 23:39] ze897c commented on #21202
[code]

[2021-12-20 23:42] eytanhanig commented on #21206
A simple implementation for this is to [use GitHub pages to host Helm charts](https://helm.sh/docs/howto/chart_releaser_action/). This method is so widely followed that the official Helm project even offers a [Chart Releaser Action for GitHub](https://github.com/marketplace/actions/helm-chart-releaser).

Normally I'd offer to open a PR for this, however the majority of the work will require interv

[2021-12-20 23:51] rkooo567 commented on #21202
Tbh, I never saw this issue, and it is very unlikely this is related to the dashboard. But let’s try from disabling it? You can do ray.init(include_dashboard=False)

also can you share the full logs of those pid with assertion failures? In /tmp/ray/session_latest/ray/logs, there must be files that correspond to the pid that have assertion failures

[2021-12-20 23:56] ze897c commented on #21202
Happy to. Will take me a bit here

[2021-12-21 00:07] #20946 closed

[2021-12-21 00:27] architkulkarni commented on #21203
Test in progress here: https://buildkite.com/ray-project/periodic-ci/builds/2045

[2021-12-21 01:12] xychu opened #21209 "[Feature] [Jobs] Add `list_jobs` api back after Job submission"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hi team, seems the job list api got removed after Job submission added, any plan to add this back?
![ray-jobs-404](https://user-images.githubusercontent.com/936394/146853909-1e21e31f-fe50-4c9d-a66e-eaa997d2edf1.png)

### Use case

1.

[2021-12-21 01:29] rkooo567 commented on #8822
Is this memory usage happening when you run a single driver? Or do you run multiple over time? (I am thinking if we can recommend a workaround until it is fixed. It will be a very high priority for us to fix in the beginning of next year).

[2021-12-21 01:31] yifeif commented on #20616
What is the test trying to do here? Uploading some artifacts to GCS?
@ijrsvt can we work around this?

[2021-12-21 01:47] franklsf95 commented on #8822
@rkooo567 FWIW I've seen "xxx has been exported 100 times" from single driver runs.

[2021-12-21 01:50] ericl commented on #8822
We'll take this as a high priority task next year.

In this scenario, as a workaround you could reduce the leak speed a lot by exporting the function only once (at the start of your program). Each export takes an amount of memory equal to the function size.

[2021-12-21 02:05] ericl commented on #21161
Also cc @pcmoritz

[2021-12-21 02:24] spolcyn commented on #8822
@rkooo567 We typically run a single driver, though occasionally up to 2-3.

[2021-12-21 02:47] #21190 closed

[2021-12-21 03:40] rkooo567 commented on #8822
@spolcyn Ray re-imports the function definition whenever you do

[code]

This means if you have code such as

[code]

Another potential memory increase could be due to object capture. For example,

[code]

[2021-12-21 04:01] rkooo567 commented on #21203
Seems to pass

[2021-12-21 04:01] #21203 closed

[2021-12-21 06:19] SoloGao opened #21210 "[Bug] Ray sample_batch crashed with tensorflow v1 installed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When TensorFlow v1 installed, ray/rllib/policy/sample_batch.py inits failed with "AttributeError: module 'tensorflow' has no attribute 'is_tensor'"

It is because https://github.com/ray-project/ra

[2021-12-21 06:23] #21151 closed

[2021-12-21 08:27] matthewdeng opened #21212 "[Bug][Tune] Loading `ExperimentAnalysis` requires `Trainable` to be registered."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

When initializing an `ExperimentAnalysis` from a path (as described in [Analysis (tune.analysis)](https://docs.ray.io/en/releases-1.9.0/tune/api_docs/analysis.html#analysis-tune-analysis)), an

[2021-12-21 09:04] iphysresearch commented on #21205
I got the almost exact same issue here...

[code]

[2021-12-21 11:04] mickelliu opened #21217 "[Bug] QMIX remote worker does not have GPU `(torch.cuda.is_available() == False)` but local mode works fine"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I got an error stating the CUDA device is unavailable while calling `make_env` on the remote worker (I think). My Gym environment requires an instantiation of a UnrealEngine binary and then loadin

[2021-12-21 12:26] aced125 commented on #7064
is this done?

[2021-12-21 13:13] #16811 closed

[2021-12-21 13:13] #16440 closed

[2021-12-21 13:57] jovany-wang opened #21218 "[Feature] Make JVM aware of the memory of objects in memory store."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description
#### Some backgrounds
- Full GC will be triggered in every 10min by default. https://github.com/ray-project/ray/blob/master/src/ray/common/ray_config_def.h#L294
- Object in in-memory store will be removed only if the ObjectRefImpl obje

[2021-12-21 14:15] jovany-wang commented on #20054
Ping for progress of this issue.

[2021-12-21 14:52] spolcyn commented on #8822
Thanks @rkooo567! That makes sense to me -- I'll take a look at our code and see if we have something like that.

[2021-12-21 15:16] jovany-wang commented on #20760
Hi @ericl and @raulchen ,

I had talked with @simon-mo and @liuyang-my about the `ray.util.EventBroker` and `ray.util.ActorStateObserver`. We've got phased agreements on the following points:
 - We both think`ray.util.EventBroker` and  `ray.util.ActorStateObserver` are necessary requirements for RayServe/RayServing. (Also it's very useful for other Ray applications including other apps from Ant.)

[2021-12-21 15:21] jovany-wang commented on #20760
Things were investigated clearly. Thanks.

[2021-12-21 16:24] jovany-wang opened #21220 "[RFC][Java] Track topics on Java worker and APIs for Ray2.0"
This issue is used to track the topics of Ray Java worker and APIs for Ray 2.0 .

Some topics are listed below:
- Should we use 1 module instead of api module and runtime module?
- Should we remove the local mode code path?
- Should we remove multiple actors in one process?

### Java API Changes In 2.0
1. APIs related multiple worker instance in one process
  #24147
  #23973
- [D]Ray.wrapRunnable

[2021-12-21 16:25] jovany-wang commented on #21220
@kfstorm @raulchen

[2021-12-21 16:54] keyboardAnt commented on #19834
I just got the same cryptic exception when trying to `init` Ray on CentOS.

## Traceback

[code]

## OS
[code]

[2021-12-21 17:35] matthewdeng opened #21222 "[Feature][Tune] Trial status based Stopper"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

**Feature:** The ability to terminate an Experiment based on the number of Trials that have the `ERROR` status.

**Proposed Solution:** Make status accessible `Stopper` so that `stop_all` can be implemented based on the total count of

[2021-12-21 17:36] matthewdeng commented on #21222
cc @Yard1

[2021-12-21 17:39] simon-mo commented on #20054
it is likely to be slotted for implementation in Q1, thanks.

[2021-12-21 17:40] pcmoritz commented on #21173
It sounds like the warning about pending actors that cannot be scheduled is still printed in this case, @czgdp1807 can you post where it is printed and how it looks?

Not sure if the spilling should be invoked on a single node cluster, but if the warning is printed and there are no other negative side effects maybe it is ok and we can close this issue?

[2021-12-21 17:42] jovany-wang commented on #20495
Is this only for normal tasks/actor creation task? What happen for actor tasks?

[2021-12-21 17:47] jovany-wang commented on #12635
You mean the `data` is put into the backend storage? When and how do we clear it? by TTL or explicit API?

[2021-12-21 17:49] jovany-wang commented on #14077
Hi @chenk008 , could you list the current progress of this to let other know it ?

[2021-12-21 17:51] wuisawesome commented on #20974
GCP: @DmitriGekhtman do you want to propose people for the GCP node provider?

AWS: @pdames @Zyiqin-Miranda would y'all like to join Dmitri and I for the AWS node provider?

Azure: @gramhagen @eisber @ijrsvt Are y'all willing to be listed for Azure? I think y'all are the defacto maintainers at this point.

Kubernetes: Let's hold off for now while we figure out the ongoing work with KubeRay

Local:

[2021-12-21 17:53] wuisawesome commented on #20388
@rkooo567 @scv119 as a short term workaround, I wonder if we should feature flag parallel memcpy and turn it off by default on mac?

[2021-12-21 17:54] wuisawesome commented on #15780
@pcmoritz should we consider bumping the priority of this?

[2021-12-21 18:03] wuisawesome commented on #16616
boop

[2021-12-21 18:08] ijrsvt commented on #20974
@wuisawesome I have mostly been helping shepherd PRs for Azure--I personally have little to no experience with the platform. I could be added to the GCP Node Provider (as I have slightly more experience there).

@Yard1 Would you be interested in being added to the list of contacts for GCP?

[2021-12-21 18:22] gramhagen commented on #20974
fine with me

[2021-12-21 18:38] scv119 commented on #20388
My intuition is there is some mmap policy involved in Mac that differs 16GB from other memory size. The best bet is to search/ask some OSX kernel engineer to be sure.

Disable parallel memcpy might need a bit of work, since we need to serialize multiple workers write to PlasmaStore; However we could force memory allocation on different mmap for Mac.
Another hackish workaround is to limit the plasm

[2021-12-21 18:40] DmitriGekhtman commented on #20974
GCP could be @wuisawesome @DmitriGekhtman @ijrsvt + @Yard1 if he's interested

Local is @DmitriGekhtman + @wuisawesome if you don't mind me volunteering you

[2021-12-21 18:42] ericl commented on #12635
Only the metadata ownership would be handled by the GCS--- everything else including ref counting remains the same.

[2021-12-21 18:43] ericl commented on #20388
+1 to limit to 2GB. Is there any downside for this?

[2021-12-21 18:45] scv119 commented on #20388
Policy could change. We also don't know how things works for different settings (i.e. 8GB?)

[2021-12-21 18:52] eisber commented on #20974
Fine with me too

-Markus

From: Alex Wu ***@***.***>
Sent: Tuesday, December 21, 2021 6:52 PM
To: ray-project/ray ***@***.***>
Cc: Markus Cozowicz ***@***.***>; Mention ***@***.***>
Subject: Re: [ray-project/ray] [Feature][autoscaler] Include contacts for node provider maintainers in Ray docs. (Issue #20974)

GCP: @DmitriGekhtman<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fg

[2021-12-21 19:15] czgdp1807 commented on #21173
[code]

@pcmoritz I get the above warning with the following code,

[code]

[2021-12-21 19:40] ericl commented on #20388
How about limiting it to 2GB for any kind of Mac?

On Tue, Dec 21, 2021, 10:45 AM Chen Shen ***@***.***> wrote:

[2021-12-21 20:44] addisonklinke commented on #21135
@Ha5hBr0wn did you end up finding a solution or PR which fixed the issue?

[2021-12-21 20:51] addisonklinke commented on #8890
@RadicalAcronym Did you ever have any luck changing the timeout config via `ray.init()`?

[2021-12-21 20:52] amogkam commented on #21161
Would this support job prioritization or dynamic resources for each job?

For example, I have a long-running training job and want it to use all the resources in my cluster. But if a higher priority job comes in, I want to move some of my resources from the training job to the new high priority job. Assume that the training job can natively handle scaling down/up without having to restart training

[2021-12-21 21:00] #17665 closed

[2021-12-21 21:00] #17630 closed

[2021-12-21 21:33] ericl commented on #21161
Great question. In the RFC we only have support for rate limiting. Supporting prioritized jobs / multiple queues of different types of jobs would be the next obvious extension [P1].

[2021-12-21 21:37] ericl commented on #8890
I believe this was a bug in worker pool that was fixed already. Can you raise a new issue / bug and tag me / @rkooo567 / @iycheng if you can still reproduce in latest / nightly?

[2021-12-21 22:14] addisonklinke opened #21226 "[Bug] Failed to register worker to Raylet for single node, multi-GPU"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

I am trying to run the official [tutorial](https://docs.ray.io/en/releases-1.9.0/tune/tutorials/tune-pytorch-lightning.html#) for PyTorch Lightning. It works fine one a single GPU, but fails wh

[2021-12-21 23:02] sidward14 opened #21228 "Remove run_dir from ray.train.backend.BackendExecutor.start_training (Ray 1.9.0 and above)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The `run_dir` argument in `ray.train.backend.BackendExecutor.start_training` isn't used but is causing the following error: if your host computer and job cluster use different OS, then you get a `pathlib` error because, for e.g., you

[2021-12-21 23:09] amogkam commented on #21228
Ah great catch @sidward14! We initially had the `run_dir` in the `BackendExecutor`, but have since done some refactoring, so you're right the `run_dir` isn't needed in the `BackendExecutor` anymore and we can remove it. Would you mind making a PR for this? We'd be happy to get this merged in!

[2021-12-21 23:10] amogkam commented on #21228
Also out of curiosity, what was the stack trace that you were seeing with `start_training`?

[2021-12-21 23:17] sidward14 commented on #21228
Traceback (most recent call last):
  File "3e.torch_example_new_1.9.0.py", line 210, in <module>
    results = trainer.run(train_func_distributed, config=config_loaders)
  File "3e.torch_example_new_1.9.0.py", line 142, in run
    callbacks = [] if callbacks is None else callbacks
  File "C:\Python\Python385\lib\site-packages\ray\train\trainer.py", line 584, in __init__
    self._start_training(

[2021-12-21 23:36] Ha5hBr0wn commented on #21135
Yes, thanks for checking. I wasn't running within our SLURM cluster environment causing resources to be overallocated between my jobs and others hence the crashes.

[2021-12-22 00:31] rkooo567 commented on #20933
Hmm maybe we should then think about having a better error message in this case. Maybe we can warn better if GPU resource is not a clean value like .25 .5 1.0 etc.

[2021-12-22 00:55] mbehrendt opened #21230 "[Bug] can't get ray cluster fully utilized"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

(I created this issue based on a chat with Sang Cho)

### Ray Component

Ray Clusters

### What happened + What you expected to happen

i created a cluster with 120 nodes, each having 8 vCPU and 32GB of memory. I triggered 10k task executions, and used the ray decorator

[2021-12-22 01:17] #20642 closed

[2021-12-22 01:35] sidward14 commented on #21228
Hey @amogkam, I've submitted the PR!

[2021-12-22 01:36] amogkam commented on #21228
Awesome, thanks!

[2021-12-22 01:47] jovany-wang commented on #20470
I proposed another approach to address the FullGC issue https://github.com/ray-project/ray/issues/21218 , so close this issue.

[2021-12-22 01:47] #20470 closed

[2021-12-22 02:48] architkulkarni commented on #18199
I'm seeing the exact same error as Kai reported above.  I'm trying to release 1.9.1.  It looks like the PR to skip the javadoc plugin got reverted.

Is it safe for me to add `-Dmaven.javadoc.skip=true` locally and rerun `sh java/build-jar-multiplatform.sh deploy_jars`?  I'm not sure if I'll mess something up by deploying twice.

[2021-12-22 02:54] jovany-wang commented on #18199
Unfortunately, it cannot be fixed by `-Dmaven.javadoc.skip=true`.

It's okay to deploy it twice because it's not successful at the first deploying.

[2021-12-22 02:57] jovany-wang commented on #18199
@architkulkarni Is everything ready? Maybe you can give me the branch name and let me deploy it on my laptop.

Also, what's very important, is, @ashione do you have the timeline to make the `sun.nio.ch.DirectBuffer;`  safe to the streaming doc-check plugin?

[2021-12-22 03:54] #21228 closed

[2021-12-22 04:56] Yard1 commented on #20974
@ijrsvt @DmitriGekhtman sure, please add me

[2021-12-22 06:26] architkulkarni commented on #18199
Yes @jovany-wang it would be a great help if you could take care of the deploy step.  Here's the branch: https://github.com/ray-project/ray/commits/releases/1.9.1

The commit we want is the latest commit on that branch, `2cdbf974ea63caf4323aacbccaef2394a14a8562`.

Please let me know when it's complete!  This is the last step in our release process.  Thanks again.

[2021-12-22 06:45] chaokunyang opened #21234 "[RFC][Java] Java Serialization Performance Optimization and Zero-Copy"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Current Java serialization has some issues which cause java ray call/put slow and java worker gc overhead:
* Performance issue: For some big complex objects or objects list/map serialization of a complex application, many virtual meth

[2021-12-22 09:23] jon-chuang opened #21238 "[Bug] Flaky `ray_cpp_pkg` build cmd"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Others

### What happened + What you expected to happen

The ray_cpp_pkg build cmd is flaky, and fails due to not having write permissions to remove old dirs

### Versions / Dependencies

Ray v2.0.0
Ubuntu 20.04

### Reproduction script

I am

[2021-12-22 09:43] SongGuyang opened #21239 "[Feature] [runtime env] [java] select jdk version"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In some real world cases, users need to use different jdk versions to run their jobs in one cluster. We can support this feature in runtime env.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to s

[2021-12-22 12:27] mbehrendt commented on #21230
did some more investigation:

It turns out that the relatively slow invocation of a larger number of tasks exacerbates this issue, b/c the completion rate can be higher than the max possible invocation rate.

To break this down into a smaller, more contain experiments, i now setup a cluster of 11 nodes, and invoked a very simple tasks (sleeping for 300)  1000 times, each of them with 0.1 or 0.2 cV

[2021-12-22 12:36] mbehrendt commented on #21161
would be interesting to have this guided by use cases. in a certain way, prioritization of work is/was driven by hard constraints in terms of capacity. when running on a cloud, there is still a quota set for an account, but in general there is much more freedom wrt allocating new capacity as needed, and also take alternative approaches, which would be interesting to think through. E.g. instead of

[2021-12-22 14:42] rkooo567 commented on #21230
cc @ericl @scv119 is this a known issue? The performance seems to be indeed very slow, and I found we had pretty big regression compared to 1.4.0.

For example, in 1.4,  https://github.com/ray-project/ray/blob/master/release/release_logs/1.4.0/scalability/distributed.txt
we could schedule **600 tasks/s**

and 1.7 https://github.com/ray-project/ray/blob/master/release/release_logs/1.7.0/benchmarks/

[2021-12-22 14:55] jovany-wang commented on #18199
@architkulkarni FYI 1.9.1 was deployed to maven central.
![image](https://user-images.githubusercontent.com/19473861/147111646-8ebc3eb6-df73-4a3c-8159-114ede3635d3.png)

[2021-12-22 16:00] ze897c commented on #21202
[logs.zip](https://github.com/ray-project/ray/files/7763732/logs.zip)
...sorry for the delay, had to get back to the correct box

[2021-12-22 16:06] andreapairon opened #21241 "[Bug] RuntimeError: Failed to create runtime_env for Ray client server"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Serve

### What happened + What you expected to happen

Trying to run a script that uses Ray serve, but fails at the runtime env creation.

![image](https://user-images.githubusercontent.com/16152588/147121062-3a0c28a0-53d6-4dfd-b256-38e9

[2021-12-22 16:14] jamesliu opened #21242 "[Bug] RuntimeWarning: Mean of empty slice during training from np.nanmean in train_ops.py"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

1. What happened:
When training(E.g. PPOTrainer train), it will get RuntimeWarning sometimes below:

anaconda3/envs/py38/lib/python3.8/site-packages/ray/rllib/execution/train_ops.py:232: RuntimeWa

[2021-12-22 17:04] #17693 closed

[2021-12-22 17:04] #17673 closed

[2021-12-22 18:10] architkulkarni commented on #18199
Thank you so much @jovany-wang!

[2021-12-22 19:59] jon-chuang opened #21243 "[C++ API] use of `std::function` ABI may not be stable"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

These are the function signatures that acts as the FFI between the application code and ray runtime (C++ worker runtime)
[code]

However, it is known that `std::function` does not have a stable ABI, e.g. https://stackoverflow.com/ques

[2021-12-22 21:26] ericl commented on #21161
That's a great point. Indeed taking a step back prioritization can be
solved at a higher layer for most use cases, so there isn't a strong need
to support that within a cluster beyond simple rate limiting.

On Wed, Dec 22, 2021, 4:36 AM mbehrendt ***@***.***> wrote:

[2021-12-22 21:27] ericl commented on #21230
I'm pretty sure that number is calculated wrong, since it scheduled 10k tasks and the overall runtime was 600 seconds.

[2021-12-22 23:03] J-S-Robinson opened #21246 "[Bug] cartpole_server.py and cartpole_client.py example recording NaNs"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Running the cartpole server and client example generate reports (i.e. result.json and progress.csv) with NaNs for most important metrics, for instance:
[code]

The learning itself is converging, h

[2021-12-23 00:57] pcmoritz commented on #15780
I'm assigning this to you @mwtian since you are touching this codepath as part of the GCS work. Let us know if you need help working on this / if it turns out to be windows specific :)

[2021-12-23 01:00] architkulkarni commented on #21055
Ray 1.9.1 has been released: https://github.com/ray-project/ray/releases/tag/ray-1.9.1
Ray 1.9.1 has `log4j==2.16.0`.

In the first week of January we plan to release Ray 1.9.2 which will have `log4j==2.17.0`, which will resolve the vulnerability mentioned by @qbphilip.

[2021-12-23 01:00] #21055 closed

[2021-12-23 01:42] rkooo567 commented on #18835
The initial draft; https://docs.google.com/document/d/158cRgisVt6JZ55ARckrRHDLjLJ6YA_9lnzN8bp9F6vU/edit

[2021-12-23 02:22] jon-chuang commented on #21243
Furthermore, the C++ worker ABI also exposes C++ types like HashMap. For some ideas on how to convert the hashmap, they could be to cast function names as byte arrays, and use those C-ABI compatible byte-arrays as the key for the fast function lookup, thus exposing only C-ABI compatible function signatures.

@SongGuyang @kfstorm @jovany-wang

[2021-12-23 03:08] SongGuyang commented on #21243
@jon-chuang Thank you for add this issue! Looks good to me. I agree that we should make C++ API headers more compatible and simple. Maybe we should do a review for all the headers. @qicosmos please pay attention to this issue.

[2021-12-23 03:10] #16994 closed

[2021-12-23 03:21] daniel-acuna opened #21248 "[RFC] Advantages of Ray over Django + Celery + Dask experience"
Hello all,

I had posted the following comment below on Ray's Slack workspace and was asked to share it in Github as an RFC. My experience is developing APIs with [Django](https://www.djangoproject.com/) + [Celery](https://docs.celeryproject.org/en/stable/index.html)/[Jobtastic](https://policystat.github.io/jobtastic/) + [Dask](https://dask.org/) (thanks @ericl!). So I am happy to do it. Of course

[2021-12-23 03:51] jovany-wang commented on #21128
It seems `ray.init(default_actor_lifetime="detached")` is a P0.

[2021-12-23 04:20] #17480 closed

[2021-12-23 04:20] #17668 closed

[2021-12-23 05:34] ericl commented on #21248
X-ref with https://github.com/ray-project/ray/issues/21161

[2021-12-23 07:56] JanJF commented on #20736
I got the same issue

[2021-12-23 07:59] qicosmos commented on #21243
Actually it's not a problem for ray, ray use c++17 now(at least gcc7.2 above), that means if you want to use ray you must use gcc7+ compiler, the ABI issue will occur when use library built with lower gcc version(below), because the std::string and std::function implement changed on higher gcc, gcc use _GLIBCXX_USE_CXX11_ABI flag to solve the issue.
Because ray always run on gcc7 above, so there i

[2021-12-23 09:04] chuckhope opened #21251 "[Feature] large data storage in Ray object store"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Hi, I have utilized ray tune to do the knowledge distillation work with huggingface transformers. Before training ,I have to use the SquadV1Prcessor of huggingface to extract features. I have a dataset of about 400MB, and it turns to

[2021-12-23 10:12] jon-chuang opened #21253 "[Core] Pepper more `RAY_LOG(DEBUG)` throughout `ray::core` for better debugging"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Although there are some occurences of `RAY_LOG(DEBUG)` which helps debugging immensely, there are many functions that don't announce what they are doing even at `RAY_LOG_LEVEL=debug`.

Open to feedback on this issue from those who wor

[2021-12-23 10:33] czgdp1807 opened #21254 "`pip` copies installed packages to `session_*\\runtime_resources` everytime"
In the following test we (I and @mattip) noticed that it takes very long times to complete the installation of `tensorflow` and `pytorch`. I changed it to `numpy` and `scipy` (specifically,  `"pip": ["tensorflow", "torch"]` to `"pip": ["scipy", "numpy"]` and noticed that it took 90s just to install `scipy`. Most of the time is taken in copying the `scipy` (and `numpy`) installation to `--target=C:

[2021-12-23 10:33] jon-chuang commented on #21243
How about hashmap ABI?

[2021-12-23 10:45] qicosmos commented on #21243
I think it's similar with string and function, we use gcc7 above compiler, no abi problem.

[2021-12-23 11:53] jovany-wang commented on #20353
Closed since ActorLifetime is supported in #21074

[2021-12-23 11:53] #20353 closed

[2021-12-23 12:27] jon-chuang commented on #21243
Hmm it's not my decision to make, since it's ultimately about priority and I agree it won't result in breakage in most cases, while one could also probably fix breakage by configuring the right build and absl release version for the application code, and I admit I don't understand the story for C++ compiler ABI guarantees, but maybe choosing this path is an unnecessary risk that could complicate f

[2021-12-23 12:53] qicosmos commented on #21243
C++ can't solve abi issue between different compiler even different version of the same compiler now.
The best way is : compile ray with the same compile to keep ABI compatible, no other way now.

[2021-12-23 14:34] jon-chuang commented on #21243
Hmm I don't think I believe this. For instance, rust API is compiled by a completely different compiler but there aren't issues expected, the reason is because the application code interfaces with the runtime exclusively via a wrapped task function signature, which can be guaranteed to interoperate as long as that ABI is preserved (i.e. by declaring as `extern "C"` to generate C ABI), and as long

[2021-12-23 23:06] #17730 closed

[2021-12-24 01:58] ryantd opened #21255 "[Bug] [Datasets, Train] Got `leaked semaphore objects` when using dataset split"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

When testing [this script](https://docs.ray.io/en/latest/train/examples/train_linear_dataset_example.html), a `UserWarning` would be raised, and the final loss results can be generated successful

[2021-12-24 02:13] qicosmos commented on #21243
Yes, use extern c is a solution, it's a c solution, that also means you abandon c++,  all the user remote function must be exported with extern c, can't use c++ string, function, c++ classes, stl container any more, that's bad for c++ users.

If we need to provide c api for c api users, it's another story.

[2021-12-24 02:33] jon-chuang commented on #21243
I don't think you understand what an FFI is.

[2021-12-24 02:40] jon-chuang commented on #21243
Extern C is not a C solution. It is a generic FFI solution that is industry standard practice

[2021-12-24 02:45] qicosmos commented on #21243
Extern c means you can't use c++ classed, containers, i think c api is another story.

[2021-12-24 02:47] jon-chuang commented on #21243
Please read the C++ API implementation properly.

All user remote functions already follow one of two fixed type signatures listed above. Both of which have no usage of STL.

Please try to understand how FFI is done for complex type signatures before commenting further.

[2021-12-24 02:51] qicosmos commented on #21243
The user function is free for users, they can pass c++ stl container and string, if use extern c, how to pass the c++ arguments? use "const char* , size_t" instead of string, use what instead of std::vector arguments? void*?
Don't you think it's very hard to use?

[2021-12-24 02:54] jon-chuang commented on #21243
The user defined remote function's signature is not the FFI. I have already mentioned above what the FFI currently is in the original post.

hint: RemoteFunction and RemoteMemberFunction.

[2021-12-24 03:03] jon-chuang commented on #21243
This is how to pass.

[code]

[2021-12-24 03:10] qicosmos commented on #21243
Yes, i mean it's not convenient for c++ users, because the user have to change the original c++ arguments to c api acceptable arguments. The current API no such restrictions, so i said it's for c++ users, if we need c APIs, we can provide new c APIs.

[2021-12-24 03:50] jon-chuang commented on #21243
Yes, but I'm saying we can wrap the user function for them. For instance:

[code]

[2021-12-24 04:02] qicosmos commented on #21243
Actually we have already use extern c for the exported functions by boost.dll BOOST_DLL_ALIAS in task_executor.h.

[2021-12-24 04:11] jon-chuang commented on #21243
I don't think that makes it extern "C"? I think it just does not mangle the names?

[2021-12-24 06:52] jon-chuang commented on #21243
Some additional evidence that one might not be able to rely on C++11 ABI
![Screenshot_20211224-145132_Chrome](https://user-images.githubusercontent.com/9093549/147326578-5e97db50-fcc9-4547-991c-80d542c9d0c9.jpg)

[2021-12-24 08:30] SongGuyang commented on #21243
@mwtian What do you think about this discuss?

[2021-12-24 12:41] Haijunlv opened #21259 "[Bug] [Tune] pbt run_experiments not stable, some trial will error."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

when i use PopulationBasedTraining api, the trails will sometimes error.
i have update hyperparm searching  code successfully from ray[tune]==0.8.4 to ray==1.9.1 with modifying some api
But i f

[2021-12-24 15:11] outdoteth commented on #19834
This happens to me whenever I try to update an exsting node with: `ray up -y my_config.yaml`.

The head node updates fine, but any worker nodes shutdown and restart completely which takes a lot of tiime.

[2021-12-24 16:46] #17767 closed

[2021-12-24 16:46] #17770 closed

[2021-12-24 17:42] jacobdanovitch commented on #21161
Rate limiting for workflows would be really helpful, currently struggling a bit to setup a workflow where we have to call an API at a certain rate per second.

[2021-12-25 12:21] #17805 closed

[2021-12-25 15:38] dongruixiao opened #21264 "[Bug] Confusing routes in make_fastapi_class_based_view"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

When I was using the same app on two different deployments

[code]

I would like to get a clear route in each api documentation, like this:

[code]
but in fact it didn't, i got like this:

[co

[2021-12-25 19:08] jmakov opened #21265 "[Bug] All nodes not started on local cluster"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Not sure what changed (worked on the same setup&with same script for Months) but one node (192.168.0.107) doesn't get setup/up anymore (if conda env is removed, no new env is created, `/tmp

[2021-12-25 19:43] jacobdanovitch commented on #21031
Hmm, I'm also seeing this (`agent_manager.cc:237: Failed to delete URIs, status = IOError: , maybe there are some network problems, will retry it later.`) but tearing my cluster down didn't fix it for me. It also doesn't seem to be breaking anything; is there at least a way to silence it?

[2021-12-25 20:41] jmakov commented on #21265
Upon running manually commands from reproduction script, I found that a dependency couldn't be resolved and `mamba` hanged. Moved to [Mambaforge](https://github.com/conda-forge/miniforge#mambaforge). Would be great to see that somewhere in the logs instead of having the node marked as uninitialized or pending.

[2021-12-25 20:41] #21265 closed

[2021-12-25 22:24] Hoeze commented on #20495
There should be:
- a difference between idempotent tasks that can be preempted at any time and stateful ones which cannot be preempted
- `on_preemption()` handlers so one can e.g. save a checkpoint or perform cleanup before shutting down
- some kind of priority system

Side question:
Does Ray also create cgroups for its worker processes?

[2021-12-26 01:09] jon-chuang commented on #21238
@qicosmos do you ever encounter this issue when installing ray from local build? Is there a way to do this which does not rely on explicit cmd (somewhat hacky), and relies on Bazel's own management of build artifacts?

[2021-12-26 01:41] jon-chuang commented on #20495
Hmm, one might also want to have a pre-emption priority level.

Maybe could have 5 (or 3, or 4) levels?
[code]

For small number levels we can also call the levels `"level": "NONE", "LOW", "HIGH"` / `"MED"`

Also, I prefer this API:
[code]

#### Session-based profiling instead of preempting
As an extension, I think one could also have a profiling-based memory-aware scheduler, by grouping by the me

[2021-12-26 03:54] jon-chuang commented on #20495
@ericl I can split up the above ideas into an RFC if it is of interest.
I also don't know how the ideas contained within connect with existing intiatives/RFCs.

[2021-12-26 05:16] jon-chuang commented on #20495
To summarize, I am for preemption as a task-level opt-in behaviour, and memory back-pressure as a default behaviour.

[2021-12-26 13:42] jon-chuang commented on #20495
The notion of preemption itself is quite contentious even for tasks. For instance, in the C++ API (and as was originally planned for the Rust API), tasks run in the same process/thread as the worker. I don’t know what available language features exist for Python and Java to handle preemption gracefully, but I suspect the scenario might be similar.

Terminating the worker itself is a possibility, a

[2021-12-26 15:59] mwtian commented on #21243
To my knowledge, user code -> Ray C++ API does not offer an API stability guarantee yet, much less an ABI guarantee. I don't think we need to worry about ABI guarantee yet.

A clear C++ ABI guarantee is not trivial to maintain. Build system and [C++ language standard](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2020/p1018r6.html#abi) have to be taken into account. It would be hard for users

[2021-12-26 17:17] jon-chuang commented on #21243
Hmm, I agree its not an urgent priority. However:

Yes, but its easy to fix with serialization, which in this case is quite lightweight.

I agree the FFI might change, but I think C ABI is a good starting point to build future development upon.

I think the FFI breakage with C ABI is very explicit - as it requires actual code changes, not just build system change, as could happen with C++ ABI.

He

[2021-12-27 02:26] qicosmos commented on #21238
We have tested install ray_cpp_pkg on mac and Centos, not tested it on Ubuntu.
Could you provide your command lines for repeating the issue?

@SongGuyang Could you look at the issue?

[2021-12-27 05:48] mwtian commented on #21243
@jon-chuang If this is about a Ray-internal C API which wraps core worker C++ API, that other language workers (Rust, even C++) can build upon, it would be more feasible. The benefit of the C API (Core worker C++ API -> C API -> language workers) is to provide compatibility with multiple languages' FFI facilities, instead of ABI stability (there is no intention to offer core worker **API** stabili

[2021-12-27 06:30] lionsheep0724 opened #21269 "[Bug] Memory leak inside docker container"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When I initialize ray with ray.init() in docker container, the memory usage increases over time and container dies when memory over shm-size limit. (**only ray.init() can cause this issue**)
Al

[2021-12-27 13:26] jon-chuang commented on #21269
Hmm, if your driver worker is not deleting references to the objects it puts once they aren't needed, maybe that's what's gradually eating up memory?

[2021-12-27 14:47] mattip commented on #20846
I traced the slowdown into (not surprisingly) `raylet.execute_task` in `raylet.pyx`. I see the code already has profiling code using the `with core_worker.profile_event` decorator. How do I gather the profiling results?

[2021-12-27 16:03] chaokunyang opened #21271 "[Feature] [Java] zero-copy serialization"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Ray python worker supports zero-copy serialization by integrating with [pickle5 out-of-band](https://www.python.org/dev/peps/pep-0574/), which can store big buffer in a list, and allocate buffer from ray object store, then copy the bu

[2021-12-27 16:03] chaokunyang commented on #21271
@raulchen @kfstorm @jovany-wang

[2021-12-27 16:26] mattip commented on #20846
Got it: I `set RAY_PROFILING=1` and at the end of the test add `ray.timeline(r'/tmp/timeline.json')` to dump the data to a json file. Then chrome has a nice facility for viewing this data as a timeline via browsing to `chrome://timeline`.

It seems the 100 actor tasks are all executed on the same process, the first requires 120ms, the second 50ms, and the 98 subsequent ones `<0.5ms`. The `task_nam

[2021-12-27 16:35] samithaj commented on #19875
Hi @simonsays1980
I'm trying to sync the checkpoints from workers to gcp bucket by using below code

`        sync_config=tune.SyncConfig(
            upload_dir="gs://ray_checkpoint_sync"
        )`

but it gives me below error

`Traceback (most recent call last):
  File "/home/ray/anaconda3/lib/python3.7/site-packages/ray/tune/trial_runner.py", line 1113, in _process_trial_save
    results = sel

[2021-12-27 17:17] mattip commented on #20846
Closing. I am unable to reproduce the insignificant time on linux: there too the `small_value` task requires tens of milliseconds.

[2021-12-27 17:17] #20846 closed

[2021-12-27 17:44] simonsays1980 commented on #19875
@samithaj Thanks for working on this issue!

In my setup using simply `tune.run()` I did not need to setup `gsutil` on the worker nodes, too. I guess that `tune` in this setup does have the metrics on the driver and can write the checkpoints by snycinc to the driver and then syncing from the driver to GCS.

What is special in the setup I posted above is that it has only the local worker where `gsu

[2021-12-27 17:49] NumberChiffre opened #21272 "[Bug] Wandb randomly crashing experiments logging"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Hi everyone,

I am running some ray tune + pytorch lightning code with `ASHAScheduler` on a single GPU and noticed that some experiments logging will have the status `crashed` shown on wandb, w

[2021-12-27 17:57] samithaj commented on #19875
Ideally using the same service account as the head node should work as stated below
https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/gcp/example-full.yaml#L114
but it didn't work
I tried copying the boot file that gsutil creates when it authenticates manual to workers but it also gave me a permission error
[code]
also simple local/rsync checkpointing  :
https://docs.ray.io/en/l

[2021-12-27 20:12] pcmoritz commented on #13794
I think this issue has now been fully fixed on master and will be available with the 1.10 release! I'm closing this issue but please let us know if it still happens with 1.10.

[2021-12-27 20:12] #13794 closed

[2021-12-27 20:24] pcmoritz commented on #12481
This issue should now be fully resolved in master and will be released in 1.10 (to be released in Jan '22). I'll close this issue for now but please let us know if the problem still persists with 1.10 once it is released :)

[2021-12-27 20:39] pcmoritz commented on #19177
I'm trying to reactivate the last remaining small bits here: https://github.com/ray-project/ray/pull/21273

[2021-12-27 23:09] ericl commented on #21161
Interesting nuggets on Ray for job processing from this blog: https://vishnudeva.medium.com/scaling-applications-on-kubernetes-with-ray-23692eb2e6f0

This echoes other use cases for Ray as a unified & high-performance processing backend.

[2021-12-27 23:21] ericl commented on #21218
Interesting, so this would be a Java-only allocator (since presumably these objects can't be used for zero-copy sharing with Python workers)?

I wonder if there's other ways to make the JVM aware of external memory pressure. cc @scv119

[2021-12-27 23:23] ericl commented on #21141
cc @jovany-wang I wonder if this is the root cause for https://github.com/ray-project/ray/issues/20470

[2021-12-28 01:17] lionsheep0724 commented on #21269
No. as I mentioned, memory gradully increases when ray.init'ed only. No ray.get, no ray.put in my test case.

[2021-12-28 01:29] lionsheep0724 commented on #21269
Let me share my first design pattern to reproduce this issue. (pseudo code)
ray.init(num_cpus=4,dashboard_host='0.0.0.0',dashboard_port=8888, configure_logging=False)
[code]

[2021-12-28 01:31] mwbyeon opened #21274 "[Datasets] [Bug] Piece Serialization with cloudpickle is very slow."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

I tried to read many parquet files (~188k) from GCS.
But I have an issue where `cloudpickle.dumps()` takes a long time (3h 30m)

https://github.com/ray-project/ray/blob/92599d9127e228fe8d0a2d94ca

[2021-12-28 02:20] jon-chuang opened #21275 "[xlang] [C++/C/Rust/Golang] Refactor Out (Native) Language Harness"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We should investigate refactoring out a native harness than can be used by all native language drivers and workers (and beyond).

This is related to more broadly refactoring out common features and requirements, e.g. could be at a cod