[2020-08-24 16:02] rkooo567 commented on #10238
I think the issue is from asyncio, not aiohttp? We can try, but it is probably just safe to use 127.0.0.1. I will also check if we have any process that uses localhost.

[2020-08-24 16:04] wuisawesome commented on #10238
ah this might be a different issue then (the other issue i mentioned is a known issue in aiohttp)

[2020-08-24 16:13] rkooo567 commented on #10238
Hmm I see. I think the linked issue seems to be the same issue as this (but not 100% sure. I think the issue is a asyncio method `create_server` translates localhost to ipv6 address and stop looking up there). Do you know which version of aiohttp resolves the issue?

[2020-08-24 16:13] rkooo567 commented on #10238
We can probably ask @manishagarwal23 to try a higher version of aiohttp (though I am not sure if it promises a backward compatibility).

[2020-08-24 16:19] wuisawesome commented on #10238
Unfortunately it's not resolved. There's an abandoned PR to fix the issue. Hopefully we can just take it over and upstream a patch.

[2020-08-24 16:25] rkooo567 commented on #10238
In that case, I think just using ipv4 loopback address seems to be much cleaner solution than patching abandoned PRs. Let me create a PR soon.

[2020-08-24 16:34] rkooo567 commented on #10238
@manishagarwal23 Would you mind quickly checking if `webui-host="127.0.0.1"` resolves the issue?

[2020-08-24 17:03] richardliaw commented on #10270
Do you think it makes sense to do `tune.run(func, search_alg=Bayesian(), max_concurrent=12)` (i.e., just put it into tune.run)?

[2020-08-24 17:37] ericl commented on #10265
I see, this seems to be a torch only issue (this is what I was missing). This might fix it: https://github.com/ray-project/ray/pull/10168

[2020-08-24 18:15] ksanjeevan opened #10290 "[tune] How to checkpoint best model"
### What is your question?

So I just ran a `tune` experiment and got the following output:

[code]

But when I look into the individual results, I find that for the third trial (`trainable_137ecd98`) even though its final accuracy was low, it had an iteration with higher accuracy than the other trials (89.8%):

![Screenshot from 2020-08-24 11-05-33](https://user-images.githubusercontent.com/12011

[2020-08-24 18:23] amogkam commented on #10290
@ksanjeevan if you are checkpointing every training iteration you can do something like this:

[code]

[2020-08-24 18:28] amogkam commented on #10290
Your approach of keeping track of `best_metric` and checkpointing whenever it gets updated should work as well. Also thanks for this bringing this up; I would say the documentation is not great here and we'll update it with more info about how to export the best model.

[2020-08-24 18:33] richardliaw commented on #10290
There's also `tune.run(keep_checkpoint_num=1, checkpoint_score_attr="accuracy")` which is essentially "keep_if_best".

[2020-08-24 18:36] simon-mo commented on #10286
You can call `ray.init(dashboard_host="0.0.0.0")` or `ray start --head --dashboard-host "0.0.0.0"`. Please let us know if this can solves your use case.

[2020-08-24 18:36] rkooo567 opened #10292 "Remove jenkins-only tag from the repo."
### What is the problem?

cc @amogkam @krfricke @richardliaw

Since we removed Jenkins from our build, we need to remove this tag from the repo.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

[2020-08-24 18:40] simon-mo commented on #10282
Can you try this on latest wheels? I'm getting the following output without segfault:
[code]

[2020-08-24 18:42] ksanjeevan commented on #10290
Thanks for the quick response @amogkam @richardliaw, I'll give it a shot!

[2020-08-24 20:13] ericl opened #10293 "[RFC] Deprecate the current version of Ray operator for 1.0"
The current Ray operator is not maintained (https://github.com/ray-project/ray/tree/master/deploy/ray-operator), and does not work with upcoming autoscaler features such as multiple node types (multiple pod types). To encourage users and community contributors to focus on the k8s autoscaler instead, we should deprecate it for 1.0.

## Summary of current state of affairs
There are currently a few k

[2020-08-24 20:52] ksanjeevan commented on #10290
@richardliaw your suggestion also needs `checkpoint_freq != 0` for there to be model checkpointing right? I tried it this way but am getting some inconsistent results:

![Screenshot from 2020-08-24 13-24-54](https://user-images.githubusercontent.com/12011058/91092690-3f594600-e60d-11ea-84e4-f7cf979e8789.png)

I saw Trial 1 overwrite the checkpoint dir when the accuracy improved (as expected) but t

[2020-08-24 21:15] richardliaw commented on #10290
@ksanjeevan yeah, you should also set `checkpoint_at_end` in that case.

[2020-08-24 21:16] robertnishihara opened #10294 "Deleting actor crashes logical view in dashboard."
This workload seems to crash the logical view in the dashboard.

I tried this on the latest master at 05c103af9480d459ce7d1eb246c059e17e77e5f1

[code]

@mfitton

[2020-08-24 21:20] wullli commented on #8469
I experience the same problem with  APEX-DQN running in local mode with multiple workers. Memory usage linearly rises, and the experiments fail with RayOutOfMemoryError at some point.

I have tried setting the buffer_size to a smaller value, though I did not figure out what exactly the number is supposed to mean even after some invesitgation in the docs (is it # samples or bytes?) and it did not s

[2020-08-24 21:32] edoakes opened #10295 "[dashboard] Don't show GPU columns when no GPUs are detected"
Should clean up the UI a bit for simple use cases.

[2020-08-24 21:35] mfitton commented on #10294
I'll take a look, thanks.

[2020-08-24 21:48] mfitton commented on #10294
Hey @robertnishihara are you sure the script isn't terminating before you can load the dashboard? I added a sleep at the end and between the creation and deletion of the actor, and I'm unable to reproduce.

[2020-08-24 21:48] mfitton commented on #10294
Also, are you running this locally?

[2020-08-24 22:29] edoakes opened #10298 "memory and object_store_memory units are wrong?"
### What is the problem?

The `memory` and `object_store_memory` units seem off. For example, if I start ray with 1GiB of object store memory, the unit shows as 14.0.

### Reproduction (REQUIRED)

[code]

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/latest/installati

[2020-08-24 22:31] ericl commented on #10298
We store then in 50MiB chunks (this is a limitation of the old scheduler, and can be fixed with the new one).

[2020-08-24 22:56] edoakes commented on #10298
I see. That seems to work out for the `memory` unit and for the `object_store_memory` unit it's the same but also multiplied by 0.7 to reserve some memory that can't be allocated to functions/actors (https://github.com/ray-project/ray/blob/master/python/ray/resource_spec.py#L90).

It’s pretty confusing from a user’s perspective that we expose this implementation detail here but not when requesting

[2020-08-24 23:45] ksanjeevan commented on #10290
I'm still getting trials with multiple checkpoints despite `keep_checkpoints_num=1` and some trials with no checkpoints at all. But even ignoring this the trial results with `Analysis` will have the accuracies from `last` while the checkpoints will be from `best`.

I tried using the functional API for this but it relies on `checkpoint_{trial_num}` so I can't only save the best model in a trial unl

[2020-08-24 23:55] mfitton commented on #10278
I think, in theory, the `ray.available_resources` function could be used for this. However, it doesn't seem to work as I would expect currently. When I run the following snippet:
[code]
I get output like:
`{'CPU': 16.0, 'memory': 92.0, 'object_store_memory': 31.0, 'node:192.168.50.14': 1.0}`, but the `object_store_memory` never changes as I would expect it to.

[2020-08-24 23:58] #10258 closed

[2020-08-25 00:01] rkooo567 commented on #10298
Conclusion: Wait for new scheduler to be merged.

[2020-08-25 00:11] wuisawesome commented on #10298
Then change this to more reasonable units. Technically nothing is wrong though.

I'm going to close this and create a new issue for changing the units to bytes.

[2020-08-25 00:11] #10298 closed

[2020-08-25 00:13] wuisawesome opened #10301 "[Core] Display memory (such as `object_store_memory`) in bytes"
### Describe your feature request

Display object store memory and worker memory usage in bytes. Note the current scheduler doesn't play nicely with very large numbers, so this should only be done once we turn on the new scheduler.

[2020-08-25 00:36] stephanie-wang commented on #10278
Unfortunately the `object_store_memory` reported in the available resources is very misleading. Currently the scheduler does not take memory usage into account, so I don't think that figure is ever updated.

@mfitton, maybe this request could share the same code as the new dashboard for memory usage?

[2020-08-25 01:14] richardliaw commented on #10290
@ksanjeevan sorry - did you end up setting:
[code]

[2020-08-25 02:48] ksanjeevan commented on #10290
No I did `analysis = tune.run(..., keep_checkpoints_num=1, checkpoint_freq=1, checkpoint_score_attr="accuracy")`. I also tried with and without `checkpoint_at_end=True`. This more or less does the job of only keeping the best checkpoint per trial (sometimes giving none, sometimes giving two).

Regarding `analysis.get_best_checkpoint()`, I don't think it's in the nightly release yet. But even in ma

[2020-08-25 03:01] ksanjeevan commented on #10290
Ok maybe you meant to say `get_best_trial` and then use that trial with `get_best_checkpoint`. That makes sense. I guess I'm a bit confused with representing trials in the logging, terminal and `analysis.dataframe()` with their last metrics (acc, loss, ...) instead of the best, which are what we're after, but I now understand how to get to them.

Appreciate the help!

[2020-08-25 05:10] manishagarwal23 commented on #10238
@rkooo567  @wuisawesome

**1)  first i did as was discussed yerday**
/home/manishagarwal/VIRTRAY/workArea/manishSamples>sudo /home/manishagarwal/VIRTRAY/bin/ray start --head --webui-host 172.23.88.147

I ran the above command on linux and saw the dash board on windows . I was able to view the dashboard http://172.23.88.147:8265/ on windows properly and it was properly updated .

**2) Second i did*

[2020-08-25 05:11] robertnishihara commented on #10294
@mfitton sorry looks like I forgot to rebuild the dashboard when I rebuilt Ray.

[2020-08-25 05:11] #10294 closed

[2020-08-25 06:24] michaelitvin commented on #10269
mode='min' doesn't appear in get_best_config in any example I saw im the docs. Even not in the first [getting started example](https://github.com/ray-project/ray).
What am I missing?

[2020-08-25 06:57] Linlinzhao commented on #9528
How to kill those idle processes? I used Ray to parallelize nested for loops, now tons of IDLE processes are remaining on the remote.

[2020-08-25 07:30] richardliaw commented on #10269
Hmm... i guess it's just not in the examples but there's the api reference: https://docs.ray.io/en/latest/tune/api_docs/analysis.html#ray.tune.ExperimentAnalysis.get_best_config

let's keep this issue open until we patch the documentation :)

Thanks for bringing up that point!

[2020-08-25 08:52] michaelitvin opened #10305 "[tune] Make `Trainable` API clearer/cache state across workers"
I need to pass params to the constructor of my `Trainable` subclass.
In the `Trainable.__init__` docstring it says that I should prefer providing a `build()` method rather than my own `__init__`.
Why? Who would use `build()` and when?

-> Also, there is the fact that PyCharm wouldn't appreciate any instance variables I'd declare inside `build()` but not inside `__init__()`.

[2020-08-25 10:29] RafalSkolasinski commented on #3644
It is still unclear for me how to control number of nested tasks. If I have a simple code like
[code]
and would like to compute `a -> b -> c` for some list of inputs I'd assume that this is right approach
[code]

but this lead to
[code]
that brought me here.

Straight forward solution seems to be removing call to `ray.get` from remote functions
[code]
but that may not be the ideal for every use ca

[2020-08-25 11:44] Seraphli commented on #9432
I'm facing a similar issue. I have 4 machines, and one of them is a machine with a GPU.
For example, we name these machines in A, B, C, D, and D is the GPU machine.

Before some modifications I do:
1. on D, put some parameters to an actor on A
2. actors on B and C will get the parameters from the actor on A
After some modifications I do:
1. on D, put some parameters to an actor on A
2. one of acto

[2020-08-25 13:22] michaelitvin commented on #10305
Another point is that the API methods are not precisely defined (at least not in the docstring).
For example, it's not clear from the documentation of `step()` what exactly the return value should hold (it just says `A dict that describes training progress.`).

[2020-08-25 13:33] flokde commented on #10101
Your last answer really helped me understand ray/tune a little bit better. Currently I am not getting there on the implementation of `reset_config(config)`, so I am abusing this issue a little bit - I assume you will stop answering my question if they get too dumb :).

I went for the most basic `reset_config` method possible:
[code]

When I go into debugging and call the method (with a dummy dict

[2020-08-25 14:21] #10286 closed

[2020-08-25 14:55] Seraphli opened #10312 "[ray] How to startup workers more than number of cores"
How to set ray startup arguments to let 150 workers running on a 96 cores machine? I notice ray will auto-scale on the local machine, but how to set while running a cluster?

[2020-08-25 15:05] wuisawesome commented on #10238
Yes, this is expected behavior because `127.0.0.1` says to bind to the loopback interface which means you are only listening to connections from the local host. Binding to your ip address is also acceptable to listen for connections from the network (on that interface), or more generically you could bind to `0.0.0.0`

[2020-08-25 15:05] #10238 closed

[2020-08-25 15:15] wuisawesome opened #10313 "[Autoscaler] Node specific docker options"
### Describe your feature request
We should allow node specific docker options for the autoscaler (similar to provider options, commands, resources, etc.)

[2020-08-25 15:18] wuisawesome commented on #10313
cc @ijrsvt This is probably post-ray1.0

[2020-08-25 16:03] ijrsvt commented on #10313
@yiranwang52 FYI

[2020-08-25 17:18] mfitton opened #10319 "[dashboard] When autoscaler adds/removes worker, dashboard crashes"
### What is the problem?
This is originally reported by Pieterjan for 0.8.7 but also appears to be in issue in the latest nightly. The issue would appear to occur across

### Reproduction (REQUIRED)
This is not a script, but given I will author the fix, I think this is sufficient:
- Start a cluster with autoscaling enabled
- Increase workload so that an additional worker or workers are spawned
- W

[2020-08-25 17:20] AprilXiaoyanLiu commented on #10265
after changing float('inf') to 1e15, it works now. Thanks!

[2020-08-25 18:11] sumanthratna opened #10322 "[serve] add "Ray Serve vs TorchServe vs TFX Serving vs Multi Model Server" to FAQ"
## Describe your feature request
For users who just want to serve a model, there are lots of options. It would be very convenient if there was a table or written explanation that discusses the pros and cons of Ray Serve, TorchServe, TFX Serving, and MMS.

CC @simon-mo (https://ray-distributed.slack.com/archives/CNCKBBRJL/p1598376829012900)

[2020-08-25 18:34] simon-mo commented on #10322
cc @edoakes @anabranch

[2020-08-25 18:45] clarkzinzow opened #10324 "[Core] WorkerThreadContext semantics are incorrect for async Python actors."
### What is the problem?

A [thread-local `WorkerThreadContext`](https://github.com/ray-project/ray/blob/b14c56e599ea34dd88838c820151063b1aeba0e8/src/ray/core_worker/context.cc#L19-L64) is maintained for each core worker thread, and is used to (1) get the currently executing task, (2) maintain a put index counter tracking the number of object puts in the current task and used for deterministically

[2020-08-25 19:02] rkooo567 commented on #10324
I think I know exactly why it happens, but I'd like to understand the implication of wrong objectIDs in this case. Is there more implication than that it is hard to debug? (like functionality issues or etc.)?

[2020-08-25 19:15] clarkzinzow commented on #10324
@rkooo567 This issue was discovered while working on a solution for [this issue](https://github.com/ray-project/ray/issues/8032) in [this PR](https://github.com/ray-project/ray/pull/10187), which involves using a task's `num_returns` as a base for the put index in order to guarantee no object ID conflicts between put objects and return objects. That obviously fails for async Python tasks since the

[2020-08-25 19:18] richardliaw commented on #10101
Hmm, actually it looks like for your case reuse_actors wouldn't work. Sorry about that! How long does each function evaluation take ('Trainable.step') take?

If it is very fast, consider running `ray.init(local_mode=True)` before `tune.run`. This will force everything to be a single-process implementation.

Alternatively, if it is slow, you might want to consider taking advantage of parallelism. `

[2020-08-25 19:58] rkooo567 commented on #10324
This behavior should be fixed as I'd like to support context (which users can print their task id in the method) in the sooner future. I will set P2 because it won't be hard requirement for 1.0 because using objectID is not something we officially support.

Can you try this

and let me know if you can find any workaround? If it is a hard blocker, I will try to spend some time at night to have a fi

[2020-08-25 20:17] mfitton commented on #10278
It could. The code isn't very general now, but essentially what it does is aggregate the `CoreWorkerStats` from all workers on all nodes over time and present them in an API response.

There isn't an easy way to call it programmatically currently. The best approach would probably be to call the API then use the data it returns. The format is specified in `ray/python/ray/dashboard/client/api.ts` in

[2020-08-25 20:32] nrhine1 opened #10326 "[rllib] Synchronizing policy state with outer model"
I have an auxiliary model, `outer_M` (which is an instance of a `nn.Module`-derived class), that I am updating as part of a `custom_loss` function. I have added a new attribute to the policy, `self.M = outer_M`. `outer_M` is instantiated before any Policy or Trainer is instantiated, specifically in my `main()` function, before `ray.tune` is called. I have noticed that `id(outer_M)`, before I initi

[2020-08-25 20:39] jyotishp opened #10327 "[rllib] What is the right way to collect timesteps when using frame skips (including the skipped frames)?"
### What is your question?

I have a random frameskip on me env. I want the training to stop after n time steps with respect to the underlying environment (including the skipped steps). I tried doing this using custom metrics and custom stopper. Here is a minimal example of what I tried to do

[code]

The timesteps value that I get from this is supposed to match the timesteps reported by `rllib` w

[2020-08-25 21:26] rusu24edward commented on #10100
I just updated version of ray[rllib] and started getting this error too.

[2020-08-25 21:58] rusu24edward commented on #10100
Tracked it to [here](https://github.com/ray-project/ray/blame/releases/0.8.7/rllib/policy/policy.py#L196). In my example, I'm using PG. My `out` at this point is `([1], [], {})`. In [unbatch](https://github.com/ray-project/ray/blob/releases/0.8.7/rllib/utils/spaces/space_utils.py#L95), `flat_batches` is just [1], which causes the error.

[2020-08-25 22:03] stephanie-wang commented on #10150
Hey @mattearllongshot, we just merged a temporary fix for this. When you get a chance, can you retry your workload on the nightly wheels for this commit? https://github.com/ray-project/ray/commit/d4537ac1ced4923ebbc2fd838b325a324072ab4c

[2020-08-26 00:15] stephanie-wang commented on #10234
@raulchen, is Redis sharding implemented for the GCS service? I don't think it is, right? Do you have any insight here for why the CPU usage is so high?

@Seraphli, can you give some more information about your cluster setup (how many machines) and workload? The relevant types of data that would get sent to redis are:
- actor directory - updated each time a new actor is created or dies
- object di

[2020-08-26 01:24] rkooo567 commented on #10312
Just set --num-cpus=150!

[2020-08-26 01:29] rkooo567 commented on #10278
@JoshuaCrestone Is it a hard blocker for you or something? It is definitely possible to implement, but as @mfitton said, the API won't be stable, and not even will be approved by committee because we are now focusing on standardizing APIs for Ray 1.0. In the worst case, I can probably give you a branch you can cherry-pick or patch for this use case.

[2020-08-26 01:30] #9795 closed

[2020-08-26 01:34] rkooo567 commented on #10216
@richardrl Is the suggestion resolving the problem?

[2020-08-26 01:34] #10165 closed

[2020-08-26 01:34] #10265 closed

[2020-08-26 01:42] #10152 closed

[2020-08-26 02:05] JoshuaCrestone commented on #10278
@rkooo567, this is not a hard blocker. Thank you for checking. At the moment, I am just building around it.

[2020-08-26 03:41] #10134 closed

[2020-08-26 04:06] #10326 closed

[2020-08-26 05:16] Seraphli commented on #10312
I tried this and it works. Thank you.

[2020-08-26 05:16] #10312 closed

[2020-08-26 05:34] #10173 closed

[2020-08-26 08:00] richardliaw commented on #10305
Thanks for opening this Michael; these are really good points. I'll add some clarification to the documentation.

BTW, the general recommendation is to go with the Function API moving forward. Is there anything specific about the class Trainable API that you cannot achieve with the function API?

[2020-08-26 08:24] michaelitvin commented on #10305
Well my hope was that I would be able to create an instance of my Trainable with all the big configuration already inside, and then do `setup` by passing only the hyper params each time. But I'm not sure anymore that it's possible... So if not, the function API would be equivalent.

[2020-08-26 08:52] manishagarwal23 opened #10337 "Location of ray logs on windows"
I am trying to host a windows non head ray node. The head node is running on a linux machine.
### **question 1 )**
 What is the location of logs on windows . On Linux i find all of them here **/tmp/ray/session_latest/**
On windows when i go in %tmp% i do not see any ray folder for logs
Please guide me where to see them

### **question2**
The reason i am loocking for logs is because i get the error

[2020-08-26 09:10] winni2k commented on #9704
I am running into this issue. I have a class that has several `@property` methods. I have found myself working around this by creating a derived "ray" class and creating getter and setter methods for all the properties. Quite verbose and ugly I must say. Here's what the derived class looks like:

[code]

As far as I can tell, only the first method would be needed otherwise. I would also be happy t

[2020-08-26 09:21] ericl commented on #9704
Hmm, this is an interesting issue. I'm not sure it's possible in general to generate all possible attribute accessors so that they can be called with `.remote()`. For example, a class might define `__getattribute__` to return computed attribute values.

As a workaround, you could probably define a method like this:

[code]

Then on the actor you can `actor.getattr.remote("attachment_log_like")` to

[2020-08-26 09:49] kschuerholt commented on #8552
@cyk1337 did you resolve the issue? I'm also faced with that error in a ray.tune experiment.
Interestingly, it doesn't occur when ray is initialized with local_mode=True. I can't really make sense of it, I'd be glad for any pointers how to fix it.

[2020-08-26 09:55] winni2k commented on #9704
Nice. That'll work for me I think.

[2020-08-26 10:09] shaandesaiqb commented on #6780
Hi @richardliaw I upgraded to Ray 0.8.7 and this issue appears to be resolved. I had a follow up: I noticed that in 0.8.7 the max_concurrency parameter for hyperopt is deprecated (in favor of concurrency_limiter) but in BOHB it isn't, is there a reason for this?

[2020-08-26 10:23] chanshing commented on #7632
It would be really great if someone could lay down ALL the ports that are used by Ray. I'm also facing this issue and I can't just ask IT to open all ports for me. I tried to figure out what services need port and how to specify them. I noticed that `reporter.py` seems to be using a port, also some metrics port. I found these by inspecting the processess via `htop`. @arsedler9 maybe this is relate

[2020-08-26 10:55] janblumenkamp opened #10338 "[rllib] Weights & Biases integration doesn't work for RLlib"
### What is the problem?

If I try to integrate Weights & Biases according to the [relevant tune docs page](https://docs.ray.io/en/releases-0.8.7/tune/tutorials/tune-wandb.html) with RLlib, it crashes saying "Unknown config parameter `wandb`".

[code]

- Ray 0.8.7
- Ubuntu 18.04
- Python 3.7

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script sho

[2020-08-26 12:44] sumanthratna commented on #10322
this might be better suited for a "How does Ray Serve work?", but I think there should also be a sentence that says whether or not Ray Serve uses TorchServe/TFX/MMS under the hood

[2020-08-26 13:36] FruechteBini opened #10339 "[rllib] Plotting"
Hey guys,

i am curious to if there is a way to plot reward/loss built in rllib? Or is there another library that works well in combination witlh rllib?

Thanks in advance,

Cheers

edit: sorry i forgot to flair it as [rllib] and cant edit the title...

[2020-08-26 14:48] lenassero commented on #9334
Hi all ! I have the same issue when trying to use a network interface. Basically the subnet id is set by the autoscaler which conflicts with the one of the network interface. This results in the following error:
[code]

My config looks like the following:

[code]

[2020-08-26 16:04] cristiangofiar commented on #9114
Help to connect 2 PCs pls!

(base) C:\Users\Gofiar>ray start --address='address' --redis-password='pass'
Traceback (most recent call last):
  File "c:\users\gofiar\anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "_main_", mod_spec)
  File "c:\users\gofiar\anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\Gofiar\anaconda3\Scripts\ray.exe\_main

[2020-08-26 16:05] edoakes opened #10341 "[metrics] Better way of grouping metric definitions"
### Describe your feature request

We currently define all of the exported metrics in a single file with a "flat" hierarchy: https://github.com/ray-project/ray/blob/master/src/ray/stats/metric_defs.h

These metrics are split out into component only by how we initialize the stats library in each component, which adds a tag to them. Ideally, we could define the metrics for each component individuall

[2020-08-26 16:20] flokde commented on #10101
Ah that is too bad. I had some problems with memory and I assumed it was because I saved the data in my Trainable subclass. So reusing actors wouldn't only have been elegant and more efficient with the stoppers, but might have also helped with the memory problems. The step/train time depends a lot on what kind of data I input - but for the most important case it is generally between 15sec to 3min

[2020-08-26 16:44] rkooo567 commented on #7632
@mfitton for @arsedler9's issue. Sorry again I didn't see this message!

@chanshing It is actually in progress! Here is the PR. Please read it and give me some review :) https://github.com/ray-project/ray/pull/10281

[2020-08-26 16:45] amogkam commented on #10338
cc @krfricke @richardliaw

[2020-08-26 16:49] rkooo567 commented on #8552
Does it work when you removed @ray.remote?

[2020-08-26 16:52] krfricke commented on #10338
Hi @janblumenkamp, we addressed this issue recently in #10252

Basically, you'll have to wrap the wandb config in a `logger_config` key:

[code]

We'll make sure to add documentation for this integration soon.

[2020-08-26 16:54] mfitton commented on #7632
@arsedler9 Hi, sorry for not seeing this sooner. The dashboard's nightly release had a glitch with multi-node clusters around the time you posted that could have led to the dashboard appearing blank. Could you let me know if this is still a problem that you're encountering?

[2020-08-26 16:55] krfricke commented on #10338
Addendum: It is actually documented [here in the latest master docs](https://docs.ray.io/en/master/tune/tutorials/tune-wandb.html). You'll have to install [Ray nightly](https://docs.ray.io/en/latest/installation.html#latest-snapshots-nightlies) to make it work.

Let me know if you have further questions.

[2020-08-26 16:55] #10338 closed

[2020-08-26 16:59] janblumenkamp commented on #10338
Ah, thanks a lot, I overlooked it in the master docs!

[2020-08-26 17:01] mattearllongshot commented on #10150
Sounds great.  I haven't been able to test this today due to EC2 instance availability, but I'll give it another go tomorrow.

[2020-08-26 18:16] Catypad opened #10342 "AttributeError: object has no attribute 'state_value_head'"
Hi! I'm evaluating a trained agent and I'm having this error and I can't understand why I can't obtain the value function. Can you help me, please? This was working but I change my model and I think that is probably related with that.

[code]

[code]

![image](https://user-images.githubusercontent.com/40674924/91340529-1503b600-e7d0-11ea-9431-3d225b5003d2.png)

[2020-08-26 19:12] ferrine commented on #6673
same question

[2020-08-26 20:23] richardliaw commented on #10101
Got it! BTW @flokde what type of data are you saving and how is it affecting your memory usage?

Maybe there's a way to resolve that issue!

[2020-08-26 20:27] #10101 closed

[2020-08-26 21:15] richardliaw opened #10343 "[core] Raylet does not start up properly on remote instance"
### What is the problem?

I've started a 2 node cluster, but the remote node has to retry 10 times in order to startup.

[code]

All of the raylet error files look like:

[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*

Latest. python=3.7.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have

[2020-08-26 21:16] richardliaw commented on #10343
cc @ray-project/ray-core

[2020-08-27 00:35] richardliaw commented on #10339
Check Tensorboard? RLlib automatically generates tensorboard logs.

[2020-08-27 02:00] marcmm opened #10346 "RLLib RuntimeError with parametric DQN cartpole example running on head GPU node."
### Model training fails while running cartpole example on distributed cluster with GPU

I'm using the sample ParametricActionsCartPole code with minor modifications to run on a distributed cluster.
The code fails when the head node is set to use a GPU and works fine when running on CPU only mode.

python 3.6
ray[rllib]==0.8.7
torch==1.6.0
cuda10.0-cudnn7-ubuntu16.04

### Reproduction

import argp

[2020-08-27 04:03] richardliaw commented on #6780
Could you open a new issue to track that? Thanks!

[2020-08-27 04:49] shaandesaiqb opened #10348 "[tune] BOHB Max Concurrency"
### What is your question?

Version: Ray 0.8.7

Tune now has functionality to handle maximum concurrency as a function on top of a search algorithm (via concurrency_limiter). This works perfectly well with hyperopt since the max_concurrency parameter in hyperopt is deprecated. However, the TuneBOHB search algorithm still has a max_concurrency parameter and I'm curious whether this is intentional o

[2020-08-27 07:18] cyk1337 commented on #8552
Hi @robertnishihara , it worked when I removed the cascaded subdirectories. Hope this can help ;)

[2020-08-27 07:31] kschuerholt commented on #4479
Had a similar issue yesterday and resolved it with setuptools. Also, I'd like to add that the issue does not exist in local_mode. Is there any documentation of what environment the actors live in? If so, I couldn't find it.

As state before, I'd very much appreciate if ray actors became aware of local modules.

[2020-08-27 07:32] kschuerholt commented on #8552
Thanks for the heads-up. My issue is tune related and probably closer to #4479.
After lot's of fiddling I packaged the local modules with setuptools and installed them on the node. Not a permanent solution, but it works for now.

[2020-08-27 08:09] Seraphli opened #10350 "[ray] failed to find entry in mmap_records for fd 0"
### What is the problem?

[code]
I get this error from one machine. I monitor the shared memory and its memory. There is no OOM issue. The total memory is 367G and only used 118G. The shared memory is 150G and only used 40G. After the raylet show this error and die, the shared memory continues to grow.

Is this issue related to out of shared memory? I don't really understand this error.

*Ray vers

[2020-08-27 08:18] Seraphli commented on #10276
I have tried to create a new connection to bypass this problem.

[2020-08-27 08:18] #10276 closed

[2020-08-27 08:21] Seraphli commented on #10234
I have tried to create a new connection to bypass this problem. I will send the data directly to some processes now. This greatly reduces the Redis workload.
BTW, the connection timeout is another problem related to our cluster containers. That is not a ray problem.

[2020-08-27 08:24] mattearllongshot commented on #10150
Hi @stephanie-wang , here are the results from yesterday's nightly wheel:

[2020-08-27 08:24] Seraphli commented on #10234
And yes, we are sending many tasks, about 50k/s I think.

[2020-08-27 08:30] mattearllongshot commented on #10150
I also get these errors printed to stderr when running ray.get: [errors.txt](https://github.com/ray-project/ray/files/5135094/errors.txt)

[2020-08-27 08:34] ffbin opened #10353 "[GCS]Support turn off profiling"
### Describe your feature request

[2020-08-27 08:37] ffbin opened #10354 "[GCS]Limit the number of profile table"
### Describe your feature request
Now, there is no limit to the number of profile table writes, which causes excessive storage usage.

[2020-08-27 08:40] ffbin opened #10355 "[GCS]Open lightweight heartbeat by default"
### Describe your feature request

[2020-08-27 08:40] ffbin opened #10356 "[GCS]Support different backend for GCS instead of Redis"
### Describe your feature request

[2020-08-27 08:41] ffbin opened #10357 "[GCS]Support Multi-threaded GCS server."
### Describe your feature request

[2020-08-27 08:41] ffbin opened #10358 "[GCS]Support Sharding GCS server"
### Describe your feature request

[2020-08-27 08:42] ffbin opened #10359 "[GCS]Remove tightly coupled Redis code path from Python"
### Describe your feature request

[2020-08-27 09:00] nm-bls opened #10360 "Reducing message latency"
My use case is a locally distributed processing system where latency is paramount.

To test whether Ray fits me, I made a simple benchmark running on a single machine. It initiates a couple of actors in a pipeline topology and runs a task, where the last actor in the pipeline merely passes back a string.

I found out that each nested actor adds 1ms on average, which is sadly too much for my use ca

[2020-08-27 09:17] raulchen commented on #10234
@stephanie-wang No, GCS service doesn't have sharding.  Besides the "actor/object/heartbeat" tables, there are also a lot of python code that directly accesses Redis, which might also cause issues.

@Seraphli  I'd suggest profiling Redis to find out which data is the culprit first. One tool I tried before is https://github.com/gamenet/redis-memory-analyzer. This can analyze the memory usage propor

[2020-08-27 09:29] mattearllongshot commented on #10150
The above appears to have some instances delayed in their bringup, which perhaps could be causing the problem?  I've run it again and this time the behaviour is more sensible.  Here's the image:
![image(1)](https://user-images.githubusercontent.com/37295291/91422818-96e6f400-e84f-11ea-83d2-4b654d79e442.png)

Note that one node ends up executing more than the others (57 tasks vs 35) but this is bec

[2020-08-27 09:39] m3t4n01a opened #10361 "[rllib][tune] Each trial of tune with multi-agent sets the same config for all agents?"
Hi there.
Sorry if I missed the answer to the question in the docs or issues.

If this is indeed so, how would I be able to have different configs for say two agents in a tune run?

Having a hierarchical system where maybe the observation and action space are quite different, even in scale, would it be reasonable to assume the same agent config for both? I think not.

I tried first training one fo

[2020-08-27 11:04] fsafaei commented on #9408
I have the same issue, and updating conda does not help, unfortunately.

[2020-08-27 11:29] manishagarwal23 opened #10362 "Unable to connect to ray head running on linux from ray worker node on windows"
### What is the problem?
I am running a ray head node on red hat linux .
I am trying to run a ray worker node on windows 10 machine

To check if redis can connect to the linux redis server i did an experiemnt

 I ran the bellow comamnds from the windows comamnd prompt

**python
import redis
rd= redis.Redis(host='172.23.88.147',port=6379,db=0,password=5241590000000000)
 rd.set('foo','bar')
True
rd.

[2020-08-27 15:55] gml16 commented on #6786
I had the same problem and solved it by adding the key `trainer_state` to the checkpoint.

[code]

Now you can just call `update_checkpoint_for_rollout('./testmodel/checkpoint_1/checkpoint-1')` in your example before restoring and it should work.

This is quite an old issue but I hope it can help anyone who's struggling with it.

[2020-08-27 16:34] chokosabe commented on #9844
Getting this same issue but on a PPO run with tensorflow-gpu and setting use_lstm=True.

[2020-08-27 16:48] stephanie-wang commented on #10150
Thanks, @mattearllongshot! I think those stderr messages match #10343 and should be fixed by the next release.

I'm closing this issue for now since it seems like the scheduling issue is resolved for the moment. Please feel free to reopen if something else comes up!

[2020-08-27 16:48] #10150 closed

[2020-08-27 17:04] mattearllongshot commented on #10150
Great! Thanks for taking the time to fix this.  Looking forward to the next release.

[2020-08-27 17:15] stephanie-wang commented on #10234
I think you could also just connect a redis client from command line and runs `KEYS *`. Let us know what you find!

[2020-08-27 18:09] vish0910 commented on #10343
More information on this issue.

Setup : autoscaler/kubernetes
`initial_workers`: 2
`min_workers`: 2
`max_workers`: 4

Observation:
1. Workers start running in the pod.
2. But no Ray-related processes running on them.
Running : `ps -aux| grep ray` inside worker-node (kubectl exec)
Out: `root         188  0.0  0.0   5196   740 pts/0    S+   16:14   0:00 grep --color=auto ray`

Thus, workers wont  r

[2020-08-27 18:16] #10293 closed

[2020-08-27 18:17] ericl commented on #10343
@raulchen giving to you for triage; feel free to send back.

[2020-08-27 19:08] #8032 closed

[2020-08-27 19:44] clarkzinzow opened #10371 "[Core] Submission-time task names."
### Feature Request

Allow the user to specify submission-time task names, such that the task name is used as the process title (for displaying in the dashboard and debugging) and possibly other areas (e.g. core worker stats). Using the task function name as the user-friendly identifier results in poor UX when many tasks are executed using the same remote function, especially when there exists a s

[2020-08-27 19:51] ebilgin opened #10372 "KeyError: 'action_logp' while consuming offline data [rllib]"
I am trying to consume offline data using the example [here](https://github.com/ray-project/ray/blob/master/rllib/examples/saving_experiences.py). I have the following code:

[code]

I am getting the following error:
[code]
I am using ray 0.8.7 on Ubuntu 18.04 LTS. Tensorflow 2.3.0.

[2020-08-27 20:33] Catypad opened #10376 "Error reload trained agent"
Hi! I'm trying to reload a trained agent, but I'm having an error and I don't know how to deal with that. Anyone can help me, please?

My model:
[code]

Error:
[code]

[2020-08-27 20:54] clarkzinzow opened #10378 "[dask-on-ray] Add support for scheduler plugin callbacks."
### Feature Request

Dask provides a [scheduler plugin callback abstraction](https://docs.dask.org/en/latest/diagnostics-local.html#custom-callbacks) that allows users to hook into the scheduler and each task's execution lifecycle, running user-defined callbacks at different stages. Having this plugin infrastructure would be very useful for implementing Dask-level progress reporting, diagnostics,

[2020-08-27 21:43] stephanie-wang commented on #10343
I'm able to get the same stack trace as @richardliaw on a cluster of 4 machines started with the Ray cluster launcher. The error message appears at the beginning of the job, I think before any application code has run.

[2020-08-27 21:54] rkooo567 commented on #10353
@ffbin I think we will eventually replace profile collection using our metrics infra, so this task can be deprioritized

[2020-08-27 21:54] rkooo567 commented on #10353
can you rather focus on limiting num of profile data task?

[2020-08-27 23:23] richardliaw opened #10383 "[autoscaler] resource_load_by_shape error"
### What is the problem?

I didn't do anything special; just started ray on a 2 node cluster.

Saw this log in my logs:

[code]

cc @ray-project/ray-core

[2020-08-27 23:35] ethanabrooks commented on #4762
One issue with this is that if I'm not mistaken, each `FileWriter` gets its own events file. If you want to also use the native `tune` logging capability (e.g. logging of the `results` returned from the `.step()` method), then you end up with two separate events files in the same directory. This tends to mess up `tensorboard`, in that it doesn't refresh correctly.

[2020-08-27 23:39] ericl commented on #10383
@wuisawesome is this fixed with your latest patch?

[2020-08-27 23:41] wuisawesome commented on #10383
yeah it should be @richardliaw is it still failing for you?

[2020-08-27 23:41] richardliaw commented on #4762
@ethanabrooks to work around this, you can disable the Tune logger (`tune.run(loggers=None)` or only enable a subset of the loggers). Also, if you want to capture results, you can do:

[code]

[2020-08-27 23:43] richardliaw commented on #10383
Well, I'm just using the latest wheel. The wheel is probably just yet to update.

[2020-08-28 00:10] richardliaw commented on #10362
This is currently a known bug - cc @mehrdadn

[2020-08-28 00:18] cfculhane commented on #9116
@lelayf Thanks heaps - this resolved this issue for me running Py 3.8 on Win10 in a venv.

[2020-08-28 00:30] austinmw commented on #8502
@pitoupitou Hi, are these gc.collect() messages normal behavior? I'm getting a lot of them, although my job is not erroring out.

[2020-08-28 01:52] ffbin commented on #10353
ok, thanks.

[2020-08-28 05:01] rkooo567 commented on #10371
Btw, from 1.0 (the next version), you can name an actor that is not detached!

[2020-08-28 05:02] rkooo567 commented on #10360
Can you elaborate what you meant by "nested actors"?

[2020-08-28 05:10] manishagarwal23 commented on #10362
@richardliaw   @mehrdadn   is there some workaround  or a patch which i can use in my ray so that i am not blocked on this .

[2020-08-28 05:14] mehrdadn commented on #10362
I don't recall anything regarding this specific issue unfortunately.
However, multi-node usage isn't yet supported on Windows, and this may be a consequence of that (I'm not sure).

[2020-08-28 06:43] rkooo567 commented on #10350
Doesn'nt it happen upon starting a raylet? It seems like it happens when raylet just starts (by this stacktrace `plasma::PlasmaStoreRunner::Start()`)

[2020-08-28 06:46] Seraphli commented on #10350
It happens when the experiment has run for 1.5 hours.

[2020-08-28 07:01] rkooo567 commented on #10350
The error indicates that it gets an object that is mapped onto a mmap of fd 0 (which doesn't make sense because fd 0 is stdin). So, I guess there's some memory corruption, but it is extremely hard to know what's the issue here.

[2020-08-28 07:02] rkooo567 commented on #10342
cc @sven1977

[2020-08-28 07:49] yangw1234 opened #10392 "Console output got relipated n times if there are n ray nodes on the same machine"
### What is the problem?
Ray version: 0.8.7
Python version:  3.6.7

Problem:

If multiple ray nodes (say n ray nodes) are started on the same machine, then one ray nodes' console output will got replicated n times on driver.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or moc

[2020-08-28 07:51] rkooo567 commented on #10392
It is not recommended to run multiple ray nodes in the same machine. Is it reproducible when it is running in multiple machines?

[2020-08-28 07:52] rkooo567 commented on #10392
Also, if you need to run multiple nodes in a single machine, would you mind sharing your use case?

[2020-08-28 08:02] yangw1234 commented on #10392
Hi @rkooo567, I only observe this when running multiple ray nodes in the same machine.

We are actually running on a multi-sockets machine and we want to bind ray processes to different numa nodes to achieve best performance.

Is there a way to do this without starting multiple ray nodes?

[2020-08-28 08:09] yangw1234 commented on #10392
@rkooo567 it seems all ray nodes shard the same log directory on the same machine, and all ray nodes have a log_monitor monitoring the same log directory. As a result, when one worker prints something, all log_monitor will see it and forward it to the driver.

[2020-08-28 08:14] yangw1234 commented on #10392
Is there a way to set this logging directory manually?

[2020-08-28 08:31] flokde commented on #10101
Thanks so much, I would be excited to learn more about the framework and understand it better, so I'll try to outline my problem here and if you have the time and get around to having a look and giving me feedback, that would be great!

I am working on finding optimal sklearn pipelines with a couple of additional algorithms and preprocessing operations added to the search space. I want it to be li

[2020-08-28 09:39] manishagarwal23 commented on #10362
@richardliaw @mehrdadn  for me a workaround will definitely help

1) I dont see redis.err or redis.out in windows . Do we have ithese  in some other location ?
2)  There is a code which prints this line from redis if from the context object .
Context also has an  errstr .
If we can get that printed may be we will have more information why its failing .

redis_context.cc line
 if ((*context)->err)

[2020-08-28 11:43] kishansagathiya commented on #1922
Looks like this issue has been fixed, close it?
[code]

[2020-08-28 11:45] SnowWalkerJ commented on #4029
Is this problem solved? I am still getting output from all drivers at version 0.8.6

[2020-08-28 15:26] simon-mo commented on #4029
This should solved. If you still see all logs then it's a bug. Can you post a new issue with a reproducible example? Thanks!

[2020-08-28 15:49] ethanabrooks commented on #4762
@richardliaw thanks for the suggestions. I use a lot of features from the Tune logger, so I don't want to disable it. As for overriding `_log_result`, I am serializing large arrays, so I would rather not have them print to my screen (it looks like ray prints the entire `result` dictionary to the screen each iteration). Is there a way to suppress printing of some values in the `result` dictionary?

[2020-08-28 15:54] austinmw opened #10395 "Iterations per second going down consistently until finally freezing"
*Ray version and other system information (Python version, TensorFlow version, OS):*
Python 3.6, Ray 0.8.7

### What is your question?

I'm trying to do processing/EDA on over 100k json files. I've set this up so that I process this in chunks of 32 (without this, creating too many actors seemed to be an issue). The system I'm running on is AWS EC2 `p3.16xlarge` (64 vCPU, 488GB RAM, 3TB disk).

Eve

[2020-08-28 16:02] tom-doerr commented on #10166
Short update:
I had some major issues setting up the the ray development environment.
I might still finish it at some point, but it's not a priority for me right now.

[2020-08-28 16:06] sarvesh211999 opened #10396 "[sgd] TorchTrainer from ray.uitls.sgd getting "cuda runtime error (101) invalid device ordinal ray""
System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04)
- Ray installed from (source or binary): pip
- Ray version: 0.8.7
- Python version: Python 3.8 :: Anaconda, Inc.

[Link to code](https://gist.github.com/sarvesh211999/3e8bdbc2d4a0b493d46a08cba5422991)

I am getting cuda runtime error (101) invalid device ordinal ray, Unable to set local device
But when I am reducing num_w

[2020-08-28 16:17] amogkam commented on #10396
@sarvesh211999 are you getting the same error as this? https://github.com/ray-project/ray/issues/9202

[2020-08-28 16:20] sarvesh211999 commented on #10396
Yes I am getting the same error, I tried the fixes listed in this issue but still giving same error.
If I do ray,get_gpus_ids() inside a remote function by specifying resources it is giving 2 gpus.

[2020-08-28 16:25] amogkam commented on #10396
I see. We are currently working on an update to Ray SGD that should fix this issue. @richardliaw do you have any other ideas for a temporary workaround?

[2020-08-28 16:28] rkooo567 commented on #10360
This is the result from my machine. I added a "warmup" stage that runs this 30 times before.

[code]

So, it basically takes 0.3 ms per actor on my Mac machine, which makes sense to me because each actor call should have at least a single grpc round trip. Based on this post, https://groups.google.com/g/grpc-io/c/FO2rZMJP6M4, it looks like grpc round trip cost is around 200 us in Cpp, so 0.3ms is p

[2020-08-28 17:27] rkooo567 opened #10398 "Use node manager client pool for GCS service."
### Describe your feature request
Related: https://github.com/ray-project/ray/issues/11445. This is a subtask of this issue.

Previously, when we create a grpc client, we are having a pool per-class (map of id -> client mapping), not per-process. This leads us to have duplicated open files since each client establishes a new connection, and there were multiple of the same clients.

This was partia

[2020-08-28 18:04] richardliaw opened #10400 "[tune] registry doesn't properly overwrite"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 0.8.7

### Reproduction (REQUIRED)

OK:
[code]
where name == PPO
NOT OK:
[code]

So in the buggy case, it must be a bug in Tune/RLlib where the second wave trials looks up a Trainable under name PPO, but it fails to find my registered trainable, and instead uses the default one.
I looked

[2020-08-28 19:00] BBLN commented on #9823
@sven1977 Also happens on 0.8.7, seems like a waste of resources on main thread

[2020-08-28 19:30] wuisawesome opened #10404 "[Autoscaler] Only recognizes workers it launches"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
0.8.6+

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

* Start a ray cluster with gpu workers (non-resource demand autoscaler), head shou

[2020-08-28 19:33] stephanie-wang commented on #10343
Digging into this a bit more, it seems to have something to do with how ray processes are torn down and/or the autoscaler. The stacktrace appears to be caused by the object manager binding to a port that's already in use, probably from the previous raylet that ran on the same node. Sometimes it's able to resolve itself, but sometimes the autoscaler gets into a bad loop where it keeps trying to res

[2020-08-28 19:36] wuisawesome commented on #10404
The root cause of this is that `StandardAutoscaler::workers()` explicitely filters
[code]

[2020-08-28 19:43] stephanie-wang commented on #10343
Okay, it does seem to have something to do with how ray processes get torn down. I ssh'ed into a worker node on a cluster that was experiencing the loop and noticed there was a leftover raylet process, probably from a previous version of the cluster. After running `ray stop`, I got the message saying that "Stopped all n Ray processes", but the raylet process was still alive.

[2020-08-28 19:44] ericl commented on #10343
@richardliaw @edoakes did we make any changes to teardown / port configuration that may affect this?

[2020-08-28 19:46] stephanie-wang commented on #10343
I've tried bisecting, but didn't get very far. It's pretty finicky to reproduce since it seems to be based on timing. I'm pretty sure that this was introduced after 0.8.7, though.

[2020-08-28 19:55] richardliaw commented on #10343
Can you try reverting to `4f8fef134e1611e6b83a3156af8a26db762cb0d3`? (or before then)?

This was the last change to ray stop past 0.8.7.

[2020-08-28 19:56] richardliaw commented on #10343
This is:

[code]

[2020-08-28 21:07] rkooo567 commented on #10404
@wuisawesome Can you set the priority of this task?

[2020-08-28 21:11] rkooo567 commented on #10392
Yes I think you can use this command arg https://docs.ray.io/en/latest/package-ref.html#cmdoption-ray-start-temp-dir

[2020-08-28 21:15] rkooo567 commented on #10279
Is there any way what exceptions are ignored in your logs?

[2020-08-28 21:19] edoakes commented on #10279
@austinmw this is a warning that's printed when a Python file object is created and the file isn't closed before the object is destructed. In most versions of Python this won't be printed, but it will if you're using a debug build or pass `-W` (and maybe some other circumstances, haven't seen it though).

This is intentional behavior because we need these files to be long-lived to write logs to, s

[2020-08-28 22:16] ericl opened #10408 "[autoscaler] Multi node autoscaler doesn't take into account existing resource usage"
### What is the problem?

When we calculate the resources available in the cluster, we should take into account the existing usage from `LoadMetrics`: https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/resource_demand_scheduler.py#L54

Otherwise, we might not scale up even when tasks cannot be scheduled. This should be fixed:
1. Subtract the usage of the node when calculating nod

[2020-08-28 22:18] #8894 closed

[2020-08-28 22:58] stephanie-wang commented on #10343
Both of these commits seem to have the same issue :( Let me try bisecting again and see if I can figure it out.

[2020-08-29 00:00] stephanie-wang commented on #10343
Realizing now that my previous attempts to bisect were probably getting messed up because of a zombie raylet process from who knows which commit :/ It's still turning out to be pretty difficult to consistently check whether a commit is OK or not, but for now using `ray stop --force` instead of `ray stop` in the cluster yaml seems to work.

[2020-08-29 01:36] #10395 closed

[2020-08-29 02:47] richardliaw commented on #4762
As a hack you might be able to use `_log_result` but also in that method, pop those values out.

[2020-08-29 02:47] richardliaw commented on #4762
You can also do `tune.run(verbose=1)` to choose which values you want to display.

[2020-08-29 04:38] ashutosh1906 opened #10416 "Always getting .nan reward while training with PPO or DQN"
### Can anyone please give me hints why I am always getting the following while training with PPO or DQN?
episode_len_mean: .nan
episode_reward_max: .nan
episode_reward_mean: .nan
episode_reward_min: .nan
episodes_this_iter: 0
episodes_total: 0

Ray Version: 0.8.7
OS: macOS

[2020-08-29 05:33] #10383 closed

[2020-08-29 05:35] ericl commented on #10372
It seems like somehow we're trying to read that key, though action_prob should be enough. As a workaround, you can try also writing action_logp (calling add_values(action_logp=np.log(action_prob))).

[2020-08-29 07:15] ericl commented on #10416
`episodes_total: 0`. This is the reason. Until an episode has finished, we can't calculate any rewards. Does your env eventually return done=True at some point?

[2020-08-29 10:27] esquires commented on #10241
I ended up just creating this function to set the learning rate to zero:

[code]

[2020-08-29 10:27] #10241 closed

[2020-08-29 12:21] PidgeyBE commented on #10404
This is indeed the root cause. When this would be fixed, the autoscaler will however still try to update the manual node because the `ray-launch-config` and `ray-runtime-config` labels are not set on the manual node either.

Additionally, the script you posted looks very similar to the thing I'm trying to do, but is still a little different.
In my case the `gpu_task` task is not started from withi

[2020-08-29 13:22] ethanabrooks commented on #4762
@richardliaw it looks like the values get printed before `_log_result` gets run so popping out the values does not change the print statement. If I used `verbose=1` how would I designate which values get printed?

[2020-08-29 15:16] Rockyyost opened #10421 "[autoscaler] Workers Never Start"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 0.8.7
Python 3.7
TensorFlow 1.14.0

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

I've been working with an autoscaling cluster in A

[2020-08-29 18:02] NJannasch commented on #9399
Found some details for the MeanStdFilter in [rllib/utils/filter.py](https://github.com/ray-project/ray/blob/60d4d5e1aaa9fde3cf541ee335e284d05e75679c/rllib/utils/filter.py)

Additional filters might be added into the _get_filter_ function. But its also marked as ToDo.

[2020-08-29 19:24] richardliaw commented on #10421
Thanks, @Rockyyost. This is another instance of #10343 - we're working hard to address it!

[2020-08-29 20:50] richardliaw commented on #10201
Hi @UTUnex, are you still running into issues here?

[2020-08-29 21:00] richardliaw commented on #7736
this is now supported via #10060

[2020-08-29 21:00] #7736 closed

[2020-08-29 21:23] stephanie-wang commented on #10421
As a workaround, you can try modifying the `ray stop` command in your cluster yaml to use `ray stop --force` instead.

[2020-08-29 23:55] utkarshp opened #10423 "[rllib]How is the learning rate updated?"
I want to control the learning rate for the DQN algorithm, and implement something like torch.optim.lr_scheduler.ReduceLROnPlateau (but slightly more complex). I implemented a mixin for my policy and an execution plan for my trainer (based on DQNTorchPolicy and DQNTrainer respectively) to update the LR the way I want. However, I don't understand how to pass on that LR to the optimizer. I suppose I

[2020-08-30 01:23] richardliaw opened #10424 "[autoscaler] Monitor.py may have typing/failure handling issue"
### What is the problem?

I was unable to repro this issue but I saw this stacktrace in my error logs:

[code]

[2020-08-30 01:43] richardliaw commented on #10348
This is currently intentional but will be deprecated in the future. I'll take a closer look at this sometime soon - is this currently causing an issue with your usage of Tune?

[2020-08-30 02:54] ashutosh1906 commented on #10416
Thank you. After putting "done = True" at some points, episodes_total becomes non-zero and does not return any .nan.

[2020-08-30 02:54] #10416 closed

[2020-08-30 04:40] richardliaw commented on #4417
Thanks a bunch for the feedback @bionicles! BTW a question about dependencies - what would be ideal here? Reducing extraneous dependencies in a slimmed-down core install? Moving away from the monorepo?

[2020-08-30 06:09] #10016 closed

[2020-08-30 06:09] #10017 closed

[2020-08-30 06:09] #10019 closed

[2020-08-30 06:18] #10319 closed

[2020-08-30 06:25] #10353 closed

[2020-08-30 06:27] rkooo567 commented on #10039
@ffbin Isn't this done? I remember you submitted a PR regarding this before? Am I correct?

[2020-08-30 06:29] rkooo567 commented on #5357
@wuisawesome Isn't it supposed to be supported now?

[2020-08-30 09:35] janblumenkamp opened #10426 "[rllib] Weights & Biases logger cannot handle objects in configuration"
### What is the problem?

The Weights & Biases logger cannot handle object references in RLlib configurations, for example in the callback API.

[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*

- Ray 0.8.7
- Ubuntu 18.04
- Python 3.7

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no e

[2020-08-30 12:47] ericbugin opened #10427 "Ray on AWS EMR Cluster"
Hey, I do a lot of work on EMR using Pyspark/Koalas/Pandas depending on use-case. Sometimes I'll use multiprocessing for distributing my python but this does not scale the whole cluster. Would launching Ray by simply using 'ray.init()' on EMR utilize the whole cluster and does Ray have a method of verifying the resources that it is running on that can be printed out? Thanks

[2020-08-30 14:19] wuisawesome commented on #5357
Yes this is now supported. See https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/aws/example-multi-node-type.yaml

[2020-08-30 14:19] #5357 closed

[2020-08-30 15:35] wdahab opened #10428 "MacOS Python3.7 Ray>=0.8.0 Symbol not found: _Py_GetArgc_Argv"
Using MacOS Catalina, in Python 3.7.3 (the xcode provided one) versions of Ray from 0.8.0 won't import on either my iMac or Macbook Pro. Traceback:

Python 3.7.3 (default, Apr 24 2020, 18:51:23)
[Clang 11.0.3 (clang-1103.0.32.62)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
\>\>\>import ray
Traceback (most recent call last):
  File "<stdin>", line 1, in <module

[2020-08-30 15:46] janblumenkamp commented on #10426
I noticed that the callback is already [explicitly filtered out in the result handling](https://github.com/ray-project/ray/blob/0aec4cbccb5862a7808f98b90696236da9e2a03e/python/ray/tune/integration/wandb.py#L159), but of course that doesn't help during initialization. Is there any reason why objects shouldn't be generally filtered out? Probably only numbers and strings make sense to log anyway?

[2020-08-30 16:42] richardliaw commented on #10101
Ok no this is really helpful. Have you taken a look at tune-sklearn? https://github.com/ray-project/tune-sklearn

It provides a scikit-learn interface and handles large datasets properly underneath the hood. Would it work for your particular use case? (You’ll have to install tune-sklearn from source if you try it out).

[2020-08-30 16:44] Asuka20 opened #10430 "[rllib] clipping value function loss in PPO"
### What is your question?

Hi, why do you use maximum instead of minimum to clipping value function loss in PPO?
Suppose clippinng occurs,  when v_pred_old < v_clipped < v_pred < R, or reversely, the loss will be larger than not clipped. Then why would it works to reduce the variability?

[2020-08-30 16:46] richardliaw commented on #10101
The main thing we do in tune-sklearn to address large datasets is that we leverage the Ray object store:

x_id = ray.put(dataset)

and on the trainable

dataset = ray.get(x_id)

This allows us to leverage shared memory, only saving one copy of the data across all trainables throughout the lifetime of the experiment.

[2020-08-30 18:13] Rockyyost commented on #10421
Thanks! I tried the workaround. I placed ray stop --force both under the head_start_ray_commands and worker_start_ray_commands attributes.

This time, I did notice this error: bash: ulimit: open files: cannot modify limit: Operation not permitted. This error appeared after the following output in the terminal:
`2020-08-30 13:42:39,643	INFO cli_logger.py:388 -- NodeUpdater: i-044097a2adf8aa6a2: Run

[2020-08-30 19:20] richardliaw commented on #10421
Hmm it should be harmless; is there any other output after that?

[2020-08-30 22:25] amogkam commented on #10426
cc @krfricke

[2020-08-30 22:57] richardliaw commented on #10428
Hmm, looks odd. Can you try installing setproctitle via `pip install setproctitle`?

[2020-08-30 23:35] wdahab commented on #10428
Yup, so it is indeed setproctitle throwing the ImportError when I just `import setproctitle`.  I'm guessing it's a new dependency added with 0.8.0 since I can make ray==0.7.7 and import ray, but import setproctitle throws the error. Since it's a different project, I can put up the issue over there. Obviously since it's having at least some impact on ray I'm glad to bring it up on your radar and he

[2020-08-31 01:12] gumupaier opened #10431 "[Core]ray.memory_monitor.RayOutOfMemoryError:More than 95% of the memory on node xx is used"
error info: ray.memory_monitor.RayOutOfMemoryError:More than 95% of the memory on node xx is used
Ray version: 0.8.7
os:centos7.5

The machine is 8C and 16G and there are three machines.
The error screenshot is shown below.

![image](https://user-images.githubusercontent.com/37896380/91674097-d708e800-eb69-11ea-943b-a0dfa45c1e19.png)
![image](https://user-images.githubusercontent.com/37896380/9167

[2020-08-31 01:45] ffbin commented on #10039
We can close it now, the master code is ok.

[2020-08-31 01:45] #10039 closed

[2020-08-31 02:22] richardliaw commented on #10163
@rohan-gt sorry for the slow reply. Can you tell me more about what you mean here?

[2020-08-31 03:31] kfstorm opened #10432 "Simplify options users need to specify when starting a Java driver and connecting to an existing Ray cluster"
Below options are unnecessary and hard to be understood by users:

* `ray.object-store.socket-name`
* `ray.raylet.socket-name`
* `ray.raylet.node-manager-port`
* `ray.node-ip`

[2020-08-31 03:32] kfstorm commented on #10432
#7291

[2020-08-31 03:42] kfstorm opened #10433 "Allow users to specify the classpath of Java workers in driver options"
There's an existing option named `ray.job.resource-path`, which allows users to specify the parent directory of a job resource directory. When a worker process is about to execute a task, it creates a class loader for this job from a child directory named by job ID from the parent directory. This approach is not usable since most likely users won't specify the job ID when starting a driver and the

[2020-08-31 03:42] kfstorm commented on #10433
#7291

[2020-08-31 03:48] kfstorm opened #10434 "Remove `--include-java` option from `ray start` command"
We can remove the `--include-java` option from `ray start` command and detect java environment automatically.

If multi-tenancy is disabled, initial workers are started when starting a node. It will be confusing and be a waste of resources for Python users with Java environment installed because initial Java workers are started but they don't need them.

So this issue requires that multi-tenancy i

[2020-08-31 03:52] kfstorm opened #10435 "Give `ActorHandle::kill(boolean noRestart)` a default option"
In Python, the `ray.kill(...)` API has an option named `no_restart` and the default value is `True`. But in Java, we only have one `kill(...)` method in the `ActorHandle` class and users need to provide the `noRestart` argument explicitly. We should add an overloaded version of `kill` in Java with `noRestart` set to true by default.

[2020-08-31 03:52] kfstorm commented on #10435
#7291

[2020-08-31 03:53] kfstorm commented on #10434
#7291

[2020-08-31 04:09] kfstorm opened #10436 "If `Ray.init()` is not called, throw a more specific exception with a meaningful message instead of NPE"
Currently, if `Ray.init()` is not called and users try to access Ray APIs, a `NullPointerException` will be thrown. This is confusing to users. We need a more specific exception with a meaningful message.

[2020-08-31 04:09] kfstorm commented on #10436
#7291

[2020-08-31 04:51] binmom opened #10437 "About custom exploration"
[rllib]

### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):* ray[rllib]=0.8.7

Hello! I want to make custom exploration on existing ppo or etc.

How can I register it??

Thankyou

[2020-08-31 06:21] yangw1234 commented on #10392
@rkooo567 https://github.com/ray-project/ray/blob/master/python/ray/node.py#L233, seems non-head ray process just read the "temp_dir" set to head node.

I worked around this issue by manually killing the redundant log_monitor processes. However, I think it would be nice to have it in ray out of box. E.g. separating each ray nodes' log dir to "/tmp/ray/session-xx/0/logs", "/tmp/ray/session-xxx/1/lo

[2020-08-31 07:35] lenassero commented on #5357
Hi, thanks a lot for this feature!
Is this available on a given wheel ?

[2020-08-31 07:37] rohan-gt commented on #10163
@richardliaw rather than split the entire train set into train and eval sets, perform early stopping using the cross-validated results on the entire train set. This is an early version of a method by Optuna for LightGBM: https://optuna.readthedocs.io/en/stable/reference/generated/optuna.integration.lightgbm.LightGBMTunerCV.html

[2020-08-31 07:58] richardliaw commented on #10163
I’m interested in the second level: early stopping during cross validation. Do you mean like: I have 5 folds, and after 3 folds I realize this model is very bad, and therefore I stop training this model?

Or do you mean something else?

[2020-08-31 08:20] rohan-gt commented on #10163
@richardliaw That was a separate feature that I suggested. This is different. Basically instead of feeding in separate train (80%) an eval (20%) sets for early stopping, the 100% train set can be input and early stopping can be done using the mean of the cross-validated results. This is how [lightgbm.cv](https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.cv.html) works

[2020-08-31 09:04] chanshing opened #10439 "[tune] How to run simple SHA (1 bracket of Hyperband)"
How can I run a simple SHA -- in other words, one bracket of Hyperband? For example, I'd like to be able to run _only_ the bracket `s=3` in your example blog https://homes.cs.washington.edu/~jamieson/hyperband.html

Is this possible?

Edit: I think ASHA pretty much does this but I'm not 100% sure I want the eager promotion for asynchronicity (I have 8 GPUs, not hundreds).

[2020-08-31 09:53] krfricke commented on #10426
Thanks. For the moment I submitted a [tiny PR](https://github.com/ray-project/ray/pull/10441) to fix the callback API specifically. I agree it makes sense to filter out invalid values, I'll get back to this soon.

[2020-08-31 11:42] kfstorm opened #10442 "Implement exit actor API in Java"
We have `ray.actor.exit_actor()` in Python. We need `Ray.exitActor()` in Java.

[2020-08-31 11:42] kfstorm commented on #10442
#7291

[2020-08-31 11:45] ThomasLecat commented on #10228
Thanks for your answer!
Just got back from holidays, I opened a PR #10443

[2020-08-31 12:53] mskoh52 commented on #9326
One way to allow this to happen would be to have `initialization_commands` run before file mounts. If that is not feasible for some reason, maybe you could introduce `preinitialization_commands`.

Inside these commands, the ray user could run whatever they want, such as `sudo mkdir /whatever/directory`, since presumably they would know whether or not the user running the ray commands has sudo acce

[2020-08-31 13:40] nm-bls commented on #10360
The result from my machine looks like this:

[code]

So the processing time per actor is ~3x slower on my machine than on yours.

I am on a Laptop with an AMD Ryzen 3700U @2.3Ghz.
By setting the Linux performance governor to "performance" I could slightly reduce the processing time to 0.8ms per actor.

The 0.3ms you are reporting are a bit more in line with what I would have expected.
(Now mind yo

[2020-08-31 14:20] wuisawesome commented on #5357
It's in the latest nightlies for now and should make it into the next release.

https://docs.ray.io/en/latest/installation.html#latest-snapshots-nightlies

[2020-08-31 16:14] rhamnett commented on #10426
@krfricke  I am having a similar problem trying to use APPO (PPO) works. See https://pastebin.com/SdpNp0Pq

[2020-08-31 17:17] Arjunsankarlal opened #10447 "Many processes spawned for a simple ray code"
For this small piece of code,

[code]

Totally 7 processes are spawned. Why is this happening ? Is this intentional ?

<img width="504" alt="Screenshot 2020-08-31 at 10 43 41 PM" src="https://user-images.githubusercontent.com/28828445/91747242-7619f800-ebdb-11ea-8724-2abf97271d1f.png">

And when I don't set the `num_cpus` value, since it automatically sets to the number of cores, the processes spa

[2020-08-31 17:30] pbosch opened #10448 "Windows: rllib RNN assert seq_lens is not None"
### What is the problem?

Using the option "use_lstm" = True ends in an assertion error. It appears that the model is always called with sequence length None. I'm not sure if this is a bug, but according to the documentation adding this option should just wrap the model with an LSTM cell. Weirdly enough it also happens with the cartpole environment. Is this intended behaviour?

`Traceback (most re

[2020-08-31 18:09] sumanthratna opened #10451 "[tune] shim instantiation of search algorithms"
### Describe your feature request

allow creating a search algorithm for `tune.run` given:
- (maybe; see option 1 below) a string defining the search algorithm to use
- (maybe; see option 2 below) the search space configuration

### API
there will be two ways to use shim instantiation (option 3 from the design doc):

#### Option 1
(notice how the search algorithm definition doesn't require redefin

[2020-08-31 18:12] richardliaw commented on #10451
[code]

[2020-08-31 18:28] stephanie-wang commented on #10234
Hey @Seraphli, you might want to try out this new [option](https://github.com/ray-project/ray/pull/10414) that we added to disable task profiling, which can add load to Redis.

You can try it out by installing from the nightly wheels and setting `_system_config={"enable_timeline": False}` in `ray.init()` (or by passing the equivalent json object to `ray start` on the head node).

[2020-08-31 18:40] sumanthratna commented on #10451
untested; we might want to use an if-statement instead of `getattr`:

[code]

[2020-08-31 18:43] richardliaw commented on #10451
instead of this getattr, can you just create a dictionary?

[code]

This avoids this dependency on naming convention.

[2020-08-31 19:18] sumanthratna commented on #10451
[code]

[2020-08-31 19:31] richardliaw commented on #10451
Look good to me! Consider moving some of the default arguments (i.e., metric, mode) also into the wrapper so that it's explicit and captured in the docstring.

[2020-08-31 22:25] richardliaw commented on #10451
could you push a PR @sumanthratna and tag me when you do? Thanks!

[2020-08-31 22:49] sumanthratna commented on #10451
@richardliaw should I:
- write a new PR for schedulers
- add schedulers support to the PR above
- not add schedulers support

[2020-08-31 22:56] richardliaw commented on #10451
feel free to add support to pr above!

[2020-08-31 23:36] witsang opened #10458 "Help with exporting offline dataset for imitation learning. Getting Nan warning when using IS/WIS estimator"
rrlib version: 0.8.7
OS: windows
tensorflow: 2.0

I am looking for advice for imitation learning from player data.  I am generating offline experience external from my game instance.  I have no idea what to set action_prob for my SampleBatch., I am capturing player inputs and generating the SampleBatch file, thus I just set action_prob to 1

I tested my player experience data by:
Method 1. MARWIL

[2020-09-01 00:46] sergeivolodin commented on #9964
@jyericlin as a workaround, we just create a separate process for every training step, which opens a checkpoint, does the iteration and then saves a checkpoint (pseudocode below, fully functional example [here](https://github.com/HumanCompatibleAI/better-adversarial-defenses/blob/master/train.py#L102))

[code]

[2020-09-01 01:08] simon-mo opened #10459 "Cloudpickle 1.6 doesn't work with Pydantic"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Python 3.6

Newest version of cloudpickle doesn't work with Pydantic and **there is no clear workaround**. (I tried implementing `__reduce__` but that still failed)

Pydantic is becoming a core dependencies for Serve and Dashboard.

### Reproduction (REQUIRED)

Script:
[code]

Output:
[co

[2020-09-01 03:51] raulchen commented on #10343
I couldn't find any clue from the error information. I suspect this is something related with the environment. Did you look into the core dump file?

[2020-09-01 04:49] rkooo567 commented on #10459
We should re-revert cloud pickle update in the future. https://github.com/ray-project/ray/pull/10460

[2020-09-01 06:55] WangTaoTheTonic commented on #10355
working on it :)

[2020-09-01 07:39] p-christ opened #10465 "Unknown trainable: MBMPO"
Version: 0.8.7

Ray Rllib doesn't seem to be able to recognise the new agent MBMPO and throws this error:

`TuneError: Unknown trainable: MBMPO`

example code that shows this problem:

[code]

[2020-09-01 08:12] Lewisracing opened #10466 "Ray on a cluster: ConnectionError: Could not find any running Ray instance"
I'm trying to test ray on a university cluster with the code below

import ray
ray.init(address="auto")
import time

@ray.remote
def f():
    time.sleep(0.01)
    return ray.services.get_node_ip_address()
set(ray.get([f.remote() for _ in range(1000)]))

But it returns error like this. Did I use ray in a wrong way or what?

File "<stdin>", line 2, in <module>
  File "/apps/software/Python/3.7.4-GCC

[2020-09-01 08:15] rkooo567 commented on #10466
You should start ray instance using `ray start --head` or `ray start --address="[your head node address]"` on your node.

[2020-09-01 08:19] rkooo567 commented on #10447
I couldn't reproduce it in my Python 3.7.6, MacOS with ray 0.8.7. Could you try 3.7.6 and see if it is still reproduced?

[2020-09-01 08:23] rkooo567 commented on #10431
Hi, the information written there is kind of old. We are now supporting the distributed reference counting. The reason why your node OOM is because some of objects that take up large amount of memory is likely to be referenced by your local arguments or other Ray tasks/actors.

Unfortunately, it is extremely hard for us to troubleshoot the issue with the current information. I'd suggest you to

1.

[2020-09-01 08:25] rkooo567 commented on #10424
cc @wuisawesome

[2020-09-01 08:35] gumupaier commented on #10431
thanks for your reply, the standalone reproducible script  is as follows

[test.py.zip](https://github.com/ray-project/ray/files/5154896/test.py.zip)

[2020-09-01 09:07] Lewisracing commented on #10466
This solves it. But ray doesn't seems recognising all the nodes. I have two nodes for the test script but based on the info it seems only working on one of them.

2020-09-01 10:05:52,333	INFO scripts.py:395 -- Using IP address 10.0.1.101 for this node.
2020-09-01 10:05:52,336	INFO resource_spec.py:212 -- Starting Ray with 72.02 GiB memory available for workers and up to 34.86 GiB for objects. You

[2020-09-01 09:16] rkooo567 commented on #10466
can you elaborate steps you took to connect two nodes?

[2020-09-01 09:17] rkooo567 commented on #10431
Do you mind giving me gist or script on a comment?

[2020-09-01 09:23] Lewisracing commented on #10466
I'm not really familiar with the operation of the cluster system. I basically requires number of nodes in my job submittion script.
PBS -l select=6:ncpus=16:mpiprocs=16
I'm not sure if it helps but on the cluster manual it says:, compute nodes, GPU nodes and storage are connected with an
Infiniband EDR low-latency interconnect

[2020-09-01 09:32] rkooo567 commented on #10466
I see. You should setup ray instances per node by calling ray start. On a head node, run ray start —head, and on worker nodes, run ray start —address=[ip of redis on a head node]. That says, just follow the instruction in the output of ray start in your comment.

[2020-09-01 09:33] gumupaier commented on #10431
This script is to calculate some data from the csv file and redis respectively until all the calculations are completed. The cal function is the main processing logic. @rkooo567

[2020-09-01 09:37] Arjunsankarlal commented on #10447
Just now tried with 3.7.6 and 3.8.5, and with both the versions I am getting the same behaviour. Can you please share how many processes are spawned if you initialize the params with num_cpus=2 and without any configuration ? So that we could get some idea of the problem.

[2020-09-01 09:37] Arjunsankarlal commented on #10447
Just now tried with 3.7.6 and 3.8.5, and with both the versions I am getting the same behaviour. Can you please share how many processes are spawned if you initialize the params with num_cpus=2 and without any configuration ? So that we could get some idea of the problem.

[2020-09-01 09:38] rkooo567 commented on #10447
Sure. I will respond to you in the morning tomorrow. When I set num_cpus=1, it spawned only a single process properly fyi

[2020-09-01 10:27] andrew-rosenfeld-ts opened #10469 "[rllib] Callbacks should be able to reference specific relevant environment within a _VectorEnvToBaseEnv"
If you run
https://github.com/ray-project/ray/blob/master/rllib/examples/custom_metrics_and_callbacks.py

the `base_env` parameter passed to the callbacks is of type `ray.rllib.env.base_env._VectorEnvToBaseEnv`.

There should be a way to get to the specific environment that just started/stepped/ended (depending on the callback), rather than the vectorized group of environments. This would be usefu

[2020-09-01 12:30] Patol75 commented on #10466
I have managed to have Ray run on a PBS cluster using the following script

`
#!/bin/bash
#PBS -l ncpus=192
#PBS -l mem=600GB
#PBS -l walltime=48:00:00
#PBS -l wd

module load python3/3.7.4

ip_prefix=`hostname -i`
suffix=':6379'
ip_head=$ip_prefix$suffix
redis_password=$(uuidgen)

echo parameters: $ip_head $redis_password

/path/to/ray start --head --port=6379 \
--redis-password=$redis_password \

[2020-09-01 13:03] shaandesaiqb commented on #10348
it seems to work well in general. I am finding that BOHB occasionally yields an 'unknown trial state' error. However, I am struggling to reproduce it. I cannot be sure if it stems from max_concurrency but that is my initial guess.

[2020-09-01 13:27] chaokunyang commented on #10432
Addressed in #10394

[2020-09-01 13:33] chaokunyang commented on #10435
Will be addressed in #10473

[2020-09-01 13:54] nscotto opened #10474 "[tune] How to setup parameters for BOHB/ASHA?"
I recently setup a BOHB experiment (neural network training), the experiment looked like:

[code]
A step in my trainable is the training of one epoch.
After some analysis, I found the count of trials passing an epoch were:

|count | epoch|
|---|---|
| 20| 00|
| 16| 01|
| 16| 02|
| 16| 03|
| 4 |04|
|...|...|
|4 |15|
| 1|16|
|...|...|
|1| 59|

I can't really make sense of this series given the BOHB

[2020-09-01 16:02] wuisawesome commented on #10424
I think this was #10380. Can you reopen this if you were able to reproduce it with a newer wheel than that commit?

[2020-09-01 16:02] #10424 closed

[2020-09-01 17:33] sven1977 commented on #10448
Hmm, sorry, SAC does not currently support auto LSTM wrapping via `use_lstm=True`, but we should definitely put an error in SAC's validate config method.

[2020-09-01 17:57] sven1977 commented on #10469
Good point. The env index should probably be part of the callback's signature. It'll require sub-classing defaultdict (that generates new episodes and thereby calls the on_episode_start). ...

[2020-09-01 19:53] sven1977 commented on #10469
Hey @andrew-rosenfeld-ts
Please check out https://github.com/ray-project/ray/pull/10477
and let me know, whether this is what you had in mind. The example you mention above was extended to now run with 2 (vectorized) envs per worker.
Seems to work fine on my end. Lmk.

[2020-09-01 20:14] #9326 closed

[2020-09-01 21:12] stephanie-wang opened #10481 "Cannot recreate a child actor"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray 0.9dev

The problem occurs for tasks/actors that are automatically restarted by Ray on a crash. When the task or actor creates a child actor, then crashes, I expect the child actor to get recreated when the parent task/actor is restarted. Instead, any tasks submitted to the child acto

[2020-09-01 21:13] stephanie-wang commented on #10481
@rkooo567 @ffbin? We may want to fix this before v1.0.

[2020-09-01 21:39] pbosch commented on #10448
Ah, I checked the documentation again and indeed not all are listed as being compatible. But I think it is in the configuration by default if you print it. A warning would definitely be useful. I'm not sure how it is handled with the other incompatible ones.

[2020-09-01 21:59] rkooo567 commented on #10481
Definitely looks like a bug. I can take a look at it tonight to see if it is a simple fix?

[2020-09-01 22:05] rkooo567 commented on #10431
Hi, @gumupaier. Sorry for the confusion. My question is if you can create a github repo or gist instead of giving me the raw zip file

[2020-09-02 00:05] clarkzinzow commented on #7192
I just hit this when running the microbenchmarks on latest (3b10b67a15bb07cf3f918126dd3c5a7047b467df) master.
[code]
Happens in [this test](https://github.com/ray-project/ray/blob/3b10b67a15bb07cf3f918126dd3c5a7047b467df/python/ray/ray_perf.py#L214-L224). I ran the microbenchmarks a few more times but haven't encountered this again.

[2020-09-02 00:29] stephanie-wang commented on #10343
Okay, [this](https://github.com/ray-project/ray/commit/1dc018d0bb209e7fec81587dee0ad637cc5f3c99) is the first bad commit. [Here](https://gist.github.com/stephanie-wang/1fb8290e7edb630c33fe9c1dc1507814) is the test script that I used. It will hang and should continually print the stacktraces shown in the original issue if the commit is bad. You also have to make sure to first clean the cluster with

[2020-09-02 01:03] gumupaier commented on #10431
hi @rkooo567 ，the gist link is as follows
[https://gist.github.com/gumupaier/b4eefd796c2da7154bdb6ceb9d3e5762](ray_test.py)

[2020-09-02 01:17] richardliaw opened #10484 "[tune] Clarify Tensorboard logging policy"
### What is the problem?

Right now, there's some implementation details about filtering tensorboard values. This causes certain tb values to be logged and some to be removed.

We should add more clarity about what does and doesn’t get logged to Tensorboard through tune
on the user-guide.

cc @raoul-khour-ts

[2020-09-02 01:19] richardliaw opened #10485 "[tune] Add regression test for avoiding extraneous output"
### Describe your feature request

We need to avoid printing out too much junk, especially in `info` mode.

This is easily avoidable if we make sure we keep a regression test on expected output.

[2020-09-02 01:23] richardliaw opened #10486 "[tune] Provide an example of 'resume' working"
##  Describe your feature request

Right now there are no examples demonstrating the usage of 'resume' and 'run_errored_only'. If we could add a walkthrough/guide (that we also test in CI), that would be very useful.

[2020-09-02 02:03] Patol75 opened #10487 "[core] Potential memory leak with ActorPool"
Hi,

I have a Python program which uses the utility class ActorPool to distribute the execution of a class method over an arbitrarily large number of Actors, as many as there are CPUs available. The structure of the code is described in this StackOverflow [post](https://stackoverflow.com/a/63556897/10640534). I have noticed that, as the number of executed tasks increases on a given Actor, the memo

[2020-09-02 02:22] ffbin commented on #10343
Hi @stephanie-wang , i prefer to add a configuration with detect turned off by default, so that the changes are minimal. What is your suggestion?

[2020-09-02 02:25] ffbin commented on #10481
Hi @rkooo567 , if you need me to work together, you can ping me directly, thanks.

[2020-09-02 02:27] richardliaw opened #10488 "[tune] Experiment analysis API should be improved"
### Describe your feature request

Users have often mentioned the request to get the last checkpoint/config.

From user:

Also, it's unintuitive to default to 'all': Users might often say

[2020-09-02 02:30] richardliaw opened #10489 "[tune] String summarization/representations for user objects"
### Describe your feature request

This includes, but is not limited to:

1. Trial object (`trial.summary()`)
2. Experiment object
3. TrialCheckpoint object
4. Analysis object

Otherwise, it's quite hard to parse + operate over results.

[2020-09-02 03:23] stephanie-wang commented on #10343
Sure, but let's make sure to keep the number of configuration parameters minimal. Ideally, we should only have one for any code related to GCS restart. Thanks!

[2020-09-02 03:36] stephanie-wang commented on #10481
I have some idea about what the bug is, but I'm not sure about a simple fix. I think the current sequence of events is:

1. Parent P creates child actor with ID C. GCS creates C.
2. P dies => GCS marks C as DEAD.
3. P gets restarted and resubmits C's creation task. (I'm not sure what the GCS does with this message, maybe it drops it?)
4. P submits the task to C again and subscribes to C's location

[2020-09-02 03:59] chaokunyang commented on #10442
Since python worker process can only have one worker, thus one actor. It make sense to make `exit_actor` as a method of `ray.actor` module. But for java worker, we can have multiple worker in one worker process, thus multiple actor in one worker process. It we add `exitActor` as a static method, we can't know which actor to exit. So I think we should add `exitActor` to `ActorHandle` for java. And

[2020-09-02 04:03] chaokunyang commented on #10442
Or to ensure we can clean resource completely, multithreaded worker is not allowed for `exitActor`

[2020-09-02 04:40] richardliaw commented on #10163
OK, pardon my ignorance (I'm not that familiar with XGBoost)! I'll try to explain what you're suggesting, and please let me know if I am understanding you correctly:

[code]

Underneath the hood, it will do the following:
[code]
Is this the behavior that you expect? if so, I think this is already possible in tune-sklearn today. If I am mistaken, please let me know!

Thank you for your patience!

[2020-09-02 05:03] kfstorm commented on #10442
@chaokunyang An actor doesn't have its own handle by default. That's why it needs to be a static method.

As for the multi-worker feature in Java worker process,

* The `Ray.exitActor()` API can only be called by the main thread of a worker or any thread that the user passed thread context via `Ray.setAsyncContext` API. So we do know which actor to exit because we know which worker is invoking the

[2020-09-02 05:04] kfstorm commented on #10442
@chaokunyang We already implemented `Ray.exitActor()` in our internal codebase. It should be easy to paste the code into the public codebase.

[2020-09-02 05:31] junliangyu96 opened #10491 "Attempting to deserialize object on a CUDA device but torch.cuda.is_available() is False."
I'm using ray to predict large number of files.

The pytorch model is trained on GPU. The machine has one GPU. If I run torch.cuda.is_available(), it returns True.

But I still go the error:
[code]

How do I use the model on GPU?

[2020-09-02 05:32] kfstorm opened #10492 "Make the multi-worker feature for Java worker experimental"
Right now, the multi-worker feature for Java worker is enabled by default, but the `ActorHandle::kill()` API doesn't work well if multi-worker is enabled because it will kill the whole process instead of one worker in the process.

To avoid complaints from Java users, we should disable the multi-worker feature by default, but we still enable it in unit test.

[2020-09-02 05:32] kfstorm commented on #10492
#7291

[2020-09-02 06:46] richardrl commented on #10216
@rkooo567 It doesn't work. I guess it's not propagating the rsync to all the worker nodes.

[2020-09-02 06:49] richardrl commented on #10216
@rkooo567 I verified that the rsync up does not propagate the new files to worker nodes.

[2020-09-02 06:52] rkooo567 commented on #10481
Just wondered if this is the newly discovered bug or we haven't tested it so far.

Also, `max_task_retries != 0` doesn't work because we are still holding the same actor handles for C?

[2020-09-02 07:26] richardliaw commented on #10216
@richardrl can you do `ray rsync-up -A clusteryaml`?

[2020-09-02 07:50] ashione opened #10493 "Ray uses spdlog instead of glog"
I have talked with @rkooo567 in slack link https://ray-distributed.slack.com/archives/C016MPZE1L1/p1598937145003600.
Reasons:

- glog lacks features such as log rotation or custom formatting. Log rotation is critical function of long running job becase the disk will become full due to a large number of log files being written without daily or custom rotation configuration.

- glog only supports wr

[2020-09-02 08:07] sven1977 commented on #10465
Assigning @michaelzhiluo who is the author of MB-MPO. Could this be a simple ray/rllib version issue (mbmpo registration not part of 0.8.7)?

[2020-09-02 08:20] p-christ commented on #10465
do you know if there is a way of me manually registering it so i could test if that's the cause?

[2020-09-02 08:59] andrew-rosenfeld-ts commented on #10469
Hi @sven1977 , looks like this would work for me, but just curious if it works well for others not using a vectorized environment - might it be confusing? I wonder if the API would be cleaner if you somehow just passed the specific individual environment in the callback, rather than a vectorized env and an index. Not sure what the performance implications of that (continually extracting the single

[2020-09-02 09:31] ozen opened #10495 "[tune] Node scheduling before Trial scheduling"
Hi.

I'm new to Ray Tune and trying to understand how it can fit to different use cases.

If I understand correctly, the scheduler/runner/executor (I'm not sure about the terminology here) sees the cluster as a unified resource pool and can send the Trial to any node satisfying the resource requirements.

I would like to know if it's possible to first schedule an Experiment to a Node in the Cluste

[2020-09-02 10:50] sven1977 commented on #10469
The env in our sampling loop is always vectorized (if num_envs_per_worker is not set, there will only be one env in the vector (with index=0)). So this should always work. Also the callbacks API is forward compatible due to the **kwargs we put in all the callback methods, so even if someone does not expect the env_index to come in in their older version of a Callback sub-class, it should be fine a

[2020-09-02 10:51] sven1977 commented on #10469
also, performance shouldn't matter. It's one more int (whose value we always have available anyways) to pass into the calls.

[2020-09-02 11:47] #10432 closed

[2020-09-02 13:37] andrew-rosenfeld-ts commented on #10469
Yes, I agree the performance of your proposed implementation should be fine. I just meant that if you were instead to pass the individual non-vectorized environment, perhaps indexing to retrieve that and then making it adapt to BaseEnv might have some overhead.

At any rate, I'm fine with this API, it works for me - just wanted to make sure it would work for others.

[2020-09-02 13:48] zzcNEU opened #10501 "rllib attention mechanism"
Hello, I want to use put the observation space to the attention net. But  I can not find the tips from your offcial tutorials. Have you assemble the attention ?

[2020-09-02 14:30] rohan-gt commented on #10163
@richardliaw yes something similar. So now the early stopping parameter can be used for the 3 boosting algorithms?

[2020-09-02 15:30] clarkzinzow opened #10503 "[dask-on-ray] Set task name to Dask key at task submission time."
### Describe your feature request

To provide better dashboard, metrics, and debugging UX, we should set the task name to the Dask key. The Dask-Ray scheduler [uses a single remote function](https://github.com/ray-project/ray/blob/ef18893fb50c97c2c0d9d7b8b951455683f89635/python/ray/experimental/dask/scheduler.py#L208-L233) for executing all Dask tasks; Dask task functions are all dynamically compo

[2020-09-02 16:15] krfricke commented on #10138
So the problem here lies in two places. For one, the code above does request scheduling of 3 million runs in parallel. There is no easy way to limit concurrency here, see also #10256.

The other thing is that the basic variant generator generates all configurations at once, and creates trial objects for all of these. This could be fixed by batching the creation, like in this proof-of-concept commi

[2020-09-02 17:07] rstrudel commented on #8526
@sven1977 do you have pointers on what should be done to implement it ? I would be happy to propose a PR implementing this feature.

[2020-09-02 17:21] richardliaw commented on #10495
Hey @ozen thanks for opening this issue - interesting use case! Could you tell me a bit more about why you need this? i.e., why can't you use all/any available nodes on the cluster?

[2020-09-02 17:33] rkooo567 commented on #10481
I assume instead of we create new children (by setting random id), we should just restart children when their parents are restarted if their max_restart >= 1? Maybe we can iterate all children and restart them. This is something we don't currently support because once actor is DEAD, it cannot restart. So, we should probably write a method for this? This can complicate our state transition again, s

[2020-09-02 17:43] stephanie-wang commented on #10481
I think it would be best to just let the child's parent restart it. The problem is that this can also happen when a non-actor task creates an actor, and the GCS has no visibility into whether that task will get restarted or not.

To make the state transitions in the GCS simpler, I think we would need to key the actor by (actor ID, epoch) instead of just (actor ID). But yeah, I don't think we can s

[2020-09-02 17:50] rkooo567 opened #10506 "[Placement Group] ray.wait([pg.ready()]) shouldn't warn."
### Describe your feature request
Currently, if you run

`ray.wait([pg.ready()])`, it prints the warning message that the ready task is infeasible. This is an expected behavior, so we should not print warning messages.

Impl Idea
- Have a magic number for pg.ready resources (for example, it always request 0.0231 requests) and don't warn if this value of resources are requested.

[2020-09-02 18:06] rkooo567 commented on #10481
That solution sounds great to me!

[2020-09-02 18:10] rkooo567 opened #10508 "[Placement Group] Support RayPlacementGroupError"
### Describe your feature request
When tasks are failed due to placement group removal, we should raise `RayPlacementGroupError` instead of worker dead error or actor dead error.

[2020-09-02 18:41] snmhaines commented on #10104
I think that I have got to the bottom of these problems now, so I will close the issue.

The main one is that the "ulimit -n ..." command in the head_ and worker_start_ray_commands: sections do not work (presumably not the right environment). So the c5.24xlarge instances default to the soft limit for open files, which is only 1024.  The hard limit is 1048576, so I managed to change the soft limit

[2020-09-02 18:41] #10104 closed

[2020-09-02 19:35] rallen10 opened #10510 "[rllib] COMA implementation for multi-agent environments"
To expand the multi-agent RL algorithms, RLlib would greatly benefit from an implementation of the counterfactual multi-agent policy gradients (COMA) algorithm from Foerster et al. (https://arxiv.org/abs/1705.08926).

Is anyone aware of such an implementation in RLlib or ongoing work in this direction?

[2020-09-02 20:30] richardliaw commented on #10163
So early_stopping_rounds + cv will work fine. However, tuner-level pruning will not work with all of them.

Does that make sense?

[2020-09-02 21:20] edoakes opened #10511 "Unnecessary output when connecting to a cluster"
### What is the problem?

When connecting to a cluster, `ray.init()` spews a lot of unnecessary output to the terminal:

[code]

If we cannot run your script, we cannot fix your issue.

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/latest/installation.html).

[2020-09-02 21:22] edoakes commented on #10511
P0 because this needs to be fixed before 1.0 branch cut.

[2020-09-02 21:44] richardliaw commented on #10138
This is pretty interesting - there's actually 3 different rate-limiting steps to be aware of.

1. Sampling concurrency (currently set to infinite, bounded by ConcurrencyLimiter): This is important because it affects the actual optimization.
2. Machine level concurrency (currently set to total_resources / resources_per_trial): This is important because it prevents resource exhaustion/overloading of

[2020-09-02 22:00] richardliaw commented on #10491
Did you start your ray actor/task with `ray.remote(num_gpus=1)`?

[2020-09-02 22:02] junliangyu96 commented on #10491
ray.remote(num_cpus=32, num_gpus=1)

[2020-09-02 22:07] richardliaw commented on #10491
within that task, can you return `torch.cuda.is_available()` to check that it is true?

[2020-09-02 22:28] edoakes opened #10515 "--system-config option to ray start doesn't work"
### What is the problem?

Passing a valid json dict to --system-config threw the following error because we json.loads'ed it twice:

[code]

If we cannot run your script, we cannot fix your issue.

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/latest/installation.html

[2020-09-02 22:30] rusu24edward opened #10516 "[rllib] action from policy with Tuple action space has wrong shape"
### What is the problem?
I have an environment with a tuple action space. During training, there is no problem. However, when I attempt to demonstrate the learned policy, I get actions of the wrong shape. Like in #3048, I get actions that are 2d arrays instead of the expected 1d arrays.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: 0.8.5
Python: 3.7.7
T

[2020-09-02 22:30] junliangyu96 commented on #10491
if I run this line in the function mentioned in the error message, it returns False. But if I run it inside functions of @ray.remote, it returns True

[2020-09-02 22:30] edoakes commented on #10515
P0 for 1.0 release.

[2020-09-02 22:35] ericl commented on #8618
Min iter time has nothing to do with the batch size under the hood, it's just the metrics reporting period. Many gradient computations and applications are happening each iteration.

[2020-09-02 22:43] michaelzhiluo commented on #10465
@p-christ There is a way to manually register it in `ray/rllib/agent/registry.py`. In addition, with your example, MBMPO requires a reward function of (obs, action, next_obs), which takes in a vectorized list of observations, actions, and next_observations (2D numpy array)( to compute the reward. Most environment just need obs and action to do so, and given that the step function generates the rew

[2020-09-03 01:26] junliangyu96 commented on #10491
Do you know how to solve this problem?

[2020-09-03 01:28] #10313 closed

[2020-09-03 01:49] richardliaw commented on #10491
Interesting... can you also post `ray.get_gpu_ids` before `torch.cuda.is_available()`?

[2020-09-03 01:50] richardliaw commented on #10491
Also repro example would be useful here

[2020-09-03 01:55] junliangyu96 commented on #10491
ray.get_gpu_ids() returns empty list.

[2020-09-03 02:26] richardliaw commented on #10491
Can you post the code where you’re running this?

On Wed, Sep 2, 2020 at 6:55 PM junliangyu96 <notifications@github.com>
wrote:

[2020-09-03 02:36] junliangyu96 commented on #10491
[example.zip](https://github.com/ray-project/ray/files/5165805/example.zip)

I defined remote functions inside another remote functions.
This is the function to process batch of files. For each file I process each line. So I want to make the function parallel in line level within a file, and also file level. I don't know if this is allowed

[2020-09-03 03:20] maxco2 opened #10521 "[rllib] SAC and DDPG policy can't do `grad_clip`"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: 0.8.7
Python: 3.7
Tensorflow: 2.2.0
OS: Manjaro x86_64

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):
[code]
This [PR](https://githu

[2020-09-03 03:22] #10501 closed

[2020-09-03 03:24] zzcNEU opened #10522 "rllib examples/attention net"
Hello, I want to run the examples attention_net.py. But it occours:
![image](https://user-images.githubusercontent.com/38434094/92067872-f9a03880-edd7-11ea-97fb-16b89e8aee92.png)

What is it?

[2020-09-03 04:04] richardliaw commented on #10491
Hey @junliangyu96, your code has `ray.init(num_cpus=32, num_gpus=1)`, which is not `ray.remote(num_gpus)`.

`ray.init` is a global value. `ray.remote` is per task.

Everywhere you want to use a GPU, every function, you need to do the following:

[code]

[2020-09-03 04:07] richardliaw commented on #7017
Yep this is fixed!

[2020-09-03 04:07] #7017 closed

[2020-09-03 05:33] gumupaier commented on #10431
hi @rkooo567 The current phenomenon is that the memory of the head node slowly increases as the running time increases until the oom error is thrown, and the node node still has a lot of free memory. Is there something wrong with my startup method?
head node start command
`ray start --head --dashboard-host=0.0.0.0 --port=6380
`
node node start command
`ray start --address='172.253.62.206:6380' --r

[2020-09-03 06:14] gumupaier commented on #10431
Now I changed the sample code again, you can reproduce this problem directly.
The gist link is as follows
https://gist.github.com/gumupaier/9435602dd3f326419fd7ef1a5235d390

The csv sample is as follows

`8989899
121344
3123414
3123`

[2020-09-03 07:23] HanbumKo opened #10526 "[ray] ray.get() UnpicklingError"
### What is your question?

Hi I've made manual cluster with two nodes, and run code. But got an UnpicklingError when I do ray.get(), and I have no idea what it means. All things are totally fine without other nodes, but only that happens when I use manual cluster. Is there anything I miss?

<img width="1440" alt="Screen Shot 2020-09-03 at 4 09 29 PM" src="https://user-images.githubusercontent.com

[2020-09-03 07:25] rohan-gt commented on #10163
@richardliaw yes it does

[2020-09-03 07:45] richardliaw commented on #10163
great @rohan-gt ! is there any outstanding feature requests you have re: tune or tune-sklearn?

[2020-09-03 11:04] rstrudel opened #10530 "[rllib] SAC RAM Memory Leak"
### What is the problem?
When running SAC on Pendulum-v0 with gpu and single or multiple workers, rllib suffers from a memory leak independently of the framework used (tf or torch). The attached log shows the linear growth rate of memory usage during training (pink and cyan curves). I also used PPO on Pendulum-v0 with both framework and did not observe any memory leak as the log shows (red and blu

[2020-09-03 13:25] krfricke commented on #9245
Thanks for the issue and for the insights. Spotting that this depends on the time attribute was very helpful in identifying the error.

The main problem was that BOHB theoretically allows trials to remain paused when they progressed too much (e.g. through a larger training batch size), but Ray's trial executor would throw an error if some trials are set to be pending, and some remained paused. Thi

[2020-09-03 13:36] junliangyu96 commented on #10491
[add_gpu.zip](https://github.com/ray-project/ray/files/5168881/add_gpu.zip)

I added num_gpus=1 in function

@ray.remote(num_gpus=1)
def contains_keywords(line, tagger):

the error msg is:

RayTaskError(RuntimeError)                Traceback (most recent call last)
<ipython-input-22-4cf4c0863050> in <module>
    151 ray.init(num_cpus=32, num_gpus=1)
    152
--> 153 unlabeled_file_to_sentences, unl

[2020-09-03 13:59] roireshef commented on #8618
@ericl thanks Eric, so how can I finally tell what is the effective batch size for each gradient update in A3C?

[2020-09-03 15:06] RocketRider commented on #9116
I have the same issue. with "local_mode" it is running, but I do seem to have major performance issues.
Does "local_mode" impact the performance? (RL-LIB on one computer with 8 CPUs and 1 GPU)

[2020-09-03 15:24] forhonourlx opened #10532 "[rllib] Non-RNN inputs into attention_net(RecurrentNetwork) gets 'seq_lens': np.ndarray((1,), where can I specify seq_lens?"
Hi Ray Team,

I am trying to insert some Non-RNN inputs and conv layers before fc layers to join attention_net(RecurrentNetwork).
In debug mode, I only get a batchsize of 1 state, and seq_lens of np.ndarray((1,),
Could someone kindly tell me where to specify seq_lens?
Thanks in advance.
[code]
And attention_net example get:
[code]

[code]

[2020-09-03 15:27] forhonourlx commented on #10532
Sorry to bother you @ericl @sven1977 ...
Thank you very much!

[2020-09-03 16:22] ericl commented on #8618
It should be just rollout fragment length.

On Thu, Sep 3, 2020, 6:59 AM roireshef <notifications@github.com> wrote:

[2020-09-03 16:58] roireshef commented on #8618
Hi @ericl, following some deeper investigation and offline discussion with @sven1977 I now understand better the following:
- My previous assumption of a single call to `trainer.train()` only triggers a single network update on a single batch was incorrect. In fact, I can now confirm `ApplyGradients` might be called several times per each `trainer.train()` execution.

- The duration of a call to `

[2020-09-03 17:04] PidgeyBE commented on #10431
In the screenshot you post you can see there is a python process using almost 16GB of ram... What's happening in `chewing/test/call_bak.py` ? The issue does not seem to be in ray, but in the stuff you run outside of ray....

[2020-09-03 17:14] roireshef commented on #8618
BTW @ericl, the slowdown reported at the top of this thread might be the result of doing a network update and master<->remote communication for every worker's gradient arriving to the master worker independently.

Finally, I wonder if the fact the master worker only updates the worker that the current gradient is from won't create higher staleness in the gradients computed (eventually making the l

[2020-09-03 17:33] richardliaw commented on #10491
@junliangyu96 can you please post your code on a Gist or in plain text? It seems very unsafe to be downloading your zip file.

[2020-09-03 17:41] mfitton opened #10537 "Support Logical View APIs in new Dashboard Backend"

[2020-09-03 17:42] mfitton opened #10538 "[Dashboard] Support Memory View in new Backend API"
### Describe your feature request
The memory view that currently exists in our front-end requires backend functionality that does not yet exist in the new dashboard.

[2020-09-03 18:05] stephanie-wang commented on #10343
@ffbin, any update on this? This is high priority since the branch cutoff for 1.0 is very soon.

[2020-09-03 18:18] #10515 closed

[2020-09-03 18:20] sven1977 opened #10541 "[RLlib] Implement consistent behavior for `num_gpus` (tf + torch); make sure all examples work with GPUs."
PR: https://github.com/ray-project/ray/pull/10242

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I

[2020-09-03 18:21] sven1977 opened #10542 "[RLlib] Deprecate old classes/functions (e.g. ModelV1!)."
Deprecate all "old"classes, methods, config keys, e.g. Agent, ModelV1, config["gpus"], etc..

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your

[2020-09-03 18:23] ericl opened #10543 "Add accelerator_type field"

[2020-09-03 18:30] #10511 closed

[2020-09-03 18:45] #10371 closed

[2020-09-03 18:51] #10427 closed

[2020-09-03 19:02] edoakes opened #10545 "Can't clean up named actor (non-detached)"
### What is the problem?

Non-detached actor names don't seem to be reclaimed when the actor exits.

Discovered while refactoring Serve to support clusters scoped to the driver program.

### Reproduction (REQUIRED)

[code]

If we cannot run your script, we cannot fix your issue.

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue a

[2020-09-03 19:04] edoakes commented on #10545
@ericl Making this P0 because it is a pretty fundamental issue for the named actor API and it's a blocker for the serve change we want to get in for 1.0. LMK if you disagree.

[2020-09-03 19:13] rkooo567 commented on #10545
Note that A.options(name="hello") is not detached anymore.

[2020-09-03 19:14] rkooo567 commented on #10545
Why don't we make actors detached if name is provided but lifetime is not? It will secretly breaks lots of people's codebase otherwise.

[2020-09-03 19:15] junliangyu96 commented on #10491
sure
[example.txt](https://github.com/ray-project/ray/files/5170713/example.txt)

[2020-09-03 19:17] junliangyu96 commented on #10491
sure
https://github.com/junliangyu96/demo

[2020-09-03 19:19] robertnishihara opened #10546 "Additional API changes for 1.0"
Let me know if this is being tracked somewhere else. Also, if some of the items in this list are wrong, I'll update them.

**Python API**
- [ ] Improve wording for ray API documentation. **EDIT:** Can happen after code freeze
- [x] Should `enable_object_reconstruction` in `ray.init()` be moved to an unstable option? Wouldn't we want to always have this enabled in the future?
- [x] Undocument `ray.

[2020-09-03 19:21] richardliaw commented on #10488
cc @inventormc

[2020-09-03 19:25] edoakes commented on #10546
@robertnishihara you wouldn't want object reconstruction if your tasks have side effects

[2020-09-03 19:40] ericl commented on #10545
Why is this a problem? You can simply name it if you want to manage its lifetime afterwards. Also, ant's "ray.cleanup_job()" proposal would let you clean up these actors.

I'm strongly opposed to this, since it would effectively disallow valid use cases in an attempt to prevent user error.

[2020-09-03 19:42] ericl commented on #10545
Ok I see, it's just an issue with removing the name label, only read the last comment.

[2020-09-03 20:26] edoakes commented on #10545
This seems like it's probably the culprit:
https://github.com/ray-project/ray/blob/master/src/ray/gcs/gcs_server/gcs_actor_manager.h#L95

[2020-09-03 20:37] ericl commented on #10546
Hmm @stephanie-wang should there a difference between max retries and object reconstruction?

[2020-09-03 20:37] ericl commented on #10546
Also, why remove dashboard url? The URL isn't stable so there needs to be a way to retrieve it programmatically.

[2020-09-03 21:01] ericl commented on #10546
Hmm in this case maybe we should make it private for now. It seems like we don't have an ideal picture of how to configure this yet, and in any case there doesn't seem to be any users of the setting: https://github.com/search?q=enable_object_reconstruction&type=Code

[2020-09-03 21:03] stephanie-wang commented on #10546
Ah I see, I thought it was already private since it's marked as such on the audit spreadsheet: https://docs.google.com/spreadsheets/d/1F6VZ1R_fgDzpRZjXI5_6gaUwW2CQKi431dCDTR-Vm8s/edit#gid=0

Yeah, I think that makes sense.

[2020-09-03 21:13] ericl commented on #10546
Made a PR... I opted to keep "ray.experimental.set_resource" documented. Actually, was considering moving that to stable, but we just don't have time to QA it at the moment I think.

Didn't touch ray start stuff yet.

[2020-09-03 22:37] #10503 closed

[2020-09-03 23:00] mimoralea commented on #10179
@ericl, help me clarifying another example case if you can.

Let's say I have an environment with a horizon of 150 timesteps (let's assume for simplicity it always takes 150 timesteps), and training settings as follows:
[code]

Will the trainer receive any complete episode, or will all episodes be truncated?

Here is my take:
  - 90 workers x 100 samples per worker each rollout = 9,000 samples fro

[2020-09-03 23:12] ericl commented on #10179
It's done in two phases. First, rollout workers generate rollout fragments of the specified size, and this is done completely independently per worker. Second, the fragments are concatenated, and we keep gathering fragments until the desired train batch size is reached.

So to answer your question directly, all episodes will be truncated to at most 100 steps regardless of where they came from. Som

[2020-09-03 23:21] mimoralea commented on #10179
Well, in the case above is unlikely that any fragment will be 50 steps, correct? Given that we have 90 workers sampling 100 steps, it is likely we will reach the 6,000 from a single rollout phase. Although, not guaranteed because say worker 1 may return the first 100 and sample the next 50 before work 17 returns the first 100 steps, correct?

[2020-09-03 23:23] ericl commented on #10179
That's right, you'll have 9000 gathered right off for an algorithm like PPO. It might print a warning that the train batch size was larger than expected. For other algorithms like IMPALA the extra steps will just go to the next train batch.

Regardless since the episode is 150 steps, you'll always have 100 step and 50 step chunks.

[2020-09-03 23:36] mimoralea commented on #10179
Interesting! Wouldn't the next batch become off-policy for an algorithm like PPO or is the new policy used for the next rollout?

Say 90 workers collect 100, that's 9,000, a warning is shown, and PPO trainer samples from that training batch mini-batches according to `sgd_minibatch_size` and `num_sgd_iter`. The policy is updated, then the rollouts continue from where they stop, in the example above

[2020-09-03 23:44] ericl commented on #10179
It's not really off policy, since sampling is paused until the policy is
updated for PPO. The starting state is indeed from the last episode but
that seems unlikely to cause problems.

On Thu, Sep 3, 2020, 4:36 PM Miguel Morales <notifications@github.com>
wrote:

[2020-09-03 23:46] mimoralea commented on #10179
Outstanding. Thank you!

[2020-09-03 23:46] #10179 closed

[2020-09-04 00:17] ffbin commented on #10343
@stephanie-wang I will submit a pr today.

[2020-09-04 00:37] pdames commented on #9334
Thanks for the info @lenassero! For the record, I've also verified that both default security group IDs and subnet IDs set by the autoscaler will conflict with any present in custom NetworkInterfaces today (regardless of whether those NetworkInterfaces are provided directly in the top-level head/worker node config, or as part of a EC2 launch template).

[2020-09-04 00:48] #10545 closed

[2020-09-04 00:54] pdames commented on #9335
Thanks for the callout, @wuisawesome. We definitely have use-cases for this feature at Amazon as well, and could potentially assist with some of the initial implementation work.

[2020-09-04 01:13] gumupaier commented on #10431
The following gist code is very brief, but after running for a period of time there will be oom problems
[https://gist.github.com/gumupaier/9435602dd3f326419fd7ef1a5235d390](https://gist.github.com/gumupaier/9435602dd3f326419fd7ef1a5235d390)

[2020-09-04 01:24] rkooo567 commented on #10526
This is really weird. What version of Ray are you using? Also, what OS are you using?

[2020-09-04 01:27] rkooo567 commented on #10487
Can you share the script in which we can reproduce the issue? The behavior looks definitely weird given you have only 6 objects that are referenced.

[2020-09-04 01:31] Patol75 commented on #10487
@rkooo567 Is it fine if I invite you to the GitHub repository where the code is hosted?

[2020-09-04 01:32] rkooo567 commented on #10431
The given script is very short-lived. Do I need to add while loop somewhere?

[2020-09-04 01:32] rkooo567 commented on #10431
I don't see any symptoms that it causes OOM with this.

[2020-09-04 01:39] gumupaier commented on #10431
@rkooo567  The amount of data in csv is very large, about 20 million rows.

The experimental environment is three 8-core 16G machines
 

[2020-09-04 01:42] gumupaier commented on #10431
After the script runs, you can find that the memory will continue to increase slowly @rkooo567

[2020-09-04 01:43] rkooo567 commented on #10431
Hmm this script is done within one second with the csv input you provided. Are you saying Ray's memory is increased when there's no script running?

[2020-09-04 01:49] gumupaier commented on #10431
Sorry, the information I provided is not comprehensive. The gist code has been modified, you can run it directly

[2020-09-04 01:56] gumupaier commented on #10431
Under normal circumstances, these variables are recovered after the run. But the current performance is that memory usage continues to increase.

[2020-09-04 01:58] rkooo567 commented on #10431
Ah, I see. I think I understood the issue. It seems like you have too many tasks running in a short time, and each put objects are referenced by pending tasks (that are queued). Note that you can only process 16 tasks at a time, but you submit much higher number of tasks.

[2020-09-04 01:59] wuisawesome opened #10558 "Undocument ray.get_resource_ids()"
### Describe your feature request

[2020-09-04 01:59] rkooo567 commented on #10431
Maybe issue will be gone if you make each of remote tasks a little bit more computationally heavier

[2020-09-04 01:59] rkooo567 commented on #10431
My recommendation is instead of processing data line by line, process more bigger chunks.

[2020-09-04 02:00] rkooo567 commented on #10431
(or other solution is just not put your object. You can just pass line directly to remote tasks).

[2020-09-04 02:02] rkooo567 commented on #10431
Also note that if your remote task is too cheap (like your gist), it will be much slower than using a single process.

[2020-09-04 02:04] gumupaier commented on #10431
Thanks, I understand what you mean. You mean that the speed of task generation is always greater than the speed of task processing, so memory usage will continue to increase. I try to limit the number of tasks to be processed in parallel or each task to try to handle heavier work. I will give you feedback later. @rkooo567

[2020-09-04 02:05] Patol75 commented on #10487
@rkooo567 I have created this [repository](https://github.com/Patol75/PotMemLeak.git) where you can find files required for a minimum reproduction scenario. You can start the script by typing `./PotentialMemoryLeak.py ridge_31.vtu`. On my laptop, on 6 cores, this leads to an ever-increasing memory usage. Thank you for any help.

[2020-09-04 02:09] rkooo567 commented on #10431
Yeah. This is a great resource to understand how Ray's memory management works. https://docs.ray.io/en/latest/memory-management.html

More precisely, the reason why memory usage is increasing is because the object you put to shared memory using `ray.put` is used by your tasks (`cal`), but those tasks were not quickly done because there are too many of them. When the object generated by `ray.put` i

[2020-09-04 02:23] rkooo567 commented on #10487
Okay. It definitely seems like a bug.

[2020-09-04 02:24] rkooo567 commented on #10487
There are couple questions. Is there any possibility you have some variables that keep accumulated over time inside `FooClass `?

[2020-09-04 02:29] Patol75 commented on #10487
That would be something like a list/dictionary/arrray to which entries are continuously appended? I do not think I have anything of the sort, unfortunately.

[2020-09-04 02:30] chunyang-wen commented on #9546
Same problem met. Just call `ray.init()` in one of the test functions, will get this warning.

[2020-09-04 02:59] rkooo567 commented on #10487
I ran your class without Ray,

[code]

And it seems like it also increases memory.

[2020-09-04 03:12] Patol75 commented on #10487
@rkooo567 You are right, I should have checked that myself, I am sorry. Wel, I guess I will have to find out where it comes from then. Thank you for your input; feel free to close this thread.

[2020-09-04 04:01] Patol75 commented on #10487
@rkooo567 The memory leak comes from the calls to the Scipy Interpolator objects. According to this [thread](https://github.com/scipy/scipy/issues/9747), it is actually a Numpy issue. So definitely nothing to do with Ray. Thanks again for your help.

[2020-09-04 04:15] wuisawesome opened #10562 "[Core] `ray.options(memory=)` not overriding default."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my

[2020-09-04 04:55] #10487 closed

[2020-09-04 06:16] rkooo567 opened #10564 "[Metrics] Custom metrics are not serializable."
### What is the problem?

Custom metrics cannot be passed to different tasks or actors because its tags are not pickleable.

We should support passing metrics to tasks or other actors.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot ru

[2020-09-04 06:57] gokhanceyhan opened #10565 "ray.init() throws List Index Out of Range error"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*
I am using version 0.8.6. with Python 3.7.5 on rhel07 machine. The error occurs in the connect function in `worker.py` when ray.init() was run. I was able to trace the error and it occurs in the below part.
[code]
Line `script_directory = os.path.abspath(os.path.dirname(sys.argv[0]))` a

[2020-09-04 06:59] DianaLi96 commented on #9436
I met this problem when the GPU nums set to 8, have you find the reason behind the error?

[2020-09-04 08:55] sytelus commented on #9259
I'm facing this issue on single node Windows machine. I've opened up port 6379 for Redis but error still occurs. Any idea what else should I do?

[2020-09-04 09:57] ozen commented on #10495
It's mainly for job scheduling. If I run multiple experiments (i.e. call tune.run multiple times), their trials will run concurrently since they are scheduled individually. If I can schedule and allocate a node for Experiment A, trials of Experiment B won't cut in. That may be desirable if I want one experiment to finish as soon as possible while queuing other experiments.

I have just seen [Deplo

[2020-09-04 10:05] #10442 closed

[2020-09-04 10:07] #5559 closed

[2020-09-04 10:29] sytelus commented on #9259
I finally figured it out debugging through source code. It appears Redis server takes about 10 to 20 seconds to start for some reason. May be it's looking for something on network? I'm working on private home wifi so not sure why it is taking it so long. So if I change `time.sleep(0.1)` to `time.sleep(20)` in `_start_redis_instance` method in `ray/sevices.py` then things works.

[2020-09-04 10:35] mehrdadn commented on #9259
Thanks for looking into this! 20 seconds sounds like a timeout somewhere. Not sure if this is relevant but `GlobalState._initialize_global_state` has `timeout=20`, and it tries to connect to Redis.

[2020-09-04 11:34] Vysybyl commented on #8035
Hi!
I was able to setup a ray cluster on GCS and connecting to it directly from my local python process (jupyter or shell) without SSH-ing to the remote machine.

In short:
- Start ray cluster using the .yaml config file
- Install and start OpenVPN to the head node
- Start OpenVPN connection on my local machine
- Start my local machine as a worker node with 0-resources, passing the head host and r

[2020-09-04 12:34] #10029 closed

[2020-09-04 13:40] sumanthratna opened #10571 "[tune] sample int from exponential function"
### Describe your feature request
currently, the [FAQ](https://docs.ray.io/en/master/tune/tutorials/overview.html) [says](https://docs.ray.io/en/master/tune/tutorials/overview.html#how-do-i-choose-hyperparameter-ranges):

since this is suggested in the FAQ, I think there should be a way to define such a sampling.

something like this might have worked for the 0.8.7 API; will need to revisit the re

[2020-09-04 14:02] raoul-khour-ts opened #10572 "[Documentation] need for default_resource_requests when using custom train function"
[RLlib using Tune]

When using a custom training function tune can not figure out the number of resources required for the function (vs when the Trainer is given) and in this case requires the default_resource_requests to be explicitly given. It would be nice to have some explanation for this. TBH I ignored it at first which cost me a good amount of time. Thankfully @richardliaw was able to help m

[2020-09-04 15:02] raoul-khour-ts opened #10574 "[Ray] Manual Cluster Setup (not bringing CPUs into available resources)."
[RAY CORE]
When following https://docs.ray.io/en/latest/cluster/index.html#manual-ray-cluster-setup
on 0.8.7 Once I have connected the remote worker nodes I see the number of available CPUs go up. However on the current 0.9.0.dev CPUs stay at 0

*Ray version and other system information (Python version, TensorFlow version, OS):*
0.9.0.dev seems to currently prevent manual clusters

### Reproductio

[2020-09-04 15:23] simon-mo commented on #10564
Why do they need to be serializable? They belong to different core worker right?

[2020-09-04 15:31] anabranch commented on #8035
I'd love to see the proof of concept for this! Do you have that recipe that you could share?

[2020-09-04 15:37] wuisawesome commented on #9335
Awesome! @pdames I'll reach out to you offline

[2020-09-04 16:30] rkooo567 commented on #10564
Yeah. But it can be cumbersome when you are using tasks with actors because you should re-define them every time.

[2020-09-04 16:30] rkooo567 commented on #10564
My idea is to reinitialize it when it is deserialize by setting __reduce__ (and I think it should work).

[2020-09-04 16:44] ericl commented on #8035
Cc @barakmich

[2020-09-04 17:51] wuisawesome commented on #10574
I will investigate and mark as P0 once I can reproduce it

[2020-09-04 19:11] wuisawesome opened #10585 "[Core] Raylet breaks when many actor tasks are submitted"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Tested with 16 core macbook pro

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

This is caused by a low ulimt but we should have a better

[2020-09-04 19:13] stephanie-wang commented on #10585
This seems to work fine for me on master. Can you provide the stacktrace from the raylet process (raylet.out and .err)?

[2020-09-04 19:14] stephanie-wang commented on #10585
Ah sorry, didn't see this part: (pid=raylet) F0904 12:07:30.037915 49403 281886144 worker_pool.cc:364] Failed to start worker with return value system:24: Too many open files

Have you tried with ulimit? Maybe you have some other processes running with too many open files?

[2020-09-04 19:15] wuisawesome commented on #10585
funny, i'm also on latest master :/

`raylet.out`
[code]

`raylet.err`
[code]

(i believe these were properly redirected to the driver)

[2020-09-04 19:20] wuisawesome commented on #10585
[code]

i should be starting 64 actor processes. let's see if someone else can reproduce this on a mac maybe?

[2020-09-04 19:22] stephanie-wang commented on #10585
Maybe check how many files you have open before starting Ray? Or increase `ulimit -n`.

[2020-09-04 19:28] edoakes commented on #10585
I just tested it out on my laptop and the raylet crashed:
[code]

I also ran into a similar issue recently when trying to run some Serve tests where the GCS service crashed due to too many open files. I was not able to resolve it but it only happened locally - not on CI or linux boxes.

[2020-09-04 19:28] richardliaw commented on #10585
setting ulimit works for me but definitely scary stack trace in the initial execution.

[2020-09-04 19:29] wuisawesome commented on #10585
I guess this is a ulimit issue and we probably just open 4 files per process (i only know of 3). I'll downgrade this to P1, but we should probably just catch this error and make a less scary error message

[2020-09-04 19:30] wuisawesome commented on #10585
On ubuntu ulimit defaults to 1024, on os x it's 256. that probably explains it...

[2020-09-04 20:13] rkooo567 commented on #10585
I guess we should warn users that they should increase ulimit when they start with big number of workers?

[2020-09-04 20:20] Iravo42 commented on #10346
I have the same issue on 0.8.7. Maybe this by #10168 and #10177. I haven't test that myself though.

[2020-09-04 20:22] Iravo42 commented on #10271
Hello, is there any news on that issue? :innocent:

[2020-09-04 21:48] wuisawesome commented on #10585
yeah, actually why don't we just `setrlimit` ourselves when starting ray?

[2020-09-04 21:51] wuisawesome commented on #10585
also, imo 4*num_cpu's isn't a large number of workers, i think it's actually fairly reasonable (think about large numbers of tasks which perform io)

[2020-09-04 21:51] gshimansky commented on #8892
I just hit this bug too on a system with 112 CPUs when running a small Modin application. Normally it works, but this time I had Ray built from sources with debug information as `bazel build -c dbg //:ray_pkg`. Revision is 0.8.7 tag `ray-0.8.7`. Ray doesn't seem to honor `num_cpus` parameter and spawn a lot of workers. This results in an enormous number of connections, my `netstat -tapn` list is l

[2020-09-04 22:29] #9245 closed

[2020-09-04 22:41] richardliaw commented on #10571
Hmm, yeah - doesn't this work with `tune.loguniform`?

[2020-09-04 22:41] richardliaw commented on #10565
Can you provide a full stacktrace?

[2020-09-04 22:43] richardliaw commented on #10163
OK closing this issue to track this on tune-sklearn side.

[2020-09-04 22:43] #10163 closed

[2020-09-04 22:45] richardliaw commented on #10256
Duplicate of #10270

[2020-09-04 22:45] #10256 closed

[2020-09-04 22:55] richardliaw commented on #10439
hey @chanshing sorry for the late reply.

You can try something like this - the promotion here is 'semi-eager'. You can also adjust the implementation to your liking. https://github.com/ray-project/ray/issues/4401#issuecomment-535251835

The key place to adjust promotion is in `_Bracket`. Note that we will prioritize upstreaming this in a couple weeks.

[2020-09-04 22:58] richardliaw commented on #10235
Unfortunately this isn't possible. You can do this yourself by checking in your training function and acquiring a lock on the gpu via `filelock`.

[2020-09-04 22:59] richardliaw commented on #10249
Done with #10352

[2020-09-04 22:59] #10249 closed

[2020-09-04 23:00] richardliaw commented on #9711
Closing this for now - if this continues to be an issue please open an issue on tune-sklearn. Thanks!

[2020-09-04 23:05] richardliaw commented on #10495
ok great! let me know if that works for you. Feel free to reopen if not.

[2020-09-04 23:05] #10495 closed

[2020-09-04 23:07] richardliaw commented on #10495
Hypothetically you can provide a custom resource to Tune via `resources_per_trial={"custom_resource": {"node:<ip_address>":...}}`, but I think that might have some odd behavior right now. I can look into it if preferable.

[2020-09-04 23:10] stephanie-wang commented on #10585
Hmm it seems a bit scary to me to be overriding that limit as part of Ray's source code...It's also pretty awkward since then we'd have to make the value configurable. We do it in the example cluster launcher scripts, but that's less sketchy since it's very clear and configurable, plus it's not going to be running on the user's laptop.

I would be in favor of just making the error message less sca

[2020-09-04 23:16] sumanthratna commented on #10571
doesn't `tune.loguniform` return floats? or at least that's what I understand from the source + numpy's docs, as I think `np.random.uniform` returns floats, not ints (and so `(base: int)**(exp: float)` would be a float)

`int(tune.loguniform(4, 32, base=2))` might work but that falls into the category of workarounds IMO

[2020-09-04 23:35] richardliaw commented on #10571
how about tune.qloguniform?

[2020-09-04 23:50] richardliaw opened #10590 "[tune] support `timeout` parameter"
### Describe your feature request

This is a very-often implemented feature and we should just expose the GLOBAL TIMEOUT PARAMETER as a tune.run arg.

[2020-09-04 23:51] richardliaw opened #10591 "[tune] expand search space API coverage for most searchers"
### Describe your feature request

We probably want to support everything except maybe SigOpt and ZOOpt for the 1.0 cut.

cc @krfricke

[2020-09-05 00:06] richardliaw opened #10592 "[tune] default metric/mode for reporting in tune"
### Describe your feature request

Now that we have 1 default mode/metric, it may be quite nice to be able to do:

[code]
or
[code]
All of these can autoresolve.

### Some proposal

[code]

[2020-09-05 00:15] sumanthratna commented on #10571
oh right, that should work.

closing as this was resolved in the search space refactor (#10444). I'll try to test it out eventually and let you know if it works (and I'll push a PR to add it to the docs)

[2020-09-05 00:15] #10571 closed

[2020-09-05 00:17] #9982 closed

[2020-09-05 00:40] #10435 closed

[2020-09-05 02:38] endvroy commented on #9419
Hope this can get fixed soon, as it seems we still have no way to read the trials back from the log. When the experiment is submitted as a job to a managed cluster, there is no way to get the analysis object immediately after calling `tune.run()`. It is unbelievable such an oversight occurred - maybe the developers are using a different workflow?

[2020-09-05 03:47] endvroy commented on #9419
seems I found a workaround:
`analysis = tune.run(my_trainable, local_dir="~/tune_results", resume=True)`

[2020-09-05 04:26] GoingMyWay commented on #8892
Cool, is it should be built from source?

[2020-09-05 04:52] wuisawesome opened #10598 "Ray health check"
### Describe your feature request
At the moment, we can use redis for ray's health check, but if we ever remove our redis dependency, we will have no more centralized components and will need a more clever health check mechanism.

[2020-09-05 05:27] robertnishihara commented on #10598
Can we use the dashboard for this? I suppose that isn't useful programmatically, but it should at least be visible in the dashboard.

[2020-09-05 05:32] wuisawesome commented on #10598
ah yeah for context: https://ray-distributed.slack.com/archives/CMVUQ1KMX/p1599276771185800

we should have a health check for purposes of attaching to production monitoring services.

this could be as simple as a service similar to the reaper which just responds to pings and waits for its parent to die (but we may want to be more clever to avoid single point of failure GCS becomes decentralized).

[2020-09-05 05:38] wuisawesome commented on #10574
Was unable to reproduce this. What I tried:

1. In EC2 spin up 2 nodes and ensure they're in the same VPC, subnet, security group, etc.

2. Installed the latest nightly wheel on each machine.

3. Ran
[code]

4. On the other node:
[code]

5. Check the resources from the head node:
[code]

[2020-09-05 06:02] rkooo567 commented on #10598
I think implementing this in dashboard makes sense. We can also expose dashboard APIs to help people checking health.

[2020-09-05 06:03] rkooo567 commented on #10598
Also, GCS service already checks the health of GCS. So, we can probably just add a gRPC endpoint to the service and make dashboard pings it.

[2020-09-05 06:06] rkooo567 commented on #10598
cc @mfitton

[2020-09-05 06:08] rkooo567 commented on #9773
Close since there are other tasks that are more fine-grained than this.

[2020-09-05 06:08] #9773 closed

[2020-09-05 06:09] rkooo567 commented on #9772
@ffbin @ericl Can I take this? I think it'll be fairly simple to implement this with our atomic creation (unlike actor stuff which is much more complicated with many states).

[2020-09-05 11:51] forhonourlx opened #10603 "[rllib] attention_net(GTrXLNet) does not support IMPALA algorithm, states are chopped to [BATCH_SIZE / MAX_SEQ_LEN, ...]"
### What is the problem?
Hi Ray Team,
I am running `examples/models/attention_net.py` with IMPALA, getting the following exceptions:
states seem to be chopped into [BATCH_SIZE / MAX_SEQ_LEN, ...], is there any way to fit IMPALA?
Could somebody give me a hand? Thanks in advance.
*Ray version and other system information (Ray master, Python 3.7, TensorFlow 2.3, Ubuntu/Windows):*
[code]

### Reproduc

[2020-09-05 13:28] gshimansky commented on #8892
@GoingMyWay No, you don't have to build Ray from source. I built it from source trying to debug some strange behaviour, but debug version (because it is slower than optimized?) triggered this bug with ports exhaustion. Maybe this information will help developers to reproduce it.

[2020-09-05 15:04] lacerdamarcelo opened #10604 "[rllib][tune] How to limit the number of allocated threads?"
Hello everyone,

I've run TD3 with Population Based Training in a single-thread environment.
However, I see that when I run my script, thousands of threads are created.
How can I limit the number of threads per worker to 1? A PBT sample is using 2
workers, so I expect 2 threads + 1 thread for the driver. Since I've used 16 PBT
samples, I would expect the whole thing create 48 threads and use 48 CP

[2020-09-05 15:52] #10436 closed

[2020-09-05 16:36] #10451 closed

[2020-09-05 17:28] dcela commented on #10396
This is what I have been doing on an 8-GPU machine that seems to work consistently.
[code]

[2020-09-05 20:10] kiranvad opened #10605 "[Dashboard] Access dashboard when using slurm"
### What is your question?
I am trying to access the ray Dashboard on my laptop when using ray with slurm.
Following a suggestion from @richardliaw  I used this [example](https://stackoverflow.com/questions/38464559/how-to-locally-view-tensorboard-of-remote-server) but it doesn't display anything.
*Ray version and other system information (Python version, TensorFlow version, OS):*
Python 3.7, Ray

[2020-09-05 20:14] #10343 closed

[2020-09-05 21:26] forhonourlx commented on #10603
Hi @sven1977
According to [https://github.com/ray-project/ray/issues/8616](url) IMPALA crashes if using an LSTM and num_sgd_iter > 1
When using IMPALA in attention_net, if  num_sgd_iter > 1, it crashes. And PPO will not.
initial_states seem to be chopped into [BATCH_SIZE / MAX_SEQ_LEN, ...], how does num_sgd_iter effect initial_states?
[code]

[2020-09-05 22:16] wuisawesome commented on #10598
the dashboard seems like an unconventional place to put it (for example, the dashboard has many extra dependencies, and the cluster isn't fate shared with the dashboard). imo exposing something from gcs would make more sense.

[2020-09-05 22:35] robertnishihara commented on #10574
@raoul-khour-ts Is that actually enough to reproduce the issue? Don't you need to call `ray.init(address=...)`? Note that if you call `ray.init()` then it won't attach to the cluster, so you'll just see one machine's resources.

[2020-09-05 22:50] rkooo567 commented on #10598
Maybe I was unclear. The health check is already done at gcs service (for gcs), and I meant to expose it through the dashboard. This will give more benefits like we can give more health information (like what raylets are down or something else)

[2020-09-05 22:51] rkooo567 commented on #10598
And for command line tool, we can make it just ping gcs service

[2020-09-05 23:25] wuisawesome commented on #10598
ah gotcha, it sounds like we just need to expose the GCS endpoint without relying on the dashboard (or maybe just document it?)

[2020-09-06 06:31] #10469 closed

[2020-09-06 12:46] xlnwel opened #10609 "[rllib] Data pre-processing in another thread"
Hi,

When using `build_tf_policy`, is it possible to perform some data augmentation in another thread like `tf.data` does?

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray[rllib]==0.8.6

[2020-09-06 14:23] 51616 commented on #7896
Is there any update on this feature?

[2020-09-06 16:25] 51616 opened #10611 "[rllib] Accessing 'seq_lens' in custom_loss"
I'm trying to make custom RNN model with a custom loss.

Is it possible to get `seq_lens` in `custom_loss` function of a custom model?
If not, how can I determine `seq_lens` of current `loss_inputs`, or I have to modify the policy itself?

Python 3.7
Tensorflow 2.1.0
Ray 0.8.5

Edit: I'm trying to do auto-dencoder loss with an RNN model. I do a workaround by keeping the reconstruction tensor (mode

[2020-09-06 17:04] ArturNiederfahrenhorst commented on #7896
Thanks for posting this. I still think that, for most people, it would just be convenient to have the dictionary at hand. Especially because `custom_loss()` is very exposed to newer users.

[2020-09-06 18:59] roireshef commented on #8618
OK, new insights from playing around the whole day (for the sake of whoever is going to read this):

1.

**The above is a complete mistake**. _AsyncGradientsOptimizer_ was never implemented to accumulate gradients and only then apply them batched, to the local worker's model. It was actually doing the same thing as I've writen above for 0.8.x so logic hasn't changed! Sorry for all the mess.

2. I'

[2020-09-06 19:00] #8618 closed

[2020-09-06 20:18] richardliaw opened #10612 "[tune] Loggers should be instantiated objects instead of classes"
### Describe your feature request
This makes it easier to associate configurations with a specific logger.

[code]

[2020-09-06 20:26] sven1977 commented on #8618
This is great! Thanks so much for digging in and getting to the bottom of this. Fixing the async race condition for forward + value calls in pytorch should not be so hard to do. we could simply have a `forward_and_value` method or so that returns everything in one call, used by async algos.

[2020-09-06 20:28] richardliaw commented on #9734
One fix for this is to disable interactive ssh - `ray up --use-normal-shells`.

[2020-09-06 23:53] sumanthratna commented on #9969
@richardliaw we can close this right? #10444 and #10518 have been merged into master

[2020-09-06 23:53] #9969 closed

[2020-09-07 00:43] richardliaw commented on #9969
yep! sounds good. Does your code become much cleaner now?

[2020-09-07 00:52] sumanthratna commented on #9969
wayyyy cleaner :) thanks for making this a priority! can't wait for 1.0

[2020-09-07 01:07] raoul-khour-ts commented on #10574
Note that once I do call ray.init(address="auto") I keep getting this in my logs:
(pid=raylet, ip=xx) F0907 01:02:55.541476 3002484 3002484 service_based_gcs_client.cc:207] Couldn't reconnect to GCS server. The last attempted GCS server address was 127.0.0.1:46515
(pid=raylet, ip=xx) *** Check failure stack trace: ***
(pid=raylet, ip=xx)     @     0x55b39f7c395d  google::LogMessage::Fail()
(pid=ra

[2020-09-07 01:23] wuisawesome commented on #10574
@raoul-khour-ts can you try the steps I used and verify that works?

[2020-09-07 01:30] raoul-khour-ts commented on #10574
I did exactly that but in our environment (not EC2 but a local farm of machines)

on 0.8.7 I can recreate your steps all fine and no logs.

on 0.9.0.dev no cpu's show up in the cluster and the above error message keeps getting logged.

[2020-09-07 01:35] raoul-khour-ts commented on #10574
The machine shows up on my ray dashboard... I just for some reason don't have access to its cpus...

[2020-09-07 01:46] wuisawesome commented on #10574
Could you do a fresh run of this, then share `/tmp/ray/session_latest/logs`? Also what's your OS, and python version?

[2020-09-07 01:53] raoul-khour-ts commented on #10574
Unfortunately I can not share all my logs. Is there a particular one of the files you are interested in?

[2020-09-07 01:54] raoul-khour-ts commented on #10574
One notable one is the gcs_server.err and out giving these lines:
 network_util.cc:62] Failed to find other valid local IP. Using 127.0.0.1, not possible to go distributed!

[2020-09-07 01:55] raoul-khour-ts commented on #10574
Is there a change between how this occurs between 0.8.7 and 9.0.0.dev?

[2020-09-07 01:56] raoul-khour-ts commented on #10574
I am running python 3.6.10 on a linux machine.

[2020-09-07 02:15] raoul-khour-ts commented on #10574
Just checked that downgrading to 0.8.7 again does not show that gcs_server.err.

Interestingly I did notice that when I start python and run ray.init(address='auto') on 0.8.7 I get:

WARNING: Logging before InitGoogleLogging() is written to STDERR
global_state_accessor.cc:25] Redis server address = xx:6379, is test flag = 0
redis_client.cc:146] RedisClient connected.
redis_gcs_client.cc:89] RedisG

[2020-09-07 02:40] raoul-khour-ts commented on #10574
Hey yeah sorry I forgot to add that to my reproduce guide (but yes I did call ray.init(address='auto'). Updated it now.

[2020-09-07 02:45] raoul-khour-ts commented on #10574
another observance:
if I run the `ray start --address='xxx.xxx.xxx.xxx:6379' --redis-password='5241590000000000' --num-cpus=20` on the head then I see 20 cpus in the cluster...

[2020-09-07 03:54] #10408 closed

[2020-09-07 03:56] #10562 closed

[2020-09-07 03:58] #10543 closed

[2020-09-07 05:52] gumupaier commented on #10431
I tried to limit max_call, the problem seems to be solved, the oom problem does not appear again, thank you for your help. @rkooo567

[2020-09-07 06:10] gokhanceyhan commented on #10565
Here you are:
[code]

[2020-09-07 09:19] chanshing commented on #10439
Thanks for the pointers. I will have a look :)

[2020-09-07 10:45] #10350 closed

[2020-09-07 11:36] Vysybyl commented on #8035
Here's the recipe:

1- Start ray cluster using the .yaml config file

I followed the instructions [here](https://docs.ray.io/en/latest/cluster/cloud.html#gcp).
I have modified a few lines in the [original yaml file](https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/gcp/example-full.yaml), namely:

a) Installing the latest version form pypi (which is what I use locally), not the

[2020-09-07 11:37] sukkiCat commented on #7084
I tried to follow your steps but got the following errors

TypeError: init() got an unexpected keyword argument 'webui_host'

[2020-09-07 13:43] KaleabTessera commented on #9528
Hack for now `ps aux | grep ray::IDLE | grep -v grep | awk '{print $2}' | xargs kill -9`

[2020-09-07 15:37] wuisawesome commented on #7084
The argument name was changed to `ray.init(dashboard_host="127.0.0.1")`

[2020-09-07 16:22] wuisawesome commented on #10574
Are there any errors/stack traces in `raylet.err` or and of the worker logs?

[2020-09-07 16:32] austinmw opened #10622 "Slowdown after loading large DataFrame"
### What is the problem?

This may be more of a question than a bug, but I'm not quite sure.

I'm using Ray to speed up annotating then saving out images. This has been working great up until now. However, if I load parquet files as a large Pandas DataFrame before running this operation, I see a huge slowdown in my `.remote()` calls.

Are there known reasons and possibly remedies for this?

-----

[2020-09-07 18:11] simon-mo opened #10623 "Document Docker Images in DockerHub"
### Describe your feature request

After https://github.com/ray-project/ray/pull/10596, I think our Docker pipeline is fairly stable now. It's time to document all the tags and how to use them in Dockerhub README page. A good example I can think of is https://hub.docker.com/r/tensorflow/tensorflow/

The most ideal workflow is that we write the README.md in this repository, and push the result to d

[2020-09-07 18:25] simon-mo commented on #10622
Hi @austinmw, thanks for submitting this issue. I have two questions that might help diagnose this issue:
- How big is the `jpegs` list in `jpeg_path = jpegs[frame]`. I noticed this might be a global variable getting serialized each time. If this is big, you can consider `ray.put(jpegs)` and pass it as an argument in `_anno_ray`.

- The `futures = ...` line is slow because Ray is submitting each t

[2020-09-07 19:32] mcrowson commented on #9528
Yea that is what I've been doing, just seems like the wrong long term solution.

[2020-09-07 20:24] wuisawesome commented on #10447
Btw I checked on this and also count many processes but this is to be expected.

The python processes that I see
* reporter
* worker
* log monitor
* monitor
* reaper
* driver

I'm not sure what the 7th one you're seeing is, but in general these are to be expected. These are all to be expected, and you shouldn't need to worry about them (but we can point you to some references if you're curious).

[2020-09-07 20:24] #10447 closed

[2020-09-07 20:29] wuisawesome commented on #10421
Closing because #10343 was fixed.

[2020-09-07 20:29] #10421 closed

[2020-09-07 20:30] austinmw commented on #10622
Hi @simon-mo , thanks for your help!

- The `jpegs` list is only approximately 150 items long of str filepaths.
- The odd thing is that this `futures =` line runs almost instantly when I do not have a large dataframe loaded.
    - `frames` is also about 150 items long (just ints), and `frame_annos` are dataframes that are about 1000x8.

Also I've tried:
[code]
Then running on this small dataframe

[2020-09-07 20:35] rkooo567 commented on #10447
Must be the dashboard if it is a head node

[2020-09-07 21:03] raoul-khour-ts commented on #10574
raylet.err is empty
raylet.out looks normal

Not sure where the worker logs are. are those the python-core-driver-xxx.log?
if so then nothing different from the 0.8.7 runs.

[2020-09-07 21:28] wuisawesome commented on #9734
Marking this as P1 since the scope seems to be much more limited now. Feel free to make this a release blocker if I'm misunderstanding the scope/you think it's important enough

[2020-09-07 21:31] #10558 closed

[2020-09-07 21:51] roireshef opened #10628 "[rllib] Enabling sample_async on remote workers when using PyTorch framework"
### Describe your feature request

I'm thinking, given these two references below, that there's a way to enable sample_async for PyTorch as well. Since this is a major runtime booster, this feature is going to have a relatively wide impact on PyTorch/RLlib users that run long training sessions.

Thanks!

[2020-09-07 22:02] roireshef commented on #10628
- https://discuss.pytorch.org/t/is-pytorch-supposed-to-be-thread-safe/36540/2
- https://discuss.pytorch.org/t/is-evaluating-the-network-thread-safe/37802/3

[2020-09-07 22:08] ericl commented on #10628
Thanks for reporting this. Can you provide a reproduction case with CartPole that doesn't work properly (rllib train --run=A3C --env=... etc)?

[2020-09-07 23:29] richardliaw commented on #9734
sg, I'll test run this later.

[2020-09-07 23:55] 0luhancheng0 opened #10631 "[rllib] WandbLogger gives pickle error with custom policy"
### What is the problem?

WandbLogger seems to cause unpickle error with custom policy is created using policy template

sys info:
* Ray: 0.9.0.dev0
* python: 3.7.6
* tf: 2.3.0
* os: macos

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)

[code]

- [ x ] I have verified my script runs in a clean environment and reproduces the issue.

[2020-09-08 00:25] nirandaperera commented on #9456
@guhaishuo I am having the same issue in my local cluster. I tried downgrading to 0.8.2. But I am still having the issue, unfortunately...

[2020-09-08 00:31] nirandaperera commented on #4393
I can confirm that this issue persists in ray 0.8.6, even though I am not seeing any errors in the log files.

[2020-09-08 00:50] nirandaperera commented on #8033
I am facing the same issue from version from 0.8.2 through 0.8.7

[2020-09-08 01:50] simon-mo opened #10634 "Metric agent fails in certain condition"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

The report logs output the following and prometheus endpoint return 500
[code]

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

I didn't

[2020-09-08 01:50] simon-mo commented on #10634
cc @rkooo567

[2020-09-08 04:25] sukkiCat commented on #7084
it works. thanks.

[2020-09-08 05:10] #10492 closed

[2020-09-08 06:16] sytelus opened #10637 "[ray] Problematic pickle5 version check in ray.init()"
On Windows, Python 3.7, ray.init() fails with error that pickle5 distribution was not found under certain conditions.

[code]

This error occurs in the following code in `ray.init()`:

[code]

The error occurs when some other module has added pickle5 from its private directory. In this case, `pkg_resources.require` fails because the pickle5 wasn't installed while it still exist in sys.modules. I t

[2020-09-08 08:03] richardliaw commented on #10637
cc @suquark

@sytelus thanks a bunch for opening this issue! Could you also try the Ray master (nightly) wheels?

[2020-09-08 08:14] moritzmeister opened #10640 "[tune] Setting memory limit for trial"
I would like to run an experiment with Tune in comparison to another Distributed Hyperparameter Tuning tool, and in order to guarantee comparibility, I would like to set a maximum amount of memory to be used for a trial.

Is this possible?
I couldn't find an example about how to set the memory in the `resources_per_trial` argument.

Otherwise, how does Tune allocate memory among trials? Does it ju

[2020-09-08 09:24] rhamnett opened #10641 "Ray nightly 0.9 linux python 3.6 missing module dataclasses which is in 3.7"
Using https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl

dataclasses exists in python 3.7 but not 3.6, see below

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-4-cd7dd781f6f9> in <module>
----> 1 from ray.tune.logger import DEFA

[2020-09-08 09:27] rhamnett commented on #10641
I can pip install dataclasses, but is this what you would expect?

[2020-09-08 09:52] 0luhancheng0 opened #10643 "[tune] include variants in experiment_state.json"
It would be very useful to includes all the user-defined variants in experiment_state.json.
Currently if i need to get all the variables i would have to pattern match the trial names.However the trial pattern seems to varies across experiments
And this would also be very useful when it comes to loading data into pandas multi-index data frame, where I can directly set each variant as one index set

[2020-09-08 10:16] manishagarwal23 opened #10644 "Ray queue details required"
I am on a small head node with 6 worker node on the same linux machine . When i submit my very small program to it it works . However as soon as I submit a little bit large program all the ray workers crash .

I read on https://docs.ray.io/en/ray-0.4.0/internals-overview.html
"Once a task has been scheduled to a local scheduler, whether by itself or by a global scheduler, the local scheduler queue

[2020-09-08 11:56] stefanbschneider commented on #7983
By setting the `local_dir` argument in `tune.run()`: https://github.com/ray-project/ray/issues/9123#issuecomment-649543419

But I think I already resolved my question regarding restoring a trained agent. Thanks anyways!

[2020-09-08 14:31] yonkshi opened #10648 "[tune] [rllib] Custom checkpoint directory name"
### Is it possible to change the trial/run's directory name which contains all the checkpoint sub directories?

I am seeing my runs stored in names such as `local_dir/experiment_name/PPO_0_2020-09-08_15-53-412ace9358/checkpoint_1/`. `PPO_0_2020-09-08_15-53-412ace9358` is not a very intuitive name. I am not using asynchronous training across different clusters, so I'd like to name them something si

[2020-09-08 15:26] FabianSchuetze opened #10649 "How are the number of iterations of a rollout determined in an execution plan and can this be influenced?[rllib]"
How are the number of iterations of a rollout determined in one execution plan and how can this be influenced?

I am working my way through the `dqn` example and am trying to understand how the execution plan is built. In particular, I try to understand the [execution plan](https://github.com/ray-project/ray/blob/master/rllib/agents/dqn/dqn.py#L174) for the dqn agent

[code]
I understand that duri

[2020-09-08 16:13] simon-mo commented on #10641
cc @krfricke @richardliaw

[2020-09-08 16:47] ericl commented on #10087
What if we made this print a warning (that you should set address="auto" to pick up the address?)

[2020-09-08 17:04] richardliaw commented on #10648
Hey @yonkshi, thanks for opening this! Are you on master? there should be `trial_dirname_creator` now.

[2020-09-08 17:08] ericl commented on #10649
This is determined by `StandardMetricsReporting`, which throttles the metric reporting to once every timesteps_per_iteration:
[code]

This means that the upstream steps are repeated until a sufficient amount of timesteps as configured has elapsed, only after do which we do a round of metrics collections and reporting.

[2020-09-08 17:36] FabianSchuetze commented on #10649
Thanks a lot for the kind and detailed reply @ericl ! Your explanations made things clear to me.

[2020-09-08 17:36] #10649 closed

[2020-09-08 17:52] richardliaw commented on #10640
Hi Moritz, I think the closest you can do is set `object_store_memory` or `memory` in `resources_per_trial`.

As far as I remember, I don't think we actually "enforce" memory limits (as in, we expect trials to be good citizens and abide by the memory limits).

This might be useful:
https://github.com/ray-project/ray/blob/39c598bab0929f007a49daa7262a7c9ee6492221/python/ray/tests/test_memory_schedul

[2020-09-08 18:39] richardliaw commented on #10641
@rhamnett thanks a bunch for raising this issue! We've fixed this in https://github.com/ray-project/ray/pull/10365/files.

[code]

[2020-09-08 18:39] #10641 closed

[2020-09-08 18:40] richardliaw commented on #10641
feel free to reopen if this is still an issue!

[2020-09-08 18:55] #10591 closed

[2020-09-08 19:13] mvindiola1 opened #10653 "[rllib] DDPG TWIN_Q LOSS ERROR"
The TD3 loss according to OpenAI Spinning up is:
![L1](https://spinningup.openai.com/en/latest/_images/math/7d5c18f49a242cc3eec554f717fe4f3bfc119bab.svg)

![L2](https://spinningup.openai.com/en/latest/_images/math/cd73726a8a3845ade467aed57714912f868f6b36.svg)

They implement this as you would expect:
[code]

The rllib implementation is off and I ran into training issues when using it.

Tensorflow:

[2020-09-08 19:57] yonkshi commented on #10648
Thank you @richardliaw, that's exactly what I was looking for :)

[2020-09-08 19:57] #10648 closed

[2020-09-08 20:00] #10378 closed

[2020-09-08 20:12] wuisawesome commented on #10087
why not just make `address=` work as expected?

[2020-09-08 20:15] ericl commented on #10087
I would be comfortable with that if we also renamed RAY_ADDRESS to RAY_OVERRIDE_ADDRESS or something like that.

[2020-09-08 20:17] wuisawesome commented on #10087
so just to be clear, you're advocating for env var taking precedence over argument to `ray.init` even if `auto` is specified?

[2020-09-08 22:02] richardliaw commented on #10631
This should be closed by #10654. @0luhancheng0 can you try master and let me know if this works?

[2020-09-08 22:02] richardliaw commented on #10631
(Feel free to reopen if not).

[2020-09-08 22:02] #10631 closed

[2020-09-08 22:06] frankstack opened #10655 "ray.init() error - "Retrying to connect to socket for pathname tcp...""
### What is the problem?

*Unable to ray.init() on Spyder 4.0 for Windows.*

### Explanation
I've just try to initialize **ray** in my Spyder by `import ray` and later defining:

`ray.init()`

However, my Sypder 4.0 gives me back this error in the console:

It seems extremely strange for me because I tried `ray` in a Jupyter Notebook of the same environment (_testenv_) before, and it works without

[2020-09-08 22:08] rallen10 commented on #7896
I have a related question but it has to do with callbacks instead of custom models and custom_loss. If I want to modify observations from a batch (e.g. for [centralized critic](https://github.com/ray-project/ray/blob/releases/0.8.7/rllib/examples/centralized_critic_2.py#L33)), how do I know which dimensions of `SampleBatch.CUR_OBS` correspond to which keys in the Dict observation space? I tried th

[2020-09-08 22:08] richardliaw commented on #10655
Hmm yeah @frankstack thanks a bunch for opening this issue. I wish we had a better diagnostic tool for this. cc @mehrdadn do you have any thoughts?

[2020-09-08 22:15] mehrdadn commented on #10655
@richardliaw Not anything beyond my comment on the other issue currently.
@frankstack For what it's worth, it may still be your antivirus, as some antiviruses still keep their drivers loaded and don't entirely turn off despite what the GUI may tell you. It would be nice if you can reproduce this on a system that's never had any AV installed at all. However, if that doesn't seem to be the issue, wh

[2020-09-08 22:19] mehrdadn commented on #10655
Oh, also, it'd be nice to check if Python >= 3.8.2 behave similarly.

[2020-09-08 22:45] frankstack commented on #10655
@mehrdadn Oh no, sorry. There is nothing wrong with your previous answer. It's just that I thought maybe I could find more information. But don't worry. I just tried using a new environment with python 3.8.2 and it works without any problem.

Many thanks for your support!

[2020-09-08 22:50] #10655 closed

[2020-09-08 23:19] rkooo567 commented on #10546
@ericl Can I close it?

[2020-09-08 23:21] #9807 closed

[2020-09-08 23:42] rallen10 opened #10660 "[rllib] How to associate keys in Dict observation space with SampleBatch.CUR_OBS in postprocessing callback"
How do you know which indices in the flattened observation in a batch (`postprocessing_batch[SampleBatch.CUR_OBS]`) are associated with which keys in a `gym.spaces.Dict` observation space?

For example, the [centralized_critic_2.py](https://github.com/ray-project/ray/blob/releases/0.8.7/rllib/examples/centralized_critic_2.py#L33) example fills in the other agent's action in a `on_postprocess_traje

[2020-09-08 23:52] ericl commented on #10546
Yeah I think the main ones are in.

[2020-09-08 23:53] #10546 closed

[2020-09-09 00:13] richardliaw commented on #10590
Fixed!

[2020-09-09 00:13] #10590 closed

[2020-09-09 01:03] crypdick commented on #3670
@edoakes just experienced this today. Was getting errors with placing objects into shared object store, which recommended to set `ray.init(object_store_memory=<bytes>)`. I set 500GB/768 GB RAM for object storage on a  r5.metal and was scratching my head why I was getting these errors.

[2020-09-09 02:13] rkooo567 commented on #10644
Ray's architecture has been changed a lot since then, and most of information you found from 4.0 might be misleading. You can instead take a look at our white paper for more details.

https://docs.ray.io/en/master/whitepaper.html

About your question, (Note all the information I am writing here is reflecting the "lates master" branch. If you are using some older version, some details could be diff

[2020-09-09 02:14] rkooo567 commented on #10634
@yiranwang52 also reported this bug.

[2020-09-09 02:14] rkooo567 commented on #10609
cc @sven1977

[2020-09-09 02:15] rkooo567 commented on #10605
Can you try `ray dashboard` command? This is doing port forwarding for you so that your laptop can access the dashboard in the head node.

[2020-09-09 02:18] rkooo567 commented on #10574
Ah, I think you have an issue to connect to GCS from worker nodes, and that might be why your worker nodes cpus are not reported to Ray.

[2020-09-09 02:20] robertnishihara commented on #10546
@rkooo567 I *think* there is some ongoing work in https://github.com/ray-project/ray/pull/10659.

[2020-09-09 02:20] rkooo567 commented on #10574
There were some changes in network translation from 0.8.7 => 0.9.0.dev0

`network_util.cc:62] Failed to find other valid local IP. Using 127.0.0.1, not possible to go distributed!`

I believe this log is something we added lately. What OS are you currently using?

[2020-09-09 02:23] rkooo567 commented on #10574
https://github.com/ray-project/ray/pull/10004

One of possibilities is that your machines are not using any of network interface listed in the PR description. Can you elaborate more about your cluster environment?

[2020-09-09 02:27] rkooo567 commented on #10574
The workaround is to manually set the Redis key so that raylets can find the IP address of GCS. look at this link https://github.com/ray-project/ray/issues/8648#issuecomment-664233815

[2020-09-09 02:29] wuisawesome commented on #10546
yep, but it's being tracked so it's fine that this is closed. we just need to remember to look over the documentation later

[2020-09-09 02:42] jindal2309 opened #10664 "[ray] How to regenerate micro-benchmarks results from the ray paper ?"
Hi,

I would like to run some experiments to regenerate results shown in Microbenchmarks section of Ray paper (Moritz 2018) on our GPU clusters. I want to try these two experiments: End-to-end scalability and Locality-aware task placement experiment. In the first experiment, the authors increase the number of nodes and check if throughput scales linearly or not and in the second experiment, the au

[2020-09-09 02:43] raoul-khour-ts commented on #10574
I'm using Debian 9

I would be happy to test if this would fix my issue but. I actually have no idea how to set the GcsServerAddress to 10.251.231.121:40531 in redis manually,

[2020-09-09 03:02] rkooo567 commented on #10574
In this case the gcs server address will be  [your head node private ip address]:[gcs_server port], and you can set this by connecting to the Redis in a head node.

[2020-09-09 03:14] 0luhancheng0 commented on #10631
@richardliaw

the error seems to persist with your pull request.

running with the example above gives
[code]

[2020-09-09 03:17] raoul-khour-ts commented on #10574
so running "python3 -c "import redis; r = redis.Redis(host=xxx, port=yyy, db=0); r.set('GcsServerAddress', 'xxx:zzz')"

Ill try this tomorrow. Thank you @rkooo567 Ill let you know how that goes.

[2020-09-09 03:19] wuisawesome commented on #10664
I'm not sure if those code examples still exist, but just a heads up, Ray has been rearchitected since then, so it's significantly faster and the architecture is a bit different since that paper.

You could probably recreate a benchmark with similar results by
1. spinning up a 100 node cluster
2. place objects on random nodes by calling `ray.put` from random nodes (this can be achieved by calling

[2020-09-09 03:26] rkooo567 commented on #10574
Yeah I think that should work. Don’t forget to specify gcs-server port with “ray start —head —gcs-port=“ so that you don’t need to worry about finding where gcs server has been bound to.

[2020-09-09 03:27] rkooo567 commented on #10574
Btw, it is interesting the new version has some addresses it resolve while 0.8.7 could. We should probably find a solution for this.

[2020-09-09 04:01] kiranvad commented on #10605
Thanks for the suggestion.
I tried this but it requires `cluster.yaml` as an input which I haven't set up
I am using the example: [deploying on slurm](https://docs.ray.io/en/releases-0.8.5/deploying-on-slurm.html)

Any suggestions on how to get this working in this case?

[2020-09-09 04:25] richardliaw commented on #10631
Hmm, are you sure you updated Ray correctly?

I ran the Ray example you posted exactly and was able to run it successfully after the changes.

[2020-09-09 04:34] 0luhancheng0 commented on #10631
Hi richard, i reinstalled the latest wheel and it works! Looks like there was an issue with my previous update. Thank you very much!

[2020-09-09 05:35] suquark commented on #10637
The main issue is that pickle5 itself doesn't provide anything for version check (like version string etc). This is the only fairly stable way to check the pickle5 version. We enforce the version check, because previous pickle5 versions would leak memory (a known python 3.8.0 bug), causing hidden but serious troubles for users.

[2020-09-09 05:38] suquark opened #10668 "A lot of Ray commands fail in nightly build"
### What is the problem?

This is because they keep passing the deleted `redis_password` keyword.

For example,

[code]

Also I feel confused about many prompts and docs still mentioning `redis_password` while it no longer exists in `ray.init`

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.

[2020-09-09 06:15] wuisawesome commented on #10668
Thanks for the heads up!

[2020-09-09 06:17] bkusenda commented on #9823
Even though the local worker isn't being used, it creates one or more instances of the environment.  This is a problem for environments that have expensive initialization cost.   If this behavior is intended, perhaps it should be in the main documentation.

[2020-09-09 07:15] eric-tramel commented on #6990
It is an even worse issue if you need to work remotely, and thus VPN to your company servers, but then do remote work for clients on _their_ remotes (only accessible through whitelisted VPN). So, it is mandatory to have the VPN working to reach the possible ray instance, and in this case, the behavior described above is preventing core Ray services from being reached.

In this case, one cannot dis

[2020-09-09 07:18] eric-tramel commented on #7316
See my followup comment in the discussion of #6990, but this is still a true issue that prevents the use of Ray on remote servers that are only reachable through VPN. In these cases, it is not possible to just disable local features and work locally. The VPN/proxy behavior is a required element of having a connection to a remote server where a ray instance/compute would be run.

[2020-09-09 07:42] sytelus commented on #10637
@suquark - I see you are using private pickle5 files anyway. So do you still need version checks? If you do, can we use [other methods](https://stackoverflow.com/questions/8880661/getting-package-version-using-pkg-resources)? If not, can we make warning instead of exception?

Currently ray.init() is straight out failing and we have no way to fix it because older pickle5 is loaded from some other d

[2020-09-09 07:55] chaokunyang opened #10673 "[Java] Java 9/10/11 support"
### Describe your feature request
Ray java support is mainly written in java 8. It has some compatibility issues with java 9 or higher version. Most compatibility are warnings like `Illegal reflective access` warning. But some are the erros. We should  fix the errors firsxt and try to remove those warnings.

[2020-09-09 07:58] chaokunyang commented on #10673
When running using jdk14, we got follwing warnings:
[code]

[2020-09-09 08:22] krfricke commented on #10426
Hey @janblumenkamp and @rhamnett this should be fixed via #10654. If this issue prevails, feel free to re-open!

[2020-09-09 08:38] gumupaier opened #10675 "Does ray support docker swarm deployment?"
Where can I find the documentation related to docker swarm deploying ray?

[2020-09-09 09:01] #10434 closed

[2020-09-09 11:07] markqiu commented on #9869
I mean may we use fastapi instead of flask in http_util(https://github.com/ray-project/ray/blob/master/python/ray/serve/http_util.py)?

[2020-09-09 11:22] elgalu opened #10676 "RLlib AirSim support?"
Is it also possible to use https://github.com/microsoft/AirSim with RLlib? (in addition to OpenAI/Gym or CARLA)

[2020-09-09 11:57] stefanbschneider commented on #9410
I just upgraded to 0.8.7 on WSL on Windows and I also have this error. Disabling my antivirus didn't help.

[2020-09-09 11:59] mehrdadn commented on #9410
@stefanbschneider: Does this help? https://github.com/ray-project/ray/issues/10655#issuecomment-689164890

[2020-09-09 12:00] AlkaidCheng opened #10677 "[tune] Concurrent trials of tensorflow models on a single GPU"
If the machine only has a single GPU, is it possible run multiple trials concurrently when dealing with tensorflow models?

I tried to do so by setting a fractional value of resources per trial for the gpu but ended up having the error
tensorflow.python.framework.errors_impl.InternalError: CUDA runtime implicit initialization on GPU:0 failed. Status: all CUDA-capable devices are busy or unavailabl

[2020-09-09 12:06] stefanbschneider commented on #9410
Hm, so the error occurred with my antivirus disabled via GUI and Python 3.8.3 on WSL 1 on Windows 10 for ray[rllib] 0.8.7.

I downgraded to 0.8.6 and the problem is resolved. That's more convenient for me than trying to completely disable my antivirus (which I don't want).

[2020-09-09 12:08] mehrdadn commented on #9410
@stefanbschneider Ah I see, okay thanks. @richardliaw/@rkooo567 just a heads up; not sure if you guys want to reopen the issue.

[2020-09-09 12:19] xlnwel opened #10678 "[rllib] Inform the agent a new episode starts"
### What is your question?
Is there a way to tell the agent that a new episode starts when I define a custom `action_sampler_fn` for rllib's Ape-X?

*Ray version and other system information (Python version, TensorFlow version, OS):*
`ray[rllib]==0.8.6`

[2020-09-09 16:14] alexanderkell commented on #9643
I am getting the same error when running with Ubuntu. I don't get this issue when running on macOS

[2020-09-09 16:20] alexanderkell commented on #9643
I managed to fix this by downgrading ray to 0.8.4 with pip3 install ray==0.8.4

[2020-09-09 16:37] rhamnett commented on #10426
@krfricke @richardliaw Afraid that I am still seeing the same error when running an APPO job

[2020-09-09 16:40] #10668 closed

[2020-09-09 16:52] #10270 closed

[2020-09-09 16:53] krfricke commented on #10426
Hi @rhamnett, did you install the latest nightly ray release? Do you have a script to reproduce the error?

[2020-09-09 17:00] rhamnett commented on #10426
@krfricke yes I am familiar with re-installing the nightly and can confirm that I have done that correctly. My script is lengthy and contains private intellectual property, so I am wondering if you can just simply adapt a PPO test you might have to APPO (should be trivial) and then let me know if you can re-produce?

If after trying that, you can't reproduce, I will seek to dedicate some time to g

[2020-09-09 17:19] krfricke commented on #10426
Thanks, I could confirm the issue and filed a new PR to tackle it.

[2020-09-09 17:20] rhamnett commented on #10426
@krfricke appreciate it

[2020-09-09 17:23] ZekiDorukErden opened #10681 "[rllib] Error when restoring checkpoint: 'TypeError: unhashable type: 'slice''"
Hello,

I get the following error when I try to restore a checkpoint:

`
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-36-d153901de529> in <module>()
    194       last_checkpoint_str = str(folder_list[-1])
    195       last_checkpoint_num = int(last_checkpoint_str.replace('_',

[2020-09-09 17:53] richardliaw commented on #10247
Closed in #10663

[2020-09-09 17:53] #10247 closed

[2020-09-09 17:54] richardliaw commented on #10488
Closed in #10645

[2020-09-09 17:54] #10488 closed

[2020-09-09 18:49] suquark commented on #10637
I think maybe the better way is to give users a warning when failed to detect the pickle5 version. In this case we cannot forcefully unload user's pickle5 module and replace with ours private pickle5 copy anyway, and users have to accept possible memory leaks if they are using previous pickle5 versions.

[2020-09-09 18:55] wuisawesome commented on #10087
seems to have fixed itself... closing since it can't be reproduced anymore

[2020-09-09 18:55] #10087 closed

[2020-09-09 20:00] raoul-khour-ts commented on #10574
@rkooo567
Sorry about the delay here but it worked!!!:

ray start --head --gcs-server-port=ddd --cpus=0
[code]
ssh to other_machine
ray start --address=xxx --redis-password=zzz --num-cpus=24

back on main machine:
 'python3 -c "import ray; ray.init(address='auto');print(ray.available_resources())"

Now the question is how do we make this work without having to do all this...

[2020-09-09 21:07] rkooo567 commented on #10574
The issue here is your manual cluster’s network interface is probably not typical, and we have trouble resolving addresses. I think I can create a patch that allows you to specify GCS address. What do you think about this solution?

[2020-09-09 21:09] raoul-khour-ts commented on #10574
@rkooo567 honestly the gcs address is always going to be the --head ip_address for me at least. Shouldn't that be easy to resolve?

[2020-09-09 21:12] rkooo567 commented on #10574
Ah, I see. So, the issue is gcs server address is not matching head ip address you specified right?

[2020-09-09 21:33] raoul-khour-ts commented on #10574
Well the gcs server address seems to for some reason fail to connect to head_ip_address then fall back to localhost. However that prevents remote machines from connecting.

[2020-09-09 21:35] raoul-khour-ts commented on #10574
but If i go back into redis and manually set it to head_ip_address everything is fine...

[2020-09-09 23:59] sumanthratna opened #10688 "[core] [docs] use-cases for Ray's async support"
### Describe your feature request

I think it might be useful for users to describe specific use-cases for using [Ray’s async integration](https://docs.ray.io/en/master/async_api.html)

[2020-09-10 00:01] tom-doerr opened #10689 "[rllib] rllib for setting hyperparameters of other networks"
Should we be able to use rllib to set hyperparameters of other neural networks?
I can use PPO, A2C and IMPALA without an issue, but when I try to use SAC to set the hyperparameters I get the same issue someone else reported here: https://github.com/flow-project/flow/issues/1008 .
Is rllib using some global variables that can conflict with running other neural networks in the same environment or co

[2020-09-10 00:07] rkooo567 commented on #10688
Actually, I am writing this right now by chance!!

[2020-09-10 01:04] twillkens opened #10690 "[k8s][autoscaler] Possible command parsing issue, worker nodes quickly dying"
### What is the problem?
There seem to be multiple bugs in the kuburnetes autoscaler. When running `ray`, commands appear to be parsed incorrectly,  resulting in the failure to start the ray runtime on the head node. After manually entering the pod on the head node and starting the ray runtime, a worker node is briefly spawned and quickly dies.

### Version/System
I'm working off of the latest mas

[2020-09-10 01:08] richardliaw commented on #10690
@twillkens thanks a bunch for taking the time to open this issue!

cc @ijrsvt @wuisawesome could you take a look at this? I've marked it as a release blocker for now.

[2020-09-10 01:34] ericl opened #10691 "Abstraction violations in command_runner interface"
It seems we have a few new abstraction violations for the CommandRunnerInterface.

8f0f7371a055257b4c704bad49edccbfbfc01831 (#10097) introduced `run_cp_up` and `run_cp_down`.
dc378a80b77685cc45c2b53e2f484ed9c6d8c44c (#9515) introduced `run_init`

cc @AmeerHajAli

@richardliaw @krfricke these abstraction violations are blocking @AmeerHajAli 's work proxying the cloud providers.

Can we either (1) r

[2020-09-10 01:41] wuisawesome commented on #10691
Cc @ijrsvt i believe docker code is relying on this too

[2020-09-10 01:44] richardliaw opened #10692 "[autoscaler] monitor.py has a memory/thread leak"
### What is the problem?

With this cluster yaml, you can watch monitor.py via `htop` quickly eat up all of the available memory.

It also seems to be creating hundreds of NodeUpdater threads.

*Ray version and other system information (Python version, TensorFlow version, OS):* master

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should hav

[2020-09-10 01:48] ericl commented on #10692
@wuisawesome could this be related to your new reloading code that creates a new node provider on config update?

[2020-09-10 01:52] richardliaw commented on #10691
It looks like the rsync/cp addition on the Tune end was a matter of convenience/hiding the error message.

If we switch to raising a warning  via the warnings library instead of logging a warning, this would suffice.

[2020-09-10 01:53] ijrsvt commented on #10691
@ericl For `run_init` the solution is super easy, just add `run_init` to the `CommandRunnerInterface` and have it as a `noop` for non Docker Command Runners.

[2020-09-10 02:00] AmeerHajAli commented on #10691
@ijrsvt , This will make it work only in dockers only.

[2020-09-10 02:04] richardliaw commented on #10691
From Ameer in other correspondence:

Perhaps we have two options (open to more):
1. strictly follow and implement only the CommandRunnerInterface.
2. My project will subclass DockerCommandRunner only.

[2020-09-10 02:05] ijrsvt commented on #10691
@AmeerHajAli  how so?
It would look something like this

[code]

NodeUpdater will just call `self.cmd_runner.run_init()` and for any CommandRunner that does not want to implement `run_init()` it will use the Interace's `noop` version.

[2020-09-10 02:08] AmeerHajAli commented on #10691
@ijrsvt thanks for the clarification. That looks like it would work, I just have to implement `run_init` in my class too.

[2020-09-10 02:11] ijrsvt commented on #10691
@AmeerHajAli  Glad we are on the same page!
@ericl  Is this something we should cherrypick into 1.0

[2020-09-10 02:14] wuisawesome commented on #10691
I totally see why this this abstraction is important, but why cherry pick it into 1.0 unless there are known bugs?

[2020-09-10 02:27] richardliaw commented on #10691
@AmeerHajAli we can get rid of it (https://github.com/ray-project/ray/issues/10691#issuecomment-689923942)

[2020-09-10 02:35] richardliaw commented on #10692
Just did some digging - we cannot create providers constantly, as is currently done in `autoscaler.reset()`.

[code]

Seems like this is a necessary fix (or at least you need to clean up the existing provider):
[code]

[2020-09-10 02:40] AmeerHajAli commented on #10691
@richardliaw I see, I can remove the external calls to run_cp_<up/down> and make `run_init` part of the command runner interface.

Are you all ok with that? @ericl @richardliaw @ijrsvt @wuisawesome ?

[2020-09-10 02:46] chaokunyang opened #10693 "[Java] A fatal error has been detected by the Java Runtime Environment"
### What is the problem?
These is a jvm crash occurs casually in travis ci.
[code]
Seems a bug related redis usage. See more on https://travis-ci.com/github/ray-project/ray/jobs/382539075#L1253

### Reproduction (REQUIRED)
Rerun travis java ci repeatedly should reproduce the issue.
- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue

[2020-09-10 02:55] richardliaw commented on #10691
that'd be fine; can you also please change the logger warning to a user warning? https://docs.python.org/3/library/warnings.html

That'll make it possible for us to catch.

[2020-09-10 03:00] wuisawesome commented on #10691
sgtm

[2020-09-10 03:24] kfstorm opened #10694 "[Java] Too many logs in Java driver"
### What is the problem?

[code]
### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the

[2020-09-10 03:25] kfstorm commented on #10694
cc @wuisawesome @raulchen @chaokunyang

[2020-09-10 03:30] kfstorm opened #10695 "[Java] List available configuration options in doc"
### Describe your feature request

There are a lot of out-dated or private options in `ray.default.conf`. Better to list only verified and public options in doc.

[2020-09-10 03:31] kfstorm commented on #10695
cc @wuisawesome @raulchen @chaokunyang

[2020-09-10 03:37] raulchen opened #10696 "Upload jars for every master commit to Maven"
#7291

[2020-09-10 03:37] raulchen commented on #10694
link #7291

[2020-09-10 03:37] raulchen commented on #10695
link #7291

[2020-09-10 03:43] chaokunyang commented on #10696
Will deploy snapshort jars to https://oss.sonatype.org/content/repositories/snapshots foir every commit in ray master commit

[2020-09-10 04:01] wuisawesome opened #10697 "Update documentation to avoid deprecated fields"
### What is the problem?

We currently have lots of documentation that refers to fields which are now removed or hidden in Ray 1.0 (`redis_password` is the worst offender). We should make sure we remove these before Ray 1.0 is released. This should involve no code changes.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please prov

[2020-09-10 04:23] kfstorm opened #10699 "[Java] rename option `ray.redis.address` to `ray.address`"
Redis is a deprecated concept in Ray.

[2020-09-10 04:24] kfstorm commented on #10699
#7291

[2020-09-10 04:25] kfstorm commented on #10699
#10695

[2020-09-10 04:31] pcmoritz opened #10700 "[autoscaler] Output of failed ray start command not shown"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray commit b9633a2b6777f287f75378ca2147d436262f752e

When I use `ray up` and the command to start Ray is failing, there is no indication as to why that happened.

[code]

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **n

[2020-09-10 04:41] richardliaw opened #10702 "[autoscaler] cluster_synced_files doesn't support `~`"
### What is the problem?

`~/filename` is marked as "nonexistent" despite actually existing on the cluster.
*Ray version and other system information (Python version, TensorFlow version, OS):* master

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

[2020-09-10 04:55] wuisawesome commented on #10691
Can we put this on hold until after 1.0 is actually released?

This isn't doesn't affect the end user and we have a bunch of release blocker bugs in the autoscaler right now that this will almost certainly cause merge conflicts with. (unless you believe that fixing this issue will resolve bugs in 1.0)

[2020-09-10 05:27] ijrsvt commented on #10691
@AmeerHajAli  SGTM, @wuisawesome  I don't imagine changing this  (`run_init`) abstraction would cause many merge conflicts as it would be adding a 2-4 lines to `command_runner.py` and removing 2 from `updater.py`.

[2020-09-10 05:27] PengLong666 opened #10704 "Could not connect to socket /tmp/ray/session"
what should I do with ray.init()?  And I have tried to change object_memory, but it doesn't work.
 python is 3.6.2,  ray is 0.8.6, torch is 1.6.0.

2020-09-11 01:21:32,856	INFO resource_spec.py:212 -- Starting Ray with 293.85 GiB memory available for workers and up to 13.97 GiB for objects. You can adjust these settings with ray.init(memory=<bytes>, object_store_memory=<bytes>).
2020-09-11 01:21:3

[2020-09-10 06:35] richardrl opened #10707 "[autoscaler] ray submit check/rsync local and node code"
One thing that's really important for reproducibility is making sure the training code on the cluster is exactly the same as the local dev environment. I believe we should have the option to make this check when calling "ray submit ... ", and either cancelling the job if the code on the cluster is different, or rsyncing to update the cluster code.

This option would check the cluster YAML file, an

[2020-09-10 06:41] wuisawesome commented on #10707
We should probably be syncing consistently when executing anything on a cluster (including `ray exec`)

[2020-09-10 06:49] schukerzheng opened #10708 "Worker crached with traces sometimes but i don't how to fix it"
I'm using pytest and ray framework to test something.
test code:
[code]
resources mixer and logger are customal resources, which are defined on different host,  the available resources count are both 1.
When I ran the pytest command, such as `pytest test_script.py`,  on 'logger' host,  sometimes works are nomal, but logs won't be show on terminal. Sometimes workers will crashed with traces below a

[2020-09-10 06:49] richardrl commented on #10707
Also another related thing that can be done is ensuring every code change is committed in Git before allowing ray submit something.

[2020-09-10 07:07] #10426 closed

[2020-09-10 08:09] richardliaw commented on #10708
What version of Ray are you using? If you're on master, could you try running `pytest test_script.py -s`?

[2020-09-10 08:10] richardliaw opened #10712 "[cli] programmatically obtain cluster state"
### Describe your feature request

would be great to do `ray status {CLUSTER} --format=table|json|csv` This would allow users to not need to spin-wait for a cluster to come up.

[2020-09-10 09:19] ThomasLecat commented on #7341
Hi all,

I have been working on MARL with differentiable communication between agents and I just stumbled on this ticket. We came up with exactly the same solution that consists in implementing a "super agent" (that we call "central agent": CentralPPO, CentralDQN), with all the tricks described so well by @janblumenkamp in his message:

It works, with a few difficulties at evaluation time like #10

[2020-09-10 09:28] janblumenkamp commented on #7341
Hi Thomas, last time I talked to Sven he told me that according to the current schedule, the trajectory view API for multi-agent use cases will be tackled after the Ray summit in October.
We stuck to the super-agent approach and it worked quite well for us, but it involves a few not so nice hacks and workarounds, so I am definitely still looking forward to the multi-agent trajectory API.
If you ar

[2020-09-10 09:46] schukerzheng commented on #10708
ray version is: 0.8.7
I think some bugs cause task not executing correctly, so logs can't be shown on termial.
I've tried several times, another trace below is shown in "logger" worker logs file:
[code]

[2020-09-10 09:51] schukerzheng commented on #10708
pytest -s console output:
[code]

[2020-09-10 10:01] ThomasLecat commented on #7341
Hi Jan, thanks for the quick reply and congrats on the paper, I will definitely read it and see how it relates to the other approaches like [Graph Convolutional RL](https://arxiv.org/abs/1810.09202), [STMARL](https://arxiv.org/abs/1908.10577), [MARL for networked system control](https://arxiv.org/abs/2004.01339), [Intention propagation](https://arxiv.org/abs/2004.08883), that all revolve around th

[2020-09-10 11:32] csdingbin opened #10714 "Will ray support distribute tensorflow feature engineerring component?"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):
Such as https://github.com/tensorflow/models/blob/master/research/slim/datasets/build_imagenet_data.py, which was used to process the data of imagenet dataset. Will ray support to distribute it? Or How to distribute it on Ray. Hi @richardliaw or other guys, do you have any idea on this?

[2020-09-10 12:14] rhamnett commented on #10486
@richardliaw To add to this, I am trying to resume a run to perform additional episodes.

My original tune stopper class is set at 5000. Once the first run is finished, I increase the stop value and resume the tune, the run simply terminates. Could you please advise what I need to do to get it to resume for further episodes?

[2020-09-10 12:51] AmeerHajAli commented on #10691
Made a PR! #10715

[2020-09-10 13:08] zzcNEU commented on #9750
Hello, I just run the examples Python examples/attention_net.py.
But,
![image](https://user-images.githubusercontent.com/38434094/92733021-c64a4480-f3a9-11ea-9a57-7299c64befa8.png)

[2020-09-10 13:09] #10522 closed

[2020-09-10 13:12] zzcNEU commented on #10603
Hi, ray team! I am running examples/attention_net.py .
@sven1977 ,
@ericl
I input the python /examples /attention_net.py .
But,

![image](https://user-images.githubusercontent.com/38434094/92733389-36f16100-f3aa-11ea-94d6-c011d7d88d0f.png)

[2020-09-10 13:22] FabianSchuetze opened #10716 "Why are the results when building a trainer from `ray.rllib.agents.trainer_template.build_trainer` so much worse than using `DQNTrainer` directly? [question]"
I am working through the section [RLlib Concepts and Custom Algorithms](https://docs.ray.io/en/latest/rllib-concepts.html) and try to understand how to generate custom trainers.

I thereby realized that instantiating a trainer with a `DQNTorchPolicy` from `ray.rllib.agents.trainer_template.build_trainer` lead to much lower performance than when using a DQNTrainer (with `framework:torch`). Below is

[2020-09-10 13:28] zzcNEU commented on #10603
hello,@ericl
@sven1977
I read the error.txt.
![image](https://user-images.githubusercontent.com/38434094/92735977-6f923a00-f3ac-11ea-8977-b440bd68b0ab.png)

It means You must feed a value for placeholder tensor 'default_policy.

I should write the default policy,Right?

[2020-09-10 14:14] stefanbschneider commented on #9750
Did you scroll up and/or check the error file for the cause of the error?