[2022-09-28 15:51] krfricke opened #28853 "[ci] Do not run full test suite for dataset/dag/workflow-only changes."
Right now, every test suite is running when dataset or workflow only changes are added. We shouldn't invoke the full test suite when workflow & dataset is updated.

[2022-09-28 16:04] nallagangus opened #28854 "Issue on page /ray-core/examples/plot_parameter_server.html"
The following sync parameter server code block is potentially missing a "ray.get(gradients)" on futures(gradients) computed workers before applying gradients on "ps" parameter server.

Sudhir Nallagangu

=========================
print("Running synchronous parameter server training.")
current_weights = ps.get_weights.remote()
for i in range(iterations):
    gradients = [worker.compute_gradients.re

[2022-09-28 16:17] joshua-cogliati-inl opened #28855 "[Ray component: Core] Returning to much data from ray remote fails with no error"
### What happened + What you expected to happen

When using ray with multiple nodes, if too much data is returned from a ray remote command, it will silently fail. The script works if I only send about 3 MB, but never finishes if I send about 35 MB.

I would have expected either the data to be returned, or an error to be called.

Error logs:
[code]

Example ray status:
[code]

### Versions / Depen

[2022-09-28 16:19] joshua-cogliati-inl commented on #27499
Added new issue at: https://github.com/ray-project/ray/issues/28855

[2022-09-28 16:57] shrekris-anyscale commented on #28704
Ray 2.0 does let deployments call other deployments via handles. In 2.0, handles must be passed to deployments through their constructor. Here's an example with `DataInterface` and `MyAPI`:

[code]

Note that the constructor for `MyAPI` has changed to take in the `DataInterface` deployment. At runtime, the bound deployment is converted to a handle within the `MyAPI` deployment. There's more detail

[2022-09-28 17:09] DmitriGekhtman commented on #24985
@iycheng @scv119 @jjyao could one of you triage/assign this -- we're getting a lot of questions from users on this

[2022-09-28 17:15] rickyyx commented on #28709
Is this one due to non-retriable actor being killed?

[2022-09-28 17:55] architkulkarni opened #28859 "[runtime env] Broaden acceptable directory structure for remote `zip` working_dir"
### Description

From @pcmoritz :

Two failure cases:

- Users don't respect the format and have no top level directory in their .zip file, instead dropping the files directly into the .zip
- Users do have a top level directory but they used macOS finder to compress the files so they have an additional hidden __MACOS folder in their .zip file that will prevent this from working.

Proposed behavior

[2022-09-28 18:02] jiaodong opened #28860 "[Backlog][Collective] Facilitate NCCL test in ray cluster"
### Description

LLM training in GPU cluster constantly run into NCCL / bad host issues. Ray can help to make running NCCL test in a cluster much easier.

We should be able to:

- Make it easy to run nccl-test in ray cluster to detect bad hosts
- Prevent bad hosts from being scheduled completely

From AI@Scale from Susan about OPT-175B:

<img width="1391" alt="Screen Shot 2022-09-28 at 10 37 09 AM

[2022-09-28 18:08] cadedaniel commented on #28860
In my experience, the most annoying part was figuring out the flags to run in `nccl-test` -- we can abstract a few test configurations away from the user, such as bandwidth-test, memory-test, pci-test, etc.

[2022-09-28 19:50] bveeramani opened #28866 "[Datasets] Add `BlockAccessor.to_tabular_block()`"
### Description

For context, read https://github.com/ray-project/ray/pull/28413#discussion_r981338608.

### Use case

* Makes `Datasource`-level more pandas/Arrow-agnostic
* Centralizes logic in the `BlockAccessor` layer

[2022-09-28 19:52] bveeramani opened #28867 "[Datasets] Add partitions per-block instead of per-batch"
### Description

For context, read https://github.com/ray-project/ray/pull/28413#discussion_r981346658.

### Use case

Better performance.

[2022-09-28 19:52] rickyyx commented on #28777
Yes, you are absolutely right here.  Closing the issue for now - feel free to re-open or follow up.

[2022-09-28 19:52] #28777 closed

[2022-09-28 19:55] bveeramani opened #28868 "[Datasets] Move `_add_partitions` logic to `TableBlockBuilder`"
### Description

For context, read https://github.com/ray-project/ray/pull/28413#discussion_r981397002.

### Use case

* Cleaner abstractions
* Makes it easier to optimize

[2022-09-28 20:05] bveeramani opened #28869 "[Datasets] Raise error if block schemas are inconsistent"
### What happened + What you expected to happen

If a datasource returns blocks with different schemas, we should raise an error or handle the inconsistencies in a well-defined manner.

### Versions / Dependencies

Ray: c4348c1889695fffab720145f9b06203acda585f

### Reproduction script

[code]

### Issue Severity

Low: It annoys or frustrates me.

[2022-09-28 20:21] rickyyx opened #28871 "[serverless] test_client test flaky on linux"
### What happened + What you expected to happen

<img width="1805" alt="image" src="https://user-images.githubusercontent.com/11676094/192880731-4512d8b6-8022-4ee7-b6fc-a070ce3c208e.png">

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-09-28 20:21] rickyyx commented on #28871
cc @ckw017 who is looking it already.

[2022-09-28 21:00] bveeramani opened #28872 "[Datasets] Improve `batch_format` error message"
### Description

The "Supported batch type" (e.g., `ForwardRef('pandas.DataFrame')`) aren't valid `batch_format` values. It'd be helpful if the error message instead said

### Use case

_No response_

[2022-09-28 21:25] jjyao commented on #24985
@DmitriGekhtman we will cover it in the new core fault tolerance doc.

[2022-09-28 21:47] jianoaix opened #28874 "[Datasets] Support MongoDB as a datasource for Dataset"
This is a feature request to add MongoDB as a datasource to read and create Dataset. This will be supported by implementing a custom DataSource.

Use cases:
- MongoDB is a popular non-SQL database (e.g. ranked 5th on https://db-engines.com/en/ranking, and all 4 DBs above are SQL databases), so it's useful to have support from Datasets.
- We actually have customers using MongoDB in production. With

[2022-09-28 21:48] DmitriGekhtman commented on #24985
Added some formal labelling to indicate that we're on top of it! :) :)

[2022-09-28 21:55] wired-mind opened #28875 "Runtime Environment Dependencies- container per task"
### Description

Have the ability to specify a container image for each task (if necessary) as part of the runtime environment options. This would allow container images to be smaller and purpose fit and would help eliminate the time penalty of pip/conda installs, or binary retrieval etc.

### Use case

You have a job with multiple tasks where one task has a modest number of imports, another one h

[2022-09-28 22:05] jjyao opened #28876 "[Core] Worker node ignoring --temp-dir option"
### What happened + What you expected to happen

When we start a node we can specify `--temp-dir` but seems it only works if the node is the head node. If the node is a worker node, it will use the same temp-dir as the head node ignoring the --temp-dir that passes to it. This means we cannot use different temp-dir for different nodes in the cluster.

### Versions / Dependencies

master

### Reprod

[2022-09-28 22:33] DmitriGekhtman opened #28878 "[Kubernetes] Struggling to set up an internal Redis with a custom K8s setup."
### What happened + What you expected to happen

We're having some trouble setting up an external Redis with a static, non-operator-managed, K8s-Deployment-based Ray cluster setup.
The [config file in this draft PR](https://github.com/ray-project/ray/pull/28877/files) is my attempt to get it working.

That file is my attempt to combine the existing static Ray cluster setup [here](https://github.co

[2022-09-29 02:14] matthewdeng commented on #28763
@ArturNiederfahrenhorst looks like this is still failing in [2.0.1](https://buildkite.com/ray-project/release-tests-branch/builds/1070) and in [master](https://buildkite.com/ray-project/release-tests-branch/builds/1063).

For #28703, is the important change `gym[atari]`? Should we be adding the `atari` extra in [requirements_rllib](https://github.com/ray-project/ray/blob/master/python/requirements

[2022-09-29 04:11] jovany-wang commented on #28876
Isn't that by designed?

[2022-09-29 04:40] jiaodong commented on #28545
cc: @DmitriGekhtman this is one of the large model training users we're engaging with who might come visit us someday. Do you mind taking a closer look at this and we can discuss the actionable items needed ?

[2022-09-29 04:41] jiaodong commented on #28546
cc: @DmitriGekhtman this is one of the large model training users we're engaging with who might come visit us someday. Do you mind taking a closer look at this and we can discuss the actionable items needed ?

[2022-09-29 05:04] DmitriGekhtman commented on #28546
@zygi I've followed a similar strategy to provision Ray on TPU pods in this "hackathon" [PR](https://github.com/DmitriGekhtman/ray/pull/139/files)

I agree that it is non-trivial to figure out how to get the autoscaler to provision TPU pods in a natural, hack-free, way.
The autoscaler does not have a concept of multi-Ray-node instances.

Here's a repo with scripts indicating how to set up Ray on T

[2022-09-29 05:08] DmitriGekhtman commented on #28545
Similar to the other issue -- The overarching goal as I understand it is to provision Ray on TPU slices.
I think it would be ideal to work out a solution that doesn't involve the autoscaler.

[2022-09-29 05:44] jiaodong commented on #28546
In addition to what @DmitriGekhtman pointed out, my understanding so far is LLM users don't actually need autoscaler, but rather a static sized cluster that works well and provides abstraction needed to facilitate their placement group / model parallelism policies.

@zygi feel free to correct us if our understanding is inaccurate. We're actively working with https://github.com/alpa-projects/alpa/b

[2022-09-29 06:13] larrylian commented on #28814
This is caused by the PG mechanism. I will see whether to optimize this problem later, but it will not be changed for the time being.

You are now just to count the resource size of the application. The current problem can be solved by processing the string "CPU_group_e765be422c439de2cd263c5d9d1701000000"

[2022-09-29 06:22] AJSVB commented on #8088
I was reading this issue and wondered if there was information on the Rllib website about choosing the HPs.
I don't think I found on the documentation that if the state doesn't matter we can set both gamma and lambda to 0.0.

[2022-09-29 07:27] justinvyu commented on #28196
This issue will be fixed with the PR above! Reproduced the error and it's the exact failure mode that I was seeing in my other experiment.

The failure mode is when Trial A exploits Trial B, and Trial A ends up with Trial B's hyperparameter config but incorrectly uses its own checkpoint for loading model parameters. In this case, Trial B's hyperparemter config defines the model architecture (# of

[2022-09-29 14:18] xwjiang2010 commented on #28196
Nice! Thank you!!

[2022-09-29 14:24] bveeramani opened #28889 "[Docs] Incorrect command in install instructions"
### Description

Followed https://docs.ray.io/en/master/ray-contribute/development.html#preparing-to-build-ray-on-macos, but got an error.

[code]

Should be `./scripts/install-bazel.sh`

### Link

https://docs.ray.io/en/master/ray-contribute/development.html#preparing-to-build-ray-on-macos

[2022-09-29 14:39] xwjiang2010 opened #28890 "[ray client] surface ray client logs better"
### What happened + What you expected to happen

Seems like we still need to continue to support Ray Client. Currently to debug ray client issue, one has to do several hops as shown below.

what one sees on ray client side:
[code]

And then going to core logs, one sees
[code]

After hopping to the correct ray client server log, one sees
[code]
This is where the real error information is revealed.

[2022-09-29 14:39] xwjiang2010 commented on #28890
cc @ericl

[2022-09-29 15:58] bllmo opened #28891 "[Datasets] pyarrow.lib.ArrowInvalid: CSV parse error: Row #2426: Expected 18 columns, got 15"
### What happened + What you expected to happen

I have a malformed csv and with this settings I received this error:

[code]

I implement this code for skip invalid row but still doesn't work

[code]

### Versions / Dependencies

Ray 2.0.0, Pyarrow 9.0

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-09-29 16:00] #28348 closed

[2022-09-29 16:04] rickyyx opened #28892 "[core][flaky] test_cli flaky"
### What happened + What you expected to happen

<img width="1773" alt="image" src="https://user-images.githubusercontent.com/11676094/193081846-64fed536-af18-4ffc-aafc-2c5db130f3a1.png">

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-09-29 16:13] rickyyx commented on #28871
<img width="1805" alt="image" src="https://user-images.githubusercontent.com/11676094/193083812-8abf8e87-4226-4aea-bcfe-a6a30df4b198.png">

[2022-09-29 16:14] rickyyx opened #28893 "[core][flaky] test_advanced_4 and test_advanced_9 flaky on osx"
### What happened + What you expected to happen

<img width="1805" alt="image" src="https://user-images.githubusercontent.com/11676094/193083948-6bf78da1-4dd8-4573-b3ac-3173824ca953.png">

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-09-29 16:17] rickyyx opened #28894 "[core] [flaky] osx://python/ray/tests:test_actor_failures"
### What happened + What you expected to happen

<img width="1789" alt="image" src="https://user-images.githubusercontent.com/11676094/193084604-8686973e-1f1f-412d-9bdb-70f15e13d984.png">

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-09-29 16:29] architkulkarni commented on #28816
Newly flaky after https://github.com/ray-project/ray/pull/28589, should be an easy fix.
https://flaky-tests.ray.io/
[code]

[2022-09-29 16:42] jovany-wang commented on #28876
Actually I don't know whether it's by design either. Do you have use case to specify a different temp dir on work node?

[2022-09-29 16:42] jovany-wang commented on #28876
Actually I don't know whether it's by design either. Do you have use case to specify a different temp dir on work node?

[2022-09-29 17:00] rickyyx opened #28896 "[autoscaler][flaky] osx://python/ray/tests:test_autoscaler"
### What happened + What you expected to happen

<img width="1817" alt="image" src="https://user-images.githubusercontent.com/11676094/193092715-522e1d80-c4c4-4615-8425-7ad2c1432b84.png">

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-09-29 17:03] ericl opened #28897 "[data] Bad error message when there is schema inconsistency"
### What happened + What you expected to happen

The following snippet produces a very hard to debug error:
[code]

I would expect it to provide some examples of the data / schema that mismatched, and a better resolution.

### Versions / Dependencies

master

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-09-29 17:12] jjyao commented on #28876
I don't have a real use case yet. It's just based on the documentation I thought it's possible but when I tried it out, it didn't work.

[2022-09-29 17:14] #28398 closed

[2022-09-29 17:17] jovany-wang commented on #28876
So I believe the best action is to fix the doc and add an exception when specifying it on work node?

[2022-09-29 17:51] kevin85421 opened #28901 "[cluster][doc] Add AWS instructions for GPU training tutorial"
### Description

Currently, the [GPU training tutorial](https://github.com/ray-project/ray/pull/28353) only has the instructions for GCP. It is good to have instructions for AWS EKS.

### Link

https://github.com/ray-project/ray/pull/28353

[2022-09-29 17:54] #28523 closed

[2022-09-29 17:57] jiaodong commented on #28522
closed by  #28418

[2022-09-29 17:57] #28522 closed

[2022-09-29 17:58] jiaodong commented on #28524
closed by  #28418

[2022-09-29 17:58] #28524 closed

[2022-09-29 18:01] kevin85421 opened #28902 "[CI] Test GPU training tutorial with Ray Release tests"
### Description

Currently, the [GPU training tutorial](https://github.com/ray-project/ray/pull/28353) does not have been tested in CI. Hence, it is good to test it with Ray Release tests.

### Use case

_No response_

[2022-09-29 18:10] bveeramani opened #28903 "Raise helpful error message when `ImportError: cannot import name '_psutil_osx`"
### Description

If you install Ray from source, you might get this error.

[code]

There's a [fix in the documentation](https://docs.ray.io/en/master/ray-contribute/development.html#troubleshooting), but it'd be nice if this information was in the error message:

[code]

### Use case

QOL

[2022-09-29 18:30] rickyyx opened #28904 "[core][release] chaos_dataset_shuffle_random_shuffle_1tb failed with node failure"
### What happened + What you expected to happen

The test is unstable for now

[most recent failure cluster ](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_ZpmX3chUNsc4MVYAmXwexECB?command-history-section=command_history)

The stack looks really deep and given it's a chaos test - it's hard to see what's the expected error and what's not at firs

[2022-09-29 18:36] rickyyx opened #28906 "[core][release] chaos_dataset_shuffle_push_based_random_shuffle_1tb failed"
### What happened + What you expected to happen

[Error cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_fxF81hGgtyA8LrTZJqgV9WFA?command-history-section=command_history)

First error? before the failure:

[code]

### Versions / Dependencies

Bisect probably not useful with first failure since that was due to the OOM.

Last success: [45d7

[2022-09-29 18:38] clarng opened #28907 "[core] use proto for oom error / node died error in the frontend"
### What happened + What you expected to happen

Follow up task from https://github.com/ray-project/ray/pull/28466

To add a proto for node died and oom error that was aded to the python frontend

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-09-29 18:46] zygi commented on #28546
Hmm, but I think we *are* in fact interested in the autoscaler! TPU nodes are expensive so we'd prefer for them to be down when we're not running anything, but also it would be extremely convenient to be able to just run `ray job submit -- python train_tpu_model.py` and have the tpus automatically provisioned and deprovisioned.

[2022-09-29 18:50] jiaodong commented on #28546
@zygi iiuc you're looking for job level ray cluster lifecycle management ? Would it be sufficient to have `ray job submit -- python train_tpu_model.py` that spawns ray cluster on demand and shutdown when your script reaches termination state ?

Or -- dynamically resizing the same TPU cluster rather than static size is an actual valuable feature you want to use and want to see improvements on.

[2022-09-29 19:03] zygi commented on #28546
for production yes, but I imagine that would be hell for development -- waiting 3-5 minutes to see if your code runs would be bad, especially for a language like python. So I'd be against ephemeral clusters, whether they're static or dynamic.

Now in principle I'd be quite happy with a non-ephemeral static cluster -- even disregarding autoscaling, one of Ray's advantages should be to enable rapid

[2022-09-29 19:48] shrekris-anyscale opened #28908 "[KubeRay] [Serve] RayServices on KubeRay don't use async handles"
### What happened + What you expected to happen

Serve deployment graphs use async handles. This requires two `await` statements. However, RayServices on KubeRay raise an error when attempting to use the double `await` statements.

### Versions / Dependencies

Ray 2.0.0

### Reproduction script

**Example 1:** This script runs locally on Ray 2.0.0 but fails on KubeRay:

[code]

**Example 2:**

[Th

[2022-09-29 19:54] shrekris-anyscale commented on #28908
[This is the PR](https://github.com/ray-project/ray/commit/efee158cecc49fbec5527e75e17faadba4fac48d) that added the double await to Ray 2.0. I exec’d into a worker pod on K8s, and I used the Python interpreter to successfully import some functions/classes that the PR added. So it looks like the functionality that requires the double `await` does exist in the KubeRay pods, but for some reason it’s

[2022-09-29 20:16] simon-mo commented on #28908
Abstraction wise, RayService operator should have nothing to do with this. Do we know the exact Ray image used? and Ray version on the pod?

[2022-09-29 20:18] peterghaddad commented on #20820
Can we re-open this issue?

[2022-09-29 21:14] bveeramani opened #28910 "[AIR] Let users store arbitrary data in framework-specific checkpoints"
### Description

Currently, you can only store a model and preprocessor in a `TorchCheckpoint`.
[code]

But, you might need to store other stuff like optimizer weights:

[code]

### Use case

_No response_

[2022-09-29 21:34] Reemyos commented on #28903
Hi, this is my first time contributing :) I think I can help. Could I get assigned?

[2022-09-29 21:45] #18316 closed

[2022-09-29 22:01] shrekris-anyscale commented on #28908
Debugged with @simon-mo. We discovered that [the Kuberay operator turns off the async handle feature by default](https://github.com/ray-project/kuberay/blob/cbc9b0b4e9cd10fcb7293f6ca8326094a4ce4c27/ray-operator/controllers/ray/common/pod.go#L574-L577) using an env var.

You can turn it back on by explicitly turning on the feature:

[code]

After that, the double `await` should work as expected.

W

[2022-09-29 22:01] #28908 closed

[2022-09-29 22:13] c21 opened #28911 "[Datasets] ObjectFetchTimedOutError with dynamic block splitting enabled"
### What happened + What you expected to happen

With https://github.com/ray-project/ray/pull/28841, CI test:

* [python/ray/data/tests/test_dataset_text.py::test_read_text_remote_args](https://github.com/ray-project/ray/blob/master/python/ray/data/tests/test_dataset_text.py#L113)

Failed with error

[code]

### Versions / Dependencies

Master

### Reproduction script

As above.

### Issue Severit

[2022-09-29 22:14] c21 commented on #28911
cc @stephanie-wang FYI.

[2022-09-29 23:28] avnishn commented on #28763
fix is here. pending release tests passing

https://github.com/ray-project/ray/pull/28913#pullrequestreview-1126097194

[2022-09-29 23:29] Wendi-anyscale opened #28914 "[<Ray Installation> Mac installation]"
### Description

Current instruction doesn't work: https://docs.ray.io/en/releases-2.0.0/ray-overview/installation.html
@ilee300a was able to install with an internal instruction doc.

@maxpumperla

### Link

_No response_

[2022-09-29 23:35] Wendi-anyscale opened #28915 "[<Algorithm overview>]"
### Description

Hard for users to recognize algorithms with Abbreviated name under the "Algorithm" field, user expect to also have full name available in the overview to navigate.

DM @Wendi-anyscale for actual user data
@max

### Link

_No response_

[2022-09-30 00:14] rickyyx commented on #28896
Feel free to close if it's already tracked somewhere cc @DmitriGekhtman

[2022-09-30 05:19] KwanWaiChung opened #28919 "[tune] wandb_mixin confusing logging"
### What happened + What you expected to happen

When running ray tune with 20 trials (num_samples=20) along with wandb, I expected to have 20 runs in wandb. However, there's actually only one run in wandb where the metrics keep aggregating for all the runs. That means for example if each trial is trained for 10 epochs, then the number of data in that single wandb instance is 10*20=200.

### Versi

[2022-09-30 09:04] clarng opened #28920 "oom : actor does not always restart"
### What happened + What you expected to happen

actor restart not working with oom killer

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-09-30 09:05] clarng opened #28921 "Custom message for worker crash error"
### What happened + What you expected to happen

Provide custom message for worker crash error

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-09-30 09:06] clarng opened #28922 "OOM : print error code when task or actor dies"
### What happened + What you expected to happen

OOM : print task stack when it fails

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-09-30 09:36] #28196 closed

[2022-09-30 10:03] jandom commented on #28860
This happens to us a LOT: we're running a lot of inference on AWS, on g5* instances. Every now and then you get this problem, the ray.remote call just crashes, but because the node is "okay", ray just keeps sending more payloads to the broken GPU

[2022-09-30 13:37] mihajenko commented on #26568
@simon-mo This issue is still not resolved. We continue to observe the described linear (RSS) memory growth in `python dashboard.py` process.

We are testing with `aiohttp==3.8.3` (latest stable). We noticed that the pip's ray upgrade command bumped it to `aiohttp==4.0.0a1`. This produces a bug because aiohttp deprecated the `ClientSession`'s `loop` kwarg, so we downgraded to 3.8.3. Hopefully aioh

[2022-09-30 14:05] ArturNiederfahrenhorst opened #28923 "[RLlib] Easily fetch an action probability distribution from trained policy"
### Description

Users have to create an action distribution and pass the `action_dist_inputs` to get an action distribution from a policy.
Users have repeatedly asked how to get the distribution which makes it clear that the path is not intuitive.

[Exemplary question from the forums.](https://discuss.ray.io/t/fetch-action-probability-distribution-from-trained-policy/7722)

### Use case

Manually

[2022-09-30 15:38] architkulkarni commented on #26568
Thanks, we'll look into this.

@mihajenko What's the pip ray upgrade command that caused an incompatibility? We probably just need to pin something in `requirements.txt`.

As for the initial period of memory growth, I'm not aware of anything like that but I'll let you know if we find anything.

[2022-09-30 15:48] jiaodong opened #28924 "[Train] Allow passing in placement group to trainer"
### Description

From community user:

[code]

"
Here I can specify the number of workers, the number of CPUs per worker and even some custom resources if I need them, but the placement group is automatically created by ray somewhere during the execution of trainer.fit(). What I was asking is if there's a way to create the placement group in advance and tell the trainer to run on that placement gr

[2022-09-30 16:05] jiaodong commented on #28546
Thanks for the info @zygi ! This is very clear now and I completely agree with the dev ux you described. We have productionzied this experience called "workspaces" in Robert's demo from recent [Ray Summit keynote](https://www.anyscale.com/ray-summit-2022/agenda/sessions/216), and the gist of it is interactive development on a running cluster.

We don't have 100% matching experience in OSS however,

[2022-09-30 16:15] stephanie-wang commented on #28911
Looks like it's a core bug. I'll take this!

[2022-09-30 16:19] rickyyx opened #28926 "[core][release] many_tasks failed with not using all cpus"
### What happened + What you expected to happen

[Recent fail run](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_1uzVPB2drY1KzaFEdBJnU9CH)

[code]

### Versions / Dependencies

Has been flaky rerun usually succeeds.
First failure [58255c7](https://github.com/ray-project/ray/commit/58255c79878b724288a523bf99c97e4257040c3c)
Last success [6486127]

[2022-09-30 16:30] clarng opened #28927 "[core] dump failure reason for task attempts on oom failure"
### What happened + What you expected to happen

follow up item to print out the list of attempts and the failures for each, possibly last X (=10) attempts

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-09-30 16:33] mihajenko commented on #26568
@architkulkarni It was `pip install -U ray[default,serve] @ (py38 nightly URL)` (following the docs).

But my observation about the aiohttp bump was probably false (since version 4.0.0a is alpha). Anyway, the memory leak is being observed on 3.8.3.

[2022-09-30 16:55] architkulkarni commented on #26568
Gotcha, yeah I ran the same command in a fresh conda env and got `aiohttp==3.8.3`.  We'll try to reproduce the memory leak.

[2022-09-30 17:20] architkulkarni commented on #28816
This test is still flaky, due to a new reason:
Ex: https://buildkite.com/ray-project/oss-ci-build-branch/builds/284#01838ca6-974f-41be-94d6-d21fe159416f/7284-7827
`wait_for_condition(lambda: check_local_files_gced(cluster, whitelist=whitelist))` timed out.

[2022-09-30 18:53] c21 commented on #28911
Thank you @stephanie-wang!

[2022-09-30 19:04] wuisawesome commented on #14104
@scv119 can probably summarize any updates in this area

[2022-09-30 20:06] rickyyx opened #28932 "[core][release] chaos_dask_on_ray_large_scale_test_spilling failed with grpc deadline exceeds"
### What happened + What you expected to happen

[Failure](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_Wp2GWzwuYdUn8tT7aGbM1haG?command-history-section=command_history)

[code]

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-09-30 20:10] rickyyx commented on #28776
Solved

[2022-09-30 20:10] #28776 closed

[2022-09-30 20:13] rickyyx opened #28933 "[core][release] chaos_dataset_shuffle_random_shuffle_1tb failed with object fetch timeout"
### What happened + What you expected to happen

Failure: https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_DYvnnkRtRBGck3Xd5aebrrAt?command-history-section=command_history

[code]

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-09-30 20:14] rickyyx commented on #28911
Seems to be relevant with some recent release tests failure as well - I will piggyback them here https://github.com/ray-project/ray/issues/28933

[2022-09-30 21:57] clarng opened #28937 "[Core] actor oom should produce oom error instead of actor error"
### What happened + What you expected to happen

when actor ooms it should produce a oom error instead of actor error

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-09-30 22:19] AlexanderLavelle opened #28939 "[Tune] Keras assets -- how to control save location (avoid ram address)?"
### What happened + What you expected to happen

`INFO:tensorflow:Assets written to: ram://fff6cce2-7149-4dfc-b5b7-468f5b9e8233/assets`

This error is the result of all `.run` and `tune.Tuner` attempts

A more verbose version:

[code]

### Versions / Dependencies

Python==3.9.7
tensorflow==2.8.0
os=='nt' (Windows 10)
ray==2.0.0

### Reproduction script

[code]

### Issue Severity

High: It blocks

[2022-09-30 22:30] c21 commented on #26441
Closing the issue now as this is known inefficiency with `map`

[2022-09-30 22:30] #26441 closed

[2022-09-30 22:37] stephanie-wang commented on #28933
Not sure that the error is related to the Datasets one since block splitting shouldn't be enabled in master yet.

I'm also going to downgrade this to p1 since the test is not yet stable.

[2022-09-30 22:48] rickyyx opened #28942 "[CI] `linux://cpp:test_submit_cpp_job` is failing/flaky on master."
- 55346f67cf9ba1ef0ba427409a7fa0a7c672b64e FAILED [Buildkite :cpp: Ray CPP Worker](https://buildkite.com/ray-project/oss-ci-build-branch/builds/289#0183904e-a012-43bb-b33e-32c0668c4f10)
- db2f84bdfa49d218f97bf7f10678232bff8c48d5 FAILED [Buildkite :cpp: Ray CPP Worker](https://buildkite.com/ray-project/oss-ci-build-branch/builds/287#01838f20-9bcf-4574-a706-843d085b2226)

....
Generated from flaky t

[2022-10-01 03:41] SaraRezaei opened #28951 "why rewards in "multi_agent_different_spaces_for_agents" with "MADDPG" remain nan. ?"
I faced this issue and I can't solve it. Do any one have a solution for it? thank you in advance.

from __future__ import absolute_import
import argparse
import gym
from gym.spaces import Dict, Discrete, MultiDiscrete, Tuple, Box
import numpy as np
import os
import random
import ray
from ray import air, tune
from ray.rllib.algorithms import ppo
from ray.rllib.env.env_context import EnvContext
from

[2022-10-01 08:10] richardliaw commented on #28542
hey there; my guess from the stacktrace is that this might a wandb issue? let me ping them to see if they have any ideas.

[2022-10-01 08:12] richardliaw commented on #28558
@justinvyu I think this might be somewhat related to the issue that you've been exploring?

[2022-10-01 08:14] richardliaw commented on #28836
Hmm, hard to tell; haven't seen this behavior before. Could you try using cProfile to profile the results?

[2022-10-01 08:15] #28233 closed

[2022-10-01 08:32] #25259 closed

[2022-10-01 09:01] richardliaw commented on #27419
Going to close this out for now since it's likely that @ming-shy has moved on - but please feel free to get back to us @ming-shy !

[2022-10-01 09:01] #27419 closed

[2022-10-01 09:06] richardliaw commented on #28526
Will this get done for 2.1 @jiaodong, or likely to spillover?

[2022-10-01 09:13] richardliaw commented on #28095
Awesome! will close for now.

[2022-10-01 09:13] #28095 closed

[2022-10-01 09:23] richardliaw commented on #28910
(This needs a design doc / outline of user workflows / better understanding of how this will impact predictors)

[2022-10-01 11:26] AJSVB commented on #24465
I have the same issue

[2022-10-01 13:48] AlexanderLavelle opened #28958 "[CORE] PyPi cannot find ray in Python 3.10"
### What happened + What you expected to happen

PyPi suggests Ray is supported in Python 3.10, but simultaneously cannot find the package

### Versions / Dependencies

Python==3.10.4
OS = 'nt' (Windows 10)

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-10-01 15:54] clarkzinzow commented on #28526
@richardliaw as indicated in the execution tracker sheet, I'm planning to prototype this early next week so we can rerun the motivating benchmark, with delivery planned for end of next week. This is low risk since it's a P1 optimization, it's a pretty small change, and we have a workload to test it against.

[2022-10-01 17:32] cool-RR opened #28961 "[RLlib] Fix "DeprecationWarning: non-integer arguments to randrange()""
### What happened + What you expected to happen

Some lines in RLlib cause this warning:

[code]

I'll submit a PR solving this problem soon.

### Versions / Dependencies

[code]

### Reproduction script

I'm going to fix this right now so I think we can skip the repro script.

### Issue Severity

Low: It annoys or frustrates me.

[2022-10-01 19:13] artemisep opened #28963 "[Serve][Doc]clicking on Ray Serve Deployment Graph API link, returns "page does not exist""
click link on Say hello to the "Ray Serve Deployment Graph API" in the following page
https://www.anyscale.com/blog/multi-model-composition-with-ray-serve-deployment-graphs
returns "Sorry This page does not exist yet"

[2022-10-02 03:43] anabiman commented on #21597
When working with complex scientific workflows/pipelines, python version mismatch is a very common problem. One component might require a runtime env in python 3.9 while another in 3.8. This is a very typical problem, so Ray supporting serialization that is more interoperable [than pickle/cloudpickle] can be very valuable.

[2022-10-02 08:35] mattip commented on #28478
@peytondmurray any updates?

[2022-10-02 14:52] evanrittenhouse commented on #28460
@architkulkarni Hi, first off wanted to say thanks for the detailed issue. Makes it very easy to make progress on a new code base :).

Secondly, I'm a little unclear on how to use `_PathHelper.get_virtualenv_command()` to use the passed virtualenv directory. It seems like `python/ray/_private/runtime_env/pip.py#modify_context` already uses that function, which seems like it already works with virt

[2022-10-02 17:21] bhavika commented on #28903
I just ran into this so I'd be happy to take it. @bveeramani sound good?

[2022-10-02 19:34] mvindiola1 commented on #28951
Hi @SaraRezaei,

From the code sample you shared your environment never ends. done is always False in step. This is why. You can try setting done to True after some number of steps or set the config option "horizon" to some positive number to have rllib terminate the episode after that many steps.

[2022-10-02 20:21] Hoeze commented on #26144
Is this still an issue?

[2022-10-02 23:26] gjoliver opened #28966 "[Tune] Consistent memory leak in checkpointing logis"
### What happened + What you expected to happen

There seems to be a consistent memory leak somewhere in Tune checkpointing code, about 1GB/30mins.
This can be easily reproduced with the attached script.
Here is a Grafana chart showing the mem consumption of 3 testing runs:
1. Direct ``ppo.train()``
2. `Tuen.run(..., checkpoint_freq=1)`
3. `Tune.run() without checkpoint_freq`
<img width="1066" alt

[2022-10-03 01:50] matthewdeng opened #28967 "[CI] `linux://python/ray/tests:test_client_library_integration` is failing/flaky on master."
- 0f4d2000dd508ce3875d987c3704591fcb89e81f FAILED [Buildkite :python: (Small & Client)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/302#018396cf-a751-4bed-a7f7-3d7525121296)
- 0f4d2000dd508ce3875d987c3704591fcb89e81f FAILED [Buildkite :redis: (External Redis) (Small & Client)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/302#018396cf-a75c-447e-8c5b-f1eda7eb8c38)
-

[2022-10-03 01:50] matthewdeng opened #28968 "[CI] `windows://python/ray/serve:tutorial_rllib` is failing/flaky on master."
- 0f4d2000dd508ce3875d987c3704591fcb89e81f FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/302#018396c1-b7d0-4944-b919-3ec67fa220e7)
- f68d82b714d8497053cda0ca8e3732e37a103214 FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/301#01839556-1c67-4aff-8c54-5add222c12a9)
- b01647c169340e3b50baa6

[2022-10-03 01:51] matthewdeng opened #28969 "[CI] `osx://cpp:test_submit_cpp_job` is failing/flaky on master."
- 0f4d2000dd508ce3875d987c3704591fcb89e81f FAILED [Buildkite :mac: :apple: Ray C++ and Java](https://buildkite.com/ray-project/oss-ci-build-branch/builds/302#018396c1-c4be-4db0-a8d2-4833ebd4a484)
- f68d82b714d8497053cda0ca8e3732e37a103214 FAILED [Buildkite :mac: :apple: Ray C++ and Java](https://buildkite.com/ray-project/oss-ci-build-branch/builds/301#01839557-33af-4922-a1c7-b8c116bee561)
- b01647

[2022-10-03 01:51] matthewdeng opened #28970 "[CI] `windows://python/ray/tests:test_client_library_integration` is failing/flaky on master."
- 0f4d2000dd508ce3875d987c3704591fcb89e81f FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/302#018396c1-b7d0-4ef4-9d6d-f412f1b1929b)
- f68d82b714d8497053cda0ca8e3732e37a103214 FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/301#01839556-1c67-4a4c-bbbb-5803a2ee4c1a)
- b01647c169340e3b50baa6

[2022-10-03 01:51] matthewdeng opened #28971 "[CI] `linux://python/ray/serve:tutorial_rllib` is failing/flaky on master."
- 0f4d2000dd508ce3875d987c3704591fcb89e81f FAILED [Buildkite :serverless: Serve Tests](https://buildkite.com/ray-project/oss-ci-build-branch/builds/302#018396cf-a737-436f-87df-f29e6bee66b9)
- f68d82b714d8497053cda0ca8e3732e37a103214 FAILED [Buildkite :serverless: Serve Tests](https://buildkite.com/ray-project/oss-ci-build-branch/builds/301#01839563-63ad-429d-9c5d-eae69c5dabed)
- b01647c169340e3b50

[2022-10-03 01:52] matthewdeng opened #28972 "[CI] `osx://python/ray/tests:test_client_library_integration` is failing/flaky on master."
- 0f4d2000dd508ce3875d987c3704591fcb89e81f FAILED [Buildkite :mac: :apple: Small & Client](https://buildkite.com/ray-project/oss-ci-build-branch/builds/302#018396c1-c4c1-44b9-910d-cdf8cbb5ec49)
- f68d82b714d8497053cda0ca8e3732e37a103214 FAILED [Buildkite :mac: :apple: Small & Client](https://buildkite.com/ray-project/oss-ci-build-branch/builds/301#01839557-33b2-494e-8905-8e7e142c7352)
- b01647c169

[2022-10-03 01:56] matthewdeng commented on #28969
@architkulkarni assigning this to you since I saw you were assigned to https://github.com/ray-project/ray/issues/28942

[2022-10-03 01:58] matthewdeng commented on #28968
@avnishn @ArturNiederfahrenhorst this started failing after https://github.com/ray-project/ray/pull/28913

[2022-10-03 01:58] matthewdeng commented on #28970
@avnishn @ArturNiederfahrenhorst this started failing after https://github.com/ray-project/ray/pull/28913

[2022-10-03 02:03] matthewdeng commented on #28967
@avnishn looks like the test that's failing is: `test_client_library_integration.py::test_rllib_integration_tune`. The PR which this started failing on seems unrelated, so it may be due to a dependency change.

[2022-10-03 03:10] slala2121 opened #28973 "How to specify the directory where to save the best checkpoint directories?"
### Description

ray.air.session.report(https://docs.ray.io/en/latest/tune/api_docs/trainable.html?highlight=air.CheckpointConfig#class-api-checkpointing) mentions that it moves checkpoints to a new path. Is there a way to specify what path is (default is /tmp/)?

### Link

_No response_

[2022-10-03 05:22] rickyyx opened #28974 "[release][CI] air_benchmark_xgboost_cpu_10 failure"
### What happened + What you expected to happen

[Build failure](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-87b2-4e2b-9012-d8574f44622e)
[Cluster ](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_E9wyLXYTyJDjiF84FueREXnD)

[code]

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Seve

[2022-10-03 05:24] rickyyx opened #28975 "[release][ci] air_benchmark_tune_torch_mnist failed"
### What happened + What you expected to happen

[Build ](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-87c7-4d03-835f-181c85c547ed)
[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_TAmfcLbZGWWMu32PL5XNg1nY)

[code]

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_N

[2022-10-03 05:28] #27371 closed

[2022-10-03 05:30] rickyyx opened #28976 "[release][CI] air_benchmark_pytorch_training_e2e_gpu_1x1_20gb failure"
### What happened + What you expected to happen

[Build failure nightly 09/30 ](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-87d9-4d89-ae33-61b11d2f9dfb)
[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_kN3AYUxsJDfyxEz6pkhQNauR)

[code]

### Versions / Dependencies

NA

### Reproduction script

NA

[2022-10-03 05:43] rickyyx opened #28977 "[release][CI] long_running_serve failure"
### What happened + What you expected to happen

[Build failure nighltly 09/30 ](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-8822-4d3b-a676-317926459ebb)
[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_mnpepCVJs28Y8m4cjW3xmA8U)

[code]

### Versions / Dependencies

NA

### Reproduction script

NA

### Iss

[2022-10-03 05:45] rickyyx opened #28979 "[release][CI] rllib_multi_gpu_with_lstm_learning_tests failed"
### What happened + What you expected to happen

[Build failure nightly 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-887b-44d6-b39d-db89432d6405)

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_UwJhsMAuncJqsgqYWzb5QXak?command-history-section=command_history)

### Versions / Dependencies

N

[2022-10-03 05:51] Coastline-lhy commented on #24575
nice

[2022-10-03 05:55] rickyyx opened #28980 "[release][CI] rllib_multi_gpu_with_attention_learning_tests"
### What happened + What you expected to happen

[Build failure nightly 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-887e-4337-a517-4c8aa478887e)
[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_pDvBgsp2mNcpdZP47wuHvBcE)

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue

[2022-10-03 05:59] rickyyx opened #28981 "[release][CI] rllib_stress_tests-smoke-test failed"
### What happened + What you expected to happen

[Build failure nighlty 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-8881-4fb9-b9ee-d4a52284e3ae)
[Clusrter](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_AfJ5RHvNxiJ5HuLeS5AJh4bw)

### Versions / Dependencies

NA

### Reproduction script

NA

### Issu

[2022-10-03 06:01] rickyyx opened #28982 "[release][CI] serve_single_deployment_1k_noop_replica"
### What happened + What you expected to happen

[Build failure nightly 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-888e-42e5-bef0-bc2d6a914db6)
[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_h15F3tjHZt5LkcSaCQwAwqPX?command-history-section=command_history)

### Versions / Dependencies

NA

### Re

[2022-10-03 06:02] rickyyx opened #28983 "[release][CI] serve_multi_deployment_1k_noop_replica"
### What happened + What you expected to happen

[Build failure nightly 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-8891-4ca5-9582-60da65f78d3b)
[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_2UiUPefMBenagcvjb7tLGQxm)

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severit

[2022-10-03 06:05] rickyyx opened #28984 "[release][CI] serve_autoscaling_single_deployment"
### What happened + What you expected to happen

[Build falilure nighlty 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-8894-4b5d-8aaf-ff293e1d744d)
[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_7rnJCUvTesEBzHwzakyrsDm3?command-history-section=command_history)

### Versions / Dependencies

NA

### R

[2022-10-03 06:07] SaraRezaei commented on #28951
Hi @mvindiola1
that's right.
thank you.

[2022-10-03 06:07] #28951 closed

[2022-10-03 06:14] rickyyx opened #28985 "[release][CI] serve_autoscaling_multi_deployment"
### What happened + What you expected to happen

[Build failure nightly 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-8897-4711-b324-d09bd1ae5c2d)
[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_AfbEin6jVtuziezQA9EEWHQ2)

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severit

[2022-10-03 06:15] rickyyx opened #28986 "[release][CI] serve_micro_protocol_http_benchmark"
### What happened + What you expected to happen

[Nightly failure 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-88ac-4847-bb0d-93a869a22be1)

[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_qtdDcHZRgihtpeP51iKvQurj)

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_N

[2022-10-03 06:18] rickyyx opened #28987 "[core][release] stress_test_dead_actors failure"
### What happened + What you expected to happen

[Nightly failure 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-891b-4772-a0c3-e61f1c97fa23)

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_evpzMAypU1f9fp7e6GyCABdw)

It's probably an infra error as shown from the logs
[code]

### Versions / D

[2022-10-03 06:21] rickyyx opened #28988 "[release][CI] pipelined_training_50_gb"
### What happened + What you expected to happen

[Nightly build failure 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-8942-49f7-b2c7-01f07d271c8f)

[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_ssvii7ix6jSbKMp7CzNLmMXs)

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severi

[2022-10-03 06:23] rickyyx opened #28989 "[release][CI][core] dataset_shuffle_push_based_random_shuffle_100tb failed"
### What happened + What you expected to happen

[Build failure 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-895e-4448-a263-70a67104a6a8)

[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_VRFTQqgNMPBQKHWrgdPZcfrT?command-history-section=command_history)

### Versions / Dependencies

NA

### Reproduct

[2022-10-03 06:29] rickyyx opened #28990 "[release][CI][core] decision_tree_autoscaling_20_runs failed"
### What happened + What you expected to happen

[Nightly failure 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-899f-4f91-897f-00dbc24c5f0b)

[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_Z6q2LFXbbum2qFVPSPQYSfK1?command-history-section=command_history)

[code]

### Versions / Dependencies

NA

###

[2022-10-03 09:08] gjoliver commented on #24806
please don't close

[2022-10-03 15:32] c21 commented on #27667
Just FYI one more user request in https://ray-distributed.slack.com/archives/C02PHB3SQHH/p1664802732112309 . This should be prioritized.

[2022-10-03 16:00] rickyyx opened #28996 "[release][CI] air_benchmark_tune_torch_mnist_large_gpu failed"
### What happened + What you expected to happen

[Build failure weekly 10/01](https://buildkite.com/ray-project/release-tests-branch/builds/1081#0183974c-98c5-424d-9471-ad1651cb1e81)

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_PRDx3H79TMdzpGqHtgPecpH4)

[code]

### Versions / Dependencies

NA

### Reproduction script

NA

#

[2022-10-03 16:04] rickyyx opened #28997 "[release][CI] long_running_distributed_pytorch_pbt_failure failing with GCS connectivity error"
### What happened + What you expected to happen
`long_running_distributed_pytorch_pbt_failure` is occasionally failing with heartbeat timeouts/failed GCS connectivity.

The test works by terminating worker nodes over time and making sure that Tune can continue training. However, the test fails with unable to connect to GCS.

Example failure:
[Build failure weekly 10/01](https://buildkite.com/ray-p

[2022-10-03 16:07] rickyyx opened #28998 "[relesae][CI] rllib_stress_tests"
### What happened + What you expected to happen

[Build failure weekly 10/01](https://buildkite.com/ray-project/release-tests-branch/builds/1081#0183974c-98ce-4281-8d95-97018ce72134)

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_TUnnS4cST52VpdwGqQQn62jV)

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue

[2022-10-03 16:16] rusu24edward opened #28999 "[RLlib] importlib-metadata version 5 removed entrypoints"
### Description

importlib-metadata version 5 removed entrypoints, which causes gym registration to fail. I submitted [this issue](https://github.com/openai/gym/issues/3110) on gym's github issue tracker, this will likely come up for rllib soon.
[code]

### Use case

_No response_

[2022-10-03 16:36] architkulkarni opened #29000 "[CI] `windows://python/ray/tests:test_runtime_env_working_dir_2` is failing/flaky on master."
- 7d5df19275519e17e0cda05d551a1da934fdf286 FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/305#01839c1d-1790-4532-8e73-01bc1a2b02c0)
- 84a015aac1a4cf1711657e0b675aa9a91f8d08f3 FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/304#01839baf-b8c7-44fc-8c77-cce38ee398e7)
- 0f4d2000dd508ce3875d98

[2022-10-03 16:37] architkulkarni opened #29001 "[CI] `windows://python/ray/tests:test_runtime_env_working_dir_remote_uri` is failing/flaky on master."
- b01647c169340e3b50baa6bd59f8d67c93fd726d FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/300#01839553-d013-4188-8fe8-dfc586f4c7a3)
- 315c9f2e97bef36ecfd857583d304433e7ce523e FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/294#01839100-b6b1-4fdf-a13f-de3e5f61e8f2)
- db2f84bdfa49d218f97bf7

[2022-10-03 16:46] architkulkarni commented on #28460
I see, you're saying maybe we really don't need to do anything for the last step?  I think that makes sense, in that case we just need to make sure the user can pass in the virtualenv directory and then do the appropriate plumbing.  Right now our API is that the user can only pass in a list of `pip` packages, or the path to a `requirements.txt` file.

[2022-10-03 17:02] bveeramani commented on #28903
@bhavika Go for it!

[2022-10-03 17:12] jiaodong opened #29003 "Remove _transform_arrow from predictors"

[2022-10-03 17:25] matthewdeng commented on #28144
@clarkzinzow to confirm ragged tensor PR fixes this

[2022-10-03 17:34] amogkam commented on #26724
this looks like it's passing on master https://buildkite.com/ray-project/release-tests-branch/builds/1081#0183974c-98c0-42e5-8d1d-036f3ffd8f61

[2022-10-03 17:36] amogkam commented on #28910
We should also make sure to do the following after this is supported:
1. Update examples to use framework specific checkpoints
2. Remove `from_checkpoint` usage in predictors

[2022-10-03 17:44] jiaodong commented on #26539
this is no longer the case in our notebooks, including torch_incremental_learning

[2022-10-03 17:44] #26539 closed

[2022-10-03 17:54] rickyyx opened #29004 "[doc][core] multiprocessing.Pool should document resource usage with ray_remote_args"
### Description

We should probably explicitly call out that if `ray_remote_args` is used, any resource requirements specified would be applied to EVERY process (actor) in the Pool. So it would actually be different from running a remote function multiple times

 More context here: https://discuss.ray.io/t/passing-multiple-gpus-to-ray-multiprocessing-pool/7701

### Link

https://discuss.ray.io/t/p

[2022-10-03 18:26] architkulkarni opened #29006 "[CI] `linux://python/ray/dashboard:modules/job/tests/test_sdk` is failing/flaky on master."
- 7d5df19275519e17e0cda05d551a1da934fdf286 FAILED [Buildkite :serverless: Dashboard Tests](https://buildkite.com/ray-project/oss-ci-build-branch/builds/305#01839c2c-31da-4fc3-9b30-ebde3e294e85)
- f68d82b714d8497053cda0ca8e3732e37a103214 FAILED [Buildkite :serverless: Dashboard Tests](https://buildkite.com/ray-project/oss-ci-build-branch/builds/301#01839563-63a7-414b-b852-4e9a225ef244)
- 5ce0efaac9

[2022-10-03 18:52] krfricke commented on #28966
This is likely due to metadata being stored in the checkpoint, and rllib stores a lot of this.

Generally, we rarely have the case where we checkpoint multiple times a second (as we do here) and keep all the checkpoints. The problem can be avoided by e.g. setting `keep_checkpoints_num=10` or something.

Thus, this is more a usage error than an actual memory leak.

At the source, the issue seems to

[2022-10-03 18:55] #28942 closed

[2022-10-03 18:55] #28969 closed

[2022-10-03 19:11] c21 commented on #28988
This is a known transient error, where we don't have required nodes to run the test:

[code]

Retried, and it should not be blocking release.

[2022-10-03 19:51] scv119 commented on #28987
looks like infra failures? we can close it.

[2022-10-03 19:51] #28987 closed

[2022-10-03 19:58] gjoliver commented on #28966
this is awesome.
so should we set the default value for keep_checkpoints_num to 1?
if users want more checkpoints in memory, they can do that by setting a larger number.
I actually don't know what the users can do with all these in-memory checkpoints.

[2022-10-03 20:03] chongxiaoc commented on #27667
anyone has bandwidth in near future can feel free to grab this task.

[2022-10-03 20:11] ArturNiederfahrenhorst commented on #8600
Thanks for adding to this @andras-kth !

[2022-10-03 20:37] scv119 commented on #26994
i have a theory this might because of the the io worker deletion failure. i.e. the io worker failed to delete a file due to exception or io worker crash. One possibility is https://github.com/ray-project/ray/issues/26395 leads to duplicated file but there could be other failure models too.

[2022-10-03 20:37] jeweinb opened #29013 "RLlib"
### What happened + What you expected to happen

I think I found a bug. It seems that when there are many different trials the ray Tuner object cannot find the correct metrics. If you look below there are 2 sections where the "is" score is reported. I got an error when running this that "is" could not be found to get the best trial results

However I can see a valid "is" score below in the "off po

[2022-10-03 20:55] rickyyx commented on #28989
Passing now

[2022-10-03 20:56] rickyyx commented on #28932
Passing now and due to ray memory timeout.
Downgrading to P1.

[2022-10-03 21:00] rickyyx commented on #28894
Fixed by #28885

[2022-10-03 21:00] #28894 closed

[2022-10-03 21:03] c21 commented on #28911
Another unit test failed with same error: test_dataset.py: test_parquet_read_spread.
Looked into this a bit, and found the error happened when reading two input files, and the error did not happen when reading just one input file.

[2022-10-03 21:05] #28892 closed

[2022-10-03 21:07] dolanp83 opened #29016 "Support for environment variables in Cluster YAML"
Cluster is created from inside a script like so:
[code]

Is it possible to use MY_VAR inside the cluster config? Specifically I need this passed through to a **setup_command**, e.g.:
[code]

I was unable to get it to work as shown and could not find any supporting documentation or examples showing it's possible. I came across runtime environments but it doesn't seem to apply to this, as far as I c

[2022-10-03 21:10] #28780 closed

[2022-10-03 21:10] #28775 closed

[2022-10-03 21:10] #28778 closed

[2022-10-03 21:10] #28781 closed

[2022-10-03 21:13] stephanie-wang commented on #28911
Is this with the most recent master merged in?

[2022-10-03 21:22] c21 commented on #28911
yeah @stephanie-wang - tested with rebasing https://github.com/ray-project/ray/pull/28841 on master today, and it's still failed.

[2022-10-03 21:45] Yatagarasu50469 commented on #9233
For others facing this issue, here is a quick workaround/example for visualizing global progress using pool actors, though it should be adaptable for standard ray.get() calls...Hope this helps someone else.

Summary: Create an actor to hold the currently achieved progress, passing its handle, as a parameter, into calls of the intended work method. Inside the work method, issue a blocking ray.get()

[2022-10-03 21:49] bveeramani opened #29017 "[Datasets] Document how `from_items` infers tabular data"
### Description

If you pass a list of `int`s to `from_items`, you get a simple dataset.

[code]

However, if you pass a `dict` to `from_items`, it returns a tabular dataset. This behavior isn't documented anywhere.

[code]

### Link

https://docs.ray.io/en/master/data/api/input_output.html#python-objects

[2022-10-03 21:58] bveeramani opened #29018 "[Datasets] Add `Dataset.columns`"
### Description

Currently, I do this

[code]

But, I'd like to do this

[code]

A potential signature is:

[code]

### Use case

QOL

[2022-10-03 22:43] rickyyx opened #29021 "[CI] `windows://python/ray/tests:test_object_spilling_asan` is failing/flaky on master."
- 0e8eb8aedb3e158da8c3e7378e818ce87ca7813e FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/316#01839f5c-f121-4285-81dd-90a17db6dbbd)
- 9505cd164ac99ed0cd4406d7197c1fb1db8b9c74 FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/219#01837c8a-2a2c-4bc7-898e-a726221049a3)

....
Generated from fla

[2022-10-03 22:58] rickyyx commented on #28990
Looks like the exact stacktrace on the segfaults. Assigning this to you @scv119 , or feel free to assign back/triage if it's independent.

[2022-10-03 23:05] peytondmurray commented on #28478
@mattip I haven't been able to reproduce this yet. I can't tell if this is just my machine, though, so I'm looking into trying with a different one as well.

[2022-10-03 23:23] christy opened #29022 "[infra] Web server to generate student credentials for Anyscale tutorials BEFORE spinning up clusters"
### Description

#### Description

A common complaint with Anyscale tutorials is the way we put credentials in a Google sheet which cannot handle too many simultaneous editors.  The Google sheet freezes up and students get frustrated!

We would like a simple webserver that could do 3 things:
1.  Allow a student to register by giving their name and email address
2. Give back to the student a login/

[2022-10-03 23:25] #29022 closed

[2022-10-03 23:30] rickyyx opened #29023 "[release][ci] long_running_impala"
### What happened + What you expected to happen

[Nightly Build Failure 09/30](https://buildkite.com/ray-project/release-tests-branch/builds/1080#01839c55-02a4-40c2-b83b-3010c2f16af4)

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_duWC3KrGHCEZknEnLFEXRVCU)

Looks like some cluster compute config not compatible with infra:
<img

[2022-10-03 23:38] philljkc opened #29024 "RLLib multi-GPU optimizer"
### What happened + What you expected to happen

I am running Ray Tune on a shared machine with other users, sshing in as my own user, with 2GPUS and 128 total threads. When I run even a training script with more than 1 GPU on the complex optimizer, it will start training but SIGNIFICANTLY slower (138 seconds for 8k timesteps) than the 1GPU run on a simple-optimizer (same number of timesteps in 1

[2022-10-03 23:53] rickyyx opened #29026 "[release][CI] tune_scalability_network_overhead failed with infra"
### What happened + What you expected to happen

[Build failure ](https://buildkite.com/ray-project/release-tests-branch/builds/1081#0183974c-98d4-428a-9a86-227be458c4d0)

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_STDqrU669wFkK2kUvMN4XiE8?command-history-section=command_history)

Looks like autoscaler never identifies the

[2022-10-04 03:28] evanrittenhouse commented on #28460
@architkulkarni Great! And I'm also a bit unsure where the tests for this should go. Can you please point me to the right file?

Appreciate all your help.

[2022-10-04 03:52] bveeramani opened #29029 "[Datasets] Add progress bar to `read_` functions"
### Description

Render a progress bar when calling functions like `read_csv`.

### Use case

QOL + observability

[2022-10-04 04:39] bveeramani opened #29030 "[RFC] [Datasets] Extend `to_tf` to provide more flexibility"
### Description

This is a follow-up to #29028

## Proposal

Add a parameter `yield_fn` to `to_tf` that lets user specify how elements are yielded.

## Design considerations

### What should `yield_fn` accept as input?

**Option 1: `yield_fn` takes in the data normally yielded by `to_tf`**

[code]

**Option 2: `yield_fn` takes in all of the data, and `feature_colums` and `label_columns` are ignore

[2022-10-04 04:42] bveeramani opened #29031 "[Datasets] Deprecate `iter_tf_batches` in favor of `to_tf`"
### Description

Once we complete these:
- [x] #29028
- [x] #29030

We should deprecate `iter_tf_batches`.

### Use case

There shouldn't be multiple ways to convert Ray datasets to TensorFlow datasets. Also, `iter_tf_batches` was added as a short-term solution.

[2022-10-04 05:21] jiaodong opened #29033 "[AIR][Batch Predictor] BatchPredictor double requests GPU workers"
### What happened + What you expected to happen

For workloads like https://sourcegraph.com/github.com/ray-project/ray/-/blob/release/air_tests/air_benchmarks/workloads/gpu_batch_prediction.py

if we set `min_scoring_workers=16` and `min_scoring_workers=16` that equals to total # of GPUs available in the ray cluster, there's always 16 provisioned workers but also 16 works pending, shown in `ray st

[2022-10-04 05:44] jiaodong opened #29034 "[AIR] Potential GRAM memory leak in pandas batch conversion"
### What happened + What you expected to happen

See https://github.com/ray-project/ray/pull/28917

With batch size of ~1024, 646KB for each image, we have roughly ~0.6GB per batch. During BatchPredictor's allocated memory profiling, we also see ~0.6 GRAM memory leak between each predicted batch on the same GPU device.

<img width="1147" alt="Screen Shot 2022-10-03 at 10 01 38 PM" src="https://use

[2022-10-04 05:48] jiaodong opened #29035 "[AIR][Predictor] Better prefetching for BatchPredictor"
### Description

We're calling this in BatchPredictor

[code]

From `nvidia-smi` the symptom is we can see GPU utils jump between 100% to 0% sharply between batches. This is an indicator that we need to enable prefetching by default for better GPU saturation.

### Success criteria

1) Prefetch enough blocks on CPU via `max_tasks_in_flight_per_actor` and ensure it's not the bottleneck
2) Have backg

[2022-10-04 06:03] mattip commented on #28478
Without any more comment from @jsuarez5341 about the hardware (GPU, whether it is exposed to WSL and how) I don't think we can make any progress here.

[2022-10-04 06:04] mattip commented on #28478
I labelled this "needs-repo-script" in spite of actually needing a platform description, since reproduction seems to be the problem here.

[2022-10-04 07:05] rkooo567 commented on #28296
I think it is an expected behavior. You are expected to run ray.get on the result of ray.wait

[code]

And if the returned ref is not handled, we print the error message to the driver (it's called unhandled exception).

[2022-10-04 07:06] rkooo567 commented on #27952
I think it is a known issue. ray timeline doesn't work well at large scale right now. We are planning to fix this soon (optimistically by Ray 2.2, or 2.3)

[2022-10-04 07:06] rkooo567 commented on #27947
I believe it is already supported?

[2022-10-04 07:07] rkooo567 commented on #27121
maybe we can close it @MattEWeber ?

[2022-10-04 07:08] pratkpranav opened #29036 "[Ray Core] Getting 'AttributeError: ‘RayInternalKvStore’ object has no attribute ‘del_keys’' while using Ray Collective Communication Library"
### What happened + What you expected to happen

I am trying to use Ray Collective Communication Library for communication between distributed CPUs and using gloo for backend. I am getting the following error while running it.

@rkooo567

<details>
<summary>Error Output(Click to Expand)</summary>

[code]
</details>

### Versions / Dependencies

Ray==2.0.0
Pygloo==Built from source([AttributeError:

[2022-10-04 07:09] rkooo567 commented on #24309
Let me handle this in the next sprint. I totally missed the issue.

[2022-10-04 07:10] rkooo567 commented on #23066
@77loopin do you know how to fix this? We are using the OpenCensus Prometheus exporter. Maybe it is an issue from there?

[2022-10-04 07:22] jdonzallaz opened #29037 "[Windows][Runtime envs] System error when deploying with dependencies"
### What happened + What you expected to happen

Hi,

I'm getting a weird exception when deploying a model deployment with dependencies.
The deployment is made using the following code:
[code]

First I'm getting multiple warnings saying the deployment is taking too long:
[code]

Then I'm getting the following error:
[code]

I tried to reduce the CPU requirements of the deployment without success.

[2022-10-04 09:08] jeweinb commented on #29013
it looks like this issue only happens when there is a parameter space to be searched. if you hard code in all the parameters the metric can be found

[2022-10-04 09:16] rkooo567 commented on #29036
cc @amogkam can you fix this? I assume the issue is we haven't updated the internal kv API for collective comm lib

[2022-10-04 09:54] merrymercy opened #29039 "[Core] Is it possible to do asynchroneous task submission?"
### Description

I want to send a large numpy array to a ray actor. For example, `actor.send_array.remote(x: np.array)` .
However, it seems the call is blocking until it fully serializes the arguments. So the time takes to submit this task is proportional to the array size. Is it possible to let ray core do the serialization in the background, so it does not block the driver for large arrays?

A b

[2022-10-04 11:48] mattip commented on #29021
The top run failed with
[code]

[2022-10-04 13:20] yyyuhan commented on #26364
I had the similar issues with the following packages:
ray==1.13.0
torch==1.12.1

In my case, the error occurred when RLlib tried to convert an item of None from optimizer variables to torch tensors.

My solution was to upgrade ray to 2.0.0, as I noticed there's a branch dealing with the None value case: https://github.com/ray-project/ray/blob/da50ef4986a70e1f764bdbfb72c6cbff35f03130/rllib/utils/to

[2022-10-04 13:26] krfricke commented on #28966
Just for clarification, these are actually on-disk checkpoints, but we do store metadata about them both on-disk and in-memory.

I don't think we should have any default value of `keep_checkpoints_num` - I think the default should be to keep all checkpoints and have the users specify if they want to delete some of them. We should document the implications both for disk storage and memory. To be cl

[2022-10-04 13:33] krfricke commented on #29023
Should be fixed by #29041 pending successful run: https://buildkite.com/ray-project/release-tests-pr/builds/17083

[2022-10-04 16:03] asm582 commented on #28064
+1

[2022-10-04 16:26] #22221 closed

[2022-10-04 16:39] heyitsmui commented on #27667
took a quick look, @c21 for `select_columns` can we just do something like `ds.map_batches(lambda batch: batch.filter(items=[...]))` to select the columns if `batch_format==pandas.DataFrame` and `ds.map_batches(lambda batch: batch.select(...))` if `batch_format==pyarrow.Table`?

[2022-10-04 17:05] jianoaix commented on #27667
Now this should be implemented even easier with this Block API select(): https://sourcegraph.com/github.com/ray-project/ray@master/-/blob/python/ray/data/block.py?L279

[2022-10-04 17:05] c21 commented on #28974
Still failing now - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-545c-4598-9c70-0a0eb95e6df3 .

[2022-10-04 17:08] c21 commented on #28996
Two other similar AIR test failures:

air_benchmark_torch_mnist_gpu_4x4 - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-5462-4aff-a4bc-4fbd802de000

air_benchmark_tune_torch_mnist_gpu - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-5471-44f4-8980-f8386da26275

[2022-10-04 17:09] c21 commented on #28976
Still failing today - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-547f-46a0-a094-855751306e42 .

[2022-10-04 17:14] c21 opened #29047 "[release][CI] lightgbm_tune_16x4"
### What happened + What you expected to happen

Failed nightly test - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-54a1-40af-b840-4901524570b8

Cluster - https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_jPtn7WiGrAGQFvCAu63xLe3Z?command-history-section=command_history

[code]

### Versions / Dependencies

Mas

[2022-10-04 17:17] jiaodong commented on #29035
Changing `ActorPoolStrategy` 's `max_tasks_in_flight_per_actor` to a higher number didn't change GPU utilization pattern or e2e latency of 16 batches.

[2022-10-04 17:17] c21 opened #29048 "[release][CI] long_running_actor_deaths"
### What happened + What you expected to happen

Failed nightly test - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-54a7-4789-8098-3bef151bcefc

Cluster - https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_m7eXF9Aiy8RJhhhdeCvjddZS?command-history-section=command_history

[code]

### Versions / Dependencies

Master

###

[2022-10-04 17:19] c21 commented on #29048
Hi @krfricke, for this long running test failure, wondering could you help take a look? (assigning you based on https://github.com/ray-project/ray/issues/29023). Let me know if anyone better to look at it, thanks.

[2022-10-04 17:27] c21 opened #29049 "[release][CI] long_running_many_tasks_serialized_ids"
### What happened + What you expected to happen

Failed test - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-54bb-4b72-b71d-980f47fc6cf3

Cluster - https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_GfeFcZAsVD5bUNcrQYzkWnTM

Didn't find useful information in command history.

### Versions / Dependencies

Master

### Rep

[2022-10-04 17:29] c21 opened #29050 "[release][CI] long_running_node_failures"
### What happened + What you expected to happen

Failed test - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-54be-4b86-bd5a-b905e17cfd50

Cluster - https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_5sUswHFHfMvMxTn4SudTrjQS?command-history-section=command_history

### Versions / Dependencies

Master

### Reproduction sc

[2022-10-04 17:31] c21 commented on #28997
Similar failure for long_running_pbt - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-54c1-486b-b23b-a495c09ec9b7

[2022-10-04 17:32] scv119 commented on #28990
closing duplicate issue.

[2022-10-04 17:32] #28990 closed

[2022-10-04 17:34] c21 opened #29051 "[release][CI] stress_test_state_api_scale"
### What happened + What you expected to happen

Failed nightly test - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-55aa-4dee-86db-732e1d25bb9a

Cluster - https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_CJfAadt1FRvztvkkRVS75b7k?command-history-section=command_history

[code]

### Versions / Dependencies

Mas

[2022-10-04 17:34] krfricke commented on #29050
I've stopped some of the long running tests manually as they were blocking the release testing pipeline so this is not a bug.

[2022-10-04 17:34] #29050 closed

[2022-10-04 17:36] c21 commented on #28989
Still failing today - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-55f2-4edf-950e-1818560dcf62 .

[2022-10-04 17:36] krfricke commented on #29049
This has been manually terminated to unclog the pipeline.

[2022-10-04 17:36] #29049 closed

[2022-10-04 17:36] krfricke commented on #29048
This has been manually terminated to unclog the pipeline.

[2022-10-04 17:36] #29048 closed

[2022-10-04 17:38] krfricke commented on #29047
Full log:

[code]

cc @Yard1

[2022-10-04 17:38] krfricke commented on #29047
Seems this could be two issues, 1) is this the OOM killer killing the job? 2) seems like we should break out of the PG for the communication actors

[2022-10-04 17:39] c21 opened #29052 "[release][CI] chaos_dataset_shuffle_push_based_sort_1tb"
### What happened + What you expected to happen

Failed nightly test - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-5604-484c-bfc9-fe33bd7cfde0

Cluster - https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_pAPmifMPc59aYQVfxZKJ1X4y?command-history-section=command_history

[code]

Looks like a real bug to me.

### Versio

[2022-10-04 17:40] c21 opened #29053 "[release][CI] shuffle_1tb_1000_partition"
### What happened + What you expected to happen

Failed nightly test - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-5627-4fde-aad0-bf64b27bcb4d

Cluster - https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_1d3bN2QV1TUQMiXsNBdPgZXR?command-history-section=command_history

[code]

### Versions / Dependencies

Mas

[2022-10-04 17:42] c21 opened #29054 "[release][CI] shuffle_1tb_5000_partitions"
### What happened + What you expected to happen

Failed nightly test - https://buildkite.com/ray-project/release-tests-branch/builds/1090#01839fe4-562d-48dd-81e2-f3fc859ee7b6

Cluster - https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_i4NshESkKdza9cTeJ9XnxZRJ?command-history-section=command_history

[code]

### Versions / Dependencies

Mas

[2022-10-04 17:59] Yard1 commented on #29047
Looks like it doesn't detect that it's in a PG correctly. I'll try to repro

[2022-10-04 18:04] heyitsmui commented on #27667
ah so something like `map_batches(lambda batch: BlockAccessor.for_block(batch).select(...))` and block api should handle both batch_formats

[2022-10-04 18:29] gjoliver commented on #28966
oh, we should definitely keep all checkpoints on disk.
I was thinking if we really need to keep all the metadata in memory, which is the problem here.
why not just keep the metadata of the best checkpoint?

and I love both ideas. to get started, if only we can have a metric of percentage_of_time_spent_in_checkpointing, I feel like that will allow users to Tune the interval in a much more informati

[2022-10-04 18:38] krfricke commented on #28966
We need to keep the metadata in memory to decide which checkpoints to keep. This metadata is just particularly large for rllib results. I think we could resolve this

1. Rllib reports less results, finds other ways to log timeseries etc to tensorboard, or
2. Only store checkpoint-bookkeeping related metadata in TrackedCheckpoint, keep rest of the metadata in the checkpoint directory

Generally I t

[2022-10-04 19:17] bveeramani opened #29058 "[AIR] Deprecate then remove `Checkpoint.from_checkpoint`"
### Why should we remove `from_checkpoint`?

`from_checkpoint` is a hack.

We added `from_checkpoint` as a short-term fix. https://github.com/ray-project/ray/pull/26777 introduced framework-specific checkpoints, and with this change, predictors expected users to pass framework-specific checkpoints like `TorchCheckpoint` instead of generic `Checkpoint` objects. The problem was that trainers convert

[2022-10-04 19:35] amogkam commented on #29047
Downgrading this as it is a transient error. We should still fix it if we can reproduce, but it is not release blocking.

[2022-10-04 19:36] amogkam commented on #29047
Successful re-run: https://buildkite.com/ray-project/release-tests-branch/builds/1090#0183a43f-4c68-410b-b3f7-479f8031fc0f

[2022-10-04 19:53] amogkam commented on #28976
waiting for release tests to pass here https://buildkite.com/ray-project/release-tests-pr/builds/17141#_

[2022-10-04 19:59] amogkam commented on #28997
I re-ran this again yesterday and has been running for 23+ hours. Should pass within the next hour.

Looks like this has been unstable since ~7/30. https://b534fd88.us1a.app.preset.io/superset/dashboard/19/?native_filters_key=xGNZWYuHVihtWAZPJqs1wVKSj3neJbWxtOVkmn4koDOakckvY-UW1jdu3JO-crMO

And has sporadically failed due to heartbeat/GCS connectivity issues.
[code]

[code]

[2022-10-04 20:51] #28976 closed

[2022-10-04 20:55] amogkam commented on #28997
This is passing on a re-run: https://buildkite.com/ray-project/release-tests-branch/builds/1081#01839f8f-20db-4ebc-a833-717cd20f1fc0.

I'll mark this test as unstable and downgrade this issue to non release blocking. Assigning to @scv119 to triage to fix the heartbeat/gcs connectivity issue

[2022-10-04 20:59] #29023 closed

[2022-10-04 21:22] ericl commented on #28890
@ckw017 , do you have enough context on this one or shall we walk through it together sometime?

[2022-10-04 21:58] heyitsmui commented on #27667
@jianoaix can you take a look at this draft PR: https://github.com/ray-project/ray/commit/11457e8ad8337b671d1e23944f85857f57314f1c?

[2022-10-04 22:02] krfricke commented on #28753
As a workaround for hyperopt, try this:

[code]

hyperopt internally flattens the config names. I guess we should do this automatically within tune for preprocessing of the configs to try

[2022-10-04 22:14] sihanwang41 opened #29066 "[Serve] Arize integration documentation"
### Description

https://docs.arize.com/arize/integrations/integrations/anyscale-ray-serve

### Link

_No response_

[2022-10-04 22:32] rickyyx commented on #28989
Are you looking at this one @c21 or if you need triage?

[2022-10-04 22:45] bveeramani opened #29067 "[Datasets] Make `batch_size` consistent across methods"
### Description

Default batch sizes are inconsistent:
* `map_batches`: 4096
* `iter_*_batches`: 256
* `to_tf` and `to_torch`: 1

We should choose a reasonable default and stick to it. Maybe introduce a constant for it?

### Use case

Better API

[2022-10-04 22:48] architkulkarni commented on #28982
Appears to have been a transient failure in uploading the test files

`python: can't open file 'workloads/single_deployment_1k_noop_replica.py': [Errno 2] No such file or directory`

Fixed after restarting

[2022-10-04 22:49] architkulkarni commented on #28985
Transient failure in uploading the test files, fixed after restarting

[2022-10-04 22:49] #28985 closed

[2022-10-04 22:50] architkulkarni commented on #28983
Transient failure in uploading the test files, fixed after restarting

[2022-10-04 22:50] #28983 closed

[2022-10-04 22:50] architkulkarni commented on #28984
Transient failure in uploading the test files, fixed after restarting

[2022-10-04 22:50] #28984 closed

[2022-10-04 22:56] architkulkarni commented on #28460
Probably https://github.com/ray-project/ray/blob/master/python/ray/tests/test_runtime_env_validation.py and one of the `test_runtime_ene_*` or `test_runtime_env_conda_and_pip_*` files, wherever you see other virtualenv-related tests.  Sorry for the lack of structure here, we had to split up a lot of these tests to make them not time out.

[2022-10-04 22:56] rickyyx opened #29068 "[CI] A simple way to reproduce osx/linux/windows CI run failure locally"
### Description

We currently have a way to reproduce CI failures with linux: go/repro-ci

A few potential improvements:
- We should be able to support easy repro of CI on other platforms (osx + windows hopefully)
- Maybe an easier setup to use local env rather than depending on the AWS envs to bypass all the overheads of setting up the credentials

More feedback welcome

tags:
[ci][repro][macos][

[2022-10-04 22:56] rickyyx commented on #29068
cc @scv119

[2022-10-04 22:59] ckw017 commented on #28890
I have enough context on this one.

[2022-10-05 00:08] wuisawesome commented on #29026
i think relevant parties are fixing the issue.

[2022-10-05 01:38] rkooo567 commented on #22169
I think this is removed!

[2022-10-05 01:38] #22169 closed

[2022-10-05 01:54] #27287 closed

[2022-10-05 02:39] amogkam commented on #29036
cc @zhisbug

[2022-10-05 04:43] gjoliver commented on #29013
@kouroshHakha can you take a quick look?

[2022-10-05 04:54] gjoliver commented on #28966
ok. I agree this may not be high priority. now that we are clear about the limitations of our system.
please add possible improvements to Tune's backlog however you see fit.
I am gonna close this issue now.
thanks.

[2022-10-05 04:54] #28966 closed

[2022-10-05 04:56] gjoliver commented on #28848
thanks. this is a known problem with JSON input. and splitting the JSON file is a proper workaround.
I will let the dataset folks know about this limitation so we can introduce proper configuration.

[2022-10-05 05:14] gjoliver commented on #28667
yeah, it should be ``self.observation_space.spaces``
let me send a quick PR.

[2022-10-05 05:23] gjoliver commented on #29024
I tried this script on a g4dn.12xlarge instance with 4 GPUs.
even with ``'num_gpus': 2``, I can get about 8K timesteps / sec.
my instance has Tensorflow 2.6.2 and CUDA 11.2

Please re-open if you think we should try reproducing this problem some other way.

Thanks.

[2022-10-05 05:23] #29024 closed

[2022-10-05 07:54] #26933 closed

[2022-10-05 08:16] tadejsv opened #29080 "[Tune] Logging error: ValueError: I/O operation on closed file."
### What happened + What you expected to happen

For some reason, I get this error message when logging inside the objective function using the `logging` module form standard library: `ValueError: I/O operation on closed file.` - see reproduction script for more details + log.

I also notice that this happens only when I run more trials than there are CPU cores (i.e. more than can run concurrently

[2022-10-05 10:38] cool-RR commented on #28667
There probably should be a test for that too.

On Wed, Oct 5, 2022, 08:14 Jun Gong ***@***.***> wrote:

[2022-10-05 10:57] #8600 closed

[2022-10-05 14:05] philljkc commented on #29024
I have CUDA 11.4 on my machine, and I'm not sure I can change it since I share the machine I'm working on. Do you think this might change things?

[2022-10-05 15:07] austinnichols101 commented on #20805
In the following link there is mention of a `one pager` regarding graphql + force serialization.  Is this document available somewhere?  Thanks!

`https://discuss.ray.io/t/fastapi-and-graphql/4300/3`

[Dec '21](https://discuss.ray.io/t/fastapi-and-graphql/4300/4)
Thanks for trying out on this, I think you’ve uncovered a pattern that other uses might run into as well about serialization. We force s

[2022-10-05 15:25] mgerstgrasser commented on #28753
That does seem to fix it - thank you!!

[2022-10-05 16:22] gjoliver commented on #27744
sorry, I gave this a try, the problem is that these stats are historically saved at the top level, so there are lot of code out there that depends on their exact location.
simply removing them will break tons of things, existing scripts, etc.
if you find the additional stats annoying, you can easily use a Tune callback to clean up the "sampler_results" one.

[2022-10-05 16:33] #28667 closed

[2022-10-05 16:38] wuisawesome commented on #29026
Confirmed the cluster now works.

[2022-10-05 16:58] jiaodong commented on #29036
From @jovany-wang in separate thread:

"
The error message shows the installed gloo is not matched with the current Ray.
The installed gloo is too old to use, but unfortunately we haven’t deployed the latest usable gloo to pypi. I believe what you can do for workarounding it is to clone the gloo repo and build it from source.
"

[2022-10-05 17:02] pratkpranav commented on #29036
Thanks for quick reply.
I have built pygloo from source only.

[2022-10-05 17:15] jiaodong commented on #29036
I see, let me try to reproduce it. Given collective is not an officially released ray library (especially gloo) with dependency on stale repo, i will mark it as non release blocker P1.

[2022-10-05 17:28] jiaodong commented on #29036
@pratkpranav quick question -- are you on MacOS or Linux ? Building pygloo from source on MacOS leads to bazel build errors for me.

[2022-10-05 17:30] pratkpranav commented on #29036
I am on linux only.

[2022-10-05 17:49] architkulkarni commented on #28977
Seems the results can't be read due to a JSON parsing error (does this actually mean the file is empty?)
https://buildkite.com/ray-project/release-tests-branch/builds/1067#0183811b-9941-49ba-9fee-68d6a830020f/3613-3616
[code]

[2022-10-05 18:12] architkulkarni commented on #28977
Manually looking at the results JSON file on a running test https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_niFkx7QdRuXQ286jSMRQD5h5?command-history-section=command_history, looks normal and is being updated every 5 minutes as expected.  The Serve cluster seems to be healthy after 18 hours
```{"latency_avg": "99.66ms", "latency_stdev": "27.07ms",

[2022-10-05 18:20] architkulkarni commented on #28977
We also see this error quite a lot:
[code]
[Example 1](https://buildkite.com/ray-project/release-tests-branch/builds/1063#01837bf3-dc04-49ec-a2f5-6ad98d6a410f/3698-3699)
[Example 2](https://buildkite.com/ray-project/release-tests-branch/builds/1033#01836740-399f-4175-98fd-aa2571b7bb73/3596-3606)

[2022-10-05 18:25] jiaodong commented on #29036
ok i can reproduce it and the fix is quite simple: https://github.com/ray-project/ray/pull/29084

[2022-10-05 18:31] DmitriGekhtman opened #29085 "[Kubernetes][Testing] Convert legacy operator tests from release tests to CI tests"
### What happened + What you expected to happen

[Legacy Ray operator tests](https://github.com/ray-project/ray/tree/dac1daf2c1b2b1271480a394ea9b60c47e5062cd/release/kubernetes_manual_tests) are currently triggered manually and require some "expert" knowledge to operate.

KinD-base Ray CI infra has been built to test KubeRay.
It is perfectly doable to use that infrastructure to convert the legacy

[2022-10-05 18:43] mattip commented on #29037
The crash maybe related to https://github.com/ray-project/ray/pull/23613#issuecomment-1132616875 around the version of grpcio. Ray 2.0.0 released with the requirement `grpcio >= 1.28.1, <= 1.43.0`, but the fix for that PR went into `1.46.2`, which was released May 16. The restriction on grpcio was changed in #28623 10 days ago, without any extra real other changes. Could you try `pip install "grpc

[2022-10-05 18:45] mattip commented on #29037
Are you deploying to a cloud machine or locally? The first time you deploy pip needs to download all the wheels and cache them.

[2022-10-05 18:46] jiaodong commented on #29036
Assuming it gets merged today, yes -- otherwise you can modify your local ray package a bit by adding `del_keys` func in the PR I attached above to unblock

[2022-10-05 18:47] pratkpranav commented on #29036
Yeah sure! Thanks for help.

[2022-10-05 18:53] scottsun94 commented on #21785
@chhabrakadabra @skabbit @moured  Thanks for reporting the issue!
In 2.0, we have changed the previous experimental dashboard to the default dashboard. If you click on the logs button in the node table, it will send you to the logs page.

Does it solve your issues?

<img width="1777" alt="Screen Shot 2022-10-05 at 11 51 50 AM" src="https://user-images.githubusercontent.com/9677264/194139233-c9c10b

[2022-10-05 19:05] scottsun94 commented on #25191
We have changed the previous experimental dashboard to the default dashboard in 2.0. Dashboard documentation has been updated in master: https://docs.ray.io/en/master/ray-core/ray-dashboard.html.

This issue is not relevant then. Closing for now.

[2022-10-05 19:05] #25191 closed

[2022-10-05 19:20] #28986 closed

[2022-10-05 19:43] architkulkarni commented on #28977
@krfricke tagging you just in case if you've seen these kinds of errors before when fetching the results and have any ideas off the top of your head.  We'll continue to investigate

[2022-10-05 20:30] jianoaix commented on #28571
Fixed by https://github.com/ray-project/ray/pull/28717

[2022-10-05 20:30] #28571 closed

[2022-10-05 21:00] scottsun94 commented on #28788
@ncoish
For running clusters, this makes sense to download logs from ray dashboard.
(Btw: ray state api will support this too right? @rkooo567 )

How about terminated clusters? Wondering how you currently get logs from terminated clusters or nodes that died accidentally?

[2022-10-05 21:06] ncoish commented on #28788
At the moment we don't fetch logs from clusters that have died, but mainly that's just because we haven't put the time into setting up log backup into our cloud provider. Once we set that up this feature will admittedly be less valuable, because I could just check the stored logs, but this would still be convenient for live cluster investigation purposes.

[2022-10-05 21:08] scottsun94 commented on #8432
IIUC, this issue has been fixed? Shall we close it now? @franreysaycon @JoshBroomberg @niole

[2022-10-05 21:10] alanwguo commented on #28577
ah I see. This is only a bug for ray job submissions that don't have drivers.

If your submit a job that launches a ray driver, the logs button works.

[2022-10-05 21:14] scottsun94 commented on #8667
@sumanthratna
In Ray 2.0, we changed the experimental dashboard to be the default dashboard. We plan to deprecate the old dashboard in the future. In the new dashboard, we currently don't support the tune results table.

Are you still using this feature? Could you help us understand the value it brings to you compared to using Tensorboard, ML flow or other experiment tracking solutions?

[2022-10-05 21:18] scottsun94 commented on #9103
@goulou

In Ray 2.0, we changed the experimental dashboard to be the default dashboard. We plan to deprecate the old dashboard in the future. In the new dashboard, we currently don't support the tune results table.

Are you still using the tune results table in the dashboard? Could you help us understand the value it brings to you compared to using Tensorboard, ML flow or other experiment tracking

[2022-10-05 21:20] scottsun94 commented on #10803
@rkube It seems that there is a fix to this issue. Closing it for now.

[2022-10-05 21:20] #10803 closed

[2022-10-05 21:22] scottsun94 commented on #11277
@abhayraw1 Is the issue fixed for you?

[2022-10-05 21:24] scottsun94 commented on #11638
@rkooo567 Has this issue been fixed or not?

[2022-10-05 21:24] alanwguo commented on #28577
@architkulkarni , the reason why the logs button doesn't show up for driverless job submissions is because we get the information about which node the driver is running via the driver info.

For job submissions, if I can assume the job is running in the head node, this can be an easier fix. However, I heard something that submission jobs may not always run in the head node soon. In that case, wher

[2022-10-05 21:28] scottsun94 commented on #11641
@peterghaddad @p-enel @dvirginz @ThyrixYang @Whakamua
In Ray 2.0, we changed the experimental dashboard to be the default dashboard. We plan to deprecate the old dashboard in the future. In the new dashboard, we currently don't support the tune tab / tune results table.

For better feature planning for the new dashboard, I have some questions:
- Are you still using the tune tab? Could you help us

[2022-10-05 21:33] scottsun94 commented on #12274
@mfitton Closing this for now. Please reopen if this issue still persists

[2022-10-05 21:33] #12274 closed

[2022-10-05 21:37] scottsun94 commented on #12668
@nollied @anuragkanungo
In Ray 2.0, we changed the experimental dashboard to be the default dashboard. We plan to deprecate the old dashboard in the future. In the new dashboard, we currently don't support profiling the actor.

For better feature planning for the new dashboard, I have some questions:
- Could you help us understand what you want to achieve with "profiling actor" feature? How much v

[2022-10-05 21:43] scottsun94 commented on #13090
@Legend94rz Is this issue fixed? Shall we close it now?

[2022-10-05 21:51] architkulkarni commented on #28577
@alanwguo Ah makes sense.  That's a good question, can we just use the Ray Job logs API (The REST API or the SDK)? That way the logic about figuring out which node the job is on can be handled internally by Ray Jobs and we don't have to duplicate it in the dashboard.

[2022-10-05 22:08] krfricke commented on #28975
Running full comparison run with STRICT_SPREAD

[code]

Full comparison run with STRICT_PACK

[code]

So it seems like Ray core could do a better job PACKing placement groups?

[2022-10-05 22:14] #28709 closed

[2022-10-05 22:30] rickyyx opened #29093 "[release][CI] rllib_learning_tests_a3c failed"
### What happened + What you expected to happen

[Build failure ](https://buildkite.com/ray-project/release-tests-branch/builds/1092#0183a524-1d94-4374-8f8f-49f272109ac3)
[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_We6vuLEWwp79DAxKxupt4DNe?command-history-section=command_history)

### Versions / Dependencies

NA

### Reprodu

[2022-10-05 22:31] #28763 closed

[2022-10-05 22:31] #28762 closed

[2022-10-05 22:35] rickyyx commented on #28982
Another [failure](https://buildkite.com/ray-project/release-tests-branch/builds/1092#0183aa49-8992-42c9-bb1e-20be917f9e72)

Retrying

[2022-10-05 22:37] matthewdeng commented on #28967
Fixed by https://github.com/ray-project/ray/pull/28993

[2022-10-05 22:37] #28967 closed

[2022-10-05 22:37] matthewdeng commented on #28968
Fixed by https://github.com/ray-project/ray/pull/28993

[2022-10-05 22:37] matthewdeng commented on #28970
Fixed by https://github.com/ray-project/ray/pull/28993

[2022-10-05 22:37] #28970 closed

[2022-10-05 22:37] matthewdeng commented on #28971
Fixed by https://github.com/ray-project/ray/pull/28993

[2022-10-05 22:37] #28971 closed

[2022-10-05 22:37] matthewdeng commented on #28972
Fixed by https://github.com/ray-project/ray/pull/28993

[2022-10-05 22:37] #28972 closed

[2022-10-05 22:38] rickyyx opened #29094 "[release][CI] tune_cloud_aws_durable_upload failed"
### What happened + What you expected to happen

[Failure build ](https://buildkite.com/ray-project/release-tests-branch/builds/1092#0183a524-1e14-49fa-a040-ed6727b2f7a9)

[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_fu4pHcR21JMd4D2r7mkXn3uW?command-history-section=command_history)

### Versions / Dependencies

NA

### Reprod

[2022-10-05 22:40] rickyyx opened #29095 "[release][CI] stress_test_state_api failed"
### What happened + What you expected to happen

[Failure ](https://buildkite.com/ray-project/release-tests-branch/builds/1092#0183a524-1e71-43d5-b389-1049c65b25d8)

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-10-05 22:41] matthewdeng commented on #29094
@krfricke can I assign this to you?

[2022-10-05 22:46] richardliaw opened #29097 "[air] simple xgboost script swallowing error"
### What happened + What you expected to happen

I am expecting some error message that tells me what I need to fix.

[code]

### Versions / Dependencies

python 3.9, mac, master

[code]

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-10-05 22:49] rickyyx opened #29098 "[release][CI] datasets_ingest_400G failed"
### What happened + What you expected to happen

[Build failure ](https://buildkite.com/ray-project/release-tests-branch/builds/1092#0183a524-1ea8-4c7a-b3ff-0ccec829445f)

[Cluster ](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_87LZjb3qEvrk5hppdGaAkcHX?command-history-section=command_history)

Seems OOM kiiller related.

### Versions / Depende

[2022-10-05 22:52] matthewdeng commented on #29098
@clarng do you have any suggestions on how to handle this?

[2022-10-05 22:52] rickyyx opened #29100 "[release][CI] chaos_dask_on_ray_large_scale_test_no_spilling failed"
### What happened + What you expected to happen

[Build failure ](https://buildkite.com/ray-project/release-tests-branch/builds/1092#0183a524-1ec3-49c8-8eea-a477b73da424)
[Cluster ](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_paXtVfrbrefk5QDGNRFmUTyb?command-history-section=command_history)

Seems OOM related.

### Versions / Dependencies

NA

[2022-10-05 23:12] #29095 closed

[2022-10-05 23:26] c21 commented on #28989
This one is failed with OOM killer.

[2022-10-05 23:27] DmitriGekhtman opened #29101 "[KubeRay] Clearly document best practices for Ray pod requests and limits"
### Description

Document this clearly: https://discuss.ray.io/t/questions-for-configurations-using-helm-chart/7762/3?u=dmitri

### Link

_No response_

[2022-10-05 23:29] c21 commented on #28989
cc @clarng and @scv119.

[2022-10-05 23:29] c21 commented on #28989
should we disable OOM killer by hand now, or we should debug the underlying issue?

[2022-10-05 23:45] clarng commented on #28989
There is a known issue right now that affects ingest release test, we are planning to send out a PR to fix, if that doesn't merge in time we will disable it today

[2022-10-06 00:19] #28911 closed

[2022-10-06 00:25] scv119 commented on #28989
also shuffle is very advanced usecase, it's OK that v1 OOM killer doesn't work in this case.

[2022-10-06 00:39] krfricke commented on #28975
More runs with STRICT_PACK:

[code]

And with STRICT_SPREAD

[code]

[2022-10-06 00:48] scv119 commented on #28990
yup it's a core worker crash. it crashed at here: https://sourcegraph.com/github.com/ray-project/ray/-/blob/src/ray/core_worker/core_worker.cc?L226

[2022-10-06 01:17] amogkam commented on #28975
So the faster training with STRICT_SPREAD makes sense for CPU training.

Looks like [PyTorch is multithreaded by default](https://jdhao.github.io/2020/07/06/pytorch_set_num_threads/) so having each replica on a different machine means that each one can utilize all cores and they won't be competing with each other or with other CPU processes like Data loaders as much. This seems to provide better p

[2022-10-06 01:22] amogkam commented on #28975
Also the variance is ~20% which is the same as our threshold and is cutting it close. We should run for more times to reduce variance or increase our threshold to have more buffer.

Even something like just checking if Tune is <2x slower than Train only is probably good enough.

[2022-10-06 01:24] amogkam commented on #28975
Actually the fact that we are not seeing these failures for GPU training means that it's probably a problem with our setup rather than a perf regression in Tune.

[2022-10-06 03:29] gjoliver commented on #29093
Seems to be infra failure.
Simple retry run: https://buildkite.com/ray-project/release-tests-branch/builds/1092#0183aa8b-29b7-48f3-a3e7-e123587c2d9d

[2022-10-06 03:29] #29093 closed

[2022-10-06 04:16] #28996 closed

[2022-10-06 05:53] scottsun94 commented on #28788
That makes sense. I've added this to the backlog but we may not get to this very soon. At the same time, the state cli will allow you to easily download logs for live clusters.

[2022-10-06 07:02] #24806 closed

[2022-10-06 08:35] jdonzallaz commented on #29037
All those tests were running locally, on a local Ray instance. I tried updating grpcio without success (same with its last version; 1.49.1).
I tried letting it more time, but it never went up.

I also tested on our K8s cluster (Kuberay). It works perfectly with the deployment's runtime_env and went up really fast.

[2022-10-06 08:46] ArturNiederfahrenhorst commented on #26145
Closing because since a single error in a GPU SimpleQ release test way back, this design does not seem to lead to any issues.

[2022-10-06 08:46] #26145 closed

[2022-10-06 10:35] pratkpranav commented on #29036
I was able to get the script to run, with changes from https://github.com/ray-project/ray/pull/29084. One more question. when could we expect pygloo(3.0.0) to be released, it is sometime annoying sometime to built pygloo from source everytime, we want to use collective communication?

[2022-10-06 14:07] #22310 closed

[2022-10-06 15:28] #28982 closed

[2022-10-06 15:59] jovany-wang commented on #29036
Yes. I didn't release it because I thought there is only me using it.
@ericl Could you please help to transform the pygloo ownership to me or JIAO? including repo ownership and pypi ownership.

[2022-10-06 16:40] krfricke commented on #29094
Retried 10 times so far and never ran into the issue, but continuing to explore...

[2022-10-06 16:42] #28564 closed

[2022-10-06 16:44] pratkpranav commented on #29036
Thanks! That would be great!

[2022-10-06 16:49] clarkzinzow opened #29116 "[AIR - Datasets] Add feature guide for configuring ``batch_size`` for ``ds.map_batches()``"
Users may need guidance on configuring ``batch_size`` for `ds.map_batches()``, since the hardcoded default of 4096 will be suboptimal for wide tables and datasets containing large images, and the semantics of parallelism vs. batch size got more complicated with the block bundling PR.

[2022-10-06 17:28] shahsmit1 opened #29118 "Ray Train: xgboost training causes OOMs when using scipy.sparse matrices"
### What happened + What you expected to happen

Bug: During xgboost training using ray train, the node mem usage continuously increases and there is an OOM. The object store memory is pretty low, the source of the memory increase isn't known.

Expected behavior: training completes

Logs:
[code]

### Versions / Dependencies

Ray version, installed in notebook 2.0.0.
Other libraries:
[code]
Python

[2022-10-06 17:35] shahsmit1 commented on #29118
More data on this slack thread: https://ray-distributed.slack.com/archives/C030EQH72GG/p1665016628560519

[2022-10-06 18:17] scottsun94 opened #29120 "[Docs] The right arrow icon is missing"
### What happened + What you expected to happen

The right arrow in the rate the doc component is missing due to a bug in the code: it uses the paid version of the icon.

<img width="1622" alt="Screen Shot 2022-10-06 at 11 11 16 AM" src="https://user-images.githubusercontent.com/9677264/194388148-d50587d6-6d46-4d2f-bc64-c58aecb7d6c2.png">
<img width="1629" alt="Screen Shot 2022-10-06 at 11 11 34 A

[2022-10-06 18:24] stephanie-wang opened #29122 "[Datasets] Calling limit() materializes data"
### What happened + What you expected to happen

Calling Dataset.limit() causes data to be materialized, which can cause extra object store copies, even though a subsequent transform could be fused. Ideally the operation should be pushed down so that stage fusion can still happen.

### Versions / Dependencies

3.0dev

### Reproduction script

This script shows that `.limit()` forces extra executio

[2022-10-06 18:27] amogkam commented on #29118
Hey @shahsmit1 thanks for raising this! How large is your data size? The OOMing is happening due to heap memory being used, not object store memory which explains why you're not seeing object store memory being used much.

The peak heap memory usage for xgboost data ingest is ~3x the data size (you can read more here: https://github.com/ray-project/xgboost_ray#memory-usage) so if your data size is

[2022-10-06 18:27] amogkam commented on #29118
also cc @krfricke @Yard1

[2022-10-06 18:48] shahsmit1 commented on #29118
I create a ray dataset from the pandas dataframe using `train_dataset = ray.data.from_pandas(X_df)`, and then dump it as follows:
[code]
The ray dataset size is 18MB. If I dump the dataframe itself directly, then its 863 MB (not sure about the discrepancy). Regardless, both of sizes are way less that 10GiB
[code]
Is there a way I can figure out what is in the heap memory of the ray worker/actor?

[2022-10-06 18:56] shahsmit1 commented on #29118
My understanding was that using ray dataset, the input train dataset is loaded onto the object store and mapped into the shared memory of the actors, so we shouldn't be using heap memory for each of the actors. Is that a wrong assumption? I am following the example here: https://docs.ray.io/en/latest/ray-air/trainer.html#trainer-basics

[2022-10-06 19:01] amogkam commented on #29118
Ray Datasets are just holding the reference to the actual data, so the size of the dataset object itself will be very small.

But if the dataset size is 863 MB then you definitely should not be OOMing...

[2022-10-06 19:02] shahsmit1 commented on #29118
also, any pointers as to repartitioning the train dataset, or loading subset/chunks of data. Given that in my `ScalingConfig` I set `num_workers` to 3, should I be repartitioning the train dataset or is this handled internally?

[2022-10-06 19:08] amogkam commented on #29118
That's correct, but we may not always have zero copy reads in all cases. If you are using a Pandas dataframe certain dtypes may not be able to do zero copy reads. Do you mind sharing the columns and the dtypes of your pandas dataframe that's being used to create the Ray Dataset?

[2022-10-06 19:10] shahsmit1 commented on #29118
Sure, attaching it below. Could it be because the columns are sparse, then they are being densified and causing OOMs?
<img width="468" alt="Screen Shot 2022-10-06 at 12 09 48 PM" src="https://user-images.githubusercontent.com/86746407/194398405-cf90711a-2e75-4e5e-b061-920223de97a4.png">

[2022-10-06 19:10] shahsmit1 commented on #29118
Thanks Amog, very much appreciate your help!

[2022-10-06 19:11] amogkam commented on #29118
Repartitioning happens automatically internally if the number of blocks doesn't equal to the number of training workers.

[2022-10-06 19:12] amogkam commented on #29118
also cc @jiaodong

[2022-10-06 19:15] shahsmit1 commented on #29118
also, for reference, vanilla xgboost runs fine on the same instance with the same set of inputs

[2022-10-06 19:38] #28467 closed

[2022-10-06 20:04] #28897 closed

[2022-10-06 20:05] c21 commented on #29053
It looks like transient error and passed now - https://buildkite.com/ray-project/release-tests-branch/builds/1093#0183aa6f-d837-4d51-b61c-26daed2e9cfb . Lower priority to be not release blocker.

[2022-10-06 20:06] c21 commented on #29054
It looks like transient error and passed now - https://buildkite.com/ray-project/release-tests-branch/builds/1094#0183aa6f-510e-49a4-b3cf-f06e48708fe4 . Lower priority to be not release blocker.

[2022-10-06 20:08] mzakharocsc opened #29127 "[Core] Ray Autoscaler does not restart a worker node on setup failure"
### What happened + What you expected to happen

In a ray aws cluster, dynamically added worker nodes that sometimes fail to execute statements listed inside `setup_commands` configuration block will not recover. Command execution failure is reported on the monitor console, but the failed node will continue to show up as `uninitialized` pending status indefinitely.
Expected behaviour is to restart

[2022-10-06 20:09] c21 commented on #29052
It looks like transient error and passed now - https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-8970-43c6-8fb1-5942247f3c42 . Lower priority to be not release blocker.

[2022-10-06 20:10] c21 commented on #29098
The test is passed now - https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-894e-4198-96aa-1450ed724066 . @clarng did you push any fix?

[2022-10-06 20:11] ericl opened #29128 "[tune] Option to not override working_dir"
Currently, Tune always sets the working dir to ~/ray_results/<trial_scoped_dir>. This can be very confusing for users that depend on relative paths.

We should (1) Add a top-level run config option like `should_chdir` to make this very visible, (2) improve docs here, and (3) consider making this the default.

Another issue is that TUNE_ORIG_WORKING_DIR isn't pointing to the runtime_env dir, but th

[2022-10-06 20:15] krfricke commented on #29094
This is an error in the test script (fixed in #29129). Because the actual tune logic does work, this is not a release blocker.

[2022-10-06 20:22] richardliaw commented on #29128
Labeling this as high prio due to **internal needs**.

This does not need to land in 2.1 release.

Assignee should take this issue and get consensus on the API on this thread.

[2022-10-06 20:31] #28926 closed

[2022-10-06 20:33] #29051 closed

[2022-10-06 20:40] richardliaw commented on #29039
You may get a faster response on discuss.ray.io btw

[2022-10-06 20:40] richardliaw commented on #29039
cc @jjyao to respond?

[2022-10-06 21:35] #29036 closed

[2022-10-06 21:42] bveeramani opened #29135 "[Datasets] Make ragged tensor shape more descriptive"
### Description

[code]

I expected the `TensorDtype` shape to be `(None, None, 3)` but I got `None` instead.

### Use case

We need this functionality to make `to_tf` work with ragged tensors. If we make the ragged tensor shape more descriptive, we can accurately infer the `output_signature` for `tf.data.Dataset.from_generator`.

[2022-10-06 21:43] bveeramani opened #29136 "[Datasets] Make `to_tf` work with ragged tensors"
### Description

Title.

This depends on #29135

### Use case

This'd let users convert datasets with differently-sized images to a TensorFlow dataset.

[2022-10-06 21:47] matthewdeng commented on #29136
Is there a workaround in the meantime? e.g. passing in an optional spec

[2022-10-06 21:52] krfricke opened #29137 "[rfc][AIR] API to fetch results from previously run trial"
## Background

Prior to #29083, users did not have an easy way to retrieve tuning results from an existing experiment checkpoint.

While #29083 included a quick fix for this by introducing `Tuner.get_results()`, this change has not been thoroughly discussed, and alternatives have not been fully explored. This RFC tries to rectify this by opening up a discussion.

## Problem/Gap to close

Note: _cu

[2022-10-06 21:54] bveeramani commented on #29136
No. We could add an optional `output_signature` parameter, but I don't think we should introduce a parameter if it's going to be obsolete in a few weeks.

[2022-10-06 21:55] xwjiang2010 commented on #29137
cc @justinvyu

[2022-10-06 22:07] OrenLeung commented on #29036
Awesome thanks! Will try using gloo again once the pygloo is released

[2022-10-06 22:12] #27049 closed

[2022-10-06 22:35] #28831 closed

[2022-10-06 22:59] matthewdeng commented on #29128
@justinvyu can you take a look at this (cc @krfricke)

Some original context: https://github.com/ray-project/ray/issues/9571

Would be helpful to collect use-cases and possible considerations - of the top of my head there are a few directories the user _may_ want to use (though I haven't verified which of these are practical):
1. Driver
2. Tuner (will be different from 1 when using Ray Client)
3.

[2022-10-06 23:06] msingh00 commented on #7815
what is the status of this?   I am running into this also...My code looks like the line mentioned above:

`print(Foo.remote().get_value.remote())`

Is the solution to not do this and assign the actor instantiation to a local variable?

[2022-10-06 23:07] scottsun94 commented on #13122
@alifaki077 Is this issue still happening? I cannot repro locally.

[2022-10-06 23:12] scottsun94 commented on #13525
@concretevitamin
In Ray 2.0, we made the previous experimental dashboard the new default dashboard. Sorting by utilization metrics should work there. We plan to deprecate the old dashboard in the future.

Any feedback for the sorting of the new dashboard or new dashboard in general?

[2022-10-06 23:14] scottsun94 commented on #14763
cc: @rkooo567 @ericl

[2022-10-06 23:31] jjyao commented on #29039
Hi @merrymercy,

Currently the serialization is on the critical path of task submission so the task submission will only return after serialization is done.

But I think we may be able to do it in a background python thread, need to check GIL as well tho.

@suquark Do you have any insights on how we can make the serialization faster?

[2022-10-06 23:39] #29120 closed

[2022-10-06 23:49] #27790 closed

[2022-10-06 23:51] #29094 closed

[2022-10-07 00:17] peytondmurray commented on #28853
I'm taking a look at this one now!

[2022-10-07 01:09] scottsun94 commented on #15854
@philippeboyd Is this issue still happening?

[2022-10-07 01:16] scottsun94 commented on #16207
Is the root issues resolved now? @fyrestone

[2022-10-07 01:22] scottsun94 commented on #16328
@fyrestone Is this issues resolved by the PR above?

[2022-10-07 01:38] scottsun94 commented on #16781
Let's close this one for now? @mattip
Please open a new issues or let us know if this issue still exists. @SheldonCurtiss

[2022-10-07 01:42] scottsun94 commented on #16807
@SheldonCurtiss Could you confirm if this issue has been fixed?
You seemed to submit the same issue here.  #16781 @mattip has some follow-up questions for you.

[2022-10-07 01:44] scottsun94 commented on #27211
@nollied
In Ray 2.0, we changed the experimental dashboard to be the default dashboard. We plan to deprecate the old dashboard in the future. In the new dashboard, we currently don't support profiling the actor.

For better feature planning for the new dashboard, I have some questions:
- Could you help us understand what you want to achieve with "profiling actor" feature? How much value would it b

[2022-10-07 06:05] scottsun94 commented on #25437
@gawsoftpl In ray 2.0, we made the previous experimental dashboard the default dashboard. Are you still running into this issue if you switch to ray 2.0?

[2022-10-07 06:10] scottsun94 commented on #23788
@skabbit @giucesar
In ray 2.0, we made the previous experimental dashboard the default dashboard.
Not sure if you have upgraded to 2.0, but are you still running into this issue in the version you use?

[2022-10-07 06:12] scottsun94 commented on #23548
@goswamig Are you still running into the same issue if you switch to 2.0?

[2022-10-07 06:13] scottsun94 commented on #23118
Thanks for reporting this!
cc @alanwguo for thoughts.

[2022-10-07 06:22] mattip commented on #23118
In the meantime, speedscope 1.14 has been released.

[2022-10-07 06:22] scottsun94 commented on #22548
Related issue: https://github.com/ray-project/ray/issues/13100

1. Let's think about the ideal behavior: how to minimize confusion with logical and physical resources.
2. Then let's fix it to match the ideal behavior.

[2022-10-07 06:32] ijrsvt commented on #15675
@scottsun94 I have no idea...I'm going to guess not 🙃

[2022-10-07 06:32] #15675 closed

[2022-10-07 06:35] mattip commented on #16781
Since @SheldonCurtiss has not responded, I think we have no choice other than to close this.

[2022-10-07 08:49] richardliaw commented on #29137
Doing both seems reasonable to me.

[2022-10-07 08:49] skabbit commented on #23788
We upgraded to 2.0 and new dashboard is just great, thanks 🥇

[2022-10-07 08:51] #10697 closed

[2022-10-07 08:51] #3254 closed

[2022-10-07 08:51] richardliaw commented on #25965
Think this is resolved!

[2022-10-07 08:51] #25965 closed

[2022-10-07 08:51] #22530 closed

[2022-10-07 08:54] #9046 closed

[2022-10-07 08:54] #8678 closed

[2022-10-07 08:54] #4679 closed

[2022-10-07 08:54] #12258 closed

[2022-10-07 08:55] #12007 closed

[2022-10-07 08:55] #11925 closed

[2022-10-07 08:55] #12944 closed

[2022-10-07 08:55] #12604 closed

[2022-10-07 08:55] #12460 closed

[2022-10-07 08:58] #16536 closed

[2022-10-07 08:58] #12205 closed

[2022-10-07 08:58] #14776 closed

[2022-10-07 08:59] #3274 closed

[2022-10-07 08:59] #12213 closed

[2022-10-07 08:59] #27767 closed

[2022-10-07 09:00] richardliaw commented on #29052
Let's close this out when it's passing. These issues go stale easily.

[2022-10-07 09:00] #29052 closed

[2022-10-07 09:00] richardliaw commented on #29054
Let's close this out when it's passing. These issues go stale easily.

[2022-10-07 09:00] #29054 closed

[2022-10-07 09:00] richardliaw commented on #29053
Let's close this out when it's passing. These issues go stale easily.

[2022-10-07 09:00] #29053 closed

[2022-10-07 09:02] richardliaw commented on #28937
(assuming this is closed. don't forget to use "Close #ISSUE" when creating PRs.

[2022-10-07 09:02] #28937 closed

[2022-10-07 09:03] #28668 closed

[2022-10-07 09:08] richardliaw commented on #27121
Driver shouldn't terminate until the jupyter notebook process is terminated.

[2022-10-07 09:08] #27121 closed

[2022-10-07 09:10] #15494 closed

[2022-10-07 09:15] richardliaw commented on #24454
closing for now

[2022-10-07 09:15] #24454 closed

[2022-10-07 09:16] richardliaw commented on #28932
closing this since it's going to go stale. reopen a new issue if you see it.

[2022-10-07 09:16] #28932 closed

[2022-10-07 09:19] richardliaw commented on #28272
closing - we should reopen a new issue when we see failures again.

[2022-10-07 09:19] #28272 closed

[2022-10-07 09:23] #14508 closed

[2022-10-07 09:23] #16380 closed

[2022-10-07 09:23] #17203 closed

[2022-10-07 09:24] #16859 closed

[2022-10-07 09:39] ArturNiederfahrenhorst commented on #28998
Most likely an infra issue that prevented trails from being scheduled, [ran successfully today](https://buildkite.com/ray-project/release-tests-branch/builds/1095).

[2022-10-07 09:39] #28998 closed

[2022-10-07 12:02] fyrestone commented on #16328
I think this issue is resolved by the PR above.

[2022-10-07 12:04] fyrestone commented on #16207
Yes.

[2022-10-07 13:03] Joshuaalbert opened #29156 "[Dashboard] ability to search all the logs, all at once from a single place"
### Description

When you have lots of actors and complicated system in production, and you want to respond quickly to an error, it is really hard to open up every single actor log file and then search them from the dashboard. In addition, searching through log files obfuscates the actor name, so it obfuscates clarity.

As a dev ops engineer, I would like:

- [ ] to be able to search all the log f

[2022-10-07 15:43] udayk13 commented on #28704
Hi @get-a-grep, does this pattern work for you ? Do you have any other concerns here ?

[2022-10-07 15:59] stephanie-wang opened #29160 "[AIR] DatasetContext values don't get propagated for BatchMapper preprocessors"
### What happened + What you expected to happen

DatasetContext allows setting Datasets config values like the target max block size. Normally these are propagated from the driver to all tasks in the Dataset.

However, when using the AIR trainer, context changes made by the driver don't get propagated to the training dataset preprocessor. I think this is likely because the BatchMapper doesn't save

[2022-10-07 16:11] #26605 closed

[2022-10-07 16:23] matthewdeng commented on #29160
@c21 can you take a look? Shouldn't `DatasetContext` be global?

[2022-10-07 16:25] stephanie-wang commented on #29160
Btw, for now I can workaround by calling the BatchMapper directly from the driver instead of passing it as the preprocessor to Train.

[2022-10-07 16:27] jjyao opened #29162 "[Core] Worker pool didn't prestart num_cpus workers"
### What happened + What you expected to happen

When the first driver registers, worker pool has the code to prestart `--num_initial_python_workers_for_first_job` (equals to num_cpus) workers. However, it can only successfully start `--maximum_startup_concurrency` (equals to number of physical cpus) workers.

The result is that on a 16 cpus machine, if we do `ray.init(num_cpus=32)`, only 16 worke

[2022-10-07 16:31] c21 commented on #28974
Still failing yesterday - https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_LmPgPzNA7TLdJ32Wmd1AwKdH?command-history-section=command_history .

Verified the change is taking effect on the run - https://github.com/ray-project/ray/commit/8fd6a5be144cf8fe21c4507807f306db69e67034 .

[2022-10-07 16:45] c21 opened #29163 "[release][CI] air_benchmark_torch_batch_prediction_gpu_1x1_20gb"
### What happened + What you expected to happen

Build failure - https://buildkite.com/ray-project/release-tests-branch/builds/1095#0183af7e-97cf-46ad-a06d-fb6cf8b4e73a

Cluster - https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_jJvecMVZZ12NDKwb1B5bZQ6w

[code]

### Versions / Dependencies

master

### Reproduction script

as above

### Is

[2022-10-07 16:47] c21 commented on #29026
Latest failure on nightly test - https://buildkite.com/ray-project/release-tests-branch/builds/1095#0183af7e-98f9-4e87-be63-23f6f2d5b364

Cluster - https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_aF1eLn9hRQKHGdECB7zdtZMK

@amogkam (as ML oncall) could you help take a look?

[2022-10-07 16:54] c21 opened #29166 "[release][CI] inference"
### What happened + What you expected to happen

build failure - https://buildkite.com/ray-project/release-tests-branch/builds/1095#0183af7e-9945-4d77-b105-30694a258d3a

cluster - https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_8RfP4VztAY9MAENHQcZTTGdq?command-history-section=command_history

[code]

### Versions / Dependencies

master

### Repro

[2022-10-07 16:57] scottsun94 commented on #16207
Closing it then.

[2022-10-07 16:57] #16207 closed

[2022-10-07 16:58] c21 opened #29167 "[release][CI] pg_long_running_performance_test"
### What happened + What you expected to happen

build failure - https://buildkite.com/ray-project/release-tests-branch/builds/1095#0183af7e-99af-4723-9a34-c84ec4160e92

cluster - https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_EbtyDQBxpcdnm5bLCFir3p2d

From the log, it's hard for me to see if it's a transient error or not. Creating an issue to c

[2022-10-07 16:59] scottsun94 commented on #16328
@fyrestone Do you want to keep this issue open for tracking the root cause or track it somewhere else?

[2022-10-07 17:02] scottsun94 commented on #16781
SG. Closing it for now.

[2022-10-07 17:02] #16781 closed

[2022-10-07 17:02] stephanie-wang opened #29168 "[AIR] Dynamic block splitting does not work for BatchMapper"
### What happened + What you expected to happen

BatchMapper doesn't support a batch size, so it iterates over an entire input block at once. Then Datasets can't split the block, since the minimum read granularity is a single block. This leads to unintuitive behavior where the inputs to a BatchMapper may get dynamically split, but then the BatchMapper fuses them again into one big block.

Plus the

[2022-10-07 17:02] rickyyx opened #29169 "[CI][core] Move existing nightly tests from prod env to staging"
### What happened + What you expected to happen

We should move more tests from prod env to staging to catch any issues as early as possible!

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-10-07 17:05] stephanie-wang opened #29170 "[Datasets] batch_size="auto" for map_batches"
### Description

The default batch_size of 4096 doesn't make sense for wide tables and can easily lead to OOMs even if features like dynamic block splitting are used.

It would be great to support an "auto" option, maybe for now just based on average input row size and target block size. More advanced options based on actual memory usage during execution could be supported in the future.

### Use

[2022-10-07 17:06] hanli-0612 opened #29171 "[AIR] max_failures is not respected in BackendExecutor of data parallel trainer"
### What happened + What you expected to happen

Hi,

I'm seeing my training job built with `TensorflowTrainer` terminated with runtime error "RuntimeError: Training has failed even after 1 attempts. You can change the number of max failure attempts by setting the `max_retries` arg in your `Trainer`" after finishing training with non-zero number of retries, even though I've set run_config as `RunC

[2022-10-07 17:07] scottsun94 commented on #23118
I took a quick look at speedscope. It is used for visualizing the profiling info, especially the flamegraphs. I believe it was previously used in the old dashboard for profiling actors?

In Ray 2.0, we made the previous experimental dashboard be the default dashboard. Profiling actors is not supported in it for now. When we work on profiling related features in the new dashboard, this library will

[2022-10-07 17:10] #26994 closed

[2022-10-07 17:28] scottsun94 commented on #13100
@blueplastic Does @rkooo567 's reply answer this question? Having this logical/bookkeeping resource concept is helpful in some other cases: for example, when you need heterogeneous clusters, you could specify `cpu=0` for gpu nodes so that no cpu tasks will be scheduled there.

- Only showing 8 python PIDs is a bug and tracked here: https://github.com/ray-project/ray/issues/29162. Ideally, we shoul

[2022-10-07 17:30] #27851 closed

[2022-10-07 17:31] clarkzinzow commented on #29160
@matthewdeng @amogkam I believe this is because the preprocessor transform will be invoked from the Trainer's coordinator actor, right? So the `DatasetContext` that's propagated through to the `.map_batches()` tasks will be the default `DatasetContext` in the actor, rather than the updated `DatasetContext` in the driver.

[2022-10-07 17:49] clarkzinzow commented on #29160
@matthewdeng @amogkam Any opposition to solving this by capturing the driver-side `DatasetContext` in the `TrainTrainable` class definition closure and setting it (in the actor) in `Trainable.setup()`? https://github.com/ray-project/ray/blob/2b62bba7c4014c8d943b197bf8396df7dd0f82e3/python/ray/train/base_trainer.py#L421-L437

[2022-10-07 18:09] scottsun94 commented on #21974
@newmanwang
In ray 2.0, we made the previous experimental dashboard the default dashboard.
Not sure if you have upgraded to 2.0, but are you still running into this issue with this new dashboard?
If so, could you attach a screenshot of your dashboard? I'm not exactly sure what you mean by "tasks remain on dashboard". The ray workers still there or?

[2022-10-07 18:10] amogkam commented on #29026
Looks like this is failing because nodes are being marked dead
[code]

retrying again to see if this is a transient failure.

also cc @krfricke @rickyyx as core on call

[2022-10-07 18:12] scottsun94 commented on #21618
@auderson
In ray 2.0, we made the previous experimental dashboard the default dashboard.
Not sure if you have upgraded to 2.0, but are you still running into this issue with this new dashboard?

[2022-10-07 18:15] scottsun94 commented on #18889
@xychu @newmanwang @yyzlong @witt3rd @spolcyn @zhaichenhao1889 @jakestrouse00 @Murphy-OrangeMud
In ray 2.0, we made the previous experimental dashboard the default dashboard.
Not sure if you have upgraded to 2.0, but are you still running into this issue with this new dashboard?

[2022-10-07 18:17] scottsun94 commented on #18491
@Hoeze
In ray 2.0, we made the previous experimental dashboard the default dashboard.
Not sure if you have upgraded to 2.0, but are you still running into this issue with this new dashboard?

[2022-10-07 18:23] amogkam commented on #29160
@clarkzinzow @c21 what's the general solution for running Datasets inside other tasks/actors? Not necessarily AIR.

Should DatasetContext be attached to the dataset object when it is serialized/deserialized?

[2022-10-07 18:25] amogkam commented on #29160
yep @clarkzinzow your suggestion sounds good for AIR Trainers and we should make the change.

but the problem may also occur in other situations so a general solution would probably be best.

[2022-10-07 18:26] ericl opened #29175 "[data] map_groups doesn't allow returning a list of simple values"
It seems like unlike map_batches, with map_groups you have to return a pd.DataFrame, even if you want to return a list of simple results. I would expect returning a list to create a dataset of simple list blocks:

[code]

[code]

[2022-10-07 18:26] amogkam commented on #29168
@matthewdeng do you remember if there was a reason we didn't support batch size here? Seems like it can be a very easy fix.

also cc @jiaodong

[2022-10-07 18:35] rickyyx commented on #29026
Will take a look - @scv119 if you got time

[2022-10-07 18:43] c21 commented on #29175
We should use `DelegatingBlockBuilder` here - https://github.com/ray-project/ray/blob/master/python/ray/data/grouped_dataset.py#L320 . Will put up a fix today.

[2022-10-07 18:44] scottsun94 commented on #11641
@ThyrixYang Thanks for the feedback. Added the request to our backlog.

[2022-10-07 18:50] c21 commented on #29160
yeah I agree, I think we should have the `DatasetContext` stored inside `Dataset`.

[2022-10-07 18:57] clarkzinzow commented on #29160
@c21 @amogkam That won't work, the `DatasetContext` needs to be propagated to Ray tasks, which do _not_ get passed the full `Dataset` object since the `Dataset` object contains object references for all data blocks, while Ray tasks typically operate on a single block (or a small subset of blocks, or chunks of a block).

[2022-10-07 19:04] amogkam commented on #29026
this passed on retry @rickyyx, so looks like this is a transient error.

https://buildkite.com/ray-project/release-tests-branch/builds/1095#0183b3a2-9fc2-4c80-9250-6fbb8c370d80

[2022-10-07 19:07] ArturNiederfahrenhorst commented on #28981
[We ran this](https://buildkite.com/ray-project/release-tests-branch/builds/1095#_) successfully today.

[2022-10-07 19:07] #28981 closed

[2022-10-07 19:49] bendemott opened #29182 "Docker Builds: Differentiate Ray Versions?"
### Description

I can't find a way to easily understand docker labels and ray major versions.

I spent several hours trying to understand if ray releases are `2.0.0` vs `3.0.0` - There's no tag that differentiates.
I don't see a `pypi` release for `3.0.0` yet - so the default install from pypi doesn't work with the most recent docker images, this makes it hard for newcomers - and no obvious way t

[2022-10-07 22:12] shahsmit1 commented on #29118
I was able to get a proper out of memory error once I scaled the instance size to 64G, seems like xgboost ray densifies the matrices and causes the OOM: `numpy.core._exceptions.MemoryError: Unable to allocate 105. GiB for an array with shape (500000, 28287) and data type int64` . In this case, will there be native support for `scipy.sparse` matrices, since the vanilla xgboost runs in less than 32G

[2022-10-07 22:47] #28859 closed

[2022-10-07 23:41] jiaodong commented on #28974
We had regression on prediction side with cluster env on commit fd01488 , node memory pattern from training to prediction is

<img width="1341" alt="Screen Shot 2022-10-07 at 4 39 23 PM" src="https://user-images.githubusercontent.com/6372689/194675700-4b1648be-8b1a-4e0b-9fa2-e4cce2994bf2.png">

Where our known, stable good run on commit c8dbbf3, node memory pattern from training to prediction is

[2022-10-07 23:56] #29175 closed

[2022-10-08 00:25] c21 commented on #28974
CC @amogkam (ML oncall) FYI for @jiaodong's finding.

[2022-10-08 03:02] Stephen-Hao opened #29197 "The training will be stuck"
### What happened + What you expected to happen

When I run ray version 2.0 on the A10 server, the training will be stuck. How can I solve this problem?
![2nmQpDdKUC](https://user-images.githubusercontent.com/35420905/194684889-34665636-dedb-41dd-a9f4-391d46b401ff.jpg)

[2022-10-08 03:02] fyrestone commented on #16328
We can close this issue. The root cause is **PrometheusServiceDiscoveryWriter** initializes global state accessor. But I am not familiar this part. I think we can open a new issue if needed.

[2022-10-08 08:25] auderson commented on #21618
The new dashboard fixes this issue.

But BTW I think it can be more informative if you keep num of workers in the summary view. So that I don't have to click the nodes 1-by-1.

[2022-10-08 08:48] #24380 closed

[2022-10-08 08:48] #24986 closed

[2022-10-08 08:48] #14702 closed

[2022-10-08 08:48] #24426 closed

[2022-10-08 08:48] #12179 closed

[2022-10-08 08:49] #12328 closed

[2022-10-08 08:49] #8248 closed

[2022-10-08 08:49] #4479 closed

[2022-10-08 08:49] #24802 closed

[2022-10-08 08:49] #25176 closed

[2022-10-08 08:49] #25128 closed

[2022-10-08 08:49] #25218 closed

[2022-10-08 08:49] #23902 closed

[2022-10-08 08:49] #25222 closed

[2022-10-08 08:49] #25244 closed

[2022-10-08 08:49] #25246 closed

[2022-10-08 08:49] #23071 closed

[2022-10-08 08:49] #25081 closed

[2022-10-08 10:17] vakker opened #29199 "[Dashboard] The agent.py process leaks memory"
### What happened + What you expected to happen

I raised this issue on the [discussion forum](https://discuss.ray.io/t/large-memory-usesage-by-dashboard/7800).

I’m running some RLlib + Tune workloads on multiple nodes.

After a day or so I’m getting:

[code]

That doesn’t look healthy.
I can start the worker with `ray start <...> --include-dashboard false` (according to the [doc](https://docs.ra

[2022-10-08 13:13] ferhatmelih commented on #13240
Hi, Thanks for the solutions above but some of the links are old. I want to share my solution based on this documentation: https://docs.ray.io/en/latest/tune/tutorials/tune-resources.html

[code]

[2022-10-08 13:23] adiyaDalat commented on #5824
I'm using following code for  training:
`
while True:
    result = trainer.train()
`

Any ways to change default directory of tensorboard files?
@richardliaw @sjtuytc

Thanks!

[2022-10-08 14:04] evanrittenhouse commented on #28460
Sounds good! Hope to have a PR out soon - sorry, work's been insane this week

[2022-10-08 16:22] DmitriGekhtman commented on #25410
bump

[2022-10-08 19:51] simonsays1980 opened #29200 "[Core] `py_modules` does not support imported modules"
### What happened + What you expected to happen

I have a custom package I installed into my virtual environment. In my script I import this package and pass it to `runtime_env` like this:

[code]
I get an error:
[code]

This is due to the fact that the [validation](https://github.com/ray-project/ray/blob/ed06ceb68d42a02655b136d9cf8149f3a07b1231/python/ray/_private/runtime_env/validation.py#L33) h

[2022-10-08 23:28] AmirBFar opened #29201 "[Datasets] Can't import `read_tfrecords`"
Hi, I have been getting `ImportError: cannot import name 'read_tfrecords' from 'ray.data' (.../venv/lib/python3.9/site-packages/ray/data/__init__.py)` when importing `read_tfrecords`. Any idea why is this happening?

[2022-10-09 05:55] wjrforcyber commented on #13938
So any chance show us how did you solve it ? Thanks.

[2022-10-09 06:19] bveeramani commented on #29201
Hey @AmirBFar, thanks for opening an issue! Could you tell us what version of Ray you're using? Also, could you share the full traceback?

[2022-10-09 06:20] bveeramani opened #29202 "[Datasets] Add docstring examples for `to_tf`"
### Description

There're no examples in the `to_tf` API reference. We should add some.

### Link

https://docs.ray.io/en/master/data/api/dataset.html#ray.data.Dataset.to_tf

[2022-10-09 08:02] vedantroy opened #29203 "Cluster: allow templating of environment variables into yaml files"
### Description

So, I can do this:
[code]

Basically, it would be very nice to have a way to template in environment variables.

### Use case

When setting up nodes, I sometimes need to use things like a API key in the node initialization process.
I would rather not have to hard code the API key into my yaml file.

[2022-10-09 09:13] vedantroy commented on #29203
An alternative would be to sync file mounts to outside of the docker container, then I could read from (for exampl), a .env file during the initialization step

[2022-10-09 16:08] AmirBFar commented on #29201
Hey @bveeramani . I am using 3.0.0.dev0. The full traceback is
`---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
Input In [38], in <cell line: 1>()
----> 1 from ray.data import read_tfrecords

ImportError: cannot import name 'read_tfrecords' from 'ray.data' (/usr/local/share/sciencebox/venv/lib/p

[2022-10-09 16:18] bveeramani commented on #29201
Hmm...weird. Could you run this code snippet and let me know what you get?

[code]

[2022-10-09 17:16] AmirBFar commented on #29201
`cba26cc83f6b5b8a2ff166594a65cb74c0ec8740`

[2022-10-09 20:19] bveeramani commented on #29201
Looks like you’re using a version of Ray from August 18 (https://github.com/ray-project/ray/pull/27994), but `read_tfrecords` was added in September (https://github.com/ray-project/ray/pull/28430). Could you try upgrading your Ray nightly and see if the error persists?

[2022-10-09 20:37] #14491 closed

[2022-10-09 20:40] #20609 closed

[2022-10-09 20:41] #21132 closed

[2022-10-09 20:42] #20534 closed

[2022-10-09 20:43] #17864 closed

[2022-10-09 20:43] #23797 closed

[2022-10-09 20:43] #24033 closed

[2022-10-09 20:43] #23967 closed

[2022-10-09 20:44] #23974 closed

[2022-10-09 20:45] #23960 closed

[2022-10-09 20:45] #24723 closed

[2022-10-09 20:45] #24702 closed

[2022-10-09 20:46] #24750 closed

[2022-10-09 20:47] #24209 closed

[2022-10-09 20:47] #22164 closed

[2022-10-09 20:47] #24655 closed

[2022-10-09 20:47] #24790 closed

[2022-10-09 20:48] #24810 closed

[2022-10-09 20:48] #24568 closed

[2022-10-10 01:55] GaoXinzhi commented on #27412
Hi, I encounter the same problem too. Have you solved it? 😭

[2022-10-10 02:50] jovany-wang commented on #23973
reopening

[2022-10-10 03:10] mvashishtha commented on #25025
@rkooo567 could you please reopen this issue? These messages are really annoying and I think this issue is still relevant.

[2022-10-10 03:34] rkooo567 commented on #25025
@scv119 @rickyyx we should fix this fo 3.10 for ray 2.1

[2022-10-10 03:34] rkooo567 commented on #25030
cc @rickyyx @scv119 this is TODO for python 3.10

[2022-10-10 04:49] tzyodear commented on #16770
把306~309行放到262行后面改成alpha_prime_loss.backward(retain_graph=True)就行了。 原代码里也是先算alpha_prime_loss再算critic_loss的。可以参考[https://github.com/aviralkumar2907/CQL/blob/master/d4rl/rlkit/torch/sac/cql.py](url)  第270行后面的

[2022-10-10 06:30] scottsun94 commented on #16328
@fyrestone I'm not familiar with it either. Could you help create the issue?
cc: @rkooo567 @ericl

[2022-10-10 06:33] scottsun94 commented on #21618
Great.

Could you tell me more about why you want to know the # of workers? Why and when do you need it?

[2022-10-10 06:44] auderson commented on #21618
With that I can tell which node is idle and which is busy when debuging. Sometimes it's not enough to only look at the CPU usage.

And CPU usage is not accurate either:
![image](https://user-images.githubusercontent.com/48577571/194810413-e1fd90e5-6b6d-4cc8-aa0c-d7c8bd05adb2.png)

[2022-10-10 09:17] mfojtak opened #29207 "[Serve] deploy_group method deletes all deployments"
### What happened + What you expected to happen

```serve.run``` calls ```deploy_group``` which wipes out all previosly deployed deployments.

This is because:
[code]
in client.py

this finds difference between sets - which is all existing deployments.
It should be using intersection - which finds new deployments if they already exist

Also there is hardcoded value for remove_past_deployments in s

[2022-10-10 09:46] sheetalsatheesh commented on #9098
![rayband](https://user-images.githubusercontent.com/110782111/194838571-9e64d006-9dca-40e3-b73b-6942827868fc.jpg)
Hello,
I am facing the same issue while using Hyperband using ray-tune. Could you please let me know if you have found a solution for this?

[2022-10-10 15:47] AmirBFar commented on #29201
I am trying to install the September commit with

`pip install https://s3-us-west-2.amazonaws.com/ray-wheels/master/e84f9a451b190d5e244cc73c15c662160727a4b7/ray-3.0.0.dev0-cp39-cp39-manylinux2014_x86_64.whl`

and I get

`ERROR: HTTP error 404 while getting https://s3-us-west-2.amazonaws.com/ray-wheels/master/e84f9a451b190d5e244cc73c15c662160727a4b7/ray-3.0.0.dev0-cp39-cp39-manylinux2014_x86_64.whl

[2022-10-10 18:35] richardliaw commented on #9098
@sheetalsatheesh please post a new issue with a reproducible script for us to run!

[2022-10-11 00:18] scottsun94 commented on #21618
Not sure if I fully understand this. Let's use your screenshot as an example. Even it shows you that there are 16 workers on the node "ray-header-0", those workers could be idle worker? How do you tell whether the node is idle only by # of workers?

[2022-10-11 00:23] scottsun94 commented on #25677
Fixed in the master branch: https://docs.ray.io/en/master/ray-core/patterns/global-variables.html

[2022-10-11 00:23] #25677 closed

[2022-10-11 02:15] auderson commented on #21618
![image](https://user-images.githubusercontent.com/48577571/194981616-f3a797f0-3623-417c-b1b4-1f9eb8099427.png)

In the legacy dashboard at least I can tell which one has 0 workers.

It would also be nice if # of non-idle workers is shown in stead of # of total workers.

[2022-10-11 03:17] scottsun94 commented on #21618
Got it. Essentially, you want to which node is idle? How would you define an idle node? No task or actor running on that node?

[2022-10-11 03:20] auderson commented on #21618
Actually, I want to quickly locate which node is running the debugging job that I just submitted. In previous bashboard I can do it by checking # workers on each node. Now in the new version I can't.

[2022-10-11 03:49] scottsun94 opened #29208 "[Dashboard] A button to shut down the ray cluster from the dashboard UI"
### Description

Feature request from Han Wang:

Link to the context: https://ray-distributed.slack.com/archives/C03J169VAFP/p1661467377627109

### Use case

we are using ray as ephemeral cluster in our k8s cluster, so sometimes we need to stop a running cluster, we need an elegant way to do that, so i wonder if we can have a button on the ui to shutdown the cluster

[2022-10-11 04:54] scottsun94 commented on #21618
Got it. So you actually don't care which node is idle as long as you know which job is running your debugging job? (easy to tell it from the # of workers on the node)

[2022-10-11 04:56] Tonyhao96 opened #29209 "[Air|Tune] Ray 2.0 class-based training function support."
### Description

In Ray 2.0, we need to define PyTorch training function to apply `TorchTrainer` in below form:

[code]

But I need to obtain the model information and do some modifications (e.g., fusion) to the model during training. So how can I get the model from the function?

Seems `TrainingOperator` in Ray 1.0 can support my requirement (example below). Does Ray 2.0 plan to support class-bas

[2022-10-11 06:07] auderson commented on #21618
In a sense, yes.

[2022-10-11 07:40] ijrsvt commented on #28086
Yes, in the reproduction, the lines from the first two threads continue to
get printed

On Wed, Aug 24, 2022, 22:18 Qing Wang ***@***.***> wrote:

[2022-10-11 07:45] vedantroy commented on #21592
I am running into this issue:

[code]

using my job submission script:
[code]

[2022-10-11 07:55] young-chao commented on #21161
你好，你的邮件已收到，谢谢！

[2022-10-11 07:56] PranaySewatkar commented on #25143
I am working on this issue, my college exams ends yesterday, I am working
on it

On Sun, 26 Jun, 2022, 9:23 pm Ariyaman, ***@***.***> wrote:

[2022-10-11 10:27] smonsays commented on #19879
This appears to still be an issue with ray 2.0.0 unfortunately.

[2022-10-11 11:18] Xeryxx opened #29212 "ERROR worker - [FileNotFoundError] winerror 206"
### What happened + What you expected to happen

I am trying to tune the hyperparameters of a XGBoost model, and when running the TuneSearchCV I get the following error:

2022-10-11 12:50:40,745 ERROR worker.py:400 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_Inner.save_to_object() (pid=12308, ip=127.0.0.1, repr=<ray.tune.trainable.util._Trainable object at 0x000002588

[2022-10-11 11:42] vedantroy opened #29213 "Ray Clusters"
### Description

Make file mounts a first class citizen during `initialization_commands`.
I run some pretty long scripts during my init process. For example:

[code]

this would not fit inside of `initialization_commands`. To work around this, I do the following:

[code]

I propose that the file mounts are made a first class citizen, so that I don't need to do hacks like this.

### Use case

Make

[2022-10-11 15:21] AmirBFar commented on #9239
I am facing the same issue with Ray 2.0.0. Do we know what is the solution at this point?

[2022-10-11 15:39] mlguruz opened #29215 "[Ray Clusters on Azure] Specifying IP space and VNet info inside yaml config"
### Description

For now, to spin up a ray cluster on azure, we cannot pass in specific vnet / ip space information, based on this example (https://github.com/ray-project/ray/blob/eacc763c84d47c9c5b86b26a32fd62c685be84e6/python/ray/autoscaler/azure/example-full.yaml) from the offical doc, which creates a problem for user permission constraints (e.g. cannot assign roles etc.).

Is there any workaro

[2022-10-11 16:04] architkulkarni commented on #21592
Hi @vedantroy, sorry you're running into this, we believe the issue should be fixed, do you mind sharing which Ray version you're using?

[2022-10-11 16:42] yinweisu opened #29216 "[Tune] Ray Tune Gave Improper Warning about `checkpoint_dir`"
### What happened + What you expected to happen

I got the warning of having checkpoint in the trainable_func parameter
[code]
I then removed it and migrated to session.report() with checkpoint. But then I got warning of not using checkpoint_dir.
[code]

Expected Behavior:
There shouldn't be a warning

Our use case wrap ray inside and we don't want user to see this warning. This warning would be c

[2022-10-11 16:51] #20857 closed

[2022-10-11 16:51] #22488 closed

[2022-10-11 16:53] richardliaw commented on #11177
You can now use ray datasets to achieve the above.

[2022-10-11 16:53] #11177 closed

[2022-10-11 16:55] richardliaw commented on #16622
Development for this is happening on this repo: https://github.com/ray-project/ray_beam_runner

[2022-10-11 16:55] #16622 closed

[2022-10-11 16:56] richardliaw commented on #18889
This should be addressed by the new dashboard changes in 2.0 and 2.1.

Let's close this for now and open a new thread if the error persists.

[2022-10-11 16:56] #18889 closed

[2022-10-11 16:57] #10884 closed

[2022-10-11 16:58] richardliaw commented on #21206
This is now done: https://github.com/ray-project/kuberay/issues/475

[2022-10-11 16:58] #21206 closed

[2022-10-11 17:01] #23390 closed

[2022-10-11 17:06] #11624 closed

[2022-10-11 17:09] richardliaw commented on #24028
Can you try upgrading to 1.13 or 2.0? We should open a separate issue about any performance degradations.

[2022-10-11 17:09] #24028 closed

[2022-10-11 17:10] richardliaw commented on #16494
closing issue for now since there's a couple duplicates

[2022-10-11 17:10] #16494 closed

[2022-10-11 17:11] amogkam commented on #25143
This is already closed- no need to work on this issue anymore

[2022-10-11 17:18] jovany-wang opened #29217 "[Ray DAG] Incorrect number of actors when invoke `execute()` multiple times."
### What happened + What you expected to happen

[code]
2 actors will be created.

### Versions / Dependencies

all

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-10-11 17:19] jovany-wang commented on #29217
@jiaodong Please help triage. @simon-mo CC as well.

[2022-10-11 17:19] jovany-wang commented on #29217
A same issue https://github.com/ray-project/ray/issues/24198

[2022-10-11 17:24] aidanmclaughlin commented on #21994
Any headway on this issue? Still facing this problem on Windows

[2022-10-11 17:25] jiaodong commented on #29217
@jovany-wang this is expected because your script calls `.execute()` twice, and we don't preserve or re-use actors across distinct DAG invocations.

Actor is re-used for single invocation like this:

[code]

[2022-10-11 17:27] DmitriGekhtman commented on #21206
Thanks, Richard! Technically, it will be officially done with the next stable KubeRay release (0.4.0), since we've just worked out the Helm release strategy after the last release (0.3.0).

[2022-10-11 17:29] #28977 closed

[2022-10-11 17:36] jovany-wang commented on #29217
Any motivation that we don't reuse the actor or node? or is it possible to flag on when we need reuse the dag node?

For the iterations of training, if we execute at the end of the DAG, it‘s significantly inefficient because we need to submit around 10K tasks:
[code]

What I'd like looks like:

[code]

[2022-10-11 17:55] mattip commented on #21994
Do you see any crashes in the log files `%TEMP%/ray/session*/logs/*`? We cannot make headway until we find a way to reproduce the problem consistently. Since we (ray contributors) have been unable to do so, we need someone who is experiencing this to adequately interact here to describe their system, how they installed python and ray and any other libraries, and what they see in the logs

[2022-10-11 18:07] jiaodong commented on #29217
Well it's just not a critical feature for its initial design and implementation, but can be added a new feature if we need to, such as long running actors for serving. Ray Tune also has similar setup to reuse actors across multiple runs.

[2022-10-11 18:12] richardliaw commented on #29215
@gramhagen could you take a look at this?

[2022-10-11 18:39] wuisawesome commented on #25410
@scv119

[2022-10-11 18:44] amogkam commented on #29137
Agreed doing both sounds good.

A couple points:
- should we have `get_result_grid` be a property instead and called `last_results`?
- We should also add an analogous for Trainer- `last_result`

Regarding the `ResultGrid.to_uri`/`ResultGrid.to_dir` option, we should do the same for a base `Result` object also.

[2022-10-11 18:44] gramhagen commented on #29215
the head node uses a managed identity to create cluster nodes, so we need to be able to assign a contributor role for that identity.

there are two typical workarounds
1. have an admin with required permissions deploy the cluster and users connect to deployed cluster
2. create a resource group and grant users necessary permissions for that resource group so they can deploy

[2022-10-11 18:46] amogkam commented on #29030
Dumb question, but for use case 1, can't I just convert a dict to a list?

[2022-10-11 18:56] scottsun94 commented on #15238
We've removed the "error" column in the new default dashboard. We probably shouldn't show them in the node table. Instead, all the errors will show up as events.

[2022-10-11 19:25] Yard1 opened #29223 "[AIR] Batch Training with AIR"
### Description

As a user, I would like to run separate AIR Trainers on different batches or groups of a Ray Dataset (eg. for time series forecasting - one model per group). We do not have an API for that right now.

A workaround is to fit the model directly in `Dataset.map_groups`, but that is not ideal.

### Use case

Batch Training for eg. time series

[2022-10-11 19:32] scv119 commented on #25410
@iycheng @jjyao maybe something we can take as part of 2.2?

[2022-10-11 19:48] mlguruz commented on #29215
Thank you for the quick reply!
So to be more accurate, the problem we're faced is the following:
"We want to use Ray using the yaml script, but we want to use a provate ip address space that we have defined.
We connect to Azure via a Directconnect, and the azure account is blocked from the internet.
So we need to create the Ray cluster, within a specific vnet (which already has a predefined ipspac

[2022-10-11 19:52] jiaodong commented on #28974
@clarkzinzow

I did a few more release test bisection with prediction batch_size = 8192

Latency-wise, we're good with larger batch size on prediction side that e2e latency can be cut <200secs

[code]

But memory footprint suggests each node consistently used ~15 GB of RAM

<img width="1275" alt="Screen Shot 2022-10-11 at 12 47 31 PM" src="https://user-images.githubusercontent.com/6372689/19518544

[2022-10-11 19:57] christy opened #29226 "[AIR] SklearnTrainer prints results 2x"
### What happened + What you expected to happen

As a user, I was confused when I saw AIR Trainer printing the exact same results 2x. I thought there was some scaling setting I didn't set right, and it was running trainer.fit() 2x.

Steps to reproduce:
1. Create a trainer = SklearnTrainer()
2. trainer.fit()

What you expect:  See the output of the trainer 1x
What you get:  Output of the trainer 2x

[2022-10-11 20:00] infherny commented on #21786
+1

[2022-10-11 20:14] rsantanna commented on #21786
+1

[2022-10-11 20:46] justinvyu commented on #29128
Here's a summary of my understanding of the problem and my proposed solution:

## Problem

1. I try to use relative paths from the directory that I launched my script to load data, saved model weights, etc.
2. When trying to load, I get an error that doesn't make sense because I'm not aware that the working dir has changed to the trial directory:

[code]

3. If I do manage to find the `TUNE_ORIG_W

[2022-10-11 20:46] amogkam opened #29229 "[RFC] [AIR] Batch size for preprocessor transforms"
## User workflow
**Workflow 1**: I am doing GPU prediction. I also have a preprocessor that has high heap memory pressure leading to OOMs with too much parallelism or large batch sizes. I want to either decrease my batch size for preprocessing, or reduce my preprocessing parallelism by requesting more CPUs for each `map_batches` task.

**Workflow 1, variant 1**: Same as above, except my GRAM is a

[2022-10-11 20:56] gramhagen commented on #29215
the easiest option would be to deploy as usual and peer the new vnet to your existing vnet.
there are two options you might want to adjust in the provider section of the yaml:
`use_internal_ips: True`
`subnet_mask: 10.0.0.0/16` adjust to satisfy allowable range when peering

if that doesn't work for you then you will need to modify the functionality of the python code and/or arm templates. (this w

[2022-10-11 20:58] ericl commented on #29229
I think my main concern here is having two separate configs. Could we make it by default use the present batch size config for both, and then call the new flag `override_preprocess_batch_size` to clear up the use case?

Btw, I don't think None is a great default. It may be better to make it mandatory as an argument.

[2022-10-11 21:01] ericl commented on #29128
Sounds good to me. The flag is a bit long though, how about chdir_to_trial_dir?

[2022-10-11 21:07] clarkzinzow commented on #29229
Also, +1 to @ericl's suggestion of sharing `batch_size` between the preprocessor and predictor by default, and having `preprocessor_batch_size` override that sharing. I think we could still have:
[code]
where the docstring for `preprocess_batch_size` indicates that, if not specified, `batch_size` will be used (i.e. I don't think we need to name it `override_preprocess_batch_size`, which is quite v

[2022-10-11 21:19] matthewdeng commented on #29128
Looks good. Any reason not to just always store both `TUNE_ORIG_WORKING_DIR` and `TUNE_TRIAL_DIR`?

[2022-10-11 21:24] justinvyu commented on #29128
I thought the "original" working dir concept would be a bit confusing if the working directory is never changed (from setting the flag to false).

[2022-10-11 21:29] amogkam commented on #29229
@richardliaw good point, added it as an option

@ericl @clarkzinzow removed the section about the defaults. We can make that decision separately in a future RFC. Also renamed tp `override_preprocessor_batch_size`

[2022-10-11 21:32] amogkam commented on #29229
Updated the issue- can you guys take another look? Thanks!

[2022-10-11 21:54] justinvyu commented on #29128
Note: Updated proposal to set the flag in `TuneConfig` instead of `RunConfig`.

[2022-10-11 21:57] Yard1 commented on #29229
This may be too radical, but how about using a context manager to set batch size for all preprocessor operations inside the context?

[2022-10-11 22:00] clarkzinzow commented on #29229
@amogkam We need to be able to set `batch_size` at a per-preprocessor level, since different preprocessors will have different batch size requirements (e.g. differing peak memory utilization in relation to batch size).

[2022-10-11 22:10] rickyyx opened #29231 "[release][CI] chaos_dask_on_ray_large_scale_test_spilling tailed"
### What happened + What you expected to happen

[Build](https://buildkite.com/ray-project/release-tests-branch/builds/1103#0183c8fc-ad0a-40cf-a8f6-2aab52be771c)
[Cluster ](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_JF6fJKU756PDhLAwgDPrHwy1?command-history-section=command_history)

[code]

### Versions / Dependencies

NA

### Reproduction sc

[2022-10-11 22:17] ericl commented on #29128
Agreed we should always set both flags. Sometimes present env cars are not something users will have the patience to understand.

[2022-10-11 22:26] rickyyx commented on #29167
Looked into this one a bit
- no error in the driver script surfaced and the script gets killed before the timeout.
- subsequent run successful and retry on the cluster successful.
- the cluster is not on staging, so no logs available from the errored job unfortunately.

Wondering if anyone with more context on placement groups could provide some insights?

[2022-10-11 22:27] rickyyx commented on #29167
Maybe relevant to this https://github.com/ray-project/ray/issues/28160 ?

[2022-10-11 22:32] rickyyx commented on #29026
Are we confident to close this one?

[2022-10-11 22:44] krfricke commented on #29216
@justinvyu can I assign you to this one? Should be a quick fix

[2022-10-11 22:50] jiaodong commented on #29229
Vote for option 2) with the following high level assumptions:

- Each preprocessor should have a default `batch_size`
- Different preprocessors can have different optimal batch_size depending on the workload
- Preprocessor's batch_size is by default preserved across training and prediction
- Trainer / Predictor act as the consumer of dataset, which have its own requirement of `batch_size` that doe

[2022-10-11 22:57] amogkam commented on #29229
@clarkzinzow yeah that's a good point, updated the rfc

[2022-10-11 23:08] amogkam commented on #29229
@jiaodong yeah that's a good point.

So basically seems like Option 2 is the best approach.
To change the batch size for prediction, the user can modify the preprocessor stored in the checkpoint with a new batch size.

The missing piece here is with Option 2 we also need a setter for batch size: `preprocessor.set_batch_size()`

So user can do something like this
[code]

In a separate prediction cl

[2022-10-11 23:08] Yard1 commented on #29209
Is checkpointing the model using `TorchCheckpoint` sufficient for your use case?

[2022-10-11 23:10] yinweisu opened #29235 "[Tune] Not Utilize GPU when Wrap Trainble with both `with_resources` and `with_parameters`"
### What happened + What you expected to happen

When you wrap trainable with both with_resource and with_parameter , you can't utilize gpu anymore...
For example:
[code]
Won't utilize gpu while this will:
[code]
I've also tried to wrap with_parameters inside with_resources , tune will simply hang there

Expected behavior:
Ray tune should utilize gpu

### Versions / Dependencies

Ray 2.0
Unix

###

[2022-10-11 23:10] rickyyx opened #29236 "[python3.10] cannot import name 'GenericAlias' due to circular import"
### What happened + What you expected to happen

[code]

### Versions / Dependencies

Python3.10.6
4b79a6f1d270658eca3bf65df2b16b4e512f6513

### Reproduction script

`conda create --name python310 python=3.10`
`conda activate python310`

`python python/ray/setup-dev.py`

### Issue Severity

_No response_

[2022-10-11 23:12] justinvyu commented on #29216
Yep, can take it on.

[2022-10-11 23:12] 011235813 opened #29238 "[Core] Remote decorator fails on class with jax.jitted function"
### What happened + What you expected to happen

I'm trying to use Ray to parallelize an Actor class that contains a function wrapped by Jax.
Although it seems to run correctly, there are error messages regarding the "socket".

(raylet)   File "/usr/WS2/yang40/venvs/amr_jax/lib/python3.8/site-packages/ray/new_dashboard/agent.py", line 366, in <module>
(raylet)     raise e
(raylet)   File "/usr/WS2

[2022-10-11 23:17] #28989 closed

[2022-10-11 23:18] scv119 commented on #28989
latest run passed once we merged the OOM fixes.

[2022-10-11 23:19] amogkam commented on #29026
It's passed the past few runs and looks like has been flaky for a while with the heartbeat issue. I don't think it's necessary to make this a release blocker.

[2022-10-11 23:28] scv119 commented on #29167
it could be related to https://github.com/ray-project/ray/pull/29055

[2022-10-11 23:32] rickyyx commented on #29236
Actually if I do this,

`conda create --name python310 python=3.10`
`conda activate python310`

`pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp310-cp310-manylinux2014_x86_64.whl`

`python python/ray/setup-dev.py`

Things work fine. So maybe this is not an issue.

[2022-10-11 23:35] krfricke commented on #29026
We can close this. The network test itself is passing (we are much faster than the limit), even in the "failing" tests.

The reason we fail is because two trials failed - the reason being this:

[code]

Could be releated to OOM killer?

Anyways, this is a Ray core/anyscale product issue and not a Ray Tune network sync issue, so this is not release blocking.

[2022-10-11 23:35] #29026 closed

[2022-10-11 23:44] ericl commented on #29229
I actually don't think it's a good idea to support per preprocessor batch
size. The implementation complexity of this is very high, especially if it
breaks fusion across preprocessing stages.

Why not just have users set the batch size to be small enough for all
preprocessors so it won't OOM?

On Tue, Oct 11, 2022, 4:08 PM Amog Kamsetty ***@***.***>
wrote:

[2022-10-11 23:53] rickyyx opened #29240 "[release][ci] air_benchmark_pytorch_training_e2e_gpu_1x1_20gb failed"
### What happened + What you expected to happen

[Build](https://buildkite.com/ray-project/release-tests-branch/builds/1103#0183c8fc-ab6f-4ab9-95b9-662c3fcb7374)
[Cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_cGvEm8FhEDGnykF6FK7w9WqN?command-history-section=command_history)

Previous failure: https://github.com/ray-project/ray/

[2022-10-12 00:09] krfricke commented on #29128
This looks good to me. IMO we should just point users to use `session.logdir` or `session.trial_dir` to read/write from/to the trial dir in the future.

This is a breaking API change, so should we default the flag to True for now and move to False after 2.2?

[2022-10-12 00:25] #29236 closed

[2022-10-12 00:26] 011235813 commented on #29238
Solve by upgrading from ray==1.5.1 to ray==1.13.0

[2022-10-12 00:26] #29238 closed

[2022-10-12 00:45] pablogsal commented on #24216
👋 Hi @Samreay,

I am one of the authors of `memray`. We are collecting success stories [here](https://github.com/bloomberg/memray/discussions/226). If you have a minute, do you mind leaving a short message on how `memray` help with this issue? Knowing how we managed to help will help us track trends and target areas for improvement, prioritize new features and development and identify potential bu

[2022-10-12 00:47] justinvyu commented on #29128
Yeah, I think `session.get_trial_dir()` makes sense, and we should make the AIR session expose this from the underlying Train/Tune session.

Currently defaulting to True. Do you think it makes sense to set it to False by default for 2.2 based on the discussion on https://github.com/ray-project/ray/issues/9571? I was proposing just keeping it True.

[2022-10-12 00:49] krfricke commented on #29128
cc @jiaodong

[2022-10-12 00:51] krfricke commented on #29128
The main question I have is what we should default to if we don't use a runtime env and the worker node does not have the current working dir locally available

[2022-10-12 01:21] richardliaw commented on #29229
The per-preprocessor API perhaps is too much boilerplate/configuration complexity.

The main problem with the batch size too small is the h2d right? though not clear if that is going to be the bottleneck necessarily.

[2022-10-12 01:36] bveeramani commented on #29030
No. If you’re using Keras, you pass the TF Dataset created by `to_tf` directly to `Model.fit`.

Basically, except the inputs are `dict[str, tf.Tensor`.

[2022-10-12 02:11] bveeramani commented on #29201
Hmm...not sure. Maybe our documentation is out of date? Your install command looks okay to me.

I'm out of the office right now, but I can look into it when I get back next week.

In the mean time, is there any reason why you can't install the latest nightly?
[code]

[2022-10-12 03:18] scv119 commented on #29167
verified it's caused by https://github.com/ray-project/ray/pull/29055 and it's reverted.

[2022-10-12 03:18] #29167 closed

[2022-10-12 03:20] spacegoing opened #29245 "[tune] Tune does not sample all trials"
### What happened + What you expected to happen

The problem is that Tune does not start all trials. I use grid search to search `3` parameters, each with `3` options. According to the documentation, there should be `3 x 3 x 3 = 27` trials started. However, `tune` only starts `20` trials. My configuration script is:
[code]

The output is (as you may see, only 20 trials are started):

[code]

### V

[2022-10-12 03:57] clarkzinzow commented on #29229
size. The implementation complexity of this is very high, especially if it
breaks fusion across preprocessing stages.

@ericl This wouldn't break fusion across preprocessing stages, we can (and already do) support fusing `.map_batches()` calls with different batch sizes.

[2022-10-12 04:20] gramhagen commented on #29215
hmm, actually there does seem to be support for an 'external' node provider, see this line: https://github.com/ray-project/ray/blob/44fc6a36e5228a50f4bafe126c67ad73d78486eb/python/ray/autoscaler/_private/providers.py#L143

I think the provider section of the yaml would look something like
[code]

i've never used this though, so let me know if that works.

[2022-10-12 04:33] mlguruz commented on #29215
Nice! Let me try that.
I'm thinking of subclassing with a `CustomAzureNodeProvider` and modify the block below which is where the `.json` file is loaded:

[code]
...although I don't see where the `azure-vm-template.json` file is loaded. Is it used at all?

Also, regarding this output section:
[code]
, how should I modify it to make it work w/ my custom vnet env etc.? Should I delete the public sec

[2022-10-12 05:23] scottsun94 commented on #29199
@architkulkarni Are you able to follow up and investigate based on the current info we have?

[2022-10-12 06:53] mattip commented on #21424
`local_mode` has been deprecated, see #26855 and #29211. Is there a use case where you must use local_mode?

[2022-10-12 07:26] jmsi opened #29246 "how to hide process command line parameters like --redis_password 5241590000000000 on command line gcs_server"
### Description

how to hide process command line parameters like --redis_password 5241590000000000 on command line gcs_server,?If the password is shown on process command line,maybe it can cause security problem
  my ray version is 1.12.1, please help me, thanks a lot
### Link

_No response_

[2022-10-12 07:32] jovany-wang opened #29247 "[Ray DAG] Proposal on submitting DAG tasks in stage, instead of submitting a whole DAG."
### Description

A previous issue #29217

### Use case

An initial idea on the API could be:
[code]

[2022-10-12 07:32] jovany-wang commented on #29217
Replaced in #29247

[2022-10-12 07:32] #29217 closed

[2022-10-12 07:34] jovany-wang commented on #29247
@jiaodong anybody from your team could work on this feature?

[2022-10-12 08:30] ahallermed commented on #21424
Hello @mattip,
thank you for your help in trying to fix this issue. I do not have a must-have use case for local_mode, I just followed the manual that it would be best for testing.
For me, this issue is closed as `local_mode` is deprecated and shouldn't be used anymore.
Thanks for pointing this out!

[2022-10-12 08:30] #21424 closed

[2022-10-12 09:25] bdzjorg opened #29252 "[Questions] about `ppo.PPOTrainer`"
Hi~

When the following commands are conduct, the training procedure periodically becomes slow whenever `res['episode_reward_mean']` is printed 19 times.

[code]

[code]

So, how can I modify my code to speed up the training?

[2022-10-12 09:28] SebastianMorawiec opened #29253 "[Workflow] Workflow fails if python script calling it exits"
### What happened + What you expected to happen

When creating and running async workflow, Id expect it to be ran in background as in docs it states that:
The lifetime of the workflow is not coupled with the driver. If the driver exits, the workflow will continue running in the background of the cluster.
However, when the python scripts spawns workflow and exits, the workflow fails. I can find in

[2022-10-12 14:39] yinweisu opened #29255 "[Tune] trial_name_creator and trial_dirname_creator"
### Description

`trial_name_creator` and `trial_dirname_creator` are removed from ray tune in 2.0. It would be great if we can have them back.

### Use case

Our use case wrap ray tune underneath and we will write artifacts along with ray tune artifacts in the trainable. We would like to write both ray tune and our own artifacts at the same location. With `trial_name_creator` and `trial_dirname_c

[2022-10-12 14:39] rkooo567 commented on #28160
I am looking at this now

[2022-10-12 15:06] gramhagen commented on #29215
these lines are from the config.py, the vm template is loaded in the node_provider.py module: https://github.com/ray-project/ray/blob/eacc763c84d47c9c5b86b26a32fd62c685be84e6/python/ray/autoscaler/_private/_azure/node_provider.py#L214

there's a static method at the bottom of that which calls bootstrap_azure, you will want to override that function to do your own thing during cluster setup.

you c

[2022-10-12 16:07] dlasecki opened #29256 "[Core] Enabling IBM Cloud integration."
### Description

This feature will allow people to use Ray on IBM Cloud. It will be analogous to how other cloud providers are supported already, e.g. Google Cloud Platform, AWS, ... .
On the more technical level, it will be achieved by:

a) Implementing the `NodeProvider` interface for IBM Cloud.
 https://github.com/ray-project/ray/tree/master/python/ray/autoscaler

b) Contributing a YAML file wi

[2022-10-12 16:23] andrew-thought opened #29259 "RLlib"
### What happened + What you expected to happen

I am working with FinRL-Meta (link in reproduction project). I wanted to try using RLlib’s ARS implementation with the same codebase, but the ARS model in both training and testing (using compute_single_action() for testing and not sure what method ARS is using to produce continuous actions for training, is it using compute_actions, or maybe a sampl

[2022-10-12 17:01] IceKhan13 opened #29260 "[Core] Authentication in ray head nodes"
### Description

Implement authentication mechanism for ray (head) nodes.

It is reopen of similar issue https://github.com/ray-project/ray/issues/17730

As far as I understand ray uses grpc protocol somehow. Maybe send passoword/token as part of grpc metadata, or something along those lines. https://grpc.io/docs/guides/auth/#extending-grpc-to-support-other-authentication-mechanisms

### Use case

[2022-10-12 17:06] IceKhan13 opened #29262 "[Core] Ray Jobs: return serialized results"
### Description

The goal of this issue is to make Ray jobs return serialized results. Currently, the job is ran without returning anything and another query is necessary to retrieve them.

Maybe something along those lines. Instead of logging, just return job_results

[code]

[code]

### Use case

As lot of use cases in industry require some kind of results payload. It can be just strings or nati

[2022-10-12 17:06] IceKhan13 commented on #29262
If you need a hand on this, I might be able to jump in

[2022-10-12 17:08] IceKhan13 commented on #29260
If you need a hand on this, I might be able to jump in

[2022-10-12 17:11] mauro-belgiovine opened #29263 "[Data][RLib] Memory exhausting problem when using Dataset (from ray.data) with RLLib"
### What happened + What you expected to happen

I have a moderate size dataset saved in a bunch of pickle files that I load in memory into a list of `ray.data.dataset.Dataset` using the function `.from_items()` at the beginning of my training script. I am using a static dataset since the generation of the environment state on the fly requires a long time. Every agent have access to a list of Data

[2022-10-12 17:25] clarng commented on #29098
Here are the 3 cluster instances
[Oct 1 nightly ](https://buildkite.com/ray-project/release-tests-branch/builds/1080#0183906e-894e-4198-96aa-1450ed724066 ) workload finished in 42 minutes

[Oct 5 nightly] (https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_87LZjb3qEvrk5hppdGaAkcHX?command-history-section=command_history) workload failed after 11 min

[2022-10-12 17:39] jiaodong commented on #29247
@jovany-wang most active user / developer of DAG is Serve team, Ray Workflow is a bit inactive now.

[2022-10-12 17:50] mlguruz commented on #29215
I was able to create a cluster using all my custom resources and stuff, running `ray up` using my custom node provider.

However, I was getting this error:
[code]
Do I need to specify the `tags` somewhere in the two json configs?

[2022-10-12 17:55] matthewdeng commented on #29263
My understanding is that `data_list` should be held in local memory and hold `10e6 * 8 * 8 * 8 bytes` ~ `5GB`.

`ds` and the Datasets generated from `ds.random_shuffle()` should primarily be stored in shared object store memory.

Are you able to tell what the contributions are for the 17GB and 32GB? Also can you run `ray memory` and share the output?

cc @clarkzinzow

[2022-10-12 18:04] gramhagen commented on #29215
yes, vm tags are passed in here: https://github.com/ray-project/ray/blob/eacc763c84d47c9c5b86b26a32fd62c685be84e6/python/ray/autoscaler/_private/_azure/node_provider.py#L231

and used in the template here: https://github.com/ray-project/ray/blob/eacc763c84d47c9c5b86b26a32fd62c685be84e6/python/ray/autoscaler/_private/_azure/azure-vm-template.json#L189

[2022-10-12 18:20] justinvyu commented on #29128
Regarding @krfricke's comment: the problem with the flag is that someone might run into the case where they have multiple nodes, and the working directory with the driver script may not exist on each node. This would not happen if `runtime_env={"working_dir": "."}` is set, since the working directory would get zipped and sent over to each node.

## Updated Proposal:

Instead of setting a flag, we

[2022-10-12 18:47] krfricke commented on #29128
I'd be happy with that. We should make sure to document this cleanly and encourage users to always write to `session.get_log_dir()` (or maybe just `session.log_dir`) and not rely on relative paths.

[2022-10-12 19:10] dmatrix opened #29267 "[Ray AIR: Ray Data]"
### What happened + What you expected to happen

- [ ] #29271

[code]

Since Ray data uses Pandas internally as its representation, this should be implicitly converted, not explicitly done by the user.

[code]

- [x] #29270

![Screen Shot 2022-10-12 at 12 04 50 PM](https://user-images.githubusercontent.com/1117597/195426939-ecc889a7-3b05-4dd3-ab2c-5011e44997cd.png)

### Versions / Dependencies

-

[2022-10-12 19:12] spyroot opened #29268 "Ray Core tune.Tuner reset_config"
### What happened + What you expected to happen

Hi Folks,

I'm using tune.Tunner with callable that declared as function and getting error.

Trainable runner reuse requires reset_config() to be implemented and return True.
[code]
My understanding was you need to implement that only if you callable a Class and if you call tunner.fit()
it has a default implementation.

Could you please clarify?   B

[2022-10-12 19:25] ericl commented on #29128
This will be confusing to users since runtime_env is a config set outside of the Tune job (spooky action at a distance). Actually, I don't see a huge problem with the working dir not existing.

Why not do the following:
- Have the flag.
- If the flag is False, the behavior is as current (chdir).
- If the flag is True, we don't chdir, and the cwd is whatever the worker happens to be (either runtime

[2022-10-12 19:26] amogkam opened #29270 "Second, we get loads on future and early warning messages when executing `.match_batch()` on the Ray data. See the attached image"
Created from #29267

[2022-10-12 19:26] amogkam opened #29271 "In the Ray AIR examples, training a classifier, we explicitly require to convert the downloaded CIFAR-10 images as Ray data format into Pandas format."
See https://github.com/ray-project/ray/issues/29267 for full description

[2022-10-12 20:16] jianoaix opened #29273 "[Datasets] Make sure random shuffle work with custom resource"
We need it to support run shuffle in a specific custom resource.

Currently, if we run the follow:
[code]

We will get:
[code]

Note that the shuffle reduce was running on two nodes, which is not expected.

[2022-10-12 20:19] scottsun94 commented on #29156
@Joshuaalbert Thanks for the feedback!

Here are some questions to help us better understand your use case
1. How do you currently collect, view and persist the ray logs in general?
- Do you use ray dashboard, ray state api, etc.?
- Do you use any logging products like loki, datadog, etc.?
2. As a dev ops engineer, how do you find and search logs? What tools do you use?
3. What products/services t

[2022-10-12 20:39] mauro-belgiovine commented on #29263
@matthewdeng Yes, that's correct. Keep in mind that my dataset size is much bigger and it involves multiple files that are around that size, but this is just an example script to give an idea of the memory redundancy seemingly caused by the shuffling operation and iterator output.

I can't tell exactly what the memory contribution are from my example script, although I only generate a list of rand

[2022-10-12 20:42] krfricke commented on #29128
Sounds good to me!

[2022-10-12 20:54] amogkam commented on #29229
cc @c21- it seems that stage fusion is supported for multiple `map_batches` calls with different batch sizes.

[2022-10-12 21:02] ckw017 commented on #28871
Nature is healing
![image](https://user-images.githubusercontent.com/14043490/195447249-ba1a74f4-7ec4-46bb-a3aa-e4270284f385.png)

[2022-10-12 21:02] #28871 closed

[2022-10-12 21:42] alanwguo commented on #28569
@ankur6ue, do you have a script or workload where you can repro this reliably?

[2022-10-12 21:58] Hoeze commented on #18491
Hi @scottsun94, sorry for the late answer.
I just tested it with ray v2.0.0 and yes, this is still an issue.
=> Please keep this issue open :)

[2022-10-12 22:08] alanwguo commented on #29199
Is this related to #26568 ?

[2022-10-12 22:08] c21 commented on #29229
We don't do `map_batches` fusion by default, right? We only do it in lazy execution mode.

[2022-10-12 22:11] amogkam commented on #29229
Right, but that's true regardless of what the batch size is.

[2022-10-12 22:17] architkulkarni commented on #29199
I think it's possible but unlikely, here it's `dashboard_agent.py` that is running out of memory, whereas in the other issue it's `dashboard.py`.

Another piece of data here is that @vakker mentioned `runtime_env` isn't being used anywhere in the code (unless it's being used internally by Tune or RLlib somehow, the `dashboard_agent.log` logs will confirm this)

[2022-10-12 22:17] ericl commented on #29229
AIR force enables lazy mode for BatchPredictor, so we can assume it's on.

On Wed, Oct 12, 2022, 3:11 PM Amog Kamsetty ***@***.***>
wrote:

[2022-10-12 22:19] amogkam commented on #29229
I don't think this is currently the case...where is this happening in the code?

[2022-10-12 22:21] ericl commented on #29229
Ah, I'm mistaken. It's not force enabling lazy mode, but you do effectively get stage fusion when using most preprocessors after a `read` stage. This is since the `read` stage is always partially lazy. Hence, as long as you only have map_batches after the read, you effectively have a fully lazy plan / execution.

[2022-10-12 22:22] shahsmit1 commented on #29118
@amogkam do you think support for `scipy.sparse` matrices would be something that is on ray train roadmap? It's a blocker for us since the densification of matrices implies an order of magnitude higher memory usage for distributed xgboost on ray train versus vanilla xgboost, thanks

[2022-10-12 22:23] ericl commented on #29229
We should probably just explicitly call .lazy() in BatchPredictor and avoid relying on this.

[2022-10-12 22:31] clarkzinzow commented on #29229
Strong +1 to this, and the same goes for when triggering preprocessing before training, especially since at most **one** preprocess transform (i.e. `.map_batches()` operation) will be fused into the read stage on an eager dataset; all subsequent preprocessor transforms will be unfused.

[2022-10-12 22:46] c21 commented on #29229
+1 as well. This will be much cleaner.

[2022-10-12 22:50] scottsun94 commented on #21618
BTW, I followed up on this internally. One possibility for this is that the head node cpu usage actually includes gcs and other processes' cpu usage apart from the workers. That's why you see a higher usage than the total of the workers.

[2022-10-12 22:50] scottsun94 commented on #21618
I'll close this issue then. Please create a new issues if you see anything off! Thanks!

[2022-10-12 22:50] #21618 closed

[2022-10-12 23:02] xcharleslin opened #29288 "[Ray Data] Support for Pandas default column names"
### Description

Datasets crashes if you try to load in a dataframe from a numpy array.

[code]

The stack trace is 100 lines long (a separate usability concern on its own) and ends with
`
"ValueError: A Pandas DataFrame with column names of non-str types is not supported by Ray Dataset. Column names of this DataFrame: [0]."
`

### Use case

Datasets should not be crashable so easily. It should ha

[2022-10-12 23:13] scottsun94 commented on #18491
@rkooo567 could you take a look?

[2022-10-12 23:19] scv119 opened #29290 "[Nightly test] scheduling_test_many_0s_tasks_many_nodes failed"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_BkRt4mJhthGKseuhvnrtK3i5?command-history-section=command_history failed

[code]

### Versions / Dependencies

lastet master

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-10-12 23:31] rickyyx opened #29291 "[release][CI] tune_cloud_gcp_k8s_durable_upload failed"
### What happened + What you expected to happen

[Build ](https://buildkite.com/ray-project/release-tests-branch/builds/1108#0183cdac-ca38-42de-8975-d9b40a359d37)
[Cluster job](https://console.anyscale-staging.com/o/anyscale-internal/interactive-sessions/job_DNrrCbYJrmwHFzcznC5xRzkA)

### Versions / Dependencies

release 2.1 brach

### Reproduction script

NA

### Issue Severity

_No response_

[2022-10-12 23:38] hora-anyscale commented on #28855
@stephanie-wang - could you confirm if this is duplicate to the OOM killer work, if so please close out.

[2022-10-12 23:40] ericl commented on #28855
I believe this issue should be fixed in 2.1 with the OOM monitor (cc @clarng)--- you should get a task killed with out of memory instead.

[2022-10-12 23:55] hora-anyscale commented on #23423
@architkulkarni - per triage discussion, could you please try and repro this on Ray 2.0?

[2022-10-12 23:58] hora-anyscale commented on #22565
Per Triage: Closing, please reopen if still a problem on Master

[2022-10-13 00:02] hora-anyscale commented on #21141
Per Triage Sync: @clarng - please repro on master, or close if not reproducible

[2022-10-13 00:04] hora-anyscale commented on #28920
@clarng @stephanie-wang - is this fixed?

[2022-10-13 00:09] hora-anyscale commented on #27493
Per Triage Sync: @jiaodong please repro on master and close if ok.

[2022-10-13 00:12] hora-anyscale commented on #27336
Per Triage Sync: @clarng what use cases are impacted here?

Cc: @ericl

[2022-10-13 00:14] hora-anyscale commented on #15778
Per Triage Sync: @rkooo567 please see if you can repro on master or close if ok.

[2022-10-13 00:17] amogkam commented on #27493
This has been fixed by @krfricke in https://github.com/ray-project/ray/pull/28335.

@Alfredvc if you use Ray Tune master, this will no longer hang!

[2022-10-13 00:19] hora-anyscale commented on #17374
Per Triage sync: correct usage is:

ray.init(log_to_driver=True, logging_level='info')

[2022-10-13 00:19] #27493 closed

[2022-10-13 00:21] pcmoritz commented on #17374
Actually, the documentation is wrong here -- see the "Parameters" section in https://docs.ray.io/en/latest/ray-core/package-ref.html#ray-init -- can you fix that @amogkam ?

[2022-10-13 00:22] hora-anyscale commented on #25217
Per Triage Sync: @scv119 can you please clarify the current status on this?

[2022-10-13 00:23] amogkam commented on #17374
@rkooo567 can you confirm if this is resolved and make the necessary documentation changes if so?

[2022-10-13 00:23] hora-anyscale commented on #24237
@simontindemans - if you could share a PR that fixes this it would be very much appreciated.

[2022-10-13 00:25] hora-anyscale commented on #26144
Per Triage Sync: @ckw017 can you please review this?

[2022-10-13 00:26] hora-anyscale commented on #26262
Per Triage Sync: @stephanie-wang is there a timeline to address this?

[2022-10-13 00:28] hora-anyscale commented on #27115
Per Triage Sync: Closing, please reopen if problematic

[2022-10-13 00:28] #27115 closed

[2022-10-13 00:29] stephanie-wang commented on #26262
I believe @jjyao is taking this over and is trying out a fix in the next week or two.

[2022-10-13 00:32] hora-anyscale commented on #27380
Per Triage sync: same as https://github.com/ray-project/ray/issues/22408

[2022-10-13 00:32] #22408 closed

[2022-10-13 00:35] hora-anyscale commented on #27618
Per Triage Sync: This is working as intended

cc: @ericl @pcmoritz

[2022-10-13 00:35] #27618 closed

[2022-10-13 00:37] matthewdeng commented on #29291
@krfricke take look? Perhaps pair debug with @justinvyu?

[2022-10-13 00:37] hora-anyscale commented on #27931
Per Triage Sync: @rkooo567 can you confirm if this was fixed?

[2022-10-13 00:40] hora-anyscale commented on #28058
Per Triage Sync: @architkulkarni what's the current status?

[2022-10-13 00:42] amogkam commented on #29034
This seems to be because of TensorArray extension casting which is happening here. https://sourcegraph.com/github.com/ray-project/ray/-/blob/python/ray/air/util/data_batch_conversion.py?L204:5

If I set the following before BatchPrediction, then I no longer see the memory leak
[code]

fyi @clarkzinzow

[2022-10-13 00:45] ericl commented on #28071
Should we raise an error if the number of ports is too small for the CPU count? That way we can avoid inadvertent bricking of Ray via config, etc.

[2022-10-13 00:45] #18258 closed

[2022-10-13 00:45] rickyyx opened #29294 "[release][CI] dataset_shuffle_random_shuffle_1tb failed"
### What happened + What you expected to happen

[Build ](https://buildkite.com/ray-project/release-tests-branch/builds/1108#0183cdac-cab7-40bd-a611-936e1d617857)

[Cluster](https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_ywRfif5dvg1pyKHyPbdZF1VF?command-history-section=command_history)

[code]

But looks like this might be root cause:

[code]

#

[2022-10-13 00:46] hora-anyscale commented on #17718
Per Triage Sync: Working as intended

cc: @ericl

[2022-10-13 00:46] #17718 closed

[2022-10-13 00:47] hora-anyscale commented on #17646
Per Triage Sync: Closing

[2022-10-13 00:47] #17646 closed

[2022-10-13 00:51] krfricke commented on #29291
Yep, @justinvyu let's find some time tomorrow!

[2022-10-13 00:51] hora-anyscale commented on #20615
Per Triage sync: closing as it was fixed.

cc: @ericl

[2022-10-13 00:51] #20615 closed

[2022-10-13 00:57] amogkam commented on #29034
This line in particular https://buildkite.com/ray-project/release-tests-pr/builds/17960#0183cdec-0047-4445-b9d4-669814f4f1ac.

If I change this from `df.loc[:, column_name]` to `df[column_name]` then no longer get the memory leak

[2022-10-13 01:10] rickyyx opened #29298 "[CI] `linux://python/ray/dashboard:test_dashboard` is failing/flaky on release branch."
- 4b605c24aeb991e4b693f8fa37fc967079d3ec22 FAILED [Buildkite :python: Minimal install 3.10](https://buildkite.com/ray-project/oss-ci-build-branch/builds/498#0183ce1d-c961-4259-8104-ed388d9679d5)
- 6bac4ab766d3c738bb816cb5fd6801aaab4388f4 FAILED [Buildkite :python: Minimal install 3.10](https://buildkite.com/ray-project/oss-ci-build-branch/builds/495#0183cde1-fbb7-4898-be72-5dd19746ba96)
- 7d3eeb13

[2022-10-13 01:10] rickyyx commented on #29298
This is failing in the release 2.1 branch as well. https://buildkite.com/ray-project/oss-ci-build-branch/builds/488#0183cd49-9c17-4161-8cba-1b4bb4aebc81

[2022-10-13 01:19] rickyyx opened #29299 "[CI] `linux://python/ray/train:test_gpu` is failing/flaky on release branch."
- 4b605c24aeb991e4b693f8fa37fc967079d3ec22 FAILED [Buildkite :tv: :steam_locomotive: Train GPU tests ](https://buildkite.com/ray-project/oss-ci-build-branch/builds/498#0183ce28-68b0-4e81-b4d4-63909e9df9d7)
- 6bac4ab766d3c738bb816cb5fd6801aaab4388f4 FAILED [Buildkite :tv: :steam_locomotive: Train GPU tests ](https://buildkite.com/ray-project/oss-ci-build-branch/builds/495#0183cded-4ab5-4dd6-b3ea-d4

[2022-10-13 01:21] jiaodong commented on #29299
https://github.com/ray-project/ray/pull/29297

[2022-10-13 01:22] rickyyx opened #29300 "[CI] `linux://doc:datasets_train` is failing/flaky on master."
- 6bac4ab766d3c738bb816cb5fd6801aaab4388f4 FAILED [Buildkite :tv: :database: :steam_locomotive: Datasets Train Integration GPU Tests and Examples (Python 3.7)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/495#0183cded-4abb-42bd-b14a-98d9e5125a64)
- 34cd1cbccf295db77fcfb5f81421e295f2664643 FAILED [Buildkite :tv: :database: :steam_locomotive: Datasets Train Integration GPU Tests and

[2022-10-13 01:23] rickyyx commented on #29300
Failure on release branch: https://buildkite.com/ray-project/oss-ci-build-branch/builds/488#0183cd54-7535-4e9e-8420-3076ccebc871

[2022-10-13 01:27] rickyyx opened #29301 "[CI] //rllib:learning_tests_* failures"
### What happened + What you expected to happen

rllib:learning_tests_cartpole_alpha_star
rllib:learning_tests_cartpole_appo_no_vtrace
rllib:learning_tests_cartpole_separate_losses_appo
rllib:learning_tests_multi_agent_cartpole_appo

[Failure build](https://buildkite.com/ray-project/oss-ci-build-branch/builds/488#0183cd4f-aa9f-45bc-b2ff-d5eb9b7779c3)

### Versions / Dependencies

release branch

#

[2022-10-13 01:27] rickyyx commented on #29301
Looks it being fixed in master - cherry picks?

[2022-10-13 01:32] rickyyx opened #29302 "[CI] `linux://rllib:tests/backward_compat/test_backward_compat` is failing/flaky on master."
[Releast build failure ](https://buildkite.com/ray-project/oss-ci-build-branch/builds/488#0183cd4f-aad9-4603-a170-23383a6e4211)

This one is passing on master and the most recent revert that fixed it seems to be unrelevant though.

[2022-10-13 01:32] matthewdeng commented on #29300
Hmmm @amogkam any ideas about this one?

[code]

I originally thought it was due to https://github.com/ray-project/ray/pull/29104 but see that it's already checked in...

[2022-10-13 01:34] rickyyx opened #29303 "[CI] rlib link check failure"
### What happened + What you expected to happen

( rllib/rllib-env: line  371) broken    https://github.com/Farama-Foundation/PettingZoo/blob/master/tutorials/rllib_pistonball.py - 404 Client Error: Not Found for url: https://github.com/Farama-Foundation/PettingZoo/blob/master/tutorials/rllib_pistonball.py

[Failure build](https://buildkite.com/ray-project/oss-ci-build-branch/builds/488#0183cd4b-8

[2022-10-13 01:36] amogkam commented on #29300
The example should use `train.torch.get_device()` instead of manually doing it

[code]

[2022-10-13 01:36] rickyyx opened #29304 "[CI] `linux://python/ray/tests:test_client` is failing/flaky on release branch."
[Release branch test failure](https://buildkite.com/ray-project/oss-ci-build-branch/builds/488#0183cd49-9c21-4802-8d54-756bf2435c0b)

Looks green on master, maybe need cherry-picks?

[2022-10-13 01:43] amogkam commented on #29300
https://github.com/ray-project/ray/pull/29305

[2022-10-13 01:45] scv119 commented on #29294
[code]

[2022-10-13 01:49] ckw017 commented on #29304
It was fixed by this: https://github.com/ray-project/ray/pull/28835

That PR only changed test files though, doesn't change any ray functionality.

[2022-10-13 01:51] rickyyx commented on #29304
Oh yeah - let's still do that.

[2022-10-13 02:03] DmitriGekhtman commented on #20615
I agree with closing this because there isn't a concrete actionable issue to fix.

However, users still run into issues of this nature (why doesn't my cluster scale down?) on a regular basis.

[2022-10-13 02:29] #29290 closed

[2022-10-13 02:31] rkooo567 commented on #28160
cc @scv119  (since I need to prioritize other interrupts)

[2022-10-13 02:40] larrylian commented on #28160
cc @rkooo567 @scv119   Then I'll take a look at this issue first before this weekend. If there is no result next week you can assign it to someone else.

[2022-10-13 04:09] jiaodong commented on #28974
Root caused to https://github.com/ray-project/ray/pull/29103 cc: @clarng is this expected ?

Full bisection log see
https://docs.google.com/document/d/1SfbHV5AFZe3P_VA_snDve6yeCh8cobVAydn7MRqRSIE/edit#

[2022-10-13 05:13] scv119 commented on #29294
for this test, seems raylet overloaded and failure is not uncommon; however previously the test could handle these node failures (most likely mitigated by lineage reconstruction)

[2022-10-13 05:14] scv119 commented on #29231
not really a release blocker.

[2022-10-13 05:14] #29231 closed

[2022-10-13 05:15] scottsun94 commented on #28496
@hellofinch
Could you be more specific? In ray 2.0, the dashboard visualizes the CPU, disk, memory and includes the logs. What else do you expect to see or use?

[2022-10-13 05:17] scottsun94 commented on #28429
@rickyyx @rkooo567

[2022-10-13 05:26] scottsun94 commented on #28429
cc: @DmitriGekhtman

[2022-10-13 05:29] scottsun94 commented on #28426
@pcmoritz We could close it now since the PR has been merged?

[2022-10-13 05:32] scottsun94 commented on #28344
cc: @alanwguo @rkooo567 @ericl @rickyyx

[2022-10-13 05:38] scv119 commented on #29298
@alanwguo can you help triage this?

[2022-10-13 05:38] rkooo567 commented on #28344
It is expected. Maybe we need some UX improvement on this API though. Right now every resource except object store memory is logical resources. (but object store resources are physical)

[2022-10-13 05:40] rkooo567 commented on #28429
[code]

Do you run this code inside the k8s cluster? or outside?

[2022-10-13 05:40] jovany-wang commented on #29247
@simon-mo Is this feature needed in Serve?

[2022-10-13 05:41] simon-mo commented on #29247
No at the moment. We only use DAG as API layer and perform transformation.

[2022-10-13 05:41] rkooo567 commented on #27931
This is not fixed.

[2022-10-13 05:42] rkooo567 commented on #27618
Hmm why is it working as intended? I think del is not expected to be called from the driver.

[2022-10-13 05:44] scottsun94 commented on #28296
@EricSteinberger Does @rkooo567 's answer address your issue?

[2022-10-13 05:45] rkooo567 commented on #17374
We have documentation regarding how to set logger. `ray.init(log_to_driver=True, logging_level='info')` is not propagated to workers. It is only for logs from the driver internal ray logs. I think it is more like we don't have APIs to propagate logger config to all workers yet.