[2021-03-24 02:07] ericl commented on #14886
cc @stephanie-wang --- should we revert that patch from the 1.3 branch in the interim?

[2021-03-24 03:36] wuisawesome commented on #14759
@richardliaw let's keep both the P1 and P0 labels (we always label core bugs with both to make it easier to filter/track)

[2021-03-24 04:39] stephanie-wang commented on #14886
One option is to only cap the args for active tasks. Pending task args don't need to be capped since it's safe to evict them.

[2021-03-24 05:10] piscesvivian opened #14888 "[rllib]I Cannot reproduce pong_apex example reward curve"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

I run it with command,
[code]

yaml config file `pong_apex.yaml` content:
[code]
The only diffrence is server is no GPUs.

and waiting, waiting

after run about 13 hours, reward is still -16.  not like offical curve pic discribe
I know a few things abount RL, how can

[2021-03-24 05:44] shwang commented on #14885
Hmm looks like this doesn't work with regular Ray on my computer either. Probably something wrong with my setup. https://gist.github.com/shwang/5331d944238afe0dede68efa79a00a53

[2021-03-24 05:44] #14885 closed

[2021-03-24 06:41] richardliaw commented on #14885
I suspect this just isn't well-supported. What are you trying to do exactly?

[2021-03-24 08:01] clay4444 commented on #14759
hi, @amogkam  I have fixed this issue in this pr:  #14891  , maybe you can task a look for this, thanks~

[2021-03-24 09:01] krfricke commented on #14557
Hey @ANarayan, this issue should be fixed in #14835, can you try it out and see if it works for you?

You should probably specifically pass a `name` or `logdir` to `tune.run()` to make sure the different run logs don't interfere with each other.

[2021-03-24 09:44] kk-55 commented on #9114
@mehrdadn Do you mean combining [https://docs.ray.io/en/master/installation.html#daily-releases-nightlies](url) and Windows Python 3.8.5 64-bit? And thereafter hoping for further help from the team?

[2021-03-24 09:52] mehrdadn commented on #9114
@kk-55 Yup.

[2021-03-24 10:28] kk-55 commented on #9114
### Ray can't be initialized
**Problem description**
Running the repo script below, ray can't be initialized. No error/warning occurs and it just won't terminate (always ends up in line `ret = ray.init()`).
Console/debugger outputs look like this:
![grafik](https://user-images.githubusercontent.com/63732956/112294754-74a53f80-8c93-11eb-97af-c69d200fd90e.png)

![grafik](https://user-images.githubus

[2021-03-24 10:31] mehrdadn commented on #9114
@kk-55: Sorry, what I was saying was, try to find the latest nightly wheel that **does** work correctly. Not one that's broken. That way the team can look at what changes might have occurred in the subsequent commit.

[2021-03-24 10:32] krfricke commented on #14884
I'll use this issue as a log.

With a simple example, autoscaling seems to work fine:

[code]

Output:
[code]

(cluster.yaml)
[code]

[2021-03-24 10:43] krfricke commented on #14884
Simple PPO using Cartpole works as well

[code]

[code]

[2021-03-24 10:47] smorad commented on #14875
Reverting to 8cfaea5fc51efd2eecc0da168a8e153597c9dd0c fixes the issue, while reverting to ea7d4c66076c5141bbf22c60d77ff4868b1cbb87 does not. So the bug was introduced somewhere inbetween those commits.

[2021-03-24 10:54] krfricke commented on #14875
Hm I think this might be related to this issue: https://github.com/ray-project/ray/issues/14759. This is a P0 issue an we're working on it this week.

The first table print (with `0/2 GPUs`) is from right after requesting the placement group (not starting the trial). Perhaps the `resources requested` phrasing is a bit misleading here, as we only log resources currently _in use_ by Ray Tune trials.

[2021-03-24 11:01] krfricke commented on #14884
So the culprit was actually just the `ray.init()`, which did not connect to the existing ray instance.

Changing this to `ray.init(address="auto")` solves the problem:

[code]

I'll close this issue for now. Let me know if this issue persists with the change.

By the way, shouldn't `ray.init()` automatically connect to an existing cluster?

[2021-03-24 11:01] #14884 closed

[2021-03-24 11:18] kk-55 commented on #9114
@mehrdadn Sorry, but is there a wheel that had previously worked? Or do you know which one to try first?

[2021-03-24 11:23] mehrdadn commented on #9114
@kk-55: I don't know about Python 3.8.5 in particular, but of course the Windows wheels have been working for some time. [This user got a wheel working on Windows, for example](/ray-project/ray/issues/12112#issuecomment-765815710), but I don't know what commit it was. Have you ever managed to run it successfully on any version of Python in the past? Or is this the first time you're trying to run R

[2021-03-24 11:54] #14533 closed

[2021-03-24 12:32] raulchen opened #14894 "concurrent actor starts too many threads"
### What is the problem?

An actor of max_concurrency = N should only start at most N threads. However, due to [this bug](https://github.com/ray-project/ray/pull/7335#pullrequestreview-617272911), the actual behavior is starting N threads per caller.

### Reproduction (REQUIRED)

[code]

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [ ] I have

[2021-03-24 14:21] asm582 opened #14897 "[ray white paper] broken links"
Hello,

The autoscaler link in the Ray documentation link provided below is broken

https://docs.google.com/document/d/1lAy0Owi-vPz2jEqBSaHNQcy2IBSDEHyXNOQZlGuj93c/preview#

[2021-03-24 14:32] Deathn0t commented on #13181
I also have this error, I am executing functions on multi-gpus nodes, the functions are well executed during some time and then this error appears, the execution and the cluster crash and I am not finding any logs about what happened:
[code]

[2021-03-24 14:36] Deathn0t commented on #13181
I am using Ray 1.2.0 and here are the logs:
[session_logs.tar.gz](https://github.com/ray-project/ray/files/6198036/session_logs.tar.gz)

[2021-03-24 15:04] Deathn0t commented on #5649
I think this issue is linked https://github.com/ray-project/ray/issues/13181
Happening for me with ray 1.2.0 any idea? @robertnishihara @pcmoritz

[2021-03-24 15:12] Deathn0t commented on #5649
Can this be cause by this line https://github.com/ray-project/ray/blob/releases/1.2.0/python/ray/log_monitor.py#L253 ?

which is not filtered here https://github.com/ray-project/ray/blob/releases/1.2.0/python/ray/log_monitor.py#L100

Would not it be better to do
[code]

[2021-03-24 15:26] #14119 closed

[2021-03-24 15:34] Carterbouley commented on #14847
I trained the agent in 0.8.3, and restoring it in 0.8.4 fixed this problem (rather than 1.2 that I was using)

[2021-03-24 15:47] shwang commented on #14885
I like seeing all my local Raylets in `tmux` because it's a nice interface.
`local_mode` is fine too, but I was super stoked to find the tmux option in
the [debugging docs](
https://docs.ray.io/en/master/debugging.html#starting-processes-in-a-debugger)
(especially because it supports PDB and GDB,  and is analogous to my
`parallel --tmux` workflow).

Maybe I should pay more attention to the web int

[2021-03-24 15:59] ijrsvt commented on #14550
Quick FYI on this. I've been trying to run the `_exec("docker stop")` command in parallel on threads, threadPoolExecutors and processes, and have been getting an issue where my terminal is in an unusable state after `ray down`. The issue looks like the following:
[code]

The exact issues are:
1. I press enter, it creates a new shell prompt to the right of the last one.
2. Anything I type is not vi

[2021-03-24 16:03] jovany-wang opened #14899 "[Core] Support getCurrentActorHandle"
## Brief
We have some requirements like:
- Pass itself actor handle to other actors.
- Treat itself actor handle as normal as other actor handles.

Currently, `ray.get_actor(actor_id)` has no such ability because we should register its handle of non-detached actors anyway (PS: Only caller side registers it).
So we should provide `ray.get_runtime_context().current_actor` method. (`Ray.getRuntimeCon

[2021-03-24 16:03] TheAlpha1550 commented on #9518
Hello. I am having the same issue, except with

ray-0.9.0.dev0-cp38-cp38m-manylinux1_x86_64.whl

instead of cp36. If anyone can help me resolve this issue, i will greatly appreciate it. Thank you.

[2021-03-24 17:11] Fabien-Couthouis opened #14902 "Custom cluster using WSL2"
### System information
- Windows 10 version: 20H2, OS version: 19042.867
- WSL2 with Ubuntu 20.04
- ray==1.2.0
- python==3.8.8

### Describe the problem
Hello,

I am trying to setup a custom cluster with two Windows PC using ray and WSL 2. On each PC, I launch an executable to [access ray server running in Ubuntu WSL 2 from anywhere on my local network](https://github.com/CzBiX/WSLHostPatcher). Th

[2021-03-24 17:27] kk-55 commented on #9114
@mehrdadn Not yet, it's the first time I try to run Ray on Windows.
I think that user got a wheel working on Windows simply took the wheel for the latest release. I also changed to Python 3.8.7 and tried to reproduce, but `ray.init()` still gets stuck w/o any prompt.

[2021-03-24 17:44] ian-cannon commented on #14107
It actually causes more problems without changing the algorithm. It looks like the dimensions of the state and action space are expected to be different in the Model's observe function.

[code]
when both have only 2 dimensions. Changing this to permute(1,0) allows it to continue for a time, but does not remedy this problem either as it tries to cat prev_state[2] with prev action when they have a d

[2021-03-24 17:53] #14371 closed

[2021-03-24 18:42] edoakes commented on #14026
@amogkam let's not treat it as a release blocker

[2021-03-24 18:49] valiantljk-tt opened #14907 "load_package failed if there is empty file in package"
### What is the problem?
When testing the experimental load_package, the function could fail if there is an empty file in the package folder, especially if the empty file is read in first during the hashing loop in runtime_env's '_hash_modules'

*Ray version and other system information (Python version, TensorFlow version, OS):*
* Ray version: master branch
* Python 3.8.3
* OS: Darwin Kernel Versi

[2021-03-24 18:54] AmeerHajAli opened #14908 "Tune + placement groups improvements"
If you start a `tune.run` today with 1 trial (num_workers=1000), `tune.run` calls this:
[code]

The issue with this workflow is that Tune will not run until we reach enough nodes that accommodate 1000 cpus, and then start scheduling tasks. A more efficient workflow can potentially be to schedule as nodes spin up and not wait until all of them are up. Can Tune create a placement group per worker in

[2021-03-24 19:00] #14807 closed

[2021-03-24 19:10] #14841 closed

[2021-03-24 19:10] krfricke commented on #14908
So to sketch this out a little more, this is mostly related to RLLib trainables that can have multiple remote rollout workers running. It can be extended to general distributed training settings with a varying amount of workers.

The first thing we should consider here is if starting rollouts with fewer workers and scaling up to more workers is something that is a) technically possible without too

[2021-03-24 19:18] ericl commented on #14908
I don't think we want to support this use case right now--- dynamic trial sizing is very complex and I haven't heard any users ask for this in RLlib.

[2021-03-24 21:16] Counterfeiter opened #14912 "[rllib] Ranked Reward from contrib/alphazero inefficient"
### What is the problem?

'1.2.0'

The Ranked Reward Env Wrapper does each initialization (worker and serial env per worker) configurable random games ("num_init_rewards")  to find a random baseline for the threshold. The env is always the same and the mean reward of the 100 games also.

I have a slow env the startup evaluation time for 100 evaluations takes long and couldn't be parallelized. Lowe

[2021-03-24 21:50] mehrdadn commented on #9114
@kk-55: I see. I just `pip install`ed the latest version of Ray on Python 3.8.7 and verified that it runs correctly, so something seems to be wrong on your machine. I would say try older commits until you find one that works. (Binary search might be helpful here.) Then post whatever you find as a new issue (not here).

[2021-03-24 22:10] eicnix opened #14914 "[Cluster] No "python-core-worker-*.log" logs written"
### What is the problem?

Actor dies unexpectedly with message `ray.exceptions.RayActorError: The actor died unexpectedly before finishing this task. Check python-core-worker-*.log files for more information.` but no `python-core-worker-*.log` file is actually available. Other log files like the `dashboard.log` have been updated in the meanwhile.

### Reproduction (REQUIRED)
- Ray 1.2
- Python 3.7

[2021-03-24 22:16] AmeerHajAli opened #14915 "ray nightly points to the wrong hash"
I set:
[code]
I get on the worker:
[code]
### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [ ] I

[2021-03-24 22:31] ijrsvt commented on #14915
Yeah this applies to `nightly` images that don't have `py36`, `py37`, `py38` in them.

[2021-03-24 22:33] ijrsvt commented on #14915
I.e.
[code]

[2021-03-24 23:45] wuisawesome commented on #14640
@richardliaw what's the output of `ulimit -a` and what's in `gcs_serer.err` when you do `ray start --head`?

[2021-03-25 00:14] thomasdesr opened #14919 "[core] `worker.run_function_on_all_workers` runs in the driver process twice"
### What is the problem?

run_function_on_all_workers runs the function passed twice on the driver (but once on all the workers). It should only run it once.

### Reproduction (REQUIRED)

[code]

[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installatio

[2021-03-25 00:35] iycheng opened #14920 "Suppress logs when failure in object_spilling"
### Describe your feature request
There are too many lines of the same log showing when something failed. It's not useful and also prevent people from finding the root cause. Maybe we want to suppress it to reduce the number of logs when something broken.

[code]

GLOG has `LOG_EVERY_N` which we might want to add to RAY_LOG. (http://rpg.ifi.uzh.ch/docs/glog.html)

[2021-03-25 00:38] rkooo567 opened #14921 "Failing objects that are failed to be restored many times."
### What is the problem?

There are times that restoration will never succeed (e.g., the spilled object is deleted. There are network failures to S3). In this case, local object manager basically retries to restore the object infinitely. We should properly handle this case;

Possible good tests;
- We remove a file that spilled the object in the test
- And make sure the object is considered as fail

[2021-03-25 00:39] rkooo567 commented on #14921
Related; https://github.com/ray-project/ray/issues/14920 (different symptoms from the same root cause)

[2021-03-25 00:40] rkooo567 commented on #14914
Can you provide a script that can cause unexpected actor failures?

[2021-03-25 00:40] #14915 closed

[2021-03-25 01:12] xcharleslin commented on #14856
cc @xcharleslin
We can remove https://github.com/anyscale/product/pull/3803 and https://github.com/ray-project/ray/pull/14859 once this is done!

[2021-03-25 02:30] jovany-wang opened #14923 "Feature request on `actor.wait(timeout_ms)` API"
## 1. Problems And Background

Many users' code needs a function that waits for an actor to complete. Previously, we were encouraging users to implement meaningless remote calls such as `ray.wait (actor.no_op.remote())` to workaround. But as the scale of the user code repository grows, so does the cost of maintenance.

Therefore, I'd like to propose an API that waits for an actor to be created suc

[2021-03-25 03:34] deetungsten commented on #14697
@pierreia I hear your frustration but its been kind of fun. I was surprised Ray was still broken even with a Rosetta 2 instance with conda. But I have great news!!! IT COMPILED but it still won't run right!!!  Thanks to [nelhage](https://github.com/nelhage/rules_boost) advice, I noticed that the current boost rules should support Mac M1. The version that ray uses is just old so I just commented it

[2021-03-25 03:56] richardliaw commented on #14923
Why not just do `ray.wait([actor])` to avoid introducing a new API?

[2021-03-25 06:58] cffyh commented on #6184
How is this job coming along?

[2021-03-25 07:50] wuisawesome commented on #14640
@robertnishihara @richardliaw can y'all provide some additional details to reproduce this? I can't reproduce it on either Big Sur or Catalina.

[2021-03-25 10:03] #13953 closed

[2021-03-25 10:57] jovany-wang opened #14929 "Bug: Got an unexpected exception if a process is exiting while memory_monitor is doing memory check."
### Brief
![image](https://user-images.githubusercontent.com/19473861/112461414-db615080-8d9a-11eb-91b8-2fb9b4b6ed1f.png)

https://github.com/ray-project/ray/blob/master/python/ray/_private/memory_monitor.py#L32toL43

Line41 reads `create_time` from the `/proc/pid/stat` file. If a process is exiting between line38 and line41, it will throw NoSuchFileError(`/proc/pid/stat`), which will lead the use

[2021-03-25 11:46] jseppanen commented on #3116
also this patch to cloudpickle might help: https://github.com/cloudpipe/cloudpickle/pull/391

[2021-03-25 11:47] jseppanen commented on #7133
also this patch to cloudpickle might help: https://github.com/cloudpipe/cloudpickle/pull/391

[2021-03-25 12:09] #4828 closed

[2021-03-25 12:11] kk-55 commented on #9116
It is also the virtual Python env which triggers my problem [https://github.com/ray-project/ray/issues/9114#issuecomment-805692519](url) (versions 3.7 and 3.8).

[2021-03-25 12:39] RocketRider opened #14933 "Question/Possible Bug: in autoregressive_action_dist"
I am trying to implement my own ActionDistribution, but somehow it is not learning correctly. In the beginning it runs fine. But later on it just does not learn anything anymore.

While implementing my own I looked at the sample: https://github.com/ray-project/ray/blob/master/rllib/examples/models/autoregressive_action_dist.py
I found something I am not sure about.
Which one of the two implementat

[2021-03-25 12:53] yywangvr commented on #14645
Hello @richardliaw , thanks for the answers.

I am new to learn Ray.tune and I don't have the configuration yet. Thank you.

If I only have 4 cores in local laptop, it will run 4 trials in parallel and put the rest in the queue, right?

[2021-03-25 15:06] jovany-wang commented on #14923
The parameter of current `ray.wait()` is RayObject. I'm not sure if it's weird to pass an actor handle as its parameter.

[2021-03-25 15:18] edoakes opened #14934 "Handle should support normal args and kwargs, not ServeRequest"
This doesn't work:

[code]

[2021-03-25 16:00] edoakes opened #14936 "Support "dry runs" for deploy() operations"
Declarative APIs can be hard to reason about sometimes. We should support a simple API that will return the changes that will occur without actually making them. The output could look something like:

[code]

[2021-03-25 16:15] adriendoerig commented on #2536
Hi, sorry for reopening this. Your schematic from the 2nd of Aug 2018 is very helpful, but am I correct in assuming that the loss is backpropagated through time all the way through all the timesteps in an episode? Or is is only one timestep at a time? My task requires information integration over many timesteps, which requires the former. Thank you!

[2021-03-25 16:57] umbertov commented on #13632
i solved this by simply `import torch`. However, it looks like the call to `restore` (in my case it was on an agent, with `agent.restore()`) still fails because the PyTorch state dict is serialized as a GPU tensor, so the de-serializing function of torch needs the `map_location='cpu'` kwarg, however there is no way to pass it to `restore`. I'm looking for a way to circumvent this; the easiest that

[2021-03-25 17:23] #14805 closed

[2021-03-25 17:23] #14806 closed

[2021-03-25 18:24] edoakes opened #14937 "[serve] Autoscaling integration tests"
We can use cluster_utils to add and remove nodes to test behaviors with the autoscaler

[2021-03-25 19:29] edoakes opened #14938 "[serve] Strange behavior without trailing `/` in fastapi deployment"
[code]

[code]

[2021-03-25 19:35] edoakes commented on #14938
@simon-mo is this expected behavior?

[2021-03-25 19:56] ttumiel opened #14939 "[rllib] Keras Optimizers not supported"
### What is the problem?

The default TFPolicy says it should return a `tf.keras.optimizer.Optimizer` in the `optimizer()` method but this doesn't work. Currently `tf1.train.AdamOptimizer` is used.

Related issue: #8367

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray: master
Python: 3.7
Tensorflow: 1.14

### Reproduction (REQUIRED)

[code]

The tf.train.A

[2021-03-25 19:59] richardliaw commented on #14640
Hmm, maybe it went away. For me, it was often the case if I installed Ray
on a new virtual env.

On Thu, Mar 25, 2021 at 12:50 AM Alex Wu ***@***.***> wrote:

[2021-03-25 21:47] amogkam opened #14941 "[RLLib] [Tune] pbt_ppo_example hangs"
### What is the problem?

Running the `python/ray/tune/examples/pbt_ppo_example.py` exactly as is on a p3.2xlarge instance is hanging. All the trials are always pending, and none of them run- the following just gets repeated forever

[code]

This same behavior is happening even with `TUNE_PLACEMENT_GROUP_AUTO_DISABLED=1` set, so I don't think this error is exactly the same as what's in https://git

[2021-03-25 21:50] richardliaw commented on #14941
Can you provide the output of `ray cluster-dump` or `/tmp/ray/session_latest/logs`?

[2021-03-25 22:11] krfricke commented on #14941
And alternativels/additionaly the output of

[code]

while it is hanging

[2021-03-25 22:21] richardliaw opened #14943 "[core/memory] Objects don't show up from main process?"
### What is the problem?

Is this expected?
[code]

[2021-03-25 22:27] edoakes opened #14944 "[serve] Pydantic pickling errors with Ray client"
[code]

[2021-03-25 22:28] mmchougule commented on #12565
@wuisawesome when will this be released? We are seeing this issue now. I see the last release ray 1.2.0 was before the PR got merged.

[2021-03-25 22:30] wuisawesome commented on #12565
The fix is in master now. It will also be in Ray 1.3.0. The ETA for 1.3 is around 1-2 weeks (the release process currently takes time)

[2021-03-25 22:34] mmchougule commented on #12565
Okay, I will try to install ray from `master` and see if this issue is fixed.

[2021-03-25 22:38] amogkam opened #14945 "[tune][client] document how to use MLflow + Ray Client"
### What is the problem?
Both the `MLflowLoggerCallback` and the `mlflow_mixin` do not work when used with Ray Client.

For the `MLflowLoggerCallback` we have to make sure that the tracking URI and experiment are set on the server side and not on the client side.

For the `mlflow_mixin` even when the tracking uri and experiment creation are wrapped in a remote function, the Tune trials are failing

[2021-03-25 22:41] amogkam opened #14946 "[Tune] [Ray Client] tune_cifar10_gluon example fails with Ray Client"
### What is the problem?
Running the example with client on laptop and server on a p3.2xlarge instance results in the following error:
[code]

Looks like gluoncv's data loading does not work when run in a remote process.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possi

[2021-03-25 23:14] amogkam commented on #14941
Output from `ray cluster-dump` amog-gpu_2021-03-25_16-12-27.tar.gz
[amog-gpu_2021-03-25_16-12-27.tar.gz](https://github.com/ray-project/ray/files/6208341/amog-gpu_2021-03-25_16-12-27.tar.gz)

[2021-03-25 23:15] amogkam commented on #14941
@krfricke here's the output from your code snippet
[code]
But note that I am not using a ray cluster. I am just using ray locally on a ec2 instance.

[2021-03-25 23:44] franklsf95 opened #14948 "Object spilling to S3 crashes"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

- Ray: 2.0.0 nightly
- Python 3.8.5
- OS: Ubuntu 18.04
- AWS EC2 instance

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e.,

[2021-03-26 02:35] #8435 closed

[2021-03-26 05:21] franklsf95 commented on #14948
cc @rkooo567 @stephanie-wang

[2021-03-26 09:48] quinn-dougherty commented on #12940
Getting this bug with `spaces.Discrete`, is it known to also be a problem converting between int and float?

[2021-03-26 11:11] markgoodhead commented on #11506
I'd still love to get this feature into Ray - we've got the PR for it done and we're happy to do any work required to make it mergeable. Previously we were waiting until some refactoring was complete on the autoscaler before merging - what's the timeline for this to be completed?

[2021-03-26 12:17] RocketRider commented on #5475
Did you get it running?
I am trying to implement something very similar, but running into training issues.

[2021-03-26 14:28] edoakes opened #14951 "[serve] Run all tests in CI using the Ray client"

[2021-03-26 15:09] veqtor commented on #13483
Hi, was any progress made on this, furthermore, where is this new repo that you talk about?

[2021-03-26 16:07] edoakes opened #14954 "Better error message for @serve.deployment decorator with no parens"

[2021-03-26 16:13] edoakes opened #14955 "Make it easier to update options on running deployments from a different script"
e.g., want to just scale the number of replicas

[2021-03-26 20:15] blublinsky opened #14958 "[k8s] ray down command does not remove pods which are in evicted state"
### What is the problem?

Ray v.2.0.0-dev
ray down command does not remove pods in the evicted state

### Reproduction (REQUIRED)
This is only happening if some of the worker/head pods will become evicted. There is no manual way to introduce it.

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [ ] I have verified my script runs in a clean environ

[2021-03-26 20:18] blublinsky opened #14959 "Reconnecting to ray does not work"
### What is the problem?

*Ray version 2.0.o-dev

### Reproduction (REQUIRED)
If you execute this code , the connection fails
[code]
If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.r

[2021-03-26 22:07] simon-mo opened #14960 "Pydantic serialization failed with nested fields"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

somehow the list type hint

[2021-03-26 23:16] gshimansky commented on #13090
@Legend94rz Are you by chance running Ray with `http_proxy` or `https_proxy` environment variables? To me this comment helped to resolve the problem https://github.com/ray-project/ray/issues/11940#issuecomment-730844828
Dashboard (in Ray 1.1.0) doesn't work when proxy variables are present because GRPC attempts to use proxy for connections.

[2021-03-27 01:51] signalprime commented on #14195
Can confirm it also happens with dictionary observations

[2021-03-27 01:51] wuisawesome opened #14963 "[Autoscaler] AWS setup commands hardcodes pip"
### What is the problem?

We seem to hardcode `pip install boto3` at the end of `setup_commands`.

This is bad because `pip` is not a command on ubuntu (for example the Ubuntu 20.04 AMI). Instead, we should be doing `f"{sys.executable} -m pip"`.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (le

[2021-03-27 09:37] mitar commented on #2635
Unstale.

[2021-03-27 09:38] mitar commented on #2587
Unstale.

[2021-03-27 09:38] mitar commented on #5240
Unstale.

[2021-03-27 13:48] yangysc opened #14965 "deleted"
deleted

[2021-03-27 15:11] 51616 opened #14966 "[rllib] SampleBatch.rows() does not work with RNN models"
### What is the problem?
I'm trying to manipulate the `postprocessed_batch` in `learn_on_batch` function of my policy. I found that `SampleBatch.rows()` does not work when using RNN model because`state_in_0` only store the initial value of the sequence. Hence, the length of `state_in_0` is different from other keys making `rows` function breaks as it assumes equal length columns. This also causes

[2021-03-27 15:36] lauritowal commented on #8526
@sven1977 are there some news on this maybe? :)

[2021-03-27 15:37] nirvana-msu commented on #13293
Ping... could you please incorporate this into your build? Would make like of windows users much easier.

[2021-03-27 15:51] edoakes commented on #13747
@AmeerHajAli this is what I was referring to that we need for serve's python API to work w/ ray client

[2021-03-27 18:00] karim174 commented on #14107
I guess the problem here is with setting the ViewRequirement object in the policy as it does not have any indication that the dreamer model requires a time axis in observations, actions, etc.

The  call to the  `self._initialize_loss_from_dummy_batch` function creates a dummy batch according to the `ViewRequirement`object, which defines the exact conditions by which this column should be populated

[2021-03-27 18:37] duburcqa opened #14968 "[rllib] "normalize_actions" parameter is clipping the action while it shouldn't."
### What is the problem?

`"normalize_actions"` common parameter can be used to "Unsquash actions to the upper and lower bounds of env's action space", yet in practice it also clip it to [-1.0, 1.0], as you can see [here](https://github.com/ray-project/ray/blob/de7ee75d27919178167cdc377e25441fc1b7a59b/rllib/env/normalize_actions.py). I think this behavior is not expected, and should be fixed, sinc

[2021-03-27 19:21] lukaszkn opened #14970 "AlphaZero torch model doesn't support cuda, only cpu"
### What is the problem?

I'm trying to run AlphaZero implementation sample from ray/rllib/contrib/alpha_zero/examples/train_cartpole.py but exception is raised:
**RuntimeError: Tensor for argument # 2 'mat1' is on CPU, but expected it to be on GPU**

There is no exception with cpu version of torch installed. Does AlphaZero support CPU only?

*Ray version and other system information (Python versi

[2021-03-27 22:09] signalprime commented on #14723
Thank you for raising this issue

[2021-03-27 23:56] rkooo567 commented on #7802
It is not fixed.

[2021-03-28 04:45] #8496 closed

[2021-03-28 04:45] #8516 closed

[2021-03-28 04:45] #7858 closed

[2021-03-28 06:13] wuisawesome opened #14972 "[serve] dependencies not listed in ray[full]"
### What is the problem?

`pip install ray[serve]` installs dependencies that are not in `pip install ray[full]`

@simon-mo

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external librar

[2021-03-28 06:21] simon-mo commented on #14972
Are they supposed to? There's also a `ray[all]` which contains the union of all lib deps. @richardliaw

[2021-03-28 06:24] wuisawesome commented on #14972
interesting, now i'm wondering why `ray[full]` exists... I've only seen it in an autoscaler warning...

[2021-03-28 14:36] satishdash commented on #11287
Hi thanks a ton for all the efforts put in by the community for this awesome framework core and notably all the other components around it in the ecosystem. But by any chance do we know when would a compatible 3.9 wheel be built out. Eagerly awaited in our organization :)

[2021-03-28 16:40] richardliaw commented on #14972
yeah that's definitely confusing. "full" is definitely new, and we should rename it appropriately.

[all] is the entire ecosystem. [full] is the current ray core.

What about ray[core]?

[2021-03-28 16:49] wuisawesome commented on #14972
What do you mean by "ray core". I would think the ray core is encompassed by `pip install ray`

[2021-03-28 18:10] edoakes commented on #14972
What exactly is `ray[full]` vs `ray`? Maybe `ray[util]` or something?

[2021-03-28 18:11] edoakes opened #14974 "[serve] Documentation page on development & debugging best practices"
e.g., how do I see logs when I get an internal server error from fastapi?

[2021-03-28 18:55] mntan3 opened #14975 "[docs] Broken link in release documentation"
### What is the problem?

https://docs.ray.io/en/master/installation.html#official-releases
The "release process doc" link seems to be broken.

I'm guessing it was supposed to link to here: https://github.com/ray-project/ray/blob/master/release/RELEASE_PROCESS.rst

### Reproduction (REQUIRED)
Go here: https://docs.ray.io/en/master/installation.html#official-releases and click "release process doc"

[2021-03-28 21:52] #14812 closed

[2021-03-28 23:07] crypdick opened #14977 "[tune] tune.run() with resume="REMOTE" throws ValueError, and kwarg docs are out of date"
### What is the problem?

Resuming a `tune.run()` job using the `resume="REMOTE"` option fails with a `ValueError: Called resume from remote without remote directory` (raised by ray/tune/trial_runner.py", line 236 in _validate_resume). The [API docs](https://docs.ray.io/en/latest/tune/api_docs/execution.html#tune-run) for the `resume` kwarg seem out of date, because it references `local_checkpoint

[2021-03-29 04:24] rkooo567 commented on #14948
Can you try again in the latest master? I suspect it is the same issue as https://github.com/ray-project/ray/issues/14788, and the PR that Eric mentioned in that PR is now merged.

[2021-03-29 04:28] rkooo567 commented on #14959
cc @AmeerHajAli

[2021-03-29 04:29] rkooo567 commented on #14943
`ray.objects()` is not working with new object directory implementation.

[2021-03-29 04:30] rkooo567 commented on #14943
https://github.com/ray-project/ray/issues/14073

[2021-03-29 05:20] AmeerHajAli commented on #14959
@blublinsky , I tried this locally:
[code]
it works, so I am not sure what is going on. Can you call `ray install-nightly` and rerun this?

[2021-03-29 07:18] #14943 closed

[2021-03-29 08:20] Frag17 commented on #14399
Find the same queestion

[2021-03-29 08:42] rkooo567 opened #14983 "[Stats] Optimize stats that add high overhead"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[code]

Looks like whenever `GetCoreWorkerStats` requests are received, it iterates all in-memory objects.

This can add significant overhead when there are many objects in the core worker (e.g., shuffle). I found getting core worker stats took 500ms of time.

[code]

[2021-03-29 14:40] AmeerHajAli commented on #14056
@simon-mo , is this issue still relevant?

[2021-03-29 14:42] edoakes commented on #14056
Btw, we should definitely have an integration test for this to avoid regressions.

[2021-03-29 14:44] AmeerHajAli commented on #14056
@edoakes, can the Serve team help add such a test?

[2021-03-29 15:09] edoakes commented on #14056
Yep, sounds good. @simon-mo could you please take the lead and (1) verify if this is still an issue, (2) get it fixed (I assume @AmeerHajAli et al. can help out here), and (3) add a test to avoid regressions?

[2021-03-29 15:24] krfricke opened #14987 "[release/tune] test_bookkeeping_overhead fails (too much overhead)"
The release tests fails with the following output:

[code]

This is a regression from the last release, where this test finished in under 750 seconds.

[2021-03-29 15:28] krfricke opened #14989 "[release/tune/xgb] test_xgboost_sweep fails"
The release test runs forever with the following output:

[code]

The reason is not completely clear, but it seems the following is happening: Trials are created and training is started, but Ray Tune is stuck somewhere and doesn't release the training semaphore for training to continue. One trial also seems to fail to load all data (which might result in the blocking).

If true, we need to address

[2021-03-29 15:29] AmeerHajAli opened #14990 "changing the docker image in consecutive `ray up` calls fails."
I called `ray up` on `example-full.yaml` . Changed the docker image (latest->nightly) and got the follow error:
[code]

[2021-03-29 15:32] krfricke commented on #14989
One placement group seems to be pending, although the resources should match exactly.

[code]

[code]

[2021-03-29 15:33] AmeerHajAli commented on #14990
I tried this again now:
I got this error:
`A container with name ray_container is running image rayproject/ray:latest-cpu instead of rayproject/ray:nightly-cpu (which was provided in the YAML)`

but it did not result in `Failed to setup head node`.

[2021-03-29 15:33] tgaddair opened #14992 "Dask on Ray incompatible with dask==2021.3.1"
Attempting to import `ray.util.dask.ray_dask_get` with `dask==2021.3.1` raises the following error:

[code]

This is because Dask dropped these utility methods as part of https://github.com/dask/dask/pull/7006.

Dask on Ray should be updated for the new API.

[2021-03-29 15:33] tgaddair commented on #14992
cc @clarkzinzow

[2021-03-29 15:40] krfricke commented on #14989
Apparently, there are a number of 1 CPU placement groups created:

[code]

This explains why one placement group is still pending. It doesn't really explain though why the trial is started (and waiting until actors are ready) anyway.
However,

[2021-03-29 15:46] krfricke commented on #14989
[code]

So the tune-created placement groups only have one CPU actor.

It seems in the test we are just not passing the number of required resources to Ray Tune. It would be good to throw an error in these cases, but this will probably have to be done on the xgboost_ray side.

[2021-03-29 15:56] yolking opened #14993 "Creating exe file on Windows"
System information
Windows 10
ray 1.2.0
python 3.8.8

Basically I am trying to create an .exe file based on python script, where `ray` is used. Script works perfectly fine in python, but I need .exe to launch this code on another computer.
I create .exe using `pyinstaller` with several manually added hidden dependencies for ray
hiddenimports=['ray.async_compat','msgpack']
Unfortunately, exe applic

[2021-03-29 16:31] amogkam commented on #14640
Just confirming- is this not reproducible? If not, then should we close the issue/remove it as a release blocker?

[2021-03-29 16:33] timurlenk07 commented on #14523
I also have this bug, hoping for a quick workaround:
Python 3.8.8
Pytorch 1.7.1
Ray 1.2.0
Ubuntu 20.04
Tesla V100

[2021-03-29 16:33] richardliaw commented on #14640
yep! done

On Mon, Mar 29, 2021 at 9:31 AM Amog Kamsetty ***@***.***>
wrote:

[2021-03-29 16:56] edoakes opened #14994 "[serve] Clarify subpath behavior for @serve.ingress"
@simon-mo there was some confusion in our hackathon project as to how exactly overlapping subpaths would work. The behavior that we wanted was to be able to have a "catch all" deployment at `/` (it was serving the frontend static files) and then other deployments at subpaths like `/api`.

Right now, what happens is if you put a `path_prefix="/"`, this will appear at `http://localhost:8000//`.

I t

[2021-03-29 16:56] edoakes commented on #14994
cc @alanwguo who discovered the problem!

[2021-03-29 16:57] quinn-dougherty commented on #4569
Now comes the question of inferring latest checkpoints automatically. After reading this thread I concluded that tune doesn't have this built in, so I rolled this (based on [this](https://stackoverflow.com/questions/2731014/finding-most-recently-edited-file-in-python))

[code]

[2021-03-29 16:58] edoakes commented on #14994
Marking P1 to at least have clear docs on the behavior, the longest prefix match is more of a nice to have IMO.

[2021-03-29 16:59] edoakes commented on #14994
Actually @architkulkarni is it possible to use the starlette routing code you used for the existing variable routes support for this?

[2021-03-29 17:01] krfricke commented on #14989
Confirmed passing the resources prerr trial correctly fixes the issue.

We should still address this on the xgboost ray side.

[2021-03-29 17:01] #14989 closed

[2021-03-29 17:05] architkulkarni commented on #14994
The question is basically whether it's possible to support this using Path Parameters: https://www.starlette.io/routing/#path-parameters. Let me think about it.  We could also look into porting Starlette's Mount feature (see link) into Serve the same way we did with the Router--not sure yet if that would be helpful

[2021-03-29 17:12] DmitriGekhtman opened #14996 "[Kubernetes][autoscaler] More problems during scale down"
### What is the problem?

We're still experiencing concurrency issues during scale down on K8s.
Logs: https://controlc.com/e40990dd

Will use comments on this issue to log investigation.

Discussion context:
https://discuss.ray.io/t/stuck-trying-to-take-down-workers/1309/21

Previous issue:
https://github.com/ray-project/ray/issues/14812

Previous PR:
https://github.com/ray-project/ray/pull/14976

[2021-03-29 17:21] valiantljk commented on #14752
It looks like related to the protobuf,
What's the required version on Mac?

[2021-03-29 17:34] stefanbschneider commented on #4569
@quinn-dougherty I'm currently working on integrating a function `get_last_checkpoint()` to simplify this. Issue: https://github.com/ray-project/ray/issues/7927, PR: https://github.com/ray-project/ray/pull/14735

We're currently still debating what we want the function should do exactly? Load the last checkpoint in terms of creation time or in terms of number of training steps? If there are multip

[2021-03-29 17:36] stefanbschneider commented on #7927
I am currently still debating what we want a `get_last_checkpoint()` function to do exactly. Load the last checkpoint in terms of creation time or in terms of number of training steps?

If there are multiple trials in the directory (eg, belonging to different hyperparameters), which trial should be loaded (by default)? The last one or the best one (in terms of some metric)? Or throw an error if th

[2021-03-29 17:46] DmitriGekhtman commented on #14996
First, a heartbeat is missed from a worker pod and the autoscaler runs a NodeUpdater thread to try to recover it
[code]

Then the pod is marked idle and deleted (maybe while the above recovery NodeUpdater is running?)
[code]

The update fails and the autoscaler tries to terminate the pod, in the process attempting to read from its metadata.labels, even though the pod is gone. That leads to a 404 e

[2021-03-29 18:01] architkulkarni commented on #14994
The way the route priority in Starlette is it just tries the routes in order, so we have to order them correctly.  This may be as easy as ordering by decreasing length of `ingress_path`, but I might be missing something more subtle.  Here's the example from the docs:
[code]

[2021-03-29 18:23] edoakes commented on #14994
I believe just ordering them in order of increasing length should work
unless I’m missing something.

We should also probably disable variable routes support at this level once
fastapi is the recommended way to do things unless there’s a concrete use
case for it.

On Mon, Mar 29, 2021 at 1:01 PM architkulkarni ***@***.***>
wrote:

[2021-03-29 19:10] valiantljk commented on #14752
[code]

Here are the version info:
protoc --version
libprotoc 3.15.6

 pip list | grep 'protobuf'
protobuf                           3.15.3

pip list | grep 'grpc'
grpcio                             1.32.0

[2021-03-29 19:45] AmeerHajAli opened #14997 "instability issues in cluster launcher"
download the [data](https://drive.google.com/drive/folders/19GGSD_DvdM4Gi_UoVyCwbFVVGqgEWN2D?usp=sharing) (make sure you are logged in to anyscale account) and run:
- `ray up -y example-full.yaml`
- `ray attach example-full.yaml`
- `cd ~/data; python palettes.py`

it generates the errors shown below (1). If you wait 5 minutes and then rerun `python palettes.py` it generated below (2)
(1)
[code]
(2

[2021-03-29 20:19] AmeerHajAli commented on #14997
CC @wuisawesome

[2021-03-29 20:57] frank-lsf opened #14998 "Feature Request: Python API to get current Ray cluster information"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

When you first call `ray.init()`, you get a dictionary of cluster information including head node IP, etc:

[code]

However there is no way to get this dictionary _after_ initialization using public API. Some information, e.g. the head node address, can be obtained vi

[2021-03-29 21:21] simon-mo commented on #14998
Feel free to add them, if not already present, to ray.get_runtime_context()

[2021-03-29 21:23] simon-mo commented on #14994
for static file use case, users should either:
- use StaticFiles middlewares to actually serve static assets
- add a `/{wildcard:path}` endpoint to serve so it matches against arbitrary subpath, and ask Serve to potentially deprioritize it.

[2021-03-29 22:01] alanwguo commented on #14994
that's what we do actually: https://github.com/anyscale/dev-dashboard/blob/main/backend/web.py

Except serve doesn't interpret "/" path prefix as the root path but rather root + "/"

[2021-03-30 00:22] crypdick commented on #4061
@richardliaw I think I am encountering this issue now. Some tune trials (but never the first) are failing on the first batch of the first epoch, even with batch size 32 on a p2.8xlarge, 50-layer net. For now I'm going to just set `raise_on_failed_trial=False`. I am just doing random hparam search so I don't believe these failed trials are a big problem to me, but I could this being a deal-breaker

[2021-03-30 02:08] kfstorm commented on #14577
@stephanie-wang Sorry that I'm on leave until May 5th.

[2021-03-30 02:10] DmitriGekhtman commented on #14996
Summarizing what probably happened:
For whatever reason, a worker pod's heartbeat was missed and a thread was started to recover the pod.
While that update was running, the pod passed the idle timeout and was terminated.
As a result, the update failed and the autoscaler tried to terminate the node again, which led to an error.

The error restarted the autoscaler update iteration, which then hit th

[2021-03-30 02:12] DmitriGekhtman commented on #14996
A possible fix is to intersect the list of nodes with failed updates with the list of active nodes before passing the list to provider.terminate_nodes.

[2021-03-30 05:21] #11766 closed

[2021-03-30 06:21] #14992 closed

[2021-03-30 06:29] rkooo567 commented on #14997
@wuisawesome Isn't it just that none of tasks are scheduled on a newly started node because we are saturating nodes one by one?

[2021-03-30 07:12] AmeerHajAli commented on #14997
@rkooo567, It seems like if we have say 1M tasks that finish in a short period of time, the scheduling becomes a little bit unstable (the resources requested from GCS jump from 1k CPUs - 100k CPUs) and the newly launched nodes sometimes get some tasks and sometimes don't. It seems like having a very aggressive upscaling and downscaling can be problematic for such workloads. I think you are right t

[2021-03-30 08:11] AmeerHajAli opened #15009 "raise a warning when multiple f.remote() calls are made with ray client"
Using a lot of f.remote() calls with ray client can be extremely slow. We should throw a warning if say > 1K remote calls were made.

[2021-03-30 08:15] AmeerHajAli opened #15010 "[ray client] Support all ray public APIs in ray client"
We should support all the public ray APIs [here](https://docs.ray.io/en/master/package-ref.html?highlight=ray.kill#ray-kill) in ray client.
Currently for example:
`ray.kill(), ray.cancel(), ray.get_gpu_ids()` are not supported.

[2021-03-30 12:41] krfricke opened #15013 "[release/core] data_processing_tests/streaming_shuffle.py fails trying to split `redis_address`"
Running the release test as described in the release test readme gives the following output:

[code]

We're unsetting `RAY_ADDRESS`, does this have to do with the error?

cc @rkooo567

[2021-03-30 13:31] sven1977 commented on #14523
I can reproduce the error now (with py38). Taking another look.

[2021-03-30 13:43] sven1977 commented on #14523
When I add an `.item()` in ppo_torch.policy.py line ~222, it works fine.
Will PR ...
https://github.com/ray-project/ray/blob/master/rllib/agents/ppo/ppo_torch_policy.py#L222

[2021-03-30 13:44] sven1977 commented on #14523
@timurlenk07 @Bam4d @vakker @jsuarez5341 ^^

[2021-03-30 13:45] sven1977 commented on #14523
Super strange that this only happens for 3.8 (does torch on 3.8 automatically convert single scalar tensors into a numpy'able value??).

[2021-03-30 13:57] sven1977 commented on #14523
PR: https://github.com/ray-project/ray/pull/15014

[2021-03-30 14:08] sven1977 commented on #14533
PR: https://github.com/ray-project/ray/pull/15015

[2021-03-30 14:17] krfricke opened #15016 "[release/core] data_processing_tests/dask_on_ray_large_scale_test.py fails due to object store"
Output (last 1800 lines, everything before that was lost):

[code]

cc @rkooo567

[2021-03-30 16:17] amogkam opened #15021 "[Release] 1.3 Checklist (Target date 4/22)"
# Initial Steps
- [x]  Called for release blockers
  - [x]  Messaged Ant about release blockers
- [x]  Announced branch cut date and estimated release date

# Branch Cut
- [x]  Release branch created
- [ ]  Release branch versions updated
  - [x]  Version keys have new version
  - [ ]  Update of “Latest” commits cherry-picked into release branch
- [x]  Release commits pulled into spreadsheet
- [x]

[2021-03-30 16:32] ericl commented on #14997
So is it a scheduling speed problem? We have a fix proposed for q2.

One way of testing this is to try longer running tasks. If the issue goes
away, then that indicates it's scheduling speed that is the issue.

On Tue, Mar 30, 2021, 12:12 AM Ameer Haj Ali ***@***.***>
wrote:

[2021-03-30 17:17] ijrsvt opened #15022 "[Autoscaler][Docker] Disable SHM Detection is Redundant"
### Describe your feature request
If I manually specify `--shm-size` in `run_options`, I **also need to specify** `disable_shm_size_detection: true` inside the `docker` config. This behavior is confusing and rather redundant.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-03-30 17:17] ijrsvt commented on #15022
cc @jennakwon06

[2021-03-30 17:24] javigm98 opened #15023 "[rllib] GPU performance in rollout.py"
I'm trying to evaluate model inference performance in rllib. To do so, I use  the `rollout.py` script to evaluate previously trained PPO models with gym env Pong-v0 and measure this time. I read that `rollout.py` doesn't allow parallel execution and that creating more workers doesn't improve its performance. That's why looking at many sources I saw that the latest commit for this script (https://g

[2021-03-30 17:24] #14800 closed

[2021-03-30 18:04] rkooo567 commented on #15016
When did it happen? (How long did the test run before this error?)

[2021-03-30 18:04] rkooo567 commented on #15016
Also, can you share the cluster yaml?

[2021-03-30 19:35] rkooo567 commented on #15016
It is probably parameters for the script is too optimistic. Let me actually try running it by today and get back to you

[2021-03-30 19:54] stephanie-wang commented on #14886
Thanks, @pdames, that's good to know. 'll try to get a fix out in by next week.

[2021-03-30 19:59] ijrsvt commented on #14996
@DmitriGekhtman I don't think #15019 actually solves the exact bug here. The bug here is coming from the call to `_get_node_type` (which is for the autoscaler to pass info to the `EventSummarizer`).

[2021-03-30 21:15] stephanie-wang commented on #13994
Had to revert #14817.

[2021-03-30 22:11] PeadarOhAodha commented on #9259
Saw the same behaviour. It's now working for me without having to disable the whole firewall. In addition to 6379, looks like you also need to allow 8076 (--object-manager-port)

[2021-03-30 22:50] PeadarOhAodha commented on #9259
I got around this using ray client: https://docs.ray.io/en/master/ray-client.html - you connect on port 10001 (or you can set this to another port on ray start as per the docs.). So make sure your firewall provides access on that.

[2021-03-30 23:27] rkooo567 opened #15030 "Remove dummy object ID"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-03-30 23:27] rkooo567 opened #15031 "Remove Task table from GCS"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-03-30 23:28] rkooo567 opened #15032 "Remove the non-direct call path"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

Seems like there's an ongoing WIP PR, but Kai won't be available until May. https://github.com/ray-project/ray/pull/12843

[2021-03-31 01:10] #15022 closed

[2021-03-31 04:01] franklsf95 commented on #14948
@rkooo567 got a different error this time:

[code]

[2021-03-31 04:15] Legend94rz commented on #13090
Weird.. today I rerun the example code and the simple code written by myself, it works without any change.
`http_proxy` and `https_proxy` are both set to a proxy server.
I use `ray start --head` to start a node, and run the code on this node.

[2021-03-31 05:12] rkooo567 commented on #15016
ETA is EOD tomorrow

[2021-03-31 05:12] rkooo567 commented on #15013
@krfricke lmk if you'd like to run this together.

[2021-03-31 07:36] VinnyLiu0817 commented on #9114
**Ray can't be initialized while connected to redis**
**System information**
OS: Windows 10
Ray: 1.2.0
Python: 3.7 64-bit

**Problem description:**
Running the script on a github program about DML and I built a simple redis cluster with 3 nodes and 3 slaves on my local laptop, but ray can't be initialized when it tries to connect to the redis cluster. I am pretty sure that I open the redis cluster

[2021-03-31 07:43] mehrdadn commented on #9114
Please post a new issue if you encounter any problems on Windows. I think I'm going to close this one. This issue was mainly intended as a reference table for existing Windows issues and to discuss what should be on the table, not as a separate place to post Windows-specific issues. Thanks everyone!

[2021-03-31 07:43] #9114 closed

[2021-03-31 07:50] VinnyLiu0817 opened #15035 "Ray can't be initialized while connected to redis"
**System information**
OS: Windows 10
Ray: 1.2.0
Python: 3.7 64-bit

**Problem description:**
Running the script on a github program about DML and I built a simple redis cluster with 3 nodes and 3 slaves on my local laptop, but ray can't be initialized when it tries to connect to the redis cluster. I am pretty sure that I open the redis cluster mode.
Console/debugger outputs look like this:
![move

[2021-03-31 11:24] cthoyt opened #15037 "[tune] overly strict typing in choice()"
### Describe your feature request

The `Categorical.__init__()` takes any sequence, so the type annotation on `choice()` could be relaxed.

[2021-03-31 12:39] TanjaBayer commented on #13181
Seeing the same error on a single node cluster, using also ray 1.2.0, there is no error before, everything works fine. With lower load we did not see this error, but now that we have some more load I see the error appear more often.
[code]

[2021-03-31 13:18] Deathn0t commented on #13181
This workaround did the trick for me @TanjaBayer , in your `.local/lib/python3.7/site-packages/ray/log_monitor.py` line 102, replace

[code]

with

[code]

[2021-03-31 13:45] AmeerHajAli commented on #14997
I tested the following code to verify it is a scheduling issue:
[code]

output:
[code]

[code]

[2021-03-31 14:27] guykhazma commented on #12635
Hi,

is this issue still active? was there any progress?

Thanks

[2021-03-31 15:41] #14550 closed

[2021-03-31 16:56] simon-mo commented on #14960
@suquark any hints? looks like cloudpickle stripped the List[] type hints and unpickling stuff.

[2021-03-31 16:59] ericl commented on #14997
Glad to have it confirmed, seems like a pretty concrete target to improve
then. This will be prioritized in q2, there's quite a few options like
increasing the worker leasing parallelism.

On Wed, Mar 31, 2021, 6:45 AM Ameer Haj Ali ***@***.***>
wrote:

[2021-03-31 18:20] edoakes opened #15045 "Actor task hangs after actor crashes with max_task_retries=0"
When an actor crashes and is pending placement, newly-submitted tasks will hang until the actor is recreated. This could be very slow (e.g., if it happens due to node failure).

In my opinion the expected behavior here would be for the task to fail given that it was submitted on a crashed actor and `max_task_retries` is set to zero. It's a bit of a gray area though. This came up recently when test

[2021-03-31 18:21] edoakes commented on #15045
@ericl not really sure whether to call this a bug or an enhancement, but PTAL regardless. I think the change to fail this task instead should be relatively minimal, but we need to settle on the most intuitive behavior.

[2021-03-31 18:28] rkooo567 commented on #14832
Okay. Confirmed limiting the number of objects to fuse fixes the issue.

[2021-03-31 18:39] #14585 closed

[2021-03-31 19:12] rkooo567 commented on #2587
@mitar Can you ping me for those unstale issues? I will add a priority tag (then the stale bot won't mark them as stale).

[2021-03-31 19:14] rkooo567 commented on #2551
cc @edoakes

[2021-03-31 19:18] rkooo567 commented on #5019
It looks like we don't have this warning anymore. What error other deadlock messages are you seeing for this case?

[2021-03-31 19:18] rkooo567 commented on #5240
@mitar This should've been resolved in the latest master. Can you check again?

[2021-03-31 19:20] rkooo567 commented on #6184
I think Ray streaming is contributed and tests are running in the master build, but we haven't seen many user interest. @cffan will you potentially be interested in this?

[2021-03-31 19:27] rkooo567 commented on #14788
@franklsf95 do you mind trying this again and see if you still see the issue? Eric's PR is merged now.

[2021-03-31 19:29] rkooo567 commented on #15016
@krfricke I verified parameters in this PR succeed in the master. Can you try again with the same param? https://github.com/ray-project/ray/pull/15048

[2021-03-31 19:57] #14955 closed

[2021-03-31 20:14] #3700 closed

[2021-03-31 20:16] krfricke commented on #15016
Thanks, I'll rune both tests tomorrow again

[2021-03-31 21:49] rkooo567 commented on #14820
I am trying to reproduce with cluster utils. How many nodes & cpus are ideal?

[2021-03-31 21:49] rkooo567 commented on #14820
Or is it happening only when I use the real cluster?

[2021-03-31 21:58] burakbagdatli commented on #13794
I'm noticing the same problem. Executing ray.init() using a virtual environment makes the environment hang. I cannot even ctrl+c out of it. Killing raylet.exe from task manager is the only way to continue execution.

I don't know if anyone else has tried this but installing ray on the regular python installation works without venv.

[2021-03-31 22:02] simon-mo opened #15051 "[Serve] get_handle(..., missing_ok=True) behavior"
### What is the problem?

Currently, users can get the serve handle _for_ endpoints that's not registered. This behavior is supported because by the time users get the handle in some other backend's init method, the endpoint might be registered yet.

When a handle is retrieved with missing_ok flag, ServeClient skips the check for endpoint existence and just create a handle. Note that this still re

[2021-03-31 22:12] wuisawesome commented on #14820
Hmmm I only tried it with the very large cluster (1k nodes)

[2021-03-31 22:13] rkooo567 commented on #14820
This check will disappear with this PR btw. https://github.com/ray-project/ray/pull/15027/files

I can probably try running in a large cluster after this is merged.

[2021-03-31 22:38] #13994 closed

[2021-03-31 23:39] tbabej commented on #11287
Since #12613 was reverted in #15003, should this issue be re-opened?

[2021-03-31 23:41] wuisawesome commented on #11287
Yes, hopefully #15006 will let us turn on support for windows and linux first at least.

[2021-04-01 01:13] #9756 closed

[2021-04-01 01:21] tbabej commented on #14799
Turning on the debugging output, I can see the following:
[code]

Digging a little bit deeper, it looks like the culprit is not on the client side. Diving into the debugger, we can see that:

[code]

we're getting negative response over the gRPC channel to the initialization query.

[2021-04-01 02:25] GaspTO opened #15053 "Ray.init() - (raylet) Fatal Python error: PyThreadState_Get: no current thread"
Hi,
When I execute
`import ray
ray.init()`

There's some trouble with some threads that I can't understand what it is about.  Here's some short print of the problem.
![image](https://user-images.githubusercontent.com/47759921/113234238-cc960480-9298-11eb-8630-c3bd82136617.png)

Here are the logs of raylet
[raylet-1.err.txt](https://github.com/ray-project/ray/files/6240534/raylet-1.err.txt)
[raylet

[2021-04-01 02:42] mitar commented on #5019
Oh, when was this changed/removed?

[2021-04-01 02:47] mitar commented on #5240
I am unable to try latest master because I am lacking a migration guide: https://github.com/ray-project/ray/issues/14399

[2021-04-01 02:48] mitar commented on #5240
I am unable to check because I am lacking migration guide: https://github.com/ray-project/ray/issues/14399

[2021-04-01 05:17] RocketRider commented on #8616
I ran into this issue again. Is there any progress?
Could you add at some clear error that it is not supported?

[2021-04-01 07:06] DanielWicz commented on #7908
Also I would like to ask the same question, because in my case also the problem is present

[2021-04-01 07:28] rkooo567 commented on #12565
The fix must be included in 1.3 release (which will be release in 1~2 weeks)

[2021-04-01 07:30] rkooo567 commented on #7908
@DanielWicz are you in the public slack channel? I'd like to pair debugging to help you out if it is okay for you (the issue is a bit stale and there are too many scattered information).

[2021-04-01 07:53] yshvrdhn commented on #12565
When does this actually get hit ? If the PIDs go very large ? I am facing teh same issue if I try to run on say 50 actor instances it runs fine but if try to run on say 22000 actor instances it hits this issue.

[2021-04-01 08:54] Stefan-1313 opened #15058 "How to clear objects from the object store in ray?"
I am trying out the promising multiprocessing package `ray`. I have a problem I seem not be able to solve. My program runs fine the first time, but at a second run this Exception is raised on the `ray.put()` line:

    ObjectStoreFullError: Failed to put object ffffffffffffffffffffffffffffffffffffffff010000000c000000 in object store because it is full. Object size is 2151680255 bytes.
    The loca

[2021-04-01 09:01] Stefan-1313 commented on #13794
I can confirm.

On Windows, I have `Python 3.8.5` and a `venv` and installed ray using `pip install ray`.
When executing `ray.init()` it hangs (ctrl+c) is not working, only closing the console works. It prints the message showing the dashboard-address though.

Then I installed `miniconda` and updated to `Python 3.8.8` and created a conda environment. Then installed ray again using `pip install ray

[2021-04-01 10:11] Fabien-Couthouis commented on #14902
I ended up using [PolicyClient](https://docs.ray.io/en/master/rllib-env.html#external-application-clients).

[2021-04-01 10:11] #14902 closed

[2021-04-01 10:25] Stefan-1313 commented on #15058
I have tested also on a ubuntu machine with 8GB RAM. For this I used the `big_data_object` of 1GB.
I can confirm the issue also occurs on this machine.

The `ray memory` output:
[code]

I have to run the program in `Spyder` so that after execution of the program I can inspect the object store's memory using `ray memory`. If I run the program in `PyCharm` for example, `ray` is automatically termina

[2021-04-01 10:57] tbabej commented on #14799
The problem is resolved for me if I update the client version to the current master (by building wheels from the repo). The situation could be summarized as the 1.2.0 ray client silently failing if interacting with current dev build of the ray cluster (the examples in the docs use nightly builds).

[2021-04-01 11:58] #14894 closed

[2021-04-01 13:36] ssiegel95 commented on #14799
@tbabej Thank you for the analysis, very helpful. I'll give the nightly client and image a try today.

[2021-04-01 14:03] krfricke commented on #15013
Original streaming_shuffle.py now:

[code]

after adjusting this line:
[code]
 Running the module tests now

[2021-04-01 14:04] chenk008 opened #15061 "setproctitle break /proc/PID/environ"
### What is the problem?

Ray use setproctitle to change python worker process title . And setproctitle lib will clear /proc/PID/environ https://github.com/dvarrazzo/py-setproctitle#environment-variables

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python 3.6.8
OS: linux

### Reproduction (REQUIRED)

[code]

- [ ] I have verified my script runs in a clean e

[2021-04-01 14:06] krfricke commented on #15016
[code]

[2021-04-01 14:07] krfricke commented on #15016
[code]

[2021-04-01 14:19] krfricke commented on #15013
[code]

[code]

Do these logs seem ok?

[2021-04-01 14:21] astronauti opened #15062 "[rllib] Checkpoints and Evaluation with TD3"
When saving the checkpoint or doing an evaluation step rllib with the tf2 framework produces an error.

Ray version:
TF: 2.4.1
TFP: 0.12.1
TFE: 2.4.0
OS: linux-64 / centos/7.6.1810
### Error
#### Checkpointing
[code]

#### Evaluation
[code]

### Reproduction
[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.

- [ ] I have verified the issue also occurs wi

[2021-04-01 14:42] astronauti commented on #15062
@sven1977 @richardliaw

[2021-04-01 14:57] duburcqa commented on #8763
No, I still have this issue...

[2021-04-01 15:04] #14987 closed

[2021-04-01 16:32] amogkam commented on #14883
Is there someone working/assigned to this since this is a release blocker?

[2021-04-01 16:33] amogkam commented on #14941
@sven1977 @krfricke would you guys be able to take a look at this?

[2021-04-01 16:36] rkooo567 commented on #15013
This seems to be fine now. We might need to update some stuff, but I can do that from the next release.

[code]

Also, does it happen consistently?

[2021-04-01 16:38] rkooo567 commented on #15016
Hmm this looks not too bad, but there's something sneaky rn. Can you actually re-run it after picking this PR? https://github.com/ray-project/ray/pull/14925

[2021-04-01 16:45] AmeerHajAli commented on #14883
@ericl , do you know who at Ant is working on this?

[2021-04-01 16:53] edoakes opened #15067 "Unable to access root path of FastAPI ingress deployment"
https://github.com/ray-project/ray/pull/15041/files/41c6f81b798b36c2be9bdb35279d42201f8a3000#r605038771

[2021-04-01 17:30] ericl commented on #14883
I think it's blocked on the other fix, though that should be close to merging

[2021-04-01 17:30] ericl commented on #14883
https://github.com/ray-project/ray/pull/15049

[2021-04-01 17:39] #14983 closed

[2021-04-01 18:47] rkooo567 commented on #15058
I am taking a look at this now..

[2021-04-01 19:04] rkooo567 commented on #15058
The problem is that your remote function captures `big_data_object_ref `, and the ref from there is never removed. Note that when you do this type of thing

[code]

`big_data_object_ref` is seriliazed to the remote function definition (thus there's a permanant pointer).

Instead use this type of pattern;

[code]

(The difference is that now we pass `big_data_object_ref` instead of capturing it)

[2021-04-01 19:11] ssiegel95 commented on #14799
Success! Thanks @tbabej . Closing issue.

[2021-04-01 19:15] #10423 closed

[2021-04-01 19:26] ssiegel95 commented on #14799
One follow-up question. If I use a different namespace (deploy the operator into something other than namespace `ray`) I get the following messages from my port-forward when I try to run the exanple:

[code]
namespace stus has the listening services:

[code]

Is there something magical about doing all this within a namespace named `ray`?

[2021-04-01 19:51] tbabej commented on #14799
Not a ray maintainer, but for what it's worth the namespaces have different network interfaces, so if the service is exposed through a different namespace, port forwarding does not work. That's pure K8s though, nothing to do with Ray AFAIK.

With respect to this issue however, I don't think we should close it. It is certainly unintended behaviour that the older version of the client (1.2.0) cannot

[2021-04-01 20:06] Stefan-1313 commented on #15058
@rkooo567, Thank you so much! You made me very happy :)
I tried it and it worked. However, I have some comments which could be good for you to know and perhaps document (see bottom of this post)

First, I have a question about the solution:

I tried something similar, but slightly different (which didn't work obviously), namely:
@ray.remote
[code]

Why don't we have to use `ray.get()` in this cont

[2021-04-01 20:44] DmitriGekhtman commented on #14799
Added a note to the docs in the above PR.
Current master version of Ray adds an error message when mismatched Ray versions are used.

[2021-04-01 21:16] rkooo567 commented on #15058
@Stefan-1313 Thanks for the valuable feedback :)

When the object ref is passed to the remote function, they are automatically `ray.get`'ed. If you'd like to call ray.get inside a remote function, then pass the argument inside a list of dictionary.

[code]

We've seen a similar issue from ipython too. Unfortunately, fixing it is not really trivial. I definitely agree it'll be great to have a doc!

[2021-04-01 21:21] pdames commented on #8967
FYI, CloudWatch integration with Ray is included in the AMIs released by Amazon at https://github.com/amzn/amazon-ray.

Launching your cluster from one of these AMIs is currently recommended over installing the CloudWatch agent either out-of-band or as part of `ray up` since this process may take ~15-60 minutes on the latest Ubuntu Deep Learning AMIs (due to waiting for dpkg locks to be released b

[2021-04-01 21:32] rkooo567 commented on #15053
What's your OS? Also what virtual env do you use? do you have anything special about your environment? (I've never seen this issue before)

[2021-04-01 22:08] #14799 closed

[2021-04-01 22:43] BlaineHerring opened #15073 "Ray initialization error - "Windows fatal exception: access violation""
Any time I run ray.init(), my jupyter kernel crashes and most of the time I receive the error:

Windows fatal exception: access violation

When I originally installed the package and ran a tutorial, about 5-6 Windows Firewall prompts appeared but I allowed all of them on public and private networks.

Any idea of how to fix this?

[2021-04-01 22:50] #12324 closed

[2021-04-02 00:16] stephanie-wang opened #15076 "[core] Actor restart does not work when owner dies and constructor task has dependencies"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 2.0dev

If an actor's parent dies and it has an argument in the object store, automatic restart hangs.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external li

[2021-04-02 00:17] stephanie-wang commented on #15076
I think the issue may have to do with the fact that the GCS is resubmitting the child actor's constructor task with the same ID as before, resulting in duplicate tasks in the raylet's queue (if the first version has not yet been canceled).

[2021-04-02 00:20] #14960 closed

[2021-04-02 00:28] stephanie-wang opened #15077 "[core] Raylet crashes during task retry. Check failed: overflow_cpu_instances[i] == 0 Should not be overflow"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 2.0dev

If a task submits another task and then fails, there is an assertion check that crashes the raylet.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no extern

[2021-04-02 00:28] stephanie-wang commented on #15077
@wuisawesome @ericl, probably a regression with the new scheduler. Any ideas?

[2021-04-02 00:30] richardlin047 opened #15078 "[autoscaler] KeyError on Ray Azure autoscaler example"
### What is the problem?
Tried following the autoscaler Azure example here: https://docs.ray.io/en/releases-1.2.0/cluster/cloud.html?highlight=azure#aws-gcp-azure
Calling `ray up ray/python/ray/autoscaler/azure/example-full.yaml` results in error:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.2.0
Python 3.8.5
MacOSX 10.15.7

### Reproduction (RE

[2021-04-02 00:32] wuisawesome commented on #15077
Yeah, this is probably #14775

[2021-04-02 00:36] ericl commented on #15077
Should this be a release blocker?

On Thu, Apr 1, 2021, 5:32 PM Alex Wu ***@***.***> wrote:

[2021-04-02 00:49] wuisawesome commented on #15077
Maybe... The bug has always been in the new scheduler, but it was exacerbated by object spilling (https://github.com/ray-project/ray/blob/master/src/ray/core_worker/core_worker.cc#L742)

[2021-04-02 01:11] nlztrk opened #15079 "[rllib] Huge performance difference between training and evaluation"
### What is the problem?
During the training phase the agent seems to have completely learned to solve the environment. But when I restore it and run a simple evaluation run, I see very low episode rewards.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Tried Ray 0.9.0, 1.2.0 and 2.0.0
Python 3.7
Pytorch 1.7.1
Tensorflow 2.4.1

### Reproduction (REQUIRED)

Si

[2021-04-02 01:27] #15079 closed

[2021-04-02 01:29] nlztrk commented on #15079
That was a mistake I made while implementing it quickly. I forgot to set the name of the observation variable correctly.

[2021-04-02 02:28] bcahlit opened #15080 "[rllib] The actor or task with ID [] cannot be scheduled right now. when use remote in multiagent env."
### What is the problem?
when I use remote to running singleagent in multiagent it can‘t schedule. but it can schedule in ray 1.2

error:
The actor or task with ID ffffffffffffffff730e7abe12c4e3aebbac297601000000 cannot be scheduled right now. It requires {CPU_group_9c8e75ae7839805e9848654c24dc681e: 1.000000} for placement, but this node only has remaining {14.000000/16.000000 CPU, 9.317253 GiB/9.

[2021-04-02 02:49] wuisawesome commented on #14759
Closed by #15049

[2021-04-02 02:49] #14759 closed

[2021-04-02 02:50] wuisawesome commented on #14875
Can y'all confirm #15049  fixed this issue then close it?

[2021-04-02 02:50] wuisawesome commented on #14883
#15049 is merged now. Please confirm if it's fixed.

[2021-04-02 02:54] TianZhengjie-lxc opened #15081 "[windows] Distributed Cluster on Windows Support"
My PC is win10, I use pycharm,how to connect those 2 PCs via ray?
I want to do a large computing works by 2 PCs or more.
The 2 PCs in the same route.

[2021-04-02 03:08] ericl commented on #14883
I have run the above repro script 10x in a row and always get in ray status:
[code]

So it seems to be fixed. Thanks @AmeerHajAli for surfacing this in the first place!

[2021-04-02 03:08] #14883 closed

[2021-04-02 04:36] rkooo567 commented on #15077
I've seen this before when I was working on the hackathon project

[2021-04-02 04:36] #15058 closed

[2021-04-02 04:55] richardlin047 commented on #13711
Adding `sudo usermod -aG docker $USER; sleep 10` helped fix the Docker permission error. I then get this error:
[code]

I've tried removing the setup_commands, but still the same error.

[2021-04-02 05:32] simon-mo opened #15085 "[Serve] `serve shutdown` doesn't clean up endpoints"
### What is the problem?
Serve shutdown should clean up all the instances and delete the checkpoint. Right now if you run `serve shutdown` and create the endpoints/backends again, the endpoints/backends appear already taken.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no

[2021-04-02 05:43] simon-mo commented on #15085
hmm weird because we do have this
[code]

maybe just add a integration test for this.

[2021-04-02 06:19] simon-mo opened #15086 "[Serve] create_endpoint fails with HeadOnly"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.2.0 and master

When Serve started with HeadOnly, the default. Create endpoint will fail because it still want to check the route exist in all http server, resulting errors like this
[code]

https://github.com/ray-project/ray/blob/b87fc1be5505c577f01807fd342e0cdb2e129081/python/ray/

[2021-04-02 06:35] iycheng commented on #14752
Do you want to remove the system protobuf? Bazel should be able to take care of them automatically.

[2021-04-02 08:37] Stefan-1313 commented on #15058
@rkooo567, I will try to make a PR to add the information somewhere in the near future.
Does the `ray` in combination with `IPython` perks only happen with respect to the object store. Or does it affect other parts of `ray` as well? Because that determines what is a good place in the docs.

[2021-04-02 15:18] MedhaviMonish commented on #7645
businesscazz,  can you show what the error is when you use

pip uninstall tree
pip uninstall dm-tree

pip install --upgrade ray
pip install dm-tree

because  i also just started rllib yesterday and this problem was fixed with above code

[2021-04-02 15:24] marho13 opened #15089 "CarRacing environment no longer functional in rllib?"
### The problem?
Hi, i was working on a paper related to RL and attempting to run Rays RLLib on the CarRacing environment.
When i attempted to run rllib with the CarRacing environment i noticed something strange, namely that the length of the episodes ended up becoming 2 time steps on average after a few epochs of training.
It seems to exploit a bug

I also tested that ray worked with other enviro

[2021-04-02 17:01] #14994 closed

[2021-04-02 17:01] #15067 closed

[2021-04-02 17:13] Phirefly9 commented on #13589
I've been fighting this this morning and may have found something that may help:
the operator hardcodes a redis password here
https://github.com/ray-project/ray/blob/master/python/ray/ray_operator/operator.py#L77

[2021-04-02 17:25] edoakes commented on #12562
@clay4444 I left some comments in the doc but at a high level it looks reasonable. Are you planning to implement this soon if the API proposal is approved?

[2021-04-02 18:57] #14996 closed

[2021-04-02 18:58] ck37 commented on #13606
I've also noticed this. I have TMPDIR set to be $HOME/tmp, but Ray still writes to /tmp/me :(

[2021-04-02 18:59] DmitriGekhtman commented on #13589
This is indeed an issue with the operator. I've raised the priority label -- we need to provide a way to configure this via a Kubernetes secret.

[2021-04-02 19:58] krfricke commented on #15013
Only ran each command once. I'll run this test again with the final RC and will let you know. Thanks for looking into this!

[2021-04-02 19:58] #15013 closed

[2021-04-02 21:10] clarkzinzow opened #15094 "[dask-on-ray] Update Dask-on-Ray scheduler to be compatible with concurrent.futures refactor."
Dask [recently refactored](https://github.com/dask/dask/commit/ad0e5d140dfc934d94583f8ce50d6b00a04cea38) their local scheduler to be based on `concurrent.futures`, breaking some our dependence on changed/removed internal Dask APIs. We need to update the Dask-on-Ray scheduler to:

1. [P0] Either (a) be compatible with the `concurrent.futures`-based API, or (b) copy the internal APIs we were relying

[2021-04-02 21:19] DmitriGekhtman opened #15095 "[autoscaler][kubernetes] Cluster launcher broken due to ray:nightly Kubernetes import error"
### What is the problem?

Autoscaler running in `ray-ml:nightly` image on Kubernetes fails, with a Kubernetes import error.

[code]

However, directly `kubectl exec`ing into the pod and open a Python session, `from kubernetes import client` works fine.

Also, this issue does not arise for the `rayproject/ray:nightly` image.

Also, older `ray-ml` images don't have this problem --
`rayproject/ray-ml

[2021-04-02 21:26] DmitriGekhtman commented on #15095
See discussion here:
https://discuss.ray.io/t/autoscaler-on-k8s-import-client-error/1529/7

[2021-04-02 21:27] DmitriGekhtman commented on #15095
@ijrsvt do you know what might cause an issue like this?

[2021-04-02 21:35] DmitriGekhtman commented on #15095
Correction -- this affects the default `rayproject/ray:nightly` image as well.

[2021-04-02 21:44] DmitriGekhtman commented on #15095
Not sure why I didn't see this earlier -- but good news is that the working image mentioned above is only three days old, so I can start bisecting.

[2021-04-02 21:45] simon-mo opened #15096 "KeyName doesn't work with multi-node type autoscaler."
If user supplied ssh_private_key, currently ray autoscaler looks for KeyName in config["head_node"], but not the node type field.  Leading to a cryptic error message:
`KeyName` missing for head node.

i.e.
[code]

[code]

[2021-04-02 21:51] DmitriGekhtman commented on #15096
This a subset of this issue:
https://github.com/ray-project/ray/issues/14856

Let's keep this issue open though to keep track of this problem in particular.

[2021-04-02 21:55] DmitriGekhtman commented on #15096
In the meantime, specify the KeyName under the incompletely deprecated head_node and worker_nodes fields

[2021-04-02 21:55] #9823 closed

[2021-04-02 21:57] rkooo567 commented on #15094
After 1, will this work with the previous dask versions? Are we going to need diverged implementation for different versions?

[2021-04-02 22:00] iycheng opened #15099 "GCS test is flaky"
### What is the problem?
:gcs_server_test is flaky
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the cod

[2021-04-02 22:01] rkooo567 commented on #15099
cc @ffbin Can you take a look at this?

[2021-04-02 22:13] ijrsvt commented on #15095
Hmm, interesting. I just pulled `rayproject/ray:nightly` (`ecb94b`) and ran `python -c "from kubernetes import client"` and did not see any issues.

[2021-04-02 22:15] DmitriGekhtman commented on #15095
Yeah, for some reason the issue only arises when you run this with the Ray autoscaler... so downstream of Ray start

[2021-04-02 22:16] ijrsvt commented on #15095
`sys.path` has also not changed between the two

[2021-04-02 22:18] ijrsvt commented on #15095
Are you seeing this on the operator in particular?

[2021-04-02 22:20] DmitriGekhtman commented on #15095
Right now seeing with cluster launcher.

[2021-04-02 22:23] ijrsvt commented on #15095
But on which node is the import error arising?

[2021-04-02 22:23] DmitriGekhtman commented on #15095
the head

[2021-04-02 23:07] DmitriGekhtman commented on #15095
I bisected it down to this commit
https://github.com/ray-project/ray/commit/e02bd990d89e24e5df1e563deed7c086b17e3740
cc @AmeerHajAli

[2021-04-02 23:10] DmitriGekhtman commented on #15095
I'm betting the Operator is unaffected -- going to do a quick test..

[2021-04-02 23:16] ijrsvt commented on #15095
Ahh yeah, I just added a print statement to the line before `from kubernetes import client`, and it looks like the 'kubernetes' module being imported is:
[code]

[2021-04-02 23:17] DmitriGekhtman commented on #15095
Confirming operator is unaffected..

[2021-04-02 23:17] DmitriGekhtman commented on #15095
This makes sense.

[2021-04-02 23:19] DmitriGekhtman commented on #15095
Aah, yeah should have pasted the stacktrace from discuss.ray.io
[code]

[2021-04-02 23:25] ijrsvt commented on #15095
Ah, totally missed that part!

[2021-04-02 23:44] clarkzinzow commented on #15094
1(b) would be compatible with both, 1(a) would only be compatible with newer Dask versions. I personally think we should go with 1(b).

[2021-04-03 00:03] rkooo567 commented on #15094
Agree 1(b) sounds better (especially, when there's no special reason to be compatible to their private APIs). Do you happen to know what's the implication? For example, why did they decide to use concurrent.futures based impl instead? Is there performance difference or sth like that?

[2021-04-03 00:26] clarkzinzow commented on #15094
@rkooo567 The concurrent.futures scheduler API was originally added by a user [in order to have Dask execute tasks as serverless cloud functions](https://github.com/dask/dask/issues/6220), and was adopted generically given that [it offers a much nicer scheduler API](https://github.com/dask/dask/issues/6220#issuecomment-630211954). There were concerns around a potential performance _regression_, bu

[2021-04-03 11:23] pierreia commented on #14697
Hi, thank you for your answer, did you manage to solve this error?

[2021-04-03 15:43] max0x7ba opened #15106 "[tune] progress.csv has data rows but no header - breaks restore"
### What is the problem?
progress.csv has data rows but no header when a trial is terminated before reporting anything and then restarted.

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray-1.2.0
torch-1.8.1
Ubuntu 20.04 LTS

### Reproduction (REQUIRED)
`CSVLogger` constructor does:

[code]

Instead, it should do:
[code]

[2021-04-03 16:06] max0x7ba commented on #15106
Thinking more about it, `CSVLogger` shouldn't create an empty progress.csv at all. Rather only create it upon first report.

[2021-04-03 18:12] smorad commented on #14875
Working great, thanks!

[2021-04-03 18:12] #14875 closed

[2021-04-03 19:22] richardliaw commented on #14857
cc @AmeerHajAli

[2021-04-03 19:43] DanielWicz commented on #7908
I'm not, but I didn't know about your Slack's channel. So I'll subscribe meanwhile. Nevertheless, I've solved the problem with issue #9504.

[2021-04-03 20:08] deetungsten commented on #14697
Unfortunately no, I tried a bunch of things and it did not work. I have a hunch its either gRPC or boringSSL that's breaking something. I'm leaning towards boringSSL and tried to make gRPC build with OpenSSL but my bazel skills is not good enough to make it work.

[2021-04-03 21:10] mvindiola1 commented on #15062
@astronauti Will you check this with the nightly wheels?  This should already be fixed in this commit: #14119

[2021-04-04 02:54] syuntoku14 opened #15110 "Wrong implementation in CQL? [rllib]"
### What is the problem?

Wrong implementation in CQL?
https://github.com/ray-project/ray/blob/e0ed549006a25523b4fdbb3df3e289544114527b/rllib/agents/cql/cql_torch_policy.py#L186

The random density in this line should be the logp of the random action.
So I think it should be modified as:
[code]

[2021-04-04 06:31] chenk008 commented on #14077
After study some potential solutions, I think I found a ideal way to support this feature.

- To start/stop every ray worker in a single container, use podman/docker ; worker container's entrypoint is java_worker_command or python_worker_command.
- To support directory sharing, we can use volume (aka linux bind mount) ;  mount tmp_dir into every ray worker container, ray worker can connect to rayl

[2021-04-04 06:53] #15099 closed

[2021-04-04 08:59] #12226 closed

[2021-04-04 12:17] dickren123 opened #15113 "What's the best practice of integrating customized environment on specific port?"
[Rllib]

Hi, I am new to Rllib and want to get a best practice of this scenario:  I package a gaming environment (C++) into a HTTP service (e.g., on port 10000) which can be integrated into gym interfaces. (e.g., in the 'step' method calling this interface to obtain the updated observations). I want to know how to realize multi environment in such scenario? Do I have to create multiple environment

[2021-04-04 22:30] #15095 closed

[2021-04-05 01:38] nyxynyx opened #15114 "Use only 1 of 2 GPU when connecting node to cluster"
When connecting a node to an existing Ray cluster, is it possible to specify which GPU device should be used to process jobs submitted to the cluster?

Running this command

    ray start --address=<address>

seems to make all GPU devices on the node available to the cluster. I am looking for a way to only use GPU 1, and not GPU 0.

Thanks

[2021-04-05 16:24] #14907 closed

[2021-04-05 17:26] #14657 closed

[2021-04-05 18:37] #14832 closed

[2021-04-05 18:53] #14820 closed

[2021-04-05 18:56] stephanie-wang commented on #15077
Probably duplicate of #14775, but @wuisawesome should confirm.

[2021-04-05 18:56] #15077 closed

[2021-04-05 18:57] #14646 closed

[2021-04-05 20:38] sonnysideup commented on #15021
I just noticed there's a 1.3 release on Docker hub but no GitHub release w/ notes. How exactly does this release process work?

[2021-04-05 20:49] amogkam commented on #15021
@sonnysideup the release is not official until the Github release is made and the new wheels are published on Pypi. I think the 1.3 on Docker hub is using this branch? cc @ijrsvt can you confirm how this works with the Ray Docker images?

[2021-04-05 20:56] ijrsvt commented on #15021
The `1.3` images are built automatically with each commit to the 'release branch'. The `latest` tagged images do not alias to `1.3` until the GitHub release happens.

[2021-04-05 20:57] #14255 closed

[2021-04-05 21:54] ericl opened #15125 "Unskip test_dependency_torch [this is a critical test]"
Followup for https://github.com/ray-project/ray/pull/15123

[2021-04-05 21:54] ericl commented on #15125
@sven1977 could you followup when you get back?

[2021-04-05 22:22] richardliaw commented on #15114
CUDA_VISIBLE_DEVICES=1 ray start should work for you.

[2021-04-05 22:27] richardliaw opened #15126 "[tune] Support resolving grid search variables before random samples"
Right now, grid search variables are resolved before the random samples are generated.

If we could toggle the order of resolution, we could support this: https://discuss.ray.io/t/is-there-a-way-to-run-the-same-hyperparameter-configuration-multiple-times/1412/12

[2021-04-05 22:28] richardliaw commented on #15126
cc @krfricke for thoughts or suggestions!

[2021-04-06 00:31] athenawisdoms opened #15127 "[tune] How to get summary table after tune.run() has finished?"
When `tune.run()` has finished running, is it possible to grab a DataFrame or table of the table that is frequently printed out during training?

This table contains the hyperparameters of all the trials and some metrics.

[code]

Or another summary table that shows some overview of the entire Tune run. I will be using this summary data for automatically sending a Slack notification.

[2021-04-06 00:33] micahtyong commented on #13704
Hi @srikanthgadadasu, we're thinking of exposing three new functions from the `ActorPool` class that can satisfy your use case:
- `pop()`: removes the first idle actor from a pool
- `append()`: adds an actor to a pool
- `has_free()`: returns whether or not an idle actor exists in a pool

To use this API, you could do something like the following:
[code]
Let us know if you have thoughts or concerns

[2021-04-06 00:58] #15094 closed

[2021-04-06 02:48] nyxynyx commented on #15114
Thanks!

[2021-04-06 02:48] #15114 closed

[2021-04-06 02:56] DmitriGekhtman opened #15128 "[kubernetes][autoscaler] Missed heartbeat warnings"
### What is the problem?

I submit a bunch of tasks with Ray client to a Ray cluster on K8s managed by the K8s operator.
The connection is from my machine to the Ray head pod.

I'm met with a wall of warnings about missing heartbeats, see below
The tasks ultimately execute as expected.

I'm submitting 15 1-CPU tasks, to a Ray cluster with 1-CPU head and worker pods,
minWorkers=0, maxWorkers big.

[2021-04-06 04:52] eicnix opened #15129 "[tune] Sync function is only called once"
### What is the problem?
Custom sync function to sync checkpoints is only called at the beginning of tune and never again.

* Windows 10
* Python 3.7
* Ray 1.20

### Reproduction (REQUIRED)

[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.htm

[2021-04-06 07:51] krfricke commented on #15129
I cannot reproduce this issue on MacOS, output (with `verbose=0`):

[code]

etc.

I don't see why this behavior should be different on Windows, but we might want to try to reproduce it there.

[2021-04-06 08:09] astronauti commented on #15062
Thanks. With the nightly it is working 👍

[2021-04-06 08:09] #15062 closed

[2021-04-06 08:23] eicnix commented on #15129
Thanks for the heads up. I also tried the code under WSL and it works. So this seems to be indeed a Windows issue.

[2021-04-06 09:44] ashione opened #15130 "Metric tag keys type inference (Tuple To String)"
### What is the problem?
I got some exceptions when the following code is used:
[code]
Actually, I found Optional type inference in Metric constructor:
[code]
So that python interpreter may note ('jobName') as `String`.

Users must use this
[code]
As far as I concerned, we'd make a better implementation for that, something like converting a string parameter to tuple with one item by default ( I ju

[2021-04-06 09:45] ashione commented on #15130
@rkooo567 @zhongchun  @jovany-wang  Any suggestions about this issue?

[2021-04-06 09:52] harryge00 commented on #13515
is it possible to generate a DAG for debugging?
For example: https://docs.ray.io/en/latest/advanced.html#nested-remote-functions:
[code]

Then we call a `ray.drawgraph(h)`, it will generate a DAG from `h -> g -> f`

[2021-04-06 10:19] #7927 closed

[2021-04-06 10:24] Nishanthml opened #15131 "ConnectionResetError: [Errno 54] Connection reset by peer"
**command**: ray start --head --port=6379
**OS version** : macOS Catalina 10.15.7
**Python version**: 3.7
**Ray version**: 1.2.0

I am trying to start the ray in my local system inside anaconda environment. I am facing the below error, could you please help me out.

`Traceback (most recent call last):
  File "/Users/nisml/anaconda3/envs/raytest/lib/python3.7/site-packages/redis/connection.py", lin

[2021-04-06 12:49] krfricke commented on #15016
Still running into object size memory issues after picking the PR and adjusting the parameters:

[code]

Do I need to allocate more disk space or should the parameters be changed further?

[2021-04-06 14:36] edoakes opened #15134 "[serve] Support @serve.deployment with no args"

[2021-04-06 14:45] edoakes opened #15135 "[serve] Make HTTP proxies a normal Serve deployment"
The behavior we want w/ the HTTP proxies is quite similar to other deployments and this would allow us to deduplicate code and dogfood deployments a bit. We could also get some benefits such as the ability to do rolling updates for config and argument changes (e.g., route table updates, changing the port the HTTP server is listening on or adding a middleware).

The only thing blocking this at the

[2021-04-06 14:47] edoakes opened #15136 "[serve] Support rolling updates for config changes"
Now that we do rolling updates for code changes, we should also consider doing the same for config changes. These may be very slow (e.g., if it loads a new heavyweight model) which could cause downtime if all replicas do it simultaneously.

This should be straightforward to implement: just add another state and relevant transitions for `ReplicaState.UPDATING_CONFIG`.

[2021-04-06 14:51] #13109 closed

[2021-04-06 14:52] #13041 closed

[2021-04-06 14:52] #13042 closed

[2021-04-06 14:52] #13043 closed

[2021-04-06 14:52] #12626 closed

[2021-04-06 14:52] #12731 closed

[2021-04-06 14:52] #12887 closed

[2021-04-06 14:54] edoakes commented on #12593
@simon-mo this is fixed, right?

[2021-04-06 14:54] #12593 closed

[2021-04-06 14:54] #12624 closed

[2021-04-06 15:19] mvindiola1 commented on #15110
@syuntoku14
The name of the variable is misleading but the change you proposed will not make any difference in the performance of the CQL. curr_actions.shape[-1] and rand_actions.shape[-1] will be exactly the same because that is just the number of actions that can be taken from the environment.

There is a legitimate in CQL right now that I will post in a seperate comment.

[2021-04-06 15:24] ssykiotis opened #15137 "[rllib] dqn torch policy incorrect support probabilities for num_atoms>1"
In rllib's DQN Torch policy implementation, I had an issue where all the q-values were set to the same value. After some digging and debugging, I figured out that the issue lies in the softmax function in dqn_torch_policy.py, line 360. In the nn.functional.softmax() call, dim=-1 is required for the code to run properly if num_atoms>1. Otherwise all probabilities are set to 1.

Software versions:
R

[2021-04-06 15:26] mvindiola1 commented on #15110
CQL as it exists in master right now is not training because no data is being saved in the replay buffer.

This is coming from here
https://github.com/ray-project/ray/blob/64cc092959264cea42099690f13eceb6036e34d8/rllib/agents/cql/cql.py#L63-L71

https://github.com/ray-project/ray/blob/64cc092959264cea42099690f13eceb6036e34d8/rllib/agents/cql/cql.py#L98-L100

There are a couple other little things

[2021-04-06 15:32] syuntoku14 commented on #15110
I assumed they are different but I understand that they are the same as you explained. Thank you for the response!

[2021-04-06 15:32] #15110 closed

[2021-04-06 15:33] krfricke commented on #15126
I've seen this request before, and generally I agree that it makes sense to support this. I remember stumbling upon this when refactoring the search space API.
So the reasoning here would be that we only want the grid search variable to vary between trials, and all other resolved variables should remain constant.

Do we want this to be configurable (with an en environment variable or so)? This is

[2021-04-06 15:41] krfricke commented on #14941
Sorry, this slipped.

It seems there is some resource issue (might be related to the resource requests). We ahve 1.9 MB of these logs:

[code]

I'll look into it

[2021-04-06 15:46] mvindiola1 opened #15138 "[RLlib][CQL] No samples in sample batch"
### What is the problem?
Ray version: nightly

Perhaps the Ray team is aware of this but just in case they are not.
CQL as it exists in master right now is not saving data in the replay buffer and so is not training the policy.

This is coming from here
https://github.com/ray-project/ray/blob/64cc092959264cea42099690f13eceb6036e34d8/rllib/agents/cql/cql.py#L63-L71

https://github.com/ray-project/r

[2021-04-06 15:47] krfricke commented on #14941
My current guess is that the driver requires its own CPU and thus that 8 CPUs are not enough to run 8 trials

[2021-04-06 16:04] krfricke commented on #14941
Confirmed it works when starting ray with `num_cpus=9` on the same instance.

Now I'm running into these:

[code]

cc @sven1977

[2021-04-06 16:23] amogkam commented on #14941
@krfricke for driver requiring its own CPU, is that an RLlib specific thing? Otherwise shouldn't only actors or tasks actually reserve CPUs with Ray?

[2021-04-06 16:33] griff4692 commented on #13483
Hi I just tried this out and was getting timeout errors with wandb unfortunately.

[2021-04-06 17:10] pvbhanuteja opened #15140 "docker run opions isnt working on aws autoscaling"
### What is the problem?
tried port mapping using     run_options: ["--publish 8265:8265"]  looks like the ports are not getting mapped

*Ray version and other system information (Python version, TensorFlow version, OS):*
2.0.dev
### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have *

[2021-04-06 17:12] rkooo567 opened #15141 "[Core] Periodical runner can cause heap-use-after-free"
### What is the problem?

https://github.com/ray-project/ray/blob/64cc092959264cea42099690f13eceb6036e34d8/src/ray/common/asio/periodical_runner.cc#L24

The destructor calls timer->cancel, which is a shared pointer. But the timer uses the io_service, which is not a shared pointer. That says if the io service is destructed before the PeriodicalRunner class is destructed, it can cause `heap-use-afte

[2021-04-06 17:16] rkooo567 commented on #15141
@iycheng Do you think we should fix this? It looks like it won't be a problem when the periodical runner is constructed after io service (which is a common case)?

[2021-04-06 17:20] clarkzinzow commented on #15141
Given that the periodical runner requires an IO context upon construction, is this an actual issue?

[2021-04-06 18:44] rkooo567 commented on #15141
It seems like this can happen just by this kind of situation;
[code]

If io_service_ is above the periodic runner, it is fine, but if periodic runner is above io_service, it is not. I can imagine this type of mistake can easily happen.

[2021-04-06 18:55] rkooo567 commented on #15016
@krfricke Can you make the `SAMPLING_RATE_PER_SECOND` and `BATCH_SIZE` half of the one in the PR? (50000 and 500 I think).

[2021-04-06 19:18] mvindiola1 commented on #15138
@michaelzhiluo Looking at your pull request from before maybe I am misunderstanding how this should be working and there is not a problem here?

[2021-04-06 19:47] jaidhyani commented on #11991
Also having this problem.

[2021-04-06 20:59] ijrsvt opened #15147 "[autoscaler] Simplify Custom ObjectStore Size"
### Describe your feature request
If I want to set the Object Store size when using the Ray Cluster Launcher with Docker, I need to do 3 things:
1. Add `--object-store-memory=XXXXXX` to my `head_start_ray_commands`
2. Add `--shm-size=XXXX` to `docker::run_options`
3. I Need to specify `docker::disable_shm_size_detection` to True

(3) Is addressed by #14913, but it would be great if I could specify

[2021-04-06 20:59] ijrsvt commented on #15147
cc @jennakwon06

[2021-04-06 21:20] edoakes opened #15149 "[serve] API to list deployments"

[2021-04-06 21:55] michaelzhiluo commented on #15138
CQL is an offline RL algorithm, and thus, there should be no samples added to the replay buffer for training. I think if you want offline dataset initialization + online accumulation for replay buffer, what you proposed is the way to go. CQL has been benchmarked on D4RL. This line of code adds the dataset to the replay buffer: https://github.com/ray-project/ray/blob/master/rllib/agents/cql/cql.py#

[2021-04-06 21:58] wuisawesome opened #15150 "[metrics] Custom sum metrics have type comment "gauge""
### What is the problem?

When a custom sum metric is created (via `metric_defs.h`), the corresponding comment in prometheus is type "gauge".

The metric appears to work properly though.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to re

[2021-04-06 21:59] wuisawesome commented on #15150
cc @rkooo567

[2021-04-06 22:27] nyxynyx opened #15153 "Is 1 Gigabit Ethernet Sufficient Bandwidth for Multiple (4) Nodes?"
How do we plan the network capacity needed to run Ray/Tune distributed training of a model for 4 nodes? Is it sufficient to use the regular 1 gigabit ethernet connections to connect the nodes together?

Or will gigabit ethernet bottleneck training for this setup and instead require 10GbE, and higher?

[2021-04-06 22:28] mvindiola1 commented on #15138
Right of course I had just copied the config in test and started running not thinking about adding in the offline dataset. I guess I am wondering now if it makes sense to add a check in the NoOpReplayBuffer to make sure it is not empty. As it is now it is perfectly happy to run forever with no data at all and a user might not realize that.

[2021-04-06 22:29] richardliaw commented on #15153
How do you plan to use the distributed training? Is it 1 model per node?

[2021-04-06 22:30] nyxynyx commented on #15153
@richardliaw 1 model across 4 nodes.

If 1 gigabit network is not sufficient, then 1 model per node.

[2021-04-06 22:32] richardliaw commented on #15153
I think 1 Gb connection across nodes seems quite slow if you plan to do model-parallel training. However, it is still usable. Also, if you're doing 1 model across 4 nodes, the performance characteristics doesn't seem particularly relevant to Ray right (since you're probably using NCCL to do cross-node communication)?

[2021-04-06 22:37] richardliaw commented on #15126
I think it would be just a parameter like `BasicVariantGenerator(resolve_order="grid-random" | "random-grid")`. I don't think we need to support this anywhere else? though not sure.

[2021-04-06 22:45] nyxynyx commented on #15153
@richardliaw Good point, thanks!

Is 1 Gb for 4 nodes to run 1 model per node generally considered insufficient?

For example, if the model is 1 GB, the training/validation data is 20 GB, and training takes about 1 hour per trial, can we say that the initial transfer of 21 GB of data at 100 MB/s will take about 3.5 mins per node, and a total of 10 mins for the first epoch to start on all 4 nodes i

[2021-04-06 23:39] franklsf95 commented on #14788
I just tried again. The C++ crash does not happen anymore. However, with 6GB object store memory (which is enough for one mapper output, so the tasks should be able to go through), the system deadlocks with the following output:

[code]

When I use a larger object store memory size, e.g. 8GB, the program finishes normally.

[2021-04-06 23:45] franklsf95 commented on #14948
I just tried again and got this error repeatedly:

[code]

Checking S3, the objects are spilled as expected, but it seems the restoration failed.

[2021-04-07 00:14] ricsonc opened #15156 "[tune] ConcurrencyLimiter doesn't work with BasicVariantGenerator."
### What is the problem?

Ray version: 2.0.0.dev0
Python version 3.8

### Reproduction (REQUIRED)

`tune.suggest.ConcurrencyLimiter(tune.suggest.basic_variant.BasicVariantGenerator(), max_concurrent=1)
`

[code]
- [x ] I have verified my script runs in a clean environment and reproduces the issue.
- [x ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/i

[2021-04-07 00:25] #15138 closed

[2021-04-07 01:16] DmitriGekhtman opened #15158 "[dask-on-ray][client] `ray_dask_get` return ClientObjectRefs with Ray Client"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

The `ray_dask_get` scheduler returns `ClientObjectRef`s with Ray Client instead of actual values.
The likely solution is to modify checks for `ObjectRef`s in the Ray-on-Dask code to also check for `ClientObjectRef`s as well, see e.g.
https://github.com/ray-project/ray/blob/2274a944533973

[2021-04-07 01:37] DmitriGekhtman opened #15159 "[rllib][ray client] Rock paper scissors with Ray client"
### What is the problem?

The rllib rock-paper-scissors multi-agent example currently fails with Ray client due to missing support for `ray.get_gpu_ids()`
https://github.com/ray-project/ray/blob/master/rllib/examples/rock_paper_scissors_multiagent.py
https://github.com/ray-project/ray/issues/15010

Once `ray.get_gpu_ids()` support is added, the success of `rock_paper_scissors_multiagent.py` exampl

[2021-04-07 01:40] deetungsten commented on #14697
@pierreia I tried everything with no luck. From building bazel from source (3 and 4) to changing all sorts bazel setup. However, I managed to make it work with Rosetta. I swear I tried this over 10 times a month ago but for some reason it works now. The downside is that you won't get the tensorflow acceleration but it still runs a bit faster than bare intel CPU. I did the following

1. Open termin

[2021-04-07 01:45] DmitriGekhtman opened #15160 "[dask-on-ray][test][ray-client] Check for compatibility with client in existing Dask-on-Ray tests"
### Describe your feature request

Modify existing Dask on Ray tests to run with Ray client connections in addition to standard Ray connections.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-07 03:42] laphang opened #15162 "[rllib] test reward much lower than training reward on parametric DQN"
### What is the problem?

I slightly modified the parametric cartpole example to load back and evaluate the trained model, but for DQNs I get much smaller test rewards compared to training rewards. (For PPO, I get test rewards of 200 as expected).

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray 1.1.0, Python 3.6.13, TF 2.1.3, linux

### Reproductio

[2021-04-07 05:09] EvgeniiTitov opened #15165 "Ray dies without a proper error message - "Killed", might have to do with pandas"
Hi,

I have a question, please.

**A bit of context:** I am working on an ETL like pipeline: I download a bunch of CSV files from a s3 bucket, read them, concat into 2 pandas dataframes - all of that is done with plain multiprocessing for now. For some entries in the first dataframe I want to find the best match from the second one based on certain features - KNN.

**How I use ray**: I have a func

[2021-04-07 07:56] Leo-xh commented on #9047
It seems this way fail when using pytorch, do you know why?

[2021-04-07 08:39] #15140 closed

[2021-04-07 09:16] sven1977 opened #15166 "[RLlib] When `use_lstm=True` and `vf_share_layers=False`, layers for the value net and the policy net are still shared."
When `use_lstm=True` and `vf_share_layers=False`, layers for the value net and the policy net are still shared.

Also, see this discussion here:
https://discuss.ray.io/t/what-is-the-intendet-architecture-of-ppo-vf-share-layers-false-when-using-an-lstm/1579/2

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)

[2021-04-07 13:26] DmitriGekhtman commented on #14862
This needs to be better documented:
The reason this is happening is that Ray does not understand fractional resources for Ray nodes. For Kubernetes configs, Ray determines the available CPUs by _rounding up_  to the nearest integer the min of the pod spec's CPU requests and limits:

So the head is understood by Ray to have 1 CPU and the 1 CPU tasks is scheduled on the head.
This also explains why

[2021-04-07 13:48] #14954 closed

[2021-04-07 13:48] #15134 closed

[2021-04-07 14:56] DmitriGekhtman commented on #15159
The issue ultimately comes from here:

https://github.com/ray-project/ray/blob/64cc092959264cea42099690f13eceb6036e34d8/rllib/evaluation/rollout_worker.py#L527-L530

Is the correct fix to add a check that we're not in client mode to the `if` statement?

cc @sven1977 @AmeerHajAli @ijrsvt

[2021-04-07 15:09] DmitriGekhtman commented on #15159
Actually, `ray.get_gpu_ids` should probably return any empty list when called from client mode.

[2021-04-07 15:24] ilyakochik opened #15168 "Optimise for num_workers stucks in the infinite loop"
I am trying to find optimal resources allocation (e.g., `num_workers`, `num_gpus_per_worker`) to make training on Google Colab Pro and Unity3D environment most efficient. For that I use `tune` to iterate over different `num_workers` and find the minimal time.

At some point, the iteration goes into an infinite loop with several trials pending and never stops.

[code]

Please correct me if I'm doin

[2021-04-07 15:27] DmitriGekhtman commented on #15010
What is the desired behavior for `ray.get_gpu_ids()` when it is called from client mode?
Should we return an empty list?
cc @ijrsvt

[2021-04-07 15:29] MakGulati commented on #11991
@jaidhyani you may want to check :) https://discuss.ray.io/t/class-methods-in-tune-run/910/6

[2021-04-07 15:56] ijrsvt commented on #15010
I'll defer to @ericl on this one. If this is being called as a way to check if GPUs exist on the head node (before launching ray tasks that require GPUs), then we should probably forward the request to the server.

[2021-04-07 16:47] ericl commented on #15010
The driver is never assigned GPUs, so it should return empty list as it
does in a normal driver.

On Wed, Apr 7, 2021, 8:56 AM Ian Rodney ***@***.***> wrote:

[2021-04-07 16:55] edoakes opened #15170 "Support normal method invocations on @serve.ingress deployments"

[2021-04-07 18:25] AmeerHajAli opened #15174 "[ray client] Support public API: ray.get_gpu_ids()"

[2021-04-07 18:28] AmeerHajAli opened #15175 "[ray client] Support public API: ray.cancel()"

[2021-04-07 18:29] AmeerHajAli opened #15176 "[ray client] Support public API: ray.kill()"

[2021-04-07 18:30] AmeerHajAli commented on #15010
split this issue into multiple issues:
#15174 #15175  #15176

[2021-04-07 18:30] #15010 closed

[2021-04-07 18:45] crypdick opened #15177 "[tune] Search/Restore for ASHA"
### Describe your feature request

If I pause an tune run, change the search space bounds, and resume, tune will continue using the same bounds as before.

This means that, if I want to do a course-to-fine hyperparameter search, I can't pause a Tune run, constrain the search space, and resume. Instead, I need to start a new experiment from scratch. Given our dataset sizes, each trial is quite expe

[2021-04-07 18:48] DmitriGekhtman commented on #15176
This appears to be implemented here:
https://github.com/ray-project/ray/blob/eed34092f26dcedadfcf469ec041bdda70ed1e24/python/ray/util/client/api.py#L136

Is the remaining task simply to expose this method in `RayAPIStub`?

@iycheng or @ericl , could you provide some context for what goes in `ClientApi` vs `RayAPIStub`?

[2021-04-07 18:58] simon-mo commented on #15170
What does this mean?

[2021-04-07 19:58] ijrsvt opened #15179 "[Metrics] Counter::inc() does not support custom values"
### What is the problem?
I am unable to use the `metrics.Counter` when I want to increment by a non-one value.
This is the intended behavior as per the [example in prometheus's python client](https://github.com/prometheus/client_python#counter)

*Ray version and other system information (Python version, TensorFlow version, OS):*
Nightly: `195f81`

### Reproduction (REQUIRED)
Please provide a short

[2021-04-07 19:59] simon-mo opened #15180 "Ability to re-use FastAPI across deployments"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-07 20:02] #15174 closed

[2021-04-07 20:13] ijrsvt commented on #15179
cc @rkooo567

[2021-04-07 20:33] rkooo567 commented on #14399
Hmm @richardliaw do you know where the link is?

[2021-04-07 20:36] #15149 closed

[2021-04-07 20:36] rkooo567 commented on #14399
Ah it looks like it was in discussions channel, and we removed it.

[2021-04-07 20:37] rkooo567 commented on #15179
Yeah @clarkzinzow also pointed this out. cc @edoakes

[2021-04-07 20:38] rkooo567 commented on #15179
We should probably remove the argument within inc() or use Sum instead. Seems like prometheus doesn't support any argument in the `inc` method, so we should probably follow that?

[2021-04-07 20:50] ijrsvt commented on #15179
@rkooo567 Prometheus *does* have an argument in `inc` (see the example I linked above).

[2021-04-07 20:53] rkooo567 commented on #15179
Ah, I see. Then we should just use SUM under the hood.

[2021-04-07 21:16] #15086 closed

[2021-04-07 21:44] edoakes commented on #15170
Oops, this means calling other methods on deployments that have `@serve.ingress`. I don't think it currently works due to this line: https://github.com/ray-project/ray/blob/master/python/ray/serve/backend_worker.py#L250

[2021-04-07 22:57] ijrsvt opened #15182 "[client][serve] Shutdown Does Not work"
### Describe your feature request

Calling `serve.shutdown()` when connected via Ray Client raises a pickling error:
[code]

[2021-04-07 23:04] ijrsvt commented on #15182
This should be fixed with the implementation of `ray.kill` on the Ray Client (#15178)

[2021-04-07 23:19] EvgeniiTitov commented on #15165
**The Ray version**: ray==1.2.0

**The machine**:
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.2 LTS
Release:        18.04

[2021-04-07 23:24] ijrsvt opened #15183 "[Client] Cannot `ray.put` pandas DataFrame"
### What is the problem?
* I cannot `ray.put` a pandas DataFrame object when using Ray client

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fa

[2021-04-07 23:26] ijrsvt commented on #15183
cc @AmeerHajAli @DmitriGekhtman
This is what I got when trying to use Modin!

[2021-04-07 23:30] AmeerHajAli commented on #15183
Cc @devin-petersohn

[2021-04-07 23:55] richardliaw commented on #15177
@krfricke do you think you could take this sometime? It should be similar to what we're doing for search algorithms.

cc @worldveil

[2021-04-08 00:21] ijrsvt commented on #15183
Ugh, this is actually fine. The error was that my local Ray client was using pandas==`1.2.3` and the Server was using `pandas==1.0.5`. The old version of `DataFrame` did not have the property `_data`, while the new one does. 😢

[2021-04-08 00:21] #15183 closed

[2021-04-08 02:37] zhongchun commented on #15130
Should support `('jobName')` to avoid confuse user.

[2021-04-08 02:55] AmeerHajAli commented on #15182
Is it ok to keep this Open and close it when we make sure it works (maybe with a test?)?

[2021-04-08 10:00] #12489 closed

[2021-04-08 14:01] edoakes commented on #14938
Expected behavior from this script:
[code]

[code]

[2021-04-08 14:05] edoakes opened #15191 "Bad error message when missing `self` arg in methods in FastAPI class-based view"
[code]

[code]

[2021-04-08 14:06] EloyAnguiano commented on #11521
@GittiHab why do you say that it is important to install dm-control? When I try to install `dm_control` its setup file searches some MuJoCo installation that I dont need as I am trying to use Dreamer on a custom environment. I think that rllib should remove this installation for using dreamer algorithm as MoJoCo is not free.

Is there any stable version for using Dreamer without this import error

[2021-04-08 14:30] deetungsten commented on #14697
I'm starting to see the limitation of 8GB RAM. Ray is kinda heavy compared to others (for good reasons) so I clock out at 7.8 GB for a relatively simple model compared to around 6.5 for the same model with stable baseline. I think the shared unified memory makes it hard to run Ray effectively through Rosetta.

[2021-04-08 15:16] AmeerHajAli opened #15192 "[ray client] Support public API: ray.timeline()"

[2021-04-08 15:44] edoakes commented on #11860
bump

[2021-04-08 16:11] birgerbr commented on #14862
Thanks! I am parental leave at the moment, but will notify my colleagues to update our config.

[2021-04-08 16:20] kaninaba94 opened #15196 "`RolloutWorker.set_weights.remote(weights)`"
I am trying to understand the workings of `ray.tune.run(PPOTrainer, ...)`. For that purpose, I need to understand the lines shown below.
https://github.com/ray-project/ray/blob/c8f8a8e51005cb3aab64a9e98f6e709b4976c03b/rllib/evaluation/worker_set.py#L106-L111
In my understanding, `self.remote_workers()` (line 110) points to a list of `RolloutWorker`s. So when you call `e.set_weights.remote(weights)

[2021-04-08 17:53] krfricke commented on #15016
It seems to pass with those settings:

[code]

Can I consider this release test as passing despite the changes?

[2021-04-08 17:55] rkooo567 commented on #15016
Yes! The issue you are seeing with larger params is something we should fix soon. cc @jennakwon06

[2021-04-08 17:56] rkooo567 commented on #15016
Btw, can you approve the PR?

[2021-04-08 18:00] krfricke commented on #15016
Done - do you want to adjust the parameters to 50000/500?

Closing this for now, thanks for your help!

[2021-04-08 18:00] #15016 closed

[2021-04-08 18:09] rkooo567 commented on #15016
No those params should work just fine in the next version, so we can just keep that!

Thanks for running all tests :)!

[2021-04-08 18:27] rkooo567 commented on #15165
The data frame zero-copy-read is working only for integer or float data types. This could be one of reasons.

So, killed messages appear due to high memory usage right?

[2021-04-08 18:30] rkooo567 commented on #15165
Also answers for your questions;

When you start Ray, you are able to specify resources. (e.g., ray start --num-cpus=4). And when you schedule tasks or actors, you can do the same thing (`ray.remote(num_cpus=1)`). The total number of tasks are controlled by the resource specification.

Yeah actor sounds like a better solution if you need to do some copy operation on existing data frames like your

[2021-04-08 19:10] #12371 closed

[2021-04-08 20:27] suquark opened #15201 "ray.worker.global_worker.run_function_on_all_workers will run function twice on the current driver"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)

[code]

output:

[code]
This is done intentionally:

https://github.com/ray-project/ray/blob/4289fa8d43dc4b38a0066cf54a0dadd84a658a77/python/ray/worker.py#L358-L360

https://github.com/ray-project/ray/blob/4289fa8d43dc4b38a0066cf54a0dadd84a658a77/python/ray/_

[2021-04-08 20:52] rkooo567 commented on #15201
You mean this line right? I think this is intentional (we run functions only for the same job).

[2021-04-08 21:32] MarcoAlejandro commented on #13850
@DashShen have you tried to use:

[code]

I've just spotted your error, but it doesn't happen to me if I set up the driver code like above.

[2021-04-08 21:42] DmitriGekhtman commented on #15175
Already implemented, see https://github.com/ray-project/ray/pull/15178#issuecomment-816237961 .

[2021-04-08 21:43] DmitriGekhtman commented on #15176
Already implemented, see https://github.com/ray-project/ray/pull/15178#issuecomment-816237961 .

[2021-04-08 21:51] #14886 closed

[2021-04-08 22:09] suquark commented on #15201
@rkooo567 `function({"worker": self})` is intentional to run the exported function in the current driver. `job_id != self.worker.current_job_id.binary())` is intentional to run the function exported by the current driver in the current driver. I do not know why we need both.

[2021-04-08 22:10] suquark commented on #15201
I think `job_id != self.worker.current_job_id.binary()` should be `job_id == self.worker.current_job_id.binary()`

[2021-04-08 23:32] EvgeniiTitov commented on #15165
Hi @rkooo567 ,

Thanks for your responses.
Pair programming sounds like fun, please let me know how I could contact you. My email is 1994etitov@gmail.com

Eugene

[2021-04-09 03:23] jovany-wang commented on #15130
I think it's better to use list instead of tuple since it has not implicit conversion on list.

@rkooo567 Do you remember why we use list instead of tuple here?

[2021-04-09 04:39] iycheng opened #15204 "File opening in worker failed if chdir changed"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):
[code]
If the code snippet cannot be

[2021-04-09 05:56] mochangheng opened #15206 "[rllib] IMPALA: Actor died unexpectedly before finishing this task."
### What is the problem?

When running the IMPALA algorithm with multi-agent environments, the program crashes after training for about 2 hours with the error message `The actor died unexpectedly before finishing this task`.

Specifically, I was able to reproduce the error by running a modified version of the `multi_agent_custom_policy.py` example to use IMPALA instead of PG. The program crashed a

[2021-04-09 06:36] RocketRider commented on #11620
It seems as I am having the same issue with the new API, without calling "register_variables".
Is this bug fixed?

[2021-04-09 07:54] #12428 closed

[2021-04-09 09:21] Frag17 commented on #14399
Can you place it in documents or something else，So we can  check out the Migration Guide？

[2021-04-09 12:45] krfricke opened #15211 "[release/rllib] rllib stress tests hang forever"
Running the rllib stress tests (scripts updated according to this PR: #14995) produces the following output:

[code]

Then it hangs forever.

cc @sven1977

[2021-04-09 13:08] krfricke opened #15212 "[release/core] scalability envelope single node fails (object store not cleaned up?)"
Running `ray submit --start config.yaml test_single_node.py` in the benchmarks folder returns the following output (script slightly adjusted to output resource dicts):

[code]

It seems the difference is in the `object_store_memory` key.

Wheels: `https://s3-us-west-2.amazonaws.com/ray-wheels/releases/1.3.0/cb3661e547662f309a0cc55c5495b3adb779a309/ray-1.3.0-cp37-cp37m-manylinux2014_x86_64.whl`

cc

[2021-04-09 13:10] birgerbr commented on #14862
BTW: I forgot to mention in issue description that the task is never executed. The client is left waiting forever, since the head node has max_workers = 0.

[2021-04-09 13:13] krfricke commented on #14941
This seems to be related to the new default resource request introduced with the switch to placement groups.

@sven1977 could you take a look? Is this expected behavior, and can you tell us what to do to enable Humanoid-v1?

[2021-04-09 13:26] krfricke opened #15213 "[release/core] scalability envelope object store - please sign off results"
Running with `ray submit --start config.yaml test_object_store.py`.

Three runs, observed times:

1. 310.718010085
2. 156.79126519700003
3. 166.22801993300004

Previous release (according to logs): 135.75278311699998

Please sign this off cc @ericl @wuisawesome

Full output

[code]

[code]

[code]

[2021-04-09 13:28] krfricke opened #15214 "[release/core] scalability envelope distributed test throws `max number of clients reached`"
Running with `ray submit --start config.yaml test_distributed.py` throws hundreds of these:

[code]

Wheel: `https://s3-us-west-2.amazonaws.com/ray-wheels/releases/1.3.0/cb3661e547662f309a0cc55c5495b3adb779a309/ray-1.3.0-cp37-cp37m-manylinux2014_x86_64.whl`

cc @wuisawesome @ericl

[2021-04-09 14:05] krfricke opened #15215 "[release/rllib] unit gpu tests `rllib:examples/batch_norm_model_ddpg_tf` timeout"
Do we just have to update the test size?

[code]

cc @sven1977

[2021-04-09 14:07] krfricke opened #15216 "[release/rllib] please sign off rllib regression test result (torch)"
Torch

cc @sven1977

[code]

[2021-04-09 14:30] krfricke opened #15217 "[release/rllib] rllib regression test on tensorflow fails"
[code]

cc @sven1977

[2021-04-09 15:30] ijrsvt commented on #15217
I have very little context on the details of the failure here, but between this release and the previous release I think the bundled CUDA version was bumped from 10.1 -> 11

[2021-04-09 15:31] clarkzinzow opened #15219 "[Core] Add gRPC streaming support."
Our current gRPC layer only supports unary RPCs, while some of our current communication patterns, such as object location subscriptions, actor method calls, and within-lease task submissions, and future communication patterns, such as a non-Redis GCS-based pub/sub, are best suited to streaming RPCs. Streaming RPCs take full advantage of HTTP/2, streaming requests and/or responses within an existi

[2021-04-09 15:37] ijrsvt opened #15220 "[client] Ray Client crashes when `ray.put` fails"
### What is the problem?
* A failed `pydantic` import should not make Ray Client unusable.
* The main problem is that we have no way to pass an error in the put request.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue

[2021-04-09 15:52] wuisawesome commented on #15214
Ah I think this happens sometimes when max clients isn't propagated. Can you try restarting the head node?

[2021-04-09 16:04] rkooo567 commented on #15212
Hmm probably related to the one I found recently (the object store memory wasn't cleaned up when I terminated my job).

[2021-04-09 16:09] wuisawesome commented on #15212
So is this a real leak that isn't cleaned up when a job terminates? If so, that's pretty bad isn't it?

[2021-04-09 16:46] Jeffwan opened #15222 "Kubernetes operator images in 1.2.0 pin to latest image tag"
### What is the problem?
https://github.com/ray-project/ray/blob/b87fc1be5505c577f01807fd342e0cdb2e129081/doc/kubernetes/ray-cluster.yaml#L62

If user want to use a stable ray version, they may go to tag or a release branch. The problem is images in most of these branches/tags pin to `nightly` which is not a good practice.

User will install latest images (master) with 1.2.0 manifest.

*Ray versio

[2021-04-09 17:21] wuisawesome commented on #15213
This should be fine, thanks!

[2021-04-09 17:21] #15213 closed

[2021-04-09 19:17] edoakes opened #15223 "[serve] Blacklist replicas in the ServeHandle if they return a RayActorError"
Once a replica returns a RayActorError, it will never be used again as the controller will spin up a new actor to replace it. We should remove it from the available replicas in the handle in this case to avoid repeatedly failing requests.

[2021-04-09 19:18] edoakes commented on #15223
cc @simon-mo

[2021-04-09 19:26] krfricke commented on #15216
Another result (second run):

[code]

[2021-04-09 19:29] krfricke opened #15224 "[release/rllib] long running impala fails (deadline exceeded)"
[code]

Is this a core issue? cc @wuisawesome
cc @sven1977

[2021-04-09 19:30] oleg-savko opened #15225 "[cluster] Is there is a way to specify ssh port (not 22) to head node in cluster configuration cluster.yaml"
In my case ssh connection to head node used not standard 22 ssh port.

How can i specify ssh port in cluster.yaml?

[2021-04-09 19:31] krfricke opened #15226 "[release/rllib] long running apex/many ppo fails (OOM)"
[code]

Is this a core issue? cc @wuisawesome
cc @sven1977

[2021-04-09 19:33] krfricke commented on #15224
Same issue for `many_task_serialized`:

[code]

[2021-04-09 19:35] krfricke opened #15227 "[release/long running] many drivers fails (GRPC socket closed)"
[code]

cc @wuisawesome

[2021-04-09 19:35] krfricke commented on #15226
Output for `many_ppo`:

[code]

[2021-04-09 19:52] ijrsvt commented on #15220
NOTE: This issue initially appeared because `server.start(detached=True)` caused this error when `pydantic` was too old on the server.

[2021-04-09 20:24] krfricke opened #15230 "[release/stress test] tead_dead_actors fails"
The test throws various errors, see attached output:

[command_scd_xIGx58xF2ojXQbk7jdhdy.log](https://github.com/ray-project/ray/files/6288285/command_scd_xIGx58xF2ojXQbk7jdhdy.log)

tail:

[code]

cc @rkooo567 @wuisawesome not sure who to tag for this

[2021-04-09 20:36] rkooo567 commented on #15212
Yeah I think so. We should probably try reproducing it first.

[2021-04-09 20:37] rkooo567 commented on #15230
Is the error log this?
[code]

[2021-04-09 21:24] ijrsvt opened #15231 "[autoscaler] Don't autofill `setup_commands` if head/worker `setup_commands` are used"
### Describe your feature request

If I have a YAML with:
[code]

It is confusing that autoscaler autofills
[code]

It would be great if `setup_commands` were not autofilled in this case.

[2021-04-09 21:24] ijrsvt commented on #15231
cc @jennakwon06

[2021-04-09 21:26] ijrsvt opened #15232 "[autoscaler][docs] Explain how the `ray_bootstrap_config` is generated"
### Describe your feature request

- How is this generated?
- How does it relate to `defaults.yaml`?

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-09 22:00] krfricke commented on #15230
That's just the script return code. I'm not familiar with this release test, so if the output is expected and correct, please let me know and I'll mark the test as passed.

[2021-04-09 22:03] wuisawesome commented on #15230
This looks like correct output (confusing because the test is meant to generate tons of failures), but yeah the script returned 0 so this should be considered a pass.

(buried in the log)

[code]

[2021-04-09 22:03] #15230 closed

[2021-04-09 22:14] krfricke opened #15233 "[release/stress tests] test many tasks fails at stage 3"
Output

[code]

Is this just something we have to run again?

cc @wuisawesome @rkooo567

[2021-04-09 22:32] richardliaw opened #15234 "ray status doesn't support redis address"
Ray 1.2.0 running ray status gets an exception suggesting redis authentication is failing:
`redis.exceptions.ResponseError: WRONGPASS invalid username-password pair`
There is no way to provide the redis password running this command AFAICT.

[code]
cc @cupdike

https://github.com/horovod/horovod/issues/2834

[2021-04-09 22:34] rkooo567 commented on #15233
I think this is definitely a bug. Can you check raylet logs from this node?

[code]

[2021-04-09 22:46] clarkzinzow opened #15235 "[Core] Bad traceback on failure to reconnect to GCS server."
### What is the problem?

Upon a failed GCS client RPC, the client will [attempt to reconnect to the GCS server](https://github.com/ray-project/ray/blob/be62444bc5924c61d69bb6aec62f967e531e768c/src/ray/rpc/gcs_server/gcs_rpc_client.h#L64). If that reconnection fails, the client will [fatally log the GCS address and port](https://github.com/ray-project/ray/blob/be62444bc5924c61d69bb6aec62f967e531e7

[2021-04-09 22:49] clarkzinzow commented on #15235
Not sure if this is an actual bug when Redis is not reachable: https://github.com/ray-project/ray/blob/be62444bc5924c61d69bb6aec62f967e531e768c/src/ray/gcs/gcs_client/service_based_gcs_client.cc#L112-L149

[2021-04-10 00:15] mvindiola1 commented on #15196
@kaninaba94 remote is thr ray convention and wrapper for indicating tgat you want ray to asynchronously schedule and execute a python function/method. Have a look here for an introduction: https://docs.ray.io/en/master/walkthrough.html

[2021-04-10 01:22] AmeerHajAli commented on #15220
@ijrsvt this is great investigation and is going in the right direction of making Ray Client work seamlessly as Ray. Great job!

[2021-04-10 09:03] kaninaba94 commented on #15196
thank you very much!

[2021-04-10 09:03] #15196 closed

[2021-04-10 16:57] #14929 closed

[2021-04-11 01:05] #14965 closed

[2021-04-11 03:29] pcmoritz opened #15238 "[dashboard] Errors are not shown"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray 1.2.0, macOS

### Reproduction (REQUIRED)

If I write a script like
[code]

The error is not showing up in Ray's dashboard

<img width="1780" alt="Screen Shot 2021-04-10 at 8 29 11 PM" src="https://user-images.githubusercontent.com/113316/114291336-6b5df600-9a3b-11eb-8053-8430e4a8ddb4

[2021-04-11 03:52] pcmoritz commented on #15222
Thanks for reporting, this should indeed be fixed! Instead of `nightly`, we should use the `latest` Ray here, which is always the latest Ray released Ray version. We are already doing that for the non-k8s autoscaler, see https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/aws/example-full.yaml

cc @DmitriGekhtman

[2021-04-11 05:39] Jeffwan commented on #15222
Em. even `latest` is used there, it's still a problem if user uses "stable" version.

I think the problem may be addressed from version/ release managed perspective.  If community cut tag against master every time, then all tags will have manifests using `latest` will points to master builds but the manifest is still in older version. For example, example_cluster specs will not be compatible with

[2021-04-11 05:41] pcmoritz opened #15239 "[cluster] Make node_ip_address work throughout"
### What is the problem?

It seems that node_ip_address is not respected by some of the Ray components (at least the dashboard), see the user report here: https://discuss.ray.io/t/node-ip-not-respected-for-head-node/1635

### Reproduction (REQUIRED)

See https://discuss.ray.io/t/node-ip-not-respected-for-head-node/1635

It seems this can be reproduced with
[code]
and then the dashboard will show t

[2021-04-11 07:44] #15158 closed

[2021-04-11 07:54] AmeerHajAli commented on #15159
closed in https://github.com/ray-project/ray/pull/15185.
@DmitriGekhtman , can you please make sure to close issues when their PR is merged?

[2021-04-11 07:54] #15159 closed

[2021-04-11 08:04] AmeerHajAli commented on #15175
Reopening until we make sure metadata is added.
CC @DmitriGekhtman

[2021-04-11 08:04] AmeerHajAli commented on #15176
Reopening until we make sure metadata is added.
cc @DmitriGekhtman

[2021-04-11 08:30] AmeerHajAli commented on #14857
CC @ijrsvt

[2021-04-11 22:52] nirvana-msu commented on #6451
In case it helps someone, here's a recipe on how one could build Ray `manylinux2010` wheels, compatible with RHEL / CentOS 6.

Similar to [Building manylinux2014 wheels](https://github.com/ray-project/ray/blob/35ec91c4e04c67adc7123aa8461cf50923a316b4/python/README-building-wheels.md#building-manylinux2014-wheels) guide, we'd be building using manylinux dococker image, but in this case we need `qua

[2021-04-12 07:06] sven1977 commented on #15217
This is a tf version vs CUDA version mismatch causing tf to not find the GPU.
If you do a `tf.config.list_physical_devices()` on the machine, you'll probably only see the CPU(s).

[2021-04-12 07:26] krfricke opened #15244 "[tune] Make sure we have checkpoint/restore examples in the docs (e.g. for xgboost)"
Some examples/tutorials in the docs only use tuning, but no checkpointing, like here: https://docs.ray.io/en/master/tune/tutorials/tune-xgboost.html

We should make sure we include examples for saving/restoring checkpoints, especially when using things like callbacks, as in the case with xgboost.

[2021-04-12 08:35] krfricke commented on #15217
On `anyscale/ray-ml:nightly-gpu`:

[code]

[code]

Does this mean the packaged version in `anyscale/ray-ml:nightly-gpu` is outdated?

[2021-04-12 09:35] krfricke commented on #15214
This happens directly after starting the cluster, and I could reproduce it several times. Can I force max clients to propagate?

[2021-04-12 09:47] krfricke commented on #15233
Seems to pass now (was probably a one time error):

[code]

Seems to be very similar, so I'll mark this as passed

Comparison with 1.2.0:

[code]

[2021-04-12 09:47] #15233 closed

[2021-04-12 09:59] RaphaelCS commented on #14470
@krfricke  Is there any progress on this issue?

I've tried to solve this but I couldn't find its cause.

[2021-04-12 11:11] krfricke commented on #14470
I remember looking into and reproducing it, but I didn't find the cause.

It seems though that this is actually a hyperopt problem, as we're just calling the hyperopt API:

[code]

A good next step would be to try to reproduce this with hyper opt only (no Ray Tune). If the error persists, we should open an issue in the hyperopt repo.

[2021-04-12 11:50] krfricke opened #15247 "[release/microbenchmarks] Please take a look at the results (and possibly sign off)"
[code]

Results from 1.2.0:

[code]

It seems there are a few regressions here, e.g.:

[code]

and notably

[code]

I also got this

[code]

is this the reason for the regressions?

cc @wuisawesome @rkooo567 @ericl

[2021-04-12 11:52] krfricke commented on #15247
Note: For these benchmarks the cluster was stopped as it would otherwise complain about passing a `_system_config` argument to `ray.init()`. So for each of the separate benchmarks, `ray.init()` would start the cluster anew.

[2021-04-12 14:29] fhkong commented on #6832
+1

[2021-04-12 15:02] ijrsvt commented on #15217
@krfricke Yes, you are right. I think the `anyscale/ray-ml:nightly-gpu` image is outdated, but the `ray/ray-ml:nightly-gpu` image is not.

[2021-04-12 16:31] arx7ti commented on #13590
Just got same issue. Tried to use
`best_trial_dir = analysis.get_best_logdir()
best_checkpoint = analysis.get_best_checkpoint(
    best_trial_dir, metric="map", mode="max")`
but this leads to error: ...has zero or more than one tune_metadata.
Therefore, I resolved original problem by updating arguments for `tune.run()` with `resume=True` and `raise_on_failed_trial=False`. Then, the analysis instan

[2021-04-12 17:06] rusu24edward commented on #10178
For anyone else who may come across this issue looking for a random policy, this has been done here: https://github.com/ray-project/ray/blob/master/rllib/examples/policy/random_policy.py

[2021-04-12 17:47] pcmoritz commented on #14485
For me the error actually just gets lost, even though I do `2+2` later. I think we should upgrade this to P0 and make it a release blocker, since it is a regression and is pretty bad behavior (error messages getting lost).

[2021-04-12 18:02] wuisawesome commented on #14485
(Adding P1 label back for tracking purposes)

[2021-04-12 18:27] rusu24edward opened #15252 "[rllib] summarize with dict action space and random policy fails becuase bad previous action"
### What is the problem?
[ray.rllib.utlis.debug.summarize](https://github.com/ray-project/ray/blob/master/rllib/utils/debug.py#L10) fails when I'm using a multiagent environment with Dict action space and the [RandomPolicy](https://github.com/ray-project/ray/blob/master/rllib/examples/policy/random_policy.py).

When I attempt to train, I get the following error:
[code]

So I dug into this a little

[2021-04-12 18:37] wuisawesome commented on #15247
@AmeerHajAli is the client stable enough for these benchmarks to be meaningful?

@krfricke do you have the output of `release/util/microbenchmark_analysis.py`?

[2021-04-12 18:39] krfricke commented on #15247
I'll run this shortly

[2021-04-12 18:39] wuisawesome commented on #15214
if you can, then sure, but i think most of the ubuntu ami's require restarting the node.

[2021-04-12 18:42] krfricke commented on #15214
So this means, `ray up`, `ray down`, then `ray up` again, then run?

[2021-04-12 19:48] rkooo567 commented on #15247
It seems like the single client put call also has regression actually.

[2021-04-12 19:48] rkooo567 commented on #15247
So, it looks like put calls have 20%~ ish regression in general.

[2021-04-12 19:48] rkooo567 commented on #15247
Is it possible to bisect this?

[2021-04-12 19:57] wuisawesome commented on #15214
yeah that should do the trick (it should be stopping the nodes not terminating them). i think you can also `ray exec config.yaml "shutdown -r now"`

[2021-04-12 20:03] rkooo567 commented on #15247
@krfricke Ignore my comment above. Is this error message appearing in every test?
[code]

[2021-04-12 20:05] krfricke commented on #15247
New fresh run:

[code]

Comparison with 1.2.0:

[code]

[2021-04-12 20:05] krfricke commented on #15247
The error message did not appear this time

[2021-04-12 20:12] edoakes opened #15254 "[runtime_env] Bad error message for non-existent working_dir"
Passing a working_dir that doesn't exist gives me the following:
[code]

[2021-04-12 20:14] edoakes opened #15255 "[runtime_env] Passing an empty working directory errors"
[code]

[code]

[2021-04-12 20:16] rkooo567 commented on #15212
I will take a look at it by today.

[2021-04-12 20:16] rkooo567 commented on #15214
cc @wuisawesome

[2021-04-12 20:18] rkooo567 commented on #15227
cc @iycheng @krfricke Can you check `gcs_server.err` when this happens?

[2021-04-12 21:13] wuisawesome commented on #15224
@iycheng this should be the same root cause as the other release blocker you are assigned to.

[2021-04-12 21:18] zhisbug opened #15258 "[RaySGD] Potential bug with PyTorch optimizer construction"
### What is the problem?
The current RaySGD follows the workflow below:
1. Users override operator's `setup()` function, and construct `model`, `optimizer`, and `criterion` in it;
2.  Users register the created `model`, 'optimizer`, `criterion` via `register()` function;
3. The register function will check whether `use_gpu` is True and if yes, move the `model` and `criterion` to GPU via a `.cuda()

[2021-04-12 21:18] zhisbug commented on #15258
@richardliaw

[2021-04-12 21:24] ericl commented on #15247
Sang can you look into why that message might be appearing? We should be
always trying to use devshm when possible, the error message makes it seem
like there is some rounding error where we detected 50GB but it only has
49GB or something.

On Mon, Apr 12, 2021, 1:05 PM Kai Fricke ***@***.***> wrote:

[2021-04-12 21:27] rkooo567 commented on #15212
Okay. It looks like the problem is just it takes time to clean up metadata before calling assert. Can you add 10 seconds sleep before all assert? Like;

[code]

This fixes the issue locally on my laptop.

[2021-04-12 21:36] rkooo567 commented on #15247
cc @wuisawesome  ^

[2021-04-12 21:43] iycheng commented on #15224
For that one, it's gcs's down leading to connection failure. I don't feel they are the same here. We should check more logs.

[2021-04-12 22:29] rkooo567 commented on #15238
cc @edoakes

[2021-04-12 22:38] wuisawesome commented on #15212
Just to be sure, you're referring to object store metadata (not scheduling) right?

[2021-04-12 22:39] rkooo567 commented on #15212
Yeah. It seems to take some time to clean up object store, and that result is updated to the GCS

[2021-04-12 22:39] danwallach opened #15262 "Feature request: detect if actors requests are queueing up"
With a progress-bar actor, I had some code that was sending it update messages faster than it could consume them (probably around 10k messages per second). This caused it to get backed up, and I stopped seeing visible updates, since the requests to read data from the same actor were getting backed up in the message queue with all the pending writes.

The fix was simple: batching together messages

[2021-04-12 22:42] wuisawesome commented on #15247
@krfricke it looks like most of these tests have performance regressions. Can we bisect to figure out when the task/actor submission performance dropped? And also when the `ray.put` performance dropped?

[2021-04-12 22:44] wuisawesome commented on #15224
@iycheng It looks like monitor is dying for the same reason here:

[code]

[2021-04-12 23:33] iycheng commented on #15227
@krfricke what is testing here? After checking it a while, I realized that we actually don't have this file in the new release `ray/monitor.py`

[2021-04-12 23:37] joshuaathomas94 commented on #4396
This the issue that I'm currently having. From my remote node, I can run the ray start command and no errors appear, and I can even access the dashboard on the remote node. But the dashboard does not show when I add new nodes?

I additionally tried the ray timeline command, but when I ran the command there was no data inside of the file generated.

[2021-04-12 23:38] richardliaw opened #15263 "[tune] Port all MNIST examples to specify data_dir"
@richardliaw could we take in the data path as a command line arg for all these examples that defaults to "~/data"? That way the user can specify their own data paths without having to modify the code.

_Originally posted by @amogkam in https://github.com/ray-project/ray/issues/15260#issuecomment-818298346_

[2021-04-12 23:45] iycheng commented on #15224
I checked [here](https://github.com/ray-project/ray/tree/releases/1.3.0/python/ray) and the monitor.py is not there. Maybe I missed something, but is this the old version of monitor?

[2021-04-12 23:49] joshuaathomas94 opened #15264 "Ray Dashboard not showing additional nodes"
### What is the problem?

I am attempting to start a node from my terminal remotely. I run the ray start --address='ip_address:6379' --redis-password='password' command from the node and it produces no errors and seemly connects. But when I access the dashboard I can only see the host.

I have a head node running on a remote server and added port forwarding rules to the server for ports 8265, and

[2021-04-13 00:12] wuisawesome opened #15265 "[rfc] `ray health-check`"
# Why

When running a k8s cluster, advanced users need a way of health checking ray and its components. In particular, we want to be able to health check components of the cluster like the ray client server.

Ray almost exclusively uses grpc for its transport layer, and [k8s doesn't officially support a grpc based health check.](https://kubernetes.io/blog/2018/10/01/health-checking-grpc-servers-on

[2021-04-13 00:24] wuisawesome commented on #15212
I think we can make the PR to make the sleep longer, then close this issue (no longer a release blocker) then right?

[2021-04-13 00:48] wuisawesome opened #15266 "Lightweight heartbeats may fail to report information."
### What is the problem?

There's a race condition in the GCSResourceManager code. If the resource manager is extremely overwhelmed, this line https://github.com/ray-project/ray/blob/master/src/ray/gcs/gcs_server/gcs_resource_manager.cc#L184

could overwrite an unsent update.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please p

[2021-04-13 00:49] rkooo567 commented on #15265
Does it only health check components in a head node?

[2021-04-13 01:51] rusu24edward commented on #15252
This case is not captured by the [0 size check](https://github.com/ray-project/ray/blob/master/rllib/utils/debug.py#L33) because, unfortunately, the prev_actions array is created using `np.array(0, dtype=object)`, rather than `np.empty`, so its size is actually 1, even though you cannot index it.

[2021-04-13 03:06] wuisawesome commented on #15265
For now, yes since we only need to implement ray client server for now, but in principle, anything that can connect to internal kv

[2021-04-13 04:55] rkooo567 commented on #15212
I'd like to close after @krfricke confirms to pass all tests. I can make a PR to fix it after we close it.

[2021-04-13 05:23] zhe-thoughts commented on #15265
Does the headnode currently expose a "metrics endpoint" so people can freely query it for different kind of metrics?

E.g. this demonstrates what I have in mind: https://docs.cloudera.com/HDPDocuments/HDP3/HDP-3.0.1/data-storage/content/using_jmx_for_accessing_hdfs_metrics.html

[2021-04-13 05:43] wuisawesome commented on #15265
We have prometheus metrics on the head node, which can help with the health of the cluster, but not as much the peripheral components (like ray client server or autoscaler).

[2021-04-13 06:23] fcardoso75 opened #15267 "Why are there symlinks from python/ray to new_dashboard/, rllib/ and streaming/python/?"
I'm building ray on a Windows 10 machine (Developer mode enabled and git core.symlinks=true) but the following symlinks are broken (they are created as file symlinks instead of directory symlinks):

Directory python\ray:

[code]

For the build to work, I have to manually delete them and recreate using the command:

[code]

I would like to fix these issues but before doing so, I would like to ask w

[2021-04-13 06:56] sven1977 commented on #15215
Seems like. These tests are all the same as the per-PR ones, so they should pass, unless there is a GPU-specific problem (doesn't look like there is).

[2021-04-13 07:19] Meta-YZ opened #15268 "rllib install failed"
When I install rllib , happened some erros:

 Running setup.py clean for atari-py
Failed to build atari-py
Installing collected packages: six, pyasn1, urllib3, rsa, pyparsing, pyasn1-modules, protobuf, multidict, idna, chardet, cachetools, yarl, typing-extensions, requests, pytz, packaging, numpy, googleapis-common-protos, google-auth, future, attrs, async-timeout, scipy, pyrsistent, pyglet, psuti

[2021-04-13 07:21] sven1977 commented on #15211
Same problem as https://github.com/ray-project/ray/issues/15217:
"RuntimeError: GPUs were assigned to this worker ..."
tf w/ GPU currently does not run on the container due to a CUDA version misbatch.

[2021-04-13 07:26] Yuanzhuo-Liu commented on #15268
ubuntu 18.04

[2021-04-13 07:29] richardliaw commented on #15262
What if you had some sort of autoscaling actor pool, where new actors (and nodes) were provisioned according to load?

[2021-04-13 08:33] krfricke commented on #15216
Signed off by @sven1977

[2021-04-13 08:33] #15216 closed

[2021-04-13 08:51] amogkam opened #15269 "[Autoscaler] ray up fails with no error message"
I'm doing `ray up` on a simple Cluster yaml, but it's failing with a generic `Failed to setup head node` with no additional information. This is on nightly Ray.

Cluster yaml:
[code]

cc @AmeerHajAli @ijrsvt @DmitriGekhtman

[2021-04-13 09:48] krfricke opened #15270 "[release/serve] long running serve failure fails with 'Client' object has no attribute 'delete_deployment'"
[code]

cc @simon-mo @edoakes

[2021-04-13 12:02] Matrix-World opened #15271 "module 'ray.serve' has no attribute 'create_backend'"
I implemented the official Ray Serve case, the code(https://docs.ray.io/en/master/serve/index.html) is as follows:
------------code--------------
import ray
from ray import serve
import requests

ray.init()
serve.start()

def say_hello(request):
    return "hello " + request.query_params["name"] + "!"

serve.create_backend("my_backend", say_hello)
serve.create_endpoint("my_endpoint", backend="my_b

[2021-04-13 14:49] AmeerHajAli commented on #14056
CC @DmitriGekhtman
BTW @simon-mo. Is the example script above using ray client?

[2021-04-13 14:50] AmeerHajAli commented on #15232
@ijrsvt , do we really want to do that in the docs.ray.io? This is an internal implementation detail that we might not want to expose to the user.

[2021-04-13 14:55] ijrsvt commented on #15232
@AmeerHajAli I think minimally explaining somewhere that merely excluding `setup_commands` will cause it to be filled in with default values is rather important

[2021-04-13 15:00] AmeerHajAli commented on #14780
@XavierGeerinck , can you please update the yamls?

[2021-04-13 15:00] AmeerHajAli commented on #14780
What is the status of this?

[2021-04-13 15:04] XavierGeerinck commented on #14780
Hi @AmeerHajAli thanks for following up! I am currently still stuck due to #14666 so can't test yet

[2021-04-13 15:10] danwallach commented on #15262
In my specific case, I was using an actor to collect information on a big job, so remote tasks were "reporting back" to the actor, which was collecting statistics. That actor was mutating a Python dictionary with state, which works fine until the request rate gets too large. That wouldn't naturally map to an "actor pool" unless Ray also offered a scalable, mutable, transactional, distributed dicti

[2021-04-13 15:11] sven1977 commented on #15217
@ijrsvt , this has been a common problem for a few months at least with any of our "ml" + "gpu" containers in the product (nightly or not). Doing the following simply does not work:
[code]
The above does not include the GPU(s), even though they can be seen via e.g. `nvidia-smi`.

[2021-04-13 15:18] ijrsvt commented on #15217
@sven1977 I'm not 100% sure what the best way forward is here. The issue is that Tensorflow has an extremely [narrow window of GPU support](https://www.tensorflow.org/install/source#gpu).

<img width="860" alt="Screen Shot 2021-04-13 at 8 17 38 AM" src="https://user-images.githubusercontent.com/21353794/114577260-b725c080-9c30-11eb-8271-239fdfe66b1c.png">

The product is currently using CUDA 10.1,

[2021-04-13 15:23] krfricke commented on #15217
A first good step would be to document this somewhere. I assumed that `rayproject/ray-ml` and `anyscale/ray-ml` and all their tags are equivalent except for additional dependencies installed in `anyscale`, and I'd expect people working with OSS and switching to the product would do the same. For `latest` this is expected, but `nightly` in `anyscale` seems to refer to the nightly _product_ build, n

[2021-04-13 15:25] krfricke commented on #15217
Closing this since the run succeeded with tf 2.3.0

[2021-04-13 15:25] #15217 closed

[2021-04-13 15:25] krfricke commented on #15215
Works with test size medium

[2021-04-13 15:25] #15215 closed

[2021-04-13 15:32] sven1977 commented on #15217
Got it, thanks for clarifying @ijrsvt and @krfricke !
The container should have tf==2.3 pinned then. If not, we have to change the CUDA version AND also make sure that torch is working properly with that same CUDA version.

[2021-04-13 16:11] richardliaw commented on #15227
Kai is re-running this right now.

[2021-04-13 16:12] richardliaw commented on #15214
Kai is rerunning this right now

[2021-04-13 16:13] richardliaw commented on #15211
Rerunning this right now

[2021-04-13 16:13] richardliaw commented on #14941
The issue was due to the node being too small.

[2021-04-13 16:13] #14941 closed

[2021-04-13 16:28] ijrsvt commented on #15269
@amogkam was there any output at all?

Can you try running this with `-vvvv` for additional verbosity?

[2021-04-13 16:37] edoakes commented on #15270
@krfricke huh I'm actually a bit confused about this -- this update was relatively recent (after the release branch cut), shouldn't the release testing be running on an older version? Anyways, I'll make a fix but for now you can run using the version in 01dcb993c72e867b4121553b391dddea08ad9dd6

[2021-04-13 16:38] ijrsvt commented on #15217
I can double test that Torch works with this.

@krfricke Yeah, the `nightly` story with ray vs anyscale is a bit hazy.

[2021-04-13 16:49] #15270 closed

[2021-04-13 16:55] krfricke commented on #15270
Ah, since I'm modifying the release tests to work with the most recent version of the product I'm running them straight out of master. I can check out old versions for the serve tests though

[2021-04-13 17:06] iycheng commented on #15224
@krfricke could share the session with me? In the meantime, I'm also trying to run this on my side.

[2021-04-13 17:09] iycheng commented on #15254
Could we remove that and instead just print a warning?

[2021-04-13 17:10] amogkam commented on #15269
Here's the full console output with full verbosity. This time I tried Ray nightly wheels, but still getting the same problem. Can I use anyscale docker images in OSS autoscaler?

[code]

[2021-04-13 17:14] krfricke commented on #15270
Ok, I am now running the serve tests back from the release branch versions. We can probably revert #15276 then. Sorry, this was my bad.

[2021-04-13 17:19] stephanie-wang commented on #14485
@ericl, what do you think we should do here? Does it make sense to revert #14049?

[2021-04-13 17:42] krfricke commented on #15224
It is currently running fine on my end. I can still share the project with you

[2021-04-13 17:43] edoakes commented on #15270
The fix is still valid, I just wasn't sure why the issue was coming up :)

[2021-04-13 17:57] #15204 closed

[2021-04-13 18:09] ijrsvt commented on #15269
Ahhh shoot. I would not use the `anyscale` images in OSS ray. The reason is that it expects certain things that are not present in OSS.

[2021-04-13 18:23] #15220 closed

[2021-04-13 18:27] amogkam commented on #15269
Ah I see. OK then we can close this then. It's working fine without the anyscale docker image.

[2021-04-13 18:27] #15269 closed

[2021-04-13 18:33] mvindiola1 opened #15277 "[rllib][cql] Documentation incorrectly indicates rnn and lstm support"
### What is the problem?
Ray: Nightly

The CQL documentation lists that it supports "RNN, LSTM auto-wrapping, and autoreg" but its trainer is a customization of SAC which does not support these features.

### Reproduction (REQUIRED)
1. Create an offline data file
[code]
2. Run CQL with data file
[code]

Error:
[code]

If the code snippet cannot be run by itself, the issue will be closed with "need

[2021-04-13 18:58] AmeerHajAli commented on #15269
Thanks @ijrsvt for helping @amogkam !
BTW, please make sure to use multinode type cluster yaml. Here is the syntax for the cluster yaml:
https://docs.ray.io/en/master/cluster/config.html#syntax
P.S. Please do not use legacy cluster yamls. Many fields are deprecated.

[2021-04-13 19:34] ericl commented on #14485
No, let's fix this in the next release.

On Tue, Apr 13, 2021, 10:19 AM Stephanie Wang ***@***.***>
wrote:

[2021-04-13 19:41] amogkam opened #15278 "[Autoscaler] KeyName not found"
### What is the problem?
I want to specify a KeyName for my nodes in order to use the provided SSH key. According to the docs, `KeyName` should be specified under `node_config` since its an argument that goes to `boto.create_instances`. My cluster.yaml looks like this:
[code]
However, despite `KeyName` being specified under `node_config`, I get this error:
[code]

I can resolve this by adding
[cod

[2021-04-13 20:05] DmitriGekhtman commented on #15278
Yeah, the current situation is not great. Unfortunately, the current resolution is indeed to add this data in head_node and worker_nodes fields, which are not fully deprecated.

I have a PR open to fix this: https://github.com/ray-project/ray/pull/15108 ,
which hopefully I'll have a minute to finish and get merged in the near future.

Duplicate of https://github.com/ray-project/ray/issues/15096
Su

[2021-04-13 20:05] #15278 closed

[2021-04-13 20:24] #15175 closed

[2021-04-13 20:24] #15176 closed

[2021-04-13 21:05] mvindiola1 opened #15280 "[rllib][marwil] Fails when using custom_model with lstm"
### What is the problem?
Ray: nightly

Marwil is not working when training a custom model with an lstm. I encountered 2 errors when trying to get it to work but I think they all come down to the same error seq_lens is not being stored in the offline replay file and not being reconstructed from the file.

Error 1: During _initialize_loss_from_dummy_batch marwil tries to get the value but there is n

[2021-04-13 21:20] #14934 closed

[2021-04-13 21:33] michaelzhiluo commented on #8822
@iycheng Would you have time this or next sprint to tackle this issue? Been getting reports of this bug from more than two users.

[2021-04-13 21:58] ijrsvt commented on #12662
As an intermediate we can:

`/tmp/ray/prom.json`
create it in
`/tmp/ray/session/prom.json`
`symlink` to `/tmp/ray/prom.json`

[2021-04-13 22:01] edoakes opened #15282 "Feature request: graceful shutdown for actors"
In Serve, we want to be able to support graceful shutdown when actors are being shut down (e.g., due to downscaling) without failing requests. This is difficult to do correctly in the application layer because we have no way of preventing the actor from accepting and queuing new messages. We currently do this best-effort by signaling the clients to stop sending requests and having the replicas wai

[2021-04-13 22:03] lethaiq commented on #13907
@stanislav-chekmenev I observe the same behaviors. Do you have a solution for this yet?

"num_workers": 1,
"num_envs_per_worker": 1,
"num_cpus_for_driver": 1,
"num_cpus_per_worker": 15,

=> works fine

"num_workers": 2,
"num_envs_per_worker": 1,
"num_cpus_for_driver": 1,
"num_cpus_per_worker": 15,

=> performance decreases

"num_workers": 1,
"num_envs_per_worker": 2,
"num_cpus_for_driver": 1,
"num

[2021-04-13 22:08] edoakes commented on #15254
I think it's good to throw an error if the dir doesn't exist, it should just be a more useful message than this blank `AssertionError`

[2021-04-13 22:25] iycheng commented on #15224
Got it. Please let me know if something is broken and I can log in to check the logs there

[2021-04-13 22:32] smorad commented on #14195
Fixed in https://github.com/ray-project/ray/pull/14569, thanks Sven :)

[2021-04-13 22:32] #14195 closed

[2021-04-13 23:15] iycheng commented on #15254
That makes sense!

[2021-04-13 23:38] iycheng opened #15284 "Expose get jobconfig API in ray"

[2021-04-13 23:59] DmitriGekhtman commented on #14056
@simon-mo i.e. in the initial issue description was it
[code]
as opposed to `ray.init(address="auto")`?

[2021-04-14 00:05] simon-mo commented on #14056
Right. It should be ray.util.connect. The issue was that connecting from a local mac client to k8s linux container seems to create the error.

[2021-04-14 00:43] iycheng commented on #15255
This one actually has been fixed in this PR https://github.com/ray-project/ray/pull/15241
I've added test cases in the new one.

[2021-04-14 01:45] wuisawesome commented on #15247
Did some bisecting.

After `6a0b3062214c7fcec3aff67981eca9e606dd7ee9`:

[code]

After `3ffe375a095f1fc2547c2ca6f12663f52c001c53`:

[code]

Conclusion: #14192 probably caused the multi client put regression.

[2021-04-14 03:40] pablete opened #15288 "[tune] DistributedTrainableCreator can not get access to current trial_id"
[code]
Now inside the train_function

[code]

Output

[code]
In any of the DistributedTrainableCreator (torch/tensorflow/horovod) is the current trial (trial_id) information available.

"default"  in Trainable  happens when you do not receive __trial_info__ in the config

https://github.com/ray-project/ray/blob/master/python/ray/tune/trainable.py#L74

Is there another way to query or pass the Tria

[2021-04-14 04:56] franklsf95 opened #15289 "Ray client crashes on connecting"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

- Ray: https://s3-us-west-2.amazonaws.com/ray-wheels/master/0ad0839265750b9ee4d142b623e92a38fa72631d/ray-2.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl  # ray[debug]
- Python 3.8.5
- Linux ip-172-31-61-153 5.4.0-1043-aws #45~18.04.1-Ubuntu SMP Fri Apr 9 23:32:25 UTC 2021 x86_64 x86_64 x86

[2021-04-14 05:59] sheecegardezi commented on #15264
I was getting into similar problem. What I realized was on node the cmd

`$ ray start --address=xyz --redis-password='xyz' --block`

Needs to keep running so i experemented with adding & and it worked for me

`$ ray start --address=xyz --redis-password='xyz' --block &`

[2021-04-14 08:39] krfricke commented on #15227
New run results:

[code]

This happened after about 8 hours.

`gcs_server.err` is empty.

[2021-04-14 08:48] krfricke commented on #15224
This time the run succeeded - closing this

[2021-04-14 08:48] #15224 closed

[2021-04-14 08:48] malloc-naski opened #15291 "[sgd] LightningOperator help needed"
Hello, I'm trying to pretrain a BERT model on multiple nodes with RaySGD. This is [the script](https://github.com/NVIDIA/NeMo/blob/1b11678b2fed258715df09486ebf71a837d18464/examples/nlp/language_modeling/bert_pretraining.py) that I've been using for training on one node. As stated in [docs](https://docs.ray.io/en/master/raysgd/raysgd_ptl.html#quick-start), I should be able to convert the LightningM

[2021-04-14 09:22] kfstorm commented on #14727
@stephanie-wang Any thoughts about this?

[2021-04-14 09:27] krfricke commented on #15211
Session crashed last run, running again

[2021-04-14 10:04] krfricke commented on #15247
Thanks Alex for bisecting this. I'll try to find the client remote put calls regression.

[2021-04-14 10:06] krfricke commented on #15212
Confirmed it works (with 5 sec sleep):

[code]

Comparison with 1.2.0:

[code]

This looks close enough, so I'll close this and mark the test as passed. Please ping me if you think there's been too much of a regression here.

[2021-04-14 10:06] #15212 closed

[2021-04-14 10:08] AmeerHajAli commented on #15247
I wonder why `client: remote put calls  performance change rate:` performance dropped -83.7%? This looks fishy to me.

[2021-04-14 10:08] krfricke commented on #15214
Getting this at the moment:

[code]

but the test seems to be continuing still

[2021-04-14 10:25] krfricke commented on #15211
There seems to be a problem with placement group schedulement.

Currently, only one trial is running in parallel, but the cluster should have enough resources to run all of them (4) at the same time.

Cluster resources:
[code]

Available resources (one trial is running):
[code]

Notable excerpt:
[code]

But placement group table:

[code]

IMO the three pending placement groups should be able to sc

[2021-04-14 10:51] Matrix-World opened #15294 "An error reports when using Ray Java API to store data to ObjectStore"
I want to try to use Ray Java API in Spark program to store data in Ray ObjectStore, and then get the data through objectID in python. But after I packaged the spark program (scala) and executed it, the following error is always displayed. I don't understand the error very well.
The code is also shown below
Can you answer it? Looking forward to your reply.
-----------error------------
(base) [root

[2021-04-14 11:16] krfricke commented on #15247
Found the regression.

[4b4941435d42e5b7329388de137a590f376d18bb](https://github.com/ray-project/ray/commit/4b4941435d42e5b7329388de137a590f376d18bb):
[code]

[3a230fa1a439a7c6b56099d450faf5702ac5b4ae](https://github.com/ray-project/ray/commit/3a230fa1a439a7c6b56099d450faf5702ac5b4ae)
[code]

Relevant PR: https://github.com/ray-project/ray/pull/13919

cc @richardliaw

[2021-04-14 12:47] TanjaBayer commented on #13181
That's not really a possible solution for automatic deployment, we are automatically building our dockers so we would need to include a script which overwrites the log_monitor.py. I mean that is possible, but wold be a bit hacky :smile:

But this is happening now really often, has there been any changes on the 1.2.0 packages?

[2021-04-14 12:54] TanjaBayer commented on #13181
An interesting information might also be it for us it only happens after several hours (20+h), it did not yet see it appearing earlier.

[2021-04-14 13:10] altosaar commented on #13240
Ran into a similar issue. Torch could see the GPU but ray trials kept erroring out with 'CUDA not available' - very tricky to debug.

Changing the way the device was specified from `device = torch.device(0)` to `device = "cuda:0"` as in https://docs.ray.io/en/latest/tune/tutorials/tune-pytorch-cifar.html#adding-multi-gpu-support-with-dataparallel fixed it.

[2021-04-14 13:27] GiovanniGatti opened #15297 "[rllib] Assert agent_key not in self.agent_collectors"
### What is the problem?

After a couple of training iterations, the training job crashes with the following error:

[code]

Python version: 3.7.9
OS: ubuntu 18.04
Tensorflow version: 2.4.1
Docker: Docker version 20.10.3, build 48d30b5

Logs:
[error.txt](https://github.com/ray-project/ray/files/6311071/error.txt)
[70_driver_log.txt](https://github.com/ray-project/ray/files/6311073/70_driver_log.tx

[2021-04-14 13:29] GiovanniGatti commented on #15297
FIY this issues is being redirect from https://discuss.ray.io/t/assert-agent-key-not-in-self-agent-collectors/1489/6.

[2021-04-14 13:47] AmeerHajAli commented on #15182
@ijrsvt , should we close this?

[2021-04-14 13:56] altosaar opened #15298 "[tune] Port forwarding with ray tune dashboard - cannot access via ssh"
### What is the problem?
The ray dashboard is difficult to access with ray tune.

After reading the docs for some time to understand how to change the port, I added this line:
[code]
Before the call to `tune.run`. (The default port is blocked on the server I need to run on.)

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python 3
Ray 1.2.0
Unix

### Reproduct

[2021-04-14 14:30] devin-petersohn opened #15299 "ray.ClientRef.__eq__ does not check for identical object type"
### What is the problem?

`__eq__` throws Exception thrown: `AttributeError: 'int' object has no attribute 'id'`.

This happens in Ray Client.

*Ray version and other system information (Python version, TensorFlow version, OS):* latest

### Reproduction (REQUIRED)

[code]

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [x] I have verified my scr

[2021-04-14 14:30] devin-petersohn commented on #15299
cc @AmeerHajAli

[2021-04-14 14:56] krfricke commented on #15226
Last log on proper node:

[code]

[2021-04-14 14:57] krfricke commented on #15227
Latest run:

[code]

[2021-04-14 14:58] krfricke commented on #15226
Also for many ppo

[code]

[2021-04-14 15:10] ijrsvt commented on #15182
Yep!

[2021-04-14 15:10] #15182 closed

[2021-04-14 15:33] GiovanniGatti commented on #15297
The exception also raises with Ray 1.1.0
[70_driver_log.txt](https://github.com/ray-project/ray/files/6311915/70_driver_log.txt)

[2021-04-14 16:19] rkooo567 commented on #15266
Is it still applied after we use the pull based heartbeat report?

[2021-04-14 16:22] richardliaw commented on #15291
@amogkam is the right person to help here

[2021-04-14 16:31] amogkam opened #15300 "[Release] Long running Horovod Test fails due to Network connection"
The Long running Horovod Test does not run for a full 24 hours and fails after a few hundred iterations due to a network connectivity issue.

Full Stack Trace:
[code]

cc @richardliaw

[2021-04-14 16:34] richardliaw commented on #15300
Nice! How long did this actually take?

Do you know if this test was run in the last release?

[2021-04-14 16:36] richardliaw commented on #15288
Ah, thanks for reporting this, @pablete ! this seems like a bug.

What are you trying to do specifically?

[2021-04-14 16:39] krfricke commented on #15300
Seems to be around 20 minutes, right? Based on the last total time in seconds

[2021-04-14 16:40] amogkam commented on #15300
Yeah around 3 hours since only 1 is running at a time. I asked Alex whether this was run last release and I'll get back to you.

[2021-04-14 16:56] wuisawesome commented on #15266
I plan on fixing it in the new broadcast, but wanted to document it

[2021-04-14 16:57] rkooo567 commented on #13181
@TanjaBayer There was a bit of change in `log_monitor`. I think we can have a quick patch PR.

[2021-04-14 17:00] rkooo567 commented on #15247
Hey @richardliaw Do you take a look at this issue now?

[2021-04-14 17:00] GittiHab commented on #11521
Hey @EloyAnguiano, I don't remember why I wrote that `dm_control` should be required. I assume that I got an error when trying to run without. However, in my initial message, the environment `CartPole-v0` sounds like it is from the `gym` package so it might work without `dm_control`.

Did you try running without `dm_control`? Otherwise, just try following the installation instructions from [`dm_co

[2021-04-14 17:01] rkooo567 commented on #15227
Hey @krfricke Can you sync up with @iycheng and share the session with him?

[2021-04-14 17:01] rkooo567 commented on #15227
I think this is the issue; `Check failed: running_size >= pending_exit_idle_workers_.size() `.

[2021-04-14 17:02] richardliaw commented on #15247
I am taking a look right now, yes

[2021-04-14 17:02] rkooo567 commented on #15214
@krfricke I think it is the known issue, and we decided to not handle it. @wuisawesome should we just proceed?

[2021-04-14 17:03] richardliaw commented on #15300
Anyways, I would be OK with not blocking the release on this test.

[2021-04-14 17:06] rkooo567 commented on #15211
Hmm yeah this is odd. Is it possible to make a smaller scale script that we can reproduce it?

[2021-04-14 17:45] wuisawesome commented on #15214
wait no no no this isn't a known issue. @stephanie-wang fixed it iirc. We should pick the fix into the release branch.

@stephanie-wang do you know which PR's need to be picked?

[2021-04-14 17:51] krfricke commented on #15227
I shared the sesssion with @iycheng yesterday, here's the link: https://beta.anyscale.com/o/anyscale-internal/projects/prj_FAb6fgU2bM7EYqxF5XcNW/?

[2021-04-14 17:53] amogkam commented on #15300
OK looks like this was not run last release. I'm trying on Ray 1.2 right now just to make sure that this isn't a regression.

[2021-04-14 17:55] wuisawesome commented on #15214
Actually, I think it's just this: #15027

I'll add this to the tracker.

[2021-04-14 18:03] sven1977 opened #15305 "[core] Memory leak when using local simulated cluster (long_running_tests/workloads/apex.py)"
Latest ray master
Py3.7
Linux
p3.2xlarge

I'm observing a memory leak when running ray/release/long_running_tests/workloads/apex.py, but only when run on a ray.cluster_utils.Cluster with 3 nodes:
[code]

This is NOT due to the replay buffer of APEX growing (it set to only 10k and is already full when the leaking still continues).

The leak does not occur when I change the following inside: ray/rel

[2021-04-14 18:04] wuisawesome commented on #15227
Adding labels since this looks like a real bug.

@rkooo567 @iycheng I think y'all did the bulk of the work on adding new types of worker processes, any ideas?

@stephanie-wang looks like you added the check in #14578 any ideas?

[2021-04-14 18:06] rkooo567 commented on #15227
It’s probably a race condition. @stephanie-wang do you have time to take a look at this?

[2021-04-14 18:10] wuisawesome commented on #15305
Do you know what quantity `Memory usage on this node: 9.6/59.9 GiB` is referring to? `ray.available_resources()["memory"]`?

[2021-04-14 18:13] amogkam commented on #15214
#15027 has been picked. I can re-run the scalability envelope now.

[2021-04-14 18:42] wuisawesome commented on #15214
Will close once we confirm this works.

[2021-04-14 18:46] wuisawesome commented on #15226
Let's track this is #15305 for now we can reopen it if that doesn't fix it

[2021-04-14 18:46] #15226 closed

[2021-04-14 18:47] wuisawesome commented on #15305
@sven1977 can you run this on a real cluster and verify if this is a cluster utils issue?

[2021-04-14 18:47] amogkam opened #15307 "[Release] test_placement_group stress test fails"
Running `test_placement_group` workload fails with the following error:

[code]

[2021-04-14 19:16] joshuaathomas94 commented on #15264
Tried it, but didn't work, thanks anyways.

[2021-04-14 19:50] roark commented on #12504
Also experiencing with Ray 1.2.0 and Tensorflow 2.4.1, MacOS.  Example source code given replicates the bug for me.

[2021-04-14 19:51] #11936 closed

[2021-04-14 20:37] amogkam commented on #14485
We are reverting #14049 on the release branch but not on master.

When we make the new patch to fix this issue (https://github.com/ray-project/ray/issues/14485#issuecomment-804360374), we should also try to a unit test for this regression.

[2021-04-14 20:44] simon-mo opened #15312 "[Serve] handle.replicas() API"
A new API to list the replicas belong to the Serve deployment. Concretely:

[code]

[2021-04-14 20:45] edoakes commented on #15312
@simon-mo why do you suggest that this goes inside of the handle? In my eyes that has the abstraction reversed -- the handle should be an additional layer on top of `replicas` that load balances across them. That's how I expect users to use this -- they'll have their own `ServeHandle` implementation that takes in the replicas and decides how to route across them.

[2021-04-14 20:46] iycheng commented on #15227
I saw logs like this:

(raylet) [2021-04-14 04:02:35,308 E 10897 10897] worker_pool.cc:741: Failed to send exit request: IOError: 14: Cancelling all calls

And in the code, if it failed, it'll skip deleting it from the pending queue. https://github.com/ray-project/ray/blob/releases/1.3.0/src/ray/raylet/worker_pool.cc#L740-L743

To fix this I feel we probably need to treat this error the same as `s

[2021-04-14 20:51] edoakes commented on #14842
This can be automatically handled by Ray if we switch to directly making actor calls for each method instead of our current `handle_request` wrapper

[2021-04-14 20:52] #12536 closed

[2021-04-14 20:54] pablete commented on #15288
I am training a model that requires multi-gpu. The metrics are being calculated outside tensorflow on a metrics_supervisor/metrics_worker set of actors.  That set of actors keep the validation set loaded and receive model / model weights to compute the metrics.

Since this is computed using a Keras Callback, each tf worker on a multi-gpu setting will trigger the same call (ie tfw1, tfw2, tfw3, tfw

[2021-04-14 21:21] zhe-thoughts commented on #14485
And to add some more context (since there has been some iterations on whether this is a release blocker).

@ericl @robertnishihara @pcmoritz and I had more offline discussion. Based on that, we've decided to treat this issue as a release blocker for 1.3.

[2021-04-14 22:24] simon-mo commented on #12383
it should work now.

[2021-04-14 22:24] #12383 closed

[2021-04-14 22:32] amogkam commented on #15214
On the most up to date release branch, I'm now getting this for the distributed test:
[code]
Some of the test runs fine, but it errors out when trying to scale up to a 1000 nodes.

@wuisawesome any ideas here?

[2021-04-14 22:33] amogkam commented on #15214
The placement group, actor, and task tests all finish

[2021-04-14 22:36] rkooo567 commented on #15214
Oh @wuisawesome Isn't it the known issue?

[2021-04-14 22:36] wuisawesome commented on #15214
Not that I know of? @AmeerHajAli

[2021-04-14 22:41] amogkam commented on #15214
The test is just using `ray.autoscaler.sdk.request_resources` to scale up the cluster just fyi

[2021-04-14 22:42] AmeerHajAli commented on #15214
WTH, this should not happen,
CC @DmitriGekhtman , can you please help investigate this (this is a release blocker)?

[2021-04-14 22:42] rkooo567 commented on #15214
Can you quickly verify if this is happening in the master branch too?

[2021-04-14 22:43] amogkam commented on #15214
@rkooo567 yep I'm trying that now

[2021-04-14 22:46] DmitriGekhtman commented on #15214
@AmeerHajAli thanks for tagging me
The division by zero error probably means that there's a resource whose total across the cluster is 0.
The code should guard against this but it currently does not.

[2021-04-14 22:48] rkooo567 commented on #15214
@DmitriGekhtman Any guess why this happens now although we didn't see it from 1.2.0? (was there any change that cause this to the autoscaler?)

[2021-04-14 22:49] DmitriGekhtman commented on #15214
Not that I know of immediately.

[2021-04-14 22:51] DmitriGekhtman commented on #15214
It would be good to know what the resource "k" is here.

[2021-04-14 22:53] AmeerHajAli commented on #15214
Is there any chance you are defining one of the resources in the YAML as 0 ?

[2021-04-14 22:55] wuisawesome commented on #15214
This is the yaml: https://github.com/ray-project/ray/blob/master/benchmarks/distributed/config.yaml

[2021-04-14 22:55] amogkam commented on #15214
Ah yeah looks like the cluster.yaml is the culprit here. I'm seeing the same error on Ray 1.2

[2021-04-14 22:56] wuisawesome commented on #15214
There is a 0 CPU on the head node. I've run clusters with 0 CPUs many many times, but I guess regardless this is a latent bug that we need to fix.

[2021-04-14 22:56] rkooo567 commented on #15211
Okay. I think I can reproduce with this script.

[code]

One thing to note is that it only has 1 pending pg (not 4).

[2021-04-14 22:56] amogkam commented on #15214
Should this be set to 1 https://github.com/ray-project/ray/blob/master/benchmarks/distributed/config.yaml#L21 @wuisawesome @AmeerHajAli @DmitriGekhtman?

[2021-04-14 22:57] wuisawesome commented on #15214
@amogkam can you set it to 1 so that you can continue running the release test? We shouldn't commit a change that sets it to 1 though. We should just fix the bug.

[2021-04-14 23:00] rkooo567 commented on #15214
Yeah this is a critical bug if this is the root cause.

[2021-04-14 23:02] DmitriGekhtman commented on #15214
Head marked with zero CPU should be a normal thing.

Worker node type CPUs are be autofilled by bootstrap logic.

[2021-04-14 23:03] DmitriGekhtman commented on #15214
I'm not too familiar with resource demand scheduler logic, but I've seen this happen when all node types are marked with 0 for a given resource.

[2021-04-14 23:03] amogkam opened #15315 "[Autoscaler] Fails with 0 specified resources"
### What is the problem?
With a cluster.yaml has a resource specified as 0, the autoscaler errors out with a division by 0 error.

See https://github.com/ray-project/ray/issues/15214#issuecomment-819892157 for more info.

[2021-04-14 23:04] amogkam commented on #15214
I made an issue for this here https://github.com/ray-project/ray/issues/15315. This seems like it should be a release blocker, no?

[2021-04-14 23:08] DmitriGekhtman commented on #15214
Probably

[2021-04-14 23:11] DmitriGekhtman commented on #15315
taking a look

[2021-04-15 00:03] amogkam commented on #15214
This is now stuck at 999 nodes and not scaling up all the way to 1000. I changed value in https://github.com/ray-project/ray/blob/master/benchmarks/distributed/config.yaml#L21 from 0 to 1. Is that somehow affecting the scaling up to the 1000 nodes? Perhaps there is some max nodes or max CPUs being configured? cc @wuisawesome

[2021-04-15 00:04] amogkam commented on #15214
The docstring for `autoscaler.sdk.request_resources` says this
[code]
Could the internal bin packing algorithm be preventing full scale up to a 1000 nodes?

[2021-04-15 00:05] amogkam commented on #15315
We should also try to add a unit test for this

[2021-04-15 00:06] wuisawesome commented on #15214
What does `ray status` say?

[2021-04-15 00:07] amogkam commented on #15214
[code]

[2021-04-15 00:11] amogkam commented on #15214
@DmitriGekhtman any ideas on why the 1000th node is not starting up? Are there any more logs I can look at?

[2021-04-15 00:15] wuisawesome commented on #15214
I don't see any obvious issues, can you look at `monitor.*`?

[2021-04-15 00:21] amogkam commented on #15214
Hmm nothing looks out of the ordinary either

Last 100 lines of `monitor.log`
[code]

Last 100 lines of `monitor.err`
[code]

Last 100 lines of `monitor.out`
[code]

[2021-04-15 00:22] amogkam commented on #15214
OK let me shut down the cluster and try this again.

[2021-04-15 00:25] rkooo567 commented on #15211
@krfricke Sorry. Actually, it was my mistake (setting the wrong resources). The above script seems to work, and I cannot reproduce the issue.

[2021-04-15 00:26] rkooo567 commented on #15211
@krfricke Can you make sure all of gpu resources are not in the same node?

[2021-04-15 00:40] rkooo567 commented on #15211
So the problem is the head node has 8 gpus, and by the packing strategy, all of cpus on a head node is taken, meaning the next placement group that requires 1 CPU and 1 GPU are not schedulable.

[2021-04-15 00:41] DmitriGekhtman commented on #15214
That is odd.

[2021-04-15 01:04] sundy321 opened #15318 "How to use multi-gpu in tune"
### What is the problem?

*I have 2 gpu(2080ti), when I run tune, I found it only runs  on gpu-0 untill  out of memory fault.*

### Reproduction (REQUIRED)
`def runtune(**kwargs):
        opt.parse(kwargs)
        ray.init(num_gpus=2, num_cpus=48)

        msr = MedianStoppingRule(time_attr='training_iteration',
                                 metric='testacc',
                                 mo

[2021-04-15 01:07] DmitriGekhtman commented on #15214
For this release test, are we leaving the set-up command
`pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl`
in `config.yaml` as is?
That installs Ray master on the cluster.

[2021-04-15 01:08] amogkam commented on #15214
No I'm replacing it with the 1.3 wheels.

[2021-04-15 01:19] wuisawesome commented on #15247
@richardliaw assigning you for the ray client regressions

@rkooo567 assigning you since you own #15287

[2021-04-15 01:20] DmitriGekhtman commented on #15214
How's the scaling?

[2021-04-15 01:21] amogkam commented on #15214
It's at ~925 right now. It takes about an hour to get to 1000.

[2021-04-15 01:22] wuisawesome commented on #15214
I'll shepherd this on the core team side, assigning you to the autoscaler issues @DmitriGekhtman

[2021-04-15 01:23] amogkam opened #15319 "[Release] streaming_shuffle.py fails with core dumped"
Running streaming_shuffle release tests fails with a core dump.

[code]
For the 1.3 release we are running instead of streaming_shuffle
[code]
as mentioned in https://github.com/ray-project/ray/issues/15013#issuecomment-810570742.

However, for future releases we should either fix the streaming_shuffle.py release test, or update the release instructions to run `ray.experimental.shuffle` instead.

[2021-04-15 01:23] AmeerHajAli commented on #13711
@gramhagen @eisber, can we please have someone from azure look into this?

[2021-04-15 01:23] wuisawesome commented on #14485
#15287 should fix this in the release branch only. After that's merged, we'll downgrade this back to P1 (but it will be fixed in the release).

[2021-04-15 01:39] amogkam commented on #15214
OK this is able to scale to 1000 nodes now and is currently running the nodes test.

[2021-04-15 01:52] rkooo567 commented on #15214
@wuisawesome @DmitriGekhtman Is it exepcted to take an hour to scale to 1000 nodes? That sounds sketchy.

[2021-04-15 01:58] amogkam commented on #15214
Ok this ended up failing
[code]
@wuisawesome

[2021-04-15 02:11] devin-petersohn commented on #14857
@Bhavya6187 The best practices in mixing Modin and Ray code are to use Modin's developer tools.

[code]

Let me know how it goes!

[2021-04-15 02:28] ramicaza commented on #12742
@djoull could you potentially post a whl file for your build (I know this is a tall order so completely understand if you can't).

Also, could we know if the maintainers are making an effort to support apple silicon natively?  The hack I mentioned earlier in this thread works but it runs everything through rosetta 2 and it's sad knowing that my programs utilizing ray are running around 1.5-2x slow

[2021-04-15 02:50] Vickzhang opened #15322 "[dashboard]ray dashboard crashed"
dashboard of ray cluster crashed,  especially when logs become large. The web console log:

:8265/nodes?view=details:1 Failed to load resource: net::ERR_NETWORK_CHANGED
:8265/tune/availability:1 Failed to load resource: net::ERR_NETWORK_CHANGED
:8265/logical/actor_groups:1 Failed to load resource: net::ERR_NETWORK_CHANGED
:8265/nodes?view=details:1 Failed to load resource: net::ERR_NETWORK_CHANGED

[2021-04-15 02:51] rkooo567 commented on #15322
What's the OS you are using?

[2021-04-15 03:10] dotaking2021 opened #15324 "Is there an example on MADDPG with PettingZoo?"
### Describe your feature request
Is there an example on MADDPG with PettingZoo?

I saw there are two, but they are either on two-step world, or other non-pettingzoo environment.
For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-15 03:11] rkooo567 commented on #14485
Hey @ericl IIUC, we print the exception when the object ref is deleted right? I think the root cause of the exception not being printed is because ipython doesn't GC object reference (it has internal reference to the object reference forever). The reason why it works only for python interactive shell is because python shell only stores the latest ref in the `_` variable. For example,

[code]

[2021-04-15 03:28] amogkam commented on #15214
I tried it again and got the same error
[code]

This is the output of `ray status` during the run
[code]
It looks like all the CPUs are being recognized by Ray correctly, but just not being utilized. Perhaps some change in scheduling is causing this?

I also see this printed out occasionally during the run
[code]
so perhaps this is what's causing the limited parallelism. Though I'm not sure why wo

[2021-04-15 03:30] amogkam commented on #15214
Here is the test that's being run for reference

[code]

[2021-04-15 05:54] jennakwon06 opened #15327 "[dask on ray] Dask persist's scheduler parameter doesn't work well with `ray_dask_get`"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

It's a Ray autoscaling cluster that installed ray with `pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl`.

[code]

### Reproduction (REQUIRED)

#### SCRIPT

[code]

#### OUTPUT OF RUNNING SCRIPT ON CLUSTER

[code]

##

[2021-04-15 05:58] rkooo567 commented on #15327
cc @clarkzinzow Isn't this issue fixed by https://github.com/ray-project/ray/issues/14227?

[2021-04-15 06:04] iycheng commented on #15227
@krfricke the fix has been cherry-picked to 1.3. Could you please help rerun the test to make sure it's ok?

[2021-04-15 06:22] kiranikram opened #15328 "[rllib]AttributeError: 'TorchSharedWeightsModel' object has no attribute 'var_list'"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray version 1.2.0
python version 3.7.6

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments

[2021-04-15 06:29] Vickzhang commented on #15322
ubuntu 16.04,
ray version:  1.1.0
num of nodes:  8 nodes (local server).

[2021-04-15 07:07] sven1977 commented on #15305
Actually, not sure. The Memory usage printed is the tune.run output. @krfricke @richardliaw ?

[2021-04-15 07:07] sven1977 commented on #15305
[code]

Will do! Thanks for looking into this @wuisawesome !

[2021-04-15 07:23] Zarca opened #15331 "Where is the CLASS io.ray.runtime.generated.Common.WorkerType?"
Hi, I'm puzzled about where to find out the io.ray.runtime.generated.Common.WorkerType? and
even the package   io.ray.runtime.generated dose not exist in the source directories.
Do i have to run any script in order to generated those jar or classes ?
Look up to your help :)

[2021-04-15 07:42] amogkam commented on #15227
I'm re-running this with @iycheng PR picked into the branch.

[2021-04-15 08:08] wegfawefgawefg commented on #12940
This issue isnt correct.
I've verified my observation space is correct, and have tried both float32 and float64 casting on the returned observations from my env. Ive widened the observation state to absurd numbers to ensure it couldnt be exceeded, as well.

If I had to guess, the issue may have something to do with checkpoint loading. Does checkpoint loading pull in the old obs space settings?

[2021-04-15 08:09] amogkam commented on #15227
It failed again with the same error that @krfricke got, except this time after less iterations
[code]

[2021-04-15 08:10] amogkam commented on #15227
I shared the project with you @krfricke @iycheng. It's the most recent session.

[2021-04-15 08:13] clarkzinzow commented on #15327
In the traceback, it looks like you aren't passing `scheduler=ray_dask_get` to the `.compute()` call, which is required for the persisted Ray objects to get resolved.

[code]

Without telling that `.compute()` call to use the Dask-on-Ray scheduler (either explicitly as a kwarg or via the Dask config), it will try to use the local multithreaded Dask scheduler which doesn't know how to handle the Ra

[2021-04-15 08:16] wegfawefgawefg commented on #4668
Can I just disable bounds checking? I've seen like 5 different posts of this issue, and it's version dependent.

[2021-04-15 08:19] fyrestone commented on #15267
I the `new_dashboard symlink to ..\..\dashboard` breaks ray build on Windows?

[2021-04-15 08:29] amogkam commented on #15247
I tried this again on the most up to date release branch and am getting these results
[code]

[code]

@rkooo567 looks like merging #15287 did not do the trick. multi client put still has ~12% performance regression.

[2021-04-15 08:30] amogkam commented on #15247
Actually @wuisawesome I'm not able to replicate your results. I tried `pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/master/3ffe375a095f1fc2547c2ca6f12663f52c001c53/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl`

and am still getting
[code]

[2021-04-15 08:35] amogkam commented on #15247
Also shouldn't `1:1 actor calls async` and `multi client tasks async` also be a concern?

[2021-04-15 09:16] Manuscrit commented on #12861
Instead of overriding `policy.compute_action` you could to override `policy._compute_action_helper` to have your change be used by both `policy.compute_actions` and `policy.compute_actions_from_input_dict`.

Related to @angelolovatto

To have your `extra_fetches` sent into the `sample_batch` you can add the keys you want in the `policy.view_requirements` like that:
[code]

Otherwise your new extra

[2021-04-15 11:18] craftsliu opened #15333 "[rllib] I couldn't train atari-apex task in my enviroment"
### What is the problem?
I couldn't train atari-apex task in my enviroment
`2021-04-15 18:04:49,558 ERROR trial_runner.py:616 -- Trial APEX_BreakoutNoFrameskip-v4_c1440_00000: Error processing event.
Traceback (most recent call last):
  File "/root/miniconda3/envs/ray1.0/lib/python3.7/site-packages/ray/tune/trial_runner.py", line 586, in _process_trial
    results = self.trial_executor.fetch_resul

[2021-04-15 11:35] craftsliu commented on #15333
target_network_update_freq: 50000ls
    timesteps_per_iteration: 25000

[2021-04-15 11:35] #15333 closed

[2021-04-15 13:38] DmitriGekhtman commented on #15214
I see now why this is happening.

See comment here:
https://github.com/ray-project/ray/pull/15323#issuecomment-820424524

The fix for the config yaml is to set the head node type's max_workers to 0.

[2021-04-15 13:46] #15299 closed

[2021-04-15 13:58] gduvauchelle commented on #10154
Hello,

We have a shared on-premises cluster managed by Slurm. Most of the time, Slurm starts multiple ray nodes at the same time on one physical machine, and I get the same exception as in this issue. I tried different combination of parameters related to ports but it did not work. It still does not work with the latest dev wheel.
This bug is reproducible on a laptop by lanching two ray nodes at

[2021-04-15 13:58] AmeerHajAli commented on #14857
@Bhavya6187 , I am closing for now since there is no clear action item here. It seems like the issue is in how the example provided is mixing Modin and Ray.

[2021-04-15 13:58] #14857 closed

[2021-04-15 14:12] jonas27 commented on #14140
@jan-petrak can I ask why you closed it again? I think it is probably the  expected behavior from ray tune, but how can we still store data in memory to be accessible after the runs?