[2021-04-15 15:11] #11395 closed

[2021-04-15 15:20] krfricke commented on #15214
Running this now with updated cluster config

[2021-04-15 15:30] Zarca opened #15336 "Can Java SDK help to connect to an existing Ray cluster ?"
Hi,
I'm wondering that can the Java api like Ray.init() help to
connect to an existing Ray cluster  which may has been launched by command like `ray start`
before we run Ray.init() in our java Program.

[2021-04-15 15:50] philippeboyd commented on #14990
I have the same issue but with 1.2.0; not with nightly.

[2021-04-15 16:15] amogkam commented on #15300
This also fails with the same error after a few hours on 1.2

[2021-04-15 16:29] rkooo567 commented on #15247
Hmm @wuisawesome @amogkam can you guys try bisecting again to isolate the commit?

[2021-04-15 16:54] amogkam commented on #15247
Yep I can bisect this

[2021-04-15 16:57] jan-petrak commented on #14140
@jonas27 Not sure what you mean by "again", but I closed it because I realized Tune runs each trial in a new process. So, if we change the value of a global variable, it is changed only in that process (trial).

I guess, whatever data you wish to access after the runs need to be contained in the returned dictionary.

[2021-04-15 17:03] angelolovatto commented on #12861
Thank you @Manuscrit! I didn't notice the filtering step in sampler.py; that is very interesting. I'll try it out when I get the chance and see if the results appear in my sample batch.

[2021-04-15 17:18] stephanie-wang commented on #15305
@amogkam FYI I'm removing the release blocker tag because @sven1977 confirmed it's working on a physical cluster. Seems to be a problem only for Ray developers.

[2021-04-15 18:18] Bhavya6187 commented on #14857
@devin-petersohn I can work with this! Thanks a lot for the advice.

[2021-04-15 18:35] amogkam opened #15339 "[Release] Long running APEX test fails"
Long running Apex test fails on the releases/1.3.0 branch with the following error:
[code]

I modified the test to use local ray.init() instead of the Cluster util as suggested by @sven1977
[code]

[2021-04-15 18:42] fcardoso75 commented on #15267
The streaming symlink to ..\..\streaming\python breaks the build on Windows, but the others are not working properly either since they are created as file symlinks instead of directory symlinks (that difference exists on Windows).

[2021-04-15 18:48] Marcus-Anestad commented on #6991
I ran into this issue when using ray tune. The problem was that I was not returning anything from my custom gym.Env reset() function. It needs to return the initial observation

[2021-04-15 18:58] DmitriGekhtman opened #15342 "[autoscaler] Local node provider doesn't work"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Local node provider support has been ignored for a while and currently does not work.

See e.g.
https://discuss.ray.io/t/worker-nodes-not-available-with-manual-configuration/1743
https://discuss.ray.io/t/local-cluster-with-multiple-nodes-in-yaml-config-while-theres-only-head-being-starte

[2021-04-15 19:10] edoakes commented on #14944
@simon-mo this should be closed now right?

[2021-04-15 19:16] mehrdadn commented on #15267
Have you enabled symlinks? `git config --local core.symlinks true`

[2021-04-15 19:17] #14944 closed

[2021-04-15 19:17] mehrdadn commented on #15267
Sorry I just saw that in your question

[2021-04-15 20:34] jonas27 commented on #14140
Yeah, but u can actually run it as a single process for debugging or so with `ray.init(local_mode=True)`.
I got it solved using a remote class, see [here](https://stackoverflow.com/a/62768456/6640073)
Not sure why the there are so many function calls, the class was enough for me.
[code]
then
[code]
Something like that anyway...

[2021-04-15 20:58] #15201 closed

[2021-04-15 21:20] #11991 closed

[2021-04-15 21:29] richardliaw commented on #15300
OK I am ok with removing the release blocker and moving this to P1

[2021-04-15 21:42] rkooo567 opened #15346 "Stop spamming driver with dashboard agent failure logs."
### What is the problem?

If dashboard agent is failing to start because the wrong port is allocated, it is dead and restarted infinitely by raylet, which causes lots of spam messages to driver. We should change the dashboard agent port if it fails to be bounded.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce t

[2021-04-15 21:44] fcardoso75 commented on #15267
Tagging @pcmoritz

[2021-04-15 22:24] philippeboyd commented on #9653
This is still not working with 1.2.0 and even nightly 2.0.0.

Am I to conclude that Ray is unusable on GCP?

[2021-04-15 22:31] rkooo567 commented on #15327
@jennakwon06 Does @clarkzinzow comment resolve your issue?

[2021-04-15 23:01] mbrunecky opened #15347 "[windows] ray.init() hangs"
Trying the very basic:
python
import ray
ray.init()
2021-04-15 16:26:25,113 INFO services.py:1172 -- View the Ray dashboard at http://127.0.0.1:8265
and **the command hangs**.
There is no response on http://127.0.0.1:8265 (127.0.0.1 refused to connect), and I have to manually kill up to 8 python processes.

Using ray.init(local_mode=true) results in the same **hangup**, and there is no dashboard e

[2021-04-16 00:01] DmitriGekhtman opened #15348 "[autoscaler][aws] Refactor _check_ami to work with available node types"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Subset of
https://github.com/ray-project/ray/pull/15108

This makes `ray up aws/example-full.yaml` fail with AWS accounts based in certain (most?) regions.
See this discussion:
https://discuss.ray.io/t/cannot-copy-ami-ami-0a2363a9cff180a64/1720

### Reproduction (REQUIRED)
Please provide

[2021-04-16 00:09] DmitriGekhtman commented on #15348
Actually, maybe part of the the right fix here would be to change `ImageId` in our example configs to `latest_dlami`  which is autofilled to the right thing.

[2021-04-16 01:09] amogkam commented on #15339
After the including this hotfix (https://github.com/ray-project/ray/commit/8ed3de051147b559f296b8f697eb6839145f6e38) I'm not getting this error anymore.

However, I had to change the test to use less workers since I believe #15295 introduces CPU reservation for replay buffer shards. So on a 8 CPU machine it's using 1 CPU for driver + 4 for replay buffer shards + 3 workers.

The full code for the t

[2021-04-16 01:42] ssiegel95 commented on #15128
I started the same behavior on a cluster-manager k8s deployment. It started happening within the past week. In my case the worker pods are killed and the tasks never completes. I'll see if I can come up with a simple test case that reproduces it. Currently my code is a little involved (reading from an s3 object store, etc.).

[2021-04-16 02:01] zzchuman opened #15350 "random seed"
Hello, I use the rllib to train my model and I want to repeat my experiment results.
So, I set the random seed as:

torch.manual_seed(42)
np.random.seed(65)

 trainer = DQNTrainer(env="3x3grid", config={
        "framework": "torch",
        "seed": 42,
}

[2021-04-16 02:44] jennakwon06 commented on #15327
Hey @clarkzinzow  - thanks for commenting!

That makes sense. It's strange though since this definitely works for a Ray cluster installed with `pip install -U ray`. Does this mean there's a difference in behavior between the nightly wheel and the official wheel?

[code]

Output

[code]

[2021-04-16 03:15] mbrunecky commented on #15347
Couple more hours later (and testing on 2 more machines):
I managed to find the Ray log on windows by forcing it to --temp-dir=\TEMP. And that (after several misleading errors) told me that dashboard is disabled on Windows.
Per "Dashboard agent broken in 1.2.0 release candidate #14026" it was apparently disabled, but nobody changed the message
-- View the Ray dashboard at http://localhost:8265
to

[2021-04-16 04:17] wuisawesome opened #15351 "Port internal KV to GCS Client"
Internal KV is effectively used across the autoscaler, python API and dashboard. Some of these directly instantiate a python redis client instead of using the internal KV API.

After this point, the autoscaler, dashboard, and internal kv should only use GCS client and never use redis directly.

[2021-04-16 04:20] wuisawesome opened #15352 "core worker/raylet only use GCSKVClient for redis KV operations"
The C++ GCSClient which is used in the core worker and raylet currently contains a redis client. Instead of using the redis client, we should use the internal kv accessor only.

[2021-04-16 04:23] wuisawesome opened #15353 "Python workers should only use GCS Client"
Currently, the python worker directly uses redis. This is mostly for

1. Bootstrapping
2. Function table

We should replace these uses (and any other ones) with the GCSClient instead.

After this, we should only be using the redis client for pubsub operations, and getting the address of gcs server from redis.

[2021-04-16 04:25] wuisawesome opened #15354 "ray.init address should take gcs address instead of redis address"
In order to remove redis, users should provide gcs_server's address instead of redis's address.

Note: This depends on all other uses of redis clients to be removed first.

[2021-04-16 04:30] clarkzinzow commented on #15327
Hmm that _is_ weird, and shouldn't be the case. If a global or context manager config isn't set, you using the `ray_dask_get` scheduler for the persist and not for the compute should usually fail. 🤔 And you're sure that the returned value from`.compute()` is correct, that the object refs are replaced with their concrete values? I'm wondering if it could have been failing silently before.

[2021-04-16 04:30] wuisawesome opened #15355 "Move C++ Pubsub off of redis"
Currently, GCSPubSub is backed by redis. Instead, we should move it to use `src/ray/pubsub`. The GCS Server process should be the broker.

After this,

* actor table
* job table
* worker table
* node table

should no longer use redis.

[2021-04-16 04:34] wuisawesome opened #15356 "Move python pubsub off of redis"
Currently, python workers directly use a redis client to use redis pubsub. Instead, we should have a python wrapper for `src/ray/pubsub`. For now, gcs_server should be the broker.

After this, we should no longer use the python redis client's pubsub functionality. We'll need to change the following components:

* Logging (log monitor and worker)
* Importer thread
* Reporter agent

[2021-04-16 04:36] wuisawesome opened #15357 "Move C++ lang worker off of redis"
TODO: Scope this

[2021-04-16 04:36] wuisawesome opened #15358 "Move java lang worker off of redis"
TODO: Scope this

[2021-04-16 04:38] wuisawesome opened #15359 "GCSKVManager in-memory implementation"
Currently the KVManager is a thin wrapper around a redis client. Instead, we should implement a simple in-memory version.

[2021-04-16 04:52] jennakwon06 commented on #15327
I notice this line `Result from persist = {('ones-06ea498ec1b2d91dc63036887fc5bebd', 0): array([1., 1., 1., ..., 1., 1., 1.])}` which is an output from `print("Result from persist = {}".format(dask.base.collections_to_dsk([dask_arr_persisted])))`. This output does not have `ObjectRef` which is explained in https://docs.ray.io/en/master/dask-on-ray.html . So could it be that `persist`'s scheuler ar

[2021-04-16 06:58] architkulkarni opened #15360 "[Core] override_environment_variables reuses old processes with wrong envs"
### What is the problem?
[code]

In this example, when running `g` it appears that Ray incorrectly reuses the worker process created for `f`, which retains the environment variables for `f`.  This seems to happen when there are no environment variable overrides provided, so it goes into this code path where it "pops the most recent worker": https://github.com/ray-project/ray/blob/master/src/ray/ra

[2021-04-16 07:35] jonathn opened #15362 "Documentation error: Specifying cross-language `code_search_path` in python"
### What is the problem?

Ray version 1.2.0 and 'master'.

On the cross-langage docs page,
(https://github.com/ray-project/ray/blob/master/doc/source/cross-language.rst)
the 2 examples of specifying the `code_search_path` under python seem to be wrong..
[code]
..eg. when trying the first example, the JVM gets started in the background with the following option:
[code]
This causes havoc because the

[2021-04-16 07:53] jovany-wang commented on #15355
@wuisawesome  Does these work items break the `subscribe` usages in core worker?
We have some internal changes which depends on `subscribe()` in core worker.

[2021-04-16 08:02] jovany-wang commented on #15362
@jonathn Thanks for reporting this.

I guess the PR #12102 fixed the above issue.

You can refer this line:
https://github.com/ray-project/ray/pull/12102/files#diff-8519cdbd4dfe5ea26233b8af79e34dad0d245535cd6cf03bcf40dc2bd07bf1d1R44

[2021-04-16 08:39] george-skal opened #15363 "[rllib] Error with centralised critic PPO for multiagent env (pettingzoo waterworld)"
Hi!
I am using ray 1.2.0 and Python 3.6 on Ubuntu 18.04

I am trying a centralised critic PPO for the waterworld environment from Pettingzoo[sisl] [https://www.pettingzoo.ml/sisl/waterworld](url).

The error I get is:

but if I try (out of curiocity) to double the shape dim in the layer one setting:

`opp_obs = tf.keras.layers.Input(shape=(2*opp_obs_dim, ), name="opp_obs")
`

I get the error:

tha

[2021-04-16 11:07] vuoristo commented on #12453
For anyone who runs into this issue: I don't think this is explicitly documented anywhere but you can get around it by making sure you return the full path to your checkpoint, not just the checkpoint dir in `save_checkpoint`. E.g.

[code]

Not
[code]

[2021-04-16 11:07] jonas27 commented on #10571
@sumanthratna did you figure it out eventually?
I am trying with the below code but it doesn't work. @richardliaw  do you have any suggestions?
[code]

[2021-04-16 11:19] vuoristo opened #15367 "[tune] Lists of lists in grid_search break get_trial_checkpoints_paths"
_Originally posted by @karstenddwx in https://github.com/ray-project/ray/issues/12453#issuecomment-755284216_

It appears that the paths are not escaped in `TrainableUtil.get_checkpoints_paths`, which breaks the globbing.

[2021-04-16 12:02] krfricke commented on #15211
With #15338 this test now runs. We're 3 hours in and about 25% of the total timesteps. Expected runtime 12 hours. This seems too much compared to the comment in the file, which indicates 100 minutes/1.5 hours. cc @sven1977 is the comment in the file correct or off by one order of magnitude?

[2021-04-16 12:02] krfricke commented on #15247
Running bisect now

[2021-04-16 13:34] polyzer commented on #14477
Hello) I have similar error. But in my case there is Nan here:
 File "C:\Users\user\anaconda3\envs\ray\lib\site-packages\ray\rllib\contrib\alpha_zero\core\alpha_zero_policy.py", line 90, in compute_actions_from_input_dict
    mcts_policy, action, tree_node = self.mcts.compute_action(
  File "C:\Users\user\anaconda3\envs\ray\lib\site-packages\ray\rllib\contrib\alpha_zero\core\mcts.py", line 150, in

[2021-04-16 13:49] clarkzinzow commented on #15327
Ah! I don't think that `.persist()` was supported yet in Dask-on-Ray in the last release, so `.persist()` was equivalent to a `.compute()`! That's why you aren't seeing any object ref futures inlined in the Dask collection, it's computing and materializing the actual concrete values and inlining them.

[2021-04-16 15:18] sumanthratna commented on #10571
Hi @jonas27, what's not working? I think it works as expected on my machine:
[code]

![matplotlib output](https://python3-5-code.trinket.io/python3-generated/cy3tbj4i/trinket_plot.png)

From a glance, the bar graph looks reasonable but if you want to be sure, you can change the x-axis to be `lg(x)` and you should see a uniform distribution

P.S. you might want to post on the Ray forum: https://dis

[2021-04-16 15:28] mbrunecky commented on #15347
It would be nice if documentation mentioned that on Windows, the logs (and everything else) end up in
C:\Users\<username>\AppData\Local\Temp\ray\*.
That said, after couple more switches between Ray 0.8.1 (required by Spacy) and Ray 1.2.0, my 'hanging' problem went away. Unfortunately, I still can not use Ray:
Under 0.8.1 I get the 'can not allocate port' #9116 (it would be nice IF there was some s

[2021-04-16 16:12] krfricke commented on #15247
Here seems to be a regression:

[code]

Relevant PR: https://github.com/ray-project/ray/pull/14345

[2021-04-16 16:24] vakker opened #15369 "[rllib] Torch policy multi-gpu raises error"
### What is the problem?

Running a simple example raises:
[code]

It might be related to #14709

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python: 3.8
Ray: cecfc3b43
OS: Ubuntu 20.04

### Reproduction (REQUIRED)
[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with t

[2021-04-16 16:29] edoakes opened #15370 "[serve] Separate warning messages for waiting for the cluster to scale and waiting for backend to initialize"
This will help users to understand the behavior much better. We can distinguish between the two by waiting for the placement group to be ready and waiting for the `ready_check` object ref to be ready.

[2021-04-16 16:36] jonas27 commented on #10571
@sumanthratna and I thought you wanted to sample on log_2 scale, so 2, 4, 8... Until 32.
Maybe I understood the feature request wrong. (But if you know how to do it, I would be grateful).
Atm I sample from ranint and then take that 2^x, but as you said it would be nicer to sample from the exp function directly.

[2021-04-16 16:41] #15367 closed

[2021-04-16 16:45] ijrsvt commented on #15247
@krfricke That PR was reverted because it broke memory detection for Docker & K8s clusters. (See #14556)

[2021-04-16 16:46] sumanthratna commented on #10571
Oh right, I should have re-read my original feature request more clearly :)) @richardliaw I don't think qloguniform would work for the batch size example in the original post; do you think we should add a `expuniformint` sampler? I *think* it's the same as just sampling from a geometric distribution

[2021-04-16 17:20] #15315 closed

[2021-04-16 17:28] jonas27 commented on #10571
I think it would be cool, then all results and tensor board graphics etc.
would be "correct". I also can't imagine that we are the only ones sampling
from exp distribution...

On Fri, Apr 16, 2021, 18:46 Sumanth Ratna ***@***.***> wrote:

[2021-04-16 17:37] architkulkarni opened #15371 "[Core] Cache workers in worker pool using RuntimeEnv as key"
Currently a new process is started whenever RuntimeEnv is active, which is slow.

Be sure to fix https://github.com/ray-project/ray/issues/15360.

Most of what needs to be done is here: https://github.com/ray-project/ray/pull/15253
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-16 17:38] architkulkarni opened #15372 "[Core] Add dynamic conda environment.yaml installation in RuntimeEnv"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-16 17:39] architkulkarni opened #15373 "[Core] Enable dynamically installing pip packages using RuntimeEnv"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-16 17:41] architkulkarni opened #15374 "[Core] Support setting RuntimeEnv from @ray.remote decorator"
Currently it can only be set from `.options` for actors and tasks, but the Ray API specifies that the arguments in `.options` should be identical to those in `@ray.remote()`.
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-16 17:42] architkulkarni opened #15375 "[Core] Support setting worker environment variables in RuntimeEnv"
We should also deprecate `.options(override_environment_variables={...})` for actors and tasks.
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-16 17:52] ssiegel95 commented on #15128
I created the same deployment on a docker-desktop k8s instance (version 1.16) and everything worked fine. There are no heartbeat warnings, I get expected number of autoscaled workers, etc. In my [previous comment](https://github.com/ray-project/ray/issues/15128#issuecomment-820846709) I was deploying on IBM's Kubernetes Service (1.18.17). Is there any information on reported issues per platform av

[2021-04-16 18:00] wuisawesome commented on #15211
@krfricke are you doing the `num_cpus=56` on the head node?

[2021-04-16 19:09] krfricke commented on #15211
Yes. The tests are running fine (and the trials run in parallel), just the total run time seems too high. @sven1977 is looking into this

[2021-04-16 20:27] #10466 closed

[2021-04-16 20:47] jennakwon06 commented on #3988
Can we reopen this? Having the same issue as @mattdornfeld

[2021-04-16 21:02] rkooo567 commented on #15247
I think 26907b7708f44a2c07603d0ac04b30c094e7afa3 should be a noise. It only changes Ray Java code.

[2021-04-16 21:21] gramhagen commented on #13711
why do we use the rayproject/ray-ml docker image here? is it to leverage the same image across all cloud deployments?

[2021-04-16 21:33] AmeerHajAli commented on #13711
Cc @ijrsvt

[2021-04-16 21:50] omnific9 commented on #13711
Can we have this looked at please? Learning Ray on the first day because of all the hype, but I keep getting error after error due to version mismatches and other undocumented reasons is quite discouraging.

[2021-04-16 22:20] ijrsvt commented on #13711
Yes, to have a consistent set of dependencies with Ray!

@richardlin047 , @omnific9
Try setting `setup_commands: []`.

Ray autosets `setup_commands` if they are not already set. This behavior is changing to something that will not break inside docker in Ray 1.3 (coming out soon).

[2021-04-16 22:30] AmeerHajAli commented on #13711
@gramhagen , do you know who is maintaining this from Azure size?

[2021-04-16 22:44] crazy25000 commented on #11287
Any update on this?

[2021-04-16 22:46] yuduber opened #15378 "[core] ray client not idempotent, causing tests to fail when used together with horovod"
### What is the problem?
when ray is shutdown, horovod class need to be nuked, otherwise next time when it starts, it will pickup expired class attribute set by previous ray / horovod run.

This cuase issue in unit tests where ray cluster / horovod ray executor repeatedly bring up and shutdwon

The RC is here:
below func_cls is our horovod class, it is attached with an RAY_CLIENT_MODE_ATTR attribu

[2021-04-17 01:12] DmitriGekhtman commented on #15128
I observed this on both GKE and EKS -- don't recall version info off the top of my head.

I'll debug this in the near future.

[2021-04-17 03:03] gramhagen commented on #13711
@eisber and I will help as much as we can from Azure side, but I'm not actively following all issues, so feel free to ping me when something pops up.

Since the goal is to use docker, leveraging the dsvm image isn't that useful, other than the fact that it already has docker installed, but the ubuntu user isn't part of the docker usergroup and I don't think there's any easy way to switch groups fr

[2021-04-17 04:20] mehrdadn commented on #15267
@fcardoso75 I just remembered something. Did you set `core.symlinks` to `true` **BEFORE** cloning the repo, or after? It might be too late to do it after cloning... see [here](/bazelbuild/bazel/issues/5437#issuecomment-605533843).

[2021-04-17 06:46] fcardoso75 commented on #15267
@mehrdadn:

@pcmoritz and I git set core.symlinks = true BEFORE checking out the repo in our machines. I happened to clone it more than once to ensure I didn't make a mistake.

[2021-04-17 07:27] fcardoso75 commented on #15267
Here it is what I see after I git clone the repo (I removed the extra dir information which would only clutter the output):
[code]

And if we run these commands on Powershell:

[code]

Notice that the symlink swere created as Archive symlinks and not as Directory symlinks. Perhaps it is a git for Windows bug, maybe the original Unix links were created in a way that Windows doesn't support, there c

[2021-04-17 07:29] mehrdadn commented on #15267
Could you paste the `git clone` command you're running similarly (with the surrounding text)?

[2021-04-17 07:31] fcardoso75 commented on #15267
[code]

[2021-04-17 07:31] mehrdadn commented on #15267
Strange. And this is plain Git for Windows, right? not MSYS or Cygwin or something like that?

[2021-04-17 07:35] fcardoso75 commented on #15267
That's correct.

[code]

[2021-04-17 07:35] mehrdadn commented on #15267
I feel like this shouldn't matter unless you're using MSYS2 somewhere, but try running `Set MSYS=winsymlinks:native`?

[2021-04-17 07:35] mehrdadn commented on #15267
(Then clone/checkout again)

[2021-04-17 07:37] fcardoso75 commented on #15267
I don't think that wouldn't help in my case. I don't use mingw or cygwin

[2021-04-17 07:39] mehrdadn commented on #15267
Yeah I realize it shouldn't matter, but I just checked git-for-Windows's source code and I think it might matter anyway. See [here](/git-for-windows/git/commit/3d1cd831f1fe86e1924c1a967b383191d930b01c).

[2021-04-17 07:40] mehrdadn commented on #15267
I'm guessing you wouldn't notice this in CI because it's already running under MSYS2, so the `MSYS` environment variable would already be set. And I always have this set locally, so it doesn't matter for me. But for other people who go straight from the command prompt or PowerShell, I guess it would matter.

[2021-04-17 07:58] fcardoso75 commented on #15267
I think I might have solved the problem (without my script). I upgraded my git for Windows to the newest version (2.31.1), git cloned ray again and the symlinks were already correct. I'm running a build now.

[code]

[2021-04-17 08:00] mehrdadn commented on #15267
Huh, interesting. That means you didn't set `MSYS` after all, right?

[2021-04-17 08:04] fcardoso75 commented on #15267
No, I did not, but I see that git for Windows comes with a mingw environment. I don't know if git uses it or just makes it available for the users, but it is present at C:\Program Files\Git\mingw64

[2021-04-17 08:06] mehrdadn commented on #15267
Oh I think that's some minimal environment just to support its own internal scripts, since git uses shell scripts for some tasks.

Looking through their repo, it seems this is something they added support for recently [here](/git-for-windows/git/pull/3147/commits/95a1de263958878e3dfffa9251f48dc75e442ccc), so that explains why your upgrade worked!

[2021-04-17 08:54] fcardoso75 commented on #15267
It worked on my machine.
I will ask @pcmoritz to do the same on his machine before closing this issue.

[2021-04-17 09:01] mehrdadn commented on #15267
I actually would suggest getting rid of symlinks in any case if there's enough interest. I was hoping to do this myself when I was porting Ray to Windows, since I did expect people to run into issues with it eventually and because in general symlinks and version control don't mix very well, but I imagined it would be low priority for everyone, so I didn't bother. But I think it wouldn't be a bad i

[2021-04-17 09:04] fcardoso75 commented on #15267
I think that would be a good idea. I'm very new to ray, but I don't see many benefits in using symlinks in the source tree.

[2021-04-17 10:24] gyin-ai opened #15383 "Ray Serve single backend memory management"
When I run a large model (>1GB) in macOS, the backend can be initialized without any problem. However when I tried to run it in a docker container. It would crash into duplicating a lot of processes and the memory cap is close to ~800MB. How can I control the memory for one backend? Thanks.

[2021-04-17 10:43] #15383 closed

[2021-04-17 11:38] mvindiola1 commented on #15363
Hi @george-skal,

Thew issues is in `centralized_critic_postprocessing`. The SampleBatch `concat_samples` is concatenating in the batch dimension.

[code]

This should do the trick:
[code]

[2021-04-17 14:03] mvindiola1 commented on #14968
Hi @duburcqa

Perhaps I am kissing something but looking at the code I do not see an issue. I will not clip to - 1,1 but actionspace.low and actionspace.high. That could be - 1,1 or any other pair of values defined by the environment. I think it makes sense to enforce that the unsquashed action is within the bounds of the action space. Where you seeing or thinking something different?

[2021-04-17 14:07] yangysc opened #15385 "[rllib]New sample_batch api is not compatible with the Dict observation"
### New sample_batch api is not compatible with the Dict observation
*Ray version and other system information (Python version, TensorFlow version, OS):*
- Ray: latest commit cecfc3b43b7a1a7ec4398645556ef64c21704ea8
- Python: 3.8
### Reproduction (REQUIRED)
**Update:**
After digging, the problem can be found when we have a ModelV2 model (a) inside a ModelV2 model (b), which means
when the forward

[2021-04-17 15:38] duburcqa commented on #14968
Yes, it makes sense, yet I don't think you should. It should be possible to allow out-of-range values, since it is not forbidden by OpenAI gym specifications. If it is an issue or not must be handled specifically for every environments.

[2021-04-17 17:43] amogkam commented on #15339
This runs for 24 hours with the above changes.

[2021-04-17 17:43] #15339 closed

[2021-04-17 20:35] benhamlen commented on #7645
I believe the issue is that Tree should be capitalized??? Manually editing the files where the import error for Tree occurs clears up the error but there are SO MANY files that use it in ray that it doesn't seem feasible to edit them all. Did python recently change to case-sensitive import statements, or did the package name for tree recently change from "tree" to "Tree"?

[2021-04-18 00:05] amogkam commented on #15214
Hmm even with 250 nodes, the test is still failing for me

[code]

[2021-04-18 00:31] ssiegel95 commented on #15128
Thanks @DmitriGekhtman. Last night I tried things on IBM Openshift (running on top of k8s v1.18.3) and things worked perfectly.

[2021-04-18 08:57] dHonerkamp commented on #15369
Running into this as well with torch==1.7.1

[2021-04-18 09:06] ZDShooter opened #15387 "Workers from other nodes are not in use."
**System information**

- OS Platform and Distribution : Linux Ubuntu 16.04
- Ray installed from (source or binary): miniconda3
- Ray version: 1.2.0
- Python version: 3.7.10

**Describe the problem:**

- I tried "manual cluster setup" on gcp instances,.
- I used ray start --head --port=6379 command on head machine, and used import ray and ray.init(address='auto', _redis_password='5241590000000000'

[2021-04-18 09:07] dHonerkamp opened #15388 "[rllib] torch multi gpu fails with fractional num_gpus and num_gpus_per_worker=0"
### What is the problem?

Running a policy with fractions of a gpu for the trainer and no gpu for the workers fails as follows:
[code]

It might be related to #14709 The issue seems to be the following code in `torch_policy.py` when run on the rollout workers that put the model onto the CPU:
[code]

Ray version and other system information (Python version, TensorFlow version, OS):
Python: 3.7.9
Ra

[2021-04-18 14:12] gramhagen commented on #13711
see latest configuration here: https://github.com/ray-project/ray/pull/15380#issuecomment-821997615

this is still using the dsvm image (not bare ubuntu image mentioned above)

[2021-04-18 15:20] chenk008 commented on #15061
/close

[2021-04-18 18:40] JennyLeePMH commented on #11959
Have this issues been resolved in latest version of Ray?

[2021-04-18 18:47] sakhanej opened #15389 "Remote Ray-worker nodes timeout [enhancement] [gcs_client]"
### Premise:
- Ray Head running in Mumbai
- Ray worker joining from US
- Ray worked joining from Mumbai

### Configuration:
1. Ray head started successfully
2. Ray worker in mumbai was able to join the head node. Ping rtt: 3.6ms
3. **Ray worker in US was not able to join the head node. Ping rtt: 260ms**

Error Stack on US worker node
[code]
### Research
- As per the current code ray-worker ping th

[2021-04-18 21:00] qo4on opened #15766 "[tune] Tensorboard results do not show with Search Alg"
Why can't I see `n_estimators` values?
[code]
![image](https://user-images.githubusercontent.com/35609308/115160629-a357df80-a0b2-11eb-867d-69b5fc0c996e.png)

![image](https://user-images.githubusercontent.com/35609308/115160491-df3e7500-a0b1-11eb-9644-7444fdd8cc8e.png)

[2021-04-19 01:26] yangysc opened #15390 "[rllib]AttributeError: 'function' object has no attribute 'replicate'--one bug in torch_policy.py with torch gpu"
deleted

[2021-04-19 01:39] #15390 closed

[2021-04-19 06:13] #15061 closed

[2021-04-19 06:53] shamanez opened #15393 "RAG with RAY implementation: Ray workers memory slowly increase over time"
https://github.com/huggingface/transformers/issues/11308

[2021-04-19 08:47] guykhazma commented on #14039
Hi @devin-petersohn ,

Wouldn't it be beneficial to have Modin DataFrames as the first class DataFrame for Ray?
As MLDataset is essentially a parallel iterator of Pandas DataFrames we are losing Modin benefits not?

Thanks

[2021-04-19 10:40] krfricke commented on #15211
Tests have been signed off by the rllib team.

[2021-04-19 10:40] #15211 closed

[2021-04-19 11:18] spiralhead commented on #3148
Hi!

I'm trying to do my project on top of your R2D2 implementation. I found, that replay buffer still making importance weighting, but aren't we supposed to use unprioritized replay buffer version?
Btw, what is the current status of  prioritized version of R2D2? Code seems to me pretty much ready for this, what am I missing?

[2021-04-19 11:23] Bam4d commented on #15369
yep many issues with this multi gpu stuff:

I added some more points here:
https://discuss.ray.io/t/how-do-i-set-gpu-affinity-of-workers/1755/2

[2021-04-19 12:39] kaninaba94 opened #15395 "Is there a way to view/save actions and observations?"
Is there a way to view/save actions and observations? In the file progress.csv, I can only view episode-specific data, though I would like to access finer-grained information about my experiments.

https://github.com/ray-project/ray/blob/b0a813baad0a4a187f0cc25e11498843aff899c6/python/ray/tune/progress_reporter.py#L2

[2021-04-19 12:44] mvindiola1 commented on #15395
The config "output" option might be what you are looking for. https://docs.ray.io/en/master/rllib-offline.html?highlight=output#output-api

[2021-04-19 13:37] Bam4d commented on #15369
Also in IMPALA, even if `num_gpus_per_worker=0`, cuda.is_available() is returning True (when it should be ring-fenced to only be available to the driver)
So it looks like the parameter groups are also incorrectly set up.

[2021-04-19 14:17] spiralhead commented on #3148
And, what about n-step rollout? I checked out assertion in validate_config, and set n_steps=2. It trained successfully on cartpole.

[2021-04-19 15:04] srikanthgadadasu commented on #13704
That would be great

On Mon, Apr 5, 2021 at 8:33 PM Micah Yong ***@***.***> wrote:

[2021-04-19 15:10] clarkzinzow commented on #12815
Not stale, just reprioritized. 🙂

[2021-04-19 15:15] hegdeashwin commented on #14766
@fyrestone Recently, my team started exploring Ray.io and I was wondering how can I contribute to Ray, specially on Dashboard stuffs.

[2021-04-19 15:24] maxjr82 opened #15396 "AssertionError when using pyinstaller with ray"
### Problem: ray is raising an assertion error after using pyinstaller to build single-binary

I am trying to build a binary file for my program using pyinstaller, and I am using the ray library (as required by modin.pandas) in some of my modules. Although the binary is created without any error message, when I try to execute the program I am getting an assertion error as shown below:

[code]

The

[2021-04-19 15:38] imxuemei opened #15398 "dqn_trainer.set_weights reports errors when running the rllib example multi_agent_two_trainers.py based on torch"
My environment is as follows:
os: win10
python: 3.8
torch: 1.6.0

The errors are:

  File "E:/workspace-python/offload-rl-v1/test_rays/multi_agent_two_trainers.py", line 126, in <module>
    dqn_trainer.set_weights(ppo_trainer.get_weights(["ppo_policy"]))
  File "E:\ProgramData\Anaconda3\envs\python38\lib\site-packages\ray\rllib\agents\trainer.py", line 985, in set_weights
    self.workers.local_w

[2021-04-19 15:38] mwin76 opened #15399 "[tune] Conditional spaces fails with IndexError"
### What is the problem?

Hi,

I'm trying to use a conditional search space that returns a list based on another parameter value.
It fails with an error "IndexError: list index out of range"
Using tune.choice that samples a list from a list of lists works ok, but when generating a list using tune.sample_from, tune.run fails with the IndexError

ray: 1.2.0 (and nightly)
python: 3.7.10

Thanks

###

[2021-04-19 16:06] tmoer opened #15400 "Averaging learning curves over repetitions + plotting confidence intervals [Tune]"
Hi all,

For reinforcement learning experiments, I often run independent repetitions for each hyperparameter setting. Ideally, I would visualize the *average* of these repetitions (per setting), including confidence intervals around the mean learning curve. I suppose many RL researchers have this issue.

I have always done this manually so far, but was curious whether I may have missed a feature i

[2021-04-19 16:54] krfricke commented on #15247
Could this be a regression here?

[code]

It seems like the commits after 72d87093b9712f16ca3060de27cb6020b131c106 are also around ~6500 1:1 actor calls

PR: https://github.com/ray-project/ray/pull/14211

[2021-04-19 16:58] richardliaw commented on #15318
Can you try the downloading the latest nightly wheels again?

[2021-04-19 17:32] richardliaw commented on #14814
I think this should be fixed -- closing for now

[2021-04-19 17:32] #14814 closed

[2021-04-19 17:39] richardliaw commented on #14500
(or, change the time_attr to be something like `training_iteration`)

[2021-04-19 17:40] richardliaw commented on #14413
(closing since this has a quick fix and also we are removing the aiohttp dep soon)

[2021-04-19 17:40] #14413 closed

[2021-04-19 18:00] sven1977 opened #15401 "[RLlib] IMPALA seems to under-utilize GPUs."
See this discussion here:
https://discuss.ray.io/t/impala-does-not-respect-gpu-allocation/1005

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library d

[2021-04-19 18:14] ijrsvt commented on #13711
@gramhagen Quick Question, does the DSVM have GPU Drivers built in?

[2021-04-19 18:53] micahtyong commented on #13159
Hi @waldroje, I've just opened up a fix for this issue in #15402 so that `ActorPool` methods run smoothly with or without the `@ray.method` decorator. Feel free to take a look. cc: @rkooo567

[2021-04-19 19:01] rkooo567 opened #15403 "`test_actor_resources` skipped on Windows."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-04-19 19:02] rkooo567 opened #15404 "Unskip `test_global_gc`."
### What is the problem?

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [ ] I have verified m

[2021-04-19 19:03] rkooo567 opened #15405 "Fix `test_failure_2` flakiness."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-04-19 19:39] ssiegel95 commented on #15128
@DmitriGekhtman A quick update. I think I've resolved this issue. Through a lot of experimentation it seems this was being caused by a misconfiguration between my pod resource requests and what I'm telling ray each task needs. In particular, if I'm not giving sufficient memory for each task I _think_ tasks are failing to start or failing with OOM errors so the allocated workers remain idle and I'm

[2021-04-19 19:51] edoakes opened #15406 "[serve] Can't pass general-purpose ASGI apps"
[code]

[code]

[2021-04-19 19:54] AmeerHajAli opened #15407 "[client] python packages version mismatch fail silently"
We should throw a warning/error to the user when there is a version mismatch between packages locally and remotely.

[2021-04-19 21:41] gramhagen commented on #13711
Yes, you just need to use an n-series VM.

On Mon, Apr 19, 2021, 2:15 PM Ian Rodney ***@***.***> wrote:

[2021-04-19 22:23] JingfeiPeng opened #15409 "Rllib export_policy_model exports nothing, export_policy_checkpoint shows error"
### What is the problem?
`training.export_policy_model(model_dir)` should export a model but nothing is exported
`training.export_policy_checkpoint('model', filename_prefix=prefix)` should export a model but shows error:
`.venv/lib/python3.7/site-packages/ray/rllib/evaluation/rollout_worker.py", line 998, in export_policy_checkpoint`
 `TypeError: export_checkpoint() takes 2 positional arguments bu

[2021-04-19 23:20] JingfeiPeng commented on #15409
Though the reason I would like a TF2 model is because I am not sure how to use the exported tf1 model, for example, what is the input tensor name, what is the output tensor name

[2021-04-20 00:59] aelyacho commented on #9104
Hi @stefanbschneider, do you mind sharing the part of your code with the custom metrics/ callback function for episode rewards? My callback function returns an error claiming that some values are Nans, but I can't figure out where this is coming from. Thanks for your help.

[2021-04-20 02:17] tbabej commented on #11287
Seconding this, having Python 3.9 wheel would be great. Major distributions are shipping Python 3.9 as their default Python version now (i.e. Ubuntu 21.04, Fedora 33/34).

[2021-04-20 02:47] wuisawesome commented on #11287
Yeah, I've been focusing most of my time on the 1.3 release, since that's been delayed. If someone can fix up #15006, that would be great, otherwise I'll try to work on it.

[2021-04-20 05:03] stefanbschneider commented on #9104
@aelyacho Sure, here's my callback implementation logging my custom metrics `'scalar_metrics'`, which I save inside my `info` dict: https://github.com/CN-UPB/DeepCoMP/blob/master/deepcomp/util/callbacks.py

[2021-04-20 05:45] shamanez commented on #15393
I think I found the solution.  In my code, I am trying to override a variable object inside the `self. retriever ` with another remote function **set_index**. But I found that there is a memory leakage during the overriding process. I saw that RAY memory management doesn't do well with [reference counting management](https://stackoverflow.com/questions/60175137/out-of-memory-with-ray-python-framew

[2021-04-20 05:45] #15393 closed

[2021-04-20 06:21] #15131 closed

[2021-04-20 06:23] Nishanthml commented on #15131
The above issue is due to VPN, I was able to solve it by adding `_node_ip_address="0.0.0.0"` as parameter in ray.init() command.

[2021-04-20 06:35] #8646 closed

[2021-04-20 06:51] fyrestone commented on #14766
The dashboard provides data for two frontends: the old frontend(default) and new frontend. Here are some dashboard-related works:

- Refine the new frontend, and make it as the default frontend. There are many new frontend related issues that need to be fixed: https://github.com/ray-project/ray/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22New+Dashboard+Frontend%22
- Improve the dashboard backend:

[2021-04-20 07:22] simon-mo commented on #15406
note to self, would Django app work as well?? https://docs.djangoproject.com/en/3.2/howto/deployment/asgi/uvicorn/

[2021-04-20 08:25] wuisawesome commented on #15214
Ok, I had to make the autoscaler use docker (which seemed to make it less stable) and run the 250 node test separately from the 64 node portions due to autoscaler issues, but it seemed to work once the ulimit issue was fixed.

[code]

[2021-04-20 08:25] #15214 closed

[2021-04-20 08:49] rubick1896 commented on #13528
This bug has not been fixed in ray 1.2. I am using pytroch instead of pytorch_lightning and got the same error.
The following are some rewrite code from the original example posted.

python==3.7+
ray[tune]==1.2.0
pytorch==1.8.1

[code]

`
(pid=2632136) 2021-04-20 08:48:53,507	ERROR function_runner.py:254 -- Runner Thread raised error.
(pid=2632136) Traceback (most recent call last):
(pid=2632136)

[2021-04-20 09:32] RaphaelCS commented on #14500
@richardliaw Thanks for your reply!

Do you mean there may be some constraints between timesteps_total and number of samples?

Is there any theoretical reason?

[2021-04-20 12:18] iamhatesz opened #15413 "[rllib] on_train_result callback receives last 100 hist_stats accumulated"
### What is the problem?

With the callbacks defined as in the attached snippet, on each `on_train_result` I receive previous `result["hist_stats"]`, even though I mutate the original dictionary. What is more interesting, the list is saturating at exactly 100 elements:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray 1.2.0

### Reproduction (REQUIRE

[2021-04-20 12:35] alippai opened #15414 "Use abi3 wheels instead of separate python 3.x versions"
Newer pip versions supports abi3 wheels, which means there is no need for separate wheels for every python version, but a stable, shared abi can be used. I think it would help the maintenance if this limited abi fits the ray projects needs.

Example: https://pypi.org/project/polars/#files

Relevant discussion: https://github.com/ray-project/ray/issues/11287

[2021-04-20 12:50] ElhamSol opened #15415 "module 'hyperopt.hp' has no attribute 'uniformint' XGBoost"
I'm trying to use Hyperopt and I get the following error:

[code]

Please let me know if I'm doing something wrong or if it's a bug.

Here is the code I'm trying to run:

[code]

[2021-04-20 13:22] krfricke commented on #15415
Hi @ElhamSol,

can you please inclue the following information:

* Which version of Ray are you running?
* Which version of Hyperopt is installed?

The error doesn't come up for me, can you try `pip install -U hyperopt` to install the latest version of hyperopt?

Also, it seems that hyperopt is messing up the configuration space for eval_metric (even though this this should be constant). You might

[2021-04-20 14:17] clay4444 opened #15416 "[Placement Group] Optimize scheduling logic of placement group."
### Describe your feature request

Currently, when scheduling bundles of a placement group, the bundles will always retry even if the current total resources can't satisfy the bundles, so I think we should optimize this logic by this way:

keep an `infeasible_placement_group` queue in `gcs_placement_group_manager`, we will put the placement group into the `infeasible_placement_group` queue directl

[2021-04-20 14:51] tbabej commented on #11287
@wuisawesome Understood. Getting Py3.9 wheels as part of the 1.3 release #15021 would be awesome.

[2021-04-20 15:17] waldroje commented on #13159
thanks! will take a look.

[2021-04-20 15:35] edoakes commented on #15136
[code]

[2021-04-20 16:02] ElhamSol commented on #15415
Hi @krfricke

Thanks for quick reply.
Yes your solution worked and I don't see this error anymore.
and yes, I see an evaluation error now.
Thanks for the tip, I'll try that way.

[2021-04-20 16:16] krfricke commented on #15415
Great! Feel free to open an issue at hyperopt regarding the list to tuple conversion.

I'm closing this for now, let me know if there are more issues.

[2021-04-20 16:16] #15415 closed

[2021-04-20 16:20] amogkam commented on #15291
Hey @malloc-naski, I'd actually recommend you try out the [Ray Lightning](https://github.com/ray-project/ray_lightning) library which implements a RayPlugin for distributed Pytorch Lightning on Ray. This should be a lot easier than the RaySGD LightningOperator since you would only have to make a change to the plugin that you are using.

[2021-04-20 16:23] amogkam commented on #15247
Here are the final results that have been signed off by core team:

[code]

[2021-04-20 16:23] #15247 closed

[2021-04-20 16:27] Pernicies27 opened #15417 "[rllib] [tune] Load only one agent from checkpoint / Compatibility of RLLib/Tune Checkpoints?"
I am working in a multiagent setup with 3 agents and I want to use pretrained weights for one (and only one!) of them. In my current workflow, I run my experiments using tune.run() and would prefer to keep it that way. Is it possible to restore only weights for one agent from a checkpoint in a clean way?

One (somewhat hacky) workaround I tried was calling a function before the tune.run() call tha

[2021-04-20 16:28] pcmoritz opened #15418 "[Java] Update released JARs"
### Describe your feature request

The current released version is 1.1.0, they should be updated for newer releases. See also https://discuss.ray.io/t/ray-java-snapshot-jar-wrong-version/1780.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-20 16:53] vecorro opened #15419 "Issue when trying to use Serve on K8"
Hi,

I'm trying to run Serve on a k8 cluster. The connection to the cluster succeed but when I want to start Serve I get the error

Here my code. Thanks in advance for your help.
[code]

[2021-04-20 16:57] malloc-naski commented on #15291
Great, thank you! @amogkam

[2021-04-20 16:57] #15291 closed

[2021-04-20 17:09] simon-mo commented on #15419
Hi, can you make sure the version for Ray is consistent across your local machine and K8s? Namely, what's the:
[code]

[2021-04-20 17:17] vecorro commented on #15419
Thanks, here my setup. Versions match but commits don't. I wonder if it would be possible to make the Ray commit running on my laptop match the one running on K8.

[code]

[2021-04-20 17:28] #14081 closed

[2021-04-20 17:28] #12271 closed

[2021-04-20 17:32] vecorro commented on #15419
ok, I made the versions match but now I got another error:

[code]

[2021-04-20 17:50] simon-mo commented on #15419
Looking through the traceback it seems like you are using Ray's joblib backend for sklearn?
[code]

[2021-04-20 17:59] vecorro commented on #15419
Sorry Simon, I deleted the last update because I had in there an error from another script using joblib I have not reported yet. Coming back to Serve, here the update. Now both versions and commit numbers match and got a different error message.

[code]

[2021-04-20 18:05] vecorro commented on #15419
In addition, if I reset the K8 cluster, now I get the following

[code]

[2021-04-20 18:09] simon-mo commented on #15419
This error does seem relevant
[code]

The model files are stored locally but not synched to the K8s cluster.

[2021-04-20 18:11] simon-mo commented on #15419
Not exactly sure about your use case, if you just want to make it working, you can put the training code in the init method of the backend class. In production scenario, either mounting NFS to K8s volume or downloading the files from object store works.

[2021-04-20 18:21] Phirefly9 opened #15423 "[rllib] Unable to get reproducible results when interacting with a remote actor"
### What is the problem?

Rllib training is not reproducible through tune when the environment needs to get parameters from some remote actor, even when seed is set and used consistently.

when moving the np.random.uniform calls to the reset function the environment is reproducible, and the parameter storage is reproducible on its own

Guessing it has to do with the order with which episodes are e

[2021-04-20 18:29] vecorro commented on #15419
Thanks. Is there any documentation about how to download the files from the data store? It looks like it'd be more practical is NFS volumes are not available to the K8 cluster.

[2021-04-20 18:42] ericl commented on #15265
LGTM, but can we keep it as an hidden API (`ray _health_check` or hidden click flag) for now?

[2021-04-20 18:50] pcmoritz commented on #15418
this is work in progress in https://github.com/ray-project/ray/pull/15394

[2021-04-20 19:00] vecorro opened #15424 "Issue on page /joblib.html"
I'm trying to run this example on a K8 cluster. I'm exploring whether my team could use Ray to run Scikit-learn jobs using the compute capacity we have available in K8 clusters. Here the code from the example. I tried to modify the code following the instructions it provides and I made sure that the local and cluster versions and build numbers match.

[code]

[2021-04-20 19:11] volks73 commented on #15271
Hello, I am just started out learning this project and I came across the exact same problem and I believe I know the source of the issue.

For me, I installed the latest release on PyPI using `pip install "ray[serve]"`, but I was reading and following along with the `master`/nightly documentation. The quickstart example/documentation is different between the latest release and the nightly release.

[2021-04-20 19:39] krfricke commented on #15247
Can you quickly post the absolute (rather than relative) performance or alternatively add them to the release log branch?

[2021-04-20 19:41] amogkam commented on #15247
I pushed it to the branch already, but here they are

[code]

[2021-04-20 21:00] richardliaw commented on #15387
Hey @ZDShooter  What does your python script look like?

[2021-04-20 21:58] krfricke opened #15428 "[release/core/rllib/tune] many ppo fails"
[code]

Last status

[code]

[code]

I'll look into this right now.

[2021-04-20 22:05] krfricke commented on #15428
[code]

This is fishy because the on_step_begin only updates the cluster resources:

[code]

-->

[code]

 -->

 the bottleneck is probably in one of these lines:

[code]

[code]

The former is IMO more probable. This would mean that checking the cluster resources takes a long time. It's not clear to me why that should be the case exactly. Maybe we create too many placement groups, or maybe we ove

[2021-04-20 22:41] mvindiola1 commented on #15398
Hi @imxuemei,

Your issue is that there is a differs t default option for the model parameter ` "vf_share_layers.`. For dqn it is True and for ppo it is false. You should be able to fix it like this:  `config["model"][ "vf_share_layers"] = False`.

[2021-04-20 22:45] #9551 closed

[2021-04-20 22:51] krfricke commented on #15428
I'm running on a real three node cluster now, and this error comes up:

[code]

cc @sven1977

[2021-04-20 22:56] krfricke commented on #15428
It might be a tensorflow version mismatch. I might be able to confirm tomorrow.

[2021-04-20 23:19] richardliaw commented on #15378
cc @ijrsvt

This is an issue that we uncovered while writing tests. The main problem is that Ray hooks don't expect to be used across multiple clients. This can be addressed by making the client hook specific to a client ID (and if a new client is detected, override the previous hook).

[2021-04-20 23:21] richardliaw commented on #15347
Hmm @mbrunecky maybe https://stackoverflow.com/questions/31769097/cant-bind-tcp-listener-6379-using-redis-on-windows would help?

[2021-04-21 01:41] #12633 closed

[2021-04-21 02:00] Shao-kun-Zhang opened #15430 "[tune]: what is the real meaning of the metric "epoch" in ray/python/ray/tune/examples/pbt_transformers/pbt_transformers.py at 120 lines?"
I set the 'num_train_epoches" in tune_config to fixed 100, but after experiment, I found that the "epoch" in progressive.csv is not 100. I want to figure out what is the meaning of the metric "epoch", and I want to know when it will be measured.

[2021-04-21 02:30] mvindiola1 commented on #15423
Hi @Phirefly9,

What if you also generate the initial state in ParameterStorage as well? That way it will not depend on things that will change from run to run like the internal state of whichever of the 95 CartpoleMass envs happens to get it and how many times it has been reset previously.

Something like this:
[code]

[2021-04-21 02:47] fcardoso75 commented on #15267
One more benefit in removing the symlinks from the source tree:
Developer mode started with Windows 10. People might want to build on other systems like Windows 8.1 or Windows Server,  and on Windows Server they might not have the permissions to enable symlink support.

[2021-04-21 03:08] iycheng commented on #15227
After fixing it, I run it successfully for more than 4 hours but ended up with this error:
[code]

I'm not sure whether it's a regression or not. I remember I run 1.2.0 two days ago to and saw similar errors (not 100% sure).

[2021-04-21 03:09] amogkam commented on #15227
@wuisawesome do you remember running into something like this ^ during 1.2 testing?

[2021-04-21 03:23] amogkam commented on #15430
The "epoch" field is one of the values returned by the Huggingface Trainer `evaluate` call. https://github.com/huggingface/transformers/blob/master/src/transformers/trainer.py#L1865. It represents the current training epoch of the training run.

[2021-04-21 04:04] Shao-kun-Zhang commented on #15430
Thanks for your reply! In pbt, each trial only report the results when one iteration finished. So, if I set the "num_train_epoches" 100. The "epoch" should be 100 too since "epoch" was measured after the iteration finished. But it is not 100. I want to know why.

[2021-04-21 05:37] imxuemei commented on #15398
@mvindiola1  Thanks. It works!

[2021-04-21 05:37] #15398 closed

[2021-04-21 06:12] amogkam commented on #15430
Are you referring to the value in your csv file? Where is `progressive.csv` coming from?

[2021-04-21 07:39] lixin-wei opened #15433 "Fault Injection Feature for Testing"
we want to contribute our large-scale stability tests.  This will benefit us all. For ant, we can reduce bugs from the community if these cases can be run in the community. For you, it will improve ray’s releasing quality.

After discussing with @wuisawesome, we think we lack a tool in the community that can inject faults to cluster like killing processes, shutting down pods.

I think one possible

[2021-04-21 08:47] Zarca opened #15434 "Protocol Error 'got \x00 as reply type byte' while trying connecting to GCSServer"
Hi,
I tried to connect to GCSServer(which is actually a redis process) using `redis-cli -h xxx_host -p xxx port `.
After connecting to it, no matter what redis command(like KEYS * , PING...) typed in,  there will raise such an error message showing "Protocal Error :got \x00 as reply type byte", and break down quickly.
Is this a bug?  or is there any way one can get the object table stored in GCSSe

[2021-04-21 09:05] krfricke commented on #15399
Hi @mwin76, unfortunately conditional search spaces do not support nesting of tune search parameters. You can't use `tune.choice()` within `tune.sample_from()`.

Instead, you can just use `random.choice` or `numpy.random.choice`.

Let me know if this works for you.

[2021-04-21 10:09] Shao-kun-Zhang commented on #15430
Yes, I get the "epoch" it from progressive.csv.

[2021-04-21 10:11] Matrix-World opened #15435 "Execute ray.put() under a node, where is the ObjectID stored?"
Hi,
I started a ray cluster and executed：
 import ray
ray.init(address="ip:port",redis_password="XXX") in the python shell of another node to connect to the cluster.
Execute ray.put() multiple times on this node,
Then execute: redis-cli -h xxx -p xxx -a xxx to connect to redis-server, but no Object Table is found. So I want to know where the object id returned by ray.put() is stored? Is it in the

[2021-04-21 10:19] #12640 closed

[2021-04-21 10:19] #12540 closed

[2021-04-21 11:27] chaokunyang opened #15437 "Async actor method hang"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
* ray: 1.2.0
* os: mac 10.13.6 (17G2112)
### Reproduction (REQUIRED)
[code]
[code]

When using async actors:
[code]
The execution will hang forever.
- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [

[2021-04-21 12:25] Phirefly9 commented on #15423
unfortunately that does not work either, though that is what we are doing in our actual training environment, where the parameter provider provides all initial conditions.

here are two runs of the new script, moved workers down to 5, the issue occurs at any number of workers > 1.  1 worker is perfectly reproducible.
![Screenshot_2021-04-21_08-23-42](https://user-images.githubusercontent.com/16687

[2021-04-21 13:05] krfricke commented on #14557
Closing this for now as this should have been fixed by #14835

[2021-04-21 13:05] #14557 closed

[2021-04-21 13:08] krfricke commented on #14321
Probably don't need a release test for this.

[2021-04-21 13:08] #14321 closed

[2021-04-21 13:20] fyrestone commented on #15437
Please refer to the Python doc: https://docs.python.org/3/library/sys.html#sys.exit

Ray runs the async actor in another thread (not the main thread). So, `a.f1.remote()` will make the asyncio thread exit, and the actor process hangs.

This is the minimal example to reproduce this problem:
[code]

There are many ways to fix this issue:
1. Run the async actor in main thread.
2. Wrap the coroutine t

[2021-04-21 13:39] krfricke commented on #15177
So generally you should just be able to pickle the scheduler object, e.g.:

[code]

However I've submitted a PR in #15438 that wraps around pickle nicely, so you can use it like this:

[code]

So this is very straightforward. The main question I have is if you need support for this to happen automatically, e.g. like searcher checkpoints, and that scheduler state should be loaded when resuming runs

[2021-04-21 14:02] jhn-nt commented on #9114
Had the same issue on my machine:
OSError: [WinError 123] La sintassi del nome del file, della directory o del volume non è corretta: "C:\\Users\\gangelotti\\ray_results\\hello\\VanillaGan_47297_00000_0_batch_size=32,d_optimizer=<class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>,d_rate=0.00040768,gene_2021-04-21_15-34-21"

In my case I believe it was due to restrinctions in folder names on w

[2021-04-21 14:22] sanjaysrikakulam commented on #14775
Hi,

Any update regarding this issue? I encountered this today when I used `max_calls=1` in my remote function `@ray.remote(num_cpus=1, max_calls=1)`. This error occurs after running a few loops.

[2021-04-21 14:59] valiantljk opened #15439 "Issue on page /tune/examples/pbt_transformers.html"
Run into error:
[code]

[2021-04-21 15:14] sven1977 commented on #15401
This PR here fixes this problem for PyTorch multi-GPU. It's also confirmed working for tf multi-GPU (see output below).
https://github.com/ray-project/ray/pull/15421

Closing this issue.

[code]

[2021-04-21 15:14] #15401 closed

[2021-04-21 15:15] valiantljk commented on #15439
Looks like it fails during this function:

/ray/tune/function_runner.py, line 627, at func 'with_parameters'
[code]

And the object it tries to put into object store is
[code]

[2021-04-21 15:45] tommasodelorenzo commented on #15439
I am having the same issue, both with the mentioned page example, and with a custom dataset and model.

[2021-04-21 15:48] amogkam commented on #15430
What is progressive.csv? Did you make that yourself?

[2021-04-21 15:55] edoakes commented on #15180
@simon-mo what happens if I try to do this today?

[2021-04-21 15:55] edoakes commented on #15180
(wondering if we should bump up the priority if it's confusing)

[2021-04-21 16:08] richardliaw commented on #15439
Hmm, OK thanks for reporting this. What's the tranformers version and Ray version that you are using?

[2021-04-21 16:20] crypdick commented on #15177
Thanks @krfricke ! I currently stop the trial with a keyboard interrupt and terminate the EC2 machine. Then, to resume, I find the trial on S3 and resume from the run_id. Since resuming from remote checkpoints is broken (see https://github.com/ray-project/ray/issues/14977) I first sync down the trial dir manually and resume from local.

In my opinion the searcher checkpoints should be sync'd to S3

[2021-04-21 16:38] valiantljk commented on #15439
ray: 1.2.0
transformer: 4.5.1

[2021-04-21 16:41] richardliaw commented on #15439
We currently pin to `transformers==4.3.2`. Could you try that instead?

[2021-04-21 16:42] wuisawesome commented on #14775
#15083 fixes it (manually confirmed). Should be able to merge it pretty soon.

[2021-04-21 16:50] wuisawesome commented on #15433
I think a feature for simulating failure modes is a pretty uncontroversial and good idea.

I think we’re concerned that the implementation is easy to write, but hard to maintain because of the security implications. Right now, a dashboard user only has read-only access to the cluster, but after this, they might have full control.

Is it possible to use `ray exec` with the kubernetes operator? If s

[2021-04-21 17:25] rkooo567 commented on #15437
cc @simon-mo

Agree the first solution is better, but I am not sure it's even possible. IIRC, using a main thread was fundamentally not possible without big refactoring, but I might be wrong. Maybe the second solution seems to be more feasible unless we have a good idea about the first one.

[2021-04-21 17:25] richardliaw commented on #15430
I think @Shao-kun-Zhang  means `progress.csv`?

[2021-04-21 17:33] richardliaw commented on #15434
It is not recommended to access the redis process via `redis-cli`. Can you instead do something like `ray.objects`?

[2021-04-21 17:34] richardliaw commented on #15433
In ML tests, we use `ray kill-random-node` (and its `autoscaler.sdk` equivalent) to kill nodes.

[2021-04-21 17:57] wuisawesome commented on #15433
@richardliaw we're looking for a more fine grained api to kill specific components on nodes (i.e. kill only the raylet)

[2021-04-21 17:59] richardliaw commented on #15433
Why not use the same mechanism as `ray kill-random-node` to achieve what you want to do?

[2021-04-21 18:11] #14640 closed

[2021-04-21 18:12] richardliaw commented on #13882
Closing this for now since it should be largely resolved

[2021-04-21 18:12] #13882 closed

[2021-04-21 18:23] richardliaw commented on #15271
This should be addressed with the Ray 1.3 release soon -- i think for now, try using the nightly documentation.

cc @edoakes @simon-mo  @architkulkarni

[2021-04-21 18:23] #15271 closed

[2021-04-21 18:25] richardliaw commented on #15369
Closing this in favor of the thread that @Bam4d posted!

[2021-04-21 18:25] #15369 closed

[2021-04-21 18:31] #15254 closed

[2021-04-21 18:31] #15255 closed

[2021-04-21 18:42] tommasodelorenzo commented on #15439
Right after I wrote my comment I remembered having ran the /tune/examples/pbt_transformers on my other laptop.
There it indeed works with
ray: 1.2.0
transformers: 4.4.2

[2021-04-21 18:49] richardliaw commented on #15307
Still failing? otherwise I'll close this issue

[2021-04-21 18:53] amogkam commented on #15307
Nope this is passing

[2021-04-21 18:53] #15307 closed

[2021-04-21 19:37] richardliaw commented on #14500
yep, this is due to BOHB/hyperband and the `max_r` specification.

[2021-04-21 19:52] simon-mo commented on #15437
We do properly handle the exit behavior if using `ray.exit_actor()` instead of `sys.exit`.
https://github.com/ray-project/ray/pull/12693

[2021-04-21 20:27] simon-mo commented on #15437
Also this issue might be relevant: https://github.com/ray-project/ray/issues/13049

[2021-04-21 20:28] valiantljk commented on #15439
I changed transformers to 4.3.2, but run into another issue: https://github.com/lanpa/tensorboardX/issues/623

[2021-04-21 20:37] #12501 closed

[2021-04-21 20:37] #12485 closed

[2021-04-21 20:37] #11412 closed

[2021-04-21 20:37] #12547 closed

[2021-04-21 20:37] #12497 closed

[2021-04-21 20:50] edoakes commented on #15437
It's definitely feasible to have asyncio actors run tasks on the main loop, but it'd be a pretty significant refactor. This would be a welcome change though -- we could also remove the hacky boost::fiber solution we have right now.

[2021-04-21 20:53] simon-mo opened #15443 "Document how to use middlewares and other feature with FastAPI wrapper."
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-21 20:54] simon-mo commented on #15180
The routes might be over-ridden, dependening when `App.deploy()` is called.

[2021-04-21 21:06] #15170 closed

[2021-04-21 21:12] wuisawesome commented on #15433
Yeah I'm advocating for doing it in the autoscaler IF this is compatible with the k8s operator (`kill-random-node` is the same mechanism as `ray exec`, just applied to different nodes, and `ray exec` is more general)

[2021-04-21 21:23] richardliaw commented on #15439
I wonder if you can just disable that? what is the full stacktrace?

[2021-04-21 22:09] valiantljk commented on #15439
[code]

[2021-04-21 22:10] valiantljk commented on #15439
I I just run
[code]

It can also reproduce the error.

[2021-04-21 22:21] simon-mo commented on #15180
PR linked. btw, in FastAPI the routes are first-declared-first-used:
[code]

"first" will always get served for `"/"`

[2021-04-21 23:00] richardliaw commented on #15439
can you do pip uninstall tensorboardX for now?

On Wed, Apr 21, 2021 at 3:10 PM jialin ***@***.***> wrote:

[2021-04-21 23:06] valiantljk commented on #15439
It will then complain of module missing:

[code]

[2021-04-22 00:49] richardliaw commented on #14470
I've bumped the priority on this issue

[2021-04-22 00:58] richardliaw commented on #15439
Could you try `TUNE_DISABLE_AUTO_CALLBACK_LOGGERS=1` for now?

[2021-04-22 01:45] RaphaelCS commented on #14500
Ok. Thanks for your help!

I don’t have time to validate the solutions proposed by @richardliaw in the next few months, so I just close this issue.

Feel free to reopen this if anyone still encounters this problem, or to add comment to validate the solutions.

[2021-04-22 01:45] #14500 closed

[2021-04-22 01:48] RaphaelCS commented on #14470
Thanks for your help @krfricke @richardliaw !

[2021-04-22 01:52] Shao-kun-Zhang commented on #15430
Yes! It is progressive.csv. Thanks for your help.

Richard Liaw ***@***.***> 于2021年4月22日周四 上午1:26写道：

[2021-04-22 01:53] Zarca commented on #15434
Hi,@richardliaw,
Is the redis process working as GCSServer having any differences between the ordinary redis process (generally started by redis-server )?
I don't get what makes the error message above  happening.

[2021-04-22 01:59] amogkam commented on #15430
Could you share the output of that?

[2021-04-22 02:03] richardliaw commented on #14766
cc @edoakes do you have any suggestions for @hegdeashwin ?

[2021-04-22 02:05] richardliaw commented on #13240
@altosaar that's great to hear! I'll be sure to refer others to this particular solution in the future.

Thanks for sharing!

[2021-04-22 02:06] richardliaw commented on #15288
hey @pablete I'll put this item on my backlog. Good to hear that you have a temp solution!

May I ask what you're using Ray to do?

[2021-04-22 02:08] richardliaw commented on #15424
hey @AmeerHajAli could you take a look at this?

Looks like ray client doesn't work with the Ray joblib integration?

[2021-04-22 02:12] valiantljk commented on #15439
Thanks, That works.

[2021-04-22 02:14] richardliaw commented on #15439
Let's keep this open because it seems like we need to check for stability with newest hf transformers

[2021-04-22 02:16] richardliaw commented on #15298
@fyrestone could you take a look at this?

[2021-04-22 02:30] Shao-kun-Zhang commented on #15430
*objective*

*eval_loss*

*eval_acc*

*epoch*

*time_this_iter_s*

*should_checkpoint*

*done*

*timesteps_total*

*episodes_total*

*training_iteration*

*experiment_id*

*date*

*timestamp*

*time_total_s*

*pid*

*hostname*

*node_ip*

*time_since_restore*

*timesteps_since_restore*

*iterations_since_restore*

*trial_id*

*0.6606498194945850*

2.127528190612790

0.6606498194945850

25.0

580.2

[2021-04-22 02:55] amogkam commented on #15430
This is not easy for me to read? Do you mind sharing the actual file, or formatting this? Thanks

[2021-04-22 03:18] Shao-kun-Zhang commented on #15430
Sorry to bother you again. Thanks for your help!

Amog Kamsetty ***@***.***> 于2021年4月22日周四 上午10:55写道：

[2021-04-22 03:30] lixin-wei commented on #15433
@richardliaw @wuisawesome Yeah I also think implement this in autoscaler is a good idea. Who is responsible for autoscaler? Would you please ping him? Let's discuss with him about this feature.

[2021-04-22 03:50] wuisawesome commented on #15433
@AmeerHajAli (you can also include me in this discussion).

[2021-04-22 04:19] AmeerHajAli commented on #15433
@DmitriGekhtman , would you like to take the lead on this?

[2021-04-22 04:27] fyrestone commented on #15298
Can you provide the `dashboard.log`? Usually this log is `/tmp/ray/session_latest/logs/dashboard.log`.

[2021-04-22 04:40] #12373 closed

[2021-04-22 04:40] #12279 closed

[2021-04-22 04:40] #12686 closed

[2021-04-22 04:40] #12230 closed

[2021-04-22 05:21] wuisawesome commented on #15433
Please at least keep me in the loop on the API for this, since core stability testing is the only use case for this.

[2021-04-22 05:23] #13599 closed

[2021-04-22 05:29] clarkzinzow commented on #12686
@rkooo567 This is still an issue, right?

[2021-04-22 06:14] Maxwell2017 commented on #9436
@DianaLi96 @hecong97 Have you guys solved this problem？

[2021-04-22 06:34] rkooo567 commented on #12686
I think we have a pretty good workaround now, so we can just close it

[2021-04-22 06:39] Shao-kun-Zhang commented on #11499
objective | eval_loss | eval_acc | epoch | time_this_iter_s | should_checkpoint | done | timesteps_total | episodes_total | training_iteration | experiment_id | date | timestamp | time_total_s | pid | hostname | node_ip | time_since_restore | timesteps_since_restore | iterations_since_restore | trial_id
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- |

[2021-04-22 06:41] Shao-kun-Zhang commented on #15430
al_loss | eval_acc | epoch | time_this_iter_s | should_checkpoint | done | timesteps_total | episodes_total | training_iteration | experiment_id | date | timestamp | time_total_s | pid | hostname | node_ip | time_since_restore | timesteps_since_restore | iterations_since_restore | trial_id
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
0.6606

[2021-04-22 06:41] Shao-kun-Zhang commented on #15430
objective | eval_loss | eval_acc | epoch | time_this_iter_s | should_checkpoint | done | timesteps_total | episodes_total | training_iteration | experiment_id | date | timestamp | time_total_s | pid | hostname | node_ip | time_since_restore | timesteps_since_restore | iterations_since_restore | trial_id
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- |

[2021-04-22 06:53] #12151 closed

[2021-04-22 06:53] #11906 closed

[2021-04-22 07:30] #13711 closed

[2021-04-22 07:41] Yuanzhuo-Liu opened #15450 "Use rainbow to train a single agent"
I don't know what's wrong, could you look over it for me?
![sendpix1](https://user-images.githubusercontent.com/68255669/115675494-a229eb00-a31c-11eb-9708-7fdfbc10d33f.jpg)
![sendpix2](https://user-images.githubusercontent.com/68255669/115675512-a5bd7200-a31c-11eb-93fe-346646336b70.jpg)

[2021-04-22 08:13] SebastianBo1995 commented on #8526
Is it possible to use this environment in rllib? If so that would be great!

[2021-04-22 08:29] simonschoe commented on #13794
Push, same issue here, nothing to add to my predecessors ;)

[2021-04-22 09:49] Zarca opened #15452 "Can't get object even knowing the ObjectID"
Hi,
I'm using two separate python processes  in a single machine to do a test on.
In the test, the first python process init a ray cluster and call `ray.put()`to put some data
into the objectStore  and I print the objectID,
In another python process, after connecting the existing ray cluster, I constructed an objectRef instance using the  former objectID. but when calling `ray.get()` on that objec

[2021-04-22 10:01] PatrickSampaioUSP opened #15453 "Custom Environment agent always learn to use the same action"
### Describe your feature request

Hi, I'm using a custom environment, I was using `stable-baslines3` for training but I'm trying to migrate to RLlib for scaling purposes. However after several training iterations, tuning hyperparams my model never converged to a result nearly as good as in the `stabe-baselines3` and I tried to run a episode with a trained file to see what is going on. My agent is

[2021-04-22 10:02] #15453 closed

[2021-04-22 12:08] mvindiola1 commented on #15450
Hi @Yuanzhuo-Liu,

By the time it reaches base_env, rllib expects all environments to act as a multiagent environment. Single agent environments are treated as a multiagent environment with just one agent. Normally rllib will do this wrapping automatically for you but in this case SumoEnvironment already inherits from MultiagentEnv so it does not think it needs to.

What that means practically is

[2021-04-22 13:13] vecorro commented on #15424
Hi,

I just tried with last night's commit bdda73e2dde0fb88f3a11a5b79071f445ec05a34 and the error remains. I hope you can take a look. Thanks.

[2021-04-22 13:30] AmeerHajAli commented on #15424
@vecorro can you try making sure the job lib version locally and the sklearn version locally are the same as those installed in the cluster?

Also cc @ijrsvt

[2021-04-22 14:32] vecorro commented on #15424
Thanks @AmeerHajAli there was a mismatch there. the Ray cluster was using scikit-learn-0.22.2 and I had a newer version on my local system.

As a matter of suggestion: Would it be appropriate that in the  Ray install instructions, you folks recommend applying a pip wheel to a fresh Python virtual env because in my case, even when I have been using a virtual env only to try Ray, it was very easy to

[2021-04-22 14:32] #15424 closed

[2021-04-22 16:27] #15180 closed

[2021-04-22 16:34] amogkam opened #15457 "[Release] many_drivers Redis failure"
The `many_drivers` long running test sometimes fails with this Redis error

[code]

Other times, it is able to run successfully for 24 hours.

[2021-04-22 16:35] #15227 closed

[2021-04-22 16:36] rkooo567 commented on #15457
This is also a known bug from Nvidia. We should take a look at it.

[2021-04-22 16:37] richardliaw commented on #15457
P1 should have assignment right? @wuisawesome or @rkooo567 can you assign this appropriately?

[2021-04-22 16:59] qo4on commented on #14642
I used this link:
[code]
But got a warning:
[code]
How can I fix this?

[2021-04-22 17:15] #15405 closed

[2021-04-22 17:17] valiantljk opened #15459 "Ray status not report correctly after node crashed"
### What is the problem?
I had a 3 nodes ray cluster on k8s, and ray is 1.2.0. Each node(POD) has 20cpu, 100 G memory

After submitting a task requesting 100 cpus, (I didn't enable autoscaler), I got error messages: tasks can not be placed,
with 40 pending tasks. This is what I expected, but it also said the raylet might crashed bc of lost too many heartbeat.
I checked the number alive pods, both

[2021-04-22 17:50] qo4on commented on #14642
Thanks. For Kaggle it turned out to be a bit more complicated:
[code]

[2021-04-22 18:26] edoakes opened #15462 "[serve] app.get_url_for not working properly with FastAPI deployments"
See commented out test here:
https://github.com/ray-project/ray/pull/15461

[2021-04-22 18:37] valiantljk opened #15463 "Ray memory size and object store size not correct on k8s"
### What is the problem?

I created a 3 pods ray cluster on k8s, requesting 80Gi for head memory, and same for it's limit. (request=limit = 80Gi),
then 40Gi for each worker pod's memory (and same for it's limit).
In the ray example_cluster yaml file, it says,
if limit is set, then 10% will be used for redis, 30% will be for object store, and rest for application memory.
I assume this only applies

[2021-04-22 18:57] rkooo567 commented on #15463
cc @ijrsvt Is it a known issue from 1.2?

[2021-04-22 19:32] ijrsvt commented on #15463
cc @DmitriGekhtman

[2021-04-22 19:45] #13704 closed

[2021-04-22 21:09] DmitriGekhtman commented on #15463
@valiantljk
Thanks for pointing this out. Would you mind verifying if the problem persists when nightly wheels are used locally and the cluster is using `rayproject/ray:nightly` images?

[2021-04-22 21:19] clarkzinzow commented on #13940
@rkooo567 Seeing this a lot in the logs, +1!

[2021-04-23 00:00] valiantljk commented on #15463
The nightly looks better. Two minor things:
* The cpu doesn't seem correct, I requested 500m for all three pods, but ray says it has 3 cpu
* The total memory seems including redis + app memory

[2021-04-23 00:09] valiantljk opened #15467 "[autoscaler] driver received error message when ray downscale"
### What is the problem?
I used autoscaler feature in Ray. It works as expected when I submit a task that requires more resources than available res. However after 5 minutes(the default idle time), ray downscales, and at driver side, I got error messages like this:
[code]
This seems to be some issue with the error handling or autoscaling part.
I would expect no error message received at the driver

[2021-04-23 00:18] #13147 closed

[2021-04-23 00:48] DmitriGekhtman commented on #15463
Thanks!

First bullet:
We should+will document+log this more clearly in the future:
Ray does not currently support fractional CPU for Ray nodes, so Ray rounds up the min of the Kubernetes CPU request and limit to the nearest whole number.

Second bullet:
Could you post the output you're seeing indicating the memory usage?

[2021-04-23 01:44] valiantljk commented on #15463
Got it. Thanks.

[code]

[2021-04-23 02:22] gmatev opened #15470 "Incorrect torch version installed in GPU version of ray-ml containers"
### What is the problem?
Pre-built `ray-ml` container images with `gpu` flavor contain a CPU only version of Torch

Tested this out on pre-release 1.3.0 images but from what I can see the container composition logic and requirements stacking has not changed.

### Reproduction (REQUIRED)
The simplified repro is to locally execute the container
[code]

[2021-04-23 02:23] gmatev commented on #15470
@richardliaw

[2021-04-23 02:25] richardliaw commented on #15470
@amogkam do you think you could look into this?

[2021-04-23 03:18] amogkam commented on #15470
Hey @gmatev thanks a bunch for bringing this up! We have a PR open for the fix and will make sure update the latest Docker images once it is merged.

[2021-04-23 03:22] gmatev commented on #15470
Awesome! Is there also a reason 1.3.0 will be installing torch 1.7.1 and torchvision 0.8.2 as opposed to 1.8 and 0.9 respectively? Seems like there may also be an issue with the the combo of 1.7.1 and cuda11 that comes with the GPU base image.

[2021-04-23 03:34] #12701 closed

[2021-04-23 03:41] amogkam commented on #15470
Ah yes that's an oversight on our part. In order to support Cuda 11, we had to pin the torch versions, and we never updated those. I'll make sure to update them now.

[2021-04-23 04:02] tanzeyy opened #15474 "[bug] Can not import AxSearch"
### What is the problem?

Ray version: 1.2.0

Can not import AxSearch

### Reproduction (REQUIRED)

[code]

### Fix
Seems like add
[code]
in `ray.tune.suggest.__init__.py` would fix this issue.

[2021-04-23 04:03] amogkam commented on #15430
Looks like all the rows in the csv file are results from the same trial at different timesteps. So I would expect only 1 of them to be at epoch 100.

[2021-04-23 04:04] amogkam commented on #15474
@tanzeyy you have to do `from ray.tune.suggest.ax import AxSearch` to import AxSearch. Note the `.ax` after `suggest`.

[2021-04-23 04:08] tanzeyy commented on #15474
Seems I was wrong while importing. Closing this.

[2021-04-23 04:08] #15474 closed

[2021-04-23 08:52] fyrestone opened #15477 "[Job submission] Basic submit job feature"
- A RESTful API in dashboard to submit a job.
- Dashboard selects a dashboard agent to start a driver.
- Dashboard agent downloads the job package and start the driver.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-23 08:59] fyrestone opened #15478 "[Job submission] Basic drop job feature"
- A RESTful API in dashboard to drop a job.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-23 09:00] fyrestone opened #15479 "[Job submission] Java support"
- Support submit / drop a Java job.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-23 09:04] fyrestone opened #15480 "[Job submission] Monitor driver"
Monitor the start and exit of the driver. Report an error in case that the driver fails to restart.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-23 09:06] fyrestone opened #15481 "[Job submission] Runtime env integration"
- Download dependencies by job agent
- Use resource label to support download before schedule.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-23 10:14] yywangvr commented on #14730
Execuse me, recall the previous question..

[2021-04-23 12:51] Yuanzhuo-Liu commented on #15450
Hi ! Thanks! It works.

[2021-04-23 13:10] BBDrive opened #15482 "[cluster] How to run the script distributedly?"
I setup `ray cluster` by the manual way.
[code]
Then，I ran my script at the head node， and the following error occurred.
[code]
`sampler_multi` is one of my script files. I guess the error is caused by no script on the slave node, but I don't know how to distribute the script to all slave node.
I'm looking forward to your answer. Thanks.

[2021-04-23 14:17] mvindiola1 opened #15483 "[rllib] Incorrect initial state when using RNN or LSTM auto wrapping"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):
ray: master

The `RecurrentNetwork.get_initial_state()` method is not being called between episodes during training.
Instead the state_\*_\* keys are being filled with a default value of 0 in `SimpleListCollector.get_inference_input_dict`.
This breaks RNN models that do not use 0 as their

[2021-04-23 15:25] ijrsvt opened #15486 "[client][core] Have Unified `register_serializer` interface"
We should have **one way** to register customer serializers and it should work for both a `ray client worker` and a `regular ray worker`.

[2021-04-23 15:25] ijrsvt commented on #15486
Issue for:
https://github.com/ray-project/ray/pull/15181/files/ebca8c53341939bff6c649abcc53e3392ee28c44#r613573804

[2021-04-23 16:34] richardliaw commented on #15482
(overlap with discuss.ray.io question) https://discuss.ray.io/t/how-to-run-the-script-distributedly/1870

[2021-04-23 16:34] #15482 closed

[2021-04-23 16:35] #15177 closed

[2021-04-23 16:45] #15037 closed

[2021-04-23 16:59] edoakes commented on #14766
@hegdeashwin I'd say any of the issues in the milestones linked by @fyrestone would be a great place to start! Specifically both of these issues should be pretty small in scope:

- https://github.com/ray-project/ray/issues/13890
- https://github.com/ray-project/ray/issues/13889

Also, in general our testing for the dashboard is lacking so a good place to start might be to clean up & add more tests

[2021-04-23 18:00] #14485 closed

[2021-04-23 18:07] simon-mo commented on #15467
Thanks @valiantljk, cc @DmitriGekhtman and @wuisawesome . This error message seems the downscale is working but it shouldn't print out such error on intentional removing nodes.

[2021-04-23 18:31] #12748 closed

[2021-04-23 18:31] #12749 closed

[2021-04-23 20:10] simon-mo opened #15489 "`//rllib:tests/test_checkpoint_restore` takes too long"
### What is the problem?
[code]

This test often takes 20+min in even Buildkite CI. As a rule of thumb we shouldn't have individual tests that takes more than 5min. Is there a way to shrink it or split it up into medium tests?

cc @sven1977 @ericl

[2021-04-24 05:59] rkooo567 commented on #14322
Verified this will be fixed if #15446 is merged.

[2021-04-24 07:06] #14276 closed

[2021-04-24 07:08] itmorn commented on #14276
thanks

[2021-04-24 08:10] richardliaw opened #15494 "[dependencies][error msg] Error Message Regression"
It seems like the log message for error messages can be extremely noisy:

[code]

We should avoid raising this warning on workers.

[2021-04-24 11:53] lious68 commented on #7084
where to add?
or
which file?

[2021-04-24 12:08] lious68 commented on #7084
which python file?

[2021-04-24 13:46] #12782 closed

[2021-04-24 14:54] hegdeashwin commented on #14766
Sure @edoakes. Sounds good. As a prerequisite currently, I'm begin with following things
1. I'm setting up dev environment
2. Understanding codebase

Any documentation or guidance on above would be great help. My email id is ashwin.hegde3@gmail.com in case required.

[2021-04-24 14:58] igorgad commented on #9653
Hi. Been having a similar bug. The head node launches just fine, but workers get stuck on the same initialization_command that runs just fine on the head node. Both the head and the workers have the same configurations. I wonder if the workers node are launched in a different manner then the head node?

[2021-04-24 15:00] hegdeashwin commented on #14766
Cool, I found the documentation here https://docs.ray.io/en/master/getting-involved.html & https://docs.ray.io/en/master/development.html#building-ray

[2021-04-24 18:22] george-skal commented on #15363
Hi @mvindiola1 ,

Thank you very much for your help. I tried your solution and now the code works with tensorflow, but not with torch.
I am using the code from the example centralized_critic.py and with torch I get a similar to the previous error:

I see that in the central_value_function I have in torch:

[code]

while in tensorflow they are:

[code]
so maybe the problem is that the first dimensi

[2021-04-24 20:05] gmatev opened #15495 "[sgd] Possible issue with TorchTrainer/TrainingOperator when using multiple GPUs"
### What is the problem?

Unable to train on multiple GPUs with TorchTrainer/TrainingOperator

### Reproduction (REQUIRED)
Setup:
* Ray cluster with 1+ GPU available
* torch 1.8.1 and torchvision 0.9.1 (note that this works with 1.6 and 0.7.0 - although I think it has to do with the CUDA and NCCL version bundled with torch than anything else - see below)

Run https://github.com/ray-project/ray/blo

[2021-04-24 20:17] Rohanjames1997 commented on #7341
Hi @ericl @janblumenkamp. This whole thread was very helpful, thanks for the detailed explanations from both of you!

I am currently in the process of migrating a project to the RLlib framework, and I had some doubts about some of the points in your discussion.
Here's some context before I begin:
- Just like @janblumenkamp, I too have a single policy for n agents, and I want them to share informat

[2021-04-24 20:42] mvindiola1 commented on #15363
@george-skal,

Glad that worked for you.
This time the error is coming from the else branch when the loss is being initialized to infer the trajectory view information. When you were creating the dummy opponent obs and action you forgot to include the batch size information. This should fix the issue for you.

[code]

[2021-04-24 20:56] #12541 closed

[2021-04-24 20:56] #12720 closed

[2021-04-24 20:56] #12739 closed

[2021-04-24 21:49] janblumenkamp commented on #7341
Hi @Rohanjames1997!
Have a look at the discussion further down in this thread. You can't use the MultiAgentEnv and also grouping does not help if you want to run backpropagation through communication. Check out my minimal example:
https://github.com/janblumenkamp/rllib_multi_agent_demo
It involves many ugly hacks (most notably, formulating the multi-agent env as one standard gym super-observation

[2021-04-24 23:07] DmitriGekhtman commented on #15467
It's like related to this:
https://github.com/ray-project/ray/issues/15128

[2021-04-25 03:50] #15430 closed

[2021-04-25 09:05] guykhazma opened #15496 "Java API in Ray 1.3"
### What is the problem?

I am using ray-ml latest image (installed today) and trying to use the java API.
When creating an actor using `ActorCreator` and calling:
[code]
it fails to find the new method which receives a `List` instead of `String` raising the error:
[code]

The API was changed in this [PR](https://github.com/ray-project/ray/pull/14931)

I have verified the jar that is included in t

[2021-04-25 09:05] Rohanjames1997 commented on #7341
Hi @janblumenkamp !
Thank you so much for the link! I had missed that part of the discussion. I shall probably implement something very similar.

Assuming I had no inter-agent communication, could you answer my previous questions?

And an additional one:
Since [#10884](https://github.com/ray-project/ray/issues/10884) is still in progress, is it right to say that RLlib's MultiAgentEnv class current

[2021-04-25 09:25] zzchuman opened #15497 "conv_filter & lstm"
Hello, Can I use the conv_filter and lstm config together?
And, my observation shape is 20*1. And I think it should use the conv1d? I see you use the conv2d at the conv filer.

[2021-04-25 10:51] adam-katona opened #15498 "max_calls does not help with third party memory leaks but it is advertised to do so."
### What is the problem?
The ray.remote() parameter max_calls is advertised as being able to help with third-party memory leaks. However it does not restart the processes with leaked memory but keeps them around as IDLE, which results in the leaked memory accumulating.

The documentation: "max_calls (int) – Only for remote functions. This specifies the maximum number of times that a given worker c

[2021-04-25 10:55] zzchuman commented on #9425
Hello, have you solve it？ Actually, I want to use the lstm and conv_filter together. Can you tteach me how to set it?

[2021-04-25 14:09] valiantljk commented on #15495
might checkout this: https://discuss.pytorch.org/t/runtimeerror-nccl-error-in-opt-conda-conda-bld-pytorch-1614378083779-work-torch-lib-c10d-processgroupnccl-cpp-825-unhandled-system-error-nccl-version-2-7-8/116129

Also, could you share your ray cluster status?
[code]

[2021-04-25 15:57] DmitriGekhtman commented on #15433
After some internal discussion, I _think_ the rough consensus was that this sort of functionality should be a hidden core Ray feature, which can be exposed to the world outside the Ray cluster via Ray client.

[2021-04-25 16:22] hegdeashwin commented on #14766
[Update], Followed the documentation and I was able to run Ray server on my local, also able to see the current & experimental dashboard

[2021-04-25 18:13] vecorro opened #15500 "Joblib and Ray on K8 autoscaler don't seem to work well together when taining ML jobs"
### What is the problem?

- Ray Server (deployed on Kubernetes) details: 'python_version': '3.7.7', 'ray_version': '2.0.0.dev0', 'ray_commit': 'bdda73e2dde0fb88f3a11a5b79071f445ec05a34', 'protocol_version': '2021-04-09'
- The Ray cluster has 1 head and 4 workers, each with 2 CPUs and 24GB of RAM
- ML library: xgboost 1.3.3 (as provided in the ray-ml Docker image)
- I'm training the Higgs dataset w

[2021-04-25 18:18] sven1977 commented on #15489
https://github.com/ray-project/ray/pull/15499
@simon-mo

[2021-04-25 18:57] adamasstokhorst opened #15501 "DeprecationWarning raised while starting ray with --no-redirect-output"
### What is the problem?
Package references mentions a flag to disable STDOUT redirection ( https://docs.ray.io/en/master/package-ref.html#the-ray-command-line-api ), however attempting to use it raises a `DeprecationWarning: The redirect_output argument is deprecated.`
*Ray version and other system information (Python version, TensorFlow version, OS):* was Ray 1.3.0 -- still happening on Ray 2.0.

[2021-04-25 19:25] nirvana-msu opened #15502 "Windows wheels do not have {{RAY_COMMIT_SHA}} replaced with actual commit hash in __init__.py"
### What is the problem?

Really minor thing - windows wheels do not have `{{RAY_COMMIT_SHA}}` replaced with actual commit hash in `__init__.py` (like e.g. linux wheels). It doesn't seem to make any difference, just a little odd:
[code]
This is the case for at least the two most recent releases (1.3.0, 1.2.0), haven't checked the ones before.

[2021-04-25 21:12] max0x7ba commented on #4366
I still face this very issue with ray-1.3.0. What is a solution for it, please?

[2021-04-25 21:46] max0x7ba opened #15504 "Ray Tune doesn't scale, scheduling performance degrades to less than 25% worker utilization with 32 workers."
### What is the problem?
I run a grid search of 19440 trials using `FIFOScheduler` and the default `search_alg` with 32 worker CPUs.

I encounter 2 problems:

1. In the first few minutes 100% of workers are utilized. After ~1100 trials complete only ~6 worker CPUs are busy at a time, the rest of worker CPUs are idling, while the logging says "Number of trials: 2930/19440 (1000 PENDING, **32 RUNNIN

[2021-04-26 01:33] jovany-wang commented on #15496
It's not ready yet. https://github.com/ray-project/ray/pull/15471

[2021-04-26 05:41] sephirxth commented on #9075
Hi, same problem. I use ZMQ (connect a cpp client and a RAY policy server) and a customized env inherited from ExternalEnv. Tune will try to create more than one env, even I use ray.init(local_mode = True) and  max_concurrent=1.

My external env cannot be parallelized,  I just need the Tune runs trails sequentially.

[2021-04-26 07:03] piscesvivian commented on #15162
I have the same problem on CartPole APEX

[2021-04-26 07:19] simon-mo opened #15505 "Serve Deployment with Reload Option"
### Describe your feature request
Common web frameworks like (flask, uvicorn, fastapi) have a reload option, we should consider one for Serve Deployments.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-04-26 11:37] BBDrive commented on #8794
@57334502 I also encountered the same problem. Can you tell me in detail how you share the network disk?

[2021-04-26 11:58] SebastianBo1995 commented on #8526
Is it possible to change the observation with the help of a callback? Then it would be fairly easy to implement such a thing. If sombody has information about that 👍

[2021-04-26 12:58] sanjaysrikakulam commented on #6507
Hi,

I am attempting the following procedure

https://discuss.ray.io/t/altering-numpy-array-stored-in-plasma-store-in-cython-using-the-start-address-of-the-memory/1885

But not sure about the repercussions. Can you please comment?

[2021-04-26 13:43] algsi opened #15508 "About run a python script on Ray cluster"
Hello, everyone. I encountered a problem. I have two docker containers which are based rayproject/ray:1.2.0 image, then I executed command `ray start --head` on 172.17.0.2 and executed `ray start --address='172.17.0.2:6379' --redis-password='5241590000000000'` on 172.17.0.3, so these two containers compose a simple Ray cluster. While I run a python script on the worker node:

[code]

the script we

[2021-04-26 14:06] Misterion777 commented on #15268
Faced same issue, you should install following packages: `git, cmake, zlib1g, zlib1g-dev`,
as stated [here](https://github.com/openai/atari-py#installation-from-source).

[2021-04-26 14:16] AmeerHajAli commented on #14856
cc @ckw017

[2021-04-26 14:24] #12828 closed

[2021-04-26 14:25] PranayPasula commented on #11658
Hi @sven1977, @plutonic88,

Do you know whether this issue was ever resolved? I'm running into what looks like essentially the same issue in the same situation: shape mismatch in Adam layers while restoring a checkpointed policy.

[2021-04-26 14:34] DmitriGekhtman commented on #14056
@simon-mo is this still a problem or can we close this issue?

[2021-04-26 14:49] AmeerHajAli commented on #13619
@ijrsvt should we close this issue?

[2021-04-26 14:52] AmeerHajAli commented on #15467
looks like a duplicate of #14129

[2021-04-26 14:54] AmeerHajAli commented on #14494
@clarkzinzow @wuisawesome should we close this?

[2021-04-26 14:56] AmeerHajAli commented on #14483
should we close this?

[2021-04-26 14:57] #15467 closed

[2021-04-26 14:59] AmeerHajAli commented on #14666
CC @richardliaw / @sven1977

[2021-04-26 15:01] gmatev commented on #15495
Thanks @valiantljk. The error looks slightly different in this case so I'm not sure the issue is the same at the one you referenced. That recommends setting -ipc=host. In this case, Ray runs in a Kubernetes cluster where setting the equivalent of ipc=host would not be possible due to the cluster PSP that would not allow the equivalent setting. There is also https://github.com/pytorch/pytorch/issue

[2021-04-26 15:05] ijrsvt commented on #13619
@AmeerHajAli Yes we should!

[2021-04-26 15:05] #13619 closed

[2021-04-26 16:23] edoakes opened #15511 "[serve] Max recursion depth exceeded when serializing fastapi app"
[code]

[code]

[2021-04-26 16:24] edoakes commented on #15511
@simon-mo could you take a look at this? I believe it was introduced recently, the user who reported it said they didn't see the issue a few days ago.

[2021-04-26 16:28] wuisawesome commented on #14494
I think I still see this sometimes when I restart the head node on a cluster. I don't have a reliable reproduction though.

Maybe we can leave it open as a p2?

[2021-04-26 16:35] wuisawesome commented on #14483
Yeah this should've automatically been closed by #14816

[2021-04-26 16:35] #14483 closed

[2021-04-26 16:36] mbrunecky commented on #15347
Thank you for suggested help.
The  https://stackoverflow.com/questions/31769097/cant-bind-tcp-listener-6379-using-redis-on-windows  deals with problems caused by Redist installed as (windows) service and started automatically. Not my case.
At this point, I suspect that the 'Could not create server TCP listening socket *:6379: ... may' be misleading, because netstat shows that my:

connects to that

[2021-04-26 17:07] MarcoAlejandro commented on #4931
It happened to me running ray on my laptop when I had a VPN activated on my laptop.

[2021-04-26 17:29] simon-mo commented on #14056
Ok let's close it. We will re-open it or open a new one if errors come up.

[2021-04-26 17:30] #14056 closed

[2021-04-26 17:55] mbrunecky commented on #15347
In a desperate attempt to get anywhere, I moved everything to a 'slower' machine (someone in #9116 mentioned that waiting before init() helps). And with Ray 0.8.7 I get the 'Failed to allocate port' as well.
But upgrading to Ray 1.3.0 changed the behavior. No more 'Failed to allocate port', but running Spacy 3.0 thru it's Ray support does nothing - other than creating a bunch of processes. Since S

[2021-04-26 18:24] RemKamal commented on #7196
Hello,
could you please let me know if ray is compatible now with Python 3.8 or 3.9 (preferably)? I am getting the same errors.

[2021-04-26 19:22] amogkam commented on #15495
@gmatev the `DistributedTrainableCreator` in https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/ddp_mnist_torch.py uses gloo backend by default. Are you changing that to nccl? If you explicitly set `backend='nccl'` I would expect this example to fail as well.

[2021-04-26 19:37] JingfeiPeng opened #15516 "rllib multi-agent training requires "default_policy" to export models"
### What is the problem?
When training a multi-agent example with different polices, calling "export_policy_model" will get the following error:
[code]
in file ray/rllib/evaluation/rollout_worker.py line 984, the `policy_id` isn't passed in `export_policy_model`.

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray version 1.0.1.post1, tested on ray 1.2.0

###

[2021-04-26 19:52] richardliaw commented on #14666
I think rllib doesn't work with ray client like that out of the box?

[2021-04-26 20:14] AprilXiaoyanLiu opened #15517 "[rllib] multi-task RL with Rllib"
Hello,

I'm trying to implement one simple multi-task RL (universal functional approximator) where the input is current state and specific task and generated goal-conditioned reward.

I tried to search if there is any example of using RLlib to perform this, but what I found is only to customize multi-agent for this scenario. Techinically this is not multi-agent because it's the same agent with the

[2021-04-26 20:15] architkulkarni commented on #14524
Closed by https://github.com/ray-project/ray/pull/15361

[2021-04-26 20:15] #14524 closed

[2021-04-26 21:22] edoakes opened #15518 "[environments] Support PEX executables"
This is a feature request for supporting PEX in the runtime_env of ray, which is similar to how conda is supported (see issue #14524 2).

For example, we can package an actor “foo” in a PEX file “my_package.pex”:

@ray.remote class Foo(object): ...

And then initialize ray with the PEX environment to enable the worker to run “foo” in the PEX environment:
ray.init(runtime_env = { "pex": "path/to/my

[2021-04-26 21:40] ericl commented on #15518
Long term it seems likely we're going to have a long tail of extra features for runtime_env. One way of supporting this to make it easy to make runtime_env pluggable. This would involve at least:

1. The ability to easily add new resource types in runtime_env (e.g., updating a dict in runtime_env.py similar to how we have a dict of node providers for autoscaler).
2. A storage API that plugins can

[2021-04-26 22:10] franklsf95 opened #15521 "Can I use Ray Client to connect to a remote cluster while using my local cluster?"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

### My Setup

I have a long-running cluster that is intended to be used by multiple people. Each user submits jobs that run on this cluster.

Our current approach is to connect each user's driver nodes to this cluster, then use custom resources to make sure the jobs r

[2021-04-26 23:03] gmatev commented on #15495
@amogkam That's a good point. I actually just set the `DistributedTrainableCreator` backend parameter in the minst example to "nccl" but it still succeeded.

[2021-04-26 23:08] amogkam commented on #15495
@gmatev Oh interesting. What is `num_workers`, `num_gpus_per_worker`, and `num_workers_per_host` being set to?

[2021-04-26 23:10] amogkam commented on #15495
Also could you try running the `TorchTrainer` example again, without passing in the `initialization_hook`?

[2021-04-26 23:22] #14683 closed

[2021-04-26 23:22] #15470 closed

[2021-04-26 23:41] iycheng commented on #15518
Yes, this is what I'm currently working on. Hopefully, I'll get the PR out soon.

[2021-04-27 00:05] mvindiola1 opened #15523 "[rllib][a2c,a3c,impala w/o vtrace] Loss function does not mask out padded values when using RNN"
### What is the problem?
ray: master

The A3C loss function does not mask out padded values when training a recurrent network. This affects A2C, A3C, and IMPALA when not using vtrace. The impala with vtrace is implemented elsewhere an does mask out padded states.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce t

[2021-04-27 00:28] gmatev commented on #15495
@amogkam my apologies. I think I got mixed up between the examples.

I can verify that if `DistributedTrainableCreator` is explicitly passed backend="nccl", the same error will occur. I also conversely verified that the `TorchTrainer` example will succeed if passed in backend="gloo". Eliminating the initialization_hook function for the `TorchTrainer` example also did not help when using NCCL.

I'l

[2021-04-27 00:51] gmatev commented on #15495
FYI... Was able to run a test with the pods having `hostIPC: true` but the result is the same

[2021-04-27 01:32] #15192 closed

[2021-04-27 01:50] amogkam commented on #15495
@gmatev thanks for the update. Not sure what changed in later versions of Pytorch/NCCL. You could also uncomment
[code]
in the initialization hook to get more detailed log messages from NCCL.

One thing I would try is running a simple Pytorch multi-gpu example on your GPU node, but not using Ray. Like this
[code]
If you are getting the same error, then I would open an issue on the Pytorch side. I'

[2021-04-27 02:07] gmatev commented on #15495
Also running https://github.com/pytorch/examples/blob/master/distributed/ddp/example.py with backend="nccl" from within the container with the GPUs work just fine

[2021-04-27 02:10] gmatev commented on #15495
@amogkam had not seen your message when I wrote the above but was basically trying the same type of strategy.

Your example also worked correctly.

[2021-04-27 02:15] amogkam commented on #15495
@gmatev did you make sure to try with TCP initialization in this line?
[code]

[2021-04-27 02:17] gmatev commented on #15495
@amogkam  Yep changed these lines to

[code]
These are the values I saw in the debug output when I was running the examples on top of Ray.

[2021-04-27 02:48] amogkam commented on #15495
One more thing, can you try running the Ray examples directly in the container with the GPU, and use local Ray `ray.init()` instead of connecting to a cluster?

[2021-04-27 03:05] gmatev commented on #15495
Tried that as well. Same error.

[2021-04-27 03:14] amogkam commented on #15495
Do you have the stdout with the NCCL debug level set?
[code]

[2021-04-27 03:58] gmatev commented on #15495
@amogkam  Thank you so much for engaging deeply on this. Let me document all this properly

**(1) Successful example without Ray**

[code]
Output with NCCL_DEBUG
[code]

**(2) Failing example with Ray**

Script is here

[code]

[code]

[2021-04-27 04:00] ckw017 opened #15528 "ActorID __ne__ method doesn't check type first"
### What is the problem?

ActorID (due to inherited behavior from BaseID) errors when != is used with non-BaseID types

### Reproduction (REQUIRED)

[code]

Gives:

[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

[2021-04-27 04:08] jovany-wang commented on #15496
@guykhazma
Just FYI that 1.1.3 was deployed to maven central repo.

[2021-04-27 04:09] jovany-wang commented on #15496
Feel free to let me know if your problem get solved.

[2021-04-27 05:37] mwin76 commented on #15399
Hi,

Your suggestion to use numpy.random.choice worked. Thanks.
Closing this issue,
Thanks

[2021-04-27 05:37] #15399 closed

[2021-04-27 05:56] jovany-wang opened #15533 "[Java CI] Improve Java build CI"
Currently, Java build CI is super flaky.

This [docs](https://docs.google.com/document/d/1KjSRdOoBbtYxyQAXcWJ2SMRo17PsE-DLISVfwqYjIHQ/edit?usp=sharing) summarized some failure cases.

Some actions could be done for improving it:
- [ ] Retry `mvn deploy` 3 times due to the snoatype service unstable.
- [ ] retry `npm ci` as well due to the unstable networking.

If you have more thoughts on this, ple

[2021-04-27 06:00] mingshi-wang commented on #15518
@iycheng Hi Yi, if you could share some pointers on the approach we would be happy to work on this and contribute back!

[2021-04-27 06:00] #7824 closed

[2021-04-27 06:21] jovany-wang commented on #15533
@mxz96102

[2021-04-27 06:36] #15523 closed

[2021-04-27 07:05] richardliaw opened #15534 "[core] pid=None sometimes"
### What is the problem?

When I call `ray.util.connect` multiple times on the same cluster (iterative development), sometimes the logs start showing `(pid=None)` for the process PIDs in stdout.

[code]

[2021-04-27 07:16] jovany-wang commented on #15021
@richardliaw  How about that adding releasing Java version as a work item from next version?

[2021-04-27 07:23] chenk008 commented on #14077
@ericl @edoakes
I describe the design in this doc:
https://docs.google.com/document/d/1vSdO7NSobdYy7ewe5nenteC0nM9bAffE/edit
Please share your thoughts. We will appreciate any feedback!

[2021-04-27 07:37] tokiinan5 opened #15535 "RuntimeError: The actor with name ImplicitFunc failed to be imported, and so cannot execute this method."
I am trying to hyperparameter tuning on  [goEmotion](https://github.com/google-research/google-research/tree/master/goemotions) model using RayTune. The program works well in my local machine using a subset of the data set, however when I deploy it in SLURM I get the following errors:

`raise RuntimeError(f"The actor with name {actor_class_name} "
RuntimeError: The actor with name ImplicitFunc fai

[2021-04-27 07:43] krfricke commented on #15535
Hi @tokiinan5, usually this means that your trainable is accessing modules/dependencies that are not installed on all machines of the cluster. E.g. if you're using tensorflow, tensorflow has to be installed on all cluster nodes. This is true for all other packages as well.

It's hard to see which other dependencies your code has, but it should be a good start to look through your import statements

[2021-04-27 09:20] SebastianBo1995 commented on #8526
Last shor question. Isn't it possible to do this with the help of callbacks? E.g.
[code]

[2021-04-27 10:30] sven1977 commented on #11658
I'm just noticing that in the above script, we train with a "DQN" trainer, but then try to restore using "SimpleQ". This should certainly not work as the default models are different. Just tried the above script with using SimpleQ for both training and restoring and got no errors anymore.

[2021-04-27 15:51] GyChou commented on #4902
Sorry to bother you, it's just that I'm having the same problem as you, today. `min_workers == initial_workers == max_workers` don't work，I con't start worker node by `worker_start_ray_commands`. Have you solved it?

Thank you

my environment:

OS: Ubuntu 18.04
Python: 3.7.10
Ray: 1.2.0

[2021-04-27 15:57] edoakes commented on #15428
@krfricke should this be closed?

[2021-04-27 15:57] ijrsvt commented on #13747
Closed by #15488

[2021-04-27 15:57] #13747 closed

[2021-04-27 16:05] krfricke commented on #15428
Yep! Thanks

[2021-04-27 16:05] #15428 closed

[2021-04-27 18:19] simon-mo commented on #15511
I can't repro this with your script but i can repro it the issue without `ray.init`

[2021-04-27 18:19] simon-mo commented on #15511
PR: https://github.com/ray-project/ray/pull/15546

[2021-04-27 19:44] PranayPasula commented on #11658
Thanks for the update. FYI, the cause of my issue is that the observation space dimension for a policy is being saved to checkpoints as an incorrect value. When restoring from checkpoint, TensorFlow creates layers with this incorrect value of inputs/outputs. I manually corrected this, and the original session.py without errors. I suspect this issue to be on my end.

[2021-04-27 20:00] stephanie-wang commented on #14577
It seems that this error can be triggered in memory-intensive workloads. A temporary workaround is to increase the idle timeout for workers:
[code]

[2021-04-27 20:09] TenTen-Teng opened #15547 "Issue on page /tune/examples/tf_mnist_example.html"
Hi, I am trying to learn how to use HPO with Ray Tune. I copied and pasted the example (https://docs.ray.io/en/latest/tune/examples/tf_mnist_example.html) and there is an error.

I am with a Windows, below is the error I got in Wins.
[code]

I also tried run tune in WSL env, a different error occurred:
[code]

[2021-04-27 20:10] #15511 closed

[2021-04-27 20:26] TenTen-Teng commented on #15547
... problem solved... I restarted my jupyter lab and it works now...

[2021-04-27 20:26] #15547 closed

[2021-04-27 20:40] PranayPasula commented on #11658
Thanks for the update. The problem I had is gone, but I'm not sure exactly why. I'll update after I figure this out.

[2021-04-27 21:24] andrew-rosenfeld-ts opened #15548 "secure dashboard using https"
It would be nice to have the Ray dashboard support some sort of security and authentication, e.g. like Jupyter notebooks do.

Some organisations require even internal web traffic to be over https, so to review the dashboard for a running cluster from another machine, this would be required.

[2021-04-27 22:17] richardliaw opened #15549 "[core] detached actor logs are not streamed to successive clients"
### What is the problem?
I'm unable to see logs on stdout once I start a second client.

The rough operation I am doing is:

[code]

Repro:

[code]

[code]

cc @ijrsvt

[2021-04-27 23:45] stephanie-wang opened #15550 "[core] Objects are spilled before `gc.collect()` finishes"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 1.3/2.0dev

Ubuntu 18.04, 8 cores.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

[2021-04-27 23:55] ericl commented on #15550
Is the root cause a bad interaction of spilling with global gc triggering? Ideally, we'd trigger global gc before we get close to the spilling threshold to avoid this scenario.

[2021-04-27 23:57] stephanie-wang commented on #15550
I think there are two problems:
1. There appears to be a memory leak in Dask-on-Ray.
2. Both global GC and spilling get triggered on OOM (close to 100% capacity). Global GC gets triggered first, but probably, they usually happen concurrently because I think both calls are asynchronous.

[2021-04-28 00:00] ericl commented on #15550
By memory leak you mean Dask on Ray is storing object refs in structures with cyclic refs? So not technically a leak but not ideal for GC.

[2021-04-28 00:23] ericl commented on #15550
Hm so maybe we trigger global gc when we hit say 70%? Not sure what the optimal policy here.

[2021-04-28 02:07] joshheitzmanlumedic opened #15551 "Databricks: AttributeError: 'ConsoleBuffer' object has no attribute 'fileno'"
### What is the problem?

The below exception was observed running on Databricks 7.3 LTS clusters when the code at the bottom was run as both a submit job (a .py file entry point) and in a Databricks notebook.

Traceback (most recent call last):
  <redacted>
    ray_ctx.init()
  File "/databricks/python/lib/python3.7/site-packages/zoo/ray/raycontext.py", line 468, in init
    redis_address=redis_a

[2021-04-28 02:20] joshheitzmanlumedic commented on #15551
May be related to this:  https://github.com/ray-project/ray/issues/2683

[2021-04-28 02:33] amogkam commented on #15551
Can you add this code before running `ray.init()`
[code]

from https://forums.databricks.com/questions/45772/is-there-step-by-step-guide-how-to-setup-ray-clust.html

[2021-04-28 02:43] YeahNew opened #15552 "Adding a RaySGD and DGL ( Deep Graph Library) integration example?"
We are currently using DGL（https://github.com/dmlc/dgl） to do graph neural network research and see that raySGD has good support for distributed DL training, so we tried to combine DGL's model training with raySGD and succeeded. Under the same training, almost the same accuracy rate was finally obtained. Can you add this case as an application examplet to the project?

[2021-04-28 02:47] amogkam commented on #15552
Wow this sounds amazing! Do you mind sharing more details on how the integration works? We'd certainly be happy to add it as an example.

[2021-04-28 03:44] joshheitzmanlumedic commented on #15551
@amogkam That bit of black magic did the trick.  Thanks!

I noticed this comment on the reference post:

So, I checked the executor logs for any similar errors.  Didn't find any errors, so this looks to be a complete workaround.

[2021-04-28 04:26] #15551 closed

[2021-04-28 06:59] YeahNew commented on #15552
@amogkam
OK, Do I need to submit a Pull request? Or show the code directly here?

[2021-04-28 07:24] richardliaw commented on #15552
@YeahNew could you link the code here? That way we could provide best guidance for how to submit the PR!

[2021-04-28 07:54] #15508 closed

[2021-04-28 09:51] antoine-galataud opened #15554 "[rllib] DQN with learning rate schedule throws exception"
### What is the problem?

`lr_schedule` option throws an exception when used with `DQNTrainer` (or any trainer inheriting from its policy definition like APEX).

minimal reproduction example:

[code]

Output:

[code]

Is it necessary to test this since we're in `tf_policy`?

*Ray version and other system information (Python version, TensorFlow version, OS):*

- Ray: 1.3.0
- TensorFlow: 2.3.1

###

[2021-04-28 12:31] ChrisCummins commented on #11291
Not sure if the cause is the same as @saeid93, but I think I may have a similar problem. Attaching repro script:

[code]

last line of stack trace when run:
[code]

Versions:

[code]

And to confirm that CUDA is available from CLI, but not from `torch_policy.py`:

[code]

Cheers,
Chris

[2021-04-28 12:31] YeahNew commented on #15552
@richardliaw @amogkam
yes, the link is here: https://github.com/YeahNew/RayAndDGL.
But it should be noted that simply using DGL (GATwithDGL.py), the script can only run on one GPU.
The case using RaySGD can be run on multiple GPUs.
When multiple GPUs load data, the result of single GPU validation may be slightly different due to data is shuffed.

[2021-04-28 12:41] ChrisCummins commented on #11291
Ah, after digging a bit more on [this page](https://docs.ray.io/en/master/rllib-training.html) it mentions that only "tf-[PPO/IMPALA/DQN/PG]", so presumably it's just that PPOTrainer does not have GPU support on torch. User error. Perhaps it would be possible to emit an error message before the cryptic TypeError?

[2021-04-28 13:57] mvindiola1 opened #15556 "[RLlib][R2D2] Multiple episodes in a timeslice when num_workers > 1"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray: master

A timeslice's burn_in time steps will have samples from other episodes for as long as the cumulative sum of the previous episode lengths are less than the burn_in size.

Example:
In cartpole/stateless cartpole if we have the following sequence lengths from a parallel rollout:

[2021-04-28 13:58] hongjisung commented on #12337
This always happens in specific case when import other local codes.
That import code like `from jobs.next.next import diff`

But copy that code with other directory. it never happens.
That import code like `from utils.diff import diff`

(that files have same code in it)

I cannot understand why this happens....
But python import process would effect on it

[2021-04-28 14:08] mvindiola1 commented on #15554
@antoine-galataud,

Yes it needs the check in order to distinguish between tensorflow 1 and tensorflow 2. It has to do different things depending on the version.

The issue is coming from the fact that tf_policy_template sets up:
1. early mixins <- this is where LearningRateSchedule is instantiated
2. instantiates the  DynamicTFPolicy <- this is where self.framework is set
3. late mixins <- this i

[2021-04-28 14:10] mvindiola1 commented on #15517
Hi @AprilXiaoyanLiu,

I think it will be easier to make suggestions with more concrete information about the environment an policies if you have them available.

[2021-04-28 14:20] edoakes opened #15557 "[RFC] Proposal to add Ray Namespaces"
[RFC document](https://docs.google.com/document/d/1XWoof0GFTVkU3kVIwhnrNCDkBFch0CAAMhz7a4q8-xI/edit?usp=sharing)

The TL;DR is to introduce the concept of "namespaces" that can logically separate applications within a cluster. This can be useful for isolation and resource accounting and is particularly useful for long-lived services that outlive the duration of a driver program.

By default, each

[2021-04-28 14:40] edoakes commented on #14077
Thanks! We are going to do a detailed review of this on Thursday and will
get back to you with feedback/questions.

On Tue, Apr 27, 2021 at 2:23 AM chenk008 ***@***.***> wrote:

[2021-04-28 15:30] antoine-galataud commented on #15554
@mvindiola1 thanks, this was the way to go.

[2021-04-28 16:06] EloyAnguiano commented on #14107
Still having the same issue. Is there any version with the fixed Dreamer algorithm?

[2021-04-28 16:38] valiantljk commented on #15439
As closed in https://github.com/lanpa/tensorboardX/issues/623, with google-crc32c==1.1.2, the issue is gone.

[2021-04-28 18:39] simon-mo opened #15561 "[Serve] Make HTTPProxy a regular Serve Deployment"
From @edoakes:
[code]

From @simon-mo:
- We needs a concept of "Daemonset" in order to support one per node properly. However, way majority of the use case should be fine with just a static set of nodes.

*This can also be a good Ray Serve startup/on-boarding task that takes about 4hr*.

[2021-04-29 01:56] #12733 closed

[2021-04-29 03:22] richardliaw commented on #15552
OK that seems great. Do you want to clean up your code (maybe run a linter like flake8 or black) and link it into the documentation as an example for raysgd?

Also, did you have any feedback for RaySGD?

[2021-04-29 04:03] richardliaw commented on #15378
OK this ended up being fixed here: https://github.com/ray-project/ray/pull/15382

This fix will definitely land in 1.4. There is also a test that checks this precisely -- cc @DmitriGekhtman

I will leave this open for now but @yuduber let's be sure to follow up once we bump the Ray version on your side.

[2021-04-29 06:05] jovany-wang commented on #15496
Close this since it's done.

[2021-04-29 06:05] #15496 closed

[2021-04-29 06:14] lixin-wei commented on #15557
I think It’s more easy-to-understand to call it session instead of namespace. Do you think so?

[2021-04-29 06:24] lixin-wei commented on #15557
BTW, would you please offer some more detailed implementation docs? I noticed there is already an implementation PR. We are concerned whether it will conflict with our internal namespace design.

[2021-04-29 07:47] YeahNew commented on #15552
@richardliaw @amogkam
Okay, these days I have worked hard to clean up the code and solve the problem of incorrect validation accuracy. Do I need to submit a PR after completing the modification?
Feedback：RaySGD is a great job. It is very convenient to encapsulate the model in the CustomTrainingOperator class, and then create the corresponding actor class to perform distributed parallel computing.

[2021-04-29 07:57] amogkam commented on #15552
Yes please feel free to make a PR and tag us.

[2021-04-29 08:20] richardliaw commented on #14505
I think that actually looks OK? consider making the docker have a larger shm though.

[2021-04-29 08:23] richardliaw commented on #3148
Hmm, the original version is now released, so I will close the issue. Please open issues (or pull requests!) if you have any new asks.

[2021-04-29 08:23] #3148 closed

[2021-04-29 08:25] #13324 closed

[2021-04-29 12:44] kiranikram commented on #7645
I have tried all of the above , but I am still getting that error.

[2021-04-29 14:57] isaac-vidas opened #15567 "[serve] FastAPI hangs during shutdown"
### What is the problem?

While trying out Ray Serve with FastAPI on my local environment, I run the server with `uvicorn api.main_serve:app --reload --log-level debug` and when I try to shut it down (ctrl+c) it hangs.
I tried adding `@app.on_event('shutdown')` and calling `ray.shutdown()` from it or overriding `Server.handle_exit` from `from uvicorn.main import Server` but that doesn't seem to ch

[2021-04-29 15:11] michaelarman opened #15568 "Objects being pinned in memory and unable to be evicted"
I have created a custom NSGA2 algorithm and I'm using ray for my evaluator. I've noticed that the objects I retrieve from the ray task are being pinned and I've tried doing a couple things such as copying the returned objects and deleting the reference to the original, using garbage collector, or just deleting all references to ray objects after they're used but no luck.

When using `ray memory` I

[2021-04-29 15:45] #14093 closed

[2021-04-29 15:45] #14575 closed

[2021-04-29 15:45] #14726 closed

[2021-04-29 15:49] #15528 closed

[2021-04-29 16:05] amogkam commented on #15495
@gmatev I'll take a closer look at this over the next few days.

[2021-04-29 16:25] edoakes commented on #15567
@simon-mo can you please take a look and try to repro this?

[2021-04-29 16:29] guykhazma commented on #15496
@jovany-wang sorry I didn't get to check that yet.
but as you said it should work fine.
thanks!

[2021-04-29 16:42] edoakes opened #15569 "[cross_language] Support Python dictionaries"
We currently only support lists/arrays for container types. We should also support dictionaries/hashmaps.

[2021-04-29 17:08] FarzanT opened #15570 "[tune] Resuming (Errored) Trials Should Use Newly Specified Trial Resources (CPU/GPU)"
### Describe your feature request
When resuming trials, currently all changes to the hyper-parameter configurations are ignored. This makes sense. In addition, resources used per trial in `tune.run(resources_per_trial={})` are also ignored. This does **not** make sense, since quite often trials fail because of `CUDA out of memory` errors when fractional GPUs are used. Therefore, resuming trials wi

[2021-04-29 17:16] #14775 closed

[2021-04-29 17:16] #15125 closed

[2021-04-29 17:20] sanjaysrikakulam commented on #14775
Is the fix now available in a ray 1.3.0?

[2021-04-29 17:22] wuisawesome commented on #14775
Unfortunately not, it is in the nightly build and will be in 1.4 (which should come out in 1-2 weeks)

[2021-04-29 17:58] sanjaysrikakulam commented on #14775
OK, thank you! Looking forward to 1.4.

[2021-04-29 18:19] gmatev commented on #15495
Thank you @amogkam! Keep me in the loop if you need additional information or cannot repro this yourself.

[2021-04-29 18:40] #14039 closed

[2021-04-29 18:45] simon-mo commented on #15567
hmm i'm have trouble repro this locally. control C worked for me locally with uvicorn:
[code]
can you try with nightly? https://docs.ray.io/en/master/installation.html#daily-releases-nightlies

[2021-04-29 19:04] edoakes commented on #15462
Interestingly it looks like the `/docs` schema generation stuff is working

[2021-04-29 19:27] max0x7ba commented on #15504
The bottleneck limiting Ray Tune scalability seems to be `TrialRunner._trials` list only ever growing and those linear scans of this list to pick the next trial to run. @richardliaw

[2021-04-29 20:45] #15360 closed

[2021-04-29 21:05] ericl commented on #14077
Hey @chenk008 , @edoakes @yiranwang52 @pcmoritz and I discussed the proposal and we tentatively agree it is the way to go. Here's how we see it as comparing to the alternatives:

Pros: unified mechanism across k8s and non-k8s deployment modes.
Cons: requires linux kernel >=4.18 (however, this will become rapidly less relevant over time)

We have a couple additional questions regarding the POC:

K8

[2021-04-29 21:12] saggar opened #15579 "ray1.3.0 - ray.nodes() returns two entries for the head node - one with 'Alive': False and other 'Alive': True"
### What is the problem?
With python3.7 and ray1.3.0 - ray.nodes() returns two entries for the head node - one with 'Alive': False and other 'Alive': True

### Reproduction (REQUIRED)

[code]

[code]

Note the two entries for head IP address 0 172.31.5.224.
[code]

[2021-04-30 01:39] RemKamal opened #15587 "Suppress FutureWarnings about dependencies"
Hello all,

Using ray with a simple actor, I keep getting messages of this type:
cli_logger.py:61: FutureWarning: Not all Ray CLI dependencies were found. In Ray 1.4+, the Ray CLI, autoscaler, and dashboard will only be usable via `pip install 'ray[default]'`. Please update your install command.\n",

When I changed logging to logging.CRITICAL, the warning still does not go away.
Please let  me kno

[2021-04-30 01:59] #10628 closed

[2021-04-30 05:35] valiantljk opened #15590 "raysgd fault tolerance issue"
### What is the problem?
I was evaluating the RaySGD fault tolerance on K8S. But when I killed one ray worker, the program crashed.
*Ray version and other system information (Python version, TensorFlow version, OS):*

* Ray master, commit ID: d9780761a3773d774f0088bef52d22146a3df236
* Python 3.7

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that

[2021-04-30 05:59] amogkam commented on #15590
What is the error you are getting when the program crashes?

[2021-04-30 07:33] richardliaw commented on #15590
Also, which 'mode' did you run with?

[2021-04-30 07:57] hotohoto opened #15593 "[tune] With optuna randint's upper bound looks inclusive."
### What is the problem?

(AS IS)

With Optuna, `b=10` was found from `tune.randint(0, 10)`, even though the upper bound is supposed to be exclusive according to https://docs.ray.io/en/master/tune/api_docs/search_space.html#ray.tune.randint.

![image](https://user-images.githubusercontent.com/5404902/116665611-f2681380-a9d4-11eb-89ae-bbe955ea3032.png)

(TO BE)

b=10 should not be found

(FYI)

- W

[2021-04-30 08:08] vnlitvinov commented on #7879
I'm really late to the party, but things like "doing import in parallel thread break" sound like incorrect locking to me.
Python has import lock built in for that purpose, is Ray somehow bypassing it somewhere?

[2021-04-30 08:19] RaymondKoopmanschap opened #15594 "Reserving more gpus then I have let the code not finish executing even when sequential processing would be possible. [ray]"
### What is the problem?
When creating multiple actors. Say two, and I reserve 1 GPU for both of them and only have 1 GPU in my machine, the code hangs (i.e. doesn't finish executing) when I want to ray.get the results of the second item.

- Python version == 3.8.8
- Ray version == 1.3.0
- OS == Windows (also tested on Linux, and this gives the same issue)
- I have 1 GPU in my machine, a RTX 2060.

[2021-04-30 09:32] YeahNew commented on #15552
Can you help me find out the reason for the inconsistency between the final validation results of these two comparison scripts（https://github.com/YeahNew/RayAndDGL.）?
I carefully compared the execution logic of the validate phase and found that there was no difference, but I couldn't find the reason for the huge difference in the results.

[2021-04-30 15:59] wgharbieh opened #15595 "[tune] Logs fill up disk space causing a "No space left on device" error"
### What is the problem?

I was running a job with 10,000 trials but after a few hours, the trials started failing with `No space left on device` error and the main job gets stuck. Upon inspection, I saw that `gcs_server.out` in the `tmp/ray` directory (in my case it was inside `/tmp/ray/session_2021-04-30_14-40-05_696401_1035646/logs`) is over 150 GB which filled up my disk space. Is there a way

[2021-04-30 16:09] Cli212 commented on #12326
Are there any solutions to this issue? I encounter the same error.

[2021-04-30 16:43] edoakes commented on #15191
Fixed by @simon-mo at some point.

[2021-04-30 16:43] #15191 closed

[2021-04-30 21:26] amogkam commented on #15590
Are you also getting the same error with mode 1?

[2021-04-30 21:26] franklsf95 commented on #15289
Seems to be fixed in the 1.3 release.

[2021-04-30 21:26] #15289 closed

[2021-04-30 22:46] valiantljk commented on #15590
Interestingly, with mode 1, it works.

[2021-04-30 23:17] valiantljk commented on #15521
probably can try this workaround:
[code]

[2021-04-30 23:45] simon-mo opened #15600 "Docker failed to build due to rate limit"
https://travis-ci.com/github/ray-project/ray/jobs/502345871#L14374
[code]

[2021-05-01 00:53] richardliaw commented on #15595
cc @ericl  @krfricke this is due to too many placement groups started in Tune I think.

[2021-05-01 00:56] richardliaw opened #15602 "Odd task scheduling behavior on same node"
### What is the problem?
On two containers on the same host:

[code]
then on either, you can run:

[code]

This is unexpected behavior -- cc @clarkzinzow

[2021-05-01 04:57] rkooo567 commented on #15579
Node ID is corresponding to raylets (a decentralized scheduler that can be restarted multiple times on the same node).

That says, this probably means your raylet was restarted in the head node. Do you use ray autoscaler?

[2021-05-01 04:59] rkooo567 commented on #15568
Is it possible to share code and the whole ray memory output?

[2021-05-01 05:04] rkooo567 commented on #15550
I think triggering a little early sounds like a good short-term remedy. As long as we don't call it frequently, there shouldn't be much perf impact.. but I wonder if there's a systematic way to detect cyclic refs from object refs...

[2021-05-01 05:18] maulberto3 commented on #7421
Hi, hate to bump thread, but I am getting the said error with PPOTtrainer, but not the PGTrainer...

[2021-05-01 09:58] sanjaysrikakulam opened #15604 "[Core] Requesting mutability feature in plasma store for numpy array objects with a keyword argument in ray.put"
Hi,

**Requirement:** Mutability feature for NumPy objects in Plasma store via `ray.put(object, mutable=True)` By default `mutable=False`.

**Goal:** Zero copy (so zero wastage of memory resources)

**Scenario:** Constructing a large 2D bloom filter matrix (200GB or more)
Each of my child processes creates a 1D NumPy array and fills in the array using the array's index (Imagine the array as a 1D B

[2021-05-01 17:10] chenk008 commented on #14077
Hey @ericl @edoakes @yiranwang52 @pcmoritz , thanks for feedback. Now I’m on holiday,  I can answer some of these questions, and the others will be verified in a few days.

### K8s related:

Currently in AntGroup K8s cluster, I have tried running it with unprivileged containers. But I have encountered some problems in OSS K8s. I think the main difference is the cgroup mount option, and I will try

[2021-05-01 17:24] #12490 closed

[2021-05-01 17:24] roireshef commented on #12352
@sven1977 @ericl @richardliaw ?

[2021-05-01 17:28] ericl commented on #12352
Placement groups are now on by default in the latest release. Should this be closed?

[2021-05-01 17:36] roireshef commented on #12352
@ericl - is latest release well benchmarked with respect to this issue? Were you able to spawn few 10s of trials with a single Tune call and maintain consistent bandwidth throughout a day or two of training?

[2021-05-01 19:01] achilleess opened #15605 "Trial checkpoint"
Is there any way to automatically delete unused checkpoints by PBT during training?

[2021-05-01 20:16] micahcarroll commented on #9220
Thanks @LecJackS for posting your solution!

Current documentation for non-recurrent case was added after this comment: https://github.com/ray-project/ray/issues/9123#issuecomment-653816255.  Updating it to include the code @LecJackS posted above for the recurrence case would be helpful.

[2021-05-02 00:46] franklsf95 commented on #15521
@valiantljk Thanks, but unfortunately this won't work because I need the task `foo` (which runs on the local cluster) to call `bar`, which I want to run on the remote cluster.

[2021-05-02 01:09] ericl commented on #15521
This isn't currently possible, but might be added in the future (cc @edoakes )

[2021-05-02 03:39] max0x7ba commented on #15504
[cProfile output](https://github.com/ray-project/ray/files/6410723/cprofile.txt). Top 20 functions where the scheduler spends tme:

[code]

[2021-05-02 04:41] #12665 closed

[2021-05-02 05:43] robertnishihara opened #15606 "[1 week left] Register for Ray Summit 2021!"
We will be hosting a (free) virtual [Ray Summit](https://www.anyscale.com/ray-summit-2021?utm_source=anyscale&utm_medium=employee&utm_campaign=raysummit&utm_content=rn) from June 22-24!

The conference will highlight how companies are using Ray for ML infrastructure, recommendation systems, financial applications, data processing, serving, training, and more.

We’ll also be featuring talks from cr

[2021-05-02 11:44] mvindiola1 commented on #15594
Hi @RaymondKoopmanschap,

The issue you are running into is with scheduling counter2. In this example ray has 1 gpu available and 2 actors that each specify a requirement of  1 gpu. counter1 is created first and claims the gpu so when counter 2 is created there is no gpu available. The scheduler will not schedule tasks for that actor until counter1 has released it. If you look at the code flow it

[2021-05-02 16:03] kiranikram opened #15607 "[rllib] Training becomes extremely slow; multiple iterations but only single episode"
[rllib]

 Up until this morning I had no issues running PPO on my MultiAgent custom env. However after a certain number of episodes, training gets 'stuck' - ie even though it still appears to be training, and iterations are increasing, no new episodes are carried out. I have tried a variety of stopping criterion, including the original, which worked just fine.

ray 1.2 , python 3.7.6

config = {

[2021-05-02 17:13] rfali commented on #12504
Experienced the same error, using ray 1.3.0, tensorflow 2.4.1, ubuntu 18.04.

`ValueError: It looks like you are still using `<ray.rllib.models.catalog.AtariModel_as_DistributionalQTFModel object at 0x7f7a1e6c35b0>.register_variables()` to register your model's weights. This is no longer required, but if you are still calling this method at least once, you must make sure to register all created va

[2021-05-02 18:28] tgaddair opened #15608 "K8s Operator: Ray processes not restarting when container restarts"
### What is the problem?

For various reasons, Kubernetes may decide to recreate the containers within a Pod. When this happens, the Ray setup commands are not run again, resulting in the container having no Ray processes running.

If something triggers a restart of the container, the Ray cluster should eventually come back into a ready state as though it were initialized for the first time.

###

[2021-05-02 18:28] #12992 closed

[2021-05-02 18:28] #12993 closed

[2021-05-02 18:46] DmitriGekhtman commented on #15608
Thanks for bringing this up.
Closely related:
https://github.com/ray-project/ray/issues/14634

The situation is that there is currently zero tolerance for head pod failure/restarts.

[2021-05-02 18:48] DmitriGekhtman commented on #14634
Should clarify in interest of tracking this, that the specific event currently not remedied is failure of the head pod.

[2021-05-02 18:52] DmitriGekhtman commented on #15608
After this https://github.com/ray-project/ray/pull/15526 is merged, you'd at least get an update that the Ray cluster is in an error state.

[2021-05-02 19:09] DmitriGekhtman commented on #15608
Head failure is an actual cause for concern when running the head in a k8s pod
(as opposed to just using vms)
cc @ericl @pcmoritz

[2021-05-02 19:26] #15605 closed

[2021-05-03 01:39] lucas-spangher opened #15609 "[rllib] How to retrieve and modify the logits for PPO"
I will repeat this question on your discussion page.

I'd like to retrieve the logits that the PPO agent's policy computes for each multidiscrete action, and then modify them so that the action sampling can use my modified logits.

I'm really sorry for the question, but the code is so abstracted that it's hard for me to tell how I would retrieve the logits and then reset them. Is it in the forward

[2021-05-03 05:41] mingshi-wang commented on #15518
@iycheng Hi Yi, I wonder if you are open for a discussion on this feature request?

[2021-05-03 07:02] borninfreedom commented on #4569
What's the difference between "training_iteration" and "episodes_total" ?

[2021-05-03 07:03] borninfreedom commented on #4569
What's the difference between "training_iteration" and "episodes_total" ?

[2021-05-03 07:52] stefanbschneider commented on #4569
@borninfreedom I think a training iteration consists of collecting and training on experience from one "training batch", i.e., it collects data until the training batch is full, independent of whether this experience is from just one episode or multiple episodes.
An episode is environment-specific, e.g., terminates whenever the pole tips and falls in the common cart pole env.
Hence, collecting eno

[2021-05-03 09:36] borninfreedom opened #15612 "How to get mode summary if I use tune.run()? [rllib][tune]"
If I use RLlib, I can get the model summary through
[code]
But if I use the tune.run(), there isn’t a trainer, so How can I get the model summary?

[2021-05-03 10:42] rfali commented on #12504
Surprisingly, commenting out the following made the problem go away. I did this because the callback said _"This is no longer required"_ but I am not entirely sure if this is a solution.
[code]
The experiment ran fine, although I did not get good results (but the reason for that is unknown at the moment).

[2021-05-03 13:27] vycezhong opened #15613 "Question: what's the meaning of num_cpus?"
Hi! I am reading docs and get confused with this part:

It seems that specifying _num_cpus=2_ makes no difference here. Only half of  CPUs are working and each task only utilizes one CPU. Then what's the meaning of _num_cpus_?

[2021-05-03 14:02] krfricke commented on #15613
Hi @vycezhong, maybe the example is a bit hard to parse. Let me try to lay it our a little bit more clear.

The example assumes you have a cluster (or a single machine) with 16 CPUs.

You start Ray with no specific options. Ray thus starts a python worker process for each CPU, so 16 CPUs.

You can see these worker processes e.g. with `ps aux`. They are currently in idle state.

Then you start 8 ta

[2021-05-03 14:38] vycezhong commented on #15613
@krfricke  Thank you so much for your detailed explanation. BTW, if `num_cpus=2` are given, I wonder whether the task can actually occupy more than 2 CPUs?

[2021-05-03 15:56] AmeerHajAli commented on #15407
@edoakes ,

I think there are two levels we need to address this:
1) client -> server.
2) runtime env.

[2021-05-03 15:57] AmeerHajAli commented on #15407
what happens if my local machine is a CPU but my remote is a GPU should the packages be allowed to be different or we should use GPU on both ends?

[2021-05-03 16:02] krfricke commented on #15613
If the actor starts subprocesses or threads this could happen. It's up to the user to prevent that from happening.

Per default, Ray sets `OMP_NUM_THREADS=1` to avoid this for numeric libraries such as numpy or pandas.

[2021-05-03 16:06] vycezhong commented on #15613
Got it. Thank you!

[2021-05-03 16:06] #15613 closed

[2021-05-03 16:09] edoakes opened #15615 "Define initial JSON schema for job submission"

[2021-05-03 16:09] edoakes opened #15616 "Use a single RuntimeEnv definition across Ray core and job submission"

[2021-05-03 16:15] edoakes commented on #15407
As a first cut I think we just print a warning if the environment is mismatched at all. For runtime_env, I think we should be able to transparently handle a lot of cases (i.e., if they only pass python primitive types) using the cross-language serialization format that Ant has already added for python<->java calls.

[2021-05-03 16:17] edoakes commented on #15557
@lixin-wei we will post a more detailed design doc before actually merging an implementation. The PR that's open from @wuisawesome is just a prototype for an internal demo.

[2021-05-03 16:29] #10243 closed

[2021-05-03 16:35] krfricke opened #15617 "[tune] ConcurrencyLimiter does not work with BasicVariantGenerator"
See https://discuss.ray.io/t/most-runs-immediately-failing-with-out-of-memory/1966/3

[2021-05-03 16:56] richardliaw commented on #15617
closed because dup with #15156

[2021-05-03 16:56] #15617 closed

[2021-05-03 17:54] ijrsvt commented on #15407
@edoakes Is that basically checking versioning when modules are serialized?

[2021-05-03 17:56] clarkzinzow commented on #12550
The scope of this has been increased to include removing the GCS-based object directory.

[2021-05-03 18:19] #14808 closed

[2021-05-03 18:19] #14809 closed

[2021-05-03 18:45] devin-petersohn commented on #14039
@guykhazma Yes, there is lost functionality with MLDataset. I believe this is a first step toward better integrations. Do you have an idea of what the ideal case would be?

[2021-05-03 20:03] dekromp commented on #15504
Hi,
I am observing a similar (if not the same) issue.  ray version:  `1.3.0`,  OS: ubuntu server 20.04, python: `3.8.8`
`gcs_server.out`:
[code]
Which I just realized has 140 GB (no typo, thanks for pointing that out @max0x7ba) after running roughly 16 hours.

STDOUT:
[code]

In my case I am performing a series of hypertuning tasks that sequentially call `tune.run` with 2000 trials each on a clust

[2021-05-03 20:32] edoakes opened #15620 "[runtime_env] Basic working_dir not working with ray.init()"
[code]

[2021-05-03 20:38] richardliaw commented on #15595
Workaround for now would be https://discuss.ray.io/t/ray-tune-log-grows-extremely-large/1992/3

[2021-05-03 20:48] krfricke commented on #15504
From a quick glimpse this could actually be related to https://github.com/ray-project/ray/issues/15595#issuecomment-831518809 and https://discuss.ray.io/t/ray-tune-log-grows-extremely-large/1992/3

Basically starting a large number of placement groups fills the logs and might introduce overhead.

Can you try setting `TUNE_MAX_PENDING_TRIALS_PG=x` where x is the number of available cluster CPUs (or

[2021-05-03 20:50] max0x7ba commented on #15504
@kradongit A part of the problem is that `TrialRunner._trials` grows indefinitely with completed trials not being removed from the list. That cannot possibly scale, IMHO.

[2021-05-03 20:53] krfricke commented on #15504
We tested this I think for up to 10,000 trials. Linear scanning through 10k items doesn't take too much time, though I agree we should fix this by moving finished trials to a different list and possibly split experiment checkpointing in a second step.

[2021-05-03 20:55] krfricke commented on #15504
We also have a release test testing the scheduling overhead specifically for 10k trials. However this uses very short evaluation functions to keep the wallclock time shorter for testing. Thus the log file issue didn't came up in those release tests.

We might want to have a long running release test for this.

[2021-05-03 20:57] benjamindkilleen commented on #7421
Seconded @maulberto3

[2021-05-03 21:09] max0x7ba commented on #15504
Well, those numerous linear scans of ever growing `TrialRunner._trials` evict progressively more user data out of L2 and L3 CPU caches, making memory-intensive user tasks slow down orders of magnitude. Tasks like `os.sleep()` or my `cpu_hog` may not show any statistically significant difference because of not accessing much memory, but memory intensive ones should.

I wonder what RAM resources tho

[2021-05-03 21:12] krfricke commented on #15593
I see, this is because Optuna defines randint as inclusive:

https://optuna.readthedocs.io/en/stable/reference/generated/optuna.distributions.DiscreteUniformDistribution.html#optuna.distributions.DiscreteUniformDistribution

So in this case we will just have to subtract 1 from the higher bound in the search space conversion.

This is pretty straightforward,. Do you want to file a PR for that? Othe

[2021-05-03 21:18] krfricke commented on #15504
Can you try the `TUNE_MAX_PENDING_TRIALS_PG=x` to solve the gcs_server.out problem?

I'm happy to work on removing finished trials from the `TrialRunner._trials` this week/early next week. We will probably include these fixes in a 1.3.1 patch release.

[2021-05-03 21:20] max0x7ba commented on #15504
Sure, please, bear with me.

[2021-05-03 21:21] maulberto3 commented on #7421
Hi, I made more tests, and interesting thing is that there seems to be no problem using CLI rllib commands, while doing scripting there is... Also, related somewhat, the num_gpus parameter seems not to be working well, even when setting it to num_gpus=0... Hope this helps.

[2021-05-03 23:03] DenysAshikhin opened #15623 "DD-PPO not working on Win10 [rrlib]"
### What is the problem?

DD-PPO does not work on win10. I have tried running it in administrator mode both in CMD and pycharm.

Full Stack Trace:
[code]

### Reproduction (REQUIRED)

Pastebin of *pip list*: https://pastebin.com/3XKt911M

Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external librar

[2021-05-03 23:41] ethanluoyc opened #15625 "[rllib] Potential issue on SAC alpha loss"
### What is the problem?
*Ray version and other system information (Python version, TensorFlow version, OS):*
-NA-

I have noticed that the alpha loss used by rllib's SAC
https://github.com/ray-project/ray/blob/master/rllib/agents/sac/sac_torch_policy.py#L292
 to be different from other implementations.
Here the `-torch.mean(model.log_alpha *
                                 (log_pis_t + model.tar

[2021-05-03 23:50] max0x7ba commented on #15504
@krfricke I confirm that `TUNE_MAX_PENDING_TRIALS_PG=32` solves the problem of `gcs_server.out`. Running my reproduction code with `range(10,000)`:

* With `TUNE_MAX_PENDING_TRIALS_PG` unset, `gcs_server.out` is `7,775,092,845` bytes.
* With `TUNE_MAX_PENDING_TRIALS_PG=32`, `gcs_server.out` is `302,695,182` bytes.

No change to idle workers problem, though.

[2021-05-04 01:26] hotohoto commented on #15593
I hope all the search algorithms be checked via one or more unit tests if it's possible because the same thing happened with `HyperOptSearch ` and `TuneBOHB`. (I didn't check all the algorithms.)

I've changed the upper bound as you mentioned. So, there is no hurry from my side, I'm just waiting for the next official release. Thanks a lot.

[2021-05-04 04:19] max0x7ba commented on #15504
@krfricke With `TUNE_MAX_PENDING_TRIALS_PG=32` and `range(10000)` I no longer observe idle worker CPUs.

[2021-05-04 05:57] iycheng commented on #15620
@edoakes  The reason it failed is that when calling init and the core worker is constructed, it'll spawn workers immediately and it'll fail to fetch the jobs.

The reason the test case runs ok is because it's not running by init directly. It tests init to existing cluster or client connect to an existing cluster. Let me see how to fix this.

[2021-05-04 06:05] iycheng commented on #15620
I thought about it a little bit and I think it doesn't make sense in this case. In this case, ray is local, so we should have all the envs there. I can add a check for this usage. Do you think that's OK? @edoakes

[2021-05-04 06:13] iycheng commented on #15518
Hi @mingshi-wang  sorry, I missed your message. Yes, I'm ok with some discussion of this one. I think right now, @architkulkarni  also has some thoughts about this one, please involve him as well.

[2021-05-04 07:23] DenysAshikhin commented on #15623
So I further tested with a different .py file (same code) but I removed unused import statements and get the following error:

[code]

I also forgot to mention this in my initial post, but the reason I ran into this bug is I tried to setup DD-PPO for my own external Env, except I would run into:

[code]
The only thing I change to get the different errors, is the `env: "CartPole-v0"` or `env: "MyEx

[2021-05-04 08:22] Eleven1Liu opened #15627 "[tune] tune run OptunaSearch: AttributeError: 'Study' object has no attribute 'ask'"
### What is the problem?
When running `OptunaSearch`, there's an error `AttributeError: 'Study' object has no attribute 'ask'`. It seems that `ask` not used for a newer version of Optuna. Should I downgrade my optuna version to an older one? Thanks!

### Reproduction (REQUIRED)
#### Versions
[code]

#### Command
[code]

#### Error
[code]

[2021-05-04 08:25] krfricke commented on #15504
Thanks for confirming. I'll submit a quick PR that sets TUNE_MAX_PENDING_TRIALS_PG to max(16, the number of available cluster CPUs divided by the number of required CPUs per trials) per default. With a minimum of 16 pending trials per default autoscaling should still be triggered reasonably fast. Note that this doesn't limit the number of parallel (e.g. running trials), just the number of placemen

[2021-05-04 08:26] amogkam commented on #15627
Hi @Eleven1Liu can you actually **upgrade** your Optuna version to 2.6.0? Alternatively, you could downgrade your Ray version to 1.2.0 and I believe that should work with your current Optuna version.

[2021-05-04 08:32] Eleven1Liu commented on #15627
Hi @amogkam, upgrading Optuna to 2.6.0 works. Thanks for help!!

[2021-05-04 08:32] #15627 closed

[2021-05-04 10:33] davidberenstein1957 opened #15632 "Issue on @serve.deployment class with FastAPI deployment and module imports"
These instructions do not seem to work for ray[serve] or ray[default] @1.3.0. Also, ray==2.0.0.dev0 has problems.

[2021-05-04 10:44] davidberenstein1957 commented on #15632
Ohh sorry, I see, you seem to be working on updates currently. Please send a request if you are looking for more context.

[2021-05-04 11:21] #15554 closed

[2021-05-04 11:26] #14097 closed

[2021-05-04 12:39] #8152 closed

[2021-05-04 13:34] hannahbus opened #15633 "Object spilling does not seem to work in Ray 1.3 on Windows machine"
### What is the problem?

I am using Ray 1.3, Python 3.8.5 and Spyder 5.0  on a Windows 10 machine (8 CPU, 8 GB RAM).

I parallelize a function, which returns large objects. The return objects eventually fill up the object store leading the programme to crash. I was hoping that with Ray 1.3 the programme would not crash as the documentation says: "In Ray 1.3+, objects will be spilled to disk if th

[2021-05-04 14:16] Hoeze commented on #13607
Another issue: Ray ignores `$CUDA_VISIBLE_DEVICES`.
[code]

[2021-05-04 14:23] benjamindkilleen commented on #7421
I got it working by installing the latest nightly (this morning), so it seems this has been addressed for PPO, but not released.

[2021-05-04 15:08] sivarajendranaidu opened #15635 "Issue with Fractional CPU Support for K8s job"
Problem: Trying to schedule a K8s Job which runs the RL on Ray cluster with fractional CPU

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray version: 1.0.0

Please find the k8s job yaml as follows:

apiVersion: batch/v1
kind: Job
metadata:
  namespace: ray-test
  generateName: ray-test-job-
spec:
  template:
    spec:
      restartPolicy: Never
      contain

[2021-05-04 15:13] timurlenk07 commented on #14523
This issue still exists in Ray 1.3.0. I expected the PR solving the problem to be included in the new release, but apparently, it's not. :(

[2021-05-04 15:17] edoakes commented on #15620
Hmm I think we definitely need to support this, otherwise it'll be really confusing to users who want to do local testing. Shouldn't the worker pool be keyed on the job config? I didn't fully understand the reason why this isn't working.

[2021-05-04 16:21] ijrsvt opened #15636 "[client] Ray Client timeout"
### What is the problem?
* Ray Client times out after ~6 minutes of being idle.
* Possible solution is to use [gRPC Keep Alive](https://github.com/grpc/grpc/blob/master/doc/keepalive.md)

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to re

[2021-05-04 17:13] edoakes opened #15637 "[serve] Issue with serialization using FastAPI w/ `ray start`"
[code]

[2021-05-04 17:13] edoakes commented on #15637
@architkulkarni can you try to reproduce this locally?

[2021-05-04 17:44] iycheng commented on #15620
The reason is that, if it's a fresh start, it'll start some workers with the job config and these workers will not be able to access the uris.

[2021-05-04 17:57] edoakes commented on #15620
Sorry, still not following. If they're started with the job config then shouldn't they have the correct URIs?

[2021-05-04 18:44] edoakes commented on #15632
Hey @davidberenstein1957 you're right that we're in the midst of some big updates! Could you say more about the problems you ran into on the nightly wheels (2.0.0.dev0)?

[2021-05-04 18:52] iycheng commented on #15620
I made the fixing for this. In raylet, there is an option where it'll try to init worker when core worker got created. We need to upload it later after creating the core worker.

[2021-05-04 19:43] davidberenstein1957 commented on #15632
So, I was trying to serve my FastAPI application via /serve/tutorials/web-server-integration.html via 2.0.0.dev0. I really love the new interface copared to the old one. However, for FastAPI specifically, the requests are already formatted via the FastAPI decorators, so request.body() doesn't need to be there. Similarly, the asynchronous FastAPI endpoint don't need to be awaited anymore. Also, I s

[2021-05-04 20:43] edoakes opened #15642 "[serve] Support prev_version in .deploy()"
Reject other versions to avoid concurrency control issues.

[2021-05-04 20:47] edoakes commented on #15642
FYI @simjay

[2021-05-04 21:45] #13589 closed

[2021-05-04 21:45] #14699 closed

[2021-05-04 21:48] edoakes commented on #15407
That's right. Dask has a really nice warning for this:
![dask](https://user-images.githubusercontent.com/9871461/117074162-99f88500-acf8-11eb-9cad-8ce2bff33c54.png)

[2021-05-04 22:18] ericl commented on #14182
I can reproduce this pretty easily by writing big files to /dev/shm (`cat /dev/zero > /dev/shm/file`) and then trying to put more objects in Ray. I think the underlying issue is we are not catching a failed allocation correctly, trigger SIGBUS somewhere in plasma's memory allocator (cc @suquark ).

[2021-05-04 23:27] romilbhardwaj opened #15644 "Memory leak on calling ray.wait on empty list in a loop"
### What is the problem?

Calling ray.wait() on an empty list in a loop results in a ever increasing memory utilization which eventually causes an out of memory error (see loop 1 below).

Interestingly, there's no memory leak when using a non empty obj refs list. (loop 2)

Ray 1.3, Python 3.7.4, Ubuntu 18.04

### Reproduction
[code]

- [ * ] I have verified my script runs in a clean environment an

[2021-05-04 23:31] simon-mo commented on #15644
ray.wait should have just return `[], []` on empty list. @ray-project/ray-core-python thoughts?

[2021-05-05 00:43] richardliaw commented on #13607
Hmm, what if you set it to ""? I think `-1` might be a specific case that we didn't account for correctly

[2021-05-05 04:20] floucks commented on #12128
Hi all,

I've spent a good amount of time today working on building various Ray versions for Docker on ARM (RPi4).
This Dockerfile is the result. I build the .whl in Stage 1, and copy it into Stage 2, which helps keep the final image smaller. I've used this to successfully build 1.3.0 and 2.0.0.dev0 on aarch64 with Python 3.8.10.

To use: copy directory as shown below onto target machine, cd to ./

[2021-05-05 04:54] zhe-thoughts commented on #10037
@ericl @rkooo567 Could you confirm whether we are already using cgroup for workers? Thanks

[2021-05-05 04:57] rkooo567 commented on #10037
I don't think so. I think we only use cgroup for actors to contraint memory usage IIRC. I believe this is the RFC that can solve this problem; https://github.com/ray-project/ray/issues/14077, but I don't know the current progress

[2021-05-05 05:04] ericl commented on #10037
Nope. That would basically amount to the containerization support, which
would provide that for free.

On Tue, May 4, 2021, 9:57 PM SangBin Cho ***@***.***> wrote:

[2021-05-05 06:54] #15620 closed

[2021-05-05 07:34] ouissamam commented on #2536
Hi, I also a question concerning the LSTM hidden states. I have the following setting: 'rollout_fragment_length': 32 and 'batch_mode': 'truncate_episodes' which results in a sample_batch with more than one episode in it. Will the hidden state be passed on through the whole sample_batch, or does rllib recognize that we have multiple episodes in one sample_batch and does not propagate the state acro

[2021-05-05 07:48] RaymondKoopmanschap commented on #15594
Thanks for the answer and for the solution with ray_terminate. This makes sense to me. Although I still find it weird that the program basically gets in an infinite loop without finishing. It seems the second Actor is waiting for the first one to be terminated which never happens.

[2021-05-05 08:04] aptlin commented on #13794
Any updates?

[2021-05-05 08:45] HanbumKo opened #15646 "[rllib] no improvement APEX-DQN"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
`ray == 1.2.0`
`torch == 1.7.1`
`tensorflow == 2.4.1`
I have trained for 22hours but can't see any improvement of episode reward APEX-DQN on pong environment with tuned example [here](https://github.com/ray-project/ray/blob/master/rllib/tuned_examples/dqn/pong-apex.yaml)
Is there anything

[2021-05-05 09:53] RocketRider opened #15647 "Add documentation for lr_schedule"
It would be great to have a documentation for the "lr_schedule". I had to look into the code to find out how it is working.

Here is my example:
I want to start at lr = 2.5e-4 and decrease it over 50 Mio steps to 2.5e-5. after the 50 Mio it should stay at 2.5e-5.

So here is my config:
[code]
Is this done right?

![image](https://user-images.githubusercontent.com/1881640/117124516-b77d2b80-ad98-11

[2021-05-05 12:56] mvindiola1 commented on #15594
@RaymondKoopmanschap,

Yes it is unintuitive. It is not an infinite loop though it is more like resource contention on a semaphore. You have defined a limited amount of a resource (num_gpus=1) and have asked for more of that resource than is available (two classes that each want to use that resource) so the second one has to wait until the resource is released before it can run.

In ray the Actors

[2021-05-05 13:03] davidberenstein1957 commented on #15632
Also, I have a Ray cluster running on Kubernetes and I wan't to connect to it with my seprately deployed (on the same kubernetes cluster but not within the ray cluster) FastAPI Microservices (clustering/NLP etc), but the ray.init() command doesn't recognize the other cluster. When [port-forwarding](https://docs.ray.io/en/master/cluster/kubernetes.html#using-ray-client-to-connect-from-outside-the-k

[2021-05-05 13:47] crypdick opened #15648 "[serve] ValueError: Keys not found"
### What is the problem?
While running a Serve batch predict job, this error is printed thousands of times:

[code]

Ray version 1.3.0
Python 3.8.5
Ubuntu 20.10

Unfortunately, I do not know how to reproduce this in a minimal example. cc @simon-mo

[2021-05-05 14:16] Deathn0t opened #15649 "Missing argument "max_calls" for RemoteFunction.options"
I was wondering if it was normal for `ray.remote_function.RemoteFunction.options` to not have the `max_calls` argument which is technically good for `ray.remote`? I think it would be more coherent to have it here as well.

Is there any technical limitation?

https://docs.ray.io/en/latest/package-ref.html#ray-remote

[2021-05-05 15:10] davidxiaozhi commented on #15300
https://github.com/ray-project/ray/blob/master/python/ray/tune/ray_trial_executor.py
Whether the default configuration for [DEFAULT_GET_TIMEOUT = 60.0  # seconds]  can be modified externally,
Timeouts can occur when some tasks are trained for too long

[2021-05-05 16:12] #15179 closed

[2021-05-05 16:37] #15637 closed

[2021-05-05 17:17] johann-petrak opened #15650 "[dashboard] Dashboard completely empty"
Ray version: 1.3.0, installed with `pip install -U ray[default]`
Python: 3.8 in a conda environment
OS: Ubuntu 18.04

No matter how I start ray, either with
* `ray start --head` from the command line
* or `ray.init()` from Python

When I visit http://127.0.0.1:8265 afterwards, I get a completely blank screen, in Firefox and Chrome.

In order to make sure this is not because of any installed add-on

[2021-05-05 17:53] simon-mo commented on #15650
Does the machine has any GPUs? If so what type? Thanks!

[2021-05-05 18:01] ebr opened #15652 "[Ray Operator] The ServiceAccount should not be hardcoded to the 'default' namespace"
### What is the problem?

When deploying the cluster-scoped Ray Operator, the ServiceAccount `ray-operator-serviceaccount` is hardcoded to be created in the `default` namespace, and the corresponding ClusterRoleBinding also binds that SA in the `default` namespace. This prevents Ray Operator from being deployed in any other namespace, because there is no such SA in the target namespace.

### Repro

[2021-05-05 18:01] simon-mo commented on #15594
The API was designed this way (not throwing and error on pending actors) because the cluster is expected to autoscale in common production scenarios. If you want the erroring behavior, we recommend:
- For a single actor, define an empty `def ready(self): return True` method and call `ray.wait([actor.ready.remote()], timeout=...)` to make sure the actor was scheduled given some time
- For group of

[2021-05-05 18:02] simon-mo commented on #15648
Thanks @crypdick, I will look into this.

[2021-05-05 18:06] DmitriGekhtman commented on #15652
Thanks -- we'll fix that.
Helm chart in progress.

[2021-05-05 18:10] simon-mo commented on #15649
There isn't any technical limitation, rather simply missing implementation, feel free to submit a PR! 😁

[2021-05-05 18:47] #8033 closed

[2021-05-05 19:16] edoakes commented on #15644
`ray.wait` does basically nothing but return two new empty lists when an empty list is passed in:
https://github.com/ray-project/ray/blob/master/python/ray/worker.py#L1598

My best guess would be that it has to do with the `profiling.profile("ray.wait")` context manager.

[2021-05-05 19:17] edoakes commented on #15644
Just confirmed that I can reproduce the issue locally and commenting out the `with profiling.profile("ray.wait"):` causes the memory usage to be stable.

[2021-05-05 20:47] mvindiola1 commented on #15647
High @RocketRider,

[code]

[2021-05-05 21:09] raz4 commented on #15078
Upgrading to Ray 1.3.0 resolved this issue for me.

`pip install ray==1.3.0`

[2021-05-05 23:11] ebr opened #15653 "[k8s] ray.init() can not connect to the port-forwarded cluster"
### What is the problem?

- Ray nightly build (`ray-2.0.0.dev0-cp38`)
- cluster deployed using Ray Operator
- `kubectl port-forward <head-node pod> 10001` is working; I am also port-forwarding the dashboard and able to see it.

I am trying the [Streaming MapReduce](https://docs.ray.io/en/master/auto_examples/plot_streaming.html) example, but this likely applies to any example.

To summarize: `ray.

[2021-05-05 23:18] simon-mo commented on #15653
@DmitriGekhtman can you take a look?

[2021-05-05 23:37] DmitriGekhtman commented on #15653
`ray.init` with address specified only works when executed on a node of the cluster.
`ray.util.connect` uses the Ray client-server connection and works remotely

The distinction between the `ray.init` and `ray.util.connect` APIs is confusing and it's on our mind to unify these in the future.

The more immediate action item is to add more context to this page of documentation...

[2021-05-05 23:42] ebr commented on #15653
Thank you @DmitriGekhtman - makes sense. So in our own scripts, we'll have to distinguish between running inside and outside of the cluster, by e.g. checking for the `KUBERNETES_SERVICE_HOST` env var. But the examples will not work out of the box, which is acceptable at this point. Thanks for clarifying.

[2021-05-05 23:46] gmatev commented on #15495
@amogkam was wondering if you had any additional insights on this one?

[2021-05-05 23:55] DmitriGekhtman commented on #15653
Looks like the provided script uses `ray.init()`, which starts Ray on the local machine.

It's also possible to use `ray.util.connect` to connect from a pod in the same K8s cluster but outside the Ray cluster.
https://docs.ray.io/en/master/cluster/kubernetes.html#using-ray-client-to-connect-from-within-the-kubernetes-cluster

[2021-05-05 23:56] #15653 closed

[2021-05-06 02:03] rkooo567 opened #15656 "[Core] `parallel_memcopy` creates / destroys threads every time it is called"
### Describe your feature request

https://github.com/ray-project/ray/pull/7254#issuecomment-589909359

This can impact performance badly in some cases. We should fix it.

[2021-05-06 02:07] #13186 closed

[2021-05-06 03:30] lixin-wei commented on #15557
Great, could you please ping me when the doc is posted?

[2021-05-06 04:29] RocketRider commented on #15647
@mvindiola1
Thank you for your answer. So I wasn't doing it correctly. Your config looks a lot nicer :D

[2021-05-06 08:03] johann-petrak commented on #15650
Yes - it does have an old GF108 [GeForce GT 630] and it uses the NVIDIA driver 390

[2021-05-06 08:09] RaymondKoopmanschap commented on #15594
Thanks a lot for the elaborate answers and for the ```ray.wait()```  recommendation. I now understand much better what happens. I can confirm that ```del counter1``` also works.

[2021-05-06 08:09] #15594 closed

[2021-05-06 08:17] rfali opened #15659 "Possible Typo in RLlib Example [custom.keras"
Hi,

Shouldn't this be `activation = None` for the output layer in [lib/examples/custom_keras_model.py](https://github.com/ray-project/ray/blob/7bbf48207024ee86c85e4296539955a2136bf914/rllib/examples/custom_keras_model.py#L84) ?

[2021-05-06 08:29] sivarajendranaidu commented on #15635
Can you please help me on this issue?

[2021-05-06 09:03] YeahNew commented on #15552
No, I’m on vacation recently, and I started working today.

[2021-05-06 12:09] johann-petrak commented on #15650
BTW I did this:
* installed ray in exactly the same way on my laptop: dashboard works fine there
* started ray on the original machine so that the dashboard host is 0.0.0.0
* tried to view the dashboard from the original machine remotely on the laptop: this also fails

[2021-05-06 15:33] LilianCr opened #15661 "Can't use Unix Signals inside a worker, the worker is automatically killed"
### What is the problem?
I am not able to use Unix signals inside a Ray worker.
Each time ANY Unix signal is raised inside a worker, the worker is automatically killed.
Thanks in advance for your help :slightly_smiling_face:

### Reproduction (REQUIRED)
[code]

**Output :**
[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [X] I have verified the issue

[2021-05-06 15:47] DmitriGekhtman commented on #15433
Officially punting the lead back to @wuisawesome, since we've decided the autoscaler isn't the best place for this API.
 :)

[2021-05-06 15:58] itmorn commented on #14548
@AlessandroZavoli  Hope this helps you
`state_attention = np.zeros(shape=[70, 32])
        while not done and keep_going(steps, num_steps, episodes,
                                      num_episodes):
            multi_obs = obs if multiagent else {_DUMMY_AGENT_ID: obs}
            action_dict = {}
            for agent_id, a_obs in multi_obs.items():

                if a_obs is not None:

[2021-05-06 16:06] DmitriGekhtman commented on #15635
Sorry for the delay: As indicated by the error message, Ray indeed does not support Ray nodes with fractional CPU.

For Ray's internal computation of CPUs, I think we should round up to 1 if the number of CPUs is less than 1.
Or maybe we should just round up instead of truncating in general? (K8s operator currently rounds up when filling in Ray resources.)
What do you think @wuisawesome ?

[2021-05-06 16:16] DmitriGekhtman commented on #14837
Good idea -- I'll sneak that enhancement into a PR.

[2021-05-06 16:31] #14587 closed

[2021-05-06 16:35] edoakes commented on #15632
This is really great feedback @davidberenstein1957 :) do you think you could provide a short code sample of exactly what you're trying to do? Off the top of my head, one thing you could do is make the deployment class a pretty simple wrapper of the actual underlying class that you're serving:

[code]

[2021-05-06 16:39] armando-fandango opened #15662 "How to run a training with tune for a specific number of steps or episodes"
I would like to train a RL agent for a specific number of steps or episodes, say 100 episodes or 10000 steps.

If I train for # of episodes, then the training would proceed for each episode until done, or until max_steps_per_episode aka episode_length is reached.

If I train for # of steps, then that would be total number of steps, irrespective of how many steps were run for each episode.

What do

[2021-05-06 16:55] rkooo567 commented on #9259
If there are people who still struggle, did you guys try opening all ports specified here? https://docs.ray.io/en/latest/configure.html#ports-configurations

Ray requires bi-directional communication among its components, which means those components ports must be all open.

[2021-05-06 17:00] rkooo567 commented on #15661
Can you briefly state what's the use case of raising signals (without having a separate handler)?

[2021-05-06 17:24] davidberenstein1957 commented on #15632
Awesome, I will try this tomorrow during less ungodly worktimes. But here you can find my deployed cluster (ai-dev_cluster.yaml - mostly the same as example_cluster.yaml) that is deployed within my kubernetes cluster within a namespace. Within that same cluster and namespace, I am trying to deploy a FastAPI application that unloads the heavy stuff to Ray serve deployed transformers (main.py + requ

[2021-05-06 17:25] Bam4d commented on #9964
I think I'm runing into this too. seems like there are "jumps" in memory at regular intervals for me. The leak is very slow for me, and I'm pretty sure I've ruled out everything else it could be but a bug in MA implementation in RLLib.
![image](https://user-images.githubusercontent.com/1370765/117340126-7a985e00-ae98-11eb-8e6e-b3bb6d694cdc.png)

[2021-05-06 17:28] DmitriGekhtman commented on #15433
@lixin-wei
Hmm, so before we figure out how precisely _where_ to expose the API, could you scope precisely what this functionality will do?
Is it just going to kill arbitrary Ray processes?

[2021-05-06 17:28] getElementsByName opened #15665 "[core] Is it possible that workers can use python packages that is only in the driver?"
## example

[code]

[2021-05-06 17:30] DmitriGekhtman commented on #15433
Actually, glad to contribute to the discussion as well.

If necessary, we can start shared planning documents.

[2021-05-06 17:32] simon-mo commented on #15665
Hi @getElementsByName, thanks for posting this issue. Can you help us understand the use case better? Is it because the workers doesn't have the same files and you have trouble putting the module there?

There are progress towards helping address this kind of issue, please take a look and comment on this RFC: https://github.com/ray-project/ray/issues/14019

[2021-05-06 17:37] getElementsByName commented on #15665
@simon-mo
- thanks for your help.
- The issue https://github.com/ray-project/ray/issues/14019 is exactly what I asks

[2021-05-06 17:37] #15665 closed

[2021-05-06 17:38] ar0ra1 opened #15666 "[serve] Problem with serving"
I am following the [documentation](https://docs.ray.io/en/master/serve/index.html#ray-serve-quickstart) and I can't seem to get it working.

Pre-req: ` pip install ray[serve]`

Error:
[code]

[2021-05-06 17:40] sivarajendranaidu commented on #15635
Thanks a lot for looking into the issue
It means that for running each k8s job we need to allocate on whole cpu core apart the ray master and worker pods deployed.
More over I notice the CPU resources used by the job Pod is far less than 20-30% of 1 CPU core. So part of resource seems to be unused.
Are we planning to add this like fractional GPU support in future?

[2021-05-06 17:44] davidberenstein1957 commented on #15632
By the way, I am using tiangolo/uvicorn-gunicorn-fastapi:python3.8-slim-2020-12-19 as Docker image to deploy my API to Kubernetes.

[2021-05-06 17:44] simon-mo commented on #15666
Hi the documentation correspond to Ray nightly. please install https://docs.ray.io/en/master/installation.html#daily-releases-nightlies

alternatively you can view the released version of the doc here
https://docs.ray.io/en/latest/serve/index.html

[2021-05-06 17:53] ar0ra1 commented on #15666
Oh!

I thought the entire documentation refers to the official release and not the nightly

[2021-05-06 18:20] ebr opened #15668 "ModuleNotFoundError when executing a task on a remote cluster"
### What is the problem?

I am trying to run the [Streaming MapReduce](https://github.com/ray-project/ray/tree/master/doc/examples/streaming) example on a remote cluster, but the `wikipedia` module can not be found, even though it's installed both locally and on all cluster nodes.

### Reproduction (REQUIRED)

1. I built a custom docker image using the following Dockerfile:
[code]
1. The cluster i

[2021-05-06 18:22] davidberenstein1957 commented on #15632
`(pid=672, ip=10.240.0.185)   File "python/ray/_raylet.pyx", line 500, in ray._raylet.execute_task
(pid=672, ip=10.240.0.185)   File "python/ray/_raylet.pyx", line 447, in ray._raylet.execute_task.function_executor
(pid=672, ip=10.240.0.185)   File "python/ray/_raylet.pyx", line 1657, in ray._raylet.CoreWorker.run_async_func_in_event_loop
(pid=672, ip=10.240.0.185)   File "/home/ray/anaconda3/lib/

[2021-05-06 18:23] ericl commented on #14182
It seems the issue here is pretty fundamental to the way we are using mmap. We are creating a file with unallocated pages in /dev/shm (to avoid immediately using memory). However, this means the application can get SIGBUS at any point if here are no more pages allocatable in /dev/shm.

Possible alternatives include:
- dynamically growing the file in /dev/shm
- zeroing out all new allocated pages i

[2021-05-06 18:50] tom-doerr opened #15670 "[tune] Tune always sampling the same value"
When I try to use tune for hyperparameter optimization, tune always chooses the same value.
My `tune.run` command:
[code]

This gives me:
[code]

Once all trials of a trial are completed, I get an error message similar to this one:
[code]

How can I make tune execute all trials?

[2021-05-06 18:58] DmitriGekhtman commented on #15635
Hmm, actually the job pods submitting the task shouldn't have any CPU requirement.

[2021-05-06 19:02] tom-doerr commented on #15670
The following also always yields the same value:
[code]
[code]

[2021-05-06 19:03] richardliaw commented on #15670
hey @tom-doerr, this seems like a bug on our side.

Could you set the environment variable `TUNE_PLACEMENT_GROUP_AUTO_DISABLED=1` for now?

@krfricke it seems like an issue wrt the placement group integration. here's a simple repro script:

[code]

[2021-05-06 19:13] tom-doerr commented on #15670
Thank you @richardliaw! This has been driving me crazy for the last two hours.
Setting the environment variable worked, however I had to set it in the python file itself instead of in the terminal:
[code]

[2021-05-06 19:39] tom-doerr commented on #15670
Setting the environment variable stopped working for me for some reason. Maybe it never worked and one of the runs randomly worked and selected multiple different hyperparameter values.

[2021-05-06 20:02] #15636 closed

[2021-05-06 20:03] asm582 opened #15672 "Set time-out on individual ray task"
Hello @rkooo567 ,

Consider a scenario for which large numbers of tasks with some outliers are present. We want the ability in ray in the form of python decorators to time-out individual tasks. Such functionality is provided in spark here: https://stackoverflow.com/questions/63389263/how-to-set-timeout-to-a-spark-task-or-map-operation-or-skip-long-running-task

Here is an example use case:

The be

[2021-05-06 20:05] rkooo567 commented on #15672
Hey @ijrsvt @richardliaw do you guys know any good way to achieve this?

[2021-05-06 20:16] krfricke commented on #15670
From a first glimpse it doesn't seem like Tune is always choosing the same value - but the trials with `num_workers=10` finish first and are thus printed in the table. As you see in the top, there are different values sampled for the first trials. The terminated trials on the bottom have non-consecutive IDs.

Are the rest of the trials not executing at all? Then this is likely a bug on our side wh

[2021-05-06 20:24] tom-doerr commented on #15670
Yes, they are not executed at all.
At the end the `In total there are...` message appears (bottom of the issue).
The number of pending actors in the message seems to depend on the number of executed trials.
The message I posted in the issue was from a run where two trials were executed and the rest not, since for the other trials the hyperparameter value was different.

[2021-05-06 20:30] richardliaw commented on #15670
Maybe another immediate workaround is to downgrade 1.2.0?

We can release a patch version with this issue fixed in a week or two.

On Thu, May 6, 2021 at 1:25 PM Tom Dörr ***@***.***> wrote:

[2021-05-06 20:37] krfricke commented on #15670
FWIW, the repo script with 5 samples works for me locally

[2021-05-06 20:52] krfricke commented on #15670
Ok, next run failed for me, too. I'll look into this soon.

[2021-05-06 20:52] tom-doerr commented on #15670
Downgrading to 1.2.0 worked for me.

[2021-05-06 21:06] clarkzinzow commented on #15672
If you're willing to apply a timeout uniformly to a set of tasks, wouldn't something like the following `ray.wait()` flow work?
[code]
This should cancel any tasks that take longer than `TASK_TIMEOUT` to run.

If you're looking to specify different timeouts for each task, how to achieve that is less obvious to me.

[2021-05-06 21:07] clarkzinzow commented on #15672
If you're willing to apply a timeout uniformly to a set of tasks, wouldn't something like the following `ray.wait()` flow work?
[code]
This should cancel any tasks that take longer than `TASK_TIMEOUT` to run.

If you're looking to specify different timeouts for each task, how to achieve that is less obvious to me.

[2021-05-06 21:10] asm582 commented on #15672
@clarkzinzow Thank you for replying but this does not help since a long outlier task will lead to canceling tasks that never ran, please refer to the spark link shared for more details.

[2021-05-06 21:41] ijrsvt commented on #15672
Hmm, one way to do this (albeit a bit heavyweight) is to create some sort of wrapper
[code]

[2021-05-06 21:50] asm582 commented on #15672
@ijrsvt thank you. when you say unfinished how does not know if the task is queued or running?

[2021-05-06 22:14] theonlygusti opened #15674 "[Core] Ray only using two threads?"
I wrote this

[code]

I was expecting to see high usage across all my cores, due to parallelising the hundreds of thousands of calls to `check`, but the dashboard is showing this:

<img width="1660" alt="Screenshot 2021-05-06 at 23 10 19" src="https://user-images.githubusercontent.com/10684786/117371754-52bcf080-aec0-11eb-851b-b21fa3d6222f.png">

Why is it like this?

[2021-05-06 22:35] ijrsvt commented on #15672
Oh, there is no distinction between queued and running here.

[2021-05-06 22:38] clarkzinzow commented on #15672
Maybe I'm misunderstanding, but what I gave above will only cancel tasks that are not yet finished after `TASK_TIMEOUT` seconds, since only tasks that are not yet finished after `TASK_TIMEOUT` seconds will be returned in the `in_progress` list. If you're talking about wanting to only cancel a task if it has been _running_ for longer than `TASK_TIMEOUT` (not including queue time), then I think that

[2021-05-06 23:48] #12979 closed

[2021-05-07 00:03] ijrsvt opened #15675 "[tests] 'Socket Closed' Error on Serve + Dashboard Tests on BuildKite"
### What is the problem?
* Example here: https://buildkite.com/ray-project/ray-builders-branch/builds/1284
* The following error appears sporadically on BuildKite CI:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the i

[2021-05-07 00:25] asm582 commented on #15672
@clarkzinzow How do you know if a task is in a "running" state? from the above solution, it looks like you are suggesting to register the task at submit time. If there are a large number of tasks it is possible that some tasks are queued but currently user has no information about the state of the task I think

[2021-05-07 00:29] asm582 commented on #15672
so then is it the case that we might be killing a queued task? we want to provide opportunity for every task to be in state running, after spending time in state running greater than time-out we want to kill such tasks

[2021-05-07 00:48] mvindiola1 commented on #15662
Hi @armando-fandango,

You want to pass a dictionary to the kwarg "stop". You can find more on stopping here https://docs.ray.io/en/master/tune/user-guide.html#stopping-trials.

[code]

[2021-05-07 03:09] mvindiola1 commented on #15280
This issue was fixed in this commit: https://github.com/ray-project/ray/commit/e973b726c2e4039bd5a35ecfffad5028a15cdfee

[2021-05-07 03:09] mvindiola1 commented on #15280
This issue was fixed in this commit: https://github.com/ray-project/ray/commit/e973b726c2e4039bd5a35ecfffad5028a15cdfee

[2021-05-07 03:09] #15280 closed

[2021-05-07 03:09] xmzzyo commented on #15342
Hi @DmitriGekhtman , I have the same issue. Did you resolve it yet?

[2021-05-07 03:12] DmitriGekhtman commented on #15342
Not yet — planning to work on this next week!

On Thu, May 6, 2021 at 23:10 zzyo ***@***.***> wrote:

[2021-05-07 03:28] lixin-wei commented on #15433
Yes, what we want now is killing arbitrary Ray processes. We might also want other fault injection functionality such as high CPU usage, high network usage, high disk usage, and so on for further usage. But these won't be used quite recently.

:)

I also agree with that after internal discussion with my colleagues, since we are not using autosacler now.

@wuisawesome I’m wondering what will the AP

[2021-05-07 03:31] wuisawesome commented on #15433
The ray client server is the most logical place to do this since it's the closest thing we have to an API server. I'm not sure how much work it will be to be able to kill arbitrary processes with it though, because it currently just submits jobs to the cluster (there's no obvious way to run shell commands on other nodes without using Ray tasks).

[2021-05-07 03:37] DenysAshikhin opened #15676 "sparse_softmax_cross_entropy_with_logits Should Be "tf.nn.softmax_cross_entropy_with_logits()""
### What is the problem?

When using PPO with Curiosity exploration in conjunction with a fully discrete obs/action space external environment I get the error below. However, this issue seems like it is a mix-up due to exploration or fully discreten external environment, as per multiple sources (https://stackoverflow.com/questions/58398491/valueerror-shape-mismatch-the-shape-of-labels-received-15-

[2021-05-07 03:51] lixin-wei commented on #15433
Yes, there is only one server on the head, the implementation seems to be not easy.

Do you think implementing this in the API server makes sense? There are already similar APIs in the dashboard for executing cmds. It's very easy to implement it, and we can contribute to this.

[2021-05-07 08:36] roxanadangerm opened #15678 "[tune/huggingface] TypeError: cannot pickle '_thread.lock' object"
Hello @richardliaw ,

I am testing a huggingface code (https://github.com/huggingface/notebooks/blob/master/examples/text_classification.ipynb) that uses Ray for fine tuning, but I getting an error "cannot pickle thread.RLock object"

### Environment info:
- Platform: Linux
- Python version: 3.8.5
- Torch version: 1.8.1
- transformers: 4.3.2

### Reproduction (REQUIRED)

The following lines define

[2021-05-07 09:35] tom-doerr opened #15679 "[tune] AttributeError: 'Categorical' object has no attribute 'encode'"
I'm trying to use tune to decide on the RL algorithm to use, but I can't get it to work.
Minimal example:
[code]

Is calling tune at this point in the run command not supported?

[2021-05-07 10:27] davidberenstein1957 commented on #15632
I feel that the issues might have something to do with https://docs.ray.io/en/master/cluster/commands.html#synchronizing-files-from-the-cluster-ray-rsync-up-down, however, I would expect this to happen automatically when serving a specific application.

[2021-05-07 11:44] AlphaPlusTT opened #15681 "[tune]Stuck after iteration and no error prompt"
### What is the problem?
After the iterative search in the parameter space is completed, it will get stuck, and there is no error message (399 is the last iteration).
`
iter 397 ma=0.509 OrderedDict([('RUNNING', 1), ('TERMINATED', 198), ('PENDING', 1), ('PAUSED', 0), ('ERROR', 0)]2021-05-07 16:49:31,787	WARNING logger.py:126 -- Couldn't import TensorFlow - disabling TensorBoard logging.
2021-05-07

[2021-05-07 12:56] mvindiola1 commented on #15556
@sven1977,

A new error popped up on this today.
[code]

It appears to be coming from trying to compare a non-empty numpy array to an empty list. I fixed it like this: ` if self.get("seq_lens") is None or np.array_equal(self.get("seq_lens"),[]): `

[2021-05-07 13:40] mvindiola1 commented on #15676
Update: It also worked for me with ray.rllib.examples.env.random_env.RandomEnv which has both Discrete observation and action spaces.

[2021-05-07 14:52] davidberenstein1957 commented on #15632
Withinhttps://github.com/ray-project/ray/tree/master/python/ray/autoscaler I can see some examples of .yml pipeline files that actually include setup_commands and file sharing interfaces, but idealy I want to upload files based on my seperate fastAPI pods.

[2021-05-07 14:53] armando-fandango commented on #15662
@mvindiola1 Excellent and thank you. The reason I posted here, was because I think its a bug.

On trying both options, one by one, this the output I get:

1. with "timesteps_total": 50 in the output I get:

timesteps_total: 4000

I thought maybe it needs a minimum of 4000 timesteps, so I set it to 4050 in stop:

timesteps_total: 8000

So why is it truncating timesteps_total to a multiple of 4000?

[2021-05-07 15:33] asm582 commented on #15672
It would be of great help if you could share a code snippet of task registration with the actor while running, I tried your idea after a task is started but unable to send object reference for a task that is started so that I can use ray.cancel

[2021-05-07 16:55] grechaw commented on #14530
Based on the PR above that references this bug, i think we should resolve this one as fixed.

[2021-05-07 17:25] rfali opened #15683 "[rllib] Modifying DQN to learn over multiple horizons"
Hi,

I had posted my question 8 days ago on ray discourse [[here](https://discuss.ray.io/t/rllib-multi-headed-dqn/1974)] but didn't hear back.  So I am opening an issue here, as I am getting errors on my custom model and I am not sure what is wrong (can I get some help @sven1977?)

I want to customize RLLib's DQN in a way that it outputs n (let's say 10) number of Q-values where each Q-value uses

[2021-05-07 17:32] richardliaw commented on #15672
@asm582 why don't you just use an actor method instead of a "task and actor" or wrangling ray.wait + ray.cancel here? You will be able to better control the lifecycle of the executed task:

[code]

Let me know if that works for you?

[2021-05-07 17:50] wuisawesome opened #15684 "[RFC] Namespace"
# Motivation

See #15557.

# API

The initially proposed API provides for isolation of named actors only. To create a job in a namespace:

[code]

If no namespace is provided, it is equivalent to

[code]

**Note: this breaks backwards compatibility for named actors.**

Using the `ray.init` api:

[code]

## Cross namespace communication.

The interface for cross-namespace communication is far more

[2021-05-07 17:50] wuisawesome commented on #15684
cc @edoakes

[2021-05-07 17:54] richardliaw opened #15685 "[tune] use `del` instead of `__ray_terminate__`"
See:

[code]

[2021-05-07 17:56] rkooo567 commented on #15684
Why don't we just use the global default namespace (constant value) if it is not specified? In this case, we can keep the backward compatibility

[2021-05-07 17:58] DenysAshikhin commented on #15676
@mvindiola1 So running your code it seems to work which then leaves me to question what exactly could be the issue with my code?

I know it works 100% the Underlords External Env + PPOTrainer + framework='tf'. And only throws the above mentioned error when using 'tfe'.

[code]

Above is my action/observation space - maybe that will help explain the error?

[2021-05-07 18:06] mvindiola1 commented on #15683
Hi @rfali,

If by gamma you mean the reward discount factor I do not think you can change that just using a model. You will also need to update the loss function. This is where the DQN loss function is computing the n_step discount factor. https://github.com/ray-project/ray/blob/1d834bcbe33c7714913fa06c7a7392c29eb7d71d/rllib/agents/dqn/dqn_tf_policy.py#L98.

The specific error you are getting is b

[2021-05-07 19:14] richardliaw commented on #15672
good point :)

[2021-05-07 19:21] tom-doerr commented on #15679
Minimal working examples:
[code]
[code]

[2021-05-07 19:24] asm582 commented on #15672
Thanks @richardliaw  and @rkooo567 I am trying to run the sample code that you shared and I get the below error:

![Screen Shot 2021-05-07 at 3 23 00 PM](https://user-images.githubusercontent.com/5898557/117498841-572cec00-af48-11eb-93dd-5899945471f5.png)

[2021-05-07 19:28] mvindiola1 commented on #15676
It is being caused by the action space but I am not sure why yet. The example below will run but if you uncomment the action space line it will break.

[code]

[2021-05-07 19:34] rfali commented on #15683
thanks @mvindiola1 for the reply. Yes by gamma I mean the reward discount factor. The model I am trying to make has not 1, but `n` number of gammas, and it would learn over each of the gamma to output a Q-value for that gamma. If there are 10 gammas, the network should (I think) output Q_values for all actions for each gamma. Pasting the model architecture from the paper quoted above:
![image](htt

[2021-05-07 19:38] asm582 commented on #15672
Yes thank you, the returned function does not have the duration attribute, any suggestions:

![Screen Shot 2021-05-07 at 3 37 00 PM](https://user-images.githubusercontent.com/5898557/117500118-2f3e8800-af4a-11eb-9de8-fb5cb0ddcf66.png)

[2021-05-07 19:43] mvindiola1 commented on #15679
It looks like the trainable has to either be a trainable class or a string that has been registered to a trainable. What is the actual use case you are trying to implement? Running both PPO and APPO and evaluating their results?

[2021-05-07 19:54] mvindiola1 commented on #15683
@rfali,
I will try and read the rest of your message soon.
The syntax is just wrong: `q_values = tf.keras.layers.Concatenate()(q_values)`

[2021-05-07 20:11] rfali commented on #15683
@mvindiola1 Here is a [Colab](https://colab.research.google.com/drive/1jGarqmBwBLG37catMGf8a8osDH9j1Pi2?usp=sharing) I setup for running the model.

Let's say instead of 1 Q-Value, the model needs to output 2 Q-Values (based on different gammas). The action_space is let's say 6. So instead of the last layer have output=6, would we want to concatenate the last layers? Is that what you were suggesti