[2021-01-14 13:33] krfricke commented on #13453
Hi @CheungChan, `ray start --head` starts up the redis server, so it can't be used together with `--address`. To change the GCS port on the head node, use `ray start --head --port 6379`.

See also here: https://docs.ray.io/en/master/configure.html#head-node

[2021-01-14 13:55] CheungChan commented on #13453
Thanks.  So can I use another  redis  server rather than the one in head node,such as a redis server on cloud to start a ray  cluster.  Beacause when the head node is down ,the redis on the head node will be down,too. The cluster data will lose.

[2021-01-14 13:57] krfricke commented on #13453
Ah, got it. I know there was an effort to enable this - cc @rkooo567 who should know more about this.

[2021-01-14 16:33] george-gca commented on #13404
@krfricke I ended up calling `self.log_dict(dataset_result, prog_bar=False, logger=False)` along with the `self.logger.agg_and_log_metrics`. Not a very nice solution, but did the trick. Thanks. Closing the issue since it is not a real bug.

[2021-01-14 16:33] #13404 closed

[2021-01-14 16:37] AmeerHajAli opened #13457 "spam in monitor logs and driver logs"
my code:
[code]
My cluster yaml is the regular example-full.yaml with max_workers = 100.

issue 1:
The autoscaler logs prints (why 10091+?):
`{'CPU': 2.0}: 10091+ pending tasks/actors`

issue 2:
and prints (I think this should be debug):
`2021-01-14 16:58:29,121	INFO resource_demand_scheduler.py:164 -- Placement group demands: []`

issue 3:
I still see:
[code]
issue 4:
The driver prints some weird

[2021-01-14 16:38] #13346 closed

[2021-01-14 17:07] rkooo567 commented on #13453
Ah yeah @WangTaoTheTonic is planning to add an api to support this. But for now, we don’t have a way to do that

[2021-01-14 17:12] DmitriGekhtman commented on #13369
Come to think of it, I think earlier versions of the Ray internally assumed a hardcoded home directory when launching with Ray.
(It was over-specified to the use case of people using source images from the ray project docker hub --  https://docs.ray.io/en/master/installation.html#docker-source-images)

Here's the link to the nightly Python 3.7 Linux wheels:
https://s3-us-west-2.amazonaws.com/ray-w

[2021-01-14 17:34] rtatton opened #13461 "Question about Passing Actor Handles to Remote Functions"
Suppose there is a driver class that has an actor handle attribute and is responsible for creating tasks. Is it possible to for the remote tasks to use the actor without it being a part of their method signature, or must the actor handle be passed in? The following is pseudocode for this scenario.

[code]

[2021-01-14 17:35] rtatton opened #13462 "Question Regarding Actor Handles and Remote Tasks"
Suppose there is a driver class that has an actor handle attribute and is responsible for creating tasks. Is it possible for the remote tasks to use the actor without it being a part of their method signature, or must the actor handle be passed in? The following is the pseudocode for this scenario.

[code]

[2021-01-14 17:35] #13461 closed

[2021-01-14 17:37] edoakes opened #13463 "[ray_client] Unable to return actor handle from remote call"
### What is the problem?

[code]

[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [ ] I

[2021-01-14 17:43] #8526 closed

[2021-01-14 17:45] rtatton commented on #13462
https://discuss.ray.io/t/remote-function-parameter-object-handling/98

[2021-01-14 17:45] #13462 closed

[2021-01-14 17:46] rtatton commented on #13461
See #13462

[2021-01-14 17:48] wuisawesome commented on #13457
Issue 1: This seems like a real issue. We should try to understand if this is a core issue, or an autoscaler issue.

Issue 2: Let's fix it quickly, it should be trivial.

Issue 3 and 4: Are these being constantly repeated? If not, this is intended behavior. If you're unhappy with these messages then you should file a separate _feature_ request to have the autoscaler gracefully call `ray stop` befo

[2021-01-14 17:50] wuisawesome commented on #13457
It looks like issue 1 here is a duplicate of #13431

[2021-01-14 17:53] wuisawesome commented on #13431
@ericl are you doing this on a single machine? Or a cluster?

[2021-01-14 18:12] #13250 closed

[2021-01-14 18:14] #11692 closed

[2021-01-14 18:14] rkooo567 commented on #10275
cc @ffbin Is this in progress?

[2021-01-14 18:17] amogkam commented on #13430
This is resolved, thanks guys!

[2021-01-14 18:17] #13430 closed

[2021-01-14 18:18] amogkam commented on #13438
This is fixed!

[2021-01-14 18:18] #13438 closed

[2021-01-14 18:32] ericl commented on #13431
This was a cluster.

[2021-01-14 18:52] richardliaw commented on #6927
Think this is better supported now.

[2021-01-14 18:52] #6927 closed

[2021-01-14 19:02] barakmich opened #13465 "Unify linting of clang-format and *.proto files"
### Describe your feature request
I've been bitten by this at least twice now and it delays PRs.

CI runs an extra lint step (or at least with different arguments) than `scripts/format.sh` (or `scripts/format.sh --all`).
It also runs ./scripts/check-git-clang-format-output.sh -- and why this is different than the clang-format run in `--all` is unclear to me.

This is most notable in linting `*.pro

[2021-01-14 20:06] rkooo567 opened #13466 "Spdlog doesn't rotate raylet.out and gcs_server.out"
### Describe your feature request

cc @ashione @edoakes

Lingxuan mentioned this might cause some regressions (for example, worker failure messages are not logged to raylet.err).

We are currently thinking to use this approach to rotate worker logs, and I guess we can use the same pattern to support this?

https://github.com/ray-project/ray/pull/13179

[2021-01-14 20:19] AmeerHajAli commented on #13431
824683+ 👀

[2021-01-14 20:20] AmeerHajAli commented on #13457
@wuisawesome , re issue 3+4, yes, they were constantly repeated

[2021-01-14 20:23] #13265 closed

[2021-01-14 20:26] ericl commented on #13431
This was a cluster

On Thu, Jan 14, 2021, 12:19 PM Ameer Haj Ali <notifications@github.com>
wrote:

[2021-01-14 20:41] #13415 closed

[2021-01-14 21:05] JohnMcCarroll opened #13468 "[rllib] Offline Dataset Logs no longer include 'info' attribute"
### Describe your feature request

For the project I'm working on, logging the 'info' variable returned by an environment's step() method is desired. In ray1.0, the 'infos' key held this data when saving episodes to file (config['output'] = file_path). However, it seems it has been removed, along with some other elements, in ray 1.1.

I was hoping there was a supported way to reintroduce the 'info

[2021-01-14 21:07] JohnMcCarroll opened #13469 "[rllib] Offline Dataset logs no longer include 'infos' element!"
### How to Modify Offline Dataset logging?

For the project I'm working on, logging the 'info' variable returned by an environment's step() method is desired. In ray1.0, the 'infos' key held this data when saving episodes to file (config['output'] = file_path). However, it seems it has been removed, along with some other elements, in ray 1.1.

I was hoping there was a supported way to reintroduce

[2021-01-14 21:15] #12719 closed

[2021-01-14 21:48] #13203 closed

[2021-01-14 22:37] #13414 closed

[2021-01-14 23:09] richardliaw commented on #13432
cc @sven1977

[2021-01-14 23:09] richardliaw commented on #13413
cc @sven1977

[2021-01-14 23:09] richardliaw commented on #13413
(closing as this is duplicate)

[2021-01-14 23:09] #13413 closed

[2021-01-14 23:09] richardliaw commented on #13412
cc @sven1977

[2021-01-14 23:09] richardliaw commented on #13342
cc @sven1977

[2021-01-14 23:13] #13296 closed

[2021-01-14 23:15] richardliaw commented on #13208
@zhe-thoughts not sure but we will update it as we go.

[2021-01-14 23:18] richardliaw commented on #13294
@sven1977

[2021-01-14 23:20] #13231 closed

[2021-01-14 23:22] richardliaw commented on #13135
(closing this as duplicate)

[2021-01-14 23:22] #13135 closed

[2021-01-14 23:25] richardliaw commented on #13177
cc @sven1977

[2021-01-14 23:26] richardliaw commented on #13079
(closing this since we have windows CI issue)

[2021-01-14 23:26] #13079 closed

[2021-01-14 23:30] billyzs commented on #10530
I limited the replay buffer size to 1000 and still saw unbounded memory usage during SAC training. My setup:
Ubuntu 18.04
Ray 1.0.1.post1
Tensorflow 2.3.0
![2021-01-14-152457_2181x483_scrot](https://user-images.githubusercontent.com/5483052/104661108-b060cf00-567c-11eb-9e6f-2dbf28cbe246.png)
and htop shows memory usage as
[code]
how much memory usage is considered reasonable to train SAC?

[2021-01-15 01:13] cruyffturn opened #13475 "[tune] reuse_actors doesn't reuse actors for the class based API"
### What is the problem?
"reuse_actors = True" doesn't work as expected for the class based API. When I inspect the timeline I observe that workers are not reused. On the other hand, when I use the function based API it works faster and only 3 workers are used in the timeline as expected.

Ray version 1.1.0, Python 3.6.12.

### Reproduction (REQUIRED)
[code]

- [y] I have verified my script runs i

[2021-01-15 02:24] ggservice007 commented on #13327
https://github.com/PrefectHQ/prefect/issues/3963

[2021-01-15 02:24] ffbin commented on #10275
I can work on it now since https://github.com/ray-project/ray/pull/13156/files is merged.

[2021-01-15 02:28] WangTaoTheTonic commented on #13453
Hi @CheungChan, currently we don't support external redis server but we are planning to do this and proposal are being discussed!

[2021-01-15 05:13] DmitriGekhtman commented on #12221
What remains to do is the per-node logging, and this task has been delegated to me.

Let me just confirm the requirement and a potential way to do it.

?Requirement?:
We need a log file for each node_id, and each NodeUpdater running inside of the monitor process should  log to that file.

?Design?:
One strategy is to put the requisite logging logic in the NodeUpdater --
Give the NodeUpdater a `sel

[2021-01-15 05:17] dvVenuto commented on #8544
I am having this same issue with a custom model.  It is still returning None when calling ModelCatalog.get_model_v2().

[2021-01-15 05:24] ericl commented on #12221
I recall the node updater used to be a process, so you could redirect
stdout to a file directly. It seems to be a thread now, so maybe we have to
pass a logger and also capture any child command outputs as well. We could
also try moving it back to a process but that sounds like a bigger change.

On Thu, Jan 14, 2021, 9:13 PM Dmitri Gekhtman <notifications@github.com>
wrote:

[2021-01-15 05:51] richardliaw commented on #12221
@DmitriGekhtman

IIRC you shouldn't be using `logging` in NodeUpdater, but rather the custom autoscaler CLI logger. There should be an option for that logger to write stdout/stderr to a specific file upon invocation of command (at least for non-kubernetes environments such as Docker and standard).

This logger should be used in both cases of being in a monitor process or not (rather, the stdout re

[2021-01-15 06:00] DmitriGekhtman commented on #12221
@richardliaw Ah, yep you're right, it uses the CLI logger.
@ericl And yeah, need to figure out how to redirect child command output.

[2021-01-15 06:33] Matrix-World opened #13480 "NCCL error occurs when RaySGD: TorchTrainer uses GPU under multiple nodes, why?"
I ran a RaySGD: TorchTrainer program (https://docs.ray.io/en/latest/raysgd/raysgd.html) to test distributed parallel training.
In trainer1=TorchTrainer(), I set num_workers=6,use_gpu=True, backend="nccl".
The Ray cluster has one master and two slaves. After submission, I can see that there are 3 processes in each of the 2 slaves, and the GPU is also being used. But the operation has been reporting

[2021-01-15 06:35] DmitriGekhtman commented on #12221
cli_logger.print just prints, as far as I can tell
https://github.com/DmitriGekhtman/ray/blob/master/python/ray/autoscaler/_private/cli_logger.py#L422

[2021-01-15 06:46] yurirocha15 commented on #13412
I was taking a look at the source code and noticed that every time a new env is created the _BASE_PORT attribute is updated, while the worker_id is kept at 0. But if the user sends a custom port as an argument, seems that the same port and worker_id would be used, causing an error. This might be related to this issue.

https://github.com/ray-project/ray/blob/84e110a949e83c4956cca14ed59fd5a92e34f3f

[2021-01-15 06:47] wuisawesome commented on #12221
I'm not sure how you would go about using a logger here since iirc we don't capture any output. My assumption this would be done by redirecting stdout at the process runner level.

[2021-01-15 07:26] DmitriGekhtman commented on #12221
hmm, well, right now stdout and stderr go to monitor.out and monitor.err,
and monitor.log gets all log records at level at least info.

For the purposes of this issue, are the "autoscaler log messages" we're talking about the contents of monitor.log?

[2021-01-15 07:37] DmitriGekhtman commented on #12221
ech -- anyways, i see: the goal is to redirect all output of cmds run by NodeUpdater.cmd_runner to the relevant file.

[2021-01-15 09:05] mrkulk opened #13483 "[tune] Multi-gpu training with tune + pytorch lightning hangs at ddp initialization"
When I run tune with a pl.LightningModule trainer in multi-gpu mode, the script hangs at

[code]

When the number of `number of gpus == 1`, then it no more hangs and proceeds normally.

When discussing with @richardliaw, he suggested that " it seems like there’s no more support for starting pytorch lightning training using multiple separate scripts" and suggested to raise this feature request. Tha

[2021-01-15 09:15] zhongchun opened #13484 "[Metrics] core worker crash on multi thread register of opencensus"
### What is the problem?
- Ray verison: master

core worker crash as follow stack error:

![image](https://user-images.githubusercontent.com/5388750/104705645-233d7900-5755-11eb-92ad-3601bd7b999b.png)

![image](https://user-images.githubusercontent.com/5388750/104705689-33555880-5755-11eb-9a25-11009bdc9d54.png)

[2021-01-15 09:43] ashione commented on #13466
@rkooo567 Spdlog can lograte file with sink logger, raylet.out/err and gcs.out/err are redirected by ray service command line.  It's easy to make gcs log rotable, so we might use spdlog logger in gcs component first. @jovany-wang @raulchen please take a look this issue.

[2021-01-15 09:53] krfricke commented on #13480
cc @amogkam

[2021-01-15 09:55] krfricke commented on #13483
Thanks @mrkulk, supporting PyTorchLightning multi GPU training is an issue that came up a couple of times recently. We'll be looking into how to support this.

[2021-01-15 10:10] jovany-wang commented on #13466
It's ok to removing redirecting gcs logs. But I have no confidence on removing redirecting raylet logs.

[2021-01-15 10:14] Emilon1928 opened #13486 "[tune] wait_for_gpu"
### What is the problem?

Ray version: master

There are two errors in the wait_for_gpu function in tune.utils.util:

1. the ratio of occupied gpu memory (eg. 0.1) to total memory (eg. 10 000MiB) is compared - line 459
2. the object is returned before the for loop which results in a constant value of the occupied gpu memory - line 457

![image](https://user-images.githubusercontent.com/23121677/10

[2021-01-15 10:20] monaxu1 commented on #13369
After installing ray==1.1.0,
[code]
I got errors below.
[code]

[2021-01-15 10:28] krfricke opened #13487 "[core] removing placement groups sometimes throws a `SystemExit` error"
### What is the problem?

Latest master.

When removing placement groups that are used by an actor the actor sometimes fails with a `SystemExit` error. This occurs after introducing PGs to Ray Tune (#13370).

I'm not sure if this is a bug or a usage error. It only comes up sometimes, not all the time.

Gerenally it would be great to be able to disable SystemExit error messages when removing placem

[2021-01-15 10:58] monaxu1 commented on #13369
The error disappeared after upgrading my local python to 3.8.

Now I have ray==1.1.0 locally, running `ray up autoscaler-k8s.yaml` without updating the docker image shows `/home/ray` not found. It seems to me that it assumes the home path is `/home/ray` and the default user is `ray-head-kfnw836-xwc2r`.

I'll try with the upgraded ray version in the dockerfile this time. Not sure if it works well w

[2021-01-15 10:59] krfricke commented on #13486
I can confirm the first error, which should be straightforward to fix. I don't understand what you mean by the second though. We only return `True` when the memory is free, in all other cases we raise a `RuntimeError`. Am I missing something?

[2021-01-15 11:07] krfricke commented on #13475
In order to use `reuse_actors` with the class based API you need to implement a `reset_config()` method - see here: https://docs.ray.io/en/master/tune/api_docs/trainable.html#advanced-reusing-actors

Your output should also show a warning that this is not the case.

Please feel free to re-open if you have more questions.

[2021-01-15 11:17] Emilon1928 commented on #13486
What I mean is that once an object is returned, it does not change the values of its fields. Which means that every time you check gpu_object.memoryUsed it stays the same. In my case this problem was solved by moving line 457 inside the loop.

[2021-01-15 13:25] krfricke commented on #13486
Ah, right, that does make sense. Thanks! Would you like to push a PR for this? Otherwise I can get to it sometime later today.

[2021-01-15 16:05] DmitriGekhtman commented on #13369
We’re getting closer.

It does look like it assumes the home path is /home/ray. I fixed that
problem in master a while ago, but it looks like it didn’t make it to that
release.
Could you try using the latest nightly release locally?
To do that, you can run the commands
pip install -U ray
ray install-nightly

“ray-head-xxxxx” is the name of the head pod.

On Fri, Jan 15, 2021 at 2:59 AM monaxu1 <no

[2021-01-15 16:22] cruyffturn commented on #13475
Thank you. I apologize, I missed that.

[2021-01-15 17:06] edoakes opened #13488 "[core] Better error message when parent actor dies"
### What is the problem?
[code]

It's expected that the call to `inner.ping.remote()` fails due to the actors fate sharing, but we should provide a better error message to make it easier to understand/debug.

[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external

[2021-01-15 17:26] #10532 closed

[2021-01-15 17:26] valiantljk opened #13489 "[core] Queue length aware leasing policy"
### Describe your feature request
Taking Raylet queue length into account can further improve existing leasing policy(local or locality aware), as well as improving hot node issue.

[2021-01-15 17:27] #13198 closed

[2021-01-15 17:27] amogkam commented on #13198
This test is now skipped https://github.com/ray-project/ray/pull/13212

[2021-01-15 17:28] amogkam opened #13490 "Re-enable test_joblib::test_sklearn_benchmarks on Windows"
This test is currently skipped on Windows (https://github.com/ray-project/ray/pull/13212). It should be re-enabled again once it is fixed.

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The

[2021-01-15 17:33] rkooo567 commented on #13489
cc @ericl

[2021-01-15 17:36] amogkam opened #13491 "test_reference_counting_2 failing on Windows CI"
https://github.com/ray-project/ray/runs/1708299328?check_suite_focus=true
[code]

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies**

[2021-01-15 17:38] amogkam commented on #13200
This is now failing with a `Windows fatal exception: access violation`

[2021-01-15 17:45] rkooo567 commented on #13488
I can take over this next sprint.

[2021-01-15 17:46] rkooo567 commented on #13466
@jovany-wang Is it meaningful to only partially support log rotation? If we cannot log rotate raylet logs, users have to use tools like `logrotate` anyway, then which means we don't need log rotation at all in the first place? Any thought?

[2021-01-15 17:47] amogkam commented on #13379
`test_fair_queueing` is failing now.
https://github.com/ray-project/ray/runs/1708299328?check_suite_focus=true
[code]

[2021-01-15 17:58] amogkam commented on #13491
This does not seem to be failing consistently- it's just a flakey test.

[2021-01-15 17:59] jagoosw opened #13492 "[core] Abort trap: 6 when trying to use cluster"
### What is the problem?
I keep getting an "Abort trap:6" error when I try to run a
Ray 1.1.0
Python 3.8.6
MacOS/Ubuntu

### Reproduction
On the host machine:
`ulimit -c unlimited`
`ray start --head --include-dashboard true`
I did the first line as others suggested it may fix it but it runs the same with and without

On the client machine:
` ray start --address="172.21.162.159:6379" --redis-passwo

[2021-01-15 18:03] #11171 closed

[2021-01-15 18:06] amogkam commented on #13208
FYI the tests that are failing due to a `Windows access violation` seem to be because of some pytest issue with our C++ DLLs, not because the test themselves are failing. I'm still including them here to keep track of them though.

[2021-01-15 18:07] amogkam opened #13493 "test_reconstruction timing out on Windows CI"
https://github.com/ray-project/ray/runs/1707177840?check_suite_focus=true
[code]

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies**

[2021-01-15 18:10] amogkam commented on #13201
`test_basic::test_fair_queuing` is failing
https://github.com/ray-project/ray/runs/1707177840?check_suite_focus=true
[code]

[2021-01-15 18:11] danlg commented on #11457
I believe this is not fixed  even with -p 8265 on docker run command, that doesn't work

on mac
docker run --shm-size=100M -t --tty --interactive  -p 8265 rayproject/ray
(base) ray@8d3972dc8dbc:/$ ray start --head
Local node IP: 172.17.0.2
2021-01-15 10:06:00,245	INFO services.py:1173 -- View the Ray dashboard at http://localhost:8265
=> not able to see the dashboard...

[2021-01-15 18:15] amogkam opened #13494 "Re-enable test_basic_2_client_mode failing on Windows CI"
https://github.com/ray-project/ray/runs/1707177840?check_suite_focus=true
[code]

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies**

[2021-01-15 19:08] amogkam commented on #13202
@ericl @pcmoritz I believe this regression is caused by https://github.com/ray-project/ray/pull/13326.

Can you guys either:
1. Revert it (I can't do it due to conflicts)
2. Temporarily skip `test_client` on Windows, raise a new issue to re-enable it, and make a note on the documentation that it is experimental on Windows.

Thanks!

[2021-01-15 19:14] amogkam commented on #13381
This has also previously failed due to a `MemoryError`
https://github.com/ray-project/ray/runs/1684166511?check_suite_focus=true
[code]

[2021-01-15 19:18] ericl commented on #13202
@barakmich please take a quick look, otherwise we can disable it on Windows

[2021-01-15 19:27] Yhinner commented on #8035
Hi guys,

In order to do what @Vysybyl proposed, the local machine has to have exact ray and python version as installed in cluster, otherwise it would throw version mismatch exception. Is there an easy way to make it such a way that my local machine can connect to arbitrary ray clusters (regardless of the ray and python minor versions)?

[2021-01-15 19:29] ericl commented on #8035
You can try Ray client, which is a bit more tolerant of Ray version skew: https://github.com/ray-project/ray/issues/13324

However, Python version still has to match due to serialization issues.

[2021-01-15 19:37] Yhinner commented on #8035
Oh that is perfect! Thanks for sharing the good news :)!

[2021-01-15 19:54] Yhinner commented on #13324
@ericl Thanks for bringing up this useful feature! I haven't tried it yet, but have few high level questions:

1. With Ray client, we do not need to run `ray start` on my local machine outside of the cluster, is it correct?
2. As mentioned in https://github.com/ray-project/ray/issues/8035, the client has some tolerance of ray versions. Does it guarantee any two arbitrary versions of server and cli

[2021-01-15 20:12] ericl commented on #13324
That's right, just call ray.util.connect().

So far we haven't made such guarantees as the feature is in beta; likely we'll provide a formal guarantee in the future.

The python version has to match to the minor version (3.7.6 vs 3.7.7 is fine).

[2021-01-15 20:34] amogkam commented on #13480
Hey @Matrix-World, could you share the full stack trace?

Also, could you create an initialization hook and add it to your `TorchTrainer` like so:
[code]

I believe you might be getting the same error as https://github.com/ray-project/ray/issues/11675. Are you running on an Azure cluster?

[2021-01-15 20:44] wuisawesome commented on #11986
Solved by #13245

[2021-01-15 20:44] #11986 closed

[2021-01-15 21:30] cruyffturn commented on #13475
@krfricke I have included the reset_config method that returns true but from the timeline I observe the actors are not reused.

What can be the problem?

### Reproduction (REQUIRED)
[code]

[2021-01-15 23:14] barakmich commented on #13202
This looks like there's more at play here than just client. The error above (and in the logs) mostly has to do with an exception coming from inside `new_dashboard` -- now, granted, this is happening underneath the call to ```with ray_start_client_server() as ray:``` in the client tests.

Not to mention a bunch of the failures happening in tests that are neither in a RAY_CLIENT_MODE=1 enabled test

[2021-01-15 23:49] #13463 closed

[2021-01-16 00:03] holdenk opened #13500 "[autoscaler] Ray on Kube deployments do not populate the expected environment variables."
### What is the problem?

Ray on Kube does not set the expected environment variables so the examples do not work.

Ray:7ff314a5df15f4b2b241f48cb90a2f7c14cebe5e  & run with latest containers

### Reproduction (REQUIRED)

Follow the steps from https://docs.ray.io/en/master/cluster/kubernetes.html, exec inside of the head node (or exec node) and run the provided `example.py`.

Then run `export`.

ob

[2021-01-16 00:08] richardliaw commented on #13500
cc @DmitriGekhtman

[2021-01-16 01:15] DmitriGekhtman commented on #13500
This environment variable is supposed to be set by Kubernetes assuming a Service named `ray-head` exists:
https://github.com/ray-project/ray/blob/master/doc/kubernetes/ray-cluster.yaml#L3

The relevant bit of documentation is here:
`https://kubernetes.io/docs/concepts/services-networking/service/#environment-variables`

[2021-01-16 02:01] Data-drone commented on #13311
I think maybe it is just being underutilised. I will have to build up a bigger test that pushes gpu more. Maybe switch for fashion mnist or something and switch network for a resnet50

[2021-01-16 02:13] #10526 closed

[2021-01-16 02:24] rkooo567 commented on #13492
The given information is not sufficient to do troubleshooting. Can you provide this information?

1. Full logs (especially which log file received the abort trap6).
2. The environment and how you deploy the cluster in more detail.

[2021-01-16 02:25] rkooo567 commented on #13489
Also cc @clarkzinzow Btw, I think if we'd like to implement this, this should be implemented on the raylet side, not on the locality-aware leasing code path.

[2021-01-16 02:26] rkooo567 commented on #13403
@krfricke Can you verify the fix and close the issue?

[2021-01-16 02:37] rkooo567 commented on #13487
Set P1 until identifying the root cause.

[2021-01-16 02:38] rkooo567 commented on #13239
Where did you get the redis failed to start? I cannot see any issue from the log messages.

[2021-01-16 02:38] rkooo567 commented on #13239
Also, can you explain more details about your deployment setup?

[2021-01-16 02:40] rkooo567 commented on #13221
Do you have any repro script that I can use?

[2021-01-16 02:41] rkooo567 commented on #13182
Please ping me if you can create a repro script!

[2021-01-16 02:42] rkooo567 commented on #13181
I think this indicates there's something wrong elsewhere, so I don't think adding TypeError is a right solution.

But as I mentioned in other issues; it is really hard for us to troubleshoot the issue if we cannot reproduce the issue or at least know a way to reproduce it.

[2021-01-16 02:43] rkooo567 commented on #13181
Also, can you explain more details about "when I delete a node"? What does it mean by you delete a node?

[2021-01-16 02:45] rkooo567 commented on #13085
@clarkzinzow Yeah that makes sense. Would you mind taking the issue?

[2021-01-16 02:48] rkooo567 commented on #13076
I think this is actually just normal. Ray's raylets are considered as dead if it didn't send heartbeat for 30 seconds. I think really slow network basically defer raylet thread, which leads it to miss heartbeat for 30 seconds.

You can use _system_config to modify the Ray Config files. Look at https://github.com/ray-project/ray/blob/1179db1fc23c5dc67813c9b82734a4b61218d9f9/python/ray/tests/test_ob

[2021-01-16 02:48] clarkzinzow commented on #13085
Sure, can do!

[2021-01-16 02:48] rkooo567 commented on #13076
I will close the issue for now since it looks like it is resolved. Feel free to reopen if necessary.

[2021-01-16 02:48] #13076 closed

[2021-01-16 02:49] rkooo567 commented on #12834
Any progress in this?

[2021-01-16 02:52] rkooo567 commented on #12683
@jennicetao Can you try in the latest master if you are seeing the same issue? Also, it'd be great if you can provide a reproduction script.

[2021-01-16 02:54] rkooo567 commented on #11641
Hey @edoakes I don't think this is P1. I will modify it to P2

[2021-01-16 02:55] rkooo567 commented on #11940
Hey @fyrestone What's the progress on this?

[2021-01-16 02:55] rkooo567 commented on #11940
We should fix this ASAP

[2021-01-16 02:56] rkooo567 commented on #11445
cc @wuisawesome I think we should do this task to troubleshoot all scalability issues better?

[2021-01-16 02:57] rkooo567 commented on #10858
@danlg Not much since I am a little oversubscribed lately. cc @suquark do you have some time to do this?

[2021-01-16 02:58] rkooo567 commented on #10564
@architkulkarni I will assign this to you.

[2021-01-16 02:59] rkooo567 commented on #10232
@oliverhu If we implement pubsub stuff, this can also be handled.

[2021-01-16 03:01] rkooo567 commented on #12018
cc @oliverhu if you have time, can you take a look at this issue?

[2021-01-16 03:26] jack2nb commented on #9456
ray.nodes()

[{'NodeID': '92cb9ab7ce0b377ca9d87ab718783a42c4034241',
  'Alive': True,
  'NodeManagerAddress': '192.168.2.23',
  'NodeManagerHostname': 'BF-202004231919',
  'NodeManagerPort': 58881,
  'ObjectManagerPort': 55495,
  'ObjectStoreSocketName': 'tcp://127.0.0.1:63652',
  'RayletSocketName': 'tcp://127.0.0.1:62371',
  'alive': True,
  'Resources': {'node:192.168.2.23': 1.0,
   'CPU': 8.0,

[2021-01-16 03:27] jack2nb commented on #9456
'RayletSocketName': 'tcp://127.0.0.1:62371',
？？？'RayletSocketName': 'tcp://0.0.0.0:62371',

[2021-01-16 03:28] jack2nb commented on #9456
[{'NodeID': 'eb050733b3e3f2ea2a744a93315b7f2e9b964885',
  'Alive': True,
  'NodeManagerAddress': '192.168.2.24',
  'NodeManagerHostname': 'jack-virtual-machine',
  'NodeManagerPort': 64750,
  'ObjectManagerPort': 46145,
  'ObjectStoreSocketName': '/tmp/ray/session_2021-01-16_10-16-46_273950_16576/sockets/plasma_store',
  'RayletSocketName': '/tmp/ray/session_2021-01-16_10-16-46_273950_16576/socket

[2021-01-16 04:13] schwab commented on #13085
I'm adding this information because it seems related.  If you start ray with custom port  like this....
[code]
It runs correctly on that port, horay stop
Could not terminate `"redis-server *:6379" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" ""` due to psutil

[2021-01-16 04:55] mrkulk commented on #13483
@krfricke : That would be great! Looking forward to hearing about it and that would basically unlock us (so I can imagine many others) to use ray for most of the pressing scenarios.

[2021-01-16 06:17] #9999 closed

[2021-01-16 08:54] richardliaw commented on #13483
cc @amogkam I think this could be solved with a Ray Accelerator for PTL.

[2021-01-16 09:46] DonYum commented on #13181
@rkooo567  Just `ray stop` on that node.

[2021-01-16 11:49] krfricke commented on #13403
Everything's working now. Thanks for the quick turnaround!

[2021-01-16 11:49] #13403 closed

[2021-01-16 13:02] waldroje opened #13503 "[rllib] Error using Tuple action space"
### What is the problem?
I have a custom env where mapping a two or three dimensional choice to a single discrete action space would be cumbersome, and potentially huge, thus trying to use Tuple space.  I have a script that reproduces the error in both frameworks.  The tuple space tested is a (Discrete(9), Box(0,1))... each framework throws it's own error, and it seems to take `tf `longer, but I b

[2021-01-16 13:45] turmeric-blend opened #13504 "how to read data from local directory"
I have a setup similar to [this ray example](https://docs.ray.io/en/master/tune/examples/mnist_pytorch.html), however, instead of downloading the dataset, I want to read from a local directory, so the `get_data_loaders` function will just contain some code like:

`pd.read_csv('path/to/file.csv')`

However, reading a csv file like this seems to be giving error

Upon further inspection, when I call

[2021-01-16 14:21] Vysybyl commented on #13076
Thanks @rkooo567, but I must say that my local node is killed **within** a few seconds (maybe 5 or 10, surely less than 30) since ray is started on head and worker nodes. I am hitting another timeout, not the 30 seconds heartbeat limit. I will play around with the other settings and see what happens.

I will keep you posted.

[2021-01-16 17:50] rkooo567 commented on #13504
Can you try listing files in the directory to make sure if you have them on the right path?

[2021-01-16 18:06] #13141 closed

[2021-01-16 20:21] jagoosw commented on #13492
I'm not sure how to get this information but I'll try. When I run the python bit with the verbose tag it gives no information before the abort message. Where should I look for the logs.

The "cluster" is just a ubuntu server that I manually started ray on.

[2021-01-17 01:32] turmeric-blend commented on #13504
[code]

my paths are something like above, where in `main.py` I call `pd.read_csv('datasets/period_2017/data.csv')`.

[2021-01-17 01:39] rkooo567 commented on #13504
Oh I meant to try

print(os.cwd()) in your remote method and see where your remote function is running.

Since the remote function is running in a different process, it doesn't use the same file path as your driver usually.

[2021-01-17 01:46] turmeric-blend commented on #13504
yes I've printed this as in my question as above: `/home/user/ray_results/func_68e39_00000_0_dim=128_data.csv`

[2021-01-17 05:00] drozzy opened #13507 "[rllib] Wrong reward for MBMPO Cartpole?"
It seems like maybe this is returning 0.0 when it should really be returning 1.0?
https://github.com/ray-project/ray/blob/2cd51ce608744e801c1a888540e138213120c10a/rllib/examples/env/mbmpo_env.py#L29

The `rew` is equal to `True` when the game is over, as such it should be zero (according to official code https://github.com/openai/gym/blob/master/gym/envs/classic_control/cartpole.py#L137). When `re

[2021-01-17 05:01] drozzy commented on #13507
Perhaps?
[code]

[2021-01-17 05:41] oliverhu commented on #12018
👌 @rkooo567

[2021-01-17 05:56] thecooltechguy commented on #13483
Hi I was also trying to run multi-gpu training with PTL (with ddp) + Ray Tune, looking forward to such an integration!

[2021-01-17 16:20] oliverhu commented on #12018
@rkooo567  Do we need to push TaskError to Driver at all ? in `_raylet.pyx`:
[code]
The RayTaskError message has been captured in Task return and in object_store. And the actual exception would be re-throw at parent worker or driver. Not sure why need to push task error to driver? 🤔

[2021-01-17 16:31] #10604 closed

[2021-01-17 16:42] benfred commented on #12835
py-spy has wheels for armv7/aarch64 on pypi now - you should be able to pip install it on a raspberry pi now: https://github.com/benfred/py-spy/issues/328

[2021-01-17 20:13] rkooo567 commented on #12018
Good point. I feel like this is unnecessary, and the reason why we have the issue is because we prints error messages twice? @richardliaw is it okay to just not publish the msg in this case? Any concern?

[2021-01-18 00:42] ashragai opened #13511 ""Windows fatal exception: access violation" cluttering terminal"
### What is the problem?
I am using Ray 1.1.0 with Python 3.7.6 to run an ActorPool. Each actor needs access to it's own copy of a java virtual machine (created using jpype, which is a dependency of another package which is used by the Actors, but it seems to be the root of this issue). Ray seems to handle this just fine, however, it prints many lines of errors to the terminal, all of which are re

[2021-01-18 02:23] fyrestone commented on #11940
There are many environment variables that affect grpc: https://github.com/grpc/grpc/blob/master/doc/environment_variables.md

I am not sure if it is a good idea to modify the default behavior of grpc. One solution is,
- Disable proxy for dashboard / dashboard agent by default.

[2021-01-18 03:11] turmeric-blend opened #13513 "how to keep Ray Dashboard alive even after program ends"
I am currently running using Ray for hyperparameter tuning. I am using the tune.run method only without tune.init. To view the Ray Dashboard, I usually copy the link that shows up (localhost:8265) when the program starts. However, the Dashboard also dies in my browser after the program ends. Is there a way to keep the Dashboard alive so that the results can be analysed slowly after the program end

[2021-01-18 03:55] kfstorm commented on #13466
Since it's not possible or safe to redirect stdout/stderr logs to the log file controlled by spdlog, I suggest we enable log rotation for GCS/Raylet only for logs created via spdlog while keep existing stdout/stderr redirection. That is, we have three log files for both GCS and Raylet: `.log`, `.out`, `.err`.

Keeping `.out` and `.err` should be fine because usually we don't print logs to stdout/s

[2021-01-18 04:03] fyrestone commented on #11940
Related PR: https://github.com/ray-project/ray/pull/12598

[2021-01-18 04:11] rkooo567 commented on #11940
I am confused why this is related to grpc env variables? If so, it shouldn't happen when `include_dashboard ` is True right? Isn't it just we should remove all RPC to the dashboard head when `include_dashboard ` is False? (and the error is from the fact that the head process is not running)?

[2021-01-18 04:50] rkooo567 commented on #13466
Hmm though it is one of possibilities, I think having 3 log files per each process can be pretty difficult for any end-user. It will be extremely confusing if which file people need to look at when they have issues.

One other possibility is to use this approach https://github.com/ray-project/ray/pull/13179. We've been thinking this as a way to redirect python worker logs (basically we are creatin

[2021-01-18 04:52] rkooo567 commented on #13466
If we go with 3 log files approach => We can probably create a new folder like std_stream, and put all .out and .err there.

[2021-01-18 05:45] ggservice007 opened #13515 "[core] How to generate a DAG for ray.get()?"
I use the pycallgraph2 to generate DAG.

https://github.com/daneads/pycallgraph2

## python function, it works.

[code]

![image](https://user-images.githubusercontent.com/9192908/104876821-64bb6780-5993-11eb-86f4-83e44a329ab4.png)

[2021-01-18 05:49] ggservice007 commented on #13515
## ray remote, it does not work

[code]

![image](https://user-images.githubusercontent.com/9192908/104877068-f925ca00-5993-11eb-8a2f-dc7bc5c88b44.png)

[2021-01-18 05:56] fyrestone commented on #11940
According to the comments above, this issue is related to the proxy. The problem you mentioned is another one, but as far as I know, there is no gRPC request send from dashboard agent to the dashboard.
- The dashboard is the controller, it calls RPC to `GCS` / `raylet` / `dashboard agent` through gRPC.
- Dashboard agent reports data to the dashboard through redis publish, dashboard subscribes the

[2021-01-18 07:36] ggservice007 commented on #13515
## asyncio function also works

[code]

![image](https://user-images.githubusercontent.com/9192908/104885340-e1097700-59a2-11eb-8c18-01de75a09738.png)

[2021-01-18 07:37] turmeric-blend commented on #13513
solved here https://discuss.ray.io/t/how-to-keep-ray-dashboard-alive-after-program-has-ended/474

[2021-01-18 07:37] #13513 closed

[2021-01-18 07:37] rkooo567 commented on #13515
Since ray tasks are executed in a separate process, I think you cannot use the python call stack to create a DAG.

[2021-01-18 07:40] rkooo567 commented on #13504
If you can ensure your file exists in a local node, you can just pass the full path to the remote method I think? Am I missing anything from your question?

[2021-01-18 07:50] turmeric-blend commented on #13504
Yes passing the full path works. But I was looking for a method where we can pass from the relative path. For example:

[code]

Since `datasets` folder share the same level path as `main.py`, I wanted to pass something like `datasets/period_2017/data.csv` instead of `/home/user/Documents/src/datasets/period_2017/data.csv` (the full path).

Seems more intuitive to me initially I guess. But the full

[2021-01-18 07:50] #13504 closed

[2021-01-18 07:55] rkooo567 commented on #11940
I understood your point, but that still didn't explain why it causes issues only when `include_dashboard` is False right? I have the impression the reported problem around proxy is a symptom of something else rather than the root cause.

[2021-01-18 07:56] rkooo567 commented on #11940
RE: not starting agents when include_dashboard is False => I am not sure if it is a good idea given dashboard agent is doing something else like collecting metrics.

[2021-01-18 08:12] rkooo567 commented on #13504
I think you can achieve it if you run ray start or ray.init in main.py, but I am not 100% sure.

[2021-01-18 08:14] fyrestone commented on #11940
Because of the proxy issue, it will fail even the `include_dashboard` is True. According to the traceback:
[code]

[2021-01-18 08:18] turmeric-blend opened #13517 "[tune] how to enforce even integer number in the search space"
I require my `batch_size` in the search space to be an **even number**, so I tried `tune.qrandint(4, 64, 2)`. However I am also using `HyperOpt` which gave this warning:

Making certain trials contain odd `batch_size` which produces error in my model. Is there another way to enforce even integer number in the search space?

EDIT:

I also tried `tune.sample_from(lambda spec: np.random.randint(2, 64

[2021-01-18 08:28] rkooo567 commented on #11940
Sorry if I am missing some context. I couldn't read everything in this thread cuz it was too long.

So @roireshef says it happens only when include_dashboard is False right? @roireshef Can you verify if you can reproduce this when it is True as well?

[2021-01-18 08:28] fyrestone commented on #11940
So, here are two fixes:
1. Fix the gRPC proxy issue by setting no proxy by default. _(It changes the default behavior of gRPC, but only for the internal connections of the ray components, I think it's OK)_
2. Not starting agents when `include_dashboard` is False. _(I think it's unnecessary, but I can create a PR if needed.)_

[2021-01-18 08:35] rkooo567 commented on #11940
I also think 2 is unnecessary if the issue is indeed happening regardless of the flag.

[2021-01-18 08:35] rkooo567 commented on #11940
Btw, thanks for looking into this! Are you reviewing the existing PR now?

[2021-01-18 08:56] turmeric-blend commented on #13517
solved by directly using `np.random.randint(2, 128)*2` in config search space instead of `tune.`

[2021-01-18 09:05] fyrestone commented on #11940
I have reviewed the PR. I think a gRPC option can fix the problem, we don't need a new API for creating a gRPC channel. We can discuss it in PR.

[2021-01-18 10:05] BFAnas opened #13518 "[rllib] OfflineData preparation for SAC is asking for more than just experiences (s, a, r, s')"
Hello,
I have some offline experiences: (s, a, r, s') that were generated with a heuristic. And I want to use these when training SAC agents. Using the example [saving_experiences](https://github.com/ray-project/ray/blob/master/rllib/examples/saving_experiences.py) to prepare my data gives me an error when using with SAC. Here is a [colab](https://colab.research.google.com/drive/1JEV8v1We7MOui12lB

[2021-01-18 10:39] hkvision commented on #10975
Any reference example to launch MPI within actors? @ericl  Thanks so much in advance!

[2021-01-18 10:44] littlesevenmo commented on #7489
Hi,

You are almost done!

In your example, `model` is a `dict`. `worker` is one of its keys.

The value of `worker` is also a hex value. You can use `pickle.loads()` to get the text value.

For example,
[code]
weights are all in `np.array`

if you do not want `.` in print result, you can use
[code]

so your code should like this:
[code]

[2021-01-18 10:54] krfricke commented on #13486
Actually, I think we actually want to compare total memory usage. As in, we're usually not interested in waiting until the GPU has e.g. 80% free memory, but rather until the GPU has e.g. 2GB free memory so our model fits on it. Right?

In that case we'll just need to adjust the docstring to make this clear and move the GPU query into the loop.

[2021-01-18 11:14] krfricke commented on #13468
Duplicate of #13469

[2021-01-18 11:14] #13468 closed

[2021-01-18 12:14] Emilon1928 commented on #13486
Yes, you are right. I think more usefull should be total amount of free memory instead of ratio.

[2021-01-18 12:15] nirvana-msu commented on #13293
So I've tried patching 3.8 wheel with [delvewheel](https://github.com/adang1345/delvewheel) and it works almost like a charm!

[code]

The only [issue](https://github.com/adang1345/delvewheel/issues/6) I've encountered is that it failed to patch `__init__.py` (to load DLLs on module import). After loading the DLL dir myself, `ray` appears to work perfectly fine (installed on a machine without comp

[2021-01-18 12:41] kfstorm commented on #13466
Maybe we can do this: https://stackoverflow.com/questions/4810516/c-redirecting-stdout. It works for `std::cout` and `std::cerr`, but not `printf`. I'm not sure if un-caught exceptions work with this, though.

BTW, we can redirect stdout and stderr in Java. https://stackoverflow.com/questions/1200175/log4j-redirect-stdout-to-dailyrollingfileappender cc @chaokunyang

[2021-01-18 13:04] azzeddineCH commented on #9964
Hi @sergeivolodin, how are you plotting this graphs, please? suspecting that I'm having a similar issue

[2021-01-18 13:42] drozzy opened #13520 "All rllib algorithms should run CartPole example?"
It would be nice if every algo had an example of cartpole. This way there would be something to directly compare them on.

For exampe, Dreamer works only with images, and dm suite, so it's not really comparable.

[2021-01-18 14:17] nirvana-msu opened #13521 "Factory initialization for Python Actors"
### Describe your feature request

In Java, Ray allows to initialize Actors using a [factory pattern](https://github.com/ray-project/ray/issues/11715#issuecomment-720893290). In Python, however, this is not the case - the only way to create an actor is through `__init__`. Factory pattern (i.e. `@classmethod`) is useful in many situations in Python as well, and it would be great if Ray allowed for

[2021-01-18 16:06] ashione commented on #13466
I guess @jovany-wang means that we can change gcs out/err log to using spdlog first, which does not mean we only support logration paratially. We should use one single pattern for all components eventually after make full understanding of raylet log generation.

[2021-01-18 16:17] ashione commented on #13466
I also think std/err logs are significant to users when some users want to use printf function in any languages without external logger library. Actually the key function to ray is how we would present these useful logging informations to users.

[2021-01-18 16:58] drozzy commented on #13520
I guess I'll open a PR if I have a good solution to this. Closing for now.

[2021-01-18 16:58] #13520 closed

[2021-01-18 17:26] rkooo567 commented on #12018
cc @edoakes It seems like you are the one who introduced this error pub/sub for the first time? Can you add a comment for us?

[2021-01-18 18:05] concretevitamin opened #13524 "[dashboard] constant "Unexpected channel data received" warnings make dashboard.err grow to ~100GB"
### What is the problem?

While debugging a head node out-of-disk error, we found that `dashboard.err` for the current session has grown to 90GB in size.  Tailing the last few lines of the file reveals that the following is repeatedly printed:
[code]

It'd be great to fix the underlying issue generating this message, or curtail the maximum # of times this gets printed - FYI, the dashboard UI is fu

[2021-01-18 18:07] rkooo567 commented on #13524
Btw, we will introduce log-rotation to avoid this sort of log-size-explosion issue. Definitely agree the underlying issue should be handled. cc @fyrestone.

[2021-01-18 18:07] concretevitamin opened #13525 "[dashboard] clicking on a column to sort makes the UI blank"
### What is the problem?
Clicking on any column to sort makes the UI blank.  Refreshing the page brings back the UI with the unsorted display.  Essentially, users don't seem able to sort by a utilization metric.

*Ray version and other system information (Python version, TensorFlow version, OS):*
1.0.1post2

[2021-01-18 19:17] amogkam commented on #13381
This test suite is also timing out. The full suite is skipped for now (https://github.com/ray-project/ray/pull/13495/files) and needs to be re-enabled again.

[2021-01-18 19:22] amogkam commented on #13494
The full test suite is skipped for now (#13495), and might need to be re-enabled again.

[2021-01-18 19:24] amogkam commented on #13383
The full test suite is skipped for now (#13495), and might need to be re-enabled again

[2021-01-18 19:26] amogkam commented on #13380
This test has been skipped for now (#13495), but it might needs to be re-enabled again.

[2021-01-18 19:27] amogkam commented on #13201
`test_basic::test_fair_queueing` is disabled for now, and might need to be re-enabled again on Windows.

[2021-01-18 19:32] orshemtov opened #13526 "AttributeError: 'NoneType' object has no attribute 'graph' when trying to restore an agent"
RLlib

### What is the problem?

I cannot restore an agent from a checkpoint path due to an AttributeError

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.1.0
Python 3.8.3
TensorFlow 2.3.0
MacOS

Reproducing:

[code]

The error:
[code]

Edit: When I switch to 'torch' instead of 'tf' as framework it works.

Thanks for any help.

[2021-01-18 19:52] #13201 closed

[2021-01-18 19:52] #13490 closed

[2021-01-18 19:52] #13200 closed

[2021-01-18 19:55] #13202 closed

[2021-01-18 19:55] #13379 closed

[2021-01-18 19:55] #13380 closed

[2021-01-18 19:55] #13381 closed

[2021-01-18 19:55] #13382 closed

[2021-01-18 19:56] #13493 closed

[2021-01-18 19:56] #13494 closed

[2021-01-18 19:57] #13491 closed

[2021-01-18 20:22] sven1977 commented on #10530
@billyzs just out of curiosity: What's the size of your observation and action spaces?

[2021-01-18 21:44] yorickvanzweeden opened #13528 "[Tune] IterableDatasets gives TypeError on Python3.7+"
### What is the problem?

The usage of an IterableDataset with Python 3.7+ gives a TypeError. I am using Pytorch Lightning.
[code]

This does not occur on Python 3.6. It also does not occur when not using raytune (i.e.: calling `train_model` rather than `tune_hyperparameters`).

Package versions:
[code]

### Reproduction (REQUIRED)
[code]
- [X] I have verified my script runs in a clean environment

[2021-01-18 21:48] wuisawesome opened #13529 "Prompt to increase ulimit if redis max clients is hit"
### What is the problem?

When we hit the maximum number of redis clients, it is likely because of ulimit -n. We should either prompt people to increase the ulimit in that error message, or increase the threshold for the existing minimum ulimit warning.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code sni

[2021-01-18 21:50] jagoosw commented on #13492
I think this was related to the `ulimit -n ` issue because when I did a fresh install on the cluster it seems to be working now. Sorry for the bother

[2021-01-18 22:29] ToruOwO opened #13531 "[rllib] Cannot use config "custom_vector_env""
I've created a custom environment wrapper and would like to pass it to each RolloutWorker during training.

I thought this would be possible, based on this example:
https://github.com/ray-project/ray/blob/414041c6dd3e2361a3cc9de1c646dd9114004fe8/rllib/agents/mbmpo/mbmpo.py#L110

However, when I tried using the "custom_vector_env" config, the following error was triggered:
[code]

I wonder how to f

[2021-01-18 23:36] richardliaw commented on #13528
So I'm not exactly sure why, but it seems like the dataloader used in lightning switches from `SequentialSampler` to `RandomSampler` when using Ray/Tune, and one of them has better support for custom DataLoaders.

One workaround for this is to support `__len__` in your custom dataloader for now.

[2021-01-18 23:36] architkulkarni opened #13532 "[Metrics] Custom metrics don't work after calling `ray.shutdown()` followed by `ray.init()`"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray master, Python 3.6, Mac OS
### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):
[code]

[2021-01-18 23:36] edoakes commented on #13532
cc @rkooo567 this is the bug I mentioned to you earlier

[2021-01-18 23:51] wuisawesome opened #13534 "[autoscaler] request resources doesn't work with multiple jobs"
### What is the problem?

If you attempt to use the request resources API from multiple jobs, the jobs will override each other. Requested resources also aren't cleaned up after job finishes.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted

[2021-01-18 23:54] wuisawesome commented on #13534
cc @ray-project/ray-autoscaler, we should probably route request resources through GCS instead of the current redis channel hack.

[2021-01-19 00:41] turmeric-blend commented on #13517
reopening as it actually just returned a constant instead of random even integer between 2 and 128. Issue remains how to  enforce even integer number in the search space?

[2021-01-19 00:51] turmeric-blend opened #13537 "[tune] tune.randint(1, 2) search space return 0 on a trial"
I have a config (search space) like `config={..., 'num_layers': tune.randint(1, 2), ...}`, and on one of the trials `num_layers` returned `0`, where instead it should just return `1`. My setup is as below:

[code]

[2021-01-19 00:58] #8022 closed

[2021-01-19 01:16] ericl opened #13538 "Propagate monitor.py crash to driver logs"
When the monitor crashes (e.g., unrecoverable autoscaling fault), we should propagate the error to drivers. This means
1. Write some error summary pointing to the logs to all active jobs.
2. Set a redis key so that future jobs will also see the error when connecting to the cluster.

cc @AmeerHajAli @DmitriGekhtman

[2021-01-19 01:17] paravatha commented on #13324
@ericl  python 3.7.7 and python 3.7.9 doesn't work. I had to make sure both  be **3.7.7**
**When you say "Start a server (inside the cluster): python -m ray.util.client.server"**, do I have to run it inside the head pod ? (I am using k8s operator)

[2021-01-19 01:23] ericl commented on #13324
That's the first time I've heard of this; could you provide more details? That would be unfortunate if minor versions can break serialization.

Any head/worker pod should work.

[2021-01-19 02:22] ToruOwO commented on #13387
Hi,

For some reason, my `MultiAgentEnv` is never properly initialized whenever `num_envs_per_worker > 1`. This is why I think there might be some issue with vectorization of `MultiAgentEnv`, since the training works fine when the environment subclasses from `BaseEnv`, `VectorEnv` and `RemoteVectorEnv`. I wonder if you have any idea on the cause of this issue and how to fix it?

Thank you!

[2021-01-19 02:27] billyzs commented on #10530
OBS: 5 by 1 ints
Action space: 2 by 1 float

On Mon, Jan 18, 2021 at 12:22 Sven Mika <notifications@github.com> wrote:

[2021-01-19 02:28] fyrestone commented on #13524
Dashboard and dashboard agent always use the rotation logger, from the first PR of new dashboard. I noticed that this PR https://github.com/ray-project/ray/pull/12101 modify the default rotation size to 500GB. That's too big. I think ~500MB will be enough.

[2021-01-19 02:31] clay4444 opened #13541 "Add detached for Placement Group Creation"
### Describe your feature request

There are some problems in the destruction of placement group at present, so, we should support  lifetime="detached".
More details reference to  #13320

[2021-01-19 02:40] fyrestone commented on #13524
That's wired. The new dashboard never has the source code file `node_stats.py`. And the new dashboard always uses the log file name `dashboard.log` _(not the `dashboard.err`)_. I think this issue is about the old dashboard. Ray has switched to the new dashboard. Can you try the latest version of ray?

[2021-01-19 02:51] pengzhenghao commented on #11733
Just curious, does anyone has some intuition on why IMPALA is not working in continuous action space?

It seems that many IMPALA-like async algorithm has been applied to much more complex environment like StarCraft, where sometime *part of the action space* are continuous. IMPALA, which is a great framework for large scale RL, can't work on cont. space, that sound quite appalling to me.

[2021-01-19 03:10] hkvision commented on #10975
@DanielWicz Have you successfully launching mpi within actor? If so, hope to get some instructions or sample code. Thanks so much in advance!

[2021-01-19 04:30] richardliaw commented on #13537
cc @krfricke

[2021-01-19 04:31] richardliaw commented on #13517
Can you try doing a tune.randint, and then in your training function, multiply it by 2?

[2021-01-19 06:07] rkooo567 commented on #13524
@fyrestone There's another PR to make it 512MB * 5 backup.

and yeah. @concretevitamin Is it possible to see if the issue still happens from 1.1.0? We had large transition to our dashboard backend architecture, and that was introduced from 1.1.0

[2021-01-19 06:15] ffbin opened #13545 "The raylet doesn't guarantee the order when dealing with RequestWorkerLease and CancelWorkerLease"
### What is the problem?
The raylet doesn't guarantee the order when dealing with RequestWorkerLease and CancelWorkerLease. If we kill the actor immediately after creating the actor, we may not be able to clean up the request cached by the raylet.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (

[2021-01-19 06:15] ffbin commented on #13545
cc @rkooo567

[2021-01-19 06:19] rkooo567 commented on #13492
@jagoosw Re; logs. You can find them from `/tmp/ray/session_latest/logs`.

[2021-01-19 06:20] wuisawesome commented on #13545
If CancelWorkerLease returns False then the actor was either scheduler or not received yet, so we can check GCS to see if the actor was already placed, or if the raylet just hasn't received the request yet right?

[2021-01-19 06:32] turmeric-blend commented on #13517
I assume you mean

[code]

I guess it works but then I have to always be aware that my range is half the max range in `randint`

[2021-01-19 06:41] ThyrixYang opened #13547 "[dashboard] Table in the Tune tab not working after resume"
The tune tab in dashboard works fine if I start a new experiment, but if I resume an existing experiment using "tune.run(resume=True)". Then the table in the tune tab can't show up.

I terminated experiments by "ctrl c", is this the problem? If it is, what is the best practice to stop a running experiment and resume later?

[2021-01-19 06:53] ffbin commented on #13545
The actor was already placed and the raylet has received the requests, but the raylet processes the `CancelWorkerLease` request first and then `RequestWorkerLease` request.

[2021-01-19 07:32] hkvision commented on #7893
Hi @richardliaw is it possible to launch mpi processes within ray actors? namely create a communicator without using mpiexec for launch? Thanks so much and hope to get your reply!

[2021-01-19 08:00] yorickvanzweeden commented on #13528
I suspected something to the likes of that, but I could not confirm it.

When you implement `__len__`, it crashes on a lack of `__get_item__`. It tries to use an indexer:
[code]
I think the best workaround is to use Python 3.6 for now

[2021-01-19 08:54] kyillene commented on #11940
I was having a similar issue for couple of hours yesterday and your comments enlightened me a lot. Thanks!
I am using a gpu-server in the university and dashboard was not a priority for me so I tried to set it False but as you already experience it didn't work. Setting `http_proxy `and `https_proxy` to correct values didn't do the trick either.
In the end, my tmux pane was spammed with dashboard r

[2021-01-19 09:11] krfricke commented on #13517
Please note that this has been improved upon in the latest master and the ray nightly wheels. The next release will support quantized integers in hyperopt out of the box (e.g. using `tune.qrandint()`).

Please re-open if you have any more questions.

[2021-01-19 09:11] #13517 closed

[2021-01-19 09:26] krfricke commented on #13537
I can't reproduce this error. I tried your script as well as this proof of concept:

[code]

With the result

[code]

In any case, Ray Tune converts parameters to the hyperopt format. In the case of `tune.randint` this is the conversion:
[code]

So if the problem occurs again the error might be in hyoperopt's implementation.

Anyway, we'll need a reproducible script to look further into this.

[2021-01-19 10:16] krfricke commented on #13475
Hi @cruyffturn, there seems to be the requirement that the trial has to start from a checkpoint in order to reuse existing trainables. This might be a legacy requirement that we can get rid of. I'm actively looking into this for a similar case, so I'll keep you posted with our progress there.

[2021-01-19 11:09] monaxu1 commented on #13369
Thank you. I have tried the latest ray and it works! I'm using the default ray user now. I have two more questions.
* Is there a way to disable the random naming of head-node or work-node, but to have a fixed name like “ray-head-fixed”?
* There is no internet connection to the outside of the world within the docker. I do have corporate proxies, but I'm not sure if it has anything to do with ray se

[2021-01-19 11:14] Data-drone commented on #13311
okay with this gist: https://gist.github.com/Data-drone/4176c6c1fcf2b573ae8009b7a9ce53f5
if you run `train_mnist(single_config)` I am getting about 30% gpu utilisation but with `tune_mnist_asha(num_samples=10, num_epochs=50, gpus_per_trial=1, cpus_per_trial=4)` the two gpus I have in the system don't go about 10% or so. One is usually around 3-5%

[2021-01-19 11:40] Data-drone commented on #13311
okay with this one: https://gist.github.com/Data-drone/d5171f3dbceade3917ef34bb5860ee0b
if you run the pure pytorch-lightning script I get 60%+ utilisation on GPU whereas with the asha code I am seeing 10% to 20% less utilisation than before.

[2021-01-19 12:04] Sangboom opened #13551 "[rllilb] No module named 'ray.rllib.models.torch.modules.reshape' Error when I try to import 'DREAMERTrainer'"
### What is the problem?

Ray version: 1.1.0
Python version: 3.8.5
OS: Ubuntu 20.04

I have a problem with importing DREAMERTrainer.
It says there is no module named Reshape on 'ray.rllib.models.torch.modules.reshape'.
So I try to find the Reshape function, and I found that one on 'ray.rllib.models.torch.misc'.
Thus, I change 'ray.rllib.models.torch.modules.reshape' into 'ray.rllib.models.torch.mi

[2021-01-19 13:21] #9071 closed

[2021-01-19 13:26] ugurkanates opened #13552 "[rllib] Custom Evaluation doesn't work as intended - skips the data collected for episode"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray : 1.1
macOS 10.15 Catalina , Ubuntu Linux 16.04 - 18.04 LTS
NVIDIA CUDA Version : 10.2
NVIDIA CuDNN Version : 8.x.x
PyTorch Version : 1.7.1 (Stable)
Python Version : 3.8 (handled by conda)
Conda Version : 4.9.2

It’s the custom evaluation part. We are using custom_evaluation paramete

[2021-01-19 13:26] ugurkanates commented on #13552
@sven1977

[2021-01-19 14:11] dmatch01 opened #13554 "Failure creating cluster using Kubernetes Operator"
### What is the problem?
reference: https://docs.ray.io/en/master/cluster/k8s-operator.html#k8s-operator

Followed the instructions referenced in the k8s operator setup.  After successfully creating the operator pod attempted to launch a Ray cluster(`kubectl -n ray apply -f ray/python/ray/autoscaler/kubernetes/operator_configs/example_cluster.yaml`) but launch failed.  See logs from Ray Operator p

[2021-01-19 14:42] krfricke commented on #13554
cc @DmitriGekhtman

[2021-01-19 16:02] edoakes commented on #12018
I don't think so, this behavior is very old. If you `git blame`'d, it's probably just that I refactored it at some point. Regardless, removing this SGTM.

@pcmoritz chime in?

[2021-01-19 16:03] #10611 closed

[2021-01-19 16:09] GittiHab commented on #11521
Hi, so what's the solution? Since there is a [blog post](https://medium.com/distributed-computing-with-ray/model-based-reinforcement-learning-with-ray-rllib-73f47df33839) showing off the Dreamer example, I would assume that Dreamer once worked, right?

I get the same error when trying to run Dreamer using the tuned file or with:

`rllib train --run DREAMER --env CartPole-v0 --stop '{"time_total_s"

[2021-01-19 16:12] Matrix-World commented on #13480
Thank you for your reply, I am not running on Azure cluster, I am deploying my own machine. This problem has been solved, and the same version of ray needs to be installed on each node.

[2021-01-19 16:16] DmitriGekhtman commented on #13369
About pod naming:
for the head node, the relevant line is here:
https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/kubernetes/example-full.yaml#L114

Change `generateName: ray-head` to `name: ray-head-fixed`.

For the worker node pods, I wouldn't recommend giving a fixed name (unless you are planning to run a single worker),
but you can change the prefix here:
https://github.com/

[2021-01-19 16:31] JelledFro commented on #9036
I had problems with pbt crashing from insufficient resources until I read this and commented out "keep_checkpoints_num = 2,". It now instead crashes because it runs out of disk space (20GB or so with only n_trials=4), presumably because the checkpoints are huge and never removed. Is there any way to resolve this?

[2021-01-19 16:44] Matrix-World opened #13557 "How to realize the transmission of ObjectStore data under different nodes？"
Under a node, communication between workers is to achieve zero copy of data through ObjectStore. Under different nodes, data transmission between workers requires a plasma mechanism. I don't quite understand the specific implementation of remote data transmission here. In the code, a Ray's node needs to run two processes, RayLet and Plasma Store, while RayLet needs to maintain a Node Manager and a

[2021-01-19 16:53] edoakes commented on #13541
@clay4444 I assume if we have lifetime="detached" we will also support names?

[2021-01-19 17:14] stephanie-wang commented on #13545
We should fix this at the GCS, not in the raylet. The CoreWorker handles this by sending the cancel RPC again if the cancellation failed due to reordering (see comment [here](https://github.com/ray-project/ray/blob/master/src/ray/core_worker/transport/direct_task_transport.cc#L217)).

[2021-01-19 17:15] stephanie-wang commented on #13545
Also, @ffbin, please add a reproducible script to the description, thanks!

[2021-01-19 17:22] amogkam commented on #13480
Ah got it- glad to hear it's been resolved :)

[2021-01-19 17:22] #13480 closed

[2021-01-19 17:23] #13439 closed

[2021-01-19 17:37] amogkam commented on #13311
@Data-drone thanks for the update- interesting to see those numbers.

To clarify, for the `train_mnist` case with a single config, are you calling it directly and removing the `TuneReportCallback`, or are you still invoking it via `tune.run`, but just not using the ASHA scheduler?

cc @krfricke @richardliaw do you guys have an idea on what could be causing this difference in utilization?

[2021-01-19 17:37] chwhiteley commented on #10155
The error comes from the call of torch.optim.RMSProp when it should be torch.optim.RMSprop (there should be no capital letter in "prop") in the choose_optimizer function. I have solved this issue by overriding the choose_optimizer function and removing this capital letter in RMSProp.

As a side note, I would like to point the difference in the "eps" values given to torch.optim.RMSprop. This epsilo

[2021-01-19 17:57] concretevitamin commented on #13524
Thanks, all; great to hear it's been fixed in a newer version.  We may give
that a try in the future.

On Mon, Jan 18, 2021 at 10:08 PM SangBin Cho <notifications@github.com>
wrote:

[2021-01-19 18:13] rkooo567 commented on #13557
This is no longer true in the recent Ray versions. Raylet process has a plasma store as a thread.

1. Local network among processes is using Unix socket. So if worker needs to access the object in the plasma store, it is done through Unix socket. Remote communication is done with grpc. Data transmission is done by the object manager.
2. This is tried by one of our big contributors (Ant Finanncial)

[2021-01-19 18:15] DmitriGekhtman commented on #13554
Thanks for posting this issue!
I'm looking into it.

[2021-01-19 18:16] clarkzinzow opened #13560 "[dask-on-ray] Remove internal Dask API dependencies from the Dask-on-Ray scheduler."
We should remove the internal Dask API dependencies from the Dask-on-Ray scheduler, implementing our own Rayification pass of the Dask graph.

## Why

The Dask-on-Ray scheduler currently uses the [local Dask scheduler](https://github.com/dask/dask/blob/72304a94c98ace592f01df91e3d9e89febda307c/dask/local.py#L348-L504) to ["Rayify" the Dask task graph](https://github.com/ray-project/ray/blob/86d5000

[2021-01-19 18:26] dmatch01 commented on #13554
@DmitriGekhtman Thanks!  I have a PR for a fix but since this is my first PR to Ray, trying to meet contributing requirement which I'm fumbling through, :).  Basically here is the fix:

https://github.com/dmatch01/ray/tree/k8s-operator-add-finalizer

<img width="656" alt="image" src="https://user-images.githubusercontent.com/12192012/105077041-ee356d00-5a59-11eb-9222-6b54d13771ce.png">

[2021-01-19 18:30] DmitriGekhtman commented on #13554
Awesome, thanks!
Gathered from a few searches that other OpenShift users had exactly the same problem with other operators.

[2021-01-19 18:32] rkooo567 commented on #13560
How complex is this to use the standard API?

[2021-01-19 18:46] DmitriGekhtman commented on #13554
@dmatch01
I think it'd be fine to just open the PR. Let me know if you have any trouble with that.

[2021-01-19 18:51] clarkzinzow commented on #13560
Not very complex! It will probably be pretty close in implementation to [Dask's `get_async`](https://github.com/dask/dask/blob/72304a94c98ace592f01df91e3d9e89febda307c/dask/local.py#L348-L504), with different callback hooks and less heavy bookkeeping.

[2021-01-19 19:23] edoakes opened #13562 "[ray_client] Cannot instantiate imported actor class"
### What is the problem?

Get a "ray is not connected" error when trying to instantiate an actor class that was imported

`c.py`:
[code]

`test.py`:
[code]

Output:
[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mo

[2021-01-19 19:26] #13419 closed

[2021-01-19 19:54] #13383 closed

[2021-01-19 20:04] GittiHab commented on #11521
I just checked the history and it seems like the import was added with branch #11231 ([this commit](https://github.com/ray-project/ray/commit/d3bc20b727b1e4c58644a5be303b8f9be0510549#diff-409088c11b69f5b4f861412062ed19ee1343790fecbb0cdeff876511e7062be4)). So the solution is to install the most recent ray version without this commit (1.0.0). Also it is important to install `dm-control` (e.g. by `pi

[2021-01-19 20:59] dmatch01 commented on #13554
@DmitriGekhtman Per your suggestion I've submitted PR: https://github.com/ray-project/ray/pull/13567.  Please review at your convenience.

[2021-01-19 21:04] Haakam21 commented on #13526
Same issue and behavior here

[2021-01-19 21:33] cruyffturn commented on #13475
Thank you!

[2021-01-19 23:11] smorad opened #13568 "Use of fork in process.cc"
It appears that `process.cc` uses only `fork` for Linux systems. There is a `TODO` there that discusses using `clone` or `spawnp` https://github.com/ray-project/ray/blame/86d5000047593439c768d35565ece702b1b62162/src/ray/util/process.cc#L175. I was wondering if this work was still planned by @mehrdadn or any others.

Many of the popular 3D simulators tend to use `libEGL` and it's my understanding t

[2021-01-19 23:18] mehrdadn commented on #13568
I don't have any plans to make changes to it (I doubt others do either), but that's mostly a consequence of us not being aware of people encountering problems with it yet. I think if problems are reported, the team might investigate solutions. Have you seen `fork` cause problems? If so, would you mind providing details of what the problem is and how you have traced it to `fork` as the root cause?

[2021-01-19 23:24] smorad commented on #13568
I'm looking specifically at [Habitat](https://github.com/facebookresearch/habitat-sim), but I believe [Gibson](https://github.com/StanfordVL/GibsonEnv) and [others](https://github.com/minosworld/minos) also use `libegl`

https://github.com/facebookresearch/habitat-sim/issues/664#issuecomment-650590776
I'm still investigating, I will update once I learn more:

[2021-01-19 23:26] DmitriGekhtman opened #13569 "[Kubernetes][Operator][Autoscaler] Operator fails to autoscale when running on OpenShift Kubernetes"
### What is the problem?

`commands.get_or_create_head_node` is on the K8s operator's code path.
This method tries to copy a cluster config to the Ray head node, which is unnecessary for the operator.
The copy fails when running the operator on OpenShift which prevents the operator from working.
See https://github.com/ray-project/ray/pull/13567#issuecomment-763169617.

The solution is to modify `c

[2021-01-19 23:30] amogkam commented on #13199
Hey @fyrestone @edoakes, I don't think #13253 fully fixes this issue. I'm still seeing this error in the Windows CI logs even after the fix PR was merged- https://github.com/ray-project/ray/runs/1730135640

[2021-01-19 23:36] amogkam commented on #9045
This should be fixed by https://github.com/ray-project/ray/pull/12927

[2021-01-19 23:36] #9045 closed

[2021-01-20 00:19] mehrdadn commented on #13568
I see, thanks. It sounds like the problem might be one (or more) of the following:

1. File descriptors (FDs) for CUDA contexts aren't marked with `FD_CLOEXEC`, and thus they persist into `fork`ed processes, which then causes `fork`ed processes to be unable to open new contexts without closing the old ones.

2. Once a process gets a CUDA context, some other part of its state (such as the virtual m

[2021-01-20 02:16] #10678 closed

[2021-01-20 02:45] fyrestone commented on #13199
I have mentioned that the PR #12948 should be reverted, then this issue will be fixed. Use #13253 replaces #12948.

[2021-01-20 05:07] wuisawesome opened #13575 "[autoscaler] request_resources demands don't update after multiple calls"
### What is the problem?

There seems to be a problem where request_resources values don't change if request_resources is called multiple times.

[code]

will result in a permanent request for a single CPU.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can

[2021-01-20 05:08] wuisawesome commented on #13575
cc @ericl @AmeerHajAli

[2021-01-20 05:28] turmeric-blend opened #13576 "[tune] Errors when using points_to_evaluate argument for a few search algos"
I am trying out a few search algos (run from scratch) with Ray version 1.1.0, and is running into a few issues when using `points_to_evaluate` argument:

Search Space Setup:
[code]

When using `HyperOpt`:
`algo = HyperOptSearch(points_to_evaluate=current_best)`
Error:

When using `Optuna`:
`algo = OptunaSearch(points_to_evaluate=current_best)`
Error:

When using `Ax`:
`algo = AxSearch(points_to_ev

[2021-01-20 05:29] turmeric-blend commented on #13537
reproduce script is too big and requires custom dataset, I will use `tune.choice` for now

[2021-01-20 05:39] ericl commented on #13575
I think this is fixed in nightly (at least it works for me, checking `ray status` locally).

[2021-01-20 05:44] clay4444 commented on #13541
@edoakes
Placement Group has supported names,  you can find it in `placement_group.py`
`def placement_group(bundles: List[Dict[str, float]],
                    strategy: str = "PACK",
                    name: str = "unnamed_group") -> PlacementGroup:`
I'm not sure if that's what your mean ?

[2021-01-20 05:56] #10622 closed

[2021-01-20 06:27] Data-drone commented on #13311
the single `train_mnist` case doesn't have the `TuneReportCallBack` in it. so `train_mnist` is "stock lightning" so to speak

So my tests have been to run the `train_mnist` function to see how much GPU usage I am getting then to run the `tune_mnist_asha` function to run it with ray. I may not understand the `tune_mnist_asha` function correctly but by setting `gpus_per_trial=1` and `num_epochs=50`

[2021-01-20 06:40] lixin-wei opened #13578 "[Core] Actor is still alive when exception raised in constructor."
### What is the problem?

Now if an exception is raised in actor's constructor, actor will be ALIVE and remember this exception, then reraise this error in incoming tasks.

In normal programming, when you have exceptions in class's constructor, this class will not be created successfully. But in ray's actor, it will be created successfully. This inconsistency will make user confused.

After discus

[2021-01-20 06:41] lixin-wei commented on #13578
We've already discussed a lot in this PR: https://github.com/ray-project/ray/pull/13334. Now we move here to discuss our new sulotion.

@stephanie-wang @ericl @robertnishihara @raulchen

[2021-01-20 06:56] ericl commented on #13578
This seems pretty reasonable, since it mirrors the behavior of tasks as permanently failing on an app level exception.

When you say publish to all workers btw, is that a potential scalability issue?

[2021-01-20 06:59] DZ9 commented on #7571
so is this means if use_critic=False, the advantage is actually q value, which is computed like it in REINFORCE?

[2021-01-20 07:02] DZ9 commented on #7571
or it means it would still compute q(s) = r(s)+v(s+1), but just not minus v(s)?

[2021-01-20 07:12] raulchen commented on #13578
We don't have to publish the info to "all workers". We can just save it in the actor table, and callers to this actor will subscribe to this and get the exception. Then we the callers call "ray.get", they will receive the exception.

[2021-01-20 07:16] lixin-wei commented on #13578
Yes, this is exactly what I meant. Use GCS's pub/sub. @ericl

[2021-01-20 07:17] raulchen commented on #13578
I think this approach is better than the previously mentioned ones, because:
- it mimics the same behavior in a single-process program.
- No API changes are required. And from users' perspective, the behavior is still the same.
- It fixes the issue the the worker process is still running and wasting resources.

[2021-01-20 08:35] krfricke commented on #13576
Hi @turmeric-blend, which version of Ray are you using? The `points_to_evaluate` arguments are currently only available in the nightly wheels / current master and not in the latest release.
You can try `ray install-nightly` to install the nightly wheels.

[2021-01-20 08:36] #13537 closed

[2021-01-20 10:17] DZ9 opened #13580 "[rllib] where did the value loss of ppo update"
I'm reading the source code of ppo, see code in [ray/rllib/agents/ppo/ppo_tf_policy.py](https://github.com/ray-project/ray/blob/master/rllib/agents/ppo/ppo_tf_policy.py#L103), line 103.  I found that ,if `use_gae==false`, the returned `total_loss ` doesn't contain anything about the value loss, and this `total_loss ` is then passed all along to the `Trainer`.

![image](https://user-images.githubus

[2021-01-20 10:25] #13475 closed

[2021-01-20 10:26] krfricke commented on #13475
Hi @cruyffturn, this was fixed in #13549 and will be included in the next nightly wheels and next release.

[2021-01-20 11:15] DZ9 commented on #13580
It seems in rllib's setting this kind of value net is not updated, like sutton said in his book , a baseline can be just a constant. In this way, it makes sense.

[2021-01-20 12:36] Mansuete opened #13581 "[ray.init()] AuthenticationError , RuntimeError"
### Error when run ray.init()

when I run ray.init() I get an error
![image](https://user-images.githubusercontent.com/32484060/105175514-b8ad8400-5b2c-11eb-9147-d86f7bf7767f.png)

Then I have download Redis-server and run. Now I get this error
![image](https://user-images.githubusercontent.com/32484060/105175602-d975d980-5b2c-11eb-82c2-b5e98e1a1c3a.png)
and redis console
![image](https://user-ima

[2021-01-20 14:35] jacobowitz commented on #9653
I have the same problem on GCP.
I basically just used this template file:
https://raw.githubusercontent.com/ray-project/ray/master/python/ray/autoscaler/gcp/example-full.yaml

I changed the min_workers to 1 and put my project setup in provider.
I start the ray cluster with ray up example-full.yaml which runs without showing any errors. After that only the head not is created in GCP, while I also e

[2021-01-20 15:54] GiovanniGatti commented on #13259
I finally got it to work!
The hint fix came from: [Azure DevOps pipeline error: Tenant ID, application ID, principal ID, and scope are not allowed to be updated](https://stackoverflow.com/questions/61637124/azure-devops-pipeline-error-tenant-id-application-id-principal-id-and-scope).

I'm not exactly an expert on the subject, but on my first try ray cluster failed to initialize. Unfortunately it l

[2021-01-20 15:54] #13259 closed

[2021-01-20 16:39] smn57 opened #13585 ""Handling Large Datasets" within hyperparameter_search"
Is there the possibility to handle large datasets as described in the [user-guide](https://docs.ray.io/en/latest/tune/user-guide.html#handling-large-datasets) within [hyperparameter_search](https://huggingface.co/transformers/main_classes/trainer.html#transformers.Trainer.hyperparameter_search) by Huggingface?

However, I want to use `t5-large` and it happens the dataset size does not matter, the

[2021-01-20 17:01] aced125 commented on #13327
This looks great.

[2021-01-20 17:49] ericl opened #13586 "Failed nodes are no longer preserved / don't show up in recent failures"
My nodes are continuously failing to start:
[code]

However, ray status only shows
[code]

This seems to be since the failed nodes aren't preserved in the status. cc @wuisawesome @AmeerHajAli

[2021-01-20 18:16] #12967 closed

[2021-01-20 18:19] ericl commented on #13562
Duplicates https://github.com/ray-project/ray/issues/13272

[2021-01-20 18:19] #13562 closed

[2021-01-20 18:52] AmeerHajAli commented on #13586
I pointed this out already in @wuisawesome 's logging PR that failed tests won't be tracked.

[2021-01-20 19:09] #13377 closed

[2021-01-20 19:14] wuisawesome commented on #13586
Yes, we left it as a TODO in the code.

[2021-01-20 19:24] richardliaw opened #13587 "[docker] Restarting container needs to re-run setup commands"
### What is the problem?

If you modify the file mounts, the container restarts. However, the setup commands don't get re-run (with `ray start --restart-only`). As a result, this can break workflows.

We need to run the setup commands always when the container restarts.

[code]

[code]

[2021-01-20 19:24] diegoclarity commented on #11991
Any updates on this?? Having the same error when trying to do hyperparameter search.... Just`trainer.hyperparameter_search(` All the trials fails and I see this message in the logs..

[2021-01-20 19:35] ericl commented on #13587
cc @AmeerHajAli @ijrsvt seems this means update flow doesn't work with docker (iiuc, pretty bad regression from bare metal)

[2021-01-20 19:36] richardliaw commented on #13585
Hey @smn57 this is a similar issue to https://github.com/huggingface/transformers/issues/9146. We're going to prioritize this this week!

[2021-01-20 19:41] #13575 closed

[2021-01-20 19:41] #13554 closed

[2021-01-20 19:42] ericl commented on #13526
cc @sven1977

[2021-01-20 19:47] ericl commented on #13586
It used to be tracked, since we didn't terminate failed nodes. Isn't this a usability regression since users used to be able to debug failed nodes by ssh'ing in manually? Now it seems no longer possible.

[2021-01-20 21:37] simon-mo commented on #13221
@rkooo567 You can repro this issue by:
- Starting a CentOS VM (on AWS choose Amazon Linux). Ubuntu won't do. It needs to be CentOS
- Pip install Ray or run ray container.
- Run ray start; ray stop in loops.

[2021-01-20 22:18] billyzs commented on #10530
I should also mention that I was using the offline dataset API (via a custom but stateless `InputReader`). Perhaps it's something particular to this code path?

[2021-01-20 23:14] rkooo567 commented on #13578
When the actors are re-created, are they retried aggressively? One concern I have is when actor of max_restart=-1 that has errors in the constructor is created, it will spam the GCS server.

[2021-01-20 23:15] sergeivolodin commented on #9964
@azzeddineCH using this custom script:

https://github.com/HumanCompatibleAI/better-adversarial-defenses/tree/master/other/memory_profile

1. (assuming python3) `$ pip install psutil numpy matplotlib humanize inquirer`
2. `$ python mem_profile.py` -- will write data to a file for all processes for your user and save to `mem_out_{username}_{time_start}.txt` (will print the filename)
3. Run `$ pytho

[2021-01-20 23:36] michaelzhiluo commented on #13507
Recommend creating your own custom wrapper that MBMPO-Env can use. `rew.astype(float)` is for more general envs.

[2021-01-21 00:50] tylerkohn opened #13589 "[kubernetes] ray crashes when using the k8s operator and setting redis configurations"
I'm using:
[code]
and
[code]

### What is the problem?

when testing out the example cluster yamls for k8s using the new operator if I add a redis configuration to the headStartRayCommands it crashes.  If I add the password like:

[code]

I get:
[code]

### Reproduction (REQUIRED)

To reproduce, run the example_cluster.yaml and the process found at: https://docs.ray.io/en/master/cluster/k8s-operat

[2021-01-21 01:16] drozzy commented on #13507
https://github.com/ray-project/ray/blob/2cd51ce608744e801c1a888540e138213120c10a/rllib/examples/env/mbmpo_env.py#L13

[2021-01-21 01:45] #10660 closed

[2021-01-21 02:23] turmeric-blend commented on #13576
ok thanks

[2021-01-21 02:23] #13576 closed

[2021-01-21 02:45] #10609 closed

[2021-01-21 02:45] turmeric-blend opened #13590 "How to get best model checkpoint after program ends with a few ERROR trial runs?"
Currently, this is how I get the best model checkpoint after training has ended.
[code]
However, if some trials run into **TuneError**, the programs end abruptly **after** `tune.run` finishes going through all `num_samples` like so:
[code]

So I try the `Analysis` method to get best model checkpoint after program ends, but there is no way to get it automatically without defining a `Trial` instance

[2021-01-21 03:14] lixin-wei commented on #13578
@rkooo567 Actor won't be recreated once has exceptions in the constructor. I mentioned it in my first comment:

[2021-01-21 03:17] herunyu opened #13592 "[rllib]Action masking with tuple action space"
### What is the problem?
Action masking works with only discrete action space, but return shape errors when using tuple action space

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray: 1.1.0
tensorflow: 2.4.0
pytorch: 1.6.0

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce th

[2021-01-21 04:01] #10664 closed

[2021-01-21 05:39] ggservice007 opened #13593 "GPU is too expensive. SIMD is better to provide high performance. Can ray provide some simd utility?"
Many high performance projects or libraries use the SIMD to accelerate such as apache arrows and pysimdjson

Apache Arrows
https://arrow.apache.org/overview/

![Snip20210121_1](https://user-images.githubusercontent.com/9192908/105284714-fd4d2400-5bed-11eb-9f50-346799c7fbd0.png)

pysimdjson

https://github.com/TkTech/pysimdjson

Python bindings for the simdjson project, a SIMD-accelerated JSON pars

[2021-01-21 05:42] kfstorm opened #13594 "[core] Fail submitted tasks immediately when an actor is temporarily unavailable"
Currently, when an actor has `max_restarts` > 0 and crashed, the actor will enter RESTARTING state and then ALIVE. Imagine this scenario: an online service provides HTTP service and the proxy actor receives requests, forwards them to worker actors, and replies to clients with the execution results from worker actors.

[code]

For each HTTP request, the proxy picks one worker (e.g. worker A) based

[2021-01-21 05:46] rkooo567 commented on #13594
cc @edoakes

[2021-01-21 05:47] raulchen commented on #13594
@ericl FYI, this issue is related to your comment https://github.com/ray-project/ray/pull/13334#issuecomment-762650327

[2021-01-21 05:52] ggservice007 commented on #13593
[year_2015_data_parallel_via_simd_vector_type.pdf](https://github.com/ray-project/ray/files/5847146/year_2015_data_parallel_via_simd_vector_type.pdf)

![Snip20210121_3](https://user-images.githubusercontent.com/9192908/105285714-e90a2680-5bef-11eb-84d3-2aaaaf967c9b.png)

The ray  base layer is implemented by using C++.  So we can write some simd utility to provide the Python user.

[2021-01-21 05:53] raulchen commented on #13594
Another important thing is the semantics of actor restart. E.g., whether we should make actor restart transparent to users.
Currently the semantic is kind of broken:
- If the task is submitted before the caller receives the RESTARTING notification, the task will fail due to the network errors.
- If the task is submitted after the caller receives the RESTARTING notification, the task will be pendin

[2021-01-21 07:23] rkooo567 opened #13597 "[Object Spilling] Object spilling crashed when IO workers are killed."
### What is the problem?

We don't properly handle IO worker failures now. It will send unlimited spilling failures if IO worker is killed by kill -9.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environment

[2021-01-21 08:01] antoine-galataud opened #13598 "[rllib][DQN] unable to restore checkpoint after TF variables renaming"
### What is the problem?

- Ray version: 0.8.6 & 1.1.0
- Tensorflow version: 2.3.1
- Python version: 3.8.5

Since 01125b8fcfce88472c2e20d116bc6662032088e0 (so problem starts to occur in `0.8.7`), TF variables naming has changed in `distributional_tf_q_model.py`. Debugging variable names in 0.8.6 gives following result (`q_model`):

[code]

while in 0.8.7 (and onwards):

[code]

Notice the missing

[2021-01-21 08:29] GiovanniGatti opened #13599 "[autoscaler] Azure SDK version needs to be pinned"
**TLDR; We need to pin `azure-mgmt-compute==14.0.0`**

### What is the problem?

While trying to deploy/update a ray cluster in Azure, the following error is generated:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):

OS: ubuntu 18.02
Python: 3.7.1
VirtualEnv: [requirements.txt](https://github.com/ray-project/ray/files/5847827/requirements.txt)

Typical

[2021-01-21 10:05] hasansalimkanmaz opened #13600 "[tune] ray.tune.utils.util got an unexpected keyword argument 'reporter' while running PBT with Huggingface"
### What is the problem?

When I run ray tune with huggingface, it logs `ray.tune.utils.util got an unexpected keyword argument 'reporter'` and stops.

### Reproduction (REQUIRED)

[code]

Error Traceback:

[code]

[2021-01-21 12:00] theoturner opened #13602 "Ray cluster: auth_user permissions"
### What is the problem?

Ray permissions do not match those of the `auth ssh_user` specified. Ray Cluster on Ubuntu (v1.1).

### Reproduction

Create a ray cluster from `.yaml` with:
[code]
Start cluster:
[code]
Result:
[code]

However, logging in as user `ubuntu`: `mkdir abc` works fine.

As I understand this is because ray works in a container with working directory `/`.

So, ideally we'd want

[2021-01-21 12:07] trunghlt commented on #8539
Interestingly, I don't have this problem any more. I close this issue now.

[2021-01-21 12:07] #8539 closed

[2021-01-21 12:14] krfricke commented on #13600
Hi @hasansalimkanmaz, the cited message is just a debug message that comes up during detection of trainable function arguments:

[code]

So this is expected behavior and not the reason your code fails.

The reason seems to be rather that the training function cannot be pickled, specifically the (global?) `logger` object. This is definitely unexpected, but I couldn't reproduce this error.

Can you

[2021-01-21 13:18] #10677 closed

[2021-01-21 13:36] ugurkanates commented on #13552
We actually solved the issue. We mistakenly override  `input_evaluation =[]` but we should have just put `input_evaluation['simulation']`

[2021-01-21 13:36] #13552 closed

[2021-01-21 13:38] batrlatom opened #13603 "Question about keeping the server running"
Hello,
I have a question about the ray serve tutorial. My question is.. why the server stops and how to keep it running?
I have tried client = serve.start(detached=True), but the results is the same. Thank you for the answer.

[code]

[2021-01-21 14:01] sven1977 commented on #10530
From our conversation on slack:

Could you give me the observation and action spaces? I want to try reproducing this with a respective random env, just to see whether I see the same thing with a buffer of 1000.
Trying to reproduce this now …

I’m not seeing SAC leaking on an Atari env (observation space float32 84x84x3), even with a larger buffer (1M).
[code]

^^ 100k timesteps.

...
I can try it

[2021-01-21 14:02] sven1977 commented on #10530
@billyzs ^

[2021-01-21 14:53] MaximeBouton opened #13605 "Issue on page /cluster/index.html"
This code:
[code]

 from the documentation seems outdated as it throws
[code]

[2021-01-21 15:30] #13551 closed

[2021-01-21 15:36] #13307 closed

[2021-01-21 15:38] Hoeze opened #13606 "ray ignores TMPDIR variable -> Spawning ray fails"
We have set `$TMPDIR` to `/scratch/tmp/$USER` on our system since we have fast SSD scratch space on our nodes available.
However, when calling `ray.init()` we always get `/tmp/ray` back:
[code]

This also causes Ray to fail spawning the dashboard:
[code]

[2021-01-21 16:37] Hoeze opened #13607 "ray.init() does not detect local resources correctly on SLURM"
### What is the problem?

When running Ray inside slurm, it does not detect the resources correctly.
In comparison, joblib does correctly detect at least the number of CPU cores.

*Ray version and other system information (Python version, TensorFlow version, OS):*
- ray v1.0.1 installed via conda
- python 3.7
- CentOS 7

### Reproduction (REQUIRED)
1) start slurm job with 16 cores and 64GB of memo

[2021-01-21 17:14] ricardobatistad commented on #3466
Also interested in nesting `grid_search` inside a lambda function:

[code]

Alternative, this sort of nesting:

[code]

[2021-01-21 17:15] #13304 closed

[2021-01-21 17:36] ericl opened #13609 "Ray client requires installation of cloudpickle"
Seems Ray client is not using the built in Ray cloudpickle, this means we should either
(1) add cloudpickle to Ray dependencies
(2) use ray.cloudpickle instead

cc @edoakes here's the issue you reported

[2021-01-21 17:44] batrlatom commented on #13603
I had added
[code]
at the end of the script, but I believe that this is not an ideal solution.

[2021-01-21 17:53] theoturner commented on #13602
The answer to this is that ray runs inside a docker container as a new user, `ray`. Starting with a `cd /home/ray` you can modify directories as expected under that tree.

My personal reason for needing to modify dirs was giving ray ssh credentials spread between various files. What I ended up doing was getting them in the container by using a file mount:
[code]
Then using these credentials to cur

[2021-01-21 17:53] #13602 closed

[2021-01-21 17:54] ericl opened #13610 "Raise error on Python version mismatch (3.6 vs 3.7)"
We should automatically raise an error if the client Python is different in minor version. This can be detected by checking the return value of the connect() call (info = ray.util.connect(); info["python_version"])

[2021-01-21 17:57] amogkam commented on #13311
Hey @Data-drone, could you also try running training with Tune (still use the `TuneReportCallback` and run it with `tune.run`), but don't use any scheduler. That'll help with identifying if the ASHA scheduler is what's causing the issue or if its some general Tune overhead.

[2021-01-21 18:25] #10681 closed

[2021-01-21 18:32] Hoeze commented on #13607
References for how to correctly recognize resources:
- CPU (taken from joblib):
https://github.com/joblib/joblib/blob/c952c223e3616e5ff10f63864b4615088b0d9352/joblib/parallel.py#L282
- memory (taken from dask):
https://github.com/dask/distributed/blob/e98d57dcad72d4a87fb177c4b2b9c98b2b2c50e1/distributed/system.py#L8

[2021-01-21 19:52] ramicaza commented on #12742
I found that the version of redis that ray ships with doesn't like m1 Macs as per [this issue ](https://github.com/redis/redis/issues/8062). The fix is clear: ray needs to update the redis version that's shipped.  But for now a hacky workaround is to symlink your redis-server executable (which starts correctly) to <wherever your python packages are installed>/ray/core/src/ray/thirdparty/redis/src/

[2021-01-21 20:39] vishal00100 opened #13612 "ray.put() slows down over time."
### `ray.put` slows down over time.

I have a simple setup with 2 actors. First Actor places raw and preprocessed images in shared memory and second actor runs predictions on preprocessed images.

[code]
-----

I notice that `ray.put()` call in `Camera#get`

`frame_ref = ray.put(np.zeros((3, 3000, 5000, 1)))`

starts to slow down over time.

![screenshot](https://aws1.discourse-cdn.com/standard10/

[2021-01-21 20:46] kevin1zc opened #13613 "[rllib] No "eager" in trainer configuration"
### What is the problem?
I am building a custom TFModelV2 that uses LSTM layers, and I need to enable eager execution to use cuDNN acceleration. According to RLlib documentation, I should set `config["eager"]: True` in trainer config, but I got the error `Exception: Unknown config parameter 'eager'`. I then tried the sample code at [https://docs.ray.io/en/latest/rllib-training.html#basic-python-ap

[2021-01-21 21:14] simon-mo commented on #13603
Hi @batrlatom thanks for the question. You can either do the time.sleep approach either the do the following:
- Starts a background Ray cluster by running: `ray start --head`
- In your script connect to it via `ray.init(address="auto")`
See more at https://docs.ray.io/en/latest/serve/deployment.html

[2021-01-21 22:10] rkooo567 commented on #13612
This looks bad. Can you check if this is reproducible when you purely keep calling ray.put?

[2021-01-21 22:53] ricardobatistad opened #13614 "[tune] Conditional spaces and HyperOpt"
### What is the problem?

HyperOpt interface cannot handle spaces with `lambda spec` construct. Error message is

`ValueError: HyperOpt does not support parameters of type "Function" with samplers of type "NoneType"`

### Environment

- Python (interpreter): 3.7.6
- macOS 11.1
- Ray: 2.0.0.dev0

### Reproduction

[code]

[2021-01-21 23:09] vishal00100 commented on #13612
Sure. I'll let this code run overnight and post results.

[code]

[2021-01-22 00:16] turmeric-blend opened #13616 "[tune] Why does some search algos have random seed argument while others algo/schedulers does not?"
Why does `HyperOpt` and `BOHB` have a `seed` argument while other search **algorithms** or even search **schedulers** not have them? Wouldn't it be more consistent to have it across all the functions? I am using Ray version 1.1.0

[2021-01-22 00:19] jCrompton opened #13617 "[autoscaler] Add support for podman in Ray's autoscaler command line tool"
As of now there is no good way to run the autoscaler with podman rather than docker, I tried setting 'docker' as an alias to podman in the initialization_commands section to no avail.

Happy to share more details if necessary

[2021-01-22 01:05] simon-mo opened #13619 "Shared memory auto-detection is not working"
### What is the problem?
On a m5.16xlarge instance, I'm getting this error when running `ray microbenchmark` with autoscaler default docker:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should h

[2021-01-22 01:12] rkooo567 commented on #13619
cc @ijrsvt?  I remember you brought up about adding auto-setting shm but not sure if it is introduced.

[2021-01-22 01:12] rkooo567 commented on #13619
Also, @simon-mo did you follow this message?

[code]

[2021-01-22 01:13] Hoeze opened #13620 "[dask-on-ray] Zero-copy deserialization of dask.delayed() objects?"
Hi, I just tried using the dask-on-ray scheduler and I'm mind blown how well this works!
I had quite a number of issues with dask's distributed scheduler that are nearly completely solved by the shared worker memory and the zero-copy transfers.

However, I noticed that when I want to pass a big object to a function with dask.delayed(), it gets de-serialized on every worker and therefore results in

[2021-01-22 01:18] simon-mo commented on #13619
The auto shm-size seems accurate. The thing is the detached /dev/shm is 46G, which is definitely more than 2G

[2021-01-22 01:20] #10689 closed

[2021-01-22 01:36] ijrsvt commented on #13619
I think that error is technically correct :O
The formula for memory size is:
[code]
Now I think the main concern is that available_memory = `total_memory - memory_in_use` and there may be different memory usage between when the container is not started and when it is running. That said,  the level of difference is **hugee**

[2021-01-22 03:06] turmeric-blend opened #13622 "[tune] AttributeError: 'InMemoryStorage' object has no attribute 'set_trial_value' - Optuna"
Brief setup:
[code]

This error occurs after the first trial is complete (`done: true`):

[2021-01-22 03:22] ashione commented on #13532
@architkulkarni Does only driver process crash?

@zhongchun Could you take a look that?

[2021-01-22 03:25] clarkzinzow commented on #13620
Hi @Hoeze, I'm happy to hear that Dask-on-Ray is working pretty well for you!

**TLDR;** You should be able to get around this in a slightly nicer way by not using Dask-delayed or Ray objects as **default arguments** to other Dask-delayed functions, instead passing in Ray objects (returned from `ray.put()`) as explicit arguments to those Dask-delayed functions. The good news is you shouldn't have

[2021-01-22 04:10] rkooo567 commented on #11940
@roireshef @kyillene The possible fix was merged in the latest master. Can you guys try?

[2021-01-22 04:10] rkooo567 commented on #11940
Also, @fyrestone Do you mind answering @kyillene ?

[2021-01-22 04:12] rkooo567 commented on #13166
cc @pcmoritz @ericl

[2021-01-22 04:16] ericl commented on #13166
I'm not sure about this, given that we plan to remove the redis dependency in the future.

[2021-01-22 04:39] ijrsvt commented on #13617
Hey @jCrompton Thanks for suggesting this! Would you be interested in contributing this change to Ray? It should be as simple as just changing the `docker_command_runner` to optionally using `podman` instead of `docker` for all the commands! I'd be more than willing to help you with the process!

[2021-01-22 05:52] WangTaoTheTonic commented on #13166
More scalable: Head node is only one node. No matter how many redis instances on it, they also use same resources(cpu/mem) of only one node.
If we support external redis, the multi redis servers can be deployed on different nodes out of ray cluster.

BTW what's the plan to `remove the redis dependency`? Is it an initial proposal or something already on the schedule?

[2021-01-22 06:48] clay4444 opened #13625 "[Placement Group] Support Named Placement Group"
### Describe your feature request

Now, the name we specified when we create placement group was just a label, in order to better support placement group sharing among jobs, we should support `Named placement group` like `Named Acror`

[2021-01-22 06:52] rkooo567 commented on #13625
This simply means we will implement get_placement_group(name=“”)?

[2021-01-22 07:03] raulchen commented on #13166
@ericl This doesn't conflict with "removing redis dependency", we can use a neutral name that refers to "address of GCS's backend storage".
Regarding the motivation of this issue, maybe @rkooo567 can comment more on this. I think he received this requirement from a user on Slack.

[2021-01-22 07:06] clay4444 opened #13627 "[Placement Group] Optimize PlacementGroup interface in java api."
### Describe your feature request

Now, `PlacementGroup` is a empty interface in java api, user need to cast it to `PlacementGroupImpl` if user want to invoke `wait` method, we should put these method to interface level.

[2021-01-22 07:06] ericl commented on #13166
Hmm I see, it seems reasonable enough, though we should probably document
this as a parameter that may change in the future as the GCS storage
evolves.

On Thu, Jan 21, 2021, 11:03 PM Hao Chen <notifications@github.com> wrote:

[2021-01-22 07:11] clay4444 commented on #13625
hm... I think the api should like `ray.get_placement_group("name")` because the name should unique in a ray cluster ?

[2021-01-22 07:11] clay4444 commented on #13625
hm... I think the api should like `ray.get_placement_group("name")` because the name should unique in a ray cluster ?

[2021-01-22 07:14] clay4444 commented on #13625
cc @ffbin

[2021-01-22 08:26] architkulkarni commented on #13532
As far as I can tell no process crashes when I run the above reproduction script, it's just that that any custom metrics defined after the second `ray.init()` don't show up when I check localhost at the metrics export port.

[2021-01-22 08:47] batrlatom commented on #13603
Thank you. It is resolved

[2021-01-22 08:47] #13603 closed

[2021-01-22 08:54] rkooo567 commented on #13166
Agree this parameter may change in the future. We can also probably just
make a parameter private. What about things like _remote_gcs_address?

On Thu, Jan 21, 2021 at 11:07 PM Eric Liang <notifications@github.com>
wrote:

[2021-01-22 09:29] krfricke commented on #13616
Hi @turmeric-blend, those search algorithms use a custom random state that has to be instantiated independently. The other ones usually use either python's `random` module or (more common) numpy's `np.random` module for random sampling. In these cases seeding with `random.seed` and `np.random.seed` should lead to the desired behavior.

Please note though that distributed training introduces some k

[2021-01-22 09:32] krfricke commented on #13622
Hi @turmeric-blend, thanks for raising this issue. To work on it we need a full reproducible script, i.e. one I can just copy and paste and then run to reproduce the error.

Also in this case it would be good to know which Ray version and which Optuna version you're using.

If you provide the information I'm happy to look into this. Thanks!

[2021-01-22 09:40] putze commented on #13622
Hi @krfricke ,

I encountered the same problem as well by just adding to `tune.run` the `sync_config=tune.SyncConfig()` option. Without this option my script runs perfectly well.

I am using optuna==2.4.0 and ray=1.1.0

[2021-01-22 09:45] jacobowitz commented on #9653
In my case there were a couple of issues:

- In ray 1.1.0 I got some permission problems because the Google credentials were not setup correctly within the docker container on the head node. Updating to nightly fixed it.
- The bootstrap config for the worker nodes could not be read, because the template yml logs in with ubuntu user, which doesnt exist. Using the user 'ray' instead fixed this issue

[2021-01-22 09:45] turmeric-blend commented on #13616
So far for the `non-determinism when trial finishes before another trial`, I understand this and would work keeping this in mind.

For the random seeds of **algorithms** and **schedulers**, I think

1. If it can be set via `random`/`numpy.random`/`torch.random`, its better if its stated in the docs in each method for clarity.
2. If it can be implemented as a random seed argument like `ASHA`, then

[2021-01-22 09:49] YarShev opened #13630 "Getting node IP address by object ref"
### Describe your feature request

There is the following API to get object table: `ray.objects()`. However, object location is some node ID. It would be awesome to get node IP address as well.

[2021-01-22 09:50] turmeric-blend commented on #13622
I am also using `optuna==2.4.0 and ray=1.1.0`.

Unfortunately I dont have a minimal reproducible code, but from putze comments it seems it should work with any problem?

[2021-01-22 09:55] krfricke commented on #13616
Thanks for the feedback! I'll add this to the docs when working on #13295.

[2021-01-22 09:58] krfricke commented on #13622
I see. So Optuna released `2.4.0` just 10 days ago, and this might have introduced some incompatibilities. We'll work on trying to reproduce and fix these. For the meantime, can you try downgrading to `optuna==2.3.0` and see if it works then?

[2021-01-22 10:02] putze commented on #13622
Downgrading worked for me.

[2021-01-22 10:04] krfricke commented on #13622
Good to know, thanks. We'll still try to fix this as soon as possible.

[2021-01-22 10:14] krfricke commented on #13622
Turns out the update breaks our integration because of an API change. The fix was very easy (https://github.com/ray-project/ray/pull/13631). We'll probably merge this later today and the patch will be included in the next nightly wheels and the next ray release.

[2021-01-22 11:05] krfricke commented on #10677
Sorry for letting this slip @AlkaidCheng. Generally this should be possible, this is exactly what partial resources are for. Is this issue still there or did you find a different way to handle this in the meantime?

[2021-01-22 11:47] #9643 closed

[2021-01-22 11:54] tymss opened #13632 "trainer.restore() cannot find GPU for PyTorch"
**Environment:**
ray  1.0.0
gym 0.17.3
torch 1.7.1+cu110

When I run my codes:
[code]
I have two gpus in my machine and when I do not run ``` trainer.restore() ```, everything is ok.

However, when I run ``` trainer.restore() ``` to load my model from checkpoint, error occurs as:
[code]
I have tried to use ray version=1.0.1 but ``` ValueError: ('Observation for a Box/MultiBinary/MultiDiscrete spac

[2021-01-22 13:39] PeterPirog commented on #12128
@PidgeyBE  Thank you for arm7 repo: [https://github.com/ray-project/ray/files/5703429/ray_armv7l_32bit.zip](https://github.com/ray-project/ray/files/5703429/ray_armv7l_32bit.zip)

I would like to ask where can I find tutorial how to  build whl files for raspberry. I'm  beginner in this topic and I would like learn it from basics. If some one can recommand soe tutorial or book I will be gratefull.

[2021-01-22 14:24] jCrompton commented on #13617
Sure thing, I'm guessing all these changes would be in the `DockerCommandRunner` class? Ideally defined by the `docker_config` arg?

[2021-01-22 14:24] jCrompton commented on #13617
How do I get access to the codebase?

[2021-01-22 14:24] jCrompton commented on #13617
e.g. permission to push to branches

[2021-01-22 14:59] dmatch01 commented on #13569
Referenced Error:
[code]

[2021-01-22 15:43] sumanthratna opened #13635 "[core] Rename the ray.operator module"
### Describe your feature request

`operator` is a standard Python module: https://docs.python.org/3/library/operator.html

when I try to run `python3.8 python/ray/setup-dev.py` from the root of the ray repo, importing argparse fails because Python looks into Ray's `operator` rather than the Python operator module. To solve this, the`operator` dir should be renamed to something like `ray_operator`

[2021-01-22 15:51] skerres commented on #10761
I encountered the same error.
If your environment is supposed to have a terminal state where a new episode is started upon reaching it, setting "no_done_at_end" to True is not working for your environment.
My environment had terminal states where `reset()` must be called, so setting "no_done_at_end" was not an option for me.
The problem you have is that the 'dones' dict contains multiple entries w

[2021-01-22 16:11] krfricke commented on #9036
@JelledFro which version of Ray are you using?

[2021-01-22 17:08] ijrsvt commented on #13617
@jCrompton

Yep! I left a few more comments about places to make these changes!

It looks like you made a fork and that is great! Once this PR is ready for merge, someone with permissions will merge it in. Some more info is available [here](https://docs.ray.io/en/master/getting-involved.html#submitting-and-merging-a-contribution).

[2021-01-22 17:18] jCrompton commented on #13617
Done

[2021-01-22 17:38] vishal00100 commented on #13612
purely `ray.put` [code](https://github.com/ray-project/ray/issues/13612#issuecomment-764999457) seems fine.

![screenshot](https://imgur.com/a/TkdLIXJ.png)

[2021-01-22 17:59] #13372 closed

[2021-01-22 18:08] ijrsvt commented on #13617
@jCrompton thanks for adding the schema! I think just fixing `docker.py` and adding a test (I would suggest copying [`test_autoscaler.py::testGetOrCreateHeadNode`](https://github.com/ray-project/ray/blob/da5928304a22d81b3623302767c4a89da4391e8f/python/ray/tests/test_autoscaler.py#L395) and changing all the "docker"s to "podman"s)

[2021-01-22 18:10] rkooo567 commented on #13612
Hmm interesting. Can you then try with ray.put in a worker? (same code but you run ray.put inside a actor class and you keep calling it).

[2021-01-22 18:39] vishal00100 commented on #13612
Sure.

[2021-01-22 19:15] amogkam commented on #13483
Hey @mrkulk, we'll take a look at this next week. What Pytorch Lightning and Ray versions are you using?

[2021-01-22 19:29] #12889 closed

[2021-01-22 19:30] #12890 closed

[2021-01-22 19:37] PidgeyBE commented on #12128
@PeterPirog The docs to build ray wheels are here: https://docs.ray.io/en/master/development.html#building-ray-full
The complexity to build for ARM is that you first have to compile bazel for ARM. But in the version currently used by ray there are less complexities than before.
Additionally, building and compiling is pretty resource intensive, so instead of building it on a raspberry pi, you could

[2021-01-22 19:56] mrkulk commented on #13483
That sounds great! I am currently using `ray==1.1.0` and `pytorch_lightning==1.1.5`

[2021-01-22 20:06] vishal00100 opened #13638 "[core] ray.put takes longer when called inside an Actor class."
I've noticed that `ray.put` is twice as slow if it's called in an `Actor` class.

In this code `ray.put` takes about 40ms.

[code]
![image](https://user-images.githubusercontent.com/29234773/105539445-c137c300-5cc2-11eb-8cf9-7efce74ecdde.png)

whereas in this code it takes about 80ms.

[code]
![image](https://user-images.githubusercontent.com/29234773/105539688-14aa1100-5cc3-11eb-9f57-18f944712d9a

[2021-01-22 20:12] #10564 closed

[2021-01-22 20:30] vishal00100 commented on #13638
I had some background tasks running that was slowing down `ray.put`. Closing this issue.

[2021-01-22 20:30] #13638 closed

[2021-01-22 20:33] rkooo567 commented on #13638
@vishal00100 Is the background task the cause of your ray.put getting slower as well in other issue? It seems like the ray.put latency seems to be stable here.

[2021-01-22 20:36] djoull commented on #12742
Hi,

Both solutions (building Ray from source & symlink an up-to-date Redis-server executable) don't work for me.

Would you have an ETA for this fix ?

[2021-01-22 20:40] PeterPirog commented on #12128
@PidgeyBE  Thank You for the answer and link. I can build bazel with proper version thanks to  this repo:
[https://github.com/koenvervloesem/bazel-on-arm](https://github.com/koenvervloesem/bazel-on-arm)
I noticed that compiling is resource expensive ( now I try compile tensorflow, it last over 2 hours with 100 % CPU Usage, Raspberry 4 with 8GB RAM).
Unfortunatelly I dont't understand some dpendenc

[2021-01-22 21:20] vishal00100 commented on #13638
@rkooo567 No I didn't anything else running then.

For posterity - this is the [other issue](https://github.com/ray-project/ray/issues/13612)

[2021-01-22 23:37] amogkam commented on #13149
Hey @richardrl I'm going to close this due to inactivity. If this is still an issue, please feel free to reopen it and I can take a look.

[2021-01-22 23:37] #13149 closed

[2021-01-23 00:17] sheganinans commented on #12112
I'm getting this error even with the VC runtime installed.

I heard there is a way to get this installed with Anaconda than the terminal, would that be recommended?

[2021-01-23 00:36] mehrdadn commented on #12112
@sheganinans Does it run fine on any non-Anaconda Python on the same machine? What version of Ray and Python are you running?

[2021-01-23 01:13] sheganinans commented on #12112
@mehrdadn No it does not, currently I'm trying:

`pip3.7.exe install .\Downloads\ray-2.0.0.dev0-cp37-cp37m-win_amd64.whl`

Here's the error:

[code]

[2021-01-23 01:16] mehrdadn commented on #12112
@sheganinans It looks like you're hitting [this SciPy issue](https://stackoverflow.com/a/62575950).

[2021-01-23 01:20] sheganinans commented on #12112
@mehrdadn Sweet, that solved that problem, but now a new problem :)

[code]

I'm assuming I don't have the proper BLAS dependencies installed?

[2021-01-23 01:22] mehrdadn commented on #12112
@sheganinans Looks like it. Might be [this issue](/scipy/scipy/issues/10171). Not sure what the solution is but you can try instead installing SciPy etc. from here: https://www.lfd.uci.edu/~gohlke/pythonlibs/#scipy

[2021-01-23 01:24] sheganinans commented on #12112
@mehrdadn ok thanks for the direction. i think i may just try wiping python and then starting from scratch with these pointers. ill post again if i get it working or with more errors. thanks!

[2021-01-23 01:25] mehrdadn commented on #12112
@sheganinans Sounds good! You might want to try [plain Win32 Python](https://www.python.org/downloads/windows/) by the way, instead of the Microsoft Store one. While there shouldn't be a difference, there still might be, and the team doesn't test with the latter.

[2021-01-23 01:29] sheganinans commented on #12112
@mehrdadn Ok, I'll work with win32 since that's what upstream is testing. Thats fine, since im planning on keeping this an isolated rllib component inside a larger windows app, so I don't have any prior python dependencies currenetly.

Otherwise I'll likely be following the latest release or possible master, since I'll likely want to use the bleeding-edge features, what would be recommended do you

[2021-01-23 01:32] mehrdadn commented on #12112
@sheganinans If you want bleeding edge features, I think you'll want to follow master, though it's more likely to break at random points. Releases do happen fairly regularly though, so I don't think you'll be too far behind if you stay with the releases.

[2021-01-23 01:34] sheganinans commented on #12112
Ok, I'll stay with the current releases then, thanks

[2021-01-23 01:40] #10724 closed

[2021-01-23 01:47] sheganinans commented on #12112
Ok, removed all the python installations. installed win32 py3.8, getting this error:

[code]

@mehrdadn

[2021-01-23 01:50] mehrdadn commented on #12112
@sheganinans: I think you might've installed 32-bit Python instead of 64-bit? Sorry if "Win32" was confusing—it's the name of the Windows subsystem that I was referring to, not the architecture. If you installed 32-bit you'll want to uninstall this and install the 64-bit version, e.g. [this one](https://www.python.org/ftp/python/3.8.7/python-3.8.7-amd64.exe).

[2021-01-23 01:59] sheganinans commented on #12112
Ok, ok. Yes. I was confused as to what you meant. I haven't used Python much in many years, let alone on Windows, so I'm pretty rusty.

Now it's working, my steps to reproduce:

*Uninstall everything, lol*

Install this: https://www.python.org/ftp/python/3.8.7/python-3.8.7-amd64.exe
Grab this: https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp38-cp38-win_amd64.whl

[code]

Now

[2021-01-23 02:02] #12112 closed

[2021-01-23 05:14] #12755 closed

[2021-01-23 06:33] liuyongvs opened #13644 "using ray java actor in cluster mode will not run application"
### What is the problem?
when i use ray java actor in cluster mode will not run application on ray version 1.0.1.
i fould it could run in SINGLE_PROCESS while can not in CLUSTER.

i do following this, which is a simple counter problem:
1.  ray start --head --code-search-path=/mnt/disk1/ly/lib/log4j-1.2.17.jar:/mnt/disk1/ly/lib/disk1/ly/flink-1.12.0/lib/log4j-slf4j-impl-2.12.1.jar:/mnt/disk1/ly/fli

[2021-01-23 08:25] dibgerge opened #13646 "[rllib] rewards column is being discarded when using PG"
### What is the problem?

Ray version: nightly build
DL package: Torch

The [documentation](https://docs.ray.io/en/master/rllib-sample-collection.html#how-does-rllib-determine-which-views-are-required) mentions that **rewards** column is never deleted, however when using `PGTorchPolicy` and `PGTorchTrainer`, only the `advantages` column is available, and there is no `reward`.

This prohibits using

[2021-01-23 08:32] #13622 closed

[2021-01-23 09:13] rkooo567 commented on #12685
Never seen this for a while

[2021-01-23 09:13] #12685 closed

[2021-01-23 09:13] #12975 closed

[2021-01-23 09:54] siess223 opened #13650 "what happen when I connect to ray cluster kubernetes on premise on my use Load Balance show this error redis_context.cc:336: Could not allocate Redis context, will retry in 100 milliseconds."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-01-23 11:21] duburcqa opened #13651 "How to test locally a trained policy by calling model directly ?"
I'm trying to test locally a custom policy trained using PPO, and having as view_requirements:
[code]

For now, I'm doing this:

[code]

It is running without throwing an exception, but the behaviour is strange, and the reward in very low compared to the mean reward during training. Does someone have an idea of what I'm doing wrong ? I'm trying to avoid relying on black-box methods such as `comput

[2021-01-23 11:49] daanklijn commented on #10481
@stephanie-wang  is there currently a workaround for this? Or is there a Ray version where the recreation of the child actors is working?

[2021-01-23 14:17] aaronabebe opened #13652 "[serve/windows] Exception when using ray-serve example on WSL2"
### What is the problem?
Hello! I'm currently trying to get ray-serve up and running on my windows machine using WSL2 with Ubuntu20.04. When starting the backend I'm getting the following stacktrace:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
python==3.8.5
ray==1.1.0
WSL2 with Ubuntu20.04

EDIT:
pydantic==1.6.1

### Reproduction (REQUIRED)

I'm cu

[2021-01-23 16:10] #6399 closed

[2021-01-23 17:29] nebraswarsi commented on #10677
I have the exact same issue - not sure how to solve it still. Any advice would be appreciated!

Happy to share code snippets and etc. The error is the same: even though I’m setting fractional GPU resources, and only importing tf within my objective function, I still get a crash stating that all CUDA capable devices are unavailable ...

[2021-01-23 18:00] duburcqa commented on #13651
By the way, how I am supposed to initialize `input_dict` since for computing the action I need the observations, actions, and reward of the previous steps, while there is any... I cannot think to anything else than zero...

[2021-01-23 18:15] cfusting commented on #8469
+1

[2021-01-23 19:21] #10465 closed

[2021-01-23 19:21] #10704 closed

[2021-01-23 20:28] duburcqa commented on #13651
My bad, I found the issue, I was just doing the roll wrong. It should be instead: `np.roll(v, shift=-1, axis=1)`. Additionally, I did
[code]
instead of using `obs_filter` directly since otherwise the testing data would be accumulated to update the filter, which is not what I want.

[2021-01-23 20:28] #13651 closed

[2021-01-23 23:50] rkooo567 commented on #13644
cc @kfstorm

Is there any other thing he should do setup Java workers?

[2021-01-23 23:55] rkooo567 commented on #13607
cc @wuisawesome

[2021-01-24 00:43] rkooo567 commented on #12551
This means core workers are going to publish instead right? Is this the only expected issue?

[2021-01-24 00:44] rkooo567 commented on #12551
Also, I tried running this to see how many tests it passes https://github.com/ray-project/ray/pull/13653. I assume this fix will only improve the performance, so we are expected to pass all tests if we don't have any issue. Am I correct?

[2021-01-24 01:02] rkooo567 opened #13654 "[Ownership-based Object Directory] Not resilient to owner failures."
### What is the problem?

Imagine there are 10 raylets (R1...R10) that are subscribing to owner A existing on a node R1. If A dies, this will happen.

- In R1, all the objects owned by A will be evicted.
- Object directory will detect it and update this location change.
- Since the owner is already dead, there's no way for other raylets to know if the object was evicted.

We need a robust protocol

[2021-01-24 01:23] DmitriGekhtman opened #13655 "Ray dashboard doesn't work with K8s operator"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-01-24 01:28] DmitriGekhtman opened #13656 "[autoscaler][kubernetes] Get Ray client to work with Ray on K8s"
Robinhood request

[2021-01-24 01:46] DmitriGekhtman opened #13657 "[autoscaler][kubernetes] Get rid of subprocesses in Kubernetes operator"
The K8s operator manages multiple Ray clusters. Currently it does so by running a monitor in a subprocess for each cluster.
For the operator to work well with many small Ray clusters, it would be better to have a for loop which iterates over the clusters and executes the relevant autoscaling/monitoring logic. There's less room for disaster with a for loop than with a bunch of subprocesses.
It's no

[2021-01-24 01:51] DmitriGekhtman opened #13658 "[autoscaler][kubernetes][docs] Simplify Kubernetes documentation"
There are three pages of docs. It's pretty confusing.

[2021-01-24 02:02] DmitriGekhtman commented on #13635
Sorry about this. The offending PR is this one: https://github.com/ray-project/ray/pull/13392
For now, `setup-dev.py` still works from outside of  ray: `python ray/python/ray/setup-dev.py`.

[2021-01-24 02:09] DmitriGekhtman opened #13659 "[autoscaler][kubernetes] Fault tolerance / HA for Kubernetes operator."
This issue to be made less nebulous in the near future.
As part of this, head processes should be run in separate pods.

[2021-01-24 02:12] kevin1zc opened #13660 "[rllib] 3 unexpected variables under tensorflow eager mode"
### What is the problem?
I tried to set my custom tensorflow model to be executed in eager mode by setting `config["framework"]: "tfe"`. However, under eager mode, there will always be 3 tensorflow variables that are not registered, no matter what the model structure is. These 3 variables should not appear as well since they are not in the model.
The error message is:
`ValueError: It looks like va

[2021-01-24 02:20] DmitriGekhtman opened #13661 "[autoscaler][kubernetes] Better error handling and messaging during `ray up` with K8s"
If Kubernetes has issues setting up the pod for the Ray head node, (e.g. an error pulling the image), the cluster launcher just keeps looping an uninformative "container not found" message.
Add the relevant error handling and display the head pod's status while launching the cluster.

[2021-01-24 02:24] DmitriGekhtman opened #13662 "[autoscaler][kubernetes] Give a useful error message during rsync when target file or folder not found"
Currently spews nonsense.

[2021-01-24 02:28] DmitriGekhtman commented on #12924
This isn't specific enough and has been confusing for planning work on the serverless autoscaling milestone. Closing.

[2021-01-24 02:28] #12924 closed

[2021-01-24 04:25] kfstorm commented on #13644
@liuyongvs Could you help check if `java` is in `PATH` when you run `ray start`.

[2021-01-24 04:41] clarkzinzow commented on #12551
@rkooo567 Yep the plan is to convert the current short-polling subscription to a long-polling subscription, where the owner will wait to respond until a location change has occured.

[2021-01-24 07:06] iycheng commented on #12635
@ericl, sorry for not making progress for a while. I recently picked it again.

I'm wondering whether this will make RayDP's case and other cases work: `ref = ray.get(a.get.remote(), clone=True)`
Underline this `get`, we'll make the `ref` be the thing created by this task, so its life cycle is independent of the actor.

Since the value stored is immutable, so whenever when we need an updated value

[2021-01-24 07:11] #13446 closed

[2021-01-24 07:12] wangshuo1994 commented on #4882
@Deepak3994 Hi, have you solved the problem now? I am facing the same problem when I want to reproduce my RL training results through the checkpoint... Thank you.

[2021-01-24 07:37] #13224 closed

[2021-01-24 07:45] wangshuo1994 opened #13665 "ValueError: Registry value for rllib_model/keras_model doesn't exist."
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

Hi, I define a custom model and register the model using 'ModelCatalog.register_custom_model("keras_model", MyKerasModel)'. But when I am trying to reproduce the training result using checkpoint, I got the problem ValueError: Registry value for rllib_model/keras_model

[2021-01-24 09:00] #9932 closed

[2021-01-24 09:00] #9816 closed

[2021-01-24 10:29] wangshuo1994 commented on #13665
I found the reason. It is because the ModelCatalog.register_custom_model is only called in the training process, it is not called when reproducing the result...Sorry for the stupid question

[2021-01-24 10:29] #13665 closed

[2021-01-24 13:05] jacobhjkim opened #13667 "[autoscaler][kubernetes] Example Cluster Config Returns KeyError"
### What is the problem?

Python version: `3.8`
Kubernetes version: `Client Version: v1.18.2 Server Version: v1.18.9-eks-d1db3c`

`ray-operator-pod` returns an error when deploying an example ray cluster.
[code]

### Reproduction (REQUIRED)
[code]
This causes KeyError in the Ray operator.

If you add
[code]
these four specs to `example_cluster.yaml`, then you can successfully deploy the example ra

[2021-01-24 14:36] AmeerHajAli opened #13668 "confusion in the cluster yaml."
It is becoming less and less clear what goes to head_node/worker_nodes fields in the yaml and what goes to the node config. The bootstrap code seems to use the worker_nodes/head_node while the remaining code is using node_config. We should cleanup this code to be per node type. The goal here in short is to deprecate config["head_node"] and config["worker_nodes"].

- [ ] I have verified my script r

[2021-01-24 17:06] paravatha commented on #13324
@ericl I will try again and provide the exact error. But, I am currently seeing this issue for k8s operator https://github.com/ray-project/ray/pull/13588#issuecomment-766390052

[2021-01-24 18:14] DmitriGekhtman opened #13669 "[autoscaler][kubernetes][operator] Operator error handling"
If the operator throws a Python exception processing a RayCluster CR it should catch the exception, update that CR's status to FAILED, and continue on its merry way.

[2021-01-24 18:16] DmitriGekhtman commented on #13669
See https://github.com/ray-project/ray/pull/13663#issuecomment-766346521

[2021-01-24 20:21] PeterPirog commented on #12128
@PidgeyBE @umbernhard  Does someone have ray-2.0.0.dev whl file for python 3.7 or other version for python 3.7?

I try to build  something myself but when I use tutorial [https://docs.ray.io/en/master/development.html](https://docs.ray.io/en/master/development.html)   command  "python python/ray/setup-dev.py" shows me that if I want to compile python 3.7 ray I need  python 3.7 ray.

[2021-01-24 21:36] BladeofDarken opened #13670 "[core] Error on ray.init()"
System information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro v 18363
Ray installed from (source or binary):Latest wheel
Ray version:1.1.0
Python version: 3.8
Describe the problem
When I run ray.init(), will report an error.

"2021-01-24 13:30:32,206	INFO services.py:1171 -- View the Ray dashboard at http://127.0.0.1:8265"

Simple Program will not run because of this e

[2021-01-24 21:52] AmeerHajAli commented on #13668
Duplicate in #12960.

[2021-01-24 21:52] #13668 closed

[2021-01-24 21:58] wuisawesome commented on #13431
@ericl Does this need to become a release blocker?

[2021-01-24 22:01] ericl commented on #13431
Yeah, this seems like a major regression.

[2021-01-24 22:10] AmeerHajAli commented on #13457
Should be closed after #13431.

[2021-01-24 22:10] #13457 closed

[2021-01-24 22:30] AmeerHajAli opened #13672 "[docs] Improve Autoscaler Documentation"
Proposal:
https://docs.google.com/document/d/1RPq4cB-sh0dd9iVFIpfX_JSeK-7-n9SzofqJ_uJEY-M/edit?usp=sharing

[2021-01-24 22:31] AmeerHajAli opened #13673 "[docs] Autoscaler Blog Post"

[2021-01-24 22:34] ericl commented on #13431
Please don't remove P1 labels, we need to label with both

[2021-01-25 00:31] #12031 closed

[2021-01-25 01:03] liuyongvs commented on #13644
hi @kfstorm , i  try it and it also could not work. Could i add your Wechat(微信)？

[2021-01-25 05:58] kfstorm commented on #13644
@liuyongvs Sure. Just search "kfstorm".

[2021-01-25 06:14] DmitriGekhtman opened #13674 "[autoscaler][kubernetes][operator] Validation for embedded K8s objects in CRD"
The RayCluster CRD has an embedded podSpec and might be updated in the near future to also include a Service for external access to the Ray head node.

Unfortunately, K8s does not support references in a CRD's validation schema:
https://github.com/kubernetes/kubernetes/issues/54579

To validate the podSpec in the CRD, we currently literally copy-paste the podSpec schema from a particular version o

[2021-01-25 06:18] DmitriGekhtman opened #13675 "[autoscaler][kubernetes][operator] Add rolling upgrade functionality to K8s operator"
The K8s operator should include rolling update logic, similar to the functionality of the K8s Deployment controller. (See https://kubernetes.io/docs/tutorials/kubernetes-basics/update/update-intro/.)

[2021-01-25 06:19] zhongchun commented on #13532
The problem i met is the core worker process crash when metrics register, but it's different from this. I'm troubleshooting that problem.

[2021-01-25 06:46] liuyongvs commented on #13644
thanks so much . i added you. we are doing flink on ray.

[2021-01-25 07:40] clay4444 commented on #13625
cc @jovany-wang

[2021-01-25 07:44] jack2nb opened #13676 "win10 and linux Cluster"
----------------------machine （a）
OS:     Microsoft Windows  10.0.19042
user:   jack
python: 3.7.7
ray:  1.1.0
cmd: ray start --head --port=6379 --redis-shard-ports=6380 --node-manager-port=12345 --object-manager-port=12346   --dashboard-host=0.0.0.0 --num-cpus=2
--------------------------------------
C:\Users\jack>ray start --head --port=6379 --redis-shard-ports=6380 --node-manager-port=12345 --o

[2021-01-25 07:46] jack2nb commented on #13676
PermissionError: [Errno 13] Permission denied: 'C:\Users\jack\AppData\Local\Temp\ray'

why？ why？

[2021-01-25 07:49] chaokunyang commented on #13644
@liuyongvs You can try ray==1.1.0

[2021-01-25 07:52] chaokunyang commented on #13644
It's a bug which got fixed in #9896

[2021-01-25 08:14] raphaelavalos commented on #13075
Hello @sven1977,

I need to get up to speed with the newer version of ray as many things changed since the beginning of December (congrats on all the amazing work btw) before I can give you a reproduction script because my codes don't run on the newer version. So I will try to explain the bug again:
The padding happens in the same way whether `time_major` is true or not and it is done by adding el

[2021-01-25 08:15] raulchen commented on #13578
@ericl @stephanie-wang @rkooo567 do you have other comments? should we proceed with this approach?

[2021-01-25 09:08] krfricke commented on #13670
Hi @BladeofDarken, as the log message suggests, this is not an error but an information log. It outputs a link to the Ray dashboard.

If there's another error or something does not work, please give us access to your code and the full output you get.

[2021-01-25 09:14] djollet opened #13678 "[tune] ValueError: The returned checkpoint path must be within the given checkpoint dir"
### What is the problem?

When running a population based training (PBT) with ray tune, i get the following error massage:

[code]

I think it has something to do with the pertubation and checkpointing, but I can’t find anything about it.

### Information about my setup:
Windows 10
pycharm 2020.3
python 3.8
ray 1.0.1.post1
pytorch 1.7

### Reproduction (REQUIRED)
https://gist.github.com/djollet/8a

[2021-01-25 09:31] krfricke commented on #13678
cc @amogkam

[2021-01-25 10:52] liuyongvs commented on #13644
hi @chaokunyang ,  yeap. it is bug because of ray 1.0.1 linux version lack of the ray-dist jar

[2021-01-25 10:53] #13644 closed

[2021-01-25 11:11] fyrestone commented on #11940
Thank you for contributing a solution. The proxy issue has been fixed in master, but it has not been released yet. Can you try these lines in `dashboard/agent.py` to create the `aiogrpc_raylet_channel`?

[code]

[2021-01-25 11:47] krfricke opened #13680 "[core] Fractional GPUs do not seem to work with tensorflow"
### What is the problem?

Ray: 1.1.0 (but reproduced on latest wheels)
Tensorflow: 2.3.2
Cuda: 10.1
Cluster: Single node p2.xlarge instance (NVIDIA K80 GPU), docker image `anyscale/ray:latest-gpu`

When using fractional GPUs with tensorflow, workers run into OOM errors on the GPU. Eventually (some of the) tasks return, but not without throwing hundreds/thousands of error messages.

Program executi

[2021-01-25 11:49] krfricke commented on #13680
I've just seen this error also with `num_gpus=0.24` (throwing errors forever), so it might not be a rounding error after all.

[2021-01-25 13:01] sven1977 commented on #13551
Thanks for filing this. This is indeed broken. We should also add a simple "compilation" test case, so something like this cannot happen anymore in the future.
This issue has been fixed in master now.

[2021-01-25 13:08] Matrix-World opened #13682 "Train an MNIST classifier with Torch and Ray SGD failed."
I followed the MNIST Tutorial to train an MNIST classifier with Pytorch Lightning's LightningModule and Ray SGD (https://docs.ray.io/en/master/raysgd/raysgd_ptl.html, we made a few changes to the model). No errors were reported . But currently we still mainly use Torch, so we want to Train an MNIST classifier with Pytorch(not pytorch_lightning) and Ray SGD, but the error keeps happening:too many v

[2021-01-25 14:00] ThyrixYang commented on #13547
It seems that if the existing experiment logs have some error (in my case, some experiments raise the "CUDA out of memory error"), the resume may fail.

[2021-01-25 14:00] #13547 closed

[2021-01-25 15:17] kuangsangudu commented on #9114
Hello, I run the code `ray.init()`, then I got a error. Could you please tell me how to solve this problem?
Here is the error.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\conda\lib\site-packages\ray\worker.py", line 722, in init
    ray_params=ray_params)
  File "D:\conda\lib\site-packages\ray\node.py", line 216, in __init__
    self.start_head_processes()

[2021-01-25 15:29] kuangsangudu commented on #13670
[win error]Hello,  I run the code `ray.init()`, it will report an error.

Here is the error.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\conda\lib\site-packages\ray\worker.py", line 722, in init
    ray_params=ray_params)
  File "D:\conda\lib\site-packages\ray\node.py", line 216, in __init__
    self.start_head_processes()
  File "D:\conda\lib\site-packages\

[2021-01-25 16:05] Hoeze commented on #13620
Thanks for the very concise explanation @clarkzinzow!
Yes, I can confirm that your solution works :)
(Note that it should be `np.random.randint(0, 100, 10**9)` though, sorry for the untested code ^^)

[2021-01-25 16:41] #13667 closed

[2021-01-25 17:39] amogkam commented on #13682
Hi @Matrix-World, the method signature you have for `train_epoch` is incorrect. It should be `def train_epoch(self, iterator, info)`, and you would have to iterate through the `iterator`: `for batch_idx, batch in enumerate(iterator)`, and then call `train_batch` in this for loop.

Also just an FYI, if you want the same exact behavior with the `LightningOperator` and you own `CustomOperator`, the t

[2021-01-25 17:50] amogkam commented on #13199
@fyrestone reverting #12948 is breaking `test_basic` and `test_basic_client_mode` on Windows CI. We have to re-revert it back to fix our CI.

Can you look into this and see if there's another way to fix this issue? Or is there something else that we need to do in addition to reverting #12498 to avoid the CI failures? Thanks.

[2021-01-25 17:52] wuisawesome commented on #13589
@DmitriGekhtman can you look into this? I wasn't able to naively repro without k8s, so it looks like this could be some funky k8s issue (as oppose to a core issue)

[2021-01-25 18:02] wuisawesome commented on #13650
Hey, could you provide some context and a reproduction for this? (Ray version, autoscaler config, k8s operatrs/crds, etc)?

[2021-01-25 18:05] wuisawesome commented on #13630
Btw, if anyone is looking for a short term fix for this, the mapping between NodeID and ip address can be found in `ray.nodes()` (between `NodeID` and `NodeManagerAddress`)

[2021-01-25 18:12] wuisawesome commented on #13605
Thanks for the heads up. We should definitely update the docs, but using `ray.nodes()` is a much better way of getting the ip address of all the nodes in the cluster.

[2021-01-25 18:16] wuisawesome commented on #13599
@gramhagen do you have any insight into this issue?

[2021-01-25 18:19] wuisawesome commented on #13593
Hey, Ray shouldn't interfere with the native execution of other libraries which rely on SIMD instructions (so you should get the full power of SIMD from pytorch/tensorflow/arrow already). Could your provide an example where you thing Ray isn't doing/performing the way you expect it to?

[2021-01-25 18:26] wuisawesome opened #13686 "Publish `api/cluster_status` in bytes"
### Describe your feature request

We should explicitely publish our resource usage json in units of bytes instead of Ray's logical chunk size. In the short term, we can't rely on Ray to use bytes internally because #10301 is non trivial.

cc @AmeerHajAli @alanwguo @MattEWeber

[2021-01-25 18:37] FarzanT commented on #12389
@richardliaw I have a similar problem, but I can't find the other issue to comment on. I want to resume from a HyperOpt experiment with the ASHA Scheduler, and I initially set the `time_budget_s` argument to 24 hours (84000 seconds) which is the maximum allowed time on our cluster. Of course, I would like to submit a second job to the cluster to resume these trials, but Tune assumes that the exper

[2021-01-25 18:43] architkulkarni opened #13687 "[Core] Add more user-friendly error message upon `async def` remote task"
### Describe your feature request
The script
[code]

outputs the following error:

[code]

The error message could say not to use `async def` for remote tasks, and maybe it could also suggest wrapping the task in an async actor.

[2021-01-25 18:45] amogkam commented on #13678
Thanks for posting this issue. It looks like a problem with how paths are stored specifically with Windows. The `parent_dir` has a backslash right before `ray_results`, but the checkpoint path has a forward slash. Internally, we check to make sure whether the checkpoint path string starts with `parent_dir`, but because the slashes are different, this is raising an error.

cc @richardliaw I think y

[2021-01-25 19:22] simon-mo commented on #13680
It's because tensorflow allocate memory for the whole GPU regardless. `max_calls=1` or setting tf memory growth should fix this.

[2021-01-25 19:22] simon-mo commented on #13680
(Ray doesn't actually constrain the GPU usage, it's just logical research usage)

[2021-01-25 19:24] simon-mo commented on #13652
Hey! Thanks for trying out Serve. What's your `pydantic` version? `pip freeze | grep pydantic`. Ray Serve only works with `pydantic<1.7`.

[2021-01-25 19:24] stephanie-wang commented on #12663
Reopening because this is not quite stable yet. See #13514 for more information.

[2021-01-25 19:26] stephanie-wang opened #13689 "[core] Lineage reconstruction fails due to deadlock in object pulling"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 1.2dev

Object reconstruction can fail to a deadlock introduced in #13514. The problem is that failed objects may not have a size, and so tasks that depend on a failed object may block later tasks that need to execute in order to recreate the object.

### Reproduction (REQUIRED)

Skipped

[2021-01-25 19:27] #13484 closed

[2021-01-25 19:28] stephanie-wang commented on #10481
@daanklijn sorry no workaround yet, but I think we can get a quick fix into the nightly wheels in the next few weeks.

Just curious, what is your use case?

[2021-01-25 19:34] srikanthgadadasu opened #13690 "Ray doesnt assign plasma to one node and one of the worker is dead on another node"
<img width="1259" alt="Screen Shot 2021-01-22 at 3 33 43 PM" src="https://user-images.githubusercontent.com/66190462/105756478-ad869980-5f1a-11eb-9b3c-cd16f56323f5.png">

### What is the problem?

I started Ray on 3 nodes and observed below issues
1:  It doesnt assign plasma storage space to one of the node
2:  One of the worker is in IDLE state and the work assigned for that worker didnt return a

[2021-01-25 19:59] stephanie-wang commented on #13654
The existing ownership protocol should already handle this case because the raylet will eventually notice that the owner is dead and mark the object as failed ([code here](https://github.com/ray-project/ray/blob/master/src/ray/raylet/node_manager.cc#L2086)).

[2021-01-25 20:11] YarShev commented on #13630
@wuisawesome , thanks a lot for the excellent note! By the way, why is `ray.nodes()` for debugging only (by following docstring for the method)?

[2021-01-25 20:28] richardliaw commented on #13585
Should be addressed with the latest transformers!

[2021-01-25 20:28] #13585 closed

[2021-01-25 20:38] gramhagen commented on #13599
@GiovanniGatti what version of azure sdk (specifically azure-mgmt-compute) are you using?

[2021-01-25 20:44] gramhagen commented on #13599
sorry, seeing that now in you requirements.txt: azure-mgmt-compute==18.0.0, let me see if the sdk changed in some way that impacts this

[2021-01-25 21:25] gramhagen commented on #13599
hmm, yeah looks like the sdk changed at v 17.0.0 so some functions like `update` are prefixed to `begin_update` =/
we should probably adjust the docs to indicate there's a version limit.
@GiovanniGatti can you try running `pip install azure-mgmt-compute==14.0.0` and re-running `ray up` ?

[2021-01-25 21:34] mehrdadn commented on #9114
@kuangsangudu I think you need to put `C:\Windows\System32\WBEM` in your `PATH`.

[2021-01-25 21:51] roireshef commented on #11940
Hi @rkooo567, what is it that you want me to test? Are you refering to this?
[code]

[2021-01-25 22:48] rkooo567 commented on #11940
Oh I just want to make sure your issue has been fixed!

[2021-01-26 00:15] clarkzinzow opened #13701 "[Core] Ownership-based Object Directory - add support for object spilling"
Object spilling support needs to be added to the ownership-based object directory.

[2021-01-26 00:46] ericl commented on #12635
Underline this get, we'll make the ref be the thing created by this task, so its life cycle is independent of the actor.

Is this the same thing as `ray.put(ray.get(a.get.remote()))` -- making a copy? It could be another solution though the cost is we need to use twice the memory for a short period of time.

[2021-01-26 00:55] clarkzinzow commented on #13654
@stephanie-wang Sweet! On the object pull path, if the object location subscription RPC fails (e.g. because the owner can't be reached), I'm assuming that it would be fine to propagate that failure as an empty set of object locations and no spill URL/node ID set? It looks like the pull manager would currently do a no-op pull, silently, given that [there's no else clause](https://github.com/ray-pro

[2021-01-26 01:14] rkooo567 commented on #13690
Could you provide us a reproduction script? Also @wuisawesome This might be a scheduling regression.

[2021-01-26 01:21] srikanthgadadasu commented on #13690
its the same script i provided for other issue #13443

[2021-01-26 01:23] rkooo567 commented on #13690
Do you mind trying the 2.0.0dev0 instead?

[2021-01-26 01:23] rkooo567 commented on #13690
Also, are you in the public Ray slack channel? I can follow up there for this issue.

[2021-01-26 01:30] srikanthgadadasu commented on #13690
I tried 2.0.0 dev version and its actually very unstable in terms of keeping multiple nodes.  I ran the same program on same 3 nodes using 2.0 version and after sometime the slave nodes are appearing offline, thats the reason i switched back to 1.2

[2021-01-26 01:31] srikanthgadadasu commented on #13690
yes i am

[2021-01-26 01:32] rkooo567 commented on #13690
What's your handle there?

[2021-01-26 01:36] srikanthgadadasu commented on #13690
Srikanth Gadadasu

[2021-01-26 01:53] srikanthgadadasu opened #13704 "Adding / removing actors from actor pool"
### Describe your feature request

It would be great if we can able to add/remove actors from actor pool dynamically in middle of the program.  Can you add transferring idle actors from one pool to another pool dynamically inside the program

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-01-26 01:58] rkooo567 commented on #13704
Can you also specify the use case?

[2021-01-26 02:05] rkooo567 commented on #13487
cc @oliverhu Do you have some time to take a look at this?

[2021-01-26 02:48] srikanthgadadasu commented on #13704
Use Case:   Consider there are N stages in a program and N actor pools defined with n, ..... 3,2,1, 0 actors assigned for each, as soon as any of the actor is free from pool(it doesnt have any work to do), then it should be removed from that pool and get assigned to next pool(or whichever pool needed them) and so on. And there should not be any idle actors in the program (if any actor is not neede

[2021-01-26 02:55] YuxuanXie commented on #10761
Ah, I see the problem. Thanks for your explanation!

[2021-01-26 03:26] DmitriGekhtman commented on #13635
I don't think this requires a deprecation warning -- the module is quite new.

[2021-01-26 04:28] raulchen commented on #13625
In Java-API for named actors, there is an optional flag "global", which means whether a named actor is internal to a job or available in the whole cluster.
We can do something similar to PGs.

[2021-01-26 05:51] fyrestone commented on #13199
Sorry, I can't reproduce the issue because I don't have a Windows development environment.

[2021-01-26 05:56] fyrestone commented on #13199
@amogkam According to the stack:

1. Some reasons cause the environment variable to fail to pass on the Windows platform.
2. The https://github.com/ray-project/ray/pull/12948 just skips reading the environment, it makes the `UnboundLocalError: local variable 'check_parent_task' referenced before assignment` in this issue.

[2021-01-26 06:26] YarShev opened #13706 "Asynchronous put"
### Describe your feature request

It would be good to have asynchronous `ray.put` in order to get an `ray.ObjectRef` and continue working (sending/receiving/etc.) with it.

[2021-01-26 06:29] ggservice007 commented on #13593
I am developing a project which SIMD version [cuGraph](https://github.com/rapidsai/cugraph).

The first step is to implement the SIMD [cudf](https://github.com/rapidsai/cudf).

I am implmeneting the SIMD DataFrames based on vaex or its ideas.

Vaex uses ApacheArrow data structures and C++ to speed up string operations.

Vaex is a high performance Python library for lazy Out-of-Core DataFrames (sim

[2021-01-26 06:41] wuisawesome commented on #13593
I see, you can run any code that you can put in a python module (including any compiled cython) and Ray will just faithfully execute it.

[2021-01-26 07:09] smn57 commented on #13585
Working smoothly, thank's for the attention!

[2021-01-26 08:37] raulchen commented on #13706
This might introduce issues. E.g., if the object fails to be put in plasma and the ObjectRef is already passed to other workers. The worker calling 'ray.get' will be hanging forever.

[2021-01-26 08:59] richardliaw commented on #12389
@FarzanT could you try this with the latest master wheels? https://docs.ray.io/en/master/installation.html

This was fixed rather recently.

[2021-01-26 08:59] clay4444 commented on #13627
Close.

[2021-01-26 08:59] #13627 closed

[2021-01-26 09:14] ashione commented on #13532
How long did you find there is no metric data exporting? Metric exporter produces data in 10 seconds interval by default.

[2021-01-26 09:17] liuyongvs opened #13709 "raylet has info but no nodes have the necessary resources, but my node has enough resources"
### What is the problem?
when i develop flink on ray session mode, i found ray can not make TaskManager run, but the resource is enough(2647 * 5m)

/mnt/disk1/ly/ray/lib/python3.7/site-packages/ray/core/src/ray/raylet/raylet --raylet_socket_name=/tmp/ray/session_2021-01-26_14-45-33_035895_17964/sockets/raylet.1 --store_socket_name=/tmp/ray/session_2021-01-26_14-45-33_035895_17964/sockets/plasma_st

[2021-01-26 09:40] rkooo567 commented on #13709
Cc @ffbin do you know the api to see available resources?

[2021-01-26 11:23] liuyongvs commented on #13709
@rkooo567 is it also a bug at ray java resource api .
it is ok when it is  changed to this(disable the resources)

            Configuration flinkConfigForTaskManager = setTaskManagerParams(flinkConfig, taskExecutorProcessSpec);
            ActorHandle<CustomTaskManagerRunner> actorWorker = Ray.actor(CustomTaskManagerRunner::new, flinkConfigForTaskManager)
//                .setJvmOptions(opts)
//

[2021-01-26 11:42] jovany-wang commented on #13466
@ashione @kfstorm @rkooo567
Do you guys agree that it's unnecessary to support stdout/stderr for gcs and raylet?

[2021-01-26 14:01] GiovanniGatti commented on #13599
Hello, starting from a new fresh virtualenv with `$ pip install ray azure-cli azure-mgmt-compute==14.0.0` does solve this issue.

However it breaks again slightly further. Shall I create a new ticket?

[code]

[2021-01-26 14:11] FarzanT commented on #12389
@richardliaw So sorry but since I'm using a PowerPC-based cluster I have to wait for IT to make wheels. Glad to hear it was fixed!
Thank you

[2021-01-26 14:11] gramhagen commented on #13599
yes, this seems like a separate issue now where docker is not starting. i will see if I can reproduce, but it would be better to track in a new issue

[2021-01-26 14:18] GiovanniGatti opened #13711 "Got permission denied while trying to connect to the Docker daemon when deploying a ray-cluster in Azure"
### What is the problem?

Splitting from [issue 13599](https://github.com/ray-project/ray/issues/13599), I'm unable to install a ray cluster in Azure.

[code]

### Reproduction (REQUIRED)

OS: ubuntu 18.02
Python: 3.7.1
VirtualEnv: [requirements.txt](https://github.com/ray-project/ray/files/5873812/requirements.txt)

example-full.yaml is the same provided by ray team (except by the cluster-name/re

[2021-01-26 14:19] GiovanniGatti commented on #13599
I've created a [new issue](https://github.com/ray-project/ray/issues/13711) to continue investigations. I believe you can close this one. Thanks.

[2021-01-26 15:01] aaronabebe commented on #13652
Hi! Thanks for your reply.
My current version, acccording to the command you posted is: `pydantic==1.6.1`.

[2021-01-26 15:50] fschlimb commented on #7893
@hkvision I guess you should not try to launch new processes (sionce actors are already processes) and instead create an MPI communicator spanning your actors. What would be the point of starting independent processes?
An initialization routine (not __init__!) of a given ray actor can use MPI_Open_port/MPI_comm_accept/MPI_comm_connect to establish a new intercommunicator. Merging all such pairwise

[2021-01-26 17:02] rdonkin commented on #12220
To amplify on @ijrsvt comment, I found that ssh into head node then `docker kill ray_container; docker rm ray_container` is a workaround (presumably needs to be done on all worker nodes too).

Doing a ray down and ray up with node re-use would be easier and fairly quick - but there's another bug where re-using stopped nodes causes docker to fail, so that's not an option.

[2021-01-26 17:13] no-ponomarev commented on #13706
@raulchen, obviously there will be exception issues, but can we validate an `ObjectRef` somehow before the `ray.get` call?

[2021-01-26 17:46] rkooo567 commented on #13704
cc @micahtyong Are you interested in taking a look at this? This will be a pretty fun task

[2021-01-26 18:06] frankier commented on #12788
That above link is a link to this issue!

[2021-01-26 18:18] simon-mo opened #13714 "Re-enable Skipped Java Tests"
See https://github.com/ray-project/ray/pull/13702. The following tests were skipped due to flakiness
- ActorRestartTest
- ExitActorTest
- MultiDriverTest
- TestRemovePlacementGroup

[2021-01-26 18:29] wuisawesome commented on #13599
Thanks for the investigation everyone! It sounds like the conclusion is that `azure-mgmt-compute` broke backwards compatibility and we need to pin to `14.0.0` for now and eventually upgrade.

[2021-01-26 18:29] #13635 closed

[2021-01-26 18:31] rkooo567 commented on #13709
Hmm it is odd. Unfortunately, I am not that famliar with Java APIs, but @kfstorm and @ffbin can help!

[2021-01-26 18:41] simon-mo commented on #13199
@fyrestone You can try to reproduce it on Github Action environment. Can you try build on top of #13700 to fix the error?

[2021-01-26 18:41] ansarisam opened #13716 "OSError: Apache/mod_wsgi log object is not associated with a file descriptor."
Ray and Ray Serve

### What is the problem?
I have a simple Ray program that connects with Ray cluster running Ray Serve and executes a remote function.
When I run this program from the command line, it works like a charm. However, when this remote function is called from a Django based web app hosted on Apache2 server using mod_wsgi, I get the following error:

“OSError: Apache/mod_wsgi log objec

[2021-01-26 18:56] #13353 closed

[2021-01-26 20:02] clarkzinzow commented on #13654
For the sake of posterity, once all of the task’s dependencies are ready (including the `UNRECONSTRUCTABLE` error object added by the reconstruction policy), the task will get scheduled and `RemoveTaskDependencies` and `CancelGet` will get invoked, cancelling those outstanding pull requests.

[2021-01-26 20:28] smorad commented on #13568
@mehrdadn thanks for the detailed writeup. I'm attaching minimal source code that appears to replicate this issue (it appears that using `clone` solves the problem). Please take a look at the comments in `main()` for further understanding. Thanks to @erikwijmans for providing the GLAD/EGL device enumeration code.

I'm using docker `nvidia/cudagl:11.0-devel-ubuntu20.04` to test.

[egl-test-case-smo

[2021-01-26 20:37] simon-mo commented on #13652
Can you try `pip install -U pydantic<1.7` to update it to latest version that satisfy the constraint?

[2021-01-26 20:46] vishal00100 commented on #13612
[code]

I ran this code for ~20 hours and I see similar spikes here.

![image](https://user-images.githubusercontent.com/29234773/105902840-2b1ada00-5fed-11eb-8e02-f462ab438433.png)

*P.S: There are few periods where there are no metrics. That was because the prometheus server was not able to access metrics during that time. However, the code above was running the entire time.*

[2021-01-26 21:15] wuisawesome commented on #13586
@DmitriGekhtman once we track the node updater's output, this should become trivial (the set of failed nodes = (set of all nodes) - (set of healthy nodes) )

[2021-01-26 21:49] wuisawesome commented on #13716
hey @ansarisam do you mind fixing up the whitespacing in your reproduction? I think the issue here is that the `ray.remote` annotation should only be used on functions and classes (but not bound methods within a class).

[2021-01-26 22:04] ansarisam commented on #13716
I tried to insert code but for some reason, it is not preserving the formatting. Here is the gist code link to show the formatting.
https://gist.github.com/ansarisam/88290df4a4aeed7ab049e9f8e7c8c1da

I do have @remote annotation with a function of a class. And if that is the reason, it is not working, I will try the remote function without any class. Thanks for this pointer.

[2021-01-26 22:15] #11451 closed

[2021-01-26 22:17] oliverhu commented on #13487
a bit hectic recently, is this more important than the "possible unhandled error" one?

[2021-01-26 22:22] jsuarez5341 commented on #10002
Any news on this @ericl @sven1977 ? Even on a single machine, multi-GPU has become more important with the introduction of 64 core AMD chips

[2021-01-26 22:32] ColdFrenzy commented on #13660
I'm having the same issue. Did you find a solution?

[2021-01-26 22:41] aaronabebe commented on #13652
When I run `pip install -U pydantic<1.7` pip installs `pydantic==1.6.1`. I also tried running it with `pydantic==1.5.1`, which results in the same errors.

[2021-01-26 22:41] rkooo567 commented on #13487
I don't think so (probably similar). If you are busy, it is totally fine! I can take a look at it later.

[2021-01-26 22:42] oliverhu commented on #13487
❤️  thanks!

[2021-01-26 22:53] micahtyong commented on #13704
Sure, I can take a look

[2021-01-26 23:04] raoul-khour-ts opened #13721 "[RLlib] changing dtype of input_dict['obs'] when using _use_trajectory_view_api"
When using the trajectory view api, the type of input_dict['obs']  and input_dict['obs_flat'] is normally tf.float32; however, when creating the dynamic_tf_policy in initialize_loss_from_dummy_batch it seems that some how the dummy batch when calculating the last_r = policy._values(**input_dict) input_dict['obs'] changes type.

ray.__version__ == ray2.0.0.dev

This was causing issues with an exist

[2021-01-26 23:06] raoul-khour-ts commented on #13721
This was kind of annoying our current solution is to explicitly cast the input_dict["obs"] to a float32 during forward; however, this seems like a bug.

[2021-01-26 23:08] aaronabebe commented on #13652
I misread the error message. Installing via `pip install -U pydantic<1.7` indeed did the trick for me. Thanks for the help!

[2021-01-26 23:08] #13652 closed

[2021-01-26 23:24] ansarisam commented on #13716
Hi @wuisawesome,
I modified my code to keep the @ray.remote function outside any class and experienced the same error.
Thank you.

[2021-01-26 23:46] Data-drone commented on #13311
Okay I just tried https://gist.github.com/Data-drone/d5171f3dbceade3917ef34bb5860ee0b again with the `scheduler` commented out from the `tune.run`. GPU is hovering about the 40%-50% mark so similar to when `asha` was on. Could it be that the `TuneReportCallback` or the  `CLIReporter` is taking up cycles and leaving GPU waiting?

[2021-01-26 23:54] smorad commented on #13568
I've figured out a workaround. My mistake was calling `ray.get_gpu_ids()` before the initialization of my environment. This creates a CUDA context and causes future EGL calls to fail. By querying `CUDA_VISIBLE_DEVICES` instead, we can ensure CUDA initialization happens after EGL initialization.

Closing as changing the worker/process architecture of ray is likely a herculean task.

[2021-01-26 23:54] #13568 closed

[2021-01-26 23:58] mehrdadn commented on #13568
@smorad Thanks for the example! So I'm looking at it and I'm confused about 2 things:

- Are you saying you would replace `fork()` with `clone(..., ..., CLONE_VM, ...)`? Because that would make the child run in the same memory space as the parent *immediately*, which means effectively get 2 threads rather than 2 processes. You can't launch processes this way. And you also need to make sure `SIGCHL

[2021-01-27 00:10] smorad commented on #13568
As you can tell, it has been a long time since my last operating systems course.

What python `multiprocessing` does is give you an option of methods when creating processes: `[fork, forkserver, spawn]`. I think what might make most sense is to give a second process creation method to the users that they can switch to if `fork` doesn't work for them. I didn't try `vfork` because it stalls the pare

[2021-01-27 00:28] mehrdadn commented on #13568
@smorad Oh, interesting. I think that means the user can just run `multiprocessing.set_start_method('forkserver')` in the start of the process? Does that work if you try it? How about `spawn`? (Note that it [might not](https://docs.python.org/3/library/multiprocessing.html#the-spawn-and-forkserver-start-methods).)

There _is_ a contextual version of `multiprocessing` (`get_context()`) Ray could ac

[2021-01-27 02:12] stephanie-wang opened #13725 "[core][new scheduler] New scheduler starts too many workers"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 2.0dev

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

I saw this issue when testin

[2021-01-27 02:13] stephanie-wang commented on #13725
@wuisawesome, have you seen anything like this before? It wasn't clear what was causing this.

[2021-01-27 02:34] wuisawesome commented on #13725
Hmm this almost feels like the anti #12052. Can you try running with `RAY_ENABLE_WORKER_PRESTART=0`? In theory, that fix should've only been necessary for the old scheduler.

[2021-01-27 02:47] wuisawesome commented on #13725
@ericl and @rkooo567  have run into this issue too now, so we should probably fix it before the release.

[2021-01-27 02:55] rkooo567 commented on #13612
Hmm interesting. We will take a look at what might be the cause soon!

[2021-01-27 03:01] rkooo567 commented on #13725
Is it possible to reproduce?

[2021-01-27 03:39] #10770 closed

[2021-01-27 03:52] rkooo567 commented on #13612
Hey @vishal00100 Thanks again for trying all. I'd like to ask you one last thing. Is it possible to see if this happens in other versions? What versions are you using?

[2021-01-27 03:55] rkooo567 opened #13728 "[Object Spilling] Causes weird issues when number of IO workers are >= 2."
### What is the problem?

Works well when there's only one IO worker. We probably don't clean up metadata properly.

Until we fix this, we can only use 1 IO worker.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data

[2021-01-27 05:57] kfstorm commented on #13709
@liuyongvs Please use "memory" rather than "MEM" to specify memory resource.

[2021-01-27 07:12] wuisawesome commented on #13725
Seems like we don't have a minimal reproduction, but if we can reproduce with dask on ray and object spilling, this is likely quite prevalent.

[2021-01-27 07:13] rkooo567 commented on #13725
Oh gotcha. I misread your comment.

[2021-01-27 07:26] iycheng commented on #12635
I double checked your sample code and I realized that I misunderstood it. It's about return `ObjectRef` directly in remote.

[code]

So here, if we give `ObjectRef` an API, maybe called `shared`, and the return `ref` is a local object id and inside GCS, we have a link from `ref -> loc`.

And here we need to update `raylet` to make it able make an object shared by multiple tasks. I haven't checked

[2021-01-27 07:34] kevin1zc commented on #13660
@ColdFrenzy No, unfortunately. I'm now turning to PyTorch instead.

[2021-01-27 07:37] iuming commented on #13676
I also want to do the same attempt. Is this resolved?

[2021-01-27 08:48] jack2nb commented on #13676
no

[2021-01-27 09:33] ColdFrenzy commented on #13660
@kevin1zc I've found a workaround. I'm working in a multi-agent environment with a custom model . Following some examples, i've defined my  trainer_config_dict as:
`config = {
        "env": myenv,
        "multiagent": {
            "policies_to_train": ["p1_policy","p2_policy"],
            "policies": {
                "p1_policy": (PGTFPolicy,obs_space,act_space, {
                    "model"

[2021-01-27 09:34] liuyongvs commented on #13709
@kfstorm @rkooo567 , kfstorm is right, the resources like CPU, memory is strict match.(it is  **case sensitve**)

[2021-01-27 10:48] hkvision commented on #7893
Hi @fschlimb Sorry that my description is not good. Yeah, I mean make ray actors to be mpi processes. I find the `mpi4py` package but there are limited documentations/examples. Do you have some quick sample code that I can refer to and have a try? Thanks so much!

[2021-01-27 11:10] fschlimb commented on #7893
@hkvision Sorry, I have no code. You can look here https://mpi4py.readthedocs.io/en/stable/overview.html#dynamic-process-management.

[2021-01-27 12:03] smorad commented on #13568
I have tried all three methods outside of ray and they work on a normal linux system. Both `forkserver` and `spawn` seem to bypass the issue that occurs using `fork`.

In the parent process, you call `set_start_method`. In child processes you can use `get_context` to see how the child was spawned and presumably use the same start method for children's children.

[2021-01-27 12:06] AlexanderKoch-Koch commented on #12742
On my M1 Mac it works with sudo. However, it still fails to import rllib.
And I am using a Terminal with Rosetta 2.

~$ sudo python3
Python 3.8.5 (v3.8.5:580fbb018f, Jul 20 2020, 12:11:27)
[Clang 6.0 (clang-600.0.57)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

2021-01-27 13:02:59,865	INFO services.py:1171 -- View the Ray dashboard at http://127.0.0.1:8266
{'n

[2021-01-27 12:17] mehrdadn commented on #13568
I think the child process inherits the start method, so there's no need for `get_context`?
[code]
So it sounds like you just need to call `set_start_method` before using Ray?

[2021-01-27 12:19] smorad commented on #13568
Are you saying that `rllib` uses python's `multiprocessing` module and not `process.cc` behind the scenes for creating workers?

[2021-01-27 12:28] mehrdadn commented on #13568
Oh, no, sorry. I thought you'd seen `multiprocessing` in some part of the code and were talking about that. Otherwise I'm very confused what its relevance to the C code was. You're saying Python should tell the C code what its mode is, and then... skip the `fork()` call in C and do what exactly? Call back into Python and have e.g., the fork server do the spawning? Sorry I'm really confused.

[2021-01-27 12:29] mehrdadn commented on #13568
(And to clarify, I'm not familiar with the whole codebase (especially not rllib) so I don't know offhand what mechanism is used everywhere.)

[2021-01-27 13:59] sven1977 opened #13735 "[Docker container] TensorFlow not detecting GPU on p3.8xlarge machine."
The following problem occurs on our docker container: `rayproject/ray-ml:latest-gpu` when deploying it on a GPU machine on an AWS p3.8xlarge instance.

Ray version: https://s3-us-west-2.amazonaws.com/ray-wheels/master/d629292d635b30a350cbd16f4a8943efa8145b00/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl
TF version: tf-nightly-gpu==2.4.0.dev20201001

The GPU is not detected by tf.
[code]

This

[2021-01-27 14:06] vishal00100 commented on #13612
No problem and thanks for quick response. I'm using `1.1.0`. Which version would you like me to try?

[2021-01-27 14:13] smorad commented on #13568
Ah, no, sorry.

I meant to say that the `ray` python interface seems to somewhat emulate python's `multiprocessing` module, but calls out to `process.cc` to actually handle process creation. I was thinking it would make sense if `ray` followed the python approach of allowing different types of process creation `fork, spawn`, etc. to be specified by the user. Perhaps in the JSON ray config, there c

[2021-01-27 14:35] mehrdadn commented on #13568
Oh I see. With respect to `fork` vs. `vfork`/`clone`/etc., I think it's unrelated to what you're seeing in `multiprocessing`. What I understand `spawn` does is that it launches a separate process first, then tries to replicate the Python state into that process via pickling—meaning it would miss any non-Python state. And what `forkserver` does is that it pre-launches a process and then forks from

[2021-01-27 15:42] #13295 closed

[2021-01-27 15:43] #13153 closed

[2021-01-27 15:44] krfricke commented on #13153
We addressed this in #13684 when introducing type hinting to `tune.run()`.

[2021-01-27 16:53] ijrsvt commented on #13735
The issue is that the `ray-ml` container currently uses CUDA 10.1 (**not CUDA 11**). Tensorflow bumped their CUDA version support from [10.1 -> 11 ](https://www.tensorflow.org/install/source#gpu) in the 2.4.0 release.

One workaround until that PR is merged is to run the following in setup commands:
[code]

[2021-01-27 17:05] #11083 closed

[2021-01-27 17:05] richardliaw commented on #11083
No longer used!

[2021-01-27 17:19] #13199 closed

[2021-01-27 17:37] trunghlt commented on #11166
Hi, we are using 1.1.0 and still got this error.

[2021-01-27 18:37] richardliaw commented on #7893
@fschlimb that's really interesting... let me take a closer look!

[2021-01-27 18:42] richardliaw commented on #13612
@vishal00100 can you try the nightly wheels https://docs.ray.io/en/master/installation.html?

[2021-01-27 18:55] richardliaw commented on #13678
ah @amogkam it's actually everywhere we hardcode `~/ray_results`. On windows, this automatically keeps the forward slash -- instead we probably want to do something like: https://stackoverflow.com/a/4028943/14961124

[2021-01-27 18:56] richardliaw commented on #13678
@djollet one workaround for now is to hardcode `tune.run(local_dir="~\ray_results")` for your windows machine

[2021-01-27 19:00] richardliaw commented on #12220
@rdonkin could you create a new issue about the bug that you're facing?

I suspect it's already resolved on the new release actually.

This bug seems to be addressed already too - will close this for now.

[2021-01-27 19:00] #12220 closed

[2021-01-27 19:24] simon-mo opened #13741 "[CI] Java tests flaky segfault due to spdlog"
Java unit tests fails pretty often due to a segfault:
[code]
Here are the full Travis links:
https://travis-ci.com/github/ray-project/ray/jobs/474924913
https://travis-ci.com/github/ray-project/ray/jobs/475366727
https://travis-ci.com/github/ray-project/ray/jobs/476695007
https://travis-ci.com/github/ray-project/ray/jobs/477344700

[2021-01-27 19:25] simon-mo opened #13742 "[CI] Java CI UsingActorsDemo is flaky"
The UsingActorsDemo fails from time to time, with varying errors.
https://travis-ci.com/github/ray-project/ray/jobs/476534877
https://travis-ci.com/github/ray-project/ray/jobs/474922579

[2021-01-27 19:27] rkooo567 commented on #13612
I'd like to know if this was a regression as well. (Sorry for many request haha..)

Ideally, it'll be great if you can test them with
- 1.0.0
- 0.8.6
- nightly
- 1.1.0 (still occurring).

[2021-01-27 20:11] #13180 closed

[2021-01-27 20:30] edoakes opened #13747 "[ray_client] Make ClientObjectRefs awaitable"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
[code]

[code]

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest

[2021-01-27 21:09] edoakes opened #13748 "[ray_client] ray.get_runtime_context().node_id not working"
### What is the problem?

[code]

[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [ ] I

[2021-01-27 21:23] vishal00100 commented on #13612
No worries. I will post results as I gather them.

[2021-01-27 21:39] #10676 closed

[2021-01-27 21:43] amogkam commented on #13311
Hey @Data-drone can you also try with `num_samples=1` instead of 10/

[2021-01-27 21:44] wuisawesome commented on #13725
Hmm having trouble reproducing this on an 8 core ubuntu machine w/ a 50GB test. It seems like there's almost always exactly 1 idle worker.

@stephanie-wang @rkooo567  what type of instance did y'all use?

[2021-01-27 21:45] #13735 closed

[2021-01-27 21:46] #13137 closed

[2021-01-27 21:55] amogkam commented on #13311
Also can you remove `batch_size` as a hyperparameter. @richardliaw pointed out that this could be the cause for the discrepancy.

[2021-01-27 21:56] stephanie-wang commented on #13725
This was on m5.8xlarge (32 vCPUs) and a 100GB input. You can run the attached script:
[code]

[2021-01-27 22:14] vishal00100 commented on #13612
I ran with nightly wheel for few hours.
[code]

![image](https://user-images.githubusercontent.com/29234773/106059658-0728c880-60c1-11eb-8ce0-fa9fec94a77e.png)

It's been running for ~3 hours but I think it's quite clear that this is trending in same direction as version `1.1.0`.
I'll switch to `1.0.0` and run it again.

[2021-01-27 22:18] #13742 closed

[2021-01-27 22:19] simon-mo opened #13751 "Re-enable Java Doc Test"
Java doc test was flaky and disabled in https://github.com/ray-project/ray/pull/13743
See more in https://github.com/ray-project/ray/issues/13742

[2021-01-27 22:19] simon-mo commented on #13751
@raulchen please help find the right people to re-enable them! thanks

[2021-01-27 23:30] #13431 closed

[2021-01-27 23:46] andrew-rosenfeld-ts commented on #13153
Thanks for taking care of this Kai, and sorry I didn't get to it myself.

[2021-01-28 00:10] richardliaw commented on #12347
This should be fixed on master.

[2021-01-28 00:10] #12347 closed

[2021-01-28 00:11] richardliaw commented on #9036
Closing this as I think this is addressed on master. Please open a new issue if you see something similar!

[2021-01-28 00:11] #9036 closed

[2021-01-28 00:51] Bhavya6187 commented on #13655
Looks like even modin is getting wrong resource values. This is what I got when I import modin after initialising ray on the cluster.

![image](https://user-images.githubusercontent.com/723146/106073959-da27e600-60bf-11eb-9777-10951262ca48.png)

[2021-01-28 01:25] hkvision commented on #7893
@fschlimb Thanks! Previously actually I tried this part but no success... Probably I'm not familiar with the api/concepts and made something wrong. I would take a deeper look into it.

[2021-01-28 03:49] ansarisam commented on #13716
Hi Guys,
Does anyone have any idea how to fix this problem? Thank you.

[2021-01-28 06:17] ashione commented on #13741
I'll try to find why it's flakytest.

[2021-01-28 06:50] rkooo567 opened #13757 "[Object Spilling] smart_open seems to require us to pre-create a boto3 session and share through transport param"
### What is the problem?

I've seen the Restore worker has too high cpu usage (100%), so  I did some profiling. It seems like we need to create a S3 session and pass it to the transport_param every time (it seems like smart open doesn't automatically handle this). You can see 50% of time is spent creating a new session. This could be probably why S3 spilling was slow so far.

<img width="791" alt=

[2021-01-28 06:50] rkooo567 commented on #13757
cc @ericl

[2021-01-28 06:52] rkooo567 commented on #13757
https://github.com/RaRe-Technologies/smart_open/blob/9fe29621ae2434f6d1fbce2d06564d6f65a5a551/smart_open/s3.py#L477

[2021-01-28 06:58] #10714 closed

[2021-01-28 06:58] #10675 closed

[2021-01-28 07:32] ericl commented on #13757
Good find. Also, please remember to add bugs to core bugs!

[2021-01-28 07:48] YarShev opened #13758 "List of workers is empty"
### What is the problem?

List of workers is empty.

[code]

### Reproduction (REQUIRED)

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

[code]

[2021-01-28 08:07] mike576 opened #13759 "20k small task problem, kernel crashes [tune]"
Hi everyone,

 I am new to ray and tune, but at first sight, it looks super cool. I’d like to ask a question and maybe also find out what's wrong with my concept?

using ray: version 1.1.0
os: linux ubuntu 18.

So in our project, we build a lot of models 20k-100k, sometimes only 1k with grid search, so we have 20k-100k trials too. We don't want to find the best model, we‘d like to look at the dist

[2021-01-28 09:09] duburcqa opened #13760 "[rllib] Indesirable sorting of observation keys by `DictFlatteningPreprocessor`."
### What is the problem?

I don't see any reason why someone would want the keys of an observation dict to be sorted alphabetically if stored using a "normal" `dict` instead of an actual `OrderedDict`. Both an equivalent in practice since Python3.6, and required by Python specifications since 3.7. I'm referring to [line 266](https://github.com/ray-project/ray/blob/d11e62f9e61a2eb2c5ce9c8d437b3d0d9

[2021-01-28 10:49] stanislav-chekmenev opened #13761 "[RLlib] Error when calling `rllib/models/catalog.py::get_action_shape()` and tf is not installed when action space is Dict()"
It's a continuation of this issue [13330](https://github.com/ray-project/ray/issues/13330)

When a custom environment is created with an  `self.action_space = gym.spaces.Dict({})` a similar error to the above issue happens again. In particular, when framework=torch and rllib/models/catalog.py::get_action_shape() is called from, for instance,
Policy::_get_dummy_batch_from_view_requirements(), rllib

[2021-01-28 10:56] stanislav-chekmenev commented on #13760
I agree with you, @duburcqa. It makes my life harder when working with `Dict()` gym spaces.

[2021-01-28 11:51] stanislav-chekmenev commented on #13761
I think, that this change in ray/rllib/policy/policy.py in line 712 should fix it

`_, shape = ModelCatalog.get_action_shape(view_req.space, framework=self.config['framework'])`

[2021-01-28 14:46] alexvaca0 opened #13765 "Ray Tune PBT Checkpointing fails with Huggingface/Transformers"
### What is the problem?
When optimizing transformers' parameters via PBT, it throws the following error:

[code]

The training doesn't stop and it gives no further error, but I'm wondering, if checkpointing is failing, how is the perturbation going to work?

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray v2.0.0dev0, Python 3.7 Ubuntu 18.04

### Reproducti

[2021-01-28 15:20] manuels commented on #8783
Any updates on this issue?

[2021-01-28 15:26] avandekleut opened #13766 "[tune] ray.tune.logger.CSVLogger cannot handle new keys in tune.report"
In my code, I will sometimes call `tune.report` with different metrics depending on if I am training or evaluating. If I first log training metrics, only those keys reported initially will continue to be written to at calls to `tune.report`.

Specifically, these two lines:
[https://github.com/ray-project/ray/blob/0452a3a435e023eada85f670e70ffef02ceb5943/python/ray/tune/logger.py#L146]
[https://git

[2021-01-28 16:01] krfricke commented on #13766
Hi @avandekleut, yes, as you said as a workaround you can try something like this:
[code]

Usually Tune expects that the same metrics are reported. Most schedulers and searchers can only handle one metric anyway (and the others are just logged). So if you're reporting different metrics for logging purposes, it might be better to write these logs yourself. If you want to save these logs to the tria

[2021-01-28 16:01] #13766 closed

[2021-01-28 17:57] rkooo567 opened #13768 "[Object Spilling] IO worker seems to hold shared memory."
### What is the problem?

After the job that uses object spilling, io workers are usually not killed (unlike worker processes). I found out all the objects that are spilled / restored from them are not freed from shared memory.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **

[2021-01-28 20:00] qiuyuchen14 opened #13773 "huge difference of success rate in training and evaluation"
Hi! I'm using `result['custom_metrics']['success_mean'] ` to get success rate during training, and `result['evaluation']['custom_metrics']['success_mean']` to get success rate during evaluation. I found that the training success mean would be 0, but the evaluation success rate could reach 1! My config for evaluation is:
[code]
I visualized the results and it is successful. Did I get anything wrong

[2021-01-28 20:40] stephanie-wang commented on #13725
I wasn't clear in the initial description, but this is just about the number of workers that were started. The actual number of live workers at any time is the same as the number of CPUs.

So I'm going to remove the P0 and release-blocker tags since this is unfortunate, but shouldn't actually affect performance much except for long-running jobs that need disk space (since this bug will result in m

[2021-01-28 20:40] #12321 closed

[2021-01-28 21:04] wuisawesome commented on #13725
Ok, I think we've pieced together all the missing pieces here. This is the result of 2 "features" clashing.

1. `kill_idle_workers_interval_ms = 200`. So we intentionally kill off idle workers.
2. `enable_worker_prestart = true` by default. This means we ensure that we always have `num_cpus` running worker processes. This is enforced on every lease request.

[2021-01-28 21:06] stephanie-wang commented on #13725
Hmm but there are always num_cpus workers, so condition 2 shouldn't be met, right?

[2021-01-28 21:08] wuisawesome commented on #13725
I think the first feature is killing the idle workers, so feature 2 is trying to restart them.

[2021-01-28 21:12] wuisawesome commented on #13725
One thing to note here is that the worker prestart was in response to #12052 which was only a problem in the old scheduler. A  short (or maybe even long term) fix for this could be to just turn the worker prestart feature off when using the new scheduler (doesn't address the problem for the old scheduler though).

[2021-01-28 22:01] ericl commented on #13768
This is expected. Shared memory is never freed once allocated.

[2021-01-28 22:01] #13768 closed

[2021-01-28 22:03] ericl commented on #13725
We shouldn't be killing idle workers unless another job is trying to
acquire them. Can we disable that feature safely? It will actually greatly
slow down repeated waves of tasks if there is a delay.

Eric

On Thu, Jan 28, 2021 at 1:12 PM Alex Wu <notifications@github.com> wrote:

[2021-01-28 22:03] edoakes opened #13775 "[autoscaler] Better validation for min_workers and max_workers"
### What is the problem?

User can specify max_workers globally that's less than min_workers for node types, causing nodes to repeatedly get started and killed. We should better validate the YAML.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencie

[2021-01-28 23:19] wuisawesome commented on #13725
Didn't we establish that prestart was only critical for the old scheduler? https://github.com/ray-project/ray/issues/12052#issuecomment-732461183

[2021-01-28 23:42] ericl commented on #13725
It's needed for both.

[2021-01-29 01:49] ericl commented on #13110
Seems like a P1 for object_store_memory at least, now that we have admission control. Otherwise, users could be confused why their tasks aren't scheduled (due to object store memory pressure).

[2021-01-29 02:25] rkooo567 commented on #13725
We kill IDLE workers only when they exceed the soft limit (num_cpus). Regular IDLE workers shouldn't be killed.

[2021-01-29 02:28] rkooo567 commented on #13768
But it is freed when the io worker is killed? Doesn’t this mean if we have a long running work, we will use up all the shared memory?

[2021-01-29 02:30] ericl commented on #13768
The object store will use up to the max shared memory. This is never
released to the OS until ray exits by design.

On Thu, Jan 28, 2021, 6:28 PM SangBin Cho <notifications@github.com> wrote:

[2021-01-29 02:31] ericl commented on #13725
Then what explains the issue then? Is it we are counting io workers towards the worker limit?

[2021-01-29 02:38] rkooo567 commented on #13768
So I have a question in this case. (I just want to make sure if I
understand it correctly)

Let’s say we run the same jobs 5 times in a row, each of which uses 10%
shared memory. In this case, after the 4th run, we will use 40% (and let’s
say that’s the max object store memory). The objects should’ve been all
evicted at this moment. In this case, if we run the 5th job, does it still
work? (Is it r

[2021-01-29 02:42] ericl commented on #13768
Yes, the memory is allocated from the OS permanently but can be reused
internally by Ray for multiple objects. You can try it out yourself, there
is no issue here.

On Thu, Jan 28, 2021 at 6:38 PM SangBin Cho <notifications@github.com>
wrote:

[2021-01-29 02:43] rkooo567 commented on #13725
I just checked code, and it doesn’t look like io workers are counted to the worker limit. I am not sure what’s the root cause here (maybe some other bugs)? We should definitely look at this soon

[2021-01-29 02:44] rkooo567 commented on #13768
Sounds good. Thanks for the explanation (will also try out)!

On Thu, Jan 28, 2021 at 6:43 PM Eric Liang <notifications@github.com> wrote:

[2021-01-29 02:59] wuisawesome opened #13780 "Build ARM wheels for Ray"
Due to user demand, we may eventually want to support ARM builds. For now, here are some instructions on how to build ray from source on ARM. This was tested using Ubuntu 20.04 on an AWS Graviton (ARM64) instance.

Building Ray on ARM.

1. Install the basic Ray dependencies.

[code]

2. Install bazel. Bazel doesn't come with an ARM installer script, so our `ci/travis/install-bazel.sh` doesn't work

[2021-01-29 03:04] amogkam commented on #13765
Closing this in favor of https://github.com/huggingface/transformers/issues/9873 instead.

[2021-01-29 03:04] #13765 closed

[2021-01-29 03:07] #12663 closed

[2021-01-29 04:17] stephanie-wang opened #13783 "[core] Remove legacy ReconstructionPolicy code"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 2.0dev

This is a PR to track removing the legacy ReconstructionPolicy code. Currently, this is used to timeout objects whose owners have died or if the owner no longer has a ref count for the object. We don't need the rest of the logic in the ReconstructionPolicy class anymore.

This can

[2021-01-29 05:56] kfstorm commented on #13466
I think it's OK to adopt spdlog in GCS and Raylet and not to redirect stdout/stderr.

[2021-01-29 07:36] ggservice007 commented on #13593
Nice, more and more libraries to support SIMD.  The numpy also supports SIMD after 1.20.0.

![image](https://user-images.githubusercontent.com/9192908/106245594-ab3c7c00-6247-11eb-83dd-e3bec54abf8d.png)

https://github.com/numpy/numpy/releases/tag/v1.20.0rc2

[2021-01-29 08:51] sven1977 commented on #10002
Sorry, can't make any promises, but it's on our list for this quarter to cover multi-GPU torch + multi-GPU (algos other than PPO).

[2021-01-29 09:14] yuxiang51321 opened #13787 "How to run 'ray start --head'?"
I executed this command of 'ray start --head', but failed. And the RuntimeError is ‘Couldn't start Redis. Check log files: /tmp/ray/session_2021-01-29_16-47-35_139681_28187/logs/redis.out /tmp/ray/session_2021-01-29_16-47-35_139681_28187/logs/redis.err’. I checked the log files and found it was empty.

python :3.6.8
ray 1.1.0
linux: Red Hat 4.8

[2021-01-29 11:07] DonYum opened #13791 "[Core] There is no Exception on driver when actor fail to allocate mem"
python: 3.7.9
ray: 1.1.0
OS: 4c8G

I start 10 actors which will allocate 1G mem for each, so the program will abort. However, the program continues to execute, even though all actors exit.
I can not get any Exception.

The actor log is as follow:

[code]

[2021-01-29 12:26] YarShev opened #13792 "[RFC] More programmable API that has same output as `ray memory` command"
### Describe your feature request

Hi guys,

It would be awesome to add API that has same output as `ray memory` command.
Also, it would be good to add some additional output info for `ray.objects()`. For example, node IP, IDs of objects which are created in in-process stores, IDs of objects from remote calls (when remote calls are still being executed).

Thanks in advance!

[2021-01-29 12:26] YarShev commented on #13792
https://discuss.ray.io/t/more-programmable-api-that-has-same-output-as-ray-memory-command/634

[2021-01-29 15:08] Matrix-World commented on #13682
Thank you for your reply. I have solved this problem by rewriting the trian_epoc and validate methods.

[2021-01-29 15:10] #13682 closed

[2021-01-29 16:46] Matrix-World commented on #13557
@rkooo567
Thank you sincerely for your reply, but I have three other questions that are very confused and need your help.
I followed the MNIST Tutorial to train an MNIST classifier with Pytorch Lightning's LightningModule and Ray SGD (https://docs.ray.io/en/master/raysgd/raysgd_ptl.html). But currently we still mainly use Torch, so we had trained  an MNIST classifier with Pytorch(not pytorch_light

[2021-01-29 17:28] nirvana-msu opened #13794 "Ray workers unable to register when used with "venv"-created virtual environment on Windows with Python 3.7.3+"
### What is the problem?

Ray workers are unable to register, causing `ray.init` to hang forever, when used with built-in `venv`-created virtual environment on Windows with Python 3.7.3+

### Reproduction

1. Install Python 3.7.3+  (3.8 and later are all affected as well)
2. Create virtual environment using built-in `venv` (in my case I just used PyCharm). Note that environments created using `vir

[2021-01-29 17:30] nirvana-msu commented on #12481
I've raised a new issue with a clear description of the root cause - please see #13794

[2021-01-29 17:35] mkoh-asapp opened #13795 "[autoscaler] _patched_makeRecord needs to make use of logging module's global _logRecordFactory"
### What is the problem?

Ray is monkey patching logging.Logger.makeRecord, but it does not use the logging module's `_logRecordFactory` . This means that it is not possible to use `logging.setLogRecordFactory` to customize log creation if one imports the ray autoscaler code.

*Ray version and other system information (Python version, TensorFlow version, OS):*
1.x

### Reproduction (REQUIRED)

1)