[2020-06-01 23:13] stephanie-wang opened #8715 "[autoscaler] Cluster becomes unusable when job exits."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 0.9dev

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

I ran with the default AW

[2020-06-01 23:13] stephanie-wang commented on #8715
cc @ericl, might be a P0?

[2020-06-01 23:22] stephanie-wang commented on #8715
Actually, this just happened again without a keyboard interrupt, I think because my driver exited with an error code.

[2020-06-01 23:28] stephanie-wang commented on #8715
Reproduced the same error with this short script, head node with 0 CPUs, and 2 worker nodes with lots of CPUs:
[code]

[2020-06-02 00:07] yutaizhou commented on #8706
Hey Eric, could you comment on the relationship between DM's acme and ray/rllib? i.e, what one has that the other doesn't, and how the two can interoperate, if possible

[2020-06-02 00:31] Glaucus-2G commented on #8699
OK, Thank you!

[2020-06-02 01:12] Glaucus-2G commented on #8699
I update ray0.9.0.dev and the problem has been solved

[2020-06-02 01:22] rkooo567 commented on #8715
@stephanie-wang We should find an assignee for this task as it is a release blocker. I will post it in the slack channel!!

[2020-06-02 01:30] acxz opened #8717 "[ray] Build failure when installing from source"
### What is the problem?
When trying to build ray from source I am getting the following output:

<details>
  <summary>Error</summary>

[code]
</details>

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray: master
python: 3.8.3
gcc: 10.1.0
bazel: 3.2.0
os: Arch Linux

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. T

[2020-06-02 01:31] King-Of-Knights commented on #6895
@justinkterry Hello! Does MADDPG support MultiDiscrete action now?

[2020-06-02 01:32] justinkterry commented on #6895
No. The MADDPG implementation here is kinda cursed.

On Mon, Jun 1, 2020 at 9:31 PM Tuya <notifications@github.com> wrote:

--
Thank you for your time,
Justin Terry

[2020-06-02 01:59] ramanNarasimhan77 commented on #7187
Thanks @simon-mo for reviewing and merging the PR. Glad that I could help.

[2020-06-02 02:07] AndreCNF commented on #8634
Thanks for the help @richardliaw! Through `ray monitor` I received additional info on what was failing. Apparently, I must make sure that `knack` and `azure-cli-core` are properly installed to be able to create additional worker nodes in Azure. I just added `yes Y | pip install -U knack azure-cli-core` to the `setup_commands` list and now it works!

[2020-06-02 02:07] #8634 closed

[2020-06-02 02:11] rkooo567 commented on #8717
cc @simon-mo

[2020-06-02 02:50] simon-mo commented on #8717
A quick googling seems like this is due to compiling redis on gcc10.

https://bugs.gentoo.org/707210
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=957751

@acxz can you try out https://github.com/ray-project/ray/pull/8722 if possible? Updating it to redis version from April might fix it

[2020-06-02 03:00] #8464 closed

[2020-06-02 03:24] nyxynyx opened #8723 "[rllib] Why is the learn throughput decreasing?"
### Is it normal to have the learn throughput decrease and the learn time increase as the agent gets trained?

A 7X increase in learn time after a few hours of training is pretty significant, is this something that you will expect to see? My system is only using 20% of the 8 core CPU and 25 GB out of 64 GB memory.

A `ray.rllib.agents.dqn` model is currently being trained on the CPU. The config ar

[2020-06-02 03:56] rkooo567 commented on #8694
@raulchen `triage` label means we should define its priority level. For Java issues, would you mind tagging java tasks with `java` label and define the priority levels (like P0, P1, P2, and etc.) whenever you have time?

[2020-06-02 03:56] #8680 closed

[2020-06-02 05:54] raulchen commented on #8694
@rkooo567 thanks for reminding. Just added that.

[2020-06-02 05:56] nyxynyx commented on #8700
Thanks!

[2020-06-02 05:56] #8700 closed

[2020-06-02 06:22] rkooo567 commented on #8715
After this PR is merged, https://github.com/ray-project/ray/pull/8401/files, we stopped using AsyncAppend, but we started using Put. This makes this part of code incompatible. @ffbin

[2020-06-02 06:26] rkooo567 commented on #8715
I think we should be careful when we start using the `store_client` next time because it seems like a lot of Python code depends on append-only Redis update.

[2020-06-02 08:09] rkooo567 opened #8726 "[Core] Removing `with core_worker.profile_event` introduces substantial performance improvement."
### Describe your feature request
While I was playing with timeline, I found out removing `with core_worker.profile_event` from `raylet.pyx` introduces substantial performance improvement. Here is the result of `ray microbenchmark` with / without the profiling inside `raylet.pyx`

With profile
<img width="869" alt="Screen Shot 2020-05-31 at 11 20 20 AM" src="https://user-images.githubusercontent.c

[2020-06-02 08:09] rkooo567 commented on #8726
@ericl

[2020-06-02 08:16] raulchen commented on #7291
@ericl  sure, I'll prioritize binary package and API refactor before updating the docs.

I'm also bumping the priority of this task to P1.

[2020-06-02 08:33] SanjiAp opened #8728 "[raysgd][tfrunner] Getting "'https' scheme not supported in proxy URI" message when running on cluster"
[raysgd][tfrunner]
Hi I am running following version of the code

[code]

Running the code with " python ray_tf_example.py --address 192.168.140.170:6379 -n 2"

log is as follows:
[code]

Errors and warnings are highlighted.
Ray version : 0.8.5
python version : 3.6.10
tensorflow version : 2.2.0
OS : Ubuntu 18.04.4
Attached code:
[ray_tf_example.zip](https://github.com/ray-project/ray/files/4715859

[2020-06-02 08:34] Nithanaroy opened #8729 "tune: module 'tensorflow' has no attribute __version__ in Ray Trainable since v0.7.7"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

- Verified on Ray >=0.7.7
- Tensorflow 1.15
- CentOS 7

I get `module 'tensorflow' has no attribute __version__` error when I run my code using `run` API from Ray Tune. It works fine when I manually call `myTrainable.train()`. This only appears since v0.7.7

### Reproduction (REQUIRED)
P

[2020-06-02 08:35] SanjiAp commented on #8728
@richardliaw Can you help me with this?

[2020-06-02 09:14] Cryptiex commented on #8674
I experienced the same behaviour as @jdavid04

[2020-06-02 10:03] GoingMyWay commented on #8384
On StarCraft,  QMix also seems to learn random policy.  https://github.com/oxwhirl/smac/issues/42

[2020-06-02 10:32] sbuschjaeger commented on #7741
Sorry for the late reply. Updated to ray 0.8.5, but the problem remains

[2020-06-02 11:08] aefn commented on #8684
It works. Thank you again

[2020-06-02 11:11] King-Of-Knights commented on #6895
@justinkterry I just modified the code and it should support MultiDiscrete Action now.
To be simple, the code I added in `maddpg_policy.py` is:

[code]
Now, the sum of actor network output will be `N`  if agent has `N` MultiDiscrete Action space

 The whole code can be found [here](https://github.com/King-Of-Knights/ray/blob/master/rllib/contrib/maddpg/maddpg_policy.py)

[2020-06-02 11:24] acxz commented on #8717
Yep seems like that is the same issue we are facing here, let me give the PR a shot.

[2020-06-02 11:35] ffbin commented on #8715
@rkooo567 Thanks

[2020-06-02 12:21] Glaucus-2G commented on #8699
I have set up  a ray cluster(k8s and autoscaler). There are a ray-head node and three ray-worker nodes. I have updated ray to version0.9.0dev0 in these nodes. Now I run atari-ppo.yaml in ray-head node, it also reports “Unknown config parameter framework”.

Is my understanding about autoscaler wrong？
What  should I do to run atari-ppo.yaml in ray cluster(k8s)？

Thank you for your help！

[2020-06-02 12:56] KristianHolsheimer opened #8732 "[rllib] Allow for JAX framework"
### What is the problem?

I've been using JAX as my framework for a little while now. I just upgraded to the nightly build (due to some unrelated issues) and now RLlib is telling me I need to install TensorFlow or Torch.

I tried setting `{'framework': 'jax', ...}` in my trainer config, but this results in another error. Basically, not recognizing any framework other than one of: `[tf|tfe|torch|au

[2020-06-02 13:14] JanKalkan commented on #7954
Hey @wuisawesome,

thanks for taking care. In order to support Ray, we need the possibility to start a Ray cluster using ssh tunnels (i.e. port forwarding) for the communication between the hosts.

For example, we have 3 hosts (A,B,C). We start the Ray head node on host A and port p1. Additionally, we start one Ray worker node on host B port p2 and one host C port p3. We establish ssh tunnels betw

[2020-06-02 15:00] janblumenkamp commented on #7341
I would like to extend my current solution so that I can have different (groups of) agents with different policies that are communicating to each other through a non-differentiable communication channel:
![multi-env-shared-observation](https://user-images.githubusercontent.com/5030127/83533304-b17b2c80-a4ef-11ea-8eaa-1a311d47848e.png)
In this image, my previously described approach (the super-agen

[2020-06-02 16:16] rkooo567 commented on #8715
@ffbin Thanks for finding that out!

[2020-06-02 16:18] Coac opened #8739 "[rllib] Crash when using hybrid action space env and eager mode."
### What is the problem?

RLlib crashes on environment with **hybrid action space** (discrete and continuous) and **eager mode enabled**
It works well if eager mode is turned off.

_Python3.7
tensorflow==2.2.0
ray==0.9.0.dev0 (used the nightly version)
Ubuntu 18.04_

### Script to reproduce

Modified from `ray/rllib/examples/custom_env.py` adding `Box` to the action space to make it hybrid
[code]

[2020-06-02 17:03] syonekura opened #8743 "[ray] Unable to remove local reference from object store in async actors"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 0.8.5
Python 3.7.5
OS Kubuntu 18.04

Other dependencies:
opencv-python 4.2.0.34
imutils 0.5.3

Reposting from [ray-dev](https://groups.google.com/forum/#!topic/ray-dev/1UySbfPctBs%5B1-25%5D)

Hi, I'm trying to build a image processing pipeline using OpenCV and Ray. For this I've def

[2020-06-02 17:27] arunmk opened #8744 "[tune] Experiment specs get mixed up sometimes"
### What is the problem?
I use the tune.run_experiments and sent a set of experiment specs with their appropriate configs. However sometimes the experiment runs with the wrong config. From reading code I think that this is the line with the issue: https://github.com/ray-project/ray/blob/releases/0.8.4/python/ray/tune/tune.py#L251

I think that should become:
`
                config=exp["config"],

[2020-06-02 17:31] rkooo567 opened #8745 "[Dashboard] Dashboard doesn't receive pub/sub messages anymore."
### What is the problem?
Ray dashboard doesn't update its actor information because it doesn't receive its pub/sub messages from Redis anymore.

*Ray version and other system information (Python version, TensorFlow version, OS):*
latest Ray
MacOS

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies**

[2020-06-02 17:38] rkooo567 commented on #8745
In surface, it looks like the cause is because GCS pubsub uses different channels from `TablePubSub` enums. Is there any reason why we don't use these as channels?
Table pubsub
https://github.com/ray-project/ray/blob/ae312af435a050c4ffb6891e78ccb71e1aae4740/src/ray/protobuf/gcs.proto#L49

GCS pubsub channel definition
https://github.com/ray-project/ray/blob/ae312af435a050c4ffb6891e78ccb71e1aae4740

[2020-06-02 18:31] rkooo567 commented on #8745
@ffbin I took a look at this issue for some time, and it seems like the issue is that this pubsub is not working anymore. https://github.com/ray-project/ray/blob/ae312af435a050c4ffb6891e78ccb71e1aae4740/python/ray/dashboard/dashboard.py#L802

It seems like it was origianlly available from table.cc, but GCS table doesn't support this yet? Can you take a look at the issue?

[2020-06-02 18:32] ericl commented on #8732
@sven1977 should we support framework=None or something like this?

[2020-06-02 18:48] #8558 closed

[2020-06-02 18:50] stephanie-wang commented on #8558
@yncxcw, we've merged the PR, but FYI, we cannot fully fix the issue in your script. The problem is that when LRU eviction is enabled for all objects, it is not safe to evict as soon as the system hits capacity. Instead, we trigger garbage collection on all Python workers and give the system some time to evict objects that have already gone out of scope. So it may still possible to see GC-related

[2020-06-02 19:15] virtualluke opened #8749 "rerunning script causes error with 'Address already in use'"
### What is the problem?

ray latest master
python 3.7.6
OS: redhat 7.7

I have a script that if I run it it works fine, the second time it runs fine to completion (no changes in parameters), but either on the 3rd or fourth time I get the following segfault:

At this point ray is in a bad state and I need to restart the cluster.   Any help would be appreciated.

thanks,
Luke

[2020-06-02 19:27] rkooo567 commented on #8749
Thanks for reporting the issue! @virtualluke !! Is it happening in the latest master?

[2020-06-02 19:31] rkooo567 commented on #8749
It could be related to this issue. https://github.com/ray-project/ray/issues/8715

[2020-06-02 19:31] rkooo567 commented on #8749
Would you also mind telling us
1. how you setup your autoscaler
2. what scripts you used?

[2020-06-02 19:54] edoakes commented on #8032
@raulchen thoughts here?

[2020-06-02 20:19] richardliaw commented on #8539
Can you post a reproducible script?

[2020-06-02 20:19] richardliaw commented on #8539
Also, a stacktrace?

[2020-06-02 20:41] virtualluke commented on #8749
not using autoscaler, just starting every node with ansible script that does a ray start

[2020-06-02 20:45] virtualluke commented on #8749
Yes, latest master

[2020-06-02 21:10] #8717 closed

[2020-06-02 21:18] Tabbi7 commented on #4568
I got the same error while performing a Flow training.

[code]

[2020-06-02 22:45] SarahBelieve opened #8754 "[rllib] Cannot run the custom environment sample code in Python"
### What is the problem?
I tried the custom environment example with PyTorch. But it cannot run with this error "RuntimeError: Expected object of scalar type Float but got scalar type Long for argument #2 'mat1' in call to _th_addmm".

When I switched the framework to Tensorflow, it runs properly. I can't find any documentation about how I am supposed to make changes if I want to use the custom en

[2020-06-02 23:06] #8715 closed

[2020-06-02 23:17] KristianHolsheimer commented on #8732
Yes, that would probably be more sustainable.

Am I right in thinking that as long as my `Policy`-derived class implements all required methods it doesn't depend on any specific framework?

And if that's the case, why pick a default framework at all?

[2020-06-02 23:24] KristianHolsheimer commented on #8732
Would RLlib allow for mixing of frameworks?

What would go wrong if I use tensorflow to collect experience, pytorch to learn and jax/numpy to run trails?

Of course, we can think of many reasons not to use such a setup, but to what extent does RLlib's functionality depend on a choice of framework?

[2020-06-02 23:26] rkooo567 commented on #8749
Can you try again with the latest master and see if you still have the issue?

[2020-06-02 23:55] ijrsvt commented on #8749
@rkooo567 This seems like the problem addressed in #8628 .

@virtualluke, do you specify a port at all in your script?

[2020-06-02 23:58] rkooo567 commented on #8749
@ijrsvt I am actually not sure if that will fix this issue. This issue happens because when the same job runs 3 times, some internal states are screwed. I assume this must be GCS related issues as we had huge changes lately.

[2020-06-03 00:10] ericl commented on #8732
Yeah I think the framework parameter might have been a bit heavy handed. We do allow mixing of policies with different frameworks.

I made a PR to remove the framework import checking, which should allow any kind of policy to be used no matter what the setting is.

[2020-06-03 00:29] ijrsvt commented on #8749
@rkooo567

The error here is that there is a fundamental Time-Of-Check/Time-Of-Use bug ingrained in the selection of the NodeManagerPort. This arose because we need to pass the NodeManager's port to as input to other commands starting. If we didn't have this requirement, we would just let GRPC choose its own port.

If the user does not provide one, Python selects one by finding the next available

[2020-06-03 00:38] rkooo567 commented on #8749
I am not sure if I 100% understood. Isn't the node manager port assignment happens when we instantiate nodes (If not, that makes sense)? This issue seems to happen after he instantiated all nodes, and all node managers are already started and running. I assume he uses `ray.init(address='auto')`? Does this still require node managers to be started?

[2020-06-03 01:04] virtualluke commented on #8749
I start ray on each of the worker nodes (in this case 12 nodes) with:

`ray start --address=blah:6379 --object-store-memory=100000000000 --object-manager-port=12345 --node-manager-port=12346`

I am using ray.init(address='auto') in my code

[2020-06-03 01:11] rkooo567 commented on #8749
@virtualluke  https://github.com/ray-project/ray/issues/8715 => This has been merged (previously, monitor.py was broken whenever scripts exits). I'd like to make sure your issue is independent from this issue! Would you mind trying out your script one more time with the latest master?

[2020-06-03 01:15] virtualluke commented on #8749
Do you know if https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp37-cp37m-manylinux1_x86_64.whl has the commit ?  That is normally how I do my installs, and it seems like it varies a lot on when that image has a certain commit.

[2020-06-03 01:17] rkooo567 commented on #8749
Yeah I believe it should be there. But other easy way to check this out is to see your `/tmp/ray/session_latest/logs/monitor.err` logs. Did you see any error from this logs?

[2020-06-03 01:27] virtualluke commented on #8749
my /tmp/ray/session_latest/logs/monitor.err is empty

[2020-06-03 02:26] ijrsvt commented on #8749
Ahh sorry @rkooo567 didn't realize this was not relaunching the cluster.

[2020-06-03 03:10] rkooo567 commented on #8749
@virtualluke Gotcha. Then it is less likely the above PR will resolve this issue. But I still would like to recommend you to try the latest master.

Also, if that doesn't resolve the issue, we need to find a way to reproduce the error. Would it be possible to have a minimal reproducible script to debug this issue?

[2020-06-03 03:25] rkooo567 commented on #8713
@wuisawesome Would you mind taking over this issue? For P1 tasks, each assignees will be responsible for resolving them within a month.

[2020-06-03 03:28] virtualluke commented on #8749
That points to the same link, will install that now.

[2020-06-03 04:24] virtualluke commented on #8749
same crash (took 4 runs) with latest whl (just downloaded an hour ago).

[2020-06-03 04:37] virtualluke commented on #8749
I'm not sure if I can easily make a reproducible script.  The current script runs fine (last time 3 times in a  row) and then the next time dies immediately at the start. The script I am running takes around 7-8 minutes to run.  Trying again I get raylets all shutting down instead of segfault (beginning error messages are all the same, but fails slightly differently):

[2020-06-03 06:16] sven1977 commented on #8615
This was addressed in this PR here:
https://github.com/ray-project/ray/pull/8734
Closing this issue.

[2020-06-03 06:16] #8615 closed

[2020-06-03 06:27] rkooo567 commented on #8749
I will find an assignee for this task. Thanks again for reporting this issue. Would you mind trying running this with 0.8.5 and see if it has the same issue? I'd like to figure out if it was an existing issue or is introduced lately.

[2020-06-03 06:29] sven1977 commented on #8754
Could you also upgrade to the latest ray wheel? Then use the `--torch` flag on the command line with this script. It's running fine for me. Could you also post the entire stacktrace?

[2020-06-03 06:33] acmore opened #8758 "Question about ray head node HA"
Hi,

I tried ray yesterday, it's amazing. Thanks for providing us such a good framework.

I deployed it on bare metal machines, and I found that ray head node only has one copy. So if the machine running the ray head node components is down, the cluster will be gone. How could we deploy a cluster with high availability?

[2020-06-03 06:37] KristianHolsheimer commented on #8732
Abandoning this PR in favor of #8748

[2020-06-03 07:12] sven1977 commented on #8732
Yeah, let's allow `framework=None` as well, in which case, RLlib shouldn't check anything.

[2020-06-03 09:00] wangli1426 commented on #5314
@jovany-wang May I ask if there is any recent update about this HA feature?

[2020-06-03 09:11] PidgeyBE commented on #8326
FWIW: Some of the people in my company are also facing this.
We have CI/CD tests that check if ray resources are released after cleaning up actors and on 0.8.3 these were running fine. However when upgrading to 0.8.5 we had to add a back off mechanism (with time.sleep()'s) to make the tests succeed.
It seems for some reason the resource bookkeeping got slower, leaving more room for race conditions

[2020-06-03 09:29] gveda commented on #6451
I just installed ray on an RHEL 6.8 system with glibc 2.12, and encountered the same error on importing ray. @mehrdadn 's comment above seems to suggest that I should not see this error. Can you please suggest a resolution?
The output of pip install ray was:
Successfully installed aiohttp-3.6.2 async-timeout-3.0.1 filelock-3.0.12 google-2.0.3 idna-ssl-1.1.0 multidict-4.7.6 py-spy-0.3.3 **ray-0.8.5

[2020-06-03 09:32] KristianHolsheimer commented on #8732
@sven1977 This might be silly question, but why would we want to check the framework at all?

I feel that with the latest changes the @ericl made in #8748 is a better setup, i.e. drop the framework checks altogether. This means that the framework config setting is just a hint that allows you to write some conditional logic if a specific value is set.

For instance, I might want to implement some l

[2020-06-03 12:44] aefn opened #8762 "How to run my code in head node without having the yaml file?"
Dear Experts,
I have access to a cluster head node via ssh.
I don't have the yaml file to up or down it.
Now, I uploaded my code into the head node server. Its ip is 10.0.0.109.
I checked that ray is running by doing ```ps aux | grep ray```
In my code, I tried all of the following without any success:
[code]
[code]
[code]

I always got this:
[code]

[2020-06-03 13:17] Svalorzen opened #8763 "[rllib] Memory usage growing infinitely using QMIX"
### What is the problem?

I am training QMIX with a custom 6-agent environment, and memory usage just seem to grow infinitely over time. The problem might be related to #3884 but I am not sure.

The custom environment is wrapper around a dynamic C++ library built with Boost Python. I can share it if needed. I have tried to limit the memory of Ray in the `init()` call but it doesn't seem to have an

[2020-06-03 14:59] virtualluke commented on #8762
What does` ps aux | grep ray` look like, do you have a set of idle workers running?

[2020-06-03 15:36] virtualluke commented on #8749
Just tried 0.8.5 and don't see this issue.  I do notice a significant performance hit from 0.8.0 -> 0.8.5, somewhere in the vicinity of 15-20% slower.  Guess that is a different issue.

[2020-06-03 16:30] AlkaidCheng opened #8767 "[tune] incompatibility with latest version of nevergrad"
### What is the problem?

The module ray.tune.suggest.nevergrad (which supports ~v0.2.0) is no longer incompatible with the latest version of nevergrad (v0.4.0+)

This is because the attribute 'instrumentation' of the optimizer defined by nevergrad changed name to 'parametrization'

So to fix this I guess you need to replace all instance of ` hasattr(optimizer, "instrumentation") `  in tune/sugges

[2020-06-03 16:47] ivallesp commented on #8473
Hi, I am experiencing this issue with version `0.8.5`. The memory is increasing at a very slow path... I am training PPO (no exp replay). Any help would be extremely appreciated

[2020-06-03 16:53] matej-macak-qb commented on #8473
Hi @ivallesp, try setting the following parameters based on the number of cores you have to see if this works in your `ray.init()`: `memory`, `object_store_memory`, `redis_max_memory` and `driver_object_store_memory`. See [here](https://docs.ray.io/en/latest/memory-management.html)

What I think would be helpful in general is knowing what are the general parameters that usually work as I had to do

[2020-06-03 17:07] rkooo567 commented on #8762
cc @ijrsvt
It also could be related to those Docker issues.

[2020-06-03 17:10] rkooo567 commented on #8758
cc @raulchen Please let us know if there's a way to make the head node fault tolerant for now.

The only component that makes distinction from head node and other nodes is called GCS (Redis in the head node). We are currently under active development in making this component fault tolerant.

[2020-06-03 17:14] ivallesp commented on #4498
Hi! Thanks for your response. I am using tensorflow==2.2.0. I am using the default implementation in `ppo.PPOTrainer`, in fact.

[code]

I'll try switching to PyTorch

[2020-06-03 17:25] ericl commented on #8473
Can you file a new bug with a reproduction script? Also, Ray now does automatic garbage collection. I wouldn't generally recommend setting the memory settings manually due to this.

[2020-06-03 17:32] ericl commented on #8763
Can you reproduce this with a toy env? We can't debug scripts that aren't self contained.

[2020-06-03 17:44] richardliaw commented on #8767
Thanks for raising this issue! Do you mind submitting a small PR?

[2020-06-03 19:16] #8547 closed

[2020-06-03 19:19] rkooo567 commented on #8254
@simon-mo Can we close this after running release tests?

[2020-06-03 19:20] simon-mo commented on #8254
Sure. This issue was automatically closed by github after merge. Feel free to open it.

[2020-06-03 19:40] AndreCNF commented on #8394
@gramhagen I've been trying to implement your suggestion, of modifying the VM ARM template. However, it seems like only one of my worker nodes is set as a spot instance this way. I'm guessing all nodes, beyond the head node, need to have the same Ray version, with this same Azure configuration. Now I'm not being able to create a custom Ray wheel, built from my forked version of Ray, despite follow

[2020-06-03 19:43] ericl opened #8769 "[rllib] test_supported_spaces consistent OOM in travis"
### What is the problem?

The second-to-last rllib travis build has been consistently failing since: https://github.com/ray-project/ray/pull/8520/files
was merged.

[code]

See the build history here: https://travis-ci.com/github/ray-project/ray/builds

[2020-06-03 19:46] aefn commented on #8762
[code]

[2020-06-03 19:46] ericl commented on #8769
This is particularly odd since ARS shouldn't be creating any RolloutWorker actors at all. Maybe it's something that got leaked from another test.

[2020-06-03 19:56] aefn commented on #8762
I found the problem but actually I don't know why it was the problem.
[code]
I was trying to run my code with that python.
then I saw in the ```ps aux``` output that my cluster is running by
[code]
then I tried to run my code by that python
[code]
and it worked

[2020-06-03 19:56] #8762 closed

[2020-06-03 20:03] ericl commented on #8739
I think this is a matter of missing tf.cast() to float32 somewhere. Unfortunately, eager mode has slightly different type conversions than graph mode. Can you try finding the right place to add this conversion?

[2020-06-03 20:28] pmacalpine commented on #8560
I'm also seeing this issue which might be related to issue #7693 I opened but later closed as things had changed so much in rllib that my steps to recreate the bug were no longer valid.

I'm also curious why an [empty list is being passed as the state to a potentially recurrent model](  https://github.com/ray-project/ray/blob/a24d117c689840ce1c67dadb78a7511a234a4bb2/rllib/agents/a3c/a3c_torch_poli

[2020-06-03 20:38] virtualluke commented on #8749
related to https://github.com/ray-project/ray/issues/8254 ?

[2020-06-03 20:40] sven1977 commented on #8769
Are we sure it's not a core bug? It's not just this one test. All tests at the end of the alphabet fail due to this memory problem: test_rollout, test_rollout_worker, test_supported_multi_agent, test_supported_spaces. These are the last 4 in the test dir. They all run fine locally.

[2020-06-03 20:43] ericl commented on #8769
All I know is it's consistently failing after that particular PR, and never had an issue before. Maybe try reverting it and see if that fixes it?

[2020-06-03 20:44] sven1977 commented on #8769
yeah. This PR in question added many tests for pytorch that were previously only run for tf. Maybe this just made stuff go OOM (+ spillage between tests?). Will check.

[2020-06-03 21:10] SarahBelieve commented on #8754
@sven1977 Thanks for your quick reply!
I upgrade the ray through ```pip install ray[rllib] --upgrade```.
Then run the script with ```python sample_corridor.py --torch```
Here is what I got:
[code]

[2020-06-03 22:02] talipini opened #8772 "[tune] trainable restore_from_object fails with FileNotFound"
### What is the problem?
When trainable tries to restore_from_object, the restore process fails because of the wrong path. After loading the checkpoint object, the method writes it in the tmpdir (see code snippet below) but passes tmpdir/checkpoint dir to restore function. Shouldn't the write happen to the tmpdir/checkpoint dir?
Current code does this --
   path = os.path.join(tmpdir, relpath_name

[2020-06-03 22:45] richardliaw commented on #8772
Can you provide a small repo script?

[2020-06-03 23:22] rkooo567 commented on #8749
@virtualluke #8254 is what @ijrsvt mentioned in the beginning of this thread. He found another part that could potentially have a fix for this problem. We will merge this ASAP.

[2020-06-03 23:23] ijrsvt commented on #8749
@virtualluke I think it is a similar issue--but in a different part of the Ray code.

[2020-06-03 23:39] virtualluke commented on #8749
thanks for looking into this.

[2020-06-04 00:03] ijrsvt commented on #8749
Of course! We will update you as soon as it is merged so that you can try it!

[2020-06-04 01:01] ericl commented on #8706
@yutaizhou, from a brief look, these are the differences that stand out to me:

(1) target users -- acme is explicitly targeted at research reproducibility, and has more extensive support for DM benchmark suites. RLlib is more generally targeted at complex applied RL and multi-agent use cases. However both are fairly general libraries, much more than others I think.

(2) architecture choices -- th

[2020-06-04 03:07] raulchen commented on #8032
@edoakes I asked a few people. Currently, we don't see any potential use of these flags as well. So I'm tentatively in favor of scraping them as well.

[2020-06-04 03:15] talipini commented on #8772
Here is a sample example. Sorry, this is the smallest I could do without spending hours on it.

When you run the below example, you will see errors from restore_from_object looking for checkpoint_*/.tune_metadata.  This error happens when restore_from_object is used to restore checkpoint so you might have to run the sample couple of times to induce that situation, if it doesn't happen right away.

[2020-06-04 03:34] raulchen commented on #7291
After some discussions, we decided to upgrade Java API to make it easier to use, more readable, and more consistent with Python.

# Remote tasks

## Current API

[code]

## New API

[code]

# Actors

## Current API

[code]

## New API
[code]

[2020-06-04 05:04] KristianHolsheimer opened #8776 "[core] Remote function fails with JAX when using multiple GPUs"
### What is the problem?

I run into an issue when I try to run JAX on a remote worker when I set `CUDA_VISIBLE_DEVICES` to multiple devices, e.g. `CUDA_VISIBLE_DEVICES=0,1`. The remote worker exits (seemingly with a clean exit).

If I use the same settings in the main thread everything is fine, i.e. `jax.devices()` correctly returns `[GpuDevice(id=0), GpuDevice(id=1)]`. By the way, I've got more

[2020-06-04 06:31] GoingMyWay commented on #8326
@PidgeyBE  Hi, have you managed to solve it?

[2020-06-04 06:33] robertnishihara commented on #8569
cc @richardliaw @amogkam

[2020-06-04 06:46] PidgeyBE commented on #8326
@GoingMyWay Hi! Turned out the issue with my colleague was elsewhere, but still, when upgrading to 0.8.5 I had to add some time.sleep()'s to wait for `ray.available_resources()` to be updated, while this was not the case before...

[2020-06-04 06:55] robertnishihara opened #8777 "Unnecessary warning "Redis failed to start, retrying now" in ray.init()"
When I run `import ray; ray.init()`, I see the warning

[code]

which is not useful. Redis is starting up in the background (asynchronously), and this just indicates that Redis hasn't started up yet.

Some notes about the fix:
- We _do_ want to see this error message if/when Redis actually fails to start after a reasonable amount of time (e.g., 5 seconds).
- We don't want to sleep for long between

[2020-06-04 09:13] ivallesp commented on #4498
@GoingMyWay Thanks a lot! I have switched to Pytorch (parameter `"use_pytorch": True` in the config of the trainer) and the memory leak has disappeared.

Should I open a new issue to fix this?

[2020-06-04 09:33] ivallesp commented on #8326
Coming from: https://github.com/ray-project/ray/issues/4498#issuecomment-638725420

As @GoingMyWay was suggesting, there is some problem related with Tensorflow. For those who are reproducing this problem in Ray 0.8.5, you should try switching to Pytorch to see if the issue remains. In my case, it totally disappeared.

[2020-06-04 10:03] aefn opened #8779 "[autoscaler] When does autoscaling happen in a cluster?"
Dears,
I am running my code in a cluster.
What I did is that I uploaded my code to the head node and in my code used ```ray.init(address="auto",redis_password="11")```
now when I run my code it works and I can see in the dashboard that my tasks are running.
but when I increase the number of my tasks, my code crashes.
I expect that another node should be run and my extra tasks be added to that new

[2020-06-04 11:08] J1810Z commented on #8326
I do not think that the problem is related to tensorflow. I imagine that the tensorflow issue might affect timing somehow and thereby affect this issue. In my minimal example from above, I was able to reproduce the issue, without using tensorflow or pytorch at all.

[2020-06-04 11:55] Coac commented on #8739
Sure, I will do a PR

[2020-06-04 12:29] GoingMyWay commented on #4498
I think it is mainly the tf.function issue. Maybe you can give a more detailed description in a new issue.

[2020-06-04 12:31] GoingMyWay commented on #8326
Hi, in my case, the memory leak issue is related to tf.funciton when inputting varying bath size data.

[2020-06-04 14:09] ivallesp commented on #8326
On my side, Tensorflow (2.2.0) is not working well at all. Please find attached a snapshot of my tensorboard showing the behaviour I found. The grey line is the agent being trained with Pytorch, the other lines, with Tensorflow. Notice that the X axis is relative time. As you can see, with tensorflow as the time passes the training slows down a lot. Also the memory is going up and I think this is

[2020-06-04 15:57] ericl commented on #8326
Can you file the tensorflow issue as a separate bug with a reproduction
script? This issue is about the scheduler hang. Thanks!

On Thu, Jun 4, 2020, 7:09 AM Iván Vallés Pérez <notifications@github.com>
wrote:

[2020-06-04 16:37] ericl commented on #4498
To confirm, this is with eager enabled only?

On Thu, Jun 4, 2020, 5:30 AM Alexander <notifications@github.com> wrote:

[2020-06-04 16:40] drivkin opened #8783 "[tune] Save/restore searcher state."
I am using Tune and Nevergrad to perform black box optimization using PSO (particle swarm optimization). To do this, I create a NevergradSearch instance and pass in to the tune.run function with the search_alg keyword. This is where all of the state related implementing PSO search is contained. The run_or_experiment arg I pass is just a function that evaluates the state of my black box.

I would l

[2020-06-04 17:46] virtualluke commented on #8726
Is this section of code new? Just asking because of the slowdown of the current version compared with 0.8.0 for example and wondering if this may be the reason?

[2020-06-04 19:10] simon-mo opened #8784 "[Serve] Prometheus Metric Overrides"
### What is the problem?

Serve's prometheus exporter is stores a metric name -> default label mapping, this is a bug because there are can different metrics for the same name without different default labels.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script

[2020-06-04 19:36] mehrdadn opened #8786 "Windows ERROR_OPERATION_ABORTED on Ray shutdown"
As of commit e372c0625752e32c80168c03e381271aab412d0f, we get this error on Windows:

[code]

Further investigation reveals `error_code == 995`, i.e. `ERROR_OPERATION_ABORTED`.

This *may* be a result of the emulation of signals to handle program termination on Windows (the use of `SIGBREAK` in this case). As of now this is unclear due to several different causes of crashes during termination, so

[2020-06-04 19:46] mehrdadn opened #8787 "GCS assertion failure: grpc_server_request_registered_call() == GRPC_CALL_OK"
As of commit e372c0625752e32c80168c03e381271aab412d0f, this error occurs sporadically (seemingly as a consequence of #8786) on Windows (note that this issue is not really Windows-specific):

[code]

Once we verify that this is correct behavior in response to a failure of another component to respond successfully, we should probably fail gracefully here (such as with a clear error message and an ex

[2020-06-04 20:28] #8739 closed

[2020-06-04 20:48] mehrdadn opened #8788 "CoreWorkerProcess::instance_->global_worker_ is sometimes NULL on Windows"
As of commit e372c0625752e32c80168c03e381271aab412d0f, `CoreWorkerProcess::GetCoreWorker()` can end up executing `return *instance_->global_worker_;` when `instance_->global_worker_ == NULL`. It seems that when this happens, `CreateProfileEvent` ends up calling `ProfileEvent`'s constructor with a `NULL` `CoreWorker`.

This can be reproduced semi-consistently on optimized builds (`bazel test -c opt

[2020-06-04 21:51] ijrsvt commented on #8749
@virtualluke Can you try this wheel:
https://custom-wheels.s3-us-west-2.amazonaws.com/ray-0.9.0.dev0-cp37-cp37m-manylinux1_x86_64.whl

[2020-06-05 00:52] gramhagen commented on #8394
Hi @AndreCNF, sorry I haven't had any time to work on this yet. Yes you're correct, I forgot the template is pulled from wheel used by the head node to create the worker nodes.

Building the wheel for distribution is a bit of a pain. you can modify build-wheel-manylinux1.sh to make this work locally with a few steps:
1) Remove all but 1 python version [here](https://github.com/ray-project/ray/blob

[2020-06-05 01:26] richardliaw commented on #8569
Hey I think this isn't an issue on the Tune side; I think this is just that Torch sets some global state when `benchmark` is set, and Ray is unable to pickle that state.

[2020-06-05 01:55] #7900 closed

[2020-06-05 02:07] rkooo567 commented on #8788
This is a known issue. I actually have an open issue. It happens because some Python threads are still running when cpp core workers are cleaned up, and it tries to access it through a create_profile function. This happens only when it tear downs, so it is not the high priority task for now.

[2020-06-05 02:09] #8745 closed

[2020-06-05 02:12] rkooo567 commented on #8743
Hi, @syonekura. I just would like to say I read this and have a plan to take a look. I don't have enough bandwidth right now, but I will definitely look at the issue this weekends. Please ping me one more time if I don't get back to you.

[2020-06-05 02:16] rkooo567 commented on #8726
@simon-mo Possibly. We should definitely spend some time in the future to figure out the root cause. Also, the easiest solution is to make it feature-flagged as 99% users don't utilize profile info. I have a plan to do this as a part of metrics infrastructure.

@virtualluke This existed from long time ago actually. I think slowdown happens because we introduced a new concept around 0.8.0 that make

[2020-06-05 03:07] virtualluke commented on #8749
trying the wheel now

[2020-06-05 03:27] mehrdadn commented on #8788
@rkooo567 Oh I see! If you already have an issue for it, let's close it and mark it as a dupe. Which issue is it? I did a quick search and couldn't tell what issue might be already open for it.

[2020-06-05 03:36] songpengwei commented on #8648
@ijrsvt @rkooo567  any progress?

[2020-06-05 03:42] virtualluke commented on #8749
Same result.  3rd run (after 2 successful runs) gave segfault on "Address already in use".

[2020-06-05 05:09] GoingMyWay commented on #4498
In my case, it is eager with eager tracing. Train purely on offline data.

[2020-06-05 05:22] 57334502 opened #8794 "about Ray serialization doesn’t work"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*
2020-06-05 13:18:57,042	WARNING worker.py:792 -- When connecting to an existing cluster, _internal_config must match the cluster's _internal_config.
[ObjectID(7e4833dcf204864b8ba9f5ea040000c801000000),
2020-06-05 13:18:57,225	WARNING worker.py:1072 -- Failed to unpickle actor class 'Chi

[2020-06-05 05:51] ericl commented on #4498
Hmm I see. Can you use graph mode as a workaround?

[2020-06-05 06:21] nyxynyx opened #8796 "[rllib] How to set a seed when training agent?"
### How can we set a seed when training RLlib agents?

This can help with reproducibility...

[code]

*Ray 0.8.5, TensorFlow 2.2.0, Python 3.8.3, Ubuntu 18.04*

[2020-06-05 06:34] #8769 closed

[2020-06-05 06:43] #8474 closed

[2020-06-05 07:22] rkooo567 commented on #8749
@virtualluke Sorry to hear that... I was a bit surprised that the proposed fix didn't resolve your issue. Would you mind trying to initialize Ray with port ranges (https://docs.ray.io/en/master/package-ref.html#cmdoption-ray-start-min-worker-port) that you are confident it will absolutely not be used by other processes? I'd like you to try so that I want to know if the issue comes from our code or

[2020-06-05 07:37] raulchen commented on #8758
Hi @acmore. As @rkooo567 has explained above, GCS fault tolerance is actively under active development. We expect to finish the basic functionalities within this month.

The new implementation of GCS depends on an external (and customizable) storage for fault tolerance. For now, we only support Redis. And we also plan to support SQL databases in the future.

So, if you have a reliable and Redis-co

[2020-06-05 08:33] #8546 closed

[2020-06-05 09:00] GoingMyWay commented on #4498
Yeah, but I fixed the memory leak issue by slicing the SampleBatch via using customized policy optimizer. https://github.com/ray-project/ray/issues/8326#issuecomment-633206912

[2020-06-05 13:50] sven1977 commented on #8732
Ok, this works now. Just explicitly use `None` as your framework in the config.
@KristianHolsheimer your point is valid, but we do want to apply type checking here as we internally really only support `tf|torch|tfe|None`. If you want, just create a new key in your Trainer's config: e.g. `jax=True` for now and check the value of that. We will look into adding JAX very soon and probably have some ru

[2020-06-05 13:50] #8732 closed

[2020-06-05 14:08] sven1977 commented on #8706
We will take a look at possibly adding JAX support to RLlib.

[2020-06-05 14:08] virtualluke commented on #8749
Nothing else is running on this cluster.  I can try the port ranges for sure but given the data below not sure what to set them to.  Here are some interesting data points that seemed surprising to me.

When I do a fresh ray start of the cluster (after a ray stop) and go to the head node (before any driver program is run).

$ netstat -anp | egrep 'redis|ray|gcs_server|plasma' |wc -l
15441

while ru

[2020-06-05 14:40] surajp92 commented on #6893
Is there a way to change the number of environment time steps in one iteration, i.e number of times environment step() function gets called when you execute the trainer.train() function? In my custom environment, number of time steps per episode is fixed? Also, when does the environment state gets reset? at the end of each episode or at the beginning of the trainer.train() function? Thank you.

[2020-06-05 14:49] surajp92 commented on #7796
I am using the appo algorithm for my custom environment. And, I get different values of timesteps_this_iter in every iteration (trainer.train() function)? Is this normal? I would like to fix the number of time steps in one iteration. Is this possible for the appo algorithm? Thank you.

[2020-06-05 14:53] stefanbschneider commented on #7605
Same here on WSL with Python 3.5.2 and Ray 0.8.5

[2020-06-05 15:48] 20zinnm commented on #8123
I'm having this issue as well. I noticed that Ray launches a program called `dashboard.py` but passes `localhost` as the hostname, regardless of the argument to `ray.init`.

[2020-06-05 15:52] richardliaw commented on #7605
cc @suquark

[2020-06-05 16:31] sven1977 commented on #8412
This PR fixes (and tests) saving optimizer state for later restoring.
https://github.com/ray-project/ray/pull/8480

Will be merged later today.

Closing this issue.

[2020-06-05 16:31] #8412 closed

[2020-06-05 16:36] rkooo567 commented on #8794
Can you format your code with backtick? It is a bit hard to see the script.

[2020-06-05 16:37] rkooo567 commented on #8788
This is the related issue! https://github.com/ray-project/ray/issues/8291

[2020-06-05 16:37] #8788 closed

[2020-06-05 17:04] ijrsvt commented on #8749
@virtualluke Hmm. I'm trying a different build with a slightly different check--I am _more_ confident that this build will work (or at least give a better warning).
https://custom-wheels.s3-us-west-2.amazonaws.com/ray-0.9.0.dev01-cp37-cp37m-linux_x86_64.whl
Also, can you try running
```netstat -anpt4 | egrep 'redis|ray|gcs_server|plasma' |wc -l```
as well as
```netstat -anpt4 | egrep 'ray::' |wc -

[2020-06-05 17:41] #8689 closed

[2020-06-05 18:05] virtualluke commented on #8749
ok grabbing this now, will run some tests soon

[2020-06-05 18:57] janblumenkamp commented on #7341
Okay, I could solve this with the observation function, but it requires redundant evaluation of the preprocessing NN. It would be nice if batching would be available for the observation function.

[2020-06-05 18:58] 20zinnm opened #8805 "[dashboard] Dashboard errors (React)"
### What is the problem?

The dashboard appears for a split second before the window goes blank. The console shows many instances of this error:

[code]

I believe it is referring to [this line](https://github.com/ray-project/ray/blob/0fadc1143739f6edb5518dc2110bb795378c8c01/python/ray/dashboard/client/src/pages/dashboard/node-info/features/Logs.tsx#L42) in Logs.tsx and [this line](https://github.

[2020-06-05 19:01] ericl commented on #7341
Got it. Maybe a simple improvement we could make is to allow batching in
the observation function, and then in the policy, expose which agent IDs
correspond to each batch item. This at least allows differentiable
communication within agents of the same policy.

On Fri, Jun 5, 2020, 11:57 AM Jan Blumenkamp <notifications@github.com>
wrote:

[2020-06-05 19:04] ramondalmau commented on #7341
Wou! I definitely support it! It will trigger a lot of application for "graph" reinforcement learning!

[2020-06-05 19:12] pmacalpine commented on #8796
A seed parameter is one of the [common parameters](https://docs.ray.io/en/master/rllib-training.html#common-parameters) you can add to the config.  It sets a seed value for each worker as well as for the environment.  Try the following code:
[code]

[2020-06-05 19:21] ijrsvt commented on #8749
@virtualluke  Thanks for the quick response! Glad to see that it is making it further :)

[2020-06-05 19:48] iamWing commented on #6573
I have the exact same timeout issue while trying to run `ray.init()` on a laptop connecting to NordVPN.

A quick get around I've found is to simply pass `127.0.0.1` to `get_node_ip_address` to force it returns the loopback address.

[code]

[2020-06-05 20:31] virtualluke commented on #8749
during run 6:
netstat -anpt4 | egrep 'redis|ray|gcs_server|plasma' |wc -l -> 16214
netstat -anpt4 | egrep 'ray::' |wc -l -> 2231

after run 6:
netstat -anpt4 | egrep 'redis|ray|gcs_server|plasma' |wc -l -> 16190
netstat -anpt4 | egrep 'ray::' |wc -l -> 2397

during run 7:
netstat -anpt4 | egrep 'redis|ray|gcs_server|plasma' |wc -l -> 16288
netstat -anpt4 | egrep 'ray::' |wc -l -> 2407

after run 7

[2020-06-05 20:44] 20zinnm commented on #8805
I unfortunately do not know enough about React to be able to debug this.

[2020-06-05 21:16] richardrl opened #8807 "Can we run experiments without a head node?"
If we use doodad, https://github.com/justinjfu/doodad/,
We can run pre-emptible instances which sync to s3.

There is no need for a head-node. Which saves a bit of $.

[2020-06-05 21:20] ijrsvt commented on #8749
Hmm, the PRs don't immediately fix the port problem (the climbing number of ports). Could you possibly capture and upload the results of the commands from before and after a run? If that's not possible--no worries

[2020-06-05 21:23] #8318 closed

[2020-06-05 21:24] pcmoritz commented on #8794
The example you posted is working for me. Where is the `mytest` module here?

[2020-06-05 21:33] richardliaw commented on #8807
You can make the headnode a super cheap instance (like a c5.2xlarge). This will make the cost negligible.

[2020-06-05 22:17] NumberChiffre commented on #2605
I tried with datetime to generate dates and have the same issue addressed in this thread and https://issues.apache.org/jira/browse/ARROW-1435

This happens when a list of datetime objects get passed into ray.get. As stated in the description, pytz.utc.localize will solve the issue. I'm wondering if there is going to be any fix for this?

[2020-06-05 22:28] richardrl commented on #8807
It seems like it could add up... I guess it depends on what the purpose of the head node is. It seems like the cheapest on-demand instance comes out to $60/month. If 20 members in a lab at $60/month, that's an additional $1200/month.

[2020-06-05 23:15] ericl commented on #8326
@J1810Z in the example you had, does the warning have any adverse effect? I'm able to reproduce the warning by injecting a sleep(10) into the init method of worker.py::Worker, but the following script still eventually runs and finishes.

[code]

This PR should make it so we warn less frequently in case of slow worker start: https://github.com/ray-project/ray/pull/8810/files

[2020-06-05 23:15] richardliaw commented on #8807
The head node should exist only when the experiment is running. Do you know what is the scale and duration of a typical hyperparameter tuning run in your lab?

[2020-06-06 00:08] #8704 closed

[2020-06-06 00:27] ijrsvt commented on #8648
@songpengwei We have not been able to reproduce this--can you give us some more context about your cluster config, the config yaml and the output from `raylet.out`?

[2020-06-06 00:29] #4183 closed

[2020-06-06 01:15] KristianHolsheimer commented on #8776
In case it helps.. here's the file that I'm using as a sandbox to try things out.

At the risk of complicating things further, here's something I'm observing now.. Even if I set `JAX_PLATFORM_NAME=cpu` and `CUDA_VISIBLE_DEVICES=` (empty), JAX seems to try and load the cuda backend and fails.

In the script below, it seems to break at the point that the actual jax/xla computation is triggered, in t

[2020-06-06 01:23] richardrl opened #8811 "Exclude file_mounts?"
Is there a way to exclude certain subdirectories/filetypes within the AWS YAML?

[2020-06-06 01:59] richardliaw commented on #8783
@drivkin thanks for making this issue. This is definitely a top requested feature and is on our todo list. We'll get to this in the next couple weeks.

[2020-06-06 02:56] rkooo567 commented on #8687
@pdames we merged a possible fix. Is it possible for you to try again with the latest master?

[2020-06-06 05:02] JohnEmhoff opened #8812 "Background function call?"
### What is your question?

If I call a remote function from a script and then immediately exit the script, it looks like the job gets killed immediately. I'd like to be able to just submit a job and have it run without needing to keep the interpreter state around (i.e., I want to run the function purely for the side effects). Can I do this in ray?

Alternatively, is it important that the job hand

[2020-06-06 05:22] KristianHolsheimer commented on #8732
Good to hear that JAX is on your road map. Let me know if I can help.

I shared a couple testing scripts in #8776

[2020-06-06 07:20] suquark opened #8813 "Is this a Plasma Store bug?"
### What is the problem?

On linux without huge_page enabled, plasma store would shrink the memory size according to the shared memory limit. However, in the plasma store code, it just forgets to call `SetFootprintLimit`, so this never takes effect (instead it just changes a local variable):

https://github.com/ray-project/ray/blob/b160b83d3ec399a086f3c44271eb85812924914a/src/ray/plasma/store.cc#L

[2020-06-06 07:40] ericl commented on #8813
I think we also check the shm limit this separately during ray init, so it might not matter that it's not set by plasma.

[2020-06-06 10:01] rkooo567 commented on #8812
1. For the long running job, the recommended way is to use "detached actor". https://docs.ray.io/en/latest/advanced.html#detached-actors The idea is that you run an actor that is independent from the lifetime of your driver (Python script). In this case, make sure to connect actors to the existing Ray cluster through `ray.init(address='auto')`.

We are probably also going to support something like

[2020-06-06 10:01] rkooo567 commented on #8811
cc @allenyin55

[2020-06-06 10:02] rkooo567 commented on #8805
cc @mfitton

[2020-06-06 13:50] JohnEmhoff commented on #8812
Thanks, I somehow missed the detached actors in the docs.

For 2), I was asking (in a poorly-worded fashion) if my remote function was getting killed because the future that `func.remote()` was returning was GC'd, or if it was because the interpreter exited.

[2020-06-06 15:47] trunghlt commented on #8539
Yes, here is the code and stackstrace:

<pre><code>
import pandas as pd
from gluonts.trainer import Trainer
from gluonts.model.deepar import DeepAREstimator
from gluonts.distribution.student_t import StudentTOutput
from gluonts.evaluation import Evaluator, MultivariateEvaluator
from gluonts.evaluation.backtest import make_evaluation_predictions
from gluonts.dataset import common

df = pd.read_csv(

[2020-06-06 18:25] kumare3 opened #8814 "Interest in integrating with Flyte as a task type"
### What is your question?
I see that you have a kubernetes operator for Ray. This looks very interesting and might become very useful to some of our users. I wanted to see if you are open to a potential collaboration, where we can add a Ray Plugin to Flyte.

We can discuss more details in a conversation.

*Ray version and other system information (Python version, TensorFlow version, OS):*

[2020-06-06 18:38] richardliaw commented on #8814
Yeah this would be super cool! Can you reach to rliaw [at] anyscale.com?

[2020-06-06 21:52] syonekura commented on #8743
Hi @rkooo567, thanks a lot for letting me know! hope you have some time to look at this, but don't feel pressured to do so. Have a great weekend

[2020-06-07 03:10] forhonourlx opened #8818 "[rllib] Adding custom_metrics to CLIReporter() failed in IMPALA"
Hi Ray Team,

I am trying to add custom_metrics to CLIReporter(), but got a default CLI report.
Could somebody give me a hand? Thanks in advance.

[code]

Result:
[code]

[2020-06-07 08:03] markgoodhead commented on #6240
FYI I get this issue for Ray Tune's internals which sent me here:

WARNING import_thread.py:126 -- The actor 'WrappedFunc' has been exported 100 times. It's possible that this warning is accidental, but this may indicate that the same remote function is being defined repeatedly from within many tasks and exported to all of the workers. This can be a performance issue and can be resolved by definin

[2020-06-07 08:54] markgoodhead opened #8819 "[tune][autoscaler] WrappedFunc.Train() issues with autoscaling down"
### What is the problem?

Sometimes when the autoscaler is bringing down nodes whilst a Tune experiment has been started, the WrappedFunc.Train() remote call logs the following errors:

`2020-06-06 10:04:24,701	INFO trainable.py:217 -- Getting current IP.
E0606 10:04:44.849920  7793 direct_task_transport.cc:240] Retrying attempt to schedule task at remote node. Error: IOError: 14: failed to connec

[2020-06-07 08:55] markgoodhead commented on #8819
@richardliaw Added as requested on Slack 👍

[2020-06-07 10:57] J1810Z commented on #8326
With the warning, startup is significantly slowed down. However, the behavior is quite inconsistent. Sometimes it takes around 30s until the script starts, sometimes I just canceled the run since nothing happened for several minutes. WIth the sleep time workaround, overall startup is much faster.

[2020-06-07 16:32] NumberChiffre opened #8820 "Hyperparameters removed using PBT + HyperOpt + PPO for Rllib, Tune"
### What is the problem?
I used PBT + HyperOpt for tuning PPO agents on a custom environment and I noticed issues with certain hyperparameters (num_sgd_iter, train_batch_size, sgd_minibatch_size) as they get removed from the hparam tab on tensorboard. This would not occur if HyperOpt is removed from the search algorithm, so PBT + PPO would work fine. I confirmed this issue using a simple gym envir

[2020-06-07 16:45] markgoodhead opened #8821 "[tune] ExperimentAnalysis doesn't expand user as docs imply"
### What is the problem?

The Ray docs give an example where a path with the "~" operator is included:
https://docs.ray.io/en/master/tune/api_docs/analysis.html#experimentanalysis-tune-experimentanalysis

[code]

This throws an error for me:
[code]

Whereas the corresponding expanded version does not:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ra

[2020-06-07 18:17] robertnishihara opened #8822 "Remote function and actor definitions are not garbage collected when drivers exit, so memory increases in cluster setting"
Migrating from https://github.com/ray-project/ray-legacy/issues/448. cc @Kuurusch

The issue can be reproduced as follows.

First start Ray with

[code]

Then run the following repeatedly

[code]

The number of "exports" grows continuously. We need to garbage collect this state when a driver exits.

[2020-06-07 18:18] robertnishihara commented on #8822
@Kuurusch can you check if this is the same issue that you are seeing?

[2020-06-07 19:12] Kuurusch commented on #8822
@robertnishihara I would say yes, but I don't understand the second ray.remote:

    @ray.remote
    class Bar:
         pass

    b = Bar.remote()

[2020-06-07 20:02] richardliaw commented on #8819
Got it; does this cause trials to error? What if you turn on checkpointing?

[2020-06-07 22:13] LecJackS opened #8824 "[tune] Add environment's info dict to logger"
### What is your question?
Simple question, but cannot find an answer (maybe some special keyword?):

How can I add the **info dictionary** being returned by every environment, to the data/statistics being logged by the logger?

So if my env returns clipped/normalized rewards, I could also see the raw rewards displaying this data on tensorboard.

I found how to change the logger itself, but is tha

[2020-06-07 22:33] xxArbiter commented on #8685
Hi, sorry for the delay in response. I tried to reproduce this error from a script with simple components last week. But I failed. It works well with some simple envs & models. I knew that ray should support the Dict action space. I just have no idea where does this error come. Do you have any advice on this? Thanks!

[2020-06-07 23:15] athenawisdoms opened #8825 "[rllib] Simple question on training using multiple workers"
### What is your question?

I am trying to speed up the training of 1 agent by using parallelism.

If you are training a DQN agent using mulitiple workers with the same agent params (epsilon, gamma, etc) and without setting any seed value, each of the workers will take different actions during exploration given the same environment state and also recall different experiences from the replay memory

[2020-06-08 00:07] vertangelx opened #8826 "Alternatives to Tensorboard"
### What is your question?

Are there any alterantives to tensorboard that is supported by Ray or rllib?

Ideally one that requires minimal changes to code, maybe just pointing it to to ~/ray_results is sufficient, like Tensorboard.

Examples: Neptune, MLflow, Comet, Sacred, Weights & Bases.

[2020-06-08 00:25] nyxynyx opened #8827 "[rllib] Restore from checkpoint"
### What is your question?

[From the docs](https://docs.ray.io/en/latest/rllib-training.html#basic-python-api), a simple example of restoring a trained agent from a checkpoint can be done using

[code]

Question 1: Is it possible to restore it without knowing the type of agent used, such as `ppo.PPOTrainer` in this example. In other words, can `.restore` be called from a [base agent/trainer insta

[2020-06-08 00:57] LecJackS commented on #8825
Maybe this helps. From the docs:

    # === Settings for Rollout Worker processes ===
    # Number of rollout worker actors to create for parallel sampling. Setting
    # this to 0 will force rollouts to be done in the trainer actor.
    "num_workers": 2,
    # Number of environments to evaluate vectorwise per worker. This enables
    # model inference batching, which can improve performance for i

[2020-06-08 02:12] talipini opened #8829 "[tune] how to check which hyperparams were perturbed in PBT?"
Tune with PBT

### What is your question?
When PBT perturbs the hyperparams, is there a way to know which ones were changed from the source trial? I can get access to the new_config in restore_config to see the new values but I am trying to find out which hyperparams were perturbed from the source trial ?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray - 0

[2020-06-08 03:46] athenawisdoms commented on #8825
@LecJackS Thanks for pointing me in the right direction!

A few follow up questions, since I dont fully understand the comments:

3. If my training is not bottlenecked by inference, is it best to leave `num_envs_per_worker` as 1, and just increase `num_workers` for scaling out?

    Here's how the various times look like for my run. Does it look like we should increase `num_envs_per_worker` to may

[2020-06-08 04:48] robertnishihara commented on #8822
@Kuurusch that's just creating an actor. Some state (the actor class definition) is currently "leaked" between drivers, so we need to make sure to clean that up.

[2020-06-08 05:22] richardrl opened #8830 "Docker + AWS hanging at "Set tag..." for autoscaler"
### What is the problem?
Using latest version of Ray (0.9.0.dev0)

### Reproduction (REQUIRED)
If we take the example AWS configuration YAML, given [here](https://docs.ray.io/en/master/autoscaling.html?highlight=docker) (under AWS header) and simply change line 26 and 27 to use an actual Docker image:
[example_full.zip](https://github.com/ray-project/ray/files/4744002/example_full.zip)

Running an

[2020-06-08 07:02] richardrl commented on #8830
Where is the code that first starts the Docker image?

I am running into issues where the Docker image is not run with tty.

I can manually add the run command in "initialization_commands: []" but I'm guessing the below is a bug... If someone explains how Ray team wants the Docker setup to work (which file we run "docker run ..." in I can do a PR.

[code]

[2020-06-08 07:30] acmore commented on #8758
Thank you @raulchen. Looking forward to the new feature.

[2020-06-08 07:58] markgoodhead commented on #8819
No the trials eventually continue, it looks like there's some ~500s timeout that happens then it carries on. I haven't tried checkpointing as I'm using the functional API at the moment - do you expect that to help?

[2020-06-08 09:04] xiaocaio commented on #6832
+1

[2020-06-08 12:27] virtualluke commented on #8749
Did you mean for more runs or something else?  I would guess the current state works fine until the ports run out after a few hundred runs.

[2020-06-08 13:15] chiangqiqi commented on #8827
you can check `trainer.get_config` out, it prints out the config you currently use.

[2020-06-08 17:25] hartikainen opened #8838 "[tune] gpus unused in local mode (`CUDA_VISIBLE_DEVICES == ''`)"
### What is the problem?
When running Tune in local mode with `ray==0.8.5`, the `CUDA_VISIBLE_DEVICES` are always set to empty string, thus making the gpus unused. This behavior is different from `0.8.4`, in which the `CUDA_VISIBLE_DEVICES` are the same both with `local_mode=True` and `local_mode=False`. Same thing happens with the latest wheels.

*Ray version and other system information (Python

[2020-06-08 17:30] richardliaw commented on #8838
cc @ijrsvt

[2020-06-08 18:35] ijrsvt commented on #8749
Are you running hundreds of runs? Or only a handful?

I was just hoping to look at something like

Before run **x**
During run **x**
After run **x**

[2020-06-08 18:43] virtualluke commented on #8749
I can script doing more for testing but the jobs in question take ~7 minutes to complete and usually run ~dozen times a day.  So hundreds will take a while.

Also, After run x = before run x+1 for all I have seen which is why I hadn't included that but should have mentioned.

I will try and figure out a short-circuited version of the job in question so it finishes quicker but still exhibits the pr

[2020-06-08 19:02] simon-mo opened #8841 "[Asyncio] InvalidStateError when multiple awaits on same oid"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.
[code]

Output
[code]
- [ ] I hav

[2020-06-08 19:02] rkooo567 commented on #8841
Oh nice. This must be related to @allenyin55 's issue right?

[2020-06-08 19:13] ijrsvt commented on #8749
Ahh okay--that makes sense with respect for after run x== before run x+1.

That would be great if you could provide us with some more context!

[2020-06-08 19:37] #8593 closed

[2020-06-08 19:37] #7591 closed

[2020-06-08 20:09] ijrsvt commented on #8830
Just to confirm, if you run `docker container ls` it does not show anything?

[2020-06-08 21:38] ericl commented on #8326
Hmm, I wonder if there is some other underlying issue with starting workers that is just manifesting this warning as a symptom here. @J1810Z can you reproduce, and when you encounter a "real hang", grab the output of /tmp/ray/session_latest/logs/debug_state.txt? It should include a bunch of stats including the worker pool size:

[code]

This will help narrow down whether it's an issue starting wor

[2020-06-08 23:35] JeremySMorgan commented on #826
Small addition - For anyone else getting the following error: `slurmstepd-linux14: error: execve(): start_worker.sh: Permission denied`, you need to run `chmod +x start_worker.sh` to make the script executable. (also for start_head.sh)

also in start_worker.sh,  `ray start --redis-address=$1` needs to be changed to `ray start --address=$1` XD

[2020-06-09 00:38] ericl commented on #7341
Just want to provide an update on the design of this. Currently the thought is to implement something like this:
 - Have a "replay_mode" option for multiagent training. When `replay_mode=independent` (current state of things), RLlib provides no guarantees on whether all the agent experiences for a particular timestep are present in the same training batch together. When `replay_mode=lockstep`, RLl

[2020-06-09 00:43] #8841 closed

[2020-06-09 01:24] sumanthratna commented on #8826
Neptune: it's definitely possible but I don't think there are any open-source examples

MLflow: https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/mlflow_example.py

Comet: not sure, but probably the same case as Neptune

Sacred: this *might* work https://gitlab.com/SumNeuron/extune

Weights & Biases: https://docs.wandb.com/library/integrations/ray-tune

---
If you go with Nep

[2020-06-09 02:25] pdames commented on #8687
@rkooo567 Fix verified on the latest build from master - 10/10 job runs succeeded using the same source dataset and cluster config that consistently crashed before. Thanks!

[2020-06-09 02:25] #8687 closed

[2020-06-09 05:00] richardrl commented on #8830
Commit daf1ee13da9da96d99fe112970ee01b1f372f360  does not solve the issue.

[code]

[2020-06-09 06:29] rkooo567 commented on #8812
ah I see. For (2), the result from f.remote(), is called ObjectID. ObjectIDs are GC'ed in the same way as Python objects are GC'ed (meaning it is GC'ed when you don't / cannot use them anymore).

[2020-06-09 06:32] sven1977 commented on #8827
The config is actually not saved when doing Trainer.save(). We only save the model weights and some limited "other" policy state, like the optimizer's own variables. You should always keep the config around and `restore()` from within an "equally setup" Trainer object.

[2020-06-09 06:44] rkooo567 commented on #6954
cc @mfitton Can you tag this issue to your sort/grouping PR and close it once that's merged?

[2020-06-09 06:45] #7904 closed

[2020-06-09 06:46] rkooo567 commented on #8607
cc @mfitton

[2020-06-09 06:47] rkooo567 commented on #8687
@pdames Happy to hear that!!

[2020-06-09 06:52] ramondalmau commented on #7341
Great! I really like the proposed solution @ericl, and in my humble opinion is the way to go. This will allow to use many of the already existing algorithms in RLlib with minor changes. Looking forward to use this :)

_Just a minor question:_ let us imagine a scenario in which a **team** of agents wants to achieve a **cooperative** goal, thus maximising a **shared** reward function (e.g., the sum

[2020-06-09 08:41] ericl commented on #7341
@ramondalmau here's how I would tackle that one:

Here, the env can produce a global reward and give it to each agent.

This part should be doable once we add the agent id array and allow lockstep sampling.

IIUC this is the key difficulty, that you want to give the final shared reward to exited agents. One way of handling this is to not send done=True for exited agents until the env itself finish

[2020-06-09 09:22] omri-axon-vision opened #8856 "[rllib] PBT with multi-agent"
I would like to use PBT to perpetuate the entropy coefficient of an agent in a multi-agent environment (use it as an entropy_coeff_schedule). The environment contains agents from 2 groups: hiders and seekers and each agent can be a hider or a seeker.
I am adding to the config of the experiment the following:
`
config["multiagent"] = {

            "policies": {

                "hider": policy_gen

[2020-06-09 09:22] Catypad opened #8857 "."
# Documentation Problem/Question/Comment

(Created directly from the docs)

[2020-06-09 09:22] #8857 closed

[2020-06-09 10:09] MarkCarbonell98 commented on #7339
Same error here `$(aws ecr get-login-password --region eu-central-1 | docker login --username AWS --password-stdin account.dkr.ecr.eu-central-1.amazonaws.com)`

[2020-06-09 12:23] RonAd-1 commented on #5042
Hey, I had the same problem with multi class in TF 2.2.0 (which should be available
in the version). Is this has a fix already? When I changed manually the condition to:
if inp.shape[0] != output_shape[0]:
     rais ValueError....
Everything seem to work ok. But surely the fix should be done within TF code.

[2020-06-09 12:35] hkvision commented on #8413
Thank you so much! @richardliaw Sorry for the late reply. `use_tqdm` works great!
If I specify `num_steps`, then every call for `train` only trains several batches, and would it be the case that some data won't get trained?

[2020-06-09 15:03] ijrsvt commented on #8830
What happens if you include the `--start` flag for `ray submit`.

[2020-06-09 15:37] AndreCNF commented on #8394
Thank you @gramhagen for the step-by-step explanation of your process! However, I'm still having problems when building the wheel (i.e. step 2). I'm using [this `build-my-wheel.sh` script](https://github.com/AndreCNF/ray/blob/master/python/build-my-wheel.sh), with the changes that you suggested in step 1. Can you have a look please?

Here's what I get in the terminal:
[code]

[2020-06-09 15:54] surajp92 opened #8861 "Timesteps in one iteration changes [rllib]"
I am using the appo algorithm to train my custom environment. For my problem, number of time steps in one episode is fixed at 4000 and I set the the done flag to True after 4000 time steps.

I am also fixing the length of one episode in the config file. Below are my appo algorithm parameters:
[code]
Here is the progress history of training. I have observed that the episodes in one iteration and to

[2020-06-09 16:27] alokgogate commented on #8607
Hi @rkooo567, is there an early release were this feature request is incorporated which I can test out?

[2020-06-09 21:03] alasla commented on #7793
I didn't really dig into why, but I've also run across this.  I don't get the segfault, but it doesn't work properly (ray.get() just hangs).    The brief testing I did makes me think that Ray does not work well after the fork() that happens when spawning the Process()

[2020-06-09 21:48] houcharlie opened #8870 "DQN Minibatch Option"
### Describe your feature request
Would it be possible to allow gradient accumulation for DQN?  Or is there an algorithmic reason why huge batches for gradient calculation aren't useful for DQN?

[2020-06-10 00:29] richardrl opened #8872 "AWS Secure Key"
For using Tune and AWS:
It is more secure to pull AWS access keys from the environment variables instead of putting directly in YAML. One way is to pull the keys from the local machine environment variables on "ray submit ...". Not sure if there are other ways.

[2020-06-10 04:14] ericl commented on #8870
Sure. I don't know if any such reason, though I would guess it would only be helpful if the model activations are using an huge amount of memory (i.e., much bigger than your typical RL model).

I haven't tried this out but the patch would be something like the following:

[code]

[2020-06-10 04:46] ericl commented on #8872
You can put your keys in the boto config, no need to hardcode them in the yaml. Actually any method supported by boto works.

[2020-06-10 04:48] ericl commented on #8861
You actually want timesteps_per_iter. There is also min_iter_time_s which takes precedence.

[2020-06-10 06:17] feng-pan8014 opened #8873 "trainer.restore() does not get the consistent action results as the trained trainer"
I am using the following code to save and restore a trained trainer using checkpoint.

[code]

The compute_action() output between dqn_trainer and dqn_trainer2 are not consistent (not even close).

When I run

[code]

I got {0: 2, 1: 4, 2: 2, 3: 2, 4: 490}

But when I run

[code]

I got {0: 76, 1: 81, 2: 102, 3: 82, 4: 159}

Am I missing some steps in save() and restore()?

[2020-06-10 06:47] PaddyK commented on #8452
I started with RLLIB recently, so I am not an expert. From my understanding, you have to implement your custom Trainable class that wraps the RL agent (trainer object).

Updating the parameters happens in the `reset_config` method of your trainable class. Here you have to dig a little bit into the code and see at which place the parameters that you want to perturb occur. A hot candidate probably i

[2020-06-10 07:42] KristianHolsheimer commented on #8776
Some more notes.. this is what I intended to use for GPU allocation with JAX:

[code]

[2020-06-10 10:37] drozzy commented on #8571
Possible solution would be to get rid of config dicts and replace them with named parameters.

Look at pytorch. The usage is clear and beautiful at the expense of may parameters.

But that expense is paid by the framework developer. Whereas dict config makes it easy for framework developer but hard for the end user.

[2020-06-10 10:47] drozzy commented on #8571
Additionally the common config creates a false sense of hierarchy.
The common config is not a config that is relevant to PPO, for example. It is a rllib config.

As such, it might make more sense to pass  an instance of rllib to the instance of PPO algorithm:

    rllib = RLLib(numeorkers=2)
    ppo = PPO(rllib, lr=0.01)

This is a rough sketch. But this makes it way clearer what goes where.

This

[2020-06-10 10:50] drozzy commented on #8571
Example of named parameters config:

![C17A7B6E-915D-4126-B7C7-E55C835EE398](https://user-images.githubusercontent.com/140710/84259579-b0955c80-aae6-11ea-8ddd-7951c0c2eb84.jpeg)

[2020-06-10 11:27] jordiae opened #8876 "Can't parallelize non-pickable function with initializer in Pool"
### What is your question?

According to Ray's documentation, ray.util.multiprocessing.Pool supports the same API as multiprocessing.Pool. However, I have found a relevant difference in their behavior (or, alternatively, I'm doing something wrong).

I have one non-pickable function that I want to parallelize. For this reason, I pass an initializer to multiprocessing.Pool, and it works fine because

[2020-06-10 14:48] sumanthratna opened #8877 "[projects] ray project create requires git ^2.7.0"
### What is the problem?
See the Reproduction section.

https://github.com/ray-project/ray/blob/0ba7472da92a89af9aca84de5b01a228d18340a2/python/ray/projects/scripts.py#L102-L108

Here, we should check the version of `git` and based on the version either use `git remote get-url origin` or parse the output of `git remote show origin`.

*Ray version and other system information (Python version, Tenso

[2020-06-10 14:50] sumanthratna opened #8878 "[CLI] version option"
### Describe your feature request

`ray --version` should output the version. Judging from the output of `ray --help`, it looks like Click is used. Version flags should be easy in click; see https://click.palletsprojects.com/en/7.x/api/#click.version_option.

[2020-06-10 17:37] Andrej4156 opened #8880 "[rllib] What kind of parallelization gains should be expected when using Ray?"
I'm working on my first parallelized deep learning project and I'm trying to get a sense of whether my results are normal or if there might be something wrong with my implementation.

I am running a custom environment in OpenAI in a docker container. I have tried several different learning algorithms but I've gotten the best learning results using PPO and A3C. However, there is a huge difference i

[2020-06-10 19:07] yutaizhou opened #8883 "[autoscaler] Check failed: _s.ok() Heartbeat failed: NotImplemented"
### What is the problem?
When calling ray start on worker nodes in SLURM system, not all worker nodes can be started properly. (In my experience, at most 7 nodes have been started properly, while the most I am allowed to call is 16, as set by my account limit)

[code]

Here is output from a raylet ERROR/FATAL file: (both kind of files output the same thing)

[code]

*Ray version and other system i

[2020-06-10 21:16] rkooo567 opened #8888 "[Test] Drivers don't connect to head node when connected to `cluster_util` nodes."
### Describe your feature request
When drivers are connected to the simulated cluster created by `cluster_util.Cluster`, it is randomly connected to one of nodes in the cluster. This causes issues such as this; https://github.com/ray-project/ray/pull/8882. I believe this could be a cause of some flakey tests we have. We need to apply one of these API improvement.
1. Always connect drivers to head

[2020-06-10 21:25] sven1977 opened #8889 "[RLlib] PPO not learning in complex cont. action environments."
PPO is currently not learning e.g. HalfCheetah-v2 using the `tuned_examples/ppo/halfcheetah-ppo.yaml` config (on neither tf nor torch).

ray-0.9.0dev
tf2.2.0
torch1.5.0

The problem does not occur on ray/rllib 0.8.5.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The

[2020-06-10 22:21] yncxcw opened #8890 "The training hangs when massive actors are submitted to Ray"
### What is the problem?

We have ran into an issue that seems to relate to the way that Ray submit tasks/actors.
This piece of code seems to run into a deadlock situation:
[code]
However this pice of code works fine:
[code]
**The problem we have seen**: we have seen massive of python processes are created, if you do `ps -aux | grep python3.6 | wc -l`,  you will notice the number of python process

[2020-06-11 01:01] GoingMyWay opened #8892 "[Ray and RLlib] Ray doesn't run on a machine with large number of cpus and RAM due to port exhaustion"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray: 0.9dev
Python version: 3.6
TensorFlow version: 1.15
OS: Linux

I ran my task on a machine with 2T RAM and less than 1000 CPUs, when running my task, I got

[code]

So I set the memory with 2T to avoid the memory limit error. Then I got

[code]

I did not found configs to set `--min-

[2020-06-11 01:04] yncxcw commented on #8890
Thanks for the reply

We use horovod to do the multi-GPU training. In this setting, the Rank-0 initialize the Ray cluster, and the other ranks connect to this Ray cluster. We are still doing single-node training.

Can you elaborate a bit about what this message mean?

[2020-06-11 01:05] yncxcw commented on #8890
BTW, what is the default timeout for the hearbeat ?

[2020-06-11 01:12] #8878 closed

[2020-06-11 01:21] ericl commented on #8890
You're probably creating too many actors (there is no limit by default). Does the same issue happen if you create the actor with a resource request?
[code]

[2020-06-11 02:58] mehrdadn commented on #8883
From what I understand this is due to the GCS server and Redis dying at different times. (Their lifetimes were expected to be the same.) I'm not too familiar with the problem though. CC @wumuzi520 perhaps?

[2020-06-11 03:54] acmore commented on #3432
Hi @raulchen does ray provide high level api for affnity and anti-affinity?

[2020-06-11 04:38] rkooo567 commented on #8890
Default duration is 100ms.

Workers are expected to be registered to Raylet within 30 seconds, but it wasn't. Given you are doing a single node training, it is highly likely that it is not due to lags or something.

[2020-06-11 04:43] rkooo567 commented on #8892
How many workers are you running in your machine? Each worker needs to take each port, and this highly likely happened because you have too many workers (as you are using very large machines) which takes more than the max number of ports specified by default port ranges.

[2020-06-11 05:06] rkooo567 commented on #8880
cc @sven1977

[2020-06-11 05:08] rkooo567 commented on #8876
cc @edoakes

[2020-06-11 06:40] vinamrabenara opened #8894 "No proper error message when num_return_vals is negative or not integral"
### What is the problem?
*Ray version and other system information (Python version, TensorFlow version, OS):*
    *Ubuntu 18.04.4 LTS*
    *Python 3.7.7*
    *ray-0.9.0.dev0-cp37-cp37m-manylinux1_x86_64.whl*

* For non integral values of `x`, eg. `x = 3.2` in the code below, ray doesn't give a proper error message. Instead the worker dies. This also happens when `x` is not equal to the true num re

[2020-06-11 07:18] micafan commented on #8883
I didn't add this line. But I think this line is reasonable. You shouldn't create `RedisAsyncContext` with illegal `redisAsyncContext`(e.g.: nullptr).  `RedisAsyncContext` is only a wrapper of `redisAsyncContext`.

[2020-06-11 08:06] #6774 closed

[2020-06-11 09:33] sven1977 commented on #8088
On another note: It could also be that baselines treats the action space as type=int ... in which case it would be easier to reach the 1000 reward, b/c you only had two choices (0 and 1) for each action component.

[2020-06-11 09:44] sven1977 commented on #8889
This PR will fix this issue:
https://github.com/ray-project/ray/pull/8898

[2020-06-11 09:45] sven1977 commented on #8889
The problem was: We stored the clipped action in episode._set_last_action() , instead of the originally computed one. That messes up the logp calculations and caused non-learning. The clipped action should only be used to be sent to the env.

[2020-06-11 14:41] ramondalmau commented on #7341
Hey @ericl  sorry for the late reply :)

I am approaching the problem a little bit different:

- Each agent _a_ receives a team reward _r_ at every time step _t_ (which is the sum of individual rewards), even if the agent already exited. The reason is that what an agent did before exiting may have an effect on the team return, which is what I want to maximise! If I only consider the rewards that t

[2020-06-11 15:20] surajp92 commented on #8861
I also have a question related to episode_len_mean. I am fixing the length of one episode with config["horizon"]=4000. When I use asynchronous algorithms like appo or a2c, the mean length of episode changes? Should the episode length not be constant with training iteration? Thank you.

[2020-06-11 16:17] ericl commented on #7341
I would recommend an optimization to not need the masking strategy by
calculating the discounted final reward in the env. Then, you only need to
have one "final" observation for each agent, instead of a long sequence of
noops. That should avoid the problem you mentioned but still apply proper
temporal discounting.

On Thu, Jun 11, 2020, 7:41 AM ramondalmau <notifications@github.com> wrote:

[2020-06-11 16:41] yncxcw commented on #8890
Thanks @ericl and @rkooo567, I will try you suggestion.

Regarding the timeout issue, how would `rayet` react to the timeout ? Would it create a new python worker ?

[2020-06-11 16:52] rkooo567 commented on #8890
I am not super familiar with this part, but it seems like it will just think worker creation has failed and not register them (we have this design because raylet is asynchronous). To figure out why it keeps creating new workers, I think we need more investigation, but unfortunately, I cannot reproduce this in my local.

[2020-06-11 17:08] #8779 closed

[2020-06-11 17:12] rkooo567 commented on #8779
@aefn Did you happen to figure this out?

[2020-06-11 17:14] ericsally commented on #8645
Any updates?

[2020-06-11 17:14] gabrieleoliaro opened #8902 "[ray] Build/install from source fails"
### What is the problem?
I'm trying to build Ray from source and to install it onto my Linux VM with
[code]
from within the ray/python folder. I've followed the instructions on the doc page [here](https://docs.ray.io/en/master/installation.html#building-ray-from-source). However, I am getting the following error:

<details><summary>Error details</summary>
<p>

[code]
</p>
</details>

I also tried

[2020-06-11 17:17] #8889 closed

[2020-06-11 17:28] robertnishihara commented on #8894
@vinamrabenara thanks for catching this!

[2020-06-11 17:50] ericl commented on #8685
This should be fixed in the latest release.

[2020-06-11 17:50] #8685 closed

[2020-06-11 18:30] #8711 closed

[2020-06-11 19:05] yncxcw commented on #8890
@rkooo567 For debugging issues like this, do you have any suggestions? Like switching logging level to `DEBUG` ?

[2020-06-11 19:33] ramondalmau commented on #7341
Yes. This is definitely a good proposal. Many thanks @ericl
Unfortunately, at present I was not able do apply a similar strategy because I was using the with_agents_groups wrapper. Therefore, each sample in the batch was composed by the observations of all agents, similar to the solution of https://github.com/ray-project/ray/issues/7341#issuecomment-621285967

I had a look at your recent replay im

[2020-06-11 19:53] michaelzhiluo opened #8906 "[rllib] Pong PPO and IMPALA Broken"
# What is the problem?

Pong for PPO and IMPALA are currently broken on the current Ray build. They fail to breach positive reward. Details are provided below:

<img width="1403" alt="Screen Shot 2020-06-11 at 12 51 12 PM" src="https://user-images.githubusercontent.com/20640975/84432881-4cf05980-abe2-11ea-8c54-68e0507baa31.png">

Same runs with different seeds:
<img width="849" alt="Screen Shot 20

[2020-06-11 19:55] michaelzhiluo commented on #8889
Thank you for the quick fix Sven!

[2020-06-11 20:06] richardliaw commented on #8147
This is addressed in #8731

[2020-06-11 20:06] #8147 closed

[2020-06-11 20:22] richardliaw commented on #8394
bump @gramhagen or @eisber ?

[2020-06-11 20:23] #8383 closed

[2020-06-11 20:23] richardliaw commented on #8413
Ah yes; there's a workaround but we should push this. I'll make a new PR.

[2020-06-11 20:23] #8413 closed

[2020-06-11 20:29] richardliaw opened #8907 "[raysgd] num_steps does not allow you to sample without replacement"
num_steps right now doesn't allow you to continue training from the subsampled dataset. This may affect results.

This is easy to address (and I have code to push for this).

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your scri

[2020-06-11 20:50] sven1977 commented on #8685
This looks like a bug in your policy not producing an action according to its action space. But again, we cannot look into this unless we have a (small) repro script with which we can debug.

[2020-06-11 21:37] mehrdadn commented on #8902
Would you mind trying the following and posting the result?

[code]

[2020-06-11 21:47] rkooo567 commented on #8749
Close as the PR is merged

[2020-06-11 21:47] #8749 closed

[2020-06-11 23:00] gabrieleoliaro commented on #8902
Sure! I've just ran it. This is the terminal output I get:

[code]

[2020-06-11 23:02] mehrdadn commented on #8902
Ah shoot, I thought it would show a stack trace :\ never mind, sorry about that!

[2020-06-11 23:03] gabrieleoliaro commented on #8902
no worries! I'll try to build/install with Anaconda on Ubuntu 18.04 in the meantime

[2020-06-11 23:26] rkooo567 commented on #8890
cc @stephanie-wang @ijrsvt

He gets a single container (node) from his Kubernetes cluster and run
`ray.init(lru_evict=False, redis_port=redis_port, include_webui=False)`

At each epoch, he creates 40 actors and kill all of them.
[code]

He's seen issues that number of actors increased indefinitely. (possible worker leaks)
[code]

[2020-06-11 23:27] ericl opened #8908 "[rllib] Should remove vf_clip param from PPO"
### Describe your feature request

According to https://arxiv.org/pdf/2006.05990.pdf, we should remove VF clipping since it doesn't help. VF clipping has historically been a common cause of user problems in RLlib anyways, so this might be a nice double win.

Note: it seems the paper only evaluates relatively small epoch sizes (at most 4096 steps), whereas many of our examples are tuned for much hi

[2020-06-11 23:36] ericl commented on #8908
Note: it seems the paper only evaluates relatively small epoch sizes (at most 4096 steps), whereas many of our examples are tuned for much higher batch sizes (up to 320k steps), which tend to reach higher final rewards. We might want to re-benchmark these to make sure VF clipping still doesn't matter.

[2020-06-12 00:37] GoingMyWay commented on #8892
There were 8 rollout workers, and each had 8 envs.

[2020-06-12 01:39] ashione commented on #8902
Can you show us how many cpu and memory in this machine?
There is no enough memory when all cpu cores are enabled, so bazel build crash/interrupted (actually it's root cause in our builder pipeline).
Perphas it's helpful to add `build --jobs=4` in ray/.bazelrc.

[2020-06-12 01:50] gabrieleoliaro commented on #8902
@ashione Thanks a bunch for the tip! I'll try to re-run with the --jobs=4 option. My laptop has 8gb of ram with a Intel i7 quad-core. For the VMWare VM where I'm building Ray I reserved 4gb of RAM and 4 processor cores. When I ran htop during the build process, all four processors where at close to 100% utilization.

[2020-06-12 01:54] ashione commented on #8902
If there is less memory, you can properly reduce the number of CPU cores when executing bazel build.

[2020-06-12 02:27] ericl commented on #8880
This sounds normal, RL scaling is complicated. PPO operates in two phases so you're probably seeing the SGD bottleneck come into play.

https://docs.ray.io/en/master/rllib-training.html#scaling-guide

[2020-06-12 02:56] raulchen commented on #8902
I've seen a similar issue before, bazel was killed due to out of memory.

We use the workaround that @ashione suggested above. Reducing the number of concurrent jobs will also reduce memory consumption.

[2020-06-12 04:10] richardliaw commented on #8092
ETA 3-4 days. Try out #8471 - it's working now, just need to write docs.

[2020-06-12 06:13] aefn commented on #8779
No, as I didn't get any answer after 7 days, I closed this.
I solved my issue by running the ray cluster manually. I start ray manually in each node.

[2020-06-12 06:47] richardrl opened #8911 "[docs] Issue on `tune/tutorials/tune-distributed.rst`"
# Documentation Problem/Question/Comment
In "Recovering From Failures", the example command is incorrect. The first argument should be the experiment name of the experiment you are resuming.

(Created directly from the docs)

[2020-06-12 07:18] rkooo567 commented on #8892
cc @edoakes

Can you try `ps -aux | grep "ray::" | wc -l` and show me the output when you run Ray? Also, did it work when you just run Ray? Something like this.

[code]

[2020-06-12 09:25] TomVeniat opened #8913 "[Tune] ProgressReporter default_columns is shared across instances"
### What is the problem?
When adding a new column to a ProgressReporter that used the `DEFAULT_COLUMNS` during its creation, this column will be added to the actual default dictionary. This can cause several unexpected behaviors.
For instance, when creating several experiments with custom columns for each of them, using the same column multiple times will break (see reproduction).

### Reproductio

[2020-06-12 12:14] gabrieleoliaro commented on #8902
@ashione @raulchen @mehrdadn
I finally got it to work! Thanks everyone for the help! I ended up adding `build --disk_cache=~/bazel-cache --local_ram_resources=HOST_RAM*.5 --local_cpu_resources=2 --jobs=2` to the ~/.bazelrc file before running `pip install -e . --verbose` and the issue disappeared.

[2020-06-12 12:14] #8902 closed

[2020-06-12 12:54] ChuaCheowHuan commented on #8452
Hi @omri-axon-vision, @PaddyK, I'm new to ray as well. I managed to find a Humanoid-v1 [example](https://github.com/ray-project/ray/blob/60d4d5e1aaa9fde3cf541ee335e284d05e75679c/python/ray/tune/examples/pbt_ppo_example.py) but  I'm not sure if the current PBT scheduler will work with a MARL environment. Can someone please confirm this? Thanks!

As pointed out by @PaddyK, access to a `trainer` obje

[2020-06-12 12:58] trunghlt commented on #8539
Hi @richardliaw, I just wonder if you have got time to look at this issue yet?

[2020-06-12 16:33] richardliaw commented on #8539
There's not enough information for me here - can you provide a longer stack trace?

Also, https://github.com/apache/incubator-mxnet/issues/17826 seems to suggest some workarounds. Specifically you might want to check if something like what they do in this repo works too (mx.gpu()): https://github.com/aws-samples/parallelize-ml-inference/tree/master/src/ml-inference

[2020-06-12 16:45] rkooo567 opened #8915 "[Release] Serve failure test check fails; Check failed: num_attempts < RayConfig::instance().gcs_service_connect_retries() No entry found for GcsServerAddress"
### What is the problem?
Serve failure test fails with a check failure `Check failed: num_attempts < RayConfig::instance().gcs_service_connect_retries() No entry found for GcsServerAddress`. This didn't happen before, and we could succeed to run it for many days.

[code]

### Reproduction (REQUIRED)
This happens within a minute at a `m5.2xlarge` instance
Run `./ci/long_running_test/workload/serve_

[2020-06-12 16:56] 20zinnm commented on #8805
@mfitton I've verified that I encounter this issue with both Firefox and Chrome on Red Hat Enterprise Linux Server release 7.6 (Maipo) and Windows 10 Education 2004 (19041.329). I suspect the React code is just expecting an empty list of errors but for whatever reason the list is omitted instead.

[2020-06-12 18:27] allenyin55 opened #8917 "[core] Reference counting not working as expected in local mode."
### What is the problem?
The following script works in regular mode but fails with a ref counting error when run in local mode.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: 0.8.5
Python: 3.7.4
OS: MacOS 10.15.3

### Reproduction (REQUIRED)
[code]
This script fails with the following error
[code]
If we cannot run your script, we cannot fix your issue.

[2020-06-12 18:29] rkooo567 commented on #8917
cc @stephanie-wang @ijrsvt

[2020-06-12 19:13] richardliaw commented on #8883
@micafan is there a bug in the code?

Also, what should the user do in this case?

[2020-06-12 21:04] deanwampler opened #8919 "[rllib] rllib train ... --checkpoint-at-end flag is ignored"
### What is the problem?

Ray 0.8.5
Python 3.7
MacOS Catalina
PyTorch 1.4.0

No checkpoint is produced when the `--checkpoint-at-end` flag is used. Adding `--checkpoint-freq 10` does cause checkpoints to be saved.

### Reproduction (REQUIRED)

[code]

No checkpoint directory exists under `~/ray_results/default/PPO...`

Add the `--checkpoint-freq 10` flag:

[code]

Now there are `checkpoint_10` and

[2020-06-12 21:10] ericl commented on #8892
Can you try passing those args to ray.init / start? Btw, how is it possible to have 2000 CPUs on a machine?

[2020-06-12 21:14] ericl commented on #8819
I think this is expected behaviour (this isn't an error, just an info message).

[2020-06-12 21:15] ericl commented on #8813
Fixed

[2020-06-12 21:15] #8813 closed

[2020-06-12 22:49] SyedBilalMehdi opened #8920 "[rllib] connection.py raising error in some runs"
While setting up some experiments, I faced some issues pretty quickly when I started to modify some of the example files provided with rllib. Specifically, I created an experiment by modifying the example file hierarchical_training.py by replacing line 200-224 with

`

        import ray.rllib.agents.ppo.ppo as ppo

        ppo.PPOTrainer(

            env=HierarchicalWindyMazeEnv,

            co

[2020-06-12 23:38] #8830 closed

[2020-06-13 02:21] richardliaw opened #8923 "[ray] Raylet logs is blasting output"
### What is your question?
Can we improve the logging mechanisms and output for `ray.init`?

With such verbose output, it is hard to seamlessly integrate Ray into a library that actually cares about output.

2020-06-12 19:19:13,519 INFO resource_spec.py:212 -- Starting Ray with 4.98 GiB memory available for workers and up to 2.51 GiB for objects. You can adjust these settings with ray.init(memory=

[2020-06-13 06:12] LecJackS commented on #8824
After lots of trial and error with custom loggers, found a perfect example code in the documentation (should have search for "Custom Metrics")

https://docs.ray.io/en/latest/rllib-training.html#callbacks-and-custom-metrics

So if the envs returns
`observation, reward, done, {'unormScore': x, 'someOtherData': y}`

We can log those info values only defining this class and calling it on tune.run

[co

[2020-06-13 06:12] #8824 closed

[2020-06-13 06:33] ericl commented on #8923
This isn't the first time this has regressed. We should add a unit test checking the output.

[2020-06-13 09:19] GoingMyWay commented on #8892
Hi, I found `--min-worker-port` and `--max-worker-port` are not in `ray.init` right? After checking the machine, there are 500 CPUs and 2000G RAM on the machine.

[2020-06-13 18:37] deanwampler opened #8926 "[rllib] rllib rollout should support --ray-address option"
### Describe your feature request

This option is supported by `rllib train`. The only workaround appears to be `RAY_ADDRESS=auto rllib rollout ...`

The example shows that I want to prevent `rllib` from creating a new cluster when one is already running.

[2020-06-14 02:12] matej-macak commented on #8088
Hi @sven1977, the `action_space` is of `type==float`. I have checked the `action` vector in the step and it is not producing binary results. I think the hyperparameter search definitely helps. I have been working on a similar, more complex, problem that inspired this question and my finding is that `rllib` seems to have a more stable but slower convergence than `stable baselines` that is faster bu

[2020-06-14 04:12] rkooo567 commented on #8915
cc @ffbin

[2020-06-14 04:54] #6197 closed

[2020-06-14 04:55] #4784 closed

[2020-06-14 05:16] micafan commented on #8883
I am not familiar with this test case, but it seems `GCSClient ` already disconnected with `Redis`, so the crash here isn't  unexpected.
`GCSClient ` will support reconnect with `Redis` in future, by then the problem will be solved.

[2020-06-14 13:53] sven1977 commented on #8919
Thanks @deanwampler for filing this!
PR https://github.com/ray-project/ray/pull/8933
fixes this issue. Closing it now.

[2020-06-14 13:53] #8919 closed

[2020-06-14 15:37] sundy321 opened #8934 "[rllib]How to stop a RolloutWorker after the end of interaction with a env?"
### What is your question?
     My question is how to stop a RolloutWorker after the end of its task?

0. my softs and system:
    Ray: 0.9.0
    Python:3.6
    pytorch:1.3.1
    os: ubuntu 18.04
1. my env:
[code]
2. my tune code:
[code]

3. The question in detail:
     3.1 There are  two RolloutWorkers in my config, whose worker_index is 1 and 2;
     3.2 When the first worker comes to end,  inte

[2020-06-14 19:05] sven1977 commented on #8714
@rpandya922 Thanks for filing this issue!

The following PR fixes it:
https://github.com/ray-project/ray/pull/8936

Closing this now. Please feel free to reopen should it still not work on your end.

[2020-06-14 19:05] #8714 closed

[2020-06-14 19:14] sven1977 commented on #8714
Oh, I forgot! Also, your grouping is kind of wrong. You are defining the agents as strings: "1", "2", and "3", but in the env, they are returned as ints 1, 2, and, 3. This then leads to the grouped observations not being recognized properly. Just change the "tune.run" call to:
[code]
and it should work.

[2020-06-15 00:16] gramhagen commented on #8394
@AndreCNF not sure why that build failed?

But I found some time and added a PR (#8938) to address this. There's a wheel built for python3.7 here: https://sdgraystorage.blob.core.windows.net/ray-wheels/ray-0.9.0.dev0-cp37-cp37m-manylinux1_x86_64.whl

Just install that and grab changes in the new [example-full.yaml](https://github.com/ray-project/ray/blob/c984f3b4f3870232356d56505bfdc1c7e447eb55/py

[2020-06-15 01:31] surfingkaka commented on #8627
Hi,
I spent quite a bit of time trying to figure out how to wire the RNN in/out to DQN policy graphs. Ref [https://github.com/ray-project/ray/issues/3148](https://github.com/ray-project/ray/issues/3148)

I figured out how to initialize the policy graph. I am stuck when it tries to sample the batch. I am trying to debug using the PPO example for a simple RNNModel(). It is is in one of the examples.

[2020-06-15 03:59] ericl commented on #8627
This should be somewhat easier after
https://github.com/ray-project/ray/pull/8893 (available in latest wheels).

Eric

On Sun, Jun 14, 2020 at 6:31 PM surfingkaka <notifications@github.com>
wrote:

[2020-06-15 05:21] rkooo567 opened #8940 "[Dashboard] Dashboard node stats not working properly."
### What is the problem?

I found these logs from `dashboard.err` pretty easily.

I guess some stuff is not properly parsed.

[code]

[2020-06-15 06:05] rkooo567 opened #8942 "[GCS][Dashboard] GCS pubsub is incompatible to the dashboard in many times."
### What is the problem?
As described here, Error channel's channel name is just called `b'9'`, and the log channel's pattern is not properly parsed (`"pattern": None`).

[code]

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

It is always broken.

[2020-06-15 06:06] rkooo567 commented on #8942
@ffbin

[2020-06-15 06:13] rkooo567 commented on #8942
I could apply the hotfix (https://github.com/ray-project/ray/pull/8944), but I think we should
1. have consistent pubsub parsing logic through a centralized classes. For some reasons, we should create a Python `PubSubManager` class that has APIs around publish / subscription / parsing.
2. have a consistent way to publish messages all over Ray. Now there's too many ways to do this, and it is kind o

[2020-06-15 09:22] fahadh4ilyas opened #8946 "Creating Queue for Transfering Data from One Group of Actors to Another"
## System information

* **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.3 LTS
* **Ray installed from (source or binary)**: source
* **Ray version**: 0.9.0.dev0
* **Python version**: 3.6.6

## Describe the problem

I have 2 classes, they are processing data in order like this:
[code]
The first class is using core more intensively than the second class. I have two nodes in

[2020-06-15 10:36] Cryptiex commented on #8674
Any update on this? @richardliaw

[2020-06-15 11:04] maxpumperla opened #8947 "Issue in Ray RLlib when using action masking in MultiAgentEnv"
I have a running example of an action masking agent for a `gym.Env` following your [rough sketch in the docs](https://docs.ray.io/en/master/rllib-models.html#variable-length-parametric-action-spaces), works fine (using MacOS, Python 3.7, latest available Ray).

As suggested, my observations space looks like this:
[code]

which makes my observations a `dict`. All good so far. But when I change to a

[2020-06-15 16:01] thomasdesr opened #8948 "[core] Ray should faithfully propagate exceptions from tasks"
### Describe your feature request
If an exception is thrown in a task, that exception should be fully serialized and re-thrown when the result of that task is fetched (assuming serializability).

The specific gap I'm hitting is that while Ray will propagate the exceptions' class it does not propagate the specific instance of the exception. This means that while I can catch the same exception type;

[2020-06-15 16:39] yutaizhou commented on #8883
Is there anything that a user can do aside from waiting for the support? I'd like to run some experiments for a HPC conference paper with 64 nodes (current limit at 16, but I plan to ask for an extension from our HPC team), but if Ray can only spin up 7 out of the 16 I have, it's hard to be optimistic and think "well that's almost half of the allocated nodes, so with 64 as the limit, I should be a

[2020-06-15 16:41] rkooo567 commented on #8940
Duplicated with https://github.com/ray-project/ray/issues/8942

[2020-06-15 16:41] #8940 closed

[2020-06-15 16:42] richardliaw commented on #8883
@yutaizhou do you have any logs of redis? (i.e., all of the logs in /tmp/ray/session_latest/logs would be helpful here)

[2020-06-15 16:45] richardliaw commented on #8674
@jdavid04 @Cryptiex I think the solution is to use a [ConcurrencyLimiter](https://docs.ray.io/en/master/tune/api_docs/suggestion.html#limiter). Let me know if this works; we may have to revisit the interface..

[2020-06-15 17:25] rkooo567 opened #8949 "[Serve] Failure test uses ray.kill(no_restart=True)"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

#TL;DR
When an actor task failed because the actor died, it throws an `ActorTaskException` although `max_retries` is set to be `-1`. It should not throw an exception in this case.

# Story
- https://github.com/ray-project/ray/issues/8915 dicovers that `serve_failure` test consistently fa

[2020-06-15 17:26] rkooo567 commented on #8915
Will be closed by #8948

[2020-06-15 17:35] #8394 closed

[2020-06-15 17:50] richardliaw commented on #8092
This should be merged on master. An example of using the FunctionAPI with PBT can be [found here](https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/pbt_function.py). You should be able to swap it out for BOHB.

[2020-06-15 17:50] #8092 closed

[2020-06-15 17:54] richardliaw commented on #8772
Sorry for the delay, this should be fixed in #8471. Can you please try again on the [latest master wheels](https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies) and ping me if you still see this?

[2020-06-15 17:56] richardliaw commented on #8701
Hm, you're calling `torch.cuda.empty_cache()` but you're now running into Tensorflow issues?

The last thing you should try is to move all of the imports (tensorflow, pytorch) into the Trainable object.

[2020-06-15 17:58] richardliaw commented on #8548
(logger.close) is what you want.

[2020-06-15 17:58] #8548 closed

[2020-06-15 18:09] stephanie-wang commented on #8883
@micafan, I don't think that is the full story here. The fact that some nodes are able to connect means that Redis/GCS is still alive, right? So why are only some of the nodes failing with that error?

[2020-06-15 19:33] richardliaw commented on #8729
Can you again try moving the tensorflow import into the training function scope?

[2020-06-15 20:20] wallneradam commented on #8873
I've had similar problem...
I think, the reason is that DQN has random exploration. You can turn it off by config parameter:
[code]

[2020-06-15 20:54] robertnishihara opened #8950 "Performance issue with many large tasks on 10 node cluster."
### What is the problem?

Creating 10,000 1-second tasks on a 10-node cluster with 704 CPU cores should take 15 seconds. Instead, it takes about 71 seconds.

*Ray version and other system information (Python version, OS):*
- Latest Ray 6c49c01837ef9d83b998a2ec1a269a1a6767fc66
- Ubuntu 18.04 (AMI)
- Python 3.7 (latest Miniconda)

### Reproduction (REQUIRED)
Please provide a script that can be run t

[2020-06-15 20:54] robertnishihara opened #8951 ""ray timeline" command fails when RAY_ADDRESS is set"
[code]

[code]

This fails with

[code]

[2020-06-15 21:57] stephanie-wang commented on #8949
Still planning on fixing this in the next week or so, but I'm downgrading to P0 since it only affects failure cases.

[2020-06-15 22:00] edoakes commented on #7632
@arsedler9 do you think you could post the logs in the raylet from the worker nodes? They should be in `~/tmp/ray/session_latest/logs/raylet.{out,err}`. That should help us figure out what's going wrong.

[2020-06-15 22:06] feng-pan8014 commented on #8873
thanks, I will try it. I was expecting random explore to only have limited affect, not causing a completely different distribution.  Is there a way to set the exploration rate in the config?

[2020-06-15 22:19] stephanie-wang commented on #8949
Turns out the issue is that the test is using `ray.kill` with the default option of `no_restart=True`, which permanently kills the actor.

[2020-06-15 22:20] Nithanaroy commented on #8729
Yeah, it works that way but is that the only solution? In v0.7.6 this
additional import wasn't necessary.

--
Nitin @ LinkedIn <http://bit.ly/nitinpasumarthy>

On Mon, Jun 15, 2020 at 12:33 PM Richard Liaw <notifications@github.com>
wrote:

[2020-06-15 22:34] #8949 closed

[2020-06-15 23:39] wyattlansford commented on #8772
Hey Richard, I am having the same issue. I just tried on the latest master commit and am now getting the following:

[code]

[2020-06-15 23:49] robertnishihara commented on #8950
Here is the timeline JSON for chrome://tracing (need to remove the .pdf from the name).

[timeline.json.pdf](https://github.com/ray-project/ray/files/4782967/timeline.json.pdf)

[2020-06-16 00:59] ericl commented on #8947
How are you defining the multiagent config? I think this should work (based on the `test_multi_agent_complex_spaces` unit test).

The multiagent config should be something like
[code]
then the env should return
[code]

[2020-06-16 01:38] #8942 closed

[2020-06-16 01:50] arunmk opened #8958 "Kubernetes: Resource Detection is not correct"
### What is the problem?

Ray 0.8.0, 0.8.5

### Reproduction (REQUIRED)
This is simple, use a kubernetes install wherein the pod CPU does not match the host CPU. In the pod, run a python shell (`kubectl exec -it <pod name> -- python`) and try:
`
ray.available_resources()
ray.cluster_resources()
`
These will report the host resources and not the pod resources. The incorrect details are for CPU, mem

[2020-06-16 02:25] yutaizhou commented on #8883
@richardliaw i actually get nothing. The $tmpdir that i pass here is empty, for both nodes that spun up and didn't.

`srun --nodes=1 --ntasks=1 -w $node1 unset.sh && ray start --temp-dir=$tmpdir --block --head --redis-port=$port &`

tmp/ray/session_latest/logs does not get created, presumably because I already pass in $tmpdir

[2020-06-16 02:27] mehrdadn commented on #8883
@yutaizhou This isn't officially documented (so it might change/stop working in the future), but at the moment it should work: could you try running Ray after setting the environment variable `GLOG_logtostderr=1`? It should print everything to the terminal.

[2020-06-16 02:39] ericl commented on #8906
I'm not able to reproduce this on tensorflow_p36 with TF1.15. These are plots for 4 trials each on 0.8.4, 0.8.5, and master:

![image](https://user-images.githubusercontent.com/14922/84725605-e3ed4680-af3f-11ea-8adb-923b26e30f5a.png)

@michaelzhiluo @sven1977 how were you able to reproduce the problem?

[2020-06-16 03:31] #8915 closed

[2020-06-16 03:45] richardliaw commented on #8772
I think this is a league_play.py specific issue. RLlib expects a path, while you're passing in a checkpoint_dir?

[2020-06-16 03:58] AndreCNF commented on #8394
Everything is working perfectly well now after @gramhagen's PR [#8938](https://github.com/ray-project/ray/pull/8938)! Thank you all for fixing this and helping me!

[2020-06-16 04:01] kakakflo22thy opened #8961 "[rllib]Program Failed to feed inputs to the model after running 10 iterations"
### What is the problem?

* Ray version  0.8.5
* tensorflow-gpu  1.15.2
* python 3.6.8
* Linux version 4.18.9-1.el7.elrepo.x86_64 (mockbuild@Build64R7) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-28) (GCC)) #1 SMP Thu Sep 20 09:04:54 EDT 2018

I rewrite the td3(ddpg) agent in rillib by adding a new VAE network and a cost network(set FLAG False so it's not used yet) to the model and supplementing va

[2020-06-16 04:18] robertnishihara commented on #8950
Should try reproducing it on a 2-node cluster since that might be simpler to debug.

[2020-06-16 07:08] maxpumperla commented on #8947
@ericl if I don't use action masking in the multi agent env, the example runs seamlessly. so unless you're saying I should change my config for action masking, I think my setting should be fine.

[2020-06-16 07:14] rkooo567 commented on #8946
The clearest way is to use detached actor. https://docs.ray.io/en/latest/advanced.html#detached-actors

[code]
And you can get this actor handle from other scripts using `ray.get_actor("data-queue")`

[2020-06-16 07:24] Guoth commented on #7173
hey, I can't use NormalizeAction in the MultiAgentEnv,too. I tried to add it to the MultiAgentEnv, but failed.  have you fixed it? @yannbouteiller

[2020-06-16 07:25] ramondalmau opened #8965 "[rllib] Access to global (env) observations"
Dear all

I am trying to build a system that looks as the attached figure:

![global_obs](https://user-images.githubusercontent.com/29059673/84740546-de2e4a00-afad-11ea-96c9-8df2673d9d6c.png)

Essentially, I have set of N agents which interact in a multi-agent environment. At every time step, each agent has its own observation, and they can communicate with each-other using a **differentiable comm

[2020-06-16 07:40] maxpumperla commented on #8947
@ericl Just to confirm, if you run the [parametric cartpole example](https://github.com/ray-project/ray/blob/master/rllib/examples/parametric_actions_cartpole.py) from master, but change the definition of `ParametricActionsCartPole` to extend a `MultiAgentEnv`, i.e. like so:

[code]

you'll get a reproducible example of my error, namely the following:

[code]

in which the system expects a `dict`

[2020-06-16 08:03] ericl commented on #8947
Hey I think this is the expected behaviour: fundamentally, multi agent envs
return dicts of obses keyed by agent id, and requires some changes to get
your obs to work. I would start with a working multi agent env, then change
the obs space to a complex type with e.g., action mask, etc.

Eric

On Tue, Jun 16, 2020 at 12:41 AM Max Pumperla <notifications@github.com>
wrote:

[2020-06-16 08:07] pdames opened #8967 "[autoscaler] AWS Autoscaler CloudWatch Integration"
This issue tracks a set of improvements to enable automatic creation of CloudWatch logs, metrics, and dashboards when provisioning AWS Autoscaling clusters. Successful implementation of these improvements will allow AWS Autoscaler users to:

* Write, monitor, and query their cluster's CloudWatch log streams.
* Emit and monitor durable CloudWatch metrics for their clusters.
* Configure CloudWatch m

[2020-06-16 08:18] maxpumperla commented on #8947
@ericl what you propose is exactly what I did already!

I'd appreciate if you guys could at least have a _look_ at this issue before making this my problem. I'm here to figure out what "some changes" are.

Honestly, I'm not sure how this is supposed to be expected behaviour. the error does not happen on the "obs level", but deeply in `sampler.py` and `preprocessor.py`, where your system makes an i

[2020-06-16 08:34] ericl commented on #8947
I understand the frustration with bad error messages, but I really think this is a misconfiguration. I took a stab at adapting the parametric cartpole env to run as a multi agent env with one agent, which works for me:

[code]

[2020-06-16 09:04] maxpumperla commented on #8947
@ericl ok, got it. so you need to manually wrap your observation using a dummy key, here called `"a"`. Thank you!

I didn't mean to complain, I'm genuinely interested in helping improve the system. The `config` is central to everything you do internally, but it's also as leaky an abstraction as possible. Essentially,  users adapting examples slightly need to have an understanding of the complete i

[2020-06-16 09:11] maxpumperla commented on #8947
I guess what I'm saying is that everything and anything in ray comes down to masterfully tweaking a config object, but it's fundamentally the job of this project to provide a stable, useful API to users that works without them having to rely on knowledge about the codebase. I spend _way more time_ on your GitHub than on your docs (and I know lots of other people who do the same), and this is usual

[2020-06-16 10:36] jetjodh commented on #8701
I used tf for padding the sequences in my dataset object. Is that causing these problems?

[2020-06-16 12:08] YuejiYang opened #8969 "Backend Redis sharding and replication management for fault tolerance and high availability"
Based on my understanding which may be wrong, all shardings and replications of Redis servers live on the head node. This may hurt the fault tolerance and HA of the system in a cluster environment.
I am curious about the implementation of the "per-shard chain replication". I think there should a credis module as commented in the code, but it seems not used yet.
So, can anyone help me with my quest

[2020-06-16 13:31] wyattlansford commented on #8772
Yep, seems like you're right. The fix you made seemed to have fixed the first issue for me though. Thanks

[2020-06-16 13:33] #8947 closed

[2020-06-16 13:34] maxpumperla commented on #8947
ok, I dug a little deeper into this. thanks for your help @ericl.

[2020-06-16 14:35] yannbouteiller commented on #7173
No sorry, I didn't retry since.

[2020-06-16 15:48] arsedler9 commented on #7632
Thanks @edoakes! Here is the output from the raylet logs. Looks like `.out` has some info, but `.err` is empty.
[code]

[2020-06-16 16:08] stefanbschneider opened #8971 "[rllib] AttributeError: 'list' object has no attribute 'keys'"
I have a custom Gym environment that I previously solved with `stable_baselines`. I'm now trying to migrate to `RLlib`. I adjusted the environment as described in the docs. Unfortunately, there is still an error that I don't understand and have no idea how to debug it:

[code]

The error occurs shortly after calling `trainer.train()`. Unfortunately, I cannot disclose my source code, but was hoping

[2020-06-16 16:42] JamieMair commented on #8262
I am having the same issue on my machine using the code above (modified to use the tensorflow policy). I am also having the issue with my own, different code. The trace is:

`raceback (most recent call last):
  File "/home/jamie/anaconda3/envs/excursionrl/lib/python3.8/site-packages/ray/tune/trial_runner.py", line 467, in _process_trial
    result = self.trial_executor.fetch_result(trial)
  File "

[2020-06-16 16:49] pdames commented on #8420
Additional improvements related specifically to CloudWatch integration are available at https://github.com/ray-project/ray/issues/8967.

[2020-06-16 16:59] ericl commented on #8947
Where would be a good place to add this? Depending on what doc you read it might not have clear. Fwiw it's at least in the doc string for multiagent env: https://github.com/ray-project/ray/blob/master/rllib/env/multi_agent_env.py#L56

Btw it's not really a hack to wrap in a, fundamentally multiagent envs are about returning a dict mapping from agent IDs (here 'a') to their observations.

[2020-06-16 17:11] maxpumperla commented on #8947
@ericl yeah I realized my problem was a little different than the cartpole one, I already had a proper multi-agent setup. I initially thought you were proposing to wrap everything in an extra "a" to make it work, hence I said hack. That was simply a misunderstanding as it turns out. I was applying the masking step for multi-agent envs incorrectly, as I figured out when applying your code snippet t

[2020-06-16 17:13] ericl commented on #8947
Sounds great! Btw, we're going to add type hints soon, which should help
out a bit here.

On Tue, Jun 16, 2020, 10:11 AM Max Pumperla <notifications@github.com>
wrote:

[2020-06-16 17:18] maxpumperla commented on #8947
that's great! do you discuss stuff like this (type hinting etc.) in your slack? Maybe we can discuss here and there.

I'm likely presenting at the next Ray Summit Connect in July, so I guess I'll see you there (in zoom or so).

In any case, thanks again for the quick turnaround!

[2020-06-16 20:27] jkhlr opened #8974 "Bazel options written to .bashrc instead of .bazelrc in deploy Dockerfile"
https://github.com/ray-project/ray/blob/fa0a677aacf90d73514a813cb95c26b122fde5cd/docker/deploy/Dockerfile#L9

This leads to the following error when running the `deploy` docker image:
[code]

[2020-06-16 20:38] ericl commented on #8947
Yea I think slack would be a good place to discuss improvements!

See you at ray summit.

On Tue, Jun 16, 2020, 10:18 AM Max Pumperla <notifications@github.com>
wrote:

[2020-06-16 20:56] vtomenko opened #8975 "[tune/autoscaler/docker] GPU support in docker"
### GPU support in docker
Reading docs on [Automatic Cluster Setup](https://docs.ray.io/en/master/autoscaling.html), section "Docker":

However, [aws/example-gpu-docker.yaml](https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/aws/example-gpu-docker.yaml) coupled with [merged PR](https://github.com/ray-project/ray/pull/3921) suggests GPU is supported.

Could you please clarify and

[2020-06-16 21:02] richardliaw commented on #8975
Hey @vtomenko - you might run into some bugs with the current state of the code, but @ijrsvt is hard at work on improving this right now.

@ijrsvt feel free to chime in

[2020-06-16 22:07] orm011 opened #8976 "[tune] best practices for parallel hyper-param search on a pytorch-lightning module ?"
### what does the ray community see as good ways to interface with pytorch lightning?

I'm new to Ray, and to some extent to pytorch lightning (less than a month). My use case was as follows.

I developed  a model as a LightningModule. l tried a few hyperparameters that seem relevant.  I wanted to do a more thorough hyperparameter search parallelized across trials, and I saw the tutorial on differ

[2020-06-16 22:14] richardliaw commented on #8976
You should be able to do this with a PTL callback. Create a custom callback and then simply call `tune.report` inside the callback [(see the Keras callback for an example)](https://github.com/ray-project/ray/blob/fa0a677aacf90d73514a813cb95c26b122fde5cd/python/ray/tune/integration/keras.py#L4) .

[2020-06-16 22:30] #8588 closed

[2020-06-16 22:32] ericl commented on #8965
@ramondalmau in principle this is possible with lockstep mode if you're directly implementing `learn_on_batch` for a policy. This is because that method gets full access to the entire batch of steps from all agents regardless of policy.

However, the current TF/TorchPolicy templates will only receive data from data for agents of that policy, so this optimization isn't possible. We're working on im

[2020-06-17 02:07] WangTaoTheTonic opened #8982 "[BUILD]trivial bug in check_import_order.py"
### What is the problem?

in check_import_order.py we check if codes import ray before importing psutil/setproctitle using the line number we found in single file.

but the line number always point to the last line the import at. for example we have  real  `import ray` in file header and another `import ray` in functions like run_string_as_driver. we need add extra but unnecessary `import setproct

[2020-06-17 03:05] GoingMyWay opened #8983 "[Ray] Correctly detect CPUs and RAMs in Docker"
### Describe your feature request

When running tasks in Docker, Ray detects CPUs and RAM of the host machine, regardless of CPUs and RAM assigned to docker tasks, could you please use `nproc` to detect CPUs and RAM correctly? The detecting method can incur bugs like this

[code]

References:
* https://github.com/ray-project/ray/issues/8326
* https://stackoverflow.com/questions/49151296/how-many-c

[2020-06-17 04:09] rkooo567 commented on #8974
cc  @ijrsvt

[2020-06-17 04:15] rkooo567 commented on #8983
cc @ijrsvt Seems like this should be a high priority?

[2020-06-17 04:23] rkooo567 commented on #8892
Yeah I believe those options are only available for `ray start`. Can you try start running your cluster using this CLI?

[2020-06-17 04:43] rkooo567 commented on #8969
cc @raulchen

I believe we are not fully HA for now. As you said, if the Redis at the head node is broken, the cluster will be crashed. Not sure if "per-shard chain replication" in Redis is implemented. Maybe @raulchen can answer this.

We are currently in active progress to separate the GCS (in our default case Redis) from the head node and pluggable, so that users can plug any HA backend (e.g.,

[2020-06-17 05:33] ijrsvt commented on #8974
Thanks for catching this @jkhlr!

[2020-06-17 05:36] vtomenko commented on #8975
Hey @richardliaw - thanks for your reply, I'll give it a try and let you know guys know what happened.

It is also great to hear you are working on this - I believe stable autoscaler + docker with GPU support combination would be really beneficial for many ML scenarios because it cleanly separates concerns:
-  high-level cluster description including instances details handled by cluster YAML
-  sp

[2020-06-17 06:15] ramondalmau commented on #8965
Got it. Yes indeed... the TF/TorchPolicy will only receive data from agents using the same policy.
Yet, I must say that ALL my agents are supposed to be homogeneous, so ideally there is only one policy to be learned, and all agents contribute to update the shared weights. Last figure was quite abstract. I am going to be more concrete :)

Long story short: different from typical MARL, in which agen

[2020-06-17 06:34] ijrsvt commented on #8983
@GoingMyWay do you have a simple reproduction script? Also, is this from you using Tune or Core Ray?

[2020-06-17 06:40] #5853 closed

[2020-06-17 06:41] ijrsvt commented on #8975
@vtomenko Please do let us know what the result is for running it with GPUs! If you have any further questions or problems please let me know!

[2020-06-17 07:44] richardliaw commented on #8975
@vtomenko absolutely agree! Will keep you updated from our side too.

cc @anabranch @pcmoritz

[2020-06-17 08:09] lisawhite137 opened #8987 "[ray-project] python: can't open file './examples/run_glue.py"
### What is your question?
 I run the ray project [PyTorch Transformers Example](https://github.com/ray-project/ray/blob/master/python/ray/projects/examples/pytorch-transformers/ray-project/project.yaml) which version is 0.8.5, happens error log as follow:

[code]

I also didn't find run_glue.py in repo, did I miss something? Or developer forgot to upload it.

[2020-06-17 09:23] lisawhite137 commented on #8987
I miss It, the run_glue.py is in the repo which have defined in [example yaml](https://github.com/ray-project/ray/blob/c6ee3cdff4e093e2dc70a6cb55b14118dc8e695c/python/ray/projects/examples/pytorch-transformers/ray-project/project.yaml#L5)

[2020-06-17 09:24] #8987 closed

[2020-06-17 11:25] benman1 opened #8990 "[rllib] Typo: UnboundLocalError"
Rllib version 0.8.5

### What is the problem?

I am still a bit new to ray, so please excuse me if there's something I am missing. I am trying to learn tetris, from gym-tetris. I've managed to set the convolutions to get the ball running, however, there seems to be a simpe bug, see below. I see a lot has changed with the visionnet models in the code on github with respect to PyPi, however, I am al

[2020-06-17 11:38] smilesun opened #8991 "AttributeError: module 'ray.tune' has no attribute 'report'"
### What is your question?
Ray version 0.8.5
pytorch version 1.0.1.post2
OS: Ubuntu 18

I copied the tutorial from https://docs.ray.io/en/master/tune.html#tune-index
into an empty python file tune.py
then I call python tune.py, I got the following error in the error log file
I checked separatedly, ray.tune on my machine indeed does not have a "report" method, anything I did  wrong for installation

[2020-06-17 13:39] bibbygoodwin commented on #6451
I'm having the same issue: ray 0.8.5 installed via pip, but running any script that uses it results in `OSError: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /users/me/miniconda3/envs/ray_env/lib/python3.7/site-packages/ray/_raylet.so)`

[2020-06-17 14:12] stefanbschneider commented on #8971
The program doesn't crash though. It keeps on running after the error.

[2020-06-17 14:48] urw7rs opened #8992 "[rrlib] documentation missing for ray.rllib.execution in RLLib Package Reference section"
Is there a particular reason for missing documentation for ray.rllib.execution? It would be very helpful to know how to use the api.

[2020-06-17 14:51] stefanbschneider commented on #8971
I finally narrowed the error down and found what's causing it. It has nothing to do with my environment and it's very strange:
It seems to happen because I imported `tensorflow` before `ray`.

See a minimal example here:

[code]

This gives the error I posted above. If you remove the (unused) `tensorflow` import OR import it last (after all `ray` imports), the error does not occur! Really strange.

[2020-06-17 14:51] #8971 closed

[2020-06-17 14:57] stefanbschneider opened #8993 "[rllib] Error when importing tensorflow before ray"
### What is the problem?

When importing `tensorflow` before `ray`, I get an error: `AttributeError: 'list' object has no attribute 'keys'`.
This does not happen if I remove the `tensorflow` import or import it after all `ray` and `rllib` imports.

I don't understand why this happens, but I guess it should not happen or at least lead to a more understandable error. It's very hard to debug otherwis

[2020-06-17 15:13] stefanbschneider commented on #6900
It's working fine for me on:

* Ray 0.8.5
* Tensorflow 2.2.0
* Python 3.8.3
* OS: Ubuntu 20.04 on WSL (Win 10 version 1909)

[2020-06-17 16:28] talipini commented on #8772
@richardliaw - Sorry, cannot get to it until later this week.  I will verify as soon as I can. Thanks for a quick turnaround.

[2020-06-17 16:32] #8974 closed

[2020-06-17 17:26] mehrdadn commented on #6451
@bibbygoodwin What OS/version are you running?

@bibabolynn, @gveda: Would you mind running `ldd python/ray/_raylet.so` and letting me know the output?

[2020-06-17 17:44] richardliaw commented on #8991
@smilesun sorry for the confusion. Here is the documentation to the latest pip release - https://docs.ray.io/en/latest/tune.html

If you want to install from master, use the latest nightly wheels: https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies

[2020-06-17 20:12] sven1977 commented on #8965
Hi @ramondalmau. Yes, I'm working on more general access options to the entire episode by the Model (it will be able to pick, what exactly will be in its "view" in terms of past timesteps on any previous env- and model outputs). So far, I was thinking only about same-policy access, but yeah, this is a good point: Why not allow one policy to access other policies' observations and outputs as well?

[2020-06-17 20:23] robertnishihara commented on #8993
@stefanbschneider can you include the full traceback?

[2020-06-17 23:14] ericl commented on #8992
We'll add it! The execution API is not documented yet but this is known issue.

[2020-06-17 23:47] GoingMyWay commented on #8892
Thanks. I will try it.

[2020-06-17 23:48] GoingMyWay commented on #8983
I was not using Tune, I used RLlib and found this issue happened frequently.

[2020-06-18 00:12] GoingMyWay commented on #8983
You can run RLlib examples in Docker where there are many Docker tasks running on the host machine. The main issue is Ray cannot correctly detect how many CPUs and RAM assigned to the Docker container it is running in.

[2020-06-18 00:47] MaximeBouton opened #9000 "[rllib] LinUCB error when using multiple workers"
The contrib linear UCB algorithm raises an error when used with multiple workers. To reproduce just set `"num_workers"` to a number greater than 1 in the `config` (see example below).

There are two issues, an error message and a warning from pytorch. The error message seems to be a shape issue. I was not able to backtrack what is causing the warning.

Error message:
[code]

and warning message:
[

[2020-06-18 03:56] kfstorm commented on #8291
FYI, we are aware of this issue. Instead of fixing it, we disabled profiling in our internal repo as a workaround.

[2020-06-18 06:03] stefanbschneider commented on #8993
Sure:

[code]

[2020-06-18 06:08] DanielAtKrypton commented on #2683
[This](https://www.reddit.com/r/nvidia/comments/haw48m/nvidia_45538_developer_driver_for_cuda_on_wsl2/) might be a game changer.

[2020-06-18 06:32] vtomenko commented on #8975
I'm using ray version 0.8.5 and trying to test basic docker setup.

From [autoscaler doc](https://docs.ray.io/en/master/autoscaling.html):

It does not seem to be the case, the error when creating the cluster with say busybox docker image:
`Command 'docker' not found, but can be installed with:`

Installing docker in `initialization_commands` section also does not help for reasons described in #75

[2020-06-18 07:44] richardliaw commented on #6162
Ah, this is addressed with #8471

[2020-06-18 07:44] #6162 closed

[2020-06-18 09:24] Guoth commented on #8519
hello, @ZekiDorukErden I also encountered NaN. I tried to do the standardization by myself, but I still encounter NaN after running for a while. Could you solve this problem?

[2020-06-18 09:42] ZekiDorukErden commented on #8519
Unfortunately not.

[2020-06-18 09:53] tevang opened #9008 "Why the more CPUs I use the slower the computations?"
Greetings,

I have used ray in a few other applications where the total number of operations was known in advance but in the current scenario, I cannot know the total number of function calls. Namely, I want to use ray as a thread pool, where I feed input data to the pool until there are no more. Normally the input data are bunch of lines from a file, and the function saves each bunch to a separat

[2020-06-18 11:57] #8669 closed

[2020-06-18 12:07] tjuHaoXiaotian opened #9009 "[ray] Actor Creation Failed. The server has 80 cores, but only 46 actors could be created. [Fixed]"
### Actor Creation Failed.
*  The server has 80 cores, but only 46 actors could be created. ![avatar](https://raw.githubusercontent.com/tjuHaoXiaotian/InterestDemo/master/Single-Q-Learning/server%20core.png)
* Ray version: 0.8.5
* Tensorflow version: 1.14
* The following error occurred when I tried to create more actors (>46). It's seems that there is something wrong with the tf::ThreadPool.
* Emm

[2020-06-18 12:13] rbala19 opened #9010 "[rllib/tune] Workers consistently Fail after specific number of iterations"
### What is your question?

I'm using tune with "PPO" on a multi-agent environment. I have set num_workers to num_cpus - 1 (I'm using 6 cpus) and I always have less than 10 agents within the environment. After a specific number of steps +/- a couple steps, the program hangs, then I get the following output, telling me that a worker has failed and that it is unpinning all of its objects. I don't ge

[2020-06-18 12:53] J1810Z commented on #8326
Sorry for the late reply! Yes, I am trying to do that over this weekend.

[2020-06-18 14:46] ingambe opened #9012 "[rllib] modify the config of the checkpoint before restoring"
When I restore the agent state, I would like to initialize the environment again with a different **env_config** variable.
But when I restore the checkpoint, it also restores this config variable.

To give you a general idea of what I am doing, I have as environment parameter a CSV file containing the environment problem information to load, here is an example of what I want to do:

[code]

How ca

[2020-06-18 16:25] ijrsvt commented on #8975
Hmm, let me try working on a solution to this--if you rerun after the first install, does it work?
Also what are you running on: a local cluster or public cloud?

[2020-06-18 17:42] vtomenko commented on #8975
I use AWS, attaching [configuration I tried](https://github.com/ray-project/ray/files/4800253/sample.yaml.zip)

Rerun does not help:

bash: cannot set terminal process group (-1): Inappropriate ioctl for device
bash: no job control in this shell
Template parsing error: template: :1:8: executing "" at <.State.Running>: map has no entry for key "State"
WARNING: Published ports are discarded when usi

[2020-06-18 18:27] ijrsvt commented on #8975
I'll try using that AMI! Thanks for sharing this!

[2020-06-18 18:53] 1seck opened #9015 "[rllib] How to run basic distributed ddppo example"
I can start a ray cluster with

Then ssh-ing into it with `attach` works fine, it also starts worker instances on aws.
But `rllib train - f atari-ddppo.yaml` does not start the training on different machines but looks for the gpus on the head. Error msg:

I was assuming the resources to be distributed automatically to the workers (p2.xlarge).

Any idea?

[2020-06-18 19:00] rkooo567 opened #9016 "Ray SGD / Jenkins CI broken in the latest master."
### What is the problem?

1. Github Action Ray SGD build is broken. (ex, https://github.com/ray-project/ray/runs/783840946)
2. Jenkins CI is broken (you can see it is broken from all the PRs created recently). (ex, https://amplab.cs.berkeley.edu/jenkins/job/Ray-PRB/27293/)
3. Jenkins CI is not running in the master build. (Not sure if it is intended).

[2020-06-18 19:02] rkooo567 commented on #8958
@ijrsvt Probably related to the Docker issue that doesn't show the correct resources information?

[2020-06-18 19:03] rkooo567 commented on #9009
@tjuHaoXiaotian How did you fix the issue?

[2020-06-18 19:13] richardliaw opened #9017 "[tune] Better Actor Logging"
### Describe your feature request

Tune logs stdout and stderr from all Trials to the single "master" stdout/stderr.

We need to have a features such that stdout and stderr will be separate for each Trial and logged separately.

Tune users found it confusing that all logs are directed to the single place.

Overall, we also need to improve the logging functionality/story of Ray (but this is a diffe

[2020-06-18 19:36] edoakes commented on #8948
The reason this isn’t currently supported is because we currently only copy the traceback and type of the exception, then raise a RayTaskError with the relevant traceback that inherits from the original exception. However, I don’t see a reason why we can’t serialize the full exception object.

We want to:

- Make it obvious to users that the exception occurred in their remote call, not locally.
-

[2020-06-18 19:43] mehrdadn commented on #9016
I see

    Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory

Did some CUDA thing change recently?

[2020-06-18 20:15] slitvinov opened #9018 "[rllib] an example from README.md fails wihout tensorflow"
An example from README.md fails if tensorflow is not installed (I have python 3.8.3 and ray is from the latest wheel):

[code]

[code]

[2020-06-18 21:00] ijrsvt commented on #8975
The issue is that we reuse SSH sessions. I'm working on a PR now, but in the meantime there is a subpart workaround:
1) Run ray up, with the `initialization` commands you have above
2) Remove the `initialization` commands
3) Rerun ray up in about 15 seconds or so.

[2020-06-18 21:32] mrfox321 commented on #8983
It should not be possible to see outside of the isolation that Docker provides.  It seems unlikely that ray can somehow access state in the machine that hosts the container.

[2020-06-18 22:14] santiagoolivar2017 opened #9021 "MLflow artifacts"
Why is MLflow artifact logging support not included?

With the current version of ray is it possible to somehow save the model artifacts within the mlruns main directory or am I forced to use my trainable's _logdir?

Currently all my metrics and parameters are saved in a general mlruns folder where I can use the mlflow ui, but I am forced to save my artifacts within the my trainable's _logdir so I

[2020-06-18 22:49] vtomenko commented on #8975
Thanks @ijrsvt , I tried the workaround and it fails. The error seems to be similar to the one reported previously for rerun. Does the workaround work for you?

bash: cannot set terminal process group (-1): Inappropriate ioctl for device
bash: no job control in this shell
Template parsing error: template: :1:8: executing "" at <.State.Running>: map has no entry for key "State"
WARNING: Published p

[2020-06-18 23:04] rkooo567 commented on #9008
There can be many causes. If poolsize is much bigger than the actual number of virtual CPUs, it wouldn't give you any speedup benefits. This is a good resource to understand when parallelization is not working properly. https://www.google.com/search?q=ray+tips&oq=ray+tips&aqs=chrome..69i57j0l4j69i60l3.1154j0j7&sourceid=chrome&ie=UTF-8

[2020-06-18 23:19] ijrsvt commented on #8975
I think this error is because the docker image (busybox) in your YAML does
not have bash installed.

On Thu, Jun 18, 2020 at 3:49 PM Volodymyr Tomenko <notifications@github.com>
wrote:

[2020-06-18 23:31] janblumenkamp commented on #7341
Thanks for all the efforts so far Eric, very helpful! Those changes look really good!
I was wondering what exactly stands in the way of having a differentiable communication channel between different policies now. Is it only the observation function or is there something else?

[2020-06-19 00:38] ericl commented on #7341
Hmm, I think the main barrier would be that we would have to re-execute the observation function at training time. Currently, it's run only during rollout and we save the observed output as numpy arrays. This would require some tricky plumbing changes in RLlib. I'm also not sure how batching would work.

[2020-06-19 01:26] vtomenko commented on #8975
Makes sense, thank you @ijrsvt ! I will update the YAML and use the docker image I compiled to train ML models and see what happens.

[2020-06-19 02:11] ijrsvt commented on #8975
Awesome--I have a PR out to automatically install docker if it is not preinstalled; this won't be a problem in the future!

[2020-06-19 04:41] richardliaw opened #9027 "[tune] A "master" experiment logger"
### Describe your feature request

You may want to log some summary metrics of the entire experiment. This will allow you to compare different parameter sweeps, and also compare the performance of different optimization algorithms.

[2020-06-19 04:52] #7933 closed

[2020-06-19 05:04] pengyuan-zhou opened #9028 "[Slurm] Unable to connect to Redis"
Env: CentOS Linux
Platform: Slurm
Release: ray 0.7.3

Hi all,
I posted the issue two months ago and now migrate it here.
The error seems to be about: `    raise Exception("Unable to connect to Redis. If the Redis instance is "
Exception: Unable to connect to Redis. If the Redis instance is on a different machine, check that your firewall is configured properly.
srun: error: ukko2-04: task 0: Exite

[2020-06-19 05:14] robertnishihara commented on #2683
For anyone interested in trying out Ray on Windows, we have experimental support now (at least for Ray core and some (but not all) of the libraries).

You can try the nightly wheels at https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies.

[2020-06-19 05:14] robertnishihara commented on #631
For anyone interested in trying out Ray on Windows, we have experimental support now (at least for Ray core and some (but not all) of the libraries).

You can try the nightly wheels at https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies.

[2020-06-19 05:15] robertnishihara commented on #8042
For anyone interested in trying out Ray on Windows, we have experimental support now (at least for Ray core and some (but not all) of the libraries).

You can try the nightly wheels at https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies.

[2020-06-19 05:15] robertnishihara commented on #4455
For anyone interested in trying out Ray on Windows, we have experimental support now (at least for Ray core and some (but not all) of the libraries).

You can try the nightly wheels at https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies.

[2020-06-19 05:15] robertnishihara commented on #3106
For anyone interested in trying out Ray on Windows, we have experimental support now (at least for Ray core and some (but not all) of the libraries).

You can try the nightly wheels at https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies.

[2020-06-19 05:22] Schweini-PEK commented on #8326
Reporting the same issue from a Berkeley researcher. The code used to run well on Savio till June, without updating any packages. The Ray version was 0.8.2 and has been tried with 0.8.5. But it's still working on Macbook. Adding time.sleep() works for me so far.

[2020-06-19 05:34] ericl commented on #8326
@Schweini-PEK could you try grabbing the log data mentioned two comments up too?

[2020-06-19 05:54] rkooo567 commented on #9028
All ray processes at each node needs to be able to reach to the Redis running in the Ray head node. This error means for some reasons, Ray processes cannot reach to that process. It is usually environment specific, so it is extremely hard for us to troubleshoot. One thing you can probably try is

1. Try sending a request from one of Ray worker nodes to the head node Redis.
2. Most likely you will

[2020-06-19 05:56] rkooo567 commented on #8983
This could be related. https://github.com/ray-project/ray/issues/8326#issuecomment-630614991

I found in the past using `multiprocessing.cpu_count()` (which we are using) can have problems reading resource information from cgroup.

[2020-06-19 05:59] rkooo567 commented on #8254
@ijrsvt Seems like it is still not fixed. I will keep the issue open.

[2020-06-19 05:59] #8777 closed

[2020-06-19 06:00] BrandonEscamilla commented on #8033
@songpengwei how did you know if it is the firewall? I have the same issue

[2020-06-19 06:03] pengyuan-zhou commented on #9028
Thanks for the quick reply. Any doc I could look at the command of doing that?

[2020-06-19 07:03] rosnfeld opened #9029 "[rllib] turn-based multi-agent environments usage"
### What is your question?

In the multi-agent environment docs, it says:

"Observations are a dict mapping agent names to their obs. Only those agents' names that require actions in the next call to `step()` will be present in the returned observation dict."

I take this to mean that one can implement turn-based games using this mechanism, e.g. the first player to go will be the only key in the o

[2020-06-19 07:12] stefanbschneider opened #9030 "[docs] Provide tips for configuring logging"
I'm using RLlib, but I believe that this is a general question regarding ray.

### What is your question?

I have a nicely configured RL environment using [`structlog`](https://www.structlog.org/en/stable/) for logging, which I want to use with RLlib.
Unfortunately, RLlib/ray seems to ignore my per-module log configurations:

[code]

When running the env without Ray, this sets the logging level to

[2020-06-19 07:21] stefanbschneider commented on #9030
Do I have to configure logging again *inside* the workers somehow? How would I do that?

[2020-06-19 07:27] stefanbschneider commented on #9030
Ok, I figured it out: I do have to configure logging again *within* the workers. To do that, I added a call to my `configure_logging()` function from within the environment's constructor like this:

[code]

It works fine now :)

[2020-06-19 07:48] richardliaw commented on #9030
@stefanbschneider any idea about how can we improve the docs or your experience here?

[2020-06-19 08:03] stefanbschneider commented on #9030
Hm. I did search the docs but couldn't find anything related to my problem. How about mentioning it in 1 sentence when describing how to configure [custom environments with RLlib](https://docs.ray.io/en/latest/rllib-env.html#configuring-environments)?
And possibly also mention it in the [development tips regarding logging](https://docs.ray.io/en/latest/development.html#backend-logging)?

[2020-06-19 08:11] richardliaw commented on #9030
OK got it - thanks for the tip! I'll actually open this issue and close it later when it gets addressed in the docs.

[2020-06-19 09:34] stefanbschneider commented on #8440
What was the answer?

[2020-06-19 09:37] stefanbschneider commented on #7190
Can I configure it via the `config` somehow ? Ie that's passed to `ppo.PPOTrainer(config=config, env=MyEnv)` for example.

[2020-06-19 09:46] amitsadaphule opened #9034 "[ray] Build fails for '//:redis_client' on ppc64le"
### '//:redis_client' fails to build on ppc64le due to default '-std=c++0x' option.

Ray commit: a734f77757287abb479ac180e64b25a6182d8fdb
Python version: Python 3.6, Python 3.7
OS: RHEL 7.6
Hardware: ppc64le

### Reproduction

I used the following script to build ray:

[code]
Here's the part of the log which shows the issue in the build:
[code]
- [x] I have verified my script runs in a clean envir

[2020-06-19 10:34] dhirschfeld commented on #631
I'm a Windows user and I would love for Ray to work on Windows but I'm not pushing it because I know it's a huge burden on developers.

Nevertheless, telling Windows users to just use WSL2 is little better than telling them to just use Linux. This issue is specifically about supporting *Windows* so comments about WSL2 are irrelevant here - WSL2 is a Linux VM. If the decision is that it's too hard

[2020-06-19 10:46] Red-Eyed commented on #631
So, it seems it works now on windows (experimental)
https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies

[2020-06-19 10:47] mehrdadn commented on #631
Almost... we'll have an announcement very soon, stay tuned.

[2020-06-19 11:36] Cryptiex opened #9036 "[tune] Population-based training: broken when using keep_checkpoint_num"
When using **population-based** training TUNE stops after some times throwing the following error:

`There are paused trials, but no more pending trials with sufficient resources.`

This is caused by not finding the latest checkpoint:

[code]

The error appears to be somewhat random since it only appears after quite some iterations

The error can be reproduced in this [colab notebook](https://cola

[2020-06-19 12:27] Catypad opened #9038 "houldout"
# Documentation Problem/Question/Comment

(Created directly from the docs)

[2020-06-19 12:29] #9038 closed

[2020-06-19 12:46] tevang commented on #9008
Your comment is not helpful. I doubt that you even looked at the example code I quoted. I still cannot understand why multiprocessing gives speedup but ray slows down the computations.

[2020-06-19 14:06] virtualluke commented on #9008
Just to help understand your situation... When you set POOLSIZE to x you see x CPUs pegged ? I know you say they are fully occupied.  Does seem odd.  Also curious what values you are setting POOLSIZE in relation to your total number of cpus. And what kind of time is your benchmark function taking roughly (with different values of POOLSIZE)?

@rkooo567 :  That google search link you gave had some "

[2020-06-19 14:15] wzmucas commented on #6451
Dear @mehrdadn
I  got the same problem when install pay with pip.

- Red Hat Enterprise Linux Server release 6.10 (Santiago)
- Python 3.7.3
- Ray 0.8.5

After using `python/miniconda3/lib/python3.7/site-packages/ray/_raylet.so`, I got some **no found** results:
`python/miniconda3/lib/python3.7/site-packages/ray/_raylet.so: /usr/lib64/libstdc++.so.6: version `CXXABI_1.3.5' not found (required by py

[2020-06-19 14:44] ingambe commented on #9012
So, I have found a workaround to change the env configuration during the training, by simply keeping the weight of the previous neural net and give it to a new trainer instance.

[code]

[2020-06-19 14:44] #9012 closed

[2020-06-19 15:22] ivallesp opened #9040 "[rllib] Unable to use custom_model_config parameter"
Hi everyone,

I am trying to run a tune process which requires passing-in some parameters to my custom model class. For that, I am first registering my model, adding the `custom_model` parameter and  the `custom_model_config` one. When I don't add the last param everything works well, but when I add it I get an error saying that this parameter is not recognized as a valid parameter. Please find be

[2020-06-19 15:33] BrandonEscamilla commented on #6900
The solution is to upgrade to that configuration? @stefanbschneider

[2020-06-19 15:33] BrandonEscamilla commented on #6900
@futurepaycc did you solved this problem?

[2020-06-19 15:52] ivallesp commented on #9040
Ok I've traced the issue and it is due to the fact that in the latest release in PyPi, the `models/catalog.py` file has that key missing in the `MODEL_CATALOG` dictionary. I see it was fixed in #0422e9 23 days ago, as you can see here: https://github.com/ray-project/ray/blob/a734f77757287abb479ac180e64b25a6182d8fdb/rllib/models/catalog.py#L86

Can you please tell me when this will be officially re

[2020-06-19 16:04] stefanbschneider commented on #6900
I'm not sure - I never had the problem but also didn't try any other configuration. I just thought it might help in solving the issue.

[2020-06-19 16:12] rpandya922 opened #9041 "[rllib] Error when exporting multiple policies not named default_policy"
### What is the problem?
When trying to export models with multiple policies specified using `export_formats=` in `tune.run()`, the programs gives this error about not having a policy named `default_policy`:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
OS: Ubuntu 18.04.4 LTS
python==3.6.9
torch==1.5.0
ray==0.8.4
tensorflow==1.14.0

### Reproduction (

[2020-06-19 16:20] rkooo567 commented on #9008
Sorry this is the right link. Idk how that link was pasted. https://rise.cs.berkeley.edu/blog/ray-tips-for-first-time-users/

Also, I definitely read your code. Your code runs a lot of computationally heavy remote functions with a fixed number of workers (== poolsize). You mentioned CPUs were saturated. You didn't mention anything about multiprocessing in your question.

Here are possible scenario

[2020-06-19 16:26] PidgeyBE opened #9042 "[autoscaler] Service and Ingress resource per worker"
Dear all

I'm trying to create an application which almost entirely runs on Ray. Currently it's running fine on a Ray cluster that I've deployed manually, but I would like to use the ray autoscaler (to pay less for GPU etc ;-)).
The application basically spawns ML pipelines in Ray actors and serves HTTP API servers, RTSP streams, etc.
In order to expose the communication endpoints to the outside w

[2020-06-19 18:56] richardliaw opened #9043 "[rfc] Improve SLURM + Ray experience"
### Describe your feature request

Is anyone here having trouble using SLURM with Ray?

We'd love to hear your experience (either good or bad).

For starters, two things to do that might help are:
1. Provide links to other SLURM templates using Ray
2. Increase the starter SLURM template to 30 seconds wait time.

Questions/comments are welcome!

[2020-06-19 19:19] amogkam opened #9044 "[Ray] Experiment crashes when raylet fails"
### What is the problem?
I'm running a long running training+tuning experiment that is supposed to be fault tolerant, but the experiment sometimes crashes when a node fails due to `actor_entry != actor_registry_.end()`. Full stack trace is here:
[code]
Also, after this error occurs, I can no longer connect to the ray cluster with `ray.init("auto")`. It just hangs at this point:
[code]

*Ray versio

[2020-06-19 19:24] richardliaw commented on #9044
thanks for opening this @amogkam -

BTW, can you help spell out the steps to reproduce? It’ll reduce the friction needed to address this problem.

Also, can you provide a skeleton of the workload? what actors are being created, how do they interact with each other, etc. This will also allow core developers to figure out where to start.

@stephanie-wang @rkooo567 do you have any tips on how to impr

[2020-06-19 19:25] amogkam opened #9045 "[Tune, SGD] Investigate Fault Tolerance when both Tune+RaySGD are being used"
### Describe your feature request
It seems like the fault tolerance mechanisms for Tune and RaySGD interfere with each other when both libraries are used. This could use some investigation to either solve the problem or to detect when both are being used and disable one of them.

[2020-06-19 19:28] richardliaw opened #9046 "[autoscaler] Submit `--start` and `--stop` should provide user hints"
### What is the problem?

It seems like users might not know what is the right workflow for using `--start` and `--stop` if they don't have a good mental model of the Cluster. Some users assume they must `--start` and `--stop`, treating Ray like a "serverless" model but instead incurring large overheads in iteration.

We should provide a documentation page that succinctly provides an overview of t

[2020-06-19 19:37] richardliaw commented on #9036
Yeah this seems like an issue. We'll take a look into this.

[2020-06-19 20:04] edoakes commented on #9042
@thomasdesr any thoughts here?

[2020-06-19 20:21] iam-amey opened #9047 "Integrating Optuna with Ray"
I have a strict dependency on optuna for my personal project. For that, I want to integrate optuna with [ray] - [tune] (another dependency).

However, due to define-by-run strategy of Optuna as opposed to define-and-run for [hyperopt] (and most of the other strategies), I am finding it difficult to integrate, since I cannot define search space separately.

If anyone could shed some light on this,

[2020-06-19 20:29] mehrdadn commented on #6451
Thank @wzmucas. Note that the original issue here was the question of how to make Ray work _after_ glibc 2.14 is installed. But if my understanding of the issue is correct, our builds depend on glibc 2.14, and you don't appear to have glibc 2.14 installed at all.

Is this correct?
If so, can you install glibc and see if this works?
If not, where is the shared library for glibc 2.14 currently insta

[2020-06-19 21:00] thomasdesr commented on #8948
This sounds like a good path forward to me! :D

I definitely agree there are some risks inherent to serialization (e.g. non-serializable types, expensive serialization types, etc) but in order to support a "as if it was local" behavior I don't see an obvious path around supporting some way to pass the full exception object around.

[2020-06-19 21:05] richardliaw commented on #9036
This is the issue (just for reference):
[code]

[2020-06-19 21:12] richardliaw commented on #9044
@amogkam can you retry this on the latest master (again today)?

[2020-06-19 21:15] richardliaw commented on #9034
cc @mehrdadn

[2020-06-19 21:15] richardliaw commented on #9018
This should work with tensorflow installed right?

[2020-06-19 21:15] mehrdadn commented on #9034
@richard4912 Already handling this in the linked PR :) #9035

[2020-06-19 21:16] #9009 closed

[2020-06-19 21:16] richardliaw commented on #8958
cc @wuisawesome

[2020-06-19 21:17] richardliaw commented on #8990
cc @sven1977

[2020-06-19 21:19] richardliaw commented on #8982
great issue! would you be ok with pushing a fix?

[2020-06-19 21:20] pengyuan-zhou commented on #6198
Hi, has there been a fix? thanks.:)

[2020-06-19 21:40] smilesun commented on #8991
thanks!

[2020-06-19 21:45] smilesun opened #9048 "[tune] access tune result asynchronously"
### What is your question?
Ray 0.8.5, pytorch 1.0, ubuntu 18

I found from the demo that once could analyze the tuning result with the following code, but the code below is synchronous, which means one has to wait until the whole tuning finishes before one could access the dataframe containing the hyper-parameter vs performance table.

[code]

After search for quite a while, I did not find out if

[2020-06-19 22:10] richardliaw commented on #9048
I think you can try manually creating the `ExperimentAnalysis` object: https://docs.ray.io/en/latest/tune/api_docs/analysis.html#experimentanalysis

[2020-06-19 22:27] ijrsvt commented on #8958
I"m looking into this

[2020-06-19 22:34] wuisawesome commented on #8958
Btw this is somewhat strange, because we attempt to explicitly check for this. Maybe we just aren't doing it correctly? https://github.com/ray-project/ray/blob/2589309cf0beed938e54665e35a73bba87841f9b/python/ray/utils.py#L406

[2020-06-19 23:09] ijrsvt commented on #8958
@wuisawesome  That appears to work locally--in the sense that when Ray starts the correct amount is printed. The data for `cluster_resources()` and `available_resources()` comes from GCS.

[2020-06-19 23:11] #6289 closed

[2020-06-19 23:28] #9034 closed

[2020-06-19 23:57] richardliaw commented on #9036
@Cryptiex for a temporary workaround, I think you can just do:

[code]

[2020-06-20 00:05] ijrsvt commented on #8958
Actually, for what it's worth if I run `ray.cluster_resources()` on my computer (*no container*), I actually get incorrect information :/

[2020-06-20 00:26] rkooo567 commented on #8958
Could be related: https://github.com/ray-project/ray/issues/8983#issuecomment-646316576
https://github.com/ray-project/ray/issues/8983#issuecomment-646450764

Also, (I guess we already calculate this programmatically, but just in case)
[code]

[2020-06-20 01:09] richardliaw commented on #9036
I think the fix actually is to comment this out:
[code]

[2020-06-20 01:36] arunmk commented on #8958
@ijrsvt to be clear, the issue is that the containers report resources on the host. I give 2 containers 2 cores each but the API reports 24 instead of 4. My host has 24 cores.

[2020-06-20 01:49] #8786 closed

[2020-06-20 03:17] GoingMyWay commented on #8983
Good, will you fix it in the newest Ray?

[2020-06-20 03:58] virtualluke commented on #8958
In kubernetes you might be putting resource requests and limits for 2 CPUs, but this is soft and not seen for real inside the pod, it just sees what the host has. If you want ray to respect the 2 CPU you would need ray to read what you set in the pod definition under resources or set that as an env variable that ray uses.

[2020-06-20 05:49] rkooo567 commented on #8983
@GoingMyWay  We need more investigation to make sure this is the actual cause @ijrsvt is spending his time to fix this issue, so it would be fixed sooner. The next release won't include this change (The branch cut already happened, and the next release will happen before the fix is applied).

[2020-06-20 06:21] BrandonEscamilla commented on #6900
What's the command you use to start a head node?

[2020-06-20 06:53] BrandonEscamilla commented on #6832
+1

[2020-06-20 08:05] GoingMyWay commented on #8983
Good, thanks, hope this issue will be fixed future releases.

[2020-06-20 09:55] matiasdahl opened #9055 "[ray] out of memory problem when using numpy vectors in common object store"
### What is your question?

I am computing the pairwise dot products from a set of numpy vectors using Ray. For small number of vectors (eg for `N=4`) this works fine with the below implementation. However, when `N=3000` the program runs up to the line `references = [...]`. On this line the program spends a lot of time and memory use slowly increases until the program crashes with an out of memory

[2020-06-20 11:02] matiasdahl commented on #9055
Batching the computation does help with memory. For example, as follows:

[code]

However, this is quite slow. Even if the number of input vectors is reduced to  `N=1000` this takes around a minute. For comparison, the below `multiprocessor` code takes just a few seconds when `N=3000` (on 24 cores).

[code]

[2020-06-20 11:25] VishDev12 opened #9056 "[tune] sync_on_checkpoint ignored when list of experiments passed to tune.run"
### What is the problem?
When passing a list of predefined Experiments to tune via the `run` function, the `sync_on_checkpoint` flag is ignored.

**Reason for this behaviour:**
The `make_parser` function takes in `no_sync_on_checkpoint`; it's set to False by default.
https://github.com/ray-project/ray/blob/981f67bfb01725f1e153c881f81082fcba0ac223/python/ray/tune/config_parser.py#L75-L77

The creat

[2020-06-20 12:54] VishDev12 commented on #9056
@richardliaw Tagging you on this issue as requested.

[2020-06-20 14:34] goulou opened #9058 "[tune] AsyncHyperBandScheduler has different default brackets than the original paper"
### What is the problem?

In current (0.8.7) version of Ray, the default bracket count is not that of the [original Paper.](https://arxiv.org/abs/1810.05934)

Citation of the paper :

Here is the constructor code :
[code]

Here, the default number of bracket is 1 while it was proposed to be 3 in the paper. I cannot find any logical explanation to that.

I am not 100% sure about the maximum early-s

[2020-06-20 14:36] arunmk commented on #8958
@virtualluke that is also done. For example, my worker spec is as follows:
`apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: ray-worker
spec:
  # Change this to scale the number of worker nodes started in the Ray cluster.
  replicas: 2
  selector:
    matchLabels:
      component: ray-worker
      type: ray
  strategy:
    type: Recreate
  template:
    metadata:
      l

[2020-06-20 14:47] slitvinov commented on #9018
I cannot install TensorFlow. I want to use ray because it is framework agnostic and some work was done recently:<br/>
https://github.com/ray-project/ray/issues/4717

I am a bit surprised the first example fails given TensorFlow is not listed as install dependency. Is there an option to prefer PyTorch?

[2020-06-20 15:06] peldszus opened #9059 "[ray] How to get line test coverage for actor code?"
Hi,

this is probably a question on the border between the `ray` library and `pytest` / `coverage`:

**How to get line test coverage for actor code?**
I see that I get multiple coverage files which seem to be combined, but in the end I do not get line coverage reported for lines that were certainly used in the tests. As far as I understand, `pytest-cov` should be able to gather all that.

* Am I d

[2020-06-20 15:34] tmsss commented on #7133
I have the same problem running with a local script, I've added the path, but I still run into a ModuleNotFoundError. Is there any workaround?

[2020-06-20 16:02] maxCodeVector commented on #7133
You might want to copy the relative scripts to easy nodes of the cluster.&nbsp;

发自我的iPhone

------------------ Original ------------------
From: Tiago Santos <notifications@github.com&gt;
Date: 周六,6月 20,2020 11:35 下午
To: ray-project/ray <ray@noreply.github.com&gt;
Cc: maxCodeVector <1396592457@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [ray-project/ray] How to submit a task

[2020-06-20 18:23] janblumenkamp commented on #7341
What if we would let the information sharing completely be the model's (and therefore the user's) job? Additional to the agent grouping, we have an independent model grouping configuration. Different (groups of) agents may have different policies but share the same model. It's then up to the user to have different policy-networks for different agents in the model if that is desired. For each model

[2020-06-20 21:01] richardliaw commented on #9058
Hey, @goulou this was an intentional change after speaking with the ASHA authors, who mentioned that s=0 performs best in practice.

If you look at their experiments, their results and benchmarks all use s=0.

[2020-06-20 21:15] Cryptiex commented on #9036
Thanks for the fast reply! Commenting out **keep_checkpoints_num** worked for me as a temporary fix. Any idea where this is coming from? Does the PBT scheduler reference an already deleted checkpoint?

[2020-06-20 21:47] richardliaw commented on #9036
Yeah, I think it's something about not properly bookkeeping the checkpoints on disk.

[2020-06-21 03:01] Andrej4156 opened #9064 "[rllib]Does Ray allow for terminal rewards on the last timestep of a simulation?"
I have a simulation in which an agent needs to navigate to a point. There are many ways it can fail before arriving (ie falling off a cliff) so in addition to giving rewards each timestep, I've tried giving rewards and penalties at the end of each episode based on how it ended. Unfortunately for some reason these terminal rewards don't have any affect on the agents behavior. Even with very simple

[2020-06-21 07:28] goulou commented on #9058
OK, thanks for the anwser. I can close the issue if you want, but maybe you want to add a comment in the code or documentation explaining that detail?

[2020-06-21 08:07] #9056 closed

[2020-06-21 10:50] mirekphd commented on #8991
Hi @smilesun ,

Please note that some of your examples also need to be updated after this API change from `report` to `track.log` (maybe they could be even incorporated / converted to unit tests?):
https://github.com/ray-project/ray/search?q=tune.report&type=Code

I'd reopen the issue to prevent this getting forgotten:)

[2020-06-21 12:15] SaiVinay007 opened #9068 "Virtual environment RayOutOfMemoryError"
### What is the problem?

I am getting RayOutOfMemoryError and The maximum usage is from the virtual environment

25583	3.19GiB	/home/saivinay/Documents/RL_project/venv/bin/python -u /home/saivinay/Documents/RL_project/venv/lib/

This started showing up recently and didn't face this before. My assumption is that, I recently used jupyter notebook and tried registering a custom environment and test

[2020-06-21 12:21] pengyuan-zhou commented on #5914
same error here, have you solved it? :)

[2020-06-21 13:12] mirekphd opened #9069 "[ray] Make Ray compatible with latest redis"
### Describe your feature request

When you try to combine latest `ray` and `ray[tune]` py packages from PyPI  with the latest `redis` py package (also from PyPI) you get an error, caused by `ray` pinning its Redis dependency in a rather restrictive, non-future-proof way (with a rarely seen "less" inequality sign) blocking Redis from any future upgrades or patches.

`pip` error message:
[code]

[2020-06-21 13:46] mirekphd commented on #2960
IMO if Ray Tune is intended to be used in universal data science environments (as opposed to dedicated server-like containers), it should not require throttling of threads for all other packages installed in a container - these settings listed above by @richard4912 are used by multiple python packages to control their threading limits, including `numpy` and its dependencies (which includes e.g. `s

[2020-06-21 15:58] mirekphd opened #9070 "Less confusing parameter names for run(resources_per_trial): cpu -> num_physical_cpus and init(): num_cpus -> num_threads"
Setting `resources_per_trial={'cpu': 8, 'gpu': 0}` parameter in `tune.run()` will not prevent Ray from using all CPU threads in all available CPUs (note there may be up to 4 per server, perhaps more). Such high level of concurrency interferes with other users and is usually slower than running training on the optimized number of threads, which is usually lower than the maximum, depending on the cu

[2020-06-21 17:00] robertnishihara commented on #9055
This doesn't directly answer your question, but
1. You're calling one remote function per inner product, instead, you'll want to have each remote function handle a batch (e.g., you could just submit K tasks in total, where K is the number of CPU cores).
2. I'd suggest making the vectors one big numpy array, e.g., `vectors = np.random.rand(N, 1000)`.
3. The vector computations can be vectorized to

[2020-06-21 17:25] msloma144 opened #9071 "[rllib] State shapes incorrect using custom model (TorchModelV2, TFModelV2) (PPO)"
### What is the problem?

It seems that the states being passed to TorchModelV2 and TFModelV2 are incorrect, as the shapes don't seem to match up. Please see the stack traces below. Note that I am using PPO. Also, I do not want to use the RecurrentNetwork as I need more control than that provides.

*Ray version and other system information (Python version, TensorFlow version, OS):*
 Python 3.8.3,

[2020-06-21 17:45] stefanbschneider commented on #6900
[code]

But it also works with tune.

[2020-06-21 18:14] mirekphd commented on #9070
OK, so through trial and error I found out that `cpu` in `resources_per_trial` param of `run()` refers to *physical* CPUs, increasing which above 1 will reduce model training performance in algos such as GBDTs. The similarly named `num_cpus` in `init()` refers to threads, and this can / should be indeed optimized.

Some of my results:
[code]

[2020-06-21 18:18] mirekphd commented on #9070
To avoid confusion, I therefore propose the following parameter name changes:
[code]
and
[code]

[2020-06-21 19:20] richardliaw commented on #8991
For clarity - `tune.track.log`  is being changed to `tune.report` in 0.8.6.

[2020-06-21 19:38] richardliaw commented on #2960
@mirekphd can you actually post a separate issue about the kernel crashes and your working environment?

I'd like to know more and see what exactly we should write in the documentation for other users facing this issue.

Also, I didn't quite parse what you said - your comment:

seemed to contradict your later comment,

Could you help clarify that? thanks!

[2020-06-21 20:03] richardliaw commented on #5914
@pengyuan-zhou can you post a stacktrace? (and reopen this issue when you do?)

[2020-06-21 20:04] roireshef commented on #8618
@ericl / @richardliaw - Do you guys have any idea about the root cause? Anything I can do to help? This is currently a blocker for me for migrating from v0.7.3, and the newer version have so much I want to try already :)

[2020-06-21 20:09] richardliaw commented on #9070
Hey @mirekphd thanks for opening this issue. For some context, can you describe what you're trying to do?

To clarify, Ray does not actually do CPU isolation. `num_cpus` and `resources_per_trial` are related in that `num_cpus` dictates the total number of "CPU resources" you plan to use, and `resources_per_trial` indicates how "CPU resources" should be given to each individual trial.

That being s

[2020-06-21 20:12] roireshef commented on #8579
@ericl - Sorry it took me so much time to respond.
Are you suggesting I manually unset an environment variable named CUDA_VISIBLE_DEVICES? Or is it a Tune/RLlib config parameter?

Also, what happens in the case of IMPALA - was it tested to work? AFAIK in IMPALA the model should be stored in CPU mode (RAM) for the workers, while it is stored in GPU mode for the master/optimizer.

[2020-06-21 20:14] richardliaw commented on #9058
Hm, yeah that would be a good idea. Would you be willing to open a small PR to the docs? Happy to help merge it.

[2020-06-21 20:30] rkooo567 commented on #9069
It is because of this issue https://github.com/ray-project/ray/issues/8257. We need some refactoring to unpin the Redis version (and we didn't get to have bandwidth to do so). Please feel free to submit a PR!

[2020-06-21 20:59] ericl commented on #8579
The reason this is the case is that num_gpus only applies to the learner. The workers are configured separately. Ray will ensure the GPUs are made visible as configured, so cuda.is_available() should be the right check.

Basically: always use the RLlib config to assign GPUs to the learner or workers, and Ray will do the right thing.

[2020-06-21 21:01] #8917 closed

[2020-06-21 22:17] richardliaw commented on #8695
Hm, is it possible that you're requesting more resources than you have on the cluster?

[2020-06-21 22:43] richardliaw commented on #8336
@hkvision sorry for the slow reply.

yes

Yeah, perhaps we should allow the number of CPUs per node to be customizable. Would something like
[code]
work for you?

[2020-06-21 23:14] roireshef commented on #9064
RLlib isn't limited to a specific reward function. Completely failing to learn what you seek can be a result of various reasons, as per my experience most of them relate to how you design the MDP - states/actions/transition-distribution/reward-function, and not to the RL algorithm itself. Could you provide your MDP design (environment rules) in more details?

[2020-06-21 23:15] #7242 closed

[2020-06-21 23:17] roireshef commented on #4952
@Tabbi7 - that should have already been solved in newer Ray versions. the merge and bottleneck environments should work OOTB for you. Aren't they?

[2020-06-21 23:18] #4952 closed

[2020-06-22 00:34] mehrdadn opened #9074 "Invalid memory access in RedisAsioClient/RedisAsyncContext on shutdown"
### What is the problem?

On Windows, there has been a sporadic access violation (segfault) in `RedisAsyncContext::RedisAsyncHandleRead` that gets caught by Windows's control flow guard (CFG). This may have been one possible cause of #8786 as well.

The stack trace looks like the following:
<details>
<summary>Stack trace</summary>

[code]

</details>

Possibly also helpful is the stack frame at `R

[2020-06-22 00:44] mehrdadn commented on #8291
FYI this may also related to #9074 on Windows.

I do not know enough to tell, but both of them look like race conditions during shutdown related to workers and I/O.

[2020-06-22 01:37] nfusionz opened #9075 "[tune][rllib] Tune does not work with PolicySeverInput"
### What is the problem?
We are trying to perform hyper parameter tuning with the PolicyServer/Client architecture. However, Tune appears to create multiple instances of the PolicyServer, resulting in port conflicts. The following is output for the state of the various trials before running a client.
[code]
The corresponding error file contains a traceback with `OSError: [Errno 98] Address already

[2020-06-22 02:15] hkvision commented on #8336
@richardliaw No problem. Thanks so much for your reply. Yeah, it would be great to make cpu number customizable.
May I ask what's your previous assumption when specifying num_cpus? As specifying this doesn't actually control the cpu usage for actors, what's the usage of num_cpus?

[2020-06-22 03:17] Andrej4156 commented on #9064
The issue is not that it completely fails to learn anything. It's that it can learn the reward function given every step but not rewards given on the last timestep. For proprietary reasons I can't give too many specifics, but I can tell you about the algorithm in general.

There are many ways the AI can fail. It can run into something, flip over (on both axes), etc. The reward function is just the

[2020-06-22 04:27] richardliaw commented on #8336
Actually @ConeyLiu just pushed a PR that addresses this issue and I'll try to merge it.

The assumption was that the workload will primarily be GPU intensive, so CPU reservations wouldn't matter so much.

[2020-06-22 04:42] hkvision commented on #8336
Okay! Much thanks for your help!

[2020-06-22 05:36] ijrsvt opened #9082 "[core] Repeated warning about Worker log file creation"
### What is the problem?

On ray.init(), I get the following printed 16 times (one per worker it looks like).
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python: 3.6.10
OS: MacOS 10.15.5
Latest Ray version (06/21/2020)

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external li

[2020-06-22 08:05] pengyuan-zhou commented on #5914
Sure, it happens when I'm calling ray from another project, [flow](https://github.com/flow-project/flow/).
The error appears like this,
[code]
Relevant libs are:
[code]
I also tried ray==0.8.5 and redis==3.4.1, same error.
Thanks.
BR.

[2020-06-22 08:07] pengyuan-zhou commented on #5914
Ya I can't reopen the issue by others in this project

[2020-06-22 08:19] mehrdadn opened #9083 "Confusing RedisError when many threads are used"
### What is the problem?

Attempting to use many workers causes confusing errors to occur. It's not clear whether this is a bug or not, but to the user, it appears similar to a bug.

<details>
<summary>Error log</summary>

[code]

</details>

### Reproduction (REQUIRED)

Check out a recent commit, e.g. 1d5c123c81d19dcc862b9b6cf9ebd0f28fb69226.

Make this unit test in `python/ray/tests/test_multi_n

[2020-06-22 08:46] ElektroChan89 opened #9084 "[docs] Issue on `tune/api_docs/grid_random.rst`"
# Documentation Question
Hey guys,
I'm new to ray and tune and reading the docs at the moment.
I have a question regarding the following code example from the docs:

[code]

Why is tune running 13 different trials here? ``` num_samples ``` is not set, so by default it should be 1 trial.

Best regards

(Created directly from the docs)

[2020-06-22 10:26] cedros23 commented on #8507
Hi! Is there any update on this? If update is not expected soon, I might give it a shot with tensorflow side. Many thanks.

[2020-06-22 13:50] virtualluke commented on #8958
in your example I believe what you would want is $MY_CPU_REQUEST matching what you have in your yaml under resources (where you have 2000m), except my guess is the behavior you want is for it to match not under resources->requests but resources->limits (which you don't have).

[2020-06-22 14:07] virtualluke commented on #9055
I am interested in your memory problem.  Refactoring as @robertnishihara mentions sounds like a good way forward for your case but I'd like to know why you are having memory problems with the specific case.  Is it problems with actual memory or object store memory?  I think understanding the specific issue in your case can help others as well.

[2020-06-22 14:10] arunmk commented on #8958
@virtualluke yes, exactly. In ray-head, I want the sum of all of the limits values of the workers joined into the cluster for cluster_resources().

[2020-06-22 15:29] tjengbudi opened #9086 "Ray in aarch64 arm64"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*
I trying compile it at armbian linux aarch64. But i always failing. It is because bazel, and pyspy. Is there any fix for this or just package to make it work in aarch64 linux?

[2020-06-22 16:39] p-christ opened #9087 "[Rllib] SAC does not optimize the entropy"
I ran SAC with the default config and found that the entropy term was not optimized and it just remained at its start value throughout training.

Does anyone know what could be causing this?  Is there a config value I need to provide in order for the entropy to get optimized?

I was using Ray version: 0.8.5

[2020-06-22 16:45] ijrsvt commented on #8958
@arunmk can you show the full output from `cluster_resources()`?

[2020-06-22 17:38] virtualluke commented on #8950
your "Theoretical duration (seconds)" assumes the tasks get distributed evenly across the cluster, right?  I don't find that to be the case usually without more code.

[2020-06-22 17:39] roireshef commented on #8579
I take it that you are referring to num_gpus and num_gpus_per_worker when you write RLlib config. Well, if yes, then this is not the case today - if you set both of them to 0, you still get the model parameters moved to the GPU since cuda.is_available() returns True, and IMHO this is not the desired behavior. It sounds natural to me that _num_gpus_ and _num_gpus_per_worker_ will override <cuda.is_

[2020-06-22 17:40] wuisawesome commented on #8950
@virtualluke yes, we believe this might be scheduler related.

[2020-06-22 17:47] virtualluke commented on #8950
I guess what I mean also is that that is by design.  Dense scheduling vs something more spreading.

[2020-06-22 17:51] ericl commented on #8579
Are you saying that `torch.cuda.is_available()` returns True for you even if both are set to zero? That's very unexpected. To verify, what does this print for you:

[code]

[2020-06-22 17:55] roireshef opened #9089 "[tune] Bring HParams to PyTorch training"
### Describe your feature request

AFAIK the following is only supported if TF is used. It be great to have a PyTorch support as well.
https://docs.ray.io/en/master/_images/tune-hparams-coord.png

[2020-06-22 18:32] robertnishihara commented on #8794
@57334502 I think the issue is that the `my_test` module needs to be installed on all nodes in the cluster.

We need a better error message here...

[2020-06-22 18:34] richardliaw commented on #9089
@roireshef what version of Ray are you on? I think this should work all the time now!

[2020-06-22 18:34] arunmk commented on #8958
@ijrsvt this is what I get from prints from ray-head pod:

`^[[2m^[[36m(pid=225)^[[0m 2020-06-16 01:52:25 INFO     Available ray resources: [{'CPU': 23.0,
^[[2m^[[36m(pid=225)^[[0m  'memory': 883.0,
^[[2m^[[36m(pid=225)^[[0m  'node:172.17.0.12': 1.0,
^[[2m^[[36m(pid=225)^[[0m  'object_store_memory': 304.0}]
^[[2m^[[36m(pid=225)^[[0m 2020-06-16 01:52:25 INFO     Ray resources currently: [{'CPU': 24

[2020-06-22 19:50] ijrsvt commented on #8958
Okay--thanks and what is your head spec?

[2020-06-22 19:56] #9082 closed

[2020-06-22 20:07] roireshef commented on #9089
@richardliaw thanks for your response. Last time I checked this was on 0.8.5. I'll check again. What version is it on for PyTorch from?

[2020-06-22 20:12] roireshef commented on #8579
Short answer is yes. I can re-verify tomorrow with newest 0.9dev version, but last time I checked, about a month ago, _torch.cuda.is_available() returned True_ even when I set _num_gpus=0_

[2020-06-22 20:19] richardliaw commented on #9089
Can you try installing `pip install 'ray[tune]'`? It worked for torch 1.4 at a minimum.

[2020-06-22 20:24] ericl commented on #8579
The ray param overrides CUDA_VISIBLE_DEVICES, which *should* be respected by pytorch (it is respected by tensorflow, etc). There might be some bug where this isn't the case.

[2020-06-22 20:47] mirekphd commented on #9070
Strange, because the timings above indicate scaling typical for multi-threaded computations where a Kubernetes / Openshift orchestrator restricts CPU threads usage proportionally to the user-specified limits, but.,. using all CPUs (in small fractions adding up to the desired total).

Yesterday I got an an unambiguous error message to do with "physical CPUs" when I set it to a number exceeding the

[2020-06-22 22:14] richardliaw commented on #9070
Yeah, good point - RayTune is going to incur multi-processing startup overheads between different models, AND ipc calls during training (for reporting intermediate progress). That's probably why you're seeing a large slowdown.

What's the benchmark when if you set
 1. `resources_per_trial` = 64, and
 2. `ray.init(num_cpus=64)` and
 3. lgbm_num_cpu_threads=64?

[2020-06-22 22:51] rkooo567 commented on #8923
Cannot reproduce it from 0.8.6 so far. I will remove release blocker. But we should definitely fix this before 0.8.7, so I will keep P0

[2020-06-23 00:43] bbalaji-ucsd opened #9095 "[ray] Visualize Ray dashboard locally/offline"
### Describe your feature request
Instead of port forwarding, I would like a file to be saved for the Ray dashboard, and sync that file to visualize locally. Similar to how Tensorboard works.

[2020-06-23 01:26] #8713 closed

[2020-06-23 01:52] 57334502 commented on #8794
thank you! I found the answer.

My solution is: I have each node share a network disk (this disk saves my code, and then add the directory to the environment variable $pythonpath),restart ray .&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Robert Nishihara"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月23日(星期二) 凌晨2:33
收件人:&nbsp;"ray-project/ray"<ray@noreply.github.com&gt

[2020-06-23 02:25] gaocegege commented on #6328
I think we can close it since it is already merged into upstream.

[2020-06-23 02:54] chaokunyang commented on #6745
Close this issue as it's finished

[2020-06-23 02:54] #6745 closed

[2020-06-23 03:42] #6328 closed

[2020-06-23 05:38] suquark commented on #8923
@ericl I have created a PR to fix the issue. but I am not sure about how to create unit tests.

[2020-06-23 05:54] ericl commented on #8923
Could we use subprocess to run and check the output of a noop ray script? I
think we have a couple tests that do that already for testing multiple
drivers, for instance.

On Mon, Jun 22, 2020, 10:38 PM Siyuan (Ryans) Zhuang <
notifications@github.com> wrote:

[2020-06-23 06:43] PonteIneptique opened #9098 "Pickler.dump raises `NoneType object is not callable`"
Hi !

### What is your question?

Pretty sure it's not a bug, and just me not understanding the API/documentation. If you look at my class [there](https://github.com/PonteIneptique/pie/blob/3bfb8b7587b82fb273d6f106a71c5d75c2805c2b/pie/scripts/tune.py#L69), as soon as I start training, and apparently before the class is setup, I get a Pickler issue. I have no idea why, it looks to me like I followe

[2020-06-23 07:21] pengzhenghao opened #9100 "SAC-pytorch is not working with atari"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
SAC-pytorch is not working with atari! Seems related to bug in pytorch.

python 3.7
ray 0.8.5
torch 1.5.1
torch vision 0.6.1

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use

[2020-06-23 07:44] richardliaw commented on #9084
I think that's a typo; can you help push a fix? Thanks!

[2020-06-23 07:52] richardliaw commented on #8336
Fixed in https://github.com/ray-project/ray/pull/8963! Please let me know if that works for you.

[2020-06-23 07:52] #8336 closed

[2020-06-23 08:34] richardliaw commented on #9098
This looks like a bug on our side - cc @suquark who worked on serialization

[2020-06-23 08:59] kakakflo22thy commented on #8961
I think this is a Version problem and my colleague also encountered the same problem. I rewrote my code in version 0.8.4 and this bug is gone.

[2020-06-23 09:12] solacerace commented on #4902
@ijrsvt I am facing same issue - tested both on version 0.8.4 and 0.8.5
`ray up` starts only the head node, but not the worker nodes.

[2020-06-23 09:39] PonteIneptique commented on #9098
Small note: I tried the last two or three bugfix version (x.y.z the z here). I have not access to this right now so I can't confirm the exact version.

[2020-06-23 11:05] goulou opened #9103 "[dashboard] Error on Infinity values"
### What is the problem?

In Ray 0.8.5, reporting ``Infinity`` float value in a metric completely breaks (at least the Tune view of) the dashboard. It gets serialized as "Infinity" (without quotes), which is NOT a compliant JSON Value.

### Reproduction

Sorry but I am not very fluent with Ray. Tell me if I should spend more time trying to provide a reproducibility script.
In my case, the JSON sen

[2020-06-23 11:26] SanjiAp commented on #8695
If I am requesting more resources then ray gives different warning and stops there. I don't have screenshot of that right now.

I guess this issue was something to do with the firewall. I have cleared this issue.
Thanks

[2020-06-23 11:26] #8695 closed

[2020-06-23 12:03] pengyuan-zhou commented on #9028
Hi SangBin @rkooo567 , I've consulted the slurm admin and he suggests me to check whether ray is using Infiniband (RDMA) interface. If it's using ethernet (tcp), then that could be the issue.
Thank you.

[2020-06-23 14:07] stefanbschneider commented on #7983
Any way to change the directory to which the agent is saved when calling `.save()`?

[2020-06-23 14:14] Andrej4156 commented on #9064
Update: I've printed the episode rewards through a custom callback function and I can confirm that Ray is receiving these values. I've also been able to determine that if the value is big enough, the reward does affect behavior, just in the opposite way one would expect. So giving the AI a big reward for reaching the destination actually causes it to reach the destination less. Does anybody have r

[2020-06-23 14:32] stefanbschneider opened #9104 "[rllib] How to collect training results?"
### What is your question?

I'm using RLlib with `results = tune.run(custom_train,...)` to train a PPO agent.
I've been struggling for hours now to somehow get a list of all episode rewards after training.
In the results, there is `hist_stats/episode_reward`, but this only seems to include the last 100 rewards or so.

I tried making my own list inside the `custom_train` function but I can't seem t

[2020-06-23 16:17] rkooo567 commented on #9103
cc @mfitton

[2020-06-23 16:23] arunmk commented on #8958
@ijrsvt attached.

[ray-head-deployment.yaml.txt](https://github.com/ray-project/ray/files/4820620/ray-head-deployment.yaml.txt)
[ray-worker-deployment.yaml.txt](https://github.com/ray-project/ray/files/4820622/ray-worker-deployment.yaml.txt)
[start_ray_driver.sh.txt](https://github.com/ray-project/ray/files/4820623/start_ray_driver.sh.txt)

[2020-06-23 17:02] #8923 closed

[2020-06-23 17:34] chokosabe commented on #9104
Been wondering about this as well. a couple of hints in the code but would be nice to develop some docs that address this specifically

[2020-06-23 17:56] edoakes commented on #8958
@arunmk when you're calling `ray.cluster_resources()` are you calling `ray.init(address="auto")` to connect to the running cluster? One reason you might be seeing all CPUs used is if you're just calling `ray.init()`.

[2020-06-23 18:28] ijrsvt commented on #4902
@solacerace can you share your YAMLs?

[2020-06-23 19:36] sereysethy commented on #9075
Hi, I also tried to use tune with custom environment, and I faced the same issue. There is only one instance running (in my case) from what I understand and Tune reported that the `OSError: [Errno 48] Address already in use`.

[code]

[2020-06-23 20:08] kamil-kaczmarek commented on #8826
hey @vertangelx and @sumanthratna,

Here is Kamil from neptune.ai. We are now working on integration with tune.

Do you have any specific needs regarding it? - it's really great time to share a bit about your needs :)

Integration will work as a tune logger (similar to MLFlow), so you can use it with minimal code changes, like any other Logger. It will naturally work with rllib.

[2020-06-23 21:43] #9058 closed

[2020-06-23 22:47] arunmk commented on #8958
@edoakes that did the trick! Thanks!

My fundamental issue was with getting the right number of GPUs. Will this API call provide accurate GPU numbers as well?

[2020-06-23 22:59] rkooo567 commented on #7632
@edoakes Is supporting GCS port resolving this issue? If so, I will assign myself to this issue.

[2020-06-23 23:08] rkooo567 commented on #9044
@stephanie-wang can confirm, but I think it is the known limitation that we don't handle raylet failures. I could find this information from code. https://github.com/ray-project/ray/blob/9b4428c668bdcfbe282d689f7e703e8e9eace76e/src/ray/core_worker/transport/direct_task_transport.cc#L234

[2020-06-23 23:53] richardliaw commented on #9044
Well, the entire ray cluster shouldn't crash if a worker nodes goes down - i think it's just the core worker on that node that gets affected right?

[2020-06-24 01:01] arunmk commented on #8958
@edoakes thanks, I can now see the GPUs as well, but the count is incorrect. I have a GCP node with 2 V100 GPUs connected to it. I have a small ray cluster which has one ray head and two workers. Each worker uses one GPU:
`
- args:
    - ray start --redis-password='password' --num-cpus=$MY_CPU_REQUEST --num-gpus=$MY_GPU_REQUEST
      --memory=8589934592 --object-store-memory=4294967296 --node-ip-a

[2020-06-24 01:17] rkooo567 commented on #9044
Yeah that’s correct. But if the raylet in the node that the driver is connected dies, it can break drivers (because fatal logs occur in the driver process’ core worker). I think it is the case for this crash

[2020-06-24 01:37] arunmk commented on #8958
@edoakes I tried without any GPUs mentioned in the kubernetes yamls. On a gpu enabled machine, I still see the GPUs of the host. (2GPUs):
`(pid=24, ip=172.17.0.10) 2020-06-24 01:34:57 INFO     Available ray resouces: [{'CPU': 3.0,
(pid=24, ip=172.17.0.10)  'GPU': 2.0,
(pid=24, ip=172.17.0.10)  'memory': 1194.0,
(pid=24, ip=172.17.0.10)  'node:172.17.0.10': 1.0,
(pid=24, ip=172.17.0.10)  'node:172.