[2020-07-14 23:15] wuisawesome opened #9486 "[New scheduler] Release testing"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script

[2020-07-14 23:16] wuisawesome opened #9487 "[New scheduler] Performance optimization"
### Potential points of concern

We should ensure that release testing catches these performance cases, or make sure we cover these cases in some way.

* Current scheduling logic is O(n)

[2020-07-14 23:52] clarkzinzow opened #9489 "[Core/Python] A ray.remote flag for recursive object ID gathering in task arguments."
### Feature Request

Currently, when a task argument contains an object ID that is nested within a Python container (list, tuple, dict, dataclass), that object ID isn't captured in the task's dependencies that must be resolved before execution, and the object ID is never replaced with its concrete value. It would be very useful for our use case (and I believe others) if a flag could be passed to `

[2020-07-15 01:40] ffbin commented on #9466
@wuisawesome I think we can take a look at c++ unit tests.

[2020-07-15 02:25] Glaucus-2G commented on #9309
I think I have got it.  Thank you!

[2020-07-15 03:34] JerryLeeCS commented on #9446
Added #9492 for this issue.

[2020-07-15 03:39] nlnjnj commented on #8958
I got the same issue seems only the --num-cpus works fine the memory and num-gpus do not work.

[2020-07-15 05:59] robertnishihara opened #9493 "Dropping Python 3.5 support."
We are considering dropping Python 3.5 support because
- It is a small percentage of users
- The end of life for Python 3.5 is very near (September)
- It would simplify maintenance/development

If this would negatively affect you, please comment!

[2020-07-15 06:54] jsuarez5341 commented on #9437
Hey -- @sven1977 I can confirm this was introduced in a recent nightly wheel. Just had a user on Neural MMO hit this, solved by using a wheel from 25 days ago. Can't narrow it down any more than that sadly

[2020-07-15 06:56] sven1977 commented on #9437
@DavidMChan @jsuarez5341 Thanks for filing this! Will take a look.

[2020-07-15 08:26] richardliaw commented on #9047
Ah, speaking of integration: Ray also has a joblib backend. Similar to what is proposed here (https://github.com/optuna/optuna/issues/1381), you can do:

[code]

which effectively allows optuna to scale across many machines and take advantage of Ray's distributed execution.

[2020-07-15 10:20] saswatac commented on #9320
I looked at the solution in https://github.com/ray-project/ray/issues/9030 , which seems to be require the logging to be configured in the remote function / actor. Instead of this, i was wondering if there was any hooks or callbacks available which gets executed during ray.init on the workers. Such a mechanism could be used to initialise the logger for the worker.

[2020-07-15 11:38] vinhdiesal commented on #9440
thanks you

[2020-07-15 11:38] #9440 closed

[2020-07-15 12:07] vinhdiesal opened #9501 "[ray][tune] Not using all resources for distributed training."
I manually created a `Ray` cluster with the following hardware:

- `Alienware` - 2 NVIDIA GPUs
- `Razer` - 2 NVIDIA GPUs
- `IMAC`
The ray cluster shows that I have 4 GPUs and 22 Cores totaling up to 33 workers. I want to use distribute the training with all my machines in the cluster.
![Screenshot_2020-07-15 Ray Dashboard](https://user-images.githubusercontent.com/47830328/87542880-893b2d80-c658-1

[2020-07-15 13:12] sven1977 commented on #9437
Here is the PR that fixes this problem.
https://github.com/ray-project/ray/pull/9497
Will be merged later today.

[2020-07-15 13:19] iamhatesz commented on #9320
My understanding was that there is a default logger initialized on each worker, so when I write `logger.info(...)`, the output is redirected to the driver and finally printed in the console. I've seen multiple `logger = logging.getLogger(__name__)` statements in the rllib code, so I thought this is enough to have that kind of functionality. But the code I posted above doesn't work as I expected. S

[2020-07-15 15:43] 20zinnm commented on #9501
You are requesting 22 CPUs and 4 GPUs for **each** trial. If you lower it to the number of CPUs and GPUs needed for each trial **independently** (which we might be able to help you determine if you share the actual training code), then Ray can start more jobs.

Trials can only be scheduled on a single node (though you can call remote functions from within a trial that can be queued independently).

[2020-07-15 15:44] 20zinnm commented on #9501
When you reduced the resources to 10/2, you are still asking for each trial to have 10 CPUs which only your Alienware node is able to provide. Hence, it is the only node being utilized.

[2020-07-15 15:52] sven1977 commented on #8688
Working on this now ...

[2020-07-15 15:55] sven1977 commented on #8688
This PR will have a fix for this problem. For now, just change line ~380 in dqn_tf_policy.py to
[code]

[2020-07-15 15:55] sven1977 commented on #8688
https://github.com/ray-project/ray/pull/9497

[2020-07-15 15:55] sven1977 commented on #8688
@PgLoLo

[2020-07-15 16:09] sven1977 commented on #8688
This will be merged later today. ...
Closing this now. Feel free to re-open should the above fix not work on your end.
Thanks for filing this!

[2020-07-15 16:09] #8688 closed

[2020-07-15 16:09] sven1977 commented on #9437
Closing this now.
Feel free to re-open should the above PR not fix this issue on your end.

[2020-07-15 16:09] #9437 closed

[2020-07-15 16:37] Hadrien-Cornier opened #9503 "[ray][tune] Ray does not make GPU available to Trainables"
### What is the problem?

I initialize ray with a GPU and assign the GPU to trials in the tune.run() call but Torch sees no GPU when the Trainable is created.

**Environment :**
Python : 3.6.9
Cuda : Cuda compilation tools, release 10.0, V10.0.130
Torch  : '1.5.1'
Ray : '0.9.0.dev0'
OS :
[code]
### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script s

[2020-07-15 17:02] amogkam commented on #9503
Hi @Hadrien-Cornier, what does `torch.cuda.is_available()` print out when just try it on the Python interpreter?

[2020-07-15 17:16] Hadrien-Cornier commented on #9503
It prints False, thanks for the help. I will reinstall pytorch.

[2020-07-15 17:27] amogkam commented on #9503
It looks like torch 1.5 only supports CUDA 10.1/10.2, not 10.0: https://github.com/pytorch/pytorch/issues/37320. You can either upgrade Cuda or downgrade to torch 1.4.

[2020-07-15 17:27] #9503 closed

[2020-07-15 17:36] thatGreekGuy96 opened #9504 "All objects returned by method stay pinned in memory even if only reference to one is kept"
### What is the problem?
We use ray to parallelise genetic algorithms. We noticed that in certain cases objects stay pinned in ray memory which sometimes fills up and causes the program to crash.

The reproduction script does not crash but running `ray memory` will show the leak (objects listed as `PINNED IN MEMORY` will increase). The number of objects still in memory scales with the number of ge

[2020-07-15 17:42] sven1977 commented on #9100
Can you try with the latest ray release? It should be fine now. There is an SAC compilation test that proves this:
`rllib/agents/sac/tests/test_sac.py::TestSAC::test_sac_compilation`
It loops through all frameworks (pytorch included) and makes sure SAC runs on Atari envs as well.

Your command line also would change with the new release to:
`rllib train --run SAC --env "Pong-v0" --config '{"framew

[2020-07-15 17:42] #9100 closed

[2020-07-15 17:42] sven1977 commented on #9218
@michaelzhiluo Looking at this now ...

[2020-07-15 17:51] rkooo567 opened #9505 "`test_multi_node.py::test_multi_driver_logging` hangs when GCS actor management is turned on."
### What is the problem?

test_multi_node.py::test_multi_driver_logging hangs when GCS actor management is on.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

Run test_multi_node.py::test_multi_driver_logging

- [ ] I have verified my script runs i

[2020-07-15 18:06] wuisawesome commented on #9505
cc @stephanie-wang

i don't think this test should deadlock (always a chance i messed it up).

 i wonder if this has anything to do with the fact that this test uses detached async actors which block/wakeup from different drivers (see `test_utils.Semaphore`)

[2020-07-15 18:08] rkooo567 commented on #9505
It is highly likely there is some race condition from GCS sides.

[2020-07-15 18:34] 20zinnm commented on #9317
After watching the video, I don't know if this is exactly the same issue as #8805 because for me it never finishes loading in the first place. I also don't see the an error anywhere except in the browser.

[2020-07-15 19:08] vinhdiesal commented on #9501
The training code is just a CNN for MNIST, please show how you can allocate resources independently to run more jobs.
I want to use all my machines.
[code]

[2020-07-15 19:32] 20zinnm commented on #9501
Your code as written works if you reduce the resources allocated to each trial.

Determining the optimal resources per trial is something of an art form. From your code, it looks like TensorFlow is not configured to make use of more than one GPU. Thus, it would make sense to me to allocate one or two CPUs and one GPU per trial.

[2020-07-15 19:36] 20zinnm commented on #9501
Also, you are passing a config parameter called `threads` which I assume is supposed to limit the number of threads TensorFlow uses. However, you never use that parameter in the code, so TensorFlow will end up using all cores. That's probably not an issue if you are using GPUs.

Also, if you are using GPUs for training then the IMAC cluster will not be used--nor should it be--since it has no GPUs

[2020-07-15 19:47] darthveda-ai opened #9507 "Handling thousands of jobs using ray"
[autoscaler]

### If thousands of jobs are to be executed, would the recommendation be

- To have a single ray autoscale cluster and submit all thousand jobs to it. With my given understanding of ray, for this to work in kubernetes, launch a autoscale ray cluster using `ray up cluster.yaml` command and submit the jobs to this ray cluster using `kubectl create -f job.yaml`. Couple of questions with

[2020-07-15 20:36] sven1977 commented on #9100
@pengzhenghao

[2020-07-15 20:49] bbalaji-ucsd opened #9510 "[RLlib] SAC does not support nstep updates"
### Describe your feature request

SAC failed to do nstep updates when I tried it. The following error was thrown.
[code]

[2020-07-16 00:24] #9501 closed

[2020-07-16 03:15] pengzhenghao commented on #9100
Great! Torch version SAC is working now (not sure if the performance match tf).

BTW, I found a strange error if there is no torch installed (It seems the policy falls back to TFPolicy if no pytorch installed? I am not sure):

[code]

[2020-07-16 03:27] ericl commented on #9504
Seems like there is a very subtle issue here: Ray will treat the return of the remote call as one object. Even if it deserializes into multiple numpy arrays. So if you keep a reference to even a single element of that array, the entire return will be pinned in memory.

An easy fix is to np.copy() the result, which adds a bit of overhead but I'm guessing it doesn't matter for this application.

[2020-07-16 05:41] sile commented on #9047
Great! Thank you for your information!

[2020-07-16 09:09] sven1977 commented on #9218
PR: https://github.com/ray-project/ray/pull/9516

[2020-07-16 09:39] zzcNEU commented on #9476
hello, I want to train model by offline datasets. on the example cartpole. But, my reward is always nan.
Do you know the reason?

[2020-07-16 09:40] zzcNEU commented on #7966
hello, I want to train model by offline datasets. on the example cartpole. But, my reward is always nan.
Do you know the reason?

[2020-07-16 12:42] forhonourlx opened #9518 "[ray]ERROR: ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl is not a supported wheel on this platform."
Hi Ray Team,
I am trying to pip install  https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl
Got `ERROR: ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl is not a supported wheel on this platform.`

My env is:
Python 3.6.10 |Anaconda, Inc.| (default, Mar 23 2020, 23:13:11)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more

[2020-07-16 14:55] HanbumKo commented on #8763
Hi, I got same error with this issue, any update here??

[2020-07-16 14:56] HanbumKo commented on #8763
![image](https://user-images.githubusercontent.com/37624747/87686824-f1585380-c7bf-11ea-98f2-360b4a2c5f1c.png)

[2020-07-16 15:39] mehrdadn opened #9520 "Threading compiler errors"
### What is the problem?

[code]

### Reproduction (REQUIRED)

Uncomment the warning suppression in #9519.

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/latest/installation.html).

[2020-07-16 17:06] rkooo567 opened #9522 "test_metrics::test_raylet_pending_tasks seem to be hanging when GCS actor management is on."
### What is the problem?

Discovered from CI. Not 100% sure if it due to GCS actor management.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in a clean

[2020-07-16 17:33] aditya-khant commented on #9476
have you checked the rewards in the offline dataset?

[2020-07-16 17:45] clarkzinzow commented on #9489
If the implementation given above seems doable, I'd be happy to take this on.

[2020-07-16 18:48] sven1977 commented on #8384
Taking a look at this now ...

[2020-07-16 19:00] sven1977 commented on #8384
The exploration's epsilon is never reduced, leading to always acting randomly (epsilon is always 1.0).

[2020-07-16 20:10] Svalorzen commented on #8763
I think I risolved the problem, for me the length of the episodes was way too high, and so ray was trying to keep in memory a ton of experiences which basically ate infinite memory. Not sure if this is the same as what you are seeing.

[2020-07-16 20:35] mcrowson opened #9528 "ray::IDLE processes persist if I disconnect and kill master process from IDE"
### What is the problem?
When developing locally I sometimes start up a tune.run, and part way through i might kill the process from my IDE (using VSCodium). This disconnects me and the IDE indicates that no debug process is running, however I have extra ray:IDLE processes that still are sucking up ram.

### Reproduction (REQUIRED)
[code]

Run that with the debugger from within VSCodium and then c

[2020-07-16 20:38] richardliaw commented on #9518
Can you also post `pip --version`?

[2020-07-16 20:38] sven1977 commented on #8384
This PR fixes the issue. QMIX is now also using our exploration API (it wasn't before, which is why it broke with the introduction of that API in 0.8.4). It defaults to `type: EpsilonGreedy` (same as DQN).
Also, a test case has been added to confirm simple learning capabilities on the above TwoStepGame.
https://github.com/ray-project/ray/pull/9527

[2020-07-16 20:38] richardliaw commented on #9507
The best way to do this is to have different jobs correspond to different Ray clusters (for now).

[2020-07-16 20:39] sven1977 commented on #8384
@ManuelZierl Thanks for filing this! The fix should be merged tomorrow or over the WE.

[2020-07-16 20:40] sven1977 commented on #8384
@GoingMyWay

[2020-07-16 21:07] richardliaw commented on #8991
This should be addressed in the future by #9427

[2020-07-16 21:07] #8991 closed

[2020-07-16 21:11] richardliaw commented on #8913
Sorry; I totally missed your comment at the bottom. A PR would be great!

[2020-07-16 21:15] richardliaw commented on #9444
Headers should be generated whenever the trial starts running. If a trial has not started running, we try to not to create the csv file.

If you want to change behavior, you may way to either provide a custom logger or in your application check for file existence?

[2020-07-16 21:18] richardliaw commented on #8171
I will close this in lieu of https://github.com/ray-project/ray/issues/9159

[2020-07-16 21:18] #8171 closed

[2020-07-16 21:19] ejunprung commented on #9444
We ended up doing exactly that but it's good to hear that you have the same recommendation. The problem seems to be fixed now!

[2020-07-16 21:19] #9444 closed

[2020-07-16 21:28] richardliaw commented on #9159
Yeah, having this support would be nice. An easy case to get working would be:

[code]

[2020-07-16 21:47] GoingMyWay commented on #8384
@sven1977 Great, I will try it to see if it can work.

[2020-07-16 21:48] kivo360 commented on #9528
Same issue. Not only with tune.

[2020-07-16 21:55] kivo360 opened #9529 "[core] How to manage the number of actors of a given kind inside of a cluster"
I'm creating actors from different processes. I want to ensure I don't over subscribe the number of ray actors inside of a cluster. I would create an actor based on number of CPUs in a cluster. How do I ensure I don't create too many actors from separate processes.

[2020-07-16 21:56] richardliaw commented on #9529
Hey @kivo360, can you give more details about what you're doing? i.e., do you know roughly how many ray actors you want to create (per separate "process")?

[2020-07-16 22:44] #9441 closed

[2020-07-16 22:45] simon-mo commented on #9441
Hi @dsuess, this fix should be included nightly wheel tonight. Thanks for finding it. If you have any other concerns or suggestions about Serve, feel free to reach out to me on ray slack.

[2020-07-16 22:47] kivo360 commented on #9529
Okie dokie. Let me clarify. I love lists because they help me organize my thoughts:
1. Assuming that we're using python we'll call a separate process a newly initiated interpreter. That can be either done through the `multiprocessing` module or by starting the same program elsewhere.
2. We're going to assume that we call `ray.init()` at the beginning if each process as well as initialize the actor

[2020-07-16 23:22] richardliaw commented on #9529
Got it! Can you tell me a bit more about the user application that you're trying to build using this architecture? (it would help me to get a bit more context!)

2. You can maybe use a "detached actor" - https://docs.ray.io/en/master/advanced.html#detached-actors

[2020-07-16 23:25] dsuess commented on #9441
Thanks @simon-mo. I'll give it a try

[2020-07-16 23:42] forhonourlx commented on #9518
Hi @richardliaw ，
pip 20.1.1 from /home/simon/anaconda3/lib/python3.6/site-packages/pip (python 3.6)

[2020-07-16 23:46] forhonourlx commented on #9518
And some older ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl could still be installed.

[2020-07-17 00:23] kivo360 commented on #9529
Oh, this is for trading software. I split a single environment between parts and connected them together again using [kafka](https://faust.readthedocs.io/en/latest/).  The intention is to have a long-running fault-tolerant pipeline that I can replay later if I needed to. I use event sourcing so I can replay events later if I needed to, and I want to use Ray and RLLib combined to train an agent com

[2020-07-17 00:59] #9383 closed

[2020-07-17 01:00] rkooo567 commented on #9134
@stephanie-wang @pcmoritz Can I close this issue?

[2020-07-17 01:21] stephanie-wang commented on #9134
Yes, should be fixed by #9228!

[2020-07-17 01:21] #9134 closed

[2020-07-17 01:23] #7632 closed

[2020-07-17 01:23] rkooo567 commented on #7632
I assume this should be closed by that PR. Please reopen if the issue still occurs.

[2020-07-17 03:10] zzcNEU commented on #9476
Hello, Itrain the mode las follows:
![image](https://user-images.githubusercontent.com/38434094/87744358-e3d1b680-c81d-11ea-825f-b427e1c6b3fc.png)
![image](https://user-images.githubusercontent.com/38434094/87744371-efbd7880-c81d-11ea-8f22-dac363142e27.png)
First, online train rewards is 190...
But,offline is nan

[2020-07-17 03:53] #9218 closed

[2020-07-17 04:54] HanbumKo commented on #8763
Oh OK mine is 2000 per episode, do you happen to remember the length?

[2020-07-17 06:46] acowlikeobject commented on #9318
Apologies for the delay.  This is interesting.  I didn't realize you could create pools of the _same_ workers multiple times... but I guess why not.  As you say, an ActorPool is a thin utility wrapper, with precisely the utility (scheduling/mapping) that I want to make thread safe.

Think this gives us some good options... thanks very much for the help!

[2020-07-17 06:46] #9318 closed

[2020-07-17 08:29] spig95 opened #9536 "[Rllib] Random policy masking non-allowed actions"
Hello everyone,

I wanted to implement a random policy masking the non-allowed actions, modifying this implementation (https://chuacheowhuan.github.io/RLlib_rand_policy/).

My code for `compute_actions` inside `Policy` is the following (`action_mask_list` is the core part, the one of which I am unsure):

[code]

Here I rely on the fact that `obs_batch` is a flattened version of the observation giv

[2020-07-17 10:14] #8384 closed

[2020-07-17 10:50] 51616 commented on #8339
I tried downgrading to torch 1.4 but the issues still occur. Is there any quick workaround for now?

[2020-07-17 12:20] anqixu commented on #9146
Updated test script: (minor flaw in _save() function and more robust _restore() function; not cause of issue)
[test_tune.py.txt](https://github.com/ray-project/ray/files/4937681/test_tune.py.txt)

Found issue in trainable.py > `Trainable.restore_from_object()`, which restores objects from pickle to `tmpdir` yet passes `checkpoint_path=os.path.join(tmpdir, info["checkpoint_name"])` instead to `rest

[2020-07-17 12:46] #9146 closed

[2020-07-17 14:00] sven1977 commented on #9536
It's entirely up to your environment to define rules about masked actions and how these show up in the observations.
You can take a look at the QMIX example: `rllib/examples/two_step_game.py --run QMIX` to check how the TwoStepGame env does this. QMIX internally makes sure then that actions that are masked are never sampled (neither in the random (epsilon) case, nor from the Q-values (which are -i

[2020-07-17 16:41] guizhiyi commented on #9375
I had the same problem and solved it. You can print the  gradients. And you can see that some actual value like running_mean and running_var of BN layers are also get gradients, which is 0. You should filter the gradients.

[2020-07-17 16:50] rkooo567 commented on #9143
Maybe related to https://github.com/ray-project/ray/issues/9317

[2020-07-17 16:52] clarkzinzow opened #9541 "[Core] Turning off log redirection to files breaks all Ray service startups."
### What is the problem?

Turning off log redirection to files breaks all Ray process startups (redis, GCS server, log monitor, reporter, plasma store, raylet, etc.)

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

This bug was introduced in [this PR](https://github.com/ray-project/ray/pull/8885), so it shouldn't be affecting any releases.

The issue i

[2020-07-17 16:54] rkooo567 commented on #9541
Awesome! Thanks @clarkzinzow !!

[2020-07-17 16:55] guizhiyi opened #9542 "Why multi-node cluster cannot use other nodes except the head node."
I want to use multi-node training under the Parameter Server (PS) architecture, and start the program on the head node.
*ray==0.8.5*
<img width="394" alt="image" src="https://user-images.githubusercontent.com/39506525/87810977-7612a280-c890-11ea-8e0f-ff1d15ef4d1b.png">
<img width="833" alt="image" src="https://user-images.githubusercontent.com/39506525/87811055-9cd0d900-c890-11ea-8cd1-3955a0c5dcbe

[2020-07-17 17:16] rkooo567 commented on #9522
Couldn't reproduce, and it doesn't seem to occur from CI anymore. It probably could have been related to some other issues that were already resolved. Close it now.

[2020-07-17 17:16] #9522 closed

[2020-07-17 17:19] stephanie-wang opened #9545 "[core] RayConfig does not get set properly after multiple `ray.init` calls"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 0.9dev

If a default value in the C++ `RayConfig` gets overwritten, it seems to stay at this value instead of going back to the default the next time `ray.init()` is run. This isn't relevant to most actual use cases, but it makes testing different flags in the `_internal_config` with pyte

[2020-07-17 17:20] 09wakharet opened #9546 "resource leak in ray/pthon/ray/node.py"
### What is the problem?

The script below returns `ResourceWarning: Enable tracemalloc to get the object allocation traceback` many times. It seems to be a resource leak in ray/pthon/ray/node.py, due to unclosed logging files. The same problem can also be seen by running `ray/rllib/utils/exploration/tests/test_explorations.py` as-is.

### Reproduction (REQUIRED)

[code]

This will give the stack

[2020-07-17 17:40] guizhiyi commented on #9456
Have you solved this problem? I have the same problem

[2020-07-17 17:41] jakob-ed commented on #9456
No, unfortunately we haven’t found a fix / workaround yet

[2020-07-17 18:09] wuisawesome commented on #9480
Reopening issue to track test coverage

[2020-07-17 18:22] sven1977 commented on #8507
Yeah, that makes perfect sense. We'll fix this as well.
Thanks so much for your investigation into this! @cedros23

[2020-07-17 18:36] richardliaw opened #9548 "[core] Improve signature.py error message"
### What is the problem?

When you pass the wrong arguments into a remote method, you get a traceback that ends on ray/signature.py, and it raises a TypeError.

It makes it look at first glance that too many args are being passed into an internal ray function.

We should be sure to raise an actionable and legible error message.

[2020-07-17 18:38] guizhiyi commented on #9456
Have you tried #5437? It seems to be the solution. I tried, but the external address is not available. I don't know what went wrong. If you solve it, please tell me the solution.

[2020-07-17 19:09] rkooo567 commented on #9341
Can I take over this task next sprint?

[2020-07-17 19:39] mehrdadn commented on #8291
I reproduce this consistently with
[code]

[2020-07-17 19:50] ejunprung opened #9551 "[tune] Tried to create an owned object that already exists error"
Hi, I was curious to know what could cause this error.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray 0.8.6
Python 3.7.3
Tensorflow 1.15.0
Debian

[2020-07-17 20:02] richardliaw commented on #9551
@ejunprung can you provide a reproducible example (or a longer stack trace)?

also, can you maybe try the latest master?

[2020-07-17 20:18] roireshef commented on #8618
@ericl so far I was setting "min_iter_time_s" to very low value, so to basically disable this mechanism because under different setups (say, different simulation step time durations) it will create totally different batch sizes.
I came to realize batch sizes really make a difference, so this is something I believe is very important to be able to control explicitly and lock at a static value.

Do y

[2020-07-17 20:20] ejunprung commented on #9551
@richardliaw Unfortunately, I'm not sure how to reproduce and the above is all I see in our logs. It happens maybe once every 100 times (I think) so it's kind of random.

Could PBT checkpoints conflict with periodic checkpoints (checkpoint_freq) since we use both? I'll try the latest master but if there's anything obvious that I can investigate, I'd really appreciate it.

[2020-07-17 20:24] stephanie-wang opened #9553 "[core] Raylets in local cluster do not log to separate files"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 0.9dev

When multiple raylets are started locally, it used to be that they would each log to a separate file, e.g., `raylet.1.out`, `raylet.2.out`, etc. Now, they all log to `raylet.out`, which makes it harder to debug.

### Reproduction (REQUIRED)

Any checked in pytest that starts a loc

[2020-07-17 20:24] stephanie-wang commented on #9553
I believe this was caused by #8885, @wuisawesome.

[2020-07-17 20:26] roireshef commented on #8618
BTW, @ericl the issue is not just of inconsistent batch sizes, but also of a dramatic slowdown (takes roughly 50% more time for the same amount of steps trained, using the same environment implementation). As described above, this is when conparing 0.7.3 (fast) to 0.9dev (50% slower). The 0.8.5 version observes the same slowdown. I haven't tried other versions.

[2020-07-17 20:26] stephanie-wang opened #9554 "[core] PIDs in log files do not match the process"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 0.9dev

The log files show what I think should be a PID/TID. These used to match the actual process ID, but no longer do.

### Reproduction (REQUIRED)

Any ray script.

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue al

[2020-07-17 20:26] stephanie-wang commented on #9554
@mehrdadn, any ideas?

[2020-07-17 20:26] ericl commented on #8618
Maybe set min_iter_time_s to something like 15-30 seconds, or high enough
so things smooth out. To be clear, the batch size is always fixed size,
it's just the reporting you're seeing that is changing. Actually steps/iter
is not really an important metric, instead you can look at
num_timesteps_total. Iter is just the metric reporting period.

Eric

On Fri, Jul 17, 2020 at 1:19 PM roireshef <notifi

[2020-07-17 20:28] stephanie-wang opened #9555 "[core] Driver log file lost after multiple `ray.init`s in the same process"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 0.9dev

The driver logs to a `python-core-driver-*` file correctly during the first `ray.init()`, but then a subsequent `ray.shutdown()` and `ray.init()` does not produce a second file in the session logs. This is probably only relevant for pytests that run multiple ray sessions in the sa

[2020-07-17 20:29] stephanie-wang commented on #9555
Introduced in #9230.

[2020-07-17 20:31] roireshef commented on #8618
So just to see that I'm getting it right - min_iter_time doesn't affect batch sizes at all?

I thought reporting back to user is handled at the master process (specifically in the optimizer class) whenever a batch is done processing. Do you suggest min_iter_time_s is only consumed in the optimizer, for the sake of reporting only?

[2020-07-17 20:33] stephanie-wang commented on #9554
Opened by mistake.

[2020-07-17 20:33] #9554 closed

[2020-07-17 20:35] clarkzinzow commented on #9553
@stephanie-wang That was another regression I noticed, adding a `unique=True` argument to `get_log_file_names` [here](https://github.com/ray-project/ray/blob/5881417ec4a993194ba6d64b156ad6b5ffbca97c/python/ray/node.py#L650) should do the trick:
[code]

[2020-07-17 20:37] ericl commented on #8618
That's right. It's completely reporting only. Batch size is determined by
rollout frag length / train batch size.

On Fri, Jul 17, 2020, 1:31 PM roireshef <notifications@github.com> wrote:

[2020-07-17 20:39] sven1977 commented on #9087
Do you have a simple repro script? Or does it happen for a default e.g. Pendulum-v0 run as well?

[2020-07-17 20:52] sven1977 commented on #9087
Ok, I just checked for PyTorch and found no problems there.
Let me know, if you are on tf and I can check there as well.
You can check for yourself by breakpointing into the rllib/policy/torch_policy.py::~339 and stop when the for loop that loops through the losses + respective optimizers stops for the alpha-loss/alpha-optimizer. After the opt.step() call, the value of log-alpha has changed.

[2020-07-17 20:52] #9307 closed

[2020-07-17 20:55] stephanie-wang commented on #9553
Ah, nice find!

[2020-07-17 20:57] sven1977 commented on #9087
Actually, I just checked tf2 (eager mode) as well and it works also:
[code]

I will close this issue. Please let us know, whether this still isn't working on your end.

[2020-07-17 20:57] #9087 closed

[2020-07-17 21:02] sven1977 commented on #8551
Yeah, you are absolutely right. This was a PPO torch LSTM bug that has already been fixed recently (a week or so ago).
Could you check again with the latest master? I'm still seeing this in APPO as well and will fix it there as well right now.
If you don't want to upgrade and just patch your current version, replace the above code snippet in rllib/agents/ppo/ppo_torch_policy.py with:

[code]

[2020-07-17 21:04] rkooo567 commented on #9181
cc @sven1977

[2020-07-17 21:04] richardliaw commented on #9337
cc @wuisawesome

[2020-07-17 21:06] sven1977 commented on #8551
Still fails. I'll take a closer look ...

[2020-07-17 21:08] richardliaw commented on #9368
cc @martinrebane did you end up resolving this?

[2020-07-17 21:09] richardliaw commented on #9405
Try installing ray (pip install ray). Feel free to reopen this if there's an issue.

[2020-07-17 21:09] #9405 closed

[2020-07-17 21:09] rkooo567 commented on #9232
cc @stephanie-wang Can you take a look at this?

[2020-07-17 21:11] rkooo567 commented on #9261
Continuous distribution can provide negative entropy.

cc @ericl

[2020-07-17 21:11] roireshef commented on #8618
Ok thanks! What about this one?

[2020-07-17 21:12] rkooo567 commented on #9274
cc @sven1977

[2020-07-17 21:13] rkooo567 commented on #9296
Could you create a PR to support this?

[2020-07-17 21:15] rkooo567 commented on #9360
cc @sven1977

[2020-07-17 21:16] rkooo567 commented on #9404
I think the issue is DQN doesn't support Tuple spaces. We should probably raise a better error message.

[2020-07-17 21:17] #9415 closed

[2020-07-17 21:19] rkooo567 commented on #9432
cc @stephanie-wang

[2020-07-17 21:26] rkooo567 commented on #9471
cc @sven1977

[2020-07-17 21:27] rkooo567 commented on #9474
You should be able to resolve this after this PR is merged. https://github.com/ray-project/ray/pull/9492

[2020-07-17 21:28] rkooo567 commented on #9489
cc @edoakes

[2020-07-17 21:30] rkooo567 commented on #9518
What linux distro are you using?

[2020-07-17 21:30] rkooo567 commented on #9518
cc @mehrdadn

[2020-07-17 21:37] iamhatesz commented on #8551
Yes, I figured out later that the problem lays somewhere deeper, and fixing only this line of code didn't help...

[2020-07-17 21:40] elibol commented on #9296
I can look into creating the PR when I have some free time, but anyone else who needs this sooner should feel free to create the PR.

[2020-07-17 21:51] mehrdadn commented on #9518
@forhonourlx Could you please let us know the following?

- Your Linux distro + version

- The latest wheel that works

You can try wheels for a particular commit by changing the commit hash here:

https://ray-wheels.s3-us-west-2.amazonaws.com/master/ac39e23145336fa7d450dd170e3e12ffc3d72d83/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl

In particular these commits would be great to check:
[code]

[2020-07-17 22:12] ioannisa92 commented on #9351
I have the same question!

[2020-07-17 22:17] stephanie-wang commented on #9232
@jennicetao, how much is the memory increasing by? Some memory increase is expected because the `B` actor is responsible for ref counting the objects produced by the `A` actors. The driver can reference those objects through `ray.get`, so the `B` also has to keep the objects in scope. If you delete the driver's refs, the memory usage should go back down.

[2020-07-17 22:20] vish0910 opened #9558 "[tune] Ray Cluster deployed in Kubernetes unable to sync checkpoint directories to the driver node"
### What is the problem?

Getting the following error (Stacktrace attached):
[code]

This is output of `ray_random_forest.py`. From investigation it looks like the checkpoint directories ie. **checkpoint_1, checkpoint_2** that were created in other nodes (workers) of the cluster do not get synced back to the driver node (from where I am running the python script).
Rest of the files in the Trial di

[2020-07-17 22:21] wuisawesome commented on #9553
Nice catch, I may have made this same mistake in a few places. @clarkzinzow do you want to submit a PR for this? If not, I'll try to get around to it in a week or so.

[2020-07-17 22:21] stephanie-wang commented on #9432
Probably has something to do with the object transfer algorithm. I think broadcast of large objects has not been stable for some time now.

cc @zhuohan123 @suquark (who worked on a prototype for improving broadcast before), what do you think?

[2020-07-17 22:25] stephanie-wang commented on #8726
Is there a way we can still support the timeline? It is very useful in some scenarios.

[2020-07-17 22:44] #8913 closed

[2020-07-17 22:55] richardliaw commented on #9558
Do you have an NFS for your kubernetes cluster? That might save you a lot of trouble.

[2020-07-17 23:00] vish0910 commented on #9558
Hello @richardliaw,

Thank you for a quick reply.

No, I do not have NFS for the cluster. Does it have to be a NFS? How does ray sync files like
1. events.out.tfevents.1595022826.ray-worker-6d9f6b9b8d-g4zvk
2. params.json
3. params.pkl
4. progress.csv
5. result.json

But not `checkpoint_1`, `checkpoint_2` etc.?

[2020-07-17 23:03] richardliaw commented on #9558
The files are actually generated on the driver, not on the node. Do you have access to S3? S3 could work too.

[2020-07-17 23:38] vish0910 commented on #9558
Okay. So what gets synced on `sync_on_checkpoint`?

sync_on_checkpoint (bool) – Force sync-down of trial **checkpoint** to driver. If set to
False, checkpoint syncing from worker to driver is asynchronous and best-effort. This does
not affect persistent storage syncing. Defaults to True.

In the above documentation snippet I am interpreting **checkpoint** as the `checkpoint_N` directories describe

[2020-07-18 00:32] clarkzinzow commented on #9553
@wuisawesome Sure I can submit a PR for that, I'm already in this code for [another PR](https://github.com/ray-project/ray/pull/9547) so it's not much of a context switch.

[2020-07-18 00:42] mcrowson commented on #7319
Having the same experience. Is it normal that trial lengths would be shorter than episode lengths? Should I be having smaller episodes or longer trials for PPO?

[2020-07-18 01:35] forhonourlx commented on #9518
Hi @mehrdadn @rkooo567 @richardliaw
`$ cat /proc/version
Linux version 5.3.0-62-generic (buildd@lcy01-amd64-004) (gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)) #56~18.04.1-Ubuntu SMP Wed Jun 24 16:17:03 UTC 2020
`
Sorry, I found it was because the .whl file is renamed with postfix due to sys name conflict.
If renaming it to `ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl`, all .whl could be in

[2020-07-18 01:38] mehrdadn commented on #9518
Oh I see, sounds like the issue is resolved then? I'll close the issue in that case, let us know if it comes up again. Thanks!

[2020-07-18 01:38] #9518 closed

[2020-07-18 02:02] guizhiyi commented on #9456
I use Ray version: 0.6.4, and use  'ray start --head --redis-port=6379 --redis-shard-ports=6380  --node-manager-port=12345 --object-manager-port=12346'.
It works!!!!

[2020-07-18 02:31] houcharlie commented on #9261
(1) Sorry, I should've mentioned that the action space I used is discrete, so that shouldn't be a concern.
(2) Differential entropy can be negative, but differential KL divergence cannot be negative.  Check out the [proof](https://en.wikipedia.org/wiki/Gibbs%27_inequality) (under the "alternative proofs" section).  This proof is also valid for continuous distributions.

[2020-07-18 06:34] rkooo567 commented on #8726
@stephanie-wang Yes! The initial goal is to make it configurable (so that you can turn it on & off).

[2020-07-18 06:35] rkooo567 commented on #8726
Eventually, we'd like to share the new metrics infrastructure. In this case, we need more scoping to support timeline & better profiling. But it is out of scope of this issue.

[2020-07-18 07:09] #9446 closed

[2020-07-18 10:05] roireshef commented on #6551
@suquark , what's the solution here? Should we disable compression?

[2020-07-18 10:50] martinrebane commented on #9368
@richardliaw I solved it by adding `export AUTOSCALER_MAX_NUM_FAILURES=100;` into my startup yaml file before `ray start` commands (I added it both for the head and workers). This works well for me, but for new users discovering the problem and solution might be rather frustrating.

So the error is still popping up, but because of max num of failures is high, it does not kill the job.

[2020-07-18 12:50] repelstiltskin commented on #9259
What is the ETA on this issue?

[2020-07-18 13:08] mehrdadn commented on #9259
@repelstiltskin I'm not sure we have an ETA right now; it may be some time before it's resolved. But if this affects you, please upvote the post. That helps the team prioritize work on different issues.

[2020-07-18 17:15] #9505 closed

[2020-07-18 17:15] #9286 closed

[2020-07-18 18:39] sven1977 commented on #8551
Strange, when I remove the `nn.Softmax` entirely and replace `probs=` with `logits=` in your custom distribution, it works just fine now.

[2020-07-18 18:52] iamhatesz commented on #8551
@sven1977 yes, this problem becomes visible only with probs, because then we create distribution from all zeros probs, which is obviously not supported in PyTorch. But this happens due to the processing of zero padded timesteps. When we use logits, this also happens, but silently - so the padding timesteps are being processed, but they shouldn't.

In #8532 I suggested models to be configurable, wh

[2020-07-19 00:24] kocic11 commented on #9474
Thanks. I noticed the PR was merged but it's not part of any release. I guess I could build ray or wait for the next release.

Do you have any timeline for the next release? When will it be available?

[2020-07-19 00:24] #9474 closed

[2020-07-19 00:28] rkooo567 commented on #9474
We are planning to have the next release in the beginning of August!

[2020-07-19 01:01] richardliaw commented on #9474
@kocic11 you could also try using the latest nightly snapshot of master (https://docs.ray.io/en/latest/installation.html)

[2020-07-19 01:39] richardliaw commented on #9558
Checkpoints (directories) are synced on sync_on_checkpoint, yep.

The above is just a limitation of our file-transfer mechanism; we use rsync to move files between VMs, but I think that mechanism breaks down on kubernetes.

The two approaches to workaround this limitation are to use 1. a networked storage or 2. to implement your own file-transfer protocol (check out `sync_to_driver`).

Does that m

[2020-07-19 01:44] richardliaw commented on #9551
Yeah I haven't seen this before. It'd be great to see this on master; we've made a couple changes to the underlying ref-counting algorithm since the last release.

Can you tell me more about how this came about? i.e., what algo were you running, how long, etc

[2020-07-19 04:40] vtomenko commented on #5496
In my case installing ssh-client in docker helped

[2020-07-19 07:38] roireshef commented on #8618
Those issues seem to be still hanging. Did you guys figured out a solution for the performance regression? I see deeper slowdowns than 20%, more like 40-50% (using the configuration above), so for now I'm still with 0.7.3

[2020-07-19 07:40] ericl commented on #8618
Is the slowdown reproducible with a benchmark env? Would be great if you could attach reproduction commands with say Pong and reported speeds.

[2020-07-19 09:42] sven1977 commented on #8551
Yeah, I got it running with your softmax + probs-inputs style of doing the model and dist.
Bottom line is: In the loss, we need to make sure that the zero-pads from the collected batch (I think it's only `train_batch[SampleBatch.ACTION_DIST_INPUTS]` that's causing these problems) must be masked all before(!) even any KL are calculated. This was the underlying problem: The backprop through the KL w

[2020-07-19 13:40] konradkalita opened #9568 "[rllib] Train script overwrites framework field in experiment config argument"
[rllib]

### What is the problem?

Framework setting passed to training script via config argument is ignored, because training script uses separate arguments for this field (`--torch`, `--eager`). If none of these args is passed to the script the framework is set to `tf`, regardless of options passed in `--config` argument.

### Expected behavior

Script should use default value for `framework` f

[2020-07-19 16:03] cometta opened #9569 "is_training key with rllib"
ray 0.8.6, python 3.7, pytorch 1.5.1, using rllib PPO algorithm

During, training, the output of input_dict["is_training"] in ```  def forward(self, input_dict,  ... ``` is starting returning False,False, False then becomes True, True True for each iteration. Aren't it suppose to be True all the time?

[2020-07-19 17:58] cometta opened #9570 "Does reproduciblity works for GPU"
ray 0.8.6, python 3.7, pytorch 1.5.1, linux

I tested setting seed with smaller timesteps_total <20000, it works, but when i have longer timesteps_total >100000. It does not work on GPU. Anyone able to get it working on tensorflow/pytorch? Can share the config parameters

[2020-07-19 18:10] sven1977 commented on #9569
It should be False when the Model call happens from out of the compute_actions method of the Policy (sampling/inference) and True when the Model is called in some loss function using a train_batch.

[2020-07-19 18:45] AlkaidCheng opened #9571 "[tune] Do not change working directory to logdir"
### What is your question?
By default, Tune will change the current working directory when calling tune.run to the logging directory which is not very desirable if one has relative paths in the training script. Is it possible to disable it?

*Ray version and other system information (Python version, TensorFlow version, OS):*

[2020-07-19 19:01] sven1977 commented on #9568
This PR should fix it. https://github.com/ray-project/ray/pull/9572
To patch for now (until this is merged): Remove the entire else block in line 188 (ray/rllib/train.py). This way, it'll:
1) Use torch iff --torch
2) Use tf-eager iff --eager
3) Use config framework (or default `tf` if not specified in config).

[2020-07-19 19:01] #9568 closed

[2020-07-19 19:03] sven1977 commented on #9087
@p-christ

[2020-07-19 19:39] javadan opened #9573 "ARSTrainer freezing"
### What is the problem?

Running custom environment with ARSTrainer is freezing computer.
Ray Dashboard shows  two threads:
ARSTrainer.__init__() using 1.2% CPU and 4.1 MB RAM
ray.rllib.ars.ars.create_shared_noise() using 100.6% CPU and 1689MB RAM

Latest stable (0.8.6)

### Reproduction

Attempting to run ARS algorithm on custom environment
I'll test on a standard gym env later, to see if it's m

[2020-07-19 19:53] #9520 closed

[2020-07-19 20:11] richardliaw commented on #9571
As a quick workaround, you could `os.chdir` back to the preferred directory at the start of your training script?

[2020-07-19 20:20] javadan commented on #9573
Well after brief investigation, I see it's got to be this parameter 'noise_size': 250000000

I'm onto the next issue. Complaining about the observations, so maybe a mismatch between arrays and numpy arrays?

Anyone seen this bug?

[code]

[2020-07-19 20:58] javadan commented on #9573
(possibly related error?: https://groups.google.com/forum/#!topic/ray-dev/lrb_33SSlXk )
"  env was returning a list as opposed to a numpy array in the reset."

Well indeed mine is also returning a list.  np.array(...)  fixed it. Phew.

[2020-07-19 20:58] #9573 closed

[2020-07-19 21:16] sven1977 commented on #9436
Hmm, interesting. Also only seems to happen if num_gpus > 0. ...

[2020-07-19 22:36] richardliaw commented on #9529
Got it. It's probably preferable to make those interpreter sessions/processes just ray actors.

To go back to your original question:

You can probably use something like Custom Resources to do this: https://docs.ray.io/en/master/actors.html#resources-with-actors

[2020-07-20 01:27] #9569 closed

[2020-07-20 02:50] juliusfrost opened #9576 "[rllib] Driver process spawns evaluation environment even when not used"
### What is the problem?

The driver process spawns an evaluation environment even when not used. When `evaluation_interval: None`, no evaluation environment should be created, but is currently not the case. This bug can cause resource issues when the environment is expensive to run.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have

[2020-07-20 04:06] mitar opened #9578 "`ray.get` hangs on `ObjectRef`s passed out-of-band"
### What is the problem?

Tested on Ray 0.8.6.

The problem is that it seems I cannot store and retrieve arbitrary objects outside of tasks/actors anymore. Documentation for `ray.put` and `ray.get` seems to reflect that this is still possible, but it is not really. See the reproduction.

For us this is now a major blocker. We used Ray (and before Plasma directly) to pass objects between user inter

[2020-07-20 04:08] magicly opened #9579 "[docs] Issue on `ray-overview/index.rst`"
# Documentation Problem/Question/Comment

so many link broken, eg:
`https://docs.ray.io/en/latest/ray-overview/walkthrough.html` should be `https://docs.ray.io/en/latest/walkthrough.html`

(Created directly from the docs)

[2020-07-20 04:14] richardliaw commented on #9579
Thanks @magicly ; feel free to push a PR!

[2020-07-20 06:03] #9295 closed

[2020-07-20 09:33] spig95 commented on #9536
I am not sure this is what you meant, however, looking at the `rllib/agents/qmix/qmix_policy.py`, I found a call to `_unpack_obs`
with `tensorlib=np`. I think this is what I needed! I was calling it with `tensorlib=tf` and I was having problems.

Now I can use it, and the result is an ordered dict with the keys defined inside my environment. So, I defined a random policy like this:

[code]

I thin

[2020-07-20 09:42] #9536 closed

[2020-07-20 11:03] matdoering opened #9584 "rllib/tune: on_step callback is called one additional time at initial environment reset"
### What is the problem?

The `on_step_callback` is supposed to fire after every step. However, when the Env's reset-function is called for the first time, it fires even though no step has taken place yet. This occurs only for the first reset when `tune` is used - for subsequent resets, the step function is not called additionally anymore.

Maybe this is also the intended functionality? In this ca

[2020-07-20 11:31] aaarne opened #9585 "Non-ascii character in function body leads to UnicodeError on hashing"
### What is the problem?

I use a non-ascii character in a function body (not in the function name), which is decorated @ray.remote. When calling that function I get a `UnicodeEncodeError`. As I understand it, the function manager hashes the function body in order to check if the remote version matches the local one. The hashing function cannot handle the non-ascii character in the body.

#### Ver

[2020-07-20 12:32] jakob-ed commented on #9456
Hi @guizhiyi I'm glad you solved your problem but I'm not seeing how this solves the problem I encountered. You're not setting `--node-ip-address` anywhere in your `start` command so how do you know that the correct interface is used?

[2020-07-20 13:04] krfricke commented on #8744
@arunmk is this issue still prevailing? The code line you pointed out should be correct as is, since it only affects items that are _not_ `Experiment` objects (and thus don't have their own config). I did a short test and confirmed it's working as intended.

It would be helpful if you could provide the code where you build the experiments and start up Tune.

I'm closing this for now, feel free to

[2020-07-20 13:04] #8744 closed

[2020-07-20 13:06] iamhatesz commented on #8551
@sven1977 I've just retested this on my original problem (the one from which I derived the script above) and looks like it's working! I can spend more time testing this once you complete your PR and I will start mine in #8532.

[2020-07-20 13:14] krfricke commented on #9351
Hi,

1. I'll have to look into the code for this, but my guess is that stopping a run triggers setting of the `done` function, while stopping the whole experiment does not do this.

2. This refers to checkpoints. Checkpoints are stored periodically (either in memory or on disk) and are needed for some scheduling algorithms, like PBT, or when you need to share sparse resources between different run

[2020-07-20 13:40] sven1977 commented on #9404
Yes, DQN only works on (single) Discrete action spaces. We should add a space error to DQN (thought we did check that though). Any reason why you wouldn't want to use a Discrete(4), instead?

[2020-07-20 14:14] kivo360 commented on #9529
What do you mean when you say that? Remove Kafka?

[2020-07-20 14:53] mike179179 opened #9591 "[tune] Memory crash"
### Ray shuts down, workers crash with [Error 111 connecting to <head_node_ip_address>:6379. Connection refused.]

ray 0.8.0; python 3.6.7; ubuntu 18.04

### Setup
I run my script on a cluster of 4 machines. (Each has 1.3 TB RAM, 1024Gb Swap, 3 GPU, 24 CPU).
Start ray on a head node via
`ray start --num-cpus=22 --num-gpus=3 --head --redis-port 6379 --temp-dir='/home/<username>/ray_temp_dir' --obje

[2020-07-20 15:45] guhaishuo commented on #9456
I also have this problem when using Ray version:0.8.6.
After changing to version:0.8.2, it works...

[2020-07-20 15:53] arsedler9 commented on #7632
Sorry for the delay @rkooo567, but I just ran my test script from earlier and it seems to work! (see below) Thanks so much. One thing I noticed is that my Ray Dashboard seems to be having issues now - when I load `localhost:8265` I see it flash on briefly in my browser, but then it disappears. Is that a known issue? Thanks again!
[code]

[2020-07-20 16:01] matdoering opened #9592 "rllib + tensorflow 2.2.0: eager execution of ray::tune fails when local_mode=True"
### What is the problem?

After updating to tensorflow 2 and updating to ray 0.86 calls to ray::tune started failing for PPO when local_mode was activated. This is because, in local_mode, eager execution seems to be active. As a consequence, `RolloutWorker.py` does not generate a tensorflow session here:

https://github.com/ray-project/ray/blob/bc842a7888100de9e7689e3f7d82486dbd45adc5/rllib/evalua

[2020-07-20 16:39] mitar commented on #9578
I think the behavior should be:;

[code]

When `ray.get` is called on `object_id`, the referenced object should be fetched and returned. At the same time the object should be pinned until a reference to used `object_id` exists. So this is similar to how it works for `ray.put`.

[2020-07-20 16:56] thomasdesr commented on #9368
https://github.com/googleapis/google-api-python-client/issues/218 this seems related? I don't see an obvious workaround though :S

[2020-07-20 18:03] #9555 closed

[2020-07-20 18:09] ijrsvt commented on #8975
@vtomenko any updates on your end? How are things going?

[2020-07-20 18:19] stephanie-wang commented on #9578
It's no longer recommended to use the binary string of the ObjectRef directly. You can use `ray.cloudpickle` instead to serialize objects out of band. Note that we don't explicitly support out-of-band object refs, so it isn't guaranteed to work well with the current ref counting protocol.

[code]

[2020-07-20 18:23] mitar commented on #9578
Sure, but that makes very large objects. I want to not have to have that performance hit.

So can this be made into a feature request to do support this?

[2020-07-20 18:32] stephanie-wang commented on #9578
The serialized ref contains the address of the worker that "owns" the object, and eventually this will also be needed to also find the location of the object. So we can't make the serialized refs any smaller than that. It's only 184 bytes total, though, compared to 20 bytes for the raw ID string. Sorry if this is a blocker for you, but it's unlikely that we'll change the serialization format given

[2020-07-20 18:36] ericl commented on #9341
cc @barakmich

[2020-07-20 18:42] mitar commented on #9578
Oh, sorry. I didn't see that. :-) So this is pickle of the object ref. Yes, I can do that. :-)

[2020-07-20 18:42] mitar commented on #9578
Does it have to be cloudpickle or does the regular pickle works? Does it have to be `ray.cloudpickle`?

[2020-07-20 18:44] stephanie-wang commented on #9578
`ray.cloudpickle` is needed because it registers a custom serializer/deserializer that dumps/loads the owner's address along with the object's ID string. I believe if you use regular pickle, it will just dump the ID string, and then you'll have the same issue as before.

[2020-07-20 18:46] mitar commented on #9578
Also, about this. Could there be some guarantees here? Like, I mention above. That reference counting would also count users of the reference, not just owners?

And how long lasting are such pickled object references? What if the original worker is not available anymore, but the object is still somewhere in the cluster? Can such object reference still resolve?

Also, could you then throw an except

[2020-07-20 18:50] baleksey commented on #9425
Have the same error and I don't know hot to fix.

"ValueError: Can not squeeze dim[1], expected a dimension of 1, got 8 for 'default_policy/lambda/Squeeze' (op: 'Squeeze') with input shapes: [?,8,8,1]."

Using config:
'model': {
	'conv_activation': "relu",
	'dim': 10,

	'conv_filters': [
		 [32, [3, 3], 1],
		 [16, [3, 3], 1],
	],

	'fcnet_hiddens': [256],
	'fcnet_activation':'tanh'
	},

[2020-07-20 18:59] stephanie-wang commented on #9578
What I mean by "not guaranteed to work" is that it's possible the objects will get cleaned up while there's still a serialized copy of the object somewhere. But you will be guaranteed to receive an error if you call `ray.get` from an out-of-band copy and the object is already gone or the owner is dead.

Right now, objects will get eventually cleaned up after their in-band ref count goes to 0. Unfo

[2020-07-20 19:32] arunmk commented on #8744
Thanks @krfricke, yes the code location is invalid. I still see the issue but have worked around it by passing the trainer function name as part of the config. I will reopen this when I have a small repro

[2020-07-20 19:37] ejunprung commented on #9551
Ah, gotcha. We're using PPO and the error occurs maybe 3 - 4 hours into training. But it doesn't happen very often, it seems random.

I'll keep an eye out and see if I can find any patterns. I'll close this for now. Thanks for the help!

[2020-07-20 21:03] #9553 closed

[2020-07-20 21:06] JerryLeeCS opened #9598 "[Cluster][Task Schedule] Remote function is not executing without any errors"
OS: Debian Buster slim
Python: python:3.7-slim
Ray:  0.8.6

Task doesn't execute sometimes when the method is using a lot of data, and it doesn't give any errors. Compare to smaller task, they will always execute. Reading from the timeline, it seems like the task is submitted but never get executed. How do I debug this? Any helps needed!

[2020-07-20 21:07] edoakes commented on #9598
@JerryLeeCS could you please provide a reproduction script? It will be difficult to help at all on this without one.

[2020-07-20 21:35] JerryLeeCS commented on #9598
Do you mean the dockerfiles?

[2020-07-20 21:37] mitar commented on #9578
OK, I am a bit unsure what is `ObjectRef` and its relation to `ObjectId`? I assume the same thing.

I think this is how it was before? Or before plasma store centrally tracked all copies and so it was able to give you one while there was at least one copy somewhere in the cluster? And this is not possible anymore? You can get it only from original owner? Do regular `ObjectRef`s know how to obtain

[2020-07-20 21:45] stephanie-wang commented on #9578
They're the same thing. We're switching over to `ObjectRef` in the next Ray release.

I'm not sure what you mean about "before", but in future versions of Ray, you will only be able to get the object while the original owner is alive.

Yes, we could track the deserialized `ObjectRef`s, but I don't see how this would gain you much. There's still a chance the object could go out of scope while it is

[2020-07-20 22:00] mitar commented on #9578
In version 0.7.5 and earlier, where you still used Arrow and Arrow Plasma store. :-) I could there store things into Plasma store directly and pass serialized ObjectId as hex around and things just worked. Until object was removed from the store because of memory pressure. I am not sure if then there was enough to have only one copy of the object somewhere in the cluster (in local Plasma store on

[2020-07-20 22:41] richardliaw commented on #9598
No, like a python file that you're running or a cluster configuration - some way for us to find out what's going wrong.

[2020-07-20 22:57] stephanie-wang commented on #9578
No, the consumer is not guaranteed to obtain the object. It will only be guaranteed to receive the value if the object is fetched into its local plasma store and the consumer pins it there by obtaining a pointer to the object.

Ownership never transfers. We don't have good documentation on this right now, but we're working on a whitepaper that will include this.

Ray is not doing that. As I said,

[2020-07-20 23:54] mitar commented on #9578
Yea. I think this would be very welcome. :-) I am getting a bit confused here with pinning, reference counting, and owner-based reference counting, and how this all relates to keeping references to ObjectRefs in memory and how this related to keeping references to objects themselves in memory. Also, how are objects now discovered and retrieved in the cluster.

So sorry for all these questions. Not

[2020-07-21 00:16] stephanie-wang commented on #9578
Yes, but this pinning is not related to the ref count that's kept by the owner. Confusing, I know. But the client to the plasma store keeps a separate unrelated ref count for objects in use to prevent them from being evicted while Python has a pointer to the object.

Yes. [Here's](https://github.com/ray-project/ray/blob/9b1772253f47d20d8aa1bc727d67630b2026b9e5/python/ray/serialization.py#L207) the

[2020-07-21 05:00] mitar commented on #9578
Thank you so much. What does "captured in a remote function/actor" in a comment there mean?

[2020-07-21 05:38] junliangyu96 opened #9603 "questions about ASHA and TensorBoard"
I'm using ASHA scheduler.

[code]
cv_wrapper is my function.

The testing result of every iteration becomes very confusing..

it directly start with

(pid=20695) Average loss in 74th epoch was : 1.1255990920698336
(pid=20695) Accuracy was : 0.8181818181818182
(pid=21373) Average loss in 73th epoch was : 0.8030315004314882
(pid=21373) Accuracy was : 0.7636363636363637
(pid=20691) Average loss in 74

[2020-07-21 07:03] LLT1 opened #9605 "example for the ray tune cannot run"
### examples in the ray tune cannot run
*I run the following tune examples from the office page: https://github.com/ray-project/ray/tree/master/python/ray/tune/examples, however, nothing is work but the example for the ppo: pbt_ppo_example.py.

The error reports :

2020-07-21 14:59:36,060	ERROR trial_runner.py:520 -- Trial MyTrainableClass_bc1ca907: Error processing event.
Traceback (most recent c

[2020-07-21 07:20] richardliaw commented on #9605
Can you post your code? Specifically, it looks like you did not implement the Trainable interface correctly

[2020-07-21 09:15] wumuzi520 opened #9608 "zsh:4: command not found: cp"
### What is the problem?
![image](https://user-images.githubusercontent.com/2016670/88035509-da758080-cb74-11ea-87ac-e010e3289c57.png)

The `path` variable is reserved in zsh, which is bind with `PATH`, so the `path` should not be used as a common variable in the script.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provid

[2020-07-21 09:27] mehrdadn commented on #9608
Thanks for reporting. I'll change it, but I don't believe we actually support zsh yet; these are meant to be Bash scripts—there are a number of incompatibilities (like brackets) that we've never accounted for. So you

[2020-07-21 09:48] roireshef commented on #8618
@ericl unfortunately I can't share the environment implementation I'm working on as it is confidential. I haven't tried to reproduce with Pong because its infrastructure is very different than using FLOW+Sumo. That said, there are trivial examples already baked into the FLOW package (https://github.com/flow-project/flow/tree/master/flow/envs) that you can use to easily reproduce the same issue.
I'

[2020-07-21 11:47] wumuzi520 commented on #9608
My OS is `macOS Catalina` which make zsh as a default shell tool. So I think it will block many developers.

[2020-07-21 12:17] nscotto commented on #9605
I am having the same issue running the [tf_mnist_example](https://docs.ray.io/en/master/tune/examples/tf_mnist_example.html) (the code is in the link).

[2020-07-21 15:29] JerryLeeCS commented on #9598
server.py
[code]

api_handlers.py
[code]

The original script is way too long, so here is the simplified script. In server.py, I called the remote function and never use ray.get to get the result because I don't need the result. The result and the progress are being updated by the Messaging Queue Manager

[2020-07-21 15:52] ejunprung commented on #9551
Hi @richardliaw, quick question. When does the ref-counting algorithm come into play? I'm curious if there's anything in our tune config that could be causing this issue.

[2020-07-21 16:20] Graeme22 opened #9613 "[rllib] Precedence matters in Torch custom model inheritance. Is this intended behavior?"
When creating a custom Torch model, the following works:

[code]

But this does not:

[code]

This is evidenced by `input_dict['obs']` not existing.

The reason for this is that both nn.Module and TorchModelV2 have a `forward()` function, so which one is overriden depends on the order.

Is this expected behavior? If so, should it be documented?

[2020-07-21 17:17] #9608 closed

[2020-07-21 17:42] richardliaw commented on #9605
@nscotto and @LLT1 can you try viewing the examples on the latest Ray release branch?

https://github.com/ray-project/ray/tree/releases/0.8.6

We changed some APIs between master and the last pip release. The above branch should have all of the correct examples.

[2020-07-21 17:45] richardliaw commented on #9605
Alternatively you can install the latest nightly wheels https://ray.readthedocs.io/en/master/installation.html and view documentation from the `master` branch.

[2020-07-21 18:13] stephanie-wang commented on #9578
Ah that's when an ObjectID gets captured in a function/actor definition.

[code]

[2020-07-21 18:41] richardliaw commented on #4403
@ijrsvt can you post the workaround for this?

[2020-07-21 18:44] ijrsvt commented on #8646
@yanyuechuixue Any updates?

[2020-07-21 19:02] ijrsvt opened #9615 "[Core] Raylet port assignment race condition"
### What is the problem?
Raylet is being assigned a port that is already in use, resulting in:
1.  A GRPC start failure that looks like: `server_chttp2.cc:40]        {"created":"@1588127532.732848116","description":"No address added out of total 1 resolved"...`
2. A failure to connect go Raylet by the RayletClient `raylet_client.cc:69] Retrying to connect to socket for pathname...`

The reason for

[2020-07-21 19:03] richardliaw commented on #4403
I'm going to repoen this until we actually have a workaround documented

[2020-07-21 19:50] wuisawesome opened #9616 "Ray error logs should be printed to stdout"
### What is the problem?

c++ errors should be printed to the driver's stdout but aren't.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

Put a `RAY_LOG(ERROR) << "dfasdf";` in `CoreWorker::ExecuteTask` and in `NodeManager::HandleWorkerLeaseRequest

[2020-07-21 19:54] wuisawesome commented on #9616
@mehrdadn I think this is caused by this change. https://github.com/ray-project/ray/blob/dcec26ac7badf0bb224773a4c09e4d9b70ca0e43/src/ray/util/logging.cc#L285

[2020-07-21 20:17] #9585 closed

[2020-07-21 20:28] mitar commented on #9578
Oh, true. Nice that you capture this as well. :-)

OK, my final question (and really thank you for all the answers). If I have a task A which creates some object, calls `ray.put` on it, obtains `objectRef`, calls task B and passes the object ref as an argument, and then task A does not hold a reference to that object anymore. What happens if task B (its worker) dies and has to be restarted. Given

[2020-07-21 20:45] mehrdadn commented on #9616
Thanks! I'll take a look.

[2020-07-21 21:18] stephanie-wang commented on #9578
The ref counting is based on both the Python ref count of any local instances of `ObjectRef` and the submitted task count, i.e. the number of tasks that depend on the object. The submitted task count gets decremented when the task successfully finishes. For `ray.put` objects, the object gets pinned at the original creator's node until both ref counts go to 0. So in the scenario you're describing,

[2020-07-21 23:01] richardliaw commented on #9616
Shouldn't they go to stderr?

[2020-07-21 23:09] richardliaw opened #9620 "[dashboard] Hide the 'FileNotFound' stacktrace"
### What is the problem?
[code]

When wrapping Ray in a higher level library, users will see this for whatever reason, even though they probably are not interacting with Ray. See https://github.com/ray-project/tune-sklearn/issues/50

This can be unfriendly to other developers, and we should probably just log the message rather than the trace.

cc @mfitton

[2020-07-22 01:07] LLT1 commented on #9605
@richardliaw  Thx! They works!

[2020-07-22 01:21] richardliaw commented on #4403
Actually, the fix for this should be to use the DockerCommandRunner and KubernetesCommandRunner for rsync rather than the default rsync. This should be an easy fix (but is still not implemented).

[2020-07-22 02:07] pcmoritz opened #9623 "Ray typing IDE code completion support"
### Describe your feature request

Now that https://github.com/ray-project/ray/pull/9574 is merged, it would be awesome to also have code completion support in IDEs for ray remote functions. Out of the box, the type of `function_name.remote` is just `decorator` in Visual Studio Code, so there is no code completion.

I wonder how we could make that happen!

@simon-mo Do you have an idea by any chan

[2020-07-22 02:43] dark16sider opened #9624 "Are images normlized automatilcy in the pipeline?"
I have 84x84 gray scale images, I can normalize them in the gym environment by dividing 255. This can raises an issue with having float32 images in the buffer as I can run out of ram with big buffer sizes. Can images be stored in uint8 in the buffer but then divided by 255 before feeding the network.

[2020-07-22 02:55] #9379 closed

[2020-07-22 03:41] simon-mo commented on #9623
It works in vscode when ```
"python.linting.mypyEnabled": true,
[code]

[2020-07-22 05:57] rkooo567 opened #9627 "`test_joblib` failed at the master."
### What is the problem?

https://travis-ci.com/github/ray-project/ray/jobs/363568635

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in a clean environme

[2020-07-22 05:57] rkooo567 opened #9628 "`test_temp_file` timeouts at master"
### What is the problem?

https://travis-ci.com/github/ray-project/ray/jobs/363568635

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in a clean environme

[2020-07-22 05:58] rkooo567 opened #9629 "`test_advanced_2` seems to fail at the master"
### What is the problem?

https://travis-ci.com/github/ray-project/ray/jobs/363568635

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in a clean environme

[2020-07-22 06:21] ankitks123 opened #9630 "Not able to add nodes to private ray cluster"
### What is your question?
Both head node and other node start without any issues but the worker node never shows up in dashboard and "ray stat" command show this error:

2020-07-22 10:57:01,560	INFO scripts.py:957 -- Querying raylet 192.168.53.91:48464
Traceback (most recent call last):
  File "/usr/local/bin/ray", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.6/site-pa

[2020-07-22 07:53] mitar commented on #9578
Thanks!

[2020-07-22 08:28] nscotto commented on #9605
Is there any example using tune?
The examples I found are the ones in [doc/examples/doc_code](https://github.com/ray-project/ray/tree/releases/0.8.6/doc/examples/doc_code), only a tf_example.py and torch_example.py that don't use tune.

[2020-07-22 08:32] richardliaw commented on #9605
Yep!
https://github.com/ray-project/ray/tree/releases/0.8.6/python/ray/tune/examples

On Wed, Jul 22, 2020 at 1:28 AM nscotto <notifications@github.com> wrote:

[2020-07-22 08:37] nscotto commented on #9605
Perfect, thank you!

[2020-07-22 08:49] andrew-rosenfeld-ts opened #9631 "[rllib] tensorflow 1.14 doesn't work with GPUs any longer"
### What is the problem?

Using a recent nightly build of Ray/RLlib, you can't train using GPUs with TensorFlow 1.14 due to an API mismatch.

rollout_worker.py assumes that tensorflow has a function `list_physical_devices` but in 1.14, it's only `experimental_list_devices`, so you get

`
AttributeError: module 'tensorflow._api.v1.config' has no attribute 'list_physical_devices'
`

Here's the code

[2020-07-22 09:06] wjykl22 commented on #9375
I later found that when I replaced the model.train() in the work node with model.eval(), it converged. I don't know why?
For some reason,May be, it could be the neural network. Or maybe it's because during training when I artificially replace the gradient or the weight?

[2020-07-22 09:10] spig95 opened #9632 "[rllib] Monitor exploration in tensorboard while training DQN"
I think this should be easy to do. I hope the question is not a duplicate, but I have not found anything online.

I would like to monitor the exploration parameters while training a DQN policy and output it in Tensorboard. I am using the basic epsilon greedy exploration.

Is it possible to implement a simple callback to do this? If so, could you please share the implementation?

[2020-07-22 14:00] andrew-rosenfeld-ts commented on #9631
Maybe the correct fix is to use `tf.config.experimental.list_physical_devices('GPU')`?
(as noted on https://www.tensorflow.org/guide/gpu )

That exists in both TF 1.4 and 2.2.

[2020-07-22 15:39] semiter1 opened #9637 "ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host"
### What is your question?

Hi I am new to Ray and TensorFlow. I am trying to parallelize a simple neural network problem. When the training data is small (300 MB), I had no problem running, although I still get the following warning:

When I use a larger training data (~2GB), the program stopped with the following error message:

Can someone please help how I can resolve this issue? Thanks.

My c

[2020-07-22 16:38] richardliaw commented on #9637
cc @mehrdadn it looks like somehow data that is supposed to go to Plasma is ending up in Redis

[2020-07-22 16:40] semiter1 commented on #9637
Thanks, richardliaw. Is there anything I can do about it?

[2020-07-22 16:41] raphaelavalos opened #9638 "[RLlib] About the implementation of maddpg"
Hello,
I was looking at the implementation of MADDPG and I don't understand why the last line is here. To me there shouldn't be any sampling. Am I missing something?

https://github.com/ray-project/ray/blob/bfa06052828f83ab790e6b6bbfa5b56edb42b45e/rllib/contrib/maddpg/maddpg_policy.py#L370-L376

@justinkterry I believe you are maintaining this code, could you take a look ? Thanks !

[2020-07-22 16:46] richardliaw commented on #9637
@mehrdadn can help you, he's the windows expert :)

[2020-07-22 16:48] semiter1 commented on #9637
Got it. Thanks!

[2020-07-22 17:53] justinkterry commented on #9638
If memory serves, it's because MADDPG is a continuous method set up to work with discrete environments (the MPE environments). The problem is that MADDPG doesn't actually work in production or for really anything other than those environments even if you fix everything. Try parameter sharing instead, it's simpler and performs dramatically better. This is a paper I have under review at NeurIPS, it

[2020-07-22 18:50] raphaelavalos commented on #9638
Thank you for your quick response! I will add your paper to my list :)

***

What I don't understand is that `RelaxedOneHotCategorical` returns a vector  (that matches a probability distribution) of the same shape as `logits`. This distribution is then used as an action, because even-though the `env.action_space` is ` Tuple(Discrete(5))` the env expects a vector of size 5.

[code]

And with the de

[2020-07-22 18:52] Lewisracing opened #9641 "RuntimeError: Synchronized objects should only be shared between processes through inheritance"
### What is your question?
RuntimeError: Synchronized objects should only be shared between processes through inheritance

I'm trying to build an Ape-X Rl myself. The main codes are as follows

    cfg=Strategist_config()
    cfg.worker_NN_update_period = 200
    cfg.worker_send_samples_period = 100
    cfg.worker_send_batch_size = 2048
    cfg.learner_batch_size = 64
    cfg.learner_start_min_mem

[2020-07-22 19:27] wuisawesome commented on #9616
The existing behavior is that raylet's stderr is redirected to the driver's stdout. The behavior has been that way for quite some time (years), but there is some unused code that suggests that it wasn't always this way...

[2020-07-22 19:59] rherman9 commented on #8312
Hey, I'm also having troubles resuming progress while using AxSearch algorithm.

When my tune experiment suddenly stops I can resume the experiment through: `resume=False` parameter in the tune.run function and the trials continue, however when a trial finishes I get the following errors:

[code]

This only happens when I resume the trial.

**Any idea what the fix to this could be?**

[2020-07-22 21:08] ZekiDorukErden opened #9643 "[rllib] Error with DDPG Trainer initialization: Input 'y' of 'Mul' Op has type float64 that does not match type float32 of argument 'x'"
Hello,

I encounter an error during the initialization of DDPG Trainer (I also tried PPO & A2C trainers and did not get the same error.) I understand it is about a type conversion, and full traceback goes as follows:

[code]

The trainer initialization is as follows:

[code]

Furthermore, I did not get the same error when I am running the code in CoLab.

There is no place in my script where float6

[2020-07-22 21:20] mehrdadn commented on #9637
Thanks for reporting! I'll try to see if I can repro. Just to confirm: how much free RAM do you have? And how big of a pagefile (swap)?

Also, if you have Linux running (WSL?) and can occur the same code doesn't trigger that behavior on there, that would be great. But if not then no worries.

[2020-07-22 22:06] justinkterry commented on #9638
I mean the default version of MPE is seriously jacked up, use the maintained/fixed version of it here: https://github.com/PettingZoo-Team/PettingZoo. I'll look into this more.

[2020-07-22 22:12] DMTSource commented on #9432
I tried exploring again on 4(1 host+3 nodes) machines with 12 out of 32 assigned cpu per node. I attempted to try both methods of passing directly, and using ray.get() internally, but the memory usage during a 1-by-1 sync seems to be nearly the same(first 2 pics below). Using ray.get inside the remote function seems more consistent in keeping the node memory around 25gb(seems high? should be more

[2020-07-22 22:13] mehrdadn commented on #9637
Okay thanks, I'll take a look. (Btw I deleted your email reply from your answer; it had your personal email address.)

[2020-07-22 22:43] mehrdadn commented on #9637
@semiter1 Your repro doesn't run unfortunately. You haven't imported `ray` (which I did myself) but I'm not sure what to set `Xtrain` and `ytrain` to in order to reproduce the issue. If you could post a self-contained repro script that would be great. Thanks!
[code]

[2020-07-23 00:35] justinkterry commented on #9638
Looked into it further with one of my colleagues. Basically the original MPE environments are all kinds of screwed up. The one's in PettingZoo are actually useable. I think he'll reply below with some of the specifics.

[2020-07-23 00:42] weepingwillowben commented on #9638
So I have worked a bit with the original maddpg and MPE implementations. The original maddpg supports discrete environments by sampling from logits, specifically using the gumbel softmax [see the source here](https://github.com/openai/maddpg/blob/master/maddpg/common/distributions.py). So no, it was never deterministic despite the name at least for discrete environments. It is also worth noting th

[2020-07-23 01:05] Vysybyl opened #9648 "--redis--shard-ports unknown argument"
### What is the problem?

Ubuntu 20.04
Python 3.8
Ray 0.8.6

### Reproduction (REQUIRED)

`ray start      --head      --port=6379      --redis--shard-ports=6380      --object-manager-port=8076`

will fail, but

`ray start --help`

will list --redis--shard-ports among possible arguments

- [X] I have verified my script runs in a clean environment and reproduces the issue.
- [X] I have verified the

[2020-07-23 01:47] Vysybyl commented on #8035
Please have a look at this. It would be really useful and streamline many use cases.

[2020-07-23 01:50] richardliaw commented on #9648
You have a typo - `--redis-shard-ports` not `--redis--shard-ports`

[2020-07-23 02:23] DMTSource commented on #9432
### I think my issue has to do with 2 things.

1) Load Balancing for the ActorPool, which becomes really problematic with many machines. This is seemingly helped by manually syncing(passing the object in a blocking way, see gist), but the host is still overwhelmed easily with too many workers as more machines get added and the small inaccuracy in LB grows into a big problem.

2) A strange, inconsi

[2020-07-23 02:54] semiter1 commented on #9637
I figured out the issue. I used Xvalid and yvalid in the validation_date for early stopping, but I never convert them using ray.put, so ray is creating a copy of these two variables for each process. However, it is not intuitive that why it creates an error "[WinError 10054] An existing connection was forcibly closed by the remote host. "

Many thanks for your help, @mehrdadn!

[2020-07-23 02:56] mehrdadn commented on #9637
Ah thanks for sharing the info! Glad you solved it.

[2020-07-23 02:56] #9637 closed

[2020-07-23 03:22] ffbin opened #9649 "[GCS]Java testcase crash"
### What is the problem?
Testcase is MultiThreadingTest.

Stack: [0x0000700002740000,0x0000700002840000],  sp=0x000070000283e190,  free space=1016k
Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)
C  [libcore_worker_library_java.dylib+0x18ccf0]  _ZNSt3__113unordered_mapIN3ray7ActorIDENS_8functionIFvRKNS3_IFvNS1_6StatusEEEEEEENS_4hashIS2_EENS_8equal_toIS2_EENS_9alloca

[2020-07-23 04:20] rkooo567 commented on #8035
@Vysybyl it might take some time to have fully working version of this feature, but we are moving towards having a gradual support to this feature!

[2020-07-23 05:28] SunnyWangGitHub opened #9651 "[rllib] There is a problem with the ‘policies_to_train ’ of MADDPG, and my solution"
### What is the problem?
MADDPG cannot use 'policies_to_train' to specify the training policy (except policy_0).

For example, when I set

                 "multiagent": {
                     "policies_to_train": ["policy_3"],
                     "policies": policies,
                     "policy_mapping_fn": ray.tune.function(
                         lambda i: policy_ids[i]

[2020-07-23 06:57] rightx2 opened #9653 "[autoscaler] Only head node is created?"
[autoscaler]

I'm trying to build AWS cluster using ray's autoscaler and have yaml file like below:

[code]

And I run the command in my local macbook: `ray up -y a.yml`. After a while, I checked the AWS console and it turned out only head node is created even though I set `min_workers` and `max_workers` as 3.

Which one should I check for the bug, ray or aws?

- Environment
    - Mac OS X 10.15.4

[2020-07-23 07:04] #9603 closed

[2020-07-23 07:23] wuisawesome opened #9654 "[Core] Worker stderr should be printed to stderr, not stdout"
### What is the problem?

Worker stderr logs should be printed to stderr not stdout

This should really be fixed before Ray 1.0. There's also some old unused legacy code around raylet error logging that could be cleaned up with this.

Once unit tests are written for this, they should be removed from the list in #9692

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce

[2020-07-23 07:39] richardliaw commented on #9603
@junliangyu96 did you fix the issue?

[2020-07-23 08:45] junliangyu96 commented on #9603
yes. I changed the way of cross validation. I trained all the sub models at
the same time and report together.

I have another problem. Is there a way to return something from target
function? Tune.run can only return analysis or trial names. But if i
trained a model and i want to return it, what should i do? is there any
other functions that can help me?

Thanks

On Thu, Jul 23, 2020 at 12:39 AM

[2020-07-23 09:27] Vysybyl commented on #8035
Thanks for the quick reply, I'm looking forward to it!
(In my case I'd like to scale up some interactive computation on jupyter while keeping the code and data files on my local machine. I'm more comfortable NOT copying these files to the remote servers hard-drive, but rather sending only data that will be kept in memory.)
I have poked around GH issues trying several workarounds, but none worked.

[2020-07-23 09:46] p-christ opened #9659 "[rllib] Simplex action space bug"
When trying to initialise the Simplex action space I get the below error

`AttributeError: 'NoneType' object has no attribute 'seed'`

To reproduce the problem exactly you can run:

[code]

[2020-07-23 09:53] p-christ commented on #9659
created a pull request fixing this here: https://github.com/ray-project/ray/pull/9660

[2020-07-23 10:37] andrew-rosenfeld-ts commented on #9631
I guess I could submit a patch for this if that's easiest.

[2020-07-23 10:40] AmeerHajAli opened #9662 "Can't reduce num_workers for local node provider"
Consecutive calls to `ray up` with a reduced number of workers for local node provider crashes.

steps to reproduce:
1) ray up example-full.yaml
2) //remove one worker
3) ray up example_full.yaml

This triggers the following assert:
https://github.com/ray-project/ray/blob/993ff5fd81fa2b7bda70a43ab3067ec754ceb5c7/python/ray/autoscaler/local/node_provider.py#L60

I will fix that in an upcoming PR.

[2020-07-23 12:12] rherman9 commented on #6227
Hey @richardliaw any update on implementing resuming and starting of new trials when using other Search Algorithms? Like AxSearch or BayesOpt?

[2020-07-23 12:38] aaarne opened #9664 "[core] Prints in remote functions spam into other processes' terminals"
### What is the problem?
Prints in remote functions spam into the stdouts of other ray clients.
Especially if there are multiple scripts running, you will see the messages printed from within remote function in every terminal. It becomes quite cluttered quickly.

#### Versions
- python version: 3.6.9
- OS: openSUSE Leap 15
- ray version: 0.8.6

### Reproduction (REQUIRED)
1. Start a ray process in

[2020-07-23 14:02] virtualluke opened #9666 "Add manylinux2014 wheels to build"
### Describe your feature request
It would be nice to have manylinux2014 wheels generated.  These are based on centos7 level of libraries vs centos5 for manylinux1 as basic requirements.  I would gather most people using manylinux* can safely go to the latest manylinux2014 specification.

[2020-07-23 14:58] stefanbschneider commented on #9399
It seems like there is an option in the configs to set a `MeanStdFilter`: https://docs.ray.io/en/latest/rllib-training.html?highlight=observation_filter#common-parameters

[code]

Not sure how I could test if it does what I want? Where/how could I see/log the normalized observations?

[2020-07-23 15:18] raphaelavalos opened #9667 "[RLlib] Bugs in PyTorch version of DDPG"
Hello,

I spotted some bugs in the implementation of DDPG in PyTorch.
* The gradient clipping is not implemented correctly, it uses the 'grad_norm_clipping' parameter instead of 'grad_clip' and the function `ray.rllib.utils.torch_ops.minimize_and_clip` which is not correct. All the others algorithms seems to use `ray.rllib.agents.a3c.a3c_torch_policy.apply_grad_clipping`. I propose to replace mini

[2020-07-23 15:44] AlessandroZavoli commented on #4309
I hade the same issue. Did you find a way to install it?

[2020-07-23 16:24] duburcqa commented on #9667
I would add other issue: clamp is used to clamp the action at several places [here](https://github.com/ray-project/ray/blob/fcdf410ae1bb5071e7d92174eace7d79be2d4ef9/rllib/utils/exploration/gaussian_noise.py#L157) and [here](https://github.com/ray-project/ray/blob/43043ee4d5c672f7fbc22ac9559e8164731fd053/rllib/agents/ddpg/ddpg_torch_policy.py#L68), while min/max combinaison should be used instead.

[2020-07-23 16:26] raphaelavalos commented on #9638
Nice job on PettingZoo, I will definitely use it ! I was looking for a multi-agent env library for a while now :)

To give you some background I am not using the contrib/MADDPG but I implemented my own on PyTorch. It does learn on MPE (with self.discrete_action_space = False) but not as well as the [plots](https://github.com/justinkterry/maddpg-rllib/tree/master/plots) so I am trying to fix it.

I

[2020-07-23 16:26] #9541 closed

[2020-07-23 16:26] robertnishihara commented on #9666
@virtualluke can you say more about the advantage/disadvantage of doing this? Are you proposing this in addition to or instead of manylinux1?

- TensorFlow seems to do manylinux2010 https://pypi.org/project/tensorflow/#files
- Pyarrow seems to do manylinux1, manylinux2010, and manylinux2014 https://pypi.org/project/pyarrow/#files

[2020-07-23 16:40] raphaelavalos commented on #9667
I will add that :)

[2020-07-23 16:45] duburcqa commented on #9667
Nice ! Thank you :+1: Personally I'm doing this:
[code]

[2020-07-23 17:04] duburcqa commented on #9667
Note that the problem appears [here](https://github.com/ray-project/ray/blob/fcdf410ae1bb5071e7d92174eace7d79be2d4ef9/rllib/utils/exploration/ornstein_uhlenbeck_noise.py#L176)

[2020-07-23 17:40] rkooo567 commented on #8035
Yes. I guess it is the best solution for now. The prototype we are currently working on will also work only when bi-directional communication is allowed between your machine and Ray clusters.

The biggest problem here is that Ray's strongly tied to the model where it is running fully within a cluster. That says Ray workers need bi-directional communication (meaning the node with a worker should be

[2020-07-23 18:00] richardliaw commented on #9664
Can you try the latest ray version?

[2020-07-23 18:01] richardliaw commented on #9664
Can you try the latest ray master snapshot? https://docs.ray.io/en/latest/installation.html#latest-stable-version

[2020-07-23 18:03] ijrsvt commented on #4403
Is it raw `rsync`, or is it autoscalers rsync. If it is the latter, it already uses the `DockerCommandRunner` or `KubernetesCommandRunner`.

[2020-07-23 18:06] richardliaw commented on #9662
thanks! this is a pretty important issue, agree

[2020-07-23 19:27] richardliaw commented on #4403
@ijrsvt it is raw rsync; we use this in Tune. However, we should probably switch to the CommandRunner interface.

[2020-07-23 19:50] #9413 closed

[2020-07-23 19:50] #9428 closed

[2020-07-23 23:46] dlio commented on #9317
@mfitton & @rkooo567  Please let us know if there is anything we can do as users to assist with resolving this issue.
Thanks for your continued work.

[2020-07-24 02:00] richardliaw opened #9672 "[tune] Raise the underlying exception rather than swallowing"
### Describe your feature request

Tune should provide the ability to raise an underlying error/exception when a trial fails. This is useful especially for applications that build on top of Tune.

[2020-07-24 02:26] robertnishihara commented on #9493
Done in #9622. We can leave the issue open for a little while to notify people.

[2020-07-24 02:46] yncxcw opened #9673 "ValueError: output array is read-only"
### What is your question?
I got an exception which I don't quite understand with the following piece of code：
[code]

Code:
[code]
Looks like the  input the numpy arg `v` to `def register` is stored on the object store, thus it is not mutable.

*Ray version and other system information (Python version, TensorFlow version, OS):*

[2020-07-24 04:20] vtomenko commented on #8975
@ijrsvt , I got it working with the following configuration for AWS:

- head/worker nodes: Deep Learning Base AMI (Ubuntu 18.04) (so that all required GPU drivers etc. and docker is installed)
- instance type: g4dn.xlarge
- docker image: based on nvidia/cuda:10.2-cudnn7-runtime-ubuntu18.04 (so that container can use GPUs) + in my case mxnet packages with GPU support
- for custom docker repository:

[2020-07-24 07:27] amitsadaphule commented on #4309
Yes, hope this one helps: https://github.com/ppc64le/build-scripts/tree/master/pip-ray

[2020-07-24 09:29] sven1977 commented on #9667
Yeah, but one instance of clamping is in the Exploration component (which could be used in any other algorithm) and the other is part of the DDPG algorithm. I think this one is ok here.

[2020-07-24 09:30] sven1977 commented on #9667
Perfect, thanks! Will fix this.

[2020-07-24 09:31] sven1977 commented on #9667
Looking into minimize_and_clip issue. ...
I think I changed it so it's more concise because we had a lot of duplicate logic in the grad-clipping code prior to adding eager support.

[2020-07-24 09:34] sven1977 commented on #9667
```The target model is placed on the gpu even if ray was not configure to use the gpu.```
This should be fixed in the current master.

[2020-07-24 09:41] duburcqa commented on #9667
What do you mean ? Why would it be ok to clamp wrt to first element bounds only in some cases ?

[2020-07-24 09:42] duburcqa commented on #9667
There is the same problem for the model itself at least for 0.86, and on master as far as I know. is it also fixed ?

[2020-07-24 09:42] flokde opened #9679 "[tune] Random Search under time constraint"
Dear ray.tune team,

I've been trying to utilise tune to optimise over a rather awkward search space and I want to implement random search as a baseline. If I use a tune.Stopper to set a time limit, tune.run will start the specified number of trials (through num_samples) and then keep doing iterations on them until the time limit is reached. These additional iterations don't help me as the sampled

[2020-07-24 09:50] sven1977 commented on #9667
Yeah, we just made a fix for this a week ago or so.
I created this PR here to fix all the other problems described above.
https://github.com/ray-project/ray/pull/9680

[2020-07-24 09:51] sven1977 commented on #9667
Please let me know, if I'm missing anything. Leaving this open until merged (probably later today).

[2020-07-24 09:52] sven1977 commented on #9667
On the GPU: Yes, we are no longer checking, whether we have a GPU, but whether the config actually says: num_gpus > 0 and only then place the model on the GPU.

[2020-07-24 09:53] sven1977 commented on #9631
Thanks @andrew-rosenfeld-ts for filing this! Taking a look right now ...

[2020-07-24 09:54] sven1977 commented on #9631
Yeah, it's really just that one line. No worries, will PR right now ... (probably merged later today).

[2020-07-24 09:57] sven1977 commented on #9667
@duburcqa @raphaelavalos
Btw, we are very close to setting up daily automatic GPU + "heavy" regression tests (Atari, MuJoCo) to catch these things much earlier than we do right now. Hopefully, this will eliminate issues like the GPU one here altogether.

[2020-07-24 10:00] sven1977 commented on #9631
https://github.com/ray-project/ray/pull/9681

[2020-07-24 10:03] sven1977 commented on #9631
Btw, we are very close to setting up daily automatic GPU + "heavy" regression tests (Atari, MuJoCo) to catch these things much earlier than we do right now. Hopefully, this will eliminate issues like the GPU one here altogether.

[2020-07-24 10:05] raphaelavalos commented on #9667
@sven1977 we did things differently so I don't know if it is relevant but in my case the tests were failing because we have two new parameters on the model. You can check my last commit (above) it fixed the tests in my case.

[2020-07-24 10:31] sven1977 commented on #9667
Yeah, makes sense. If your PR is ready, feel free to ping me here so we can approve and merge it.

[2020-07-24 10:34] AlessandroZavoli commented on #4309
I suppose i cannot run it without administrator privilegies, that I don't have...

[2020-07-24 11:53] duburcqa commented on #9667
I spotted yet another issue : the device may be wrong for the noise, it can be on 'cpu' device while the action is on 'gpu' device in some case (I don't know exactly when though, but it happens to me in 0.8.6). It appears [here](https://github.com/ray-project/ray/blob/43043ee4d5c672f7fbc22ac9559e8164731fd053/rllib/agents/ddpg/ddpg_torch_policy.py#L63), [here](https://github.com/ray-project/ray/blo

[2020-07-24 12:38] aaarne commented on #9664
Thank you for your hint. It works perfectly with the latest wheel.

[2020-07-24 12:38] #9664 closed

[2020-07-24 12:48] michcald commented on #7339
I got this working in github actions without the "non TTY device" message.

It's not an ideal solution as the password is used inline but it works. If you are running it in the makefile you can prepend `@` to hide the whole command to be printed

[code]

[2020-07-24 13:06] RyanCodrai commented on #6867
Will, this not suffer from remote task scheduling overhead as mentioned in https://github.com/ray-project/ray/issues/4159?

[2020-07-24 13:06] renatobellotti commented on #5914
Does [this](https://docs.ray.io/en/latest/using-ray-with-tensorflow.html?highlight=tensorflow) help?

[2020-07-24 14:33] cedros23 commented on #9164
Hello,

Is there any update about this issue?
If not, it would be beneficial to give some hints about the potential implementation so that I can give it a try.

Thanks!

[2020-07-24 16:04] renatobellotti opened #9685 "[tune] Cannot access logdir in functional API"
### What is the problem?
I am trying to save something at the end of the training. To achieve this, I'm trying to get the save directory for the trial. The code from the [documentation](https://docs.ray.io/en/latest/tune/api_docs/logging.html#custom-loggers) ("Trainable Logging" --> "Functional API") is as follows:

[code]

To me, it is not clear where the name ``library`` comes from. So I was ass

[2020-07-24 16:26] amogkam commented on #9685
Hi, thanks for raising this issue. Yes I agree the documentation is pretty confusing here; we'll make sure to clear it up for the next release. `tune.track` has actually been deprecated in place of `tune.report`. In your example, there's actually no need to pass in a `logdir` to `tune.report`- it will automatically log to the trial directory. You simply need pass in a dictionary of the values you

[2020-07-24 16:32] amogkam opened #9686 "[Tune Documentation] Fix Logging Docs"
### What is the problem?

The Tune Logging page (https://docs.ray.io/en/master/tune/api_docs/logging.html) in the master docs still has references to `tune.track` which is now deprecated. This has led to some confusion with users https://github.com/ray-project/ray/issues/9685. We need to update the docs to show proper logging using the functional API.

[2020-07-24 16:53] #9627 closed

[2020-07-24 17:11] ijrsvt commented on #8975
@vtomenko Great to hear!! The autoscaler _should_ work without needing to directly SSH into the containers on the worker nodes. Was this not happening for you?

[2020-07-24 17:50] richardliaw commented on #9686
yeah this is good - can you push a fix?

[2020-07-24 18:14] #9628 closed

[2020-07-24 18:14] #9629 closed

[2020-07-24 18:15] #9616 closed

[2020-07-24 18:20] #9685 closed

[2020-07-24 18:20] #9686 closed

[2020-07-24 18:29] vtomenko commented on #8975
@ijrsvt , my understanding is that autoscaler ssh into worker node from docker container on head node. So if the container on head node does not have ssh installed, worker nodes are not configured properly. Looks like same issue here #5496

[2020-07-24 18:42] wuisawesome opened #9692 "[Core] Logging policy should be clearly defined and needs unit test coverage"
### What is the problem?

We currently have no unit test coverage for logging. Behavior we should cover:

* stderr in remote tasks should be directed to driver's stderr
* stdout in raylet and core worker should not be sent to the driver
* stderr in raylet should be sent to stderr of driver (core worker should not)
* explicit logging should be sent to driver's stderr

### Reproduction (REQUIRED)
Pl

[2020-07-24 18:44] richardliaw commented on #9692
yes! please :)

[2020-07-24 18:44] richardliaw commented on #9692
also cc @maximsmol who is working on autoscaler

[2020-07-24 18:50] ijrsvt commented on #8975
Oh--that totally makes sense--my bad. I mis-read that as an `openssh-server`. The general requirements of the autoscaler are captured [in this Dockerfile](https://github.com/ray-project/ray/blob/master/docker/base-deps/Dockerfile). Please let me know if you have any other problems/questions/feedback! I'm always happy to hel!

[2020-07-24 19:00] renatobellotti commented on #9685
Thank you very much, now it is working well! :+1:

[2020-07-24 19:10] ijrsvt commented on #5496
The 'general requirements' of Autoscaler are highlighted in the [`base-deps/Dockerfile`](https://github.com/ray-project/ray/blob/master/docker/base-deps/Dockerfile):

[2020-07-24 21:09] richardliaw commented on #9649
fixed?

[2020-07-24 21:09] #9649 closed

[2020-07-24 21:10] richardliaw commented on #9651
cc @sven1977

[2020-07-24 21:10] #9648 closed

[2020-07-24 21:11] richardliaw commented on #9620
cc @mehrdadn (windows specific it seems?)

[2020-07-24 21:12] richardliaw commented on #9592
hey @sven1977 can you take a look? this might be a bigger issue

[2020-07-24 21:14] richardliaw commented on #9591
Can you try the following:

1. updating to 0.8.6 or the latest?
2. Don't set the redis max memory? Redis should never be using more than a couple hundred mb of memory.
3. use ray.put/ray.get to move your dataset around?

[2020-07-24 21:15] mehrdadn commented on #9620
The dashboard isn't working on Windows, so this is why it only appears on Windows in normal operation. But the message isn't inherently platform-specific. I don't think we should be raising an error regardless if the dashboard isn't needed, but I've brought this up before and others have preferred the error to stay, so I'm not sure what to do. I do have the following diff that I sometimes use loca

[2020-07-24 21:16] richardliaw commented on #9576
cc @sven1977

[2020-07-24 21:30] richardliaw commented on #6900
Sounds like this is working now? Feel free to reopen if not.

[2020-07-24 21:30] #6900 closed

[2020-07-24 21:34] rkooo567 opened #9698 "[GCS Actor Management] `test_dead_actors` release test is flaky. GCS fails with check failures."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
![image](https://user-images.githubusercontent.com/18510752/88437114-9d9acb00-cdba-11ea-9318-8336fdb40462.png)

Tests occasionally failed with check failures. There must be a hidden race condition here. Could be related to flaky `test_multi_node`.

### Reproduction (REQUIRED)
Please provi

[2020-07-24 21:35] rkooo567 commented on #9698
cc @ffbin @stephanie-wang Maybe just removing check there is sufficient? I remember I saw the same race condition in the past I couldn't reproduce after a certain point. Probably the same thing.

[2020-07-25 03:11] weepingwillowben commented on #9638
To answer your last question, I don't know about rllib's MultiAgentEnv. The hard way would be  to look at rllib's `rollout.py` method and see how to run trained agents in a loop, and try to generate the video yourself. Not sure about an easier way.

As for pettingzoo, we weren't planning on making a full blown monitor wrapper, however, we are interested in making it easier to evaluate and visualiz

[2020-07-25 06:36] #8610 closed

[2020-07-25 09:34] duburcqa commented on #9667
Other "bug": Pytorch `state_dict` method is used to get a dict of model parameters, which is wrong. `state_dict` returns something way more complex than that, including attributes. `named_parameters` should be used instead. The issue occurs [here](https://github.com/ray-project/ray/blob/57544b1ff9f97d4da9f64d25c8ea5a3d8d247ffc/rllib/agents/ddpg/ddpg_torch_model.py#L183) and [here](https://github.c

[2020-07-25 09:46] sven1977 commented on #9631
Closing this now. Feel free to re-open if there are still problems on your end.

[2020-07-25 09:46] #9631 closed

[2020-07-25 11:34] nscotto opened #9701 "[tune] Can't retrieve saved model using Trainable api"
Hi,
This is my attempt at  using ray tune algorithms for tuning a keras model, it's a CIFAR100 example with options for using bohb, asha, bayesian optimisation or grid search. Currently I am having troubles finding the right way to use the `Trainable` interface, despite having gone through the examples, more precisely I can't manage to use the `_save` and `_restore` properly...

This is the error:

[2020-07-25 13:14] javadan opened #9702 "[tune] Finding best checkpoint without finished trials"
Hi,

I'm trying out PBT & ARS/PPO for basic locomotion in my robot simulation, where I'm rewarding moving forward and not falling over.

I'm on my i3 laptop.  Learning is slow, and I need a workflow that makes more sense.

I currently leave it running overnight with the GUI off, then I kill it, enable the GUI, and have it set up to start off from the last checkpoint.

From tensorboard I can see th

[2020-07-25 14:08] ffbin commented on #9698
@rkooo567 You can assign this issue to me. I have encountered it before.

[2020-07-25 14:53] 51616 opened #9704 "[ray] Usage of @property in an actor class"
### What is the problem?

Seems like the use of `@property` in actor class cannot be used with ray actor.

### Reproduction (REQUIRED)
[code]

![image](https://user-images.githubusercontent.com/20886355/88459663-3451af80-cec1-11ea-8cf6-b8472f10f6a2.png)

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
-

[2020-07-25 15:02] yanyuechuixue commented on #8646
I have not try your suggestion yet. Because I have run the jobs on the two machine by hand.

I will try your method as soon as the jobs are done.

Thank you very much!

[2020-07-25 15:04] nscotto commented on #9701
I didn't use the right path in `_restore()...` sorry about that!

[2020-07-25 15:04] #9701 closed

[2020-07-25 15:19] Data-drone commented on #6753
@JingGe how is this one going? seems interesting

[2020-07-25 15:29] 51616 opened #9705 "[ray] Actor cannot inherit from ABC"
### What is the problem?

Seems like the actor class cannot be inherited from ABC superclass.

### Reproduction (REQUIRED)
[code]
![image](https://user-images.githubusercontent.com/20886355/88460417-5863bf80-cec6-11ea-8387-a699c9f8b873.png)

PS. The issue does not appear if class A does not inherit the ABC

[2020-07-25 17:40] richardliaw commented on #9620
@mehrdadn can you dm me the prior conversation? I'd like to push to get this error hidden (at least for Windows)

[2020-07-25 21:18] mrhoody opened #9711 "[tune] Issues importing from tune-sklearn"
### What is the problem?
Hi, I have just installed the latest versions of tune sklearn but am having difficulty with importing TuneGridSearchCV. It gives me this error message: "AttributeError: type object 'sklearn.tree._criterion.array' has no attribute '__reduce_cython__'"
*Ray version and other system information (Python version, TensorFlow version, OS):*
I currently have ray version 0.8.6, sci

[2020-07-25 21:30] richardliaw commented on #9711
@mrhoody looks like a scikit-learn conda versioning issue - https://stackoverflow.com/questions/55605667/attributeerror-type-object-sklearn-tree-tree-treebuilder-has-no-attribute

[2020-07-25 21:32] DMTSource commented on #9432
I'm trying to take this one step at a time as I realize my summary above is a bit messy....Is there a way I can better ensure load balance in a manual cluster beyond the #946 sleep mentioned above? I have the current situation which may give clues to the issue(can skip to bold text at bottom):

Today I am trying to get a 4 machine cluster working. I am seeing no leaks! Even with 1 node not reporti

[2020-07-25 21:49] richardliaw commented on #9432
Are you somehow pickling some state inside the actor? Usually you want to avoid really large actors (and your actor seems really really large). I would imagine the fix is that there's some data that you should instead move via the object store.

[2020-07-25 23:07] icaropires opened #9712 "[util.multiprocessing] Support generators"
### Describe your feature request
Currently `util.multiprocessing.Pool` methods (like `imap`) don't support generators because of the `cannot pickle 'generator' object` error. I've also tried to use `util.iter` but it fails because `util.multiprocessing` needs the length of the iterable:
https://github.com/ray-project/ray/blob/54a0d8b69ef74856e18c5f5b732a3420ab8a7f32/python/ray/util/multiprocessin

[2020-07-25 23:33] javadan commented on #9702
I've tried ending trials at reward goals with a custom stopper and checkpoint_at_end=True, and then starting off from that checkpoint, with a new goal, but the trial is set to TERMINATED and won't run.

[2020-07-26 02:41] DMTSource commented on #9432
@richardliaw I reviewed the class and found that I was actually doing a bunch of work inside init, some of which was also indeed creating a large numpy array of bools. I will refactor the code to ensure I displace such work to a remote call after init, and work toward placing the troublesome array in the object store with the others to prevent this large actor issue.

However, I just noticed that

[2020-07-26 03:57] DMTSource commented on #9432
Here is what I am seeing(screenshot below) and a more simple recreation script.
I'm just trying to focus now on load balance, as my original memory issues are impossible to mess with at scale(over 4 servers) without control of how many workers, in this example NodeUpdater workers(ignoring IDLE, should they be sticking around vs being consumed?), are going to each machine.

- Target is 14  NodeUpda

[2020-07-26 04:01] rkooo567 commented on #9698
@ffbin I think this must be fixed if you just return when actor is null. I will anyway assign it to you! Can you request me the review later?

[2020-07-26 04:07] rkooo567 commented on #9705
What version of Ray are you using? I could not reproduce it.

[2020-07-26 04:08] richardliaw commented on #9432
Great! very helpful. To load balance, you should use [custom resources](https://docs.ray.io/en/master/actors.html#resources-with-actors) (or assign each Actor more CPUs so that they won't overflow a certain machine).

I just realized we don't have documentation on Node resources; but what you can do to force node->actor placement is to use:

[code]
which will force actors to be placed on a certain

[2020-07-26 04:09] rkooo567 commented on #9432
I think you can also add `ray.remote(num_cpus=1)` to `NodeUpdater `?

[2020-07-26 04:21] rkooo567 commented on #9704
cc @ericl

I think it is an expected behavior because you cannot access the member variables of actors with a remote call. Afaik, `@property` makes a class member variables that are aliases to getter and setter, so it is expected that it doesn't work.

[2020-07-26 04:51] Data-drone commented on #2214
@jcrist What is the `example.py` mentioned in the documentation?

[2020-07-26 06:24] rkooo567 commented on #8054
This will be documented by this issue https://github.com/ray-project/ray/issues/9147

[2020-07-26 06:24] #8054 closed

[2020-07-26 06:25] rkooo567 commented on #8291
https://github.com/ray-project/ray/pull/9346 will be temporarily fix the issue.

[2020-07-26 06:27] rkooo567 commented on #8726
Closed because performance improvement doesn't seem to substantial in Linux. This will be improved when we have proper profile infrastructure in the sooner future.

[2020-07-26 06:27] #8726 closed

[2020-07-26 06:28] rkooo567 commented on #9135
#9317 is P0, so we will have a fix soon. I will close the issue since it is duplicated.

[2020-07-26 06:28] #9135 closed

[2020-07-26 06:29] rkooo567 commented on #8743
@syonekura I guess this PR should've resolved the issue. https://github.com/ray-project/ray/pull/9228 Can you test and reopen the issue if it still exists?

[2020-07-26 06:29] #8743 closed

[2020-07-26 06:30] rkooo567 commented on #9266
It is on by default! Time to fix bugs :)

[2020-07-26 06:30] #9266 closed

[2020-07-26 06:32] rkooo567 commented on #8958
@barakmich I will assign it to you now since you asked last time!

[2020-07-26 06:38] rkooo567 commented on #5357
cc @wuisawesome I will assign it to you!

[2020-07-26 06:39] rkooo567 commented on #7820
This is partially supported by this https://github.com/ray-project/ray/pull/9574/files. We will keep having progress towards.

[2020-07-26 06:39] #7820 closed

[2020-07-26 06:41] rkooo567 commented on #8235
cc @ijrsvt

[2020-07-26 06:43] rkooo567 commented on #8308
@richardliaw Can I close this? I think you made changes to fix this issue? Please reopen if it wasn't addressed yet.

[2020-07-26 06:43] #8308 closed

[2020-07-26 06:43] DMTSource commented on #9432
@rkooo567 suggestion worked...I must have misread the docs thinking it defaults to 1 in an equivalent way [via the note here](https://docs.ray.io/en/master/actors.html#resources-with-actors) so I never bother to try that as it seemed redundant, but I'm seeing now this has to do with 'lifetime' resources as per the second part of the note. Now things are working just fine with the load balance!

@r

[2020-07-26 06:45] rkooo567 commented on #1415
This has been added. Try `ray --verison`

[2020-07-26 06:45] #1415 closed

[2020-07-26 06:52] rightx2 commented on #7192
Got same error message in different set of code.. Used ray Dev.0.9..

[2020-07-26 06:56] rkooo567 commented on #5245
cc @barakmich Could be related.

[2020-07-26 07:13] rkooo567 commented on #7192
@rightx2 can you create an issue with reproducible script?

[2020-07-26 07:19] asmv opened #9716 "[tune] Support for Python context manager finalization when scheduler stops trial"
### Describe your feature request

Currently when a trial is stopped by a scheduler, context managers do not appear to be closed automatically which might result in runaway resources. Calling the exit functions before the scheduler stops a trial would prevent any leaks.

#### Minimal Example

[code]

[2020-07-26 08:49] javadan commented on #9702
Ok I solved the issue.  Turned out it is documented
https://docs.ray.io/en/latest/tune/tutorials/tune-usage.html#stopping-trials
Custom stoppers stop the whole experiment.

[2020-07-26 09:00] javadan commented on #9702
Ok no, experiment is TERMINATED with the stop={...} too.  What is the trick to restoring a checkpoint that was created with checkpoint_at_end?

[2020-07-26 09:10] ManuelZierl opened #9717 "[rllib] Custom stats do not show up in for custom loss"
### What is the problem?

The return of `custom_stats`  in https://github.com/ray-project/ray/blob/master/rllib/examples/models/custom_loss_model.py do not show up in the log. I don't know if this is intentional if yes please close this issue. I could fix it by replacing it with the
[code]

this might be related to #5892

[2020-07-26 09:38] rightx2 commented on #7192
@rkooo567 Mine is so complicated application so need to simplify it first. Then, I will try to reproduce it

[2020-07-26 11:41] renatobellotti commented on #5914
Side note:

It is also enough to move the definition of functions needing TensorFlow to a sperate module. The important part seems to be that TensorFlow is not imported in the module where `tune.run()` is called.

[2020-07-26 12:52] 51616 commented on #9705
ray 0.8.5 + python 3.7
is this fixed in 0.8.6?

[2020-07-26 14:53] rkooo567 commented on #9705
From the latest master, I couldn’t reproduce the issue. Can you try out?

[2020-07-26 18:37] maraoz commented on #7549
@alversafa mind sharing the code that worked, if you don't mind? I'm very interested :)

[2020-07-27 06:51] duburcqa commented on #8763
I have the same issue using DDPG. I use 50 workers, and replay buffer of size 100000. It is consuming more than 60go after 50M iterations, and it is linearly increasing since the beginning.

[2020-07-27 07:06] duburcqa commented on #6857
I have the same issue using DDPG. I use 50 workers, and replay buffer of size 100000. It is consuming more than 60go after 50M iterations, and it is linearly increasing since the beginning. I'm using release 0.8.6. @ericl Do you think it is normal ?

[2020-07-27 07:26] #9605 closed

[2020-07-27 08:05] 51616 commented on #9705
The issue doesn't occur in 0.8.6. Closing the issue.

[2020-07-27 08:05] #9705 closed

[2020-07-27 09:22] bbtfr commented on #8648
I went into the same problem, worker nodes cannot be found after upgrading to 0.8.5
And for me, it's caused by the GCS Server got a wrong ip

[code]

`Reconnected to GCS server: 127.0.0.1:40531`, while `Redis server address = 10.251.231.121:6379`
If I set `GcsServerAddress` to `10.251.231.121:40531` in redis manually, everything goes right.

[2020-07-27 09:57] raphaelavalos commented on #9667
@duburcqa I have made to change to parameters but I don't think OrderedDict is needed here.

[2020-07-27 10:49] rohan-gt opened #9723 "[tune] AWS Spot Instance Automation"
I'm using the following python tune script:

**hpo.py**

[code]

and the following configuration file:

**tune-default-hpo.yaml**

[code]

**Command**: `ray submit tune-default-hpo.yaml hpo.py --start --stop`

Questions:
1. Ray is not terminating the spot instances if the connection is lost. Is there a way to configure ray to terminate them automatically?
2. Also is there a python API to deploy th

[2020-07-27 11:02] rohan-gt commented on #9723
Ah, just noticed the `--stop` argument. Still would like to know if there's a python API for the same

[2020-07-27 11:15] duburcqa commented on #9667
Yes it is not a big deal in practice.

[2020-07-27 11:21] duburcqa commented on #9667
Why not to fix in this PR the clamping issue for the exploration noise I mentioned ? Because it is a more general issue than DDPG alone ?

[2020-07-27 11:28] guoxuxu opened #9724 "How to set number of trials run in parallel at a time?"
[tune]
### What is your question?

Having read issues related to how to set the number of trials in parallel at a time, I tried setting num_workers to e.g., 10 in the config dictionary and also tried setting resources_per_trial={"cpu": 1, "gpu": 0.5}, the number of trials in parallel is only two on a server with two GPUs. I want to run 10 trials at a time to fill the two GPUs.

*Ray version and ot

[2020-07-27 11:31] Catypad commented on #9293
Hi! When I train an agent with

[code]

how many time steps are taken in one iteration? In offline RL does an iteration mean going through all the episodes that exist in the dataset? If anyone can help me, I appreciate it very much!

[2020-07-27 11:49] guoxuxu commented on #3389
How to set the number of trials running in parallel?? https://docs.ray.io/en/master/tune/api_docs/execution.html

[2020-07-27 11:50] guoxuxu commented on #3389
Setting gpu=0.5 does not work on the current version. Is there explicit instruction on how to set the number of trials in parallel?

[2020-07-27 11:53] matdoering commented on #8583
I would also be interested in this. Is there a way to serve the Tensorflow model that is trained by RLlib without explicitly using RLlib? There seems to be the `export_model` function but the reports indicate that there seems to be a problem with the exported model. Is that true? In any case how would the output encode the optimal actions in a multi-agent setting?

[2020-07-27 12:22] andrew-rosenfeld-ts commented on #9436
Just noting this also affects APPO (being based on IMPALA).

[2020-07-27 12:39] guoxuxu opened #9726 "ray.tune.error.TuneError: ('Trials did not complete'）"
### What is the problem?
The only error is "
File "/home/guoxu/anaconda3/lib/python3.7/site-packages/ray/tune/tune.py", line 349, in run
raise TuneError("Trials did not complete", incomplete_trials)
"
Don't know how to figure out where is the problem. Is there a way to point to the line which triggered this error?

Code:
ray.init(num_cpus=os.cpu_count(), num_gpus=torch.cuda.device_count(), temp_di

[2020-07-27 13:50] 51616 commented on #8452
@ChuaCheowHuan I don't know if your implementation is working in RLlib since your `PBT_MARL` class is changing the config of the trainer but as I understand the loss calculation graph is defined upfront at the initialization of the trainer. Hence, changing the config doesn't really change the loss (e.g., learning rate, gamma, vf_coeff, clip_value). @ericl can you verified this?

I'm also trying to

[2020-07-27 15:22] ChuaCheowHuan commented on #8452
Hi @51616, You are right. I could have overlooked that. Your proposed solution sounds good. Thanks for having a look at my code.

[2020-07-27 15:38] #9659 closed

[2020-07-27 15:51] duburcqa commented on #9667
@sven1977 Thank you for having taken care of this !

With those 2 PRs, I think we are good.

[2020-07-27 16:25] #7910 closed

[2020-07-27 17:45] 09wakharet commented on #9471
I can run test_marwil.py as is, and it train properly. Make sure that your ray installation is up to date (sudo pip install ray[rllib] --upgrade). Make sure to specifically install ray[rllib]. To train on new datasets, you'll have to update the data_file variable with your own dataset.

[2020-07-27 17:45] #9471 closed

[2020-07-27 19:26] rkooo567 commented on #9704
If this is a hard requirement, please create a feature request! I will close it for now.

[2020-07-27 19:26] #9704 closed

[2020-07-27 19:27] chenineazeddine commented on #7966
@zzcNEU, you can set `input_evaluation` to 'simulation' at the trainer configs

[2020-07-27 19:29] chenineazeddine commented on #7966
Hi @Ajay-2007, did you managed to solve this potential error ? cause I may be having it also

[2020-07-27 19:34] #9466 closed

[2020-07-27 20:24] richardliaw opened #9734 "[autoscaler] Monitor/autoscaling processes not starting properly"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

ray services/cluster don’t seem to be starting up properly for me (the ray start command is executed but the services don’t seem to stay alive).

You can reproduce this by starting an automatic Ray cluster with Linux + V100 GPUs (p3.2xlarge, p3.8xlarge). Somehow it works fine for `c5` in

[2020-07-27 21:37] #8920 closed

[2020-07-27 21:52] SyedBilalMehdi opened #9736 "[rllib] Multiagent policies - action of one agent visible to another"
I am trying to implement a hierarchical RL agent such that at each time step, both the higher-level agent and the lower-level agent select their respective actions. Furthermore, the action chosen by the higher-level agent is visible to the lower-level agent. That is, at each time step, the higher level agent uses (i) the observations and (ii)  (possibly) its own state to select an action. Then, th

[2020-07-27 22:31] #5496 closed

[2020-07-27 23:12] alversafa commented on #7549
@maraoz I implemented it back then, however, I deleted that part of the code since I no longer needed it. I believe that you will be able to implement it if you follow this issue. @ericl's pointers were very useful.

[2020-07-27 23:54] javadan commented on #9702
So I'm checkpointing the n best rewards, and then the trial finishes.

My planned workflow was to start the next trial using the best checkpoint from the previous trial.

[2020-07-27 23:59] richardliaw commented on #9702
You can use `tune.run(restore=checkpoint_path)` to achieve the desired effect, iirc.

[2020-07-28 00:03] javadan commented on #9702
Sorry, mis-clicked the close button. Added some clarification. Still having this issue.

[2020-07-28 02:58] Hdong179 commented on #8777
I encountered the same problem in the process of learning,
`2020-07-28 10:42:23,295 WARNING services.py:923 -- Redis failed to start, retrying now.
2020-07-28 10:42:23,545 INFO services.py:1165 -- View the Ray dashboard at localhost:8265
[0, 1, 4, 9]`
I found that the python version may not match the downloaded ray。
After confirming that I am python3.7,
`pip install https://s3-us-west-2.amazonaws.

[2020-07-28 03:52] 51616 commented on #8452
@ChuaCheowHuan Actually, what i suggested probably doesn't work since we need the agents to play together which, I believe, requires the policies to be in the same trainer instance. I don't know if there is a way we can use the same experience to train different policies with different hyperparameters in RLlib.

[2020-07-28 03:59] 51616 opened #9743 "[rllib]In multiagent environment, is there a way to use common experience to update the policies with different hyperparameters?"
As discussed in #8452 , in [PBT-MARL](https://arxiv.org/pdf/1902.07151.pdf) algorithm we need agents/policies with different hyperparameters (e.g. learning rate, gamma, vf_coeff) to play the game together and use the common experience to update both agents' policies. I wonder if this is possible the fact that it requires to use the __same experiences__ to update policies with __different hyperpara

[2020-07-28 04:58] ChuaCheowHuan commented on #8452
Hi @51616, I just read the first comment of this somewhat different but related issue #5753.

So I guess this validates your concern about changing the config.

I would like to try the checkpointing workaround (though it's mentioned that this would be rather expensive) with a single trainer (for multiple policies) with the `multiagent` dictionary.

I would appreciate if anyone would shed some ligh

[2020-07-28 06:57] javadan commented on #9702
Restoring a checkpoint from a finished trial terminates after one training iteration. That's the issue.

[2020-07-28 07:19] richardliaw commented on #9702
The key is not to use `resume`, but `restore`. Can you provide your restore script?

[2020-07-28 08:49] Catypad opened #9748 "Understand train"
Hi! When I train an agent with

[code]

how many time steps are taken in one iteration? In offline RL does an iteration mean going through all the episodes that exist in the dataset? If anyone can help me, I appreciate it very much!

[2020-07-28 09:21] guoxuxu opened #9750 "Trials did not complete"
tune
### Describe your feature request
Can we know which line in our code file triggers "Trials did not complete" Error?
Don't know where to edit when everything is wrapped

[2020-07-28 10:19] Tenoke opened #9752 "Ray issue with serializing pytorch objects only when running on 40+ cores"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

[Pytorch:latest Docker image.](https://hub.docker.com/layers/pytorch/pytorch/latest/images/sha256-c208e28deda4b6fe727cbbd9c1acaaf70379032e73758a09e51547b51e8620a3?context=explore), ray 0.8.6

[code]

Everything runs normally on less cores, however, everything was rewritten in ray in orde

[2020-07-28 11:35] #9641 closed

[2020-07-28 12:00] duburcqa commented on #9643
Numpy defaults to float32, while Torch defaults to float64. So converting a Numpy array in Torch tensor has different dtype than "native" torch tensor, and conversely.

[2020-07-28 12:14] waldroje opened #9755 "[tune][rllib] Add parameter to PBT to allow a burn in period"
### Describe your feature request
Similar to as described in the IMPALA paper, it would be useful if there was a separate parameter which allowed PBT trials to run for a defined "burn in" period prior to initiating a perturb interval, similar to the `grace_period `in some of the other schedulers.

[2020-07-28 12:15] #9667 closed

[2020-07-28 13:14] stefanbschneider commented on #9750
If you scroll up in your logs, there should be the full error trace.

[2020-07-28 13:16] stefanbschneider commented on #9748
As far as I understand, it depends on the `train_batch_size` that you can set in the `config`: https://docs.ray.io/en/latest/rllib-training.html?highlight=observation_filter#common-parameters
In one iteration, it takes at least as many steps as the size of the train batch size (sometimes a bit more).

[2020-07-28 13:27] stefanbschneider opened #9756 "[rllib] Continuous instead of episodic problem"
If I have a continuous instead of episodic problem, would I have to change anything in RLlib to address it? Or just ensure that my environment always returns `done=False`?

In chapter 10.3 of [Sutton's book](http://incompleteideas.net/sutton/book/RLbook2018.pdf), I read that the average reward should be used for continuous problems instead of the discounted return. How would I achieve that? Or do

[2020-07-28 14:13] mathpluscode commented on #8379
Hi, is there any updated for this issue?

I've been trying to load keras weights when building the model. But it seems like the experiments using `tune` still starts from scratch.

[2020-07-28 14:22] beasteers commented on #8522
As an update - I managed to add this bare-bones, but functional drop-in replacement for `ray.remote` (for actors). Obviously there are a few things to be improved on
 - wrap methods with `remote` in `__init__` not `__getattribute__`
 - resolve and wait for any futures in the arguments of `my_actor.remote(...)`.
 - handle remote functions, not just actors

But I wonder if something like this could

[2020-07-28 15:37] sven1977 commented on #9756
Great question @stefanbschneider , haven't thought about this myself (@ericl?). Yes, the PG loss function would even slightly change in this case (in other words, we don't support this atm). It shouldn't be too hard to fix, though. Which algo are you using (some PG, I assume)? For PPO, for example, would could probably change the postprocess_trajectory method to calculate the average (over n times

[2020-07-28 17:06] BBLN commented on #7830
+1
I'm having ExternalEnv action_queue exceptions, only for the main thread worker if num_workers >= 1.
Tried to debug this, unfortunately didn't find anything. This queue is filled in send_actions of _ExternalEnvToBaseEnv?

[2020-07-28 17:31] ericl commented on #9756
I think you can use soft_horizon for this, that's intended for use with true MDP problems.

[2020-07-28 17:57] mathpluscode commented on #7046
Hi @sven1977, with the code above, I'm trying to load the keras weights, but I found that, the weights after loading is not what it suppose to be.

From the printing, we can see after `import_model` the weights are the same as the first weights before training. Do you have an idea why this is possible? Code for reproducing it is below.

I'm using MacOS, python3.7, ray 0.8.6. (I tried ray nightly b

[2020-07-28 18:16] stefanbschneider commented on #9756
Thanks for the prompt response!

@sven1977 Yes, I'm using PPO. That would be great if you could provide further details how to achieve the desired behavior. Not coming from an RL background, I'm a bit overwhelmed and don't know where/how to start.
If I understand Sutton correctly, he argues in chapter 10.4 that no discounting should be used - hence, I considered setting gamma to 0.

@ericl Hm. The

[2020-07-28 18:36] richardliaw commented on #8522
hmm yeah this is cool! It works with actors? would it be hard to get working with tasks?

[2020-07-28 18:41] richardliaw commented on #8379
Can you post what you're doing, the error you're getting, and the behavior you're expecting?

[2020-07-28 19:26] mathpluscode commented on #8379
@richardliaw

Sure.

I'm doing RL with a custom environment and a custom model using `tune.run(agent, **run_kwargs)` with ray 0.8.6 and `tf = try_import_tf()` (so graph mode under tf2).

We have a working code and the agent learns to solve the problem.

Then we used an external dataset to train the agent in tf2 using `model.fit`, the trained agent achieved a satisfying performance, let's say rewar

[2020-07-28 19:52] beasteers commented on #8522
Yes, it works with actors like this:
[code]

The only thing with tasks is that I don't know how to manage the thread pool instance.

How does it work with process pools currently? Cuz it should probably just mirror that. The ray source code is a bit hard to navigate so I'm not sure how it's implemented.

Is there an existing global pool instance to access? Or does each task have its own pool? Or d

[2020-07-28 20:00] juliusfrost opened #9760 "[tune], [rllib] PyTorch 1.6 AMP support"
### Describe your feature request

PyTorch just released their new version 1.6, which comes with automatic mixed precision (AMP) training. This can sometimes speed up training and decrease memory requirements. The features requested would be implemented with flags in the training scripts.

References:
https://github.com/pytorch/pytorch/releases
https://pytorch.org/blog/pytorch-1.6-released/

[2020-07-28 20:20] javadan commented on #9702
I had resume set.   That does make sense.  Thanks

[2020-07-28 20:20] #9702 closed

[2020-07-28 21:55] wuisawesome opened #9761 "test_output is failling"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
On ubuntu:

These socket connection errors (a) shouldn't happen (b) if they should happen and are normal, they should generate error logs on startup.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library d

[2020-07-28 22:00] atomr3 commented on #9546
Great find

[2020-07-28 22:33] wuisawesome commented on #9761
I'm pretty sure this is a race condition around the creation of the raylet socket: `session_latest/sockets/raylet`. We should probably just create the socket before initializing the core worker or raylet

[2020-07-28 22:42] richardliaw commented on #8379
Hmm, yeah I think this is probably not exactly related to Tune. It sounds like somehow initialization of training is overriding your model weights. Two tips:
1. Try setting lr = 0 - see if it matches the performance you expect.
2. Try printing or watching the model weights during training - checking that the model weights don't change dramatically will help.

https://github.com/keras-team/keras/is

[2020-07-28 22:47] mathpluscode commented on #8379
@richardliaw Thanks! Will give it a try!

[2020-07-28 22:58] wuisawesome opened #9763 "[core] ray.init(raylet_socket_name=...) doesn't work with multiple workers"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ubuntu 18.04 (quite certain this applies to all *nix systems)

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

Throws an exception

[2020-07-29 02:12] richardliaw commented on #9723
What do you mean connection is lost? Maybe `ray submit --stop`?

Unfortunately, it's not public-facing.

min_workers: 0
max_workers: 0

[code]

[2020-07-29 03:12] Grant-E-G opened #9769 "Save and Checkpoint after a fixed time & then resume"
I'm using Tune to train 3 rllib ppo agents in a custom environment. However my cluster has a very low fixed time limit of 6 hours.  I would like to be able to checkpoint after 5Hours and 50mins, and then resume.

My current attempt involved creating a custom stopper for a fixed time, but then I couldn't resume from the saved checkpoint as the job had been Terminated. My next approach would be to e

[2020-07-29 03:27] amogkam commented on #6240
@markgoodhead `WrappedFunc` is part of the Tune internals. The warning shouldn't be due to your subtasks.

[2020-07-29 05:08] rohan-gt commented on #9723
@richardliaw I tried deploying the cluster from my local PC using the following command:
`ray submit tune-default-hpo.yaml hpo.py --start --stop`

But if either the submitted Python script has an error or if I close the terminal mid execution or if my internet connection is lost, the spot instance cluster is not shutdown after execution.

I tried passing `ray submit --stop` which gives the error `

[2020-07-29 06:14] ffbin opened #9772 "[Placement Group] Support fault tolerance of Placement Group Manager&Scheduler"
### Describe your feature request

[2020-07-29 06:16] ffbin opened #9773 "[Placement Group] Optimization of placement group scheduling algorithm"
### Describe your feature request

[2020-07-29 06:24] ramondalmau commented on #7341
Dear MARL friends,

I hope you are doing well :)
which is the status of the lockstep replay mode in RLlib?

I just installed the latest version of ray to use this new feature, but after setting "replay_mode":"lockstep" in the configuration of the trainer, I cannot see in the input_dict of model.forward() the new elements of the dictionary, which shall include the timestep, episode_id and agent_id.

[2020-07-29 06:27] wumuzi520 opened #9774 "[Placement Group] Add STRICT_PACK and STRICT_SPREAD scheduling strategy"
### Describe your feature request

[2020-07-29 06:40] ramondalmau commented on #7341
Dear MARL friends

I hope you are doing well
Just a small question: is it possible to use lockstep mode with multi-agent PPO?
Kind regards

Ramon

[2020-07-29 07:30] rkooo567 opened #9775 "[Placement Group] Placement group dashboard (prototype)"
### Describe your feature request
Build a placement group dashboard for easy debugging. Build the complete dashboard once the new dashboard infra is stabilized.

[2020-07-29 12:35] stefanbschneider commented on #9756
What would happen, if I just always return `done = False` and otherwise keep my environment and PPO configuration unchanged? Is that generally a bad idea because training/evaluation is somehow tied to episodes?

[2020-07-29 15:46] raphaelavalos opened #9784 "[RLlib] Error if tensorflow is not installed"
The annotations introduced in the PR #9676 make RLlib crash if TensorFlow is not installed. The crash appears because the namespace tf1 does not have FIFOQueue attribute.

https://github.com/ray-project/ray/blob/156067b423ef327682fa6639c3a9936bf8fa7ea9/rllib/offline/input_reader.py#L95

The same error might also appear elsewhere

@michaelzhiluo maybe you can have a look. Thanks :)

- [x] I have ve

[2020-07-29 16:10] vish0910 commented on #9558
Thank you Richard for this clarification.

Upon searching more, I found this: https://serverfault.com/questions/741670/rsync-files-to-a-kubernetes-pod
I see similar solution applied to `KubernetesCommandRunner` in Ray. Maybe we can do the same for sync-checkpoint mechanism to resolve this issue. Or, we just implement it as a custom file-transfer protocol and make it part of the pallet.

On a side

[2020-07-29 16:54] matter-funds opened #9786 "Ray log tracing"
Consider the following situation:

Something (incoming request, function call etc) launches job A, which launches jobs B and C in parallel. Job C also launches job D.

I would be useful for the logging statements emitted by these processes to include the same `request_id`, so one can easily track how a request triggered jobs through the cluster.

This can (sort of) be achieved now, if the `request

[2020-07-29 17:06] rkooo567 commented on #9786
cc @edoakes I think this is another use case for the task context we discussed before.

[2020-07-29 19:49] alihadian opened #9788 "[tune] Tuning a non-ML system"
I am confused about how to use Ray Tune for a non-ML system. I want to optimize a software system for data cleansing, which comes with a number of parameters.

I have an objective function that runs the system and computes a fitness value:
[code]

I want to use Ray Tune for its "parallel / distributed" facilities, and the search algorithms that help to explore the hyperparameter space more efficie

[2020-07-29 20:10] richardliaw commented on #9788
Tune should work fine for your use case.

Maybe something like this can help you get started?

[code]

[2020-07-29 20:20] sven1977 commented on #9784
This should be fixed in the most recent master.
To patch this on your end for now: Just do:
[code]

[2020-07-29 20:20] #9784 closed

[2020-07-29 20:27] sven1977 commented on #9760
@juliusfrost, hearing you! We may just jump directly from 1.4 to 1.6 for our testing suite, then.

[2020-07-29 20:45] richardliaw commented on #9558
Great! yeah, KubernetesCommandRunner is what we will want to use. More than happy to accept a PR if you want to take a quick pass!

Otherwise, we'll try to get to this in the next couple of weeks.

[2020-07-29 20:45] alihadian commented on #9788
I just tried the sample code that is introduced in [Ray's Github page](https://github.com/ray-project/ray), taking out the for loop. It doesn't work anymore:

[code]

Ray cannot optimize this simple function. the best config found is: `Best config:  {'alpha': 0.001, 'beta': -2}`, which is neither the maximum nor the minimum of the `alpha * beta` function.

What am I missing here?

[code]

[2020-07-29 21:04] richardliaw commented on #9788
Well,
1. The particular hyperparameter search configuration you gave is a random sample, not an exhaustive one.
2. you probably want `analysis.get_best_config(metric="score", mode="min")`, as the provided output I think is the "max value" over all that is evaluated.

[2020-07-29 21:21] alihadian commented on #9788
Thank you, this one works for the toy example.

But what if I don't want to do the exhaustive grid search (which is not feasible for larger number of parameters)?

I need the optimizer to take a look at all the previous experiments, decide which new configs are likely to have a better score, and try the new experiments (in parallel). So the ideal thing is like:

[code]

How can I configure Ray to

[2020-07-29 21:25] richardliaw commented on #9788
Here's a sketch - typically, I wouldn't use a "hard barrier" in between evaluations, but here's something you can do:

[code]

^ there might be typos, but you get the idea.

[2020-07-29 21:41] alihadian commented on #9788
Thanks. It raises an error and can't complete though. Why?

[code]

[2020-07-29 21:50] alihadian commented on #9788
On a separate note, I have two questions:

1. How does the Bayesian optimizer know that it should pick the configs that **minimize** the function? We are only using `mode="min"` once the optimization is finished and we read the best config. How does the optimizer know what would have been the meaning of the "best" config?

2. I prefer an asynchronized scheduling. i wonder how  `num_samples=30,` me

[2020-07-29 21:54] richardliaw commented on #9788
@alihadian it looks like it converged with 1.2, 2 = "max". You'll need to do `BayesOptSearch(mode="min")` to minimize (sorry, forgot to include that in the past example).

It means the total number of evaluations ("trials"). You'll want concurrency to be lower than 30, yep. That's what the concurrency-limiter should do for you.

[2020-07-29 22:10] alihadian commented on #9788
Thanks for the super-useful comments.
Apparently BayesOpt does not support categorical values. Any "smart" (non-exhaustive) alternative that supports both range and categorical data and is parallelized asychronously for a non-ML system?

BTW, Ray Tune crashes for this toy example, even after specifying `mode="min"` for the Bayes optimizer.
Is it a BayesOpt issue or a Ray-Tune one? A bug, maybe?
If

[2020-07-29 22:12] richardliaw commented on #9788
Yeah, agree that this is a BayesOpt issue. I'll file an issue and try to fix it soon.

As an alternative, you can try `HyperOpt` or Scikit-Optimize.

[2020-07-29 22:21] alihadian commented on #9788
Thanks :)

[2020-07-29 22:21] #9788 closed

[2020-07-29 23:07] ericl opened #9793 "[Placement Group] Allow deleting placement groups"
Add an API to list / delete placement groups.

[2020-07-29 23:08] ericl opened #9794 "[Placement Group] Recover placement groups after failure of a bundle"
If a bundle disappears, the placement group scheduler should try to recover the group by rescheduling the bundle. This should have higher priority than trying to place other placement groups.

Add unit and integration tests for this scenario.

[2020-07-29 23:10] ericl opened #9795 "[Placement Group] Add way to wait on status of placement group"
Add a mechanism to wait for a placement group to become ready. It should be possible to (1) wait on multiple groups, and (2) wait on groups at the same time as other Ray tasks.

A possible implementation is to generate a dummy task that waits for any bundle (or all bundles) to become placed. Once the group is placed, then the task executes and returns the result. Example:

[code]

This will be eas

[2020-07-29 23:13] ericl opened #9796 "[Placement Group] Should be able to schedule a task on "any bundle""
There is currently no way to allow a task to run on "any bundle". This should be supported if bundle_index = -1.

[2020-07-29 23:13] ericl opened #9797 "[Placement Group] Should check for valid bundle index"
An error should be immediately raised if the bundle index is invalid.

[2020-07-29 23:23] ericl opened #9798 "[Placement Groups] Support tasks"

[2020-07-29 23:24] ericl opened #9799 "[Placement Group] Port Ray Tune to using placement groups"

[2020-07-29 23:36] rkooo567 commented on #9793
I just realized this might have hard dependency to https://github.com/ray-project/ray/issues/9795 if we want to implement correctly. (because we should remove after all tasks that depend on this placement group has been done, or at least force kill them. The naive approach will make all pending tasks infeasible).

[2020-07-29 23:37] ericl opened #9800 "[Placement Group] Send placement group backlog to autoscaler"
The autoscaler needs to be aware of the backlog of placement groups, in addition to the resource usage of placed groups (which should already be reflected in the node load).

[2020-07-30 00:02] ericl commented on #9793
I think it's fine to make the tasks infeasible in the initial version,
though I agree it's not ideal.

On Wed, Jul 29, 2020, 4:36 PM SangBin Cho <notifications@github.com> wrote:

[2020-07-30 00:13] ericl opened #9801 "[Placement Group] Port to new scheduler"
Port the placement group handling to the new scheduler.

[2020-07-30 00:15] rkooo567 opened #9802 "[Placement Group] Create a ray.placement_groups() API"
### Describe your feature request
Like ray.actors(). we should be able to get placement group information from GCS.

[2020-07-30 01:12] ericl opened #9807 "[Placement Group] Guarantee atomic visibility of bundles"
Currently when a placement group is created, we create the bundles one by one. This allows some tasks to start getting placed before the group is fully created.

A common failure case here is that resources in the cluster get claimed by some other task before the GCS server can reserve them for the placement group. This leads to a placement group creation failure even if no nodes have failed. Inst

[2020-07-30 01:27] #9654 closed

[2020-07-30 01:42] ericl opened #9808 "[Placement Group] Capture children tasks and actors in the same placement group"
There should be an option to contain nested tasks and actors in the same placement group. For example, with Ray Tune, the trial scheduler expects to create a placement group of a given size, and contain the actors of the trial within the group.

Example:
[code]

[2020-07-30 03:36] anguyenbus opened #9810 "[rllib] Observation_space cannot be passed to Preprocessor"
rllib
### What is your question?

Hi, I dont know why Observation from my observation_space cannot be passed into the Trainer.

This is my observation_space:

[code]

Action_space
self.action_space = spaces.Discrete(16)

config = DEFAULT_CONFIG.copy()
config["num_gpus"] = 1
config["num_workers"] = 1
config["eager"] = False
config["log_level"] = "INFO"
config["monitor"] = True
config["num_cpus_per_

[2020-07-30 06:28] guoxuxu opened #9812 "How to control the number of trials running in parallel?"
### What is your question?
I have two questions related to "resources_per_trial" and "num_samples". But I have only one purpose:  controlling the number of trials that are truly running in parallel. These two attributes can not make it.

My code for ray tune initialization:

[code]

#### What I know is "resources_per_trial" specify the number of CPUs and GPUs and Memory for a trial. E.g., I can sp

[2020-07-30 06:33] jamartinh opened #9813 "[rllib] How to: my environment state space include a time series window or time dimension"
### My environment state space include a time series window or time dimension, as well as the action space

*gym state and action spaces:*

Hi, probably this is not only an issue of RLLib, however I can't figure out how this will be handled by rllib.

I have a state space of the form shape= (n_timesteps, n_variables_float), i.e. a matrix whose rows are time series of observations

Also an action s

[2020-07-30 06:51] pablogranolabar opened #9814 "Ray Tune with ARS?"
Hi,

I am running the most recent development branch of Ray and see that ARS has been implemented for rllib; there is also mention made with Ray Tune docs of random search but nothing related to ARS.

Is it posssible to use ARS with Ray Tune for PyTorch hyperparams optimization?

Cheers!

[2020-07-30 06:58] amogkam commented on #9812
@guoxuxu Let me try to help you out here.

`num_samples` is the total number of trials to run. In this case it looks like you want a total of 16 trials.
`resources_per_trial` is how many resources to allocate for each trial. If you set `gpu: 4` here, then 4 GPUs will be reserved for a single trial. So on a 4 GPU machine this can only run 1 trial at a time. Instead you should set `gpu: 1` for 1 GPU

[2020-07-30 07:49] #9305 closed

[2020-07-30 07:50] guoxuxu commented on #9812
Thank you for your kind and quick response, amogkam. I figured them out finally! Many thanks!

[2020-07-30 07:50] bentzinir commented on #9305
The issue is solved with the latest version. I'm closing, Thanks.

[2020-07-30 07:50] #9812 closed

[2020-07-30 09:09] ArturNiederfahrenhorst commented on #5757
Experiencing a similar problem with an updated AsyncPPOTFPolicy. My policy behaves as expected with 'num_gpus: 1' but throws the same error at me with 'num_gpus: 2'.

[2020-07-30 09:46] guoxuxu opened #9815 "[tune] How to write a correct setting to conduct hyperparam search experiment appropriately?"
### What is your question?

1. I noticed that even if I fix the random seed, the best config and best metric found can vary a lot for the same python file executed. So I'm wondering <u> what's the correct and professional way to make sure my hyperparameter search experiment is running towards a potential best config and the metric result?

I tried to figure out this question by specifying ``` stop

[2020-07-30 10:06] hkvision opened #9816 "[sgd] Why TorchTrainer doesn't have a predict method?"
Just want to ask how to do distributed inference using RaySGD?
I can't find a predict method for TorchTrainer. Is it because collecting all the prediction results back to the master would be costly? So it only supports training or validation for now?
BTW, seems I can't find an example from official PyTorch for distributed inference using DDP...
@richardliaw

[2020-07-30 11:12] raphaelavalos commented on #9638
@weepingwillowben I followed your advice and modified rollout.py. My PyTorch implementation seems to work well with the MPE set with continuous action space on the three env I tested so far (simple, simple_spread, and simple_push).

@justinkterry you mentioned that you tried to make MADDPG work in other environments that the MPE suite, do you have an env with continuous actions to recommend for te

[2020-07-30 11:14] raphaelavalos commented on #9667
@sven1977 would it be possible to keep the issue open until #9683 is merged ?

[2020-07-30 11:27] raphaelavalos opened #9819 "[RLlib] Error if tensorflow is not installed"
Hello,

When TensorFlow is not installed RLlib crashes because tf is not None and but it doesn't have a keras attribute.

https://github.com/ray-project/ray/blob/01125b8fcfce88472c2e20d116bc6662032088e0/rllib/models/tf/layers/gru_gate.py#L6

Thank you for your work :)

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs

[2020-07-30 11:31] mathpluscode commented on #8379
So finally I have a working script using custom env and network.
I suspect the problem come from the saving/loading of the weights with h5 file as mentioned in #7046.

So with a numpy approach, this is working, means that the second tune run with loading will starts with a >100 reward and with lr=0, optimizer will not influence the weights.

[code]

[2020-07-30 11:45] raphaelavalos commented on #9736
Hello,

This used case is described [here](https://docs.ray.io/en/master/rllib-env.html#hierarchical-environments).

You need to wrap your environment in a MultiAgentEnv and instead of having both agent acting at the same time they act one after the other. Then you can pass the action of the higher agent to the lower agent using the observation space.

Hope that helps :)

[2020-07-30 13:19] sven1977 commented on #9819
Hmm, `tf` should be None, because it can't be imported, no?
What's the value of `tf` in your case.

[2020-07-30 13:26] sven1977 commented on #9813
You can either:
1) pretend that your Env's time-dim is just "another" dim in your observation space and then process everything with a non RNN.
2) Make your Env emit single timesteps only and process everything with an RNN (which will take care of the time dim automatically by keeping an "internal state", which it learns to manipulate and read from automatically over training).

You will not succe

[2020-07-30 13:28] sven1977 commented on #9810
Could you post a simple repro script that we can just copy and debug with?

[2020-07-30 13:31] raphaelavalos commented on #9819
PyCharm left the TensorFlow package directory after removing its content so it was importing an empty package.
All works now thx

[2020-07-30 13:31] #9819 closed

[2020-07-30 14:21] justinkterry commented on #9638
I think the only ones we ever got to sorta work was the sisl environments in pettingzoo, though for the continuous ones in there we had to manually do a centralized critic of DDPG instead of using the MADDG code. That stuffs cursed.

[2020-07-30 14:23] sven1977 commented on #9743
Yeah, in the MA case, you can configure each policy (in the same trainer) differently.
In your multiagent config, you can specify the `policies` dict via `keys=policy_id[str]` and `values=Tuple([PolicyClass or None for default], obs_space, action_space, [extra config, e.g. different learning rate per policy])`
e.g.
[code]

[2020-07-30 14:34] kivo360 commented on #9529
Closing due to lack of response. I'll just experiment.

[2020-07-30 14:34] #9529 closed

[2020-07-30 14:42] mathpluscode commented on #7046
So finally it's working

the problem was we need to set both session and graph correctly when saving:
[code]

this code corresponds to the loading in https://github.com/ray-project/ray/blob/master/rllib/policy/tf_policy.py#L476

[code]

[2020-07-30 14:50] mathpluscode commented on #8379
And here is a working example with h5 file, the problem was due to the setting of graph and session.

[code]

[2020-07-30 15:08] vish0910 commented on #9558
I spent sometime last-week to understand if I can fix it, but for me it was not a going to be a quick pass. So I will defer it to the team. Thanks once again Richard. :)

[2020-07-30 15:45] gradpratik opened #9820 "Typo/bug with the Dirichlet distribution"
https://github.com/ray-project/ray/blob/e540e425e4aee15706f4f3da4e6a0f7d73dbb52c/rllib/models/tf/tf_action_dist.py#L512

The

 should be **"tfp.distributions" and not tf.distributions** --> 512
[code]

[2020-07-30 16:20] rkooo567 commented on #9529
You can ensure this by allocating resources to each actor. For example,

1. Start Ray on a node you want to connect. (Note command given here is not exactly accurate. You might need more options to start it correctly).
[code]

And assign 1 cpu for each actor. In this way, you can only create num-cpus actors in the cluster.
[code]
This now requires 1 cpu to be created. If you create more than num-c

[2020-07-30 16:45] snmhaines opened #9821 "Hyperthreading not disabled in Ray 0.8.6"
This relates to the pull request "Force OMP_NUM_THREADS=1 if unset #6998" from February (also "Always set OMP_NUM_THREADS even on low core machines #7006").  I left a comment on the former, but I am not sure that anyone will have been notified.  I also posted a question on Stackoverflow: "Disabling Hyperthreading on Nodes in an AWS EC2 Cluster through Ray Configuration".

I have updated to 0.8.6,

[2020-07-30 16:53] richardliaw commented on #8379
nice!

[2020-07-30 17:20] #9761 closed

[2020-07-30 17:20] #9698 closed

[2020-07-30 17:48] BBLN opened #9823 "[rllib] ParallelRollouts ignores local worker, ExternalEnv reports queue empty exception"
### What is the problem?
After debugging issue #7830, I found a bug in the ParallelRollouts class.
In worker_set.py of rllib a _local_worker is always created in WorkerSet __init__.
In ParallelRollouts, if a remote worker exists, no sampling made for the local worker, resulting in empty action queue.
After the timeout (60 seconds) the local worker raises the queue empty exception and shuts down.

[2020-07-30 18:46] mfitton commented on #9317
Hey folks! This should be working on the master branch. The issue, as it turns out, is that when a node was leaving the cluster, there was a missing piece of data that was causing the page not to load. That data has now been marked as optional in the master branch, so this issue should be resolved.

I tried to recreate on the master branch, and I was unable to, and due to the code changes, I belie

[2020-07-30 18:49] mfitton commented on #9317
Here is a gist with some additional information: https://gist.github.com/mfitton/281619d7eeefb5b49693decb46817a3d

[2020-07-30 19:10] ijrsvt opened #9825 "GCS Actor Management does not work in Local Mode"
### What is the problem?
I cannot create a detached actor (and retrieve it) using GCS Actor Management.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
[code]

This results in the following error:
[code]

Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e

[2020-07-30 20:13] javadan opened #9826 "[tune] experiment_analysis.py nan"
I have a case where I can't get an Analysis object on some experiment directories.

It is looking for episode_reward_mean, but it is nan sometimes because it's an average.

When debugging, I get to the below, when looking for the best config or best log dir.
   `idx = df[metric].idxmax()` makes idx 'nan'.

[code]

Could _retrieve_rows return a default value like None, rather than throwing an excep

[2020-07-30 20:20] juliusfrost opened #9827 "Windows debugging on gdb does not work"
### What is the problem?

https://docs.ray.io/en/master/debugging.html?highlight=debugging#debugging
The tutorial on debugging in ray says you can set the environment variables `RAY_RAYLET_GDB=1` `RAY_RAYLET_TMUX=1` to make ray work with gdb. However, you cannot debug on Windows because it is assumed `tmux` is installed, which is not available.

### Reproduction (REQUIRED)
Please provide a script

[2020-07-30 20:29] amogkam commented on #9826
@javadan what version of Ray is this? I believe this error has been fixed in this PR https://github.com/ray-project/ray/pull/9381. It will be included in the next 0.8.7 release. In the meantime you can install ray from the latest wheels (https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies)

[2020-07-30 20:36] javadan commented on #9826
Thanks, 0.8.6.  I'll try out the wheels plan now.

[2020-07-30 21:30] javadan commented on #9826
Hmm so I updated to ray-0.9.0.dev0
and am getting some error in exploration.py and a few other files.
`AttributeError: module 'gym.spaces' has no attribute 'Space'`
Guess it's always a risk,  running latest snapshots.
Do you think I need to roll back to a specific gym version maybe?
I think they must have changed their package names at some point, from gym to gym.spaces or vice versa.
How would I

[2020-07-30 21:43] amogkam commented on #9826
Good question, I think downgrading your gym version should work? @ericl @sven1977 any advice here?

[2020-07-30 22:33] richardliaw commented on #9734
I think this is actually not an issue; it only arises if the local laptop ray is not consistent with the cluster version of Ray.

[2020-07-30 22:58] javadan commented on #9826
I worked around for now, by globally replacing gym.spaces with gym
Good enough for now.  Thanks.

[2020-07-30 22:58] #9826 closed

[2020-07-31 00:57] snmhaines commented on #9821
P.S.  I have managed to set OMP_NUM_THREADS=1 on the head-node and workers, through the config file, but it is has made disappointingly little difference.

[2020-07-31 05:44] simon-mo commented on #9820
cc @sven1977

[2020-07-31 06:56] guoxuxu opened #9838 "How is the best configuration selected from all trials?"
### What is your question?

From the code below, I understand that ```train_mnist``` is called every trial while ```train``` is called every training iteration. It can be seen that ```tune.report``` submit mean_accuracy every training iteration. But I don't know whether every trial will select its best training iteration?

For example, every trial runs 10 iterations and```tune.report``` reports 10

[2020-07-31 07:22] richardliaw commented on #9838
Great question - you can use `analysis.get_best_config(scope="max")` to get the best over all iterations.

[2020-07-31 07:38] guoxuxu commented on #9838
Thanks very much! The values for scope only support one of ```[all, last, avg, last-5-avg, last-10-avg]```. Please look at this documentation for ```get_best_config``` here: https://docs.ray.io/en/master/tune/api_docs/analysis.html

It says

Does this mean that, if mode='max' for metric='mean_accuracy', then the best configuration for the current trial is determined based on the maximum mean_accur

[2020-07-31 07:42] richardliaw commented on #9838
Yeah

[2020-07-31 07:47] 51616 commented on #9743
Is this applicable to other configs such as callbacks or this is only for algo specific config?
Also, could you explain a bit more about how this is handled by the trainer because I looked into the source code and I saw only one optimizer for each trainer instance?

[2020-07-31 07:47] guoxuxu commented on #9838
Thank you very much~

I noticed there are two ```get_best_config``` functions under two classes, one is ```ray.tune.ExperimentAnalysis``` whose ```get_best_config``` function has the attribute ```scope``` while the other class ```ray.tune.Analysis``` whose ```get_best_config``` function does not have this attribute...

Which one is supposed to be the class that ```anaysis``` inherits from? In my c

[2020-07-31 07:51] guoxuxu commented on #9838
Thanks very much. I got it.

[2020-07-31 07:51] #9838 closed

[2020-07-31 09:37] #9726 closed

[2020-07-31 09:38] #9724 closed

[2020-07-31 09:40] guoxuxu commented on #9750
Thank you very much!

[2020-07-31 09:40] #9750 closed

[2020-07-31 09:52] guoxuxu opened #9840 "How to save only the best model parameters?"
### What is your question?

As I am looking into how to save only the best model parameters. I'm curious about ```ray/tune/time_since_restore```,  ```ray/tune/time_this_iter_s```, ```ray/tune/iterations_since_restore``` and ```ray/tune/timesteps_since_restore```.  Could you explain according to the parallel coordinates view shown below?

![image](https://user-images.githubusercontent.com/29363464/

[2020-07-31 10:52] chromafunk opened #9841 "Scheduling actors to use the only free GPU once an actor finishes using it"
So, I am trying to build a service that runs actors that use a GPU. These actors must be processes that are constantly running and waiting for the only GPU on the system to become free, run a task. These actors also use a quote that once exhausted, must sleep and wait for the quota reset to begin running GPU jobs again. Right now, I can run an actor without problems, but Ray is unable to start ano

[2020-07-31 11:24] ChuaCheowHuan commented on #8452
@51616 Following the suggestions in #5609 #8827 #9012, it seems possible to change hyperparameters during runtime.

Possible solution:
[code]

If anyone's interested, I've piece together some simple test code, available in this [gist](https://gist.github.com/ChuaCheowHuan/13e2cf69e01c4cc3fa2e803a6afdda98).

[2020-07-31 13:09] dsuess opened #9842 "[serve]/[core] Workers running in different virtualenvs"
Is it possible to run workers inside different virtual environments (but with the same python version)?

For example, is it possible to use ray-serve to compose two models, one of which requires Tensorflow 1 while the other requires Tensorflow 2? Since it doesn't seem possible to run multiple nodes on the same machine, I'd be happy with running nodes in separate containers, which have the necessar

[2020-07-31 13:50] xlnwel opened #9843 "Why call the model before the loss function?"
I noticed in [this file](https://github.com/ray-project/ray/blob/006e034cdb66555e08fb017ee57cb81f8c678aa4/rllib/policy/eager_tf_policy.py#L561), the model is called first before `loss_fn` and its result is never used. Then why would it be called here?

[2020-07-31 14:05] flokde commented on #8674
Hi, I am currently also facing this issue. Has there been an update or is the ConcurrencyLimiter still the way to go? Just to clarify the use of the ConcurrencyLimiter: If I set max_concurrent=4, the expected behaviour is that hyperopt would make 4 initial random guesses and then does another batch of 4 educated guesses and so on?

Does use of a ConcurrencyLimiter make the parameter n_initial_poin

[2020-07-31 14:39] Antymon opened #9844 "Simple custom TF model crash in 2-GPU mode"
### What is the problem?

I was trying to use custom TF models in a 2-GPU mode but failed miserably due to the following error:
`tensorflow.python.framework.errors_impl.InternalError: Constraining by assigned device should not cause an error. Original root's assigned device name: /job:localhost/replica:0/task:0/device:GPU:0 node's assigned device name "/job:localhost/replica:0/task:0/device:GPU:1.

[2020-07-31 15:02] anguyenbus commented on #9810
https://github.com/anguyenbus/testing_repro Thank you, I have created a repro repo here with the requirements file.

[2020-07-31 16:02] anabranch commented on #9842
Hey @dsuess !
Thanks for this question. We're doing some work in this area of Ray and it'd be great to make sure that we'll support your use case. Could we setup a quick 30 minute call in the next week or so to go over your use case and requirements? Please ping me at my first name @ anyscale.com and we can setup a call.

Look forward to chatting with you!

[2020-07-31 16:24] SyedBilalMehdi commented on #9736
Thank you for the response.

I am not sure if the case that's in the documentation is the same as what I wanted to implement. Specifically, as the documentation mentions, the lower-level agents pop in existence at the start of higher-level steps, and terminate when their higher-level action ends. This is different from what I am trying to implement in which both higher level and lower level agent

[2020-07-31 16:34] 51616 commented on #8452
@ChuaCheowHuan Another approach is to make use of mixins class but this requires modification in the policy. I believe this is a more efficient way to go about implementing PBT in MARL since you dont have to re-initialize the trainer every time which could be very expensive especially in the case where there are multiple policies in the trainer.

[code]

Then in callbacks you can do something like

[2020-07-31 17:42] ericl commented on #9843
Hmm that does look like a bug. cc @sven1977

[2020-07-31 17:51] #9798 closed

[2020-07-31 18:10] rkooo567 opened #9847 "Dashboard should use the correct actor states."
### What is the problem?

Dashboard doc & code should use newly introduced GCS actor states.

from gcs.proto
[code]

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my sc

[2020-07-31 18:52] jieru-hu opened #9848 "[autoscaler] Provide IAM policy for ray autoscaling on AWS"
### What is your question?
 Could we get a list of all the AWS IAM permission polices needed to run ray autoscaler? Right now I'm attaching AmazonEC2FullAccess & IAMFullAccess to my IAM user. But a more detailed documentation would be ideal/awesome!

Thanks!

[2020-07-31 19:14] richardliaw commented on #9840
@guoxuxu I would just ignore those parameters, they're more like metadata.

[2020-07-31 19:18] richardliaw commented on #9815
1. **Seeding**: set the seed before tune.run is called AND inside your trainable class/function
2. Trainable function is preferable; we're slowly phasing out the class abstraction; it is only there for

[2020-07-31 19:22] richardliaw commented on #9816
Interesting; what are you trying to do in particular?

BTW, thanks a bunch for opening these issues. Would you be willing to jump on a call sometime next week? I would love to learn more about your usage of Ray!

[2020-07-31 19:28] richardliaw commented on #9769
Hey sorry for the slow response. You probably don't want to use the Stopper to do this.

Maybe try just running it until it gets killed, and use `tune.run(resume=previous_experiment_dir)`? That should resume from where you left off, if the trials were not stopped.

[2020-07-31 20:35] suquark opened #9849 "[Object Spilling] Automatically spill objects on OutOfMemory"

[2020-07-31 20:36] suquark opened #9850 "[Object Spilling] Add S3 backend for object spilling"

[2020-07-31 20:37] suquark opened #9851 "[Object Spilling] Docs for object spilling"

[2020-07-31 20:38] suquark opened #9852 "[Object Spilling] Cross-node object spilling (in object manager)"

[2020-07-31 21:05] richardliaw commented on #9821
Can you provide a repro script? That'd help us better understand the problem!

[2020-07-31 21:06] richardliaw commented on #9827
cc @mehrdadn ?

[2020-07-31 21:08] richardliaw commented on #9755
Great suggestion! We'll add this to our backlog. Feel free to also push a PR if interested :)

[2020-07-31 21:09] mehrdadn commented on #9827
We definitely haven't yet added GDB or tmux support for Ray on Windows, but would installing tmux possibly help with this? I haven't tried this, but MSYS2 should have tmux available.

[2020-07-31 21:09] richardliaw commented on #9752
cc @suquark? Looks like maybe there's some race condition?

Also @Tenoke can you provide a repro script?

[2020-07-31 21:12] richardliaw commented on #9712
Thanks for opening this issue! Normal multiprocessing doesn't work on this either right?

Can you provide a reproduction script where this works on generic Python multiprocessing but not Ray?

[2020-07-31 21:34] Grant-E-G commented on #9769
I tried this before, but my reloads seem to be of checkpoints that are quite dated, and it results in weird plots in tensorboard.
Likewise the learning rates seem to change after each reload dramatically. Is any of this behavior to be expected/reasonable?

![50dim_episode_reward_mean](https://user-images.githubusercontent.com/126288/89079138-73618400-d34b-11ea-87dc-9f726b3f0cde.png)

[2020-07-31 21:52] snmhaines commented on #9821
I am attaching the configuration file that I have been using.  You can see that I have a line in the setup that sets OMP_NUM_THREADS=1.  The application that I want to run on this cluster is a rather large 1-D CFD simulation that is started by a Python3 script that initiates Ray to run 90 instances of this in parallel.  I have checked that each worker does get the environmental variable set with t

[2020-07-31 21:59] icaropires commented on #9712
@richardliaw using just generic Python multiprocessing, it works. Maybe this should be considered a bug :thinking: :

### Script with generic Python multiprocessing
[code]
#### Output
`[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]`

### Script with Ray multiprocessing

[code]
#### Output
[code]
### Environment
**ray version:** 0.8.6
**python version:** 3.8.3

[2020-07-31 22:42] rbala19 opened #9854 "[rllib] input_dict["obs"] does not contain the right number of observations as specified within train_batch_size"
We are making a custom TF Recurrent Network using raw/dynamic rnn and ray. We are currently subclassing the class "Model" from "model.py", which requires us to override the method _build_layers_v2. From within this method, we invoke our custom LSTM graph and pass in the input_dict["obs"] as well as other attributes from input_dict into the graph. However, when checking the shape of input_dict["obs

[2020-08-01 00:27] snmhaines commented on #9821
Success!  I used the suggestion from here: https://aws.amazon.com/blogs/compute/disabling-intel-hyper-threading-technology-on-amazon-linux/, but also had to give the user permissions to overwrite all the cpu online flags:-

setup_commands:
    - sudo chmod -R 777 /sys/devices/system/cpu/*
    - for cpunum in $(cat /sys/devices/system/cpu/cpu*/topology/thread_siblings_list | cut -s -d, -f2- | tr ',

[2020-08-01 01:11] dsuess commented on #9842
Hi @anabranch, thanks for the offer! I've send you a mail. Looking forward chatting with you!

[2020-08-01 08:44] guoxuxu commented on #9815
Thank you very much! ^^

[2020-08-01 08:44] #9815 closed

[2020-08-01 13:07] ChuaCheowHuan commented on #8452
@51616  Nice, I like your suggested approach.

https://github.com/ray-project/ray/blob/b4c527b3f3e61bbea72b15706a9958fd337c93a6/rllib/examples/centralized_critic.py#L177

The example above modifies a policy with the following `mixin`, changing the learning rate.

https://github.com/ray-project/ray/blob/b4c527b3f3e61bbea72b15706a9958fd337c93a6/rllib/policy/tf_policy.py#L814

I'll be trying your sug

[2020-08-01 15:43] vancaho opened #9862 "How to retrieve the progress of a ray worker?"
### What is your question?
Hello, I want to use ray to run several workers in parallel. Each of the workers is in charge of processing a long list of data, e.g. 100000 integers. I want to have a master function which monitors the workers, and outputs the percentage progress of processing of these workers.  How to implement this feature with ray? Thanks very much.

*Ray version and other system inf

[2020-08-01 18:18] richardliaw commented on #9769
How often are you checkpointing?

Also, perhaps in your `save/restore` you may want to save the state of the learning rate optimizer, as it seems like the learning rate schedule is being reset after each restore?

[2020-08-01 18:23] richardliaw commented on #9862
Yeah; we should provide a quick guide for doing this, but you can implement something like a "monitoring" actor.

[code]

Then, on the driver, you can print (or track) progress.
[code]

[2020-08-01 21:34] jamartinh commented on #9813
Thank you very much!!!
I will try both approaches.
I have currently a model with 60 time steps that seems enough at least for
my reward signal.

Cheers,
Jose

El jue., 30 jul. 2020 15:27, Sven Mika <notifications@github.com> escribió:

[2020-08-02 05:30] guoxuxu commented on #9840
Thanks very much

[2020-08-02 05:30] #9840 closed

[2020-08-02 12:46] guoxuxu opened #9863 "How to init Ray with a specified GPU id to run all trials of Tune?"
### What is your question?

Say, I have 4 GPUs with ids=[0, 1, 2, 3] and I only want to run all trials for Tune on id=2 and id=3 only. That means I can only maximize the use of the third and fourth GPU without touching the first two GPUs. How can I achieve this?

```ray.init(num_cpus=num_cpus, num_gpus=num_gpus, temp_dir=ray_log)```

The attribute ```num_gpus``` is the number of GPUs ray can use.

[2020-08-02 13:31] 51616 commented on #9813
I have some questions related to this.
How can I implement an RNN model that handle a batch of sequences of images from the environment? I went with the second approach @sven1977 suggested making the environment emit only the images part while letting the model handle the sequencing part. This does not work out of the box since I have trouble translate the example code `examples/custom_keras_rnn_m

[2020-08-02 13:45] vancaho commented on #9862
Thanks for your suggestion. But Sorry for that I cannot get your point. Here is my requirement.
Here is the worker class
[code]

How to get progress attribute of each worker when the worker is executing ```process()``` function? If I use the ```ray.get(worker.get_progress.remote())```, I find that ```ray.get(worker.get_progress.remote())``` returns only after ```worker.process()``` returns.

[2020-08-02 17:24] richardliaw commented on #9863
Try setting the CUDA_VISIBLE_DEVICES before running the ray script?

[2020-08-02 20:38] richardliaw commented on #9723
Sorry for the slow reply:

[code]
allows you to teardown the cluster automatically after the job is finished AND does not require the internet connection to be kept on your laptop.

Does that help?

[2020-08-02 22:47] crypdick opened #9865 "[tune] clarify tune.run checkpointing is per-trial in documentation"
tune.run() checkpointing is on a per-trial basis, e.g. Tune keeps `keep_checkpoints_num` for each trial. I assumed it was on a per-experiment basis and made a tournament crash after my HDD got filled with hundreds of checkpoints.

[2020-08-03 00:44] snmhaines opened #9866 "EC2 Ray Cluster only using the head-node"
I have previously run Ray clusters which successfully employed a number of worker nodes in parallel.  Recently I updated to Ubuntu 18.04 (from 16.04) and the latest version of Ray, but now the same sort of configuration only seems to be scheduling tasks on the head node.  I tried both c4.8xlarge (which worked before), and c5.24xlarge instances, with the same results.  I am attaching the following

[2020-08-03 00:45] juliusfrost opened #9867 "[rllib] Automatic unflattening trajectories with json input from offline data"
# Describe your feature request

When implementing environments with complex observation spaces with offline storage, the only way to use input and output API is to flatten the data using the preprocessor and then load the flattened data with json input. This requires manual reshaping of the output to prior known dimensions in order to use the complex observation shape with custom models. Ideally,

[2020-08-03 02:01] guoxuxu commented on #9863
Soga. It works now. Thanks very much!

[2020-08-03 02:01] #9863 closed

[2020-08-03 07:30] hkvision commented on #9816
I'm thinking of distributed inference; just wondering why predict is not supported in RaySGD.

My team is working on RayOnSpark, mainly enabling Ray to easily handle large scale production data, as you may have probably heard of. We have posted several guest blogs at RiseLab's site. I will check with my team and reach back to you later to have a further chat! Thanks so much Richard!

[2020-08-03 07:34] markqiu opened #9869 "use fastapi as backend?"
### Describe your feature request
May we use fastapi as the serve backend?

[2020-08-03 07:47] pmacalpine opened #9870 "[rllib] DQNTorchModel doesn't work with custom_model_config options"
### What is the problem?

When I use custom_model_config options and DQN with pytorch I get an error like the following where my custom_model_config options aren't recognized or allowed in the  DQNTorchModel constructor.
[code]

This breaks all algorithms that use the the DQNTorchModel such as DQN and SAC.  Things work OK with A2C and PPO, and also if I use tensorflow.  I would really like to use

[2020-08-03 09:17] sven1977 commented on #9870
As a quick workaround, can you change your torch model c'tor to:
[code]

this will fix the problem. We know the way custom model composition in combination with algo-specific models are not ideal right now (it's hard to tell, which c'tor gets called when and why sometimes) and are planning to make this more intuitive in the future (it's not of high priority, though :( ).

[2020-08-03 09:17] #9870 closed

[2020-08-03 09:18] sven1977 commented on #9870
Feel free to re-open, in case this does not fix things on your end.

@pmacalpine Thanks for filing this!

[2020-08-03 09:53] ChuaCheowHuan opened #9872 "[rllib] How to change hyperparameters after a training iteration (for MARL)?"
### What is your question?
Hi, I would like to update the hyperparameters in the policy graphs for a subset of trainable policies after an arbituary number of training iterations.

I have tested the methods below with `RockPaperScissorsEnv`. `Method 1` works but is too expensive for my use case. As of `Method 2`, the `pretty_print` seems to suggest that the `lr` of `agt_0` is changed & it's `polic

[2020-08-03 10:13] raphaelavalos commented on #9736
Hello,

From what I understand, your higher agent observes o_1 and take action a_h,1  then the lower agent observes [o_1, a_h,1] and takes [a_l,1]. Making it two different steps. Am I missing something?

[2020-08-03 11:17] Antymon commented on #9844
Related to https://github.com/ray-project/ray/issues/6668#issuecomment-610458857

[2020-08-03 17:06] alexcoca opened #9874 "[docs] Issue on `cluster/launcher.rst`"
# Documentation Problem/Question/Comment

The [page ](https://docs.ray.io/en/master/cluster/launcher.html#ref-automatic-cluster)directs the reader [here](https://docs.ray.io/en/master/package-ref.html) to read more about `ray up` and `ray exec` but these are not documented on this page (currently the `The Ray Command Line API` section is empty).

(Created directly from the docs)

[2020-08-03 17:38] #9662 closed

[2020-08-03 17:55] #9317 closed

[2020-08-03 18:21] rkooo567 opened #9875 "[Core] `test_dead_actors.py` has check failures."
### What is the problem?

[code]

Seems like the root cause is that the GCS was broken with this error.
[code]

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

run `test_dead_acators.py`

- [ ] I have verified my script runs in a clean environment a

[2020-08-03 18:30] #9017 closed

[2020-08-03 18:36] nscotto opened #9876 "[tune][sgd] How to tune using Ax and TFTrainer/TFTrainable"
Hi,

I'd like to tune using a model wrapped inside `TFTrainer`, [the example](https://docs.ray.io/en/latest/raysgd/raysgd_tensorflow.html) in the documentation use `tune.run` and `TFTrainer` but doesn't use any search algorithm, when I try using Ax or other search algorithm I can't access the hyperparameters in the config.
The documentation of `TorchTrainer` says explicitly that `TorchTrainer` has

[2020-08-03 18:44] wuisawesome opened #9877 "[Docs] Some doc strings aren't generating website documentation"
### What is the problem?

Some doc strings aren't generating documentation in the package reference on RTD.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

For example, `ParallelIterator::transform` isn't generated. Its documentation can be found h

[2020-08-03 19:44] #9257 closed

[2020-08-03 21:00] SyedBilalMehdi commented on #9736
You're right. We can consider it two steps that way. However, what I was concerned about was the fact that in the _standard_ hierarchical reinforcement learning example (such as [here](https://docs.ray.io/en/master/rllib-env.html#hierarchical-environments)), the higher level agent isn't called until the episode for the lower level agent has ended.

In my case, since both agents need to be called o

[2020-08-03 21:06] #9874 closed

[2020-08-03 21:44] richardliaw commented on #9877
Looks fine to me - https://docs.ray.io/en/master/iter.html#ray.util.iter.ParallelIterator.transform

[2020-08-03 22:01] wuisawesome commented on #9877
oh nvm, i thought this made it into 0.8.6 but it looks like it might not have.

[2020-08-03 22:02] #9877 closed

[2020-08-03 22:05] richardliaw commented on #9874
@alexcoca should be fixed now!

[2020-08-03 22:38] rohan-gt commented on #9723
Hmm this still requires the ray package to be present on the head node before it can shutdown right? Because when I tried closing the terminal mid pip installation of the ray package it didn't auto shutdown

[2020-08-03 23:11] richardliaw commented on #9723
Great point; yeah, to clarify, this requires Ray to have started on the head-node (so `ray up` and `ray start` needs to have finished).

[2020-08-03 23:27] richardliaw commented on #9876
Hey @nscotto thanks for opening this issue. I think there's a bug with the current implementation, but for now, you can use the following:

[code]

[2020-08-03 23:31] richardliaw commented on #9876
btw @nscotto we're doing some work on the TFTrainer, and it'd be great to make sure that we'll support your use case.

Could we setup a quick 30 minute call in the next week or so to go over your use case and requirements? Please ping me at rliaw @ anyscale.com and we can setup a call!

[2020-08-04 00:18] juliusfrost commented on #9867
Okay never mind it already does this. I have some more questions about how to change the sample sizes, however. I'll ask in a separate issue.

[2020-08-04 00:18] #9867 closed

[2020-08-04 00:40] amogkam commented on #7465
@utke1 were you able to fix this problem? I'm going to close this for now, but feel free to open it again if this is still an issue.

[2020-08-04 00:40] #7465 closed

[2020-08-04 01:33] ericl opened #9886 "[Placement Group] Assign CUDA_VISIBLE_DEVICES properly for placement group GPU resources"
Since placement group GPU resource names are mangled (GPU => `GPU_group_zzz`), we don't set CUDA_VISIBLE_DEVICES properly for these resources.

[2020-08-04 01:51] xlnwel opened #9890 "With 6 workers, Ape-X trains faster than interacting with the environment?"
I run this [project](https://github.com/aicrowd/neurips2020-procgen-starter-kit) using `APEX` from ray, and noticed that the learning step is incredible fast. How does ray achieve that?

All I've done is to replace [this file](https://github.com/AIcrowd/neurips2020-procgen-starter-kit/blob/master/experiments/impala-baseline.yaml) with the following configuration

[code]

Here's a snapshot from ten

[2020-08-04 02:32] cuiguangwu commented on #7330
how to solve the prob?

[2020-08-04 02:41] cuiguangwu commented on #7330
run again!!!

[2020-08-04 02:55] ffbin commented on #9797
@ericl The Java API has added a check to the index.

[2020-08-04 02:59] ffbin commented on #9794
@ericl a bundle disappears-- do you mean node of the bundle is dead?

[2020-08-04 03:03] cuiguangwu commented on #7330
I meet the problem when using more CPUs.

[2020-08-04 03:11] ericl commented on #9794
Yep, I guess the only scenario that should cause this is node failure

[2020-08-04 03:34] buaazhwb opened #9892 "[JAVA] The worker died unexpectedly while executing this task"
### What is your question?
I am using the JAVA api to run the exercise in tutorial.

Here is my code:

package com.example;

import io.ray.api.ActorHandle;
import io.ray.api.Ray;
import io.ray.api.ObjectRef;

public class test {

    public static String sayHello() {
        String ret = "hello";
        System.out.println(ret);
        return ret;
    }

    public static String sayWorld() {

[2020-08-04 03:58] endremborza opened #9893 "run as_future from thread"
### Ray actor remote as_future can not be called from a new thread

I'm building a small scheduler that uses ray actors and queues in different python threads, but I ran into an issue I couldn't really deal with and eventually went a different way. However, I thought I'd share, as it may be relevant. If not, please close the issue.

this is from ray 0.8.6, the latest on pip, python3.7

### MWE

[c

[2020-08-04 04:44] ericl commented on #9797
I think it isn't available in Python though, an invalid index will cause a hang. Should the check be implemented in core worker?

[2020-08-04 05:48] ffbin opened #9895 "[Placement Group] Optimize placement group pack strategy"
### What is the problem?
At present, the pack strategy always selects the first node, which will cause placement group creation failure.
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock d

[2020-08-04 06:33] ericl commented on #9890
Yep this is since replay can proceed asynchronously with respect to environment sampling. If you want to enforce a rate limit at which learning can occur with respect to environment steps samples, there is the training_intensity option which will fix a ratio of train to sampled steps.

[2020-08-04 06:58] yushan111 opened #9899 "[raySGD] input an IterableDataset in validation dataloader cause TypeError"
ray version: 0.8.6
The error of _TypeError: object of type 'MyIterableDataset' has no len()_ occurs on https://github.com/ray-project/ray/blob/releases/0.8.6/python/ray/util/sgd/torch/distributed_torch_runner.py#L156-L157
It can be reproduced by input an IterableDataset as validation data loader.
And I fixed that by changing to
[code]

[2020-08-04 07:36] xlnwel commented on #9890
Hi @ericl. Thanks for answering. But I still feel like I'm misunderstanding something. I manually calculate the training steps per second from the following snapshot

![image](https://user-images.githubusercontent.com/10184153/89263702-4cb18f00-d664-11ea-8230-006ae7afbed6.png)

it's `(1.2*10**7)/(37*60)=5400` training steps per second. While my own implementation of Ape-X using nature CNN on atari

[2020-08-04 07:52] ericl commented on #9890
RLlib measures steps in environment transitions, not batches, so I believe it's 80*64=5120 vs 5400, which is pretty similar.

I'm not surprised training is faster, since it occurs in much larger batches than inference (which is typically just 1 step at a time unless you use vectorized envs).

[2020-08-04 07:55] xlnwel commented on #9890
I see. That makes sense. Thank you. @ericl

[2020-08-04 07:55] #9890 closed

[2020-08-04 08:03] ericl opened #9900 "[rllib] Clean up outdated docs"
Remove:

Replace:

with some mention of "framework": "tf2"

Fix:

Broken link to APPO loss function on main page.

[2020-08-04 08:05] hkvision opened #9901 "[sgd] What's the purpose of LocalRunner in TorchTrainer"
Want to ask what's the purpose of always keeping a runner on the local driver node instead of making all runners actors?
As I go through code, is it because it is easier to get the trained model without pickling from remote nodes? If so, does it mean it is difficult to serialize/deserialize models in ray?

Thanks so much! @richardliaw

[2020-08-04 08:10] richardliaw commented on #9901
We should get rid of this because it causes quite a bit of problems :) The reason was previously for interactive workloads + debugging, but it seems like the costs outweigh benefits.

[2020-08-04 08:18] richardliaw commented on #9899
hmm @yushan111 can you push a fix?

[2020-08-04 08:20] yushan111 commented on #9899
Sure

[2020-08-04 08:45] hkvision commented on #9901
So you mean you are going to remove local runner and all use actors in the future?
Then in this case if I want to get the trained model, I need to choose one remote worker and get the model to driver? In the current TorchRunner, seems there is no get_model method, models is just a property of the runner. How to retrieve the attributes of actors in Ray actually?

[2020-08-04 09:51] raphaelavalos commented on #9736
Whether you want to set done to true for the lower agent depends on your rl algorithm as the agent's done is used for creating the agent's episode.

In a MultiAgentEnv the observation determines which agent need to act at the next time step and not the done flag. As RLlib considers hierarchical RL a multi-agent problem I would recommend to read the documentation on multiagent [here](https://docs.r

[2020-08-04 11:04] ManuelZierl opened #9904 "CustomLoss produces ValueError("No variables provided.") when using only loss_inputs"
By writing a CustomLoss I get an `ValueError("No variables provided.")`.

I wanted to write my own loss model, but it seems that I cannot use the tensors given to the `custom_loss` function via the `loss_inputs` parameter. Let me show you a very simple example

[code]

This custom loss adds an second loss term to the policy loss that is  the reduced mean of the observation (not really useful but j

[2020-08-04 12:21] ffbin commented on #9797
Sounds good, we can cache `PlacementGroupCreationOptions` in core worker and check bundle index when create actor or task.

[2020-08-04 12:29] ffbin opened #9906 "[Placement Group] Support reschedule placement group when a new node is added"
### Describe your feature request

[2020-08-04 14:13] icaropires commented on #8648
Thank you @bbtfr !!! It solves my problem too

[2020-08-04 14:17] ChuaCheowHuan commented on #9872
After more testing, `method 2` also works.

![Screen Shot 2020-08-04 at 4 08 31 PM](https://user-images.githubusercontent.com/17569306/89304375-f2362400-d69f-11ea-911a-1f677915e18c.png)

[2020-08-04 14:17] #9872 closed

[2020-08-04 14:20] icaropires commented on #8660
@rkooo567 The problem is the indicated at #8648 ! The `GcsServerAddress` is being set to localhost in head node, inside or outside the container. I've had success with the following steps:
1. ray start the head node
2. connect to redis using redis-cli and set  `GcsServerAddress` to `<my_ip:<same port as before>`
3. ray start other nodes

**ray version:** 0.8.6

I don't know the reason this is happ

[2020-08-04 14:49] sven1977 commented on #8600
Got you. Yes, setting preprocessing to off shouldn't even do one-hot'ing anymore. I'll take a look.

[2020-08-04 15:17] rkooo567 commented on #8660
Would you mind checking what was GCSServerAddress in Redis before you manually set?

[2020-08-04 15:59] icaropires commented on #8660
@rkooo567 No problem! It's `127.0.0.1`:

_output from `cat /tmp/ray/session_latest/logs/gcs_server.out`:_

[code]
_output from redis-cli_:
[code]

[2020-08-04 16:43] simon-mo opened #9911 "[Serve] Failure from Stress Test"
### What is the problem?

@rkooo567 ran the high stress serve failure test and the test failed in about an hour. The last iteration has the following traceback:
[code]

My suspicion is that there are some section of the code in controller that doesn't deal with crashes well.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please pr

[2020-08-04 19:21] #3655 closed

[2020-08-04 19:23] #5481 closed

[2020-08-04 19:25] #7356 closed

[2020-08-04 19:29] #5587 closed

[2020-08-04 19:30] richardliaw commented on #5418
Looks like this is fixed.

[2020-08-04 19:30] #5418 closed

[2020-08-04 20:09] juliusfrost commented on #9206
Hi, I am also interested in this request and am able to help with implementation. Would love to see progress on this!

[2020-08-04 20:11] richardliaw commented on #9899
Great - please ping me when you do! thank you!

[2020-08-04 20:14] ilonadem opened #9918 "[dashboard] blank dashboard on RHEL7 Machine"
### I am working on a RHEL7.1 server and my ray dashboard is blank. The machine view section says "loading..." and "TypeError: Object entries is not a function". Logical view also says "loading...", memory says "No Memory Table Information Provided" and Ray Config tab says "No Ray configuration detected"

*Ray 0.8.6, python 3.7.0, RHEL7.1:*

## I have been running:
``` ray start --head```
### and

[2020-08-04 20:29] ilonadem commented on #9918
When I do "ray stack" I get: "Error: Failed to find python version from target process"

[2020-08-04 21:23] ericl opened #9919 "[Placement Group] Ray Tune + distributed training support"
tl;dr - colocation for gpu workers in distributed training is important.

## Goals
Allow users to easily colocate workers for distributed tuning/training.

## Explicit non-goals
No need to support odd worker configurations or custom placement strategies.

## Proposed API
[code]
## Implementation notes:

Ideally we use the new placement group API to implement colocation.
[code]

Some caveats:
* No

[2020-08-04 21:25] richardliaw commented on #9919
https://github.com/ray-project/ray/issues/9799 duplicate?

[2020-08-04 21:32] ericl commented on #9919
Ah, this is the experimental integration which can be done earlier. Though we can dedup

[2020-08-04 23:23] rkooo567 opened #9921 "Long running test `pbt.py` seems to OOM after running for a day."
### What is the problem?

Long running test `pbt.py` seems to OOM after running for a day.

![image](https://user-images.githubusercontent.com/18510752/89354845-ca7a9800-d66e-11ea-9b9b-6f3b6656553b.png)

You can see some of workers use lots of memory (5GB).

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library depe