[2022-11-08 21:05] xwjiang2010 commented on #30082
@bveeramani Can you triage the issue as well? (by removing the triage label and adding a priority label) Thanks!

[2022-11-08 21:07] xwjiang2010 commented on #30091
Could you elaborate why you want to launch multiple tune runs concurrently in one ray cluster?

[2022-11-08 21:20] xwjiang2010 commented on #30070
Thanks Kai for posting the summary.

I think long term we should converge to option 4. It offers the most clear semantics and can also cover dict case reasonably well (if you are ok with a `write_dict_to_dir` utility function). #4 also means that we would change the way framework specific checkpoint is gonna look like (for better). Instead of something like:
[code]
, which is not clear about direc

[2022-11-08 21:56] jjyao commented on #30094
@hellofinch Thanks for willing to contribute! I can talk about the high level code that does the Ray object transfer:

On the data receiver side: we have [pull_manager.cc](https://github.com/ray-project/ray/blob/e707ce4fb3717e3c05118c57f503dfbd03552ca9/src/ray/object_manager/pull_manager.cc) that sends the object pull request to the sender side to initiate the data transfer.

On the data sender si

[2022-11-08 22:04] bveeramani commented on #30082
@xwjiang2010 done!

[2022-11-08 22:14] xwjiang2010 opened #30108 "[Datasets] [Release] remove `datasets_preprocess_ingest`"
### What happened + What you expected to happen

cc @c21
As discussed in oncall handoff, I think the data team wanted to go ahead and remove this test.

### Versions / Dependencies

master

### Reproduction script

NA

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-08 22:17] c21 commented on #30108
@xwjiang2010 - yeah, will remove this nightly test.

[2022-11-08 22:19] wuisawesome commented on #24310
I suspect the issue here is related to explainability of the aws node provider's actions. When a request fails, it implicitly falls back to other AZs, then only reports the last error, which makes it seem like it only tries a single AZ.

@iirekm @mdagost if either of you are still running into this issue, could you try to check if spot instances are actually available in the other AZs? I suspect t

[2022-11-08 23:06] #30105 closed

[2022-11-08 23:43] architkulkarni commented on #29621
@ericl I likely won't have time to finish this before Ray 2.2 because I need to prioritize Jobs GA, is that okay or are there other 2.2 features that depend on this?  Because it's an internal enhancement that doesn't affect the user-facing API, I think it can be done after Jobs GA.

[2022-11-09 00:00] iycheng opened #30113 "[core] Scale beyond 2k"
There are some issues blocking us from going beyond 2k nodes.

- Too many nodes got registered together which makes GCS hangs due to unknown reason
- Worker start too slow (60k started together
- ...

[2022-11-09 00:27] architkulkarni commented on #29621
Discussed offline, this remains P1 but will likely be fixed after the Ray 2.2 branch cut.

[2022-11-09 00:28] hora-anyscale commented on #29621
If there is alignment on the above, move to the "Ray 2.3" label?

[2022-11-09 00:30] clarng opened #30114 "[core] osx://python/ray/tests:test_dashboard_profiler failing"
### What happened + What you expected to happen

osx://python/ray/tests:test_dashboard_profiler doesn't pass ci

<img width="1688" alt="Screen Shot 2022-11-08 at 4 28 54 PM" src="https://user-images.githubusercontent.com/22830327/200706284-2e390a29-5276-4fe2-8a2b-7e5c0bca65b7.png">

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-09 00:31] clarng commented on #30114
looks like introduced in https://github.com/ray-project/ray/pull/30011/files#diff-45d3d5445de983b672b3b6ce3f72bae83b5e47cf9bf06a95cb76a2ad871b3538

[2022-11-09 01:06] iycheng commented on #30113
Try to mitigate this problem: https://github.com/ray-project/ray/pull/30112

[2022-11-09 01:07] clarng opened #30117 "[CI] `:release://single_node_oom` is failing/flaky on master."
....
Generated from flaky test tracker. Please do not edit the signature in this section.
DataCaseName-:release://single_node_oom-END
....

[2022-11-09 01:08] clarng commented on #30117
11/8 https://buildkite.com/ray-project/release-tests-branch/builds/1188#0184594c-76dc-4789-a846-162faa9b2c13

11/7 https://buildkite.com/ray-project/release-tests-branch/builds/1187#01845428-b695-4e57-bc4c-7622c86fb990

[2022-11-09 01:12] clarng commented on #30117
looks like oom killer is not enabled by default

[2022-11-08 17:10:43,775 I 235 235] (raylet) memory_monitor.cc:69: MemoryMonitor disabled. Specify `memory_monitor_interval_ms` > 0 to enable the monitor.

[2022-11-09 01:27] ericl opened #30119 "[Datasets] local:// URI doesn't work for parquet datasource due to sampling"
When I tried to `ray.data.read_parquet("local://path/to/parquet")` files in a multi-node cluster, the data sample tasks seemed to fail since they weren't pinned to the head node.

[code]

Presumably this would apply to reading `example://` URIs as well, though I haven't tried that yet.

PR that added the local:// URI: https://github.com/ray-project/ray/pull/29565

[2022-11-09 02:39] justinvyu commented on #29255
Hi @yinweisu,

We're looking to add these utilities to the `TuneConfig`, but I wanted to ask if there were any additional functionality/improvements you would want from this API? Is it possible to share some more details about your use case?

In particular, is it useful to have the flexibility of constructing the name/dirname from the entire `Trial` object, or would it be clearer to only expose ce

[2022-11-09 02:52] justinvyu commented on #29786
Ah, that comment in the PR was a bit confusing, it was talking about fixing a general PBT logging issue for nested search spaces.

Tracking the nested PB2 `hyperparam_bounds` issue here: https://github.com/ray-project/ray/issues/30124

[2022-11-09 03:44] bveeramani commented on #29845
I've opened a PR to fix the `remote_checkpoint_dir` issue: https://github.com/ray-project/ray/pull/30125.

I don't think we can elegantly handle the "=" issue on our end. I suspect Arrow doesn't URL-encode special characters like "=", and that causes issues for OVH. I checked and it's not a problem for AWS. In any case, I've filed an issue with Arrow: https://issues.apache.org/jira/browse/ARROW-18

[2022-11-09 03:45] matthewdeng commented on #30070
I actually prefer Option 1 over Option 2, and am strongly against Option 4.

General thoughts:
1. There should only be one way to report metrics.
    i. This alone feels like enough of a reason to me to not introduce Option 4.
2. The action of checkpointing should save a snapshot of data at that exact point in time.
    i. This makes me hesitant about Option 2, as I'm not sure what value it implic

[2022-11-09 04:03] bveeramani commented on #27129
Closing this issue per @richardliaw's suggestion

[2022-11-09 04:03] #27129 closed

[2022-11-09 04:45] h-vetinari commented on #21479
I see this happening in https://github.com/conda-forge/ray-packages-feedstock/pull/78 on linux when calling `python -c 'import ray; ray.init()'`. This is obviously running on a local filesystem. The image is `ubuntu-latest`. I haven't run that PR yet many times, but it looks reproducible - I'm happy to test patches on the feedstock to see if they resolve the issue.

More context:

<details>

[code

[2022-11-09 05:12] cadedaniel commented on #29576
Looks like this is actually expected behavior. I put together a doc explaining why this is and a proposal on how to improve the user experience: [[public] Coredumps appearing to cause hangs in Ray](https://docs.google.com/document/d/1_FRz7lm0F4JrzaIjOCBCxE_P7pkjoXYHzFhRDPE8JjM/edit#)

### Tl;DR
Calling `os.abort()` inside a Ray actor on a large instance looks like it causes a hang. However, it act

[2022-11-09 05:16] scottsun94 commented on #26039
cc: @edoakes

[2022-11-09 05:24] scottsun94 commented on #29790
Related to this one reported by @galenhwang : https://github.com/ray-project/ray/issues/29928

[2022-11-09 06:04] krfricke opened #30129 "[tune] Environment variables are lost/not updated on actor re-use"
### What happened + What you expected to happen

#29258 introduced a test to see that `TUNE_ORIG_WORKING_DIR` refers to tune's original working dir.

However, it seems the test is actually failing (but still shows up as passing in CI).

Without a runtime environment, trials 1 and 3 fail with this error:

[code]

This is likely due to actor reuse - trial 1 re-uses trial 0s actor, and trial 3 reuses

[2022-11-09 06:19] meshalawy opened #30130 "Issue on page /serve/getting_started.html object_refs' must either be an ObjectRef or a list of ObjectRefs."
Running the example 'graph.py' from this [page](https://docs.ray.io/en/latest/serve/getting_started.html) gives the following error:

Task Error. Traceback: ray::ServeReplica:Summarizer.handle_request() (pid=31786, ip=128.101.33.109)
  File "/export/scratch/mmusleh/.conda/envs/work/lib/python3.8/site-packages/ray/serve/_private/utils.py", line 238, in wrap_to_ray_error
    raise exception
  File "

[2022-11-09 06:44] mattip commented on #29323
I am a bit confused by this: I thought somewhere along the line redis was no longer required for ray? See for instance ray-project/ray#29372

[2022-11-09 06:52] mattip commented on #29323
Couldn't the entire redis bazel build be removed and another method used to install a vanilla upstream version?

[2022-11-09 07:14] jbedorf commented on #30091
Due to infrastructure reasons we have a single large Ray cluster used for multiple different tasks and by different users. This works mostly fine, except for the above described situation.

[2022-11-09 09:21] MattiasDC opened #30136 "[RLlib] PolicyClient does not reuse http sessions"
### Description

In `PolicyClient._send(self, data)` a post request is made using 'requests.post'. This is suboptimal and slow. Reusing connections by using a session prevents handshaking on every request.

In the constructor of `PolicyClient `a `requests.Session` object could be made that is then used in the `_send` method to perform all post requests.

### Use case

Improve performance and resou

[2022-11-09 09:36] MattiasDC opened #30137 "[RLlib] PolicyServerInput http handler floods output"
### What happened + What you expected to happen

`PolicyServerInput` creates in its `_make_handler` method a http request handler. This handler is a [`SimpleHTTPRequestHandler`](https://docs.python.org/3/library/http.server.html#http.server.SimpleHTTPRequestHandler) and thus haves a [`log_message`](https://docs.python.org/3/library/http.server.html#http.server.BaseHTTPRequestHandler.log_message) m

[2022-11-09 09:49] mjshare opened #30138 "[ray core] Support GPU to GPU Communication Between Actors/Task"
### Description

Problem description:
Currently, ray object stores are used for communication between ray actors. When GPUs are used, GPU passthrough is not supported. As a result, the data transmission delay is long and the PICE bandwidth becomes a bottleneck.
Expectations:
1. Ray Actors/Tasks can support GPU passthrough when running GPU tasks. I know that the ray community is working on this pro

[2022-11-09 10:01] Dhul-Husni commented on #29698
+1

[2022-11-09 10:06] MattiasDC opened #30139 "[RLlib] PolicyServerInput memory leak"
### What happened + What you expected to happen

`PolicyServerInput `keeps on storing samples in its `samples_queue`, no matter what the rate of sample generation is. If samples come in quicker than they are consumed, this leads to an ever-increasing memory usage. No warnings or anything were reported in the process of increasing memory. I had to debug why memory was ever-increasing and debugging

[2022-11-09 12:18] Limess opened #30140 "[Serve] Dependency issues with Poetry around starlette/fastapi"
### What happened + What you expected to happen

Currently ray serve breaks out the box when installed by Poetry.

This is because Poetry installs a very old version of fastapi (0.1.17).

1. Ray selects `*` for both starlette and fastapi
2. Poetry selects the latest version of starlette (0.21.0).
3. Poetry selects the latest compatible version of fastapi. All modern versions are pinned to a specif

[2022-11-09 13:39] jovany-wang commented on #30138
I still don't know what's the best way we transmit data between GPUs, implementing in object store or building on the top of ray core.

Also CC @jiaodong for more details.

[2022-11-09 16:32] spacegoing opened #30143 "[RLlib] (PPO) algo parameter "lambda_" never gets passed because `AlgorithmConfig` refractored "lambda_" to "lambda""
### What happened + What you expected to happen

<img width="808" alt="Screen Shot 2022-11-10 at 00 26 12" src="https://user-images.githubusercontent.com/5180020/200885354-0ad06549-97f3-40f1-96a1-9f2ab860f7ca.png">

I am not sure if this is a bug or my workflow is wrong. I currently initialized a PPOConfig object. PPO only accepts `lambda_` not `lambda`, but it never assigns `lambda_` to `self.lam

[2022-11-09 16:45] spacegoing opened #30144 "[tune] `CLIReporter` cannot parse customized metrics specified from TuneConfig as `metric` correctly in `sort_by_metric`"
### What happened + What you expected to happen

Lets say I assign a customized metric to `TuneConfig` and customized a CLIReporter while setting `sort_by_metric=True`

[code]

The problem is that in `progress_reporter.py`, there are code snippets do not always use `unflattened_lookup()` and results in `key not found error`

<img width="888" alt="Screen Shot 2022-11-10 at 00 43 07" src="https://us

[2022-11-09 17:13] mgerstgrasser opened #30147 "[RLlib] ParameterNoise postprocessing overwrites actions in sample batch to non-noisy actions"
### What happened + What you expected to happen

The ParameterNoise postprocessing method right now (inadvertently) overwrites all the actions in the sample batch with the non-noisy actions. I.e. if the original policy would have taken action 0, but because of the parameter noise we took action 1 and got reward 10 etc, the postprocessing will change the sample batch from `action 1, reward 10, etc`

[2022-11-09 17:20] yinweisu commented on #29255
For my use case, the ability to control trial name and trial dirname is enough. Hoewver, as a developer, I would always want more api exposed. Guess it's your choice on what's easier to maintain

[2022-11-09 17:50] rickyyx commented on #29790
We could close this - it's the same issue

[2022-11-09 17:50] #29790 closed

[2022-11-09 17:51] gjoliver commented on #30070
can I ask why is it a requirement that we need to have equal number of metrics and checkpoints?
I would like this modified version of proposal 2 a lot more:
[code]

[2022-11-09 17:51] krfricke commented on #30070
There has been some follow-up discussion offline about this.

For now we are not considering 4, though we may revisit this in the future, pending other discussions about the Checkpoint API.

Option 1 and 2 are identical in terms of reporting checkpoints and metrics. The only difference is that in 1) users create the checkpoint dir and 2) Ray AIR creates the checkpoint dir.

### User creating the c

[2022-11-09 18:04] cadedaniel commented on #29576
@amogkam I think you can merge your PR https://github.com/ray-project/ray/pull/29562 since it's expected behavior. I'll create a PR soon that will prevent the object store from getting written in the coredump, which will improve the user experience when Torch detects NCCL hangs on Ray.

[2022-11-09 18:10] #30038 closed

[2022-11-09 18:13] ArturNiederfahrenhorst commented on #30147
Hey @mgerstgrasser great catch! Looks reasonable to me. Can you come up with a small repro script? Ideally something that we can turn into a unit test? Thanks anyways 👍

[2022-11-09 18:23] #30114 closed

[2022-11-09 18:47] #29136 closed

[2022-11-09 18:51] clarng opened #30149 "[CI] `osx://python/ray/tests:test_reference_counting_2` is failing/flaky on master."
- 5e61fb51400bc712449e85a7476fa4fca80f3b41 FAILED [Buildkite :mac: :apple: Large](https://buildkite.com/ray-project/oss-ci-build-branch/builds/984#01845a95-df60-4fae-a5b7-f836a7be0302)
- b5871ac5eef8c4708284902e5f07189c59a55ac6 FAILED [Buildkite :mac: :apple: Large](https://buildkite.com/ray-project/oss-ci-build-branch/builds/976#018458b6-6007-4db7-bba5-248359f90796)
- 517d8fe9eefdae8125c83da3a292

[2022-11-09 18:59] krfricke commented on #30070
There is no requirement for this, having a different number of checkpoints is a common use case. All discussed options here should support this.

[2022-11-09 19:21] mgerstgrasser commented on #30147
@ArturNiederfahrenhorst  I'd need a little bit of time to extricate this out of a much larger project, but yes, I could come up with a repro script where due to the bug a SimpleQ algorithm will fail to learn on a very simple two-armed bandit. More of a integration test though, not sure how I would unit test just the exploration class. Also, for that bandit setting, a few different things have to c

[2022-11-09 19:49] #29845 closed

[2022-11-09 19:51] architkulkarni opened #30152 "[Dashboard] [Jobs] `dashboard.py` memory growth when submitting many jobs"
### What happened + What you expected to happen

When running a basic script that submits 4 `echo "hello world"` jobs every 4 seconds, we observe memory growth of 0.5GB per hour.

<img width="1357" alt="Screen Shot 2022-11-09 at 11 46 32 AM" src="https://user-images.githubusercontent.com/5459654/200926612-a5be586b-83b5-4a3f-b8d9-8df9f31a8457.png">

Taken from running the long_running_many_jobs tes

[2022-11-09 20:02] clarng commented on #30149
seems like test_object_unpin is failing

[2022-11-09 20:03] spacegoing commented on #29245
@krfricke Hi Kai, many thanks for your reply.

I tried re-setting `num_samples = 100000`, yet still only 32 trials are running while my machine has 64 cores. Any idea which parameter should I change (num_workers etc)?

[2022-11-09 20:32] Yard1 opened #30153 "[AIR/Docs] Mention/warn that running a Trainer inside a custom Tune trainable is an anti-pattern"
### Description

If we run a Trainer inside a custom Tune trainable function, this will cause a nested Tune run and resource contention, leading to various issues. We should guard against that by explaining it in documentation and potentially raising a warning in the code.

### Use case

_No response_

[2022-11-09 20:32] tbukic commented on #29845
Great! Thank you, @bveeramani !

[2022-11-09 21:07] Kyrish commented on #21868
I got precisely the same issue. "remote" decorator doesn't work with a "@classmethod".

[2022-11-09 21:07] #28618 closed

[2022-11-09 21:12] iycheng commented on #30086
https://github.com/ray-project/ray/pull/30131

[2022-11-09 21:12] iycheng commented on #30086
https://github.com/ray-project/ray/pull/30112

[2022-11-09 21:59] DmitriGekhtman commented on #30092
Multi-node Ray clusters with Windows nodes are not yet officially supported.

[2022-11-09 21:59] #30092 closed

[2022-11-09 22:25] jianoaix opened #30157 "[AIR][Tune] Provide user guide on how to build active learning on AIR"
We have users building active learning in the following pattern:
- Create 3 datasets: train_ds, eval_ds, active_pool_ds
- Train a base model with <train_ds, eval_ds>
  - Load a pretained model (e.g. HuggingFace transformer)
  - Train it with <train_ds, eval_ds>
  - Save the trained model
- Run N trials:
  -  Create a trial_train_ds by sampling active_pool_ds
  - Train a model from base model, with

[2022-11-09 22:45] marianogabitto commented on #30012
This is still open. If anyone from the ray team tells me how to proceed. I can help troubleshoot.

[2022-11-09 23:05] jianoaix opened #30158 "[Tune] Document the parameter passing and connection from param_space to trainable"
This is recording a user feedback where the user felt unclear:
- What can be put in param_space
- How the param_space is connected to trainable
- How to pass args that are not part of the Trainer's constructor args

cc @xwjiang2010

[2022-11-09 23:41] #29815 closed

[2022-11-09 23:41] #29816 closed

[2022-11-09 23:41] #29994 closed

[2022-11-09 23:41] #29996 closed

[2022-11-09 23:41] cadedaniel opened #30161 "[Core] Ray 2.1 regression with non-integer resource requests"
This runs fine on Ray 2.0.1 but throws an exception on Ray 2.1.

[code]

Logs:
[code]

[2022-11-09 23:41] #29997 closed

[2022-11-09 23:41] #29998 closed

[2022-11-09 23:41] clarkzinzow commented on #29822
Implemented in https://github.com/ray-project/ray/pull/29999

[2022-11-09 23:41] #29822 closed

[2022-11-09 23:42] cadedaniel commented on #30161
I'm afraid this is an unintentional breaking change, meaning we need a hotfix. Thoughts? cc @rickyyx @jjyao

[2022-11-09 23:44] davzaman commented on #8838
Also experiencing the same issue on ray 2.1.0.

[2022-11-09 23:47] clarng commented on #30161
It is because of this PR
https://github.com/clarng/ray/commit/d8dc04c3aa759c9d4d0d1e99b011b9a64cea2166#diff-b2a30c8a16cd3f6c317e6ef2ab25b67a23822f048f56535da2cb7d58713c0a98
but the round up logic is also weird on its own, and float numbers don’t really do the right thing anyway. Are we sure we should revert back to the old round up behavior and not just ask the user to fix their code?

[2022-11-10 02:23] mahuangxu opened #30164 "[RLlib] RuntimeError: invalid multinomial distribution (sum of probabilities <= 0)"
### What happened + What you expected to happen

**Hi, when I ran my env driven by DQN with an action mask, I met this issue after random rounds of iteration. How could I repair it?**

File "/home/mhx/anaconda3/envs/RLlib/lib/python3.8/site-packages/ray/tune/trainable/trainable.py", line 347, in train
    result = self.step()
  File "/home/mhx/anaconda3/envs/RLlib/lib/python3.8/site-packages/ray/r

[2022-11-10 03:30] jjyao commented on #30161
Is there any valid case where users want to specify fraction number >1.

[2022-11-10 03:48] pcmoritz commented on #30161
There probably isn't, but this used to work so it is a regression. Since there is no cost to keep supporting it, I think we should do it. We should not break compatibility unless there is a really good reason, especially for core APIs.

[2022-11-10 03:52] pcmoritz commented on #30161
Also supporting both int and float for these kinds of things is quite common in Python, see e.g. `time.sleep` or timeouts in general.

[2022-11-10 03:59] #30086 closed

[2022-11-10 06:09] clarng commented on #30161
So for the documented API we have

num_cpus: Union[int, float] = 'Undefined',
num_gpus: Union[int, float] = 'Undefined',
resources: Dict[str, float] = 'Undefined',

num_cpus – The quantity of CPU cores to reserve for this task or for the lifetime of the actor.
num_gpus – The quantity of GPUs to reserve for this task or for the lifetime of the actor.
resources (Dict[str, float]) – The quantity of v

[2022-11-10 06:42] Tonyhao96 opened #30168 "[Air|Train] `TorchTrainer` cannot train ImageNet model because label becomes zero"
### What happened + What you expected to happen

I follow the Ray Train example in [torch_fashion_mnist_example](https://github.com/ray-project/ray/blob/master/python/ray/train/examples/pytorch/torch_fashion_mnist_example.py). It works well on MNIST and CIFAR-10 datasets with multiple GPUs. (Model ResNet-18)

But when I use the ImageNet dataset also using ResNet-18, the accuracy always keeps zero.

[2022-11-10 09:33] pcmoritz commented on #30161
The regression is only for memory, right (where the quantity is indivisible bytes and rounding makes sense)? The other resources have well-defined behavior for fractional values and there should be no regression there.

[2022-11-10 09:35] pcmoritz commented on #30161
Fractional CPUs and GPUs should be working as they used to / are supposed to.

[2022-11-10 09:37] v4if opened #30171 "[Ray Cluster]How to persist the state of ray cluster"
I have deployed some services on the ray cluster. When there is a problem with the cluster and need to restart the cluster, how to restore some of the previously deployed services?
is there any suggestions?

[2022-11-10 11:41] rkooo567 commented on #30005
Actually, I had some additional research here.

1. We should allow users to specify the handler. Right now, we only allow formatted / logger and all logs are force streamed to the stderr (StreamHandler).
2. From ^, the user should be able to stream ray logs to their root logger. Maybe logging_handler = None can do this.

After some research, this may not be the best idea. The reason is the logging

[2022-11-10 12:40] sa1g opened #30173 "Using custom policy"
Hi there,
I'm working on a custom policy (only numpy) so I don't need the support of TF nor Pytorch. So I'm extending `Policy`'s class.
How can I use this policy now? Do I need to implement it in an algorithm?

[unnecessary] more infos,
I'm trying to use [multiple](https://github.com/ray-project/ray/blob/master/rllib/examples/multi_agent_two_trainers.py) algos (PPO + DecisionTrees(with Q-Learning)

[2022-11-10 12:44] MattiasDC opened #30174 "[RLlib] PolicyClient _LocalInferenceThread reports exceptions as info"
### What happened + What you expected to happen

While experimenting the `_LocalInferenceThread` died because of an error in my code. This was however not clear as the exception was not logged because my log_level was `warning`. It's strange and unexpected that an exception flow does not result in at least a `warning`.

I would expect that `_LocalInferenceThread.run` would change the following lin

[2022-11-10 13:45] clarng commented on #30161
Yes I confirmed the behavior for non-memory, thanks for correcting! I couldn't verify the behavior where we round down memory request from task, here is my repro script:

[code]

If i run this on 2.0.1 I see the round up behavior:

[code]

If i look at the original [complaint](https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1668029866173439) it seems the user is converting their memory req

[2022-11-10 13:56] oscartackstrom commented on #11966
Same issue for me with ray 2.0.0. When calling `ray.init()` in a jupyter notebook from vscode. Sometimes, I instead get an error like `Attempting to cap object store memory usage at 58042368 bytes, but the minimum allowed is 78643200 bytes.`

[2022-11-10 14:17] dcarrion87 commented on #13270
We are also running into this issue. @DmitriGekhtman  Is it possible to clarify the use of RAY_OVERRIDE_RESOURCES to avoid any form of scheduling on the head node?

[2022-11-10 14:57] DmitriGekhtman commented on #13270
@dcarrion87 how are you deploying Ray? (The configuration looks a bit different on K8s vs with VMs.)

[2022-11-10 14:58] dcarrion87 commented on #13270
Sorry I managed to work this out by specifying this in the helm chart env values:

[code]

[2022-11-10 15:08] DmitriGekhtman commented on #13270
I guess that works, though RAY_OVERRIDE_RESOURCES was intended as a private interface for the autoscaler.

For historical reasons, the recommended way to override cpus when using KubeRay is to set rayStartParams.num_cpus, as described here: https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/config.html#num-cpus
If that doesn't work, it's a bug.

[2022-11-10 15:12] dcarrion87 commented on #13270
I'm guessing it must be a bug. I was specifying num-cpus and num-gpus as override and could see it in the pod command but not honouring. I.e. this not working in helm value overrides:

[code]

Wasn't until I overrided the entire envvar on the head container that things started working.

[2022-11-10 15:30] DmitriGekhtman commented on #13270
Are you using the Helm chart pulled from KubeRay master or from the 0.3.0 release branch?
cc @kevin85421 to follow up on this

[2022-11-10 15:32] DmitriGekhtman commented on #13270
A separate [KubeRay issue](https://github.com/ray-project/kuberay/issues/new?assignees=&labels=bug%2Ctriage&template=bug-report.yml&title=%5BBug%5D+) with details would be great!

[2022-11-10 15:48] asaacke commented on #29456
Hello, I'm a senior CS undergraduate student and am looking to contribute to sharpen my skills and benefit the project. Could I be assigned to work on this task? Timeline would be working on this over the next month.

[2022-11-10 15:50] DmitriGekhtman commented on #28029
This is done.

[2022-11-10 15:50] #28029 closed

[2022-11-10 15:50] DmitriGekhtman commented on #29085
The plan is actually to delete the legacy operator in Ray 2.2.0

[2022-11-10 15:50] #29085 closed

[2022-11-10 15:51] richardliaw commented on #29456
sure, go ahead and take it on! though keep in mind we may reassign this if
there is no progress in 2 weeks :)

On Thu, Nov 10, 2022 at 7:49 AM asaacke ***@***.***> wrote:

[2022-11-10 15:52] DmitriGekhtman commented on #26736
We're dropping support for legacy Ray operator in the near future. Use KubeRay instead.

[2022-11-10 15:52] #26736 closed

[2022-11-10 15:53] #16748 closed

[2022-11-10 15:54] DmitriGekhtman commented on #16679
I am guessing that Ray pdb does not work on KubeRay either, will open an issue on that end to help track.

[2022-11-10 15:57] DmitriGekhtman commented on #16679
https://github.com/ray-project/kuberay/issues/710

[2022-11-10 15:58] DmitriGekhtman commented on #21615
We're dropping support for the legacy Ray Operator. Use KubeRay instead.

[2022-11-10 15:58] #21615 closed

[2022-11-10 16:13] bdewilde opened #30178 "[Data] Unable to transform dataset using `sklearn` estimator"
### What happened + What you expected to happen

I'm trying to implement a custom `Preprocessor` that leverages a `scikit-learn` estimator under the hood for fitting and transforming data. Calling `MyPreprocessor.fit(train_ds)` works as expected, while `MyPreprocessor.transform(test_ds)` fails with an error suggesting that the data is the wrong shape/dtype. I would expect it not to fail.

Train/te

[2022-11-10 17:29] #29863 closed

[2022-11-10 17:41] GuillaumeDesforges opened #30182 "[Dashboard]"
### Description

To my knowledge, there is no way to interupt a job, neither from the dashboard REST API nor the dashboard UI.

It would be helpful to have
- an endpoint in the dashboard API to kill a job
- a button in the "Jobs" tab in the dashboard UI to kill a job.

### Use case

A long-running job has been updated and needs to be restarted, so I stop the running job and re-submit with newer co

[2022-11-10 18:06] richardliaw commented on #30178
@c21 @xwjiang2010 could you help out here?

[2022-11-10 18:10] richardliaw commented on #30005
Also cc @scottsun94

[2022-11-10 19:24] #30069 closed

[2022-11-10 19:31] RockStone commented on #27881
hoping

[2022-11-10 19:38] c21 commented on #30178
Looks like a Datasets bug, still debugging.

[2022-11-10 21:55] scv119 commented on #30161
+1 for support float, looks the support is minimal
+1 for not doing round up if it's only 1 byte of difference.

[2022-11-10 21:57] scv119 commented on #30161
(also let's add some tests to ensure we catch future regressions)

[2022-11-10 22:36] scv119 opened #30189 "[Core] improve error message on calling a dead actor"
### What happened + What you expected to happen

Today, when you call an actor method which belongs to a dead cluster yield following error message.
There is an opportunity to improve the error message.

[code]

### Versions / Dependencies

latest

### Reproduction script

N/A

### Issue Severity

Low: It annoys or frustrates me.

[2022-11-10 22:56] #29944 closed

[2022-11-10 23:16] michaelfeil opened #30191 "[RLLIB][Torch] numerically unstable + mkl issue in torch.sqrt normc_initializer"
### What happened + What you expected to happen

This concerns the lines of code:

https://github.com/ray-project/ray/blob/a4434fac7f63b559e2fc5d763a505160dbae3558/rllib/models/torch/misc.py#L13-L19

The issue with this line of code is:

1. in case of a small tensor, divide by 0 may happen
2. torch.sqrt() is rareley used and cases a mkl compute issue with the current configuration.
The mkl issue i

[2022-11-10 23:21] matthewdeng commented on #30058
For Ray AIR, this proposal is desirable. Though we have the serialization hook for Tune parameter space, this currently doesn't cover the case where the `Dataset` is directly serialized as part of the `Trainer`. Though I'm not sure how generalizable this is for _all_ Datasets.

@clarkzinzow @c21 would this fit into the Datasets execution refactor?

[2022-11-10 23:36] jianoaix commented on #30119
This has two other issues to fix as well:
- `parallelism` which is detected based on available resource in cluster, may not fit well when it's local mode
- The metadata fetch is using SPREAD, which may also need to be fixed

[2022-11-10 23:44] ericl commented on #30119
Parallelism detection should still be correct here, since it impacts downstream stages from the read stage. If we detected parallelism based on the local node that would force all stages to be under parallelized instead of just the read.

[2022-11-11 00:48] stephanie-wang opened #30192 "[core] Access ObjectRefs created by a dynamic generator before the task is complete"
### Description

Currently dynamic generators do not return any ObjectRefs until the task is entirely done, which may be an issue if other tasks want to use partial results before the task is complete. We could support this in Ray core by passing back some ObjectRefs from the generator task to the driver while the task is still executing. Alternatively, one could achieve similar behavior by splitt

[2022-11-11 01:02] xwjiang2010 opened #30193 "[ml-release] xgboost/lightgbm tune_xxx tests are failing"
### What happened + What you expected to happen

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_NxGHUuhGA1VWWJgCjTtkvaxV?command-history-section=command_history

### Versions / Dependencies

master

### Reproduction script

NA

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-11 01:17] xwjiang2010 opened #30195 "[air] clarify the scope of using session"
### What happened + What you expected to happen

Users are not clear when `session.report` can be used:
https://discuss.ray.io/t/when-is-session-report-callable/8225

### Versions / Dependencies

master

### Reproduction script

NA

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-11 01:22] xwjiang2010 commented on #30195
yet another example:
https://discuss.ray.io/t/save-and-reuse-checkpoints-in-ray-2-0-version/8169/4

[2022-11-11 01:26] bilisun opened #30196 "[core] Failed to fetch URI gcs://..."
### What happened + What you expected to happen

Hi all, I'm running to the same problem as described in https://github.com/ray-project/ray/issues/23423, where I'm seeing "Failed to fetch URI gcs://" and the cluster isn't able to download a zipped folder (always the first one) specified in py_modules from runtime_env when calling ray.init. I'm using ray on EC2 instances (no Kubernetes docker etc).

[2022-11-11 01:28] richardliaw commented on #30196
@scv119 @architkulkarni seems like there is some missing aspects to the previous fix?

[2022-11-11 02:00] #30193 closed

[2022-11-11 02:51] jungwoowoo opened #30200 "Cluster[<Ray component: Core|RLlib|etc...>]"
### What happened + What you expected to happen

some workloads were not distributed on cluster.

logs :
(f pid=18152) mean ?  0.4999771519540568
(f pid=18183) mean ?  0.4999771519540568
(f pid=18121) mean ?  0.4999771519540568
(f pid=18152) mean ?  0.4999771519540568
(f pid=18096) mean ?  0.4999771519540568
(f pid=18154) mean ?  0.4999771519540568
(f pid=18157) mean ?  0.4999771519540568
(f pid=1

[2022-11-11 04:59] yjgeno opened #30202 "how to set the max_t"
There are two places where we can define the iteration numbers:

[code]

How does ray internally determine the number of iterations?
Does the final report report each model's best metric or the last epoch metric? If the former one is the case, am I suppose to set a significantly large number for the iteration and tune other hyperparameters?

[2022-11-11 06:24] jeicher commented on #29456
Hi! Some of our team members at Tweag have been looking at this issue too. :) Hope that's alright.

[2022-11-11 06:50] PraneshMP opened #30205 "Issue on page /data/api/grouped_dataset.html"
[code]

When I try to run this example code, I am getting error on "accumulate", Should accumulate be replaced by accumulate_row?

My versions are

Python version:	3.8.13
Ray version:	2.0.1

[2022-11-11 06:52] robindume commented on #30130
I also have this problem.

### Versions:
Ray version: '2.1.0'
Python 3.6.9
Ubuntu 18.04.4 LTS

And I simplify the example code to reproduce easily, seems the api does not match.

[2022-11-11 06:55] robindume commented on #30130
I also meet the problem.
### Version
Ray version: '2.1.0'
Python 3.6.9
Ubuntu 18.04.4 LTS

And I degrade ray to 1.13.0, the program can work normally.

[2022-11-11 07:42] kira-lin opened #30206 "[Java] ray jars is not releasing properly"
### What happened + What you expected to happen

Currently, the ray snapshot jars is not uploading. In addition, the stable version of ray jars is not released at the same time as ray python. As ray slows down its releasing pace, it becomes very inconvenient for us to enable new java features.

We hope that ray snapshot jars can be uploaded daily, or weekly, and that ray stable jars can be release

[2022-11-11 12:15] chaihahaha opened #30209 "How to set TensorFlow GPU limit in both the driver and the worker?"
I'm running tf in the driver and worker processes on a single gpu.
When I set tf config in the driver process, the workers will take all the GPU memory and OOM.
But if I set tf config in worker, the driver process will take all the GPU memory and OOM.
If I set tf config in both, TF will throw RuntimeError: Physical Devices cannot be modified after being initialized.
How to solve this dilemma?

[2022-11-11 15:34] rkooo567 commented on #22312
Planning to fix it by 2.2

[2022-11-11 16:19] clarng opened #30211 "[CI] `linux://doc:source/rllib/doc_code/getting_started` is failing/flaky on master."
- a683bc658587e8db71cc0507d5b6f5784113da6d FAILED [Buildkite :book: Doc tests and examples (excluding Ray AIR examples)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1032#018466f7-bf40-4295-aae9-7d2474ebe517)
- 51ea8410331dd2dd5b1aa7a21d2feb9c0f662a8f FAILED [Buildkite :book: Doc tests and examples (excluding Ray AIR examples)](https://buildkite.com/ray-project/oss-ci-build-branch/

[2022-11-11 16:20] clarng opened #30212 "[CI] `osx://python/ray/tests:test_dashboard_profiler` is failing/flaky on master."
- 51ea8410331dd2dd5b1aa7a21d2feb9c0f662a8f FAILED [Buildkite :mac: :apple: Medium A-J](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1031#01846628-0cfe-4d46-95a0-4679f0f27dcf)
- 8f3bc61d0a829b14a6249a2e0b7b147f59bfafae FAILED [Buildkite :mac: :apple: Medium A-J](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1030#01846556-3a28-40c9-a704-6e814e720a42)
- d092300b336c69c1

[2022-11-11 16:55] cberri commented on #27421
I have exactly the same issue. Should I provide anything to help with this?
I am really looking forward to have Ray integrated on my Windows 10 app.

[2022-11-11 17:08] matthewdeng commented on #30168
Hey @Tonyhao96 do you have a more extensive repro I can use to validate this on my end?

One idea I was wondering if the input Dataset comes in sorted by label, but that wouldn't explain why you're seeing different behavior with/without Ray or why accuracy is zero.

[2022-11-11 17:14] matthewdeng commented on #30209
Hey @chaihahaha could you explain the use case a little more? What TF processes are you running in the driver and worker?

One potential solution is the [limit GPU memory](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) by enabling [set_memory_growth](https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_memory_growth)

[2022-11-11 17:22] matthewdeng commented on #30205
Hey @PraneshMP yeah that's right! This was fixed in https://github.com/ray-project/ray/pull/30083 and now shows the correct code in the [master documentation](https://docs.ray.io/en/master/data/api/grouped_dataset.html).

[2022-11-11 17:22] #30205 closed

[2022-11-11 17:27] matthewdeng commented on #30206
Hey @jovany-wang, regarding the stable jars we pushed versions 2.0.1 and 2.1.0 to Maven two days ago on 11/09/22. As of yesterday we saw that they were not visible on https://mvnrepository.com/artifact/io.ray/ray-api but were in https://repo1.maven.org/maven2/io/ray/ray-api/. Did you need to do anything to get them to surface in https://mvnrepository.com/artifact/io.ray/ray-api?

cc @c21

[2022-11-11 17:39] spacegoing opened #30213 "[RLLib] Customized metrics is missing the last observation"
### What happened + What you expected to happen

Please correct me if I'm wrong.

In current logic, `outputs.append(RolloutMetrics)` is called before `on_episode_step` and `on_episode_end`, snippets shown below. So that the last obs' customized metrics never gets reported.

<img width="1266" alt="Screen Shot 2022-11-12 at 01 31 13" src="https://user-images.githubusercontent.com/5180020/201397500-b

[2022-11-11 17:39] iycheng opened #30214 "[core] Worker init hanging."
### What happened + What you expected to happen

Ray worker hang in init
[code]

It seems not able to get connected with local raylet.

### Versions / Dependencies

master

### Reproduction script

none

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-11 17:50] matthewdeng commented on #30202
Hey @yjgeno,

`training_iteration` is defined by the number of calls to `session.report()`.  If you set different values (see example below), then the Trial will be terminated after the smaller number of iterations is completed.

[code]

The final report will include whatever metric you choose to report in it, which should typically be the last epoch metric. However, you can then access the [exper

[2022-11-11 18:45] matthewdeng commented on #27305
Hey @marcm-ml, I just tried this out with Ray version 2.0.1 and it seems to be fixed! Please re-open if you have any other issues.

[2022-11-11 18:45] #27305 closed

[2022-11-11 18:48] matthewdeng commented on #27907
@xwjiang2010 is this still an issue?

[2022-11-11 18:49] richardliaw commented on #30144
Thanks a bunch for reporting this! We'll find someone to take this.

[2022-11-11 18:49] #27907 closed

[2022-11-11 18:51] #27119 closed

[2022-11-11 18:51] #26285 closed

[2022-11-11 18:52] richardliaw commented on #28919
Seems like we need to disable worker reuse somehow...

[2022-11-11 18:53] #29197 closed

[2022-11-11 18:54] richardliaw commented on #28791
Closing since we have not received a repro for 1 month. Please feel free to reopen if you can provide!

[2022-11-11 18:54] #28791 closed

[2022-11-11 18:56] richardliaw commented on #25881
Believe this is a core issue.

[2022-11-11 18:59] richardliaw commented on #28412
bump @heyitsmui ?

[2022-11-11 22:30] rusu24edward opened #30221 "[RLlib] RandomPolicy does not handle nested spaces"
### What happened + What you expected to happen

I would like to use rllib's random policy for some agents in a multi-agent training setup. I have created two policies, on to train and the other that is random. I get the following error:
[code]

We isolated the problem in [this discussion post](https://discuss.ray.io/t/training-with-a-random-policy/7769). The issue is the loop over observation bat

[2022-11-11 23:25] wxie2013 opened #30223 "[Tune] Scope of `Tuner.restore()` functionality is unclear in docs"
### What happened + What you expected to happen

The resumed run has identical best values as the first run. In another word, the tuning doesn't make further progress when resuming the runs.  I expect every time the code is run, it will resume from the last checkpoint and produce better results.

### Versions / Dependencies

ray2.10

### Reproduction script

      import os
      from ray import t

[2022-11-12 00:58] marianogabitto commented on #30012
Pinging this issue to keep it open.

[2022-11-12 04:42] Tonyhao96 commented on #30168
Sorry, I found that I missed the shuffle.

[2022-11-12 04:42] #30168 closed

[2022-11-12 06:32] zhedasuiyuan commented on #23564
Hello, I got exactly the same error after adding RAY_LOG_TO_STDERR when starting the head node. It works smoothly without this variable. Did you find any solutions? Thanks!

[2022-11-12 08:30] 1seck opened #30226 "Ray cluster up error"
### What happened + What you expected to happen

crash with error:
[code]

### Versions / Dependencies

ray 1.13.0
python 3.8.13
conda 22.9.0
pip 22.1.2
Ubuntu 18.04

### Reproduction script

I want to connect with ray to lambdalabs.com
started instance
take vanilla `example-full.yaml`
comment out docker
ssh_user ubuntu
fill in head ip
take same ip for workers since only one ip is set so far

###

[2022-11-12 09:26] Athe-kunal opened #30227 "Issue on page /tune/examples/pbt_ppo_example.html"
The output of the example has errors and also how to specify the scaling parameters like num_cpus, num_gpus and resources_per_trial here

[2022-11-12 09:55] chaihahaha commented on #30209
I tried set_memory_growth and limit GPU memory, didn't work. The following code will trigger GPU OOM with only a small tensor input.
[code]
On my machine with a single GPU, the output is:
[code]

[2022-11-12 10:33] simonsays1980 commented on #10882
@mgerstgrasser This should be possible to do inside the model as shown here (copied from the [documentation](https://docs.ray.io/en/latest/rllib/rllib-models.html#more-examples-for-building-custom-models)):

[code]

[2022-11-12 12:24] YiningWang2 opened #30228 "Issue on out of memory error with ray"
Hello, I want to use ray to run 4 inference process with 4 set of different parameters. So I set 4 workers and each worker usd 1 GPU. But i met a problem. When i run this grogram, I saw 4 GPU as set to 4 workers. But an Out of Memory error occurred to each GPU. But when i run 1 inference process with single worker, this error will not occurred. I really don't know what happened. Can you give me an

[2022-11-12 14:05] jovany-wang commented on #30206
@matthewdeng  It's ok. There should be a little delay in [https://mvnrepository.com](https://mvnrepository.com/artifact/io.ray/ray-api)

[2022-11-12 14:24] Data-drone opened #30229 "[Dashboard] diskless nodes"
### What happened + What you expected to happen

When running ray on a databricks cluster, no stats appear in the dashboard.
In the dashboard_agent.log I see:

[code]

the ` def _get_disk_io_stats():` method in `reporter_agent.py` needs some sort of error handling for that rather than crashing the report for all the other stats

### Versions / Dependencies

ray 2.1.0
python 3.9.5

### Reproduction

[2022-11-12 15:12] xwjiang2010 opened #30230 "[ml-release] Your requested instance type (g3.8xlarge) is not supported in your requested Availability Zone (us-west-2d)"
### What happened + What you expected to happen

Probably some product side changes

https://buildkite.com/ray-project/release-tests-branch/builds/1193#018468bc-2514-453d-8bc3-0bc35d57f304
https://buildkite.com/ray-project/release-tests-branch/builds/1193#018468bc-2517-4918-a769-1fdabf52d685
https://buildkite.com/ray-project/release-tests-branch/builds/1193#018468bc-2525-4c33-b175-f4295abb58a1
htt

[2022-11-12 16:09] mattip commented on #27421
@cberri we need a complete minimal reproducer that fails. It should include ray and PyQT and a pyinstaller script to bind them into an exe.

[2022-11-12 16:12] ZengPan-github commented on #23894
Hello, I have a similar problem. Have you solved it?

[2022-11-12 21:15] DhavalRepo18 commented on #29256
@dlasecki I was looking for similar support. It will be a great benefits for a tool we are developing.

[2022-11-12 21:32] scv119 commented on #29323
@iycheng might the best person to answer here.

[2022-11-12 22:54] yjgeno commented on #30202
Hi @matthewdeng thanks for your reply, this is helpful.
So a good practice might be I save the tune result, look through all trials' historical metrics after that, and retrieve the checkpoint of the best model?

Is there any way we could tune the iteration number? I am not sure whether it is still a hyperparameter tuning problem though

[2022-11-13 05:02] peytondmurray commented on #30005
| Do you know how other libraries configure logger?

@rkooo567 This is a much tougher question than I originally thought because at least in the libraries I took a look at there isn't much inspiration to be found. I looked at a handful of the major scientific python libraries for insight, and here is what I found:

- `numpy`: no logging at all
- `scipy`: no logging anywhere except to the root logg

[2022-11-13 07:38] ksterx opened #30234 "Building Ray from Source"
### What happened + What you expected to happen

Hi,

I tried to build Ray from the source by following the [documentation](https://docs.ray.io/en/latest/ray-contribute/development.html#building-ray).
After forking and cloning Ray repository, I did the following commands:
[code]
Then I encountered the error↓
[code]

### Versions / Dependencies

conda version: 22.9.0
ray version: 3.0.0.dev0

### Re

[2022-11-13 07:38] hellofinch commented on #30094
Thanks for all your respond!
@jiaodong recently I'm reviewing the RLlib's paper(Scalable Reingforecement Learning Systems and their Applications). It mentioned that when training RL in distributed setting the bulk of data transfer between processes happens. In my opinion, when the number of `rollout` and `policygradient` is growing, the shortcut will show out. So I think RDMA with IB will help.

@

[2022-11-13 07:43] dirtyValera commented on #26396
Hi @ericl, @clarkzinzow is there any update on this? Or a workaround?

I'm planning to run a transform pipe using Dataset pipelines + ActorPool in conjunction with Kuberay Autoscaler to have elastic execution bound to specific resource quota range. If Ray keeps spawning Actors for this set up I see no way to bound pipeline's resource consumption (only way is to limit number of nodes for autoscaler

[2022-11-13 08:15] dirtyValera commented on #20647
+1 to this.

@amogkam >it cannot continue training with fewer workers currently

Can you please elaborate? Does it mean if one of the nodes goes down the whole training job is automatically interrupted?

Also how does this work together with autoscaler?

[2022-11-13 13:20] onegoldfish opened #30235 "please delete it, sorry"

[2022-11-13 13:48] hvavhp opened #30236 "Ray Tune Keras Integration (ray.tune.integration.keras.TuneReportCheckpointCallback) not working correctly out of the box"
### What happened + What you expected to happen

Hi, I'm not sure if this is a bug or a feature, but since I had to spent quite sometimes to get around this, I'd like to share, at least for anyone who got stuck. The issue here is with the checkpoint integration callback for Keras `ray.tune.integration.keras.TuneReportCheckpointCallback`. I will not provide any reproduction script because it is rat

[2022-11-13 14:40] mattip commented on #4309
In order to provide ppc64le and aarch64 builds on conda, all the dependencies must be available. The rllib component depends on gym, which in turn depends on pygame (for Box2d) and ale-py (the [Arcade Learning Environment](https://pypi.org/project/ale-py/)). See [the conda-forge PR](https://github.com/conda-forge/gym-feedstock/pull/29) for more information. Either the gym dependency should be made

[2022-11-13 14:49] mattip commented on #12128
If this issue is not about Raspberry PI then the title is misleading and should be changed. In general spreading the discussion about alternative architectures over (at least three) open issues is not going to move the needle on this: we need to decide it is a priority and move it forward. As [I commented](https://github.com/ray-project/ray/issues/4309#issuecomment-1312746558) on #4309, the curren

[2022-11-13 15:05] mattip commented on #7476
We should leave only one of the ARM issue #7476 (this one)  #13780 and #12128 open.

[2022-11-13 15:20] mattip commented on #11509
`ray start` currently requires an address (`--head` can also be used) so I think the same UX should be followed for `ray stop`: either `--address` or `--head` to kill the node on the current machine. What is the API to iterate over all the clusters? I see `ray status` does not report the address, perhaps that should be added.

[2022-11-13 15:22] mattip commented on #12264
Related to #11509

[2022-11-13 15:25] cberri commented on #27421
Thank you @mattip for your quick replay. Really appreciated. I think we can come up with what you suggested in the next few days and share it with you. I also found an interesting discussion on pyinstaller github issue (pyinstaller and ray: https://github.com/pyinstaller/pyinstaller-hooks-contrib/issues/104). I am not sure if you are already aware of that but maybe gives some starting ideas.

[2022-11-13 15:28] mattip commented on #19834
@1121091694 could you give more information about your environment (where did you get python, do you have a NVidia GPU as well as a CPU, which exact version of nightly are you using)? It seems you are using a nightly (3.0.0.dev0), does the latest official release also fail?

[2022-11-13 15:29] mattip commented on #20084
Closing, please open a new issue if the problem re-appears.

[2022-11-13 15:29] #20084 closed

[2022-11-13 15:32] mattip commented on #21479
I am going to close this, since it seems that error message is too generic to point to a specific problem. If you arrive here searching for issues with this message, please note that the "Failed to register worker" message probably means that the main `raylet` process has crashed, and you should carefully examine the other log files (`dashboard*.*`, `raylet*.*`) for hints about what actually went

[2022-11-13 15:32] #21479 closed

[2022-11-13 15:35] mattip commented on #21786
Duplicate of #13780. Closing. Please comment on the other issue, or reopen this with an explanation of why this is different.

[2022-11-13 15:35] #21786 closed

[2022-11-13 15:36] mattip commented on #24926
@PhilippWillms does this reproduce with ray 2.0.0 or later?

[2022-11-13 15:39] ddelange commented on #12128
fwiw, PyPI is architecture-agnostic, but only few projects choose to publish `armv7` wheels ([example](https://pypi.org/project/pydantic-core/0.7.1/#files)).

moreover, RPi4 has a 64 bit chipset and mine happily runs `aarch64` wheels, making this issue relevant regardless of the 32/64 bit argument.

a better title could make sense, but as rightly noted this is a landing issue for arm and should no

[2022-11-13 15:52] mattip commented on #12128
That is because the armv71 designation is [considered a mistake](https://github.com/pypi/warehouse/issues/3668#issuecomment-384137501) and only supports the Raspian (now called Raspberry Pi OS) distribution, I think for Raspberry Pi 4 only. As you stated, it is not very popular. Not even NumPy supports it on PyPI, so I think getting ray to distribute for that platform tag will be quite a bit of wo

[2022-11-13 15:59] iycheng commented on #30214
[code]

[2022-11-13 16:01] iycheng commented on #29323
From the description it seems:

[code]

[2022-11-13 17:27] marianogabitto commented on #21479
Hi Matt, I have opened another issue and I am willing to troubleshoot. Would it be possible that you or someone from ray help me troubleshoot it ? I pasted the content my err and log files there.

https://github.com/ray-project/ray/issues/30012

[2022-11-13 17:28] marianogabitto commented on #21479
I am a heavy user of ray and I need to be able to work with it on the cluster. Help would be appreciated.

[2022-11-13 17:38] mgerstgrasser commented on #30012
Interesting, I keep running into variations of this as well on our slurm cluster.

@marianogabitto Are you saying that for you this happens even if you have the node allocated exclusively, i.e. no other slurm jobs running on that physical machine?

I have so far noticed two things that contribute to crashes for me:

1. Having two slurm jobs on the same physical machine each starting their own comp

[2022-11-13 17:48] marianogabitto commented on #30012
Hi @mgerstgrasser ,
                         thanks for reaching out.

                          I am allocating the node exclusively to me. I run "srun -N 1 --exclusive -G 1 --pty bash" . I allocate 112 cpus, 512 gb ram and 1 GPU A100. I also allocate running time but it is not relevant here.

                           The good thing is that I can reproduce the issue deterministically.

[2022-11-13 17:58] PhilippWillms commented on #24926
With PyTorch == 1.13.0 and Ray == 2.0.1, it is working fine.

Nevertheless, there is still Memory allocation with `tensorflow` using the tf2 framework specifier. At the moment, I cannot give you a trace, as whole workstation runs in stackoverflow and needs hard reboot. Maybe there is some separate documentation or training needed how to use `tf2` correctly , also together with `ray.init()`-

[code

[2022-11-13 20:35] mattip commented on #24926
Good to hear that the problems with PyTorch have seemingly dissipated.
I assume the failure of tf2 is with ray 2.0.1.
What version of tensor flow, on what hardware (how much RAM and which GPU?)

[2022-11-13 20:43] mattip commented on #30012
Could someone with the problem zip the entire directory of log files and upload it? The error is, I think, a red herring: the worker cannot register because (I think) something is wrong with the main node. Either the connect messages are not being delivered or the raylet process is crashin, or it is sharing fate with the dashboard agent which is crashing. Perhaps some of the other log files have s

[2022-11-13 20:51] marianogabitto commented on #30012
Matt,
      here it is . I am running:

(ray) [mariano.gabitto@n246 ~]$ python
Python 3.10.6 | packaged by conda-forge | (main, Aug 22 2022, 20:36:39) [GCC 10.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

[session.log](https://github.com/ray-project/ray/files/9998182/session.log)

[2022-11-13 20:53] marianogabitto commented on #30012
Here it is with the right file format

[session.zip](https://github.com/ray-project/ray/files/9998187/session.zip)

[2022-11-13 20:55] mattip commented on #30012
could you also show what is in `conda list`?

[2022-11-13 20:57] marianogabitto commented on #30012
Sure, here it is Honda list and pip list in the same condo environment called ray. It is a fresh installation.

[conda_list.txt](https://github.com/ray-project/ray/files/9998194/conda_list.txt)
[pip_list.txt](https://github.com/ray-project/ray/files/9998195/pip_list.txt)

[2022-11-13 20:58] mgerstgrasser commented on #30012
Just in case an additional data point is helpful, I previously also uploaded logs once: https://github.com/ray-project/ray/issues/21479#issuecomment-1218347408
I later thought I had fixed the issue by setting `num_cpu`, but it turned out it merely made it less frequent.

[2022-11-13 21:02] mattip commented on #30012
Note that `raylet.out` exits before really finishing the startup cycle. The dashboard_agent.log is missing: for some reason it apparently was not created.
[code]

[2022-11-13 21:02] marianogabitto commented on #30012
include_dashboard=False  ????

[2022-11-13 21:05] mattip commented on #30012
I see you have conda's `ray-core==2.0.1` which was uploaded only last week. Could you try using `ray-serve`? Perhaps `ray-core` is missing needed functionality

[2022-11-13 21:07] marianogabitto commented on #30012
Matt,
     1) I have just re-run it with the dashboard so you have now the log file.
     2) how do I install ray-serve?

[session2.zip](https://github.com/ray-project/ray/files/9998219/session2.zip)

Thanks !

[2022-11-13 21:23] mattip commented on #30012
`conda install ray-serve`

[2022-11-13 21:26] marianogabitto commented on #30012
Starting a fresh repo with ray-all. More to come

[2022-11-13 22:03] marianogabitto commented on #30012
:(

[2022-11-13 22:27] mgerstgrasser commented on #30012
I just tried to reproduce your exact script on my cluster, and for me no error. (But plenty of occurences of seemingly the same error otherwise, randomly).

I ran `salloc -n1 --exclusive -t 1:00:00  -p test` and then more or less your reproduction script, with a `sleep(600)` after the `ray.init(num_cpus=20)` just in case. No error, even if I increase `num_cpus`, even beyond the number of physical

[2022-11-13 22:35] marianogabitto commented on #30012
@mgerstgrasser Quick question, how long does it take from the moment that you run ray.init() until finish ? Mine depends on the number of cpus . Is that your case too ?

[2022-11-13 23:08] mgerstgrasser commented on #30012
If I run it without the `sleep()` after the `ray.init()`, it takes 15-30 seconds, but doesn't seem to correlate with the number of CPUs. If anything it got faster the more often I tried in a row, but independently of the number of cpu cores I put into `ray.init()`. See below for the first few measurements, I did a few more after that but no big difference, it mostly took around 15-20s.

10 cpus:
[

[2022-11-14 01:08] marianogabitto commented on #30012
More Info. I did different installations on a machine with 88 cores. Up to ray 1.1.0, ray loads super fast and it does not show any problem.

This is what I found when :
conda environment creates the python==xxxx repo and then pip install ray==xx.xx.xx

Python 3.7 and ray0.6.3:    Max number cpus: unlimited==88
Python 3.7 and ray0.8:    Max number cpus: unlimited==88
Python 3.7 and ray1.0.0:    Ma

[2022-11-14 02:02] kyle-chen-uber commented on #24604
this line seems not working on the given test code snippet. Before it works. @krfricke do you know how to fix it or is there any other toy data i can play with? Thx

# Load data.
dataset = ray.data.read_csv("s3://anonymous@air-example-data/breast_cancer.csv")

[2022-11-14 03:05] EugeneKormin opened #30242 "[<Ray component: Core|RLlib|etc...>]"
### Description

Unclear how to solve this issue.

System Info
Using FIFO scheduling algorithm.
Resources requested: 0/4 CPUs, 0/1 GPUs, 0.0/14.98 GiB heap, 0.0/7.49 GiB objects (0.0/1.0 accelerator_type:T4)

`2022-11-14 02:46:16,788	WARNING insufficient_resources_manager.py:128 -- Ignore this message if the cluster is autoscaling. You asked for 1.0 cpu and 1.9999999999999998 gpu per trial, but th

[2022-11-14 04:14] iycheng commented on #30113
Able to run with 2k nodes with increasing arp table size

[2022-11-14 04:14] #30113 closed

[2022-11-14 04:18] iycheng commented on #30214
https://gist.github.com/6ae0910cb278bd1ceb62c11b9ec08b81

[2022-11-14 04:18] iycheng commented on #30214
[code]
Worker hang here. Raylet seems not getting this request.

[2022-11-14 04:50] iycheng opened #30245 "[core] Health check crash in corner cases."
### What happened + What you expected to happen

[code]

### Versions / Dependencies

master

### Reproduction script

start ray cluster and it failed somehow. don't know how to reproduce

### Issue Severity

_No response_

[2022-11-14 07:17] mattip commented on #30012
`pip install` or `conda install` ?

[2022-11-14 08:26] robindume opened #30246 "[ray.serve] Increasing the num_replicas, the RPS does not change."
I am trying to deploy a image decoder srever (python3.6.9+ cv2 + ray 1.13.0, only use CPU).
I change the "num_replicas" from 1 to 16, but the RPS does not change. My logic CPU number is 80.
The code is like below, it is very simple:
`
@serve.deployment(num_replicas=4, ray_actor_options={"num_cpus": 1, "num_gpus": 0})
class PreprocessHandler():

    def __init__(self, ):
        pass

    def prepr

[2022-11-14 08:57] Tonyhao96 opened #30247 "[Air|Tune] `enable_reproducibility` is not compatible with `prepare_data_loader`"
### What happened + What you expected to happen

If enable `ResourceChangingScheduler` and add one line `enable_reproducibility(seed=config["seed"])` in train_func (e.g., tune version of [air example](https://github.com/ray-project/ray/blob/master/python/ray/train/examples/pytorch/torch_fashion_mnist_example.py)), there will be an error make all trial pause/ error:

[code]

### Versions / Dependen

[2022-11-14 09:02] joey-chan opened #30248 "[<Ray component: Workflow>]"
### What happened + What you expected to happen

When I try to using the http event to run the workflow,
raise the error:
AttributeError: module 'ray.workflow' has no attribute 'HTTPListener'

### Versions / Dependencies

version:2.1.0

### Reproduction script

# File name: wait_for_event_http.py
# Create a task waiting for an http event with a JSON message.
# The JSON message is expected to have

[2022-11-14 09:11] jovany-wang opened #30249 "[Core] clarify the failure semantics of `was_current_actor_reconstructed` API and improve the implementation"
### 1. Background

I'm proposing announcing deprecating `was_current_actor_reconstructed` API, as the reasons:
- It can't show a correct state in some corner cases.
- It makes too many complications when actor fails in constructor. #13578
- It's not easy to define the state `restarted` in some cases. like, if the constructor was finished, but the reply RPC failed, should it be `restarted` or not?

[2022-11-14 09:27] Tonyhao96 commented on #30247
Besides, another error (which is not related to `enable_reproducibility`) is that if I set a large trial number (e.g., 200).  Two trials will be paused after one epoch and no trial will continue:

[code]

An error is raised after a while.

[code]

[2022-11-14 09:28] jovany-wang commented on #30249
@rkooo567 @ericl @jjyao CC

[2022-11-14 09:30] jovany-wang commented on #30249
In distributed practices, most actions should be idempotent and depends on the external persist key to archieve the goal.

[2022-11-14 10:09] EugeneKormin opened #30250 "[<Ray component: Core|RLlib|etc...>]"
### Description

I copied code from doc.ray.io, but i get an error, probably im doing smth wrong. Also it is not clear why tensorflow is used although, pytorch shall be used as per config.

https://colab.research.google.com/drive/1e6v-Kh7AANrLJlvYpbcAqv_t3qmiCQUY#scrollTo=h-C_rVgk8P5p

### Link

_No response_

[2022-11-14 14:39] clarkzinzow commented on #26991
@chaomengyuan Good catch! We should update that section.

[2022-11-14 15:53] clarng commented on #30114
I am still seeing the test is failing on Mac, will send out a PR to disable it

[2022-11-14 16:03] clarng commented on #30211
@richardliaw  do you know who might be the a good person to look at this ? seems rl lib related

[2022-11-14 16:06] #30129 closed

[2022-11-14 16:41] architkulkarni commented on #30196
Hi @bilisun, on Ray 2.1.0 this default has been bumped to a higher value which should resolve the issue: https://github.com/ray-project/ray/commit/770bdf7ff522e3fe3bbb27666a062a1eba394de3

If you're looking for a way to set this environment variable using the cluster launcher, you can try setting the `head_start_ray_commands` and `worker_start_ray_commands` to `RAY_RUNTIME_ENV_TEMPORARY_REFERENCE_

[2022-11-14 17:54] clarkzinzow opened #30254 "[Datasets] Upstream buffer truncation bug fix for pickling zero-copy slices to Apache Arrow"
We have implemented a fix for https://github.com/ray-project/ray/issues/29814 in https://github.com/ray-project/ray/pull/29993, but this solutions has several risks:

1. Registering the custom serializer reliably is difficult, requiring us to register the serializer as a Ray Core serialization add-on, resulting in this custom serializer being registered for every Ray workload. This adds extra over

[2022-11-14 18:02] rickyyx commented on #29911
With pretty high confidence - I think the recent regression (test failures) is due to the revert of this PR.

Opening a PR to rever the revert and make sure tests passing. https://github.com/ray-project/ray/pull/30219

[2022-11-14 18:21] xwjiang2010 commented on #29949
And this example should use `session.report` rather than `tune.report`

[2022-11-14 18:31] marianogabitto commented on #30012
For the new version Ray 2.0. I do a conda install.

For the earlier versions, I do pip install because I was not sure that conda will have the old versions.

I am a first adopter of RAY as I was with Robert and Phillip in the lab while they were developing it. At the time, there was not a conda install, just a pip install. So, I reproduced that. In summary, pip install works spectacularly up to ve

[2022-11-14 18:33] clarkzinzow commented on #26843
@matthewdeng TFRecords are now supported, should we rescope this to Avro support?

[2022-11-14 18:45] clarng commented on #29294
looks like it is green in the recent runs e.g.

https://buildkite.com/ray-project/release-tests-branch/builds/1191#0184639a-d25b-46ce-b2c6-03812cc8ef1b
https://buildkite.com/ray-project/release-tests-branch/builds/1192#018468bc-c2b4-499a-922b-a3b91f40dd9c

[2022-11-14 18:45] #29294 closed

[2022-11-14 18:48] clarng commented on #30211
//doc:source/rllib/doc_code/getting_started                              FAILED in 3 out of 3 in 100.1s
--
  | Stats over 3 runs: max = 100.1s, min = 99.4s, avg = 99.7s, dev = 0.3s
  | /root/.cache/bazel/_bazel_root/5fe90af4e7d1ed9fcf52f59e39e126f5/execroot/com_github_ray_project_ray/bazel-out/k8-opt/testlogs/doc/source/rllib/doc_code/getting_started/test.log
  | /root/.cache/bazel/_bazel_root/5fe

[2022-11-14 18:49] clarng commented on #30211
latest commit touching this file

commit 23f460b0fed058e10f1918ece3046976b9b71f5c
Author: Max Pumperla <max.pumperla@googlemail.com>
Date:   Thu Nov 10 08:56:04 2022 +0100

    [RLlib] AlgorithmConfig docs (#29796)

[2022-11-14 18:49] #30102 closed

[2022-11-14 19:03] #30235 closed

[2022-11-14 19:13] c21 commented on #30206
Hi @kira-lin - the Java jar for Ray 2.1.0 and 2.0.1 were released last week. Could you help check if it works on your side now? Thanks.

[2022-11-14 19:14] #30117 closed

[2022-11-14 19:15] jjyao commented on #30249
@jovany-wang I didn't find `was_current_actor_restarted` in the codebase, what's the exact name of the API?

[2022-11-14 19:17] mgerstgrasser commented on #30012
FWIW, I've only ever `pip install`ed ray on our cluster (even though it was inside a conda env), and also have issues.

[2022-11-14 19:24] #28874 closed

[2022-11-14 19:44] DmitriGekhtman commented on #30226
That is very strange.
We make the lock file directory in line 35.
Then when creating the lock file in line 36, we get an error about the file not existing.

Here's the relevant code:
https://github.com/ray-project/ray/blob/467b248c4fff885b478a87da8d64c19c2c363049/python/ray/autoscaler/_private/local/node_provider.py#L35-L36

I haven't seen this happen when I've used local node provider, so I suspe

[2022-11-14 19:48] DmitriGekhtman commented on #30171
There is support for fault-tolerant deployments of Ray Serve on Kubernetes.
https://docs.ray.io/en/latest/serve/production-guide/kubernetes.html

If those docs don't answer your question, I recommend opening a discussion thread with more details on discuss.ray.io

[2022-11-14 19:48] #30171 closed

[2022-11-14 20:06] DmitriGekhtman commented on #30050
Support for deploying with GCE VMs is not well-maintained at the moment.
I'd recommend looking into deploying on GKE https://docs.ray.io/en/master/cluster/kubernetes/index.html --
Kubernetes support is better maintained, and the GKE team itself is starting to promote Ray on GKE.

[2022-11-14 20:22] wxie2013 commented on #30223
Thanks @justinvyu for the inputs. I apparently had a misunderstanding of "not finished".

[2022-11-14 21:05] jjyao opened #30260 "[Core] Provide good error message if the factional resource precision is beyond 0.0001"
### What happened + What you expected to happen

Sort of an implementation detail: currently the precision of resource requirement is 0.0001.

[code]

To avoid any surprises, we should have a good error message if user provides a double that's beyond the supported precision.

### Versions / Dependencies

master

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-11-14 21:05] DmitriGekhtman commented on #30050
One strategy for resolving this --

The particular bit of autoscaler code that encounters this has a notion of "completed updates" and "failed updates".
If we fail to extract the ip of the node, the update should be regarded as "failed".

Code reference:
https://github.com/ray-project/ray/blob/134fa08637f4d0646c0ce442ed16cedbeeb14147/python/ray/autoscaler/_private/autoscaler.py#L733-L735

[2022-11-14 21:07] bdewilde opened #30261 "[Datasets] Index silently dropped when creating Dataset from DataFrame"
### What happened + What you expected to happen

When passing data back and forth between `pandas` and `ray`, I noticed that the latter was silently dropping the dataframe's index. Usually this isn't a big deal — just `.reset_index(drop=False)` to move the index into column(s) — but in some situations, the index is both necessary and necessarily separate from columns. I would prefer to have `ray`

[2022-11-14 21:10] DmitriGekhtman commented on #30050
To fully resolve this issue without major code changes, we would need to examine each invocation of NodeProvider.internal_ip and ensure that failures are handled correctly.

A better solution would be to cache more information, reduce the number of network calls the autoscaler makes, and simplify the multithreading situation.
I'm working on making such improvements for the autoscaler's Kubernetes

[2022-11-14 21:37] xwjiang2010 commented on #30074
May be related? https://github.com/ray-project/ray/issues/30158
https://github.com/ray-project/ray/issues/29949

[2022-11-14 22:07] clarng commented on #28039
I think this issue is old but there seems to be a new issue with this test

<img width="1662" alt="Screen Shot 2022-11-14 at 2 06 59 PM" src="https://user-images.githubusercontent.com/22830327/201778153-d58cdf80-c884-422a-afe3-9f9296366440.png">

[2022-11-14 22:07] DmitriGekhtman commented on #30260
@jjyao could you add a priority label?

[2022-11-14 22:10] hora-anyscale commented on #30234
Per Triage Sync: @simon-mo thoughts on this?

[2022-11-14 22:10] xwjiang2010 commented on #30091
Got it, I am not sure that Tune is designed to support running multiple jobs in the same ray cluster.
Usually people start multiple clusters with each cluster doing one tuning job.

[2022-11-14 22:12] hora-anyscale commented on #30229
Per Triage Sync: @rkooo567 thoughts here?

[2022-11-14 22:15] clarng opened #30263 "[core] define perf"
### What happened + What you expected to happen

Update the core perf graph : add a fixed line of the previous release to detect regression of perf metrics between releases

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-14 22:16] hora-anyscale commented on #30091
Per Triage Sync: Need to confirm in docs this is not supported

[2022-11-14 22:16] Yard1 commented on #30247
Hey @Tonyhao96, thanks for reporting this. Is the second issue reproducible using the same example as for the first issue?

[2022-11-14 22:17] mattip commented on #28039
The [error I see](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1043#01847761-c4b5-4c9a-9f5b-94ceccc151f1/1278-1874) is
[code]

which seems to come from commit 3d8ca6cf0f. The code path is only triggered if there is another error, so it is not usually active.

[2022-11-14 22:22] DmitriGekhtman commented on #30140
cc @sihanwang41

[2022-11-14 22:25] DmitriGekhtman commented on #29309
Running ray start with an autoscaling config directly is not well supported.
Try using the cluster launcher (ray up) instead.

[2022-11-14 22:27] hora-anyscale commented on #29200
Per Triage Sync: @architkulkarni any thoughts here?

[2022-11-14 22:31] hora-anyscale commented on #28939
Per Triage Sync: Not a bug

[2022-11-14 22:31] #28939 closed

[2022-11-14 22:48] architkulkarni commented on #29200
@hora-anyscale Thanks for the ping, the prioritization is correct.

@simonsays1980 Thanks for reporting this!  Until this is fixed, I think the following workaround will work: pass in the `runtime_env` in the `@ray.remote()` decorator for your tasks and actors instead of `ray.init()`.

[2022-11-14 22:48] Yard1 commented on #30247
I will split the second one into it's own issue!

[2022-11-14 22:49] Yard1 opened #30265 "[AIR] `ResourceChangingScheduler` causes tuning to hang with a large trial number"
Besides, another error (which is not related to `enable_reproducibility`) is that if I set a large trial number (e.g., 200).  Two trials will be paused after one epoch and no trial will continue:

[code]

An error is raised after a while.

[code]

_Originally posted by @Tonyhao96 in https://github.com/ray-project/ray/issues/30247#issuecomment-1313364883_

[2022-11-14 22:56] rkooo567 opened #30267 "[Core] Add worker startup + module loading time to microbenchmark"
### What happened + What you expected to happen

Slow worker startup has been a recurrent pattern to regress some of the nightly tests (e.g., many_tasks). We should measure this in the microbenchmark

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-14 22:57] clarng opened #30268 "[CI] `osx://python/ray/tests:test_gcs_utils` is failing/flaky on master."
- f67bf50996317d2dabc93d88b8577c5971a6889f FAILED [Buildkite :mac: :apple: Medium A-J](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1039#01847200-3f22-44cb-a1f5-3bf11e387cd7)

....
Generated from flaky test tracker. Please do not edit the signature in this section.
DataCaseName-osx://python/ray/tests:test_gcs_utils-END
....

[2022-11-14 22:58] clarng commented on #30268
@iycheng

looks like the test is failing with pull based ,do we still need it?

https://buildkite.com/ray-project/oss-ci-build-branch/builds/1039#01847200-3f22-44cb-a1f5-3bf11e387cd7

[2022-11-14 23:00] simon-mo commented on #30234
@ksterx this is because you have a file called `types.py` in the directory, this messes up Python's dependency resolution process, and mistaking using your file instead of the standard library's types module.

[code]

renaming your file should help.

[2022-11-14 23:00] #30234 closed

[2022-11-14 23:01] Yard1 commented on #30265
@Tonyhao96 I tried to quickly reproduce that with the AIR example you linked in the first issue and it worked fine for me. Is it possible for you to share your whole code and cluster setup?

[2022-11-14 23:10] jjyao commented on #30094
@hellofinch what function you are referring to. For the data transfer, it happens inside raylet. If it helps, I can also do a quick video call to introduce the related code you are interested in.

[2022-11-14 23:32] rkooo567 commented on #30245
This should be P0? Or is it only happening when syncer is on?

[2022-11-15 00:08] architkulkarni commented on #29200
@simonsays1980 do you know if local mode is being set to `True` in your reproduction?

[2022-11-15 00:14] rkooo567 commented on #28039
I will take a look.  It should be because we removed some unused APIs from the dashboard, and the test somehow tests that

[2022-11-15 00:14] rkooo567 commented on #30229
We will fix it by 2.2

[2022-11-15 00:38] kouroshHakha opened #30273 "[core] ray.init does not work with local_mode on run_time envs."
### What happened + What you expected to happen

`ray.init(local_mode=True)` should just work. One of the places that it has broken for me was when I tried to create a local_mode ray cluster on workspaces.

Ideally the fix should be inside ray.init. in RLlib we have a couple of automation scripts that helps us with debugging in local_mode and ideally we don't want to change them for now.

### Vers

[2022-11-15 01:03] DmitriGekhtman commented on #22514
This operator is deprecated.
KubeRay is the preferred solution for deploying Ray on Kubernetes.

[2022-11-15 01:03] #22514 closed

[2022-11-15 01:06] kira-lin commented on #30206
Yes, I can now fetch the stable jars to compile in CI. Thanks @c21

[2022-11-15 02:23] scottsun94 commented on #30182
@GuillaumeDesforges How do you run those jobs? Do you use [job API](https://docs.ray.io/en/latest/cluster/running-applications/job-submission/jobs-package-ref.html) to submit those jobs to the cluster or use other means (run a script on a node directly or via ray client)?

[2022-11-15 02:34] jovany-wang commented on #30249
@jjyao https://github.com/ray-project/ray/blob/master/python/ray/runtime_context.py#L222

[2022-11-15 02:46] xwjiang2010 opened #30276 "[air/horovod] horovod distributed worker creation may hang"
### What happened + What you expected to happen

this happens when:
1. Each trial is taking [{“CPU”: 10, “GPU”: 1}, {“CPU”: 10, “GPU”: 1}]. Initially two trials request their corresponding placement groups.
2. trial1’s placement group is ready.
3. tune starts trial1. In the meantime, one bundle inside of the placement is dead.
4. As a result, trial1’s start hangs at: [horovod/strategy.py at v0.23.

[2022-11-15 02:49] xwjiang2010 commented on #30276
btw, this also points to how we should improve our release tests, especially fault tolerance tests. Something like this is very hard to foresee.

cc @rkooo567

[2022-11-15 02:50] Tonyhao96 commented on #30265
[code]

[2022-11-15 02:53] rkooo567 commented on #30276
https://anyscaleteam.slack.com/archives/C010L5BPZP0/p1660742445026339

Also related (regarding failure handling & fault tolerance)

[2022-11-15 02:57] Tonyhao96 commented on #30265
Thanks for your reply.

Above is an example script for reproducing this issue, And the below screenshot is that it runs on my local server with 4x3090. I also test it on a Slurm cluster with 8xA100. No trial is actually running after a while.

Env: Ray 2.1, Pytorch 1.13, Python 3.9.

![Screenshot from 2022-11-15 10-49-12](https://user-images.githubusercontent.com/27758466/201814791-81a88d81-b161-4

[2022-11-15 04:21] #30247 closed

[2022-11-15 04:34] AchillesPlight opened #30277 "Calling ray.init() forces an error:"
### What happened + What you expected to happen

When I call my ray.init() func, I am given an error, and my raylet dies.

### Versions / Dependencies

Python 3.8
Mac OS
Ray 2.1.0

### Reproduction script

ray.init()

Error Message:

ERROR services.py:1403 -- Failed to start the dashboard: Failed to start the dashboard, return code 1
 The last 10 lines of /tmp/ray/session_2022-11-14_23-16-07_06233

[2022-11-15 04:52] jjyao commented on #30249
ok, so the API is `was_current_actor_reconstructed`, could you update the PR description to reflect that?

[2022-11-15 04:58] ijrsvt commented on #30050
Are there any earlier logs, possibly from the NodeUpdaterThread that was responsible for launching the instance that ultimately caused the 404?

[2022-11-15 04:59] matthewdeng commented on #30202
Yeah, that should work, but let me know if it doesn't.

You can also pass in a number of iterations as part of the `param_space`, and terminate the script when you get that number of iterations.

[2022-11-15 05:16] DmitriGekhtman commented on #30050
/tmp/ray/session_latest/monitor.* for those logs

Also, are you using spot instances?

[2022-11-15 07:46] RangerNJU opened #30283 "Missing a ')' at the end of the first paragraph of "What type of GPU"."
### Description

Missing a ')' at the end of the first paragraph of "What type of GPU".

Checkout using Chrome or Chromium-based Edge: https://docs.ray.io/en/latest/cluster/vms/user-guides/large-cluster-best-practices.html#vms-large-cluster:~:text=leverage%20GPUs%20well)-,What%20type%20of%20GPU%3F,-The%20latest%20gen

### Link

https://docs.ray.io/en/latest/cluster/vms/user-guides/large-cluster-be

[2022-11-15 07:50] jbedorf commented on #30091
That is interesting. My understanding was that the it is more efficient to have a few large clusters (e.g. less overhead of having multiple head nodes). Especially in multi-user situations, with restricted access permissions, to for example Kubernetes clusters you would expect multiple users sharing a single Ray cluster. Similarly, why would you need a HA Ray cluster if you don't plan on having it

[2022-11-15 08:40] rkooo567 commented on #29795
This is fixed

[2022-11-15 08:40] #29795 closed

[2022-11-15 09:23] GuillaumeDesforges commented on #30182
I use `JobSubmissionClient` in a script from my local machine to submit to a remote ray cluster.

[2022-11-15 09:32] simonsays1980 commented on #29200
@architkulkarni Thanks for coming back to this. I cannot remember to be honest. I usually have `local_mode=False` by default.

[2022-11-15 11:25] damdaepark commented on #23151
hitting the same issue

[2022-11-15 12:17] mattip commented on #28958
The cp310-win_amd64 wheels are [built nightly](https://docs.ray.io/en/master/ray-overview/installation.html?highlight=nightly#daily-releases-nightlies). What has to be done to get the release wheels onto [PyPI](https://pypi.org/project/ray/#files)? @krfricke could you take a look?

[2022-11-15 12:18] mattip commented on #24926
@PhilippWillms ping. Can you provide more information about the environment that still is problematic?

[2022-11-15 13:39] scv119 commented on #30249
hmm why don't we change the implementation instead.

if we implement `was_current_actor_reconstructed` with `persist_storage.exists(a_unique_key)` and always call ` persist_storage.write(a_unique_key)`; that's identical to your proposed best practice?
[code]

[2022-11-15 13:40] maximilianolucius opened #30291 "[Ray Core]"
### What happened + What you expected to happen

I get the following message when conecting a new node to a local cluster ...

Local node IP: 172.16.0.31
[2022-11-15 07:03:38,731 I 28432 28432] global_state_accessor.cc:357: This node has an IP address of 172.16.0.31, while we can not find the matched Raylet address. This maybe come from when you connect the Ray cluster with a different IP address

[2022-11-15 13:40] maximilianolucius opened #30292 "[Ray Core] Fail to connect to ray cluster"
### What happened + What you expected to happen

I get the following message when conecting a new node to a local cluster ...

Local node IP: 172.16.0.31
[2022-11-15 07:03:38,731 I 28432 28432] global_state_accessor.cc:357: This node has an IP address of 172.16.0.31, while we can not find the matched Raylet address. This maybe come from when you connect the Ray cluster with a different IP address

[2022-11-15 14:10] mattip commented on #24955
TL;DR: I could not reproduce. If someone can still reproduce this, please report what you did using the comment below as a template, starting from a vanilla python installation.

And in too much detail:

Here is the script I used
<details><summary>Modified script</summary>

[code]

</details>

Here is what I did
[code]

I then get a number of diagonostic messages on startup with hints to improve t

[2022-11-15 14:13] mattip commented on #28558
This is similar to #22640, which was solved by avoiding the code path that uses urllib. One work-around is to avoid using the drive `C:` designation in the path.

[2022-11-15 14:19] adlerjan commented on #24955
Hey, sorry for the somewhat unspecific response. It has been a while, but I remember after cross-examination of my working and non-working systems that the issue only occured with a specific Python 3.9 patch version. Switching to a previous patch resolved my problems completely.

[2022-11-15 15:04] mattip commented on #24926
See also #24955

[2022-11-15 15:09] mattip commented on #24955
Perhaps your machine has 16GB of RAM which is enough on linux but not sufficient on windows to run this experiment.

[2022-11-15 15:49] xwjiang2010 opened #30294 "[ci][release] Known non-release-blocking issues tracking"
### What happened + What you expected to happen

List of flaky tests/failures that are known to be non-release blocking but might show up in CI failures/nightly failures. **No cherry picks are expected for these failures. Release managers will ignore them in CI**:

- https://github.com/ray-project/ray/issues/30295
- https://github.com/ray-project/ray/issues/30300
- https://github.com/ray-project/r

[2022-11-15 16:16] mattip commented on #28513
@architkulkarni can we close this?

[2022-11-15 16:17] mattip commented on #28542
Closing. Please reopen if there is something actionable for ray.

[2022-11-15 16:17] #28542 closed

[2022-11-15 16:19] mattip commented on #28958
xref #28447 for ray-2.0.1 which is also missing on PyPI

[2022-11-15 16:27] mattip commented on #28446
Here is the reproducer script

<details><summary>`single_model_deploy.py`</summary>

[code]

</details>

I am not sure what you mean by this.

[2022-11-15 16:30] #28513 closed

[2022-11-15 16:41] mattip commented on #27646
The exception happens here https://github.com/ray-project/ray/blob/73caaf926e4e508a2b2adcf76d719b2e46bf67f2/python/ray/_private/log_monitor.py#L506-L513

While this may be OK on linux, I am pretty sure it is not OK on windows.

[2022-11-15 16:54] xwjiang2010 opened #30295 "[ml-release] lightgbm_tune_16X4 is failing"
https://buildkite.com/ray-project/release-tests-branch/builds/1196#01847834-c29d-493e-b456-042b270b5fba

command history is empty

SDK command returns error code 55555.

Asking in the product channel what this means.

https://anyscaleteam.slack.com/archives/CKD613X8S/p1668531183954269

[2022-11-15 16:59] scottsun94 commented on #30182
Got it. Thanks! One question:
- There is a `stop` method for stopping a job programmatically in the [Jobs API](https://docs.ray.io/en/latest/cluster/running-applications/job-submission/jobs-package-ref.html#jobsubmissionclient). Why do you want to an endpoint in dashboard API for killing a job?

In terms of "a button in the "Jobs" tab in the dashboard UI to kill a job", we've heard similar request

[2022-11-15 17:21] Yard1 commented on #30265
Hey, thanks, I can reproduce the behavior using the script you provided. Can you check if removing the `_max_cpu_fraction_per_node` helps?

[2022-11-15 17:29] sofianhnaide commented on #30295
This API has now a depreciation warning and we should move off it since the GCP will no longer be able to issue commands on the dataplane directly.

You can still use the webterminal API to issue a direction command on the webterminal is you want, here is a snippet that does that: https://github.com/anyscale/product/blob/master/frontend/cli/anyscale/commands/workspace_commands.py#L367

[2022-11-15 17:30] xwjiang2010 opened #30296 "[release] [serve] serve_autoscaling_multi_deployment is failing"
https://buildkite.com/ray-project/release-tests-branch/builds/1196#01847834-c31c-440b-b92e-847c8c09ba20

[2022-11-15 17:35] xwjiang2010 opened #30298 "[release] [core] chaos_pipelined_ingestion_1500_gb_15_windows failing"
https://buildkite.com/ray-project/release-tests-branch/builds/1196#01847834-c3e0-4b08-933b-92ac4ce4199e

[2022-11-15 17:39] xwjiang2010 opened #30299 "[release][rllib] rllib release tests are failing"
Global tracker for rllib release tests failures for 2.2.

The majority of learning tests are failing.

Several long running rl tests are failing:
apex, impala.

https://buildkite.com/ray-project/release-tests-branch/builds/1196#01847834-c29d-493e-b456-042b270b5fba

[2022-11-15 17:53] ericl commented on #26396
@dirtyValera have you tried the max actors setting for the ActorPoolStrategy? It's new in 2.0: https://docs.ray.io/en/master/data/transforming-datasets.html#compute-strategy

I think with max actors set, the resources will be bounded since the old actors are destroyed before the new ones are launched.

In the longer term, we are planning to improve Datasets' pipelining support to use the same pool

[2022-11-15 18:18] shawnpanda commented on #30295
For OSS tests, should they consider Anyscale Jobs instead of relying on session command?

[2022-11-15 18:20] xwjiang2010 opened #30300 "[rllib][ci] The following rllib tests are failing/very flaky"
The team to decide whether to fix them or disable them (at least for the 2.2 release branch).

current top 3 are:
test_memory_leak_a3c
test_memory_leak_ppo
learning_tests_stateless_cartpole_r2d2

[2022-11-15 18:24] xwjiang2010 commented on #30091
This is the limitation of ray tune. I am not knowledgable enough to speak about the ideal setup of multi-tenancy in Ray. @richardliaw could you loop in the right people here? Thanks!

[2022-11-15 18:26] Yard1 commented on #30070
I would like to propose another option, which would be similar to option 4 but instead of introducing a new API, we'd reuse `session.report`. We can make it so that it can be used both as a function (like it is currently) and a context manager. Therefore, the two ways of calling it would be:

[code]

and

[code]

That way there is no ambiguity as to whether metrics are reported or not and we avoid

[2022-11-15 18:41] xwjiang2010 commented on #30230
The consensus is to not to test for scale up behaviors in these test. Will put up a PR.

[2022-11-15 18:54] #22736 closed

[2022-11-15 19:04] #29858 closed

[2022-11-15 19:13] DmitriGekhtman commented on #18212
Not an issue with KubeRay which is the preferred solution for deploying on K8s.

[2022-11-15 19:13] #18212 closed

[2022-11-15 19:31] richardliaw commented on #30074
This is a redundant with https://github.com/ray-project/ray/issues/28528 . I'll close this for now and assign Antoni to the other one.

[2022-11-15 19:31] #30074 closed

[2022-11-15 19:57] architkulkarni opened #30305 "[Docs] [Jobs] Add pros and cons of different ways of submitting a job"
There are a few ways of submitting jobs. We should agree on the pros/cons of these approaches and how we want to recommend them, and add a summary to the documentation.

Original comment below

-----

        Not a blocker for this PR, but I think we should also have brief description & pros and cons of each job submission model? For example, driver is the best for local dev, users should have ssh

[2022-11-15 20:15] scv119 commented on #30273
@kouroshHakha runtime_env has never been designed to support local mode from the beginning; also fundamentally it requires distributed components like gcs/agent to work. So we probably should not mark this as a P0 but rather an enhancement.

[2022-11-15 20:32] 2-5 commented on #27646
How about using `psutil`, which is already vendored by `ray`, to determine if a `pid` is alive?

I looked it up now and I see a number of possibilities.

1. `psutil.pid_exists(pid)` - returns `False` if process is not alive

2. `psutil.Process(pid).status()` - seems to raise `psutil.NoSuchProcess` if the process is not alive

3. `psutil.Process(pid).is_running()` - the docs have a warning regardin

[2022-11-15 21:05] xwjiang2010 commented on #29922
Another instance:

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_nBJeS1ag1Ys4kByHP9LZBXNB?command-history-section=command_history

[2022-11-15 21:17] wxie2013 commented on #30223
Hi @justinvyu, here is a follow-up question. The current restore() function can resume the tuning if the status is not "terminated". If the status is "terminated", the restore() function will just print out the finished results.  How should one proceed in the following scenario:

    -   the 1st run is finished, i.e. with status "terminated" after running 100 samples.
    -   After a few days, one

[2022-11-15 21:23] clarng commented on #30298
Can't repro after 2 re-runs on the failed cluster

https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_kYxe81L8d5YUtQpUaUN7vK96?command-history-section=command_history&drivers-section=interactive-sessions

[2022-11-15 21:25] dougpool commented on #22605
Some updated information while testing with ray 2.1.0 / python 3.9.7

Only warning and critical logs appear to come through when using logging.debug|info|warn|critical regardless of the logging_level

[code]

[2022-11-15 21:42] Yard1 commented on #28528
Looking into existing documentation, here is my journey right now:

1. As a user, I want to do hyperparameter tuning. I want to use a custom function, save the artifacts and metrics and analyze them later.
2. I open up Ray AIR user guides and land at https://docs.ray.io/en/master/ray-air/tuner.html
3. The note at the top guides me to Ray Tune documentation
4. I also see that there is a "How to ana

[2022-11-15 21:50] amogkam commented on #29576
Thanks for the investigation @cadedaniel, makes sense!

Trying again on my laptop instead of on a cluster, I do get a `RayActorError` immediately.

However, when running in python interactive shell, I do not get a `RayActorError` on `ray.get`.

[2022-11-15 22:09] Yard1 commented on #28528
I expanded upon the Tune Trainable docs here - https://github.com/ray-project/ray/pull/30314

[2022-11-15 22:18] #29408 closed

[2022-11-15 22:35] kouroshHakha commented on #30300
@xwjiang2010 The memory leak and r2d2 tests have been flakey and are not blockers.

[2022-11-15 22:39] #30230 closed

[2022-11-15 22:42] amogkam commented on #29576
We should address the large coredump issue before merging https://github.com/ray-project/ray/pull/29562.

Otherwise, it will appear as if training is hanging.

[2022-11-15 22:43] xwjiang2010 commented on #30298
Thanks @clarng ! Feel free to drop the tags if the team thinks it's non-release blocker.

[2022-11-15 23:05] #24626 closed

[2022-11-15 23:16] xwjiang2010 opened #30315 "[release][dataset] ray-data-bulk-ingest-out-of-core-benchmark is failing"
https://buildkite.com/ray-project/release-tests-branch/builds/1196#01847834-c283-4bc5-b128-dcbe469b0c71

[2022-11-15 23:16] xwjiang2010 commented on #30315
@c21 could you help triage? Thanks!

[2022-11-16 00:17] #29270 closed

[2022-11-16 00:22] #28525 closed

[2022-11-16 00:25] #29003 closed

[2022-11-16 00:25] #28627 closed

[2022-11-16 00:53] justinvyu opened #30321 "[Tune + Train] AIR Trainers currently get converted to Trainables multiple times unnecessarily"
When using Tune with Train (`Tuner(trainer)`), the trainer is currently being converted to a Tune `Trainable` multiple times. This is possibly expensive, since `BaseTrainer.as_trainable` will put all of its config (which could contain a large checkpointed model in `resume_from_checkpoint`) into the object store from a call to `tune.with_parameters`.

In `TunerInternal`, the `Trainer` is converted

[2022-11-16 01:33] vedantroy opened #30324 "[Train] Cannot use fullsync datapipe with Torch Trainer, which prevents multi epoch training when using torch data"
### What happened + What you expected to happen

Copied from: https://discuss.ray.io/t/get-distributed-process-group-timeout-when-using-torch-trainer-fullsynciterdatapipe/8075, as I'm not sure if this is a better place to be submitting bug reports.

This line: [data/prefetch.py at 4ea88d1fb4d279def9213a23b054b4e7d46d5b3d · pytorch/data · GitHub 3](https://github.com/pytorch/data/blob/4ea88d1fb4d27

[2022-11-16 01:54] jiaodong opened #30325 "[Ray Train] Update accessing results per looop with Ray 2.0 API"
### Description

![image](https://user-images.githubusercontent.com/6372689/202063940-25b32b8f-6641-481f-87e0-2080de770cba.png)

Community user asks for accessing per loop `results` with Ray 2.0 API, swapping it with `session.report({"epoch": results[-1]})`  in Ray 2.0 API also works. We should document it to reduce confusion.

### Link

_No response_

[2022-11-16 02:03] matthewdeng commented on #30325
What is the use case for this, i.e. what data is being returned as part of `results`? Wondering if this is for metrics, checkpoints, or generic artifacts. Depending on the type of data we should choose the right recommendation.

[2022-11-16 02:07] jiaodong commented on #30325
I think for this particular user (i actually worked with him before), he happens to use Ray Train before 2.0 and used to access per-loop metrics, but in 2.0 seems like we got more opinionated to abstract these away to our components -- but generally speaking good users desire to have more visibility and control over the training loop that we should document a way to still have per-loop level flexi

[2022-11-16 02:21] wuisawesome opened #30328 "[autoscaler][kuberay-ish] `ray status` falsely reports nodes as active when updater threads are disabled"
### What happened + What you expected to happen

When updater threads are disabled, `ray status` falsely reports nodes as active before they've connected to the cluster.

This is mostly relevant to node providers like kuberay or 3rd party node providers which don't use updater threads.

### Versions / Dependencies

master

### Reproduction script

Run a simple script on a machine with an 8 cpu hea

[2022-11-16 02:21] wuisawesome commented on #30328
cc @DmitriGekhtman one of use should probably take this on.

[2022-11-16 02:26] matthewdeng commented on #30325
Sorry I don't understand... what is the per-loop level flexibility that you're referring to? 😅 Isn't `session.report({"epoch": results[-1]})` the same as `session.report({"epoch": i})` in the example?

Though I do see one mistake in the migration guide in that the final line should be:
[code]

[2022-11-16 03:27] Tonyhao96 commented on #30265
Thank you very much. Removing the` _max_cpu_fraction_per_node` argument works.

[2022-11-16 03:31] Tonyhao96 commented on #30265
I just took a quick check, by changing `max-epoch=10` and `max-sample=6` on a 4 GPU server. And find another strange issue in finishing the final trial.

[code]

[code]

[2022-11-16 04:13] justinvyu commented on #30223
Hi @wxie2013,

Currently, the functionality of `Tuner.restore` is only to pick up from where you left off for unfinished trials, as well as giving your the option to restart or resume errored trials.

Adding more samples to the experiment is not currently supported. However, for your scenario, it might make sense to do the following:
1. Start a new Tune experiment with `num_samples=200`.
2. Create

[2022-11-16 04:36] DmitriGekhtman commented on #30328
Cannot confirm this behavior on KubeRay:
[code]

[2022-11-16 04:37] DmitriGekhtman commented on #30328
The issue is likely the terribly confusing contract for determining the status tag in "no updaters mode".

[2022-11-16 05:30] darwinharianto opened #30333 "[Train] Ray Train Constants on Multinode causes NCCL Error"
### What happened + What you expected to happen

1. Created a cluster using yaml file from on-prem cluster using docker, ran pytorch test script from the website.
    Everything works fine without GPU, but with GPU, NCCL Error occurs.
    GPU only works if I set `--num_workers=1`
    Tried `export NCCL_IB_DISABLE=1` and `export NCCL_P2P_DISABLE=1`, both didnt work
    Tried `export NCCL_DEBUG=WARN

[2022-11-16 06:56] DanielAtt2000 commented on #22685
Having a similar issue. Using ray 2.1.0, 16GB Ram.

As inputs to my custom environment I have a Box of shape (7,1) floats and another Box of shape(14000,6), connected together with a Dict.

After around 28K timesteps the following errors crops up.

What actually causes the problem? Is there a possible solution to it?

`(pid=) [2022-11-15 23:42:49,107 C 17284 3760] (raylet.exe) dlmalloc.cc:129:  Ch

[2022-11-16 08:19] yiwei00000 opened #30336 "[data]read hdfs file"
What environment variables need to be set to read hdfs?

How do I set these environment variables?

When are these environment variables set?

[2022-11-16 08:50] EugeneKormin opened #30338 "[Tune] Issue on page /tune/key-concepts.html"
Im trying to run code from docs:
https://docs.ray.io/en/latest/tune/key-concepts.html

`from ray.tune.search.bayesopt import BayesOptSearch
from ray import air
from ray import tune
from ray.air import session

def objective(a, b):
    pred_F: float = 12 * a * 1.8 + b
    actual_F: float = 12 * 1.8 + 32
    MSE: float = (pred_F - actual_F) ** 2
    return MSE

def trainable(config):
    for x in ra

[2022-11-16 09:47] Yard1 commented on #30265
This seems to be the same issue as in https://github.com/ray-project/ray/issues/30247, which should be fixed by https://github.com/ray-project/ray/pull/30266

[2022-11-16 12:59] wxie2013 commented on #30223
Thanks @justinvyu for the further inputs. It would be helpful for new users to clarify it in the document. As it is right now, the document gives a impression that  the restore() can continue with a finished run.  I only figured out that this is not the case by looking over the source code comments.

[2022-11-16 14:28] cberri commented on #27421
@mattip, we have put together a minimal reproducer that fails:

Here is the error after building the `.exe` with pyinstalller and running the minimal GUI with `ray`:

[code]

## Steps to run the basic tool on Windows 10 in a conda environment named *pyrayqt*:

1. Create the conda environment with the following dependencies:

[code]

    I saved the file as *environment_Win10.yml* and created the e

[2022-11-16 15:49] Catch-Bull opened #30341 "[BUG][Object Store] ray.put with argument `_owner` will lost the reference of inner objects"
### What happened + What you expected to happen

In function [HandleAssignObjectOwner](https://github.com/ray-project/ray/blob/master/src/ray/core_worker/core_worker.cc#L3355), inner objects are not borrowed by the outer object's owner, will cause fewer references to inner objects than expected.

proposal: borrow inner objects on function [HandleAssignObjectOwner](https://github.com/ray-project/ra

[2022-11-16 15:55] thatcort commented on #26396
@dirtyValera I don't have a workaround. I'm avoiding using pipelines because of this bug.

[2022-11-16 15:56] volks73 commented on #26039
@felipebcs Out of curiosity, are you able to see DEBUG level statements in your logs, including the Ray Dashboard? I am still experiencing the lack of any log statements in the docker outputs, but recently discovered none of my DEBUG level statements are showing up, too. I am trying to figure out if this is related.

[2022-11-16 16:29] aRI0U opened #30342 "[Tune] Tuner.restore fails when restoring a relative path"
### What happened + What you expected to happen

When using `Tuner.restore` with `path` being a relative path, I get an `AssertionError`:
[code]
 I finally figured out that this is because `local_dir_path` is always an absolute path whereas `experiment_checkpoint_dir_path` is the one you provide so they don't match if it is relative.

Using only absolute paths is an easy workaround, but the issue

[2022-11-16 16:35] Catch-Bull opened #30343 "[Core][Object Store] disable task returned object inline"
### Description

Once the return value of the task sent by the driver is inline, even if the local reference in the driver is cleared, the data in the memory store will not be released or put into plasma, which will greatly increase the risk of OOM. It is recommended that users can turn off returned objects inline, like this:
[code]

Reproduce code:
[code]

result:
![image](https://user-images.git

[2022-11-16 17:05] felipebcs commented on #26039
Hey @volks73. If I set the logging config to `level=logging.DEBUG`, then I can see `DEBUG` messages in Ray Dashboard along with `INFO` and `ERROR`. But nothing goes to `docker logs`.

[code]

[2022-11-16 17:11] Yard1 commented on #30342
@justinvyu

[2022-11-16 17:11] volks73 commented on #26039
@volks73 Thank you for the check and information. The missing DEBUG statements appears to be unrelated to the missing Docker output. Thank you!

[2022-11-16 17:12] Yard1 commented on #30321
Should we implement some caching here?

[2022-11-16 17:13] justinvyu commented on #30321
Yep, I have a PR that I'll put up in a bit with this.

[2022-11-16 17:22] xwjiang2010 commented on #29911
Still failing in the most recent try: https://buildkite.com/ray-project/release-tests-branch/builds/1197#01847d5a-ee8b-4105-b2a3-c16e198e4623

When can we land the revert of revert?

[2022-11-16 17:31] xwjiang2010 opened #30345 "[release][serve] serve_single_deployment_1k_noop_replica is failing"
https://buildkite.com/ray-project/release-tests-branch/builds/1197#01847d5a-ed5b-49cf-8199-7006a936ce97

https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_Fu9iLaiiEXRkGBxzP56Q5C2d?command-history-section=command_history

Sample logs
HTTP response body: {"error":{"detail":"Encountered an error while interacting with AWS: \u001b[36mray::_start_from_r

[2022-11-16 17:32] xwjiang2010 commented on #30345
@sihanwang41 can you help take a look and see if it is release blocker?

[2022-11-16 17:34] xwjiang2010 commented on #30345
no clue about this test but could be related to recent botoclient throttling issue: https://anyscaleteam.slack.com/archives/CKD613X8S/p1668550119283729

[2022-11-16 17:40] Yard1 commented on #29080
Hey @tadejsv, I can reproduce this issue, but I am unsure if this is something we can fix on our side. I managed to run it successfully by initialising the logger outside the objective function:

[code]

Would that be an acceptable workaround for you?

[2022-11-16 17:48] Yard1 commented on #28919
Hmm `wandb_mixin` is being deprecated. I'll see if the same issue persists with the new way of doing this.

[2022-11-16 18:01] clarng commented on #30298
Seems flakey, the test is passing again:

https://buildkite.com/ray-project/release-tests-branch/builds/1197#01847d5a-ee4b-475a-90d6-d07abe707ab1

[2022-11-16 18:34] felipebcs commented on #26039
A followup: if I add more code into my test workflow, calling `ray.data.read_csv` and `data.map_batches`, then I start seeing logs on `docker logs`.

[code]

With those remote functions being:

[code]

[2022-11-16 18:36] bdewilde opened #30348 "[Datasets] Random sampling with replacement"
### Description

The `Dataset` class already has a `.random_sample()` method, but it doesn't allow for sampling with replacement: you can only downsample, not upsample. In contrast, `pd.DataFrame.sample()` has a `replace` arg that allows for sampling w/ or w/o replacement, and in the former case, allows for setting `frac` > 1 or `n` > `len(df)` . It would be useful to have similar functionality in

[2022-11-16 18:44] Yard1 commented on #28919
@KwanWaiChung This works fine if using the `WandbLoggerCallback`. `wandb_mixin` is being deprecated.

[code]

[2022-11-16 18:44] Yard1 commented on #28919
Closing as won't fix.

[2022-11-16 18:44] #28919 closed

[2022-11-16 18:50] jiaodong commented on #30325
So from what user asked about

iiuc user has features that depend on previous behavior of per-loop results (let's say they feed them into another internal lib / service for plotting) but wondering how to access it without waiting for the final `result = trainer.fit()`.  From our session perspective i agree with what you had tho, but maybe our users don't find session provides all they need ..

[2022-11-16 18:56] matthewdeng commented on #30325
Hmm actually I think this is the opposite -  `result` is not per-loop (by per-loop do you mean per-iteration in the for loop?) but actually just final opaque object that's being returned at the end of `train_func`.

[2022-11-16 19:02] jiaodong commented on #30325
hmm then how would an user access per-iteration intermediate results during training ? I think if `session.report()` takes care of it and exposes APIs to access all data ever reported by user's training loop code it would be sufficient too, from what i found in https://sourcegraph.com/github.com/ray-project/ray/-/blob/python/ray/air/_internal/session.py?L13:7 that doesn't seem like the case :/

Is

[2022-11-16 19:33] heyitsmui commented on #28412
@richardliaw thanks for checking in, let me clean up my change, will have a PR out for review by tomorrow morning

[2022-11-16 20:31] xwjiang2010 opened #30353 "[release] tune_cloud_gcp_k8s_durable_upload is flaky"
For this failed run:
https://buildkite.com/ray-project/release-tests-branch/builds/1198#018481e3-f290-48ea-bf97-bf172f448c97

[code]

<img width="1044" alt="Screen Shot 2022-12-14 at 3 55 36 PM" src="https://user-images.githubusercontent.com/3887863/207740596-032a2277-e15f-4783-b073-7e74bc3a4efd.png">

**Issue 1:** Trial is hanging on iteration 1 -> no checkpoints ever occurred after the first one

[2022-11-16 20:46] marianogabitto commented on #30012
Ping ...

[2022-11-16 21:52] cadedaniel commented on #29912
Closing for now since the performance is at least consistent. We can separate them out if OOM tests are flaky.

[2022-11-16 21:52] #29912 closed

[2022-11-16 22:03] rkooo567 commented on #30005
I will take a look at it by today

[2022-11-16 22:16] xwjiang2010 commented on #29979
Seems to be fixed somehow...

[2022-11-16 22:16] #29979 closed

[2022-11-16 22:41] bveeramani opened #30368 "[RFC] [AIR] Let users store arbitrary data in `TorchCheckpoint`"
## Problem

1. `TorchCheckpoint` only saves model state, and there's no way to save other state. This means you can't restore optimizers, schedulers, or custom objects. You also can't determine the start epoch to resume training.
2. You can't save mixed precision state without calling internal functions.

## State of the world

[code]

[code]

## Potential interfaces

### Option 1: Remove AMP and

[2022-11-16 22:42] bveeramani commented on #29857
Closing in favor of #30368

[2022-11-16 22:42] #29857 closed

[2022-11-16 23:00] simon-mo opened #30369 "[Runtime Env] Concurrent working_dir creation will cause agent process to deadlock"
### What happened + What you expected to happen

When there is to concurrent working dir creation referencing the same working directory, the concurrent async [`download_and_unpack_package`](https://github.com/ray-project/ray/blob/dcad1a8b7cd7c2c160cd75a61951fb4009b6d7d1/python/ray/_private/runtime_env/packaging.py#L600) functions will deadlock each other.

https://github.com/ray-project/ray/blob/

[2022-11-16 23:04] #29592 closed

[2022-11-16 23:09] cadedaniel commented on #30315
I'll take this! cc @c21

[2022-11-16 23:10] #30212 closed

[2022-11-16 23:15] xwjiang2010 opened #30370 "[ml-release] tune scalability single node result throughput flaky"
https://buildkite.com/ray-project/release-tests-branch/builds/1199#01848282-8bfa-4bfe-ae27-48805a209096

[2022-11-16 23:17] xwjiang2010 commented on #30370
See [dashboard](https://b534fd88.us1a.app.preset.io/superset/dashboard/36/?native_filters_key=vP1wHXjcm3GV51FDYceU3yryVtUuN9d9L76j-UqGurecIKNT1c8ihuI-3up-BT64)

There is very negligible upward shifting over the course of last year but should not be 2.2 release blocking.

[2022-11-16 23:20] rkooo567 commented on #6855
This feature is requested by Dan (@kiralaz)

[2022-11-16 23:23] kiralaz commented on #6855
Thanks @rkooo567, it would be nice to be able to disable colored logging (perhaps via an environment variable?) as in our cloud jobs with ray we get some pretty ugly logs with prefixes like this `[2m[36m(ActorName, pid=<pid>....`

[2022-11-16 23:46] iycheng commented on #30245
@rkooo567 I mark it as P1 because I don't know how to reproduce this :(  and it only happens once.

[2022-11-16 23:48] #29557 closed

[2022-11-17 00:02] xwjiang2010 commented on #29922
[Run 1/3] Running Tensorflow Ray benchmark
2022-11-12 22:44:41

...
<failed two vanilla runs in the middle>
[694096] subprocess.CalledProcessError: Command '['python', '/home/ray/oss-release-tests-2/workloads/tensorflow_benchmark.py', 'worker', '--num-epochs', '200', '--num-workers', '16', '--rank', '7', '--worker-ip-ports', '172.31.79.86:50515,172.31.79.86:43535,172.31.79.86:45467,172.31.79.86:40

[2022-11-17 00:04] xwjiang2010 commented on #29922
actually this time, the failure workers happened to be on different nodes..

[2022-11-17 00:15] #30073 closed

[2022-11-17 00:36] ericl opened #30375 "[Core] ray.wait(fetch_local=True) does not prefetch more than num_returns objects"
## What happened + What you expected to happen

When you specify `ray.wait(objs, fetch_local=True, num_returns=N)`, the expected behavior is that we send a fetch request for `len(objs)` objects to the raylet. Internally, the raylet persists these fetch requests until the current task finishes or the worker is killed. This enables users to use `ray.wait` repeatedly in a loop to prefetch objects.

H

[2022-11-17 00:46] max0x7ba commented on #30008
I wonder if there is a way to disable object spilling to check if that fixes the problem?

[2022-11-17 00:57] matthewdeng commented on #29592
Fixed by #29635.

[2022-11-17 01:08] ericl opened #30380 "[Datasets] Should remove actor-based prefetcher after #30375 is addressed"
1. Wait for https://github.com/ray-project/ray/issues/30375 to be resolved
2. Disable the actor-based prefetcher and verify performance parity.

[2022-11-17 01:08] ericl commented on #23983
Closing this in favor of https://github.com/ray-project/ray/issues/30375

[2022-11-17 01:08] #23983 closed

[2022-11-17 02:15] thakkarparth007 commented on #1013
I came across this same issue recently, and wrote up a short note about tackling this problem for my specific setting (one node's behind firewall, which I treat as head node, and rest are public nodes): https://gist.github.com/thakkarparth007/c91e0b5fa9413824bbba053f16779f3b

I *think* it's possible to tweak this hack to make it work for all nodes behind firewalls, or some variations of that, but

[2022-11-17 02:34] dyllanwli commented on #26320
Got the same exactly same error. Any updates?

[2022-11-17 02:52] architkulkarni opened #30385 "[Cluster Launcher] `ray dashboard` CLI command does not stop port-forwarding after Ctrl+C"
### What happened + What you expected to happen

The function of the CLI `ray dashboard` is to port forward to the cluster.  While the command is running, it blocks the terminal indefinitely as the ports are being forwarded, as expected.

However, canceling the command with `Ctrl+C` doesn't seem to stop the port forwarding.  I don't know any other way to cancel the command.

### Versions / Depende

[2022-11-17 04:03] onegoldfish opened #30387 "WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance."
### What happened + What you expected to happen

I use ray in java. And I used [JEP](https://github.com/ninia/jep/wiki/How-Jep-Works) to call python in the remote method, but I got: `WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.`

There is no problem with the current calculation results. Could you please tell me What are the hidden dangers?

I read

[2022-11-17 04:06] #30161 closed

[2022-11-17 04:06] jovany-wang commented on #28407
@scv119 More thoughts?

[2022-11-17 04:21] joey-chan commented on #6184
does ray surpport streaming now?

[2022-11-17 04:26] darwinharianto commented on #30333
running using torchrun from https://leimao.github.io/blog/PyTorch-Distributed-Training/ works

[code]

[code]

[2022-11-17 05:03] #30369 closed

[2022-11-17 05:23] rkooo567 commented on #6184
No. But I believe there's an effort going on integrating it with beam cc @jjyao

[2022-11-17 05:30] rkooo567 commented on #11966
When you don't specify the object store memory, it uses 20% of available memory. I think your machine doesn't have enough available memory.

You can manually specify object_store_memory to avoid this.

[2022-11-17 06:10] darwinharianto commented on #30333
I found the solution
The `NCCL_SOCKET_IFNAME` for ray train is hardcoded in [here](https://github.com/ray-project/ray/blob/master/python/ray/train/constants.py)

I was using wireless while trying to do distributed training and wl is not included
I have to add `DEFAULT_NCCL_SOCKET_IFNAME = "en,eth,bond"` to `DEFAULT_NCCL_SOCKET_IFNAME = "en,eth,bond,wl"`

is there a way to change this file without

[2022-11-17 07:12] yiwei00000 commented on #23055
Hi：
     What settings are required for ray to read hdfs ？Look forward to your reply, thank you.

[2022-11-17 07:32] bveeramani opened #30393 "[Datasets] Deprecate `flat_map`"
### Description

Deprecate and then eventually remove `ray.data.Dataset.flat_map`.

### Use case

There're many map-related methods:
* `map`
* `map_batches`
* `flat_map`

It's confusing.

We can make dataset transformations less confusing by eliminating `flat_map`. Few people use `flat_map`, so removing it shouldn't be an issue.

[2022-11-17 07:34] Capiru opened #30394 "[RLLib] DefaultCallbacks returning an empty policy dictionary"
### What happened + What you expected to happen

When tried to interact with policies within the DefaultCallbacks, I noticed that all policies are returned as an empty dictionary, including when tried to access from the worker's attributes.

What should be happening is: returning a dict: {"id_0": PolicyClass, "id_1": PolicyClass} for multi policy optimization and {"default" : PolicyClass} for sing

[2022-11-17 07:34] bveeramani opened #30395 "[Datasets] Add developer annotation to `Dataset.to_*_refs` methods"
### Description

`to_numpy_refs`, `to_pandas_refs`, and `to_arrow_refs` are intended for developers, but you wouldn't know it by looking at the documentation.

### Link

For example, https://docs.ray.io/en/master/data/api/input_output.html#ray.data.from_numpy_refs.

[2022-11-17 07:40] bveeramani opened #30396 "Improve visibility of API annotations"
### Description

The developer API annotation isn't discoverable. It's plaintext, and it's easily missed if the docstring is long.

This is a problem because some users call developer APIs thinking they're intended for end-users.

![image](https://user-images.githubusercontent.com/26107013/202385068-72621330-cd91-4678-980b-59d8ec6e4ef9.png)

### Link

_No response_

[2022-11-17 08:05] bveeramani opened #30399 "[Datasets] Improve `iter(dataset)` error message"
### Description

If you try to iterate through a dataset, you get an unhelpful error.

[code]

We should provide a more descriptive error along the lines of:
[code]

### Use case

New users may intuitively try to iterate through a dataset. The error message should redirect users to the appropriate methods.

[2022-11-17 08:11] bveeramani opened #30400 "[Datasets] Hide `ArrowRow` and `PandasRow` abstractions"
### Description

If you take items from a dataset, you get `ArrowRow`s or `PandasRow`s.
[code]

This is bad because it leaks implementation details, like how we use Arrow.

We could hide the implementation details by following the [pimpl pattern](https://en.cppreference.com/w/cpp/language/pimpl).

### Use case

Leaky abstractions are bad.

[2022-11-17 08:12] karthikbharadhwajKB opened #30401 "Couldn't see the checkpoint files from Ray rllib 2.1.0"
### What happened + What you expected to happen

From Rllib 2.1.0, I am using Marwil model on Custom Environment and using python Trainer API , I couldn't see Checkpoint files anymore, I am using agent.save(), and when trying to do the restore checkpoints, Its has some other files like meta files for .is_checkpoint, .tune_metadata, algorithm_state.pkl, rllib_checkpoint and policies Directory, I tr

[2022-11-17 08:13] bveeramani opened #30402 "[Datasets] Rename `TableRow` to make it clear that it works like a `dict`"
### Description

Rename `TableRow` something like `RowDict`.

See also #30400

### Use case

It's not obvious that `TableRow` is basically a `dict`.

[2022-11-17 08:17] bveeramani opened #30403 "[Datasets] [AIR] Add `TorchVisionPreprocessor`"
### Description

Add a preprocessor like

[code]

that applies [TorchVision transforms](https://pytorch.org/vision/stable/transforms.html).

### Use case

To apply a simple `TorchVision` transform like:

[code]

You need to something like this:

[code]

which is complicated.

With a `TorchVisionTransformer`, you could instead do:

[code]

which is simpler.

[2022-11-17 08:22] rkooo567 commented on #30229
@Data-drone are you open to try the fix ^ using the wheel I will provide?

[2022-11-17 08:23] bveeramani opened #30405 "[Datasets] Unexpected argument error in Jupyter notebooks"
### What happened + What you expected to happen

I created a synthetic dataset. I expected to see the dataset representation without errors, but got a `TypeError` instead.

Looks like this was introduced in this PR: https://github.com/ray-project/ray/pull/30039/files#r1018696149.

### Versions / Dependencies

Ray: b0efdb8d9645add54f51aa18cbcf1530dab82791

### Reproduction script

![image](https://

[2022-11-17 08:35] bveeramani opened #30406 "[Datasets] Can't return ragged array in UDF"
### What happened + What you expected to happen

I tried to apply a function to a batch of ragged images, but I got `ValueError: could not broadcast input array from shape (3,300,400) into shape (3,)`.

### Versions / Dependencies

Ray: b0efdb8d9645add54f51aa18cbcf1530dab82791
Dependencies: https://gist.github.com/bveeramani/2b8678c289ae2faf19d00b7371ddfeba
OS: Linux
Python: 3.7

### Reproduction

[2022-11-17 08:39] bveeramani opened #30407 "[Datasets] Wrong batch type passed to UDF"
### What happened + What you expected to happen

I applied a UDF to a dataset containing structured data. I expected my UDF to receive a dict as input, but I got an ndarray instead.

### Versions / Dependencies

Ray: c7115135ea131b29bd6ff3d32e4f90297e5e770e
OS: M1 Mac
Python: 3.10.8

### Reproduction script

[code]

### Issue Severity

Low: It annoys or frustrates me.

[2022-11-17 08:42] bveeramani commented on #27871
Closing as a duplicate in favor of #25426 (because it was first and there's more discussion there)

[2022-11-17 08:42] #27871 closed

[2022-11-17 08:43] bveeramani commented on #25426
Copying over @rkooo567's suggestion from #27871:

[2022-11-17 08:45] bveeramani opened #30408 "[Datasets] [Docs] Add glossary to Ray Datasets"
### Description

Title.

Also add https://sphinx-hoverxref.readthedocs.io/en/latest/usage.html#tooltip-on-glossary-terms.

In particular, we should define:
* Batch formats
* UDF
* Dataset types like tensor dataset

### Link

_No response_

[2022-11-17 08:51] yiwei00000 commented on #30336
from pyarrow import fs
hdfs_fs = fs.HadoopFileSystem.from_uri("hdfs://name-service-id/?user=root")
ds = ray.data.read_csv('/b.csv', filesystem=hdfs_fs)

[2022-11-17 08:51] #30336 closed

[2022-11-17 08:55] bveeramani opened #30409 "[Datasets] Revise "Getting Started" page"
### Description

Revise the "Getting Started" page to:
* Break up large code snippets into smaller chunks
* Use `>>>` syntax instead of comment outputs
* Remove unimportant information like
[code]
* Maybe show different code snippets for difference use cases, like images and tabular?

### Link

https://docs.ray.io/en/latest/data/getting-started.html

[2022-11-17 08:58] bveeramani opened #30410 "[Datasets] Revise "ML Preprocessing" page"
### Description

There're a few issues:
* No mention of AIR preprocessors (this is the big one)
* Overlap with "Transforming datasets"
* Long code snipppets

### Link

https://docs.ray.io/en/master/data/dataset-ml-preprocessing.html

[2022-11-17 09:18] #30401 closed

[2022-11-17 09:29] karthikbharadhwajKB commented on #30401
Sorry, I found the solution, when we are using restore we can use the algorithm_state.pkl file for restoring the checkpoint !!

Thanks

[2022-11-17 09:54] karthikbharadhwajKB opened #30411 "Critic Regularized Regression (CRR) model is getting error with Custom Environment"
### What happened + What you expected to happen

I am using CRR model with custom environment, I am getting this error

**q_vals = q_model(model_out)[rows, actions].unsqueeze(-1)
IndexError: tensors used as indices must be long, byte or bool tensors.**

So I tried CRR with Cart-Pole environment, It's working fine !!.

Can you please help me on this ??

Thank you

### Versions / Dependencies

Pytho

[2022-11-17 10:32] ericl commented on #30393
We can't remove flat_map, as it's a fundamental dataset operation. We would also remove map at the same time.

[2022-11-17 10:57] Clown1206 opened #30412 "[RLlib] Error when running RLlib"
### What happened + What you expected to happen

I'm just starting to learn to use ray，I have a mistake, but I don't know how to solve it
[code]

### Versions / Dependencies

ray=2.0
python=3.7

### Reproduction script
[code]
### Issue Severity

_No response_

[2022-11-17 11:50] bveeramani commented on #30393
@ericl I had discussed this with @clarkzinzow before opening an issue.

Could you elaborate on why we need to remove `flat_map` and `map` at the same time?

[2022-11-17 14:56] erezinman opened #30414 "A notable difference bewteen tasks and actors when it comes to GPU memory deallocation with PyTorch"
Hi,
I came across an annoying bug when using tasks with PyTorch. It seems that when a function is executed within an actor, the allocated memory deallocates properly, but when executing a method as a task, the GPU's memory is not cleared.

While the whole code is given below, the difference in calling as a task/actor is the following code:

[code]

## Full code
<details>
Consider the following cod

[2022-11-17 15:50] 0asa commented on #30333
The recommended way (according to [this](https://docs.ray.io/en/latest/train/faq.html?highlight=resources_per_worker#my-multi-node-pytorch-gpu-training-is-hanging-or-giving-me-obscure-nccl-errors-what-do-i-do)) seems to be something like (you must do this via Ray runtime environments so it propagates to training nodes):

[code]

(this solution does not seem to work in my case...)

[2022-11-17 15:56] walid0925 commented on #30091
fwiw, I've recently run into the same issue even without using `tune.with_parameters` and just using `partial`

I launched multiple processes using the same `trainable`, aka an objective function - but using different datasets for each. one was a regression task and one was a classification task, and the results in the Tune CLI showed that these were intermingling

[2022-11-17 16:23] Yard1 commented on #30368
I think the last option makes the most sense. I dislike making `TorchCheckpoint` too dissimilar from the other checkpoints. Furthermore, we will want to support models saved to disk as well, so we should avoid overfitting to the dict workflow.

I think it is fine to have the model be special cased, given that it's used in prediction, as opposed to other fields (same with preprocessor).

[2022-11-17 16:39] nutjob4life opened #30416 "pip cannot install ray on Alpine Linux"
### What happened + What you expected to happen

Using `pip` to install `ray` on a container using the Alpine Linux version of the Python 3.9 Docker image fails:

[code]
Curiously, it works fine with the Debian version:
[code]

### Versions / Dependencies

- `ray==2.1.0`
- Docker image `python:3.19-alpine3.16`
- Docker 20.10.17

### Reproduction script

`docker container run --rm --entrypoint pip

[2022-11-17 17:00] jaredvann commented on #27978
An example of this:

[code]

gives:

[code]

Also confusingly the doc string descriptions for `Algorithm.compute_actions` and `Algorithm.compute_single_action` in the docs are the same (https://docs.ray.io/en/latest/rllib/package_ref/algorithm.html)

[2022-11-17 17:04] #30368 closed

[2022-11-17 17:30] ju2ez opened #30418 "No CUDA when combining with_resources and with_parameters"
### What happened + What you expected to happen

When passing multiple objects to tune.with_parameters CUDA is not recognized anymore in the trainable process.

What I did:

The adding of a parameters next to the trainable in the with_parameters function leads to tune not detecting the GPU anymore.

Any thoughts?

### Versions / Dependencies

Ray Version 2.1.0

### Reproduction script

[code]

[co

[2022-11-17 17:42] #30418 closed

[2022-11-17 17:49] simon-mo commented on #30369
This issue happens on 2.0.1 as well, so downgrade wasn't viable.

[2022-11-17 18:12] #29419 closed

[2022-11-17 18:36] cadedaniel commented on #30315
Spoke with @stephanie-wang, looks like a failure in test logic (the OutOfDisk error is expected). I will mark as unstable so this isn't release blocking.

[2022-11-17 19:01] ericl commented on #30375
Yes, that's right. The raylet is internally tracking `worker_id -> List[ObjectId]` in DependencyManager, removing the pull request when the object becomes local or the worker is removed. Each call to ray.wait() adds any new refs to that list for the worker.

The only inefficiency I can see here is that the object might get evicted prior to ray.get() on the Python side, but that probably doesn't ha

[2022-11-17 19:05] ericl commented on #30393
To elaborate here:
1) flat_map is a fundamental dataset operation. A large number of workloads are not possible to express without using flat_map, in addition to map.
2) Users coming from other data systems like tf.Data / Spark will expect this functionality.
3) It's technically possible to also express this in map_batches(), but the same is true for map()--- so this is an inconsistent decision.

[2022-11-17 19:32] Wendi-anyscale commented on #30393
This is a high-severity issue from the ux assessment. @ericl do you think we would have any good ways to solve the confusion at the API level? Otherwise, Updating the doc with a comparison table of these 3 options, ideally clear decision-making tree designed for the users to choose which one to use would be a temporary fix.

[2022-11-17 19:36] xwjiang2010 opened #30424 "[release][core] chaos_many_tasks_no_object_store is failing"
https://buildkite.com/ray-project/release-tests-branch/builds/1199#01848282-8ca1-4fd8-9197-80b0492513da

[2022-11-17 19:36] xwjiang2010 commented on #30424
@iycheng @scv119 could you triage as core-oncall? Thanks!

[2022-11-17 19:38] xwjiang2010 opened #30426 "[release][core] many_tasks is failing"
https://buildkite.com/ray-project/release-tests-branch/builds/1199#01848282-8d09-4544-82a6-0112fd671bda

[2022-11-17 19:40] xwjiang2010 commented on #30426
@iycheng @scv119 could you triage? Thanks!

[2022-11-17 20:15] cadedaniel opened #30429 "[Datasets] Improve ray-data-bulk-ingest-out-of-core-benchmark error handling, mark as stable"
This test was failing before the 2.2 release and [marked as unstable](https://github.com/ray-project/ray/pull/30428) since it appears to be caused by the test incorrectly handling an expected failure. We should improve this so the test is stable.

[2022-11-17 21:01] kouroshHakha commented on #30299
a2c -- still failing, owner: @sven1977
a3c -- still failing, owner: @kouroshHakha
appo, ppo, impala -- fix has been made, if infra allows we will run the tests and merge the fix. ✅
multi-gpu tests are fixed. ✅
The rest are infra failures afaik.

[2022-11-17 21:08] #30315 closed

[2022-11-17 21:09] justinvyu opened #30431 "[AIR] [CI] BatchMapper needs to have `batch_format` set in all CI tests/examples"
### What happened + What you expected to happen

https://github.com/ray-project/ray/pull/30366 removed the default pandas batch format, and users are now required to specify the format in `BatchMapper(..., batch_format=...)`.

### Versions / Dependencies

master

### Reproduction script

These are the tests that need to have `batch_format` specified:

<img width="1617" alt="Screen Shot 2022-11-17

[2022-11-17 21:15] ericl commented on #30414
Hey @erezinman , I think this behavior is fixed in Ray nightly, could you verify?

This was the tracking issue: https://github.com/ray-project/ray/issues/29624

After the patch, Ray will destroy the task worker for GPU tasks by default after it runs, preventing such leaks.

[2022-11-17 21:16] clarng opened #30433 "[core] adjust oom defaults"
### What happened + What you expected to happen

set defaults
memory_usage_threshold_fraction = 0.95
min_memory_free_bytes = -1

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-17 21:21] clarng commented on #30433
Nightly tests : https://buildkite.com/ray-project/release-tests-pr/builds?branch=clarng%3Aoomdef

[2022-11-17 21:22] #30321 closed

[2022-11-17 21:23] #30342 closed

[2022-11-17 21:50] scottsun94 commented on #27883
@pcarinhas Could you describe how you want to "add data (like tags)" with more details?

[2022-11-17 22:10] Data-drone commented on #30229
sure I can

[2022-11-17 22:15] ericl opened #30436 "[jobs] Provide a "is_running_tasks" bit in the JobStatus to check interactive job status"
## The Problem

Currently, the JobStatus "RUNNING" state can be misleading for interactive jobs. For example, if a user ran `ray.init()` in a terminal and nothing else, this shows as a running job, but there is not actually anything going on. This is misleading when cluster managers are using this status bit to decide whether the cluster is idle or not.

## Proposed Solution
Add a "is_running_task

[2022-11-17 22:15] pcmoritz commented on #30249
@scv119 Sounds like a reasonable proposal, if we do this, let's also consider the impact on performance if we always do `persist_storage.write(a_unique_key)` in the constructor :)

[2022-11-17 22:45] justinvyu commented on #29922
Smoke test version (2 nodes, 2 workers per node) also has the vanilla TF run fail: [cluster link](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_mWECugke9RzMh79BZQqeykjN/clusters/ses_ruyBekz4Z3Zxs1fJtQ5hy4bn?command-history-section=head_start_up_log)

Plan now is to debug with the 2x2 smoke test.

Also, a separate issue: currently, if all 3 retries of the vanilla TF run fail

[2022-11-17 22:50] rickyyx commented on #29911
Landed https://github.com/ray-project/ray/pull/30219. Waiting for next succesful run to close the issue.

[2022-11-17 22:59] xwjiang2010 commented on #29922
Thanks @justinvyu

Yeah then let's debug on 2 X 2 case.

We can fix this by throwing a dedicated error.

[2022-11-17 23:09] theicfire commented on #18529
The other quick solution: use an ssh key that's not password protected

[2022-11-17 23:56] #29848 closed

[2022-11-17 23:57] rkooo567 commented on #30229
@Data-drone you can try the master wheel for verification https://docs.ray.io/en/master/ray-overview/installation.html#daily-releases-nightlies

[2022-11-18 00:00] jianoaix opened #30444 "[Datasets][Doc] Audit the Ray Data docs to make sure APIs are linked"
This is a consistent feedback from multiple UX assessments: When a user is looking at an example, they need detailed level API information to understand how to use it. We should make sure this in Ray Data docs.

[2022-11-18 00:21] xwjiang2010 opened #30447 "[Datasets] [Release] Ray-date-bulk-ingest-file-size-benchmark timing out"
https://buildkite.com/ray-project/release-tests-branch/builds/1201#018487a9-0179-47cc-8875-0f6af7d3f629

[2022-11-18 00:21] xwjiang2010 commented on #30447
@cadedaniel could you help triage? Thanks!

[2022-11-18 00:33] peytondmurray commented on #30405
@bveeramani If it's okay with you, I'll just drop the `stacklevel` kwarg for python < 3.8. We _could_ backport the stacklevel feature, but it would take a bunch of lines of code and probably isn't worth the maintenance effort. As I see it, `3.7` will be reaching end of life in 7 months, and we'll probably want to drop support around them anyway. What do you think?

[2022-11-18 00:56] Wendi-anyscale opened #30449 "[<Ray doc: Getting started>]"
### Description

We found people want to quickly start from simply parallelizing python code ->

- [ ] Ray Core Quick Start should be put at the top of the quick tutorials

- [ ] "Ray Core Quick start" -> "Simply scale code with Ray"

### Link

https://docs.ray.io/en/latest/ray-overview/index.html

[2022-11-18 01:03] cadedaniel opened #30451 "[Datasets] Stabilize ray-data-bulk-ingest-file-size-benchmark"
During release test runs for 2.2, this test was timing out ([cluster](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_ghTtTP2Ui1PBPD8U4V1N7dvZ?command-history-section=command_history)). I'm not sure why it timed out.

[2022-11-18 01:04] cadedaniel commented on #30447
Same story as the other one -- let's mark as unstable and follow up as a P1.

[2022-11-18 01:12] darwinharianto commented on #30333
@0asa Thanks!
It works, can't believe is missed that section...

maybe you have different network interface on each workers?
Can you share that?

[2022-11-18 01:17] jovany-wang commented on #30249
So if we do this, maybe it's more reasonable to introduce a new state for actor instead of using persist storage.
Once the constructor is created at the first time, a new state `CREATED` should be set(It can be added to the create actor RPC reply, to avoid RPC roundtrip).

[code]

[2022-11-18 01:59] sgbaird commented on #8018
@bitosky do you mind sharing your custom scheduler and analyzer example?

Also came across [Optuna Multi-objective Example](https://docs.ray.io/en/releases-1.12.1/tune/examples/includes/optuna_multiobjective_example.html) in the Ray docs. It mentions that schedulers may not work correctly with multi-objective optimization.

[2022-11-18 02:03] xwjiang2010 commented on #29922
things are significantly slower as well after we upgrade our docker cuda version?

cc @amogkam

![Screen Shot 2022-11-17 at 5 21 42 PM](https://user-images.githubusercontent.com/87673679/202594918-afaa0223-8f8b-4a4b-b76b-5d0cced9338f.png)

Also @justinvyu found out this may be a native issue with Mirrored Strategy: https://github.com/tensorflow/tensorflow/issues/55250
Kai already referenced it her

[2022-11-18 02:07] ewzeng opened #30452 "[Clusters] Specify ray ssh port"
### Description

`ray up` will hang if I run ssh services behind a port that is not port 22. This is probably because `ray up` uses port 22 to ssh into nodes.

It would be nice if I could specify which port ray uses for ssh.

### Use case

Before running a ray application in the cloud, I would like to test the application locally. To do so, I spin up a docker container (as the head node), bind por

[2022-11-18 02:07] iycheng opened #30453 "[core] Test cancel is flakey"
Test cancel is flakey due to https://github.com/ray-project/ray/commit/3fbd9a66389fd720cb38da252498b7d485beeedc

Need to fix the issues before 2.2 release.

[2022-11-18 03:12] thatcort opened #30456 "[Core] Support retry_exceptions on Actors"
### Description

Ray tasks have the option to retry on user code exceptions by setting `retry_exceptions=True`. Ray actors should have this same option.

### Use case

I was stuck choosing between actors for concurrency control or tasks for retry logic. More context is available here: https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1668728093320269

[2022-11-18 03:23] c21 opened #30458 "[Core] Generator API does not work with Ray Client"
### What happened + What you expected to happen

When enabling dynamic block splitting in Datasets (i.e. enabling using generator API from Core), found it failed CI test `python/ray/tests/test_usage_stats.py::test_library_usages[True]`, with stack trace:

[code]

With generator API, `num_returns` would be "dynamic", but not an integer. So it looks like generator API does not work with current Ray

[2022-11-18 03:24] c21 commented on #30458
cc @stephanie-wang FYI.

[2022-11-18 05:06] rkooo567 commented on #30456
cc @scv119 maybe we can prioritize for ray 2.3? It's weird we only have this option on tasks

[2022-11-18 05:11] #27827 closed

[2022-11-18 05:21] kouroshHakha opened #30463 "[Tune] How should I specify nested metric keys for obtaining best results from ResultGrid"
### Description

The doc here does not examplify how I should specify the metric for a case where metric key is in a nested dict (e.g. a/b/c so it's not obvious to the user how they should query for their particular metric) An example would be ideal to have here. https://docs.ray.io/en/latest/tune/api_docs/result_grid.html

### Link

https://docs.ray.io/en/latest/tune/api_docs/result_grid.html

[2022-11-18 05:24] #30431 closed

[2022-11-18 06:00] #28878 closed

[2022-11-18 06:05] DmitriGekhtman commented on #28227
Closing in favor of https://github.com/ray-project/kuberay/issues/737
Let's track Ray-on-K8s issues in the KubeRay repo.

[2022-11-18 06:05] #28227 closed

[2022-11-18 06:15] darwinharianto commented on #22319
Seeing the same thing
python 3.7.13 and ray 2.1.0
macOS Ventura 13.0
intel chip

[code]

[2022-11-18 06:54] DmitriGekhtman commented on #30046
Going to move this issue to the KubeRay repo.

[2022-11-18 06:56] kira-lin opened #30465 "[AIR] [Datasets] dataset returned by get_dataset_shard does not have schema"
### What happened + What you expected to happen

I'm using TensorflowTrainer. When I call to_tf on the dataset returned by `get_dataset_shard("evaluate")`, it prints the following error message:

But it works with `get_dataset_shard("train")`

### Versions / Dependencies

I'm using ray 2.1.0, python 3.8.8, tensorflow-cpu 2.10.0

### Reproduction script

[code]

### Issue Severity

Medium: It is a

[2022-11-18 06:58] DmitriGekhtman commented on #30046
https://github.com/ray-project/kuberay/issues/739

[2022-11-18 07:08] kevin85421 commented on #29665
I will take a look at this issue.

[2022-11-18 12:55] simonsays1980 opened #30471 "[RLlib] Tensorboard iterations do not start at zero"
### What happened + What you expected to happen

# What happened
When running `RLlib` experiments with `Tune` iterations on Tensorboard start at the timestep on which the first iteration is finished instead of at zero.

# What I expected to happen
I expected that Tensorboard starts at an initial timestep `0` with rewards from the random policy.

### Versions / Dependencies

Fedora 36
Python 3.9.0

[2022-11-18 14:43] 0asa commented on #30333
Hi @darwinharianto !

Happy to help, you're welcome.

And you helped me as well in solving my issue. It was indeed a matter of network interface names.
I had to rename the interfaces (using `nmcli`) and everything went smoothly.

I'm a bit surprised that Ray overrides the default `nccl` config with `DEFAULT_NCCL_SOCKET_IFNAME`.
Knowing one can set `NCCL_SOCKET_IFNAME` statically as well (using `/e

[2022-11-18 16:15] xwjiang2010 opened #30474 "[CI] `windows://python/ray/tests:test_runtime_env` is failing/flaky on master."
- 289394e281b76316bdafdf4a8a257271863e3fdf FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1151#0184893c-3db7-4714-9d8a-c8051a484229)
- 23fa7c32023b0b698d24c7b5bc8e5c4d8612476b FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1150#01848931-e652-4089-b612-465851cc9ab8)
- ca00916a7917aa5114a1

[2022-11-18 16:16] xwjiang2010 commented on #30474
@architkulkarni could you help triage? This test has been pretty flaky recently.

[2022-11-18 16:29] xwjiang2010 commented on #30299
![Screen Shot 2022-11-18 at 8 27 18 AM](https://user-images.githubusercontent.com/87673679/202753512-b9b266ac-4123-4ba2-99b9-f6bea1754af0.png)

Most updated run from yesterday.
Things are getting better. @kouroshHakha could you update when the appo/ppo/impala fixes are landed.

Also just want to be clear, there are also two long running rllib tests are failing consistently:
long_running_apex/impal

[2022-11-18 17:15] clarkzinzow commented on #30453
For context: this is because importing many libraries (e.g. Arrow, Pandas, Torch) is not reentrant, and task cancellation is occasionally interrupting the Arrow import triggered via [this deserialization add-on](https://github.com/ray-project/ray/blob/b7072ea244bae72344e9dca9ebeddf9426090673/python/ray/util/serialization_addons.py#L66), which we are then trying to import again when serializing the

[2022-11-18 17:49] bveeramani commented on #30405
@peytondmurray yeah, that totally makes sense to me.

[2022-11-18 18:00] thatcort commented on #29503
I just hit this pyarrow version problem when I tried to use `pyarrow.Table.to_pylist()` and discovered it doesn't exist.

[2022-11-18 18:04] rickyyx commented on #29911
Was able to [pass (after retry) on the recent master](https://buildkite.com/ray-project/release-tests-branch/builds/1201#018488f6-b8c9-4550-ada7-247b49c37228) - this should not be a release blocker anymore, but the core team will monitor and keep optimizing the test.

[2022-11-18 18:04] #29911 closed

[2022-11-18 18:05] rickyyx commented on #30426
Same issue as this: https://github.com/ray-project/ray/issues/29911

[2022-11-18 18:05] #30426 closed

[2022-11-18 18:21] erezinman commented on #30414
I didn't try if that's fixed by it, but I presume that it would. I noticed that even using a "dummy actor" fixed it.
"dummy actor":
[code]

[2022-11-18 18:37] ericl commented on #30414
Yup, that's the same issue then. For actors, we always destroy their worker processes after they are killed, so GPU memory leaks aren't an issue. Previously, for GPU tasks we re-used the workers (this was the default for CPU tasks), but that change defaults GPU tasks to have `@ray.remote(max_calls=1)` by default, also destroying their worker processes after the task finishes.

[2022-11-18 18:57] #30265 closed

[2022-11-18 19:08] DmitriGekhtman commented on #13270
https://github.com/ray-project/kuberay/issues/741

[2022-11-18 19:14] clarkzinzow commented on #29503
@thatcort @spolcyn Just to note, support for Arrow 7 through Arrow 10 (and Arrow nightly) has been added in Ray nightly, and will be released in Ray 2.2! See [this milestone](https://github.com/ray-project/ray/milestone/103) for all issues involved with this effort, and the below individual issues and sub-issues for each bug addressed.
- https://github.com/ray-project/ray/issues/29992
- https://gi

[2022-11-18 19:14] #29503 closed

[2022-11-18 19:15] spolcyn commented on #29503
Thanks for making this happen! Looking forward to Ray 2.2

[2022-11-18 19:33] #28082 closed

[2022-11-18 19:33] #28621 closed

[2022-11-18 20:15] matthewdeng commented on #28528
@Yard1 I think there's still a sizable gap as a user to understanding how to work with Trial level checkpoints/artifacts/files as a whole.

As a user I need to stitch together the information from:
- [Trainable API Docs](https://docs.ray.io/en/master/tune/api_docs/trainable.html#function-api-checkpointing)
- [Analyzing Results](https://docs.ray.io/en/master/tune/examples/tune_analyze_results.html#

[2022-11-18 20:27] matthewdeng commented on #30465
@jianoaix can you take a look here?

At a glance it appears related to #29635, though I was able to reproduce the issue locally with a nightly wheel (05451bbee062e50163c0501ce43e76a7ed4ee2db).

[2022-11-18 20:34] thatcort commented on #29503
Hooray! :)

[2022-11-18 21:06] clarkzinzow commented on #30400
May want to consolidate this with: https://github.com/ray-project/ray/issues/30402

[2022-11-18 21:18] matthewdeng commented on #30412
@Clown1206

Are you able to apply the suggestion in the warning?

Alternatively, can you provide a repro script?

[2022-11-18 21:23] hora-anyscale commented on #30291
Dupe of https://github.com/ray-project/ray/issues/30292

[2022-11-18 21:23] #30291 closed

[2022-11-18 21:24] clarkzinzow commented on #30058
@matthewdeng This could be cleaner with the execution refactor, but we could do this now pretty easily if this feature sounds compelling.

[2022-11-18 21:26] clarkzinzow commented on #29761
@hora-anyscale 2.3, I believe.

[2022-11-18 21:32] hora-anyscale commented on #28896
Per Triage Sync: Test is still flaky, root cause unknown

[2022-11-18 21:33] matthewdeng commented on #28891
This has been fixed in 2.1.0: https://github.com/ray-project/ray/pull/28327
Related Issue: https://github.com/ray-project/ray/issues/28326

[2022-11-18 21:33] #28891 closed

[2022-11-18 21:41] DmitriGekhtman commented on #28896
@wuisawesome could you exclude this from the osx build?

[2022-11-18 21:41] DmitriGekhtman commented on #28896
(I'm not sure how to do that)

[2022-11-18 22:25] sihanwang41 commented on #30345
Intermitted failures.

[2022-11-18 22:25] #30345 closed

[2022-11-18 22:25] sihanwang41 commented on #30296
intermitted failures

[2022-11-18 22:25] #30296 closed

[2022-11-18 22:36] c21 commented on #30380
Good win to get rid of actor-based prefetcher.

[2022-11-18 22:38] c21 commented on #30348
@bdewilde - thanks for opening this issue. Do you want to create a PR for this?

[2022-11-18 23:02] Ericxgao opened #30487 "Ray Core: Actor is queueing up function calls?"
### What happened + What you expected to happen

I have a load balancer named actor that I use to manage an actor pool, in some script `submitjob.py`

[code]
When this actor is created, it creates an actor pool with two actors, and then stays alive even when this script finishes.

When I run submitjob.py the first time, all is well - the script exits quickly and submits a function to be run in the

[2022-11-18 23:12] rkooo567 commented on #30487
What's the output of `ray list actors` when you first & second submit jobs? Also what's the output of `ray summary tasks` and `ray status` when it hangs?

[2022-11-18 23:14] justinvyu opened #30488 "[Tune] [CI] `linux://python/ray/tune:test_warnings` is flaky on master."
- 303042fef01e3b3773f39c1c648dbb7d76eed22d FAILED [Buildkite :octopus: Tune tests and examples (small)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1094#01848321-4a3e-48b9-9943-95850585d2b2)

<img width="1603" alt="Screen Shot 2022-11-18 at 3 05 58 PM" src="https://user-images.githubusercontent.com/3887863/202817707-8dcf52e9-805c-4eb7-8ada-aab4a38f6010.png">

Error output:

[code]

[2022-11-18 23:19] Ericxgao commented on #30487
After restarting ray head:

First job:

`ray list actors`

[code]

 Second job:

 `ray list actors`

[code]

 `ray status`

[code]

`ray summary tasks`

[code]

[2022-11-18 23:19] justinvyu opened #30489 "[Tune] [CI] linux://python/ray/train:test_base_trainer is flaky on master."
Ignore the failures - flakiness is a separate issue that has been going on for a while.

<img width="1592" alt="Screen Shot 2022-11-18 at 3 15 38 PM" src="https://user-images.githubusercontent.com/3887863/202818580-4d321cc0-352d-46ce-83fe-e1844f3a6d06.png">

Error: https://buildkite.com/ray-project/oss-ci-build-branch/builds/1161#01848c94-67ad-43bb-8b05-5126db6a81e8
[code]

[2022-11-18 23:48] jianoaix opened #30490 "[Datasets] Perf regression in DatasetPipeline ingest benchmark"
The following is the result out of running release/nightly_tests/dataset/data_ingest_benchmark.py. There was a significant regression since 11/8.

<img width="999" alt="Screen Shot 2022-11-18 at 2 32 21 PM" src="https://user-images.githubusercontent.com/99709935/202821373-86c47700-bbe7-479e-8d19-1adba187b98d.png">

[2022-11-18 23:51] c21 commented on #30490
Given the regression is big and looks like related to PyArrow (we shall figure out if this is a issue with benchmark itself or real code), bump the priority to P0.

[2022-11-18 23:54] jianoaix commented on #30490
Yeah, actually the right-hand side is running a similar benchmark (just bulk not pipeline), so it would be both bench itself or a real regression.

[2022-11-18 23:59] #30444 closed

[2022-11-18 23:59] #30119 closed

[2022-11-19 00:03] gshimansky opened #30493 "[Core] Access violation on windows 11 when running modin workload"
### What happened + What you expected to happen

I have a strong suspicion that this bug is specific to Windows 11 because before I upgraded my workstation to Windows 11 I could execute the same workload just fine on windows 10. The problem is reproducible on 40 cores Intel Cascade Lake system and 64 cores AMD Threadripper systems, both win11 22H2 build 22621.819.

Most often I get no exception or

[2022-11-19 00:11] xwjiang2010 opened #30494 "[release][core] agent_stress_test is failing"
https://buildkite.com/ray-project/release-tests-branch/builds/1202#01848cdc-3024-4057-8897-42b1709345c6

[2022-11-19 00:20] xwjiang2010 opened #30497 "[release][serve] long_running_serve is failing"
https://buildkite.com/ray-project/release-tests-branch/builds/1202#01848cdc-2ee2-45a6-bd49-7d7d2951604b

[2022-11-19 00:25] xwjiang2010 opened #30498 "[release][core] all microbenchmark_* are failing"
https://buildkite.com/ray-project/release-tests-branch/builds/1202#_

(AsyncActor pid=47938) sys:1: RuntimeWarning: coroutine 'execute_task.<locals>.deserialize_args' was never awaited
Traceback (most recent call last):
  File "run_microbenchmark.py", line 16, in <module>
    results = main() or []
  File "/home/ray/anaconda3/lib/python3.7/site-packages/ray/_private/ray_perf.py", line 250, in main

[2022-11-19 00:34] xwjiang2010 commented on #30490
curious... why is the regression not showing up in datasets release test? Is this tracked separately by the team and not by the release test infra?

[2022-11-19 00:40] architkulkarni commented on #30273
Noting here that a hacky workaround to use `local_mode` with any software that happens to set `runtime_env` internally is to overwrite the runtime_env by specifying `ray.init(local_mode=True, runtime_env={"working_dir": "s3://nonexistent_bucket/fake.zip"})`.  Note that `runtime_env` functionality won't work, but there will no longer be an error blocking you and you should be able to successfully u

[2022-11-19 00:41] iamk0 commented on #10753
Guys, good evening!
I search a solution to my problem and I believ that what happens here it's a same/extension of the question of the colleague above. I run this code:

import librosa, librosa.display
audio = '00b16e02-a418-47da-8341-867981ca3255.wav'
a0, fs = librosa.load(tosse, sr=None)

and revieve this message:
"
LibsndfileError                           Traceback (most recent call last)
[/us

[2022-11-19 00:45] iamk0 commented on #10753
Guys, good evening!
I search a solution to my problem and I believe that what happens here it's a same/extension of the question of the colleague above. I run this code:

import librosa, librosa.display
audio = '00b16e02-a418-47da-8341-867981ca3255.wav'
a0, fs = librosa.load(audio, sr=None)

and recieve this message:
"
LibsndfileError                           Traceback (most recent call last)
[/u

[2022-11-19 00:59] #30338 closed

[2022-11-19 01:08] jianoaix commented on #30490
This test is in release test already, but we usually have a much larger margin in release test (e.g. it timeout/fail if it's 5-10x higher of the normal time).

[2022-11-19 05:27] hanyuyangddgh opened #30505 "[Core] ray.exceptions.RaySystemError: System error: buffer source array is read-only"
### What happened + What you expected to happen

Hi team, we encountered this error with ray when using pandas: `ray.exceptions.RaySystemError: System error: buffer source array is read-only` and there seems to be still no fix yet? https://github.com/project-codeflare/codeflare/issues/39

The expected behavior should return a list when this code block is called:
[code]

the below joblib.Parallel()

[2022-11-19 06:02] Tonyhao96 opened #30506 "[Air|Tune] `CheckpointConfig` enable pure memory ckpt"
### Description

Although I set `CheckpointConfig(num_to_keep=1)` in `Tuner RunConfig`, the ckpt storage is still too huge because I set a large trial number. Too many useless trials exceed my storage quota.

I tried to set `checkpoint_config=CheckpointConfig(num_to_keep=0)`. But meet the error:

[code]

However, args document of `CheckpointConfig` says:  **If this is ``0`` then no checkpoints wil

[2022-11-19 12:47] jerry99s commented on #23894
Hi, I meet the same problem. Could anyone help in this?

[2022-11-19 16:34] DmitriGekhtman commented on #28036
Handled in
https://github.com/ray-project/ray/pull/30281
https://github.com/ray-project/ray/pull/29933
https://github.com/ray-project/ray/pull/30502
https://github.com/ray-project/kuberay/pull/740

[2022-11-19 16:34] #28036 closed

[2022-11-19 16:35] #28545 closed

[2022-11-19 16:37] #26864 closed

[2022-11-19 16:37] DmitriGekhtman commented on #26542
Solved.

[2022-11-19 16:37] #26542 closed

[2022-11-19 16:38] DmitriGekhtman commented on #23962
Tracked in https://github.com/ray-project/kuberay/issues/725
It's better to track kuberay-related issues in the kuberay repo.

[2022-11-19 16:38] #23962 closed

[2022-11-19 16:40] DmitriGekhtman commented on #23937
The clean-up didn't happen, but the docs now explain how to add custom resources.

We could use docs that explain how to do this explicitly, with an example on K8s.

[2022-11-19 16:50] DmitriGekhtman commented on #23937
Moving to https://github.com/ray-project/kuberay/issues/742

[2022-11-19 16:50] #23937 closed

[2022-11-19 16:51] DmitriGekhtman commented on #22021
Moved to https://github.com/ray-project/kuberay/issues/710.

[2022-11-19 16:51] #22021 closed

[2022-11-19 16:52] DmitriGekhtman commented on #21662
This is done.

[2022-11-19 16:52] #21662 closed

[2022-11-19 16:59] DmitriGekhtman commented on #27803
Moving to https://github.com/ray-project/kuberay/issues/743

[2022-11-19 16:59] #27803 closed

[2022-11-19 17:00] DmitriGekhtman commented on #19071
The older operator is deprecated and will be removed in Ray 2.2.0.
Closing this issue.

[2022-11-19 17:00] #19071 closed

[2022-11-19 17:01] DmitriGekhtman commented on #28126
There are docs on ingress setup in the KubeRay repo.

[2022-11-19 17:01] #28126 closed

[2022-11-19 17:05] DmitriGekhtman commented on #30328
The autoscaler does not set tags in "no updaters" mode.
For this reason `provider.node_tags[TAG_RAY_STATUS]` must be calculated by the node provider based on its knowledge of the node's state.
Semantics for the status tag are explained here: https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/batching_node_provider.py#L48

[2022-11-19 17:05] #30328 closed

[2022-11-19 17:08] DmitriGekhtman commented on #13675
Discussion of upgrades has moved to the KubeRay repo.
https://github.com/ray-project/kuberay/issues/527

[2022-11-19 17:08] #13675 closed

[2022-11-19 17:09] DmitriGekhtman commented on #26299
The operator affected by this issue is deprecated and will be removed in Ray 2.2.0.

[2022-11-19 17:09] #26299 closed

[2022-11-19 17:11] DmitriGekhtman commented on #21663
We have some progress on this.
Further particular docs issues should be tracked in the KubeRay repo.

[2022-11-19 17:11] #21663 closed

[2022-11-19 17:12] DmitriGekhtman commented on #25414
I believe this has been solved in the latest Ray and KubeRay versions.
Feel free to re-open if that's not the case.

[2022-11-19 17:12] #25414 closed

[2022-11-19 17:14] DmitriGekhtman commented on #25595
The docs have been updated.

[2022-11-19 17:14] #25595 closed

[2022-11-19 19:53] DmitriGekhtman commented on #29101
Moving discussion to the KubeRay repo:
https://github.com/ray-project/kuberay/issues/744

[2022-11-19 19:53] #29101 closed

[2022-11-19 19:55] DmitriGekhtman commented on #21683
The operator discussed in this issue has been deprecated and will be removed in Ray 2.2.0.
KubeRay has solved this issue by making autoscaling single-threaded and setting default upscaling speed to infinity.

[2022-11-19 19:55] #21683 closed

[2022-11-19 19:56] DmitriGekhtman commented on #21348
This pertains to the deprecated legacy Ray Operator.

[2022-11-19 19:56] #21348 closed

[2022-11-19 19:57] DmitriGekhtman commented on #21031
This issue pertains to the deprecated legacy Ray Operator.

[2022-11-19 19:57] #21031 closed

[2022-11-19 19:59] DmitriGekhtman commented on #18922
Release testing for Ray on K8s is tracked elsewhere. The tests in question have been removed along with the legacy Ray operator.

[2022-11-19 19:59] #18922 closed

[2022-11-19 20:00] DmitriGekhtman commented on #14700
Solved with KubeRay, which follows standard conventions for object ownership and garbage collection.

[2022-11-19 20:00] #14700 closed

[2022-11-19 20:03] DmitriGekhtman commented on #13661
`ray up` is no longer supported on K8s.

UX of debugging `ray up` failures has always been pretty bad.

[2022-11-19 20:03] #13661 closed

[2022-11-19 20:04] DmitriGekhtman commented on #13659
This general problem domain is being handled under the KubeRay project.

[2022-11-19 20:04] #13659 closed

[2022-11-19 20:08] DmitriGekhtman commented on #13674
KubeRay and other projects solve this by using KubeBuilder, which auto-generates CRDs from go structs.
You specify your custom K8s object as a go struct, which can have k8s objects like pods as members. KubeBuilder then automatically injects the schema for the k8s object when generating the CRD for the custom K8s object.

[2022-11-19 20:08] #13674 closed

[2022-11-19 20:09] DmitriGekhtman commented on #13657
We have gotten rid of the subprocesses by deleting the operator altogether. Use KubeRay instead.

[2022-11-19 20:09] #13657 closed

[2022-11-19 20:10] DmitriGekhtman commented on #13569
KubeRay works fine on OpenShift.

[2022-11-19 20:10] #13569 closed

[2022-11-19 20:11] DmitriGekhtman commented on #15754
Cluster state observability handled under KubeRay project.

[2022-11-19 20:11] #15754 closed

[2022-11-19 20:13] DmitriGekhtman commented on #12959
Improving the behavior of KubeRay when Ray cluster configuration is changed is tracked in the KubeRay repo.

[2022-11-19 20:13] #12959 closed

[2022-11-19 20:14] DmitriGekhtman commented on #12879
Solved for VMs, tracked elsewhere for KubeRay.

[2022-11-19 20:14] #12879 closed

[2022-11-19 20:17] DmitriGekhtman commented on #12966
Documented the behavior for VMs. (Hopefully the doc refactor didn't accidentally delete that.)
Related issues tracked for KubeRay.

[2022-11-19 20:17] #12966 closed

[2022-11-19 20:19] DmitriGekhtman commented on #13369
Closing, we can open an issue in the KubeRay repo if there are still similar questions.

[2022-11-19 20:19] #13369 closed

[2022-11-19 20:21] DmitriGekhtman commented on #17022
This has been solved via the "Drain node api" -- the autoscaler now kills Ray workers by RPC before scaling down the underlying machine/pod.

[2022-11-19 20:21] #17022 closed

[2022-11-19 20:21] DmitriGekhtman commented on #14789
This is now under control, doesn't need to be tracked.

[2022-11-19 20:21] #14789 closed

[2022-11-19 20:22] DmitriGekhtman commented on #17546
It's documented.

[2022-11-19 20:22] #17546 closed

[2022-11-19 20:24] DmitriGekhtman commented on #17063
The operator in question has been deprecated.
Downscaling is more robust with KubeRay, probably.

[2022-11-19 20:24] #17063 closed

[2022-11-19 20:24] DmitriGekhtman commented on #17024
KubeRay has separate charts for deploying the operator and Ray clusters.

[2022-11-19 20:24] #17024 closed

[2022-11-19 20:26] DmitriGekhtman commented on #20614
unknown if this is still an issue

[2022-11-19 20:29] #22433 closed

[2022-11-20 01:06] clarkzinzow opened #30513 "[Datasets] Single-element ragged tensor slices have wrong NumPy representation"
Single-element ragged tensor slices (e.g. `a[5:6]`) currently have the wrong NumPy representation; namely, although they are object-dtyped, they have a multi-dimensional shape, and its single tensor element isn't well-typed (in other words, it doesn't use the pointer-to-subdarrays representation). This is due to `np.array([subndarray], dtype=object)` trying to create a more consolidated representa

[2022-11-20 03:45] #24012 closed

[2022-11-20 03:45] #25837 closed

[2022-11-20 03:59] iycheng commented on #30084
@scv119 should we make it a release blocker? I checked it and I think it could happen if:

1. actor created
2. writing to table
3. canceled
4. writing finished

==> crash

[2022-11-20 04:27] iycheng opened #30515 "[workflow] Only keep results data after workflow task finished."
### Description

Once a workflow finished, for some use cases, we don't need to store historical data and only the result is useful.

We can have the following new apis:

`workflow.run_async(dag, auto_cleanup=True|False)`

`workflow.cleanup(workflow_id=...)`

`workflow.cleanup(workflow_id=..., step_id=...)`

`.options(auto_cleanup=True)`

### Use case

related post: https://discuss.ray.io/t/ray-wo

[2022-11-20 23:04] #20614 closed

[2022-11-20 23:05] AmeerHajAli commented on #20614
Lets close for now and see if it happens again.

[2022-11-21 01:07] darwinharianto opened #30518 "[client][runtime_env] Inconsistent runs on ray client"
### What happened + What you expected to happen

I have created a cluster with docker, and wanted to call script from client.
Following the docs, I called it using `python tensorflow_mnist_example.py --address=ray://172.21.36.145:10001 --num-workers=1 --use-gpu`
The first one throws error logs
[code]

Then I tried to see what causing the error by checking the logs on docker

[code]

Not sure what

[2022-11-21 02:16] iycheng commented on #30387
@wumuzi520  could you take a look of this issue?

[2022-11-21 02:21] iycheng commented on #30292
@hora-anyscale are you connecting to a ray cluster from a node not in the cluster?

[2022-11-21 02:29] iycheng commented on #30277
@AchillesPlight not sure whether it's related to ray.
From the log it looks like related to other libs:

[code]
Do you want to check it again? like run `from tensorflow.python import pywrap_tensorflow` ?

[2022-11-21 02:49] wumuzi520 commented on #30387
Okey, let me have a look.

[2022-11-21 02:57] marianogabitto commented on #30012
Ping ....

[2022-11-21 03:35] yiwei00000 opened #30519 "[<Ray component: Core|RLlib|etc...>] Define aggregate UDF"
### Description

Hi,how to add Aggregate functions defined in files other than aggregate.py file? Such as Mean.

### Use case

_No response_

[2022-11-21 03:52] matthewdeng commented on #29662
Hey @jharaldson, sorry for the delay in response on my end. Were you able to find a working solution for this workload?

Another approach that would allow you to have the benefits of both Tune and Data would be to instead tweak your _cluster_ resource configuration. For example, it looks like the cluster you are using has 12 CPUs - if you initialize your cluster with `num_cpus=24` and set `max_con

[2022-11-21 04:06] matthewdeng commented on #30333
@amogkam seems like the current sensible default may not be entirely sensible?

cc @cadedaniel

[2022-11-21 05:05] zzb3886 commented on #29696
The vast majority of the fds are of type IPv6. As an example:
[code]

[2022-11-21 05:22] iycheng commented on #30498
[code]

[2022-11-21 05:34] iycheng commented on #30498
Reproduced. Bisecting now.

[2022-11-21 07:03] iycheng commented on #30424
The test only failed once. The log is not enough to check what's happening. I'd think close this one. @scv119 how do you think?

[2022-11-21 07:04] iycheng commented on #30298
It only failed once. Seems the same to the other chaose tests (https://github.com/ray-project/ray/issues/30424)

Suggest close this one. cc @scv119

[2022-11-21 07:06] jovany-wang commented on #30387
Does it happen in JDK11 without JEP? I'm not sure if it's related to JDK11 or JEP.
If it's related to JDK11, I think we should fix it, otherwise, we don't have the bandwidth to port Ray cross-languages invocation on JEP runtime.

[2022-11-21 07:10] jovany-wang commented on #30387
BTW, could you tell what the limits you met?

[2022-11-21 07:17] iycheng commented on #30498
Seems the offending one is 3fbd9a66389fd720cb38da252498b7d485beeedc. Still double confirming.
[code]

[2022-11-21 07:19] tianlinzx commented on #30097
This is fabulous!

[2022-11-21 07:27] johnnykre opened #30521 "[RLlib] Environment not returning correct observation (mismatch with env's observation space)."
### What happened + What you expected to happen

[code]

### Versions / Dependencies

 OS: Ubuntu 20.04.5 LTS x86_64

Dependencies :
    - ray==2.1.0
  - pip=22.2.2=py38h06a4308_0
  - python=3.8.13=haa1d7c7_1
     - tensorflow==2.10.0
    - tensorflow-estimator==2.10.0
    - tensorflow-io-gcs-filesystem==0.27.0
    - tensorflow-probability==0.18.0
     - gym==0.23.1

### Reproduction script
[code]

[2022-11-21 07:32] onegoldfish commented on #30387
No, it doesn't happen without JEP. The author of JEP said that JEP didn't use the `sun.reflect.Reflection.getCallerClass`, I don't know where this warning came from. If you think this problem is not ray related, please tell me.

As for the Cross-language in ray, I just see that there are not many serializable types in the document, which may not be convenient for use. There is no problem at presen

[2022-11-21 07:33] onegoldfish commented on #30387
No, it doesn't happen without JEP. The author of JEP said that JEP didn't use the `sun.reflect.Reflection.getCallerClass`, I don't know where this warning came from. If you think this problem is not ray related, please tell me.

As for the Cross-language in ray, I just see that there are not many serializable types in the document, which may not be convenient for use. There is no problem at presen

[2022-11-21 07:44] jovany-wang commented on #30387
@onegoldfish So could you give a reproduction script without JEP ?

[2022-11-21 07:47] jovany-wang commented on #30387
Rich types in Ray serialization will be supported in this REP https://github.com/ray-project/enhancements/pull/6

If your issue is not urgent, maybe it's better to use Ray native cross language invocation.

[2022-11-21 07:56] onegoldfish commented on #30387
I just use demo in [https://docs.ray.io/en/master/ray-overview/index.html#ray-core-quick-start](url), the warning doesn't happen.
Thank you for your reply. If Ray native cross language can meet the demand, I will give priority to it. Thank you and your team for the optimization

[2022-11-21 08:15] jovany-wang commented on #30387
@onegoldfish  It's ok. So I'm closing this issue, and feel free to file a new issue if you have any other problem.

[2022-11-21 09:42] 1seck commented on #30226
Were just some wrong parameters, like commenting out instead of empty array etc. or setting the same ip-address for head and worker, I don't quite recall, but could be maybe documented better, error description wise. I close for now.

[2022-11-21 09:42] #30226 closed

[2022-11-21 11:09] rkooo567 commented on #30494
I will handle this. It is because of rllib broken in the master (this test uses rllib under the hood). I will fix it by just not using rllib for this workload.

[2022-11-21 11:13] rkooo567 commented on #30494
PR ^

[2022-11-21 12:20] ahallermed opened #30524 "[Tune] Deadlock on local cluster since ray 2.*"
### What happened + What you expected to happen

## What happened
Running the very simple python snippet for model training via ray.tune on timeseries, the trials remain in RUNNING status and never finish. Sometimes, this is only a single trial, sometimes even more. This issue was introduced via version 2.*
CPU workload is high at the beginning but drops down very quickly.
Running this experiment

[2022-11-21 12:43] raymond-yin opened #30525 "[RLlib][Windows] error in custom_env.py"
### What happened + What you expected to happen

when i install raylib and run my first rayrl code(example "custom_env.py"), i come across an error,
(rllib2) C:\Users\Raymond\Desktop\rayRL>python custom_env.py --framework torch
Running with following CLI options: Namespace(as_test=False, framework='torch', local_mode=False, no_tune=False, run='PPO', stop_iters=50, stop_reward=0.1, stop_timesteps=1

[2022-11-21 12:46] WeichenXu123 commented on #28876
@jjyao

This ticket does not address my demands.

My demands includes 2 issues:

1. We should allow each ray worker using an individual temp dir, so that when multiple worker runs on the same machine, suppose one worker exit, it can directly delete its temp dir for cleanup.

2. We hope to provide an option to specify log outputs path, currently log outputs are written into temp dir , but, log is d

[2022-11-21 13:33] ahallermed commented on #30524
Issue lies within modin update from 0.15.4 to 0.16.0, but it needed a larger df to show this effect on ray==1.12.1.
See https://github.com/modin-project/modin/issues/5245

[2022-11-21 13:33] #30524 closed

[2022-11-21 13:34] mattip commented on #27646
For a little more context: see [python issue 14480](https://github.com/python/cpython/issues/58685) and [python issue 14484](https://github.com/python/cpython/issues/58689). It is not OK to call `os.kill()` on windows except to terminate a process. Replacing this with psutil sounds like a good idea.

[2022-11-21 13:35] raymond-yin commented on #30525
btw I am windows

[2022-11-21 13:50] MisterLin1995 opened #30528 "[Core] Separate runtime env agent from dashboard"
## Description

Currently, raylet fate-shares with dashboard-agent since runtime env agent (called by raylet to manage job / actor runtime environment) is integrated with dashboard agent. Should the dashboard agent fail, the raylet will fail and all tasks on that node will fail which is too expensive to accept. Given this concern, it's necessary to isolate raylet from dashboard agent failure by mo

[2022-11-21 14:17] SongGuyang commented on #30528
In addition, we could consider to unify the way of maintaining subprocesses in raylet. Currently, there are two code paths: the worker pool subprocesses and the agent subprocess.
But I think it is not easy to do it. We can unify them in future. Don't block this issue.

[2022-11-21 14:36] matteobettini opened #30530 "[RLlib] How to register a custom policy"
### Description

PR #27016  Introduced a warning for custom policies, suggesting to register them.

There is no documentation on how to do this.

How should one register a custom policy?

### Link

_No response_

[2022-11-21 14:40] mattip commented on #27646
The hard part here will be writing a test. Does anyone know if there is an existing test that hits this code path?

[2022-11-21 16:04] clarng opened #30534 "[core] use usage_reporter for worker crash count in telemetry"
### What happened + What you expected to happen

use usage reporter in https://github.com/ray-project/ray/pull/30520 to report worker crash

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-21 16:05] clarng commented on #30534
improve on https://github.com/ray-project/ray/pull/30472

[2022-11-21 16:21] xwjiang2010 opened #30535 "[CI] `linux://doc:plot_pong_example` is failing/flaky on master."
- ddfeae3c86b997e7a0bf1391f37d2831a2da3542 FAILED [Buildkite :book: Doc tests and examples (excluding Ray AIR examples)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1195#01849a2c-4c9b-4379-9041-396419cb8b34)
- 073e7bc04d989607848552537f9f5ac91fa07d85 FAILED [Buildkite :book: Doc tests and examples (excluding Ray AIR examples)](https://buildkite.com/ray-project/oss-ci-build-branch/

[2022-11-21 16:23] xwjiang2010 commented on #30535
consistently broken after merging https://github.com/ray-project/ray/pull/30496.

[2022-11-21 16:54] xwjiang2010 commented on #30353
dropping release blocker. The test is flaky and back to green. Tracking it as normal flaky release tests.

[2022-11-21 17:02] Yard1 opened #30536 "[AIR] Canonical way to determine whether the code is running in a Train/Tune session"
### Description

We provide `tune.is_session_enabled()` to determine whether the code is running in a Tune session, but we do not have an equivalent public API in the `ray.air.session` module. We should add a public API to both determine whether session is enabled and what kind of session is enabled.

### Use case

_No response_

[2022-11-21 17:23] ju2ez opened #30537 "Integration of aim metric tracker as an alternative to tensorboardx in ray tune"
### Description

I suggest integrating the aim metric tracker to ray tune as an alternative to tensorboardx.

I already have a working implementation of this inspired by https://github.com/ray-project/ray/blob/master/python/ray/tune/logger/tensorboardx.py and I am already in touch with aim:
https://github.com/aimhubio/aim/issues/2369

If this feature is considered useful I'm happy to implement it.

[2022-11-21 17:29] #29415 closed

[2022-11-21 18:40] c21 commented on #29575
Ray core logging documentation - https://docs.ray.io/en/master/ray-observability/ray-logging.html .

[2022-11-21 18:42] 2-5 commented on #27646
An option would be keeping `os.kill` on Linux/Mac and using `psutil` just on Windows. This way there is no risk of breaking Linux/Mac.

[2022-11-21 18:47] scv119 opened #30540 "[CI][staging test pipeline] the staging test pipeline is broken"
### What happened + What you expected to happen

looks https://github.com/ray-project/ray/pull/30279 breaks the staging minimal test pipeline: https://buildkite.com/ray-project/release-tests-anyscale-staging-release/builds/27#01849aee-4473-4495-bcb4-80f23af15d37

hmm is this a dependency mismatch? i.e. we are reading some files from the master commit and other files from installed ray wheels?

###

[2022-11-21 19:02] justinvyu opened #30541 "[CI] `linux://python/ray/tune:test_commands` is failing/flaky on master."
- ddfeae3c86b997e7a0bf1391f37d2831a2da3542 FAILED [Buildkite :octopus: Tune tests and examples (small)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1195#01849a2c-4c71-4d3e-ae06-33f0c90a61e8)
- 073e7bc04d989607848552537f9f5ac91fa07d85 FAILED [Buildkite :octopus: Tune tests and examples (small)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1194#01849a26-f367-434d-8c8

[2022-11-21 19:48] #30447 closed

[2022-11-21 19:51] xwjiang2010 opened #30542 "[core][ci] test_snapshot is failing/flaky"
5f5440 [Datasets] Change `read_tfrecords` output from Pandas to Arrow format (#30390) [0 days ago]

[osx Buildkite :mac: :apple: Ray Core Unit Tests and Dashboard](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1197#01849b66-6d73-46de-af45-e8df98ce2630)

43a302 [Doc] [Jobs] Fix gaps in documentation for first-time users (#30272) [0 days ago]

[osx Buildkite :mac: :apple: Ray Core Uni

[2022-11-21 19:51] xwjiang2010 commented on #30542
@rkooo567 can you triage as Core oncall?

[2022-11-21 19:52] xwjiang2010 commented on #30542
cc @iycheng @scv119

[2022-11-21 19:58] HuangLED commented on #26136
What is the root cause of this error, and any tip how to get around it?

[2022-11-21 19:58] arnavgarg1 commented on #22632
Hey @clarkzinzow! I wanted to check if this is something you're planning on working on anytime soon?

[2022-11-21 20:06] HuangLED commented on #26136
Our system constantly fail because of this issue, and we observed that it is easier to trigger when there are between 10 - 19 trainers.  It is more stable when there are either more than 19 or less than 10 trainers in parallel.

Anything rings a bell?

We have been using ray==1.12.1;

[2022-11-21 20:15] iycheng commented on #30498
@rickyyx  3fbd9a66389fd720cb38da252498b7d485beeedc is the offending one

Pass to you for further investigation.

[2022-11-21 20:18] matthewdeng commented on #26136
@HuangLED could you create a separate issue to track this? The `Some workers returned results while others didn't.` error message is not the most descriptive and hides the root cause, which may be different in your case. There have been some improvements in 2.x to improve this.

[2022-11-21 20:22] #30298 closed

[2022-11-21 20:23] #30424 closed

[2022-11-21 20:32] pfaraone opened #30544 "[Core] Overriding the default logging format for Worker logs"
### Description

#### Search before asking
I had searched in the [issues](https://github.com/ray-project/ray/issues) and have found one similar feature request - https://github.com/ray-project/ray/issues/23388.

#### Ray Component
Ray Core

#### Issue Severity
Low

#### What happened + What you expected to happen
When worker logs are printed, the pid and node IP addresses that executes the task ar

[2022-11-21 20:33] iycheng commented on #30542
I think this is the offending one: https://buildkite.com/ray-project/oss-ci-build-branch/builds/1090#018482d6-978b-48d9-9c05-3ba01ff682c1

Pass to @rickyyx  for further investigation.

[2022-11-21 20:39] #21656 closed

[2022-11-21 20:41] HuangLED opened #30545 "[Core|RayTrain] RuntimeError: Some workers returned results while others didn't"
### What happened + What you expected to happen

Expect parallel training to succeed, but constantly fail with following error.

Error message:
`Traceback (most recent call last):
  File "bytegnn/examples/bgtrain.py", line 471, in <module>
    trainer.run(train_func, config=train_config)
  File "/home/ruoyun.huang/anaconda3/envs/py38/lib/python3.8/site-packages/ray/train/trainer.py", line 334, in

[2022-11-21 20:44] HuangLED commented on #26136
Thanks Matthew. Created a new issue: https://github.com/ray-project/ray/issues/30545

I understand ray is moving forward to 2.x versions. Though given we are relying on RayTrain interface and the whole thing changed since 2.0.  Thus at this point it would be very helpful if there are tips on how to get around it, or if there is any particular 1.x version would mitigate this issue.

[2022-11-21 20:50] DmitriGekhtman commented on #28224
We have a GPU example, but we could still use more examples, will track that in the KubeRay repo: https://github.com/ray-project/kuberay/issues/748

[2022-11-21 20:50] #28224 closed

[2022-11-21 20:51] DmitriGekhtman commented on #27388
Testing tracked in KubeRay repo.

[2022-11-21 20:51] #27388 closed

[2022-11-21 20:53] DmitriGekhtman commented on #25909
If anyone encounters this again and would like to continue the discussion, please open a [bug report in the KubeRay repo](https://github.com/ray-project/kuberay/issues/new?assignees=&labels=bug%2Ctriage&template=bug-report.yml&title=%5BBug%5D+).

[2022-11-21 20:55] bveeramani commented on #30393
Closing per offline discussion

[2022-11-21 20:55] #30393 closed

[2022-11-21 20:55] DmitriGekhtman commented on #21657
There a test of autoscaling support in the Ray CI.
Will open an issue tracking test of Ray libraries in the KubeRay repo.

[2022-11-21 20:55] #21657 closed

[2022-11-21 21:03] iycheng commented on #30542
Hmm, I see. Let me continue bisect it.

[2022-11-21 21:21] klazuka commented on #6855
I would also like to be able to disable the colored output as well as disable the custom log formatting in general.

We use Datadog for all of our cloud-based logs, and our applications emit JSON log messages direct to stdout. We would like the Datadog agent running in the EKS cluster to be able to obtain the original JSON messages, without any additional formatting by Ray.

[2022-11-21 21:48] clarng commented on #30534
Should also address unique_ptr and shared_ptr issue for kv_store

cc @iycheng

[2022-11-21 22:05] xwjiang2010 opened #30549 "[CI] `linux://python/ray/tests:test_output` is failing/flaky on master."
- 03081998f71fedcc74a7e552aaff412aee79acdc FAILED [Buildkite :python: Minimal install 3.7](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1204#01849c02-a52b-4130-983f-b742c6e780e7)
- 03081998f71fedcc74a7e552aaff412aee79acdc FAILED [Buildkite :python: Minimal install 3.9](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1204#01849c02-9d1c-4df7-a1a6-f7fd85179275)
- 03081998

[2022-11-21 22:15] scv119 commented on #30453
After we remerge the lazy initialization PR, does this only impact dataset users?

[2022-11-21 22:20] xwjiang2010 opened #30550 "[ci][core] dashboard:modules/job/tests/test_* are failing/timing out"
see go/flaky

[2022-11-21 22:29] xwjiang2010 commented on #30550
copying from Sang from OSS channel:

For job tests, I think we should cherry pick the flaky test fix for these 2 tests since we changed the job submission mechanism from ray 2.2

[2022-11-21 22:31] xwjiang2010 commented on #30550
@architkulkarni for priority assessment

[2022-11-21 22:34] xwjiang2010 commented on #30549
suspecting https://github.com/ray-project/ray/pull/29820

cc @wuisawesome

[2022-11-21 22:46] wuisawesome commented on #30549
Reverted, https://github.com/ray-project/ray/pull/30551

[2022-11-21 22:46] xwjiang2010 commented on #30549
Thanks!

[2022-11-21 22:46] #30549 closed

[2022-11-21 23:04] rickyyx commented on #30498
So reverting the indirect import with direct import here fixes the issue: https://github.com/ray-project/ray/blob/7c8859f1428224710e4c2db2abf0d9ec28536301/python/ray/__init__.py#L259-L265

Seems to me the recursion is caused by we overriding `__getattr__` and somehow the importlib call recursively calls it it again. But I don't have a clear stacktrace yet.

Also cc @clarkzinzow and see if you have

[2022-11-21 23:14] samo133 commented on #30525
The same error is generated while running the custom model/ custom environment example
operating system: Ubuntu 20.04
Raz version:2.1.0

[2022-11-21 23:22] #28039 closed

[2022-11-21 23:25] heng2j commented on #28403
Thank you @maxpumperla for your detailed documentation. I am also looking for a better documentation for setting up the inference pipeline by using `TorchPredictor` after trained a model with Ray Train or Ray Tune

I bumped into another issue in Ray 2.1.0

I am using the similar code as @maxpumperla's to load the checkpoint from checkpoint path.

[code]
However, this time I am seeing the following

[2022-11-21 23:49] rkooo567 commented on #30528
I don't think we need runtime env agent. I think this is exactly the same discussion @SongGuyang and we had before. What's important is

1. We should move the runtime-env-related state tracking to raylet.
2. After that, agent can be just simply restarted. And the agent can just do stateless work (e.g., downloading runtime env and etc.).

[2022-11-21 23:52] rkooo567 commented on #30528
I am specifically saying we should go option 1 here https://github.com/ray-project/ray/issues/21695#issuecomment-1022873950.

[2022-11-21 23:53] #25025 closed

[2022-11-21 23:53] rkooo567 commented on #30528
I think it is very unlikely dashboard agent fails now (only practical case is OOM), and there's no reason this is less stable than any new agent processes.

[2022-11-21 23:54] amogkam commented on #28403
Hey @heng2j, can you provide your full code?

In particular, how are you saving the checkpoint inside the `train_loop_per_worker` for your `TorchTrainer`?

[2022-11-22 00:05] #30535 closed

[2022-11-22 00:05] iycheng commented on #30542
Besides this, I think the flakey dashboard is also wired... it doesn't show there.

[2022-11-22 00:23] samo133 commented on #30525
The solution that works for me:
from ray.rllib.algorithms.ppo import PPOConfig
config = (
        PPOConfig()
        .environment(SimpleCorridor, env_config={"corridor_length": 5})
        .framework(args.framework)
        .rollouts(num_rollout_workers=1)
        .training(
            model={
                "custom_model": "my_model",
                "vf_share_layers": True,
            }

[2022-11-22 00:46] jianoaix commented on #30465
It turns out this is not the same as https://github.com/ray-project/ray/pull/29635, and is an expected behavior (per how it works currently).

Looking at the execution plan at the point of failure:
[code]
The trainer internally added an extra operation "randomize_block_order" to the eval dataset (but no training dataset). This extra stage means the eval dataset isn't finished execution yet, so the

[2022-11-22 01:09] rickyyx commented on #30542
https://github.com/ray-project/ray/pull/30556 Let me see if this fixes it. I suspect it's the hardcoded sleep interval that's not working.

[2022-11-22 01:30] Data-drone commented on #30229
Hi @rkooo567 I tried to install the master wheel via both:

`pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/master/615d6170790c65334acd1adc4963ed0cc6e9a8e7/ray-3.0.0.dev0-cp39-cp39m-manylinux2014_x86_64.whl`

and

`pip install -U "ray[default] @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp39-cp39-manylinux2014_x86_64.whl"`

and both times got the old version

[2022-11-22 01:32] rkooo567 commented on #30550
@architkulkarni Let me take a look at the test and see if I can help fixing this.

[2022-11-22 01:33] rkooo567 commented on #29199
Should be fixed in the master!

[2022-11-22 01:33] #29199 closed

[2022-11-22 01:33] rkooo567 commented on #29199
The change will be included in Ray 2.2

[2022-11-22 01:34] rkooo567 commented on #27740
Duplicated as https://github.com/ray-project/ray/issues/29758

[2022-11-22 01:34] #27740 closed

[2022-11-22 01:45] SongGuyang commented on #30528
Our conclusion before is [option 3](https://github.com/ray-project/ray/issues/21695#issuecomment-1032161528) ?

[2022-11-22 01:49] rkooo567 commented on #30528
Yes! And then there were 2 options at that time. Don't support restart (the current one) and supporting it (this proposal). This proposal is option 3 + file based recovery + splitting out runtime env agent from dashboard agent.

[2022-11-22 01:53] rkooo567 commented on #30474
cc @architkulkarni has this been fixed?

[2022-11-22 01:55] rkooo567 commented on #27962
Please reopen if this is still a problem!

[2022-11-22 01:55] #27962 closed

[2022-11-22 01:55] #25963 closed

[2022-11-22 01:56] #23788 closed

[2022-11-22 01:56] #23399 closed

[2022-11-22 01:56] rkooo567 commented on #23399
I believe it is done! Please reopen if it is not correct

[2022-11-22 02:18] #29377 closed

[2022-11-22 02:36] scv119 commented on #30375
also with the proposed fix, we need to change the ray.wait based refetcher's num_returns >= 2? otherwise it doesn't do the prefetching work.

[2022-11-22 02:41] ericl commented on #30375
Nope, it should just work as long as you pass in all the references to the wait call, independently of the num_returns setting.

[2022-11-22 02:45] heng2j commented on #28403
Hi @amogkam,

Yeah sure. I basically followed the code example from  [`tune_cifar_torch_pbt_example.py`](https://github.com/ray-project/ray/blob/master/python/ray/train/examples/pytorch/tune_cifar_torch_pbt_example.py)

[code]

[2022-11-22 03:05] xwjiang2010 opened #30564 "[CI][core] `bk://:serverless: Dashboard Tests` is failing/flaky on master."
- 6142f52ada995b7123ea7347a70613ca7b924e0c FAILED [:serverless: Dashboard Tests](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1217#01849caf-da0e-4025-8e17-11ff45576c27)
- e588e17023a87c4e37d0a154989698189cc0374f FAILED [:serverless: Dashboard Tests](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1216#01849cdd-ee24-4d6a-85da-ee0f7b478a8b)
- 00d43d39f58f2de7bb7cd963450f

[2022-11-22 03:06] xwjiang2010 commented on #30564
[code]

[2022-11-22 03:09] xwjiang2010 opened #30565 "[CI][serve] `linux://python/ray/tests:test_runtime_env_complicated` is failing/flaky on master and 2.2 branch."
- 988f61c9f32e244d4028843cea10c75a6fa331f7 FAILED [Buildkite :python: Minimal install 3.7](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1214#01849ca8-e84d-4cf3-8965-c525575d39fc)
- 988f61c9f32e244d4028843cea10c75a6fa331f7 FAILED [Buildkite :python: Minimal install 3.8](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1214#01849ca8-e850-443b-827a-914577ed7e1a)
- 520fe92c

[2022-11-22 03:10] xwjiang2010 commented on #30565
[code]

[2022-11-22 03:19] xwjiang2010 commented on #30565
not sure which PR is correlated. Could be a dependency change. I will take a look tmr first.

[2022-11-22 03:24] xwjiang2010 commented on #30299
Can this be closed @kouroshHakha ?

[2022-11-22 03:52] rkooo567 opened #30566 "[Dashboard] Getting stacktrace from the dashboard triggers "failed to get os threadid" when `--native` option is used"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_GrgDrjtJWSw9A6wM9sbSwfwe?command-history-section=command_history

When I click the `stack trace` for the JobSupervisorActor, I saw the following error.

[code]

Even when I run the same command from the terminal, it failed with the same error

Based o

[2022-11-22 04:04] rkooo567 commented on #30566
This is py-spy impl to get thread id https://github.com/benfred/py-spy/blob/538a2c63327adc9c0b921e1502c6e9156b1e14bb/src/python_spy.rs#L364

[2022-11-22 04:10] adiyaDalat opened #30568 "[RLlib] Official case failed in kaggle for lateset version."
### What happened + What you expected to happen

Failed when running official getting start example from RLlib doc in kaggle.

Examples were the Taxi-v3 and SimpleCorridor in following page:
https://docs.ray.io/en/latest/rllib/index.html
https://docs.ray.io/en/master/ray-overview/index.html

### Versions / Dependencies

Latest version  using default lib of ray(2.0.0) in kaggle.

### Reproduction s

[2022-11-22 04:56] bveeramani commented on #28403
Hey @heng2j,

Does it work if you do this?

[code]

[2022-11-22 05:15] rkooo567 opened #30573 "[Test] gcs_placement_group_manager_test flaky in the master"
### What happened + What you expected to happen

<img width="675" alt="Screen Shot 2022-11-21 at 9 14 14 PM" src="https://user-images.githubusercontent.com/18510752/203227454-0fa0f4b1-f8b3-4019-9dfc-e88a354229b3.png">

After merging this PR, `test_placement_group` became flaky. We should investigate and fix it.

cc @xwjiang2010 I will mark it as a release blocker until we find the root cause.

cc

[2022-11-22 05:52] bveeramani opened #30576 "[Datasets] Split `test_preprocessors` into separate modules"
### Description

`test_preprocessors` is getting kinda long. It's now 1861 lines. It'd be great if we could split the tests up into separate modules like:

[code]

where the test names match the name of the modules in `python/ray/data/preprocessors`.

### Use case

Long modules are bad. They're hard to read.

[2022-11-22 06:44] kira-lin commented on #30465
I see. How should I fix it? schema is called in to_tf, I can't change it. What's the suggested way to consume "evaluate" dataset?

[2022-11-22 08:19] larrylian commented on #30573
I will look at this issue. It should be the issue introduced by #24875 PR. Now it may be related to multi-threaded execution.

[2022-11-22 12:09] Manuscrit opened #30581 "[RLLib] Custom model with LSTM causes the auto wrapping to be partially executed"
### What happened + What you expected to happen
Custom model with LSTM causes the auto wrapping to be partially executed while it should not be executed.

In `models/catalog.py`

[code]

should be

[code]
Or better all this logic should be contained inside _wrap_if_needed and conditional on _wrap_if_needed doing wrapping or not.

### Versions / Dependencies

ray                                1.12

[2022-11-22 12:31] kunterbunt opened #30582 "[RLlib] custom_env example does not work"
### What happened + What you expected to happen

Executing [the example script](https://github.com/ray-project/ray/blob/master/rllib/examples/custom_env.py) throws the following error:

[code]

I tried both `tf` and `tf2`.

### Versions / Dependencies

- `tensorflow 2.11.0`
- `ray 2.1.0`
- `Python 3.8.12`
- `Linux manjaro 5.15.76-1-MANJARO #1 SMP PREEMPT Sat Oct 29 14:22:16 UTC 2022 x86_64 GNU/Lin

[2022-11-22 12:42] heng2j commented on #28403
Hey @bveeramani,

Thank you for your recommendation. By changing the key of the `dict_checkpoint`, it seems solved the issue that I raised earlier. However, when I was trying to load the checkpoint from the directory with `TorchPredictor.from_checkpoint()` like below:

[code]
The code will call the `load_state_dict()` in the model. But the model failed to load the state_dict properly despite I pro

[2022-11-22 12:43] larrylian commented on #30573
#30577    I have fix this case,  I will see if this use case CI can run successfully tomorrow.

[2022-11-22 14:19] aRI0U opened #30584 "[Tune] `fail_fast` marks all runs as terminated, making the experiment impossible to restore"
### What happened + What you expected to happen

I'm currently tuning a model with Ray Tune and Optuna but the cluster I'm working on has issues and sometimes get OOM, making all my current/next runs to fail. I therefore added `failure_config=air.FailureConfig(fail_fast=True)` for the first OOM to stop the experiment so that I resume it later, however when the experiment stops all current/next run

[2022-11-22 16:15] rkooo567 opened #30585 "[Test] test_cli.py still broken"
### What happened + What you expected to happen

<img width="560" alt="Screen Shot 2022-11-22 at 8 15 23 AM" src="https://user-images.githubusercontent.com/18510752/203365298-4229a424-6427-470a-b731-637595140090.png">

Failed by different reasons

### Versions / Dependencies

/

### Reproduction script

/

### Issue Severity

_No response_