[2022-11-22 16:16] rkooo567 opened #30586 "[Test/Core] test_state_api OSX became flaky after log refactoring"
### What happened + What you expected to happen

<img width="525" alt="Screen Shot 2022-11-22 at 8 16 03 AM" src="https://user-images.githubusercontent.com/18510752/203365516-76fdb212-7384-45dc-b113-a0971e0c6a3a.png">

### Versions / Dependencies

n/a

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-22 16:19] rkooo567 opened #30587 "[Core] test_many_pgs smoke test failed"
### What happened + What you expected to happen

This never failed for last 3 months, but it timed out yesterday. We should investigate it

![Uploading Screen Shot 2022-11-22 at 8.18.58 AM.png…]()

### Versions / Dependencies

n/a

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-22 16:21] rkooo567 opened #30588 "[Core] long_running_node_failures failed in the master"
### What happened + What you expected to happen

<img width="1466" alt="Screen Shot 2022-11-22 at 8 21 00 AM" src="https://user-images.githubusercontent.com/18510752/203366725-07bec8c6-33b4-4e3f-a2ae-1a6a5d6ded92.png">

Seems to be flaky recently

If I look at the recent failure, the script is killed unexpectedly

### Versions / Dependencies

n/a

### Reproduction script

master

### Issue Severit

[2022-11-22 16:38] xwjiang2010 commented on #30587
@rkooo567 who should own it?

[2022-11-22 17:25] kouroshHakha commented on #30299
This is all green. Closing it now.

[2022-11-22 17:25] #30299 closed

[2022-11-22 17:28] jianoaix commented on #30465
@matthewdeng It looks we should not add a "randomize_block_order" processing step without being requested from API calls by user, but it may be intended.

[2022-11-22 17:31] rickyyx commented on #30586
Looks unrelated to the change though? The test failed with thread pool waiting for idle threads, which also shows up in many of the timeout tests that are grey.

![image](https://user-images.githubusercontent.com/11676094/203381892-8d003fe6-463c-452a-aac3-b990636647e6.png)

Likely due to resource constrain in the mac pool.

[2022-11-22 17:44] scv119 commented on #30587
looks we merged pg fixes recenlty?

[2022-11-22 17:51] rickyyx commented on #30586
I don't think this should be a release blocker also. Not sure how to get more signals with the mac pool being overloaded now.

[2022-11-22 17:54] xwjiang2010 commented on #30564
Same signature of failure in release branch:
https://buildkite.com/ray-project/oss-ci-build-branch/builds/1231#01849f9b-effa-4fde-aabf-5d69367364d0

[2022-11-22 17:58] Yard1 commented on #29080
I'll close this issue for now - feel free to reopen if needed.

[2022-11-22 17:58] #29080 closed

[2022-11-22 18:00] xwjiang2010 opened #30589 "[ci][runtime] test_runtime_env_working_dir is timing out on 2.2.0"
https://buildkite.com/ray-project/oss-ci-build-branch/builds/1231#01849f93-1b5a-46fb-b5a4-9fa381351d6c

[2022-11-22 18:04] xwjiang2010 commented on #30589
cc @zhe-thoughts @scv119 Could we find an owner for runtime related bugs? Archit is OOO this week.

[2022-11-22 18:08] xwjiang2010 commented on #30550
In addition to `test_job_submission` and `test_job_agent` identified on master branch right before branch cut. On release branch, there are failures:

`test_job_agent`, `test_http_job_server`, `test_cli_integration`

See
https://buildkite.com/ray-project/oss-ci-build-branch/builds/1231#01849f93-1b50-463b-9ad3-a11debd9eaf2

[2022-11-22 18:12] xwjiang2010 commented on #30585
still failing on release branch:

https://buildkite.com/ray-project/oss-ci-build-branch/builds/1231#01849f9b-f030-4a26-aa48-de511ad2fa80

[code]

[2022-11-22 18:20] sven1977 commented on #30143
Hey @spacegoing , thanks for filing this issue.

I cannot actually reproduce this issue. On the latest master, this works fine:

[code]

[2022-11-22 18:21] sven1977 commented on #30143
Output:

[code]

[2022-11-22 18:31] zhe-thoughts commented on #30589
@architkulkarni @edoakes Could you take a look at this release blocker? Thanks!

[2022-11-22 18:36] #29576 closed

[2022-11-22 18:44] wuisawesome commented on #30518
@architkulkarni @ckw017 can y'all take a look?

[2022-11-22 20:03] matthewdeng commented on #30465
Hmm @jianoaix `randomize_block_order` is set to True by default including the `"train"` dataset. My guess is that the difference is because the `"train"` dataset is split (even though it's a single worker) which triggers execution?

Taking a step back, I think the question is how to make `randomize_block_order` compatible with `schema`/`to_tf`. I did a quick scan and saw that this discrepancy was

[2022-11-22 20:17] xwjiang2010 commented on #30565
checked with repro-ci but the test is passing there. @sihanwang41 could you take a look on this one as well?
The failure seems pretty extensive. It's also showing up on release branch with
https://buildkite.com/ray-project/oss-ci-build-branch/builds/1231#01849f93-1b4d-4001-b496-29e7a23bafc3 (mac wheels and jars)
https://buildkite.com/ray-project/oss-ci-build-branch/builds/1231#01849fa8-c73f-4d13-a

[2022-11-22 20:35] clarng commented on #30564
Trying a fix

https://buildkite.com/ray-project/oss-ci-build-pr/builds/6117

[2022-11-22 20:49] cadedaniel commented on #30573
I don't understand if #30577 fixes the root cause or not but FYI `TestRemovingLeasingPlacementGroup` recently failed due to threading issues, if they're related then we should fix the root problem (multithreaded usage on a non-thread-safe class). I'm happy to help with that if it's a release blocker.

The hacky fix for `TestRemovingLeasingPlacementGroup` was to sleep to avoid a race https://github

[2022-11-22 20:52] #30084 closed

[2022-11-22 21:07] JackYansongLi opened #30596 "rock_paper_scissors_multiagent error"
### What happened + What you expected to happen

When I run the examples in: https://github.com/ray-project/ray/blob/master/rllib/examples/rock_paper_scissors_multiagent.py. I got an immediate value error.

### Versions / Dependencies

pettingzoo == 1.22.2
python == 3.8
ray == 2.1.0

### Error log

[code]

### Issue Severity

_No response_

[2022-11-22 21:33] mattip commented on #28064
Note that gputil fails if nvidia-smi exists and can be run, but the user is not admin or there is no nvidia card. Since ray already depends on gpustat, could we use that instead?

[2022-11-22 21:51] sihanwang41 commented on #30589
closed. Intermitted issue. (not reproducible)

[2022-11-22 21:51] #30589 closed

[2022-11-22 22:00] mattip commented on #28064
Hmm, it seems gpustat also does not work on windows if the card is not found. wookayin/gpustat#142

[2022-11-22 22:03] #29226 closed

[2022-11-22 22:49] rkooo567 commented on #30586
Seems like the grpcio issue from 1.51 that's yanked. Fixed in the master

[2022-11-22 22:49] #30586 closed

[2022-11-22 23:08] rkooo567 commented on #30587
@iycheng is going to help taking a look at this task!

[2022-11-22 23:25] jlin816 commented on #7540
Hi @lennardsnoeks! I'm running into the same issue actually — what was the environment bug you had? Wondering if I might be making the same mistake.

[2022-11-22 23:37] xwjiang2010 commented on #30565
Rerun on release branch and seems to have recovered:
<img width="1172" alt="Screen Shot 2022-11-22 at 3 35 41 PM" src="https://user-images.githubusercontent.com/87673679/203442386-2db8f1e4-bf22-4cec-9f98-b5d624ff3e90.png">

https://buildkite.com/ray-project/oss-ci-build-branch/builds/1231#0184a151-b1a6-4d45-8201-926c51c7044d

Master also has recovered. Feels like some dependency is fixed externall

[2022-11-23 00:15] scarlet25151 opened #30601 "[Ray Core] Support arbitrarily s3 endpoint in working dir when downloading package in runtime_env"
### Description

Some time we would like to store the package in the local s3 compatible storage or different providers, for example we launch an minio storage in some GKE cluster and the service endpoint would be like 10.xxx.xxx.31:30500

I supposed to have the package `serve_model_1.zip` store in the minio and would like to download the package from the endpoint, so I try to use `working_dir` to

[2022-11-23 00:51] rkooo567 commented on #30229
Can you tell me what this means? You can probably give me the commit

[code]

[2022-11-23 00:51] xwjiang2010 commented on #30542
Thanks @rickyyx ! I will keep this open just to make sure that cherry-pick is merged as well.

[2022-11-23 01:08] DmitriGekhtman commented on #26982
still interesting

[2022-11-23 01:56] bveeramani opened #30603 "[Datasets] [Doc] Add guide on how to work with images"
### Description

We should create a guide that explains how to read, transform, and predict images.

We could either create a stand-alone guide, or add a section to a related guide like "ML Tensor support".

### Link

https://docs.ray.io/en/latest/data/dataset-tensor-support.html

[2022-11-23 02:45] rkooo567 opened #30606 "[Core/Test] chaos_many_actors failed in the master"
### What happened + What you expected to happen

chaos_many_actors failed recently (https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_9hGiG4j8KzyNsjh6QZiVes58), and I feel like https://github.com/ray-project/ray/commit/572464c6abc555629696050585297644f68669ba -> this is the most likely. Here’s the list of commits. This test failed only once for las

[2022-11-23 03:08] #26103 closed

[2022-11-23 03:08] #26108 closed

[2022-11-23 03:08] #25321 closed

[2022-11-23 03:08] #25301 closed

[2022-11-23 03:08] #26224 closed

[2022-11-23 03:08] #25304 closed

[2022-11-23 03:08] #26006 closed

[2022-11-23 03:08] #26031 closed

[2022-11-23 03:08] #26060 closed

[2022-11-23 03:08] #26063 closed

[2022-11-23 03:08] #26065 closed

[2022-11-23 03:08] #25958 closed

[2022-11-23 03:08] #25952 closed

[2022-11-23 03:08] #25979 closed

[2022-11-23 03:08] #25976 closed

[2022-11-23 03:08] #25916 closed

[2022-11-23 03:08] #15977 closed

[2022-11-23 03:08] #25864 closed

[2022-11-23 03:08] #24634 closed

[2022-11-23 03:09] #24520 closed

[2022-11-23 03:09] #25737 closed

[2022-11-23 03:09] #24425 closed

[2022-11-23 03:25] Data-drone commented on #30229
I ran:

[code]

and got:

[code]
and got:

[code]

[2022-11-23 03:28] scv119 commented on #30588
closes it for now. no useful logs can be downloaded, probably an infra issue.

[2022-11-23 04:12] zhe-thoughts commented on #25777
I think this issue is still valid

[2022-11-23 04:28] johnnykre commented on #30521
hi @wuisawesome  thanks for the response , actually was trying to use ray , for training SAC for my custom gym environment , so while doing i was getting some error as shown above i.e

Errors in between :
/miniconda3/envs/rllib/lib/python3.8/site-packages/ray/_private/worker.py", line 2289, in get
    raise value.as_instanceof_cause()
ray.exceptions.RayTaskError(ValueError): ray::RolloutWorker.sam

[2022-11-23 06:24] #30487 closed

[2022-11-23 06:36] matthewdeng opened #30612 "[CI] `linux://rllib:test_ope` is failing/flaky on master."
- 899ac8b546d8e016e6814f9183f1ad962027bc5e FAILED [Buildkite :brain: RLlib: Algorithm, Model and other tests](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1243#0184a307-84af-4004-838a-b659a4dba02c)
- e6940a1edcce93e2ab9f4b422e4b9829b8914f0f FAILED [Buildkite :brain: RLlib: Algorithm, Model and other tests](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1242#0184a307-8

[2022-11-23 07:22] iycheng commented on #30606
https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_vnCuEVArPXqNLFEk8ZzBGc2c

https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_vnCuEVArPXqNLFEk8ZzBGc2c

Tried to reproduce it twice, but failed. Also not able to retrieve the first run failures. maybe due to infra issues (python-core-worker logs are mi

[2022-11-23 07:24] ZedRover opened #30613 "[RLlib] ray.rllib.policy.policy.Policy.compute_actions_from_input_dict() method return wrong actions shape while using cutomized Torch Model"
### What happened + What you expected to happen

I encountered this fuzzy problem when I use my customized torch model. My test model is like this
[code]
My action space is (6000,) and obs space is (3,6000). When I use this model in PPO, I got torch.distribution ValueError in the following figure
![image](https://user-images.githubusercontent.com/29392414/203489950-5ff502de-7b6b-4de0-8494-d58d8f9f

[2022-11-23 07:52] yehoshoua commented on #15518
PEX support should be very usefully. i see this request open 6 months ago did you have any estimations ?

[2022-11-23 07:57] dirtyValera commented on #16403
Hi @ericl, @rkooo567 what's the status on this?

[2022-11-23 08:28] zyheeeeee opened #30615 "[core] Memory changes are not as expected when using ray.get()"
### What happened + What you expected to happen

Recently, we found several unexpected phenomena when using the ray.get(). We hope to get a corresponding explanation

1.When using ray.get() to fetch the same data twice from another node, the maximum memory used by the user has doubled twice.

We use Prometheus to record the change curve of the entire process. As shown below.

[Memory change](https

[2022-11-23 08:31] ZedRover commented on #30613
I found that we can find the error just using PPOTorchPolicy class
![image](https://user-images.githubusercontent.com/29392414/203501236-c113de07-50c4-4b26-ace4-29d0d649f66c.png)
![image](https://user-images.githubusercontent.com/29392414/203501269-4f357717-db2b-47a0-a3cb-8c27a1900036.png)

[2022-11-23 12:56] sven1977 commented on #30525
I can confirm it's working on master (3.0) on Windows as well as 2.1.

This script is part of our CI testing suite, so it's constantly checked.

[code]

[2022-11-23 12:56] #30525 closed

[2022-11-23 13:19] sven1977 commented on #30596
Hey @JackYansongLi , thanks for posting this issue. I do see the same on my Win machine. However, there is a version conflict between your pettingzoo version (1.22.x?) and your gym/gymnasium version. The newer pettingzoo versions are using gymnasium (instead of gym), so one of the checks in RLlib fails (env.observation_space is not an inatance of gym.Space anymore, but of gymnasium.Space).

Can yo

[2022-11-23 13:19] #30596 closed

[2022-11-23 14:33] AndyBug0 commented on #30615
I also found this problem. I am wondering when I keep an objectRef in an actor called A, and send the objectRef to another actor called B (notice that actor A and actor B are on different node) so that it can obtain the object from plasma into process memory using ray.get, what would the plasma do after actor B released the objectRef? Would the plasma release the object? If not, how should I do to

[2022-11-23 14:39] xwjiang2010 opened #30616 "[release test][jobs] jobs_specify_num_gpus is failing on release branch"
See

https://buildkite.com/ray-project/release-tests-branch/builds/1209#0184a298-d1a5-4782-a189-ad3d3bb0b911

[code]

[2022-11-23 14:43] xwjiang2010 commented on #30616
cc @edoakes

[2022-11-23 14:48] xwjiang2010 opened #30617 "[release][rllib] appo learning test is failing on release branch"
See

https://buildkite.com/ray-project/release-tests-branch/builds/1209#0184a298-d20c-4655-8711-dd18335c9aa2

[2022-11-23 14:53] xwjiang2010 commented on #30617
reward is just a little bit off:

[code]

[2022-11-23 14:55] xwjiang2010 opened #30618 "[release][rllib] rllib_multi_gpu_with_attention_learning_tests is failing on release branch"
https://buildkite.com/ray-project/release-tests-branch/builds/1209#0184a298-d234-4281-9176-efc66f152d20

Again just a bit short

[code]

[2022-11-23 15:17] Walter0002 commented on #24917
1.5.0 is ok

[2022-11-23 15:35] bdewilde commented on #30348
hi @c21 , i'd be happy to submit a PR. unfortunately, i wasn't able to build `ray` following the directions [here](https://docs.ray.io/en/latest/ray-contribute/development.html#building-ray-python-only): i ran into a known error (https://github.com/ray-project/ray/issues/29587) whose mentioned workaround didn't apply to me. please advise!

[2022-11-23 15:49] iycheng commented on #30587
https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_vnCuEVArPXqNLFEk8ZzBGc2c

https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_vnCuEVArPXqNLFEk8ZzBGc2c

Tried to reproduce it twice, but failed. Also not able to retrieve the first run failures. maybe due to infra issues (python-core-worker logs are mi

[2022-11-23 15:58] kouroshHakha commented on #30617
This is has almost met the reward criteria so it's def. learning it was just unlucky to pass the threshold. We should monitor the pass rate and if it's happening continuously lower the threshold a little bit. It's non-blocking for release.

[2022-11-23 16:10] xwjiang2010 commented on #30617
Closing out. The team can track flakiness separately.

[2022-11-23 16:10] #30617 closed

[2022-11-23 16:11] xwjiang2010 commented on #30474
@rkooo567 not fixed, just skipped for now.

[2022-11-23 17:18] DmitriGekhtman commented on #11457
We should probably make that the default.

[2022-11-23 17:29] DmitriGekhtman commented on #11457
Perhaps it should be the default on K8s? That wouldn't expose the dashboard outside the K8s cluster, I don't think? (I should mention I know nothing about networking.)

[2022-11-23 17:36] ZeCarlosCoutinho commented on #11457
I'm inclined to say yes, it should be the default, but my knowledge about k8s is minimal :sweat_smile:
So I'd consult with someone with more knowledge than me before making the change xD

[2022-11-23 18:46] simon-mo commented on #30616
looking....

[2022-11-23 18:52] simon-mo commented on #30616
The root cause is the version requirement was specified as 2.2, which is greater than 2.2.0rc0. We should specify the minimal version to 2.2.0dev0 instead for the test to pass. This shouldn't impact the final release because the actual released version will pass the version check. I'll send a PR directly to the release branch to relax the minimal requirement.

https://peps.python.org/pep-0440/#sum

[2022-11-23 19:28] iycheng commented on #30606
https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_2MdmvThtukwpyRVQfbZPimM8?command-history-section=command_history

https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_N4NMRVSXvMsXgwepfnX9knhr?command-history-section=command_history

Hmmm this one also passed somehow. Seems flakey

[2022-11-23 19:43] #30616 closed

[2022-11-23 19:45] #30400 closed

[2022-11-23 20:49] incalia opened #30629 "RAM memory leak with Dataset Pipeline"
### What happened + What you expected to happen

1. The bug:
while executing the script below, the RAM keeps growing until it reaches capacity and the worker has to restart training from a checkpoint.  The Object Store memory remains constant.

2. Expected behavior:
we expected the RAM to be somehow constant as we experienced while using the nightly build.

3. Useful information:
A contributor at

[2022-11-23 21:43] iycheng opened #30631 "Light weight resource broadcasting testing"
Right now, RPC failure is not handled well in light weight resource broadcasting which will leads to resource view stale in case of failure.

To handle the failure is not so straightforward given that there are states in each side.

We should change the resource broadcasting from unary API to streaming ones which simplify a lot of thins:
- We don't need long polling
- Error handling is easier
- RP

[2022-11-23 22:28] rkooo567 commented on #30566
It's an easy fix, so we will prioritize this.

[2022-11-23 22:59] Nithanaroy commented on #25005
I still see a similar error with ray 2.0.1
[code]

[2022-11-23 23:07] iycheng commented on #30606
https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_XV2irL2B3LCp1X7m8kx1NKTD

[2022-11-23 23:14] scv119 commented on #30550
wait for @architkulkarni to take a look next week.

[2022-11-23 23:39] garrettwrong commented on #27881
Also need this for my project to continue depending on Ray. Is there any eta? Thanks!

[2022-11-23 23:52] amogkam commented on #25005
@Nithanaroy from the stack trace this looks like a different issue. Can you post a new Github issue with your full code and tag me, and I can take a look? Thanks!

[2022-11-23 23:59] Nithanaroy commented on #25005
Hi @amogkam
I posted more details in https://discuss.ray.io/t/recursionerror-maximum-recursion-depth-exceeded-while-calling-a-python-object/5834

But unfortunately, I cant think of any simple reproducible script. We could either try a debug session or I can share any more logs with you.

[2022-11-24 02:38] llango commented on #8003
这个不影响， 直接注释ray包下actor.py 第816-822 便可以去掉这个错误。

[2022-11-24 06:49] litttl opened #30642 "[Serve] Memory leak from Ray serve deployment"
### What happened + What you expected to happen

I use ray[serve] 2.1.0 to deploy my web serve. I found that there are memory leak happened.

I use the single node with the steps：
1. ray start --head
2. python my_serve.py

the key codes is as following:
__________________________________________________________________
my_serve.py
	ray.init(address='auto', namespace='serve')
	serve.start(http_opti

[2022-11-24 09:30] mattip commented on #27646
I changed the os.kill to psutil in #30643

[2022-11-24 09:44] mattip commented on #27421
Thanks for the reproducer. Do you know if this is windows-specific?

[2022-11-24 09:46] cberri commented on #27421
I am not sure about Linux and Mac. I can give a try with the reproducer on Mac and let you know.

[2022-11-24 10:09] mattip commented on #27421
What do you do after `pyinstaller test_GUI.py --hidden-import=msgpack --noconfirm --clean`?

[2022-11-24 10:12] mattip commented on #27421
On linux I get
[code]

[2022-11-24 10:16] cberri commented on #27421
Without `--hidden-import=msgpack` I get an error when I start the built application. The msgpack is not found. And about `--noconfirm --clean` to just overwrite an previous build if already there.

For Linux I would maybe try the follwoing:

[code]

[2022-11-24 12:42] mattip commented on #27421
Progress. I think the problem was that colorama did not appear in `pyrayqt.yml`. Now I get
[code]

This seems to be very close to the original error report. The problem is that ray uses at least one compiled executable `gcs_server.exe` (on linux `gcs_server`). I don't see that this is being packaged by pyinstaller. This may not be the only one: there is also raylet.exe and default_worker.exe.

[2022-11-24 12:44] mattip commented on #27421
For those following along, I modified the conda yml file to not use rais, and to use the conda-built ray:
[code]

[2022-11-24 13:20] cberri commented on #27421
Thank you for updating the yml file. Interesting that in Windows 10 the `colorama` dependency was not necessary.

What we have also tried so far was to include (copy and paste) the ray conda env folder into the dist application folder. Not very elegant but we wanted to check if this could help. In this case the error was:

[code]

I included as commented lines in the `**test_feature_extract.py**`

[2022-11-24 13:52] adiyaDalat commented on #30568
Is new version(2.0.0+) of RLlib not compatible with Kaggle?

Seems that old version do not have this issue.

[2022-11-24 16:55] xwjiang2010 opened #30644 "[ci] test_dataset is failing on release branch"
https://buildkite.com/ray-project/oss-ci-build-branch/builds/1255#0184a638-810b-4db5-9830-f1fa21c7f244

[code]

[2022-11-24 16:56] xwjiang2010 commented on #30644
hmm, somehow I don't see the error or master branch...

[2022-11-24 16:57] xwjiang2010 opened #30645 "[release] dask_on_ray_sort_1tb and datasets_preprocess_ingest cannot run successfully on staging yet"
And this is the only release test that has not been run at least once on release branch.

https://buildkite.com/ray-project/release-tests-branch/builds/1215#0184aa35-e893-48c5-a29c-66c4cbfde383

aws bucket access issue.

[2022-11-24 16:59] xwjiang2010 opened #30646 "[ci] ray C++ and Java tests are timing out"
https://buildkite.com/ray-project/oss-ci-build-branch/builds/1255#0184a629-abc8-4244-8784-53ec0be29a59

[2022-11-24 17:30] clarkzinzow commented on #30644
@xwjiang2010 This is a Ray Core bug in task cancellation, where tasks cancelled while deserializing task arguments that's in the middle of non-reentrant imports (Arrow, Pandas, Torch, etc.) will crash the worker when trying to do the same imports while serializing the error object. See https://github.com/ray-project/ray/issues/30453#issuecomment-1320304768 for more context.

This appears to be mit

[2022-11-24 20:01] kouroshHakha commented on #30618
This is also flakiness. We expect to see a few runs to fail every now and then because they are very dependent on initializations. It's still a question mark how we should stabilize these tests without constraining them to initial seeds. You can remove the release-blocker label on this one.

[2022-11-24 20:50] jpgard opened #30648 "Issue on page /ray-air/examples/torch_image_example.html"
The code in this tutorial doesn't run.

Unmodified, running this code leads to the following traceback:

[code]

I am using the following versions:
* Python 3.8
* ray==2.1.0
* torch==1.13.0
* numpy==1.23.4

[2022-11-24 20:52] richardliaw commented on #30648
hmm which version of the docs are you looking at? is it latest or master?

[2022-11-24 23:43] jpgard commented on #30648
looks like it is latest, here: https://docs.ray.io/en/latest/ray-air/examples/torch_image_example.html

could this be an environment issue? there isn't any information about which versions to use in the docs.

[2022-11-24 23:52] richardliaw commented on #30648
Yeah, maybe.

The tests were run with this environment, if you want to be conservative: https://buildkite.com/ray-project/ray-builders-branch/builds/9730#01831585-39d5-4975-b962-94804464819f/149-1105

torch 1.9
numpy 1.19.5
pyarrow 6.0.01

That being said my personal environment is:

torch 1.12
numpy 1.19.5
pyarrow 8.0.0

and @bveeramani touched this code last and he may have a different env.

Try

[2022-11-25 03:39] maksimoc opened #30649 "ray.tune and mlflow integration"
### What happened + What you expected to happen

# What happened:

I want to use ray.tune for hyperparameter optimization and mlflow for logging. However, when I run the script, the following error pops up:

(trainable pid=61263) 2022/11/24 20:31:23 WARNING mlflow.utils.autologging_utils: Encountered unexpected error during sklearn autologging: The following failures occurred while performing one

[2022-11-25 04:10] jjyao commented on #28876
@rkooo567 if we allow setting different temp-dir for different worker nodes, will this break dashboard or observability?

[2022-11-25 04:28] Crispy13 opened #30650 "[core] ray.init raises Error when giving _temp_dir argument"
### What happened + What you expected to happen

Jupyter Server
python 3.10.6

[code]
works But

[code]

raised:
[code]

### Versions / Dependencies

CentOS
Python 3.10.6
Ray 2.1.0
Jupyter Server

### Reproduction script

ray.init(num_cpus= 32, _temp_dir = ".tmp")

### Issue Severity

_No response_

[2022-11-25 04:57] jpgard commented on #30648
I tried both of the configurations above with python3.8, no success. Also tried them in a clean environment with Python 3.7 (which looks to be the Python version of the testing environment), no success.

In Python3.7, it raises the following stack trace:

[code]
I still don't know if this is a bug, or an issue with the environment, since there isn't any information in the tutorial about the enviro

[2022-11-25 05:09] richardliaw commented on #30648
Not sure if related but can you try using conda...? I think i've seen weird behavior with standard venv before

[2022-11-25 05:23] richardliaw commented on #30648
[code]

I just tried it on my local laptop and it ran fine for me (pip installed Ray from scratch)

[2022-11-25 05:34] #26167 closed

[2022-11-25 05:34] #26283 closed

[2022-11-25 05:34] #26319 closed

[2022-11-25 05:35] #26328 closed

[2022-11-25 05:35] #24899 closed

[2022-11-25 05:35] #26338 closed

[2022-11-25 05:35] #22664 closed

[2022-11-25 05:35] #26184 closed

[2022-11-25 05:35] #26342 closed

[2022-11-25 05:35] #24990 closed

[2022-11-25 06:16] jovany-wang commented on #28876
Does it work that we provide the `ray.get_worker_temp_dir()` API? It returns `{temp_dir}/{job_id}/{worker_id}`. The benefit is it can be auto GCed when job is finished or failed(to avoid disk full risk in a long running cluster.). @WeichenXu123 @jjyao

[2022-11-25 07:33] rkooo567 commented on #30650
I could reproduce the issue.

[2022-11-25 07:43] WeichenXu123 commented on #28876
This is a good idea to my senario.

[2022-11-25 08:19] rkooo567 opened #30655 "[Core/Metrics] Actor DEAD count is incorrect when the driver exits."
### What happened + What you expected to happen

Currently, due to a bug, GCSActors are GC'ed as soon as the driver exits which makes the DEAD count of actor metrics incorrect. This is the correctness issue, so it'd be ideal to fix (also impact of the fix is low).

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-25 08:38] segatrade commented on #8838
Also experiencing the same issue on ray 2.1.0

[2022-11-25 10:52] onegoldfish commented on #30387
@jovany-wang When I use pure Java without JEP, the warning happened again.
[code]
the outputs are as follow:
[code]
Does this mean that the problem is related to jdk11?

[2022-11-25 11:04] jovany-wang commented on #30387
I'll take a look.

[2022-11-25 11:36] kristof9851 commented on #28534
Check that the TLS certificate you have also has the following in the SAN list:
- "DNS:localhost"
- "IP Address:127.0.0.1"
- "IP Address:$POD_IP" (where $POD_IP is ie.: 100.70.80.123)

[2022-11-25 13:52] WeichenXu123 opened #30659 "[Dashboard] Logs page links has issue if multiple ray nodes running on the same machine"
### What happened + What you expected to happen

Logs page links has issue if multiple ray nodes running on the same machine.

e.g., if I starts 4 ray worker nodes on a machine, then, the dashboard logs page shows:
<img width="719" alt="image" src="https://user-images.githubusercontent.com/19235986/203999417-37008e4a-234e-4f37-954e-ee4a7cf95497.png">

The 3 red lines links does not work.

### Vers

[2022-11-25 13:53] WeichenXu123 commented on #28876
@jjyao @jovany-wang  Another issue relating to one machine multiple ray nodes:

https://github.com/ray-project/ray/issues/30659

[2022-11-25 13:56] WeichenXu123 opened #30660 "[Dashboard] Jobs page does not show tasks"
### What happened + What you expected to happen

Jobs page does not show tasks.

My ray job has created several tasks, the node page can show them:
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/19235986/204000178-a002c6a9-b313-447c-aca6-b7fb0c41e44f.png">

But job page does not show them, see following snapshots:

<img width="1656" alt="image" src="https://user-image

[2022-11-25 14:21] alemaizi commented on #15893
I've had the same issue, the thing is even if you rerun and it works fine for the head, it will do the same for the worker nodes and hence putting them in a constant state of "pending".

[2022-11-25 15:38] VeronikaPolakova opened #30661 "[Tune] HeboSearch reproducible deterministic results"
### What happened + What you expected to happen

`HeboSearch` (with seed set) returns not reproducible (deterministic) results when calling it with conccurent trials. We expect it returns the same results when called twice.

The problem we identify is updating HEBO (through `observe` method) in non-deterministic way. HEBO's update highly depends on the order of terminated concurrent tasks. Caching

[2022-11-25 15:55] jpgard commented on #30648
I tried using conda, it also doesn't work. Below is the environment.yml I am using.

It would be really helpful if someone could provide the configuration for a working environment that can actually run this example, otherwise I'm stuck shooting in the dark. I am really excited to try Ray, but this is the most painful setup process I've ever experienced with a Python library.

`environment.yml:`
[

[2022-11-25 16:16] jpgard commented on #30648
I also tried running the code in a clean python3.8 venv with ONLY ray[data], ray[air], torch, torchvision, and some possibly missing required dependencies (`packaging`, `tabulate`), and this raised the same original error as above (`TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, u

[2022-11-25 16:17] alemaizi commented on #15893
This works like a charm for GCP, Thank you @oscartackstrom !
Only downfall, it takes a bit more time knowing that it has to "wait".

[2022-11-25 16:23] jpgard commented on #30648
I tried doing the same as above but with conda (create a clean python 3.8 environment, pip install only `ray[tune] ray[air] torch torchvision packaging tabulate`, and it raises the OMP error described in a previous post.

Together, the experiments with clean venv and clean conda environment seem to suggest that this isn't just a local issue or a problem with the other packages I was trying to inst

[2022-11-25 17:21] heng2j commented on #28403
Okay I think I may found the solution to save the checkpoint with different prefix in the documentation on [Saving Checkpoints ](https://docs.ray.io/en/latest/train/dl_guide.html#saving-checkpoints)in the Deep Learning Guide's. I will give it a try over the weekend and post updates here.

TorchTrainer

[2022-11-25 17:32] wxie2013 opened #30662 "[tune] How to use an imported parameter via argparse in trainable function"
### What happened + What you expected to happen

I have a tuning task using an imported parameter via argparse in trainable function. The task crashes complaining the argument is not provided. It works fine If I use it outside the trainable function.

### Versions / Dependencies

Ray 2.1.0

### Reproduction script

The script being imported called “input_param.py”:

    import sys, argparse

    p

[2022-11-25 17:44] #30612 closed

[2022-11-25 22:27] richardliaw commented on #30648
Tried a fresh conda environment and ran the notebook fine using that environment. Commands I ran:

[code]

my pip freeze:
[code]

conda list:
[code]

[2022-11-25 22:28] richardliaw commented on #30648
Also on py3.8, using a macos 10.15

[2022-11-25 22:54] Ericxgao opened #30666 "Ray Core: Can't set working directory for runtime env in actor definition"
### What happened + What you expected to happen

Trying to initialize an actor with a specified working directory in the `runtime_env` params errors out with:

`ValueError: . is not a valid URI. Passing directories or modules to be dynamically uploaded is only supported at the job level (i.e., passed to `ray.init`)`

Initialized as: `balancer = LoadBalancer.options(runtime_env={"working_dir": "."}

[2022-11-26 00:05] jjyao commented on #30659
cc @rkooo567 for triage

[2022-11-26 00:05] jjyao commented on #30660
cc @rkooo567 for triage.

[2022-11-26 20:35] ayl0407 commented on #30200
I am running into the same problem.   If I don't use the ray.put to throw object into the share.. seems to work.  But using ray.put like above throws out a similar error

[2022-11-26 20:35] YuhangSong commented on #30452
It would be great if I can specify ssh port when using ray up, in the yaml, I have been looking into the code and it does not seem to have such support

[2022-11-27 00:51] jjyao commented on #27055
The white paper is done. The remaining work is to make it searchable.

[2022-11-27 01:23] JackYansongLi opened #30676 "[RLlib] Default policy error in two trainer work flow"
### What happened + What you expected to happen

I am trying to replicate the example introduced in _https://github.com/ray-project/ray/blob/master/rllib/examples/multi_agent_two_trainers.py_ by replacing the DQN policy by MARWIL policy. However, we met the following issue,
[code]

### Versions / Dependencies

Ray==2.1.0
Python==3.8

### Reproduction script

[code]

### Issue Severity

High: It bl

[2022-11-27 08:07] WeichenXu123 opened #30677 "[Dashboard] When setting `--temp-dir` with a path longer than 26 characters, the dashboard logs page ray head node logs link becomes invalid"
### What happened + What you expected to happen

When setting `--temp-dir` with a path longer than 26 characters, the dashboard logs page ray head node logs link becomes invalid.

E.g., If I set the `--temp-dir` to be `/local_disk0/temp_data/ray`, then the logs page, for head node link, it becomes:
<img width="243" alt="image" src="https://user-images.githubusercontent.com/19235986/204125298-31751

[2022-11-27 08:08] WeichenXu123 commented on #30659
Another similar dashboard log page issue:
https://github.com/ray-project/ray/issues/30677

CC @rkooo567

[2022-11-27 11:13] mattip commented on #27421
Does `test_get_features.py` work without the GUI?

[2022-11-27 12:43] #26481 closed

[2022-11-27 12:44] #26479 closed

[2022-11-27 12:45] #26548 closed

[2022-11-27 12:46] #26565 closed

[2022-11-27 14:35] mattip commented on #28446
Can reproduce, on linux it successfully completes and on windows + latest HEAD, the epoch trains and then I get a different error:
[code]

<details><summary>traceback</summary>

[code]

</details>
<details><summary>pip list</summary>

[code]

</details>

[2022-11-27 15:33] kevalsp commented on #27421
@mattip Yes, it works without the GUI.

[2022-11-27 16:16] clarkzinzow commented on #25039
I still think that this would be very useful!

[2022-11-27 18:52] mvindiola1 commented on #30613
@ZedRover,

What kind of space is your action space?

[2022-11-27 18:55] mvindiola1 commented on #30581
@Manuscrit,

You did not provide a reproduction script so it is not possible to see how you set it up but when you implement a customized m model with an lstm you should set `use_lstm` to False in the config.

[2022-11-27 20:53] #30513 closed

[2022-11-27 20:53] #30059 closed

[2022-11-27 20:53] #30406 closed

[2022-11-27 21:04] iycheng commented on #30606
http://internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_6iEUcAdJpS8C4usbnaamds5H

[2022-11-27 22:38] iycheng commented on #30606
https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_heUHCkeZUBQUcvX6VYeSHPqT

[2022-11-27 22:38] iycheng commented on #30606
close this one given that all tests I run passed and the original failed one doesn't show anything useful.

[2022-11-27 22:38] #30606 closed

[2022-11-28 03:11] jovany-wang commented on #30659
So interesting, i'm wondering why you need to run multiple nodes on a machine, and how you deploy your ray cluster.

[2022-11-28 03:13] scv119 opened #30679 "[Core][nightly-test] long_running_many_drivers is flaky due to segmentation fault in GcsRpcClient GcsSubscribePool"
### What happened + What you expected to happen

Segmentation fault in GcsRpcClient

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_du3n1czxzsyx9pk1dt34e96h

[code]

### Versions / Dependencies

lastest master

### Reproduction script

long_running_many_drivers

### Issue Severity

High: It blocks me from completing my task.

[2022-11-28 03:17] scv119 opened #30680 "[Core][nightly-test] chaos_dataset_shuffle_sort_1tb failing due to OOM killer"
### What happened + What you expected to happen

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_zx9wmehu4fents5ge6itu2ye is failing. Reading the log seems the OOM killer is aggressively killing workers.

### Versions / Dependencies

latest

### Reproduction script

chaos_dataset_shuffle_sort_1tb

### Issue Severity

High: It blocks me fr

[2022-11-28 03:22] #30494 closed

[2022-11-28 03:25] scv119 commented on #30453
@clarkzinzow is this still a release blocker :/ ?

[2022-11-28 03:35] WeichenXu123 commented on #30659
@jovany-wang

"run multiple nodes on a machine" is required by this case: https://github.com/ray-project/enhancements/blob/main/reps/2022-09-19-ray-on-spark.md

[2022-11-28 03:40] slow-zhang commented on #30209
Hi @chaihahaha and @matthewdeng , is there some update of this issue, I am trying to work with Ray

[2022-11-28 04:14] WeichenXu123 commented on #30677
CC @rkooo567 Thanks!

[2022-11-28 06:53] marianogabitto commented on #30012
Ping ...

[2022-11-28 07:14] hellofinch commented on #13209
@simon-mo hello, the same bug came out in ray 2.0.0 with python 3.6. I tried to fix it as your PR shows. And it works. Maybe you can merge a PR again?

[2022-11-28 08:59] dirkweissenborn commented on #30050
Hey, sorry for the late reply. Yes we are using spot instances. Sorry but I don't have those logs anymore. I think the worker wasn't down though but the raylet crashed. We experience problems with larger workloads, it might have been due to us not setting ulimit on the worker nodes which themselves spawn new tasks but it is really hard to dig through the logs. Whatever caused the issue though I th

[2022-11-28 10:17] rkooo567 commented on #30679
Guess this PR is the most suspicious? https://github.com/ray-project/ray/pull/30131

[2022-11-28 10:44] rkooo567 commented on #30645
Followed up with Allen. It should be fixed as soon as he responses

[2022-11-28 11:30] rkooo567 commented on #30585
This is not a release blocker. The test is flaky because of race condition that happens because GCS exits earlier than other components sometimes. I found adding time.sleep relieves the flakiness. I am trying to kill gcs after every other components are killed and see if that can fully fix the flakiness, but the issue doesn't have to be a release blocker (I assume this issue exists for a long time

[2022-11-28 11:58] jovany-wang commented on #30659
So maybe adding the port to the links could fix your issue?
![image](https://user-images.githubusercontent.com/19473861/204272205-d3e965e3-8bd8-4f9d-a21b-da5bb460f20e.png)

[2022-11-28 15:33] rkooo567 commented on #30659
Let's not use the port but use the node id instead

[2022-11-28 15:33] rkooo567 commented on #30659
@WeichenXu123 do you guys have any interest in contributing? I'd love to help making a PR if you guys are interested

[2022-11-28 15:43] rkooo567 commented on #30660
Do you have prometheus setup? This doesn't work without prometheus. cc @alanwguo we should make this more obvious from the UI (e.g., making a tooltip on unavailable text to explain how to set this up with a link)

[2022-11-28 15:46] rkooo567 commented on #28876
@WeichenXu123 we don't need multiple tmp dirs right? Each worker node has a different session id, so you just need to delete that one. tmp dir can be the same.

[2022-11-28 15:47] rkooo567 commented on #28876
I am geared towards just raising an exception if this is configured from the worker node startup (and make it same as a head node) unless there's a appealing use cases

[2022-11-28 16:43] xwjiang2010 commented on #30644
@clarkzinzow
hmmm, I am afraid that the linked test [failure](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1255#0184a638-810b-4db5-9830-f1fa21c7f244) was after https://github.com/ray-project/ray/pull/30624 was merged.

[2022-11-28 16:46] xwjiang2010 commented on #30585
@rkooo567 `test_cli` is now failing with a different signature: https://buildkite.com/ray-project/oss-ci-build-branch/builds/1285#0184b9e8-e7cc-4814-b655-6008427369c3

Can you take another look and confirm that it's not release blocker?

[2022-11-28 16:48] MoZZez opened #30685 "train.torch.prepare_model(model) AttributeError: 'DataFrame' object has no attribute 'torch'"
### What happened + What you expected to happen

Hi, we are trying to use ray for training PyTorch DL models on cluster nodes and while launching our first attempt to do it we encountered a following error while trying to convert model to Ray-compatible parallel form(it seems):

`
Failure # 1 (occurred at 2022-11-28_16-10-36)
ray::_Inner.train() (pid=5908, ip=192.168.0.249, repr=TorchTrainer)
  Fi

[2022-11-28 17:03] iycheng commented on #30587
https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_AMwy34tKg9TsEHRzqF3Xbwm5
https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_A7dbPp7VH5sgEqzCicknQz1g
https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_cyWzsdBsXt3mt22NgkUDJ3JE
https://console.anyscale.

[2022-11-28 17:05] xwjiang2010 opened #30686 "[ci][core] bk://:mac: :apple: Wheels and Jars is flaky"
on release branch:
https://buildkite.com/ray-project/oss-ci-build-branch/builds/1270#0184aa2f-4d93-4573-b67c-41a801f65913

on master:
https://buildkite.com/ray-project/oss-ci-build-branch/builds/1288#0184bdb3-96a6-44cf-a13b-03473f0a2c18

Seems to have the same signature with:
"/Users/ec2-user/.zshrc: line 77: PS1: unbound variable"

[2022-11-28 17:07] xwjiang2010 commented on #30686
My understanding is that this is not blocking release as the same failure happens for both master and release branch.
But want to confirm.

also cc @cadedaniel @clarence-wu who attempted to fix it before according to: https://anyscaleteam.slack.com/archives/CLJQR6420/p1667236766360979?thread_ts=1667235901.630159&cid=CLJQR6420

[2022-11-28 17:43] #30576 closed

[2022-11-28 17:50] xwjiang2010 opened #30688 "[release][jobs] jobs_specify_num_gpus is failing"
https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_irux6zc5trsu1cvc1qg8fr6y?command-history-section=command_history

[code]

[2022-11-28 17:55] xwjiang2010 commented on #30645
Actually I missed one: datasets_preprocess_ingest is having the same access issue: https://buildkite.com/ray-project/release-tests-branch/builds/1222#0184bf27-8b09-4fe9-a4df-08aaa7dabfd7

[2022-11-28 17:56] justinvyu commented on #30662
Is it possible to work around this by passing the arguments into the config? Is there a specific reason why the arguments need to be stored and accessed in the trainable as a separate python module?

[code]

[2022-11-28 17:56] xwjiang2010 commented on #30645
@rkooo567 can you share the thread? Is the plan to move these tests back to prod again?

[2022-11-28 18:04] scv119 commented on #30646
[code]

[2022-11-28 18:07] scv119 commented on #30646
@jovany-wang might take a look at this Java test? it happens on releases/2.2.0 branch

[2022-11-28 18:14] clarkzinzow commented on #30490
![Screenshot 2022-11-28 at 12 13 32 PM](https://user-images.githubusercontent.com/7699919/204350488-75f129ec-c5c8-4fb2-b713-6787566b4b46.png)

Confirmed that the regression was fixed with https://github.com/ray-project/ray/pull/30532

[2022-11-28 18:14] #30490 closed

[2022-11-28 18:16] clarkzinzow commented on #30644
@xwjiang2010 Ah yep, I forgot to update this thread! This turns out to be a **separate** Ray Core bug in the task cancellation protocol, namely handling tasks that are cancelled while they are queued (i.e. before they start running). I'm currently working on a fix with the Core folks.

[2022-11-28 18:32] clarkzinzow opened #30690 "[Datasets] linux://python/ray/data:tests/test_transform_pyarrow is flaky"
Culprit appears to be https://github.com/ray-project/ray/commit/36aebcbe1a5bba676f16b49c0184e091af07e73c, most likely due to a post-merge break that wasn't caught in the pre-merge check.

https://buildkite.com/ray-project/oss-ci-build-branch/builds/1286#0184baee-b239-4229-b7d6-603c10785f7a

[2022-11-28 18:43] xwjiang2010 commented on #30644
Thanks @clarkzinzow ! Let's make sure the PRs are marked as release-blocking to track.

[2022-11-28 18:49] justinvyu commented on #29245
Hi @spacegoing,

It looks like you're specifying `num_workers=1` in the config, which will have 1 local worker (responsible for training) and 1 remote worker (responsible for sample collection), and each should reserve 1 CPU by default, which is why you're seeing 32 trials running concurrently with 64 cores. You can find some more information about it setting resources [here](https://docs.ray.io/e

[2022-11-28 19:03] c21 opened #30692 "[Datasets] Make Ray Data API reference page more easier to read"
### Description

Current we have an Index Page - https://docs.ray.io/en/latest/data/api/api.html, and Individual API Page - https://docs.ray.io/en/latest/data/api/dataset.html#basic-transformations. It has two problems:

* The API Page has all APIs, which is crowded, hard to read, and pass around link to reference individual API. It also does not work well with search engine. E.g. Googling `ray da

[2022-11-28 19:06] c21 commented on #30692
cc @bveeramani, @matthewdeng, @clarkzinzow and @jianoaix for opinions.

[2022-11-28 19:22] xwjiang2010 opened #30694 "[release][core] chaos_many_actors is failing due to ray.wait regression"
https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_j43zvvuj4jtf2jtrzfislqye?command-history-section=command_history

[2022-11-28 19:27] heng2j opened #30695 "[AIR] `DataParallelTrainer`s require redundant ScalingConfig if also passed through Tuner `param_space`"
### What happened + What you expected to happen

Ray Tuner's `param_space` argument seems [support custom params with key "params"](https://github.com/ray-project/ray/blob/ray-2.1.0/python/ray/tune/tuner.py#L78-L99). However, when paired with [TorchTrainer](https://github.com/ray-project/ray/blob/master/python/ray/train/torch/torch_trainer.py#L15) which doesn't have the `params` attribute, will yi

[2022-11-28 19:35] stephanie-wang opened #30697 "long_running_many_drivers test is failing with segfault"
### What happened + What you expected to happen

[Smoke test failed on 11/25](https://buildkite.com/ray-project/release-tests-branch/builds/1219#0184b0d6-4b49-4d4b-8ddd-76a92b894637)
[Full test failed on 11/27](https://buildkite.com/ray-project/release-tests-branch/builds/1221#0184b7b4-1af0-45a7-a4af-f1b06a4f73eb)

### Versions / Dependencies

3.0dev

### Reproduction script

long_running_many_dri

[2022-11-28 19:39] cadedaniel commented on #30686
I don't think this should block release. I didn't follow the attempted fixes closely, @clarng can you confirm whether this should be release blocking or not?

[2022-11-28 19:41] stephanie-wang opened #30699 "[core] dask_on_ray_1tb_sort is failing with S3 permissions error"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/1212#0184a68b-0bc7-4ab0-be2e-cf426c822b75

Failed 4x last Thursday, seems there was a backlog of builds.
[code]

### Versions / Dependencies

3.0dev

### Reproduction script

dask_on_ray_1tb_sort

### Issue Severity

_No response_

[2022-11-28 19:46] stephanie-wang opened #30700 "[core] many_tasks release test is failing"
### What happened + What you expected to happen

Failed on 11/26.

https://buildkite.com/ray-project/release-tests-branch/builds/1219#0184b0d6-4cc0-4ff6-b454-222a152332b2

### Versions / Dependencies

3.0dev

### Reproduction script

many_tasks

### Issue Severity

_No response_

[2022-11-28 20:19] wxie2013 commented on #30662
Thanks for the follow-up.  It is possible to implement a walkaround.  It would be nice to understand the reason why above example code doesn't work so that I won't stumble into similar problems in the future.

[2022-11-28 20:36] clarng opened #30703 "[core] clean up python memory monitor"
### What happened + What you expected to happen

remove the python memory monitor code as the c++ one is going to be default in 2.2

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-28 20:37] clarng commented on #30703
cc @ericl  @stephanie-wang @scv119

[2022-11-28 20:38] stephanie-wang commented on #30697
Stack trace:
[code]

[2022-11-28 20:39] architkulkarni commented on #27045
Should be addressed by https://github.com/ray-project/ray/pull/30272.

[2022-11-28 20:39] #27045 closed

[2022-11-28 20:40] clarng opened #30704 "[core] rename memory monitor flags"
### What happened + What you expected to happen

There are times where the memory monitor value gets overridden by some flag in product

Rename them in Ray as these values are private and shouldn't be overridden in product

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-28 20:41] clarng commented on #30704
cc @ericl  @stephanie-wang  @scv119

[2022-11-28 21:39] iycheng commented on #30694
Got some useful logs.
[code]

[2022-11-28 21:42] clarng commented on #30680
Looks like with the change it triggers ray.exceptions.ObjectFetchTimedOutError

Manually running the test I can see the OOM errors , the test still passed and finished

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_xkmx8u2v5s7skku661x118zt?command-history-section=command_history

It is likely that the reduction in memory capacity is tri

[2022-11-28 21:46] iycheng commented on #30694
I feel we should set `max_restarts=-1, max_task_retries=-1` for DBActor too. Still confirming with people.

[2022-11-28 21:46] clarng commented on #30564
looks green now

<img width="1504" alt="Screen Shot 2022-11-28 at 2 23 23 AM" src="https://user-images.githubusercontent.com/22830327/204387803-12c40b7a-9fb2-4d59-91ea-4a0dbecaae71.png">

[2022-11-28 21:47] #30564 closed

[2022-11-28 22:08] bveeramani opened #30707 "[Datasets] `read_images` example is out of date"
### Description

There're a couple issues:
1. The output is out-of-date
2. `read_images` no longer returns tensor datasets

### Link

https://docs.ray.io/en/master/data/dataset-tensor-support.html#creating-tensor-datasets

[2022-11-28 22:13] scv119 opened #30708 "[Release test] automate the release test result and send to slack"
### What happened + What you expected to happen

we can automate the release test report, sending the result in the channel and tag oncall, instead require the release manager to do the work.

### Versions / Dependencies

latest

### Reproduction script

N/A

### Issue Severity

Low: It annoys or frustrates me.

[2022-11-28 22:15] zhe-thoughts commented on #30708
Good issue. Marking as P1.

[2022-11-28 22:22] #30566 closed

[2022-11-28 22:40] stephanie-wang commented on #30697
Ah actually this is a duplicate of #30679.

[2022-11-28 22:40] #30697 closed

[2022-11-28 22:46] sihanwang41 commented on #30497
closed. since the latest tests passed. https://buildkite.com/ray-project/release-tests-branch/builds/1209#0184a298-d1de-49f4-92c9-5941d29fa570

[2022-11-28 22:46] #30497 closed

[2022-11-28 22:54] stephanie-wang opened #30711 "[core][perf] single_node_2 large_object_time latency benchmark spikes"
### What happened + What you expected to happen

[single_node_2](https://b534fd88.us1a.app.preset.io/explore/?dashboard_page_id=p80veMwQTX&slice_id=619)

Latency spiked by ~20% several times over the last week.

### Versions / Dependencies

3.0dev

### Reproduction script

single_node_2 core benchmark.

### Issue Severity

_No response_

[2022-11-28 22:57] scv119 commented on #30686
@iycheng to decide if this is a release blocker.

[2022-11-28 23:00] stephanie-wang commented on #30679
@iycheng I tried rerunning the failed test and it passed, so I think it is flaky. But I took another look at the PR Sang linked and I think it is most likely the culprit. This [access](https://github.com/iycheng/ray/blob/6d47b9b12c9328fb156cfa96249f21c705f6fac8/src/ray/rpc/server_call.h#L252) might be the issue.

[2022-11-28 23:08] stephanie-wang commented on #30588
Reopening as the test is still failing.

[2022-11-28 23:27] #30214 closed

[2022-11-28 23:31] architkulkarni commented on #30688
Passed on retry: https://buildkite.com/ray-project/release-tests-branch/builds/1222#0184c054-f89c-4860-a879-04b965aeced2

The part of the test that fails is not related to the feature being tested (Ray Jobs), it's where we schedule a bunch of ordinary Ray tasks and check that every node had at least one task scheduled on it.  This logic is flaky somehow; I think we can deflake it by using placemen

[2022-11-28 23:38] ericl commented on #30629
Thanks for the report. @jianoaix @clarkzinzow could you triage? Note that the leak seems to be heap memory, not object store memory (so it most likely isn't related to previous object store memory fixes).

Not sure also why it would be fixed in nightly.

[2022-11-28 23:51] xwjiang2010 opened #30713 "[ci][rllib] lint is failing on release branch"
e.g. https://buildkite.com/ray-project/oss-ci-build-branch/builds/1285#0184b9ea-e667-4718-a665-74438016f546

we should not use absolute references but relative instead. Maybe take a look at example here: https://docs.ray.io/en/master/cluster/vms/references/ray-cluster-configuration.html#minimal-configuration

[2022-11-28 23:52] krfricke commented on #29720
Should be solved by #30165

[2022-11-28 23:52] #29720 closed

[2022-11-29 00:01] architkulkarni commented on #30550
`test_job_submission` and `test_job_agent` are the tests that are most flaky. (All other job tests are 0% red flaky and < ~10% yellow flaky on master)

For both, it's a test issue and not an issue with the feature, so it's not a release blocker.  I'll reduce the priority to P1.

- For `test_job_submission`, the root cause is that we occasionally get `2022-11-28 15:49:27,995 ERROR http_server_agent

[2022-11-29 00:02] justinvyu commented on #30695
Hi @heng2j,

For the first question, the `param_space` with AIR Trainers will populate whatever arguments are available in the constructor. The `params` argument that you highlighted in the docstring refers to xgboost specific parameters as described in the docstring of `XGBoostTrainer`. For data parallel trainers such as `TorchTrainer`, the easiest way to pass in "custom parameters" is through `t

[2022-11-29 00:12] architkulkarni commented on #30550
As for `test_http_job_server` and `test_cli_integration`, they seem to be passing on the release branch: https://buildkite.com/ray-project/oss-ci-build-branch/builds/1285#0184b9e8-e7ab-477a-87a1-ecb8311ca1a7
They aren't flaky on master.

[2022-11-29 00:14] xwjiang2010 commented on #30645
@c21 Actually I am just going to disregard `datasets_preprocess_ingest`, since we are discarding it anyways (https://github.com/ray-project/ray/issues/30108). Let me know if you think otherwise.

[2022-11-29 00:30] rickyyx opened #30719 "[CI] `bk://:book: Documentation` is failing/flaky on master."
- 579770ad0f7caabccb5ac94b9bd4645af15e480f FAILED [:book: Documentation](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1304#0184c066-6ffe-48e4-8bff-ba1f0be6f685)
- 79783bde769db18679d4815c71ad579060306432 FAILED [:book: Documentation](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1303#0184c061-7f92-4ed9-8922-706bda6bc7fd)
- 24438cd3f4ed2e4abc18dcad218c07a0fbf7b1f3 FAI

[2022-11-29 00:47] #30644 closed

[2022-11-29 00:58] jianoaix commented on #30629
@incalia Thanks for reporting this issue.

I tried out the script and it appeared that this had an issue in both 2.1.0 and nightly.

From reading the code, `get_preprocessed_sample` is going to create 5268640 bytes for each element, and there are 400k elements, so it's a total of 2+ TB of heap for each epoch of the pipeline. And this is running for 50 epochs, resulting in 100+TB heap. So it looks

[2022-11-29 01:00] justinvyu commented on #30506
Hi @Tonyhao96,

The docstring should say that Tune requires `num_to_keep` needs to be greater than or equal to 1 here.

Here's a workaround that you could try for now: use a callback to clean up trial checkpoints after they've finished based on a threshold on some metric. You could also extend this to use `trials` in the callback to see how a certain trial's performance ranks against the others. S

[2022-11-29 01:01] clarkzinzow commented on #30690
@matthewdeng Note, the offending PR has not (yet) been cherry-picked to the 2.2 branch, so this isn't technically a release blocker.

[2022-11-29 01:09] WeichenXu123 commented on #30660
@rkooo567 I haven't setup prometheus, I will try that.

[2022-11-29 01:14] iycheng commented on #30694
Can't figure out what's happening..... return the test

[2022-11-29 01:14] mvindiola1 commented on #30613
@ZedRover,

Can. you provide a reproduction script.

I have a hunch which is that in rllib when you have a continuous action space the output layer that goes into the action distribution has a shape of 2*num_outputs. Each action has two values goi g I to the action distribution. One represents the mean and the other the std of a gaussian distribution.

In your case the custom model should have an

[2022-11-29 01:17] ZedRover commented on #30613
![image](https://user-images.githubusercontent.com/29392414/204414611-6c71e324-c3e1-44ff-8598-82b96c709d60.png)
My customized model is like this. Should I change something in the forward method？

[2022-11-29 01:28] jianoaix commented on #30629
Hmm the problem was still there even if the data scale was reduced to 4000 samples with each generating a np.random.randint(256, size=(3, 35, 224, 24), dtype='uint8'). But still both nightly and 2.1 had this issue.

[2022-11-29 01:30] mvindiola1 commented on #30613
I think it should be 2*action_space.shape[0] but we do not need to guess.

You can get the required number like this:

[code]

[2022-11-29 01:34] ZedRover commented on #30613
It really works. Thanks for your help!

[2022-11-29 01:34] #30613 closed

[2022-11-29 01:37] #28226 closed

[2022-11-29 01:38] alanwguo commented on #30660
I just noticed this today. The job detail page should show the same "unavailable" message and have the tooltip that's shown in the job list page. Will put up a fix and cherry-pick for 2.2

[2022-11-29 01:43] heng2j commented on #30695
Hi @justinvyu, thank you for your quick response! Sorry that I made the assumption that 'params' was a standard way to pass in custom parameters. Thank you for your suggestions, and I managed to add the "custom parameters" via the `training_loop_config`.

And thank you for creating the PR to fix this issue! Much appreciate for your quick turnaround!

[2022-11-29 02:02] jiaodong commented on #25699
We ran into the exact same issue in a recent user workload pair programming, this error is subtle enough since "it works" but leads to serious perf issues that currently our release tests are not covering (we mostly only run the script once or multiple times without explicitly checking objects).

We should consider marking it as P0 fix in Ray 2.3 release.

[2022-11-29 02:06] WeichenXu123 commented on #28876
@rkooo567

This sounds good.

I think we can add an option in `ray start` CLI, like:
`ray start ... --delete-temp-on-exit`

WDYT ?

[2022-11-29 02:14] rkooo567 commented on #30573
We merged the PR. Let's see if it becomes unflaky after that

[2022-11-29 02:15] iycheng commented on #30679
Yeah, OK to revert it.

[2022-11-29 02:18] matthewdeng commented on #25699
@jiaodong can you share a simple repro? I think your workload probably captures the main issue a little better, and matches our original hypothesis of a global variable causing a memory leak. This should hopefully make this easier to debug.

This should probably still be a P1.

[2022-11-29 02:23] jiaodong commented on #25699
The repro here works quite well as the minimal repro, user code i'm using can run without memory leak even with  global vars as long as all UDF used are inline imported. So the key issue from another workload still circles back to the same top of the file import issue here.

[2022-11-29 02:27] rkooo567 commented on #28876
I think for this sort of feature, it is better to rely on the users instead of supporting it ourselves with an option. There may be questions like "how long is the grace period" or other complicated features that might need to come together. What about you just implement this way?

[code]

[2022-11-29 02:31] WeichenXu123 commented on #28876
@rkooo567

[code]
This might be hard for ray-on-spark implementation. When ray on spark shutdown, spark task process received KILL signal and then os triggers a TERM signal for `ray start ...` process, and this implementation we have no chance to execute  "Remove tmp dir" when ray node shut down.

What about add a more clear option like:
`ray start ... --clean-temp-dir-on-shutdown` ?

[2022-11-29 02:43] iycheng commented on #30686
@scv119  my feeling is that since it's not broken in ray 2.1 (https://buildkite.com/ray-project/oss-ci-build-branch/builds/1120#018486b8-ee35-4527-b2ce-140ae28678b5) and it seems that the whole test didn't run (2.1's run for 1-2 h and this only run for 30min). So we probably should fix this.

This one is the one creating wheels. If we skip this, I guess we won't have mac wheels.

[2022-11-29 02:51] iycheng commented on #30686
Ok, it seems that it's just flakey. For example, https://buildkite.com/ray-project/oss-ci-build-branch/builds/1306#0184c097-232a-494c-b22d-ff393e946217 finished on releases 2.2.0 branch.

I'd say, if it's just flakey, it's not an issue. @xwjiang2010 when you get errors like this, could you just retry? If you successfully finish it eventually and get the wheels, I think it's OK.

[2022-11-29 03:07] iycheng commented on #30694
The rerun finished successfully.

[2022-11-29 03:17] iycheng commented on #30694
[code]

[2022-11-29 03:29] jovany-wang commented on #30659
Hum, IP will break our internal log links because we always start a new raylet process once the previous one gets dead as a fast failover.

[2022-11-29 03:46] axu-git commented on #30229
Thanks for this! I was having the same problem, and with

pip install -U "ray[default] @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp39-cp39-manylinux2014_x86_64.whl"

it works now!

[2022-11-29 04:35] iycheng commented on #30694
[code]

[2022-11-29 04:35] iycheng commented on #30694
[code]

[2022-11-29 04:37] iycheng commented on #30694
[code]

It seems use a lot of time finish leasing the worker.

[2022-11-29 05:00] incalia commented on #30629
@jianoaix thanks for looking into this.
The link to the nightly is not the right one, apologies for this.  There is no issue running the script with Ray installed from ‘pip install -U "ray[default] @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl’

[2022-11-29 05:05] incalia commented on #30629
In case this helps, I ran the Python Garbage collector every 5 samples and I still had the RAM memory issue.

[2022-11-29 05:21] matthewdeng commented on #25699
Oh I see, reading over Slack I didn't realize that the global variable that was being imported was a function from `tensorflow.keras`...

[2022-11-29 05:30] yingyaozhou opened #30725 "[Rllib] Error in running cartpole-marwil.yaml"
### What happened + What you expected to happen

I am trying to run the cartpole-marwil.yaml in https://github.com/ray-project/ray/blob/master/rllib/tuned_examples/marwil/cartpole-marwil.yaml.

I first run the following code to generate data.
[code]

Then I run the code:
[code]

However, I met the following issue.
[code]

Could you please help me with this problem?
Thank you so much.

### Versions

[2022-11-29 05:42] matthewdeng commented on #30545
@HuangLED do you have a simple repro for this?

Off the top of my head I can think of two reasons:

1. As the message indicates, the different workers are each reading a different number of batches/epochs of data, which leads to a mismatch in the number of `train.report()` calls.
2. One or more of the workers died, which leads to these workers not calling `train.report()`.

Do either of these seem

[2022-11-29 05:57] #30202 closed

[2022-11-29 06:09] cadedaniel commented on #30375
I confirmed that Eric's patch appears to fix the issue. See this PR https://github.com/ray-project/ray/pull/30724. Waiting for tests to pass, then will merge + create cherry-pick PR for 2.2.

[2022-11-29 07:37] rkooo567 commented on #30573
I will also add more tests as a follow up. So we shouldn't close this (but just downgrade the priority)

[2022-11-29 07:59] pcmoritz commented on #22312
What's the status of this?

[2022-11-29 08:03] rkooo567 commented on #22312
There's an attempt to fix the PR ^, but I didn't get enough bandwidth to get this in by 2.2. Will fix by 2.3

[2022-11-29 08:50] tianyicui-tsy opened #30731 "[Core] Worker leak"
### What happened + What you expected to happen

When task `work` depends on `fail` (which immediately raise an exception) and `inf_loop` (which runs infinite loop), canceling `work` doesn't recursively cancel `inf_loop`. Result is a worker with no way to cancel or kill. What's more, **shutdown the ray job doesn't seem to stop the `inf_loop` worker**, as a result, there's no way to stop the `inf_l

[2022-11-29 09:20] WeichenXu123 commented on #30659
@rkooo567 I am not familia with the part code, cannot contribute it for now.

[2022-11-29 09:22] WeichenXu123 commented on #30659
So what's the relationship with my case ?
My case I start 4 ray nodes in a machine, I think it should start 4 raylets processes correspondingly ?

[2022-11-29 09:29] rkooo567 commented on #30659
@jovany-wang if we have node id, that should be okay?

[code]

@WeichenXu123 in this case, you will have 4 unique node id and 1 IP addresses. E.g.,

[code]

and `ray list nodes` should tell you the node id of each raylet

[2022-11-29 14:04] xwjiang2010 commented on #30573
Sounds good, dropping release-blocking. Just FYI, still happens from time to time on release branch: https://buildkite.com/ray-project/oss-ci-build-branch/builds/1306#0184c0a2-9b0c-4ce7-905c-bb016a34d56d

[2022-11-29 14:07] xwjiang2010 commented on #30646
Still happening on release branch head: https://buildkite.com/ray-project/oss-ci-build-branch/builds/1306#0184c097-2330-4633-8cfa-fd3e7e2264a5

[2022-11-29 14:08] rkooo567 commented on #30659
And that would be equivalent to the original proposal you made, or would that be different? https://github.com/ray-project/ray/issues/30659#issuecomment-1328953303

[2022-11-29 14:09] xwjiang2010 opened #30735 "[ci][rllib] two tests timing out"
test_dqn_frozenlake_v1: https://buildkite.com/ray-project/oss-ci-build-branch/builds/1306#0184c0a8-ec12-40c1-a360-bc64fdd54bc9

batch_norm_model_dqn_tf: https://buildkite.com/ray-project/oss-ci-build-branch/builds/1306#0184c0a8-ec16-422e-be0f-ae5f7cb701fc

[2022-11-29 14:09] xwjiang2010 commented on #30735
Let me know if this is just flakiness and I should ignore.

[2022-11-29 14:32] rkooo567 commented on #30585
Yeah it is the same type of issue. It doesn't have to be a release blocker. FYI, the issue will be fixed by this PR https://github.com/ray-project/ray/pull/30672 (need to still check why the test is still failing.. when I ran it myself, it passes 50 times in a row)

[2022-11-29 14:34] xwjiang2010 commented on #30573
Just confirming is this still release blocking or we can drop it?

[2022-11-29 14:41] rkooo567 commented on #30573
Can you give me one more day for this? I will sort that out by today.

[2022-11-29 14:41] rkooo567 commented on #30573
(is this the last blocker?)

[2022-11-29 15:23] clarkzinzow commented on #30629
This may be the same underlying issue that's causing this GRAM leak when going from Pandas DataFrame batches with multi-dimensional tensor columns to Torch tensors: https://github.com/ray-project/ray/issues/29034

It seems like the issue happens when going from our internal Pandas block representation (using our tensor extension type), to a user-facing Pandas DataFrame batch (our tensor extension

[2022-11-29 15:30] clarkzinzow commented on #30629
Confirmed that I can reproduce the memory leak on latest Ray master.

[2022-11-29 15:30] clarkzinzow commented on #30629
Also confirmed that the memory leak is avoided by switching to `.iter_torch_batches()`, as above.

[2022-11-29 15:39] jovany-wang commented on #30646
I'm working on it. But it should take some time.

[2022-11-29 16:41] xwjiang2010 commented on #30453
@clarkzinzow this can be closed with https://github.com/ray-project/ray/commit/b3bcd3a5ba6f973a93e10bcb8c9122b1453eb27a?

[2022-11-29 16:47] jovany-wang commented on #30659
oh, my bad. They are the same.

[2022-11-29 16:51] clarkzinzow commented on #30629
@jianoaix @incalia @ericl I've confirmed that this is a Torch-level memory leak (present in the latest Torch release); it looks like Torch doesn't properly release memory when `torch.as_tensor()` fails. I have a minimal reproduction is below:
[code]

Output:
[code]

[2022-11-29 17:02] clarkzinzow commented on #30629
Looks like this can happen even for ndarrays that don't share a single base buffer, so this is a pretty general memory leak:
[code]

[code]

[2022-11-29 17:09] xwjiang2010 commented on #30735
batch_norm_model_dqn_tf is also flaky on master, ignoring it after discussing with @kouroshHakha

[2022-11-29 17:16] stephanie-wang commented on #30711
So far I found that the latency for this workload is not very stable. Both a recent (c835ef9543a66301da2ba39181f7bd53e7e5da1d) and an older commit (96b7cddfeff7bbdc4b10552a395ed33784ee81c2) showed similarly high latencies when run multiple times.

c835ef9543a66301da2ba39181f7bd53e7e5da1d:
[code]

96b7cddfeff7bbdc4b10552a395ed33784ee81c2:
[code]

I'll check on 2.0 and see if the variance is similar

[2022-11-29 17:18] stephanie-wang commented on #30699
Looks like it's also affecting datasets_preprocess_ingest. Do you mind taking care of that one too, @rkooo567? Thanks!

[2022-11-29 17:19] vakker commented on #29623
Is there any update on this issue? Is it reproducible or is this something particular to my setup?

[2022-11-29 17:22] stephanie-wang commented on #30719
Closed by #30718.

[2022-11-29 17:27] stephanie-wang commented on #30666
I believe it's OK to pass a runtime env to an actor, but according to the error message, you should not try to pass an absolute pathname for the current working directory. Other options (like a remote URI for the directory or pip packages) should be OK. Probably this is because uploading the absolute pathname will be expensive and might vary depending on which node the actor is placed on.

Does it

[2022-11-29 17:30] clarkzinzow commented on #30453
@xwjiang2010 That PR was unrelated to this, this is for the core `test_cancel` test. However, I think that this can be closed since https://github.com/ray-project/ray/pull/30558 mitigates this particular flaky test.

[2022-11-29 17:30] #30453 closed

[2022-11-29 17:33] jpgard commented on #30648
It works!!! thank you for sticking with this issue.

I don't know what the root cause was here, but it seems like there is an extremely fragile set of dependencies at play here that I don't have the time or inclination to look into much further; will add to this thread later if I can identify the exact culprit.

If I can give back with a PR to resolve this in the future let me know :).

Closing th

[2022-11-29 17:33] #30648 closed

[2022-11-29 17:34] xwjiang2010 commented on #30686
dropping release-blocker according to last comment.

[2022-11-29 17:40] xwjiang2010 commented on #30588
I am gonna drop release blocker here, as the most recent run on release branch is passing: https://buildkite.com/ray-project/release-tests-branch/builds/1222#0184bf27-89de-4a94-8e7f-18e0a28e00d5

[2022-11-29 17:44] stephanie-wang commented on #30615
Great question, I think part of the problem here is that torch tensors are not zero-copy deserializable, so every time you call `ray.get`, it actually doubles the memory usage: one copy stays in shared memory and the other is the deserialized copy in the worker's heap. This issue is tracked [here](https://github.com/ray-project/ray/issues/26229). You could try your script again with a numpy array

[2022-11-29 17:49] stephanie-wang commented on #30588
Ah thanks, yes I should've dropped it earlier! We believe it's a testing issue anyway, not a bug in OSS.

[2022-11-29 18:11] scottjlee opened #30742 "#29575"

[2022-11-29 18:11] #30742 closed

[2022-11-29 18:22] iycheng commented on #30694
So bad... tried 5 times and all passed...

[2022-11-29 18:27] kouroshHakha commented on #30735
Both tests seem to be non-blocker. `batch_norm_model_dqn_tf` is just flakey. `test_dqn_frozenlake_v1`'s error does not make sense and It runs fine both on master and even on this branch when checked out locally.

[2022-11-29 18:27] #30735 closed

[2022-11-29 18:41] Yard1 commented on #30661
Thanks for the report @VeronikaPolakova. Would you be interested in submitting a PR? Happy to provide any help you may need.

Otherwise, I'll add this to my backlog.

[2022-11-29 18:43] Yard1 commented on #30649
Hey @maksimoc, `mlflow_mixin` is being deprecated. Could you try with `MlflowLoggerCallback` (https://docs.ray.io/en/latest/ray-air/package-ref.html#mlflow) instead?

[2022-11-29 18:45] Yard1 commented on #30662
Hey @wxie2013, as I mentioned in the discuss thread, this is because the trainable function is ran in a separate process on each Tune worker in parallel. Therefore, argparse will expect arguments that are simply not provided when Ray spawns those processes.

[2022-11-29 18:48] MoZZez commented on #30685
Issue happened due to one of the code lines related to data preprocessing overwrite the name 'train', from `import ray.train as train`.

[2022-11-29 18:48] #30685 closed

[2022-11-29 18:50] xwjiang2010 commented on #30694
should we drop release blocker then and treat it as flaky test?

[2022-11-29 20:04] wxie2013 commented on #30662
Hi @Yard1, got it. Thanks for the help

[2022-11-29 20:04] #30662 closed

[2022-11-29 20:58] scv119 opened #30747 "[Core][Observability] SIGSEV in CoreWorkerMemoryStore::RecordMetrics"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-pr/builds/22563#0184c4fc-3cd1-49c5-b800-ea336716d451
[code]

### Versions / Dependencies

latest

### Reproduction script

https://buildkite.com/ray-project/release-tests-pr/builds/22563#0184c4fc-3cd1-49c5-b800-ea336716d451

### Issue Severity

_No response_

[2022-11-29 21:52] architkulkarni commented on #30642
Hi @litttl,

How are you detecting the memory leak?  Can you share which process is leaking memory, and how fast?  Does it only happen when you're receiving requests, or does it still happen when there are no requests?

[2022-11-29 22:00] scv119 commented on #28789
duplicate of https://github.com/ray-project/ray/issues/26262

[2022-11-29 22:00] #28789 closed

[2022-11-29 22:01] jpgard opened #30749 "ray.data.from_pandas() with multiple DataFrames only provides access to the first DataFrame in input"
I'm fairly confident that this is a bug, unless I am using the API improperly (if so, let me know).

I want to construct a ray Dataset from multiple pandas dataframes; the docs for [`ray.data.from_pandas()`](https://docs.ray.io/en/latest/data/api/input_output.html#ray.data.from_pandas) suggest this should be easy.

However, it looks like a dataset constructed with `.from_pandas()` only provides ac

[2022-11-29 22:01] #24710 closed

[2022-11-29 22:05] #30534 closed

[2022-11-29 22:05] #29734 closed

[2022-11-29 22:06] #29647 closed

[2022-11-29 22:34] joshmyersdean commented on #13405
Has there been any progress on this issue?

[2022-11-29 22:42] xwjiang2010 commented on #30747
Which PR may be causing it? I saw you reran it several times on master and still failed?
But on release branch I am not seeing the same failure. The most recent run is passing: https://buildkite.com/ray-project/release-tests-branch/builds/1222#0184bf27-8abf-4e80-ba33-a1498cc54916

commit: https://github.com/ray-project/ray/commit/ac169c01a2526d186916d43906a1a307238c1367

Is this a release blocker?

[2022-11-29 22:49] iycheng commented on #30694
@scv119  how do you think?

[2022-11-29 22:51] #30690 closed

[2022-11-29 22:51] scv119 commented on #30747
yes it is a release blocker. the change is introduced 4 weeks ago: https://github.com/ray-project/ray/commit/9eab65ed77bdd9907989ecc3e241045954a09cb4

[2022-11-29 22:56] #30375 closed

[2022-11-29 22:59] xwjiang2010 commented on #30713
cc @Yard1

[2022-11-29 23:01] xwjiang2010 commented on #30713
Dropping release blocker.
As a separate item, rllib team would evaluate updating to use relative links.

[2022-11-29 23:16] Yard1 opened #30759 "[Core/observability] "View the dashboard at..." message is printed even if `include_dashboard` is False"
### What happened + What you expected to happen

If a user calls `ray.init(include_dashboard=False)` the `"Started a local Ray instance. View the dashboard at..."` message will still be printed, which is misleading.

The webpage can be opened, but no metrics will be fetched, making the dashboard unusable (as expected).

See https://discuss.ray.io/t/disable-dashboard/8471 for context

### Versions

[2022-11-29 23:17] jpgard commented on #30749
Sorry, I can see now that this isn't the intended use of the API -- would be helpful to note this in docs of `.from_pandas()` that the input dataframes are concatenated row-wise in the resulting dataset.

[2022-11-29 23:17] #30749 closed

[2022-11-29 23:23] clarkzinzow opened #30760 "[Core] Graceful task cancellation of queued tasks kills the worker."
The semantics of `ray.cancel(ref, force=False)` are that the executing worker won't be killed, and that a `TaskCancelledError` will be raised in the driver. This is particularly important for data-intensive workloads, where kill the executing workers when cancelling a task will lead to a lot of worker pool churn, which can slow down workloads. Currently, however, if a task is cancelled while it is

[2022-11-29 23:54] scv119 commented on #30747
OK maybe not: https://github.com/ray-project/ray/issues/22981

[2022-11-30 01:23] scv119 commented on #22981
duplicate of #30747

[2022-11-30 01:23] #22981 closed

[2022-11-30 01:39] stephanie-wang commented on #30700
Ran this 10x and couldn't reproduce. It may have been fixed incidentally by a recent revert.

[2022-11-30 01:39] #30700 closed

[2022-11-30 01:45] stephanie-wang opened #30770 "[core] Document Windows and OSX support for Ray clusters, support opt-in"
### Description

Currently Ray will silently fail to work if a user attempts to create a Windows or OSX cluster. `ray start` works without issue but [this line](https://github.com/ray-project/ray/blob/398971210671336d1e9c63b068ef5798e96a7158/python/ray/_private/services.py#L624) causes the driver to always listen on a localhost address, which causes mysterious errors about being unable to retrieve

[2022-11-30 01:46] stephanie-wang commented on #30770
As a temporary workaround, I believe you can do `ray.init(_node_ip_address="localhost")` but it's a bit of a hack and isn't guaranteed to work in the future.

[2022-11-30 01:50] Xinchengzelin opened #30771 "[Train] ray.train.torch.prepare_model stuck for clusters GPU training"
### What happened + What you expected to happen

When I run the code with 2 machines 3 GPUs in ray clusters.  `ray.train.torch.prepare_model(model)`, It stucked, nothing errors show. however, it worked OK when I used CPU distributed training(set `use_gpu=False`)

the logs:
[code]

### Versions / Dependencies

ray: 2.0.0
Pyton: 3.8.13
OS: Ubuntu 2004

### Reproduction script

The code is copied fro

[2022-11-30 01:52] amogkam commented on #30771
Hey @Xinchengzelin, can you upgrade to Ray master? (you can use the command `ray install-nightly` to download master version). There have been some issues with this that have been fixed recently.

[2022-11-30 02:11] clarng opened #30772 "[core] chaos_dataset_shuffle_sort_1tb fail with ObjectFetchTimedOutError with oom killer on"
### What happened + What you expected to happen

The test should pass when OOM killer on. Seems to be an issue with Ray core

### Versions / Dependencies

master

### Reproduction script

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_zcfrihkien9jmd7k8plgkqsw

### Issue Severity

_No response_

[2022-11-30 02:19] clarng opened #30774 "[core] reduce oom killer log spam for large clusters"
### Description

we log per node every minute with oom killer message, we should aggregate and emit this instead of per node

### Use case

_No response_

[2022-11-30 02:23] xwjiang2010 commented on #30645
Decide to just move back to prod for now...

[2022-11-30 02:23] #30645 closed

[2022-11-30 03:05] Xinchengzelin commented on #30771
I updated ray to verson:3.0.0.dev, now it's OK, Thanks

[2022-11-30 03:07] jovany-wang commented on #30646
@xwjiang2010 @scv119 Does it block your releasing?

[2022-11-30 03:12] amogkam commented on #30771
I don't remember exactly if it was included in Ray 2.1, but you can access the docs for master here: https://docs.ray.io/en/master/.

This will definitely be in the 2.2 release which we are doing soon.

[2022-11-30 03:13] jovany-wang commented on #30659
Node id looks good to me. @MisterLin1995 CC

[2022-11-30 03:20] Xinchengzelin commented on #30771
Thank you very much

[2022-11-30 03:26] AndyBug0 commented on #26229
It'll benefit us a lot if ray support this issue.

[2022-11-30 03:28] jovany-wang commented on #30646
I couldn’t reproduce it on my laptop. From the hang stack, I found 2 issues:
1. The code lines around the hang stack may cause hang if the subprocess have no any EOF , so I think we should fix this.
2. I still don’t know the reason why the subprocess has no EOF due to the lack of output from subprocess.

![image](https://user-images.githubusercontent.com/19473861/204700682-39d2162d-b799-4a76-ac99-

[2022-11-30 03:58] MisterLin1995 commented on #30659
I think it can help to solve @WeichenXu123 's problem and it's feasible.

[2022-11-30 04:25] larrylian commented on #30573
I looked at the few flakey's, maybe the branch code is relatively old and didn't bring my fix PR.

[2022-11-30 04:59] scv119 commented on #30646
@jovany-wang its only affecting Java test which is used by Ant, so if you think it’s not release blocking we are good to go

[2022-11-30 05:11] jovany-wang commented on #30646
Yes. It only happens on MacOS. So I think it's ok to release.

[2022-11-30 05:12] jovany-wang commented on #30659
@MisterLin1995 will take this.

[2022-11-30 05:15] #30704 closed

[2022-11-30 05:15] #30433 closed

[2022-11-30 06:42] Data-drone commented on #30229
Cool it works now

[2022-11-30 06:43] CansuCandan opened #30780 "Ray Cluster Resources Issue"
### What happened + What you expected to happen

Hi,

I have some issues.
I don’t know this is a bug or not. Please notify me about this issue.
I am setting up cluster. Firstly, I set Centos machine as head node, worker node1 Ubuntu, worker node2 also ubuntu. But when deployed code which simple consume resource, Centos machine not consume of resource. Also when I checked as ray status, Centos Cpu

[2022-11-30 08:15] bestwooo commented on #30094
It is exactly what I need! I can work on this together, if needed.

[2022-11-30 09:59] GuillaumeDesforges commented on #28089
From Huaiwei Sun on Slack

[2022-11-30 11:01] anatolii-kotov commented on #30582
I have the same issue on Mac OS 13.0.1 with Python 3.9.15, Pytorch and Ray 2.1.0

[2022-11-30 13:13] rkooo567 commented on #30780
Did you make sure all the ports are open based on https://docs.ray.io/en/master/ray-core/configure.html#ports-configurations?

[2022-11-30 13:13] rkooo567 commented on #30780
Normally this happens because of connectivity issues.

[2022-11-30 13:22] luffy2389 opened #30786 "[Tune] key error:"training_iteration" when first iteration finished"
`###` When I want use hyperopt to tune a model, it shows a bug name keyError: in ray2.1.0
[code]

### Versions / Dependencies

[code]

### Reproduction script
[code]

### Issue Severity

_No response_

[2022-11-30 14:19] xwjiang2010 opened #30788 "[release][core] oom release test is failing"
https://buildkite.com/ray-project/release-tests-branch/builds/1227#0184c6bc-20d9-4cbd-8cae-edd222e3873d

Retrying now

[2022-11-30 14:25] xwjiang2010 commented on #30550
`test_http_job_server` and  `test_job_agent` are failing consistently for the last 3 builds on release branch head.

https://buildkite.com/ray-project/oss-ci-build-branch/builds/1349
https://buildkite.com/ray-project/oss-ci-build-branch/builds/1348
https://buildkite.com/ray-project/oss-ci-build-branch/builds/1346

Can we take another look and see if they are real issues?

[2022-11-30 14:25] xwjiang2010 commented on #30550
Adding back release blocker for tracking. Feel free to drop them if they are not.

[2022-11-30 14:46] xwjiang2010 commented on #30646
Dropping release-blocker per above discussion.

[2022-11-30 14:54] xwjiang2010 commented on #30550
Showing up in both "Ray Core Unit Test" and "Dashboard Test", consistently.

[2022-11-30 15:03] xwjiang2010 commented on #30565
Start to show up consistently on release branch again. And I guess the same for master. Still suspecting some external dependency change.

Links to CI on release branch: https://buildkite.com/ray-project/oss-ci-build-branch/builds?branch=releases%2F2.2.0

Tests that are affected: Linux post-wheel, Minimal Install 3.7/3.8.

Can we do another round of sanity check and sign off for release?

[2022-11-30 15:15] xwjiang2010 commented on #30788
Still failing after retry (the retry is just under the original linked try in buildkite UI)

[2022-11-30 15:17] clarng commented on #30788
oom killer is not enabled in the test:

(base) ray@ip-172-31-237-100:~/oss-release-tests-2$ grep -r memory_mon /tmp/ray/session_latest/logs/
/tmp/ray/session_latest/logs/raylet.out:[2022-11-30 07:11:54,261 I 247 247] (raylet) memory_monitor.cc:71: MemoryMonitor disabled. Specify `memory_monitor_interval_ms` > 0 to enable the monitor.

The cluster env is on commit f12d1f078ccd3df2217eb7fe79f992d8eb

[2022-11-30 15:21] xwjiang2010 opened #30790 "[ml release] air_benchmark_xgboost_cpu is failing / becoming flaky"
https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_578y54nv7w9325kdyv6f87ji?command-history-section=command_history

Still retrying, but looking at the error message - we run into runtime env creation issue.

[code]

I am also not sure why `PL_DISABLE_FORK` needs to be present in a xgboost workload? Maybe just because we cannot tell when to

[2022-11-30 15:21] clarng commented on #30788
There is also an infra bug here
- the release test is run on the latest commit that removes the override in the cluster env
- the build is on an older commit that requires the cluster env override

hence we see the test fails on the branch and not on master

[2022-11-30 15:29] xwjiang2010 commented on #30694
Timing out on newest try: https://buildkite.com/ray-project/release-tests-branch/builds/1227#0184c6bc-2139-4885-9ddc-63b308239b01

[2022-11-30 15:42] xwjiang2010 commented on #30788
@clarng got it, thanks for the details!

The release infra is designed so - one can either choose to wait for the commit on head to be available, in which case the test code and the source code are exactly the same version; or one can opt to not wait and just grab the most recent available wheel on head. Note there is a delay between when a PR is landed and when the linux wheel is available for ru

[2022-11-30 15:44] xwjiang2010 commented on #30788
Running here: https://buildkite.com/ray-project/release-tests-branch/builds/1228

[2022-11-30 16:23] clarng commented on #30788
I am a bit confused - i thought we are not supposed to manually set the wheels per the run book:

https://www.notion.so/anyscale-hq/How-to-release-Ray-go-release-ray-28e4a2347577471288bbd7d64001fa88

Is there an issue with the run book ? If so we should update it

Given this i am going to close this chalking it to infra issues, but please re-open if there is an issue with the code

[2022-11-30 16:23] #30788 closed

[2022-11-30 16:35] #30747 closed

[2022-11-30 16:49] Yard1 commented on #30790
` because the Ray agent couldn't be started due to the port conflict. See `dashboard_agent.log` for more details. To solve the problem, start Ray with a hard-coded agent port. `ray start --dashboard-agent-grpc-port [port]` and make sure the port is not used by other processes.`

That suggests that the flakiness is due to the stochastic port assignment for the dashboard agent. @rkooo567 do we retry

[2022-11-30 16:55] asaacke commented on #30650
Hi, could I be assigned to resolve this? Timeline would be in the next two weeks at most. Thank you

[2022-11-30 17:10] Yard1 commented on #30771
I'll close this issue as the fix will be in 2.2, please reopen if you have any further questions @Xinchengzelin !

[2022-11-30 17:10] #30771 closed

[2022-11-30 18:18] Yard1 commented on #30786
Hey @luffy2389, The `train` method should not be overriden as it contains important internal code, that, among many other things, sets the `TRAINING_ITERATION`.

Instead, you should override the `step` method (each time it returns, one iteration of training is registered, and it will be called until the stopping condition is met or `"done": True` is present in the returned dict). Furthermore, inst

[2022-11-30 18:20] Yard1 opened #30795 "[Tune] Guard against users overriding internal `Trainable` methods"
### Description

We should detect and warn user if internal Trainable methods such as `train`, `save` and `load` are overriden.

### Use case

See https://github.com/ray-project/ray/issues/30786 for an example of confusion.

[2022-11-30 18:35] #30688 closed

[2022-11-30 18:54] luffy2389 commented on #30786
Thank you very much, because I was using RAY 1.1.0 before. It was a bit hard to adapt to 2.1.0.
Another problem, I was used in 1.1.0
`nruns = ray.tune.Analysis(os.path.join(args.local_dir, args.experiment)).dataframe().shape[0]`
Now what should I use to analyze all the experiments, you can refer to my original code

[2022-11-30 19:00] stephanie-wang commented on #30711
Seems the results are similar from 2.0. I think it's worthwhile to look into the variance and see if we can either incorporate it into the result reporting and/or fix it completely, but probably not a p0 right now.

[2022-11-30 19:20] architkulkarni commented on #30565
Summary of the issue:

Runtime env allows you to specify an existing conda environment for the Ray workers to use.  In the test for this, we set up a conda environment.  That conda environment needs to have Ray installed, so we install all of Ray's `"ray[default]"` dependencies.

Due to some unknown change in the dependency tree, the `pip install` of Ray's dependencies now takes forever (20+ minut

[2022-11-30 19:29] Yard1 commented on #30786
You should be able to access the same methods on the `ExperimentAnalysis` object returned by `tune.run`.

[2022-11-30 19:42] stephanie-wang opened #30798 "[CI] test_runtime_env_complicated is timing out"
### What happened + What you expected to happen

The CI test is timing out

### Versions / Dependencies

master

### Reproduction script

test_runtime_env_complicated

### Issue Severity

_No response_

[2022-11-30 19:44] rickyyx opened #30799 "[CI] `linux://:gcs_placement_group_manager_test` is failing/flaky on master."
- 41a0a28045c02de8e0f681c7ed4f9441c8fb8a05 FAILED [Buildkite :cpp: Tests (ASAN)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1344#0184c68c-7f32-41d2-bb00-28c85d0aac16)
- 41a0a28045c02de8e0f681c7ed4f9441c8fb8a05 FAILED [Buildkite :cpp: Tests](https://buildkite.com/ray-project/oss-ci-build-branch/builds/1344#0184c68c-7f2f-4559-ab20-f86d22d0ff91)
- 47f8faa0f2389e6995b3cda6834adbbdac7

[2022-11-30 19:46] cadedaniel commented on #30799
I think Sang took this on https://github.com/ray-project/ray/issues/30573#issuecomment-1332230195

[2022-11-30 19:46] #30799 closed

[2022-11-30 19:46] architkulkarni commented on #30798
Tracked here: https://github.com/ray-project/ray/issues/30565

[2022-11-30 19:46] #30798 closed

[2022-11-30 20:11] avnishn opened #30800 "[RLlib] Deprecate the RLlib spaces that are duplications of gym spaces."
### Description

RLlib supports repeated which is a duplication of gym sequences. We should deprecate this API in favor of gym sequences.

There are likely other spaces that we should dedup in favor of the gym counterparts.

### Use case

_No response_

[2022-11-30 20:36] luffy2389 commented on #30786
Many thanks

[2022-11-30 20:36] #30786 closed

[2022-11-30 20:37] iycheng commented on #30694
I'm still investigating on this one. I think the difficulty to reproduce on my side make it slow.

[2022-11-30 21:20] iycheng commented on #30694
logs: [ses_j43zvvuj4jtf2jtrzfislqye.tar.gz](https://github.com/ray-project/ray/files/10127373/ses_j43zvvuj4jtf2jtrzfislqye.tar.gz)

[2022-11-30 21:22] incalia commented on #30629
@clarkzinzow @jianoaix Thanks a lot for helping out.
I wanted to run some speed tests for tensor creation with your solution before getting back to you.
I'm not sure about what's happening under the hood, but not only your solution prevents the memory leak, but it speeds up the tensor creation by a factor of.  Switching from `dataset.to_torch` to `dataset.iter_torch_batches` goes from processing `

[2022-11-30 21:26] iycheng commented on #30694
Actor 742497be0149fea563a74cee03000000 timeline:

GCS LOG:
[code]

[2022-11-30 22:02] iycheng commented on #30694
[code]

[2022-11-30 22:27] architkulkarni commented on #23010
Closed by https://github.com/ray-project/ray/pull/28203 and https://github.com/ray-project/ray/pull/28654. Starting in Ray 2.2, the job submission API accepts `entrypoint_num_cpus`, `entrypoint_num_gpus`, and `entrypoint_resources` parameters when submitting the job.  By setting any of these parameters, Ray will schedule the job using the same logic it uses to schedule ordinary actors and tasks.

[2022-11-30 22:27] #23010 closed

[2022-11-30 22:29] xblaauw opened #30802 "[Tune] ability to specify search algorithm when use tune.run_experiments()"
I have 200 jobs that use the same objective function and parameter space but a different target variable. I can search the space using any of the tuning algorithms for any one job just fine:

[code]

I would expect to be able to use something like this for queuing multiple similar jobs:

[code]

When I run this I even get the notice: "Running with multiple concurrent experiments. All experiments w

[2022-11-30 22:29] architkulkarni opened #30803 "[Jobs] for `stop_job`, use SIGTERM followed by SIGKILL instead of immediately using SIGKILL"
Currently we use SIGKILL to stop the process which runs the job entrypoint script: https://github.com/ray-project/ray/blob/87b821cc7567f284afbe0420ae152b488a352086/dashboard/modules/job/job_manager.py#L319

We should instead use SIGTERM to allow the process to exit gracefully, and only resort to SIGKILL after some timeout.

[2022-11-30 22:33] iycheng commented on #30694
The timeout one is because the scheduling perf is slow:
[code]

which previously, it's 30it/s

[2022-11-30 22:36] edoakes commented on #30803
Once we do, we should also update all relevant documentation.

[2022-11-30 22:44] architkulkarni commented on #30550
The `test_http_job_server` and `test_job_agent` failures are reproducible locally.  It might be related to this error message I see:

[code]

Looking into this.

[2022-11-30 22:55] scottsun94 opened #30805 "[Core] ux issues of ray state cli for tasks"
### What happened + What you expected to happen

Several issues:
- [x] `ray list tasks` doesn't show all the tasks (discrepancy between it and the dashboard). Finished tasks get gc'ed
- [ ] the ordering of the results of `ray list tasks --detail` is weird. Task Id should be the first.

![Screen Shot 2022-11-30 at 2 47 03 PM](https://user-images.githubusercontent.com/9677264/204925168-00403b8f-de76

[2022-11-30 23:06] rkooo567 commented on #30805
1 is P1, and it will be fixed by the end of the year.

2 is P2 for now, but fix should be easy

[2022-11-30 23:11] #30395 closed

[2022-11-30 23:53] amogkam opened #30808 "[AIR] Log statements from child actors not captured in log files"
### What happened + What you expected to happen

Logging statements inside the `train_loop_per_worker` are not captured when `log_to_file` is set to True.

[code]

The log messages are shown correctly in stdout:
[code]

But when checking the stdout file saved in the trialdir, it is empty
[code]

This is because only the stdout from the trainable actor is saved to file, but the stdout from children

[2022-11-30 23:58] amogkam opened #30809 "[Train] Cuda OOM on shutdown"
### What happened + What you expected to happen

On TorchTrainer shutdown, we call `torch.cuda.empty_cache()`. However, this operation writes data to GPU memory, and by default uses device 0: https://discuss.pytorch.org/t/out-of-memory-when-i-use-torch-cuda-empty-cache/57898/2.

When training on instances with many GPUs, this can lead to OOM.
[code]

As mentioned in https://discuss.pytorch.org/t/o