[2022-02-01 21:58] yuanchi2807 commented on #21725
@iycheng Coming back to this strawman, we face a bit struggle to modularize the building blocks to express multi-approval workflows, in a similar way that we modularized machine learning pipelines. For example, how would one fork multiple downstream steps after "APPROVE" or reset/restart after "REJECT"?
[code]

[2022-02-01 22:08] coinzerge commented on #21957
@clarkzinzow the schema is:
[code]

[2022-02-01 23:49] msaroufim opened #22043 "[Feature] Feedback on Ray Job API"
Hi everyone,

I've been using the [Ray Job API ](https://docs.ray.io/en/releases-1.9.0/ray-job-submission/overview.html) and ray up as part of my work build a [Ray scheduler for torchX ](https://github.com/pytorch/torchx/commit/787bb8fbfe89be46366fa70fe25de6a340b4f45f)

I will preface the below by saying I think the Ray Job API is a great feature but I think it needs a bit more work to make it as

[2022-02-02 00:09] amogkam commented on #22043
Thanks for the thorough details @msaroufim! This is great feedback for us. Also cc @edoakes  @AmeerHajAli

[2022-02-02 00:15] edoakes commented on #22043
Thanks so much for the feedback @msaroufim, this is really helpful!

On the point about working_dir size limitation, I don't think we're likely to increase this because it's not intended to be used for very large files (e.g., datasets in Kaggle). The best practice for these is to store them in cloud storage (e.g., S3, HDFS) and load them in the application.

I had a few more questions about your o

[2022-02-02 00:19] architkulkarni opened #22044 "Support `runtime_env` `pip` `requirements.txt` in Job submission"
Same for conda.  Most likely the reason this doesn't work already is that the runtime env gets set up on the remote cluster, but the `requirements.txt` or `environment.yml` file is not present on the cluster.

Option 1: Push the files to the cluster before the runtime_env gets built
Option 2: Parse the file to List or JSON before sending the runtime_env to the cluster

Option 2 should be more stra

[2022-02-02 00:34] architkulkarni commented on #21713
I was able to reproduce this on a multinode cluster!  So far it seems like the mixing only happens when the number of concurrent jobs exceeds the number of nodes in the cluster.  Still trying to find the root cause.

[2022-02-02 01:15] msaroufim commented on #22043
Thanks @edoakes

This actually sounds fine, might just need to mention this in docs or source code for `working_dir`

Added more detail here, there' scripts like in PyTorch distributed where you need to set environment variables like rank and world size that. [Had to do this to make things work](https://github.com/pytorch/torchx/commit/787bb8fbfe89be46366fa70fe25de6a340b4f45f#diff-f685f5e236868636

[2022-02-02 02:33] iycheng commented on #21725
I believe here it's about constructing a DAG. So you probably want to put the DAG construction into a step function and return the created DAG (Workflow in this context) in that step. For example,
[code]
Then you probably will want a step and inside that step do A/B/C and depending on the result rerun the function or not.

Thinks it as ML training, where each iteration, you have some result and yo

[2022-02-02 03:54] architkulkarni commented on #21713
This is actually a Ray Core bug unrelated to Jobs.  I was able to reproduce it using a script of the form

[code]

on the head node.  Sadly, it seems to only happen sometimes (randomly), and I'm only able to reproduce it on a physical multinode cluster.  I'll follow up with a new Github issue with more details.

[2022-02-02 05:19] scv119 opened #22045 "[Release 1.11.0][Core] plasma performance regression (`single_client_put_gigabytes` -50%)"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://github.com/ray-project/ray/pull/22041#discussion_r797065162 we noticed regression in plasma performance regression in ray 1.10.rc

### Versions / Dependencies

N/A

### Reproduction scr

[2022-02-02 05:21] scv119 commented on #22045
Recent plasma store change: https://github.com/ray-project/ray/commit/ded4128ebfd6f30a85f81c447e2ba54d2e008570#diff-c7fde30f098d63d772ccf9ecddd18aa189b2a26278469315c17626a0a3b0cc82

[2022-02-02 05:31] #18688 closed

[2022-02-02 05:31] #18461 closed

[2022-02-02 05:31] #18762 closed

[2022-02-02 05:37] jiaodong opened #22046 "Move formatter to helper file as pure functions"

[2022-02-02 05:37] #22046 closed

[2022-02-02 05:37] #22019 closed

[2022-02-02 05:38] jiaodong opened #22047 "Structured DAG __str__"

[2022-02-02 05:38] #22047 closed

[2022-02-02 05:40] #18989 closed

[2022-02-02 06:30] soundway commented on #21920
I think we'll have to create a custom resource `hm_worker`, and then use them instead for hm_workers exclusively so workers will not be scheduled on the hm_worker bundles.

So basically, with PG, if any actor's resource requirement is a subset of another, then we'll run the risk of scheduling failures unless we create actors in a very specific order (in this case if we create hm_worker first then

[2022-02-02 06:31] #18687 closed

[2022-02-02 07:17] yogeveran commented on #21488
**Design wise:**

I think that Pool actor resource allocation should be defined as an argument to the Pool constructor, and not statically.
And you can set the default as 0 for compatibility with Python multiprocessing pool.

But if someone sets it more than 0 then we are back to the same dead lock issue.
The issue can be solved if an actor is waiting to one of its children to finish,
then it can

[2022-02-02 07:25] czgdp1807 commented on #21488
+1.

[2022-02-02 07:26] czgdp1807 commented on #21488
Yes., theoritically that seems correct to me. In fact, I would like to know if there is any internal C++ API in ray which maintains parent-child relationships between tasks. That would lead to a very simple solution and no-risk solution for this problem.

[2022-02-02 09:34] richardliaw commented on #21920
Seems like a fair theory.

A couple workarounds if this theory is correct, in addition to custom resources (which is not a nice workaround I see):

1. Place the hm_workers first, make sure they've been instantiated, then start the regular workers. This makes it so that the HM workers will acquire the right bundles. downside is that you may incur some extra latency.

2. Another option is to target

[2022-02-02 09:46] sven1977 commented on #22036
Hey @aralebox , thanks for raising this issue. I can reproduce and am working on a fix ...

[2022-02-02 11:18] rkooo567 commented on #21920
@soundway I totally agree with what you are saying. I think the current API is very hard to use. Actually we are actively seeing if we can make API simpler & easier to use. I will share more information once things are more refined.

The best one is `ray.availble_resources()`, but it has 2 issues.
1. The pg resources are weirdly formatted.
2. The consistency of API is not guaranteed. It is not gua

[2022-02-02 12:12] aralebox commented on #22036
Thanks for the prompt respond, Sven!

[2022-02-02 14:44] #20968 closed

[2022-02-02 14:47] spolcyn commented on #21713
@architkulkarni Thanks for the investigation! Glad the repro was successful for you -- will look out for the new issue.

[2022-02-02 15:22] chenk008 opened #22051 "[Bug] Support cgroup2 in agent.py"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

I deploy raycluster in a K8s cluster with cgroup2, the raylet.err show this error message:
[code]

### Versions / Dependencies

docker.io/rayproject/ray:latest

### Reproduction script

Use he

[2022-02-02 16:16] disruptek commented on #21999
I'm testing with a nightly (on python-3.9.5) and the first time I execute the code above, I'm left with four `IDLE` workers and a `_StatsActor` which persists.  Subsequent invocations add only three `IDLE` workers and a `_StatsActor`.

Are you able to reproduce?

[2022-02-02 16:40] mwtian commented on #22045
I will leave this issue to track the regression in `single_client_put_gigabytes`, from ~20/s -> ~10/s. And I will open a separate issue for the regression in `single_client_get_calls_Plasma_Store`.

[2022-02-02 16:54] mwtian opened #22053 "[Release 1.11.0][Core] `single_client_get_calls_Plasma_Store` performance regression (-24%)"
In the `1.11.0` release branch, `single_client_get_calls_Plasma_Store` has a regression from 5822/s -> 4417/s. After searching, I found 097706b35d55e0910cbc9bcf7995e1509ce2c6ca to be the root cause. The increased cost comes from recording stats in opencensus. I'm working on a fix.

The decisions to be made:
- Whether the regression needs to be fixed for the `1.11.0` release.
- To avoid the regress

[2022-02-02 18:05] amholler commented on #21870
Thanks for this fix!  I am trying to test the fix in my setup, which is deployment of Ray onto a K8s cluster
running ludwig automl.  The image I deploy for the head and workers is ludwigai/ludwig-ray-gpu:tf-legacy.
@tgaddair mentioned that I could add
[code]
to the worker setupCommands to load in the latest wheels but when I do that, the workers don't come up; they report
[code]

[2022-02-02 18:06] amholler commented on #21870
Does anyone know what might be going wrong and other ways I can get this great change?

[2022-02-02 18:09] jjyao commented on #18628
This issue can be closed now. We now have bot to auto upgrade dask version and run compatibility test.

[2022-02-02 18:23] gjoliver commented on #18044
We have moved away from using template and mixins to construct trainers.
Users should be able to override any member functions easily now.
Closing.

[2022-02-02 18:23] #18044 closed

[2022-02-02 18:25] mwtian commented on #22053
Btw, there was a previous regression for `single_client_get_calls_Plasma_Store`:
- [~10k in Ray 1.6.0](https://github.com/ray-project/ray/blob/master/release/release_logs/1.6.0/microbenchmark.txt#L4)
- [~7k in Ray 1.7.0](https://github.com/ray-project/ray/blob/master/release/release_logs/1.7.0/microbenchmark.txt#L15)

I didn't find the conclusion for it.

[2022-02-02 18:33] iconix opened #22056 "[Bug] Python: --extra-index-url does not work in requirements file anymore"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Up until Ray 1.9.0, I could provide a call to `ray.init(address=head_address, runtime_env={'pip': requirements_file})` with a `requirements_file` that preprended the line `--extra-index-url IND

[2022-02-02 18:57] siekmanj commented on #21591
This appears to be related to https://github.com/ray-project/ray/issues/4090#issue-411627732.

[2022-02-02 20:06] ericl commented on #21870
Did you also add it to the head setup commands? If that still doesn't work, it might be due to the Ray operator / image being out of date, cc @mwtian on possible redis-removal related compatibility issues with upgrading to nightly.

[2022-02-02 20:07] ericl commented on #21999
That's expected. The number of stats actors shouldn't increase more than 1 though.

[2022-02-02 20:08] ericl commented on #21999
Hmm if the number of StatsActors increases @clarkzinzow I think we should make it a named actor / singleton as Serve does for its coordinator actor.

[2022-02-02 20:11] amholler commented on #21870
Head setup commands are not supported for Ray deployment on K8s, but I did run the head pip setup command manually
and saw the same problem on the head itself, even before any workers were added for scaling.

In fact, after I saw that the head didn't work if I used that install, I stopped the ray cluster, redeployed it with
running the pip command on the head, and only ran the setup command on the

[2022-02-02 20:14] scv119 commented on #22053
Yeah we've refactor a lot of plasma code during that period; could be introduced by one of those changes.

[2022-02-02 20:21] mwtian commented on #21870
What autoscaler version is running? It is possible that an earlier version (1.7?) of autoscaler is not launching the worker correctly by setting the correct flags. Are you able to see the flags that worker nodes are launched with?

[2022-02-02 20:28] amholler commented on #21870
The ray-operator node in my k8s cluster (which contains autoscaler) is deployed with
image: rayproject/ray:nightly so I assume it is very up to date since I deployed it about 4 hours ago.

What do you mean by "flags that worker nodes are launched with"?  Is it in the autoscaler log?
Since the problem can be reproduced on the head itself, we could focus there?

[2022-02-02 20:32] amholler commented on #21870
I can crank up a cluster with minWorkers=0, and the head comes up fine.  Then on the head,
if I execute the pip install for the updated Ray, the head starts complaining

[2022-02-02 20:33] #22004 closed

[2022-02-02 20:34] #22012 closed

[2022-02-02 20:35] amholler commented on #21870
Here's the tasks that were running on the head
[code]

[2022-02-02 20:37] amholler commented on #21870
I just noticed this in the ray log

[2022-02-02 20:39] DmitriGekhtman commented on #21870
I'd recommend if possible running head and worker images with the changes built-in rather than pip install at runtime or in setup commands.

[2022-02-02 20:48] amholler commented on #21870
Here is autoscaler logging for a worker startup
[code]

[2022-02-02 20:55] amholler commented on #21870
[code]

[2022-02-02 20:57] #18779 closed

[2022-02-02 21:18] architkulkarni commented on #20081
Closed by https://github.com/ray-project/ray/pull/21163

[2022-02-02 21:18] #20081 closed

[2022-02-02 21:33] mwtian commented on #21870
Thanks for the detailed info. Looks like the failure is indeed from autoscaler trying to start workers.

When executing pip install for the updated Ray, is the head node still running? Is the same error message generated, e.g. `RuntimeError: Could not read 'b'session_name'' from GCS (redis). If using Redis, did Redis start successfully?`?

In latest Ray, Ray client server accepts `--address` inste

[2022-02-02 22:08] architkulkarni opened #22059 "[runtime env] Use single URI for `py_modules` field"
Currently, the py_modules field users multiple `URI`s per runtime env.  This differs from all other plugins (`working_dir`, `pip`, etc).  We want to unify all the plugins behind an abstract base class, so we should refactor `py_modules` to only use a single URI.

Under the hood, the py_modules plugin should manage its own resources, consisting of different python modules.  But it should only expos

[2022-02-02 22:08] architkulkarni opened #22060 "[runtime env] Use LRU cache for URIs instead of random eviction"
Currently, when the cache size limit is exceeded, unused URIs are deleted in a random order.  Instead, we should delete the least recently URIs first.

[2022-02-02 22:08] pdames commented on #20974
@wuisawesome I'd be happy to be added to the AWS Node Provider contacts!

[2022-02-02 22:11] architkulkarni opened #22061 "[runtime env] Make RuntimeEnvAgent fate-share with raylet"
Context and discussion:
https://github.com/ray-project/ray/issues/21695
https://github.com/ray-project/ray/pull/20273#issuecomment-1022943004

[2022-02-02 22:15] Zyiqin-Miranda commented on #20974
+1 Happy to be added as AWS node provider contacts!

[2022-02-02 22:16] architkulkarni opened #22062 "[runtime_env] Remove `.lock` files after URI garbage collection"
Currently after URIs are cleaned up, files like `_ray_pkg_<hash>.lock` remain in the subdirectories of  `tmp/ray/session_latest/runtime_resources`.  We should clean these up as well.

[2022-02-02 22:56] amholler commented on #21870
Here is a more methodical set of steps, which also pulls the autoscaler out of the picture.
[code]

[2022-02-02 23:00] worldveil opened #22064 "Top hit for Pytorch on Ray isn't helpful for starting out"
Searching for ["ray pytorch"](https://www.google.com/search?q=ray+pytorch&oq=ray+pytorch) leads to [this page](https://docs.ray.io/en/latest/using-ray-with-pytorch.html)

We should update this page to be more beginner resources / an index, and move advanced best practices (current content) to another page via link.

[2022-02-02 23:03] amholler commented on #21870
Here's what's running on the head
[code]

[2022-02-02 23:03] amogkam commented on #22064
I think we can just remove this page altogether. It's pretty much all completely moot now with Ray Train. Just the "Downloading Data" Section we can move over to the Ray Train user guide. cc @maxpumperla @richardliaw

[2022-02-02 23:04] amholler commented on #21870
Here's what's running on the worker
[code]

[2022-02-02 23:17] iycheng commented on #21870
@amholler  have you restarted ray cluster after the upgrading? If failing to do that, in the end, you'll have the driver and cluster running in different ray versions.

From the log, it said failed to fetch the key, and usually, it happens when the ray version and autoscaler version are different.
[code]
This command needs to be run in `setupCommands:` I think. Basically, the ray version need to b

[2022-02-02 23:26] amholler commented on #21870
I did not restart the Ray Cluster after upgrading.  But "ray --version" showed the expected version
 version 2.0.0.dev0 after upgrading on both the head and the worker.

 In a k8s deployment, the autoscaler is running in a separate operator node; that node shows that it is running
 version 2.0.0.dev0.

 I can run the pip install in the setupCommands for the workers, but unfortunately, Ray does not

[2022-02-02 23:28] architkulkarni commented on #22056
@iconix Thanks for making the issue and for including the reproduction!  As a workaround before the fix is merged, you can still use `--extra-index-url` in the `conda` field of runtime_env.

E.g.
[code]
This also works if you save the `conda_dict` as an `environment.yml` file as in https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#create-env-file-manually

[2022-02-02 23:32] jiaodong opened #22066 "Commit ray DAG API in experimental folder"

[2022-02-02 23:36] iycheng commented on #21870
I think `ray --version`  is not fetching the ray version running but the version currently installed. For example, you can run `ray --version` even without the cluster up.

What we need is to make sure all images are running with the same version of ray. I think you can give it a try.
But still it'll be better if we can make them running with the same version of ray at the beginning.

[2022-02-02 23:39] amholler commented on #21870
Thanks @iycheng let me see if I can use the head restart trick (and BTW it would awesome if Ray supported
setupCommands for the head node for deployment in K8s clusters, like is done for deployment to AWS VMs)

[2022-02-02 23:45] mwtian commented on #21870
Yes, please let us know if restarting the head node helps. I think it will most likely fix the issue. I just reproduced the issue with `ray start --head` with Ray 1.9.2, install Ray nightly, and run `ray start --address=127.0.0.1:6379`.

In future with GCS bootstrapping, it should be possible for us to add version checks when starting a worker.

[2022-02-03 00:37] John-Almardeny opened #22068 "[Bug] Out of Memory Exception on K8s related to `num_cpu`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Clusters

### What happened + What you expected to happen

I have a cluster deployed on K8s, it starts with 1 head node and 3 worker nodes.

When I submit a remote "Task", it scales up and down perfectly.

Nevertheless, I cannot create Ac

[2022-02-03 00:41] John-Almardeny commented on #22068
Hey @scv119, @rkooo567  and @iycheng .

Can you please investigate this issue, as it seems a critical bug?

Many Thanks.

[2022-02-03 00:45] amholler commented on #21870
Yes, thank you @mwtian and @iycheng that worked!   At least it worked fine in my single
worker node repro scenario above, so hopefully, it will work in general.

I was able to do the "pip install" for the workers using the "setupCommands:" and I was able
to the "pip install" for the head here:
[code]

[2022-02-03 02:23] scv119 opened #22069 "[Dataset] Improve dataset performance for validation."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In certain workloads, the user runs validation very frequently; for example, every 1000 training step the use will validate the model with ~30GB of data. Currently the dataset is not optimized for validation performance, as the empiri

[2022-02-03 02:31] vladfi1 commented on #17322
Curious if any progress has been made on this. If it helps, ray's own [example-full.yaml](https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/aws/example-full.yaml) works to reproduce.

[2022-02-03 06:36] siekmanj commented on #21591
Here is a reproduction script and a partial workaround:

You have two separate machines on the same network, machine 1 with ip 192.168.0.1, and machine 2 with ip 192.168.0.2.

1. Machine 1 starts a ray cluster with `ray.init()` in python (or using the CLI with `ray start --head`, doesn't seem to matter)
[code]

2. Machine 2 tries to connect over Python using `ray.init(address=xyz)`. This is what h

[2022-02-03 08:26] #17432 closed

[2022-02-03 13:13] Xuzzo opened #22075 "[Bug] FrameStack not handled in ray 1.9"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

@MischaPanch  @ivandrodri

In our trainings we have been using [Framestack](https://github.com/openai/gym/blob/master/gym/wrappers/frame_stack.py) (gym wrapper) to stack observations. In ray 1.9,

[2022-02-03 13:36] sven1977 commented on #22036
@aralebox
fix-it PR: https://github.com/ray-project/ray/pull/22076

It was basically a bug in our sample collector, not adding samples for those episodes that have `training_enabled=False`. It should still collect those, but simply NOT postprocess them (and return for training) at a later point (when the rollout/episode is done). This not recording the data led to a "confusion" with the forward pa

[2022-02-03 13:36] sven1977 commented on #22036
Should be merged soon.

[2022-02-03 18:01] aralebox commented on #22036
Great! And thanks for the quick efforts!
Shall I update my ray to the latest version after the merge?

[2022-02-03 18:43] worldveil commented on #22064
Not sure I agree. We need a page that is the definitive place people land when they search "pytorch ray python". What will the contents be?

[2022-02-03 18:54] worldveil opened #22079 "Unclear what training functions should instantiate"
It's not really clear to a user in the [Ray Train porting documentation](https://docs.ray.io/en/latest/train/user_guide.html#run-training-function) what *actually should be created* in the training function, or what is best practice.

The diff breakdown is good, but sort of incomplete:

<img width="772" alt="Screen Shot 2022-02-03 at 11 53 32 AM" src="https://user-images.githubusercontent.com/1045

[2022-02-03 18:58] toza-mimoza commented on #22031
Never mind, this was not Ray problem.

[2022-02-03 18:58] #22031 closed

[2022-02-03 18:59] richardliaw commented on #22064
@maxpumperla to comment, but how about let's just wait a bit to address this? Things should make more sense with Ray ML  higher-level structure.

[2022-02-03 18:59] worldveil opened #22080 "Make Ray Tune / hyperparameter tuning usage more prominent in config section"
https://docs.ray.io/en/latest/train/user_guide.html#configuring-training

This section is good, but I missed the first couple read throughs that hyperparameter tuning was the main usage, ie: moving last sentence `A primary use-case for config is to try different hyperparameters. To perform hyperparameter tuning with Ray Train, please refer to the [Ray Tune integration](https://docs.ray.io/en/lates

[2022-02-03 19:02] worldveil opened #22081 "Ray Train / Ray Tune fails with Matplotlib"
This simple script finishes training, but then the actor coordinating the training dies at the end, causing the fault tolerance engine in Ray to re-run, creating an endless loop.

It may be caused by the inclusion of matplotlib, but that doesn't matter -- data scientists will often have such code, and Ray Train shouldn't cause it to explode.

## System info

[code]

## Code:

[code]

[2022-02-03 19:03] amogkam commented on #22064
@worldveil thats just an SEO question right? When people search up "python ray pytorch" it should lead to the torch section of Ray ML.

[2022-02-03 19:05] worldveil commented on #18730
@jjyao I have seen it again :/ is there any reason I should be seeing this on Ray 1.9.x? any regressions?

I can try to provide a repro if needed, but it is inconsistent

[2022-02-03 19:07] ckw017 opened #22082 "[Bug] test_basic_5_client_mode and test_actor_client_mode are flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

windows://python/ray/tests:test_actor_client_mode and linux://python/ray/tests:test_basic_5_client_mode are flaky, possibly related to #22025

`windows://python/ray/tests:test_actor_client_mode`

[2022-02-03 19:08] ckw017 commented on #22082
cc @iycheng can you take a look at these? Looks like they started flaking after #22025 was merged in

[2022-02-03 19:09] worldveil opened #22084 "Add more pandas / row-based / tabular mapping examples to Datasets docs"
Datasets treats everything is very map based, as opposed to index or iteration based like pandas or others.

If we don't point users that direction they're gonna have a confusing time, and wonder if Ray is even a good tool for their usecase if they are doing dataframe transformations on feature data for ML.

From @clarkzinzow : "Add in ctrl-f keywords like "row" and "column", more (tabular) exampl

[2022-02-03 19:17] worldveil opened #22085 "ResponseError: Invalid argument '10464' for CONFIG SET 'maxclients'"
Upon running a Ray script on a laptop for the first time in a day, I very often have the script fail and the following error message appear:

[code]

It's difficult to repro. Ray version is `1.9.2`. Any potential explanation or fix we should tell users to do / avoid?

[2022-02-03 19:21] maxpumperla commented on #22064
@ericl mentioned in Slack that we might want to move or remove some of the examples currently under Core. I think these 3 best practices guides (TF, Pytorch, notebooks) should be revisited.

We currently have good content for Pytorch for Tune and Train, and those should be surfaced in search first. Both are good destinations.

I think the page in question is interesting, because you learn how to u

[2022-02-03 19:32] jjyao commented on #18730
No, it shouldn't happen. If you can give a repro, I'm happy to debug it.

[2022-02-03 20:00] #18581 closed

[2022-02-03 20:57] jiaodong opened #22086 "Convert ray DAG into deployment classes"
Ray DAG -> List of "Deployment" instances.
 - [Done] Stripping body & args and feed into Deployment class
 - Bind deployment handle to init args/kwargs in each replica
   - For each bound arg, replace it with `serve.get_handle()` function instead, can be done via a simple transform pass.
   - Auto-generate unique deployment name based on class / func name if name not given.
 - [Done ? Looks easy]

[2022-02-03 21:03] jsuarez5341 opened #22087 "[Feature] [RLlib] Better error messages in preprocessor shape checks"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Mismatched observation and action spaces are a common source of difficult to diagnose bugs in custom environments. Current error messages simply state that the observation does not match the shape specified by the environment.

Someth

[2022-02-03 21:35] rkooo567 opened #22089 "[RFC] Moving runtime env out of worker pool"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently runtime env logic is tightly coupled to worker pool, and this is not an ideal place to write runtime env logic. This breaks the single responsibility principle, which leads to the complicated plumbing code path like we have

[2022-02-03 21:46] iycheng commented on #22082
Sure, let me revert it first.

[2022-02-03 22:09] scv119 commented on #21695
I think @rkooo567 summarizes this pretty good. I think a clean solution would be either

1. have all states managed by Raylet, and the python code is stateless and doing very dumb things.
2. have all states managed by a separate service (agent); and the Raylet has a shimmer that calls the service through RPCs.

In option 1, we can only spawn a python process to resolve those runtime dependencies (

[2022-02-03 22:12] edoakes commented on #21695
@scv119 I think there's also an alternative to do option (1) in a thread to avoid process overhead & complexity (harder to coordinate) (assuming calling into Python code from raylet thread is tenable)

[2022-02-03 22:12] edoakes commented on #22089
Agree at a high level with the motivation, we'll need a detailed proposal on how exactly it should interface w/ the scheduler.

[2022-02-03 22:57] architkulkarni opened #22096 "[runtime env] Support uploading and installing local `.whl` files using `py_modules`"
We should be able to specify local wheels to be used on the ray cluster.  We should be able to specify it in `py_modules`.

For the implementation, the runtime env agent can just install the wheel using `pip install`.

From the job submission perspective, it should look like this:
[code]
A user should also be able to use working dir and py_modules at the same time if they need to.

[2022-02-03 23:03] architkulkarni opened #22097 "[runtime env] Refactor `pip` protobuf to store a single str (`requirements.txt` contents) instead of list of "packages""
Currently when the user provides a `requirements.txt` file, it's parsed into lines.  The lines are stored individually in protobuf in a field called ["packages"](https://github.com/ray-project/ray/blob/master/src/ray/protobuf/runtime_env_common.proto#L27).  However, the lines in `requirements.txt` aren't independent and don't represent packages; for example they can contain global options like `--

[2022-02-03 23:10] architkulkarni opened #22098 "[Doc] [Jobs] add best practices for dealing with large files"
Users might try to pu their large local files in `working_dir` and run up against the 100MB limit for GCS storage.  Wherever relevant in the docs, we should clarify that the best practice is to use remote storage, and explain how that can be done with runtime_env.

[2022-02-04 00:43] amholler commented on #21870
My experimental run last night with this change looked great, with the Ray Autoscaler scaling down as desired.
Thank you very much!!

[2022-02-04 00:47] #20483 closed

[2022-02-04 00:47] mwtian commented on #21870
Great to hear!

[2022-02-04 00:57] scv119 commented on #22068
@John-Almardeny look at the error message, seems the worker node you are using have limited memory? (i.e. 2GB?)
[code]

[2022-02-04 04:54] igorgad commented on #22043
I'm particularly excited about the ray job API as an opportunity to move from clusters dedicated to a specific project to a generic cluster that could handle multiple workloads across the entire team.

Allow me to add a couple of points:
1. It should be easier to run certain scripts on specific nodes, like a non-ray training script on a GPU node. I have been using the following workaround for this

[2022-02-04 05:29] jiaodong commented on #22043
@igorgad thanks for your input ! For 2) we have an issue open for this and it shouldn't be hard to add https://github.com/ray-project/ray/issues/21956

For 1) I actually think it's already supported, and by reading through the code snippet you have, it highly overlaps with what current job manager is already doing, such as using an executor actor to manage lifecycle of a job, and use pgid to imple

[2022-02-04 05:45] abhalawat opened #22103 "Ray serialization problems"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

`Error : TypeError: Could not serialize the function address.contract`
I was using ray to make the processing between ethereum blockchain faster but faced this issue:

Code I used is:

Could an

[2022-02-04 06:01] rkooo567 commented on #22103
I recommend you to try https://docs.ray.io/en/master/ray-core/serialization.html#troubleshooting on the `contract` method, and see if that contains any unserializable objects. Note that it can happen if the function contains "captured unserialized variables". Unserializable objects can be something like lock objects.

Example;

[code]

[2022-02-04 06:02] rkooo567 commented on #22061
Can we defer this for now? We need actual design review to confirm the architecture. Detailed discussion is in https://github.com/ray-project/ray/issues/21695 (I think we need a formal design review)

[2022-02-04 06:09] abhalawat commented on #22103
When I am trying to connect to mongo DB it is giving me this error:
`TypeError: cannot pickle '_thread.lock' object`

`TypeError: Could not serialize the function address.contract. Check https://docs.ray.io/en/master/serialization.html#troubleshooting for more information.`

How to I resolve this?

[2022-02-04 06:15] #21536 closed

[2022-02-04 07:23] matthewdeng opened #22108 "[train] support per epoch shuffling with `prepare_dataloader`"
**Problem:** The current implementation of `train.torch.prepare_dataloader` does not support _per-epoch_ shuffling for the DDP case.

**Context from [DistributedSampler](https://pytorch.org/docs/stable/data.html#torch.utils.data.distributed.DistributedSampler):**

**Current Status:** There is no way for the user to access the `DistributedSampler` created by `train.torch.prepare_dataloader` or to s

[2022-02-04 07:41] czgdp1807 commented on #21868
Assigned to myself. Sorry for the mis-click. I will try to reproduce this issue on my machine.

[2022-02-04 08:48] John-Almardeny commented on #22068
How is that?
I'm allocating just 1KB per actor... That's I can create hundreds of them per worker node. Besides, I have initially 3 worker nodes and a tested auto-scaler for cpu amd memory which is scaling fine.... That's in total a huge amount of memory... Yet it's throwing OOMemory after creating 34 actors!

Finally, How do you explain that when I change number of cpus to 0.5 or more, without ch

[2022-02-04 08:55] John-Almardeny commented on #22068
Also, with simple calculation, if your sum what the error claimed to be the consumer, they sum up to less than 1Gi.... Although, again, I just allocated 1KB per actor and the problem resolved if I increase the irrelevant number of cpus!

[2022-02-04 09:10] mvheimburg opened #22110 "Cant pickle RayServeSyncHandle from Ray1.9"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

Pre Ray1.9 I was able to pass RayServeSyncHandles to different Ray Serve instances as argument to other instances, this broke form Ray1.9. I this by design or is this a bug?

### Versions / De

[2022-02-04 09:42] takeshi-yoshimura commented on #21883
num_gpus was not relevant here. It just an issue around the hard-coded client timeout for get(). The client retried pulling the remote big object from the beginning every 2 seconds. Consequently, a worker retried the same request forever. I think we can replace that retry logic to use exponential back-offs for each retry. I believe the fix will be effective for users with slow networks.

I will su

[2022-02-04 09:56] rkooo567 commented on #22068
The memory error is calculated by the real physical memory. Note that ray’s memory field is just a hint, and it doesn’t allocate real memory. Each ray processes usually used at least about 20-50mb of memory (it’s the default overhead we have).

 so creating 30 of them will use about 1.5gb, which is close to 2gb (which seems to be the memory limit of your head or worker nodes by the calculation per

[2022-02-04 10:00] alexvaca0 opened #22111 "[Bug] Windows access violation"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I was running a RL experiment with tune, and after the first training iteration I received the following error.

[code]

### Versions / Dependencies

Python 3.7
Windows 10
Ray 1.8

### Reproduc

[2022-02-04 10:08] John-Almardeny commented on #22068
Yes indeed except that I have more than 500Gi and the 30 actors are not on a single node, are they?
There are 3 initial working nodes: 2 x 3 = 6Gi available from the beginning.

Are you saying that the actors are not distributed over the worker nodes?
Also, what about the number of CPUs? it is very strange how it solved the problem although it's about memory ... I cannot allocate 0.5CPU per worker

[2022-02-04 10:09] rkooo567 commented on #22068
How many cpus do you have per worker node?

[2022-02-04 10:11] pcmoritz commented on #22111
Thanks for the report, can you check if this is gone in Ray 1.9.2? This should have been fixed in https://github.com/ray-project/ray/pull/19561.

[2022-02-04 10:12] pcmoritz commented on #22111
If it still happens in 1.9.2, can you post a reproduction, i.e. which script are you running?

[2022-02-04 10:17] John-Almardeny commented on #22068
1 CPU, 2Gi Memory, 2Gi Ephemeral Storage.

[2022-02-04 10:19] marceloruizrodriguez commented on #21490
Hello @xwjiang2010 thank you for your reply.
Yes, that seems to work now, I changed directly the file ./ray/tune/integration/wandb.py Line 198 from

to

Thank you!

[2022-02-04 10:19] #21490 closed

[2022-02-04 10:19] rkooo567 commented on #22068
Basically this is how scheduling works in ray now.

Each node has resources. Usually they are automatically calculated. Let’s imagine your worker node has 8 cpus

each of actor now then requests cpu. If you request 0.5 cpu, you can schedule up to 16 actors. If it is 0.1, it will be 80.

Ray’s default scheduling policy is hybrid. It doesn’t spread actors as much as possible by default. The default

[2022-02-04 10:21] rkooo567 commented on #22068
The default cpu is set to 0 for actors in ray now (i think this is a bit weird default, but let’s put aside that for now). So if you don’t set num_cpus to ray.remote it can create lots of actors

[2022-02-04 10:22] John-Almardeny commented on #22068
for this, I got a different error... something related to the destruction of the actor before being used/created ... something like this ... I think it wasn't able to create without specifying the number of CPUs

[2022-02-04 10:25] John-Almardeny commented on #22068
That's a perfect and logical explanation... Thank you!
But with all due respect, this principle screwed up the whole concept of the distributed system and the efficacy of clusters, man!

[2022-02-04 10:31] John-Almardeny commented on #22068
Is there a way to specify the max number of Actors per node?

[2022-02-04 10:36] rkooo567 commented on #22068
So you can only specify num_cpus in this case. Since you have 1 cpu per worker node, if you set num_cpus=0.25, it won’t create more than 4 actors per node.

Btw using only 1 cpu on a worker node is not recommended. It’s because ray can have many processes (it has default system procs and workers) per node by default, so having only 1 cpu might not be beneficial. I recommend you to set cpus at leas

[2022-02-04 11:16] John-Almardeny commented on #22068
Alright, got it, thanks.

so in summary, the solutions/options are as follows:

1. The optimal future one is to include `Memory` as another metric in Ray, along with the number of CPUs (not available for now).
2. Make the threshold of the HPA memory metric <50%, so it can scale up as early as possible when less than half of the memory is reserved, per worker node.
3. If you need to keep the CPU of

[2022-02-04 13:49] jon-chuang opened #22115 "[Core] Generic Async Actors / Workers"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

How to implement generic async actors:
- Split up object deserialize, execute, and serialization as tasks for the language-frontend event loop
- for execute body, allow polling and yielding, as instrumented by the language front-end,

[2022-02-04 17:04] amogkam opened #22118 "[train] Add minimal install test suite"
We recently had to revert a PR (https://github.com/ray-project/ray/pull/22117) since it changed the behavior of Ray Train to require torch. This was only uncovered because of a datasets release test failing that did not have a torch dependency.

we should a minimal install test suite to make sure that ray train tensorflow works even without torch installed, and vice versa. Ray train should continu

[2022-02-04 17:22] nikitavemuri opened #22119 "[Bug] `ray job` commands don't work with `RAY_ADDRESS={module}://`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

Ray client currently supports connection strings for external modules of the format `"other_module://"`, however ray job commands don't support this format. For example if the other module is

[2022-02-04 19:04] vicyap opened #22122 "[Bug] Resource demand backlog caps out at 10+ in multi-node K8s cluster"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

My Setup:

I have deployed a Ray Cluster on Kubernetes with EKS. The cluster has a worker type with 15 CPUs that is always on (min_workers: 1). Other worker types include 7 CPUs, 15 CPUs, 3

[2022-02-04 19:35] #22119 closed

[2022-02-04 19:51] ckw017 opened #22125 "[Feature][Client] deprecate ray.disconnect() and ray.connect()"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

This have been replaced with ray.shutdown() and ray.init() respectively.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-02-04 20:18] ericl commented on #22122
This seems like a pretty legit bug. @wuisawesome or @DmitriGekhtman can you try to repro? The script is just launching 200 tasks that sleep.

[2022-02-04 20:39] scv119 commented on #22045
hmm looks d6dbf3b8bf294022f2be3e88a2169c1c9cc3169c is the offending commit.

[2022-02-04 21:27] scv119 commented on #22045
Seems `RAY_max_pending_lease_requests_per_scheduling_category=10` indirectly affects `single_client_put_gigabytes` performance.  Specifically, in the benchmark we first run  `put_small` and
`put_multi_small` micro benchmark before running `single_client_put_gigabytes`.  Where the `put_small` and `put_mutli_small` involves task scheduling.

And as you can see from my following benchmark:

If we onl

[2022-02-04 21:32] clarkzinzow commented on #22045
What about "If we only run `single_client_put_gigabytes` without `put_multi_small` and `put_small`, we got 15.37 with **`RAY_max_pending_lease_requests_per_scheduling_category=1`**"?

[2022-02-04 21:32] #22056 closed

[2022-02-04 21:33] scv119 commented on #22045
[code]
makes no difference, as expected

[2022-02-04 22:34] scv119 commented on #22045
With some sleep between tests could cancel this noisy neighbor affect.

[2022-02-04 22:38] clarkzinzow opened #22130 "[Datasets] [Feature] Allow Ray task option override for write tasks."
The Datasets read API, along with most of the transformations, allow the user to override the underlying Ray task options via a `ray_remote_args` argument. The write API currently doesn't allow this, but users may want to do so for writes in order to e.g. have write requests retried (`retry_exceptions=True`) or change the default number of retries (`max_retries=8`).

[code]

[2022-02-04 22:47] architkulkarni opened #22131 "[release] No way to run C++ wheels sanity check on Windows"
Currently the release process involves running https://github.com/ray-project/ray/blob/master/release/util/pip_download_test.sh

For Windows, the release manager has to execute the steps in this script manually.

For the non-C++ sanity check this is okay; the release manager can create isolated conda environments to test each wheel and then run `python sanity_check.py` in each environment.

Howeve

[2022-02-04 23:27] scv119 commented on #22045
so the theory is the extra worker lease added some load to the system which will eventually clean up by itself. but I haven't found the smoking gun yet.

[2022-02-04 23:54] ckw017 opened #22135 "[Bug] linux://python/ray/tests:test_autoscaler_drain_node_api flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

linux://python/ray/tests:test_autoscaler_drain_node_api is flaky

[Representative failure](https://buildkite.com/ray-project/ray-builders-branch/builds/5829#004a8593-5c98-43a4-8339-165a7933

[2022-02-04 23:57] ckw017 commented on #22135
cc @rkooo567 Looks like it might be related to #21993

<img width="699" alt="Screen Shot 2022-02-04 at 3 56 33 PM" src="https://user-images.githubusercontent.com/14043490/152618519-55c19351-2658-4d1b-b8c1-69369a46600e.png">

[2022-02-05 00:12] #21873 closed

[2022-02-05 00:39] DmitriGekhtman commented on #22122
I was not able to replicate with a similar set-up but everything running with Ray 1.10.0

One suggestion is to trying using the same Ray version across all components (client, operator, head, workers).
(We'll add that recommendation to the docs soon.)

Issues with unexpected resource demands are kind of a recurring theme lately.
I'm going to push a PR adding a debug flag to enable logging the enti

[2022-02-05 00:41] rkooo567 commented on #22135
I think this should fix it https://github.com/ray-project/ray/pull/22104

[2022-02-05 01:20] DmitriGekhtman commented on #22122
This should help debug stuff like this
https://github.com/ray-project/ray/pull/22136/

[2022-02-05 01:48] mgerstgrasser commented on #21736
@avnishn I think the issue is that the final convolutional layer is not flattened even if there is a FC stack following it. I'm not sure if that's intentional or an oversight. If the final CNN layer is flattened, the nature CNN architecture works as intended.

I've submitted a draft PR here: #22137
That draft PR fixes the Tensorflow version. I haven't touched the Torch version yet. Let me know if

[2022-02-05 01:58] zhuhj-tery opened #22138 "[Bug] Failed to extend PPO algorithm"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I plan to implement an algorithm which is very similar to PPO, so I just try to extend the existing algorithm based on the instruction: https://docs.ray.io/en/latest/rllib-concepts.html#extending-

[2022-02-05 02:06] clarkzinzow opened #22139 "[Datasets] [Feature] Support scalar column --> tensor column conversions"
We should support the trivial scalar column --> tensor column conversions, creating a single-element-per-row tensor column. Right now, we don't have any test coverage for this conversion, and users are hitting some odd edge cases.

[2022-02-05 02:07] clarkzinzow opened #22140 "[Datasets] [Feature] Upstream tensor column extension array to Arrow."
Look into upstreaming our tensor column extension array to Arrow, either as the existing Python implementation, or as a more native (C++) implementation.

[2022-02-05 03:10] #22138 closed

[2022-02-05 05:23] #20203 closed

[2022-02-05 05:23] ericl commented on #10960
Minimal repro:
[code]

The root cause is that we don't return the worker to the raylet per:

[code]

[2022-02-05 06:25] lifesboy commented on #21276
I've got same issue:
`8265/jobs?view=summary` 404 not found

Ray==1.9.2
Python==3.7.3
OS==Debian 10 (Buster) 4.19.208-1, Nvidia GPU

[2022-02-05 06:51] iycheng commented on #22082
It seems still flaky even with the fix.

`linux://python/ray/tests:test_basic_5_client_mode` seems related to the change

`windows://python/ray/tests:test_actor_client_mode` for this one, it seems flaky in linux. And the error is the same.

I pull some logs here:

[code]

My theory is that: when we send request, we got a dealloc from cython and leads to a deadlock. In cython's doc it's not suppose

[2022-02-05 12:31] mwbyeon commented on #21274
@clarkzinzow First of all, thanks for your reply.

I tried running the same code on a nightly wheel. Unfortunately, it's still very slow. :(
So, I checked codes in the master branch.

It takes long time in `_fetch_metadata_remotely()` method.
I think `cloudpickle.dumps/loads` is too slow. it seems to take `40~70ms` per piece.
https://github.com/ray-project/ray/blob/98be9fb5e08befbd6cac3ffbcaa477c5

[2022-02-05 14:14] rkooo567 commented on #9528
Hmm, maybe we can revisit this. It looks like many people seem to have the same issue.

To be clear, did I understand this issue correctly?

- Start a driver
- Kill a driver using IDE
- There are leak processes?

Is this correct?

[2022-02-05 18:04] tgaddair commented on #22139
Thanks for creating this issue @clarkzinzow. It appears in Ray 1.10 there is an issue with boolean arrays that extends beyond scalars. Here's an issue with converting a column of boolean vectors:

[code]

This raises the exception: `TypeError: buffer is too small for requested array`

[2022-02-05 20:03] scv119 commented on #22045
mark it as P1 as it's not an regression.

[2022-02-05 20:29] avnishn commented on #21736
Thanks I will take a look!

[2022-02-05 21:05] scv119 commented on #22045
Some other interesting result:
[code]

[2022-02-05 21:09] scv119 commented on #22045
[code]

[2022-02-05 22:45] mgerstgrasser commented on #21736
@avnishn Tanks! I also was looking into the Torch version today and just pushed a commit that should fix that one too. I think the Torch version was actually broken even with a 1x1 final convolutional layer if there was also a post-fc-stack, and if `vf_share_layers` was set to `True`. The value output layer in that case was expecting an input of size equal to the number of channels in the final co

[2022-02-05 22:51] scv119 commented on #22045
So it turns out to be an issue with parallel_memcopy again.  If you run following [benchmark](https://gist.github.com/scv119/6b81d35e1d8827aab79b698c21bda3f6) scripts with some logging enabled (this [branch](https://github.com/scv119/ray/commit/6a6bb03cae68263f754d4a817bc31c4e9b63daae))

You will see following result:

[code]

[2022-02-05 23:03] scv119 commented on #22045
There is a separate question that should we disable parallel memcopy at all? Seems it's still benificial

[code]

[2022-02-05 23:05] #22066 closed

[2022-02-05 23:06] scv119 commented on #22045
We will close this issue for now. the performance is affected by the parallel write performance of mmap, which is similar to a previous [issue](https://github.com/ray-project/ray/issues/20388) we investigated

[2022-02-05 23:07] #22045 closed

[2022-02-06 01:40] ericl commented on #21999
I can confirm StatsActor is cleaned up after the job exited, so things are working as intended now.

[2022-02-06 02:43] igorgad commented on #22043
Hey @jiaodong, thanks for your answer.

1. Yeah, the snippet I shared was highly inspired by the `JobSupervisor` and that's what I'm doing at the moment for job placement. If I understood correctly from your answer, users must handle the placement of their jobs by creating a ray job to act as a proxy on the desired node. However, this approach still requires from the user some knowledge about ray

[2022-02-06 03:44] dsctt opened #22150 "[Bug] DDPPO training_batch_size ValueError"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, RLlib

### What happened + What you expected to happen

When running DDPPO, getting this error `ValueError: Set rollout_fragment_length instead of train_batch_size for DDPPO.` from https://github.com/ray-project/ray/blob/ray-1.10.0/rllib/agen

[2022-02-06 06:54] jiaodong commented on #22043
Hmm not quite -- I assume the "ray job to act as proxy" is the `JobSupervisor` actor in job manager, **it always runs on the headnode** since its `.options()` required ray cluster resource by the name of headnode. It's a very lightweight actor that's primarily responsible for setting up runtime_env for the job and provide a way for job manager to looks into and manage the job's lifecycle.

It's im

[2022-02-06 06:59] jiaodong commented on #22043
For `ray job list` api sadly it won't be in 1.10 :/ the branch cut was made much earlier and in fact was just release already. It's not a very difficult PR tho and the team might just implemented it someday .. cc: @architkulkarni will have better idea about detailed plan for next steps of oss job submission.

[2022-02-06 08:31] rokrokss commented on #9528
In my case,
- Start a driver
- do ray.data.read_parquet().to_modin()
- ray.shutdown
- There are leak "ray:IDLE" processes

[2022-02-06 10:44] easysoft2k15 commented on #21921
@alexvaca0,
I'm running into the same problem. Did You manage to solve it somehow?
Thank You

[2022-02-06 11:02] simonsays1980 opened #22151 "[Bug] Duplicate code block in `trainer.py::validate_config()`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

# What happened?
This is no bug in the sense that something ends in an error. There is duplicated code in `trainer.py` at lines [2521](https://github.com/ray-project/ray/blob/fb0d6e6b0b48b0a681719

[2022-02-06 11:26] simonsays1980 commented on #22151
This PR closes the issue: #22152

[2022-02-06 11:35] #22036 closed

[2022-02-06 13:52] rokrokss opened #22154 "[Datasets] [Bug] ray::IDLE processes persists and number of IDLE processes grow indefinitely"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

I have a ray cluster in kubernetes environment, I use it for training lightgbm_ray models.
But after running this code multiple times, ray::IDLE processes keeps growing and eventually worke

[2022-02-06 16:42] vicyap commented on #22122
Hi @DmitriGekhtman, thank you for looking into this. About "One suggestion is to trying using the same Ray version across all components", I did initially use the same version, 1.9.2, on all components and still hit this bug/behavior. I thought upgrading the ray operator to the latest docker image (`rayproject/ray:bbc64e` for me at the time) might resolve it, but it did not.

I'll try again and se

[2022-02-06 17:24] jjyao commented on #21812
@scv119 The assertion you added did fail in master: https://buildkite.com/ray-project/periodic-ci/builds/2666#9a83fedc-2454-421b-bd0f-92b9959ac882

[2022-02-06 21:44] ericl commented on #22154
I can reproduce this with
[code]

[2022-02-06 21:48] ericl commented on #21789
@mwtian is this still an issue now?

[2022-02-06 22:51] ericl commented on #21870
Re-opening since the feature flag has been disabled for now in master.

[2022-02-07 01:10] amholler commented on #21870
Hope this functionality can be back on by default soon!  It made a huge positive impact on
efficiency during Ray Tune async hyperband search.  Thanks!!

[2022-02-07 03:08] SongGuyang commented on #19189
Keep the issue open.

[2022-02-07 03:57] jjyao opened #22161 "[Core][Nightly] Failed pipelined_ingestion_1500_gb_15_windows due to function manager"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

It's failing due to https://github.com/ray-project/ray/commit/2038cc96c6833d296ffbeb8a4473bbe73391776c based on bisect https://buildkite.com/ray-project/periodic-ci/builds/2672

### Versions /

[2022-02-07 04:07] SongGuyang commented on #21695
It makes sense to remove the dashboard agent restart feature. But I think they are two issues. We can also choice option 1 or option 2 after we remove the restart feature?

[2022-02-07 04:13] SongGuyang commented on #21695
You are right!

[2022-02-07 04:21] SongGuyang commented on #21695
@rkooo567 Anyway, "Option 3 + removing agent restart feature" is acceptable for me. I think the current restart feature is used to cover some specific cases, like agent hang and some abnormal exiting. Maybe @fyrestone can discuss about this.

[2022-02-07 05:40] DmitriGekhtman commented on #22122
To use the flag, the operator will need to use an image that includes the changes from the linked PR -- "rayproject/ray:6235b6" should do.
That particular operator image should be compatible with Ray 1.10.0.
(If really in doubt, the log statement from the PR can be patched into a 1.10.0 image.)

[2022-02-07 05:52] DmitriGekhtman commented on #22122
Current running suspicion is that the bug could have to do with the Ray client connection.
In any case, it would be useful to see the resource message.

[2022-02-07 06:39] rkooo567 commented on #22161
cc @ericl can we revert this commit for now?

[2022-02-07 06:41] rkooo567 opened #22162 "[Bug] shuffle_data_loader seems we have some dependencies issue"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://buildkite.com/ray-project/periodic-ci/builds/2666#ae2d15dc-84e8-4754-acf7-61993c44533b

[code]

### Versions / Dependencies

N/A

### Reproduction script

Run `shuffle_data_loader`

###

[2022-02-07 06:44] rkooo567 commented on #21432
@iycheng do we have a separate issue for tracking memory leak? I think we can close this and track that one instead

[2022-02-07 06:48] rkooo567 commented on #20933
I think there are 3 possible solutions.

1. Only allow values that match the concept of "resource instance". For example, 0.25, 0.5, 0.125. This will be the easiest way to avoid confusion, but users won't be able to specify values such as 0.3.
2. Improve error messages. This is not trivial since the error messages are generated from the autoscaler now, which don't know the details about resource i

[2022-02-07 07:43] larrylian opened #22164 "[Ray HA] Head node support active/standby feature"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

The following K8s deployment is an example. Now the components redis and gcs server that persist core data are deployed on the head node. If the head node fails, the entire ray cluster will be unavailable.
For high availability. Now p

[2022-02-07 10:16] smorad opened #22166 "[Feature] [RLlib] Pytorch JIT as framework"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

According to Sven, the torch framework is roughly 50% slower than the tf framework. We should look into `torch.jit` to see if we can get any speedups.

We have a couple different options:
`torch.jit.trace`: This traces a model using d

[2022-02-07 11:22] smorad commented on #22166
Preliminary results, using `torch.jit.script` submodules approach:
<img width="376" alt="Screen Shot 2022-02-07 at 11 17 10 AM" src="https://user-images.githubusercontent.com/1743889/152778348-502d734e-8c96-451a-9d88-6365885474dc.png">
Orange is JIT blue is without JIT -- the task is stateless cartpole using the default LSTM model. It seems like the JIT compilation cost dominates early, making it

[2022-02-07 12:00] amohazab opened #22168 "ValueError: RolloutWorker has no `input_reader` object! Cannot call `sample()`. You can try setting `create_env_on_driver` to True."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, RLlib

### What happened + What you expected to happen

Hello everyone,
I am trying to run a APEX_DDPG with tune on a multi-agent environment with Ray v1.10 on Python 3.9.6.
I get the following error:

**raise ValueError("RolloutWorker has no

[2022-02-07 12:34] h-vetinari opened #22169 "[Bug] compatibility with aioredis >=2"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

aioredis 2.0 was incompatible with current ray (#17462) and pinned in #17465. This is not a longterm-sustainable solution, hence this issue.

[2022-02-07 13:22] rkooo567 commented on #22169
We will remove aioredis from the dependency soon. Cc @mwtian

[2022-02-07 13:59] rkooo567 opened #22173 "[Bug] `publish_error_to_driver` is broken in the master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I think this is a bug introduced after GCS pubsub is introduced. But it is also possible the regression happened before.

`publish_error_to_driver` seems to be broken in the master. Please look

[2022-02-07 14:35] rkooo567 commented on #21695
@SongGuyang I think I generally agree with Chen here. We should make one of the components (client or agent) stateless. Removing agent restart is an easy way to make agent stateful. There's also a proposal to improve the general code structure here; https://github.com/ray-project/ray/issues/22089 (detailed proposal is not out yet).

[2022-02-07 14:37] disruptek commented on #21999
This is still a problem for me; the code above still leaks one actor and several workers.  Any suggestions on where to look?

[2022-02-07 15:54] jjyao commented on #21995
It has been successful since then.

[2022-02-07 16:08] jjyao opened #22176 "[Bug] dataset_ingest_400G failed in master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://buildkite.com/ray-project/periodic-ci/builds/2676#adf28a1c-2dbc-4e06-bfed-e43fafbea372

[code]

### Versions / Dependencies

master

### Reproduction script

core nightly

### Anything

[2022-02-07 16:11] jjyao opened #22177 "[Bug] datasets_preprocess_ingest failed in master due to pyarrow==7.0.0"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://buildkite.com/ray-project/periodic-ci/builds/2676#65781171-8c7f-4d05-a638-018f400047d0

### Versions / Dependencies

master

### Reproduction script

core nightly

### Anything else

_N

[2022-02-07 16:20] Mathieu-Prouveur opened #22179 "[Bug] [RLLIB] APEX-DDPG crashes if using multiple gpus"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I tried out the torch implementation of APEX-DDPG with multiple gpus but it crashes.

### Versions / Dependencies

ray 1.10.0

### Reproduction script

I tried running the following config (same a

[2022-02-07 17:00] vicyap commented on #22122
Ok, I relaunched the operator with `rayproject/ray:6235b6` and set AUTOSCALER_LOG_RESOURCE_BATCH_DATA=1.

I'm still getting the same bug. "{'CPU': 1.0}: 1+ pending tasks/actors" when I should have many more pending tasks.

Logs and info here: https://gist.github.com/vicyap/47bcc6b078abfbae44bafac3676cc01e

[2022-02-07 17:16] mattip commented on #20376
The strange thing is that locally the previous tests take about the same amount of time, so it is not that the machine overall is slow.
test | CI time | local time
---|---|---
test_modin | 3s | 3s
test_actor_pool | 105 | 93s
test_asyncio | 45s | 40s

[2022-02-07 17:26] architkulkarni commented on #22043
We expect to have `ray job list` in Ray 1.12 (mid-March release).  @igorgad does Jiao's latest explanation make sense?  I'm working on adding more documentation for Jobs and will probably add something related to this question, so feedback here is appreciated!

[2022-02-07 17:34] edoakes opened #22181 "[jobs] Detect job supervisor failures without client polling"

[2022-02-07 17:47] wuisawesome commented on #20933
+1 to warning from the raylet. Btw this should still trigger scale-up from the autoscaler (if not, we should track that as a bug)

[2022-02-07 18:08] jwyyy opened #22182 "[Train] Allow flexible control on metrics report and model checkpoint on worker nodes"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, Ray Train requires all workers to call `train.report()` and `train.checkpoint()` the same number of times and in the same order ([code](https://github.com/ray-project/ray/blob/master/python/ray/train/backend.py#L470-L492)).

[2022-02-07 18:43] scv119 commented on #22176
[code]

note the object size is 200GB

[2022-02-07 18:50] ericl commented on #22161
Why is it failing?

[2022-02-07 18:54] scv119 commented on #22177
[code]
this is even more crazier: 753GB

[2022-02-07 19:07] jjyao commented on #22161
It hangs at the very beginning:
[code]

[2022-02-07 19:11] iycheng commented on #21432
Here: https://github.com/ray-project/ray/issues/22027

[2022-02-07 19:11] #21432 closed

[2022-02-07 19:12] iycheng commented on #22082
It seems like we can't use lock in `__del__` which will lead to a deadlock.
https://stackoverflow.com/questions/18774401/self-deadlock-due-to-garbage-collector-in-single-threaded-code

[2022-02-07 19:16] jjyao commented on #22161
It's possible that `_wait_for_function` never returned.

[2022-02-07 19:22] jjyao commented on #22161
Also saw
[code]

[2022-02-07 19:25] #22162 closed

[2022-02-07 19:25] mwtian commented on #22082
@iycheng good find. I can try to make a change to avoid the lock when releasing the object ref.

[2022-02-07 19:35] ericl commented on #22161
I think we should just investigate this one instead. The PR will be quite hard to revert, and this isn't impacting other components.

[2022-02-07 19:36] ericl commented on #22161
Can try setting DEFAULT_ENABLE_PANDAS_BLOCK=False to further narrow down the cause here.

[2022-02-07 19:44] #8373 closed

[2022-02-07 19:50] avnishn commented on #7946
closing because after running the repro script, it looks like we chased this bug away.

[2022-02-07 19:50] #7946 closed

[2022-02-07 19:53] #7923 closed

[2022-02-07 20:17] ericl commented on #22173
Does test_publish_error_to_driver still work?

Btw, I'm wondering if we should remove this functionality. Now that the scheduler warnings are printed from the autoscaler, it's unclear if this is still needed. For most other uses, just logging at ERROR level is enough.

[2022-02-07 20:24] jsuarez5341 commented on #22150
@sven1977 This is part of the NMMO integration effort -- up there with APPO/Impala, as this would enable CPU-only training for small nets

[2022-02-07 20:26] matthewdeng commented on #21987
@Yard1 maybe related to Tune dynamic resources

[2022-02-07 20:35] avnishn commented on #21734
I'm unable to produce this bug. @xwjiang2010 did you produce a fix for this, and can this issue be closed?

[2022-02-07 20:38] avnishn commented on #6669
I'm going to go ahead and close this issue for now, as we have examples that show how to do training on a self-play setup

[2022-02-07 20:38] #6669 closed

[2022-02-07 20:40] avnishn commented on #6786
Going to go ahead and close this issue as it is likely stale.

[2022-02-07 20:40] #6786 closed

[2022-02-07 20:40] avnishn commented on #7244
@sven1977 can we close this issue?

[2022-02-07 20:41] avnishn commented on #7244
I don't seem to remember us discussing this anytime recently, so I'm going to close it, but please reopen if necessary.

[2022-02-07 20:41] #7244 closed

[2022-02-07 20:45] DmitriGekhtman commented on #22122
Thanks for the detailed logs. I'll take a look.
cc also @wuisawesome who has more experience with the autoscaler's processing of the resource message

[2022-02-07 21:13] #11724 closed

[2022-02-07 21:15] #11645 closed

[2022-02-07 21:21] avnishn commented on #11605
I'm unable to find any errors with running this script as of ray 1.10. I'm going to go ahead and close this for now.

[2022-02-07 21:21] #11605 closed

[2022-02-07 21:25] avnishn commented on #8908
I'm going to go ahead and close this for now, as it seems that we're going to stick with vf clipping see #22171

[2022-02-07 21:25] #8908 closed

[2022-02-07 21:25] #22181 closed

[2022-02-07 21:30] avnishn commented on #7472
going to close this issue for now, as it is stale, and it needs a repro script.

[2022-02-07 21:30] #7472 closed

[2022-02-07 21:31] avnishn commented on #7924
going to close this for now, as it is stale and requires a repro script.

[2022-02-07 21:31] #7924 closed

[2022-02-07 21:45] mwtian commented on #22173
`test_publish_error_to_driver` is passing. Will double checking the difference in configurations.

[2022-02-07 21:47] architkulkarni commented on #22131
cc @SongGuyang @mwtian for awareness.  I would guess this is low priority because the intersection of Windows users and C++ users is small.

[2022-02-07 21:52] alexvaca0 commented on #12122
Any updates on this? It would be really useful to be able to restart trials when using PBT or other type of schedulers.

[2022-02-07 22:01] amogkam commented on #12122
FYI @xwjiang2010 @Yard1 @krfricke

[2022-02-07 22:02] amogkam commented on #12122
Btw @alexvaca0 this is only the case when synch mode is enabled for PBT.

If you are using the default async mode for PBT then this is not an issue.

[2022-02-07 22:30] clarkzinzow commented on #21980
@KepingYan Ping on this!

[2022-02-07 22:30] clarkzinzow commented on #22139
@tgaddair Thank you for finding a reproduction! I'll open up a dedicated issue for that.

[2022-02-07 22:33] clarkzinzow opened #22190 "[Datasets] [Bug] Casting boolean tensor columns fails."
Casting boolean tensor columns fails.

## Reproduction

[code]

[code]

[2022-02-07 22:43] ericl commented on #22177
Hmm I suspect that there's something wrong with pandas block split() implementation. If this is the case, turning off the enabled flag should fix it.

[2022-02-07 22:49] ericl commented on #22177
From https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.copy.html

[code]

This seems to indicate deepcopy may not actually decouple the returned array fully from the base data. So random_shuffle() could cause O(n^2) data blowup if each slice is including a reference to the full base data.

[2022-02-07 23:09] clarkzinzow commented on #22190
@tgaddair Just checked, I'm able to reproduce on `ray==1.10.0`, but the latest Ray nightly wheel appears to handle this correctly.
[code]

Could you try the latest nightly wheel?

[2022-02-07 23:18] tgaddair commented on #22190
Yep, looks good. Any chance y'all can create a 1.10.1 patch release?

[2022-02-07 23:25] scv119 commented on #22161
@jjyao I'm turning it off in https://github.com/ray-project/ray/pull/22194 for the other P0s

[2022-02-07 23:30] jjyao commented on #22161
Thanks. For this case, turning it off seems to be not working.

[2022-02-08 00:05] #21319 closed

[2022-02-08 00:26] wuisawesome commented on #22122
Autoscaler is only seeing 1 request queued. This is going to be tough to debug without a repro.

[code]

@vicyap can you try to wrap your submission code in a remote task so we can try to rule out whether it's a ray core or ray client issue?

[2022-02-08 00:31] Tixxx opened #22195 "[Bug] Serialization error during model training"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Symptoms:
Running model training using remote ray executors fails with strange errors like "KeyError" or "AttributeError" when the object indeed has the key or attribute. Example stack trace:

[2022-02-08 00:31] Tixxx commented on #22195
@richardliaw

[2022-02-08 00:34] mwtian commented on #22173
The behavior from https://github.com/ray-project/ray/pull/22172 is not a real issue. The exception in `log_monitor.py` is raised before driver subscribes to the errors. If a 3s sleep is added before the exception, the exception will be printed at the driver.

[2022-02-08 00:35] mwtian commented on #22173
I agree it is confusing to have both error info and error logs both forwarded to the driver. Removing this seems like a good idea.

[2022-02-08 00:40] alexvaca0 commented on #12122
If I understand it right , I think I'm not, because I only have 1 gpu so I cannot provide each agent with 1 gpu for training (I'm using 8 agents)... is that async mode?
What I mean, is for example that I want to stop an experiment running with 8 agents, each with their checkpoints etc., so that I can use my computer for other things for some time. Then, I want to restart that experiment (everythin

[2022-02-08 00:53] jiaodong opened #22197 "Make "prev" a first-class arg in DAGNode types for lineage"

[2022-02-08 01:19] richardliaw commented on #22195
[code]

[2022-02-08 01:22] richardliaw commented on #22195
I can't reproduce the error, it works well for me.

@Tixxx can you try making this change:

[code]

[2022-02-08 02:19] SongGuyang commented on #22131
@architkulkarni Thank you for adding this. It could be assigned to @qicosmos

[2022-02-08 02:49] SongGuyang commented on #21695
@rkooo567 Make sense. I agree that a stateless client could make the code and structure more clear and easy to maintain.

[2022-02-08 02:58] SongGuyang commented on #21695
@rkooo567 @edoakes @scv119 @architkulkarni Can we reach an agreement now? The final proposal is：
- Choice the option 3 of https://github.com/ray-project/ray/issues/21695#issuecomment-1022873950. (like option 2 of https://github.com/ray-project/ray/issues/21695#issuecomment-1029448144)
- Removing agent restart feature. If agent exits, raylet kills itself.
- Make worker pool stateless.

[2022-02-08 03:06] KastanDay opened #22200 "[Bug] [Workflows] Running Workflows from Python thread yields RuntimeError: There is no current event loop in thread"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Running Workflows from a Python thread is broken, see [Discuss link](https://discuss.ray.io/t/running-workflows-from-python-thread-runtimeerror-there-is-no-current-event-loop-in-thread/4861). i.e

[2022-02-08 03:08] Tixxx commented on #22195
It also fails for me with the same error. The only way to make it work for me is to import tensorflow.keras beforehand. keras module in tensorflow is lazily loaded, does that impat serialization in any way?

[2022-02-08 04:05] dsctt commented on #22150
Was able to get the reproduction script working by setting `evaluation_num_workers=0` and also removing `evaluation_interval` from the config. This is my understanding of why the error was thrown:

1) `validate_config` is called here https://github.com/ray-project/ray/blob/ray-1.10.0/rllib/agents/trainer.py#L781
2) This changes the `train_batch_size` in the config from -1 to a new value here https

[2022-02-08 04:56] richardliaw commented on #22195
ah yeah that should work. i suspect theres some hidden global state that keras manipulates.

[2022-02-08 05:54] jovany-wang commented on #21602
All were done.

[2022-02-08 05:54] #21602 closed

[2022-02-08 05:57] #10960 closed

[2022-02-08 07:44] #18199 closed

[2022-02-08 09:32] abhalawat opened #22212 "[Bug] Could install ray on Docker"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Clusters

### What happened + What you expected to happen

It gave the error:

[code]

### Versions / Dependencies

Python 3.8.10
Ray 1.10.0
Ubuntu 20.04.3 LTS

### Reproduction script

[code]

### Anything else

I basically create a pyth

[2022-02-08 09:35] WangTaoTheTonic commented on #20498
We initialized an idea about active/standby mode gcs HA, mostly developed by @larrylian, and posted here: https://github.com/ray-project/ray/issues/22164

Comments are welcome! @mwtian
also @jovany-wang @kfstorm @raulchen and @poldpold

[2022-02-08 09:59] #21488 closed

[2022-02-08 10:12] #18845 closed

[2022-02-08 10:12] #13910 closed

[2022-02-08 10:12] #18322 closed

[2022-02-08 10:12] #18769 closed

[2022-02-08 10:12] #18859 closed

[2022-02-08 10:31] rkooo567 opened #22214 "[Bug] Dask on Ray 1TB sort failed by S3 read failure"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Failed within 12 seconds with this error;

[code]

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_9vwUB3udZpenx7fNeNL2GmmQ?command-history-sec

[2022-02-08 14:01] thomascizeron opened #22216 "[Bug] Non conversion to PyTorch Tensor using DDPG and PBT"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, RLlib

### What happened + What you expected to happen

Using DDPG and PBT with PyTorch framework cause the following error:
[code]

Ornstein-Uhlenbeck is the noise used in DDPG, I do not have this error when I remove `"framework": "torch"` f

[2022-02-08 14:02] peterhaddad3121 opened #22217 "[Bug] Ray Worker Nodes unable to autoscale from submitted K8s job"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Clusters, Monitoring & Debugging

### What happened + What you expected to happen

Hello,

Environment: Ray cluster with min0 workers and max 5 workers.

When submitting a Ray job with the following example:
https://github.com/ray-project

[2022-02-08 16:47] Yard1 commented on #12122
@alexvaca0 This should help - https://docs.ray.io/en/latest/tune/user-guide.html#stopping-and-resuming-a-tuning-run

[2022-02-08 16:50] edoakes commented on #21695
@SongGuyang sounds good to me.

[2022-02-08 16:53] czgdp1807 commented on #21994
I can take this up.

[2022-02-08 17:09] vicyap commented on #22122
@wuisawesome

I ran something like this, and it fixed the issue!
[code]

Logs: https://gist.github.com/vicyap/8048073d6d7d7a9733f7964d03304948
I see `{'CPU': 1.0}: 194+ pending tasks/actors`

---

So what does this mean?

[2022-02-08 17:20] wuisawesome commented on #22122
Seems to imply that something funky is going on with ray client submitting the tasks... @ckw017 any ideas?

[2022-02-08 17:25] jjyao commented on #22161
Confirmed. It's infinite loop of `_wait_for_function`.

[2022-02-08 17:26] ckw017 commented on #22122
Hmm, not sure. Best guess right now is that somehow the task resource requests are getting lost/modified between when they're submitted on client end and when they're on executed in a real driver. Will take a look

[2022-02-08 17:59] goswamig opened #22220 "[Bug] Ray serve example from documentation is not working."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

I ran the serve example mentioned in [Getting started guideline](https://docs.ray.io/en/master/ray-overview/index.html).

Error stack

[code]

### Versions / Dependencies

Ray: 1.10.0
Python:

[2022-02-08 18:05] ebr commented on #20073
i belive this is closed by https://github.com/ray-project/ray/pull/20261

[2022-02-08 18:06] architkulkarni opened #22221 "[Jobs] Resolve inconsistent uses of `RAY_ADDRESS`"
`RAY_ADDRESS` is used both for Ray Client and Ray Job Submission, with different ports.  We should ideally have two different environment variables for these use cases.

Also: after https://github.com/ray-project/ray/pull/21938, the user may no longer need to manually set RAY_ADDRESS because the bootstrap address from the running cluster should automatically get read.  Verify this and update the d

[2022-02-08 18:20] #20073 closed

[2022-02-08 18:24] ericl commented on #22161
Cc @iycheng

[2022-02-08 19:15] scv119 commented on #22214
Looks this is directly call from Dask  & pyarrow to read a file from s3. Could this be an availability issue of S3?

[2022-02-08 20:06] DmitriGekhtman commented on #22122
Cool, we've narrowed it down to a Ray client issue.

@vicyap could you provide some details on the networking setup you're using for the Ray client connection?
Where is the client connecting from?

[2022-02-08 20:27] matthewdeng opened #22226 "[train] Add `load_checkpoint()` and `best_checkpoint` to `Trainer`"
After training a model, we should expose utilities so that the user can load their best checkpoint in memory.

1. `Trainer.load_checkpoint(path)` to load an arbitrary checkpoint.
2. `trainer.best_checkpoint` to load `trainer.best_checkpoint_path` into memory.

[2022-02-08 20:29] vicyap commented on #22122
Ray Client -> VPN -> AWS NLB (managed as a Kubernetes LoadBalancer Service using [aws-load-balancer-controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller)) -> Ray Head Kubernetes Pod.

Clients connect from outside of the Kubernetes cluster. I connect using `ray.init("ray://mycluster.internal:10001")`. I set up `mycluster.internal` so it resolves to the AWS NLB.

Here are the

[2022-02-08 20:51] DmitriGekhtman commented on #22122
@ckw017 do you know if there are Ray client logs that could be of use in debugging?

[2022-02-08 21:03] ckw017 commented on #22122
Yes, @vicyap can you retry without wrapping the submission code, and adding setting the log level to debug with ray.init (`ray.init("ray://mycluster.internal:10001", logging_level=logging.DEBUG)`).

This should produce logs locally on your laptop which could be useful, as well as logs on the head node in `/tmp/ray/session_latest/logs/ray_client_server_23000.err` (if there are similar logs with hig

[2022-02-08 21:12] mwtian commented on #21870
Note: fix by Eric in https://github.com/ray-project/ray/pull/22020, turned off in https://github.com/ray-project/ray/pull/22132 because of failure in `pipelined_ingestion_1500_gb_15_windows`.

[2022-02-08 21:23] Stergios13 commented on #22226
Hello! i am happy to contribute to this issue!

[2022-02-08 21:28] ericl commented on #21870
Yep for context, in master setting `RAY_scheduler_report_pinned_bytes_only=1` fixes the issue. However, it causes the pipelined ingest test to crash for unknown reasons, which is the only thing blocking enabling it by default.

[2022-02-08 21:33] jiaodong commented on #22220
Hi @goswamig thanks for reporting this, I can reproduce it locally using your environment. The issue is the same as https://stackoverflow.com/questions/51459793/python-typeerror-coroutine-object-is-not-subscriptable , we should do `(await request.json())["vector"]` instead of `await request.json()["vector"]`. Let me put up a quick PR to fix it and attach it here.

[2022-02-08 22:02] vicyap commented on #22122
Ok, I ran with debug logging and used `range(50)` instead of 200. Logs here: https://gist.github.com/vicyap/1c0966b274cb89da0515810080368160

[2022-02-08 22:10] ericl commented on #22177
Duplicate issue of https://github.com/ray-project/ray/issues/22161

[2022-02-08 22:12] ericl commented on #22176
Duplicates https://github.com/ray-project/ray/issues/22177

[2022-02-08 22:12] #22176 closed

[2022-02-08 22:22] John-Almardeny commented on #22068
BTW, this is the exception that I referred to previously when I don't use `ray.get` with just a plain creation of Actors:

[code]

[2022-02-08 22:40] jjyao commented on #22161
Basically `gcs_function_key_subscriber.poll()` doesn't return even though there are still new functions to be downloaded.

[2022-02-08 22:41] ckw017 commented on #22122
Thanks for the consistently detailed output! It looks like on the server side, the schedule requests are more or less arriving simultaneously (all 50 within 200ms of each other at 13:50:39), so rules out the possibility of the slow networking skewing when tasks are arriving.

It looks like, the function is being registered with these options (i.e. @ray.remote(**options)(task)):
[code]

And then ca

[2022-02-08 22:53] iycheng commented on #22161
I think there might be two cases here: 1) pubsub is losing message; 2) import failed. @mwtian  could you help check whether 1) is happening?

[2022-02-08 23:03] iycheng commented on #22161
[code]

It seems like grpc reported some errors.

[2022-02-09 00:25] wuisawesome commented on #22122
Those all seem pretty sane. I wonder if we can repro this without ray client?

[code]

[2022-02-09 00:29] #21318 closed

[2022-02-09 00:38] rkooo567 commented on #22214
Hmm maybe I will see if this happens again and close it if not

[2022-02-09 01:59] jon-chuang opened #22230 "[Feature] Ray runtime should manage Idle Async Workers (Stateless Aync Actors) With Resource-Aware Load-Balancing?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In the theme of better resource efficiency, ray runtime could keep at least one async worker parked on each node (possibly with the async executor managing a threadpool). In addition, these workers should be "stateless async actors" t

[2022-02-09 02:25] clarkzinzow commented on #17493
@ericl Is this still a P1, or more of a P2?

[2022-02-09 06:17] rkooo567 commented on #22214
Looks like it fails 5 times in a row, so there must be something here.

cc @mwtian would you have time to take a look at this issue?

[2022-02-09 06:36] jovany-wang commented on #21850
Why not request a vote in community to see how many people use it?

[2022-02-09 06:36] jovany-wang commented on #21850
Also I don't think it's easy to support the debug tool for Java in a short time.

[2022-02-09 06:39] fyrestone commented on #21695
I am not sure if the agent port conflict issue still exists? If agent is failed to start because of a port conflict, then raylet kill itself. User will get a bad experience.

[2022-02-09 06:46] bektaskemal commented on #21457
Hi, is there any update on this? @avnishn @sven1977

[2022-02-09 06:53] mwtian commented on #22214
I'm looking at a few other issues. May not be able to get to this until later.

[2022-02-09 06:54] rkooo567 commented on #22214
If you are busy, I can just take it over. I will take a look at it today!

[2022-02-09 06:57] rkooo567 commented on #21695
Yeah this option is only valid under the assumption agent is stable. Is this the only existing known problem you know? I think I can take it over and fix it

[2022-02-09 07:21] rkooo567 opened #22238 "[Bug] many_drivers failed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

many_drivers test is failing with the following error messages;

[code]

I am taking a look at it now.

### Versions / Dependencies

Master

### Reproduction script

N/A

### Anything else

_No

[2022-02-09 10:01] mickelliu opened #22242 "[Bug] Can no longer vectorize environments in the new release, but was working in v1.9.0"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I had a custom environment that relies heavily on vectorizing the environments on each worker. Before v1.10.0 it worked pretty nicely. Specifically, each remote worker sequentially runs my `make_e

[2022-02-09 11:26] #22217 closed

[2022-02-09 11:45] czgdp1807 commented on #21994
When I installed from source without setting any environment variables, `ray.init()` works fine. @joel-thomas-wilson Could you please share the environment variables that you set before building ray from source?

P.S. I am using Windows 10 on Azure VM.

[2022-02-09 12:18] mickelliu commented on #22242
Actually, me and my colleague have figured it out... this is an issue related to `convert_to_base_env` in `base_env.py` and was provided with the fix in #21670 but was not included in the latest release.

`env.to_base_env()` needs the argument `num_envs` in order to vectorized the environments correctly.

Is it possible that we can soon issue another release because I felt like this is a prominent

[2022-02-09 15:31] sven1977 commented on #21109
Fix-it PR. Will be merged soon:
https://github.com/ray-project/ray/pull/22247

[2022-02-09 16:33] TM-C commented on #21926
I have the same error. I'm following this turorial:

https://towardsdatascience.com/hyperparameter-tuning-with-keras-and-ray-tune-1353e6586fda

using this code:

https://github.com/himanshurawlani/hyper_fcn

Error Message:

Failure # 1 (occurred at 2022-02-09_16-07-50)
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/ray/tune/trial_runner.py", line 893, in _process

[2022-02-09 17:25] vicyap commented on #22122
I'm not sure how to do this.

Your code doesn’t use `ray.init`, is that what you mean? When I tried this, the code just runs on my local machine.

When I do use `ray.init("ray://mycluster.internal:10001")`, I get the same behavior of `{'CPU': 1.0}: 1+ pending tasks/actors`

[2022-02-09 17:31] wuisawesome commented on #22122
ah sorry, i guess i'm wondering if you can run that code directly on the head node of the cluster (like `kubectl exec <head_pod> -- bash` and then put that script there and run python). Also should've specified that `task` probably needs to do a `time.sleep`

[code]

[2022-02-09 17:45] mwtian commented on #22082
Looks like there are still flakiness in `//python/ray/tests:test_basic_5_client_mode`, from `test_background_tasks_with_max_calls` timing out: https://buildkite.com/ray-project/ray-builders-branch/builds/5919#f3819e82-c0ba-482a-9645-81de924d7b91/208-266

And `linux://python/ray/tests:test_actor_client_mode` is still flaky with `test_multiple_actors` timing out: https://buildkite.com/ray-project/ra

[2022-02-09 17:54] amogkam opened #22251 "[Train] TPU support"
Make it easy for users to do training on TPUs

[2022-02-09 18:07] ckw017 commented on #22082
test_basic_5_client_mode looks less flaky (currently seems to pass 2/3 times, previously would fail).

<img width="297" alt="Screen Shot 2022-02-09 at 10 06 42 AM" src="https://user-images.githubusercontent.com/14043490/153262744-9000bb80-8bfa-4f0e-abe2-362314912474.png">

[2022-02-09 18:22] scv119 commented on #22177
Turns out it's to do with pyarrow 7.0.0. This bug happens if pyarrow==7.0.0 and not reproducible if pyarrow==5.0.0

[2022-02-09 18:23] Reignbeaux commented on #19942
Yes, his solution did work for me!

[2022-02-09 18:24] Tixxx commented on #22195
We got another occurrence where it's now complaining about __verion__ attribute missing from tensorflow, it repros for me on both linux and mac with this train_function:
    def train_function(input):
        print(f"using keras in tensorflow=={tf.__version__}")
        y_true = tf_.random.uniform([2, 3])
        y_pred = tf_.random.uniform([2, 3])
        ce = tf_.keras.losses.binary_crossentropy

[2022-02-09 19:03] tupui commented on #19942
Ok thank you!

[2022-02-09 19:14] AprilXiaoyanLiu opened #22252 "[Bug] No such file or directory: 'python/ray/_raylet.pyx'"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

After my agent completed training, it showed error FileNotFoundError: [Errno 2] No such file or directory: 'python/ray/_raylet.pyx'

### Versions / Dependencies

Python==3.6
Ray[RLLib]==1.3.0

###

[2022-02-09 19:21] saswatac opened #22254 "[Bug] Serve shutdown does not work for detached serve instance"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

Trying to shutdown a detached ray serve instance using `serve.shutdown` does not work.

### Versions / Dependencies

ray==1.10.0

python=3.8.0

NAME="Ubuntu"
VERSION="18.04.6 LTS (Bionic Beave

[2022-02-09 19:34] jiaodong opened #22255 "InputNode enhancements: takes arg + kwargs, and allow InputNode used in conjunction with other args."

[2022-02-09 19:39] #22197 closed

[2022-02-09 19:49] #22220 closed

[2022-02-09 19:54] edoakes commented on #21956
Proposed API from discussion w/ @architkulkarni:

[code]

Also modify
`GET /api/jobs/{job_id}` to match the above

Add corresponding `list_jobs` method to SDK and `ray job list` to CLI.

[2022-02-09 19:55] #22005 closed

[2022-02-09 19:56] #22098 closed

[2022-02-09 19:57] #19942 closed

[2022-02-09 20:07] tupui commented on #19942
@andrewkhardy, maybe some documentation is missing to highlight this.

[2022-02-09 20:10] vicyap commented on #22122
Running on the head node, I still get the same bug.
Logs: https://gist.github.com/vicyap/3bb92fe43de969a3c9dece6fc026df3a
[line 270](https://gist.github.com/vicyap/3bb92fe43de969a3c9dece6fc026df3a#file-ray-operator-log-L270) shows `{'CPU': 1.0}: 1+ pending tasks/actors`

[2022-02-09 20:23] wuisawesome commented on #22122
@scv119 @jjyao  seems like we have a ray-core only repro now. Do y'all mind taking a look? It sounds related to resource demand reporting.

[2022-02-09 20:25] richardliaw commented on #22195
TJ, I think this is a known issue with Ray.

The way to fix it is to make sure tensorflow is always imported in the
train_function.

 For example, try “import tensorflow as tf” INSIDE train_function before
the tf.version check.

Please let me know if that works.

On Wed, Feb 9, 2022 at 10:25 AM TJ Xu ***@***.***> wrote:

[2022-02-09 20:47] #21847 closed

[2022-02-09 21:02] ericl commented on #22122
I tried running that script locally and I got:
[code]

Does this happen for you on master? What about k8s vs on laptop?

[2022-02-09 21:52] mwtian commented on #22082
Thanks Chris. I have not reproduced test_basic_5_client_mode failures. But I reproduced test_actor_client_mode failures on master. It turns out `queue.Queue` still uses Python lock underneath, so the there are still dead locks with stack trace like:
[code]

[2022-02-09 22:30] bkaplowitz opened #22259 "[RLlib] [Feature] Support for having parametric action spaces/action masking for continuous action space models"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Would it be possible to have parametric action spaces/action masking for continuous action space models? Perhaps there is a way of doing this already with discrete actions, but I don't immediately see how.

### Use case

Have a state

[2022-02-09 22:43] #21092 closed

[2022-02-09 23:05] #18362 closed

[2022-02-09 23:05] #18918 closed

[2022-02-09 23:17] #22238 closed

[2022-02-09 23:36] avnishn commented on #22259
I'm not sure if understand the feature that you're asking for.

Could you use a mix of python/pseudocode/markdown to give an example of what you're asking for?

[2022-02-09 23:40] avnishn opened #22261 "[Train][Feature][Train/RLlib Integration] Add flags to disable creating log directories"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In order to prototype tune/rllib integration and assess its performance, we would need to disable expensive file io operations that aren't necessary during the training loop.

Right now, I can probably redirect training logs to /tmp d

[2022-02-09 23:52] ckw017 opened #22262 "[Bug] InvalidAMIID.NotFound when no AMI specified in non us-west-2 AZs"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Looks like trying we're trying to use the us-west-2 deep learning AMI (`ami-0a2363a9cff180a64`) by default, even in different availability zones.

It looks like we do have the default AMI's

[2022-02-09 23:52] vicyap commented on #22122
Thank you all for helping me look into this...

I redeployed the operator with `rayproject/ray:54b2e1` and the head node with `rayproject/ray-ml:54b2e1-py38-cu112` which are the latest docker images.
Now I'm getting `{'CPU': 1.0}: 10+ pending tasks/actors`, which is better than 1+ pending, but still too low.

Logs: https://gist.github.com/vicyap/083d5bbcee5476b6a385b5a5c3a55f79
[line 228](https://

[2022-02-09 23:56] ckw017 commented on #22262
@DmitriGekhtman feel free to reassign if you don't have the bandwidth. I'm guessing this is a regression since we have the AMIs for other regions already, in which case I can look into instead (suspect this might be related to when we shifted to available_node_types)

[2022-02-10 00:03] architkulkarni commented on #22110
@simon-mo This is where the unpicklable lambda was introduced: https://github.com/ray-project/ray/pull/14831/files#diff-b1a2dabf6d02795d546fc6c67c32a17a39f0e1e19d278b0ec3613fdcf36e875fR185. I tried reverting the change, but got a different error:
`TypeError: cannot pickle 'Context' object`

So I think it's not actually the lambda that's the problem.  Any ideas about this?

[2022-02-10 00:09] DmitriGekhtman commented on #22262
I can look into it next week.

[2022-02-10 00:11] DmitriGekhtman commented on #22262
Or rather, one of
me, you, @wuisawesome
can claim it for doing in the next two-week cycle.

[2022-02-10 00:17] matthewdeng commented on #22261
`train.report()` calls aren't actually logged unless you pass in a logging Callback (e.g. `JsonLoggerCallback`).

[2022-02-10 00:18] architkulkarni commented on #22022
@maxpumperla Thanks for responding here!  Is this issue closed by #22030?

[2022-02-10 00:26] edoakes opened #22265 "[serve] Error calling serve.start(detached=True) on a local ray cluster"
Repro:
`ray start --head`

Then run:
[code]

Spits out errors:
[code]

Calling the HTTP endpoint also fails.

[2022-02-10 00:26] edoakes commented on #22265
@architkulkarni could you please try repro'ing on your setup? This one is so bad that it seems like I must be missing something. If you can repro, it's a P0 (I can take it)

[2022-02-10 00:42] shrekris-anyscale commented on #22265
This works on my end if you do `ray.init(address="auto")` after doing the `from ray import serve`.

[2022-02-10 00:42] avnishn commented on #22261
Should I close this issue then? Are logging directories/any file io ops going to happen in the case that I don't use any logging callbacks?

[2022-02-10 00:45] amogkam commented on #22261
That’s right train will create the directories, but nothing actually gets added to them unless you specify a callback or checkpoint.

But let’s keep this open because we should still provide a way to disable even the initial creation of the directories.

[2022-02-10 00:47] alexvaca0 opened #22266 "Assertion Error on Seq lens for PPO with Attention only in evaluation."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I trained a PPO model with attention, the full config is this:

[code]

It trains properly, but when I try to use it for evaluation, everything crashes:

[code]

I've tried only with observations

[2022-02-10 00:49] architkulkarni commented on #22265
@edoakes I also repro'd this on the latest master

[2022-02-10 01:08] worldveil opened #22267 "Document when a "results" folder for Tune checkpoint looks like so users know which path to use"
`analysis = ExperimentAnalysis(best_checkpoint_dir)`

https://docs.ray.io/en/latest/tune/api_docs/analysis.html#experimentanalysis-tune-experimentanalysis

otherwise it's easy to not know exactly which part of path to use

[2022-02-10 01:26] worldveil commented on #22081
[code]

[2022-02-10 01:27] Yard1 commented on #22267
The current description seems enough, no? I guess the name of the argument itself is the most misleading.

[2022-02-10 02:00] #21109 closed

[2022-02-10 02:17] ericl commented on #22122
Ah, I think I have a suspicion of the issue, if it only happens with multiple workers. It may be due to an optimization @jjyao added recently which issues up to 10 concurrent worker resource requests (10 seems like a suspicious coincidence).

Just want to test this hypothesis, if you set `RAY_max_pending_lease_requests_per_scheduling_category=1` env var prior to starting ray, does this fix the iss

[2022-02-10 03:05] lchu-ibm commented on #22200
@KastanDay I think you are spot on the cause of it - the current `asyncio_run()` is a good approximation to `asyncio.run()` but they are still not equal. I assume you build Ray from source so can you try the following to see if this fix the issue:
[code]
This certainly won't help with the feature you requested about adding thread name or so, but should help with the thread-related error you saw.

[2022-02-10 03:23] Clown1206 opened #22271 "for Windows"
Hello, I have just come into contact with Ray, can it run on Windows10 ?

[2022-02-10 03:40] #21647 closed

[2022-02-10 03:41] jovany-wang commented on #21128
We need move this forward. [rocket]

[2022-02-10 04:34] pcmoritz commented on #22271
Yes, you can just run `pip install ray` on windows (or `pip install "ray[default]"`)

See also https://docs.ray.io/en/latest/installation.html

[2022-02-10 04:40] mwtian opened #22274 "[Core] Avoiding subscribing to all logs by each log subscriber"
In Ray `log_monitor.py`, log entries are published under its job ID as topic. Log subscribers in dashboard and driver subscribe to all logs and filter afterwards. Ideally, log subscribers should only subscribe to logs from the current job, and system logs.

The gap is that Ray pubsub only supports subscribing to a single topic, or to all topics. Subscribing to a subset of topics is not yet possibl

[2022-02-10 05:16] pcmoritz commented on #21311
This is now finished, right?

[2022-02-10 05:16] #21311 closed

[2022-02-10 05:27] simon-mo commented on #22265
can repro it on 1.10

[2022-02-10 05:29] simon-mo commented on #22265
ah i think this relates to namespace issue

[2022-02-10 05:46] bveeramani commented on #21311
There's one last minor PR #21984, but otherwise we're done!

[2022-02-10 06:12] #18944 closed

[2022-02-10 06:12] #18948 closed

[2022-02-10 06:12] #18778 closed

[2022-02-10 06:47] jovany-wang commented on #18803
Let's reschedule this item. @kShines

[2022-02-10 07:48] mvheimburg commented on #22110
Hi,

I have absolutely no idea, however I managed a workaround calling (from
RayServer2):
deployment = serve.get_deplyment(name=RayServer1)
server1_handle = deployment.get_handle()

So it might no be such a big issue.

best regards,
Martin von Heimburg

On Thu, 10 Feb 2022 at 01:03, Archit Kulkarni ***@***.***>
wrote:

--
mvh
Martin von Heimburg

[2022-02-10 09:21] johnnycrab opened #22278 "[Bug] Queueing warning is wrong for concurrent actors"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

**Issue only happens in Ray v 1.10.0, it does not happen in Ray v 1.9.2**

When creating a concurrent actor (`.options(max_concurrency=2)`) and submitting a lot of tasks (>5000) _from a separat

[2022-02-10 10:21] carlogrisetti opened #22279 "[Feature] add a callback to be called after each evaluation cycle"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

A callback function that will allow to run custom code after the evaluation cycle completes

### Use case

Logging in tensorboard a custom metric on the evaluation process.
This is already doable with the training portion, but there i

[2022-02-10 14:11] smartkiwi commented on #13675
Could you please provide update for when (approximately)rolling update support could be possible coming ?

Here is the use case when it could be handy: in my company there is requirements for release artifacts deployed on production to be approved (and tested) before deployment . As of now we run gunicron based k8s services - and we use Docker images as an artifacts to be approved and deployed.

S

[2022-02-10 14:49] jon-chuang opened #22282 "[Core/Worker] ABI versioning for core worker harness C-ABI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We should have an explicit ABI-versioning which guarantees ABI-compat across ray versions for core worker harness C-ABI.

Note this will not guarantee behaviour non-breakage.

Note that this is only useful once we have stabilized such

[2022-02-10 16:13] awarebayes commented on #11807
Same thing...

[2022-02-10 16:17] jovany-wang commented on #16047
Hi @raulchen @ericl @kfstorm , since most of items were done, I'm proposing that add the API `options(default_max_concurrency_=10)` and mark `options(max_concurrency=10)` as deprecated.

Because in fact, it's under the default concurrency group indeed.

[2022-02-10 17:30] architkulkarni opened #22290 "Add Jobs metadata to /api/snapshot"

[2022-02-10 18:03] architkulkarni commented on #22254
Hi @shrekris-anyscale, can I assign this issue to you?  Do you think you have enough context to investigate it?

[2022-02-10 18:24] shrekris-anyscale commented on #22254
Hi @architkulkarni, yes go ahead.

[2022-02-10 20:11] simon-mo opened #22294 "[Feature] Use github/labeler to help triage PRs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

https://github.com/marketplace/actions/labeler

github action labeler bot will take a look at files submitted and label PRs. It might be useful to resolve the external contributor PRs getting missed issue if each team triage based on

[2022-02-10 20:12] amogkam commented on #22261
To me, 1 and raising a meaningful error seems like the best option.

As a user, if I explicitly disable dir creation, there's not reason I should expect logging and checkpointing to work.

[2022-02-10 20:21] simon-mo opened #22295 "[Bug] Calling `tune.run` in Serve doesn't work"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, Ray Serve

### What happened + What you expected to happen

With the following code
[code]

User gets
[code]

The solution is to set the environment variable `TUNE_DISABLE_SIGINT_HANDLER` to  `“1”` before calling `tune.run`

https://github.co

[2022-02-10 20:56] richardliaw commented on #22295
cc @xwjiang2010

[2022-02-10 21:19] ZhijieWang commented on #22295
@simon-mo  would anything else be impacted or only Tune? Anything to watch out for Ikigai?

[2022-02-10 22:21] ericl commented on #22122
It seems like this is somehow generally broken then. You can try it as a workaround but we'll look into this as a high priority issue.

[2022-02-10 22:21] ericl commented on #22122
Cc @iycheng

[2022-02-10 22:22] #22177 closed

[2022-02-10 23:21] amogkam commented on #22212
Hey @abhalawat are you sure you're using Python 3.8? The `python:latest` image has python 3.10, which Ray does not have support for yet. #21221

[2022-02-10 23:28] amogkam commented on #22266
cc @avnishn

[2022-02-11 00:46] worldveil commented on #22081
Error read out:

[code]

[2022-02-11 01:47] worldveil opened #22304 "Hard to find example of doing middleware with Serve"
Hard to find examples/docs around doing middleware w/ Serve.

Was really difficult to even find that starlette integrated with Ray Serve.

No good examples. Can we point to a good example or integration path users could find? May only need to be link to external example.

Also, is this  (starlette) compatible with FastAPI or no?

[2022-02-11 01:55] simon-mo commented on #22304
How's the section? What does it miss? https://docs.ray.io/en/releases-1.9.2/serve/http-servehandle.html#enabling-cors-and-other-http-middlewares

[2022-02-11 02:03] worldveil commented on #22304
That is good. I just had a hard time finding it when searching via Google, probably because I was searching for "authentication". Maybe we just add that term, ie "middleware, like authentication or <example2>" kind of thing.

just want it easy to find. and it's a one-line fix

[2022-02-11 02:04] worldveil commented on #22304
Can we also make clearer the relationship of FastAPI to starlette to newer users? Many tutorials out there reference FastAPI + Ray Serve, yet our documentation mostly calls for starlette

[2022-02-11 02:07] matthewdeng commented on #22081
I took a quick look, here's a simple repro:

[code]

The root cause indeed seems to be because Ray Train executes the training function in a separate thread. This is because the main thread for each process is currently used to allow the `Trainer` (more specifically the `WorkerGroup`) to call `ray.get` to get the workers' reported/checkpointed data.

Fixing this likely requires us to rearchitect t

[2022-02-11 03:05] #22265 closed

[2022-02-11 06:11] #18970 closed

[2022-02-11 07:01] scv119 opened #22310 "[Dataset] ray failed to serialize pyarrow7.0.0 Tables"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

See https://github.com/ray-project/ray/pull/22253#issuecomment-1034742274 and https://github.com/ray-project/ray/issues/22177 for more context.

TL;DR, when serialize pyarrow7.0.0 Tables, the s

[2022-02-11 10:36] Kotsakis opened #22312 "Doing import ray breaks my logging [Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I have implemented a separate class where i am using ray via modin to read a huge csv file.

When the class is called, it breaks the custom logging yielding

[code]

I became suspicious about i

[2022-02-11 10:45] dcolley commented on #7645
@kiranikram Try running the commands above **_one-by-one_**. Some commands require you to answer [y/n]...

[2022-02-11 11:59] #18915 closed

[2022-02-11 11:59] #19001 closed

[2022-02-11 12:59] sadimoodi commented on #21921
same problem here, any solution yet?

[2022-02-11 14:05] najaweed opened #22314 "Issue on page /_modules/ray/tune/integration/pytorch_lightning.html"
Problem raised because there no ''running_sanity_check'' in pytorch lightning Trainer , but "_run_sanity_check"
please change  ''trainer.running_sanity_check''  into  ''trainer._run_sanity_check''

[2022-02-11 17:01] #22013 closed

[2022-02-11 17:11] edoakes commented on #22295
The workaround seems ok to me, deferring to @xwjiang2010 and @richardliaw on its impact on tune behavior

[2022-02-11 17:43] mwtian commented on #22161
The issue is tracked down to a call to Python GC that took ~ 2min 50s.
- Raylet periodically (every 10s in this case) sends a request ([LocalGC](https://sourcegraph.com/github.com/ray-project/ray@358771c63688ecd673bb0f18fd87b19ab7017d24/-/blob/src/ray/core_worker/core_worker.cc?L2912)) to core worker to execute GC in the language worker.
- In this case, the [callback](https://sourcegraph.com/githu

[2022-02-11 17:50] amogkam commented on #22314
@najaweed yes this has been changed in master: https://github.com/ray-project/ray/pull/21831, and this will be included in the Ray 1.11 release!

In the meantime you can install the Ray nightly wheels https://docs.ray.io/en/latest/installation.html#daily-releases-nightlies which include this change, or if you can downgrade to PTL 1.4 until the Ray 1.11 release.

[2022-02-11 17:50] #22314 closed

[2022-02-11 17:50] edoakes commented on #19390
bump

[2022-02-11 18:09] #22118 closed

[2022-02-11 18:09] ckw017 commented on #21573
Sorry for the delay! Was able to repro, looking into now.

[2022-02-11 18:17] ckw017 commented on #21573
Looks like this is due to reusing cached calls between client sessions #17519

A quick work around would be to do `ray.data.impl.remote_fn.CACHED_FUNCTIONS.clear()` after the initial shutdown. I'll look into a longer term fix.

[2022-02-11 18:28] jiaodong commented on #20169
Hi @cin-duke just revisiting this issue as this topic was brought up by other community users as well. Any updates on your experiment or help needed ?

[2022-02-11 18:52] mathetes87 commented on #21609
The output schema suggestion seems very useful, not only because of the extra computation, but also because otherwise you could have conflicting schemas between rows

[2022-02-11 18:57] mathetes87 commented on #21609
This would be so useful! I've needed this a number of times for different use cases.
About the optional output schema, would it also help because of possible conflicting schemas between groups output?

[2022-02-11 19:22] iycheng opened #22319 "[nightly] node_failures failed"
It's related to redisless flag being turned on.

[code]

[2022-02-11 19:24] iycheng commented on #22319
[code]

It seems like a race condition in gcs.

[2022-02-11 22:55] iycheng opened #22322 "placement_group_performance_test is slower than before"
![image](https://user-images.githubusercontent.com/74173148/153681527-5ba98f2e-af3e-4c50-8d41-6819b336f68e.png)

It seems like placement group is slower than before. It started on this session https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_Tq5N2F7bgEueMZuLFYNLXtaC

It looks like not related to redisless ray since it's before the flag turns on.

[2022-02-11 22:56] iycheng commented on #22322
@rkooo567  could you take an initial investigation about this? it seems consistent slower than before.

[2022-02-11 23:01] iycheng opened #22324 "shuffle_data_loader performance regression"
![image](https://user-images.githubusercontent.com/74173148/153682113-b9c65fda-04c1-4ded-945f-b6e62e9c42a3.png)

shuffle_data_loader runs slower than before.

[2022-02-11 23:40] Nithanaroy opened #22326 "[Bug] ERROR gcs_utils.py:137 – Failed to send request to gcs"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

On `ray start` on worker I expected the head and worker to be connected, but instead I see this error only on ray 1.9
Worker can talk to the head in ray version 1.8.

[code]

### Versions / Dep

[2022-02-12 00:10] chongxiaoc opened #22328 "[Bug] Ray Datasets schema() function should not trigger pipeline"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Calling Ray DatasetPipeline schema() function will trigger Pipeline to be read.

- I don't understand why schema() needs the whole pipeline to be triggered.
- This will make the below use case

[2022-02-12 00:25] clarkzinzow commented on #22328
@chongxiaoc This would be the non-pipelined `Dataset` object. E.g. if you're pipelining on an existing `Dataset` object, you'd get the schema from that existing `Dataset` object:
[code]

[2022-02-12 00:53] rkooo567 commented on #22326
Cc @iycheng @mwtian this is the regression from 1.8->1.9

[2022-02-12 01:25] rkooo567 commented on #22161
Maybe making it asynchornous == using a dedicated thread (it is an impl$

[2022-02-12 02:00] ericl commented on #22328
It should be cached until read yep. I think this is generally fine since the pipeline is going to get ready anyways, or deleted.

[2022-02-12 02:58] #22214 closed

[2022-02-12 04:57] mwtian commented on #22161
@rkooo567 Importer thread uses a Python-based subscriber (instead of the C++ subscriber), so it was unable to run when Python GIL is held by LocalGC callback or some other logic. Offloading LocalGC to another thread seems like a good change on its own, which I planned to experiment. But I'm not 100% sure it is addressing the root cause.

[2022-02-12 05:00] mwtian commented on #22326
@Nithanaroy thanks for reporting the issue. Just to make sure, in the case of Ray 1.9, does `curl 100.96.24.172:6379` get back some result (from redis)? Is `redis` running on the head node listening to 6379?

[2022-02-12 06:29] #22226 closed

[2022-02-12 06:52] rkooo567 commented on #22161
Hmm I see. So the problem we need to solve is to make sure the pubsub health checking is not blocked by python thread right? I feel like this shouldn’t be fundamentally impossible since health checking is done in cpp. I guess you have some ideas, but some immediate thoughts;
1. Remove the current health checking mechanism and rely on grpc keepalive feature.
2. Idk how the python subscriber works n

[2022-02-12 07:04] #19008 closed

[2022-02-12 07:04] #18276 closed

[2022-02-12 07:21] ericl commented on #22161
Sounds like a bug in resume handling protocol? Shouldn't the client catch up after reconnecting to get the latest state?

[2022-02-12 08:57] iycheng commented on #22200
@lchu-ibm  what I tried is to use `asyncio.run` directly for all py >= 3.7, but it seems not working. Basically for the example given in the ticket, it'll show
[code]

Here is the code: https://github.com/ray-project/ray/pull/22336

I don't think simply using `asyncio.run` will just work. We should try to always use main thread for this.

[2022-02-12 09:00] iycheng commented on #22200
Maybe we can just use this code there:
[code]

[2022-02-12 09:56] scv119 commented on #22161
Yeah I think for correctness we'd better fix the resume handling protocol. Even we fix the GC seems we could still subject to other failure like network partition.

[2022-02-12 15:50] Nithanaroy commented on #22326
@mwtian I did not try to curl `100.96.24.172:6379` but to verify if the 6379 is accessible or not, I stopped ray and started a simple HTTP server using python on 6379. I was able to curl to that. I also attached the `nmap` result in https://discuss.ray.io/t/error-gcs-utils-py-137-failed-to-send-request-to-gcs/4936/2

[2022-02-12 19:46] ericl commented on #22161
Why doesn't the client send it's current state (e.g., "4"), and the server
can send an update if it's changed since then, e.g., advanced to "5"? Or
just always send the current state on subscribe.

We don't need true pub sub for gcs, just state subscription.

On Sat, Feb 12, 2022, 10:18 AM mwtian ***@***.***> wrote:

[2022-02-13 03:39] mwtian opened #22339 "Ray publisher should support memory bound"
This should be applied to channels where Publisher cannot keep only the latest message, but dropping some intermediate messages are acceptable especially when they have large backlog, e.g. logs, error info. For channels that can keep only the latest message, this is unnecessary, e.g. actor state.

[2022-02-13 03:50] mwtian opened #22340 "Enhance state notification pattern in Ray pubsub"
A few Ray channels fit the "state subscript" pattern, where on state change, the full state is published and subscribers only require the latest state, e.g. actor state. A few improvements can be made for this pattern:
- Reduce memory usage and network traffic by buffering and sending only the latest state of each subscribed object from publisher.
- Recover from connection issues faster, by making

[2022-02-13 04:43] #19011 closed

[2022-02-13 06:35] iycheng commented on #22324
It seems like things are broken in the dashboard:

![image](https://user-images.githubusercontent.com/74173148/153741790-2894e4c6-97b9-4f43-9dcd-add0d53af6e1.png)

In the session, it uses 600s but it's only reported as 300s. @rkooo567  did we change something in the dashboard recently?

[2022-02-13 08:03] fanbinbu commented on #21957
@clarkzinzow any updates on this?

[2022-02-13 08:18] mataney opened #22341 "Failing on`ray down`"
Hi, thanks for the great work.
I ran a job on a few worker nodes, everything worked well but when I ran `ray down` it failed because [this code](https://github.com/ray-project/ray/blob/276ff2b7eda27b2e16c9f16da887a9e861112459/python/ray/autoscaler/_private/gcp/node.py#L123-L129).
Indeed my worker nodes don't have `compute` or `tpu` in their machine name.

Is this a bug?

Thanks again.

[2022-02-13 08:23] clarkzinzow commented on #21957
Hi @coinzerge and @fanbinbu, apologies for not following up on this sooner, I lost track of this! I wasn't able to reproduce this locally, unfortunately. My best guess is that the underlying data in the individual Parquet files results in conflicting types for the `"tag"` field when trying to merge the data from the two files, one with an `int32` and one seemingly with a dict. This could be an iss

[2022-02-13 08:31] mataney commented on #22341
Not sure this is indeed the case, investigating

[2022-02-13 09:37] mataney commented on #22341
Changing my ray version to the previous version it worked for (`1.3.0`) fixed this
Am I doing something wrong?

[2022-02-13 15:31] Liadrinz opened #22343 "Resuming errored trials"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When a trial is errored, the information `"status": "ERROR"` will be recorded to `experiment_state-yyyy-MM-dd_hh-mm-ss.json`, which results in an immediate error when resuming this trial. I solve

[2022-02-14 05:35] matthewdeng opened #22347 "[train] raise helpful error when required backend isn't installed"
**Problem:** If I don't have the necessary backend (e.g. `torch`) installed, a generic `ModuleNotFoundError` will be raised.

**Reproduction:**
[code]

**Proposal:** Raise a helpful error message that guides the user how to fix the problem, e.g. to run `pip install torch`. This should be implemented at the entry point of all backends, perhaps at the `BackendConfig`.

[2022-02-14 08:55] ASDen opened #22349 "[Bug] [Train] Cannot reproduce fault-tolerance, script hangs upon any node shutdown"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

I just run the pytorch official Train+Torch DDP [here](https://github.com/ray-project/ray/blob/master/python/ray/train/examples/train_fashion_mnist_example.py) on a 2 node cluster on GCP (each

[2022-02-14 11:40] sadimoodi commented on #21921
@easysoft2k15 you are partially right, in my experiments: Ray does not work with multi dimentional observation spaces, unless you use "conv_filters", as per documentaiton here:
![image](https://user-images.githubusercontent.com/32739021/153857539-1264458b-5216-4679-8440-36658c5f1ad7.png)
the bug we see here is due to Torch moving tensors from GPU to CPU which is causing the issue when you train on

[2022-02-14 13:31] birgerbr opened #22352 "[Bug] Unable to succeed in selecting a random port"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

After running for 6 days, the ray server fails to accept new clients.
I found this error repeated in `ray_client_server.err`:
[code]

I've can not recall seeing this error before upgrading to 1

[2022-02-14 13:37] PushanAgrawal commented on #22347
Hello I would like to work in this . Could you please guide me into it.

[2022-02-14 15:30] smorad opened #22353 "[Bug][RLlib] Recurrent state dtype and value are not respected"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

The following will not work for two reasons:
[code]

1. It will autocast `int` or any other type to `float`. This is a problem for large integers that do not fit in an `fp32` mantissa.
2. The init

[2022-02-14 16:02] xwjiang2010 commented on #22295
Sounds good to me as well. Should we capture this usage pattern in test as well?

[2022-02-14 18:11] saggar opened #22356 "Ray JOB submission via REST API results in HTTP 405: Method Not Allowed"
Tried to submit Ray job via REST API as per the example on [/ray-job-submission/overview.html](https://docs.ray.io/en/latest/ray-job-submission/overview.html)

[code]

And the Ray was initialized as follows:
[code]

[2022-02-14 18:27] architkulkarni commented on #22356
Hi @saggar, could you please share which Ray version you are using?

[2022-02-14 18:36] #22190 closed

[2022-02-14 19:03] architkulkarni commented on #22352
Hi @ckw017, can I assign this to you?

[2022-02-14 19:07] ckw017 commented on #22352
@architkulkarni Yep, that's fine

@birgerbr As a sanity check, in the logs how many `ray_client_server_23***.err` files are there? Guessing if the server is accepting a lot of client connections it exhausted all the ports. If you have an estimate of how many concurrent connections are usually active, that would be handy

[2022-02-14 19:09] ckw017 opened #22357 "[Enhancement][client] Move synchronous GetObject calls to datapath"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Synchronous get requests currently go directly to the RayletServicer, switch to the datapath so we can consolidate logic for async gets/sync gets.

### Use case

_No response_

### Related issues

#22100

### Are you willing to submit

[2022-02-14 19:15] clarkzinzow commented on #22190
Hey @tgaddair, it looks like we'll be able to get this into the 1.11 release, which should have a release candidate package out later today that you can try out, with the 1.11 release itself coming out early this week!

[2022-02-14 19:15] simon-mo commented on #22295
@xwjiang2010 Sounds good. I'll file a PR and add a test case.

[2022-02-14 19:35] simon-mo commented on #22110
Thanks for filing this. @mvheimburg using get_deployment will definitely help. @architkulkarni and I will fix this soon.

[2022-02-14 19:39] #22135 closed

[2022-02-14 20:24] saggar commented on #21276
What's the updated REST API path for Jobs listing or summary?

[2022-02-14 20:26] simon-mo commented on #21276
https://docs.ray.io/en/latest/ray-job-submission/overview.html#rest-api

[2022-02-14 20:32] Kotsakis commented on #22312
To further add to what is happening,
* before doing `import ray` takes me to a `self.makeRecord` method where the `_logRecordFactory` is called and thus `setLogRecordFactory()` is called

* after `import ray` this does not happen because i m entering a method called `_patched_makeRecord` which does not take into account my `setLogRecordFactory()`

[2022-02-14 22:33] Tixxx commented on #22195
Yea this works for me. It's just a bit difficult to enforce other users to do the same when they develop models on our platform. Do you know if this known issue with tf is tracked anywhere?

[2022-02-14 22:35] mwtian commented on #22161
Downgrading to P1 since this is no longer occurring, and we know the likely root cause. Planned fixes include:
- Run LocalGC in a thread other than the RPC event loop.
- Improve subscriber reconnection to make sure it learns about the latest states of subscribed objects, after timeouts or errors. (#22340)

[2022-02-14 23:05] ericl commented on #22161
Sounds good. Shall we also increase the timeout a little (5 min)?

[2022-02-14 23:17] coinzerge commented on #21957
i got the parquet files. but it wont allow me to upload them. how to send it you?

[2022-02-14 23:32] mwtian commented on #22161
Sure, will send out a PR later.

[2022-02-14 23:59] vicyap commented on #21617
Hi, I just ran into this issue. What does this mean?

Is it possible to change the docker run options if I've deployed Ray on Kubernetes?

[2022-02-15 00:12] amogkam commented on #22349
Hey @ASDen! Thanks for making this issue!

Do you mind sharing some more information on what're you're seeing when training hangs?

Here are a few things that might help while the training is hanging:
- Can you share what's being shown in stdout?
- Could you also share a screenshot of the ray dashboard
- Can you run `ray stack` on the head node/remaining worker nodes and share the output?

Also ju

[2022-02-15 00:34] simon-mo commented on #21617
For K8s you will need to add SYS_ADMIN to capabilities field in the pod spec.

[2022-02-15 02:45] Purvak-L opened #22371 "[Feature] Looking for a way to cancel ray serve task"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

I’ve deployed a prediction service using Ray serve. The predict service at times might take a while to finish. I want a way to cancel the ongoing prediction task. When I try to use ray.cancel/

[2022-02-15 03:00] hyaofeng opened #22372 "[Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

location: ray/autoscaler/_private/_kubernetes.py
method: fillout_resources_kubernetes
code:
    node_types = copy.deepcopy(config["available_node_types"])
    head_node_type = config["head_

[2022-02-15 05:28] rkooo567 commented on #22326
@mwtian @iycheng Is it okay if I assign one of you guys here? It is a clear regression, and I think we should fix it to make sure it works well with manual deployment.

[2022-02-15 05:32] abhalawat commented on #6356
Hey,I am facing issue while connecting mongodb into remote function.Could guide me how to do that?

[2022-02-15 07:03] birgerbr commented on #22352
We were using version 1.9.2.

There are 16 `ray_client_server_23***.err` files. This was on our staging cluster, and it seems to not have been very active during those days. The number of concurrent connections was probably below 3.

[2022-02-15 07:16] newmanwang opened #22377 "[Bug] raylet SIGSEGV"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

raylet at worker node crashed with SIGSEGV signal

[code]

### Versions / Dependencies

ray 1.10.0

### Reproduction script

Have no idea how to reproduce

### Anything else

_No response_

###

[2022-02-15 07:31] #22200 closed

[2022-02-15 07:57] #19291 closed

[2022-02-15 08:15] zjf2012 opened #22378 "[Feature] Make deployment easier and support ray auto-scaling on Yarn"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, we can deploy ray workloads on Yarn via Skein which originates from Dask. In Dask, there is one more layer, dask-yarn, added on top of Skein to make deployment even easier. If we can add a similar layer, ray-yarn, on top of

[2022-02-15 08:24] zjf2012 commented on #22378
@edoakes, what's your opinion? It seems that @jcrist had the same suggestion.

[2022-02-15 12:38] krfricke commented on #17674
We have now much better error printing for continuously pending trials, so I'm closing this for now.

[2022-02-15 12:38] #17674 closed

[2022-02-15 12:38] krfricke commented on #18447
Doing this in durable release tests.

[2022-02-15 12:38] #18447 closed

[2022-02-15 13:25] carlogrisetti opened #22383 "[Bug] breaking change in checkpoint save \ agent restore between 1.9.2 and 1.10.0"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, RLlib

### What happened + What you expected to happen

Ran some trainings with Ray Tune in 1.9.2 (and previous versions) with no issue at all, with a "vanilla" PPO trainer, without any custom model\architecture specified.

Trying to restore

[2022-02-15 14:26] jgiannuzzi opened #22385 "[Bug] Bogus warning about excess queuing for async actors"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

A bogus warning about excess queuing appears when calling a remote async actor, even when no such queuing occurs.

The reproduction script below prints out the following warning, even though `r

[2022-02-15 16:02] mwtian commented on #22326
@Nithanaroy I sent a message to you on `discuss.ray.io` to setup a debugging session. What I want to investigate together:
1. See if the issue exists in Ray 1.10.0
2. After starting Ray 1.9 head node, use Redis-cli to try to read the value of key `GcsServerAddress` from the head node address, e.g. `100.96.24.172:6379`. Verify if it is set correctly.
3. `curl` the GCS address from the worker node.

[2022-02-15 17:08] xwjiang2010 opened #22392 "[tune] remove `update_resources` from Trainable API"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Trainable.update_resources is not needed.

@krfricke @Yard1

### Versions / Dependencies

master

### Reproduction script

NA

### Anything else

_No response_

### Are you willing to submit a

[2022-02-15 17:47] code-review-doctor opened #22395 "Some tests misusing assertTrue for comparisons"
`assertTrue` is not for comparing arguments, should use `assertEqual` for that.

The developer's intent of the test was to compare argument 1 with argument 2, which is not happening. Really what is happening is the test is passing because first argument is truthy. The correct method to use is assertEqual. [more details](https://codereview.doctor/features/python/best-practice/avoid-misusing-unittes

[2022-02-15 17:49] mzaiprog commented on #19116
Adding 3.10 support via patching:
`# ray/python/setup.py:`
`SUPPORTED_PYTHONS = [(3, 6), (3, 7), (3, 8), (3, 9)]`

to
`# ray/python/setup.py:`
`SUPPORTED_PYTHONS = [(3, 6), (3, 7), (3, 8), (3, 9), (3, 10)]`

Did the trick for me and let it build & install on Windows 11 by following the steps denoted here:
https://docs.ray.io/en/master/ray-contribute/development.html#building-ray-on-windows-full

T

[2022-02-15 18:18] mwtian commented on #21734
@xwjiang2010 , just to make sure, `Out[6]: b''` is unexpected, and it should be `None` instead?

@iycheng, do you want to take a look?

[2022-02-15 18:39] ASDen commented on #22349
After terminating one of the nodes,
The script output
[code]

The final stable output of `logs/monitor*` after hanging (a new node has been launched due to min_workers set to 2)
[code]

output of `ray stack` on the head node
[code]

I am of course killing one of the worker nodes and never the head. Unfortunately script termination is a rare case , so I can't easily reproduce,

[2022-02-15 18:42] smorad opened #22397 "[Bug] [rllib] seq_lens is sometimes numpy array"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Sometimes, `TorchModelV2.forward` receives`seq_lens` as a `numpy.ndarray`. Calling operations like `torch.max` on it will occasionally fail for this reason. `seq_lens` should always be a torch ten

[2022-02-15 19:01] xwjiang2010 commented on #21734
@mwtian that's my assumption about gcs client protocol. Maybe @iycheng can clarify?

[2022-02-15 19:51] jon-chuang opened #22403 "[C++] Design of async actor"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Just a blanket issue to start the discussion on how do design C++ async actor.

For instance, which event loop/async executor do we use? Which type of futures should we use? Which async IO library do we use? (e.g. boost.asio). Should

[2022-02-15 19:55] jon-chuang opened #22404 "[Core] Refactor `GetAsync` to be more generic and have cleaner API"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

`GetAsync` should not only be designed for Python futures.

We should also be able to `GetAsync` within Java, C++ (with std::future etc), Rust, C#, Go (tie into goroutine), Node.js, Julia etc. To do so, we should have a clearer and cl

[2022-02-15 20:57] gmatev opened #22405 "[Bug] Possible performance regression with TorchTrainer on Ray 1.9.2 (compared to Ray 1.6)"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

**Context:**
We have a benchmark test that is somewhat vanilla distributed training of Resnet on the Cats and Dogs Kaggle dataset. The test runs on a containerized version of Ray to perform di

[2022-02-15 21:03] amogkam commented on #22405
Hey @gmatev do you see the same behavior if you use the same torch versions for both runs?

There actually has been no implementation changes to `TorchTrainer` from Ray 1.6 to now, so the regression is most likely due to some dependency changes in the Docker images I believe.

[2022-02-15 21:09] Yard1 commented on #22392
+1, it is not necessary anymore.

[2022-02-15 21:22] gmatev commented on #22405
Thanks for engaging @amogkam. It does seem that the two images have different versions of torch. We can try downgrading  this to the same torch version as 1.6.0 and see if we can reproduce the behavior.

Any idea on what could case the epoch slowdown and how could torch version be impacting that?

[2022-02-15 21:30] amogkam commented on #22405
Unfortunately I have no ideas off the top of my head. There's been no changes to `TorchTrainer` and we make sure that actor performance does not regress between releases, so that's why I'm thinking it's related to dependencies.

Actually instead of downgrading torch, can you just use the `rayproject/ray-ml:1.6.0-py38` for both runs, but for the second manually upgrade to Ray 1.9? This will isolate

[2022-02-15 21:42] gmatev commented on #22405
Will do

[2022-02-15 21:56] bveeramani opened #22406 "[Bug] Cannot disable shuffling with `prepare_data_loader`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

I want to prepare my data loader for distributed inference, but I don't want to shuffle the samples (as is typical for model evaluation).

[code]

However, `prepare_data_loader` will always sh

[2022-02-15 22:30] sergii-ivakhno-kidsloop opened #22408 "[Bug] Symbol not found: _Py_GetArgcArgv on MacOS Big Sur 11.6.2"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

After installing ray as `poetry add ray  (or  ray[default])` and running `poetry run ray` I get an error:
[code]

I recognise that similar errors have been reported before, however I haven't fo

[2022-02-15 23:03] amogkam commented on #22406
What version of torch is this?

[2022-02-15 23:07] bveeramani opened #22410 "[Feature] Add function to limit sources of randomness"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Add a utility function that seeds everything and causes Train to avoid non-deterministic algorithms. See https://pytorch.org/docs/stable/notes/randomness.html.

### Use case

This is useful for testing, debugging, and development.

##

[2022-02-16 00:02] rkooo567 commented on #22377
Hmm this seems like it is coming from gRPC. Do you have any special setup in your cluster?

[2022-02-16 00:14] iycheng commented on #22324
The metrics are good now. Close this PR.

[2022-02-16 00:14] #22324 closed

[2022-02-16 00:56] rkooo567 commented on #22322
wil finsh it by today

[2022-02-16 01:23] clarkzinzow opened #22411 "[Datasets] [Bug/UX] Better error messages for aggregations on unsupported types"
Our aggregations are only meant for numeric types, but if applied to e.g. string columns, they'll fail with an opaque error such as `TypeError: '>' not supported between instances of 'str' and 'float'` after launching all of the groupby + aggregate tasks. We should instead do an early type check before launching any tasks that the types of the specified columns are supported by the specified aggre

[2022-02-16 01:30] architkulkarni opened #22412 "[RFC] [Job Submission] `list_jobs` REST API"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Make open source useful rest jobs API, corresponding SDK and CLI command.

- ```
   GET /api/jobs/
[code]
   {
       "job_id": {"entrypoint": ..., "metadata": ..., "namespace": ..., "status": ..., "status_message": ...},
       ...

[2022-02-16 01:40] architkulkarni commented on #21713
Hi @spolcyn, I just tried the Core reproduction on the latest nightly (commit `10172d8663c5fdfb43103c6e9e118a6111b6e4aa`) and I couldn't reproduce it in about 15 tries.

I tried it again with 1.9.2, and I reproduced it on the 2nd, 4th, 6th and 8th try.

I'm going to conclude that the problem was fixed some time after 1.9.2.  Please feel free to reopen this if the issue persists!

[2022-02-16 01:40] #21713 closed

[2022-02-16 01:55] amogkam commented on #22081
FYI this problem is not specific to train, but also for tune as well.

[2022-02-16 02:20] cin-duke commented on #20169
Hi @jiaodong, @simon-mo
Sorry for late response, I don't have time to investigate it. My simple solution is: creating a function to call the deployment, then create a thread pool to run that function on separated thread.

[2022-02-16 02:24] cin-duke opened #22413 "[Feature] More detail about the Ray initialize error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In the new ray versions 1.9.2, 1.10.0, when I input an address without the starting the ray cluster at that address, it doesn't raise any error. Ray only shows this message in the log:
Log:
[code]
Code:
[code]

In the ray version 1.8.

[2022-02-16 04:38] cin-duke opened #22418 "[Feature] Improve the deployment initialization's exception handler"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I want Ray Serve to throw the exception inside the deployment initialization. Currently, when there is an exeption inside the deployment's initialization stage, Ray only logs the exception, retries for 3 times, then throws the `Runtim

[2022-02-16 04:39] rkooo567 commented on #22418
cc @simon-mo

[2022-02-16 05:52] newmanwang commented on #18889
It happens after some worker node marked as dead as
[code]

chrome console log:
[code]

[2022-02-16 07:05] mjlbach opened #22422 "[Bug] Terminal key sequences (arrow keys, Home) not correctly forwarded with `ray debug`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Monitoring & Debugging

### What happened + What you expected to happen

I'm using `ray debug` with `breakpoint()` to debug the policy model in my ray workers. The arrow keys are not being correctly forwarded which makes it difficult to repeat the last

[2022-02-16 07:29] rkooo567 opened #22423 "[Bug] node_failures test broken with GCS KV Get Failure"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Seems like the script failed after running for 13 minutes with this error message;

[code]

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_JTZ

[2022-02-16 07:38] ZKBig opened #22424 "[rllib] How to access the intermediate data during training?"
I am using custom transformer structure to calculate the actions using rllib, and I want to get the intermediate attention values which are corresponding to the input observation states; however, it seems that there is no direct way to achieve this.

 According to the past questions like accessing q-values, I think one possible way is to add those attention values as extra fetches, but I have no i

[2022-02-16 07:59] newmanwang commented on #22377
I follow the "Local On Premise Cluster (List of nodes)" setup procedure, nothing special, most of the time it works just fine.

ray 1.10.0 in image xxxx.com/xxx/ray:1.10.0

here is the ray.yaml
[code]

[2022-02-16 08:20] newmanwang opened #22425 "[Bug] Alive node reported by ray.node() failed to execute remote task"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

On worker node marked as dead(due to memory swaping, another story)
[code]
raylet.out of this dead node:
[code]

Howerver maybe 1 hour later(I am not aware of how many time elapse since node ma

[2022-02-16 10:18] ZKBig commented on #22424
@ericl

[2022-02-16 12:58] atrejut opened #22429 "[Bug] _validate_env raises EnvError even though observation looks ok"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I'm using a custom environment with a `gym.spaces.Dict`-like observation space (see example code below).
When creating a trainer for this env `_validate_env` fails with
[code]

This seems to be a

[2022-02-16 13:37] spolcyn commented on #21713
Thanks @architkulkarni for the update -- we'll test this out with 1.10!

[2022-02-16 15:51] mwtian opened #22432 "[Release 1.11.0] `xgboost_gpu_connect_master` failing"
Same errors on `master` and `releases/1.11.0` branches:
[code]
https://buildkite.com/ray-project/periodic-ci/builds/2788#50097f7e-cc1d-443e-b4f2-c8ebee8366de/139-322
https://buildkite.com/ray-project/periodic-ci/builds/2778#04a5f326-6f4e-41d3-a0a7-61cc4e5f2249/138-331
Please advise if a fix should be made and cherry-picked, or the error can be ignored. Thanks.

[2022-02-16 15:57] mwtian opened #22433 "[Release 1.11.0] `gcp_k8s_durable_upload` failing"
Same failure on `master` and `releases/1.11.0` branches, where nodes are not coming up:
https://buildkite.com/ray-project/periodic-ci/builds/2788#e06260cb-781d-4591-bacc-0bf1065a0469/81-266
https://buildkite.com/ray-project/periodic-ci/builds/2778#88afe272-79f8-46a5-b151-3d35b4595afa/139-344
I wonder if this is related to product k8s's support for GCS-Ray. @iycheng can you follow up with @DmitriGe

[2022-02-16 16:04] edoakes commented on #22412
@architkulkarni one very small nit, I think it should be `GET /api/jobs/` rather than `GET /api/jobs` to match the convention of the existing endpoints

[2022-02-16 16:27] DmitriGekhtman commented on #22433
Ah, I didn't realize we were already running GCS-Ray against the internal K8s. Let me follow up offline.

[2022-02-16 16:36] PushanAgrawal commented on #22418
Hello I would like to work on this issue . Could you please guide me more into it?

[2022-02-16 16:40] mwtian opened #22435 "[Release 1.11.0] job submission error"
On `releases/1.11.0` branch, there are job submission errors in `rte_ray_client` and `train_small`:
https://buildkite.com/ray-project/periodic-ci/builds/2788#6a73aaf1-80f7-40bf-9b8b-0f21c91e6e57/136-545
https://buildkite.com/ray-project/periodic-ci/builds/2788#1bdebe61-370e-4d93-a979-402732826c34/136-542

These seem like mismatched command handling in product vs in the job client. Can anyone advis

[2022-02-16 16:47] mwtian opened #22437 "[Release 1.11.0] `pipelined_ingestion_1500_gb_15_windows` failing"
`pipelined_ingestion_1500_gb_15_windows` started failing on the `releases/1.11.0` branch, similar to the failure on `master` branch earlier: #22161. I will work on a minimal fix for it.

[2022-02-16 16:54] rkooo567 commented on #22322
Very surprisingly it seems to be https://github.com/ray-project/ray/pull/22133

@scv119 do you have any clue?

[2022-02-16 16:57] mwtian commented on #22433
Great, thanks Dmitri!

[2022-02-16 17:15] amogkam commented on #22432
Should be fixed by https://github.com/ray-project/xgboost_ray/pull/193 once it's merged.

[2022-02-16 17:24] grechaw commented on #21718
Hi @sven1977 is this indeed something that you or someone on the team will be looking at as a next item after the alpha-star delivery?  I know you're in contact with the reporter frequently -- it comes up each week when we sync as well.

[2022-02-16 17:45] mwtian commented on #22432
Nice, rerunning the test.

[2022-02-16 17:48] edoakes commented on #22356
@architkulkarni the example should be updated here, the endpoint for creating a job is `POST /api/jobs/`

[2022-02-16 17:51] edoakes commented on #22435
Oh, I think this is the error that @krfricke fixed awhile back with the command formatting. Let me have a look to see what commit it was.

[2022-02-16 17:52] scv119 commented on #22322
hmm this test has no dependency on the microbenchmark script right? I can hard image these two are related.

[2022-02-16 17:53] edoakes commented on #22435
I believe it's likely this change:
https://github.com/ray-project/ray/commit/dd935874ee3c23ea7636e3853a235ae6c91eabf7

[2022-02-16 17:55] DmitriGekhtman commented on #22433
This probably doesn't need to be taken as a release-blocker per-se -- just an indicator of some known product prep that needs to be done in preparation for the release.

[2022-02-16 17:56] rkooo567 commented on #22322
Yeah that’s what I thought.. let me see if I can find anything tomorrow

[2022-02-16 17:57] architkulkarni commented on #22435
Thanks for finding this!  I'll cherry pick this on a test branch off of 1.11.0, run the release test, and see if it fixes the issue.

[2022-02-16 17:57] scv119 commented on #22322
ha the benchmark reuses the timeit from ray_microbenchmark_helpers

[2022-02-16 18:07] mwtian commented on #22433
Sounds good, downgrading this to P1.

[2022-02-16 18:10] mwtian commented on #22435
@krfricke's change has already been cherry-picked into the release branch: https://github.com/ray-project/ray/commit/c500c5b1ed2919de85dd440be1d3550e8e3da9f4. Otherwise almost all tests will fail. But I did not pick https://github.com/ray-project/ray/pull/22011 from `master` which look riskier. Can this be a related issue?

[2022-02-16 18:13] mwtian commented on #22435
Btw thanks @architkulkarni for testing this.

[2022-02-16 18:13] architkulkarni commented on #22435
Ah I see, let me test with #22011 instead.

[2022-02-16 18:14] simon-mo commented on #22435
If it doesn't work, you can bring in this commit which does not ray job submit runners https://github.com/ray-project/ray/commit/ac00389cbe4c58573a6b5949d6eba3bf13387f01

[2022-02-16 18:16] mwtian commented on #22435
Sounds good. Is this a job issue that needs to be fixed in 1.11.0? Otherwise, https://github.com/ray-project/ray/commit/ac00389cbe4c58573a6b5949d6eba3bf13387f01 / https://github.com/ray-project/ray/pull/22209 looks safer.

[2022-02-16 18:16] mwtian commented on #22435
I'm ok with either option.

[2022-02-16 18:19] architkulkarni commented on #22435
#22011 originally fixes a P1 bug, not P0, so by itself it doesn't meet the bar to be cherry-picked.  But if it's the only PR which fixes the release test issue, then we should cherry pick it.

I'll test both https://github.com/ray-project/ray/pull/22011 and https://github.com/ray-project/ray/commit/ac00389cbe4c58573a6b5949d6eba3bf13387f01 / https://github.com/ray-project/ray/pull/22209

[2022-02-16 18:22] mwtian commented on #22435
Really appreciate it Archit!

[2022-02-16 19:09] architkulkarni commented on #22435
While I wait for the the wheel build and the test results, just for more context how did you all figure out that it was an issue in the job submission commands?  Naively interpreting the logs it looks like something to do with a missing file:
[code]

And the commands don't have quotes:
[code]

[2022-02-16 19:18] mwtian commented on #22435
IIUC, the previous job command before `wait_cluster.py` call installs `awscli` and copies `wait_cluster.py` and other local files to the Anyscale session: https://github.com/ray-project/ray/blob/8b1bbfe8e438a06bf2f9fe2cbf65f163d64227dd/release/e2e.py#L506-L512. Because the job fails, the `wait_cluster.py` file is missing.

[2022-02-16 19:37] matthewdeng commented on #20892
@maxpumperla do you have any ideas about this one? cc @bveeramani

[2022-02-16 19:45] 2dm opened #22444 "[Bug] PPO cur_kl_coeff is not restored"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When restoring from a checkpoint, either by `ppo_trainer.restore(checkpoint)` or `tune.run("PPO", ..., restore=checkpoint_path)`, the updated kl coefficient is not restore. Instead, the value from

[2022-02-16 20:02] Michalos88 opened #22445 "[Bug] Tune doesn't sync additional files back to head"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

1. After running all the steps for a given trial, we test the model in a separate validation environment. The results of that testing are saved as a json in trials logdir folder. When running t

[2022-02-16 20:27] clarkzinzow commented on #21957
This was determined to be an (Arrow-level) issue with Parquet dataset partitioning when including the partition field (`tag`) in both the file path (via the Hive partitioning scheme) and in the file itself. Namely:

This caused a column type conflict between the partition `tag` field and the in-file `tag` field. Since Parquet datasets shouldn't duplicate the partition field in the file, and since

[2022-02-16 20:27] #21957 closed

[2022-02-16 20:49] mwtian commented on #22432
Still failing, but it seems this is an issue external to Ray. Downgrading to P1.

[2022-02-16 20:56] mwtian commented on #22161
I'm using a commit that can reproduce the issue (missing import), and a few obvious mitigations do not seem to fix the issue:
- Increasing subscriber timeout. This increases the time where Python process appears stuck too.
- Using separate thread for GC.

Back to more investigations. Only thing we know for sure is that GIL is held for a long period time. The failure is also happening on the `relea

[2022-02-16 21:42] architkulkarni commented on #22435
Test for #22209 is running here: https://buildkite.com/ray-project/periodic-ci/builds/2803#_ I disabled all tests besides `rte_ray_client`, `train_small` and `many_drivers` (because this PR makes a change to `many_drivers`.)

Test for #22011 is running here: https://buildkite.com/ray-project/periodic-ci/builds/2802# I only ran `rte_ray_client` for this test, but I should have run `train_small` as

[2022-02-16 21:56] architkulkarni commented on #22435
@mwtian Based on the tests, both PRs fix the issue, so we can choose which one to use.

The downside of picking #22209 is that we would need to wait for the `many_drivers` tests to finish.  I had to manually fix some merge conflicts here and I'm not sure it's correct.

I would recommend we pick #22011.  The change is very small ([3 lines of code, plus tests](https://github.com/ray-project/ray/pull

[2022-02-16 22:10] maxpumperla commented on #20892
@matthewdeng this problem was introduced in 1.7, actually. Interestingly it's not at all related to a doc build system change, but rather due to the fact that 1.6 and earlier versions did not have type annotations, see here:

https://github.com/ray-project/ray/blob/ray-1.6.0/python/ray/worker.py#L1698

and here for reference:

https://github.com/ray-project/ray/blob/ray-1.7.0/python/ray/worker.py#

[2022-02-16 22:14] mwtian commented on #22161
To clarify,`LocalGC` is not relevant to the deadlock as I originally thought. When `LocalGC` takes ~170s, it was because of trying to acquire GIL for ~170s. I'm still investigating the reason behind GIL being held for a long time here.

[2022-02-16 22:31] mwtian commented on #22435
Picking https://github.com/ray-project/ray/pull/22011 sounds good. One possibility is that `rte_ray_client` and `train_small` use Ray client (`use_connect: True`), and the codepath for that in `e2e.py` is different. I will send out a PR.

[2022-02-16 23:13] architkulkarni opened #22448 "[doc] [jobs] Explain the meaning of the address and port used by Jobs and Ray Client"
Also clarify the difference between Jobs and Interactive mode (Ray Client), and the different ports (Ray Client uses port 10001).  Can build off the answer provided here https://discuss.ray.io/t/ray-job-submission-question/5094

[2022-02-16 23:38] simon-mo commented on #21380
@jovany-wang @kfstorm I have implemented option 2 (match number of arguments) in https://github.com/ray-project/ray/pull/21410/commits/5dbff1358853f5874335ee2a165d1c744190de28 as part of Ray Serve PR. Please take a look!

[2022-02-16 23:59] rkooo567 commented on #22377
How common do you see this? Also cc @scv119

[2022-02-16 23:59] rkooo567 commented on #22372
Can you update the title?

[2022-02-16 23:59] rkooo567 commented on #22341
What's the version of ray that has the issue?

[2022-02-16 23:59] rkooo567 commented on #22341
cc @DmitriGekhtman

[2022-02-17 00:01] rkooo567 commented on #22278
cc @iycheng This seems to be a regression from 1.10

[2022-02-17 00:01] #22371 closed

[2022-02-17 00:01] rkooo567 commented on #22252
what happens if you run `pip install ray`?

[2022-02-17 00:03] rkooo567 commented on #22103
Please refer to the answer above! It is highly likely you are capturing MongoDB implicitly. It can be happened when you import MongoDB related packages. In that case doing something like this can also solve the issue
[code]

[2022-02-17 00:05] Purvak-L opened #22450 "[Feature] Looking for a way to cancel ray serve task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I’ve deployed a prediction service using Ray serve. The predict service at times might take a while to finish. I want a way to cancel the ongoing prediction task. When I try to use ray.cancel/ray.kill using object ref/handle it says A

[2022-02-17 00:06] ckw017 opened #22451 "[Enhancement] Kill IDLE_SpillWorker processes after job is terminated"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Context from discuss: https://discuss.ray.io/t/multiple-designatedblockowner-processes/4819/4

### Versions / Dependencies

Latest

### Reproduction script

N/A

### Anything else

_No response

[2022-02-17 00:07] ckw017 commented on #22451
cc @rkooo567 @clarkzinzow

[2022-02-17 00:08] rkooo567 commented on #22425
Do you use the autoscaler for deployment?

Note that the node id is different here

`fd09404717968d7458660c7e24a85106de826d0acfc45fdfcf91a9d3`: is the alive one
`63049713526c2df2956d5f9296055ed9988cacd237c4c5d2aafe1a5a `: is the dead one.

Afaik, the autoscaler can start a new raylet on the same IP. Ray considers "raylet" as a node, so if the new raylet is started on the same IP, it is a new node.

[2022-02-17 00:11] rkooo567 commented on #22451
@clarkzinzow @scv119  maybe we should kill the spill worker after the job is terminated? Right now it can be shared across jobs. It looks like this brings some confusion to users (It also has big memory usage due to shared memory usage which is confusing). Or at least we should document it.

[2022-02-17 00:18] #22435 closed

[2022-02-17 00:23] ckw017 opened #22453 "[Bug][Datasets] TypeError: self.hive_partitioning,self.partitioning,self.wrapped cannot be converted to a Python object for pickling"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Discuss user reported this issue: https://discuss.ray.io/t/multiple-designatedblockowner-processes/4819/6

### Versions / Dependencies

Nightly wheels ([`839bc5019f61cabb122f9b341721a9bd04680238`

[2022-02-17 00:24] #22322 closed

[2022-02-17 00:26] ckw017 commented on #22453
cc @ericl

[2022-02-17 00:51] ericl commented on #22453
@clarkzinzow could you triage?

[2022-02-17 01:54] clarkzinzow commented on #22453
@ericl Git bisecting indicates that moving the metadata reads to Ray tasks (for the sake of Ray Client performance) is the culprit: https://github.com/ray-project/ray/commit/45e03bd4976a521a8d695c64f8a0ecd36ce90407

[2022-02-17 01:57] clarkzinzow commented on #22453
Confirmed that disabling the remoted metadata reads with `os.environ["RAY_DATASET_FORCE_LOCAL_METADATA"] = "1"` fixes it on the latest nightly wheel.

[2022-02-17 02:03] clarkzinzow commented on #22453
This isn't an issue when metadata is fetched locally since the provided `partitioning=pa.HivePartitioning()`, which is unserializable, is converted to a partition expression when constructing a `ParquetDataset` during `.prepare_read()`. With remote metadata fetches, we instead try to serialize `partitioning=pa.HivePartitioning()` as a Ray task argument, which fails.

[2022-02-17 02:31] ericl commented on #22453
This is a bit unfortunate. Since running metadata resolution as a task is only an optimization, perhaps we could catch errors during submission and retry locally?

[2022-02-17 02:33] #14836 closed

[2022-02-17 02:53] clarkzinzow commented on #22453
That could work, although might be a bit messy. I think these are the mitigation options:
1. Submit metadata resolution task, retry locally if it fails with some class of error.
2. Explicitly check for unserializable arguments such as `pa.HivePartitioning()` and do metadata resolution locally if found.
3. Create custom serialization wrapper for `pa.HivePartitioning()` and friends, similar to what

[2022-02-17 03:51] newmanwang commented on #22377
Only once

[2022-02-17 03:55] newmanwang commented on #22425
I am not familiar with autoscaler. And I follow the "Local On Premise Cluster (List of nodes) -- manually managed" setup procedure, am I not using autoscaler? here is ray.yaml
[code]

[2022-02-17 03:58] DmitriGekhtman commented on #22341
Hi @mataney, certainly sounds like a bug. Could you share some details, such as
- the Ray version your are using to locally to launch the cluster
- the config yaml used to launch
- the error you see when you call Ray down
- anything else you think is relevant

[2022-02-17 04:12] newmanwang commented on #22425
Oh yes,  dashboard agent died a few seconds later after raylet marked as dead.
[code]
Yes, process started by agent.py dead that time if I remembered correctly.

[2022-02-17 04:38] DmitriGekhtman commented on #22425
Confirming that in this set-up, a crashed Ray node will be restarted at the same ip.

[2022-02-17 04:48] iycheng opened #22460 "privileged test failed"
https://buildkite.com/ray-project/ray-builders-branch/builds/6104#d3be542b-da33-4efb-a008-2b60a8171ffc

The following specifications were found to be incompatible with your system:

  - feature:/linux-64::__glibc==2.33=0
  - feature:|@/linux-64::__glibc==2.33=0
  - brotlipy -> libgcc-ng[version='>=7.3.0'] -> __glibc[version='>=2.17']
  - cffi -> libgcc-ng[version='>=7.5.0'] -> __glibc[version='>=2

[2022-02-17 04:49] iycheng commented on #22423
https://github.com/ray-project/ray/pull/22459

[2022-02-17 04:50] abhalawat commented on #22103
okay,This solved the issue

[2022-02-17 04:50] #22103 closed

[2022-02-17 04:51] iycheng commented on #22460
@simon-mo  do you have some idea about this?

[2022-02-17 05:09] #16506 closed

[2022-02-17 05:09] #16605 closed

[2022-02-17 05:09] #16655 closed

[2022-02-17 05:09] #19077 closed

[2022-02-17 05:09] #17695 closed

[2022-02-17 05:43] #22168 closed

[2022-02-17 06:09] #17744 closed

[2022-02-17 06:09] #17862 closed

[2022-02-17 06:09] #17924 closed

[2022-02-17 06:43] birgerbr commented on #22352
Here is the log file
[ray_client_server.err](https://github.com/ray-project/ray/files/8086140/ray_client_server.err.txt). The cluster has been restarted, but I can run that code if I see the issue again.

FYI: After the cluster was restarted I found another issue with our cluster. Not sure these issues can be connected, but the other issue was that the latest ray operator image for Kubernetes had

[2022-02-17 07:16] abhalawat commented on #22212
Got your point.I had specify versions of both ray and python

[2022-02-17 07:16] #22212 closed

[2022-02-17 07:33] mattip commented on #16929
opencv is still mentioned in  python/requirements.txt https://github.com/ray-project/ray/blob/786c5759dee02b57c8e10b39f1c1bed07f05eb5a/python/requirements.txt#L38

Is that still needed?

[2022-02-17 08:23] vakker commented on #16929
It seems like #17158 added that back, without actually using opencv anywhere.
The last comment on the PR points that out, I'm not sure why that was left in.

@richardliaw @sven1977 I assume that's a regression that should be resolved in a new PR?

[2022-02-17 08:53] pvmilk commented on #5635
Just in case anyone face the same issue. Let me elaborate how to do the above suggestion concretely.
(I am very new to raytune, so please take it with a grain of salt).

OS Platform and Distribution: Ubuntu 20.04.3 LTS
Ray installed from (source or binary): Binary (pip install)
Ray version: 1.10.0
Python version: 3.8.10
Usage: raytune for hyperparameter tuning.

Normally, when you want to use a cu

[2022-02-17 09:34] cin-duke commented on #22418
Hi @PushanAgrawal,
I want the RayServe's deployment to throw Exception instead of only logging the Exception error. I want it to throw the Exception at the first time it failed to deploy the deployment. Currently, it only throw the RuntimeError after retrying to deploy for 3 times.

[2022-02-17 11:36] mataney commented on #22341
Hi, using Ray 1.10.0

This is the config yaml
[code]

I'll try to reproduce it later, but if I recall correctly, it is complaining that `022318ed` (see explanation below) is not a valid GCPNodeType.

What happens here?

This is the python code I linked to in the original message:
[code]
Assume the name of the instance is `ray-gpucluster-worker-022318ed` (but should really be `ray-gpucluster-worker

[2022-02-17 14:07] peterhaddad3121 opened #22466 "[Bug] Dashboard can't start with TLS on"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Clusters, Monitoring & Debugging, Dashboard

### What happened + What you expected to happen

When deploying a Ray Operator + Ray Cluster utilizing the [following helm chart](https://github.com/ray-project/ray/tree/master/deploy/charts/ra

[2022-02-17 15:39] ebr commented on #16822
Piggybacking on this issue, but I can open a new one if preferable.

Efforts to *prevent* pod eviction or API termination are important (such as pod disruption budgets or priority classes), but can not guard against sudden K8s node termination (especially when using Spot instances), or other infrastructure issues. So I think we need to understand how to make the Ray head node run in a stateful fas

[2022-02-17 15:47] polovinko1980 opened #22468 "[Bug] rayproject/ray-ml:1.9.2-py38 does have non CPU unnecessary torch version 1.9.0+cu111"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

That is more clarification request, but also might indicate the issue with publishing images.
In January release we do see following image tags published:
rayproject/ray-ml:1.9.2-py38
raypr

[2022-02-17 15:49] olivierlabreche commented on #21684
Actually @DmitriGekhtman the reason why we are patching out the finalizer is that it will otherwise prevent deleting the RayCluster if a pod is in `ImagePullBackOff` state.

[2022-02-17 16:20] jon-chuang opened #22469 "[Feature] Alternate Design Patterns for Ray Actors"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Examples:
1. Multiple actors on single worker (within single async runtime) (equivalent to having 1 "physical" actor and multiple sub data-structures managed by user code, but having an API to easily coalesce many actors into one logi

[2022-02-17 16:51] mpgussert commented on #5311
https://xkcd.com/979

@HanwGeek what did you see!?!

[2022-02-17 17:24] souravraha commented on #21874
I thought I fixed this issue sometime back. See #17437. As @amogkam mentioned, the code was modified. @JiaxuanYou Where did you get the original, deprecated code?

[2022-02-17 17:37] architkulkarni opened #22472 "[Jobs] Ensure runtime env setup failure log is streamed to the user"
We already do this for `ray.init()` and task and actor setup failures; we should do this for Job submission as well.  See e.g. https://discuss.ray.io/t/cannot-setup-the-runtime-env/5105

[2022-02-17 17:45] ckw017 commented on #22352
Sounds good, digging through the logs it looks like it hit "Server startup failed" 1,000 times before it ran into the "Unable to succeed in selecting a random port", which likely explains how all the ports were exhausted. If the incompatible image is what's causing this then reverting might resolve this as well.

[2022-02-17 17:48] simon-mo commented on #22460
No i don't know how can this be fixed. Consider disable the test for now?

[2022-02-17 17:52] jon-chuang commented on #22278
You can assign to me, I'll try repro and investigate which code paths ray.wait is/is not triggering.

[2022-02-17 18:18] clarkzinzow commented on #22453
@ckw017 does setting `os.environ["RAY_DATASET_FORCE_LOCAL_METADATA"] = "1"` before starting the read unblock you?

[2022-02-17 18:28] ckw017 commented on #22453
cc @mmuru

[2022-02-17 18:41] DmitriGekhtman commented on #16822
(1) Central fault tolerance of the head node is a point of active work.
There isn't a good answer yet, but I can direct you to this [Ray Slack Channel](https://ray-distributed.slack.com/archives/C03036XREA1), where some folks working on the Ray internals can give context.

(2) Definitely appropriate for a new issue with a "Ray Core" label.

[2022-02-17 18:43] DmitriGekhtman commented on #22341
@wuisawesome could you look into reproducing the issue?

[2022-02-17 19:22] 2dm opened #22475 "[Bug] ray install missing tune and rllib dependencies"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Tune, RLlib

### What happened + What you expected to happen

I'm doing a fresh install of ray 1.10 on Ubuntu 20.04, python 3.9.
I run `pip install ray` but when I tried to run my code I got an error message of missing dm_tree. I installe

[2022-02-17 19:40] clarkzinzow commented on #22453
@ericl Wasn't able to get the partitioning serialization wrapper (option (3)) to work since some partitioning configuration (segment encoding, null fallback) is hidden behind opaque C++ objects below the Cython layer that we can't access. Ended up going with (2). https://github.com/ray-project/ray/pull/22477

[2022-02-17 20:11] eggie5 commented on #21274
still slow for me too:

* 3m for 100 partitions
* >10m for 10k partitions

[2022-02-17 20:58] ericl commented on #17017
This seems to be handled properly now (though the error message could be improved, there's a lot of error spam):
[code]

[2022-02-17 21:23] jjyao commented on #17017
Hmm, do you know which PR fixed the issue?

[2022-02-17 21:31] ericl commented on #17017
I believe it's just a side effect of fallback allocation now. When we can't
spill, we fallback, and the error path for that gets propagated as
ObjectStoreFull.

On Thu, Feb 17, 2022, 1:23 PM Jiajun Yao ***@***.***> wrote:

[2022-02-17 21:48] ericl commented on #21941
@stephanie-wang this seems to be working for me on master, can you confirm the reproduction?
[code]

[code]

[code]

[2022-02-17 22:02] scv119 commented on #21812
This has been fixed by #22158

[2022-02-17 22:02] #21812 closed

[2022-02-17 22:05] scv119 commented on #21349
Hasn't have a reproduction since Jan 3rd. Probably not worth investigating at the moment.

[2022-02-17 22:05] #21349 closed

[2022-02-17 22:21] ericl commented on #22340
Is this duplicating https://github.com/ray-project/ray/issues/22339 ?

[2022-02-17 22:24] ericl commented on #22278
It sounds likely to be a reporting issue, since I can't imagine ray.wait() would be returning wrong results. Maybe the tracking is somehow sensitive to thread ids.

[2022-02-17 22:35] mwtian commented on #22340
https://github.com/ray-project/ray/issues/22339 is for memory bound on streams, e.g. logs and error info. This is for state notifications e.g. actor state, import notifications etc.

[2022-02-17 22:41] simon-mo commented on #22278
I think the task context might not be threadsafe? We had this problem in async actors before right? @clarkzinzow

[2022-02-17 23:34] #22460 closed

[2022-02-18 00:13] stephanie-wang commented on #21941
Hmm still hangs on master for me ~i=200.

Notice the number of objects being restored keeps going up but not the number of objects spilled, and it's higher than the total number of objects in scope:
[code]

[2022-02-18 00:13] rkooo567 commented on #22460
Maybe we should also ping Ant? I believe they contributed this feauter

[2022-02-18 00:14] franklsf95 opened #22485 "[Bug] Objects not being spilled in 100MB bundles"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Ray setup: 1GB object store memory.

We put 16000 of 1MB objects into the object store using `ray.put()`, causing it to spill most of them to disk, then schedule tasks that require these object

[2022-02-18 00:20] architkulkarni opened #22487 "[Jobs] run all doc examples in CI"

[2022-02-18 00:23] architkulkarni commented on #22356
Closed by https://github.com/ray-project/ray/pull/21802

[2022-02-18 00:23] #22356 closed

[2022-02-18 00:24] architkulkarni commented on #22356
@saggar Thanks for reporting, and sorry you ran into this!  This is fixed on the nightly docs: https://docs.ray.io/en/master/cluster/job-submission.html#rest-api

[2022-02-18 00:54] #17631 closed

[2022-02-18 00:55] #16579 closed

[2022-02-18 00:55] #17516 closed

[2022-02-18 00:55] #19134 closed

[2022-02-18 00:55] #18476 closed

[2022-02-18 01:29] #22110 closed

[2022-02-18 01:35] ericl commented on #21941
IIUC, the wait is for 10GB of objects with fetch=True, but the object store is only 2GB. So is this the same as the other known hang?

It doesn't seem it should fit in memory.

[2022-02-18 01:49] stephanie-wang commented on #21941
Ohh my bad, I think I just did the math wrong... Yeah it works with num_returns=10.

[2022-02-18 01:49] #21941 closed

[2022-02-18 02:26] richardliaw opened #22488 "[RFC] Introducing Ray AI Runtime"
**Update: Initial [documentation can be found here.](https://docs.ray.io/en/master/ray-air/getting-started.html)**

Hi all!

I'd like to gather [some feedback on a proposal](https://docs.google.com/document/d/1yub1d3ck0H7Zpb7vgzwgFo3t_E4oYWvtugG4qYoOgBU/edit#) to create the "Ray AI Runtime."

Ray AI Runtime (Ray AIR) features a scalable and unified toolkit for building end-to-end ML applications.

[2022-02-18 03:43] yoanisgil commented on #17308
FYI, I was not able to reproduce the issue while using `ray==1.9.2`

[2022-02-18 04:03] rkooo567 commented on #22423
Can we close this @iycheng ?

[2022-02-18 04:05] rkooo567 commented on #20773
Hey @iycheng can @jon-chuang can take over this?

[2022-02-18 04:25] iycheng commented on #20773
That's OK for me.

[2022-02-18 04:26] #21473 closed

[2022-02-18 04:27] #19084 closed

[2022-02-18 04:27] grbagwe commented on #10284
Did you figure it out ?  I am having the same issue

[2022-02-18 04:27] #22423 closed

[2022-02-18 04:29] iycheng opened #22491 "`test_output` failed"
[code]

[2022-02-18 05:30] mwtian commented on #22326
Debugged with @Nithanaroy today. The issue appears under the following condition: in a notebook cell, start Ray head node with `! ray start --head`. It was observed that only Redis keeps running. GCS and other processes exited abruptly without an error, soon after `ray start`.

The issue is reproducible on my local jupyter notebook as well. If not in a note cell (e.g. notebook terminal), or starti

[2022-02-18 06:14] newmanwang commented on #18889
After node marked as dead due to timeout, dashboard also crash
[code]

dashboard console log:
[code]

dashboard chrome debug info, nodes variable:
[code]

[2022-02-18 06:33] rkooo567 commented on #20773
Is 2k node testing necessary? My impression is it is pretty much no brainer improvement, but you might have diff opinions

[2022-02-18 08:02] zbzhu99 commented on #19394
Hi, @wpwpxpxp, I am also interested in implementing adversarial imitation learning algorithms in rllib. I wonder if you are still working on it or what is the current working status. If you want, I can participate in the development together. You can reach me via zbzhu99@icloud.com. Thank you!

[2022-02-18 10:17] zjf2012 commented on #22378
@edoakes, any comments?

[2022-02-18 11:29] igorgad commented on #22043
Hi. Sorry for the later reply.

Yes it makes sense, and that's what I have been doing. Considering that all cluster managers (slurm, k8s etc) require some sort of custom script to launch jobs in specific nodes, using the entrypoint example given above is super simple.

[2022-02-18 15:54] #22290 closed

[2022-02-18 15:56] xwjiang2010 opened #22498 "[Bug] node_table() may be slow"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

[See the log here](https://github.com/ray-project/ray/files/8098464/interactive_session_job_AjYdfq8enGKcEPzRDXRYi7Fj.log)
--> Search for `on_step_begin` or `get_next_failed_trial ` - both calls

[2022-02-18 16:29] mwtian commented on #22161
It was found that the test was spending a lot of time within `ray::parallel_memcopy()` while holding GIL. #22492 mitigates the GIL issue. There is no longer import missing errors. But test is still slow, and unable to finish within the allocated 4800s. Remaining questions are:
- Which change affected output format and increased output serialization time? I'm bisecting but I suspect it is related t

[2022-02-18 17:26] mwtian opened #22501 "[Release 1.11.0] `serve_failure` failing on alerts raised"
https://buildkite.com/ray-project/periodic-ci/builds/2788#f9a584f1-4c98-418d-9a76-444dc9e0a6ac/139-3338
Logs from the test output:
[code]
@architkulkarni assigning to you as serve oncall. Can you triage to see if this can be ignored, or a fix needs to be cherry picked? `serve_failure` seems to be failing on `master` as well, although with a different failure message.

[2022-02-18 17:32] evo11x commented on #11807
same error here with ray 1.10, windows 11, python 3.9
it works with tf, but with tf2 it uses 5 times more memory and the computer is blocking

[2022-02-18 17:34] edoakes opened #22502 "[jobs] Add API annotations to SDK, CLI"

[2022-02-18 17:50] evo11x commented on #21921
thanks! flattening the observation fixed the problem

[2022-02-18 18:19] shrekris-anyscale commented on #22501
@mwtian, @architkulkarni is out today. This looks like a bug– I'm taking a look.

[2022-02-18 18:29] mwtian commented on #22501
Thanks @shrekris-anyscale!

[2022-02-18 19:08] wilsonwang371 commented on #21549
Hi @mwtian , I think this might be related to version mismatch between client and gcs server. Do we have fixed this issue?

[2022-02-18 19:27] tgaddair opened #22504 "[Bug] torch.cuda.is_available() is False after running CPU task"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When using PyTorch on Ray, mixing CPU and GPU tasks / actors leads to the GPU tasks being unable to properly initialize CUDA.

Running a CPU ray task that uses PyTorch followed by a GPU task or

[2022-02-18 19:49] mwtian commented on #22437
This should be mitigated by https://github.com/ray-project/ray/pull/22500.

[2022-02-18 19:49] #22437 closed

[2022-02-18 20:05] mwtian commented on #21549
@wilsonwang371 what is the client and server version where the crash happened?

[2022-02-18 20:06] ericl commented on #22504
Yeah, sounds similar to an issue we're investigating already. Probably we shouldn't reuse processes for actors or GPU tasks.

[2022-02-18 20:13] iycheng commented on #21549
It seems like some ray client will crash ray cluster in some cases. Offline synced with @wilsonwang371 who will provide a repo script.

[2022-02-18 20:21] mwtian commented on #21549
Chatted with @wilsonwang371 on slack. This is due to using GCS server from Ray 1.8, and raylet / GCS clients from a more recent version. It is likely that the GCS client already has GCS pubsub enabled, but the GCS server does not. Making a defensive change on 1.8 release branch seems infeasible now.

The only recommended fix would be to upgrade GCS to match the Ray version of raylets and workers.

[2022-02-18 20:26] franklsf95 commented on #22485
The spilling behavior is very different when using `{"object_spilling_threshold": 1.0}`. Most of the spills are ~100MB as we expected them to be.

[spill.txt](https://github.com/ray-project/ray/files/8100164/spill.txt)

[2022-02-18 20:44] ericl commented on #22504
One way to force a different worker is to give it a unique runtime env. For example:

[code]

That should force a fresh worker to be started for `f`.

[2022-02-18 20:56] tgaddair commented on #22504
Thanks, let me see if we can do something like this. Part of the complexity for us is that we're using libraries like Ray Train and Horovod that sit on top of Ray Core, so it's not always possible to specify these details, but I will see if we can plumb it through.

[2022-02-18 21:19] tgaddair commented on #22504
Very nice! I will give this a shot, thanks!

[2022-02-18 21:29] orthosku commented on #13827
Hi there - how could this be used to display the evaluation episode reward mean per iteration? I can't make it out from the code changes.

[2022-02-18 23:23] c3-kunhwi opened #22505 "[Bug] Deletion of Ray clusters hangs while Ray operator is still up"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

**Problem**
After executing `kubectl delete raycluster <raycluster-name>`, I see that the command hangs. It looks like this is because Kubernetes finalizers are preventing the deletion of t

[2022-02-18 23:23] ericl commented on #22122
I think this should be happening on any multi-node cluster.

[2022-02-18 23:24] c3-kunhwi commented on #22505
Wrote this issue as recommended by @DmitriGekhtman from this StackOverflow post [here](https://stackoverflow.com/questions/71164028/disabling-ray-finalizer-condition)

[2022-02-18 23:40] evo11x opened #22509 "[Bug] Dashboard hangs computer in Windows 11"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib, Dashboard

### What happened + What you expected to happen

When dashboard is enabled the computer hangs randomly and there is high memory load, even when the dashboard is not opened in the browser.

I suspect that the problem is caused by redis

[2022-02-19 00:16] edoakes commented on #22501
@mwtian @simon-mo and @shrekris-anyscale looked into this and it appears to be a bug, but highly unlikely to impact any user workloads so we suggest to not mark it release-blocking.

[2022-02-19 00:31] mwtian commented on #22501
Sounds good, thanks for confirming! Closing since this is not happening on `master`. cc @iycheng

[2022-02-19 00:31] #22501 closed

[2022-02-19 00:38] mwtian commented on #22326
Closing this issue since there is a workaround. But feel free to reopen if you think this use case needs to be supported!

[2022-02-19 00:38] #22326 closed

[2022-02-19 00:49] mwtian commented on #22161
@scv119 since pinning pyarrow to < 7 avoids the issue, I assume version 7 introduced the serialization slow down? A dataset specific benchmark could be useful here. For `ray::parallel_memcopy()`, I can imagine it is useful for copying large buffers. But for smaller data it can be inefficient. Adding a benchmark and tuning it a bit could be useful, if we are running into issues.

Since the root cau

[2022-02-19 00:49] #22161 closed

[2022-02-19 00:55] amogkam commented on #22349
Hey @ASDen I am able to reproduce this locally. What's happening is that the default Pytorch communication timeout is 30 minutes, so training is hanging on gradient synchronization and not raising an error and therefore Ray Train's fault tolerance is not being triggered.

The fix for you should just be to specify a lower timeout when you create your Trainer `Trainer(backend=TorchConfig(timeout_s=1

[2022-02-19 01:11] rkooo567 commented on #22425
Do you happen to know why agent was dead? Is it possible to share the log?

[2022-02-19 01:19] iycheng commented on #22122
Hmmm, I was testing scheduling issues, and I didn't encounter this issue. Let me recheck.

[2022-02-19 01:34] amogkam commented on #22475
Hey @2dm, is your code using rllib? If so, then you would need to do `pip install ray[rllib].` Is the expectation that the error message should be more clear that you need to install the `rllib` extra?

[2022-02-19 01:39] shrekris-anyscale opened #22512 "[serve] `serve_failure` failing with alerts raised"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

`serve_failure` is currently failing in the [1.11 release branch](https://buildkite.com/ray-project/periodic-ci/builds/2788#f9a584f1-4c98-418d-9a76-444dc9e0a6ac/139-3338) and the [master branc

[2022-02-19 01:44] #22432 closed

[2022-02-19 01:46] amogkam commented on #22424
cc @avnishn

[2022-02-19 01:58] mwtian commented on #22432
Thanks Amog, The test was passing on release branch now too.

[2022-02-19 02:50] scv119 commented on #22485
Reading the spilling code, it looks that RAY_min_spilling_size is the best effort other than a guarantee, maybe the name is a bit confusing.
More specifically, in the current spilling logic. we will stop collecting new object and start spilling if any of following is true:

-  there is no more object to spill,
- or the accumulative bytes exceeds this RAY_min_spilling_size,
- or we hit the max_fuse

[2022-02-19 02:53] franklsf95 commented on #22485
It’s not blocking me.

[2022-02-19 03:01] 2dm commented on #22475
Hi @amogkam,
I got the impression that ray installation includes tune and rllib. Thanks for clarifying it.
The current message eventually guided me how to solve it (and it was just my confusion about the installation content), so I guess it's good the way it is now.

[2022-02-19 03:21] Liadrinz commented on #22343
It works. Thanks a lot!

[2022-02-19 03:21] #22343 closed

[2022-02-19 03:22] daikeshi opened #22514 "[Bug] Ray k8s operator got stuck in a corrupted state"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

My Ray cluster is running on GKE using Ray k8s operator. After reliably running for a week, the Ray operator got stuck in a corrupted state and couldn't recover itself. The following is the

[2022-02-19 03:24] amogkam commented on #22475
Ok great!

[2022-02-19 03:24] #22475 closed

[2022-02-19 03:53] scv119 opened #22515 "[Bug] AttributeError: 'NoneType' object has no attribute 'all_node_ids' in autoscaler"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Autoscale crashed with following errors:
[code]

### Versions / Dependencies

Ray 1.10.0 python 3.6

### Reproduction script

N/A

### Anything else

N/A

### Are you willing to submit a PR?

-

[2022-02-19 03:54] rkooo567 commented on #22515
Cc @DmitriGekhtman

[2022-02-19 04:07] edoakes commented on #22378
@zjf2012 yes, I think this would definitely be an improvement. The reason we originally went with recommending Skein was mostly due to resource constraints, we couldn't justify spending additional effort on it given the demand we saw from the community.

Is this something you would be willing to contribute?

[2022-02-19 06:45] wpwpxpxp commented on #19394
Hi @zbzhu99,

Thanks for reaching out to me. Yes, I'm still working on it, and have finished the first version. It can run under some gym environments. It's great that you're interested in it, and I'm happy to collaborate on it.

[2022-02-19 07:05] clarkzinzow commented on #22310
Hmm interesting, @scv119 I tried to reproduce this locally and got ~the same high-water mark for object store utilization and number of bytes consumed by tasks when comparing `pyarrow==6.0.1` and `pyarrow==7.0.0`. 🤔

[2022-02-19 10:17] DmitriGekhtman commented on #22515
Will push a fix soon.

This happens when the first autoscaler iteration fails.

Autoscaler logs should have more details on why the first autoscaler iteration failed.

[2022-02-19 10:18] DmitriGekhtman commented on #22515
The key error is more problematic than the none type issue.

[2022-02-19 12:05] vakker opened #22518 "[Bug] Upgrade to gRPC 1.46 once it's released (which fixes fork support)"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

With the new 1.44.0 grpcio package there's an error message:
[code]

Repro script:
[code]

### Versions / Dependencies

Tested with Ray ~1.9 and ~1.10 on an Ubuntu 20.04.
This was introduced by

[2022-02-19 13:29] rkooo567 commented on #22518
cc @iycheng seems related to test output

[2022-02-19 13:31] rkooo567 commented on #22518
Seems like we can easily solve it by setting `GRPC_FORK_SUPPORT_ENABLED =0` in python? or `GRPC_FORK_SUPPORT_ENABLED =1 ` in core

[code]

[2022-02-19 13:35] rkooo567 commented on #17126
Maybe we can close it for now? I've never seen it recently

[2022-02-19 13:42] rkooo567 commented on #22518
It seems like the fork support is to allow for clients to be usable after forked by multi processing. I believe it is not the use case from Ray core, so it might be safe to disable this from the core configuration?

[2022-02-19 13:54] newmanwang commented on #22425
Sure.

Last lines of raylet.out
[code]

Last lines of dashboard_agent.log
[code]

[2022-02-19 13:57] rkooo567 commented on #22485
My impression is we should take a look since it could be a real bug, but doesn't seem to be very urgent.

I feel like this can be easily fixed if we remove this predicate `there is no more object to spill,`? Given the root cause is as @scv119 described.

Basically we only spill under this condition;
[code]

since we start spilling from 80% memory usage, the additional wait time until `RAY_min_spil

[2022-02-19 18:15] RaananHadar commented on #13327
Can we reopen this please? Its still relevant.

[2022-02-19 19:14] andenrx opened #22520 "MultiAgentEnv broken on Google Colab [Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When creating a MultiAgentEnv on Google Colab, I get a ValueError saying my environment is not a subclass of MultiAgentEnv.
I should not get this error as my environment is inheriting from MultiAg

[2022-02-19 23:46] #17814 closed

[2022-02-19 23:46] #19193 closed

[2022-02-20 03:07] zjf2012 commented on #22378
yes, it's my pleasure to contribute it to community.

[2022-02-20 03:34] #18548 closed

[2022-02-20 04:04] polovinko1980 commented on #22468
Thanks, @amogkam Yes, we are considering that ml images are different from regular images, so please add support for CPU flavor of ray-ml.

[2022-02-20 15:57] A12134 opened #22523 "[Bug] Repeated field with in complex observation raise "The two structures don't have the same number of elements.""
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

The built-in preprocessor sampling repeated field within complex observation spaces leads to random length array, which is more likely to be in different length than the actual env returned observ

[2022-02-20 17:30] scv119 commented on #22485
hmm if `there is no more object to spill`, we need to either

- spill immediately (today),
- or wait for new objects to become spillable; which might block new allocation in some cases? you can carefully set some constraints between the spill threshold and RAY_min_spilling_size; but I'd avoid that if possible

[2022-02-20 17:48] amogkam commented on #22468
@polovinko1980 do you mind sharing some more details on the benefit that CPU ml images provide you guys? It would be great to hear more about your use case.

[2022-02-20 18:22] jamie0xgitc0decat opened #22524 "[Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

[code]

### Versions / Dependencies

Ray : 1.10.0
Python: 3.8
OS: Ubuntu 20.04

### Reproduction script

[code]

### Anything else

This happens when the shape of the input feed is (928200, 91)

[2022-02-20 21:49] simonsays1980 commented on #10223
From what I see in my experiment, the different hyperparameters in your case are coming from the fact that you choose them randomly over a continuous interval. If you use a grid of 2 values for example and `num_samples=10` the result will be 10 trials with 5 for each of the two hyperparameter choices.

[2022-02-20 22:14] franklsf95 commented on #22485
I'm wondering if there's something deeper here. The microbenchmark program keeps putting 1MB objects into the object store, so there should always be new objects coming in, keeping the object store almost always full. The question is when a spill request is triggered, why would it ever not be able to find enough objects to bundle to spill? Are the spill requests being triggered too frequently? Sho

[2022-02-20 22:58] jdwillard19 commented on #3899
I get the same error when using
` ray.init(_temp_dir='./tmp/ray')`

[2022-02-20 23:22] jdwillard19 opened #22525 "[Bug] Can't set temp_dir, get permission errors"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

When I try to connect a worker node to a ray cluster started on a head node ([using the steps provided in this documentation](https://docs.ray.io/en/latest/configure.html#configuring-ray)) I ge

[2022-02-20 23:38] jdwillard19 commented on #22525
Fixed by adding _temp_dir to the initial

`ray start --head --port=6379 --temp-dir=~/tmp/ray`