[2022-08-18 01:12] Alxe1 commented on #27820
Yes, I  upgrade python to 3.7.10, it works.

[2022-08-18 01:19] #26945 closed

[2022-08-18 03:03] guodashun commented on #27895
Yeah, thank you, I think I've got the point.

[2022-08-18 03:03] #27895 closed

[2022-08-18 04:02] Wang-XR opened #27978 "What is the role of get_policy()? Why the result of trainer.get_policy().compute_single_action is different from trainer.compute_single_action ?"
### What happened + What you expected to happen

trainer = ppo.PPOTrainer(config=config, env=env)
(a).  trainer.get_policy().compute_single_action(obs,explore=False)
(b). trainer.compute_single_action(obs,explore=False)
I don't know why the results of (a) and (b) are different. What is the role of get_policy()?
I would appreciate it if you could help me.

### Versions / Dependencies

python 3.8

#

[2022-08-18 04:59] #27820 closed

[2022-08-18 07:31] ottofabian commented on #10999
Is there a manual workaround on how to do this for now?

[2022-08-18 09:30] sujit420 commented on #27905
does this code consumes multiple gpus in your system?

[2022-08-18 09:32] sujit420 commented on #27905
does this code consume multi GPU in your system?

[2022-08-18 10:25] olipinski commented on #27783
@richardliaw That sounds good, though wouldn't it create an issue, where if we do that, the reported params at the end of all trials will be incorrect? Since they have been by PB2 updated since the first log to MLflow?

[2022-08-18 12:34] BigBen12138 commented on #24051
Because `pip install ray` only install ray core and it will remind you that you should install ray[default]. :)

[2022-08-18 12:54] james811223ad commented on #27905
It does

[2022-08-18 13:22] cwfparsonson commented on #26364
I am also getting this error after upgrading torch to 1.12.1 and cuda to 11.6

python==3.9.7
ray==1.9.2
torch==1.12.1
cuda==11.6

[2022-08-18 13:45] OhadRubin commented on #25223
This would be a nice to have!
Thank you!

[2022-08-18 15:27] xwjiang2010 commented on #27783
@olipinski Yeah I think you have a valid point. Although I don't currently have a good answer to that.

Also a quick search shows multiple people run into the same issue apparently: https://github.com/ray-project/ray/issues/20473

A side note.. wandb seems to allow this scenario quite nicely. They even have a blog showcasing that: https://wandb.ai/wandb/DistHyperOpt/reports/Modern-Scalable-Hyperpa

[2022-08-18 15:29] Spartee commented on #24920
Looking for more pointers on using external redis storage as well.

[2022-08-18 16:06] jjyao commented on #27952
cc @rkooo567

[2022-08-18 16:10] jjyao opened #27985 "[Core] Ray object primary copy transfer"
### Description

Currently an idle node cannot be scaled down if it holds some primary copies of objects. This costs money and is confusing to users since they expect the scale down of the node. Ideally we should be able to automatically move the primary copy to a different place (e.g. object store of another node, external storage) so the node can be scaled down.

### Use case

_No response_

[2022-08-18 16:12] jjyao opened #27986 "[Autoscaler] Better observability into autoscaler decisions"
### Description

People sometimes find it's hard to figure out why autoscaler makes certain decisions (e.g. why it doesn't scale down a certain node), it would be nice if we can provide better information for people to understand the behavior of autoscaler.

### Use case

_No response_

[2022-08-18 16:18] cwfparsonson opened #27987 "[RLlib] check_gym_environments in rllib/utils/pre_checks/env.py cannot apply action masking which leads to invalid actions"
### What happened + What you expected to happen

After upgrading to `cuda==11.6`, I had the same `RolloutWorker` issue as reported in https://github.com/ray-project/ray/issues/26364. To fix this, I followed the advice of others on the issue and installed `ray==ray3.0.0dev`) (previously I had `ray==1.9.2`). This fixed the `RolloutWorker` issue.

However, my custom `gym` environment which previously

[2022-08-18 16:24] wuisawesome commented on #27986
We can add some information about whether the autoscaler believes a node is idle, but it's going to be up to the core.

I typically use a script like this to determine "why" a node is idle (which i believe is supposed to be covered by the ray core state observability apis), but it doesn't truly tell me why. It usually just says that object store memory is used, and it's very difficult to tell why

[2022-08-18 16:37] scv119 opened #27988 "[2.0][nighly-test] air_benchmark_torch_mnist_gpu_4x4 failed"
### What happened + What you expected to happen

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_mWECugke9RzMh79BZQqeykjN/clusters/ses_z2J1hZJwCkkA5FrshZjAkzwB?command-history-section=command_history

Please investigate

https://buildkite.com/ray-project/release-tests-branch/builds/918#0182af55-4285-4b71-afa1-77371a7d06ad

### Versions / Dependencies

releases/2.0.0

### Repr

[2022-08-18 16:39] scv119 opened #27989 "[2.0][nighly-test] air_benchmark_tune_torch_mnist_large_gpu failed"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/918#0182af55-42a2-4436-946f-1d56833a1217
https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_mWECugke9RzMh79BZQqeykjN/clusters/ses_s1YsfvyYLjPcXzw7b6GWfdU5

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me

[2022-08-18 16:55] xwjiang2010 commented on #27790
For completeness, there is also this discussion: https://discuss.ray.io/t/tune-resume-with-trying-older-checkpoints/4624/7

[2022-08-18 17:04] xwjiang2010 commented on #27989
[code]

This is the same as https://github.com/ray-project/ray/issues/27708

[2022-08-18 17:05] xwjiang2010 commented on #27988
[code]

[2022-08-18 17:13] matthewdeng commented on #27988
Works on retry

https://buildkite.com/ray-project/release-tests-branch/builds/918#0182b1d6-48a1-4709-ad66-b5c02b26dd84

[2022-08-18 17:13] #27988 closed

[2022-08-18 17:16] matthewdeng commented on #27989
Works on retry
https://buildkite.com/ray-project/release-tests-branch/builds/918#0182b1d5-d9a4-435e-957c-bf3c2c7bc84e

[2022-08-18 17:16] #27989 closed

[2022-08-18 17:38] peterghaddad commented on #27962
Hi @architkulkarni.

For gcs_server.out the only run_time related logs are:
[code]

dashboard_agent:
[code]

I'm not seeing any failures in the logs unfortunately.

I tried using ray 2.0.0rc, but looks like the JobSubmissionSdk may have changed? Is there updated documentation anywhere?

[2022-08-18 18:05] architkulkarni commented on #27962
Thanks for the details-- after more thinking, I believe the root cause is https://github.com/ray-project/ray/issues/24513, since I've seen similar errors before caused by this (random internal pip files missing).  This is fixed on the nightly wheels (and fixed in 2.0, you can try `2.0.0rc1` today).  Please let me know if you can confirm the issue goes away on a more recent version!

[2022-08-18 19:03] edoakes commented on #26784
@SongGuyang thanks for the writeup, apologize for the delay here we've been pushing very hard for the 2.0 branch cut.

The motivation for the change makes sense, but I have a few concerns about the existing API proposal:

- In general I don't like overloading behavior for the same syntax. Using the same `file://` prefix for all three use cases here is concerning, it makes it harder to understand (

[2022-08-18 21:17] bveeramani opened #28000 "[Core] Can't pickle objects defined in top-level environment"
### What happened + What you expected to happen

I tried to pickle an object. Got
[code]

See #27922 for motivation.

### Versions / Dependencies

Ray: c2ead88acae185fc7a83fadb722a4392dc0510f8

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-08-18 21:29] #27351 closed

[2022-08-18 22:03] bveeramani opened #28003 "[AIR] Torch `UserWarning` during training"
### What happened + What you expected to happen

I ran `TorchTrainer.fit` and got an unexpected warning:

### Versions / Dependencies

Ray: 7d981d6ced666a149049bf6887ba873c21979703

### Reproduction script

See "Training a Torch classifier" example.

### Issue Severity

Low: It annoys or frustrates me.

[2022-08-18 22:18] cadedaniel opened #28005 "[Ray submit] Cancellation of job submitted via `ray submit` does not cancel resource demands"
### What happened + What you expected to happen

I created a cluster on AWS and submitted a job which required several worker nodes. Before the job finishes, if I cancel it using ctrl+c, the job cancels (dashboard shows no CPU utilization) but `ray status` still shows resource demands.

Since the resource demands still exist, the autoscaler will repeatedly create new nodes, then remove them after

[2022-08-18 22:20] cadedaniel commented on #28005
I spoke with @wuisawesome about a simpler reproduction script using a mock cluster, but couldn't reproduce the issue! This makes me suspect `ray submit` instead of the scheduler.
[code]

[2022-08-18 22:36] matthewdeng commented on #28000
cc @suquark are you familiar with this?

Two workarounds:
1. Define the object in a separate file and import it.
2. Define the object directly in the function.

However, these are not very intuitive/comprehensive for Jupyter notebook users.

[2022-08-18 23:08] jianoaix commented on #17185
@shaileshcheke are you still on this or any thing blocking you?

[2022-08-18 23:46] #27690 closed

[2022-08-19 00:04] architkulkarni commented on #26784
Ed's proposal makes sense to me.  If we go with that, then in case (2) (files that already exist on every Ray cluster node) we should no longer include `localhost` in the URI, since it doesn't provide any additional information beyond `file://` (we would use `file://` exclusively in case (2), and use `http://` in case (3)).

[2022-08-19 00:41] shawnpanda opened #28007 "[Test][State Observability] Dashboard snapshot not returning during the serve_multi_deployment_1k_noop_replica test"
### What happened + What you expected to happen

Periodically getting this error when polling the Ray dashboard for a snapshot. Normally the data field contains the snapshot object. This error tends to be transient and the cluster may stop responding for awhile and then responding to the endpoint again.
Test: serve_multi_deployment_1k_noop_replica_1660833515

Endpoint is /api/snapshot.
Example clu

[2022-08-19 00:48] UgurKap opened #28008 "Making Find Address from Flag Public [Ray Core]"
### Description

Hello, in my case I am using the Ray cluster on a local machine. In my script, I want to check if there is an already existing cluster, and if not start a cluster. I noticed it is possible to use the private API to do this;

`ray._private.services._find_address_from_flag("--gcs-address")`

and then checking the return value. It would be nice to create a public API method to do thi

[2022-08-19 00:59] simon-mo commented on #24920
Hi @Spartee can you expand more about your use case?

[2022-08-19 01:34] Spartee commented on #24920
Well I've seen

- [External Redis Server Issue](https://github.com/ray-project/ray/issues/13453)
- [External Redis Server PR](https://github.com/ray-project/ray/pull/13170)
- [RFC for external Redis Server](https://docs.google.com/document/d/1hM6w4FYhfZVOP_CrWY9PNNPDuW_qe5SgPbCIQt3t_M8/edit#heading=h.luwkx6tnsocp)

I'm particularly interested in HA implementations of Ray Serve with external Redis

[2022-08-19 01:49] simon-mo commented on #24920
ah yes. there is a recently support for this feature implemented in the cluster manager layer: https://ray-project.github.io/kuberay/guidance/gcs-ft/

[2022-08-19 01:54] shawnpanda commented on #27813
I am noticing the same failure for the `long_running_many_ppo_1660801565` test. One thing that stood out for me is that in my head node cpu usage monitoring, ray_container gets up to 55% of the CPU while promtail_container's cpu trends up over time up to 40% so that the entire head node cpu is being used up.

<img width="592" alt="Screen Shot 2022-08-18 at 6 53 36 PM" src="https://user-images.gith

[2022-08-19 02:27] WangTaoTheTonic commented on #27740
I'll try to fix it.

[2022-08-19 02:32] WangTaoTheTonic commented on #24721
PR merged, closing this.

[2022-08-19 02:32] #24721 closed

[2022-08-19 03:11] Spartee commented on #24920
@simon-mo perfect. Exactly what I was looking for. Thank you.

[2022-08-19 04:22] Alxe1 commented on #27938
Thank you, I will try it.

[2022-08-19 04:54] sridharbalachandriah commented on #27729
@xwjiang2010,
The dataset resides on a remote distributed store, accessible across nodes. I was not aware of tune.with_parameters(), Does tune-with-parameters push the data into one of the node store(example: head) and then the worker node will have to retrieve the data through head node object store. (using the fast ethernet)?

[2022-08-19 06:26] jinfagang opened #28010 "[Graph] any exmaples on how to execute a DAG graph?"
### Description

DAG eseentially a series of models, among them maybe some are sequencial, some can be multi-processing.

Does there anyway (examples) to construct these DAGs and using ray for inference?

so that ray can automatically dispatch them in a multiple processing way/

### Use case

DAG eseentially a series of models, among them maybe some are sequencial, some can be multi-processing.

D

[2022-08-19 06:56] SongGuyang commented on #26784
"file:///local/path/to/dir" and "/local/path/to/dir" are same in the standard of file protocol. In your suggestion, the final use case is:
[code]
I think it is also a bit confusing for users.

@iycheng What do you think?

[2022-08-19 07:39] jjyao commented on #28008
Are you using `ray.init()` to create the local cluster or `ray start`?

[2022-08-19 09:16] GuillaumeDesforges opened #28012 "[Autoscaler] Assigning None to optional keys leads to failure"
### What happened + What you expected to happen

When calling `ray.autoscaler.sdk.create_or_update_cluster`:
[code]
when there should be no TypeError

### Versions / Dependencies

ray 1.13.0

### Reproduction script

- Take the same cluster config in any example (e.g. azure full), specify `setup_commands` to None.
- In Python, call `ray.autoscaler.sdk.create_or_update_cluster` with this dict.

###

[2022-08-19 09:32] GuillaumeDesforges commented on #28012
Should be fixed by something like

[code]

[2022-08-19 09:41] GuillaumeDesforges commented on #28012
In my case, I'm using pydantic to generate a Python model of the config from the schema in the ray repo, and passed `.dict()` result to `create_or_update_cluster` .

I worked around it using `.dict(exclude_none=True)`

[2022-08-19 10:42] zqabc opened #28015 "[Core] Support retry_delay option in Ray tasks"
### Description

In practice, some tasks may have to wait a while before they can be retried instead of retrying right away. Can you have a parameter similar to **retry_delay** to control it?

### Use case

[code]

[2022-08-19 11:00] acxz commented on #19116
@pcmoritz this issue seems to be prematurely closed with only partial support for 3.10 can be open it up again until #21221 is merged in?

[2022-08-19 11:49] Arturx47 commented on #24917
it is still reproducing on grpcio 1.47.0 ....i can confirm

[2022-08-19 13:18] Ahleroy commented on #27317
Related to #27913

[2022-08-19 14:18] UgurKap commented on #28008
As ray.init() shuts down the cluster after script runs, I am running ray start from inside the script if there are no clusters available. (i.e. os.system("ray start --head"))

[2022-08-19 15:50] jjyao commented on #28015
Could you give a concrete example of why `retry_delay` is needed?

[2022-08-19 16:39] architkulkarni commented on #28010
Hi @jinfagang, Ray Seve provides a [Deployment Graph API](https://docs.ray.io/en/master/serve/key-concepts.html#deployment-graph), is this what you're looking for?

[2022-08-19 17:01] xwjiang2010 commented on #27493
Another report:
https://github.com/Lightning-AI/lightning/issues/14292

cc @amogkam

[2022-08-19 18:08] suquark commented on #27800
I am also pro for this feature: especially during debugging and error handling, it is hard to associate the actor_id with the actor method failure automatically, because we do not know where the error could be raised beforehand. This is actually an observability issue.

Also, `RayActorError` did provide `actor_id` if the actor crashes, it is a bit strange that `actor_id` is not given when there is

[2022-08-19 18:13] suquark commented on #28000
@matthewdeng this is a well-known limitation of the python pickle library (and we cannot do too much to it, since it is in the standard library).  I believe cloudpickle could address this issue.

[2022-08-19 18:33] suquark opened #28018 "[Core] Provide actor ID in exception cause and message when an actor method failed"
### Description

This is a follow up of https://github.com/ray-project/ray/issues/27800, because the issue is actually a bit different.

During debugging and error handling, it is hard to associate the `actor_id` with the actor method failure automatically, because we do not know where the error could be raised beforehand. This is actually an observability issue (we see a failure message in the lo

[2022-08-19 20:33] jianoaix opened #28019 "[Dashboard] Ray 1.13.1 cannot start dashboard with grpc version 1.29.0"
The 1.13.1 release set the required grpc version to be "grpcio >= 1.28.1, <= 1.43.0". However, A user who's running on 1.13.1 with grpc version 1.29.0 got the following error when they try to start Ray cluster:
[code]
It appears the Dashboard is requiring a different grpc version than the rest of Ray.

cc @scv119

[2022-08-19 20:44] scv119 commented on #28019
@alanwguo seems an issue with dashboard. are you the right owner of the problem? we could either fix the dashboard, or change the grpcio requirement.

[2022-08-19 21:06] alanwguo commented on #28019
@jianoaix , what version of python are you using? This might be related to https://github.com/ray-project/ray/pull/27269

[2022-08-19 21:32] jianoaix commented on #28019
@alanwguo python 3.6.

[2022-08-19 22:07] scv119 opened #28022 "[Core] update the Ray core scalability envelop"
### What happened + What you expected to happen

we need to update the envelop for 2.0.0

### Versions / Dependencies

latest

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-19 22:48] peytondmurray opened #28023 "[Dashboard] Failure to build for `node>=v17`"
### What happened + What you expected to happen

The Ray dashboard fails to build with newer versions of Ray - `v16.17.0` is the version I'm currently using to successfully build the dashboard, but I've tried with later versions without success. Here's the error:

[code]

It seems like this is an issue with webpack, and it might only be a matter of upgrading `react-scripts` - see https://github.co

[2022-08-19 23:49] architkulkarni commented on #26784
I think I like this approach the best, it's unambiguous and it also allows us to gracefully deprecate the existing usage of `file:///` because there would no longer be any backwards incompatibility.  @edoakes what do you think?

[2022-08-20 03:44] DmitriGekhtman opened #28029 "[Telemetry][Kubernetes] Detect Kubernetes deployment strategy"
### Description

Currently Ray telemetry can detect whether or not a user is using Kubernetes.

We should aim for finer-grained logic detecting what mechanism the user is using deploy on K8s.
A binary "KubeRay >0.3.0" or not would be a start.
The implementation could just use an env variable, `KUBERAY==1` injected into Ray containers.

### Use case

Usage metrics for the Ray maintainers.

[2022-08-20 09:07] ARDivekar commented on #3899
This issue should be reopened, I am also getting this issue with ray 1.13.0.

The param `_temp_dir` is ignored when calling `ray.init()` from an Amazon EC2 machine.

Setup:
- Creating a single ray cluster for all users on the machine, using sudo
- As a non-sudo user, trying to connect to this cluster using `ray.init(address='auto', ignore_reinit_error=True, _temp_dir='/home/adivekar/tmp/')`

Error

[2022-08-20 09:12] ARDivekar commented on #3899
I can get around this by using `chmod 777 -R /tmp/ray/*` but I feel like I really should not have to.

[2022-08-20 09:50] jinfagang commented on #28010
@architkulkarni Hi, actually am not serving it thought https.

What am looking for is just make my multiple models in a DAG and using ray to dispatch them in maximum multiple-processing way.

I don't want anything related about https since it will effect maximum efficiency. Does there any more pure && efficient way to make a DAG and then using it to run in ray?

To be specific, my model like this:

[2022-08-20 10:40] rwlrwlrwlrwl commented on #28015
This typically occurs when a single task needs to request external resources, such as

1. The database connection times out, which may be due to network congestion. The network will be restored after a period of time.
2. Apply for limited resources in the task. If you do not apply for them, you may have them later.
3. Of course, external resources won't allow you to try again indefinitely, so it's

[2022-08-20 14:15] xwjiang2010 commented on #27729
@sridharbalachandriah Thanks for the response.
`tune.with_parameters()` is useful when you have data on head node and would want other nodes to have access to it through object store.

For your case, I think the correct way of doing it is to implement a custom `ray.data.dataset` DataSource. https://docs.ray.io/en/latest/_modules/ray/data/datasource/datasource.html

You can then first load your cus

[2022-08-20 14:16] xwjiang2010 commented on #27729
@jianoaix @clarkzinzow

[2022-08-20 14:33] theophilee opened #28033 "RLlib"
### What happened + What you expected to happen

I'm trying to train DDPPO with an environment that needs to run on GPU.
When setting `remote_worker_envs = True`, the remote environments don't run on GPU although `num_gpus_per_worker = 1`.
I would expect the environments to run on GPU.

### Versions / Dependencies

ray 2.0.0rc0
Python 3.7
Ubuntu 20.04

### Reproduction script

[code]

[2022-08-20 17:55] jianoaix commented on #27729
@sridharbalachandriah can you make you repro script runnable? Or even better, make it minimum. It's not clear to me how the current repro script map to what you described in What Happened. Thanks.

[2022-08-20 19:11] polyzer commented on #10448
Hello! Have same problem with PPOTrainer with
`use_lstm=True`

[2022-08-21 02:48] DmitriGekhtman opened #28036 "[Kubernetes][Autoscaler] Solidify interaction between Autoscaler and KubeRay operator"
### Description

In the current implementation of the Autoscaler/KubeRay operator integration, there are gaps that can allow for race conditions.

Here's one possible idea for how an autoscaler update could look (we might need a bit of design discussion here):

1. Make a single K8s API read query (list pods).
2. Compute the desired scale change.
3. Make a single K8s write request (patch RayCluster

[2022-08-21 11:45] mirekphd commented on #4269
Note that the argument name has changed to `ray.init(include_dashboardi=True)` and the intuitive `pip install ray` will _not_ install Ray Dashboard (one needs to use `pip install ray[default]` instead).

[2022-08-21 14:05] QiTianyu-0403 opened #28038 "[core] ray stop --force doesn't kill processes on worker node"
### What happened + What you expected to happen

I set up a Ray cluster with multiple virtual machines. When I want to terminate the cluster, I try `ray stop`. But it tells me that some Ray processes cannot be terminated. So I try `ray stop --force`. However, the error is still reported. The error results are as follows:
[code]
Now I don't know how to kill these processes.

### Versions / Dependen

[2022-08-21 17:08] mattip opened #28039 "[CI] [core] `linux://python/ray/tests:test_cli` is failing/flaky on master."
- 227aef381a605cb1ebccbba4e84b840634196a35 FAILED [Buildkite :python: (Large)](https://buildkite.com/ray-project/ray-builders-branch/builds/9602#0182bd5b-f9cc-43e3-a133-f0eb1df3dcee)
- 227aef381a605cb1ebccbba4e84b840634196a35 FAILED [Buildkite :redis: (External Redis) (Large)](https://buildkite.com/ray-project/ray-builders-branch/builds/9602#0182bd5b-f9dd-4fd2-8cd1-2a12a604488e)
- 11c9b1779d475f6f

[2022-08-21 23:30] DmitriGekhtman commented on #26599
There is no benefit to parallelizing on a single machine using minikube.
The idea is that, for large datasets, you can train quickly by parallelizing across several machines.

[2022-08-22 03:36] ofey404 opened #28042 "[Core] Example is broken: `ray.runtime_context.get_runtime_context()`"
### Description

[Link](https://docs.ray.io/en/latest/ray-core/package-ref.html)

The example of `ray.runtime_context.get_runtime_context()` is garbled:

![image](https://user-images.githubusercontent.com/35857538/185833564-43f35b75-f46c-4e4c-8ad7-d88d62c55bed.png)

### Link

[source code section](https://docs.ray.io/en/latest/_modules/ray/runtime_context.html#get_runtime_context)

[2022-08-22 03:40] ofey404 commented on #28042
I can fix it, but I am not sure how to build the documentation locally.

[2022-08-22 03:46] richardliaw commented on #28042
How about try just pushing a draft PR? We have a builder that runs on CI and you can view it after pushing

[2022-08-22 03:48] sridharbalachandriah commented on #27729
@xwjiang2010 ,
I have an experimental distributed store accessible to all the ray cluster nodes. I dont want the worker nodes in the cluster to go to the head node to fetch the data. The object access through the fast Ethernet does not suffice the needs. Is it possible to switch the network configuration for this object access across nodes in Ray for Plasma?.

@jianoaix ,
 At the moment I cannot h

[2022-08-22 05:23] mattip commented on #28039
The error is that moto (the boto3 mocking package) does [not have `describe_images`](https://github.com/spulec/moto/blob/master/IMPLEMENTATION_COVERAGE.md#ec2) for ec2 instances, so I wonder how this ever worked?
[code]

[2022-08-22 06:08] KepingYan commented on #26825
Maybe, I set a large number for ulimit to avoid this problem. Thx.

[2022-08-22 06:08] #26825 closed

[2022-08-22 06:13] matthewdeng commented on #28042
Hey @ofey404, looks like this was already fixed in [master](https://docs.ray.io/en/master/ray-core/package-ref.html#runtime-context-apis) by #25006!

[2022-08-22 06:13] #28042 closed

[2022-08-22 07:37] lucasjinreal opened #28044 "[ray] model in onnxruntime runing with OMP doesn't work in ray"
### What happened + What you expected to happen

I have a model running in onnxruntime, when locally, multi-thead model runs faster than single-thread model,

but in ray, it was the same ,how could this possible?

### Versions / Dependencies

I have a model running in onnxruntime, when locally, multi-thead model runs faster than single-thread model,

but in ray, it was the same ,how could this pos

[2022-08-22 07:45] matthewdeng commented on #28044
Hey @jinfagang, I'm not familiar with onnxruntime but one possibility is that the number of threads is being limited by the `OMP_NUM_THREADS` environment variable, which Ray currently defaults to 1.

See the note in [this section](https://docs.ray.io/en/latest/ray-core/configure.html#cluster-resources).

[2022-08-22 07:48] jinfagang commented on #28044
@matthewdeng Hi, I manually set that env to 8 already. Didn't work. My local inference (out of ray) works as expected.

[2022-08-22 07:50] jinfagang commented on #28044
@matthewdeng also, the num_cpus is CPU physic number or core number? How does a machine can have 8 cpus and 1 gpus?

[2022-08-22 08:40] ofey404 commented on #28042
Thank you for the attention!

[2022-08-22 10:09] LinWencong opened #28045 "[tune] when using the tune.qrandint, I can not get the upper bound in tune.run and I found that the value range is out of bounds."
### What happened + What you expected to happen

when i run :

[code]
i got following:
+--------------------+------------+-----------------+-----+-----+
| Trial name         | status     | loc             |   a |   b |
|--------------------+------------+-----------------+-----+-----|
| lambda_87b36_00000 | TERMINATED | 127.0.0.1:96387 |   6 |   2 |
| lambda_87b36_00001 | TERMINATED | 127.0.0.1:963

[2022-08-22 11:46] LinWencong commented on #28045
sample.py  line 521
[code]
The specific implementation is as above.
Would you mind telling me if this needs to be explained in the documentation; or if there is a bug in the documentation? 😁

[2022-08-22 13:41] rgiacomin opened #28047 "[Core] Memory leak (?) with no activity"
### What happened + What you expected to happen

In my current development environment, I am experiencing an increasing memory usage. Because it is a dev environment, I am always starting and stopping drivers and remote actors... I've seen some issues/bugs related to memory leaks (either because of the dashboard or because remove functions and actors definitions are not gc'ed). To validate if thes

[2022-08-22 16:12] robfitzgerald commented on #25938
this also happens for me, leaving a note here for anyone else digging for answers.

while PR #14653 exposes similar errors that led to a fix in PR #14765, it appears that PR did not address line 950. however, the current state of things on master shows a more thorough refactor of the simple_list_collector which includes a [friendly error message](https://github.com/ray-project/ray/blob/acf2bf9b2fa

[2022-08-22 16:25] robfitzgerald opened #28048 "[RLlib] PolicyServerInput with/without cloudpickle"
### Description

PolicyServerInput should be configurable to use either JSON or cloudpickle when receiving messages from some client.

### Use case

Simply put, this would expand the external client integration list from "just Python" to any language via using a standard such as JSON.

In my case, I use RLlib as an external server and [call it](https://github.com/robfitzgerald/routing-testbed/tree

[2022-08-22 16:41] #27822 closed

[2022-08-22 18:41] jayelm commented on #2777
@RylanSchaeffer  did you try it out?

[2022-08-22 19:09] RylanSchaeffer commented on #2777
Hey Jesse 😄

I can't remember. If I did, that code is owned by the company I was working for at the time and I no longer have access.

[2022-08-22 19:09] mihajenko commented on #28047
@rgiacomin You said you did not start the dashboard. Can you go a bit more into how you did that? AFAIK on ray 1.13.0 you can't really turn off all dashboard processes, unless you kill them. The ray start flag `--include-dashboard=false` only turns off the frontend app.

[2022-08-22 19:41] xwjiang2010 commented on #28044
@jinfagang do you have a repro script that I can try?
Also notice that `num_cpus` is just for resource accounting - it does not offer any kind of resource isolation.
Can you make sure that in the ray actor/task when you print `OMP_NUM_THREADS`, the output is larger than 1?

[2022-08-22 19:49] ericl opened #28051 "Add warning when task backlog is too large"
## Issue

When tasks are submitted that reference large input objects, this can lead to a huge amount of object store memory usage. We should warn the user when this is happening (similar to how we warn when actors have a large backlog of calls).

## Reproduction
The following example uses a huge amount of object store memory and will spill. The fix is to move the ray.get() into the loop, to avoid

[2022-08-22 21:29] DmitriGekhtman commented on #27910
@krfricke do you think it could be connected to https://github.com/ray-project/ray/issues/24259

[2022-08-22 21:59] rkooo567 opened #28055 "[Core] Document Python type checking best practices"
### Description

Document Python type checking best practices. It is important for mature and stable codebases

cc @jjyao

### Link

_No response_

[2022-08-22 22:11] Spartee commented on #23171
@dynamicwebpaige I adapted the above example, put together by @dmatrix, to use Redis for my lightning talk at Ray Summit this wednesday. We are going to put more into this over time. Was hoping to get the HA Ray Cluster implementation running with RedisE, but only recently found the KubeRay docs (thanks to @simon-mo). We will get that going after the Summit however.

Codebase is here: https://gith

[2022-08-22 22:17] rgiacomin commented on #28047
I did not know that --include-dashboard=false only disables the front-end. I did not do anything other than setting this flag.
What are the chances that bug [fix](https://github.com/ray-project/ray/issues/22027) will solve this issue?

[2022-08-22 22:55] davejscott opened #28057 "[<Ray component: Core|Cluster>] Documentation instructions for mounting AWS EFS Fails for Ray Cluster"
### What happened + What you expected to happen

Following this documentation page: https://docs.ray.io/en/latest/cluster/aws-tips.html#

I'm trying to mount an EFS to a ray cluster. When I follow the documentation instructions above, I'm not able to mount an EFS directory. The expected behaviour is the ability to mount an EFS drive and utilize it. I utilized the following documentation from AWS t

[2022-08-22 22:56] davejscott commented on #28057
@DmitriGekhtman tagging you here for this particular bug.

[2022-08-22 22:58] Michaelvll opened #28058 "[Job] Leakage of `_monitor_job` corountine hanging the dashboard"
### What happened + What you expected to happen

### Background
I submitted many jobs with ray job submit and those jobs were correctly finished, but at some point, `ray job list --address=http://127.0.0.1:8265/` fails to connect to the dashboard process and hangs at python/ray/dashboard/modules/job/sdk.py::212, i.e. trying to connect with the dashboard with requests.

### Debugging
I used the fol

[2022-08-22 23:00] rkooo567 commented on #28058
So, the high level thing you are doing is

Submit 20 jobs -> keep calling ray jobs list -> Submit another 20 in 10 minutes

For the workload, is it actor-based or task based? Also how many actors do you usually create?

[2022-08-22 23:58] SongGuyang commented on #26784
@edoakes @iycheng @architkulkarni can we finalize this as soon as possible?

[2022-08-23 03:36] jovany-wang opened #28060 "[Java] Make ObjectRefImpl be accessed in package"
### Description

We have users create a ObjectRef by a given object id, which causes a wrong reference count and crashes worker.
This behavior is not allowed.

### Link

_No response_

[2022-08-23 04:31] Alxe1 opened #28061 "[train] Running ray cluster sometimes get 0 metrics when training dataset"
### What happened + What you expected to happen

I run my code with ray cluster successfully,  but it somtimes get 0 result using auc metrics:
[code]

I don't understand why it gets that result, and how can I deal with it.

### Versions / Dependencies

ray: 1.13.0
pyarrow: 9.0.0
tensorflow: 2.3.0
python: 3.7.10

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-08-23 05:18] xwjiang2010 commented on #28061
Smells like some type casting issues. Can you make sure that `to_df2` is generating tf tensor correctly? Is the output label having the correct type?

[2022-08-23 05:24] jinfagang commented on #28044
@xwjiang2010 the model is huge, hard to share it, does ray anywhere will limit cpu cores? what do u mean by `num_cpus` just for resource accounting? If that is limited cpu cores, then onnxrumtime unable to get more than 1 core at all. But I didn't set it at all. (I suppose num_cpus is the physic cpus in machine_

[2022-08-23 05:42] mihajenko commented on #28047
@rgiacomin I documented the same issue as you in #26568. Until the fix is verified, we developed a workaround: periodically restart the dashboard process using info from `/proc/$PID/cmdline`. We notice logging is broken, but node resource gauges are OK.

[2022-08-23 06:07] Alxe1 commented on #28061
Yes, and I test it, the convert code is in follow:
[code]

[2022-08-23 06:18] ladyluk opened #28062 "[<Ray component: Core|RLlib|etc...>]"
### What happened + What you expected to happen

When running [BayesOpt example from the RayTune site](https://docs.ray.io/en/releases-1.13.0/tune/examples/bayesopt_example.html), the tuning job terminates at trial 11 even though we expect it to run for 1000 trials. I was able to reproduce this with Ray 1.13.0 and Ray 2.0.0 I also tried the latest bayesian optimization library from [#366](https://

[2022-08-23 06:24] ladyluk opened #28063 "Ray[Tune] BayesOpt fails to evaluate more than 11 trials"
### What happened + What you expected to happen

I was running BayesOpt with ASHA, MSR, FIFO and Hyperband for a project and the tuning jobs would all stop around the 10th-11th training jobs. I tried to verify my code by running the [BayesOpt example from the RayTune site](https://docs.ray.io/en/releases-1.13.0/tune/examples/bayesopt_example.html). The example tuning job from the RayTune site also

[2022-08-23 07:12] zhaichenhao1889 commented on #26630
I solve this problem by add NCCL_SOCKET_IFNAME environment. detail for https://pytorch.org/docs/stable/distributed.html

[2022-08-23 08:30] olipinski commented on #27783
@xwjiang2010 Oh, I have not seen the other issues.

Thanks for the wandb tip, I'll have a look if it is possible to integrate with my code!

And yes, it does seem to be an mlflow restriction, which means that the most that we could do in ray is the workaround, even if it means the params logged are incorrect. At least that way, the metrics will still be fine.

[2022-08-23 10:02] ElifCerenGok commented on #27646
Hi, I have Windows and I am using Anaconda and would like to install ray to my current environment but it keeps  giving me this error:
[code]
I have created a new environment and tried to install it again but it didn't work. Could you please help me with this one ?

[2022-08-23 10:06] mattip commented on #27646
Not connected to this issue, but note how I installed ray [above](https://github.com/ray-project/ray/issues/27646#issuecomment-1212004336). You must use pip, there is no ray conda package yet.

[2022-08-23 10:22] ElifCerenGok commented on #27646
@mattip sorry couldn't find an appropriate issue for this one but followed your solution and it worked, thank you so much! =)

[2022-08-23 10:34] mattip commented on #27646
Perhaps my use of "must" is a bit extreme, there are [conda packages](https://anaconda.org/conda-forge/ray-core) just none yet for python3.10+ and ray 1.13+

[2022-08-23 10:50] mirekphd opened #28064 "Ray cannot access GPUs under a non-root user (failed access of ray.init() to root-owned `/proc/driver/nvidia/gpus`)"
### What happened + What you expected to happen

I wanted to run `ray.init()` in a Jupyter Notebook under security-hardened Openshift 3.11 (on RHEL 7.x) on a node with GPUs. The python script was previously tested to work fine on a dev server under plain docker (on Centos Stream 8) on a machine without any GPUs (with default docker capabilities but custom UID).

Error message:
[code]

Expected:
Re

[2022-08-23 12:34] acxz commented on #8496
@annaprok sorry I never got the time to visit this again, I haven't been using rllib with my research lately so this issue is very low on my radar. I'd suggest opening up another issue to get better visibility than commenting on a closed issue.

[2022-08-23 12:42] tanmaychimurkar commented on #8610
@NumberChiffre Thanks for your response. I am also facing the same issue, but instead of Celery, I am using Apache Airflow: https://airflow.apache.org/docs/apache-airflow/stable/index.html

My whole training pipeline in Ray rllib is working correctly without the Airflow integration, but with Airflow I am facing the same issue as mentioned by @terodea. Any idea on how I can solve this issue with Ap

[2022-08-23 14:40] rueian commented on #27953
Just for reference, here is an example implementation I currently used

https://gist.github.com/rueian/6cf8f6ef1f13bada90ac8ae92088f0ae

[2022-08-23 14:46] Manuscrit opened #28066 "[RLLib] policy.set_global_vars not called in train_one_step and multi_gpu_train_one_step function (not the classes)"
### What happened + What you expected to happen

`Worker.set_global_vars()` is not called when using `Trainer.training_iteration()` instead of `Trainer.execution_plan()`. This breaks schedulers (entropy, LR, exploration, ?).

### Versions / Dependencies

MacOS
ray==1.12.1
torch==1.13.0.dev20220529

### Reproduction script

Temporary fix:

[code]

### Issue Severity

Medium: It is a significant dif

[2022-08-23 15:26] awaelchli commented on #27493
Hi, I replied on the [linked issue ](https://github.com/Lightning-AI/lightning/issues/14292) on PL side with this proposal:

[2022-08-23 16:22] merrysailor commented on #24969
Hi,

A quick update. While I get this very consistently in the presence of GCP preemptions, I still haven't been able to replicate it otherwise: I have tried killing various ray 'worker' processes in different ways, but none seems to trigger the issue so far. So, still trying to work out what makes preemptions unique. I have been using Ray 2.0.0 released today. Something to note is that the 'hang'

[2022-08-23 16:48] EmmettBicker opened #28069 "RLlib SACTrainer config doesn't let me specify "conv_filters""
### What happened + What you expected to happen

1. When I put my config into the SACTrainer it tells me to specify the parameter "conv_filters" even though I have put it in the dictionary

My code:

[code]

[code]
The error is given as:

[code]
2. I thought the trainer would accept my parameter that I inputted but it does not

3. N/A

### Versions / Dependencies

numpy==1.22.4
gym==0.21.0
ray==1.

[2022-08-23 16:49] EmmettBicker commented on #28069
There's a decent chance I'm just doing something wrong but it looks a lot like a bug

[2022-08-23 16:49] #28069 closed

[2022-08-23 18:52] krfricke commented on #28063
Hi @ladyluk,

TLDR: set `random_search_steps` to something higher, or consider using a harder problem.

BayesOpt internally fits a gaussian process in order to generate new trial configurations. Your search space is very small, so it converges pretty fast to an optimal result (height = -100 and width = 20). After that, it just samples the same (optimal) configuration again and again - and those du

[2022-08-23 18:59] joshua-cogliati-inl opened #28071 "[Core] Ray may hang if workers fail to start due to limited ports"
### What happened + What you expected to happen

1. If `--min-worker-port` and `--max-worker-port` are used on a cluster, ray stops running any remote functions.
2. ray would be able to find a node that has an available port and port and run on it. (As in the sample given below, I am asking for 4 remotes to run on 6 nodes and have given each node 8 ports, and the run completely stops.) See #27499

[2022-08-23 19:11] nileshsuri commented on #21994
I have the same issue. It really should not be closed.
On a windows 11 pc.
I installed ray using pip install ray[rllib]

ray version: 2.0.0
python version: 3.9.13

in python this error can be easily reproduced by just the following two lines.

import ray
ray.init()

Calling ray.init() causes the OSError: [Errno 0] AssignProcessToJobObject() failed.

[2022-08-23 19:37] joshua-cogliati-inl commented on #28071
Note that there does not seem to be a way to get the 'ray::IDLE' to finish.
For example, I delete the futures after getting the data:
[code]
and get this output:
[code]
and this ps grep 'ray::' output:
[code]
As in there is only one remote waiting to complete, but ray is unable to complete it because it is blocked by ray futures that have already returned and been deleted.

[2022-08-23 19:50] joshua-cogliati-inl commented on #28071
Oddly enough, if I increase the range to 10 `futures = [f.remote(i) for i in range(10)]`
it is able to run a second batch of 3, but it still fails to finish.

[code]

[2022-08-23 20:50] architkulkarni commented on #28010
You can use Ray Serve without using HTTP, simply calling your models using Python handles as in the example I linked above.  Specifically, you can set `HTTPOptions` to  `"NoServer"` to disable the HTTP server: https://docs.ray.io/en/latest/serve/package-ref.html

[2022-08-23 20:50] joshua-cogliati-inl commented on #28071
I tried with `futures = [f.remote(i) for i in range(20)]` and it finished the first 16:
[code]
but then eventually died with:
[code]
Oddly enough, I was able to run a different ray_test.py (with size 4) at the same time that finished.

[2022-08-23 21:03] edoakes commented on #26784
@architkulkarni isn't the existing behavior for `file://` the exact same as the proposed `cluster_file://`? If that's the case, I would prefer to avoid API churn for a very minor clarification.

[2022-08-23 21:20] joshua-cogliati-inl commented on #28071
`ray start --head --num-cpus=2 --port=0 --min-worker-port 10002 --max-worker-port 10010` without running ray start on remote nodes works fine.

`ray start --head --num-cpus=4 --port=0 --min-worker-port 12002 --max-worker-port 12003` had a lot of warnings but finished:
[code]
so the problem seems to only occur when using remote ray running.

[2022-08-23 21:25] architkulkarni commented on #26784
@edoakes and I synced offline, we agree that the example
[code]
is best. For `file://` we should continue to support `.zip` files as it currently does, and we just need to add the functionality to support non-zipped directories.  My concern about backwards compatibility earlier was unfounded because we aren't actually breaking backwards compatibility with this approach.

The downside, as @SongGuya

[2022-08-23 21:46] mattip commented on #21994
Thanks for the info. Reopening.

[2022-08-23 21:56] mattip commented on #21994
@nileshsuri I cannot reproduce that failure, so there must be some characteristic that all the reporters share but that the CI and developers do not. Is there anything unique about your system? For instance, how did you install python, do you have any `PYTHON*` environment variables set? Is your machine particularly powerful or resource-starved?

[2022-08-23 22:16] spolcyn commented on #25817
+1, this is also an issue we've encountered

[2022-08-24 02:41] jinfagang commented on #28010
@architkulkarni hi, how could I disable and enable customized method like RPC further?

[2022-08-24 03:17] csaimd opened #28074 "[Core] ray get the memory used in wrong method"
### What happened + What you expected to happen

python file: /ray/python/_private/utils.py
### def get_used_memory():
    """Return the currently used system memory in bytes
    Returns:
        The total amount of used memory
    """
    # Try to accurately figure out the memory usage if we are in a docker
    # container.
    docker_usage = None
    # For cgroups v1:
    memory_usage_filename =

[2022-08-24 04:21] JoonHong-Kim opened #28075 "[Cluster] I wanna default"
### Description

In my case, I'm using aws ap-northease region, but there is no default DEFAULT_AMI in [here](https://github.com/ray-project/ray/blob/eb9c5d8fa70b1c360b821f82c7697e39ef94b25e/python/ray/autoscaler/_private/aws/config.py) I recommend input all region ami-defualt

### Use case

_No response_

[2022-08-24 05:13] #28022 closed

[2022-08-24 05:41] mattip commented on #21994
`start_ray_process` does use the `CREATE_SUSPENDED` flag [here](https://github.com/ray-project/ray/blob/56e7800e0b30fa28b40e10285a7bef3bed111edb/python/ray/_private/services.py#L803) when fate sharing is used. I wonder if somehow the fateshare detection is failing after [calling `CreateJobObject`](https://github.com/ray-project/ray/blob/56e7800e0b30fa28b40e10285a7bef3bed111edb/python/ray/_private/

[2022-08-24 06:09] xwjiang2010 commented on #28062
Is the question the same as https://github.com/ray-project/ray/issues/28063?

[2022-08-24 06:09] #28062 closed

[2022-08-24 06:22] VERISBABY opened #28076 "Working flexible with pickle & cPickle."
### Description

A python function of mine uses **cPickle, pickle & mysql.connector** to manipulate data. I want to apply ray to optimize & distribute this process. But it seems that ray doesn't work with pickle, cPickle.
This error & traceback showed up:
`TypeError: cannot pickle '_tkinter.tkapp' object`
...
`TypeError: Could not serialize the function loginn. Check https://docs.ray.io/en/master/

[2022-08-24 08:39] SongGuyang commented on #26784
OK. I will follow the API:
[code]

[2022-08-24 09:00] kfstorm commented on #27863
I think `idle workers == num CPUs not in use` is the ideal strategy. The implementation should be straightforward: just read the CPU resource available locally on each idle-worker-killing tick.

One thing that bothers me is, if the tasks are with `num_cpus=0.1` rather than `num_cpus=1`, the new killing strategy would be still too aggressive. But I think this is not what we are trying to address in

[2022-08-24 09:23] mirekphd commented on #28064
As a tangent issue I think that it should be also possible to *prevent Ray from making any GPU properties checks* using a flag that disables GPUs (sets their desired number to zero).

Currently both server startup options [1] do *not* prevent Ray from trying to access the root-owned folder (`/proc/driver/nvidia/gpus`), and cause an error to be wrongly reported, because setting the number of GPUs i

[2022-08-24 09:50] fyrestone commented on #27863
Is the problem only occurred when actor `num_cpus=0`? In my code, the actor does not set the `num_cpus` which should be 1 by default.

[2022-08-24 10:19] kfstorm commented on #27863
I just found that we don't need to set `num_cpus=0` on actors in the repro script. I guess for actors, there are "placement resources" and "resources". When an actor doesn't run any actor tasks, it doesn't occupy any resources.

[2022-08-24 10:44] kfstorm opened #28080 "[Core] Quicker exception propagation when there is an exception in task args"
### Description

Let's assume that a task has multiple input arguments, all of them are outputs from other tasks. the input tasks are slow, and one of them fails by throwing a user-level exception. Ray is able to detect the failure in input tasks and reject executing the dependent task by re-throwing the exception. https://github.com/ray-project/ray/blob/56e7800e0b30fa28b40e10285a7bef3bed111edb/py

[2022-08-24 10:45] kfstorm commented on #28080
cc @fyrestone

[2022-08-24 12:24] Stefan-1313 opened #28082 "[Tune] Absolute paths are stored in checkpoints and Tune cannot resume if checkpoints are moved"
### What happened + What you expected to happen

@xwjiang2010

The Ray Tune 'local_dir' contains two *.json files which saves the expriment config which is used when resuming from  a checkpoint. I noticed these files also store the 'local_dir' and other locations derived from it, as absolute paths.

Unfortunately, if you move the checkpoints to another location (or the location holding the checkpo

[2022-08-24 13:53] atinsood opened #28084 "[air/train] Running huggingface trainer causes No module named 'datasets_modules' error"
### What happened + What you expected to happen

As mentioned in the discussion here https://ray-distributed.slack.com/archives/CNECXMW22/p1661127032259049 , we ran into `No module named 'datasets_modules' ` error when running a pretty basic example of HF trainer. the example code is provided below for reproducing the error.

As mentioned in the discussion the error seems pretty similar to https:/

[2022-08-24 14:37] mirekphd opened #28085 "Ray Core: add CLI help entry / python function docstring for the `--memory` switch / `_memory` argument"
### Description

When we look into help of `ray start`, we don't see the `--memory` switch:

[code]

... and yet it works just fine, like in this example:

[code]

### Use case

Limiting Ray memory usage is needed to avoid exhausting entire machine physical memory (which is possible in containerized setups with access to entire machine resources, not limited like in traditional virtual machines).

[2022-08-24 15:15] joshua-cogliati-inl commented on #28071
I think this might be more a bug of robustness.  As in I can completely block ray from completing tasks by blocking one node from running workers, even with there being other nodes that are running fine.  For example, if I run this (listen_range.py) on one node:
[code]
then it blocks the above ray_test2.py from finishing until the sleep(600) finishes, even with there being available raylets with w

[2022-08-24 16:05] ijrsvt opened #28086 "[Core] Multi-Threaded Actors are Un-Killable"
### What happened + What you expected to happen

When one thread in a Multi-Threaded actor exits, the other threads continue to run, even after `ray.kill`'ing the actor.

### Versions / Dependencies

Ray 2.0
OS: Linux

### Reproduction script

[code]

### Issue Severity

Low: It annoys or frustrates me.

[2022-08-24 16:36] mirekphd commented on #28085
So the documentation of the `--memory` switch or the `_memory` function argument is missing in these places:
* in the CLI `ray start --help`
* in `ray.init()` python function docstring
* in online [docs] for both of the above(https://docs.ray.io/en/latest/ray-core/configure.html).

In addition, the underscore in `_memory` argument of in `ray.init()` implies it a private or internal use, but it nev

[2022-08-24 19:44] architkulkarni commented on #28010
We don't support any customization with RPC, we only support querying endpoints from Python or from HTTP.  Could you share more details of your use case?

[2022-08-24 19:48] DmitriGekhtman commented on #24491
cc @jjyao @rkooo567

[2022-08-24 20:32] architkulkarni opened #28089 "[Jobs] Add job submission ID to `get_runtime_context()`"
### Description

Add an API like the existing API `ray.runtime_context.get_runtime_context().get_job_id()`, but for the job submission ID.

### Use case

The use case is for job driver code to read its job submission ID at runtime. e.g. to save job related artifacts to a remote registry with a separate folder for each job submission id and allow easy artifact retrieval just by the id.

[2022-08-24 20:36] architkulkarni opened #28090 "[Jobs] Add load test with high number of jobs on long running Ray cluster"
### Description

Add a test with a long-running Ray cluster and a high number (say 200+) of jobs being submitted, to detect issues such as https://github.com/ray-project/ray/issues/28058.

### Use case

_No response_

[2022-08-24 23:52] daipayandeb-brt opened #28091 "RuntimeError: Starting Ray client server failed"
### What happened + What you expected to happen

Hitting this error everytime and unable to setup runtime environment.  This is blocking me to run any job in any automated way. (The script is already shared with Uday)

My mac is running
% python3 --version
Python 3.8.9
% ray --version
ray, version 1.9.2
% anyscale --version
Authenticating
Loaded Anyscale authentication token from ~/.anyscale/crede

[2022-08-25 02:05] jinfagang commented on #28010
@architkulkarni actually this is what I want, I just need ray to run graph, when I get output, rest RPC handling by myself.

How to make it runing graph only without evolving anything about http? (it will cost time)

[2022-08-25 05:18] jovany-wang commented on #28086
So you mean after `ray.kill(m)`, the process of the actor `m` is still alive?

[2022-08-25 06:49] tobiasweede opened #28092 "slurm documentation removed"
### Description

Hi,

I cannot understand why you removed the helpful documentation on slurm.

This commit "cleaned up" legacy material. But in my opinion it is still relevant:

https://github.com/ray-project/ray/commit/52f7b898659b3a211575cd397ce8967cededd4f3

### Link

https://docs.ray.io/en/latest/cluster/slurm.html

[2022-08-25 07:40] richardliaw commented on #28092
Hey @tobiasweede , thanks for pointing this out! It seems like our search bar is broken, but rest assured this material is still on the website:

https://docs.ray.io/en/latest/cluster/vms/user-guides/community/slurm.html?highlight=slurm

Hope that helps!

[2022-08-25 07:40] #28092 closed

[2022-08-25 07:40] richardliaw opened #28093 "[docs] Search Bar on `latest` still points to `1.13.0`"
### What happened + What you expected to happen
<img width="586" alt="Screen Shot 2022-08-25 at 12 41 24 AM" src="https://user-images.githubusercontent.com/4529381/186605162-44caa1ed-6962-4697-8c15-25e1e3f2392b.png">

This should instead point to 2.0.0

### Versions / Dependencies

https://docs.ray.io/en/latest/index.html

### Reproduction script

https://docs.ray.io/en/latest/index.html

### Issu

[2022-08-25 08:08] pfagurel commented on #21994
I have fixed the error by using conda. Before I was installing ray by using > pip install "ray[rllib]" tensorflow torch.

[2022-08-25 08:36] #28093 closed

[2022-08-25 09:35] Alxe1 opened #28095 "Ray air train model do not stop"
### What happened + What you expected to happen

I trained a model using ray air, but it is always running and don't stop:

[code]

### Versions / Dependencies

ray 2.0.0
tensorflow 2.8.0
python 3.7.10

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-08-25 09:50] faroit commented on #13407
I wonder if this is a similar issue when using joblib for local parallelization: https://github.com/facebookresearch/hydra/issues/964

[2022-08-25 12:42] whitelilis opened #28100 "[Core] ray dashboard <rayhost>:8265/nodes?view=details cpuPercent should contains actor's subprocess"
### Description

Now in the   <rayhost>:8265/nodes?view=details API, the.  cpuPercent  to Actor only calculate the Actor process , but not contain it's subprocess,  so if the actor spawn another process to do something, the cpuPercent shown in API is always 0, but it is using resources.

### Use case

Monitor the resource usage by all actor and tasks

[2022-08-25 14:05] orm011 commented on #27116
Here's a potential workaround to get you out of hot water if you also run into this issue:
`
import pyarrow as pa
def read_parquet_workaround(path):
    tab = pa.parquet.read_table(path)
    df = tab.to_pandas(ignore_metadata=True) # this would fail without the flag.
    return df # df will somehow still include the new ray TensorArray
`
One downside of this solution is that some third party code

[2022-08-25 15:10] orm011 commented on #27116
Looks like the main issue is that as of 1.13 metadata was written as follows:

[code]

In the new version, when converting to pandas, the 'TensorArray' string in that metadata is passed to
`TensorDtype.construct_from_string(type_str)` in [https://github.com/pandas-dev/pandas/blob/6df6691438dde3aa9c6fdfa359d39b730e29e331/pandas/core/dtypes/base.py#L521](pandas) which  fails.

The new version can re

[2022-08-25 15:44] architkulkarni commented on #28010
You could use Ray Serve with `NoServer`, and nothing about HTTP would be involved.  Or perhaps you're looking for something like Ray Workflows? https://docs.ray.io/en/latest/workflows/basics.html

[2022-08-25 15:50] orm011 opened #28102 "[Data] TypeError exception on ray 2 loading ray 1.13 TensorArray dataframe from TensorArray table."
### What happened + What you expected to happen

run the following code on a ray 1.13 environment,  and also on a ray 2 environment.
[code]

Then, from the ray 2 environment try reading
[code]

I get the following exception:
[code]

Conversely, if I read version 2.0.0 from ray 1.13 I get:
[code]

I would expect .parquet data with TensorArray written on either version to be readable by either versi

[2022-08-25 15:52] orm011 commented on #28102
I added some comments here earlier, including a workaround https://github.com/ray-project/ray/issues/27116

[2022-08-25 16:48] xwjiang2010 commented on #28044
num_cpus is referring to physical cores.

Nonetheless, can you print out `OMP_NUM_THREADS` to make sure it's some expected number/not 1?

[2022-08-25 17:12] lundybernard opened #28103 "[Core] Support aarch64 -- causing docker on M1 build and runtime errors"
### What happened + What you expected to happen

We are building a docker-compose config to wire-up ray as a single-node or cluster, and wire it up with additional services (logging, S3 storage, etc.), and provide an "easy button" for our users. Many of our users are now stuck on Apple M1(arm64) hardware, and we need to support them.

## Best Case:
use the rayproject/ray (or ray-ml) container dire

[2022-08-25 17:45] #25860 closed

[2022-08-25 18:19] architkulkarni commented on #26332
Closed by https://github.com/ray-project/ray/pull/26911

[2022-08-25 18:19] #26332 closed

[2022-08-25 18:28] architkulkarni opened #28105 "[runtime env] Ray hangs when nonexistent conda environment is specified"
### What happened + What you expected to happen

The `"conda"` option of `runtime_env` accepts (1) a path to a `environment.yml` file, (2) a `dict` representation of an `environment.yml` file, or (3) the name of a conda environment which already exists on all nodes.

If option (3) is specified but the conda environment doesn't exist, then `ray.get()` hangs, and the driver prints the following mess

[2022-08-25 18:32] joshua-cogliati-inl commented on #28071
This still exists in ray version 2.0.0.
[code]
If I run:
[code]
the ray_test2.py (with range bigger than the number of nodes) will fail to finish until I press enter.

Note that this is an artificial way to cause a real problem that we encounter.  When we are running production ray runs with hundreds of workers for multiple hours, the probability that one node will fail becomes sufficiently high t

[2022-08-25 18:35] mirekphd commented on #8035
To do in 2022 what H2O could do in 2016:) And in R too...

[2022-08-25 19:25] fostiropoulos opened #28106 "[Core] Ray reserves cuda memory for each program calling `init`."
### What happened + What you expected to happen

I am calling the same .py that calls

`ray.init(address="auto")`
on an existing an initialized cluster on a single machine / node.

For each .py there is memory reserved by ray on every GPU. Please look at PID `3610` and `4160` which correspond to two different programs called. If I do yet another call to the same .py there will be another `843MiB`

[2022-08-25 19:33] scottsun94 opened #28107 "[dashboard UI] The first node shouldn't unfold automatically."
### What happened + What you expected to happen

OSS users reported that the first node in the new ray dashboard always unfolds automatically and shows the worker info. This is annoying. Users want to see nodes first. If needed, they will unfold to see the worker info.

![Screen Shot 2022-08-25 at 12 33 13 PM](https://user-images.githubusercontent.com/9677264/186752473-603d9917-8a3a-4dda-b482-0795

[2022-08-25 19:35] #23547 closed

[2022-08-25 19:41] Purvak-L commented on #24627
@simon-mo can you elaborate more on how to achieve this? I've a similar use case where I want to do batch inference without _waiting_. My current approach is just setting appropriate scaling and queue policies. I want to check if there's a more efficient way to do it.

[2022-08-25 20:49] wuisawesome commented on #28064
Hmmm yeah, if `num_gpus` is hardcoded we shouldn't do any of the autodetection logic, that's not good

[2022-08-25 20:50] wuisawesome commented on #28100
@whitelilis would love to hear more about your use case here!

[2022-08-25 21:21] spyrosavl opened #28109 "[RLLib] Load saved DQN model from Tuner checkpoint"
I am using `tune.Tuner` to train a `dqn.DQN` network. Then I get the best checkpoint by `results.get_best_result().checkpoint`. I want to load the saved model for inference but the following does not seem to work:

`algo = dqn.DQN(config={}, env=MyEnv)`

`algo.import_model(best_model)`

I get a `NotImplementedError` error... Can you please help me with this one? I could find a solution in the docs

[2022-08-26 00:41] jingqiong opened #28110 "RestoreWorker"
Your issue content here.

[2022-08-26 02:36] jinfagang commented on #28044
@xwjiang2010 Am haven't tried will try, But I forcely setted `OM_NUM_THTRADS` in my ort inference, it's certainly should be value I set, but not work as expected.

[2022-08-26 02:40] hungbui-io opened #28112 "[core/data/windows] Cleaning spilled object Error"
### What happened + What you expected to happen

I am doing distributed data loading with Ray Data. However, during repartition() step, it showed a error as bellow:
`ERROR external_storage.py:353 -- Error cleaning up spill files. You might still have remaining spilled objects inside `ray_spilled_objects` directory.
PermissionError: [WinError 32] The process cannot access the file because it is bei

[2022-08-26 02:50] jinfagang commented on #28010
@architkulkarni waoo, workflow seems exactly what I want!!

Does there any example on workflow supports on a more complicated graph? Such as a graph which node has 2 inputs?
Also, may I ask, if two node are parallel ( they can runing meanwhile), will ray actually calculated it simuteneously?

[2022-08-26 03:22] xwjiang2010 commented on #28095
@Alxe1 How long does it hang or do you wait till you killed the program?
Did you get a chance to see the ray dashboard? Wonder if any work is actually being done.
I notice that from the console, there is not even one training result reported back yet. So wonder if anything is wrong at the tensorflow layer.

[2022-08-26 04:04] Alxe1 commented on #28095
Yes, it hang a long time, and I use a small dataset to test it, it also hang a long time and can not stop too.  But when I put the small dataset in train_func like:
[code]
It works! It's so weired. But when I increase the dataset to bigger, it also hang a long time.
The resources are:
[code]

[2022-08-26 05:12] scottsun94 commented on #12389
cc: @krfricke @xwjiang2010

It seems this issue is not fixed. Could you confirm?

[2022-08-26 08:38] jinfagang opened #28114 "[Ray] workflow"
### What happened + What you expected to happen

[code]

### Versions / Dependencies

[code]

### Reproduction script

[code]

this is just from documentation....

### Issue Severity

_No response_

[2022-08-26 08:42] jinfagang commented on #28114
Also, from ray source code ,

I can not find `workflow.run()` there is no run in workflow

[2022-08-26 08:56] jinfagang commented on #28114
I solved it.

[2022-08-26 08:56] #28114 closed

[2022-08-26 08:57] jinfagang opened #28115 "[<Ray component: workflow ]"
### Description

I am confused:

<img width="1313" alt="image" src="https://user-images.githubusercontent.com/21303438/186867288-18978753-3c7d-43a5-ae4a-e051a375083c.png">

the output result I already get, why after the reuslt, there still some messages saying RUNING? RUNING what?

### Link

_No response_

[2022-08-26 09:09] jinfagang opened #28116 "[Ray workflow] How to get result of a workflow like this"
### Description

I want do a tiny experiemnet on worfklow to support branch

### Link

[code]

Get error:

[code]

[2022-08-26 12:22] Hoeze opened #28117 "[Core] Treat conda as first-class citizen"
### Description

Shipping ray as a pip-package in production environments is difficult as it tends to pull other pip-dependencies which destroy the environment.

Would it be possible to always require working conda-package builds for new releases?
I.e. every time you release a new ray version, it should have the corresponding conda package released together with it.

### Use case

Shipping conda e

[2022-08-26 12:49] VOvchinnikov commented on #24917
1.48.0 still spams, unfortunately

[2022-08-26 12:55] mirekphd commented on #28064
A closely related issue with root requirement affects the dashboard access to the `/` folder, which is not necessarily accessible to the user running Ray Core (unlike `~/`, which is much more likely to be accessible).

This prevents Ray Dashboard (in the new UI) from measuring available disk resources, so consequently zeros are currently incorrectly displayed in the `Disk (/)` and `Disk(root)` fie

[2022-08-26 14:03] utkarshp commented on #19834
Getting the same error on Debian when trying to run without a GPU. Works fine in an identical environment (pytorch with cpuonly) on a machine that does have a GPU.

[2022-08-26 14:18] jinfagang opened #28118 "May I ask why ray remote can not send dict? #108"
### Description

https://github.com/anyscale/academy/issues/108

### Link

https://github.com/anyscale/academy/issues/108

[2022-08-26 14:59] jinfagang opened #28119 "workflow"
### Description

I am very confused .

I know workflow and ray core API have difference that first one doesn't execute egarly. **And then?**, so what?

**why need another API?** the documentation have nothing talk about their deeper comparison like effeicency, pros and cons.

Please clarify for me.

### Link

_No response_

[2022-08-26 15:01] jinfagang commented on #13515
@ggservice007 Did u solved your problem?

[2022-08-26 15:02] KGKallasmaa opened #28120 "No matching distribution found for ray==2.0.0"
### What happened + What you expected to happen

I  have a requirements.txt file where I listed that I wanted to install ray version 2.0.0
When I ran  pip3 install --user -r requirements.txt then I got this error:

No matching distribution found for ray==2.0.0

### Versions / Dependencies

Currently using Python 3.10. I also tested it with python 3.9

### Reproduction script

Create a new requirem

[2022-08-26 15:33] nileshsuri commented on #21994
@mattip sorry for the delay. After playing with versions I found out that the issue only occurs with Python 3.9 (I had 3.9.13). After downgrading to Python 3.8.10 I don't have the error anymore. The earlier Python 3.9 I had installed was the version that is updated with Windows (under Micorsoft\WindowsApps). I hope this helps you reproduce/debug the issue.

[2022-08-26 15:53] awaelchli commented on #27493
Update:

- We merged the PR on Lightning side which will be included in the weekly 1.7.x release: https://github.com/Lightning-AI/lightning/pull/14319
- I proposed the change to Ray-Lightning when supporting Lightning 1.7: https://github.com/ray-project/ray_lightning/issues/194#issuecomment-1228661771
- We opened https://github.com/pytorch/pytorch/issues/83973 on the PyTorch side which should help

[2022-08-26 16:17] xwjiang2010 commented on #28095
Thank you so much!
Could you also share me with the parquet file so that I can run it and debug?

[2022-08-26 17:28] rkooo567 commented on #28019
Hmm maybe we should bump the minimal version of grpcio. Is it possible to do this @jianoaix for the user?

[2022-08-26 17:50] #21050 closed

[2022-08-26 18:18] acxz commented on #19116
Completed!

[2022-08-26 18:21] acxz commented on #27477
With the actual release of ray 2.0.0, should this issue be closed, @zhe-thoughts?

[2022-08-26 18:27] goodwanghan opened #28124 "[Core] read_csv read_json can't work without a suffix"
### What happened + What you expected to happen

[code]

This will throw exception:
[code]

### Versions / Dependencies

ray==2.0.0

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-08-26 18:28] zhe-thoughts commented on #27477
@acxz Yup absolutely. Thanks for the note!

[2022-08-26 18:28] #27477 closed

[2022-08-26 18:30] richardliaw commented on #28124
This seems related to https://github.com/ray-project/ray/issues/26605

[2022-08-26 18:34] c21 commented on #28124
[code]

Add `partition_filter=None` will bypass the files filtering, allow you to read all files you specify as CSV files.

We should really rethink the default behavior for `read_csv` now, it has caught users here and https://github.com/ray-project/ray/issues/26605 . Maybe we should set default behavior to not doing filtering.

[2022-08-26 18:54] richardliaw opened #28125 "[SURVEY] Ray Core User Survey!"
Hey all!

We’re trying to better understand what people are using Ray Core for and how we can improve it. If you’re using ray.remote with Tasks/Actors, please help fill out our survey so that we can make Ray even better!

Survey link here: https://docs.google.com/forms/d/e/1FAIpQLSfqFf2lyPwwy0detUqljUlEGr2rV6altyxEZf-zbt108r773Q/viewform

[2022-08-26 19:10] amogkam commented on #28120
cc @scv119 @matthewdeng

@KGKallasmaa is this in macOS? What is your OS version?

[2022-08-26 19:17] DmitriGekhtman opened #28126 "[Clusters][Kubernetes] Documentation for Ingress setup"
### Description

Document ingress setup for Ray on Kubernetes (KubeRay).

Most critically (P1), document ingress setup for exposing the Ray dashboard.
We might (P2) in the same breath explain how to expose Ray client.
However,
(a) Ray Client ingress setup is known to be finicky due to particular usage of gRPC streaming
(b) The Ray team is trying to deemphasize Ray Client in favor of Ray Job Submis

[2022-08-26 19:24] matthewdeng commented on #28120
+1 to Amog's question. Also what happens if you just do `pip3 install --user ray==2.0.0`?

[2022-08-26 19:27] alanwguo commented on #28019
@rkooo567 , i have a PR to address this: #28025

[2022-08-26 20:04] xwjiang2010 commented on #24050
btw, user reports that `TBXLoggerCallback` doesn't work when the hp is a tuple, which is the output of hyperopt library.
Not sure if list-like hp would work or not.

[2022-08-26 21:32] goodwanghan commented on #28124
Thanks, I looked deeper into this problem. Here is a solution that fits my need, if you have the same issue, then you can do something similar. I want to accept files with .csv suffix, or no suffix but not `_SUCCESS`, so I will create a custom filter:

[code]

[2022-08-26 21:55] c21 commented on #28124
@goodwanghan - I believe `_SUCCESS` is created by Spark or Hadoop. I see, so you also need file exclusion filtering here (exclude all files with `_SUCCESS` here for an example).

[2022-08-26 22:14] krfricke commented on #23665
The change has been reflected in at least 1.13.0, possibly earlier. We do not use SSH based syncing anywhere anymore, and don't access internal autoscaler state. Thus this issue should not come up anymore (automatically).

[2022-08-26 22:14] #23665 closed

[2022-08-26 22:18] krfricke commented on #23109
Closing this for now as it seems to be a resource setup-related issue. Please feel free to re-open if the issue persists.

[2022-08-26 22:18] #23109 closed

[2022-08-27 00:53] amogkam opened #28134 "[AIR] Maintain checkpoint subclass information during serialization"
### Description

When saving a model checkpoint during training, it gets saved as a framework-specific Checkpoint (like `TorchCheckpoint` and `XGBoostCheckpoint`).

However, framework specific checkpoints get converted to a generic `Checkpoint` when returned by the Trainer or when moving to prediction. We can no longer call methods on framework-specific Checkpoints without the user having to do th

[2022-08-27 03:45] jinfagang commented on #7511
I have a more complicated example, the overhead actually **didn't reduced by second call**, it always there:

[code]

You will get output:

[code]

As you can see, 3 calls cost similar time, but my graph should only need 6s, it has about **450ms** overhead!!!!

[2022-08-27 03:47] jinfagang opened #28138 "Overhead toooo much"
### What happened + What you expected to happen

Any body can see this issue??? Tooooo much overhead in ray!! https://github.com/ray-project/ray/issues/7511#issuecomment-1229114440

### Versions / Dependencies

Any body can see this issue??? Tooooo much overhead in ray!! https://github.com/ray-project/ray/issues/7511#issuecomment-1229114440

### Reproduction script

Any body can see this issue???

[2022-08-27 05:14] robertnishihara commented on #7511
You are recreating the actors every time you call `do_it`, and there is some overhead to creating actors (it starts a new Python process).

If you rewrite it as follows, the overhead drops.

[code]

In this case, I get the output

[code]

[2022-08-27 05:14] robertnishihara commented on #28138
Responded here https://github.com/ray-project/ray/issues/7511#issuecomment-1229125792.

[2022-08-27 05:14] #28138 closed

[2022-08-27 05:15] #7511 closed

[2022-08-27 07:16] mirekphd commented on #24491
This link is currently the least dead:
https://docs.ray.io/en/releases-2.0.0rc0/cluster/cluster_under_construction/ray-clusters-on-vms/user-guides/manual-cluster-setup.html

[2022-08-27 08:04] mirekphd commented on #6968
Yes, one sees it clearly when a container with Ray server is run (`ray start --head`) separately from the (python) client app container (e.g. Jupyter Notebook server), to distinguish client and Ray server memory usages...

This behavior should be better documented I think. This issue would probably be unnecessary if `memory` was instead called `memory_request` (and `--memory-request` in the CLI).

[2022-08-27 09:57] mirekphd commented on #28064
Fortunately this task has been already accomplished in the `GPUtil` package (see its [Github page](https://github.com/anderskm/gputil)), which `ray` already uses elsewhere (where it also fails silently without any warnings where it does not find this rather old package).

Here's how to apply it to detect the number of available GPUs:

[code]

[2022-08-27 13:04] mirekphd opened #28143 "[Ray Core] Inaccessible PENDING placement groups: get_placement_group() and remove_placement_group() should use placement_group_id, not name"
### Description

`ray.util.get_placement_group()` and `remove_placement_group()` should start using `placement_group_id` not `name` as placement group identifiers, because they currently depend on the `name` which is not populated by default (and hence empty in the output of `placement_group_table()`) and not even guaranteed to be unique. Consequently all unwanted PENDING placement groups that lac

[2022-08-27 13:31] mirekphd commented on #6968
Currently the only workaround I have found that will limit Ray's memory, i.e. equalize the memory size limit reported in Ray Dashboard with those reported by `ray status` is by imposing hard memory limits on the Ray Core container using Kubernetes `spec.containers[0].resources.limits.memory`, thus:

[code]

[2022-08-27 13:34] digits122 commented on #21994
I have this error in another machine which is not at hand right now, I don't think it's a python version problem. I reproduce this error with this simple code

import ray
ray.init()

and the error information is exactly the same as described by [joel-thomas-wilson](https://github.com/joel-thomas-wilson)

I installed ray with this code :
pip install ray[default]
and it tooks a lot of time for autom

[2022-08-27 20:47] avatards commented on #28120
Same thing. I had no problem with upgrading to 2.0.0 with Python 3.9 but installation support for 3.10 seems to be broken again.
pip3 install --user ray==2.0.0
ERROR: Could not find a version that satisfies the requirement ray==2.0.0 (from versions: none)                                                                                                         ERROR: No matching distribution found fo

[2022-08-27 21:46] orm011 commented on #28102
A better workaround than `ignore_metadata` (which for example can break assumptions about your index column), is to manually patch the metadata for the vector columns before reading:

[code]

[2022-08-27 23:41] scv119 commented on #28120
@avatards are you on windows? that might be the reason it's not supported.
otherwise you can try to see if https://pypi.org/project/ray/2.0.0/#files has the wheels you need?

[2022-08-27 23:57] timf34 commented on #21921
Not training on the GPU, and only using the CPU, doesn't seem like the most viable solution

Not using the GPU won't work for me unfortunately (need it for speed)... is there any fix for this which includes being able to use the GPU?
Do I need to flatten the observations... if so, how do I do this? Do I flatten them before they're fed to the network... how does this work when I am using CNNs?

[2022-08-28 00:15] richardliaw opened #28144 "[data] Loading images from ImageFolderDatasource gives irrelevant errors"
### What happened + What you expected to happen

I tried just loading a simple image dataset via the ImageFolderDatasource.

The error given was not comprehensible nor actionable:

[code]

1. How do you get a dataset context? Is it even relevant?
2. None of these stacktraces trace back to user code.

### Versions / Dependencies

ray 2.0
python 3.8

### Reproduction script

[code]

### Issue Severi

[2022-08-28 00:20] richardliaw commented on #28144
@matthewdeng assigning to you for you to triage

[2022-08-28 07:55] mirekphd opened #28145 "[Ray Core] Automatically create temp/plasma folders, if they do not exist"
### Description

In `ray start [--head]` please create folders specified by `--temp-dir` and `--plasma-directory`.

Currently if the user does not have such folders made in advance, Ray raises `ValueError` in `determine_plasma_store_config`, like this (for `--temp-dir=/home/jovyan/tmp/ray/` and `--plasma-directory=/home/jovyan/tmp/ray/plasma/`):

[code]

### Use case

Deployment of Ray Core master

[2022-08-28 09:32] mirekphd commented on #28143
I've found a client-side (self-service) workaround that allows users to delete all PENDING placement groups: restarting python (kernel) where the python Ray client has submitted these offending placement groups. Previous workaround was much more heavy-handed: restarting ray master (head) server container [not slave one - that one was not enough]).

[2022-08-28 11:30] avatards commented on #28120
@scv119 Yes, you are right, this could be just a windows issue. I was under the impression support for python 3.10 was universal already since 1.13 although I didn't actually try installing it. I hope windows will be supported one day so I can use python 3.10.

[2022-08-28 14:40] NilakshanKunananthaseelan commented on #10142
@richardliaw  I got a similar issue when reporting a dictionary as follows.
`tune.report(**{'harrells_c':np.amax(results.history['harrells_c'])})

TensorFlow                2.8.2
ray                       2.0.0

`model = builder(D,config)

model.compile(loss=losses['task1'],
              metrics=[metrics['task1']],
              optimizer=optimizer)
model.summary()

results = model.fit(x=dataset.

[2022-08-28 22:24] elijahbenizzy opened #28146 "ray.remote does not work with functools.partial"
### What happened + What you expected to happen

`ray.remote` does not work with `functools.partial`. I guess using it outside a decorator isn't the intended use-case, but in Hamilton (github.com/stitchfix/hamilton), we've been integrating with ray and perform higher-order operations on top of user-defined-functions, some of which are partials.

Think we have some obvious workarounds but this woul

[2022-08-28 23:50] elijahbenizzy commented on #28146
Happy to contribute a fix but first would love context on (a) whether this should be supported and (b) what types of functions  (that `isfunction(...)` might be `False` for you want to support in addition (anything with `__call__`? `lru_cache`)?

[2022-08-29 00:00] suquark opened #28147 "[DAG] The behavior of Ray DAG is changed by #27411"
### What happened + What you expected to happen

This is because of this code piece:

https://github.com/ray-project/ray/blob/328e6ac2f43db235d7fa26003549032b69cfeb02/python/ray/dag/py_obj_scanner.py#L77-L87

This code prevents cloudpickle to continue serialization for any non-native python objects (native objects includes bytes, str, dict, list, tuple etc). So if we embed any DAG node inside a na

[2022-08-29 04:18] matthewdeng commented on #28144
@clarkzinzow assigning to you for now since you worked closest on the implementation.

cc @amogkam @jiaodong @bveeramani since you've all encountered this as well.

[2022-08-29 08:27] JoonHong-Kim opened #28148 "[Ray data] AttributeError: 'DataFrame' object has no attribute 'dtype'"
### What happened + What you expected to happen

I don't know why it happens to me.
this is csv file
![image](https://user-images.githubusercontent.com/30318926/187157863-caa55c9d-35cb-4a4d-bf1c-ebf105f2d65a.png)

[code]

### Versions / Dependencies

ray: 2.0.0
pandas: 1.4.3
numpy: 1.23.2

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-08-29 08:34] jovany-wang commented on #26941
Closing this now, will open it once we still need

[2022-08-29 08:34] #26941 closed

[2022-08-29 08:38] #28148 closed

[2022-08-29 11:02] rgiacomin commented on #28047
@mihajenko Please find below the list of processes I have running when I start the cluster with flag --include-dashboard=true and false, respectively.

Set to true:
![with](https://user-images.githubusercontent.com/57836657/187186639-7732df35-b2ad-454c-b837-32c875c41027.png)

Set to false:
![without](https://user-images.githubusercontent.com/57836657/187186720-34234a5e-098f-4763-afbb-e8dc54be3e7d.

[2022-08-29 13:56] peterghaddad commented on #27910
Hi @DmitriGekhtman checking in from our Slack thread, still running into this problem when running jobs. Are there any thoughts?

[2022-08-29 15:15] salotz-sitx commented on #28146
Ditto. Hopefully Ray doesn't do any weird static introspection on functions for building tasks and this is just an overly strict check on the input type.

[2022-08-29 15:15] WeichenXu123 commented on #27739
@jjyao In my test I found Ray already support the feature I described, i.e. setting `VISIBLE_CUDA_DEVICES` environment variables for Ray Node Runtime to control which physical GPUs Ray Node can use.

[2022-08-29 15:19] DmitriGekhtman commented on #24491
That link is also quite dead now.

We just finished a major documentation revamp.

Here's the correct link:
https://docs.ray.io/en/latest/cluster/vms/user-guides/launching-clusters/on-premises.html#manual-setup-cluster

Will update the issue description.

[2022-08-29 15:28] krfricke commented on #26802
In July, the latest pyarrow release was 8.0.0, which didn't have native gcs support, yet. Thus this used GCS via gcsfs and a `FSSpecHandler`, which could contribute to the problem. Pyarrow 9.0.0 comes with native gcs support, so it might resolve the problem.

In any case, I think adding a timeout is a good way to go forward.

[2022-08-29 16:14] jiaodong commented on #28144
You see this issue because `s3://anyscale-data/imagenet/` path has images of different sizes but we also auto-cast them into `TensorArray` that doesn't not work with ragged tensor yet. So we need to add `size=(x, y)` to the `read_datasource` which is supported by Ray 2.0 API (TODO here is better error message) and later we need to add ragged tensor support such as https://github.com/ray-project/ra

[2022-08-29 16:33] kpavel opened #28150 "[autoscaler] Node launch race condition"
### What happened + What you expected to happen

Autoscaler hits race condition resulting in unnecessary nodes provisioning.

It happens in the following way:

- Thread0 **Create N nodes** request submitted in autoscaler
- Thread1 **pending_launches** set to **N** in autoscaler
- Thread1 **(N - x)** nodes created by node_provider
- Thread0 **non_terminated_nodes** called
- Thread1 **N** nodes crea

[2022-08-29 16:38] #27743 closed

[2022-08-29 16:39] wuisawesome commented on #28150
Mitigation is for users to set

[code]

which will serialize node launching

[2022-08-29 16:48] wuisawesome commented on #28150
i guess ideally what we want to do is define a critical section from before non_terminated_nodes updates to after pending_launches decrements.

since the updated state that non_terminated_nodes reads is somewhere in the middle of create_node we would have to lock around all of create_node i think. from a performance perspective, i think there are a few implications
1. The autoscaler update loop ca

[2022-08-29 16:51] wuisawesome commented on #28150
essentially it would look something like this

[code]

[2022-08-29 16:56] peterghaddad commented on #27910
[code]

And a simple script would be:
[code]

[2022-08-29 16:58] wuisawesome commented on #28064
@mirekphd are you able to help contribute the solution to this? I think we're concerned about putting a small dependency like GPUtil into ray's core dependencies, but vendoring the library seems like a reasonable approach.

[2022-08-29 17:22] scv119 commented on #19116
thanks @acxz!

[2022-08-29 17:29] kpavel commented on #28150
@wuisawesome Thank you for looking into it. There can be another option. Instead of locking whole create_node, we may consider to make **self.pending.dec()** wait until next cycle of **non_terminated_nodes()** finished. Maybe we can just force refresh **non_terminated_nodes** after create, but before **self.pending.dec()**?

[2022-08-29 17:41] rkooo567 commented on #27921
cc @alanwguo how did you get around this when you made prototype in hackathon?

[2022-08-29 17:44] rkooo567 commented on #27939
@matthewdeng have you seen this error before? Is h5py a part of ray train?

[2022-08-29 17:46] rkooo567 commented on #27939
My impression is that this is the application level failure @Alxe1. When you store the model without Ray, does it have the same issue?

[2022-08-29 18:00] DmitriGekhtman commented on #27910
Just re-confirming --
Is the following correct:

1. The issue does occur if you use Ray Job Submission to submit the script. (It may also happen with other submission methods.)
2. The issue occurs when you run the script **the second time**?

[2022-08-29 18:11] wuisawesome commented on #28150
Hmmm naively, it feels like we would double count nodes in that case? (let's say 5/10 nodes launch, then pending will be 5 and non_terminated_nodes will be 5, so nothing new will be launched until the next iteration).

it works (since the next iteration would be fine) but would be slower right?

[2022-08-29 18:17] kpavel commented on #28150
Yes, this will make create_node slower by single cycle of non_terminated_nodes (that suppose to be fast). Usually, after nodes created it takes time until operating system finishes boot, so shouldn't be an impact.
Have a feeling that impact of locking the create_node() with non_terminated_nodes() will be more significant.

[2022-08-29 18:50] jianoaix opened #28152 "[Datasets] Add test coverage for interaction with Cluster/Datasets from a Ray Client"
There are use cases where a Ray Client process outside of the Ray cluster interacts and operates the cluster, e.g. up and down the cluster for each trial when running multiple trials. We should have tests coverage to make sure this works without bugs. In the past, we uncovered a bug regarding to the StatsActor (the Ray Client kept a StatsActor handle, which pointing to nonexistent actor after the

[2022-08-29 19:30] gjoliver commented on #26802
the checkpoints are in the order of 100MB.
repro will be super hard, since it only happens after 12hrs of runtime.
a single hardcoded timeout may not be a good idea, since this is file size dependent.
any idea how to check if the copy has made any progress in a timeout period for example?

[2022-08-29 19:45] peterghaddad commented on #27910
1. That is correct, also seeing this when using the Ray Client.
2. Only after a cluster is created. For example, if I launch a new cluster it scales okay the first time -> the experiment runs and finishes. Then I re-submit the same experiment and it is unable to scale (after waiting for resources to de-scale).

[2022-08-29 20:03] wuisawesome commented on #28150
so actually that approach has relies on the node launchers to finish decrementing before the autoscaler wakes up again, which feels safe (but technically not theoretically safe).

after thinking about it, a safe, but more complicated way, would be to do something like

[code]

and node_launcher would do

[code]

This is a bit complicated because `cv.notify_all()` doesn't actually return anything a

[2022-08-29 20:07] krfricke commented on #19710
I think this should be resolved with our task-based syncing.

[2022-08-29 20:07] #19710 closed

[2022-08-29 20:08] krfricke commented on #12032
Resolved with task-based syncing.

[2022-08-29 20:08] #12032 closed

[2022-08-29 21:19] peterghaddad commented on #27910
Exactly. FYI, the workers become scheduled if I manually scale them up.

Here are the additional logs:
[code]

[2022-08-29 21:48] peterghaddad commented on #27910
@DmitriGekhtman Looks like the issue is when "workers" exist in the Cluster it gets confused. I triggered three jobs at the same time. The first one scheduled workers fine, but then I received the error I showed above after submitting the second and third job. I set max workers to 0 (to force delete all workers), then increased it back up to 40. After increasing this number, it spawned the require

[2022-08-29 21:55] simon-mo commented on #28147
@suquark, any suggestion here?

[2022-08-29 22:00] DmitriGekhtman commented on #27910
Huh, well the workers have 16CPU each so I guess it might make sense  `{'CPU': 1.0} * 17 (PACK)` would have some trouble scheduling.

Pack would prioritize scheduling all 17 1-CPU requests on the same node.

[2022-08-29 22:34] DmitriGekhtman commented on #27910
Yeah, it is true that PACK is a "soft" constraint... starting to poke around now.

[2022-08-29 23:42] DmitriGekhtman commented on #27910
Just for purposes of documenting my progress here:
In the config above, I substituted the image `rayproject/ray-ml:2.0.0-py38` and in the script, I removed the argument `local_dir="/storage/"`.

[2022-08-29 23:43] DmitriGekhtman commented on #27910
Modified config:
[code]

[2022-08-29 23:43] DmitriGekhtman commented on #27910
Modified script:
[code]

[2022-08-29 23:45] DmitriGekhtman commented on #27910
Now, my issue is that I there weren't enough tasks triggered to trigger upscaling, and the job ran to submission successfully.

@peterghaddad could you suggest some parameters for the tune job that more closely resemble the ones for your workload?

[2022-08-30 00:49] bveeramani opened #28158 "[AIR] Add `TorchCheckpoint.from_state_dict`"

[2022-08-30 00:51] bveeramani opened #28159 "[AIR] Update "Training a Torch classifier" example"

[2022-08-30 01:44] jaikumarg1 commented on #27813
@jjyao @rkooo567 any update on this?

[2022-08-30 01:46] Alxe1 commented on #27939
I try to store the checkpoint with ray, but it has some problems, because when I load model from the checkpoint, I must provide model definition argument, and in the model definition, I have some other argument passed by training progress. It is a little complex to pass to the prediction progress, so I want to save the model to savedModel or h5 format directly.

And I have solved this problem, I a

[2022-08-30 02:44] peterghaddad commented on #27910
Hi @DmitriGekhtman, sure thing!

[code]

I have been submitting multiple jobs back-to-back to create these scheduling problems. Is there any other information which may be helpful?

[2022-08-30 03:58] matthewdeng commented on #27939
@Alxe1 thanks for following up with the fix and the additional context. The problem you're describing about needing to provide the model definition again is being tracked here: https://github.com/ray-project/ray/issues/26933 and should be addressed in the next release or so.

[2022-08-30 03:58] #27939 closed

[2022-08-30 04:08] jjyao opened #28160 "[Core] Placement group creation hangs when create pgs in parallel"
### What happened + What you expected to happen

When we try to create multiple placement groups competing for the same resources, it will hang.

### Versions / Dependencies

master

### Reproduction script

[code]

[code]

### Issue Severity

_No response_

[2022-08-30 06:51] hoangkhoiLE opened #28161 "[tune] Control usage of resource"
### Description

Directory /root is over-used to save temporaries stuff, and it crashed all processes when it's run out of disk. A params to control, delete un useful stuff would be helpful for not abusing the disk.

### Use case

Hello,
I try to use PB2 from raytune to tune hyperparams by this comand in env google colab:
'''
      from ray import air, tune

      class CustomStopper(tune.Stopper)

[2022-08-30 07:55] Stefan-1313 commented on #26437
By the way, I submitted a pull request for this for both PyTorch and TensorFlow. Also not only for EpsilonGreedy and torch_policy but also for the other exploration methods and policies.

Unfortunately, I messed up the sign-off process a little. So I hope someone knows how to fix it. I'm no Git wizard, but if any action is required from my side, please let me know.

[2022-08-30 07:57] Stefan-1313 commented on #26437
@kouroshHakha by the way, I submitted a pull request for this for both PyTorch and TensorFlow. Also not only for EpsilonGreedy and torch_policy but also for the other exploration methods and policies.

Unfortunately, I messed up the sign-off process a little. So I hope someone knows how to fix it. I'm no Git wizard, but if any action is required from my side, please let me know.

[2022-08-30 08:36] suquark commented on #28147
I think we can serialize the input and separate `DAGNode` from the input upon calling `.bind()`. This is similar to how we are handling objectrefs hidden in inputs. I may be able to handle this later if this is not an urgent issue for others.

[2022-08-30 08:46] suquark opened #28163 "[DAG] The complexity of basic Ray DAG operations are exponential"
### What happened + What you expected to happen

Due to incorrect implementation, when calling `node.apply_recursive` (which is essential and basic to most DAG operations), the operation time is exponential. So it looks like running forever for even slightly bigger DAGs.

To understand what is happening, the algorithm in current code would traversing every possible paths starting between the outpu

[2022-08-30 08:48] suquark commented on #28163
I am happy to fix this later, but I am too busy for the next 3 weeks. So I just put the issue here in case I forget it.

[2022-08-30 08:56] zhifeng-huang opened #28164 "Ray serve to support many models"
### Description

The feature is to support many models in Ray serve. It is better if Ray serve can cache some of the models, and dynamically load models. I am not sure how to do this but we have many models and we want to save the loading time of the models.

### Use case

We have many many models, in the order of thousands or even more than ten thousands. We would love to use Ray Serve to serve t

[2022-08-30 08:57] zhifeng-huang commented on #28164
@edoakes this is the ticket

[2022-08-30 09:22] mirekphd commented on #28064
@wuisawesome sure, I can try a PR later this week. I even started drafting one, but lost momentum, seeing how well `GPUtil` worked (detecting datacenter GPUs spanning two generations) and realizing it may become re-included as a requirement. But I agree it is rather too old and unmaintained to be included as such.

As a starting point I could try to re-use the existing solution from the `UtilMonit

[2022-08-30 09:42] mirekphd opened #28165 "[Core] Enhance security to match H2O"
### Description

Comparison of Ray's current security mechanisms with those of H2O (see [H2O security](https://docs.h2o.ai/h2o/latest-stable/h2o-docs/security.html)) reveals several shortcomings on the Ray's side.

I think the most important issue is that the client-server API communication (on port 10001 by default) as well as the Dashboard web console (port 8265 -> 80/443) should be password-pro

[2022-08-30 14:09] peterghaddad commented on #27910
Hey @DmitriGekhtman I triggered some additional experiments with minimum resources after submitting one that required larger resources (what I posted above)

Same error, but it's only trying to place 4 CPUs for the smaller experiment.

[code]

[2022-08-30 15:30] xwjiang2010 opened #28168 "[air] clarify when to use RLTrainer"
### Description

write a session to clarify the following question, which is pretty common

Hey Ray Community, just want to do a quick knowledge check. Is there a preferred method for kicking off hyper perameter experiments with RLlib? For example, is using tune.run(“PPO”) or is it better to pass a trainable using the new trainer integration ray.train.rl.RLTrainer()? What are the major differences

[2022-08-30 15:55] jjyao commented on #27739
@WeichenXu123

You are right. Sorry for the confusion. I'll update our documentation to mention this behavior.

[2022-08-30 15:57] jjyao opened #28169 "[Core] Document the behavior that people can use VISIBLE_CUDA_DEVICES to control the GPUs a node can use"
### Description

See https://github.com/ray-project/ray/issues/27739

### Link

_No response_

[2022-08-30 15:57] #27739 closed

[2022-08-30 16:45] jjyao commented on #24969
@merrysailor thanks for the update! A reproduction with GCP preemptions is also helpful, we can try to set up the same GCP cluster and debug from there.

[2022-08-30 17:20] amogkam opened #28171 "[Tune/AIR] Reuse preprocessed dataset across all trials"
### What happened + What you expected to happen

When using Preprocessors and Datasets with Ray Tune, currently each trial independently preprocesses a copy of the dataset. However, in cases when we don't want to search over the dataset or the preprocessor, it is much more efficient to preprocess the dataset once and have the preprocessed dataset shared across trials. This reduces preprocessing ti

[2022-08-30 17:29] amogkam opened #28172 "[Train/AIR] Training large models with HuggingfaceTrainer"
Huggingface has built-in support for sharded data parallel training allowing developers to train large models.

We should look into allowing sharded data parallel in our Huggingface+Ray AIR integration. Either supporting fsdp or Deepspeed via the HuggingfaceTrainer.

[2022-08-30 17:31] amogkam opened #28173 "[Docs/AIR] Add documentation for training large models with Ray AIR"
We have a few integrations/examples for supporting training of large models with Ray AIR (being tracked here: https://github.com/ray-project/ray/milestone/95).

However, these are not easy for users to find. We should add a page in the documentation on the various ways users can train large models with AIR, and also a place to collect user feedback on model parallelism use cases.

[2022-08-30 17:38] amogkam opened #28174 "[AIR] Scale up Batch Prediction nightly test to 1 TB"
Scale up this test to 1 TB https://github.com/ray-project/ray/blob/master/release/release_tests.yaml#L297

[2022-08-30 18:09] jianoaix opened #28176 "[Datasets][Observability] Add documentation on how to read the DatasetStats"
The DatasetStats is an important part of Datasets observability to help users understand the execution of data transforms. It can be retrieved from a Dataset via Dataset.stats(). It looks the following. However, without documentation, users find it difficult to interpret and gain insights.
[code]

[2022-08-30 18:21] rkooo567 commented on #28160
[code]
It says it is "infeasible" which doesn't make sense. We should fix it immediately.

@clay4444 do you have some bandwidth to handle this? I remember you've implemented the infeasible pg before; https://github.com/ray-project/ray/pull/16188

[2022-08-30 18:36] matthewdeng commented on #25197
@amogkam going to assign this to just you for tracking purposes, but we can create separate issues and assign individual owners accordingly.

[2022-08-30 18:54] bveeramani opened #28178 "[Datasets] Use angled brackets for `Dataset` representation"
### Description

Title.

**Before**:
`Dataset(num_blocks=10, num_rows=10, schema=<class 'int'>)`

**After**:
`<Dataset num_blocks=10 num_rows=10 schema=<class 'int'>>`

### Use case

1. **It's more Pythonic**. From https://docs.python.org/3/library/functions.html#repr:

2. **It's less confusing**. For example, the current representation makes it look like you specify `num_blocks` in the `Dataset`

[2022-08-30 20:05] #28158 closed

[2022-08-30 20:37] iycheng commented on #27781
@wilsonwang371  maybe you can help this one. I think what we need to do is that:

[code]

[2022-08-30 21:41] ckw017 opened #28181 "[Client] Bump default reconnect timeout from 30 seconds to 2 minutes"
### Description

Add more logs

### Use case

_No response_

[2022-08-30 23:14] richardliaw commented on #10142
Hey there, this issue is quite stale. Can we open a new issue to track?
thanks!

On Sun, Aug 28, 2022 at 7:40 AM knilakshan20 ***@***.***>
wrote:

[2022-08-30 23:34] rkooo567 commented on #27813
So based on the error output, it is clear the dashboard replies. The failure happens from dashboard -> GCS path. I found out the current timeout is only 3 seconds which is really low (we already observed GCS can have 5+ seconds overhead when it is busy from other releases testst. Note that fixing this is in our radar). I will increase this to match the prod side client timeout (30 seconds)

Normal

[2022-08-31 00:00] jjyao opened #28191 "[Core] Document all the port configurations"
### Description

Document all the ports that can be configured in Ray. Sometimes user's cluster has strictly firewall setting so they need to specify all the ports Ray will open and listen to so they can update their firewall settings accordingly.

https://docs.ray.io/en/latest/cluster/vms/user-guides/launching-clusters/on-premises.html#manually-set-up-a-ray-cluster
https://docs.ray.io/en/latest/r

[2022-08-31 00:48] DmitriGekhtman commented on #27910
The submissions were within seconds of each other? Or back-to-back meaning you waited for one two complete before submitting another?

[2022-08-31 00:50] DmitriGekhtman commented on #27910
Also, could you share what your underlying K8s node infrastructure looks like?

[2022-08-31 01:57] DmitriGekhtman commented on #27910
Submitting three of these jobs in quick succession resulted in upscaling of 8 Ray worker pods. No errors yet -- will just let those jobs keep running for a while and then will try submitting again after they finish running and I see downscaling.

By the way, running `ray status` in the head pod could reveal useful autoscaling information.
Autoscaler logs could also be useful to see -- these logs s

[2022-08-31 02:06] andreapiso commented on #13938
Would it be possible to have a code snippet for this? Seems like distributing the data coming from a dB across multiple Ray nodes would be a really common requirement

[2022-08-31 02:35] Alxe1 opened #28194 "[Ray AIR] Load some layers of tensorflow model such as BatchNormalization layer raise pickle error"
### What happened + What you expected to happen

I write subclassed model of tensorflow and using ray air to train it. It goes well when I train my model and save it as SavedModel format. Last I want to predict my dataset using `BatchPredictor`, but unfortunately I can only load model using `tf.keras.models.load_model` but not `from_checkpoint` in the air, so I rewrite the `Predictor` and `BatchPr

[2022-08-31 02:38] richardliaw commented on #28194
This is awesome feedback. Much appreciated, @Alxe1.

@xwjiang2010 can you take a look at this when you get the chance? This is related to a previous feedback to use load_model for TensorflowCheckpoints.

[2022-08-31 03:04] DmitriGekhtman commented on #27910
I'm unfortunately not able to reproduce the issue yet -- if you could share the autoscaler's logs, that would be helpful.

[2022-08-31 03:41] peterghaddad commented on #27910
Hi @DmitriGekhtman, thank you for troubleshooting!

`back-to-back` meaning I submit 2-3 jobs at the same time about a minute apart. The first one scales, but then is unable to scale the second and third.

I ran `ray status` on the head-node and this is what I am receiving:

[code]

[2022-08-31 03:52] DmitriGekhtman commented on #27910
I wonder if it has to do with the presence of GPUs -- there is some logic in the autoscaler which tries to avoid scaling up GPU nodes for CPU tasks.

What if you set
[code]
for the head and workers?

[2022-08-31 04:09] DmitriGekhtman commented on #27910
I have a very strong hunch that this is what happened:

After upscaling a worker the first time, the autoscaler detected from the running worker's load metrics that the worker has access to GPUs.
After realizing that the worker node type has GPUs, the autoscaler tried to avoid scaling up the GPU nodes to schedule CPU tasks, which prevented all further upscaling.

In other words, it's likely an ins

[2022-08-31 04:32] peterghaddad commented on #27910
Would you look at that!

[2022-08-31 04:33] peterghaddad commented on #27910
Solved it! I appreciate all of the help.

[2022-08-31 04:51] DmitriGekhtman commented on #27910
Glad we got to the bottom of it!

Closing this as a duplicate of the underlying issue.

[2022-08-31 04:51] #27910 closed

[2022-08-31 05:30] shiranbi opened #28195 "[Core] Getting node id for usage in NodeAffinitySchedulingStrategy"
### Description

There are several solutions for my use case:
1. Passing node id as part of ray.start program argument
2. having the NodeAffinitySchedulingStrategy receive node name instead of node id
3. Changing the documentation of ray.nodes so can be used for purposes other then debug

### Use case

I am running ray cluster by running individual ray nodes in kubernetes cluster (using the follow

[2022-08-31 06:28] marcmk6 opened #28196 "[tune] official example with pytorch-lightning doesn't run normally"
### What happened + What you expected to happen

I'm running the `tune` with `pytorgh lightning` example provided [here](https://docs.ray.io/en/latest/tune/examples/tune-pytorch-lightning.html#using-population-based-training-to-find-the-best-parameters), specifically the `PBT` algorithm example.

After running for a while, there are a few trials in `ERROR` state, as shown below.
[code]

The error

[2022-08-31 07:38] etorhub commented on #21786
Indeed, this would save our lives. Very interested on this.

[2022-08-31 07:57] ddelange commented on #21786
xref https://github.com/ray-project/ray/issues/12128#issuecomment-1163980281

[2022-08-31 08:26] marcmk6 opened #28197 "[tune] tune stops to start new trials"
### What happened + What you expected to happen

`tune` stops to run new trials while all computational resources are free. The program seems dead.

The `RUNNING` trial doesn't seem running as there are no metrics get updated for a very long time. (Completing a full trial won't even take so much time.)
[code]

### Versions / Dependencies

[code]

### Reproduction script

Just run the official exam

[2022-08-31 09:32] siavash119 opened #28198 "[Core] gcs_server SIGSEGV with ray 2.0.0"
gcs_server crashing with SIGSEGV requiring me to restart the ray cluster to do anything again. Not exactly sure what's causing it yet, but I think it's to do with my use of get_actor on detached lifetime actors, but I wasn't getting this problem with ray 1.13.0. Rest of my environment exactly the same, reverting back to ray 1.13.0 fixes the issue. I'll try and see if I can get a small script to re

[2022-08-31 09:35] Alxe1 opened #28199 "[Core] After running script, the ray::IDLE processes do not stop"
### What happened + What you expected to happen

When finished running, the ray::IDLE processes do not stop automaticaly:

![image](https://user-images.githubusercontent.com/15032072/187647689-f5670646-f59e-44c9-b7ae-56734d977485.png)

### Versions / Dependencies

ray 2.0.0

### Reproduction script

No

### Issue Severity

_No response_

[2022-08-31 11:12] MrLrf opened #28200 "[Core] C++ example build success but run failed."
### What happened + What you expected to happen

After compiling the C++ example in the cpp/example directory, an error is reported when running：
`IOError: [RayletClient] Unable to register worker with raylet. No such file or directory`
![image](https://user-images.githubusercontent.com/10075150/187665750-a0a73690-e7cc-470e-a82b-84d677145a92.png)

And the raylat log reports an error：
`Check failed

[2022-08-31 14:08] starpit commented on #12080
Heya. Was this ever fixed? In 1.13.1, I am seeing that if i cancel a job while it is preparing the runtime_env, the job cancellation waits until the runtime_env preparation is done. It seems desirable for job cancellation also to cancel the runtime_env setup?

[2022-08-31 16:00] davidegraff opened #28206 "Issue on page /tune/tutorials/tune-resources.html"
**The problem**
The code snippets on this page are generally of the form:
[code]
This code a missing a closing parenthesis and will result in a `SyntaxError` if a user tries to run it. Moreover, it causes confusion with respect to where a `TuneConfig` should be placed: inside `tune.with_resources` or `tune.Tuner.__init__`?

**Suggested Fixes**
1. add the closing parenthesis:
[code]
2. indent conti

[2022-08-31 16:49] ezorita commented on #21786
+1

[2022-08-31 17:10] rkooo567 commented on #28007
<img width="628" alt="Screen Shot 2022-08-31 at 10 08 52 AM" src="https://user-images.githubusercontent.com/18510752/187738736-2cf148cf-b8a9-4bdb-a763-757551c96ad5.png">

Here's the problem as you see, it takes 30+ seconds (the timeout) to finish processing each request occasionally. We need to add more observbility into the dashboard server to figure out the bottleneck, but I think this time, it

[2022-08-31 17:17] matthewdeng commented on #28206
Thanks for flagging this! @justinvyu can you take this one?

[2022-08-31 17:48] xwjiang2010 commented on #28194
@richardliaw could you link the other feedback?

@Alxe1 Thanks for the issue! For this immediate problem, the way to avoid ser/deser problem is to distribute the AIR checkpoint to different nodes (taken care by AIR Checkpoint itself) and load_model from each individual remote actor (that does batch inference).

However, I wonder if we should also support SavedModel format in addition to model weig

[2022-08-31 18:43] pabloem opened #28211 "Ray component: Core|"
### What happened + What you expected to happen

Consider this scenario:

[code]

In this scenario, Ray will generate an error message, and terminate the Python interpreter WITHOUT FAILING. I would expect the Python interpreter to fail (maybr even better: throw a Python error and not terminate)

### Versions / Dependencies

Ray 2.0

### Reproduction script

[code]

### Issue Severity

Medium: It i

[2022-08-31 19:03] heyitsmui opened #28214 "[tune] Better locality-aware scheduling for trials to better re-use data already loaded from previous trials"
### Description

For Ray Tune runs e.g. with XGBoost Ray + Tune, we see some trials taking longer than others for actors to get ready e.g.

`(trainable pid=7084, ip=10.82.166.164) 2022-08-30 22:44:13,378	INFO main.py:1005 -- Waiting until actors are ready (240 seconds passed).`
vs.
`(trainable pid=3969, ip=10.82.166.166) 2022-08-30 22:58:30,454	INFO main.py:1005 -- Waiting until actors are ready (

[2022-08-31 19:06] heyitsmui commented on #28214
cc @krfricke

[2022-08-31 19:25] stephanie-wang opened #28215 "[core][runtime envs] Ray should respect CUDA_VISIBLE_DEVICES if set in runtime env"
### Description

The Ray scheduler will set the OS environment variable CUDA_VISIBLE_DEVICES on workers for convenience, based on which GPUs were allocated to the task or actor. However, sometimes users may want to override this themselves, e.g., through runtime environments. Unfortunately, however, the runtime environment value will get overridden by the scheduler value. For example, the followin

[2022-08-31 19:26] stephanie-wang commented on #28215
cc @architkulkarni

[2022-08-31 19:45] mvashishtha opened #28216 "[Core] log_to_driver=False does not suppress worker errors in ipython"
### What happened + What you expected to happen

When a ray task raises an error in an ipython session, I get an "Unhandled error" message in my session output after some delay (about 1 second). If I initialize ray with `log_to_driver=False` I still get the error. Setting environment variable `RAY_IGNORE_UNHANDLED_ERRORS=1` does fix the error, but I think that `log_to_driver` should suppress all r

[2022-08-31 20:39] richardliaw commented on #28194
@xwjiang2010 here -- https://github.com/ray-project/ray/issues/26933

[2022-08-31 20:53] rkooo567 commented on #12080
@starpit I guess this might be a separate issue. Do you mind creating an issue and tag me there?

[2022-08-31 20:55] ijrsvt commented on #12080
Yeah the fix for the queued tasks was fixed in the above mentioned PR, then reverted, and then landed in https://github.com/ray-project/ray/pull/13244/

[2022-08-31 21:03] lundybernard commented on #28103
Additional information:

I changed the ray worker's target address from the "redis" port `6379` to the ray head node port `10001`.  Now instead of the generic: `Unable to reach GCS at ray-head` error, I get the following GRPC error:

[code]

[2022-08-31 21:48] #28206 closed

[2022-08-31 21:50] xwjiang2010 commented on #27939
@Alxe1 I think I have responded to a similar issue to someone somewhere but couldn't find it.
The reason of this happening is that all the different training workers all try to write to the same location causing contention. This is then fixed in AIR by having each worker have a dedicated `/rank_x` folder to write to.
I would suggest you use Ray AIR trainer (and I think you are already doing that!)

[2022-08-31 22:04] xwjiang2010 commented on #28214
@Yard1
also @amogkam - along the lines of some the discussions that we had recently..

[2022-08-31 22:15] krfricke commented on #28084
Hi @atinsood, can you upgrade to Ray 2.0.0 or latest master and run this again?

I'm running it right now locally and can't reproduce the error.

The (slightly altered to match newest API) code I'm running is:

[code]

[2022-08-31 22:17] #23988 closed

[2022-08-31 22:23] clarng opened #28220 "[core] memory monitor release test"

[2022-08-31 22:25] #28220 closed

[2022-08-31 22:36] starpit opened #28221 "[Core] Job stop should terminate runtime_env setup"
### Description

In 1.13.1, I am seeing that if i cancel a job while it is preparing the runtime_env, the job cancellation waits, hangs even, until the runtime_env preparation is done. It seems desirable for job cancellation also to cancel the runtime_env setup?

I"m not sure whether you want to categorize this as a bug or feature request. Opted for the latter.

@rkooo567

### Use case

We have a

[2022-08-31 22:39] starpit commented on #28221
Btw, there is a related issue with runtime_env feedback. I realize that there is a log file that records the runtime_env progress. But there is no API to extract it. T'would be nice to have some sort of `ray job logs --all` that includes this info. Then, if terminating the runtime_env setup takes a while, at least the log would explain to the users what is going on.

[2022-08-31 22:44] zygi opened #28222 "[Core] runtime_env ray version checking fails when there's extra logging"
### What happened + What you expected to happen

I have created a ray cluster and am trying to submit a job with a runtime env. The runtime env contains one package, "wandb". When creating the env, the job crashes with the following message:

[code]

It seems what's happening is that importing `ray` after installing `wandb` causes a logging message to get printed, and ray version checking logic do

[2022-08-31 22:52] krfricke commented on #28045
Yes, this looks like a bug. Specifically for a) `np.round(1/3) = 0` and b) `np.round(4 / 1) * 1 = 4` so in these cases the limits are not correct.

Let's test for these cases in #28187

[2022-08-31 23:39] xwjiang2010 commented on #28045
cc @ilee300a

[2022-08-31 23:49] matthewdeng opened #28223 "Ray 2.0 Migration Guide"
Hi all!

There are many API changes that took place for Ray 2.0. Below is an aggregated list of different migration guides for each Ray component. If you have any questions feel free to comment on this issue.

## Core APIs
Ray Core - [Ray Core 2.0 Changes](https://docs.google.com/document/d/1dAutLMyOyUT7c2a7KQ9o1Xp3XddgxWTHQxPoEgRrRDY/edit#)

## Library APIs
Ray RLlib - [Ray RLlib 2.0 Changes](htt

[2022-09-01 00:04] CameronRutherford commented on #25234
To clarify and add to the conversation here, I think having one ray process for each GPU would work, given you avoid pmap/pjit.

Having one Ray process per node might work, but I suspect you would have issues with JAX communicating across nodes.

If you wanted to have one ray worker for more than one node with more than one GPU, what would the recommendation be there? I imagine for really large mo

[2022-09-01 01:05] DmitriGekhtman opened #28224 "[Clusters][Kubernetes] More E2E examples for Ray-on-K8s (e.g. GPU training)"
### Description

The docs currently include one machine learning example. There should be more examples.
The next example we write up should include ML training with GPUs.

Existing example guide:
https://docs.ray.io/en/latest/cluster/kubernetes/examples/ml-example.html

Reference on how to use GPUs with KubeRay:
https://docs.ray.io/en/master/cluster/kubernetes/user-guides/gpu.html

A GPU training

[2022-09-01 01:44] mbcastledine commented on #28223
I have followed this migration guide, however I am having trouble restricting tasks from running on my head node.
[code]
Have I misread the migration guide?

[2022-09-01 01:48] WeichenXu123 opened #28226 "Support launching ray cluster on spark cluster"
### Description

Support launching ray cluster on spark cluster,

Design sketch:
https://docs.google.com/document/d/11ngU2yTunli_uLlaN04WOXzfmYZi60LVNBt-6Sn3Reg/edit?usp=sharing

We can provide an API like:

(1)
[code]
Init a ray cluster on the spark cluster, the total resources of the ray cluster equals to the total resources of the sum of `num_spark_tasks` spark tasks.

After this function calle

[2022-09-01 01:50] WeichenXu123 commented on #28226
CC @jjyao :)

[2022-09-01 01:57] DmitriGekhtman opened #28227 "[Kubernetes][Testing] E2E release testing of Ray-on-K8s"
### Description

We have some CI integration tests of KubeRay running in CI using KinD.

However, we don’t yet have much automated E2E release testing for KubeRay on multi-node Kubernetes clusters.
besides this test.

That should be fixed! The precise scope for release testing is to-be-determined, but

- We should at least cover the E2E examples in the documentation.
- We should consider porting s

[2022-09-01 01:58] jjyao commented on #28226
Could you share the prototype code :)

[2022-09-01 02:01] WeichenXu123 commented on #28226
@jjyao sure

[2022-09-01 02:01] jjyao commented on #28226
I'm trying to figure out whether it needs to be inside ray codebase or it can be a third party library similar to raydp.

[2022-09-01 02:05] #28107 closed

[2022-09-01 02:15] mbcastledine commented on #28223
@matthewdeng Appreciate the quick response. I have updated my configuration as you suggested, however I still find when I submit jobs I am ending up with tasks running on my head node.

See below for my current node configuration:
head_node_type: head

[code]

[2022-09-01 03:13] robertnishihara commented on #28222
Looks like you're using Ray client. Can you confirm that you definitely have the same version of Ray on your laptop where you run the driver script as well as on the cluster?

Separately, does this get unblocked by running the driver script on the cluster? E.g., using `ray submit` or just ssh'ing to the cluster.

[2022-09-01 04:07] Catch-Bull commented on #28222
Hi @zygi,  We rely on stdout of the following command to check the ray version, the implementation here is really not very robust, I probably need a week to fix it:
[code]
I read the code of package `requests`, It should be that your `cryptography` version is too low, which caused the `requests` to print some warnings. It should be solved by upgrading it.

[2022-09-01 04:57] scv119 opened #28230 "[Data][nightly-test] datasets_ingest_400G is failing"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_DQgxh91xNpBJQGbH2zcnTXpW?command-history-section=command_history

last success commit: 11c9b1779d475f6f1d55ef63a4341d74cfb631a3
first failure commit:  bbd13ddc3361bbdd15fa93fe6ef4f30eec68b5c0

[code]

### Versions / Dependencies

master

### Reproductio

[2022-09-01 04:59] scv119 commented on #28230
@c21 if look the change, i suspect it's due to
debe0cc91f [Datasets] Re-enable Parquet sampling and add progress bar (#28021)

can you take a look?

[2022-09-01 05:13] vincent-lous opened #28231 "[RLlib] ParametricRecSys observations outside of observation space"
### What happened + What you expected to happen

I want to evaluate a PPOTrainer that I ran on a ray.rllib.examples.env.bandit_envs_recommender_system.ParametricRecSys-environment. This gives an error that the observation is outside given space.

### Versions / Dependencies

My conda environment.
[code]

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my tas

[2022-09-01 05:40] robertnishihara opened #28232 "[Runtime] Improve runtime environment error message when virtualenv version is too old"
### What happened + What you expected to happen

On my laptop (Macbook), I ran

[code]

Then in Python
[code]

This failed with

[code]

We should have a better error message with clear instructions saying that we need to upgrade **virtualenv**.

### Versions / Dependencies

I was using

- Ray 2.0.0
- virtualenv 20.0.9

Upgrading to **virtualenv 20.16.4** fixed the issue.

Running this on MacOS

#

[2022-09-01 08:04] hyoonsoo opened #28233 "[Tune] got 'FileNotFoundError' , 'Trials did not complete' error whenever model checkpointing"
### What happened + What you expected to happen

I'm training multi-agent reinforcement learning agents in 'metadrive' environment.  I have two problems.

1)  FileNotFoundError occured whenever I save checkpoints.
I think that new files are created and checkpoints are saved. By the way, why do I get an error that says there are no files in that path? that check point files are not saved yet...
And

[2022-09-01 08:05] Junphy-Jan opened #28234 "[Serve] serve run CLI command can not set host and port correctly"
### What happened + What you expected to happen

When I tried to run ```serve run serve_deployment:xx```  to deploy a http server, it worked.
But when I want to specify the host and port, it shown that:

[code]

So I can't deploy with specific host and port.

### Versions / Dependencies

Ubuntu 18
Ray 2.0
python 3.9

### Reproduction script

[code]

serve run -h 0.0.0.0 -p 8080 ray_server:translat

[2022-09-01 08:06] c21 commented on #28230
Thanks @scv119, taking a look today.

[2022-09-01 08:15] Junphy-Jan commented on #28234
I saw you solved the problem in master branch, thanks.

[2022-09-01 08:15] #28234 closed

[2022-09-01 08:19] mihajenko commented on #28047
That's surprising to hear. That's not our experience.

Yes, we are running it in k8s. I'm posting our workaround script below. How you choose to run it is up to you. We run it as the k8s Pod container command.

[code]

[2022-09-01 10:51] GuillaumeDesforges opened #28235 "[autoscaler] Link given for `kubectl create` is not found"
### Description

On page https://docs.ray.io/en/latest/cluster/kubernetes/getting-started.html it is written

However this address gives 404.

### Link

https://docs.ray.io/en/latest/cluster/kubernetes/getting-started.html#deploying-the-kuberay-operator

[2022-09-01 11:31] GuillaumeDesforges commented on #28235
My bad, it's there: https://github.com/ray-project/kuberay/tree/v0.3.0/ray-operator

[2022-09-01 11:31] #28235 closed

[2022-09-01 12:27] RaymondKoopmanschap opened #28236 "[RLlib] Fix A3CTorchPolicy producing float metrics when not using critic"
### What happened + What you expected to happen

Basically similar bug as #27980 but then for A3C.
When I use A3C and I set use_critic = False (and use_gae = False) then I get the error
[code]
After looking in the source code this makes sense to me and seems a bug.
In `ray.rllib.algorithms.a3c.a3c_torch_policy.py` line 101 the `value_err` gets assigned a value of 0.0 which is a float.
Then further

[2022-09-01 12:35] RaymondKoopmanschap opened #28237 "[RLlib] first example in RLlib - Key Concepts #Algorithms doesn't work"
### Description

In https://docs.ray.io/en/master/rllib/core-concepts.html under the heading Algorithms and selecting 'RLlib algorithms and Tune' there is this example:
[code]
Which doesn't work for several reasons.
It gives an import error: `ImportError: cannot import name 'PPOConfig' from 'ray.rllib.algorithms'`
When fixing this by replacing
`from ray.rllib.algorithms import PPOConfig` with `fro

[2022-09-01 13:21] ARDivekar commented on #3899
Pinging @robertnishihara , hopefully this issue can be reopened since users are still experiencing it?

[2022-09-01 15:12] Phirefly9 opened #28238 "[RLlib] Potentially reconsider AlgorithmConfig class/interface"
### Description

Good morning,

I've just started looking at the Rllib 1 -> 2 migration guide and noticed the section on the `AlgorithmConfig` classes.  My team currently is developing a tool (hopefully publicly released soon) that has a feature that allows users to configure an rllib 1.13 Policy through a json/yml file.

Converting this to the new AlgorithmConfig style will be incredibly difficul

[2022-09-01 15:22] micarlise opened #28239 "update to at least pyspark 3.3"
### What happened + What you expected to happen

Currently, pyspark is locked to 3.1.2.  And this uses a version 1 of log4j.  Moving to pyspark 3.3 will mitigate this issue.

https://issues.apache.org/jira/browse/SPARK-37814

### Versions / Dependencies

ray[tune] 1.13.0

### Reproduction script

install ray[tune] and check log4j jar version in `/usr/local/lib/python3.X/dist-packages/pyspark/jars.

[2022-09-01 16:21] richardliaw commented on #28239
hey @micarlise can you share more about this?

Ray doesn't depend on pyspark...

[2022-09-01 16:30] jiaodong opened #28241 "[AIR] Improve tensor movement from host RAM to GPU"
### Description

In our recent profiling of a production recsys model using TF with the following data:

[code]

` tf.data.Dataset.from_generator` is responsible for moving data from host memory to GPU. With dummy for loop consumer we can see our batch delay time doubled between iter_batches (numpy) and iter_tf_batches(tf.Tensor)

P50/P95/Max batch delay (s) 3.8185287429996606 11.332880855199615 1

[2022-09-01 16:53] rkooo567 opened #28242 "[Nightly test] chaos_dataset_shuffle_push_based_sort_1tb fails 5/3 by the RPC failure to"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_18YK5Pj8tmfCFG5cW6v7XJh3?command-history-section=command_history

[code]

### Versions / Dependencies

master

### Reproduction script

N/A

### Issue Severity

_No response_

[2022-09-01 16:53] rkooo567 commented on #28242
cc @jjyao @stephanie-wang can you guys help finding the owner of this test to fix?

[2022-09-01 17:02] rkooo567 commented on #27710
@jianoaix this seems to happen again https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_nFN2tsEhrQeCR4acssR35Dmm?command-history-section=command_history

[2022-09-01 17:46] micarlise commented on #28239
Hi @richardliaw I'm working on double checking this (maybe it's a different dependency in our requirements file).

Why is pyspark in python/requirements.txt: https://github.com/ray-project/ray/commit/1bb2b1fc49b2ad5efc2aeb3b7ea8a7db8ff6782b

[2022-09-01 18:10] matthewdeng commented on #28223
Hey @mbcastledine actually can you instead create a new issue to track this issue? And in that include what setup you previously used to get it to work? Thanks.

[2022-09-01 18:24] stephanie-wang commented on #28242
This is a known issue with the `ray memory` command when there are lots of objects.

[2022-09-01 18:38] micarlise commented on #28239
Closing this bug.  Doing:

[code]

no pyspark in site-packages. Sorry for the mistake issue.

[2022-09-01 18:38] #28239 closed

[2022-09-01 18:41] richardliaw commented on #28239
No problem! For reference, requirements.txt is for us to test other optional integrations in our CI. Sorry for the confusion -- let us know if we can be helpful in any other way.

[2022-09-01 18:56] micarlise commented on #28239
@richardliaw that makes sense.  It was a red herring on our part, we had a container that scanned to log4j, and just did find pyspark and that req file came up.  I should have looked closer before putting up an issue.  Appreciate the turn around on this (we can continue to use rays!) 😄

[2022-09-01 20:43] jiaodong commented on #28044
Do you have a minimal script for us to reproduce or more context / snippets for us to better understand your workload ?

[2022-09-01 21:38] scv119 commented on #28242
let's add a try catch around it so it doesn't fail? separately does the new ray observability API fix the problem?

[2022-09-01 21:44] stephanie-wang commented on #28242
Yeah, that sounds good! I'll take this one.

Not sure if the new APIs have the same problem, I think we just need to paginate the results to avoid the issue. Probably we should deprecate the old `ray memory` command and/or swap out the implementation.

[2022-09-01 22:05] simon-mo commented on #28215
Prior stab at this issue: https://github.com/ray-project/ray/pull/17847

[2022-09-01 22:38] jjyao opened #28252 "[Core] Resource availability accounting issue when hitting the max starting worker cap"
### What happened + What you expected to happen

When a task cannot be scheduled due to hitting the max starting worker cap, the resource is not proactively subtracted, which means the raylet may accept more tasks than it can handle.

### Versions / Dependencies

master

### Reproduction script

N/A

### Issue Severity

_No response_

[2022-09-01 22:41] Martin4R opened #28253 "[Core] runtime_env remote URI authentication issue"
### What happened + What you expected to happen

I tried to use remote URLs in working_dir and py_module params of runtime-environments to download zip files from a private GitLab package registry. I did this with the fruit-example of Ray Serve with KubeRay.

The way mentioned in the documentation is to use HTTP-Basic authentication directly in the URL (see https://docs.ray.io/en/latest/ray-core/h

[2022-09-01 23:14] scv119 opened #28254 "[Data] split dataset tests for both flaky CI and nightly test dashboard from core"
### Description

as title.

### Use case

_No response_

[2022-09-01 23:15] scv119 commented on #25774
@cadedaniel @jjyao we should fix this as part of grpcio hang investigation.

[2022-09-01 23:17] #26136 closed

[2022-09-01 23:19] #27631 closed

[2022-09-01 23:19] #27634 closed

[2022-09-01 23:27] scv119 commented on #20933
@iycheng do you have bandwidth to fix this for 2.1?

[2022-09-01 23:28] scv119 commented on #20618
@stephanie-wang do you think we should do it in 2.1?

[2022-09-01 23:30] scv119 commented on #28000
@suquark did we document this?

[2022-09-01 23:33] #23746 closed

[2022-09-01 23:34] #23881 closed

[2022-09-01 23:36] scv119 commented on #23947
https://docs.ray.io/en/master/ray-observability/state/state-api.html should have it now :)

[2022-09-01 23:39] #24021 closed

[2022-09-01 23:40] #24078 closed

[2022-09-01 23:40] #24081 closed

[2022-09-01 23:41] #24097 closed

[2022-09-01 23:41] scv119 commented on #24097
@jeromeshan let's ask this question in https://discuss.ray.io/

[2022-09-02 00:03] zygi commented on #28222
Hmm, I had expected the "cryptography" version upgrade to work but for some reason it doesn't! Looking at the code of `requests` ( https://github.com/psf/requests/blob/main/requests/__init__.py#L96 ), the threshold version is 1.3.4 . But the version the code should be using already is higher!

On head:
[code]

Inside runtime_env in a job:
running this prints "2.8"
[code]

But, running this throws

[2022-09-02 02:13] c21 commented on #28230
Confirming this is Parquet sampling issue (some PyArrow weird behavior causing this ...), and I put up a fix https://github.com/ray-project/ray/pull/28258 and hopefully it should fix the issue for good, and prevent future issues.

[2022-09-02 03:23] #27059 closed

[2022-09-02 03:24] #26910 closed

[2022-09-02 10:23] Alxe1 opened #28262 "[Ray DATA] preprocessor OneHotEncoder AttributeError: 'ClientObjectRef' object has no attribute 'exec_stats'"
### What happened + What you expected to happen

I preprocess data using ray.data.preprocessors `OneHotEncoder`，I followed the normal progress:
[code]
When it transforms the ray dataset, it raised an error:
[code]

The ray dataset is converted by pyspark dataframe(Because of using spark 2.4.6, I can not use raydp, so I convert pyspark dataframe myself):
[code]

The code can print the ray dataset,

[2022-09-02 12:30] tanmaychimurkar opened #28265 "[RLlib] Duplicate standard and custom metrics"
### What happened + What you expected to happen

### What happened?

This issue extends on the issue mentioned in https://github.com/ray-project/ray/issues/24731

I also had a similar case of logging my custom metrics in tensorboard, and I came to notice that some of the standard metrics alongside my custom metrics are also being logged twice.

For e.g.: the metric `episode_reward_mean` is logged

[2022-09-02 13:36] mgerstgrasser opened #28266 "[RLlib] SimpleQ ignores lr_schedule"
### What happened + What you expected to happen

The SimpleQ algorithm accepts `lr_schedule` as a key in its configuration, but it appears that it doesn't do anything with it. Given that the key is accepted in the config, I would expect that it would vary the learning rate according to the schedule set there. Or if this is not meant to be supported, then I would expect the algorithm to fail or at

[2022-09-02 14:21] lundybernard commented on #19834
same error on docker-compose, latest rayproject/ray docker image, command: `ray start -v --head ...`

[2022-09-02 14:31] matthewdeng commented on #28262
Hey can you try this? Looks like the unresolved metadata is being passed into the `DatasetStats` constructor.
[code]

[2022-09-02 14:55] chengscott opened #28267 "[tune] pb2 np.sqrt takes a negative input"
### What happened + What you expected to happen

`venv/lib/python3.9/site-packages/ray/tune/schedulers/pb2_utils.py:102: RuntimeWarning:invalid value encountered in sqrt`
np.sqrt should not have a negative input
in line [101](https://github.com/ray-project/ray/blob/master/python/ray/tune/schedulers/pb2_utils.py#L101), if `m.X.shape[0]` is less than 3, `beta_t` would be negative

### Versions / Dep

[2022-09-02 15:04] jovany-wang opened #28268 "[Ray Tune] Add a flag to output progress info to log file instead of standard out."
### Description

![image](https://user-images.githubusercontent.com/19473861/188177548-be51150f-176d-4a4d-b124-93855bd45c53.png)

We found too many progress info in `driver.out` file which causes out of disk. While we do the training for a long time, driver.out has too many out of date progress info, which cannot be rotated and archived due to we use `print(progress_str)` instead of logging.

I'd

[2022-09-02 15:06] jovany-wang commented on #28268
I'm not sure who is the best one to take a look at this. so please @gjoliver and @rkooo567 to triage it.

[2022-09-02 15:43] krfricke commented on #28084
Actually, after running for a bit longer, I can reproduce this after all:

[code]

Looking into it... also cc @Yard1

[2022-09-02 15:45] krfricke commented on #28084
@Yard1 presumably we need to do something similar to this: https://sourcegraph.com/github.com/huggingface/transformers/-/blob/src/transformers/integrations.py?L271

[2022-09-02 15:56] Alxe1 commented on #28262
Solved it. Thank you very much!

[2022-09-02 16:19] richardliaw commented on #28262
Great to hear! @Alxe1 could you share more about what you're trying to do with Ray and Spark?

[2022-09-02 16:52] matthewdeng commented on #28267
@justinvyu should this just be `beta_t = max(beta_t, 0)`?

Secondary to this, I took a quick look at https://arxiv.org/pdf/2002.02518.pdf and saw them use `βt = c1 + log(c2t)`, so maybe this is wrong in the first place?

[2022-09-02 17:03] rkooo567 commented on #19834
@lundybernard is this also on Windows?

[2022-09-02 17:44] lundybernard commented on #19834
no, this is on Macintosh M1 OSX, the container is running on `platform: linux/amd64`

[2022-09-02 17:44] lundybernard commented on #19834
no, this is on Macintosh M1 OSX, the container is running on `platform: linux/amd64`

[2022-09-02 17:57] rkooo567 opened #28272 "[Core] chaos_dask_on_ray_large_scale_test_no_spilling hanged without any error message."
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_izVRnU4vQZrkg6S7gyChRTtU?command-history-section=command_history

Looks like the script hangs for a long time and was killed without any explicit error or hints.

### Versions / Dependencies

master

### Reproduction script

Run the test

### Issue Seve

[2022-09-02 17:57] rkooo567 commented on #28272
cc @jjyao can you help finding the person to investigate this?

[2022-09-02 18:02] Matkicail commented on #28237
Yeah, I had the exact same issue trying it out today

[2022-09-02 18:09] rkooo567 opened #28273 "[Core] dataset_shuffle_random_shuffle_1tb failed with OOM killer"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_SZHAAt92EMwZJf1ndBXfLUCS?command-history-section=command_history

Note that there was an issue with Ray OOM killer that causes the segfault, but it was fixed by @clarence-wu

Another issue is that the fact that OOM killer was triggered means there's som

[2022-09-02 18:13] matthewdeng commented on #28268
Hey @jovany-wang would reducing the frequency of reporting help? If so you may want to look at configuring the [ProgressReporter](https://docs.ray.io/en/master/tune/api_docs/reporters.html#tune-reporter-doc) to print less frequently and/or with less verbosity.

cc @xwjiang2010 on  the possibility of reusing the existing `log_to_file` or adding similar logic for overall progress reporting.

[2022-09-02 18:18] clarng commented on #28273
the segfault is addressed by this PR https://github.com/ray-project/ray/pull/28271

[2022-09-02 18:33] rkooo567 commented on #28273
Let's close it when the segfault is addressed. According to @stephanie-wang the test itself is written in a way it triggers OOM (so that it can test app-level fault tolerance)

[2022-09-02 20:11] #27001 closed

[2022-09-02 22:38] Yard1 commented on #28084
The workaround for now is to load datasets/metrics inside the `trainer_init_per_worker` function, as is done in examples.

@krfricke I'll get on that!

[2022-09-02 22:56] joncarter1 opened #28276 "[Core] Secure Env Variables"
### Description

When sharing a Ray cluster with other users, it can be useful to inject secrets into the Ray runtime environment.
e.g. `runtime_env={"env_vars": {"MY_SECRET": "MY_SECRET_VALUE"} }`
Here `MY_SECRET` could be an API key for communicating with an external service from within the job.

However, the Ray runtime environment is currently logged to `logs/ray_client_server.err` and possibl

[2022-09-03 01:06] Alxe1 commented on #28262
All my data in hive data warehouse, and I should use spark sql to read or join tables as output, and then use spark to preprocess data such as string indexing, bucketizing, one-hot encoding and so on. I find some preprocessors in Ray are more efficient than spark, but Ray only have a few preprocessors, so I should  get use of them. And most importantly, I can use Ray to train and test deep learnin

[2022-09-03 03:13] jjyyxx commented on #25615
@richardliaw @sven1977  Sorry for the disturbance, but the potential bug persists in Ray 2.0.0 release. In our recent experiment with PPO, simply changing
[code]
to
[code]
leads to a steady memory leak, which causes OOM on a 32GiB RAM machine in 35M environment interactions. `'framework': 'tf'`, on the other hand, has constant memory usage.

A simple TensorFlow 2 training loop (without RLlib, e.g.

[2022-09-03 07:40] mirekphd commented on #13905
I think Ray needs a method to clear the queue of unwanted actors. Both in the API and in the Dashboard. I can open a new Issue if you like, but the reason is the same as in this issue: the actors queue gets filled after model training, and you cannot make a prediction, because all CPU resources (of which none is actually used) remain locked (until client python kernel restart).

[2022-09-03 07:42] mirekphd commented on #13905
Notice that small caps "cpu" and "gpu" are not affecting CPU / GPU settings at all... see what happens if you pass a small-cap "cpu" key in a dict to the `resources_per_trial` argument, while at the same time setting 'num_cpus' argument to 1:
[code]
Ray expects all-caps keys ("CPU" and "GPU") in the dict passed to `resources_per_trial`, but if you pass them, it rejects them in favor of the  'num_c

[2022-09-03 08:04] richardliaw commented on #28262
thanks that's great to hear!

which preprocessors would you like us to add in Ray?

[2022-09-03 09:58] XuehaiPan commented on #28169
I think it should be `CUDA_VISIBLE_DEVICES` (rather than `VISIBLE_CUDA_DEVICES`).

[2022-09-03 10:54] XuehaiPan commented on #17914
This can be resolved by installing `GPUtil`:

[code]

https://github.com/ray-project/ray/blob/a31be7cef19502d8e9e2e869e5c8684f919ce66f/python/ray/_private/resource_spec.py#L282-L288

------

Any plan to get CUDA devices from `libcuda.so` directly as I posted in https://github.com/ray-project/ray/issues/17914#issuecomment-1185719516? I can create a PR for it.

`ray` would respect `CUDA_VISIBLE_DEVI

[2022-09-03 11:56] Alxe1 commented on #28262
One important preprocessor I think is continuous features K-bins discretization, and others such as TF-IDF, binarization transform also take a place. :)

[2022-09-03 13:20] XuehaiPan commented on #28064
This would resolve the issue:

- #17914

See also: https://github.com/ray-project/ray/issues/17914#issuecomment-1236095136

[2022-09-04 09:46] mirekphd commented on #8166
Note that since July 2021 this exact setting of 1000 ms won't work, as it was hard-coded as a new default in order to reduce pressure on the GCS server:
https://github.com/ray-project/ray/commit/ef195e5108effd9afb857d7ea02c359c8dd614d6#diff-66e8718c71d8ec5383a5cc83b0ade4d1aa8bad17d7ced811928bb666b4b63165L30

See also the reasoning:
https://github.com/ray-project/ray/pull/14203#issuecomment-8024495

[2022-09-04 09:57] AJSVB opened #28283 "[RLlib nan value error in compute gradient policy with PPO& large state and action space]"
### What happened + What you expected to happen

I assume the error is related to the state space or action space being relatively large. I could reproduce the error with two steps per episode (self.max) or more.
Obviously, I checked that the observation check does not contain nans.
[code]

### Versions / Dependencies

Python 3.9.4
torchvision 0.12.0+cu115
torch 1.11.0+cu115
ray 2.0.0
Ubuntu 20.04

[2022-09-04 10:09] mirekphd commented on #8166
And this is some explanation why the undocumented `ray start --system-config` (still) works:
https://github.com/ray-project/ray/pull/13860#issuecomment-1236303419

[2022-09-04 10:53] mirekphd commented on #10585
That's not true, at least not in the official `library:ubuntu` containers:
[code]

[2022-09-04 12:07] Armanasq opened #28284 "[Ray Tune] Multiple Errors After Increasing Number of Iterations or Scale Up the Model"
### What happened + What you expected to happen

I am trying to optimize the hyperparameter (keras model)
When I increased the hidden size of each layer (100,200), I got multiple errors, but with the exact code and just the smaller size of the layers, the code ran without any errors.

Errors;

As I mentioned before, It just happened when I an increasing the number of iterations or hidden layer siz

[2022-09-04 21:32] volks73 commented on #26039
@edoakes I have changed to using `server.start` from within our driver Python script instead of in the entrypoint shell script for our docker container. I also bumped to Ray v1.13.1. Our log statements have returned, but now we are getting massive number of log statements from Ray Serve actors.

Following the documentation for Ray v1.13.1 on [silencing replica-level logs](https://docs.ray.io/en/re

[2022-09-04 22:17] volks73 commented on #26039
I am also getting duplicate log statements if the level of the statement is `INFO`:

[code]

Interestingly, shouldn't the `DEBUG` statements be hidden since this is from the `ServeReplica` and the level was set to `ERROR` based on the documentation and previous comment?

[2022-09-04 22:54] volks73 commented on #26039
Small update, I have tried adding a filter and various combinations of getting the `ray.serve` logger. Nothing I do will remove the following example message:

[code]

I looked at the Ray v1.13.1 source code. The relevant file is `ray/python/ray/serve/http_proxy.py`. The log statement is created at Line 310 to 317. The logger is using `ray.serve` for the name. I verified I am getting the `ray.serv

[2022-09-05 03:10] AishuaiYao commented on #19938
this method can solve my problem

[2022-09-05 03:15] jovany-wang commented on #28268
@matthewdeng  @xwjiang2010 Could we prioritize it?  We have been suffering from it in Ray-1.4. And I found it's still not fixed in latest version.

[2022-09-05 04:23] SongGuyang commented on #28222
@zygi Can you run and show the output of the command?
[code]

I think this is a bug which we should fix. As what @Catch-Bull said above, we didn't consider very well when we parse the stdout of the command. And When some unknown messages appear in the stdout, the version of ray will fail to be parsed.

Can you wait for us to fix it and try it again by a snapshot ray wheel?

[2022-09-05 07:05] #28200 closed

[2022-09-05 08:00] Catch-Bull commented on #28222
I will fix it this week.

[2022-09-05 09:21] WeichenXu123 commented on #28226
@jjyao I created a public repo: https://github.com/WeichenXu123/ray-on-spark

I hope the code can be merged to ray project, so that it can be well maintained.
The core code is in this file https://github.com/WeichenXu123/ray-on-spark/blob/main/rayonspark/core.py
it is very short, so merging it into Ray repo won't bring too much maintenance burden.

[2022-09-05 10:14] RaymondKoopmanschap opened #28289 "[RLlib] Resuming from checkpoint with DQN and epsilon greedy let timesteps start from 0 again"
### What happened + What you expected to happen

The bug
I start my code with a DQN algorithm and epsilon greedy with resume="AUTO" and checkpointing each iteration. Then I let it run for say 5 iteration stop it and start it again which resumes the checkpoint but the epsilon starts at 1 again because the timesteps start from 0 again.
In my experiments the performance also completely collapses and

[2022-09-05 16:05] ankur6ue commented on #28216
Having the same issue and this is very annoying. log_to_driver=False does nothing and the console is full of ray system logs making it impossible to see the logs emitted by application code. How to disable Ray system logs??

[2022-09-05 17:04] AJSVB commented on #28283
This seems related to #637

[2022-09-05 17:28] ArturNiederfahrenhorst commented on #28289
Hi @RaymondKoopmanschap thanks for reporting this! I can not reproduce the exact behavior that you are describing.
But I know that if you run your experiments in a CLI, Ctrl+C will be caught by tune the first time you send the signal to create appropriate checkpointing. If you now press Ctrl+C again a couple of times (like many of us do by habit), Tune will not properly manage checkpoints. Therefo

[2022-09-05 18:01] RaymondKoopmanschap commented on #28289
Thanks for your reply. As an important note, the iterations didn't start at 0 but it resumed at the correct iteration. Just the timestep which is used to determine the epsilon is not set correctly. So it doesn't start from scratch again, only some variable did. So it does stores from the correct lastly saved checkpoint.

For me even if I press CTRL+C once and then after say 1 second another time t

[2022-09-05 18:21] ArturNiederfahrenhorst commented on #28289
On my side, it will resume at 5000 until it arrives at 6000. After that it will go back to counting from 1000. So the first 1000 timesteps look as if everything works fine and then it breaks. I'll look into it further.

[2022-09-05 19:01] ArturNiederfahrenhorst commented on #28289
Hi @RaymondKoopmanschap , this is indeed a bug. Behaviour is indeed dependant on the algorithm, because the global timesteps is calculated and synchronized in the training step functions. I'll write a fix.

[2022-09-06 00:01] robertnishihara commented on #28222
Thanks @Catch-Bull is there a good workaround for now?

[2022-09-06 02:22] lalalapotter commented on #14098
I encountered a similar problem during use. I checked the PR #14435, and the relevant code has been removed in the latest branch. Did you retry in the higher-level code?

[2022-09-06 03:12] SongGuyang commented on #28222
Modify the code https://github.com/ray-project/ray/blob/master/python/ray/_private/runtime_env/pip.py#L190 to skip it temporarily?

@zygi you can change the exception to be an warning log: `raise RuntimeError` -> `logger.warning`

Your source code is located in /home/ray/.local/lib/python3.10/site-packages/ray/_private/runtime_env/pip.py

But it is not a good way because you should modify it in al

[2022-09-06 03:28] LeZhengThu opened #28292 "[tune] How to run multiple trials in parallel?"
I'm following the official example code `https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/async_hyperband_example.py` to configure my tuning process. I have 12 cpus, and I set CPU resource per trial to 1, just like the example above, except that I have a GPU.
[code]
After I run the code, it shows `Number of trials: 18/100 (17 PENDING, 1 RUNNING)`. I have two questions, one i

[2022-09-06 03:51] jjyao opened #28293 "[Core] Actor methods will be modified for tracing even if tracing is not enabled."
### What happened + What you expected to happen

Currently actor methods will be modified to add `_ray_trace_ctx` to method signature and get wrapped even if tracing is not enabled. Apparently not all actor methods support that and will fail if they don't support inspect signature. See https://discuss.ray.io/t/error-while-creating-actor-class/7323 for more details.

### Versions / Dependencies

ma

[2022-09-06 05:00] clarng commented on #25676
We have added isort (organize python imports) to some directories. The rest are behind a blacklist and we should be able to remove them from the blacklist using the following steps

1. Remove the directory from blacklist in .isort.cfg  (skip_glob entry)
2. Run ./scripts/format.sh

[2022-09-06 06:14] proboscis opened #28294 "[xlang] calling ray.init with address and job_config parameters throws TypeError"
### What happened + What you expected to happen

# The bug
When trying to call java from python following the [instruction](https://docs.ray.io/en/latest/ray-core/cross-language.html),
calling ray.init with a remote cluster head address and a job_config parameters will throw a TypeError.

# Expected Behavior
ray.init connects to the cluster successfully with job_config parameter specified.

# Logs

[2022-09-06 08:06] krfricke commented on #28292
The number of trials running in parallel is limited by the least available resource, and this is your GPU in that case. Since you only have 1 GPU, you can only run one trial in parallel. If you use `{"cpu": 1, "gpu": 0.5}` you should see 2 parallel trials, etc. In this case, please make sure that your GPU memory is large enough to fit that many models on it (with the basic example you linked this

[2022-09-06 08:43] LeZhengThu commented on #28292
@krfricke Thanks for the reply. According to your reply, does `{"cpu": 1, "gpu": 0}` mean that all the trials will be executed in cpu rather than gpu?

[2022-09-06 09:43] EricSteinberger opened #28296 "ray.wait causes silent crashes on actors"
### Description

Hi, long-term ray user here -- great work with the framework!

We find that ray.wait causes silent crashes. See minimal repro below

[code]

Thank you!

### Use case

I think this is applicable broadly. For large-scale ML workloads, it's desirable to know when an actor method failed and how. We can of course substitute with ray.get but this will lead to silent errors -- very bad.

[2022-09-06 09:59] vale981 opened #28297 "Grammatical Problem in error message."
https://github.com/ray-project/ray/blob/e9755d87a641b02daf82604ef23ce09647158cd4/src/ray/gcs/gcs_client/global_state_accessor.cc#L358

Apart from the grammatical issue, I fail to understand what the problem is. While I receive this error message on SLURM it does not seem to lead to any problems.

[2022-09-06 14:51] #28297 closed

[2022-09-06 14:58] Seanny123 commented on #22125
In case anyone else is searching for more info on `ray.connect` after looking at the [Ray 2.0 Core Migration Guide](https://docs.google.com/document/d/1dAutLMyOyUT7c2a7KQ9o1Xp3XddgxWTHQxPoEgRrRDY/edit#):

In both the linked doc and this issue, `ray.connect` refers to `ray.util.client.ray.connect` which is also called by `ray.util.connect`. Both use cases are supposed to be replaced `ray.init()`

[2022-09-06 15:06] krfricke commented on #28233
Ray 1.2.0 is very old (over 1.5 years now), so many fixes have been implemented since then.

However, for the specific file not found error, this seems to be a filesystem issue on Windows. The path `C:\Users\user\PycharmProjects\metaCoPo\CoPO\copo_code\copo\TEST0901\CoPO_CCMultiAgentIntersectionEnv_0448b_00005_5_env=CCMultiAgentIntersectionEnv,start_seed=10000,seed=0,use_centralized_critic=Fals_20

[2022-09-06 15:23] Yard1 opened #28301 "[AIR] K-Bins discretizer"
### Description

K-bins discretization is a common preprocessing method currently not available in Ray AIR.
https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.KBinsDiscretizer.html

### Use case

_No response_

[2022-09-06 15:25] Yard1 opened #28302 "[AIR] TF-IDF preprocessor"
### Description

TF-IDF is commonly used in NLP and has other uses. An AIR preprocessor would be useful. See https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html?highlight=tf+idf#sklearn.feature_extraction.text.TfidfTransformer

### Use case

_No response_

[2022-09-06 15:52] krfricke commented on #28292
That's right - in the linked example GPU usage is not configured anyway (there is no training happening).

To be clear, `"gpu": 1` means that 1 GPU will be made _available_ to the trial - but the trial still has to then use it. Usually this requires e.g. to set the torch or tensorflow device.

[2022-09-06 15:53] mvashishtha commented on #28216
@simon-mo could you please take a look? I marked the priority as "low" because the issue doesn't affect correctness or performance, but the issue does annoy me a lot.

[2022-09-06 15:59] krfricke commented on #28063
Closing this since it seems to be a configuration issue.

[2022-09-06 15:59] #28063 closed

[2022-09-06 16:00] krfricke commented on #26802
Closed by #28155

[2022-09-06 16:00] #26802 closed

[2022-09-06 16:18] krfricke commented on #28197
Does this always happen for you? Can you use `py-spy` to see where exactly the program is hanging?

[2022-09-06 16:33] krfricke commented on #28196
I'll try to reproduce this this week. This shouldn't happen but maybe there is a bug if an old checkpoint is loaded for some reason.

[2022-09-06 16:45] stephanie-wang opened #28305 "[CI] `linux://python/ray/tests:test_cancel` is failing/flaky on master."
- ea6d53dbf35a56bb87ecdfa2cc23bc9518a05f15 FAILED [Buildkite :redis: (External Redis) (Medium A-J)](https://buildkite.com/ray-project/ray-builders-branch/builds/9723#018311de-b925-4f11-b74f-4149fa23f978)
- 10e9422f8fe91c150083be24c4113c7f784cd487 FAILED [Buildkite :python: (Medium A-J)](https://buildkite.com/ray-project/ray-builders-branch/builds/9721#01830fac-9902-42cf-adc8-298829948761)
- 10e942

[2022-09-06 16:45] stephanie-wang commented on #28305
@clarng, could you look into this?

[2022-09-06 16:53] clarng commented on #28305
[code]

[2022-09-06 16:54] clarng commented on #28305
ran this locally on linux and could not reproduce the flakiness, checking the code and ci

[2022-09-06 17:04] mirekphd commented on #3628
I did try this intuitive approach first (and increased nearly all sorts of system parameters using `ray start --system-config`), but it wasn't addressing the root cause, only its symptoms, so it did not help prevent head node's eventual demise:

[2022-09-06 18:07] datonefaridze opened #28307 "How to use rllib on image data"
Hello, I have been searching thought your documentatio, trying to figoure out how to use DQN or any other network whose inputs are images instead of states. I want to use CNN, is it possible to do it?

[2022-09-06 18:30] simon-mo commented on #28216
@mvashishtha thanks for the ping. This is partially the expected behavior because log_to_driver is about your (user side) worker's print and logs. The unhandled error is propagated through the Ray system logs. There _might_ be a place to silence it, or apply this flag. @scv119 can you help triage?

[2022-09-06 18:38] architkulkarni commented on #28222
@zygi To answer the question, it's running in the same environment that it would be running in without using `runtime_env`; the `wandb` package is just installed on top using `virtualenv`.  So the `cryptography` version might not be the issue.

To be sure about the warning, can you try the command at https://github.com/ray-project/ray/issues/28222#issuecomment-1236527176?  It should print the full

[2022-09-06 19:32] jiaodong opened #28309 "[RFC][Model Parallelism] Ray for large model distributed training and inference"
## User survey

**Please fill out our full user survey form if you're interested: https://forms.gle/7wU1taUSVGTvwYFRA**

## Context

As we recently learned from users of Ray Summit, slack, and the community, there's an emerging demand for large model and model parallelism that we would like to scope out, investigate and start investing to make Ray better suited for large models for the future. Thi

[2022-09-06 20:53] mihajenko commented on #26568
@rkooo567 @architkulkarni The symptom persists on ray 2.0.0 with our setup. That is, the dashboard.py Python memory keeps growing. Although I am unsure if it only affects heap Python memory.

[2022-09-06 21:01] gjoliver commented on #28268
@xwjiang2010 @krfricke
let's standardize on whether we should logger.log() or print() these outputs everywhere.
also, for convenience, it may be awesome if we can turn a flag on to write to both places when needed.

[2022-09-06 21:06] stephanie-wang opened #28311 "[core] Make custom event profiling public"
### Description

The API to add custom events to the task timeline is currently private. It would be great to make this public and document it so that users can add their own application-specific events to the timeline.

[code]

### Use case

_No response_

[2022-09-06 21:11] justinvyu commented on #28267
Yup this looks wrong. After we make the `beta_t = c1 + log(c2 * t)` fix, then the beta_t will still only be negative for the first two timesteps (where the model has only been trained on 1/2 hyperparam configs).

If we set `beta_t = max(beta_t, 0)`, then we will be setting the exploration part of the UCB score to 0 for the first 2 iterations of the algorithm. This should be fine since that's basic

[2022-09-06 21:49] architkulkarni commented on #28232
This should become much rarer after https://github.com/ray-project/ray/pull/27906, though a similar issue could still occur if any Ray python package dependency is out of date.  One way to further improve the error message would be to check all installed package versions against Ray's `requirements.txt` at runtime.

[2022-09-06 22:51] shrekris-anyscale opened #28312 "[Serve] `serve run` doesn't update `host` and `port`"
### What happened + What you expected to happen

Two users on the Ray Slack ([user 1](https://ray-distributed.slack.com/archives/CNCKBBRJL/p1662014917984469), [user 2](https://ray-distributed.slack.com/archives/CNCKBBRJL/p1662476823430989)) reported that `serve run` fails to set `host` and `port`.

`serve run` should set `host` and `port` successfully on a fresh Ray cluster.

### Versions / Depend

[2022-09-06 22:58] cadedaniel commented on #27299
Repro'd. I see an interesting error message when installing `grpcio==1.48.0` on Ubuntu, dumping here to take a look later
[code]

[2022-09-06 23:10] cadedaniel commented on #27299
It looks like grpcio yanked 1.48.0 from PyPi, see https://github.com/grpc/grpc/issues/30446#issuecomment-1201487343. If I install grpcio 1.48.1, the hang no longer reproduces.

@scv119 @jjyao I think the hang issue is not due to Ray -- it's because grpc shipped a bug causing hangs in multithreaded libraries. Want to brainstorm ways to harden our processes against this in the future? The bug was or

[2022-09-06 23:11] architkulkarni commented on #26568
Thanks for the update and sorry for the delay, we'll try to fix this soon!

[2022-09-06 23:23] architkulkarni opened #28316 "[Jobs] Run jobs tests on Windows"
### Description

Currently these are only run on Linux.  See https://github.com/ray-project/ray/pull/27020#issuecomment-1229264577 for details and an investigation into what it would take to run these on Windows.

### Use case

_No response_

[2022-09-06 23:38] xwjiang2010 commented on #28268
@jovany-wang Can you say more about what is the issue?

Are you bothered by the amount of progress information or the fact that it cannot be easily rotated? Put it another way, do you prefer less information per progress_str, less frequency or just a way to archive older and less relevant progress_str (to avoid running out of space)?

Also can you say more about how changing to `logger.log()` can

[2022-09-07 00:12] iycheng commented on #28116
[code]
I think it says very clear that it's object ref. You should ray.get to get it.

[2022-09-07 00:12] #28116 closed

[2022-09-07 00:25] dbczumar commented on #28226
@jjyao @ericl Any feedback here? We'd love to contribute this capability to the Ray repository.

[2022-09-07 00:29] chengscott commented on #28267
Both `beta_t` implementations are meaningful in UCB since they only affect the exploration in the first 2 iterations.
I would vote for the latter since equation (5) suggests that `beta_t>0`, and I believe the +log term meant to increase exploration logarithmically, but that term accidentally became negative.

[2022-09-07 00:35] #28159 closed

[2022-09-07 00:57] cadedaniel commented on #25779
I'm looking into this in my spare time. I've reproduced it and, interestingly, the issue only repros when the task takes an argument _and_ returns data. Furthermore, the amount of memory leaked per invocation+`gc.collect()` cycle increases proportionally to the size of the argument (not the return value). This indicates that Ray leaks the argument.

[code]
In this test, the size of the task argume

[2022-09-07 01:07] LeZhengThu commented on #28292
@krfricke  Thank you, that's very helpful. And after I set `{"cpu": 1, "gpu": 1/5}`, 5 cpus are used during tuning as well, which is great. I'll close this issue now.

[2022-09-07 01:07] #28292 closed

[2022-09-07 01:27] jovany-wang commented on #28268
This is the root cause I believe.

Firstly we should get a consensus on the point, that `printing to driver.out` is hard to rotate but the rotation of logger is already configured.
In Ant production environment, rotated files could be archived automatically.(I believe most of the production environments has the capability).

YES. I'm not sure if we setup it in OSS Ray, but at least we did setup it

[2022-09-07 01:47] hellofinch opened #28320 "[Core] timeline doesn't show all infos."
### What happened + What you expected to happen

I try to use `ray.timeline` to follow the script. I want to how ray works. I review the coda about `ray.get` and `ray.put` and `ray.remote`. There is profiling in there. But when I run the script shown below, no events about them are shown. The timeline shows below. Some inter events show out which made me confused. I can't combinate them with my wo

[2022-09-07 03:31] mgerstgrasser opened #28321 "[RLlib] Support for mps (Apple Metal) GPUs in torch"
### Description

Torch on MacOS supports GPU acceleration on Metal GPUs (AMD GPUs on Intel Macs and Apple GPUs on M1/M2) through the [`mps` backend](https://pytorch.org/docs/stable/notes/mps.html) now. It would be nice if ray / rllib could make use of this.

As far as I understand, the only change that is needed as far as torch is concerned is to do `torch.device("mps")` instead of `torch.device("

[2022-09-07 04:07] jjyao commented on #27299
Can we revert https://github.com/ray-project/ray/pull/27244 then given 1.48.0 is yanked?

Since we don't pin down our dependencies so I don't know how we can avoid this kind of things from happening in the future.

[2022-09-07 06:02] hnuzhangjin opened #28323 "ValueError: loaded state dict contains a parameter group that doesn't match the size of optimizer's group"

[2022-09-07 06:03] #28323 closed

[2022-09-07 06:05] jovany-wang commented on #28086
Hi @ijrsvt , I did ran your script, but found that it crashed at the line `ray.get(m.z.remote())`. The version I use is ray 2.0.0 .
![image](https://user-images.githubusercontent.com/19473861/188800638-1263ac3d-5d95-40e3-8585-654fa91ef3cc.png)

[2022-09-07 07:59] erilju719 opened #28324 "[Serve] Connection refused when issuing requests to remote deployment"
### What happened + What you expected to happen

I can successfully run my deployment on a remote machine (Ubuntu18 desktop)
[code]
but my requests are refused by it (`first_name` and `last_name` are the two inputs to the graph):
[code]
I have verified that it is possible to communicate over port 8000 from my local Windows laptop to the remote machine by first issuing `nc -l 8000` on the remote ma

[2022-09-07 08:53] krfricke opened #28326 "[core/data] pyarrow CSV ParseOptions invalid_row_handler deserialization is faulty"
### What happened + What you expected to happen

First reported here: https://stackoverflow.com/questions/73593586/why-pyarrow-not-detect-invalid-row-handler-when-parsing-param-as-open-csvargs (shorter repro script below).

Using object-store transferred `pyarrow.csv.ParseOptions` drops the `invalid_row_handler`, rendering it unusable.

It's probably best to see this in the reproduction script. We

[2022-09-07 08:57] krfricke commented on #28326
Confirmed this is a cloudpickle issue:

[code]

[2022-09-07 09:22] fehrin1 commented on #19116
At least for Windows this is not resolved, with Python 3.10 on Windows 10 20H2 i get
pip install -U ray
ERROR: Could not find a version that satisfies the requirement ray (from versions: none)
ERROR: No matching distribution found for ray
Is there any progress (to be expected)?

[2022-09-07 09:46] fehrin1 commented on #19116
What works is
pip install -U ray-cpp
Collecting ray-cpp
  Downloading ray_cpp-2.0.0-cp310-cp310-win_amd64.whl (18.5 MB)
But this is still not ray.

[2022-09-07 09:58] krfricke commented on #28326
I believe this is the culprit.

On deser, pyarrow sets the `_invalid_row_handler` attribute

[code]

https://github.com/apache/arrow/blob/master/python/pyarrow/_csv.pyx#L555-L558

But it misses the `deref...` call in the setter:

[code]

https://github.com/apache/arrow/blob/master/python/pyarrow/_csv.pyx#L523-L524

I'll file a PR for Ray to circumvent this problem and an issue on the pyarrow side

[2022-09-07 09:58] fehrin1 commented on #19116
On https://pypi.org/project/ray/#files i can see there are cp310 packages for Linux and MacOS but not for Windows, are they to be supplied in the foreseeable future?

[2022-09-07 11:13] krfricke commented on #28326
Filed a fix in #28327 and on pyarrow-side in https://github.com/apache/arrow/pull/14061

[2022-09-07 11:26] #28084 closed

[2022-09-07 12:54] krfricke commented on #28197
I can reproduce the error (sometimes...).

The main training thread of a hanging process looks like this:

[code]

This hangs in pytorch lightnings device lookup here: https://github.com/Lightning-AI/lightning/blob/master/src/pytorch_lightning/utilities/device_parser.py#L334

The respective process looks like this:

[code]

Generally it seems the multiprocessing pool interacts with Ray (i.e. trigg

[2022-09-07 12:58] krfricke commented on #28197
In the meantime, you should be able to use this as a workaround:

[code]

[2022-09-07 13:20] krfricke opened #28328 "[core] Multiprocessing Pool blocks Ray actors forever"
### What happened + What you expected to happen

When using `multiprocessing.Pool` with a `fork` context (which e.g. Pytorch lightning does per default), Ray will hang forever.

Py-spy dumps:

[code]

and

[code]

### Versions / Dependencies

Latest master

Related issues: #24784, #28197

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work aro

[2022-09-07 13:56] tomsunelite opened #28331 "[Core] start DefaultWorker failed when args contains space"
### What happened + What you expected to happen

 bug:
python setup_worker.py -Dray.job.code-search-path=/Applications/IntelliJ IDEA CE.app/Contents/lib/idea_rt.jar io.ray.runtime.runner.worker.DefaultWorker --language=JAVA

Error: Could not find or load main class IDEA

### Versions / Dependencies

ray version: 2.0.0
os: mac

### Reproduction script

python setup_worker.py -Dray.job.code-search-p

[2022-09-07 14:22] tomsunelite commented on #28331
the original reason is that Ray starts DefaultWorker by bash in 2.0.0:
[code]
the above code is from https://github.com/ray-project/ray/blob/ray-2.0.0/python/ray/_private/runtime_env/context.py,
and the "command_str" may contain space character(s), and the space character is special character in bash, so we can fix it by the following change:

[code]

[2022-09-07 14:45] erilju719 commented on #28312
**Versions/ Dependencies:**
Local machine: Windows 10, Python 3.9.13, ray==2.0.0
Remote machine: Ubuntu 18, Python 3.9.13, ray==2.0.0

[2022-09-07 14:50] Catch-Bull opened #28336 "[RuntimeEnv] Solve the risk of ` GET /api/jobs/{job_or_submission_id}/logs` OOM"
### Description

The interface will return the whole log of the job driver in an HTTP response, when the log file is too large, it may cause the head-dashboard process to OOM, causing all jobs which submit by JobHead to fail.

My proposal: Set a threshold, such as 10MB, when the log file size is larger than this threshold, directly return a failed reply.

But I have two concerns about this way:
1.

[2022-09-07 14:59] Catch-Bull opened #28337 "[Core][RuntimeEnv]Make `job_submission_id` to a new index of GCS::JobTableData"
### Description

Now we can only traverse all the JobInfos in JobTableData once, and then select the `JobInfo` by `job_submission_id`, which is too inefficient, so I hope `job_submission_id` becomes the new index of `JobTableData`

### Use case

_No response_

[2022-09-07 15:25] mfojtak opened #28338 "[Serve] DAGDriver cannot run with more than one dag"
### What happened + What you expected to happen

"Each DAG should only have one unique InputNode"
exception is fired when using DAGDriver with more than one dags each containing InputNode

### Versions / Dependencies

Ray 2.0.0
Python 3.9.5

### Reproduction script

Dags are constructed like this. They each contain InputNode.

[code]
Now when trying to run the DAGDriver with both dags - the except

[2022-09-07 15:33] xwjiang2010 opened #28339 "[tune] having non-lazy datasource dataset in `param_space` introduces error"
### What happened + What you expected to happen

https://gist.github.com/kk17/b159d821e1c52fed7727308a81ef2211?fbclid=IwAR2-qrKdarnst7BB_R7dAAOB_I7Ropj4l2dLg_acyEmYywndGBjV_2O4JUE

There are at least a few issues here:
1. we should make it clear that for non-tuning ds, it should only be supplied to Trainer arguments. No need to be applied to `param_space`
2. We should enhance the error msg "WARNIN

[2022-09-07 16:01] ijrsvt commented on #28086
@jovany-wang This needs to be run interactively. Running this as a python script hides the problem because Ray shuts down when the script exits.

[2022-09-07 16:13] jovany-wang commented on #28086
@ijrsvt I see. You are right. I missed to check if the process is alive. so I believe it's a bug. I'll investigate it later.

[2022-09-07 16:24] sihanwang41 commented on #28324
Hi @erilju719 , have you used the `serve.run(graph)` after the `DAGDriver.bind(full_name)`?  if yes, could you paste the completed whole log?

[2022-09-07 16:26] jovany-wang commented on #28086
Due to the `MultiThreadedActor::f()` is an infinite loop, so `default_executor_.Join()` never return.
See L86 from the following screenshot:

![image](https://user-images.githubusercontent.com/19473861/188930654-516ef750-58d1-455f-a53b-c32af9350db2.png)

[2022-09-07 16:32] shrekris-anyscale commented on #28324
I ran the repro on a local Ray cluster, and I tried running the `curl` command to send a request to it locally. I noticed two issues with the repro that may/may not be related to the underlying issue:

1. **(Possible related)** I got a `Method Not Allowed` error with the `curl` command from the repro:

[code]

Changing the `curl` request to a `GET` method worked locally:

[code]

2. **(Likely unre

[2022-09-07 16:34] jovany-wang commented on #28086
I believe the fix could be simple. We should just add a flag `force_stop` or `stop_immediately` to `Stop()`, to avoid the graceful stop.

[2022-09-07 16:36] jovany-wang commented on #28086
Do you have bandwidth to create a PR to fix it, otherwise maybe I could finish in next 3 days.

[2022-09-07 16:39] jovany-wang commented on #28331
Yes, good catch. Could you create a PR to fix it?

[2022-09-07 16:40] justinvyu commented on #28267
Hey @chengscott, your reasoning makes sense to me. If you're comfortable making this change and creating a PR, could you take on fixing this to be the 2nd option? No worries if you do not have the time, I can make the change.

[2022-09-07 16:41] erilju719 commented on #28324
@shrekris-anyscale since Python 3.9 you can use the built-in types for type hinting instead of the capitalized types from `Typing`: https://docs.python.org/3/whatsnew/3.9.html#type-hinting-generics-in-standard-collections . So you must be using a different Python version.

[2022-09-07 16:43] shrekris-anyscale commented on #28324
Ah thanks @erilju719, that makes sense. I'm running Python 3.8.

Did changing the request method have any effect?

[2022-09-07 16:50] jovany-wang opened #28340 "[Core] Support running 2 clusters on 1 node."
### Description

For federated learning scenario, we currently use more than 1 cluster, it's very helpful and important that we could start 2 mini clusters in 1 node for our developing, debugging and testing.

I'm not sure if it's easy to achieve this goal, but we at least should start investigating it.

### Use case

_No response_

[2022-09-07 16:52] erilju719 commented on #28324
No, I'm afraid not. Connection refused for both GET and PUT. The reason I used PUT was because that is used on https://docs.ray.io/en/latest/serve/dev-workflow.html.

[2022-09-07 16:55] pabloem opened #28341 "[Ray: Core] Ray can hang when getting an ObjectRef from an unknown environment"
### What happened + What you expected to happen

In the following script, the last statement hangs:

[code]

What I would expect is for it to eventually throw an exception.

### Versions / Dependencies

I ran this on Ray 2.0 and a recent Linux Debian

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-09-07 17:09] mfojtak commented on #28338
@sihanwang41 Thank you. That works.

[2022-09-07 17:12] clarng commented on #28305
Seems the threading fix also removed the flakiness

<img width="790" alt="Screen Shot 2022-09-07 at 10 09 35 AM" src="https://user-images.githubusercontent.com/22830327/188938995-e4fcb80a-daa4-4c61-a9de-862787111b16.png">

[2022-09-07 17:42] mgerstgrasser commented on #28321
As per [this discussion](https://discuss.ray.io/t/rllib-pytorch-and-mac-m1-gpus-no-available-node-types-can-fulfill-resource-request/6769/9), even if ray doesn't detect metal GPUs as resources, that's pretty easy to work around. So even just adding support in rllib itself would be useful. Could we simply try mps devices if there aren't any CUDA devices found? If so, this might just be a couple of

[2022-09-07 17:42] stephanie-wang commented on #28305
Great!

[2022-09-07 17:42] #28305 closed

[2022-09-07 17:49] #28326 closed

[2022-09-07 17:52] clarng opened #28344 "[autoscaler] memory reports 0 usage"
### What happened + What you expected to happen

The dashboard shows memory usage but ray status is reporting it as zero

<img width="528" alt="Screen Shot 2022-09-07 at 10 48 09 AM" src="https://user-images.githubusercontent.com/22830327/188945533-3f85177a-b997-4511-b624-9ca52ed434d3.png">

<img width="1260" alt="Screen Shot 2022-09-07 at 10 51 54 AM" src="https://user-images.githubusercontent.co

[2022-09-07 18:04] jiaodong opened #28346 "[AIR] Success criteria for numpy narrow waist"
## E2E Successful User Journey

For sample computer vision workload that we had examples / benchmarks, [training](https://sourcegraph.com/github.com/ray-project/ray/-/blob/release/air_tests/air_benchmarks/workloads/pytorch_training_e2e.py) and [batch prediction](https://sourcegraph.com/github.com/ray-project/ray/-/blob/release/air_tests/air_benchmarks/workloads/gpu_batch_prediction.py)  that is cu

[2022-09-07 18:04] jiaodong opened #28347 "[AIR][Jax] Add Jax multi-gpu multi-host launcher"

[2022-09-07 18:07] jianoaix opened #28348 "Add documentation for batch prediction on Ray Core APIs"
Currently, we have users building batch prediction directly on Ray Core rather than Datasets, because there is not data connector to the specific data source yet. We should have documentation to guide users how to do it on Core.

This could be a use case example added to https://docs.ray.io/en/latest/ray-core/examples/overview.html.

[2022-09-07 18:09] jiaodong opened #28349 "[AIR][Model Parallelism] Scoping and define target use cases"

[2022-09-07 18:11] jiaodong opened #28350 "[AIR] Recsys p13n profiling and user follow up"

[2022-09-07 18:11] jiaodong opened #28351 "[AIR] Computer vision user workload on AIR tracking + success criteria"
Success criteria: Onboard one user's computer vision workload (Data IO + preprocessing + DDP Training) to AIR.

Open items

- [ ] Create Ray dataset with representative data examples
- [ ] Data preprocessing
  - [ ] Placeholder for different stages
  - [ ] x
- [ ] Feed into dummy TensorFlowTrainer
- [ ] TBD

[2022-09-07 18:51] amogkam commented on #28346
Nice overall lgtm!

Just adding a couple more things we discussed in our meeting:
- Remove `_transform_arrow` from Preprocessors and Predictors
- For preprocessors to work with single numpy arrays, they should no longer require column names as a required arg. For multi-column data, not providing column names will apply the preprocessor on all columns

Also might be out of scope, but in general we

[2022-09-07 18:58] amogkam commented on #28197
Thanks @krfricke! Seems this is a problem only with PTL 1.7 (https://github.com/Lightning-AI/lightning/issues/14292). Can we update the PTL version used in CI to test that these changes work?

[2022-09-07 19:17] jiaodong commented on #28346
Sg, this is basically what we discussed last time :) I'm assuming ragged tensors will be supported for this given the PR is about to be merged sooner than the rest.

I think putting Preprocessor class as first-class UX is important but a bit orthogonal to this. We should track it tho.

@amogkam we didn't have enough time to finish discussion on the predictor `Any` output and our stance on python o

[2022-09-07 19:18] erilju719 commented on #28324
Turns out the issue was that due to https://github.com/ray-project/ray/issues/28312, any custom `host` and `port` was ignored, so I could not make it listen to any other hosts but 127.0.0.1. To be able to set `--host=0.0.0.0` I had to use the Serve Python API (`serve.run(...)`) and run the script on the remote machine itself. Then, I could successfully issue requests from my Windows laptop. This b

[2022-09-07 19:18] #28324 closed

[2022-09-07 19:35] clarkzinzow commented on #28346
All of the data items should be the current state (each of which has been validated) so I don't know if including those items as part of the success criteria makes sense, but I might be missing something. I think all of the success criteria should be at the AIR level, around the preprocessors, training, and prediction?

[2022-09-07 19:44] amogkam commented on #28346
What are the risks with falling back to Python object for Predictors? Off the top of my head I can think of:

1. Users custom predict functions fall back to Python object even if it's not necessary and the output type can be represented via `dict[str, numpy]`. Basically it might provide a footgun to the user
2. Falling back to Python object means the Predictor cannot be used as a Preprocessor and

[2022-09-07 19:57] xwjiang2010 opened #28352 "[air] [ckpt] checkpoint of a single file"
### What happened + What you expected to happen

Currently we have various forms for checkpoint: dir, uri, object_ref and dict

One missing piece is single file case. One naive way to go about it is to ask one to always provide its parent folder. The obvious downside is that this is inefficient when the folder contains a million other contents and all these contents will be serialized unnecessaril

[2022-09-07 20:02] clarkzinzow commented on #28346
+1 to having the fallback, i.e. a `call_model` output type of `Union[TensorType, Dict[str, TensorType], List[Any]]`, where `List[Any]` is the fallback. This should work quite nicely for Datasets, which will convert `List[Any]` into a well-structured (e.g. tabular) dataset if possible.

@amogkam how common is risk (1)? I feel like that wouldn't be very common. As for (2), we could add `List[Any]` a

[2022-09-07 20:19] amogkam commented on #28346
Actually would `np.ndarray` with object dtype work as a fallback instead of `List[Any]`?

`def call_model(...) -> Union[TensorType, Dict[str, TensorType], np.ndarray, Dict[str, np.ndarray]]`

Then the outputs can still go through the `_transform_numpy` codepath of preprocessors. And we still keep the current contract that the output type is the same as the input type (which Serve currently depends

[2022-09-07 20:32] shrekris-anyscale commented on #28312
I think I've figured out the root cause and a potential (temporary) workaround.

**Cause**

In Ray 2.0, the [`serve run` command starts Serve](https://github.com/ray-project/ray/blob/releases/2.0.0/python/ray/serve/scripts.py#L300) without passing in any user-configured `host` and `port` options.

#27026 updates `serve run`, so [it does pass in the `host` and `port`](https://github.com/ray-project

[2022-09-07 21:15] matthewdeng commented on #27925
@jiaodong are you looking into this as part of the tensor story?

[2022-09-07 21:17] architkulkarni commented on #28198
@siavash119 Thanks for the details, if you can find a reproduction that would be very valuable.  Are you using a `runtime_env` anywhere? If so can you share the details of the `runtime_env`?

[2022-09-07 21:17] chhabrakadabra opened #28354 "[Core] Widen grpcio dependency range"
### Description

The current upper-bound for grpcio version is `1.43.0`. I would really appreciate it if it could be raised to the latest version.

### Use case

I'm trying to install Ray alongside Feast. The lower-bound for grpcio versions in Feast is set to `1.47.0`, which makes it impossible to install alongside Ray.

[2022-09-07 21:18] matthewdeng commented on #28003
@krfricke can you take a look and see what is raising this warning, and if we should just entirely mute it?

[2022-09-07 21:19] pcmoritz commented on #28165
cc @jdo-anyscale for visibility -- at the moment there is very little guidance on our security model and how people can expose things like client / dashboard / serve in a secure way :)

[2022-09-07 21:19] architkulkarni commented on #28198
Also, are you using Ray Client?

[2022-09-07 21:20] stephanie-wang commented on #28273
@clarng, FYI the test is still failing on a commit that includes the fix.

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_gNAxCWnnUQrspDmJtzHawCT9?command-history-section=command_history

[2022-09-07 21:20] matthewdeng commented on #28061
@Alxe1 hey just checking are you still running into this issue?

[2022-09-07 21:22] matthewdeng commented on #28095
@Alxe1 are you still running into this issue? If so can you provide a repro?

[2022-09-07 21:24] matthewdeng commented on #26663
@amogkam can you just add this as a Train FAQ?

[2022-09-07 21:26] matthewdeng commented on #24593
@xwjiang2010 can you take a look at this?

[2022-09-07 21:26] stephanie-wang commented on #28273
Upgrading to p0 since we no longer know the cause.

[2022-09-07 21:27] jiaodong commented on #28346
@clarkzinzow so I think there's perf and API aspect of it, for API most items should be AIR only, for example we had working PR for numpy narrow waist in batch predictor before 2.0 with `batch_format="numpy"` and added corresponding preprocessor / predictor changes, suggesting we had pieces we need for a numpy path (even though i didn't vet through all possible cases, we might discover more corner

[2022-09-07 21:29] matthewdeng commented on #27352
@jiaodong do you know where in the code this is getting emitted? Is this in predictor or datasets or user code?

[2022-09-07 21:30] jiaodong commented on #28346
@amogkam I think you mentioned chaining predictors / using predictor as processor in meeting earlier this week, wouldn't fallback to python object break what you planned or it's not an issue ?

Otherwise i vote for adding python object fallback too, it makes supporting arbitrary predictor output easier.

[2022-09-07 21:31] cadedaniel commented on #28354
Thanks for creating this issue! I'm working on widening the grpcio dependency range this sprint, there was a hang in 1.48.0 but it has since been fixed in 1.48.1. https://github.com/ray-project/ray/issues/27299 for context.

[2022-09-07 21:32] clarng commented on #28273
Actually the memory monitor is not enabled

I discovered this while trying to do release testing, but it seems the nightly build does not have the latest changes

[2022-09-07 21:32] clarng commented on #28273
<img width="1436" alt="Screen Shot 2022-09-07 at 2 32 23 PM" src="https://user-images.githubusercontent.com/22830327/188985752-6763cbf6-a2a9-4cc7-bd7f-07e3f6573652.png">

[2022-09-07 21:33] matthewdeng commented on #26539
@jiaodong is this fixed?

[2022-09-07 21:34] clarng commented on #28273
Since the threading issue only happens when memory monitor is enabled I think there is something else going on, I think we should file a separate issue to track it as such

[2022-09-07 21:35] amogkam commented on #28346
@jiaodong it will break, but if we have np.ndarray with object dtype as the fallback instead of List[Any] I think that should be fine.

[2022-09-07 21:35] mgerstgrasser commented on #21479
Just to comment again to share that it seems that this is fixed for me by setting `num_cpus` in `ray.init()`, to whatever value I requested from the slurm scheduler. See also the discussion and stackoverflow post linked below. Not sure if this fixes the issue for everyone given not everyone seems to be running into this in connection with slurm, but mayb worth a try.

https://discuss.ray.io/t/ray-

[2022-09-07 21:36] jiaodong commented on #27925
It's a bit orthogonal to it as this error is legit and expected, mostly just need to add column name on the mismatched dim so user has better clue what went wrong in UDF. I have this in backlog as "snacking" PR sometime

[2022-09-07 21:36] cadedaniel commented on #27299
Yes, I think we can widen the range of grpcio versions to include 1.48.1. Do you know why the original `Allow grpcio >= 1.48` PR forbade versions in `[1.45, 1.48)`?

I'll work on this in parallel with current AIR benchmarking work.

[2022-09-07 21:36] stephanie-wang commented on #28273
Hmm are you sure it's not enabled in the nightly tests? I see the right error messages:
[code]

[2022-09-07 21:40] jiaodong commented on #26539
i think it is, im not seeing any occurrence of `json_to_numpy ` in our codebase anymore. There's still a pandas one in [torch_incremental_learning.ipynb](https://sourcegraph.com/github.com/ray-project/ray/-/blob/doc/source/ray-air/examples/torch_incremental_learning.ipynb?subtree=true) tho that worth leaving this issue open until it's removed.

[2022-09-07 21:40] kevin85421 opened #28356 "[doc] Hard to install doc requirements on Mac M1"
### What happened + What you expected to happen

I use **conda** to manage my environment. **conda** does not support Python-3.7 on M1 as shown in the following two links. However, the document dependencies require Python >= 3.5 and < 3.8.

- https://docs.conda.io/en/latest/miniconda.html
- https://repo.anaconda.com/pkgs/main/osx-arm64

[code]

* Figure: Try to install Python-3.7 with **conda** on

[2022-09-07 21:42] kevin85421 commented on #28356
cc @DmitriGekhtman @maxpumperla

[2022-09-07 21:42] matthewdeng commented on #28214
@jjyao this is another use-case for locality aware scheduling, but is more complex (assigning workers to dataset blocks)

[2022-09-07 21:42] ArturNiederfahrenhorst commented on #28231
Thanks for raising this. I can reproduce.

[2022-09-07 21:44] matthewdeng commented on #28302
Priority should be increased if there are more user requests.

[2022-09-07 21:49] matthewdeng commented on #28352
As a short-term workaround, can the user just make a temporary dir and save the file in it?

[2022-09-07 21:54] clarng commented on #28273
The shuffle test doesn't have it enabled per the logs in https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_gNAxCWnnUQrspDmJtzHawCT9?command-history-section=command_history

In another test it is enabled

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_eerxy7PSk7y8k2xXQCFRF44Y

So two issues
* the memo

[2022-09-07 22:00] clarkzinzow commented on #28102
@orm011 Thank you for filing this issue! There was indeed a known breaking change between Ray 1.13 and Ray 2.0 such that tensor columns written to Parquet with Ray 1.13 is not readable with Ray 2.0 (and vice-versa). The change required adding the shape and dtype to the encoded extension type, so it wasn't possible to make this backwards or forwards compatible.

The workaround that I would suggest

[2022-09-07 22:04] clarkzinzow commented on #27738
@c21 @pcmoritz can this be closed now that https://github.com/ray-project/ray/pull/27850 has been merged?

[2022-09-07 22:17] matthewdeng commented on #28124
@goodwanghan are you still running into any issues with this, after adding in `_FileFilter`?

[2022-09-07 22:21] matthewdeng commented on #28102
@clarkzinzow could you add this to the 2.0 migration guide?

[2022-09-07 22:27] matthewdeng commented on #27738
The `invalid_row_handler` issue should now also be resolved in master with https://github.com/ray-project/ray/issues/28326, although PyArrow 7.0 (which is when `invalid_row_handler` was introduced)  is not compatible with Datasets.

[2022-09-07 22:30] Yard1 commented on #28172
Note: FSDP is already supported out of the box.

[2022-09-07 22:31] clarkzinzow commented on #27361
Hey @guodashun, what pyarrow version are you using? There's a pyarrow bug in pyarrow 7.0.0+ that can cause this kind of huge object bloat.

[2022-09-07 22:31] richardliaw commented on #27792
Should be added now! https://docs.ray.io/en/latest/data/api/dataset.html#ray.data.Dataset.map_batches

[2022-09-07 22:31] #27792 closed

[2022-09-07 22:32] matthewdeng commented on #26441
@jiaodong is this still an issue? Was this due to the head node being too small?

[2022-09-07 22:32] architkulkarni commented on #24047
Tracked in https://github.com/ray-project/ray/issues/23423

[2022-09-07 22:32] #24047 closed

[2022-09-07 22:35] architkulkarni commented on #22472
This is fixed on master:
[code]

[2022-09-07 22:35] #22472 closed

[2022-09-07 22:37] jiaodong commented on #26441
With context I have now this just shows how inefficient .map is compare to .map_batches .. In our recent discussion we agreed to push AIR preprocessors like `BatchMapper` as the primary API for better vectorization + stage fusion.

We should have a separate issue to track this tho, since it's very natural for end user to dabble among `.map`, `.map_batches` and `BatchMapper` without knowing any per

[2022-09-07 22:38] scv119 opened #28359 "[CI] CI improvements for OSS"
### What happened + What you expected to happen

 Unit tests lifecycle? Run more than 1 time in the master for every test
 CI: treat timeout as failure
 We need to check and monitor worker startup time

### Versions / Dependencies

latest ray

### Reproduction script

n/a

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-09-07 23:11] matthewdeng commented on #28356
Oh does this work if you apply the following change? https://github.com/ray-project/ray/pull/28212

[2022-09-07 23:15] Yard1 opened #28362 "[AIR] Replace `_TrackedCheckpoint` special case in `HuggingFaceTrainer` with a more generic system"
### Description

We shouldn't need a special case there.

### Use case

_No response_

[2022-09-07 23:15] #25533 closed

[2022-09-07 23:18] richardliaw commented on #27925
OK then let's dump this to P2. Seems like this can also be addressed by having a better to_tf story.

[2022-09-07 23:33] rkooo567 commented on #27287
Ricky is off for a week. I will fix it

[2022-09-07 23:38] clarng commented on #26994
@avivhaber  let's sync with @scv119  on coming up with a repro

[2022-09-07 23:42] jjyao commented on #27299
cc @rkooo567 @iycheng do you know why given you approved the original PR #26765. Should we still disallow [1.45, 1.48)?

[2022-09-07 23:46] richardliaw commented on #28262
Captured those issues https://github.com/ray-project/ray/issues/28301 https://github.com/ray-project/ray/issues/28302!

[2022-09-07 23:50] architkulkarni commented on #28198
@siavash119 Sorry for the repeated messages -- could you also share the Python version and operating system?

[2022-09-07 23:53] richardliaw commented on #28262
Closing this issue for now.

[2022-09-07 23:53] #28262 closed

[2022-09-07 23:55] #28267 closed

[2022-09-08 01:15] Alxe1 commented on #28095
It's not appeared so far when I restart Ray cluster. But the processes of `ray::IDE` sometimes still are there when the program is done no matter what I run. #28199

[2022-09-08 01:17] Alxe1 commented on #28061
Now I'm using Ray2.0, it's not happened again.

[2022-09-08 01:25] matthewdeng commented on #28199
Do you have a repro for this?

[2022-09-08 01:42] matthewdeng commented on #28061
Great to hear.

Based on the values over time I feel like it may just be due to randomness of the model weights...

[code]

In any case, I'll close this issue for now but please re-open if you run into this again!

[2022-09-08 01:42] #28061 closed

[2022-09-08 01:53] Alxe1 commented on #28199
[code]

[2022-09-08 02:04] #28019 closed

[2022-09-08 02:11] tomsunelite commented on #28331
sure, will do it later

[2022-09-08 02:34] pcmoritz commented on #27738
@matthewdeng Do you know what prevents us from being compatible with a more recent PyArrow release?

[2022-09-08 02:38] matthewdeng commented on #27738
@pcmoritz the issue is being tracked in https://github.com/ray-project/ray/issues/22310, @clarkzinzow can shed more light on the forward fix for PyArrow 10.