[2021-05-07 20:22] tom-doerr commented on #15679
Yes, I want to run multiple RL algorithms to compare the performance.
The weird thing is that it works when using 'PPO' and 'APPO' individually, e.g.:
[code]

From my understanding this means that the strings are registered to a trainable.
I could of course do multiple runs in a loop with different values for the trainable, but that kind of defeats the purpose of using tune.

[2021-05-07 20:23] LilianCr commented on #15661
The goal is to have very fast IPC communication with very low latency (less than 0.1 ms) using UNIX signals to notify other processes that new datas are available and using mutltiprocessing.share_memory to host datas.

I did some tests today and if I use `os.kill(pid, signal)` to send a signal from a worker A to a worker B, the worker B is automatically killed.
When `signal.raise_signal(signal)` i

[2021-05-07 20:34] richardliaw commented on #15672
sorry can you replace that line with `(funcs[0].duration.remote())`

[2021-05-07 20:36] mvindiola1 commented on #15679
This worked for me:

[code]

[2021-05-07 20:45] asm582 commented on #15672
@richardliaw ok the program runs but it let run the dummy task for 50 seconds and then killed the actor not the task as I understand, Here is the output:

[ObjectRef(9bb55bc9a880f4cefc8204747604c8cce2230de40100000001000000), ObjectRef(aae99729138a74d29d78bd90898368ca67cdd5970100000001000000), ObjectRef(c0e56a21dcb5fe6436e14f5d7a18682e2d3056080100000001000000), ObjectRef(764f8475f05bf00148b7ee15cf1

[2021-05-07 21:02] vecorro commented on #15500
UPDATE. I tried with Ray 1.3.0 and the workload distribution among workers remained very unevenly distributed (33% of the cluster's capacity is wasted):

2 cores per worker
![image](https://user-images.githubusercontent.com/49245780/117503608-cbff2680-af46-11eb-89d9-f3d67f0aef0a.png)

4 cores per worker
![image](https://user-images.githubusercontent.com/49245780/117508103-a32e5f80-af4d-11eb-8308-a

[2021-05-07 21:07] rfali commented on #15683
Here is what I could figure out how RLlib's DQN works under the hood:

When I build a custom model of DistributionalQTFModel Class, [here](https://github.com/ray-project/ray/blob/1d834bcbe33c7714913fa06c7a7392c29eb7d71d/rllib/agents/dqn/distributional_q_tf_model.py#L19) is the data flow.
[code]
The [get_q_value_distributions()](https://github.com/ray-project/ray/blob/1d834bcbe33c7714913fa06c7a7392

[2021-05-07 21:15] rkooo567 commented on #7879
https://github.com/modin-project/modin/issues/2999

[2021-05-07 21:20] rkooo567 commented on #7879
https://github.com/modin-project/modin/issues/3014#issuecomment-828056587

[2021-05-07 21:50] edoakes commented on #15632
@davidberenstein1957 we're currently working on improving support for specifying dependencies at for a given Serve deployment, but right now the best practice would be to build all of the requirements into the docker image you use for the ray cluser. That way the packages are available to all of the worker processes on your cluster. Would that work for you?

[2021-05-07 22:08] asm582 commented on #15672
Thanks for the prompt response @richardliaw
ray.wait returns two arrays, I assume you are referring to check of remaining ids?

Due to resource constraints actors are created but I don't see them in duration or result list:

![Screen Shot 2021-05-07 at 6 06 43 PM](https://user-images.githubusercontent.com/5898557/117513099-007edc80-af5f-11eb-8ebd-6a5645a49dbd.png)

Do you think of a possibility to

[2021-05-07 22:17] ericl commented on #14182
@rkooo567 can you try using the flag? If it works, I think we can add this to our documentation.

[2021-05-07 22:21] rfali commented on #15683
I have completed the Colab to test the model with Atari Breakout. As expected, with no underlying changes to RLlib functions and running with `num_gammas=5`, the following error is report in the error.txt

`[36mray::DQN.__init__()[39m (pid=1244, ip=172.28.0.2)
  File "python/ray/_raylet.pyx", line 488, in ray._raylet.execute_task
  File "python/ray/_raylet.pyx", line 495, in ray._raylet.execute_t

[2021-05-07 22:38] richardliaw commented on #15672
I think we will consider it if we have a couple more independent requests to handle such a scenario.

Can you post your code? I do think that you are quite close to a working implementation.

[2021-05-08 00:54] richardliaw commented on #15678
OK I just figured out the issue.

Turns out `metric` objects are not serializable after you touch them.

Can you try something like re-creating the metric object when you call `hyperparameter search`?

[code]

[2021-05-08 01:21] valiantljk opened #15692 "Ray duplicate data from GPU to CPU when placing an actor on GPU"
### What is the problem?
I first copied data onto GPU, and then submitted one actor task, got this error:

[code]
It looks like the dependency resolving in Ray will first copy the data from GPU and to somewhere that Ray thinks is local or optimal.

What is expected, is that since the actor will be placed on the GPU 0, and data is already on GPU 0, there shouldn't be any data movement.

*Ray versio

[2021-05-08 02:36] Eddiesyn commented on #11936
Hi, I'm using pytorch to implement a PBT based search algorithm and i'm facing the same problem here as @timost1234 has stated in No.1 and 2: it seems to me when the perturbation or when the paused trials are starting to run again, it loads the wrong checkpoint. After some experiments i found when the total resources is enough for running all trials in parallel this loading problem is gone and it

[2021-05-08 03:46] DenysAshikhin commented on #15676
That's super strange...
I tried setting the action space to tuples:
[code]
But then it throws: `ValueError: Only (Multi)Discrete action spaces supported for Curiosity so far!`
So it's not that....
Furthermore, simply setting:
[code]
Which also errored out.....` raise ValueError("Shape mismatch: The shape of labels (received %s) "
ValueError: Shape mismatch: The shape of labels (received (1,)) shou

[2021-05-08 04:40] csyuan opened #15693 "function api"
Your issue content here.

[2021-05-08 04:40] #15693 closed

[2021-05-08 08:17] chenk008 commented on #14077
Hey @ericl , there are some updates. And I will create some pull requests to implement this feature

### unprivileged container

I have tried unprivileged containers in K8s. We need to do some tricky work. Here is a sample: https://gist.github.com/chenk008/cce5d75c7a6b1935a225e81f3893dc0b

- Add `SYS_ADMIN` capabilities to Pod
- Set `seccompProfile` as Unconfined to avoid permission error
- remoun

[2021-05-08 08:18] chenk008 commented on #14077
I will create some pull requests to implement this feature.

[2021-05-08 10:01] Dan-RAI opened #15695 "[tune/placement group] Excessive Logging in Placement Group creation"
### What is the problem?
Excessive log creation. A simple optimization run results in 400GB+ in /tmp/ray/log files !

ray 1.3.0
python 3.7

### Reproduction (REQUIRED)
[code]

[2021-05-08 10:09] SongGuyang opened #15696 "Download and cleanup runtime_env in agent"
![image](https://user-images.githubusercontent.com/26714159/117535509-b6fac400-b028-11eb-9100-66d67c64c76a.png)

[2021-05-08 10:52] davidberenstein1957 commented on #15632
I could make this work for me, however, this does not fix my relative import issues, which means I would also have to add my entire application to the Ray Docker image. Ideally, something like the [CommandRunner](https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/command_runner.py) would be great, where I would first have to call ray.init() and afterwards can execute command on t

[2021-05-08 11:20] ArturNiederfahrenhorst opened #15698 "[rllib] PPO KL coefficient update differs from original paper"
### What is the problem?

As [reported on ray.discuss](https://discuss.ray.io/t/diffrences-between-the-ppo-implementation-and-the-origonal-ppo-paper/1735) by user [levmckinney](https://discuss.ray.io/u/levmckinney), the factors for the update of the KL coefficient differ from the original paper.

The difference exists in the [TF implementation](https://github.com/ray-project/ray/blob/5f0be94989030

[2021-05-08 12:39] mvindiola1 commented on #15676
@DenysAshikhin,

I found the error here: https://github.com/ray-project/ray/blob/996a002b00356d66c2feb071cef9e1a1f0b3f0e7/rllib/models/tf/tf_action_dist.py#L138-L141

actions type is different between tf1 and tf2.
In tf1 it always comes in as a tf tensor and so is split into a list of tensors for each category
In tf2 it sometimes comes in as an numpy array and in that case is not split into a list

[2021-05-08 15:51] LilianCr commented on #15661
The problem was on my side, I'm going to close the issue.
Thanks for your time @rkooo567 :slightly_smiling_face:

Here is my how I solved the problem (if someone was in the same case a day) :
Firstly I executed `signal.getsignal(pid)` and the default handler `signal.SIG_DFL` was returned.
This means 2 things :
- My own handler was not working,
- The problem doesn't come from Ray or in other words,

[2021-05-08 15:51] #15661 closed

[2021-05-08 15:53] duburcqa opened #15699 "[Tune] Significant impact on performance of unnecessary copy `TBXLogger.on_result` (~20%)"
`TBXLogger.on_result` is calling `flatten_dict` internally in order to flatten the dictionary of data to monitor [here](https://github.com/ray-project/ray/blob/996a002b00356d66c2feb071cef9e1a1f0b3f0e7/python/ray/tune/logger.py#L195). So far so good, but `flatten_dict` is doing a copy internally, without any optional argument to prevent it. In this case, it appears to be irrelevant after some testi

[2021-05-08 16:50] richardliaw commented on #15695
Hey @Dan-RAI, thanks for reporting. This is a duplicate of https://github.com/ray-project/ray/issues/15595

The fix is to set the environment variables:

[code]
or downgrade to ray==1.2.

We'll have to include this in a patch release in the next 2 weeks.

[2021-05-08 16:51] richardliaw commented on #15698
cc @sven1977

[2021-05-08 17:02] vinothm14 opened #15700 "Issue on page /installation.html"
I was using ray in Windows10 machine until  yesterday. Ray helped me a lot, but i accidentally uninstall the python. now i couldnot able to install the ray again.

I am using ANACONDA 3 with Python 3.8.5
I am getting the error @ "Collecting gpustat"
I have attached the error message as well.
![2021-05-08 18_38_03-jEdit - Untitled-1 (modified)](https://user-images.githubusercontent.com/33394807/117

[2021-05-08 18:20] XavierGeerinck commented on #14666
Hi @richardliaw what would I be missing then? :)

[2021-05-08 19:29] asm582 commented on #15672
@richardliaw , Here is the code snippet, it does not run as expected. I have questions added to the implementation, can you please answer those?

[code]

[2021-05-08 20:24] ericl commented on #14666
It seems like some pickle compatibility issue here, or perhaps a ray client issue. You can try this:

Remove the Ray client connect call `ray.util.connect("127.0.0.1:10001")`. Replace it with the normal `ray.init("auto")` call.

[2021-05-08 21:31] DenysAshikhin commented on #15676
So I tried your fix, however, I now run into the following error:

[code]

[2021-05-08 21:36] mvindiola1 commented on #15676
@DenysAshikhin,
I did not encounter this error in the 10 iterations I ran.
Do you have `explore = False` somewhere?  Maybe during evaluation?

[2021-05-08 22:01] DenysAshikhin commented on #15676
So I managed to fix it by adding:

[code]
It was missing a `self.`

[2021-05-08 22:12] mvindiola1 commented on #15676
@DenysAshikhin which version of ray are you using?  I will take a look tonight at what you need for your version.

[2021-05-08 22:50] DenysAshikhin commented on #15676
I am using the version that comes when you do `pip install ray`. This gives the 1.3.0
I try to install the latest wheel but I get the error: `ERROR: ray-2.0.0.dev0-cp38-cp38-win_amd64 (3).whl is not a supported wheel on this platform.`

[2021-05-09 00:13] mike-athene opened #15703 "[serve] Broken by https://github.com/ray-project/ray/commit/b08b2c5103c634c680de31b237b2bfcceb9bc150 on Win"
### What is the problem?

ray-2.0.0.dev0-cp38-cp38-win_amd64

### Reproduction (REQUIRED)

1. Install https://github.com/ray-project/ray/commit/b08b2c5103c634c680de31b237b2bfcceb9bc150
2. User code from https://docs.ray.io/en/master/serve/index.html#ray-serve-quickstart

[code]

Going back 1 commit to https://github.com/ray-project/ray/commit/ab797d1d62c361f887d68fd726c7206bb2d69287 fixes the issu

[2021-05-09 00:37] mvindiola1 commented on #15676
No problem. I am happy to help and intrigued by what you are trying to do. Seems like a complicated but cool environment.

It turns out there is a way simpler fix to the issue. the source of the issue is actually in the curiosity exploration class. It is passing in the actions as a numpy array. In tf1 that gets converted to a tf tensor but in tf2/tfe it does not. This fix should do the trick.

Cha

[2021-05-09 02:11] DenysAshikhin commented on #15676
Thank you so much! That did finally get TFE + EAGER mode working. Since you mentioned being interested in what I am working on, you can add me on Discord and I can share status updates/progress (the AI is currently in the initial stages of training): The Last Spark#7586

That being said I think that's the fix for this. Not sure what I need to do? I could close the issue... if that's the right move

[2021-05-09 02:18] mvindiola1 commented on #15676
Glad it that it didn't the first time. We found a much simpler fix. I will reach out on discord.

Leave the issue open that way the reviewer has context for the PR. It will autoclose when the pull request is merged.

[2021-05-09 04:07] #15156 closed

[2021-05-09 04:55] richardliaw commented on #15699
hey @duburcqa, thanks for bringing this up!

Maybe we can implement the flatten in a way that doesn't deepcopy all of the leaf items (like your histograms), only the dictionary containers?

Does your patch do that? If so, it'd be great if you could push a short draft PR (I could help shepherd/clean it up!)

[2021-05-09 08:20] mjuric opened #15707 "Docker container: can't install g++"
### What is the problem?

I'm trying to build an image derived `FROM rayproject/ray:latest-cpu`, but cannot install g++ (which I need to build some third-party code that my code needs).

Is it possible something is broken with apt in ray's current Docker image?

### Reproduction (REQUIRED)

[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have v

[2021-05-09 08:23] Rohanjames1997 opened #15708 "[rllib] Error while using "count_steps_by": "agent_steps" and misleading documentation"
### What is the problem?
**Problem 1:**
While running the MultiAgentCartPole environment, the training script crashed when I set the` "count_steps_by"` config to `"agent_steps" `. Received an `AttributeError: 'SampleBatch' object has no attribute 'agent_steps'` (Whole stacktrace below)

**Problem 2**
In the [RLlib Sample Collection and Trajectory View docs](https://docs.ray.io/en/master/rllib-samp

[2021-05-10 01:07] simon-mo commented on #15700
You can use `pip install --no-dependencies ray` to get around with this error for now. We are in the process of removing/hiding `gpustat` as a dependency.

[2021-05-10 02:11] yangysc opened #15710 "[rllib]Update the docs about Variable-length / Parametric Action Space"
### What is the problem?

The online [doc](https://docs.ray.io/en/master/rllib-models.html#more-examples-for-building-custom-models) still says that the Variable-length / Parametric Action Spaces need to set PPO as

While in the code, PPO has no such requirement anymore.
https://github.com/ray-project/ray/blob/0026cf1be6411a0e5eecd7a784c1d4ab8db47ebb/rllib/examples/parametric_actions_cartpole.py#L

[2021-05-10 02:29] YeahNew commented on #15552
hello, This link can be accessed:
https://github.com/YeahNew/RayAndDGL
the code(GATwithRayAndDGLonMultipleGPUs.py) has been modified well, The validation result is almost the same as the result of using only DGL(GATwithDGLonMultipleGPUs.py).
But one thing to note at present is that under the same parameter settings, the training time of each epoch of the former is significantly greater than the tr

[2021-05-10 02:53] yangysc opened #15711 "[rllib] Avoid calling the model.value_function twice in ppo_torch_policy"
### What is the problem?

For the case of `vf_share_layers= False` and `use_critic=True`,  calling the `model.value_function()` twice in ppo_torch_policy would call the forward function twice, which may **be time-consuming for large encoder net**.

https://github.com/ray-project/ray/blob/0026cf1be6411a0e5eecd7a784c1d4ab8db47ebb/rllib/agents/ppo/ppo_torch_policy.py#L86-L113

Instead we can save the

[2021-05-10 09:02] roireshef opened #15715 "[rllib] ValueNetworkMixin is not using value baseline when use_gae is set to False"
### What is the problem?
ValueNetworkMixin is also being used by A3C (although it is implemented inside the PPO file). When initialized, ValueNetworkMixin looks at the config dictionary for _use_gae_ and if it is set to False, it will use 0.0 as the returned value. The result is invalid in some cases, specifically when one wouldn't like to use GAE but still decides to use a critic. Since all the f

[2021-05-10 10:21] thorbjornsomod commented on #12128
Hi,

I'm having a hard time trying to compile `Bazel` and build `Ray` for a 32 bit ARMv7 Cortex A9 CPU. The device im building on has 2Gb onboard memory. I've tried a multitude of methods, but all seem to fail in various ways. Right now I'm trying to use the method proposed [here](https://github.com/koenvervloesem/bazel-on-arm) which is based on [this](https://docs.bazel.build/versions/3.7.0/insta

[2021-05-10 12:15] tom-doerr opened #15717 "[tune] Link to tests broken"
The link to the tests in the documentation is broken:

"Make sure all existing tests pass." (https://docs.ray.io/en/master/tune/contrib.html)

[2021-05-10 12:44] YeahNew commented on #15552
@richardliaw @amogkam
Hello,
I have submitted a PR, please take a look .
https://github.com/ray-project/ray/pull/15718

[2021-05-10 14:11] mvindiola1 commented on #15715
Hi @roireshef,

I am not seeing why change 1 is necessary. Do you mind elaborating on your thought process here.

I might be missing something but as I was looking through the code the only place I saw that was using it was here: https://github.com/ray-project/ray/blob/e973b726c2e4039bd5a35ecfffad5028a15cdfee/rllib/evaluation/postprocessing.py#L124

I don't think changing it from `use_gae` to `use

[2021-05-10 16:17] amogkam commented on #15717
Ah yes, good catch! It should be linked to https://docs.ray.io/en/master/tune/contrib.html#testing instead. Do you mind making a quick PR for this and tagging me?

[2021-05-10 16:42] roxanadangerm commented on #15678
Yes, this worked.
Thank you very much, @richardliaw .

[2021-05-10 17:52] magedhelmy1 commented on #14026
@wuisawesome can you kindly share the link of the fix to see the ray dashboard on the Windows operating system?

[2021-05-10 18:10] hegdeashwin commented on #8667
@sumanthratna Would it be possible to share the screen shot of the dashboard where you are facing the issue?

[2021-05-10 18:14] hegdeashwin commented on #9103
@goulou If possible you can guide me with steps to reproduce the issue. I can take a look at it.

[2021-05-10 18:48] hegdeashwin commented on #15548
Team, Let me check this out.

[2021-05-10 18:53] philippeboyd commented on #11638
@rkooo567 just got the same error. Which port range did you end up going with?

[2021-05-10 18:59] hegdeashwin commented on #13894
@edoakes Let me check this out.

[2021-05-10 20:07] sumanthratna commented on #8667
to be honest, I don't remember what the exact issue was since this ticket is so unspecific, but I *think* the issue is that the column labels are all on different heights. (this issue still exists; see vid below)

# The Issue

https://user-images.githubusercontent.com/31281983/117716666-dc620c00-b1a7-11eb-8785-4237686f4289.mov

# Reproduction

https://github.com/sumanthratna/ray-dashboard-tune-hpa

[2021-05-10 20:41] edoakes commented on #15632
Actually one option for installing the env would be to do it using Ray tasks!
[code]

You could schedule this to run on every node doing something like this:
[code]

[2021-05-10 21:08] asm582 commented on #15672
@richardliaw  can you please help with the above questions

[2021-05-10 22:23] ahalev opened #15724 "Basic Python API Example Error (rllib)"
I am attempting to run the [Basic Python API example](https://docs.ray.io/en/master/rllib-training.html#basic-python-api) and am getting the following error:

[code]

When I remove the line `config["eager"] = False` it appears to work.

I am using ray-2.0.0.dev0. Thanks!

[2021-05-10 22:49] rkooo567 commented on #15684
Hmm but other multi-tenant systems like Linux or Kubernetes doesn't create namespaces dynamically right? It is usually sys_admins who have the access to create new namespaces, and applications are just connecting to existing ones instead of dynamically creating ones on the fly. Is our concept of namespace different from those systems, and that's why it is better for multi-tenant use cases?

[2021-05-10 22:50] rkooo567 commented on #11638
It was `--max-worker-port & --min-worker-port` and ports between this range.

[2021-05-10 23:11] ericl commented on #15319
I'm going to close this since I think it duplicates https://github.com/ray-project/ray/issues/14182

[2021-05-10 23:11] #15319 closed

[2021-05-10 23:15] ericl commented on #15457
Downgrading the priority of this since Redis is going to be removed anyways soon.

[2021-05-10 23:29] richardliaw opened #15725 "[rfc] Support `ray[aws,gcp,azure]` as an install target"
### Describe your feature request

Currently, there's no automated way of obtaining cloud-specific autoscaler dependencies. users need to go to the docs (or risk an upgrade) when the code changes.

It'd be great if a user could just use `pip install ray[aws]` to obtain the right dependencies.

In practice, users would probably do:

[code]

### Other alternatives

`pip install ray[cloud]`
`pip inst

[2021-05-10 23:29] richardliaw commented on #15725
I'd be open to better suggestions for the name/targets too.

[2021-05-11 01:37] simjay commented on #15642
Hey @edoakes

a few questions

1. According to the doc you shared with me (https://docs.google.com/document/d/1MqAmWKC6Ev2jKnxoPn93PJ_Ya53k_tJsChJs5zJORd0), looks like you wanted to input `prev_version` to be an argument for `options` method rather than `deploy` method (from `api.py`). I'm a bit concerned as `options` method give you an `Deployment` object and this might lead us to a race-conditio

[2021-05-11 01:53] ijrsvt opened #15730 "[Tune] test_trial_scheduler_pbt has become flaky recently!"
### What is the problem?
* `test_trial_scheduler_pbt.py` has become flaky recently and has been marked as flaky!

Related PR marking it as flaky:
https://github.com/ray-project/ray/pull/15729

[2021-05-11 01:54] ijrsvt commented on #15730
cc @ray-project/ray-tune

[2021-05-11 06:21] iycheng commented on #15550
I disabled the gc and run the iteration two times. Things are wired. For the first iteration, generation zero in gc gives nothing related to object ref and is like this:
[code]

But for the second it's more complicated, and having things like `cell`, `ObjectRef` and other complicated things.

This is kind of wired since the first and second iteration run the same code. Even between two iterations,

[2021-05-11 06:40] ericl commented on #15550
We already trigger GC periodically every 10 minutes I believe. How about
raising this frequency with the object store memory usage? E.g.,

50% -> every 100 seconds
75% -> every 10 seconds

There's a bunch of code managing GC frequency that could be modified to
implement this adaptive strategy.

On Mon, May 10, 2021, 11:22 PM Yi Cheng ***@***.***> wrote:

[2021-05-11 07:25] sven1977 commented on #15711
Hey @yangysc . Absolutely, this could be a problem with large torch models.

Will fix this.

Also, we are working on deprecating the ModelV2 API (with the `value_function` call) anyways right now, such that it's be more transparent for users what's actually happening under the hood when models are called.

[2021-05-11 07:45] sven1977 commented on #15698
Thanks for raising this issue @ArturNiederfahrenhorst !
I left a comment on discuss. I don't think the difference is big enough to justify a change right now as it could (but should not) break people's baselines/tuned configs.
Let me know, if you think the current values could potentially negatively affect PPO's learning.

[2021-05-11 09:08] junhuihuang opened #15734 "ray.init(address='auto') Aborted (core dumped) in some worker POD"
### What is the problem?
- `ray.init(address='auto')` maybe failed, return **Aborted (core dumped)**

*Ray version and other system information (Python version, TensorFlow version, OS):*
- Python 3.7.5
- ray 1.3.0

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external li

[2021-05-11 09:38] chenk008 commented on #14077
@edoakes  Currently unprivilege container mount cgroupfs as readonly, we can't create new cgroup in unprivilege container. Adding `SYS_ADMIN` make the container has ability to remount cgroupfs as readwrite.

And creating nest container also needs `mount overlayfs`, `pivot_root` . These operations require `SYS_ADMIN`.

 I think `SYS_ADMIN` is requirement for all nested containers.

[2021-05-11 11:02] sven1977 commented on #15625
Hey @ethanluoyc . Great question! @hartikainen , one of the authors of the SAC paper actually implemented our SAC and I remember that it didn't really matter whether you are calculating the gradients for log(alpha) or alpha directly. It could be that the thought was that log adds some numeric stability here.

[2021-05-11 11:29] sven1977 commented on #15413
Hey @iamhatesz , I think this makes all sense. The 100 comes from
`config["metrics_smoothing_episodes"]`, could you try setting this to e.g. 1000?

[2021-05-11 11:30] #15489 closed

[2021-05-11 11:31] sven1977 commented on #15417
Hey @Pernicies27 , we have added an example script here that shows how one can achieve this.

https://github.com/ray-project/ray/blob/master/rllib/examples/restore_1_of_n_agents_from_checkpoint.py

[2021-05-11 11:34] sven1977 commented on #15724
Thanks for raising this @ahalev , great catch! Will fix this.
Background: The `eager` config key is no longer recognized. Use `framework=[tf|tfe|tf2]` instead (tf=static-graph, tfe=tf1.x-eager, tf2=tf2.x-eager).

[2021-05-11 11:34] #15724 closed

[2021-05-11 11:43] sven1977 commented on #15724
https://github.com/ray-project/ray/pull/15736

[2021-05-11 12:02] ethanluoyc commented on #15625
Thanks for the explanation! I suspect that's the reason as well.

On Tue, May 11, 2021 at 12:03 PM Sven Mika ***@***.***> wrote:

[2021-05-11 13:35] sven1977 commented on #15423
Very interesting! Thanks for filing this @Phirefly9 and for helping out @mvindiola1 ! I will update the example script in this PR here to include your fantastic env example that uses a ray remote actor :)

I think the simple reason why this is not working is that the parallelism race-conditions into the remote actor. A good solution should be to do it this way: handling the rng inside each env, th

[2021-05-11 13:39] sven1977 commented on #15423
Btw, I confirmed the above creates reproducible train runs, even with num_workers > 1.
I hope the proposed changes are feasible given your specific constraints here.

[2021-05-11 13:39] #15423 closed

[2021-05-11 14:51] edoakes commented on #14077
I see. In this case, unfortunately I don't think this is a viable solution because setting the `SYS_ADMIN` privilege won't be possible for many open source users due to internal security policies.

[2021-05-11 15:23] chenk008 commented on #14077
Both [AWS](https://docs.aws.amazon.com/eks/latest/userguide/pod-security-policy.html)  and [GKE](https://cloud.google.com/kubernetes-engine/docs/concepts/security-overview)  are supported to set the `SYS_ADMIN` privilege. Even we need `SYS_ADMIN` to run `perf` in container before linux kernel 5.8.

Alternatively we can use firecracker/kata as kubernetes container runtime to avoid  security problem

[2021-05-11 15:24] chenk008 commented on #14077
Both [AWS](https://docs.aws.amazon.com/eks/latest/userguide/pod-security-policy.html)  and [GKE](https://cloud.google.com/kubernetes-engine/docs/concepts/security-overview)  are supported to set the `SYS_ADMIN` privilege. Even we need `SYS_ADMIN` to run `perf` in container before linux kernel 5.8.

Alternatively we can use firecracker/kata as kubernetes container runtime to avoid  security problem

[2021-05-11 15:24] chenk008 commented on #14077
Both [AWS](https://docs.aws.amazon.com/eks/latest/userguide/pod-security-policy.html)  and [GKE](https://cloud.google.com/kubernetes-engine/docs/concepts/security-overview)  are supported to set the `SYS_ADMIN` privilege. Even we need `SYS_ADMIN` to run `perf` in container before linux kernel 5.8.

Alternatively we can use firecracker/kata as kubernetes container runtime to avoid  security problem

[2021-05-11 15:35] chenk008 commented on #14077
If we don't use nest container, there will be other security problems.
Raylet and worker must share the same ipc namespace to use share memory, and also must share the pid namespace to save worker PID. Currently in K8s, we have to set Pod to use HostIPC and HostPID. This is usually forbidden.

[2021-05-11 15:51] chenk008 commented on #14077
1. Currently Raylet listens on unix domain socket in temp dir, so all worker Pod need to mount this temp dir. In other words, we need to create temp dir on every K8s node in advance.
2. Different Pod in the same K8s node can't use the shared memory unless using the HostIPC
3. I don't think it's best practice that Raylet asks K8s apiserver to create Pod for worker

[2021-05-11 15:59] ijrsvt commented on #15549
cc @richardliaw any updates on this?

[2021-05-11 16:02] AmeerHajAli commented on #15378
@richardliaw , can we close this issue (and feel free to reopen if it is still causing issues)?

[2021-05-11 16:03] mvindiola1 commented on #15715
@sven1977 I had a comment here but accidentally deleted it on my phone. At first I thought it had already been fixed too but as I was thinking about it more I think there might still be an issue.

The PR you mentioned made sure that the loss was including the critic but here I think @roireshef identified an issue with computing the "reward" for a sample batch when the last timestep does not align

[2021-05-11 16:14] edoakes opened #15738 "[serve] Controller shouldn't deserialize deployment classes"
This is a problem when the controller is running in a different env from the deployment.

[2021-05-11 16:15] philippeboyd opened #15739 "[autoscaler] memory usage rarely shown in the monitor logs"
### What is the problem?

Autoscaler info sometimes show `memory` and `object_store_memory` and sometimes doesn't.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray 1.3.0 (1.2.0 also), python 3.8

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snipp

[2021-05-11 16:33] richardliaw commented on #15378
it is fixed, feel free to close

[2021-05-11 18:06] #12930 closed

[2021-05-11 18:08] simon-mo opened #15743 "[Serve] test_router is flaky"
https://buildkite.com/ray-project/ray-builders-branch/builds/1304#6f42b72f-e81a-48b0-8d2d-45bd145c83ea/347-5203

[code]

after test_sharding.

[2021-05-11 18:35] tgaddair opened #15744 "[kubernetes] Race condition with K8s Operator and CRD"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 1.3.0

There appears to be a race condition between the Ray Operator pod and the RayCluster CRD in cases where they are deployed together (e.g., Helm). Namely, it seems that if the Ray Operator starts first and hits [the line](https://github.com/ray-project/ray/blob/4459a5a2b1f1ba1376f577

[2021-05-11 18:51] richardliaw commented on #15725
Done, I left a comment about other options.

[2021-05-11 19:19] iycheng commented on #15550
I like the idea of increasing the frequency. Let me check how to implement this. In terms of cycle reference, I don't have a good idea about the root cause.

[2021-05-11 20:53] vnlitvinov commented on #15725
If that is possible, targets could be named `cloud+aws`, `cloud+gcp`, etc.
I cannot check it right now because for some reason docs on `pip` and `wheel` are giving me "server error" right now :(

[2021-05-11 21:35] DenysAshikhin commented on #15623
@sven1977 Has mentioned that this is a compatibility issue with Windows 10, so don't try DD-PPO without being on Unix...

[2021-05-11 21:35] #15623 closed

[2021-05-11 22:58] pcmoritz commented on #15725
In that case I don't think adding the `cloud+` prefix adds a lot of value here, most people who are thinking of using them probably know that these are clouds :)

[2021-05-11 23:04] stephanie-wang opened #15750 "[core] ObjectStoreFullError when creating multiple large return objects for a task, but individual objects are small enough"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 2.0dev

Ray should guarantee that any object less than the object store capacity should be able to be created. However, this currently does not work for a task with multiple return objects, whose total size is greater than the capacity. The problem is that the worker tries to allocate all

[2021-05-11 23:38] max0x7ba opened #15751 "[tune] workers get stuck in ray.tune.report"
### What is the problem?
I run an experiment with 10000 trials and 32 CPU workers. It logs:
[code]

while 27 worker CPUs are idling.

`ray stack` reports that 27 workers are stuck in `ray.tune.report` with the following stacktrace:

[code]
[Complete `ray stack` and `ray status` output](https://github.com/ray-project/ray/files/6462489/ray-stack.txt)

Why would workers get stuck in `ray.tune.report`

[2021-05-12 00:06] JD-ETH opened #15752 "[rllib] torch based agent fails at instantiation"
### What is the problem?
Instantiate pytorch agend fails.

Python: 3.7
Ray: 1.3
Pytorch: 1.7.1
CUDA: 11.1
OS: Linux 18.04

### Reproduction (REQUIRED)
[code]

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [X] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

### Error message and trace:
[code]

[2021-05-12 00:08] #15595 closed

[2021-05-12 00:08] #15695 closed

[2021-05-12 01:40] DenysAshikhin opened #15753 "Randomly get empty queue when requesting action using PPO policy client + server"
### What is the problem?

I have a fully working PPO policy client+server implementation that works and trains successfully. However, seemingly randomly it will throw a queue empty error (stack trace below) which happens anywhere from several timesteps to several episodes. I am not sure where to start trouble shooting this - I have checked that the returned observation values are all within the li

[2021-05-12 02:07] DmitriGekhtman opened #15754 "[kubernetes][operator] Healthcheck / fine grained status info in RayCluster CRD"
### Describe your feature request

Add more fine-grained status info about the Ray head pod to the RayCluster crd, e.g

Pending: ContainerPending (with scheduling reasons)
Pending: ContainerPull
Pending: ContainerStarting
Running: Healthy
Running (Error): Unhealthy (Ray not running)

For the last one, add `ray health-check` (from https://github.com/ray-project/ray/pull/15429) as a liveness probe t

[2021-05-12 02:21] #14577 closed

[2021-05-12 04:02] #13086 closed

[2021-05-12 05:10] mvindiola1 commented on #15753
Hi @DenysAshikhin,

The place I would start is this line in your policy client
`action = client.get_action(episode_id=episode_id, observation=gameObservation)`

Based on the call stack you know that it is failing there so the question is if something is broken or if the policy is just taking a long time to return an action for some reason. Are you caching a local model?

What I would probably do i

[2021-05-12 05:34] keyan commented on #15752
I'm also running into this issue. My repro script is less minimal than @JD-ETH, but including for completeness:
https://gist.github.com/keyan/fa0fca7da94542db2daa989e9973293d

Error:
https://gist.github.com/keyan/7169bf28e0b03493f2ed9f372456b612

- I'm running this on CPU only
- Mac 10.14.6
- Python 3.8
- Ray versions 1.0, 1.1, 1.2, 1.3 -- all display same behavior

In Ray 1.0, the error only happ

[2021-05-12 06:28] mxz96102 commented on #13893
Rename to class name col to display functionDescriptor

[2021-05-12 06:38] wuisawesome commented on #15433
I think we can do it in the dashboard as long as we make it clear that it is an internal testing tool, off by default, and not a public/stable API. In general, we should still make sure we don’t want to turn the dashboard into an API server (e.g. we don’t want this to turn into a way to execute commands for submitting jobs).

[2021-05-12 06:45] YeahNew commented on #14467
get it, Thanks

[2021-05-12 06:45] lixin-wei commented on #15433
@wuisawesome Sure, this will only be an internal testing tool.

So you agree with my solution that doing this in dashboard agents? If you agree, I'll start to open a PR and implement this.

[2021-05-12 06:53] wuisawesome commented on #15433
Yeah sounds good

[2021-05-12 06:53] raulchen commented on #13890
@edoakes do you know how to get the object store usage for a worker?

[2021-05-12 07:08] #15477 closed

[2021-05-12 07:46] iamhatesz commented on #15413
Thanks @sven1977, I wasn't aware of that flag. Yes, with e.g. 1000 the number of accumulated values increases. Still, I am expecting it doesn't, as I am mutating the `result` dictionary. The use case is I want to calculate some metric based on episodes collected only in this particular iteration. Maybe there is a better, recommended way to do that?

[2021-05-12 07:56] timurlenk07 commented on #15752
I think it is the same bug as [this](https://github.com/ray-project/ray/issues/14523#issue-823960719), it is solved in master but they forgot to include in the new release for some reason.

[2021-05-12 08:38] Bam4d commented on #9964
I've done some more digging using tracemalloc and I dont think the bug is actually in the python code as there's no large consistent allocations of python objects. This leaves it to be a potential issue with pytorch or some c++ library, or something to do with how ray  handles worker memory.

The bug also does not seem to happen consistently for me across machines. More specifically, on servers wh

[2021-05-12 09:37] max0x7ba commented on #15751
@richardliaw
[Output of `ls -l /tmp/ray/session_latest/logs/*`](https://github.com/ray-project/ray/files/6465163/log-files.txt.gz).
[Output of `tail -n 50 /tmp/ray/session_latest/logs/*`](https://github.com/ray-project/ray/files/6465159/logs-tail-n50.txt.gz).

[2021-05-12 09:57] sven1977 commented on #11291
Hey @ChrisCummins , actually, RLlib+torch supports GPUs as well (even multi-GPUs as of the current master).
Could you send me your entire stack trace with the cuda tensor error so I could take another look?

[2021-05-12 10:20] max0x7ba commented on #15751
The number of idle workers appears to be proportional to the number of completed trials: 0 idle workers at the beginning of an experiment, 27 idle workers after ~9000 trials have completed.

[2021-05-12 10:38] ChrisChiasson commented on #5033
Does this mean the pyarrow uninstall is no longer needed here? https://github.com/ray-project/tutorial/blob/master/exercises/colab01-03.ipynb

[2021-05-12 11:03] fatenghriss commented on #14399
Hello, did someone ended by by finding a link to this migration guide? Thanks

[2021-05-12 11:22] rfali commented on #15683
@mvindiola1 @sven1977 what should I change [here](https://github.com/ray-project/ray/blob/1d834bcbe33c7714913fa06c7a7392c29eb7d71d/rllib/agents/dqn/distributional_q_tf_model.py#L171) if I want to receive multiple q-heads instead of 1?

[2021-05-12 12:12] sven1977 commented on #15646
Hey @HanbumKo , could you try it with the above patch? I noticed that in torch, batch-indices for the prio replay buffer are converted by the SampleBatch to torch tensors and then sent via ray to the remote replay shards. On the way there, things don't get transferred correctly and the indices arrive all different, leading to wrong prioritizations in the buffer(s).
I'll try to confirm that this fi

[2021-05-12 13:49] mvindiola1 commented on #15556
@sven1977,

I just installed the nightly wheel to retest. I am still getting the error I mentioned above in "ray/rllib/policy/sample_batch.py", line 82. Once I fixed that error and applied the pull request it worked for me.

It is learning stateless cartpole with horizon=200 in 187 iterations:
[code]

[2021-05-12 15:27] davidberenstein1957 commented on #15632
I just had everything up and running with the seperate dockerimage approach, but after 15 minutes I got the following error message:
`ray.util.client.dataclient - INFO     - Server disconnected from data channel`
Also, the cluster doesnn't seem to autoscale when in need of additional resources.

[2021-05-12 15:44] max0x7ba commented on #15504
https://github.com/ray-project/ray/issues/15751 may be related to `TrialRunner._trials` growing indefinitely.

[2021-05-12 16:38] edoakes commented on #13890
The easiest way to find out would be to look at the current OSS dashboard frontend code and trace it back, because it's displaying per-worker GPU stats.

I believe the way it works is we get the GPU usage by GPU index here:
https://github.com/ray-project/ray/blob/master/dashboard/modules/reporter/reporter_agent.py#L336

Then we get the GPUs assigned to the workers via CoreWorkerStats:
https://gith

[2021-05-12 16:43] edoakes commented on #15632
@AmeerHajAli is the above the same issue that we recently addressed by adding gRPC keepalives to the Ray client?

Also, @davidberenstein1957 could you share the logs from the Serve controller (it should print some messages saying that deployments are pending startup) and the autoscaler logs? That should help diagnose the issue!

[2021-05-12 16:49] #14634 closed

[2021-05-12 16:49] #14837 closed

[2021-05-12 16:49] #15608 closed

[2021-05-12 16:56] kk-55 opened #15764 "[RLlib] AttributeError: 'numpy.ndarray' object has no attribute 'get_shape' when running custom_rnn_model example with framework tf2 or tfe"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray, version 2.0.0.dev0
Python 3.8.8, 64-bit
tf.__version__ 2.4.1
Microsoft Windows 10 Pro

AttributeError 'numpy.ndarray' object has no attribute 'get_shape' when using method `add_time_dimension` with framework configs `tf2` or `tfe`. If variable `padded_inputs` is an numpy array which

[2021-05-12 16:57] DmitriGekhtman commented on #15744
It's possible the CRD is partially initialized.
Could you give more details about how you're currently deploying?

[2021-05-12 17:18] DmitriGekhtman opened #15765 "[wheel][doc] Make it easier to access Ray wheels for specific commits"
### Describe your feature request

See title.

The current copy-paste solution suggested in the docs is error-prone and a bit hard on my shoulder:
https://docs.ray.io/en/master/installation.html#installing-from-a-specific-commit

[2021-05-12 17:50] richardliaw commented on #15549
cc @rkooo567

[2021-05-12 18:22] DenysAshikhin commented on #15753
So I get a different error now, it seems to be related to timing out when updating the local policy?

[code]

[2021-05-12 20:59] DmitriGekhtman commented on #15744
I _think_ Helm should do the right thing if the crd is stuck under `crds`.
I'll make a note in the doc update that's coming with the Helm PR that, if deploying manually, one should deploy the CRD first and give it a few seconds to register.

[2021-05-12 22:21] tgaddair commented on #15744
Earlier today I noticed a few other occurrences of this problem (Ray Clusters not being detected / initialized correctly). This was for a Ray Operator that was already running. In general, my suspicion here is that responding to k8s events is not going to be 100% reliable.

1. In one case, the added RayCluster failed to get picked up after a monitoring process in the Ray Operator crashed the the f

[2021-05-12 22:41] rkooo567 opened #15770 "[RFC] Ray succeeds its first 100TB shuffle."
2 weeks ago, we succeed 100TB streaming shuffle for the first time :slightly_smiling_face: (technically 90TB).

**Note:** the current 100TB shuffle experiment is not actually using 100TB sort implementation (but it is using script that stresses the network & storage & memory layer of Ray in the same way). We are planning to implement sorting algorithm for further testing and performance optimizati

[2021-05-12 22:42] rkooo567 commented on #15770
cc @ericl @stephanie-wang @clarkzinzow @iycheng @valiantljk @kfstorm

[2021-05-12 22:46] #15404 closed

[2021-05-12 23:36] DmitriGekhtman commented on #15744
I think the particular issues here have been fixed in current master.

It's kind of a janky setup, but each monitor update queries the GCS, effectively serving as a health check on the Ray Cluster.
https://github.com/ray-project/ray/blob/cdf93930f3349a03e68d844ccbef940c5b84c68e/python/ray/autoscaler/_private/monitor.py#L184-L186

With the recent changes, a Ray failure does trigger a Ray restart vi

[2021-05-12 23:51] tgaddair commented on #15744
One difference here is that the Ray cluster itself is being started for the first time, so it's a failure of the Ray Operator to detect a CREATE event, which may be different from what you're referring to.

[2021-05-13 00:43] ijrsvt commented on #15549
@richardliaw Unless I am mistaken, this also does not work for multiple drivers interacting with a detached actor.

[2021-05-13 02:25] richardliaw commented on #15549
@ijrsvt probably, I'm just reporting this from my use case (and probably didn't capture the full scope of the issue!)

[2021-05-13 03:00] richardliaw commented on #14399
Hmm, I am trying to recover this doc but it looks like I cannot find it.

Here is an "audit" spread sheet that we did share publicly:

https://docs.google.com/spreadsheets/d/1F6VZ1R_fgDzpRZjXI5_6gaUwW2CQKi431dCDTR-Vm8s/edit#gid=0

[2021-05-13 04:14] DmitriGekhtman commented on #15744
Hmm, that is strange - this could use repro with master, though. (SHA can be pinned, nightly operator compatible with 1.3.0 cluster.)
A bunch of fixes have been applied since 1.3.0 branch cut in March.

[2021-05-13 04:45] davidberenstein1957 commented on #15632
Hello, thanks for the great support by the way! I hope this is enough context.

My set-up.
kubernetes cluster -> ray operator cluster. Note, the operator was not able to use my custom docker image so it is running an image without the installation of transformers and pytorch.
[ray.cluster.yml.txt](https://github.com/ray-project/ray/files/6470366/ray.cluster.yml.txt)
[ray.operator.yml.txt](https://

[2021-05-13 05:43] iycheng commented on #15550
We'd like to prevent global gc from triggered too frequently, so the minimal time between triggering should be 30s by default.

But this still doesn't fix this specific issue. The reason is that things are happening fast, and we have 30s by default, which is not enough for this case. I'm wondering whether it's enough for practice.

[2021-05-13 05:50] simon-mo opened #15776 "[Serve] Controller high resource usage for 5+ nodes"
When there are about 10 nodes in the cluster, the controller uses 30% of the CPU when doing nothing.

The py-spy result shows the following, maybe we should run some of the loop in difference cadence? @edoakes
[code]

[2021-05-13 05:54] simon-mo commented on #15776
Profile flamegraph
![image](https://user-images.githubusercontent.com/21118851/118084155-103e5c80-b375-11eb-8ea3-5bc25336c5ed.png)

[2021-05-13 05:55] simon-mo commented on #15776
... actually, this is a core bug

[2021-05-13 07:02] rkooo567 commented on #15549
@ijrsvt Lmk what's the root cause & if there's anything I can help!

[2021-05-13 07:03] rkooo567 commented on #14399
Btw, the original doc was in our "discussion" channel, which we decided to delete over discuss.ray.io. And the post was deleted because of that.

[2021-05-13 07:22] richardliaw opened #15778 "[placement groups] Pending tasks not removed after job terminated"
### What is the problem?

It seems like placement groups are being leaked.

Here's a repro script:

[code]

Then run:
[code]

Then run:

`ray status`
and observe a bunch of resource demands

[code]

[2021-05-13 07:25] rkooo567 commented on #15778
I think the placement group is cleaned properly, but the demand is not based on the fact that it has 16 available cpus.

[2021-05-13 07:25] rkooo567 commented on #15778
cc @wuisawesome

[2021-05-13 07:27] rkooo567 commented on #15778
I guess these tasks need to be infeasible task at the end? We should probably just not display infeasible tasks to ray status? Or we can also clean up scheduling queue when pgs are cleaned (but there could still be race condition, e.g., tasks are scheduled after pgs are cleaned up).

[2021-05-13 07:55] poutyface commented on #14284
I met same issue.
[code]

[2021-05-13 09:48] PostmanSpat opened #15780 "Redis connection errors when calling from ray.init [tune]"
### What is the problem?
Trying to set up a basic environment to use TensorTrade (TensorFlow) and ray[tune], but I get the following error when trying to connect to redis calling ray.init:
`ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it`

Redis is set up, I've configured the password, and I can connect ok using redis-cli.

I've p

[2021-05-13 14:13] HanbumKo commented on #15646
Thanks, I've applied your commit and saw that worked well for the cartpole example. But, due to computation resource limitation, haven't tested Pong yet.

[2021-05-13 14:18] tgaddair commented on #15744
I'm going to be running some tests today, but truthfully I can see by looking at the code that there are a number of stateful elements of the existing operator that will cause these kinds of failures in the event of pod restart. For example, if you look at the deletion logic [here](https://github.com/ray-project/ray/blob/master/python/ray/ray_operator/operator.py#L300), it seems that if the pod re

[2021-05-13 14:42] DmitriGekhtman commented on #15744
Hmm, it is currently not well commented, but if the operator pod restarts, the operator will register harmless ADDED events for all existing RayCluster resources. This will run the equivalent of ``ray up --no-restart``  for all of the running clusters, repopulate the dict, and re-store the configs, without restarting the Ray cluster.

The lack of proper external state management will probably caus

[2021-05-13 14:45] DmitriGekhtman commented on #15744
Also, the configs should instead be stored as ConfigMaps..

[2021-05-13 15:22] al-rigazzi commented on #10604
Actually, can anyone address this question? It seems like Ray (and tune) launch a lot of threads. Is there a way to contain this number?

[2021-05-13 15:30] #15776 closed

[2021-05-13 15:31] edoakes commented on #15776
Good catch @simon-mo could you profile it again with merged change?

[2021-05-13 16:29] #14322 closed

[2021-05-13 16:54] AmeerHajAli commented on #15549
@rkooo567 , can you please triage this?

[2021-05-13 17:03] rkooo567 commented on #15549
@AmeerHajAli Let me try reproducing it real quick and add it to core bugs if it doesn't work for regular driver cases. Thought it was a client specific bug.

[2021-05-13 17:05] chenk008 commented on #14077
Hey @ericl @edoakes , in my opinion, we want to build Ray as serverless platform, it makes sense to run Raylet with `SYS_ADMIN`. I don't think it is very hard to request for `SYS_ADMIN` capability in most K8s cluster, and we can use seccomp to add syscall restrict. In AntGroup K8s cluster, Pod will be assigned `SYS_ADMIN` capability by default.

But the worker containers are running without `SYS_A

[2021-05-13 17:10] ericl commented on #14077
I see, it does seem better that untrusted user code is run in an unprivileged context. @edoakes @yiranwang52 what do you think? Perhaps we can poll the community to see how acceptable this is?

Note that I think we don't have to be satisfying 100% of users, since this feature is optional after all. As long as a majority are happy I think that is enough to move forward.

[2021-05-13 17:13] mrmotallebi commented on #12677
Ping

[2021-05-13 17:34] #14117 closed

[2021-05-13 17:51] rkooo567 commented on #15549
I verified it didn't work with ray.init(address='auto').

[2021-05-13 17:52] rkooo567 commented on #15549
Ah, the problem is our log monitor streams logs to the same "job". We probably need a special logic for detached actors.

[2021-05-13 18:29] edoakes commented on #13892
Memory too!

<img width="314" alt="Screen Shot 2021-05-13 at 1 28 47 PM" src="https://user-images.githubusercontent.com/9871461/118169968-2e48a300-b3ef-11eb-89ce-1d15bae46355.png">

[2021-05-13 18:31] edoakes opened #15786 "[serve] Actor definition is exported once per replica instead of once per deployment"
[code]

[2021-05-13 19:00] mitar commented on #14399
And nobody can find the doc through other means?

[2021-05-13 20:43] hlsafin opened #15795 "Retro Enviroement?"
Sorry, I am a newbie, But how to set up Retro Environment? I am trying to run this on Sonic the Hedgehog.
general guidance or direction would be very helpful. Thank you!

[2021-05-13 20:48] roireshef commented on #15715
@mvindiola1 I'm not fluent in the history of changes here, but yes, I agree this is the expected behavior, and that current behavior is different. Thanks for the clarification.

[2021-05-13 20:57] roireshef commented on #15715
@sven1977 I only skimmed through #15610, but it seems it only changes PPO-specific code. The issue I'm pointing to is actually an unexpected behavior of ValueNetworkMixin, which is shared across different algorithms than PPO. ValueNetworkMixin can be implemented so that it supports **using critic without GAE**, which is the essence of proposed change in my PR.

[2021-05-13 21:01] #15738 closed

[2021-05-13 23:34] DmitriGekhtman commented on #13911
Just to be clear, we want resources to be optional just for providers that autofill resources, right?

[2021-05-13 23:40] DmitriGekhtman commented on #13911
I think this is actually long resolved? AWS configs don't require resources anymore?

[2021-05-13 23:59] DmitriGekhtman commented on #13911
@mwtian and I looked into this and found it to be already resolved

[2021-05-13 23:59] #13911 closed

[2021-05-14 00:50] mvindiola1 opened #15800 "[Rllib][marwil] loss calculations not masking padded values when using RNN"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray:master

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cann

[2021-05-14 01:23] wuisawesome opened #15801 "Actors not scheduling when some placement groups cannot be placed"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

When you try to create more placement groups than the available resources in the cluster, some of the placement groups are created, and others are pending.

If you try to schedule actors on all the placement groups, you would expect some of the actors to be scheduled (because some of the

[2021-05-14 01:59] ericl commented on #15801
I added a print to the tdqm loop and it works for me. Is it just a tqdm bug?
[code]

[2021-05-14 02:42] lethaiq commented on #10761
very helpful thanks.

[2021-05-14 05:12] fyrestone opened #15807 "[RuntimeEnv] The setup_runtime_env.py choose incorrect Python"
### What is the problem?

The `setup_runtime_env.py` execvp `bash -c exec python ...`, while the default Python may not be the Python ray is using. For example, system default Python is Python 2.7,  ray use Python 3.6.5. The Python worker will fail.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray version: Latest master 395c0ea03c5e90e2df91071606f9a1444068c

[2021-05-14 05:16] SongGuyang commented on #13890
@edoakes @raulchen I will try to do this.

[2021-05-14 05:50] kfstorm opened #15808 "Worker crashes on `ray.get` while spilling objects"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Ant internal repo synced to the community commit 6e19facc7f.

We found an object spilling bug in our internal code repo and I’m wondering if this has been fixed in the community. I suspect `CoreWorker::PlasmaCallback` may crash if spilling happens between `Contains` and `Get`.

Worker log

[2021-05-14 05:59] rkooo567 commented on #15808
Btw, do you know how to reproduce it? I assume if we run object spilling workload with async actor, it can be pretty easy to invoke, but it might be great if we can have a script (so that we can have unit tests)

[2021-05-14 06:58] kfstorm commented on #15808
Ah, I didn't realize that I need to use an async actor. Now I can reproduce it with the community version. Here is the repro script. I just modified `test_spill_during_get` to use async APIs.

[code]

Note that we need to add a sleep statement to easily reproduce the issue. I don't know how to mock this gap in test.

[code]

[2021-05-14 09:34] QiuZiXian commented on #15587
I ran into a similar situation.
My environment is win10 and python3.8.3
when I install ray follow the document of ray site （https://docs.ray.io/en/master/installation.html）
`pip install -U ray`
then run the code below
`import ray
ray.init()`
but it throws an exception like
`D:\app\anaconda3\lib\site-packages\ray\autoscaler\_private\cli_logger.py:57: FutureWarning: Not all Ray CLI dependencies were

[2021-05-14 09:55] rfali commented on #15683
Reply from @sven1977  for below (No 3) received [here](https://discuss.ray.io/t/rllib-multi-headed-dqn/1974/3) in Ray Discourse.

Reply still awaited for below (No 2 is same as [this](https://discuss.ray.io/t/rllib-multi-headed-dqn/1974/5) thread on Ray Discourse and is critical for progress):

[2021-05-14 10:01] duburcqa commented on #14491
@sven1977 Would it be possible to fix this issue ?

[2021-05-14 10:02] duburcqa commented on #14968
@richardliaw Any news ? I can create a PR by myself if necessary.

[2021-05-14 10:03] duburcqa commented on #15699
@richardliaw I created the PR a few days ago, if someone want to have a look.

[2021-05-14 10:37] krfricke commented on #15504
Just as a quick update on this, it's not straightforward to just remove trials from `TrialRunner._trials`, as this would effectively be a breaking API change for existing callbacks and other hooks.

However, you're right that we're linearly scanning through the `_trials` list a number of times each step. Usually this is not a problem as most experiments run with few trials.

The default callbacks

[2021-05-14 10:42] thomas-ward27 commented on #11287
In case this is any help to others;

We have just compiled ray from git master  by merely adding 3,9 to SUPPORTED_PYTHONS in python/setup.py , we didn't include the CLI or dashboard.

So far ray works for our (very simple) use cases  - we only use ray.init() one one machine and @ray.remote

Maybe it would be OK to add python 3.9 support to ray-master?

Below is what we did to compile on Debian bul

[2021-05-14 12:56] mvindiola1 commented on #15683
Hi @rfali,

What I would try next is to move the Q value layers out of the forward call. The call to forward would return layer 5.

If you do that and I am following the code logic correctly then what should happen is that layer 5 will be the input to `get_q_value_distributions`. You would then override the base get_q_value_distributions method with your own that computes the different Q_gamma_i.

[2021-05-14 13:58] RemKamal commented on #15587
I managed to get rid of those warnings by:
from ray.autoscaler._private.cli_logger import cli_logger
cli_logger._warning(msg=None,_level_str="ERROR")

Then, even setting log_to_driver to False, it still creates thousands of logs for my actors, so I keep deleting them manually from the /tmp/ray/session_latest/logs.

[2021-05-14 14:06] sven1977 commented on #15753
Hey @DenysAshikhin , I think we fixed this some weeks ago. Which version of Ray are you on? Let me dig for the PR.

[2021-05-14 14:27] gkourogiorgas opened #15813 "Save model"
I am using Ray Tune and Optuna to train an RL agent using stable-baselines3.
I have managed to make everything work and get the best params for my agent.
My problem is that I can't somehow access the model, so I retrain it using the best params
Obviously that is not sustainable so, how can I get to the best trained model?

[2021-05-14 15:30] tbabej commented on #11287
I can confirm we built our own Python 3.9 wheels using the following patch on top of the `ray-1.3.0` tag:

[code]

Note this builds Python 3.9 wheels only.

[2021-05-14 17:17] cnarvaezmeli opened #15818 "question: should actor methods always have num_returns value?"
I was getting an error trying to understand how to use the actor methods and I got an assertion error without much info.

Looking at the [code](https://github.com/ray-project/ray/blob/7b1c5dbe0a5218fb263a8d7e704a5e96079c8193/python/ray/actor.py#L54) I saw actor methods should have that attribute.

This info is not clear in the [actor documentation](https://docs.ray.io/en/master/actors.html#actor-m

[2021-05-14 17:22] rkooo567 commented on #15818
Thanks for catching this! Would you like to create a pull request to fix the issue? I agree with both suggestions you made (and + probably improving the assertion message).

[2021-05-14 17:37] rkooo567 commented on #15808
Hmm I see. This seems to be pretty hard to test it... maybe just adding async actor-based object spilling + manual verification is the only thing we can do.

[2021-05-14 17:41] rkooo567 commented on #15778
Will discuss more about it during next standup.

[2021-05-14 18:38] simjay commented on #15642
@edoakes Made a PR here and it's my PR for Ray repo so please let me know if I am doing smth wrong! https://github.com/ray-project/ray/pull/15821

[2021-05-14 19:00] DenysAshikhin commented on #15753
That'd be wonderful news if it was as it's making training unfeasible with having to restart it several times an hour. That being said I am on Ray 1.3.0 which is what `pip install ray` does. If I try to install the nightly wheel it says unsupported on my system (win10 + python 3.8.10). If I need to get the nightly wheel, could you direct me/instruct on how to get around that issue as it seems to s

[2021-05-14 20:53] edoakes opened #15822 "[serve] Improve `Deployment` docstring and add attributes to check current settings"
Currently the decorator docstring is good but not the one for the resulting `Deployment` type.

Should also be able to do `Deployment.num_replicas` to check current setting and so on. We should document these in the docstring.

[2021-05-14 20:53] edoakes commented on #15822
@simjay based on our conversation on the other thread -- want to take it? :)

[2021-05-14 21:43] simjay commented on #15822
@edoakes Sure :) A few questions first,

1. You are talking about the docstring on `class Deployment` itself correct?
2. For checking current setting of `Deployment.num_replicas`, it will be a pretty similar types of task with `prev_version` checking, would it? I guess I wanna ask what kinds of aspects do you wanna check with num_replicas?
3. Could you elaborate a bit more on what you meant by `ad

[2021-05-14 22:51] simjay commented on #15642
@edoakes A quick question on one possible edge case: How do you wanna handle if user specified a `prev_version` but there is no deployment made yet (with controller) for that deployment object? Possible actions we could do are

1. Raise an error (since it does not match with existing version, which is None) -> This may make `deploy` method not idempotent
2. Ignore and deploy, as it won't matter as

[2021-05-14 23:05] max0x7ba commented on #15504
I spent some few hours looking into `TrialRunner` code and made the scheduler maintain its own list of only the next trials to run, only to discover that `TrialRunner._trials` is scanned elsewhere, as you reported. It looked to me that `TrialRunner` and `Trial` APIs should not pass the entire list of trials to callbacks, but rather make the callbacks query `TrialRunner` API for `Trials` they are i

[2021-05-15 00:15] #15160 closed

[2021-05-15 14:04] #15786 closed

[2021-05-15 16:36] superkido511 commented on #2456
Hi Richard. Are there any better alternatives ? Some models are complicated and it would be difficult to pass weights around

[2021-05-15 18:46] valiantljk opened #15825 "ValueError: attempted relative import beyond top-level package"
### What is the problem?
I was using Ray to run a python module, e.g., python -m folder/subfolder/my_module
Run into this problem: (without ray, I can run successfully)
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

- Ray 1.2.0 or 1.3.0
- Python 3.7
- OS: Linux
- Run in a docker container.

### Reproduction (REQUIRED)
Please provide a short code snipp

[2021-05-15 19:18] valiantljk commented on #15825
Close this, as it turns out not Ray's issue.

[2021-05-15 19:42] valiantljk commented on #15825
reopen this, after a few tests, I can confirm, even adding one line: ray.init(), the existing working code will raise the importing error
[code]

[2021-05-15 22:23] rtatton opened #15826 "Add block and timeout parameters to Queue batch methods"
https://github.com/ray-project/ray/blob/cd32a92edc275be82074b8426a24121bcf6bab0f/python/ray/util/queue.py#L191-L222

Could a `block` and `timeout` parameter be added to `get_nowait_batch()` and `put_nowait_batch()`? Ideally, they could be refactored to be
[code]
but this would cause issues with backward compatibility. Alternatively, the two blocking versions, `get_batch()` and `put_batch()` could

[2021-05-16 07:26] BugMaker-Boyan commented on #11027
Could you please show how do you do to work well? I'm searching solution for this case now. Thanks!

[2021-05-16 13:22] mbehrendt opened #15830 "Add setup instructions for running Ray on IBM Cloud Code Engine"
### Describe your feature request

I'd like to propose adding instructions to this page  for running Ray on top of IBM Cloud Code Engine: https://docs.ray.io/en/master/cluster/cloud.html

Instructions are today available here: https://www.ibm.com/cloud/blog/ray-on-ibm-cloud-code-engine

Opening up this issue based on a chat with @robertnishihara .

[2021-05-16 14:23] imxuemei opened #15831 "[rllib]Why the Hierarchical training uses new lower-level agents for each higher-level action?"
I have tried the example of Hierarchical training in https://docs.ray.io/en/master/rllib-env.html#hierarchical-environments. However, I'm a little confused about that "Each higher-level action creates a new lower-level agent instance with a new id."
I think there is only one low-level policy here, and it is trained whenever the hierarchical env switches to the low-level state. The observations fro

[2021-05-16 15:20] rfali commented on #15683
Hi @mvindiola1. Thank for your reply. I appreciate the community's help.

I am not sure what you meant by _"move the Q value layers out of the forward call"_ as I think I need the different Q-value layers as my output. Also "_The call to forward would return layer 5_" is not what I want, or perhaps I am not understanding what you meant by this.

You are right about the input to `get_q_value_distri

[2021-05-16 15:36] rfali commented on #15683
So instead of outputting multiple heads, receiving them in `DistributionalQTFModel`, and trying to work with the separate Q-heads, I have concatenated the multiple heads into one layer as my custom model output. Then I modify the L#73 to receive a single tensor but with a modified shape `shape=(num_outputs,)` to `shape=(num_outputs * number_of_gammas,)`

I will then attempt to split this tensor in

[2021-05-16 15:47] rfali commented on #15683
This is the current model

[code]

[2021-05-16 17:55] andrew-rosenfeld-ts opened #15833 "Contributor docs don't mention running tests via bazel"
### What is the problem?

Current Ray docs as of 2021-05-16 at https://docs.ray.io/en/master/getting-involved.html#testing suggest running the unit test suite via:

[code]

However, then you run into issues like https://github.com/ray-project/ray/issues/13374 , where different tests cross-contaminate the environment. The solution mentioned there is to run tests using `bazel`, but using `bazel` to

[2021-05-16 17:56] andrew-rosenfeld-ts commented on #13374
I believe this is still an issue in some strict sense, but if not, then the contributor docs need updating - I've filed that as https://github.com/ray-project/ray/issues/15833 .

[2021-05-16 20:49] simon-mo commented on #15833
Thanls for reporting it. Feel free to push a PR!

[2021-05-16 22:49] RedTachyon commented on #11291
@sven1977 I think it's the same issue as here: #14523

(I don't have the stack trace right now, but I've been having the same exact problem)

The fix is provided there, but not yet pushed as far as I understand

[2021-05-17 01:21] mvindiola1 commented on #15831
Hi @imxuemei,

The place to look is in the environment here: https://github.com/ray-project/ray/blob/master/rllib/examples/env/windy_maze_env.py

The way this works is there are two agents a high level agent (l1)  and a low level agent (l2). In this environment the l1 and l2 agents interleave steps.

L1 .    .     .    .    L1
.    L2 L2 L2 L2 .

The way this environment transitions between them i

[2021-05-17 03:43] caitengwei opened #15835 "[serve] Define Java backend core API"
**Design Document** : https://docs.google.com/document/d/1b9VCZsC2jVhWw_c_ifMu_ED3NxkARcOnU-OFqUYu-r4/edit#heading=h.b3vvz7iwnixn

[2021-05-17 04:10] AhmetFurkanDEMIR opened #15836 "Ray rllib DQN training too slow"
Hi, I'm trying to run the DQN algorithm on the [gym_super_mario_bros](https://pypi.org/project/gym-super-mario-bros/) environment, I use ray rllib for this. However, even though I have trained for hours, the rewards that come are very low, when I do tests on the environment, Mario can barely come to the half of the first map. I tried many models and reward functions, but I still couldn't solve the

[2021-05-17 04:20] imxuemei commented on #15831
@mvindiola1 , thanks very much. I got it.

[2021-05-17 04:20] #15831 closed

[2021-05-17 06:13] architkulkarni opened #15837 "Add validation for named conda environments in runtime env"
Currently, if a misspelled or nonexistent named conda environment is provided in a runtime env, the "conda activate [...] && python default_worker.py" command in the shim process fails and `default_worker.py` never gets run, so Ray hangs.  We should validate this input early on and fail gracefully.  One option is to run the command `conda env list` to see if a conda environment with the given name

[2021-05-17 06:53] architkulkarni commented on #15807
Ah, this is my mistake, thanks for catching it and pointing out the fix!  Thanks a lot for your PR as well, we'll review it shortly.  In the meantime is it okay if we fix the issue in this quick PR instead? https://github.com/ray-project/ray/pull/15834

[2021-05-17 07:38] Deathn0t commented on #15649
Thanks for your answer @simon-mo! I will try. I was wondering is there any advantage of using `RemoteFunction.options` over `ray.remote` at run time (in a functional manner such as `remote_func = ray.remote(...)(func)`?

[2021-05-17 09:46] WangTaoTheTonic commented on #13453
The initial pull request has been created: https://github.com/ray-project/ray/pull/13170

[2021-05-17 09:51] fyrestone opened #15840 "[Placement Group] The bundle_reservation_check_func breaks load code from local"
### What is the problem?
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.3.0

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):
[code]

If the code

[2021-05-17 09:54] fyrestone commented on #15840
Maybe we need a mix mode to load code from local code and serialization.

[2021-05-17 10:41] krfricke commented on #15504
Benchmark results for 10,000 trials.

Before (current master):

[code]

After (with PR applied):

[code]

I.e. virtually identical results. This is just for a 1 sec sleep task. I'm running it again right now with a 5 second 100% CPU task (matrix multiplication).

I don't think callbacks are the problem, as the default ones usually don't loop through the `_trials`. It's more likely the scheduler, w

[2021-05-17 12:11] #14230 closed

[2021-05-17 12:46] rohan-gt commented on #13855
Why is the warning still showing? It's an example given in the documentation and should be not showing any warnings right?

[2021-05-17 13:27] AmeerHajAli commented on #13855
I think it should be showing just once. Is it showing more than once?

[2021-05-17 13:37] krfricke opened #15842 "[core/placement groups] placement group `ready()` occupies resources, blocks usage"
### What is the problem?

See discussion in #15670

When using Ray Tune with different placement groups (that cannot be reused) we sometimes run into this error:

[code]

Relevant excerpt:

[code]

It seems this is due to a repeated call of `pg.ready()` in the tune loop. The `ready()` check requests a resource:

[code]

which uses a CPU  request of 0.001:

[code]

Sometimes these tasks blocks the

[2021-05-17 13:38] krfricke commented on #15670
The failing actor placement seems actually like an error in ray core when calling `pg.ready()`. I created an issue to track this in #15842. I'll close this issue for now.

[2021-05-17 13:38] #15670 closed

[2021-05-17 16:15] al-rigazzi opened #15843 "[client] Can't redirect output when using ray.util.connect"
### What is the problem?
When using `ray.util.connect()` to start a driver script, it is impossible to mimic the `log_to_driver` functionalities offered by `ray.init()`. Therefore, if I start a ray cluster using the cli on each node, and then use `ray.util.connect`, the process is overloaded with messages from all workers.
*Ray version and other system information (Python version, TensorFlow versi

[2021-05-17 16:19] #15807 closed

[2021-05-17 16:22] al-rigazzi opened #15844 "[rllib/tune] Unnecessary log from trainer when using tune"
### What is the problem?
The following messages are issued when setting log level to `WARN` or `ERROR` to a trainable example, when this is run from tune:
[code]
This defeats the purpose of setting `log_level` to a high value and clutters the worker output, as this message is shown for every trial. In other words, if I manually set the log level to a high value, then I am responsible for the lack

[2021-05-17 16:34] edoakes commented on #15642
Semantically it makes most sense to raise an error. This would catch a potential race condition where you think you're deploying an incremental version but another client deleted the deployment.

[2021-05-17 16:37] edoakes commented on #15822
1. Yep the `Deployment class`.

For 2 and 3, I just mean that users should be able to dynamically get the current settings for a deployment. For example, if they wanted to just add one replica, they could do:

[code]

I don't mean that Serve itself should do any checking, just exposing these attributes so users can use them!

[2021-05-17 16:40] philippeboyd opened #15854 "Getting dashboard agent errors even with dashboard disabled"
### What is the problem?

I keep getting this error on large clusters even if include-dashboard is false and ports are static.

If I recall correctly, I wasn't getting this when on version `1.2.0`

Cluster yaml config:
[code]

Link to this case https://github.com/ray-project/ray/issues/11638

Where is port `51660` coming from?

[code]

*Ray version and other system information (Python version, Ten

[2021-05-17 16:45] #15685 closed

[2021-05-17 16:49] richardliaw opened #15855 "[rllib] Report sample thruput in nightly release tests"
We should add throughput tracking to the nightly long-running RLlib tests.

[code]
_Originally posted by @roireshef in https://github.com/ray-project/ray/issues/12352#issuecomment-830667057_

[2021-05-17 16:50] richardliaw commented on #12352
This should be addressed; just created a new issue to track remaining work item.

[2021-05-17 16:50] #12352 closed

[2021-05-17 16:52] richardliaw commented on #14945
This is only a problem if you use a local tracking server.

[2021-05-17 16:54] richardliaw commented on #12073
Closing this for now as we should have much better scalability now in 1.3+

[2021-05-17 16:54] #12073 closed

[2021-05-17 17:36] simon-mo commented on #15649
They are equivalent. Even though ray.remote is often documented as a decorator, using it `remote_func = ray.remote(...)(func)` is totally fine, and in fact, several libraries like Ray Tune and Ray Serve use this pattern.

[2021-05-17 17:39] DmitriGekhtman commented on #13673
Published!

[2021-05-17 17:39] #13673 closed

[2021-05-17 18:00] rkooo567 commented on #15854
cc @simon-mo @edoakes Can you guys take a look at this issue?

[2021-05-17 18:27] ericl commented on #15808
@kfstorm could you take a look at this first?

[2021-05-17 19:08] simon-mo commented on #15825
This error typically happens because Ray starts in a different path that cannot run ` from ...compat.ptx import *`. maybe consider running `ray start` or `ray.init` in `/opt/tiger/runner/runner_lite`? but i think the real issue is that relative import with Ray just doesn't work well because it's hard to pin exactly where to find the package files.

One common solution is to make all the import glo

[2021-05-17 19:22] Bam4d commented on #14385
@sven1977 This issue is happening again on the current master of RLLib

[2021-05-17 20:04] wuisawesome opened #15857 "[Tracking] Additional Namespace features"
This is a tracking issue for some potential, future namespace features

* Namespace centric logging
* Namespace lifecycle
* Resource constraints
* Improved library support (i.e. Serve)
* Incorporate into dashboard

Note: Many of these will require API changes, and an RFC.

**This is not an RFC**

[2021-05-17 20:49] jieru-hu opened #15859 "[autoscaler] support rsync option `--include`"
### Describe your feature request

currently the autoscaler api only supports [`rsync_exclude`](https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/ray-schema.json#L286-L293), would it be possible to add an `--include` option? this would help rsync configurations to be more straight forward.

[2021-05-17 20:57] simjay commented on #15642
Awesome. Thank you for the confirmation and I agree with your logic. Will make the corresponding changes!

[2021-05-17 23:55] #12654 closed

[2021-05-17 23:55] #15652 closed

[2021-05-17 23:55] abe2122 opened #15862 "[rllib/tune] SystemExit was raised from the worker"
When running the following command

`rllib train --run=PPO --env=CartPole-v0 --torch --stop '{"episode_reward_max":200}'`

I encounter the following error.

[code]

using,
[code]

It looks like this only occurs after the training process finishes though. Also looks very similar to #15685, so wondering if there's a fix for this? If not, is this something to be concerned about? Or is it possible to

[2021-05-18 01:01] ChrisCummins commented on #11291
Hm, I've been unable to reproduce the problem I encountered, despite checking on the same machine / environment. Odd!

[2021-05-18 03:06] #15750 closed

[2021-05-18 03:09] simon-mo commented on #15801
@ericl @wuisawesome I think I got a local repro.

1. `ray start --head --num-cpus 2`
2. Python run
[code]
3. In bash, run
[code]

Observe that while the new worker nodes start locally in the bash script, the actors were not scheduled as the "ready" are not ready, it prints
[code]

[2021-05-18 03:17] ericl commented on #15801
Can you also reproduce this with an real cluster (just checking that it isn't some weird local-node issue).

[2021-05-18 03:19] simon-mo commented on #15801
Yeah this is actually an issue with real cluster originally.

[2021-05-18 03:20] simon-mo commented on #15801
Update, in the real cluster with the same script, when there are 374 CPUS adn 183 worker nodes, only 1 actor is ready out side of the head node.

[2021-05-18 04:38] DmitriGekhtman commented on #13270
That's the preferred way to do it.

[2021-05-18 04:40] richardliaw opened #15867 "[core/autoscaler] Don't show placement-group specific resource demands in status"
### What is the problem?

Can we avoid printing the placement group specific info when printing resources (and toggle it or something)?

For example:

[code]

Also occurs when "resources not available" message is printed.

Instead, we should aggregate these resources (e.g., ("CPUs reserved for placement groups")).

[2021-05-18 04:46] hermitly commented on #3929
Hello, I also encountered the same problem, is it to load the required modle into the function_manager.py file?

[2021-05-18 05:27] franklsf95 commented on #14948
This works now with #15757.

[2021-05-18 05:27] #14948 closed

[2021-05-18 06:20] franklsf95 commented on #14788
Fixed by #15757

[2021-05-18 06:20] #14788 closed

[2021-05-18 06:27] jonathonyan opened #15869 "Cannot using external model with cuda when using ray"
### What is the problem?
` RuntimeError: No CUDA GPUs are available` raised when I want to use extra pretrained torch model(and assigned it to cuda) in addition to dqn

*Ray version and other system information (Python version, TensorFlow version, OS):*  Ray1.2.0 Python 3.8.8  TensorFlow 2.4

### Reproduction (REQUIRED)
Using ray to run the APEX with `local_mode: false`, and also load an extra tor

[2021-05-18 07:27] #15646 closed

[2021-05-18 07:33] simon-mo opened #15870 "[Serve] test_deploy time doubled after"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

`test_deploy.py` used to take around ~300s. But after commit cd32a92edc275be82074b8426a24121bcf6bab0f, the test time doubled. You can verify it on the local machine.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted

[2021-05-18 07:33] simon-mo commented on #15870
cc @edoakes

[2021-05-18 07:53] #15870 closed

[2021-05-18 08:54] simon-mo opened #15872 "[Serve] Lifecycle log should not be INFO"
[code]
Starlette startup events will have these surrounds them, which can be spammy.

[2021-05-18 09:01] simon-mo opened #15873 "[Serve] Update Serve Logo in Doc & README"
Yes. There is a new Serve logo and we will put it everywhere.

[2021-05-18 09:01] simon-mo commented on #15873
(preferably do it before 1.4 release)

[2021-05-18 09:05] #15556 closed

[2021-05-18 09:59] Yuanzhuo-Liu opened #15874 "RLlib plot errros"
Hi! When I try to plot "policy_reward_mean", The following error occurred:
![image](https://user-images.githubusercontent.com/68255669/118631955-fa2e0300-b79d-11eb-9811-7c38b5b1a337.png)
Could you please tell me how to solve it?Thanks!

[2021-05-18 10:03] nicolaspi commented on #15836
I am not sure but that might be explained by the fact that Rllib enforces eager execution when tensorflow is used: https://github.com/ray-project/ray/blob/2303851c3c234a261e8791b778e59e71f8235260/rllib/agents/trainer.py#L666

[2021-05-18 11:05] llan-ml opened #15876 "[tune] search alg should skip current result if metric not found"
I looked through some schedulers and saw that they skip the results that do not contain the metric such as [ASHA](https://github.com/ray-project/ray/blob/2303851c3c234a261e8791b778e59e71f8235260/python/ray/tune/schedulers/async_hyperband.py#L131-L135), though it seems that some schedulers don't do this.

I think the search algorithms should also have the similar skipping logic. When tuning a model

[2021-05-18 11:08] #15876 closed

[2021-05-18 11:23] #9964 closed

[2021-05-18 13:03] vnlitvinov opened #15877 "[core] ray.remote hides the docstring of the decorated class"
### What is the problem?

`ray.remote` does not bring the docstring of the class it decorates, which breaks generating documentation and other means of using the docstring.

### Reproduction (REQUIRED)
[code]

Current output:
[code]

Expected output:
[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [l

[2021-05-18 13:06] kfstorm commented on #15808
@Catch-Bull and I are working on this.

[2021-05-18 13:36] DmitriGekhtman opened #15878 "[core] Zero-gpu node shouldn't be marked with accelerator_type resource."
### What is the problem?

A node started with
`ray start --num-gpus=0`  is still annotated with an `accelerator_type` resource, which is confusing. The accelerator resource should be removed.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted

[2021-05-18 14:00] iamhatesz opened #15879 "[tune][rllib] Cannot instantiate an actor from inside `tune.run` trainable"
### What is the problem?

After upgrading from Ray 1.2.0 to 1.3.0 I can't create an actor from inside e.g. environment code. In dashboard it says that there are insufficient resources. I found a way to fix this by specifying explicit `placement_group` when creating the actor. Is it an intended behavior right now? I can't find anything in the docs.

*Ray version and other system information (Python

[2021-05-18 14:15] iamhatesz commented on #15879
Maybe related with #15842?

[2021-05-18 14:18] davidberenstein1957 commented on #15632
@edoakes, @AmeerHajAli
I found some insights into the issue, but it might be a diffcult fix from your side, i.e., it seems like a kubernetes and/or config issue from my side.

So, our kubernetes cluster is using X CPU and 2 GPU. Within my pipeline.yml for the deployment of the Ray cluster, and within my pipeline.yml for the deployment of my sentiment Microservice, I did not specifically assign GPU

[2021-05-18 15:10] AmeerHajAli commented on #15632
cc @DmitriGekhtman @ijrsvt

[2021-05-18 15:15] edoakes commented on #15870
@simon-mo why did you close this? Was it not actually an issue?

[2021-05-18 15:19] llan-ml opened #15880 "[tune] ConcurrencyLimiter with batch=True blocks when using AxSearch"
The `AxSearch` itself limits the number of parallel trials. If we wrap it using `ConcurrencyLimiter` with `batch=True`, the `ConcurrencyLimiter` may [impossibly complete](https://github.com/ray-project/ray/blob/7e260edb079cd17958b144f370b88edef51b4946/python/ray/tune/suggest/suggestion.py#L376-L387), and the `trial_runner` may be blocking for the next trial.

To reproduce, please modify [these lin

[2021-05-18 16:40] simon-mo commented on #15505
This is a nice package for it: https://github.com/samuelcolvin/watchgod

[2021-05-18 17:37] roireshef commented on #11940
@rkooo567 @mfitton could you please reopen this issues?
I'm getting this on V1.3.0:

[code]

[2021-05-18 17:38] simon-mo commented on #15870
it turns out somehow my PR https://github.com/ray-project/ray/pull/15865 timing. out but not on master, therefore closing. https://buildkite.com/ray-project/ray-builders-pr/builds/5451#2df15f8f-414f-4615-95e7-6ead1e782d02/6-11133

[2021-05-18 17:38] roireshef opened #15882 "[dashboard] Dashboard crashes ray in local cluster setup"
This precedes https://github.com/ray-project/ray/issues/11940.

I've recently upgraded to Ray 1.3.0 and getting the following on local cluster setup:

[code]

[2021-05-18 17:38] roireshef commented on #15882
@rkooo567 @mfitton

[2021-05-18 17:47] simon-mo opened #15883 "[Serve] Add release test for upscaling/downscaling."
[code]

[2021-05-18 17:47] roireshef commented on #15882
My setup is:
**on head node**
[code]

**on worker node(s)**
[code]

And then running in the head node, inside python:
`ray.init(address='10.120.59.22:6379', _redis_password='5241590000000000')`

Now, it doesn't matter if I enter include_dashboard=false or --dashboard-port=??? in any of those commands. It keeps failing!

[2021-05-18 18:17] roireshef commented on #15854
probably related to https://github.com/ray-project/ray/issues/15882

[2021-05-18 18:23] franklsf95 opened #15886 "Object store does not evict objects as expected"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

* Ray master version

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

The o

[2021-05-18 18:31] rkooo567 commented on #15886
I think it is just that the previous object is pinned due to ray.get, so we cannot put the new object at all (since the first object is not spillable)?

[2021-05-18 18:33] franklsf95 commented on #15886
@rkooo567 but why is it the case that when the object store is large enough to hold 2 objects, then they can all get spilled?

[2021-05-18 18:38] rkooo567 commented on #15886
I think when we restore, only one of objects are pinned, and the other is not, so we always evict the un-pinned object and restore the new object to ray.get. But when it is 50MB, it can probably fit only one object, and we cannot evict the pinned object due to ray.get. If you create 50MB objects, is it possible to have 2 of them in the object store?

[2021-05-18 19:38] franklsf95 commented on #15886
I think you're right that when the object size is 50MB it can only fit one object.

OK this is interesting: if I add a `del ret` line before the loop ends, then the 50MB version can also work. When the 2nd `ray.get` is called, the first `ret` is still in scope, and only goes out of scope _after_ the `ray.get` call. Hence the deadlock.

I think this is expected behavior then. Closing this.

[2021-05-18 19:38] #15886 closed

[2021-05-18 19:48] felipeeeantunes opened #15887 "[RLLib] Typo/Bug in Marwil TF policy affecting Advantage update"
I was taking a look at Marwil TF loss and I guess I found a typo /bug (with a 100x effect on the loss update value): the value [here](https://github.com/ray-project/ray/blob/master/rllib/agents/marwil/marwil_tf_policy.py#L114) should be 10^(-8) instead of 10^(-6).

[2021-05-18 19:59] edoakes commented on #15882
@roireshef as an experiment, what happens if you don't specify the `node-ip-address` manually in the workers? It looks like the ip address you're providing is somehow not able to be bound to for a TCP port

[2021-05-18 20:42] edoakes opened #15888 "[serve] Automatic load-based autoscaling for deployments"
A number of users have asked about this; if you have a use case, please comment here so we can track and prioritize this feature!

[2021-05-18 20:48] mvindiola1 commented on #15887
Hi @felipeeeantunes.

Good eye. I noticed it too. was planning on fixing it while fixing this #15800.

[2021-05-18 20:50] krfricke opened #15889 "[rfc] API to get location (node) of object in object store"
For some applications, querying Ray for the location (i.e. node) of an object can be useful.

For instance, in XGBoost-Ray, we have a set of actors and a set of objects (partitions of a dataset). We would like to assign existing objects in the object store to co-located actors. Some libraries that specifically track partition locations via actors (e.g. Modin) provide this functionality already. Ho

[2021-05-18 20:59] roireshef commented on #15882
@edoakes it happens even if I run with head only (no worker nodes). Does it still make sense to try? Should I try removing this flag in the head node?

Is there any way to disable the dashboard in the meantime while we are debugging so I can at least run my trials without it? The include-dashboard flag is ignored.

[2021-05-18 21:02] ericl commented on #15889
+1, I think this would be pretty useful (and unlikely to break in the future, as objects will always have locations). Would suggest exposing the location NodeId to be in-line with get_runtime_context().

[2021-05-18 21:03] rkooo567 commented on #15877
@vnlitvinov Thanks for the report! Would you like to make a PR to fix the issue?

[2021-05-18 21:09] mvindiola1 commented on #15874
Hi @Yuanzhuo-Liu,

ExperimentAnalysis uses the state.json file not results.json. Try with that file instead.

[2021-05-18 22:59] max0x7ba commented on #15504
Has it been identified where the scalability bottlenecks are?

Looking into that [cProfile](https://github.com/ray-project/ray/issues/15504#issuecomment-830734272) on 3000 trials:

Top 20 by `tottime`:
[code]

Top 20 by `cumtime`:
[code]

[2021-05-18 23:15] jaredvann opened #15893 "[autoscaler] 'ray up' disconnects when setting up head node on AWS"
### What is the problem?

Ray 1.3.0, Python 3.8.5, Ubuntu 20.04

Running `ray up` to deploy a cluster to AWS starts a head node but disconnects during pulling of Docker images.

Repeating multiple times with new clusters leads to the same result.

[code]

### Reproduction

Config file:

[code]

[2021-05-19 00:00] valiantljk commented on #15825
Thanks, I think this can be closed for now.
Fyi, I re-structured the code, so the relative path import becomes global import. and each required package are installed locally, with
[code]

[2021-05-19 00:00] #15825 closed

[2021-05-19 00:32] DenysAshikhin commented on #15753
@sven1977
I have retried re-downloading and reinstalling the latest nightly build (for python 3.8 -> ray version: 2.0.0.dev0) and can confirm that the issue persists, so I would greatly appreciate a link to the PR/github issue which details how I can fix it in the short term on my machines!

[2021-05-19 04:34] architkulkarni opened #15894 "Add C++ tests for worker caching by runtime env in Raylet"
### Describe your feature request
As a followup PR to https://github.com/ray-project/ray/pull/15782, we should add unit tests in C++.  This will probably require mocking out the runtime envs in some way.

Currently the worker caching is only tested in Python in https://github.com/ray-project/ray/blob/master/python/ray/tests/test_advanced_3.py#L889 using override_environment_variables.
For feature

[2021-05-19 05:12] rkooo567 commented on #15889
@ericl Should we add it to core bugs to keep track of it?

[2021-05-19 05:16] stefanbschneider commented on #14429
I set up a simple example in both `stable baselines` and the equivalent in RLlib that illustrates how to train, save, load, and play/rollout an agent: https://github.com/ray-project/ray/pull/15897

* SB example: https://github.com/ray-project/ray/blob/af5d5e99a6611828c5fb782811ace8e60c49a6cb/rllib/examples/sb2rllib_sb_example.py
* Equivalent RLlib example: https://github.com/ray-project/ray/blob/a

[2021-05-19 06:01] sheecegardezi commented on #10755
@n-gao I am having the same issue on PBS cluster. How did you resolved this issue?

[2021-05-19 06:12] n-gao commented on #10755
I don't remember the exact code snippet but you simply have to request more cores.

[2021-05-19 06:14] sheecegardezi commented on #10755
Thanks for the hint Ill experiment with it :)

[2021-05-19 06:51] sheecegardezi commented on #10755
I am using this machine:

normalbw
Normal priority queue for standard computational intensive jobs on the Broadwell nodes
2 x 14-core Intel Xeon E5-2690v4 (Broadwell) 2.6GHz CPUs per node
128 or 256GB RAM per node
2 CPU sockets per node, each with 1 NUMA node
14 CPU cores per numa NODE
64 or 128 GB local RAM per NUMA node
400GB local SSD disk
https://opus.nci.org.au/display/Help/Queue+Structure

R

[2021-05-19 06:57] sven1977 commented on #15800
Yes, this is an enhancement we must get done at some point. We don't support RNNs for our offline algos yet (even though, I see that we say so for MARWIL in our docs :/ ).
@mvindiola1 , would you mind PR'ing this? You can probably use the same as PPO's loss logic here for the masking. Maybe even create a util function to share this between different algos?

[2021-05-19 07:02] sven1977 commented on #15887
Great catch @felipeeeantunes and @mvindiola1 !
Will provide a fix.

[2021-05-19 07:46] Yuanzhuo-Liu commented on #15874
Hi @mvindiola1 .
Thanks, here's another mistake. Sorry, I was too stupid.
![image](https://user-images.githubusercontent.com/68255669/118774377-c3b2bf80-b853-11eb-8b05-8a5992cc0fa9.png)

[2021-05-19 07:54] krfricke commented on #15844
cc @sven1977 this code is in the rllib base `Trainer` class. Do we need this output at all? Would it be enough to print it when the `rrlib` cli command is used?

[2021-05-19 08:39] krfricke commented on #15504
In my benchmarks all CPUs have been fully utilized during the whole run. I might try to scale up this to 50-100k trials.

Note that this was on the PR #15811, haven't run comparison benchmarks yet

[2021-05-19 09:45] wjaskowski commented on #8838
This problem is again the case in ray 1.3.0.

[2021-05-19 11:01] Sertingolix opened #15901 "[rllib] rllib/examples/custom_loss.py does not report custom loss with torch --framework=torch"
### What is the problem?

rllib/examples/custom_loss.py does not report custom loss with --framework=torch

### Reproduction (REQUIRED)

Running the custom loss example with torch does not produce the desired tensorboard metrics.
rllib/examples/custom_loss.py --framework=torch

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue als

[2021-05-19 12:03] sven1977 commented on #15483
Hey @mvindiola1 , could you confirm that this PR is working for you (tests should be all pass now)?
Thx! :)

[2021-05-19 14:08] mvindiola1 commented on #15800
@sven1977,

I can work on this but probably not till next week.

There is also an issue I have not reported yet where the off-policy esitmators (IS,WIS) will not work when using an LSTM. This is because policy.compute_log_likelihoods creates a seq_lens variable with shape (batch_size,1). This is not the correct thing to do when actually using an LSTM and will not match the shape of the states_in_*

[2021-05-19 14:15] drozzy commented on #14429
I don't think I ever saw this done anywhere (maybe I missed it in the docs?):
`analysis.get_best_checkpoint(trial=analysis.get_best_trial())`

Thank you that's certainly very helpful.

[2021-05-19 14:20] mahuangxu commented on #4568
I got the same question，I notice that the error says"Resources requested: 0/7 CPUs, 0/0 GPUs". After I delete the code"'num_gpus': 1", there will be no error.
How can I solove it? Thanks a lot!

[2021-05-19 14:36] #14429 closed

[2021-05-19 15:43] antoine-galataud opened #15910 "[rllib] cur_lr not updated on local worker when LearningRateSchedule used on APEX DQN"
### What is the problem?

`cur_lr` isn't updated on local worker when `lr_schedule` is set in configuration. Visible impact `cur_lr` in training stats is not updating.

*Ray version and other system information (Python version, TensorFlow version, OS):*
- Ray: 1.3.0
- Tensorflow: 2.5.0

### Reproduction (REQUIRED)

[code]

Watch statistics printed:

[code]

- [X] I have verified my script runs in

[2021-05-19 15:43] Stefan-1313 commented on #13100
@blueplastic
Perhaps you have logical cores.
Try:
`psutil.cpu_count(logical=False)`
and
`psutil.cpu_count(logical=True)`

and see if it explains the difference.

[2021-05-19 15:51] architkulkarni opened #15912 "Remove unused util functions for conda environments"
### Describe your feature request
With recent development in runtime_env, some util functions are no longer needed, such as `get_conda_env_dir`, `test_get_conda_env_dir`, and `ray_nightly_url()`.  We should check that these are unused (and check for other unused functions) and remove them.
For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-05-19 15:52] philippeboyd commented on #15854
@roireshef not the same kind of error though

[2021-05-19 15:58] #15703 closed

[2021-05-19 16:48] edoakes commented on #15822
@simjay I made a quick PR for this because I want to make sure it gets in before our 1.4 branch cut (happening tomorrow)

[2021-05-19 17:26] simjay commented on #15822
Sorry for the late reply. Will take a look at this once my testing troubles are gone!

[2021-05-19 17:49] edoakes opened #15920 "[serve] Add warning + documentation for Ray namespaces"
The introduction of anonymous namespaces breaks some existing serve applications. We need to make sure to have both an in-code warning/error if a detached serve instance is started in a non-anonymous namespace and documentation telling people what to do.

[2021-05-19 17:49] edoakes commented on #15920
@wuisawesome I will need some way to check if the user is using an anonymous namespace for this. Do you think it makes sense to prefix the generated namespaces with a well-known string for this use case?

[2021-05-19 18:54] #14856 closed

[2021-05-19 18:54] #15096 closed

[2021-05-19 18:54] #15348 closed

[2021-05-19 19:44] #15822 closed

[2021-05-19 20:40] gmatev commented on #15495
@amogkam wanted to follow-up again and see if you were able to look deeper and figure something out here?

[2021-05-19 21:32] syed-ahmed commented on #14431
It seems like this issue isn't fixed. I tried the following and don't see a py.typed file:
[code]

[2021-05-19 22:32] max0x7ba commented on #15504
I didn't realise that.

Do you think PR #15811 is ready for me to take if for a test drive?

[2021-05-19 22:44] #15887 closed

[2021-05-19 23:24] wuisawesome opened #15929 "Runtime context broke"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-05-19 23:24] #15929 closed

[2021-05-19 23:51] amogkam opened #15930 "[RFC] Support task and actor placement on "head node""
# Proposal
Provide a mechanism to enforce placement of a particular task or actor on the head node of a Ray cluster

# Motivation
When using libraries like Tune with Ray Client, the main driver for the library (`tune.run`, `xgboost_ray.train`) needs to be placed on a particular node with the following properties:
* The node cannot be pre-emptible
* The node can be easily accessed by the user (via

[2021-05-19 23:52] amogkam commented on #15930
@AmeerHajAli @richardliaw @ericl

[2021-05-19 23:58] ericl commented on #15930
Another possibility is to use the existing `node:<ip>` magic resources, and ask Ray for the head node IP address (same as redis address)? This might already be possible with existing APIs.

[2021-05-20 00:01] amogkam commented on #15930
Can you get the head node IP address programmatically via Ray Client?

[2021-05-20 00:13] ericl commented on #15930
I'm not aware of a current way, though you can try to infer from `ray.nodes()` output perhaps. We might have to add a new API or add it to runtime context.

[2021-05-20 00:37] architkulkarni opened #15931 "Inject appropriate Ray version and Python version into runtime env"
### Describe your feature request
A runtime env can specify a dict of dependencies representing the contents of a conda `environment.yml` file.  We should automatically insert the running Python version, pip, and the running Ray version in this dict if not already included.
For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-05-20 01:11] rkooo567 commented on #15930
Didn’t we have resources like head: 1 to the head node in the past? Did we remove it?

[2021-05-20 02:16] Yuanzhuo-Liu commented on #15874
My state.json is follow:
![image](https://user-images.githubusercontent.com/68255669/118908654-ccf16a00-b8ef-11eb-9489-3c5421ce3044.png)

[2021-05-20 02:48] mvindiola1 commented on #15874
@Yuanzhuo-Liu don't be so hard on your self. There is no error there. That is a warning but it exited cleanly.

[2021-05-20 04:27] richardliaw commented on #15930
@robertnishihara's comment:

We should be going in the opposite direction. In the near-medium term, the head node should disappear. It's inconsistent with serverless, and it's inconsistent with the Ray client, so we should avoid doing anything that bakes the concept further in than it already is.
On the other hand, something like `resources={'non-preemptible': 1}` would be acceptable.

[2021-05-20 04:49] simon-mo commented on #15930
As a datapoint, for Ray Serve, we assume the where-ever user starts their Serve deploy is the head node. So a simple `ray.get_runtime_context().node_id` can help us pin the head node. This `node_id` works with Ray client, where the client server is ran.
https://github.com/ray-project/ray/blob/dde7cbd2885765a9fc61b05daca4f6f9973aed10/python/ray/serve/api.py#L663-L666

def get_current_node_resource_

[2021-05-20 05:41] wuisawesome commented on #15930
I'd argue that a scheduling hint `foo.options(force_local_node=True).remote()` would be a better equivalent solution. It has the properties:
* Allows fatesharing with nodes in general
* Doesn't place emphasis on the head node
* Has other uses for locality scheduling (when you can't use a placement group).

[2021-05-20 07:16] sven1977 opened #15936 "[RLlib] IMPALA (any tf algo using entropy coeff) slowdown observed"
Since ray 1.2, IMPALA (and any other tf algorithm that uses `entropy_coeff`) has slowed down due to a bug.
- The bug is caused by a tf-(static graph)-op being added to the graph each time we call `on_global_var_update` (defined inside the `EntropyCoeffSchedule` (tf) mixin class).

To reproduce:

`rllib train -f rllib/tuned_examples/impala/pong-impala-fast.yaml`

Runs much slower than in ray<=1.1.

[2021-05-20 08:56] krfricke commented on #15504
I think it should be good to try out.

One last thing you might want to do is to use `trial_runner.get_live_trials()` instead of `trial_runner.get_trials()` in the FIFOScheduler (assuming you're using it) - but actually it would be great to try it out without the change. Whatever works best for you.

By the way, just for context, how long does a single trial take (approx)?

[2021-05-20 10:09] Catch-Bull opened #15940 "[object spilling] spill work will block by `CoreWorkerPlasmaStoreProvider::WarmupStore` in `CoreWorker` construct function"
### What is the problem?

It seem like `worker_pool.maximum_startup_concurrency`  limits the number of  task workers and I/O workers at the same time. When `worker_pool.maximum_startup_concurrency=1`, and `raylet` construct a new `CoreWorker`，it will store a little data in plasma store for warmup. In this process, will trigger object spilling and need a spill worker，but unfortunately, we can't sta

[2021-05-20 10:10] Catch-Bull commented on #15940
cc @kfstorm

[2021-05-20 10:10] ljendele opened #15941 "[ray] Multiple concurrent requests to create a named actor crash GCS"
This is not a contribution.

### What is the problem?
Multiple concurrent requests to create a named actor crash GCS.

*Ray version and other system information (Python version, TensorFlow version, OS):
Ray 1.2 and 1.3
Tensorflow: 1.15.0
OS: Linux (in docker container)

### Reproduction (REQUIRED)

[code]

This is what happens:

[code]

With python3 named_actor_actomic.py 100, it fails pretty much

[2021-05-20 10:35] lauritowal opened #15942 "[rllib] Behavioural Cloning - KeyError: 'advantages'"
### What is the problem?

*Behavioural Cloning Algorithm returns key error with custom environment*

[code]

### Reproduction (REQUIRED)
See here for details: https://discuss.ray.io/t/behavioural-cloning-algo/2210

- [X] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/

[2021-05-20 11:04] #15698 closed

[2021-05-20 11:08] ArturNiederfahrenhorst commented on #15698
Consensus is that this HP should be left alone. Quoting from ray.discuss:

[2021-05-20 11:09] kfstorm commented on #15940
The above test case is expected to finish within 10 seconds but actually finished in more than 30 seconds.

cc @rkooo567 @suquark @ericl

[2021-05-20 12:04] krfricke commented on #15942
cc @sven1977

[2021-05-20 12:06] mvindiola1 commented on #15942
The issue is that the BC config sets https://github.com/ray-project/ray/blob/03c7c530a9dfdac50b4d20f904fa5c8772ecfcff/rllib/agents/marwil/bc.py#L18

But, the loss calculation is still trying to access the advantages. These are needed for two reasons
1.  To weight the policy loss by the advantage. This is not used in the BC trainer since beta==0.0
2. To learn a value function. This is currently sti

[2021-05-20 12:08] krfricke commented on #15941
This seems to be a race condition when a named actor is created concurrently.

cc @wuisawesome @rkooo567 can you look at this?

[2021-05-20 12:22] Chong-Li opened #15943 "[GCS] Actor Scheduling By GCS"
### Motivation
Currently, Ray's actor scheduling relies on GCS to randomly pick a node, and then it is the node's responsibility to make a placement decision based on its local view of the cluster resources. Because there is not a unified resource view across nodes, this actor scheduling might be unbalanced (overly packing at a few nodes) and inefficient (placement conflicts).

Therefore, this pat

[2021-05-20 14:27] thorbjornsomod commented on #12128
So I actually managed to build `v1.2.0`, `v1.3.0 `and `v2.0.0` for 32 bit ARMv7. I can even install the wheels via `poetry` (same as pip3 install...). However, when I try to use the Python package I keep getting:

[code]

Anyone else seen stuff like this and know what could be the reason? @PeterPirog @PidgeyBE

[2021-05-20 15:41] simjay commented on #15642
@edoakes Should we close this?

[2021-05-20 15:44] edoakes commented on #15642
Oops meant to tag it on the PR. Closed by https://github.com/ray-project/ray/pull/15821

[2021-05-20 15:44] #15642 closed

[2021-05-20 15:58] amogkam commented on #15930
@wuisawesome I like your proposal as well assuming it'll also work with Ray Client- the local node would be the node that is running the client server (which currently is the head node) and not the laptop.

[2021-05-20 16:01] amogkam commented on #15930
@AmeerHajAli would it be possible to follow @ericl's suggestion and add a new API to get the IP address that the ray client server is running on?

[2021-05-20 16:04] simon-mo commented on #15930
@amogkam you can already do that `ray.get_runtime_context().node_id`. It returns a copy of the information from the client server, which runs on headnode.

[2021-05-20 16:08] amogkam commented on #15930
Oh I see, thanks @simon-mo. I will try that out.

I agree that long term we no longer want a head node concept, but in the meantime we need something that works currently.

[2021-05-20 16:15] #15936 closed

[2021-05-20 17:01] rkooo567 opened #15944 "`placement_group=None` is not working when trying not to use the same placement group from children actors."
### What is the problem?

## Repro
- start placement group with 4 bundles
- start multiple actors inside placement group, all actors should consume 1 full bundle
- from one of the actors, start a named actor with placement_group=None

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should h

[2021-05-20 17:04] richardliaw commented on #13826
I just ran into this problem

@AlexanderKoch-Koch you might not be able to build on m1.

cc @wuisawesome has previously mentioned:

[2021-05-20 17:05] #13159 closed

[2021-05-20 17:25] bklaubos commented on #14077
Where is the final decision and design doc for this feature?

[2021-05-20 17:36] ppwwyyxx opened #15946 "[core] modifications to global variable has no effect"
### What is the problem?

Inside `tune.run`, modification to globals has no effect.

Python 3.8, Linux, nightly ray.

### Reproduction (REQUIRED)
[code]

running `test-ray.py` will throw:
[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

[2021-05-20 18:06] krfricke commented on #15946
This is expected, as trainable functions are running in remote tasks (and on remote actors). These run in separate processes so don't share global variables with each other.

This is not specific to Ray tune by the way, but to Ray (and most distributed computing libraries) in general. See also e.g. https://stackoverflow.com/questions/62640533/how-to-use-global-variables-with-ray

Generally you'll

[2021-05-20 18:12] ppwwyyxx commented on #15946
The intention of the code is not to share global variables between processes. Please note that the modification to the global variable and the use of it happen in the same process. However the variable has different `id()` depending on where it is accessed.

[2021-05-20 18:27] edoakes opened #15949 "Getting namespace from global context doesn't work with ray client"
```ray start --head --ray-client-server-port 12345```

[code]

[code]

[2021-05-20 18:31] edoakes opened #15950 "Support setting namespace via RAY_NAMESPACE environment variable"
We already support RAY_ADDRESS, it'd be nice to support RAY_NAMESPACE as well to avoid code changes

[2021-05-20 18:33] wuisawesome commented on #15950
Not against this, but what's the use case for this?

[2021-05-20 19:02] vecorro commented on #15770
Thanks, @rkooo567. I already opened a report (https://github.com/ray-project/ray/issues/15500) several weeks ago but have not received a response yet.

When you say that you used a "raw deployment", do you mean something like this https://docs.ray.io/en/master/cluster/quickstart.html ?

[2021-05-20 19:03] rkooo567 commented on #15500
cc @krfricke Can you follow up with this?

[2021-05-20 19:03] rkooo567 commented on #15770
It's the extension of this autoscaler config! https://github.com/ray-project/ray/blob/master/release/data_processing_tests/multi_node.yaml. Let's actually follow up your issue in your thread, not here.

[2021-05-20 19:04] krfricke commented on #15946
Ah I see.

I'm wondering if this is actually a pickle problem. It seems the dictionaries are deserialized into two different objects here.

cc @rkooo567 have you seen this before?

[2021-05-20 19:06] mihajenko commented on #15888
Our use case: we wish to auto-scale our FastAPI Serve backends on a Kubernetes cluster (using the RayCluster CRD). Serve works through backends, which can be scaled by configuring the `num_replicas` parameter. It can even be reconfigured on the fly. As suggested to me by @edoakes on Slack:

True. However, lower-level ray APIs are already consuming cluster resources in a greedy fashion. That is, ma

[2021-05-20 19:07] rkooo567 commented on #15941
Yeah this must be the race condition. @ljendele is it possible to just create an actor and only get it in other tasks as workaround now?

[2021-05-20 19:10] rkooo567 commented on #15946
Hmm I don't think so. It is not clear to me what would be the issue by looking at this code (since it is Tune). Is it possible to make the repro using the core APIs?

[2021-05-20 19:10] krfricke commented on #15500
Yeah, sorry I didn't see this. It's hard to debug without access to the infrastructure, but I'll take a look at the scripts

[2021-05-20 19:16] rkooo567 commented on #15940
I have a couple question;

- When's the case num_cpus=1 in ray cluster? I am asking it because it doesn't really make sense to me.
- Also why does warmup workload trigger object spilling?

About questions;

I think there's no special reason here. When I first worked on it, it was written in this way, and I just followed it because I didn't want to spend time for refactoring it.  But it is welcomed

[2021-05-20 19:21] vecorro commented on #15500
Thanks, @krfricke, and @rkooo567. I know it's difficult. I tried to provide as much detail as possible in my report and I also tried to use the K8 setup provided in Ray's Git master branch. I see that you have a Helm chart. That probably would help get more homogeneous deployments on K8.

[2021-05-20 19:22] krfricke commented on #15946
Yeah:

[code]

[2021-05-20 19:24] rkooo567 commented on #15946
@krfricke can you make the script runnable? It says no module named has_globals.

[2021-05-20 19:25] rkooo567 commented on #15946
can you tell me what's the expected output & current output?

[2021-05-20 19:25] krfricke commented on #15946
See original comment for the other two files, but here's the full folder:
[issue_15946.zip](https://github.com/ray-project/ray/files/6518361/issue_15946.zip)

[2021-05-20 19:27] krfricke commented on #15946
I think the expected output would be something like "get [some id]" and then just finish gracefully

Currently it is:

[code]

[2021-05-20 19:31] rkooo567 commented on #15946
Try this;

[code]

The issue is when we make the remote method, it captures the DICT, which is copied to the remote process' memory, and it is different from the global variable inside use_globals.

As a reference take a look at this example;
[code]

[2021-05-20 19:36] #15949 closed

[2021-05-20 19:36] wuisawesome opened #15953 "Named placement groups should respect namespace isolation"
### What is the problem?

If you specify a name for a placement group, it should only have to be unique within the namespace.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet

[2021-05-20 19:36] wuisawesome commented on #15953
cc @edoakes

[2021-05-20 22:04] ljendele commented on #15941
Thanks for looking into this, @rkooo567. Yes, that's what we have been doing and works well.

[2021-05-20 22:13] mimoralea commented on #7173
Same issue. Solved it by overriding the `__class__` method to return the rllib `MultiAgentEnv` class, like so:

[code]

[2021-05-21 00:21] #13049 closed

[2021-05-21 00:22] #11728 closed

[2021-05-21 01:30] edoakes opened #15956 "Logs messages duplicated each time ray.shutdown() and then ray.init() is called"
Each time this loop runs, there is an additional duplicate message from Serve:

[code]

[code]

The reason this only comes up for Serve right now is we don't filter logs based on job_id. There is clearly some state being leaked though which is worrisome.

[2021-05-21 01:36] #15808 closed

[2021-05-21 01:37] rkooo567 commented on #15946
Closing the issue as it seems to be resolved!

[2021-05-21 01:37] #15946 closed

[2021-05-21 02:54] #15552 closed

[2021-05-21 03:27] #15920 closed

[2021-05-21 03:27] #15956 closed

[2021-05-21 03:52] TannedCung opened #15960 "[ray] System error: Broken pipe"
### What is the problem?

*Ray version and other system information:
Ray 1.2 and 1.3
OS: Linux (in docker container)

### Reproduction (REQUIRED)
This is my class task
[code]
the main function will create a `task_dict` which is `{core_id: Task()}` and push a new Task whenever needed
[code]
and finally run process in Tasks:
[code]

This is what happens (after a few days of running):
[code]

wheneve

[2021-05-21 03:57] kfstorm opened #15962 "Show actual error from worker logs instead of just saying "please check worker logs" on failure"
### Describe your feature request

Currently, when a worker fails, `ray.get` may raise:

- `ray.exceptions.WorkerCrashedError: The worker died unexpectedly while executing this task. Check python-core-worker-*.log files for more information.`
- `ray.exceptions.RayActorError: The actor died unexpectedly before finishing this task. Check python-core-worker-*.log files for more information.`.

When w

[2021-05-21 03:57] kfstorm commented on #15962
cc @rkooo567

[2021-05-21 04:01] rkooo567 commented on #15960
This error means the raylet is broken usually. Can you show me logs from raylet.out/err?

[2021-05-21 04:03] #13133 closed

[2021-05-21 04:03] #13230 closed

[2021-05-21 04:03] #13185 closed

[2021-05-21 04:07] kfstorm opened #15963 "Clean up spilled objects on disk when Raylet starts"
### Describe your feature request

In a k8s deployment environment, when a Raylet fails, the pod will be destroyed and a new pod will be created automatically. We don't need to worry about disk space even though spilled objects on disk are not cleaned up.

But if we run Ray in a non-containerized cluster environment, e.g. bare metal, we may want to re-execute `ray start` when we've detected Raylet

[2021-05-21 06:45] kfstorm commented on #12834
@chaokunyang Do you have any plan solving this issue?

[2021-05-21 06:59] chaokunyang commented on #12834
There may be a code consistency issue . If we load code from local first and then load from gcs. We may have some code consistency in python. Due to the dynamics of python, one can replace a class's method runtime. If we load code from gcs, we can get the latest class in remote. But if we load code from local first, we just got the raw class and lost the remote modification.

[2021-05-21 07:19] kfstorm commented on #15940
Internally we hardcode `maximum_startup_concurrency` to 1 to avoid too many idle workers. We use `num_cpus=1` to reproduce the issue with the community code. Anyway, I think setting `num_cpus` to 1 is a totally valid scenario. Do you assume all machines are multi-core nowadays?

Because the warmup workload wants to put a temporary object into the plasma store, but the plasma store is almost full.

[2021-05-21 07:24] TannedCung commented on #15960
@rkooo567  thank you for your quick repply, here are my logs:
- raylet.out
[code]
- monitor.log
[code]
- redis.out
[code]

[2021-05-21 07:25] kfstorm commented on #15940
I know this is an edge case. But the point is we shouldn't manage IO workers and normal workers in the same worker pool. We've already seen some bugs caused by this mixed management. See https://github.com/ray-project/ray/pull/14578.

If we go a bit more further, spill/restore/util workers are not even WORKERs.

[2021-05-21 07:58] raulchen commented on #15943
@ericl @rkooo567 as we discussed before, we are going to open source Ant's internal change of scheduling actors on GCS. Please let us know if you have any comments and questions. Thanks!

[2021-05-21 08:08] richardliaw commented on #15879
cc @rkooo567 I think this is another case of unintuitive behavior.

@iamhatesz thanks for the report; do you have a full stacktrace of what happens?

[2021-05-21 08:09] rkooo567 commented on #15879
Hmm is it about capturing child tasks? Do you think we should just disable it by default?

[2021-05-21 08:10] Catch-Bull commented on #15940
My bad, object spilling not trigger by warmup but the second task's returning object. And `warmup` will block by object spilling.

[2021-05-21 08:16] richardliaw opened #15968 "Fill out a 5 minute Ray Community Survey!"
Please help us fill out our 5 minute community survey!

https://www.surveymonkey.com/r/ray-community-pulse-2021

Your feedback will help us improve Ray to better meet the needs of community members like yourself :) Thank you very much for your time!

[2021-05-21 08:35] Catch-Bull commented on #15940
This is just for the convenience of reproduction.

Let's suppose:
- maximum_startup_concurrency < N < upper limit of workers
- N is the number of tasks, we will submit them at the same time.

In a short period, the number of starting workers will always be equal to `maximum_startup_concurrency`, during this time , the first spilling task will wait for 30 seconds(and suppose none of them finished `

[2021-05-21 08:36] iamhatesz commented on #15879
@richardliaw well, without a placement group it just hangs:

[code]

The output of `ray stack`:

[code]

[2021-05-21 08:39] richardliaw commented on #15879
I think it's because the actor is being created within another placement group by default... maybe try doing `actor.options(placement_group=None)`?

[2021-05-21 08:40] iamhatesz commented on #15879
That's the default value, so it hangs as well.

[2021-05-21 09:49] Eleven1Liu opened #15969 "[tune] Cannot directly install ray/tune by requirements.txt"
### What is the problem?
I cannot pip install ray/tune directly by requirements.txt. Is there any suggestion? or we should always re-run `pip install ray[tune]`.
Thanks!

### Reproduction (REQUIRED)
#### requirements.txt
[code]
#### Command
[code]
#### Error
[code]

[2021-05-21 10:03] krfricke commented on #15780
This seems to be a windows-related error (rather than Ray Tune)

cc @wuisawesome do you know who is currently responsible for windows builds?

[2021-05-21 11:45] RashiqAzhan opened #15970 "No output in windows machine."
### What is the problem?

I can't run ray code on my Windows 10 (Build:19041) system.
ray==1.3.0 and the latest nightly
python==3.8.10

### Reproduction (REQUIRED)
Code used for testing.
[code]
The terminal remains blank and no output is generated.

I tried running it using the Python Console and got this output that repeats every second indefinitely.
[code]
I have installed VCRUNTIME140_1.dll on

[2021-05-21 12:08] mg2015started commented on #4902
when i read the code, i found here ( https://github.com/ray-project/ray/blob/6add438929298814219ee818f5a0decc2483c2b2/python/ray/autoscaler/_private/commands.py#L241 ), it only create the head node and exit. @ijrsvt

[2021-05-21 13:29] clay4444 opened #15971 "[GCS] Too many duplicate logs in GCS."
### What is the problem?
I'm trying to solve this issue #15801 , but I found that there are so many repeated logs in the gcs_server.out.
Is this expected?

![image](https://user-images.githubusercontent.com/17047853/119144813-9c3e3b80-ba7b-11eb-9bbb-541971ff978e.png)

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reprodu

[2021-05-21 13:29] Coac opened #15972 "Scheduling error despite node having enough resource using docker-compose/k8s"
### What is the problem?

We setup a ray cluster via docker-compose with 1 head and two nodes (job and worker).
On the job node we try to run the example script [plot_pong_example](https://github.com/ray-project/ray/blob/35ec91c4e04c67adc7123aa8461cf50923a316b4/doc/examples/plot_pong_example.py) (`ray.init()` call has been modified to connect to the ray head) but we get this error
[code]
It has 5

[2021-05-21 13:30] clay4444 commented on #15971
@wuisawesome

[2021-05-21 13:39] krfricke commented on #15972
I could not reproduce this issue on a local machine:

[code]

This is with using `ray.init()` (so not connecting to a cluster).

Can you check if it works for you locally if you don't connect to a cluster?

Can you also try not to provide (and set) a redis password?

[2021-05-21 13:44] krfricke commented on #15969
I could not reproduce this issue in a fresh environment.

Can you try `pip install -Ur requirements.txt` to make sure all packages are updated?

Are you running this in a fresh environment or do you install on top of existing packages?

[2021-05-21 13:55] marho13 commented on #15089
As a workaround i made a parameter server that seems to work:
https://github.com/cair/ray-bugfix/tree/master

[2021-05-21 13:57] Coac commented on #15972
Yes it works locally. Error occurs only in a ray cluster.
Same error with another redis password.

I do not think it is a problem of redis connection, as we would have this error instead
[code]

[2021-05-21 14:05] Bam4d opened #15973 "[rllib+tune] (Regression) Grid Search no longer works with Trainers where `.with_updates(...)` is used."
### What is the problem?

python 3.8
ray: latest master

If a Trainer is overriden with the `with_updates` functionality, the updates are only applied on the first grid-search parameter set. All subsequent parameter sets use the original Trainer, ignoring the optinos in `with_updates`.

This used to work perfectly until recently.

In the below reproduction, there is a function "validate_config" wh

[2021-05-21 14:11] krfricke commented on #15972
This seems to be a problem with your docker(-compose) setup.

There's a couple of things you can try:

First, you're currently connecting to the ray head in the job (`launch_job.sh`). Then you're connecting to the head again in the training script (`ray.init()` also connects to the ray head). This is redundant and could actually explain the problem. Try to get rid of the call to `ray start` in `la

[2021-05-21 14:19] davidberenstein1957 commented on #15632
I am getting an autoscaler error within my app.py file when in limited resources, een though the config is allowed to scale.
[autoscaler-error-log.txt](https://github.com/ray-project/ray/files/6523133/autoscaler-error-log.txt)

[2021-05-21 14:35] Bam4d commented on #15973
I have discovered a workaround: Supply a `name` parameter for the `UpdatedTrainer`.

[code]

I'm guessing there's some new internal registry that uses the `name` to register Trainers? If that is the case then it might be good to make `name` a required parameter in `with_updates`.

[2021-05-21 14:55] max0x7ba commented on #15504
I ran the reproduction script from my report and with `TUNE_MAX_PENDING_TRIALS_PG=32` and 10,000 trials I cannot reproduce the issue: all 32 CPU workers are utilised 100% all the time.

I didn't try applying your patch.

It takes around 1h40m to run the reproduction with 10,000 trials and 32 CPU workers. Each trial takes 1-70 seconds, ~20 seconds on average.

[2021-05-21 14:59] ijrsvt commented on #4902
@mg2015started The worker's are started by the `autoscaler` process on the head_node, not the 'cluster launcher' from your laptop/devbox.

@GyChou
You need to include `--autoscaling-config=~/ray_bootstrap_config.yaml` in the `head_start_ray_commands` to enable autoscaler on the head

[2021-05-21 15:02] Coac commented on #15972
###  Try 1
When we remove the `ray start` from `launch_job.sh` the code fails we get
[code]
Checking the logs in /tmp/ray/
[code]

### Try 2
Using `ray.util.connect("ray-head:10001")` instead of `ray.init` in the python code we still get the error
[code]

-------
We tried also these potential solutions using VMs without any port restriction and all in the same network, same error messages as in `d

[2021-05-21 15:13] DmitriGekhtman commented on #15632
Thanks for the logs.
That's interesting... evidently, the autoscaling process got a SIGTERM signal.

[2021-05-21 15:35] DmitriGekhtman commented on #15632
Or is it actually the main operator process that got cut off?

I missed some of the above context, but is it correct that this is happening when the Ray head gets overloaded?

When this happens does the operator deployment indicate that there were restarts?
`kubectl -n <namespace> get deployment ray-operator`
If not, could you share the operator pod's logs
`kubectl -n <namespace> logs ray-operator

[2021-05-21 16:00] #15021 closed

[2021-05-21 16:10] DmitriGekhtman opened #15975 "[Release] 1.4 Checklist (Target date June 1)"
# Initial Steps
- [x]  Announced branch cut date and estimated release date

# Branch Cut
- [x]  Release branch created
- [x]  Release branch versions updated
- [x]  Release commits pulled into spreadsheet
- [x]  Release notes doc created
- [x]  Call for release blockers and release notes made in email and Slack
  - [x]  Messaged Ant about release blockers

# Release Testing
## Microbenchmark
@ray

[2021-05-21 16:36] sanjaysrikakulam opened #15977 "Ray get on actor method is super slow - Question"
Python version 3.7.7, ray version 1.2.0

[code]

Why does the `ray.get(test_actor.get_array.remote())` is super slow (takes 10 to 12 minutes)? It is still slow even if I use another remote function `write_slice_to_disk` to get row slices in parallel. Any idea on what's happening. I thought I have parallelized everything, so both the writing and reading should be faster. Also how to get the array w

[2021-05-21 16:42] wuisawesome commented on #15971
Yes this is expected, but I didn't realize it would make the debug logs so unreadable. I'm ok with removing that print statement.

[2021-05-21 17:54] francis2tm opened #15982 "Ray tune uses infinite disk space"
python 3.6.9
pytorch 1.8.1+cu102
Ubuntu 18.04

I'm running a ray tune script based on https://pytorch.org/tutorials/beginner/hyperparameter_tuning_tutorial.html .
In the last few days everything worked flawlessly, but since yersterday, 2 things have changed, I think it's because I updated ray's version:
1) Before, when the hyperparameter search was starting, only the running trial and completed tr

[2021-05-21 20:09] richardliaw commented on #15982
@francis2tm this issue is reported here with a workaround: https://github.com/ray-project/ray/issues/15695

Let me know if it works!

[2021-05-21 20:28] gshimansky opened #15990 "Ray 1.3.0 CHECK fail during normal task scheduling"
### What is the problem?

While transitioning Modin to Ray version 1.3.0 we have several tests crash in Github Actions CI. Crashes could not be reproduced in development environment until I tried to create a VM with the same specs as Github Actions run: https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
Running such VM with 2 CPU cores and 7GB of RAM stably

[2021-05-21 20:32] richardliaw commented on #15990
+1, yeah actually I get segfaults on Github actions often, and this has been the case in previous Ray versions too.

[2021-05-21 20:48] devin-petersohn commented on #15990
Thanks @gshimansky for opening, and for creating a reproducer. I also want to mention that `ray.init` arg combinations do not change anything.

[2021-05-21 20:51] bklaubos commented on #14019
This means performance hit to dynamically installing dependencies. One possible way is to designate certain nodes as providing dependencies ready environment.i.e not all Ray nodes are "equivalent". Certain workers would be instantiated on certain Ray node. Think of it long the line of K8s's "taint and tolerance" wrt to dependencies.

[2021-05-21 20:55] bklaubos commented on #14019
@edoakes - Instantiating a new pod associated with a task is very expensive. For Actor its probably OK since actors probably expected to live for a while for mutation purpose.

[2021-05-21 21:46] rkooo567 commented on #15879
hmm this probably indicates `actor.options(placement_group=None)` is properly.

[2021-05-21 23:29] DenysAshikhin commented on #15753
Another update, I managed (although it feels hacky) to make my stuff work with `remote_inference = 'remote'`. As per the code below:

[code]

However, the issue persists where pretty darn commonly, upon trying to update the model (in this case inside the `policy_server` since that's what remote for remote_inference does?) it still dies in the same manner. Subsequent connects to that server result

[2021-05-22 00:15] francis2tm commented on #15982
It worked, thanks!

[2021-05-22 00:15] #15982 closed

[2021-05-22 00:18] rkooo567 commented on #15977
It's because `get_array` returns the whole array, and whenever you call that method, it creates a new copy. You need to make actor methods to get data in more fine-grained way.

[2021-05-22 01:08] richardliaw commented on #15879
Sang, are you sure placement_group=None is the right setting?

Reading the source code, it seems like placement_group=False is how one
would induce the behavior we want (which is to not inherit the parent
placement group).

Let me know if thats the case?

On Fri, May 21, 2021 at 2:46 PM SangBin Cho ***@***.***>
wrote:

[2021-05-22 01:28] mvindiola1 commented on #15977
Following up on what @rkooo567 said even when you use the actor, it will only be able to process method calls serially one at a time by default you will have to modify that behavior with the max_concurrency option.
https://docs.ray.io/en/master/async_api.html#threaded-actors

[2021-05-22 02:29] rkooo567 commented on #15879
Hmm looking at code again, it should only work when `placement_group_capture_child_tasks` is False in the parent tasks/actors. placement_group=None doesn't seem to work now. We probably need to fix that to fix the api here.

[2021-05-22 02:31] rkooo567 commented on #15879
And as @richardliaw placement_group=False seems to work

[2021-05-22 04:22] mvindiola1 commented on #15753
Have you used Wireshark before? One next step would be to run Wireshark and
watch the traffic between the policy client and server to see if anything
strange reveals itself.

You might also want to keep track of how many weight  updates, if any occur
successfully before it breaks. In fact you could use curl or the python
requests library to request the weights your self to test this. Call it x
num

[2021-05-22 04:44] Eleven1Liu commented on #15969
Hi @krfricke,

I started a new venv, `pip install -Ur requirements.txt` works for me.
Thanks a lot!

[2021-05-22 04:44] #15969 closed

[2021-05-22 06:17] #15836 closed

[2021-05-22 08:08] davidberenstein1957 commented on #15632
I tested 3 set-ups with different images for the operator pods and workers/heads (nightlly and release==1.3.0. I used the same ray version for the API as I did for the worker/head when connecting. Also I used the release notation for the serve deployment and not the @serve.deployment() one.

custem docker as suggestby by @edoakes
[DockerfileCPU.txt](https://github.com/ray-project/ray/files/6526063

[2021-05-22 08:09] davidberenstein1957 commented on #15632
The ray head does get overloaded when using the @serve.deployment decorator by the way, but have only found time to test with the old notation due to the fact that I also wanted to test the release images.

[2021-05-22 09:10] #13275 closed

[2021-05-22 09:10] #13252 closed

[2021-05-22 10:20] sanjaysrikakulam commented on #15977
Hi @rkooo567, @mvindiola1

Thanks for your reply.

1) Setting max_concurrency results in increased usage of RAM, yet it does not solve the problem of getting back the array and it still takes the same amount of time.
2) If I remove the max_concorruncy option and simply create another actor method that will directly write to the disk causes various unknown problems

For example:
[code]

Here is the

[2021-05-22 14:27] rein1685 commented on #4578
I'm not sure because I'm studying RLLIB, but I think I found a solution.

Check your spaces.Box function. my env use MinMaxScalar, so I use

self.observation_space = spaces.Box(
            low=0, high=1, shape=(13, lookback_window_size + 1), dtype=np.float16)

but my observation has value 1.00000001, so I edit high 1 to 2.

now my code works well!

[2021-05-22 17:38] llan-ml opened #16007 "Usage of ray.util.queue.Queue for data processing"
Python: 3.7
Ray: 1.2

I want to use `Queue` to preprocess some data sequentially and in parallel. I implement it as follows:
[code]
However, I get the following message:
[code]
I may use `Queue` in a wrong way. Or, is there a better way to implement the above function? The basic logic is that we continually issue remote functions and store the object refs in a queue. At the same time, we can fetch

[2021-05-22 20:31] DenysAshikhin commented on #15753
So here's the log of what happens on the policy_server side:

[code]

As for sending the requests manually...what are the necessary headers/body/post to get a valid response? Because if I know those I would quickly make a script to send requests for testing purposes!

[2021-05-22 22:09] mvindiola1 commented on #15753
This is the code policy client uses to send data. You could base it off of that.
https://github.com/ray-project/ray/blob/7a425be59f316cbc3819dd6bcab4445d445fa481/rllib/env/policy_client.py#L214-L221

Combined with this:
https://github.com/ray-project/ray/blob/7a425be59f316cbc3819dd6bcab4445d445fa481/rllib/env/policy_client.py#L241

Another thing you could try based in the comment below is to pass

[2021-05-23 02:47] AmeerHajAli opened #16008 "missing dependencies in default worker in runtime envs"
getting this when running the summit demo:
[code]

[2021-05-23 03:10] AmeerHajAli commented on #16008
another time I run this I get stumbled into this error:
[code]

[2021-05-23 03:19] AmeerHajAli commented on #16008
annother blob:
[code]

[2021-05-23 04:00] AmeerHajAli commented on #16008
another blob:
[code]

[2021-05-23 04:01] AmeerHajAli commented on #16008
another blob:
[code]

Everytime I run the demo I get another error.

[2021-05-23 04:15] AmeerHajAli commented on #16008
another blob:
[code]

[2021-05-23 09:19] auderson opened #16009 "[core] Failed to get the system config from Raylet: IOError: 14: failed to connect to all addresses"
Hi,

I'm using ray 1.3.0 and I can't connect to a remote ray server. However if I downgrade ray version to 1.2.0, it will work fine.

[code]

on another machine which has already started the ray service and connected to the head node
[code]
[code]

[2021-05-23 09:41] CookiePPP opened #16010 "ray[tune] requirements"
### What is the problem?
Crash on line
https://github.com/ray-project/ray/blob/c624e89483f3512a73f74361acae93637e40810e/python/ray/tune/logger.py#L266
Running
[code]
should update tensorboardX to 1.9 or higher but does not.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python 3.8
TensorFlow 2.3
Pop_os! 19.10
TensorboardX 1.8

### Reproduction (REQUIRED)
Plea

[2021-05-23 09:43] CookiePPP commented on #16010
https://github.com/lanpa/tensorboardX/pull/470
`tensorboardX.summary.hparams` was added to tensorboardX in version 1.9

[2021-05-23 10:03] roireshef commented on #15882
@edoakes I'm into different issues when I remove `--node-ip-address` since I'm running in docker containers and the way you resolve self ip will not recover the physical machine's ip, but rather docker container ip. So for instance, running
[code]
will return the same ip for both machines I try to handshake (which is their docker container internal ip).
It was concluded before (in another ticket)

[2021-05-23 19:35] DenysAshikhin commented on #15753
Okay, so I tried to do both remote and local inference mode with update_interval=None and they both break in a similar fashion.
Moreover, my policy_server now uses Ray's random server and I just change the obs and action space to work with my game-interaction-wrapper (which is used on policy client side, but it is separate from the policy client object itself).

**policy server**
[code]
So my unde

[2021-05-24 06:53] nostalgicimp commented on #14019
Is this RFC for runtime_env is still ongoing under development? I saw the docs already show its usage(https://docs.ray.io/en/master/advanced.html#conda-environments-for-tasks-and-actors)(https://docs.ray.io/en/master/package-ref.html#ray-remote), but my installed ray2.0.0.dev0 version still couldn't recognize this newly added runtime_env and override_environment_variables.

My ray.get(read_from_hd

[2021-05-24 08:07] howardlau1999 opened #16013 "[tune] raises RuntimeError about non-training futures"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray 1.3.0 Python 3.8 Ubuntu Server 18.04 PyTorch 1.7.1

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock dat

[2021-05-24 08:25] ddworak94 opened #16014 "[rllib]RNN support for SAC"
Me and my team was lacking an option to train SAC algorithm with support for RNNs, so i've implemented a RNNSAC trainer with a relevant RNNSAC policy and model that more or less bases on original SAC agent implementation and I also took inspiration from R2D2 implementation for RNNs support. I've added support for hidden states in RNN based policy and q models, burn_in and zero_init_states, as well

[2021-05-24 09:21] howardlau1999 commented on #16013
I found that if I set `checkpoint_at_end=False`, then the scripts finished with no errors. And I guessed that manually starting nodes caused this problem.
But I don't have permission to install docker on these servers so I can't use ray cluster launcher. I don't have a NFS setup either. Any ideas on how to solve this problem?

[2021-05-24 11:01] al-rigazzi opened #16016 "[tune] JupyterNotebookReporter not working with ray.util.connect()"
### What is the problem?
When using `ray.util.connect()` to run a `tune` workload in a Jupyter Notebook, the `JupyterNotebookReporter` does not show the correct output (i.e. the well-formatted table of trials). Instead, it only prints `<IPython.core.display.HTML object>`. Notice that when the cluster is started in the cell (thus using `ray.init()`), the behavior is as expected.

*Ray version and o

[2021-05-24 12:02] Prateek-Tyagi commented on #7339
phases:  install:    commands:      - docker login -u $dockerhub_username -p $dockerhub_password
i am using codebuild builspec.yml file.
This says can not perform intrective login over TTY devices . ECR login is working fine.
any lead please.
i am new to aws codebuild. this is part of my buildspec.yml file..

[2021-05-24 12:58] mvindiola1 commented on #16014
@ddworak94 Nice work. I cannot actually approve anything that is @sven1977. I am sure he will have some feedback. As I was looking through the code three things jumped out at me that I thought I would comment on.

1. I did not see the tf implementation. Did I miss it or did you just add a torch version?
2. Nice catch on this one `if bool(is_last_episode_ids[0]) is not True`! I was looking at that

[2021-05-24 15:42] krfricke commented on #16009
Can you share a bit more about your setup? Cluster type, machines, etc? Are you using docker or installing Ray on the OS directly? Are these homogeneous nodes/machines?

[2021-05-24 15:43] krfricke commented on #16010
cc @amogkam maybe we only have to bump some dependencies?

[2021-05-24 15:44] krfricke commented on #16013
Oh, I'll look into this more closely, sometime this week

[2021-05-24 16:02] amogkam commented on #16010
@krfricke I think we just need to pin 1.9 as the minimum version for tensorboardX in setup.py. The dependencies in `requirements_tune.txt` shouldn't be affecting this.

[2021-05-24 17:20] amogkam opened #16023 "[Client] Native Environment variable propagation with Ray Client"
For many of the libraries built on Ray, environment variables are used for configuration purposes.

Currently, the way to set environment variables on the server is through this API
[code]

However, this does not provide a great user experience. Ideally, environment variables that are set in the client should automatically be propagated from the client side to the server side. We could just copy t

[2021-05-24 17:21] #15882 closed

[2021-05-24 17:23] amogkam commented on #16023
cc @ijrsvt @AmeerHajAli

[2021-05-24 17:24] edoakes commented on #16023
@amogkam one concern here is that setting all of the local env vars could have some adverse effects. For example if the PATH or PYTHONPATH is propagated, it could wreak havoc.

One option here would be to have a well-known prefix with which environment variables will be propagated. For example all variables starting with `RAY_`.

[2021-05-24 17:30] amogkam commented on #16023
I see, that makes sense not to copy all of them.

But we do have to support cases where the environment variables "managed" by us. For example MLflow exposes `MLFLOW_EXPERIMENT_NAME` environment variable which should be propagated for the Tune-MLflow integration to work.

Another option is for each library to have a list of environment variables that should be propagated. Or alternatively, we coul

[2021-05-24 18:05] rkooo567 opened #16025 "[Streaming shuffle] Workers are started unlimitedly if each ray object is 100KB."
### What is the problem?

It seems like in the reduce phase, workers are started unlimitedly, if each of ray object is 100KB.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

- [ ] I have

[2021-05-24 18:07] rkooo567 opened #16026 "[Core] object_store_memory leak after Ctrl-C of job"
### What is the problem?

After I stopped the driver due to https://github.com/ray-project/ray/issues/16025, I found out ray status prints object_store_memory > 0. It shouldn't happen because all the memory is supposed to be cleaned up. This can impact autoscaler potentially.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted t

[2021-05-24 18:11] rkooo567 opened #16027 "[Scheduler] Hybrid scheduling policy doesn't load balance tasks when object store memory is > 50%"
### What is the problem?

cc @wuisawesome

When I ran the shuffle test in the multi node cluster (4 nodes), it looks like the head node object store is utilized 100% before other nodes are utlilized.

[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library

[2021-05-24 18:14] #16010 closed

[2021-05-24 18:38] ijrsvt opened #16030 "[Client] [Tracing] Client does not Work with opentelemetry installed locally."
### What is the problem?
* Ray tracing is auto-enabled if `opentelemtry` can be imported locally. This is a problem for Ray client because opentelemetry may be installed locally, but not remotely.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: Nightly

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that c

[2021-05-24 19:23] edoakes commented on #14019
Hey @nostalgicimp, this is under active development! We expect the feature to be GA'd in Ray 1.5 (in around a month or so). On the nightly wheels you can test it out using:

[code]

We should have some documentation for this up soon.

cc @architkulkarni

[2021-05-24 20:15] #16030 closed

[2021-05-24 20:16] architkulkarni opened #16031 "[core] runtime env with pip/conda breaks if opentelemetry installed"
### What is the problem?
If opentelemetry is installed, tracing code is automatically enabled in Ray.  However, when using dynamic pip/conda installs in a runtime env, opentelemetry might not be included by the user in the dependency list.  In this case, opentelemetry won't be installed in the runtime env.  Running a task or actor in the env will then fail with `ModuleNotFoundError: No module name

[2021-05-24 20:20] architkulkarni opened #16032 "[Core] Graceful failure for tasks/actors with invalid runtime envs."
### Describe your feature request
If a runtime env is specified with an invalid conda or pip field (for example, anything that would cause `conda create` or `pip install` to fail), the actor or task will be retried periodically indefinitely with new workers spawning every 10 seconds.  We should return a useful error message and find a way to not retry the task indefinitely.

After installing the R

[2021-05-24 20:26] architkulkarni opened #16033 "[Core] Always run "shim process" even if runtime env is empty"
### Describe your feature request
Currently, the "shim process" (the process which sets up the environment before starting the default worker) only runs when the runtime environment is not empty.  To prevent having different code paths, we should always have the shim process run.  When the runtime environment is empty, the shim process will just be a no-op.
For feature requests or questions, post

[2021-05-24 20:29] architkulkarni opened #16035 "[Core] Improve pluggability of worker setup hook for runtime_env"
### Describe your feature request
The current way the pluggability for the "shim process" in the runtime env is that there is a single python setup function that can be overridden.  This single function must handle all of the setup and then exec into the default worker script.  The problem here is that if a user wants to override this setup function, they will most likely have to copy all of the c

[2021-05-24 20:53] architkulkarni opened #16037 "[Core] Add testing for conda and pip runtime envs on Mac OS"
### Describe your feature request
The dynamic conda/pip installation feature of runtime env relies on automatically injecting the current Ray dependency into the dependency list.  This poses an issue for testing, because we would like to test using the current version of Ray, but no wheel for the commit has been uploaded yet.  The solution, at least on Buildkite, is to run a separate job that buil

[2021-05-24 23:19] rkooo567 opened #16039 "[Shuffle] RPC intensive workload blocks the raylet main thread"
### What is the problem?

When running busy applications, it seems like `ray memory --stats-only` times out with the below error message;

[code]

It happens when I ran memory intensive workload and all of tasks are scheduled on a single node. Since copying the large memory uses good amount of CPU, this seems to be expected, but it is weird this blocks the main thread which makes ray memory extrem

[2021-05-25 01:05] aleSuglia commented on #6573
Which one is currently the working solution?

[2021-05-25 01:20] #13318 closed

[2021-05-25 02:13] rkooo567 opened #16044 "Restore requests should bypass object store"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

cc @stephanie-wang

Imagine there are number of pinned objects at each node. At the same time, if there are many object restoration requests from many nodes, it is possible that the restoration request goes through OOM (and it will be retried by object manager).

The

[2021-05-25 02:17] rkooo567 commented on #15944
This is working if I specify placement_group=False. Maybe we should just document it.

[2021-05-25 02:33] rkooo567 commented on #15960
[code]

This seems to be the issue. Do you see the same logs from 1.3? If so, we might need the full repro script to debug the issue.

[2021-05-25 02:33] ConeyLiu commented on #15734
I think this may be related to https://github.com/ray-project/ray/pull/11944. I have met similar problems when connecting the ray cluster from the worker node.

[2021-05-25 03:33] TannedCung commented on #15960
These logs actually comes from ray 1.3.0. I cannot provide the full repo but will try to have an short repro script soon. i think i should mention that on a i7 CPU it survived 3 days continuously without any problems, but the thing happens when i run on a xeon x5 v3. i wonder if CPU could be the problem???

[2021-05-25 05:19] ericl commented on #16044
I think we should be bypassing the object store for restore requests. We can be streaming the data directly from disk over the network, which would both be much lower CPU overhead and avoids this kind of memory thrashing issue.

[2021-05-25 05:20] ericl commented on #16039
Can you comment on why it could be timing out? Isnt stats only a super lightweight call that's just reading some counters from memory?

[2021-05-25 05:23] rkooo567 commented on #16039
That's why I added need-repro-script. It is suppose to be super lightweight, and I could see it runs for a short time, but it times out when I ran the dask on ray workload (I tried in multiple different raylets, and it were the same). My guess is when one raylet collects stats from other raylets, there's something wrong.

[2021-05-25 05:24] ericl commented on #16027
Can you provide more details into the issue? It is difficult to tell the expected behavior based on the description.

[2021-05-25 05:25] rkooo567 commented on #16027
Based on my understanding, tasks should be load balanced when the object store utilization reaches to around 50% to avoid unnecessary object spilling, but I found the head node is utilized 100% before other node object stores are even used (which means the policy is not working as expected).

[2021-05-25 05:26] ericl commented on #15944
Seems like a trivial fix, can you make a PR?

[2021-05-25 05:41] jovany-wang opened #16047 "ConcurrencyGroup Proposal"
We'd like to isolate different actor methods to different threads.

V2 API Proposal is here: https://docs.google.com/document/d/1KOOzEZXClsUZ_8Kjp37RIqT-9_-MSogFd4RcCsfVvsc/edit#

If you'd like to take looks at the motivation, background and the discussions before, please refer to the initial doc:
https://docs.google.com/document/d/1OLI_BsUUJrhW3vGRJVjwSs3rIS3I0-746Wuf2d4mEow/edit?usp=sharing

TOD

[2021-05-25 05:43] ConeyLiu commented on #16009
Hi @auderson , are you connect the ray cluster from the node except the head node? If that, I think you could take a try with this: https://github.com/ray-project/ray/pull/16045.

[2021-05-25 05:46] ericl commented on #16026
Is it just an issue with the job not being marked as dead? Maybe it takes a bit of time after am unexpected exit with Ctrl-C.

What if you wait longer? Or is the job cleaned up but objects still remain?

[2021-05-25 05:48] rkooo567 commented on #16026
I can double check later, but based on my observation, other resources (e.g., CPU) are cleaned, but object store memory is not completely cleaned (and it stays the same after I waited a bit). If I run the next job, it doesn't seem to be affected, so it is probably just some of evictable objects are not evicted after the job is done.

Let me see if I can create a repro later.

[2021-05-25 05:48] ericl commented on #14324
Closing since this is very stale, let's make a new issue with more details as needed if we encounter this during tests again.

[2021-05-25 05:48] #14324 closed

[2021-05-25 05:50] rkooo567 opened #16048 "[Pubsub] Ownership based object directory needs to batch requests"
### Describe your feature request

There are 2 tasks to be done.

1. Batch the subscribe commands. Proposal; https://docs.google.com/document/d/1OnbmqiXIuyOfJwv_uEShTKrVT9t_vuxNXjX1dc02GW4/edit#heading=h.gi8hbyr0xqg7
2. Replace OBOD long polling to pubsub module

[2021-05-25 05:51] rkooo567 commented on #16048
This will likely to fix https://github.com/ray-project/ray/issues/14324#issuecomment-847554739

[2021-05-25 05:57] ericl commented on #16026
I see, @stephanie-wang can you think of a reason why we might not be cleaning up some of these objects? Is it indeed possible the store is full of evictable objects only?

[2021-05-25 05:58] rkooo567 commented on #16025
Btw, this worked normally when each object was 1MB not 100KB.

[2021-05-25 05:59] rkooo567 commented on #16025
So it should only happen when the object size is smaller than the certain threshold.

[2021-05-25 06:03] rkooo567 commented on #15944
It looks like placement_group=None is not the right semantic here because that's the default value (so it is hard to make it work).

Any objection of using `options(placement_group=PlacementGroup.empty())` for the same purpose? Or `options(placement_group=False)`.

[2021-05-25 06:04] ericl commented on #15990
I suspect this is fixed with https://github.com/ray-project/ray/issues/14182

Can you reproduce the issue on the latest nightly wheels with RAY_PREALLOCATE_PLASMA_MEMORY=1? If so, I can take a look.

[2021-05-25 06:06] ericl commented on #15944
Why not change the default to False or some other sentinel value (e.g., -1)? Then, None will work as expected as an override.

[2021-05-25 06:07] rkooo567 commented on #15944
Sounds good to me.

[2021-05-25 06:08] ericl commented on #16027
I'm not totally surprised about this since there is some delay before the load balancing occurs. If the node is pretty small it might just fill up before this happens. Anyways, this issue is not detailed enough to point to a concrete problem, we should investigate further before prioritizing it.

[2021-05-25 06:34] nostalgicimp commented on #14019
Thanks @edoakes!
Looking forward to it.

[2021-05-25 07:18] arainboldt opened #16519 "[tune] TuneSearchCV -> TypeError: 'NoneType' object is not callable"
Trying out a simple example using TuneSearchCV with LGBMClassifier and it fails on start.

Environment:

Python 3.8.3
tune-sklearn 0.3.0
ray 1.3.0
macos mojave 10.14.6

Code:

[code]

Traceback:

[code]

[2021-05-25 08:16] lixin-wei commented on #15943
For cleaning up data structures, I'll split it into several PRs since it cause large-scale changes.
1. Replace `FractionalResourceQuantity` with `FixedPoint`
2. Replace `ResourceSet` with a new data structure in `cluster_resource_data.h`.
3. Replace `ResourceIds` with `ResourceInstanceCapacities`
4. Replace `ResourceIdSet` with `NodeResourceInstances`
5. Replace `SchedulingResources` with a new da

[2021-05-25 08:24] Coac commented on #15972
We managed to fix the issue, changes [here](https://github.com/minus--/ray-debug-example/commit/c8aa121fb9abc0dacea6214e938b5ab11a1ee4be).
We removed these options and it works now.
[code]

Thanks

[2021-05-25 08:24] #15972 closed

[2021-05-25 08:46] ddworak94 commented on #16014
@mvindiola1 Thank you for your review and comments. Answering your questions:

1. Yes, I have only implemented torch version so far. I guess if everything else is correct, implementing tf model and policy shouldn't be much of a problem.
2. Sure `if not is_last_episode_ids[0]` looks way better then my explicit casing, I just wanted to highlight what causes the problem.
3. Following your suggestion

[2021-05-25 11:05] benni-hepp opened #16053 "Fractional resources <= 0.01 are not handled correctly in placement groups"
### What is the problem?

Fractional resources <= 0.01 are not handled correctly in placement groups.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.3.0
Tensorflow: 1.15.0
PyTorch: 1.7.1
OS: Linux (in docker container)

### Reproduction (REQUIRED)
[code]

Running `python3 script.py works` gives:
[code]

Running `python3 script.py fails` gives:
[code]

-

[2021-05-25 13:28] krfricke commented on #16053
cc @rkooo567

[2021-05-25 13:31] krfricke commented on #15973
Hm there might be some regression here, though I can't recall changes on the Tune side that would explain it. cc @sven1977 do you know what part of the code is involved with this?

In any case, we can look into this soon.

[2021-05-25 14:06] fantow opened #16056 "[enhancement]May be we can use Kryo to serialize object which will be transport on the internet."
We know that Ray use the Java native serialization method,can we use Kryo to reduce memory usage.

If this is a necessory problem,may I pull a PR to fix it?

[2021-05-25 15:17] amogkam opened #16059 "[Client] Better Error Messages"
One important aspect to increasing adoption of Ray Client is making sure we have very good and actionable error messages.

Currently, I'm running into obscure error messages like this from the client:
[code]

and this from the server:
[code]

It turns out that this was due to a mismatch in Ray versions, but I never would have guessed that from these error messages.

@ijrsvt @AmeerHajAli

[2021-05-25 15:22] AmeerHajAli commented on #16059
@ijrsvt , can you please triage this?

[2021-05-25 16:04] devin-petersohn commented on #15990
Thanks @ericl for the response. I did as you suggest, output logs can be found here: https://github.com/modin-project/modin/pull/3011/checks?check_run_id=2667075822. The failure persists.

I would like to understand why this was marked as P2. It is clearly a stability issue, and is preventing us from upgrading.

[2021-05-25 16:15] aregm commented on #15990
@ericl Can you make this P1 priority?

[2021-05-25 16:20] gshimansky commented on #15990
I ran my reproducer VM with ray 2.0.0.dev0 both enabling `RAY_PREALLOCATE_PLASMA_MEMORY=1` and without it. Crash still happens and stack trace looks identical to that of version 1.3.0.
I also tried enabling `swapon -a` which turns on 2GB of swap (default setting for this ubuntu VM), but it doesn't make a difference either and crash still happens.

[2021-05-25 17:08] rkooo567 commented on #16027
Yeah I agree with `we should investigate further before prioritizing it.`. I will have further investigation while I am helping Jenna.

[2021-05-25 17:23] gshimansky commented on #15990
I built Ray with debug info, but it looks to me that abort happens because of crash in some different worker, so stack trace doesn't tell much. Anyway, with debug info it looks like this:
<details>
[code]
</details>

I ran session with RAY_LOG_LEVEL=DEBUG two times.
First time without `RAY_PREALLOCATE_PLASMA_MEMORY=1`:
[session_2021-05-25_17-17-08_857253_30048.tar.gz](https://github.com/ray-projec

[2021-05-25 17:42] ericl commented on #15990
Thanks for the debug logs! I found this in the raylet.out, investigating.

[code]

[2021-05-25 17:44] rkooo567 opened #16060 "[Core] Resource broadcast reports NIL_ID to raylets"
### What is the problem?

cc @wuisawesome

[code]

When I ran multi node tests, I've seen these log messages a lot. This is spammy, and also we need to understand why we are receiving NIL_ID (+ we need to know what's the impact of this NIL ID, like is it affecting scheduling performance?)

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be

[2021-05-25 17:45] rkooo567 commented on #16060
cc @kfstorm @WangTaoTheTonic  do you guys have some bandwidth to troubleshoot this issue?

[2021-05-25 18:11] christofer-f opened #16062 "Trying to implement a Hierarchical-Actor-Critic agent in rllib"
Hi!

I want to run this fork on a cluster.
https://github.com/christofer-f/Hierarchical-Actor-Critic-HAC-PyTorch

The code is an implementation of this paper:
https://arxiv.org/pdf/1712.00948.pdf

It has a small modification where I implement a change inspired by the GO-EXPLORE algorithm.
This change makes the code find a  solution very fast.
(I think that the performance is almost SOTA...)

And n

[2021-05-25 18:28] gshimansky commented on #15990
I just discovered a Ray debug page and ran it again with RAY_BACKEND_LOG_LEVEL=debug for logs:
[session_2021-05-25_18-21-46_798873_30958.tar.gz](https://github.com/ray-project/ray/files/6541535/session_2021-05-25_18-21-46_798873_30958.tar.gz)
and RAY_RAYLET_GDB=1 RAY_RAYLET_TMUX=1 for worker stack trace:
<details>
<pre>
Thread 1 "raylet" received signal SIGABRT, Aborted.
__GI_raise (sig=sig@entry=

[2021-05-25 18:31] ericl commented on #15990
Thanks! I'm also able to reproduce locally now with `ray.init(object_store_memory=1e9)`.

[2021-05-25 18:52] iycheng commented on #16008
This might be related to requirement.txt not converted to list/dict for actor/task with option. Waiting for @architkulkarni pull request to fix this in OSS first.

[2021-05-25 19:09] amogkam commented on #15495
Hey @gmatev apologies for the delay here. Unfortunately I'm not able to reproduce this. Looking at your output, it seems like the error is because peer to peer access is not supported by your machines.

What I don't understand though is that in the standard Pytorch example, P2P is not enabled, so it falls back to using direct shared memory
`ray-608788daf515e90a03e090eb-ray-worker-0:415:521 [1] NCC

[2021-05-25 19:10] ericl commented on #15990
Thanks, turns out the issue was due to tasks requesting the same object id multiple times, which triggered the check failure. It only happened in a particular edge case where there were multiple tasks requesting the same object.

The smoking gun from the debug logs:

[code]

Note ffffffffffffffffffffffffffffffffffffffff0100000003000000 was removed twice.

[2021-05-25 19:17] ericl opened #16064 "[investigate] received resource usage from unknown node id NIL_ID happens even in single-node cluster"
### What is the problem?

There's a very suspicious log message printed every 5 seconds or so in the GCS logs, we should investigate to make sure it isn't a symptom of a more serious bug.
[code]
### Reproduction (REQUIRED)

Just run `ray.init()` and check raylet.out after a bit.

[2021-05-25 19:36] gshimansky commented on #15990
Did it happen because of constrained memory?

[2021-05-25 19:42] ericl commented on #15990
It seems to be because ffffffffffffffffffffffffffffffffffffffff0100000003000000 was passed twice as an argument to the task (this is allowed in the Ray API, just a bit unusual so triggered this buggy edge case).

I'm not sure how constrained memory triggers the bug exactly, in principle this can happen in any setting.

[2021-05-25 19:53] gshimansky commented on #15990
I ran problematic Modin tests with your patch and results are mixed. While `modin/pandas/test/dataframe/test_binary.py::test_math_functions_fill_value[add-None-check_different_index]` seems to be always passing now, `modin/pandas/test/test_groupby.py::test_agg_func_None_rename[True-by_and_agg_dict2]` passes, but at the same time outputs some abort log about 80% of times that I run it:
[code]

[2021-05-25 19:56] gshimansky commented on #15990
Attached are logs for the run with raylet abort with this commit https://github.com/ray-project/ray/pull/16063/commits/45db24aeae8c8eaaf52a5787f6096ac55a2796a9
[session_2021-05-25_19-50-54_942726_33263.tar.gz](https://github.com/ray-project/ray/files/6542005/session_2021-05-25_19-50-54_942726_33263.tar.gz)

[2021-05-25 20:05] pxc opened #16065 "[RLlib] Restored DQNTrainer cannot solve the environment it was trained on."
### What is the problem?

I'm trying to train a simple cartpole model using `ray.tune.run`, load a trainer from the final checkpoint and show that it works in the environment. However, the loaded trainer does not perform very well at all.

Ray version: 2.0.0.dev0 installed from https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp36-cp36m-manylinux2014_x86_64.whl

OS: Linux

PyTor

[2021-05-25 20:14] ericl commented on #15990
@gshimansky I pushed a speculative fix to that branch which should fix this as well, could you try it out?

[2021-05-25 20:23] gshimansky commented on #15990
With this fix I ran both tests 10 times and had no crashed any more. It looks like it works at last!

[2021-05-25 21:33] rkooo567 commented on #16064
Close https://github.com/ray-project/ray/issues/16060 as it is duplicated

[2021-05-25 21:33] rkooo567 commented on #16060
Duplicated

[2021-05-25 21:33] #16060 closed

[2021-05-25 22:24] PeadarOhAodha opened #16067 "[client] Ray client 'dataclient cannot send request due to a data channel shutting down'"
### What is the problem?
Running a local test of ray client, it fails when attempting to connect with the error below using the latest nightly build.

### System information
- Mac OS
- Python 3.7
- Using latest ray build version: https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp37-cp37m-macosx_10_13_intel.whl

### Steps to reproduce
Start ray locally:
`ray start --head --port=

[2021-05-25 22:28] richardliaw commented on #16059
Relevant: https://github.com/ray-project/ray/issues/16067

[2021-05-25 23:41] ijrsvt commented on #16067
Oh yikes! Thanks so much for catching this!!!

[2021-05-25 23:44] ijrsvt commented on #16067
@PeadarOhAodha Just to make sure this is the bug that I reproduced locally, could you send the logs in `/tmp/ray/session_xxxx/logs/ray_client_server.err`?

[2021-05-26 00:11] ijrsvt commented on #16059
@amogkam Was there anything else in the Serve logs?

[2021-05-26 01:01] max0x7ba commented on #15504
For this test I used my production workload with `MedianStoppingRule`.

Before applying the patch, 3500 trials produced 350 warnings _`choose_trial_to_run` operation took 0.xyz s, which may be a performance bottleneck_.

After applying the patch, 3500 trials produced 90 warnings.

Roughly 2 minutes each trial.

[2021-05-26 02:10] remondn-swk opened #16070 "❓ [rllib] How to disable default encoding ?"
My observation space is a `spaces.Discrete`.

`rllib` automatically one-hot encode this observation, as mentioned in the [docs](https://docs.ray.io/en/master/rllib-models.html#built-in-preprocessors)

---

**How can I disable this behavior ?**

The tensor my model receives has `[batch, discrete_size]` shape, but I want `[batch]` shape.

[2021-05-26 03:32] mvindiola1 commented on #15753
Hi @DenysAshikhin,

I have been able to get the client below to train fro 10 iterations. That was the size of the for loop I am sure it could have gone longer. The catch is I could only get it to train to completion with framework=tf if I set it to tfe it would not make it past the first iteration without failing. I am not sure why it is failing but my hunch is that the tfe version is REALLY SLOW

[2021-05-26 03:48] fodrh1201 opened #16072 "[autoscaler][gcp][default] Autoscaler throws BrokenPipeError on gcp."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray: 1.3.0
google-api-python-client: 2.5.0
python: 3.7.10
OS: Debian GNU/Linux 10

After a day or so, the autoscaler does not work because an error occurs as follows.

[code]

After this error occurs, if you attach to the cluster and import ray, the following error occurs.

[code]

### R

[2021-05-26 04:04] mvindiola1 commented on #15753
Actually,

I just got tfe to do 1 iteration by changing "rollout_fragment_length" to 1000 in the server script. It is still may slower that tf though. I will update tomorrow if it finishes all 10. Curiosity layer weights are still not changing though.

[2021-05-26 07:52] krfricke commented on #16072
The second error seems strange as `http` is a core python3 package. Anyway cc @AmeerHajAli have you seen these autoscaler errors before?

[2021-05-26 07:53] krfricke commented on #16070
cc @sven1977 and also see https://discuss.ray.io/t/how-to-disable-auto-encoding/2289 (duplicate)

[2021-05-26 08:53] Bam4d opened #16081 "[rllib] Entropy loss calculation in vtrace policy with autoregressive actions does not calculate entropy based on sample conditioned action distribution."
### What is the problem?

rllib version: 2.0.0.dev
framework: torch + tf

### Reproduction

There is no *physical replication* as its a bug in calculation, but I will show and explain the code where the bug is present (in the *torch* framework).

Entropy loss for vtrace is calculated here:
https://github.com/ray-project/ray/blob/master/rllib/agents/impala/vtrace_torch_policy.py#L105

[code]

Assum

[2021-05-26 09:19] auderson commented on #16009
@krfricke @ConeyLiu
 I'm running on ubuntu 18.04, in my conda environment. I have 2 local machines in the same network for this test. the machines are same. The problem is version 1.2.0 doesn't cause this problem.
I can't connect to the head node except from the head node.
And at the head node, ray outputs:
[code]

[2021-05-26 09:23] auderson commented on #16009
I'll test #16045 later

[2021-05-26 12:20] eedalong commented on #10154
@rkooo567 hi, do we have any progress on this problem? We also encountered this problem when we want to start ray in different process, i.e. we view a machine node as multiple smaller virtual nodes

[2021-05-26 13:12] mvindiola1 commented on #15753
Changing the "rollout_fragment_length" to 1000 in the server script for tfe worked. It is slower that tf though. Curiosity layer weights are still not changing.

[2021-05-26 13:18] lausannel opened #16084 "Fail to connect to head in another machine"
### What is the problem?

Ray --1.2.0
Windows10
Python 3.8.3

I was running ray in one machine and I cannot connect to the remote server. Ray 1.2.0 or 1.3.0 neither worked
on another machine which has already started the ray service and connected to the head node(They are in the same network)
[code]
The output is as follows
[code]
Then nothing happened, even without an exit code
I cannot run the c

[2021-05-26 13:19] DmitriGekhtman opened #16085 "[kubernetes][operator] Move individual monitor processes to pods."
The Ray Kubernetes operator manages multiple clusters by running all of the clusters' monitors as subprocesses in the operator's pod.
The plan had originally been to cycle through monitor updates in the main process, but this proved difficult due to the global state created by the Monitor Python object.

Autoscaling monitors should be moved to their own pods for the following reasons:
- control me

[2021-05-26 13:31] DmitriGekhtman opened #16088 "[kubernetes][operator] Move Ray start commands to container entrypoints, remove kubectl exec."
Currently, Ray processes are started by running ray start via kubectl exec.
Move Ray start commands to container entrypoint commands in the pod spec, remove pods/exec permissions, and deprecate KubernetesCommandRunner.

This will lead to
- Faster and more robust scaling
- Improved permissions situation

This change entails officially dropping support for setupCommands -- this functionality is cove

[2021-05-26 13:38] DmitriGekhtman opened #16089 "[kubernetes][operator] Move pod creation to the operator."
After the change in https://github.com/ray-project/ray/issues/16085 is implemented and autoscaling monitors are moved to their own pods, move the actual creation of pods to the operator. Only the operator should have pod creation permissions.

This will require deciding on a way for the autoscaler to communicate pod creation requests to the operator. Options:
- gRPC
- edit a custom resource

[2021-05-26 13:45] lausannel commented on #16084
I could use the redis-cli to connect to server
[code]

[2021-05-26 13:47] DmitriGekhtman opened #16090 "[kubernetes][operator] Launch head and worker pods at the same time"
Currently the operator launches the head pod first and then `minWorkers` workers.
Launch the head and worker pods at the same time.

[2021-05-26 13:50] philippeboyd opened #16091 "[autoscaler] No longer possible to create an Azure cluster"
### What is the problem?

It is no longer possible to create an Azure cluster.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

- OSX
- Python 3.8
- Ray 1.3.0 and 2.0.0.dev0
- Azure-cli 2.24.0

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet sho

[2021-05-26 14:01] DmitriGekhtman opened #16092 "[kubernetes][operator] Event/status monitoring stability"
There's some risk of the operator dropping RayCluster lifecycle events and inconsistently processing state.
In particular, the current [status monitoring setup](https://github.com/ray-project/ray/blob/a7a5a2b2b72b91ffea840a85f1b10fdb3435c2f7/python/ray/ray_operator/operator.py#L305) is pretty fragile.
https://github.com/ray-project/ray/pull/15787 should greatly improve the situation, but we should

[2021-05-26 14:30] DmitriGekhtman opened #16093 "[kubernetes][operator] Don't store configs on disk when autoscaling on K8s"
[Storing configs on disk](https://github.com/ray-project/ray/blob/052d2acaee84b5bee8fd772d9d98dd56677d1533/python/ray/autoscaler/_private/autoscaler.py#L468) is not too natural in K8s context and has led to some [problems](https://github.com/ray-project/ray/issues/14074) in the past.

Alternatives are
- Use a config map
- Read RayCluster custom resource and [convert](https://github.com/ray-project

[2021-05-26 15:34] bklaubos commented on #14077
We used Argo workflow extensively, by scaling one worker per pod is going to take performance hit.
Do not go this route!!! Be warned.

[2021-05-26 16:42] max0x7ba commented on #15504
I ran another 3000 trials today using the patched code and got 323 warnings about `choose_trial_to_run` taking too long.

It looks like my runs are inconclusive about whether the patch makes a difference on `choose_trial_to_run` taking too long warnings, when the metric is the count of these warnings.

[2021-05-26 18:31] DenysAshikhin commented on #15753
I will 100% set it up on my end to confirm if it fixes itself. As for the curiosity module, should I open another issue for that?

[2021-05-26 19:19] edoakes opened #16094 "[serve] Add support for `serve run` command for development"
It would be very convenient to have something similar to `uvicorn run --reload` that would re-run your deploy script each time you saved it. We can also have the driver spin in the background so users can see logs from their deployments on the console.

[2021-05-26 19:20] edoakes commented on #16094
This should be as simple as:

[code]

[2021-05-26 19:21] edoakes commented on #16094
There should be an existing library to watch for file changes. @simon-mo didn't you point this out at some point?

[2021-05-26 19:27] edoakes opened #16095 "[serve] Support a DeploymentGroup abstraction"
Sometimes it would be useful to group deployments into a logical group. There are two concrete purposes of this that have come up so far:

- Makes it possible to easily update multiple deployments in parallel. Deploying everything in sequence right now can be very slow.
- Would make it possible to support implicitly deleting deployments when rolling back. All existing deployments in the group that

[2021-05-26 19:28] simon-mo commented on #16094
#15505

[2021-05-26 19:28] edoakes commented on #16095
cc @simon-mo

[2021-05-26 19:34] amogkam commented on #16059
@ijrsvt there was no other output from the server side.

[2021-05-26 20:38] armando-fandango opened #16096 "export to onnx"
In the following file: https://github.com/ray-project/ray/blob/master/rllib/policy/torch_policy.py

Please add export to onnx facility either in the export_model function or additional function.

[2021-05-26 21:54] edoakes commented on #16094
@simjay this might be a nice feature for you to work on if you're interested!

[2021-05-26 22:13] #15990 closed

[2021-05-26 22:25] devin-petersohn commented on #15990
Thanks for prioritizing @ericl!

[2021-05-26 22:49] simjay commented on #16094
Will take a look!

[2021-05-26 23:32] franklsf95 opened #16100 "Ray crashes when the number of returned objects does not equal to num_returns"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

- Ray nightly

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

Output:

[co

[2021-05-27 00:01] tgaddair commented on #16090
A couple things that would be great to change as part of this:

1. Run `headStartRayCommands` and `workerStartRayCommands` as the container init command, not from the operator.
2. Forward log output from the head / worker pods to stdout / stderr so it can be captured by k8s logging utilities like fluentd, etc.

Both of these should be achievable together is the start command is made blocking. What

[2021-05-27 00:24] DmitriGekhtman opened #16101 "[kubernetes][operator][docs] Improve logging / document ways of capturing ray process logs"
Document how to extract logs produced by Ray processes using e.g. Loki when running K8s operator.

[2021-05-27 00:27] DmitriGekhtman commented on #16090
100%
For 1: https://github.com/ray-project/ray/issues/16088
For 2, just opened a generic issue to improve logging / document how to set up logging: https://github.com/ray-project/ray/issues/16101
We're probably not going to be able to split up all the log-producing ray node processes into their own pods, at least not in the near future, so piping everything to stdout will probably not work.

[2021-05-27 01:39] auderson commented on #16009
@krfricke @ConeyLiu
#16045 this works
I just changed the codes in `services.py` manually and the error is gone.

[2021-05-27 02:16] DenysAshikhin commented on #15753
Okay, so tested and I still have the same issue (errors). Just to confirm, on the server side all you did was change framework to `tf` right? We are still using the random env. My policy client I left as is (not the one you posted since I need the interaction with the game for proper testing).... not quite sure where this leaves us...

[2021-05-27 02:18] mvindiola1 commented on #15753
I also changed the "rollout_fragment_length" from 25 to 1000. Oh and I ran
both the server and the client on the same machine for testing.

On Wed, May 26, 2021, 22:16 Denys Ashikhin ***@***.***> wrote:

[2021-05-27 02:30] gshimansky commented on #15990
Thank you for a quick resolution of this problem. I checked merged master branch and problematic tests continue to pass normally on my test VM.

[2021-05-27 03:50] aregm commented on #15990
Thanks, guys!

[2021-05-27 05:16] #15801 closed

[2021-05-27 05:21] gmatev commented on #15495
@amogkam no worries. Thank you for looking at this some more.

You are correct that the once I disabled NCCL P2P the RaySGD example passed.
This is pretty strange because the the GPU topology seems to support this.

[code]

This by the way is on a K8s cluster with the Ray Node worker containers running on EC2 g4dn.12xlarge instances with 4 GPUs each.

Now your other question. When running with tor

[2021-05-27 07:20] krfricke commented on #16091
cc @AmeerHajAli can you help with this?

[2021-05-27 07:21] krfricke commented on #16096
See also https://discuss.ray.io/t/how-to-save-rllib-model-as-onnx/2298

[2021-05-27 07:46] krfricke commented on #16009
Great to hear that - I'll close this for now. Let me know if any other errors come up.

[2021-05-27 07:46] #16009 closed

[2021-05-27 08:19] diegoferigo commented on #11291
I've got the same error in the conda environment attached in the details below. Python 3.8.X and Ray 1.3. I can confirm that the fix proposed in https://github.com/ray-project/ray/pull/15014 is not part or Ray 1.3. Manually applying the one-liner change to `ppo_torch_policy.py` solves the problem.

<details>
<summary>Conda Environment</summary>

[code]

</details>

[2021-05-27 16:06] edoakes opened #16114 "[serve] Better behavior when deployment constructor fails"
Right now the controller will basically spin trying to continually start and stop replicas. We should do something like an exponential backoff and mark a deployment as failed if the constructor never succeeds.

[2021-05-27 16:06] edoakes commented on #16114
@simjay here's another one if you're feeling very ambitious :)

[2021-05-27 16:07] edoakes opened #16115 "[serve] Fix shutdown logic"
`serve.shutdown()` is somewhat flaky right now. We should make this properly delete all of the deployments and wait for the deletion to go through (make it a synchronous call).

[2021-05-27 16:10] edoakes commented on #16115
@simjay this should be relatively small in scope and would help you better understand the backend_state loop

[2021-05-27 16:21] arsenvlad commented on #16091
Review of history of the Azure Python SDK _resource_management_client.py to understand when breaking change took place:
* ._config September 18, 2020 https://github.com/Azure/azure-sdk-for-python/blob/27e4203818e227ba2604ff52dcf55ce2293c4c37/sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/_resource_management_client.py#L69
* ._config July 12, 2020 https://github.com/Azure/azure-sdk

[2021-05-27 16:32] gramhagen commented on #16091
yeah, similar to issue #13599 we need to pin azure-mgmt sdk versions to <= 14.0.0

[2021-05-27 17:06] #16064 closed

[2021-05-27 17:07] #15550 closed

[2021-05-27 17:21] xunzhang opened #16116 "[RayCore]. Abort when ray.init is called"
### What is the problem?
I am using Ray 1.2.0, python 3.8.5 and Linux CentOS.
[code]

### Reproduction (REQUIRED)
I think it is easy to reproduce, just two users call `ray.init`, the first user will succeed and the second user will fail.

### Possible Issues
When I set `chmod 777 /tmp/ray` after the issue, it will work. I think it is something with the permission of the raylet socket file. Any sol

[2021-05-27 18:29] sven1977 opened #16117 "[RLlib] DQN/APEX PyTorch not working on GPU"
Add `num_gpus=1` to tuned_examples/dqn/cartpole-dqn.yaml

Run:
`rllib train -f tuned_examples/dqn/cartpole-dqn.yaml`
on a GPU machine.

Same for APEX-DQN.

Reason:
The model's variables are stored right after model creation (model is still on the CPU). Then these CPU vars are stored in the optimizers, which causes a key error in the TorchPolicy c'tor.

### What is the problem?

*Ray version and ot

[2021-05-27 20:02] clarkzinzow commented on #11845
This seems to happen on every MacOS OOM, as evidenced by [recent failures](https://travis-ci.com/github/ray-project/ray/jobs/508061559) of `test_actor_resources`. It looks like the culprit is the MacOS `proc_pidinfo` call (used to get per-process memory info) is failing with a permission denied error when used on [a process that isn’t owned by the same user](https://github.com/giampaolo/psutil/iss

[2021-05-27 20:09] clarkzinzow commented on #11845
Quick example:
[code]

[2021-05-27 20:43] cmeisinger opened #16125 "ray up is unable to use anything other than the default VPC"
### What is the problem?

Ray Version 1.3.0

When Running 'ray up' I only ever see the default VPC/Subnets listed.   Going through old bugs, I've tried config tuning with SubnetID/SubnetIDs/SubnetIds, I've used lists and strings for the values, etc.  I can never get it to look at anything other than the default VPC.

Depending on the verbiage used, I either see mismatches between the SG and subnet

[2021-05-27 21:04] #13329 closed

[2021-05-27 21:37] bramhoven commented on #9114
Hi,

I have been trying to get ray working on Windows for a few days now, but I keep running into the same problem.
Ray keeps hanging on init.
The following error message is logged in the worker log:
[code]

The following is logged in `raylet.out`:
[code]

And this is logged in `gcs_server.out`:
[code]

I am trying to start ray using this in python:
[code]

Python version: 3.7.8
Ray version: lates

[2021-05-27 21:45] freephys opened #16126 "ray 1.3.0 on python 3.7 linux"
### What is the problem?
After pip install get error:

ray/autoscaler/_private/utility.py

impor ray._private.services as services
AttributeError: Module 'ray' has no attribute '_private'

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to r

[2021-05-27 22:10] joeybai opened #16127 "Feature Request: Unify CPP and Python worker IDs"
### What is the problem?
CPP and Python worker IDs are treated as separate entities.
We would like a single ID to uniquely identify a worker.

CC @rkooo567 @ijrsvt @wuisawesome

*Ray version and other system information (Python version, TensorFlow version, OS):* Latest

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to repro

[2021-05-27 22:26] rkooo567 commented on #16039
It looks like the problem was this;

- When I ran Jenna's workload for the first time with her original script, the memory usage was too high for our object store memory (imagine she uses 200+GB object store memory whereas my experiment uses only 32GB).
- This causes some of raylets extremely busy (which causes long queuing time, 100+s). Note that the root cause of long hanging wasn't visible to t

[2021-05-28 00:30] 77loopin opened #16129 "Not match between Pod label and Service label selector on autoscaler"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
- Python 3.7
- Ray 1.3.0

When I use autoscaler with k8s, Provider make a pod with labeling "components={cluster-name}-ray-head". But the provider make the service with using label selector "component={cluster-name}-ray-head". So the service don't watch any pod.

### Reproduction (REQUIRE

[2021-05-28 00:32] #16129 closed

[2021-05-28 01:00] mehrdadn commented on #9114
Please post a new issue if you encounter any problems on Windows! Thank you!

[2021-05-28 04:57] tieincred commented on #12940
I am facing similar issue but couldn't figure out even after changing the float 64 and float 32 types for observations space.
![error1](https://user-images.githubusercontent.com/60173762/119931581-41d33c80-bf9f-11eb-829e-050169be8b25.jpg)
![error2](https://user-images.githubusercontent.com/60173762/119931583-43046980-bf9f-11eb-941d-735ac20b682e.jpg)
![error3](https://user-images.githubusercontent.

[2021-05-28 04:57] tieincred commented on #12940
can anyone help me around this?

[2021-05-28 05:58] YarShev commented on #13706
A stub just to remove `stale` tag.

[2021-05-28 06:02] #13105 closed

[2021-05-28 07:12] #16117 closed

[2021-05-28 10:40] davidberenstein1957 commented on #15632
Also, when I deploy the cluster.yml without the --no-monitor argument, I get the following logs within the head-node.
`

&nbsp; | 2021-05-28 03:36:17,782	INFO monitor.py:371 -- Starting monitor using ray installation: /home/ray/anaconda3/lib/python3.8/site-packages/ray/__init__.py
-- | --
&nbsp; | 2021-05-28 03:36:17,782	INFO monitor.py:372 -- Ray version: 2.0.0.dev0
&nbsp; | 2021-05-28 03:36:17,7

[2021-05-28 12:28] davidberenstein1957 commented on #15632
Also, when using the @serve.deployment decorator along with the nightly image for the operator, head and workers, the deployment failures get in an infinite loop resulting in the logs shown underneath. With the serve.create_backend() and serve.create_endpoint() approach, this does not happen.

[code]

[2021-05-28 12:46] nicolaspi opened #16132 "Ray started in local mode doesn't restore environment variables after shutdown"
### What is the problem?

If ray is started in local mode, environment variables can be modified but not restored after shutdown.

ray version: 1.3.0

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments

[2021-05-28 15:48] sven1977 opened #16134 "[RLlib] DDPG PyTorch not working on GPU."
Add num_gpus=1 to tuned_examples/ddpg/pendulum-ddpg.yaml

Run:
rllib train -f tuned_examples/ddpg/pendulum-ddpg.yaml
on a GPU machine.

Reason:
The Lambda_ module inside the DDPg torch model references back to the original CPU-versions of `low_action` and `action_range`, even if these are later moved to the GPU. We instead need to declare these two as torch parameters directly inside the Lambda_ m

[2021-05-28 16:16] edoakes commented on #11845
@architkulkarni when you have a chance could you verify that the above PR causes this to OOM more gracefully so we can close this?

[2021-05-28 17:04] armando-fandango commented on #16096
How to guess the dummy_input once the access to the model object is obtained, because according to the PyTorch function to save ONNX models, the dummy input is required: https://pytorch.org/docs/stable/onnx.html#

[2021-05-28 17:24] #16067 closed

[2021-05-28 18:51] soundway opened #16136 "Memory leak from raylet in Ray 1.3"
This is not a contribution.

Ray version: 1.3
Python version: 3.6.8
OS: Ubuntu 18.04 Docker

In 1.3, we discovered memory leaks from raylet in some of our applications. It’s reproducible with the latest pip wheel, but the leak does not happen in Ray 1.2. The application is a driver script that aggregates data from a set of data workers from a different node via ParallelIterator. There seems to be

[2021-05-28 18:55] bramhoven opened #16137 "Cannot get ray to start on Windows (stuck on init)"
### What is the problem?

I have been trying to get ray working on Windows for a few days now, but I keep running into the same problem.
Ray keeps hanging on init.
The following error message is logged in the worker log:
[code]

The following is logged in `raylet.out`:
[code]

And this is logged in `gcs_server.out`:
[code]

*Ray version and other system information (Python version, TensorFlow vers

[2021-05-28 20:09] #16134 closed

[2021-05-28 21:45] rkooo567 commented on #16027
The problem was that when the tasks were scheduled for the first time, all nodes have object store memory usage == 0, which leads to schedule all num_cpus/2 memory intensive tasks into nodes. Issue could be resolved by using load balancing policy.

[2021-05-28 21:45] #16027 closed

[2021-05-28 21:50] rkooo567 commented on #14636
Will be replaced by our nightly test

[2021-05-28 21:50] #14636 closed

[2021-05-29 00:52] DmitriGekhtman commented on #13270
This is a documentation problem.

The preferred way of doing this is using the resources field in a multinode type config.
I guess it's also possible to directly use the RAY_OVERRIDE_RESOURCES env variable...
if you're really good at escaping quotes...

[2021-05-29 02:42] howardlau1999 commented on #16013
I manually started ray and ran this script on a 2-node cluster both attached to the same NFS. The home directory is also on the same NFS and mounted on the same path. All trials terminated without error.

[2021-05-29 06:33] rkooo567 commented on #16136
Before we dig into further, can you do a couple more follow up actions?

1. Can you try the leak is reproducible in the latest master?
2. Can you check which process has the leaking memory? (e.g., worker process, driver script, raylet), especially checking if shm is increasing or rss is increasing?

[2021-05-29 07:40] rkooo567 opened #16148 "[Shuffle] Stressful Non-streaming shuffle blocks the raylet thread for a long time."
### What is the problem?

Related issue; https://github.com/ray-project/ray/issues/16039

I found out when I ran very stressful non-streaming shuffle workload locally; `python shuffle_test.py --num-partitions=500 --partition-size=100e6 --no-streaming` (50GB shuffle), ray memory --stats-only becomes extremely slow, and it causes to have very long queueing time in the asio stats;

[code]

As describ

[2021-05-29 07:45] rkooo567 commented on #16148
Hmm maybe the issue is it takes long time to Get object when shm is not used. I could reproduce the same thing in streaming shuffle.

[2021-05-29 07:46] rkooo567 commented on #16148
So `#16039` is probably unrelated, but if ray memory --stats-only is slow

[2021-05-29 07:46] #16148 closed

[2021-05-29 08:12] rkooo567 opened #16149 "[Shuffle] non-streaming consumed bytes are too low compared to spilled / restored bytes."
### What is the problem?

When I ran this non-streaming workload on 8 CPU / 35GB object store memory I found the weird ray memory stats;

The command was `python shuffle/shuffle_test.py --num-partitions=500 --partition-size=100e6 --no-streaming` (50GB shuffle)

[code]

One weird thing is the consumed bytes are too low. Based on my understanding, this should be as large as 50GB because reducer shou