[2022-08-02 16:25] #26949 closed

[2022-08-02 16:47] zoltan-fedor opened #27371 "[Core] Support `rediss://` - TCP protected external Redis instances"
### Description

While external Redis instances are supported, it seems that TCP protected Redis instances (which are called with `rediss://`) are not supported.

In the `RAY_REDIS_ADDRESS` env variable you can't supply `rediss://{IP | HOST}:{PORT}`, as it only expects `{IP | HOST}:{PORT}` and doesn't use the `rediss://` schema part.

This would be helpful, as for Ray HA you should be using Redis

[2022-08-02 17:10] engrmg commented on #23010
We were able to make it work by adding a resource in our config. All worker nodes are "tagged" with resource name `count`.

 We figured this out around March 10. I'm not sure if this has been fixed in the newer releases. For the record, we are currently using 1.13.0 and when we filed this GitHub issue we were running version 1.11.0 and 1.10.0

`@ray.remote(num_cpus=1, resources={"count": 1})`

[2022-08-02 17:12] jjyao commented on #27326
cc @cadedaniel @scv119

[2022-08-02 17:36] kouroshHakha commented on #26782
I have looked into the issue and it is rooted in `torch.jit.trace` not allowing to specify dicts with different value types as input to nn.Modules that are being traced. You can look for more info here: https://github.com/pytorch/pytorch/issues/16847#issuecomment-544227905
The reason that it gets solved with "_disable_preprocessor_api" = True is that under the hood the input sample_batch will only

[2022-08-02 17:53] scv119 commented on #27265
recent failures on master:
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_mjSqcfTS3Cmg8PjnCbJ3uFaq

[2022-08-02 17:54] scv119 commented on #27265
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_EAW7ndR7UUia8CVtiPBGU2mH
--

[2022-08-02 17:54] kouroshHakha commented on #27292
We are aware of the non-determinism issue with rllib and is on our todo list to figure out. Thanks for pointing it out.

[2022-08-02 17:57] jianoaix commented on #27265
oh, the OwnerDiedError is back:
ray.exceptions.OwnerDiedError: Failed to retrieve object 0062b6757247b5dfffffffffffffffffffffffff0300000002000000. To see information about where this ObjectRef was created in Python, set the environment variable RAY_record_ref_creation_sites=1 during `ray start` and `ray.init()`.

[2022-08-02 18:27] #25249 closed

[2022-08-02 18:28] jianoaix commented on #24484
@zhe-thoughts I think you actually fixed this already with the stats created in hackathon?

[2022-08-02 18:55] utkarshp commented on #27292
Thanks! Do you know if it's just a matter of using the global random state throughout the code vs using a separate random state in every class/file? I can try this out myself (on my end. Also happy to contribute if allowed), but somehow I think there might be something more going on.

[2022-08-02 19:00] scv119 opened #27378 "[Core][nightly] autoscaling_shuffle_1tb_1000_partitions is failing"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_HcQ71ka5v6XYfE16WKLXBuME?command-history-section=command_history

### Versions / Dependencies

latest ray

### Reproduction script

n/a

### Issue Severity

High: It blocks me from completing my task.

[2022-08-02 19:05] tomtseng opened #27380 "[Bug] `import ray` fails with `_Py_GetArgcArgv` symbol not found on macOS with Python 3.8.9"
### What happened + What you expected to happen

I am able to reproduce on a macOS instance in CircleCI that `import ray` gives the following error when I install and import it in a `virtualenv` with Python 3.8.9:
[code]
Oddly, the error does not occur if I first invoke `import setproctitle` before importing `ray`.

### Versions / Dependencies

- macOS 12.3.1
- Python 3.8.9
- `ray==1.13.0`
- Xcode

[2022-08-02 19:13] xwjiang2010 commented on #25447
Tried `functools.wrap` - does not help
Also see
https://stackoverflow.com/questions/14383797/getting-sphinx-to-recognise-correct-signature/14448445#14448445
https://github.com/micheles/decorator

[2022-08-02 19:16] kouroshHakha commented on #26489
is there a reason that you cannot create the client object inside the env?

[2022-08-02 19:33] kouroshHakha commented on #26437
I think your proposal makes sense. We are thinking about improving the exploration API anyways. I added your feature request to out design notes. Granted that this is more of a long term effort, are you willing to submit a PR that does this for both Torch and TF?

[2022-08-02 19:39] #26401 closed

[2022-08-02 19:49] #27328 closed

[2022-08-02 19:52] kouroshHakha commented on #26424
Hi, can you narrow down which import statement is causing this stack trace? Also it may be that your packages versions are not those that ray 1.13.0 requires.

[2022-08-02 20:07] #27266 closed

[2022-08-02 20:17] gjoliver commented on #26424
can you create a minimal script (doesn't have to do any real work) that triggers these warnings?
we'd love to do some tests on our side. especially about the sklearn warnings.

[2022-08-02 20:32] kouroshHakha commented on #26364
Hi, if this still an issue could @qinmoelei or @ewald-florian  provide a minimal repro script, so we can test these out on our end. The provided script does not provide a reproducible results.

[2022-08-02 20:34] kouroshHakha commented on #26315
Can you try the latest release? I was able to confirm that the script runs on the master branch.

[2022-08-02 20:37] Rohan138 commented on #26594
The RLlib and Tune callbacks are separate-you should pass your callback directly to the config dictionary, not to `tune.run`.

If you're using an RLlib config object, use e.g. `config = DQNConfig().callbacks(MyCallbacks)`. Note that `tune.run()` does not support RLlib's Config objects yet, so you'll have convert it to a dict before passing it to Tune i.e. `tune.run(config = config.to_dict())`.

[2022-08-02 20:52] iycheng commented on #27371
Discussed it offline with @zoltan-fedor and here is some conclusions:

- hiredis support ssl https://github.com/redis/hiredis/blob/c78d0926bf169670d15cfc1214e4f5d21673396b/README.md#ssltls-support So we are going to use that
- We'll introduce more os envs related to this. So the certs are passed by os envs.
- We'll support `rediss://host:ip`, `redis://host:ip` the former one will create a secured

[2022-08-02 21:07] DmitriGekhtman opened #27388 "[Kubernetes][Docs][CI] Add tests for code snippets."
### Description

Add CI tests for the code snippets related to GPU upscaling introduced in https://github.com/ray-project/ray/pull/27360
Use the existing KubeRay CI test harness and fake GPUs via rayStartParams["num-gpus"] = "1".

[2022-08-02 21:26] zhe-thoughts commented on #24484
Yup we can close out

[2022-08-02 21:26] #24484 closed

[2022-08-02 21:32] kouroshHakha commented on #26250
I have reproduced @justinxia6dot5 's error with python=3.8 and it is related to this line of code https://sourcegraph.com/github.com/ray-project/ray/-/blob/rllib/evaluation/rollout_worker.py?L1708. It is a very weird garbage collection issue. It seems that this is reproducible even in python 3.8.

[2022-08-02 21:46] kouroshHakha commented on #26192
@Rohan138 This seems to be relevant to the policy_v1 vs v2 migration that we saw the other day. I'll leave you assigned for now. For some reason, we don't test compute_log_likelihood methods at all.

[2022-08-02 21:48] kouroshHakha commented on #26740
Repeated issue: #26250

[2022-08-02 21:48] #26740 closed

[2022-08-02 21:52] kouroshHakha commented on #26660
Yes, the solution to this problem is to update to the latest ray version.

[2022-08-02 21:52] #26660 closed

[2022-08-02 22:32] #13889 closed

[2022-08-02 22:45] kouroshHakha commented on #26653
Hi @AmmarRashed, I highly recommend asking these type of questions is in https://discuss.ray.io (e.g. questions about why a certain algorithm may not be learning, or if you have a custom application that you wanna use rllib for and you wanna see how). The community is more active there and can unblock you faster than if had submitted an issue here.

I'd always start with the default parameters and

[2022-08-02 22:45] #26653 closed

[2022-08-02 23:06] kouroshHakha commented on #27368
Hi @abdjea Can you please provide a minimal repro script so that we can test on our end (something that does not include personal drives)? Please also put the code into three quotes for proper markdown formatting. Does this issue happen only when you use your custom environment? Have you tried some other simpler env like cartpole?

[2022-08-03 00:51] #26546 closed

[2022-08-03 00:55] stephanie-wang opened #27410 "[core] Very slow task scheduling during Dataset.sort on 100TB"
### What happened + What you expected to happen

Dataset.sort has two embarrassingly parallel stages of tasks, one to sample rows from each block and another to sort each block. I noticed while running this on 100TB of data (100 nodes), the task scheduling grinds to a halt, running only 1 task/node at a time. We don't see the same issue in Dataset.random_shuffle with the same configuration, probab

[2022-08-03 01:28] ghamkhari opened #27412 "[<Ray component: Core|RLlib|etc...>]"
### Description

I followed [this][1] tutorial to use Ray for deep learning training:

[code]

But when I run the code I receive the following error:

[code]

How can I resolve this error? [Someone][2] has suggested moving the model to GPU using `.cuda` may resolve the issue. But since I am new to deep learning I don't know what lines I should adjust to make the code run without any error.

  [1]:

[2022-08-03 02:25] kouroshHakha commented on #27292
Hi @utkarshp, I actually investigated the problem a little bit and it turns out reproducibility should not be an issue anymore as long as you use tune (across all different resource specifications i.e. gpu, cpu, num_worker > 0, etc.). RLlib should support reproducible experimentation as long as the environment is deterministic. You can checkout https://github.com/ray-project/ray/blob/master/rllib/

[2022-08-03 02:33] mihajenko opened #27414 "[Kubernetes] ray-operator process hangs after head goes down, fails to restart it"
### What happened + What you expected to happen

Our ray cluster crashed with RayCluster CRD resource state `AutoscalingExceptionRecovery`. The head node Pod went down. The ray-operator Pod was in `Running` state, but the operator Python process seemed unresponsive.

I expected the head node to be restarted, as per the documentation.

Log from the ray-operator Pod:

[code]

During the crash, we we

[2022-08-03 02:56] #27412 closed

[2022-08-03 03:17] jovany-wang commented on #26941
@jiaodong Sorry for the delay response. I'll update details ASAP. :)

[2022-08-03 03:35] simon-mo opened #27415 "[Serve] Deployment Graph Extra Calls on Shared Node"
### What happened + What you expected to happen

Deployment graph is calling `handle.remote()` 10 times if the result is shared across ten downstream. This is bad because if there's heavy preprocessing, then the pre-processing is called multiple times for the number of broadcast.

[code]

Output
[code]

Note that:
- The Ray Core DAG API only have one line of `called with 1` printed; so it's behavi

[2022-08-03 08:10] ming-shy opened #27419 "Issue on page /train/examples/train_fashion_mnist_example.html"
1.I just copied the example from the official documentation, and it didn't get any errors or log output, and it felt like it was running forever without knowing if it was actually executing.

2.Also how to use RAY Train on K8S? Note: The RAY cluster has been deployed on K8S without errors.

3.Examples provided in official documentation are completely inoperable, unpractical, and difficult to under

[2022-08-03 08:40] #27415 closed

[2022-08-03 09:25] frknayk opened #27421 "Ray"
### What happened + What you expected to happen

Ray cannot work with the python executable (installed with PyInstaller package).

I created a **conda** environment with numpy,pandas and ray library for PyQt-GUI based application. Ray is installed via `pip install -U ray` to the conda environment and then ray library is added to **PyInstaller** installation with `--hidden-import` command.

Here is

[2022-08-03 11:01] ArturNiederfahrenhorst commented on #26391
Hi, thanks for reporting this. I could not reproduce and discovered that this was fixed by @Rohan?????
in 97bcf38ec05c9586e6c8b30789bd44e8ab912d3a.

[2022-08-03 11:01] #26391 closed

[2022-08-03 11:20] jdonzallaz commented on #26443
Hi,
I have the same error (`AttributeError: __forward_module__`) when calling `serve.start(detached=True)` on python 3.9.13, 3.9.12 and 3.9.11.
It works fine with python 3.9.9 and 3.9.10.

[2022-08-03 13:41] utkarshp commented on #27292
This is amazing! I just tried using tune in my example and things seem to be deterministic! Just out of curiosity, what is it about using tune that makes things deterministic like this? Does it somehow force RLLib to use some other random state? Thanks a lot for your help @kouroshHakha. I am not sure if I should close this issue or not, so leaving it open for now.

For anyone that finds this issue

[2022-08-03 13:53] yuanchi2807 opened #27429 "[Workflow] Tutorial of business process automation via Ray workflow event support"
### Description

I'd like to see a tutorial of applying the latest HTTP event support in Ray workflow to business process automation.
The tutorial should feature:

- Simplicity to explain from use case to sample application in less than 5-min reading.
- Invocation of workflow.wait_for_event with HTTPListener to enable workflow to receive HTTP messages.
- [Preferably] Invocation of dynamically gene

[2022-08-03 14:03] yuanchi2807 commented on #27429
**Candidate topic:** AI driven support ticket dispatching
**Use case:** dispatch support ticket to the right person/team after analyzing text content in the description; automatically escalate to the next level support if unresolved.
**Mechanism:**
1. Architect a ray workflow to invoke text analytics and look up support teams on duty to dispatch the submitted ticket dynamically.
2. Dynamically ret

[2022-08-03 14:36] klwuibm commented on #27429
W.r.t. 2 above, if a ticket can be dispatched to multiple support representatives, then multiple `workflow.wait_for_event()`'s can be used to asynchronously listen to answers from them.  Any one of them can provide an answer.  The next step of the ticket can be triggered once any one of them answer the ticket.  Hence, we need to express and support such an `OR` semantics from multiple `workflow.wa

[2022-08-03 15:59] wjrforcyber opened #27430 "Default Concurrency Group section python block missing a bracket"
### Description

A right bracket is missing.

### Link

https://docs.ray.io/en/latest/ray-core/actors/concurrency_group_api.html

In **Default Concurrency Group** section, a right bracket in python block after "io":2 is missing, this error is only on this website, the repository is fine.

`@ray.remote(concurrency_groups={"io": 2)`

[2022-08-03 17:23] umm0n opened #27432 "Create and maintain a public AWS ECR image"
### Description

It would be very useful for AWS customers if you could create and maintain a public ECR image in the [AWS ECR gallery](https://gallery.ecr.aws/). This way we can avoid the added complexity and cost of using Docker Hub.

### Use case

We would use this image to pull from ECR directly and thus avoiding Docker Hub (with it's associated costs/rate limiting).

[2022-08-03 17:50] scv119 commented on #27378
Did some bisecting it seems the test is just running slower. I also can't reproduce it on OSS cluster, so it's highly likely due to the test infra change. Specifically https://github.com/anyscale/product/issues/12829

[2022-08-03 18:07] #27133 closed

[2022-08-03 18:09] matthewdeng commented on #27274
Fixed by https://github.com/ray-project/ray/pull/27418

[2022-08-03 18:09] #27274 closed

[2022-08-03 18:12] zhe-thoughts commented on #27165
@matthewdeng is making sure if this is still failing

[2022-08-03 18:13] zhe-thoughts commented on #26727
@scv119 @matthewdeng to see if we still need this

[2022-08-03 18:13] #26674 closed

[2022-08-03 18:15] matthewdeng commented on #26727
All AIR tests passing for 2.0.0rc0. https://buildkite.com/ray-project/release-tests-branch/builds/846

[2022-08-03 18:15] #26727 closed

[2022-08-03 18:16] matthewdeng commented on #27165
Verified this is running successfully https://buildkite.com/ray-project/release-tests-branch/builds/846#01825387-9248-460e-99ee-89f57719427d

[2022-08-03 18:16] #27165 closed

[2022-08-03 18:28] mansur007 commented on #23062
Are there any plans to extend support to gym>0.22.0 ?
Many other useful packages require newer versions of gym.
E.g. supersuit requires gym>=0.24.1

I and many others will be very grateful if support is extended.
Thank you

[2022-08-03 19:03] edoakes opened #27435 "[serve][docs] Remove "experimental" tag from user_config"

[2022-08-03 19:04] edoakes opened #27436 "[serve][docs] Update all code to use `serve.run` instead of `serve.start` and `deploy()`"
- Serve index page tabs.
- Serve user guides.
- Serve examples & tutorials.
- AIR, Tune, RLlib examples.

[2022-08-03 19:05] edoakes opened #27437 "[serve][docs] Trim "Getting Started" section to core workflow"
This section is currently too long. We should focus on the core CUJ only and split out more advanced functionality to user guides. Things to remove (and put in user guides instead):
- Scaling out
- Fine-grained resource allocation
- Porting FastAPI

[2022-08-03 19:06] edoakes opened #27438 "[serve][docs] Update "Key Concepts" page"
Deployment
- Good.

HTTP Ingress
- Remove. We should replace this with “Ingress Deployment” instead (which is the top-level deployment of the application).
- Drop `route_prefix` from here. Instead let’s have a tutorial on routing to downstreams.

ServeHandle
- Remove the extremely long `NOTE` and put it into a user guide instead.

DeploymentGraph
- Good.

[2022-08-03 19:07] edoakes opened #27439 "[serve][docs] Update TOC for user guides"
https://docs.ray.io/en/master/serve/user-guide.html doesn't match the sidebar TOC.

[2022-08-03 19:09] edoakes opened #27440 "[serve][docs] Audit and update all examples"
- Consistent title/naming.
- No deprecated APIs.
- Should use real models, no sleeps, real requests.

[2022-08-03 19:10] edoakes opened #27441 "[serve][docs] `HTTP Handling` user guide"
Condense existing HTTP-related info into a user guide:
- Basic `starlette` request handling
- HTTP Adapters
- FastAPI

[2022-08-03 19:10] edoakes opened #27442 "[serve][docs] `Scaling and Resource Allocation` user guide"
Condense existing content into a user guide:
- num_replicas
- autoscaling
- (fractional) resources

[2022-08-03 19:11] edoakes opened #27443 "[serve][docs] `Model Composition` user guide"
Condense existing information into user guide:
- Manual composition with .bind(.bind()), ServeHandle API
- Advanced composition with deployment graphs

[2022-08-03 19:11] edoakes opened #27445 "[serve][docs] `Request Batching` user guide"

[2022-08-03 19:12] edoakes opened #27446 "[serve][docs] `Development Workflow` user guide"
How to organize a serve project, `serve run`, working_dir

[2022-08-03 19:13] edoakes opened #27447 "[serve][docs] `Serving Ray AIR Checkpoints` user guide"

[2022-08-03 19:13] edoakes opened #27448 "[serve][docs] `Deploying to Production` user guide"
- `serve build`
- REST API, config updates.
- Kubernetes Operator

[2022-08-03 19:29] edoakes opened #27449 "[serve][docs] Ensure all code samples are type annotated"

[2022-08-03 20:30] kouroshHakha commented on #27292
So I have tried this with .train() as well and it is still reproducible, here is the exact code:

[code]

In the above code both methods should produce the same episode_reward_mean after three iterations. Your questions actually brought up some good points that I want to clarify here:

If you care about reproducibility you have to make sure that there is no stopping condition that is set based on

[2022-08-03 20:30] #27292 closed

[2022-08-03 20:46] #26150 closed

[2022-08-03 21:14] architkulkarni opened #27453 "[Doc] [Serve] Serve Loki monitoring tutorial screenshot has outdated API"
### What happened + What you expected to happen

The Ray Serve monitoring page at https://docs.ray.io/en/latest/serve/monitoring.html has a screenshot from Loki with the "backend" API which is no longer in use as of Ray 1.4.
<img width="549" alt="Screen Shot 2022-08-03 at 2 12 06 PM" src="https://user-images.githubusercontent.com/5459654/182712739-8b5ba7a8-4bf7-43bb-811f-696c7321ad59.png">

This s

[2022-08-03 21:24] #27322 closed

[2022-08-03 21:26] matthewdeng commented on #26679
@simon-mo what's the status of this?

[2022-08-03 21:27] rickyyx commented on #27358
Seems either buildkite doesn't pick up the bazel failure (likely the case), or bazel doesn't exit with errors. I am trying to reproduce it somewhere.

For now, please do look over the top sections of the build
<img width="1278" alt="image" src="https://user-images.githubusercontent.com/11676094/182715181-f778dcc8-c8e3-4548-9035-f37c82575e50.png">

[2022-08-03 21:28] matthewdeng commented on #20837
Hey @wuisawesome what's the status of this?

[2022-08-03 21:31] simon-mo commented on #26679
no longer failing

[2022-08-03 21:31] #26679 closed

[2022-08-03 21:48] Rohan138 commented on #26391
@ArturNiederfahrenhorst By the way-you tagged the wrong Rohan

[2022-08-03 22:16] zhe-thoughts commented on #26679
Hi @simon-mo : what changed so that it's no longer failing? Was it failing just due to infra and flakiness?

[2022-08-03 22:16] johnwalz97 commented on #26443
Yeah it seems like there are some compatibility issues with different Python issues. We just had to experiment with different ones until it worked... Not a great solution so hopefully this gets some attention and maybe gets fixed soon 🤞

[2022-08-03 22:49] simon-mo opened #27468 "[serve][docs] Update intro to incorporate FAQ"

[2022-08-03 22:51] simon-mo opened #27469 "[serve][docs] Performance Tuning edit pass"

[2022-08-03 22:51] simon-mo opened #27470 "[serve][docs] Common Model Composition Patterns edit pass"

[2022-08-03 22:51] simon-mo opened #27471 "[serve][docs] Benchmark page"

[2022-08-03 23:05] edoakes opened #27473 "[serve][docs] Audit the FAQ and make sure all core content is covered in user guides"

[2022-08-04 00:00] zhe-thoughts opened #27477 "Ray 2.0rc0 released -- `pip install "ray==2.0.0rc0"`!"
### Description

Hi community!

Ray team just published the first release candidate (`rc0`) of the upcoming 2.0.0 release! This will be a major release after about two years of the 1.x line, with many new features including [Ray AI Runtime](https://docs.ray.io/en/master/ray-air/getting-started.html) (Beta), [KubeRay](https://docs.ray.io/en/master/cluster/cluster_under_construction/ray-clusters-on-

[2022-08-04 00:39] simon-mo commented on #26679
We didn't get the chance to investigate, it looks like infra flakiness

[2022-08-04 01:21] kouroshHakha commented on #26250
minimal script is actually much simpler:
[code]
uncommenting the last line (explicitly garbage collecting algo) will mitigate the issue.

[2022-08-04 01:40] rkooo567 commented on #26250
But in a glance, it looks like a core bug, and I think we should take it over. cc @scv119

[2022-08-04 01:56] rkooo567 commented on #27380
pip install ray setproctitle

if you don't download `setproctitle`, does it still happen?

[2022-08-04 01:57] tomtseng commented on #27380
Yup, it still does.

[2022-08-04 02:12] kouroshHakha commented on #26250
@rkooo567 so on master it gives the same error (I have not reproduced it on 1.13 myself)
On 1.12 the script should be modified a bit due to API changes, but the interesting part is that **IT DOES NOT ERROR**.
[code]

[2022-08-04 02:17] rkooo567 commented on #26250
Hmm cannot reproduce in MacOS

Python 3.8.13
Master (built from the source).

[2022-08-04 02:29] bveeramani opened #27484 "[AIR] Make `MultiHotEncoder` consistent with `OneHotEncoder`"
### Description

Make `MultiHotEncoder` create a new column for each category instead of modifying the input column in place. Additionally, update `OneHotEncoder` to remove support for collections of categories.

**Before**
[code]

**After**
[code]

### Use case

This makes `MultiHotEncoder` consistent with `OneHotEncoder`, which produces a new column for each category.

[code]

This change would

[2022-08-04 03:52] davzaman opened #27487 "[Tune: Python] Pytorch-lightning deprecated hooks in TuneReportCallback"
### What happened + What you expected to happen

1. Getting a ton of warnings from pytorch-lightning about deprecation of certain hooks.
2. Expect no warnings.
3. The `TuneCallback` has old hooks such as [`keyboard_interrupt`](https://github.com/ray-project/ray/blob/master/python/ray/tune/integration/pytorch_lightning.py#L165) which have been deprecated.
The most list of the deprecated hooks and t

[2022-08-04 07:05] matthewdeng commented on #27487
Hey @davzaman, thanks for the clean report and especially for listing out the mappings!

Would you be interested in contributing a PR for this?

[2022-08-04 08:09] olipinski commented on #26594
Is there any way to pass init arguments tot the callback class this way? Or is this not supported for RLlib Callbacks?

[2022-08-04 09:09] aondra17 commented on #22976
I have some problem with DQN. Any other solution ? Any attempt to solve this bug from Ray ?

[2022-08-04 09:37] SeeYaaa commented on #6928
Hi @sven1977 ,
i run the code above. i get this error:

Traceback (most recent call last):
  File "custom_cnn_lstm.py", line 5, in <module>
    from ray.rllib.models.tf.recurrent_tf_modelv2 import RecurrentTFModelV2
ModuleNotFoundError: No module named 'ray.rllib.models.tf.recurrent_tf_modelv2'

could you help?

[2022-08-04 09:58] elya5 opened #27492 "[core]: extend commandline control of ray actors"
### Description

Hi

I'm using ray serve to deploy ML models and it would be nice to be able to get better insights with commandline commands, e.g. list actors, output logs from an actor, kill actors, etc.

(I'm new to the ray eco-system so I might have overlooked something.)

### Use case

I found that debugging deployment issues was quite cumbersome (e.g. actor crashed → find out what happened).

[2022-08-04 12:21] Alfredvc opened #27493 "[Core][Tune] Ray tune cannot be used with pytorch-lightning 1.7.0 due to processes spawned with fork."
### What happened + What you expected to happen

As part of [Add support for DDP fork](https://github.com/Lightning-AI/lightning/pull/13405) included in pytorch-lightning 1.7.0 calls to:
[code]
in the pytorch lightning codebase were replaced with new functions:
[code]
These functions internally create a multiprocessing.Pool with fork

[code]

This call waits forever when run inside an Actor.

[cod

[2022-08-04 12:55] aviau commented on #21786
We would love to see this.

[2022-08-04 13:33] jovany-wang commented on #27430
Good catch! Could you post a PR to fix it? And I think it should be picked to 2.0.0. @scv119 CC

[2022-08-04 13:59] ArzelaAscoIi opened #27494 "[Serve] ray serve not compatible with newrelic"
### What happened + What you expected to happen

If you run the ray serve sample and wrap it with `newrelic-admin run-program python <your-file-with-serve-deployments>.py` you will get the following error message:
[code]

I would expect that the serialization of the deployment is called on deployment (or maybe on `ray.init`/`serve.start`)  and not during initialization.  It might still be fine if

[2022-08-04 14:31] rkooo567 commented on #27380
Can you also try using conda and see if this is still reproducible?

Not that I recommend you to use conda, but I'd like to know if this is virtual env related issue (I feel like I've seen a similar issue before)

[2022-08-04 14:47] olipinski opened #27496 "[RLlib] OneHotPreprocessor one-hots MultiDiscrete Spaces incorrectly incurring information loss"
### What happened + What you expected to happen

Assuming the space of `MultiDiscrete([[5 5] [5 5] [5 5] [5 5]])` :

For the observation of `[[0 0], [0 0], [0 0], [0 0]]` I'd assume the output of `[10000 10000 10000 10000 10000 10000 10000 10000 ] `, but instead we get `[10000 00000 10000 00000 10000 00000 10000 00000 ] `. For another example, for the observation of `[[2 4], [1 1], [3 3], [2 2]]`

[2022-08-04 15:22] krfricke commented on #27493
cc @JiahaoYao

[2022-08-04 15:24] krfricke commented on #23493
Closing this as it doesn't have a repro script - feel free to open once you do!

[2022-08-04 15:24] #23493 closed

[2022-08-04 15:28] Rohan138 commented on #26594
No, the RLlib callbacks can only take in the arguments defined in the documentation.

[2022-08-04 15:28] #26594 closed

[2022-08-04 15:28] krfricke commented on #23055
We've updated the syncing logic to use pyarrow for syncing instead - please let us know if this resolved the problem.

[2022-08-04 15:35] krfricke commented on #23109
The error message:

[code]

suggests that your system runs out of memory and tries to swap the memory onto disk. However, the disk is either too small or windows is configured to not allow more than some amount of data to be swapped, and thus the task fails.

The reason for that is concurrency - on a system with 64 CPUs Tune will per default run up to 64 trials in parallel. If each of these trials

[2022-08-04 15:47] ArturNiederfahrenhorst opened #27497 "[RLlib] Summary method for ModelV2 (or future model APIs)"
### Description

Today, if you want to gain insight about your ModelV2 object, you have to print layers through the underlying tensor library.
Since many of our models are constructed through the get_model_v2 call, it is not straightforward for users to gain insight into how exactly their model looks.

### Use case

[Forum entry](https://discuss.ray.io/t/built-in-2d-convolutions-with-lstm/6258/2)

[2022-08-04 16:00] wjrforcyber commented on #27430
Like I said, I want to fix and PR it but it seems the doc in GitHub is correct, only the one on the website missing a bracket...😂

[2022-08-04 16:04] xwjiang2010 commented on #23109
Adding to what @krfricke has said, there is also `max_failures` that you can set that will automatically retry the failed trial from latest checkpoint (make sure that you checkpoint at a reasonable frequency for this to be meaningful).

[2022-08-04 16:58] mattip commented on #26357
Closing, I guess it was something flaky.

[2022-08-04 16:58] #26357 closed

[2022-08-04 17:38] joshua-cogliati-inl opened #27499 "[Ray component: Core] Add Way to limit number of ray workers"
### Description

Ray has `--num-cpus` to limit the number of cpus used on a node, but this does not limit the number of  `ray::IDLE` workers that exist.  So for example after running: `ray start --address=10.159.8.149:53454 --num-cpus 4` I have seen over 90 `ray::IDLE` workers created. Each of these workers uses cpu and memory, which results in significant resource use.

On stack overflow, use of

[2022-08-04 17:52] cadedaniel commented on #27139
See if there's opp to merge informational user guides into top-level comments

[2022-08-04 18:01] arnavgarg1 opened #27502 "[Datasets] -> Adding meta during to_dask() call"
### Description

In the Ray Dataset implementation of [`to_dask()`](https://docs.ray.io/en/latest/_modules/ray/data/dataset.html#Dataset.to_dask), there currently isn't a way to pass in a custom meta object during Dask DataFrame creation, nor is there an internal implementation currently to infer the meta via a Pyarrow-esque schema or something else like a Pandas DataFrame. This can cause problems

[2022-08-04 18:02] richardliaw opened #27503 "[air/preprocessors] Concatenator doesn't work for pandas==1.2.1"
### What happened + What you expected to happen

Also... this is a terrible error message.

[code]

### Versions / Dependencies

pandas==1.2.1
ray==2.0rc0 or master

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-08-04 18:03] richardliaw commented on #27503
Works for latest version of pandas, which is what we test in CI.

[2022-08-04 18:17] Nithanaroy commented on #23055
That’s great, @krfricke
How do I get this change? I can wait for the next release if it’s easier

[2022-08-04 18:17] bveeramani opened #27505 "[AIR] `FeatureHasher` doesn't work the way it's supposed to"
### What happened + What you expected to happen

I expected `FeatureHasher` to work like [sklearn's `FeatureHasher`](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.FeatureHasher.html).

**What it does right now**
`FeatureHasher` expects columns to contain individual tokens.
[code]

**What it should do**
`FeatureHasher` should expect a table that describes token counts

[2022-08-04 19:41] avnishn commented on #23062
so right now we are supporting gym 0.23

I think we can try to make it a priority to support the newer gym versions soon, the trouble being that the gym api has changed, and adapting to it requires us to restructure our own internal env api.

[2022-08-04 19:42] wuisawesome opened #27507 "[log_monitor] Log monitor sometimes tries to reread file from beginning"
### What happened + What you expected to happen

If a file's inode has changed, the log monitor will try to reread the file from the beginning.

### Versions / Dependencies

Master

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-08-04 20:50] dejangrubisic opened #27513 "Implementing wandb sweep with RLlib and tune.run"
### Description

Is there a way to run wandb sweeps with RLLib and ray.tune and get results like on picture below?

![image](https://user-images.githubusercontent.com/40608743/182948781-2ec47d0e-e14b-4680-8587-8225e5ac1b43.png)

From documentation, I only found WandbLoggerCallback approach, but that doesn't really produce a sweep even if you set parameters in config like:
[code]
I run [mnist_torch

[2022-08-04 20:52] mdagost opened #27515 "[Core] Autoscaled nodes stuck in launching status"
### What happened + What you expected to happen

@DmitriGekhtman This is the ticket I opened in regards to [this forum issue](https://discuss.ray.io/t/aws-nodes-stuck-in-launching-when-upscaling-after-downscaling/7058) that you commented on.

I dug a bit deeper, and here is what I observed.  I launched a 5 worker cluster of on-demand instances on AWS and started a Ray Tune job running.  I went int

[2022-08-04 21:00] simon-mo opened #27516 "[Serve][Doc] Best Practices of Loading Models"
### Description

Suggestion from @ZhijieWang, we should add discussion around the best practices of loading models to disk, from network, sharing them via Ray Object Store, etc.

### Link

_No response_

[2022-08-04 21:23] Anando304 commented on #26599
So a few updates:

1. Running `xgboost_ray` notebook on local minikube instance.
`xgboost_ray` works fine when running a local minikube instance. As in, it doesn't hang indefinitely in the training step for more than one actor. I had to adjust the `example_cluster.yaml` file for the minikube instance to use 3 CPUs and 2Gi for each worker/head node. This ensures workers are not dying due to memory

[2022-08-04 21:27] Anando304 commented on #26599
One thing I found interesting is that running that same notebook (posted in previous comment) on minikube using a multi-node Ray cluster, was slower than running using vanilla xgboost on its own.

I'm guessing there may be overhead between the actors communicating with each other for multi-node purposes, since it seemed to run quite fast when running on a single node ray cluster managed by ray its

[2022-08-04 21:38] mdagost opened #27521 "[Core] Autoscaled nodes stuck in launching status when AWS doesn't have capacity"
### What happened + What you expected to happen

I launched a cluster with 0 to 5 on-demand worker nodes and then started a Tune job.  When the Tune job started, the autoscaler tried to add 5 worker nodes.  However, there was no GPU capacity available in AWS and boto hits its max retries:

![Screen Shot 2022-08-04 at 4 36 50 PM](https://user-images.githubusercontent.com/1334817/182957186-01454361-

[2022-08-04 22:11] AmmarRashed commented on #26653
Thanks a lot.

[2022-08-04 22:28] JiahaoYao commented on #27493
Hi @Alfredvc , i wonder whether you saw the same behavior for pytorch-lightning 1.6 ?

[2022-08-04 22:35] cadedaniel commented on #27139
@cadedaniel check for any remaining TODOs (for example, updating links to k8s autoscaling in Key Concepts)

[2022-08-04 22:37] SCMusson opened #27524 "[Tune]"
### What happened + What you expected to happen

tune.integration.pytorch_lightning.TuneReportCheckpointCallback needs to subclass pytorch_lightning.callbacks.Checkpoint or otherwise you need to pass enable_checkpointing=False to trainer. Without this I think two  copies of every checkpoint is saved because trainer.save_checkpoint is called twice

One checkpoint is correctly saved as in the <exper

[2022-08-04 22:49] bveeramani opened #27525 "[AIR] Add `vocabulary_` attribute to `CountVectorizer`"
### Description

[code]

### Use case

I want to pass the output from `CountVectorizer` to `FeatureHasher`.

[code]

The problem is I need to know the names of the columns in `vectorized_ds` (i.e., the columns that start with `corpus_` below).
[code]

Currently, I have to do this

[code]

But if we added a `vocabulary_` attributes I could do this

[code]

See also #27505.

[2022-08-04 23:06] mdagost commented on #27515
Confirmed that this was reproducible with a third run--launched fine with the `inc` exception after the first killed node, stuck in launching after that.

[2022-08-04 23:07] Alfredvc commented on #27493
Hi @JiahaoYao. No, I have been using pytorch-lightning 1.6.4 in my projects without issue. I just double checked by running the reproduction script in 1.6.4 and it works as expected without any problems.

[2022-08-04 23:13] kouroshHakha commented on #26280
@ThomasCassimon You should not return RepeatedValues yourself from the env restart / step functions. Instead you should use `space.sample()` or create the structure that `sample()` returns. Look at Repeat space for more info on the returned data structure in `sample()`.  You can run the following code to confirm:

[code]

[2022-08-04 23:16] #26280 closed

[2022-08-05 00:20] DmitriGekhtman commented on #27515
Thank you for pointing this out.
Let's start by fixing the bug.

[2022-08-05 00:30] DmitriGekhtman commented on #27515
I've opened a fix PR here.
https://github.com/ray-project/ray/pull/27532

[2022-08-05 00:32] kouroshHakha commented on #25797
Hi @Misterion777 the reason for this issue is that in your script the `example_obs` does not match the structure specified by the space of your environment. To test that this is really the case you can use `env.observation_space.sample()` or `env.reset()` to get a proper obs struct and then your script would work.

[code]

[2022-08-05 00:32] #25797 closed

[2022-08-05 00:59] scv119 commented on #26144
escalate it to p0 in case we forget about this one.

[2022-08-05 02:48] #27515 closed

[2022-08-05 03:07] tomtseng commented on #27380
Interesting—conda works.

For reference: The CircleCI `config.yml` script I used to test this:
[code]

[2022-08-05 03:20] jovany-wang commented on #27430
Hum. It fixed in https://github.com/ray-project/ray/pull/24532

I think there is no need to fix on the released version.

[2022-08-05 03:46] orcahmlee opened #27535 "[Core][Cluster] Actors do not trigger the scale up process because the default num_cpus seems not work"
### What happened + What you expected to happen

I set up a Ray cluster on K8s which would auto-scaling the ray workers from `0` to `6`. The `values.yaml` as follows:

[code]

---

[code]

I submitted 50 `tasks` when there has `0` ray worker. The `ray status` showed
[code]
Then the scaling up process would be executed immediately. This is the expected behavior.

---

[code]

However, I submitted 5

[2022-08-05 06:31] junwucs commented on #26181
@ArturNiederfahrenhorst Thanks very much, it really works!

[2022-08-05 06:36] #27038 closed

[2022-08-05 09:03] davidlarcher commented on #10448
hello, I have exactly the same thing during inference time with a PPO trainer, It works fine during training but fails on inference...
thank you @jobeid1 for your code snippet, I can't seem to make it work on my side. Is it mandatory to access to the policy of the agent before executing the step method ? I usually do agent.compute_single_action directly
I have tried the rc from ray (ray==2.0.0rc0)

[2022-08-05 10:11] bveeramani opened #27543 "[AIR] `Concatenator` is non-deterministic"
### What happened + What you expected to happen

I tried to concatenate some columns to form a tensor, but the resulting tensor was different than I expected. I expected the tensor to have an order consistent with the input columns.

### Versions / Dependencies

**Ray**: 2.0.0rc0

### Reproduction script

Repeat this script a few times.

[code]

You'll either get

[code]

or

[code]

### Issue Sev

[2022-08-05 10:48] pauleikis commented on #26443
It seems that in this particular case the problem is caused by bpo-41249 and this particular commit https://github.com/python/cpython/commit/fa674bdea3bbb20ad6ccd95b3849fc4995bc37e0 which was released in 3.9.7 where attribute `__forward_module__` was introduced.

It seems that ray is serializing (pickling?) python objects on the client side and deserializing on the head/worker.
If my hunch is true

[2022-08-05 11:27] mattip commented on #22640
`workflow.init(storage=path)` is no longer valid, the `storage=` kwarg is now part of `ray.init`. Searching through the PRs, this was changed in #24120. A minimum reproducer now uses `ray.init(storage=...)` and successfully parses the storage path. @yonil7 could you confirm that the nightly builds work as desired?

<details><summary>Minimum reproducer</summary>

[code]

<details>

[2022-08-05 11:28] abdjea commented on #27368
Hi @kouroshHakha , thank you for your help. I'm preparing the repro. This happen only with my personal environment and not with cartpole.

[2022-08-05 11:53] mattip commented on #23844
@sreddy-es does this still reproduce for you?

[2022-08-05 11:54] mattip commented on #23611
@kkr4353 does this still reproduce for you? Do you have two network cards?

[2022-08-05 11:57] mattip commented on #21994
I will close this as "could not reproduce". If you are still seeing this, please reopen with a more complete reproducer or open a new issue. Be sure to include a script that shows the problem, together with any non-standard environment varaibles (what is show when you type `set` at a dos prompt).

[2022-08-05 12:06] mattip commented on #12481
Could anyone reporting this problem try the [latest nightly](https://docs.ray.io/en/master/ray-overview/installation.html#daily-releases-nightlies) builds? #25806 was merged, which should have solved the problems using ray under a virtual environment.

[2022-08-05 14:47] scv119 opened #27545 "[2.0][nightly] inference failed"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_5BX8ud9bNahnGVBguqFnJhDc?command-history-section=command_history

looks the test finished but still reports failure. Please take a look.

### Versions / Dependencies

releses/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me fr

[2022-08-05 14:50] scv119 opened #27546 "[2.0][nightly] rllib_learning_tests_apex failed"
### What happened + What you expected to happen

Looks it timed out. Please take a look!
https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_mWECugke9RzMh79BZQqeykjN/clusters/ses_4KqyqTPbi88KuUxhcMiXNiAP?command-history-section=command_history

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task

[2022-08-05 14:51] scv119 opened #27547 "[2.0][Nighlyt] serve_single_deployment_1k_noop_replica failed"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_NGDSU5i6CtzwuxLyJqB6j1EV failed

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-05 14:53] scv119 opened #27548 "[2.0][Nightly] chaos_dask_on_ray_large_scale_test_spilling failed"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_p9B7qwqjuaQQRAeihK6PPUVu

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-05 14:55] scv119 opened #27549 "[2.0][Nightly]decision_tree_autoscaling_20_runs failed"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_f6AtBsMpM4ukbKxZtMEWMc4M?command-history-section=command_history

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-05 14:57] scv119 opened #27550 "[2.0][CI] //python/ray/serve:test_standalone failed"
### What happened + What you expected to happen

https://buildkite.com/ray-project/ray-builders-branch/builds/9260#01826ca3-babc-4c17-a086-5272736faeac

### Versions / Dependencies

releases/2.0.0

### Reproduction script

CI

### Issue Severity

High: It blocks me from completing my task.

[2022-08-05 14:58] scv119 opened #27551 "[2.0][CI] //python/ray/tune:test_actor_reuse failed"
### What happened + What you expected to happen

https://buildkite.com/ray-project/ray-builders-branch/builds/9260#01826ca6-eb7d-4d44-83e8-398f5bc81dc6

### Versions / Dependencies

releses/2.0.0

### Reproduction script

CI

### Issue Severity

High: It blocks me from completing my task.

[2022-08-05 14:59] scv119 opened #27552 "[2.0][CI] //python/ray/tune:test_tune_restore failed"
### What happened + What you expected to happen

https://buildkite.com/ray-project/ray-builders-branch/builds/9260#01826ca6-eb9a-4783-9acf-f8e3fb18e4b4

### Versions / Dependencies

releases/2.0.0

### Reproduction script

CI

### Issue Severity

High: It blocks me from completing my task.

[2022-08-05 15:00] scv119 opened #27553 "[2.0][CI] //python/ray/tune:test_cluster failed"
### What happened + What you expected to happen

https://buildkite.com/ray-project/ray-builders-branch/builds/9260#01826ca6-eb9a-4783-9acf-f8e3fb18e4b4

### Versions / Dependencies

releases/2.0.0

### Reproduction script

CI

### Issue Severity

High: It blocks me from completing my task.

[2022-08-05 15:05] scv119 commented on #27549
@rickyyx can you check if this just running longer? if that's the case this is just another example of autoscaler getting slower. cc @wuisawesome

[2022-08-05 15:31] scv119 commented on #27547
https://buildkite.com/ray-project/release-tests-branch/builds/862#01826cb8-b10b-45e8-8c62-b9a7fd8fe9bf

[2022-08-05 15:46] xwjiang2010 commented on #27551
cherry-pick PR sent out.
https://github.com/ray-project/ray/pull/27556

[2022-08-05 16:17] richardliaw commented on #27543
Did you check that the pandas dataframe is ordered correctly upon instantiation? AFAIK dicts are not guaranteed to be ordered right?

[2022-08-05 16:22] scv119 opened #27558 "[Core] ray doctor tool that detect misconfigurations of Ray cluster"
### Description

create a ray doctor tool that detects why exactly Ray doesn't work, due to misconfiguration of networks

### Use case

one a while we have user complains that ray doesn't work. this is usually due to misconfiguration of networking.

[2022-08-05 16:22] scv119 commented on #27558
cc @rkooo567 @rickyyx

[2022-08-05 16:26] simon-mo commented on #27550
passed upon retry

[2022-08-05 16:26] #27550 closed

[2022-08-05 16:35] jianoaix commented on #27548
It succeeded upon retrying, so might not be a real failure: https://buildkite.com/ray-project/release-tests-branch/builds/862#01826e85-c5b3-4cc9-b502-61c65f0b5ba5

Also at: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_p9B7qwqjuaQQRAeihK6PPUVu?command-history-section=command_history

[2022-08-05 16:56] sven1977 commented on #26250
Cannot reproduce either on master, py3.9, Win.

[2022-08-05 17:14] kouroshHakha commented on #26593
update: This only happens in torch and the problem is that for some reason `sample_batch.to_device()` does not handle nested structures. A PR is on its way to address this.

[2022-08-05 17:18] #27548 closed

[2022-08-05 17:19] jianoaix commented on #27545
The test finished consistently with retry: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_5BX8ud9bNahnGVBguqFnJhDc?command-history-section=command_history

[2022-08-05 17:20] architkulkarni opened #27562 "[CI] `osx://python/ray/tests:test_runtime_env_working_dir_2` is failing/flaky on master."
- ccf411604ea86e19b3b2a53dcf62cb6df17d67b4 FAILED [Buildkite :mac: :apple: Large](https://buildkite.com/ray-project/ray-builders-branch/builds/9263#01826d42-4adc-4dbe-bf48-d60b3356de43)
- 1714d0266ba8a9fa177398e3f3aac0994450dfeb FAILED [Buildkite :mac: :apple: Large](https://buildkite.com/ray-project/ray-builders-branch/builds/9254#01826bfc-8899-49d0-9492-214c5010b199)
- b1d838446c800c2c44619a8e12

[2022-08-05 17:21] #27130 closed

[2022-08-05 17:26] architkulkarni commented on #27562
Failing due to timeout

[2022-08-05 17:44] architkulkarni opened #27566 "[runtime_env] Add tests for all driver output (warnings, etc)"
### Description

Due to spammy output, runtime_env log streaming to the driver (the user's terminal) were disabled by default.  However, there are certain info or warning logs that we do want to be streamed.  For each of these, we should
- find a way to ensure they are streamed to the driver (currently they're just saved to disk along with all the other logs)
- Add a test that checks the driver's

[2022-08-05 17:53] Anando304 commented on #27107
Hi @xwjiang2010,

Thanks for the feedback! Your suggestions does improve the distributed training as shown in this notebook [here](https://drive.google.com/file/d/1IJvn7yiE5pP-tw8oznNGNvSgcu2Y5pjH/view?usp=sharing).

However, it is still roughly 10 seconds slower than non-distributed mode. I utilized 2 workers and 10 CPUs each. I guess overhead of distributed computing may be one reason among many

[2022-08-05 18:06] wuisawesome commented on #27549
@rickyyx can you try to repro manually? (i have a suspicion autoscaling takes longer when many release tests are run at once).

Also can we rerun the 1.13.0 version of this test (or some version that used to work), that way we can verify if it's an autoscaler or infra issue?

[2022-08-05 18:08] rickyyx commented on #27549
Running it manually, and with retry.

[2022-08-05 18:10] cadedaniel commented on #27139
Index pages for categories should just go directly to Getting Started

[2022-08-05 18:22] IanLeeClaxton opened #27568 "ray/latest-py38-cpu has a very old version of boto3 (1.4.8) that does not support IMDSv2 metadata security"
https://hub.docker.com/layers/ray/rayproject/ray/latest-py38-cpu/images/sha256-0e9c8c9ab91735ce3a1bec562d83d7179f1733c54445bc29ac1b78ef17c4185d?context=explore

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html

[2022-08-05 18:34] xwjiang2010 commented on #27551
Merged.

[2022-08-05 18:34] #27551 closed

[2022-08-05 18:38] bveeramani commented on #27543
Yeah. The ordering of the  transformed dataset is sometimes different than the input dataframe.

I think it's because we use `set` in `_transform_pandas`

https://github.com/ray-project/ray/blob/df124d0ad58ea7189e88f9fe42c1ee377ade9c8d/python/ray/data/preprocessors/concatenator.py#L85-L87

Dictionaries are insertion-ordered in Python 3.7.

[2022-08-05 18:42] xwjiang2010 commented on #27553
dropping release-blocker after discussing with @matthewdeng

[2022-08-05 18:42] xwjiang2010 commented on #27552
dropping release-blocker after discussing with @matthewdeng

[2022-08-05 18:43] xwjiang2010 commented on #27552
`TuneInterruptionTest` is sometimes timing out... could be a platform dependent thing as the test itself uses some multi-process primitives to mimic keyboard interruption. Still looking...

[2022-08-05 18:48] xwjiang2010 commented on #27502
cc @c21 @jianoaix @clarkzinzow

[2022-08-05 19:01] simon-mo commented on #27547
<img width="1161" alt="image" src="https://user-images.githubusercontent.com/21118851/183135297-da28dbb4-0726-4d28-aab0-e849081f6092.png">

still waiting for concurrency group :(

[2022-08-05 19:01] simon-mo commented on #27547
nvm it passed!
<img width="1251" alt="image" src="https://user-images.githubusercontent.com/21118851/183143895-362db2ee-38b0-4276-8296-0d79466ffe6c.png">

[2022-08-05 19:01] #27547 closed

[2022-08-05 19:03] qmihau commented on #11959
Hi, I'm having that issue in ray 1.13.0 with cloudpickle 2.1.0. Is there any chance it will be resolved fairly soon?

[2022-08-05 19:06] richardliaw commented on #27543
Can you make a patch? Should be a one-line addition on L90:

[code]

[2022-08-05 19:13] clarng opened #27571 "[Ray clusters][docs] Move autoscaler video to a different section"
### Description

Right now the video lives under configuring autoscaler. Move this to the appropriate page as part of 2.0 doc refactoring

### Link

_No response_

[2022-08-05 19:42] kkr4353 commented on #23611
No, I used a different approach and able to resolve the issue.

[2022-08-05 19:42] #23611 closed

[2022-08-05 20:35] #27340 closed

[2022-08-05 20:48] jianoaix opened #27577 "[Core] The actors got distributed to just a few nodes even with spread scheduling"
Run this on master, in a cluster with 20 nodes:
[code]
can see the distribution of actors got concentrated on a few nodes (3 nodes each with 5 actors in this case -- sometimes it's even more concentrated than this):
<img width="1636" alt="Screen Shot 2022-08-05 at 1 35 14 PM" src="https://user-images.githubusercontent.com/99709935/183159943-f335dbd2-7ff7-4dd0-8c5c-9a8c0178effc.png">

Note: if we a

[2022-08-05 20:50] rkooo567 commented on #11959
Let us revisit this soon. Will bump up the priority.

[2022-08-05 20:51] rkooo567 commented on #26250
I found out the fix, although the root cause is way harder to be fixed. But with the fix, you won't see this error anymore at least. I will push a PR in a few days.

[2022-08-05 20:53] qmihau commented on #11959
Thanks! Happy to help test or if you'll need any extra information.

[2022-08-05 21:00] wuisawesome commented on #27577
I was looking through a lot of this code last night and I think there's a bug in our resource accounting logic and this is actually the same underlying issue as https://github.com/ray-project/ray/issues/26751.

In particular I think this needs to do `PlacementResources` if we're scheduling an actor. https://github.com/ray-project/ray/blob/master/src/ray/raylet/scheduling/cluster_task_manager.cc#L3

[2022-08-05 22:22] architkulkarni commented on #26784
As @SongGuyang pointed out offline, the proposed `file://` protocol has two breaking changes from the existing `file://` protocol introduced in https://github.com/ray-project/ray/pull/25062:
1. Previously `file:///path/to/file` represented an existing path on all cluster nodes, not a path on the local machine. But in the proposed design, `file:///path/to/file` refers to a path on the local machine

[2022-08-05 22:24] clarng commented on #27336
A  instance of memory accounting in our dashboard, showing memory from object store tracked in the worker

![Image](https://user-images.githubusercontent.com/22830327/183219020-598f8c17-ffb8-4bb7-900f-13122dac31fc.png)

[2022-08-05 22:40] simon-mo opened #27580 "[serve][docs] Basic Java Documentation"
In Ray 2.0, Serve has added the ability to serve Java replicas as well as the full Java client API. We should add documentation to showcase the features.

[2022-08-05 22:41] simon-mo commented on #27580
assigned me @simon-mo for tracking purpose. The PR is authored by external contributor.

[2022-08-05 23:03] simon-mo opened #27582 "[serve][docs] Update code snippet mentioning Serve in AIR Examples"
Serve is upgrading to 2.0 API, we should reflect that in all AIR code.

[2022-08-06 00:32] jianoaix opened #27591 "[Core] Ray Dashboard not showing the SpillWorker's actual memory usage"
Repro: On Ray master, for any job that could result in object spilling.

After the cluster finishes the job, the memory usage on dashboard is expected to go down, but the SpillWorker is showing the mmaped object store memory which is unexpected from dashboard:
<img width="1537" alt="Screen Shot 2022-08-05 at 2 36 38 PM" src="https://user-images.githubusercontent.com/99709935/183226135-2d0e4ac5-37f

[2022-08-06 01:23] davzaman commented on #27487
Hi @matthewdeng I can definitely look into it! I'll go ahead and clean it up and submit and link a PR when I think it's ready.

[2022-08-06 01:24] bewestphal commented on #20854
This'd be a big win for using cross-language clients in terms of our dev experience.

With GRPC, generating statically typed clients and interfaces helps us build resilient code across microservices.

[2022-08-06 02:42] #27297 closed

[2022-08-06 02:44] #27503 closed

[2022-08-06 04:04] DmitriGekhtman opened #27598 "[lint] Lint YAML files"
### Description

The CI doesn't lint YAML files. It would be a nice to add a linter, say YAMLlint.

### Use case

Make yaml style consistent. Help debug yaml issues.
(I just lost a few hours due to a duplicated key.)

[2022-08-06 04:51] #27549 closed

[2022-08-06 05:02] #26806 closed

[2022-08-06 08:26] jovany-wang commented on #26941
We have N parties in one Ray cluster, and the user script will be distributed to N parties. Every party runs it as a driver, so you know it should be N drivers. Every driver acts as a controller.
For example,
[code]
The above script will be distributed to  party A and B.
Task a should be executed in party A while task b and c should be executed in party B.

Therefore, what my custom DAG executor s

[2022-08-06 09:23] cipollone commented on #25792
I see the 1.13.1 is tagged but not released yet. How can I install that version? It's not on master yet, so the [doc](https://docs.ray.io/en/latest/ray-overview/installation.html#installing-from-a-specific-commit) does not apply

[2022-08-06 16:36] aflag commented on #12389
I think I'm also running into the same issue as @FarzanT in ray 1.13. It seems `time_budget_s` causes all the trials to transition to terminated, which make them not resumable.

[2022-08-06 22:23] rickyyx commented on #27558
yes, `ray doctor` let's go.

[2022-08-06 22:28] rickyyx commented on #27358
This should be fixed by https://github.com/ray-project/ray/commit/5298ee83b2a261e08ddade76681d1f933f273ad0

[2022-08-06 22:28] #27358 closed

[2022-08-07 00:36] scv119 opened #27606 "[2.0][nightly-test] many-tasks regression"
### What happened + What you expected to happen

many_tasks test regression:
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_Ueg7eY6NXWCWW5cmifgvagVF?command-history-section=event_log&drivers-section=deployments passing
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_wnF3jdENJ3rDBEiJA3E9BsrU?command

[2022-08-07 04:20] scv119 commented on #27606
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_3NTcHnGMAtw8auqTJ2ENEmGc?command-history-section=command_history failing  8d848890

[2022-08-07 05:09] scv119 commented on #27606
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_7tbk9PcfR4AFDsvT8QFEuKis?command-history-section=command_history failing  6efca71c35fc644eeb4d1f6ce092b5ca3be9b1ae

[2022-08-07 05:46] scv119 commented on #27606
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_M9c52ScxDzFeXgbfRTLm9Hve?command-history-section=command_history failed

[2022-08-07 06:26] scv119 commented on #27606
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_iV2gaNPYm5WMxE4nwxFE6pen?command-history-section=command_history passed

[2022-08-07 06:28] scv119 commented on #27606
hmm it points to f7ae8923f652779d8eff392d23ec491549352cb5

[2022-08-07 08:15] evo11x commented on #10448
@jobeid1 thanks! I don't know if I can figure out how make it work, but I will try

[2022-08-07 08:17] JKy151800 opened #27609 "[<Ray component: Core|RLlib|etc...>]"
### What happened + What you expected to happen

When I use the default “trajectory_view_api” functionality, the file path is
`“C:\ProgramData\Anaconda3\Lib\site-packages\ray\rllib\examples\trajectory_view_api.py”`
the default algorithm used is PPO, and the program can run normally.However, **when I change the default algorithm to DQN**, the program **cannot run** and the following error occurs(Pl

[2022-08-07 08:28] richardliaw commented on #23055
You should try out `pip install --pre -U ray` which should be in the 2.0 release :)

[2022-08-07 16:05] rkooo567 opened #27618 "[Core] `__del__` is unexpectedly called when `ray.remote(Actor)` is GC'ed"
### What happened + What you expected to happen

The following script prints "deleted", although it should not

[code]

### Versions / Dependencies

master

### Reproduction script

look ^

### Issue Severity

_No response_

[2022-08-07 16:28] #21921 closed

[2022-08-07 17:58] jianoaix commented on #27545
@krfricke @rkooo567 any insight about why the test ended up failing even though it already ran to the end? It hit the end since it already printed the download/preprocess/inference time (at https://sourcegraph.com/github.com/ray-project/ray@master/-/blob/release/nightly_tests/dataset/inference.py?L109).

[2022-08-07 20:04] clarkzinzow commented on #27606
@scv119 That being the culprit seems very unlikely, that PR is all docs and has no meaningful code changes. The only code changes are:
- privatized a few AIR abstractions,
- fixed an import.
Neither of these should affect the `many_tasks` path.

[2022-08-07 20:09] ThatIsAUsername commented on #26364
Sven's [MultiAgentArena example](https://github.com/sven1977/rllib_tutorials/blob/main/ray_summit_2021/tutorial_notebook.ipynb) is sufficient to repro this behavior.
I am running Python 3.9.7, ray 1.13.0, and torch 1.12.1

train script (as a .txt since Github won't allow attaching a .py):
[train_agent.txt](https://github.com/ray-project/ray/files/9277443/train_agent.txt)

environment:
[environment

[2022-08-07 23:37] scv119 commented on #27606
huh... looks the import might slow down things

[2022-08-07 23:39] scv119 commented on #27606
with that import:
[code]

without import

[code]

[2022-08-07 23:48] scv119 commented on #27606
i'm 95% confident the slows down is caused by the import.

[2022-08-08 02:03] clarkzinzow commented on #27606
Hmm that's surprising, I wouldn't expect that module to be imported unless `ray.data` was imported... 🤔

This is probably an issue because we eagerly import the `data` subpackage [here](https://github.com/ray-project/ray/blob/a61095a48073c0fd878cc2fa6beea81f77817124/python/ray/__init__.py#L170), when `ray` is imported, to allow for the `ray.data` attribute access to the `data` subpackage.

@ericl

[2022-08-08 03:04] ericl commented on #27606
Without the eager import, then implicit tensor conversion can crash (it crashes example doccode actually).

We've run into this lazy data import issue a bunch of times. Is there some simple way of fixing it like making it import on first attribute access?

[2022-08-08 03:19] #26762 closed

[2022-08-08 04:34] saswatac opened #27624 "[Ray Core] when sending wheels via py_modules runtime env dependencies are re-installed"
### What happened + What you expected to happen

I am running a ray cluster with a custom ray image, which includes multiple internal python packages. The internal packages can be imported and used by ray actors as expected.

We want users to be able to specify `whl` files when doing ray init, so that they can install additional plugin packages and make them available to the actors. This is done b

[2022-08-08 04:43] saswatac commented on #27624
May be using prefix option instead of target option in https://github.com/ray-project/ray/blob/2a14bff99d6c3d19687606b78b0a2eaaec3f13b1/python/ray/_private/runtime_env/py_modules.py#L169 can help?

https://stackoverflow.com/a/53870246/5286114

[2022-08-08 05:53] clarkzinzow commented on #27606
@ericl Yep there's a simple pattern (for Python 3.7, see [PEP](https://peps.python.org/pep-0562/)) for that that I think I mentioned a while back:
[code]

Would love for us to standardize on this!

[2022-08-08 05:54] clarkzinzow commented on #27606
For the tensor extension specifically, I'd need to look at the error, that sounds like a more specific issue.

[2022-08-08 06:07] rkooo567 opened #27628 "[Core/Test] Workflow `test_error_handling` flaky"
### What happened + What you expected to happen

<img width="980" alt="Screen Shot 2022-08-07 at 11 06 46 PM" src="https://user-images.githubusercontent.com/18510752/183350370-be3badcf-661c-45b9-89eb-9e0802d89d8e.png">

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-08-08 06:08] rkooo567 opened #27629 "[Core/Test] test_runtime_environment_working_dir_2 flaky"
### What happened + What you expected to happen

<img width="1599" alt="Screen Shot 2022-08-07 at 11 08 14 PM" src="https://user-images.githubusercontent.com/18510752/183350541-18d8bc1c-1e1c-4eff-9139-7c206d19e4c9.png">

Please fix asap!

### Versions / Dependencies

.

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-08-08 06:09] rkooo567 opened #27631 "[Core/Test] `test_cli` being flaky"
### What happened + What you expected to happen

![Uploading Screen Shot 2022-08-07 at 11.09.02 PM.png…]()

### Versions / Dependencies

.

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-08-08 06:09] ericl commented on #27606
You can reproduce by running the tensors doc code with the import commented
out, that should raise an exception in the conversions I believe.

On Sun, Aug 7, 2022, 10:54 PM Clark Zinzow ***@***.***> wrote:

[2022-08-08 06:18] rkooo567 opened #27633 "[Core/Test] `test_runtime_env_working_dir_remote_uri` flaky"
### What happened + What you expected to happen

<img width="1627" alt="Screen Shot 2022-08-07 at 11 17 12 PM" src="https://user-images.githubusercontent.com/18510752/183351744-995c5c51-4512-4061-9473-461a52a3fff6.png">

The test is flaky in the master and looks very bad. Please fix it asap. cc @architkulkarni ? can you help finding an assingee

### Versions / Dependencies

.

### Reproduction scr

[2022-08-08 06:19] rkooo567 opened #27634 "[Core/Test] Fix `test_worker_capping`"
### What happened + What you expected to happen

This is really flaky. I am 99% sure this will be fixed by fixing this issue. https://github.com/ray-project/ray/issues/27606

cc @clarkzinzow can you ping me when the issue is resolved?

### Versions / Dependencies

.

### Reproduction script

.

### Issue Severity

_No response_

[2022-08-08 06:32] guodashun commented on #27361
The parquet data generation script is as follow:
[code]
The data shape is (1e8, 5) and the parquet file is about 3GiB.

[2022-08-08 06:49] aabmets commented on #27477
Is Ray 2.0 compatible with Python 3.10?

[2022-08-08 06:50] aabmets commented on #27477
@zhe-thoughts
Is Ray 2.0 compatible with Python 3.10?

[2022-08-08 07:13] jjyao commented on #22780
A simpler repro:

[code]

[2022-08-08 08:44] creamiracle opened #27638 "[tune/xgboost] Distributed hyper-tune on XGB by ray"
### What happened + What you expected to happen

Hey, I'm testing distributed XGB param-tune on two visual computers, all of them are using the same docker images.
I have done `ray start --head` to generate a master node, and use `ray start --address=xxxxx` to join the cluster on the other one.
After that I tried using the code you offer on the document, which is https://docs.ray.io/en/latest/ray-

[2022-08-08 09:17] stephano41 opened #27646 "[Ray Tune, Core] Ray tune self terminates at ~100 trials on windows"
### What happened + What you expected to happen

Running a ray tune experiment with pytorch and num_samples set at >100 trials results in ray self terminating at around 100 trials due to SIGINT. On resuming experiment, it will then self terminate at another ~100 trial. This only happens on windows, the same script will run to finish on linux

Expected behaviour:
Ray tune completes all trials witho

[2022-08-08 10:53] sidazhou commented on #18276
Ok, apparently the problem/solution is this: https://github.com/helm/helm/issues/6361#issuecomment-538220109

[2022-08-08 11:17] xiaoToby commented on #26660
hello, I met the same problem. I want to know which version is to solve this problem. My version now is ray==1.13.0. I think it is the latest version now.

[2022-08-08 11:20] sidazhou commented on #17663
Same in 22 Aug

[2022-08-08 13:34] merrysailor commented on #27493
For what it's worth I just bumped into this issue too and agree with @Alfredvc diagnosis.

[2022-08-08 13:54] jovany-wang commented on #27430
Feel free to reopen it once you have any question.

[2022-08-08 13:54] #27430 closed

[2022-08-08 14:53] xwjiang2010 commented on #27493
@JiahaoYao Is there any plan to support ptl 1.7.0 in Ray-lightning? Would Ray-lightning plugin solve this issue (as that plugin is based off of SpawnedStrategy)?

[2022-08-08 15:50] architkulkarni commented on #27629
Duplicate of https://github.com/ray-project/ray/issues/27562

[2022-08-08 15:50] #27629 closed

[2022-08-08 16:18] #26593 closed

[2022-08-08 16:28] mdagost commented on #27515
@DmitriGekhtman do you know which release this will end up in so that I can test it?

[2022-08-08 16:40] DmitriGekhtman commented on #27515
The next official release will be 2.0.0 in a week or so.
We should have a preview, 2.0.0rc1, out by Thursday!

For testing, it's also possible to deploy using the master branch -- if you are using a docker image to run Ray in the cluster, the relevant images are tagged "rayproject/ray:nightly". You can also pin a specific commit by using the first six characters of the SHA e.g. "rayrpoject/ray:f63

[2022-08-08 17:07] derpberk commented on #26364
I have also encountered this issue in Ray V1.13.0.

I tested the following:

- Train with my custom envs/models (multiagent and single-agent), checkpointing, and restoring with _pytorch >= 1.12_ and _pytorch == 1.10_. Both versions returned the error above.
- Also by training a CartPole-v0 and trying to restore the state of the trainer (to exclude any issues related to my own implementation). Also

[2022-08-08 17:47] jjyao commented on #25163
Already marked as stable.

[2022-08-08 17:47] #25163 closed

[2022-08-08 17:50] jjyao commented on #27246
Duplicate of #27299

[2022-08-08 17:50] #27246 closed

[2022-08-08 18:22] mdagost commented on #27515
Awesome.  I'll wait for the RC.  Thanks!

[2022-08-08 18:41] #27505 closed

[2022-08-08 19:55] clarkzinzow commented on #27606
@ericl @scv119 I have two PRs out, one with the small-scope fix for this specific issue with the tensor extension type importing, the other with a more generic fix for making expensive, isolated subpackages (like Datasets) dynamically imported upon `ray.data` attribute access:
1. https://github.com/ray-project/ray/pull/27653
2. https://github.com/ray-project/ray/pull/27658

The specific, small-sco

[2022-08-08 20:21] wuisawesome commented on #27507
Closed by https://github.com/ray-project/ray/pull/27593

[2022-08-08 20:21] #27507 closed

[2022-08-08 20:35] wuisawesome commented on #20837
cherry-pick should be ready

[2022-08-08 20:40] #27265 closed

[2022-08-08 20:58] #27628 closed

[2022-08-08 20:59] iycheng commented on #27371
Lower the priority to P0 given that we are not able to support this in ray  2.0. We'll defer this feature in ray 2.1.

[2022-08-08 21:09] nikitavemuri commented on #25011
It looks like output printed to W&B from Ray tasks does correctly show up in the W&B log tab, but not from Ray actors.

Example Ray task with output that does show up in W&B log tab:
[code]
Example Ray Actor task with output that does not show up in W&B log tab:
[code]

I think we are seeing this issue because Ray Tune trials are run as Actor tasks

[2022-08-08 21:13] clarkzinzow commented on #27606
@ericl @scv119 Comparisons on the two approaches for the smoke tests:
1. Small-scope fix: 22 tasks/second
2. Generic fix: 26 tasks/second

I'm going to kick off the full release test for each to see the difference.

[2022-08-08 21:46] iycheng commented on #25429
Lower the priority given that it's not a blocker for 2.0

[2022-08-08 21:54] c21 opened #27667 "[Datasets] Support `select_columns` to select subset of columns"
### Description

Datasets have `add_column()` and `drop_columns()` to add or drop columns. But it's not flexible enough when user wants to select a subset of existing columns. We can provide a new `select_columns` API to do it, and also deprecate existing `add/drop_column` API.

### Use case

Help better UX when user manipulates a subset of columns.

[2022-08-08 21:56] c21 commented on #27667
In addition, as discussed, lazy-first execution + indexing on columns names would be a great UX boost too, but it's not urgent.

[2022-08-08 22:20] #27134 closed

[2022-08-08 22:20] #27050 closed

[2022-08-08 22:20] #26237 closed

[2022-08-08 22:24] utkarshp opened #27669 "[RLLib] global_timestep not monotonic when when running concurrent episodes with ExternalEnv"
### What happened + What you expected to happen

I am trying to run an external environment which can have multiple episodes running at the same time. While I am able to run everything fine for most purposes, I am noticing that the counted timesteps don't increase monotonically. This is especially an issue because I am using epsilongreedy algorithm to to explore with an epsilon schedule that depen

[2022-08-08 22:31] joshua-cogliati-inl commented on #27499
(Possibly if there is a state where ray::IDLE workers are actually waiting to pass data or something else, they should be marked ray::Almost_IDLE or something, so that the user can figure out what is happening from looking at the output of ps.)

[2022-08-08 22:49] #27543 closed

[2022-08-09 00:06] shrekris-anyscale opened #27677 "[Serve] `ServeController` repeatedly logs a `TimeoutError`"
### What happened + What you expected to happen

When I run Serve through the Python interpreter, it keeps logging a `TimeoutError`. However, everything seems to be working correctly, so I'm not sure whether this error should be surfaced:

[code]

### Versions / Dependencies

Ray on the latest master.

### Reproduction script

On the Python interpreter:

[code]

Here's a live example:

[code]

###

[2022-08-09 00:06] #27606 closed

[2022-08-09 00:07] rickyyx commented on #25011
Met with @nikitavemuri offline - and had a minimal example with 2.0.0rc0 where printing from actor gets picked up in the logs.
Seems that there might be something in the tune library that configures the wandb differently than the simple example above.

[2022-08-09 00:36] nikitavemuri commented on #25011
This may actually be due to the trainable (or other user code) being run in a different actor from the `_WandbLoggingProcess`, which calls `wandb.init()` (@krfricke can you confirm this?). If a print statement is added after `wandb.init()` is called in https://github.com/ray-project/ray/blob/e5c3f1cf3a7d582eb0671f194667f94b282d30d8/python/ray/air/callbacks/wandb.py#L173, it does show up in the log

[2022-08-09 00:37] #27160 closed

[2022-08-09 00:40] zoltan-fedor commented on #26443
_"Currently syncing client version to be exactly the same as the head/worker version is the safest bet. This could mean, that one would need to build ray docker image oneself."_ >> Or alternatively we could get the images built by the Ray team not only with a OLD patch version of Python 3.9 (currently being built with 3.9.5), but also with the LATEST patch version (like 3.9.13 currently). That way

[2022-08-09 01:11] kouroshHakha commented on #26364
It seems like this issue does not exist on master anymore which means it will be resolved in the next release version (2.0rc0). I have confirmed by running the following repro script with the more recent ray versions.

[code]

Python 3.8.5, torch=1.12.0, 1.12.1, ray3.0.0dev

[2022-08-09 01:11] #26364 closed

[2022-08-09 01:22] kouroshHakha commented on #26660
@xiaoToby Oh sorry if I wasn't clear. This is resolved on master which will be released in ray 2.0. You can either install master (by building ray locally), or pip install the release candidate (`pip install ray["rllib"]==2.0.0rc0`). If for some reason you need 1.13 you can use the old location of the algorithms which was in `rllib.agents` (so `rllib.agents.qmix` instead of `rllib.algorithms.qmix`

[2022-08-09 02:50] Juno-T commented on #27513
As a work around, you can use `WandbLoggerCallback` and start ray's hyperparameter search. These search trials will appear in a run's group in your wandb project, at which you can add the visualization panels manually.

In case you can't find the visualization panels: Click [+ Add Panel] button at the top right corner, then click Parallel Coordinates or Parameter Importance.

With that being said,

[2022-08-09 03:34] jianoaix opened #27690 "[Datasets] The groupby+map_groups hanging forever for a single file"
The following script will be hanging although it's just reading a single NYC taxi data file (2019/01).

[code]
It can finish the read + map_batches, but cannot make any progress for groupby+map_groups for more than 30mins:
[code]
Note it can make progress and finish in a bit more than 2mins, if we do a repartition after map_batches():
`rds = rds.map_batches(transform_batch, batch_format="pandas").

[2022-08-09 03:36] zhe-thoughts commented on #27477
@aabmets Ray 2.0 has experimental level support for Python 3.10. More work is ongoing under https://github.com/ray-project/ray/pull/21221. cc @pcmoritz

[2022-08-09 03:42] iycheng opened #27692 "[serve] Async Handle Memory Leak"
### What happened + What you expected to happen

When testing serve HA, I test with the [PR](https://github.com/ray-project/ray/pull/27411) before it's merged and it's working good.

Today I merged the master (after the PR merged) and the testing shows the latency increased and throughput drops.

I believe some change in the PR has regressions. I copied the serve directory in the good image to the

[2022-08-09 03:43] iycheng commented on #27692
cc @scv119  the release blocker

[2022-08-09 03:45] iycheng commented on #27692
@simon-mo @edoakes  could you take a look at this ASAP? Please check the PR to get some ideas of what might be wrong. Please let me know if there is anything I can help.

[2022-08-09 04:00] sihanwang41 commented on #27692
Hi @iycheng , do you mind sharing how you observe the latency? (any test script that we can reproduce?)

[2022-08-09 04:05] iycheng commented on #27692
@sihanwang41  Unfortunately, the nightly tests script still hasn't been merged yet https://github.com/ray-project/ray/pull/27413/files

But you can give it a try by running run_gcs_ft_on_k8s.py in /mnt/yic/ray/release/k8s_tests
You need a k8s cluster to run this.

`RAY_IMAGE=DOCKER_IMAGE python ./run_gcs_ft_on_k8s.py`

[2022-08-09 04:36] iycheng commented on #27692
I run it by killing nodes (run_gcs_ft_on_k8s.py) and

With the PR:

<img width="1494" alt="image" src="https://user-images.githubusercontent.com/74173148/183562315-950b0405-3bb2-4651-9fc6-8af9ee4988b7.png">

Without the PR:

<img width="1528" alt="image" src="https://user-images.githubusercontent.com/74173148/183565258-5c0e2c6d-979c-4b55-bb12-bbf571f90d16.png">

[2022-08-09 04:41] xiaoToby commented on #26660
thank you for your message!

[2022-08-09 04:41] xiaoToby commented on #26660
Thank you for your message!

[2022-08-09 05:01] wuisawesome commented on #20837
re-picked, closing (again)

[2022-08-09 05:01] #20837 closed

[2022-08-09 05:07] simon-mo commented on #27692
This is weird... the commit you are using is inconsistent and definitely has bugs...
- PyObjScanner's self._objects is set to a dict but we ended up appending
- We were defaulting to sync handle in that particular commit actually (for debugging purpose)
<img width="586" alt="image" src="https://user-images.githubusercontent.com/21118851/183568886-98fc76d0-91ac-4d62-8e31-b51311170238.png">

[2022-08-09 05:08] simon-mo commented on #27692
Can you try run it with `SERVE_DEPLOYMENT_HANDLE_IS_SYNC=1` (turn off async) and `SERVE_DEPLOYMENT_HANDLE_IS_SYNC=0` (new default behavior)?

[2022-08-09 05:12] simon-mo commented on #27677
This is actually the implementation detail and intended.. I think something probably changed under the hood with Ray's async handling logic. Do you have the bandwidth to make a minor change here?

[2022-08-09 05:13] DmitriGekhtman commented on #27535
This is a subtle issue that has been resolved in master in
https://github.com/ray-project/ray/pull/26813

@wuisawesome can elaborate here on why actor scheduling might not trigger scale-up with a 0-CPU head node

[2022-08-09 05:19] wuisawesome commented on #27535
@orcahmlee happy to elaborate if you're interested, but for now i will close this as a duplicate of https://github.com/ray-project/ray/issues/26806. Please reopen if you can repro on a nightly after that commit.

[2022-08-09 05:19] #27535 closed

[2022-08-09 05:25] iycheng commented on #27692
Sure, let me give it a try!

[2022-08-09 05:26] orcahmlee commented on #27535
Thanks to both of you, I'll check the nightly version.

[2022-08-09 06:50] iycheng commented on #27692
@simon-mo Here is the result

- SERVE_DEPLOYMENT_HANDLE_IS_SYNC=1
  -  the failure is around 5%-10%
- SERVE_DEPLOYMENT_HANDLE_IS_SYNC=0
  -  the failure is very high (25%) and the QPS drops
- With that PR (that PR is just for reference of the diff between master and the good image)
  - the failure is around 1% (with retry, it should be 99.99%)

[2022-08-09 06:53] simon-mo commented on #27692
Hmm. The PR should be equivalent to the first one because of the sync handle block.

[2022-08-09 07:10] iycheng commented on #27692
Hmmm, my bad, I run 1) for a longer time and it looks very similar as 3). Maybe we can just disable it temporarily for now?

But how is the sync one working now?

[2022-08-09 07:19] iycheng commented on #27692
Let me run it for a more longer time

[2022-08-09 07:36] Juno-T opened #27701 "[tune] Error saving checkpoint based on nested metric score"
### What happened + What you expected to happen

I tried running a simple RL training using rllib and set `checkpoint_score_attr="evaluation/episode_reward_mean"` in `tune.run()`. The training ran properly except the checkpoint saving. It showed this error messeges:
[code]

I saw that this behavior had been previously reported (~~#14374~~ #14377) and resolved (~~#14375~~ #14379) but it reoccurred.

[2022-08-09 07:53] iamhatesz opened #27702 "[Tune/RLlib] log_to_file creates files, but doesn't write anything there"
### What happened + What you expected to happen

According to the [documentation](https://docs.ray.io/en/latest/tune/tutorials/tune-output.html#how-to-redirect-stdout-and-stderr-to-files), setting `log_to_file` should store stdout/stderr to files in the results dir. With the code below, the files are created but remain empty.

Can you tell me whether this is a bug or I misunderstand the docs?

###

[2022-08-09 14:51] #24971 closed

[2022-08-09 14:54] #27335 closed

[2022-08-09 15:08] dejangrubisic commented on #27513
@Juno-T thank you for your answer! I think I found a problem.
I previously Initialized id in WandbLoggerCallback(...id=timestamp) and that resulted in visualizing only 1 last trial. Seems like trials override each other. When id is not initialized it logs num_samples trials.

Any quick fix for this?
Note: I was initializing id with custom id, because wandb.run == None after ray.tune.run(...) .

[2022-08-09 16:33] xwjiang2010 commented on #27702
Hi @iamhatesz
Thanks for posting this question. Your understanding is correct.
So anything you log in `Trainable` class (or `Algorithm` as in RLlib's notion) will get piped to stdout/stderror files if you specify `log_to_file=True`. This, however, does not apply to rollout workers for now.
Just checking.. is your intention to check the behavior of rollout workers? Have you got a chance to take a l

[2022-08-09 16:34] #27438 closed

[2022-08-09 16:36] #27469 closed

[2022-08-09 16:42] #27441 closed

[2022-08-09 17:01] #27131 closed

[2022-08-09 17:01] simon-mo commented on #27677
@sihanwang41 the correct fix is to have the LongPollHost return an object instead of throw exception, and identity it in LongPollClient. Basically change the protocol for timeout-repull signal.

[2022-08-09 17:05] xwjiang2010 commented on #27701
Thanks for reporting this @Juno-T !
This is indeed a regression introduced by [PR](https://github.com/ray-project/ray/pull/24430/files#diff-0c3da1a42c40f7a368085063039a1adea6503976b79a1dba82d969ceabc85c88). Putting up a fix and a test now.

[2022-08-09 17:12] architkulkarni opened #27705 "[Serve] Passing function deployment into class deployment raises "missing positional argument""
### What happened + What you expected to happen

Running the reproduction script below raises the following exception:

[code]

A workaround is to use a class instead of a function for the nested deployment.

### Versions / Dependencies

Mac, Ray master, Python 3.8

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-08-09 17:36] simon-mo commented on #27677
Marking this blocker because this is a major UX breakage.

[2022-08-09 17:50] zcin opened #27707 "[serve][docs] Document lightweight config updates"
We recently added automatic detection of lightweight config updates. When `num_replicas`, `user_config`, or `autoscaling_config` is changed in the config file, the replicas should not be restarted. Update the [deploying in production](https://docs.ray.io/en/master/serve/production.html) page to reflect this feature.

[2022-08-09 17:57] simon-mo commented on #27677
I verified this doesn't happen in 2.0.0.rc1. Since #27586 hasn't been merged yet. Removing the blocker label

[2022-08-09 17:59] scv119 opened #27708 "[2.0rc1][nightly-test] air_benchmark_tune_torch_mnist_large_gpu failed"
### What happened + What you expected to happen

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_mWECugke9RzMh79BZQqeykjN/clusters/ses_SgtXxiiAjGt8VBYtKJiYHWQT?command-history-section=command_history

https://buildkite.com/ray-project/release-tests-branch/builds/878#01828150-1584-4020-be24-28210b2fb001

please take a look.

### Versions / Dependencies

releases/2.0.0rc1

###

[2022-08-09 18:00] nikitavemuri commented on #25011
Hi @dirkweissenborn, looks like the console output from the Tune Trial currently doesn't show up in the W&B logs tab because `wandb.init()` is called in a separate logging process if using the `WandbLoggerCallback`. An alternative is to use the [wandb_mixin](https://docs.wandb.ai/guides/integrations/other/ray-tune#wandb_mixin), which initializes W&B before running the training function.

[2022-08-09 18:00] scv119 opened #27709 "[2.0rc1][nightly-test] long_running_distributed_pytorch_pbt_failure failed"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/878#01828150-168f-48da-8696-07685342a4e9

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_mWECugke9RzMh79BZQqeykjN/clusters/ses_BKUCr6MZq3CQNkWCYgpZQ9MZ

### Versions / Dependencies

releases/2.0.0rc1

### Reproduction script

N/A

### Issue Severity

High: It blocks

[2022-08-09 18:02] scv119 opened #27710 "[2.0rc1][nightly-test] dask_on_ray_1tb_sort failed"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_aJSDCGnJcMYKWxSCQz1xjY2z

https://buildkite.com/ray-project/release-tests-branch/builds/878#01828150-1883-4356-8bb3-b12598ecb926

### Versions / Dependencies

releases/2.0.0rc1

### Reproduction script

N/A

### Issue Severity

High: It blocks me from c

[2022-08-09 18:25] iycheng commented on #27692
[code]
A separate issue is that serve has mem leaking after running it for a while.

[2022-08-09 18:26] dejangrubisic commented on #27513
Solution:

[code]

[2022-08-09 18:38] xwjiang2010 commented on #27708
Seeing
[code]

[code]

[code]

Seems GPU collective communication was not happening correctly for run 2 - resulting in timeout at 1800s.
I have never seen this before. Will keep an eye out. But I don't think this is release blocking.

[2022-08-09 18:55] simon-mo commented on #27692
I can reproduce the separate issue locally. looking into it now

[2022-08-09 19:03] jianoaix commented on #27710
Seems another lineage reconstruction:
[code]
cc @stephanie-wang

[2022-08-09 19:05] xwjiang2010 commented on #27524
Got it. This is indeed a problem.
I wonder what is the best way from a UX experience perspective, which ultimately depends on what is to be achieved.
By saving to exp/trial/checkpoint_xxxxx, one saves one copy each epoch. One can leverage Tune's checkpoint offering to configure how many checkpoints to keep at any time, what is the scoring attribute etc.
By using torch trainer's native saving mecha

[2022-08-09 19:28] sihanwang41 commented on #27677
Hi @clarkzinzow,

is this intended new behavior we will loudly print out the exception traceback for task into the log?

[2022-08-09 19:51] iycheng commented on #27692
Remove it as a release blocker given the sync version somehow working now.

[2022-08-09 20:12] clarkzinzow commented on #27677
This PR demotes the offending new log statement to debug-level, which should prevent this log spam.

[2022-08-09 20:21] xwjiang2010 commented on #27513
cc @nikitavemuri @anabranch

[2022-08-09 20:48] #27021 closed

[2022-08-09 21:03] iamhatesz commented on #27702
@xwjiang2010 the use case is I have a very complex RL env, in which I produce a lot of logs to understand better its behavior during training. Ideally, I'd like to have these logs aggregated and stored in a single file, along with other files in `ray_results`, and synced to S3 (just like checkpoints). I can redirect stdout/stderr from the driver process to the file, but this won't give me S3 sync.

[2022-08-09 21:25] #22780 closed

[2022-08-09 22:03] aagnesina commented on #25253
I am having the same issue. Any suggested solution?

[2022-08-09 22:06] #27443 closed

[2022-08-09 22:06] #27470 closed

[2022-08-09 22:26] matthewdeng commented on #27709
[code]

@richardliaw @xwjiang2010 is this a release blocker? My guess from the error message is that `SyncerCallback` failure is not being gracefully handled, but I'm not sure if this is a regression compared to previously existing behavior...

[2022-08-09 22:30] xwjiang2010 commented on #27702
@avnishn

[2022-08-09 22:33] shrekris-anyscale opened #27720 "[Serve] [Docs] Update metrics that Ray Serve offers in documentation"
### Description

Ray Serve surfaces system metrics for debugging. [The metrics documentation](https://docs.ray.io/en/releases-1.13.0/serve/monitoring.html#metrics) is outdated and contains metrics that no longer exist.

<img width="1010" alt="Screen Shot 2022-08-09 at 3 31 02 PM" src="https://user-images.githubusercontent.com/92341594/183773105-1259ddd8-43a3-4a63-a259-be984b5b0f19.png">

For examp

[2022-08-09 22:43] xwjiang2010 commented on #27709
Ah thanks for looking at it.
The previous mechanism is using rsync, which may or may not throw an exception when the node to sync from dies (not sure from the top of my head). It seems current approach of using ray actor facilitated file transfer will definitely throw a hard error when the remote node goes down. IMO, not a release blocker.  @richardliaw wdyt?

[2022-08-09 22:55] jianoaix commented on #27710
Succeeded on rety: https://buildkite.com/ray-project/release-tests-branch/builds/878#018283ca-d7f5-4ba4-9e24-3eb3f75f2dcb

[2022-08-09 23:01] stephanie-wang commented on #27710
Hmm I think root cause is actually that a node failed.

[2022-08-09 23:02] stephanie-wang commented on #27710
[code]

[2022-08-10 00:14] jianoaix commented on #27710
Thanks for confirming @stephanie-wang, closing since it worked as intended.

[2022-08-10 02:02] stephanie-wang opened #27725 "[core] Prometheus service discovery file not found"
### What happened + What you expected to happen

Followed the instructions [here](https://docs.ray.io/en/latest/ray-observability/ray-metrics.html#prometheus-service-discovery-support) and I expected to find the service discovery file /tmp/ray/prom_metrics_service_discovery.json, but I did not find any.

### Versions / Dependencies

2.0

### Reproduction script

`ray start --head`

### Issue Sever

[2022-08-10 02:16] simon-mo opened #27726 "[Serve] New Dashboard can't render serve log"
### What happened + What you expected to happen

This is not a regression because old dashboard doesn't support log browsing. Serve creates log file in the `/tmp/ray/session_latest/logs/serve` directory. While you can find those log entry in the logs page, the content rendering failed with

[code]

Because the error
[code]

Another page simply returned "404: Not Found" because there's a `#` in the

[2022-08-10 02:16] simon-mo commented on #27726
@alanwguo

[2022-08-10 02:25] ofey404 opened #27727 "[Core] If condition flaw in `worker.IsAvailableForScheduling`"
### What happened + What you expected to happen

I noticed a logic flaw at [src/ray/raylet/worker.h](https://github.com/ray-project/ray/blob/e33edcb0b7d2f9762b173a34ba64b41079592978/src/ray/raylet/worker.h#L222):

[code]

Worker is available for scheduling, if no task is assigned.

- But `!GetAssignedTaskId().IsNil()` means assigned task id is not nil, which is not consistent with comment `// No a

[2022-08-10 02:50] ofey404 commented on #27727
[src/ray/raylet/node_manager.cc](https://github.com/ray-project/ray/blob/e33edcb0b7d2f9762b173a34ba64b41079592978/src/ray/raylet/node_manager.cc#L896)

[code]

Maybe the comment `// No assigned task` is wrong, but the condition is correct?

[code]

[2022-08-10 02:58] simon-mo commented on #27692
@iycheng can update from using #27718 here?

[2022-08-10 03:54] #23214 closed

[2022-08-10 03:54] #23305 closed

[2022-08-10 03:54] #20401 closed

[2022-08-10 03:54] #22991 closed

[2022-08-10 03:54] #22230 closed

[2022-08-10 03:54] #22282 closed

[2022-08-10 03:54] #22378 closed

[2022-08-10 03:54] #22498 closed

[2022-08-10 03:54] #18795 closed

[2022-08-10 03:54] #22649 closed

[2022-08-10 03:54] #19749 closed

[2022-08-10 03:54] #20665 closed

[2022-08-10 03:54] #23150 closed

[2022-08-10 03:56] sridharbalachandriah opened #27729 "[Tune] Hanging when trying to retrieve data from node"
### What happened + What you expected to happen

1. Ray unable to retrieve objects from local plasma store on each of the cluster nodes.
2. A method is called to insert data into node local plasma store, for all nodes in a ray cluster. There after, a set of ray tasks are scheduled to retrieve this node local data from the plasma store through zero copy (using object-ids) and process the data.
3. O

[2022-08-10 04:17] yzs981130 commented on #7431
It seems that the `get_data` has been removed?

I got AttributeError: 'ActorHandle' object has no attribute 'get_data' on current master (`ray, version 3.0.0.dev0`).

[2022-08-10 04:41] acxz commented on #19394
not stale

[2022-08-10 04:47] sridharbalachandriah opened #27730 "[Ray Plasma, remote storage support]"
### What happened + What you expected to happen

1. Ray spillover / retrieval for  remote storage is **not performance optimized**. (https://docs.ray.io/en/latest/ray-core/objects/object-spilling.html)
2. An experimental smart_open plugin for DAOS (https://docs.daos.io/v2.0/) was implemented and tested with Ray for remote storage spillover and retrieval of data from the ray cluster nodes.
3. The p

[2022-08-10 05:53] rkooo567 commented on #17663
We haven't fixed this issue. We will convert to the new dashboard from ray 2.0, and this feature will be temporarily removed. Please use the CLI `ray memory` or `ray list objects` in the meantime. We will consider adding back the feature later.

[2022-08-10 05:56] rkooo567 commented on #27380
I think Ray is probably not working well with virtualenv. I feel like I've seen this issue before. We will take a look at this issue later.

[2022-08-10 05:56] rkooo567 commented on #27380
cc @scv119

[2022-08-10 07:19] onlyone2019 opened #27734 ""executable file `python` not found in $PATH" when using runtime_env container in cluster based on anyscale/ray-ml:nightly-py38-cpu image."
### What happened + What you expected to happen

[code]

**I submitted a job using above command, but I didn't get the result of f(x). It seems like hanged and stunk at building `runtime_env`. Also, the `raylet.err` reminded me "executable file `python` not found in $PATH" and I don't know how to fix it.**

This is the feedback:
[code]

I knew the job status through `ray job status raysubmit_G3syL

[2022-08-10 07:44] sidazhou commented on #16009
Not exact same problem, but maybe related. I was trying to access ray cluster from external ip, and found out by that:

[code]

https://docs.ray.io/en/latest/cluster/ray-client.html

[2022-08-10 07:45] tekumara commented on #23131
bump!

[2022-08-10 07:48] Stefan-1313 commented on #26437
In the past I worked with @TedDeVriesLentsch
I will try to look at this. It may take some time though. @TedDeVriesLentsch , feel free to look at it also if you wish, then I leave it for you.

For Torch we have this working. I have practically now experience with TensorFlow but will try to make it work (this is the reason it will take some time, I have to find the time for figuring out how to test

[2022-08-10 08:13] Stefan-1313 commented on #26782
Hi @kouroshHakha ,

Thanks for you looking into it.

**Why we cannot use `"_disable_preprocessor_api" = False`:**
We use a `CustomGymSpace` so that is why `"_disable_preprocessor_api" = True` has to be. For us setting `"_disable_preprocessor_api" = False` is thus not feasible.

**Best solution?**
The best solution is for `torch.jit.trace` to support this, but under the hood it is C++. You can also

[2022-08-10 08:16] MissiontoMars opened #27736 "[Dashboard] Dashboard agent cannot be started because the port is still occupied"
### What happened + What you expected to happen

The logs url port seems wrong.
![image](https://user-images.githubusercontent.com/4771905/183850108-a661bf7d-5372-4e33-b866-463856c18d53.png)

This log url in jobs page can not be opend. The url is: http://10.248.153.207:8266/#/log/http:%2F%2F10.248.153.207:-1%2Flogs?fileName=01000000

![image](https://user-images.githubusercontent.com/4771905/18385

[2022-08-10 08:17] MissiontoMars commented on #27736
@alanwguo

[2022-08-10 08:28] sven1977 commented on #27309
Hey @eleninisioti , thanks for posting this issue here!

I tried to reproduce it, but ran into another, seemingly related error message:

[code]

If you look at the value returned from your `reset()` method on the "table_index" key, you can see that even though the space for this is `MultiDiscrete([20, 20, ...])`, some of the values are -1.0 (only values between 0 and 19 are allowed here).

Could

[2022-08-10 08:30] sven1977 commented on #27701
Thanks for your help on this, @xwjiang2010 ! :)

[2022-08-10 08:34] sven1977 commented on #25792
Closing this issue, which has been fixed on master. Installing the latest nightly will fix the problem.

[2022-08-10 08:34] #25792 closed

[2022-08-10 08:47] sven1977 commented on #26468
Hey @HJasperson , thanks for filing this issue. Your code looks totally fine and I wouldn't know of any reason, why this shouldn't work. I have a few questions, though. I would expect every single `ray.get()` call in your step method to hang for roughly 500s as all parallelized tasks will sleep for exactly 500s and only then return. The `ray.get` call is blocking, so the environment will NOT conti

[2022-08-10 09:28] davidxiaozhi opened #27738 "Issue on page /data/examples/nyc_taxi_basic_processing.html"
I want to use this framework, but I found that there are too few demos and the cost of getting started is very high. For example, I want to read tsv files
[code]
He directly reported the following error:
File "/root/conda/lib/python3.9/site-packages/ray/data/read_api.py", line 529, in read_csv
    return read_datasource(
  File "/root/conda/lib/python3.9/site-packages/ray/data/read_api.py", line 2

[2022-08-10 09:39] YarShev commented on #20991
stub

[2022-08-10 09:45] WeichenXu123 opened #27739 "[Core] Add config option for Ray Node Runtime to specify visible cuda devices on a node"
### Description

Add config option for Ray Node Runtime to specify visible cuda devices on a node:

Suppose on a machine, there are 4 GPUs, and GPU-0/ GPU-1 are used by other applications, and launching the Ray Node Runtime on this machine, using this config to limit the Ray Node Runtime only using GPU-2/GPU-3 on this machine.

Q: Does setting `VISIBLE_CUDA_DEVICES` environment variable addresses

[2022-08-10 10:13] MissiontoMars opened #27740 "Debug log level can not be configured for python processes"
### Description

When troubleshooting some issues about runtime-env, debug log needed. But it seems that the debug level can not be set.

I've tried the following two ways：
1. set RAY_BACKEND_LOG_LEVEL=debug env
2. using `ray --logging-level=debug start --head` command to start ray cluster

What is the correct way to enable debug logging in python code ?

### Use case

_No response_

[2022-08-10 10:13] MissiontoMars commented on #27740
@SongGuyang

[2022-08-10 12:01] wumuzi520 opened #27743 "[Core] It will case resource leak when cancel an actor in phase of creating"
### What happened + What you expected to happen

It will case resource leak when cancel an actor in phase of creating.

### Versions / Dependencies

Ray master branch

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-08-10 13:12] kayou12 opened #27744 "[Tune] Custom metrics are duplicated"
### What happened + What you expected to happen

When logging custom metrics to wandb via `WandbLoggerCallback` the metrics are duplicated and visible as:
- `custom_metrics/*'
- `sampler_resutls/custom_metrics/*`

I would expect to see just `custom_metrics/*` I have implemented.

![image](https://user-images.githubusercontent.com/16837172/183909752-3077e346-0553-4732-a011-f1fbad2bdfb7.png)

After

[2022-08-10 14:19] young-chao opened #27745 "Where is the core_worker attribute defined, it is not defined in worker.py"
### What happened + What you expected to happen

When I was looking into the actual object fetching flow of ray.get, I got stuck at worker.global_worker.core_worker because I found that I couldn't find where the core_worker property was defined at all.

### Versions / Dependencies

both
ray==1.13.0
 and
ray==3.0.0.dev

### Reproduction script

global_worker = Worker()

worker = global_worker
worke

[2022-08-10 16:49] peterghaddad opened #27748 "[Ray Core CLI] Enable ability to pass metadata in Ray CLI commands"
### Description

The Ray CLI has many capabilities that are useful for debugging, logging, modifying, and connecting to Ray.

A primary interest is the utilization of the `Ray Debug` command.

When running the following, it enables the user to connect to a remote cluster. If the cluster is behind a reverse proxy or system that enables authentication, then there is no way to connect. This can be by

[2022-08-10 16:51] richardliaw commented on #27748
Hmm, that's a good point. Thanks a bunch for opening this issue.

Do you have a rough idea of which proxies/auth methods you want us to support?

BTW, a simple draft PR of what you'd want the API to look like would be really helpful for the team. We'd be happy to carry it over the finish line.

[2022-08-10 16:55] richardliaw commented on #27745
Hope this helps!

https://github.com/ray-project/ray/blob/2246ea7fe4da3e1a447eb85401e38c7e805b8222/python/ray/_private/worker.py#L1971-L1989

[2022-08-10 16:56] #27745 closed

[2022-08-10 16:58] richardliaw commented on #20991
I think this is still an issue. @rkooo567 should triage when you get the time.

[2022-08-10 17:03] richardliaw commented on #27729
@sridharbalachandriah can you provide a simple reproducible script and more description about your cluster environment?

Where are you calling `node_train_data_to_plasma`? Can you try `@ray.remote(num_cpus=0)`?

[2022-08-10 17:11] richardliaw commented on #27638
Can you check the ray dashboard to see if actors are started on both?

The IP address provided in the table is only for one of the actors that Tune/XGBoost starts. I suspect you'll see multiple processes started on the dashboard.

Moving forward, also recommend you check out the new XGBoostTrainer APIs for Ray: https://docs.ray.io/en/master/ray-air/key-concepts.html#trainers.

Hope that helps! Fee

[2022-08-10 17:11] #27638 closed

[2022-08-10 17:12] richardliaw commented on #27421
@mattip is this something you can look into?

[2022-08-10 17:13] richardliaw commented on #27646
@mattip is this something you can take a look at?

[2022-08-10 17:24] carlorop opened #27750 "python closses from command line when calling ray.init()"
### What happened + What you expected to happen

If I initialize python from the command line and call ray init, it closes python automatically.

Executing the following script:

import ray
import logging
ray.init(logging_level=logging.DEBUG)

Leads to:

2022-08-10 18:18:56,496 DEBUG node.py:763 -- Process STDOUT and STDERR is being redirected to C:\Users\CARLOS1.PER\AppData\Local\Temp\ray\session

[2022-08-10 17:55] scv119 opened #27752 "[2.0rc1][Nightly] chaos_dataset_shuffle_sort_1tb failed"
### What happened + What you expected to happen

[code]

https://buildkite.com/ray-project/release-tests-branch/builds/882#018286ad-1c05-4cc7-9622-fbb5f0df3104

this look something new. Is the problem that StatsActor is not configured to be fault-tolerent?

### Versions / Dependencies

releases/2.0.0rc1

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-10 18:01] scv119 opened #27753 "[2.0rc1][nightly] datasets_ingest_train_infer failed"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_EahfUwhMBcazCpzBCKTaVjqk?command-history-section=command_history
[code]
### Versions / Dependencies

releases/2.0.0rc1

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-10 18:12] scv119 opened #27754 "[2.0rc1][Nightly] rllib_learning_tests_a3c failed"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/882#018286ad-19f9-4a31-ba38-f655b7de591c

### Versions / Dependencies

releases/2.0.0rc1

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-10 18:18] scv119 opened #27755 "[2.0rc1][nightly] ml_user_ray_lightning_user_test_master"
### What happened + What you expected to happen

[ml_user_ray_lightning_user_test_master](https://buildkite.com/ray-project/release-tests-branch/builds/882#018286ad-19e7-404a-95bb-44e8d1963d31) is failing

### Versions / Dependencies

releases/2.0.0rc1

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-10 18:18] xwjiang2010 commented on #27744
Thanks!
Looks like the issue is indeed around
[code]
Seems the intention of the code is to ultimately not have sampler results as top-level metric. Will leave it to rllib team folks to take a look!

[2022-08-10 19:03] alanwguo commented on #27736
I still couldn't reproduce. But i have some ideas. It's possible port is being set to -1 because agent cannot launch http_server

@MissiontoMars can you copy the `/tmp/ray/session_latest/logs/dashboard_agent.log` and `/tmp/ray/session_latest/logs/dashboard.log` logs here.

[2022-08-10 19:05] mdagost commented on #24310
I'll add a heavy ➕ to this ticket.

[2022-08-10 19:19] c21 commented on #27738
file metadata provider is actually not related here. By default `read_csv` would only read the files with `.csv` extension and ignores all other files (so the `.tsv` file in your example). You can set `partition_filter` to `None` to disable this feature (i.e. not filter out files without `.csv` extension). We also fixed the error message to make it more understandable in https://github.com/ray-pro

[2022-08-10 19:23] HJasperson commented on #26468
The problem is that it NEVER continues. I know how long this method should take and the environment hangs even after an excessive amount of time has passed.

That was my thought as well, but calling an external method gives the same result (i.e. env hangs).

The script is just to illustrate what I was talking about. I am unwilling to share my actual code with you until it is published.

[2022-08-10 19:39] c21 commented on #27738
@davidxiaozhi - btw if above example is not working for you, it could be related to the schema of your TSV file. Please share your TSV file here, so we can debug further if needed.

[2022-08-10 21:13] jjyao commented on #27752
Just FYI: it's not a regression, the stats actor is not fault tolerant from the very beginning.

[2022-08-10 22:38] architkulkarni commented on #27562
<img width="1609" alt="Screen Shot 2022-08-10 at 3 38 32 PM" src="https://user-images.githubusercontent.com/5459654/184032600-c9ff4f58-9304-470e-8338-cb67e6a936d5.png">
Seems to still be flaky

[2022-08-10 23:06] kouroshHakha commented on #27754
This is not release blocker as it passes the test if you retry it. https://buildkite.com/ray-project/release-tests-branch/builds/882#0182893d-b424-4d9e-940d-dbe259ab565f

[2022-08-10 23:08] kouroshHakha commented on #27546
This does not seem to be a release blocker. It is running fine on both workspaces / release cluster. The error from buildkite also shows that the process was killed instead of an error. so it should be fine.

[2022-08-10 23:15] #27487 closed

[2022-08-10 23:55] azamatolegen opened #27767 "No module named 'ray.tune.search'"
### What happened + What you expected to happen

---------------------------------------------------------------------------
[code]
### Versions / Dependencies
[code]
### Reproduction script
[code]

[2022-08-11 00:02] xwjiang2010 commented on #27767
Hey @azamatolegen
The code you are referring to is expecting newest Ray, which was not included in 1.13.0 release. Would you upgrade to the nightly wheel?

[2022-08-11 00:10] azamatolegen commented on #27767
@xwjiang2010 Thanks for your quick response. Sure, can you please show me how to install the right version?

[2022-08-11 00:40] JiahaoYao commented on #27493
@xwjiang2010 , the support to pytorch 1.7 for ray lightning is work in process (https://github.com/ray-project/ray_lightning/issues/194)

[2022-08-11 00:49] scv119 commented on #27753
end up picked https://github.com/ray-project/ray/pull/27567 which should solve this problem

[2022-08-11 00:50] #27753 closed

[2022-08-11 00:52] richardliaw commented on #27767
Could you try installing via `pip install --pre -U ray`? This would install master: https://docs.ray.io/en/master/

Otherwise, you can also install `ray==1.13`. But make sure you're using `latest` docs: https://docs.ray.io/en/latest/

[2022-08-11 00:55] #27752 closed

[2022-08-11 01:06] c21 commented on #27750
@carlorop - I saw you are running on a pretty old version `1.1.0`. Is it possible to use another newer version? We are working on releasing 2.0.0 in next two weeks.

I tried the same code on latest master, didn't find issue:

[code]

[2022-08-11 01:13] davzaman commented on #27487
The PR is here! #27770

[2022-08-11 02:01] #27707 closed

[2022-08-11 02:22] MissiontoMars commented on #27736
[dashboard_agent.log](https://github.com/ray-project/ray/files/9305571/dashboard_agent.log)
[dashboard.log](https://github.com/ray-project/ray/files/9305575/dashboard.log)

@alanwguo

[2022-08-11 02:32] azamatolegen commented on #27767
@richardliaw  Thanks！After trying first approach I git this error:
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
/tmp/ipykernel_17/483132525.py in <module>
----> 1 from ray.tune.search.bayesopt import BayesOptSearch
      2 from ray import air
      3
      4 # Define the search space
      5

[2022-08-11 02:39] alanwguo commented on #27736
@MissiontoMars
In `dashboard_agent.log`:
[code]

This is the reason for the error. Are you running something on that port already? Do you already have a ray instance running somehow?

[2022-08-11 03:00] young-chao commented on #27745
Thank you!You solved my confusion。

[2022-08-11 03:47] xwjiang2010 commented on #27755
[code]

Some dependency issues. Not release block.

Need to run our tests using torch 1.11.

[2022-08-11 03:54] WangTaoTheTonic commented on #27740
This is nothing related with runtime env. The python worker sets the log level to INFO by default, which cannot be confiugred, IIRC.

[2022-08-11 03:55] xwjiang2010 commented on #27755
See https://github.com/Lightning-AI/lightning/issues/12324

[2022-08-11 04:00] SongGuyang commented on #27740
Yep, It's a common issue which is related to all the python processes(workers、agent、scripts、client server and so on.)

[2022-08-11 04:02] xwjiang2010 commented on #27755
Actually not sure only failing against ray lightning master but not latest..
There is no new commit in the past 2 days (around when this thing started) into ray-lightning repo.

[2022-08-11 04:07] simon-mo opened #27774 "[Serve][docs] Update Handle Guide"
We should provide up to date information about the ServeHandle types in 2.0

[2022-08-11 04:07] kfstorm commented on #20982
Still valid

[2022-08-11 04:18] xwjiang2010 commented on #27755
https://buildkite.com/ray-project/release-tests-pr/builds/13589#01828b1a-ab23-43c1-92ff-69823448ddc0

This is caused by `pip install -c requirements_dl.txt` which is requiring torch 1.9.0.

@richardliaw do you know why there is such constraint?

[2022-08-11 04:59] sridharbalachandriah commented on #27729
@richardliaw here are the details:

1. In the code snippet provided above "node_train_data_to_plasma" is called before tune_pray(num_training_iterations=6) in the main.

2. The ray cluster is enabled with 2 nodes:
Ray start from the head node
============================
# ray start --head --port=6379  --object-store-memory=7864320000 --system-config='{"object_spilling_config":"{\"type\":\"filesys

[2022-08-11 05:08] sridharbalachandriah commented on #27729
ray memory
======== Object references status: 2022-08-11 00:06:49.653850 ========
Grouping by node address...        Sorting by object size...        Display allentries per group...

--- Summary for node address: 172.23.0.23 ---
Mem Used by Objects  Local References  Pinned        Used by task   Captured in Objects  Actor Handles
786628152.0 B        16, (786628152.0 B)  0, (0.0 B)    0, (0.0 B)

[2022-08-11 05:10] simon-mo opened #27776 "Update HTTP Section"
- Top level note “HTTP Proxy HA is enabled by using REST API or Kubernetes operator to start the Ray Serve” is too prominent and doesn’t belong in this user guide. It should go into Architecture or Perf Tuning or Production page.
- “Kubernetes Operator” link should go to KubeRay
- Code snippet isn’t type annotated
- We should talk more about DAGDriver and custom drivers here.
- What’s the relation

[2022-08-11 05:22] richardliaw commented on #27755
not sure. can you check blame?

On Wed, Aug 10, 2022 at 9:18 PM xwjiang2010 ***@***.***>
wrote:

[2022-08-11 05:41] yzs981130 commented on #13504
I confirmed that the default python working directory is where I ran `ray start` (let's only talk about launching ray using `ray start`).

I wonder if there is any approach to changing the working directory to where the python script is, without passing the absolute path just like above?

[2022-08-11 06:42] MissiontoMars commented on #27736
[code]
The port is indeed occupied.

Can i speicify anohter port which not in use?
@alanwguo

[2022-08-11 07:17] shiranbi07 opened #27781 "[Core] Add actor name to runtime context"
### Description

access actor name (the one given by the client which created the actor) via runtime context

### Use case

I have multiple actors of the same class
I give each one a different name and would like to use that name in the actor logs
The only way to do it today is to pass it to the actor

[2022-08-11 07:30] jjyao commented on #27739
You can start Ray with the number of logical gpus (--num-gpus) you specify (it doesn't have to be equal to the number of physical gpus on the host). You are also free to use any physical gpu when the task is executing (e.g. by manually setting `VISIBLE_CUDA_DEVICES`), RAY doesn't prevent you from doing that.

[2022-08-11 07:34] jjyao commented on #27730
@sridharbalachandriah

Could you provide a repro for the hanging issue?

[2022-08-11 08:11] Jianzs opened #27782 "How to compile ray[default]"
I compiled Ray according to the [doc](https://docs.ray.io/en/latest/ray-contribute/development.html). The code can be run normally, but it will cause the Dashboard to not work properly, the same as just `pip install ray`. So, How to compile `ray[default]`？

[2022-08-11 08:26] olipinski opened #27783 "[Tune][Air] MLFlow Callback is incompatible with PB2"
### What happened + What you expected to happen

Reporting MLFlow metrics is incompatible with Population-Based Training. As the PB2 changes parameters during runtime, when Tune tries to report that to MLFlow, it throws an error, as MLFlow does not allow the parameters to be changed.

[code]

### Versions / Dependencies

Ray 3.0.0
Python 3.9
Windows 10 Enterprise 20H2

### Reproduction script

[co

[2022-08-11 11:10] mattip commented on #9239
ray 0.8.6 is quite old. Could you try again with the recently-released ray 2.0?

[2022-08-11 11:12] mattip commented on #27421
ray may need a [hook for pyinstaller](https://pyinstaller.org/en/stable/hooks.html). Could you provide a more complete reproducer in the form of commands to create the conda environment, a demo application, and the command line you are using to create the pyinstaller package?

There are other open issues about pyinstaller: #16338, #14993, #15396. It would be nice to have a minimum viable reproduce

[2022-08-11 11:47] csaimd opened #27786 "can not find previous version document"
### Description

documents before version 1.11.0 cannot be viewed

### Link

_No response_

[2022-08-11 12:00] mattip commented on #27646
What version of CUDA are you using?

[2022-08-11 12:09] stephano41 commented on #27646
CUDA 11.3, but have tried running this on just cpu (with 6 concurrent trials) and still run into the same problem

[2022-08-11 13:34] mattip commented on #27646
I could not reproduce when using the resource settings below, the second script ran to completion. I have a windows 10 machine with 64GB RAM.
`resources_per_trial={"cpu": 6, "gpu": 0, "memory": 16 * 1024 * 1024 * 1024,},`

[2022-08-11 13:39] mattip commented on #27646
I created the environment via
[code]

[2022-08-11 14:01] #25717 closed

[2022-08-11 14:21] peterghaddad commented on #27748
Hi @richardliaw, I think the ability to pass metadata similar to [this Issue ](https://github.com/ray-project/ray/pull/25946) would do the trick. Any thoughts on this?

[2022-08-11 14:28] xwjiang2010 commented on #27786
cc @richardliaw

Hi!
This is intended to encourage people to upgrade to newer versions.
We are deprecating old ray versions as we move towards ray 2.0.0.
If you are interested in earlier versions, you can use the tagged ray version on the repo instead.
<img width="1722" alt="Screen Shot 2022-08-11 at 7 27 10 AM" src="https://user-images.githubusercontent.com/87673679/184156893-78f74a2d-212c-4811-8

[2022-08-11 15:08] Stefan-1313 opened #27790 "[Tune] FileNotFoundError when resuming from Checkpoint"
### What happened + What you expected to happen

@xwjiang2010
This issue is related to my post here: [discuss.ray.io](https://discuss.ray.io/t/filenotfounderror-when-resuming-from-checkpoint/7146?u=stefan-1313). You asked me to tag you here so here you go :).

**What goes wrong:**
When running a Ray Tune experiment in a Docker container, stopping the container, and restarting the constrainer, the

[2022-08-11 15:46] thatcort opened #27792 "[Data] Actor Configuration"
### Description

We need the ability to configure data set transformation actors using runtime parameters. For example,

This seems like a feature that could be implemented using named actors with options for specifying constructor params or an initialization method to be called.

### Use case

I have an actor that is used to calculate vector embeddings from a data set, but it needs to know the mo

[2022-08-11 15:54] alanwguo commented on #27736
@MissiontoMars, yup! Use `--dashboard-agent-listen-port` when you do ray start. Or set the `dashboard_agent_listen_port` when you do `ray.init`.

https://github.com/ray-project/ray/blob/5ea47474485458d4f89ee5561533c462e7d13a5f/python/ray/scripts/scripts.py#L425

[2022-08-11 16:01] jjyao commented on #27782
You just need to install extra dependencies specifiedy by `ray[default]`. Could you run `pip install ray[default]`?

[2022-08-11 16:05] jjyao commented on #27734
Is this the same question asked on discuss: https://discuss.ray.io/t/how-does-container-in-runtime-env-work/7108

[2022-08-11 16:17] jjyao commented on #27624
@architkulkarni Could you take a look?

[2022-08-11 16:19] xwjiang2010 commented on #27792
Thanks for putting this together.
I think there may be some misunderstanding about the mental model here.
The actors are really pertained to one job. There are no actor pool hanging around for multiple jobs.
The actors are only created when you run one script and they are gone when it's finished.
In that sense, actor is a "runtime" thing.

[2022-08-11 16:19] jjyao commented on #27521
@DmitriGekhtman, @wuisawesome Could you take a look?

[2022-08-11 16:23] jjyao commented on #27419
@amogkam Could you take a look at this issue?

[2022-08-11 16:24] #27436 closed

[2022-08-11 16:27] jjyao commented on #27363
cc @amogkam @krfricke

[2022-08-11 16:29] mdagost commented on #27521
This might be related to #27515 .  I can test when the release candidate comes out.

[2022-08-11 16:30] jjyao commented on #27211
cc @alanwguo for triage

[2022-08-11 16:32] mdagost commented on #27515
@DmitriGekhtman will the RC be a tag on GH that I can install?  I'm not using docker.

[2022-08-11 16:34] jjyao commented on #27078
You can set `CUDA_VISIBLE_DEVICE` inside your actor code (e.g. inside constructor) so it will run wherever your actor runs.

[2022-08-11 16:41] jjyao commented on #27015
I'll close the issue since it doesn't have enough information to see what the problem is.

Feel free to provide more information and reopen the issue.

[2022-08-11 16:41] #27015 closed

[2022-08-11 16:42] mattip commented on #27646
I tried to run the first script. After I run `conda install -c pytorch torchvision=0.12` I needed to set `resume="AUTO"`, and then after a while I get

`OSError: [WinError 1455] The paging file is too small for this operation to complete. Error loading "d:\miniconda\envs\issue27646\lib\site-packages\torch\lib\cudnn_cnn_infer64_8.dll" or one of its dependencies.`

This is after I updated to the lat

[2022-08-11 16:43] mattip commented on #27646
@richardliaw any thoughts?

[2022-08-11 16:49] #27437 closed

[2022-08-11 16:57] thatcort commented on #27792
@xwjiang2010 Thanks for that explanation. I thought they might get reused for other transformations.

Is there a way to configure them at runtime or is that still a valid feature request?

[2022-08-11 16:58] jiaodong opened #27794 "[AIR] Support TorchRec trainer"
### Description

We start to see users experimenting and asking for TorchRec / Model parallelism integration with Ray. Ray Train is essentially wrapping existing trainer components (TF, Torch, Jax) without fundamental conflicts with Ray, we should look into supporting this at sometime.

Ideally we should be able to

1) User has very smooth experience using TorchRec on Ray
2) Our Torch abstraction

[2022-08-11 16:59] jjyao commented on #26929
Hi @fostiropoulos, sorry for the late reply. Could you elaborate why the fractional GPU placement strategy is not suitable? and why it's not accelerator agnostic? cc @cadedaniel

[2022-08-11 17:06] jianoaix commented on #27710
@scv119 Any new findings about this test? It has been passing in past 2 days.

[2022-08-11 17:10] dan-1d commented on #25783
I have had similar issues, with similar error message. No conclusion to draw here, just additional information for the Collective.

TAKEAWAYS:

- Time-to-crash seems correlated to learning rate
- Value network loss approaches zero at time of crash
- Very challenging to go backwards from the crash to figure out what happened and why.

SETUP:

- A3C: NaN appears when sampling the policy. I tried to

[2022-08-11 17:14] cadedaniel commented on #26929
+1. Also, assigning a fixed memory amount to a task or actor comes with user experience problems: what happens if the task or actor consumes more than 20 megabytes of GPU memory? Ray currently defers management of GPU memory to the user code / application. If you give users the option to specify XX amount of megabytes, then they'll be surprised when Ray does nothing to prevent their code from exce

[2022-08-11 17:41] jjyao commented on #26825
@KepingYan Sorry for the late response. Is my understanding correct that we don't have permanent file descriptor leak but just it's too slow to be recycled?

[2022-08-11 17:47] jjyao commented on #26795
@Hoeze Could you set `--object-store-memory` when you start the worker nodes if you know you don't need that much of object store memory.

[2022-08-11 17:49] jjyao commented on #26761
@JiahaoYao Could you share a repro script?

[2022-08-11 17:51] xwjiang2010 commented on #27792
Does this work for you? Using `Task.__init__` you can configure the actors as you like.
[code]

[2022-08-11 17:57] jjyao commented on #26518
Hi @yangbo19, could you update the issue title and description with more details and include a repro script?

[2022-08-11 17:59] ljjsalt opened #27800 "[Core] RayActorError provides actor's information in the error"
### Description

For people who want to have better control over the node failures, and handle the error such as `RayActorError` by themselves. I think it's necessary to make things like `actor_id` as an attributed of the error.

### Use case

[code]

[2022-08-11 18:02] StevenKessler commented on #19116
I can install ray, but it does not work for me with python 3.10:

`TypeError: As of 3.10, the *loop* parameter was removed from Lock() since it is no longer necessary`

[2022-08-11 18:03] wuisawesome commented on #27521
Hmmm I think the current expected behavior is to keep retrying that error forever in case instances become available eventually.

@mdagost can you confirm that these exceptions stop printing out (as opposed to just repeating the same exception with a slightly different timestamp)?

[2022-08-11 18:10] fostiropoulos commented on #26929
@jjyao

Example 1:

System 1: Has GPU A100 (memory 40GB)
System 2: Has GPU RTX 3090 (Memory 24GB)

Having a remote that uses 10GB of memory, I will need to specify num_gpus 0.25 for system1 and 0.5 for system 2, which would make my code not work out of the box on both systems and would either require a user configurable attribute or for the programmer to detect the memory available for a GPU and c

[2022-08-11 18:12] fostiropoulos commented on #26929
@cadedaniel maybe my initial post was misunderstood. My clarification with examples above can help explain. The GPU memory management and correct resource allocation is still at the user's burden.

[2022-08-11 18:18] mdagost commented on #27521
@wuisawesome that is what I saw--they stopped printing out.  But it could be related to the other issue that I tagged.

[2022-08-11 18:22] scv119 commented on #27710
Do we know why the node crashed?

[2022-08-11 18:37] jjyao commented on #26825
Also I was not able to reproduce this issue. I ran the script 50+ times.

[2022-08-11 19:03] lovesthaitea commented on #20648
I'd be interested in this to generally speed up transformer model training (e.g., mask2former stuff)

[2022-08-11 19:03] thatcort commented on #27792
How do you pass in the value of `the_kind_of_sentence_transformer` in the `data.map_batches(...)` call?

[2022-08-11 19:06] #27445 closed

[2022-08-11 19:34] DmitriGekhtman opened #27803 "[Ray Clusters][Kubernetes] Make K8s autoscaling docs more actionable than discussion based."
### Description

Make [K8s autoscaling docs](https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/configuring-autoscaling.html) in more actionable than discussion-based.

### Link

See the discussion here: https://github.com/ray-project/ray/pull/27801#discussion_r943800750

[2022-08-11 19:52] anabranch commented on #25011
Log Level might be a good thing to control log volume, since this could incur network cost. Also, having a toggle / configuration in the `WandbLoggerCallback` to configure whether logs should be exported to W&B.

[2022-08-11 20:01] #27447 closed

[2022-08-11 20:30] DmitriGekhtman commented on #27521
I get the feeling it's related to the other issue. I've pinged the team for an update on the rc1 release timeline (should be quite soon).

[2022-08-11 20:47] DmitriGekhtman commented on #27521
Today or tomorrow for the rc1. Once it's ready, you can use `pip install -U "ray[default]==2.0.0rc1"` for installation.

[2022-08-11 20:48] xwjiang2010 commented on #27792
got it. So you are right, the ctor of Task cannot take in arguments. Something like
[code]

You then need to hook this up with some workflow/cron job in which to submit ray job - python my_script.pyy --type=xxx
xxx can be decided at runtime but at a higher level before executing the python script. For each run, xxx can be different, depending on your logic. Does that make sense?

[2022-08-11 20:53] jjyao commented on #26929
Thanks @fostiropoulos, your examples make sense to me and I feel it's something reasonable to be supported inside Ray. Let me add this to the backlog and chat with the team to see when and whether we want to do it.

[2022-08-11 21:34] #27442 closed

[2022-08-11 21:38] mattip commented on #27646
Using ray==2.0.0rc0 still crashes after ~124 trials. The information is saved, so restarting continues where it left off.

[2022-08-11 21:56] #24888 closed

[2022-08-11 22:21] galenhwang opened #27813 "[Core][State Observability] Dashboard snapshot not returned with GRPC "Deadline Exceeded" error"
### What happened + What you expected to happen

Periodically getting this error when polling the Ray dashboard for a snapshot. Normally the data field contains the snapshot object.

[code]

Cluster: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_CHYmiZfmriQ7rBhJCGNY2Bae
Endpoint is `/api/snapshot`.

### Versions / Dependencies

releases/2.0.0rc1

[2022-08-11 22:29] thatcort commented on #27792
@xwjiang2010 Thanks for your help. In my code this comes in as a Ray Serve request that's then run with a Ray Workflow. Going from Serve -> command line isn't ideal.

This seems like a generally useful feature to have. E.g. What if I want to do translation and only get the languages at runtime. Then I'd want to configure which dictionaries are loaded in the same way.

[2022-08-11 23:20] xwjiang2010 commented on #27792
@thatcort Can you let me know if the following is what you want?

1. user request comes in. The nature of this request is basically to kick off some batch prediction workload using some pretrained model. There is also configuration necessary for the workload - like the name of the model, the language to use etc. Those information are included as part of the request.
2. to handle this request, ray

[2022-08-12 00:19] iycheng commented on #26144
I'll take a look.

[2022-08-12 00:47] #25237 closed

[2022-08-12 01:27] onlyone2019 commented on #27734
@jjyao  yes, I posted it on Tuesday.

[2022-08-12 02:05] Jianzs commented on #27782
I cannot run `pip install ray[default]` on Raspberry Pi. But I found the solution.

First, build the wheel, `python3 setup.py bdist_wheel`. Then, enter the `dist` directory, and run `pip install xxxx.whl[default]`.

[2022-08-12 02:05] #27782 closed

[2022-08-12 02:18] MissiontoMars commented on #27736
[code]

@alanwguo `dashboard_agent_listen_port` is not supported in `ray.init()`?

[2022-08-12 03:20] davidxiaozhi commented on #27738
curl -O https://storage.googleapis.com/criteo-cail-datasets/day_1.gz
file=day_1.gz
dist=/path/
dist_file=day_1.tsv
 gzip -d -v -c ${file} >> "${dist}/${dist_file}"

[2022-08-12 03:30] davidxiaozhi commented on #27738
@c21  主要原因为数据当中存在异常数据,但是

[2022-08-12 03:31] jianoaix commented on #27710
Re-run 10x and got 2 failures, one of them showed a bit more informative stuff, from which it looks the node was just busy and didn't respond heartbeat to GCS, so it got mistakenly considered dead by the GCS.

My take is that this isn't a bug in code, but the workload was high compared to resource provision. However, I don't understand why one node failure will cause the entire program to fail, si

[2022-08-12 03:36] scv119 commented on #27710
Yeah we can unblock the release for now and look into it in 2.1

[2022-08-12 03:45] davidxiaozhi commented on #27738
the dataset for error

[2022-08-12 03:48] jianoaix commented on #27710
For debugging, the above log was from this test: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_WzX46Q5r2RwHi5rQbbKBQDWU

Its head node was 10.0.3.218. The node got killed was 10.0.3.192.

[2022-08-12 04:06] stephano41 commented on #27646
When I tested it, on another ~100 trials after resuming, it will crash again

[2022-08-12 04:14] stephanie-wang commented on #27710
Hmm I would vote for making this a release blocker:
1. The test has not been flaky in the past. Took a look at previous failures and the errors don't look the same.
2. The fact that the node is getting marked as dead seems like a regression. Previously we were able to handle the same load.
3. 20% chance of failure is pretty high!

At least we should figure out if there was a regression in Ray core

[2022-08-12 04:42] mattip commented on #27646
Yes, it exits unexpectedly for me too after it saves the data and prints out a summary.

[2022-08-12 05:14] richardliaw commented on #27646
So I see this `2022-08-11 19:22:51,667 WARNING tune.py:682 -- Stop signal received (e.g. via SIGINT/Ctrl+C), ending Ray Tune run. This will try to checkpoint the experiment state one last time. Press CTRL+C (or send SIGINT/SIGKILL/SIGTERM) to skip.
` in the log that you posted @mattip ...

[2022-08-12 06:38] mattip commented on #27646
right. The question is why? What could be sending a stop signal? I scanned the logs, all I could find was
`[2022-08-11 19:24:20,138 E 14084 13392] (raylet.exe) agent_manager.cc:107: The raylet exited immediately because the Ray agent failed. The raylet fate shares with the agent. This can happen because the Ray agent was unexpectedly killed or failed. See "dashboard_agent.log" for the root cause.`

[2022-08-12 08:56] WeichenXu123 commented on #27739
Thank you @jjyao

But what I want to ask is how to control the GPU allocation for "Ray Node Runtime", not "Ray task",

suppose my machine has 4 physical GPUs,
and I run:

[code]

then Does the **Ray Node Runtime** will be limited to use the physical GPU-2, GPU-3  (i.e., when Ray tasks scheduled to this Ray Node, then only physical GPU-2/GPU-3 will be assigned to the task) ? (Suppose we forbid user

[2022-08-12 09:21] dirkweissenborn commented on #25011
I wasn't using either the mixin nor the wandbloggercallback. Instead we just used wandb directly, initializing it directly in the remote function.

[2022-08-12 10:16] Alxe1 opened #27820 "TypeError: can't pickle function objects"
### What happened + What you expected to happen

I copied the code from official guid, and it raised the error:
[code]

### Versions / Dependencies

version:
ray: 1.13.0
cloudpickle: 2.1.0

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-08-12 11:59] mattip commented on #25320
Closed by merging 25594

[2022-08-12 11:59] #25320 closed

[2022-08-12 12:21] mattip commented on #27646
@stephano41 when the process is halted, what is the last status report? For me it halts after about 1hr7min
[code]

[code]

[2022-08-12 13:49] thatcort commented on #27792
@xwjiang2010 Yes, at a high level, that's exactly what I need.

[2022-08-12 14:13] mattip commented on #27646
I see an unusual message from the `runtime_env` module at the end of the `dashboard_agent.log` at the time the process is shutting down. It seems the `TUNE_ORIG_WORKING_DIR` is used in both the script (for the data directory) and the `RayTrialExecutor` in tune/execution/ray_trial_executor.py
[code]

[2022-08-12 14:37] mgerstgrasser opened #27821 "[RLlib] Excessive evaluation if rollout_fragment_length < timesteps_per_iteration"
### What happened + What you expected to happen

If `rollout_fragment_length` is set to a value smaller than`timesteps_per_iteration` respectively `min_sample_timesteps_per_reporting`, then RLlib will evaluate (potentially much) more often than intended: Once it's in a training iteration where it should evaluate, it will call `Trainer.step()` many times, each time collecting only a small number of

[2022-08-12 16:05] #27774 closed

[2022-08-12 16:05] #27720 closed

[2022-08-12 16:07] #27580 closed

[2022-08-12 16:14] #27471 closed

[2022-08-12 16:22] ZhijieWang opened #27822 "[RL Lib] Reporting metric / stats wrong type."
### What happened + What you expected to happen

We found a bug in PPOTorchPolicy when using
use_critic = False
Bug is on lines 173 and 174.
        model.tower_stats["mean_vf_loss"] = mean_vf_loss
        model.tower_stats["vf_explained_var"] = explained_variance(
            train_batch[Postprocessing.VALUE_TARGETS], value_fn_out
        )
On 173 wrong type is used for reporting (Float instead o

[2022-08-12 16:32] edoakes commented on #27446
https://github.com/ray-project/ray/pull/27746

[2022-08-12 16:32] #27446 closed

[2022-08-12 16:39] #27726 closed

[2022-08-12 17:14] zoltan-fedor commented on #27720
Hi @shrekris-anyscale, @edoakes,

I don't believe this is fully fixed, or something might be wrong somewhere. The PR has only removed the two example metrics (`serve_backend_queuing_latency_ms` and `serve_replica_queued_queries`) I have mentioned in Slack (based on which this issue was opened) but did not clean up all metrics I am not able to see on the worker nodes like the `serve_num_deployment_

[2022-08-12 17:40] architkulkarni opened #27827 "[CI] `bk://:book: Lint` is failing/flaky on master."
- 6b886d394c229c5df7df72a00df85eba26037269 FAILED [:book: Lint](https://buildkite.com/ray-project/ray-builders-branch/builds/9469#018292eb-9f18-495a-bfd3-a114d3002763)
- 0badbb8b1e4b75361ccde8277238f67ebc050b59 FAILED [:book: Lint](https://buildkite.com/ray-project/ray-builders-branch/builds/9468#018292ec-052b-40c7-9ad9-fdac315016ad)
- 92e315f970543584ab582336b8e9ed07d26b3d35 FAILED [:book: Lint](

[2022-08-12 18:06] jjyao commented on #27739
If you forbid users to set their own `VISIBLE_CUDA_DEVICES` then I think it's not possible with current Ray. The reason is that Ray works with logical resources not physical resources and it's user's responsibility to map the logical one to the physical one (it's just by default, it happens to be a 1:1 mapping which is not the case in your scenarior).

[2022-08-12 18:07] alanwguo commented on #27736
@MissiontoMars , we're going to look into adding behavior to automatically pick a free port if one is not specified.

For now, the simplest work around is to start your ray cluster from the command line `ray start --head --dashboard-agent-listen-port 52367` and then connect to that running cluster by running `ray.init("auto")` from your python script.

You'd have to remember to manually stop your

[2022-08-12 18:28] #27677 closed

[2022-08-12 18:30] simon-mo commented on #27720
These metric exposition is lazy. This means that they will show up in the endpoint only when the metric counter/gauge is actually updated in each node. Can you check the placement of the your model ServeReplica in each node?

[2022-08-12 18:34] simon-mo commented on #27720
Would you be interested in help us crafting a reproducible example so we can debug this?

[2022-08-12 18:37] #27468 closed

[2022-08-12 18:48] zoltan-fedor commented on #27720
This is the node placement of my test cluster. I have connected to all nodes manually and verified that none of them contain the missing metrics.
![image](https://user-images.githubusercontent.com/3887295/184424076-20f7858f-456e-4b34-9135-f4baa9d7e5d6.png)

[2022-08-12 18:51] zoltan-fedor commented on #27720
It is hard to create a reproducible example for this if I never managed to reproduce the way how it is supposed to work. So I can't tell what is what I am doing is different from what I was supposed to be doing.
These deployments were deployed via Haystack using the Ray Serve autoscaling option. The autoscaling option is the only one which I think might be causing this - thinking that maybe that i

[2022-08-12 19:26] zoltan-fedor commented on #27720
Okey, so here is a small reproduce-able example. Matter of fact I couldn't make those metrics to show up at all.

1. Deploy Ray cluster v2.0.0rc0 (Py39) (in our case it is running on Kubernetes)
2. Install matching Ray Python client
3. Run the following code:
[code]

4. This might look like this deployed:
![image](https://user-images.githubusercontent.com/3887295/184429195-5459d097-997e-4d36-a595-

[2022-08-12 19:26] scv119 opened #27830 "[2.0][CI] test_curiosity is broken"
### What happened + What you expected to happen

https://buildkite.com/ray-project/ray-builders-branch/builds/9471#018292f8-2c66-4f2e-bb83-22f7e549ca5a/250-3237
the test has been broken at latest 2.0.0 release branch, please take a look

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-12 19:31] scv119 opened #27832 "[2.0][CI][Windows] ray\serve\tests\test_myst_doc.py failed"
### What happened + What you expected to happen

https://buildkite.com/ray-project/ray-builders-branch/builds/9471#018292d6-049f-4df5-8ccb-432d0f00afdc/3488-4659
[code]

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-12 19:33] scv119 opened #27833 "[2.0][CI][Windows] //python/ray/tests:test_tensorflow failed"
### What happened + What you expected to happen

https://buildkite.com/ray-project/ray-builders-branch/builds/9471#018292d6-04a0-4564-bc27-497918ed5e23/5121-9696
[code]

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-12 19:35] scv119 opened #27834 "[2.0][CI][Windows] test_client_library_integration.py failed"
### What happened + What you expected to happen

https://buildkite.com/ray-project/ray-builders-branch/builds/9471#018292d6-04a1-4c60-8018-c2e44384e27a/6748-6781
[code]

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-12 19:47] zoltan-fedor commented on #27720
Ok, I have figured out what is happening.
A handful of the Ray Serve metrics are ONLY collected when the HTTP request is used to query and not when queried directly from Python:
`ray_serve_deployment_queued_queries`, `ray_serve_num_router_requests`, `ray_serve_handle_request_counter`, `ray_serve_num_http_requests`

See below the additional metrics when deploying with the HTTP server and calling fr

[2022-08-12 20:00] architkulkarni commented on #27834
cc @simon-mo @zcin I think this is related to the Gradio cherry pick

[2022-08-12 20:01] architkulkarni commented on #27832
Likely same root cause as https://github.com/ray-project/ray/issues/27834

[2022-08-12 20:04] architkulkarni commented on #27834
Guessing it will be fixed when https://github.com/ray-project/ray/pull/27662 is cherrypicked?

[2022-08-12 20:16] clarkzinzow commented on #27792
@thatcort @xwjiang2010 This kind of at-runtime multiplexing is already possible in Datasets (without having to dynamically define classes that close over args needed in its constructor) via providing a `CallableClass` to [`ds.map_batches()`](https://docs.ray.io/en/master/data/api/dataset.html#ray.data.Dataset.map_batches) along with constructor arguments that you wish to be passed through for init

[2022-08-12 20:16] architkulkarni commented on #27834
Hmm, but https://github.com/ray-project/ray/commit/45ebe632e6321b2dff0db2fb8a9231ec07649912 has already been picked into 2.0.0.  So not sure why this failure is happening on 2.0.0, but not on this PR https://github.com/ray-project/ray/pull/27662

[2022-08-12 20:19] thatcort commented on #27792
That solves it! Thank you, @clarkzinzow !

[2022-08-12 20:20] xwjiang2010 commented on #27792
also @iycheng to see if this is intended usage pattern for workflow.

[2022-08-12 20:24] thatcort commented on #27792
`fn_constructor_args` isn’t listed in the API reference: https://docs.ray.io/en/latest/data/package-ref.html#ray.data.Dataset.map_batches

[2022-08-12 20:41] #27449 closed

[2022-08-12 20:41] shrekris-anyscale commented on #27720
Hi @zoltan-fedor, thanks for digging into this issue! I agree that it would be helpful for the docs to discuss the metrics that show up via HTTP requests vs via Python handle. Do you mind filing two tickets, so we can track this:

1. Serve should document which metrics show up due to HTTP and which ones show up due to a Python handle.
2. Serve should add more Python handle metrics to mirror HTTP r

[2022-08-12 20:46] zoltan-fedor commented on #27720
Hi @shrekris-anyscale ,
Sure, I am happy to raise the two tickets and also make a PR for #1.
My only concern with the PR, that actually I haven't yet found where the Python handle goes, so I have not  yet seen in the code where its metrics are being (or might be) collected. This way whatever documentation PR I would do, would be based on mostly trial and error on the Python handler side.

[2022-08-12 20:50] zoltan-fedor opened #27837 "[Serve][Docs]"
### Description

The `[Ray Serve documentation about the metrics](https://docs.ray.io/en/releases-1.13.0/serve/monitoring.html#metrics)` states that all the listed metrics are available on all nodes, while in fact it seems that some metrics are only collected when the deployments are called via HTTP and NOT when called via Python.

The documentation should be more clear about what metrics will sho

[2022-08-12 20:54] shrekris-anyscale commented on #27720
Thanks that would be great! We really appreciate the help.

Ah, that's a fair concern. For now, how about we add two short notes to the docs:

1. To the [monitoring page](https://docs.ray.io/en/latest/serve/monitoring.html#metrics) that lists which metrics are collected only for HTTP.
2. As you proposed, to the [Python `ServeHandle` section](https://docs.ray.io/en/latest/serve/http-servehandle.htm

[2022-08-12 20:55] zcin commented on #27834
I think this is the same issue that was introduced when we added `gradio` as a dependency in CI, but this time it is because of `gym_minigrid`. There was a new version released for it 2 days ago: https://pypi.org/project/gym-minigrid/#history. Now `gym_minigrid` also has `matplotlib` as a dependency: https://github.com/Farama-Foundation/gym-minigrid/blob/master/requirements.txt#L3.

For reference

[2022-08-12 21:10] DmitriGekhtman commented on #27521
The rc1 candidate is now available!

[2022-08-12 21:11] zoltan-fedor opened #27840 "[Serve] The Python handler should log the same (or similar) metrics as the HTTP one currently does"
### Description

Currently the documentation lists a [healthy number of useful metrics](https://docs.ray.io/en/latest/serve/monitoring.html#metrics) for Ray Serve.

Unfortunately it turns out (see the discussion at the bottom of https://github.com/ray-project/ray/issues/27720), most of those metrics are only available when the Ray Serve Deployments are called via HTTP, but NOT when they are called

[2022-08-12 21:21] #23154 closed

[2022-08-12 21:21] #22654 closed

[2022-08-12 21:21] #22740 closed

[2022-08-12 21:21] #22755 closed

[2022-08-12 21:21] #22764 closed

[2022-08-12 21:21] #22773 closed

[2022-08-12 21:21] #19901 closed

[2022-08-12 21:21] #22707 closed

[2022-08-12 21:21] #22812 closed

[2022-08-12 21:21] #22744 closed

[2022-08-12 21:21] #22841 closed

[2022-08-12 21:21] #22846 closed

[2022-08-12 21:21] #21294 closed

[2022-08-12 21:21] #22795 closed

[2022-08-12 21:21] #21752 closed

[2022-08-12 21:21] #22869 closed

[2022-08-12 21:21] #22895 closed

[2022-08-12 21:21] #22897 closed

[2022-08-12 21:21] #22850 closed

[2022-08-12 21:21] #22531 closed

[2022-08-12 21:21] #19585 closed

[2022-08-12 21:21] #22532 closed

[2022-08-12 21:21] #21173 closed

[2022-08-12 21:21] #20196 closed

[2022-08-12 21:21] #21241 closed

[2022-08-12 21:21] #22573 closed

[2022-08-12 21:21] #22404 closed

[2022-08-12 21:21] #22413 closed

[2022-08-12 21:21] #22372 closed

[2022-08-12 21:21] #22377 closed

[2022-08-12 22:12] #27440 closed

[2022-08-12 23:02] #27830 closed

[2022-08-12 23:02] #27832 closed

[2022-08-12 23:02] #27834 closed

[2022-08-12 23:02] #27833 closed

[2022-08-12 23:32] jianoaix commented on #27710
Ran it 6x today (mostly trying to observe the live CPU load) and all of them passed (so nothing suspicious observed), the failure rate shouldn't be that high :)

Now the alternative is to try out a local grafana and see the cpu metrics of the CCS and dead node in failed sessions.

[2022-08-13 00:11] #27692 closed

[2022-08-13 00:40] #26635 closed

[2022-08-13 03:21] #22469 closed

[2022-08-13 03:21] #22403 closed

[2022-08-13 03:21] #19939 closed

[2022-08-13 03:21] #22255 closed

[2022-08-13 03:21] #22068 closed

[2022-08-13 03:21] #21623 closed

[2022-08-13 03:21] #22294 closed

[2022-08-13 03:21] #21857 closed

[2022-08-13 03:21] #21981 closed

[2022-08-13 03:21] #21983 closed

[2022-08-13 03:21] #21254 closed

[2022-08-13 03:21] #19457 closed

[2022-08-13 03:21] #18758 closed

[2022-08-13 03:21] #21326 closed

[2022-08-13 03:21] #21275 closed

[2022-08-13 03:21] #21290 closed

[2022-08-13 03:21] #21234 closed

[2022-08-13 03:21] #21271 closed

[2022-08-13 03:21] #21181 closed

[2022-08-13 03:21] #16616 closed

[2022-08-13 03:21] #21202 closed

[2022-08-13 03:21] #21205 closed

[2022-08-13 03:21] #21248 closed

[2022-08-13 03:21] #21253 closed

[2022-08-13 03:21] #21185 closed

[2022-08-13 03:21] #21167 closed

[2022-08-13 03:21] #21127 closed

[2022-08-13 07:45] stephano41 commented on #27646
I don't have one ready to copy and paste into this, but can confirm I a similar status report message before it exits, just different directory and names. I usually don't get any stack trace, however I do sometimes get the stack trace mentioned above:
[code]

[2022-08-13 08:25] digits122 commented on #21994
I meet this same error, this issue should not be closed.

[2022-08-13 14:24] WeichenXu123 commented on #27739
@jjyao
Thank you. Any plan to support this in Ray Node runtime ? We just need to add physical devices mapping config for "Ray Node Runtime". We can reuse the `VISIBLE_CUDA_DEVICES` env to setting it, like:

[code]

CC @mengxr

[2022-08-13 19:01] mattip commented on #27646
In the first script,  after setting `gpus_per_trial=0` it runs all 250 trials without failing in 5hr40min. I wonder if there is a problem with the torchvision GPU code causing a failure.

[2022-08-13 19:14] mattip commented on #21994
@digits122 could you provide a complete report of how to reproduce this? Preferably using `ray-2.0.0rc0`.

[2022-08-13 20:16] mgerstgrasser commented on #21479
Just to comment here that I've been seeing what I think is the same issue recently, i.e. the "Failed to register worker" error message.
[code]
It happens randomly in between 1% and 10% of runs I've had recently. Initially I had a more detailed error message, which was as follows:
[code]
I then added `include_dashboard=False` to my `ray.init()` call hoping that would fix the issue, but it merely go

[2022-08-13 23:20] peytondmurray opened #27851 "[AIR] Tracking issues in AIR examples tested on Windows"
### What happened + What you expected to happen

I've spent some time testing the [AIR examples](https://docs.ray.io/en/master/ray-air/examples/index.html) on Windows. This issue is intended to track issues encountered while running through the examples manually. Each example has it's own collapsible section - let me know if a better format for these notes would be preferred.

<details>
  <summary

[2022-08-14 02:36] pcmoritz opened #27853 "[docs] None of the doctests are running"
### What happened + What you expected to happen

A the moment, all our doc tests are  `# doctest: +SKIP`ed. This makes us miss a bit opportunity to keep them in sync with the rest of the code and use them as unit tests.

I believe the reason is because in the documentation Ray is heavily mocked (e.g. all the C extensions are mocked). We should have a mode where this is not the case and run `make d

[2022-08-14 04:56] mvindiola1 commented on #27821
Hi @mgerstgrasser,

I noticed this error too.  Can you check if the error still exists in the nightly build.  When I checked I thought I saw it was fixed.

[2022-08-14 05:37] mattip commented on #21479
For everyone reporting here: saying "me too" is insufficient to help solve the problem. Please describe in as much detail as you can:
- your machine and operating system
- are you running ray on a local or remote file system
- what version of ray
- what script are you running

[2022-08-14 07:31] mattip commented on #27851
It might make sense to split these up into groups: fail to run to completion, emits internal deprecation warnings, emits other warnings, fails to produce the correct answer. Some examples may appear in more than one group.

[2022-08-14 16:19] abdjea commented on #27368
Hi @kouroshHakha , you have the script with simulated data just below without personal drive paths :

"""
import numpy as np

#Data simulation
nbr_dim=4096
nbr_seg=46304

list_seg = np.random.rand(nbr_seg,nbr_dim,).astype(np.float32)
list_label = np.random.randint(0,2,(nbr_seg,))

print(list_seg.shape)
print(list_label.shape)

#Create custom environment
import gym
from gym import spaces
import ray

[2022-08-15 02:30] xiaoToby commented on #20747
Did you fix the error now ?

[2022-08-15 08:35] sidazhou commented on #9419
What's the recommended way to do this now?

[2022-08-15 09:10] krfricke commented on #25011
@nikitavemuri can you share the reproduction example that does report the logs when used in actors? In your example above the remote task logs to wandb for me but the actor does not.

If the mixin is not used, Tune does not set any wandb-specific settings.

Tune does optionally allow to redirect output to a file, but this does not happen per default, and it will still also output to sys.stdout / s

[2022-08-15 09:43] kfstorm opened #27863 "[Core] The Idle worker killing feature slows down tasks"
### What happened + What you expected to happen

Raylet kills idle workers periodically when the number of workers exceeds `num_cpus` of the node. It's OK if we only run tasks on the node. However, if there are actors on the node and these actors are not CPU-bound, we may see many workers started and killed from time to time. The killing happens if the workload of a job changes from full to non-fu

[2022-08-15 09:46] kfstorm commented on #27863
cc @fyrestone

[2022-08-15 09:49] kfstorm commented on #27863
@rkooo567 @stephanie-wang A quick fix I can think of is that we change the condition from `running_workers > num_cpus` to `running_non_actor_workers > num_cpus`, but I'm not sure if this change has any downsides.

[2022-08-15 11:07] #27750 closed

[2022-08-15 11:59] maxpumperla commented on #27853
@pcmoritz are you sure they don't run at all? In https://github.com/ray-project/ray/pull/23418 I fixed all 600 of them, skipping many, but certainly not all (I'd estimate around 40-50%). But at that point `make doctest` was running. Are you saying we deactivated this again since then?

[2022-08-15 14:53] scv119 opened #27866 "[2.0][nightly-test] golden_notebook_modin/dask_xgboost_test failure"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/904#0182a037-832c-48a2-821d-595e851ca4b9
https://buildkite.com/ray-project/release-tests-branch/builds/904#0182a037-8332-4850-a6c4-b11a29a8f044

[code]

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my tas

[2022-08-15 14:55] scv119 opened #27867 "[2.0][releases] air_benchmark_tensorflow_mnist_gpu_4x4 timed out"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/904#0182a037-82d3-4420-bd40-64262480f31b
[code]

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-15 14:58] scv119 opened #27868 "[2.0][nighly-test] ml_user_ray_lightning_user_test_master failed"
### What happened + What you expected to happen

[code]
https://buildkite.com/ray-project/release-tests-branch/builds/904#0182a037-83f8-4e72-b1d8-27ad6f67936e

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-08-15 15:07] xwjiang2010 commented on #27866
https://github.com/ray-project/ray/pull/27865

[2022-08-15 15:08] xwjiang2010 commented on #27866
@scv119 do you want to cherry-pick this one?

[2022-08-15 15:14] xwjiang2010 commented on #27868
duplicated as this one: https://github.com/ray-project/ray/issues/26345

[2022-08-15 15:14] #27868 closed

[2022-08-15 15:19] xwjiang2010 commented on #27868
linked the wrong one.
https://github.com/ray-project/ray/issues/27755

[2022-08-15 15:27] scv119 commented on #27866
sgtm, let me do that.

[2022-08-15 15:29] #27866 closed

[2022-08-15 15:40] xwjiang2010 commented on #27867
Looking at the log, seems legit timeout.
@krfricke Are you ok to increase the timeout? Each portion is taking around 480 seconds and there are 6 of them. Plus some data downloading and initial setup.

[2022-08-15 15:45] rueian commented on #23865
I got the same grpc "Exception iterating requests!" error when connecting to a Ray Head behind a golang grpc proxy server.

I am using Ray 1.13.0

<img width="1338" alt="2022-08-15 23 42 21" src="https://user-images.githubusercontent.com/2727535/184668038-d8f122f0-a3dd-42e2-bfdd-dbbe87c7320e.png">

[2022-08-15 15:59] stephanie-wang commented on #27863
Nice find! Yeah, it makes sense to not consider actors in the worker count. It might get hairy with race conditions but another policy we could try is `idle workers == num CPUs not in use`.

[2022-08-15 16:04] xwjiang2010 commented on #27867
actually does seem a true regression. On master: https://buildkite.com/ray-project/release-tests-branch/builds/893#0182943a-545e-4b2a-b245-4597853a6d17

Each leg only takes < 85 seconds. (comparing with 480 seconds)

[2022-08-15 16:05] xwjiang2010 commented on #27867
let's see how the retry goes - https://buildkite.com/ray-project/release-tests-branch/builds/904#0182a21f-c89b-417c-bd76-57077090c412

[2022-08-15 16:19] xwjiang2010 commented on #27867
Debugged this with @krfricke  actually the difference between the two is that one is smoke test. Preparing a PR to increase non-smoke test timeout.

[2022-08-15 16:20] rkooo567 commented on #27863
`running_non_actor_workers > num_cpus` sounds like we are going to have a separate worker pool for tasks. In this case, isn't this more intuitive to explain if we always guarantee to have num_cpus worker pool for tasks? (e.g., when a new actor is created, we create a new worker for task worker pool).

Or alternatively, we can only exclude 0 CPU actors? (in this case, the worker pool is shared by a

[2022-08-15 16:22] rueian commented on #23865
Hi @architkulkarni,

I am running this:

[code]

to my local ray head:
[code]

through a golang grpc server:
[code]

Then the driver will print out "Log channel is reconnecting. Logs produced while the connection was down can be found on the head node of the cluster in `ray_client_server_[port].out`" and the logs/ray_client_server.err file contains the above snapshot content.

Sorry for the inconv

[2022-08-15 16:35] rkooo567 opened #27871 "[Doc] Add a glossary page"
### Description

Add a glossary page to the documentation

### Link

_No response_

[2022-08-15 16:36] rkooo567 commented on #27871
We can also consider using https://sphinx-hoverxref.readthedocs.io/en/latest/usage.html#tooltip-on-glossary-terms

[2022-08-15 16:41] mattip commented on #27646
Updating pytorch to 1.13 did not solve the problem
[code]

Carefully watching taskmanager at the time of the failure, I see a spike in GPU % utilization. It is pretty steady at 20% but then hits 100%. I don't know if that is the cause, or if that is a side-effect of the failure.

[2022-08-15 17:51] architkulkarni commented on #27624
Thanks @saswatac for reporting this and figuring out the fix, it seems like a valid problem and the proposed solution seems reasonable!  Would you be willing to submit a PR for this?

[2022-08-15 18:05] jianoaix opened #27874 "[Datasets/Core] worker died after the test succeeded in pipelined_data_ingest_benchmark test"
This nightly test has been succeeding: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_91Vauj2sHzU9RLhtwRBCaTSw

However the worker died with the following:
[code]

cc @jjyao

[2022-08-15 18:35] xwjiang2010 commented on #27790
Thank you @Stefan-1313 for such detailed writeup. Now I understand what is the difference between your setup and mine.
In your setup, Ray Tune does not have the time to do final checkpointing (which updates what is the right ckpt to use when resuming the tune run).

From my understanding this is what is happening. Let's assuming that checkpoints are kept based on their chronological order - you ca

[2022-08-15 18:40] Joshuaalbert opened #27877 "[Serve] 'SERVE_CONTROLLER_ACTOR' already exists in the namespace serve"
### What happened + What you expected to happen

I am deploying a serve application. **Sometimes** I get this namespace clash, but not all the time. When it happens the ingress point does not launch. The deployment is always fresh using docker, so there is no preexisting ray instance running (so there shouldn't be something taking this namespace). This smells like a race condition.

This is not go

[2022-08-15 19:10] xwjiang2010 commented on #26802
@gjoliver could we get a reproduce? I think we need to figure out why pyarrow is not working..

[2022-08-15 19:26] jjyao commented on #27813
cc @rkooo567 @rickyyx

[2022-08-15 19:34] jjyao commented on #27800
Sounds like a reasonable thing to add. cc @rkooo567.

Just curious: what if you maintain the mapping from obj_ref to actor yourself?

[2022-08-15 19:42] jjyao commented on #27820
HI @Alxe1,

I was not able to reproduce the same error. The script works for me. Did you install cloudpickle explicitly? Are you able to reproduce it with a fresh environment with only Ray and tensorflow installed?

[2022-08-15 20:00] ljjsalt commented on #27800
I think that works, too. But consider node failure is not supposed to happen frequently, it's not worthing tracing every obj refs.

[2022-08-15 20:03] jaikumarg1 commented on #27813
@alanwguo who is the right owner for this? Assuming core team here.

guessing we can easily reproduce this, if yes, let's write a repro case and assign to Chen

[2022-08-15 20:18] alanwguo commented on #27813
Yes,

This is happening in the `long_running_actor_deaths` nightly test. We can ping the core oncall next time this happens.

@scv119 does that work?

CC: @galenhwang

[2022-08-15 20:21] #26345 closed

[2022-08-15 20:22] #27867 closed

[2022-08-15 20:35] austinnichols101 opened #27881 "[Feature] Core: Python 3.11 wheel"
### Description

Add support for Ray with python 3.11.

Python 3.11.0rc1 release 2022-08-02
Official release planned for Monday 2022-10-03

### Use case

ref: https://www.python.org/downloads/release/python-3110rc1/

```We strongly encourage maintainers of third-party Python projects to prepare their projects for 3.11 compatibilities during this phase.```

[code]

[2022-08-15 20:38] architkulkarni commented on #23865
Thanks for the details!  This should be enough for us to try to reproduce the error.  @ckw017 do you happen to know anything about the proxy issue @rueian is facing?

[2022-08-15 20:56] pcarinhas opened #27882 "Core"
### Description

Add support for full JSON logging output.

When outputting logs to /tmp/ray/session_latest/*, ensure all output is full JSON structured logs. This is important for allowing other processes to parse and react to the data.

### Use case

We want to be able to react and parse logging data in a programatic way. The unstructured nature of the current plain logs doesn't easily lend itse

[2022-08-15 20:58] #26895 closed

[2022-08-15 20:58] #27132 closed

[2022-08-15 20:59] #27140 closed

[2022-08-15 20:59] #27136 closed

[2022-08-15 20:59] #27137 closed

[2022-08-15 20:59] #27139 closed

[2022-08-15 21:01] pcarinhas opened #27883 "Core"
### Description

Add support for full JSON logging output.

When outputting logs to /tmp/ray/session_latest/*, ensure all output is full JSON structured logs. This is important for allowing other processes to parse and react to the data.

### Use case

We want to be able to react and parse logging data in a programatic way. The unstructured nature of the current plain logs doesn't easily lend itse

[2022-08-15 21:23] #27108 closed

[2022-08-15 21:47] #27755 closed

[2022-08-15 23:13] DmitriGekhtman opened #27888 "[Autoscaler][GCP] Autofill GCP node type resources"
### Description

For AWS, we look up a node's resource capacities automatically based on the instance type.
https://github.com/ray-project/ray/blob/a3236b62254348ed1c09062d57be7a2fd8e6c4af/python/ray/autoscaler/_private/aws/node_provider.py#L595

It wouldn't hurt to implement the same logic for GCP, to make life simpler for users of Ray on GCP.

### Use case

Simplify configuration for GCP VMs.

[2022-08-16 01:49] Alxe1 commented on #27820
Yes, I create a new virtual env, and the version:
tensorflow              2.3.0
ray                          1.13.0
cloudpickle             2.1.0

Is it a reason that I didn't have a GPU?

[2022-08-16 02:21] guodashun opened #27895 "[AIR] Thread creation FAILED in tensorflow training"
### What happened + What you expected to happen

We test the tensorflow distributed training task in our local cluster(10 nodes with 64 cpus per node). We test the situation that train with a big number of workers.
[code]
The question is, when we set a num that is bigger than the num of CPU in one node, we get the error msg as follows:
[code]
And we find when we add the param `resources_per_worker

[2022-08-16 02:41] wuisawesome commented on #26670
Unassigning until I'm sure that I will take this on.

[2022-08-16 08:28] krfricke commented on #25011
I've managed to confirm that actors do indeed log to wandb.

I think the main thing that might be happening here is that the actors are destroyed before the wandb background task synchronizes everything up. Wandb collects logs, metrics, and artifacts in local files and uploads them asynchronously.

For the the difference was the `wandb.finish()` call. Without it, I wouldn't see logs in tune. With

[2022-08-16 08:36] dirkweissenborn commented on #25011
This shouldn't be the issue in our case, as the jobs are running for quite a long time. Anyway, we actually do call `wandb.finish`. We are using python logging though, could that make a difference?

[2022-08-16 08:58] ophiry opened #27904 "[tune] allow using (nested) data classes for search space definition"
### Description

Currently ray tune uses dictionaries to define the search space configuration

If it possible to also use dataclasses or similar “strongly typed” definitions?

besides making the configuration more robust (no typo issues)
it will allow creating "building blocks" for the configuration:
a `Model` will include several  `Layers`s
each layer may have a `Regularization` definition etc.

[2022-08-16 11:21] acxz commented on #27881
I was planning on working on this right after #21221 is merged.

[2022-08-16 11:35] saswatac commented on #27624
Hello, @architkulkarni thanks for your response, I will be happy to submit a PR. I can probably get started on it towards the end of the week.

[2022-08-16 12:17] Stefan-1313 commented on #27790
Hi @xwjiang2010 ,

Thanks for your in dept reply! Very interesting things you mention.
We are still developing our RL program with Ray so things are moving all the time.

---

Usually, we run our code using Azure Machine Learning service on Low Priority nodes. Because of the low priority nodes, the docker container is stopped once in a while by Azure and restarted when Azure has sufficient compute

[2022-08-16 12:47] sujit420 opened #27905 "[Serve] Issue on page /serve/getting_started.html"
I am using below code as suggested for my 2 gpus.
from starlette.requests import Request

import ray
from ray import serve

from transformers import pipeline
from parallel import *

@serve.deployment(num_replicas=2, ray_actor_options={"num_cpus": 0, "num_gpus": 1})
class Translator:
    def __init__(self):
        # Load model
        self.model = get_model()#pipeline("translation_en_to_fr", model

[2022-08-16 13:37] merrysailor commented on #24969
Hi,

I get this very consistently, i.e., after a GCP node preemption, the ray.get call on the driver "hangs", in the sense that ray memory reports that the relevant tasks are SCHEDULED, but no task actually runs on the cluster. This is for ray 1.12.1 and 1.13.0. Is there anything I could try to provide more information? I am attaching some logs from gcs_server.out

`
[2022-08-16 12:47:47,774 I 167

[2022-08-16 14:20] james811223ad commented on #27905
Here's how I do it
[code]

[2022-08-16 14:57] xwjiang2010 opened #27907 "[tune] trial not making any progress despite started"
### What happened + What you expected to happen

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_mWECugke9RzMh79BZQqeykjN/clusters/ses_G2LzKs68e4jjqXLzmTwnGJhU?command-history-section=command_history

https://buildkite.com/ray-project/release-tests-branch/builds/908#0182a3b1-d8ed-40ef-8758-89425fc4ec39

[code]

### Versions / Dependencies

nightly

### Reproduction script

NA

[2022-08-16 15:39] antoine-galataud opened #27909 "[RLlib] make policy evaluation support Attention nets"
### What happened + What you expected to happen

Script `rllib/evaluate.py` fails when running evaluation loop for an agent trained with provided Attention nets. Problem is that policy initial state is an empty array.

Following exception occurs:

[code]

### Versions / Dependencies

Ray 1.13.0

### Reproduction script

Take `rllib/examples/attention_net.py` then change running with Tune by:

[cod

[2022-08-16 15:43] peterghaddad opened #27910 "[Autoscaler] The autoscaler could not find a node type to satisfy the request"
### What happened + What you expected to happen

I am running the PPO Trainer with num_workers set to 8. It seems when I first launch an experiment after creating a new Ray Cluster, then everything gets scheduled and there are no errors with the autoscaler. After the experiment completes and I re-submit the Job, then I get the following error.

[code]

My CPU Worker has the following resources: Re

[2022-08-16 15:43] #27701 closed

[2022-08-16 16:01] jjyao commented on #27874
The reason is that the pipeline is infinite in the test and you only read first 2 epochs, which means when the script exits, there is some task running for the next window and it will be killed.

[2022-08-16 17:09] zhe-thoughts opened #27913 "[Workflow] [Docs] We should use the term "workflow" consistently"
### Description

We sometimes use "workflow", e.g. https://docs.ray.io/en/master/workflows/concepts.html

and sometimes "workflows", see the TOC
<img width="262" alt="Screen Shot 2022-08-16 at 10 09 05 AM" src="https://user-images.githubusercontent.com/10713559/184938273-7bba1332-ca39-4d78-8cbc-20c05a183adb.png">

### Link

_No response_

[2022-08-16 17:14] c21 opened #27914 "[Datasets] Consolidate exception/error in Datasets"
### What happened + What you expected to happen

The exception/error raised currently in Datasets is not always consistent. E.g. for the same error of batch type, in some code path it raises TypeError https://github.com/ray-project/ray/blob/master/python/ray/data/block.py#L394 while in other code path it raises ValueError https://sourcegraph.com/github.com/ray-project/ray@master/-/blob/python/ray/

[2022-08-16 18:43] xwjiang2010 commented on #27895
I looked up this return code (11) - it suggests that the machine is running low on resources.
To address this, you need to restrict how many workers are running simultaneously on the same machine. Limiting `num_workers` is one way, setting `resources_per_worker` to be larger than 1 CPU is another way. They are effectively doing the same thing.

[2022-08-16 19:05] xwjiang2010 commented on #27790
@Stefan-1313 Got it. What you said all makes total sense and is invaluable for us. (Fault tolerance is one big area we are going to focus on for the rest of the year).

I totally understand that when/how cloud provider kills nodes is entirely out of our user's control and that's exactly where Ray can do better to be more resilient to all that. So thank you for bringing this to our attention.

Alon

[2022-08-16 20:20] baswelsh commented on #21786
VERY interested in this.  Without it, we are unable to use Ray from a Docker container running on ARM (Apple Silicon).  We instead need to run our containers as x86 which is very slow on the M1s.

[2022-08-16 21:03] scottsun94 opened #27921 "[observability] JSON file generated by Ray timeline doesn't render correctly in the new version of chrome tracing (perfetto)"
### What happened + What you expected to happen

I used the `ray timeline` to generate the JSON file. It could be rendered normally in `chrome://tracing`. However, when I tried the new UI of `chrome:tracing` which is https://ui.perfetto.dev/ . The timeline is rendered incorrectly.
<img width="1646" alt="Screen Shot 2022-08-16 at 1 53 09 PM" src="https://user-images.githubusercontent.com/9677264/18

[2022-08-16 21:11] bveeramani opened #27922 "[AIR] Correct error doesn't propagate"
### What happened + What you expected to happen

I tried to save my model with `session.report` and `TorchCheckpoint` but I got

See the [full traceback](https://gist.github.com/bveeramani/dfd0f2f4bbe8b2c916d6ba86ef5bc21d).

This issue arose while updating  [Training a Torch Classifier](https://docs.ray.io/en/master/ray-air/examples/torch_image_example.html) to use `TorchCheckpoint`.

### Versions

[2022-08-16 21:30] xwjiang2010 commented on #22733
Is this still relevant? @matthewdeng

[2022-08-16 21:35] supersglzc opened #27923 "[Collective] the demo is not working"
### What happened + What you expected to happen
[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-08-16 21:43] jjyao commented on #24969
Hi @merrysailor,

Glad to hear that you can reproduce it consistently. Do you mind posting a single repro script with the cluster setup, so I can try to reproduce it on my side as well. Also could you try the nightly wheel (https://docs.ray.io/en/latest/ray-overview/installation.html#daily-releases-nightlies) to see if the issue still exists on master? Thanks!

[2022-08-16 21:44] xwjiang2010 commented on #27702
@kouroshHakha

[2022-08-16 21:49] peytondmurray commented on #27851
In an effort to make the notes more useful, I've grouped the issues I encountered above together so that we can more easily track them and check them off the list as they are addressed. They're grouped into [internal warnings](#internal-warnings), [errors](#errors), [other warnings](#other-warnings), and [todo items](#other-todo-items). I've labeled problems that I think are specific to a single e

[2022-08-16 21:50] xwjiang2010 commented on #27011
@krfricke is this already fixed by you?

[2022-08-16 21:53] amogkam commented on #25197
As it stands various examples do things in different ways and sometimes differ from documentation (some examples use TensorArray, some examples implement a custom Serve pandas http adapter while others use the built-in one, examples use generic ray.air.Checkpoint while in docs we use framework specific checkpoints).

Having consistency across all of our examples and documentation is incredibly imp

[2022-08-16 22:00] jiaodong opened #27925 "[AIR] Better error message for column dim mismatch"
### What happened + What you expected to happen

When iter tf batches like this ..

[code]

We would see exception directly from TF level complaining about tensor dim mismatch, which could be caused by user upstream UDF.

[code]

## Action needed

Return which column is problematic so the error message is at least actionable.

### Versions / Dependencies

master

### Reproduction script

above

##

[2022-08-16 22:34] richardliaw commented on #27767
Do you need to reset your Kaggle kernel? Wonder if things are left out of date from a previous version.

[2022-08-16 22:42] Joshuaalbert commented on #27877
Could this be caused by starting a ray head immediately after calling `ray stop --force`? It seems to go away when `docker-compose  up --remove-orphans` is used.

[2022-08-16 22:52] richardliaw commented on #27923
@zhisbug can you take a look?

[2022-08-16 22:55] richardliaw commented on #27558
Would be valuable for this use case: https://stackoverflow.com/questions/73380596/grpcunavailable-when-setting-up-a-local-ray-cluster

[2022-08-16 23:24] richardliaw commented on #27767
Can you try reproducing this on Colab? Unfortunately it's very hard for us to reproduce this..

[2022-08-16 23:31] richardliaw commented on #27783
@olipinski thanks for the report! I believe the fix here is just to makes sure we don't call into MLflow again when on_trial_start is called a second time for the trial.

Would you be open to posting a pull request?

[2022-08-16 23:32] richardliaw commented on #26693
Should work now.

[2022-08-16 23:32] #26693 closed

[2022-08-16 23:37] richardliaw commented on #27339
Think this is fixed now!

[2022-08-16 23:37] #27339 closed

[2022-08-16 23:37] jjyao commented on #27820
What's your python version? Mine is 3.6.13.

Could you try `pip uninstall pickle5` and `pip uninstall cloudpickle` to see if that works?

Also could you share your `pip freeze`?

[2022-08-16 23:38] richardliaw commented on #27052
I think we should just document args in the docstring.

[2022-08-16 23:39] richardliaw commented on #27129
I'm thinking we shouldn't do this in AIR... users can use things like texthero or nltk to do a text sanitization operation first.

[2022-08-17 00:10] matthewdeng commented on #22733
Looks like it's still not fixed?

https://github.com/ray-project/ray/blob/master/python/ray/train/examples/tune_cifar_torch_pbt_example.py

[2022-08-17 00:28] JiahaoYao opened #27931 "[Ray component: Core] Respect the placement group when `num_gpus=0, num_cpus=0`"
### What happened + What you expected to happen

**Goal**: Ideally, we want the ray remote actors or tasks to respect the placement group bundle index even when no resources is allocated by ray.

**Observation**: Currently, the ray actor does not respect the ray placement group when no resources are specificed; and in order to respect the placement group, one might have to manually use `num_cpus=1

[2022-08-17 00:32] jjyao commented on #27883
@pcarinhas, could you give us some use cases of how you are going to use the structured logs? Also do you have any suggestions or requirements of the log schema?

[2022-08-17 00:33] jjyao commented on #27882
Duplicate of https://github.com/ray-project/ray/issues/27883

[2022-08-17 00:33] #27882 closed

[2022-08-17 00:36] kouroshHakha opened #27932 "[RLlib] Feature importance module report should be sorted by importance"
### Description

 feature importance printout was sorted alphabetically by feature name, which is not going to be most useful for the users. Can you please sort the features in the list in the decreasing order of their importance?

### Use case

_No response_

[2022-08-17 00:41] jjyao commented on #27739
There is no settled plan yet. I added to the backlog and will discuss with the team to see whether and when to support it.

[2022-08-17 00:47] architkulkarni commented on #27877
Oh, that sounds reasonable... Still, I would expect all Ray processes to be completely stopped after `ray stop --force` returns, so this still seems like a bug.

[2022-08-17 01:38] ezhang7423 opened #27935 "RLlib for very large models across parallel GPUs"
### Description

Training very large models split across multiple GPUs with RLlib

### Use case

Hi there! I am currently trying to replicate and extend the results of [Gato](https://www.deepmind.com/publications/a-generalist-agent), which requires splitting a very large model (500M~1B params) across multiple GPUs. Specifically, I plan to do offline training on a fixed dataset, then evaluate on mu

[2022-08-17 01:48] #27333 closed

[2022-08-17 02:29] #27448 closed

[2022-08-17 02:40] Alxe1 commented on #27820
My python version is 3.6.5, and I uninstalled pickle5 and cloudpickle, it still has the error.
The packages:
[code]

[2022-08-17 02:41] guodashun commented on #27895
emmm...It's not very clear for me that it is a way to limit the resource request.
As my test results,

the two test has the same `num_workers` and the **test 2** set the `resources_per_worker` to be larger than 1. I think the **test 2** requests more resources than test 1, isn't it?

[2022-08-17 02:42] creamiracle commented on #27638
Thanks for reply, I think I have found the reason.
I have also checked the link you offered before, but I got an error when import the `ray.air.config`, it seems that I can't find the "air" in ray. Is there any solution for that? The version is on the top of the before post.
Thanks.

[2022-08-17 02:53] #27435 closed

[2022-08-17 02:53] #27473 closed

[2022-08-17 02:53] #24787 closed

[2022-08-17 02:53] #24786 closed

[2022-08-17 02:54] #24691 closed

[2022-08-17 03:37] Alxe1 opened #27938 "tensorflow.python.framework.errors_impl.NotFoundError: ./multi_worker_model/variables/variables_temp/part-00000-of-00001.index; No such file or directory [Op:MergeV2Checkpoints]"
### What happened + What you expected to happen

Saving tensorflow multi-worker model as 'tf' format get error:
[code]

### Versions / Dependencies

[code]

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-08-17 03:49] Alxe1 opened #27939 "OSError: Unable to create file (unable to lock file, errno = 11, error message = 'Resource temporarily unavailable')"
### What happened + What you expected to happen

[code]

### Versions / Dependencies

[code]

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-08-17 06:29] mattip commented on #27851
The "Bad file descriptor" in `tfx_tabular_train_to_serve` is related to #25142. There is a work-around in the issue using `atexit`, and the fix will be part of tensorflow 2.10.

[2022-08-17 06:31] mattip commented on #25142
The upstream issue will be fixed in the 2.10 release of tensorflow.

[2022-08-17 06:35] mattip commented on #27851
Does the rllib initialization error in `rl_serving_example`, `rl_online_example`, and `rl_offline_example' reproduce on linux as well or is it Windows only?

[2022-08-17 06:36] mattip commented on #27851
Thanks! This was quite an effort!

[2022-08-17 07:28] Stefan-1313 commented on #27790
@xwjiang2010 Thank you!

I'd let you to it, but if I can assist with testing something, let me know.

Last night I saw a resume on Azure which was successful! The exact same code, but with the only difference of setting `keep_checkpoints_num=None` (this was 5 before).

I had this only confirmed locally, but not yet on Azure as I have no control about when a resume is required. This is based on 1 o

[2022-08-17 07:40] tsaoyu commented on #21329
Since Ray now support multiple clients, can we leverage this to run multiple `ray.tune` in the same cluster? The use case is to have multiple ML algorithms to be optimised by `tune` with limited resources. Of course, we can start more clusters in the same amount of CPUs but the experience is segmented. Any simpler workaround?

[2022-08-17 08:53] #25367 closed

[2022-08-17 09:21] clarng opened #27947 "[Core] allow customized error message for WorkerCrashedError"
### Description

Worker can crash due to different reasons. It will help with observability if we can provide custom, detailed messages when worker crashes. This typically happens with tasks as actor already has its own error with custom messages

### Use case

_No response_

[2022-08-17 10:07] antoine-galataud opened #27948 "[RLlib] accessing SampleBatch.INFOS causes TypeError"
### What happened + What you expected to happen

Trying to access `train_batch[SampleBatch.INFOS]` leads to
`ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type dict)`

There was a similar issue reported a while ago, torch-related: https://github.com/ray-project/ray/issues/13038

A simple fix would be the same as in #13038: when the numpy array item type is object, don

[2022-08-17 11:52] Yard1 commented on #27484
Hey @bveeramani this would go contrary to the point of MultiHotEncoder. It is supposed to maintain the same number of columns (see https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MultiLabelBinarizer.html for reference). The output you suggest can already be obtained with OneHotEncoder, so this would also be just duplicating functionality.

[2022-08-17 11:54] krfricke commented on #23674
I'm closing this via #26826 as it should be resolved - you can just instruct tune to resume the errored trials so they don't show up as errored anymore.

Let me know if this doesn't solve your problem.

[2022-08-17 11:54] #23674 closed

[2022-08-17 11:56] krfricke commented on #15129
@eicnix we refactored the tune sync logic and custom syncers. Is this still a problem?

[2022-08-17 13:04] vikasmav opened #27950 "Ray Cluster: High Availability"
### Description

Can anyone tell me whether RAY CLUSTER works on HA or not?

What I mean is, if ray head node is down abruptly, whether the next head selection happens ?

My question is more inclined towards on-premise cluster.

### Use case

Can anyone tell me whether RAY CLUSTER works on HA or not?

What I mean is, if ray head node is down abruptly, whether the next head selection happens ?

My

[2022-08-17 13:43] mdagost commented on #27521
This looks good to me now with the new rc!  When there is insufficient capacity, I see the scheduling continuing to try to launch new nodes.  I haven't verified that the new ones come up with capacity returns, but I don't see why they shouldn't.  Thanks!

[2022-08-17 13:43] #27521 closed

[2022-08-17 13:44] mdagost commented on #27515
This looks good to me now with the new rc!  I repeated the same test--manually killing instances by hand in the console--and the autoscaler successfully launches new nodes to replace them.

[2022-08-17 14:02] rueian commented on #23865
Hi @architkulkarni,

I have found the problem and have created a PR for the "Exception iterating requests!" error.

https://github.com/ray-project/ray/pull/27951

[2022-08-17 15:00] joshua-cogliati-inl opened #27952 "[Observability] ray timeline errors with ray.rpc.GetAllProfileInfoReply exceeded maximum protobuf size of 2GB"
### What happened + What you expected to happen

1. The bug: ray timeline does not seem to work.
2. Expected behavior: ray timeline would output a json file.
3. logs etc:

[code]
Ray status seems fine:
[code]

(Note: `logger.info(f"Trace file being written to {filename}")` added before calling `ray.timeline` in `ray/scripts/scripts.py` )

### Versions / Dependencies

[code]

### Reproduction scrip

[2022-08-17 15:42] rueian opened #27953 "[AIR/data] Use both CPU and GPU actors in ActorPool or Dataset for batch inference with different batch size."
### Description

Hi, I would like to use all my computing resources to do batch inference. But it seems that the current API of ActorPool and Dataset can only utilize CPU or GPU actors, not both.

Says I have 100 pure CPU servers and 5 GPU servers. When I do this:
[code]
All CPU servers are idle.

But if I do this:
[code]
Then the whole pool becomes pretty slow because CPU actors take too many ite

[2022-08-17 16:05] amogkam commented on #27953
Hey @rueian, thanks for raising this! This is definitely a very interesting feature request and something we can look into supporting.

Quick question: for specifying the batch sizes for the CPU actors vs. GPU actors would you prefer that to be manually user specified or have it be automatically/dynamically determined by Ray Datasets for example?

And also just curious, for your batch prediction w

[2022-08-17 16:21] architkulkarni opened #27954 "[Job Submission] Unhelpful error when `RAY_ADDRESS` is missing `http://`"
### What happened + What you expected to happen

Set `RAY_ADDRESS` to an address such as `localhost:8265` that's missing `http://` at the front.  When `ray job submit` is called, `ray://` gets prepended to the address [here](https://github.com/ray-project/ray/blob/55a0f7bb2db941d8c6ff93f55e4b3193f404ddf0/python/ray/client_builder.py#L325) (which may be a bug), and then Ray raises this error:

[cod

[2022-08-17 16:24] #22996 closed

[2022-08-17 16:41] architkulkarni opened #27957 "[CI] `linux://python/ray/serve:test_standalone` is failing/flaky on master."
- 68b5d4302c51a3ead2ffbbb972ed65fb3eb18dc7 FAILED [Buildkite :serverless: Serve Tests](https://buildkite.com/ray-project/ray-builders-branch/builds/9555#0182ab1f-f4e8-49c2-a540-bf0b1b2e8140)
- 2262ac02f3d4f2f283437caa5f7f4180fb6cc7fb FAILED [Buildkite :serverless: Serve Tests](https://buildkite.com/ray-project/ray-builders-branch/builds/9544#0182a99a-d779-4582-9b24-31e455573443)
- f05c744a651ba5fc

[2022-08-17 17:27] jjyao opened #27958 "[Core] Cannot detect number of cpus inside docker correctly with cpu bursting"
### What happened + What you expected to happen

This is from https://discuss.ray.io/t/ray-init-fails-to-register-workers/6044

In this case, I think the /sys/fs/cgroup/cpu/cpu.shares contains the “guaranteed” millicores assigned to the pod, however Ray is not looking at that file right now.

### Versions / Dependencies

master

### Reproduction script

See above

### Issue Severity

_No response_

[2022-08-17 17:49] xwjiang2010 commented on #27056
@bveeramani Could you add some more details here? Thinking of having @justinvyu taking this on!

[2022-08-17 18:04] bveeramani commented on #27484
I'm not sure if I understand. Could you explain why we'd maintain the same number of columns with `MultiHotEncoder` but not `OneHotEncoder`? sklearn's `MultiLabelBinarizer` and `OneHotEncoder` implementations both transform data into an ndarray of shape (# samples, # categories).

I know you can achieve the proposed output with `OneHotEncoder`, but IMO `OneHotEncoder` shouldn't support collections

[2022-08-17 18:17] mgerstgrasser commented on #21479
@mattip Sorry about that, that was all the information I had at the time, and I figured the additional error message might be helpful, since I hadn't seen it in the thread before. I am running this on a cluster where I can't just access /tmp on the machine the jobs are running to grab the log files, so there wasn't much else I could provide. I have in the mean time modified my slurm scripts to cop

[2022-08-17 18:30] jjyao commented on #27820
I can reproduce it with 3.6.5. Could you try to upgrade to 3.6.13  or even 3.7+ since 3.6 is EOLed which doesn't have this issue?

[2022-08-17 18:43] peterghaddad opened #27962 "[Job Submission] ray.exceptions.RuntimeEnvSetupError: Failed to setup runtime environment."
### What happened + What you expected to happen

When submitting multiple Tune Experiments through the Job SDK, I receive the following errors after a few iterations.

These errors only occur when submitting multiple Jobs at once (3).

[code]

### Versions / Dependencies

KubeRay - Latest
Ray 1.12.1
Python 3.9

CPU worker has 16 CPUs and 28 MI of Memory.

### Reproduction script

Submitting multip

[2022-08-17 18:44] mgerstgrasser commented on #27821
Huh, you're right, it looks like it's been changed already. My bad! Thank you.

[2022-08-17 18:44] #27821 closed

[2022-08-17 18:47] chongxiaoc commented on #27794
META has an experimental [`TorchRec` strategy/plugin](https://github.com/facebookresearch/recipes/blob/main/torchrecipes/rec/accelerators/torchrec.py) for Lightning.
Considering `TorchRec` relies on `DDP` internally, to correctly run `TorchRec` on Ray cluster, two things in my mind:
1. Lightngning strategy/plugin:
  - The existing Ray DDP plugin https://github.com/ray-project/ray_lightning/blob/ma

[2022-08-17 19:03] architkulkarni commented on #27962
@peterghaddad Thanks for reporting this, is it possible for you to see if the issue still persists with version `2.0.0rc1`?  Also, would you be willing to share the logs in `/tmp/ray/session_latest/logs` on the head node? I'd be interested in `dashboard_agent.log` and potentially `gcs_server.out` if there are runtime env logs in that file.

[2022-08-17 19:09] alanwguo commented on #21276
Update on this, the jobs tab is fixed in ray 2.0

[2022-08-17 19:09] #21276 closed

[2022-08-17 19:30] richardliaw commented on #27922
The more concerning thing to me is, why didn't this error show up?

[2022-08-17 19:38] amogkam commented on #27922
This is the same issue as this https://discuss.ray.io/t/error-occurs-when-call-save-checkpoint/4790/5.

Seems like the pickling/serialization issues are not actually being surfaced.

[2022-08-17 19:39] amogkam commented on #27922
@bveeramani can we add a `from_state_dict` method to `TorchCheckpoint`? Using state dicts should be the recommended way to save models, rather than the model directly.

[2022-08-17 19:53] amogkam opened #27966 "[AIR/Tune] Deprecate mixins and replace with setup functions"
We need to deprecate the wandb and mlflow mixins as they do not work with Ray AIR Trainers. However, users want the flexibility to be able to log directly from the training function.

As discussed before, for users who want this flexibility, we can provide the necessary utility functions to setup the mlflow/wandb runs

cc @xwjiang2010 @krfricke

[2022-08-17 20:14] bveeramani commented on #27922
@amogkam yeah, I can do that today.

[2022-08-17 21:09] xwjiang2010 commented on #27895
Hi @guodashun
I think the problem is when there are too many workers placed on one machine, that machine's resources are used up, thus the error.

Say each machine has 4 cores. By default, 4 workers will be placed on the machine. Now, if we set `resources_per_worker=2`, only 2 workers can be placed on the machine. So the machine is less likely to run low on resources. Does that make sense?

[2022-08-17 21:24] peytondmurray commented on #27851
@mattip I just tried running the `rl_offline_example` on linux with the same commit and the same environment I used on Windows and it did not run successfully. However, on my usual linux dev environment, the example runs. So I don't think this is a windows-only issue.

[2022-08-17 22:31] dan-1d commented on #21921
This is a real bug in `ray/rllib/models/torch/complex_input_net.py`, and has been fixed in the master branch. I independently made the same changes as this commit, and they fixed my problem.

[https://github.com/ray-project/ray/commit/a598458c464b88535e711ef7ef55f88e25c1820f](https://github.com/ray-project/ray/commit/a598458c464b88535e711ef7ef55f88e25c1820f)

The problem in`ComplexInputNetwork` wa

[2022-08-17 22:36] dan-1d commented on #22659
Seems like this is now fixed in master. https://github.com/ray-project/ray/commit/a598458c464b88535e711ef7ef55f88e25c1820f

[2022-08-17 22:53] #22659 closed

[2022-08-17 23:19] bveeramani opened #27971 "[AIR] Replace `TorchCheckpoint.from_model` with `TorchCheckpoint.from_state_dict`"
### Description

`from_state_dict` is the recommended method for creating `TorchCheckpoints`. We should update the documentation accordingly.

See #27970.

### Link

_No response_

[2022-08-18 00:06] kouroshHakha opened #27973 "[RLlib][API] Evaluation Config especially with datasets is very confusing."
### Description

_No response_

### Use case

 The evaluation config and what happens when certain parameters are set, especially with counter factual evaluation is totally confusing. It's not clear what episode means with an offline Data, how the sampling works and how many batches do we evaluate on every steps. Please fix the documentation and simplify the code behind evaluation and sampling. It

[2022-08-18 00:20] DmitriGekhtman opened #27974 "[CI][Kubernetes][Autoscaler] Make KubeRay operator test less painful to debug"
### Description

The CI test `kuberay/test_autoscaling_e2e.py` is a bit annoying to debug.

- Provide some instructions to run this test locally against a PR branch.
- Split the test into many test cases -- it's currently one really long test which tests many, many things.

### Use case

Ray developer productivity.

[2022-08-18 00:20] DmitriGekhtman commented on #27974
cc @wuisawesome

[2022-08-18 00:32] kouroshHakha opened #27975 "[RLlib] DatasetReader uses num_workers instead of evaluation_num_workers even during Evaluation"
### What happened + What you expected to happen

In eval workers, DatasetReader uses num_workers found in ioctx to setup its parallelization which is not consistent with the sampler's expectation. Using ioctx has always been confusing, we should directly pass the number of workers instead of all the parameters to avoid further confusion.

### Versions / Dependencies

NA

### Reproduction script

N

[2022-08-18 00:44] rueian commented on #27953
Sure, that will be very cool and save user a lot of time tuning the parameter if each batch size can be dynamically determined by Ray based on the round trip time of each actor.

In this case, I have millions of images every hour that need to be passed through a PyTorch model with a fixed computing cluster. That’s why I am looking into Ray to fully utilize the cluster. Thank you guys. Ray really h