[2022-10-26 01:13] #22173 closed

[2022-10-26 01:23] rkooo567 commented on #9692
I think this is tested

[2022-10-26 01:30] bveeramani commented on #29681
Looks like `xgboost_train_gpu` is failing for the same reason: https://buildkite.com/ray-project/release-tests-branch/builds/1150#01840c2d-ea09-4b50-9763-5d2359f89935

[2022-10-26 01:47] spramuditha opened #29691 "[RLLib Tests] : Included pytests in package as well as basic commands fail with ValueError"
### What happened + What you expected to happen

I am a Mac M1 Pro user. I have run RL jobs successfully with both TensorFlow and PyTorch before this. But I wanted to check features provided by this framework.

So Installed Ray According to the instructions on the guide. Ran the following command `rllib train --run=PPO --env=CartPole-v0 --config='{"train_batch_size": 4000}'` in terminal and got th

[2022-10-26 02:15] iycheng commented on #29656
Discussed with @scv119  and there are two things we can do:

1. backoff and retry for actor call
2. in the raylet, we should have health check to check the worker's healthiness.

We'll fix it with 1) first and then in long term, we'll use health check introduced in GCS to do this work (move that to common and used by raylet and GCS.)

[2022-10-26 02:22] rkooo567 commented on #9692
hmm actually we probably need to document this. Opening the issue for documentation

[2022-10-26 02:53] bveeramani opened #29693 "[Tune] `ProgressReporterTest::testVerboseReporting` is non-deterministic"
### What happened + What you expected to happen

`test_progress_reporter.py::ProgressReporterTest::testVerboseReporting` checks that multi-line strings like

[code]

are in STDOUT.

The problem is that we print status updates like

[code]

at non-deterministic times.

This causes outputs to sometimes look like

[code]

We should rewrite the test in such a way that results are independent of when s

[2022-10-26 03:41] bveeramani commented on #29662
Was able to reproduce on my laptop. Here's a simplified repro:

[code]

Interestingly, the code works fine if `NUM_VALUES` is 9, but runs forever if `NUM_VALUES` is 10. I have 10 CPUs available. Maybe that's related?

[2022-10-26 03:49] tomsunelite commented on #28538
I got the same issue on ray head node(other worker nodes seems ok), and only start ray with command(ray 2.0.0):
[code]

[2022-10-26 04:33] #29625 closed

[2022-10-26 04:40] #29681 closed

[2022-10-26 04:41] scv119 commented on #29668
@RehanSD it really depends on your implementation. i.e. it could be that the library (modin) uses a lot of heap memory when doing the sort; which likely leads to OOM.

We have an experimental feature available in ray master and next release. https://docs.ray.io/en/master/ray-core/scheduling/ray-oom-prevention.html I'd suggest to enable it, it will give you a bit more information if the application

[2022-10-26 04:41] scv119 commented on #29668
cc @clarng

[2022-10-26 05:02] bveeramani opened #29695 "[AIR] `XGBoostTrainer` gives misleading error if column missing"
### What happened + What you expected to happen

My dataset doesn't contain the specified `label_columns`. I expected to receive a descriptive `ValueError`, but I instead got a verbose `RayActorError`.

For motivation, see https://github.com/ray-project/ray/issues/29640.
[code]

### Versions / Dependencies

Ray: 8b4283fb3da524c63a41f34a5221e762a3dc1587

### Reproduction script

[code]

### Issue S

[2022-10-26 05:02] #29640 closed

[2022-10-26 05:11] dirkweissenborn commented on #25011
I still don't see logger output when running with tune in ray 2.0.

On Wed, Oct 26, 2022, 00:15 Ricky Xu ***@***.***> wrote:

[2022-10-26 05:16] zhe-thoughts commented on #22774
I'm on the fence whether this P1 or P2 (not sure how common the need is). @rkooo567 what do you think?

Once we decide a priority, could you help remove the `triage` label? Thanks!

[2022-10-26 05:18] zhe-thoughts commented on #22981
Hey @chaokunyang are you still seeing the issue? I'm leaning towards marking this as a P2 since the same issue has not been reported in other settings and we cannot reproduce.

[2022-10-26 05:19] zhe-thoughts commented on #22981
@chaokunyang  @rkooo567 Let me know if P2 is reasonable here. Thanks

[2022-10-26 05:39] matthewdeng commented on #29662
Hey @jharaldson,

Looks like this is because Ray Datasets operations require CPU resources to execute, and all the CPUs in your cluster have already been reserved by the concurrently running Tune Trials.

For more information and workarounds, check out [Datasets and Tune](https://docs.ray.io/en/master/data/dataset-internals.html#datasets-and-tune)!

[2022-10-26 05:49] gjoliver commented on #28848
you can actually do this with a custom loader_fn.

[code]

[2022-10-26 05:49] #28848 closed

[2022-10-26 05:54] zzb3886 opened #29696 "[Ray Cluster] Cannot connect to head after submitting jobs"
### What happened + What you expected to happen

I set up a few computers that are connected to a local network and started the head node followed by the worker nodes. After all of them were started, I verified the cluster state by `ray status` and visiting the dashboard. All nodes were working fine until I submitted jobs in the ipython console interactively. Within seconds, errors were shown:
[co

[2022-10-26 06:30] clarng commented on #28074
We plan to do periodic 1.13.x release, and the next one would include this fix, still need to confirm on the timeline for the next 1.13.x release

Will this work for you?

[2022-10-26 06:44] yzs981130 commented on #7431
I also believe this feature will be useful for the given two use cases.

- For actor coordination and inner service provided by actors. Taking distributed deep learning and PyTorch (w/o Ray train) as an example, we could take one worker as an individual actor in Ray. PyTorch distributed needs a master address and port for worker coordination, which could not be determined before actors get schedul

[2022-10-26 06:55] juliusvonkohout commented on #29665
@simon-mo that sounds amazing. Yes, please test it in enforcing mode with a some workloads and then you can also advertise in the main GitHub readme, that it runs according to kubernetes restricted PSS. This goes for the operator as well as the cluster.

If that is solved the integration into Kubeflow is rather straightforward, just some boring controller and UI writing, RBAC Rules, Istio polices

[2022-10-26 07:35] ChrisMcCarthyDev commented on #29652
So I've done some more investigating. It looks as if the issue is only with Python 3.10, and is ray as a whole, not just ray with [rllib] extra.

### Windows 10 with Python 3.10.7
[code]

### Windows 10 with Python 3.9.13
[code]

[2022-10-26 08:38] richardliaw commented on #7431
+1 mostly for coordination, maybe due to external systems. Also, just look at where ip address is determined in all the Ray libraries. some form of socket.gethostbyname is very frequently used.

[2022-10-26 10:09] PieroMacaluso opened #29697 "[RLlib] Gymnasium integration"
### Description

Yesterday, 25th October, Farama Foundations announced [Gymnasium](https://github.com/Farama-Foundation/Gymnasium) (see [article](https://farama.org/Announcing-The-Farama-Foundation)), the official heir of OpenAI Gym. The integration would have been straightforward from the Gym 0.26.2 version as reported in the article with just `import gymnasium as gym`

Unfortunately RLlib still

[2022-10-26 10:50] neex opened #29698 "[core] autoscaler occasionally goes into exception loop when using preemptible GCP instances"
### What happened + What you expected to happen

I use ray cluster with Google Cloud Platform for my tasks. One thing to note is that I use preemptible instances for workers (thus, Google may stop it anytime).

After a while (about 30-40 minutes of active usage), the scaling stops working: no new workers go up, and no old workers are destroyed after idle timeout (moreover, some workers are up but

[2022-10-26 12:29] YarShev commented on #13630
It would be nice to have a Ray python API using which it is possible to know which node the object is located on.

[2022-10-26 14:01] Yak46 opened #29699 "Undesired memory growing when using convolutional neural network"
Hello,

I'm trying to run a custom gym environment using a convolutional neural network and a PPO trainer. When I run the trainer using ray.tune, the RAM memory usage grows up to low memory message appears.

In my gym environment, the observation a 256 x 256 x 3 RGB image, the environment fps (frame per second) is 100, and the integration time step is 0.01 s. The maximum episode length is 3072 tim

[2022-10-26 14:56] DmitriGekhtman commented on #21573
@ckw017 do you think this issue still exists?

[2022-10-26 14:58] DmitriGekhtman commented on #20265
This has been fixed. See https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/gpu.html for details.

[2022-10-26 14:58] #20265 closed

[2022-10-26 15:00] DmitriGekhtman commented on #16656
You can try again with the current recommended methods for launching Ray on Kubernetes: https://docs.ray.io/en/latest/cluster/kubernetes/index.html

Let us know if you encounter similar issues.

[2022-10-26 15:00] #16656 closed

[2022-10-26 15:02] DmitriGekhtman commented on #14543
We've transitioned to a new recommended deployment stack for Ray on Kubernetes.
You can read about it here: https://docs.ray.io/en/latest/cluster/kubernetes/index.html
Let us know if you still encounter issues.

[2022-10-26 15:02] #14543 closed

[2022-10-26 15:05] DmitriGekhtman commented on #20355
Since we've decided to de-emphasize Ray client, I'm going to label most issues related to Ray client as P2.

@ckw017 @pcmoritz is this still a valid issue?

[2022-10-26 15:09] DmitriGekhtman commented on #20896
This seems potentially to be an Anyscale product issue. We could start investigating on the proprietary end if necessary -- but we might not need to given the reduced emphasis on Ray client.
@sijieamoy @ckw017 let me know what you think

[2022-10-26 15:12] DmitriGekhtman commented on #18136
Is this still an issue? If so, we should probably try to fix it. cc @ckw017

[2022-10-26 15:59] rickyyx opened #29702 "[CI] `linux://:memory_monitor_test` is failing/flaky on master."
- 875193ca8d4720a7215aad2a275851f5157674c2 FAILED [Buildkite :cpp: Tests](https://buildkite.com/ray-project/oss-ci-build-branch/builds/733#018412c2-cd94-4c8f-85d1-29f9a0b3417c)
- e5e3f30dd8dcfe868313e5c3ff5793b21837b6ef FAILED [Buildkite :cpp: Tests](https://buildkite.com/ray-project/oss-ci-build-branch/builds/729#018411e4-25a0-4c7a-9a2e-17890205ae69)
- 8e3e741d9b94a2694e789d4bcdff16e4c27a501c FAI

[2022-10-26 16:01] rickyyx commented on #29702
Seems to be fixed by https://github.com/ray-project/ray/pull/29421/files

[2022-10-26 16:22] #29405 closed

[2022-10-26 16:34] richardliaw commented on #29697
cc @avnishn , @peytondmurray, @sven1977

We should get this into the next release.

[2022-10-26 16:41] sijieamoy commented on #20896
SGTM. Closing for now.

[2022-10-26 16:43] 0315jaewon opened #29705 "Issue on ray installation for M1 macbook 8 GB Ram"
Hello, when I try to install ray (using pip install -e . --verbose), when my computer is near done compiling the relevant files, it begins to slow down extremely and lags out making my computer freeze and crash. Other members in my research group are not facing this problem despite one of them using the exact same laptop model as me (macbook M1 chip 8 GB RAM). I tried compiling using half the RAM

[2022-10-26 16:50] sihanwang41 commented on #29545
Current in ray serve, we have https://github.com/ray-project/ray/blob/master/python/ray/serve/tests/test_handle.py#L50 to make sure the handle is all serializable.

I can reproduce the issue in local with @matthewdeng  script, but a little bit out of clue, I want to borrow some help from core side.

The script will be stuck at this step https://github.com/ray-project/ray/blob/master/python/ray/ser

[2022-10-26 17:05] architkulkarni commented on #29006
Flaky again

[2022-10-26 17:08] zhe-thoughts commented on #25971
(Context: I’m doing a round of cleanup of waiting-for-triage issues)

I'm marking as P2 since on docs we have clarified Azure cluster launcher is community maintained. cc @AmeerHajAli to put in Infra backlog

[2022-10-26 17:14] rickyyx commented on #29680
Showing up in the release branch as well - seems this is a CI tooling issue.

A similar failure is https://buildkite.com/ray-project/oss-ci-build-branch/builds/735#018414e6-709a-4313-a47e-82f674690c6a

This is probably not release blocking - but once we have a fix, it will be great to cherry-pick in.

cc @scv119 @c21

[2022-10-26 17:17] zhe-thoughts commented on #26002
I'm leaning towards marking as P2 because we are actively working on https://github.com/ray-project/enhancements/pull/14 with Apache Spark team. @richardliaw @matthewdeng will leave to you to decide the priority and put on backlog

[2022-10-26 17:20] spacegoing commented on #9123
### !!! Gotcha Warning !!! ###

Finding this cost me all my hair but here is the problem: `self.env_config` is the training config. For someone having evaluation configurations, you need to use `agent.config["evaluation_config"]["env_config"]` instead. So the correct script should be:

[code]

[2022-10-26 17:29] rickyyx commented on #7431
@yzs981130 Thanks for the elaboration. This is great to know.

So with ray 2.2, you should be able to get the node information of individual actor from state API, something like `ray.experimental.state.api.get_actor(<actor_id>)` should include the node information.

[2022-10-26 17:38] c21 commented on #29610
Chery picked is finished.

[2022-10-26 17:38] #29610 closed

[2022-10-26 17:55] #20896 closed

[2022-10-26 18:01] zhe-thoughts commented on #26041
As @scv119 commented this is intended behavior (Worker process lives beyond the Driver process). Closing this out but @TipTa please reopen if this is still an open question for you

[2022-10-26 18:02] zhe-thoughts commented on #26043
@iycheng Could you help triage this issue?
* I don't think this is specific to Workflows? If that's the case could you help update the description with the author?
* I don't think a local filesystem should be used since the `storage` option in `ray.init` is supposed to be accessible for all nodes. Is that true?

[2022-10-26 18:02] xwjiang2010 commented on #29318
PR landed. Closing this bug. Torch Dataloader thing is tracked separately.

[2022-10-26 18:02] #29318 closed

[2022-10-26 18:08] zhe-thoughts commented on #26066
@rkooo567 Need your help triaging. Is this specific to Autoscaler? Or it's about `ray status` itself?

[2022-10-26 18:08] architkulkarni opened #29710 "[Jobs] [CI] `test_cli.py` passes spuriously due to incorrect use of mocks"
### What happened + What you expected to happen

`test_cli.py` uses statements of the form `assert mock_sdk_client.called_with("env_addr")` which always pass because it's a mock.  You can test this by changing the method name `called_with` to anything and/or changing the argument `"env_addr"` to anything.

To fix this, we need to change all of them to `mock_sdk_client.assert_called_with("env_addr"

[2022-10-26 18:13] cadedaniel opened #29712 "[CI] `linux://rllib:test_memory_leak_ppo` is failing/flaky on master."
- 98da294f0b8fbf0ab9d94ebd552c4d78b4d3aaf8 FAILED [Buildkite :brain: RLlib: Memory leak tests TF2-eager-tracing](https://buildkite.com/ray-project/oss-ci-build-branch/builds/737#01841519-2f79-4625-9451-c596e2ac3369)
- 182744bbd151c166b8028355eae12a5da63fb3cc FAILED [Buildkite :brain: RLlib: Memory leak tests TF2-eager-tracing](https://buildkite.com/ray-project/oss-ci-build-branch/builds/736#018413

[2022-10-26 18:14] cadedaniel opened #29713 "[CI] `linux://rllib:test_memory_leak_impala` is failing/flaky on master."
- 98da294f0b8fbf0ab9d94ebd552c4d78b4d3aaf8 FLAKY [Buildkite :brain: RLlib: Memory leak tests PyTorch](https://buildkite.com/ray-project/oss-ci-build-branch/builds/737#01841519-2f7c-43c7-a7d9-8d6ec67e9327)
- 98da294f0b8fbf0ab9d94ebd552c4d78b4d3aaf8 FLAKY [Buildkite :brain: RLlib: Memory leak tests TF2-eager-tracing](https://buildkite.com/ray-project/oss-ci-build-branch/builds/737#01841519-2f79-4625

[2022-10-26 18:17] cadedaniel opened #29714 "[CI] `linux://python/ray/tune:test_progress_reporter` is failing/flaky on master."
98da29 [Agent] Make agent shutdown more informative and graceful (#29540) [0 days ago]

[linux Buildkite :octopus: Tune tests and examples (small)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/737#01841519-2f8c-45a3-91dc-197132fcf9b6)

182744 [RLlib] AlgorithmConfig: Next steps (volume 01); Algos, RolloutWorker, PolicyMap, WorkerSet use AlgorithmConfig objects under the hood. (#293

[2022-10-26 18:18] cadedaniel opened #29715 "[CI] `linux://python/ray/tests:test_exit_observability` is failing/flaky on master."
- 98da294f0b8fbf0ab9d94ebd552c4d78b4d3aaf8 FLAKY [Buildkite :python: (Large)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/737#01841512-f482-425f-81b2-2f7b8d323bbd)
- 98da294f0b8fbf0ab9d94ebd552c4d78b4d3aaf8 FAILED [Buildkite :redis: (External Redis) (Large)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/737#01841512-f490-4bd1-b3ec-5f2549b8ce18)
- 182744bbd151c166b80

[2022-10-26 18:32] cadedaniel opened #29717 "[CI] `bk://:windows: Wheels` is failing/flaky on master."
- 98da294f0b8fbf0ab9d94ebd552c4d78b4d3aaf8 FAILED [:windows: Wheels](https://buildkite.com/ray-project/oss-ci-build-branch/builds/737#01841506-8234-4946-a16e-4e72e73f8568)
- 875193ca8d4720a7215aad2a275851f5157674c2 FAILED [:windows: Wheels](https://buildkite.com/ray-project/oss-ci-build-branch/builds/733#018412b7-333c-4a6d-9698-184d8e584fa5)
- 161567dbd93f94bef941c17779d3880f310a0373 FAILED [:wind

[2022-10-26 18:33] zhe-thoughts commented on #23844
Closing this but when @sreddy-es gets back we can reopen

[2022-10-26 18:33] #23844 closed

[2022-10-26 18:33] cadedaniel commented on #29717
Looks like the cause is some issue with [refreshenv](https://github.com/ray-project/ray/blob/master/python/build-wheel-windows.sh#L35).

https://buildkite.com/ray-project/oss-ci-build-branch/builds/737#01841506-8234-4946-a16e-4e72e73f8568
[code]

https://buildkite.com/ray-project/oss-ci-build-branch/builds/733#018412b7-333c-4a6d-9698-184d8e584fa5
[code]

[2022-10-26 18:35] cadedaniel opened #29718 "[CI] `linux://rllib:test_memory_leak_a3c` is failing/flaky on master."
- 98da294f0b8fbf0ab9d94ebd552c4d78b4d3aaf8 FAILED [Buildkite :brain: RLlib: Memory leak tests TF2-eager-tracing](https://buildkite.com/ray-project/oss-ci-build-branch/builds/737#01841519-2f79-4625-9451-c596e2ac3369)
- 182744bbd151c166b8028355eae12a5da63fb3cc FAILED [Buildkite :brain: RLlib: Memory leak tests TF2-eager-tracing](https://buildkite.com/ray-project/oss-ci-build-branch/builds/736#018413

[2022-10-26 18:35] wuisawesome commented on #26023
@HongW2019 I can't reproduce this locally (also I have an M1 mac so i can only test with python 3.8). If your goal is to run tests, can you try with one of the supported development workflows? (Probably this one https://docs.ray.io/en/latest/ray-contribute/development.html#building-ray-python-only)

[2022-10-26 18:35] cadedaniel opened #29719 "[CI] `linux://python/ray/tune:test_result_grid` is failing/flaky on master."
- 98da294f0b8fbf0ab9d94ebd552c4d78b4d3aaf8 FAILED [Buildkite :octopus: Tune tests and examples (small)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/737#01841519-2f8c-45a3-91dc-197132fcf9b6)
- 182744bbd151c166b8028355eae12a5da63fb3cc FAILED [Buildkite :octopus: Tune tests and examples (small)](https://buildkite.com/ray-project/oss-ci-build-branch/builds/736#018413b7-de65-42c2-a00d-

[2022-10-26 18:36] cadedaniel opened #29720 "[CI] `linux://doc/source/ray-air/examples:upload_to_wandb` is failing/flaky on master."
- 182744bbd151c166b8028355eae12a5da63fb3cc FLAKY [Buildkite :book: Doc examples with authentication ](https://buildkite.com/ray-project/oss-ci-build-branch/builds/736#018413b7-de85-432b-ae0d-0e74af605fa6)
- 37de814a8598e0ea3dea23d5ae0caf9df54fa0e6 FAILED [Buildkite :book: Doc examples with authentication ](https://buildkite.com/ray-project/oss-ci-build-branch/builds/734#0184130c-88fc-477d-a499-4a5

[2022-10-26 18:41] scv119 commented on #29545
At high level i think the problem is we are calling `ray.get` in another (ray) object's deserialization. This is likely an undefined behavior and we should avoid using it. cc @rkooo567 @stephanie-wang in case this is actually well supported.

[2022-10-26 18:56] ckw017 commented on #18136
This was fixed by #19604

[2022-10-26 18:56] #18136 closed

[2022-10-26 18:59] DmitriGekhtman commented on #26066
This dates to a June hackathon project: When using autoscaling, `ray status` does not show a list of IPs of nodes -- it just shows counts of each node type.

This issue could be interpreted as a feature request for `ray status` (always show IPs). I believe this request has come up before, so we could leave this open as a low-priority feature request issue.

Actually, showing IPs is part of what @w

[2022-10-26 19:03] rickyyx opened #29722 "[CI] `windows://python/ray/tests:test_task_metrics` is failing/flaky on master."
- 98da294f0b8fbf0ab9d94ebd552c4d78b4d3aaf8 FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/737#01841506-822f-4872-aca4-0de1d02b98b6)
- 182744bbd151c166b8028355eae12a5da63fb3cc FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/736#018413a3-6cf1-44f0-9c86-c7fd7c73565a)
- 37de814a8598e0ea3dea23

[2022-10-26 19:04] rickyyx commented on #29722
Regression introduced by cherry-pick PR https://github.com/ray-project/ray/pull/29678
Trying to forward fix

[2022-10-26 19:07] alexeyev opened #29724 "[RLlib|Tune] Migrating from ray 0.x to ray 1.x"
### Description

Dear colleagues, thank you for the cool product.

I've seen some tips on how to convert a project from the 1.x `ray` version to the 2.x `ray` version.

May I wonder, are there any guidelines on how to migrate a relatively old project (mid-2019) from 0.7.x to 1.x (and after that, hopefully, to 2.x)?

E.g. `rllib.models.Model` -> `ModelV2`, `ray.tune.function` -> callback objects, e

[2022-10-26 19:09] cadedaniel commented on #29712
Ok, thanks for the context. Can we downgrade this from P0 and keep it open so future oncalls can see this?

[2022-10-26 19:13] Yard1 commented on #27922
I tried to repro this on current master and:
a) the original picking issue is gone
b) trying to force an error in `torch.save` causes the correct message to be propagated.

Therefore, I think this issue can be closed as resolved. @bveeramani

[2022-10-26 19:28] clarng commented on #29555
Also 4th option is to not write error table at all and just use error log throttling, in summary the options are

1. throttle writing to error table
2. always write to error table, throttle log message in python worker
3. always write to error table, reduce verbosity of the error message
4. don't write to error table, log error and propagate to driver

I think we can do 4 now, since that was the o

[2022-10-26 19:28] wuisawesome commented on #26066
Yep, if anyone stumbles upon this issue you can try out `ray status --verbose` on `ray >= 2.1.0`. Note it's experimental, and there are no official support guarantees right now.

[2022-10-26 19:31] dbczumar commented on #26002
Hi @WaterKnight1998 @matthewdeng, https://github.com/ray-project/enhancements/pull/14 will provide more scalable Ray Tune execution on Spark clusters by improving the allocation of ray worker nodes to Spark worker nodes (the Databricks blog example - https://www.databricks.com/blog/2021/11/19/ray-on-databricks.html - only starts one Ray worker node per Spark worker). @zhe-thoughts correct me if I'

[2022-10-26 19:37] Yard1 commented on #29458
How is this impacting workloads, aside from the Keras callback not saving the epoch? As far as I understand, the most important thing is that we have an incremental counter for checkpoints. The actual epoch/iteration number should be saved inside the checkpoint itself (which is indeed the case with Huggingface, but not with the Keras callback).

[2022-10-26 20:12] #27667 closed

[2022-10-26 20:18] zhe-thoughts commented on #25447
Temporarily assigning to @maxpumperla but will follow up offline with Max

[2022-10-26 20:34] #25787 closed

[2022-10-26 20:40] cadedaniel commented on #29724
cc @kouroshHakha @bveeramani @richardliaw

[2022-10-26 20:43] cadedaniel commented on #29705
Is it possible that you're running x86 python on the emulator? It's a guess, although I experienced some performance issues on M1 because I was using x86 python.

Can you share some logs or list of processes during the slowdown?

[2022-10-26 20:52] crazyboycjr commented on #20609
What's the state of this PR? Will ray have rust binding or support in the future? I see a large PR https://github.com/ray-project/ray/pull/21572, but it is closed due to inactivity. I would love to see rust binding and rust workers in the future.

[2022-10-26 21:18] #26513 closed

[2022-10-26 21:19] kouroshHakha commented on #24007
This issue will go way with the new Policy API that we are working towards.

[2022-10-26 21:23] architkulkarni commented on #27453
Ah this is still open, but the link is updated: https://docs.ray.io/en/master/serve/production-guide/monitoring.html

[2022-10-26 21:28] kouroshHakha commented on #24055
input should be logits (aka unnormalized log-probs, [link](https://www.tensorflow.org/api_docs/python/tf/random/categorical) to tf_doc). The implementation in RLlib seems to be correct. Can you clarify what your rllib use-case is and when it breaks with a repro script?

[2022-10-26 21:29] #24140 closed

[2022-10-26 21:31] bveeramani commented on #29724
Hey @alexeyev, thanks for reaching out!

I'm not aware of any 0.x to 1.x migration guide. I'll ask my teammates if they know of any.

For information on migrating from 1.x to 2.x, see https://github.com/ray-project/ray/issues/28223.

[2022-10-26 21:32] kouroshHakha commented on #24617
closing this issue, due to lack of a repro script.

[2022-10-26 21:32] #24617 closed

[2022-10-26 21:37] HJasperson commented on #24055
You are incorrect - self.inputs are not log probabilities.

[2022-10-26 21:38] #28338 closed

[2022-10-26 21:40] kouroshHakha commented on #25619
cc: @smorad @ArturNiederfahrenhorst for pinpointing the problems with the current model catalog.

[2022-10-26 21:51] kouroshHakha commented on #26315
closing this issue as it seems to have been fixed on master.

[2022-10-26 21:51] #26315 closed

[2022-10-26 21:53] #27546 closed

[2022-10-26 22:11] richardliaw commented on #25474
This isn't fixed right?

[2022-10-26 22:20] zhe-thoughts commented on #25650
@rkooo567 @iycheng Is this still an issue? Thanks

[2022-10-26 22:20] bveeramani opened #29733 "[Tune] `tune.grid_search` reference doesn't explain what a grid search is"
### Description

The current docstring for `grid_search` is:
[code]

This docstring isn't helpful, because it never explains what a grid search or "gridded" means. It'd also be helpful to explain how this differs from `tune.choice`.

### Link

https://docs.ray.io/en/latest/tune/api_docs/search_space.html#grid-search-api

[2022-10-26 22:22] clarng opened #29734 "[core] task throttling for oom, prototype"
### Description

per release test / benchmark testing we are still seeing task getting killed by os oom killer, when we turn on ray oom killer. (https://docs.google.com/document/d/1Hz7nhZ-BMwXYt2Y-1RkwhbOHq_39okSzG7YQwNN4evk/edit#heading=h.eb25zdcggznj)

This happens when the application is very aggressive in getting memory. We should add back pressure to reduce the load to avoid the os oom killer

[2022-10-26 22:25] zhe-thoughts commented on #25836
Marking as P2 based on Issue Severity. @scv119 @stephanie-wang feel free to correct me

[2022-10-26 22:33] bveeramani commented on #27922
Yeah, looks like it's been resolved. Closing.

[2022-10-26 22:33] #27922 closed

[2022-10-26 22:37] zhe-thoughts commented on #25881
@richardliaw could you help triaging this one? I wasn't able to figure out whether it's a Core issue or Tune issue

[2022-10-26 22:48] clarng opened #29736 "[core] surface OOM error when actor is killed due to OOM"
### What happened + What you expected to happen

Expose OOM error for actor instead of worker crash (use existing actor protocol) - observability improvement

we should have actor throw oom error and also use the oom retry (P1) when it is killed by ray oom killer. One challenge is that right now there is a race between worker failure reporting actor failure vs push task reporting grpc failure.

ht

[2022-10-26 22:48] zhe-thoughts commented on #26443
Gonna put this as P2 since the particular issue is mitigated.

[2022-10-26 22:58] zhe-thoughts commented on #26477
@mattip could you take a look? Thanks!

[2022-10-26 23:05] zhe-thoughts commented on #26514
@architkulkarni @tchordia Could you help triage?

What this means is to assign the right priority label, assignee so they are properly backlogged. Then they are not missed in our planning.

[2022-10-26 23:18] zhe-thoughts commented on #26595
@DmitriGekhtman to verify if this is still a problem on KubeRay, and triage this

[2022-10-26 23:20] zhe-thoughts commented on #26751
@wuisawesome  I need your help triage this. What should be the priority? Thanks!

[2022-10-26 23:22] 0315jaewon commented on #29705
<img width="1192" alt="Screen Shot 2022-10-25 at 11 15 53 AM" src="https://user-images.githubusercontent.com/112059352/198156878-0d26b034-d8fe-4ead-bd80-95b0cb4e17b2.png">

[2022-10-26 23:24] 0315jaewon commented on #29705
How can I know whether I'm running x86 python on the emulator or not? I attached a photo of the logs when it begins to slow down (I've previously tried to leave it to run but it just slows down even more – taking 4000 seconds+ per update but making no compilation progress).  If I leave it on for longer, it ultimately just makes my computer freeze and crash

[2022-10-26 23:24] zhe-thoughts commented on #29587
Assigning to @cadedaniel to quickly verify

[2022-10-26 23:27] #27754 closed

[2022-10-26 23:31] cadedaniel commented on #29705
Oh, actually bazel will use Java. When you're compiling, can you look in the Activity Monitor and tell if the java processes are running with `Kind` as `Intel` or `Apple`?

Here's a screenshot from my m1 machine (The python process is running on Intel, the kernel is running natively)
<img width="377" alt="Screen Shot 2022-10-26 at 4 29 17 PM" src="https://user-images.githubusercontent.com/950914/1

[2022-10-26 23:32] zhe-thoughts commented on #26761
@rkooo567 Will leave this to you to triage :) Thanks!

[2022-10-26 23:33] zhe-thoughts commented on #26828
Assigning to @krfricke only to verify if can be closed

[2022-10-26 23:34] DmitriGekhtman commented on #26595
We can reopen if the issue is detected on KubeRay.
I have some design ideas I'd like to implement soon (https://github.com/ray-project/ray/issues/28036) which would make this kind of error impossible.

[2022-10-26 23:34] #26595 closed

[2022-10-26 23:38] ArturNiederfahrenhorst commented on #29724
From RLlib, there is no guide for doing that jump.
If you have specific questions, feel free to post them on [the forum](https://discuss.ray.io/c/rllib/7) or look for some answers there.

[2022-10-26 23:38] zhe-thoughts commented on #26886
@DmitriGekhtman could you help verify / triage? Looks like issue no longer valid

[2022-10-26 23:40] 0315jaewon commented on #29705
<img width="958" alt="Screen Shot 2022-10-26 at 4 37 32 PM" src="https://user-images.githubusercontent.com/112059352/198158510-76dd1961-bf41-4c41-9d0a-4e96b78d11ec.png">
I just restarted the compiling process and I'm around 40% on the way so I'll post my activity monitor when it slows down, but I sent a screenshot above containing what I know so far. On the CPU tab of the activity monitor, java is

[2022-10-26 23:53] scv119 commented on #28790
@AmeerHajAli to triage and prioritize these issues.

[2022-10-26 23:55] 0315jaewon commented on #29705
<img width="956" alt="Screen Shot 2022-10-26 at 4 53 43 PM" src="https://user-images.githubusercontent.com/112059352/198160096-a619dbde-628b-4e2b-a7f7-c9d999512b3a.png">
Yeah it seems like the bazel processes consume too much memory and compress it to disk.

[2022-10-27 00:03] cadedaniel commented on #29705
Can you confirm that before the compilation starts there's low memory utilization? If that's confirmed, then we can look into an issue. Perhaps we can use Slack for efficiency.

[2022-10-27 00:15] stephanie-wang opened #29739 "[core] Deadlock during task cancellation"
### What happened + What you expected to happen

I was running an AIR data ingest example where the map tasks throw an exception and the script hung in map_batches. `ray stack` shows this is due to a deadlock in task cancellation:

[code]

[ray-stack.txt](https://github.com/ray-project/ray/files/9874581/ray-stack.txt)

### Versions / Dependencies

3.0dev

### Reproduction script

-

### Issue Seve

[2022-10-27 00:23] 0315jaewon commented on #29705
I can confirm that before compilation starts there is low memory utilization – the bar graph below indicating memory pressure isn't red at all and my computer doesn't slow down at all. To give you exact numbers, the memory used is at 7.00 GB while the physical memory is 8.00 GB (I'm not completely sure if this is not considered low memory utilization though).

[2022-10-27 00:31] DmitriGekhtman commented on #26886
There's a missing dependency, but it only affects a deprecated Kubernetes operator which was meant to be run using Ray images for Python >= 3.7.

In other words, using the module ray.ray_operator is supported only for Python >= 3.7.

[2022-10-27 00:31] #26886 closed

[2022-10-27 01:08] 0315jaewon commented on #29705
Where can I find the link to join the slack channel for Ray?

[2022-10-27 01:58] #29235 closed

[2022-10-27 02:33] jzxycsjzy commented on #13405
Same problem. I cannot obtain action from action space when I try to use QMix algorithm. Include train.trainer() and tune.tuner().fit()

[2022-10-27 03:21] jiaodong opened #29743 "[AIR] Update pytorch training and prediction benchmark with numpy with updated metrics"
### Description

https://github.com/ray-project/ray/blob/master/release/air_tests/air_benchmarks/workloads/pytorch_training_e2e.py

and

https://github.com/ray-project/ray/blob/master/release/air_tests/air_benchmarks/workloads/gpu_batch_prediction.py

Are still using pandas UDF. After numpy predictor PR merged we should also update perf metrics together

### Use case

_No response_

[2022-10-27 03:34] cadedaniel commented on #29705
There were some other processes on the machine consuming available memory. Once @0315jaewon restarted their machine, the build completed successfully.

[2022-10-27 03:34] #29705 closed

[2022-10-27 04:10] #29673 closed

[2022-10-27 04:38] alexeyev commented on #29724
Hi @bveeramani @ArturNiederfahrenhorst, thank you for the quick response!

I probably will, thanks :)

[2022-10-27 06:09] dumpmemory commented on #29458
But keep the checkpoint number consistent with Huggingface checkpoint number will be more connivence for  managing checkpoints

[2022-10-27 06:55] rkooo567 commented on #29412
cc @pratkpranav lmk how this goes! I will downgrade the priority until you get back to me

[2022-10-27 06:58] pratkpranav commented on #29412
Sure! It is running, will try to get back to you with required logs, by today.

[2022-10-27 07:06] bveeramani commented on #29586
Hey @jbedorf, thanks for opening an issue!

As you mentioned, I suspect the issue has to do with Window's 260 character path limit.

You can set `trial_dirname_creator` with the `_tuner_kwargs` parameter. That said, this is an implementation detail -- it might be removed without warning.

[code]

[2022-10-27 07:07] bveeramani commented on #29586
Closing this issue because you've found a workaround. Feel free to re-open it to continue the discussion!

[2022-10-27 07:07] #29586 closed

[2022-10-27 07:32] rkooo567 commented on #29607
I will assign you @architkulkarni as I know you are working on this

[2022-10-27 07:35] rkooo567 commented on #29452
The first one seems to be easy to fix. The second one is probably the env specific, and you might need to figure out why the device is busy. I think when you see this sort of error so many things will be broken at the same time

[2022-10-27 07:36] rkooo567 commented on #26066
You can also use `ray list nodes`

[2022-10-27 07:37] rkooo567 commented on #26066
i think we can just close it now. Maybe when we promote ray status --verbose, we will forget about this issue. Please reopen if you disagree!

[2022-10-27 07:37] #26066 closed

[2022-10-27 07:43] rkooo567 commented on #29545
I tried ray.get an actor handle, and it seems to work. So I assume this is serve specific. Since it used to work at 1.13, why don't you guys try bisecting it between 1.13 and 2.0?

[2022-10-27 07:44] #29530 closed

[2022-10-27 07:57] rkooo567 commented on #7431
Btw, I think adding `get_data` is not a too bad idea. It's easier to find the API, and we'd like to avoid using the state API for things other than the observability purpose, and it may not available from the default ray (you can use it only when ray[default] is used). cc @scv119 any thought?

[2022-10-27 08:00] rkooo567 commented on #13630
actually it is possible now. You can try

[code]

[2022-10-27 08:03] rkooo567 commented on #22774
looks like the use case is a bit niche (could be useful for Jupyter based workload). I will mark it P2. I think what we really need is this

[code]

There's an issue that we track to implement `get_placement_group(id=)`. If anyone is interested in this feature, please comment. We can prioritize it.

[2022-10-27 08:04] rkooo567 commented on #28393
Is it done? or is it a follow up?

[2022-10-27 08:08] Tehada commented on #29461
Also, here is minimal example to reproduce the problem.

minimal-example.yaml:

[code]

file ray_testik.py in script directory:
[code]

command to execute the pipeline:
[code]

[2022-10-27 08:12] rkooo567 commented on #28268
+1 on using logger. Imo we should avoid using print and give more power to users for logging capability. Are we planning to handle this btw? @xwjiang2010. Maybe we can get help from them?

[2022-10-27 08:14] rkooo567 commented on #28903
@sairajab I think you can repro by
1. build ray from source.
2. Create a conda env with different python version and try building from the source again.
3. Try starting ray (ray start --head)

[2022-10-27 08:16] rkooo567 commented on #28788
As a workaround, you can do `ray logs [file_name] --node-id XYZ > <name>.log` (you can find the node id from the dashboard or `ray list nodes`)

[2022-10-27 08:16] rkooo567 commented on #28788
https://docs.ray.io/en/master/ray-observability/state/state-api.html#logs

[2022-10-27 08:21] rkooo567 commented on #29602
cc @DmitriGekhtman do you have any guess?

[2022-10-27 08:24] rkooo567 commented on #28538
Do you guys mind running `py-spy flamegraph --pid <pid>` and share the output? Currently have no bandwidth to reproducing the issue.

[2022-10-27 08:27] rkooo567 commented on #27211
We will add a profiling feature back to the new dashboard. The prototype is planned to be included in Ray 2.2 (will be released in Dec). I will get back to you once it is available.

[2022-10-27 08:28] rkooo567 commented on #26835
The top entry is always the head node now. Closing the issue.

[2022-10-27 08:32] YarShev commented on #13630
[code]

As far as I understand `node_ids` mathes `NodeID` in ray.nodes(). If so, I think it is okay. I wonder why the `object_size` is 15 even just for `int`?

[2022-10-27 08:32] YarShev commented on #13630
Also, when the feature is going to be non-experimental?

[2022-10-27 09:06] bveeramani commented on #29719
Looks like this was caused by https://github.com/ray-project/ray/pull/29395 and then fixed when it was reverted by https://github.com/ray-project/ray/pull/29742.

![image](https://user-images.githubusercontent.com/26107013/198242410-d98b2fe6-271b-4dc2-8092-7d17f7e39390.png)

[2022-10-27 09:06] #29719 closed

[2022-10-27 09:07] rkooo567 commented on #13630
I think that includes some metadata that's appended to all ray objects. I think we can promote this to public API even now. We need to just go through some process...

[2022-10-27 09:07] rkooo567 commented on #13630
Let me try this by ray 2.2

[2022-10-27 09:28] bveeramani commented on #29720
Looks like this test has only failed once in the past 100 commits, so I'm going to deprioritize this issue. I'll try to get back to it as soon as I can.

![image](https://user-images.githubusercontent.com/26107013/198246978-8f4225ff-2188-41a0-a7e5-a3261fbad433.png)

[2022-10-27 09:46] jharaldson commented on #29662
@matthewdeng, the mentioned workaround in the docs would add too much overhead in our scenario, basically one additional CPU per data generating process. Think it is clear that Ray Datasets should not be used in the way described in the issue description.

A follow-up question that is slightly off topic. What would be the preferred way of writing data to disc in the context described here? I.e. we

[2022-10-27 10:06] tbukic opened #29749 "[AIR, callbacks] _MLflowLoggerUtil incompatible with DB MLflow backend"
### What happened + What you expected to happen

Line [199](https://github.com/ray-project/ray/blob/master/python/ray/air/_internal/mlflow.py#L199) in mlflow integration internals seems to be making problems when using mlflow in the [scenario 5](https://mlflow.org/docs/latest/tracking.html#scenario-5-mlflow-tracking-server-enabled-with-proxied-artifact-storage-access).
Call to mlflow API gives an

[2022-10-27 10:17] dcarrion87 commented on #29658
I was able to solve this by setting `AUTOSCALER_CONSERVE_GPU_NODES` to 0 but now Ray is over allocating the number GPUs despite there being no `nvidia.com/gpu` present...

[2022-10-27 10:21] dcarrion87 commented on #29658
Is this related? https://github.com/ray-project/kuberay/pull/497/

[2022-10-27 11:05] #29658 closed

[2022-10-27 11:36] jharaldson commented on #29545
What are alternative approaches to using a handle (not considering http requests) to call a Ray Serve deployment from remote tasks / Ray actors? The simulation code in the remote task / Ray actor will need to get the result of the Serve prediction for further processing.

[2022-10-27 12:44] YarShev commented on #13630
Sounds good!

[2022-10-27 13:19] 1121091694 commented on #19834
TimeoutError                              Traceback (most recent call last)
File E:\Anaconda\envs\rllib\lib\site-packages\ray\_private\node.py:312, in Node.__init__(self, ray_params, head, shutdown_at_exit, spawn_reaper, connect_only)
    311 try:
--> 312     ray._private.services.wait_for_node(
    313         self.redis_address,
    314         self.gcs_address,
    315         self._plasma_stor

[2022-10-27 13:42] shaileshcheke commented on #17185
Facing **←[0mC:/users/dell/_bazel_dell/vpvw64rg/external/com_github_grpc_grpc/BUILD:1517:16: Compiling src/core/lib/resource_quota/memory_quota.cc failed: (Exit 2): cl.exe failed: error executing command** while building. OS: Windows 10, Python Version: 3.9.13, Visual Studio Build Tools 2019.

[2022-10-27 14:10] BBrowns opened #29756 "Ray is not running ray start --head"
Currently, I'm using ray to run modin on a HPC. It was working fine so far, but somehow the command ray start --head is not responding. I get no feedback whatsoever, so I cannot really find what's the issue here. I was running it from a bash script, but running the command line it also does not work. Trying ray stop --force also give no response.

Additionally, when I try to run a Python script wh

[2022-10-27 14:16] BBrowns commented on #29756
Additionally, I see finally some output from ray:
`2022-10-27 16:11:06,190 INFO worker.py:1333 -- Connecting to existing Ray cluster at address: 172.23.56.190:6379...
[2022-10-27 16:11:06,199 W 27238 27238] global_state_accessor.cc:390: Some processes that the driver needs to connect to have not registered with GCS, so retrying. Have you run 'ray start' on this node?`

I cannot seem to connect to

[2022-10-27 14:31] BBrowns commented on #29756
This seemed to be a temporary issue. I do not know why, but it might be something at the server side. Waiting was the solution apparently.

[2022-10-27 14:31] #29756 closed

[2022-10-27 14:37] #29722 closed

[2022-10-27 14:38] rkooo567 opened #29757 "[Core] Fix flaky memory_monitor_test"
### What happened + What you expected to happen

<img width="1590" alt="Screen Shot 2022-10-27 at 7 38 12 AM" src="https://user-images.githubusercontent.com/18510752/198318214-71593e00-c9fa-4c96-8036-249f528f2a17.png">

Seems like the test is very flaky

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-10-27 14:42] scv119 commented on #29545
@sihanwang41 we need to move https://github.com/ray-project/ray/blame/master/python/ray/serve/handle.py#L140 out of deserialization code path.

[2022-10-27 14:54] rkooo567 commented on #29431
cc @pconrad-insitro for the follow up!

[2022-10-27 15:39] ncoish commented on #28788
Thanks @rkooo567 , this is helpful.

[2022-10-27 15:42] #28541 closed

[2022-10-27 15:52] jjyao commented on #18491
It's the raylet process not the dashboard process that accepts `--redis-password`, but we still need to fix it.

[2022-10-27 15:58] jjyao opened #29758 "[Core] Setting python log level for ray processes"
### Description

Currently there is no way to change the python log level globally that will affect all the Ray processes (e.g. worker, dashboard, agent). It is useful when people want to, for example, turn on the debug log for datasets library.

### Use case

_No response_

[2022-10-27 15:59] jjyao commented on #29758
cc @rkooo567, I'll let you triage and decide the priority.

[2022-10-27 16:00] xwjiang2010 commented on #28268
I am trying to understand what this request entails. Is the issue mainly with how ProgressReporter is implemented? mostly redirect `print_result` to a python logger?
@rkooo567 do you have pointers to how other libraries are doing it? e.g. ray serve etc

[2022-10-27 16:19] #26536 closed

[2022-10-27 16:35] DmitriGekhtman commented on #25671
I think there are many reasons this could potentially happen. If someone can share details about recent occurrences of this issue, we could investigate.

[2022-10-27 16:36] DmitriGekhtman commented on #25671
Oh I see, there are some reproduction details in the original post. Perhaps it's enough to start looking into it or make some general suggestions.

[2022-10-27 16:37] DmitriGekhtman commented on #25671
cc @scv119 @ericl to help triage

[2022-10-27 16:39] DmitriGekhtman commented on #29602
Just a process question --
@kevin85421 I seem to recall you encountered the same thing on K8s. Did you post an issue then? (Is this a duplicate?)

@liangyu-1 can you tell us about how you set up your Ray cluster? (Did you use the cluster launcher to set up Ray on VMs? Are you using Kubernetes?)

[2022-10-27 16:43] xwjiang2010 commented on #28618
Actually I can't recall... @matthewdeng @clarkzinzow Do you still remember why?

[2022-10-27 16:52] jovany-wang commented on #29672
It seems the flaky tests were introduced in https://github.com/ray-project/ray/pull/28367 , create a new PR to fix it.

[2022-10-27 16:58] pconrad-insitro commented on #29431
@rkooo567  - thanks for the suggestion. Unfortunately, this doesn't seem to help.

I changed it to these two lines, so we'd also get some output if it happened:
[code]

It doesn't look like it got called and the hang still occurred as before. I suspect the thread is getting OOM killed while holding the lock, otherwise as you suggest, we would expect grpc to release the mutex as exceptions unwind.

[2022-10-27 17:06] c21 opened #29761 "[Datasets] Promote PandasRow and ArrowRow as PublicAPI"
### What happened + What you expected to happen

Getting Ray user's feedback, when they want to iterate on rows in dataset, they found the actual row format is either `PandasRow` or `ArrowRow`. Currently these are not public API and there's no good documentation/tutorial coverage for them. Only found https://docs.ray.io/en/latest/data/consuming-datasets.html and https://docs.ray.io/en/latest/data/

[2022-10-27 17:10] clarkzinzow commented on #29761
We should also update the API docs for the row-based APIs (`ds.map()`, `ds.iter_rows()`, etc.) to strongly indicate that these row abstractions will be returned, and that they can be worked with as if they are Python dicts.

[2022-10-27 17:11] ericl commented on #25671
@rkooo567 , can you triage? This seems like it should be solved with the placement group improvements, but it would be good to check their script to verify.

[2022-10-27 17:11] c21 commented on #29761
+1.

[2022-10-27 17:17] jovany-wang commented on #29758
A very useful stuff!!!

[2022-10-27 17:41] rickyyx opened #29765 "[Core] stage_2_avg_iteration_time regression on stress_test_many_tasks"
### What happened + What you expected to happen

There seems to be regression on this metric on the grpcio version update: https://github.com/ray-project/ray/commit/58255c79878b724288a523bf99c97e4257040c3c

https://b534fd88.us1a.app.preset.io/superset/explore/p/XrNLW0g7qpx/

### Versions / Dependencies

NA

### Reproduction script

On the commit:
- [cluster](https://console.anyscale.com/o/anyscale

[2022-10-27 17:45] rickyyx opened #29766 "[core] 1000000_queued_time metric regression in single_node test"
### What happened + What you expected to happen

There is regression on the metric:
https://b534fd88.us1a.app.preset.io/superset/explore/p/NDd911495p6/

However, there's no known regression PR yet due to its large variance and slow regression trend. More investigation is needed to figure out the root cause.

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No resp

[2022-10-27 18:19] cadedaniel commented on #29720
I'm not sure what priority we should assign, but I created this issue because it is flaky (gives bad signal). Do we have a good prioritization guideline for fixing flaky tests? cc @jjyao

[2022-10-27 18:19] scottsun94 commented on #29749
cc: @xwjiang2010 @krfricke

[2022-10-27 18:21] cadedaniel commented on #29680
Thanks @krfricke for fixing this with https://github.com/ray-project/ray/pull/29727!

[2022-10-27 18:21] #29680 closed

[2022-10-27 18:23] cadedaniel commented on #29587
I will get to this today.

[2022-10-27 18:25] cadedaniel opened #29767 "[CI] `bk://:windows: Build & Test` is failing/flaky on master."
- ed903948ba29d6a354906da0305295e26d292ffd FAILED [:windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/772#01841a41-1ae2-40ca-a989-69c2700bf073)
- ed903948ba29d6a354906da0305295e26d292ffd FAILED [:windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/772#01841a41-1ae2-46fb-9ba4-4e58263a2002)
- 7be16e70fe741361ce2b61e6d9a1d8546575c724 F

[2022-10-27 18:25] jjyao commented on #29720
For new flaky tests, they should be P0. For backlog flaky tests, we should try to fix them over the time. Our end goal is no flaky tests.

[2022-10-27 18:27] cadedaniel opened #29768 "[CI] linux://python/ray/tune:test_progress_reporter is failing/flaky on master."
<img width="887" alt="Screen Shot 2022-10-27 at 11 26 51 AM" src="https://user-images.githubusercontent.com/950914/198369659-4dcd0693-d54b-48db-bdf6-396b5da21830.png">

[code]

[2022-10-27 18:30] bveeramani commented on #29720
Looks like this has been flaky for some time. That said, I'll try to fix it this week.

I did some preliminary research -- looks like we're sending invalid requests to W&B. Not sure why that would cause a timeout, though.

[code]

[2022-10-27 18:31] bveeramani commented on #29768
There's a PR open for this: https://github.com/ray-project/ray/pull/29748

[2022-10-27 18:32] bveeramani commented on #29768
Closing as duplicate of https://github.com/ray-project/ray/issues/29693

[2022-10-27 18:32] #29768 closed

[2022-10-27 18:42] cadedaniel commented on #29717
Another issue with refreshenv: https://buildkite.com/ray-project/oss-ci-build-branch/builds/769#01841a2b-912d-432c-97e4-7c602432b8a2/4305-4635

[code]

[2022-10-27 18:44] bveeramani opened #29769 "[CI] `linux://python/ray/train:test_mosaic_trainer` is flaky"
![image](https://user-images.githubusercontent.com/26107013/198372761-9281d188-f01f-452f-881d-4133f6fa78da.png)

[code]

[2022-10-27 18:46] clarkzinzow commented on #29590
This is a bug in Arrow 8+, fixed in this PR: https://github.com/ray-project/ray/pull/29161

Closing since we don't yet support Arrow 8+ in Datasets.

[2022-10-27 18:46] #29590 closed

[2022-10-27 18:51] cadedaniel commented on #29767
I looked up a few and they're all `Received cancellation signal, interrupting`.. why our our master windows builds being cancelled?

#### https://buildkite.com/ray-project/oss-ci-build-branch/builds/763#018419e2-91f9-46f5-8c78-f7c9f4ba93f8/4687-4985
[code]
#### https://buildkite.com/ray-project/oss-ci-build-branch/builds/764#018419f9-d5e4-4731-bcec-34fd7e3a4ed2/1403-1412
#### https://buildkite.com

[2022-10-27 18:52] bveeramani commented on #29761
Maybe dumb question, but any reason we can't abstract away `PandasRow` and `ArrowRow`? Like, aren't pandas and Arrow implementation details that don't have anything to do with the user's problem?

[2022-10-27 19:02] cadedaniel commented on #29767
Talking with @simon-mo, looks like this is caused by using spot instances but not retrying on preemption.

[2022-10-27 19:27] clarkzinzow commented on #29761
@bveeramani As for why these row abstractions are needed: they provide a zero-copy dictionary interface for a single row/record, where no data is copied from the underlying table until a concrete column value is accessed (at which point only that value, which is often a scalar, is copied), or they want to mutate the row. This is a big, big performance win for common per-row workloads, where mutati

[2022-10-27 19:49] #29739 closed

[2022-10-27 19:56] #21760 closed

[2022-10-27 19:57] sihanwang41 commented on #29545
Hi @jharaldson , can try to use https://discuss.ray.io/t/deploy-delete-and-use-deployments-in-ray-serve-2-0-0/7557/6?u=sihan_wang? You can directly grab a handle based on the deployment name.  Let me know if it works for you.

Hi @scv119 and @rkooo567, thank you for taking a look!  The serve handle is passed around between different actor as an argument which is working well, it is only not workin

[2022-10-27 20:06] bveeramani commented on #29602
Hey folks, look like this is a known issue that's been fixed on master: https://github.com/ray-project/ray/pull/26295#issuecomment-1189832249.

@liangyu-1 the nightly `rayproject/ray-ml:nightly-gpu` image work.

[2022-10-27 20:10] bveeramani commented on #29761
@clarkzinzow gotcha! Thanks for the context.

[2022-10-27 20:57] harkash opened #29775 "[Core][Tune] Last run hangs when using Pytorch"
### What happened + What you expected to happen

Hello,

I recently setup a new conda environment with Python 3.8, Pytorch 1.12 and Ray 2.0.0 (recently downgraded to 1.9.1 hoping it would fix the issue).

When I do a grid search (around 50 runs in total), the last one or two processes just hang. It just says running but nothing happens. I am forced to cancel that experiment (Ctrl + C) and redo onl

[2022-10-27 21:03] #29693 closed

[2022-10-27 21:03] cadedaniel commented on #29767
Will be closed by https://github.com/ray-project/buildkite-ci-stack/pull/50

[2022-10-27 21:18] #29767 closed

[2022-10-27 21:27] c21 opened #29777 "[release] air_benchmark_tune_torch_mnist_large_gpu keeps timing out"
### What happened + What you expected to happen

Examples:

https://buildkite.com/ray-project/release-tests-branch/builds/1163#01841b05-9162-4cab-9116-d9027a756bd1
https://buildkite.com/ray-project/release-tests-branch/builds/1163#01841a5c-c8b9-4f1a-aa7d-c9d5f5c24d5d
https://buildkite.com/ray-project/release-tests-branch/builds/1163#01841826-0352-40fb-854f-91cfc10a89e6

The test are running longer

[2022-10-27 21:30] rickyyx commented on #29777
Might be infra timeout
[code]

[2022-10-27 21:37] bveeramani commented on #29777
Yeah, looks like it's timing out because of infra issues.

This error message repeats 50+ times before the test times out.
[code]

[2022-10-27 21:39] c21 commented on #29777
Thanks folks for checking!

[2022-10-27 21:41] #28722 closed

[2022-10-27 21:46] #22733 closed

[2022-10-27 21:46] #27138 closed

[2022-10-27 22:00] wuisawesome commented on #28393
This is a follow up based on some feedback I got.

[2022-10-27 22:02] architkulkarni commented on #26514
@Michaelvll Thanks for reporting this, that's a pretty compelling reproduction script.  The only way to work around it currently would be to use the Jobs SDK instead of the CLI.

Do you have any ideas for how to support this without breaking backwards compatibility or implementing too much custom logic for parsing quotes out of the string? Would you be willing to submit a PR?

[2022-10-27 22:04] ArturNiederfahrenhorst opened #29778 "[RLlib] Eager Tracing broken for A2C and A3C under tf>=2.8.0"
### What happened + What you expected to happen

We had to disable eager tracing tests for A2C and A3C to not block [our bump to tf 2.9](https://github.com/ray-project/ray/pull/28808). Both are currently broken when combined with eager tracing.

### Versions / Dependencies

master + tf 2.9

### Reproduction script

a2c microbatch test and a3c compilation test

### Issue Severity

_No response_

[2022-10-27 22:10] xcharleslin opened #29779 "[Datasets] repr shows num_rows=None"
### What happened + What you expected to happen

When a Dataset does not know the number of rows, the Dataset repr will sometimes show `num_rows=None`. The intent is to say that "the number of rows is unknown", but it may be confused with "there are no rows".

### Versions / Dependencies

ray latest, python 3.7, mac intel

### Reproduction script

(thanks to @clarkzinzow)
[code]

### Issue Severit

[2022-10-27 22:16] architkulkarni commented on #26514
Though now I'm having second thoughts... it seems like https://github.com/ray-project/ray/issues/22004#issuecomment-1026207226 we're using `kubectl exec -- ` as our reference point here for best practices and the kind of API the user is expecting.  I was surprised to see that `kubectl exec -- "echo test > output.txt"` isn't supported either:

[code]

That doesn't mean we shouldn't do things differ

[2022-10-27 22:28] bveeramani commented on #29201
I think this is resolved? Feel free to re-open if there's more.

[2022-10-27 22:28] #29201 closed

[2022-10-27 23:09] rkooo567 commented on #25671
@olivierlabreche are you still in ray 1.12? From Ray 2.0, you can use `ray get placement-groups` API to know the exact scheduling status of the placement group.

For this particular issue, I think it is related to the node failure, not the placement group API. Have you tried https://github.com/ray-project/ray/issues/25671#issuecomment-1159017418?

[2022-10-27 23:26] rkooo567 commented on #25671
Also, I think scheduling 400 actors is a pretty small-scale workload in Ray, so it should be mostly fine. I am also curious how many nodes you have?

[2022-10-27 23:41] xwjiang2010 commented on #29777
driving by, as I am trying to optimize our release tests by keeping an eye on current failures.

btw, I think this is a real issue.

from this log
[code]

Suspecting https://github.com/ray-project/ray/pull/29133

not release blocking

[2022-10-27 23:43] justinvyu opened #29786 "[Tune] PB2 is missing unit tests"
### Description

PB2 is only tested via examples in `tune/examples` currently. We should add unit tests checking that PB2 scheduling behavior is correct.

See https://github.com/ray-project/ray/pull/29102 for an example of what should be tested.

### Use case

_No response_

[2022-10-27 23:43] rkooo567 commented on #29602
@liangyu-1 can you verify that? Please reopen the issue if this is not fixed in the master!

[2022-10-27 23:43] #29602 closed

[2022-10-27 23:47] rkooo567 commented on #28268
My understanding is that we should redirect these outputs to the logger, not a print so that users can have control over logs printed from the library @jovany-wang please comment if this makes sense (e.g., they can filter out some logs or change the severity threshold). @jovany-wang  Also, can you answer this question?

For the serve, I'd like to ask @simon-mo @gjoliver (rllib) to understand how w

[2022-10-27 23:51] rkooo567 commented on #29431
I think this is usually configured by default.

https://www.oracle.com/technical-resources/articles/it-infrastructure/dev-oom-killer.html -> for OS

from ray 2.1, (will be released in a week or so), you can also try https://docs.ray.io/en/master/ray-core/scheduling/ray-oom-prevention.html

[2022-10-27 23:54] jjyao commented on #29294
@scv119 I think it should be P0 for core in 2.2.

[2022-10-27 23:59] justinvyu opened #29787 "[AIR] Whether or not to change the working dir should be configurable when using Ray Train"
### Description

## Context

See https://github.com/ray-project/ray/issues/29128 for more context on why this may be needed.

https://github.com/ray-project/ray/pull/29258 introduced a `should_chdir_to_trial_dir` flag in `TuneConfig`, which allows you to turn off the default of changing the working directory of each trial worker to its independent trial-level directory (ex: trial 0's working direc

[2022-10-28 00:11] #29710 closed

[2022-10-28 00:20] simon-mo commented on #28268
Serve encourages user to use the logger configured by Serve which redirects to file.

[2022-10-28 00:36] richardliaw opened #29789 "[air/predictor] Add documentation for custom predictor"
### Description

Custom predictors will allow users to easily port their model to do scalable batch inference with Ray. Currently there is no guide for doing this: https://docs.ray.io/en/latest/ray-air/predictors.html#developer-guide-implementing-your-own-predictor

this is the best thing but it'd be great to have an end-to-end example/guide.

### Link

_No response_

[2022-10-28 00:59] rickyyx opened #29790 "[core][state observability] ray logs follow on monitor.log not working"
### What happened + What you expected to happen

Seems to be not following.

### Versions / Dependencies

2.0.0

### Reproduction script

https://console.anyscale-staging.com/o/anyscale-internal/workspaces/expwrk_9bUyvcEZt1erMzKjr38hRUPs/ses_qmd7vvgBD4cZfBRD9rTSVLxH

### Issue Severity

_No response_

[2022-10-28 01:29] rkooo567 opened #29791 "[Autoscaler] Do not abort the autoscaler when there are many errors during update"
### What happened + What you expected to happen

Right now if there are exceptions happening during update (cumulative) and exceed the threshold (`AUTOSCALER_MAX_NUM_FAILURES = env_integer("AUTOSCALER_MAX_NUM_FAILURES", 5)`), the autsocaler aborts itself. We should handle this more gracefully than aborting the process.

 https://github.com/ray-project/ray/blob/aecba4d418043f8f9c690481dda5f64259494

[2022-10-28 01:33] rkooo567 commented on #29791
Related https://discuss.ray.io/t/ray-status-couldnt-find-the-ray-cluster-despite-a-working-cluster/7999

[2022-10-28 03:01] bveeramani commented on #29749
Was able to reproduce with a `sqlite3` database:

[code]

Debugging now.

[2022-10-28 03:25] #29672 closed

[2022-10-28 03:38] bveeramani commented on #29749
Figured it out -- it's a bug with MLflow `1.30`. See https://github.com/mlflow/mlflow/pull/7138 and https://github.com/mlflow/mlflow/issues/7133.

@tbukic As a temporary workaround, installing the MLflow nightly should fix your issue.

@amogkam should add a fix to our code like below?
[code]

[2022-10-28 03:44] amogkam commented on #29749
thanks for looking into this @bveeramani. yes that change sgtm

[2022-10-28 04:18] jovany-wang commented on #28268
@rkooo567 A custom ProgressReporter could address it. But even if it works, I still think it's too heavy. A clearer flag would be great to use for users who are using it for real world instead of research purpose.

[2022-10-28 04:31] ericl commented on #28268
It sounds like we should try to follow Serve's convention here for the output? Tune can probably configure the default logger to emulate the existing print behavior.

[2022-10-28 05:17] pratkpranav commented on #29412
@rkooo567 the program has been running for a while now without any crashes. I see some nodes warning of lagging heartbeats(outputs added). I have observed the other warning(which causes the actor to kill itself) tends to appear only after the program has been running for some time(maybe a day or two). I will keep it running over the weekend and get back to you as I hit the issue again.

<details>

[2022-10-28 05:42] kaushik143 commented on #26595
@spolcyn Did you find any possible solution for this?

[2022-10-28 05:46] bveeramani commented on #15893
cc @wuisawesome

[2022-10-28 05:47] kaushik143 commented on #28036
@DmitriGekhtman Have we finalized any design for reconciliation?

[2022-10-28 06:16] yzs981130 opened #29795 "[dashboard] ray 2.0.1 not showing dashboard information"
### What happened + What you expected to happen

The dashboard-related information is missing when setting `--include-dashboard=true`. However, the dashboard is started. The correlating log is attached below.

[code]

### Versions / Dependencies

ray, version 2.0.1
python 3.9.13

Ray is installed by `pip install "ray[default]"==2.0.1`

### Reproduction script

ray start --head --include-dashboard=

[2022-10-28 07:13] bveeramani commented on #29714
Fixed by https://github.com/ray-project/ray/pull/29748

[2022-10-28 07:13] #29714 closed

[2022-10-28 08:34] tbukic commented on #29749
Great job, @bveeramani , thank you!

[2022-10-28 08:34] #29749 closed

[2022-10-28 09:54] jovany-wang commented on #24567
DONE

[2022-10-28 09:54] #24567 closed

[2022-10-28 09:55] #21220 closed

[2022-10-28 13:14] rkooo567 commented on #29412
[code]

So this happens because of the agent failure. This is the flow;

agent failed -> raylet failed -> heartbeat not reported -> heartbeat lagging error.

I think I can remove this false negative error message. The original issue remains the same (agent failed because it thinks the raylet is failed. But raylet is actually alive).

Btw I added a kind of "speculative fix" into my PR. So if you ca

[2022-10-28 13:56] olivierlabreche commented on #25671
@rkooo567 I opened this issue on behalf of one of our platform users, but I have not heard back about a resolution. Unfortunately I don't have a lot of additional details or context to share. We are trying to migrate to Ray 2.0 though I believe most projects are still on 1.x. I heard back recently from another user running into this issue again, so I am hoping he might be able to jump on this issu

[2022-10-28 15:22] pconrad-insitro commented on #29431
Thanks @rkooo567  - I browsed the doc for the new feature, I agree it seems very useful and should provide a lot of protection. Thanks for exploring this with me. At this point, I think it's reasonable to close this as both "not directly fixable" and "soon to be mitigated".

[2022-10-28 15:25] #12289 closed

[2022-10-28 15:25] #24244 closed

[2022-10-28 15:26] rkooo567 commented on #29795
thanks for the report! include-dashboard is true by default btw. I believe we never printed this information to the output of ray start. I am planning to add the information for ray 2.2

[2022-10-28 15:30] rkooo567 commented on #29431
Thanks for the quick response and engagement! Please let me know if you have any other issue :) !

[2022-10-28 15:30] #29431 closed

[2022-10-28 15:32] DmitriGekhtman commented on #28036
Design doc forthcoming! I'll have some ideas to share next week!

[2022-10-28 15:34] DmitriGekhtman commented on #26595
To be clear, I doubt this can happen with the current KubeRay autoscaling support.

[2022-10-28 15:35] pratkpranav commented on #29412
@rkooo567 , It failed again, but this time without producing any warning. The program output is added below.

<details>
<summary>Error Output</summary>

[code]
</details>

These are the logs from node 110(which failed) and the head node.
[logs_head.zip](https://github.com/ray-project/ray/files/9889641/logs_head.zip)
[logs_110.zip](https://github.com/ray-project/ray/files/9889696/logs_110.zip)

In

[2022-10-28 15:37] rkooo567 commented on #25671
Sounds good! Let me know if the user wants to talk to me directly. I'd love to do pair debugging or share more debugging tips in person. Also, what you can try as a short-term quick fix is to increase the heartbeat timeout. I've seen it. worked for some users before.

Currently, the heartbeat is sent 1 per second for 30 seconds, and you can control it by setting the env var;

[code]

[2022-10-28 15:38] rkooo567 commented on #25671
I will bump the priority once the details are confirmed, and we can create a concrete action item. Right now, I will wait for the follow-up.

[2022-10-28 15:50] rkooo567 commented on #29412
Yes. Let me tell you a bit more detail about what is happening here. So in every ray node, there's a raylet. And raylet spawns a child process called "dashboard agent". Although the name has "dashboard", it is actually doing more work than the dashboard things, so you can just think it as an "agent".

When the agent is dead, the raylet is dead. They fate share.

Also in Ray, every raylet sends hea

[2022-10-28 15:52] pratkpranav commented on #29412
Sure, Thanks for the help.

[2022-10-28 15:56] rkooo567 commented on #29412
I will lyk after this PR is merged https://github.com/ray-project/ray/pull/29802

[2022-10-28 16:02] cadedaniel opened #29803 "[CI] `osx://python/ray/tests:test_object_store_metrics` is failing/flaky on master."
- 949a8348137a104fe65ff2e46f93b95a6f7c479e FAILED [Buildkite :mac: :apple: Medium K-Z](https://buildkite.com/ray-project/oss-ci-build-branch/builds/762#01841dd9-b8d1-4b41-af5b-df9c3021ce7e)
- b218ae7e4a77728cb988dbc12130378e977a2a7b FAILED [Buildkite :mac: :apple: Medium K-Z](https://buildkite.com/ray-project/oss-ci-build-branch/builds/761#0184196a-f19d-45bd-8c15-2052773b5e19)
- e7a614f3886e67ecf3

[2022-10-28 16:04] cadedaniel commented on #29803
@rickyyx looks like this started failing with https://github.com/ray-project/ray/pull/29485

[2022-10-28 16:49] jharaldson commented on #29545
Thanks @sihanwang41, your proposed solution works nicely.

[2022-10-28 16:52] rkooo567 commented on #29412
okay. it is merged. https://github.com/ray-project/ray/pull/29802

Maybe you can try this again in 3~4 hours!

[2022-10-28 17:10] rickyyx commented on #29803
Let's revert it for now - something wrong with macos there. I will follow up.

[2022-10-28 17:21] cadedaniel commented on #29803
Hm, I tried reverting but looks like another merge touched one of the same files after this was merged. Will see if it's easy to fix.
[code]

[2022-10-28 18:00] krfricke commented on #27170
@justinvyu has this been resolved by https://github.com/ray-project/ray/pull/28509?

[2022-10-28 18:12] #29632 closed

[2022-10-28 18:17] architkulkarni opened #29809 "[Dashboard] [CI] Add tests for uncaught exceptions"
Dashboard exceptions raised by bad responses are caught and logged in `dashboard.log`, but during testing we should make sure that these exceptions don't happen.

----

      Maybe we can record all uncaught exceptions (count), expose it via HTTP response, and add some sanity check at the end of all tests? WE did similar things for the spilling test (we have leak_validation check at the end of eve

[2022-10-28 18:17] krfricke commented on #25236
This is related to #27853 - docstring testing was partially activated in #28368 so we mainly need to convert our docstring to an executable and testable format

[2022-10-28 18:41] justinvyu commented on #27170
I believe that PR doesn't fix this issue. My understanding of this issue is that `checkpoint_interval > perturbation_interval`, which is part of the user-defined configuration. I don't have a good way of fixing the case where the user doesn't checkpoint in time for the first perturbation. I have added suggestions in updated examples/guides that recommends checkpointing on every perturbation, or mo

[2022-10-28 18:46] jjyao opened #29811 "[Core] GPU placement group doesn't honor the bundle index"
### What happened + What you expected to happen

For the reproduction script below, I would expect that each bundle is tied to a GPU so the output should be "0, 1, 2, 3" but now it's "0, 0, 1, 1"

### Versions / Dependencies

master

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-10-28 18:46] jjyao commented on #29811
cc @rkooo567

[2022-10-28 18:46] starpit commented on #21592
btw, we ran into this because we were setting, in a ray worker process, the `RAY_ADDRESS` env var to an `http:` address when running in-cluster.  by removing that env var from the kube pod, this particular error went away.

[2022-10-28 18:56] clarkzinzow opened #29814 "[Datasets] Arrow data buffers aren't truncated when pickling zero-copy slice views, leading to huge serialization bloat"
This is a duplicating issue of https://github.com/ray-project/ray/issues/22310, so we have a clean issue on which to summarize the problem.

When pickling Arrow data (tables, in our case), Arrow currently doesn't truncate the data buffers for zero-copy slice views of the data (see [Arrow ticket](https://issues.apache.org/jira/browse/ARROW-10739)). For many of our workloads, this results is sending

[2022-10-28 19:02] clarkzinzow opened #29815 "[Datasets] In Arrow 9+, creating S3 buckets requires explicit opt-in."
In Arrow 9+, creating S3 buckets requires the `allow_create_buckets=True` option to be enabled when instantiating the `S3FileSystem`, or requires passing a URI with the `allow_create_buckets=true` query parameter set. We need to add this automatically for S3 URIs when having to create S3 buckets on behalf of the user.

[2022-10-28 19:04] #29803 closed

[2022-10-28 19:08] clarkzinzow opened #29816 "[Datasets] For Arrow 8+, tensor column element access returns an `ExtensionScalar`."
In Arrow 8+, tensor column element access returns an [`ExtensionScalar`](https://arrow.apache.org/docs/python/generated/pyarrow.ExtensionScalar.html) rather than the simple `__getitem__` result. We need to convert this to a NumPy ndarray before relaying it to the user.

For Arrow 9+, `ExtensionScalar` is subclassable, allowing us to return an ndarray view from `.as_py()`.

For Arrow 8.*, `Extensio

[2022-10-28 19:13] clarkzinzow opened #29817 "[Datasets] Add zero-copy batch argument for `ds.map_batches()`"
For UDFs that don't mutate their input, we should have an option to provide best-effort zero-copy batch views for batch mapping. This can allow us to elide an unnecessary batch copy.

## API

For the best UX, the argument can be tailored to the UDF's batch mutation semantics, such as `allow_mutate_batch: bool = True`. This defaults to `True` to preserve existing behavior, where the batch is guaran

[2022-10-28 19:49] zhe-thoughts commented on #16321
Making a judgement call that this is P2 (a tech debt that does not immediately affect any user yet). Chen can change if you see fit

[2022-10-28 19:58] cadedaniel commented on #29811
Isn't this expected unless using `STRICT_SPREAD`? i.e. no strong guarantees on spread, just an atttempt?

[2022-10-28 20:07] cadedaniel commented on #29790
Assigning P1 for now cc @rickyyx

[2022-10-28 20:08] architkulkarni commented on #29545
@sihanwang41 do you mind assigning a priority for this (or closing it if it's already addressed)?

[2022-10-28 20:14] wuisawesome commented on #29811
Btw how are we supposed to interpret the `@ray.remote(num_gpus=0.5, num_cpus=0)`? Is that supposed to be overridden by the placement group? I actually would've thought that this should hang forever because there aren't enough resources (We ask for 0.5 gpu's, in addition to the placement group but all the gpu's are reserved)

[2022-10-28 20:21] hora-anyscale commented on #29777
Per Triage Sync: @c21 if you feel p1 is incorrect, please update

[2022-10-28 20:56] #29777 closed

[2022-10-28 21:00] clarkzinzow opened #29822 "[Datasets] Add CI jobs covering major Arrow versions we support."
Arrow releases major versions at a relatively high cadence (5 releases in the past year), and we need to ensure compatibility with many of these versions because:
1. Arrow drops support for Python versions across major versions that we still support; e.g., Python 3.6 support has been dropped for Arrow 7+.
2. Both Datasets dependencies (e.g. Pandas, pymongoarrow) and user dependencies can have diff

[2022-10-28 21:44] cadedaniel commented on #29698
@wuisawesome could you help triage this?

[2022-10-28 21:52] cadedaniel commented on #29671
Thanks for reporting this issue! cc @DmitriGekhtman what do you think about this issue? Seems like we should either update the docs to not use this image, or update Ray to attempt to heal the container automatically, or both.

cc @jjyao

[2022-10-28 22:28] ijrsvt opened #29826 "[Serialization] Cannot serialize Frozen Pydantic Model"
### What happened + What you expected to happen

Cannot pass a Pydantic model that has the `frozen=True` parameter set.

[code]

### Versions / Dependencies

Ray: 2.0.1
Pydantic: 1.8.2
Python: 3.6.10
OS: MacOS

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-10-28 22:38] cadedaniel commented on #29696
Can you try increasing the ulimit on open files?

Example: https://discuss.ray.io/t/setting-ulimits-on-ec2-instances/590

[2022-10-28 22:53] DmitriGekhtman commented on #29671
Probably that.

[2022-10-28 22:57] rkooo567 commented on #29811
Right now, this means the task needs 0.5 GPU from a given placement group bundle.

[2022-10-28 23:20] cadedaniel commented on #29587
I've reproduced this, I suspect it is related to the virtualenv creation since before that it wouldn't reproduce for me.

[2022-10-28 23:39] #28003 closed

[2022-10-28 23:47] jjyao commented on #29671
Hmm, even if we don't mention in our doc. People may still use it and run into this error. Should we fix the code to handle this case or we think that the c2d-startup script behavior is not expected and supported?

[2022-10-28 23:56] richardliaw commented on #29031
Do all of our examples use to_tf now?

[2022-10-28 23:56] richardliaw commented on #28614
Can you leave more details in the description? Also will assign this to you for next sprint.

[2022-10-29 00:00] richardliaw commented on #29592
awesome! Can you file a patch then?

[2022-10-29 00:01] matthewdeng commented on #29171
@Yard1 FYI this is just a problem with our internal BackendExecutor relaying an error that made sense for the previous Trainer API, but not the AIR API.

1. BackendExecutor intentionally sets max_retries to 0 since it now delegates retry logic to Tune.
2. Ideally the traceback here should just describe the error that was caught within the training loop

[2022-10-29 00:04] richardliaw commented on #28412
@heyitsmui did you create a pr for this?

[2022-10-29 00:11] kouroshHakha opened #29830 "[RLlib] Add some metric for aync algos (e.g. APPO) that shows the total number of updates"
### Description

Some users want to look at the number of gradient updates instead of num env steps. Make it easy for them to do so. We need a counter to keep track of everytime we make one gradient update.

### Use case

_No response_

[2022-10-29 00:27] rkooo567 commented on #29452
Hmm actually we properly catch the ProcesLookupError and not abort. https://github.com/ray-project/ray/blob/e4ce38d001dbbe09cd21c497fedd03d692b2be3e/python/ray/_private/log_monitor.py#L130

Are you sure you are using ray 1.13?

[2022-10-29 00:34] #29543 closed

[2022-10-29 08:04] clarng opened #29836 "Disable legacy mem mon when oom killer is enabled"

[2022-10-29 08:32] richardliaw commented on #29197
Hi @Stephen-Hao can you provide a reproduction script and a description of your cluster?

[2022-10-29 16:17] hokhay commented on #10448
I have the exact same problem and it seems have not solved for 2 years. Can anyone explain what is the cause of this issue and how to solve it? Thanks

[2022-10-29 17:03] rkooo567 commented on #28890
@ckw017 are you planning to work on this?

[2022-10-29 17:14] rkooo567 commented on #27813
Hey @galenhwang can we close this?

[2022-10-29 19:12] ndrwnaguib commented on #6796
@richardliaw how about accessing it from a trainable function?

[2022-10-29 20:23] galenhwang commented on #27813
Yeah let's close it. Below PR seems to be the fix (for Ray >= 2.0.1)
* https://github.com/ray-project/ray/pull/28330

[2022-10-29 20:23] #27813 closed

[2022-10-29 21:46] evanrittenhouse commented on #28460
@architkulkarni Sorry for the delay, coming back on this. How would I actually test this? Is it enough to simply pass a virtualenv to RuntimeEnv and check that it exists?

[2022-10-29 22:06] rickyyx opened #29840 "[core][release] Reevaluate/improve many_nodes release test"
### What happened + What you expected to happen

The test currently reports perf metrics with huge variance and it's not useful at all. https://b534fd88.us1a.app.preset.io/superset/explore/p/bke7qvDAYgB/

<img width="1034" alt="image" src="https://user-images.githubusercontent.com/11676094/198854071-201ebb38-8bb8-484d-beb4-dd8ff72fbddf.png">

### Versions / Dependencies

NA

### Reproduction scrip

[2022-10-29 22:10] #29840 closed

[2022-10-29 23:27] frank-lsf opened #29841 "Setting some system configs causes Ray to fail to start"
### What happened + What you expected to happen

[code]

Causes ray to crash on start:
[code]

`/tmp/ray/session_latest/logs/gcs_server.err` shows:

[code]

But `event_stats_metrics` is clearly defined in https://github.com/ray-project/ray/blob/master/src/ray/common/ray_config_def.h#L30.

I'm also having this problem with a new flag I'm testing (https://github.com/ray-project/ray/pull/29834).

cc

[2022-10-30 00:37] ckw017 commented on #28890
@rkooo567 Likely won't have time until after November

[2022-10-30 03:33] aploium commented on #19240
Hello, did you solved this finally? I encountered the same scene as you.
I set an `time_budget_s`, so my tune stopped after that, but want to continue for more time.

[2022-10-30 06:56] rkooo567 commented on #28569
cc @ankur6ue ping for ^. If you can tell us when this can happen a bit more, we can prioritize this task! Also, we will remove the legacy view from Ray 2.2, so we won't work on the fix.

[2022-10-30 06:59] rkooo567 commented on #28538
I couldn't reproduce the issue from the master. Please give me more detail for the reproduction. E.g.,

- what's the cluster.yaml? Can you share it?
- Do you run any workload? If so, can you share it?
- Also can you try running the py-spy and share the flamegraph with me?

[2022-10-30 07:00] rkooo567 commented on #28320
We are planning to improve it in a couple of versions (likely around ray 2.4). If you have other feedback, please leave comments here!

[2022-10-30 07:05] rkooo567 commented on #25909
@chrisk314 were you able to fix the issue? Let us know if you find the root cause.

[2022-10-30 07:21] rkooo567 commented on #25817
@Yard1 do you mind making a PR to fix it? If you have time

[2022-10-30 07:25] rkooo567 commented on #26992
@zahyaah Did you get to make a PR?

[2022-10-30 07:27] rkooo567 commented on #28074
cc @zhe-thoughts for the release related question; https://github.com/ray-project/ray/issues/28074#issuecomment-1287645600

[2022-10-30 07:27] rkooo567 commented on #28074
@clarng is it okay to close this issue? Did we already make a fix for cgroup2?

[2022-10-30 07:32] rkooo567 commented on #27089
@shrekris-anyscale can you tell me a bit more detail about what was the issue? Wonder if the core layer could have made this better to avoid the problem

[2022-10-30 09:06] chrisk314 commented on #25909
@rkooo567 I don't have anything to report right now. I wasn't using Ray much over the last few months. Just picking it up again since last week but on v2.0.1 now. Haven't seen this problem so far but also haven't been using the dashboard heavily. Will report back with details from logs if I hit this again.

[2022-10-30 09:45] jmakov commented on #28538
No workload. Will try to run py-spy when I get to the cluster.

cluster.yaml:
[code]

[2022-10-30 10:33] rkooo567 commented on #27952
Actually what's the ray version? It may have been fixed in the master. We have upper limit of the amount of profile data stored (so the return payload may be way lower than 2GB all the time. Can you check it? )

[2022-10-30 12:19] rkooo567 commented on #9200
I believe this should've been fixed by https://github.com/ray-project/ray/pull/19691. If you see other uninterpretable error, please create an issue.

[2022-10-30 12:19] #9200 closed

[2022-10-30 12:34] rkooo567 commented on #24863
I think it is a ray client issue

[2022-10-30 12:35] clarng commented on #28074
cgroup v2 is fixed here https://github.com/ray-project/ray/pull/29709

closing

[2022-10-30 12:35] #28074 closed

[2022-10-30 12:36] #29555 closed

[2022-10-30 12:36] #29474 closed

[2022-10-30 12:37] rkooo567 commented on #16116
Redis is now removed in Ray. Please recreate the issue if you see similar issues

[2022-10-30 12:37] #16116 closed

[2022-10-30 12:38] rkooo567 commented on #13345
Redis is now removed in Ray. Please recreate the issue if you see a similar problem!

[2022-10-30 12:38] #13345 closed

[2022-10-30 12:46] rkooo567 commented on #9548
Closing it as stale. Please reopen the issue if it is not fixed.

[2022-10-30 12:46] #9548 closed

[2022-10-30 12:47] rkooo567 commented on #11285
Checked in the latest master. Seems like the issue has been fixed

[2022-10-30 12:47] #11285 closed

[2022-10-30 12:48] rkooo567 commented on #12060
I don't think it is fixed.

[2022-10-30 12:51] rkooo567 commented on #29841
I couldn't reproduce it. Did you build wheel on your own?

[2022-10-30 13:09] rkooo567 commented on #28105
cc @architkulkarni this seems really bad (hanging). All the hanging should be considered as a high priority bug. Do you have any plan to fix it soon?

[2022-10-30 13:25] Yard1 commented on #25817
Sure, I can try

[2022-10-30 13:34] yzs981130 commented on #29795
Thanks for the information! I got mixed up with the `ray.init()` and `ray start`. Sorry for the inconvenience.

[2022-10-30 18:06] tbukic opened #29845 "[AIR] Syncing when upload_url="s3://<my_s3_bucket>?<endpoint_and_other_argument_overrides>""
### What happened + What you expected to happen

When using non-AWS S3 API supporting storage, it seems that to get past  `_validate_upload_dir(sync_config)` in [L454 tune.py](https://github.com/ray-project/ray/blob/master/python/ray/tune/tune.py#L454) an `upload_dir` has to be provided in the shape of `s3://<my_s3_bucket>?endpoint_override=<endpoint_url[&possible_other_args_like_region]>`.

In th

[2022-10-30 20:15] #26157 closed

[2022-10-30 22:01] zzb3886 commented on #29696
Thank you. That seems to have fixed the issue, and I haven’t seen the failure again so far. It’s unclear to me the number of open files is related to which parameter. The number of tasks? Or the number of workers? I currently set it to 65535 but do I need to increase it in the future as I scale up? Which directory contains these files where I can inspect? It will be great if you could add these in

[2022-10-31 00:19] franklsf95 commented on #29841
I'm using this wheel, built by the CI: https://ray-ci-artifact-pr-public.s3.amazonaws.com/680bc536229754fb5d178106bd526d1bf37aaab6/tmp/artifacts/.whl/ray-3.0.0.dev0-cp39-cp39-manylinux2014_x86_64.whl

[2022-10-31 02:13] adamreeve opened #29847 "[Core] `Check failed: it->second.owned_by_us` error using C++ API and receiving large vectors"
### What happened + What you expected to happen

I encountered the following fatal error when using the C++ Actor API and receiving a large vector result:
[code]

### Versions / Dependencies

* Ray: 2.0.1 installed with `pip install ray[cpp]`
* Python: Tested with 3.10.7 and 3.8.10
* OS: Tested on Fedora Linux 36 (gcc 12.2.1) as well as in an Ubuntu 20.04 Docker image with gcc 9.4.0

### Reproduct

[2022-10-31 03:09] rkooo567 commented on #29847
cc @SongGuyang ?

[2022-10-31 03:30] yzs981130 opened #29848 "[Ray dashboard] Ray 2.0 dashboard not showing actor/task CPU utilization"
### What happened + What you expected to happen

When upgrading Ray from 1.x to 2.x, I find that the CPU utilization of tasks/actors (`cpuPercent` in REST API) in Ray dashboard is always 0. I have tested both Ray 2.0 and Ray 2.0.1 and none of them work, which are different from Ray 1.13.

The `/nodes/[node_id]` json is attached below. We can find that the cpuPercent of `ray::func` with pid 15212 k

[2022-10-31 06:42] SongGuyang commented on #29847
I will take a look.

[2022-10-31 07:10] pratkpranav commented on #29412
@rkooo567, I have added the logs for the run after the last PR(https://github.com/ray-project/ray/pull/29802) was merged.

Now, the traceback is visible.
[code]

<details>
<summary>Error Output</summary>

[code]
</details>

These are the logs from node 150(which failed) and the head node.
[logs_head.zip](https://github.com/ray-project/ray/files/9898737/logs_head.zip)
[logs_150.zip](https://github.

[2022-10-31 08:48] kifarid commented on #6651
I am not sure if the question is closed, It is still not clear how to use conditional distributions with BOHB or how to specify a nested CS. For example, how can I use BOHB to tune the parameters and number of layers of the model when using PPO as a trainable?
1- the tune.sample_from does not work with BOHB for me
2- using the ConfigurationSpace supports conditions, which is nice, but how can I sp

[2022-10-31 11:59] rkooo567 commented on #29848
Can you tell me a bit more about what this means? The link is not available.

https://psutil.readthedocs.io/en/latest/#psutil.Process.cpu_percent -> From this link, it seems like the CPU percent is supposed to work?

[2022-10-31 12:03] rkooo567 commented on #29848
to be more clear, the issue is that whenever we call this method, we create Process() again which returns 0 for CPU percent, right?

[2022-10-31 12:39] yzs981130 commented on #29848
Yes, you got it.

[2022-10-31 12:51] igorgad opened #29852 "[Ray Client] - Client server failed with runtime_env container"
### What happened + What you expected to happen

Hi,

Even though runtime_env containers are still experimental, I've been having success using them at the job level in ray applications launched inside the cluster with the job submission. i.e. the script that runs on the cluster does `ray.init(runtime_env={'container': ...})`. That being said, I don't think there's anything wrong with the podman s

[2022-10-31 13:13] rkooo567 commented on #29412
Fix from ^ PR... If your workload still fails after this PR, we may need to change the mechanism to detect the parent failure (now we rely on psutil)

[2022-10-31 13:19] Tehada commented on #29671
May be it is possible to add auto-starting container, which will be started in case of restart of docker engine. E.g. systemd service with dependency on docker engine probly will do the trick.

[2022-10-31 14:33] harkash commented on #29775
I have since tried running different things a few times. I think the last process gets stalled/hangs about 50% of the time. I am not able to figure out under what conditions that happens.

Whenever the stalling occurs, one process hangs indefinitely (could be in the first epoch or 15th or whenever). However, one of the runs I did saw about 4 processes hanging from a grid search of 48 runs.

[2022-10-31 15:59] xwjiang2010 opened #29855 "[release test] long_running_distributed_pytorch_pbt_failure wrong behavior"
### What happened + What you expected to happen

None of the trials should see a complete reset of their training_iteration, which is not the case here.

See

[code]

### Versions / Dependencies

master

### Reproduction script

run the release test

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-10-31 16:08] bveeramani opened #29857 "[RFC] [AIR] Let users store arbitrary data in `TorchCheckpoint`"
### Problem

If you train a Torch model with AIR, you can't resume training.

To resume training, you need to save many objects:

[code]

However, with AIR, you can only save the model:

[code]

---

### Jobs-to-be-Done

1. Resume training
2. Perform predictions with a trained model

---

### Proposed solution

#### `from_model` + `training_state` + `get_training_state`

**Interface**

[code]

**E

[2022-10-31 16:14] bveeramani opened #29858 "Help us improve Ray AIR experience!"
Hey all!

Interested in helping us improve the experience of using Ray with PyTorch and get incentive at the same time?

All you need to do is [register here](https://airtable.com/shrpEdgk3D59lCmdH). Our team will reach out to confirm and schedule the time with you.

The session will be 1:1 45-mins exploring some Ray 2.0 experience with a Ray team member set up. In respect of your time, we are pro

[2022-10-31 16:14] xwjiang2010 commented on #29855
Full log:

https://drive.google.com/file/d/12bd0RT5JnhxRUzuCPF8XgMg2aI0jdU5t/view?usp=sharing

[2022-10-31 16:16] Yard1 commented on #29857
I like the last solution the most. It seems to be the most intuitive, and can be easily extended to other checkpoint types which may have different `from_X` methods.

[2022-10-31 16:58] cadedaniel opened #29860 "[CI] `windows://python/ray/serve:test_fastapi` is failing/flaky on master."
- ba3d40d07236f5b3200a56fe701ef21043aa990b FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/821#0184213f-a9c5-4cb7-95dd-f84d042b2d02)
- 136c8d5e4d2fab6106f007f4ce5d5c321922ae17 FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/oss-ci-build-branch/builds/820#01842129-be1e-43e6-a91a-997c8987d265)
- 399d38396dc95eb7d584be

[2022-10-31 17:18] rickyyx commented on #29790
This is probably not a bug - but due to the fact that `monitor.log` is overwritten with each entry rather than appended.

[2022-10-31 17:21] Yard1 opened #29863 "[Tune] `Tuner` doesn't support Jupyter rich output"
### What happened + What you expected to happen

`tune.run` has support for rich Jupyter output, but `Tuner`, which runs `tune.run` in a remote call, doesn't.

See https://discuss.ray.io/t/tune-connecting-to-external-cluster-not-showing-jupyternotebookreporter-summary-table/8012

### Versions / Dependencies

master

### Reproduction script

https://discuss.ray.io/t/tune-connecting-to-external-clus

[2022-10-31 17:23] cadedaniel commented on #29696
AFAIK there's no easy answer here because Linux uses file descriptors (FD's) for everything. So could be TCP connections, unix domain sockets, actual files on disk, shared memory queues, etc...

If you want to see the list of open files, you can use `lsof`, which should include all open file descriptors and their opening process.

cc @jjyao do we have docs that guide users on this? I'm happy to cr

[2022-10-31 17:33] bveeramani commented on #29031
There's a separate PR for this: https://github.com/ray-project/ray/pull/29462.

[2022-10-31 17:35] amogkam commented on #28172
@dumpmemory what are the advantages of deepspeed vs. fsdp?

[2022-10-31 17:37] cadedaniel opened #29864 "[CI] bk://:mac: :apple: Wheels and Jars is failing/flaky on master."
<img width="1045" alt="Screen Shot 2022-10-31 at 4 55 33 PM" src="https://user-images.githubusercontent.com/950914/199130819-4a3aa948-6473-4c7b-bccc-45782c5b364a.png">

* https://buildkite.com/ray-project/oss-ci-build-branch/builds/837#01842e4c-80f0-4afb-b85b-fc341e996d90
* https://buildkite.com/ray-project/oss-ci-build-branch/builds/835#01842d4d-05b6-4774-91ae-edf17b60cfe1

[code]

An example pas

[2022-10-31 17:55] bveeramani opened #29865 "[CI] `linux://python/ray/train:tune_cifar_torch_pbt_example` is flaky"
![image](https://user-images.githubusercontent.com/26107013/199076810-ae372c61-642c-478f-a187-d378dd90635a.png)

[2022-10-31 17:59] bveeramani commented on #29769
Re-opening because this test is still flaky

[2022-10-31 18:01] bveeramani commented on #29865
Looks like the test is timing out with only one trial running.
[code]

Might be related to https://github.com/ray-project/ray/commit/8c4e6dc61b1885ece3293e9634677ca8098efdd1 -- the flakiness starts soon after the PR was merged.

[2022-10-31 18:03] bveeramani commented on #29865
Maybe related to the changed `FileLock` logic?

https://github.com/ray-project/ray/commit/8c4e6dc61b1885ece3293e9634677ca8098efdd1#diff-23d0f2825bfeba4eab63d23e139950a36164e261ed08a1963f94b4b84ae591f6L90-L96

[2022-10-31 19:12] clarng commented on #29294
should we try the oom killer if the node is timing out due to oom / freezing?

[2022-10-31 19:28] jjyao commented on #29696
Yea, do you mind running `lsof` and see how those fds are used? Also do you know the limit before your change?

Currently we only have a guide on how to increase the limit: https://docs.ray.io/en/releases-2.0.1/ray-core/troubleshooting.html#crashes

[2022-10-31 20:06] DmitriGekhtman commented on #28074
thanks @avivhaber!

[2022-10-31 20:15] clarkzinzow opened #29871 "[Datasets] Isolate version-switching logic for Arrow compatibility to single module"
In order to support multiple major Arrow versions, we need to dynamically switch abstraction and utility implementations based on the installed pyarrow version. Instead of having this version-switching strewn across the Ray codebase, we should isolate it to a single compatibility module or subpackage; this pattern has been adopted by other libraries, such as [pyarrow](https://github.com/apache/arr

[2022-10-31 21:00] cadedaniel opened #29872 "[CI] Many Windows tests failing on master BK"
[code]

First time it fails: https://buildkite.com/ray-project/oss-ci-build-branch/builds/841, triggered by PR https://github.com/ray-project/ray/pull/29793 (very unlikely the cause)

<img width="209" alt="Screen Shot 2022-10-31 at 2 01 41 PM" src="https://user-images.githubusercontent.com/950914/199109845-cc31939f-981d-4b7e-8aa3-39f33a6a4af1.png">

[2022-10-31 21:14] clarng opened #29873 "[core] add CI test for cgroup v2 memory accounting"
### What happened + What you expected to happen

add a CI unit test for https://github.com/ray-project/ray/issues/29474

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-10-31 21:14] shrekris-anyscale commented on #27089
@rkooo567 I haven't had a chance to dive deeper into this issue yet, but I assumed it was a Serve issue since the user's code matched [the Serve docs](https://docs.ray.io/en/latest/serve/production-guide/monitoring.html#ray-logging), but still failed. I can let you know if there's anything we can change in the core layer once I take a closer look at the issue.

[2022-10-31 21:14] clarng commented on #29474
Adding https://github.com/ray-project/ray/issues/29873 to add CI test

[2022-10-31 21:17] clarng commented on #29873
@avivhaber  can you add commands to repro the problem where cgroup v2 is not always present ?

[2022-10-31 21:32] xwjiang2010 commented on #29855
Seems like happens after

[code]

Implementation wise, this is expected - the object ref is not valid after node failure and `restore_from_object` fails.

However, falling back to the last persistent checkpoint may not be preferred either. As that may be corresponding to another set of hyperparameters (in pbt), and is not compatible.

I think the better solution is to avoid in memory checkpoint in

[2022-10-31 21:33] architkulkarni commented on #20854
Experimental gRPC support has been added in https://github.com/ray-project/ray/pull/28175 and https://github.com/ray-project/ray/pull/29149 and is available in the nightly builds, please try it out and let us know your feedback!

[2022-10-31 21:33] #20854 closed

[2022-10-31 22:29] rkooo567 commented on #26835
We also need better identifier of the head node. @triciasfu suggested something like `ip-172-31-111-156 (Head)`.

[2022-10-31 22:52] avivhaber commented on #29873
As per [here](https://kubernetes.io/docs/concepts/architecture/cgroups/#check-cgroup-version), you can check a machine's cgroup version by running `stat -fc %T /sys/fs/cgroup/`.

If the output is `cgroup2fs`, you're on v2.
If the output is `tmpfs`, you're on v1.

Steps I did:

1. Pull the `rayproject/ray-deps:nightly-py37-cpu` docker image (you can substitute 37 with your desired python version).

[2022-10-31 23:11] msingh00 commented on #27881
same here...any eta?

[2022-10-31 23:34] #29860 closed

[2022-10-31 23:45] cadedaniel commented on #29872
Things are back to normal, not sure what happened. Looks like only a single commit failed across all tests, going to ignore for now.

[2022-10-31 23:45] #29872 closed

[2022-10-31 23:59] hora-anyscale commented on #28774
Per Triage Sync: Closing, test flaky

[2022-10-31 23:59] #28774 closed

[2022-11-01 00:03] hora-anyscale commented on #29466
Per Triage Sync: @edoakes can you review?

[2022-11-01 00:11] hora-anyscale commented on #18053
Duplicate of https://github.com/ray-project/ray/issues/25793

[2022-11-01 00:11] #25793 closed

[2022-11-01 01:00] adamreeve opened #29879 "[Core] Crash using C++ API when calling a task and passing an actor handle"
### What happened + What you expected to happen

The documentation at https://docs.ray.io/en/latest/ray-core/actors.html#passing-around-actor-handles states that actor handles can be passed to tasks, and includes a C++ example, but implementing this example causes a crash:
[code]

The core driver log has some more details:
[code]

### Versions / Dependencies

* Ray: 2.0.1 installed with `pip insta

[2022-11-01 02:34] tbukic commented on #29845
One additional detail:

To be able to get the whole `ray_results` synced to my s3 storage, I also needed to encode `full_target_path` in [remote_storage.py#L236](https://github.com/ray-project/ray/blob/master/python/ray/air/_internal/remote_storage.py#L236,), because '=' was preventing lot of files from being synced - including the tensorboard logs. Thus, my current (working) version encodes URIs

[2022-11-01 02:35] tbukic commented on #29845
Sorry, this is accidentally marked as completed. Just wanted to add the update. This is still an issue.

[2022-11-01 02:42] bveeramani opened #29883 "[CI] `air_benchmark_tune_torch_mnist_large_gpu` weekly test fails"
BuildKite: https://buildkite.com/ray-project/release-tests-branch/builds/1173#0184278f-890e-4b81-82d6-785f3d38a750

[code]

[2022-11-01 02:53] bveeramani opened #29885 "[CI] `ray-data-bulk-ingest-out-of-core-benchmark` weekly test fails"
https://buildkite.com/ray-project/release-tests-branch/builds/1176#01843019-384a-4494-8fda-3f23ca1decef

[code]

[2022-11-01 02:53] bveeramani commented on #29885
Looks like the error was introduced by https://github.com/ray-project/ray/pull/29679

[2022-11-01 03:03] Athe-kunal opened #29887 "Issue on page /rllib/core-concepts.html"
Your issue content here.
[code]
should be modified to
[code]

And rest of the code for setting environment is also showing error

[2022-11-01 03:22] scottsun94 commented on #25395
@ggservice007 Ping ^

[2022-11-01 03:24] scottsun94 commented on #25019
@vonHartz Ping ^

[2022-11-01 03:26] scottsun94 commented on #21974
Closing it for now. Please reopen if you still see this issue. @newmanwang

[2022-11-01 03:26] #21974 closed

[2022-11-01 03:28] scottsun94 commented on #15264
Closing for now. Please reopen if you still see this issue

[2022-11-01 03:28] #15264 closed

[2022-11-01 03:29] DmitriGekhtman commented on #25395
Check the Ray docs for up to date tips on log aggregation tips for ray on k8s.

[2022-11-01 03:29] #25395 closed

[2022-11-01 03:29] scottsun94 commented on #13122
Closing for now. Please reopen if you still see this issue

[2022-11-01 03:29] #13122 closed

[2022-11-01 03:30] scottsun94 commented on #12060
@ofey404 Do you want to work on it?

[2022-11-01 03:32] scottsun94 commented on #11277
Closing it for now. Please reopen if you still run into this issue.

[2022-11-01 03:32] #11277 closed

[2022-11-01 03:36] scottsun94 commented on #28830
@andreichalapco For sure!

[2022-11-01 03:43] scv119 commented on #29294
can data team take over this test? @c21 @matthewdeng
after some investigation I think this test regression is highly correlated with our infra memory capacity change: now we only allocate 90% of host memory to ray container and it increases the likelyhood of ray running into OOM issues.
As an evidence a commit that was previously stable also fails in my recent tests https://console.anyscale.com/o/

[2022-11-01 06:13] jovany-wang commented on #28407
We couldn't use named actor to address it because the application consists of a framework(like ray serve) and an application on the top of that framework. for the users of the framework, we have no idea to restrict them to only use actors within a given name.

The actor ids are fetched in a Master component in the framework, like we could watch the actor state changed in ServeMaster by fetch all a

[2022-11-01 06:24] jovany-wang commented on #18803
If you have more actions on this, please reopen this.

[2022-11-01 06:24] #18803 closed

[2022-11-01 06:25] jovany-wang commented on #16928
I believe this is finished. Please refer to ray docs for more information about runtime env and passing java jars.

[2022-11-01 06:25] #16928 closed

[2022-11-01 06:48] jovany-wang commented on #28086
@ijrsvt , after deep diving into this issue, I think this is an expected behavior.
See the warning message https://github.com/ray-project/ray/blob/master/src/ray/core_worker/transport/concurrency_group_manager.cc#L83-L85

If your actor is running an infinite loop, you should interrupt it before stoping it, which looks like the behavior you should do in multiple threading programming pattern.

alte

[2022-11-01 06:51] huwz2015 opened #29890 "[Core APIs] ray.put() function will raise exception when setting "_owner""
### What happened + What you expected to happen

ray.put() function will raise exception when setting "_owner".

Case1. Init a local ray:
[code]
Will give `RaySystemError`:
[code]

Case2. Connect to an existing remote ray cluster:
[code]
Will give `TypeError`:
[code]

Could I look forward to your help? Thank you very much!

### Versions / Dependencies

ray==1.13.0

### Reproduction script

Case1.

[2022-11-01 07:16] maxpumperla commented on #29887
@Athe-kunal this seems to be fixed on master (https://docs.ray.io/en/master/rllib/core-concepts.html) and will be in the next official release.

[2022-11-01 07:16] #29887 closed

[2022-11-01 07:21] cheremovsky commented on #29698
Same story as OP 😢

[2022-11-01 07:27] rkooo567 commented on #28341
This is not supported. But I think we should raise a better error message

[2022-11-01 07:40] Catch-Bull commented on #29890
Hi @huwz2015

**Case1. Init a local ray**:

It is because the actor (named owner) did not launch when ray.put was executed, I recommend changing it to this:
[code]
But I think a better solution here is to wait for the owner to launch on the ray core layer,  Instead of asking the user to ensure that the state of the owner is alive.

**Case2. Connect to an existing remote ray cluster**:

This is bec

[2022-11-01 07:51] jiahao-shen opened #29891 "The two structures don't have the same number of elements"
### What happened + What you expected to happen

I define the observation space like this:
[code]
When i return the observation using sample, it runs successfully.
[code]
However, if i return the observation like the following, it report error: The two structures don't have the same number of elements.
[code]

### Versions / Dependencies

Ray 2.0.0
Python 3.9.13
OS Ubuntu 20.04.5

### Reproduction

[2022-11-01 08:06] #29891 closed

[2022-11-01 08:07] jiahao-shen commented on #29891
Oh, i find the solution, it's dtype mistake.

[2022-11-01 08:08] mahuangxu opened #29892 "[RLlib] Issue has been solved."

[2022-11-01 08:33] huwz2015 commented on #29890
@Catch-Bull Thank you very much for your reply. I will use your provided codes to try first. Thx

[2022-11-01 09:00] dirtyValera opened #29893 "[Kuberay] Ray on Kubernetes + ray.init() from outside network/subnet does not work?"
### What happened + What you expected to happen

I've managed to run a ray cluster on minikube using kuberay-operator and ray-cluster helm charts. Now I'm trying to run a simple driver program in my laptop's local environment and got stuck on `ray.init()`.

I've exposed head pod's port via `kubectl port-forward ray-cluster-kuberay-head-hjjx8 6379:6379`, meaning I can access pod's port via localhos

[2022-11-01 09:13] dirtyValera commented on #29893
Tried using port 10001 instead of 6379, got another error when running `ray.init()`

[code]

[2022-11-01 11:32] vonHartz commented on #25019
Apologies for the late reply!

I had the suspicion that this was linked to some memory leak within DQN.
However, I did not have the capacity to debug it further.
For this reason I did not report to wandb.
In the end I worked around it by using more RAM.

[2022-11-01 11:32] #25019 closed

[2022-11-01 13:00] #29507 closed

[2022-11-01 13:00] #26272 closed

[2022-11-01 13:26] davidADSP commented on #22790
Think this is related to a problem I've experienced where if the same sequence is sampled twice in the same training batch, then they will have the same `episode_ids`, `unroll_ids` and `agent_indicies` and therefore will be grouped together by the `chop_into_sequences` function.

This is caused by `seq_lens` not being passed in the call to the `chop_into_sequences` function so it has to try to ded

[2022-11-01 13:31] mlguruz opened #29894 "[Tune] Access `trial_dir` inside Trainable `step`"
### Description

I'm hoping to write out non-trivial amount of data in each `setup` call from `Trainable` (cls or function), in which I need to access the `trial_dir`.

I see in Ray 3.0.0dev, there is a public API for me to do that (here: https://docs.ray.io/en/master/_modules/ray/air/session.html), but it's missing from the latest 2.0.1.

Can we add that to the next release?

Related issue ticket

[2022-11-01 14:28] #29836 closed

[2022-11-01 15:10] xwjiang2010 opened #29896 "[CI] `linux://python/ray/train:test_mosaic_trainer` is failing/flaky on master."
- 0443f509b3f0d9884edef6622ed481b83b8b0cda FAILED [Buildkite :tv: :steam_locomotive: Train tests and examples (PyTorch 1.11) ](https://buildkite.com/ray-project/oss-ci-build-branch/builds/835#01842d2b-3270-4f9c-bb3f-a103333ec1ce)
- 1d69e2f9ec37972a8aec1dca1b7128a91a6a3198 FAILED [Buildkite :tv: :steam_locomotive: Train tests and examples (PyTorch 1.11) ](https://buildkite.com/ray-project/oss-ci-bu

[2022-11-01 15:16] xwjiang2010 commented on #29896
cc @amogkam @ilee300a @bveeramani @jiaodong
Seems a bunch of accuracy assertion errors?

@ilee300a let me know if you need help with go/repro-ci. We can also pair program on this.

[2022-11-01 15:34] aidanmclaughlin commented on #5820
@janblumenkamp that issue persists for me still. I have a 20-thread processor, but when num_workers > 2, I get this error. Any progress?

[2022-11-01 16:10] xeray commented on #20915
Hey Matt,

having to use `consume_prefix_in_state_dict_if_present` is a bit overhead. Would you recommend against using the "unprepared" model for the purpose of checkpointing? It seems that the since DDP just wraps around the model, the actual model buffers are the same objects. So it might be more straightforward to do this:

[code]

[2022-11-01 16:15] amogkam commented on #20915
Hey @xeray, yes that also works

[2022-11-01 16:56] architkulkarni commented on #28105
Yes, it's high priority.  I will try to fix it soon

[2022-11-01 17:46] adamelk commented on #29786
Heads up, I'm pretty sure PB2 still doesn't work with nested hyperparam_bounds despite this pull request saying it fixed it: https://github.com/ray-project/ray/pull/29102

[2022-11-01 17:48] cadedaniel commented on #29587
@andreichalapco to unblock you, can you try this workaround? https://github.com/ray-project/ray/issues/29236

[2022-11-01 18:10] architkulkarni commented on #29852
cc @SongGuyang in case there are any workarounds for container issue.

As another possible workaround, you mentioned `conda` takes 10 minutes to install.  If the conda environment isn't changing often, would it fit your use case to preinstall the conda environment and then just specify the name of the existing environment in the `runtime_env`?  Then it would just be activating the existing environ

[2022-11-01 18:13] xwjiang2010 commented on #19631
Seems we have another user asking for it: https://discuss.ray.io/t/are-there-any-hacks-to-use-nsys-in-ray/8097

[2022-11-01 18:19] igorgad commented on #29852
Hey @architkulkarni, thanks for your quick reply.

Yes, it's an alternative. I'm curious though. Does preinstalling the conda environment on the head node make it shareable with new workers? If not it would take a reasonable amount of time to install the conda environment on new workers unless otherwise installed on the base image of the cluster. The problem at the moment is that we try to work wi

[2022-11-01 18:34] andreichalapco commented on #29587
Please look at the following small example I did:
![image](https://user-images.githubusercontent.com/39555799/199310829-746fb5ab-3685-4874-a9a3-e338771054b7.png)

If you place the setup-dev file in another folder in another folder It will eliminate the possibility for the python interpreter to look for the types module in the local path (where the setup-dev file is located). Running the script in

[2022-11-01 18:39] kukushking opened #29899 "[core] make PACK scheduling strategy available in remote.options"
### Description

When I am passing object reference to a remote function I would like to make sure the function is scheduled on the node where the object "lives" to avoid object transferring overhead.  By the looks of it, it is only possible with the usage of [placements groups](https://docs.ray.io/en/releases-2.0.1/ray-core/placement-group.html#strategy-types) but not supported in [ray.remote](ht

[2022-11-01 18:39] c21 commented on #29294
Hi @scv119 - yes I think data team should own it. We should work with core to come up action items.

[2022-11-01 18:41] jjyao commented on #29294
Feel we should try oom killer or use a bigger machine?

[2022-11-01 18:49] #29383 closed

[2022-11-01 19:43] LarsDu opened #29904 "[Core] Support pip secure installs"
### Description

`ray-project` current supports installing `pip` based `runtime_env` installs to add python packages. However, this process can be haphazard from a both a security and a reproducibility perspective for the following reasons:

- A package number without a matching hash is no guarantee that the underlying package hasn't changed
- Malicious actors can tamper with package wheels withou

[2022-11-01 19:49] #29168 closed

[2022-11-01 20:24] #28557 closed

[2022-11-01 20:46] architkulkarni commented on #29852
Ah no, you would need the conda environment to be on all the nodes of the cluster and have the same name on all nodes.

[2022-11-01 20:54] #29885 closed

[2022-11-01 21:22] #29569 closed

[2022-11-01 21:39] #25817 closed

[2022-11-01 21:40] #29717 closed

[2022-11-01 21:56] architkulkarni commented on #29904
Thanks for the request @LarsDu ! Actually, if I understand https://pip.pypa.io/en/stable/topics/secure-installs/#hash-checking-mode correctly, this (along with all other `pip` options that can be specified per requirement) should already be automatically supported in `runtime_env`, for example:
`runtime_env={"pip": ["FooProject==1.2 --hash=sha256:2cf2", ...]}`.

Does that work for your use case?

[2022-11-01 22:29] bveeramani commented on #29845
Hey @tbukic, thanks for reporting this issue! The detailed writeup is super helpful.

Just a few questions to confirm my own understanding:
1. You're passing a URI to `upload_dir` that contains URL-encoded arguments, but the program errors because `remote_checkpoint_dir` incorrectly appends the filename after the URL-encoded arguments?
[code]
2. Some of your files contain the `=` character, and th

[2022-11-01 22:36] shrekris-anyscale commented on #27089
This doesn't seem to be an issue on Ray 2.0. Here's a repro script to try toggling the log level:

[code]

With `logging.DEBUG` in the constructor, I see:

[code]

With `logging.ERROR`, I see:

[code]

The `"What a wonderful kind of day!"` `INFO` log doesn't show up. I'll follow up with a repro on Ray 1.13.

[2022-11-01 22:40] clarng opened #29911 "[core] many_tasks release test failing"
### What happened + What you expected to happen

cluster: https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_XXdPUNHdTr9Fyddf9XAvQzDK?command-history-section=command_history

recent runs: https://b534fd88.us1a.app.preset.io/superset/dashboard/26/?native_filters_key=YmnjIijUTaSB05DuD8BFeQ8X5NgGkEWlu_vTBj1fxVbiujAehX6OuHjC20cbUPsk

### Versions / Depe

[2022-11-01 22:49] clarng opened #29912 "[core] ray-data-bulk-ingest-file-size-benchmark throughput regression"
### What happened + What you expected to happen

cluster: https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_cvv1qdwjUXpkGzhX486LRKEe

throughput regression that is not expected, only num img for per file was modified recently

### Versions / Dependencies

master

### Reproduction script

https://console.anyscale-staging.com/o/anyscale-inter

[2022-11-01 22:50] clarng commented on #29912
@cadedaniel i believe you said you will look into this

[2022-11-01 22:52] #26362 closed

[2022-11-01 22:52] #26361 closed

[2022-11-01 22:52] #26360 closed

[2022-11-01 22:52] #26359 closed

[2022-11-01 22:56] clarng opened #29913 "[core] stress_test_many_tasks perf regression"
### What happened + What you expected to happen

regression with
stage_2_avg_iteration_time
stage_4_spread

### Versions / Dependencies

master

### Reproduction script

https://console.anyscale.com/o/anyscale-internal/projects/prj_FKRmeV5pA6X72aVscFALNC32/clusters/ses_GrmSDmBLK9ywjyXcH8LZEJE4

### Issue Severity

_No response_

[2022-11-01 22:57] clarng opened #29914 "[core] shuffle_1tb_1000_partition shuffle time regression"
### What happened + What you expected to happen

regression in time by ~35%

### Versions / Dependencies

master

### Reproduction script

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_eARjk1mVnjXtuAeD587e76QT

### Issue Severity

_No response_

[2022-11-01 23:01] clarng commented on #29757
<img width="1576" alt="Screen Shot 2022-11-01 at 4 01 13 PM" src="https://user-images.githubusercontent.com/22830327/199358389-0908e2f7-62c4-4d65-af75-3f9be2930c61.png">

[2022-11-01 23:01] #29757 closed

[2022-11-01 23:27] DmitriGekhtman commented on #28036
I've started implementing the proposal described here:
https://docs.google.com/document/d/1JyQINBFirZw7YenA_14zize0R3hIII1_fnfQytIXTPo/

Apologies in advance that the doc might be unfriendly to those who haven't worked on autoscaler development.
The proposal doesn't change architecture but rather just rewires some internal logic.

[2022-11-01 23:38] tbukic commented on #29845
Hello @bveeramani

This is true. Code I have in my .venv is a bit older (despite I use the latest released version!) and does not have this functionality extracted to the function, but the logic of appending `ray_results` path to user provided remote path is the same.

Indeed. This is the example of file that wouldn't get synced without escaping `=` character: `<my_bucket_name>/PPO/PPO_CartPole-v1

[2022-11-01 23:48] bveeramani commented on #29845
@tbukic got it! Thanks for the fast response.

It looks like these issues should be easy to patch. I'll open a PR in the few weeks.

[2022-11-02 00:01] architkulkarni opened #29921 "[Jobs] Include requested and available resources in JobInfo status message"
### Description

Currently when a job is PENDING, the JobStatus message doesn't provide any more details other than "the job may be waiting for resources" (see https://github.com/ray-project/ray/pull/28654/files/7ccabf2b606f325f1d4e793421e5651e86a9885e#r1010817973)

Ideally, the status would include the requested resources for the job and the available resources for the job, similar to how this is

[2022-11-02 00:03] xwjiang2010 opened #29922 "[ml release] air_benchmark_tensorflow_mnist_gpu_4x4 times out"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/1173#0184278f-8911-45b4-9f78-7233e2a2a64e

### Versions / Dependencies

master

### Reproduction script

NA

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-02 00:10] xwjiang2010 commented on #29922
seeing
at around `2022-10-29 23:52:57`, starting tf_ray, finished at around `2022-10-30 00:06:00`
then starting tf_vanilla
1st try fails at 00:21 at epoch 200
2nd try fails at 00:36 at epoch 200
3rd try succeeds

But the two failed tries causes the overall test to time out in the end.
@krfricke do you know why the vanilla try fail at times?

cc @bveeramani

[2022-11-02 00:15] xwjiang2010 commented on #29922
[code]

[2022-11-02 00:21] bveeramani commented on #29775
Hey @harkash, could you share a minimal reproducible example with us?

[2022-11-02 00:26] xwjiang2010 commented on #29922
[code]

Both times failed with rank 9, out of 16 workers.

[2022-11-02 00:42] xwjiang2010 commented on #29922
always seems `172.31.70.157` that's having an issue out of so many different nodes...

sigabrt seems to suggest memory corruption from within the application itself.

[2022-11-02 00:46] xwjiang2010 commented on #29922
wondering if this is the head node that is under memory pressure...

[2022-11-02 01:53] rkooo567 commented on #29757
interesting.. is it automatically fixed?

[2022-11-02 02:08] rkooo567 commented on #29412
@pratkpranav Can you try this one more time with the latest master? I think this will be the last time before I decide how to fix the issues. Thanks again for your help!!

[2022-11-02 02:08] rkooo567 commented on #29412
There are 2 potential solutions here;

1. If the nightly fixes your issues with RAY_DASHBOARD_AGENT_CHECK_PARENT_INTERVAL_S, maybe we will go with this direction.
2. If not, we may change the health check mechanism from agent -> raylet because that seems unreliable

[2022-11-02 02:12] jovany-wang commented on #29890
So let's close this.

[2022-11-02 02:12] #29890 closed

[2022-11-02 04:01] pcmoritz opened #29932 "Ray Summit 2022 Videos"
Thanks everybody for attending the Ray Summit 2022 and making the event a big success.

For everybody who could not make it, all the talks are now available [on the website](https://www.anyscale.com/ray-summit-2022?utm_campaign=RaySummit2022&utm_source=github).

Looking forward to seeing you next year!

[2022-11-02 04:31] peytondmurray opened #29934 "[Core] Ray fails to import on Linux due to circular import"
### What happened + What you expected to happen

With a fresh installation of the latest commit (e389e1341), `import ray` fails with the following error:

[code]

### Versions / Dependencies

Ray: e389e1341
OS: Linux 6.0.5-arch1-1 x86_64
Python: 3.9.13

### Reproduction script

[code]

Then, `import ray` fails. Here's my environment:

<details>
<summary>Environment</summary>

[code]

</details>

#

[2022-11-02 04:59] justinvyu commented on #29894
Hi @mlguruz,

Tune already changes each actor's working directory to its trial directory by default. Additional trial information can be saved by using relative paths to the working dir.

[code]

The `Trainable` docs explains why this is the default behavior: [Trainable API reference.](https://docs.ray.io/en/master/tune/api_docs/trainable.html#tune-trainable-class-api)

In terms of the use case yo

[2022-11-02 05:17] clarng commented on #29557
bumping this to P0 since we believe it is causing nightly failure : https://github.com/ray-project/ray/issues/29911

[2022-11-02 05:19] LarsDu commented on #29904
Wow @architkulkarni, I did not realize this was actually already in place. Could you direct me to where this propagates through the codebase? All pip arguments are supported as part of runtime_env?

I'd like to verify this on my end tomorrow, but I can close this request if someone can verify that this indeed works.

[2022-11-02 05:47] dirtyValera commented on #29893
Figured this out. For anyone with similar issues, the problem was not adding `ray://` prefix to address. The port should be `10001`

`ray.init('ray://127.0.0.1:10001')`

[2022-11-02 05:47] #29893 closed

[2022-11-02 05:57] peytondmurray commented on #29934
Fixed, I didn't see https://docs.ray.io/en/latest/ray-contribute/development.html#troubleshooting. Closing!

[2022-11-02 05:57] #29934 closed

[2022-11-02 06:06] scottsun94 opened #29935 "[Tune] Import error when running getting start example"
### What happened + What you expected to happen

I tried to start with a clean environment and run ray tune get started example but run into import errors I couldn't fix.

First error:

I install ray tune and fixed it.

When I ran the actual example, I ran into this and got blocked.

  File "test.py", line 10, in <module>
    from ray.tune.schedulers import ASHASchedulercheduler
ImportError: canno

[2022-11-02 06:07] scottsun94 commented on #29935
cc: @xwjiang2010 @krfricke

[2022-11-02 06:11] jovany-wang commented on #21378
Closed in #29929

[2022-11-02 06:11] #21378 closed

[2022-11-02 07:12] rkooo567 commented on #14920
Fixed

[2022-11-02 07:12] #14920 closed

[2022-11-02 07:13] rkooo567 commented on #17467
This is supported now, but there might be some usability gaps between the default option (e.g., log_monitor might not be working). Please comment issues if you have any in this thread.

[2022-11-02 07:15] pcmoritz commented on #29814
Is it possible to fix the pickling path upstream and truncate the buffers there?

[2022-11-02 07:25] pratkpranav commented on #29412
The program is running, I will add a followup here as it fails or succeed.

[2022-11-02 07:30] rkooo567 opened #29936 "[Dask on Ray] Stop using key as a function name"
### What happened + What you expected to happen

[code]

Right now, when Dask on Ray is used, we are setting the func name as  `dask:key`. This is important because without this every task will be called `dask_task_wrapper` which is confusing.

However, this approach is not working well with our observability tools since we are grouping tasks by task names (which is usually the name of the functio

[2022-11-02 07:31] rkooo567 commented on #29936
cc @clarkzinzow can you help triaging it & do you know what's the best solution? It is important for the future Dask on Ray users' observability

[2022-11-02 08:15] richardliaw commented on #29935
Think you have a typo here: ASHAScheduler, not ASHASchedulercheduler

[2022-11-02 09:54] AlessandroZavoli commented on #23863
Anyone interested in?

[2022-11-02 10:19] blackDZS opened #29940 "[<Ray: AIR>] Trail stays PENDING status when using GPU，not when using CPU"
### What happened + What you expected to happen

I'm trying the [Training a Torch Image Classifier](https://docs.ray.io/en/master/ray-air/examples/torch_image_example.html) Trail stays PENDING status when using GPU，not when using CPU

- use_gpu
[code]

[code]

as the terminal show, the trail has been running for 00:08:20.53 but stays PENDING status. And the GPU can be detected

- cpu

[code]

[cod

[2022-11-02 11:52] KrystofS commented on #21994
I have the same problem. Recently I've ran into other issues with completely different library, the issue is documented [here](https://github.com/ofajardo/pyreadr/issues/72). The reason I mention it is that possibly the cause could be the same - the python interpreter from MS store for some reason puts files into different directories.

[2022-11-02 11:59] mlguruz commented on #29894
Thank you @justinvyu !
For Function API, I guess I need to call get_trial_dir right? This seems to be a 3.0.0dev (public) behavior?

[2022-11-02 12:24] alex-treebeard commented on #27783
I don't think I'm using PB2 but have had this error occur using the default tune scheduler.

[2022-11-02 12:25] pratkpranav commented on #29412
It failed again.

<details>
<summary>Error Output</summary>

[code]
</details>

[logs_head.zip](https://github.com/ray-project/ray/files/9920140/logs_head.zip)
[logs_162.zip](https://github.com/ray-project/ray/files/9920143/logs_162.zip)(node that failed)
[logs_133.zip](https://github.com/ray-project/ray/files/9920146/logs_133.zip)(node that failed, but was not part of the cluster)

[2022-11-02 13:17] rkooo567 commented on #29412
Hmm.. it's interesting. So we are using psutil.Parent (https://psutil.readthedocs.io/en/latest/) to see if the parent process is alive and if this returns None, we consider the parent is dead (which means the parent pid is not known anymore). The issue now is although the parent (raylet) is alive, psutil.parent returns None (so we misunderstand the raylet is dead and agent kills itself which kills

[2022-11-02 15:15] youssefbenfarhat opened #29942 "[<Ray component: Cluster]RuntimeError: Python minor versions differ between client and server: client is 3.10.6, server is 3.6.9,How can I change the default Python version in my AWS cluster ?"
### What happened + What you expected to happen

Hello,

How can we change the Python version on my AWS cluster?
Because I’m having this error: RuntimeError: Python minor versions differ between client and server: client is 3.10.6, server is 3.6.9

### Versions / Dependencies

Ray 2.0.1

### Reproduction script

.

### Issue Severity

_No response_

[2022-11-02 15:29] clarkzinzow commented on #29814
@pcmoritz Yes, I'm planning on doing that for Arrow 11: https://issues.apache.org/jira/browse/ARROW-10739

[2022-11-02 15:51] yzs981130 commented on #19631
A similar use case is here. Profiling tools like `nsys` will be greatly beneficial for profiling and performance analysis of workloads. Currently, `nsys` could be only used as a launcher of processes, which is incompatible with Ray.

I believe it would be very helpful if the following needs were taken into account.

1. It would be helpful if support for `nsys` could work under various environments

[2022-11-02 15:56] rkooo567 commented on #29656
Btw 1 could be dangerous depending on the workload (e.g., we cannot assume all the actor calls are idempotent). Maybe it needs to be implemented with some sort of flags?

[2022-11-02 16:04] justinvyu commented on #29894
The Function API should also switch the working directory to the trial directory, so saving to relative paths within your custom training function should work the same as the Class API case.

[2022-11-02 16:07] mlguruz commented on #29894
Ok - so you're saying I can just do

[code]
... to get the `trial_dir` when I'm in a ray tune session?

[2022-11-02 16:12] zhe-thoughts commented on #21226
Looks like a P1. I'm putting this into Core team backlog and let's discuss how to fix.

[2022-11-02 16:16] zhe-thoughts commented on #21419
Putting this as a P1 (looks like there's a repro script). Let's fix it

[2022-11-02 16:16] architkulkarni commented on #29904
@LarsDu Sure, this part is quite simpleminded, we just concatenate the lines into a `requirements.txt` file and call `pip install requirements.txt`.  https://github.com/ray-project/ray/blob/master/python/ray/_private/runtime_env/pip.py#L333

Global pip arguments aren't yet supported, only those that can be specified per-line.  I will update the docs to make this all clearer.

[2022-11-02 16:20] jmakov commented on #27881
Any ETA on this?

[2022-11-02 16:20] rkooo567 opened #29944 "[Job Submission] Agent logs are streamed to driver when ray job submission SDK is used"
### What happened + What you expected to happen

Looks like when the job submission SDK is used, all of the agent logs start streaming to stderr, which will be redirected to the parent stderr (raylet), which in turn prints logs to drivers. This will make the driver extremely spammy, especially given we have 1 agent per node.

One suspicion is that when the job agent calls `ray.init` for job submis

[2022-11-02 16:26] msingh00 commented on #27881
https://github.com/ray-project/ray/issues/27881#issuecomment-1243926933

[2022-11-02 16:36] rkooo567 commented on #29942
AWS cluster may use the default Python version downloaded in the OS (if you use a Docker container, the default Python from the container. If you use AMI, from that image).

You can create a conda environment and run ray start --head and ray start within that environment. Btw cc @wuisawesome we should improve the documentation to explain this

[2022-11-02 16:46] spacegoing opened #29946 "[Rllib] Evaluation duration will be multiplied by num_envs_per_worker when duration unit is "timesteps""
### What happened + What you expected to happen

When I set `evaluation_duration` when  `evaluation_duration_unit = "timesteps"`
<img width="681" alt="Screen Shot 2022-11-03 at 00 37 31" src="https://user-images.githubusercontent.com/5180020/199548456-97c29a70-e24e-40b3-aab7-0c74aaa99e64.png">

The evaluation_worker's `rollout_fragment _length` will be `num_envs_per_worker` x `evaluation_duration`

[2022-11-02 16:46] amogkam commented on #29058
Thanks @bveeramani, this sgtm!

[2022-11-02 16:52] xwjiang2010 opened #29947 "[air] when restoring a session, new checkpoints saved seem to overwrite the old ones"
### What happened + What you expected to happen

The following script should generate `ckpt_00000` in the first pass.
For 2nd pass, it should continue generating `ckpt_00001`. However, it overwrites `ckpt_00000`. In the end, there is only `ckpt_00000` in the folder when the trial terminates.

### Versions / Dependencies

master

### Reproduction script

[code]

### Issue Severity

Medium: It is a

[2022-11-02 17:18] zhe-thoughts commented on #23865
Closing this issue as the root cause has been found and PR merged

[2022-11-02 17:18] #23865 closed

[2022-11-02 17:20] #24163 closed

[2022-11-02 17:20] scottsun94 commented on #29935
Yeah. My bad.

[2022-11-02 17:20] #29935 closed

[2022-11-02 17:20] xwjiang2010 commented on #27783
@alex-treebeard
Could you share your script? Thanks!

@richardliaw yes, will add it.

[2022-11-02 17:22] zhe-thoughts commented on #24367
Thank for reporting this @tekumara . Since Ray Workflows is an experimental feature, I'm putting this as a P2 issue in our team's backlog. Meanwhile we also encourage the community to take a look and submit a fix

[2022-11-02 17:23] zhe-thoughts commented on #24367
Maybe @suquark can take a look when you have time?

[2022-11-02 17:23] xwjiang2010 opened #29949 "[tune doc] explain tune experiment structure"
### What happened + What you expected to happen

somewhere here: https://docs.ray.io/en/latest/tune/tutorials/tune-output.html

Also explain experiment name and trainable name used as folder name.

### Versions / Dependencies

master

### Reproduction script

NA

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-02 17:23] xwjiang2010 commented on #29949
@scottsun94

[2022-11-02 17:34] robertnishihara opened #29950 "[Observability Documentation] Unable to follow instructions for starting prometheus on Mac"
### What happened + What you expected to happen

I followed the instructions in the **Getting Started (Single Node)** section of this page https://docs.ray.io/en/latest/ray-observability/ray-metrics.html#getting-started-single-node.

When I ran `./prometheus --config.file=./prometheus.yml`, I got the following popup. I wasn't sure how to get around this.

<img width="450" alt="image" src="https://

[2022-11-02 17:44] DmitriGekhtman commented on #17467
See also https://docs.ray.io/en/latest/cluster/kubernetes/user-guides/logging.html for tips on aggregating logs from the Ray container file system on K8s.

[2022-11-02 17:44] #17467 closed

[2022-11-02 17:59] cadedaniel commented on #29912
ray-data-bulk-ingest-file-size-benchmark is failing because of the new benchmark which explicitly tests OOM performance implicitly increased the size of the dataset such that the dataset no longer fits into the object store w/o spilling. I think the fix here is to separate out the OOM test from the file-size-benchmark test so that each test can focus on their unique goal. I’ll work on that this we

[2022-11-02 18:44] clarng commented on #29913
looks like stage_4_spread regression is a red herring, the metrics actually improved recently

<img width="969" alt="Screen Shot 2022-11-02 at 11 34 37 AM" src="https://user-images.githubusercontent.com/22830327/199574222-2b93a9f1-b74d-48d4-9625-45d530253f52.png">

there looks like a regression in stage_3 that is different from that one for stage_2

stage_2:
<img width="948" alt="Screen Shot 2022-

[2022-11-02 18:48] clarng commented on #29914
looks like the metric is creeping up slowly over time, doesn't appear to have a single offending commit

also the regression report is ~40% the min was on sept 14 and max on sept 27, seems the metric itself is pretty unstable

we might want to figure out how to improve the detection if nothing else, since it may keep alarming

<img width="775" alt="Screen Shot 2022-11-02 at 11 47 39 AM" src="https

[2022-11-02 18:54] architkulkarni commented on #29944
Sample driver output:

[code]

[2022-11-02 20:30] wuisawesome commented on #29420
@hora-anyscale please don't assign people to issues unless they're committed to/have prioritized fixing the issue (which in this case I don't believe I have).

[2022-11-02 20:31] #29171 closed

[2022-11-02 20:59] hora-anyscale commented on #29420
@wuisawesome this was discussed during P1 Issue Triage with @scv119 - felt you were the most knowledgeable person on this.

Please discuss proper ownership with him.

[2022-11-02 21:24] mlguruz commented on #29894
This seems to work:

[code]

[2022-11-02 21:24] #29894 closed

[2022-11-02 21:43] mronda commented on #29858
What about Ray and Keras?

[2022-11-02 22:05] valiantljk opened #29959 "[core][dashboard] state api on worker nodes can not connect to dashboard url"
### What happened + What you expected to happen

The ray state api can not work on worker nodes.
The state api will need talk to dashboard: https://github.com/ray-project/ray/blob/2947e2360676b2034163282f7426d979849fa79a/python/ray/experimental/state/common.py#L924

However, on workers nodes, it seems like the dashboard address is not the head node cluster ip. The error shows the dashboard address

[2022-11-02 22:33] bveeramani commented on #29858
Hey @mronda, we're not focusing on Keras + AIR at the moment. That said, we have plans to focus on it in the near future.

I'll let you know!

[2022-11-02 22:46] scv119 commented on #28058
up for grab

[2022-11-02 22:49] rkooo567 commented on #29959
btw @valiantljk. Would you be interested in making a PR to fix the issue?

[2022-11-02 23:34] xwjiang2010 commented on #29947
Another puzzling example
[code]

[2022-11-02 23:35] xwjiang2010 commented on #29947
[code]

However
[code]

[2022-11-03 00:33] #29779 closed

[2022-11-03 03:41] jovany-wang opened #29967 "[Java] Flakey case testNestedObjectId"
https://buildkite.com/ray-project/oss-ci-build-pr/builds/3784#018432f6-be58-47e5-8cbd-90961fc20b05

testNestedObjectId failed flakey on master. It might be caused by some change of object ref under the hook.

[2022-11-03 03:43] jovany-wang commented on #29967
Hi @ConeyLiu  do you have bandwidth to take a look?

[2022-11-03 05:14] LarsDu commented on #29904
Thank you so much @architkulkarni! I'll close out this issue

[2022-11-03 05:14] #29904 closed

[2022-11-03 14:13] rkooo567 commented on #29944
After @architkulkarni 's initial investigation, the issue seems like Ray corrupts some of logging configuration (this start happening because we start ray.init from the agent, which streams logs to the driver). I assume the same issue happened with the dashboard before. I will take it over and fix it.

[2022-11-03 14:14] rkooo567 commented on #29412
Lmk how this went!

[2022-11-03 14:15] rkooo567 commented on #29913
Hey @clarng can you help find other assignee for this task? I have other P0 I should take over...

https://github.com/ray-project/ray/issues/29944

[2022-11-03 14:31] rkooo567 commented on #24309
@alanwguo set this as P2 for now. Please lmk if we should bump up the priority.

[2022-11-03 14:35] rkooo567 commented on #29950
This is the Mac specific issue (when the binary is downloaded, it is not authorized). You can fix it by going to the finder and open the binary by right click -> open IIRC. But we will update the documentation and add a troubleshoot guide.

[2022-11-03 14:35] rkooo567 commented on #29950
cc @alanwguo

[2022-11-03 14:41] jiaodong opened #29977 "Add jax dependency to Ray CI docker image"

[2022-11-03 14:49] 2-5 commented on #27646
I'm encountering this issue when using `ray-1.13.0` through `autogluon-0.5.2` on Windows / Python 3.9.3, everything installed with `pip` (no `conda` usage):

[code]

**I did not press Ctrl+C as seems to be suggested by the above stack trace**

It only seems to happen if there are other Python processes running, not started or related to `ray`. Windows is known to reuse `pids`, so could it be some

[2022-11-03 15:32] xwjiang2010 opened #29979 "[release] ml_user_tune_rllib_connect_test is failing"
### What happened + What you expected to happen

with `tblib` module not found error

https://buildkite.com/ray-project/release-tests-branch/builds/1181#01843a66-236d-4920-92fc-5373200e5938

### Versions / Dependencies

master

### Reproduction script

ml_user_tune_rllib_connect_test release test

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-03 15:34] xwjiang2010 commented on #29979
related discussion: https://github.com/ray-project/ray/pull/20346

[2022-11-03 16:20] alanwguo commented on #29950
Yes, this is a fairly common Mac issue (not specific to Ray). I can add a "common issues" section and link to the mac docs: https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac

FYI: @scottsun94 who ran into the same thing

[2022-11-03 16:36] xwjiang2010 opened #29982 "[ml release] tune_cloud_aws_durable_upload_rllib_str is flaky"
### What happened + What you expected to happen

https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_Qm5W5G1zehx6ji9i2YZgnQp8?command-history-section=command_history&drivers-section=runs

### Versions / Dependencies

master

### Reproduction script

NA

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-03 16:51] xwjiang2010 commented on #29982
A failed one: https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_Qm5W5G1zehx6ji9i2YZgnQp8?command-history-section=command_history&drivers-section=runs

A successful one:
https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_qC3ZfndQWYYjx2cz8KWGNUL4/clusters/ses_m6FYmdLfYWPXtSJX13WPdhgq?command-history-section=command_history

[2022-11-03 16:53] xwjiang2010 commented on #29982
Note we are running on spot instances.

A few seconds before a stop signal is received, one of the worker nodes is gone. And I think the driver pretty much just hangs. See log below

[code]

[2022-11-03 16:53] xwjiang2010 commented on #29982
cc @krfricke
I am trying to understand if this is a real fault tolerance issue or this test should be moved back to using non-spot instance.

[2022-11-03 18:14] shrekris-anyscale commented on #28704
Following up here– @get-a-grep does the example resolve the issue?

[2022-11-03 18:52] clarng commented on #29913
based on team discussion the P0 core metrics are the core benchmark, i think this is P1

[2022-11-03 19:47] #29950 closed

[2022-11-03 20:09] clarkzinzow opened #29992 "[Datasets] Add support for using Arrow 7 with Ray (Core/Datasets/AIR)."
Arrow 7 has some breaking API changes and bugs that we need to accommodate in order to make it usable with Ray.

## Known Issues

- https://github.com/ray-project/ray/issues/29814

## Success Criteria

- CI job running against Arrow 7 is passing

[2022-11-03 20:44] clarkzinzow opened #29994 "[Datasets] In Arrow 10+, S3 errors raised due to permission issues can vary beyond our current pattern matching"
We currently pattern match against exception messages to determine if an S3 error that was raised is due to a permissions issue; this allows us to raise a more informative, more actionable Datasets-level error for the user. In Arrow 10+, Arrow may raise a few other S3 error messages than our current pattern matching supports.

We should expand our error message pattern matching to cover these new

[2022-11-03 20:46] pcmoritz commented on #29994
In particular, we should make sure to always also show the original Arrow error message now, since it container important information now about what is going wrong (e.g. the concrete S3 API call that caused the problem).

[2022-11-03 20:46] clarkzinzow opened #29995 "[Datasets] Add support for using Arrow 8 with Ray (Core/Datasets/AIR)."
Arrow 7 has some breaking API changes and bugs that we need to accommodate in order to make it usable with Ray.

## Known Issues

- https://github.com/ray-project/ray/issues/29816

[2022-11-03 20:47] clarkzinzow opened #29996 "[Datasets] Add support for using Arrow 9 with Ray (Core/Datasets/AIR)."
Arrow 9 has some breaking API changes and bugs that we need to accommodate in order to make it usable with Ray.

## Known Issues

- Everything for Arrow 8 support: https://github.com/ray-project/ray/issues/29995
- https://github.com/ray-project/ray/issues/29816
- https://github.com/ray-project/ray/issues/29815

## Success Criteria

- CI job running against Arrow 9 is passing

[2022-11-03 20:49] clarkzinzow opened #29997 "[Datasets] Add support for using Arrow 10 with Ray (Core/Datasets/AIR)."
Arrow 10 has some breaking API changes and bugs that we need to accommodate in order to make it usable with Ray.

## Known Issues

- Everything for Arrow 9 support: https://github.com/ray-project/ray/issues/29996
- https://github.com/ray-project/ray/issues/29994

## Success Criteria

- CI job running against Arrow 10 is passing

[2022-11-03 20:54] clarkzinzow opened #29998 "[Datasets] Add support for using Arrow nightly with Ray (Core/Datasets/AIR)."
Arrow 10 has some breaking API changes and bugs that we need to accommodate in order to make it usable with Ray.

## Known Issues

- Everything for Arrow 10 support: https://github.com/ray-project/ray/issues/29997

## Success Criteria

- CI job running against Arrow nightly is passing

[2022-11-03 21:27] scottsun94 commented on #19631
This seems pretty important if users want to go really deep to optimize GPU usage.
cc: @rkooo567 @ericl @rickyyx @alanwguo

@drewm1980 @yzs981130
I'm wondering when you choose to use profiling tools like tf profiler/ pytorch profiler and when you choose to use `nsys` for GPU profiling.

[2022-11-03 21:34] #24527 closed

[2022-11-03 21:50] wuisawesome commented on #29791
Btw downgrading this to p1 because it wasn't actually the issue in 1/2 of the incidents, though we should fix it (and i will still do it)

[2022-11-03 21:54] bveeramani opened #30002 "[Tune][Docs] `ResultGrid` reference doesn't contain `ResultGrid`"
### Description

The "ResultGrid (tune.ResultGrid)" page of the Tune API reference doesn't actually contain the `ResultGrid` reference. It only contains the `ExperimentAnalysis` reference.

### Link

https://docs.ray.io/en/latest/tune/api_docs/result_grid.html

[2022-11-03 22:04] xwjiang2010 commented on #28268
Update: still investigating this.
So for Tune logging, there is driver log, which I think we can configure it through a proper stream handler. There is also remote actor logs. Especially for TF case, this part of the output can be extremely cluttered. See example below

[code]

I don't have a good answer for the remote actor part of the story. What do people feel here? Are people happy with just t

[2022-11-03 22:06] xwjiang2010 commented on #28268
IIUC python logging module hardly works across multiple processes, let along processes on different nodes. So there has to be a mix of some customized approach to handle remote actor case.

[2022-11-03 22:09] clarkzinzow opened #30003 "[Datasets] Make TFRecords datasource return Arrow Tables, similar to our other datasources."
The current `TFRecordsDatasource` [returns Pandas DataFrames](https://github.com/ray-project/ray/blob/45cdd3872e59324803b49e1cd097349d6bf4b9be/python/ray/data/datasource/tfrecords_datasource.py#L36), which can result in slower downstream preprocessing and/or inference routines. Since Arrow Tables are typically a more efficient data representation, have faster compute kernels, and have a more consi

[2022-11-03 22:19] bveeramani opened #30004 "[Tune] Can't access all metrics for all trials"
### Description

Add a method to `ResultGrid` that lets me view the per-iteration metrics for all trials.

### Use case

I want to compute statistics about my trials. To compute the statistics, I need metrics for multiple iterations.

Currently, I can only access the per-iteration metrics of the best trail with `Result.metrics_dataframe`:
[code]

Alternatively, if I use `ResultrGrid.get_dataframe`

[2022-11-03 22:21] xwjiang2010 commented on #30004
is this from a user request? Also could you triage it as you may have more context on how urgent it is?

[2022-11-03 22:25] bveeramani commented on #30004
Sort of. This issue is motivated by https://discuss.ray.io/t/callback-after-a-trial-has-converged/7937.

Done.

[2022-11-03 22:30] xwjiang2010 commented on #29458
@amogkam not exactly sure that I followed.
How does Tune Session know about the specific application details (freq etc) inside training function?

[2022-11-03 22:34] peytondmurray opened #30005 "[RFC] Logging configuration and message formats"
### Description

In the interest of improving both the user and development experiences with Ray, and after having a discussion with @xwjiang2010, I'm opening this issue to solicit community input about Ray's logging capabilities.

## Background

### Logging configuration

Logging in Ray is currently set up in multiple places. Some modules set custom logging configurations with calls to `basicConf

[2022-11-03 22:44] xwjiang2010 commented on #30005
tagging a few people for feedbacks
@rkooo567 @ericl

[2022-11-03 23:01] AlexanderLavelle commented on #28939
For what it's worth, if you are also experiencing this issue, I have switched to WSL as a workaround.

[2022-11-03 23:01] AlexanderLavelle commented on #28939
(sorry wrong button)

[2022-11-03 23:34] justinvyu commented on #30002
I think this is fixed by https://github.com/ray-project/ray/pull/29670 on master.

[2022-11-03 23:46] ChucklesTheBeard commented on #28447
Same deal, 2.0.1-cp310 for windows is missing.

[2022-11-03 23:48] simon-mo opened #30006 "[Serve] `serve run` with background ray cluster doesn't stream log with consecutive run"
### What happened + What you expected to happen

When there is a Ray Cluster started by `ray start --head`, running `serve run` the first time will deploys Serve controller into it and therefore stream the controller logs to driver. But then the second `serve run` will not be able to stream log because it is re-using the same controller started by the first `serve run` (even though it can terminat

[2022-11-03 23:54] chaomengyuan commented on #26991
Hi @ericl and @clarkzinzow, we internally want to use some "spot" GPU resources to run some Ray-based offline inference jobs. In such case, a fault tolerance/failure recovery strategy for ActorPoolStrategy is a "must-have" feature. I am wondering what is the current status of this issue? Is there a timeline for supporting this feature? Thanks.

[2022-11-04 00:07] bveeramani commented on #30002
Ah, you're right! Will close this issue as it's not necessary anymore.

[2022-11-04 00:07] #30002 closed

[2022-11-04 00:25] max0x7ba opened #30008 "[Tune] Trials resumed after preemption get stuck in RUNNING state forever, error setup rpc connection failed."
### What happened + What you expected to happen

Some trials resumed after preemption get stuck in RUNNING state forever, error setup rpc connection failed.

I use Google Compute Engine spot/preemptible compute instances for hyperparameter tuning with Ray Tune, `ray.init` starts a cluster of workers on the same host.

When resuming tuning after preemption

* some resumed trials get stuck in state

[2022-11-04 00:30] #29202 closed

[2022-11-04 00:44] max0x7ba commented on #30008
@richardliaw I don't mean to be a pest, but have spent a good few days trying to make ray-tune 2.0.1 work investigating why it can no longer complete tuning with the same code ray-tune 1.31 worked flawlessly. I have ran out of things to try now.

[2022-11-04 02:51] pratkpranav commented on #29412
I have put it to run with env RAY_DASHBOARD_AGENT_CHECK_PARENT_INTERVAL_S=100000000 for now. It's been running for a day and half now. I would keep it running for some more time.

I will try to put it to run as soon as I am done running with the above one.

[2022-11-04 04:03] dumpmemory commented on #29458
I haven't setting checkpoint_frequency in CheckpointConfig

[2022-11-04 04:22] jungwoowoo commented on #6976
is there any samples about this issue ?

[2022-11-04 04:23] jungwoowoo commented on #6976
is there any samples about this issue ?

[2022-11-04 04:28] richardliaw commented on #30008
no problem, seems like a bad bug. cc @jjyao to look into this as it is core related.

[2022-11-04 04:28] marianogabitto opened #30012 "[<Ray component: Core] Failed to register worker . Slurm - srun -"
### What happened + What you expected to happen

I can't start ray.

I  instantiate a node in a slurm cluster using:

srun -n 1 --exclusive -G 1 --pty bash

This allocates a node with 112 cpus and 4 gpus.

Then, within python:

import ray
ray.init(num_cpus=20)
2022-11-03 21:17:31,752 INFO worker.py:1509 -- Started a local Ray instance. View the dashboard at 127.0.0.1:8265
[2022-11-03 21:18:32,436

[2022-11-04 04:41] clarng opened #30013 "[core] let raylet decide whether task / actor should be retried when it dies due to OOM"
### What happened + What you expected to happen

right now the retry logic lives in GCS (actor) or the task submitter(task) and has several problems
- the oom retry, which is a config / env var, could resolve to a different value if we set the env var in the driver (the value doesn't propagate to ray cluster)
- raylet should decide not to retry if it detected that the task is deadlocked

To addres

[2022-11-04 04:42] clarng opened #30014 "[core] prototype group-based oom worker killing policy"
### What happened + What you expected to happen

implement working killing policy that uses grouping

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-04 04:44] #26835 closed

[2022-11-04 05:36] rkooo567 commented on #29412
Sounds good to me! I'd be also great if you test with a shorter time like 60 seconds (RAY_DASHBOARD_AGENT_CHECK_PARENT_INTERVAL_S=60)! Please note that what you did means you disabled the health check, and agent may not be terminated properly although raylet is killed. In the medium term, we will see if it's possible to find a better health checking mechanism..

[2022-11-04 06:10] ConeyLiu commented on #29967
Hi @jovany-wang, thanks for pinging me. I have not kept following the source code of Ray for a long time. So my apology, I could not provide some knowledge about the failed UT.

[2022-11-04 06:11] ConeyLiu commented on #29967
cc @kira-lin my have some hints on this.

[2022-11-04 07:32] kira-lin commented on #29967
@jovany-wang I may not have the bandwidth to look into it now. When does it appear? Is it due to a particular PR?

[2022-11-04 07:40] jovany-wang commented on #28268
What's the case we should handle the logs for different processes?

[2022-11-04 11:39] rkooo567 commented on #28268
Yeah I don't need to control this except the formatting and log level (no need to add additional handler).

For the cluttered output, can you create a separate issue? Not sure if it is fixable, but we can take a look

[2022-11-04 14:49] yzs981130 commented on #19631
From my own limited experience, when I try to get relatively high-level information (e.g., operator time breakdown), the framework-level profiler is better. I usually use `nsys` to figure out more fine-grained execution and time sequenced information. For example, I need to confirm the actual parallelized operations on GPU, or figure out which op blocks the others.

[2022-11-04 15:09] rkooo567 opened #30022 "[Core/Observability] Allow users to check the connectivity among nodes"
### Description

When doing the manual deployment, it is required users to open necessary ports specified here. https://docs.ray.io/en/master/ray-core/configure.html#ports-configurations

However, it is commonly missed, and when users don't open ports accordingly, the system doesn't work as expected without a clear error message. It's happened a lot and reported by many users. For example; https:/

[2022-11-04 15:10] rkooo567 commented on #30022
cc @scv119 do you know if we have anyone who has bandwidth to take this task over?

[2022-11-04 15:10] rkooo567 commented on #30022
cc @richardliaw

[2022-11-04 15:49] rkooo567 commented on #30005
This sgtm!

Also I like this idea. Maybe Ray can provide a public API to standardize some logging output in the long term.

Btw, should we also enable `propagate`? I found all of Ray loggers have logger.propagate = False which won't give user control of logs. I think logs printed to user program's stdout should all be controlled by main user's logger configuration.

[2022-11-04 17:14] cadedaniel opened #30026 "[CI] `bk://:mac: :apple: Wheels and Jars` red"
<img width="849" alt="Screen Shot 2022-11-04 at 10 12 33 AM" src="https://user-images.githubusercontent.com/950914/200035617-2e4af490-b60e-4547-bef9-05f478d8d311.png">

[2022-11-04 17:15] cadedaniel opened #30027 "[CI] `bk://:windows: Wheels` red"
<img width="606" alt="Screen Shot 2022-11-04 at 10 15 32 AM" src="https://user-images.githubusercontent.com/950914/200036309-f1f77684-1ae7-4ad6-a55b-b946060c0211.png">

[2022-11-04 17:26] #29769 closed

[2022-11-04 17:29] get-a-grep commented on #28704
Hey @shrekris-anyscale , this more or less confirms what I figured and read previously in those docs you linked. The only and biggest difference that I see here is the inability to retrieve application handles to a deployment that may lay outside of your pre-planned DAG structure by calling `ray.init()` and `get_handle()` in a component that didn't have to be a ray deployment. While that was likel

[2022-11-04 17:30] xwjiang2010 commented on #30008
cc @clarng as well as core oncall.

[2022-11-04 17:34] #29982 closed

[2022-11-04 17:36] xwjiang2010 commented on #29896
duplicated: https://github.com/ray-project/ray/issues/29769

[2022-11-04 17:36] #29896 closed

[2022-11-04 17:37] clarng commented on #30027
looks like nodejs version changed, trying to pin

[2022-11-04 18:56] peytondmurray commented on #30005
:100: Agree, when a user can't configure logging it can be very frustrating.

[2022-11-04 19:08] zzb3886 commented on #29696
Previously the soft limit was 1024. The top counts of the lines in the `lsof` output are
[code]
I grouped the `lsof` output by the name of the process, and the first column is the count.

[2022-11-04 20:34] scottsun94 commented on #23385
cc: @rkooo567

[2022-11-04 20:57] clarng commented on #29864
looks like a dupe of https://github.com/ray-project/ray/issues/30026

[2022-11-04 20:57] #29864 closed

[2022-11-04 21:04] clarng commented on #30027
seems like
- nodejs can be pre-installed with different versions on the windows machine
- if nodejs is not pre-installed it will try to download and fail to install, thus failing the Wheel

This happens only with the Build target, but not Build & Test, trying to clone the setup

[2022-11-04 21:07] #29560 closed

[2022-11-04 21:09] #29432 closed

[2022-11-04 21:17] clarng commented on #29826
What is the expectation for this ? @scv119  @ericl

[2022-11-04 21:18] clarkzinzow commented on #26991
Hi @chaomengyuan! The Datasets `ActorPoolStrategy` should inherit the same [fault-tolerance characteristics of Ray Core actors](https://docs.ray.io/en/master/ray-core/actors/fault-tolerance.html), i.e. if you set `max_restarts > 0` and `max_task_retries > 0` for the actors underlying the actor pool, Ray Core's lineage-based object reconstruction should work as expected. This actor configuration is

[2022-11-04 21:19] clarng commented on #29169
Is this blocked still?

[2022-11-04 21:42] #26083 closed

[2022-11-04 21:45] ijrsvt commented on #29826
I expect for it to pickle?

[2022-11-04 21:56] ericl commented on #29624
+1. Actually, I already thought this was the default behavior when num_gpus > 0 was set!

There will be a slight performance regression when using short-running GPU tasks. Maybe we can log once a warning when declaring a remote function with GPUs that max_calls will also be set to 1 by default.

[2022-11-04 22:47] #25258 closed

[2022-11-04 23:01] hora-anyscale commented on #28254
Per Triage Sync: @scv119 There is already a data tab at https://flakey-tests.ray.io/#owner=infra

Does that accomplish what you were looking for or did you want something further?

[2022-11-04 23:02] hora-anyscale commented on #28410
Per Triage Sync: @clarkzinzow can you please clarify why this is a P1?

[2022-11-04 23:02] xwjiang2010 commented on #29940
Hi this is because you request num_workers=8 and each use 1 GPU. So you would need a total of 8 GPUs to start a trial. You only have 1 GPU instead.

[2022-11-04 23:03] xwjiang2010 commented on #29940
Leave this open to see if any more follow up questions.

[2022-11-04 23:03] #29892 closed

[2022-11-04 23:06] hora-anyscale commented on #28868
Per Triage Sync: @bveeramani added Ray 2.2 label as part of P1 triage/cleanup feel free to adjust.

[2022-11-04 23:08] hora-anyscale commented on #28869
Per Triage Sync: Bumping to P2 as it is low prio

[2022-11-04 23:14] hora-anyscale commented on #29379
Per Triage Sync: @c21 assigning to you, please try to repro via script?

[2022-11-04 23:18] hora-anyscale commented on #29761
Per Triage Sync: Should this be 2.2 or 2.3?

[2022-11-04 23:35] galenhwang commented on #25523
I believe the fix was https://github.com/ray-project/ray/pull/23766?

[2022-11-04 23:37] simon-mo commented on #29322
Fixed (?)

[2022-11-04 23:37] #29322 closed

[2022-11-04 23:38] hora-anyscale commented on #29340
Per Triage Sync: @Yard1 - please review

[2022-11-04 23:41] simon-mo commented on #29037
@jdonzallaz does this still happen locally? This looks like no a blocking problem in the production environment?

[2022-11-04 23:46] hora-anyscale commented on #29100
Per Triage Sync: Closing since flaky test

[2022-11-04 23:46] #29100 closed

[2022-11-04 23:47] #28007 closed

[2022-11-04 23:48] simon-mo commented on #27905
Seems to be answered? Thanks @sujit420. Feel free to re-open if it is not

[2022-11-04 23:48] #27905 closed

[2022-11-04 23:48] simon-mo commented on #27877
It should not be the case in Ray 2.0. Please feel free to re-open.

[2022-11-04 23:48] #27877 closed

[2022-11-04 23:49] simon-mo commented on #27705
I don't think this happens on Ray 2.0.

[2022-11-04 23:49] #27705 closed

[2022-11-04 23:50] simon-mo commented on #27494
`newrelic-admin run-program`

Indeed. Ray runs workers in distributed manner, the newrelic-admin approach is not compatible because it attaches processes with a single driver python3 program.

[2022-11-04 23:50] #27494 closed

[2022-11-04 23:51] simon-mo commented on #27414
We would love for you to try out kuberay operator, where we have readiness and liveness prod setup and failure handling builtin.
https://ray-project.github.io/kuberay/guidance/rayservice/
https://docs.ray.io/en/master/serve/production-guide/fault-tolerance.html

[2022-11-04 23:51] #27414 closed

[2022-11-04 23:51] #27089 closed

[2022-11-04 23:51] simon-mo commented on #26527
Ray Client is deprecated. Closing.

[2022-11-04 23:51] #26527 closed

[2022-11-04 23:53] simon-mo commented on #21017
Graceful timeout work for this overall. Closing

[2022-11-04 23:53] #21017 closed

[2022-11-05 00:21] ArturNiederfahrenhorst commented on #29946
Hi @spacegoing , thanks for filing the bug. We changed this on master, so nightly versions and future versions will not come with this _exact_ behaviour but something similar that is well documented.

The line you are referring to will now read:
`self.total_rollout_fragment_length: int = (
            self.config.rollout_fragment_length * self.config.num_envs_per_worker
        )`

And comes with

[2022-11-05 00:21] #29946 closed

[2022-11-05 00:21] marianogabitto commented on #30012
I am monitoring this issue so let me know if I need to convey more information or if I need to run or save any log file.

Thanks Ray Team !

[2022-11-05 17:06] rkooo567 commented on #25523
I don't think that fixes the root cause. It just mitigates the issue. It's ideal we don't restrict the version requirement.

[2022-11-05 23:02] chaos-ad commented on #23681
Hey guys, i've stumbled upon the similar problem while reading ~15GB parquet file. And pyarrow.dataset.dataset(...).to_batches() however works like a charm. I guess the similar problem might arise when someone wants to store & process more than a few TB of data in HDFS, since it is generally advisable not to have >10k files

[2022-11-06 03:38] jjyao opened #30037 "[Core] Better UX when a node has closed ports"
### What happened + What you expected to happen

Currently when a node has closed ports, Ray doesn't provide good error message but just silently avoid scheduling tasks to it, which causes user confusion.

### Versions / Dependencies

master

### Reproduction script

See the slack conversation: https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1666952586276089 for more details.

### Issue Se

[2022-11-06 03:38] jjyao commented on #30037
cc @rkooo567

[2022-11-06 05:46] richardliaw opened #30038 "[datasets] Doesn't work on Jupyter Notebook"
### What happened + What you expected to happen

When running Datasets on VSCode

[code]

cc @peytondmurray

### Versions / Dependencies

master

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-11-06 06:20] peytondmurray commented on #30038
ipywidgets changed how `Tab` works in v8, I think :shrug: I'm also guessing this fails in the `DataParallelTrainer` as well. Since the user gets ipywidgets v8 I think we should update both.

[2022-11-06 17:18] clarng commented on #29826
Looks like an alternative is to set allow_mutation=False to "freeze" the object, and that works.

[code]

The question on expectation was more around the priority (as opposed to behavior)

[2022-11-06 17:19] clarng commented on #30027
Seems to have self recovered

<img width="1567" alt="Screen Shot 2022-11-06 at 9 19 06 AM" src="https://user-images.githubusercontent.com/22830327/200185129-538f8084-4d83-4974-90bc-5aba4693222d.png">

[2022-11-06 17:43] #29724 closed

[2022-11-06 20:38] arnavgarg1 opened #30040 "[Tune] Add documentation for ray.tune.TuneConfig"
### Description

At the moment, there's no good way to find documentation for tune.TuneConfig on the Ray documentation link. The only way I've found is to actually go into the Ray project code and find it here (https://github.com/ray-project/ray/blob/master/python/ray/tune/tune_config.py#L12). Can we add this to the docs?

### Link

https://github.com/ray-project/ray/blob/master/python/ray/tune/tu

[2022-11-06 21:55] DmitriGekhtman commented on #21656
I'm working on these problems now.

The list calls used to serve non_terminatated_nodes are the most problematic aspect of the current setup -- these have the potential to wreck a user's Kubernetes cluster if there are enough Ray clusters running with enough total pods.

[2022-11-06 23:21] michaelfeil commented on #30012
I encountered a similar issue. In my case, the _temp_dir was not writable from the cluster job. I added e.g. /home/username
`ray.init(num_cpus=num_cpus, num_gpus=num_gpus, _temp_dir=f"/home/mfeil/tmp", include_dashboard=False, ignore_reinit_error=True)`

[2022-11-07 00:46] blackDZS commented on #29940
@xwjiang2010  Thanks for your reply, I find that if I set `scaling_config=ScalingConfig(num_workers=1, use_gpu=True)`, the script raise

[code]

It seems that data and model are not in the same device, and I change `inputs, labels = batch["image"], batch["label"]` to `inputs, labels = batch["image"].to("cuda"), batch["label"].to("cuda")` in `train_loop_per_worker `. The script works fine !

The te

[2022-11-07 01:09] shrekris-anyscale commented on #28253
The importing issue should be resolved by #28250. The `netrc` workaround is likely best for production use-cases, so the username and password aren't exposed. We should follow up with documentation explaining how to use `netrc` with `runtime_envs`.

[2022-11-07 02:38] marianogabitto commented on #30012
This has not solved it for me . It is still dependent on the number of CPUs initiated.

Again, I allocate with slurm 112 cpus.

#########. THIS WORKS - 10 CPUS #########
import ray
ray.init(include_dashboard=False, num_cpus=10, num_gpus=4, _temp_dir=f"/scratch/", ignore_reinit_error=True)

#########. THIS DOES NOT WORK - 20 CPUS #########
import ray
ray.init(include_dashboard=False, num_cpus=20, n

[2022-11-07 06:12] DmitriGekhtman opened #30046 "[Kubernetes] Document deploying with Helm"
### Description

This is an issue to address after the next KubeRay release.

KubeRay 0.4.0 will be the first release with stable Helm support.
Once KubeRay 0.4.0 is out, the docs should emphasize deploying Ray with Helm, while maintaining docs on deploying with kustomize and custom resources.
Helm generally provides a better experience for new users than managing K8s configuration directly.
@kevi

[2022-11-07 07:19] tuln128 commented on #11047
Hi @Karol-G
Could you please tell me how did you change the code from class trainable to function trainable to get the problem solved?
Thank you very much in advance!

[2022-11-07 08:23] Xalag commented on #28253
One option for Kuberay:
Create a secret which has ".netrc" as a key and the contents of the .netrc-file as the value.
Then use it as a mounted volume and set the environment variable NETRC to the destination:
[code]

[2022-11-07 09:01] ericosmic commented on #26320
Also happen same problem, is this due to m1 mac?

[2022-11-07 12:12] dirkweissenborn opened #30050 "[Autoscaler][GCP] Autoscaler crashing on GCP with error 404."
### What happened + What you expected to happen

Autoscalar crashes due to missing node and doesn't recover. It stays in the following update loop forever. The problem is that there is an updater dict from node_id to thread and if an error occurs the node is not dropped from that dict. There are many places where the `internal_ip` call could fail and I hope that there are not more of these possibl

[2022-11-07 13:03] pratkpranav commented on #29412
@rkooo567 , I ran the program again, with `RAY_DASHBOARD_AGENT_CHECK_PARENT_INTERVAL_S=60`. However, It failed, as soon as the sleep ends. Adding error output and all the log files from worker that failed..

Error Output:
[code]

[logs_112.zip](https://github.com/ray-project/ray/files/9951800/logs_112.zip)

[2022-11-07 13:48] jdonzallaz commented on #29037
I tried again with the same reproduction script and version 2.0.1, but the same problem happens (locally).

No, in the production environment, it is not a blocking problem.

[2022-11-07 14:52] rkooo567 commented on #29412
Got it. I am not sure what causes this, but psutil definitely seems broken in your env...

I think you can get around the issue by `RAY_DASHBOARD_AGENT_CHECK_PARENT_INTERVAL_S=100000000` for now. I will discuss the fix plan and get back to you...

[2022-11-07 15:03] shiranbi opened #30051 "[Core] ray.wait return if task failed"
### Description

Today the only way to know if a task failed is to call ray.get on the return of the task or get an exception from the task that receives the data

as in either
ref1 = taskA.remote()
ref2 = taskB.remote(ref1)

call to taskB will throw exception

or
ref1 = taskA.remote()
ray.get(ref1)

ray.get will throw exception

I would like to do
ref1 = taskA.remote()
ray.wait(ref1)

and to have

[2022-11-07 15:20] rkooo567 commented on #26320
@ericosmic what's your output of dashboard.log file? https://docs.ray.io/en/master/ray-observability/ray-logging.html

[2022-11-07 15:22] rkooo567 commented on #30037
cc @richardliaw

cc @scv119 should we handle this by 2.2? There are lots of users having this issue when doing the manual deployment

[2022-11-07 16:27] jjyao commented on #30037
I'd say if not 2.2 we should target 2.3.

[2022-11-07 17:05] Yak46 commented on #29623
Hello,

I tried to run the atari breakout benchmark available in the [ray/rllib/tuned_examples](https://github.com/ray-project/ray/blob/master/rllib/tuned_examples/ppo/atari-ppo.yaml) folder.

### My system:

OS: Ubuntu 20.04.4 LTS
RAY: 1.13
PYTHON: 3.9.10

### Settings:

[code]
I ran a training session using the command `rllib train -f "settings.yaml"` and I compared the obtained reward with the

[2022-11-07 17:14] clarkzinzow opened #30054 "[Core] Task cancellation not handled during arg deserialization and error storing"
The Python task execution handler catches `KeyboardInterrupt` during task execution, but not during argument deserialization or when storing other errors. This can cause task cancellation errors to not be properly handled, leading to worker crashes.

This was fixed in https://github.com/ray-project/ray/pull/29984, creating this issue for posterity.

[2022-11-07 17:14] xwjiang2010 opened #30055 "[OSS release testing] release_test and the wheel being tested are using different commits"
### What happened + What you expected to happen

Causing version mismatch issue.

See https://buildkite.com/ray-project/release-tests-branch/builds/1183#018444b1-2d17-4465-99f3-69e0d4db5fe5/808

possible racing condition:
https://github.com/ray-project/ray/blob/master/release/run_release_test.sh#L65-L69

### Versions / Dependencies

master

### Reproduction script

See above

### Issue Severity

M

[2022-11-07 17:14] clarkzinzow commented on #30054
Fixed in https://github.com/ray-project/ray/issues/30054.

[2022-11-07 17:14] #30054 closed

[2022-11-07 18:27] clarng commented on #29294
@c21  do you mind taking the action item ? Seems Clark already has another P0

[2022-11-07 18:29] rickyyx commented on #29169
Don't think this is blocked- this could be part of the Nightly test auditing project.

[2022-11-07 18:35] scottsun94 commented on #2551
I believe that redirecting logs is supported (though it needs further improvement) https://github.com/ray-project/ray/pull/21767
@mitar

@aksh-gupta @erikerlandson For k8s, you could try to set up logging following the documentation: https://docs.ray.io/en/master/cluster/kubernetes/user-guides/logging.html

[2022-11-07 18:52] c21 opened #30058 "[Datasets] Override `pickle.dumps(ds)` behavior to be same as `ds.serialize_lineage()`"
### Description

From Ray Tune, there's requirement to checkpoint and restore dataset in multiple places (according to @justinvyu and @xwjiang2010). It seems more convenient if Dataset can provide same behavior when calling `pickle.dumps(ds)` (i.e. to copy lineage, remove computed blocks object refs).

### Use case

Ray Tune restore

[2022-11-07 18:52] rickyyx commented on #29911
Tried a run with lower grpcio version here: https://buildkite.com/ray-project/release-tests-pr/builds/19924#01843950-3ca3-4c13-ba9f-bfe20f1306f0

The tl;dr is that higher version of grpcio seems to result in regression on the test perf metrics, running a few more to validate it.

[2022-11-07 18:55] rickyyx commented on #29911
I also think this could be relevant with the task metric exporting. Let me see if I could turn the task metrics exporting off and see what's the benchmark value.

[2022-11-07 19:00] bveeramani opened #30059 "[Datasets] `ArrowVariableShapedTensorArray` error message is too long"
### Description

Update the error message to not print arrays.

### Use case

Better UX. The traceback is 3491 lines long!

See https://gist.github.com/bveeramani/1cbcf12db3bc8703aeee24fa750d1642.

[2022-11-07 19:04] bveeramani opened #30060 "[Datasets] `Dataset.limit` doesn't work with ragged tensors"
### What happened + What you expected to happen

I tried to limit the size of my dataset so I could debug easily. I got an error instead.

See repro.

### Versions / Dependencies

Ray: 3a77c7356be3c4b0d2d9d2112716d4b6ae22a7ec

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-07 19:10] scottsun94 commented on #28496
Not fixed. Keep it open for tracking

[2022-11-07 19:23] clarkzinzow commented on #30058
@c21 Hard -1 to this, we purposefully didn't do this.
- `ds.serialize_lineage()` is for serializing the lineage to recreate the `Dataset` such that the lineage can be persisted to disk and recreate on another cluster. To do this, we need to purge the Ray objects (which can't be shared across Ray clusters) and store the lineage to recreate the `Dataset`.
- `pickle.dumps(ds)` is used for sending a `

[2022-11-07 19:27] clarkzinzow commented on #30058
If we know that we're going to be restoring the `Dataset` on the same cluster and that the underlying Ray objects holding the data will still exist (or will be recomputable via Ray Core's lineage-based object reconstruction), then we can have a fast-path restoration that uses the existing `pickle.dumps()` path.

If we're wanting this to work automatically for `Dataset` restoration, we could augmen

[2022-11-07 19:31] simon-mo commented on #28253
Closing as this has been answered by @shrekris-anyscale and thanks @Xalag for providing the code same in KubeRay

[2022-11-07 19:31] #28253 closed

[2022-11-07 19:50] ericl commented on #25837
Saw another user ran into this for TF training--- should definitely prioritize.

[2022-11-07 20:02] cadedaniel opened #30062 "[CI] :mac: Kick-off: Launching MacOS pipeline succeeds even on error during step generation"
We should fail if the step generation script fails.

Seen in https://github.com/ray-project/ray/pull/30044

[code]

[2022-11-07 20:07] victor7246 opened #30063 "[Train] Trainer fails on multi-GPU cluster"
### What happened + What you expected to happen

Trainer(backend='torch') fails with Ray 2.0 when running on multiple GPU nodes. We are running Trainer on 3 A100 workers, each having 4 GPUs.

(BackendExecutor pid=5631) RuntimeError: Expected tensor for 'out' to have the same device as tensor for argument #2 'mat1'; but device 1 does not equal 3 (while checking arguments for addmm)

### Versions /

[2022-11-07 20:16] DmitriGekhtman commented on #29665
We can use this workload https://docs.ray.io/en/master/cluster/kubernetes/examples/ml-example.html as the example.
@simon-mo would you mind assigning someone to carry out the check?

[2022-11-07 20:17] suquark opened #30064 "[autoscaler] AWS Single Sign-On support"
### Description

Currently ray autoscaler seems only support credential files for AWS access. Some companies / organizations are using AWS SSO for account management (https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sso.html), and I observed that Ray autoscaler failed because there is no credential files.

The solution might be setting necessary AWS cli environmental variables from h

[2022-11-07 20:25] amogkam commented on #30063
@victor7246 can you try with Ray nightly?

Can you also share the full stack trace? And are you manually setting the `CUDA_VISIBLE_DEVICES` environment variable?

[2022-11-07 20:28] DmitriGekhtman commented on #29665
cc @sihanwang41 @kevin85421

[2022-11-07 20:53] rickyyx commented on #25837
Will get to it this week.

[2022-11-07 21:21] jjyao commented on #29914
Based on the graph, I think it's a false alarm.

[2022-11-07 21:22] #29914 closed

[2022-11-07 21:36] jianoaix commented on #30058
Yeah these are two different cases. Passing dataset around in a Ray cluster should not clear objects. I think the question is what does it mean "in multiple places" for the issue here.

[2022-11-07 22:06] justinvyu commented on #30058
This question is coming from these two tickets: https://github.com/ray-project/ray/issues/29595 and https://github.com/ray-project/ray/issues/29597, where we are trying to resume a Tune experiment on a different cluster, and a dataset has been serialized with the Trainer.

Your explanation of why this shouldn't be the default makes sense, and I think Tune needs to manually save the dataset lineage

[2022-11-07 22:13] krfricke commented on #29245
You specified

`num_samples=-1` which will actually create an infinite number of trials. Because you can't run an infinite number of trials at the same time, Ray Tune will generate a number of trials that can partly be run in parallel. The number depends on your cluster resources (so number of CPUs). After the first couple of trials finished, it will create more trials.

In your case you probably

[2022-11-07 22:14] jwlarocque commented on #28005
Is there an easy way to correct the resource demands when this occurs?  (I've just been killing the whole cluster.)

[2022-11-07 22:17] krfricke opened #30068 "[air/tune] Tracker: Ray AIR/Tune checkpointing for Ray 2.2"
This is an umbrella issue to track features we hope to land for Ray 2.2

- [x] #30069
- [ ] #30070
- [x] #30073
- [x] #30074
- [x] https://github.com/ray-project/ray/issues/28528

Postponed:
- [ ] #30071
- [ ] #30072

[2022-11-07 22:17] krfricke opened #30069 "[tune] Make number of checkpoint restore re-tries + wait time configurable"
When a checkpoint save or restore fails, we currently re-try up to 3 times and sleep for 1 second between tries.

E.g. in trainable.py:

[code]

These values should be configurable, at least on an environment variable level.

[2022-11-07 22:17] krfricke opened #30070 "[air] [rfc] Re-introduce session.checkpoint_dir() API"
Creating directory checkpoints in Ray AIR is currently clunky:

[code]

Saving data into a directory is a common use case. Most other libraries only support this mode (and no dict checkpoints).

From the user side, the requirement is "Just give me a dir to write data to". Creating and keeping track of the directory is overhead.

From the technical side, we need to store data into directories at so

[2022-11-07 22:17] krfricke opened #30071 "[tune] Sync artifacts in trial/ directories to cloud"

[2022-11-07 22:17] krfricke opened #30072 "[air/tune] [rfc] Expose artifacts in trial/ directories in result grid"
Follow-up to https://github.com/ray-project/ray/issues/30071
If we store artifacts into cloud storage, we may want to expose them to the user via something like `result.artifacts`.

Let's discuss first if this captures a relevant user journey.

[2022-11-07 22:17] krfricke opened #30073 "[tune] Always sync experiment-checkpoints if a trial received X checkpoints without sync"
Currently, the ground truth for checkpoint restoration is the metadata saved on the driver side. This could be out of sync with what actual lives on the trainable disk:

- E.g. trainable saves checkpoints every minute, keeps 2
- Experiment checkpoint knows about checkpoint 10 and 11
- Experiment checkpoint gets uploaded to cloud
- Trainable saves checkpoint 12 and 13
- Trainable deletes checkpoint

[2022-11-07 22:17] krfricke opened #30074 "[air] Documentation: How to get things in and out of Ray AIR"
It is currently not clearly documented how the input (e.g. data, configuration) and output (e.g. metrics, checkpoints) of Ray AIR works. We should add a nice overview in the Ray AIR documentation.

[2022-11-07 22:18] cadedaniel commented on #28005
You can restart the Ray runtime: `ray up config.yaml --restart-only`. It should keep the nodes around and simply restart docker containers / ray processes.

[2022-11-07 22:19] clarkzinzow commented on #30058
@justinvyu You should coordinate with @xwjiang2010, we already implemented a Tune-level serialization hook covering this for checkpoints:
- https://github.com/ray-project/ray/blob/f1882f90cf2d91f5d802b7dffd41db5e306d6e6c/python/ray/tune/execution/trial_runner.py#L192-L193
- https://github.com/ray-project/ray/blob/e466a9e6b81ef1763c62d244cc7751879f4d5bf0/python/ray/tune/impl/out_of_band_serialize_d

[2022-11-07 22:49] bveeramani commented on #29857
@Yard1 couldn't we use the `training_state` approach from other checkpoint types? For example:

[code]

[2022-11-07 22:50] bveeramani commented on #29857
My concern with the `**kwargs` approach is that it's less explicit than the `training_state` approach.

With the `training_state` approach, the user species a `dict` as input and gets the exact same `dict` as output.

[code]

In contrast, with the `**kwargs` approach, the output looks different than the user's input.

[code]

We also implicitly map keyword names to `dict` keys. There's precedence

[2022-11-07 22:50] bveeramani commented on #29857
The other issue with `**kwargs` is that it breaks encapsulation. For example, it'd be problematic if a user did:

[code]

But this shouldn't be an issue. `_metadata` is an implementation detail.

[2022-11-07 22:54] Yard1 commented on #29857
The input-output relation is a good point. I think either is fine - I always err on the side of kwargs as I feel that is more pythonic, but it's not a dealbreaker for me either way and it looks like `training_state` has more advantages.

I feel like having a consistent API is nice for the user, but `training_state` will work well here too.

[2022-11-07 23:00] #28090 closed

[2022-11-08 00:36] chaomengyuan commented on #26991
Hi @clarkzinzow! Thank you for your reply. So, does this mean that the doc here: [](https://docs.ray.io/en/latest/data/key-concepts.html#fault-tolerance) for the "compute=ActorPoolStrategy()" is outdated?

[2022-11-08 00:41] clarkzinzow opened #30078 "[Datasets] Concatenating homogeneously-shaped tensors that have been cast as variable-shaped tensors fails."
The following will fail:
[code]

This is due to `ta1.to_variable_shaped_tensor_array().to_numpy()` returning an object-dtyped tensor rather than a well-typed tensor, and our naive iteration through this ndarray prevents any of the ndarray elements being well-typed.

https://github.com/ray-project/ray/blob/5aa1bb08d98f0b3e5565fa5c9822cbeaa104bd95/python/ray/air/util/tensor_extensions/arrow.py#L307

[2022-11-08 00:52] krfricke commented on #30070
Here are a few proposals to discuss.

Base imports:

[code]

# 1: Document using tempfile.TemporaryDirectory

[code]

Pros:
- No changes to `session.report` necessary
- No new API

Cons:
- We handle a user-generated directory
- If a user passes a _non_-temporary directory, we will move/remove it
- Not intuitively clear who manages the dir (who has to clean up) (If user does not clean up, dir will

[2022-11-08 00:57] amogkam commented on #30070
I would prefer not to go with 3 and 4 since these introduce yet another checkpointing api, and open up the possibility for reports and checkpoints to be called a different number of times.

[2022-11-08 01:00] krfricke commented on #30072
After initial discussion with @matthewdeng, we probably need more data to see how this would be used in real use cases. So we'll likely not include this into 2.2.

Would appreciate some inputs/opinions cc @amogkam @xwjiang2010

[2022-11-08 01:01] amogkam commented on #30070
Actually for option 2, is it possible to do this via the Checkpoint api itself rather than the session api?

this boilerplate removal can still be useful for more general cases right?

[2022-11-08 01:05] krfricke commented on #30070
You mean something like

[code]

Or did I misunderstand?

[2022-11-08 01:06] krfricke commented on #30070
As a general comment, we will always have the possibility to report and checkpoint a different number of times, and this is probably also what we want. It's default behavior e.g. in class trainables where we specifically specify the number of steps between checkpoints (`checkpoint_frequency`)

[2022-11-08 01:12] amogkam commented on #30070
yep!

[2022-11-08 01:21] bveeramani opened #30082 "[Datasets] Ragged Arrow datasets have incorrect schema"
### What happened + What you expected to happen

I created a dataset from ragged arrays. I expected the schema type to be `ArrowVariableShapedTensorArray`, but I got `ArrowTensorArray` instead.

### Versions / Dependencies

**Ray**: 5aa1bb08d98f0b3e5565fa5c9822cbeaa104bd95
**Python**: 3.7.15
**OS**: Linux
**Arrow**: 6.0.1

### Reproduction script

[code]

### Issue Severity

Medium: It is a signif

[2022-11-08 01:28] amogkam commented on #30070
Got it right. I guess I meant more like it’s explicit which metrics are associated with which checkpoint, so there’s a possibility for more user mistakes here

[2022-11-08 02:28] iycheng opened #30084 "[Core] GCS crashed in actor creation."
### What happened + What you expected to happen

[code]

### Versions / Dependencies

master

### Reproduction script

run with node killed

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-08 03:34] #29814 closed

[2022-11-08 03:34] #29992 closed

[2022-11-08 03:43] clarkzinzow commented on #30082
This is because the default parallelism of `ray.data.from_items()` will give a block per row, and we perform type inference via only the first block. Since the blocks are trivially homogeneous-shaped (they each contain a single tensor element), the type comes back as `ArrowTensorType`.

We could do some schema promotion if we have all block metadatas on hand.

[2022-11-08 04:48] iycheng opened #30086 "[Core] GCS hanging even cpu utilization low"
### What happened + What you expected to happen

[code]

### Versions / Dependencies

master

### Reproduction script

create a lot of nodes and run

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-08 05:02] clarng commented on #30026
trying another patch https://github.com/ray-project/ray/pull/30085

[2022-11-08 05:03] clarng opened #30087 "[ci] windows build and test failing"
### What happened + What you expected to happen

ci failing

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-11-08 05:03] clarng commented on #30087
<img width="1574" alt="Screen Shot 2022-11-07 at 9 03 32 PM" src="https://user-images.githubusercontent.com/22830327/200479513-225c698c-06b0-4a71-a9bf-af11cef45244.png">

[2022-11-08 05:04] clarng commented on #30087
testing patch https://github.com/ray-project/ray/pull/30085

[2022-11-08 05:10] c21 commented on #29294
@clarng - sure, I will take a look later.

[2022-11-08 05:20] iycheng commented on #30086
https://gist.github.com/iycheng/4d873195bee53f15560a5ef83fdacaea

[2022-11-08 05:57] krfricke commented on #30070
I'm happy with that option as well. I think the main difference is that in the session API, we create the end directory itself and don't move anything, and in the Checkpoint API, we create a temp directory that we have to move. We can clean up the former automatically (e.g. if we don't end up reporting), but the latter may take up space if we don't report.

I don't think this is a heavy con though

[2022-11-08 06:52] AwesomePH commented on #29452
Hi, I still do not know why `os.kill(file_info.worker_pid, 0)` would fail, but I solved the following exception:
[code]
This is due to the file system. So after I changed a file system the problem goes away.
I guess there is still `os.kill(file_info.worker_pid, 0)`  issues but the exception handling succeeded.

[2022-11-08 07:04] ZedRover commented on #9127
I'm sorry to say that I have the same problem today. I'm using the latest ray-ml docker,Ubuntu 18.04. And the version of raty is 2.1.0 and pytorch is 1.13.0, tensorflow is 2.6.2. There came large core.xxxx files once I started training agents.
![image](https://user-images.githubusercontent.com/29392414/200496755-cdb503ae-f863-41b0-9ac1-3ad24aa6c71f.png)

[2022-11-08 07:17] clarng commented on #30026
yet another try https://github.com/ray-project/ray/pull/30088

[2022-11-08 07:57] NKcqx opened #30089 "[Core] Reference leakage somewhere after ray.shutdown()"
### What happened + What you expected to happen

#### Background
I found this issue when trying to introduce `boost::flyweight` as an intern table to save memory footprint ([related PR](https://github.com/ray-project/ray/pull/28806/commits)). The `boost::flyweight` maintains a value pool so that creating a new instance with value `V` will firstly lookup the pool to reuse memory, and it also tracks

[2022-11-08 08:06] rakeshrm commented on #28103
Facing the same problem, do we have a workaround yet?

[2022-11-08 09:32] jbedorf opened #30091 "[Tune] The usage `tune.with_parameters` leads to unwanted data sharing and possible corrupted results"
### What happened + What you expected to happen

Using the `tune.with_parameters` [functionality](https://docs.ray.io/en/latest/tune/api_docs/trainable.html?#tune-with-parameters) results in that Trainables/runs have the risk of receiving the wrong data during launch and/or during restart when using a single Ray cluster. This leads to unexpected and possibly completely wrong results.

Imagine the

[2022-11-08 09:39] hbodory opened #30092 "Problems with launching a Ray cluster"
I created a virtual Windows Server 2019 machine and installed Python using the Anaconda distribution. On this machine made a new virtual environment and installed Ray 2.0.1 using the command pip install -U "ray[default]". Then I created 2 copies of this machine to ensure that all three servers have the same Python and Ray versions. I opend the ports 3389, 6379, 8265, 10000-10004 on all of the 3 vi

[2022-11-08 10:25] vakker commented on #29623
@gjoliver What do you think about this issue?

[2022-11-08 11:37] Tonyhao96 commented on #30012
I also meet the issue:

[code]

[2022-11-08 11:47] hellofinch opened #30094 "[Core] InfiniBand and RDMA support for Ray object store"
### Description

I use Ray in an HPC cluster. The cluster has InfiniBand which has low latency and high bandwidth.  Ray is based on gRPC and data transferring uses gRPC, too. I can use IPoIB(Internet Protocol over InfiniBand) in the cluster. In this way, I can not make full use of IB's bandwidth. It has the potential to get better performance.

### Use case

I want to help ray to support RDMA for

[2022-11-08 14:06] ericosmic commented on #26320
This is my error message:
<img width="1185" alt="image" src="https://user-images.githubusercontent.com/35327931/200585719-48238ee7-19f7-49d3-8379-318223a5f789.png">

[2022-11-08 16:44] jjyao commented on #29696
Yea 1024 is probably too low.

So from the log, gcs_server opens 14220 fds. Could you paste what those 14220 fds are? Are they sockets, files, etc?

[2022-11-08 16:46] xwjiang2010 commented on #30070
Assuming that we don't have any existing APIs, I prefer something very explicit like:
1. `session.report()` is only reporting metrics
2. `with session.checkpoint_dir(metrics) as checkpoint_dir` is only about reporting with a directory checkpoint. No separate call to `session.report` is needed. This is to avoid the confusion as Kai mentioned above.

These are my assumptions:
1. user wants to call r

[2022-11-08 17:15] #30078 closed

[2022-11-08 17:27] jiaodong commented on #30094
Hi @hellofinch thanks for bringing this up ! Yes it is one of the key missing piece in Ray to better support HPC workloads and current object store only uses ethernet for object transfer that is expected to be significantly slower.

Do you have a particular workload / use case in mind that drives the need for IB support ? We have been hearing similar asks from the community but haven't reached cri

[2022-11-08 17:32] jjyao commented on #30094
cc @cadedaniel

[2022-11-08 17:57] alanwguo opened #30097 "Observability Roadmap"
# Observability Roadmap
A huge part of being successful at developing applications on top of Ray is being able to successfully debug and optimize those applications. In order to do that, one must be able to understand the behavior of their ray applications so they can address any bugs or issues that break or slow their application. **The goal of our observability efforts is to provide all the info

[2022-11-08 18:02] clarkzinzow commented on #30060
Fixed by https://github.com/ray-project/ray/pull/30080

[2022-11-08 18:02] #30060 closed

[2022-11-08 18:23] krfricke commented on #30070
@xwjiang2010 just had a call about the topic.

TLDR: We 've converged on option 2. The main benefit over option 3 is that we don't want to re-introduce the implicit behavior of saving checkpoints with session.report (and not saving them without a call to `session.report`).

here are our discussion notes:

Discussion of proposals
- tempfile.TemporaryDirectory
  - If we manage checkpoint directories

[2022-11-08 18:32] Yard1 commented on #30070
I like 4, but 2 is second best for me!

[2022-11-08 18:40] bveeramani commented on #30082
Looks like this can an issue for `read_images`, too:

[code]

To confirm my understanding, is it the case that whenever `num_blocks = num_rows`, ragged schemas won't be inferred?

[2022-11-08 18:51] clarkzinzow commented on #30082
Correct, that will always be the case with the current schema fetching.

[2022-11-08 19:02] #29430 closed

[2022-11-08 19:16] cadedaniel commented on #29576
When I try to reproduce, it looks like SIGABRT is crashing the worker process. Once Ray figures this out (~30 seconds), Ray raises a `RayActorError`. So looks like this isn't actually an issue.. let me try to reproduce with a NCCL workload.

[code]

[2022-11-08 19:21] jiaodong opened #30102 "[Data] map_groups doesn't work with "numpy" batch format"
### What happened + What you expected to happen

Seems like dataset with groupby followed by map_groups cannot correctly produce arrow blocks and subsequent call with raw python dictionary fails due to invalid block type.

[code]

### Versions / Dependencies

master

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-11-08 19:27] jiaodong commented on #30102
Changing it to `batch_format="pyarrow"` works for me and here's legacy docstring

[code]

[2022-11-08 19:33] cadedaniel commented on #29576
Unexpectedly, the process stays alive for some time with status alternating between `D` and `R`. Not sure why it needs to go in `D`..
[code]

[2022-11-08 20:39] clarng commented on #30026
Close for now, will revisit better fix or clean up of the CI steps

[2022-11-08 20:39] clarng commented on #30087
Recovered on its own once the proper binaries are released

[2022-11-08 20:39] #30087 closed

[2022-11-08 20:39] #30026 closed

[2022-11-08 20:49] clarng opened #30105 "[ci] bk: book docs broken"
### What happened + What you expected to happen

<img width="1651" alt="Screen Shot 2022-11-08 at 12 48 24 PM" src="https://user-images.githubusercontent.com/22830327/200672257-05069ad1-cdcc-4c63-a066-8e15c5a7f1c0.png">

Seem related to https://buildkite.com/ray-project/oss-ci-build-branch/builds/974#01845884-9f2c-4cc5-a857-cb810a629d89

### Versions / Dependencies

master

### Reproduction script