[2020-12-21 03:35] #11985 closed

[2020-12-21 03:48] sumanthratna opened #13009 "[tune] sample_from validation fails with functools.partial and callables with kwargs"
CC @richardliaw

(labeling as bug because functools.partial and callables with kwargs should definitely be supported [IMO] and there's no indication in the docs that they don't work)

### What is the problem?
https://github.com/ray-project/ray/blob/4caa6c6d7806d1e406322bfb50fa01072f63985e/python/ray/tune/sample.py#L317-L320

In `tune.sample_from` we have a check to see if the passed callable has e

[2020-12-21 03:51] jac-z-uk commented on #12755
I checked all the worker files and no useful information there.  They all show : "Ray worker pid: xxxxx".  xxxxx is a different number in each worker file.

[2020-12-21 04:32] richardliaw commented on #12755
Ah, can you try updating to 1.2.0.dev0 too? Sorry, that is the latest version of Ray.

[2020-12-21 05:18] robertnishihara commented on #3116
Possibilities
- Make it a Python module (e.g., by creating a `setup.py` file) and install it on each machine.
- Put the file in the same location, e.g., `$HOME/model.py`, on each machine and then start the Ray driver from the same directory as `model.py` (so that `import model` works in Python in that directory).

[2020-12-21 06:57] #12494 closed

[2020-12-21 10:15] Chickenmarkus commented on #8152
Yes, it is.

[code]

Contrary, the cmdline works:

[code]

The version of ray inside the container is _1.0.1.post1_.

[2020-12-21 16:50] edoakes commented on #12221
FYI we are currently exposing this programmatically in the dashboard (`/api/cluster_status`), but it currently isn't advertised anywhere.

[2020-12-21 16:57] jac-z-uk commented on #12755
Ok thanks, I upgraded to 1.2.0.dev0 now, unfortunately I get the exact same error again.

[2020-12-21 18:27] AmeerHajAli opened #13015 "[autoscaler] make placement groups bypass upscaling speed limit."
Currently, placement groups do not bypass the upscaling speed limit, and hence upscaling will be gradual, we should make it happen instantly just like request_resources() and min_workers constraints.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.h

[2020-12-21 18:30] #12382 closed

[2020-12-21 18:56] barakmich commented on #12863
Closed with #12818

[2020-12-21 18:56] #12863 closed

[2020-12-21 18:58] barakmich commented on #12086
"get" and "wait" are fundamentally different, and #12818 covers the streaming part. Wait as a non-streaming call makes some sense as it's intended not to retrieve data but to schedule it to exist locally -- which follows as more of a unary RPC. Which it currently is!

[2020-12-21 18:58] #12086 closed

[2020-12-21 20:07] richardliaw commented on #12978
Can you isolate where it fails? i.e., add print statements in your environment creation code?

[2020-12-21 20:13] suquark commented on #11547
@richardliaw @pcmoritz I create an issue for the upstream: https://github.com/pitrou/pickle5-backport/issues/23. However, we should not expect this could be addressed soon (). If you think this problem is critical, I can come with a temporary fix first.

[2020-12-21 20:17] #11980 closed

[2020-12-21 21:02] ericl opened #13021 "[RFC] Deprecating and removing experimental.set_resource() API"
See: https://github.com/ray-project/ray/pull/13019

This API is currently planned for removal since it is buggy and not implemented in the new scheduler refactor. Please comment here if you have use cases that depend on the set resource API that cannot be ported to placement groups.

[2020-12-21 21:13] stephanie-wang commented on #13021
I'm using experimental.set_resource for a benchmark that tests Ray's recovery mechanism.

I'd prefer to use placement groups actually, but the current semantics are not sufficient. I use experimental resources for two reasons:
1. To place a set of parallel tasks at the beginning of the job, using a STRICT_SPREAD-like strategy.
2. Halfway during the job, my script kills and restarts one of the work

[2020-12-21 21:18] ericl commented on #13021
@rkooo567 is this the case? I think the doc should say "reschedule all lost bundles" right?

Maybe I'm missing something here, but is it possible to add the custom resource to the ray start flags? (or, can you use the existing `node_id:<ip>` resource?)

[2020-12-21 21:19] rkooo567 commented on #13021
Yes it is rescheduling the lost bundles. I will fix the doc if it wasn’t specified correctly

[2020-12-21 21:24] sven1977 commented on #12951
Could you provide a small, self-sufficient reproduction script?
Happy to install missing modules.

[2020-12-21 21:25] sven1977 commented on #12951
Also, please provide your ray/rllib and python versions and your OS.

[2020-12-21 22:22] stephanie-wang commented on #13021
Oh I see, maybe it's okay then :) I interpreted this quote from the docs to mean that it would reschedule all bundles:

[code]

[2020-12-22 00:09] alexvaca0 opened #13026 "KeyError when trying to use a trained PPO with LSTMs (defined in config) using Pytorch framework on same env as trained"
### What is the problem?

I've already trained an agent with PPO and a model with LSTMs with an environment, successfully. But when I try to test the trained agent loading it from the last checkpoint, it cannot take the first action, with a KeyError:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
System information:
- ray version: 1.0.1.post1
- Python

[2020-12-22 00:32] FKhadivpour commented on #12951
Hi, it is really easy to clone this [repo](https://github.com/HumanCompatibleAI/human_aware_rl) and run this [code](https://github.com/HumanCompatibleAI/human_aware_rl/blob/master/human_aware_rl/ppo/ppo_rllib_from_params_client.py) (human_aware_rl/ppo/ppo_rllib_from_params_client.py) to train a ppo agent. You just need to add these two lines:

`
"output": "logdir",
"output_compress_columns": ["obs

[2020-12-22 00:52] tylerkohn commented on #12920
unfortunately those logs were long gone.  I updated a number of the libraries (including ray - we were on 1.0.0).  I'm going to close this and open a new one if I run across this again.  thanks!

[2020-12-22 00:52] #12920 closed

[2020-12-22 02:16] yangysc commented on #12509
Hi, Eric @ericl, I want to report a bug in the example of the recurrent version of autoregressive_action_model. I think it's due to the new trajectory view api change. Could you take a look? I think this example is very interesting since you first mentioned it last year, and I don't know how to handle this bug now. I made a recurrent version of it, and it errors using the lastest rllib (1.2.0.dev0

[2020-12-22 04:36] rodorio commented on #12835
Hm so I got it to install but it wont run:

`Traceback (most recent call last):
  File "/home/pi/.pyenv/versions/3.6.12/bin/ray", line 5, in <module>
    from ray.scripts.scripts import main
  File "/home/pi/.pyenv/versions/3.6.12/lib/python3.6/site-packages/ray/__init__.py", line 61, in <module>
    CDLL(so_path, ctypes.RTLD_GLOBAL)
  File "/home/pi/.pyenv/versions/3.6.12/lib/python3.6/ctypes/__i

[2020-12-22 05:41] rodorio commented on #12835
Oh never mind, I got it working. Thanks @PidgeyBE!

Would you happen to have the py_spy installer foraarch64? I want to try to get that working as well.

[2020-12-22 06:51] raulchen commented on #12834
sounds good to me

[2020-12-22 07:38] kfstorm commented on #12834
The only concern I have is performance regression. We may need some tests.

[2020-12-22 07:43] chenhai1030 commented on #8033
I am facing the same issue.

[2020-12-22 08:13] chenhai1030 commented on #8033
run docker  using host network is a solution.

[2020-12-22 08:20] suquark commented on #11547
It looks like the maintainer of pickle5 would just freeze the code now, since python3.8/3.9 has enabled pickle protocol 5 support any way. We have to build wheels by ourselves.

[2020-12-22 08:26] 51616 commented on #13026
I have the same issue when using custom RNN model. Seems like some keys in `input_dict` (e.g., `prev_actions` and `prev_rewards`) are not present while doing the first foward pass.

[2020-12-22 08:35] richardliaw commented on #11547
Yeah, a temporary fix sounds great!

[2020-12-22 08:51] alexvaca0 commented on #13026
@51616 What was the last ray version your code worked with?? For the moment that can be a solution, until this issue is solved.

[2020-12-22 08:59] 51616 commented on #13026
@alexvaca0 I just upgraded directly to master from 0.8.5. I have no idea which one works apart from 0.8.5. But The APIs are changed a lot since then so you may have to fix a lot of your code just for it to work with the old ones. It could be a band-aid solution for now.

[2020-12-22 09:22] suquark commented on #11547
I just find a temporary fix like changing the path of our pickle5 build crashes numpy:

[code]

This is because numpy cares about pickle5 path...

so I think the only solution would be building and hosting pickle5 wheels by ourselves.

[2020-12-22 09:26] richardliaw commented on #11547
Hmmm, what if we just vendor our own copy of the files within Ray?

[2020-12-22 09:29] suquark commented on #11547
we are doing this now and

1. if the vendor provides a global import name `pickle5`, this fails any thirdparty libraries using cloudpickle. (the current issue)
2. if the vendor does not provide a global import name, this fails numpy (a temporary fix)
3. if we do not vendor it, users without a proper compilation environment would fail installing ray.

[2020-12-22 09:36] richardliaw commented on #11547
Hmm, why/where does numpy care about pickle5 path? I checked the source
just now but I couldn't find any pickle5 references.

On Tue, Dec 22, 2020 at 1:29 AM Siyuan (Ryans) Zhuang <
notifications@github.com> wrote:

[2020-12-22 09:36] #12300 closed

[2020-12-22 09:36] #12299 closed

[2020-12-22 09:38] PidgeyBE commented on #12835
@rodorio Py spy and ray for python 3.6, aarch64:
[ray1.0.1-cp36.zip](https://github.com/ray-project/ray/files/5728997/ray1.0.1-cp36.zip)
Haven't tested them myself, but will do later today

[2020-12-22 09:38] suquark commented on #11547
in `numpy/core/src/multiarray/methods.c`:

[code]

[2020-12-22 09:41] alexvaca0 commented on #13026
@deanwampler @rshin @ericl Please someone can take a look at this?

[2020-12-22 09:45] suquark commented on #11547
a hacky temporary solution would be:

1. vendor `pickle5` and hide it to prevent it been imported by joblib
2. during initializing ray, we temporarily add it to the python path, and we import numpy and serialize a temporary numpy array with pickle protocol 5, so numpy now could import pickle5. and we just hope whenever numpy tried to import pickle5 later, python interpreter would reuse the preimpo

[2020-12-22 09:53] 51616 commented on #13026
@alexvaca0 Actually, I manage to run a code similar to your example without the error. The return values from `compute_action` is a 3-tuple `(action, state, logit)`. You should use the `action` not the whole tuple in your example.
You should also try using `prev_reward` and `prev_action` as int and add `state` argument to the `compute_action` call without `full_fetch`.

[2020-12-22 10:30] alexvaca0 commented on #13026
Could you post a code example of how you'd add those parameters to the function call in agent.compute_action()? @51616

[2020-12-22 10:41] alexvaca0 commented on #13026
I'm trying this:

[code]

But gives the following error:

[code]

[2020-12-22 11:32] 51616 commented on #13026
[code]

[2020-12-22 11:38] kargarisaac opened #13037 "Using QMIX for multi-agent environments with sequential turns"
Hi,

I want to use qmix with DeepDrive-Zero [environment](https://github.com/deepdrive/deepdrive-zero). Agents in this environment don't act simultaneously, one agent at each time-step. I tested other single-agent RL methods like PPO and they work fine.
How can I use QMIX for this environment? Should I write a wrapper to convert it first to multi-agent RL and change `action_space` and `observation

[2020-12-22 12:23] alexvaca0 commented on #13026
Thanks you so much!! :) @51616

[2020-12-22 12:24] 51616 commented on #13026
I found a solution to my custom model too. Here what's needed for the model to use `prev_rewards` and `prev_actions` in forward call.

[code]

Taken from the default LSTM model in `recurrent_net.py`.

[2020-12-22 12:26] alexvaca0 commented on #13026
Yeah, I took a look at it too, but the thing is that internally, there should be some place where if PREV_ACTIONS or PREV_REWARDS is None, it's filled with 0s (the same with state). Actually, there might be somewhere in the trainer or somewhere else, where this is done for training, as training in my case worked properly.

[2020-12-22 13:05] rodorio commented on #12835
Really appreciate it @PidgeyBE, worked like a charm!

I'll play around wit it and let you know how it goes:

  Python 3.6.12 (default, Dec 21 2020, 06:39:15)
  [GCC 8.3.0] on linux
  Type "help", "copyright", "credits" or "license" for more information.

[2020-12-22 13:07] #12835 closed

[2020-12-22 13:08] yangysc commented on #12509
@sven1977 Hi, Sven,  may I bother you also  taking a look for this issue? It's basically a recurrent version of the autoregressive example. And it cannot work with the latest rllib (1.2.0.dev0). Thanks

[2020-12-22 14:26] sven1977 opened #13038 "[RLlib] TorchPolicies: Accessing "infos" dict in train_batch causes `TypeError`."
cwerner described this bug on the discuss.ray.io channel:

------

Hello,

I recently updated from rllib 0.8.6 to rllib 1.0.1 and also converted from TF to Torch. Previously, I was using the info dict from my custom environment to pass along values that I used in the postprocessing callback. However, now I don’t see the info key when I check the keys on the original batch (using original_batches[a

[2020-12-22 14:28] #12789 closed

[2020-12-22 14:32] sven1977 commented on #13038
Here is the PR that fixes this issue:
https://github.com/ray-project/ray/pull/13039

[2020-12-22 14:32] #13038 closed

[2020-12-22 15:28] 51616 commented on #12509
Is there a doc for the `trajectory_view_api`? I'm kinda confuse how to handle this at the moment.

[2020-12-22 17:57] FruechteBini commented on #12709
Hey Sven, thanks for your reply and sorry for the late answer.
Thanks for your list - i played around with these parameters but still cant get it to work.
Lets say i want one iteration of trainer.train() to run exactly one episode.

I have set:
- all horizon related parameters are left to default
- my env has a max_steps variable itself, after which i set dones_dict['__all__'] = True, this seems t

[2020-12-22 18:10] sumanthratna opened #13041 "[serve] Support deploying backends with Poetry env"
### Describe your feature request

Right now, we only have `CondaEnv`. We should add a `PoetryEnv` class so that users can use Poetry instead of Conda

https://github.com/ray-project/ray/blob/01faeabc17dc007f3781d11612fd5aa4dd558931/python/ray/serve/api.py#L323-L325

feel free to close if this isn't something worth implementing right now

[2020-12-22 18:11] sumanthratna opened #13042 "[serve] Support deploying backends with Pipenv env"
### Describe your feature request

Right now, we only have `CondaEnv`. We should add a `PipenvEnv` class so that users can use Pipenv instead of Conda

https://github.com/ray-project/ray/blob/01faeabc17dc007f3781d11612fd5aa4dd558931/python/ray/serve/api.py#L323-L325

feel free to close if this isn't something worth implementing right now

[2020-12-22 18:12] sumanthratna opened #13043 "[serve] Support deploying backends with venv env"
### Describe your feature request

Right now, we only have `CondaEnv`. We should add a `VenvEnv` class so that users can use Python's venv module instead of Conda

https://github.com/ray-project/ray/blob/01faeabc17dc007f3781d11612fd5aa4dd558931/python/ray/serve/api.py#L323-L325

feel free to close if this isn't something worth implementing right now

[2020-12-22 18:19] #9979 closed

[2020-12-22 18:52] valiantljk commented on #12018
I'm still experiencing the error, could you give a hint on how to fix it? and what's the cause? Thanks @rkooo567

[code]

[2020-12-22 18:54] amogkam commented on #12018
@valiantljk the message is being shown even though **no error actually occurs**. Since you are using ParallelIterators, it is safe to ignore this.

This is a bug on our end, and we will fix it shortly!

[2020-12-22 19:09] RaedShabbir commented on #11198
Hello,

Wanted to confirm if any fixes are coming for this soon, else I can submit a PR to convert from chunks to bytes depending on ray version

[2020-12-22 19:50] wuisawesome opened #13044 "[autoscaler][docker] num files ulimit extremely low"
### What is the problem?

When starting a new ray cluster, the ulimit inside the docker container is very low. This is a problem because our recommended `ulimit -n 65535; ray start --head ...` approach runs into a permission denied within docker.

The proper solution is to do `docker run --ulimit nofile=65535 ...`. The implementation here should mirror  #11953.

*Ray version and other system infor

[2020-12-22 19:51] wuisawesome opened #13045 "[docker][autoscaler] default nofile ulimit is extremely low"
### What is the problem?

When starting a new ray cluster, the ulimit inside the docker container is very low. This is a problem because our recommended `ulimit -n 65535; ray start --head ...` approach runs into a permission denied within docker.

The proper solution is to do `docker run --ulimit nofile=65535 ...`. The implementation here should mirror  #11953. A reasonable alternative would be to

[2020-12-22 20:06] simon-mo commented on #11198
Please feel free to submit a PR!

[2020-12-22 20:39] richardliaw commented on #11287
Seems like more and more users are requesting this :)

https://github.com/ray-project/tune-sklearn/issues/169

[2020-12-22 21:41] ijrsvt commented on #13045
It looks like (by default), Docker sets itself to use a `NOFILE = 1048576` at ([here](https://github.com/moby/moby/blob/46cdcd206c56172b95ba5c77b827a722dab426c5/contrib/init/sysvinit-debian/docker#L96), or [here](https://github.com/moby/moby/blob/d17cf2192c2cda0fa11040b8801a6407636072b8/contrib/init/systemd/docker.service#L15) or in previous versions of conatinerd's SystemD [configuration](https:/

[2020-12-22 22:38] acxz commented on #11287
At this point we do have both linux and mac wheels building just fine, only waiting on windows support.

[2020-12-22 23:00] wuisawesome commented on #11287
Though to be clear, we haven't run unit tests against the wheels right?

[2020-12-22 23:02] acxz commented on #11287
Doesn't the CI handle that?

Or it runs the unit tests on the source and builds the wheels, but it doesn't run the unit tests after installing the built wheels from the CI runs?

[2020-12-22 23:12] wuisawesome commented on #11287
The CI only runs `test_basic` against the wheels as a sanity check, since running all the tests every time is super expensive/takes a long time.

https://github.com/ray-project/ray/blob/b56db5a2/ci/travis/test-wheels.sh#L24

[2020-12-22 23:16] acxz commented on #11287
Ah so then how do we unit test the wheels before release then? Do you just download/install the wheels from the CI and run the unit tests on your local machine? If so do you want to give that a shot @wuisawesome ?

[2020-12-22 23:36] wuisawesome commented on #11287
Yeah, since we're going to need to call it experimental for now, I think it's sufficient to just manually test the wheels to have some degree of confidence that it is behaving the same on different python versions.

[2020-12-23 00:28] suquark commented on #11547
@pcmoritz @richardliaw I successfully build pickle5 wheels for all platforms: https://github.com/suquark/pickle5-backport/actions/runs/439212375. Do you have any ideas about how to install these wheels when users installing ray? I am currently thinking of creating a new pypi package (e.g. `pickle5-wheels`) and install pickle5 for users. This is like pillow for PIL. Do you think this is a good idea

[2020-12-23 00:35] simon-mo opened #13049 "[core] async actor's call after exit_actor behavior difference"
### What is the problem?

Script:
[code]

call it with `A = Sync`, the `shutdown.remote` should throw.
[code]

call it with `A = Async`, the `shutdown.remote` didn't throw and the subsequent call got propogated error that's hard to decipher:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet

[2020-12-23 00:56] coreylowman commented on #7023
For anyone in the future, this can be solved in this way (example shown for 2 policies in a given episode of an environment, but more than 2 policies in the multi_agent config):

[code]

Then the multi agent config would look like:
[code]

Each worker process will have a separate copy of the MatchMaker object, but will step through in the same order.

[2020-12-23 01:36] JianmingTONG commented on #9041
Hi, is there any progress on this problem?

[2020-12-23 02:45] zzchuman opened #13051 "[rllib] " can't pickle _LazyLoader objects""
Hello, I custom the centarlized critic model via PPO. And my version is: tf 2.0.0, ray 1.0.0, python 3.7.

But, it shows " can't pickle _LazyLoader objects"

![image](https://user-images.githubusercontent.com/38434094/102953259-d70f6800-450b-11eb-9efa-5240e57a8831.png)

I don't know what's wrong？

import argparse
from ray.rllib.models.modelv2 import ModelV2
from ray.rllib.agents.ppo.ppo_tf_policy

[2020-12-23 03:13] #12798 closed

[2020-12-23 03:13] #12799 closed

[2020-12-23 03:13] #12802 closed

[2020-12-23 03:13] #12880 closed

[2020-12-23 03:53] richardliaw commented on #11547
I am not sure. Will there be any impact to users?

[2020-12-23 04:07] yangysc opened #13053 "[rllib] TorchSquashedGaussian distribution: should the entropy and kl functions return scalar value per sample?"
### What is the problem?
In current latest code of TorchSquashedGaussian distribution ( and tf version) : should the entropy and kl function return scalar value per sample? For now, the current implementation seems to omit to sum in the last dimension

### Reproduction (REQUIRED)
Here are the codes for TorchSquashedGaussian and DiagGaussian. It seems we need to override the entropy and kl function

[2020-12-23 06:32] #8763 closed

[2020-12-23 06:38] chaokunyang opened #13055 "[Java] More strict java checkstyle"
### Describe your feature request
Current java checkstyle is not very strct, which may cause format inconsistency between developers. This is hard for core review and code merge.

We should add more strct checkstyle rule and reduce checkstyle rule suppressions, and then reformat code. And to make code format more consistent and easy to format, I suggest to use google java style for code format and

[2020-12-23 06:51] #12423 closed

[2020-12-23 06:51] #12983 closed

[2020-12-23 12:28] #9848 closed

[2020-12-23 14:35] messmor opened #13060 "Ray Tune Output on Spyder? View instead on Ray Tune Dashboard?"
When running ray tune in Spyder, the table of output data does not display. Instead, the ouput is:
```<IPython.core.display.HTML object>```
I've imported the IPython.core.display package, but this output persists. Is there a quick fix to get the output working correctly in spyder?

Also, if there is no fix, maybe the same output is displayed on Ray Dashboard? How does one find the Tune Log Directo

[2020-12-23 19:57] meshalawy commented on #10104
@snmhaines
Thanks for the workaround. Any ideas of an alternative when I can't have sudo access? Thanks in advance.

[2020-12-23 20:02] #12629 closed

[2020-12-23 21:49] enxtw1 commented on #12979
Thanks for responding!

Environment: Ray is latest via pip install in conda, Python 3.8, Win 10, no Tensorflow, no WSL
Workflow: 1) run CLI in conda env 2) import and init in python as per above  --> I had this working once but when I tried again I am then and still now getting the above error

[2020-12-23 22:57] #10041 closed

[2020-12-23 23:25] wuisawesome opened #13066 "[Docs] Package reference not showing parameters."
### What is the problem?

The Ray docs package reference is now showing `ray.init(*args, **kwargs)` instead of the full list of parameters. Links between master and the last release below.

This shouldn't necessarily block the 1.2.0 release, but we shouldn't update the latest/stable docs until we fix this.

Master: https://docs.ray.io/en/master/package-ref.html

Latest: https://docs.ray.io/en/late

[2020-12-24 00:34] sumanthratna commented on #13066
I haven't looked into this much but I think sphinx is confused by this decorator:
https://github.com/ray-project/ray/blob/c4e273920f517b18c99fbabca49135dd6e30e683/python/ray/_private/client_mode_hook.py#L35-L47
from c4e273920f517b18c99fbabca49135dd6e30e683

not really sure if there's a workaround... @richardliaw what docs-building package is used? e.g., sphinx, napoleon

[2020-12-24 03:09] #13066 closed

[2020-12-24 03:24] richardliaw commented on #13060
Can you try passing in a `CLIReporter` explicitly to tune.run?

[code]

[2020-12-24 04:27] #9862 closed

[2020-12-24 05:25] snmhaines commented on #10104
I don't know what you are trying to do, but my advice would be that if you do not have the Linux super-user access rights, then you should find someone who has to configure the system for you.

[2020-12-24 06:45] cedros23 commented on #8151
Hello, I am curious about the answer too.
As I now try to restore Apex-DQN agent, it appears that agent was initially restored successfully with the correct number of iteration and on par performance but immediately got worse after few iterations. Almost forgot all the skills it learnt.

[2020-12-24 07:00] cedros23 commented on #11359
Hi YuechengLiu,

How did you manage to save replay buffer eventually? Apex-dqn has default 4 asnyc replay buffers to my understanding, which would not be trivial to export during training.

Regards,

[2020-12-24 07:29] YuechengLiu commented on #11359
In my implementation, I only use 1 replay buffer (However, I think that it can be easily extended to the case which holds multiple replay buffers).  I have put some of the modified source code on [google Drive](https://drive.google.com/file/d/1vluNF15KuzF4lxLDcjzgml5Bpb4Tr4IB/view?usp=sharing), and my implementation is based on ray==0.8.6 (maybe 0.8.7, I forgot). Hope that this will help you.

[2020-12-24 09:41] cedros23 commented on #11359
That is excellent!

thanks for the help.

[2020-12-24 10:01] ava6969 opened #13071 "[RLlib] OpenAI Baselines subprocess equivalent"
rllib
### Describe your feature request
In OpenAI baselines i could easily create a vectorized environment that is stepped in parallel using their subproc module, I tried using the vectorized env with rllib but i only see 2 out my cpu is being used. iIdon't know if increasing n_workers in this case would help me accomplish it in this case, as i am currently using n_envs per workers and setting rem

[2020-12-24 11:37] barbetcalls commented on #8763
Could you find the reason for the increasing memory issue?

[2020-12-24 13:35] raphaelavalos opened #13075 "[RLlib] Bug when using RNNs, time_major and PyTorch"
Hello,
When using TrajectoryView the padding of the sequences doesn't take into account `time_major`. The padded sequences are then given to `add_time_dimension` which returns the wrong output if `time_major=True`.

What currently happens: [A, B, B, C] -> [A, P, B, B, C, P] -> [[A,P, B], [B,C,P]]
While it should be: [[A, B,C], [A,B,P]]

I have managed to fix it by reshaping it as if it were `time_

[2020-12-24 14:57] Vysybyl opened #13076 "Missing heartbeat and killing nodes when working with heavy objects in slow network environments"
### What is the problem?
My local node is missing heartbeat and getting killed when I try to run a task on a heavy object. The issue seems to be related with a slower network connection.

The code below is just to reproduce the issue

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.0.0 installed from pip on python 3.8.5 in a conda environment.
Xubuntu 20.

[2020-12-24 16:31] PidgeyBE commented on #13021
We use it for several purposes. Most of them can indeed be replaced with placement groups or be refactored out of our codebase.
The only one that can not be replaced AFAIK is:
* We set the GPU type as a custom resource on nodes, e.g. `GPU:GeForce RTX 2080 SUPER: 3`. Meanwhile the `accelerator_type:RTX` custom resource has been added by ray core, but it is less detailed.

[2020-12-24 16:39] PidgeyBE commented on #12128
Hey
I've made a few builds last week (see https://github.com/ray-project/ray/issues/12835) for ray 1.0.1:
* aarch64: https://github.com/ray-project/ray/files/5729517/ray-1.0.1-aarch64.zip
* arm7: https://github.com/ray-project/ray/files/5703429/ray_armv7l_32bit.zip

[2020-12-24 17:32] #12041 closed

[2020-12-24 17:36] PidgeyBE commented on #12128
* ray 1.1.0 aarch64: [ray-1.1.0-cp36-aarch64.zip](https://github.com/ray-project/ray/files/5740247/ray-1.1.0-cp36-aarch64.zip)

[2020-12-24 17:51] AlonMKovrr commented on #12205
I am experiencing something very similar, any news?

[2020-12-24 20:53] foice commented on #12128
Thnaks!  Does it mean it is on pip, or we are supposed to test it? In the latter case how to install it on my python setup?

[2020-12-24 21:09] xuanqing94 opened #13078 "[tune] Share dataset memory between workers?"
### Describe your feature request

Hi! I would like to thank the developers of ray, it saves me a lot of time writing the boilerplates for research.

One question though, can we share memory (for dataset) between workers in tune? For instance, some ML algorithm like gbdt requires in-memory full data (as opposed to minibatch SGD). My scenario is that the data requires 40G, and I have 8 GPUs but onl

[2020-12-24 22:10] suquark opened #13079 "[CI] Windows CI failure"
### What is the problem?

Many Windows CI tests fails with crazy messages like address violation for a while recently. Does anyone know what happen? (or it just because windows CI is very flaky now?)

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.h

[2020-12-24 22:10] PidgeyBE commented on #12128
@foice It is not published in the Pypi repository, I don't have access to that, I've just built the wheels myself. So you should download the zip, unzip it, and install the wheels via
[code]

[2020-12-24 22:38] richardliaw commented on #13078
Awesome to hear! Yeah, if you use `tune.with_parameters` to pass your data to your workers, you will automatically leverage Ray's shared memory object store per node.

[2020-12-25 00:31] roireshef commented on #12352
I'm closing this one, although I feel that this doesn't scale the way I expected, but I'll have to do some more tests and see if this is worth re-opening. Thanks for your help!

[2020-12-25 03:18] deetungsten commented on #12128
@PidgeyBE Would you happen to have a wheel for aarch64 + Python 3.8?

[2020-12-25 05:32] xuanqing94 commented on #13078
@richardliaw Thank you! that works.

[2020-12-25 05:32] #13078 closed

[2020-12-25 09:51] PidgeyBE commented on #12128
@deetungsten I've just compiled them for you, Merry Christmas!
 [ray-1.1.0-cp38-aarch64.zip](https://github.com/ray-project/ray/files/5741700/ray-1.1.0-cp38-aarch64.zip)
Let me know if it works! I've tested it locally in an emulator and it works...

[2020-12-25 19:11] #10098 closed

[2020-12-25 20:20] FormerLurker commented on #12128
Hey, thank you @PidgeyBE!!!  I buried under a mountain of end of the year work.  Today's the earliest I had a chance to look at this, so THANK YOU for saving me time and effort :)

[2020-12-25 22:21] deetungsten commented on #12128
@PidgeyBE WOW thank you so much! Ahah best Christmas gift ever! I will test it later tonight after all the Christmas activities. Merry Christmas!

[2020-12-26 01:42] jmrichardson opened #13084 "[Tune] Disable Checkpoints and avoiding checkpoint file clashes on Windows."
Hi, Is it possible to disable checkpointing?  Would like to prevent ray tune from saving state.  I have tried configure_logging=False in ray.init() as well as checkpoint_freq=0 in tune.run but didn't help.  Here is a snip of the errors I am getting:

`Trial Runner checkpointing failed: [WinError 183] Cannot create a file when that file already exists: 'C:\\Users\\john\\ray_results\\train_2020-12-2

[2020-12-26 02:42] signalprime commented on #9071
Thank you for sharing this, as I am facing the same challenge in recent days.

Ray version and other system information (Python version, TensorFlow version, OS):
Python 3.7.6, ray: 1.1.0, torch: 1.7.0a0+b7147fe, WSL Ubuntu 18.04.4 LTS

`RuntimeError: Expected hidden[0] size (1, 1, 128), got (1, 32, 128)`

[2020-12-26 04:48] #10033 closed

[2020-12-26 04:48] #10089 closed

[2020-12-26 04:48] #10095 closed

[2020-12-26 07:31] DonYum opened #13085 "[Core] `--port` doesn't work very well"
ray version: 1.0.1.post1/1.1.0
Python 3.8.3
CentOS 7

I use `--port=8380` to specify redis port, it always use 6379 again:

![image](https://user-images.githubusercontent.com/1471864/103145513-14c3f900-4777-11eb-89b2-e648c4628442.png)

Unless I use `--redis-shard-ports=xxx,xxx,xxx` to  specify redis shard ports.

In this case, if the automatic port allocation mechanism is used, should the port be

[2020-12-26 08:31] rkooo567 commented on #13085
Hmm this seems bad. Can you tell me the command that I can reproduce it?

[2020-12-26 08:39] DonYum commented on #13085
@rkooo567

- Make sure ray stop: `ray stop`
- Check ports: `netstat -tlnp | grep -E "6379|6380"`
- Start Ray: `ray start --head --port=6380`
- Check ports: `netstat -tlnp | grep -E "6379|6380"`
![image](https://user-images.githubusercontent.com/1471864/103148282-f2db6e00-4798-11eb-934f-1fbb300eab8b.png)

- Check process: `ps -aux | grep redis`

[2020-12-26 10:35] ErikEngerd commented on #3692
Still not working for me. Using ray 1.1.0

[code]
OS: centos 7
[code]

[2020-12-26 13:08] zzchuman commented on #12491
Thank you! I am sure that I am not use the smoothing!
I  use the independent PPO to control 9 agents.
So, I want to know that the episode reward mean is the mean value of multi agents per episode? right?

[2020-12-26 13:16] zzchuman commented on #12491
I am not define the metrics_smoothing_episodes.

# Wait for metric batches for at most this many seconds. Those that have not returned in time will be collected in the next train iteration.
 "collect_metrics_timeout": 180,
 # Smooth metrics over this many episodes.            "metrics_smoothing_episodes": 100,

So, it is  the default 100.
And, I want to know that  the episode reward mean is the me

[2020-12-26 14:54] #9904 closed

[2020-12-26 16:16] Johannes-Lange commented on #12128
Is it somehow possible to compile ray for arch64 + Python 3.9 for a M1 Mac? I have to decide if I go for Python 3.8 or 3.9, ray is the only missing piece for 3.9.

[2020-12-26 17:42] messmor commented on #13060
Yes, this works perfectly. Thank you!

[2020-12-26 17:42] #13060 closed

[2020-12-26 18:01] Marco-Macedo opened #13086 "[7/7] Starting the Ray runtime ISSUES"
Hello,
After the cluster configuration file(.yaml), we tried to lauch the cluster with the command ray up but he are having problems with the 7 step:

(.YAML FILE)
///////////////////////////////////////////////////////////////////////////////////////////////
[code]

And the error output is this:
[code]

[2020-12-26 19:42] mirekphd commented on #12653
Now (in `ray==1.1.0`) everything looks fine to me!:) We can safely close the issue IMO.

[code]

[2020-12-26 21:48] ghislainp commented on #8035
I'm also interested by this feature, to run remote functions from my laptop to a HPC cluster. I want to do this iteractively from a jupyter notebook. I don't have root access on the cluster, VPN is not an option.

I've already set up such a solution with dask.distributed. Two tunnels (one for the central scheduler and one for the dashboard) suffice to make it work. This is convenient but I wanted

[2020-12-27 00:18] deetungsten commented on #12128
@Johannes-Lange I hear your pain. I spent most of last night trying to compile Pytorch for 3.8 (there's only a 3.9 beta wheel)  and I couldn't get it to work because of clang issues. I thought about using tensorflow backend instead but it wouldn't work for some reason. The Apple Tensorflow version with the M1 GPU acceleration is 3.8 only. The M1 have been a viscous cycle of trying to make everythi

[2020-12-27 04:48] rodorio commented on #1222
Hello, I'm using ray version 1.0.1 on a raspberry pi and I'm trying to do something similar to what suquark mentioned above. Unfortunately the wrap_actor_handle function doesnt seem to be working:

AttributeError: module 'ray.actor' has no attribute 'wrap_actor_handle'

I'm trying to use a ray queue on the server to handle incoming requests from different clients. Once those requests are processed

[2020-12-27 07:19] rkooo567 commented on #12912
@ericl I believe it is done? Please reopen if not

[2020-12-27 07:19] #12912 closed

[2020-12-27 07:23] #11124 closed

[2020-12-27 07:24] rkooo567 commented on #11088
Not needed anymore

[2020-12-27 07:24] #11088 closed

[2020-12-27 10:28] #9926 closed

[2020-12-27 10:32] Johannes-Lange commented on #12128
@deetungsten pytorch runs quite nicely in my 3.9 environment, using the crosscompiled numpy from conda-forge.
The problem I am facing with ray is bazel for the building, all other dependencies do work.

[2020-12-27 11:06] PidgeyBE commented on #12128
@Johannes-Lange I'll try to build ray for python 3.9 and aarch64.
I can't give any guarantees though, because ray doesn't even have Python 3.9 support... Anyhow, I'll run our build scripts on this branch https://github.com/ray-project/ray/pull/12613 and see what comes out...

[2020-12-27 14:20] PidgeyBE commented on #12128
@Johannes-Lange  This version (ray 1.2.0dev0!) seems to work in my qemu/docker emulation env for aarch64/python3.9:
[ray-1.2.0.dev0-aarch64-cp39.zip](https://github.com/ray-project/ray/files/5744642/ray-1.2.0.dev0-aarch64-cp39.zip)
(the zip contains a py_spy wheel as well)

[2020-12-27 15:22] Johannes-Lange commented on #12128
@PidgeyBE works perfectly fine, you are the best!! Thanks a lot <3

[2020-12-27 16:42] #10136 closed

[2020-12-27 17:07] deetungsten commented on #12128
Both 3.8 and 3.9 wheels gets this issue `ERROR: py_spy-0.3.3-cp38-cp38-linux_aarch64.whl is not a supported wheel on this platform.` :(

[2020-12-27 17:09] Johannes-Lange commented on #12128
@deetungsten you have to change the name to "ray-1.2.0.dev0-cp39-cp39-macosx_11_0_arm64.whl" (maybe 11_1, has to be your os version), same for py-spy.

[2020-12-27 18:01] deetungsten commented on #12128
@Johannes-Lange Still no luck `ERROR: ray-1.2.0.dev0-cp39-cp39-macosx_11_1_arm64.whl is not a supported wheel on this platform.` I created this environment through `conda create -n NAME python=3.9`

[2020-12-27 18:03] deetungsten commented on #12128
@Johannes-Lange @PidgeyBE  IT WORKS!!! Thank you both so much! Interestingly, I never knew wheel names mattered. Is this only special to mac or is this the same for Linux too? Also, even though I have 11.1 as my OS version, 11_0 is what worked.

[2020-12-27 18:42] Johannes-Lange commented on #12128
@deetungsten afaik the name matters always. The installation worked, but I get an error when calling ray.init() because some files are an unknown format. Does it work for you? If yes, what is your configuration?

[2020-12-27 18:44] deetungsten commented on #12128
@Johannes-Lange I have issues too loading ray but with a different issue `OSError: dlopen(/Users/USERNNAME/miniforge3/envs/ENVNNAME/lib/python3.8/site-packages/ray/_raylet.so, 10): no suitable image found.` I'm running python 3.8 with conda, tensorflow + pytorch (nightly build).

[2020-12-27 19:47] Johannes-Lange commented on #12128
@deetungsten ok, I got the same error + some unknown file format stuff. So far it looks like a common mac error, maybe caused because the wheel is built for Linux. I will keep trying to build bazel for arm mac, then I could also build the ray wheel. If that works I’ll let you know, but I can’t promise anything.

[2020-12-27 20:46] rkooo567 commented on #13076
Do you mind trying setting up a lower nice value and see if this is still reproducible? (I'd like to know if the issue is due to system or code itself). https://www.tecmint.com/set-linux-process-priority-using-nice-and-renice-commands/

[2020-12-27 20:47] rkooo567 commented on #13076
Also, it'll be nice if you can get the traceback of the crashed process. Not sure if you can use this command for a crashed process, but you can try;

[code]

[2020-12-27 20:49] rkooo567 commented on #13076
And the most importantly, if you can find out a reproducible script, we are likely to fix the issue easily (though I am not sure how easy it will be to reproduce this).

[2020-12-27 20:51] rkooo567 commented on #13051
Can you try using the latest master and see if you can troubleshoot with this tool?

https://docs.ray.io/en/master/serialization.html#troubleshooting

[2020-12-27 20:59] rkooo567 commented on #13086
[code]
This seems to be the issue? Can you check if the user that runs ray up have the proper access to the python path `/usr/bin/python`?

[2020-12-27 21:02] rkooo567 commented on #12977
https://docs.google.com/document/d/167rnnDFIVRhHhK4mznEIemOtj63IOhtIPvSYaPgI4Fg/edit#heading=h.eg7m6lz2y48u

This document could be related

[2020-12-27 21:04] rkooo567 commented on #12870
Is it still the case after we introduce the infeasible tasks?

[2020-12-28 01:19] AmeerHajAli commented on #12221
@ericl @wuisawesome can we close this issue?

[2020-12-28 01:20] AmeerHajAli commented on #12138
@ericl @wuisawesome can we close this issue?

[2020-12-28 05:58] ericl commented on #13021
@PidgeyBE can you use static resources for that (pass --resources to ray start)?

cc @wuisawesome if we can get more detailed accelerator type, not sure if "RTX" was the intended detected gpu type here.

[2020-12-28 06:01] #12138 closed

[2020-12-28 06:02] wuisawesome commented on #12221
I'd call it 95% done since we don't have the per-file logging doen yet

[2020-12-28 06:03] wuisawesome commented on #12870
I think so because we special case the 1 cpu shape in the heartbeat: https://github.com/ray-project/ray/blob/master/src/ray/raylet/scheduling/cluster_task_manager.cc#L529

[2020-12-28 06:48] Legend94rz opened #13090 "[dashboard] `failed to connect to all addresses` in docker"
### What is the problem?
I run the example code from https://docs.ray.io/en/master/tune/examples/mnist_pytorch.html, then I get the following error:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

ray 1.1
python 3.7
tensorflow 2.2
pytorch 1.7
os: ubuntu 18.04
edit: os is in a docker.

### Reproduction (REQUIRED)
just run the example code: https://docs.

[2020-12-28 09:10] PidgeyBE commented on #13021
@ericl That's only possible if you know at deployment time what kind of GPU your worker is going to get. We have a few setups where that's not the case. Some customers have a PC with e.g. 1 strong/expensive GPU (for training ML models) and 1 cheaper (for doing inference). We use kubernetes and deploy 2 ray worker pods, 1 pod gets the expensive GPU, the other one the cheaper. But it's kubernetes th

[2020-12-28 12:39] joantunes commented on #13086
Hello, the root yes! But the user don´t!

[2020-12-28 12:45] joantunes commented on #13086
But not to python,  we are using Ubuntu 20 so python 3.8 is the one installed.

[2020-12-28 12:50] joantunes commented on #13086
ERROR LIST:
- psutil.AccessDenied  (pid=41369, name='raylet')
 -psutil.AccessDenied (pid=41368, name='plasma_store_server')
- due to psutil.AccessDenied(pid=41342, name='redis-server')
- psutil.AccessDenied (pid=41370, name='/usr/bin/python')

[2020-12-28 17:55] AmeerHajAli commented on #12137
Can we close this?
@ericl @wuisawesome

[2020-12-28 18:35] ericl commented on #13021
@PidgeyBE the startup script sounds like it should work. You can also add resources the `resources` field of the multi node type autoscaling config and those will be added automatically.

[2020-12-28 18:39] rkooo567 commented on #13090
cc @mfitton I think we should improve the error msg here.

This is streamed from the dashboard agent that it is failed to be connected to the node. It is possible that one of your nodes are crashed for some reason.

Can you run

[code]

and see what's printed after you see this error message?

[2020-12-28 19:50] ericl opened #13092 "Remove dynamic resources from Java API"
(from https://github.com/ray-project/ray/pull/13019)

[2020-12-28 20:17] wuisawesome commented on #12137
Yeah I think so.

[2020-12-28 20:17] #12137 closed

[2020-12-28 20:19] wuisawesome commented on #13015
This proposal seems clear to me, but can you provide some context around _why_ we would want to treat placement groups differently than other demands?

[2020-12-28 23:06] AmeerHajAli commented on #13015
@wuisawesome Tune and Serve asked it becomes instantaneous. Also, in its original design, it was supposed to be instantaneous.

[2020-12-28 23:30] blueplastic opened #13093 "[core] Object Spilling to disk throwing ObjectStoreFullError"
### What is the problem?

Ray version: 1.2.0.dev0
Python version: 3.7.8
OS: Debian GNU/Linux 10 (buster)

When I store a large object in memory, instead of it gracefully spilling to disk, I get a ObjectStoreFullError:

[code]

Also, perhaps related, after Ray successfully initializes, the Memory tab of the Dashboard is stuck on "Loading":
<img width="681" alt="Screen Shot 2020-12-28 at 3 20 42 PM"

[2020-12-28 23:34] #8351 closed

[2020-12-29 00:12] rkooo567 commented on #12995
Do you have a higher level (python) script that this can cause issues?

[2020-12-29 01:53] #12297 closed

[2020-12-29 02:30] Legend94rz commented on #13090
Thank you @rkooo567

I added
[code]
before `ray.run`, and the errorr still exists.

The output of `ray.nodes()` is:
[code]

I have seen an issue said similar failure with include_dashboard set to false, so is it related?

[2020-12-29 02:36] #13055 closed

[2020-12-29 02:56] #12104 closed

[2020-12-29 08:00] blueplastic opened #13100 "[core] Number of CPUs in ray.available_resources() does not match Dashboard's Machine View"
### What is the problem?

Ray version: 1.2.0.dev0
Python version: 3.7.8

On a 8-core machine, if I initialize Ray with `num_cpus=16` and then run `ray.available_resources()`, I see 16 CPU cores. However, in the Dashboard's Machine View tab, I only see 8 Python PIDs/cores.

I was confused about a couple of things here:
- Why does Ray allow being initialized with a higher number of CPUs than there a

[2020-12-29 14:41] #9918 closed

[2020-12-29 15:57] sven1977 commented on #12940
This is a float32 vs float64 problem. Your Space has a couple of float64 components in it, e.g. `auxiliary_resources_usage`, but the np.arrays in your sample seem to be float32 ones. Could you confirm that this would work if you either change your space to all float32 or your sample accordingly?
I admin that these mismatches should probably not throw an error, but just be translated into the right

[2020-12-29 15:59] sven1977 commented on #12861
Could you post a small self-sufficient reproduction script here that creates such a policy so I can debug this?

[2020-12-29 16:23] LukeAI commented on #12091
@ericl  am having the same problem with the example given https://docs.ray.io/en/master/tune/index.html
with latest ray[tune] installed from pip. don't think it's fixed.

[2020-12-29 16:24] acxz commented on #12861
I have posted my script under a drop down menu in the OP. Or would you like a more slimmed down one?

[2020-12-29 16:32] sven1977 commented on #12490
Hey @roireshef , sorry for the delays here. The documentation PR will go into another round of review today:
https://github.com/ray-project/ray/pull/12718

Again, not seeing the `info` dict in your loss function/postprocessing fn is simply a bug, which can be alleviated by running RLlib w/o the trajectory view API. In >=1.1.x, this should be fixed.

[2020-12-29 16:32] sumanthratna opened #13105 "[tune] New manual search API"
CC @richardliaw—brought this up to you over slack a while ago

this will allow terminal CLIs, web interfaces (e.g., page in Ray dashboard, standalone web interface), etc

### Proposal

#### Instantiating the searcher
[code]
#### Queuing trials
[code]
#### Starting the HTTP server
[code]
#### Closing the HTTP server
(only applies if server is started)
[code]

[2020-12-29 16:49] #12759 closed

[2020-12-29 17:52] simon-mo opened #13107 "[Serve] Handle shuffles all replicas first to avoid all sending to one replica"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-29 17:53] simon-mo opened #13108 "[Serve] Handle prefers replicas on the same node"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-29 17:58] simon-mo opened #13109 "[Serve] Handle adjust max concurrent queries based on replica's queue size"
### Describe your feature request
Right now all serve handle perceives themselves as exclusive senders of the replicas. This is fine in most cases because probabilistically the queries will be evenly distributed. But we should at least provide a way to monitor into the issue

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2020-12-29 17:58] #12653 closed

[2020-12-29 18:06] #13015 closed

[2020-12-29 18:07] acxz commented on #11287
@wuisawesome did you get a chance to test the wheels?

[2020-12-29 18:55] edoakes commented on #13044
duplicate of https://github.com/ray-project/ray/issues/13045

[2020-12-29 18:55] #13044 closed

[2020-12-29 19:02] wuisawesome commented on #11287
I haven't had a chance to test your branch yet, though I just copied your PR into a ray-project/ray branch, so the CI will build some authentic wheels we can use.

[2020-12-29 19:06] sumanthratna commented on #13041
completely untested:
[code]

[2020-12-29 19:18] ericl opened #13110 "[RFC] Auto update memory / object_store_memory resources"
Currently, the memory resources are reported as [reserved] / [total]. Users can request reservations via `@ray.remote(memory=xxx)` and so on. However, most users don't specify memory resources in decorators, hence memory is always reported as `0.0 / total`, which is quite confusing.

The proposal is to periodically measure the actual memory usage in the raylet, and set the memory resource availabi

[2020-12-30 00:23] signalprime commented on #9071
Is there a workaround to get the correct shape the first time around?

[2020-12-30 01:51] sven1977 commented on #9071
Strange, I'm getting a different error on your torch script, related to the states list being empty.
The reason is that A3C uses a buggy ValueFunction mixin, which assumes that no RNN is being used. I'll fix this now and re-try. ...

[2020-12-30 02:08] signalprime commented on #9071
Thanks for looking at this Sven.  My results are the same when using A3C/A2C.  If we change it over to PPO then we get the state shape error.

[2020-12-30 03:56] sven1977 commented on #9071
Ok, getting the same error now after having fixed these legacy A2C issues. ....

[2020-12-30 04:33] michaelzhiluo opened #13115 "[RLlib] SlateQ Missing Documentation and Benchmarks"
Currently, https://docs.ray.io/en/master/rllib-algorithms.html does not seem to have documentation/benchmarks for SlateQ, an algorithm in `rllib/agents`.

@desktable Thanks for your tremendous contribution to RLlib! Would you have time this month to add such documentation for your SlateQ algorithm? If you're busy, I can take a shot at it.

[2020-12-30 04:35] ericl commented on #13093
Could the object be larger than total available memory on the node? Ray doesn't support single objects that are too large, since the object is materialized in memory entirely on initial creation.

Btw just curious, do you have a use case for a single large object that cannot fit in memory?

[2020-12-30 05:24] LianShuaiLong commented on #12981
I just found out that it occurs due to my large evaluation set, not bug of Ray

[2020-12-30 05:24] #12981 closed

[2020-12-30 06:46] Dias2019 commented on #12481
so did you found the solution for the above problem?

[2020-12-30 07:03] sivarajendranaidu opened #13116 "[kubernetes] Issue in running the ray job in K8S ray cluster"
I had created a ray cluster with head and worker pods.
[code]
I had created a job as per documentation
`kubectl create -f ray/doc/kubernetes/ray-job.yaml
`
Trying to run the Job [provided in https://github.com/ray-project/ray/blob/master/doc/kubernetes/ray-job.yaml] Job is running into error
[code]
Checking the logs
[code]

With reference to comments in the current I pointed to https://raw.githubu

[2020-12-30 12:19] krfricke commented on #12205
I'm working on providing a minimal reproducible script for this (hopefully early next year). Can you elaborate where you encountered these issues @AlonMKovrr?

[2020-12-30 12:53] TekpreXyz commented on #9114
ok so Render via Ray dashboard don't work on Windows 10
there are any other way to see the process working?

[2020-12-30 15:32] sven1977 commented on #13053
Yeah, this seems to be a bug. We probably never noticed this as we only use this distribution in SAC right now, where we don't need the `entropy` or `kl` methods. Will fix ...

[2020-12-30 15:33] sven1977 commented on #13053
Thanks for filing this @yangysc !

[2020-12-30 16:15] sven1977 commented on #13071
Can you try the `remote_worker_envs=True` setting in your config. This should parallelize vectorized envs via ray.

[2020-12-30 16:17] #13071 closed

[2020-12-30 17:28] blueplastic commented on #13093
Eric, you're correct that the object was larger than available memory.

I was able to place smaller np arrays in memory, the error only occurs if my array size is larger than the object store's memory.

I don't have a use case for caching very large objects, but I incorrectly assumed that the object would partially spill to disk like on Spark.

Also, I noticed that I can create and work with absur

[2020-12-30 17:28] #13093 closed

[2020-12-30 20:19] #12938 closed

[2020-12-30 20:45] AlonMKovrr commented on #12205
Well we actually changed a lot of our code since then,
I think something similar happened also when i had pods crashing when they were out of memory

[2020-12-30 22:08] alifaki077 opened #13122 "dashboard crashes on KeyboardInterrupt with gRPC error "Deadline Exceeded""
### What is the problem?

So as the title says, when I press Ctrl + C to stop a running program the dashboard crashes with the following error in dashboard.err

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray 0.8.7
Python 3.7.7
The code is running in a local cluster inside docker

### Reproduction (REQUIRED)

[code]

and here's cluster config

[cod

[2020-12-30 22:43] ericl commented on #11904
It seems this is already the case. The raylet internally collects stats from all nodes, so sending a request to any node will do.

[2020-12-30 22:43] #11904 closed

[2020-12-30 23:16] sven1977 commented on #13053
The problem with SquashedGaussian is that there is no analytical entropy term to evaluate. Instead, one would have to sample n times from the distribution and then take the mean neg log likelihood as an entropy estimate.
We should probably raise an error when entropy or kl are called on this distribution.

[2020-12-30 23:30] #6256 closed

[2020-12-30 23:36] sven1977 commented on #13053
PR: https://github.com/ray-project/ray/pull/13126

Btw, if you would like to use a bounded distribution for e.g. PPO, you can use the Beta distributions instead, which do have kl and entropy methods.

[2020-12-30 23:42] robertnishihara commented on #13110
@ericl can you clarify what you mean by "reported"? Are you talking about what is shown in the dashboard? Or what is sent in heartbeats?

[2020-12-31 00:05] alanwguo opened #13128 "In ray 1.1.0, "pull_before_run" must be True when using docker"
### What is the problem?
There seems to be a new "docker inspect" step in ray 1.1.0 which fails if `pull_before_run` isn't set to True.

*Ray version and other system information (Python version, TensorFlow version, OS):*
python: 3.7
ray: 1.1.0
OS: mac

### Reproduction (REQUIRED)
Take the AWS example-full cluster config but set docker.pull_before_run to false.
Try to start a cluster.

You should

[2020-12-31 00:06] yangysc commented on #13053
Thanks, @sven1977 ~    I was trying using recurrent PPO for continuous action space, since SAC does not have the recurrent policy. So I tried using squashedgaussian instead of diaggaussion, hoping for better performance. Thanks for your advice, I'll try the Beta distribution.

[2020-12-31 00:14] ericl commented on #13110
Both: dashboards, local scheduler, and in heartbeats. It would be at the granularity of nodes (you would roll-up memory usage of all workers).

[2020-12-31 00:15] #13053 closed

[2020-12-31 00:37] robertnishihara commented on #13110
And can you say how this reported memory would be used in scheduling decisions? I see how it could be taken into account when assigning a task to a node. What effect would it have in the single-node case? E.g., if you have a machine with 10GB memory. There is a pending task that requests 5GB memory. There is one running task that didn't reserve any memory, but is using 8GB memory. Would the pendin

[2020-12-31 00:45] mfitton commented on #13090
Going to take a look at this now and report back.

[2020-12-31 00:48] ericl commented on #13110
It wouldn't get scheduled, because if it did the node would run out of
memory.

On Wed, Dec 30, 2020, 4:37 PM Robert Nishihara <notifications@github.com>
wrote:

[2020-12-31 01:07] DmitriGekhtman commented on #13116
Thanks for posting this bug.
I've addressed the problem in the above pull request.

While we wait for the pull request to be merged, you can try running the examples again with the updated configs --
New cluster config:  https://github.com/DmitriGekhtman/ray/blob/dmitri/k8s-job-doc-fix/doc/kubernetes/ray-cluster.yaml
New job config: https://github.com/DmitriGekhtman/ray/blob/dmitri/k8s-job-doc-fix

[2020-12-31 01:13] desktable commented on #13115
Hi Michael - You are welcome! Unfortunately I do not have time to write
documentation this month. Would be happy to answer any questions via slack!

On Tue, Dec 29, 2020 at 8:33 PM Michael Luo <notifications@github.com>
wrote:

[2020-12-31 01:52] pcmoritz commented on #13110
I think this is a good idea.

This would be (mostly) backwards compatible since a task with requirement memory=0.0 would get scheduled even if there is no available memory, right?

So in the common case where every task has memory=0.0 requirement, this just increases clarity for the user.

[2020-12-31 10:28] cedros23 opened #13132 "[rllib] high temporal difference error after restoring checkpoint - APEX-DQN/Torch"
### What is the problem?
Hello,

I have a custom env, a custom model setup that I train with Apex-DQN. I use tune.run and regularly save checkpoints (eg. 10 iterations). When I want to restore agent from a checkpoint by rollout, agent performs as expected with the high reward that matches with the checkpoint.

However, if I try to resume training, there is strange behavior. For the 1st iteration,

[2020-12-31 12:40] FruechteBini opened #13133 "[rllib] Evaluate 2 restored Trainers in parallel in one multi-agent-env"
Hello guys,

I trained two agents A and B in different scenarios and want to evaluate their behaviour in my multi-agent env, i saved checkpoints using trainer.save()

Is it possible to evaluate those 2 agents/trainers in the same environment? like this (pseudocode):

[code]

where trainerA and trainerB run in parallel (share the same env, step() and reset() at the same time), so more like:
[code]

[2020-12-31 14:39] FruechteBini commented on #13133
To maybe make this a bit clearer of what i want to do:

I have protagonists and antagonists. I have multiple setups where e.g.

-  Scenario A: 1 protagonist competes vs. 1 antagonist (scenario A),
-  Scenario B: 1 protagonist vs 2 antagonists (scenario B),
-  Scenario C: 2 protagonists vs 2 antagonists (scenario C)
- etc.

I saved every scenario with trainer.save() and the agents have IDs named "p

[2020-12-31 14:59] DonYum opened #13135 "[Ray] Disk loading Too High"
Ray: 1.1.0
Python: 3.7.6
Ubuntu20 in Docker

I'm using ray cluster which has 1 Head with 2 workers in separated nodes. However I had a very strange problem.
When I use ActorPool to distribute the tasks, By chance, `the server node will hang` and `disk loading is Very high(Write up to 150MBps!!!)`.
![image](https://user-images.githubusercontent.com/1471864/103414931-f026b180-4bba-11eb-8187-92b03972

[2020-12-31 15:15] #8648 closed

[2020-12-31 16:27] AmeerHajAli opened #13137 "[docker] the default docker directory should be $HOME and not /"
When running `ray attach cluster.yaml` the default docker image leads to `/` instead of $HOME. This makes every following command require sudo permissions.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

[2020-12-31 16:54] #12947 closed

[2020-12-31 18:21] mfitton commented on #13090
@Legend94rz just want to confirm, you're running on Ray version `1.1.0` not Ray version `1.0.1`, is that correct? I ask because the line of code for the error you're seeing doesn't line up with that line of code in version `1.1.0` as far as I'm seeing.

Also, can I ask how you launched these nodes? Was it manual, or are you using the Ray cluster launcher? I ask because the cluster launcher sets up

[2020-12-31 19:43] #12329 closed

[2020-12-31 20:12] ericl opened #13141 "[RFC] Piping important autoscaler events to driver logs"
While https://github.com/ray-project/ray/issues/12221 provides users a way to inspect the current autoscaler status, it is still difficult to understand how autoscaling interacts with a running application. One way of solving this is to pipe important autoscaler events to the the driver logs. This includes:
- Scale up / down events.
- Failure events.

my_app.py:
[code]

[code]

Implementation wise

[2020-12-31 20:14] richardliaw commented on #13141
Nice, this is a good idea; any ideas about how you could toggle it?

[2020-12-31 20:14] ericl commented on #13141
Hmm, ideally we'd design it so the user doesn't feel like they need to toggle it. For example, throttling the events to avoid spam and being careful to combine multiple events into a single update.

[2020-12-31 20:59] mfitton commented on #13090
@Legend94rz I tried to recreate the error, using https://gist.github.com/6f46ee557b2629b6f4e9fe94c4ff201c this cluster YAML file to launch the node and then calling `ray submit` on the repro script you provided, and I didn't see any errors. I'd appreciate any additional information you can get me to help reproduce.

[2020-12-31 21:09] ericl commented on #11372
Is this fixed?

[2020-12-31 21:40] ericl commented on #13110
Yeah, it shouldn't affect scheduling at all unless you're setting the resource annotations explicitly already. I did a bit more investigation and there are a couple open questions that may be important:

for `memory`:
- do we count the memory of idle workers? If not, will this pose any stability issues if idle workers leak memory?

for `object_store_memory`:
- how do we handle scheduling in the ca

[2020-12-31 22:25] #13116 closed

[2020-12-31 22:37] sahewat opened #13144 "RAY_PDB toggle causes actor died message"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS): **Python 3.7, ray 1.2 nightly (have also reproduced w/ same issue on 1.1 release)**

@richardliaw I have ray set up on a GCP cluster using the instructions provided in the latest docs.
I’m having problems with ray SGD dying after throwing the error:
[code]
ray.exceptions.RayActorError: The

[2020-12-31 22:59] ericl opened #13145 "Documentation for Ray client"

[2020-12-31 23:00] ericl opened #13146 "Move Ray client out of experimental"
- Move client code into ray/util
- Add integration with `ray.init(address=[nonlocal addr])` (?)
- Auto start server with an option to ray start?

[2020-12-31 23:01] ericl opened #13147 "Support placement groups in Ray client"

[2020-12-31 23:02] richardliaw commented on #13144
@sahewat can you quickly measure roughly how often RAY_PDB=1 fails vs RAY_PDB=0 fails?

[2020-12-31 23:33] #10881 closed

[2020-12-31 23:33] #10883 closed

[2021-01-01 00:19] ijrsvt commented on #12630
One other solution is to move away from `-a` (or add `--no-o` to remove owners or similar).

[2021-01-01 09:39] DonYum opened #13148 "[Ray] What's the Idle Acor for?"
Ray: 1.1.0
Python: 3.7.6
Ubuntu20 in Docker

I'm using ray cluster which has 1 Head with 2 workers in separated nodes. Total CPU num is 16*3=48, and I start 42 Actors to a ActorPool: `pool = ActorPool([SelfDefActor.remote(buf) for _ in range(CPU_NUM-6)])`

However, When I use `pool.map()` to start actors, I saw 53 workers in Ray board, And some of them are IDEL status:

![image](https://user-image

[2021-01-01 15:19] AmeerHajAli commented on #11372
I am not sure I understand the issue here.
@wuisawesome

[2021-01-01 18:50] #13144 closed

[2021-01-01 19:14] richardrl commented on #9202
@richardliaw I am on 1.2.0dev0 and still experience this issue with invalid device ordinal. I am giving each trial 2 GPUs on a 4 GPU system, and using this code to set the GPUs:

[code]

[2021-01-01 19:21] richardrl commented on #5737
But this is not a solution right? Because for model parallelism, we specifically want to split the model onto different GPUs

[2021-01-01 20:21] richardrl opened #13149 "[Tune] RuntimeError: CUDA error: invalid device ordinal"
Ray version 1.2.0.dev0

Error:
`RuntimeError: CUDA error: invalid device ordinal`

Running on AWS server with 4 GPUs (instance type p3.8xlarge)

Fails on this code block:
[code]

YAML:
[code]

[2021-01-01 20:21] richardrl commented on #13149
@richardliaw

[2021-01-01 21:12] amogkam commented on #13149
@richardrl could you post the full code and the full stack trace please. Thanks.

[2021-01-01 21:15] #10198 closed

[2021-01-02 00:01] #10231 closed

[2021-01-02 04:06] rightx2 commented on #9653
This happened again even though I set `initial_workers: 3...

[2021-01-02 11:24] #10239 closed

[2021-01-02 11:40] roireshef commented on #12352
This issue isn't resolved, but rather minimized to some degree - previously I was experiencing the slowdowns when scheduling 4 or more trials (each one assigned to a full and single node in the cluster, 32 cores) after 5-6 hours of training. Now it seems like that for 4-8 nodes the slowdowns are minimized to the point they aren't a real issue anymore (although they still exist to some lower degree

[2021-01-02 11:43] roireshef commented on #12352
![Screenshot from 2021-01-02 13-40-55](https://user-images.githubusercontent.com/28055761/103456612-5e28c100-4d00-11eb-954c-8c19c2deed38.png)

![Screenshot from 2021-01-02 13-43-12](https://user-images.githubusercontent.com/28055761/103456616-7d275300-4d00-11eb-9b27-fc567403c956.png)

[2021-01-02 13:39] Legend94rz commented on #13090
@mfitton I have checked the ray version is `1.1.0`.

This node (a virtual machine) managed by my company. The node located in a LAN and it cannot access Internet in general, except using proxy by setting `http_proxy` and `https_proxy` env parameters. Besides, most of the ports of the node are closed for security, and I have no permission to open it in general, but I don't think this has anything t

[2021-01-02 14:45] Francesco-Sovrano commented on #7853
Dear,

the bug is hard to reproduce because it is caused by numerical issues that happen only when the underlying neural network learns parameters that are too big for a DiagGaussian action distribution. More precisely, if you go at line 227 of  rllib/models/tf/tf_action_dist.py you can see that if log_std is too big (es. > 64) then the predicted action will be a NaN. What is missing is the follow

[2021-01-02 15:37] rightx2 commented on #9653
Why is it so?

[2021-01-02 18:26] andrew-rosenfeld-ts opened #13153 "[tune] tune.run uses methods that are not in ProgressReporter"
### What is the problem?

While the [docs](https://docs.ray.io/en/master/tune/api_docs/reporters.html) say you can write your own custom `ProgressReporter`, `tune.run()` calls methods that are not in `ProgressReporter`.

I'm not sure what should change - either `ProgressReporter` needs these methods, or `tune.run() `shouldn't expect them to be there.

This happens with Ray 1.2 nightly as of 2021-0

[2021-01-02 18:50] cedros23 commented on #13132
Hi again,

I believe that the issue would be reproduced with the following simple test script:

`if __name__ == "__main__":

    ray.init()
    experiment_analysis = tune.run(
        "APEX",
        stop={
            "training_iteration": 6,
        },
        config={
            "env": "CartPole-v0",
            "num_envs_per_worker": 1,
            "num_workers": 8,
            "framework": "

[2021-01-02 19:05] #8262 closed

[2021-01-02 19:45] sumanthratna commented on #13153
Hi @andrew-rosenfeld-ts, I think you should be subclassing `TuneReporterBase` and not `ProgressReporter`. Can you try that let me know if it works? If so, we'll update the docs. Thanks!

[2021-01-03 03:58] #10260 closed

[2021-01-03 14:48] sivarajendranaidu commented on #13116
Thanks a lot current fix in master worked

[2021-01-03 18:11] waldroje opened #13159 "[ray] ActorPool fails with Actor method that has num_returns>1"
### What is the problem?
Was trying to use ActorPool with example code from the documentation, but it fails for Actor methods with num_returns>1, and returns message `unhashable type: 'list'`

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray 1.0.1, Python 3.7.7, TF 2.2, RHEL 7.7

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50

[2021-01-03 19:36] saeid93 commented on #12940
Yes, that solved the problem. Thank you!

[2021-01-03 19:36] #12940 closed

[2021-01-03 20:30] trunghlt opened #13160 "[Ray] Raylet crashes due to overloaded, is that possible for it to auto-restart on crashes?"
### What is the problem?

*Ray version: 1.1.0*

We are using Ray for running multiple tasks at different times. When a raylet crashes due to overloaded, is it possible to make it auto-restart so the next tasks don't result in error?

[2021-01-04 05:57] #13092 closed

[2021-01-04 06:46] #10267 closed

[2021-01-04 08:46] WangTaoTheTonic opened #13166 "[RFC]: Support using external redis"
RFC Doc: https://docs.google.com/document/d/1hM6w4FYhfZVOP_CrWY9PNNPDuW_qe5SgPbCIQt3t_M8/edit#heading=h.luwkx6tnsocp

Comments on RFC Doc:
- check redis_max_memory
- add limitation that user should ensure the external redis is empty (clean and not used)
- throw exceptions if the external redis is not empty
- use a more general name like `--external-addresses`

### Describe your feature request

Cu

[2021-01-04 11:01] andrew-rosenfeld-ts commented on #13153
Hi @sumanthratna , that "works" in the sense that it runs properly, but I don't think it's the right decision from a design perspective. `TuneReporterBase` imposes a fairly particular structure that people might not want to inherit, and then `ProgressReporter` would also not really serve a purpose. I think the solution is probably changing the usage in `tune.run()` (or maybe adding these methods t

[2021-01-04 11:02] PidgeyBE opened #13168 "[core] RAY_HOME path is hardcoded"
### What is the problem?
* ray 1.0.0+

### Reproduction (REQUIRED)
https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/_private/constants.py#L50
This path is hardcoded, which causes issues if your home directory is not `/home/ray`.
It would be nice if it could be set via an environment variable.

If the code snippet cannot be run by itself, the issue will be closed with "needs-rep

[2021-01-04 12:30] krfricke commented on #12213
Here is a simple reproduction script. I run it on a cluster of about 200 workers (see cluster yaml).

Usage: `python launch.py`, do this several times (I use `for i in {0..30}; do python launch.py; done`). The error doesn't always come up, but once it comes up, it comes up every time I launch the script again.

Sometimes I was able to run the `launch.py` dozens of times without errors, but errors

[2021-01-04 12:55] krfricke commented on #13009
Let's use `sig.bind()` for this as we do for `detect_checkpoint_func` and alike. That way we stay very flexible and still support all kinds of callables.

I pushed a small PR for this, would be great to get your feedback on it.

[2021-01-04 12:58] krfricke commented on #12717
Closing because of inactivity - please feel free to reopen if this issue is not related to PBT or if you think we should introduce more thorough checks for this in PBT (in that case, please start a discussion on https://discuss.ray.io/ so others are encouraged to join in the discussion).

[2021-01-04 12:58] #12717 closed

[2021-01-04 13:47] krfricke commented on #8165
I'll close this issue for now, please re-open or open a new issue if your use case is not covered by the PRs.

[2021-01-04 13:47] #8165 closed

[2021-01-04 14:24] krfricke commented on #9922
Solved by https://github.com/ray-project/ray/pull/12790

[2021-01-04 14:24] #9922 closed

[2021-01-04 14:36] TanjaBayer opened #13172 "[serve] methode_name passed to handle.options seem to be ignored"
### What is the problem?
After upgrading to ray 1.1.0 `method_name` passed to options seems to be ignored, instead the function which is called first is called on each call afterwards

Ray version: Version: 1.1.0
Python version: 3.7

### Reproduction (REQUIRED)
[code]

## Expected Output (Ray 1.0.1)
[code]

### After upgrading to 1.1.0

[code]
If the code snippet cannot be run by itself, the issue

[2021-01-04 14:36] TanjaBayer commented on #13172
Closing it because it seems already be fixed with latest nightly

[2021-01-04 14:36] #13172 closed

[2021-01-04 15:05] sumanthratna commented on #13153
this makes sense; thoughts @richardliaw?

[2021-01-04 15:31] krfricke commented on #3466
The main problem why we currently don't support this is that we currently require to know the number of samples in advance. However, with dependent grid search spaces, the number of grid search elements can vary. Even if we introduce a method to specify the number of elements and fix it, resolving the grid search variables would required some significant overhaul of our current search space resolu

[2021-01-04 17:49] #12813 closed

[2021-01-04 18:01] rkooo567 commented on #13148
IDLE actors mean that the given actor is not executing any actor methods.

[2021-01-04 18:01] #13148 closed

[2021-01-04 18:03] rkooo567 commented on #13135
Is there any way to reproduce this issue? (Maybe you can provide the docker image)?

Also, can you see which folder causes high disk usage?

[2021-01-04 18:03] rkooo567 commented on #13122
cc @mfitton

I think we should add a shutdown logic to cancel all outgoing grpc requests or sth

[2021-01-04 18:09] rkooo567 commented on #13100
Ray's resources (cpu, memory) is just used as bookkeeping values for scheduling. I believe we don't have any constrain in these values unless it crashes Ray (e.g., too low memory constraint can crash ray).

@mfitton I think we should show 16 workers / 16 cores since num_cpus=16. Can you help isolating if the issue is from the dashboard or the core ray?

[2021-01-04 18:15] rkooo567 commented on #13085
Will take a look at it soon.

[2021-01-04 18:16] rkooo567 commented on #13076
Let me know after you tried the suggestions I mentioned above. I will get back to you after that.

[2021-01-04 18:16] rkooo567 commented on #13160
@ericl Isn't it already supposed to be auto-started?

[2021-01-04 18:17] rkooo567 commented on #13168
cc @ijrsvt

[2021-01-04 18:30] mfitton commented on #13100
Hm, yeah, I can take a look. The dashboard gets its information about the number of available cores from psutil, not from Ray's `available_resources`. That said, I'm not exactly sure the behavior if Ray has 16 workers and 8 cores. The dashboard might only display workers for which there is a currently executing PID. Let me dig in a bit more and get back with more information.

[2021-01-04 18:34] mfitton commented on #13100
This function from `datacenter.py` explains why only 8 workers would be shown. We only add workers listed in the `CoreWorkerStats` to the API payload if the CoreWorkerStats has a corresponding physical worker process.

I'll look into behavior of number of cores next.

Function for reference:
[code]

[2021-01-04 18:41] ericl commented on #13160
The AutoScaler already restarts it. This issue isn't well specified so I'm going to close it.

[2021-01-04 18:41] #13160 closed

[2021-01-04 18:42] mfitton commented on #13100
Yep, the CPUs in the dashboard per-node are also as reported by `psutil`, not based on the resources that Ray has in its scheduler. This explains why 8 CPUs are reported even though Ray was initialized with 16 CPUs, because there are 8 CPUs on the node.

This is recorded in the `reporter_agent`: https://github.com/ray-project/ray/blob/master/dashboard/modules/reporter/reporter_agent.py#L66

[2021-01-04 18:44] ericl commented on #12213
This is probably the file descriptor limit bug again. Can you try
increasing the ulimit as a workaround?

On Mon, Jan 4, 2021, 4:30 AM Kai Fricke <notifications@github.com> wrote:

[2021-01-04 20:44] edoakes commented on #12284
@ijrsvt closing, can you update the other relevant issues?

[2021-01-04 20:44] #12284 closed

[2021-01-04 22:34] wuisawesome commented on #13141
Can we just treat `montor.err` like `raylet.err`? i.e. `logger.warning("foo")` -> `monitor.err`, `logger.error("foo")` -> `monitor.out`.

[2021-01-04 22:55] DoxakisCh opened #13177 "[rllib] Compute actions with AlphaZero algorithm"
Hi,

After the training of an AlphaZero trainer in a environment i have tried to load it and evaluate it but when i use the compute_action command in order to compute the action based on the current observation i get the following error:

Traceback (most recent call last):
  File "C:/#######################/rllib/AlphaZero_Trainer.py", line 99, in <module>
    action = alphazero_trainer.compute_ac

[2021-01-04 23:47] ericl commented on #13141
One difference here is we want to surface important events that aren't
necessarily errors to the user as well, to provide better feedback about
system behavior.

On Mon, Jan 4, 2021, 2:35 PM Alex Wu <notifications@github.com> wrote:

[2021-01-05 00:12] LEChaney commented on #12504
I'm using TF 2.3.1 and I get this exact issue trying to create a very simple model.

`class MyModelClass(TFModelV2):
    def __init__(self, obs_space: gym.spaces.Space,
                 action_space: gym.spaces.Space, num_outputs: int,
                 model_config: ModelConfigDict, name: str):
        super(MyModelClass, self).__init__(obs_space, action_space, num_outputs, model_config, name)

[2021-01-05 01:37] DonYum commented on #13135
@rkooo567  It happened 2 times. The first time I accidentally damaged the scene. The 2nd time I get the info as above.
I'm sorry that I can not provide the docker img. However, you can tell me how to operate when it happened again.

[2021-01-05 01:42] DonYum commented on #13148
@rkooo567
Why are there extra actors? I start `42 actors`, but I saw `53 workers`!
Thanks a lot.

[2021-01-05 01:58] DonYum commented on #13135
@rkooo567  I found #13148 has been closed. But I'm still confused. I added some info. Is it convenient for you to reply again?
Thanks a lot!

[2021-01-05 03:01] rkooo567 commented on #13148
Oh sorry. I will reply very soon

[2021-01-05 03:41] #8005 closed

[2021-01-05 04:24] Devil-Z commented on #12842
After rebuild the ray with master branch [`9643e`](https://github.com/ray-project/ray/commit/9643e44af63d012cf64dd9634e6f17a90a10f56e), the issue `code_search_path` has been fixed, but still can not run the code that I mentioned at beginning, and the error is same.
[code]
The python-core-worker-*.log only repeat one error `metric_exporter.cc:206: Export metrics to agent failed: IOError: 14: failed

[2021-01-05 04:41] pdames commented on #12842
Java 1.8  is installed on my EC2 node. Output from running `java -version`:
[code]
I'm also able to successfully run and interact with a local Java py4j gateway server from Ray python scripts in place of making the cross-language calls given at https://docs.ray.io/en/master/cross-language.html.

However, the main value-add I'm looking to get out of Ray's Python/Java cross-language support is the a

[2021-01-05 05:16] simon-mo opened #13180 "[Serve] ServeHandle no longer serializable"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]

ServeHandle can no longer be passed around to other Ray tasks and the error is really hard to debug

[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **n

[2021-01-05 05:16] DonYum opened #13181 "[core] TypeError in log_monitor.py"
Ray: 1.1.0
Python: 3.7.6
CentOS 7

I'm using ActorPool to test perf on a cluster. When I delete a node, I accidentally make the following error:

[code]

Then the log on this node can not be collected to head node.

Is it necessary to add an error check for `TypeError`?

[2021-01-05 05:19] simon-mo commented on #13180
There are two alternatives, I'm preferring the second one:
1. Disallow the serialization of ServeHandles and ask users to call serve.connect(). Note that this doesn't work in non-detached cases with non-serve actors.
2. Allow serialization of ServeHandles by implementing a custom serializer. This should be ok because all serve handles in the same process share a single router. When instantiating t

[2021-01-05 05:34] DonYum opened #13182 "[board] `--dashboard-host='0.0.0.0'` will slow down ray perf"
Ray: 1.1.0
Python: 3.7.6
CentOS 7

I'm testing ActorPool perf on a 16c32G node.
There's A significant difference in performance when I set or not set `--dashboard-host` parameter.

With `--dashboard-host='0.0.0.0'`:
[code]

Without `--dashboard-host='0.0.0.0'`:
[code]

BTW, The code in `test_loop` is computationally intensive.

[2021-01-05 05:38] DonYum commented on #13182
I'm sorry that I cannot provide the code to reproduce, but I think using ActorPool to run computationally intensive logic is very effective.

[2021-01-05 06:03] yangysc opened #13183 "[rllib] Dummy inputs (all zeros!) still often exist in the train_batch when training ppo after initializing the loss"
### What is the problem?
When the policy creates the self._dummy_batch using [self._get_dummy_batch_from_view_requirements(sample_batch_size)](https://github.com/ray-project/ray/blob/master/rllib/policy/policy.py#L615-L616), the dummy inputs still exist in the sampler workers. And the function [ppo_surrogate_loss](https://github.com/ray-project/ray/blob/master/rllib/agents/ppo/ppo_torch_policy.py#

[2021-01-05 06:34] ericl commented on #13183
This might just be normal zero padding for the lstm sequences (they will be masked out of the loss), but cc @sven1977 to confirm

[2021-01-05 07:15] veritas9872 opened #13184 "Create conda installation."
### Describe your feature request

I would like to request an anaconda installation of ray (e.g. conda install -c conda-forge ray).

To the best of my understanding, ray does not have many dependencies complicating this process.

However, the lack of source code on the PYPI link means that using `conda skeleton pypi ray` does not work.

I believe that many people would find a native conda installa

[2021-01-05 07:15] yangysc commented on #13183
Thanks! It seems to be zero padding for lstm, as you said, and they are indeed masked out of the loss. But calling model.from_batch (Line 47, ppo_torch_policy.py) on these zero paddings means the policy network still forwards the zero padding input. Should the zero padding be masked out **before the from_batch call, instead of before the loss?** It could be more efficient, if the policy network is

[2021-01-05 07:59] ericl commented on #13183
Indeed we should mask them out there as well. There was an old PR that did
that, but there were some complications around mini batching (it became
difficult to deal with mini batching for PPO without the padding).

Probably it could be solved with some smarter handling, but this was never
fixed so we have the padding for now (and the associated performance cost).

On Mon, Jan 4, 2021, 11:16 PM Sha

[2021-01-05 08:07] danlg commented on #10858
Hello @rkooo567  would you have any news on this one ?

[2021-01-05 08:16] ffbin opened #13185 "RedisGcsTableStorageTest.TestGcsTableWithJobIdApi failure"
### What is the problem?
https://travis-ci.com/github/ray-project/ray/jobs/468543858
![image](https://user-images.githubusercontent.com/13081808/103622250-63d90d80-4f71-11eb-8cd4-0ca9044286f5.png)

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pa

[2021-01-05 08:17] ffbin commented on #13185
cc @rkooo567

[2021-01-05 08:33] ffbin opened #13186 "ServiceBasedGcsClientTest.TestActorSubscribeAll failure"
### What is the problem?
![image](https://user-images.githubusercontent.com/13081808/103623880-b74c5b00-4f73-11eb-9ac6-e03f35a204a3.png)
https://travis-ci.com/github/ray-project/ray/jobs/468543858
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pas

[2021-01-05 08:34] ffbin commented on #13186
cc @rkooo567

[2021-01-05 08:52] LukeAI opened #13187 "1st example given in Search / Key Concepts doesn't converge and this is confusing"
### What is the problem?

The [first example](https://docs.ray.io/en/master/tune/key-concepts.html#search-algorithms) given in the introductory Key Concepts / Search Algorithms page on Ray Tune doesn’t iteratively converge, it just samples the search space at random. Since the point of using Ray Tune is to discover optimal hyperparameters, this is quite confusing for newcomers (such as myself).

I

[2021-01-05 09:23] ashione commented on #12842
@chaokunyang Has talked to me today offline that ray streaming uses dynamic resource feture for operator
 vertex scheduling but dynamic resource is deprecated now in master branch.

[2021-01-05 09:27] ashione commented on #12842
BTW, set RAY_ENABLE_NEW_SCHEDULER=0 in env vars maybe work. We'll remove dynamic resource setting from streaming scheduler later.

[2021-01-05 09:34] DanielAtKrypton commented on #12481
Not yet @Dias2019 . I decided to remove the feature in the meanwhile there isn't a solution.

[2021-01-05 10:28] Maltimore commented on #13184
Ray is already in conda-forge: https://github.com/conda-forge/ray-packages-feedstock

[2021-01-05 10:31] roireshef commented on #12352
@ericl - if you need anything from my end (logs, etc.) please LMK.
Otherwise, I would like to terminate those trials to free the resources assigned to them.

And thanks again!

[2021-01-05 10:55] Devil-Z commented on #12842
@ashione Thanks, after set RAY_ENABLE_NEW_SCHEDULER=0 in env, use streaming in java  works correctly. But use streaming in python still get the same error. Here is the code, maybe I have some wrong config? I put all ray jars on the lib dir.
[code]

[2021-01-05 12:27] Coder-Atul commented on #2685
I still get the same error.
Please see my code below and tell me what is my mistake.
Even though I have the latest version of pip and cloudpickle installed.

`import cloudpickle as cp
import pickle as p

file= open('file5','wb+')
book={}

bookname = ['Liot','Ravi','Kio','Hari','Minalanka','Rolce','Jimo','lina']
aut=       ['Jim','Oli' ,"Oli","kai","Lora"      ,'Oli','GArt',"Bcan"]
print('bookname:

[2021-01-05 16:04] #13009 closed

[2021-01-05 17:13] simon-mo commented on #13180
A workaround for the current time being is to call `serve.connect` in the consumer actor and `client.get_handle` to retrieve the handle.

[2021-01-05 17:41] simon-mo opened #13198 "test_joblib failures in Windows CI"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]

https://github.com/ray-project/ray/runs/1647962851

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock

[2021-01-05 17:43] simon-mo opened #13199 "new_dashboard metrics agent crashed in Windows CI"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]
https://github.com/ray-project/ray/runs/1647962851

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock

[2021-01-05 17:44] simon-mo opened #13200 "test_queue::test_custom_resource failed in Windows CI"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]
https://github.com/ray-project/ray/runs/1647962851

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock

[2021-01-05 17:48] simon-mo opened #13201 "Re-enable test_basic on Windows CI"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]
https://github.com/ray-project/ray/runs/1647962851

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock

[2021-01-05 17:51] simon-mo opened #13202 "test_client failed in Windows CI Failure"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]

https://github.com/ray-project/ray/runs/1647962851
### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock

[2021-01-05 17:57] clarkzinzow opened #13203 "Ownership-based Object Directory - consolidate location table and reference table"
Instead of having a [separate location table](https://github.com/ray-project/ray/blob/61c3b6d3bf2f30ba895fc5b6b9165f1d904929d8/src/ray/core_worker/reference_count.h#L695-L699) on the reference counter, we should store owned object locations in the reference table.

It seems that the only thing blocking this table consolidation is the fact that on the `Create()` + `Seal()` path, an object location

[2021-01-05 18:18] simon-mo opened #13205 "test_actor::test_atexit_handler[__ray_terminate__] Windows CI Failure"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot b

[2021-01-05 18:21] simon-mo opened #13206 "test_autoscaler::AutoscalingTest.testDockerFileMountsRemoved Windows CI Failure"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]
https://github.com/ray-project/ray/runs/1647962851
### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock d

[2021-01-05 18:23] simon-mo opened #13208 "Windows CI Failure Tracking"
Several tests consistently broke on Windows.

- [ ] https://github.com/ray-project/ray/issues/13198
- [ ] https://github.com/ray-project/ray/issues/13199
- [ ] https://github.com/ray-project/ray/issues/13200
- [ ] https://github.com/ray-project/ray/issues/13201
- [ ] https://github.com/ray-project/ray/issues/13202
- [ ] https://github.com/ray-project/ray/issues/13205
- [ ] https://github.com/ray-p

[2021-01-05 18:35] PidgeyBE opened #13209 "[core] AttributeError: module 'abc' has no attribute '_get_dump'"
ray 1.1.0

### What is the problem?
In ray 1.1.0 the following critical lines where removed from the codebase in https://github.com/ray-project/ray/commit/871cde989a45341129aa9bcd7b59115020ef13d2:
[code]
As a result, our software CICD fails after upgrading to ray 1.1.0 with:
`AttributeError: module 'abc' has no attribute '_get_dump'`
If I just open ipython and import abc, I get the same error on `

[2021-01-05 18:39] simon-mo commented on #13209
@suquark would you mind taking a look a this?
also @PidgeyBE can you list the `typing` package version if there is one? `pip freeze | grep typing`.

[2021-01-05 18:41] PidgeyBE commented on #13209
@simon-mo
[code]

[2021-01-05 18:50] sumanthratna commented on #13184
closing as duplicate of https://github.com/ray-project/ray/issues/585. Thanks!

[2021-01-05 18:50] #13184 closed

[2021-01-05 20:17] simon-mo commented on #13199
@mfitton

[2021-01-05 20:33] #13205 closed

[2021-01-05 21:53] gshimansky opened #13213 "Pytest with xdist consistently fails on Windows when more than one worker is used"
### What is the problem?

Running Modin tests with `xdist` on Windows is impossible because 2nd and consequent workers fail to connect to Redis. Problem is reproducible in [GitHub Actions environment](https://github.com/modin-project/modin/pull/2558/checks?check_run_id=1652259815#step:5:17) and locally on my laptop.
<details><pre>

PytestBenchmarkWarning: Benchmarks are automatically disabled beca

[2021-01-05 22:37] wuisawesome opened #13214 "[core] ray.kill pending actor doesn't cancel the actor creation task"
### What is the problem?

Currently, `ray.kill` will silently fail if the actor has not already been started. This appears to be because we try to kill actors directly (via direct actor transport), but now GCS is responsible for scheduling/creating actors, so the actor's owner can't easily cancel the pending lease request.

Here's a simple reproduction which shows the lease request is still infeas

[2021-01-05 22:38] #12698 closed

[2021-01-05 22:41] rkooo567 commented on #13214
cc @ffbin Do you have some bandwidth to take a look at this task?

[2021-01-05 23:33] ericl commented on #12698
Context: ray.kill() is implemented by killing actors after they have started. Hence, this is expected behavior. The linked issue is to change ray.kill() to kill pending actors properly before they have started.

[2021-01-05 23:59] sahikagenc opened #13218 "Custom model for Soft-Actor-Critic in [rllib]"
Is it possible to provide a custom model to SAC from a configuration file such as the case for `model` parameter as follows:

[code]

[2021-01-06 00:02] ericl opened #13219 "Support deferred imports"
Currently imports of the real ray package may not function correctly if used before the client is initialized.

[2021-01-06 00:48] #13206 closed

[2021-01-06 01:15] amogkam commented on #12641
@rsuwaileh the `ValueError` that you are seeing should be fixed in the latest master https://github.com/ray-project/ray/pull/13174.

I'm going to close this issue for now, but if you are still seeing problems with GPU not being utilized, feel free to reopen this and I can take a look! Thanks.

[2021-01-06 01:15] #12641 closed

[2021-01-06 01:32] ffbin commented on #13214
ok, i will take a look, thanks.

[2021-01-06 02:31] DonYum opened #13221 "[core] There are many big core.xxx file"
Ray: 1.1.0
Python: 3.7.6
Ubuntu20 in Docker

When I ran a program with ray, there are always generate some big coredump file like this:

![image](https://user-images.githubusercontent.com/1471864/103720103-916f9680-5005-11eb-8227-39ff1cdaa5ba.png)

I try to use `gdb` to debug, however, I cannot get any useful info:

![image](https://user-images.githubusercontent.com/1471864/103721992-f88f4a00-5009

[2021-01-06 02:47] DonYum commented on #13135
@rkooo567  I think it's caused by coredump.
I have submitted a new question #13221.

[2021-01-06 03:48] #9851 closed

[2021-01-06 03:49] #11993 closed

[2021-01-06 03:49] #12656 closed

[2021-01-06 03:49] #12658 closed

[2021-01-06 03:49] ericl opened #13222 "Test S3 object spilling on multiple nodes with big data (streaming shuffle)"

[2021-01-06 03:51] ericl opened #13223 "Test multi-node object spilling with Dask on Ray"
This depends on the admission control efforts for object dependencies.

[2021-01-06 03:51] ericl opened #13224 "Support file-based object spilling in multi-node"

[2021-01-06 03:52] ericl opened #13225 "Turn spilling on by default and deprecate lru eviction"
Depends on https://github.com/ray-project/ray/issues/13224

[2021-01-06 04:10] herunyu opened #13226 "PolicyServerInput with num_workers equal more than 1 will result that "Address already in use" problem"
### What is the problem?
PolicyServerInput with num_workers equal more than 1 will result that "Address already in use" problem
*Ray version and other system information (Python version, TensorFlow version, OS):*
* ray: 1.1.0
* python: 3.8.5
* tensorflow:  2.3.1
* OS: macOS 11.1 or Ubuntu 20.04.1 LTS
### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) t

[2021-01-06 05:30] wangwwno1 commented on #13159
I have reproduced this issue on:  Ray 1.1.0, Python 3.8.5 PyTorch1.7.0, Ubuntu18.04
Without the wrapper `@ray.method` I can run the code smoothly
[code]
If every function can return a tuple (which is not, I guess :) there would be no need for such wrapper.
So my question is: *what is the best practice to use wrapper `ray.method`?**

[2021-01-06 06:00] rusu24edward commented on #9029
As a follow up, [here is a TurnBasedWrapper](https://github.com/LLNL/Admiral/blob/main/admiral/managers/turn_based_manager.py) that I created that can automatically make environments turn-based. This is designed for my specific environment ecosystem (wrapping my [AgentBasedSimulation](https://github.com/LLNL/Admiral/blob/main/admiral/envs/agent_based_simulation.py) interface), which has a few more

[2021-01-06 06:31] herunyu opened #13227 "PolicyServerInput with num_workers = 1 will have AttributeError"
### What is the problem?

PolicyServerInput with num_workers = 1 will have AttributeError

*Ray version and other system information (Python version, TensorFlow version, OS):*
* ray: 1.1.0
* python: 3.8.5
* tensorflow:  2.3.1
* OS: macOS 11.1 or Ubuntu 20.04.1 LTS

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce

[2021-01-06 06:41] DonYum commented on #13221
**I found a new clue:**

When the error as bellow occur, coredump file will be generated:

![image](https://user-images.githubusercontent.com/1471864/103737082-6ea4a880-502c-11eb-9fcf-b0a445b233fd.png)

`[2021-01-06 14:00:53,806 E 40 40] process.cc:498: Failed to kill process 295 with error system:3: No such process`

[2021-01-06 07:35] TekpreXyz opened #13230 "Switch from Ray dashboard to TensorBoard"
Hello,
as you know Ray dashboard don't work on windows.
When i try to open the link in terminal i get ERR_CONNECTION_REFUSED
![image](https://user-images.githubusercontent.com/73416709/103741657-c37afb80-4ff9-11eb-9670-3f20a362d22f.png)

I have heard that it is possible to use tensorboards instead of rayboards.
Could someone explain me how to do it?
Thanks

[2021-01-06 08:35] PidgeyBE commented on #12445
Issue not reproducible anymore in ray 1.1.0

[2021-01-06 08:35] #12445 closed

[2021-01-06 08:44] PidgeyBE commented on #13209
Additionally we see here that some `_abc_` cache keys are popped before pickling serialization: https://github.com/ray-project/ray/blob/871cde989a45341129aa9bcd7b59115020ef13d2/python/ray/cloudpickle/cloudpickle_fast.py#L187
but not all of them. Is there a reason e.g. `_abc_generic_negative_cache` and `_abc_generic_negative_cache_version` are not popped?
Because these keys/values are causing pickl

[2021-01-06 09:28] micahtyong opened #13231 "[dashboard][core] Running ray memory yields reference types inconsistent with master/memory-management.html"
### What is the problem?

Upon running `ray memory` in the command line while a Ray application is running, yielded reference types are inconsistent with what is described in [the docs](https://docs.ray.io/en/latest/memory-management.html#debugging-using-ray-memory). In multiple instances, the reference type is incorrectly denoted as `ACTOR_HANDLE`.

*Ray version and other system information (Pyth

[2021-01-06 09:29] loicsacre commented on #7896
RLLib also provides a flattened observation for the `compute_actions` method of the `Policy` class. The only way I found to use the method `restore_original_dimensions` in `compute_actions` is to do the following:

[code]

Is there a more convenient way to do so (working with np.array) ?

[2021-01-06 11:00] #8452 closed

[2021-01-06 11:10] KaleabTessera opened #13234 "[tune] Incorrect number of samples for ASHAScheduler"
### What is the problem?

I am using tune and running random search & bayesian opt with ASHAScheduler scheduler. I set the `num_samples=50`, but only `20` samples are run. Sometimes it runs `30` samples. Shouldn't all samples be run? Is there something in `ASHAScheduler` that limits the amount of samples?

Versions:
[code]

### Reproduction (REQUIRED)
Here is the tune code snippet.
[code]

[2021-01-06 11:18] KaleabTessera commented on #13234
Here is the [exp state file.](https://drive.google.com/file/d/17wj6UwKXItFJKdv6FnUt-G1BFPa9LuFA/view?usp=sharing)

[2021-01-06 11:50] krfricke commented on #13234
Yes, Ray Tune should still run all 50 samples for at least one iteration. On a first glance your code looks correct. Can you provide a full reproducible script for us to try out?

[2021-01-06 11:54] krfricke commented on #13234
Just to be sure, you're passing a float here: `grace_period=ray_config['epochs']/10,`, can you try passing `	grace_period=ray_config['epochs']//10,` (and integer) instead? We don't do type checking in the ASHA scheduler and maybe something odd happens if a value below 1 but above 0 is passed.

[2021-01-06 12:45] waldroje commented on #13159
I actually didn't realize you could call the actor method without the decorator... what is the difference then, assuming the return was a single value and it did not error? Does it change the resources used?

[2021-01-06 12:57] karstenddwx commented on #12453
Hi, I've run into similar issues with trial_path having special characters. No checkpoint paths returned as glob doesn't match special characters.

If hyper parameters are set by tune/grid_search, the parameters get part of the trial_path. If in that case the hyperparameter is a list, ...
e.g.
"model": {
                "fcnet_hiddens": grid_search([[256, 256]]),
}

...the resulting trial_path loo

[2021-01-06 12:58] wangwwno1 commented on #13159
I'm not sure about the resource usage, but if the returned object belongs to a builtin type (or a composite of them) it should make no difference, as a python function with multiple outputs will return a tuple that contains all the values.

Take the method `Foo.bar` as an example, if I receive its outputs with `a, b = out = pool.get_next(timeout=None)`, the variable `out` would be a tuple that con

[2021-01-06 13:34] janblumenkamp commented on #7923
So, if the entropy coefficient is 0, doesn't that mean that there is no exploration and training might get stuck in local minima?

[2021-01-06 14:51] waldroje commented on #13159
My thought was as a decorated actor method, it would only utilize resources that had been assigned an actor… as opposed to a general task which would grab additional resources from the cluster….

[2021-01-06 14:54] wangwwno1 commented on #13159
Try to specify the resource with `Actor.remote(num_cpu=2, num_gpu=0.2)`?

[2021-01-06 15:48] Wanda-Sankey opened #13239 "Question: Redis failed to start on AWS server"
I am having an issue where I run a nextflow process on an AWS server that calls a Ray instance. I get the error message "Redis failed to start" however the process seems to complete without issue and the output file generates. I was wondering if this is a permission issue on AWS nodes and if Redis is required for use of Ray?

[2021-01-06 16:14] Shentao-YANG opened #13240 "How to use ray.tune on cluster node with multiple GPUs"
Hi,

I would like to use `ray.tune.scheduler` on hyperparameter tuning of Pytorch neural network on one node of the slurm cluster provided by my institution. The node has in total 4 GPUs. Ideally I would like `ray.tune.scheduler` to run and select models parallelly on all 4 GPUs. I tried to adapt the instruction on page **/using-ray-with-pytorch.html** but was not successful --- the `tune.run` fun

[2021-01-06 16:24] KaleabTessera commented on #13234
I am rerunning this with ` max_failures=-1`. I think the issue might have something to do with a resumed trail. Replicating this with smoke tests seem to run all samples. I am rerunning the larger exps, I will close if works without resuming.

[2021-01-06 16:48] krfricke commented on #13240
Most of our examples leverage training on GPUs, e.g. https://docs.ray.io/en/latest/tune/tutorials/tune-pytorch-cifar.html#adding-multi-gpu-support-with-dataparallel

You should pass a `resources_per_trial` argument to `tune.run`:

[code]

Please also note that each trial will see the GPU as `cuda:0`, but it will point to different GPUs internally.

If you can provide us with a more thorough exampl

[2021-01-06 17:23] Shentao-YANG commented on #13240
Hi,

Thanks for your reply!

Here is my `tune.Trainable` object:
`
class Train_Val_VAE(tune.Trainable):
    def setup(self, config):
        print(f"Begin training VAE with config: {config}")
        self.net = VariationalAutoEncoder(latent_dim=config.get("latent_dim", 10),
                                          variational_beta=config.get("variational_beta", 1))
        self.device = "cpu"

[2021-01-06 17:35] Shentao-YANG commented on #13240
Hi,

Thanks for your reply!

Here is my `tune.Trainable` object:

class Train_Val_VAE(tune.Trainable):
    def setup(self, config):
        print(f"Begin training VAE with config: {config}")
        self.net = VariationalAutoEncoder(latent_dim=config.get("latent_dim", 10),
                                          variational_beta=config.get("variational_beta", 1))
        self.device = "cpu"

[2021-01-06 18:41] amogkam commented on #13240
It looks like your cluster only has 2 CPUs available, and since each trial requires 1 CPU, at most only 2 trials will ever be run in parallel. As a result all 4 GPUs will never be used in your current setup- the available CPU is what's limiting the parallelism. To fix this you can either increase the number of CPUs in the cluster, decrease the `cpus_per_trial` value to a fractional value, or incre

[2021-01-06 18:44] rkooo567 opened #13241 "[RFC] Logging shutdown process to all Ray components."
### Describe your feature request

Currently, Ray's shutdown process is not logged properly. This is problematic because sometimes the shutdown process is not properly done, and that causes some weird issues that we are not able to troubleshoot. For example, there could be zombie processes or processes that are not exited.

We can improve this by always logging all shutdown processes (and stream i

[2021-01-06 18:52] rkooo567 commented on #13241
cc @edoakes

[2021-01-06 18:53] rkooo567 commented on #13239
Redis is used as a central metadata store of Ray (called GCS), and it is automatically started when you start a head node.

Can you see if there are logs from /tmp/ray/session_latest/logs/redis.out|err?

[2021-01-06 18:54] rkooo567 commented on #13231
[code]
This might be because you didn't rebuild the core after you pull the latest master. Is it reproducible when you use ray by downloading the master wheel?

[2021-01-06 18:57] Wanda-Sankey commented on #13239
Redis.err is empty. Redis.out has the following text:

`28605:C 10 Dec 2020 15:27:48.216 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
28605:C 10 Dec 2020 15:27:48.216 # Redis version=5.0.9, bits=64, commit=00000000, modified=0, pid=28605, just started
28605:C 10 Dec 2020 15:27:48.216 # Configuration loaded
28605:M 10 Dec 2020 15:27:48.217 # Server initialized
28605:M 10 Dec 2020 15:27:48.217 #

[2021-01-06 19:06] micahtyong commented on #13231
You're right, just edited the PR!

[2021-01-06 20:00] richardliaw commented on #13241
This is interesting -- though I think this only solves part of the problem.

Similarly, a problem I've observed I've seen (especially on windows) is that a subset of ray services don't seem to start correctly.

I think that the main problem we have is that there is no way to observe/query the health of the ray services. A utility that is able to query the liveness/health for the various ray proces

[2021-01-06 20:01] richardliaw commented on #13241
^ might be a digression though :)

[2021-01-06 20:15] suquark commented on #13209
`_abc_generic_negative_cache` and `_abc_generic_negative_cache_version` are likely generated by third-party libraries, and they do not exist in the python stdlib: https://github.com/python/cpython/blob/master/Lib/_py_abc.py.

we can hardcode these fields in cloudpickle as the workaround. Such issues would not be fully solved before python3.7 (where some patches are appiled), because python typing

[2021-01-06 20:53] dmadeka commented on #7923
Right - i only mention it as a possible line of investigation to the solution

[2021-01-06 20:57] janblumenkamp commented on #7923
I see. I ran a few more experiments and unfortunately cannot confirm that this works for me.

[2021-01-06 22:40] #10327 closed

[2021-01-06 23:37] simon-mo opened #13246 "[Serve] Add tune-serve-mnist integration tests to Serve suite."
### What is the problem?

After 39813ff6b0c960d9c3f86c0c7ecb4ff63d5e6887 was merged, [//doc:tune_serve_integration](https://travis-ci.com/github/ray-project/ray/jobs/469016332) test broke. This wasn't caught because in PR, when only Serve code was changed, doc tests were skipped. We should include this test as part of the Serve tests so we cover the API changes.

[2021-01-06 23:42] simon-mo opened #13248 "[Serve] Add long running tests smoke tests to Serve bazel test suite"
We should smoke test the long running tests by running them for just few iterations and include those in our bazel test suite. So issues like API breakage can be caught earlier. Case in point: #13247 updated some controller API because those changes weren't caught in CI.

[2021-01-07 00:21] acxz commented on #12861
@sven1977 could you take a look at this issue again. My script is posted in the OP.

[2021-01-07 00:55] wuisawesome opened #13249 "[releaser] Release test dependencies not being properly installed."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

When running the releaser `python cli.py suite:run long_running_tests`, the rllib/tune related tests seem to fail due to dependency issues. Attached is the output of the impala test.
[ray_command_output_scd_2vJnlEdLvBs7qUzYy3Y1vt.txt](https://github.com/ray-project/ray/files/5778898/ray_

[2021-01-07 00:57] wuisawesome opened #13250 "`ray status` and `ray memory` shouldn't need to start a new job"
### Describe your feature request

Because we have a limited number of job ids, running `watch -n 1 ray memory` (arguably the intended use case of the command), we will run out of job ids in ~18 hours.

We can get all the information we need using `GlobalStateAccessor` without calling `ray.init`.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

cc @

[2021-01-07 01:21] #13209 closed

[2021-01-07 01:38] simon-mo commented on #13209
The PR was merged. @PidgeyBE please try out latest master!

[2021-01-07 01:43] qiuyuchen14 opened #13252 "load a pretrained network raise RuntimeError('Attempting to deserialize object on a CUDA '""
Hi! I'm really new here:)  I'm trying to use rllib to train PPO with my own gym env. I'm hoping to initialize a pretrained network (not the RL network) in this gym env to rollout some results first and start training on that. I found if I just load my pretrained model normally, it would raise an issue: `"raise RuntimeError('Attempting to deserialize object on a CUDA '"`, but if I add `@ray.remote(

[2021-01-07 02:11] Shentao-YANG commented on #13240
Hi,

Thanks for reply.

I decrease the `cpus_per_trial` value on to a fractional value $2/32$ but the GPUs still seem not fully utilized. The code and output are as follows.
`
device, best_config = main(num_samples=(3**4), max_num_epochs=100, val_loss=(-np.inf), reduction_factor=3,
                                  cpus_per_trial=(2/32), gpus_per_trial = (4/32))
`

`
== Status ==
Memory usage on t

[2021-01-07 02:17] defangc23 commented on #11943
encounter the same issue: ray docker containers can not find each other.

[2021-01-07 04:06] ffbin commented on #13214
https://github.com/ray-project/ray/pull/13254/files @wuisawesome @rkooo567 If ray.kill no_restart is true, we will destroy the actor and cancel the actor creation task. If ray.kill no_restart is false, we will not cancel the actor creation task, because it itself needs to be rescheduled. What's your suggestion?

[2021-01-07 07:24] KaleabTessera commented on #13234
@krfricke So I was able to reproduce this using `BayesOptSearch`.

Looking at the logs, I see that duplicate params for search space are being suggested and skipped:
[code]

I assume after 3 duplicates, the system stops? My run stopped after 11 trails. Also, I am not sure if increasing `random_search_steps`(currently =10) might help?

I am going to try to increase the `kappa` in BO, to force the a

[2021-01-07 07:26] gordoni opened #13256 "[tune] checkpoint_at_end fails to sync final checkpoint for a cluster"
Ray version: 1.1.0
OS version: Ubuntu 20.04

Running:

`
rllib train --run=PPO --env=MountainCarContinuous-v0 --config='{"framework": "torch"}' --stop='{"timesteps_total": 10000}' --checkpoint-at-end --ray-address=auto
`

on a cluster fails to sync down any checkpoints, and before terminating reports:

[code]

This is on a slightly non-standard AWS cluster configuration:

[code]

but I don't think

[2021-01-07 08:57] rkooo567 commented on #13250
cc @micahtyong Are you interested in doing this?

[2021-01-07 08:58] rkooo567 commented on #13214
Cancel actor creation task => meaning removing a task from the raylet queue?

If so, don't we need to cancel them in both cases? Rescheduling is handled by GCS anyway

[2021-01-07 08:59] krfricke commented on #13234
Yes, the maximum repeats per config is configured via the `patience` parameter, but if `skip_duplicates=True`, these trials are not run again. Duplicate configurations can come up if BO converges quickly to an acquisition function, which could be related to the objective. So it seems like what you experience could be this, or maybe a combination of this and resuming trials. It's hard to say withou

[2021-01-07 09:36] GiovanniGatti opened #13259 "Tenant ID, application ID, principal ID, and scope are not allowed to be updated."
Hello, while following instructions presented at [Launching Cloud Clusters >> Azure](https://docs.ray.io/en/master/cluster/cloud.html?highlight=azure#aws-gcp-azure), deployment is falling with the following message:

[code]

I have owner privileges and I was able to deploy Ray using the "Deploy" button.

Could you please clarify what it is going on? Should I rather check with Azure community?

Tha

[2021-01-07 11:08] ffbin commented on #13214
@rkooo567  If ray.kill no_restart is false, we do not need to cancel the actor creation task, because after you cancel actor creation task, you still need to reschedule actor and send actor creation task request to raylet again. If ray.kill no_restart is true, we just need to `DestroyActor` and `DestroyActor` will cancel  actor creation task if actor creation request of this actor id is pending in

[2021-01-07 11:24] moshewe commented on #12530
@richardliaw
This worked for me! (at least at the config level...)

[2021-01-07 12:12] PidgeyBE commented on #13209
@simon-mo I've tested it on master and it works!

[2021-01-07 12:22] wullli commented on #7341
Do you guys have a rough idea when #10884 will be finished? I am currently using @janblumenkamp 's awesome workarounds. However, I don't want to build things twice if I can help it. Thanks!

[2021-01-07 13:02] Vysybyl commented on #13076
Hi @rkooo567,

Thanks a lot for the feedback.
Sorry for the late reply. Unfortunately, I currently have no time to give you more information or do more testings.
Also, I am back to my place where the internet connection is fast and the issue never reappeared.
If you still wants to troubleshoot, I think you should be able to easily reproduce the issue if you set up a remote head node connected over

[2021-01-07 13:40] #10337 closed

[2021-01-07 15:33] PidgeyBE commented on #12649
I don't understand why the changes in the linked MR are not in ray 1.1.0, but for some reason the repro script above does not freeze anymore in ray 1.1.0.
Anyhow, the following script still freezes:
[code]

[2021-01-07 16:40] TanjaBayer opened #13265 "[dashboard] Frequently getting `Cannot read property 'usedResources' of undefined` and blank screen"
### What is the problem?
Dashboard gets blank with Error:
![image](https://user-images.githubusercontent.com/30770185/103917857-5e64fa00-510e-11eb-89ee-bfa6b31b1779.png)
![image](https://user-images.githubusercontent.com/30770185/103917876-64f37180-510e-11eb-9c70-ce07c7fdb21a.png)

Complete log:
[172.31.1.103-1610037078818.log](https://github.com/ray-project/ray/files/5782810/172.31.1.103-16100370

[2021-01-07 16:57] #12779 closed

[2021-01-07 17:15] simon-mo commented on #12649
Thanks for reporting! Does it still freeze in master?

[2021-01-07 17:28] PidgeyBE commented on #12649
No, in master there is no issue!

[2021-01-07 18:01] simon-mo commented on #13249
[code]

[2021-01-07 18:02] ijrsvt commented on #13249
Are these running on `ray` or `ray-ml` docker images?

[2021-01-07 18:06] simon-mo commented on #13249
ok i think the error was that we because we were using ray instead of ray-ml

https://github.com/ray-project/ray/blob/master/release/long_running_tests/cluster.yaml#L4

[2021-01-07 18:17] clarkzinzow opened #13268 "[Core] Refactor CoreWorker to make it more unit-testable"
The current `CoreWorker`'s constructor, which translates a `CoreWorkerOptions` struct into the `CoreWorker` object, houses a lot of complex logic that's tightly coupled to the `CoreWorker`'s representation (member variables), and makes it difficult to unit-test certain behaviors. Namely, most of the `CoreWorker`'s members are not easily mockable given that their instantiation logic is baked into t

[2021-01-07 18:23] rkooo567 commented on #13268
This has been an issue for a while. It'll be definitely great to fix it!

[2021-01-07 18:24] wuisawesome commented on #13214
`no_restart=True` by default and as you can see from the reproduction, the actor creation task isn't being cancelled. Is the reproduction working for you?

[2021-01-07 18:31] #13249 closed

[2021-01-07 18:34] rkooo567 commented on #13214
@ffbin I think the confusion is you are thinking about cancelling lease "within a GCS server", and the issue is "cancelling task entry within a raylet".

GCS side metadata is cleaned properly whereas the raylet side is not based on Alex's reproduction script.

[2021-01-07 18:59] micahtyong commented on #13250
Sure, I'm happy to take a look!

[2021-01-07 20:26] #12190 closed

[2021-01-07 20:30] stephanie-wang opened #13270 "Autoscaler does not respect --num-cpus argument to `ray start`"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray 1.2dev

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

`ray start` with this co

[2021-01-07 20:31] stephanie-wang commented on #13270
cc @ericl

[2021-01-07 20:33] ericl commented on #13270
cc @AmeerHajAli I think this is since the autodetected AWS resources are overriding.

[2021-01-07 20:57] ericl commented on #13226
This is expected --- you should use num_workers 0 or 1 for policy server input. There is not generally the need for multiple policy servers, if you do need that then you can customize the ports manually.

[2021-01-07 20:57] #13226 closed

[2021-01-07 21:40] #12145 closed

[2021-01-07 21:48] #13146 closed

[2021-01-07 22:32] #11089 closed

[2021-01-07 22:34] rkooo567 commented on #13259
cc @AmeerHajAli

[2021-01-07 22:35] rkooo567 commented on #13241
Definitely agree we need a way to know the health of ray services. This should be fairly easy to implement in the dashboard, and we can use its API to expose the information to users. cc @edoakes

[2021-01-07 22:39] rkooo567 commented on #13221
You can disable creating core dump files in this way https://discuss.ray.io/t/how-to-abort-a-driver-program-elegant/152

But the fact that core dumps are created could indicate some issues.

[2021-01-07 22:41] rkooo567 commented on #13182
Hmm this doesn't really make sense because the dashboard host doesn't really do anything other than specifying the host address.

[2021-01-07 22:44] barakmich opened #13272 "Support deferment of enabling Ray Client, while still declaring Ray remote objects"
Right now, Ray Client either needs to be enabled by way of `ray.util.connect` or `RAY_CLIENT_MODE=1` so that any calls to the `ray.remote` decorator (or other things that generate Ray object stubs) will still work as their respective client objects.

The important use case to support here is defining a number of Ray objects in a library, importing that library, and at connect time, be able to stil

[2021-01-07 23:06] barakmich opened #13274 "ray.util.connect() and SSL config therein"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-01-07 23:06] #13219 closed

[2021-01-07 23:07] ugurkanates opened #13275 "[rllib] Ability to change offline dataset sampling rate dynamically during training"
### Describe your feature request

We want to change sampling probability array(numpy) during training dynamically. Currently this array is fixed. In training we may want to use more data from offline dataset at first but later increase probability of online data that's collected.

[2021-01-07 23:08] ugurkanates commented on #13275
@sven1977

[2021-01-07 23:11] #12530 closed

[2021-01-07 23:12] richardliaw commented on #12530
(I think it is a Ray thing)

[2021-01-07 23:19] architkulkarni commented on #12295
Closed by https://github.com/ray-project/ray/pull/12523.

[2021-01-07 23:19] #12295 closed

[2021-01-07 23:49] barakmich opened #13276 "Mutual Recursion in Ray Client objects"
Right now, in order to put client functions/actors on the server, it needs to pickle them. This is fine for objects, and recursive objects (via a sentinel) and objects containing other objects, but objects containing objects that have the original reference is still underspecified.

This can be unrolled but requires a little bit of thought. Sending them across to the server is easy enough, executi

[2021-01-07 23:51] barakmich opened #13277 "ray.method in ray client"
It's a part of the documented API that, while less-used, is still supported and should be brought up to code

[2021-01-07 23:54] barakmich opened #13279 "Remove the RAY_CLIENT_MODE flag now that we don't need it"
Mostly cleanup, but removes the special casing for the client in those tests and causes the client-mode-activation logic to be exercised even more than currently

[2021-01-08 00:32] barakmich opened #13280 "Explore Protos as the Ray Client pickle transport (instead of namedtuples)"
Currently, Ray Client uses `pickle`'s persistence features as the protocol for converting ray client objects over the wire.

Essentially, these are closures, much like the closures we also use to declare that a task should be executed.

Can those two data types be unified? Most likely. It's cleans up a little code, and, academically, brings us to a unified representation of what a ray task is.

[2021-01-08 00:46] clarkzinzow commented on #10124
Note that this particular instance of this issue was fixed in Pandas 1.1.2:

- [Issue](https://github.com/pandas-dev/pandas/issues/36014)
- [PR](https://github.com/pandas-dev/pandas/pull/36061)
- [Release notes](https://pandas.pydata.org/pandas-docs/version/1.2.0/whatsnew/v1.1.2.html)

[2021-01-08 01:17] #13128 closed

[2021-01-08 01:40] #10339 closed

[2021-01-08 01:52] ffbin commented on #13214
Yeah, the reproduction is working, thx.

[2021-01-08 01:54] ffbin commented on #13214
![image](https://user-images.githubusercontent.com/13081808/103964808-4dac9680-5197-11eb-85dd-12656ca67df4.png)
The gcs actor manager `DestroyActor` will cancel the lease request in raylet.

[2021-01-08 02:03] DonYum commented on #13221
@rkooo567

So, How should I figure these issues out.

[2021-01-08 02:17] DonYum commented on #13221
@rkooo567
The exception is triggered here:
![image](https://user-images.githubusercontent.com/1471864/103966179-505cbb00-519a-11eb-98d0-ed56f19599d2.png)

Is it necessary to add protection?

[2021-01-08 02:30] #12591 closed

[2021-01-08 02:41] herunyu commented on #13226
Thanks for replying. @ericl So if I customize the ports for multiple policy servers, is it going to train multiple models? Can I make them training the same model?

[2021-01-08 02:47] ericl commented on #13226
RLlib will sync the model params internally, similar to when using multiple
workers normally.

On Thu, Jan 7, 2021, 6:41 PM Runyu He <notifications@github.com> wrote:

[2021-01-08 02:50] stephanie-wang commented on #13270
Is there a workaround in the meantime?

[2021-01-08 02:57] herunyu commented on #13226
So for example I can first launch one server and train it and store the parameters. Then I can launch like 5 more servers and restore the same parameters and then continue to train? RLlib will sync the params? Am I understand it correctly?

[2021-01-08 03:02] herunyu commented on #13226
Also, when num_workers is 1, I cannot train as well, would you mind take a look at this issue? @ericl  #13227

[2021-01-08 03:40] ericl commented on #13226
Yes. I would recommend only using 1 server (and num workers zero). It is
unlikely you can saturate the throughput of one server unless you have
hundreds of clients.

On Thu, Jan 7, 2021, 7:02 PM Runyu He <notifications@github.com> wrote:

[2021-01-08 03:41] ericl commented on #13270
You can set the resources field in the multi node type config to override I believe.

[2021-01-08 04:50] herunyu commented on #13226
Well, we actually trying to use the ability of parallelism from ray to train the model. So if can speed up the training process, we may turn on hundreds clients though. So is there any references for us to check on how to use multiple servers and utilize all cpu cores and gpus to train the model?

[2021-01-08 07:04] ericl commented on #13227
@sven1977 can you take a look?

[2021-01-08 07:21] fyrestone commented on #12274
It seems that the grpc 1.32.0 will fix this issue: https://github.com/grpc/grpc/releases/tag/v1.32.0
The related PR: https://github.com/grpc/grpc/pull/23783

[2021-01-08 07:48] ffbin commented on #13214
@rkooo567 https://github.com/ray-project/ray/pull/13254 Do you think this plan is feasible?

[2021-01-08 08:28] ptyshevs opened #13290 "[tune] Trial Runner checkpointing failed: [WinError 183] Cannot create a file when that file already exists"
### What is the problem?

Using `OptunaSearch` I receive the warning in the title, which looks something like this:
![image](https://user-images.githubusercontent.com/9576353/103991891-64a5b580-51a4-11eb-8865-b9464e855a38.png)

The code in reproduction section looks something like this:
![image](https://user-images.githubusercontent.com/9576353/103991969-81da8400-51a4-11eb-8291-cb4528483afd.png)

[2021-01-08 11:50] nirvana-msu opened #13293 "Include compiled extension binaries into windows wheel"
At the moment, when installing Ray on Windows, despite there being a wheel, it requires compiler to be installed. This is well documented in the [Windows Dependencies](https://docs.ray.io/en/master/installation.html#windows-dependencies) section.

One of the main benefits of the wheel format however, is to distribute pre-built binaries - so that users would be able to install packages without comp

[2021-01-08 11:54] Maltimore opened #13294 "[rllib] when remote_worker_envs = True, episode.user_data does not persist"
### What is the problem?
I have callbacks which assign extra information to `episode.user_data`:

[code]

This works fine if `remote_worker_envs=False`. If `remote_worker_envs=True`, I get

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Tested with Ray 1.0.1 and nightly. Python 3.7, pytorch version 1.7, Ubuntu 20.04

- [ ] I have verified my script run

[2021-01-08 13:05] nirvana-msu commented on #13293
Ok upon further checking I can see that `_raylet.pyd` is actually there, but the fact that it fails during import means it's missing some linked DLLs. I understand that packing self-sufficient `.pyd` on Windows is not as easy as e.g. on Linux (where we have auditwheel) but quick googling shows some promising leads:

[Delocate/auditwheel, but for Windows?`](https://discuss.python.org/t/delocate-aud

[2021-01-08 13:50] krfricke opened #13295 "[tune] categorical sampling is non-deterministic even after setting seed"
### What is the problem?

Tune categorical sampling is non-deterministic even after seeds have been set.

This only affects `tune.choice`, probably because it uses `random.choices` for sampling (and not numpy).

This error persists even after saving and restoring state in the trial executor (which uses `random.shuffle`), so there might be another place where `random.` is called.

Possible solution

[2021-01-08 15:17] krfricke commented on #13153
This was introduced when we switched to passing `metric` and `mode` to `tune.run()`. I think you're making a good point here. I'd argue we will want to  add `set_search_properties` and `set_total_samples` to the `ProgressReporter` base class. While I agree that not everyone extending `ProgressReporter` might need the information passed by these methods, it would be even less desirable to have them

[2021-01-08 17:19] nirvana-msu opened #13296 "AssignProcessToJobObject() failed in ray.init() when using PyCharm on Windows 7"
### What is the problem?

Ray: 1.1.0 (installed from latest PyPI wheel)
Python: 3.8.6
OS: Windows 7

When starting `ray.init()` from PyCharm - both in Run and Debug mode, the following exception is thrown:

[code]

### Reproduction (REQUIRED)

Use PyCharm and just run this:
[code]

### Solution

Some googling led me to this:  https://gist.github.com/ubershmekel/119697afba2eaecc6330#file-subproc-py

[2021-01-08 17:57] moshewe commented on #12530
Would you like me to make a PR to change the configuration YAML template?

[2021-01-08 18:51] edwinytgoh opened #13299 "Issue on page /tune/user-guide.html"
Under the Checkpointing section in the Tune user guide (https://docs.ray.io/en/master/tune/user-guide.html#checkpointing), the example code block contains `for iter in range(start, 100):`, and `with tune.checkpoint_dir(step=step)`.

Should it be `for step in range(start, 100)` instead?

[2021-01-08 21:38] tylerkohn opened #13302 "seg fault/Core Dump after running ray tune jobs in k8s cluster"
I have a k8s cluster with 32 workers and 1 head on 16 nodes.  When I run 32 jobs that each span about 11 experiments eventually after about 30 or so minutes the logs in the ray-head will report a core dump and all the jobs will fail.

using:
- python 3.8
- ray 1.0.1.post1
- GKE k8s cluster
- k8s version v1.16.15-gke.4300
- Ubuntu 18.04.5 LTS

an example fo this
[code]

additionally I'm seeing thes

[2021-01-08 22:05] clarkzinzow opened #13304 "[Core] Return small objects directly in GetObjectStatus response."
When resolving a future, instead of always requiring a Plasma object transfer, return small objects directly in the `GetObjectStatus` response and put said objects into the in-memory store of the caller. This should make future resolution for small objects faster and result in one less RPC.

[2021-01-08 23:39] ericl commented on #13145
@pcmoritz can you also add your "ray start" option to the doc here?

[2021-01-09 00:17] saeid93 opened #13307 "[rllib] Problem in preprocessing nested MultiDiscrete"
### What is the problem?

Ray version: latest
Python version: 3.8.5
OS: Ubuntu 20.04.1 LTS

### Reproduction

The preprocessor `OneHotPreprocessor`in the `ray/rllib/models/preprocessors.py` returns the wrong result when the `MultiDiscrete` space is nested in a `Tuple` or `Dict` spaces. Here is a failing test.

[code]
I'm going to submit a pull request to resolve this issue.

[2021-01-09 03:57] Data-drone opened #13311 "[tune] pytorch-lightning not using gpu"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray 1.1.0
Torch 1.7.0a0
torchvision 0.8.0
pytorch-lightning 1.1.2
ubuntu 20.04

### Reproduction (REQUIRED)

See: https://gist.github.com/Data-drone/b48a0cc1026ec40a6901480aaec32f6b

Running this script in an environment as per the above, the pytorch training doesn't seem to be leveragin

[2021-01-09 04:12] amogkam commented on #13311
Hi @Data-drone do you see something like this being printed out by PTL in the console output?
[code]

[2021-01-09 05:40] richardliaw commented on #13302
@tylerkohn this is pretty bad, can you provide a core dump?

Also, how are you using the `get_actor` in your workload?

cc @rkooo567

[2021-01-09 07:59] #10342 closed

[2021-01-09 08:15] TekpreXyz opened #13314 "Ray don't work at all"
`i just try to do the  https://docs.ray.io/en/latest/auto_examples/tips-for-first-time.html

import time
import ray
print(1)------------------------------------------------------------------script dead here
ray.init() # Specify this system has 4 CPUs.
print(2)
@ray.remote
def do_some_work(x):
    print(3)
    time.sleep(1) # Replace this is with work you need to do.
    return x
print(4)
start = t

[2021-01-09 12:11] sven1977 commented on #13227
Thanks for filing this issue @herunyu ! I can reproduce this. However, I'm not sure what the purpose of rollout workers (num_workers > 0), would be here. The server process is basically the learner (local_worker) and the client(s) are the rollout workers.
Sure, you could argue that you need a mixed setup with some rollout workers remote and others running on the server side.

Either way, you can f

[2021-01-09 12:11] #13227 closed

[2021-01-09 12:13] sven1977 commented on #13075
Thanks for filing this issue @raphaelavalos ! Could you provide a minimal reproduction script so I can debug?
Or point me to the example/test that fails iff you set "_time_major=True".

[2021-01-09 15:32] TekpreXyz commented on #13314
Auto solved, just swith from python 3.8.7(out conda, normal env) **to python 3.7.9** (**IN** conda env):
conda create --name ray
conda activate ray
conda install --name ray pip
pip install ray
conda install -c conda-forge ray-tune

[2021-01-09 15:33] #13314 closed

[2021-01-09 17:21] #12622 closed

[2021-01-09 17:54] zhe-thoughts commented on #13208
Thanks for working on this @simon-mo . Do you think this is a complete list of seriously flaky Windows tests?

[2021-01-10 00:41] rodorio opened #13318 "Exception: Returning an actor handle from a remote function is not allowed"
Hello, I'm using ray version 1.0.1 on a raspberry pi and I'm trying to do something similar to what suquark mentioned above in #1222. Unfortunately the wrap_actor_handle function doesnt seem to be working:

AttributeError: module 'ray.actor' has no attribute 'wrap_actor_handle'

I'm trying to use a ray queue on the server to handle incoming requests from different clients. Once those requests are

[2021-01-10 08:31] herunyu commented on #13227
Oh I see. I thought that if I can make multiple servers I can utilize the power of ray to train the model in parallel. According to what you said, it doesn’t really matter if using 1 num workers or more than 1, am I right? Does that mean that I cannot use parallelism to train the model?

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Sven Mika <notifications@github

[2021-01-10 10:10] KaleabTessera commented on #13234
Yeah this seems to be a function of BO converging quickly, setting a higher `kappa` resulted in more exploration and so all samples were run. Thanks @krfricke

[2021-01-10 10:10] #13234 closed

[2021-01-10 10:36] janblumenkamp commented on #7923
@dmadeka, are you using TensorFlow or PyTorch?

[2021-01-10 12:41] BFAnas commented on #7571
Hello,
I want to set "actor_hiddens" a.k.a the hidden layers of the policy network of PPO, and be able to set their weights. Is this possible? If yes please tell me how?
Thanks.

[2021-01-10 12:43] andrew-rosenfeld-ts commented on #13153
@krfricke sure, I can try a PR for this.

[2021-01-10 13:57] #4762 closed

[2021-01-10 15:16] llan-ml opened #13323 "Issue on page /tune/api_docs/search_space.html"
~~When we use `tune.sample_from`, it seems that we should pass a function like `lambda spec: spec.param` rather than `lambda spec: spec.config.param`.~~

[2021-01-10 15:49] #13323 closed

[2021-01-10 16:53] sven1977 commented on #3148
Hey @chandramoulirajagopalan ! Sorry for the late response. Writing a short design doc right now. Will get this work done this quarter.

[2021-01-10 18:26] #9399 closed

[2021-01-10 18:26] chandramoulirajagopalan commented on #3148
@sven1977  Will you work on this? Or can I also help to implement R2D2 once you draft the design documentation?

[2021-01-10 21:20] tylerkohn commented on #13302
Thanks for taking a look!

Not sure about the core dump - k8s is restarting the pod when it crashes.  Any advice on finding it?

We are using a TrainingDetailsModelVersion for each model we are training that is calling get_actor.  when we create that object we call:
[code]
TRAINER_ACTOR_NAME is a constant.

we use this to keep track of information relating to a model that is being trained (e.g):
[

[2021-01-10 23:38] #13274 closed

[2021-01-10 23:54] #13277 closed

[2021-01-10 23:59] ericl opened #13324 "Ray client beta now available in nightlies!"
Ray now offers a remote client that can be used to connect to Ray from your laptop / other machines not part of the cluster itself. Check out the docs here! https://docs.ray.io/en/master/ray-client.html

A quick summarization of the docs:
1. Start a server (inside the cluster): `python -m ray.util.client.server [--host host_ip] [--port port] [--redis-address address] [--redis-password password]`
2

[2021-01-11 00:21] tylerkohn commented on #13302
another core dump.  pod got restarted by k8s so don't think there's a core dump file to get.

this ran for about 2 hours crunching away until this happened.   This run I set the deployment requirements so that a worker (And the head) are on an individual k8s node.   seem to work a lot better/faster until this hit!

The trainingGRPCserver you see there is a GRPC server we start on the head so we ca

[2021-01-11 00:33] richardliaw commented on #13302
@tylerkohn do you have any logs of memory? also, on the head-node, usually ray should create logs via `/tmp/ray/session_latest`. Is there any way of getting these logs, as it'll probably point out the cause of this issue.

cc @rkooo567

[2021-01-11 00:34] richardliaw commented on #13299
yeah! that sounds right. Would you be willing to push a fix?

[2021-01-11 02:40] Data-drone commented on #13311
I see:

[code]

[2021-01-11 03:02] ggservice007 opened #13327 "Change prefect to use Ray exectuor, it will be awesome."
Ray is great. Prefect is also great. Combining them is double awesome.

## Prefect
The easiest way to automate your data.

Prefect is the new standard in dataflow automation, trusted to build, run, and **monitor millions of data workflows and pipelines**.

Prefect workflows are designed to be run at any time, for any reason, with any concurrency. Running a workflow on a schedule is a special case.

[2021-01-11 05:54] cfangplus opened #13329 "Does Ray only support model parallel with TensorFlow and Pytorch?"
Hello,

Today I read the ray document from the follow two URL to get how to run ray with Deep Learning frameworks.
https://docs.ray.io/en/master/using-ray-with-pytorch.html
https://docs.ray.io/en/master/using-ray-with-tensorflow.html

But they seems that only model parallel is support, So I want to know does data parallel supported with ray with TensorFlow/Pytorch?

[2021-01-11 06:14] #4417 closed

[2021-01-11 07:07] tylerkohn commented on #13302
will try...the pod restarts but will see about checking the gcp vm instance and setting up an persistent volume.

See these as well:
[code]
and
[code]
and
[code]

I'm definitely doing something the system doesn't like.  I'm sure those logs and a core dump will be useful ;-) working to get them.  Is the actor pattern i'm using above likely to cause a problem (having a single named actor used by eve

[2021-01-11 07:40] sven1977 opened #13330 "[RLlib] Error when calling `rllib/models/catalog.py::get_action_shape()` and tf is not installed."
When framework=torch and rllib/models/catalog.py::get_action_shape() is called, e.g. from within `Policy::_create_dummy_batch_from_view_requirements()`, rllib crashes.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue.

[2021-01-11 08:04] sven1977 commented on #13330
This PR will close the issue:
https://github.com/ray-project/ray/pull/13332

[2021-01-11 10:07] amogkam commented on #13327
Hey @ggservice007 thanks for bring this up! We’ve had discussions about this in the past and completely agree it would be awesome to add a RayExecutor for Prefect.

Are you planning to take a stab at the implementation? If so, we’d be more than happy to provide any guidance/help from the Ray side :)

cc @richardliaw @clarkzinzow

[2021-01-11 11:01] wumuzi520 opened #13335 "Check failed when running python test RAY_CHECK(task_entry != queued_task_requests_.end())"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-01-11 12:19] #13330 closed

[2021-01-11 12:51] Vysybyl commented on #13076
Hello @rkooo567,

I'm once again using a (slightly) slower network and the issue reappeared.

I have noticed that the exception on the client process is thrown by [this guard failing](https://github.com/ray-project/ray/blob/93006c2ba52e059e6fda52694762ad3cbcdef461/src/ray/gcs/gcs_client/service_based_gcs_client.cc#L230) which in turn is configured [here](https://github.com/ray-project/ray/blob/5d5

[2021-01-11 14:08] FruechteBini opened #13337 "[rllib] Way to check current epsilon"
Hello guys,

is there a way to get the current epsilon in e.g. on_episode_start() ?

I did set my exploration settings like this:

[code]

How can I check if epsilon is actually 0 after 20000 timesteps?

Debugging I found the policy config in the worker class - but is there also a variable like "current_eps" or sth similar?
![image](https://user-images.githubusercontent.com/33086953/104192023-9296

[2021-01-11 14:09] jackbart94 opened #13338 "[rllib] Memory leak with CARLA integration"
I am working for CARLA and trying to update the integration with RLLib that is mentioned in the documentation with our latest release. While doing that, I have been noticing that the memory gets consumed slowly (``ram_util_percent`` keeps increasing over time) while running any of the examples, until it fills up entirely. I suspect there is a memory leak somewhere, but I haven't been able to ident

[2021-01-11 15:14] jtm101-code opened #13340 "Launch"
The problem I have is that ray will not distribute over my workers
I collectively I have 16 cores if i user 1 worker (head 8, worker 8), as I have 8cpus on each ec2 aws instance of ubuntu.
However when I launch my ray cluster, and submit my python script it only distributes over 8 cores as only 8 pids are showing to be utilized.

its also noteworthy than im unable to access the ray dashboard on th

[2021-01-11 16:52] amogkam commented on #13311
Hmm based off the `(pid=1109) GPU available: True, used: True` line, Pytorch Lightning is showing that GPU is being used.

When you no longer use Ray and just use Pytorch Lightning instead, do you see GPU being utilized?
Also how are you measuring this utilization? Could you also share some output from this as well?

[2021-01-11 17:00] krfricke commented on #13187
Thanks @LukeAI for this suggestion.

I'd argue to stay with HyperOpt or another search algorithm that supports a diverse range of configuration spaces. Pure BayesOpt can only be used to optimize float parameters.

HyperOpt should incorporate knowledge from previous trials already, even in the current example. We might want to introduce concurrency limiting here though, as it will always result in

[2021-01-11 17:04] #12292 closed

[2021-01-11 17:04] #12508 closed

[2021-01-11 17:05] #12293 closed

[2021-01-11 17:06] edoakes commented on #12180
Only one left to do here is a Flask example.

[2021-01-11 17:06] edoakes commented on #10045
@simon-mo ping

[2021-01-11 17:08] #12322 closed

[2021-01-11 17:20] edoakes commented on #13180
Let's go with (2), it'll be slightly harder to implement but a better UX.

[2021-01-11 17:33] umbernhard commented on #12128
Thanks @PidgeyBE for providing these wheels! I'm currently working on using cluster config, but I'm having issues because the docker images `ray up` relies on are all x86_64. Has anyone managed to munge the dockerfiles to work with aarch64 yet?

[2021-01-11 17:47] nirvana-msu commented on #12481
I have the exact same problem as described above.. `ray.init()` hangs for me on Windows 7 while calling [ray._raylet.CoreWorker](https://github.com/ray-project/ray/blob/c5ae30d1d4167aa7ef0f7a08f83fee6cc085f036/python/ray/worker.py#L1171-L1176). This happens in all the following cases:
 * Started via Windows cmd
 * Started via Git Bash
 * Started via PyCharm in Run mode
 * Started via PyCharm in De

[2021-01-11 17:50] krfricke commented on #12978
Closing this because of inactivity, feel free to reopen.

[2021-01-11 17:50] #12978 closed

[2021-01-11 17:55] #13335 closed

[2021-01-11 17:57] krfricke commented on #12073
cc @sven1977

[2021-01-11 18:03] rkooo567 commented on #13214
Hmm I feel like the issue should be irrelevant to no_restart. When you run Alex's reproduction on your PR, does it pass?

I feel like what we need is just to call cancel lease request RPC in `CancelOnLeasing`.

[2021-01-11 18:04] #10430 closed

[2021-01-11 18:44] LukeAI commented on #13187
sure, I have no strong opinions as to what the example should be. I did also try HyperOpt with concurrency limiter and also much greater number of trials and as far as I could tell it was just sampling at random and didn't find a particularly good optimum.

[2021-01-11 20:00] drozzy opened #13342 "[rllib] UnboundLocalError: local variable 'input_space' referenced before assignment"
I'm trying to run MBMPO on my environment, but I get this error:
`UnboundLocalError: local variable 'input_space' referenced before assignment`

My action_space is a `Tuple`. Is there a requirement to define `input_space` as well?

Here is my code
[code]

[2021-01-11 20:05] valiantljk commented on #12934
https://docs.ray.io/en/master/cluster/index.html might need to be updated

[code]

[2021-01-11 20:31] drozzy commented on #13342
This is probably because this if statement is not exchaustive:
https://github.com/ray-project/ray/blob/master/rllib/agents/mbmpo/model_ensemble.py#L134

It just ignores Tuple space

[2021-01-11 21:01] amogkam commented on #13329
Hi @cfangplus the examples you posted actually show data parallel training where there are multiple replicas of the same model, each training on different batches of data.

If you want a more fleshed out library for this very purpose, you can also check out [RaySGD](https://docs.ray.io/en/master/raysgd/raysgd.html),  which provides a wrapper around Pytorch DistributedDataParallel or Tensorflow Mir

[2021-01-11 21:15] edoakes opened #13343 "[serve] ImportedBackend cannot accept batches"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-01-11 21:16] edoakes commented on #13343
@simon-mo I think this can be fixed by just putting the `accept_batch` decorator on the dynamic class that's returned, but it makes me think we should just scrap the decorator. It's only ever caused me trouble personally and it's basically just documentation.

[2021-01-11 21:26] simon-mo commented on #13343
I think we should still keep it because it helps use to give better error message and do validation ahead of time.  The user can just add accept batch in the dynamic class's __call__ right? Is there a repro example?

[2021-01-11 22:13] billyzs opened #13345 "[core] Ray 1.1.0 fails to start if there's already a redis server running on port 6379"
### What is the problem?
when running `ray start --head --dashboard-host 0.0.0.0 --port 0` with a redis server already running on port 6379, I got
[code]
and the log file complained about not able to bind to port 6379. This problem did not exist on 1.0.0

*Ray version and other system information (Python version, TensorFlow version, OS):*
1.1.0

### Reproduction (REQUIRED)
Please provide a short c

[2021-01-11 22:17] edoakes opened #13346 "[ray client] Failure when get_actor returns an exception"
### What is the problem?

Serve uses exceptions from `get_actor` as a signal that the actor doesn't exist.

[code]

[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet can

[2021-01-11 22:25] edoakes opened #13347 "[ray client] Nasty error message when connecting to an invalid port"
### What is the problem?

`ray start --ray-client-server-port=60123`

[code]

[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run by itself, the issue will b

[2021-01-11 23:56] tylerkohn commented on #13302
haven't core dumped yet but not pushing it too hard.  I am seeing things slow down over time and seeing high CPU for actors that shouldn't be doing anything. The batchprediction related actor should be doing nothing.

[session_2021-01-11_22-29-57_319554_6 2.zip](https://github.com/ray-project/ray/files/5798953/session_2021-01-11_22-29-57_319554_6.2.zip)
[session_2021-01-11_22-29-57_319554_6.zip](h

[2021-01-12 01:45] OliverColeman commented on #6494
It looks like support for custom serializers was dropped in Ray 1.x. Ray now works seamlessly with MXNet arrays, however I think it's not handling them efficiently (ie by using Pickle protocol with out-of-band data the way numpy arrays are handled). Will MXNet arrays ever be supported natively by Ray? It seems inefficient to require converting between MXNet and numpy arrays to pass data around...

[2021-01-12 02:06] DonYum commented on #13345
Related bug: #13085

[2021-01-12 02:37] ffbin commented on #13214
We don't know the state of the actor, so it's better to call `DestroyActor`. I will add Alex's reproduction  to the test case, and I will ping you to review it after PR is finished, thx.

[2021-01-12 02:50] fyrestone opened #13351 "[Dashboard][CI] Improve dashboard port selection"
### What is the problem?

The dashboard CI often fails:
[code]

- Solution
  - Add port selection logic to dashboard head. _(dashboard head will write the address to redis)_
  - Remove the port selection logic from `services.py::start_dashboard()`.
  - Fetch the dashboard port from redis in `services.py::start_dashboard()`.

- [ ] I have verified my script runs in a clean environment and reproduce

[2021-01-12 02:57] ericl opened #13352 "Automatically deal with Python version mismatch?"

[2021-01-12 02:57] #13352 closed

[2021-01-12 02:58] rkooo567 commented on #12044
Duplicated

[2021-01-12 02:58] #12044 closed

[2021-01-12 03:00] ggservice007 commented on #13327
Let's make it together.

I have created a project.

https://github.com/ggservice007/happy-prefect-ray

@amogkam

[2021-01-12 03:22] rkooo567 commented on #13214
I think I am still confused. Can you show me the output of running Alex's script with no_restart True and False?

[2021-01-12 03:27] ericl opened #13353 "[core] Data client operations block forever if server fails."
It seems that data client operations hang in the `blocking_send` function if the server fails with error. This causes the client to hang.

[code]

[2021-01-12 03:42] ericl opened #13354 "[core/client] Kill running actors and tasks when the client disconnects"
Currently, the Ray client server release object and actor references, but this doesn't kill them when they fall out of scope.

An easy way of doing this is to just disconnect from Ray when the number of connected clients falls to zero, and reconnect when a client connects (starting a new job).

[2021-01-12 04:01] #13145 closed

[2021-01-12 04:27] #13299 closed

[2021-01-12 05:22] #10437 closed

[2021-01-12 05:40] dchou1618 commented on #7648
The error would contain something along the lines of
`File ".../services.py", line 733, in check_version_info`. You could remove the error raised and replace it with a pass.

[2021-01-12 06:10] pcmoritz commented on #12719
For posterity: Unfortunately, just overriding the `__reduce__` method gives an error:
[code]

While there is a way to do it anyways (https://pypi.org/project/forbiddenfruit/), it is not portable and doesn't look very well supported.

[2021-01-12 06:51] ffbin commented on #13214
`running Alex's script with no_restart True`
batch {
  node_id: "\311\020\247\235uQ\205>\243\365\024\025\010\3310[\365\002SI\245\355\354m\342\3150\006"
  resources_available {
    key: "CPU"
    value: 8.0
  }
  resources_available {
    key: "memory"
    value: 94.0
  }
  resources_available {
    key: "node:30.52.220.53"
    value: 1.0
  }
  resources_available {
    key: "object_store_memory"

[2021-01-12 06:56] ffbin commented on #13214
`running Alex's script with no_restart False`
batch {
  node_id: "\270\251D\320\031\337\271\203>\363+B9\301\330n\035\326\274\215k\255)\333\301\032t\324"
  resources_available {
    key: "CPU"
    value: 8.0
  }
  resources_available {
    key: "memory"
    value: 96.0
  }
  resources_available {
    key: "node:30.52.220.53"
    value: 1.0
  }
  resources_available {
    key: "object_store_memory"

[2021-01-12 06:56] ffbin commented on #13214
@rkooo567 Do you expect `num_infeasible_requests_queued` to be 0?

[2021-01-12 07:44] clarkzinzow commented on #13085
If the user doesn't specify [`--redis-shard-ports`](https://github.com/ray-project/ray/blob/7166949194365593bb38813843d8a8ab6be38e06/python/ray/scripts/scripts.py#L241-L246), the Redis starter routine will [fallback to `None` for each port](https://github.com/ray-project/ray/blob/7166949194365593bb38813843d8a8ab6be38e06/python/ray/_private/services.py#L817-L818), and when [starting the Redis insta

[2021-01-12 07:54] brorro opened #13360 "[core] Ray prevents to set a write flag of numpy array."
### What is the problem?

I'm using ray==1.1.0, ubuntu==20.04 and pytorch==1.7.1.
When i try to set a flag of an array, numpy raises an exception,
`ValueError: cannot set WRITEABLE flag to True of this array`.
This happened after i got upgrade ray to 1.1.0 from 1.0.1.post1.
I needed to set write flag to make pytorch to construct tensors from the array, rather than copy and construct new tensor.

#

[2021-01-12 08:04] zhe-thoughts commented on #12812
@clarkzinzow Quick verification: this is only for tasks (instead of also for actors) right?

[2021-01-12 11:11] ffbin commented on #13214
I call `lease_client->CancelWorkerLease` in gcs actor scheduler and it will cancel actor creation request.
`running Alex's script with no_restart True`:
batch {
  node_id: "\206\363\344\377<3^\350y\'s\250\264x\214+\035\010<Us\177\255\323\362\"\035H"
  resources_available {
    key: "CPU"
    value: 8.0
  }
  resources_available {
    key: "memory"
    value: 99.0
  }
  resources_available {
    ke

[2021-01-12 12:55] YuxuanXie commented on #10761
I also met the same problem.....

[2021-01-12 14:14] #10360 closed

[2021-01-12 14:33] nirvana-msu commented on #12481
Just tried installing the latest nightly build instead with `pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.2.0.dev0-cp38-cp38-win_amd64.whl`

Running the same script:
[code]

Now it doesn't even go that far. `raylet.out` shows the following stack trace:
[code]

Full logs: [session_2021-01-12_14-26-09_265884_11184.zip](https://github.com/ray-project/ray/files/5802742/ses

[2021-01-12 15:18] clarkzinzow commented on #12812
@zhe-thoughts Yes, this is only for non-actor tasks! Actor tasks are executed on the same worker that hosts the particular actor, and actors are created without knowledge of future actor task dependencies, so there didn't seem to be much of an opportunity for locality-aware scheduling in actor task execution or actor creation.

[2021-01-12 15:18] HeylenJonas opened #13365 "[core] Unwanted pickling behaviour when starting remote actor with @propery"
When initiating a remote actor which has a property, it (the under-the-hood pickling) seems to trigger the execution of the property function, which is unwanted behaviour.
Strangely this only happens when the actor class definition is imported, and not if it is defined in the same file from which the remote actor is initiated...

*Ray 1.1.0, Python 3.7.7, Fedora 33*

### Reproduction
[code]
[code]

[2021-01-12 16:44] Matrix-World opened #13368 "[core] Does the communication between processes in the GPU also need to pass through ObjectStore?"
In Ray, the communication between processes is realized through shared memory (ObjectStore). When task gets the data object id, it can get the data with ray.get(). But there may be direct NVLink connections between GPUs, then the data generated by the process in the GPU is sent to the process in another GPU. Does the data transfer also need to go through ObjecStore? Can't data be transferred direc

[2021-01-12 16:57] umbernhard commented on #12128
Actually, I just built my own. I couldn't quite get the `ray-ml` equivalent to build, but for a RPi cluster I'm not sure that all of it is needed. I also ported from Conda to Pip where possible, which required some minor versioning fixes but nothing too serious.

aarch64 compatible docker images:
* base-deps: [umbernhard/base-deps-arm](https://hub.docker.com/repository/docker/umbernhard/base-deps-

[2021-01-12 17:08] monaxu1 opened #13369 "[autoscaler] How to start kubernetes autoscaler docker container with non-root user"
**Description:**
My goal is to start a k8s cluster/node with non-root user, say `jovyan`. I have added a user `jovyan` to  the docker image for kubernetes autoscaler and it works well locally. In addition, I added `- --user=jovyan` to the `run_options` in `autoscaler-k8s.yaml`. However, when I was trying to launch a k8s cluster via `ray attach autoscaler-k8s.yaml`, the user option doesn't seem to

[2021-01-12 17:57] rkooo567 commented on #13360
This is Ray's computation model (Objects in the store is immutable). cc @stephanie-wang Do you know any good way to get around this?

[2021-01-12 19:03] architkulkarni opened #13372 "[Metrics] Metrics are not exported when using different jobs"
### What is the problem?
In an ipython window, run
[code]
and leave it running.  In a second terminal, in an ipython window run
[code]

If you check localhost:9999, this metric never gets printed.  However, if you now go back to the first ipython window and paste in a different custom metric (say `fake_error_counter_2`), that metric will successfully be printed.

*Ray version and other system info

[2021-01-12 19:15] architkulkarni commented on #13180
Based on the error message, maybe this is related? https://github.com/ray-project/ray/issues/10564

[2021-01-12 19:17] simon-mo commented on #13180
Could be. Another complexity is that the router needs an asyncio loop to be running. We need to make sure the unpickle destination has such thread to host the router.

[2021-01-12 19:31] amogkam commented on #13149
Hi @richardrl just want to follow up here. Did the issue get resolved? If not, I'm more than happy to look into it if you could provide a reproducible example and more info about the full stack trace. Thanks!

[2021-01-12 19:53] andrew-rosenfeld-ts opened #13374 "[Tests] pytest cross-contamination: test_actor_advanced breaks test_actor_resources"
### What is the problem?

Running
[code]
and
[code]
pass individually, but if run together
[code]
fails with:
[code]

on my machine.

This is with a clean checkout of Ray master as of commit 3a3e4aed8624a68b89850051f0884b1ccb6336e8.
I am running Ubuntu 20.10 on a laptop without CUDA installed.
I am using Python 3.8.5.

### Reproduction
As above.

- [x] I have verified my script runs in a clean env

[2021-01-12 20:05] rkooo567 commented on #13368
cc @richardliaw

[2021-01-12 20:08] richardliaw commented on #13368
No, NVLink communication between GPUs don't need to go through the object store.

[2021-01-12 20:25] simon-mo commented on #13372
cc @rkooo567

[2021-01-12 20:41] ericl commented on #13374
@andrew-rosenfeld-ts we run tests with bazel (bazel test [targets]), so this isn't an issue. You can use that to run multiple tests in parallel. If running tests individually for debugging, you should make sure to run them one by one.

[2021-01-12 20:59] wuisawesome commented on #13214
Yes, I think the version with `lease_client->CancelWorkerLease` looks right.

[2021-01-12 21:08] #13246 closed

[2021-01-12 21:53] simon-mo opened #13377 "[Metrics] Metric.record without default tag set doesn't error."
### What is the problem?
The following doesn't throw any error but it should, because metrics without the tag value cannot be recorded:
[code]

**Please feel free to change the priority value**
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted

[2021-01-12 21:54] simon-mo opened #13378 "[Metrics] Metric creation doesn't fail without ray.init"
### What is the problem?
The following success but it should fail, because ray is not even initialized, there's no where to push metrics to:
[code]

either the constructor should fail, or the .record method should fail.

**Please feel free to change the priority value**

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide

[2021-01-12 22:00] amogkam commented on #13202
This has gotten worse- now a bunch of different tests in this suite are failing (https://github.com/ray-project/ray/runs/1689819726?check_suite_focus=true):

[code]

[2021-01-12 22:04] amogkam opened #13379 "[core/win] test_basic_client_mode failed on Windows CI"
### What is the problem?
https://github.com/ray-project/ray/runs/1689819726?check_suite_focus=true
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i

[2021-01-12 22:13] amogkam opened #13380 "[core/win] Re-enable test_actor_resources::test_actor_multiple_gpus_from_multiple_tasks on Windows CI"
### What is the problem?
https://github.com/ray-project/ray/runs/1689819726?check_suite_focus=true
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (

[2021-01-12 22:15] amogkam opened #13381 "[core/win] Re-enable test_actor_advanced on Windows CI"
### What is the problem?
https://github.com/ray-project/ray/runs/1689819726?check_suite_focus=true
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (

[2021-01-12 22:17] amogkam opened #13382 "[core/win] test_multi_tenancy timed out on Windows CI"
### What is the problem?
https://github.com/ray-project/ray/runs/1689819726?check_suite_focus=true
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (

[2021-01-12 22:20] amogkam opened #13383 "[core/win] Re-enable test_metrics_agent on Windows CI"
### What is the problem?
https://github.com/ray-project/ray/runs/1689819726?check_suite_focus=true
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (

[2021-01-13 00:35] rkooo567 commented on #11625
@micahtyong

[2021-01-13 01:11] ToruOwO opened #13387 "[rllib] Supporting vectorization of MultiAgentEnv within a single process?"
According to issue#4938, vectorization of MultiAgentEnv within a single process is not automatically handled, and one needs to create a custom class for that starting from BaseEnv.

Would you consider adding this support in the future? (So that vectorization is performed `num_envs_per_worker > 1`)
Thank you!

[2021-01-13 02:01] herunyu commented on #13227
@sven1977 Would you mind taking a few minutes to take a look at my question？Really appreciated it!

[2021-01-13 03:16] cfangplus commented on #13329
yea, thanks for your remind.
Another question, I note the paper of Ray and there is a performance evaluation between Ray + TF and Distributed TF.
This experiment used TF1.8 and relyed on parameter-server SGD, so now, is there some update compared with TF2 version, PyTorch or allreduce relyed SGD?

[2021-01-13 03:20] amogkam commented on #13329
I don't think we have updated benchmarks for Ray implementation of SGD.

There are some (outdated) benchmarks for the Ray SGD library: https://github.com/ray-project/ray/blob/master/python/ray/util/sgd/torch/examples/benchmarks/README.rst.

But the Ray SGD library is just a wrapper around Pytorch and Tensorflow, it doesn't actually implement its own communication primitives with Ray.

[2021-01-13 04:49] ericl commented on #13387
num_envs_per_worker > 1 works just fine with multi agent envs--- I believe that PR is referring to a special use case where the env itself is somehow hosting multiple logical episodes.

[2021-01-13 04:50] #13387 closed

[2021-01-13 08:29] cfangplus commented on #13329
Ray SGD library is just a wrapper around Pytorch and TensorFlow, is that true? I note from the paper that there is an experiment between Ray and OpenMPI ?  Also how to explain the evalution between Ray + TF and Distributed TF shows the former has better performance?

[2021-01-13 09:45] fyrestone opened #13395 "[dashboard] [RFC] Job submission"
### Background

Currently, a Ray job is usually started in 2 ways: 1) directly run a driver script from within the cluster; 2) use the `ray submit` command, which will copy the driver script to the cluster and run it.

There are a few problems with the current approaches:
- Users need to have access to log into the cluster, or have ray command installed in their laptops.
- There is no automatic wa

[2021-01-13 09:59] sven1977 opened #13396 "[RLlib] config.vf_share_layers should not silently overwrite `config.model.vf_share_layers` for PPO."
Andrew R. raised this on discuss.ray.io:

[code]

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / e

[2021-01-13 09:59] sven1977 commented on #13396
There is a function in ppo_tf_policy.py, which overrides the model config with the top-level one, so the answer is to always use the top-level config key: vf_share_layers to set this, if available:

def setup_config(...):
   ...
   # Auto set the model option for VF layer sharing.
   config["model"]["vf_share_layers"] = config["vf_share_layers"]
However, behavior is not coherent between PPO, MAML,

[2021-01-13 10:00] sven1977 commented on #13396
So the workaround for now is:
Only use vf_share_layers in the top-level config for PPO, not for any other algo. Also not for MB-MPO or MAML, where the overwrite is not implemented, but the top-level key does exist (but has no effect).
For PPO, you must use the top-level key as the model config key will always be silently overwritten.

[2021-01-13 10:18] sven1977 commented on #13396
This PR closes this issue:
https://github.com/ray-project/ray/pull/13397

[2021-01-13 10:18] #13396 closed

[2021-01-13 10:48] krfricke commented on #13360
See also https://docs.ray.io/en/master/serialization.html#numpy-arrays
I don't think there's a workaround for that - you'll either have to construct and store the array on the actor or create a copy.

[2021-01-13 10:51] krfricke commented on #13369
cc @ijrsvt

[2021-01-13 10:55] krfricke commented on #13340
Hm, is there any specific reason why you're not using docker containers?

Can you post the output of `/tmp/ray/session_latest/logs/monitor.log` and `monitor.err`?

Also cc @rkooo567

[2021-01-13 10:56] sven1977 commented on #13218
Great question, @sahikagenc . Let me try to make this work with the existing model building APIs. ...

[2021-01-13 11:00] monaxu1 commented on #13369
I also tried to switch user to jovyan in the autoscaler dockerfile, so the home path will be `/home/jovyan` instead of `/root`. This is my preferred way actually because it saves the hustle of manual configurations. However, `ray up` cannot get ssh connection to the k8s pod.

[2021-01-13 11:06] sven1977 commented on #13218
Btw, did you try simply sub-classing `SACTF|TorchModel` and then implement your own `get_q_value`, `get_policy_output`, etc.. logics?

[2021-01-13 11:24] Maltimore opened #13398 "[Tests] 21 unit tests fail due to ImportErrors after setting up development environment according to the docs"
### What is the problem?
Running the unit tests fails.

*Ray version and other system information (Python version, TensorFlow version, OS):*
ubuntu 20.04
Python 3.6
ray-nightly set up according to docs in a clean conda environment

### Reproduction (REQUIRED)
I set up the development environment according to

https://docs.ray.io/en/master/development.html#building-ray-python-only

and ran the unit

[2021-01-13 11:49] sven1977 commented on #13218
There is also a bug in SAC, which makes it not learn the "state-preprocessor" (e.g. when you use a CNN in front of the policy- and Q-nets). The problem is in SAC's `compute_and_clip_gradients` (tf) and `optimizer_fn` (torch), where the optimizers are  told to only optimize the policy and Q-nets, but never the pre-network.
Fixing this now ...

[2021-01-13 12:14] jtm101-code commented on #13340
Hi krfricke, thank you for replying.

Essentially, the problem i’m looking to solve is that I have a large code base, where within the pipeline of this code base I wish to multiprocess some functions that are currently just running in a for loop, (takes 50 hours to complete!).

My first attempt was to try it with a docker container, however for the life of me, I could not get it to work. What I ha

[2021-01-13 12:19] chenyuqi990215 opened #13399 "[core] error occur while using ray"
When using ray to run my project, I get the following error while invoke something like:
 `result = ray.get([f.remote(...) for _ in range(num_cpus)])`.

Could you please explain what is happening? Is it caused bacause I invoke `ray.get()` for many times.

[code]

[2021-01-13 12:21] krfricke commented on #13399
This looks more like your function cannot be pickled. Can you show us how your function looks like (i.e. `def f`)?

[2021-01-13 12:48] chenyuqi990215 commented on #13399
[code]

The types of each params are:

[code]

[2021-01-13 12:49] userbot2000 opened #13401 "Permission Error: [WinError 5] Access is denied: '(originated from OpenProcess)' combined with PermissionError: [Errno 13] assume access denied (originated from NtQueryInformationProcess(ProcessBasicInformation) -> STATUS_NOT_FOUND)"
I am trying to run multiple iterations of a model to tune it using the ray.remote function. I had completed the initial coding issues, i.e. installing the Visual C++ VC_redist.x64.exe and managed to get the program to work during the same day that I had installed it. I was able to get the results required.

The following day I had run the code, the PC had been powered down in between runs, and I r

[2021-01-13 13:03] nirvana-msu commented on #13296
I actually cannot reproduce it anymore.. I really can't tell why.. nothing changed, aside from me installing/uninstalling a number of different Ray wheels.

[2021-01-13 13:25] Maltimore commented on #13398
This seems to have been caused by installing with conda rather than pip.

[2021-01-13 13:25] #13398 closed

[2021-01-13 13:27] krfricke commented on #13399
Sorry I should have been more specific. Can you give us the full `conv_ray_function` definition?

[2021-01-13 13:34] chenyuqi990215 commented on #13399
I found the problem, thanks. It is because one of the element in the `dict` is not serializable!

[2021-01-13 13:34] #13399 closed

[2021-01-13 13:45] LucaCappelletti94 commented on #7718
@aretor  how did you end up passing the parameters? I'm facing the very same issue! Thanks!

[2021-01-13 13:46] #10348 closed

[2021-01-13 14:24] krfricke opened #13403 "[core] placement groups do not become `ready()` when too many PGs are requested at the same time"
### What is the problem?

MacOS, latest master. Also errors with the latest wheels.
Does not error with latest release (1.1.0)

When I start more placement groups than fit on my cluster, `pg.ready()` futures only become ready for the number of placement groups that immediately fit on the cluster. If I then remove these placement groups, subsequent placement groups do not become ready anymore (but

[2021-01-13 14:46] LucaCappelletti94 commented on #7718
I have resolved this issue by using the [tune.with_parameters](https://docs.ray.io/en/master/tune/api_docs/execution.html#tune-with-parameters) method.

[2021-01-13 15:05] andrew-rosenfeld-ts commented on #13374
@ericl Thanks for the info, though I would note that the [Testing section of the the Getting Involved page](https://docs.ray.io/en/latest/getting-involved.html#testing) suggests using pytest (on the whole suite), not bazel.

So there's a documentation bug if nothing else.

[2021-01-13 15:19] george-gca opened #13404 "[tune] Missing handle in pytorch lightning integration"
### What is the problem?

Tune can't find `ptl/val_loss` even though it exists, when using logger `agg_and_log_metrics`.

[code]

Ray: 1.1.0
Python: 3.8.3
Pytorch: 1.7.0
Pytorch Lightning: 1.1.3
OS: Ubuntu 16.04

### Reproduction (REQUIRED)
Same code as given in the [example](https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/mnist_pytorch_lightning.py), only changed the `vali

[2021-01-13 15:27] ijrsvt commented on #13369
@monaxu1 What errors do you get?

cc @DmitriGekhtman

[2021-01-13 15:29] imxuemei opened #13405 "[rllib] I can't use QMixTrainer trainer.compute_action to obtain an action."
I took TwoStepGame for an example. My code is as follows.
I have tried different obs from TwoStepGame or TwoStepGame.with_agent_groups. It always obtained different errors.
Can any one tell me how to obtain actions from multi-agent env based on QMixTrainer?

`trainer = QMixTrainer(env="grouped_twostep", config=config)
    for i in range(1):
        res = trainer.train()
        print('==iter==')

[2021-01-13 15:35] george-gca commented on #13404
Just realized after opening the bug that `agg_and_log_metrics` is specific to the logger, so it probably doesn't update the [trainer.callback_metrics](https://pytorch-lightning.readthedocs.io/en/latest/trainer.html#callback-metrics) that is used inside the [_handle](https://github.com/ray-project/ray/blob/4853aa96cbbea76e69c3e48802ce7408f08669ee/python/ray/tune/integration/pytorch_lightning.py#L17

[2021-01-13 17:24] richardliaw commented on #13403
cc @rkooo567 FYI this is blocking Ray Tune usage of placement groups

[2021-01-13 17:30] stephanie-wang commented on #13360
Yes, the behavior is expected. The reason objects are immutable is to prevent possible inconsistencies with anyone else that has a reference to the same object (`client` in this case). If you want others to see the updates, you should wrap the `Client()` object in an actor, as @krfricke suggested. Otherwise, creating a copy should work.

[2021-01-13 17:33] DmitriGekhtman commented on #13369
I don't think the `run_options:` field is supported in this context.

@monaxu1 could you include the Dockerfile you are using to build `autoscaler:test` and the full `autoscaler-k8s.yaml`?

[2021-01-13 18:02] monaxu1 commented on #13369
I'm using ```ray, version 0.8.7``` to run `ray up`.

For building `autoscaler:test`, I used WHEEL_NAME = "ray-0.9.0.dev0-cp37-cp37m-manylinux1_x86_64.whl"

Please find attached Dockerfile and fix-permissions (Note:  remove .txt from filenames)
[Dockerfile.txt](https://github.com/ray-project/ray/files/5810305/Dockerfile.txt)

[fix-permissions.txt](https://github.com/ray-project/ray/files/5810308/fi

[2021-01-13 18:19] monaxu1 commented on #13369
If I switch to a non-root user in the docker, running `ray up` gets stuck for ssh connection. The reason I suspect is that the home path was changed from `/root` to `/home/jovyan`. Maybe `ray_bootstrap_config.yaml` couldn't be found or something else. I'm not entirely sure why.

[2021-01-13 18:24] Manuscrit commented on #12861
I had a similar problem. I found that when using: ` "_use_trajectory_view_api": True,` (default to `True` in RLLib 1.1.0) then the rollout worker will use the method `policy.compute_actions_from_input_dict` instead of `policy.compute_actions`.
I guess you can set it to `False` in your rllib config dict or refactor your code to work with `compute_actions_from_input_dict`.

[2021-01-13 18:37] jamesliu opened #13407 "Hang or Deadlock when calling ray.get() inside pytorch Dataset when DataLoader with num_workers >0"
Ray
### What is the problem?
When num_workers > 0 in PyTorch DataLoader, the ray.get hangs forever. It is ok when num_workers =0
*Ray version and other system information (Python version, TensorFlow version, OS):*
I tested in Ubuntu, Python 3.7, Pytorch 1.7.0
### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the is

[2021-01-13 19:07] ericl commented on #13395
@fyrestone could you comment on what this feature needs from Ray core? In particular, I'm trying to get an idea of whether it could be implemented more as a "Ray plugin" or if it needs to be deeply integrated with the system.

It sounds like there are a few components that could be started as separate services from Ray core:
1. API server
2. Agent daemon on each node
Presumably the Raylet needs to

[2021-01-13 19:33] rkooo567 commented on #13407
cc @richardliaw

[2021-01-13 20:00] rallen10 opened #13412 "[rllib] [tune] Error when training Unity MLAgents env with num_samples > 1"
When trying to train an mlagents environment using rllib with num_samples > 1, I get the following error:

[code]

[2021-01-13 20:01] rallen10 opened #13413 "[rllib] [tune] Error when training with Unity MLAgents env with and num_samples > 1"
When trying to train an mlagents environment using rllib with num_samples > 1, I get the following error:

[code]

[2021-01-13 20:12] edoakes opened #13414 "[ray_client] ray.get_runtime_context doesn't work with Ray Client"
### What is the problem?

`ray.get_runtime_context` is used in Ray Serve to identify the `NodeId` of the head node to place specific actors there. I'd expect that this returns the runtime_context of the job that is running on the ray client server. Right now, it just errors.

[code]

[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can b

[2021-01-13 20:16] edoakes opened #13415 "ray.get_runtime_context().get() fails on a driver"
### What is the problem?

`ray.get_runtime_context().get()` errors when running on a driver. This should still return the useful context information (e.g., current node ID) or at the very least have a better error message.

[code]

[code]

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [ ] I have verified my script runs in a clean environment an

[2021-01-13 20:17] rkooo567 commented on #13415
Ah I think this should be a simple fix. I will take a look at it later.

[2021-01-13 20:33] edoakes commented on #13415
@rkooo567 yeah it ended up being really simple so I just made a quick PR to fix, PTAL when you have a chance.

[2021-01-13 20:35] edoakes opened #13418 "[ray_client] Error in background thread during teardown when using ray.connect"
### What is the problem?
Running this simple script:

[code]

If the sleeps are commented out, I get some nasty exception from a gRPC thread:
[code]

Reverting 0b22341bc9a693ef94da06fd274f8a7454d9f94b fixes the issue.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/mas

[2021-01-13 20:53] edoakes opened #13419 "[metrics] Bad error message for non-string tags"
### What is the problem?

[code]

[code]

Two issues:

1. The error message is bad.
2. The `set_default_tags` call should have failed.

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

[2021-01-13 21:14] barakmich commented on #13418
Doesn't affect Linux, repros on macOS

[2021-01-13 21:23] barakmich commented on #13418
can also get a (different but related) crash with Linux

[2021-01-13 21:36] #13418 closed

[2021-01-13 22:39] #10045 closed

[2021-01-13 23:05] architkulkarni opened #13426 "[Doc] Updated library dependencies aren't captured in nightly install"
### What is the problem?

Since the latest release (Ray 1.1.0), the package `starlette` has been added as a dependency to Ray Serve.  It appears in `requirements.txt` and `setup.py` alongside the other Ray Serve requirements.  However, when following the instructions for installing nightly builds https://docs.ray.io/en/master/installation.html#daily-releases-nightlies the package `starlette` doesn

[2021-01-13 23:13] raoul-khour-ts opened #13427 "[RLlib] Trainer._validate_config(config) is no longer idempotent"
### What is the problem?
Trainer._validate_config(config) is no longer idempotent

the issue was introduced in https://github.com/ray-project/ray/commit/d49c3fae0bc339c51468b91af773199848df95f5

If you run Trainer._validate_config(config) 2 times on the same config it will throw a value error saying framestack should be auto|None when it changed framestack to 0 in the first call.

This happens com

[2021-01-13 23:14] raoul-khour-ts commented on #13427
@sven1977 Can you look at this?

[2021-01-13 23:32] architkulkarni commented on #13426
My fault, the `ray` command in `ray install-nightly` was coming from some other directory in my PATH.  After removing this, the install works.

[2021-01-13 23:32] #13426 closed

[2021-01-14 00:07] amogkam opened #13430 "cpp:cluster_mode_test is failing on CI"
### What is the problem?
cpp:cluster_mode_test is failing consistently on master.
[code]
https://travis-ci.com/github/ray-project/ray/builds/212945701
https://travis-ci.com/github/ray-project/ray/builds/212953133
https://travis-ci.com/github/ray-project/ray/builds/212955028
https://travis-ci.com/github/ray-project/ray/builds/212957110

*Ray version and other system information (Python version, Ten

[2021-01-14 00:54] brorro commented on #13360
It's so sad that I have to constantly copy large memory that will not changed in whole life time. Wrapping the `Client()` in an actor is not an option because it has to be dynamically distributed to actors.

[2021-01-14 01:08] stephanie-wang commented on #13360
Hmm I think I misunderstood your original error. I didn't realize that the error was from setting the flag, not from writing directly to a read-only array. I'm not sure that this is a Ray error, actually. What numpy version are you using? There's a similar issue described [here](https://github.com/pandas-dev/pandas/issues/24839).

[2021-01-14 01:09] ericl opened #13431 "Autoscaler demands accumulate infinitely"
### What is the problem?

On a simple workload, `ray.get([f.remote() for _in range(1000)])`, where the functions just sleep for 30s, `ray status` shows demands accumulating forever on master:
[code]

cc @AmeerHajAli @wuisawesome

[2021-01-14 01:16] deeplearningrobotics opened #13432 "[rllib] Observations are forced to be a float numpy array?"
### What is the problem?

Ray version 1.0.1 with TF 2.2

I have complex observations containing of strings but also float arrays. It seems RLlib only accepts float numpy arrays or dicts/lists of those as observations from a custom environment.

Does some documentation exist on how to get complex non-float observations to work?
Either complex observations always end up as a float tensor or RLlib th

[2021-01-14 01:24] sc779733661 commented on #5488
Has anyone encountered and solved this problem?I have the same problem

[2021-01-14 01:27] brorro commented on #13360
The version is 1.19.2 And yes you're right that error occurs exactly when the flag is edited. I hope there is a way to handle this issue.

[2021-01-14 01:30] stephanie-wang commented on #13360
Have you tried checking the versions of your other installs according to
the link that I sent you? Maybe yours is the same problem.

On Wed, Jan 13, 2021 at 5:28 PM Dongseok <notifications@github.com> wrote:

[2021-01-14 01:37] ericl opened #13433 "test_autoscaling_policy.py prints out huge pile of JsonErrors"
### What is the problem?

The emulated autoscaling policy tests is impossible to use due to

[code]

The test should be fixed to use a mock command runner. cc @AmeerHajAli @wuisawesome

[2021-01-14 02:01] brorro commented on #13360
`numpy==1.15.4` resolved the issue, but it's too old to satisfy other packages' dependency.

[2021-01-14 02:15] architkulkarni commented on #13372
Inspecting the logs for the second driver process in the above example (the one whose metric never gets exported) reveals the following:

[code]

[2021-01-14 02:29] amogkam commented on #13430
@ericl @AmeerHajAli this is now failing consistently on master.

It appears to be stemming from https://github.com/ray-project/ray/pull/13350, though Eric mentioned that it is unrelated.

Can you guys either:
1) Revert the PR (merge https://github.com/ray-project/ray/pull/13429) if it is in fact the source of the error
2) If the PR is unrelated, then fix the error immediately (I will follow up aga

[2021-01-14 02:32] stephanie-wang commented on #13360
Okay, I'm closing this issue since it appears to be a problem with other libraries, not Ray. Good luck tracking this down!

[2021-01-14 02:32] #13360 closed

[2021-01-14 02:40] amogkam opened #13438 "cluster_task_manager_test is failing consistently on CI"
### What is the problem?
[code]
Seems to stem from https://travis-ci.com/ray-project/ray/jobs/471244009

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.

[2021-01-14 02:52] amogkam opened #13439 "test_basic::test_many_fractional_resources failing on Linux Wheel Build"
### What is the problem?
test_basic::test_many_fractional_resources is sometimes failing on Linux Wheel Build
[code]
https://travis-ci.com/github/ray-project/ray/jobs/471522293
https://travis-ci.com/github/ray-project/ray/jobs/471519722

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 5

[2021-01-14 02:52] amogkam commented on #13439
@ericl I am assigning this to you, but please delegate it to whoever can take a look.

[2021-01-14 03:57] rkooo567 commented on #13372
Yeah I think this is the same issue as what I found from the product.

[2021-01-14 04:57] brorro commented on #13360
I'm not sure this is related to other libraries, considering that previous Ray release just worked fine. The only thing I have changed was to upgrade Ray to 1.1.0. Anyway I have no choice but to stick with 1.0.1...

[2021-01-14 05:14] nadidata opened #13441 "object store because it is full error, even though spill enabled"

[2021-01-14 05:15] #13441 closed

[2021-01-14 05:23] rkooo567 commented on #13441
Hi, @nadidata what was the issue here?

[2021-01-14 05:55] srikanthgadadasu opened #13443 "[core] ray.exceptions.ObjectStoreFullError: even though i enabled spill"
[test_pipeline_using_ray.txt](https://github.com/ray-project/ray/files/5812544/test_pipeline_using_ray.txt)
When i am passing 5m records dataframe to the actor method, its failing with below error, even-though i am using latest beta version of ray where data spill is enabled. and how to make sure all temporary files created during process will be removed after completition of the program?

File "p

[2021-01-14 05:58] DmitriGekhtman commented on #13369
@monaxu1

Hmm -- two things I could suggest:

(1)
You're likely to have better results with newer versions of Ray both for launching Ray and for the wheels used in the container image. You could try out the latest release version 1.1.0 or, better yet, the nightly wheels (https://docs.ray.io/en/master/installation.html#daily-releases-nightlies)
Is there anything blocking you from using a newer vers

[2021-01-14 05:59] ggservice007 commented on #13327
Base exectuor:

## src/prefect/executors/base.py

https://github.com/ggservice007/prefect/blob/ray-executor/src/prefect/executors/base.py

[code]

## src/prefect/executors/dask.py

https://github.com/ggservice007/prefect/blob/ray-executor/src/prefect/executors/dask.py

[code]

    Using a temporary cluster running elsewhere. Any Dask cluster class should
    work, here we use [dask-cloudprovider](

[2021-01-14 06:00] ggservice007 commented on #13327
## src/prefect/executors/ray.py

https://github.com/ggservice007/prefect/blob/ray-executor/src/prefect/executors/ray.py

[code]

@12982    any idea? any guideline? how to do?

[2021-01-14 06:10] rkooo567 commented on #13443
Thanks for reporting the issue! (With reproduction). I will take a look at the issue.

For deleting objects, spilled objects are automatically deleted when object is not used anymore (by our reference counting protocol). But if you shutdown the cluster with ctrl - c it is currently not deleted. We will support deleting the directory when ctrl c is triggered, but for now you can just delete the dir

[2021-01-14 06:28] ericl opened #13445 "You get 401 unauthenticated errors until the Grafana or Jupyter link is clicked from the UI at least once"

[2021-01-14 06:28] #13445 closed

[2021-01-14 06:41] ericl opened #13446 "Ray client connect retries not sufficient: sometimes get 502 error"
I don't believe the `channel_ready_future()` is sufficient to guarantee the connection is ready, since sometimes I still see a 502 error from the data client.

How about we issue a health check RPC and destroy/recreate the channel if that fails?

cc @barakmich

[code]

[2021-01-14 07:57] fyrestone commented on #13395
This implementation is more like a `Ray plugin`, it is decoupled from Ray core. As you mentioned, the core components of job submission feature are:
1. API server _(The **head** part of dashboard job module)_
2. Agent daemon on each node _(The **agent** part of dashboard job module)_

But, we still need some features from Ray core:
- New grpc APIs to GCS and raylet.
- Driver node selection logic i

[2021-01-14 07:57] johannespitz opened #13447 "[tune] Starting multiple trails, each with remote workers, hangs"
I am working on a 16 Core machine with Python 3.7.7 and ray1.1.0 installed via pip.

When trying to use tune to run multiple RL trails, where each trail uses a couple of remote workers, the program simply hangs forever. This problem seems closely related to issue #3644 regarding nested remote calls. However, I think in this case it should be fairly simple to fix.

A minimal example to reproduce th

[2021-01-14 08:39] ffbin commented on #13403
@krfricke @richard4912 @rkooo567 I have find the raylet scheduling bug, and i will submit a PR to fix it, thx.

[2021-01-14 08:41] LucaCappelletti94 opened #13449 "[Tune] Automatically retrieve metric lists when using TuneReporterCallback for Keras models."
### Describe your feature request
Currently, in order to report all the metrics computed by my model, which in classification tasks is particularly of interest, I am using the following code snippet:

[code]

Now, that can be easily automated within the TuneReportCallback class by using the `self.model` object available in Keras callbacks and we could reduce the usage example to:

[code]

where si

[2021-01-14 09:24] monaxu1 commented on #13369
Thanks. I'll try to use newer versions of ray for launching and docker. The python version 3.7 is mainly restriction, but I assume there should be compatible new ray version?

Yes, I did see the pod was launched successfully and it's just Ray wasn't able to `kubectl exec` on that pod. Is there any other command I could try with `kubectl exec` to confirm what was missing?

[2021-01-14 09:38] krfricke commented on #13447
Hi @johannespitz, indeed there is - [see here in the docs (Advanced resource allocation)](https://docs.ray.io/en/master/tune/api_docs/trainable.html#advanced-resource-allocation).

You're correct to use `resources_per_trial`, however, the `cpu` and `gpu` indicate the resources for the trainable actor. If that actor requests more resources, you can reserve them via the `extra_cpu` and `extra_gpu` f

[2021-01-14 09:45] krfricke commented on #13449
Hi @LucaCappelletti94, yep, that makes sense - however I was under the impression we're already doing that:

[code]

Do I assume correctly that this currently does not work? If so, a contribution is much appreciated. It would be great if you could add a test for this then.

[2021-01-14 09:52] johannespitz commented on #13447
Thank you for quick response, and the detailed answer!
This is exactly what I was looking for.

[2021-01-14 09:52] #13447 closed

[2021-01-14 09:53] LucaCappelletti94 commented on #13449
You are absolutely right, somehow it flew over my head. It is documented in the main docstring.

Thanks!

[2021-01-14 09:53] #13449 closed

[2021-01-14 09:59] volodymyrPivoshenko commented on #11728
@erezinman Hi👋 I had a similar issue, to solve it reinstall `ray` and then run:

[code]

I have Python 3.6.5 and Windows 10 (Mac OS Big Sur), `ray 1.1.0`

[2021-01-14 10:13] krfricke commented on #13404
Hi @george-gca, yes, that seems to be the case - the pytorch lightning logger does not update the callback metrics, so you'll have to do the aggregation yourself.

A hacky way would be to just call `self.logger._aggregate_metrics` to do this without you having to implement it youself: https://github.com/PyTorchLightning/PyTorch-Lightning/blob/0.7.2/pytorch_lightning/loggers/base.py#L82 (it's hacky

[2021-01-14 11:52] CheungChan opened #13453 "[core] can I use an external redis server?"
如题，申请了云redis做ray集群的GCS。但是启动ray start --head --address 会报错--head和--address不能一起用。
如果使用ray start --address又会报错redis中session_name键不存在。

[2021-01-14 11:53] Matrix-World commented on #13368
thank you for your reply. @richardliaw
In addition, I have two questions:
1. In fact, there is no NVLink connection between the GPUs of our machines. When the processes in the GPU communicate, the data needs to go through the PCIe Bus and memory. In this case, will the data generated by the process in the GPU also be stored in the ObjectStore? Does another process in the GPU obtain data through ob