[2020-05-08 00:28] richardliaw commented on #8333
Hm, 0.6.3 is essentially deprecated. This is a poor suggestion but does it make sense just to nuke the repo and cp a new set of files over for 0.8.5?

[2020-05-08 01:46] rkooo567 commented on #8359
This is actually not straightforward. The problem is that when the task is executed locally, it doesn't create Fiber & set the current actor as async. The latter is easy to solve, but the first one makes the code path a little messy because it requires core_worker to have FiberState class only for the local mode...

[2020-05-08 02:20] justinkterry commented on #6668
@ericl I'm having this exact problem too (same tf version, cuda version, cudnn) over multiple machines. Please reopen the issue.

[2020-05-08 02:23] ericl commented on #6668
Can you try "simple_optimizer": true and see if that works?

[2020-05-08 02:49] rkooo567 commented on #8359
@ijrsvt I think I can make a fix by tonight, so you don't need to work on this.

[2020-05-08 03:26] VoVAllen opened #8360 "[ray] Avoid extra copy and specify location of object storage"
### What is your question?

I want to use ray to build a distributed embedding server. In my settings, there are several servers holding parts of embeddings each (say server 1 holds 0-99, server 2 holds 100-199 etc), with large memory. And there are several workers fetching the embedding needed by id and updates those embeddings later.

The tricky thing here is that I only want to preserve one cop

[2020-05-08 04:28] he-mark-qinglong opened #8361 "rllib, ParametricAction support with using APEX agent"
### What is your question?
* Enviroment: ray 0.8.4, tensorflow 2.1.0 linux(ubuntu-18.04)

The documents said [https://docs.ray.io/en/latest/rllib-models.html#variable-length-parametric-action-spaces](url) dqn and policy gradient support ParametricAction Model, but I have Test the example with APEX agent,  turned out it's not OK.

I have test a pure APEX(which configured "hiddens":[] and "dueling":

[2020-05-08 06:08] he-mark-qinglong commented on #8361
Expand the num_envs_per_worker to 2, the dqn also won't improve( convergency).

[2020-05-08 06:11] hkvision commented on #8336
Yeah. Coz our team works on running on cpu servers... so we use cpu only for now...
Under the case I use cpu only, the code forces the resource of each worker to 1 cpu, won't it hinder the performance? since each worker only runs one core...
Thanks!

[2020-05-08 06:19] rkooo567 commented on #8359
Okay. I have been digging into this, and it is pretty tricky because there's only one core worker for local mode. That says we cannot corrupt the core_worker state as async actor state. This requires some decent amount of refactoring. As you cannot use 0.8.5 until the next release, I will postpone the fix to the next sprint and set the priority as P1.

[2020-05-08 06:26] #8319 closed

[2020-05-08 06:29] sven1977 commented on #8303
Hey @0luhancheng0 . I'm very sorry, but we have decided that we don't want to add support for wrapping MultiAgentEnvs (which are not gym.Env children) with gym.Wrappers. In order to handle reward shaping for our MultiAgentEnvs, could you simply write your own custom wrapper or post processing function that takes the rewards and manipulates them?
Again, sorry for the inconvenience, but we don't wan

[2020-05-08 06:34] VoVAllen commented on #8360
Is the `lru_evict` option cluster-wise or node-wise(per plasma store)?
If I have one object id alive, and it stays in two machines plasma store, can I only preserve one of them?

[2020-05-08 06:36] Carlz182 opened #8362 "Imitation loss schedule - access number of steps taken in custom_loss [rllib]"
I was following the example script for a custom loss function. I am interested in bootstrapping my policy with a dataset from an algorithmic supervisor. However, the demonstrations are not perfect so at some point I would like the influence of the imitation loss to decrease to zero and let the policy loss take over. In the example the influence of the imitation loss is hard coded with 10 but I wou

[2020-05-08 09:04] PidgeyBE opened #8365 "[ray] Pyarmor compatibility"
### What is the problem?
When trying to execute pyarmor obfuscated scripts in ray, we are facing issues with the python `dis` package. We are using Actors. Depending on how Actors are instantiated, the error occurs at a different place:
* When using the `@ray.remote` decorator, python crashes here: https://github.com/ray-project/ray/blob/master/python/ray/cloudpickle/cloudpickle.py#L440.
* When us

[2020-05-08 11:10] duburcqa commented on #8335
I can confirm the issue. Replace line 235 of `ray/rllib/policy/torch_policy.py` by
[code]
fixes the issue on my setup. It should work both with or without gpu.

[2020-05-08 11:44] jsztompka opened #8367 "How can I use new optimizers from tf-addons?"
https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/LAMB

I've tried to modify the optimizer directly but it seems to be using old API which requires deprecated method compute_gradients()

Is there any plan to update this in the upcoming release?
There are quite a few new optimizers in Keras and tf addons and they may cut the training time.

Thanks
Jed

[2020-05-08 12:10] #6030 closed

[2020-05-08 12:11] pengzhenghao commented on #7415
The A3C are still not working in latest 0.8.5... My gym is 0.17.1 Try to run the following codes:

[code]

A3C raise error very quickly.

On the other hand, A2C and IMPALA would not raise error. But they also can't get improvement even trained for sufficient time.

[code]

IMPALA can not provide improvement in 300k steps (for all 5 trials) and the reward goes to -130.

A2C gets -120 reward in 300k

[2020-05-08 12:58] futurepaycc commented on #6900
same problem , any new progress?

[2020-05-08 13:00] mehrdadn commented on #6900
@futurepaycc to clarify, are you seeing `ValueError: invalid literal for int() with base 10: b'kB'` on WSL, or a different issue?

[2020-05-08 13:04] duburcqa opened #8368 ""lr_schedule" option ignored using torch framework and PPO algorithm"
*Ray version and other system information (Python version, TensorFlow version, OS):*
- Ray: [0.9.0.dev0 (2c599dbf05e41e338920ee2fbe692658bcbec4dd)](https://s3-us-west-2.amazonaws.com/ray-wheels/releases/0.8.5/02c1ab0ec6d615ad54ebf33bd93c51c04000534e/ray-0.8.5-cp36-cp36m-manylinux1_x86_64.whl)
- CUDA: 10.1
- Pytorch: 1.4.0 with GPU support
- Ubuntu 18.04
- Python 3.6

### What is the problem?

Sett

[2020-05-08 13:15] futurepaycc commented on #6900
just as "
F0123 14:09:07.020850 1052 redis_context.cc:215] Could not establish connection to redis 10.46.89.57:57714 (context.err = 1)
*** Check failure stack trace: ***
@ 0x7f9b27d3f98d (unknown)
@ 0x7f9b27d40dfc (unknown)
"

[2020-05-08 13:17] mehrdadn commented on #6900
Ah okay, unfortunately I'm not sure at the moment, maybe someone else has found a workaround?

[2020-05-08 13:20] futurepaycc commented on #6900
bad luck, previous ideas not work for me

[2020-05-08 14:53] OnTheRicky commented on #8294
Here is the error trace for what happens when I follow the procedure as set out above.
I don't know if it is because I'm running on two workers, that one deletes the agent and the other still somehow has the agent in the action_dict?

Traceback (most recent call last):
  File "test_rllib_fc_maintenance.py", line 53, in <module>
    print(pretty_print(ppo_trainer.train()))
  File "/usr/local/lib/py

[2020-05-08 14:55] nmayhall-vt commented on #3644
@robertnishihara Thanks so much! I _think_ it after giving the warning it would have succeeded, but I can't say for sure because the issue only showed up for a large enough problem that was too big for my computer to handle.

[2020-05-08 15:04] yutaizhou commented on #8313
Great, thank you Richard!

[2020-05-08 15:19] sven1977 commented on #8368
Thanks for filing this issue @duburcqa . Will take a look ...

[2020-05-08 15:28] OnTheRicky commented on #8294
I had the other issue wrong, it's #4526

[2020-05-08 18:50] pmacalpine commented on #7693
As of the ray 0.8.5 release rllib has better support for recurrent torch models so closing this issue.

[2020-05-08 18:50] #7693 closed

[2020-05-08 19:45] Fabien-Couthouis commented on #8185
Hi @akharitonov, thanks for your reactivity!

[2020-05-08 19:45] #8185 closed

[2020-05-08 19:58] andyk opened #8373 "`requests` dependency missing on `import ray.rllib.agents.ppo`"
### What is the problem?
After creation of a new conda env (python=3.7.3, pip=19.0.3) and only installing ray[rllib], i run `from ray.rllib.agents.ppo import PPOTrainer` and get error saying that I need to install `requests`.

It looks like import and where the error is thrown in [web_server.py lines 15-12](https://github.com/ray-project/ray/blob/304e31b7e56ebd33f7099d97233e3feb37f495c9/python/ray

[2020-05-08 20:03] ijrsvt commented on #8359
@rkooo567 I can help with it next sprint as well.
@allenyin55  What is your use case with using async tasks in local mode ?

[2020-05-08 20:05] rkooo567 commented on #8359
@ijrsvt He should run the integration test with local mode, and his integration test contains an async actor.

[2020-05-08 20:16] ijrsvt commented on #8359
@rkooo567 Is this for a new integration test or an existing one? I don't know if there are a ton of use cases where `local_mode` and async actors will be used together. I'm not sure it fits in the  definition of local_mode as emulating serial python?

[2020-05-08 20:23] rkooo567 commented on #8359
I guess @allenyin55 can answer better for the question. But I believe it was a new one, and he said he should use local mode.

I don't know well about the purpose of local mode, but my impression is that it is the most useful when you want to reduce the test load (meaning mostly for unit / integration test). If so, I believe it should return the same output as non-local-mode for every API.

[2020-05-08 22:28] waldroje commented on #6030
Looking forward to checking out the Transformer! Thanks a lot for all the hard work!

[2020-05-08 23:53] ericl commented on #8373
@richardliaw do we just need to make this INFO log instead of logger.exception()?

[2020-05-09 01:41] richardliaw commented on #8373
Yeah, thatd work.

[2020-05-09 02:48] SuhitK opened #8379 "[RLLib] Loading keras weights in Model and using the Tune API"
### What is your question?
Similar to [#7046](https://github.com/ray-project/ray/issues/7046), I'd like to load weights of my keras model that was trained outside of RLLib. But, I'd also like to use Tune for hyperparamter search. How do I load the pretrained model and also use tune.run for my experiments?
*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: 0.8

[2020-05-09 03:10] ericl commented on #8041
https://github.com/ray-project/ray/pull/8380/files should fix this, please give it a try!

[2020-05-09 03:14] justinkterry commented on #7635
@sven1977 @ericl Somehow this fix hasn't made it into the nightly build, and this bug is causing a problem for me. Can you please fix this?

[2020-05-09 03:20] #7517 closed

[2020-05-09 06:17] raulchen commented on #8329
Should be fixed by https://github.com/ray-project/ray/pull/8337. Could you confirm when you have time? thanks.

[2020-05-09 07:45] hkvision commented on #8005
Oh, seems my problem gets resolved after making `timeout` larger when `init_process_group`... Default only 10s.

[2020-05-09 08:07] ericl commented on #8379
cc @richardliaw the new tune functional API could work here. I guess we need way of specifying the resource requirements that the RLlib Trainer defines right now via a static method.

[2020-05-09 09:38] papilloncode opened #8383 "Tune error for PyTorch model"
### Error trying to use tube for hyperparameter tuning for a PyTorch model?

*Python version: 3.7.0, Torch version: 1.1.0.post2, Ray version 0.8.5, MacOS :*

Hi all,

It's the first time I am trying to use Tune for my PyTorch model. My model itself is running OK however when I tried to use Tune I got the following:

`    def train_model(N_EPOCHS):

    for epoch in range(N_EPOCHS):

        start_

[2020-05-09 10:45] ManuelZierl opened #8384 "[rllib] QMIX doesn't learn anything"
I've alread posted this question on stackoverflow but since i didn't got an answer there i will repost it here (https://stackoverflow.com/questions/61523164/ray-rllib-qmix-doesnt-learn-anything)

I wanted to try out the QMIX implementation of Ray/Rllib library but there must be something wrong of how I'm using it because it doesn't seem to learn anything. Since I'm new to Ray/Rllib I started with

[2020-05-09 12:00] mehrdadn opened #8385 "Error while shutting down Ray"
### What is the problem?

I believe this problem has existed for a long time; currently I'm reproducing it on the latest master (`93138e6`) using Python 3.7 (miniconda) on Ubuntu.

### Reproduction (REQUIRED)

Create `python/test.py`:

[code]

Now `cd python && pip install -e .` and run the code to get this:

[code]

Note that the errors and stack traces can vary (depending on during which call Re

[2020-05-09 16:38] JosephTLucas commented on #4814
I was looking through the code.  Is this already done?
https://github.com/ray-project/ray/blob/2677b7100306f2e5689ab6bebdc264a0e37930ae/python/ray/tune/tune.py#L283

[2020-05-09 17:04] rkooo567 commented on #8385
I guess some of components still try to access the worker that is killed by os.kill?

[2020-05-09 18:21] richardliaw commented on #4814
Ah it's not actually done yet. Feel free to give it a shot; @ me if you get stuck!

[2020-05-09 18:39] richardliaw commented on #8383
I think the typo is:

[code]

[2020-05-09 20:27] #8307 closed

[2020-05-09 21:35] richardliaw commented on #8379
Hypothetically, you can pass in a function to `resources_per_trial`.

[2020-05-09 21:41] ericl commented on #8379
You mean an API like this?
[code]

[2020-05-09 21:48] richardliaw commented on #8379
yeah

[2020-05-09 22:23] pcmoritz commented on #8359
I just did a bisection and this regression was introduced in https://github.com/ray-project/ray/pull/7670.
We need to either fix it or give a better error message that async actors are not supported in local mode.

We use async actors in local mode for testing, to make sure that the test code can be run in a single process, which allows us to mock certain methods in that process (which get called

[2020-05-10 04:44] rkooo567 commented on #8359
The fix could be actually pretty simple if we assume these 2 cases for local mode.
1. All coroutines are scheduled and running synchronously
2. We don't support low-level asyncio APIs inside async actors.

In this case, we just need to check if the function is coroutine and run the event loop + coroutine in the main thread until it is done. @pcmoritz @ijrsvt do you guys think it is a valid premise

[2020-05-10 06:12] ijrsvt commented on #8359
@rkooo567 I think that is a great idea. It fits with the logic of local mode being _serial_ python. It may be worth renaming it 'serial' mode to make its intended use case more obvious.

[2020-05-10 11:30] Tabbi7 opened #8389 "Error connecting to Redis server at 127.0.0.1:35709"
### What is the problem?

I'm trying to use the framework Flow included in flow-project (https://github.com/flow-project/flow) that has a problem with Ray. In fact, I have the error "Waiting for redis server at 127.0.0.1:35709 to respond...": I'm not able to connect to the Redis server.

<img width="1163" alt="Schermata 2020-05-10 alle 13 23 18" src="https://user-images.githubusercontent.com/17814

[2020-05-10 11:35] GoingMyWay commented on #8326
@J1810Z  Same issue and the task got stuck and was pending.

[code]

[2020-05-10 11:42] GoingMyWay commented on #6781
@camcastera

Same issue, why reinstalling ipython can help?

[2020-05-10 11:52] GoingMyWay commented on #6007
The same issue in Ray 0.8.4

https://github.com/ray-project/ray/issues/8326#issuecomment-626314227

[2020-05-10 12:37] camcastera commented on #6781
To be more specific, ray was installed inside a virtual environment, but ipython was not installed inside this environment. Thus, when activating the environment and using the command ``` ipython ``` it was actually launching the ipython from the system which was the one ray was supposed to be working with. That is why installing ipython inside the environment solved it for me.

More generally if

[2020-05-10 13:16] ThomasLecat commented on #8307
Thanks @richardliaw for approving and merging the associated PR, much appreciated!

[2020-05-10 20:32] ericl commented on #6007
Is is possible to provide more details on the workload, a simple reproduction script?

[2020-05-10 20:33] ericl commented on #8326
Is it possible to reproduce this with a dummy program that can be shared?

[2020-05-10 20:34] ericl commented on #8339
Isn't 1.5 newer? So we don't support latest torch?

[2020-05-10 22:14] regproj opened #8392 "SAC diverges on simple corridor environment"
### What is the problem?
I'm trying to run SAC on an environment (obs: Box(low=0, high=100, shape(270,)) ,actions: Discrete(28)), so I modified the simple corridor environment accordingly to see if there was a problem with SAC or with my environment. I ran the same environment using PPO, which converged very quickly. SAC seems to perform very poorly on this simple environment and I can't figure ou

[2020-05-11 02:18] rkooo567 commented on #8389
Is it like an example code in the flow-project repository? Can you give us a link to that jupyter notebook?

[2020-05-11 03:49] AndreCNF opened #8394 "[raysgd] How to set spot workers for an Azure cluster?"
In Azure, we should be able to set a node as spot (preemptible) by setting [properties.priority = 'Spot'](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/createorupdate#virtualmachineprioritytypes). However, I can't understand how to translate this into my cluster configuration YAML, as there is no information on GitHub or the documentation that I'm aware of which indicates the s

[2020-05-11 03:54] richardliaw commented on #8394
@AndreCNF can you try using https://github.com/ray-project/ray/blob/37e4d29f8715330eb772f05513c696fd852ab565/python/ray/autoscaler/azure/example-full.yaml

@gramhagen @eisber seems like this config was removed from the examples. Can you take a look? It'll be important for users to know how to enable spot instances.

[2020-05-11 04:39] Julianbaozi opened #8395 "Can't connect the head node from another SpinServer machine"
### What is your question?
I want to run a python script with two different machines together. I can run it on my laptop and parallel it with ray. Now I want to extend it to a server I just bought.
I use

ray start --head --redis-port=6379 --redis-shard-ports=6380 --node-manager-port=12345 --object-manager-port=12346 --redis-password=""

to setup head node on my laptop. The versions are Ubuntu 18.

[2020-05-11 04:42] rkooo567 commented on #8395
Maybe your laptop has a firewall setup, and your server is not reachable to Redis running in your laptop. Can you check if you can reach to the Redis in your laptop from your server?

[2020-05-11 04:43] Julianbaozi commented on #8395
how to check that?

[2020-05-11 04:49] Julianbaozi commented on #8395
both ufw are inactive.
And also if I check the port from browser, it gets
-ERR wrong number of arguments for 'get' command

[2020-05-11 07:11] Tabbi7 commented on #8389
Yes, it is a problem related to the flow-project. How can I link that Jupiter notebook? I'm attaching a zip containing the tutorial 3 my Flow environment. I hope you can replicate the problem in your localhost. Thank you so much!

[Notebook.zip](https://github.com/ray-project/ray/files/4608029/Notebook.zip)

[2020-05-11 08:09] sven1977 commented on #8392
I actually don't think this is a bug. SAC is known to not perform very well in a) discrete action spaces and b) low-entropy environments, such as grid-worlds. PPO is certainly the better choice here.

[2020-05-11 11:14] antonwnk commented on #7018
I left this untended, sorry.
Can you explain/point me towards the rationale behind how long a tasks and its steps should be?
I'm trying to get a bit more context before starting a PR

[2020-05-11 11:22] antoine-galataud opened #8398 "[rllib] multidiscrete space support in bandit algorithms"
### System information
* Ray version: 0.8.5
* Python version: 3.8
* Torch version: 1.5.0
* OS version: Ubuntu 20.04

### What is your question?

When trying linear UCB with a custom environment that has multicategorical action space, I ended up with a single action value sampled and passed to `step()`. Looking at https://github.com/ray-project/ray/blob/master/rllib/contrib/bandits/models/linear_re

[2020-05-11 11:32] antonwnk opened #8399 "[tune] HParams failed - unsupported type NoneType"
### What is the problem?
Scikit-learn sometimes takes `None` as a parameter. This does not seem to agree with TensorBoard's HParams, as an error pops up when `None` is sampled from my parameter space.
Not sure how this should be handled &ndash; detect and replace it with `str(None)`? 😀

(running on ray 0.8.0, performing hyperparameter search with HyperOpt)

### Reproduction (REQUIRED)
No script as

[2020-05-11 11:52] GoingMyWay commented on #8326
Hi, I will send you the code later.  I run my code with docker by specializing CPU=41 and Memory=120GB on a machine (CPU=128 or more, and Memory=256GB or more). But it returned

The actor or task with ID ffffffffffffffff45b95b1c0100 is pending and cannot currently be scheduled. It requires {CPU: 20.000000} for execution and {CPU: 20.000000} for placement, but this node only has remaining {node:9.1

[2020-05-11 14:38] gramhagen commented on #8394
yes, good catch. It is possible to add this by modifying the VM ARM template used to deploy workers here: https://github.com/ray-project/ray/blob/8d0c1b5e068853bf748f72b1e60ec99d240932c6/python/ray/autoscaler/azure/azure-vm-template.json#L175

To change workers to spot instance you can modify it as shown here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/spot-template
like this:

[2020-05-11 15:56] nilabha opened #8403 "rllib - Support for Recording videos using gym monitor for MultiAgentEnv"
### Question

I see in the line 307-311, the monitor wrapper is not done for MultiAgentEnv. Code section below

[code]

I tried enabling it but it seems that it doesn't work with my multi-agent set up. Is there any specific reason for disabling this. Do we plan to have support for it in future?

[2020-05-11 17:45] richardliaw commented on #8399
Hm, can you try running the latest version of Ray? This should be fixed.

[2020-05-11 17:53] richardliaw commented on #8394
Yeah that sounds good. Can you push a fix to the examples?

[2020-05-11 18:05] eisber commented on #8394
if that is a common ask, than I think it's a good idea to make it accessible through the yaml config.

Maybe we should document how to copy and modify the templates to get full control over all aspects.

[2020-05-11 18:55] richardliaw commented on #8394
@eisber Yeah, agree - spot instances are going to be important for all users.

[2020-05-11 19:53] richardliaw commented on #8147
cc @krfricke

[2020-05-11 22:10] ncarrara opened #8407 "[rllib] RNN sequencing error when using tuple as env_state with QMIX"
### What is the problem?

Hi, I want to try QMIX, with 2 agents, each agent receives an observation `gym.spaces.Box(0,1, (3,))`, and the env_state (the one fed to the mixing network) is the concatenation of those observations: `gym.spaces.Tuple((Box(0,1, (3,),Box(0,1, (3,)))`.

On this configuration:

`Python 3.7.4`
[code]
[code]

I have the following error:

[code]

### Reproduction

This is a mo

[2020-05-11 23:00] rkooo567 commented on #7266
Same issue as https://github.com/ray-project/ray/issues/8254

[2020-05-12 00:35] Julianbaozi commented on #8395
When I set my vm server as head node, my laptop can connect.
When I set my laptop as head server, the vm can't connect.
It is the same with Redis.
Redis on my laptop is set to 172.30.xx.xx, with bind 0.0.0.0, not protected. On VM it says connection denied, for the public IP, and connection timeout for private IP.
The firewalls are inactive on both machine.

[2020-05-12 01:38] ericl commented on #8350
last_info_for() works for me (w/the default cartpole it returns {}). With a custom env, it returns the info dict as expected.

[2020-05-12 01:50] Aiyoj opened #8409 "incompatible with 'msgpack_numpy.patch()' function"
import msgpack_numpy as m
m.patch()

[2020-05-12 02:01] rkooo567 commented on #8395
I think in general laptop needs a special setup to get incoming requests. For example, if you use MacOS, you can do this https://support.apple.com/en-us/HT201642.

[2020-05-12 02:02] rkooo567 commented on #8389
Can you create a gist instead?

[2020-05-12 02:34] shreyagu opened #8410 "auto-scaling issues"
Hello,
I currently have an AWS cluster with 3 nodes and 2 CPUs each but face auto-scaling issues.
 To start my ray cluster and run on it i did include the following steps:
1. ray up cluster.yaml
2. in my code i include
ray.init(address='auto', redis_password=*****)
tune.run(resources_per_trial = {"cpu": 3})

When i tune.run( resources_per_trial ={"cpu":3}), instead of auto-scaling to another node

[2020-05-12 02:37] shreyagu commented on #8410
@richardliaw @robertnishihara

[2020-05-12 03:07] richardliaw commented on #8410
This happens because 'cpu' = 3 means that 3 CPUs must be available for a SINGLE trial on a SINGLE machine.

[2020-05-12 03:24] #7821 closed

[2020-05-12 03:43] shreyagu commented on #8410
oh, then how do i auto-scale? does just doing ray.init() and tune.run() automatically run it on all nodes in the cluster?

[2020-05-12 04:00] pengzhenghao commented on #6669
I think replace the policy switching mechanism in on_train_result callback instead of the policy mapping function is a better idea since on train result take the trainer as input and you can do weight sync after choosing a proper random opponent.

[2020-05-12 06:27] jsuarez5341 opened #8411 "[rllib] Apparently broken compute_actio function for multiagent environments"
Problem: Internal error thrown when calling compute_action in a multiagent policy

Details: Python 3.7 with the latest Ray on Ubuntu using a PyTorch policy

Solution: Remove the cast to list (e.g. [action] -> action) on line 161 of ray-project/ray/blob/master/rllib/policy/policy.py

I assume the cast is required for single agent policies, so possibly just return action and cast to a list if the re

[2020-05-12 06:46] Purpleslz opened #8412 "[rllib] rllib not saving Tensorflow AdamOptimizer's momentum and accumulators"
### What is the problem?

Ray: 0.8.4
Tensorflow: 1.14

RLLib is using its own checkpoint saving API instead of  tensorflow's, and this API is not saving AdamOptimizer's momentum and accumulators.

When using  AdamOptimizer, the momentum and accumulators (m, v, beta1_power, beta2_power https://github.com/tensorflow/tensorflow/blob/v1.14.0/tensorflow/python/training/adam.py#L118) is not saved.

###

[2020-05-12 07:11] Tabbi7 commented on #8389
Here you have the gist: https://gist.github.com/Tabbi7/be0e3adf334cf6b8837418b0c8305c43

[2020-05-12 08:12] sven1977 commented on #8411
Hey @jsuarez5341 not sure I understand the issue.
Which method call actually fails?
- trainer.compute_action
- policy.compute_single_action
- policy.compute_actions
Could you post a small repro script?

[2020-05-12 08:23] hkvision commented on #8336
Any response? @richardliaw Thanks :)

[2020-05-12 08:24] sven1977 commented on #8411
We can't remove the [] around the action return, because it would break returning a single action (when passing in a batch-of-1 to the `policy.compute_actions` call).
I think the reason is somewhere else. Maybe the new nested action space support broke something.

[2020-05-12 08:36] hkvision opened #8413 "[sgd] Can TorchTrainer print out something every one or several iterations?"
Seems by default TorchTrainer only returns stats after train() finishes? During the training, is there a way I get some information (for example loss values, or just something to indicate the training is happening in the background?) for each iteration or every several iterations?
Otherwise if one epoch training takes a lot of time, then I probably don't know what's going on. I may doubt whether t

[2020-05-12 08:58] AlanHassen commented on #8092
Are there any updates on this or a timeframe?

[2020-05-12 12:19] HibaAhmed18 commented on #2578
Hi, I have the following error:
platform linux -- Python 3.6.9, pytest-4.1.1, py-1.7.0, pluggy-0.8.1
rootdir: /home/user/project/sequential_social_dilemma_games, inifile:
collected 1 item / 1 errors

================================================================================================== ERRORS ==============================================================================================

[2020-05-12 12:26] HibaAhmed18 commented on #2578
Ubuntu 18.04.4 LTS
python :3.6.9
ray  0.6.1

[2020-05-12 15:02] ncarrara commented on #8407
It works if we specify

[code]

and

`state = [obs_agent_1]+ [obs_agent_2]`

[2020-05-12 16:31] Leonolovich opened #8415 "[tune][rllib] Evaluation using rollout through script"
My team finished training and have a checkpoint file. I would like to evaluate the trained model from within Python so that I can set up breakpoints and analyze whats going on; I was getting some errors because I received the checkpoint file from my coworker that generated it on another computer and I am using it to evaluate on new data on my system. The only way I have seen to use rollout to eval

[2020-05-12 17:14] #8041 closed

[2020-05-12 17:52] shreyagu commented on #8410
Following the steps mentioned above, i still keep getting this error message while running your `bayesopt_example.py` with `(resources_per_trial = {"cpu": 2})`
[code]

[2020-05-12 18:27] richardliaw commented on #8336
Ah yeah; we don't do CPU isolation in Ray, so 1 CPU doesn't limit the performance of a single worker.

[2020-05-12 18:28] richardliaw commented on #8410
Can you provide a longer stack trace?

[2020-05-12 19:02] janblumenkamp commented on #8415
Maybe [this example](https://github.com/ray-project/ray/pull/8376/files) is helpful?

[2020-05-12 19:02] shreyagu commented on #8410
This is the longer stack trace @richardliaw :
`== Status ==
Memory usage on this node: 1.7/7.5 GiB
Using FIFO scheduling algorithm.
Resources requested: 4/2 CPUs, 0/0 GPUs, 0.0/4.35 GiB heap, 0.0/1.46 GiB objects
Result logdir: /home/ubuntu/ray_results/MNISTTrainable
Number of trials: 360 (356 PENDING, 2 RUNNING, 2 TERMINATED)
+----------------------+------------+--------------------+-----------+-

[2020-05-12 19:47] Jungdam commented on #8041
Sorry for the late reply. Thanks for adding this and I leave a comment in TF implementation part.
Thanks again!

[2020-05-12 20:24] alsuhr-c commented on #3644
Is this warning actually a problem if I intend to create a bunch of workers? I'm using ray to parallelize writing something to disk frequently, and don't care about the return value. The calls seem to be succeeding, but the warning message keeps appearing so I'm worried that there is something I'm missing (e.g., maybe some of the processes aren't actually succeeding and I'm just missing them).

Th

[2020-05-12 22:00] habibrk commented on #8251
I was facing this issue, when I was using ray in a resource constraint setting, i.e. when the server is being used by other users and we are all sort of dumping jobs, more or less at the same time ... then one of the workers in your ray-cluster might get sidelined by the kernel and hence the parent worker might not be able to ping the child worker ... after several days of investigation, I found o

[2020-05-12 22:59] ericl commented on #8412
What's a good way of saving them? Now that we have deprecated modelv1, perhaps we can standardize on a Keras method cc @sven1977

[2020-05-12 23:00] ericl commented on #8411
Hmm is it that we can't desugar an array into a list? So we should be calling return_value[0] instead?

[2020-05-13 01:59] Julianbaozi opened #8417 "2 machines are not working together"
I set up two computers to communicate with each other. One is head node and one is worker. What should I do If I want to utilize resources from both machine for my computation? Should I run the script on both machines? I ran the script but it seems that only the head node is doing computations because almost all cpu was taken for the head node. And the maximum number of process is almost the same

[2020-05-13 03:25] edoakes commented on #8417
@Julianbaozi you'll need to start ray first on the head node, then on the worker to connect to the head node. The following documentation page should help:
https://docs.ray.io/en/master/using-ray-on-a-cluster.html#starting-ray-on-each-machine

[2020-05-13 03:25] #8417 closed

[2020-05-13 03:43] Purpleslz commented on #8412
[Trainer's save method](https://github.com/ray-project/ray/blob/master/rllib/agents/trainer.py#L629) will only save [self._variables in tf policy class](https://github.com/ray-project/ray/blob/master/rllib/policy/tf_policy.py#L229) which will not contain optimizer's accumulators.

I noticed we have implementations about `export_checkpoint`/`export_model` in `policy`, perhaps we should save model c

[2020-05-13 03:58] Julianbaozi commented on #8417
Thank you for your reply. But I already set the two nodes by following the documentation page. It's still not working. In the web UI I can see the two nodes. But when I run only the cpu of head node is taken up.

[2020-05-13 04:40] Julianbaozi opened #8419 "Importing functions"
When I run script on the head node, it cannot import the function I defined on head node for the other worker node
![Screenshot from 2020-05-12 21-35-30](https://user-images.githubusercontent.com/44662651/81771847-ec61e580-9498-11ea-9af1-5a53511dd050.png)

following is
![Screenshot from 2020-05-12 21-39-31](https://user-images.githubusercontent.com/44662651/81771900-229f6500-9499-11ea-810d-3576dd3

[2020-05-13 04:54] Julianbaozi commented on #7133
@maxCodeVector I have ran into the same issue. I add the path to the module into sys.path. It still cannot be found. Do you have any suggestions?

[2020-05-13 05:26] rkooo567 commented on #8419
Can you post a reproducible script? Also, I knew you already tried this, but I will leave this issue as a reference. https://github.com/ray-project/ray/issues/3116

[2020-05-13 05:26] rkooo567 commented on #8409
Can you write a script that I can run?

[2020-05-13 05:54] hkvision commented on #8336
Oh really? Even if the worker only has 1 cpu resource, if I set something like `OMP_NUM_THREADS=10`, it can still use 10 cores indeed?

But one problem is in the current code, all workers have 1 cpu resources. So it is very likely that all the workers are placed on the same worker with 10 cpus. Then even if they are use more than 1 cpu, there would be still conflict. Any idea on this?

Or can futu

[2020-05-13 06:03] Julianbaozi commented on #8419
I thought it was a different issue so I didn't try. I changed from...import... to import... and put it inside remote function. Now I can import the module but still cannot connect to my computer.

![Screenshot from 2020-05-12 23-02-42](https://user-images.githubusercontent.com/44662651/81776979-c04c6180-94a4-11ea-8427-283e97268836.png)

[2020-05-13 07:22] pdames opened #8420 "[autoscaler] AWS Autoscaler Improvements"
This issue seeks to consolidate and track an initial set of proposed improvements to the AWS Autoscaler. All design docs and pull requests that support these proposals will be linked here as they become available. Also, any relevant conversations or concerns related to these proposals should be tracked here as well.

These proposals have naturally arisen in the course of using Ray internally at Am

[2020-05-13 07:35] Julianbaozi commented on #5442
@NikEyX
Hi, I saw your answer about exposing your public IP. Is your computer connected to a router? Did you do any IP forwarding? Because I'm using my laptop and using a public wifi so I can't set forwarding rules.

[2020-05-13 07:36] Julianbaozi commented on #8419
I guess it might because my laptop is using a public wifi? Thus others can't find me through both public IP or private iP?

[2020-05-13 10:25] LucaCappelletti94 commented on #6832
I have encountered this issue as well.

[2020-05-13 10:43] LucaCappelletti94 opened #8421 "[tune] BayesOptSearch always maximizes score"
### What is the problem?
I am trying to run a Bayesian Optimization using Tune. When I try to get the analysis best configuration, the result does not change for when I use the  `mode="min"` or  `mode="max"`, as it always maximizes the score from the loss.

*Running on Ray 0.8.5, python 3.7.4, no tensorflow involved*

### Reproduction (REQUIRED)
Both the following script will print the analysis as

[2020-05-13 13:31] LucaCappelletti94 commented on #8421
Within `get_best_config` there is another mode parameter. By using that parameter, I can get the correct result. Still, I don't understand if the Bayesian Optimization is doing anything in this context, I would've expect for a quick convergence, but the values close to 20 or 0 in the respective modalities don't look more than those in any other particular position.

[2020-05-13 13:31] #8421 closed

[2020-05-13 13:55] Aiyoj commented on #8409
Hi, Following is the script:

import ray
import numpy as np
import msgpack_numpy as m
m.patch()

ray.init()
arr = np.ones((4, ))

@ray.remote
def f(a, x):
    y = a[x] * a[x]
    return y

futures = [f.remote(arr, i) for i in range(4)]
print(ray.get(futures))

Only when I comment this line of code ‘import msgpack_numpy as m
m.patch()’  it will run successfully

[2020-05-13 15:59] robertnishihara commented on #3644
@alsuhr-c if it's running successfully, then there's probably no issue, but if you are creating many more worker processes than the number of CPU cores you it's possible you'll run into issues like running out of memory or file descriptors or some other resource.

[2020-05-13 17:04] nicofirst1 commented on #7991
Running ray 0.8.4.
I am using the exact same RandomPolicy as @rtolsma with the following PPO configuration :
[code]
But I'm getting the same error anyway
[code]

[2020-05-13 17:51] simon-mo opened #8425 "ray.get_resource_ids() is broken for actors"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
`ray.get_resource_ids()` works for tasks but not actors

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

output:
[code]

If we can

[2020-05-13 18:16] ericl commented on #8425
This isn't a bug, the actor has zero resources by default (need to set num_cpus=1). This is so infinite numbers of actors can be created.

[2020-05-13 18:17] simon-mo commented on #8425
ohhhh i see. got it

[2020-05-13 18:17] #8425 closed

[2020-05-13 18:21] Julianbaozi opened #8426 "one machine with multiple IPs"

[2020-05-13 18:57] #8426 closed

[2020-05-13 20:27] internetcoffeephone commented on #7946
It seems that incorrect sample dtypes are used in other places as well:
- [~~ModelCatalog~~](https://github.com/ray-project/ray/blob/releases/0.8.5/rllib/models/catalog.py#L214) Solved by https://github.com/ray-project/ray/pull/8424
- [TupleFlatteningPreprocessor](https://github.com/ray-project/ray/blob/releases/0.8.5/rllib/models/preprocessors.py#L198)
- [DictFlatteningPreprocessor](https://githu

[2020-05-13 21:01] jangkj09 opened #8429 "[rllib] Displaying evaluation metrics on tensorboard"
### What is your question?
Hi, this is a simple question and I'm not sure what is wrong. I am testing out an evaluation loop during training and I can see the metrics output on the terminal, but I am unable to have them displayed on tensorboard. I have some custom metrics which I implemented according to the example and I can see those on tensorboard. From the documentation, I thought that evaluat

[2020-05-13 21:14] ericl commented on #8420
These sound like useful improvements, thanks! For a couple items like "CloudFormation Template" and various "Security Whitelists", I am wondering if this is something we can support in a more pluggable way? For example, have a validation or setup callback that the user can configure and point to arbitrary python functions.

The reason for making these pluggable instead of a built in feature would

[2020-05-13 22:26] crypdick commented on #3265
@richardliaw I am seeing a similar issue with Ray serve on a p3.16xlarge EC2 instance. Looks like nccl, nvidia-smi, torch.cuda.device_count(), etc is working. I am using @simon-mo 's script here: https://gist.github.com/simon-mo/b5be0b95d6b79f27780d569073f5588a

I tried https://github.com/ray-project/ray/issues/3265#issuecomment-510215566 but it gave me `SyntaxError: can't assign to function call`

[2020-05-13 23:22] ericl commented on #8412
Hmm is the right thing to register those variables for saving as well? Actually I thought the optimizer variables used to be saved, maybe this is a regression.

[2020-05-14 00:08] Julianbaozi opened #8430 "different IPs for one machine"
I have a server with 3 IP addresses. xx.xx.xx.193, xx.xx.xx.2 and xx.xx.xx.3.

I set the first as the head node.
ray start --head --redis-port=6379  --webui-host=0.0.0.0 --node-ip-address='xx.xx.xx.193' --num-cpus=3
ray start --address='xx.xx.xx.193:6379' --node-ip-address='xx.xx.xx.2' --num-cpus=3
ray start --address='xx.xx.xx.193:6379' --node-ip-address='xx.xx.xx.3' --num-cpus=2

If I write a sc

[2020-05-14 01:18] franreysaycon opened #8432 "Load ray dashboard through a reverse proxy"
### Describe your feature request
We need to be able to do a way to assign a base url or prefix for the requests the dashboard is making. It defaults to root which causes 404 errors under a reverse proxy path.

[2020-05-14 01:21] rkooo567 commented on #8432
@allenyin55

[2020-05-14 01:58] crypdick opened #8435 "[sgd] Log learning rate to Tensorboard summaries by default"
With lr scheduling being ubiquitous, I think this is a common-sense default.

This can currently be done with
[code]
(credit: @richardliaw ) but this snippet is a bit too magic imo.

[2020-05-14 04:32] jangkj09 opened #8440 "[rllib] Set log_dir to something other than ~/ray_results?"
### What is your question?
This is a simple question, but somehow I am unable to find a straightforward answer, is there a way to change the default log_dir from ~/ray_results to something else?

*Ray version and other system information (Python version, TensorFlow version, OS):*

[2020-05-14 07:09] janblumenkamp opened #8441 "[tune] PBT: Path to checkpoint does not exist error after some time"
### What is the problem?

I am running PBT with `keep_checkpoints_num=3`. After some time (this time after running for a few hours), a process died with the error that the checkpoint could not be found, probably because it was deleted since it was outdated.

*Ray version and other system information (Python version, TensorFlow version, OS):*

- ray 0.9.0.dev0 (b95e28fae)
- Python 3.7.5
- Torch 1.5

[2020-05-14 08:36] richardliaw commented on #8413
You can specify `num_steps`, which allows you to short-circuit the training. Also, `use_tqdm=True` is usually what I use.

[2020-05-14 08:40] maxCodeVector commented on #7133
You could try to copy the corresponding files to the same path in the remote server.

---Original---
From: "Julianbaozi"<notifications@github.com&gt;
Date: Wed, May 13, 2020 12:54 PM
To: "ray-project/ray"<ray@noreply.github.com&gt;;
Cc: "maxCodeVector"<1396592457@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [ray-project/ray] How to submit a task which is implemented in a  sepa

[2020-05-14 08:41] Julianbaozi commented on #7133
Thank you for your response.

On Thu, May 14, 2020 at 1:40 AM maxCodeVector <notifications@github.com>
wrote:

[2020-05-14 10:15] SanjiAp opened #8444 "[raySGD] Error when increasing the number of replicas (Without GPUs)"
[code]
I am running above code on a machine with no GPUs.
I want to run above code on CPU based machine.
So I am getting the following error :
### When using with pytorch
[code]

-------------------------------------------------------------------------------------------------
### When using with tensorflow:

[code]

[code]

[2020-05-14 12:52] Purpleslz commented on #8412
Maybe you're right. The "export_checkpoint way" can support more frameworks (e.g. pytorch), torch_policy and tf_policy can use the same interface `export_checkpoint` and the implementation for tf&pytorch is very simple.

I think both ways are sufficient and reasonable to fix this issue, maybe "register optimizers' variable" is a better one. However, I'm not very familiar with tensorflow, I don't k

[2020-05-14 15:59] robertnishihara commented on #8444
@richardliaw

[2020-05-14 16:29] shreyagu commented on #8410
can someone please respond @richardliaw @robertnishihara @ericl

[2020-05-14 16:46] #8440 closed

[2020-05-14 16:58] rkooo567 commented on #8360
cc @stephanie-wang

[2020-05-14 17:48] stephanie-wang commented on #8360
Despite the name, `lru_evict` is probably not what you want here. What that means is that if your cluster is completely out of memory, including after any unnecessary object copies have been removed, objects will begin to be evicted in LRU order. This can potentially evict an object that is actually still needed. When `lru_evict` is not enabled, you will instead get an OutOfMemoryError.

I think t

[2020-05-14 20:22] sven1977 commented on #8318
I'll take this one.

[2020-05-14 21:30] Leonolovich opened #8448 "[rllib] Continuous Bandit algorithm"
### What is your question?
I am trying to implement a multi-armed bandit solution for continuous action spaces. I know RLLib provides contextual bandit algorithms, but they use Discrete action spaces. Any thoughts on how to maybe use the DDPG algo for a bandit scenario?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 0.9.0
Python 3.6
Centos7

[2020-05-14 22:23] richardliaw commented on #8147
@cocorosiekz we've just merged `avg`. Working on `last-n-avg` next.

[2020-05-14 23:55] mccrearyd opened #8450 "Ray Dashboard Head-node CLI [autoscaler]"
The ray dashboard is nice for the browser, however I find it kind of a pain to deal with opening the browser every time I want to view the progress, also it doesn't work very well without ssh tunneling.

I am a huge fan of `nvidia-smi` and `top` for monitoring a single machine, works really well with `tmux`. I think theres a lot of potential for ray to have something similar for cluster resource v

[2020-05-15 00:17] soloist96 opened #8451 "Does RLlib support Julia language"
I just found that the implementation of numerical simulators in Julia is much faster than Python. And I wonder if RLlib supports Julia as well. Thank you!

[2020-05-15 00:21] pdames commented on #8420
Thanks for the feedback! Reason (1) seems like reason enough to include this feature in our milestones above. Reason (2) seems more speculative, but could very well be correct both today and long-term. Do we have mechanisms in place to gauge user engagement with features, or to figure out which features to deliver next? In this case, it would be good to know how many users have run either one-time

[2020-05-15 01:02] ericl commented on #8429
Yes, evaluation metric should show up under the evaluation/ key.

[2020-05-15 01:10] jangkj09 commented on #8429
Then is there a way to debug why it isn't showing up? I didn't declare a custom evaluation function or metric and simply set values for evaluation_interval config, evaluation_num_episodes,  and evaluation_num_workers. The values print out in the console, but they are missing from tensorboard. I saw a different post and I thought that it may be an issue with tensorboard and so I uninstalled tensorb

[2020-05-15 01:26] ericl commented on #8429
Try running `rllib train --run=PG --env=CartPole-v0 -v --config='{"evaluation_num_workers": 2, "evaluation_interval": 1}'`, you should see:

![image](https://user-images.githubusercontent.com/14922/82001621-6cf72200-9610-11ea-9a78-beec651a519c.png)

[2020-05-15 02:24] omri-axon-vision opened #8452 "[ray][rllib] How to use PBT in multi-agent training?"
In the game there are 4 agents divided to groups of 2.
I have 2 groups playing against each other. I would like PBT to maximize the "policy_reward_mean" metric of each group/agent. I want each team to have a different hyper-parameter tuning.
For example, if Blue team mostly wins, I would expect PBT to drop the entropy_coeff to the blue team but increase it to the Red team.

How can it be done?
Can

[2020-05-15 04:03] RaedShabbir opened #8454 "[ray][tune] Ray Autoscalar FileNotFoundError with CustomEnv and PPO"
### What is the problem?
When using auto scaling distributed training with a custom environment, the environment creation process fails due to a FileNotFoundError: [Errno 2] .

Some steps I've taken to ensure the file exists and should be read properly:
- The cluster.yaml file transfers a folder with the relevant files upon running ray up
- I have verified that the file does exist on the cluster h

[2020-05-15 04:07] jangkj09 commented on #8429
Yes, I do see that as well. This is a snippet of the code I am running and how I configure the training and configuring evaluation. It is working because I do see the evaluation output, but it doesn't show up in tensorboard. The only difference I can imagine is either because I am using a custom environment and I also have some custom metrics (defined and configured like the example code). Or does

[2020-05-15 05:50] RaedShabbir commented on #8454
Issue was resolved by updating to ray == 0.9.0.dev0.

[2020-05-15 05:50] #8454 closed

[2020-05-15 07:21] pitoupitou commented on #8326
Hi, I have got the same error and it's difficult to understand since I have lots of resources.

Running my code with Docker as well on a machine that should have enough capacity (CPU=16 & 4 GPUs - Tesla V100 with Memory=244GB).
I tried different versions of Ray but it triggers the same error.

Interestingly, **there is no error when I define the number of Ray workers as being 1.** But when it is a

[2020-05-15 07:27] ericl commented on #8326
Can you trim down your code to a minimal script that can be pasted here?

[2020-05-15 08:25] kakakflo22thy opened #8455 "[tune]Error in BOHB perhaps caused by different trainable instances running in the same Trial ???"
### What is the problem?

Ray version 0.8.4 Error as follow

[code]

I've looked through source code and found that delta is calculated from `delta = self._get_result_time(result) - \
            self._get_result_time(self._live_trials[trial])` in which `_get_result_time` is used to retrive `result[self._time_attr]`. I set `self._time_attr` as `trainning_iteration`   in my script which is supposed

[2020-05-15 08:49] kb007 opened #8457 "I am getting 'TypeError: can't pickle SSLContext objects'"
I am trying to experiment with the Ray library for parallel processing some of my functions to get output faster. In my local machine, it works ok in my cloud instance it is showing error

[code]
I did  small testing in my local pc it worked but in my instance, it is giving this error. However here is my ray decored codes

[code]

I have just started  using ray. Kindly Help me to solve this error

[2020-05-15 09:31] Arthur-Null commented on #7693
I am facing the same problem. I am using ray 0.8.5.
File ray/rllib/models/modelv2.py, line 164, in __call__
    res = self.forward(restored, state or [], seq_lens)
It seems [] is being passed as the state here.

[2020-05-15 12:49] internetcoffeephone commented on #5982
I experimented a bit, and I've found [this line](https://github.com/ray-project/ray/blob/master/rllib/optimizers/multi_gpu_optimizer.py#L139) `self.workers.local_worker().get_weights()` to be the slowest, but only when it is called for the first time. Subsequent calls are far, far faster.

Somewhere down the call stack Ray then calls [this function](https://github.com/ray-project/ray/blob/master/p

[2020-05-15 14:33] 0luhancheng0 commented on #8350
Hi @ericl , thank you for replying.
I'm sorry that I didn't mention i was running my custom MultiAgentEnv. But the same behaviour can also be observed with one of your examples.

A simple script as following
[code]

A snippet of output:
[code]

I was expecting last_info_for() to return an empty directory instead of None.

[2020-05-15 15:10] Leonolovich opened #8458 "[rllib] [tune] Iteration vs. Episode explanation"
### What is your question?
I have a simple question, the answer for which that I could not find in the documentation. I am not familiar with using iterations in reinforcement learning, as I've previously seen that the train step ends when the episode is done. In the rllib case, it looks like the train step continues until the iteration is done? I am not clear on how iterations are used.

Also, whe

[2020-05-15 15:21] internetcoffeephone commented on #5982
Here's a graph for memory use while evaluating/training on a small amount of steps (30k-ish) with respectively `[2,3,4,5]` agents. The longest flat lines in each segment are where get_weights() is being called.

![num_agents](https://user-images.githubusercontent.com/5096835/82066727-181ae080-96d0-11ea-8c28-17179c37423c.png)

[2020-05-15 18:04] GoingMyWay commented on #8326
@pitoupitou  Hi, what task are you working on?

[2020-05-15 18:26] ericl commented on #8326
Moving to p0 since this has come up anecdotally several times now. Unfortunately it seems difficult to reproduce :/

[2020-05-15 18:41] rkooo567 commented on #8451
Rllib is based on Ray, and unfortunately, Ray doesn't support Julia language now.

[2020-05-15 18:42] rkooo567 commented on #8292
This wouldn't cause issues for most of workflow. Will move it to P1.

[2020-05-15 18:42] rkooo567 commented on #8329
@richard4912 Can we verify this is fixed?

[2020-05-15 18:43] rkooo567 commented on #8254
@stephanie-wang Are you working on this issue?

[2020-05-15 18:51] jangkj09 opened #8460 "[rllib] Limit GPU resources with num_gpus configuration optiondoesn't seem to work"
### What is your question?
Based off the recommendations in the doc: https://docs.ray.io/en/master/rllib-training.html#specifying-resources
I set num_gpus = 1 for running on a server that has 4 GPUs. Even with this configuration set, when I run the basic PPO trainer, it seems to allocate to all 4 GPUs when examining the nvidia-smi output. Is the configuration not having any effect?

*Ray version a

[2020-05-15 20:24] alecbrick opened #8464 "Bump msgpack to 1.0.0 for Python"
We've started bumping msgpack to 1.0.0 in some of our repos at our company. However, some of our repos use Ray, which doesn't support version 1.0.0 for msgpack. We're hoping that Ray could support msgpack 1.0.0 - it doesn't look like there are too many breaking changes, and it looks like both major versions 0 and 1 can be supported. Thanks!

[2020-05-15 20:37] rkooo567 commented on #8464
cc @simon-mo.

Thanks for reporting this @alecbrick . We will see if we can have time to work on this, but always feel free to contribute!

[2020-05-16 16:55] nicofirst1 opened #8468 "Alternating Policy Training"
### Versions

Ray=0.8.4
Python=3.7
OS=Macos
Tensorflow= 2.2.0

### Problem
I have an env with two distinct group of agents palying against each other, namely _vill_ and _ww_ (check out the [werefwolf/ mafia game on wiki](https://en.wikipedia.org/wiki/Mafia_party_game) for more insights). The _vill_ start with the default _PPOTFPolicy_ (train_p) while the _ww_ use a hard coded one (static_p).

What

[2020-05-16 17:25] tinymindxxx opened #8469 "[RLlib] Memory leaks during RLlib training."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
OS: docker on centos
ray:0.8.4
python:3.6
### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your

[2020-05-16 19:35] krfricke commented on #8147
I added a PR for `last-5-avg` and `last-10-avg`. These n are currently hardcoded to avoid tinkering with the `Trial` object and the `run` API too much. @cocorosiekz is this useful for you, or do you need more control over the number of steps to consider?

[2020-05-17 00:17] richardliaw commented on #8455
It might be that a trial was not saved correctly..

[2020-05-17 02:02] GoingMyWay commented on #8326
I think the main reason of this issue is when running task with docker in a machine where there are many CPUs and memory but few left for the current task, Ray can detect the whole resource setup of the task but many are inaccessible, as a consequence, the task was pending (in offline training, Ray can still read the data until OOM). Another thing is, for my task, the task only took 40GB memory, b

[2020-05-17 07:24] ankur0493 opened #8472 "Ray init issue"
### What is the problem?
I am trying to create a ray cluster on Hetzner Cloud using Terraform. As a first step, I tried creating a single server and starting ray on that. Using Terraform's remote-exec provisioner, I start ray using the following command:
[code]

Running ps aux | grep ray in the same provisioner gives following output:
[code]

However, immediately after terraform completes, I ssh i

[2020-05-17 15:41] matej-macak opened #8473 "[rllib] [tune] Memory increase when training environment in rllib and tune"
Hi,

I am trying to run a simple environment that constantly runs out of memory using `PPO` trainer but likely other algorithms using tune.

I checked the following issues before reporting the bug:
#3884
#4877
#651
#3777

### My system:
HP Spectre x360
16GB RAM
Core i7-8750H
Ubuntu 18.04
Ray version: 0.8.4

### Error
[code]

### Status before error
[code]

### Reproduction
The steps to reproduce:

[2020-05-17 15:51] matej-macak commented on #8088
I have noticed that part of the slowness can be explained with the parameters tuning (i.e. the system is very sensitive to `train_batch_size`, `num_sgd_iter`, `rollout_fragment_length` and `sgd_minibatch_size`. I am assuming that given these are deterministic and one step environments it is better to not have a final update batch size larger than the number of workers as the batch probably contain

[2020-05-17 16:26] skamkar opened #8474 "[tune] warm-start capability clarification"
Hi folks! First, Ray is incredible! Thanks for a truly exceptional piece of software. Great to see this tool getting so much use and support!!

Question: Given your keras-mnist [example](https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/tune_mnist_keras.py), rather than constructing and compiling the model in `def train_mnist()`, is there a way to pass in a pre-compiled model

[2020-05-17 19:18] #6993 closed

[2020-05-17 21:10] ericl commented on #8469
Does it still happen if you set the buffer size really small, or don't use the output option?

[2020-05-17 21:11] ericl commented on #8458
Iterations are just for metrics reporting. They have no connection with episodes; many episodes are executing concurrently and may span one or more iterations.

[2020-05-17 21:13] ericl commented on #8460
That only works with Ray tune.

[2020-05-17 21:13] ericl commented on #8460
You probably have to use Ray tune for that to work fully.

[2020-05-17 21:20] ericl commented on #4410
What is the error that caused the actor to die? It's probably somewhere above in the logs, or in /tmp/ray logs.

[2020-05-18 04:48] Arthur-Null opened #8479 "[rllib] DQN has low cpu utility when using large batch size."
### What is the problem?

Ray: 0.8.5
tensorflow 2.1
Ubuntu 16.04

When using DQN with a large train_batch_size and timesteps_per_iteration, it can only achieve 10% cpu utility.

![cpu_util](https://s1.ax1x.com/2020/05/18/YWXQ4e.png)
### Reproduction (REQUIRED)
[code]

If we cannot run your script, we cannot fix your issue.

- [x] I have verified my script runs in a clean environment and reproduces

[2020-05-18 07:08] rkooo567 commented on #8326
@ericl What's our plan to resolve this issue? We will have a new release in about 3 weeks. Will anyone handle this issue?

[2020-05-18 07:12] cocorosiekz commented on #8147
hi @krfricke , I think `last-5-avg` and `last-10-avg` is enough for my use cases. Maybe we can take more control in the future if there's more need from other users.

[2020-05-18 07:31] richardliaw commented on #8474
Hmm, I think this is possible. What have you tried so far?

[2020-05-18 07:56] sven1977 commented on #8412
@Purpleslz Could you try this PR here and confirm whether this fixes your issue? I just made the ModelV2 branch behave the same as the ModelV1 one in terms of automatically collecting all vars in the tf-graph.

[2020-05-18 08:23] kakakflo22thy commented on #8455
Sorry that I can't post core code here. But I find that in checkpoint dir `.tune_metadata`  data
is missing,  here is the `_save`  and `_restore `function, is there any help?

[code]

[code]

It turn out that  only files below exist
![image](https://user-images.githubusercontent.com/43595804/82190582-cff3fc00-9923-11ea-8deb-2dc723db0008.png)

[2020-05-18 08:51] arita37 opened #8481 "Ray. Remote using another python env"
### Describe your feature request

Allows execution function with different python env than parent ones, enabling fully distribution

[2020-05-18 09:45] kakakflo22thy commented on #8455
I changed my code as below and this time it output `model.tune_metadata` file, but still got the same error...

[code]

[2020-05-18 11:20] Apsylem commented on #4410
inside tmp/ray/../logs:

some issue with redis seems to be the case:

the individual workers die with something like this
`
....
W0517 15:52:41.713259   386 reference_count.cc:196] Tried to decrease ref count for nonexistent object ID: d32c701b16435f740a379fa79e7f000800000000
I0517 15:57:16.775820   488 core_worker.cc:567] Node failure 988906d743e7f26672caf90b3b45b3253dea3d35´

in redis.out

`282:

[2020-05-18 11:41] zzcNEU opened #8482 "import error"
ray 0.8.5,when I try to use ray， it occurs  Ray must be imported before pickle5 because Ray requires a specific version of pickle5 (which is packaged along with Ray.

I want to know it must import  pickle5 before import ray,  Right?

[2020-05-18 11:52] sven1977 commented on #8088
I think I found a quite satisfying hyperparam solution, which converges quite fast now (within <1min). There will be a PR today that also gets rid of the Box-limit problem in our PPO (Box(0.0, 1.0) learns ok, but e.g. Box(1.0, 3.0) doesn't).
...

[2020-05-18 13:12] ManuelZierl opened #8483 "[rllib][bug] Some policy-names lead to seemingly unrelated errors"
### Some policy-names lead to strange errors
The following very simple multi-agent script fails because of the names given to the policies

[code]

This will raise the error

` ValueError: Cannot feed value of shape (1, 2) for Tensor 'foo/obs_0:0', which has shape '(?, 1)'`

it took me a long time to find that this error will not come up if i change the names of my policies
If i replace the lines:

[2020-05-18 15:25] sven1977 commented on #8412
https://github.com/ray-project/ray/pull/8480

[2020-05-18 17:54] sven1977 commented on #8088
Here is the config, that works quite well on my end now. It basically simplifies everything a lot. But then again, it's also a very simple env.

[code]
Closing this issue.

[2020-05-18 17:54] #8088 closed

[2020-05-18 18:57] ijrsvt commented on #854
@mitar  @suquark  Cancelation has been added in 7669 and 8225. We'd love to know if you have had a chance to use it yet and if you have any feedback about it!

[2020-05-18 19:09] ijrsvt commented on #7820
The typing of arguments appears to be enforced at runtime. The result from both:
[code]
is
[code]

[2020-05-18 19:25] simon-mo commented on #7820
Interesting. Can you find the lines of code that perform this check?

[2020-05-18 19:54] crypdick commented on #4528
This doesn't seem to be working with TorchTrainer.as_trainable

[2020-05-18 20:27] skamkar commented on #8474
Assuming no data threading issues (X_tr, y_tr, etc. are in memory), the `example_train` function below builds a Keras model and passes it to the GANModel as a pre-warmed Keras model as an input. My current workaround is to pass the model structure as a JSON and weights as a numpy array (see below), which are both easily pickleable.  Passing the Keras `clf` object in the config dict led to serializ

[2020-05-18 20:45] simon-mo commented on #8481
Hi @arita37 can you elaborate on this requirement? Do you want different Python? Do they have different package requirements? Would there be version conflicts among different environments?

Thanks!

cc @ijrsvt @edoakes

[2020-05-18 21:00] suquark commented on #8482
yes, we are using an internal version of pickle5, because the current pickle5 has memory leak issues. so we have to import ray before importing the pickle5 library.

I have created a PR in the upstream (pickle5-backport), it would address the problem once merged.

[2020-05-18 21:01] ericl commented on #8326
I'm not sure we can do a lot without a reproduction case that can be run locally or in the public cloud. The reports above are not very clear.

[2020-05-18 21:03] #8329 closed

[2020-05-18 21:03] ericl commented on #8359
Downgrading to P2 since this is not a common use case.

[2020-05-18 21:04] ericl commented on #8292
Downgrading to P3 since the performance of actor launch is not typically important.

[2020-05-18 21:06] ericl commented on #8033
Reclassifying as a question since it's not clear the issue is a Ray bug.

[2020-05-18 21:06] ericl commented on #7266
Duplicated.

[2020-05-18 21:06] #7266 closed

[2020-05-18 21:08] ericl commented on #6773
This is fixed now.

[2020-05-18 21:08] #6773 closed

[2020-05-18 21:09] #8458 closed

[2020-05-18 21:11] ericl commented on #6007
Closing as duplicate.

[2020-05-18 21:11] #6007 closed

[2020-05-18 21:13] ericl commented on #4029
@edoakes @simon-mo isn't this kind of a deal breaker for serve?

[2020-05-18 21:13] ericl commented on #2830
Fixed.

[2020-05-18 21:13] #2830 closed

[2020-05-18 21:16] ericl commented on #6403
Downgrading to P2 since this is an uncommon use case.

[2020-05-18 21:16] simon-mo commented on #4029
In deployment, Serve's drivers are short-running script so this doesn't matter too much. However, I agree P1 is the correct priority

[2020-05-18 21:31] #7040 closed

[2020-05-18 21:42] ericl opened #8492 "Excess INFO messages to console in latest build"
### What is the problem?

Master build logs this to console on ray init:
[code]

[2020-05-18 21:43] ericl commented on #8492
@ffbin is this related to your recent change?

[2020-05-18 23:45] ijrsvt commented on #8033
Hmm, I tried reproducing this and have been unable to get the same bug. I am currently a different error instead. Are you still having this issue on the most up-to-date version of Ray.

The error that I am seeing from calling `ray.init(address='auto', redis_password='524159000000000')` on the client.
[code]
One note:
The warning about `SHM size` will go away if the space of `/dev/shm` is enough to

[2020-05-19 00:24] annaluo676 commented on #6668
I have the same problem with:
Python: 3.6.6
Ray 0.8.5
Tensorflow-gpu 2.1.0
CUDA 10.0
CuDNN 7.6.5

Interestingly, with the same config I was able to instantiate a `Trainer()` and do `trainer.train()`. Using `Ray.tune` threw the above error.

[2020-05-19 00:54] arita37 commented on #8481
Thanks !

I have few python Env (ie conda) where I want to run for one model per environnement (!)
due to packages constraints... (TF 1.x with TF12.x,....). You can imagine other conflicts...

Is this possible with @remote ?

Was thinking to build my own subprocess launcher... (but best is to re-use Ray.... and not re-inventing the wheels).

[2020-05-19 02:00] acxz opened #8496 "[rllib] Allow JsonReader to read output files w/o a loop"
### Describe your feature request
I am currently using the [Output API](https://docs.ray.io/en/latest/rllib-offline.html#output-api) to log data throughout the training iterations. However, when trying to parse the output *.json data files, I need to use the `JsonReader.next()`. Since I do not know the number of sample batches in the json output files I call the `JsonReader.next()` an arbitrarily

[2020-05-19 03:32] GoingMyWay commented on #8326
Hi, I sent you the code before, I think you can use my code to reproduce this issue, this issue occurs very often in the cloud.

[2020-05-19 03:48] zzcNEU opened #8497 "pickle5"
hello，Ray version is 0.8.5 and pickle5 is 0.0.9 on my local pc. But,
![image](https://user-images.githubusercontent.com/38434094/82282513-932d1100-99c6-11ea-9f22-1f15f0026e8e.png)
I have imported the pickle5. SO, CAN YOU HELP ME?

[2020-05-19 04:01] ericl commented on #8326
Can you reproduce it on a single node (laptop) without docker? The hardware
configuration is not clear to reproduce.

On Mon, May 18, 2020, 8:32 PM Alexander <notifications@github.com> wrote:

[2020-05-19 04:35] McCrearyD commented on #7788
Same here. Did you find a way around this?

[2020-05-19 05:06] #5982 closed

[2020-05-19 06:36] rkooo567 commented on #8326
The problem seems like Ray detects machine resources instead of cgroup resources. I indeed found a related issue https://github.com/benoitc/gunicorn/issues/2028#

(We detects cpu count from multiprocessing.cpu_count() and memory by reading cgroup memory info).

[2020-05-19 06:40] ericl commented on #8326
I don't that's related, the problem is the scheduler is reporting resources
available and also saying it can't schedule any more tasks at the same
time. Detecting the wrong resources might cause unexpected crashes, but not
scheduler hangs.

On Mon, May 18, 2020, 11:36 PM SangBin Cho <notifications@github.com> wrote:

[2020-05-19 09:42] Catypad commented on #7830
Hi @tinymindxxx ! I'm using RLLib for batch RL and I'm trying to create an environment and I'm having some questions about the observation space. I want the observation space to be the features that I have on my dataset. I have to create a dict like you did where each feature is a key and for each creates a box where indicates the minimum and maximum value? And for categorical features have to do

[2020-05-19 10:24] LucaCappelletti94 commented on #8033
@ijrsvt It fails with the very same error. I have currently moved to use this directly on SLURM, as I was unable to investigate the nature of the issue further on the Docker containers.

[2020-05-19 15:37] edoakes opened #8502 "'ray memory' fails if there are many objects in scope"
### What is the problem?

Helping a user debug OOM errors and asked them to run `ray memory`. `ray memory` crashed with the following output:

[code]

[2020-05-19 15:43] jangkj09 opened #8503 "[rllib] Performance drop when restoring from checkpoint"
### What is your question?
I observe a huge performance drop when restoring from a checkpoint that was saved during training with PPO and the default PPOTrainer class. I have a custom metric and custom environment and according to the training, I should be observing a performance of 0.998 in terms of the custom metric at the time the checkpoint was saved. However, when I restore training from the

[2020-05-19 15:53] rkooo567 commented on #8502
This is probably related to the fact that the dashboard doesn't work well when it is running in a big cluster.

[2020-05-19 16:29] gkostkowski commented on #7605
I experienced same behavior, with python3.5 and ubuntu16.04

[2020-05-19 17:00] sven1977 commented on #8503
Hi, thanks for filing this.
Are you using PyTorch or TF?
Also, could you try creating a small reproduction script with some toy case, where this is already occurring? Then we can fix this much more easily.

[2020-05-19 17:29] drozzy opened #8505 "[docs] Issue on `index.rst`"
Just my 2c as an initial reaction to the new warning at the top:
<img width="720" alt="Screen Shot 2020-05-19 at 1 28 26 PM" src="https://user-images.githubusercontent.com/140710/82358515-a21ac000-99d4-11ea-8bbe-08c8febc9208.png">

The box at the top of the documentation is very confusing (especially to new users):

The two options are:

- This document is for the master branch. Visit the latest p

[2020-05-19 18:21] rkooo567 commented on #7192
@eric-jj I can take this over.

[2020-05-19 19:16] jangkj09 commented on #8503
I am using TF. I tried making a small reproduction script using the PPO cart-pole example, but it doesn't seem to happen there.

This is the screenshot that shows the problem via the tensorboard display. The red line is the metric's output during training and the gray line is after restoring at a checkpoint towards the end of training. As you can see, there is a huge drop in the performance. A sim

[2020-05-19 19:26] rkooo567 commented on #8472
You can check the ray version by `pip freeze | grep ray`

Also, Ray stopped Python 2 support. Would you mind trying Python 3 and see if it works?

[2020-05-19 20:19] ericl commented on #8505
What if we changed `warning` => `tip`, and renamed "latest pip release" to "stable release"

@richardliaw

[2020-05-19 20:22] ericl commented on #8503
To clarify, is this reproducible with the default models or is it only with the custom one?

[2020-05-19 20:22] ericl commented on #8502
This is hitting the internal gRPC message size limit. In C++ land we configure it to 100MB by default, but it looks like the python client does not have this setting set.

[2020-05-19 20:27] waldroje opened #8507 "[rllib] Pytorch missing custom loss"
### What is the problem?
Running `rllib/examples/custom_loss.py` example, the tensorflow implementation displays the custom loss, but Pytorch does not.  During the process, I had to update the `rllib/examples/models/custom_loss_model.py` models method name from `custom_stats `to `metrics`.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray version: latest whe

[2020-05-19 20:32] jangkj09 commented on #8503
I've only been able to reproduce with my custom one. I have double-checked to make sure all the metrics are reported correctly from my environment and that they are accessible through the callbacks which I implemented following the example at https://github.com/ray-project/ray/blob/master/rllib/examples/custom_metrics_and_callbacks.py .

The reward from my environment is a sum of a sparse reward (

[2020-05-19 20:56] ericl commented on #8503
If it's only the env, it's possible it's an artifact of restarting all episodes from scratch, which would lead to lower initial rewards from episodes that finished quickly.
If it's only the model, it's probably some issue with registering varibales.

[2020-05-19 22:11] jangkj09 commented on #8503
So, what's unique about my custom environment is that it has the same length for all the episodes, so i don't think there is an issue with the environment.

How would I make sure all the variables in my model are registered correctly? And if they are registered correctly, where would I need to look to make sure they are being saved/restored properly?

[2020-05-19 22:20] ericl commented on #6668
I just tried on a DLAMI machine + TF 2.2 + latest Ray, and custom_keras_model.py with num_gpus: 1 runs for me.

Perhaps the latest TF 2.2 fixes the issue?

[2020-05-19 22:38] josjo80 commented on #6668
Hey @ericl .  Thanks for checking in on this issue.  I think the problem is with using multiple gpus.  I can run a custom model with 1 gpu but not with more than 1.

[2020-05-19 22:48] ericl commented on #6668
That works for me as well (with `--run=PPO`. DQN does not support multi GPU).

[2020-05-19 23:00] J1810Z commented on #8326
Since the problem occurs in my case while running ray on a slurm cluster, I am not able to reproduce it on a single machine. My minimal setup would still require at least two VMs (one control and one compute node).

Interestingly, the issue only occurs if ray is installed in a user-specific conda environment. If I install ray in the conda environment of the root user, I don't experience any issues

[2020-05-19 23:01] ericl commented on #6668
This sounds like a similar bug fixed in TF 2.2 nightly: https://github.com/tensorflow/tensorflow/issues/31318

[2020-05-20 00:05] richardliaw commented on #8505
Sounds good!

[2020-05-20 01:55] ffbin commented on #8492
@ericl This log  is related to this PR. https://github.com/ray-project/ray/pull/8401 I will take a look, thanks.

[2020-05-20 07:03] Purpleslz commented on #8412
This PR #8480 doesn't solve my problem. I'm not sure whether my verification method is correct：
1. I checked the [https://github.com/tensorflow/tensorflow/blob/v1.14.0/tensorflow/python/training/optimizer.py#L1169](https://github.com/tensorflow/tensorflow/blob/v1.14.0/tensorflow/python/training/optimizer.py#L1169) this line, this line is restoring optimizers' variables. If there are no variables t

[2020-05-20 09:40] pitoupitou opened #8513 "Need to use port 8888"
Hi

I need to use port 8888 on my cluster in order to use a particular Library.
But Ray is using port 8888 by default for metrics, how can I change this to another port ?

Thank you

[2020-05-20 09:58] sven1977 commented on #8411
Got it. `Policy.compute_single_action()` Has to be:

[code]

In case of a complex nested action, the action comes back as batched (nested struct of different batches) and hence has to be converted into a single nested action.
Will PR now. ...

[2020-05-20 10:30] cpn opened #8515 "Reusing resources between training and evaluation."
### Describe your feature request

For now setting the `evaluation_num_workers` to a stricly positive number allocates additional CPUs for the evaluation workers. Is this because the evaluation and training happen in parallel? If not would it be possible to reuse the resources?

[2020-05-20 10:31] sven1977 commented on #8411
@jsuarez5341 Could you check this PR and let me know, whether this fixes the issue?
https://github.com/ray-project/ray/pull/8514

[2020-05-20 11:11] J1810Z commented on #8326
After further experimentation, I think that I figured out what is happening.

On initialization, ray starts a worker process for each identified core. If an actor is instantiated immediately after initialization, these worker processes are not yet ready and ray attempts to create a new worker process. As a results, the number of worker processes exceeds the number of cores. If the worker to be sta

[2020-05-20 12:53] Julianbaozi opened #8516 "How to set lock?"
I want to set lock to a command inside a class method.

from threading import Lock
lock = Lock()
class ....:
  def ...:
        with lock:
            self.feed_items(items)

It gets:
TypeError: can't pickle _thread.lock objects

[2020-05-20 13:04] tom-doerr opened #8518 "[rllib] python: can't open file 'python/ray/rllib/eval.py':"
### What is the problem?
According to the documentation (https://docs.ray.io/en/ray-0.3.1/rllib.html) it should be possible to evaluate models like so:
[code]
but there is no script `eval.py` at that location or anywhere else in the ray repo.

[2020-05-20 13:08] ZekiDorukErden opened #8519 "[rllib] Error when using SAC only ( ValueError: ('Cannot apply NormalizeActionActionWrapper to env of type {}, which does not subclass gym.Env.' )"
Hello,

When I am training to create a trainer with SAC, (SACTrainer object) I get the following error:

`Traceback (most recent call last):
  File "./run_simulation.py", line 326, in <module>
    "log_level": "ERROR",
  File "/usr/local/lib/python3.7/dist-packages/ray/rllib/agents/trainer_template.py", line 90, in __init__
    Trainer.__init__(self, config, env, logger_creator)
  File "/usr/local

[2020-05-20 13:18] tom-doerr commented on #8518
For some reason I was reading the ray `0.3.1` documentation instead of `latest`.

[2020-05-20 13:18] #8518 closed

[2020-05-20 14:23] beasteers opened #8522 "Reducing unnecessary process overhead in practice"
### Describe your feature request
Part of the issue with overusing `ray.remote` is that it adds the overhead of serializing and inter-process communication. But one of the really nice things about ray is that it uses futures that wait for and automatically resolve object ids passed as arguments.

I don't know exactly how it would work, but is there a way to run a lightweight function in a way that

[2020-05-20 14:54] janblumenkamp opened #8523 "[rllib] Make QMix support complex observation spaces"
### Describe your feature request

The QMix example and the default model only uses a simple MultiDiscrete observation space. It would be nice if more abstract observation spaces and custom models would be supported. The following example using a nested dict observation space ([based on the two step game](https://github.com/ray-project/ray/blob/master/rllib/examples/env/two_step_game.py)) fails [h

[2020-05-20 15:31] rkooo567 commented on #8522
In that case, isn’t asynio satisfying your requirements?

[2020-05-20 15:51] beasteers commented on #8522
That's not a bad thought (I'm familiar with the concept of asyncio, but less so with implementation). Would asyncio work seamlessly in a ray pipeline tho? the goal is to have the heavier parts of the program use ray for multiprocessing and fast serialization (arrow) and have lighter-weight functions mixed in that don't force the preceding chain to execute when it's called.

I'm not sure if that's

[2020-05-20 15:57] matej-macak-qb commented on #8473
Hi @ericl, I have done some more testing of this bug and discovered that in the `0.8.5` ray this is significantly diminished so could potentially be linked to the #8037

[2020-05-20 16:39] jangkj09 commented on #8503
I've tried accessing the model variables and weights via get_policy.model() and also storing them.
What I'm doing is storing the weights separately and later comparing the weights when I restore from the checkpoint. Unless there are some additional variables that need to be saved, at least for the weights I can access, they seem to be fine. Yet, I still observe the same problem. Is there any of ot

[2020-05-20 16:40] jaromrax commented on #4902
Same issue, version 0.8.5 doesnt login to workers. I tried 0.9.0.dev0, with the same effect.
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl

[2020-05-20 18:25] ericl commented on #8473
Oh, that's good news. To confirm, the memory increase is no longer a problem? I think a very modest amount of increase over time is expected based on memory fragmentation.

[2020-05-20 18:26] ericl commented on #8503
Perhaps it is related to https://github.com/ray-project/ray/issues/8412 ?

[2020-05-20 18:30] matej-macak-qb commented on #8473
Yes I think we can close this because in `0.8.5` that code should work without memory increase, in `0.8.4` it breaks down though. I ran it for a very long time without any memory leak now on `0.8.5`.

[2020-05-20 18:31] ericl commented on #8473
Awesome

[2020-05-20 18:31] #8473 closed

[2020-05-20 18:50] pcmoritz commented on #8497
Hey @zzcNEU thanks for reporting this! We are upstreaming our changes to pickle 5 (https://github.com/pitrou/pickle5-backport/pull/15 and https://github.com/pitrou/pickle5-backport/pull/16) and will update Ray to use that version, so this error will go away soon.

[2020-05-20 18:55] jangkj09 commented on #8503
This may be a stupid question, but why would the optimizer's variables affect the performance of the model? Are there some additional states that are part of the optimizer? I'm a little confused.

[2020-05-20 18:57] ericl commented on #8503
It could cause a drop in performance if additional optimizer steps are
taken with bad momentum. Not sure if you restarted training after the
checkpoint as well.

On Wed, May 20, 2020, 11:55 AM jangkj09 <notifications@github.com> wrote:

[2020-05-20 19:11] jangkj09 commented on #8503
Well, initially I wasn't restarting training and all I was doing was taking the model and evaluating it on the environment. When I saw the drop in performance, I restarted the training to see what was going on and that was the plot above. So, maybe in that case, that is what causes the huge drop.

However, it doesn't explain the drop in performance when just restoring from the checkpoint and then

[2020-05-20 19:53] janblumenkamp commented on #8507
#8193

[2020-05-20 20:29] #8411 closed

[2020-05-20 20:45] ericl commented on #8515
The reason is that the workers are stateful. For example, they may contain partial episode rollouts. It would be potentially misleading to reuse the same set of workers for evaluation without flushing this state, which would impact training. Hence, the separation of train/eval workers.

[2020-05-20 20:46] ericl commented on #8519
Can you try setting ` "normalize_actions": False`?

[2020-05-20 20:58] ZekiDorukErden commented on #8519
I did, and it worked without giving that error. However, non-normalized actions gives another error due to my environment implementation, so I prefer to use as it normalized - is there any way to do so (and avoid that error) while keeping `normalize_actions=True`?

[2020-05-20 21:21] ericl commented on #8519
We don't support auto action normalization with multi agent envs, so this is something you would have to implement yourself in your env class.

[2020-05-20 21:22] ZekiDorukErden commented on #8519
I see, thank you for the help.

[2020-05-20 22:10] drozzy opened #8526 "[rllib] HER (hindsight experience replay)?"
Hi, guys.
Any chance we can get an implementation of [HER](https://arxiv.org/abs/1707.01495)?

If it's helpful, I found an implementation over at stable-baselines: https://stable-baselines.readthedocs.io/en/master/modules/her.html

[2020-05-20 23:28] ericl commented on #8513
Unfortunately I don't think this is possible to set at the moment, you have to change this value here and recompile: https://github.com/ray-project/ray/blob/a76434ccde61bef853cb7655b22a5d67739a4913/src/ray/raylet/main.cc#L48

[2020-05-21 02:18] wyb-github-alpha opened #8528 "[tune] OSError: dlopen: cannot load any more object with static TLS"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]

[2020-05-21 02:44] jangkj09 commented on #8503
This is a very trivial question, but with my custom metrics, will there be a problem if I don't initialize the episode dict for the custom metric in `on_episode_start()` (shown here: https://github.com/ray-project/ray/blob/a76434ccde61bef853cb7655b22a5d67739a4913/rllib/examples/custom_metrics_and_callbacks.py#L21). In other words, does the `episode` object persist from rollout to rollout?

[2020-05-21 03:30] #8492 closed

[2020-05-21 05:41] jangkj09 commented on #8503
I'm sorry, I think I figured out what the problem was.. it had nothing to do with the restore. I was changing some settings each time I instantiated it and it was affecting the performance. Thanks for your advice.

[2020-05-21 05:41] #8503 closed

[2020-05-21 06:28] pdames commented on #8420
I've revised the list above to reflect both this request and a separate improvement for EC2 security group tagging discussed in https://github.com/ray-project/ray/pull/8374.

[2020-05-21 07:33] tinymindxxx commented on #7830
@Catypad  you create a box with max and min like this :
[code]
for categorical features, you can hash your value.

[2020-05-21 08:39] Arthur-Null commented on #7599
I still have some doubts. So if I set batch_mode: complete_episodes and collected over "metrics_smoothing_episodes" episodes in this iteration. Then the mean is computed over all episodes collected in this iteration?

[2020-05-21 09:16] iamhatesz opened #8532 "[rllib] Add an option to define whether a model outputs logits or probs"
I propose adding an option to define what `inputs` represent (logits or probs) when using default action distributions. As I understand, there is an assumption that models always return logits, but this is problematic when trying to suppress specific actions by assigning them a zero probability. A common practice (e.g. in [Attention Is All You Need](https://arxiv.org/pdf/1706.03762.pdf), OpenAI Fi

[2020-05-21 09:23] sven1977 commented on #8526
Yeah, this could be a relatively simple addition. Thanks for bringing this up. We'll discuss internally and get back to you. ...

[2020-05-21 09:40] tinymindxxx commented on #8469
@ericl  sorry for not replying this question for so long, I am busy with other work.
After a few trials, I found rollout worker may be the root cause of memory leak.
this scripts only remove "num_workers":3 in the config, and without rollout worker there is no sign of memory leak  after running for a while.
[code]
![image](https://user-images.githubusercontent.com/62932955/82545781-b94ede80-9b89-1

[2020-05-21 09:53] sven1977 commented on #8532
Hi @iamhatesz , yes, this makes a lot of sense. The reason for outputting logits by default currently is probably to make sure we don't double-softmax anywhere (only once inside the torch.distributions object).
We can either get that information from the model's config (as a hint) inside TorchMultiCategorical or already create that distribution class in ModelCatalog.get_action_distr() as a `functo

[2020-05-21 09:53] sven1977 commented on #8532
Feel free to PR this. We'll help you get this merged.

[2020-05-21 10:27] sven1977 commented on #8523
@janblumenkamp Got it. Could you test against this PR and see whether it works now?
https://github.com/ray-project/ray/pull/8533

Your example script runs fine with these changes now.
The problem was that the `_unpack_observations` was expecting a flat value inside key "obs" in a Dict obs-space. Using dm-tree, this restriction is now relaxed.
I have added a more complex example to the existing che

[2020-05-21 10:32] sven1977 commented on #8523
Closing this issue. Feel free to re-open if it still occurs on our end.

[2020-05-21 10:32] #8523 closed

[2020-05-21 10:34] sven1977 commented on #8507
Sorry, this may have slipped through the cracks. I'll take a look and provide the missing example.

[2020-05-21 10:47] pitoupitou commented on #8513
Thanks for your amazing support Eric

[2020-05-21 10:53] sven1977 commented on #8507
Got it, `ModelV2.custom_loss()` is not supported for PyTorch yet at all (ignored). Will fix this.

Yes, `metrics` is the new name (ModelV2) for the old `custom_stats` (Model(V1)).

[2020-05-21 13:02] andrewv99 opened #8534 "Is there a way to block via the ray CLI until the ray submit python script has finished ?"
Environment:

ray 0.7.7
OS: Ubuntu 18.04
Python: 3.6.8
Using autoscaler on AWS

Background: I am trying to automate the execution of a ray tune job with other tasks.

Is there a way using the ray CLI to block until the script being executed by 'ray submit' has finished running (or poll/monitor something on the head until the script has finished running) ?

If not possible via the ray CLI, is there

[2020-05-21 13:34] acxz opened #8535 "[ray] Build failure when installing from source"
### What is the problem?

I am trying to install ray from source. However, I receive the following error during the building process:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray: 0.8.5
python: 3.8.3
gcc: 10.1.0
bazel: 3.1.0
os: Arch Linux

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script sho

[2020-05-21 14:55] internetcoffeephone commented on #6668
In the wheel at that time, line 158 [was correct](https://github.com/ray-project/ray/blob/04e997fe0da22b8190da38e0d3224d9ccdf57218/rllib/examples/custom_keras_rnn_model.py#L158). Unfortunately this repro script breaks because the content behind the latest wheel link changes. Thanks for pointing this out, I'll try to write less brittle repro scripts next time.

[2020-05-21 16:14] jpmediadev commented on #8429
Hi, same problem
i have a Custom Eval Function  config['custom_eval_function'] = CustomTester().run
which returns {'evaluation_rewards': 14.342403665942745}
i can see this in result = trainer.train()
but nothing in Tensorboard

[2020-05-21 16:58] alexmascension commented on #8164
Hi! Any news on this?

[2020-05-21 17:07] ericl commented on #8469
Oh, that might be because setting num workers enables distributed mode. We've fixed some memory leaks in 0.8.5, so it's worth upgrading to see.

[2020-05-21 17:26] mimoralea opened #8538 "Potential discrepancy in `max_failures` default value"
The documentation says `max_failures` defaults to 3.

https://github.com/ray-project/ray/blob/9a83908c460a8bdf38b665c290a003e492a87e16/python/ray/tune/tune.py#L176

But in the function, the default value is 0.

https://github.com/ray-project/ray/blob/9a83908c460a8bdf38b665c290a003e492a87e16/python/ray/tune/tune.py#L87

[2020-05-21 17:56] trunghlt opened #8539 "[Tune] How to tune GluonTS model in parallel with multiple GPUs?"
Hi, I have a server with multiple GPUs. I would like to tune a GluonTS model, each trial runs on a GPU. How could I set the context for my trainer? I currently set it as "gpu" and got GPU: Initialization error.

[2020-05-21 18:09] ericl commented on #8368
cc @krfricke

[2020-05-21 19:06] richardliaw commented on #8164
sorry I got caught up on a deadline - @rkooo567 can you take a crack?

[2020-05-21 20:38] jangkj09 commented on #8460
Even if I initialize ray with `ray.init(num_gpus = 1)` the settings seem to be overridden somewhere when instantiating PPOTrainer. Could you direct me to where this is happening? Also, is this what you meant by having to use Ray tune?

[2020-05-21 20:39] #7359 closed

[2020-05-21 21:11] janblumenkamp commented on #8523
Thanks for the quick PR, Sven! Now the observation is also flattened in the model though. I would like to have the complex observation passed to the model batched so that I can implement my own model that can handle this complex observation space. Unflattening it manually in the model doesn't seem right - is there a good reason why it would not be possible to handle such observation spaces similar

[2020-05-21 21:37] rkooo567 commented on #8516
I am not sure if I understood what you were asking. Would you mind a script that I can run with  ? triple backticks? Example: https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

[code]

[2020-05-21 22:14] rkooo567 commented on #8534
@richard4912

[2020-05-21 22:14] rkooo567 commented on #8535
@simon-mo

[2020-05-21 22:15] rkooo567 commented on #8538
@richard4912

[2020-05-21 22:27] rkooo567 commented on #8522
I see. I understood your feature request. I believe it is possible to achieve this using asyncio, but it wouldn't be too straightforward. (The idea is to make func2 async function and run the whole code block you wrote as a future. It'll be easier if you use sth like async web server such as aiohttp).

I understood you want to build a whole dependency graph and make ray execute them while you make

[2020-05-21 22:44] rkooo567 commented on #8164
@alexmascension I will take a look at it this weekends. Would you mind pinging me one more time if I don't get back by next Monday?

[2020-05-21 22:51] simon-mo commented on #8535
Seems like GCS build issue. @ffbin can you take a look or find someone might touch this code recently? Thanks

The error is undefined symbol, reformatted the log below.

[code]

[2020-05-21 23:14] rkooo567 commented on #8450
Hi, @McCrearyD! Thanks for the feature request. I do think it is a good idea to have a CLI dashboard, but we are not sure when we will be able to have bandwidth to work on this. We will definitely add a task to the backlog!

[2020-05-22 01:21] #8482 closed

[2020-05-22 01:36] pcmoritz commented on #8497
@suquark fixed this now on the latest master!

[2020-05-22 01:36] #8497 closed

[2020-05-22 02:36] AnanthHari opened #8542 "[ray] Nightly wheel is not updated"
### What is the problem?

I am using the latest nightly wheel: Downloaded on May 21 at 10 pm EDT.
Ray version: 0.9.0.dev0
Python version: 3.7.6
OS: Ubuntu 19.10

There are three tests present in `ray/rllib/agents/dqn/tests` directory on the `master` branch.

In the latest nightly wheel, the `tests` directory itself is absent. We can see that the earliest commit in `tests` occurs on Feb 10, 2020: h

[2020-05-22 03:33] AnanthHari opened #8544 "[rllib] Rainbow DQN fails when `noisy` parameter is True. Asks to register variables."
### What is the problem?
Ray version: 0.9.0.dev0 (the latest nightly wheel)
Python version: 3.7.6
OS: Ubuntu 18.04

I wanted to run DQN method with the improvements in the Rainbow paper included. I tried setting parameters as mentioned in this [comment on issue #7035](https://github.com/ray-project/ray/issues/7035#issuecomment-582006834).

### Reproduction (REQUIRED)
Here is the script (`test_rain

[2020-05-22 04:39] justinkterry commented on #8544
@sven1977 do you have any idea what the problem here is?

[2020-05-22 06:17] cyoon1729 opened #8545 "[ray] Is it bad practice to use sockets (pyzmq) to communicate between ray remote functions?"
I have a `send()` function that generates random numpy arrays at every time step, and a `recv()` function that receives and prints those generated arrays. I am using `zmq` for sending/receiving the numpy arrays across the processes, and `pyarrow` to serialize and deserialize arrays. I wasn't able to find any examples using ray and zmq together, so I would like to know whether this is bad practice.

[2020-05-22 06:21] csdingbin opened #8546 "[Ray]libgomp: Thread creation failed: Resource temporarily unavailable"
ray==0.8.4

when I run ray to train, it always appeared the issue of:

libgomp: Thread creation failed: Resource temporarily unavailable
(pid=116340)
(pid=116340) libgomp: Thread creation failed: Resource temporarily unavailable
E0522 14:15:23.659037 116590 task_manager.cc:236] 3 retries left for task ffffffffffffffff7dec85640100, attempting to resubmit.
2020-05-22 14:15:23,659 WARNING worker.py:1

[2020-05-22 06:33] rkooo567 commented on #8545
Ray already handles inter-process communication as well as serialization using Pyarrow. You can just do.

[code]
This should do the same thing.

[2020-05-22 06:34] cyoon1729 commented on #8545
@rkooo567 Thank you so much! Will give it a try.

[2020-05-22 07:16] furunding opened #8547 "docker build error"
When build docker in terminal, the building process report an error as follows：
(base) inspur@inspur-NF5468M5:~/frd/ray$ ./build-docker.sh
+ [[ 0 -gt 0 ]]
+ '[' ']'
+ docker build -t ray-project/base-deps docker/base-deps
Sending build context to Docker daemon  3.072kB
Step 1/4 : FROM ubuntu:xenial
 ---> 005d2078bdfa
Step 2/4 : RUN apt-get update     && apt-get install -y         git         wget

[2020-05-22 07:21] alexzhou907 opened #8548 "[tune] A spreadsheet of final results from each trial"
I wonder whether we can create a spreadsheet in the base dir and on each trial's exit we log the trial's final metric to the spreadsheet. I tried to figure out how to do a workaround but it seems there's no exposed interface that allows logging to any files in the base dir on each trial's trial exit.

[2020-05-22 07:35] cyoon1729 commented on #8545
@rkooo567 Thank you so much for your response and the example above. I would like to ask another question:

Say, for instance, I have the `ReceiveServer` above to store the `msg` in an internal storage `self.storage (deque)` when `recv()` is called in `send()`, while continuously (as in a `while: True` loop) sampling data from `self.storage` and processing it in another member function `process()`

[2020-05-22 08:04] TBashida opened #8550 "Ray seems to be caching the imported .py even after code terminates"
I am testing ray on 1 head node and 1 cluster node.
I started the head node with:

    ray start --head --redis-port=6379

and the cluster node with:

    ray start --address='<ip_head_node>:6379'

At both the head node and the cluster node, there is f.py & ray_test.py

f.py:

    def f(num):
        print("f:", num)
        return num

ray_test.py:

    import ray
    import f

    @ray.remote

[2020-05-22 08:04] iamhatesz opened #8551 "[rllib] Zero-padded records in RNN sequences are being processed"
### What is the problem?

Ray: 0.8.5
PyTorch: 1.5

Inside a forward function of an RNN model I receive 0-padded sequences. This is fine to make calculations easier, but once the output is calculated, the records for 0-padded inputs are not being discarded. This silently fails with current PyTorch logits-based action distributions (#8532), because categorical distribution from [0,0] will simply be

[2020-05-22 08:04] maxgillett commented on #8152
Any insight into how to fix this? On the worker node, I'm using openconnect/ocproxy to set up a VPN connection that redirects SSH traffic to the head node to another `ssh-port` port on `localhost`, and then SSHing to the head node by running `ssh -L 0.0.0.0:redis-port:localhost:redis-port -p ssh-port user@headnode`. I can call `ray start --address=localhost:redis-port` with no issue, but in both c

[2020-05-22 09:25] sven1977 commented on #8412
I don't actually think the problem is ModelV1/V2 related at all.
In tf, optimizer variables are generated after initializing the global vars: `self._sess.run(tf.global_variables_initializer())` and this is happening after we store a Model's vars (V1/V2 doesn't matter here) in `self._variables`, so the optimizer vars were never part of that list.

When creating a checkpoint, only things in `self._v

[2020-05-22 10:37] sven1977 commented on #8412
Can you try again? This is working now on my end:
[code]

[2020-05-22 10:38] sven1977 commented on #8412
@Purpleslz

[2020-05-22 11:17] cyk1337 opened #8552 "Ray.get error: The actor with name CustomClassName failed to be imported, and so cannot execute this method."
### What is your question?
I would like to create a distributed training for models in tensorflow 1.x. I used @ray.remote decorator to create the Actor Class. The initialization of Actor Class works, but when I do `ray.get(obj_id)`, it reported the error:
[code]

### Code
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
- python 3.7
- TF 1.15
OS Ubuntu 1

[2020-05-22 11:58] Catypad commented on #7830
Hi @tinymindxxx ! But I need to put inside a Dict from gym, like you did?

[2020-05-22 14:02] GoingMyWay opened #8554 "[Dashboard] Integrate TensorBoard in Dashboard"
### Describe your feature request

I have been using Ray for over 6 months, I used the dashboard only less than 5 times. If you can integrate TB into the dashboard, it would be great I think, for example, auto-config TB and run it in the dashboard. Since as you know, it is very annoying to launch TB manually every time by setting the port host and other settings and users can monitor the CPU/memor

[2020-05-22 14:15] pitoupitou opened #8555 "Cluster : Saving persistent data to specific node's disk"
In an AWS cluster that I set up using "ray up _my-specs_.yaml"
How is it to checkpoint files (dumping files) in the head node's disk?

Since my worker_nodes' disks are meant to be destroyed automatically from time to time (using Spot).

Is there a best-practice for persistent & reusable data? is it possible using Ray directly?

**Thank you**

[2020-05-22 17:07] avinayak opened #8557 "Use an external redis server for ray"
Hi,
I'm trying to use an external redis server that's accessible by all machines in my cluster. So, I'd expect, something like
`$ ray start --head --address='redis.internal.net:6379'` to work, but instead I get,

`Exception: If --head is passed in, a Redis server will be started, so a Redis address should not be provided.`

Any way I can make this work?
Thanks

[2020-05-22 17:40] cpn commented on #8515
@ericl Thank you for your answer. Nonetheless, why is it not possible to reuse the resources themselves, not the workers? The same CPUs for example. Since, as far as I understand, the evaluation does not happen in parallel with the training, just reuse CPUs during the evaluation that one used during the training.

[2020-05-22 18:20] ericl commented on #8515
Ah, that is doable. One thing you could do is to create more fake CPUs in Ray, by setting ray.init(num_cpus=N). This will allow more workers than real CPUs to be created.

[2020-05-22 18:27] pitoupitou commented on #8502
Hi

I have exactly the same error:
[code]

Interestingly (maybe it might help you investigate):it happens only when number of workers is superior to number of CPUs. When number of workers is <= number of CPUs, it works fine

[2020-05-22 18:27] yncxcw opened #8558 "GC delays when lru_evict=True"
### What is the problem?

Even I `del` the reference to the object, I still see a lot of logs like:
[code]
Apparently, the NumPy objects returned from actors/tasks are still in the object store and are not removed when I call `del` or when the objects are out of their scope. As a result, the object store gets full and the GC kicks in.

*Ray version and other system information (Python version, Ten

[2020-05-22 18:29] rkooo567 commented on #8558
cc @stephanie-wang @edoakes

[2020-05-22 18:48] ericl commented on #8558
Does ray memory show a leak? Also, how much memory does the node have?

[2020-05-22 18:50] yncxcw commented on #8558
No, I did not see memory leakage. The node has 251GB memory. I can see constant memory usage at about 83GB.

It might be the case that the memory is actually removed, but the Garbage collector is not aware of that ?

[2020-05-22 18:52] yncxcw commented on #8558
Also, see this from dashboard:
[code]

[2020-05-22 19:02] stephanie-wang commented on #8558
I believe there's a bug with the `lru_evict` option that is causing the GC delays. Can you try without the `lru_evict=True` flag? I tried this on my laptop and that seemed to work OK.

By the way, you should only use `lru_evict=True` if there are object refs that you expect to keep around for a long time but the values should not actually be pinned. In most cases, we recommend using the default op

[2020-05-22 19:02] drozzy commented on #7281
This is good to me now!

[2020-05-22 19:02] #7281 closed

[2020-05-22 19:14] yncxcw commented on #8558
@stephanie-wang Thanks for the quick response. Yeah removing `lru_evict=True` fixes my issue. I still have a few questions regarding this feature:

What do you mean by this? My understanding is that the objects (like numpy) cached by the object store is actually pinned to object store ?

What if the object store is full but the driver still holds  references to all the objects ?

[2020-05-22 19:24] stephanie-wang commented on #8558
Great, I'll open a PR soon to fix the issue, but again, would recommend just using the default option if that's working for you.

Actually, the objects are only pinned with the default option. With lru_evict, objects that are in reference are not pinned, so they may get evicted in LRU order.

With the default option, the system will attempt a GC round in all worker processes and give the applicati

[2020-05-22 19:27] yncxcw commented on #8558
Got it, thanks, please let me know when your PR gets merged.

[2020-05-22 19:54] Arthur-Null opened #8560 "[rllib] Recurrent Torch models do not work with A2C/A3C"
### What is the problem?

ray-0.9.0.dev0
python 3.7
pytorch 1.5

Traceback (most recent call last):
  File "/data/yucfan/anaconda3/lib/python3.7/site-packages/ray/tune/trial_runner.py", line 467, in _process_trial
    result = self.trial_executor.fetch_result(trial)
  File "/data/yucfan/anaconda3/lib/python3.7/site-packages/ray/tune/ray_trial_executor.py", line 430, in fetch_result
    result = ra

[2020-05-22 21:17] rkooo567 commented on #8545
It doesn't print anything because Actor (class with @ray.remote) is running in a single process, and `recv` will never run because `process` is occupying the process (because it is running a while loop).

mutual exclusion of ReceiveSercer.storage be enforced? Is this legal?: Yes. Ray handles this issue and you never need to worry about locking.

There's nothing wrong with using zmq and pyarrow if

[2020-05-22 21:20] rkooo567 commented on #8557
The master shard of Redis should be started in the head node for now unfortunately.

However, we are currently in active progress supporting standalone and pluggable GCS (Redis is GCS in your case), so that you can use standalone Redis or other storages like SQL as GCS.

[2020-05-22 22:16] rkooo567 commented on #8554
Based on @richard4912 You should be able to access tensorboard through the Tune dashboard.

[2020-05-22 22:16] #8554 closed

[2020-05-22 22:52] ericl commented on #6668
Closing this for now; feel free to-reopen if someone can reproduce with TF2.2.

[2020-05-22 22:52] #6668 closed

[2020-05-22 23:15] javierabosch commented on #631
I am not sure if this is helpful, but CUDA and GPU support will be available on WSL for those who are a part of Insider's program and NVIDIA developer program for May 2020 Update. It should be released to the wider public soon after, likely the end of May or a little later.
references:
https://developer.nvidia.com/cuda/wsl
https://ubuntu.com/blog/new-gpu-and-gui-features-announced-for-wsl-at-build

[2020-05-22 23:35] Red-Eyed commented on #631
Cool, now we (developers) who develop primary for linux, will not bother of windows support, as now everything that works on linux automatically should work on windows (we can easily address such bugs aka: "add windows support" to use wsl2), don't we?

[2020-05-23 00:57] allenyin55 opened #8565 "[core] Remote task cancellation not working as expected."
### What is the problem?
Ray task cancellation returns error `TypeError: No owner found for object.` when cancelling the task from a different function.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: latest master (2e5e789294dccaa53b34abc6e46925a9041f9681)
Python: 3.7.4
OS: macos 10.15.3

### Reproduction (REQUIRED)
The following script doesn't work
[cod

[2020-05-23 01:00] ijrsvt commented on #8565
Hey @stephanie-wang , it looks like this could be a problem with `ReferenceCounter::GetOwner`, but I'm not 100% sure.

[2020-05-23 02:24] ericl commented on #8412
Yeah, it makes sense to not include them in the policy get_weights, but only in trainer checkpoints.

[2020-05-23 02:25] ericl commented on #8326
@J1810Z any hints at how to create a reproduction? I've tried a couple simple things with starting actors quickly while workers are tied up executing tasks, but no luck so far.

[2020-05-23 02:58] yunqu opened #8567 "ray failed to build when checking out pickle5-backport commits"
### What is the problem?
This is on Ray-0.8.5 tag.  This line failed:
https://github.com/ray-project/ray/blob/ray-0.8.5/build.sh#L134
when I try to build the wheel.

I think this only happens recently - maybe the pickle5-backport github breaks something. I used to be able to build the wheel without issues.

### Reproduction (REQUIRED)

To reproduce:
[code]
Gives the following error:
[code]

If we

[2020-05-23 04:17] suquark opened #8568 "Broken upstream link"
### What is the problem?

The old pickle5 revision breaks after we update the pickle5 upstream:

[code]

This affects v0.7.7 ~ v0.8.5

Related issue: #8567

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix

[2020-05-23 04:20] suquark commented on #8568
@pcmoritz I am not sure about how to (and if we should to) update these releases. Do you have any suggestions?

[2020-05-23 04:31] suquark commented on #8568
I have recovered the revision by git reflog. Now it works again.

[2020-05-23 04:31] #8568 closed

[2020-05-23 04:32] suquark commented on #8567
@yunqu I have recovered the revision 8ffe41ceba9d5e2ce8a98190f6b3d2f3325e5a72. Could you try it again?

[2020-05-23 04:35] yunqu commented on #8567
@suquark  Thank you very much. It has been resolved now.

[2020-05-23 04:35] #8567 closed

[2020-05-23 05:55] alexzhou907 opened #8569 "Can't pickle CudnnModule objects"
When using pytorch, if I use torch.backends.cudnn in any way it reports this error. Others suggested deleting this line of code involving cudnn, but it's essential to set cudnn.deterministic = True to get reproducible results so deleting this line isn't an option. Is there any possible workaround for this?

[2020-05-23 06:04] robertnishihara commented on #8569
@alexzhou907 could you include a code example that reproduces the issue (along with a description of the environment required, e.g., python packages)?

[2020-05-23 06:15] alexzhou907 commented on #8569
Ok there does seem to be a workaround. But I'm writing in case anyone else has the same problem. Previously I had `import torch` outside the trainable function like this:

[code]

This gives TypeError: Can't pickle CudnnModule objects

But moving  `import torch` inside the trainable works.
[code]

In future releases can we improve the serialization so that we can safely import torch outside withou

[2020-05-23 06:33] drozzy commented on #8526
FYI, there is already an environment for this in Open AI Gym called `GoalEnv`:
https://github.com/openai/gym/blob/master/gym/core.py#L156

It doesn't get much use, but hopefully by exposing it here - this can change.

[2020-05-23 06:51] drozzy opened #8570 "[rllib] Pass kwargs to Environment instead of a config dict"
Presently the arguments are passed as a config to the environment class.
This makes it really hard to:

1. See what the arguments to the constructor are
2. Provide default values as part of the constructor

I suggest a better implementation is to pass the config to the environment constructor as `**config`. This way it is converted to keyword args.

So instead of this:

[code]

we have this:

[cod

[2020-05-23 07:09] drozzy opened #8571 "[rllib] Tame the configuration"
Hi, guys.
Is there any way to make configuration easier? Or more manageable...

The present config system suffers from two major issues for me personally:

## 1. Wall of text

There is just so much of it that it's just hard to know what's more important and what's not. Comments are intermixed with code and it's hard to scan through it. I find myself going through the tuned examples to get a better

[2020-05-23 07:10] drozzy commented on #7280
I'm going to close this in favour of other more important issues.

[2020-05-23 07:10] #7280 closed

[2020-05-23 07:12] drozzy commented on #7049
I think this could be easily achieved with Weights and Biases.
They provide the ability to [save](https://docs.wandb.com/library/save) code and mode and other data during runtime:
<img width="729" alt="Screen Shot 2020-05-23 at 3 11 45 AM" src="https://user-images.githubusercontent.com/140710/82724312-24d89f00-9ca3-11ea-8909-b0ee0725fe11.png">

I've been using it for my logging and so far so good.

[2020-05-23 07:12] #7049 closed

[2020-05-23 07:15] drozzy commented on #7048
Closing, as I think sacred library might not be the best solution here.

[2020-05-23 07:15] #7048 closed

[2020-05-23 07:17] drozzy commented on #7570
Since I offer no concrete solution here, I'll close this.

[2020-05-23 07:17] #7570 closed

[2020-05-23 07:18] drozzy commented on #7279
Closing, as I'm seeing pytorch slowy emerging as part of rllib.

[2020-05-23 07:18] #7279 closed

[2020-05-23 07:19] drozzy commented on #7282
Closing for now.

[2020-05-23 07:19] #7282 closed

[2020-05-23 07:20] drozzy commented on #7730
Closing, until I can come up with more convincing argument :-)

[2020-05-23 07:20] #7730 closed

[2020-05-23 07:20] rkooo567 commented on #8555
I believe using NFS is the clearest solution, but there could be other ways. @allenyin55 do you know any other good practice?

[2020-05-23 07:21] drozzy commented on #8505
One more nitpick: it's not really clear what one needs to do to install `rllib` from master.
Seems like just installing ray from the wheel works. Is that correct?

[2020-05-23 07:21] drozzy commented on #7016
Closing until I try this out.

[2020-05-23 07:21] #7016 closed

[2020-05-23 09:06] janblumenkamp commented on #8368
I can confirm this - would appreciate an update on it

[2020-05-23 09:55] #8557 closed

[2020-05-23 10:12] janblumenkamp commented on #8368
Looks like the lr and entropy coeff schedule mixin was not added in the Torch PPO policy. This simple PR fixes it:
[code]

[2020-05-23 10:32] alokgogate opened #8573 "[tune] Error while trying to run tune experiment on ray remote cluster"
I am getting this strange error while trying to connect to a remote ray cluster and run tune experiment. The question is which is the additional config that is required to be given?
**Code below:**
[code]
**Error:**

[2020-05-23 10:40] anish-15 commented on #7339
I am getting same error

![1](https://user-images.githubusercontent.com/57394847/82728685-bbdb4080-9d0f-11ea-8779-76f3b0395bff.PNG)

[2020-05-23 10:51] cocorosiekz commented on #4814
How should we pass additional parameters for the SearchAlg or Scheduler if we use string indexing?

[2020-05-23 10:59] duburcqa commented on #8368
Nice, thank you ! The learning rate using tensorflow comes from a conversion from float32 to float64 that must be done somewhere. If you want to check:
[code]

[2020-05-23 12:27] vadimq commented on #7169
I had this error and it didn't reproduce with `sync_to_driver=False` (Ray 0.8.3).

[2020-05-23 12:35] waldroje commented on #8507
I'm looking closer at the current tf policies, and I'm actually struggling to see where `model.custom_loss` has been implemented in tf IMPALA either... Can you highlight the part of the code where this is done for my benefit? In the case of IMPALA, I know it calls the `model.custom_loss` method, as I can see the custom loss metrics I've produced, but what is not clear is that it is actually making

[2020-05-23 12:38] Purpleslz commented on #8412
I am using ray repo in the master branch, and merged the [#8840](https://github.com/ray-project/ray/pull/8480).

However, I got this error:
[code]
I think the problem is in this line: https://github.com/ray-project/ray/blob/497493de8018d73baae9795afd126b4256efd134/rllib/policy/tf_policy.py#L721, when I changed this optimzier to `tf.train.AdamOptimizer` the code could run correctly.

It seems that

[2020-05-23 12:49] janblumenkamp commented on #8368
Hmmm I made some more experiments and I am not convinced that the lr is actually properly updated... Is it possible that the learning rate in `cur_lr` is different from the actual learning rate?

[2020-05-23 12:52] ZekiDorukErden commented on #8519
Hello, I have two questions related to using the environment without action normalization:

1) I observed that I encounter no errors when using action normalization when I run the exact same code on Colaboratory. Do you have any idea on why that may be the case?

2) I see that without action normalization, eventually agent actions return NaN. I assume this is probably because of an overflow but I

[2020-05-23 17:43] alokgogate commented on #8573
worked by removing [remote]() decorator

[2020-05-23 17:44] #8573 closed

[2020-05-23 17:54] #8368 closed

[2020-05-23 19:45] janblumenkamp commented on #7517
Thanks for fixing this! What I originally hoped to be able to do though is knowing what is the corresponding directory from the id shown in the terminal (and correspondingly also corresponding experiment id in tensorboard). It looks like the random string shown in the trial name in the terminal has nothing to do with the actual folder name created.
For example, I start an experiment and in the ter

[2020-05-23 19:53] robertnishihara commented on #8569
@alexzhou907 thanks for the details. Could you actually share a full example that can run?

[2020-05-23 20:08] alexzhou907 commented on #8569
Sure. Here I use the logging_example.py in the repo and added the two lines
[code]
in the _setup function of the trainable. This requires bumpy and pytorch with cuda support.

[code]

[2020-05-23 21:33] surfingkaka opened #8575 "[rllib]: increasing num_workers using autoscaler on AWS for rrlib training"
**Question:**
I am trying to understand how/when new workers are launched by the autoscaler in response to queued up workloads from rllib. My code just gets stuck. It launches 5  instances (nodes in your terminology) on ec2. But on Ray dashboard, one host shows up and has 2 ray workers. The autoscaler never scales to more hosts or workers and just hangs there.
1. How are the number of workers per

[2020-05-23 22:01] J1810Z commented on #8326
Sorry, it took me a little bit longer to reproduce this issue. It seems to be more specific to my setup than I thought: I am running ray within a conda environment on an NFS share.

If I set lookupcache to none, the described issue occurs where ray creates additional worker processes instead of using the ones set upon initialization. The issue does not occur if lookupcache is set to the default va

[2020-05-23 22:47] surfingkaka opened #8576 "[rllib]: ModuleNotFoundError: No module named 'tabulate'"
Apologies for the long error log. Will remove if most of it is redundant.

Ray version: 0.9.0.dev0
Autoscaler: Yes
AWS: Yes
_example-full.yaml_
min_workers: 1
max_workers: 4
initial_workers: 2
autoscaling_mode: default
setup_commands:
pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl

head/worker nodes: m5.large
ImageId: ami-043f9ae

[2020-05-23 23:34] surfingkaka commented on #8576
So this was pretty straightforward. I added pip install tabulate  and other that were missing on the ray nodes. to the shell `setup_commands` section and this was solved.

It makes sense that all the dependencies to run say RLlib Examples aren't there but for some reason I assumed they would be .. closing

[2020-05-23 23:34] #8576 closed

[2020-05-24 00:21] surfingkaka commented on #8555
I believe Amazon EFS fits well here and then point ray to write there.

Here's some links that may be helpful:

[https://docs.ray.io/en/master/autoscaling.html#using-amazon-efs]

[https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html]

[2020-05-24 04:03] King-Of-Knights commented on #7046
@sven1977 Hi!  I just modified your code to finetune my model. However I met some unexpected problem. Here is my code:

[code]
But I got traceback like this, looks like the session of  tf is different:

[code]
Any advice? Thanks!

[2020-05-24 04:50] King-Of-Knights commented on #7046
@sven1977 OK, I figure out alternative way to do this. I just extracted network weights from h5 file just like what `get_weights()` do.  It does not look like art but it save me a lots of time to combat with confusing `tf.Session()` issues.
Here is what I have done:

[code]

[2020-05-24 05:30] ericl commented on #8326
Interesting, that suggests it's a race condition triggered by the speed of
worker startup, though I don't know how NFS comes into the picture exactly.

Thanks! this is probably enough of a hint to reproduce by injecting
artificial delays for testing into the raylet worker pool.

On Sat, May 23, 2020, 3:01 PM J1810Z <notifications@github.com> wrote:

[2020-05-24 06:03] ericl commented on #8570
This is pretty sensible, though we'd have to figure out to do it in a backwards compatible way.

One straw man is to deprecate `env_config` and replace it with `env_kwargs`, though this would be making the config temporarily messier.

[2020-05-24 06:04] ericl commented on #8560
cc @sven1977

[2020-05-24 06:05] ericl commented on #8551
cc @sven1977

[2020-05-24 06:50] jarlva opened #8578 "SEED RL implementation"
SEED (Scal-able, Efficient Deep-RL), a recent RL google development, managed to perform much faster than [any other framework to-date](https://arxiv.org/pdf/1910.06591.pdf). It's distributed architecture  seems a perfect fit for Ray.
Would it be possible to port the [current implementation](https://github.com/google-research/seed_rl) (with Gym support) into Ray (preferably in pytorch)?

[2020-05-24 08:22] roireshef opened #8579 "User has no control over TorchPolicy migrating model to GPU [rllib]"
### What is the problem?
in the constructor in /usr/local/lib/python3.6/dist-packages/ray/rllib/policy/torch_policy.py there's casting of torch model to GPU if CUDA is available, regardless of a user's preference not to use GPU. I believe this should be controlled by `num_gpus` and `num_gpus_per_worker`. Current setup ends up with incompatibility when rollout samples are on CPU and model on GPU, e

[2020-05-24 08:50] J1810Z commented on #8326
This makes sense. By deactivating the lookupcache, I am increasing the latency for accessing ray files and probably delaying the worker startup.

I hope it can be reproduced with artificial delays.

[2020-05-24 09:05] aefn opened #8580 "Use ray as a distributed task runner"
I want to use the distributed feature of ray to run my code in a cluster of computers.
First I was trying to use python multiprocessing module to achieve my goal but then I got familiar with ray. It sounds awesome at the beginning. I add a ray.remote at top of my class and then run my code in parallel. I thought that achieved my goal. It works for 5 objects at a same time.
Then I tried to create m

[2020-05-24 09:58] GoingMyWay commented on #8326
@ericl

I think I have fixed the memory leak issue when using TF 2.x with eager trace on offline data. The problem is in `tf.function`, since in `SyncSamplesOptimizer`,  the length of the sampled data can exceed `train_batch_size`, making the length of the input data varies every time, which can make OOM occur in TF 2.x.

A sample workaround is to call `.slice` by make the length of sampled data e

[2020-05-24 12:21] iamhatesz commented on #8551
@ericl @sven1977

In my investigation I found a problem with:

[code]

function in `PPOLoss` class. If `t` contains nans, even on invalid fields, the sum will be a nan as well.

[2020-05-24 12:44] jpmediadev opened #8581 "[tune] Error on restoring checkpoint from previous experiment"
Hi,
When i try restore best checkpoint from previous experiment:

tune.run('DQN', name="199_lr_ASHAShyperopt", verbose=1, config=config,  num_samples=1, search_alg=algo, scheduler=hyperband,
         checkpoint_at_end=True,
        restore="~/ray_results/best/checkpoint_3059/" , stop={"time_total_s": 60*60*3})

have error

ray.exceptions.RayTaskError(FileNotFoundError): ray::DQN.restore_from_objec

[2020-05-24 13:01] jpmediadev commented on #8581
no problem - need full path to file not dir
restore="~/ray_results/best/checkpoint_3059/checkpoint-3059"

[2020-05-24 13:01] #8581 closed

[2020-05-24 13:24] roireshef commented on #5666
Hi @ericl, was this ever fixed? I'm now running pytorch, seems successfully, but I might be missing something. Just wanted to make sure, because few months ago I've experienced the same issue.

[2020-05-24 13:28] krfricke commented on #8350
Your code is almost correct, but since you're running a MultiAgentEnv, you will have to specify the agent ID when fetching the last info dict, like so:

[code]

You can, of course, loop through all agents to fetch all info dicts:

[code]

[2020-05-24 16:56] Catypad opened #8582 "Create observation_space with external_env rllib"
Hi! I'm using RLLib for batch RL and I'm trying to create an environment and I'm having some questions about the observation space. I want the observation space to be the features that I have on my dataset.  How can I do it automatically?

Thank you!

[2020-05-24 18:49] #8350 closed

[2020-05-24 20:36] ericl commented on #8579
Ray sets CUDA_VISIBLE_DEVICES based on those configs to assign GPUs, so it should be working as you mention.

To clarify, is the report that this restriction is not working as expected on a GPU machine (device being detected despite ray setting the env var)?

[2020-05-24 21:18] sven1977 commented on #8335
Thanks a lot for filing this @pmacalpine and for your help @duburcqa ! This line has been removed anyways by now b/c it broke some test cases using dummy losses. Closing this issue.

[2020-05-24 21:18] #8335 closed

[2020-05-24 23:34] antonwnk commented on #7744
Curious what the specific resolution of this was. @cottrell, have you settled for the Repeater solution Richard showed above or have you found a different way around it?

[2020-05-25 01:21] rtolsma opened #8583 "[rllib] Exporting Ray RLlib Policy Models for simple out of the box loading and evaluation"
I have a PPO policy based model that I train with RLLib using the Ray Tune API on some standard gym environments (with no fancy preprocessing). I have model checkpoints saved which I can load from and restore for further training.

I want to export my model for production onto a system that should ideally have no dependencies on Ray or RLLib. Is there a simple way to do this?

I know that there is

[2020-05-25 01:40] chenk008 commented on #7999
Sorry for missed.I  will take a look

[2020-05-25 03:32] stephanie-wang commented on #8565
This behavior is expected. ObjectIDs that are serialized and deserialized out-of-band (using object_id.binary() instead of something like pickle.dumps(object_id)) are not expected to work properly and none of the normal operations like ray.get will work either.

[2020-05-25 03:32] #8565 closed

[2020-05-25 05:08] rkooo567 commented on #8550
Yes. The function is cached based on its module name + function name, and pickled function hash. This seems to happen because although the function f is modified, the remote function function descriptor is not changed (because remote function's function hash, module name, and function name is still the same after f is changed).

@edoakes Isn't it a bug or expected behavior? It seems to happen beca

[2020-05-25 05:10] rkooo567 commented on #8542
@mehrdadn

[2020-05-25 05:11] rkooo567 commented on #8547
cc @ijrsvt

[2020-05-25 05:12] rkooo567 commented on #8552
cc @robertnishihara

[2020-05-25 05:27] rkooo567 commented on #8580
This is a pretty cool use case btw!

1. If you add @ray.remote to classes, that means that you are creating an actor. Actor is a class that is occupying each worker (process). You received the warning because you tried to create 1000 actors meaning you tried to create 1000 Ray workers (which is 1000 processes).
2. Ray's idle worker consumes 20~30mb memory (and it will reduce the memory usage later

[2020-05-25 05:27] mehrdadn commented on #8542
I'm not sure unfortunately. cc @ericl

[2020-05-25 05:30] ericl commented on #8542
We don't include the test packages. Please reopen if you can confirm via the code that the wheel is really out of date.

[2020-05-25 05:30] #8542 closed

[2020-05-25 05:34] rkooo567 commented on #8502
@ericl I will set this P1 because it looks pretty important for anyone who uses big clutsers. Let's find the assignee in the next planning.

[2020-05-25 05:36] rkooo567 commented on #8513
@mfitton We should probably remove this default port assignment because it is not used at all.

[2020-05-25 06:22] mehrdadn opened #8586 "Out-of-bounds vector access in TaskResourceInstancesTest (when run in debug mode)"
There's an out-of-bounds vector access [here](https://travis-ci.com/github/ray-project/ray/jobs/339312889#L1495) in `initTaskRequest`:

[code]

The stack trace should be reproducible by putting stdlib in debug mode, e.g.:

    bazel test -c dbg --copt="-D_GLIBCXX_DEBUG" //:scheduling_test

[2020-05-25 06:27] mehrdadn opened #8587 "Invalid iterator dereference in TestReconstructionChain (fails in debug mode)"
There's an invalid iterator being dereferenced [here](https://travis-ci.com/github/ray-project/ray/jobs/339312889#L1757) in `MockObjectDirectory::Flush`:

[code]

The stack trace should be reproducible by putting stdlib in debug mode, e.g.:

    bazel test -c dbg --copt="-D_GLIBCXX_DEBUG" //:object_recovery_manager_test

[2020-05-25 06:30] mehrdadn opened #8588 "Possible deadlock in ReferenceCounter (caught by debug mode)"
There's a mutex-related error [here](https://travis-ci.com/github/ray-project/ray/jobs/339356136#L4052) in `ReferenceCounter::UpdateFinishedTaskReferences`:

[code]

The stack trace should be reproducible by putting stdlib in debug mode, e.g.:

    bazel test -c dbg --copt="-D_GLIBCXX_DEBUG" //python/ray/tests:test_actor_failures

[2020-05-25 07:01] aefn commented on #8580
@rkooo567 thanks for your answer. I knew about the actors and as I said I implemented my scenario  by using multiprocessing module too. What I want to achieve is using the maximum available bandwidth that I have. For one pc I did that by creating multiple processes and each process in parallel is using my internet connection.
Now my question is that can I use ray to do the same but distributed?
As

[2020-05-25 07:36] ericl opened #8593 "Cannot overwrite named actor even after killing it"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* Latest ray

There doesn't seem to be a way to reuse an actor name.

### Reproduction (REQUIRED)
[code]

[2020-05-25 07:36] ericl commented on #8593
@edoakes

[2020-05-25 08:01] rkooo567 commented on #8593
This has been an issue from long time ago actually. I was planning to work on fixing this issue next sprint. Is it urgent to fix it?

[2020-05-25 08:38] ericl commented on #8593
It's not urgent, but does seem like a regression from the previous experimental implementation of named actors.

[2020-05-25 11:01] TBashida commented on #8550
Ok thanks for the response! I thought I was imagining things ...

For my 2c worth ... I think the behaviour should not be the case, because that goes against what import is supposed to do. I get it that caching has obvious speed advantages, but at the very least this feature/bug should be documented. I spent quite a while looking at various parameters to use on ray.init(), hoping to force it to NO

[2020-05-25 12:05] CesMak opened #8596 "Ceaning ray workers out of memory after the process is finished ray[rllib]"
Hey,

After closing my python program using STR+C I still have many workers of ray running. `top` output is:

` 5834 pc+  20   0 10,381g 332440 191936 S   0,7  1,0   2:34.94 ray::IDLE    `

These workers reserve a lot of memory.... (`free -m`). That is why I also get memory error in ray if I do not restart my pc (to free the memory)

How can I clean up every worker of ray in my code after using th

[2020-05-25 16:23] anton-malakhov commented on #6832
+1

[2020-05-25 17:12] rkooo567 commented on #8580
Yes. That's exactly what Ray is about! You might need to figure out how to reduce overhead as it sounds like you will have 250 workers per node though. Let us know if you need any other help!

[2020-05-25 18:26] #7916 closed

[2020-05-25 18:28] rkooo567 commented on #7697
https://github.com/ray-project/ray/pull/8564

[2020-05-25 18:30] rkooo567 commented on #8593
Related issue here. https://github.com/ray-project/ray/issues/7591

[2020-05-25 18:56] #8580 closed

[2020-05-25 20:10] AustinDeric opened #8597 "[rlib] gym action_space Box dtype np.int8 is returning floats but should be integers"
### What is the problem?
A Box action_space of dtype=np.int8 should provide an array of integers. For example this action_space:
[code]
Instead, using rlib, it is returning an array of floats. The [gym sample method is defined here](https://github.com/openai/gym/blob/b2727d6fd396f7fe2b19a541ef3a6ea47559cdb3/gym/spaces/box.py#L83) which also shows the correct behavior.

* ubuntu 18.04
* ray 0.8.5 (

[2020-05-25 20:18] allenyin55 commented on #8565
Is my script expected to work if I use `pickle.dumps(object_id)` & `pickle.loads(binary_id)` to serialize and deserialize?

I tried and it still gave the same error `TypeError: No owner found for object.`

[code]

[2020-05-25 20:41] rkooo567 commented on #8164
@alexmascension When you run the parallel_without_bar, could you also try using ray.wait instead of ray.get? Is it going to produce the same output?

[2020-05-25 20:47] neuromechanist opened #8598 "func.remote() does not seem to run in parallel"
Hi,
I am very new to Python and ray in particular, sorry if my question is basic.
I have some trouble with setting up ray to do parallel computing.

I am calling **func1** inside a module. **func1** then calls **func2** , that has `ray.remote()` decorator, in a loop. So the module looks like this (I summarized the functions of course):
[code]
The code runs successfully and the results seem valid.

[2020-05-25 22:15] allenyin55 opened #8599 "[autoscaler] ray down doesn't tear down worker nodes while ray up is running."
### What is the problem?

Running `ray down` while `ray up` is running in a different process will only terminate the head node.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: latest master (2e5e789)
Python: 3.7.4
OS: macos 10.15.3

### Reproduction (REQUIRED)

Run the following command (see `cluster.yaml` at the end)
`ray up cluster.yaml -n test_cluster

[2020-05-25 22:32] ericl commented on #8599
This isn't really a bug right? You should ensure the creation process is killed before trying to terminate the cluster.

[2020-05-25 23:04] allenyin55 commented on #8599
Yes I agree. I just thought this should be made obvious to the users in the documentation (I'm looking at [here](https://docs.ray.io/en/master/autoscaling.html)) that the users are responsible to ensure creation process is killed before trying to terminate the cluster.

[2020-05-25 23:25] rkooo567 commented on #8164
I couldn't really reproduce the issue. What N and L values did you set? I tested with a modified `test` function.
[code]

[2020-05-26 00:35] houcharlie opened #8600 "How to disable preprocessing for a policy?"
### What is your question?
I have a few learned policies as well as one hard-coded policy.  I instantiated the hard-coded policy using the Policy interface.  I'd like to know how to disable the observation preprocessing for this policy only; couldn't find anything for this in the docs.

For instance, in the rock-paper-scissors example, the observations are automatically converted to one-hot-encodi

[2020-05-26 03:27] rkooo567 commented on #8599
@allenyin55 Would you mind having a PR to update a doc?

[2020-05-26 03:35] rkooo567 commented on #8598
https://rise.cs.berkeley.edu/blog/ray-tips-for-first-time-users/
This could be good resource to understand why it happens. Most likely reason is that your `func2` is fast enough that the overhead incurred by Ray is bigger than the function itself, so there's no speedup.

[2020-05-26 03:50] rkooo567 commented on #7824
@zhijunfu How's the status for this?

[2020-05-26 03:50] rkooo567 commented on #7954
@wuisawesome

[2020-05-26 04:00] #854 closed

[2020-05-26 04:12] mitar commented on #854
Awesome, thanks. We will need a bit of time to upgrade to newer Ray, but I will report back with a new issue if there will be anything not working for us. But by looking at the code it looks pretty neat. Thanks.

[2020-05-26 05:31] wuisawesome commented on #7954
Hey @JanKalkan can you describe what you're trying to do in a bit more detail? I'm not sure I understand why translating 127.0.0.1 to the ip address is problematic

[2020-05-26 05:50] Arthur-Null opened #8603 "[rllib] Is it possible to use multiple CPUs for the learner?"
### What is your question?
I was trying to use a CPU-only server with 64 cores to train an agent with a slighted complicated model. I used PPO and set num_workers to 63 and the experience collection was fast but the learner became the bottleneck as it only utilized one core.
I am wondering whether can I use all the resources for both experience collection and model training.

*Ray version and othe

[2020-05-26 06:45] rkooo567 commented on #7192
@pscholle Could you test if this is reproducible in the latest master? I couldn't reproduce it in the latest master although I could do when I used ray 0.8.5. You can download the nightly wheel (https://docs.ray.io/en/latest/installation.html#latest-snapshots-nightlies).

@ericl I think it is resolved by GCS actor management. I couldn't reproduce the logs from the latest master although I ran arou

[2020-05-26 08:59] alokgogate opened #8607 "Ability to select a disk for ray workers"
### Describe your feature request
Currently Ray is defaulting to / as the scratch directory for ray workers (This can be seen from the ray dashboard). Can we give an option to configure this while starting the ray workers?
Tagging @rkooo567 @mfitton

[2020-05-26 11:27] terodea opened #8610 "Submit jobs to ray using celery."
### What is your question?
#### How to submit jobs to ray using celery
I've tried implementing a toy example for it. Below is the code for it.
[code]

Error:
[code]
I've also tried with starting the ray and celery on same node and removed ray.init() from the code. But nothing seeems to work
Use this to start ray
[code]
Code goes like thsi

[code]

[code]

*Ray version and other system information

[2020-05-26 11:58] fahadh4ilyas opened #8611 "What is the usage of detached parameter in creating actor_handle?"
## System information

* **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.3 LTS
* **Ray installed from (source or binary)**: source
* **Ray version**: 0.9.0.dev0
* **Python version**: 3.6.6

## Describe the problem

I have two scripts. The first script is creating actor_handle and the second script is running the actors. More or less they look like this
* first script
[cod

[2020-05-26 12:57] zhijunfu commented on #7824
@rkooo567 we made some progress on this, we had a prototype which changed TaskSpec and a few other structures to fb, and noticed some speedup on processing the tasks at the receiver side, while on the sender side there's no big difference.

[2020-05-26 13:32] neuromechanist commented on #8598
Thanks. The time for the `func2.remote()` loop is about 1 sec and for the `func2.get()` loop is > 230 sec. But, putting some error in `func2`, I could see the error on multiple workers, so the job is already distributed.
I think for a reason that I still don't know, the jobs are running serially.

Thanks again for your time 😊.

[2020-05-26 13:37] #8598 closed

[2020-05-26 15:11] roireshef opened #8614 "[rllib] PyTorch and SampleAsync validation"
### What is the problem?

PyTorch is supposed to be thread-safe, as long as you don't write a tensor using multiple threads. Please see https://discuss.pytorch.org/t/is-pytorch-supposed-to-be-thread-safe/36540/2

It might be worth removing the validation of sample_async and use_pytorch for A3C (and maybe others?).

Ray Version 0.9.0dev (but this applies to any ray version actually)

### Reproducti

[2020-05-26 15:11] sven1977 opened #8615 "[RLlib] `use_lstm` auto-wrapper option not supported for ModelV2."
The ModelV2 class does not support automatic LSTM wrapping for arbitrary catalog models via the `use_lstm` key in the config.
This was never supported in ModelV2, but now is becoming a problem as we are trying to deprecate Model(V1).

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduc

[2020-05-26 15:12] sven1977 opened #8616 "[RLlib] IMPALA crashes if using an LSTM and num_sgd_iter > 1."
IMPALA (TensorFlow) crashes with `IndexError: index 138 is out of bounds for axis 0 with size 132` if using an RNN and `num_sgd_iter > 1`.

config:
[code]

Repro Script:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library

[2020-05-26 15:16] sven1977 commented on #8614
Thanks for filing this issue @roireshef .
Removed the restriction in A3C. Re-testing everything. ...

[2020-05-26 15:21] roireshef opened #8618 "[rllib] Inconsistent batch size and training slowdown"
### What is the problem?

There are two issues I'm seeing, trying to migrate Ray 0.7.3 to Ray 0.9.0dev:
1. Using the following tune config:
[code]
I'm getting sometimes training batches of size 500, sometimes 5000, sometimes way bigger. See result snapshots from console for example:

2. The training with same environment, same RLlib trainer, and same model takes roughly 50% more time = ~33% slowdo

[2020-05-26 16:47] bitosky opened #8621 "[tune] How to resume SearchAlgorithm and Scheduler?"
I use ray[tune] 0.8.4, AxSearch.
When I execute `tune.run(...., resume=True)`, only trials are resumed.
How to resume `SearchAlgorithm` and `Scheduler`?
I noticed that `SuggestionAlgorithm` has some `NotImplementedError` functions:
[code]
It's that means there are some APIs can handle the problem?

[2020-05-26 17:23] jangkj09 opened #8622 "Restoring from checkpoint on different machine"
### What is your question?
I trained a model on one machine and I am able to load and restore properly from a saved checkpoint on that machine. When I copied over the checkpoint and try to restore and execute on a different machine, I get the following error:

[code]
Am I missing some files or something? I've copied over all the files in the checkpoint directory and also the `params.pkl` and `para

[2020-05-26 17:53] rkooo567 commented on #8611
@edoakes This could be a bug?

[2020-05-26 18:00] Tabbi7 commented on #4952
I have the same problem when performing some experiments in Flow, especially with merge and bottleneck environments. We're in 2020. How to solve this?

[2020-05-26 18:04] Tabbi7 opened #8623 "ValueError: ('Observation outside expected value range'"
While training some envs in Flow (especially merge and bottleneck) I got the following problem:

  File "/Users/fabianafierro/flow/flow/flow/lib/python3.6/site-packages/ray/rllib/models/preprocessors.py", line 61, in check_shape
    self._obs_space, observation)
ValueError: ('Observation outside expected value range', Box(25,), array([ 2.68858156e-01,  7.31141844e-01,  1.00000000e+00,  5.52634464e

[2020-05-26 18:05] houcharlie commented on #8600
Answer: you can make the state space for the hard-coded policy be a gym.spaces.Box regardless of whether the state space is actually continuous or not; rllib does not perform any preprocessing for Box spaces.  This is a pretty hacky solution though, would be nice to see a cleaner one.

[2020-05-26 18:14] sven1977 commented on #8622
Maybe the ray versions are different on the two machines? Could you post your specs?

[2020-05-26 18:41] #8623 closed

[2020-05-26 19:06] Tabbi7 commented on #8623
Where do I have to define them? I'm using the default env provided by SUMO with no modifications and it is supposed to work because officially released.

[2020-05-26 19:35] jangkj09 commented on #8622
Yes, that solved the problem. On one machine I had the stable 0.8.5 and on the other I had 0.9.0.dev0
Re-installing with 0.8.5 resolved the problem.

I don't know if this exists somewhere in the docs, but it would be helpful to indicate this difference more explicitly. I spent over an hour trying to debug what was going on. Thanks!

[2020-05-26 19:35] #8622 closed

[2020-05-26 20:19] concretevitamin opened #8625 "absl.logging inside remote tasks does not get printed"
### What is the problem?

Ray 0.8.5

### Reproduction (REQUIRED)
[code]

Output:
[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/latest/installation.html).

[2020-05-26 20:44] ijrsvt commented on #8033
@LucaCappelletti94 I tried this on two different AWS machines and was unable to reproduce this bug. The setup was the same as what you had, but the two nodes were able to communicate. You should try installing `apt-get install redis` on the client and seeing if you can connect to Ray's  Redis server using `redis-cli -h <xxx.xxx.xxx.xxx> -p <ray_port_no>` and then running Redis with `redis-cli` and

[2020-05-26 20:54] simon-mo commented on #8254
I don't think this is a P0. It's just a side effect of rapidly killing and adding ray nodes on the same machine. Raylet gRPC server cannot bind to a port that's just released by killing ray node.

This is uncommon in production scenarios. Moving it to P1.

However, we do need to fix the long running test by adding some sleep buffer between killing and adding a new node, maybe inside test_reconstru

[2020-05-26 23:05] ijrsvt commented on #8254
It looks like the ultimate source of the problem is that the port for GPRC is selected before GRPC actually uses that port:
https://github.com/ray-project/ray/blob/137519e19d77debb5427a24279320f21e805867f/python/ray/node.py#L167

[2020-05-26 23:43] ijrsvt commented on #8547
@furunding does it actually stop there, or does it keep running?

In my experience it prints this message, hangs for a couple seconds and then continus.

[2020-05-26 23:59] simon-mo commented on #8254
One possible fix is to randomize the port instead of using kernel to get unused port. This can avoid possible race condition. The reason is that current `_get_unused_port` procedure returns unused port in sequence and is likely to duplicate port numbers, since we close the socket immediately and release the ownership of that port.
[code]

[2020-05-27 00:16] ijrsvt commented on #8254
@simon-mo  I'll try that!

[2020-05-27 00:20] surfingkaka opened #8627 "[rllib] Can I build a custom (RNN) LSTM/GRU model and feed it to APEX ?"
Example of a custom model:
[https://docs.ray.io/en/latest/rllib-models.html#recurrent-models](https://docs.ray.io/en/latest/rllib-models.html#recurrent-models)

### What is your question?
I see [https://docs.ray.io/en/latest/rllib-algorithms.html#feature-compatibility-matrix](https://docs.ray.io/en/latest/rllib-algorithms.html#feature-compatibility-matrix) and can see RNNs aren't compatible with A

[2020-05-27 02:16] icaropires opened #8629 "Blank redis-password gives wrong message to add node"
### What is the problem?

**Ray version:** 0.8.5
**Python version:** 3.8
**OS:** Centos 7

I've run a local cluster with the following:
[code]
When I run `ray up cluster.yml` one of the messages is:
[code]
But I'm not able to connect with that command, it needs the flag `--redis-password=''` in order to connect.

### Reproduction (REQUIRED)
* Run a local ray cluster with `--redis-password=''` at t

[2020-05-27 03:17] ConeyLiu commented on #8492
When exits, the ipython shows the following:
[code]

Does this expect?

[2020-05-27 03:18] ConeyLiu commented on #8492
and got the following warning, when `ray.init()`:
[code]

[2020-05-27 04:14] AndreCNF opened #8634 "[raysgd] Resources needed to launch worker nodes"
I'm not being able to launch worker nodes in Azure, even when using the example from @richardliaw's [Medium article](https://medium.com/distributed-computing-with-ray/faster-and-cheaper-pytorch-with-raysgd-a5a44d4fd220). **It seems like Ray is only launching the head node and then only takes that node's local resources into consideration** (i.e. can only use the head node's GPUs as workers).

For

[2020-05-27 06:06] LucaCappelletti94 commented on #8033
Thank you @ijrsvt for your time. I will be trying to reproduce again the issue locally and do the tests you have suggested as soon as I get the time.

[2020-05-27 06:08] ericl commented on #8627
Yeah RNNs aren't currently supported for DQNs. From the R2D2 paper, there are some required tricks including batch replay and "burn-in" of sequences to handle the off-policy state.

If you'd like giving it a shot a first step would be changing the apex execution plan to use a replay buffer operator that supports replaying sequences: https://github.com/ray-project/ray/blob/master/rllib/agents/dqn/a

[2020-05-27 06:48] ericsally opened #8638 "[rllib] Custom Loss and Model Weights are not Updated in TensorFlow Eager Mode"
When trying to use a custom model and custom loss as show in the usual way of doing so as described in the rllib docs,  it seems that the custom loss and model weights are not updated properly.

import ray
import ray.rllib.agents.ppo as ppo
from ray.rllib.models import ModelCatalog
from ray.rllib.models.tf.tf_modelv2 import TFModelV2

class MyModelClass(TFModelV2):
    def __init__(self, obs_space

[2020-05-27 06:58] #8555 closed

[2020-05-27 07:56] ijrsvt commented on #8033
Thanks @LucaCappelletti94 !

[2020-05-27 08:08] sven1977 commented on #8614
Looks good. Thanks again @roireshef Please see this PR here: https://github.com/ray-project/ray/pull/8617
Closing the issue.

[2020-05-27 08:08] #8614 closed

[2020-05-27 08:12] rkooo567 commented on #8610
Thanks for posting this here! I will try out the same thing this weekends and let you know how it goes. Please ping me one more time if I don't get back to you by next week (I can forget about it because of other priorities).

Also, would you be able to use the newer version of Ray? (since I will try to make it work with the latest version)

[2020-05-27 09:50] alexmascension commented on #8164
Hi!

The final results are run in a computer with 56 cores, so maybe a higher number of CPUs lets me see the differences?

I've created a kaggle kernel with the notebook (https://www.kaggle.com/alexmartnezascensin/ray-issue-8164). I've run the functions in the inverse order (`single_with_bar`, `parallel_without_bar` and then `parallel_wait_with_bar`) and three things happen:
* I guess there is a c

[2020-05-27 15:03] cyoon1729 commented on #8545
Thanks @rkooo567! This was very helpful.

[2020-05-27 15:03] #8545 closed

[2020-05-27 16:15] ijrsvt commented on #7741
@sbuschjaeger does this run on the current version of ray?

[2020-05-27 17:22] icaropires commented on #8629
Since the default behavior is to use a default password, maybe it'd be a good idea to add a flag like `--no-pass`. Just a suggestion.

[2020-05-27 19:06] maxiwelian commented on #7647
Is this warning an issue or not? I am seeing the same thing.

[2020-05-27 20:13] mnicstruwig opened #8643 "Cython-related ValueError when passing `interp1d` object with kind='cubic' on ray>0.8.1"
### What is the problem?
System details:
[code]
Executing a remote function with `ray` where we pass a `scipy.interpolate.interp1d` object with argument `kind='cubic'` produces `ValueError: buffer source array is read-only` (which appears related to the way in which `scipy` interacts with `cython`).

If we instead pass `kind='linear'`, the error does not occur.

This break occurred somewhere betwe

[2020-05-27 21:00] edoakes commented on #7647
@maxiwelian this should not be an issue, it's just an overzealous warning. Will be removed soon when we refactor how we handle propagating the internal config (cc @rkooo567).

[2020-05-27 21:02] GoingMyWay commented on #8326
Hi, do you have a working solution? Say, add time.sleep(60) after ray.init. Does it work all the time?

[2020-05-27 21:02] edoakes commented on #8032
@raulchen we are no longer using the transport type flag so we can repurpose those bits for the job ID. Thoughts?

[2020-05-27 21:05] J1810Z commented on #8326
Yes, adding time.sleep() works for me (as a workaround), if the wait time is long enough. In my setup 40s works pretty well.

[2020-05-27 21:07] J1810Z commented on #8326
Yes, adding time.sleep() works for me (as a workaround) if the sleep time is long enough. In my setup 40s works pretty well.

[2020-05-28 04:52] songpengwei commented on #8033
I have the same issue, and I'm sure the firewall was closed and could access the redis in the worker.

[2020-05-28 04:54] EYUJin opened #8645 "[rllib issue] TF Eager Mode Doesn't Seem to Update Custom Loss and Custom Model Weights"
When trying to use a custom model and custom loss as show in the usual way of doing so as described in the rllib docs, it seems that the custom loss and model weights are not updated properly.

import ray
import ray.rllib.agents.ppo as ppo
from ray.rllib.models import ModelCatalog
from ray.rllib.models.tf.tf_modelv2 import TFModelV2

class MyModelClass(TFModelV2):
def init(self, obs_space, action_

[2020-05-28 04:54] #8638 closed

[2020-05-28 05:02] yanyuechuixue opened #8646 "Using Ray on two machines (with docker) ."
### What is your question?

I have two machine(A,B) and both installed docker.
Here :

In Container 'a', following [this](https://docs.ray.io/en/latest/using-ray-on-a-cluster.html), I run
[code]
In Container 'b', I run
[code]
where `192.168.1.158` is the ip address of machine A.

Then I open the webui, it shows:
[code]
which means no works on Container 'b' on machine B.

However, what I expected i

[2020-05-28 05:24] rkooo567 commented on #8646
https://github.com/ray-project/ray/issues/8033

@ijrsvt This might be the similar issue. I saw this sort of questions a lot.

[2020-05-28 05:29] GoingMyWay commented on #8326
Looks a simple and practical workaround.

[2020-05-28 05:44] songpengwei commented on #8646
how about use public ip when start the worker node?

[2020-05-28 06:04] alexzhou907 opened #8647 "Is Tune able to resume grid search (don't train configs previously trained)?"
Suppose I stop my machine and restart the run, can Tune resume so that it does not repeat previous trials and continue searching unsearched configs?

[2020-05-28 07:00] yanyuechuixue commented on #8646
If use `--node-ip-address=192.168.1.158` when start the head node, the webui can not be connected and I can not connect to the ray server in python:
[code]

and if use `--node-ip-address=192.168.1.68` when add the worker node, it would still be 0 workers, and gives some error like:
[code]

[2020-05-28 07:10] rkooo567 commented on #8643
https://github.com/scipy/scipy/issues/9331 This issue also seems to be related.

Can you try to run your code with Cython without Ray and see if you can get the same result?

[2020-05-28 07:14] songpengwei opened #8648 "The worker node could not register node info successfully in VM"
[autoscaler]
### What is your question?
similar to https://github.com/ray-project/ray/issues/8033.
And when I open debug mode, find the raylet.out in the worker node does not contains log like "Finished registering node info, status =  OK, node id" which means the node does not register itself successfully.

But:
1.  I could access redis from the worker by redis-cli and python.
2.  The worker node

[2020-05-28 07:20] rkooo567 commented on #8648
Are you also using multi nodes with Docker?

[2020-05-28 07:32] PidgeyBE opened #8649 "[autoscaler] Multiple worker types"
Hey!

I have a suggestion/feature request for the autoscaler.
Would it be possible to define multiple "worker templates", tagged with custom resources? So you can e.g. define a worker template for workers with GPU, so you don't have to pay for a GPU if there is no GPU needed.
In the same way it would enable using conflicting requirements in different parts of your code. You could run for example t

[2020-05-28 07:35] PidgeyBE commented on #8365
Meanwhile the issue will be avoidable in one of the upcoming pyarmor releases, by making sure opcodes are not changed during the obfuscation process. It's less secure, but it works.
So discarding the use of the `dis` package would still be very helpful!

[2020-05-28 07:38] songpengwei commented on #8648
Not docker, but similar tech: KVM and runc

[2020-05-28 07:56] cyk1337 opened #8651 "How to call ray.experimental.TensorFlowVariables for tensorflow v1?"
### What is your question?
I would like to use tensorflow v1 with ray for distributed training. It seems that the API `ray.experimental.TensorFlowVariables` did not work anymore. It reported `{AttributeError}module 'ray.experimental' has no attribute 'TensorFlowVariables'`

Any documents and API supported for tensorflow v1 now? Many thanks!

[2020-05-28 07:56] forhonourlx opened #8652 "How to access true_obs_shape in custom model?"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*

[2020-05-28 08:01] #8651 closed

[2020-05-28 08:08] forhonourlx opened #8653 "[rllib] How to access true_obs_shape in custom parametric actions model?"
Hi Ray Team,
I notice that in `rllib\examples\parametric_actions_cartpole.py`:
[code]
in `rllib\examples\models\parametric_actions_model.py`:
`obs_space: Box(34, )`

In my custom model, `true_obs_shape=(4, )` could not be specified in advance, only that custom env is initialized. How to access true_obs_shape before observation_shape is flatten, and where's the implementation of product shape flatt

[2020-05-28 09:02] forhonourlx commented on #8653
`obs_space` has `original_space`:
[code]

[code]

[2020-05-28 10:38] whiletruelearn commented on #7187
anyone working on this ?  Chaining some commands in
https://github.com/ray-project/ray/blob/master/docker/autoscaler/Dockerfile
could reduce the size maybe

[2020-05-28 11:02] mnicstruwig commented on #8643
Sure. In the interest of time, how would I go about doing that? (I've got zero experienced with using Cython)

[2020-05-28 11:32] raulchen commented on #8032
@edoakes do you only plan to re-purpose the 2 bits used by the transport flag, or the whole flag bits?

[2020-05-28 13:24] mnicstruwig commented on #8643
Hi @rkooo567,

I've managed to compile and run my code using Cython without Ray. I do _not_ get the error.

[2020-05-28 14:21] ramondalmau commented on #7341
hey! that was an excellent solution that helped me a lot. Just wanted to thank you for the effort.
I think "learning to communicate" is a hot topic in the RL community, and a lot of new algorithms have been recently proposed. Just to mention a couple of examples: CommNET, DGN, MAAC,...
In most of these implementations agents share some information before jointly taking an action (most of the time

[2020-05-28 15:25] icaropires opened #8660 "[autoscaler] Local Cluster with Docker: Check failed: !local_node_id_.IsNil() This node is disconnected."
### What is your question?

I've been trying to run a cluster using two hosts with docker. But after running `ray up -y cluster.yml`, I get the following situation after some minutes:

![image](https://user-images.githubusercontent.com/18473249/83157458-feb76280-a0d9-11ea-842b-2d34d1ace91a.png)

Workers keeps incresing by 16 (number of cores) on the worker node, and the same error popping up on th

[2020-05-28 17:08] ijrsvt commented on #8646
In the initial config (where it was 0 workers on Container B), what happens if you run `ray.nodes()` after `ray.init(address='auto')`.

[2020-05-28 17:30] richardliaw commented on #8647
This should work via tune.run(resume=True)?

[2020-05-28 17:53] ijrsvt commented on #4902
@dclong  @jaromrax  @gimzmoe
Do you have `--autoscaling-config=~/ray_bootstrap_config.yaml` as a flag for your `ray start` command on the head node?

[2020-05-28 18:12] alexzhou907 commented on #8647
Is there code example of this? When I tried resume=True, it still starts from the beginning, so all the parameters searched before is unnecessarily searched again

[2020-05-28 18:20] dvillero commented on #8173
@regproj Have you solved this issue, I am seeing the same problem when I use noisy nets ("noisy"=True):
![image](https://user-images.githubusercontent.com/13894556/83177754-3f68a900-a0e5-11ea-82a8-aea2195fd23f.png)
I trained the blue one with e-greedy and the pink one with "noisy"=True. It is worth noting that my configs are exactly the same, except one has "noisy"=True.
[code]

[2020-05-28 19:00] MichaelRazum commented on #6900
Hello,
I had the same issue. It is running now on windows using wsl.
Here is what I did (as far as I remember).

- updated windows to 1909
- executed some of these commands https://docs.microsoft.com/en-us/windows/wsl/install-win10
- uninstalled Ubuntu
- isntalled Ubuntu 18.04
- installed Anaconda3-5.2.0-Linux-x86_64.sh
- made python3.8 environment with conda
- conda install anaconda
- conda insta

[2020-05-28 19:31] ericl commented on #8653
Can you compute it as a function of the custom env parameters and pass it in through as a custom model config?

Otherwise, I think the obs_space.original_space trick would work.

[2020-05-28 19:31] ericl commented on #8652
Duplicate

[2020-05-28 19:31] #8652 closed

[2020-05-28 20:43] janblumenkamp commented on #7341
Great to hear that this was helpful! I agree, there is a lot going on in this area and I believe the Ray team is working on making this easier in the future.
One thing that was already done is providing a [callback to share information between agents](https://github.com/ray-project/ray/pull/8236). Note that this is not a differentiable communication channel. I don't know what is the current schedu

[2020-05-28 20:50] janblumenkamp commented on #8507
Looks like it is only used once [here](https://github.com/ray-project/ray/blob/master/rllib/policy/tf_policy.py#L215) and from there on it's accessed through `self._loss`.

[2020-05-28 21:07] ericl commented on #7341
Yeah, there is a plan to allow the callback to support differentiable communications as well, though it is still unclear the best way to approach that.

[2020-05-28 21:33] sumanthratna opened #8667 "[tune] [dashboard] Table formatting issues due to too many hparams"
### What is the problem?
When I log many hparams via tune, the table headers get ruined. See https://gofile.io/d/BjGpHw.

*Ray version and other system information (Python version, TensorFlow version, OS):*
- Python 3.8.2
- TensorFlow 2.2.0
- macOS 10.15.5 Beta

### Reproduction
n/a

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the iss

[2020-05-28 21:35] rkooo567 commented on #8648
@ijrsvt Probably also related

[2020-05-28 21:37] rkooo567 commented on #8667
https://ray-distributed.slack.com/archives/CP950VC76/p1590701206086500

[2020-05-28 21:55] ericl commented on #8513
Labeling as P1 since afaik this just breaks Ray / other applications when port 8888 is used, which is pretty common.

[2020-05-28 21:56] ericl commented on #8550
This would probably be resolved in the future with proper multitenancy support between drivers.

[2020-05-28 21:56] #8599 closed

[2020-05-28 21:56] ericl commented on #8599
Closing since this isn't really a bug.

[2020-05-28 21:57] ericl commented on #8611
Detached is now deprecated, and is not needed.

[2020-05-28 21:57] #8611 closed

[2020-05-28 21:58] rkooo567 commented on #8593
This is urgent for @allenyin55 and we will work on it next week.

[2020-05-28 23:44] waldroje commented on #8507
Thanks for that, not sure how that eluded me… it looks like on further review my issue on the TF side was using 1.x style tf.losses.get_regularization_loss rather than model.losses … once I switched everything is working for TF models.

On May 28, 2020, at 4:50 PM, Jan Blumenkamp <notifications@github.com> wrote:

[2020-05-29 00:01] shortstheory commented on #8460
Hi, I have had the same issue when using PPOTrainer. My computer has 4 GPUs and I can see that the process which spawns PPOTrainer uses all 4 GPUs when using `nvidia-smi`, despite setting `num_gpus=1`, `num_workers=1`, `num_gpus_per_worker=1` in the `config` dict. I have also set `ray.init(num_gpus=1)`. Could you clarify what you mean by needing to use Ray Tune to make this work?

[2020-05-29 00:37] rbala19 opened #8669 "[rllib] Cooperative Multi-Agent env - best way to train based on summed rewards across all agents?"
### What is your question?

1. I'm considering converting my centralized model which governs multiple moving entities into a multi-agent model where the model learned based on the summed rewards of all agents. While looking through the various examples on the repo, I encountered an example for summing rewards per agent across timesteps using a specified "postprocessing_fn", as well as a centralize

[2020-05-29 02:44] ericl commented on #8669
I think the best way is to do this in the environment, by doing the summing explicitly and then giving the same summed reward to each agent.

Absolutely, in RLlib the number of agents can vary over time and agents can act at different timescales. The only requirement is the number of policies is fixed. If an agent isn't present in the obs dict at a certain time step, no action will be computed for

[2020-05-29 04:00] PoCk3T opened #8671 "[tune] Scheduler to skip a trial when model returns NaN predictions?"
Environment:
- Docker with Ubuntu 16.04 & Python 3.6.10 & Ray 0.8.5
- Population Based Scheduler alongside with PPO
- Custom OpenAI gym of mine, registered within RLLib

Hello everyone,
First of all: big thank you to the community and the developers, this is a master piece of a framework and I can't imagine how I would have learned about RL without projects like this or Stable Baselines

**Questio

[2020-05-29 04:12] richardliaw commented on #8671
If you can perturb the returned result dict, you can send `{"done": True}` in the result dict and it should terminate your trial.

[2020-05-29 05:06] ramondalmau commented on #7341
GOOD to know! I look forward to it. In the meantime, I am using @janblumenkamp's implementation and it works fine. I also tried a different approach with a similar objective in which the model has three heads:
- action (discrete space)
- value
- message (a vector of real values)

However, I had to modify the sourcode (sampler.py) to get back the message into the environment. In my humble opinion,

[2020-05-29 05:15] ericl commented on #7341
Maybe add a stop gradient for the output action part that is the message?

On Thu, May 28, 2020, 10:06 PM ramondalmau <notifications@github.com> wrote:

[2020-05-29 05:52] PoCk3T commented on #8671
Thanks a lot for the super prompt feedback Richard, I will try that!
(I think a wrapper on a scheduler is not appropriate, I will try to intercept the result dict from a custom callback implementation)

[2020-05-29 08:24] richardliaw commented on #8548
You should be able to do this via the Logger interface: https://docs.ray.io/en/master/tune/api_docs/logging.html

[2020-05-29 08:25] #8399 closed

[2020-05-29 08:25] richardliaw commented on #8165
This should be fixed now.

[2020-05-29 08:26] #8148 closed

[2020-05-29 08:45] lixin-wei commented on #6184
Hey guys, Ray Streaming Fault Tolerance Impl is also coming, here is the proposal: <https://docs.google.com/document/d/1NKjGr7fi-45cEzWA-N_wJ5CoUgaJfnsW9YeWsSg1shY>

The PR is preparing and will be opened soon, you could go through the proposal to have a general idea of what will be built. Comments and suggestions are welcome.

[2020-05-29 13:33] fahadh4ilyas commented on #8611
Then how to access actor created from another script even after that script exited? Or is it impossible in ray?

[2020-05-29 15:26] edoakes commented on #8611
You can still do so, just don't need the `detached` argument anymore, only "name":

[code]

[2020-05-29 15:35] edoakes commented on #8032
@raulchen the current spec for flags is:

**flags bytes format**
[code]
- The (1) `created_by_task` part is one bit to indicate whether this `ObjectID` is generated (put or returned) from a task.

- The (2) `object_type` part is one bit to indicate the type of this object, whether a `PUT_OBJECT` or a `RETURN_OBJECT`.
    - `PUT_OBJECT` indicates this object is generated through `ray.put` during th

[2020-05-29 16:02] jdavid04 opened #8674 "[tune] Usage of Tune search algorithms vs Random Search"
### What is your question?

I'm somewhat confused as to the use of sampling algorithms with Tune. For example, in https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/hyperopt_example.py, it seems that the script simply samples "num_samples" configurations initially and runs through these configurations (most of which are stopped from the scheduler). This makes the execution equ

[2020-05-29 16:05] internetcoffeephone opened #8675 "[rllib][tune] How do you correctly use tensorflow variables in Population Based Training (PBT) reset_config?"
### What is your question?

I want to run PBT on my multi-agent PPO experiment. The [provided example](https://rllib.readthedocs.io/en/latest/tune/generated_guides/plot_tune-advanced-tutorial.html#trainable-api-with-population-based-training) directly updates the learning rate like so: `param_group["lr"] = new_config["lr"]`.

With tensorflow, this is not directly possible. One of the parameters I'

[2020-05-29 16:56] PoCk3T commented on #8671
Thanks again Richard for the tips on {'done': True}, it worked for me
Here's the solution I implemented for everyone:
- In my custom Gym environment, I catch the NaN action in my "step" function and immediately return a predefined negative reward (REWARD_TO_STOP_LEARNING) along with done=True, an observation full of zeros and an empty info dictionary
- Developed my own custom callback class (as pe

[2020-05-29 16:56] #8671 closed

[2020-05-29 17:26] ericl commented on #8032
I'd be in favor of scrapping the flags too.

[2020-05-29 17:36] icaropires commented on #8660
Thanks for the response @rkooo567 . But I don't think that's the problem, because I wasn't running any script (I've just ran `ray up -y cluster.yml`) and I haven't set any constraints. But, anyway, I've tried to run with:
[code]
and got the same behavior. It seems to me that the heartbeats are never reaching the head node

[2020-05-29 18:10] rkooo567 commented on #8660
@icaropires Thanks for the quick response. We will surely investigate it. Btw, is it urgent for you? Can you use some different solutions until we figure out the root cause (like running without Docker)?

[2020-05-29 18:37] terodea commented on #8610
I've tried it on the latest version I'm still getting the same error.

[2020-05-29 20:04] wuisawesome commented on #7187
I don't think anyone is working on it. Do you want to give it a shot/submit a PR?

[2020-05-29 20:23] icaropires commented on #8660
@rkooo567 I was kind of testing something. But I'll figure it out, thanks for asking!

[2020-05-29 20:47] simon-mo opened #8678 "[Autoscaler] K8s Error on First `ray up`"
### What is the problem?
[code]

### Workaround
Run it the second time should fix it.
[code]

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

- Make sure there isn't a cached yaml file.

If we cannot run your script, we cannot fix your issue.

- [x]

[2020-05-29 20:48] simon-mo commented on #8678
@edoakes

[2020-05-29 20:49] edoakes commented on #8678
@simon-mo if you do ray down and then ray up with a new config what happens? I think this might be because I had the same cluster already running on our shared cluster.

[2020-05-29 20:51] simon-mo commented on #8678
I used a local k8s cluster provided by docker. It's a clean environment. If I do ray down and ray up again, the same things happen.

[2020-05-29 21:33] simon-mo commented on #8678
Weird. It doesn't appear on microk8s on ubuntu; could just be a mac docker issue.

[2020-05-29 23:12] pcmoritz commented on #8032
Yeah, let's scrap the flags, it will also make the code more understandable :)

[2020-05-29 23:38] fahadh4ilyas commented on #8611
@edoakes but after the first script exited and I run the second script. That error still show up.

[2020-05-30 00:02] shortstheory commented on #5398
I am having the same issue with the PPO Policy when I set `eager: true` in the configuration file. I have lz4 installed both through pip and vcpkg.

## System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): KDE Neon 5.18
Ray installed from (source or binary): binary
Ray version: 0.8.5
Python version: 3.6.10

## Problem

[code]

I get the same error `assert len(set(lengths)) =

[2020-05-30 01:51] Nicholaz99 opened #8680 "How to check if rllib using tensorflow gpu?"
Hi, Is it possible to check whether rllib using tensorflow gpu or not? I try to run ray tune with PPO Algorithm and num_gpus = 1, but It only using 1GB /16GB of my GPU. Is this because the rllib using tensorflow CPU instead of GPU?

[2020-05-30 02:08] tinymindxxx opened #8681 "rllib run PG algorithm on offline dataset pose KeyError: 'advantages'"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*

rayversion: 0.8.5
os: macos catalina

When I run PG algorithm on offline dataset, it breakdown with “KeyError: 'advantages'”
scripts are belows：
[code]
and the error likes this.
[code]

[2020-05-30 02:13] rkooo567 commented on #8680
@mfitton

[2020-05-30 02:32] tinymindxxx commented on #8681
It seems that the postprocess_fn is not called during rolloutworkers handle the data.

[2020-05-30 03:02] tinymindxxx commented on #8681
need set postprocess_inputs=True when handling offline dataset.

[2020-05-30 03:03] #8681 closed

[2020-05-30 07:55] ericl commented on #8680
RLlib will raise an error if GPU support isn't working actually. The reason it's only using 1GB is since your model/batch size is small. For RL, it's very uncommon to use lots of GPU memory.

[2020-05-30 11:05] roireshef commented on #8618
Same slowdown encountered when running Ray v0.8.5 (Pytorch, A3C) - again, compared to v0.7.3.

[2020-05-30 11:08] roireshef commented on #8579
@ericl - the condition in this line is wrong https://github.com/ray-project/ray/blob/master/rllib/policy/torch_policy.py#L77

Even if CUDA is available, user doesn't always like to use it. The config param that controls using GPU or not AFAIK is num_gpus (or num_gpus_per_worker). If it is set to 0, there is no reason to move model tensors to cuda device here.

[2020-05-30 13:11] whiletruelearn commented on #7187
Looks like a PR has been started already. I will find another issue to contribute .

[2020-05-30 18:16] aefn opened #8684 "How can I connect to the dashboard of a cluster on AWS from my pc?"
Dear Experts,
I didn't know how to run the auto scaler on AWS. For this reason I asked one of my colleagues to deploy the cluster for me on AWS. He gave me the ip address of the head node and the key for ssh. I don't have access to him until Tuesday and I need your help.
Now I can ssh to the head server but I don't know how can I see the dashboard remotely.
I have seen the command ```ray dashboard

[2020-05-30 18:27] rkooo567 commented on #8684
@wuisawesome

[2020-05-30 18:56] xxArbiter opened #8685 "[rllib] Does the action space support gym.space.Dict?"
## Question
When I use other kinds of spaces like Box, Discrete, there is no problem. But if I use a Dict for the action space, during running, it will arise a ValueError.

We are testing the code and running an evaluator with a random policy. The action is randomly selected by space.sample() method.

The error is shown as bellow:

[code]

## System information
Ray version: 0.9.0
Python version: 3

[2020-05-30 19:08] ramanNarasimhan77 commented on #7187
@whiletruelearn @wuisawesome
I have chained RUN commands wherever possible and also removed apt, pip caches.
Docker image size for the autoscaler after the change is 5.11GB, before the change it was 6.74GB

Please review PR #8683 and also guide me on the next steps

[2020-05-30 19:17] edoakes commented on #8684
@aefn you can run 'ray dashboard' to forward the port to your local machine. While it's running, open localhost:8265 in your browser to view the dashboard.

[2020-05-30 19:22] ramanNarasimhan77 commented on #7187
There are some test failures on PR #8683, I am not sure if the changes to the Dockerfiles caused these failures.

[2020-05-30 20:43] richardliaw commented on #8674
Yep! This is decided by `num_initial_points` in HyperOptSearch.

[code]

[2020-05-30 20:52] ericl commented on #8579
Hmm shouldn't that return false if CUDA_VISIBLE_DEVICES is set to empty
string? Ray is setting that to selectively enable GPU for certain actors as
requested only.

On Sat, May 30, 2020, 4:08 AM roireshef <notifications@github.com> wrote:

[2020-05-31 01:13] ericl commented on #8685
Can you provide a reproduction script so that we can fix this?

[2020-05-31 05:23] pdames opened #8687 "[ray] Consistent Crashes w/ Actor-Handle-Based Implementation of Parquet File Compactor"
### What is the problem?
I’ve been running a task-based compactor against production Parquet datasets successfully and stably for the last few days, but just had my first crash with an actor-handle-based compactor running against a relatively small ~7GB parquet input dataset (divided into 20MB chunks).

The original pure-task-based compactor launches one distributed task per input delta in a table

[2020-05-31 05:23] athenawisdoms commented on #7318
@ericl @sven1977 Here's a script to reproduce the error

[code]

gives the error messages

[code]

Environment
- ray 0.8.5
- Python 3.8.3
- tensorflow 2.2.0
- Ubuntu 18.04 in WSL2

[2020-05-31 06:45] ericl commented on #8687
Is it possible to create a simplified reproduction script you can share?

[2020-05-31 08:48] aefn commented on #8684
@edoakes could you please give me an example?
the signature of ``` ray dashboard``` is like this ``` ray dashboard [OPTIONS] CLUSTER_CONFIG_FILE```

as I said I don't have that CLUSTER_CONFIG_FILE, I just have the ip of head node and I can ssh to it.
now I would appreciate if you could guide me what can I do with these to open the dashboard in my pc locally.

[2020-05-31 09:00] rkooo567 commented on #8684
`CLUSTER_CONFIG_FILE` is needed to deploy Ray using an autoscaler. Can you ask your colleague to provide a cluster config file and try using `ray dashboard`?

[2020-05-31 09:02] rkooo567 commented on #8660
No problem! Please share your solution if you figured this out. We tried to fix this problem as it happens to many users, but we failed to reproduce it several times ourselves!

[2020-05-31 09:23] aefn commented on #8684
I can but I need to wait until Tuesday. There is not any other way to doing that. For example with doing some trick with ssh?

[2020-05-31 09:32] rkooo567 commented on #8684
We implemented this through port forwarding. I am not familiar with how this works, but you can probably take a look at this code. https://github.com/ray-project/ray/blob/d8a081a185271cf9fa352f7ae2c93abdbef6858a/python/ray/autoscaler/updater.py#L244

Can you try `ssh -L "[remote_port]:localhost:[local_port]"`?

[2020-05-31 09:40] rkooo567 commented on #8684
@aefn Did it work? Let me know how it works!

[2020-05-31 09:46] aefn commented on #8684
I think it will work, but another big problem is raised for me. The node is unreachable, I don't know what happened but I think now I have to wait until Tuesday :((
I will give you the feedback when I can test it.
Btw, thank you again for your help.

[2020-05-31 09:46] #8684 closed

[2020-05-31 10:06] PgLoLo opened #8688 "[rllib] valuation script tryies to convert pytorch cuda tensor to numpy"
When using rllib and turning on evaluation, rllib tries to convert pytorch cuda tensor to numpy and fails with exception "TypeError: can't convert cuda:0 device type tensor to numpy. Use Tensor.cpu() to copy the tensor to host memory first."

Simple reproduced script:
[code]

Is that really a bug or am I doing something wrong? Any workarounds?

[2020-05-31 10:06] PgLoLo commented on #8688
Full exception:
[code]

[2020-05-31 13:06] goulou opened #8689 "[tune] Tune dashboard : use scientific notation"
When displaying parameters in the tune dashboard, they are displayer using standard float format
with only 2 significant digits.

For example, if your learning rate is lower than 1e-2, it appears as zero.

Similarly, if your experiments return a metric whose value are in a narrow range, the displayed digits are all equal and you cannot know which one is better (for example, for an accuracy between

[2020-05-31 15:10] internetcoffeephone commented on #8675
I solved this problem, and have two things to report:

- The `experiment_tag` reporting is "ahead" by one experiment, so `entropy_coeff` will show not show the perturbed value the first time it shows up.
- The EntropyCoeffSchedule object was overriding the loaded variable with a value retrieved by `policy.entropy_coeff_schedule.value(_)`. Hence, the way to change this without having to change eith

[2020-05-31 15:10] #8675 closed

[2020-05-31 16:07] acxz commented on #8535
Spent a little more time into this today and I think I have a solution (#8690), not too sure tho, since my build fails but now it fails somewhere else that I believe is unrelated. If someone could test my changes that would be great.

[2020-05-31 16:16] mnicstruwig commented on #8643
Checking in on this thread again. Any thing else I can provide, since this is still an issue?

[2020-05-31 18:50] ericl commented on #4029
@ijrsvt I'm stealing this issue for now, you don't need to worry about it.

[2020-05-31 19:03] ericl commented on #8688
I think we just forgot to call .cpu() first. Unfortunately I'm not sure how to test this is always correct since pytorch has no way to mock GPUs.

[2020-05-31 19:06] ijrsvt commented on #4029
Thanks Eric!

On Sun, May 31, 2020 at 11:50 AM Eric Liang <notifications@github.com>
wrote:

[2020-05-31 19:16] yosider opened #8692 "[rllib] More detailed examples for a custom policy from scratch?"
### What is your question?
Hello, I am a very beginner in ray.
I want to implement an RL model MERLIN (mentioned at #5471) which includes external memory modules.
I think I need to implement the model from scratch. I read the doc of RLLib for custom policies, but I could not understand how to use the defined custom policy class. (Can I use build_tf_policy for the CustomPolicy class?)
Is there any

[2020-05-31 19:26] rkooo567 commented on #8610
I spent some time to look at this issue, and it looks like the problem is from celery. Here is a related issue. https://github.com/celery/celery/issues/928

Celery basically wraps the stdout to their own wrapper, LoggingProxy, and this is not compatible to our code here. https://github.com/ray-project/ray/blob/d8a081a185271cf9fa352f7ae2c93abdbef6858a/python/ray/worker.py#L1138

As an example, this

[2020-05-31 20:04] athenawisdoms opened #8693 "[rllib] How to get current state after restoring from checkpoint"
### After restoring an agent from a checkpoint, how do you access its current state?

How do you access the data that is printed out, for example `_iteraton`, `_timesteps_total`, `_time_total`, and `_episodes_total` which are seen in the log messages

[code]

immediately after restoring from checkpoint using

[code]

*Ray 0.8.5, Python 3.8.3, TensorFlow 2.2.0, Ubuntu 18.04*

[2020-06-01 03:09] raulchen opened #8694 "Java `Ray.get` and `Ray.wait` should work with covariant generic types"
### What is the problem?

Right now, `Ray.get` only works with `List<RayObject<T>>`. This requires all objects to have the same generic type. We should make it with `List<RayObject<? extends T>>`.

This bug was reported by https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/ray-dev/lfrksM2OcUs/cGKtkYGGAQAJ

[2020-06-01 05:54] SanjiAp opened #8695 "[raysgd][tfrunner] Getting stuck after running the task"
[raysgd][tfrunner]
I am using tf runner example code and created a cluster with 2 different machines(192.168.140.44, 49)
After running "$ python sample_code.py --address 192.168.140.44:6379 -n 2"
I am getting the following log and in the end it stuck there for infinite time.
[code]

Ray version : 0.8.5
python version : 3.6.10
tensorflow version : 2.2.0
OS : centos 7
*Ray version and other system i

[2020-06-01 06:05] SanjiAp commented on #8695
Code is as follows

`

	import argparse
	import tensorflow as tf
	from tensorflow.keras.models import Sequential
	from tensorflow.keras.layers import Dense
	import numpy as np
	import json
	import ray
	#from ray import tune
	from ray.util.sgd.tf.tf_trainer import TFTrainer, TFTrainable
	import os
	import time
	#NUM_TRAIN_SAMPLES = 100000000
	NUM_TRAIN_SAMPLES = 1000000
	NUM_TEST_SAMPLES = 4000

	d

[2020-06-01 09:45] Glaucus-2G opened #8699 "【rllib】how to use files in tuned_examples？"
When I use files in /tuned_examples/ppo ,it went wrong. For example, I input ‘rllib train -f atari-ppo.yaml’，and the contents of the yaml file are as follows：
atari-ppo:
    env:
        grid_search:
            - BreakoutNoFrameskip-v4
            - BeamRiderNoFrameskip-v4
            - QbertNoFrameskip-v4
            - SpaceInvadersNoFrameskip-v4
    run: PPO
    config:
        # Works for both

[2020-06-01 10:09] ivallesp commented on #4498
Same issue here. When running PPO with default parameters, the memory keeps growing until it fails. In my case I set up 16 workers in an AWS instance with 64 GB RAM and the memory consumption grows until it fails

[2020-06-01 10:11] krfricke commented on #7058
The problem here lies in your specification of the `current_best_params` dict. With a `hp.choice()` parameter, the best param should refer to the _index_ of the best parameter, not the value. If you use

[code]

it runs smoothly.

We will discuss if it makes sense to change this to a value-based setting.

[2020-06-01 10:19] Glaucus-2G commented on #8247
I want to know how you run it? Use 'rllib train -f  pong-apex.yaml'

[2020-06-01 11:09] GoingMyWay commented on #4498
Hi, are you using TF 2.0?  Same issue, I used slicing the SampleBatch and solved, https://github.com/ray-project/ray/issues/8326#issuecomment-633206912

[2020-06-01 11:25] jaromrax commented on #4902
Sorry that I dont give an informed answer, my understanding here is limited:
[code]

Then I tried to:
[code]
resulted in:
[code]

I dont know how the `~/ray_bootstrap_config.yaml `  file appeared o my PC. It contains:
[code]

To me there are several possibilities:
- the corresponding functions in the source code are still empty
- there might be something with local x systemwide installation of pyt

[2020-06-01 11:27] jaromrax commented on #4902
Sorry that I dont give an informed answer, my understanding here is limited:
[code]

Then I tried to:
[code]
resulted in:
[code]

I dont know how the `~/ray_bootstrap_config.yaml `  file appeared o my PC. It contains:
[code]

To me there are several possibilities:
- the corresponding functions in the source code are still empty
- there might be something with local x systemwide installation of pyt

[2020-06-01 14:34] arsedler9 commented on #7632
Hi @edoakes @richardliaw , I just wanted to post here again because I don't think the issue above has been resolved. I'm still not able to run Ray on multiple machines when the firewall is on. Here are my steps to reproduce:

On machine `neuron`, make sure that the ports to use (10000-10099) are open:
[code]
On machine `neuron`, start the head node:
[code]
On machine `sulcus`, check that the desir

[2020-06-01 15:14] nyxynyx opened #8700 "[rllib] Getting the env object from trainer"
### How to get the `env` object from the trainer instance?

Say we have the usual training loop

[code]

How can we access the env instance inside the loop?

We can access `trainer._env.id`, but how can that help us retrieve the environment object? https://github.com/ray-project/ray/blob/master/rllib/agents/trainer.py#L424

*Ray 0.8.5, TensorFlow 2.2.0,  Python 3.8.3, Ubuntu 18.04*

[2020-06-01 15:19] AndreCNF commented on #8634
Can someone please help me here? It might not be a bug with the Azure configuration on RaySGD and just be something that I'm missing or that I don't understand well enough. But I already have a lot of time invested in adapting my code to and learning RaySGD and I won't be able to use it if I can't make it add new worker nodes from Azure VMs. Any suggestions @richardliaw, since I'm presenting here

[2020-06-01 15:42] jetjodh opened #8701 "[tune] TypeError: cannot serialize '_io.BufferedReader' object"
tune
### What is the problem?
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):
[code]
If we cannot run your script, we cannot fix your issue.

- [ ] I have ve

[2020-06-01 16:15] richardliaw commented on #8634
Ah, sorry for the late response. After you start the ray cluster, can you run `ray monitor {clusteryaml}`? It might be that you have to wait a couple minutes for the worker node to join.

[2020-06-01 16:19] richardliaw commented on #8701
Can you instantiate the model inside the function?

[2020-06-01 16:41] jetjodh commented on #8701
[code]
Gives the error:
[code]

[2020-06-01 16:44] vertangelx opened #8702 "[rllib] Recommended Hardware for RLlib"
### What is your question?

1. What components will you choose if you were to build a machine dedicated to reinforcement learning using RLlib?

2. Is the CPU much more important than the GPU?

I am thinking of AMD Ryzen 3950X (16c/32t), 128 GB DDR4 and a low-mid end GPU with 8GB GDDR like Nvidia 2060S/2070/2070S. As opposed to AMD threadripper 1920X (12c/24t) with 4x 2080ti, or AMD Ryzen 2500X (4c

[2020-06-01 16:55] jdavid04 commented on #8674
Thank you for the rapid response. I might be getting something wrong, but even if I set num_initial_points to 1, I consistently get the behaviour that the search generates num_samples random samples from the onset, regardless of the value for num_initial_points.

[2020-06-01 17:03] richardliaw commented on #8701
Can you also maybe also try moving the criterion inside too?
Further, can you make sure `torch.cuda.is_initialized == False` before tune.run?

[2020-06-01 17:09] jetjodh commented on #8701
Now the error is:
[code]
I think the problem is in cloudpickle from the start.

[2020-06-01 17:15] ijrsvt opened #8704 "IOCTL error in Autoscaler"
### What is the problem?
The following error message is printed repeatedly when using the autoscaler. It appears many times during `ray up ...`
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use

[2020-06-01 17:33] Catypad commented on #8623
Hi @ericl, @Tabbi7! I'm having the same error, and I have some questions:
1) is wrong if the value is equal to the low bound or to the high bound?
2) the low and the high bounds can be any values that we want? That is, it possible to put -1000, 1000 for every variable although my variables never have that value?

[2020-06-01 17:35] Catypad commented on #5858
Hi @mightyking7!  I'm having the same error, and I have some questions:

1) is wrong if the value is equal to the low bound or to the high bound?
2) the low and the high bounds can be any values that we want? That is, it possible to put -1000, 1000 for every variable although my variables never have that value?
3) Do you solve your problem? It was a  ill-defined bound?

[2020-06-01 17:37] ericl commented on #7291
@raulchen regarding ordering of these tasks, should we make sure binary packages are available before updating the docs? It seems the packaging prs are still a work in progress. Otherwise it is quite hard for users to install Java.

[2020-06-01 17:49] ericl opened #8706 "[rllib] Make reverb available as a type of replay actor?"
### Describe your feature request

https://deepmind.com/research/open-source/Reverb looks like it could be potentially quite efficient as a replay buffer implementation. Currently our replay buffer code is written in Python / numpy.

[2020-06-01 17:50] ericl commented on #8699
Try installing the latest wheels (see ray docs) (or use older versions of those files).

[2020-06-01 18:02] pdames commented on #8687
Full reproduction script available at:
https://github.com/ray-project/ray/blob/2d167062ccd64fc8c65a2a1be75cbe6a675fb978/doc/examples/compactor/compactor_actors_example.py

[2020-06-01 18:07] ijrsvt commented on #4902
@jaromrax , No worries! Thanks for sending all that over :)

First, I was a bit vague in my last answer, and I meant to include the `~/ray_bootstrap_config.yaml` in the `ray start` part of `head_start_ray_commands`  in your YAML. It looks like you did this from the output of your `~/ray_bootstrap_config.yaml`.

While I was looking at your output from `~/ray_bootstrap_config.yaml`, and it looks lik

[2020-06-01 18:20] ericl commented on #8687
Can you mock out the data/etc dependencies so the file can be run without any additional setup?

[2020-06-01 18:21] ericl commented on #8623
Yeah, you can set the bounds to anything on the observation space. It's
only used for validation.

On Mon, Jun 1, 2020, 10:33 AM Catypad <notifications@github.com> wrote:

[2020-06-01 18:37] Catypad commented on #8623
And the only reason for this error to appear is because of some limit is wrong? I already verified twice and is everything ok!

[2020-06-01 19:09] terodea commented on #8610
Awesome ! Thanks for taking out some time and helping out.

[2020-06-01 19:28] aefn opened #8710 "Is it possible to signal the ray actor to stop an infinite work?"
Dear Experts,
my question looks like weird because I am leveraging ray power to distribute my tasks.
Now, let me clarify my scenario.
I have some actors that are generating some packets for me infinitely.
Something like this:
[code]
now I want to put a flag in my actor to be able to signal my actor to stop that.
As I read in documentation, objects are immutable.
Do you think that is my scenario do

[2020-06-01 19:33] edoakes commented on #8710
The problem is that actors run tasks in a blocking fashion - they won't start running the stopSignal until after your infinite loop finishes (which it obviously doesn't). You can address this by concurrently running actor calls with an async actor and then using something like an [asyncio Event](https://docs.python.org/3/library/asyncio-sync.html#asyncio.Event) to tell the main loop to stop.

http

[2020-06-01 19:38] #7058 closed

[2020-06-01 19:46] #8710 closed

[2020-06-01 20:00] richardliaw opened #8711 "[tune] Configure parameters in output table"
We want to be able to configure the hyperparameters printed during the experiment execution.

cc @krfricke

[2020-06-01 20:40] #8535 closed

[2020-06-01 20:41] simon-mo commented on #8535
I just merged #8690 since the test failure seems unrelated.

[2020-06-01 21:22] acxz commented on #8535
Thx so much!

[2020-06-01 21:26] wuisawesome opened #8713 "[ParallelIterator] for_each_concur leaks memory"
### What is the problem?

`for_each_concur` appears to leak memory. After iterating over items, they appear to remain pinned in memory.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

If we cannot run your script, we cannot fix your issue.

[2020-06-01 22:16] rpandya922 opened #8714 "[rllib] QMix initialization error with Tuple observation space"
### What is the problem?
When trying to run QMix on a multi-agent environment, the QMixTorchPolicy object throws an error upon initialization, saying
[code]
I have done some digging in the QMix source code, and this error is caused because the variable 'env_global_state_shape' does not get set for the QMixTorchPolicy object if the observation space is not of type `Dict`. This is found in the if st

[2020-06-01 22:37] ericl commented on #8700
Try trainer.workers.local_worker().env