[2021-05-29 08:41] rkooo567 commented on #16039
Updated the main description + I think we should figure out what's the root cause.

[2021-05-29 08:58] rkooo567 commented on #13374
@andrew-rosenfeld-ts I think running pytest is fine, but we just don't care about concurrent testing with that I think. What's the use case for this?

[2021-05-29 09:01] rkooo567 commented on #16084
Hi, @lausannel. I think the windows support is still alpha, and we don't support the cluster mode right now IIRC.

[2021-05-29 09:03] rkooo567 commented on #16007
Hi, @llan-ml I couldn't reproduce the error message you specified when I ran it locally. Can you try ray 1.3 and see if it works?

[2021-05-29 10:53] llan-ml commented on #16007
Hi @rkooo567, I created a [notebook](https://colab.research.google.com/drive/1i0slcC9C_Rj8dyRPfVCzUHaGUNipOsde?usp=sharing) to reproduce it. We can see the warning message and that there is nothing in the list `data`.

I'm not familiar with `async`. It seems that we cannot use the `async`ed function alone and I use it in a wrong way.

[2021-05-29 11:37] #15625 closed

[2021-05-29 11:55] andrew-rosenfeld-ts commented on #15833
@simon-mo Unfortunately I don't have the knowledge of what the right answer should be, to put into the docs.

[2021-05-29 11:57] andrew-rosenfeld-ts commented on #13374
@rkooo567 There's nothing concurrent about it - I just ran into the issue when running the test suite normally. One test contaminates the state which causes a subsequent test to fail.

The "use case" is just trying to follow the contributor docs...

[2021-05-29 14:04] yangysc commented on #16081
I also found this problem. But the true entropy is also sampled. Is a new resample operation for a2 action is not an approximation for the entropy, too?

[2021-05-29 15:48] bklaubos opened #16151 "[kubernetes][operator] Extend K8s configuration exposed in the Helm chart"
Usually the head and/or worker nodes needs to have access to credentials like AWS3, Postgres, etc for reading/writing data to external sources.
When autoscaling Ray nodes and the workers they spawn, need to be able make the secrets available similar to
config maps.
See https://kubernetes.io/docs/concepts/configuration/secret/

[2021-05-29 20:13] onycher opened #16152 "tree"
Your issue content here.

[2021-05-29 20:14] #16152 closed

[2021-05-30 00:44] DmitriGekhtman commented on #16151
Another recent request is to add imagePull secrets.

I think in the near future we can expose everything in a podSpec needed for secrets and many other fields,
keeping the few things really necessary for Ray's basic function hidden.

For the immediate moment, you may be able to add what you need directly by customizing the chart -- specifically, by editing the custom resource template [here](https

[2021-05-30 05:13] rkooo567 commented on #16026
I did additional investigation. The issue was the "pending_spilling_objects" are processed pretty late when all the owners are dead, and objects are pinned by them until the URL is updated to the owner. After I waited for some time, it was automatically cleaned up. It is still a little mysterious why it would take so long time to be cleaned (it took a couple minutes).

[2021-05-30 05:17] rkooo567 commented on #16026
Maybe it took a long time to process thousands of requests replied from the owner, but IIUC, it should be done within a couple seconds.. Maybe need more investigation.

[2021-05-30 09:04] soundway commented on #16136
1. As I mentioned in the report -- it is reproducible with the latest wheel.
2. Also mentioned in the report, both the Raylet and the worker processes seem to have leaks. If I put the aggregation into a different actor on the driver node, that actor's memory usage will also grow as fast as the driver.

[2021-05-30 12:06] #3659 closed

[2021-05-30 12:45] yoavg commented on #15893
We observe similar failure mode also on GCP, with large-ish docker images. (This may be related to the 120 seconds timeout in the command running component (SSHCommandRunner / DockerCommandRunner).)

[2021-05-31 02:40] rkooo567 commented on #16136
@soundway sounds good. Sorry that I missed those two points. We will start investigation. Thanks for the repro & report!

[2021-05-31 02:41] rkooo567 commented on #16116
It is usually when you have Redis previously created by other ray init that wasn't cleaned up properly. Try ray stop --force and run again.

[2021-05-31 02:41] rkooo567 commented on #16116
We should improve the error message

[2021-05-31 02:42] rkooo567 commented on #16100
@franklsf95 do you mind creating a quick PR to fix it? I think we can just add assert failure or something? The fix could be pretty easy I believe?

[2021-05-31 02:45] rkooo567 commented on #15833
We can just recommend to run pytest one by one instead of multiple all at once. Maybe just write a small note?

[2021-05-31 02:48] rkooo567 commented on #16127
Hey @joeybai can you tell us the priority of this task? Is it a high priority?

[2021-05-31 03:09] WangTaoTheTonic commented on #15358
There're two places using redis client(Jedis) in java worker:
- get `session_dir` key if the worker is a driver, this is a temp connection and do only one time in starting.
- get next Job ID in gcs client. It's a long connection.  like: `int jobCounter = (int) primary.incr("JobCounter".getBytes());`

I would like to remove the second, by transform it to a function in global state accessor.

[2021-05-31 03:21] vroomzel commented on #15342
Have a similar issue after upgrading from Ray 1.1.0 to 1.3, local cluster doesn't start any worker nodes.
Adding new `upscaling_speed: 1.0` config from https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/local/example-full.yaml didn't help either.
However, if i manually ssh into a worker node and run `ray start ...`, the node gets added to the cluster.

[2021-05-31 03:32] #13182 closed

[2021-05-31 04:35] soundway commented on #16136
No problem. Regarding your question on the type of memory growth -- both working set memory and RSS grow at the same rate on the driver node for both processes, while shared memory usage seems to remain negligible.

[2021-05-31 06:41] kira-lin commented on #12635
Hi all,
First, thank you all for working on this issue! I am from the [raydp](https://github.com/oap-project/raydp) team. This feature is very important in our project, so we want to settle on a solution and implement it.

I have read the proposals. @ericl @iycheng Is there any progress since then? All of them work for us, but some are harder to implement than others. So far the proposals assume o

[2021-05-31 08:22] Roller44 commented on #4569
If I want to restore a trained agent from the best trial, should I do the following?
`agent.restore(last_checkpoint)`

[2021-05-31 08:22] ConeyLiu commented on #16009
thanks for the feedback.

[2021-05-31 08:42] a-python-script opened #16159 "Replacing the default policy optimizer using PPOTorchPolicy.with_updates and PPOTrainer.with_updates does not work"
I am trying to replace the default Adam optimizer for my policy model with another optimizer from the torch library. I followed the tutorials on page https://docs.ray.io/en/latest/rllib-concepts.html#extending-existing-policies to do this. The following code I have:

[code]
The output is:
[code]
I have already tried all possible combinations, including using the `build_trainer` and `build_torch_po

[2021-05-31 08:50] stefanbschneider commented on #4569
agent.restore(last_checkpoint)

@Roller44 Yes, exactly!

[2021-05-31 10:00] andrew-rosenfeld-ts commented on #15833
@rkooo567 this doesn't make any sense to me. You are basically saying that contributors shouldn't run a test suite?

[2021-05-31 10:18] rkooo567 commented on #15833
No I just meant to run pytest [one test suite] instead of pytest [one] [two] [three] because it seems to have an issue now as you reported. Btw this is how I run test for development

[2021-05-31 10:28] willish commented on #9327
This almost worked for me but I needed to change the ARNs for the `iam::PassRole` to be:
- `role` instead of `instance-profile`

`
{
            "Effect": "Allow",
            "Action": [
                "iam:PassRole"
            ],
            "Resource": [
                "arn:aws:iam::<aws-account-number>:role/ray-head-v1",
                "arn:aws:iam::<aws-account-number>:role/ray-worker-v1"

[2021-05-31 11:01] andrew-rosenfeld-ts opened #16160 "[docs] Contributor docs don't mention how to set up development dependencies"
### What is the problem?

The contributor docs at https://docs.ray.io/en/master/getting-involved.html point you to https://docs.ray.io/en/master/development.html#building-ray to set up a development environment.

Those docs then say "RLlib, Tune, Autoscaler, and most Python files do not require you to build and compile Ray. Follow these instructions to develop Ray’s Python files locally without bu

[2021-05-31 11:06] Vickzhang commented on #15734
I have a similar problem.
First  met the problem in version 1.3. then even rollback to verison 1.1, it may still happen.  It is weird because it never happen before with version 1.1.
it failed without any log, so I do not know why.
Python: 3.7.10
Ray:  1.3/1.1

[2021-05-31 11:13] andrew-rosenfeld-ts commented on #16160
I see `python/requirements.txt`, but then further requirements files like `python/requirements_linters.txt`, and `python/requirements/rllib/requirements_rllib.txt`.

A guide should be written that captures which of these are necessary.

I think one has to expect that contributors are going to follow instructions line by line like a recipe if they are presented that way (as they are now).

[2021-05-31 11:15] andrew-rosenfeld-ts commented on #15833
That's what I meant too - I am just trying to run `pytest python/ray/tests/`, and it wasn't working for me.

I've just tried a fresh clone/checkout of everything (which also needs more support, see https://github.com/ray-project/ray/issues/16160 ), and now unfortunately it core dumps for me early on in the tests so I don't even know if this is still an issue.

[2021-05-31 12:46] RocketRider opened #16161 "PolicyClient Examle on windows results in: Windows fatal exception: access violation"
I tried to run the PolicyClient example from [examples (cartpole_client.py and cartpole_server.py)](https://github.com/ray-project/ray/tree/master/rllib/examples/serving) on Windows 10 with ray 1.3.0 and TF 2.4.0.
But after a few episodes I get the following error:
[code]

Pip list:

[2021-05-31 12:51] RocketRider commented on #5109
Did you find any solution?

[2021-05-31 18:24] ericl commented on #12635
We have a public design doc here on the future approach, which is in
progress:
https://docs.google.com/document/d/1Immr9m049Ikj8Pq3G06Csm8sHyhBvzpWENGB5lHPbOY/edit?usp=drivesdk

On Sun, May 30, 2021, 11:41 PM Zhi Lin ***@***.***> wrote:

[2021-05-31 20:30] DmitriGekhtman commented on #15342
working on fixing these issues -- the problems are completely external to Ray itself, and you shouldn't have any issues starting a Ray cluster manually by running Ray start on the head node, then Ray start on each worker.

[2021-05-31 22:14] stephanie-wang opened #16164 "[core] Disabling overcommit in plasma can cause ObjectStoreFullErrors due to fragmentation"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 2.0dev

After #16061, SIGBUS errors no longer appear when overcommitting is disabled. However, now ObjectStoreFullErrors can be thrown instead. This is due to fragmentation and probably occurs more when large objects are allocated.

### Reproduction (REQUIRED)
Please provide a short code

[2021-05-31 22:23] ericl commented on #16164
Overcommit is now flag disabled by default, so we can close this.

[2021-05-31 22:23] #16164 closed

[2021-05-31 22:27] stephanie-wang commented on #16164
I think we should keep some version of this issue open since SIGBUS is still possible with the default config.

[2021-05-31 22:31] ericl commented on #16164
How about we re-open the original SIGBUS issue? This issue doesn't make sense since it's already fixed.

[2021-05-31 22:56] stephanie-wang commented on #14182
#15951 fixes this issue, but it can cause ObjectStoreFullErrors instead, since the underlying issue of fragmentation is still there. @ericl is working on a potential fix in #16097, which uses /tmp as a fallback when plasma runs out of shared memory.

[2021-05-31 23:26] LukasNothhelfer opened #16166 "[rllib] Will the hidden state of an rnn policy be reset by default at the end of an episode?"
I'm relatively new to ray/rllib and have been fiddling with this question for a while, which I haven't been able to answer yet. My question: Is the hidden state of an rnn model derived from RecurrentNetwork, for example as described in [the documentation](https://docs.ray.io/en/master/rllib-models.html?highlight=forward_rnn#implementing-custom-recurrent-networks) automatically reset at the end of

[2021-05-31 23:32] richardliaw commented on #16166
Hey @LukasNothhelfer could you redirect your question to discuss.ray.io? The community will be able to quickly help you out there!

[2021-05-31 23:36] LukasNothhelfer commented on #16166
Did it: https://discuss.ray.io/t/rllib-will-the-hidden-state-of-an-rnn-policy-be-reset-by-default-at-the-end-of-an-episode/2355

[2021-05-31 23:36] #16166 closed

[2021-06-01 01:53] rkooo567 commented on #16048
This task will be separated by 3 PRs.

[ ] Implement pubsub command batch "without using them in code"
[ ] Remove legacy subscribe path and replace them to pubsub command batch.
[ ] Replace Ownership based object directory to use the pubsub module.

[2021-06-01 03:17] Roller44 opened #16168 "[tune][rllib] Raise NotImplementedError when I try to restore the best trained agent."
### My objective:
Train a DDPG agent that performs well in my costume environment.
### My implementation:
I try to achieve the objective via the following two steps.

**_step 1:_** Train DDPG agents. During training, I run tune to perform grid searches, where each run generates a trained agent.

Here is my code for performing grid searches. For each agent, I save a checkpoint for every 10 iteratio

[2021-06-01 05:51] TanjaBayer commented on #15888
I think that would be really great feature. But I think if you have a larger micro service architecture, you will encounter different loads. Right now you need to handle that by an additional script, which makes the usage of ray serve more static and less serverless.

[2021-06-01 06:07] wuisawesome commented on #15358
Sounds great! Do you or someone else have bandwidth to take on this task?

[2021-06-01 06:12] RocketRider commented on #16161
The issue seems to be related to the installation. I installed python without anaconda and now it is working fine.

[2021-06-01 06:12] #16161 closed

[2021-06-01 06:28] simjay commented on #16114
Took awhile to understand how the controller's control loop works! I implemented a quick solution for this. Wanted to verify if it makes sense before I finish it. Here are changes I propose.

- Add `backend_health (bool)` field in `BackendInfo` class, which is in `BackendState._backend_metadata`
- Implement `exponential_retry(func, retry=RETEY_COUNT)` method in `utils.py`. This method will simply

[2021-06-01 06:57] simjay commented on #16115
Hey @edoakes, it really did help me understanding the control loop in the backend_state. A few question before I make sure that I understood this issue correctly

1. It looks like the shutdown logic flows as such: `serve.shutdown` -> `Client.shutdown` -> `ServeController.shutdown` -> `BackendState.shutdown`. For me, it looks like each step's shutdown actually waits for shutdown to be completed (al

[2021-06-01 07:04] simjay commented on #16094
@edoakes So just to be sure, this will be another command in `scripts.py`, which will be used for dev purposes right? If that's the case, it looks like a simple new-feature tasks (with all the info you guys listed above)

[2021-06-01 07:13] rfali commented on #8403
Relevant [PR](https://github.com/ray-project/ray/pull/14796) that has potentially fixed this.

[2021-06-01 08:08] TanjaBayer commented on #9259
Just an update:

* we were able to setup a cluster with different docker containers, however we are using it on DCOS at the moment. There is a special networking setup which is called virtual network, (it creates a ip address per docker)  by using this network we do not need to provide the ports, we just provide the ip adress of the head node to all other nodes and they are able to connect without

[2021-06-01 08:54] maycuatroi commented on #16137
I try to enter command as Administrator and restart Ray, it work 😄

[code]

[2021-06-01 08:57] maycuatroi commented on #15970
Check my answer:  I got same problem with you, and I try to stop all the ray process and restart it. After that, it works.

https://github.com/ray-project/ray/issues/16137#issuecomment-851954132

[2021-06-01 12:36] vroomzel commented on #15342
Makes sense. Though would be nice to be able to do it with one `ray up...` command on the head node. Btw cluster start works in 1.2.0 as well, so the issue is only in 1.3.

[2021-06-01 15:08] antoine-galataud commented on #15910
@sven1977 maybe you can have a quick look at this one? Let me know if I got anything wrong.

[2021-06-01 16:00] joeybai commented on #16127
@rkooo567 this is medium priority for now, but could escalate in the near the future.

[2021-06-01 16:50] #14945 closed

[2021-06-01 16:59] #15288 closed

[2021-06-01 18:18] richardliaw opened #16175 "[release] Update `impala release test` to encode object store memory/redis memory."
This is currently changed but we should follow up on this (is this a desired change?)

_Originally posted by @richardliaw in https://github.com/ray-project/ray/pull/15913#r643376253_

[2021-06-01 18:47] architkulkarni opened #16176 "[runtime env] Specifying pip/conda requirements by filename relative to working_dir doesn't work"
### What is the problem?
Running `ray start --head` and then the following python script:
[code]
fails with

[code]

It fails because in the job_config codepath, `working_dir` is removed from the `runtime_env` dict: https://github.com/ray-project/ray/blob/master/python/ray/job_config.py#L64. To fix this, we need to pass working_dir to the runtime_env dict so that the provided filepath for `require

[2021-06-01 18:48] architkulkarni commented on #16176
cc @iycheng is it okay if we don't delete working_dir before passing it to the runtime_env dict?  Or will that cause some other issue?

[2021-06-01 19:00] #15744 closed

[2021-06-01 20:12] RashiqAzhan commented on #15970
@maycuatroi Thank you for taking the time to answer my issue.

[code]

I have tried running these commands in that order by I still did not receive any output. Running the second command produces this output.
[code]

I have placed the `address` and `_redis_password` in my files `ray.init` argument list and then ran the script.
[code]

Is there anything I'm missing or doing wrong?

[2021-06-01 20:21] #9264 closed

[2021-06-01 20:45] #14042 closed

[2021-06-01 21:07] edoakes commented on #16094
@simjay yup, that's right!

[2021-06-01 21:13] edoakes commented on #16115
@simjay

1. That's right that the client waits for that method call on the controller to finish, but the actual method itself isn't properly waiting for all of the state to be cleaned up. Specifically, what it does right now is pretty hacky in that it just sends a kill message to all of the actors (using ray.kill). It doesn't wait for them to finish and I don't think this even works in some cases

[2021-06-01 21:15] edoakes commented on #16114
@simjay this seems pretty good, but is the intention to just retry forever? This would mean that `Deployment.deploy()` would just hang forever. I'm thinking that it would make the most sense to fail the deployment after a number of retries. This would cause the deploy call to error and the deployment to be deleted.

[2021-06-01 21:17] edoakes commented on #16114
The way I would implement this is to have a failure counter instead of just a boolean flag and do exponential backoff on starting the replicas until we hit some retry limit (at which point we fail the deployment).

[2021-06-01 21:18] architkulkarni opened #16178 "[Core] [Runtime env] [Client] Client hangs sometimes when specifying runtime_env"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)

After running ray start --head and the following script:
[code]
(Note: this requires the following patch test things on OSS on master, you'll need to include the following patch https://github.com/ray-project/ray/pull/16173/files)

Sometimes it works, and som

[2021-06-01 23:49] iycheng opened #16181 "Conda not working when using different requirement files"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[demo_dev.tar.gz](https://github.com/ray-project/ray/files/6581090/demo_dev.tar.gz)

If we run different pip requirements, it'll go wrong, complaining module not found.

### Reproduction (REQUIRED)
[code]

If the code snippet cannot be run by itself, the issue will be closed with "needs-r

[2021-06-01 23:49] iycheng commented on #16181
cc @ericl

[2021-06-02 00:11] iycheng commented on #16181
I failed to reproduce using this pkg shared here, but I can still encounter this somewhere else.

[2021-06-02 00:15] valiantljk opened #16182 "Metrics support in RaySGD"
### Describe your feature request
Currently, our users are interested in the following metrics, supporting them in RaySGD would be very useful.
* accuracy
* precision
* recall
* f1_measure

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-02 00:26] klm122 commented on #11807
Hi,

I still struggle to make ddpg work. I get the following error:
(pid=338865) ray.exceptions.RayActorError: The actor died because of an error raised in its creation task, ray::RolloutWorker.__init__() (pid=338880, ip=172.16.1.17)
(pid=338865) TypeError: get_distribution_inputs_and_class() missing 1 required positional argument: 'obs_batch'
(pid=338865)
(pid=338865) During handling of the above

[2021-06-02 00:27] #13518 closed

[2021-06-02 01:33] mvindiola1 commented on #15277
This is fixed in the current documentation.

[2021-06-02 01:33] #15277 closed

[2021-06-02 04:11] ericl commented on #16025
This turns out to be a race condition in the initial implementation of avoiding releasing resources on ray.get(). The problem is that when an ObjectRef is deserialized, we are asynchronously resolving its status. This takes an RPC round trip to the owner (0-1ms). If we try to ray.get() an object during this period, then it can release resources even if the object is already created.

The real fix

[2021-06-02 05:09] simjay commented on #16114
Oh maybe my wordings were a bit confusing. I am actually not suggesting an infinite retry.

The `exponential_retry(func, retry=RETEY_COUNT)` method I am suggesting will only retry `RETRY_COUNT` times (which can be an user input argument with default value being a static env value). If `RETRY_COUNT` times of retry failed, then we would set `backend_health` flag as false, so that the backend's contr

[2021-06-02 05:12] simjay commented on #16114
BTW, I am assuming that we still want to make deployment process as an asynchronous process!

[2021-06-02 05:17] simjay commented on #16115
@edoakes

1. Ah interesting. For some reason I thought ray.kill would force stop the actors but good to know that it does not guarantee the actual termination of the actors. Will change ray.kill to a regular deployment deletion methods and see what I get.
2. This will be a good place to start I guess; coming up with the test suite that actually breaks the current flaky deployment.

So this will be

[2021-06-02 08:17] WangTaoTheTonic commented on #15358
I'll take this and first PR has been filed.

[2021-06-02 09:09] jovany-wang commented on #13854
If it's necessary to allow duplicated names, maybe we should subscribe the named actor once we cached it. And once the handle of the name is changed, local can be notified as soon.
But the change is a bit big.

[2021-06-02 11:04] HornetGuppy commented on #6573
In jupyter/spyder the command `ray._private.services.address_to_ip` = lambda x: '127.0.0.1'` seems to get stuck after showing
`'2021-06-02 13:01:21,758	INFO services.py:1274 -- View the Ray dashboard at http://127.0.0.1:8265'`.
I have tried with and without work VPN and with different ray versions..what am i missing?

[2021-06-02 12:33] fire-keeper opened #16191 "UnicodeEncodeError happened on running ray start code"
### What is the problem?

*Ray version 1.2.0 and 1.3.0 (the same Error shows on both) and system information (Python 3.8.3, pytorch 1.7.0, OS ubuntu 16.04):*

I am learning about ray. But I get the **UnicodeEncodeError** when I run the start example code on my machine.

**start example code**:
[code]
**ERROR**：
[code]

However, after several these ignored Exception, the expect result comes correct

[2021-06-02 16:19] bklaubos commented on #14019
@edoakes @architkulkarni https://docs.google.com/document/d/1gLGl_eNUsf0O2se4rKg7fbf9IhHtst1w8ydGPNCXnQI/edit#
say that this RFC is available for Ray 1.4+? Are we at Ray 1.4 today?

[2021-06-02 16:43] simjay commented on #16094
@edoakes Make a quick initial PR for this. Please review! I was debating myself if we would need a 'detached' mode for serve.run. Let me know what you think!

[2021-06-02 16:53] cmeisinger commented on #16125
It should be noted that the above example isn't exact.  I iterated through a bunch of different options/combinations of SubnetIDs as strings, lists, just using SubnetID as mentioned in the error, etc.

None of those options worked.

[2021-06-02 17:07] jovany-wang commented on #16047
As discussed before, `ConcurrentGroup`  is a better name.

[2021-06-02 17:22] HuangLED opened #16194 "[core] Reset Ray Cluster to a Clean state"
A feature similar to ray.killall() would suffice this use case.

Current behavior: When a ray program finishes, we now expect **all** the actors to terminate, as long as they are started by this program. None of such actor should leak (i.e. become stale).

The expected behavior works in most cases. Though in our experience, there are a few situations where current behavior can be improved:
1) Prod

[2021-06-02 17:25] richardliaw commented on #16194
In use case 1, do you have `lifetime=detached` for your processes?

[2021-06-02 17:33] bramhoven commented on #16137
@maycuatroi That at least got me a bit further!
I now get the warning:
[code]

Any tips for this error message? I cannot seem to get it working even with different amounts of CPU and memory.

[2021-06-02 18:00] HuangLED commented on #16194
Use case 1 is not using lifetime=detached.

[2021-06-02 18:41] DenysAshikhin commented on #15753
I will post an update where I try some more stuff, for now, I'm just focusing on other stuff and want to (and have been) taking a break from this current project of mine

[2021-06-02 18:46] lucaguarro opened #16197 "View Ray Tune output in Google Colab Notebook"
### What is the problem?
This problem is very similar to [Issue #13060](https://github.com/ray-project/ray/issues/13060).
I am using the Huggingface + Raytune integration to run [this example](https://docs.ray.io/en/master/tune/examples/pbt_transformers.html). I am able to get the code running but am unable to view all the results. In the output I see many of these: `<IPython.core.display.HTML obj

[2021-06-02 19:15] YarShev commented on #13758
A stub just to remove stale tag.

[2021-06-02 21:25] rkooo567 commented on #13758
I think ray.state.workers() will probably deprecated. Can you specify your use case including this question? `By the way, is there a way to get a list of local ObjectRef references for a worker?`

[2021-06-02 21:33] rfali opened #16200 "[rllib] Video Recording not working for some environment (after PR 14796)"
Related PR[#14796](https://github.com/ray-project/ray/pull/14796)

### What is the problem?
I was trying to use the render and recorder for the PettingZoo environments, but only the render works (and the pygame window crashes at the end of episode) and the recorder doesn't record anything at all (there is no videos folder as well). Has this patch been verified to work with custom multi-agent envs?

[2021-06-02 22:45] simjay commented on #16094
@edoakes Please review! I was debating myself whether should I add `detached` mode for the serve.run or not. Let me know if that would be useful

[2021-06-02 23:05] a-python-script opened #16203 "[rllib] [tune] Logger not using default log dir in docker container on kubernetes"
I used the simple script from the tutorial

[code]

The script is run in a Docker container on a Kubernetes cluster. The Docker container has access to a local folder. Below is the snippet from the Kubernetes configuration file that handles this.

[code]

I have been able to run the folder configuration several times without any problems, the file systems are properly shared. So in my Docker conta

[2021-06-02 23:43] LukasNothhelfer commented on #16203
If you modify the above example as follows, it will work correctly:

[code]
However, if you omit the `./` before `ray_results`, it does not work. It also doesn't work if you use your own trainable (derived from tune.trainable) instead of `"PPO"`.

[2021-06-03 00:57] richardliaw commented on #16182
@valiantljk do you have any thoughts on the above suggestion?

[2021-06-03 01:19] richardliaw commented on #16194
cc @rkooo567 and @wuisawesome for this issue.

[2021-06-03 01:32] stephanie-wang opened #16207 "[core] Dashboard failure spamming stdout"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 2.0dev, nightly wheels

`ray start` prints a dashboard error. Then, after running `ray.init`, the driver repeatedly spams the same message in stdout.

[code]

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reprod

[2021-06-03 01:33] stephanie-wang commented on #16207
@fyrestone @wuisawesome might be caused by #16170, can you look into this?

[2021-06-03 03:02] #15971 closed

[2021-06-03 03:34] Roller44 commented on #16168
According to [this](https://discuss.ray.io/t/raise-notimplementederror-when-i-try-to-restore-the-best-trained-agent/2357/2?u=roller44), I should not wrap my DDPGTrainer into a custom trainable.

Here is my revised code. It works to me.
__Code for training:__
[code]

__Code for restoring a trained agent:__
[code]

[2021-06-03 03:34] #16168 closed

[2021-06-03 04:05] valiantljk commented on #16182
@richardliaw I'll give it a try

[2021-06-03 05:29] yncxcw opened #16212 "[Core] Improve the logging around worker exit type"
### Describe your feature request

We have seen the workers in our production cluster got killed for no reason(no sign of any error). After days of debugging, we finally located that this is related to `TryKillingIdleWorkers`, a mechanism added after Ray 1.0.

We hope we can have more information around exit type in logs, right now the log like this is of no use for debugging.
[code]

I have a PR

[2021-06-03 05:34] rkooo567 commented on #16212
Hmm actor shoudn't be killed by `TryKillingIdleWorkers`. This only kills idle "workers" (so actors should never be killed). What version of ray are you using?

[2021-06-03 05:37] yncxcw commented on #16212
Sorry, it is actually workers. Rephrase it to workers. We are right now at Ray-1.3.0. The issue we are seeing is that it takes quite a long time for the workers to be ready if we request a large number of workers.

[2021-06-03 05:43] rkooo567 commented on #16212
Btw, this is invoked only when there are more actors than num_cpus (so if you have like 40 workers in 32 cpu machine, which is not ideal). Can you explain a little bit more about your workload and a problem? (Btw, I am not against your change. I am trying to understand if we can fix the underlying issues here).

[2021-06-03 05:51] YarShev commented on #13758
This question has partly been resolved on discuss.ray.io ([link](https://discuss.ray.io/t/get-actor-handle-by-objectref/601)). However, I would like to have an ability to run a remote function as closer to data as possible, as well as a user has some flexibility to send a remote call to the concrete worker (as it is done in Dask, for example, `client.submit(lambda: 1, workers='tcp://1.1.1.1:11111'

[2021-06-03 05:57] yncxcw commented on #16212
Yeah, so we are having 60 cores, but we are requesting like 200 actors for each node. The logic is kind of like this:
[code]
For Ray 1.0, `e-s` <= 2mins
Starting from Ray 1.2, `e-s` >= 30 mins

Our solution is to set `kill_idle_workers_interval_ms` in ray.init() to 0.

[2021-06-03 06:20] rkooo567 commented on #16212
I see. I think the most native solution is

[code]

This way, you can have 60 * 4 workers per node without worrying about `TryKillingIdleWorkers `. Turning that feature flag also   could work.

(Btw, note that num_cpus should be cleanly divide 1, for example, if you set num_cpus=0.33, there could be some issues due to how we manage resources)

[2021-06-03 06:30] wjaskowski commented on #7696
I have experienced the same issue.

[2021-06-03 06:34] fyrestone commented on #16207
The logical_view module has been removed. Please check: https://github.com/ray-project/ray/tree/master/dashboard/modules  I think this problem is cause by unclean directory. Can you try `git clean -xdf`, then `pip install -e . --verbose`? Or just remove the directory `/home/ubuntu/anaconda3/envs/dask-38/lib/python3.8/site-packages/ray/new_dashboard/modules/logical_view` manually?

[2021-06-03 07:02] rkooo567 commented on #13758
No. Ray doesn't cache objects to process (but it uses the distributed object store in shared memory), so there's no need to schedule tasks directly to workers for locality. Using the same node should guarantee enough locality for Ray.

[2021-06-03 07:12] fyrestone commented on #16207
An improvement we can do,

1. Add a config for dashboard modules.
2. Load dashboard modules from config.

Pro:
  - Avoid similar problems.
  - Disable module in config instead of removing module.

Con:
  - We need to add config for every module.

[2021-06-03 08:21] YarShev commented on #13758
Okay, that makes sense to me. Closing the issue.

[2021-06-03 08:21] #13758 closed

[2021-06-03 11:04] stefanbschneider opened #16215 "[tune] [rllib] Env config only allows dicts with string keys"
### What is the problem?

I'm using RLlib with a custom environment, which I want to configure with a dict that contains int values as keys.
This works fine with the environment itself, but when I try to run my RLlib algorithm against the environment, `ray.tune` throws an error:

[code]

Apparently, Ray/RLlib expects all dicts inside the `config`, which also includes the env config, to only have s

[2021-06-03 11:06] zuston opened #16216 "[Question] How to get the execution node ip in actor class"
How to get the execution node ip in actor/task?
Because I want to construct the tensorflow training cluster on Ray, i need to get the execution node ip in actor.

Any ideas on it? Or related doc?
Thanks!

[2021-06-03 14:32] psxz commented on #11970
Hi, I am currently working with Ray ver 1.0.0. I have a question regarding the custom 'action_distribution_fn' used in certain policies like SAC and DDPG. In those cases, the custom 'action_distribution_fn' defined within those policies returns an empty list [ ] for the state_out value when called from within the '_compute_action_helper' function in the torch_policy.py. Could that be the reason fo

[2021-06-03 16:32] stephanie-wang commented on #16207
Thanks removing the files manually worked for me!

[2021-06-03 17:22] ericl opened #16221 "[Core] Placement group scheduling hangs in edge cases (1.4 regression, multiple repros)"
The placement group stress release tests is failing in pre-1.4, however it may be due to an infra change in the release tests.

[2021-06-03 17:24] ericl opened #16222 "[release] Investigate 10% microbenchmark perf drop in release tests"
Note: we should make sure to run 1.3 vs 1.4 on the exact same machine, to avoid biases.

[2021-06-03 17:29] yncxcw commented on #16212
Thanks, yeah, we can try this.

The argument I made in the PR is that it would be really nice if we can make the exit type more explicit so users know what's going on when debugging things like this.

[2021-06-03 18:59] #16178 closed

[2021-06-03 20:12] ericl commented on #16222
This turned out to be due to not using the same machine for the previous reference point. The results are as follows:

1.4:
single client get calls per second 48044.6 +- 1713.21
single client put calls per second 32310.76 +- 162.25
multi client put calls per second 152233.55 +- 3383.3
single client get calls (Plasma Store) per second 10350.58 +- 210.82
single client put calls (Plasma Store) per se

[2021-06-03 20:12] #16222 closed

[2021-06-03 20:26] iycheng opened #16224 "Convert log.exception in setup function to log.info"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-06-03 21:11] edoakes opened #16226 "[runtime_env] Installing a second environment seems to make workers in a first environment unschedulable"
Repro steps:

`ray start --head`

Then run:
[code]

While the above is running, run:
[code]

The first one runs and each loop takes ~1s for awhile, then when you kick off the second one as the env is installing the first one also hangs. Output from the first:
[code]

[2021-06-03 21:16] bergen288 commented on #9726
I have the same error.  Is there any fix/workaround?

[2021-06-03 21:44] maxshaps opened #16230 "[tune] KeyError during BOHB for multiple, quick reports on objective function"
### What is the problem?

When the objective function does multiple reports for BOHB scheduler, KeyError is raised.  The KeyError corresponds to an attempt to remove a trial from `TuneBOHB.running` (i.e., the set of running trials) which does not exist in `TuneBOHB.running`.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

- Ray 2.0.0.dev0
- Python 3.6

[2021-06-03 21:46] maxshaps commented on #16230
Made an initial attempt to resolve the issue by including a check in the `on_pause` and `on_unpause` methods in `ray/tune/suggest/bohb.py` to ensure that key was only removed from `TuneBOHB.running` if that key existed in the dictionary.

[code]

However, could not resolve subsequent errors that arose:

[code]

[2021-06-03 22:59] #12017 closed

[2021-06-03 22:59] #11973 closed

[2021-06-03 22:59] #12008 closed

[2021-06-04 00:33] DanielAtKrypton commented on #13794
Duplicate of https://github.com/ray-project/ray/issues/12481

[2021-06-04 00:36] DanielAtKrypton commented on #12481
Neither here or at the duplicate issue https://github.com/ray-project/ray/issues/13794, a solution was developed as of now. In my understanding the ability to isolate concerns and environment is paramount. Maybe `ray-project` folks do not think this way...

[2021-06-04 00:48] alanwguo opened #16235 "Allow env vars to override object spilling parameters and metrics export port"
### Describe your feature request
This will allow users to customize these things without customizing the ray start command directly. This will also be safer to do since a user cannot inject arbitrary shell commands into this configuration

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-04 00:49] edoakes commented on #16235
In general it'd be great if we had a more standard way to set config options like ray start command >> environment variables >> config file

[2021-06-04 01:35] #16025 closed

[2021-06-04 02:20] simon-mo opened #16237 "[Core] Pending actors behavior when using multiple driver"
Can't figure out a better title, but here's a repro for the weird pending placement scaling behavior. Full script:
[code]

This script shows that creating a detached actor that manages the lifetime of other actors. In the first job, the driver creates it and spawn one replica of A. In the second job, the driver tries to scale up the number of replicas of A. And we will add some worker nodes to the

[2021-06-04 02:39] simon-mo commented on #16237
You can also try running `ray start --address=auto --num-cpus=1` in other terminal windows. The number of ready references won't change as you add more nodes. Regardless of the feature flag.

[2021-06-04 03:57] #13581 closed

[2021-06-04 03:57] #8243 closed

[2021-06-04 03:57] #12066 closed

[2021-06-04 03:57] #13489 closed

[2021-06-04 06:04] fyrestone opened #16243 "[Dashboard] Refactor job / node / actor updating code"
The logic to update job  / node / actor follows similar paradigm:
  1. Update all from GCS.
  2. Pubsub from redis.

We can refactor job / node / actor updating code.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-04 07:10] fyrestone opened #16245 "[Dashboard] Use a dedicated RPC to check if GCS is alive"
Currently, dashboard use the `GetAllNodeInfo` RPC to check if GCS is alive which may false reporting the GCS is not alive.

- Add a new RPC `CheckAlive` to the GCS.
- Handle the `CheckAlive` RPC in heartbeat thread.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-04 07:13] fyrestone opened #16246 "[Dashboard][event] Basic event module"
- Collect events from log in event agent.
- Report the events from event agent to the event head.
- Provide an API to query events in event agent (for the new dashboard frontend).

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-04 07:15] fyrestone opened #16247 "[Dashboard][event] Basic event page in new dashboard frontend"
- Event page in new dashboard frontend.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-04 08:15] SongGuyang opened #16249 "[Dashboard][event] Basic event points."
- Some event points to expose exception, crash message, and `RAY_CHECK` failed.
- Event point will generate event logs.
- The event points will be located in C++、Java and Python.

[2021-06-04 08:18] SongGuyang opened #16250 "[Dashboard][event] Event API in Python."
- We have supported `RAY_EVENT` API in C++ now. But no Java API.

[2021-06-04 08:19] SongGuyang opened #16251 "[Dashboard][event] Event API in Java."
- We have supported RAY_EVENT API in C++ now. But no Java API.

[2021-06-04 08:22] SongGuyang opened #16252 "[Dashboard][event] Custom field API support."
- We already has "custom_fields" attribute in event log. But no API to set fields.

[2021-06-04 09:10] stefanbschneider commented on #15297
I'm running into the same error when using PPO for multi-agent RL with a varying number of agents over time. For me, the error only occurs with Ray 1.3 but not with version 1.0.

Maybe this already helps a bit to narrow down the bug. If I figure out more details, I'll add them here.

[2021-06-04 09:36] stefanbschneider commented on #15297
I think the error somehow comes from my environment removing agents during an episode.
What I currently do is to simply remove the corresponding observations, info, done, reward for the "removed" agent.
Do I need to actively remove/de-register the agent from RLlib somehow? @sven1977 Any idea?

For now, I'll roll back to v1.0 to temporarily fix the problem for me.

[2021-06-04 12:07] howardlau1999 commented on #16013
@krfricke Hi, any updates on this?

[2021-06-04 12:55] mustafaKus commented on #8385
Hello, Is there any progress on this?

I have tried to implement ray.tune into our company codebase and I am getting the same error. After everything is running, I am getting this instead of closing the processes healthily.

[2021-06-04 17:04] simon-mo commented on #16237
@clarkzinzow @ericl @wuisawesome @rkooo567 any idea?

[2021-06-04 17:41] spiralhead commented on #14888
Me too! I've tried today to do this, and I have reasonably good GPU, and still no luck. Something is very wrong!

[2021-06-04 18:50] valiantljk commented on #16182
Hi @richardliaw could you give me an example of using torchmetrics in raysgd?

[2021-06-04 18:54] clarkzinzow commented on #16221
This has been narrowed down to an issue with [scenario 2 in the placement group stress tes](https://github.com/ray-project/ray/blob/cf58cd76c701da39c1aecb37d14ab659df91f729/release/stress_tests/workloads/test_placement_group.py#L67-L146)t, specifically with concurrent placement group creation and removal when using the STRICT_SPREAD strategy. The test passes without issue when switching the strate

[2021-06-04 21:33] ericl commented on #16039
I believe the following recreates the main symptom:

`RAY_max_fused_object_count=2000 python -m ray.experimental.shuffle --num-partitions=200 --partition-size=10e6`

Note that if you reduce the RPC load by setting RAY_max_fused_object_count=10, or adding sleeps in the spill() function of external_storage.py, the problem goes away.

I'm not sure why this is causing the event loop to break though. I

[2021-06-04 21:33] ericl commented on #16039
https://github.com/ray-project/ray/issues/16048 might be a proximate cause of this issue as well.

[2021-06-04 22:10] cmeisinger commented on #16125
Just verified that this works with the latest wheel, although it breaks elsewhere now. :)
Marking closed, TY!

[2021-06-04 22:10] #16125 closed

[2021-06-04 23:50] javi-redondo opened #16262 "File mounts not syncing with Docker unless it's a folder"
### What is the problem?

Python 3.8/Ray 1.3

When I configure `file_mounts` to sync individual files, e.g., a couple of code files, they appear to be updating after I run `ray up` but then the files are not actually updated.

### Reproduction (REQUIRED)

[code]

[2021-06-05 00:01] architkulkarni opened #16263 "[Core] [runtime env] Ray hangs if ray[serve], ray[tune], etc. are provided as dependencies"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.4.0.rc1, Python 3.6, Mac OS.  Also reproduced on Linux
### Reproduction (REQUIRED)
[code]

This hangs forever.

Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependen

[2021-06-05 00:32] architkulkarni commented on #16263
Actually, upon further investigation, the cause of the hang is unrelated:
Running `pip install -r requirements.txt` with the following `requirements.txt`:
[code]
results in an infinite loop:
[code]

[2021-06-05 00:35] edoakes commented on #16094
Thanks @simjay will try to look this weekend.

[2021-06-05 00:37] architkulkarni commented on #16263
But the following `requirements.txt` file works just fine...
[code]

[2021-06-05 03:00] #16263 closed

[2021-06-05 06:21] Glaucus-2G commented on #14535
Can you tell me how to set RAY_ALLOW_SLOW_STORAGE =1 in py files? I have searched some issues but I still don't  know how to use this information.

[2021-06-05 06:29] ijrsvt commented on #14535
@Glaucus-2G You could do something like:
[code]

[2021-06-05 08:21] valiantljk commented on #7964
seems related to https://github.com/ray-project/ray/issues/16182

[2021-06-05 16:29] #15342 closed

[2021-06-05 19:42] demitri commented on #13938
Bump.

[2021-06-06 03:23] rfali commented on #15350
@zzchuman not an expert on this, but have you looked at this example (https://github.com/ray-project/ray/blob/master/rllib/examples/deterministic_training.py) and see if it gives deterministic results for you?

[2021-06-06 03:30] Glaucus-2G commented on #14535
Thank you for your help!

[2021-06-06 03:31] Glaucus-2G commented on #14535
@ijrsvt Thank you for your help!

[2021-06-06 06:06] AmeerHajAli opened #16277 "[runtime env] using wrong ray version in pip packages breaks runtime envs forever"
if you do something like this:
[code]
but the server has for example `ray==1.4.0rc2`, it will break. which is the correct behavior. BUT, the worker that failed to launch continues to relaunch indefinitely. So even if you rerun the code with a completely new code or remove the faulty line, the worker continuously prints:
[code]

### What is the problem?

*Ray version and other system information (P

[2021-06-06 06:06] AmeerHajAli commented on #16277
cc @edoakes.
I do not think we need to fix this for 1.4. It seems like less critical.

[2021-06-06 09:18] kouhinn commented on #15960
+1 Same problem on  Xeon E7

[2021-06-06 15:04] AmeerHajAli opened #16279 "consecutive ray ups for local node provider fails with docker config"
`ray up bla.yaml`
then
`ray up bla.yaml`

then run `ray status`

[code]

### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., us

[2021-06-06 15:48] DmitriGekhtman commented on #16279
needs more reproduction details

[2021-06-06 15:49] DmitriGekhtman commented on #16279
cluster yaml etc

[2021-06-06 15:49] AmeerHajAli commented on #16279
my yaml file:
[code]

[2021-06-06 15:56] DmitriGekhtman commented on #16279
you need to pip uninstall to override the docker image's version of ray

[2021-06-06 16:04] AmeerHajAli commented on #16279
pip install works correctly what do you mean

[2021-06-06 16:28] DmitriGekhtman commented on #16279
Potential solution to avoid rsync is to add provider.create_node(head_ip) behind an if block in autoscaler.update

[2021-06-07 05:57] DmitriGekhtman commented on #16279
Won't be around consistently to respond to review comments, but try out this branch to see if it works better https://github.com/ray-project/ray/pull/16281

[2021-06-07 08:50] TannedCung commented on #15960
Hi @kouhinn, in which scenario does this happen to you?? I'm trying to reproduce this issue with a short script but having no clue.

[2021-06-07 10:48] sietseromijn opened #16284 "[Tune] Syncing to self-hosted S3 storage fails when checkpointing"
### What is the problem?
Syncing to a self-hosted S3 storage fails when checkpoint_freq >= 1 is set in tune.run.
Because the S3 storage is self-hosted, the --endpoint-url flag needs to be set in the AWS CLI or it can't be found.
This can't be circumvented by configuring the AWS CLI as far as I know [https://github.com/aws/aws-cli/issues/1270](url).

So to run the aws sync command with a custom end

[2021-06-07 12:56] kfstorm commented on #15770
@rkooo567 Have you tried more partitions with a smaller partition size? e.g. 10000 partitions * 9GB partition size

[2021-06-07 13:09] bavaria95 commented on #16009
Hi! I'm having a similar problem. Trying to have a setup of two docker containers (in the same network):
- (1) is a ray server (started with `ray start --head --block`)
- (2) just vanilla container from which I'm trying to connect

Then, I'm entering container (2), starting python REPL and running:

[code]

Which writes one line:
`2021-06-07 05:07:01,783	INFO worker.py:726 -- Connecting to existin

[2021-06-07 13:28] Glaucus-2G opened #16285 "[rllib] How to output parameters of model?"
I have use PPO algorithm in my custom environment, the action_space and obs_space is like：
[code]
After hundreds of iterations，the action output for model is NAN.  I have also checked some ways  metioned in [#8135](https://github.com/ray-project/ray/issues/8135) and
[#7923](https://github.com/ray-project/ray/issues/7923), but it seems useless.

Now I want to check the parameters of the network whe

[2021-06-07 13:52] ConeyLiu commented on #16009
Hi @bavaria95, I think the problem comes from the following:
[code]

I think you could  specify the node ip address with the following:
[code]

[code]

[2021-06-07 13:59] bavaria95 commented on #16009
Thanks for the prompt response, @ConeyLiu

Seems that I copy-pasted outputs from different runs (when container IP changed).

Tried starting server with `ray start --head --node-ip-address="192.168.0.3" --block` and connecting as `ray.init(address='192.168.0.3:6379', _redis_password='5241590000000000')` - but still nothing (just writes `Aborted` and exits the process, after debug line `2021-06-07

[2021-06-07 14:30] ConeyLiu commented on #16009
I note that the (2) is not added into (1) cluster. So you have two choices:
1. add (2) to (1) cluster with `ray start ...`, then you could connect the (1) with `ray.init(...)`
2.  Use ray client to connected to the cluster (1).

[2021-06-07 15:50] RedTachyon opened #16287 "[rllib] Recording doesn't work with MultiAgentEnv"
### What is the problem?

It seems that the rendering and recording procedure as laid out here [here](https://github.com/ray-project/ray/blob/master/rllib/examples/env_rendering_and_recording.py) doesn't work when the environment is a MultiAgentEnv. I tried with a custom environment, and then made a simple version based on the example, and the mp4's simply don't appear. It works normally when the

[2021-06-07 15:56] edoakes opened #16289 "`serve start` fails due to namespace issue"
Reported here:
https://discuss.ray.io/t/serve-start-from-command-line-fails/2425

Repro:
[code]

[2021-06-07 18:47] rkooo567 commented on #15770
@kfstorm We haven't. 10000 partitions will generate 100 million ray objects, so it'd be a pretty good stress testing workload. But we don't currently have a plan to have this much of stress test. (So please feel free to do so!)

[2021-06-07 19:49] robertreaney opened #16293 "ray.init() ResponseErorr: WRONGPASS"
I am just coming back to some old ray[tune] code to set up some tuning logic. I am failing at my ray.init() method call. Python 3.8.8 installed by anaconda with vsCode as my ide on a remote desktop connection.

[code]

[2021-06-07 21:12] architkulkarni opened #16294 "[runtime env] actor and task runtime env should merge with job_config's runtime env"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
We should also pass the working_dir field to the actors and tasks.
### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake

[2021-06-07 21:14] architkulkarni opened #16295 "[runtime env] runtime_env["env_vars"] should be merged with that of parent"
### What is the problem?
Currently the runtime_env dict is updated via a simple dict update.  This makes sense in many cases, but for the case of env_vars, it means runtime_env["env_vars"] overrides that of the parent, which is not the expected behavior of environment variables for a child actor/task.
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reprodu

[2021-06-07 21:14] iycheng opened #16296 "s3 code path e2e testing for runtime env"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-06-07 21:16] architkulkarni opened #16297 "[runtime env] Investigate function broadcasting issue"
### Describe your feature request
https://github.com/ray-project/ray/pull/16223 hides an error, but we should have a better long-term fix.
For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-07 21:17] iycheng opened #16298 "Build anyscale cli package to test caching code path."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-06-07 21:17] architkulkarni opened #16299 "[runtime env] Add logging to driver during runtime env installation"
### Describe your feature request
We don't need to do this per-actor and per-task, but we should have it for the client server manager.
For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-07 21:22] iycheng opened #16300 "Client server manager doesn't take care of connection disconnect during conda installation"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-06-07 21:59] soundway commented on #16136
It seems that 1.4 has just been released and this remains a problem for us.

I wonder if you have managed to reproduce this issue independently or need any help with the reproduction. Currently, this makes a few of our applications crash almost immediately rendering 1.3 and 1.4 un-usable, and we are a bit surprised that there aren't other similar reports. It'd be good for us to know if it's potent

[2021-06-07 22:03] wuisawesome commented on #16221
I'm not sure if this is actually helpful, but I can repro this issue on the scalability envelope too (using the default policy)

[2021-06-07 22:28] rkooo567 commented on #16136
I haven’t started investigating it yet. I will start it in a few days. The fix will be included in the next version. I will lyk if I have trouble to repro

[2021-06-07 22:58] mvindiola1 commented on #16285
Hi @Glaucus-2G,

Have your tried `trainer.get_weights()`?  That should return a dictionary with layer names and weight values.

[2021-06-07 23:00] #16181 closed

[2021-06-07 23:01] #16224 closed

[2021-06-07 23:03] ericl commented on #16039
Closing since it's almost certainly a duplicate.

[2021-06-07 23:03] #16039 closed

[2021-06-07 23:07] ericl commented on #16237
I'm going to roll this issue into the other more general one here: https://github.com/ray-project/ray/issues/16221

[2021-06-07 23:07] #16237 closed

[2021-06-07 23:07] ericl commented on #16221
Note that https://github.com/ray-project/ray/issues/16237 has a potentially simpler repro that may be worth digging into first.

[2021-06-08 00:54] wuisawesome opened #16302 "Auto report available memory on a node"
### Describe your feature request

Currently `ray.available_resources()["memory"] == ray.cluster_resources()["memory"]` if the user does not manually set the memory resource in the tasks/actors.

This is misleading, and we should consider taking the same approach as object store memory, and schedule based on it.

Note: we need to figure out the right semantics here first. One possibility is the su

[2021-06-08 00:57] Glaucus-2G commented on #16285
@mvindiola1  Thank you very much for your help! It works.

I have tried all the methods shown in the picture and `trainer.get_weights()` is not one of them. Maybe I should update my Ray version  to have a corresponding prompt.
![image](https://user-images.githubusercontent.com/28855796/121105518-d73fbd80-c836-11eb-9820-abb01b5d5a29.png)

Thank you again for your help！

[2021-06-08 00:57] #16285 closed

[2021-06-08 00:57] Glaucus-2G commented on #16285
@mvindiola1  Thank you very much for your help! It works.

I have tried all the methods shown in the picture and `trainer.get_weights()` is not one of them. Maybe I should update my Ray version  to have a corresponding prompt.
![image](https://user-images.githubusercontent.com/28855796/121105518-d73fbd80-c836-11eb-9820-abb01b5d5a29.png)

Thank you again for your help！

[2021-06-08 01:03] mvindiola1 commented on #16285
No problem happy to help. If you have more questions in the future, the anyscale team prefers if questions like this are asked at https://discuss.ray.io/

[2021-06-08 03:02] suquark opened #16304 "Fix deserialization concurrency issues systematically"
### What is the problem?

During deserialization, we could access python objects that are not fully imported. For example #7879.

#4718 #16278 address it temporarily by using a lock. This might not be the final solution, because it would block other deserialization requests and might hurt the performance.

The fundamental solution would be removing importing threads, this eliminates concurrency. I

[2021-06-08 03:46] ericl commented on #16304
Thanks for looking into this!

[2021-06-08 04:14] oroojlooy opened #16305 "Reporting entropy and gradient-norm and checkpointing in rllib algorithms"
I have two feature requests:

1- For the gradient based algorithms it is important to monitor the value of the entropy and the norm of the gradient of the network. This could help to quickly find a better set of hyper-parameters.
In the current implementation, I could not find any API to get those values. Would you mind add them in the report of the `Trainer` functions (like `PPOTrainer`, `SACTrai

[2021-06-08 06:42] simon-mo commented on #15872
To reproduce it, simply run the hello world app from documentation. The cause was that we injected our logger into uvicorn's logger
https://github.com/ray-project/ray/blob/c2a2a6f7c33370b94db42d7926d0652edf961e78/python/ray/serve/api.py#L1059-L1064

But uvicorn print these information using INFO log level https://github.com/encode/uvicorn/blob/87da6cf4082cd28306bdb78d7d42552d131cc179/uvicorn/lifes

[2021-06-08 07:04] kfstorm commented on #13594
The issue is still valid.

[2021-06-08 07:34] hahazhky opened #16308 "why shm_avail should be greater than object_store_memory"
[code]
why shm_avail need to be greater than object_store_memory, if I did not set object_store_memory, it is automatically set based on avaiable system memory, then they are equal. At this time, if I meet elif condition, it will raise an ERROR, I think it's not reasonable. When shm_avail is equal to object_store_memory, /dev/shm still works I think.

[2021-06-08 07:46] ddworak94 commented on #16014
Hello,

Its been 2 weeks since original post and i was wondering if i can get an update?
Our goal is to include such agent (SAC with RNN support) to official repo in order to maintain support for future changes.
Do you think it is okey to be merge or some additional work needs to be done (I can help with that also).

[2021-06-08 08:32] krfricke commented on #16013
Ah sorry, I've been away last week. I just bumped this up on my todo list, sorry for the delay

[2021-06-08 09:39] jovany-wang commented on #13751
#14444 fixed this issue.

[2021-06-08 09:39] #13751 closed

[2021-06-08 11:08] bavaria95 commented on #16009
Tried approach a):
in the container (1) started ray head:
[code]

in container (2) connected to ray:
[code]

Inside the Ray dashboards now I can see both containers as available Nodes

Then trying to do `ray.init('172.23.0.2:6379', _redis_password='5241590000000000')` inside (2) gets:
[code]

which makes sense, since we don't have Redis in the container (2). And then trying with autodiscovery:
`ra

[2021-06-08 11:21] bavaria95 commented on #16009
Although tried using Ray Client. Connecting seemed to work well. Now will be testing if Ray serve would work well in this combination. Many thanks!

[2021-06-08 15:56] SongGuyang commented on #13984
I need to do this.

[2021-06-08 16:05] ugurkanates commented on #8158
There should be big warning for PPO on algorithms page because as it currently stands out it does not simply work.

[2021-06-08 16:45] ericl commented on #8158
I believe you should be using the .save()/.restore() APIs explicitly: https://docs.ray.io/en/master/rllib-training.html#basic-python-api

[2021-06-08 16:47] ericl commented on #16308
Do you mean we should change it to ">="?

There's also this current bug https://github.com/ray-project/ray/issues/14182 which means if you set them close, you are very likely to run into SIGBUS errors due to the way dlmalloc is working. The fix for that is in progress but it requires pretty substantial changes to Ray's memory allocation strategy.

[2021-06-08 17:01] amogkam opened #16313 "[Client] Ray Client Documentation"
As discussed with @ijrsvt, making this issue to track Ray Client documentation improvements.

A few points that I think would help the docs:

- What is Ray Client?
- Why do I need it? When would I use it vs. ray.init?
- Step-by-step guide on how to set it up (Starting the cluster, how to do port forwarding)
- How do I configure Ray Client? How should all the args that I pass into ray.init be passe

[2021-06-08 17:34] #16298 closed

[2021-06-08 17:34] #16296 closed

[2021-06-08 17:43] ericl commented on #16136
Possibly related to https://discuss.ray.io/t/ray-actor-ram-usage-keep-growing/2450/3

[2021-06-08 18:01] JSchapke commented on #15297
I've also been having the same error.
As far as I see, the error seems to occur when the length of the environment's episode is smaller than the 'rollout_fragment_length' parameter of algorithms such as PPO. It seems that whenever this occurs it's possible that a new episode starts with the same episode_id (here, I refer to the 'episode_id' attribute of the Episode object which gets passed to the

[2021-06-08 19:27] #16279 closed

[2021-06-08 21:09] architkulkarni opened #16316 "[runtime env] Decouple runtime env from JobConfig"
### Describe your feature request
`ray.init(job_config=ray.job_config.JobConfig(runtime_env=runtime_env))` is a bad user experience.  This API should be simplified.
For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-08 21:11] architkulkarni opened #16317 "[runtime env] Add complex e2e tests for runtime_env"
### Describe your feature request
These should include various combinations of fields such as "working_dir", "pip" and "conda".  These should also include Ray Client tests that involve connecting and reconnecting with different runtime envs.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-08 21:32] cread commented on #11287
Any progress on this? I was hoping that with the release of Ray 1.4.0 (congrats 🎉 ) this would all be sorted out, but sadly that's not the case.

[2021-06-08 21:48] edoakes opened #16318 "[runtime env] Make Serve fully support runtime_env"
Right now all actors inherit the env of the initial job

[2021-06-08 21:49] edoakes commented on #16318
@iycheng we need some API for getting the underlying URIs for the working_dir

[2021-06-08 21:53] iycheng commented on #16318
https://github.com/anyscale/product/blob/master/backend/server/app_v2.py#L133-L135
https://github.com/anyscale/product/blob/master/start.py#L294-L296

[2021-06-08 21:59] iycheng commented on #16318
Or you can try this one:
[code]

[2021-06-09 00:38] scv119 opened #16321 "Fix unexpected signed to unsigned integer conversions"
In Ray core, we sometimes unintentionally convert negative integer to unsigned integer and leads to unexpected behavior.

Following is a concrete example:
- in the OBOD Reference, [the object_size type is int64_t and default to -1](https://github.com/ray-project/ray/blob/608991999c4005f04790880ea575187addd1eafb/src/ray/core_worker/reference_count.h#L532);
- However in GetObjectLocationOwnerReply,

[2021-06-09 01:11] #12488 closed

[2021-06-09 01:54] clarkzinzow opened #16322 "[Core] Concurrent actor starting too many threads fix causing lost objects"
### What is the problem?

The #14927 fix is currently causing lost objects in a shuffling data loader workload, confirmed via git bisecting and testing a wheel with the corresponding commit reverted. Still need to determine the underlying issue. A few half-baked possibilities:

1. The introduction of the bug that the aforementioned PR was fixing was made in [this PR](https://github.com/ray-project

[2021-06-09 01:57] kira-lin opened #16324 "[tracing] SimpleSpanProcessor not found"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: 1.4.0, Python: 3.8.8. OpenTelemetry: 1.0.0rc1
### Reproduction (REQUIRED)
[code]
`SimpleSpanProcessor` cannot be imported. The [doc](https://docs.ray.io/en/master/ray-tracing.html) shows it should be `SimpleExportSpanProcessor`, probably a typo.

[2021-06-09 02:15] kira-lin commented on #16324
We should install opentelemetry 1.0.0 instead of 1.0.0rc1

[2021-06-09 02:45] jovany-wang commented on #16322
This PR #14927 aims to fix starting too many threads for concurrent calls, and it doesn't care about the number of fibers I guess.
how about enabling that every caller holds a fiber instead of reverting #14927 ?

[2021-06-09 02:52] #13851 closed

[2021-06-09 03:07] hahazhky commented on #16308
@ericl Yes, I think >= is more reasonable，I set object_store_memory in ray.init for now to avoid this ValueError

[2021-06-09 05:11] #15940 closed

[2021-06-09 05:14] kfstorm commented on #13984
@SongGuyang #16190

[2021-06-09 05:51] ericl commented on #16318
Is this more of a new feature than stability fix?

[2021-06-09 06:21] fyrestone opened #16328 "[Dashboard] The dashboard may be hang when the GCS is exit"
### What is the problem?

The dashboard hangs when exit.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: latest master 1c94906efca25ca6cbc8f0eceee0bf50e12a838b
Python: 3.8.2
OS: MacOSX

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should

[2021-06-09 07:15] rkooo567 commented on #16322
@ericl I think the fix needs to be picked for 1.4.1? Thought?

[2021-06-09 07:32] ericl commented on #16322
Yea tag it for 1.4.1

[2021-06-09 07:42] chenk008 opened #16333 "[Core] Add container option in RuntimeEnv protobuf"
### Describe your feature request

Currently runtime_env has been serialized to json format in python code, and in cpp code we can't use runtime_env field. I think this is the related PR: https://github.com/ray-project/ray/pull/15658

When starting worker process in container, we want to add field to specify container options (e.g. image,run_options). How about add `container option` field in runt

[2021-06-09 08:55] krfricke commented on #15504
Sorry for letting this rest for a while.

My take on this is that it should be safe to merge #15811 as it might help performance in some cases. It's hard for me to investigate this further without a reproducible example on my end. I'm happy to investigate more, but would need to rely on your tracing here to make this happen. What do you think?

[2021-06-09 09:02] xiboli commented on #8623
check the file under flow/flow/envs/merge.py or some others.

[2021-06-09 10:15] max0x7ba commented on #15504
I have been using the code with that patch all this time, no issues observed.

IMO, a separate PR with a good reproduction is needed to improve on the list of trials.

[2021-06-09 13:12] carlos-vl opened #16338 "Problem deploying with pyinstaller on windows"
I am trying to deploy my software using pyinstaller to generate an .exe for windows users. The deployment seems to work well, but after calling `ray.init()` the application hangs up, and the `ray.init()` command never finishes, and there is no output or error.
Anyone has succesfully used ray in an application deployed with pyinstaller and could give some input?

[2021-06-09 13:57] chenk008 commented on #16333
@iycheng @ericl Please take a look.

[2021-06-09 14:13] Dee718 opened #16339 "Autoscaler failed error"
Hey,

I am running ray on a HPC system where I keep getting a warning message about the autoscaler failing. The program still runs fine however this error message keeps popping up and I don't know if its having an impact on the performance in any way.

Here is the error message:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray version: `1.4.0` (insta

[2021-06-09 15:39] clarkzinzow commented on #16322
@jovany-wang we don't yet know if the bug is due to sharing a fiber thread among all callers, I was only calling that out as a possibility. And if that ends up being the bug, we should fix it so sharing a single fiber thread works instead of changing it to have a fiber thread per caller, since we'd definitely rather have a single shared fiber thread.

Here's my current plan: I'm going to timebox a

[2021-06-09 16:20] ericl commented on #16333
Can we serialize runtime env in protobuf instead? This should not be a separate field, it can be an attribute of runtime env.

[2021-06-09 16:50] cread commented on #6968
I'm not able to reproduce this problem using ray 1.4.0 (with the kwargs for `init` updated to match their node names).

Does that mean it's been fixed somewhere?

[2021-06-09 17:03] lucaguarro opened #16340 "How to tune hyperparameters such as layer count/sizes of inner layers/dropout probabilities with Huggingface Transformers"
The [Huggingface Documentation](https://huggingface.co/transformers/main_classes/trainer.html) makes mention that I can tune parameters like layer count, sizes of inner layers, dropout probabilities of a transformers model with a Ray Tune trial object by passing it to the user-defined model_init function.

How exactly would the implementation look for this? Perhaps using [this example](https://doc

[2021-06-09 20:02] waleedkadous opened #16342 "[Core] Intermittent SIGSEGV reported for Plasma in Ray Core (NOTE: should add to nightly tests once resolved)"
*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray version: 1.4.0
Anyscale version: 0.4.1
MacOS version: 11.4
Python version:3.7.9

When I run the code here: https://github.com/waleedkadous/ray-decision-tree/blob/load-data-in-cluster/cart_with_tree.py

20 times, it succeeds 17 times out of 20. 3 times out of 20, with a SIGSEGV in Plasma:

[code]

### Reproduc

[2021-06-09 20:08] AmeerHajAli commented on #16342
@wuisawesome @ijrsvt , can you help triage this?

[2021-06-09 20:30] ericl commented on #16342
I'm trying to repro this right now.

[2021-06-09 20:35] architkulkarni opened #16343 "[runtime env] All code samples in docs should be tested in CI"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-09 21:16] ericl commented on #16342
I believe this is another manifestation of the following issue we encountered during large-scale shuffle, which is prioritized for next sprint: https://github.com/ray-project/ray/issues/14182

When under load, plasma memory usage can grow beyond the available space in /dev/shm, leading to SIGBUS / ABRT / other errors.

I'm able to reproduce this; will try again once we have the fix for #14182 read

[2021-06-09 21:17] AmeerHajAli commented on #15009
Eric also suggested: "meter the outbound message sizes, and log a warning if it exceeds something like 10MB, or >1000 tasks"

[2021-06-10 00:31] falsemail opened #16348 ""normalize_actions": True"
Your issue content here.

[2021-06-10 00:31] #16348 closed

[2021-06-10 03:14] chenk008 commented on #16333
@ericl  Does you add  an attribute in RuntimeEnv like the following
[code]

[2021-06-10 03:22] ericl commented on #16333
Yes, something like that would work.

On Wed, Jun 9, 2021, 8:15 PM chenk008 ***@***.***> wrote:

[2021-06-10 06:07] kira-lin commented on #12834
Hi, I'm very interested in this feature. @chaokunyang Are you still working on this? Particularly, what I need is the ability for python to call java actor/functions, but meanwhile python can still call its functions defined outside the code search path. This is a common use case for python, such as in a REPL like Jupyter notebook.

I feel like specifying a java code search path does not necessari

[2021-06-10 08:42] dominicshanshan commented on #12413
I tried start 4 MIG in one docker, then start raylet, nvidia-smi can identify 4MIG, but ray can only run one MIG

[2021-06-10 09:12] raulchen commented on #12834
@kira-lin @chaokunyang  we can work around this by only allowing dynamically changing functions that were initially loaded from the GCS. If a function was initially loaded from local disk, it can not be dynamically changed.

@rkooo567 does this sound good to you?

I can find someone to work on this.

[2021-06-10 14:01] crclark commented on #12059
The PR above did not fix the issue. It can still be reproduced with

[code]

on macOS

[2021-06-10 14:49] max0x7ba opened #16356 "[tune] TrainableUtil.get_checkpoints_paths fails to glob .tune_metadata file"
### What is the problem?

`TrainableUtil.get_checkpoints_paths` fails to spot `.tune_metadata` file in the trial directory with the following error message:

[code]

At the same time:
[code]

Which shows that there is one and only `.tune_metadata` file.

*Ray version and other system information (Python version, TensorFlow version, OS):*
python-3.8.10
ray-1.3.0

### Additional information
`trainab

[2021-06-10 15:59] max0x7ba commented on #16356
Reported https://bugs.python.org/issue44380

Still, though, is that glob necessary?

[2021-06-10 16:09] ckw017 opened #16357 "[test][MLDataset] Fix test_from_modin"
### Describe your feature request

[This test](https://github.com/ray-project/ray/blob/4d3956b/python/ray/tests/test_mldataset.py#L125-L136) is currently broken on all platforms, in particular `ds.gather_sync().sort_index()` doesn't work because gather_sync() returns a LocalIterator. The likely intended check to be done here is to get the original Dataframe out of the local iterator, and then sort

[2021-06-10 17:16] rkooo567 commented on #16044
(will be closed after the third PR)

[2021-06-10 21:14] #13670 closed

[2021-06-10 21:14] #13654 closed

[2021-06-10 21:15] #13676 closed

[2021-06-10 22:07] architkulkarni opened #16363 "[Serve] [Ray Client] Serve + client broken after cluster restart"
### What is the problem?
The following situation may seem unnatural, but it happens when trying to run multiple isolated Serve+client tests one after another, with cluster restarts in between.

[code]

This produces the following traceback:
[code]

The same problem occurs with either or both instances of `serve.start()` replaced with `serve.start(detached=True)`.
*Ray version and other system info

[2021-06-10 23:39] scv119 commented on #16044
^

[2021-06-10 23:39] nasrin136 commented on #5444
Hi.
I am having this issue with python=3.9.5, on MacOS 11.3.1. I get:
Pip subprocess error: ERROR: Could not find a version that satisfies the requirement ray[all]>=1.2 (from versions: none) ERROR: No matching distribution found for ray[all]>=1.2
my environment.yml
channels:
  - defaults
dependencies:
  - pandas=1.2.4
  - pip=21.1.1
  - plotly=4.14.3
  - python=3.9.5

  - pip:
    - numpy==1.19.5

[2021-06-11 02:07] suuyawu commented on #12481
I met the same issue when I remotely use the HPC from my lab.

[2021-06-11 02:59] yinlinzhan opened #16369 "[actor_pool] Using Actorpool.map_unordered in Deap causes A worker died or was killed while executing task"
It's mentioned in worker. get that this method will issue a warning if it's running inside async context. The problem I encounter is likely to be caused by this reason. Any help would be appreciated.

[2021-06-11 03:01] richardliaw commented on #16369
@yinlinzhan Can you provide a simple repro script?

[2021-06-11 04:02] yinlinzhan commented on #16369
[code]

Here is the error message:
[code]

[2021-06-11 07:23] #13716 closed

[2021-06-11 09:31] Mhaalk opened #16374 "[ubuntu 20.04 - Pi arm64] Cannot launch ray in CLI, ray: not found"
### What is the problem?

after install, bash cannot launch ray

I tried without result:
reboot
removing and installing ray once more
`$ which ray` does not return anything

### Reproduction (REQUIRED):

Machine: RaspberryPi 4B, 8Go
OS: Ubuntu server 20.04.2 LTS, all up-to-date
Python 3.8, cython, and modin installed
ray 2.3.1-7build1 via pat-get install (not working with pip, return no satisfying

[2021-06-11 10:10] zuston commented on #16216
Close it. It can be gotten by `ray._private.services.get_node_ip_address()`

[2021-06-11 10:10] #16216 closed

[2021-06-11 10:55] rlan opened #16375 "[tune][rllib] Experiment results are missing from progress.csv but is in result.json"
### What is the problem?

After running tune.run, the experiment results are missing from progress.csv but are in result.json.
A possible solution is written by mannyv: https://discuss.ray.io/t/saving-checkpoints-with-good-custom-metric-using-tune-run/2109/12

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray version 1.2.0.
Tensorflow 1.15.4.
Python 3.7.8.
m

[2021-06-11 13:31] #15593 closed

[2021-06-11 14:30] suuyawu commented on #13910
Any update?

[2021-06-11 16:18] radix0000 opened #16380 "get_actor fails from separate process in version 1.4.0 (works in 1.3.0)"
### Update

Seems that this is related to new namespace feature (adding namespace="" to all ray.init calls fixes problem), so disregard bug report below. This is now a "couldn't you have made a slightly bigger deal out change that breaks existing code in docs etc." issue.

### Previous report

*Ray version (fails):* 1.4.0 (working in 1.3.0)
*Python version:* 3.8.10

### Description

Acquiring a re

[2021-06-11 16:59] rkooo567 commented on #16380
cc @wuisawesome

[2021-06-11 17:43] rkooo567 opened #16381 "Subscriber.cc thread-safe vs non-thread safe"
### Describe your feature request

Related: https://github.com/ray-project/ray/pull/16334

Subscriber.cc is developed as a thread-safe module, and it has unlock -> lock again region in the codebase to call callbacks (since the callback can use subscriber API which can deadlock). @iycheng had another suggestion to just make the module non-thread safe and require callers to use the API always on the

[2021-06-11 17:53] iycheng commented on #16381
I'll make it a P1

[2021-06-11 18:00] iycheng commented on #16381
I think it's not about thread-safe or non-thread safe with a lock, but it's about:

[code]

vs

[code]

[2021-06-11 18:03] rkooo567 commented on #16381
Yeah I agree, but we should focus on the end behavior here (since choosing io service will have a consequence of non-thread safe behavior). If your concern is purely about that it is hard to understand where to lock again, is it okay to use re-entarant lock?

[2021-06-11 18:15] #16381 closed

[2021-06-11 18:16] rkooo567 commented on #16381
Will just use io service to execute callbacks

[2021-06-11 20:19] leonnardo opened #16383 "ray stack command doesn't work"
Ray version: 1.4.0
MacOS version: 11.4
Python version: 3.7.10
py-spy version: 0.3.7

When I run `ray stack` it shows this error:
[code]
Removing the `--native` arg from the command [here](https://github.com/ray-project/ray/blob/3fa9f2e5d628c271c06b3fd9636ce0c952f64b42/python/ray/scripts/scripts.py#L1337) worked fine for me.

I can fork and make the merge request if you want.

[2021-06-11 20:21] richardliaw commented on #16356
@max0x7ba Thanks for reporting this issue!

I like the fix that is suggested. Do you mind opening a draft PR? I can help get it merged.

[2021-06-11 20:22] richardliaw commented on #16383
@leonnardo `--native` isn't working on macos.

A merge request would be very much appreciated! Can you just check `sys.platform == 'darwin'` and remove the --native arg if so?

[2021-06-11 20:24] wuisawesome commented on #16383
Looks like native is only really supported on linux, so we might want the check to be `sys.platform != linux` instead.

[2021-06-11 20:25] leonnardo commented on #16383
Yeah, sure!

Do you have any unit tests for this or should I not worry about this?

[2021-06-11 20:27] wuisawesome commented on #16383
You may need to modify `python/ray/tests/test_advanced_3.py::test_ray_stack`

[2021-06-11 20:36] max0x7ba commented on #16356
Will do.

[2021-06-11 22:57] #16044 closed

[2021-06-11 23:55] richardliaw opened #16388 "[xgb] Cache HIGGS for CI"
We should vendor this dataset to a S3 bucket. Here's an example of how we do this for MNIST dataset: https://github.com/ray-project/ray/commit/f4b2dd94b2f1a28547ac91b4e69d11b2fabf332e

[2021-06-12 00:09] simon-mo opened #16389 "[serve] allow controller to manage java backends"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-12 00:10] simon-mo opened #16390 "[serve] create protobuf definition for cross language calls"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-12 00:10] simon-mo opened #16391 "[serve] java http proxy"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-12 00:10] simon-mo opened #16392 "[serve] java serve handle"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-12 00:10] simon-mo opened #16393 "[serve] java api"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-12 01:27] rfali commented on #16287
I am facing a similar issue I believe and have opened this issue [here](https://github.com/ray-project/ray/issues/16200)

[2021-06-12 11:19] austinnichols101 commented on #14005
This seemingly small change would make a *huge difference* in my workflow.

The PyCharm debugger is outstanding, but unfortunately useless with Ray actor code.  I can debug everything except for the actors which is a huge pain.

[2021-06-12 12:10] yinlinzhan commented on #16369
@richardliaw Is there any code in ray that can implement the function of p. join()
[code]

[2021-06-12 20:51] #13787 closed

[2021-06-12 20:51] #13791 closed

[2021-06-12 20:51] #13796 closed

[2021-06-13 03:24] amogkam commented on #15439
If you disable the memory tracker (pass in `skip_memory_metrics=True` into your `TrainingArguments`) then you will no longer get the pickling error.

In the next transformers release, `skip_memory_metrics` will default to True, and even if it is explicitly set to False, it will automatically be disabled if you are using Ray Tune for HPO.

[2021-06-13 03:24] #15439 closed

[2021-06-13 05:29] email2liyang commented on #8003
I can reproduce this in Python 3.8.6   and ray 1.4.0 with simple code like below
[code]

log below
[code]

[2021-06-13 12:27] #13521 closed

[2021-06-13 12:27] #13593 closed

[2021-06-13 12:27] #13773 closed

[2021-06-13 19:52] OrEisenberg opened #16399 "[client] Mishandling of `argparse` functionality in `ray.util.client.server` leads to inability to specify redis address for `ray` server."
`ray` version: 1.4.0
`python` version: 3.7.7

### Reproduction
Run
[code]
in a setting where
`ray._private.services.find_redis_address()` returns `[address_0, address_1]`.

### Elaboration
As near as I can tell, all the problems with how `try_create_redis_client` behaves in this context seems to stem from the fact that it assumes that a dict with keys identical to the command line args is passed,

[2021-06-13 20:02] devinsaini commented on #15650
I'm getting the same issue with Ray 1.4.0. Running on Ubuntu 20.04 over Windows WSL2. My laptop has GeForce GTX 1650 Ti.
The dashboard shows up momentarily and then disappears. I checked Chrome developer tools and see a Javascript error

[code]

[2021-06-14 06:30] GiovanniGatti commented on #15297
As I wrote before, I suspect that the issue is caused by the birthday paradox.  Using `self.episode_id: int = random.randrange(2e9)` for generating ids is a way too small range. The workaround I implemented (and is working fairly well from 2 months now) was to reduce the number of episodes generated at each training iteration.

If my theory is correct, it also explains the randomness of the error.

[2021-06-14 07:41] stefanbschneider commented on #15297
@GiovanniGatti In my multi-agent scenario with first increasing, then decreasing number of active agents the error is reproducible - so it's not (just) due to random IDs from a too small range. In my case, there seems to be another issue.

[2021-06-14 08:45] clay4444 opened #16403 "[RFC] [Placement Group] Resizing feature API."
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

Hello guys, I want to add the resizing feature for the placement group as we talked about before, This API would like this:

[code]

BTW, you can also replace the `wait(timeout)` API with the `ready()` API if you want.

Also, the related proposal document is here:  [A

[2021-06-14 09:00] RashiqAzhan commented on #15970
Do not know how to do only start one instance (I just ran `ray start --head` once) but I restarted my device and repeated my last attempt. Now I have a different output in the terminal.

[code]

[2021-06-14 10:20] krfricke commented on #15500
Hi @vecorro, sorry for letting this rest so long. Did you make any progress yourself? We recently released Ray 1.4.0, my hopes would be that this might solve some of your issues.

I'm not familiar with the joblib backend and K8s autoscaling, but cc @DmitriGekhtman who might be able to help here.

Regarding the actualy training job, it seems you try to parallelize hyperparameter optimization for si

[2021-06-14 13:17] Patil2099 commented on #16375
I would love to take this up

[2021-06-14 14:04] duburcqa commented on #16136
I don't know if it is related, but I have done some memory analysis because I'm having memory leak issues, and it turns out the issue is coming from [here](https://github.com/ray-project/ray/blob/2a02b97f1ae552debd2071985e23e2da418ed906/python/ray/serialization.py#L156). Here is what I get using `tracemalloc` and ray 1.3.0:
[code]

[2021-06-14 14:53] isaac-vidas commented on #15567
Seems to be working fine after I upgraded to `1.4`.

Closing this for now.

[2021-06-14 14:53] #15567 closed

[2021-06-14 14:53] nirvana-msu commented on #13521
I would say this is still relevant.. At the very least I'd like to hear if there are plans to ever support this.

[2021-06-14 16:34] amogkam opened #16406 "[Dask] dask_shuffle_optimization fails with Client mode"
The `dask_shuffle_optimization` example currently fails with Client mode with the following error:

[code]

The client mode test for this example is currently skipped on CI.

Relevant PR: https://github.com/ray-project/ray/pull/16405

cc @clarkzinzow @rkooo567

[2021-06-14 16:35] richardliaw commented on #14071
Hey @SpencerPao maybe you have to do some port forwarding for Docker to get access to the dashboard?

Can you try running this outside of docker?

[2021-06-14 16:37] edoakes commented on #15648
@simon-mo were you ever able to repro this?

[2021-06-14 16:38] richardliaw commented on #16284
hey @sietseromijn I'll look into this this week. If you have a chance to find out where this bug is occurring, please let me know!

[2021-06-14 16:38] sven1977 commented on #16014
Hey @ddworak94 , sorry for the delay. This looks super cool in general :) Could you PR this?
Don't worry about tf missing, we can add this later.

[2021-06-14 16:40] richardliaw commented on #16230
Hey @maxshaps sorry for the slow reply! @amogkam will be taking a closer look at this this week.

[2021-06-14 16:41] richardliaw commented on #16203
Yeah, Tune will not auto-detect your own local dir for Kubernetes. It will always default to `~/ray_results`.

Can you provide an example for what you mean here?

[2021-06-14 16:43] sven1977 commented on #16065
Hey @pxc , this is probably due to the exploration state not properly saved by RLlib. This is fixed in a currently open PR here:
https://github.com/ray-project/ray/pull/16354

[2021-06-14 16:44] richardliaw commented on #16197
Hey @lucaguarro thanks for reporting this! @krfricke will take a closer look.

[2021-06-14 16:45] richardliaw commented on #15495
Great!

[2021-06-14 16:45] #15495 closed

[2021-06-14 16:48] richardliaw commented on #15879
@rkooo567 do you have an open PR this?

[2021-06-14 16:48] rkooo567 commented on #15879
Oh yeah we do. Let me add a link

[2021-06-14 16:49] richardliaw commented on #15780
cc @fcardoso75 do you have any tips about this?

[2021-06-14 16:51] richardliaw commented on #15862
@abe2122 can you check if this is still happening on 1.4?

[2021-06-14 16:56] richardliaw commented on #14666
@XavierGeerinck can you try the latest master? We recently merged some better support for ray client.

[2021-06-14 16:56] sven1977 commented on #14523
Probably didn't make the branch cut. This is fixed in 1.4 then, which has been released last week.

[2021-06-14 16:56] richardliaw commented on #14666
Also assigning this to serverless team

[2021-06-14 17:12] abe2122 commented on #15862
@richard4912 looks like everything is good now. Thanks!

[2021-06-14 17:12] #15862 closed

[2021-06-14 17:21] crypdick commented on #15648
@edoakes if not, I'm happy to do a pair debugging session. I see this issue even with smoke testing on 10 images.

[2021-06-14 17:47] rkooo567 commented on #16403
@edoakes @simon-mo @krfricke @richardliaw  Please comment on the API!

[2021-06-14 17:49] rkooo567 commented on #15879
https://github.com/ray-project/ray/pull/16049

[2021-06-14 17:51] DmitriGekhtman commented on #16339
You can add the flag `--no-monitor` to the head ray start command to skip running the autoscaler (which it looks like you're not using here.)

Note this flag is hidden (technically not a public API).

That will get rid of the error messages, but we should figure out what's causing these timeouts -- one of my colleagues observed the same error recently.

[2021-06-14 17:57] wuisawesome commented on #15842
If i'm understanding the problem correctly, it seems like the crux of the issue is that

[code]

Will hang on the second `pg.ready()` call.

[2021-06-14 18:20] simon-mo commented on #15648
@crypdick sorry about the delay, can you try to reproduce this with 1.4.0?

[2021-06-14 18:29] DmitriGekhtman opened #16409 "[autoscaler] Handle RPC timeout in monitor"
### What is the problem?

If there's an RPC timeout during the [update_load_metrics](https://github.com/ray-project/ray/blob/31364ed9b471980a20267eac6739aa8c1464fe94/python/ray/autoscaler/_private/monitor.py#L169-L170) step of a monitor update, the monitor will crash with an error message like the one here
https://github.com/ray-project/ray/issues/16339
I've seen more than one person encounter thi

[2021-06-14 18:36] #14182 closed

[2021-06-14 18:37] ericl commented on #15842
@krfricke what's the priority of this? Is it impacting Tune reliability or are there workarounds?

[2021-06-14 18:56] AmeerHajAli commented on #14666
@DmitriGekhtman can you please follow up on this when you are back in office?

[2021-06-14 19:16] crypdick commented on #15648
@simon-mo sure, we're still on 1.3.0

[2021-06-14 19:28] iycheng commented on #16294
There are two things here, 1) for task and actor with different runtime env, we should merge it with base; 2) we shouldn't delete working dir. cc @AmeerHajAli

[2021-06-14 19:29] iycheng opened #16411 "[runtime_env] Don't delete working dir in runtime env."
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-06-14 19:29] iycheng commented on #16294
Issue for 2) https://github.com/ray-project/ray/issues/16411

[2021-06-14 19:42] richardliaw commented on #15681
This is a very old version of Ray Tune; unfortunately it looks like Ray dies in your setup. Consider checking your disk usage to see if there's any disk space?

[2021-06-14 20:12] ericl opened #16413 "Remove various dead code in Ray core (laundry list)"
Remove:
- IsDirectCall logic in core worker and node manager (everything should be direct call now)
- Redis based resource broadcaster in GCS
- confusing fetch_only / mark_worker_blocked args in FetchOrReconstruct: can probably remove

Cleanup:
- some code in dependency_manager.cc seems redundant with PullManager
- unify ObjectDirectory with OwnershipBasedObjectDirectory

[2021-06-14 20:25] #14517 closed

[2021-06-14 20:25] rkooo567 commented on #14517
Duplicate

[2021-06-14 20:25] rkooo567 commented on #16413
Remove task table from GCS; https://github.com/ray-project/ray/issues/15031
Remove dummy object ID: https://github.com/ray-project/ray/issues/15030

[2021-06-14 20:25] #15031 closed

[2021-06-14 20:25] #15030 closed

[2021-06-14 20:35] ericl commented on #16413
Cool, add to list in description?

[2021-06-14 20:46] fcardoso75 commented on #15780
I can reproduce it:

[code]

[2021-06-14 20:48] fcardoso75 commented on #15780
Also:

[code]

[2021-06-14 21:01] richardliaw commented on #15780
Hmm, ok. @PostmanSpat are you using an external redis?

Ray should be handling its own redis server.

[2021-06-14 21:38] DmitriGekhtman commented on #14666
We should make sure this works with ray client (which will be preferred over ray submit in the future). Will look into that.

In the meantime, I'd recommend trying with ray.init as suggested by Eric. Ray Submit copies the script to the head node and executes it there -- that's a reasonable enough way to submit the script from your laptop for remote execution.

[2021-06-14 21:47] DmitriGekhtman commented on #14666
Also you typically shouldn't mix ray.util.connect with ray submit -- ray.util.connect allows you to execute your script locally, with ray tasks and actors sent to the remote cluster.
You can check out the ray/k8s docs for how to set up a ray client connection (this part should work with either cluster launcher or helm/operator.)

[2021-06-14 21:48] DmitriGekhtman commented on #14666
That said, the script should ideally work anyway.

[2021-06-14 21:57] tgaddair opened #16415 "[kubernetes] Decouple Ray Operator from Ray Core release cycle"
Currently, the Ray Operator for k8s has very little overlap with the ray core API, and in the future should have none once the autoscaler is implemented a Pod. Moving the Ray Op to its own release cycle would make it easier to develop both projects without needing to be held up by timelines from the other.

cc @richardliaw @DmitriGekhtman

[2021-06-14 22:17] edoakes commented on #16413
*heart eyes*

[2021-06-15 00:13] DmitriGekhtman commented on #16415
This a reasonable suggestion, but --

We're ramping up for a faster release cycle (target: one minor release per two weeks) so it might not be necessary, in terms of one component significantly blocking the other.

Having decoupled interoperable components is definitely something we think about, e.g. lots of discussion internally around maintaining independence of the autoscaler from the core of R

[2021-06-15 01:02] wuisawesome commented on #16399
cc @ijrsvt

[2021-06-15 01:07] wuisawesome commented on #16413
As long as this is a laundry list, we should include the cleanup in this comment: https://github.com/ray-project/ray/issues/15943#issuecomment-847657365

[2021-06-15 01:58] zzchuman opened #16421 "model default config"
Hello, @sven1977 !
I have read the MODEL_DEFAULTS: ModelConfigDict . I have some questions about the model default config.

1.  In the model config, fc net can be set as : [256,256]. It means 2 hidden FullyConnectedNetwork layers to be used.  Right?
2.  "model":{
            "fcnet_hiddens": [256, 128],
            "fcnet_activation": "tanh",

            "use_lstm": True,
            "max_seq_len

[2021-06-15 02:13] richardliaw commented on #16415
@DmitriGekhtman @AmeerHajAli do you have any insight re: the progress on maintaining independence of the autoscaler from Ray?

[2021-06-15 02:30] ggs27 commented on #14479
I have the same question,and add "System.setProperty("ray.local-mode","true");" before Ray.init(), it solve the question

[2021-06-15 05:51] djakubiec opened #16423 "Manually Managed "local" cluster only starts head node. Worker nodes remain in "uninitialized" state"
### Manually Managed cluster only starts the head node.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.4.0
Python 3.7.7
Followed example from Ray Cluster Quickstart, but using "local" provider configured per instructions for "Manually Managed" local cluster

### Reproduction (REQUIRED)
Copied example script from Ray documentation (with longer sleep time

[2021-06-15 06:11] linpan opened #16424 "[Serve] ray serve __call__"
[code]
ray version 2.0.dev

type(request) == str

[2021-06-15 06:39] floepfl opened #16425 "[rllib][tune] Training stuck in "Pending" status"
Hey everyone,

trying to run Ape-X  with tune.run() on ray 1.3.0 and the status remains "pending". I get the same message indefinitely

== Status ==
Memory usage on this node: 7.5/19.4 GiB
Using FIFO scheduling algorithm.
Resources requested: 0/4 CPUs, 0/0 GPUs, 0.0/8.24 GiB heap, 0.0/4.12 GiB objects
Result logdir: /home/flo/ray_results/APEX
Number of trials: 1/1 (1 PENDING)
+--------------------

[2021-06-15 06:39] #16374 closed

[2021-06-15 07:04] richardliaw commented on #16425
@floepfl can you try Ray==1.4?

[2021-06-15 07:05] sietseromijn commented on #16284
Thanks @richardliaw

I think the problem is that the durable trainer calls get_cloud_sync_client from ray.tune.sync_client,
which then creates the default sync_up and sync_down templates again, without checking the SyncConfig.

[code]

[code]

[2021-06-15 07:08] sven1977 commented on #16425
@floepfl , could you also try lowering your num_workers by 1 or 2?
It's probably because we dedicate a CPU now for the learner (local worker), which we didn't do in <= 1.2 via the placement groups. We also make sure now that each replay buffer shard has its own CPU (also something we didn't make sure of prior to 1.3).
The above may cause the number of CPUs to not be sufficient on your machine and

[2021-06-15 07:11] sven1977 commented on #16425
You can print out the needed resources by doing a:

[code]

[2021-06-15 07:15] sven1977 commented on #16425
The default behavior is this:
[code]

[2021-06-15 07:55] sven1977 commented on #14503
PR: https://github.com/ray-project/ray/pull/16427

[2021-06-15 07:56] sven1977 commented on #14503
Thanks for filing this issue @dHonerkamp and for the detailed description!
The above PR should fix this issue for torch and tf. Your script does go now into your custom distribution, but then throws another error on action out of range. I'm guessing you'd have to tweak the range of your distribution to match the environment?

[2021-06-15 08:07] sven1977 commented on #14503
Closing this issue.

[2021-06-15 08:07] #14503 closed

[2021-06-15 08:09] sven1977 commented on #15752
Closing this issue. Already fixed as per https://github.com/ray-project/ray/pull/15014

[2021-06-15 08:09] #15752 closed

[2021-06-15 08:17] sven1977 commented on #15609
Hey @lucas-spangher , thanks for the question! @mvindiola1 and I have answered it on discuss :)
https://discuss.ray.io/t/rllib-retrieve-and-modify-the-computed-discrete-action-logits-to-ppo-agent/2018

[2021-06-15 08:17] #15609 closed

[2021-06-15 08:19] sven1977 commented on #14361
This is done as of Ray 1.3.

[2021-06-15 08:19] #14361 closed

[2021-06-15 08:30] Dee718 commented on #16339
Thanks, I've added the flag - I'll let you know if I get the error again.

I've also noticed that I am also getting the following error:

[code]

This is despite adding flag `--temp-dir` as shown below:

[code]

Do you know if there is a flag that I am missing that can fix this issue?

[2021-06-15 08:55] floepfl commented on #16425
Thanks for your answers. Indeed, taking into account "replay buffer shards" in the number of CPU's I made available in ray.init resolved the issue

[2021-06-15 09:51] sven1977 commented on #16287
Hey @rfali and @RedTachyon , could you take a look at this PR here and let me know, whether this would fix your issue?
It was a little tricky fixing this. The reason was that RLlib uses the gym Monitor wrapper, which only works on gym.Env objects. MultiAgentEnv is not a gym.Env (even though it almost looks like one), so I had to create a new child wrapper that is able to handle MultiAgentEnv (whic

[2021-06-15 09:52] sven1977 commented on #16200
Hey @rfali, could you take a look at this PR here and let me know, whether this would fix your issue?
It was a little tricky fixing this. The reason was that RLlib uses the gym Monitor wrapper, which only works on gym.Env objects. MultiAgentEnv is not a gym.Env (even though it almost looks like one), so I had to create a new child wrapper that is able to handle MultiAgentEnv (which e.g. returns di

[2021-06-15 10:32] sven1977 commented on #15973
Hey @Bam4d , thanks for raising this. Indeed, RLlib behaves super confusingly here.
Could you check this PR here? https://github.com/ray-project/ray/pull/16429
I think it'll fix this issue and reduce all unnecessary `_validate_config` calls.

I tried the following modified script and it's working (non local mode). I see the YAY printout 4 times here (which is expected):

[code]

[2021-06-15 11:21] hopdino opened #16430 "how run ray in background"
ray serve a request need long time await, how run it in the background. not block in the requests.
sees: https://fastapi.tiangolo.com/tutorial/background-tasks/

[2021-06-15 12:14] RedTachyon commented on #16287
At a glance it seems to be it. The code doesn't seem to work just yet (it is wip after all), but I'll be happy to check the functionality when it's done.

[2021-06-15 14:02] DmitriGekhtman commented on #16415
For autoscaler and Ray versions are interoperable since 1.2.0 -- the relevant protobufs are stable with a clear message not to change.
However, the monitor has some Ray core dependencies.

Main thing we're thinking about in this thread is independence of the k8s operator from the autoscaler (and the rest of ray)

[2021-06-15 15:11] Jhonathan-Pedroso opened #16431 "[ray] - Suggestion: remove from default printing the log within jupyter lab"
I strongly recommend eliminating the default behavior of printing the log within the output. When working with large clusters it is absolutely frustrating when the notebook freeze because of the html being overpopulated by error messages and you can not cancel the job. If I was a user getting started I would definitely never use it again. I would recommend also you collaborate with jupyter lab fol

[2021-06-15 16:02] GTimothee opened #16433 "[serve] How to update num_cpus and num_gpus ?"
Hi,

I am wondering how to update num_cpus and num_gpus for a given endpoint? I saw in the [https://docs.ray.io/en/master/serve/package-ref.html](the API) that there is a ```update_backend_config``` method but not an ```update_endpoint_config```.

Thank you for any answer,

PS: I know that this API is deprecated but it will take me some time to update my code so I am looking for a quick fix in the

[2021-06-15 16:16] djakubiec opened #16434 "[Core] Head node fails startup due to "permission denied" on /tmp/cluster-default.state"
### What is the problem?
Python 3.7.7
Ray 1.4.0

When starting a Local On Premise Cluster (in Manually Managed mode), the head node fails to start due to this permissions problem in the Docker container:

[code]

### Reproduction (REQUIRED)
YAML file used with `ray up`:
[code]

- [X ] I have verified my script runs in a clean environment and reproduces the issue.
- [ X] I have verified the issue a

[2021-06-15 16:16] Yard1 opened #16435 "[SGD] Remove `sgd_gpu` release test"
Due to https://github.com/anyscale/product/issues/4573, ` release/nightly_gpu_tests/sgd_gpu/sgd_gpu_test.py` has been temporarily set to `num_workers=1` (https://github.com/ray-project/ray/pull/16382/) to allow it to pass and test fp16 support. Once the linked issue has been solved, it should be set back to `num_workers=2`.

[2021-06-15 16:16] Yard1 commented on #16435
cc @amogkam

[2021-06-15 16:18] djakubiec commented on #16434
It is possible to work-around this issues by adding the following to the YAML file:

[code]

However, this has the weird/bad side effect of *also* change the ownership of `/tmp/ray_tmp_mount/default/tmp/cluster-default.state` on the host node.  Trying to `ray down` then `ray up` again will fail unless the file ownership is first corrected.

[2021-06-15 16:27] djakubiec commented on #16423
It looks like I inadvertently broke the worker nodes when trying to work-around the bug described in #16434.

Originally I added:
[code]
This fixed the head node but broke the worker nodes.  I changed the work around to:
[code]
Then all nodes started.

The error in the startup was well hidden in the startup logs, so it would be nice to somehow make it more obvious that something failed.  But other

[2021-06-15 16:28] selvaganesang opened #16436 "Unable to get actor handle of global named actor created in java from python in Ray 1.4.0"
Cross language support in Ray 1.4.0

The actor was created in Java and given a global name. Unable to get the handle to this actor via python

Version: Ray 1.4.0

After moving to Ray 1.4.0, the ray.get_actor(<named_actor>) in python is unable to find the named actor created via java. Java actor is created with the following options Ray.actor(<Actor_constructor_with_arguments>).setGlobalName(actorN

[2021-06-15 17:06] richardliaw commented on #16431
Hey @Jhonathan-Pedroso thanks a bunch for this candid feedback.

Perhaps we can disable printing once the flow of output becomes too fast. This would make it so that smaller use cases (local machine + jupyter) would still get some output.

[2021-06-15 17:10] richardliaw commented on #16284
Actually, this seems to be a durable trainable issue. @krfricke could you take a quick look at this?

[2021-06-15 17:15] djakubiec commented on #16434
It looks like the workaround is only needed for Manually Managed mode.  When I switched to Automatically Managed mode (via coordinator_server.py), the workaround is no longer necessary.  In fact, it then causes the head node to fail init because `/tmp/cluster-default.state` is not there when using Automatically Managed mode.

So I think this issue is something peculiar to Manually Managed mode onl

[2021-06-15 17:17] richardliaw commented on #16431
@rkooo567 could you help triage this request?

[2021-06-15 17:30] #12888 closed

[2021-06-15 17:55] DmitriGekhtman commented on #16415
Also, sry above I meant a target of a _patch_ release per two weeks.

[2021-06-15 17:59] cmlakhan commented on #13528
Any update on this issue?  Having the same issue when I try to run ray tune.  Is this a Ray issue or PyTorch issue?

python - 3.8.5
pytorch - 1.8.1
ray - 1.4.0

[2021-06-15 18:18] #15880 closed

[2021-06-15 18:18] richardliaw commented on #16339
This seems like a bug; user tempdir should be parametrized by the parameter given. @DmitriGekhtman is this something you can look into?

[2021-06-15 18:19] Jhonathan-Pedroso commented on #16431
I think this would be great @richardliaw

[2021-06-15 19:05] rkooo567 opened #16440 "[Log] Remove dashboard failure logs streamed to the driver"
### What is the problem?

This sometimes happen because of port collision, and it gives the wrong signals to users. We should remove it (and probably replace it with the event)

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake

[2021-06-15 19:31] ijrsvt commented on #16399
@OrEisenberg Thanks for bringing this up!

[2021-06-15 20:00] ericl opened #16444 "[placeholder] Improve observability of memory usage in Ray"
cc @stephanie-wang

[2021-06-15 20:01] ericl opened #16445 "[placeholder] Add adversarial stress tests for memory management"
e.g., shuffle while other tasks are doing ray.get()/wait, multiple concurrent shuffles

[2021-06-15 20:03] amogkam commented on #13528
Looking into this right now...this is because of some weird pickling issue specifically with IterableDataset.

What's happening is that when used with Ray, this https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L200 line is returning False when it shouldn't be, causing torch to think that the dataset being passed in is a Map-style dataset instead of an Iterable-style. H

[2021-06-15 20:11] amogkam commented on #13528
Looking into this now...it's some weird pickling issue.

What's happening is that when using with Ray, this line https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L200 is returning False when it shouldn't be. This causes torch to think a Map-style dataset is passed in instead of an Iterable-style one, hence it tries to make `len()` calls on the dataset.

Here is a simpl

[2021-06-15 20:12] kepricon opened #16446 "[rllib] 'seq-lens' is missing from trained policy TF signature in Ray 1.4.0"
### What is the problem?
I also posted this in https://discuss.ray.io/t/seq-lens-is-missing-from-trained-policy-tf-signature-in-ray-1-4/2519

I’ve used Ray 1.3 and now I’m testing Ray 1.4 to upgrade Ray version for my product.
During my test, I realized that I couldn’t find `seq_lens` input information from the trained model. I’m not sure this is on purpose or not.

with Ray 1.4
[code]
I couldn’t

[2021-06-15 20:33] off99555 commented on #13511
I have this problem just by running the example code from the README. What is the cause and why it's happening in an obvious place?

[2021-06-15 20:43] richardliaw opened #16448 "[tune] Sort top results by metric"
Can CLIReporter show the top results sorted by metric? If we have a lot of experiments, we interest more on the top results.

The first reason is that the top one includes too much info (all parameters). We hope to have a table summarizing top metrics.

Another reason could be to better understand the effect of hyperparameters. A sorted table will allow us to know the impact of parameters more cle

[2021-06-15 21:01] amogkam commented on #13528
OK this should work if you move `MyIterableDataset` to a separate file and then import in into the main script. This is due to cloudpickle serialization. @suquark can provide more info here.

[2021-06-15 22:59] ijrsvt opened #16452 "[Jobs] Timestamp field switches between seconds and milliseconds"
### What is the problem?

When I create a Job (and it is still running) the `timestamp` field is in seconds, but when it is terminated, the `timestamp` field is in milliseconds.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce t

[2021-06-15 23:00] crypdick commented on #15648
@simon-mo @edoakes seems fixed in 1.4.0, although I'm seeing other verbose errors. That's for a separate issue.

[2021-06-15 23:00] #15648 closed

[2021-06-15 23:01] ijrsvt commented on #16452
Specifically we use seconds [here](https://github.com/ray-project/ray/blob/412085dea779d44b8980e79fb1fe719fb1eb9bed/src/ray/raylet/node_manager.cc#L1112) on JobCreation and in [milliseconds on completion](https://github.com/ray-project/ray/blob/412085dea779d44b8980e79fb1fe719fb1eb9bed/src/ray/gcs/gcs_server/gcs_job_manager.cc#L72).

[2021-06-15 23:02] wuisawesome commented on #16452
yikes :/ we should prob just standardize on milliseconds?

[2021-06-15 23:04] wuisawesome opened #16453 "GcsHeartbeatManager is not thread safe"
### What is the problem?

The datastructure in GcsHeartbeatManager is accessed from multiple threads, but there is no locking.

`HandleReportHeartbeat` is called from the gcs server main thread, while `DetectDeadNodes` is called from the manager's private thread.

A simple global mutex would solve this problem (or post the HandleReportHeartbeat to the private thread).

### Reproduction (REQUIRED)

[2021-06-15 23:33] ijrsvt commented on #16452
@wuisawesome I have no preference for seconds vs milliseconds, but standardization would be great

[2021-06-15 23:34] wuisawesome commented on #16452
It would be nice to be more granular than seconds, but standardizing between milliseconds and nanoseconds everywhere will be a PITA.

[2021-06-15 23:37] #16453 closed

[2021-06-15 23:37] AmeerHajAli commented on #16452
@wuisawesome , can you please make a fix for this and maybe make it part of 1.4.1 release?
@ijrsvt maybe we can patch it.

[2021-06-15 23:50] ijrsvt commented on #16452
I agree that standardizing everywhere is hard, but this is specifically about one field being set as both. This should be relatively easy to fix, right?

[2021-06-16 00:11] wuisawesome commented on #16452
@ both of you, yes.

[2021-06-16 00:48] #10919 closed

[2021-06-16 00:49] #4946 closed

[2021-06-16 00:49] #10738 closed

[2021-06-16 00:49] #13810 closed

[2021-06-16 02:08] cola-nicolas opened #16457 "[rllib] (Update ray 1.4.0) AttributeError: 'NoneType' object has no attribute 'keras'"
### What is the problem?

I'm using RLLib with Pytorch.
In version `1.3.0`, I was registering my model with :

[code]

I upgraded to version `1.4.0`, and now the same line raises the following error :

  File "main.py", line 18, in <module>
    ModelCatalog.register_custom_model("my_model", MyModel)
  File "/home/me/miniconda3/envs/rllib/lib/python3.6/site-packages/ray/rllib/models/catalog.py", li

[2021-06-16 02:25] DmitriGekhtman opened #16458 "[core] Temp dir / cluster address issues"
### What is the problem?

Ray uses the default temp directory for the "ray_current_cluster" file whether or not a custom `temp-dir` is passed to `ray start`.
For example:
https://github.com/ray-project/ray/blob/2abb1e1d38b11a87d32715fc4593d98e15ea4553/python/ray/scripts/scripts.py#L584
https://github.com/ray-project/ray/blob/2abb1e1d38b11a87d32715fc4593d98e15ea4553/python/ray/scripts/scripts.py#L8

[2021-06-16 02:28] DmitriGekhtman commented on #16339
Precise problem identified above.

[2021-06-16 02:29] DmitriGekhtman commented on #16458
While it would be easy enough to fix in the "head" if branch in ray start, not sure how to consistently fix everywhere.

[2021-06-16 03:01] cola-nicolas opened #16459 "[rllib] (upgrade to 1.4.0) Devices, IndexError: list index out of range"
### What is the problem?

After training with `tune`, I'm loading my agent. I need to do inference on GPU. But when I create the Trainer (with same config as training), I'm meeting the following error :

  File "test.py", line 10, in <module>
    "num_gpus": 1,
  File "/home/me/miniconda3/envs/rllib/lib/python3.6/site-packages/ray/rllib/agents/trainer_template.py", line 123, in __init__
    Traine

[2021-06-16 03:16] cola-nicolas commented on #16459
Workaround : remove `num_gpus` from the configuration seems to fix the issue.

[2021-06-16 03:38] ericl opened #16460 "Possible memory corruption on fd reuse if plasma_unlimited=1"
The plasma client does not handle re-use of file descriptors properly. Re-use of a file descriptor id can cause memory corruption as the client tries to map memory from the wrong files.

FD re-use can occur if we ever un-map a file, which occurs when we deallocate filesystem-backed pages with RAY_plasma_unlimited=1.

This issue was discovered in https://github.com/ray-project/ray/pull/16451 (thank

[2021-06-16 05:14] iycheng opened #16462 "Support multiple owner in primary copy"

[2021-06-16 05:15] iycheng opened #16463 "Remove owner address in plasma store and to pass it from raylet"

[2021-06-16 05:15] iycheng opened #16464 "Build ownership tree for each object"

[2021-06-16 05:16] iycheng opened #16465 "Internal API for ownership transfer"

[2021-06-16 05:17] iycheng opened #16466 "Make OBOM aware of multiple owner"

[2021-06-16 05:18] #14589 closed

[2021-06-16 05:20] iycheng opened #16467 "Gracefully exit worker when there is a transferring request."

[2021-06-16 06:52] #16399 closed

[2021-06-16 08:13] vivecalindahl opened #16470 "[rllib] CQLTrainer cannot read InputReader"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 1.4.0

https://github.com/ray-project/ray/blob/3a09c82fbfce8f00533234844729e6d99fb0f24c/rllib/agents/cql/cql.py#L167

assumes that `trainer.config["input"]` is a sequence and will throw

[code]

when the the input config value is a callable returning an `InputReader`, which the [input API

[2021-06-16 08:19] AlphaPlusTT commented on #15681
Change to the latest version and use only one gpu is fine, if use multi gpus, Errors still occur and the program will still get stuck

[2021-06-16 08:47] aquibjaved commented on #16424
can someone help on this please, I am also facing the same issue
@deanwampler @ob @rshin @ericl

[2021-06-16 09:04] rkooo567 commented on #16460
It's probably because we don't properly close them? (If I remember correctly, we don't close fds at all for plasma objects)

[2021-06-16 12:05] ThomasCassimon opened #16472 "[rllib] Metrics from Custom Torch Model not present in ResultDict"
### What is the problem?
Current Behaviour: When using a custom torch model, the metrics returned from the `metrics()` function aren't visible in TensorBoard when using [`tune`](https://docs.ray.io/en/master/tune/index.html), or present in the `ResultDict` returned by `Trainer.train()`. This issue was tested using the [`PG`](https://docs.ray.io/en/master/rllib-algorithms.html#pg) algorithm.
Expect

[2021-06-16 13:27] kk-55 commented on #9756
@stefanbschneider Really late but some annotations: IMO no discounting, as Sven already said, requires setting gamma to 1, otherwise you will discount rewards.
My thoughts about how horizon, soft_horizon and no_done_at_end work are as follows (no guarantee):

- **horzion**: By default, horizon is infinite but setting it to a positive integer means that current episode will end after horizon steps

[2021-06-16 13:46] stefanbschneider commented on #9756
@kk-55 I share your understanding of these three config params. I did try running a continuous problem by changing my env to always return `done=False`, setting `horizion=100`, `soft_horizon=True`, `no_done_at_end=True`. I left gamma unchanged.
Functionally, this lead to the expected result of running the environment without any reset. Not sure how the rewards were calculated in the background, bu

[2021-06-16 14:00] jovany-wang opened #16474 "Support specifying namespace in Java worker"
### Describe your feature request

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-16 17:46] simon-mo commented on #16424
Hi @linpan @aquibjaved, can you try latest master? You will need to `pip uninstall ray` and `pip install <url>` the new again.

I'm getting the correct output
[code]
with your script
[code]

[2021-06-16 17:53] simon-mo commented on #16424
I also ran this on 1.4.0, looks like working as well

[2021-06-16 17:54] simon-mo commented on #16433
Hi @GTimothee, these options is not associated with endpoint. Endpoint is a logical collection of different backends, making them accessible under the same HTTP route or Python handle.

[2021-06-16 17:58] ericl commented on #16431
Does `ray.init(log_to_driver=False)` solve the problem?

[2021-06-16 17:59] #16048 closed

[2021-06-16 19:37] Jhonathan-Pedroso commented on #16431
@ericl it does not, keep printing

[2021-06-16 19:38] OrEisenberg commented on #16399
@ijrsvt Thanks for taking care of it so quickly!

[2021-06-16 19:39] #16322 closed

[2021-06-16 19:43] ijrsvt commented on #16399
@OrEisenberg No worries! Glad you found this :)

[2021-06-16 20:15] ericl commented on #16431
Does this work for you?

[code]

(no "HI" is printed with this setting)

[2021-06-16 20:17] #15872 closed

[2021-06-16 20:21] Jhonathan-Pedroso commented on #16431
@ericl  the problem it is when start to display a bunch of errors, and you submit several hundreds of processes.

[2021-06-16 20:27] crypdick commented on #585
@h-vetinari can you update ray-all to use v1.4.0?

[2021-06-16 20:34] jdavid04 commented on #585
Would it be possible to create a version for macOS to follow up on @vnlitvinov's final comment?

[2021-06-16 20:43] edoakes opened #16479 "[runtime_env] Passing working_dir hangs with a cryptic error message"
See below. Passing the URIs w/o the working_dir works, with it we get a nasty error and it hangs.

[code]

[code]

[2021-06-16 20:50] ericl commented on #16431
Can you provide an example script that produces errors with log to driver
false? Sounds like a bug.

On Wed, Jun 16, 2021, 1:21 PM Jhonathan Pedroso ***@***.***>
wrote:

[2021-06-16 21:00] edoakes opened #16481 "[runtime_env] Detached actor creating child actor does not respect runtime_env URIs"
First run `ray start --head`

Then run:
[code]

Then run:
[code]

The output is:
[code]

Looks like the URIs are not actually having any effect here.

[2021-06-16 21:07] #13620 closed

[2021-06-16 22:38] serdarcw commented on #7339
I've run into the same error. I've solved this to put sudo after pipe like this

aws ecr --region <region> get-login-password | sudo docker login --username AWS --password-stdin <account_num>.dkr.ecr.us-east-1.amazonaws.com

I hope it works for you too

[2021-06-17 02:03] PostmanSpat commented on #15780
@richardliaw
No, I am running redis server on my local Windows system. I tried configuring ray to use localhost and 127.., when it tests the connection on localhost it works, but then it reverts the IP to 192... and fails.

[2021-06-17 02:28] #16460 closed

[2021-06-17 02:46] kangsan0420 opened #16491 "[tune] Docker : Ray Dashboard"
Hi,
I'm trying to use ray tune for my project on docker and I have trouble with accessing ray dashboard.
I changed the dashboard port since I already set the port binding for the container as below.

[code]

This resulted in the below image and I wanted to view the ray dashboard.

![image](https://user-images.githubusercontent.com/79678563/122322171-01445e80-cf60-11eb-83ea-ce2fff6cf0b5.png)

Howev

[2021-06-17 02:53] zzchuman commented on #15607
Hello, kiranikram!
I find you have use the  "use_lstm" and "fcnet_hiddens" at the same time.
I guess that the agent nerual network is two fc network, then lstm, right?

[2021-06-17 02:56] zzchuman commented on #15556
Hello, mvindiola1!
I find you have use the  "use_lstm" and "fcnet_hiddens" at the same time.
I guess that the agent nerual network is two fc network, then lstm, right?

[2021-06-17 03:08] linpan commented on #16424
@simon-mo some weird, look ok. but  see [other example](https://docs.ray.io/en/master/serve/tutorials/web-server-integration.html?highlight=fastapi#scaling-up-a-fastapi-application)

`async def __call__(self, request):
        return self.nlp_model(await request.body(), max_length=50)
`
request type is still str.
ps: ray 2.0.0.dev0

[2021-06-17 03:12] cola-nicolas commented on #16459
I'm meeting the exact same problem with `impala.ImpalaTrainer`, except this time removing "num_gpus" from the configuration does not solve it.

Any help would be appreciated.

[2021-06-17 04:11] #16339 closed

[2021-06-17 04:42] Prateek-Tyagi commented on #7339
thanks @serdarcw ! it started working when I rebuild pipeline using same cloudformation template. but its also works with your solution.
it works.

[2021-06-17 05:13] audreyccheng opened #16494 "Cannot build Ray from source on MacOS"
### What is the problem?
I am unable to build Ray from source on my Mac.
After following the instructions here (https://docs.ray.io/en/master/development.html), I get the error below when running ```pip install -e . --verbose```.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray version is commit 3fa9f2e5d628c271c06b3fd9636ce0c952f64b42
Python 3.8.10
MacOS C

[2021-06-17 06:14] sanyoggupta opened #16495 "To know how we can implement multiple actions in single step and same agent"
Hello Team,

First I would like to take this an opportunity to thanks Ray group for supporting coders like us.

I have very basic query that how I can use Ray RL framework for single agent but having multiple actions at same step/time. Such as a sales person have offered multiple offerings (Big discounts, small discounts etc.) to a customer at same time.

Thanks once again.

[2021-06-17 06:59] h-vetinari commented on #585
It's a work in progress, but getting very close. 1.2 took a [while](https://github.com/conda-forge/ray-packages-feedstock/pull/8) but was finished by @vnlitvinov about a week ago. I'm currently waiting for his feedback in 1.3 https://github.com/conda-forge/ray-packages-feedstock/pull/14 but planning to merge in 24h otherwise.

Based on that PR, @gshimansky already has the PR for 1.4 ready too: htt

[2021-06-17 08:14] WangTaoTheTonic commented on #15358
Reopen this as there's one more step to finish.

[2021-06-17 08:18] aquibjaved commented on #16424
@simon-mo
I am using the version 1.4.0
<img width="695" alt="Screenshot 2021-06-17 at 8 58 24 AM" src="https://user-images.githubusercontent.com/14982079/122356515-ca178280-cf4a-11eb-86a1-450bb9b17f5c.png">

just for the test, I run the example fast API NLP one,

[code]

[code]
Error message is:
<img width="1129" alt="Screenshot 2021-06-17 at 9 08 05 AM" src="https://user-images.githubusercontent.

[2021-06-17 08:36] #15504 closed

[2021-06-17 08:50] krfricke commented on #16284
Yes, I have another task with S3 storage on my list and can look into both.

[2021-06-17 08:56] krfricke commented on #15842
We don't have a workaround right now. This mainly effects runs with different placement group factories - e.g. rllib trainables with different numbers of workers, or when submitting multiple experiments with different resource requirements at once.

I'd rate it P1

[2021-06-17 08:59] zzchuman opened #16500 "[rllib] assert seq lens is not None!"
Hello @sven1977 !

python 3.7.6
torch 1.9.0
ray 1.4.0 and 1.0.0

In my code, I set the 9 PPO agent. The agent set is:

![image](https://user-images.githubusercontent.com/38434094/122365156-053aa580-cf8d-11eb-84f9-7896708838bf.png)

And I sure that it works without lstm setting. But when I add the lstm, It occours:
![image](https://user-images.githubusercontent.com/38434094/122365376-34511700-cf8d-

[2021-06-17 09:36] GTimothee commented on #16433
Hi,

Thank you for your answer.

OK yes my mistake, the configuration was passed to create_backend as an option ```ray_actor_options```.

Does someone know how to update this ```ray_actor_options``` then ? There is an ```update_backend_config ``` but it seems to correspond to the BackendConfig object only.

[2021-06-17 09:54] HornetGuppy commented on #12481
I am having same issue of hanging in (python 3.7, WinPy,Windows) in venv. Whereas when I tried downgrading to 1.0.0 it has a redis connection error (both with and without VPN).

[2021-06-17 10:49] #13879 closed

[2021-06-17 11:24] krfricke commented on #16013
I looked into it. An immediate fix for your problems should be setting the `TUNE_RESULT_BUFFER_MAX_TIME_S` environment variable to `0.0`:

[code]

I'll work on a fix and provide more context soon.

[2021-06-17 11:45] zzchuman opened #16502 "'NoneType' object has no attribute 'shape'"
I have verified my script runs in a clean environment and reproduces the issue.
 I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

I want use the rllib/example/model/rnn_model

And I set as:
"model":{
            "custom_model": "rnn",
            "fcnet_hiddens":[256],
            "max_seq_len": 20,
        },

But, It occours me tha

[2021-06-17 11:53] thomascros opened #16503 "[rllib] R2D2: Batch management when using both RNN and non-RNN policies in a single MA environment"
### What is the problem?

The problem occurs while using a multi-agent environment when at least one agent is using R2D2 policy and another agent is using a non-RNN policy. It happens inside _timeslice_along_seq_lens_with_overlap_ method in _add_batch_ method of the _LocalReplayBuffer_ class of _replay_buffer.py_:

When a batch of an non-RNN policy is processed, it does not contains any 'seq_lens'

[2021-06-17 11:56] krfricke commented on #16013
I created a PR in https://github.com/ray-project/ray/pull/16504 that fixes the issue. The PR description provides some more context.

In a nutshell, the error was due to the combination of custom/early stopping and requesting a checkpoint, while still using buffered training. The PR will raise a warning instead and use non-buffered training when `checkpoint_at_end` is passed.

[2021-06-17 12:12] krfricke commented on #15843
IMO this is a Ray core issue. Since `ray start --no-redirect-worker-output` is deprecated, functionality has been moved to `log_to_driver` in `ray.init()`. We will need something similar for `ray.connect()`.

cc @wuisawesome are you the right person to tag for this?

[2021-06-17 12:12] howardlau1999 commented on #16013
Thanks very much! @krfricke

[2021-06-17 12:37] zzchuman opened #16505 "[RLlib] 'RNNModel' object has no attribute 'base_model' (for curiosity)"
I have verified my script runs in a clean environment and reproduces the issue.
 I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

I try to use the rnn_model.py in my code. In my code, 9 PPO agent is set and each agent use the curiosity module and custom model. I am sure that PPO agent with curiosty module and without custom model wor

[2021-06-17 13:13] Jhonathan-Pedroso commented on #16431
@ericl unfortunately I can not disclosure due to confidentiality, I apologize for that, it is out of my control.

[2021-06-17 13:29] zzchuman opened #16506 "rllib example/rnn_model.py"
Hello, I try to run your code rllib example/rnn_model.py with curiosity exploration. I use the tensorflow. I am sure my software is lattest.

"""Example of using a custom RNN keras model."""

import argparse
import os

import ray
from ray import tune
from ray.tune.registry import register_env
from ray.rllib.examples.env.repeat_after_me_env import RepeatAfterMeEnv
from ray.rllib.examples.env.repeat

[2021-06-17 13:35] borogreg commented on #16457
The issue was solved [here](https://github.com/ray-project/ray/pull/16171).
You can also work around the issue by installing tensorflow in your conda environment.

[2021-06-17 13:50] krfricke opened #16507 "#16408 broke XGBoost-Ray + Ray Tune related unit and release tests"
### What is the problem?

Bisection revealed that https://github.com/ray-project/ray/pull/16408 broke all XGBoost-Ray/Ray Tune related unit and release tests (these run on the XGBoost-Ray repo or in the releaser tool). From a first glance it seems that data loading tasks are not recognized as finished. This is only the case when more resources are requested from a cluster than available (e.g. when

[2021-06-17 15:30] ericl commented on #16431
Can you make a generic repro?

On Thu, Jun 17, 2021, 6:13 AM Jhonathan Pedroso ***@***.***>
wrote:

[2021-06-17 16:18] wuisawesome commented on #15843
If I understand correctly, this should just require adding a log to driver flag to ray client right?

[2021-06-17 16:20] #16294 closed

[2021-06-17 16:31] krfricke commented on #15843
Yes!

[2021-06-17 16:57] ericl commented on #16507
Does the test pass with `RAY_yield_plasma_lock_workaround=0` env var set? You could flip just that flag to disable the feature.

[2021-06-17 17:01] simon-mo commented on #16494
Is this one a M1 mac?

[2021-06-17 17:15] audreyccheng commented on #16494
No, it isn't. This is on a 2019 Macbook Pro with an Intel Core i9.

[2021-06-17 17:17] #16221 closed

[2021-06-17 17:31] #13528 closed

[2021-06-17 17:36] cmlakhan commented on #13528
Thank you, looks like moving IterableDataset to a separate file did the trick.

[2021-06-17 17:42] wuisawesome commented on #15842
Just to confirm, the expected behavior is that `pg.ready()` returns immediately even if there are already tasks/actors scheduled on the placement group right?

[2021-06-17 17:59] ijrsvt opened #16510 "[Core] Standardize Timestamps across codebase"
### What is the problem?

Ray should use Timestamp types instead of ints or floats when specifying time.
When this is not possible, variable naming should be used to clarify the units (i.e. `timestamp_s` for a timestamp measured in seconds).

For example:
* protos should use: the [Timestamp type](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#timestamp)
* python shou

[2021-06-17 18:05] simon-mo commented on #16494
can you run `bazel clean --expunge` in the ray directory and try again?

[2021-06-17 18:11] audreyccheng commented on #16494
I've tried this but I still get the same bug.

[2021-06-17 18:43] simon-mo commented on #16494
hmm i can't repro it with a fresh clone. maybe try a new conda env?

[2021-06-17 18:57] audreyccheng commented on #16494
I've tried that as well. Do you think any existing installs could be causing this issue? The error seems to be related to the protobuf package which I've tried uninstalling and reinstalling.

[2021-06-17 18:57] krfricke commented on #15842
Yes!

[2021-06-17 19:07] simon-mo commented on #16494
bazel should pull the right version of protobuf and compiles from scratch

[2021-06-17 20:28] scv119 commented on #16507
Currently we suspect it might not related to  #16408
https://anyscaleteam.slack.com/archives/CLJQR6420/p1623938034324100 has more context.

[2021-06-17 23:09] alanwguo commented on #16127
@rkooo567 , this is now a higher priority because its needed to reliably filter the actor logs from loki. Without this, we can easily associate an actor entity from the dashboard (identified by `py_worker_id`) with the logs stored in loki (keyed by a cpp worker_id).

[2021-06-17 23:30] ericl commented on #16136
@iycheng could you take a look at this?

[2021-06-18 00:11] #13885 closed

[2021-06-18 00:48] scv119 commented on #16507
we bisected and confirmed the test fails after #16437 was merged.
most likely the test wasn't using correct placement_group.

[2021-06-18 01:00] rkooo567 commented on #16127
cc @ericl

[2021-06-18 02:06] igorgad commented on #16072
Having the same issue here, after a while the cluster can't autoscale. Running workers remain active though.
Any updates?

[2021-06-18 02:25] scv119 commented on #16507
- After #16437 the Actor placement behavior [has changed for ](https://github.com/ray-project/ray/pull/16437/files#diff-f67ab59de16332a2ea8df0fb7032ea69a0912c3bb52538649b4ed0c9fc21d9d2R636)`placement_group = None` versus `placement_group = "default"`;
- Also in #16437, by default the `placement_group` is set to `"default"` instead of `None` [when creating Ray Actors](https://github.com/ray-project

[2021-06-18 08:01] krfricke commented on #16507
Ok so the problem was a breaking API change when using `placement_group=None`. Previously (Ray <= 1.4.0) this would use the parent placement group. Since #16437 passing `None` will instead break out of/ignore the parent placement group.

I'm working on a backwards compatible fix for XGBoost-Ray and will release a new version to reflect this. Thanks for your help bisecting this @scv119!

[2021-06-18 08:43] Bam4d opened #16529 "[rllib] Fix to flakey TD3 tests causes regression in IMPALA"
### What is the problem?

Recently a fix to a problem that many users were having was merged: #16162

This fix was then mostly removed to fix flakey tests: #16309

@sven1977  the original issue is now back.

torch 1.8.1
python 3.8
ray (latests wheels)

### Reproduction (REQUIRED)

Reproduction and description of issue is in the original ricket #16162

- [ ] I have verified my script runs in a clea

[2021-06-18 08:57] linpan commented on #8003
centos 7.5 python3.8.7   I have the same issues, again. sucks.

[2021-06-18 09:26] AmeerHajAli commented on #16072
cc  @DmitriGekhtman

[2021-06-18 09:46] rkooo567 commented on #8003
Hmm yeah I failed to repro on macOS… can you verify if the above script can repro ur issues on centOS @linpan?

[2021-06-18 10:05] krfricke commented on #16507
I'll close this for now as we introduced a fix in XGBoost-Ray.

[2021-06-18 10:05] #16507 closed

[2021-06-18 10:16] kyoungseoun-chung commented on #8105
Dear all,

I am a bit late at this issue but, here is a kinda solution of mine. I've created a conditional decorator so that can reuse the class method without redefining it outside of the class.

[code]

I am not sure is there any cleaner and better way to tackle this issue but at least this works for me.

[2021-06-18 10:17] #15009 closed

[2021-06-18 10:30] #15126 closed

[2021-06-18 10:34] kyoungseoun-chung commented on #8105
Dear all,

I am a bit late at this issue but, here is a kinda solution of mine. I've created a conditional decorator so that can reuse the class method without redefining it outside of the class.

[code]

With this script, expected output will be,

In case of ```is_ray = True```:
[code]
In case of ```is_ray = False```:
[code]

So you can use one function for both with or without ray.

I am not sur

[2021-06-18 10:38] rajagurunath commented on #16519
Hi @richardliaw , I am new to Ray ecosystem, having somewhat theoretical understanding  of Ray, but not used Ray practically much.

Would I take this issue , if it was not assigned ?

And from the comments above, I understood we need improve the importError message (shown below): but I am seeing its already good, Is something I misunderstand here ? please let me know if i am missing anything here.

[2021-06-18 11:12] kyoungseoun-chung commented on #8105
One thing I notice with my method is that, when you create actors, you should do like this

[code]

you have to call ```Bar``` function with parenthesis and have to pass ```self``` as an argument.

Hope this can help you or someone interested in.

[2021-06-18 11:29] h-vetinari commented on #585
For example, it would be really helpful if someone could chime in on how to run the test suite for ray: https://github.com/conda-forge/ray-packages-feedstock/issues/5

When I looked at this a while ago, it wasn't trivial. Currently, the feedstock only checks that the package import works, which should obviously be improved.

[2021-06-18 13:19] #16013 closed

[2021-06-18 14:13] andrijazz commented on #16091
any updates on this issue? Pinning `azure-mgmt-compute==14.0.0` doesn't seem to help

[2021-06-18 14:37] AmeerHajAli commented on #16091
@gramhagen , can you please make a PR for fixing this?

[2021-06-18 14:45] #16333 closed

[2021-06-18 15:15] #16411 closed

[2021-06-18 15:27] richardliaw commented on #16519
I think it should probably error out instead. Otherwise it can be confusing
especially if the user has reduced log levels.

On Fri, Jun 18, 2021 at 3:39 AM gurunath ***@***.***> wrote:

[2021-06-18 15:59] Yard1 commented on #16519
Yeah, just removing the try-except block should be fine (unless tune.sklearn is imported somewhere else but I don't think it's the case)

[2021-06-18 16:33] simon-mo opened #16536 "Buildkite pull request builders doesn't merge master"
### What is the problem?
In Travis, each PR commit was ran after merging master. This is a core assumption `determine_tests_to_run` makes. Buildkite merge it and break the assumptions, consequences:
- determine_tests_to_run has a lot of false positives
- commits were not tested against latest master

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduc

[2021-06-18 17:20] edoakes opened #16537 "Unit & integration tests for runtime_env scheduler blocking"
Follow-up from https://github.com/ray-project/ray/pull/16535

[2021-06-18 18:21] tmbdev opened #16539 "[autoscaler][gcp] "ray up" on GCP isn't working"
### What is the problem?

"ray up" doesn't work with Google Cloud.

This is with ray 2.0.0.dev0 (it also wasn't working with earlier versions).

(1) Startup first fails with an "unexpected EOF".
(2) When trying it again, the cluster comes up, "ray exec" works, but I can't connect to it because it uses a 10.x.x.x address for its Redis server.

### Solution

(1) There may be a timeout somewhere.
(2)

[2021-06-18 18:32] clarkzinzow opened #16540 "[Core] Plasma SIGBUS on shuffling data loader workload"
On a shuffling data loader workload that should succeed (with object spilling), workers fail with SIGBUS errors until the job eventually fails when attempting to deserialize an error object.

### Reproduction

1. Clone the `ray_shuffling_data_loader` repository: `git clone git@github.com:ray-project/ray_shuffling_data_loader.git`
2. Checkout the `feat/benchmarks` branch: `git checkout feat/benchma

[2021-06-18 18:33] clarkzinzow commented on #16540
cc @ericl

[2021-06-18 18:35] rajagurunath commented on #16519
Thanks a lot for the input, @richardliaw, and @Yard1, I will take this task as my first step.  ❤️

[2021-06-18 19:02] ericl commented on #16540
Thanks @clarkzinzow , appreciate the detailed repro steps!

[2021-06-18 19:58] Luis-Victor opened #16549 "[Autoscaler][Kubernetes] Workers pods aren't scaling in k8s ray cluster"
### What is the problem?

Workers pods are not scaling as expected. I've only been able to make them scale from 0 to 1 pod on some specific cases besides I couldn't make them scale from 1 to n pods either.

- When `.values.podTypes.rayWorkerType.rayResources` contains `{ "GPU": 0 }`, the autoscaler doesn't scale new worker pods
- When task requirement is `num_cpus=1` and the number of workers pods

[2021-06-18 20:17] franklsf95 opened #16551 "Add the option to start object spilling before it is full"
### Describe your feature request

The object store will not preemptively spill to disk until a new allocation request is made when the store is full. As a quick solution, we should add an `object_spilling_threshold` option so that the object store starts spilling as soon as some percent is filled.

Consider the following application, where `OBJECT_SIZE` is 1/10 of the total object store memory:

[2021-06-18 22:18] #16115 closed

[2021-06-19 00:02] stephanie-wang opened #16556 "[core] Tasks with duplicate args sometimes don't get scheduled"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 1.4 and earlier

The raylet overestimates the number of missing args for tasks that have duplicate args. This can lead to the task never being scheduled.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce

[2021-06-19 03:12] #13922 closed

[2021-06-19 06:57] #16200 closed

[2021-06-19 06:57] #16287 closed

[2021-06-19 07:42] #13927 closed

[2021-06-19 07:42] #13928 closed

[2021-06-19 07:43] hopdino commented on #8003
@rkooo567  where is scripts ?   To far,   ray is unstable, too bugs.   not use production

[2021-06-19 10:29] powxoper opened #16562 "[rllib]ValueError: Must pass in RNN state batches for placeholders [<tf.Tensor 'default_policy/Placeholder:0' shape=(?, 256) dtype=float32>, <tf.Tensor 'default_policy/Placeholder_1:0' shape=(?, 256) dtype=float32>], got []"
Hello Ray Team,

After I train PPO model (with LSTM_Use == True) and try to evaluate model using "compute_actions method" and "compute_single_action method" I get error as follows

### ValueError: Must pass in RNN state batches for placeholders [<tf.Tensor 'default_policy/Placeholder:0' shape=(?, 256) dtype=float32>, <tf.Tensor 'default_policy/Placeholder_1:0' shape=(?, 256) dtype=float32>], got [

[2021-06-19 10:49] #13931 closed

[2021-06-19 12:09] yorickvanzweeden opened #16563 "PBT Replay relies on outdated code"
This line in PopulationBasedTrainingReplay relies on outdated code
https://github.com/ray-project/ray/blob/79a9d6d5171071190f531121be310fb4d203cf11/python/ray/tune/schedulers/pbt.py#L822

Currently, the `stop_trial` method does not support a `stop_logger` keyword.
https://github.com/ray-project/ray/blob/79a9d6d5171071190f531121be310fb4d203cf11/python/ray/tune/ray_trial_executor.py#L468

This abili

[2021-06-19 12:21] swagshaw commented on #13511
I have this problem when I try to run the example code from the [tutorials](https://docs.ray.io/en/master/serve/tutorials/pytorch.html).
Here are my codes:
`from ray import serve
import ray
from io import BytesIO
import io
from PIL import Image
import requests

import torch
from torchvision import transforms
from torchvision.models import resnet18

@serve.deployment(route_prefix="/image_predict")

[2021-06-19 13:42] krfricke commented on #16563
Thanks @yorickvanzweeden, I'll fix this soon. If you want to you can also file a PR (the only thing to do is to remove the outdated argument from the call to `stop_trial`)

[2021-06-19 14:56] yorickvanzweeden commented on #16563
@krfricke Made a PR (#16564)

[2021-06-19 17:35] #13327 closed

[2021-06-19 20:19] iycheng commented on #16136
After some investigation, I think it's related to long-running RPC (https://github.com/ray-project/ray/blob/197dab0e2fe9198b10a79a800fef54f41de7472c/src/ray/core_worker/reference_count.cc#L1128).  Tested with this PR (https://github.com/ray-project/ray/pull/16407) and it looks good. But it got reverted, @rkooo567 do you have some plan about when it can be re-merged?

[2021-06-19 20:20] iycheng commented on #16136
And here is the memory footprint:
[code]

[2021-06-19 20:27] rkooo567 commented on #16136
Yeah that’ll be remerged, but I am currently debugging the regression I found from the pr

[2021-06-19 20:42] #15973 closed

[2021-06-20 02:47] powxoper commented on #16562
I get solution from https://discuss.ray.io
Thank you so much

[2021-06-20 02:47] #16562 closed

[2021-06-20 03:30] kishansairam9 opened #16567 "ray.util.queue.Queue API not exposed"
_Originally posted by @kishansairam9 in https://github.com/ray-project/ray/issues/10624#issuecomment-864493807_

[2021-06-20 04:48] kishansairam9 commented on #16567
Use from import https://github.com/ray-project/ray/pull/10624#issuecomment-864496068

[2021-06-20 04:48] #16567 closed

[2021-06-20 09:44] joseph-x-li commented on #13630
Reading through the codebase a little, I can think of three possible reasons for the designation that ray.nodes() be for debugging only.

1) ray.nodes() is untested/unmaintained and not meant to be called since it may break things in the background or other horrible stuff.
  - ray.nodes() is just an alias for ray.state.GlobalState.node_table(). node_table() itself is called by many client-facing f

[2021-06-20 13:22] #16563 closed

[2021-06-20 13:26] clarkzinzow commented on #14048
This is still needed, marking as not stale.

[2021-06-20 13:32] clarkzinzow commented on #14073
Note that https://github.com/ray-project/ray/pull/16130 added an end-user API for getting the locations of a single object, which should suffice for most advanced data locality use cases that previously relied on `ray.objects()`. @ericl do we still want to offer a `ray.objects()` API, or should we close this issue?

[2021-06-20 16:32] DLWCMD commented on #8003
I can reproduce in the following environment:

- macOS 11.4
- Ray 1.3
- Python 3.8.8

My use case is evaluating a restored rllib PPO agent with the while not done construct:

[code]

[2021-06-20 17:25] duburcqa commented on #16136
@iycheng Do you think both memory leaks are related to the same issue ?

Glad to hear there is a fix in progress !

[2021-06-20 17:33] rajagurunath commented on #16519
Hi, I made the changes here: https://github.com/ray-project/ray/compare/master...rajagurunath:master
please let me know if any other changes are needed. Once it looks good I will raise a PR.

[2021-06-20 18:12] simonfall commented on #14697
I've built and tested the wheels to run Ray natively on M1 Macs, see [this release](https://github.com/simonfall/ray/releases/tag/ray-1.4.0-cp38-darwin_arm64). To install Ray including all extra dependencies, download the wheels and run:
[code]

[2021-06-20 18:15] Yard1 commented on #16519
Looks good to me, @rajagurunath

[2021-06-20 18:22] simonfall commented on #14697
I've built and tested the wheels to run Ray natively on M1 Macs, see [this release](https://github.com/simonfall/ray/releases/tag/ray-1.4.0-cp38-darwin_arm64). The versions of boost and grpc had to be updated.

[2021-06-20 18:35] reemagit commented on #9177
Can't find anything on how to se the local_dir in the linked page, has there been some update in the documentation?

[2021-06-20 21:22] richardliaw commented on #9177
@reemagit ah, it must have changed. Here is the new link: https://docs.ray.io/en/releases-1.4.0/tune/user-guide.html?highlight=local_dir#logging

[2021-06-20 21:26] reemagit commented on #9177
Great, thank you very much.

[2021-06-21 03:41] #14390 closed

[2021-06-21 03:55] richardliaw commented on #16375
Hey @Patil2099 , this was simultaneously addressed by https://github.com/ray-project/ray/pull/15915 which we just merged.

Sorry for the confusion here!

[2021-06-21 03:55] #16375 closed

[2021-06-21 04:25] clarkzinzow commented on #14216
@rkooo567 I'm assigning you since this is in your sprint.

[2021-06-21 05:52] richardliaw commented on #16519
@rajagurunath open a PR :)

[2021-06-21 05:53] linpan opened #16574 "I say NO"
**Enabling end users to parallelize single machine code, with little to zero code changes.**
 for example , i have an function will read data from mongodb,
must be changed code. must serializer object of mongodb client, (mongodb have threading.lock error)

[2021-06-21 06:16] rajagurunath commented on #16519
Thanks for Reviewing @Yard1 and @richardliaw Opened a PR here: https://github.com/ray-project/ray/pull/16575

[2021-06-21 06:50] clay4444 commented on #16403
hi, @edoakes @krfricke @richardliaw  , Are there any questions about the API?

[2021-06-21 08:35] kira-lin commented on #12834
Hi @rkooo567 , @raulchen , any progress?

[2021-06-21 09:41] robin5540 commented on #16100
I'm new to ray. I thought this is an interesting issue.

Would it make sense to do a one time runtime self inspection of the source code to make sure the function always returns the correct amount of return values? Some thing like this

[code]

[2021-06-21 12:52] clarkzinzow commented on #14215
Removing the stale label since there's still a need for this.

[2021-06-21 13:08] heavenlxj opened #16578 "[RLllib] Failed to Restore the model with A3C + Atari Env(SpaceInvaders-v0)"
### What is the problem?
when i do the restore the trained model,  the error output as below:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Environment:
ray                              1.2.0
tensorboard                      1.15.0
tensorboardX                     2.0
tensorflow-estimator             1.15.1
tensorflow-gpu                   1.15.3

Gym

[2021-06-21 13:09] heavenlxj commented on #16578
my model file could not be uploaded seems the file size is larger? 10.2MB

[2021-06-21 13:13] spig95 opened #16579 "[rllib] Combined Experience Replay (CER) in Q-learning Methods (Such as Ape-X)"
### What about implementing Combined Experience Replay (CER) in RLLib?

**Motivation**
After months spent using a fixed experience replay, I decided to include `buffer_size` in my hyperparameter tuning. Doing so I managed to get smoother trainings just after a couple of runs (I am using Ape-X to train DQN policies).

I think I am not the only one out there that kind of ignored this hyperparameter.

[2021-06-21 15:13] DmitriGekhtman commented on #16549
Thanks for pointing these things out. I'll take a look as soon.

[2021-06-21 15:33] inakleinbottle opened #16582 "[tune] Random seed arguments for reproducible experiments"
### Describe your feature request
Hi folks, I think there needs to be an explicit (optional) argument to provide a random seed in any function that requires the generation of pseudo random numbers. There is a big difference between what I would describe as "deterministic" running and "reproducible" running. In the former, one has complete control of the system at all stages of execution while in t

[2021-06-21 16:12] EricSteinberger commented on #12128
Hey! Long-term large-scale ray user trying to switch to c6 from c5 instances here... Just adding a +1 for native support of ARM chips, ideally via pip.

Is this currently part of the pipeline? What's the timeline you aim for?

Thank you for all your hard work Ray team :)

[2021-06-21 16:29] Phirefly9 opened #16584 "[rllib] LSTM/Transformer do not support Dict / recursive action spaces"
### What is the problem?

use_lstm and use_attention do not support more complex action spaces

this issue can be partially fixed by making the following changes to the files:
[code]
change the action_dim calculation to a recursive function (should probably be broken out into it's own function as the code is duplicated in 4 places).
[code]
This allows you to add the use_attention flag without issu

[2021-06-21 16:38] DmitriGekhtman opened #16585 "Ray 1.4.1 release checklist"
# Release Checklist

Ray teams: delete items irrelevant for 1.4.1 release, mark relevant ones done as they're completed.

## Initial Steps
- [x] Called for release blockers
- [x] Announced branch cut date and estimated release date

## Branch Cut
- [x] Release branch created
- [x] Release branch versions updated
	- [x] Version keys have new version
	- [x] Update of “Latest” commits cherry-picked i

[2021-06-21 17:03] #15676 closed

[2021-06-21 17:07] iycheng commented on #16136
@duburcqa they both might be related, I haven't run the tracemalloc with worker yet, but from my previous experience, long running rpc will lead both raylet and worker memory high.

[2021-06-21 17:49] edoakes commented on #16403
@clay4444 what is the API to remove a bundle from the placement group? Also, what are the semantics here -- are all tasks/actors running in it killed?

[2021-06-21 18:12] jiaodong opened #16589 "[serve] ray/release/serve.py seem to hang in termination"
### What is the problem?

running python ray/release/serve.py with exception thrown, in my case, missing wrk, it seems frequently hang on exit.

### Reproduction (REQUIRED)

python ray/release/serve.py with exception thrown

[code]

^C

^C^C^C

^C^C
^C^C
^\[1]    68113 quit       python serve.py

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [x

[2021-06-21 18:52] edoakes opened #16591 "[runtime_env] Avoid spurious worker startup while envs are installing"

[2021-06-21 18:54] edoakes commented on #16343
The conda/pip examples are tested but working_dir is not (yet)

[2021-06-21 20:27] amogkam opened #16593 "[RFC] Ray Client Scalability Envelope and Optimizations"
This RFC proposes 2 things:

**Scalability Envelope for multi-node Ray Client**
Currently we have a scalability envelope for `ray.init()` that runs every release test. With new changes to the Ray API, can we also have a scalability envelope for multi-node Ray Client? This will help us identify any future regressions or performance degradations with Ray Client and will make sure that it is able to

[2021-06-21 20:29] #13650 closed

[2021-06-21 20:46] wuisawesome commented on #16593
Sounds reasonable, I guess this is mostly a question of what dimensions should it include.

I'd propose we start with the dimensions in the single node scalability envelope, but we may have to bump the values down for ray client.

[2021-06-21 20:53] amogkam commented on #16593
The main issue that we are running into right now is the object store benchmark.

[2021-06-21 21:18] wuisawesome commented on #16593
Is it the `ray.put` that's hanging? That should be caught in the single node benchmark too.

[2021-06-21 21:30] franklsf95 commented on #16100
I think the main point is that we need to throw an error instead of crashing. Throwing an `AssertionError` is good here I think. What @robin5540 proposes is to throw a compile-time error rather than at runtime, which could surface the error earlier. @rkooo567 is there concern of performance penalty if we bake the AST checking logic into `@ray.remote`?

[2021-06-21 21:33] rkooo567 commented on #16100
Hmm I don't think so. We do this checking only when the function or class is decorated by ray.remote right?  (so it will only impact the performance when serialization is happening)

[2021-06-21 21:36] franklsf95 commented on #16100
Yea but this would only catch errors like

[code]

But not

[code]

So maybe we should go with a runtime assertion error for now.

[2021-06-21 21:41] amogkam commented on #16593
Ah ok, yes it’s the ray.put that’s hanging.

[2021-06-21 21:54] rkooo567 commented on #16100
I see. I doubt this would incur any performance overhead. it is just one assertion when option is called right?

[2021-06-21 21:56] franklsf95 commented on #16100
@rkooo567 it also involves parsing the function body using the `ast` module. But it should be fine.

[2021-06-21 22:02] rkooo567 commented on #16100
Ah, I see. What about just we catch it in the cython code and upstream the assertion error?

[2021-06-21 22:26] robin5540 commented on #16100
What about injecting the check here: https://github.com/ray-project/ray/blob/d3832ab2e1d28c36fba497d9c5e4c919900dbdf1/python/ray/remote_function.py#L72

This should catch all paths that tries to create a remote function.

[2021-06-21 22:27] rkooo567 commented on #16100
oh right. We can probably do ast parsing when the remote function is created, cache the real num_returns, and always compare when options is called.

[2021-06-21 22:29] rkooo567 commented on #16100
oh right. We can probably do ast parsing when remote functions are created, cache the real num_returns, and then we can compare them? In this case, do we ever need num_returns?

[2021-06-21 22:31] robin5540 commented on #16100
I'm no familiar with the code base yet. If `num_returns` is only used for checking the sanity of the task. `RemoteFunction` init time check should suffice (for python at least)

[2021-06-21 23:53] simon-mo opened #16597 "[Serve] Constructor failure should fail deploy()"
Running the following code will not error the code, it's weird that if we are waiting for the scaling up, then we should wait for the healthcheck; alternatively, we should wait for neither (K8s style)

[code]

[code]

[code]

[2021-06-22 00:38] mwtian opened #16599 "[RLlib][Tune] Build docker image for Python 3.9"
### What is the problem?

Currently building Ray docker image with Python 3.9 times out, because some of the direct and transitive dependencies pinned in `python/requirements/rllib/requirements_rllib.txt` and `python/requirements/tune/requirements_tune.txt` do not support Python 3.9, and the pip dependency resolver goes into an edge case.

*Ray version and other system information (Python version,

[2021-06-22 01:50] amogkam commented on #16599
Hmm can we just not build Ray-ML Docker images for 3.9 for 1.4.1? We can look into fixing this for 1.5

The standard Ray docker images shouldn’t need requirements_rllib and requirements_tune

[2021-06-22 01:53] amogkam commented on #16599
Also what’s the exact error you are getting?

another alternative is to just skip over the libraries that don’t have 3.9 support- something like this https://stackoverflow.com/questions/22250483/stop-pip-from-failing-on-single-package-when-installing-with-requirements-txt

[2021-06-22 02:04] mwtian commented on #16599
If it is ok with others to not build Ray-ML Docker images for 3.9, that can definitely be a solution.
The error I'm currently getting, after trying to update some dependencies, is https://buildkite.com/ray-project/ray-builders-pr/builds/7597#9190b10f-ce4d-428f-8c5e-c1e9d3835813/6-2858

[2021-06-22 02:27] AmeerHajAli commented on #16593
cc @mwtian.
This is btw unfortunate to see. In general we should strive to have the same performance/experience with ray client as with ray init.

[2021-06-22 03:05] rkooo567 commented on #16127
Reverted due to the Java issue

[2021-06-22 03:21] zlw21gxy opened #16605 "[rllib]How to handle unexpected died of the environment."
I use a training environment which is a simulator underhood, so it is not that stable. When the training environment died (the environment can't connect to the simulator), rllib training process will die too. Is there some method to avoid this problem, such as keeping track of the workers, killing them, and creating a new one if some worker died or was unresponsive?
It mostly happened in reset, so

[2021-06-22 03:25] kira-lin opened #16606 "[tracing] Cross language call failed even when tracing is not enabled"
### What is the problem?

When using cross language call, loading function from local fails because wrapping in tracing changes the remote functions module to tracing_helper.

*Ray version and other system information (Python version, TensorFlow version, OS):* ray-nightly

### Reproduction (REQUIRED)
[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x

[2021-06-22 05:32] #16556 closed

[2021-06-22 06:06] #15358 closed

[2021-06-22 06:19] clay4444 commented on #16403
@edoakes  First question: The remove bundles API is similar with the add API, An example:
[code]

Second question: Yeah, It is, we will kill all  actors and tasks related with  the removed bundle.

[2021-06-22 07:09] amogkam opened #16609 "[Tune] Multiple `tune.with_parameters` calls crashes Ray"
Running this code
[code]

results in this error
[code]

It seems like there is state being carried over when using `tune.with_parameters` even though Ray is shutdown and started again in between the subsequent runs. The second run causes Ray to crash. Probably something to do with the fact that the Parameter Registry is being reused.

If I remove the `tune.with_parameters` this works fine.

[2021-06-22 07:09] amogkam commented on #16609
cc @richardliaw @krfricke

[2021-06-22 07:11] WangTaoTheTonic commented on #15354
ray.init will use gcs client in runtime, which will get gcs server address from redis.
I'm afraid that it's hard to use gcs address directly because its port is chosen randomly for now.

Btw in current implementation, it is **implicit** that gcs client will always get available gcs server address from redis.

[2021-06-22 07:13] amogkam commented on #16609
A simple fix is to just re-initialize the Parameter Registry for each `tune.with_parameters` call which solves the issue. @richardliaw should I just make a PR for this, or do you have any thoughts on a better fix?

[2021-06-22 09:20] krfricke commented on #16609
So the problem here seems to be:

- `tune.with_parameters` stores object references in a dict
- This dict gets serialized and sent to workers
- Some automatic deserialization process fails when it's trying to access objects from an old session

I tried adding `parameter_registry.references.clear()` in the `with_parameters` function, and it fixes the problem for the above example. However, then thi

[2021-06-22 10:23] krfricke opened #16612 "[release/1.4.1] scalability envelope test_distributed broken since 1.3"
### What is the problem?
The log output is filled with these:

[code]

[2021-06-22 10:46] krfricke commented on #16612
Might be related to an environment setup problem on my end (ray version mismatch).

However, now I'm running into this:

[code]

After which the script hangs forever.

[2021-06-22 10:47] krfricke commented on #16612
cc @rkooo567 @wuisawesome

[2021-06-22 11:33] zseymour commented on #16459
I am also seeing this error, which seems to prevent rollouts/inference on GPU. Any insight?

@sven1977

[2021-06-22 13:10] SebastianBo1995 commented on #4358
Would it be possible to implement an option to define what rllib should do if the worker dies? So like it is implemented now to just ignore the worker or to try to initialise another environment.

I unfortunately encounter some problems with couling rllib with a simulation environment, where the simulation diverges and the worker dies.

[2021-06-22 13:24] iamhatesz commented on #14697
@simonfall hey, can you share git diff that allows you to build the package?

[2021-06-22 13:59] johnoleary opened #16613 "[core] Actor processes spam stdout on kill when #actors > #cpus"
### What is the problem?

Using the latest Ray nightly on Linux Python 3.7:

When the number of actor processes exceeds the number of CPUs given by ray.init(num_cpus=...), later actor processes print an empty (pid=...) line to stdout on termination. In particular if there are X CPUs, actor processes 1, ..., X terminate normally, i.e. without printing anything, while processes X + 1 and beyond prin

[2021-06-22 15:09] mwtian commented on #16612
I have encountered a very similar error (unable to schedule even though with seemingly enough CPU), while running `release/xgboost_tests/workloads/train_small.py` in client mode with nightly Ray. It does not always happen.

[2021-06-22 16:27] benni-hepp opened #16614 "[Core] GPU assignment via CUDA_VISIBLE_DEVICES is broken when using placement groups with "ray start --head""
### What is the problem?

GPU assignment via *CUDA_VISIBLE_DEVICES* is broken when using placement groups.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.3.0
Tensorflow: 1.15.0
PyTorch: 1.7.1
OS: Linux (in docker container)

### Reproduction (REQUIRED)
[code]

When running the above snippet on e.g. a `p3.8xlarge` AWS instance the GPU device assignments

[2021-06-22 16:33] edoakes commented on #16403
@clay4444 what is the metadata available in the `placement_group_table`? Is it just the `state` and `bundles_status`? For example one important feature for Ray Serve and likely other applications will be to target a specific placement group that Serve has already shut down the actors in or a placement group on a specific node.

[2021-06-22 16:33] richardliaw commented on #16614
Hmm, I'm unable to reproduce this on my environment with latest nightlies:

[code]

[2021-06-22 16:50] richardliaw commented on #16614
Maybe can you check `ray.__version__` and `ray.__commit__`?

[2021-06-22 16:51] rkooo567 commented on #16614
I also ran it locally on my Macbook 8 times in a row (with Richard's repro), and I couldn't reproduce it in Ray 1.4.0.

[2021-06-22 17:19] benni-hepp commented on #16614
Just retried with:
`ray.__version__ = 2.0.0.dev0`
`ray.__commit__ = e26c23295410184bcefbdfa0709854f382fca295`

Interesting, the code version above with the local `ray.init(num_gpus=4, num_cpus=4)` also works for me. However, when I start ray via `ray start --head` and use `ray.init(address='auto')` I see the issue that I described above.

[2021-06-22 17:47] DmitriGekhtman opened #16615 "[kubernetes][operator][autoscaler][core?] Support syncing files down when using K8s operator"
### Describe your feature request

The deprecated K8s cluster launcher supported syncing files from cluster to laptop, but the operator does not.

We may want a Ray-internal system for syncing files/directories down and between nodes.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-22 17:49] DmitriGekhtman commented on #16615
From discussion thread: https://discuss.ray.io/t/syncing-files-to-and-from-ray-cluster/2566/2

[2021-06-22 17:55] DmitriGekhtman commented on #16615
cc @richardliaw for potential tune implications -- i actually think tune's rsync already doesn't work for the k8s operator because the head pod doesn't (and shouldn't) have pods/exec rbac permission

[2021-06-22 18:30] AmeerHajAli opened #16616 "[autoscaler] remove this code to separate ray from autoscaler"
https://github.com/ray-project/ray/blob/e26c23295410184bcefbdfa0709854f382fca295/python/ray/autoscaler/_private/monitor.py#L36

CC @wuisawesome

[2021-06-22 18:45] xunzhang opened #16617 "[Core] Replace plasma with new version"
Hi,
I noticed that ray holds its own implementation of plasma. Is there specific implementation of plasma need to be used in Ray? Otherwise, is that possible to replace the plasma with the version in apache arrow(https://github.com/apache/arrow/tree/master/cpp/src/plasma)? Thanks.

[2021-06-22 19:08] richardliaw commented on #16615
In this case user needs to rely on S3.

[2021-06-22 19:10] DmitriGekhtman commented on #16615
Also possible to work out a solution involving `kubectl exec`.

[2021-06-22 19:13] #16615 closed

[2021-06-22 19:39] rkooo567 commented on #15770
cc @franklsf95 can you share the cluster.yaml people can reproduce the result?

[2021-06-22 20:01] erikerlandson commented on #14155
bump

[2021-06-22 20:30] DmitriGekhtman commented on #14155
Should be solved at the same time as this one https://github.com/ray-project/ray/issues/16093

[2021-06-22 20:37] oroojlooy opened #16618 "[RLlib] rl algorithms hangs forever when called for training"
### What is the problem?
ray just hangs forever when I call `DQN` to train `CartPole-v0`. I have the same issue with `PPO` and `A2C`.

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray: 1.3.0
tensorflow: 2.5.0
python: 3.6.8
OS: Red Hat 7.6

### Reproduction (REQUIRED)
Here is the code to produce:

[code]

And here is what I get:

[code]

[2021-06-22 20:50] wuisawesome commented on #15354
Agreed, this is likely going to involve an API change (like doing `ray.init(address="gcs_server_address")`). I'll eventually make an RFC and we can try to make the migration as smooth as possible.

[2021-06-22 21:05] mvindiola1 commented on #16618
Have you tried printing the results on each iteration?

[2021-06-22 21:54] richardliaw opened #16622 "[RFC] Beam Runner on Ray?"
### Intro

We are thinking of implementing a Beam Runner on top of Ray.

This may be on top of Dask/Ray or Spark/Ray, or even a separate intermediate abstraction.

### Comment from previous thread:

Out of curiosity, have we considered implementing an Apache Beam Runner on top of Ray Streaming as part of this plan? At a high level, I see it providing the following benefits:

1. Exposes a unified,

[2021-06-22 21:59] pdames commented on #16622
Thanks for creating this dedicated issue, Richard!

[2021-06-22 22:02] simonfall commented on #14697
@iamhatesz Sure, just created [this PR](https://github.com/ray-project/ray/pull/16621). Right now, none of Bazel's releases works out-of-the-box for M1 Macs. This should change with release 4.2.0 in the next weeks. The PR should then probably be complemented with some changes to CI/build scripts.

[2021-06-22 22:25] edoakes opened #16623 "[RFC] API to list named actors and placement groups"
In the Ray Serve controller, we currently need to checkpoint the names of all of the actors and placement groups in the system to avoid leaking actors in failure scenarios. This logic could be simplified if we had the ability to query all named actors and placement groups in the system (or a namespace) instead. This would allow Serve to recover the current state of the system by querying the GCS a

[2021-06-22 22:27] edoakes commented on #16623
I believe the former used to be possible via `ray.actors()` but that was deprecated (rightfully).

[2021-06-22 22:29] edoakes opened #16625 "[serve] Avoid checkpointing actor names"
We currently checkpoint both the current state and the goal state of the system to recover from failures. We should only be checkpointing the goal state and recovering the current state by querying Ray. This requires a simple new API:
https://github.com/ray-project/ray/issues/16623

This should allow us to remove the `SHOULD_START` and `SHOULD_STOP` states as well (speeding up startup/shutdown).

[2021-06-22 22:31] #12778 closed

[2021-06-22 22:31] #13914 closed

[2021-06-22 22:31] #14937 closed

[2021-06-22 22:32] edoakes commented on #16597
@simon-mo https://github.com/ray-project/ray/issues/16114

[2021-06-22 22:33] edoakes commented on #16597
@simon-mo yeah we should prioritize this. Ideally we would also do an automatic rollback to a previous version (if it existed)

[2021-06-22 22:35] DmitriGekhtman commented on #16612
@kai Which Ray versions might be mismatching (mismatch between which Ray environments/components)?

[2021-06-22 22:59] architkulkarni commented on #11845
Running the above repro on master now gives the following helpful message:
[code]

[2021-06-22 22:59] #11845 closed

[2021-06-22 23:00] ericl commented on #16623
Makes sense to me. Do we also need the ability to list namespaces?

Another question is whether we can put it in a sub-module rather than top-level ray.

[2021-06-22 23:05] frank-lsf opened #16626 "[Core] Erroneous check for size_t underflow"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

latest master

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

https://github.com/r

[2021-06-22 23:05] franklsf95 commented on #16626
I can fix this while fixing #16100.

[2021-06-22 23:10] amogkam commented on #16406
cc @matthewdeng

[2021-06-22 23:26] architkulkarni opened #16627 "[Core] [runtime env] Investigate flakiness of test_runtime_env_complicated on MacOS"
### What is the problem?
Example failure: https://buildkite.com/ray-project/ray-builders-branch/builds/1937#715152da-6fcd-41bc-9c11-5f0136c97f83/755-941

This also appears in the traceback:
[code]

which suggests that somehow Python 2 is being run sometimes.  Might be a side effect of https://buildkite.com/ray-project/ray-builders-branch/builds/1937#715152da-6fcd-41bc-9c11-5f0136c97f83/755-939 "Co

[2021-06-22 23:43] DmitriGekhtman commented on #16615
or `kubectl cp`

[2021-06-22 23:44] #13991 closed

[2021-06-23 00:03] wuisawesome commented on #16612
Can we try rerunning this? if it only failed on 1 node, it might just be unlucky random number generation

[2021-06-23 00:58] #16609 closed

[2021-06-23 00:59] oroojlooy commented on #16618
No, I do not print anything for the run. I use the automatic result generator, `results.json` and `progress.csv`. Some of the generated results include some values and some are empty.
I ran 10 jobs in a same time, and some has executed and some not. Is there any limit on the number of jobs that can run in same time in a single machine? My machine has a Xeon with 80 cores. I thought is it powerful

[2021-06-23 01:15] mvindiola1 commented on #16618
By run 19 jobs at the same time do you mean something roughly similar to: you opened 10 terminals and ran this script in each one? Or are you using tune and setting num_samples to 10?

[2021-06-23 01:26] oroojlooy commented on #16618
I mean something similar to having 10 different terminals and run one script at each.

I did not check with small number of iterations since the actual env which I am using is quite complex and needs several thousands of iterations.
I'll run with smaller number of iterations to see if that helps.

[2021-06-23 01:30] matthewdeng opened #16630 "[core] namespace being overwritten by anonymous namespace"
### What is the problem?
Namespace doesn't seem to be set when using Anyscale Connect.

*Ray version and other system information (Python version, TensorFlow version, OS):*

**Python:** 3.7.10
**Ray:** Latest Wheel

### Reproduction (REQUIRED)
I ran the following script in an Anyscale Project Cluster:
[code]
Output:
[code]

- [ ] I have verified my script runs in a clean environment and reproduces

[2021-06-23 01:31] mvindiola1 commented on #16618
When you run in 10 terminals what the ray.init() line is doing is starting up a ray head node and 80 ray workers for each of those 10 processes. You will actually have 10 seperate instances of the ray server components and 800 ray workers running on your machine.

You probably want to try using tune.run instead.

[2021-06-23 01:58] rkooo567 commented on #16614
Hmm very interesting... so this happens only when the real gpu is used? (it is weird because what ray does under the hood is just setting num_gpus based on the real # of gpus on your machine...)

[2021-06-23 02:04] #16324 closed

[2021-06-23 02:06] oroojlooy commented on #16618
I see.
Can I run `ray.tune` on the parameters of the environment? I mean `env_config` dictionary which is part of the algorithm's `config`?

[2021-06-23 02:52] #16574 closed

[2021-06-23 03:18] ijrsvt commented on #16630
@matthewdeng does this happen without `"anyscale://"`?

[2021-06-23 03:59] matthewdeng commented on #16630
It seems specific to `"anyscale://"`! I ran the following locally without a cluster up:

[code]

[code]

I also tried running the following locally (after calling `ray start --head`) and on the Anyscale head node:
[code]
Both give the same result with another error(?):
[code]

[2021-06-23 04:23] ijrsvt commented on #16630
@matthewdeng I'm not too sure about the `sys.excepthook` issue, but let me open this up on `anyscale`?

[2021-06-23 04:30] iycheng commented on #16136
Fixing in this PR #16487
I'll verify it later.

[2021-06-23 04:31] ijrsvt commented on #16630
@matthewdeng I am not able to repro this:
[code]

Versions are the latest:
[code]

[2021-06-23 07:29] duburcqa commented on #16136
Amazing ! I will check as soon as a wheel is available of Linux.

[2021-06-23 07:48] Aaronyxt commented on #16491
I tried the init function with the following setting and it worked for me.

tune.init(dashboard_port=9012, dashboard_host="0.0.0.0")

[2021-06-23 08:24] krfricke commented on #16612
I ran it like 4 times with cluster restarts in between. Has anything changed since I tried last time?

Env mismatch has been fixed. It was just a mismatch between my local laptop environment and the cluster env.

[2021-06-23 11:51] Sertingolix opened #16635 "[rllib] in torch custom_loss/ metrics are lost (don't show up in tensorboard)"
### What is the problem?
The custom loss/ custom metrics of a custom model are lost in the pipeline somewhere.

### Reproduction (REQUIRED)

`python3 ./rllib/examples/custom_loss.py --framework=torch`
does not log custom loss

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [x ] I have verified my script runs in a clean environment and reproduces

[2021-06-23 12:37] mvindiola1 commented on #16618
Yes. Here is an example you can look at that uses tune with the options you mentioned.
https://github.com/ray-project/ray/blob/master/rllib/examples/custom_env.py

[2021-06-23 16:16] edoakes commented on #16623
I don't currently know of a use case for listing namespaces so IMO we can omit it for now.

I'm good with putting it in a submodule bu not sure if any of the existing ones we currently have make sense. We could throw it into `util` but it's really a core functionality. We could also consider putting this it in experimental and then promoting it in the future.

@pcmoritz do you have any thoughts/pr

[2021-06-23 16:43] gramhagen commented on #16091
yeah, looking now. I think there are a few things that need updating, will add a pr to address them as soon as I'm done testing

[2021-06-23 16:56] wuisawesome commented on #16612
I ran it a few times too. Got past the original error, but it did break still (hanging on actor scheduling)

[2021-06-23 17:10] pekalam opened #16637 "[tune] MLflowLoggerCallback doesn't save artifacts for last checkpoint"
### What is the problem?

MLflowLoggerCallback doesn't save artifacts for last checkpoint (when trial is done and following arguments of  ```tune.run``` method are passed: ```checkpoint_freq = 1``` **and/or** ```checkpoint_at_end=True```).

*Ray version and other system information:*

- ray: 1.4.0
- tensorflow: 2.5.0
- python: 3.8.10
- OS: Linux

### Reproduction

[code]

diff command output for e

[2021-06-23 17:18] slimshreydy opened #16638 "Security vulnerabilities in Ray 1.4"
Hi Ray maintainers,

A security scan has shown a few vulnerabilities being introduced by Ray via its dependencies. Specifically:

- guava is at version 27.0.1-jre, which suffers from vulnerability [CVE-2020-8908](https://nvd.nist.gov/vuln/detail/CVE-2020-8908) (temp directory made with unsafe permissions). Fix = upgrade to version 30.0-jre, eliminate calls to com.google.common.io.Files.createTempD

[2021-06-23 17:23] amogkam commented on #16637
@pekalam what version of mlflow are you using? I am not able to repro this on 1.16.0. Could you delete your `mlruns` and `ray_results` directory, do a fresh run, and then paste the full directory list for both ray_results and `mlruns`

[2021-06-23 17:42] pekalam commented on #16637
mlflow==1.18.0

[code]

[code]

[2021-06-23 17:49] ericl commented on #16638
@raulchen can you take a look at this? Seems we need to update the java deps since that's in the Python wheel by default.

[2021-06-23 18:54] zhe-thoughts commented on #16638
Thanks for reporting this @slimshreydy ! We are working very actively on addressing this. Could you comment on how time sensitive this is for your use case? Usually it takes a few days to update dependencies but if there's more urgency we can think about possible plans.

[2021-06-23 19:28] slimshreydy commented on #16638
Appreciate it! We would need this within the next week.

Thanks for your speedy response on this!

[2021-06-23 20:24] wubdub opened #16641 "[Core] Programmatic way to access pending tasks for an actor?"
The Ray Dashboard has a nice field “Number of pending tasks” for each Actor which can indicate if the actor is a bottleneck if the value keeps increasing.

I’d like to programmatically access this but currently don’t see how, something along the lines of

[code]

[2021-06-23 20:44] richardliaw commented on #16641
@ericl @wuisawesome is this hard to implement?

[2021-06-23 21:24] chanshing opened #16643 "[ray cluster] Manual cluster setup issue regarding ports"
This is very related to https://github.com/ray-project/ray/issues/7632

I have my own minicluster of nodes so I had to setup ray cluster manually. The standard instructions didn't work for me. What used to work was to manually specify a bunch of ports, as suggested here https://github.com/ray-project/ray/issues/7632:

[code]

Ok, so this used to work for me at least until 0.8.7. After a long time,

[2021-06-23 21:31] richardliaw commented on #16643
Hey @chanshing thanks a bunch for this comprehensive writeup!

@rkooo567 can you help take this? It looks like there's just a couple fixes on the documentation that should be applied.

[2021-06-23 21:44] amogkam opened #16644 "[Tune] Limit concurrency in `tune.run`"
Having an option to limit the max concurrency directly in `tune.run` would be nice. There is the `ConcurrencyLimiter` that can be used with Searchers, but I'm not using any search algorithm.

@krfricke @richardliaw

[2021-06-23 21:44] rkooo567 commented on #16612
I think we should bisect this?

[2021-06-23 21:46] rkooo567 commented on #16612
Can we re-run this in 1.4?

[2021-06-23 22:32] pekalam commented on #16637
You can reproduce this using following dockerfile:
[code]
\
so this issue is not associated with my environment.
\
The root cause of this problem is that ```log_trial_end``` method of ```MLflowLoggerCallback``` is called before the latest artifacts are saved by tune in ```./ray_results``` and as a result only previous artifacts are saved by ```log_trial_end```.
\
I use this code as a workaround: h

[2021-06-23 22:37] wuisawesome commented on #16641
Naively I think we could report the actor's direct transport queue size?

[2021-06-23 23:54] #16551 closed

[2021-06-24 00:35] amogkam commented on #16059
Another error message that I'm getting right now which I'm not sure how to interpret

[code]

[2021-06-24 01:42] DmitriGekhtman commented on #16612
running in 1.4.0

[2021-06-24 02:09] WangTaoTheTonic commented on #16638
Just curious, do we need to upgrade all dependencies with CVEs or only fix the high score ones?

[2021-06-24 03:05] jovany-wang commented on #16638
Let us upgrade them manually for a quick fix. And then introduce a CVE checker.

[2021-06-24 03:12] DmitriGekhtman commented on #16612
Timeout error

[INFO 2021-06-23 19:45:33,524] e2e.py: 780  ... still waiting for command to finish (2700 seconds) ...
[ERROR 2021-06-23 19:45:40,821] e2e.py: 1268  Command returned non-success status: 1
Traceback (most recent call last):
  File "e2e.py", line 1255, in _run
    kick_off_only=kick_off_only)
  File "e2e.py", line 792, in run_session_command
    f"Command returned non-success status:

[2021-06-24 03:15] DmitriGekhtman commented on #16612
In the command history
`RAY_ADDRESS=auto TEST_OUTPUT_JSON=/tmp/release_test_out.json TEST_STATE_JSON=/tmp/release_test_state.json IS_SMOKE_TEST=0 python distributed/test_distributed.py`
produced
`Traceback (most recent call last):
  File "distributed/test_distributed.py", line 190, in <module>
    test_nodes()
  File "distributed/test_distributed.py", line 38, in test_nodes
    test_max_running_ta

[2021-06-24 03:34] wuisawesome commented on #16612
that error looks like the 250 node scheduling was just slow which seems like just standard flakiness.

[2021-06-24 04:34] DmitriGekhtman commented on #16612
i got the same error the second time around.
running once more

[2021-06-24 06:41] asaidarahas commented on #8011
Hi @ericl. I am facing a similar issue when feeding the value from `policy.compute_central_vf(sample_batch[SampleBatch.CUR_OBS], sample_batch["opponent_obs"], sample_batch["opponent_action"])` to `sample_batch[SampleBatch.VF_PREDS]` in the above example, adopted for own game setting.
[code]
The inconsistency seems to be in the batch size (initially `sample_batch[SampleBatch.VF_PREDS].shape[0]` or

[2021-06-24 10:13] jovany-wang commented on #16638
Upgraded guava, commons-io and snakeyaml in #16650
I'm going to create a new PR for log4j because it's a bit complex than others.

[2021-06-24 12:57] felipeeeantunes opened #16654 "[RLLib][PPO] Gradients returning None when loss does not depend on certain variables"
I noticed that when clipping the gradients [here](https://github.com/ray-project/ray/blob/ef97bdd407120105c7da0db0c51a3ad722010acb/rllib/agents/ppo/ppo_tf_policy.py#L200), the PPO returns `None` when the loss does not depend on certain variables (in this my case, training Marwil with beta=0 using FrozenLake-V0 offline data generated by a DQN agent).

The `None` value leads to the following error,

[2021-06-24 13:00] iiapache opened #16655 "[rllib] Wether rllib support distributed training using parameter server"
If we want to train a model with many sparse features, it will generate huge spare embeddings, which is fairly common in recommend system field.  So is it possible supporting distributed training using parameter server in rllib?

[2021-06-24 13:23] philippeboyd commented on #16072
Any news on this? Got the same error with `1.4.0`, happens every time I have a huge cluster (1500+ CPUs)

[2021-06-24 13:48] kiranikram commented on #10884
Is this now possible (to set up the MARL communication channel)?

[2021-06-24 13:53] simenandresen opened #16656 "[autoscaler] Problem launching worker node. Fails with JSONDecodeError("Extra data", s, end)"
### What is the problem?

When running ray on a kubernetes cluster. We get the following error from time to time:

[code]

This causes endless loops of workers that tries launching but fails immediately, then causing new workers to spin up etc...

I'm using Ray 1.4.0, running on Kubernetes in GKE.

### Reproduction (REQUIRED)
I'm not sure exactly how to reproduce it since it happens quite sporadic

[2021-06-24 14:54] DmitriGekhtman commented on #16612
no luck, same thing third time

[2021-06-24 16:16] MarkProjectRepo commented on #16009
Are there any updates on this? I'm having the same issues as @bavaria95 , exact same log outputs. My use case is 2 vms inside a GCP VPC only using internal IPs

[2021-06-24 16:17] kangsan0420 commented on #16491
@Aaronyxt Thank you! I should have noticed the host :)

[2021-06-24 16:17] #16491 closed

[2021-06-24 16:18] bavaria95 commented on #16009
Made it work with Ray Client, works just as expected!

[2021-06-24 17:00] DmitriGekhtman commented on #16612
People are probably helping with  Ray summit tutorials and stuff right now, but,
help?

[2021-06-24 17:00] oroojlooy commented on #16618
Thanks for the link!

In the provided example, if I change it to:

[code]
does it consider three version of the env too?

[2021-06-24 17:04] edoakes opened #16659 "[runtime_env] Support setting runtime_env in @ray.remote decorator"
[code]

[2021-06-24 17:13] #16295 closed

[2021-06-24 17:15] mvindiola1 commented on #16618
No if you wanted to do that you could do for example:
[code]

This would create 3 experiments one where corridor_length=5 a second with it equal to 15 etc.

On the other hand with
`"corridor_length": tune.choice([5, 15, 25]),`
would randomly choose one for each of the independent trial runs if you requested for example 10 trials with tune.run(num_samples=10)

[2021-06-24 17:30] mvindiola1 commented on #15556
@zzchuman Correct

[2021-06-24 17:39] rkooo567 commented on #16612
Hey can you summarize what has happened so far?

[2021-06-24 18:15] architkulkarni commented on #16659
Duplicate of https://github.com/ray-project/ray/issues/15374

[2021-06-24 18:15] #16659 closed

[2021-06-24 18:33] deepdad opened #16661 "rllib torch_policy.py", line 357, in _compute_action_helper torch.exp(logp.float()) AttributeError: 'list' object has no attribute 'float'"
### What is the problem?

[code]

### Reproduction (REQUIRED)
`rllib train -f rllib/tuned_examples/dreamer/dreamer-deepmind-control.yaml`

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

[2021-06-24 19:29] MarkProjectRepo commented on #16009
Ray serve doesn't seem to want to connect when using Ray Client; I get the following errors one after the other when I do try:

Put failed:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/mark/.local/lib/python3.6/site-packages/ray/serve/api.py", line 696, in start
    detached=detached,
  File "/home/mark/.local/lib/python3.6/site-packages/ray/actor.py", lin

[2021-06-24 19:40] oroojlooy commented on #16618
Thanks for the example!

[2021-06-24 19:40] #16618 closed

[2021-06-24 19:45] DmitriGekhtman commented on #16612
Consistent (three times) failure of 250 node scheduling when running against Ray 1.4.0 -- this likely has little to do with Ray itself.

Details:
I ran the test against Ray 1.4.0 three times consecutively and each time got a timeout error displayed in terminal
[code]
and in command history for
```RAY_ADDRESS=auto TEST_OUTPUT_JSON=/tmp/release_test_out.json TEST_STATE_JSON=/tmp/release_test_state.j

[2021-06-24 20:38] bavaria95 commented on #16009
@MarkProjectRepo nope, didn't have this one.
Which Ray version do you use?

I just run it with:
[code]

Using some nightly build (aka 2.0.0.dev0) of Ray

[2021-06-24 21:43] #16176 closed

[2021-06-24 22:35] #13500 closed

[2021-06-24 22:54] richardliaw commented on #16369
i think you need to do something like `del actor`

[2021-06-24 22:58] DmitriGekhtman commented on #16072
Hi there -- apologies for the delay. I will look into adding the relevant retry logic to the autoscaler.
In the meantime, you can set the env variable `AUTOSCALER_NUM_FAILURES` to `inf` by placing an export right before the head's ray start command in the cluster yaml.
The relevant modification to Ray's gcp defaults would be
[code]

That will ensure the autoscaler doesn't terminate after reaching

[2021-06-24 23:21] rkooo567 commented on #16612
@ericl Given this issue exists in 1.4, why don't we unblock it and investigate it later? i think we should at least bisect between 1.3 & 1.4 or fix the flakiness of tests (which we should eventually do because the nightly dashboard will fail by this)

[2021-06-24 23:57] #14047 closed

[2021-06-25 00:15] yulinzhang commented on #1677
This question is also relevant, if we want the redis server, created by `ray start --head`, to only listen to a particular ip for security reasons. Is there any solution for that?

[2021-06-25 04:54] #14020 closed

[2021-06-25 04:54] #14041 closed

[2021-06-25 04:54] #14015 closed

[2021-06-25 04:54] #13980 closed

[2021-06-25 05:59] #16246 closed

[2021-06-25 07:14] Nickhodem opened #16670 "[rllib] MARWIL memory leaking"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.4.0, Python3.7, Ubuntu 18.04

MARWIL still has a problem with memory leaks. During the training, the process is using more and more memory, and finally, it crashs with error:
[code]

I'm aware about issues: [#11754](https://github.com/ray-project/ray/issues/11754), [#9961](https://g

[2021-06-25 09:39] #15944 closed

[2021-06-25 11:21] krfricke commented on #16197
Hi @lucaguarro, unfortunately I cannot reproduce your issue. Your colab output looks like this to me:

<img width="909" alt="Screen Shot 2021-06-25 at 12 20 03 PM" src="https://user-images.githubusercontent.com/14904111/123417529-c53c7980-d5af-11eb-9af5-70bc27af8201.png">

And on a fresh colab with a basic example, both reporters work for me, too. Can you send me a screenshot or so?

[2021-06-25 11:32] krfricke commented on #16197
The weird thing here is that you even specify a CLIReporter, which should not produce any jupyter table output at all. I'm wondering if this is actually caused by W&B - do you see tables like the one I posted above in your output?

[2021-06-25 12:34] krfricke commented on #16197
Ah, I could finally reproduce it after logging in with W&B and disabling file output logging.

This seems to be a problem with W&B - they seem to detect the jupyter session, but since they log inside a Tune process, they should be logging text instead.

I'll try to work on a fix for that.

[2021-06-25 14:37] #15374 closed

[2021-06-25 14:38] #15894 closed

[2021-06-25 14:47] edoakes commented on #1677
@yulinzhang I believe you can do this by specifying the `--node-ip-address <your_ip>` flag to `ray start`.

[2021-06-25 16:24] krfricke commented on #16197
Turns out it's not wandb after all, but a hugging face progress callback. I'll file a PR on their end.

[2021-06-25 18:03] DmitriGekhtman opened #16678 "[tune][kubernetes][client] cloudpickle error"
### What is the problem?

Deploying on K8s following doc instructions and running a sample program leads to an error
[code]

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no externa