[2022-07-18 18:28] spolcyn commented on #26337
@iycheng Looks like it does still fail for me, yep. I noticed this time that it just took a very long time to connect to the cluster (several minutes) and the script hung until that point -- maybe not truly a bug then, just a performance thing on the GCS/client connection that this could be a good test case for?

Good with closing this.

[2022-07-18 19:11] DmitriGekhtman opened #26670 "[autoscaler][logs] Improve status logging"
### Description

The "ray status" logs periodically emitted by the autoscaler have the following issues:

- (biggest issue) They are emitted once per several seconds, even when the cluster status hasn't changed. This drowns out information about actual events and issues. Only log status when there is a change. The definition of "change" is TBD, but for a first cut, a literal change in the status s

[2022-07-18 19:18] pcmoritz opened #26672 "[Datasets] Raise descriptive error when expired AWS credentials are used"
### Description

When using `ray.data.read_parquet` with S3 credentials that are expired, the error message is extremely uninformative and makes it sound like there is a bug in Ray Datasets (similar to https://github.com/ray-project/ray/issues/24184 and https://github.com/ray-project/ray/issues/19799).

The error message should clearly state that the AWS credentials are expired and the user needs

[2022-07-18 19:19] pcmoritz commented on #26672
@dmatrix Can you add the error message here?

[2022-07-18 19:39] sharp-productions commented on #26660
I think the issue is more widespread than two_step_game.py.  The issue appears to affect any file in that directory using `ray.rllib.algorithms`.  I also checked carpole_lstm.py, centralized_critic.py, and rock_paper_scissors_multiagent.py.  All exhibit the same behavior.

[2022-07-18 19:59] dmatrix commented on #26672
with `anonymous`

[code]

[code]
And without the `anonymous`

# Read two Parquet files in parallel.
[code]

[code]

[2022-07-18 20:03] sharp-productions commented on #26660
Git bisect implies issue was introduced by https://github.com/ray-project/ray/commit/3815e52a61b6afe44b883d7d745fa00b599f66ca.

[2022-07-18 20:27] jianoaix commented on #26605
We can probably improve the documentation, and include the examples of how to read target subset of files, to make the API usage more clear.

[2022-07-18 20:33] #26414 closed

[2022-07-18 20:50] spolcyn commented on #26299
@iycheng As an update:
1. The OS envvar didn't seem to change the overall performance -- it crashed in similar situations (though we noticed that dead nodes were marked dead less quickly, which resulted in some issues with workers thinking actors were alive when they weren't)
2. We were able to majorly reduce CPU usage by turning on the `RAY_log_to_stderr` envvar on our worker nodes, which removed

[2022-07-18 21:01] gjoliver opened #26674 "[RLlib] Learning Release Test"
### What happened + What you expected to happen

For learning tests, we are probably not gonna fix all the long-standing learning related issues.
But should we give those important algorithms like APPO torch one more push?

### Versions / Dependencies

Master Head.

### Reproduction script

see releases/rllib/learning_test/

### Issue Severity

High: It blocks me from completing my task.

[2022-07-18 21:03] gjoliver opened #26675 "[RLlib] Long running APEX test"
### What happened + What you expected to happen

Test should not OOM.

### Versions / Dependencies

Master, HEAD

### Reproduction script

https://github.com/ray-project/ray/blob/master/release/long_running_tests/workloads/apex.py

### Issue Severity

_No response_

[2022-07-18 21:05] spolcyn commented on #26337
This works on master (resolved sometime between 1.3 and now), thanks to @iycheng for helping debug

[2022-07-18 21:05] #26337 closed

[2022-07-18 21:39] #26664 closed

[2022-07-18 21:53] simon-mo opened #26679 "[Serve] [Release] `serve_autoscaling_multi_deployment` is failing"
This release tests has only 42% success rate the past week.

From @architkulkarni

[code]

Error:
[code]

[2022-07-18 21:54] simon-mo commented on #26679
@architkulkarni will add a PR to do more debugging and I'll take over once PR exists.

[2022-07-18 22:25] koushikam opened #26683 "Dataloader issue with ray.tune.run"

[2022-07-18 22:45] krfricke commented on #26658
Just for planning, do we expect to get this in for 2.0 or not? If not we will try to find a workaround in the downstream libraries before release

[2022-07-18 22:47] sharp-productions commented on #26660
It's still in the repo.  QMixConfig is located [here](https://github.com/ray-project/ray/blob/257e67474cbdaed3acf9049d27a6e540dd822f94/rllib/algorithms/qmix/qmix.py#L29).

[2022-07-18 22:50] AmmarRashed commented on #26660
Yeah, but how to import it if "algorithms" is not found?
and even if you import ray.rllib.agents.qmix it is not there.

[2022-07-18 23:24] rokrokss opened #26687 "[Train] feature request for catboost_ray"
### Description

we're using xgboost_ray and lightgbm_ray with satisfaction, are there any plans for catboost_ray?

### Use case

_No response_

[2022-07-18 23:41] iycheng commented on #25963
@SongGuyang I think the dashboard doesn't necessary need to be the component to control this. My use case is that it seems more flexible and easier to use. Also very friendly to k8s env.
Right now, dashboard serves as a router and service discovers module. But in k8s env, it's actually not very necessary. These can be done by k8s operator and services.
Maybe we should give dashboard and agent a be

[2022-07-19 00:12] dmatrix opened #26693 "[Ray AIR : Trainer] Code Sample fails with a stack trace"
### Description

The [code sample](https://docs.ray.io/en/master/ray-air/key-concepts.html#trainers) in from Ray AIR for Trainers is failing in the master. This is part of the quick start guide for Ray AIR.
The `preprocessor` works fine. It reads data off the S3 bucket. The next section is to configure the Trainer, where all
breaks loose.

[code]

Results in the following stack trace in the master

[2022-07-19 00:20] richardliaw commented on #26693
Do you need to rebuild ray?

[2022-07-19 00:30] DmitriGekhtman commented on #26535
I'd propose eliminating the upscaling delay by default. In fact, I was planning to make that change for KubeRay in the immediate future.

[2022-07-19 00:31] DmitriGekhtman commented on #26535
https://github.com/ray-project/kuberay/issues/359

[2022-07-19 00:43] dmatrix commented on #26693
I did rebuild and reinstall install it from my dev environment, if that's what you mean?

[2022-07-19 00:49] holdenk commented on #26605
That does help. I think, from my perspective, even just making the naming consistent, e.g. I looked how to set a `FileExtensionFilter` after I ran into this error, but the CSV reader  calls the file extension filter a `partition_filter` (which... doesn't make sense to me? it's not filtering partitions).

[2022-07-19 00:53] iycheng opened #26697 "[core] test_failure_3.py failed on windows."
### What happened + What you expected to happen

When GIL is released, windows test starts to fail on the newly added tests. We need to understand why.

https://github.com/ray-project/ray/pull/26696

### Versions / Dependencies

master

### Reproduction script

https://github.com/ray-project/ray/pull/26696

### Issue Severity

_No response_

[2022-07-19 00:55] ckw017 opened #26698 "[ray.util.metrics] Fail loudly when a Histogram is made with a non-positive boundary"
### Description

Metrics for this script silently break, because it has a boundary <= 0. It would be nice if we broke extremely noisily in this case.

[code]

### Use case

To help preserve the sanity of users

[2022-07-19 00:56] ckw017 commented on #26698
cc @danielwen002

[2022-07-19 00:57] #26672 closed

[2022-07-19 01:30] rkooo567 commented on #26658
We don't have a plan to support it before 2.0. What's the side effect of not doing this by 2.0?

[2022-07-19 01:30] rkooo567 commented on #26658
and what's the workaround?

[2022-07-19 03:28] dmatrix commented on #26693
I had to rebuild and reinstall it. It seems to run with stack trace:

[code]

[2022-07-19 09:21] krfricke opened #26707 "[air/train] Multi GPU training occupies more memory memory on first GPU"
### What happened + What you expected to happen

This is a 4 node, 4 GPUs per node setup. I'm running a [GPU benchmark script](https://github.com/ray-project/ray/blob/16500901808923125e18e9cb248456491aec402e/release/air_tests/air_benchmarks/workloads/torch_benchmark.py#L209-L239) comparing training with Ray AIR and Vanilla PyTorch.

When training with Ray AIR, the GPU with ID 0 on the head node oc

[2022-07-19 10:27] LjessonS commented on #23109
I also met the same problem

[2022-07-19 15:03] rohit-annigeri opened #26714 "Ray component: Tune S3 sync failure on restore_from_object"
### What happened + What you expected to happen

In ray tune 1.13 I am facing an error I had not previously seen in 1.12. This error prevents tune from loading from checkpoints when using e.g. PBT

The error is as follows when using SyncConfig in tune.run with an pre existing s3 bucket
[code]

Using the reproduction script below should see the same error
[code]

After some digging around I found d

[2022-07-19 15:10] rohit-annigeri commented on #26714
The fix is to change the "and" in
`if self.uses_cloud_checkpointing and self.sync_function_tpl:`
to
`if self.uses_cloud_checkpointing or self.sync_function_tpl:`
in
`ray/python/ray/tune/trainable.py`

[2022-07-19 15:36] TingkaiLiu commented on #26087
I have submitted a PR:
https://github.com/ray-project/ray/pull/26715

Feel free to further edit the document or move it around in the doc structure!

[2022-07-19 16:27] scv119 opened #26718 "[Nightly test] Long_running_many_ppo is failing"
### What happened + What you expected to happen

nightly test failing, this is a release blocker, please investigate.

### Versions / Dependencies

lastest ray.

### Reproduction script

https://b534fd88.us1a.app.preset.io/superset/dashboard/19/?native_filters_key=uZ0g7-JWHEQTDaVGtfmkoWhdI2sOJP-OHtDVpeA-euFIQWgBYzXjQAmDmHi_74ag

### Issue Severity

High: It blocks me from completing my task.

[2022-07-19 16:29] edoakes commented on #26535
@DmitriGekhtman sounds good, I will rely on you to follow up on that. For the immediate term we plan to go with option 1 and document the limitation/recommendation clearly.

[2022-07-19 16:29] scv119 opened #26720 "[ML][nighly-test] Train_horovod_multi_node_test is failing"
### What happened + What you expected to happen

this is a release blocker, please triage.

### Versions / Dependencies

latest ray

### Reproduction script

https://b534fd88.us1a.app.preset.io/superset/dashboard/19/?native_filters_key=eEV0-NhAr6leVqaXtREv9Dac9epk5cVV-ZIJm-27j0EUa9wjk6jlLBxz_olU2qTM

### Issue Severity

High: It blocks me from completing my task.

[2022-07-19 16:31] scv119 opened #26722 "[ML][Nightly-test] tune_scalability_network_overhead is failing"
### What happened + What you expected to happen

please investigate, this is a release blocker.

### Versions / Dependencies

latest ray.

### Reproduction script

https://b534fd88.us1a.app.preset.io/superset/dashboard/19/?native_filters_key=eEV0-NhAr6leVqaXtREv9Dac9epk5cVV-ZIJm-27j0EUa9wjk6jlLBxz_olU2qTM

### Issue Severity

High: It blocks me from completing my task.

[2022-07-19 16:31] scv119 commented on #26722
@jiaodong @matthewdeng please triage.

[2022-07-19 16:32] #26675 closed

[2022-07-19 16:33] scv119 opened #26723 "[Serve][nightly test] Serve_single_deployment_1k_noop_replica is failing"
### What happened + What you expected to happen

This is a release blocker, please investigate and triage.

### Versions / Dependencies

latest ray

### Reproduction script

https://docs.google.com/document/d/17hK2ZAEGRgF-JIticPSBZYumoTMQby7D8891KbVAVsM/edit#

### Issue Severity

High: It blocks me from completing my task.

[2022-07-19 16:34] scv119 opened #26724 "[ML][nightly-test] Long_running_horovod_tune_test is failing"
### What happened + What you expected to happen

This is a release blocker, please triage.

### Versions / Dependencies

latest ray

### Reproduction script

https://b534fd88.us1a.app.preset.io/superset/dashboard/19/?native_filters_key=eEV0-NhAr6leVqaXtREv9Dac9epk5cVV-ZIJm-27j0EUa9wjk6jlLBxz_olU2qTM

### Issue Severity

High: It blocks me from completing my task.

[2022-07-19 16:34] scv119 commented on #26724
@matthewdeng @jiaodong please triage

[2022-07-19 16:51] jiaodong commented on #26722
@scv119 i think this test is just flaky, it consistently passed in past week except one timeout

https://b534fd88.us1a.app.preset.io/superset/dashboard/19/?native_filters_key=p_QMoBOhMHSwORBahYtwpNhnb0bNjUPpdA0PySa_XK6EyoUVr5D_sj7V4NbLt-Vo

And it's passing in past two days again.

[2022-07-19 16:52] gjoliver commented on #25652
I like the idea.
@christy, do you have time to make this small change?

[2022-07-19 17:18] pengzhenghao commented on #11970
same bug...

Can't make custom LSTM model work..

[2022-07-19 17:19] amogkam commented on #26707
@krfricke can you try adding a `torch.cuda.set_device(ray.train.torch.get_device())` at the beginning of the training function?

[2022-07-19 17:28] matthewdeng commented on #26707
@JiahaoYao FYI seems related to the issue you saw with Horovod(?)

[2022-07-19 17:40] alex-treebeard commented on #26064
I'm facing this on ray `1.3.0` with kuberay on `781eed1`.

Happy to test a fix. Also keen to know about simple workaround (right now I just exec into the pod and create the file so I can try out the autoscaler)

[2022-07-19 17:41] krfricke commented on #26707
@amogkam confirmed this removes the double memory allocation. On my first try the run hung forever though, on second run it worked. Waiting now for the full benchmark to pass to confirm.

Can we do this automatically in the torch trainer?

[2022-07-19 17:47] amogkam commented on #26707
Nice! yes we can do this automatically, will make a quick PR for this.

[2022-07-19 18:13] krfricke commented on #26707
With this change training takes forever now:

Before:

[code]

After:

[code]

GPU utilization is also at 100% during the whole training run, while it was at ~50% before and still is for vanilla training. I also believe that vanilla training is mostly slowed down due to left over utilization of the GPUs (but not sure about this).

Anyway, removing the line again speeds everything up again.

Does t

[2022-07-19 18:16] krfricke commented on #26707
After removing the line (same cluster):

[code]

[2022-07-19 18:21] scv119 opened #26727 "[AIR][Nighly-test] Air related release tests are failing"
### What happened + What you expected to happen

a bunch of air tests are failing. one of the test failed like following:

2022-07-18 23:08:26 | air_benchmark_tensorflow_mnist_cpu_1x4 | AIR tests | ml | false | error | 40 | https://buildkite.com/ray-project/release-tests-branch/builds/793#0182137e-3f45-45e8-9576-f0d71968c449 | https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_m

[2022-07-19 18:23] krfricke commented on #26707
Ah I believe it's because presumably the data loaders are packed onto the GPU.

[2022-07-19 18:29] rickyyx commented on #25367
Yeah, I agree - I think it's essentially the combination of below configs on server and client according to this [grpc doc](https://github.com/grpc/grpc/blob/HEAD/doc/keepalive.md#faq)
- GRPC_ARG_KEEPALIVE_PERMIT_WITHOUT_CALLS
- GRPC_ARG_KEEPALIVE_TIME_MS
- GRPC_ARG_HTTP2_MIN_RECV_PING_INTERVAL_WITHOUT_DATA_MS

However, I am struggling to ping down the exact server/client, do you have any idea on

[2022-07-19 18:35] richardliaw commented on #26727
I think this is because we merged #25712 and introduced some race condition.

[2022-07-19 18:35] richardliaw commented on #26727
All of the tests fail with the same problem.

[2022-07-19 18:43] architkulkarni opened #26729 "[Ray Client] [runtime env] Env hook not compatible with Ray Client"
### What happened + What you expected to happen

Using an env_hook with Ray Client would only execute the env_hook on the server side (a Ray cluster machine). An env_hook defined on the client side would never be executed. But the main problem is with the server-side env_hook.

Consider the simple example where the env_hook rewrites the working_dir or py_modules with a local directory.

Currently,

[2022-07-19 18:47] JiahaoYao commented on #26707
my experience is logged here: https://github.com/Lightning-AI/lightning/issues/13665 and https://github.com/ray-project/ray_lightning/issues/181 @krfricke @matthewdeng

[2022-07-19 19:15] jianoaix opened #26733 "[Datasets] Revamp the release/nightly_tests/dataset/pipelined_training.py"
This test tries to simulate the real workload from users. Right now it's a bit off and we need to make the setup more realistic.

Some feedbacks:
- The batch size 250k is too large: 8-50k is more close to real case
- Need larger number of files: currently we run at about 1000 files, but we'd stress it up to 20k files
- Need larger number of columns: e.g. 200 double columns, or 2 vector columns wit

[2022-07-19 19:32] iycheng commented on #26299
Synced offline with @spolcyn and the root cause is about a SIGTERM sent from ray operator to the head node.

And the cluster is not backed by a storage, so GCS loses all the information of the raylet.

Then raylet exits since it's marked as dead by GCS (GCS doesn't recognize it).

Lower the priority to p1 given that it seems not a release blocker. Feel free to change it back.

[2022-07-19 19:33] richardliaw commented on #26707
What does this mean?

[2022-07-19 19:56] richardliaw commented on #26724
This passed today.

[2022-07-19 20:05] gjoliver commented on #26718
this test actually has 5/7 ~= 70% success rate.

[2022-07-19 20:15] DmitriGekhtman opened #26736 "[autoscaler][legacy kubernetes operator] Support prometheus metrics in Helm chart"
### Description

See https://ray-distributed.slack.com/archives/CN2RGCHRR/p1658176582684209 in the Ray Slack.

### Use case

Make it possible for K8s users to access prometheus metrics.

[2022-07-19 20:32] DmitriGekhtman commented on #26064
Do you mean `Ray 1.13.0`?

@alex-treebeard could you confirm the image used by the autoscaler container from `kubectl get pod <head-pod>`?

[2022-07-19 20:34] DmitriGekhtman commented on #26064
Could you also share the stack-trace?

[2022-07-19 20:57] ArturNiederfahrenhorst commented on #26674
#26579 related

[2022-07-19 20:57] ArturNiederfahrenhorst commented on #26579
Related: #26674, #26150 , #26152 and #26153.

[2022-07-19 21:01] rohan-r-kulkarni opened #26740 "TypeError: 'NoneType' object is not callable in _resume_span in tracing_helper.py"
### What happened + What you expected to happen

I am writing a PPO training algorithm in RLlib on my custom environment. Everything works fine and increasing rewards are observed over training runs, but at the end of my script, I get the following error:
Exception ignored in: <function RolloutWorker.__del__ at 0x7f987c5da430>
Traceback (most recent call last):
  File "/opt/conda/envs/AstroCraft/l

[2022-07-19 21:03] jiaodong commented on #26722
This test's weekly version has been failing since 6/18 but mostly due to its aggressive timeout of 15mins but meanwhile requesting 100 hosts to run. I will submit a PR and increase its timeout.

The nightly version with 20 hosts finishes consistently, which I would take it as signal of codebase healthiness, mostly larger scale stability.

[2022-07-19 21:35] christy commented on #25652
Hi @vlainic ,
Just checking if I understand this right.  You're suggesting addling these links to [docs page](https://docs.ray.io/en/latest/rllib/rllib-models.html#variable-length-parametric-action-spaces):

1. Add link from text “just the masking” to https://github.com/ray-project/ray/blob/master/rllib/examples/models/action_mask_model.py#L69 (since Torch models are our default)
2. Add link from

[2022-07-19 21:42] gjoliver commented on #25652
@christy, I think it's simpler than that.
we just need to link the text "just the masking" in this page https://docs.ray.io/en/latest/rllib/rllib-models.html#variable-length-parametric-action-spaces to this example (without line #), https://github.com/ray-project/ray/blob/master/rllib/examples/models/action_mask_model.py

[2022-07-19 22:09] christy commented on #25652
It looks to me like we only have runnable examples for the “just action embeddings" case.  Both of these examples?

https://github.com/ray-project/ray/blob/master/rllib/examples/parametric_actions_cartpole.py 
 https://github.com/ray-project/ray/blob/master/rllib/examples/parametric_actions_cartpole_embeddings_learnt_by_model.py

Should we change the text to be clearer?

OLD
Depending on your use

[2022-07-19 22:14] richardliaw commented on #26720
Sorry this passed today; we can close this. (Closed the wrong test).

[2022-07-19 22:14] #26720 closed

[2022-07-19 22:15] richardliaw commented on #26720
https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_mWECugke9RzMh79BZQqeykjN/clusters/ses_BrvUPqWndghFkzZaG35YDuqE

[2022-07-19 22:34] avnishn commented on #26410
@jiaodong https://github.com/ray-project/ray/pull/26744

fix for the offline rl examples

[2022-07-19 22:36] avnishn commented on #26579
closed via https://github.com/ray-project/ray/pull/26586

[2022-07-19 22:42] avnishn commented on #26580
this pr https://github.com/ray-project/ray/pull/26691 should close this our

[2022-07-19 23:16] #26580 closed

[2022-07-19 23:41] DmitriGekhtman commented on #26670
Going to tentatively assign @wuisawesome, who is free to reject the assignment :)

[2022-07-19 23:42] #26528 closed

[2022-07-19 23:51] DmitriGekhtman commented on #26064
https://github.com/ray-project/kuberay/pull/391 should fix this

[2022-07-20 00:07] alanwguo commented on #22027
@DmitriGekhtman , have you been able to repro this using a kuberay cluster? (High CPU usage).

[2022-07-20 00:11] #26722 closed

[2022-07-20 00:12] DmitriGekhtman commented on #26064
For extra safety, https://github.com/ray-project/ray/pull/26748 should also fix this.

[2022-07-20 00:17] DmitriGekhtman commented on #22027
No, just heard rumors.
Will trying submitting a ton of tasks or something to see if it triggers the issue.

[2022-07-20 00:22] avnishn opened #26750 "[RLlib] Gym upgraded to 0.25. Breaks release tests where gym wasn't pinned"
### What happened + What you expected to happen

read title

### Versions / Dependencies

maste

### Reproduction script

n/a

### Issue Severity

High: It blocks me from completing my task.

[2022-07-20 00:25] wuisawesome opened #26751 "[core] Scheduling actors that shouldn't be placeable"
### What happened + What you expected to happen

Imagine I have a 1-cpu cluster. I schedule a. `ray.remote(num_cpus=1)` actor. Now there are no available resources. Now I schedule an actor with `@ray.remote(num_cpus=None)`. There shouldn't be placement resources!!! Should there?

### Versions / Dependencies

Ray 1.13

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-07-20 00:32] avnishn commented on #26750
https://buildkite.com/ray-project/release-tests-pr/builds/10136

[2022-07-20 00:32] avnishn commented on #26750
https://github.com/ray-project/ray/pull/26752

[2022-07-20 00:59] alanwguo commented on #13892
This has been fixed.

[2022-07-20 00:59] #13892 closed

[2022-07-20 03:35] JiahaoYao opened #26761 "[Core] negative resources"
### What happened + What you expected to happen

[code]

Hi @rkooo567, i observed this again.

### Versions / Dependencies

ray 3.0.0

### Reproduction script

N/A

### Issue Severity

Low: It annoys or frustrates me.

[2022-07-20 03:56] richardliaw opened #26762 "[docs] table formatting to be condensed"
### What happened + What you expected to happen

if you look at this page, the table ends up being represented pretty poorly.

https://docs.ray.io/en/master/ray-air/benchmarks.html#xgboost-batch-prediction

is there a way we can have the table wrap more compactly, or do we have to reduce it to 3 columns?

### Versions / Dependencies

master

### Reproduction script

master

### Issue Severity

Med

[2022-07-20 04:56] jianoaix opened #26766 "[Datasets/Core] Cannot serialize DatasetPipeline created by rewindow"
On master branch with following repro script:
[code]
It will hit the following error:
[code]

[2022-07-20 05:07] iycheng opened #26767 "[core] .options documentation is missing."
### Description

[code]

From the help, there is no way to tell what's the options there.

### Link

_No response_

[2022-07-20 05:37] vlainic commented on #25652
Yes, @gjoliver that was my initial idea, very simple - w/0 the lines and only action masking link. However @christy proposal is also fine with me 😄

[2022-07-20 06:09] iycheng opened #26772 "[core] Actor call hanging when actor died."
### What happened + What you expected to happen

https://gist.github.com/simon-mo/1d53713e65be945af722daa5807af6f8#file-app-py

This script is not supposed to hang given that it'll have multiple replicas. The application should be able to receive an error, but not hangs.

### Versions / Dependencies

master

### Reproduction script

https://gist.github.com/simon-mo/1d53713e65be945af722daa5807af6f8

[2022-07-20 06:12] iycheng commented on #26772
There are two issues observed:

1. The actor died notification is pushed late. The cause is about the GCS detect it late. Still checking about why.
2. Actor submitting hangs which shouldn't. It'll be unblocked until 1) happens.

[2022-07-20 06:14] suquark commented on #26767
Interesting. I believe it is what it was before updating `options`?  Anyway, I can fix it.

[2022-07-20 07:11] gjoliver commented on #25652
yeah, I see what you mean now @christy.
that seems good to me too. thanks.

[2022-07-20 11:55] olipinski opened #26779 "[RLLib] custom_metrics not present in the result dict for early stopping"
### What happened + What you expected to happen

Trying to use early stopping with a custom metrics will not work if the number of workers and batch size are not correctly aligned. This then gives an error like below:

`
ray.tune.error.TuneError: Stopping criteria custom_metrics/pole_angle not provided in result dict. Keys are ['episode_reward_max', 'episode_reward_min', 'episode_reward_mean', 'ep

[2022-07-20 11:57] Euraxluo opened #26780 "[Code] Node.py get_gcs_client look likes a bug"
### What happened + What you expected to happen

![image](https://user-images.githubusercontent.com/34028978/179975221-0acc8025-ea5e-435e-a7d5-790fa5c7eb54.png)

[code]

I think   it may says something like this

[code]

### Versions / Dependencies

ray 1.11.1

### Reproduction script

![image](https://user-images.githubusercontent.com/34028978/179975221-0acc8025-ea5e-435e-a7d5-790fa5c7eb54.png)

[2022-07-20 11:58] Euraxluo commented on #26780
you can see that in   https://github.com/ray-project/ray/blob/1.11.1/python/ray/node.py line:579

[2022-07-20 11:58] Euraxluo commented on #26780
you can see that in   https://github.com/ray-project/ray/blob/1.11.1/python/ray/node.py line:579

[2022-07-20 12:02] Euraxluo commented on #26780
@https://github.com/ray-project/ray/commits?author=mwtian

[2022-07-20 12:02] Euraxluo commented on #26780
@mwtian

[2022-07-20 13:11] #26119 closed

[2022-07-20 14:00] harshakokel opened #26781 "[RLlib] Restore checkpoint fails for torch 1.12.0"
### What happened + What you expected to happen

On trying to restore a checkpoint in PPOTrainer, I get `TypeError`.  I expect the restoration of the checkpoint to happen correctly.

###  Code
[code]

### Error
[code]

### RCA
On debugging, I found the error is occurring when restoring torch Adam Optimizer. The error only occurs for torch version `1.12` and not in `1.11`.  I believe this is due to

[2022-07-20 14:29] Stefan-1313 opened #26782 "[RLlib] When using `gym.spaces.Dict` as observation_space `export_model` breaks"
### What happened + What you expected to happen

When I create a custom Environment which has a `gym.spaces.Dict` as `observation_space`, I cannot export the model to TorchScript.

For this I use:
[code]

See below for full code to reproduce the issue.

When running it I get the following error:
[code]

I also included (commented) code lines to use a `gym.spaces.Box` as `observation_space`. In the

[2022-07-20 14:35] Stefan-1313 commented on #26782
I know about this issue: #26593 of a co-worker. It seems totally different, but the issue there also (only) occurs when using a `gym.spaces.Dict` as `observation_space`. The reproduction code is practically identical.

[2022-07-20 14:47] Stefan-1313 commented on #26593
I created this issue #26782 .
I can confirm that, just as for this issue, the problem occurs when using both:

- `gym.spaces.Dict` as `observation_space`
- setting `config_simple["_disable_preprocessor_api"] = True`

[2022-07-20 14:49] Stefan-1313 commented on #26782
To summarize, the problem occurs when using both:

- gym.spaces.Dict as observation_space
- setting config_simple["_disable_preprocessor_api"] = True

[2022-07-20 14:54] xwjiang2010 commented on #26724
Summary so far:
1. The test failed long before just this few weeks. Our release infra marked it green but it's really timing out before [[sample link](https://buildkite.com/ray-project/release-tests-branch/builds/662#01815684-2fb5-4d05-87ba-87698a376795)]. The timeout has different signature than the more recent hard fail though.

2. There may be some racing condition to sync trial directory to dr

[2022-07-20 15:59] SongGuyang opened #26784 "[core][runtime env] Remove code_search_path for job config and unify this functionality in Runtime Env"
### Description
Currently, we provide the job config `code_search_path`(in python/java/c++ API) for users to set the user code paths which are located in the file system of Ray cluster nodes. Actually, we should unify this functionality in the Runtime Env framework because Runtime Env already done something similar, such as `py_modules`.

The proposal is here:
- Remove the code_search_path  API fr

[2022-07-20 16:15] mwtian commented on #22518
@vrazdalovschi It seems the logspam fix is [available in gRPC 1.48](https://github.com/grpc/grpc/commit/e8ca82b9a4374c8f87c2d190509c39055deda42a), so we can try using that. Btw only Python `grpcio` should need to be upgraded. I can send out a PR.

[2022-07-20 16:26] xwjiang2010 commented on #26724
Also noticed that even though trials are constantly getting new hp configs (from better trials), their logdir tag doesn't seem to change:

[code]

although file name indicates `lr=0.2000`, that is only the initial learning rate when the trial is first started. Later it may get other lr but it's not reflected in the path name.
Also not sure if `checkpoint_000007` and `checkpoint_000020` are using t

[2022-07-20 17:36] mwtian commented on #26780
I think I get what you mean. Basically the loop should break early if GCS client initialization is successful. Will try to create a fix.

[2022-07-20 18:17] richardliaw commented on #26724
Let's deprioritize this since this test has been failing for a while but no one has complained

[2022-07-20 18:43] scv119 opened #26791 "[Core][Scheduler] proper fix placement group _max_cpu_fraction_per_node so it works with autoscaler"
### Description

As title, this doesn't work with autoscaler for now. Read https://github.com/ray-project/ray/pull/26397 for more context.

### Use case

_No response_

[2022-07-20 18:46] christy commented on #25652
closed by https://github.com/ray-project/ray/pull/26793

[2022-07-20 18:49] #26750 closed

[2022-07-20 19:41] crclark commented on #25638
We just hit this issue, too. Could you explain what problems modifying older versions of Ray would cause? As I understand it, all that needs to be done is adding stricter version bounds on protobuf so that an incompatible version won't be used.

[2022-07-20 19:44] Hoeze opened #26795 "[Core] Automatic adjustment of plasma-object-memory"
### Description

Would it be possible to automatically adjust the worker memory / object store memory fraction?

`ray.put()` should know how much memory it allocates.
Therefore, `ray` could simply adjust the ratio between object store memory and worker memory on the fly.

### Use case

I would like to use ray for spawning a `spark` cluster using `raydp`.
Here, I would like to run one large Spark e

[2022-07-20 20:03] #26064 closed

[2022-07-20 20:29] stephanie-wang opened #26796 "[Core] Batch PinObjectIDs requests from Raylet client"
### What happened + What you expected to happen

Copy-pasting from #24322, which got reverted.

During investigations for https://github.com/ray-project/ray/issues/24176, it is found that the majority of memory used by Raylet and core workers are due to gRPC client (core worker) and server (raylet) data structures for inflight PinObjectIDs RPCs. Instead of buffering the requests in gRPC, this PR c

[2022-07-20 20:30] #26767 closed

[2022-07-20 22:08] gjoliver opened #26802 "[Tune] pyarrow.fs hangs indefinitely while writing checkpoint file"
### What happened + What you expected to happen

Can be reliably reproduced when writing checkpoints to GCS. Not sure about S3.
Problem usually happens after we continuously write about 200 RLlib checkpoints, in 12 to 24 hrs of time.
There was 1 case where the job unblocked itself after 48 hrs without any intervention.

I was able to attach to the Ray node and grab a stack trace:
[code]

pretty su

[2022-07-20 22:35] rkooo567 commented on #25638
https://github.com/ray-project/ray/pull/25648 -> this was the fix for the root cause. Otherwise, you just need to avoid the grpcio version that causes this issue (which I believe was protobuf >= 3.15.3, < 4.0.0)

[2022-07-20 22:38] ericl commented on #26802
Since AIR is using pyarrow.fs separately, so this is not related to https://github.com/ray-project/ray/commit/e3bd59882db27a015520f662c2495e1e893bf40d.

If we are seeing writes hang, then we should either add timeouts around it, or try to figure out the root cause of the fs hang (could be a bug in pyarrow).

[2022-07-20 22:53] ericl opened #26806 "[GCS] Should report placement and not runtime resources to the autoscaler for scaling up"
### What happened + What you expected to happen

For actors where `num_cpus=None` (default), there is a bug where the autoscaler never scales up since for None, placement_resources={"CPU": 1} but runtime_resources={"CPU": 0}, and we currently report runtime_resources as resource demands.This means that if you run the following:

[code]

The resource demands to the autoscaler are empty {} (from ray

[2022-07-20 23:02] iycheng commented on #26772
[code]

[2022-07-20 23:20] alanwguo commented on #23680
@bkatwal , one short term workaround is to disable the dashboard by using `--include-dashboard` argument when running `ray start` but that would also make the rest API not work.  The rest api is not recommended to use because its an internal private api to power the dashboard UI.

Instead, you can use the sdk `ray.nodes` to get the node details.

[2022-07-20 23:23] alanwguo commented on #22027
1. Clean up the actor metadata LRU
2. Do not cache logs. Instead use state observability `/api/v0/logs`

[2022-07-20 23:27] rickyyx opened #26808 "[Core] [State Observability] No result for get crashing the formatting."
### What happened + What you expected to happen

`ray get actors <some none-existing actor id>`

[code]

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-07-20 23:38] #26613 closed

[2022-07-20 23:50] rickyyx opened #26811 "[Core][State Observability] Filtering not handled properly when key missing in the datum"
### What happened + What you expected to happen

[code]

### Versions / Dependencies

master

### Reproduction script

`ray list workers -f exit_type=INTENDED_SYSTEM_EXIT` when there are active workers.

### Issue Severity

_No response_

[2022-07-21 00:04] scv119 opened #26812 "[Core][Nightly] chaos_pipelined_ingestion_1500_gb_15_windows is failing consistently"
### What happened + What you expected to happen

<p dir="auto" style="box-sizing: border-box; margin-top: 0px !important; margin-bottom: 16px; color: rgb(36, 41, 47); font-family: -apple-system, &quot;system-ui&quot;, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 14px; font-style: normal; font-variant-ligatures: normal; fo

[2022-07-21 00:22] iycheng commented on #26772
GCS use heart beat to detect the failure. It's set to be 30s. So this behavior is expected right now.

[2022-07-21 00:50] karrdy89 opened #26814 "[Ray Serve] How to enable https in Ray serve"
Hello.
I am trying to integrate ray with an existing web server that made of fastapi and uvicorn.
It uses https, and here's how to run the server.
[code]
I failed to run uvicorn as ray.remote, and while looking for a way to deploy using ray serve,
I found the following answer by @simon-mo :
https://discuss.ray.io/t/can-ray-serve-handle-https-requests/1143

Can you help me on how to handle https re

[2022-07-21 00:50] karrdy89 commented on #26814
@simon-mo

[2022-07-21 00:56] #26683 closed

[2022-07-21 02:42] Euraxluo commented on #26780
ok ，i review your change ；good job，can i close？

[2022-07-21 02:56] rkooo567 opened #26820 "[State Observability] Support filter None value"
### Description

Sometimes, some states have an optional value (e.g., exit_type from `ray list workers`). We should allow to filter by None.

### Use case

_No response_

[2022-07-21 03:22] simon-mo opened #26822 "[CI] `linux://python/ray/serve:test_standalone2` is failing/flaky on master."
- e043f49957a16c706d269fa0658c314fea8a6e5a FAILED [Buildkite :serverless: Serve Tests](https://buildkite.com/ray-project/ray-builders-branch/builds/8781#01821e00-c923-48df-9d68-3a86f0756074)
- 8271406a04e380421c6226cbec1b6ea55189ea72 FAILED [Buildkite :serverless: Serve Tests](https://buildkite.com/ray-project/ray-builders-branch/builds/8779#01821dd5-8038-4c66-bd12-372707c90380)
- 7f908c408666acc2

[2022-07-21 05:43] iycheng commented on #26772
Another issue is that the client side is not aware of the server side shutdown. So the request is pending for a very long time.

[2022-07-21 06:07] KepingYan opened #26825 "[Core] Ray cluster will crash after the program is executed several times"
### What happened + What you expected to happen

This crash occurs after the code runs several times:
[code]
Then I look into `/tmp/ray/session_latest/logs/gcs_server.err`, and its content is also:
[code]
This problem may be related to [[tune] A worker dies after 1000 samples](https://github.com/ray-project/ray/issues/11309), So I used 'ulimit -n xx' based on the comments. When I set 'ulimit -n 10

[2022-07-21 07:01] ddelange commented on #23322
@DmitriGekhtman I'll close with reference to https://github.com/ray-project/kuberay/issues/308

[2022-07-21 07:01] #23322 closed

[2022-07-21 07:25] #13660 closed

[2022-07-21 07:25] kevin1zc commented on #13660
Problem already fixed in newer versions

[2022-07-21 09:17] krfricke commented on #26802
The relevant change was introduced here: https://github.com/ray-project/ray/commit/1465eaa30634c189fe3ebc9db8609f47d19a78cc#diff-e1d889098f6b27e0d88ba206b0689d77c1a320d58697d98933decde97fd3cac8R486

How large are the checkpoints? And how many files?

I agree we should probably add a timeout around it, but I'm wondering how we should configure this. Maybe with an env variable

[2022-07-21 10:13] Manuscrit commented on #26781
You can find fixes here: https://github.com/ray-project/ray/issues/26557

[2022-07-21 13:01] krfricke opened #26828 "[core/tune] Actor tasks hangs forever after pystan compilation failed"
### What happened + What you expected to happen

A proprietary tune training script is using orbit and pystan to fit prediciton models using Ray Tune.

As part of the model fitting, pystan compiles a C++ model:

[code]

this sometimes fails:

[code]

These compilation issues can come up multiple times. Eventually we get the message:

[code]

indicating that something happened on the node, e.g. the

[2022-07-21 13:15] smorad commented on #19976
For those reading now, you need to do the following in your config for PPO to work correctly with recurrent models:

[code]

[2022-07-21 13:34] mvindiola1 commented on #19976
@smorad,

Did the way horizon works change?  My understanding from looking at it in the past was that horizon would terminate the episode. What if the max_seq_len is shorter than the episode length?

[2022-07-21 13:50] spolcyn commented on #26828
@iycheng This issue is possibly another instance of https://github.com/ray-project/ray/issues/26772, https://discuss.ray.io/t/ray-actor-remote-call-blocks-forever/6820/5, https://github.com/ray-project/ray/issues/24419

[2022-07-21 14:48] harshakokel commented on #26781
Thank you!

[2022-07-21 15:10] #26729 closed

[2022-07-21 15:24] Stefan-1313 commented on #13337
Hi @mvindiola1 ,
I have the same problem. How do I get the `policies` dict you metion?

[2022-07-21 15:50] AmmarRashed commented on #26653
I think it probably has to do with the learning rate, especially the critic learning rate.

[2022-07-21 15:52] rkooo567 opened #26832 "[State Observability] Improve ray list job implementation."
### Description

`ray list jobs` currently only display jobs that are submitted by the job submission. We should
1. [P0] Display all drivers information as well.
2. [P0] Add `submission_id` following this PR https://github.com/ray-project/ray/pull/25902
3. [P1] Enhance the driver state (e.g., execution time, additional states like ERRORED)

### Use case

_No response_

[2022-07-21 15:52] Manuscrit opened #26833 "[RLlib] R2D2(LSTM) not working with zero_init_states False and burn_in 0"
### What happened + What you expected to happen

The sample batches sent for training get the batch size of their states_in wrong some of the time. This seems to be caused by `timeslice_along_seq_lens_with_overlap`.

### Versions / Dependencies

RLlib 1.12
PyTorch 1.13 (MacOS M1)

### Reproduction script

A temporary solution is to use
"zero_init_states": True
Or to use
"burn_in" > 0

Here are pos

[2022-07-21 16:38] krfricke commented on #26599
Just just came off a debugging sesssion.

Results:

1. The script does work on AWS EC2 instances (distributed workers)
2. The script does not work on the k8s cluster when the Ray actors
3. The script does work on the same k8s cluster when we force all Ray actors onto the same node

This thus seems to be a communication issue on kubernetes pods.

We'll try to repro this on our side to see if we can

[2022-07-21 16:50] #26707 closed

[2022-07-21 17:03] #22518 closed

[2022-07-21 17:12] triciasfu opened #26835 "[Ray Dashboard] Add which node is head node"
### Description

- on the main page, add which node is head node [See below]
![image](https://user-images.githubusercontent.com/5885045/180273508-4695b801-987e-418e-bc00-08526031bc9e.png)

- Not sure what the current behavior of the ant dashboard but would be nice if we could pin the head node as the first row

### Use case

_No response_

[2022-07-21 17:24] DmitriGekhtman commented on #26599
By default everything is open within a K8s cluster. @Anando304 do you know of any network restrictions that might be relevant here?

@krfricke sure, could you grab a time on my calendar? We can go through it together.

[2022-07-21 17:40] simon-mo commented on #26814
Can you say more why the first approach (using nginx or caddy) doesn't work? It's much more recommended approach because it deal with renewing certs nicely.

[2022-07-21 17:54] simon-mo commented on #26822
can repro locally for
[code]

however it is definitely flaky

[2022-07-21 18:04] #21296 closed

[2022-07-21 18:20] scv119 opened #26839 "[ML][Nightly test] investigate Train_horovod_multi_node_test failure"
### What happened + What you expected to happen

looks latest run of train_horovod_multi_node_test failed
[https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_mWECugke9RzMh79BZQqey[…]iw8usrQ57b1M9Y?command-history-section=command_history](https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_mWECugke9RzMh79BZQqeykjN/clusters/ses_PJhVcb8q71iw8usrQ57b1M9Y?command-hi

[2022-07-21 18:22] bveeramani opened #26840 "Disable outputs during doctest"
### Description

Ray outputs non-deterministic text.

For example, loading bars
[code]

And dates
[code]

This means we have to `# doctest: +SKIP` many lines.

However, if we disable non-deterministic text outputs during doctests, we could actually test our docstring examples.

### Link

N/A

[2022-07-21 18:30] bveeramani commented on #26840
Turns out this is sort-of a non-issue.

[2022-07-21 18:30] #26840 closed

[2022-07-21 18:39] scv119 opened #26842 "[ML][Nightly-test] ml_user_(horovod/ray)_user_tests are failing"
### What happened + What you expected to happen

following tests start failing recently, please take a look:

ml_user_horovod_user_test_latest | 0.8571 | 6 | 7 | ml
ml_user_horovod_user_test_master | 0.8571 | 6 | 7 | ml
ml_user_ray_lightning_user_test_latest | 0.8571 | 6 | 7 | ml
ml_user_ray_lightning_user_test_master | 0.8571 | 6 | 7 | ml

2022-07-20 22:58:41 | ml_user_horovod_user_test_latest |

[2022-07-21 18:45] daikeshi opened #26843 "[Datasets] Avro and TF.records support"
### Description

For better integration with existing data ecosystem, is it possible to support IO for avro and tf.records data storage format?

### Use case

We have a lot of existing raw feature datasets stored as Avro and TF.recoerds, and it would be nice if Ray dataset can support these two formats.

[2022-07-21 18:48] daikeshi commented on #26843
cc @martinbomio

[2022-07-21 18:55] scv119 commented on #26579
looks there are new failures: https://console.anyscale-staging.com/o/anyscale-internal/projects/prj_mWECugke9RzMh79BZQqeykjN/clusters/ses_zq3nnVGSB7d6cV7dm7Wsa788?command-history-section=command_history

[2022-07-21 19:09] alanwguo commented on #26835
@rkooo567,

Is this data easily accessible from GCS?

[2022-07-21 19:21] richardliaw opened #26848 "[air] ScalingConfig has some leftover references"
### What happened + What you expected to happen

There are still references to `ScalingConfig(dict(` for documentation and horovod test. This is the cause of failure of the horovod tests: https://github.com/ray-project/ray/issues/26839

### Versions / Dependencies

master

### Reproduction script

https://github.com/ray-project/ray/issues/26839

### Issue Severity

High: It blocks me from completi

[2022-07-21 19:28] DmitriGekhtman opened #26849 "[Core][Autoscaler] Default Ray Actor resource requirements"
### Description

The default resource usage and scheduling cost of a Ray Actor created with an unmodified `@ray.remote` is not clearly documented.

- Document the behavior clearly and explain the implications for scheduling and autoscaling.
- I have heard that the behavior is unintuitive -- fix it if so.

### Link

_No response_

[2022-07-21 19:28] DmitriGekhtman commented on #26849
cc @yiranwang52

[2022-07-21 19:29] Anando304 commented on #26599
Hey @DmitriGekhtman !

I don't believe there is any network restrictions.

I've ran `Ray Train` for a sample Tensorflow model found [here](https://docs.ray.io/en/latest/train/train.html#quick-start) on the same Kubernettes Ray Configuration that I'm currently using. That one seems to be running perfectly both with 1 actor AND more than 1 actor (distributed mode). So I think the pods are not blocke

[2022-07-21 20:34] jiaodong commented on #26842
We should switch to our s3 hosted dataset for mnist

https://s3.console.aws.amazon.com/s3/buckets/ray-ci-mnist?region=us-west-2&tab=objects

[2022-07-21 20:45] iycheng opened #26851 "[core] Bad error message when `ray get actors` failed."
### What happened + What you expected to happen

When I call get actors sometimes it crashed. Maybe because the server is not responsing. We should give better error messages instead of the traceback.
[code]

### Versions / Dependencies

master

### Reproduction script

`ray get actors  1ce495e23cb6412125d2b01000000` and sometimes it errored

### Issue Severity

_No response_

[2022-07-21 20:46] iycheng commented on #26851
@rkooo567  I think this is important given that we are building observability tools. Observability of the observability tools is also important.

[2022-07-21 20:56] #26822 closed

[2022-07-21 21:50] bveeramani opened #26857 "[Datasets] `RobustScaler` doesn't handle divide-by-zero correctly"
### What happened + What you expected to happen

For the data `[1, 2, 2, 2, 3]`, Sklearn outputs:

[code]

but we output

[code]

See repro.

### Versions / Dependencies

TK

### Reproduction script

[code]

### Issue Severity

Low: It annoys or frustrates me.

[2022-07-21 22:33] #26698 closed

[2022-07-21 22:34] rkooo567 commented on #26851
yeah we should definitely fix this by the branch cut.

[2022-07-21 22:34] rkooo567 commented on #26851
Is it possible to provide a dashboard.log when you see this happens next time?

[2022-07-21 22:35] rkooo567 commented on #26851
I have a guess, but it will help us confirming the root cause

[2022-07-21 22:36] rkooo567 commented on #26835
It's not easily accessible. You might need to tweak core to get make it work. Or you can simply finding it by matching the IP address within the API server to one of available nodes (however, there is a few cases it doesn't work)

[2022-07-21 22:48] iycheng commented on #26851
sure, I'll post it once I have this.

[2022-07-21 22:54] rkooo567 commented on #25951
@suquark do you happen to know if cloudpickle is aware of this issue and plan to fix it?

[2022-07-21 22:57] rkooo567 commented on #26226
Hey @ethanabrooks are you planning to work on this?

[2022-07-21 23:17] karrdy89 commented on #26814
The first approach is neat and works well.
However, I asked for help because the majority of my team thought that handling https requests on a web server was better than having another web server for https reverse proxy.
The first method you mentioned is our next best solution if the second method does not work well.

[2022-07-22 00:01] ethanabrooks commented on #26226
Yes absolutely! I'm sorry it's been a busy couple weeks. I actually got hung up trying to build the tests and then other things came up.

[2022-07-22 00:33] KastanDay opened #26864 "Issue on page /cluster/kuberay.html"
When following the Kuberay example documentation (to launch Kuberay in minikube) I get this error:
[code]

To reproduce, follow the instructions exactly in /cluster/kuberay.html

[code]

[2022-07-22 01:02] avnishn opened #26866 "[RLlib] Long Running IMPALA tests broken"
### What happened + What you expected to happen

gym was pinned the wrong way. just needed quotes around the gym dep.

### Versions / Dependencies

n/a

### Reproduction script

n/a

### Issue Severity

High: It blocks me from completing my task.

[2022-07-22 01:38] rkooo567 commented on #26811
I can take this over.

[2022-07-22 01:48] richardliaw commented on #26410
Let's keep this open until all the # REGRESSION flags are removed.

[2022-07-22 01:55] #26848 closed

[2022-07-22 01:57] iycheng commented on #26828
Yes, from the way it failed, it seems related. Basically if the  raylet failed, sometimes actor will hang

[2022-07-22 02:01] iycheng commented on #26828
@spolcyn  actually there are two issues here. One is about GIL which is fixed here https://github.com/ray-project/ray/pull/26421

Another one is about actor hanging in case of raylet died and this is related to grpc connection so far from my understanding.

[2022-07-22 02:08] iycheng commented on #26772
Finally figure out where does the 90s comes from. It comes from the serve and serve will kill it if it's not health

[2022-07-22 02:14] iycheng commented on #26772
Another possible mitigate is to improve the GCS <-> raylet heartbeat algorithm.

[2022-07-22 02:33] pcmoritz commented on #26864
@DmitriGekhtman Can you have a look at this?

[2022-07-22 02:42] DmitriGekhtman commented on #26864
I think we've fixed this in the master docs -- the solution is to use "create" instead of "apply."

I think we need to standardize a process for pushing typo fixes to the last release's documentation.

[2022-07-22 02:42] DmitriGekhtman commented on #26864
kubectl create -k

[2022-07-22 02:43] pcmoritz opened #26871 "[Core] Typing for .options for Ray Tasks"
### Description

Support typing for `.options`, i.e.

[code]

See the documentation for .options in https://docs.ray.io/en/master/ray-core/package-ref.html

### Use case

Make it possible to have more Ray code analyzed by a static Python type checker and also support IDE autocompletion and hints.

[2022-07-22 02:48] pcmoritz commented on #26864
@KastanDay Does using `kubectl create -k` fix it for you?

See also https://docs.ray.io/en/master/cluster/kuberay/quickstart.html (the master documentation for clusters is a moving target at the moment since we are presently working on that a lot)

[2022-07-22 03:07] iycheng commented on #26772
[code]

This process actually is dead, but somehow grpc still thing it's activate.

[2022-07-22 04:10] gjoliver commented on #26718
I am taking release blocker label off this for a few reasons:
* this test is flaky not broken.
* the reason this test is flaky seems to be memory related.
* this is more of a core stress test than RLlib test.
let me know if you guys think otherwise.

[2022-07-22 04:22] iycheng commented on #26772
[code]

Set up everything and then this kind of error.

[code]

[2022-07-22 04:29] iycheng commented on #26772
[code]

Very wired the actor is alive, but CQ does nothing

[2022-07-22 04:30] iycheng commented on #26772
There are two issues here:

1. why keepalive timeout after a long time (20m)
2. why the cq is looping forever without any useful info

[2022-07-22 04:39] iycheng commented on #26784
How about `file://` to be optional? I mean if it's lcoal file, we just `path` ?

Another thing is that we should also use code path for dir setup (prototype: https://github.com/ray-project/ray/pull/24621/files)

Could you also ensure we make this happen?

This could help us get rid of `run_functions_on_all_workers` and also avoid reading gcs for meta info. We do see core worker start slow because

[2022-07-22 04:43] SongGuyang commented on #26784
Sure, `/home/admin/app_modules` and `file:///home/admin/app_modules` are same in Runtime Env. Do you mean this?

[2022-07-22 04:49] iycheng commented on #26784
Yes,

[2022-07-22 04:51] iycheng commented on #26772
[code]
Log from the hanging actors. A deadlock seem to me.

[2022-07-22 04:54] SongGuyang commented on #26784
Do you mean that we should add user script directory to the `code_search_path` or `py_modules` automatically?

[2022-07-22 05:28] matthewdeng commented on #26718
@gjoliver in that case let's mark it as unstable? https://github.com/ray-project/ray/pull/26874

[2022-07-22 06:45] scv119 commented on #26857
@jianoaix can you help triage?

[2022-07-22 07:54] scv119 opened #26878 "[Core][Scheduler] fix task spread issue when dataset pipeline is involved."
### What happened + What you expected to happen

When we run pipelined data processing (i.e. ds.read().window().map_batch().consume()), we observed uneven spread in preprocessing/map_batch phase. We believe this is due to the short coming of the current `SPREAD` strategy where excessive spillback happens when the node is running jobs from two different stages.

As @jjyao , @rkooo567  and I discuss

[2022-07-22 13:17] rkooo567 commented on #26808
Duplicates https://github.com/ray-project/ray/issues/26851. @rickyyx I think I can take it over if you are not in progress with this.

[2022-07-22 13:17] rkooo567 commented on #26851
Duplicates https://github.com/ray-project/ray/issues/26808

[2022-07-22 13:17] #26851 closed

[2022-07-22 13:20] rkooo567 commented on #26832
@rickyyx do you think you have bandwidth to take 1&2 by the branch cut?

[2022-07-22 15:03] sirius5871 commented on #17374
I am also facing this issue and it is not possible for me to change the logging level to either `debug` or `warning` for the whole code since many of these logs are being used in downstream systems.

Is there any workaround or update on this issue?

Thanks.

[2022-07-22 15:03] johnjim0816 opened #26885 "ValueError: `callbacks` must be a callable method that returns a subclass of DefaultCallbacks, got <class 'rldm.utils.football_tools.FootballCallbacks'>[<Ray component: Core|RLlib|etc...>]"
### What happened + What you expected to happen

When I was training ppo on google football simple environment "3vs3", it appeared such problem. I knowed the "callback" in the "config" , But I donot know how to write callback correctlly, or just I have misread the "params.json"(config file)

### Versions / Dependencies

rllib==1.6

### Reproduction script

import os
os.system("sh path.sh")
import

[2022-07-22 15:25] meechos opened #26886 "[Core] Image `rayproject/ray-ml:latest-py36-gpu` broken by default"
### Missing `kopf` package from `rayproject/ray-ml:latest-py36-gpu` image

Hello guys,
I’d like to use Ray with `python 3.`6 however it seems that the rayproject/ray-ml:latest-py36-gpu image is broken by default - missing deps. I attach below a stacktrace,  in case it can be reproduced.

### Versions / Dependencies

[code]

### Reproduction script

[code]

### Issue Severity

High: It blocks me fr

[2022-07-22 16:05] JiahaoYao opened #26888 "[Ray component: AIR] adding the jax into the ray"
### Description

I Tried two approaches to include the jax in the requirements [requirements_ml_docker.txt](https://github.com/ray-project/ray/blob/master/python/requirements_ml_docker.txt) and [requirements_dl.txt](https://github.com/ray-project/ray/blob/master/python/requirements/ml/requirements_dl.txt)

---------

approach one: use the latest jax version. The latest version of the jax also requ

[2022-07-22 16:52] #26206 closed

[2022-07-22 16:52] #26207 closed

[2022-07-22 17:10] simon-mo commented on #26814
I see. In that case there are some code changes to allow these in our HTTPOptions fields. Here's an example PR doing something similar, contribution welcomed!

[2022-07-22 17:16] jiaodong commented on #26839
ah looks like Matt was already on it :) I locally verified this test passed on my workspaces and closing the issue.

[2022-07-22 17:16] #26839 closed

[2022-07-22 18:01] ericl commented on #26878
Hmm, a timeout sounds a little brittle at first glance.

What is the underlying issue with spillback? It seems like it should be ok provided that:
(1) Spillback preserves SPREAD, i.e., we randomly / round robin select the node to spill back to.
(2) We only spillback to eligible nodes, that have free CPUs.

[2022-07-22 18:20] #26579 closed

[2022-07-22 18:24] jiaodong commented on #26842
`ml_user_horovod_user_test_latest` and `ml_user_horovod_user_test_master` are verified passing on master. It turns out torchvision defaults downloading MNIST dataset from Yann Lecun's personal website so every new pytorch vision user is essentially DDOSing ...

[code]

[2022-07-22 18:38] iycheng commented on #26772
[code]

[2022-07-22 18:38] #25947 closed

[2022-07-22 18:43] jiaodong commented on #26842
i confirmed all these failed due to network flakiness and they passed on latest nightly.

[2022-07-22 18:43] #26842 closed

[2022-07-22 18:47] thatcort commented on #26396
That's an interesting point. Since Ray knows both the resources available and required by every stage in the pipeline, can't it at least determine a minimum number of actors of each type that it can keep around. Then the rest can be scaled based on backpressure?

[2022-07-22 18:50] ericl commented on #26396
Yup. You can imagine an alternative execution strategy for DatasetPipelines would be to create a worker pool (if using actors) for each stage, and autoscaling would operate at the entire pipeline level, scaling the size of each worker pool up/down. This would be an alternative / potential replacement for the current strategy of leveraging the Datasets for execution only without persistent state.

[2022-07-22 19:29] Rohan138 commented on #26667
Opened PR in #26893, closing.

[2022-07-22 19:29] #26667 closed

[2022-07-22 19:37] cadedaniel opened #26894 "[Ray clusters][docs]: Restructure docs, put filler content to compare changes against"

[2022-07-22 19:37] cadedaniel opened #26895 "[Ray clusters][docs]: Create GitHub issues for missing content (Examples / User Guides)"

[2022-07-22 19:43] #26780 closed

[2022-07-22 19:46] iycheng commented on #20082
@suquark please close this if you think it's fixed.

[2022-07-22 19:47] iycheng commented on #20515
Close given that we are not supporting virtual actor now.

[2022-07-22 19:47] #20515 closed

[2022-07-22 19:47] simon-mo commented on #26723
seems to recovered by itself.
<img width="773" alt="image" src="https://user-images.githubusercontent.com/21118851/180516653-3499b957-c159-435b-8998-8f508907405e.png">

[2022-07-22 19:47] #26723 closed

[2022-07-22 19:48] #18147 closed

[2022-07-22 19:48] #18219 closed

[2022-07-22 19:49] iycheng commented on #19481
@suquark can you help verify this to make sure it's not happening any more? If so, close this.

[2022-07-22 19:49] #18834 closed

[2022-07-22 20:04] suquark commented on #23983
progress: I am still investigating it, should have some results today or early next week

[2022-07-22 20:22] iycheng commented on #26772
The adhoc fix is working. I'll test in kuberay

[2022-07-22 21:50] rickyyx commented on #25764
I don't think this is a bug anymore? I am not able to reproduce it though.

[2022-07-22 21:52] architkulkarni commented on #26784
The API looks good to me.  I have the same question, @iycheng do you mean that the existing logic for the user script directory should internally be refactored to use the `code_search_path` command line argument, which we're keeping?

[2022-07-22 22:06] amogkam commented on #26888
Seems like jax requires a specific scipy version which is different than what we have installed in CI.

[2022-07-22 22:31] JiahaoYao commented on #26888
yes, and it also passed `scipy` >=1.5 checking.

[2022-07-22 23:08] 011235813 opened #26910 "[Core] Apparent bug with hashlib digest()"
### What happened + What you expected to happen

I'm running a basic example of parallelizing a class using Ray, and I encounter this error:

Traceback (most recent call last):
  File "test_ray.py", line 2, in <module>
    ray.init()
  File "/data/home/yang40/venv/graphenv/lib64/python3.6/site-packages/ray/_private/client_mode_hook.py", line 105, in wrapper
    return func(*args, **kwargs)
  File

[2022-07-22 23:27] architkulkarni commented on #26332
It turns out we already have a default timeout of 10 minutes, but this was added after Ray 1.13 (which was used in the original issue.)

[2022-07-22 23:34] wuisawesome commented on #24807
@slu0

[2022-07-23 00:41] mvindiola1 commented on #26660
@AmmarRashed @sharp-productions

Which version of Ray are you using?

Master has changed significantly in preparation for the next release. You either need to look at the version with the tag of your installed release version or you need to install the nightly wheels.

[2022-07-23 00:42] zoltan-fedor opened #26916 "[Serve] Support for additional ML serving hardware outside of GPUs, like AWS Inferentia"
### Description

While GPUs are great for training ML models, when it comes to serving them, they are not very cost-effective (or fast).

There are now new chips specializing on ML model inference, which are faster and a lot more cost effective than GPUs. One of those is [AWS Inferentia](https://aws.amazon.com/machine-learning/inferentia/). See stats about their throughput and costs at https://aws

[2022-07-23 00:46] sharp-productions commented on #26660
Awesome, thanks!

[2022-07-23 02:39] suquark commented on #25980
Closed by #26876

[2022-07-23 02:39] #25980 closed

[2022-07-23 05:33] scv119 commented on #26812
[code]

[2022-07-23 05:34] scv119 commented on #26812
Looks it's related to our recent change introduced by local shuffle https://github.com/ray-project/ray/pull/26094

@stephanie-wang @clarkzinzow did we change the ownership model which leads to this failure?

[2022-07-23 05:40] scv119 opened #26922 "[Core][Nightly] chaos_dataset_shuffle_push_based_sort_1tb is failing"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_KhVhrUjMDqNSs4wZTynWRU2t?command-history-section=command_history is one of the failure. looks like a logical bug?

[code]

### Versions / Dependencies

latest ray

### Reproduction script

run nightly test

### Issue Severity

High: It blocks me from co

[2022-07-23 05:43] iycheng opened #26923 "[observability] Better message for list"
### What happened + What you expected to happen

[code]

Even I use state=ALIVE it still shows `use --filter` which makes me feel that i'm not using it correctly.

We should give the correct hint messages.

### Versions / Dependencies

master

### Reproduction script

have a lot of actors and list with filter.

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-07-23 05:51] bkatwal commented on #23680
@alanwguo Thanks! I will give this a try.

[2022-07-23 16:00] fostiropoulos opened #26929 "[Core] Remote placement using gpu memory"
### Description

When running ray on machines with different type of GPU accelerators the fractional GPU placement strategy is not suitable. Instead allow for specifying mb of gpu for example.

Additionally the code is not accelerator agnostic and requires writing boiler plate code to determine the fractional gpu to be used even if all accelerators are the same for a given machine.

[code]

### Us

[2022-07-23 16:01] fostiropoulos commented on #26929
If this feature request is approved, I am happy to work on it and create a pull request.

[2022-07-23 18:04] #19481 closed

[2022-07-23 18:27] #26329 closed

[2022-07-23 19:33] pcmoritz opened #26933 "[Ray AIR] Model needs to be specified twice for TensorFlowPredictor"
### What happened + What you expected to happen

In https://docs.ray.io/en/master/ray-air/predictors.html we have

[code]
and the model needs to be specified twice. The Pytorch predictor doesn't have this problem.

This API could probably be improved by using something like https://www.tensorflow.org/tutorials/keras/save_and_load under the hood.

https://www.tensorflow.org/tutorials/keras/save_and

[2022-07-23 21:25] vaxenburg opened #26936 "[Core] Calling remote methods as local without `.remote()`"
### Description

Allow calling methods on remote actors both with and without the `.remote()` suffix.

When called with `.remote()`, the behavior is the usual one, returning a future. When called without `.remote()`, the proposed new behavior is:

[code]

That is, calling methods on remote actors as if the actors were local. I think this is also the behavior in a very similar DeepMind's library [L

[2022-07-23 21:28] scv119 commented on #26936
This is an interesting idea. any thought on this? @jjyao @rkooo567

[2022-07-24 04:07] rkooo567 opened #26939 "[State Observability] Fix the first 5 seconds delay until the head node is registered."
### What happened + What you expected to happen

When the API server starts, it queries the list of all nodes in the cluster every 5 seconds. This means after the cluster starts, for the first 5 seconds, the head node is not registered to the API server (which means the state API will output empty data for the first 5 seconds). We should fix this by immediately register the head node when the API

[2022-07-24 04:33] #26808 closed

[2022-07-24 04:33] #26811 closed

[2022-07-24 06:50] robertnishihara opened #26940 "[AIR] Failure to import ray.air, error is "ImportError: cannot import name 'Result' from 'ray.air.result'""
### What happened + What you expected to happen

I ran `import ray.air` and I expected it to succeed.

Instead, I got the following

[code]

### Versions / Dependencies

I'm using the nightly Ray with **Python 3.7.4** on **MacOS**

[code]

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-07-24 07:26] iycheng commented on #26772
Closes with https://github.com/ray-project/ray/pull/26898

[2022-07-24 07:26] #26772 closed

[2022-07-24 07:29] iycheng commented on #20797
@suquark I believe it's working. But still we need to verify this.

[2022-07-24 07:30] #18575 closed

[2022-07-24 07:31] iycheng commented on #18407
Close this given that we can just use different namespace for the workflow and it'll scale-up naturally.

[2022-07-24 07:31] #18407 closed

[2022-07-24 07:56] richardliaw commented on #26940
Thanks for the report! This was reverted in #26932 .

[2022-07-24 07:56] #26940 closed

[2022-07-24 07:56] jovany-wang opened #26941 "[Core] [DAG] Proposal on adding `build()` API for DAGNodeBase to return a DAG handle."
Ray DAG defines very useful APIs to allow users submit tasks in static DAG usage.
We should standardize the Ray DAG APIs and let users to optimize their DAG in different implementation.

I'm using the Ray DAG for building our multiple controllers execution engine based on Ray, that means our users program their applications in Ray DAG APIs, and then our engine receives the whole DAG and split it i

[2022-07-24 08:35] jovany-wang commented on #26941
@jiaodong @ericl

[2022-07-24 13:34] hellofinch opened #26945 "[rllib] pettingzoo demo failed"
I want to try rllib with the pettingzoo environment which is a multi-agent environment.
I run the demo in the project [here](https://github.com/Farama-Foundation/PettingZoo/blob/master/tutorials/rllib_pistonball.py) and it does not work.
The part of the output show below:
[code]
How can I fix it or get an executable demo?

[2022-07-24 13:36] #25652 closed

[2022-07-24 15:38] ArturNiederfahrenhorst commented on #26181
Hi @junwucs ,

I have struggled in the past with getting recsim to run on my M1. **This is not an RLlib specific problem though.**
I've now resorted to installing it with `pip install --no-deps recsim` and installing dependencies that pop up as missing when importing recsim by hand. This worked out and I am running RLlib and Recsim together.
Other developers run it together with RLlib as well.

[2022-07-24 15:38] #26181 closed

[2022-07-24 16:28] rkooo567 opened #26949 "[doc] [State Observability] Document Python APIs."
### Description

#### Python API Docs
Currently, only CLI is documented. We should document python APIs.

I think in the initial version, we can probably just document client APIs. But we might want to remove them in the future.

#### Other improvements
- [ ] Description on output/link to output scehma in doc/API intro

### Link

_No response_

[2022-07-24 18:24] jiaodong commented on #26941
At high level having a `build` makes sense as Ray DAG means to provide a way to build static computation graphs, where the next natural step is static graph analysis / inject / fusion. Ray Serve team's Deployment Graph actually already had this API to convert, replace and generate `Deployment` objects to facilitate declarative deployment of entire DAG.

A few questions of your diagram and API:
 *

[2022-07-24 18:30] DmitriGekhtman commented on #26299
The operator attempts to extract resource information from the GCS by RPC.
I think this failure mode could happen if that request fails. That in turn could happen if the request times out due to high load on the GCS.

If you haven't tried this yet, I'd suggest also increasing the operator's resource requests.

The good news for Ray 2.0.0 is that the KubeRay operator does not share the same brittle

[2022-07-24 21:10] scv119 commented on #26812
[test failed ](https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_2YFF7nnDufbQd1KfExh6fXAr ) at commit 864af14f410ab12c7553332dd3a62e716f24a667

[2022-07-24 21:11] scv119 commented on #26812
[tests running (likely passing)](https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_8FHQVXs8NKxwLptRSk2ESKnF?command-history-section=command_history) at commit 38c9e1d52aeada536a0460fba01b2633973bc989

[2022-07-24 22:25] brokensandals commented on #24575
I encountered this as well and the only workaround I've found was to set `simple_optimizer=True`

[2022-07-25 00:47] #23910 closed

[2022-07-25 02:55] #26005 closed

[2022-07-25 03:41] suquark commented on #25951
@rkooo567 yes, cloudpickle is aware of this in https://github.com/cloudpipe/cloudpickle/issues/460. But I am not sure when it is going to be fixed in the upstream.

[2022-07-25 05:59] karrdy89 commented on #26814
Thank you.
Can you give some pointers about where to add them to me?

[2022-07-25 06:16] itsmemuthu commented on #22585
Any updates on this issue.

I am also facing the same issue.

**Setup details:**
[code]

Developed a FastAPI application, initialized ray client and defined a remote function.

On invoking this function for the first time, receiving **ModuleNotFoundError**
[code]
'app' is a local module that I have in my application.

On making the next API requests after the first call, I am getting **AttributeEr

[2022-07-25 06:46] ritiksingh100 commented on #6620
I am also facing the same issue.
The code is working fine on my local system but when trying to run the same on AWs EMR cluster I am facing this issue.
Even a simple function is not running on EMR cluster.
![image](https://user-images.githubusercontent.com/102828574/180714847-c9ebdc73-79d2-4cad-9cca-dddb7669a50f.png)

Is this issue resolved?

[2022-07-25 07:33] mgerstgrasser commented on #23976
@sven1977  @avnishn Also curious if/when this will happen. We just ran into an environment (PettingZoo/SISL Pursuit) that seems to be broken with gym 0.21.0, but working with gym 0.22.0. We don't see any issue when using ray with gym 0.22.0. The PR you linked to seems to concern 0.23 - and also it looks like it's been closed without merging?
In the mean time, could the ray requirement be updated t

[2022-07-25 08:47] johnjim0816 commented on #26885
I think I have solved the case, which is because "policies" in the config must be Box(...) like a class instead of "Box(...)" like a str

[2022-07-25 08:47] #26885 closed

[2022-07-25 09:33] alex-treebeard commented on #26064
@DmitriGekhtman apologies, yes I meant `1.13.0`

I'm using an application-specific autoscaler image to guarantee that the same Python/Ray versions are used for all containers.

I will try kuberay chart https://github.com/ray-project/kuberay/commit/dc771779cf4cb3cf413915d22bcbcc41abda3ef8 with its respective [image](https://hub.docker.com/layers/operator/kuberay/operator/dc77177/images/sha256-bd690

[2022-07-25 09:35] psirenny commented on #23976
Our project is successfully using an older version of ray with gym@0.22.0. But we're prevented from upgrading because of the `gym<0.22` constraint.

[2022-07-25 10:53] SongGuyang commented on #13883
Solved by https://github.com/ray-project/ray/pull/26785

[2022-07-25 10:53] #13883 closed

[2022-07-25 10:53] SongGuyang commented on #13888
Solved by https://github.com/ray-project/ray/pull/26785

[2022-07-25 10:53] #13888 closed

[2022-07-25 10:54] SongGuyang commented on #13893
Solved by https://github.com/ray-project/ray/pull/26785.

[2022-07-25 10:54] #13893 closed

[2022-07-25 14:04] dmatrix commented on #26936
IMHO, anywhere in the APIs we can remove redundancies or unnecessary additional code helps. This is one case where it makes sense.

[2022-07-25 14:56] itsmemuthu commented on #22585
The issue is resolved.

I am posting the solution for other's reference.
1. The project or application codebase has to be present in the remote ray cluster (both head and worker) container also
2. Set appropriate environment path (if any) in Kubernetes YAML file to get the module recognized (In my case, I set PYTHONPATH to the root directory)

This solved the issue.

[2022-07-25 15:06] rkooo567 commented on #26936
Hmm in my personal opinion just making `actor.method()` blocking is prone to error (E.g., I forgot to use .remote occasionally, and if we support this, this becomes an unexpected behavior). Feel like if we support this, it should be more explicit.

[2022-07-25 15:34] vaxenburg commented on #26936
The blocking behavior is not an unexpected behavior. It is your normal synchronous way of calling methods on objects in general, outside of Ray or any other distributed setup. I'm pretty sure this normal behavior should be preserved and it should not raise an exception as it currently does. Not being able to resort to the normal blocking calls is far worse than `actor.method()` being "prone to err

[2022-07-25 15:41] scv119 opened #26966 "[Core][Nightly] datasets_ingest_train_infer failing"
### What happened + What you expected to happen

failing test: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_rFHQEVVAA3KZgi4apbnTAkcd?command-history-section=command_history
[code]

### Versions / Dependencies

latest ray

### Reproduction script

run nightly test

### Issue Severity

High: It blocks me from completing my task.

[2022-07-25 15:41] jjyao commented on #26936
@vaxenburg could you help me understand the concrete use case more? Are you saying a third party library will take an arbitrary object (actor object or normal object) and call a method of it and you want the calling style to be the same?

[2022-07-25 16:11] vaxenburg commented on #26936
Imagine I import these two classes from a library. The library doesn't know anything about Ray.

[code]

And I want to use them in my application _with_ Ray. I want this code to work without having to rewrite the library classes and/or writing a wrapper to imitate `actor.method()` calls:

[code]

[2022-07-25 16:20] richardliaw commented on #25164
This is added

[2022-07-25 16:20] #25164 closed

[2022-07-25 17:04] rickyyx commented on #26949
Is this 2.0 blocker?

[2022-07-25 17:09] #26243 closed

[2022-07-25 17:09] richardliaw commented on #26243
Initial version completed

[2022-07-25 17:10] richardliaw commented on #25961
This is done

[2022-07-25 17:10] #25961 closed

[2022-07-25 17:13] #25166 closed

[2022-07-25 17:37] lchu-ibm opened #26971 "[Workflow][Docs] Update Workflow Docs from Workflows to Workflow (removing s)"
### Description

In the past I have seen inconsistent naming for Ray Workflow in both **Ray Workflow** and **Ray Workflows** (i.e. with and without "s").

Most recently, in Ray Summit 2022 (https://www.anyscale.com/ray-summit-2022/agenda/sessions/230) it is called without s while in latest and master docs (https://docs.ray.io/en/master/workflows/concepts.htm) it is called with s.  After confirming

[2022-07-25 17:40] scv119 commented on #26966
8d7b865614f3635def12c42b653f8acd8b4ae56a is passing https://console.anyscale.com/o/anyscale-internal/configurations/app-config-details/bld_pkgTMjHxMk6ZDnwDDg3Athfa

[2022-07-25 17:51] jianoaix commented on #26857
This looks a preprocessor issue so assigning to Matt.

[2022-07-25 18:05] scv119 commented on #20837
Any update on this one? @wuisawesome

[2022-07-25 18:18] rickyyx opened #26974 "[Core][State Observability] More fine-grained exceptions/error codes handling"
### What happened + What you expected to happen

We will need to revisit our error handling methods when the alpha API gets finalized. A couple of questions:

1. How should we let users know some issues (truncation/data source not available/ call sites not enabled) happen if they choose not to have exceptions throw.
2. We should have better exception stack printing (reported by a few users already

[2022-07-25 18:20] amogkam commented on #22468
CPU ML docker images have been added back as of Ray 1.12.1

[2022-07-25 18:20] #22468 closed

[2022-07-25 18:32] bveeramani opened #26976 "[Datasets] Can't create `TensorArray` from differently-sized arrays"
### What happened + What you expected to happen

[code]

This issue is problematic because it makes it hard to read differently-sized images.

### Versions / Dependencies

**Ray**: ec1995a662b971bc5f6440a94d9c6b2258e32f2d

### Reproduction script

See above.

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-07-25 18:59] wuisawesome commented on #20837
i'm aiming to get a PR out today.

[2022-07-25 19:37] sarahperrin commented on #21781
I'm experimenting a similar issue with Ray v.1.13.0.
On my local computer, everything is working correctly but when executing my code which uses trainer.train() on a cluster (with slurm), the training takes more and more time at each iteration and I get this kind of message at some iterations:

E0402 17:39:02.274615934 3860901 backup_poller.cc:134]       Run client channel backup poller: {"created

[2022-07-25 20:17] clarkzinzow commented on #26976
Duplicate: https://github.com/ray-project/ray/issues/18316

[2022-07-25 20:41] bveeramani commented on #26976
Closing because this issue is a duplicate of #18316

[2022-07-25 20:41] #26976 closed

[2022-07-25 20:48] #25988 closed

[2022-07-25 20:49] #26714 closed

[2022-07-25 21:07] suquark commented on #23983
Actually I think this doc example already give us the solution for prefetching: https://docs.ray.io/en/latest/ray-core/actors/async_api.html#objectrefs-as-concurrent-futures-futures

Or more concretely:

[code]

[2022-07-25 21:17] iycheng commented on #26828
The bug should have been fixed. @krfricke could you give it another try?

[2022-07-25 21:27] DmitriGekhtman opened #26982 "[RFC][Autoscaler][Discussion] Cancel pending node when resource demand goes away"
### Description

After the autoscaler starts a node, the node will proceed through the entire provisioning process (possibly several minutes), even if the resource demand that triggered upscaling has already been satisfied.

Considering providing some mechanism to cancel node launch in the event that resources are no longer required.
(The existing upscaling speed parameter is not enough here.)

Se

[2022-07-25 21:52] architkulkarni opened #26984 "[runtime env] local `working_dir` doesn't work with strongly-typed `RuntimeEnv`"
### What happened + What you expected to happen

Providing a local directory for `working_dir` doesn't work when using the strongly-typed RuntimeEnv.

It raises a validation error:

[code]

The reason is that internally, Ray expects the runtime_env `working_dir` field to be a URI, so we don't validate it until the local working_dir has been uploaded to the GCS and the `working_dir` field has been

[2022-07-25 22:04] architkulkarni opened #26986 "[job submission] [runtime env] `setup_timeout_seconds` in config doesn't work with Jobs"
### What happened + What you expected to happen

The following is a valid runtime_env:
`{"working_dir": ".", "config": {"setup_timeout_seconds", 1}}`

But we get a weird exception when using it with Job Submission: `TypeError: setup_timeout_seconds must be of type int, got: <class 'generator'>
`

Define a runtime_env:
[code]
Start a Ray cluster:
[code]

Now run
[code]
OR
[code]

In either case, we

[2022-07-25 22:28] rkooo567 commented on #18053
This wasn't fixed in the master. It happens because once in 100 times, the port randomly selected for agent & metrics conflict. We need to avoid choosing a random port when it is already assigned to sth else

[2022-07-25 22:50] rkooo567 commented on #26949
Yes, but we can merge this after branch cut as a cherry pick (harmless to do that) I believe.

[2022-07-25 23:28] jianoaix commented on #26812
There was also this error at block splitting:
[code]

I wonder if there is any interaction between the owned_by_consumer (which free the block after it's been splitted), but that was added after the local shuffle PR.

[2022-07-26 00:16] ericl opened #26991 "[air] Enable actor task retries in BatchPredictor / ActorPoolStrategy"
Currently, BatchPredictor does not offer fault tolerance since we do not enable Ray actor fault tolerance (https://docs.ray.io/en/master/ray-core/actors/fault-tolerance.html). This means that inference results cannot be reconstructed on failure, limiting use at very large scales.

Fortunately, Ray core already supports stateless actor task retries. This can be enabled by setting `max_restarts` and

[2022-07-26 00:19] clarkzinzow commented on #26991
FYI [this PR](https://github.com/ray-project/ray/pull/24669) deallocates (terminates) idle actors if there's no more work to do, which is at least more eager than our current implementation.

[2022-07-26 00:21] #25764 closed

[2022-07-26 00:24] wuisawesome opened #26992 "[autoscaler/core][logging] Make autoscaler event error color red"
### What happened + What you expected to happen

The current default autoscaler error message color is painfully difficult to read on the default background.

<img width="1272" alt="image" src="https://user-images.githubusercontent.com/3980609/180896595-f63c60ea-d867-477b-a76a-c972e3897da3.png">

### Versions / Dependencies

Master

### Reproduction script

Launch a 4 CPU head node with available

[2022-07-26 00:57] scv119 opened #26994 "[Core] spilled object leaked."
### What happened + What you expected to happen

Run the workload specified in https://gist.github.com/scv119/5339b599ed14d010437c5a12d7aed96a with larger dataset (i.e. 200GB data) and cancel the job while it's spilling. you will noticed that the spilled file is leaked, even `ray memory` reports no objects.

### Versions / Dependencies

latest ray

### Reproduction script

N/A

### Issue Severity

[2022-07-26 01:10] jiaodong opened #26995 "[AIR] Significant data reading regression in Ray cluster from xgboost 100GB test"
### What happened + What you expected to happen

## Issues observed

1) We're not able to evenly distribute read tasks evenly across a cluster anymore with significant skew that lead to imbalanced memory pattern
2) Significantly increased memory cost on headnode that easily lead to OOM

Regression happend between ray commit `8ecd928c34db0b23e4aa2a4ea0c8cff25c37b413` and `aadd82dcbd6bb0a8083550ef3e

[2022-07-26 01:10] jiaodong commented on #26995
I did an experiment by pinning `pip3 install -U Werkzeug==2.1.2` on the latest run in case `Werkzeug=2.2.0` broke it, but the same issue remains.

[2022-07-26 04:30] iycheng opened #27001 "[serve] Serve failed when a lot of replicas failed."
### Description

This problem is related to serve failure model. When there are still replicas available, we should keep the successful rate as high as possible, but right now, it's not.

<img width="1417" alt="image" src="https://user-images.githubusercontent.com/74173148/180922373-2e1dcc82-266a-4dc0-87b4-3da6770cbc24.png">

The setup is https://gist.github.com/539a86f2736f970613d0c0273651ff58 an

[2022-07-26 06:15] scv119 commented on #26966
0c16619475373dca88f160b2ababaf95060ff19f is passing https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_VGu6ughcnPenqPAjwCUqKUY6?command-history-section=command_history

[2022-07-26 06:31] #26570 closed

[2022-07-26 06:31] #26923 closed

[2022-07-26 06:35] #26379 closed

[2022-07-26 07:06] scv119 commented on #26936
@vaxenburg how about create a helper wrapper to wrap around ray actor, and auto generate the sync version of the function that's internally calls to `ray.get(delegate_.foo.remote())`?

[2022-07-26 10:10] #23680 closed

[2022-07-26 10:10] #22027 closed

[2022-07-26 10:10] #24272 closed

[2022-07-26 10:12] rkooo567 commented on #26332
Have we done

However, additional errors were logged about insufficient resources, which was a red herring during debugging. -> can we make sure this error also includes runtime env?

? I think we shouldn't close it until this is supported

[2022-07-26 10:33] rkooo567 commented on #17374
You should set the logger level per task / actor's init method https://docs.ray.io/en/master/ray-observability/ray-logging.html#how-to-set-up-loggers. I think we should have some better high level APis to configure logs

[2022-07-26 10:34] rkooo567 commented on #22585
Hey @ckw017 can you verify if both fixes were expected (if so, is it documented)? It seems to be a pretty bad usability issue

[2022-07-26 10:37] rkooo567 opened #27008 "[State Observability][Log] Allow to ctrl + C when running logs API"
### Description

When we print a huge output by ray logs [glob] --tail -1, it seems like we cannot stop the command by using ctrl + C.

Ideally, we should support this

### Use case

_No response_

[2022-07-26 10:37] rkooo567 commented on #27008
cc @rickyyx do you happen to know if it is the same behavior as `cat`?

[2022-07-26 10:39] rkooo567 opened #27009 "[Core][State Observability][Log] gRPC max size limit when `ray logs --tail 1000000`"
### What happened + What you expected to happen

Run `non_streaming_shuffle_1tb_1000_partition` with a debug log on.

Run `ray logs raylet.out --tail 1000000` causes gRPC max size limit. It should never happen in theory since we stream logs.

[code]

### Versions / Dependencies

Master

### Reproduction script

Run `non_streaming_shuffle_1tb_1000_partition` with a debug log on.

Run `ray logs rayl

[2022-07-26 10:39] rkooo567 commented on #27009
cc @rickyyx this is the issue we talked today. I think we should fix it after the branch cut. When specifying `--tail -1`, it worked

[2022-07-26 12:02] Tonyhao96 opened #27011 "[Tune][Air] Unreadable CLI report table due to `train_loop_config` string"
### Description

Hi,

How can I simplify the CLI progress reporter column names? Some features become too long to display, such as `train_loop_config/batch_size`. The `train_loop_config` string seems useless.

![Screenshot from 2022-07-26 19-48-20](https://user-images.githubusercontent.com/27758466/180999237-664190fc-3d19-4892-a007-5205d9de1b8a.png)

I am using the latest nightly version of Ray wi

[2022-07-26 12:40] smorad opened #27012 "[RLlib] Multigpu training splits recurrent policies across time"
### What happened + What you expected to happen

Many algorithms use `multi_gpu_train_one_step` which calls `TorchPolicyV2.load_batch_into_buffer`. It turns out `load_batch_into_buffer` does some questionable things. First, it splits `SampleBatches` into equal sizes to place them across multiple GPU towers. This split occurs IN THE TIME DIMENSION:

https://github.com/ray-project/ray/blob/fdd5c53bf

[2022-07-26 14:23] vaxenburg commented on #26936
Yes, writing a wrapper is what I ended up doing as a workaround -- see above. My suggestion is to make it a part of the API instead of wrapping (just like it is a part of the API in [Launchpad](https://github.com/deepmind/launchpad).)

[2022-07-26 14:37] #27012 closed

[2022-07-26 14:48] xwjiang2010 commented on #26995
The last working run is last Saturday at 3pm
The next commit after last working commit: https://github.com/ray-project/ray/commit/da9581b7465c5e1e4903595b4107ed1fa601920f

range:
from da9581b7465c5e1e4903595b4107ed1fa601920f
to 8ecd928c34db0b23e4aa2a4ea0c8cff25c37b413

[2022-07-26 14:52] zusne opened #27015 "[<Ray component: Core|RLlib|etc...>]"
### What happened + What you expected to happen

 ERROR worker.py:431 -- Exception raised in creation task: The actor died because of an error raised in its creation task, ray::SACLearnerWithCost.__init__() (pid=4301, ip=202.141.180.14)
(TemporaryActor pid=4301)   At least one of the input arguments for this task could not be computed:
(TemporaryActor pid=4301) ray.exceptions.RaySystemError: Syste

[2022-07-26 15:01] scv119 commented on #26995
git log --oneline da9581b7465c5e1e4903595b4107ed1fa601920f..8ecd928c34db0b23e4aa2a4ea0c8cff25c37b413
8ecd928c34 [Serve] Make the checkpoint and recover only from GCS (#26753)
193e824bc1 [AIR DOC] minor tweaks to checkpoint user guide for clarity and consistency subheadings (#26937)
1b06e7a83a [tune] Only sync down from cloud if needed (#26725)
4cc1ef1557 [Core] Refactoring Ray DAG object scanner (

[2022-07-26 15:08] scv119 commented on #26966
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_tmHr67ueMvbrpFd3NTuwdn4s?command-history-section=command_history datasets_preprocess_ingest_1658788018 is failing with similar stacktraces.

[2022-07-26 15:12] scv119 commented on #26922
Per discussion: we will fix it after the branch cut.

[2022-07-26 15:15] xwjiang2010 commented on #26995
@scv119 I have a workspace coming up with similar setup as release test. Planning to poke a few suspicious PRs.
What would you recommend to start with?
dataset split ones?

[2022-07-26 15:17] xwjiang2010 commented on #26995
Also in the list is Jian's PR: https://github.com/ray-project/ray/pull/26902
Not sure why it's missed by `git log`

[2022-07-26 15:32] scv119 commented on #26995
my impression is the commit starts failing is not using `splilt(locality_hints=...)` by default, @matthewdeng to confirm. If that's the case, unlikely  [Data][Split] stable version of split with hints (https://github.com/ray-project/ray/pull/26778) caused the regression.

[2022-07-26 16:00] scv119 commented on #26966
a01203303320f8ac726f651d4b8e3a17a4e4859e passed as well  https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_QvFbtJf8zRh2fYUErB9HxkGd

[2022-07-26 16:43] xwjiang2010 commented on #26995
bisect 1:
https://buildkite.com/ray-project/release-tests-branch/builds/822#01823b62-aaac-4427-9c43-285feac081ca
using https://github.com/alipay/ray/commit/cf57fce21ea13ae9f9f4a665de8161fa35617d4c

[2022-07-26 16:56] jjyao commented on #26936
The concern of adding a new api like this is that it will make apis more difficult to use since now people need to decide which one to use and most users should only use the remote version. Also even if we can call remote methods as local, it'll never be the same as calling a local method so we shouldn't be implicit here to avoid any surprises (that's actually why we introduced `.remote()` in the

[2022-07-26 16:59] architkulkarni commented on #26332
I believe this referred to the dashboard message, which was updated in the PR.  @shrekris-anyscale were there other error messages involved here?

[2022-07-26 17:04] shrekris-anyscale commented on #26332
Yes, I believe there were errors in the dashboard about insufficient resources, so we tried increasing and decreasing the available number of CPUs. Is that what you mean by dashboard message? The actual issue turned out to be `pip` hanging, which is why we mentioned the resource error was a red herring.

[2022-07-26 17:04] wuisawesome commented on #20837
Realizing there's a lot more configs to manually edit, and tests to manually run than i thought. new eta is end of today (i should be working on it all day today).

[2022-07-26 17:07] architkulkarni commented on #26332
I'm referring to

from the original issue.  https://github.com/ray-project/ray/issues/26260.

The PR updates this specific message to include runtime env.  If that's the only error message that needed to be improved, we can close this issue

[2022-07-26 17:09] rickyyx commented on #27009
Yeah, I think this is the fact we only do chunking when `tail == -1`  in the log agent when serving the stream. I will see if I could get to it by branch-cut.

[2022-07-26 17:20] c21 commented on #26995
Thanks @xwjiang2010 for starting the bisect test.

If "https://github.com/ray-project/ray/commit/1ac2a872e7502e1263f136a7eb42bd1d3f88091f [docs] Editing pass over Dataset docs (https://github.com/ray-project/ray/pull/26935)" still has the issue, next bisect we can test the commit before "https://github.com/ray-project/ray/commit/e19cf164fd51c4f6bf730e999cba46b30c39ff83 [Datasets] Use sampling to e

[2022-07-26 17:29] jbedorf opened #27021 "[Core] Ray start/stop/start does not work when using a custom temporary folder"
### What happened + What you expected to happen

The changes introduced [here](https://github.com/ray-project/ray/pull/26678) have as side effect that the following logic no longer works:

Start a cluster with a custom temporary folder: `ray start --head --temp-dir /tmp/bla`
Now stop any active ray cluster using the typical: `ray stop`

Now there is nothing running anymore, but when you next run:

[2022-07-26 17:34] vaxenburg commented on #26936
I actually think this would let Ray be useful in so many other use cases, like mine where I had to use Ray with some other libraries and not being able to issue local calls with `actor.method()` was a major roadblock.

Also, regrading this:

I think this is exactly the kind of decision that _should_ be made by the user, not the library designer. Not having this flexibility is a hugely excessive gu

[2022-07-26 17:36] ckw017 opened #27022 "[Clusters] More documentation for `node:ip_address` custom resource"
### Description

An example of using the `node:ip_address` (or some acknowledgement of it) somewhere in the docs would be handy

### Link

_No response_

[2022-07-26 17:53] #26210 closed

[2022-07-26 18:02] #26766 closed

[2022-07-26 18:05] xwjiang2010 commented on #26995
still having the issue.
trying cut-off at https://github.com/ray-project/ray/commit/e19cf164fd51c4f6bf730e999cba46b30c39ff83 (exclusive) now, as Cheng suggested.

[2022-07-26 18:15] #21595 closed

[2022-07-26 18:19] EddyJens commented on #21524
Same here, but with my base_learning_rate:

KeyError: 'base_learning_rate'

(works fine with Optuna and other search algorithms)

[2022-07-26 18:40] pcmoritz opened #27024 "[Ray AIR] Move train_test_split to util namespace or datasets"
### Description

Currently `train_test_split` is a top level function in `ray.air`. Instead it should either be in a util namespace or datasets.

### Use case

_No response_

[2022-07-26 18:42] ckw017 opened #27025 "[Client] Better documentation for local code dependencies when using client"
### Description

Dependencies present on the client machine are not necessarily on the head node and worker nodes of the cluster (and are not automatically propagated). Make this explicit in the documentation with examples of how to sync local dependencies with a remote cluster.

Related: #22585

### Link

_No response_

[2022-07-26 18:46] scv119 commented on #26812
bf97a6944b517978f57fa51ec75c9f78882a91f7 failed:  https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_RkCgWLyjTayXwRUMWgRawedp

[2022-07-26 18:47] scv119 commented on #26966
https://github.com/ray-project/ray/commit/bf97a6944b517978f57fa51ec75c9f78882a91f7 failed: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_RkCgWLyjTayXwRUMWgRawedp

[2022-07-26 18:51] DmitriGekhtman commented on #20837
Autoscaling config editing is a swamp, I know.

Tip, in case you're not already thinking along these lines -- if possible, make as few internal changes as possible -- just raise an Exception at the very surface entrypoint if anything any of the deprecated fields are present.

In particular, test_autoscaler.py uses deprecated fields extensively -- if possible, don't bother fixing that right now.

[2022-07-26 19:26] pcmoritz opened #27029 "[Datasets Docs] Example section TOC out of sync with main page"
### Description

As you see in this screenshot, in the current master, the TOC of Ray Data examples has more entries than the gallery on the main page and also some of the captions are out of sync (which is not a problem in principle, e.g. the captions in the TOC could be a short form of the captions in the gallery, but at the moment it feels pretty inconsistent).

<img width="1234" alt="Screen Sh

[2022-07-26 19:35] clarkzinzow commented on #26812
@scv119 That's a different release test failure, right?

[2022-07-26 19:39] matthewdeng commented on #26995
@xwjiang2010 looks like you ended up running it _inclusive_ 😄

Kicking off one with the commit before (8fe439998ecd48b1da5216d882123e6bde3b8fb7): https://buildkite.com/ray-project/release-tests-branch/builds/826

[2022-07-26 19:55] scv119 commented on #26966
8ecd928c34db0b23e4aa2a4ea0c8cff25c37b413 failed: https://console.anyscale.com/o/anyscale-internal/configurations/app-config-details/bld_pLvd3N9iXz7JB8hvwBY6PmDM

[2022-07-26 19:59] ddelange commented on #26886
this bug seems to have existed for quite some time 👀

https://github.com/ray-project/ray/blame/e69987bc966b9e7cfd8500918c977c05e5af6e34/python/setup.py#L120-L121

[2022-07-26 20:13] matthewdeng commented on #26995
Above test passes, which indicates that this indeed being caused by https://github.com/ray-project/ray/pull/26868 (https://github.com/ray-project/ray/commit/e19cf164fd51c4f6bf730e999cba46b30c39ff83)

<img width="1357" alt="image" src="https://user-images.githubusercontent.com/3967392/181103071-72929abd-5bf7-4e95-9a78-87e2a19ca72d.png">

@c21 could you take a deeper look at what's happening here?

[2022-07-26 20:14] scv119 commented on #26994
Target to finish by August 5th.

[2022-07-26 20:16] geoffreyangus opened #27031 "[Core] `TypeError: __init__() missing 2 required positional arguments: 'shape' and 'dtype'` when using `TensorDtype`"
### What happened + What you expected to happen

Hi all,

### 1. The Bug

I am running into an issue on Ray nightly where I am seeing the following failure in our unit tests:

[code]

### 2. Expected Behavior

`TensorDtype()` to initialize successfully. I'm not sure if the interface has actually changed, because when I attempted to pass in `shape` and `dtype`, I got the following error:

[code]

#

[2022-07-26 20:23] CyanoKobalamyne opened #27032 "[Release Tests] Tests failing due to low instance availability"
### What happened + What you expected to happen

Some tests occasionally fail to start clusters due to AWS running out of i3.8xlarge instances in the region (us-west-2). The tests should be changed to use different, more easily accessible instance types.

Affected tests:
- parquet_metadata_resolution
- pipelined_training_50_gb
- dataset_random_access

### Versions / Dependencies

N/A

### Reproduc

[2022-07-26 20:27] scv119 commented on #26812
lol, so many bisecting going on and posted on the wrong thread. sorry for the confusion!

[2022-07-26 20:28] scv119 commented on #24216
@clarng should we summarize and close this one?

[2022-07-26 20:34] ericl commented on #26995
That's interesting. Did the number of blocks increase? That could hit the known data imbalance issue from https://github.com/ray-project/ray/issues/26878

[2022-07-26 20:38] clarng commented on #24216
Will send a summary, thanks

[2022-07-26 20:39] clarkzinzow commented on #27031
Hey @geoffreyangus, this was a recent API change where `TensorDtype` now takes the `shape` and `dtype` of the tensor column elements as constructor arguments; if you don’t have that information on-hand, you can use `TensorArray` to do your cast instead (which most of our examples do as well as internally):
[code]

[2022-07-26 20:39] #27031 closed

[2022-07-26 20:47] jiaodong commented on #26727
Re-using same issue for latest staus:

Nightly release tests: https://buildkite.com/ray-project/release-tests-branch/builds/819
Based on commit [8ecd928](https://github.com/ray-project/ray/commit/8ecd928c34db0b23e4aa2a4ea0c8cff25c37b413) merged around 7/25, 12PM

air_benchmark_data_bulk_ingest (8ecd928)
air_benchmark_xgboost_cpu_10 (8ecd928)
air_benchmark_torch_mnist_cpu_4x1 (8ecd928)
air_benchmar

[2022-07-26 20:49] #26939 closed

[2022-07-26 21:07] matthewdeng commented on #26995
Actually, how much data does the file sampling read? Even if the tasks are being spread, I'm wondering why there is a _huge_ spike in the very beginning. I can play around with this a bit and try to understand a bit more what's going on.

[2022-07-26 21:18] scv119 commented on #26995
so the theory is after @c21's change we have increasing number of blocks which leads to uneven spread?

[2022-07-26 21:19] jjyao opened #27038 "[Core] Revamp Getting Started doc"
### Description

Revamp the "Getting Started" page.

### Link

_No response_

[2022-07-26 21:21] jjyao opened #27039 "[Core] Revamp Key Concepts page"
### Description

Revamp "Key Concepts" page.

### Link

_No response_

[2022-07-26 21:22] clarkzinzow commented on #26995
Are we sure that the sampling reads are reading the expected small subset of data? The recent timing results for file sampling is much slower than I would expect, on the order of 10s of seconds while I'd expect sampling to be near sub-second.

[2022-07-26 21:23] jjyao opened #27041 "[Core] Revamp tasks user guide doc"
### Description

Revamp "User Guides > Tasks" page and subpages.

### Link

_No response_

[2022-07-26 21:25] jjyao opened #27042 "[Core] Revamp actors user guide doc."
### Description

Revamp "User Guides > Actors" page and subpages.

### Link

_No response_

[2022-07-26 21:26] jjyao opened #27043 "[Core] Revamp objects user guide doc"
### Description

Revamp "User Guides > Objects" page and subpages.

### Link

_No response_

[2022-07-26 21:27] jjyao opened #27044 "[Core] Revamp scheduling user guide doc"
### Description

Revamp "User Guides > Scheduling" page and subpages.

### Link

_No response_

[2022-07-26 21:29] jjyao opened #27045 "[Core] Revamp environment dependencies user guide doc"
### Description

Revamp "User Guides > Environment dependencies" page and subpages.

### Link

_No response_

[2022-07-26 21:29] scv119 commented on #26966
4a1ad3e87a425dc5113baeedb1662c1217ae20c1 failed: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_VFTnp31ZzvMfgHjHvWDbMJmu?command-history-section=command_history

[2022-07-26 21:30] fishbone opened #27046 "[workflow] We should give the storage a default value if it's not set in some way."
### What happened + What you expected to happen

[code]

Will throw
[code]

This is bad for local testing. We should use a default one instead.

### Versions / Dependencies

master

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-07-26 21:34] jjyao opened #27047 "[Core] Revamp fault tolerance user guide doc"
### Description

Revamp "User Guides > Fault tolerance" page and subpages.

### Link

_No response_

[2022-07-26 21:36] jjyao opened #27048 "[Core] Revamp design patterns user guide doc"
### Description

Revamp "User Guides > Design patterns" page and subpages.

### Link

_No response_

[2022-07-26 21:38] jjyao opened #27049 "[Core] Revamp troubleshooting user guide doc"
### Description

Revamp "User Guides > Troubleshooting" page and subpages.

### Link

_No response_

[2022-07-26 21:39] jjyao opened #27050 "[Core] Revamp advanced topics user guide doc"
### Description

Revamp "User Guides > Advanced topics" page and subpages.

### Link

_No response_

[2022-07-26 21:40] jjyao opened #27051 "[Core] Revamp examples doc"
### Description

Revamp examples doc.

### Link

_No response_

[2022-07-26 21:41] bveeramani opened #27052 "[AIR] `DatasetConfig` docs don't state default values"
### Description

Title. The default values for `DatasetConfig` are different that the default values in the function signature, so there's no way to know the default values without checking the source code.

### Link

file:///Users/bveeramani/GitHub/ray/doc/_build/html/ray-air/package-ref.html#module-ray.air.config

[2022-07-26 21:42] jjyao opened #27053 "[Core] Revamp benchmarks doc"
### Description

Revamp benchmarks page

### Link

_No response_

[2022-07-26 21:43] jjyao opened #27054 "[Core] Revamp FAQ doc"
### Description

Revamp FAQ page.

### Link

_No response_

[2022-07-26 21:45] jjyao opened #27055 "[Core] Revamp whitepaper"
### Description

Ray 2.0 whitepaper

### Link

_No response_

[2022-07-26 21:45] cadedaniel commented on #26894
Desired structure:
[code]

[2022-07-26 21:53] bveeramani opened #27056 "[AIR] Add tests for framework-specific checkpoints"
### Description

`Checkpoint` is AIR's abstraction for persistent training state. Checkpoints store models and preprocessors. They also store framework-specific objects like HuggingFace tokenizers.

We previously exposed functions for loading and saving checkpoints like `ray.train.torch.utils.to_air_checkpoint`. However, to improve discoverability, we introduced framework-specific checkpoints like

[2022-07-26 22:11] scv119 opened #27057 "[Core][Nightly] datasets_ingest_400G is failing"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_h5c7QVELMUr3mZF8J72ZDVSi?command-history-section=command_history

### Versions / Dependencies

latest ray

### Reproduction script

run it

### Issue Severity

High: It blocks me from completing my task.

[2022-07-26 22:19] scv119 opened #27059 "[Core] long_running_actor_deaths failed due to OOM"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_GJhdmRFMNmCrPVaeRNg1rb44?command-history-section=command_history

It looks like failed due to dashboard OOM, which @alanwguo fix should fix it. so we will observe it for a few more days.

### Versions / Dependencies

lastet ray

### Reproduction script

[2022-07-27 00:39] jiaodong opened #27064 "[AIR][Dataset] Cannot read two parquet files with `anonymous@`"
### What happened + What you expected to happen

This issue is blocking P0 mass documentation failure before branch cut - https://github.com/ray-project/ray/issues/26410

Ray dataset's `read_parquet` API cannot read two files with `anonymous@` username, which is required for our CI.

### Versions / Dependencies

on master

### Reproduction script

So this works
[code]

And this works
[code]

Also

[2022-07-27 00:52] pcmoritz commented on #27064
Alright, so we can make this work by deploying Thomas' CI infra changes, so the CI has access to our buckets without the need for anonymous:

https://github.com/ray-project/buildkite-ci-stack/pull/34

We would need @krfricke or @simon-mo to review apply these terraform changes.

There might be a simpler solution for this. If we do the Terraform changes, we can also drop the `anonymous` in all the

[2022-07-27 00:59] jiaodong commented on #27064
Yes dropping required `anonymous` for CI will be great for future use cases too, not sure if we can make it before branch cut tho.

Meanwhile I confirmed this function https://sourcegraph.com/github.com/ray-project/ray/-/blob/python/ray/data/datasource/file_based_datasource.py?L463:5 is returning wrong paths parsed.

I don't mind giving it a shot to fix this use case but given how involved this fu

[2022-07-27 02:05] jiaodong commented on #27064
After some digging the issue seems to have something to do with pyarrow's implementation.

This is how it resolves a file path when it knows about the filesystem, for example, s3:
[code]

but it will incorrectly return wrong path. When our input path is `s3://anonymous@air-example-data/ursa-labs-taxi-data/downsampled_2009_02_data.parquet` with known file system type of S3, it will return full stri

[2022-07-27 02:35] jiaodong commented on #27064
OK i put up a quite contained conditional to walk around pyarrow's return path with anonymous credential in https://github.com/ray-project/ray/pull/26983

[2022-07-27 02:47] #26657 closed

[2022-07-27 04:31] ljjsalt opened #27076 "[Core] Ray PlacementGroup Add a callback on a node failure"
### Description

Currently, once a node down, the placement group won't be removed and converts to a pending state and waits to be rescheduled. Is this possible to add a call back so the process who created these placement groups can be notified when a placement group is being rescheduled?

I have checked related document, but seems no useful information is provided.
I can work on this feature if

[2022-07-27 05:03] DuoblaK opened #27078 "[Core] Setting up actors on specific gpus"
### Description

Hello, I would like to ask you a question about actor running on gpu.
When I create an actor, how can I asign a specified GPU to the actor.
For example, there are 8 gpus on my machine, like gpu[0,1,2,3,4,5,6,7]
but gpu[2, 3, 4, 6] is broken, I want to create 4 actors running on gpu[0,1,5,7].
How can I do that?
For some reason, I don’t want to use CUDA_VISIBLE_DEVICE , is there any

[2022-07-27 05:25] scv119 commented on #26966
https://github.com/ray-project/ray/commit/e19cf164fd51c4f6bf730e999cba46b30c39ff83 failed: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_EXYEeRStCpqcsWRJfKW5yxNq?command-history-section=command_history

[2022-07-27 05:26] scv119 commented on #26966
https://github.com/ray-project/ray/commit/8fe439998ecd48b1da5216d882123e6bde3b8fb7 is passing https://console.anyscale.com/o/anyscale-internal/configurations/app-config-details/bld_CC6nzyv6hiN6UtqMhpncYkRb

[2022-07-27 05:26] scv119 commented on #26966
I think i'm 95% confident https://github.com/ray-project/ray/commit/e19cf164fd51c4f6bf730e999cba46b30c39ff83 is causing the regression. most likely because we have too many objects.

[2022-07-27 05:32] c21 commented on #26995
After applying the corresponding fix below, I am able to get nightly test passed with sampling enabled:

<img width="1728" alt="Screen Shot 2022-07-26 at 10 15 29 PM" src="https://user-images.githubusercontent.com/4629931/181167874-dd32721e-787b-4254-a8d5-6dc83cbc7139.png">

Root cause analysis:

After some digging, I found there are two issues:

* Sampling tasks is using DEFAULT scheduling strate

[2022-07-27 06:14] #26368 closed

[2022-07-27 06:30] johnjim0816 opened #27080 "KeyError: "PolicyID 'default_policy' not found in this PolicyMap!""
### What happened + What you expected to happen

Hi, I wanted to try impala for multi-agent env, like "3v3" google football, but I met such problem. I guess there is something wrong with my "config", but I donot know why (

### Versions / Dependencies

ray == 1.6
python=3.7

### Reproduction script

import sys,os
curr_path = os.path.dirname(os.path.abspath(__file__))  # current path
parent_path =

[2022-07-27 07:32] scv119 commented on #20837
How hard would it be to build a tool that generate a new yaml from the old one? Looks current behavior is a bit abruptive.

[2022-07-27 08:06] rkooo567 commented on #26966
I think after https://github.com/ray-project/ray/commit/e19cf164fd51c4f6bf730e999cba46b30c39ff83 is addressed, we should still work on improving the robustness of GCS in the same situation?

[2022-07-27 08:32] scv119 commented on #27057
ha, seems this is the same issue as https://github.com/ray-project/ray/issues/26966 https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_MYCU7YT4GxpG5nBuTPUPhadb?command-history-section=command_history failed

[2022-07-27 08:35] #26995 closed

[2022-07-27 09:09] rkooo567 commented on #26966
Reopen for the further investigation on GCS disconnection. TL;DR Raylets should never be disconnected like that although there are some application loads https://github.com/ray-project/ray/commit/e19cf164fd51c4f6bf730e999cba46b30c39ff83 caused. We should investigate the root cause and make that part more robust.

[2022-07-27 13:19] james811223ad opened #27089 "Ray Serve setting logging level not working."
### What happened + What you expected to happen

I’m trying to set logging level to ERROR with Ray Serve, but it’s still showing INFO logs.

### Versions / Dependencies

Ray 1.13.0
Python 3.8.13
Linux 4.14.252-131.483.amzn1.x86_64 x86_64

### Reproduction script
[code]

### Issue Severity

Low: It annoys or frustrates me.

[2022-07-27 13:24] #23900 closed

[2022-07-27 13:25] #25193 closed

[2022-07-27 14:43] aryanraj2713 commented on #26949
Can I work on the issue?

[2022-07-27 15:25] #23449 closed

[2022-07-27 16:06] #26986 closed

[2022-07-27 16:28] #26537 closed

[2022-07-27 16:31] rkooo567 commented on #26966
Btw cc @iycheng I think this error

[code]

means our gcs death detecting logic probably has a bug. I think this check failure happens when GCS is actually alive. Looking at code, some potential issues are

1. if states oscillate between GRPC_CHANNEL_CONNECTING and others,  but if it is always GRPC_CHANNEL_CONNECTING when the periodic `CheckChannelStatus` is called, it can think connection wasn't

[2022-07-27 16:41] matthewdeng commented on #26038
Hi @stephano41, apologies for the delayed response here. There's recently been a refactoring done around checkpointing which should address this. Specifically, it should disallow `keep_checkpoints_num` from being set to 0:

[code]

Furthermore, it should address a bug where previously, an extra checkpoint was being stored (e.g. if you set `keep_checkpoints_num`  to 1 in your repro script, it would

[2022-07-27 17:06] nollied commented on #26994
i'm having a similar problem, no objects are spilling to the disk however it appears that objects are not being garbage collected from plasma.

[2022-07-27 17:07] jianoaix commented on #26812
Looked into this with a few hypotheses:
- Interaction with object GC:  Disabling the GC (https://github.com/ray-project/ray/commit/34dc9c1cddd432c564442149e0158d2fe93a6a18), test still failed at the same issue
- The new Batcher: Reverting to the old Batcher (https://github.com/ray-project/ray/pull/27066), test still failed at the same issue
- The torch iterator used in the test itself (why this hy

[2022-07-27 17:08] shrekris-anyscale opened #27102 "[Ray Dashboard] Logs not showing up"
### What happened + What you expected to happen

When you click on the Ray Dashboard’s logs, you don’t see any logs anymore for Ray actors or tasks. Instead you see

<img width="1440" alt="Screen Shot 2022-07-27 at 9 57 08 AM" src="https://user-images.githubusercontent.com/92341594/181307371-b5b969a7-b80f-4aa4-8166-40e2a6d58194.png">

### Versions / Dependencies

Ray on the latest master.

### Rep

[2022-07-27 17:11] clarng opened #27103 "Tune: head node not freeing memory after job run"
### What happened + What you expected to happen

Posting issue on behalf of https://github.com/afero

"Hi there,
We are seeing a very similar issue. After running ray.tune jobs, the memory on the head node never goes back down to what it was before the job was run. We are running ray tune on a kuberay cluster. The helm chart is adapted from https://github.com/ray-project/kuberay/blob/master/ray-op

[2022-07-27 17:13] nollied commented on #24216
i'm having basically the same exact issue. btw this is a well put together issue @Samreay kudos

[2022-07-27 17:17] clarng commented on #24216
It seems there are several issues reported here, which we will comment on individually.
1 Memory leak when local_mode is enabled
2 Memory leak when local_mode is disabled
3 Tune not freeing memory when job completes

* Memory leak when local_mode is enabled
Local mode is an experimental feature that is no longer maintained and will be removed in the future. For debugging consider using the Ray deb

[2022-07-27 17:17] #24216 closed

[2022-07-27 17:22] nollied commented on #24216
@clarng why are you removing local mode? it's much more convenient to develop on a serial thread than to spin up all of the ones available on my machine.

what do you mean?

[2022-07-27 18:31] #26153 closed

[2022-07-27 18:32] #26152 closed

[2022-07-27 18:33] #4018 closed

[2022-07-27 18:53] Anando304 opened #27107 "[Ray Train] Ray Train running slow when multiple workers executed"
### What happened + What you expected to happen

## Context
I am trying to run a TensorFlow Model on a Ray Cluster running on K8's.

I am using [Ray Train](https://docs.ray.io/en/latest/train/train.html) to try to reduce the Training time.

The dataset is a public Google dataset found here:
- `gs://cloud-training-demos/taxifare/ch4/taxi_preproc/`
- You can download locally via: `gsutil cp gs://clo

[2022-07-27 19:07] nollied commented on #27103
i think this is the same issue as https://github.com/ray-project/ray/issues/25779 it doesn't seem to be exclusively a ray tune issue.

[2022-07-27 19:12] #20593 closed

[2022-07-27 19:17] #21725 closed

[2022-07-27 19:18] iycheng opened #27108 "[workflow] Documentation of http events"
### Description

HTTP Event has been provided. We should add documentation for this.

### Link

_No response_

[2022-07-27 19:20] iycheng opened #27109 "[workflow] HTTP Event provider test runs too long"
### What happened + What you expected to happen

Http event provider runs for a long time in CI. For exmaple, test_http_event_2 only has one test but it runs for 80s. We need to make sure it's expected or fix the bug or the test.

### Versions / Dependencies

master

### Reproduction script

buildkite ci check http event ptests

### Issue Severity

_No response_

[2022-07-27 19:38] alanwguo commented on #27102
To fix memory leaks, we are no longer caching logs in the backend and instead are using the state observability logs API.
As a result, we removed the ability to view logs at the node level. Worker level logs are still available. You can also use the new dashboard UI to view logs as well.

The UI has been updated to remove the button for node-level logs but it doesn't seem updated on your browser.

[2022-07-27 19:45] shrekris-anyscale commented on #27102
Ah makes sense, I only rebuilt using `pip install -e . --verbose`.

[2022-07-27 19:48] jianoaix commented on #26812
I tested a PR before the local shuffle PR: https://github.com/ray-project/ray/commit/38c9e1d52aeada536a0460fba01b2633973bc989

It failed with same error: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_dr8qxiYMr16y2MTfw8WfUAZy

So this indeed seems possible caused by something else. I'll do some bisecting.

[2022-07-27 20:05] shrekris-anyscale opened #27112 "[Serve] #27063 fails the Wheels check"
### What happened + What you expected to happen

#27063 fails [the Wheels check](#27063). The traceback ends with:

[code]

This check should pass.

### Versions / Dependencies

The [Ray CI](https://buildkite.com/ray-project/ray-builders-branch/builds/8990#01824120-60a5-44ef-9a83-ab22421b7564) on the [`releases/2.0.0`](https://github.com/ray-project/ray/tree/releases/2.0.0) branch.

### Reproducti

[2022-07-27 20:45] jianoaix commented on #26812
Still running bisecting, but checking the PRs backward from the above PR, I think these two are the possible culprits: 1) https://github.com/ray-project/ray/commit/fb54679a239e4c7368a72a2fe3023cac04380827 and 2) https://github.com/ray-project/ray/commit/feb53d01ab718070584941d43a30e411cf72f5bf.
- How we create objects whose owner are not Head node: The PR (1) _split_single_block used ray.put() to

[2022-07-27 20:51] jianoaix commented on #26812
So the test failed at both possible culprits: for (1) https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_PM3SqkZgcd6hffYx8YBvnRSG and for (2) https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_hUCT6LaJD23qWbwC9UbGi6cF

Doing one more verification at 0f0102666a628494ad175c1484cb7cc939a49c87.

[2022-07-27 21:17] rkooo567 opened #27115 "[Core] Too verbose deprecation warnings are printed when `ray.worker` is accessed"
### What happened + What you expected to happen

 I found the current deprecation warning is too verbose.  For example, here’s the output when I got the deprecation warning from ipython
[code]

We should fix this

### Versions / Dependencies

Master

### Reproduction script

Run any code that accesses `ray.worker`.  I am not 100% sure if the same issue happens from other deprecation warning messag

[2022-07-27 21:17] ericl opened #27116 "[data] Crash with multi-column tensor dataset"
### What happened + What you expected to happen

Try to read any multi-column tensor dataset (example in https://github.com/ray-project/ray/pull/26952). It crashes with:

[code]

### Versions / Dependencies

master

### Reproduction script

See above.

### Issue Severity

_No response_

[2022-07-27 21:19] rkooo567 commented on #27115
cc @jjyao @jianoaix @scv119 I marked it as P0.

[2022-07-27 21:28] shrekris-anyscale commented on #27102
After rebuilding, the logs appear correctly:

<img width="1440" alt="Screen Shot 2022-07-27 at 2 27 43 PM" src="https://user-images.githubusercontent.com/92341594/181375653-44420b0d-fe1b-4163-ad9f-9d8ed42ea079.png">

[2022-07-27 21:28] #27102 closed

[2022-07-27 21:45] jianoaix commented on #26812
https://github.com/ray-project/ray/commit/0f0102666a628494ad175c1484cb7cc939a49c87 is passing: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_tYYDUk1TcrEA6HuP4YpHPhn4

So this should conclude the above analysis.

[2022-07-27 21:52] ShreyaR opened #27119 "[RayTune] MLFlow Mixin ignoring experiment_id configuration"
### What happened + What you expected to happen

While using the [Ray Tune MLflow mixin](https://docs.ray.io/en/releases-1.8.0/tune/tutorials/tune-mlflow.html#mlflow-mixin-api), any MLflow runs that are created by the mixin do not have the correct `experiment_id`. I passed in the following mlflow config to `ray.tune`:

[code]

However, any run that is created by the mlflow mixin always has the `ex

[2022-07-27 22:02] MattEWeber opened #27121 "ray.shutdown() is not called at the end of a ray.init() script running in a jupyter notebook"
### What happened + What you expected to happen

This script

[code]

never has its driver marked as ended in the dashboard/snapshot endpoint after the script completes.

### Versions / Dependencies

ray version 1.13.0
Python 3.9.5

In Jupyter Python3 (ipykernel)

### Reproduction script

Upon further investigation it appears the `atexit` handler [here](https://github.com/ray-project/ray/blob/mast

[2022-07-27 22:04] utkarshp commented on #10145
Seed seems to be messed up on each call to _randomized_int_cast as well. ray/util/iter.py L1254-L1259
[code]

[2022-07-27 22:09] suquark commented on #23983
@scv119 based on our discussion, it seems the `ray.wait` semantics is actually correct, and we may not want to change it. Should we close this issue?

[2022-07-27 22:14] rickyyx commented on #26949
Hey @aryanraj2713 , thanks for your interest! I actually have a PR out for this already, sorry for not mentioning it in advance here.

However, if you are interested in more other tasks, feel free to let me or @rkooo567 know!

[2022-07-27 22:18] rickyyx commented on #26832
Do you think we should cherrypick this? @rkooo567

[2022-07-27 22:30] rkooo567 commented on #27121
Is this the case (shutdown not called) when it is not used with jupyter?

[2022-07-27 22:43] MattEWeber commented on #27121
No. Shutdown is called at the end of the script every other way I'm aware of running it (from the terminal, or from an interactive python shell like ipython)

[2022-07-27 23:02] #26894 closed

[2022-07-27 23:04] shrekris-anyscale commented on #27112
I synced with @simon-mo offline. The root cause is a known issue in the CI script caused by commit message escaping. Any new commit will override this failure, so I'll close this issue for now.

[2022-07-27 23:04] #27112 closed

[2022-07-27 23:09] bveeramani opened #27129 "[Preprocessors] Add robust default tokenization function"
### Description

Default tokenization function for `Tokenizer` snd `CountVectorizer` doesn't handle punctuation, newlines, or casing.

For example,
[code]

get's tokenized as
[code]

instead of
[code]

### Use case

_No response_

[2022-07-27 23:17] amogkam commented on #27119
This is a know issue with Ray 1.12! It should be fixed in 1.12.1!

[2022-07-27 23:19] cadedaniel opened #27130 "[Ray clusters][docs] Write the new Ray Clusters: Getting Started page"
The top-level Getting Started page should direct users, based on what they are trying to accomplish, to the correct page between "Managing Ray Clusters on Kubernetes", "Managing Ray Clusters via VMs", and "Using Ray Clusters". There should be some discussion on Kubernetes vs. VMs for those looking to create new Ray clusters for the first time.

[2022-07-27 23:19] cadedaniel opened #27131 "[Ray clusters][docs] Update the Ray Clusters: Key Concepts page"
The following should be fixed:
* Update links / references
* Make all definitions generic / not specific to either k8s or vms. If necessary, move definitions.

[2022-07-27 23:19] cadedaniel opened #27132 "[Ray clusters][docs] Update the VMs Getting Started"
The following should be accomplished:
* Update links/references
* Update intro / outro so it flows well in new structure

[2022-07-27 23:19] cadedaniel opened #27133 "[Ray clusters][docs] Update user guides: Community Supported Cluster Launchers (lsf, slurm, yarn)"
The following should be accomplished:
* Make sure index page works / points to the right content
* Modify the intro/outro of (lsf, slurm, yarn) so that they're in the form of a user guide
* Update links/references

[2022-07-27 23:19] cadedaniel opened #27134 "[Ray clusters][docs] Update user guide: Configuring Autoscaling docs"
The current autoscaler docs are written in an informational tone. It needs to be changed to be a "User Guide" -- a specific task is performed by the user.
Will need to update links as well.

Current state: https://docs.ray.io/en/master/cluster/cluster_under_construction/ray-clusters-on-vms/user-guides/configuring-autoscaling.html

[2022-07-27 23:19] cadedaniel opened #27135 "[Ray clusters][docs] Update user guides: Launching Clusters (aws, gcp, azure, adding own cloud)"
* Refactor each of the Launching Clusters pages so that they focus on their cloud provider
* Alternatively, change the structure so that the page stays nearly the same, but aws-tips.rst goes into a subpage.
* Update links
* Make sure index page (if there is one) has correct TOC

[2022-07-27 23:19] cadedaniel opened #27136 "[Ray clusters][docs] Update user guide: monitoring and observing ray app"
* Update links in https://docs.ray.io/en/master/cluster/cluster_under_construction/ray-clusters-on-vms/user-guides/monitoring-and-observing-ray-cluster.html
* Add intro explaining context (a bridge from user-guide to the informational tone currently used).

[2022-07-27 23:19] cadedaniel opened #27137 "[Ray clusters][docs] Update user guides: Running jobs (maybe condense to one page?)"
Current Running jobs content:
* Job submission https://docs.ray.io/en/master/cluster/cluster_under_construction/ray-clusters-on-vms/user-guides/running-jobs/job-submission-rest.html#concepts
* Ray Client https://docs.ray.io/en/master/cluster/cluster_under_construction/ray-clusters-on-vms/user-guides/running-jobs/ray-client.html

These might have to go under Examples, in which case we should create

[2022-07-27 23:19] cadedaniel opened #27138 "[Ray clusters][docs] Update user guide: Running ray clusters on-prem"
Use https://docs.ray.io/en/master/cluster/cluster_under_construction/ray-clusters-on-vms/user-guides/running-ray-cluster-on-prem.html as a start.
* Remove unrelated content (Cloud Clusters)
* Fix links

[2022-07-27 23:19] cadedaniel opened #27139 "[Ray clusters][docs] Promote new docs to top-level, delete old content (cherry-pick modifications to old content!)"
Temporarily the new structure lives as a subpage under Ray Clusters. This task is to promote it to top-level, then delete the old content. Any updates to the old content need to be carried over to the new content.

[2022-07-27 23:19] cadedaniel opened #27140 "[Ray clusters][docs] Update user guide: Large Clusters best pratices"
Update intro/outro/broken links

[2022-07-27 23:41] kouroshHakha commented on #27080
Could you please provide a minimal repro script? The provided script is not formatted properly.

[2022-07-27 23:48] kouroshHakha commented on #27015
Please provide more information on this issue. It's not clear what the problem is.

[2022-07-27 23:52] cadedaniel commented on #27134
@wuisawesome hey can I get your input here? What is a good task that this user guide should cover? Right now it is too informational and not a good fit for a User Guide.

[2022-07-27 23:53] kouroshHakha commented on #17308
Closing this issue since it is not reproducible on master anymore.

[2022-07-27 23:53] #17308 closed

[2022-07-27 23:53] cadedaniel commented on #27134
(it's probably also fine to call it Autoscaling: Best Practices, since we have other user guides like that)

[2022-07-28 00:40] rkooo567 opened #27145 "[Core] Deprecation annotation doesn't print deprecation wargnins"
### What happened + What you expected to happen

Current `@deprecate` annotation doesn't print deprecation warnings because it doesn't have any code that does that. It only modifieds the docstring to mark the API is deprecated

We should fix this and make sure to verify deprecation warnings are printed correctly from deprecated APIs

### Versions / Dependencies

Master

### Reproduction script

Ca

[2022-07-28 00:48] kouroshHakha commented on #22075
This issue is closed since it is resolved in master.

[code]

[2022-07-28 00:48] #22075 closed

[2022-07-28 01:25] jianoaix opened #27147 "Move shuffling-data-loader-benchmarks data to us-west"
This bucket has data for nightly tests but is located in us-east. As we run tests in us-west, this unnecessarily hurts performance and increases cost.

We should "move" (semantically) this bucket to the us-west:
- Create a copy bucket (e.g. shuffling-data-loader-benchmarks-2)
- Delete the shuffling-data-loader-benchmarks bucket
- Re-create shuffling-data-loader-benchmarks (in us-west)
- Copy data

[2022-07-28 01:28] kouroshHakha commented on #26945
Hello @hellofinch I cannot reproduce this issue on master. The script you provided runs fine on a g3.8xlarge instance.

[2022-07-28 01:31] kouroshHakha commented on #26833
Hello @Manuscrit, can you provide a repro script? Thanks.

[2022-07-28 01:33] kouroshHakha commented on #27078
Hello @DuoblaK, unfortunately setting  `CUDA_VISIBLE_DEVICES` is the only way I know. Why is it that you don't wanna use `CUDA_VISIBLE_DEVICES`?

[2022-07-28 02:48] DuoblaK commented on #27078
Hello, glad to receive your reply.
Because in my case, I use more than one node, I cant set worker node's env on my head node. That's why SET_CUDA_DEVICE can't reach my request.
Or if I create a GPUActor, may the actor get the other gpu on the node? So I can schedule the actor to the gpu still on service.
Thanks a lot for your reply.

[2022-07-28 02:56] scv119 commented on #27115
is this only specific to ipython?

[2022-07-28 04:37] #27064 closed

[2022-07-28 04:52] pcmoritz commented on #27024
fixed by https://github.com/ray-project/ray/pull/27065

[2022-07-28 04:52] #27024 closed

[2022-07-28 06:45] c21 opened #27152 "[Datasets] `ds.size_bytes()` gives wrong result when input directory has files filtered"
### What happened + What you expected to happen

When the input directory has partition filter, and filtered out files. `ds.size_bytes()` will give wrong result before dataset is fully executed.

The reason is when generating read tasks in file based data source, we only filter out file paths, but do not filter out correspodning file sizes ([here is code](https://github.com/ray-project/ray/blob/ma

[2022-07-28 06:50] c21 commented on #27152
I am working on a fix, cc @ericl FYI.

[2022-07-28 08:49] krfricke commented on #26828
I'll let the user know!

[2022-07-28 08:52] krfricke commented on #26781
This seems to be resolved, so closing it

[2022-07-28 08:52] #26781 closed

[2022-07-28 09:27] krfricke commented on #24675
@peterhaddad3121 this happens during upload of the experiment-level checkpoint. The worker checkpoints seem to work fine, that's why you can see the files on s3.

`basic-variant-state-2022-05-10_15-43-21.json` is a file of the experiment checkpoint, and this gets uploaded by the head node. Do you maybe have different setups on the head and worker nodes?

Are you using Ray client or do you execute

[2022-07-28 09:30] krfricke commented on #25277
@fridary GPU training sometimes suffers if batch sizes are too small. This is because data has to be shipped from memory to GPU and back often. Can you try increasing the batch size dramatically and compare that?

[2022-07-28 09:32] krfricke commented on #24918
@simonsays1980 can you take a look at #26826 and confirm if that solves this issue for now?

All your use cases should be covered: Resume+Remote is possible, and errored trials can be added to the experiment, or restarted, or resumed.

[2022-07-28 09:44] aRI0U opened #27160 "TypeError: As of 3.10, the *loop* parameter was removed from Lock() since it is no longer necessary"
### What happened + What you expected to happen

I just installed ray tune in a Python 3.10 conda environment using `pip install 'ray[tune]'` and I tried to run the PyTorch example from [this tutorial](https://docs.ray.io/en/latest/tune/examples/tune-pytorch-cifar.html#tune-pytorch-cifar-ref), but I had the following error:
[code]
I tried to uninstall/reinstall and so on but it does not work at al

[2022-07-28 10:52] krfricke opened #27165 "[tune] long_running_horovod_tune_test errors with file not found error"
### What happened + What you expected to happen

This test fails with the error:

[code]

this happens on trial to driver syncing, so was not solved by https://github.com/ray-project/ray/pull/26725

I think there are three things here:

- [x] #27168
- [ ] #27170
- [x] #27171
- [ ] Investigate if we can adjust the test so it doesn't always stay at 1 iteration

https://buildkite.com/ray-project/rele

[2022-07-28 11:32] stephano41 commented on #26038
Thank you, I'll check it out!

[2022-07-28 11:32] #26038 closed

[2022-07-28 12:31] guodashun opened #27167 "[Data|AIR] How can I distributed train a task with the dataset from 'to_torch()'?"
### Description

According to the documentation, I can easily achieve the following two things:
**A. distributed load big data as ray dataset
B. distributed train a model by AIR**
However, a pre-request for **B** is that we have a _torch.Dataloader_ an we can convert it to distributed format by `train.torch.prepare_model(model)`, and we can only get the _IterableDataset_ format from `to_torch()`.

[2022-07-28 13:23] krfricke opened #27168 "[air] Gracefully fail in file stat lookup race conditions"
[code]

This happens because the checkpoint is deleted (in a remote task) while we are in this loop:
[code]

We should gracefully handle file not found errors here.

See https://github.com/ray-project/ray/issues/27165

[2022-07-28 13:28] krfricke opened #27170 "[tune] PBT exploits trials that have no checkpoint, yet"
~It seems that PBT sometimes tries to exploit trials that are currently being restarted or have just been restarted with old statistics.~

PBT tries to exploit trials that never checkpointed. While this could be acceptable for hyperparameter exploitation, it will not progress training.

We should investigate this to see if this is actually the case.

On a different note, PBT pauses function traina

[2022-07-28 13:29] krfricke opened #27171 "[tune] Do not try to sync down temporary checkpoints to driver"
Tune sometimes tries to sync temporary checkpoints to the driver:

[code]

Instead, we should skip them.

[2022-07-28 14:25] scv119 opened #27172 "[CI] Java test is failing on 2.0 branch"
### What happened + What you expected to happen

Java test is failing on 2.0 branch https://buildkite.com/ray-project/ray-builders-branch/builds/9013#01824270-e1f5-449e-a71d-6603cb092910

Please unbreak it now

### Versions / Dependencies

ray 2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 14:26] scv119 opened #27173 "[CI] //python/ray/tests:test_placement_group_scheduling_warning is failing"
### What happened + What you expected to happen

//python/ray/tests:test_placement_group_scheduling_warning is failing due to version string mismatch https://buildkite.com/ray-project/ray-builders-branch/builds/9013#01824270-e278-432c-8f26-42741c863dc6

please unbreak it now.

### Versions / Dependencies

releases/2.0.0 branch

### Reproduction script

CI

### Issue Severity

High: It blocks me fr

[2022-07-28 14:28] scv119 opened #27175 "[CI][Windows] test_storage failing on Windows"
### What happened + What you expected to happen

[CI][Windows] test_storage failing on Windows https://buildkite.com/ray-project/ray-builders-branch/builds/9013#01824255-06e2-42ec-bde7-9e4b5897f8b7

please unbreak it now

### Versions / Dependencies

latest ray

### Reproduction script

CI

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 14:29] scv119 opened #27176 "[CI][Linter] https://docs.ray.io/en/releases-2.0.0rc0/data/package-ref.html link is missing"
### What happened + What you expected to happen

[CI][Linter] https://docs.ray.io/en/releases-2.0.0rc0/data/package-ref.html link is missing https://buildkite.com/ray-project/ray-builders-branch/builds/9013#01824270-e1ee-4130-823f-ad2c9bab1484

### Versions / Dependencies

releases/2.0.0

### Reproduction script

CI

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 14:30] scv119 opened #27177 "[CI] //rllib:env/tests/test_remote_inference_cartpole is timing out"
### What happened + What you expected to happen

 https://buildkite.com/ray-project/ray-builders-branch/builds/9013#01824276-8612-4d4b-8072-94b4fe6cbc38

please unbreak now.

### Versions / Dependencies

releases/2.0.0 branch

### Reproduction script

CI

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 14:31] scv119 opened #27178 "[CI] //python/ray/workflow:tests/test_events timeout"
### What happened + What you expected to happen

//python/ray/workflow:tests/test_events timeout https://buildkite.com/ray-project/ray-builders-branch/builds/9013#01824276-86fa-4042-a879-14328448e942

please unbreak now

### Versions / Dependencies

releases/2.0.0

### Reproduction script

CI

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 14:31] xwjiang2010 commented on #27165
FYI, there is already a ticket here: https://github.com/ray-project/ray/issues/26724

[2022-07-28 14:32] xwjiang2010 commented on #27171
Along the same line, "rank_xxx" should not be synced either.

[2022-07-28 14:33] xwjiang2010 commented on #27170
I don't quite get this one, can you elaborate?

[2022-07-28 14:43] krfricke commented on #27170
I've looked into this and updated the issue description and title.

I think one of the main problems is that pbt both exploits and tries to pause/resume trials for which it has not received a checkpoint. These trials will always run from scratch.

The solution for the horovod test is to either checkpoint every step or only report once at the end of the iteration - I'll open a PR for that

[2022-07-28 14:50] krfricke commented on #27165
Ah thanks! I believe the fix in #27168 is small enough to be worthwhile to be picked onto 2.0.0. cc @richardliaw

[2022-07-28 14:54] scv119 opened #27181 "[2.0][nightly] datasets_ingest_train_infer failing"
### What happened + What you expected to happen

 https://buildkite.com/ray-project/release-tests-branch/builds/833#018242a3-4dd2-4c10-9877-27caffe5f4a3

### Versions / Dependencies

releases/2.0.0

### Reproduction script

nightly test

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 14:56] scv119 opened #27182 "[2.0][nightly] Long_running_horovod_tun_test is failing"
### What happened + What you expected to happen

2. Long_running_horovod_tun_test https://buildkite.com/ray-project/release-tests-branch/builds/832#0182422c-f590-4f0e-b05c-a64e2c2341ec

### Versions / Dependencies

releases/2.0.0

### Reproduction script

n/a

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 14:57] scv119 opened #27184 "[2.0][nightly] long_running_distributed_pytorch_pbt_failure failing"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/832#01824449-a4ed-4043-9dd1-463fe9c8055e

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 14:58] scv119 opened #27185 "[2.0][nightly] air_benchmark_xgboost_cpu_10 is failing"
### What happened + What you expected to happen

 https://buildkite.com/ray-project/release-tests-branch/builds/831#01824205-0ad6-430a-8256-910d336be1ce

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 14:59] scv119 opened #27186 "[2.0][nightly] ml_user_tune_rllib_connect_test failed"
### What happened + What you expected to happen

5. ml_user_tune_rllib_connect_test https://buildkite.com/ray-project/release-tests-branch/builds/831#01824205-0c38-4959-8f71-5e86f882c671

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 15:00] scv119 opened #27187 "[2.0][nightly] rllib_multi_gpu_learning_tests failed"
### What happened + What you expected to happen

 rllib_multi_gpu_learning_tests https://buildkite.com/ray-project/release-tests-branch/builds/831#01824205-0cad-48a1-9df6-b3eb7917fee8

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 15:01] scv119 opened #27188 "[2.0][nightly] rllib_multi_gpu_with_lstm_learning_tests failed"
### What happened + What you expected to happen

7. rllib_multi_gpu_with_lstm_learning_tests https://buildkite.com/ray-project/release-tests-branch/builds/831#01824205-0cb4-4ee9-8fba-40f4e2174fdc

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 15:02] scv119 opened #27189 "[2.0][nightly] 8. serve_serve_cluster_fault_tolerance failed"
### What happened + What you expected to happen

8. serve_serve_cluster_fault_tolerance https://buildkite.com/ray-project/release-tests-branch/builds/831#01824205-0d2c-4a28-b308-01092a229679

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 15:02] nirn1973 commented on #24234
Got a similar crash on Centos 7 (not on Windows):
186016 UserWarning: Distributing <class 'dict'> object. This may take some time.
 186017 ^[[2m^[[33m(raylet)^[[0m [2022-07-28 03:54:50,260 C 21557 21557] raylet_client.cc:57: Could not connect to socket /tmp/ray/session_2022-07-27_20-33-29_503982_        94220/sockets/raylet
 186018 ^[[2m^[[33m(raylet)^[[0m *** StackTrace Information ***
 186019 ^[

[2022-07-28 15:03] krfricke commented on #27186
Will be closed by this pick: https://github.com/ray-project/ray/pull/27162

(already merged on master)

[2022-07-28 15:04] krfricke commented on #27185
Will be fixed by this pick: https://github.com/ray-project/ray/pull/27158

(already merged on master).

Successful run with 2.0.0 wheels: https://buildkite.com/ray-project/release-tests-pr/builds/11606#018243b9-54c8-4bad-b78d-2c39322c8bb5

[2022-07-28 15:04] ljjsalt commented on #27076
[Hello, hello, is there anybody out there?

[2022-07-28 15:05] rkooo567 commented on #26994
Do you also have the similar issues when you ctrl + C? @nollied

[2022-07-28 15:05] krfricke commented on #27182
Will be closed once https://github.com/ray-project/ray/pull/27169 is merged into master and cherry-picked onto the release branch

[2022-07-28 15:07] krfricke commented on #27184
Will be closed once https://github.com/ray-project/ray/pull/27163 is merged into master and cherry-picked onto the release branch.

Run with 2.0.0 wheels: https://buildkite.com/ray-project/release-tests-pr/builds/11617#_

[2022-07-28 15:07] rkooo567 opened #27190 "[Flaky dashboard] Broken test on 2.0 branch doesn't appear in the master branch and flaky dashboard"
### What happened + What you expected to happen

E.g., https://github.com/ray-project/ray/issues/27173

It is broken in 2.0 branch, but it doesn't appear in the flaky dashboard.

Same for https://github.com/ray-project/ray/issues/27172

cc @simon-mo

### Versions / Dependencies

master

### Reproduction script

N/A

### Issue Severity

_No response_

[2022-07-28 15:07] rkooo567 commented on #27190
cc @scv119

@simon-mo can you quicky check why it is the case?

[2022-07-28 15:07] SongGuyang commented on #27172
Thanks for this issue. Try to fix it https://github.com/ray-project/ray/pull/27183

[2022-07-28 15:28] #26658 closed

[2022-07-28 15:28] rkooo567 commented on #26658
Closed via https://github.com/ray-project/ray/pull/26907/files

[2022-07-28 16:15] #27172 closed

[2022-07-28 16:40] krfricke commented on #24918
Closing this per comment in #26826

[2022-07-28 16:40] #24918 closed

[2022-07-28 16:44] jianoaix commented on #27173
This might be the same issue as [#27176](https://github.com/ray-project/ray/issues/27176)

[2022-07-28 16:45] sihanwang41 opened #27193 "[Serve] <Class_name>.<attribute_name> under @serve.deployment decorator causing expection"
### What happened + What you expected to happen

When using <Class_name>.<attribute_name> to access the class variable cause exception

`AttributeError: 'Deployment' object has no attribute 'this_class_variable' `

### Versions / Dependencies

master

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-07-28 16:47] matthewdeng commented on #27167
Hey @guodashun , thanks for the question!

In short, when integrating with Ray Datasets, the Dataset returned by [train.get_dataset_shard()](https://docs.ray.io/en/master/train/api.html#train-get-dataset-shard) will already be sharded, so each worker will only have the shard of data that it should be training on.

Here's some basic documentation about this: https://docs.ray.io/en/master/ray-air/ch

[2022-07-28 17:06] simon-mo commented on #27190
Working as intended? The version string IS different on master vs release branches?

Java is being fixed.

[2022-07-28 17:06] #27190 closed

[2022-07-28 17:09] simon-mo commented on #27189
ack looking

[2022-07-28 17:10] simon-mo commented on #27189
API change broke it; sending fix PR now..

[2022-07-28 17:16] simon-mo commented on #27189
PR sent, please feel free to merge and disable this test.

[2022-07-28 17:18] #27193 closed

[2022-07-28 17:18] sihanwang41 commented on #27193
Not a bug

[2022-07-28 17:27] rickyyx commented on #27181
The test timeout before training stage. Based on the truncated log remained from the stdout, it seems it never started the training. It should have print "Starting training..." after printing the Net's parameters.

https://github.com/ray-project/ray/blob/baa14d695aafd0abb817026ddd4b4182f68f6b61/release/nightly_tests/dataset/ray_sgd_training.py#L336-L341

Had a few tries trying to reproduce the tim

[2022-07-28 17:39] #26812 closed

[2022-07-28 17:41] iycheng commented on #27175
@suquark  could you give this a look?

[2022-07-28 17:42] iycheng commented on #27175
I think maybe let's skip it for now.

[2022-07-28 17:45] suquark commented on #27175
It seems a failure of `tests:test_storage`, not `test_storage` in workflow (the later should be the reason that we are assigned, I believe?). But let me take a look anyway.

[2022-07-28 17:51] suquark commented on #27175
The cause should be there are a leakage of Ray cluster from other tests; and because `ray.init` connects to existing cluster by default now, it connects to the existing cluster with `strorage=...`. That's why it failed.

[2022-07-28 17:56] suquark commented on #27178
should already be fixed by https://github.com/ray-project/ray/pull/27124. let's wait and see if it works or not

[2022-07-28 18:02] xwjiang2010 commented on #27107
Thanks for filing this issue!
Seeing
[code]

@Anando304 It seems you were setting `num_workers=2` and from the screenshot, there were indeed two "workers" (PID: 2330 and 2331).
"Worker" in this context refers to a Ray actor (not a machine).

[2022-07-28 18:06] suquark commented on #20082
Now workflow still does not support nested refs, but due to changes in ray dataset, there are no nested refs in related workflow+dataset tests. We can close it for now.

[2022-07-28 18:06] #20082 closed

[2022-07-28 18:19] Anando304 commented on #27107
Hey @xwjiang2010 !

Thanks for the response. That's good to know. However when I run the notebook, it's printing the epochs as if its running in non-distributed mode. Is it normally supposed to be this slow compared to the non-distributed mode?

[2022-07-28 18:30] klwuibm commented on #27109
@yuanchi2807 and I conducted profiling experiments on a few workflow tests, including some that are not HTTP event provider related.  We instrumented the fixtures defined in `conftest.py` to measure the times a test spent on starting a Ray cluster, shutting down a Ray cluster, starting a Ray Serve, and shutting down a Ray Serve.  We log the timestamp before and after such a step and then calculate

[2022-07-28 18:38] rickyyx commented on #27181
Retry succeeds on buildkite: https://buildkite.com/ray-project/release-tests-branch/builds/833#018245dc-10e1-40bb-9082-9a412692d392

[2022-07-28 18:38] #27181 closed

[2022-07-28 18:47] jiaodong commented on #26410
feast_example is not blocker confirmed with Richard, and the sigopt one failed only because we don't know how to setup permission.

Everything else is running on CI per commit and green now, with only one PR requires cherry pick tagged as v2.0.0-pick already.

[2022-07-28 18:47] #26410 closed

[2022-07-28 18:58] xwjiang2010 commented on #26410
Should we have separate trackers for the remaining low-prio two?

[2022-07-28 19:03] jiaodong opened #27203 "[AIR] Fix //doc/source/tune/examples:sigopt_example"
### What happened + What you expected to happen

Notebook is broken due to missing permission first, maybe more issues down the road. @Yard1 looked into it earlier and we're creating this issue to keep track of it.

### Versions / Dependencies

master

### Reproduction script

`bazel test //doc/source/tune/examples:sigopt_example`

### Issue Severity

Medium: It is a significant difficulty but I c

[2022-07-28 19:04] jiaodong opened #27204 "[AIR] Fix //doc/source/ray-air/examples:feast_example"
### What happened + What you expected to happen

Notebook is broken due to bad import first, maybe more issues down the road. we're creating this issue to keep track of it.

### Versions / Dependencies

master

### Reproduction script

`bazel test //doc/source/ray-air/examples:feast_example`

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-07-28 19:04] jiaodong commented on #26410
https://github.com/ray-project/ray/issues/27203 for sigopt
https://github.com/ray-project/ray/issues/27204 for feast

[2022-07-28 19:30] #27189 closed

[2022-07-28 19:36] simon-mo commented on #27189
Cherry pick PR https://github.com/ray-project/ray/pull/27206

[2022-07-28 19:43] nollied commented on #12668
yeah, same

[2022-07-28 19:49] jianoaix opened #27208 "[Core] Improve num_returns documentation"
Current documentation:
`num_returns – This is only for remote functions. It specifies the number of object refs returned by the remote function invocation.`

It could be more helpful to clarify the valid num_returns (it seems 1 or N, see below) and what's returned when it's 1 or N.

Current semantics - returning tuple
[code]
Current semantics - returning list
[code]

[2022-07-28 19:52] avnishn commented on #27187
https://github.com/ray-project/ray/pull/27207

[2022-07-28 19:52] avnishn commented on #27188
https://github.com/ray-project/ray/pull/27207

[2022-07-28 19:57] mccrearyd opened #27211 "[ray dashboard] profile button not working"
### What happened + What you expected to happen

clicking any of the profile buttons results in the following error:

![image](https://user-images.githubusercontent.com/26421036/181624661-b899d3ae-5b06-487c-8c73-17104c7d92be.png)

text form:
[code]

note: this button was for an actor, but even non-actors don't work.

### Versions / Dependencies

ray 1.13.0, python=3.8.12, ubuntu 20.04

browser=fir

[2022-07-28 19:59] iycheng commented on #27109
Ah, got it. Thanks for the detailed investigation. I just want to make sure no other issues. I think we can close this issue now.

[2022-07-28 19:59] #27109 closed

[2022-07-28 20:45] clarkzinzow commented on #27116
Investigated this, the sidecar Pandas metadata shows that it was written with an older version of the extension type, which is why the read failed in the tensor docs PR after rebasing on master and getting the new version of the extension type. Doing a roundtrip on regenerated data works as expected on latest master:
[code]
Closing this as solved!

[2022-07-28 20:45] #27116 closed

[2022-07-28 20:50] scv119 opened #27214 "[2.0][master] master/2.0.0 release branches are broken due to pytorch-lightning version mismatch"
### What happened + What you expected to happen

[code]
https://buildkite.com/ray-project/ray-builders-branch/builds/9031#01824668-6316-4ef3-ac20-7ecc155d798d

### Versions / Dependencies

latest ray

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-07-28 20:50] scv119 commented on #27214
probably caused by https://github.com/ray-project/ray_lightning/pull/163
[#163 Support PyTorch Lightning 1.6](https://github.com/ray-project/ray_lightning/pull/163)

[2022-07-28 20:50] scv119 commented on #27214
https://sourcegraph.com/github.com/ray-project/ray/-/blob/doc/requirements-doc.txt?L39

[2022-07-28 20:55] JiahaoYao commented on #27214
fixed.

[2022-07-28 20:57] scv119 commented on #27214
lol not yet, you should only calm fixed when it's really fixed the issue in the master and release branch

[2022-07-28 21:01] JiahaoYao commented on #27214
got cha

[2022-07-28 21:02] JiahaoYao commented on #27214
thanks

[2022-07-28 21:03] Anando304 commented on #26599
Hey all (@DmitriGekhtman @krfricke )!!

Just curious, have you had a chance to reproduce the error using K8's by any chance. Totally understand if you had your hands full with the latest release of Ray

[2022-07-28 21:16] ericl opened #27220 "Logging prefix no longer showing"
### What happened + What you expected to happen

The Ray logging prefix seems to have vanished:

[code]

You used to get the WARN, file name, etc. before the message.

### Versions / Dependencies

master

### Reproduction script

see above

### Issue Severity

_No response_

[2022-07-28 21:16] scv119 commented on #27220
@rkooo567 @rickyyx in case you changed anything recently?

[2022-07-28 21:18] zahyaah commented on #26992
Can I work on this? @wuisawesome

[2022-07-28 21:19] suquark commented on #20797
@valiantljk @iycheng I tried it in my own jupyter notebook, this no longer not an issue now.

BTW, we also updated our syntax recently, now the example should be

[code]

[2022-07-28 21:19] #20797 closed

[2022-07-28 21:22] zahyaah commented on #26992
### Do I have to change the following
 return colorama.Style.BRIGHT + colorama.Fore.YELLOW
to
 return colorama.Style.BRIGHT + colorama.Fore.YELLOW

[File -> python/ray/_private/worker.py]

<img width="605" alt="image" src="https://user-images.githubusercontent.com/72253920/181639779-3a9565e4-ed0c-4c77-8cc4-0830712aa974.png">

[2022-07-28 21:47] scv119 commented on #27178
@suquark @iycheng send the cherry-pick PR?

[2022-07-28 21:54] #27168 closed

[2022-07-28 21:55] #27171 closed

[2022-07-28 21:58] #27175 closed

[2022-07-28 22:03] DmitriGekhtman commented on #26599
Hey @Anando304! Your intuition about the Ray release is most astute :) :)
I'll take a look into reproducing this issue today.

Besides unblocking you, we have selfish ulterior motives: In the context of the Ray release, we want Ray Tune on K8s to be a great experience :)

[2022-07-28 22:41] gjoliver commented on #27177
I am going to close this issue.
It seems the test failed first time because CI failed to acquire compute instances.
I tried the test again and it passed fine.

<img width="1191" alt="Screen Shot 2022-07-28 at 3 37 18 PM" src="https://user-images.githubusercontent.com/6347585/181649274-10ae0740-e0e1-4ede-8d54-10a00467eed6.png">

[2022-07-28 22:42] #27177 closed

[2022-07-28 22:48] rkooo567 commented on #26966
We talked in person, and we agreed we need some tweaks in detection logic + grpc config. Yi will look at it after rc1 deadline.

[2022-07-28 22:52] #27186 closed

[2022-07-28 22:52] #27185 closed

[2022-07-28 22:53] #27182 closed

[2022-07-28 23:28] DmitriGekhtman commented on #26599
@krfricke what size were the EC2 nodes you used?
I see the K8s setup uses nodes with 4CPU 8Gi, 1 head, from 2 to 3 workers.

[2022-07-28 23:34] Yard1 commented on #27203
Duplicate of https://github.com/ray-project/ray/issues/26567

[2022-07-28 23:34] #27203 closed

[2022-07-28 23:36] DmitriGekhtman commented on #26599
I am surprised that the actors in the example are getting scheduled across different Ray nodes, when the head node has 4 CPUs.

[2022-07-28 23:45] proteos commented on #9712
I'd love to see this resolved. Will this be addressed?
P.S. Alternatively, I'd love to know what is the preferred way to work with generators that my code receives. Shall I unpack items first and then somehow feed into my remote function?

[2022-07-29 00:12] scv119 opened #27237 "[CI][runtime env] osx://cpp:test_python_call_cpp is failing on master/release branch"
### What happened + What you expected to happen

![image](https://user-images.githubusercontent.com/837180/181657414-b0752dd2-c952-4bf4-bc22-f54b06de6325.png)

@SongGuyang please unbreak it now.

### Versions / Dependencies

latest ray.

### Reproduction script

N/A

### Issue Severity

High: It blocks me from completing my task.

[2022-07-29 00:33] #27152 closed

[2022-07-29 00:39] rkooo567 commented on #27220
After the initial bisect, it seems like this is from this PR: https://github.com/ray-project/ray/pull/26678. Keep looking

[2022-07-29 00:46] DmitriGekhtman commented on #26599
I applied the configuration and ran the scripts from the issue description and was not able to reproduce the issue.
@Anando304, looks like you and I could use to do some pair debugging.

[2022-07-29 01:30] pang-wu commented on #21301
+1, any update on this?

[2022-07-29 02:13] guodashun commented on #27167
@matthewdeng Thanks for your reply! Problem solved.

[2022-07-29 02:13] #27167 closed

[2022-07-29 05:25] rkooo567 opened #27245 "[Test] Notify all dependency updates"
### Description

Dependency update is one of the common failures from CI, and when it happens, it is really difficult to debug issues (and CI randomly fails).

Whenever there's a new dependency update happens, we are supposed to be notified. In this way, when CI is crashed, we can figure out the root cause easily.

### Use case

_No response_

[2022-07-29 05:39] rkooo567 opened #27246 "[Core] Ray hangs when grpcio==1.48.0 is used."
### What happened + What you expected to happen

Not entirely sure about the root cause, but when grpcio >= 1.48.0 is used, ray hangs on starting a new process.

We are not entirely sure why this happens now, but we should figure out the root cause.

Action items

1. We should upper bound the gRPC version because they are consistently the root cause of random hanging from core.
2. We should figure

[2022-07-29 05:51] #27178 closed

[2022-07-29 06:04] rkooo567 commented on #27173
I think @jianoaix is right. Let's see if merging that PR fixes this issue.

[2022-07-29 06:16] rkooo567 commented on #27190
It was because of some release branch specific code. Closing it

[2022-07-29 07:14] nollied commented on #26994
@rkooo567 i haven't noticed, but i wouldn't be surprised.

[2022-07-29 07:37] P90-RushB commented on #26250
I also encountered the same error，even run the official cartpole example.
Ray 3.0.0.dev0 (Daily Releases)
Python 3.8.13
Torch 1.12.0
Ubuntu 20.04(wsl)

[2022-07-29 07:48] #27214 closed

[2022-07-29 07:51] JiahaoYao commented on #27214
Ty

[2022-07-29 07:55] #27176 closed

[2022-07-29 07:58] ewald-florian commented on #26364
I get the same error. Downgrading torch to 1.10 did not work for me but I also do not use torch but tensorflow 2 as framework. Would be very grateful for any help!

**Error**

Exception ignored in: <function RolloutWorker.__del__ at 0x7f7cd84734c0>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/ray/util/tracing/tracing_helper.py", line 461, in _resume_span
TypeEr

[2022-07-29 08:16] #27184 closed

[2022-07-29 08:37] #27173 closed

[2022-07-29 09:17] rusiaaman commented on #9408
Similar error, downgrading msgpack from 1.0.4 to 1.0.1 helped

[code]

[2022-07-29 09:59] krfricke commented on #27160
cc @simon-mo looks like this could be dashboard-related?

[2022-07-29 11:34] Anando304 commented on #26599
Sounds good, I'll DM you through slack and we can setup a short pair programming session to debug! Appreciate your time once again!!

[2022-07-29 15:10] simon-mo commented on #27160
@alanwguo

[2022-07-29 15:49] scv119 opened #27257 "[Data] run small scale of dataset chaos integration test in CI"
### What happened + What you expected to happen

Today we run a bunch of dataset chaos test in nightly test to catch regressions. However, a lot of them can be easily caught by **a multi-node integration tests** running in CI/buildkite instead.
we should do that, which saves a lot of money and makes it easier/faster to detect regressions.

### Versions / Dependencies

n/a

### Reproduction script

[2022-07-29 15:50] scv119 commented on #27257
@matthewdeng @c21 this looks important, can you help triage?

[2022-07-29 16:07] scv119 opened #27258 "[CI] linux://python/ray/tests:test_gcs_ha_e2e starts failing"
### What happened + What you expected to happen

<img width="496" alt="image" src="https://user-images.githubusercontent.com/837180/181799943-d6884b32-6e54-4d8a-8246-c81ad9d9f11d.png">

 linux://python/ray/tests:test_gcs_ha_e2e starts failing after we hotfixed the grpcio upgrade issue (559216780cc510ffb7e42ae2ca99bb72061d3a40, https://github.com/ray-project/ray/commit/fda345335ae5fe4d8ff50927f5b2c

[2022-07-29 16:31] #27237 closed

[2022-07-29 16:59] #27057 closed

[2022-07-29 17:00] scv119 commented on #26966
@rkooo567 now it's no longer release-blocker right?

[2022-07-29 17:23] scv119 commented on #27076
cc @rkooo567

[2022-07-29 17:29] dejangrubisic opened #27262 "RLlib: agent.restore(checkpoint) TypeError: can't convert np.ndarray of type numpy.object_."
### What happened + What you expected to happen

I wanted to implement simple RLlib training with torch and PPO training. The documentation says this is the way we do it:

[code]

`*** TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint8, and bool.`

Note:
This doesn't fail with T

[2022-07-29 17:32] c21 commented on #27257
@scv119 - this is a good idea, I will look into it.

[2022-07-29 17:55] #27220 closed

[2022-07-29 17:57] scv119 opened #27265 "[2.0][Data] chaos_pipelined_ingestion_* tests failed"
### What happened + What you expected to happen

the [chaos_pipelined_ingestion_..](https://buildkite.com/ray-project/release-tests-branch/builds/837#01824a5f-cac7-4678-8b7d-3d1e7d9276b6) is still failing while the non-pipelined chaos tests are now passing after https://github.com/ray-project/ray/pull/27149 fix the split ownership. We should drill down to this and see why it failed.

### Versions

[2022-07-29 17:58] scv119 commented on #27265
cc @c21 @jjyao @jianoaix @matthewdeng

[2022-07-29 18:04] architkulkarni opened #27266 "[Serve] Simple multi-deployment example prints warning about sync handle in asyncio loop"
### What happened + What you expected to happen

The example below shouldn't print any warnings, but it prints

`(ServeReplica:B pid=96693) You are retrieving a sync handle inside an asyncio loop. Try getting Deployment.get_handle(.., sync=False) to get better performance. Learn more at https://docs.ray.io/en/latest/serve/handle-guide.html#sync-and-async-handles`

It references a deprecated API, a

[2022-07-29 18:16] alanwguo commented on #27160
We don't use the loop parameter in any of the asyncio Lock's in the ray codebase. This is likely a downstream dependency issue. Might be related to https://github.com/grpc/grpc/issues/27888

@aRI0U , what version of grpcio do you have installed?

[2022-07-29 18:18] wuisawesome commented on #26992
That would be awesome!

Yup exactly.

[2022-07-29 18:21] zahyaah commented on #26992
Okay, I will do it right away. Thanks @wuisawesome

[2022-07-29 18:33] Rohan138 commented on #27262
This is fixed by #26863; installing the latest nightly build following [this](https://docs.ray.io/en/latest/ray-overview/installation.html), or downgrading to `torch<1.12.0` should work.

[2022-07-29 18:34] alanwguo commented on #27160
Yes, I confirmed a install of `ray[tune]` in a fresh conda environment will install the right version of grpcio and the tutorial code runs fine.

When I installed grpcio==1.41.1, I got the same error as you.

I'll put up a PR to pin grpcio >= 1.42.0 for py310.

[2022-07-29 19:01] dejangrubisic commented on #27262
Thanks a lot! I can confirm that
`pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl`

solved the problem :)

[2022-07-29 19:01] #27262 closed

[2022-07-29 19:15] scv119 opened #27273 "[nightly][2.0] serve_autoscaling_multi_deployment is failing"
### What happened + What you expected to happen

This fails the nightly test from latest releases/2.0.0 branch
https://buildkite.com/ray-project/release-tests-branch/builds/837#0182494c-c4db-45e7-af7f-c739587125fb

@simon-mo is this a rc0 blocker? if yes please address ASAP. If no feel free to remove unbreak-now tag.

### Versions / Dependencies

releases/2.0.0 branch

### Reproduction script

n/a

[2022-07-29 19:16] simon-mo commented on #27273
Clicking retry now because it looks like transient infra error
[code]

[2022-07-29 19:17] scv119 opened #27274 "[2.0][Nightly] ml_user_ray_lightning_user_test_master is failing"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/837#0182494c-c441-4a80-bbd7-172f03886d1b

this failed with latest nightly release build. is this a rc0 release blocker @matthewdeng ?

### Versions / Dependencies

releases/2.0.0

### Reproduction script

n/a

### Issue Severity

High: It blocks me from completing my task.

[2022-07-29 19:19] scv119 opened #27276 "[2.0][nightly] long_running_distributed_pytorch_pbt_failure (8671807) failed"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/837#0182494c-c416-47f7-8bc4-0465df3a7e7e
this failed on releases/2.0.0 branch
is this a rc0 release blocker?

### Versions / Dependencies

releases/2.0.0

### Reproduction script

N/a

### Issue Severity

High: It blocks me from completing my task.

[2022-07-29 19:48] xwjiang2010 commented on #27107
@Anando304
I tried your workload and indeed the distributed computing is not bringing benefit to the table.
The reason is following:
For non-distributed one, the CPU usage is already around 100% (tf by default will use all the cores on the machine). For distributed one, the default set up is 1 CPU per worker and default placement for ray train workers is "PACKED" (on the same machine). As a result

[2022-07-29 20:03] #26971 closed

[2022-07-29 20:42] #27188 closed

[2022-07-29 20:43] #27187 closed

[2022-07-29 20:51] simon-mo commented on #27273
Update. Passed after retrying!
<img width="729" alt="image" src="https://user-images.githubusercontent.com/21118851/181841289-06e61637-e6a3-40db-b994-593d56035597.png">

[2022-07-29 20:51] #27273 closed

[2022-07-29 20:53] JiahaoYao commented on #27274
sounds good

On Fri, Jul 29, 2022, 13:47 matthewdeng ***@***.***> wrote:

[2022-07-29 20:53] #27258 closed

[2022-07-29 21:15] xwjiang2010 commented on #27276
seeing:
[code]

[2022-07-29 21:35] matthewdeng commented on #27274
Not a release blocker, just test dependency needs to be pinned.

[2022-07-29 21:36] xwjiang2010 commented on #27276
https://github.com/ray-project/ray/pull/27040/files

[2022-07-29 21:43] bveeramani opened #27286 "[Datasets] Document `DatasetContext`"
### Description

The `DatasetContext` documentation is minimal. There's no description of what the different parameters do. For example, what does `use_polars` mean?

### Link

https://docs.ray.io/en/master/data/package-ref.html#datasetcontext-api

[2022-07-29 21:45] amogkam opened #27287 "[Core] PlacementGroup `wait` hangs with infeasible placement group"
### What happened + What you expected to happen

Running the below script hangs. I would expect `pg.wait(1)` to finish after 1 second and return False since the PlacementGroup is not feasible.

### Versions / Dependencies

Ray master

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-07-29 21:50] shrekris-anyscale commented on #21968
Bumping this issue to remove the stale tag. I believe line numbers still get copied with that button.

[2022-07-29 22:39] utkarshp opened #27292 "RLLib issue with making the program deterministic"
### What happened + What you expected to happen

I am trying to make my code deterministic. I have tried setting different seeds that I could think of to a fixed value, but I don't seem to be able to make it work. I have narrowed the issue down to this: I think Ray/RLLib is using the global random state in a non-deterministic way somewhere during every call to train(). I was able to reproduce the

[2022-07-29 23:52] iycheng opened #27296 "[core] Bad logs when `__del__` is called"
### What happened + What you expected to happen

It seems that in py3.9, something changed and the `__del__` can be called after the cleanup.
[code]

### Versions / Dependencies

master, py39, linux

### Reproduction script

import os
import signal
from filelock import FileLock

import ray
ray.init('auto')

l = FileLock("tmp.lock")

@ray.remote(max_restarts=1, max_task_retries=0)
class Actor:

[2022-07-29 23:54] scv119 commented on #27296
Thanks @iycheng for reporting!

[2022-07-30 00:07] clarkzinzow opened #27297 "[Core] Borrowed objects are leaked when actor creation is cancelled before the creation task is scheduled."
Objects borrowed by an actor creation task will be leaked if the creation task is cancelled before it is scheduled.

## Reproduction

### Explicit Actor Creation Cancellation

[code]

### Implicit Actor Creation Cancellation via Scope

[code]

[2022-07-30 00:15] scv119 opened #27299 "[Core] investigate why Ray hangs with grpcio==1.48.0"
### What happened + What you expected to happen

We need to dive deep down to why `ray.init` hangs with grpcio==1.48.0.

Bonus point: we need to figure out our strategy moving forward, since grpcio has been caused several issues.
https://github.com/ray-project/ray/commit/502c3e132d27ce5106fe98ecde8deacbdde57e6a
https://github.com/ray-project/ray/commit/e3051ebf673a6bb36e0c380b121c08c1b5fd0f4c
http

[2022-07-30 00:33] c21 commented on #26605
I think we should improve the error message here. A better error message should look like

[code]

A little bit more background: we have two types of partition filter: (1).Hive partition, (2).file directory. So I agree the naming is kind of confusing, but it's really just filtering out files based on file extension in directory.

Additional question: @holdenk - curious what's the file extension in

[2022-07-30 00:37] c21 commented on #27286
Agreed. It should be explicit documentation for all configs. Added as P1.

[2022-07-30 01:26] JiahaoYao commented on #27274
@scv119 @matthewdeng this will unbreak this https://github.com/ray-project/ray/pull/27290, do u want to merge?

[2022-07-30 01:27] JiahaoYao commented on #27274
and how to do the release test by my self?

[2022-07-30 06:12] #27296 closed

[2022-07-30 07:22] ddelange commented on #26886
@meechos https://github.com/ray-project/ray/pull/15787#discussion_r930429615

[2022-07-30 07:23] rkooo567 commented on #27121
Deprioritizing it until the meeting

[2022-07-30 13:51] marcm-ml opened #27305 "[Data] ValueError in TableRow for dataset with numpy arrays in cells"
### What happened + What you expected to happen

When I create ray datasets from pandas dataframes that include some n-dim numpy arrays in its cells, I get an error when printing a ```ray.data.TableRow``` object. This happens with any function that returns those objects, e.g. ```ds.show```, ```ds.iter_rows``` but not ```ds.iter_batches``` which simply works (see reproduction script below). I first

[2022-07-30 14:52] scv119 commented on #27276
Fixed by reverting autoscaler changes.

[2022-07-30 14:52] #27276 closed

[2022-07-30 16:21] eleninisioti opened #27309 "Ape-X crashes for custom environment with Dict observation space"
### What happened + What you expected to happen

I am trying to run Ape-X following the example [here](https://github.com/ray-project/ray/issues/18034) for the [Wordcraft environemnt](https://github.com/minqi/wordcraft). I have taken a look at a similar issue [here](https://github.com/ray-project/ray/issues/18418) and the initial example provided runs correctly. so probably it's not an issue of th

[2022-07-30 21:51] hauntsaninja commented on #17769
unstale

[2022-07-31 02:37] #20736 closed

[2022-07-31 07:28] JoeriTheGreat commented on #21645
+1

[2022-07-31 08:30] ChihweiLHBird commented on #278
Is `@ray.actor` still a public API? Couldn't find in the docs.

It still doesn't work with `@ray.remote` though.

[code]

I would like to work on this issue. I am new to here, and may I have some advice about how to fix it? lol

[2022-07-31 11:10] varshithvvs commented on #18599
Any update on ray support for was fargate??

[2022-07-31 17:08] gjoliver commented on #19920
this is fixed by Kai

[2022-07-31 17:08] #19920 closed

[2022-07-31 17:08] gjoliver commented on #22166
let's keep this open.

[2022-07-31 17:57] retrry commented on #21872
This is a feature I would need for usage of ray.

[2022-07-31 23:50] scv119 commented on #25367
Maybe use `GRPC_VERBOSITY=DEBUG` to see server side error log as well?

[2022-07-31 23:53] scv119 commented on #25367
also did a quick search: https://sourcegraph.com/github.com/ray-project/ray/-/blob/src/ray/rpc/grpc_server.cc?L60
https://grpc.github.io/grpc/core/md_doc_keepalive.html

maybe we set the wrong number for grpc_server?

[2022-08-01 02:32] suquark opened #27317 "[Doc] "Ray Workflows" should be "Ray Workflow" in the figure"
### What happened + What you expected to happen

In https://docs.ray.io/en/master/_images/ray_ecosystem_integration_v2.png, "Ray Workflows" should be "Ray Workflow"

### Versions / Dependencies

/

### Reproduction script

/

### Issue Severity

_No response_

[2022-08-01 02:35] rkooo567 commented on #27287
Looks like this happens from 1.13 too. It is a critical issue because the `wait` API should return in the given second.

Will take a look soon.

[2022-08-01 02:54] justinxia6dot5 commented on #26250
I also encountered this error, which was similar to the OP's, except that at the end the "NoneType" is not complaining about not having the attribute "worker", but the variable was assigned a None value and could not proceed with whatever class method that was designed for it.
[code]
For **reproduction**, I was just going through the basic RLlib PPOTrainer on the Taxi Domain example at https://doc

[2022-08-01 03:30] jjyao commented on #27021
@scv119 @stephanie-wang seems a release blocker since it's a regression.

[2022-08-01 05:04] matthewdeng commented on #24184
This has been fixed!

[code]

[2022-08-01 05:04] #24184 closed

[2022-08-01 05:18] rkooo567 commented on #25367
I think we need to carefully choose these values after some research. Actually @iycheng and I decided to discuss some of gRPC config values more carefully after the rc1 branch cut.

@scv119 is this still P0? Do you think we can do this after the branch cut? Also, @rickyyx is this easy to reproduce?

[2022-08-01 06:25] iycheng commented on #26697
[code]

It seems that it crashed in shutdown. Not a hi-pri for now. Lower the priority./

[2022-08-01 06:50] iycheng commented on #26697
[code]
It seems that the core worker got shutdown twice.

[2022-08-01 10:41] #26557 closed

[2022-08-01 10:42] ArturNiederfahrenhorst commented on #26557
Thanks for reporting this and also including the solution! I very much appreciate it.

[2022-08-01 12:23] smorad commented on #22166
It seems like control-flow operators will [prevent fusion](https://github.com/pytorch/pytorch/issues/75464). We can try using the `torch.jit.fuser` to force fusion of our models.

Another big issue is that the kernel must be recompiled when the batch size changes, so we must ensure this remains constant.

[2022-08-01 12:37] smorad commented on #22166
One more approach would be to speedup inference by converting the `jit`ted model to a TensorRT graph: https://github.com/pytorch/TensorRT

However, this would only speed up inference on GPU, which is not something we currently do in RLlib. Only once we can effectively batch rollout worker environment steps (e.g. since worker with 256 envs, stepped in parallel in a single batch) would we have a rea

[2022-08-01 12:42] SehrishMuhammad commented on #13296
Hi, has anyone found the solution? Running into the same problem. Tried the fix suggested by OP but it didn't work for me. Any help is appreciated, thanks!

[2022-08-01 13:32] #21844 closed

[2022-08-01 15:24] aRI0U commented on #27160
Hi,
Thanks a lot for your reply, in fact I had `grpcio==1.35.0`. When I upgrade it works like a charm.
I also tried with more recent versions of `grpcio`:
- With versions `1.42.0` to `1.45.0`, it perfectly works
- With versions `1.46` and `1.47.0`, it works but at the end of the tuning I have this mysterious message:
[code]
- With version `1.48.0` (latest), the program stops just before the call t

[2022-08-01 15:36] pyrito opened #27322 "[Core] Ray 2.0.0rc0 missing `pydantic` from requirements.txt"
### What happened + What you expected to happen

Installing Ray 2.0.0 should pull in any dependencies that are required. After doing `pip install ray==2.0.0rc0`, I got the following error when doing a simple `ray.init()`.

[code]

This fix is simple and just requires the requirements.txt file to be updated appropriately.

### Versions / Dependencies

macOS 12.2.1
Ray 2.0.0rc0
Python 3.9.12

### Re

[2022-08-01 16:10] valentasgruzauskas commented on #26325
Good day,

apologies for the late reply, I missed your comment. I launched tensorboard from docker and wrote your command in the host machine.

Output:
![image](https://user-images.githubusercontent.com/23154503/182192041-1bf232ec-af64-4e14-af85-ff7e503757f1.png)

When I run curl command from host machine, I still receive error.
![image](https://user-images.githubusercontent.com/23154503/182192235

[2022-08-01 16:17] richardliaw commented on #27322
Oh, I believe this comes up when you don't install via `ray[default]`.

We need to catch this exception and raise a simple error message.

[2022-08-01 16:21] pyrito commented on #27322
@richardliaw ah yes, you're right. If I do `pip install ray[default]==2.0.0rc0` it seems to install things accordingly.

[2022-08-01 16:37] rkooo567 opened #27324 "[Core] Revamp creating a landing page for Ray core"
### Description

Currently, there's no clear explanation regarding "when and why users should use Ray core". We should write a landing page to explain this.

cc @jjyao

### Link

_No response_

[2022-08-01 17:00] ZhijieWang commented on #24177
@wuisawesome  i think the issue can be closed right? I see below already implemented.

[code]

[2022-08-01 17:09] rickyyx commented on #25367
Right - I tried that, but unfortunately the server side logging doesn't reveal much useful info. Tried `GRPC_TRACE` on some relevant topics as well.

This is fairly easy to reproduce on large shuffle's map phase. (takes maybe 10min to set up and loaded the dataset before map phase starts). Most of our e2e shuffle of 1tb will surface this.

I am fairly confident this is a client side configs issue,

[2022-08-01 17:09] ZhijieWang opened #27326 "<Core> <Documentation>"
### Description

In responding to internal message [here](https://anyscaleteam.slack.com/archives/CTC9QBA4E/p1659371573459939)
We don't document what does Ray Up requires, as of VPC, Security group. We don't have a basic doc describing the needed cloud infra, how we get access to create the cluster and what access we are using in the Ray up command. this poses adoption risk to enterprise developer

[2022-08-01 17:15] clarkzinzow opened #27327 "[Datasets] Building an empty table from Arrow schema breaks on extension types"
Building an empty table off of Arrow schema breaks if the schema contains an extension type:
[code]

We currently only construct an empty table from schema when a block UDF is supplied while reading Parquet in order to do a best-effort inference of the post-UDF schema: https://github.com/ray-project/ray/blob/410fe1b5ec9e798d6e7ffbb5844e258d08e323b3/python/ray/data/datasource/parquet_datasource.py#

[2022-08-01 17:20] krfricke opened #27328 "[core] PlacementGroupSchedulingStrategy does not support placement_group=None"
### What happened + What you expected to happen

The docstring says

[code]

but the implementation says:

[code]

We should either adjust the docstring or allow None again.

It seems like passing `scheduling_strategy="DEFAULT"` achieves the same job, though this is not well documented.

### Versions / Dependencies

Master, 2.0.0rc0

### Reproduction script

[code]

### Issue Severity

Low: It ann

[2022-08-01 17:29] wuisawesome commented on #20837
Reopening for tracking until we unrevert on the release branch.

[2022-08-01 17:33] wuisawesome commented on #24177
No you've just pointed to the issue, 0 is a falsy value.

[2022-08-01 17:34] wuisawesome commented on #24177
I will downgrade this to P2 though, since it doesn't appear to be an advisable approach to the underlying problem.

[2022-08-01 18:07] matthewdeng commented on #27322
`ray[default]` works as a workaround, but shouldn't this still work with just `ray`?

@alanwguo do you know if dashboard somehow got introduced into the initialization path?

[2022-08-01 18:09] alanwguo commented on #27322
It's possible a try catch has to happen earlier now due to this change.
Now things break at import time for the dashboard. It's possible previously, it would only break at run time and there was a try catch that would throw a better error message.

[2022-08-01 18:21] matthewdeng commented on #27322
Hmm strangely enough I'm not able to repro on my Mac (12.3.1)

[code]
[code]

[2022-08-01 18:23] jiaodong opened #27329 "[AIR][Image] Improve error message for ImageFolderDatasource when size/mode is missing"
### Description

For an image dataset that consists of images of various sizes and mode (grayscale, rgb) we would run into issues regarding ensuring all image tensors we're dealing with are uniform in size (H, W, C) when TensorArray auto casting is by default enabled.

[code]

## If we miss "mode"

[code]
Error message  -  https://gist.github.com/jiaodong/3ddaf99666c599b0c8409ef9bffb8d88

## If we

[2022-08-01 18:35] iycheng commented on #26697
Bump up the priority. More investigation shows that it's from on_completed. Still checking why the worker is closed before that.

[2022-08-01 18:40] peterghaddad commented on #23109
I also am having the exact issue on Ray Clusters.

[2022-08-01 18:48] #25040 closed

[2022-08-01 18:52] scv119 commented on #27322
also cc @rkooo567 who has context.

[2022-08-01 19:22] iycheng commented on #26697
Lower to P1 given it doesn't require core code change. Only test issues.

[2022-08-01 19:22] iycheng opened #27333 "[doc] Update workflow doc to reflect the new positions."

[2022-08-01 19:25] peterghaddad commented on #23109
@krfricke Know any contributors that may have insight? I am running Ray 1.12.1

[2022-08-01 19:50] alanwguo commented on #27322
I also could not reproduce this issue.

@pyrito, can you share the output of `ray.init()`?
Ex:
[code]

One thing to notice is `dashboard_url=''` when the dashboard is not enabled which should be the case when you only have the minimal ray installed.

[2022-08-01 19:56] pyrito commented on #27322
Oddly enough, I'm not able to reproduce the bug I saw with a clean environment either. I did the following:
1. `conda create --name test python=3.9`
2. `pip install ipython`
3. `pip install ray==2.0.0rc0`
4. I'm seeing this:
[code]
I saw the issue in my modin development environment which has a bunch of other stuff in there, so maybe I triggered a bad code path?

[2022-08-01 20:05] pyrito commented on #27322
Aha. The behavior that's triggering the error that I've been seeing is when I uninstall ray and install Ray 2.0.0. I think somehow the old state of enabling the dashboard is left lingering around so dashboard gets enabled. You can reproduce it with these steps:
1. `conda create --name test python=3.9`
2. `pip install ipython`
3. `pip install ray[default]`
4. Run this:
[code]
5. `pip uninstall ray`

[2022-08-01 20:15] charlesjsun opened #27335 "[RLlib] DatasetReader not normalizing"
### What happened + What you expected to happen

There are some problems with the pendulum datasets. I was looking at the min and max values of the actions in the 4 pendulum datasets and this is what I got:
small.json: (-0.977, 0.975)
large.json: (-7810.596, 8995.267)
enormous: (-0.99994, 0.99990)
pendulum_replay_v1.1.0: (-1.999997, 2.0)
So basically pendulum_replay and large is not normalize. Luc

[2022-08-01 20:15] clarng opened #27336 "[core] Update memory accounting"
### What happened + What you expected to happen

Right now we compute total system memory by looking at the limit set by cgroup if it exists or fall back to system info (e.g. meminfo for linux), and then take the smaller of the two values. And we do the same for calculating used memory.

But this leads to inconsistency. Cgroup used memory could be higher or lower than what is computed by system in

[2022-08-01 20:56] jianoaix commented on #26132
This is done: https://github.com/ray-project/ray/pull/26934

[2022-08-01 20:56] #26132 closed

[2022-08-01 20:56] #26095 closed

[2022-08-01 21:16] rkooo567 commented on #27328
cc @jjyao this looks like a regression. Can you confirm that?

[2022-08-01 21:18] christy opened #27339 "[AIR] Fix https://docs.ray.io/en/master/ray-air/examples/rl_online_example.html"
### Description

**What happened + What you expected to happen**
Notebook should run on master.

**Versions / Dependencies**
master

**Fixes needed**
Change demo env to CartPole-v1 (instead of v0)
Change "framework": "torch" (instead of tf)

Example of corrected code section:
[code]

[2022-08-01 21:20] c21 opened #27340 "[Datasets] Avoid unnecessary execution/read to improve `limit()` performance"
### Description

Current dataset.limit() calls into `_split_at_indices()` and it foces executing of all blocks before split - https://github.com/ray-project/ray/blob/master/python/ray/data/_internal/split.py#L257 . This is bad for performance because if user runs limit(N) on a large dataset with small N numbers of rows, it would foce run the whole dataset and immediately drop most of rows.

In `li

[2022-08-01 21:23] c21 commented on #27340
Assigning to @clarkzinzow as he already has a fix on the fly!

[2022-08-01 21:24] rkooo567 commented on #27322
cc @alanwguo  Btw, this is technically not true. We still start a dashboard with minimal ray installation, but we don't start HTTP servers or other modules that require additional dependencies.

[2022-08-01 21:26] matthewdeng commented on #27340
Hmm for performance would this require adding back optimized support for  `_split_at_index(return_right_half=False)`?

[2022-08-01 21:26] rkooo567 commented on #27322
I think the issue is when you install `pip install ray==2.0.0rc0`, it technically installs the minimal ray. If you run `pip install ray[default]` again, it will work. However, the dashboard shouldn't fail to start in this case (so this one is a bug)

[2022-08-01 21:45] matthewdeng commented on #27340
What about other use-cases? Does this apply to datasets with blocks that contain more than 1 row per file? Any reason to not generalize `_split_at_index` to contain this logic?

[2022-08-01 21:50] c21 commented on #27340
@matthewdeng it should work for block with more than 1 row. But I got your point @matthewdeng, let's wait for @clarkzinzow as he is doing the PR. Good code review question!

[2022-08-01 21:53] jjyao commented on #27328
Thanks @krfricke for catching this!

@rkooo567 I thought it's working and it's already mentioned in the ray pg doc. But apparently this is not the case and code snippet in the doc is not tested by CI so we didn't catch this earlier. I'll fix this.

[2022-08-01 21:54] matthewdeng commented on #27322
Based on the repro, seems like the logic to start the HTTPS server is gated by a dependency check and we'd need to add `pydantic` there as well?

[2022-08-01 21:56] alanwguo commented on #27322
yes, i believe I found the place. Just manually testing my fix now.

[2022-08-01 21:58] cadedaniel commented on #27130
cc @DmitriGekhtman to write a quick draft

[2022-08-01 22:00] cadedaniel commented on #27135
Simplified structure

[code]

[2022-08-01 22:19] cadedaniel commented on #27137
Discussing with Dmitri:
* The user guides for large-scale cluster / autoscaling / monitoring and obs should go in top level user guide. As a P1 we can split these out into VM and k8s.
* Jobs and clients should go into top-level user guide

longer term: use includes to share content, that way k8s and vms-specific content is minimal

[2022-08-01 22:23] cadedaniel commented on #27131
Dmitri: should only have:
* What a Ray Cluster is
* What Ray nodes are
* Autoscaling

[2022-08-01 23:46] wuisawesome commented on #8967
I think we want to leave this open until #22070 ?

[2022-08-02 00:01] rkooo567 opened #27351 "[State Observability Alpha] Logically group CLI commands from the documentation"
### Description

Currently, Ray CLI commands are not logically grouped in a documentation which can confuse users (e.g., when to use `ray memory` vs `ray start`).

### Link

_No response_

[2022-08-02 00:16] jiaodong opened #27352 "[AIR] SettingWithCopyWarning for "A value is trying to be set on a copy of a slice from a DataFrame""
### What happened + What you expected to happen

On commit https://github.com/ray-project/ray/commit/a598458c464b88535e711ef7ef55f88e25c1820f

when we execute Step 5) https://docs.ray.io/en/master/ray-air/examples/torch_incremental_learning.html#step-5-putting-it-all-together it shows up.

Likely because there're places we assigned value of a pandas DF internally or notebook that didn't use `loc`

[2022-08-02 00:25] scv119 commented on #25367
if this only show up in large scale shuffle (i.e. it never show up in SSML usecases) I'm OK to deprioritize it. cc @matthewdeng

[2022-08-02 00:44] matthewdeng commented on #25367
Hmmm I think I've seen this from `map_batches` calls, but don't have a concrete repro at hand.

[2022-08-02 00:53] #25345 closed

[2022-08-02 01:09] #27076 closed

[2022-08-02 01:23] bveeramani opened #27357 "[AIR] Add `infrequent_categories_` attribute to `OneHotEncoder` and `MultiHotEncoder`"
### Description

Title.

[code]

See attributes section of https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html.

### Use case

If you specify `max_categories`, it's not clear how you figure out which categories are dropped.

For example, suppose you have a column `language` with strings
[code]

And you one-hot encode the dataset.

[code]

It's not obvious whi

[2022-08-02 01:24] rkooo567 commented on #27076
@ljjsalt is this resolved? Why did you close the issue?

[2022-08-02 01:55] #26697 closed

[2022-08-02 01:57] iycheng opened #27358 "[ci] Mac CI is not reporting the right status in buildkite"
### What happened + What you expected to happen

Here the test failed, but the tab there is still green. We should make the tab red if there is anything failed:

https://buildkite.com/ray-project/ray-builders-branch/builds/9136#01825b2a-51fd-4ffb-9e76-9d2b871585ee

### Versions / Dependencies

master

### Reproduction script

https://buildkite.com/ray-project/ray-builders-branch/builds/9136#01825b

[2022-08-02 01:58] iycheng commented on #27358
@simon-mo  I'm not sure what's happening, but somehow the buildkite doesn't show the right result. I feel this is important since we are using this to merge PR.

[2022-08-02 01:59] simon-mo commented on #27358
I don't have the bandwidth at the moment. Can any oncalls help take a look?

[2022-08-02 02:00] simon-mo commented on #27358
I think @jjyao recently fixed it for windows.

[2022-08-02 02:02] iycheng commented on #27358
@jjyao do you know the root cause of this? (if you don't know this and have no bandwith, we can try to get some oncall working on this)

[2022-08-02 02:44] guodashun opened #27361 "[Datasets] read_parquet() get a strange huge object size"
### What happened + What you expected to happen

There is a local S3 server by minio and a local ray cluster. I want to read parquets from the server by the following code.
[code]
From `.count()` I can get the correct parquets size, but the problem is when I want to instantiate the parquet (like `.show(), .to_modin()`), I met the error message.
[code]
The message shows the `read_parquets()` return

[2022-08-02 04:10] ljjsalt commented on #27076
I didn't resolve this issue, but it seems we are supposed to get the failure information from tasks/actors, instead of from the placement groups. Now I am able to achieve what I need, but I can reopen this issue if you think this is necessary.

[2022-08-02 05:09] yonil7 commented on #22640
Is there any update on this?

[2022-08-02 05:33] saswatac commented on #19071
It looks like additionally list/watch namespace permissions are needed.

https://github.com/nolar/kopf/blob/129fe4ced27e097ff92cde6d1b2405e726e4c820/kopf/_cogs/configs/configuration.py#L240

https://github.com/nolar/kopf/issues/901

i edited the ray-operator-clusterrole and added the list/watch permissions for namespace, and now it seems to correctly create/delete the ray clusters without needing

[2022-08-02 07:22] y981431999 opened #27363 "Is Ray going to support Weighted Quantile Sketches or Quantile Sketches?"
### Description

Hello ,When I using ray to write a xgb model,I find that sometimes the data scale is in the hundreds of millions,I need to use Weighted Quantile Sketches or Quantile Sketches to solve that problem,but I did't find that function in ray.I want to know if it in your futureplan?

### Use case

_No response_

[2022-08-02 11:24] YarShev commented on #13706
ping

[2022-08-02 11:37] cq70605 commented on #27361
I'm getting the same error when attempting to run `ds.show()`, the size of dataset is 20,000,000*5 and the disk is used more than 150GB.

[2022-08-02 14:55] abdjea opened #27368 "[Ray custom environment : A2C take long time to start training and increase temporary file size and ray results directory ]"
### What happened + What you expected to happen

When I'm launching A2C agent training over my custom environment, it causes an increasing of generated data during the training process in these following files /ray/results and more specifically in /tmp/ray.

My VM configuration has 30 CPU, 3 GPU, 47 GB RAM and 80 GB space in disk.

The first observation was as following :
- the training take too m