[2021-12-28 02:35] jon-chuang commented on #21238
I think I just run `bazel build ray_cpp_pkg` in cpp directory. Usually it fails.
I can't recall if building from python folder via `pip install -e . --verbose` results in the issue. I don't think so as it uses sudo as the caller.
Maybe if there is a way to call bazel with sudo, it would fix the issue?

[2021-12-28 02:41] piscesvivian opened #21276 "[Bug] Can't open dashboard/jobs, always loading"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

1. install ： `pip install ray[default]`
2. start:  `ray start --head --dashboard-host 0.0.0.0 --include-dashboard true`
3. [ERROR] open dasboard, change to jobs page [new dashboard]
dashboard

[2021-12-28 02:44] mvindiola1 commented on #21246
Hi @J-S-Robinson,

This is known behavior. The reason is because for some reason it is doing really well and there is no horizon set? We can tell this because of this value `"episodes_this_iter": 0` That means there were no episodes returning done during the 4000 steps collected in that iteration.

The episode_*_* metrics return Nan when there are no collected episodes.

[2021-12-28 05:21] pcmoritz commented on #19177
This is now done

[2021-12-28 05:21] #19177 closed

[2021-12-28 05:25] wpwpxpxp opened #21278 "[Bug] Graph mode errors when using framework="tf""
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I'm using Ray RLlib to train a PPO agent with TWO modifications on the PPOTFPolicy.

- I added a mixin class (say "Recal") to the "mixins" parameter in "build_tf_policy()". This way, the PPOTFPoli

[2021-12-28 06:44] jovany-wang commented on #21275
Not sure what you meant about `dynamic library tooling (function manager)`.

But from my personal understandings, one thing is verbose about config. For example, if we need add a flag which should be applied to all of the workers, we should add it to driver as well as adding it in `worker_pool` to make it applied in worker.

[2021-12-28 08:04] jovany-wang commented on #21141
Not sure what the GC policy is in Python. But at least in Java, JVM is not able to be aware of the native memory pressure from in-memory store.

[2021-12-28 11:54] jon-chuang commented on #20495
I think for preemption that can trigger on_preemption handlers, and also which do not require you to kill your entire worker process, you need to handle breakpoints in your application code loop, say, based on a channel.

Breakpoints in your loop (modulo a desired integer) or your code body would check the channel and trigger the on_premption branch if it receives the premption signal.

So we'd ne

[2021-12-28 12:20] bkpcoding commented on #19523
Hey, I am still getting this error. How to resolve this?
[code]

[2021-12-28 15:42] J-S-Robinson commented on #21246
@mvindiola1 The cartpole_client.py reports each of it's episodes when complete and I can confirm that they start out with very low episode lengths, and that they truncate at 200 steps per episode.

Somehow the server is not reporting those statistics although, again, it must be receiving the information because it *IS* training a policy that converges on 200 steps for all episodes.

[2021-12-28 15:43] jon-chuang commented on #21275
For dynamic library tooling, its more for native code, basically loading dynamic `.so` files, get all of the symbols, and map any task execution request to the appropriate function pointer, and finally the FFI interface (hopefully with C-ABI) for ray runtime to invoke those functions, and pass and retrieve serialized arguments or pointers.

[2021-12-28 15:54] jon-chuang commented on #21275
For this config, I think it could be put in `core_worker/utils`. What dya guys think?

[2021-12-28 17:44] jovany-wang commented on #21218
Yes. It's only for Java right now. `JavaByteArrayBuffer::GetData()` will occur a copy from Java heap memory to native native.

[2021-12-28 17:45] jovany-wang commented on #21218
Not sure if Python worker has this kind of issue.

[2021-12-28 18:11] #20356 closed

[2021-12-28 18:12] jovany-wang commented on #17676
DONE

[2021-12-28 18:12] #17676 closed

[2021-12-28 18:19] gramhagen commented on #19523
Ugh. You're right we missed one. Will have time to look at it later this week.

[2021-12-28 18:21] scv119 commented on #21218
Ah.. Is there an alternative where we track the total size of in-memory allocated objects, and trigger GC when the size across some threshold (or using other more sophisticated policy)? Seems this way:
- Ray core has the control of the GC behavior(similar to how plasma store triggered GC)
- It also works with all language frontends out of box.
Thought?

[2021-12-28 18:45] jovany-wang commented on #21218
I don't think Ray core GC is better than other language VMs. Some personal reasons are:
1. For an instance of JVM, the GC policy is complex and fine grained enough. JVM GC components do the decide on when and how to do the GCs. in-memory store doesn't like plasma, as plasma is a distributed memory awaring, and there is no such GC for distributed memory.
2. GC policies are not the same in different

[2021-12-28 18:47] jovany-wang commented on #21218
@scv119 Does python has the same issue?

[2021-12-28 20:04] valiantljk opened #21285 "[Feature] Stop Redis when stop Ray"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I have noticed that when stopping Ray, the redis server is not shutdown. Thus re-starting ray will throw an error complaining 'redis can not be started' due to port conflict.

I would expect that 'ray stop' stops all ray related proce

[2021-12-28 20:07] #21285 closed

[2021-12-28 20:07] valiantljk commented on #21285
It seems to be a but not a fr. I'll create another one.
currently ray stop can stop redis, but when re-start ray, there is another error related to redis.

[2021-12-28 21:27] mgerstgrasser opened #21286 "[Feature] Simplified multiagent config with asymmetric observation spaces"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In #16565 and #17046 an improvement was made to allow RLLib to determine the observation and action space from the environment in multiagent environments. This only works when the spaces are the same for all agents though. I want to p

[2021-12-28 23:18] jon-chuang commented on #20495
This suggest one should have the following config for preemption:
[code]

[2021-12-28 23:18] ericl commented on #20495
@Hoeze @jon-chuang good thoughts. Convert to a google doc? Indeed it's difficult to have a complex discussion in GitHub format.

@stephanie-wang also has a initial design doc here: https://docs.google.com/document/d/1AG1Nx2znKZLsld92V1hvGIcsY-iSIzeuzhbs74w-70g/edit#heading=h.17dss3b9evbj

This is very similar to what @mwtian has been exploring as "distributed co-routines". It turns out https://git

[2021-12-29 02:22] mvindiola1 commented on #21246
@J-S-Robinson,

The client server part didn't register with me in my first response. I am pretty sure the issue you are experiencing is because the trainer which is in the server is not running any workers to generate rollouts of the environment. This makes sense in the client/server setup  but a side effect of that is it does not log episode metrics since it is not collecting any.

This sounds li

[2021-12-29 08:43] jon-chuang commented on #20500
I definitely like this idea. Definitely a pain point I've come across.

Some thoughts:
1. On-demand paging is only really useful for large objects
    - since for small or medium objects, we should prefer to fetch the entire object.
2. It needs to exploit decomposability of the language's data structure (e.g. slice, column, row)
    - rather than focus on arrays, one could have an abstract interfa

[2021-12-29 08:47] jon-chuang commented on #21238
Closing as I think I'll use pip install as the workaround

[2021-12-29 08:50] jon-chuang opened #21290 "[xlang] Minimal Zero-Copy Example: Arrow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

There is a lot of interest in supporting zero-copy deserialization more generally in xlang, including [Rust](https://github.com/ray-project/ray/issues/20609), [Java](https://github.com/ray-project/ray/issues/21234), and [xlang IPC str

[2021-12-29 12:16] #17886 closed

[2021-12-29 13:04] jon-chuang commented on #21161
re: job prioritization
related: https://github.com/ray-project/ray/issues/2618 https://github.com/ray-project/ray/issues/16782

[2021-12-29 13:30] mincheolseong commented on #8552
Can you give me an example of how you changed how to import the module? In fact, I'm facing the same problem now.

[2021-12-29 15:33] mattip commented on #20747
The default log sync mechanism can only use rsync, which is a unix-y only facility (it cannot be installed via pip). The error can be avoided by setting TUNE_DISABLE_AUTO_CALLBACK_SYNCER before running the code.
[code]

And in too much detail:
The [code path](https://github.com/ray-project/ray/blob/8d2f53e25b9ae8d8250b733b38901f3971d4b8a7/python/ray/tune/utils/callback.py#L122) calls `SyncerCallba

[2021-12-29 15:46] mattip commented on #15780
FWIW, I can reproduce this on linux with latest HEAD so I think the Windows label can be removed. I get empty error messages every ~20 seconds and then, when I hit ^C get a traceback.
[code]

[2021-12-29 16:00] mattip commented on #15700
I think this is fixed on the 1.9.1 release from last week:
[code]

Note that gpustat is successfully installed.

[2021-12-29 16:01] mattip commented on #15700
Closing, please reopen if I misunderstood.

[2021-12-29 16:01] #15700 closed

[2021-12-29 16:04] mattip commented on #15502
Fixed in the latest 1.9.1 release:
[code]

Thanks for the report. Closing, please reopen if I misunderstood.

[2021-12-29 16:04] #15502 closed

[2021-12-29 16:10] mattip commented on #14493
This seems like it may be due to a circular import somewhere. I see this happens in `from ray import tune`. What is in `test.py` before that? Do you have any environment variables that may be pre-loading other packages (i.e. what does `> set PYTHON` print out on windows)?

Can you try again with the recent release of 1.9.1?

[2021-12-29 16:28] mattip commented on #11277
I think this has been fixed in the recent 1.9.1 release, could you try that version?

[2021-12-29 16:30] mattip commented on #12274
@mfitton did you have a chance to check if you can reproduce this with the recently released 1.9.1 version of ray? Without a reproducer it is difficult to know whether there are still some kinks in the windows support

[2021-12-29 16:35] mattip commented on #12949
I am not familiar with the term "fate-share" and could only find [one reference](https://docs.ray.io/en/latest/placement-group.html?highlight=fate-share#lifecycle) to it in the documentation. Is there something actionable to do for this issue?

[2021-12-29 16:37] mattip commented on #9116
The port allocation algorithm was changed for 1.9.1. Could you see if this still reproduces?

[2021-12-29 16:47] mattip commented on #15347
The dashboard was re-enabled for the latest 1.9.1 release, along with many other bug fixes for windows. Could you try that version? Also I opened explosion/spacy-ray#14 to unpin spacy-ray

[2021-12-29 17:16] mwtian commented on #15780
@mattip Just to confirm this is the same issue:
- There is a Ray cluster already running at port 6379.
- The Linux environment has firewall rule that rejects connections like `10.0.0.19:6379`. e.g. `redis-cli -h 10.0.0.19 -p 6379` would also be rejected.

[2021-12-29 17:40] mattip commented on #15780
It seems the change to disallow 127.0.01 as a valid address came from PR #1556, with the comment

Perhaps there could be differentiation between situations where a user prefers that all services run on 127.0.0.1, or prefers `localhost`, or does not have a preference.

[2021-12-29 20:37] J-S-Robinson commented on #21246
Yeah, I guess it could be construed as a feature request, except it's in an example packed with the project which. I just rolled back to 1.4.1 and confirmed that the same example files back then *DID* output a correct log.

Now the big change I can see between now and then is that back in that version you had to add an environment to the server. `"env": None` was not used, you had to include a stu

[2021-12-29 23:23] #17700 closed

[2021-12-30 03:19] MissiontoMars opened #21294 "[Feature] Fine-grained actor call end-to-end time tracing required"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In the online real-time bussiness scenario, such as financial payment system, the latency SLA of actor call is extremely important. At present, there is a lack of end-to-end latency tracking for actor call, system owners can not figur

[2021-12-30 03:21] MissiontoMars commented on #21294
@scv119 Could you help look at this or involve some other in? Thanks. cc @raulchen @jovany-wang

[2021-12-30 03:47] cyk1337 commented on #8552
Hi @mincheolseong , my final solution goes to [https://github.com/cyk1337/Distributed-Reinforcement-Learning-with-Ray-Framework](https://github.com/cyk1337/Distributed-Reinforcement-Learning-with-Ray-Framework). Hope it can help ;)

[2021-12-30 04:17] mincheolseong commented on #8552
The link you sent me is exactly the structure I want. Thank you for your
kind help. Have a nice day. :)

2021년 12월 30일 (목) 오후 12:47, CYK ***@***.***>님이 작성:

[2021-12-30 04:27] SongGuyang commented on #21275
Looks good to me to build common utils or libraries for all languages. But I'm not sure how many codes of dynamic library loading can be shared from C++ worker to Rust because I'm not familiar with Rust. Can you make a prototype for this? If you can do, I'm happy to review!
 About cmdline, I think it is easy to share.
About config, it is a great refactor which we always want to do. I think we shou

[2021-12-30 04:55] scv119 commented on #21294
Task/actor execution time is indeed a critical metric to observe. @rkooo567 is this something you have planned to work on?
I have the impression (and conceptually) that task specs is supposed to be immutable, but not 100% sure. I'll take a closer look and get back to you!

[2021-12-30 06:28] trigaten commented on #4479
From Slack, this might be the easiest solution:

`ray.init(runtime_env={"working_dir": "."})`

I replaced "." with the directory path to all of my code and it works nicely.

[2021-12-30 07:08] jon-chuang commented on #21294
Actually I think this can be derived from local logs, but the clocks need to be synced between machines. Since we are talking about microsecond scale, not sure what is the typical drift for machines.

Not convinced that collecting statistics should be in-band in the task spec between worker to worker RPC.

For statistics collection/tracing more generally, my intuition is to advocate for a global r

[2021-12-30 07:24] ICESDHR commented on #18378
hi, i have the same problem.It's been three weeks. Any progress?  I'd appreciate any other suggestions.

[2021-12-30 07:26] rkooo567 commented on #21294
Yeah I think this can be derived from scheduling events I am planning to work on. I agree with Jon for general api & impl (getting it from event logs + collecting outside gcs

[2021-12-30 07:53] MissiontoMars commented on #21294
@rkooo567 Great! Is there any documentation to describe the scheduling events? I want to have a early look.

[2021-12-30 07:58] kfstorm opened #21296 "[Datasets] [Pandas Block] Implement PandasBlockAccessor in pandas-native ways"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

#20988 Introduces a Pandas block format support in Ray Dataset. But Some methods of `PandasBlockAccessor` are implemented by converting to and from Arrow format. The performance may be not as good enough as the pandas-native way. We n

[2021-12-30 08:25] P90-RushB opened #21297 "[Bug] ppo_loss is inf because discrete action probability is 0"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When using ppo(torch version) in disrete action space, if training time is long enough, sometime will show:
WARNING:root:NaN or Inf found in input tensor.
the reason is that the action_kl in total

[2021-12-30 09:04] #17907 closed

[2021-12-30 09:05] rkooo567 commented on #21294
It is not completed yet. I can share with you once it is done, and then we can discuss if this can satisfy the requirement

[2021-12-30 09:55] kfstorm commented on #21220
I'm in favor of yes, yes, and yes.

[2021-12-30 10:26] ilongshan opened #21298 "[Bug] Got stucked when running python script from a shell script"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

With the following shell script, the program got stucted. But it is ok with the python script.

### Versions / Dependencies

OS: macOS Big Sur Apple M1
Python: 3.9.7
Ray: 1.9.1
ffmpeg: 4.4.1

#

[2021-12-30 11:08] jovany-wang commented on #21220
After discussed with @chenk008 offline, once local mode get removed, maybe we can package `libcore_worker.so` to wheel instead of jar, so that we have no need to extract it from jar to disk.

[2021-12-30 11:38] markste-in opened #21299 "Loading scikit-learn pipeline with ray serve raises async_goal_exception"
### Search before asking
* [x]  I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component
Ray serve

### What happened + What you expected to happen
I am using a scikit-learn pipeline that is saved as a pickled file. When I load the pipeline again everything is fine and I can use it as expected.
But I am not able to load the pickled file whe

[2021-12-30 12:15] 0xJchen opened #21300 "[Bug] RLLib MAML Torch Version Cannot Run"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

1.
Failed to run the default configuration for all default environments mentioned [here](https://github.com/ray-project/ray/tree/master/rllib/agents/maml) of MAML algorithm's Torch Version.

Comma

[2021-12-30 12:18] jon-chuang opened #21301 "[Feature] [Autoscaler] Scaling Intelligently Based on Observed Resource Bottlenecks (related: task & actor profiling)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

For more efficient resource utilization, I believe the autoscaler, were it to be given a choice in the config over a selection of nodes it could add or remove, each with its own basket of resources, ought to be able to scale intellige

[2021-12-30 12:30] jon-chuang commented on #21161
Recommend this [very informative and relevant talk](https://www.youtube.com/watch?v=oZl-D4zsW6E) on preemption and packing of jobs for **Nomad**, a low-latency, lightweight cluster orchestration tool based on distributed scheduling via Sparrow, made by Hashicorp.

Key takeaways:
- (named) task groups and priority levels (very related in my mind also to observability, task tagging, and task graph v

[2021-12-30 12:50] jon-chuang commented on #21275
I will definitely try to do so as I am currently building this component for Rust.
However, I've some other issues to prioritize so it may be a few weeks later.

Definitely will make a PR soon for the config/cmdline refactor as it is low-hanging fruit, and the earlier done, the better.

[2021-12-30 14:34] jon-chuang opened #21302 "[Bug] Odd debug log formatting for gcs accessor"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Log output strings looks normal

Instead, we have byte-like formatting appearing
[code]

### Versions / Dependencies

ray 2.0.0-dev

### Reproduction script

nil

### Anything else

_No respons

[2021-12-30 15:37] rkooo567 commented on #21302
Can you file a PR to fix it? It should be just formatting (normally, when ids are printed, .Hex() is called automatically iirc, but this probably didn’t do that)

[2021-12-30 17:17] jovany-wang commented on #20214
It seems hard to get compatible with exceptions in different modules. I think this can be addressed once modules are reduced to 1. See #21220

[2021-12-30 17:26] jovany-wang commented on #17820
@MissiontoMars Could you help add the back pressure document?

[2021-12-30 17:43] jovany-wang commented on #19689
Feel free reopen this once there still be issue.

[2021-12-30 17:43] #19689 closed

[2021-12-30 17:45] jovany-wang commented on #19457
Did you use JDK11?

[2021-12-30 17:51] jovany-wang commented on #16928
It seems runtime-env can address this issue? @chenk008 @SongGuyang

[2021-12-30 17:56] jovany-wang commented on #10673
Does it happen in JDK11?  We're going to  support JDK11.

[2021-12-30 18:00] jovany-wang commented on #8694
How to solve this issue?

[code]

[2021-12-30 18:11] jovany-wang commented on #21220
Another one is once we support specifying jars for runtime-env, is it the time to remove code-search-path?
@chaokunyang @SongGuyang @chenk008

[2021-12-30 18:48] scv119 commented on #21251
That seems a lot of data. Can you try run `ray memory --stats-only` to see the object store memory usage?

[2021-12-30 19:00] scv119 opened #21304 "[Core][Bug] many_task stress test regression"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

[code]

We have seen task scheduling/execution throughput regression [(27/s)](https://github.com/ray-project/ray/blob/master/release/release_logs/1.7.0/benchmarks/many_tasks.txt) since Ray 1.7.

[2021-12-30 21:34] kevduong1 commented on #11807
@klm122 Did you ever figure out the issue? I am also running into the same issue using a custom policy with the custom action_distribution_fn. I'm using the procgen environment and for some reason ray.tune isn't passing in my observation to this function.

  File "/home/kevin/Programming_Stuff/Enter/envs/procgen_gpu/lib/python3.8/site-packages/ray/tune/trial_runner.py", line 890, in _process_trial

[2021-12-30 23:21] J-S-Robinson commented on #21246
I confirmed that in 1.9.1 replacing the `"env": None` with `"env": "CartPole-v0"` fixes things so that it logs episode rewards in the example.

Unfortunately one feature that seems to have regressed since 1.4.1 is that I have to put a "real" env such as one of the preregistered envs like cartpole, or a full-fledged custom environment. Back in 1.4.1 it was sufficient to use a "stub" env such as:
[c

[2021-12-31 00:56] scv119 commented on #21218
In the proposal, there are two piece of data known by JVM:

- the Ray object **metadata** (i.e., `ObjectRefImpl`), which is reference counted by JVM and the data size is small.
- the Ray object **data**, which is only reference counted once by JVM and the data size could potentially be large.

The language frontend doesn't have the connection that the metadata and the data belong to the same objec

[2021-12-31 01:25] scv119 commented on #21218
At a high level, we need to decide if the memory allocated in local object store is closer to language frontend or to core(plasma store). once decided this it will help us to decide where the code/logic lives.

[2021-12-31 02:13] SongGuyang commented on #21275
Sounds good.

[2021-12-31 02:19] SongGuyang commented on #16928
Yep, we can extend runtime env to support this cross language cases.

[2021-12-31 02:24] SongGuyang commented on #21220
Yep, I agree that we should remove code-search-path and merge this feature to runtime env. Let's think about how to support.

[2021-12-31 03:48] jovany-wang opened #21305 "[CI][Java] NamespaceTest is flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

RETRIED: testIsolationInTheSameNamespaces
--
  | java.util.NoSuchElementException: No value present
  | at java.util.Optional.get(Optional.java:135)
  | at io.ray.test.NamespaceTest.lambda$test

[2021-12-31 06:13] PeppaCat commented on #21300
The problem is about the default configuration file. I will soon submit a commit.

[2021-12-31 06:31] jon-chuang commented on #19462
Note to self:
- Is this related to other methods dependency propagation / runtime env / ray client?

[2021-12-31 06:37] gjoliver commented on #21246
@mvindiola1 is completely right. I looked at this a while ago too.
The client is sending frames to the server for training, there is no concept of episodes on the server side. So the episode_xxx metrics are naturally not there.
Note that all the trainer specific metrics are still there:
[code]
For this setup, you should probably create some kind of evaluation runs on the side to get episodic perfo

[2021-12-31 10:15] Catch-Bull opened #21310 "[Bug] dlmalloc allocate bottom-most memory chunk failed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I find `dlmalloc` can't allocate the bottom-most memory chunk which is just freed by deleting the same memory size RayObject:

It can reproduce by this python code:
[code]

then you can see thi

[2021-12-31 11:29] vakker commented on #21242
This also happens elsewhere:
[code]

Is this actually an issue or is this a harmless warning?

[2021-12-31 13:25] klm122 commented on #11807
Hi,

Unfortnetly, I gave up and switched to another implementation of ddpg.

Best regards

[2021-12-31 14:21] jon-chuang commented on #21302
Actually, this is from `DebugString` which is autogen from protobuf for address
[code]
Bytes are encoded in the DebugString as octal.

Since it is difficult to change, and not so important, I think we should just ignore it.

[2021-12-31 14:21] #21302 closed

[2021-12-31 20:41] J-S-Robinson commented on #21246
@gjoliver Thanks for your reply. I would really prefer to find a way to get the server to log the episode data as it used to. It seems to be something we could get working again, as it worked in older versions of this same example. Otherwise the example has regressed and the client server model no longer really lets me monitor my runs in tensorboard.

The server should still be receiving all of th

[2021-12-31 21:37] bveeramani opened #21311 "[CI] Migrate from YAPF to Black"
## Overview

The Ray Team has decided to format the Ray Python code with [Black](https://black.readthedocs.io/en/stable/index.html). This means that going forward, changes to Python code must adhere to the [Black code style](https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html).

We'll be updating [`./scripts/format.sh`](https://github.com/ray-project/ray/blob/master/ci/t

[2021-12-31 21:41] bveeramani opened #21312 "[CI] Update `format.sh` to support the Black code style"
## Summary

Update `format.sh` so that developers can format code in the Black code style, but continue to use YAPF by default.

## Motivation

The pull request to Blacken the code will modify over 1,500 files. To ensure that the changes to `format.sh` are easily reviewable, we'll make the changes in a separate PR.

## Changes

Here are all of the specific changes we'll need to make to implement t

[2021-12-31 21:41] bveeramani opened #21313 "[CI] [Core] Prevent Black from erroring while formatting `test_resource_demand_scheduler.py`"
### Ray Component
Core

### What happened + What you expected to happen
I ran `black python/ray/tests/test_resource_demand_scheduler.py` but got the message
[code]

I'm not sure why the error occurs, but it seems to be related to the assertions at the end of `test_add_min_workers_nodes()`. If we disable formatting on the assertions, we're able to format the rest of the module.

[code]

### Version

[2021-12-31 21:41] bveeramani opened #21314 "[CI] [RLlib] Prevent Black from erroring while formatting `multi_agent_env.py`"
### Ray Component
RLlib

### What happened + What you expected to happen
I ran `black rllib/env/multi_agent_env.py` but got the message
[code]

I'm not sure why the error occurs, but it has something to do with the `yapf: disable`.

https://github.com/ray-project/ray/blob/6996eaa986abe8bb4054f55ab1660e30c810b23c/rllib/env/multi_agent_env.py#L91-L183

### Versions / Dependencies

* **Python**: `3.8

[2021-12-31 21:42] bveeramani opened #21315 "[CI] [RLlib] flake8 raises E731 after code is formatted with Black"
### Ray Component
RLlib

### What happened + What you expected to happen
I formatted the RLlib code with Black and then ran flake8, but then I got the warning `E731 do not assign a lambda expression, use a def`.

[code]

`sampler.py` and `worker_set.py` assign lambda expressions to variables. For example,

https://github.com/ray-project/ray/blob/14ed7cfaaa8f890204619c149d4d50b5857c3cd6/rllib/evalu

[2021-12-31 21:43] bveeramani opened #21316 "[CI] Format Python code with Black"
Once `format.sh` has been updated to support the Black code style (#21312) and we've preemptively fixed as many Black-related issues as possible (#21313, #21314, #21315), we can actually format the Python code with Black. Here's how we can achieve that:

1) Set the `BLACK_FORMATTER_ENABLED` flag to `true` in `format.sh` (see #21312)
2) Run `./scripts/format.sh`
3) Add `noqa` comments on lines that

[2021-12-31 21:43] bveeramani opened #21317 "[Documentation] Change code style from Google to Black"
The Ray documentation currently states

Once we've formatted the Python code with Black (#21316), we should update the documentation to say

(or something along those lines).

[2021-12-31 21:43] bveeramani opened #21318 "[CI] Remove or replace YAPF disables"
Several files contain `yapf: disable` comments.

[code]

Once we've formatted the Python code with Black (#21316), we should either remove or replace these comments.

If it's still necessary to disable formatting on a chunk of code, then we should replace the `yapf: disable` with `fmt: off`. Otherwise, we should remove the annotation altogether.

[2021-12-31 21:43] bveeramani opened #21319 "[CI] Remove YAPF from `format.sh`"
Once we've formatted the Python code with Black (#21316), we can remove all references to YAPF from the codebase.

In particular, we can remove YAPF from:
* `format.sh`
* `python/requirements_linters.txt`
* `python/ray/tune/requirements-dev.txt`
* `.gitpod/Dockerfile`

[2022-01-01 02:26] #10976 closed

[2022-01-01 11:00] mg64ve opened #21325 "[Core] [Bug] ray.init gives me "has no attribute 'from_redis_address'""
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I have just pulled the last master repo and if I use:
`
python3 -c 'import ray; ray.init(); ray.shutdown()'`

or

`python3 -c 'import ray; ray.init(local_mode=True); ray.shutdown()'`

I am gett

[2022-01-01 14:30] jon-chuang opened #21326 "[C++] No tests for nested remote/get/put/wait calls"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

There is potentially an issue with linking to core worker dynamically when making nested calls to core worker in remote tasks.

The C++ API ought to add tests for such nested tasks to ensure such linkage issues do not occur.

CC: @qic

[2022-01-01 14:57] jon-chuang commented on #21275
Here is an idea I have:
- Make the function manager initialization from path a callback with C++ API, accepting lib path as arguments
- This function manager callback can be initialized, alongside the dylib-local reference to the default-worker initialized coreworker, after the default coreworker has been initialized (similar to: https://github.com/ray-project/ray/pull/21125)

Thoughts @qicosmos ?

[2022-01-01 21:21] #17979 closed

[2022-01-01 21:21] #17950 closed

[2022-01-01 23:39] rfali commented on #7644
@ericl @richardliaw It seems that the above issue has gone away with recent ray versions, not sure what resolved it.

ray version 1.3.0,
tensorflow 2.34.1

If I run the above code
[code]
I get the following output
[code]
which seems accurate to me. The above output corresponds to
[code]
This is because the default value of `fcnet_hiddens`  is [256,256]. The last few layers in the q_head correspond

[2022-01-02 00:06] rfali commented on #7644
However, I have stumbled into a corner case, which could be a lack of understanding on my part. If you set `hiddens` to be an empty list, and set `dueling` True, then the `V(s)` is used from the `state_value_head` [here](https://github.com/ray-project/ray/blob/340fbf53c0e885c8406d20679e6917d6f6120f0d/rllib/agents/dqn/distributional_q_tf_model.py#L167). This makes for an interesting case since this

[2022-01-02 00:42] gjoliver commented on #21246
ok, I looked around. sorry I wasn't here when this still worked, so took me a little time to read through things :)

I think for this server/client metrics to work, 2 things need to happen:
1. client needs to report metrics under "metrics" key when submitting data. this doesn't seem to happen in the client example anymore.
https://github.com/ray-project/ray/blob/master/rllib/env/policy_server_inpu

[2022-01-02 01:15] dokuboyejo opened #21327 "[Core] [Bug] Ray failed with uWSGI"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When ray is used with uwsgi, it fails with below
[code]

### Versions / Dependencies

Tried with version 0.8.0 to 1.9.1

### Reproduction script

Start up application with uwsgi

[code]
The err

[2022-01-02 02:05] #21315 closed

[2022-01-02 02:16] #21313 closed

[2022-01-02 04:11] #21314 closed

[2022-01-02 05:38] robertnishihara opened #21328 "[Core] [Documentation] LBFGS example in documentation doesn't seem correct."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

In this documentation page https://docs.ray.io/en/latest/auto_examples/plot_lbfgs.html, the documentation refers to creating an actor, but then the @ray.remote decorator doesn't appear anywhere

[2022-01-02 05:39] robertnishihara commented on #21328
FYI @maxpumperla

[2022-01-02 12:04] dokuboyejo commented on #21327
It appears when ray is initialized it tried to start the cluster with node_ip, which eventually conflicts with uwsgi

**Work around**
Given I'm using supervisord with uwsgi, I created an additional task specifically for ray

[code]

With the above, ray was able to start normally without affecting uwsgi, and both could then work together

[2022-01-02 12:50] mattip commented on #20747
There must be tests that hit this codepath. Any hints which ones? They must not be active on windows

[2022-01-02 15:36] thoglu opened #21329 "[Tune] [Feature] Run multiple Tune jobs on a single cluster via the new ray submission server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Is it possible to run multiple ray.tune jobs (e.g. 5 different hyper-parameter searchers for 5 different models) in parallel on the same cluster via the new job submission system?

If the answer is yes, we should add documentation on

[2022-01-02 15:39] thoglu commented on #18851
linking this to #21329

[2022-01-02 19:12] Maritimo opened #21333 "The comment references TensorFlow instead of Torch"
https://github.com/ray-project/ray/blob/ec34185771c4783bf6762dbd3873904d06797abb/rllib/agents/pg/pg_torch_policy.py#L76

[2022-01-02 22:12] vakker opened #21334 "[RLlib] [Bug] APPO with kl_loss learner_stats bug"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Running an APPO training using `use_kl_loss: True` produces some errors.
Running a modified version of the APPO pendulum tuned example (by adding `use_kl_loss: True`):
[code]

throws:
<details>
<s

[2022-01-02 22:30] vakker opened #21335 "[RLlib] [Bug] IMPALA num_multi_gpu_tower_stacks overwrites minibatch_buffer_size"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Running an IMPALA (or APPO) training with not matching `num_multi_gpu_tower_stacks` and `minibatch_buffer_size` causes:
[code]

There are many tuned examples that explicitly include `num_multi_gpu

[2022-01-03 01:31] jon-chuang opened #21336 "[Bug] [C++ API] Calling `Put` results in undefined behaviour?"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

NativeRuntime inherits from AbstractRuntime's `string Put(sbuffer)` method.
NativeRuntime does not initialize `unique_ptr<WorkerContext> worker_`
However, `string Put(sbuffer)` is defined:
[cod

[2022-01-03 03:03] jon-chuang commented on #21238
Reopening this since I also encounter this error with `bazel run cluster_mode_test`. Since this is a typical command to run, I believe this is a bug.

[2022-01-03 06:33] richardliaw commented on #20857
This proposal has been up for 1 month and has not received any pushback. Thanks all for your input; we'll be proceeding with implementation now!

[2022-01-03 07:25] mattip commented on #20747
Running `bazel test python/ray/tune:example` fails for me on windows, something about PythonZipper.

[2022-01-03 09:06] duburcqa commented on #21041
still blocking.

[2022-01-03 10:50] jakub-valenta commented on #18721
Same error appeared while connecting 1.8 client to 1.8 server:

[code]

After process restart it started to work again. It was probably caused by some network problem.

[2022-01-03 12:05] #18002 closed

[2022-01-03 12:50] Maritimo opened #21340 "[RLlib] Should say Optional[int]"
https://github.com/ray-project/ray/blob/489e6945a671b7af2cf1f047b2ad2c879286ec73/rllib/policy/sample_batch.py#L79

[2022-01-03 13:59] mattip commented on #20747
I don't think downgrading will help, will it?

On the otherhand, I am getting somewhere with running tune tests on windows, and I can replicate the issue running this command once I have pytest and some other packages installed:
[code]

In both the example here and the tests, the remote and local directories are the same so there is nothing to sync. I submitted #21342 to recognize this and set the

[2022-01-03 14:29] tom634 commented on #20747
Unfortunately, meanwhile the problem dissapeared "by itself" and I am able again to run Ray on Windows. My current, working version of ray is: ray==1.8.0. After reading your replies, I upgraded it to 1.9.1 and it... still works. Maybe there was some different code responsible for this thing in the ray.tune version between them (1.8.0 and 1.9.1)?
My current issue is that on Linux Virtual Machine (w

[2022-01-03 14:53] mattip commented on #20747
Can you open a new issue with a minimal reproducer, and, if this one is no longer relevant, close it?

[2022-01-03 16:39] mwtian commented on #21325
Looks like Ray logic in Python is out of sync with Ray cython artifact. Did you rebuild the cython / C++ part of Ray after pulling from master? https://docs.ray.io/en/latest/development.html#building-ray-on-linux-macos-full

[2022-01-03 16:39] mwtian commented on #21325
cc @iycheng

[2022-01-03 16:57] yogeveran opened #21343 "[Core] [Bug] ray.util.multiprocessing.Pool slower than multiprocessing.Pool"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

I checked the efficiency of ray.util.multiprocessing.Pool and found that locally it is slower than multiprocessing.Pool
I tested with
Ray  1.6.0
Python 3.6.9
linux.

Code:
`

  import os
  import

[2022-01-03 17:06] architkulkarni commented on #18210
unstale

[2022-01-03 17:07] gramhagen commented on #19523
ok, sorry at first glance I assumed this was an issue with the changing sdk function names, but I don't believe that's the cause here. @bkpcoding can you tell me what version of azure python packages are being used with something like `pip list | grep azure`
also what version of ray? are you using something built from master? because the lines in the error message look like an older version, so i'

[2022-01-03 17:26] architkulkarni commented on #20686
Looks like it's just flaky since it's passing recently on the master branch.

[2022-01-03 18:00] bkpcoding commented on #19523
I am currently using ray version  1.9.1. As for the version azure, these are the versions
[code]

[2022-01-03 18:02] pablete commented on #21276
Also getting a 404 on "GET /jobs?view=summary HTTP/1.1"

Ray==1.9.0
Python==3.7.6
OS==Ubuntu 18.04 Server NO GPU

[2022-01-03 18:02] czgdp1807 commented on #19457
I used OpenJDK 11.0.x.

[2022-01-03 18:04] rfali commented on #7644
Can this be related (although above question is not about VisionNets)?
PR#[18306](https://github.com/ray-project/ray/pull/18306)

[2022-01-03 18:06] #21312 closed

[2022-01-03 18:19] DmitriGekhtman commented on #21206
Thanks for posting the issue.
As the docs claim, it's on our to-do.

cc @pcmoritz @zhe-thoughts @richardliaw

[2022-01-03 18:20] scv119 opened #21346 "[Core][Bug] dask_on_ray_1tb_sort is flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_GrXJdM9i4sBUJ2Vitg1de7xR?command-history-section=command_history
the latest run failed with obj

[2022-01-03 18:22] scv119 commented on #21346
cc @rkooo567  any insight?

[2022-01-03 18:26] DmitriGekhtman opened #21348 "[autoscaler][enhancement] Support debug-level logging in the autoscaler"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

See discussion:
https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1640080879309500

This could be achieved through an environment variable that could be specified in autoscaler config.

### Use case

Allows viewing more detailed

[2022-01-03 18:30] scv119 opened #21349 "[Core][Bug] decision_tree_autoscaling_20_runs is flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Looks worker crashed during start up?
[code]

[Seems ](https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_MJ5X9U99DusXAHEnVmGxwYiR?command-history

[2022-01-03 18:36] pcmoritz commented on #21254
cc @edoakes Any thoughts here?

[2022-01-03 18:47] gramhagen commented on #19523
got it thanks, yes the changes are not in 1.9.1 afaik. if you install from the latest wheel built from master does it work?
`pip install -U "ray[default] @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl"`

[2022-01-03 18:50] architkulkarni commented on #20616
@amogkam @krfricke We said we should ignore this failure for 1.9.  Should we also ignore it for 1.10?  It's failing on master and on the 1.10 release branch with the same `AccessDeniedException`.

[2022-01-03 19:19] architkulkarni commented on #18499
These are failing again with "Trials did not complete".  It seems to be failing consistently.

1.10.0 Release branch: https://buildkite.com/ray-project/periodic-ci/builds/2197#_
Master: https://buildkite.com/ray-project/periodic-ci/builds/2192

@gjoliver is this a release blocker for 1.10.0?

[2022-01-03 19:31] DmitriGekhtman opened #21353 "[kubernetes][Bug] Error computing CPU usage on minikube"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Refer to discussion:
https://discuss.ray.io/t/logging-error-computing-cpu-usage-of-ray-kubernetes/4435

### Versions / Dependencies

Refer to discussion:
https://discuss.ray.io/t/logging-er

[2022-01-03 19:31] richardliaw opened #21354 "[Tune] Issue on page /tune/tutorials/tune-pytorch-lightning.html"
We should update the pytorch lightning tutorial for Ray Tune to start using Lightning Data modules. This should simplify the example quite a bit.

cc @amogkam -- feel free to assign this to someone else.

[2022-01-03 19:32] bkpcoding commented on #19523
Yes, it does, thank you!

[2022-01-03 19:35] architkulkarni commented on #21241
Hi @andreapairon, thanks for reporting this.  I was unable to reproduce this using a local Ray client connection (that is, running `ray start --head` on a local machine, and then executing your script with `ray.init(address="ray://localhost:10001", runtime_env=ray_env)`.

Can you check the logs to see if there are any clues as to why the runtime_env failed to be set up?  By default they are in `/t

[2022-01-03 19:42] architkulkarni commented on #21241
Actually, your screenshot output prints the last lines of the conda installation output.  It seems to have stopped after "Verifying transaction", but I'm not sure why.  Here's the relevant portion of a successful installation log for comparison:

[code]

So it looks like it stopped before installing the pip packages.

@andreapairon Does this failure happen consistently?

[2022-01-03 19:44] ijrsvt commented on #20616
Which Cloud Bucket is used in this test?

[2022-01-03 19:47] architkulkarni commented on #20616
@ijrsvt Looks like `gs://jun-riot-test/durable_upload`: https://github.com/ray-project/ray/blob/master/release/tune_tests/cloud_tests/tune_cloud_tests.yaml#L95

[2022-01-03 19:51] gjoliver commented on #18499
yeah, this should be a blocker. we had some updates to PG agent recently that probably broke multi-gpu training.
the real error message is:

2022-01-03 09:58:40,549	ERROR trial_runner.py:927 -- Trial PG_CartPole-v0_315ba_00013: Error processing event.
Traceback (most recent call last):
  File "/home/ray/anaconda3/lib/python3.7/site-packages/ray/tune/trial_runner.py", line 893, in _process_trial

[2022-01-03 20:32] krfricke commented on #20616
The Tune code should be working fine so from our side it is safe to ignore for 1.10. I'll still try to tackle this soon and deflake it.

[2022-01-03 21:20] avnishn opened #21358 "[RLlib] We should throw errors if tf users attempt to use a TF algorithm without having TFP installed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Issue in title. We currently have nice error handling for if tensorflow isn't installed. We should extend this to TFP, as it causes similar errors/headaches.

### Versions / Dependencies

n/a

###

[2022-01-03 21:21] avnishn opened #21359 "[RLlib] Change Occurrences of `RemoteVectorEnv` to `RemoteBaseEnv`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

this should probably be RemoteBaseEnv, https://github.com/ray-project/ray/blob/master/rllib/utils/pre_checks.py#L27

### Versions / Dependencies

N/a

### Reproduction script

N/a

### Anything el

[2022-01-03 21:24] shrekris-anyscale commented on #21299
Could you try replacing `"dump.pkl"` with an absolute path? That should be more reliable. Does the code still raise an exception?

[2022-01-03 21:31] architkulkarni commented on #21031
The "Failed to delete URIs" error comes from the runtime environment garbage collection, but I'm not sure exactly what is causing the error or why it is happening with the Helm upgrade.  To disable garbage collection the following might help, taken from the [master branch docs](https://docs.ray.io/en/master/handling-dependencies.html):

[2022-01-03 21:36] architkulkarni commented on #21031
@DmitriGekhtman it's odd because the reproduction in the original post doesn't seem to use runtime environments at all.  Does a runtime environment get inserted automatically when using the K8s operator?

@daikeshi @jacobdanovitch could there be any clues in the logs?  By default they are in `/tmp/ray/session_latest/logs`.  If you zip them up and share I can take a look.

[2022-01-03 21:43] jon-chuang commented on #21336
This is indeed confirmed by this piece of code
[code]
and this output
[code]
when calling `bazel run cluster_mode_test`

Could you guys fix so that the code does not depend on undefined behaviour?

[2022-01-03 22:03] #20806 closed

[2022-01-03 22:15] simon-mo commented on #21264
Thanks for the report @dongruixiao. I can reproduce this.

[2022-01-03 22:49] ericl commented on #21304
@rkooo567 can you take a look?

[2022-01-03 22:50] rkooo567 commented on #21304
Sure. Will look into this today

[2022-01-03 22:55] ijrsvt commented on #20616
I updated the permissions on the GCS bucket to allow this service account access.

[2022-01-03 22:56] markste-in commented on #21299
I tried a with an absolute path but I get the same issue.
I also updated the link to the "Reproduction script" in my fist post accordingly

[2022-01-03 22:57] architkulkarni commented on #20616
Thanks @ijrsvt!  I've rerun the test and will give an update here if it passes or fails.

[2022-01-03 23:19] shrekris-anyscale commented on #21299
Thanks for trying it out and updating the reproduction script! There's a small issue in the repro script: it opens the Pickle file in `"wb"` mode instead of `"rb"` mode before it runs `self.pipe = pickle.load(f)` inside the `Model` class's `__init__()` method. This prevents Serve from initializing an actor for the `Model` class, which is why the deployment fails.

Opening the file in `"rb"` mode s

[2022-01-03 23:20] markste-in commented on #21299
Update:
It seems I opened the file with open(file_path,**"wb"**)  instead of open(file_path,**"rb"**).

That seems to throw async_goal_exception.

I am not sure if it would be possible to improve the error handling since "async_goal_exception" obfuscate the real issue.

[2022-01-03 23:33] shrekris-anyscale opened #21365 "[Feature Request] [Serve] Pass back application exceptions from Serve deployments"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

This feature will pass back any application errors that are raised in a Serve deployment.

### Use case

Currently, if there are application exceptions in a class's `__init__()` method (and possible throughout other methods in the cla

[2022-01-03 23:36] shrekris-anyscale commented on #21299
Thanks for the feedback– I added a Github issue about Serve exception handling, so we can track it. Good luck!

[2022-01-03 23:36] #21299 closed

[2022-01-03 23:54] architkulkarni commented on #20616
It passed, thanks a lot @ijrsvt!

[2022-01-03 23:54] #20616 closed

[2022-01-04 01:02] #21264 closed

[2022-01-04 01:06] architkulkarni commented on #20908
@rkooo567 This test is failing with `"Waiting for more nodes to come up: 1/201"`.  Have you seen this before, or do you have any idea how to get around this?  For other release tests that fail with this message, I can restart them and eventually they will pass, but this one always gets stuck at `1/201`.  I'm not sure what makes this test special, because I assume all tests request nodes in the sam

[2022-01-04 01:08] #21177 closed

[2022-01-04 01:10] jovany-wang commented on #19457
Unfortunately we have not supported JDK11 right now.

[2022-01-04 01:11] DmitriGekhtman commented on #21031
I don't think so.

[2022-01-04 02:44] daikeshi commented on #21031
@architkulkarni I don't have the logs now, but I can try to reproduce it tomorrow. Where can I find `/tmp/ray/session_latest/logs`?

[2022-01-04 02:55] qicosmos commented on #21336
I think it's a bug, i will fix it, thank you.

[2022-01-04 03:11] raulchen commented on #21310
cc @ericl @scv119

[2022-01-04 04:37] rkooo567 commented on #20908
Usually it is due to capcity. You can run it when there’s not test running

[2022-01-04 05:01] jovany-wang commented on #20425
`dynamic options`, `codesearchpath` can also re-impled in runtime env.

[2022-01-04 07:22] robot-xyh commented on #21300
I found the same problem and also noticed that using TF does not report errors. For all reinforcement learning algorithms (MAML MBMPO) using the meta-RL environment, the Torch version will sometimes report errors

[2022-01-04 07:32] rfali commented on #18758
@andras-kth thank you for referencing my post on ray discourse (which ironically still has no replies, but a recent rllib [feature](https://github.com/ray-project/ray/pull/20757) should resolve most of my questions). I thought to answer (to the best of my knowledge) a few questions you had raised in this issue (since I still consider myself an rllib beginner).
You wrote:

From this [issue](https:/

[2022-01-04 07:35] PeppaCat commented on #21300
Confirmed on my local machine. I also observe this situation.

[2022-01-04 08:05] sven1977 commented on #18499
We should just remove PGTrainer from the multi-GPU test cases for now until we add multi-GPU support for the non-exec-plan algos (only PG right now).

[2022-01-04 08:11] rfali commented on #4569
Thanks a lot for this PR @stefanbschneider!

[2022-01-04 09:21] qbphilip opened #21372 "[Bug] Fix log4j vulnerability CVE-2021-44832"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Identification of another vulnerability in the log4j dependency (dates 28 December 2021).

### Versions / Dependencies

All ray versions using log4j<=2.7.0 (current master) are vulnerable to CV

[2022-01-04 09:33] mg64ve commented on #21325
You are right @mwtian I haven't rebuilt yet. But now I have just made a new git clone and tried to rebuild. The process fails at 'npm install' with the following error:

[code]

these are some details of my docker container:

![image](https://user-images.githubusercontent.com/22278227/148038489-f9123530-ffcd-4688-9e17-d91103ee4861.png)

![image](https://user-images.githubusercontent.com/22278227/1

[2022-01-04 09:44] n30111 opened #21375 "[RLlib] [Feature] Exposing observation in the exploration compute action API."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently in the Exploration API, current observation to compute the action is not accessible. https://github.com/ray-project/ray/blob/releases/1.9.2/rllib/utils/exploration/exploration.py#L80 . Only the action_dist can be accessed. F

[2022-01-04 10:37] sven1977 commented on #18499
This PR adds the multi-gpu version of train_one_step to PGTrainer. This should fix the issue.
https://github.com/ray-project/ray/pull/21376

[2022-01-04 10:48] stefanbschneider commented on #4569
@rfali I'm happy to hear the PR is useful!

1. Yes, that's correct.
2. Yes, `ray.tune.run()` returns an ExperimentAnalysis object, on which you can call methods like `get_last_checkpoint()` (see [docs](https://docs.ray.io/en/latest/tune/api_docs/execution.html#tune-run)). So you could do:
[code]
3. Yes, there are both methods, `get_last_checkpoint()` and `get_best_checkpoint()`.
[`get_last_checkpo

[2022-01-04 11:01] krfricke commented on #18851
Yeah, the `TUNE_PLACEMENT_GROUP_CLEANUP_DISABLED` should still work though it's untested and not a currently supported use case.

[2022-01-04 11:04] krfricke commented on #21329
The trial runner uses a global searcher and scheduler. Thus, we currently have no way of running heterogeneous trials in parallel for different search jobs. The same is true for callbacks, which are also run-global.

If we want to enable this, we would need to keep experiment information in the trial runner, and it would generally require re-thinking the trial running logic.

[2022-01-04 11:13] rkooo567 commented on #21372
cc @zhe-thoughts @architkulkarni

[2022-01-04 11:31] rkooo567 commented on #21346
@scv119 I think we didn't merge anything that could be related to this flakiness.

@stephanie-wang Do you have any guess? This seems to happen if the object is not pulled for 10 minutes. I think sometimes object pulling can be very slow for dask on ray 1tb. Is the timer ever refreshed in some cases (like when it is retried?)

[2022-01-04 11:36] rkooo567 commented on #21349
Maybe we should try reproducing it?

[2022-01-04 12:11] jovany-wang opened #21378 "[CI][Java][Flaky Test] testJavaLoggingRotate is flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen
[code]

[2022-01-04 15:07] andras-kth commented on #18758
Interesting... That PR is not something I find useful, but I'm glad it helps you. :smiley_cat:
I'd rather have a proper parallelized _standalone_ implementation of `evaluate`.
There's many ways to get this wrong and it seems that the Ray project hasn't exhausted all those options yet.

Thanks!
So, what's your interpretation of your findings?
In my mind, they imply that `train_batch_size` should be

[2022-01-04 16:38] Fabien-Couthouis commented on #15800
Hey!
Any news on this issue? @mvindiola1  did you push your local fix for off-policy estimators?

@sven1977 you said that offline algorithms do not support RNN. Indeed, this reproduction script:
[code]

leads to:

[code]

The states and seq_lens keys are never set in SampleBatch for offline algos (if we do not set them using the JsonWriter).

I might be interested in helping to support RNN with of

[2022-01-04 17:00] jovany-wang opened #21380 "[Core] [xlang] Support invoke overloaded Java functions from Python worker."
Currently, Python call Java remote functions doesn't support overloaded because in Python side, we don't know the signatures of the remote functions. For example, we have a overloaded functions in Java:
[code]
[code]
It will get overloaded exception from Java side.

[2022-01-04 17:14] jovany-wang commented on #19702
Hi @jjyao could you add some context? so that I'll finish this.

[2022-01-04 17:22] jjyao commented on #19702
Sorry, didn't really have time to do this task. Basically on macosx, if we listen to 0.0.0.0 then a security window will pop up. To fix it, we can listen to only 127.0.0.1 which is enough since mac is always in the single node mode.

Related PR for python is https://github.com/ray-project/ray/pull/18904.

[2022-01-04 17:22] stephanie-wang commented on #21346
Oh it could be related to #20516. The timer is supposed to only fire if there are no locations found for the object, but maybe there's a bug.

[2022-01-04 17:42] architkulkarni commented on #21031
@daikeshi that directory should be present on each node in the Ray cluster.  @DmitriGekhtman is this the recommended way to get the logs when using K8s?

[2022-01-04 20:35] clarkzinzow commented on #21343
Could you try running this on latest master (a [nightly wheel](https://docs.ray.io/en/master/installation.html#daily-releases-nightlies)) to see if this is still the case? Ray has changed a good bit since 1.6!

[2022-01-04 21:24] #19647 closed

[2022-01-04 22:00] ericl commented on #21310
So is this definitely a fragmentation issue caused by alignment? Then, it seems reasonable to 64-byte align objects by default. I don't think this will use much more space in typical workloads since we already inline small objects.

[2022-01-04 22:04] #21093 closed

[2022-01-04 22:05] #20377 closed

[2022-01-04 22:07] DmitriGekhtman commented on #18922
Really, this "automate kubernetes release tests"

[2022-01-04 22:08] ckw017 commented on #18378
We'll be bumping the priority of this!

[2022-01-04 22:09] wuisawesome commented on #12966
Bumping priority to P2 since we have some documentation now

[2022-01-04 22:12] wuisawesome commented on #16059
Many of these have been improved already, bumping the remaining parts to p2

[2022-01-04 22:14] wuisawesome commented on #16966
P2, in the shorter term we should take a different approach to debugging these issues/better documentation.

[2022-01-04 22:16] wuisawesome commented on #17467
Bumping to p2, we should consider kuberay in the context of dealing with this issue now.

[2022-01-04 22:16] wuisawesome commented on #17562
Closing as we're tracking the gcs/autoscaler interface elsewhere.

[2022-01-04 22:16] #17562 closed

[2022-01-04 22:19] wuisawesome commented on #18097
Bumping to P2, but we should consider whether we even want the resource overrides feature in its current state in ray 2.0

[2022-01-04 22:19] DmitriGekhtman commented on #19086
I think this is pretty important, but is non-urgent. Should be handled in the context of larger autoscaler refactors.

Going to bump to P2.

[2022-01-04 22:21] wuisawesome commented on #19071
We should consider how to solve this problem in the context of kuberay

[2022-01-04 22:27] wuisawesome commented on #20614
cc @ijrsvt the next iteration of these resource detection problems :p

[2022-01-04 22:30] wuisawesome commented on #20837
Let's do this with ray 2.0

[2022-01-04 22:33] wuisawesome commented on #21031
This might be a grpc versioning issue under the hood?

[2022-01-04 22:35] wuisawesome commented on #21353
may be relatedc to #20614

[2022-01-04 22:48] ekblad commented on #21226
I get the same message at one point, and 0% GPU utilization when using APEX_DDPG-torch on a 4 GPU/128 CPU node. After a few sampling iterations showing 'RUNNING' (and seen on the CPUs via htop), the run crashes with a Dequeue timeout.

[2022-01-04 22:59] rkooo567 commented on #21346
@stephanie-wang What's the case the lookup takes long time? It seems like it is initiated upon pulling, so

1. Resources are ready for the task
2. All dependencies are ready in the cluster

So, if it takes 10+ minutes to lookup location, that's only when failures happen?

[2022-01-04 23:05] stephanie-wang commented on #21346
It should only be when it attempts a pull but there are no locations for the object. Normal pull retries won't trigger the error as long as they succeed in finding a location to pull from.

[2022-01-04 23:17] rkooo567 commented on #21346
So, it seems like there are 2 times locations are not found. I am trying to figure out if it is a bug or due to some resources limit (e.g., high cpu or slow network)

1. OBOD is not updated -> shouldn't happen because tasks are scheduled after deps are ready
2. Pull is already cancelled -> I don't exactly know when this happens, but my impression is it shouldn't happen in Dask on Ray
3. OBOD subsc

[2022-01-04 23:33] stephanie-wang commented on #21346
Yeah my guess it is either 3 or there is a bug in the error reporting.

On Tue, Jan 4, 2022, 6:17 PM SangBin Cho ***@***.***> wrote:

[2022-01-05 00:49] jiaodong commented on #21046
synced with Jiajun before holidays and he is working on 1.7 conda

[2022-01-05 00:49] #21046 closed

[2022-01-05 01:08] jovany-wang commented on #21305
Closed by #21370

[2022-01-05 01:08] #21305 closed

[2022-01-05 01:18] xinchen384 opened #21384 "[Core] [Bug] ray memory command produces inconsistent results"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Monitoring & Debugging, Dashboard

### What happened + What you expected to happen

We use the command "ray memory" to check the status of Ray's object store. It turns out that the result generated from the command is very confusing.

The testbed needs

[2022-01-05 01:58] #21372 closed

[2022-01-05 02:08] #18020 closed

[2022-01-05 02:08] #18015 closed

[2022-01-05 02:10] pcmoritz commented on #21372
@architkulkarni Let's make sure https://github.com/ray-project/ray/pull/21373 gets picked into the 1.10 release. Hopefully that will be the last log4j vulnerability, third time is the charm :D

[2022-01-05 02:17] rkooo567 commented on #21346
I think we need to try reproducing & investigating it

[2022-01-05 03:23] ICESDHR commented on #18378
Do you have an optimization plan? When will it be available?

[2022-01-05 03:25] ICESDHR commented on #18378
Do you have an optimization plan? When will it be available?
And Is there a temporary method that can be quickly modified?

[2022-01-05 03:28] jjyao opened #21385 "[Core] [Bug] non_streaming_shuffle_1tb_1000_partition test hangs when lease parallelism is 10"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

The issue is hanging actor method with large object arguments `actor.method.remote(large_object)` : actor core worker pulls the arguments by calling `NodeManager.ProcessWaitForDirectActorCallAr

[2022-01-05 05:11] AmeerHajAli commented on #18378
@ICESDHR , to the best of my knowledge, we will only improve the error message. We do not recommend transferring 2GB+ data over the network from your laptop and instead perhaps you can change your code so that Ray can download the data instead of uploading it.

[2022-01-05 05:16] AmeerHajAli commented on #16966
@ckw017 / @wuisawesome thanks for triaging this. If you don’t mind, can we keep this a P1? This is an important issue and I think Chris already had plns to fix it.

[2022-01-05 05:18] AmeerHajAli commented on #16059
@ckw017 / @wuisawesome , do we have version mismatch check in OSS?

[2022-01-05 06:09] tg-bill commented on #4396
Same issue here. I am following the doc here https://docs.ray.io/en/latest/cluster/guide.html#monitoring-the-cluster-via-the-dashboard, but the dashboard only shows head node.

[2022-01-05 07:05] bing1zhi2 commented on #16960
https://discuss.ray.io/t/how-to-use-my-own-docker-image-to-run-a-local-on-premise-cluster/4239?u=hymanslime

[2022-01-05 10:39] smorad opened #21392 "[RLlib] [Bug] LSTM returns incorrect recurrent states"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Padding affects the recurrent states that are returned from `LSTMWrapper.Forward`. LSTM should use the recurrent state produced at `seq_lens[i]`, rather than the recurrent state at `seq_lens.max()

[2022-01-05 11:35] yogeveran commented on #21343
Ray version 1.9.1 and 2.0.0.dev0 still suffers with a ~4 slowdown (ran on google colab).
Python 3.7.12

[2022-01-05 12:02] Catch-Bull commented on #21310
It seems to have lots of fragments, and I reduce the fourth numpy.ndarray size(in my case, at least 8-bytes)will be OK, and I set A to 64, fragments is disappear in my case, I will push a PR lately.

[2022-01-05 12:03] Catch-Bull commented on #21310
It seems to have lots of fragments, and I reduce the fourth numpy.ndarray size(in my case, at least 8-bytes)will be OK, and I set A to 64, fragments is disappear in my case, I will push a PR lately.

[2022-01-05 12:15] igorgad commented on #21276
Same here. Is this supposed to show jobs submitted with the Job Submission system?

[2022-01-05 14:56] #19856 closed

[2022-01-05 15:37] jiahao-shen commented on #7571
I have the same question, why we cannot set the model for PPO and A2C like this: `"actor_hiddens": [256]`
`"critic_hiddens": [256] `

[2022-01-05 16:02] mattip opened #21393 "[Windows] flaky tests"
After enabling tests of `test_runtime_env_plugin` and `test_runtime_env_env_vars` (PR #21252) and `python/ray/serve:*` tests (PR #21107), the analysis at flaky-tests.ray.io starting showing failing tests in the windows://python/ray/test/serv:test_standalone. Looking at the failure logs for 4 runs

<details><summary>run1 failures</summary>

[code]

</details>
<details><summary>run2 failures</summar

[2022-01-05 16:20] mattip commented on #21393
The problematic tests may be the ones just **before** test_middleware and test_http_proxy_fail_loudly, which is `test_dedicated_cpu`, which uses Cluster. This is known to be flaky on windows and is skipped in regular tests (ones outside of `serve`).

[2022-01-05 16:33] clarkzinzow commented on #21384
@xinchen384 When running this, did you see any error-level log entries of the form `"Failed to get remote node stats: "` in the raylet logs (`/tmp/ray/session_latest/logs/raylet.err`)?

[2022-01-05 17:00] xinchen384 commented on #21384
@clarkzinzow No. In the raylet logs, there is just one warning: /opt/conda/envs/py37/lib/python3.7/site-packages/ray/dashboard/modules/reporter/reporter_agent.py:38: UserWarning: `gpustat` package is not installed. GPU monitoring is not available. To have full functionality of the dashboard please install `pip install ray[default]`.)
  warnings.warn("`gpustat` package is not installed. GPU monitor

[2022-01-05 17:20] architkulkarni commented on #21372
Sounds good! I think it's the fourth time, but who's counting 🥲

[2022-01-05 17:48] xinchen384 opened #21399 "[Core] [Feature - Perf] Scale Ray.get(): the time of calling ray.get increases linearly and adding parallelism does not help too much"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Our application needs to fetch a large of objects using "ray.get" from Ray's object store, where each object might be small. We found that the time of calling "ray.get()" increases linearly with the number of object references, which

[2022-01-05 17:59] architkulkarni opened #21400 "Docker builds failing on 1.10.0rc0 release branch"
Example: https://buildkite.com/ray-project/ray-builders-branch/builds/5398#85c463c1-9bb3-4248-b3ae-12c445abcec4/6-8426

[code]

[2022-01-05 18:08] architkulkarni commented on #21400
It looks like this is the offending part:

https://github.com/ray-project/ray/blob/853d10871c55cb741cb15212ef4ab42f158f968c/ci/travis/build-docker-images.py#L406-L407

I can see how this might suddenly break for 1.10 when it worked up to 1.9, let me think about how to fix this.

[2022-01-05 18:09] ijrsvt commented on #21400
Let me open a PR reql quick

[2022-01-05 18:34] scv119 commented on #21346
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_DBhM6GL2DHnKe5cyN7iPNUnY?command-history-section=command_history
another case of timeout

[2022-01-05 18:37] clarkzinzow commented on #21384
@xinchen384 I think that there are two issues here:
1. The `Mem Used by Objects` column is misleading/incorrect, since there isn't a 1:1 mapping from object references to physical objects in the object store, i.e. physical objects in the object store can be double counted;
2. You're returning an object reference from `DataActor.get_data()`, so you're actually passing around an object reference to

[2022-01-05 18:58] scv119 commented on #21349
The plan is to kick off 20 runs with different fetch_object timeout to see if the OBOD broadcast timeout is the issue.

kicking off 20 runs with 10 minutes timeout here: https://session-dbhm6gl2dhnke5cyn7ipnuny.i.anyscaleuserdata.com/jupyter/lab

and also kicking off 20 runs with 60 minutes timeout.

[2022-01-05 18:59] scv119 commented on #21346
kicking off 20 runs with 10 minutes timeout here: https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_DBhM6GL2DHnKe5cyN7iPNUnY

[2022-01-05 21:36] xinchen384 commented on #21384
@clarkzinzow Thanks for your detailed explanation. Yes, what you said makes sense to me. Just to confirm my understanding here: (1)What you mean by "The Mem Used by Objects column is misleading/incorrect" is that the column counts the size of the object that the object reference is referring to, where the actual data of the object is not moved there yet, which is the reason why "The aggregated sta

[2022-01-05 21:47] clarkzinzow commented on #21384
@xinchen384 Yep that's exactly it! I believe that you already got this, but just in case you didn't: in the case of the first run, even if you were resolving and deserializing the actual object ref (instead of a ref pointing to a ref), you'd end up referencing the ndarray via shared memory since `check_memory()` is running on the same node as the actor, so no moving or copying would be required fo

[2022-01-05 23:15] krfricke opened #21408 "[issue] lazily expand directories for client compatibility"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

When using Ray client, directory structures sometimes get messed up for user expansions.

Consider a host with home directory `/home/ubuntu` connecting to a Ray cluster that uses the default `/home/ray` user directory. If an `Experime

[2022-01-05 23:23] valiantljk commented on #21399
Have you measured the time of this step:
[code]

[2022-01-06 00:17] architkulkarni commented on #21400
Seems like it didn't quite work on the `1.10.0rc0` branch, any ideas about this @ijrsvt?

https://buildkite.com/ray-project/ray-builders-branch/builds/5415#5639718e-d3bf-4863-8756-50e617e57499/6-8426

Same error:
[code]

[2022-01-06 00:40] #18038 closed

[2022-01-06 00:40] #18039 closed

[2022-01-06 00:52] wuisawesome commented on #16059
yeah there's a check for ray version mismatches

[2022-01-06 01:28] jahidhasanlinix opened #21411 "One node level task Scheduling in a ML or RLScheduler"
I was wondering, does anyone have a resource or code repo for build or create a single node level Scheduler for deep learning or machine learning based RLScheduler for one task scheduling. I mean using python or Pytorch, how can I create a single node task Scheduler based on machine learning or deep learning model into the Cluster. I appreciate if anyone could help me regarding this. Thanks

[2022-01-06 01:38] richardliaw commented on #21343
Can you instead try using `ray.data` here?

In my experience, ray data is way faster than the pool API.

[2022-01-06 01:40] richardliaw commented on #21327
Looks like there is a workaround, so closing this for now. @dokuboyejo

[2022-01-06 01:40] #21327 closed

[2022-01-06 01:40] richardliaw commented on #21340
Feel free to contribute a PR here!

[2022-01-06 02:07] xinchen384 commented on #21399
@valiantljk This step takes less than 1ms, so that should be okay.

[2022-01-06 02:59] #21400 closed

[2022-01-06 03:56] chuckhope commented on #21251
@scv119 Thanks for your response. I got the message"Plasma memory usage 20305MiB, 10 objects, 55.53% full, 55.53% needed Objects consumed by Ray tasks: 20305 MiB" and the program just got stuck without info.

[2022-01-06 04:40] AmeerHajAli commented on #16059
Then why not close the issue?

[2022-01-06 04:59] wuisawesome opened #21413 "`many_drivers` release test is failing on master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

[code]

It seems the cluster is OOMing and the dashboard is to blame.

### Versions / Dependencies

master

### Reproduction script

Run the weekly tests. example output: https://buildkite.com/

[2022-01-06 05:10] jwyyy commented on #19868
Hi @pmmitche, are you still working on this issue? If not, would you mind letting me pick it up? Thanks!

[2022-01-06 05:22] pmmitche commented on #19868
Hi @jwyyy be my guest! Caught up with other stuff at the moment.

[2022-01-06 05:46] Wang-zhechao opened #21415 "[Core] [Bug] When the created .remote() list is greater than 110, an error will occur when executing ray.get()"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

1.range(100)
Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "I:\Program Files\Python379\lib\site-packages\ray\_private\client_mode_hook.py", line 105, in wrapper

[2022-01-06 06:00] jiaodong commented on #19868
Feel free to tag us as reviewers :)

[2022-01-06 06:16] #18042 closed

[2022-01-06 06:32] matthewdeng opened #21416 "[train] fix scalability of `JsonLoggerCallback`"
**Problem:** Currently `JsonLoggerCallback.handle_result` will load in the entirety of the existing results, append the new result, and then rewrite the entire file. This may not scale when running long-running jobs or jobs with large results.

https://github.com/ray-project/ray/blob/4e8f90aca20aa7bb87a4e84039889444824382ca/python/ray/train/callbacks/logging.py#L138-L142

**Potential Fix:**
1. See

[2022-01-06 08:56] tlangerak opened #21417 "[RLlib] [Bug] Despite providing correct config, function returns incorrect actions"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

In normalized action spaces the `agent.compute_single_action(obs)` does not use the `config[normalize_actions] = True` flag. However, the documentation suggests this. It only considers `agent.comp

[2022-01-06 09:08] nixonthe opened #21418 "[Bug] Process hangs on certain trial"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

I'm trying to tune my DL model and my tuning process hangs on certain trial - 16. I've tried to rerun experiment and this issue repeats. On different machine issue doesn't show. How to solve it

[2022-01-06 10:13] jakub-valenta opened #21419 "[Core] [Bug] No timeout or deadlock on scheduling job in remote cluster"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Sometimes calling `my_function.remote(args)` never returns.

Used python `faulthandler` module to get stack trace of frozen process and it looks like there is some deadlock or missing timeo

[2022-01-06 10:51] yogeveran commented on #21343
I changed the numpy operation to time.sleep(0.01).
Seems like there a slight overhead to Ray Pool however it is negligible for long operations.
![image](https://user-images.githubusercontent.com/9862270/148371365-a78b2d28-8fc3-41f9-a794-47106b1d0bb8.png)

I don't think using ray.data instead is worthwhile, doesn't solve the main issue.

[2022-01-06 11:34] nixonthe commented on #21418
In tune.run I write reuse_actors=True and it solves the issue.

[2022-01-06 11:34] #21418 closed

[2022-01-06 13:38] #20747 closed

[2022-01-06 15:42] #21385 closed

[2022-01-06 15:49] #21123 closed

[2022-01-06 15:52] rkooo567 commented on #21419
Are you using the ray client btw?

[2022-01-06 16:00] jakub-valenta commented on #21419
Yes, this is using ray client connecting to cluster.

[2022-01-06 17:33] ahallermed opened #21424 "[Core] [Bug] local_mode=True causes unexpected print statements of format :task_name:<function_name>:"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Monitoring & Debugging

### What happened + What you expected to happen

In local_mode, working with `modin.pandas.DataFrame`s will result in unexpected statements to stdout/stderr.
These statements look like this:

[code]

The expected behav

[2022-01-06 17:45] jwyyy commented on #19868
Hi @simon-mo @jiaodong, I studied the issue but found some points unclear. Could you help me clarify them? Then I can start to work on the implementation.

Essentially we want to update the `client` object when multiple `serve.start()` are called. HTTP options and checkpoint path are saved in the client's controller (actually an `Actor` object). So the idea is to compare the new HTTP and checkpoin

[2022-01-06 19:01] simon-mo opened #21425 "[Bug] [Serve] HTTPProxy High Memory Usage"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

[code]

### Versions / Dependencies

![image](https://user-images.githubusercontent.com/21118851/148436711-7ef02114-fe1b-4be6-9a06-82a297ac9169.png)

Might be related to ray.wait?

Ray 1.9.0

[2022-01-06 19:08] simon-mo commented on #21425
But the error went away after local gc
[code]

[2022-01-06 19:09] architkulkarni opened #21426 "[CI] [LINT] Linter failing with `AttributeError: get_tune_ddp_resources` on `1.10.0rc0` release branch"
The linter was passing but started to fail on a commit which looks unrelated: https://github.com/ray-project/ray/commit/7fdc5470f21394a48f0328a3db57041fa6ee4b7a

It's failing with

[code]

Link to failure: https://buildkite.com/ray-project/ray-builders-branch/builds/5425#03f2a852-4393-4ac2-b7ed-fd44dcc8e5ed/601-756

Link to success on the preceding commit: https://buildkite.com/ray-project/ray-bui

[2022-01-06 19:12] architkulkarni commented on #21426
@amogkam @richardliaw Is this innocuous or indicative of a deeper issue?  According to the release process CI needs to pass completely, so I think this should be a release blocker.

I wondered if it was some upstream dependency change that caused this, but I didn't se this error in any recent Ray PRs.
 Any ideas how to fix it?

[2022-01-06 19:16] stephanie-wang opened #21427 "[Core] [Feature] Better observability for lineage reconstruction"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Right now, you can only see how many objects have been recovered in the past. This is not very useful when trying to debug correctness or performance issues, such as if object reconstruction is slow/hanging.

Some useful things to col

[2022-01-06 19:20] architkulkarni commented on #21426
@simon-mo does anything jump out at you here?  The lint step should be independent of the docker build step, right? The docker build script is the only thing that changed in the breaking commit.

[2022-01-06 19:22] simon-mo commented on #21426
There might be a `ray_lightning` update?

[2022-01-06 19:22] amogkam commented on #21426
Oof this is coming from this change that I just merged  https://github.com/ray-project/ray_lightning/commit/63ab0c015c81be7246da644a7193d2d51768f45b, and in `requirements_doc.txt` we are installing Ray Lightning master.

[2022-01-06 19:24] amogkam commented on #21426
I'll make a PR to fix this real quick, but let me think about whether we want to show master or latest versions of upstream libraries (ray-lightning, xgboost-ray, lightgbm-ray, tune-sklearn) in the docs.

[2022-01-06 19:25] architkulkarni commented on #21426
Ahh makes sense.  Thanks for the quick diagnosis @amogkam!  Please let me know when your PR is ready to pick, and can you also update the release tracker? https://docs.google.com/spreadsheets/d/1si3hVTEyZ--BUz_1sS6r8m6L8utVUtyNAOzAs2KXo3s/edit#gid=0

[2022-01-06 19:29] amogkam commented on #21426
@architkulkarni https://github.com/ray-project/ray/pull/21428

[2022-01-06 19:29] edoakes commented on #21425
@simon-mo sniff test says we probably have some cyclic refs somewhere in the HTTP proxy?

[2022-01-06 19:57] stephanie-wang commented on #17377
@rkooo567 looks like this is the issue behind #21133 not working!

[2022-01-06 20:14] #21426 closed

[2022-01-06 20:25] zhe-thoughts commented on #18499
Thanks @sven1977 @architkulkarni !

Since https://github.com/ray-project/ray/pull/21376 is merged, should this issue still be open?

[2022-01-06 20:43] xinchen384 opened #21430 "[Core] [Feature-perf] Returning a list of object reference is fairly slow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Returning a list of object reference is fairly slow. As a comparison, returning a list of integers is fine. The case of returning object references is 100 times slower. Particularly, returning 100000 integers takes 0.032 second, while

[2022-01-06 21:12] #18499 closed

[2022-01-06 21:36] architkulkarni opened #21431 "[1.10.0 Release] Release test artifacts not showing up in Buildkite"
The release tests are supposed to be found as `output.json` under "Artifacts" in Buildkite:
<img width="1253" alt="Screen Shot 2021-10-11 at 9 31 32 AM" src="https://user-images.githubusercontent.com/5459654/148454887-8475d952-8534-4593-8593-b413943b0def.png">

However, these are not showing up for the `1.10.0rc0` release branch, so I expect that they will also not show up when it comes time to te

[2022-01-06 21:39] scv119 commented on #21346
Hmm both of them succeeded running for last 40 runs or so. Should I try to increate the timeout as it seems the most probably root cause?

[2022-01-06 21:46] scv119 commented on #21349
I have been stress testing the test for 40 runs and didn't get a reproduce. Also reading the log it seems most likely

1. the node was killed due to unexpected failures (could it be infra failures?)
2. the worker node OOMed.

Reading the log it looks the worker was killed even before we submitting the job; so it's likely 1 is more probable?

[2022-01-06 21:56] HuangLED commented on #21399
@clarkzinzow @amogkam

[2022-01-06 22:05] simon-mo commented on #21431
hmmm not sure about this one. but the output was printed as log as the result field https://buildkite.com/ray-project/periodic-ci/builds/2194#404ef515-09d2-43d7-9888-d698e6fe17a6/137-419

[2022-01-06 22:07] architkulkarni commented on #21431
Oh great catch!  I can copy the logs manually from there for this release.  I'll downgrade the priority to P1 for now (feel free to reassign or re-prioritize)

[2022-01-06 22:08] iycheng opened #21432 "[Core] [Nightly] [Flaky] `many_drivers` test failed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

[code]

It seems the cluster is OOMing and the dashboard is to blame.

### Versions / Dependencies

master

### Reproduction script

Run the weekly tests. example output: https://buildkite.com/

[2022-01-06 22:11] iycheng opened #21433 "[Core] [Flaky] linux://:pubsub_integration_test flaky"

[2022-01-06 22:12] #20840 closed

[2022-01-06 22:13] ericl commented on #20999
Duplicates https://github.com/ray-project/ray/issues/21304

[2022-01-06 22:13] #20999 closed

[2022-01-06 22:26] rkooo567 commented on #21304
So, it turns out the regression was not as big as 600 tasks/s -> 27 tasks/s (I misread 600 runtime as 600 tasks/s).

When I ran 1.4, it could schedule about 90 tasks/s. And after we merge the async pop worker PR from Ant, it became 27 tasks/s. I think we should see if @stephanie-wang's PR will fix this regression first. The issue itself can be downgraded for now.

Regarding task performance in gen

[2022-01-06 22:28] ericl commented on #21432
Description?

[2022-01-06 22:32] mwtian commented on #21432
It seems to pass in the latest run? https://buildkite.com/ray-project/periodic-ci/builds/2262#9abe2370-25b5-48cf-8db8-bf7fac7e7d13 Or does this fail with GCS bootstrapping configured?

[2022-01-06 22:35] akern40 commented on #17491
It is worth noting that this issue persists for the latest versions of Ray and RLlib, unfortunately. It continues to have no effect on training (as best I can tell) but does still say its failing to connect. Any help would be appreciated so that I don't have to worry something isn't going right, thanks!

[2022-01-06 22:37] jjyao commented on #21304
We probably should do more performance work around what a good lease parallelism is. I'm going to set the default to 10 but it's probably not the best.

[2022-01-06 22:55] rkooo567 commented on #21304
Yeah agreed! We can have different policies to make it better as well.

Also, my current impression of max lease requests is to alleviate load, so it might be also possible to control this from raylet. For example, raylet decides the max pending tasks (that could be high, like 5000~10000) and reject the lease request if the queue is full.

I think we can discuss the best approach when we tune the

[2022-01-06 23:00] ericl commented on #21432
I believe this is flaky, which is considered a P0 for nightly tests.

[2022-01-06 23:02] rkooo567 commented on #17491
@richardliaw Was there any conclusion from the investigation of this issue? Maybe we should

[2022-01-06 23:05] rkooo567 commented on #21346
What about we decrease the timeout and see if it fails more often? (maybe like 3 minutes?)

[2022-01-06 23:10] rkooo567 commented on #21349
cc @DmitriGekhtman I remember there was a feature request to dispaly autoscaler events better on the prod. Has this been deprioritized? It'll be really useful for debugging this sort of failures (that could be related to autoscaler)

[2022-01-06 23:52] yanghoonkim commented on #9571
I have also suffered from the issue and agree with @AlkaidCheng

[2022-01-07 00:17] scv119 commented on #21346
huh, let me try that out

[2022-01-07 00:24] rkooo567 commented on #17377
That’s great!! Good to know our tests uncover problems 😂

[2022-01-07 00:28] DmitriGekhtman commented on #21349
Deprioritized, though we're still entertaining thoughts of better log viewing over there.. are there autoscaling logs available? I'd be most willing to strain my eyeballs at them.

[2022-01-07 00:29] rkooo567 commented on #21349
Autoscaling logs seem to be lost after the cluster shutdown. Only head node logs are left

[2022-01-07 00:31] DmitriGekhtman commented on #21349
Maintaining logs should be a priority. Also, we'll want to migrate to the new stack at some point.

[2022-01-07 00:38] architkulkarni opened #21435 "[runtime env] raise exception for unsupported runtime_env features on Windows"

[2022-01-07 00:51] clarkzinzow commented on #21415
@Wang-zhechao This works for me on Linux, so this may be a Windows-specific issue.

[2022-01-07 00:52] clarkzinzow commented on #21413
Closing in favor of #21432, will copy over description

[2022-01-07 00:53] #21413 closed

[2022-01-07 00:54] clarkzinzow commented on #21432
@iycheng Not a big deal, but we already had an [issue](https://github.com/ray-project/ray/issues/21413) open for this! In the future, don't forget to check for existing issues before opening a new one.

[2022-01-07 00:57] wuisawesome commented on #21432
I've run this a few times now (on the nested task branch), and it seems to pretty consistently fail after ~8hours.

@mwtian you're looking at the nightly version which only runs for 1hr.

[2022-01-07 01:01] clarkzinzow commented on #18103
@amogkam I don't think this has been fixed, I'll assign a priority and get it in the backlog.

[2022-01-07 01:07] rkooo567 commented on #21432
How is dashboard using 20GB of data.. lol Is it possible to do some memory profiling?

[2022-01-07 01:37] lionsheep0724 commented on #4741
Any update for this issue? I'm having the same problem and I can't find --num-redis-shards option just because I'm using ray 1.6.0
P.S : @wangzelong0663 Could you please explain about the reason why increasing number of redis shards can solve this problem?

[2022-01-07 01:45] #18063 closed

[2022-01-07 01:45] #18056 closed

[2022-01-07 01:45] #18077 closed

[2022-01-07 01:55] jovany-wang commented on #4741
Feel free to file a new issue because this one is out of date.

[2022-01-07 02:07] Wang-zhechao commented on #21415
@clarkzinzow  thanks Clark, I will try it on Docker and I will reply to you later

[2022-01-07 02:10] jovany-wang opened #21437 "[Core][Java][Perf] It takes N ms for a method to submit for the first time."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen
When a method is the first time to submit in this caller, `.remote()` function will take N ms.
The reason for it is we invoke a virtual method `java_function_descriptor_to_list` defined in JVM f

[2022-01-07 02:51] scho97 commented on #21212
Hi, Matthew. Thank you for opening this issue. I am having the same error, and I was wondering if I should use the way you suggested in `Script 2` for now. Is there any update on this?

[2022-01-07 03:08] matthewdeng commented on #21212
Ah @scho97 I unfortunately don't have any updates on this at the time. I think you can use Solution 2 as a workaround in the meantime.

@yard1 would you be able to take a look at this? Is this a byproduct of merging `Analysis` with `ExperimentAnalysis`?

[2022-01-07 03:46] cgy-dayup opened #21440 "Received message larger than max (218771147 vs. 104857600)"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

i want to use ray-tune for lightgbm on my own datasat.but i come across the problem:
grpc._channel._InactiveRpcError: <_InactiveRpcError of RPC that terminated with:
        status = StatusCode

[2022-01-07 03:55] rkooo567 commented on #21440
Is this happening with ray client?

[2022-01-07 04:07] richardliaw commented on #21343
Why doesn’t it solve the main issue? Isn’t the main issue a question on how
to get fast performance?

On Thu, Jan 6, 2022 at 2:51 AM yogeveran ***@***.***> wrote:

[2022-01-07 04:14] richardliaw commented on #21440
Hey @AmeerHajAli, I think this is another Ray client issue, can we prioritize improving the error message here?

Also cc @istoica , @pcmoritz @edoakes for visibility.

[2022-01-07 04:44] Yard1 commented on #21212
No, it's been a thing for a while @matthewdeng. We'll probably have to end up creating something like a `ReadOnlyTrial` that would not have an associated trainable if one is not found. I will be taking a look at this next sprint.

[2022-01-07 05:03] iycheng commented on #21432
Sorry, this ticket was created during standup just for a reminder purpose and the description was planned to be added later.

Overall it looks like a memory leak in the dashboard. THe plan here is to do some profiling and track the memory usage.

[2022-01-07 05:11] mwtian commented on #21432
@iycheng maybe we can sync up tomorrow and I will give memory profiling a try?

[2022-01-07 05:20] lionsheep0724 opened #21445 "[Core] [Bug] Exiting because this node manager has mistakenly been marked as dead by the GCS: GCS didn't receive heartbeats from this node for 30000 ms. This is likely because the machine or raylet has become overloaded"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

### System information
- OS Platform and Distribution : Windows10, WSL2(18.04)
- Ray version: 1.6.1
- Python version: 3.7.2

### Describe the problem
Running I/O bound task(read 8MB image, and

[2022-01-07 05:43] #21393 closed

[2022-01-07 06:47] richardliaw commented on #9571
@xwjiang2010 @krfricke if you have the chance, I think the suggestion of setting an environment variable to the original path  makes sense as a first workaround.

[2022-01-07 06:48] richardliaw commented on #9571
I've assigned this as P1 as it has become one of the top voted issues on the entire repository.

[2022-01-07 07:14] WangTaoTheTonic opened #21446 "[RFC] Possibility of disable force flush in event"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

We recently test performance of scheduling and found that the "force flush" in event would slow end to end performance (by 5% - 1010) of gcs server.

In order to verify the impact of enabling f

[2022-01-07 07:40] cgy-dayup commented on #21440
- i think there are some problems with message size limit?how can I slove it?

[2022-01-07 07:41] AmeerHajAli commented on #21440
@ckw017 / @wuisawesome , is this a duplicate of https://github.com/ray-project/ray/issues/18378 ?

If so can we prioritize fixing this error message?

[2022-01-07 07:52] cgy-dayup commented on #21440
Are there any solution？

[2022-01-07 07:57] sven1977 commented on #21041
Strange, episodes don't get recycled, so there shouldn't be any remaining `hist_stats` in a new one.

[2022-01-07 07:58] iycheng commented on #21432
Notice there is a session that's running ok for more than 1 day. ([session](https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_Wbgw3faihSQpHqV6pc5rABxC?command-history-section=command_history&user=usr_6IEyi1L0swJAKPY1Yjpml4))

I also reproduced, although not consistently, it somehow on the cluster. It seems flaky. I compared the dashboard logs, they s

[2022-01-07 07:58] sven1977 commented on #21041
Hey @duburcqa , could you provide a fully functional, single repro script that runs as-is so I can debug this? Thanks.

[2022-01-07 08:10] sven1977 commented on #21044
Hey @wildsky95 , this should be an easy fix. Your "policies_to_learn" should be "policies_to_train".

To explain the error: Your RandomPolicy does not do postprocessing (it does not have a `postprocess_trajectory` method defined), so advantages are not calculated for its batches.

We should do the following things:
- Add a meaningful error in the StandardizeFields code if a field is not found.
- C

[2022-01-07 08:10] #21044 closed

[2022-01-07 08:11] Wang-zhechao commented on #21415
@clarkzinzow Thanks clarkzinzow. This problem is indeed a Windows unique problem. I have no problems with this code and 115 tensorflow actions on Ubuntu20, but I want to know what does not run on Windows, so how to solve it?

[2022-01-07 08:30] sven1977 commented on #21044
@wildsky95 : https://github.com/ray-project/ray/pull/21448

[2022-01-07 08:32] sven1977 commented on #20904
@iamhatesz , yes, this looks like a bug! :) Thanks so much for catching this and for your offer to PR a fix.

[2022-01-07 08:35] rkooo567 commented on #21446
Isn't force flush == writing a log line? Isn't the main problem in this case just that GCS has too many high frequency events in you guys fork? (Btw in OSS, events are not used by default right now)

[2022-01-07 08:37] sven1977 commented on #21058
Hey @kajc10 , thanks for filing this issue. Could you make sure your reproduction script works as-is out of the box? It's currently dependent on some missing code, e.g. `prepare_env`. Thanks.

[2022-01-07 08:38] duburcqa commented on #21041
@sven1977 ok I will try and let you know. It should be straightforward.

[2022-01-07 09:27] jovany-wang commented on #21218
Hi @scv119 @ericl , before we get all agreements on the high level thoughts. Let us move this forward as our short term goal. This is the first PR #21250 you can take.
Note that this proposal doesn't break any of the current behaviors except Java Worker.

[2022-01-07 09:33] duburcqa commented on #21041
@sven1977 Here it is:
[code]

[2022-01-07 09:48] duburcqa commented on #21041
![image](https://user-images.githubusercontent.com/17752950/148525661-91341d95-1232-433e-bb8c-4631920a8ead.png)

[2022-01-07 09:57] ICESDHR commented on #21440
i have the same problem.
i use TuneSearchCV function to train model use 4GB dataset, my code is
[code]
In the implementation of method TuneSearchCV.fit(), i found data transfer is forced, and data size > 2GB, and Throw an error like **ValueError: Message ray.rpc.DataRequest exceeds maximum protobuf size of 2GB: 5979803541**

[code]

**so i think this is a bug. if only fix error message, function T

[2022-01-07 10:01] ICESDHR commented on #18378
i have the similar problem.
i use TuneSearchCV function to train model use 4GB dataset, my code is
[code]
In the implementation of method TuneSearchCV.fit(), i found data transfer is forced, and data size > 2GB, and Throw an error like **ValueError: Message ray.rpc.DataRequest exceeds maximum protobuf size of 2GB: 5979803541**

[code]

**so i think this is a bug. if only fix error message, functio

[2022-01-07 11:05] sven1977 commented on #21044
Ah, also just noticed that this is RLlib's fault. The example script has this wrong, but doesn't detect it b/c it's using PG (not computing advantages) and not PPO. Fixed in above PR.
Thanks again!

[2022-01-07 11:32] sven1977 commented on #20920
Hey @ashutoshs25 , using the newest pettingzoo version, I'm forced to use cooperative_pong_v4, but here I'm getting a pettingzoo related error.

I also had to fix contrib/MADDPG's validate_config method as it was not properly handling the PolicySpec conversion of your policy 4-tuples `(cls, obs-space, act-space, config override)`.
This is fixed in this PR here: https://github.com/ray-project/ray/p

[2022-01-07 11:37] jon-chuang opened #21454 "[C++] Cluster Mode Tests Should have 1 test per feature tested"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, many cluster mode tests are bundled into a single test, FullTest

Solution: split up tests into smaller units to better identify failures.

@qicosmos @SongGuyang do you agree on this direction?

### Use case

Better testing

[2022-01-07 11:46] sven1977 commented on #21169
Hey @zhou-ting-hub , thanks for filing this issue! Could you provide a single, self-sufficient, working reproduction script. Only with that can we properly debug your issue. Thanks :)

[2022-01-07 11:52] czgdp1807 commented on #21415
In the OP, I can see `KeyboardInterrupt`. So, can I assume that the reproduction script was taking too long so you pressed `Ctrl + C` to stop it? Please let me know.

The second part. On my machine, I get the following copies of these messages (the process IDs vary though),

[code]

A couple of points to be noted here,

1. Windows take much longer time (as compared to Linux) to start processes. No

[2022-01-07 11:59] sven1977 commented on #21210
Actually, thinking about this, @SoloGao we don't support old tf versions like 1.9.0 (are you sure you didn't mix up ray and tf versions above :) ). tf1.9 doesn't even have the compat.v1 package and I'm getting another error:
[code]

Your repro script works fine on tf1.15 (which is what we use in our CI-tests (actually tf1.14) to make sure we keep tf1.x compatible at least from tf1.14 up).

Will cl

[2022-01-07 11:59] #21210 closed

[2022-01-07 12:08] sven1977 commented on #21242
Not sure it's so harmless. I would not expect e.g. vf_explained_var to be NaN on any GPU tower, unless something exploded in your model/loss.

@avnishn , something to definitely look at when starting the "catch errors during learning" project of yours.

@jamesliu Can you check your model's weights after you see these warnings? Also, what do the loss/vf-loss values look like?

[2022-01-07 12:14] sven1977 commented on #21217
Hey @mickelliu , thanks for raising this issue and very cool project you are working on :)

So the error above seems to be generated when the remote workers try to create the env object(s). The stuff with PPO and DQN working, but QMIX not is very strange and I have no explanation for that. A few questions:
- In your environment you are using a pre-trained model?
- If yes, does this model need to r

[2022-01-07 12:15] sven1977 commented on #21217
Would it be possible to reproduce the issue w/o UE4, but on a mimicked random env, similar to our `rllib/examples/env/random_env::RandomEnv` examples (for which you can set the obs/action spaces)?

[2022-01-07 12:39] mickelliu commented on #21217
Thanks @sven1977 for your kind responses. We are doing some cool stuff with UE4 and combined Ray Rllib into the mix. I still need to run a few tests (with your suggestions in mind) before I drew more clues out of this. But first to answer your questions:

1. Our environment is indeed using a pre-trained model, this is used to process observations received from interacting with the UE4 binary. So t

[2022-01-07 12:49] Wang-zhechao commented on #21415
@czgdp1807 Thanks for your answer.

**In the OP, I can see KeyboardInterrupt. So, can I assume that the reproduction script was taking too long so you pressed Ctrl + C to stop it? Please let me know.**
I didn't pressed Ctrl + C to stop it

This is probably because I did not set .remote() in num_cpus. After setting, there will be no keyboardinterrupt interrupt and it will become ，I didn't pressed C

[2022-01-07 13:23] sven1977 commented on #21217
Hey @mickelliu , thanks for your responses. This was really useful information. Yes, maybe QMIX doesn't properly move the workers to the GPUs. ...

[2022-01-07 13:24] sven1977 commented on #21217
Yeah, could be a QMIX-model-specific problem here. Are you using QMIX's default model or are you providing your own custom one?

[2022-01-07 14:26] sven1977 commented on #21297
This PR removes the entire term if "kl_coeff" is configured 0.0 for both tf and torch:

https://github.com/ray-project/ray/pull/21456

Hmm, the default for this parameter is 0.2 :/  so we may have to do more to prevent NaNs from being calculated, but the above PR is a start. Could you try and check, whether this is still an issue, even with kl_coeff==0.0 in your config? Thanks!

[2022-01-07 14:30] sven1977 commented on #21297
As soon as `tf.experimental.numpy.nanmean` moves into the stable tf code (out of "experimental"), we should replace the `reduce_mean` in PPO's `reduce_mean_valid` util functions.

[2022-01-07 14:34] wildsky95 opened #21457 "[RLlib] [Bug] concatenating obs_space with action _space as input space in RNNSAC build_q_model method causes shape mismatch building rnn model"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

``Hi, im trying to train a multiagent RNNsac with my custom environment. but the problem is i get a shape mismatch error, i tried to resolve this on my own. but i get that when building the q_mode

[2022-01-07 14:50] czgdp1807 commented on #21415
So, I modified your code with running a batch of tasks concurrently and then the next batch and so on. It worked fine.

[code]

If launching 200 tasks is allowed in Ubuntu (i.e., it works without issues) but not on Windows then I think it won't be wrong to say that Windows is unable to launch several processes at once. Meanwhile I verify my hypothesis, you can try the above trick. #3644 is in fact

[2022-01-07 14:51] sven1977 commented on #21217
Ah yeah, QMIXPolicy is NOT a `TorchPolicy` child, inherits directly from `Policy`. The generated models (main and target) are "manually" transferred to `policy.device`, whatever that is:

[code]

Could you print out the values of `self.device` inside `rllib.agents.qmix.qmix_policy.py::__init__` and let me know, what you see? I think the fix would be to just copy/paste the `self.device(s)` defining

[2022-01-07 15:06] amholler opened #21458 "[Tune] [Bug] When Ray autoscalar adds node to cluster, Ray Tune can sometimes report new node as stale"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

I have observed this problem intermittently when running multiple Ray Tune jobs simultaneously
on a Ray 1.9.1 cluster with autoscaling enabled, & I provide some details on my latest repro below

[2022-01-07 15:07] heinerb opened #21459 "RLLIB League based PolicyMap across workers impacting scalability via memory use - Question/[Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Currently exploring heterogenous league-based training with RLLIB and running into scalability issues/implementation issues which are noted bellow:

**League Terminology Used In this Post:**
- Cha

[2022-01-07 15:28] ckw017 commented on #16059
Sounds reasonable.

[2022-01-07 15:28] #16059 closed

[2022-01-07 15:47] jovany-wang commented on #19702
FYI: Previous related issue: https://github.com/ray-project/ray/issues/19690

[2022-01-07 16:00] sven1977 commented on #21217
More questions:
- `config.create_env_on_driver` is False (should be, otherwise, you may have no GPU available b/c Ray doesn't provide one)?
- Do you create a dummy env up-front to get the obs/action spaces so you can bundle them in a pre-defined Tuple space for the `register_env()`?

[2022-01-07 16:40] amholler commented on #21458
I guess one way for me to reduce the likelihood of this problem having an impact is to set max_failures to 1,
with the hope that retrying the trial will be successful the second time, along with further reducing the value
of TUNE_STATE_REFRESH_PERIOD.

[2022-01-07 16:51] bhavik66 commented on #13487
You can try by deleting the folder

`tmp/ray/<your session>/logs`

[2022-01-07 17:13] jovany-wang opened #21463 "[Java][RuntimeEnv] Support jars for runtime env."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

#### 1. Actor or task level
[code]

#### 2. Job level
[code]

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-01-07 17:15] jovany-wang commented on #21463
@SongGuyang @chenk008 CC

[2022-01-07 18:10] richardliaw commented on #18378
@ICESDHR can you help clarify what your cluster setup is and are you calling ray.init somewhere?

[2022-01-07 18:41] richardliaw commented on #14019
I think we can close this RFC given that runtime envs is GA now. @architkulkarni @edoakes ?

[2022-01-07 18:41] richardliaw commented on #585
Closing this since we've been maintaining (albeit slowly) the conda packages.

[2022-01-07 18:41] #585 closed

[2022-01-07 18:49] richardliaw commented on #15770
Closing this since it's been over 6 months.

[2022-01-07 18:49] #15770 closed

[2022-01-07 19:01] #14019 closed

[2022-01-07 20:54] amholler opened #21469 "[Bug] Ray checkpoint sync can sometimes fail to upload checkpoints to s3, plus log spew about sync client observed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Ray checkpoint sync can sometimes fail to upload checkpoints to s3, plus log spew about sync client observed

*********
Problem Summary

Checkpoints seem to not always get uploaded reliably to

[2022-01-07 21:16] xwjiang2010 commented on #21469
Thanks Anne.
There are two issues:
1. checkpoint lost. I have a few questions/comments on this.
- What is the checkpoint frequency and how large are the checkpoints in your case? Sometimes this would happen when checkpointing too often and too large.
- We are thinking of queueing checkpointing syncing instead of just bailing out when there is still one on-going. This is something we'd like to enha

[2022-01-07 21:27] amholler commented on #21469
Hi, @xwjiang2010, In response to your last comment:

This ticket is specifically on the issue with checkpoints being lost.
Thanks for your questions on that issue; I will answer your questions in a follow-on comment.

I have filed a separate ticket on the get_alive_node_ip issue,
which is https://github.com/ray-project/ray/issues/21458
It would be great if you can get rid of that logic entirely be

[2022-01-07 21:33] xwjiang2010 commented on #21469
Yes, great. Sorry I missed the other ticket. Let's keep the discussion separate on the two tickets.

And yes, these issues are orthogonal to single v.s. multiple tune job.

[2022-01-07 21:37] xwjiang2010 commented on #21458
Working on accessing to remove get_alive_node_ips entirely. Note to myself: we can potentially borrow what is used [here](https://github.com/ray-project/xgboost_ray/blob/master/xgboost_ray/main.py#L1115-L1126).

[2022-01-07 21:50] aeroaks opened #21471 "[Core] [Bug] Remote client environment is not setting up properly."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Clusters

### What happened + What you expected to happen

Hi everyone, I have a Ray cluster deployed on Azure K8s. I connect to it using kubectl command as given in the documentation.
I initially ran the task in the local ray environment

[2022-01-07 21:53] edoakes commented on #21471
@aeroaks I'm not completely understanding your setup, but it looks to me most likely that one of your remote tasks requires sklearn and it isn't installed on the cluster. Can you try adding `"pip": ["sklearn"]` to the runtime_env to see if that resolves the issue?

[2022-01-07 21:57] jwyyy commented on #19868
Hi @simon-mo @jiaodong, just want to follow up. Would you mind giving me some initial comments on the previous message when you have time to take a look? Then I will start to work on the implementation. Thanks a lot!

[2022-01-07 21:58] amholler commented on #21469
Wrt size of checkpoints, I've seen the problem with the dataset ames_housing and
I haven't seen it with higgs or forest_cover and below are examples of their uploaded sizes.
Maybe ames_housing looks somewhat bigger but it doesn't look dramatic to me.

I'm not setting the checkpoint_period or sync_period, so my runs are getting the defaults.
What does seem to be true to me is that the epochs comple

[2022-01-07 22:07] shrekris-anyscale opened #21472 "[Serve] test_cluster is flakey"
`test_cluster` has gotten flakey recently.

[2022-01-07 22:25] aeroaks commented on #21471
I will try to explain the setup with a figure. Your question triggered another question in my mind.
Even if the dependencies are installed in the local env, we need to provide specific instructions for the dependencies used by the task? I did not have to do that when running ray locally.

[2022-01-07 22:32] edoakes commented on #21471
When running on the cluster you need to make sure the deps are also installed there. Don't need to locally because everything is running in the same env (the local env).

[2022-01-07 22:36] iycheng opened #21473 "(Core] [bug][gcs] worker nodes starts failed in redis removal mode"
running with RAY_gcs_grpc_based_pubsub=1 RAY_gcs_storage=memory RAY_bootstrap_with_gcs=1 it'll fail in our test platform.
it's working with ec2.

from the log:
[code]
It seems autoscaler is not working well right now.

[2022-01-07 22:41] aeroaks commented on #21471
My bad. Let me check again by providing the dependencies list in the init command.

Then I have question about using Ray for scaling out in production. Whenever a running program wants to use ray (lets say 3 different apps), then while connecting to ray, they have to provide the dependency list? (I am thinking in the lines of running one cluster and sharing with several apps)

[2022-01-07 22:49] iycheng commented on #21473
[code]
It seems like a version mismatch issue.

[2022-01-07 23:01] simon-mo opened #21474 "[Feature] [Xlang] Auto method name translation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

A common issue when communicating between Java and Python using the cross language API is the method name convention is not consistent for the language.

For example when calling java from Python
[code]

calling Python from Java is le

[2022-01-07 23:07] xwjiang2010 commented on #21469
@amholler Yes, reducing the checkpoint frequency can really help here. Are you using class Trainables? If so, you can simply set `checkpoint_freq` through `tune.run`. Let me know how it goes!

[2022-01-07 23:24] simon-mo opened #21477 "[Bug] [Xlang] Overloaded Java Class can't be called via xlang"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Given the following Java interface and class
[code]

[code]

and calling it via Python (use own package of course):
[code]

I get the following error:
[code]

Note that if I can make the method n

[2022-01-07 23:49] jacobdanovitch commented on #21264
I had this issue as well, works correctly with the nightly build now.

[2022-01-08 00:54] xwjiang2010 commented on #9571
Thanks for raising the issue.

Dumb question, why do we want to have working_dir == log_dir? Is it to protect against the scenario where we have multiple trials scheduled on the same physical node and we are, for example, downloading some data to `~/data` in training script? We don't want them to step on each other? (in this case, worker1 will download to ~/ray_results/exp/trial000 while worker2 w

[2022-01-08 00:56] chazzmoney commented on #8469
Any distributed run I do seems to leak. Its remarkable that this has never been investigated.

[2022-01-08 02:55] iycheng commented on #21432
![image](https://user-images.githubusercontent.com/74173148/148628487-0c255e7d-aca0-422a-b8a2-ff86f234cbb2.png)

It seems like I was wrong. The memory just increases slowly.

The wired thing here is that from tracemalloc snapshot, it only claims 700mb memory used.

One thing that is not released is about the actor info in dashboard, but from the calculation, it shouldn't use more than 1gb.

[2022-01-08 03:24] cxy990729 opened #21479 "[Core] [Bug] core_worker.cc:451: Failed to register worker 01000000ffffffffffffffffffffffffffffffffffffffffffffffff to Raylet. IOError: [RayletClient] Unable to register worker with raylet. Unknown error"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When I run it, there is core_worker.cc:451: Failed to register worker 01000000ffffffffffffffffffffffffffffffffffffffffffffffff to Raylet.I can't figure it out

### Versions / Dependencies

wind

[2022-01-08 05:01] #21425 closed

[2022-01-08 05:19] jovany-wang commented on #21474
It's natural for Java and Py. But I'm not sure if it's a good idea for other languages. For example, C++ has no strong recommend on the function name style. @qicosmos CC

[2022-01-08 06:20] ICESDHR commented on #18378
@richardliaw i deploy ray cluster in k8s,  one head and three workers(they're both 2CPU & 20G memory)

my code like this, it's work well when dataset < 2GB. if i use 4GB dataset ,it's broken down and throw Error: Message ray.rpc.DataRequest exceeds maximum protobuf size of 2GB: 5979803541

[code]

[2022-01-08 07:22] Echo0117 opened #21481 "[Core] [Docs] Can't run the demo for AsyncIO for Actors"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Hey, I'm trying to use AsyncActor to run my code concurrently, so I tried the demo on AsyncIO for Actors:
[code]

But I got errors:
![QuvVZLAY4Q](https://user-images.githubusercontent.com/54064

[2022-01-08 09:20] mickelliu commented on #21217
Hi @sven1977, to follow up with more details:

  I'm using the default model (run='qmix', no custom_model)

  **In Remote Mode:** It didn't even make it that far, it ran into the CUDA serialization error while making the env, specifically when loading the torch model onto the device. And I added a print statement `print(os.environ)` inside `make_env` to check if there are any `CUDA_VISIBLE_DEVICES

[2022-01-08 09:38] mickelliu commented on #21217
Alright, so if I set `os.environ['CUDA_VISIBLE_DEVICES'] = '0'` the program runs... so it appears that the rollworker needs to be assigned specifically to a CUDA device.

[2022-01-08 12:53] clarkzinzow commented on #21479
Could you add a small script that reproduces the issue?

[2022-01-08 13:02] clarkzinzow commented on #21481
This is a bug in the demo code; `await` can only be used inside of an async function, but the demo code is trying to use it say the module level, which is incorrect. If you wrap the module-level code in an async function, it should work.

[code]

[2022-01-08 16:09] amholler commented on #21469
Hi, @xwjiang2010 Reducing checkpoint frequency did not work in this case.  Explanation below.

I have put more tracing into the ames_housing runs, and I see more about what's going on.
I will give an example tracing sequence below after giving some general observations about it.

In the steady state, the checkpoint sync'ing to the cloud is being called from _maybe_save_to_cloud,
which does not res

[2022-01-08 16:49] aeroaks commented on #21471
I am currently using the following init command
[code]
With this command, I am able to run the function once using `ray.remote` but the task execution is not stable. (Even tried after deleting the cluster and redeploying it using the helm charts.) One of the errors I keep getting in the notebook output repeatedly is
`(raylet, ip=198.18.54.6) [2022-01-08 08:38:18,970 E 122 122] agent_manager.cc:237

[2022-01-08 17:35] simonsays1980 commented on #11081
I would be happy to have this feature, as this enables us to replicate results from research papers more easily.

[2022-01-08 20:44] xeray opened #21486 "[Datasets] `Dataset.repartition` does not work on "list-type" blocks, requires blocks to be instances of `pyarrow.Table`."
When applying `reparation` on a dataset that contains list-type blocks (which seems to be permitted by the general documentation), repartition fails at an assert:

`assert isinstance(block, pyarrow.Table), block`

Stack (w.r.t. version 1.9.0):
[code]

This is unexpected, because the requirement is nowhere stated (or could maybe be removed, by additional handling for list-type blocks).

[2022-01-08 23:03] Chunpai commented on #9571
Agreed with AlkaidCheng. It is annoying when the code uses relative paths.

[2022-01-08 23:56] krfricke commented on #9571
To follow up from @xwjiang2010, there are two main reasons why we switch to a per-trial directory:

1. If trial write artifacts, we want to avoid conflicts (see @xwjiang2010 answer - if both write to "artifact.bin", they would overwrite this files).
2. In distributed settings, we cannot guarantee that the working directory from the driver script exists on the remote host. But we can guarantee that

[2022-01-09 00:00] JamieSlome opened #21487 "Who to contact for security issues"
Hey there!

I belong to an open source security research community, and a member (@srikanthprathi) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best p

[2022-01-09 00:46] Hoeze commented on #18491
Is there a solution to this problem yet?

[2022-01-09 01:33] #18165 closed

[2022-01-09 01:33] #18162 closed

[2022-01-09 01:33] #18114 closed

[2022-01-09 01:33] #18148 closed

[2022-01-09 06:16] jamesliu commented on #21242
@sven1977  Thanks for your suggestion. I will reproduce the issue and check the model's weights and loss/vf-loss/vf_explained_var values.

[2022-01-09 07:12] Echo0117 commented on #21481
Hey, thanks for replying. It worked, but it only run on one task, what should I do if I want to run 10 tasks concurrently, like the one in  `# ray.get([actor.run_concurrent.remote() for _ in range(4)])`.

I tried to write it like:
[code]

But it seems wrong, coz it took 10 times longer than one task.

[2022-01-09 08:04] jamesliu commented on #21242
The warning can be reproduced in Exercise 2 from academy example in (https://github.com/anyscale/academy/blob/471fed0c3c6c3f85649dcf20e30c64ea25dc222b/ray-rllib/explore-rllib/03-Custom-Environments-Reward-Shaping.ipynb.)
1. attached is the gzipped pickled model weights. May you shed some light on what value to look at?
[trainer_weights.pickle.gz](https://github.com/ray-project/ray/files/7834634/tr

[2022-01-09 13:41] yogeveran opened #21488 "[Core] [Bug] Recursive ray.util.multiprocessing.Pool deadlock"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Using from ray.util.multiprocessing import Pool recursively generates a deadlock.
Generating ray actors recursively does not get stuck.
I assume a solution of the same principle as this could s

[2022-01-09 13:43] yogeveran commented on #21343
Nope :)
It was just an example to show that switching from
multiprocessing.Pool to ray.util.multiprocessing.Pool
on local machine could have negative impact on runtime.
I thought perhaps it should be addressed.

[2022-01-09 14:44] WangTaoTheTonic commented on #21446
force flush means writing a log line RIGHT NOW, I think.
Didn't even notice that in OSS we turn off the event by default. :(

[2022-01-09 15:13] yogeveran commented on #21488
Note: I tried to write a simple map method and it did not suffer the same issue.
[code]

[2022-01-09 16:27] grypesc opened #21489 "[Bug] Unity3D env lacks group rewards"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Hi, there is a bug in RLlib 1.9.1 with release 18 of ml-agents. In Unity multi-policy environments, such as SoccerStrikersVsGoalie, reward that comes to the RLlib-side includes an additional group

[2022-01-09 16:39] marceloruizrodriguez opened #21490 "[Bug] Initialization of wandb with Tune, start method fork"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune, RLlib, Monitoring & Debugging

### What happened + What you expected to happen

I had managed to implement wandb to analyze a multi-agent system with RLlib, but after fixing some bugs in my code (not related to wandb), I ran it again the next

[2022-01-09 16:56] jovany-wang commented on #21477
I can make sure this is a bug indeed.

The root cause is we add `default` method as overloaded and the method signature is not passed in xlang . https://github.com/ray-project/ray/blob/master/java/runtime/src/main/java/io/ray/runtime/functionmanager/FunctionManager.java#L215

One easy fix is : if the `default` method is not overrided, we use the `default` method, and if it's overrided, we shouldn'

[2022-01-09 18:15] jovany-wang commented on #21474
Also CC @kfstorm

[2022-01-09 19:31] clarkzinzow commented on #18117
Hi @YeahNew, that's great feedback, sorry that this issue fell through the cracks! I think that we could add an API for not treating the first line as the header, although we would then require the user to provide the column names at read time.

[2022-01-09 20:18] ceteri commented on #21242
Hi @jamesliu ,

The `academy/ray-rllib/explore-rllib/03-Custom-Environments-Reward-Shaping.ipynb` part was built earlier. Dean edited it some earlier in 2020 to prep for webinars, although I believe the code was copied from an earlier source. I was asked to update some links here prior to a conference in later 2020, but not the code examples. FWIW, I was working in primarily in <https://github.com

[2022-01-09 20:39] bkpcoding commented on #21416
Will this code do?
[code]

I have tested the code with the following example:
file.json:
[code]
log_end.py
[code]
I got the output as: [{"1": "ab"}, {"2": "cd"},{"3": "ef"}, {"4": "gh"}]
I assumed that results_to_log and the results file are lists of dictionaries, if my assumption is wrong or if the code needs improvement I will make changes accordingly and will try to push a PR. Thank you.
(inspi

[2022-01-09 21:30] scv119 commented on #21419
Should this be bumped to p0?

[2022-01-09 21:33] scv119 commented on #21419
@jakub-valenta do you have a simple script that we could use to reproduce this?

cc @AmeerHajAli looks like a ray client issue.

[2022-01-09 21:51] scv119 commented on #21298
cc @clarkzinzow maybe worth a quick reproduction? not sure if it's M1 specific issue.

[2022-01-09 22:06] scv119 commented on #21276
cc @simon-mo do you know if this feature is implemented?

[2022-01-09 22:09] scv119 commented on #21269
@lionsheep0724 how it takes you job to OOM? Also it'd be nice to run `ray memory --stats-only` to see the memory growth overtime.

[2022-01-09 22:12] scv119 commented on #21298
hmm seems I can reproduce this issue with the above patch.

[2022-01-09 22:20] scv119 commented on #21298
I wonder if there is anything specific to ffmpeg. I changed the code from
[code]
to
[code]

then anything seems fine.

[2022-01-10 03:19] SongGuyang opened #21494 "[runtime env] Can we avoid merging two runtime envs?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In current design, the actor level runtime env can inherit job level runtime env, like:
If the job level runtime env is:
[code]

and if the actor level runtime env is:
[code]

The final merged runtime env for actor is:
[code]

More de

[2022-01-10 03:19] SongGuyang commented on #21494
@edoakes @architkulkarni

[2022-01-10 03:20] SongGuyang commented on #21494
cc @raulchen

[2022-01-10 03:54] raulchen commented on #21494
I agree that merging runtime envs is hard to implement, and also could bring confusion to users. I'm in favor of the following logic.

[2022-01-10 04:17] SongGuyang opened #21495 "[runtime env] API refactor"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

1、Can we make the runtime env API strong-typed instead of a json or dict?

In python now, we provide runtime env API which is a dict. We need to do a lot validation logics here https://github.com/ray-project/ray/blob/master/python/ray

[2022-01-10 04:23] ilongshan commented on #21298
Accidentally delete this line when clean the code. Thanks for modify the code.

[2022-01-10 04:28] ilongshan commented on #21298
Yes it seems relate to ffmpeg. But ffmpeg is just a commonly used command line tools. And I already launch many ffmpeg simulanously. And these ffmpeg processes work fine.

[2022-01-10 05:05] dongruixiao commented on #21471
i had the same problem

[code]

[2022-01-10 05:19] SongGuyang commented on #21495
@edoakes @architkulkarni @raulchen

[2022-01-10 08:13] jakub-valenta commented on #21419
I was not able to reliable reproduce this. It is not happening often, only once a week. Problem is that it freezes python process forever. Having timeout on `remote` method to be able to recover from this situation would be great.

[2022-01-10 08:35] jakub-valenta opened #21499 "[Bug] Sync of working_dir to newly created worker node silently fails"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

We are running ray cluster in kubernetes with auto scaling enabled.

Sometimes there are missing sources on newly created worked node. It looks that  syncing sources from `working_dir` spec

[2022-01-10 10:06] kfstorm commented on #21380
There are several ways I can think of to mitigate the issue.

1. Allow passing the method signature when calling from Python to Java. This can be done by adding an optional parameter `signature` at https://github.com/ray-project/ray/blob/f8244a4cc0c908ed27b9569200f15e7d6eccb35c/python/ray/cross_language.py#L60
2. When the overloaded methods have different numbers of parameters, we can still infer

[2022-01-10 10:24] yogeveran opened #21502 "_init_ray should be general helper method, unrelated to pool.py"
https://github.com/ray-project/ray/blob/f8244a4cc0c908ed27b9569200f15e7d6eccb35c/python/ray/util/multiprocessing/pool.py#L501

Logically _init_ray should not belong to Pool as it doesn't use self or cls.
Should be in general ray.init the option to connect to existing cluster or create it if it doesn't exist.

Also I noticed use of RAY_ADDRESS_ENV = "RAY_ADDRESS" instead of ray_constants.RAY_ADDRES

[2022-01-10 13:00] #17602 closed

[2022-01-10 15:30] Carterbouley opened #21505 "[rllib] Unable to restore agent 'key error: weights'"
I am trying to restore a saved agent (which I downloaded after cluster training) so I can use it offline.

I am using the same version of ray for training and offline (ray==1.8.0) i am getting the following error - this did not happen with 0.8.4 - am I restoring the agent correctly?
![Screenshot 2022-01-10 at 15 43 51](https://user-images.githubusercontent.com/42470002/148794616-729d9ae8-c314-45ff

[2022-01-10 17:39] matthewdeng commented on #21487
cc @thomasdesr

[2022-01-10 17:41] richardliaw commented on #21416
Hi @bkpcoding, are you using Ray Train and would like to contribute?

[2022-01-10 17:55] thomasdesr commented on #21487
Hey @JamieSlome! You can reach us over at [security@anyscale.com](mailto:security@anyscale.com).

I'll leave this open till we add a security.md file to Ray.

[2022-01-10 18:01] shrekris-anyscale commented on #21353
Another user that's deploying Ray on Kubernetes running on Docker Desktop ran into a similar issue: https://discuss.ray.io/t/error-computing-cpu-usage-of-ray-kubernetes-pod-docker-desktop/4606

[2022-01-10 18:58] matthewdeng opened #21508 "[train] add example for pytorch model parallelism"
**Goal:** Add an example to the docs that showcases how you can use model parallelism + DDP to efficiently train across GPUs.

**Example:** https://pytorch.org/tutorials/intermediate/pipeline_tutorial.html

[2022-01-10 19:00] xwjiang2010 commented on #21469
Hi @amholler
Yes, for your use case, I don't think there is throttling happening for uploading to cloud from syncing perspective.
Syncing is happening at the same frequency as checkpointing.
Could you reduce the frequency of checkpointing then? (it's not gonna be `checkpoint_freq` as that is only used for class trainable). Most likely check how often you call `with tune.checkpoint_dir...`

Let me

[2022-01-10 19:01] lihost commented on #21353
Thank you @shrekris-anyscale.

Hi @DmitriGekhtman, while this is being resolved, do we have any workaround to this so that we can test our deployments locally?

[2022-01-10 19:03] clarkzinzow commented on #21226
@ericl @rkooo567 Considering this a Core issue with a Tune-based reproduction.

[2022-01-10 19:33] simon-mo commented on #19868
Hi @jwyyy sorry about the late reply and thank you for planning to contribute!

Yup! We should either throw error (easier) or perform an idempotent update (harder to implement). I see the error approach as a simple, stop-gap fix solution and the update as long term solution.

This needs some thought. For HTTP options, we should consider creating new http servers based on those options and shutting

[2022-01-10 19:39] #19702 closed

[2022-01-10 19:45] jwyyy commented on #19868
Hi @simon-mo, no worries, and thank you for your comments! They are very helpful. I think I can start to do the error-throw first in an initial commit, which can help add the feature soon. But the update approach looks more elegant, and I will definitely explore more. Will update with more thoughts. Thanks again!

[2022-01-10 19:50] xwjiang2010 commented on #21469
To capture some of the discussion offline.

There are several paths going forward:
1. Try to optimize sync up/delete and see if we can keep up with per epoch checkpointing/deleting (Xiaowei to do some benchmarking). Let's also see if deleting can be done in a batch way. Does that improve anything?
2. Tune to throttle syncing
3. User to be responsible for setting reasonable checkpointing freq (in w

[2022-01-10 20:35] bkpcoding commented on #21416
Yup, I am using Ray Train and would surely want to contribute. I just wrote up this sample code without using ray just to check the correctness of the program. If you think this is the right approach then I will push for a PR asap. Or if I am missing cases let me know.

[2022-01-10 20:54] iycheng commented on #21432
I disable the actor info in dashboard ad-hoc, and the issues are still there. If we trust tracemalloc, then the leak has to be in cpp layer. I'll profile the memory there.

[2022-01-10 21:45] #19149 closed

[2022-01-10 21:49] avnishn commented on #21505
Hi @Carterbouley,

RLlib checkpoints are only guaranteed to be restorable with the version that they were trained on. If your agent was trained using 0.8.4, then it is only guaranteed to be restorable with 0.8.4.

If you were able to train using 1.8 and restore using ray 1.8, then could you try running the script below?
https://gist.github.com/avnishn/d9749005474eccb7dcc3969f28dfc84f

if that work

[2022-01-10 22:28] architkulkarni commented on #21471
Yeah, that would be the approach if you wanted to install the environment dynamically at runtime. (For example, one use case would be if each app had its own set of dependencies that might not be mutually compatible.)

However, if all apps have the same dependencies, another approach is to set up your environment in advance on the cluster by using the setup commands: https://docs.ray.io/en/latest/

[2022-01-10 22:49] architkulkarni commented on #21471
Thanks @dongruixiao, could you share some more details about your setup?  Are you using helm charts as well?

[2022-01-10 23:27] tchordia opened #21517 "Job submission drivers don't use unbuffered logging"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Jobs

### What happened + What you expected to happen

Run the following on a remote ray cluster, with ray job submit.
[code]

All logs are printed at the end.

### Versions / Dependencies

Latest ray 1.9.1

### Reproduction script

[code]

Logs sh

[2022-01-10 23:28] edoakes commented on #21517
We should be able to just set `PYTHONUNBUFFERED=1` for the driver subprocess.

[2022-01-11 00:25] amholler commented on #21469
My patch in sync_client to wait rather than to skip when client cmd still in progress did not remove all instances where checkpoints were lost.  I haven't tried to investigate this further.
    Turning off checkpoint deletion, i.e., setting keep_checkpoints_num to None rather than 1 (which is hard-coded in Ludwig) did make the lost checkpoint and sync cmd skipping problem go away for my test.

[2022-01-11 00:29] #20343 closed

[2022-01-11 00:59] architkulkarni commented on #21495
Regarding (1), we need to be able to have runtime_env be a JSON file so that the JSON file can be read by Ray Job Submission: https://docs.ray.io/en/master/ray-job-submission/overview.html.

Regarding (2), I agree we should remove `code_search_path`!  Those proposed additions look good to me.

[2022-01-11 01:11] architkulkarni commented on #21494
I agree the current merging logic is a bit complicated--right now there is one special case (env_vars), and apart from that, each individual field gets overwritten with the child's field (like a simple `dict` merge).  But from the user's perspective, I'm not sure if the current approach or the proposed approach is more confusing.

Example 1: When a user specifies a new environment variable in a ne

[2022-01-11 01:35] SongGuyang commented on #21495
Emm.. Yep, job submission is a special case. @raulchen let’s discuss about this offline.

[2022-01-11 02:05] SongGuyang commented on #21494
What we don't set all of the environment variable in the parent actor?

[2022-01-11 02:11] SongGuyang commented on #21494
What's the reason of using different working_dir for a specific actor? I think one global working dir is enough for most of the cases.

[2022-01-11 02:21] SongGuyang commented on #21494
Another case is that:
If you set a special conda env in parent actor, and set a special pip env in child actor, what's the final state? Conda env and pip env are conflicting.

Can we add a new API like `get_current_runtime_env` to support the special cases? We can open the merging logic to users to support some complex scenes.

[2022-01-11 05:30] lionsheep0724 commented on #21269
Please refer to same issue #21445

[2022-01-11 05:59] iycheng commented on #21432
The job with actor info disabled is still running. It still has leak, but overall it only uses 4GB memory. The leak should come from other places in the dashboard/gcs.

We still should investigate this issue further, but a short-term solution is to purge the actor and keep only a limited number of actor info in the dashboard.

I'll create a PR to mitigate this issue first.

![image](https://user-i

[2022-01-11 06:16] jovany-wang commented on #21239
I believe it's a strong requirement. But I have concerns on what APIs we'd like to expose.
1. Should we expose the API to specify a JDK version for actor or task? or we only need to expose it for job.
2. Once different workers are ran in different JDK versions, we have to make sure the compatibilities with different versions in our Ray Java codebase.

Hence, maybe we should only expose the API for

[2022-01-11 06:17] dongruixiao commented on #21471
I only run it in my custom cluster implemented via `node_provider.py` and do not use helm

[2022-01-11 08:15] raulchen commented on #21495
For the job submission case, the HTTP interface should accept a JSON string, and then parse it to a strong-typed RuntimeEnv Python object before calling "ray.init" (or whichever Ray core API).

[2022-01-11 08:18] raulchen commented on #21239
I'm in favor of the second option. Because 1) the concrete install path is managed by the users, not by Ray. So Ray doesn't know where "JDK11" is. 2) There are too many JDK versions, Oracle, OpenJDK, etc. It's hard for Ray to manage all of them.

[2022-01-11 08:19] raulchen commented on #21239
@SongGuyang Python should support different versions as well. Is this requirement tracked by any other issues?

[2022-01-11 08:30] raulchen commented on #21220
What's the problem with having 2 separate api and runtime modules?

I prefer removing. But we should probably make it consistent for other languages. Maybe you can open a separate issue to get more inputs from other people.

Yep, we should move the multi-actors feature as a util lib. You can open a new issue for this.

[2022-01-11 08:44] scv119 commented on #21346
Another not yet-to-reproduce bug

[2022-01-11 09:53] SongGuyang commented on #21239
No issue now. In python, maybe user could use conda ?

[2022-01-11 10:02] Carterbouley commented on #21505
Thanks alot @avnishn - I rechecked and for anyone who has a similar problem, the notebook I was using to activate my cluster had ray 1.8.0 installed, but the actual cluster was training with 1.3.0 on Azure. Worth re-checking!

Thanks,
@Carterbouley

[2022-01-11 10:02] #21505 closed

[2022-01-11 10:31] mgerstgrasser commented on #21286
@sven1977 I think you probably know the most about this since you wrote the original PRs referenced. I think it's a relatively small change and I'd be happy to submit a PR for it, but I wanted to check what you thought first. Particularly since it slightly changes what `env.action_space` and `env.observation_space` (can) mean in a multiagent env. I don't know of anything else that touches either o

[2022-01-11 10:33] bladesaber opened #21524 "[Bug] ray.tune.run report KeyError: 'ml/domain'"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Hello, I meet a strange Key Error. The detail is below:

Traceback (most recent call last):
  File "/home/bot/Desktop/person/AutoML_Pipeline/test.py", line 35, in <module>
    verbose=False,

[2022-01-11 11:57] Reignbeaux commented on #19942
I'm currently dealing with the same problem on slurm. I cannot connect a second worker (running on a separate node) to the head node - I get the same message as reported above. Did you find a solution to this?

[2022-01-11 14:19] andrewkhardy commented on #19942
I have. It's long enough that I don't remember exactly what I did to fix it, but the ray.init is enough.

ray.init(address="auto", _redis_password = os.environ["redis_password"])
register_ray()

That default SLURM script should effectively place redis_password and address in the global variable storage.

[2022-01-11 15:11] #21477 closed

[2022-01-11 15:13] jovany-wang commented on #21477
@simon-mo The fix was merged on master. Feel free to close this once your issue get addressed.

[2022-01-11 15:36] jon-chuang commented on #13826
For posterity, I managed to fix a similar error by running the relevant manual bazel rule.
e.g.
[code]

[code]

I was building from source in a local repo, however.

[2022-01-11 15:50] jovany-wang commented on #19538
Since streaming library will be moved to another repo, no need to track the issues here. https://github.com/ray-project/streaming/issues/1

[2022-01-11 15:50] #19538 closed

[2022-01-11 16:41] DomagojHack commented on #5635
Can you please elaborate (code line example) on what do it means "to set PYTHONPATH"?

[2022-01-11 17:22] oscarknagg commented on #19462
The Ray 1.9.0 release added optional TLS to Ray. Also remote functions are now transferred between components with gRPC calls. If TLS is enabled then these gRPC calls will be encrypted, which resolved this issue.

[2022-01-11 17:22] #19462 closed

[2022-01-11 17:44] architkulkarni commented on #21471
Thanks for the details @dongruixiao -- perhaps you can try setting the environment variable `RAY_runtime_env_skip_local_gc` to `1` on each node in your cluster?  I think you could do it in the `head_start_ray_commands` and `worker_start_ray_commands` before `ray start`.  This temporary workaround would disable the local garbage collection of runtime environment resources, which should in turn disa

[2022-01-11 17:48] oscarknagg opened #21529 "[Bug] Unexpectedly high memory usage of object store"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

The reproduction script below creates two numpy arrays of size 4MB and 8MB these are concatenated into an array of size 12MB. The first two arrays no longer have any references and should be ga

[2022-01-11 17:55] wuisawesome commented on #21440
@cgy-dayup I think the best mitigation is to chunk the object yourself for now (presumably it's a large array of some sort?)

@AmeerHajAli I believe @ckw017 is prioritizing fixing the actual underlying issue here already since we have multiple users running into this problem.

Btw I'm going to close this as a duplicate of #18378 so that we can centralize tracking the issue there.

[2022-01-11 17:55] #21440 closed

[2022-01-11 18:01] wmayner opened #21530 "[Feature] Deployment on HTCondor?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

[HTCondor](https://en.wikipedia.org/wiki/HTCondor) is sometimes used at academic research institutions, and it would be great if there was documentation/code for how to deploy Ray on an HTCondor cluster similar to the [instructions](h

[2022-01-11 18:22] simon-mo commented on #21477
@jovany-wang thanks for the quick turnaround!

[2022-01-11 18:30] clarkzinzow opened #21532 "[Datasets] [Feature] Expand user's control of the format of yielded batches for `.to_tf()`"
We recently expanded the user's control of the format of yielded batches for `.to_torch()` in [this PR](https://github.com/ray-project/ray/pull/21117), we should do the same for `.to_tf()` for the sake of (1) meeting user demand for this feature, and (2) keeping API parity.

[2022-01-11 19:42] mgerstgrasser commented on #10882
Is it possible to do other parts of the usual deepmind-processing inside the model as well, e.g. max-and-skip? We have some multiagent settings where we want to apply different processing for different agents. It's possible to do that through wrappers, but doing it inside the model would be a lot cleaner.

[2022-01-11 19:45] aeroaks commented on #21471
Hi @architkulkarni , I assume this workaround is applicable in any case, i.e. would help to solve my case as well?

Is this a recognised behaviour for which there will be a permanent solution?

[2022-01-11 19:49] aeroaks commented on #21471
Hi @architkulkarni, I observed that when submitting the same task, once as a one off task, and next as a task submitted for parallel execution, the environment setup takes place whent he task is submitted. Since both are the same tasks and submitted at an interval of few seconds from the same notebook, thus same client, why does the environment setup is triggered twice.
Is this normal behaviour?

[2022-01-11 21:56] clarkzinzow opened #21536 "[Dask-on-Ray] [Feature] Propagate Dask-level resource requests and Ray task options via Dask annotations to Ray tasks."
# Resource requests

Dask has an [annotation config API](https://docs.dask.org/en/stable/api.html#dask.annotate) as well as the ability to give top-level resource requests in the `dask.compute()` API, which allows a user to attach resource requests (among other things) globally and/or to a high-level subgraph of computation. We should map these resource request annotations and global resource spec

[2022-01-11 21:56] wmayner commented on #2618
Seconding @virtualluke's point. This seems critical for any nested task structure.

[2022-01-11 21:56] architkulkarni commented on #18199
@jovany-wang Could you please release 1.9.2 on Maven?  I tried to do it myself but got stuck at the same point as before. (I guess this is expected, since I didn't make any updates to the java release process on the 1.9.2 branch.)

We want commit `ef593fe5d3c864836b80ae77be32635cef42b537` which should be the latest commit on the [1.9.2 branch.](https://github.com/ray-project/ray/commits/releases/1

[2022-01-11 22:18] scv119 opened #21537 "[Bug] [nightly dashboard] dask_on_ray failure doesn't show up in the dashboard"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

dask_on_ray_test_spilling[ failed this morning](https://buildkite.com/ray-project/periodic-ci/builds/2326#_) but it doesn't show up in the nightly dashboard's failure graph and flakiness graph.

[2022-01-11 22:33] scv119 opened #21538 "[Core][Nightly][Bug] dask_on_ray_sort runs timedout"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_ZijViRZr1FMxnqY9RFi18Sek timed out. It seems it took longer time than usual to finish and being

[2022-01-11 22:41] scv119 commented on #21538
I compared the runs between a success run and a failed run, seems the failed run is killed while running
[code]
which is inside this function: https://sourcegraph.com/github.com/ray-project/ray/-/blob/release/nightly_tests/dask_on_ray/dask_on_ray_sort.py?L26

[2022-01-11 22:47] scv119 opened #21540 "[Core][Nighlty][Bug] dask_on_ray_large_scale_test_(spilling/non_spilling) failed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

There are two instance of dask_on_ray_large_scale_test failed recently:

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_syR8YfmakJEHVeGLYQnsVD

[2022-01-11 22:55] mattip commented on #20376
A segfault in `test_actor_recursive` in `test_basic_2_client_mode` seems to be the cause, and this tests is scoring quite high on flaky-tests.ray.io:
![Screenshot from 2022-01-12 00-52-21](https://user-images.githubusercontent.com/823911/149034158-ae4aa23f-b854-4061-a715-a467e49df53d.png)

[2022-01-11 23:18] DmitriGekhtman commented on #21353
The exceptions are benign (but extremely annoying).
A suboptimal temporary workaround while I work on a fix is to downgrade docker desktop to a version before 4.30
Related: https://github.com/earthly/earthly/issues/1533

[2022-01-11 23:47] matthewdeng opened #21541 "[train] add quickstart cluster tutorial"
### Goal
 Add a simple walkthrough that documents all the steps to:
1. Run Ray Train on your laptop
2. Set up a GPU cluster (e.g. AWS)
3. Run script from [1] on cluster from [2]

### References
- [Ray Cluster Quick Start](https://docs.ray.io/en/master/cluster/quickstart.html)

[2022-01-11 23:58] #18847 closed

[2022-01-12 00:13] michaelliutt commented on #6700
I am actually working on the same idea. Could you have explain how you made it work?

[2022-01-12 00:21] #18215 closed

[2022-01-12 01:26] architkulkarni commented on #21494
I don't have a concrete example for `env_var` question besides the analogy to processes, maybe @edoakes you know some other example?

For setting working_dir per-actor, one use case is for Ray Serve, where in a single Ray job there's many actors with independent ML model deployments, each one might need its own working_dir with its own data.  But maybe this is a special case where we should just u

[2022-01-12 01:27] architkulkarni commented on #21495
That sounds like a good solution to me, @edoakes do you have any concerns about it?

[2022-01-12 01:56] rkooo567 commented on #21537
I found this has been updated to the first graph, but not the second. Maybe there was an issue with Preset that calculates the time? It looks like the second graph only displays the result up to 10th (whereas the first shows up to 11th which has the dask on ray failure)

<img width="1449" alt="Screen Shot 2022-01-11 at 5 55 35 PM" src="https://user-images.githubusercontent.com/18510752/149050127-5

[2022-01-12 01:57] scv119 commented on #21540
[code]

[2022-01-12 02:11] scv119 commented on #21540
The commonality between those failed tests is that all of them showing up this error
[code]

we will fix it and revisit the issue again.

[2022-01-12 02:52] jovany-wang commented on #18199
@architkulkarni Sure. Will let you know once it's done.

BTW, After streaming lib get moved to another repo, we'll get rid of this way. https://github.com/ray-project/streaming/issues/1

[2022-01-12 02:57] WangTaoTheTonic opened #21545 "[Feature] [Java]Remove GlobalStateAccessor in Java"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Now in Java code, if we want get some data from gcs, the code path is `GcsClient.java -> GlobalStateAccessor.java ---jni---> global_state_accessor.cc -> gcs_client.cc ----rpc---> gcs server`, which is complicated.

We can send grpc di

[2022-01-12 03:41] matthewdeng commented on #21416
@bkpcoding yeah at a glance this looks reasonable, but I believe you wouldn't need to remove the brackets from each result. `results_to_log` should be a `List[Dict]`. Final results should look something like:
[code]
Note that this follows:
- 1 `List` per call to `train.report()`
- 1 `Dict` per worker

[code]

[2022-01-12 04:29] #18223 closed

[2022-01-12 06:27] jovany-wang opened #21547 "[RFC] Move multi-actors-per-process feature to a separate util lib"
For the purposes of:
- Improving some API's semantics which based on one actor per process, such as kill(actor)..
- Clearing the gap and redundant codepath of PG and actors scheduling between Python and Java.
- Addressing other potential risks since the feature flag is off in opensource codebase currently.
- Speeding up the process to opensource gcs scheduling.
- Improving actor isolation.

We'd l

[2022-01-12 07:15] wilsonwang371 opened #21549 "[Bug] Manually started gcs crashed. Might be related to gcs client/server version mismatch."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When I tried to manually execute gcs and start a head node to connect to it, I found gcs crashed with the following error. I used lldb to print more information.

This was not happening before

[2022-01-12 07:41] czgdp1807 commented on #20376
Note that `test_basic_2_client_mode` times out in [buildkite CI](https://buildkite.com/ray-project/ray-builders-branch/builds/5426#044a26a9-6bb7-4e60-babe-26ff63af0d71) because it takes more than 300s. Now, we might need to take a similar approach as in https://buildkite.com/ray-project/ray-builders-branch/builds/5426#044a26a9-6bb7-4e60-babe-26ff63af0d71 i.e., split the test into smaller chunks so

[2022-01-12 08:50] czgdp1807 commented on #20376
I reproduced the failure and found that `test_basic_2_client_mode` times out at different points. Like in one run `test_actor_recursive` didn't complete and in the second run it timed out at some other test. So, I'd say the problem is that there are too many tests to be executed in `test_basic_2` and sometimes all the tests don't complete within 300s. We can follow the same approach as in https://

[2022-01-12 09:55] sven1977 opened #21552 "[Bug] [RLlib] `unsquash_action(s)` and `clip_action(s)` not handled correctly (when their value is None) in `Trainer.compute_single_actions`."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

https://discuss.ray.io/t/inference-multi-agent-not-working/4578

### Versions / Dependencies

Ray: 2.0.0-dev
Py: Any
OS: Any

### Reproduction script

https://discuss.ray.io/t/inference-multi-agen

[2022-01-12 11:47] vakker opened #21554 "[Bug] Config mismatch for num_sgd_iter in train_one_step"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Just noticed this [here](https://github.com/ray-project/ray/blob/master/rllib/execution/train_ops.py#L37):
[code]

This was introduces in #20984, @sven1977, is that correct? The config is 'num_sgd

[2022-01-12 13:47] #18163 closed

[2022-01-12 15:36] vicyap opened #21557 "[Feature] Support Nvidia A100 accelerator_type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I could not find Nvidia's A100 as an accelerator type in https://github.com/ray-project/ray/blob/master/python/ray/util/accelerators/accelerators.py. I'm curious if this is simply missing or if there's a reason it's not included.

###

[2022-01-12 15:40] Pierrick-Pochelu opened #21559 "[Feature] Any plan to support large discrete action space RL ?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Wolpertinger architecture is similar to DDPG but it manages large discrete action space by approximating action space between actor and the critic with a K-NN. K is a setting to input.
https://arxiv.org/pdf/1512.07679.pdf

### Use cas

[2022-01-12 16:24] sven1977 commented on #21417
I think this is solved by this PR here:
https://github.com/ray-project/ray/pull/21553

Similar issue:
https://github.com/ray-project/ray/issues/21552

[2022-01-12 17:18] mwtian commented on #20376
This issue is not Windows specific. It could be a deadlock during shutdown. But if it is reproducible on Windows, feel free to post the stack trace of deadlock here. If splitting helps, that's great. If not, I will revisit this later.

[2022-01-12 17:56] #21417 closed

[2022-01-12 17:56] #21552 closed

[2022-01-12 18:24] bkpcoding commented on #21416
Hey @matthewdeng
Currently, the ray train doesn't add the "worker : 0" key-value pair, do you want me to add that key-value pair in the dictionary?
It's basically like this,
[code]
I think adding worker index to the dictionary would be great, so it basically becomes,
[code]
Let me know what you think.

[2022-01-12 19:33] jwyyy commented on #19868
Hi @simon-mo @jiaodong, I made an initial commit to address this issue based on our discussion above. The current implementation aims for a short-term solution and only reports a warning.

Regarding the update approach, here are some thoughts:
1. The warning can still be kept in the update solution.
2. Can we add an option in `serve.start(_update_config = False)` to allow users to choose if they w

[2022-01-12 19:34] lihost commented on #21353
Thanks @DmitriGekhtman. Downgraded to 4.2.0 and it worked.

[2022-01-12 19:45] richardliaw commented on #18378
@ICESDHR can you help clarify, where are you running the Tune code? is it in a separate Kubernetes pod on the same cluster? or is it from your laptop?

[2022-01-12 22:28] edoakes commented on #21495
@raulchen @architkulkarni to be clear, this means we don't alter the existing HTTP API and have a strongly typed object that we cast it to in Python? That sounds fine, but we should continue to support an untyped dictionary in the Python APIs as well (it's often more convenient to pass around, write to/read from a file, etc.). This can simply take in a dictionary and cast it to the typed object (a

[2022-01-12 22:28] edoakes commented on #21495
I really don't see the need for a builder API here though, this seems like unnecessary complexity. I think we can keep this very simple.

[2022-01-12 22:55] DmitriGekhtman commented on #17322
It seems possible permissions for the default autoscaler role are not correctly configured. Reopening this to remind us to look into this.

[2022-01-12 23:34] PNaughton commented on #21041
@duburcqa are you sure that your environment finishes in this example? I could be wrong, but it is not obvious to me that it would.

[2022-01-13 01:07] simon-mo commented on #21103
still happens on 54dd2d06443d1d236eacadaf7fcacfeb1882fd7d

[2022-01-13 02:04] jyp0802 commented on #12681
This is already closed but just leaving a note for people who might come across this same problem.
@sven1977 's solution fixed my problem. My Box was np.float64 but my observations were set to np.float32.

So changing the code like this solved it.
from: ```gym.spaces.Box(np.float32(low), np.float32(high), dtype=np.float32)```
to: ``` gym.spaces.Box(np.float64(low), np.float64(high), dtype=np.float

[2022-01-13 05:46] iycheng commented on #21432
Segmentation fault which is not related to this issue but happened when I'm testing the fix

[code]

[2022-01-13 06:13] rkooo567 commented on #21432
@iycheng this must be related to the recent event stats.

I have a speculative fix PR. How commonly this happens? Maybe this is a good script to test if things are fixed by this PR

[2022-01-13 06:15] rkooo567 commented on #21432
Also you can use this tool to actually see the trend of memory usage growth per process;

https://github.com/ray-project/ray/blob/619478331240612f408a90a445bb3dea56d13696/release/nightly_tests/dask_on_ray/large_scale_test.py#L446

[2022-01-13 06:55] iycheng commented on #21432
@rkooo567  not very frequently. I only encounter it once.

[2022-01-13 07:02] duburcqa commented on #21041
What do you mean ? Anyway I don't understand why anything like this could legitimate a memory leak.

[2022-01-13 07:14] rkooo567 commented on #21226
Btw the default timeout is 30, so you should experiment with values like 60.

@iycheng maybe you can take a look at this? I think it could be related to our recent gcs changes, or there’s a failure from worker initialization (which could also be related to recent changes)

[2022-01-13 07:15] rkooo567 commented on #21432
I see. I think the java build is kind of flaky by the same segfault, so I will run it 10 times in a row to see if this fixes the issue

[2022-01-13 07:41] #18197 closed

[2022-01-13 07:54] JanJF opened #21573 "Put failed error occurred when shutdown and init again at client mode"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I'm using a client mode to connect to my cluster. After shutdown the connection, I reconnected to cluster and use ray.data to read dataset. It raised an Put failed error
Is this a normal behavi

[2022-01-13 09:46] DeepWolf90 opened #21576 "SIGBUS error appeared after out of memory error"
I run an RL experiment on a server. I use a simulator called CoppeliaSim to create my env.

At first time, it ran perfectly without any problem, until I got out of memory error. Then, when I tried to run again, it gave a SIGBUS error

[code]
However, if I use a simple gym env. instead of my CoppeliaSim env., it runs perfectly without SIGBUS error.

Important Note: I restarted the server and sudden

[2022-01-13 10:42] raulchen commented on #21495
Sounds good.

[2022-01-13 10:49] mickelliu commented on #20827
Hi @stefanbschneider, any update on this? Thanks.

[2022-01-13 11:12] stefanbschneider commented on #20827
@mickelliu Unfortunately no. I have not heard back from anyone and haven't had time to look into this myself again. I hope to find some time and work on this again soon though.

I'll let you know when if have any updates.

[2022-01-13 13:26] SongGuyang commented on #21495
What kind of API do you prefer? Let's discuss the API in the offline meeting.

[2022-01-13 14:32] jon-chuang commented on #21474
I feel that this should be opt-in. So
[code]

[2022-01-13 15:22] spolcyn opened #21578 "[Feature] [Serve] Request Redistribution Among Replicas"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

For Ray Serve, a helpful feature would be redistributing requests that have been sent to replicas as more replicas come up.

### Use case

Use cases:

1. One replica is running slow due to resources (other jobs on node are maxing out

[2022-01-13 16:52] MiksVasiljevs commented on #19938
Upgrading from 3.7.0 to 3.7.10 resolved this for me. Thanks!

[2022-01-13 17:02] jiaodong commented on #21103
@simon-mo if you don't have time to get to it this week feel free to re-assign to me for my oncall week. Design phase looking good to be wrapped up soon ;)

[2022-01-13 21:21] CopyOfA opened #21586 "Python - ConnectionResetError after ray.init(); ray.shutdown(); ray.init()"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I have a script that calls ray a couple of times for different tasks. When ray is first initialized and used, everything runs fine, but when I try to initialize a second time, I get an error: `

[2022-01-14 02:06] #8822 closed

[2022-01-14 02:07] siekmanj opened #21591 "[Bug] Crash and stacktrace when attempting to use ray.init to connect over network"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When attempting to connect to a ray cluster using `ray.init(address="ip-here:redis-port-here")`, I am greeted with the following error:
[code]

### Versions / Dependencies

I tried and was able

[2022-01-14 02:18] #20713 closed

[2022-01-14 02:41] architkulkarni opened #21592 "[Bug] Jobs CLI with `ray.init()` fails on master with `AssertionError: Module: http does not have ClientBuilder.`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard, Others

### What happened + What you expected to happen

[code]

[code]

Then run
[code]
as in the docs.

We get the following output:

[code]

### Versions / Dependencies

Ray master branch, macOS (non-M1), Python 3.8

### Reproduction scri

[2022-01-14 02:43] architkulkarni commented on #21592
Possibly related to https://github.com/ray-project/ray/issues/20684

[2022-01-14 03:50] jovany-wang commented on #10978
We'd removed put_small_object_in_memory_store flag. I belive this issue is out of date.

[2022-01-14 04:51] richardliaw opened #21594 "[workflows] "Caught schedule exception" with Ray Client"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

I expected there to be no output (or minimal output).

[code]

A lot of exceptions here^

### Versions / Dependencies

 rayproject/ray:1df67e-py36-cpu

### Reproduction script

See above

### Any

[2022-01-14 04:58] richardliaw opened #21595 "[workflows/client] Cannot get Workflows / Client to work!"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

I started two containers with rayproject/ray:1df67e-py36-cpu.

[code]

In the second container, I ran:

[code]

 And I get an exception:

[code]

### Versions / Dependencies

rayproject/ray:1df67

[2022-01-14 07:53] #21310 closed

[2022-01-14 08:11] iycheng commented on #21594
Close this one since we have https://github.com/ray-project/ray/issues/21595 ticket

[2022-01-14 08:11] #21594 closed

[2022-01-14 08:12] iycheng commented on #21595
https://github.com/ray-project/ray/issues/19397

[2022-01-14 08:13] iycheng commented on #21595
The root cause is that workflow context is not working with ray client.

To serialize a Workflow object, the serializer/deserializer needs to be set and context is also necessary.

[2022-01-14 08:19] siekmanj commented on #21591
Ok, I've dug into the documentation some more and I am a little confused about the philosophy of `ray.init()` being used inside python to connect to an existing cluster, but have come up with a workaround to the above issue:

When connecting to an existing ray cluster from another machine on the network, it is necessary to use the [Ray client](https://docs.ray.io/en/latest/cluster/ray-client.html?

[2022-01-14 08:30] raulchen commented on #21239
Right, Conda can solve this issue as well. But I'm not sure if Conda is too heavy-weighted for some users. Anyway, we can support Conda first, and see if there will be requirements for using different Python interpretors without Conda.

[2022-01-14 08:32] richardliaw commented on #21595
Workaround:

[code]

[2022-01-14 09:21] SongGuyang opened #21597 "[Feature] [runtime env] support using different python versions in Ray cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

There are some user cases which depend on different python versions, but share the Ray cluster.

### Use case
- Option 1: Support setting `py_version`, e.g.
[code]

If we want to support this, we should deploy different built-in pytho

[2022-01-14 10:21] czgdp1807 opened #21599 "[Potential Bug] Unable to pass file to class constructor via `.remote`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I am trying to pass a `file` (or more specifically a `file`-like object on Windows) to a python class constructor via call to remote. I get a `KeyError: file` while doing so.

As a user I would

[2022-01-14 11:42] #10978 closed

[2022-01-14 11:59] dirkweissenborn commented on #20968
+1 to this. I am seeing something similar. In particular we are starting 64 runs in a single sweep with the following.

`tune.run(..., resources_per_trial={"cpu": 4, "custom_resources": {"CPU_ONLY": 4}})`

The clusters scales up to 64 nodes as can be seen but (some) jobs are not placed. Most curiously, some jobs are starting, in the below case 2, while all others are not.

[code]

[2022-01-14 12:21] jon-chuang commented on #21161
Another use case for priority scheduling: prioritizing bottlenecked tasks: https://github.com/apache/arrow-datafusion/issues/1221#issuecomment-1013068782

[2022-01-14 14:34] hahdawg opened #21601 "[Bug] "Sent message larger than max" error with dask"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I am using ray and dask to read a parquet file from gs, repartition it with dask, and save it as a new parquet file in gs, and I consistently get the following error when I attempt to set the o

[2022-01-14 14:54] jovany-wang opened #21602 "[streaming] Track items on moving streaming to another repo."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

- [x] Move main source code. @ashione #21770
- [x] Remove streaming deploying processing. #21603 @jovany-wang
- [x] Remove CI from this repo. @ashione #21770
- [x] Remove streaming stuff from raydist.jar

Anything else?

### Use case

[2022-01-14 14:57] jovany-wang commented on #18199
This issue could get closed once we finish #21602

[2022-01-14 16:05] #18299 closed

[2022-01-14 17:35] architkulkarni commented on #18199
Thanks @jovany-wang!

[2022-01-14 19:03] scv119 commented on #21269
merge the issue to #21445

[2022-01-14 19:03] #21269 closed

[2022-01-14 19:18] valiantljk opened #21604 "[Bug] Only CONFIG GET is allowed during loading"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I tried to start Ray on my mac, but occasionally,  I got an error related to redis. I tried to clean everything, e.g., shutting down ray and kill idle redis process. But still not able to start

[2022-01-14 20:19] #11620 closed

[2022-01-14 22:12] iycheng commented on #21432
When I'm trying to fix the issue, I also did bisect. Things are pretty interesting since this PR caused the leak
https://github.com/ray-project/ray/pull/20882
it's touches nothing for dashboard.

I'm testing master now to see whether function table clean up is helpful here.

[2022-01-14 23:21] iycheng commented on #21432
Running with the master for one hour and it seems really good. I'll lower the priority to P1 for now.

![image](https://user-images.githubusercontent.com/74173148/149597518-ee669dd9-7441-495c-ac7f-0b434aba2362.png)

[2022-01-14 23:25] ericl opened #21609 "[data] Support ds.groupby().map_groups()"
Support an API that lets the user apply a function over all the values of a group (unaggregated). This can be implemented efficiently by using sort() under the hood.

[code]

cc @richardliaw @clarkzinzow

[2022-01-14 23:33] goodwanghan commented on #21609
This is great! +1

Also, I suggest you let users be explicit about the output schema (if schema is a concept of ray dataset), because schema inference can cause performance and correctness issues on a distributed system.

[2022-01-14 23:44] avnishn opened #21611 "[RLlib] Moving all Envs to have the c'tor signature"
@sven1977: Should we start making all our example envs' (MultiAgentEnv or others) with the c'tor signature?

e.g.

[code]

Envs defined like this can more easily be configured in a user's config:

[code]

[2022-01-14 23:59] architkulkarni commented on #7133
Runtime Environments should be the best-practice solution this issue--please let us know if there's any gap in the functionality! https://docs.ray.io/en/latest/handling-dependencies.html#runtime-environments. (See the `working_dir` and `py_modules` fields)

[2022-01-15 00:00] architkulkarni commented on #3116
The new Runtime Environments feature, which didn't exist at the time of this post, should help with this issue: https://docs.ray.io/en/latest/handling-dependencies.html#runtime-environments. (See the `working_dir` and `py_modules` entries.)

[2022-01-15 00:24] iycheng commented on #21432
Change to P0 again :(

It seems there is a bug there which leads function lost:

`2022-01-14 15:54:14,588 WARNING worker.py:1259 -- This worker was asked to execute a function that it does not have registered. You may have to restart Ray.`

[2022-01-15 00:44] architkulkarni commented on #21592
It looks like this can be fixed by opening a new terminal window, but once it fails, it fails every time in that terminal.  Still not sure what causes it to fail the first time

[2022-01-15 01:10] ericl commented on #21432
Hmm, is that a regression?

[2022-01-15 01:51] DmitriGekhtman opened #21615 "[Bug] [Kubernetes] Add kopf peering object permission to service accounts to operator service account."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Missing kopf.peerings permissions can cause operator startup failures.
Refer to https://ray-distributed.slack.com/archives/CN2RGCHRR/p1640023592056100
These permissions should be added to a

[2022-01-15 02:16] iycheng commented on #21432
The fix of function table here https://github.com/ray-project/ray/pull/21616

[2022-01-15 02:16] iycheng commented on #21432
definitely, it is.

[2022-01-15 03:19] efokschaner opened #21617 "[Bug] "(raylet) bash: line 0: exec: podman: not found" when using runtime_env container in cluster based on rayproject/ray image"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

When I `ray submit` a job with a runtime_env using  `rayproject/ray:1.9.2-py39-cpu` container to a cluster based on the `rayproject/ray:1.9.2-py39-cpu` container, I get stuck on an error `(

[2022-01-15 05:31] #18195 closed

[2022-01-15 05:35] efokschaner commented on #21617
With podman installed in the ray container, i'm now seeing a different error:
[code]

[2022-01-15 05:42] auderson opened #21618 "[Bug] dashboard is consuming huge amount of network data"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

I found dashboard is using too much of the network, at a speed of around 3MB/s:
![image](https://user-images.githubusercontent.com/48577571/149610417-f3618253-daa3-4b66-a149-641fea1dd5e5.png)

[2022-01-15 08:05] danielduckworth commented on #16961
I have the exact same problem and get the "cannot bind to path". I tried specifying the path to the ssh private key (.pem file) but I get the same error.

[2022-01-15 08:42] efokschaner commented on #21617
Based on https://www.redhat.com/sysadmin/podman-inside-container I tried adding the following `docker.run_options`:
[code]
I then run in to this error:
[code]

I'm going to try removing the `runtime_env` option and instead use that image as my `docker.image` for the cluster.

[2022-01-15 11:10] jmakov commented on #19636
Hi. This is still happening in the latest ray version. I'm curious what's the worth of the printed information (I sadly don't see any value in having multiple `Adding 1 nodes of type local.cluster.node` msgs) that someone left the default value to non "0". Perhaps it makes sense in non local cluster envs?

[2022-01-15 13:51] jmakov opened #21623 "[Bug] Random 'pid=None' console output"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

A script that connects to a local cluster randomly prints `(fun pid=None)` during computations. Sometime also `ip=some_ip` is attached. Can't find anything in the docs. Any hints what's goi

[2022-01-15 14:05] #15649 closed

[2022-01-15 14:05] #18323 closed

[2022-01-15 16:43] mattip commented on #21599
That seems like something is off with the serialization code: why is the tmpfile getting into the serialized data?

[2022-01-15 17:43] richardliaw commented on #21623
Do you ever reuse the ray cluster? and are you using Ray Client?

[2022-01-15 18:50] czgdp1807 commented on #21599
A use case I discovered while fixing https://github.com/ray-project/ray/pull/21484

If passing file-like or file objects is prohibited then we should capture it earlier and raise a `TypeError/ValueError` for easier understanding.

[2022-01-15 20:08] jmakov commented on #21623
I run `ray up cluster.yaml` and then use the cluster for different computations (multiple scripts, sometimes the cluster is up for a whole day idling). Not sure what you mean with ray client, I connect to the cluster with `ray.init(...)`.

[2022-01-15 22:12] jmakov commented on #20906
Would just point out that `RAY_DISABLE_MEMORY_MONITOR` env var is nowhere to be found in the docs.

[2022-01-15 23:08] AmeerHajAli opened #21625 "[Bug] client tests are very flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

tests are very flaky.

### Versions / Dependencies

.

### Reproduction script

.

### Anything else

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-01-15 23:11] AmeerHajAli commented on #21625
@ckw017 , looks like ray client tests are very flaky:
test_client 29%
test_basic_2_client_mode 9-11%
test_client_reconnected 7%
....
Can you please treat this as a hot interrupt? It is very important for developer productivity.

[2022-01-16 06:25] iycheng commented on #21432
Things are wired here. I'm writing down the following observations:

- With the fixing of function table, #21616 it's still not working. Basically OOM in the dashboard
- This #20882 makes the regression. Either commit before this PR or revert this PR on the master will fix the issue. But that PR doesn't touch the dashboard and that's the weirdest part.
- Stop recording actor info in the dashboard

[2022-01-16 10:43] simonsays1980 opened #21629 "Using the Monitor wrapper from gym leads to an exception in `poll()` [Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

# Bug
I used the `Simple_Q` agent on the `Breakout-v1` environment and used recording by setting

[code]
Using this setting ends in an exception coming from the `poll()` function of the `_MultiAge

[2022-01-16 11:33] tekumara opened #21631 "[Feature] better error message for "ERROR node.py:1286 -- ERROR as""
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Installed ray using the helm charts from [95d1476](https://github.com/ray-project/ray/tree/95d14764940b0cfd0857b95fc875486d951bcea8/deploy/charts/ray):
[code]

Open a shell on the head node and

[2022-01-16 13:00] jon-chuang opened #21632 "[Core] Ray Buffers should have const data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

There is no situation where Buffer needs to have non-const data. We should always restrict our types as much as possible. Hence, we should restrict Buffer to only have const data. (i.e. `data_` pointer is of type `const uint8_t *`)

A

[2022-01-16 13:35] simonsays1980 opened #21633 "[Feature] Simple replay for Simple Q algorithm"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I would like to disable prioritized replay for Simple Q algorithm, as the original DQN paper does not use prioritized replay and reproducing the paper with RLlib is at this point not possible (also to other facts I mentioned to @sven1

[2022-01-16 16:01] jon-chuang opened #21634 "[Feature] Update bazel http rules_proto_grpc to 4.0.0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

It's been a long time since this was updated.
There was some breakage for the Rust proto compile with old version due to version dependency mismatch

### Use case

Not breaking

### Related issues

_No response_

### Are you willing t

[2022-01-16 18:10] stefanbschneider commented on #19835
Same problem here with Ray 1.9.2, Windows, running inside a Jupyter notebook

[2022-01-16 18:11] stefanbschneider commented on #20827
Hm, wanted to test this with the latest Ray version, but now I can't even init Ray... https://github.com/ray-project/ray/issues/19835

[2022-01-17 02:52] WangTaoTheTonic opened #21638 "[Bug] [Core]Raylet may missed the report"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

1. launch 1 head node and 1 worker node
2. kill the pod where the head node is on
3. see the raylet log on the worker node, and the warning continues like forever

![image](https://user-images.

[2022-01-17 03:09] #18363 closed

[2022-01-17 04:34] iycheng commented on #21432
One thing might not be related to this one is that, it seems promtail in testing env is using a lot of memory.
[code]

[2022-01-17 06:12] rkooo567 commented on #21432
This is interesting. Any possibility the memory report was wrong or has a bug? Is it consistent when you check htop in the middle of the test run?

[2022-01-17 06:40] kfstorm commented on #21474
I think it won't be a problem if we let users specify the desired naming conversion explicitly, like what @jon-chuang recommended above.

[2022-01-17 07:00] verigle opened #21642 "[Feature] support to Chinese or support utf-8 for code for python api"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

def test():
    # 测试
    print("测试")

if add @ray.romote then will be error

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-01-17 07:49] jovany-wang commented on #21474
Yes. Proposal from @jon-chuang looks good.

[2022-01-17 08:06] JanJF commented on #21573
@richardliaw hi, can we take some time to confirm this issue.

[2022-01-17 08:13] jovany-wang opened #21644 "[ConcurrencyGroup] Better error message when a non-defined concurrency group is used."
Remaining item of #20373 #16047

Related discussion: https://github.com/ray-project/ray/pull/20373#discussion_r785666442

[2022-01-17 08:14] rkooo567 commented on #21537
Confirmed it just came up to the dashboard late. Closing it.

[2022-01-17 08:14] #21537 closed

[2022-01-17 08:15] rkooo567 commented on #21540
I am still seeing hanging from here. So it seems like it definitely got flakier.

[2022-01-17 08:16] rkooo567 commented on #21547
cc @scv119

Does this mean we won't have multiple core worker threads per process?

[2022-01-17 08:18] rkooo567 commented on #21549
While we recommend to follow the existing deployment pattern, I think this could be related to the recent change. @mwtian can you make sure if this is the unexpected bug or expected after new changes we've made recently?

[2022-01-17 08:25] rkooo567 commented on #21573
cc @ckw017 @wuisawesome

[2022-01-17 08:26] jovany-wang commented on #21547
Yes.

[2022-01-17 08:26] rkooo567 commented on #21576
@DeepWolf90 do you have a self-contained repro script we can try reproducing the issue? This is very interesting, but it is difficult to construct the theory with the given information.

Also, cc @ericl it seems like there are some edge cases SIGBUS still can be raised.

[2022-01-17 08:28] jovany-wang commented on #19793
Closing at #20373

[2022-01-17 08:28] #19793 closed

[2022-01-17 08:32] rkooo567 commented on #21623
This must be highly likely to be fixed in ray 1.10 by this PR. Can you check it out?

[2022-01-17 08:34] rkooo567 commented on #21638
cc @iycheng

[2022-01-17 08:35] ericl commented on #21576
+1 to making a repro (you should be able to do this by writing an env that returns fake obs data of the same shape as the real env).

That will let us know if it's Ray or Coppelia crashing.

[2022-01-17 08:37] rkooo567 commented on #21638
[code]
I think ` next_resource_seq_no_ = resource_usage_batch.seq_no() + 1;` should be updated before we do
[code]

[2022-01-17 08:42] rkooo567 commented on #21638
@WangTaoTheTonic can you provide the full log? I cannot see `Expected seq#: "
        << next_resource_seq_no_ ` from the log

[2022-01-17 08:46] rkooo567 commented on #21632
I think this is right. It seems dangerous we return non const pointer to the caller since ray objects are immutable anyway.

Why don't you try creating a PR and see if we can compile it?

[2022-01-17 08:48] rkooo567 commented on #21631
[code]

it is from here. cc @iycheng can you take a look?

Also, @tekumara can you find if gcs_server.out log is available from a head node? https://docs.ray.io/en/master/ray-logging.html

[2022-01-17 08:49] rkooo567 commented on #21618
Yeah I think it is currently very inefficient since it pulls the snapshot of the cluster every 1 second.

cc @edoakes do you guys still handle dashboard-related issue? I think we should optimize this

[2022-01-17 08:51] rkooo567 commented on #21617
cc @architkulkarni is it a known issue this doesn't work with podman?

[2022-01-17 08:51] rkooo567 commented on #21604
Is it working if you try ray stop --force and ray start again?

[2022-01-17 08:58] rkooo567 commented on #21547
This is a nice change! I am totally in favor of this

[2022-01-17 08:59] JoeriTheGreat opened #21645 "Float on top toggle is gone"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Ever since i updated the toggle to float my window on top is gone.
I can have that functionality back if i go to the menu -> window -> float on top.

Why is this toggle gone, is this on propose ?

I know you can press cmd + shift + L,

[2022-01-17 09:18] fanzhidongyzby opened #21646 "[Bug] JAXB module can't be well loaded in JDK11 environment"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

## Bug
Following exception will be thrown out in worker process when creating instance of class `javax.xml.bind.JAXBContext`.
[code]

## Inforamtion
As we known JAXB module was removed from JDK

[2022-01-17 09:59] jovany-wang opened #21647 "[Java] Change API `ActorLifetime.DEFAULT` to `ActorLifetime.NON_DETACHED`"
Currently, we use a `DEFAULT` as an enum item of ActorLifetime which aligns with Python, but we've discussed this API in the next coming PR https://github.com/ray-project/ray/pull/21283 , and we thought `NON_DETACHED` is more reasonable than `DEFAULT`.

Considering that we haven't released `ActorLifetime` APIs, and the next official releasing is 1.1.10, we should make the final APIs for 1.1.10.

[2022-01-17 10:10] jovany-wang commented on #21647
We finished the change in PR #21639 .
@ericl @architkulkarni Could you guys help to pick to 1.1.10?

[2022-01-17 11:29] jmakov commented on #21623
@rkooo567 not sure how I should check it out since that PR was merged in early Dec and I'm using ray 1.9.2  - about 5 days old (listed in dependencies above). Could you please elaborate - is there a special branch?

[2022-01-17 11:30] rkooo567 commented on #21623
Yes. 1.9 was cut around Nov, and 1.9.1 and 1.9.2 are patch releases that added some essential stability patches (for this time, it was log4j dep update).

This pr must be included in 1.10. I verified this.

[2022-01-17 11:32] tekumara commented on #21631
Here you go:
<details>
<summary> cat /tmp/ray/session_latest/logs/gcs_server.out </summary>

[code]
<details>

[2022-01-17 12:36] efokschaner commented on #20968
I believe I am also running in to this on 1.9.2, launching a 1 trial tune rllib run on an unscaled cluster, autoscaling occurs but tune never starts. Will post more diagnostics tomorrow.

[2022-01-17 12:38] rkooo567 commented on #20968
We haven’t handled the issue yet. Let me prioritize to fix it soon. Thanks for raising it guys!

[2022-01-17 12:48] n30111 opened #21648 "Custom action_sampler_fn is not working for PPO."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

PPO does not work while using `action_sampler_fn` and `make_model`.

[code]
### Versions / Dependencies

Python =3.8
ray==1.9.2

### Reproduction script

[code]
### Anything else

_No response_

#

[2022-01-17 14:17] jmakov commented on #21623
@rkooo567 could you recommend the best way to include this version (release/1.10.0) in a `yaml` file so I can test it on a cluster? I'm looking at https://docs.ray.io/en/latest/installation.html#installing-from-a-specific-commit but that's only for the master branch.

[2022-01-17 14:38] rkooo567 commented on #21623
Hmm I see. I didn’t notice 1.10 hasn’t been released yet. @architkulkarni can you advise him how to use the rc wheel & when’s the eta for 1.10 release ?

[2022-01-17 15:37] mariaboerner1987 opened #21651 "Adding new Framework to Ray library"
Hey Ray team,

I'm working on the open source project Flower that enables federated learning for different ML frameworks such as scikit, PyTorch (Lightning), and many more. In order to perform multi-machine simulations of Federated Learning, we have used Ray to spawn virtual clients and making different research settings in the field of federated learning possible.
Our open-source repository conta

[2022-01-17 18:27] richardliaw commented on #21651
Absolutely, this is awesome! Feel free to create a PR for the ecosystem page and perhaps add a page under "Other Libraries".

A blog would be awesome too, I'd be happy to help provide feedback at any stage.

[2022-01-17 18:32] richardliaw commented on #21623
You can install the prerelease by installing ray==1.10.rc0!

On Mon, Jan 17, 2022 at 6:38 AM SangBin Cho ***@***.***>
wrote:

[2022-01-17 19:03] jmakov commented on #21623
Still getting `:task_name:myfunname`.

[2022-01-17 20:18] efokschaner commented on #20968
I made a smaller repro and it's unclear if I'm having the same issue as others in here as my tune trial won't start even if i re-launch it after scaling.

Here's what my repro looks like:

I'm on ray version 1.9.2

- 4 CPU head node (2 CPU and 2 custom "HEAD_CPU" advertised as resources).
- 4 CPU worker node,

My rllib run set to one worker with 4 cpu per worker.

This results in the following out

[2022-01-17 21:06] efokschaner commented on #20968
I wonder if i'm running in to problems due to this logic:
Described here: https://github.com/ray-project/ray/blob/f5fdbeb5940e65bab80722786b03428cebe58d05/src/ray/gcs/gcs_server/gcs_placement_group_scheduler.cc#L104
Implemented here: https://github.com/ray-project/ray/blob/f5fdbeb5940e65bab80722786b03428cebe58d05/src/ray/gcs/gcs_server/gcs_resource_scheduler.cc#L246

If, in my case, the 1 CPU bund