[2022-06-28 11:02] ArturNiederfahrenhorst opened #26150 "[RLlib] MARWIL does not learn in release tests"
### What happened + What you expected to happen

marwil-halfcheetahbulletenv-v0 does not learn.

### Versions / Dependencies

3af3269

### Reproduction script

release/rllib/learning_tests/run.py --yaml-dir=f-z

### Issue Severity

_No response_

[2022-06-28 11:05] ArturNiederfahrenhorst opened #26151 "[RLlib] Ape-X DQN release tests learning too slow"
### What happened + What you expected to happen

apex-breakoutnoframeskip-v4 learns too slow.

### Versions / Dependencies

3af3269

### Reproduction script

release/rllib/learning_tests/run.py --yaml-dir=a-e

### Issue Severity

_No response_

[2022-06-28 11:07] ArturNiederfahrenhorst opened #26152 "[RLlib] A2C release test not learning"
### What happened + What you expected to happen

a2c-breakoutnoframeskip-v4 does not learn.

### Versions / Dependencies

3af3269

### Reproduction script

release/rllib/learning_tests/run.py --yaml-dir=a-e

### Issue Severity

_No response_

[2022-06-28 11:08] ArturNiederfahrenhorst opened #26153 "[RLlib] A3C release test not learning"
### What happened + What you expected to happen

a3c-pongdeterministic-v4 does not learn.

### Versions / Dependencies

3af3269

### Reproduction script

release/rllib/learning_tests/run.py --yaml-dir=a-e

### Issue Severity

_No response_

[2022-06-28 13:48] jjyyxx commented on #23515
@gjoliver I guess (I met this "bug" several months ago) he means `--save-info --out info.pkl` does not actually save anything meaningful when the so-called `Normal case` https://github.com/ray-project/ray/blob/f421730b4796ad3871961b573c0cba106f8a21ee/rllib/evaluate.py#L405 is taken. The saver just calls `saver.begin_rollout()` then `saver.end_rollout()`, but not calling `saver.append_step(obs, act

[2022-06-28 15:23] rkooo567 commented on #25984
Hey @waleedkadous is it possible to share the cluster config? I'd like to verify if the tagged PR will fix the issue.

[2022-06-28 15:45] AI-Ahmed opened #26157 "ray.util.iter.from_iterator Support working on GPUs"
### Description

Hello guys,
    First of all, I liked your framework and how powerful it is. I have a generator that generates a torch.Tensor on GPU. If you can provide us with a feature that helps us to iterate over GPU generator that contains dict[Text, torch.Tensor] that generated from a class cannot access or modify.

This generator is taking extensive time to finish the iteration. Therefore,

[2022-06-28 15:57] crptcusco commented on #22585
I think you are using or calling two times te the ray.init(). Im using a jupyter notebook, y restart the jupyter and all its rigth

[2022-06-28 16:00] rkooo567 commented on #26136
@matthewdeng can you also help us what the error message means here?

[2022-06-28 16:12] Ariyaman commented on #9548
Hi @richardliaw can i work on this issue?

[2022-06-28 16:13] richardliaw commented on #9548
is it still an issue? could be stale

[2022-06-28 16:15] Ariyaman commented on #9548
Oh okay...thanks!

[2022-06-28 16:15] ArturNiederfahrenhorst commented on #26084
Thanks for raising the issue. Can you please be more specific?
What do you mean by "This loss function acatually did not work"?
And why would it not override the one in base?
Can you explain how I can make the issue here more visible, so that I can work on it, please?

[2022-06-28 16:18] ArturNiederfahrenhorst commented on #25917
See https://github.com/ray-project/ray/issues/25917

[2022-06-28 16:18] #25917 closed

[2022-06-28 17:07] mwtian commented on #24234
I'm hopeful that #26112 can mitigate the issue i.e. making the test pass consistently. Downgrading to P1 for now, to decide if we want to find the root cause.

[2022-06-28 17:49] jjyao commented on #20837
@DmitriGekhtman @wuisawesome it's time to remove those fields :) Could someone do it?

[2022-06-28 18:21] #25261 closed

[2022-06-28 18:30] iycheng commented on #26138
This test is flakey recently, I think it should be a release blocker cc @scv119
<img width="1143" alt="image" src="https://user-images.githubusercontent.com/74173148/176256136-3c093291-265b-4f84-97ca-f338388f2b32.png">

[2022-06-28 18:32] tianbin-jiang opened #26167 "[k8s] ConnectionError when using NGINX and Ray on k8s"
### What happened + What you expected to happen

I have created a ray cluster 1.12.1 using helm chart, everything works good. However, I would like to use NGINX for reverse proxy. The ingress rule for this cluster port 10001 is configured as following:

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-api
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ing

[2022-06-28 18:34] tianbin-jiang commented on #26167
It seem the issue is due to 10001 port is using gRPC which is http2.0.

See NGINX log when trying to connect with ray client 10001

grpc.reflection.v1alpha.ServerReflection/ServerReflectionInfo HTTP/2.0" 200 0 "-" "grpcurl/1.8.6 grpc-go/1.44.1-dev" 123 0.007 [default-ray-ray-head-10001] [] 172.17.0.9:10001 13 0.007 200 b87a1266c72fca494bba4b483fe2acef
127.0.0.1 - - [27/Jun/2022:05:04:21 +0000] "PO

[2022-06-28 18:48] volks73 commented on #26039
@edoakes Thanks for the update. Just to clarify, the `serve start` in the entrypoint script is a bash script. Do you mean using `serve.start` from our deploy/driver Python script?

[2022-06-28 19:05] zhe-thoughts commented on #26138
OK marking as `release-blocker` for precaution. We can remove once verified not a blocker

[2022-06-28 19:23] spacegoing opened #26172 "Need documentation for running RLlib with Ray Cluster [<Ray component: RLlib>]"
### Description

A quick question. Am I understanding it correctly that in order to run `RLlib` examples in a `Ray Cluster`,  we simply need to run:

`ray exec ray-ml.yaml "rllib -f example.py"`

and the cluster will auto-scale rllib applications? Or will it just run on the `head` without `workers` spinning up?

Is there any example about submitting RLLib jobs to Ray Clusters?

----

I'm following

[2022-06-28 19:39] mwtian commented on #25163
As mentioned in the sync up today, last 3 failures seem unrelated to Ray core stability / scalability:
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_T7NKdee42gmw2EmjhZ4KZFVa?command-history-section=command_history
https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_BaQvEcFkrTvpmey8eNBJ8LRn?command-his

[2022-06-28 19:49] spacegoing opened #26173 "[clusters][docker] Docker `ports` configuration in ray cluster configuration file."
### Description

In configuration documentation https://docs.ray.io/en/latest/cluster/config.html#docker
 there seems to be no `port` type.

I would love to know how to connect to ray dashboard for ray clusters running in docker. Many thanks!

### Use case

_No response_

[2022-06-28 20:23] architkulkarni commented on #26068
Looks like it's still flaky.
<img width="1234" alt="Screen Shot 2022-06-28 at 1 22 22 PM" src="https://user-images.githubusercontent.com/5459654/176277776-bd1cd2c9-18af-48b6-925e-bccd95a922ad.png">

[2022-06-28 21:11] waleedkadous commented on #25984
It was the Anyscale standard cluster config (1 head node, 0 min nodes with
autoscaling up to 10 worker nodes).

On Tue, Jun 28, 2022 at 8:23 AM SangBin Cho ***@***.***>
wrote:

[2022-06-28 21:21] gjoliver commented on #26097
sorry, missed the ping. but the fix is in.

[2022-06-28 21:21] #26097 closed

[2022-06-28 23:06] jiaodong commented on #26167
cc: @DmitriGekhtman

[2022-06-28 23:12] matthewdeng commented on #25802
Thanks @VeronikaPolakova for the feedback, I've merged a [PR](https://github.com/ray-project/ray/pull/26166) to move it!

[2022-06-28 23:46] iycheng commented on #26138
The hanging happens because of raylet is dead and there is no resources for the cluster to start new actors. Still investigation why the raylet is dead.

[2022-06-28 23:52] iycheng commented on #26138
Also, once the worker is back the resource seems be wrong:
[code]

[2022-06-29 00:00] DmitriGekhtman commented on #26167
So, do you think it would help to use a different port?
I think we have some docs on setting up an ingress for Ray client...let me try to dig it up.

@ckw017 might have some input here from his experience working on Ray client on Kubernetes-based Ray clusters.

[2022-06-29 00:05] DmitriGekhtman commented on #23423
We should try to figure out a minimal reproduction.

[2022-06-29 00:07] iycheng commented on #26138
We actually only have 224 workers (4 cpu) + 1 head (64cpu) alive and started 4800 actors.

It's supposed to start 250 workers.

ray status shows 250 healthy, but dashboard shows 224 healthy and 50 failure.

It seems like autoscaler is not working properly.

[2022-06-29 00:22] Joshuaalbert commented on #26067
Hi @xiurobert I'm use python 3.9.

[2022-06-29 00:29] edoakes commented on #26039
@volks73 that's correct

[2022-06-29 01:34] rkooo567 commented on #25984
Will close it after confirmation

[2022-06-29 01:51] lynnmatrix opened #26179 "[Workflows] Add api to add dependency between steps"
### Description

If step B depends on step A, but B doesn't use the output of A, now(3.0.0), B should be defined with dependency as function argument. We need a more general way to define the dependency between A and B.

I suggest some kind of api design options.
Option A:
[code]
Option B:
[code]
### Use case

Workflow needs a general way to add dependency between steps.

[2022-06-29 02:48] mvccn commented on #22266
meanwhile, as we wait for 2.0, what should we do now? should pass the previous observations to compute_single_action? a code example for this would be very helpful.

[2022-06-29 04:24] P90-RushB commented on #23863
Hope rllib can support the training of Isaac gym

[2022-06-29 05:58] rkooo567 commented on #25984
Verified it truncates data properly. We will shortly work on improving experience at such scenarios (that could be better than truncation)

[2022-06-29 05:58] #25984 closed

[2022-06-29 07:38] junwucs opened #26181 "[rllib] slateq model does not work on Mac M1 since the dependent simulator recsim"
### What happened + What you expected to happen

pip install recsim==0.2.4
Collecting recsim==0.2.4
  Using cached recsim-0.2.4.tar.gz (65 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: absl-py in /Users/xxx/miniforge3/envs/yyy/lib/python3.9/site-packages (from recsim==0.2.4) (1.1.0)
Collecting dopamine-rl>=2.0.5
  Using cached dopamine_rl-4.0.5-py3-none-any.whl (174 k

[2022-06-29 09:39] WangTaoTheTonic opened #26183 "[core][C++ worker]Support specifying namespace when creating actors."
### Description

namespace implementation([doc](https://docs.ray.io/en/latest/ray-core/namespaces.html)) has been implemented in Java/Python, but still not in C++ worker.
Now user can't specify namespace when creating c++ actors, but the actors are all assigned a default empty namespace(like [here](https://github.com/ray-project/ray/blob/master/cpp/src/ray/runtime/task/native_task_submitter.cc#L11

[2022-06-29 09:51] Harris-Xie opened #26184 "[tune/core] Question about GPU allocation in Tune"
### Description

If I have 4 nvidia GPUs and there are 30 trials, I set {resources_per_trial={"cpu“：0，”gpu“:0.1}, it means  one gpu can run 10 trials. However, when I start my tune, the trials preferentially run on cuda:0( the first gpu) until there are 10 trials on cuda:0. and then run on the second gpu ,then the third.... the load of the 4 GPUs is evidently unbalanced.
So, is there a implementat

[2022-06-29 09:56] jovany-wang commented on #26183
Thanks a lot.
FYI, the code path in Java is https://github.com/ray-project/ray/blob/master/java/runtime/src/main/java/io/ray/runtime/config/RayConfig.java#L138-L139

[2022-06-29 15:23] #24868 closed

[2022-06-29 16:55] DmitriGekhtman commented on #26064
These changes should help: https://github.com/ray-project/ray/pull/26188

[2022-06-29 17:55] Rohan138 opened #26192 "[RLlib]: SimpleQ TF2 is broken"
### What happened + What you expected to happen

Something's broken with the SimpleQ TF2 action distribution, but I can't track down the bug. This doesn't happen with TF1/Torch.

### Versions / Dependencies

ray 3.0.0dev0 (master)
Ubuntu 20.04
tensorflow 2.7.0 (pypi)

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-06-29 18:11] stephanie-wang opened #26193 "[Core][tests] Latency reported by non_streaming_shuffle_100gb is not accurate"
### What happened + What you expected to happen

Recently the latency metric reported by this test was 103s, but the actual shuffle time reported by the script was:
[code]

Looks like this is because the reported metric includes the startup time for the test script in a subprocess, although I'm not sure why it took a full minute to do this.

### Versions / Dependencies

3.0dev

### Reproduction sc

[2022-06-29 18:15] simon-mo opened #26194 "[CI] `bk://:mac: :apple: Wheels and Jars` is failing/flaky on master."
- a09bf61cea52d994ada31cdec1acd4cda1e7068e FAILED [:mac: :apple: Wheels and Jars](https://buildkite.com/ray-project/ray-builders-branch/builds/8401#0181afea-8989-4b40-a115-1c02f5fb1fd1)
- 11a549d4bd1bc688bcc7264427110a815f2800ba FAILED [:mac: :apple: Wheels and Jars](https://buildkite.com/ray-project/ray-builders-branch/builds/8400#0181af5c-724a-44d3-becd-5f7b9fb02195)
- de0ccc1dfc11095a48701136b2

[2022-06-29 18:16] simon-mo commented on #26194
to figure out the offending commit

[2022-06-29 18:19] stephanie-wang opened #26195 "[Core] Microbenchmark performance regressions in multi_client_put_calls_Plasma_Store and client__tasks_and_put_batch"
### What happened + What you expected to happen

There is a ~40% throughput drop between 6/9 and 6/10, commits 6f3de2af863cff95ff55a587003faf2b776fec65 and d0f975e00f32c5f632a39fbe8efb6df678f8b0a0. These are probably related.

### Versions / Dependencies

3.0dev

### Reproduction script

`ray microbenchmark`

### Issue Severity

_No response_

[2022-06-29 18:24] simon-mo commented on #26194
You are right!

[2022-06-29 18:37] stephanie-wang commented on #26172
Yes, you should be able to run the same script on your cluster and it should work. As long as you configured your cluster to include worker nodes, your script will scale out to use multiple workers.

[2022-06-29 18:41] shrekris-anyscale opened #26198 "[Core] [Quality] Live handle raises unnecessary exception when script ends"
### What happened + What you expected to happen

If a Ray actor handle is still alive when a script ends, an unclear error message is logged:

[code]

I would expect nothing to be logged since nothing went wrong.

### Versions / Dependencies

Ray on the latest master, Python 3.8, MacOS 11.4 (M1)

### Reproduction script

Repro script:

[code]

Error message:

[code]

### Issue Severity

Low: It an

[2022-06-29 18:45] stephanie-wang commented on #26157
Currently Ray only supports CPU memory, so unfortunately I'm not sure if it can provide much support here.

To use 2 GPUs, you can specify the resources for a task or actor by specifying it in the ray.remote decorator: `@ray.remote(num_gpus=2)`.

Also as a friendly FYI, you may get a deeper discussion on discuss.ray.io. Happy to continue the conversation there as you develop your application furth

[2022-06-29 19:00] glyfnet opened #26199 "Unmaintained anyscale and ray sub-projects need to be marked as deprecated or archived"
### What happened + What you expected to happen

The ray-project and anyscale organisation have unmaintained, non-functioning code repos that need to be moved to an archive section, or at the very least marked as DEPRECATED in the README.  Example: airflow-provider-ray. The public facing repo has many project forks,  side projects and meetup demo repos, so it may make sense to have a seperate proj

[2022-06-29 19:20] scv119 commented on #26195
(ray) chenshen@Chens-MacBook-Pro-16-inch-2019:~/Documents/source/ray(fix-cython-doc)$ git rev-list  6f3de2a..d0f975e --oneline
d0f975e00f [RLlib] Fix broken link replay buffer docs. (#25666)
dcfed617e5 [Core] fix gRPC handlers' unlimited active calls configuration (#25626)
6b9b1f135b [Deployment Graph] Move files out of `pipeline` folder (#25630)
2546fbf99d [Serve] Autoscaling for deployment graph

[2022-06-29 19:56] matthewdeng commented on #26136
To be concrete:

1. This is not a regression in Train.
2. This seems to be due to flakiness.
3. This should not be a release blocker.
4. We should follow-up and fix Train to handle this type of failure.

[2022-06-29 21:01] franklsf95 opened #26203 "[Core] Locally Emulated Cluster Crashes on Shutdown"
### What happened + What you expected to happen

1. Run test.py
2. See this on program exit:

[code]

See the full Ray logs with backend logging level DEBUG:
[logs.zip](https://github.com/ray-project/ray/files/9014497/logs.zip)

I tried `_build_cluster(1)`, seems to exit normally; if I do `_build_cluster(10)`, then there are multiple "Raylet crashed" warnings.

### Versions / Dependencies

master

[2022-06-29 21:24] edoakes opened #26204 "[serve] Replica failing health check doesn't cause REST API to return unhealthy"
`tmp.py`:
[code]

`app.yaml`:
[code]

Status (despite controller logs saying it's being marked unhealthy):
[code]

[2022-06-29 21:29] edoakes opened #26205 "[serve] Bad runtime_env causes traceback instead of a status message"
Deployed a config with a bad runtime_env, e.g., `runtime_env: {"fake": "news"}`

[code]

[2022-06-29 21:32] edoakes opened #26206 "[serve] Bad error message for extraneous deployment in config"
I added a `DNE` deployment that doesn't actually exist in the code:
[code]

[code]

[2022-06-29 21:32] simon-mo opened #26207 "[serve] weird formatting of error message in `serve status`"
### What happened + What you expected to happen

app.yaml
[code]

app.py
[code]

[code]

[code]

[code]

The printed formatting is link broken at weird spaces.

### Versions / Dependencies

master

### Reproduction script

see above

### Issue Severity

_No response_

[2022-06-29 21:34] edoakes opened #26208 "[serve] Second deployment with route_prefix is silently ignored"
app.yaml:
[code]

Status:
[code]

[2022-06-29 21:34] sihanwang41 opened #26209 "[Serve] Unexpected trace back when deploying with wrong runtime env"
### What happened + What you expected to happen

(fresh_env1) sihanwang@Sihans-MacBook-Pro-16 bug_bash_cli % serve status
[code]

### Versions / Dependencies

latest master

### Reproduction script

config.yaml
[code]

serve deploy config.yaml

config1.yam;

[code]

serve deploy config1.yaml

serve status

### Issue Severity

High: It blocks me from completing my task.

[2022-06-29 21:39] edoakes opened #26210 "[serve] Weird quote escaping in "waiting to be placed" error in `serve status`"
[code]

[2022-06-29 21:56] simon-mo opened #26212 "[serve] `run_graph` task prints `asyncio.exceptions.TimeoutError: Polling request timed out.` in log"
### What happened + What you expected to happen

[code]

### Versions / Dependencies

master

### Reproduction script

see above

### Issue Severity

_No response_

[2022-06-29 22:04] architkulkarni opened #26213 "[Serve CLI] `serve status` output after `serve shutdown` shows weird default info, not clear if shutdown succeeded"
### What happened + What you expected to happen

Call `serve shutdown` after `serve deploy` any app (for example, the doc example https://docs.ray.io/en/master/serve/production.html)

You get
[code]

The natural question is, did the Serve application actually shut down?  To check it you'll call `serve status`.  You get the output

[code]

which is a little weird.  Even after a few minutes, this is

[2022-06-29 22:06] AI-Ahmed commented on #26157
First, I would like to thank you @stephanie-wang for how quickly you responded. Second, I would like to thank you for offering me to continue the discussion with you, it is meaning a lot to me.

If you have an email, I would appreciate sending you more details about what our startup is looking to achieve with Ray.

I have tested many other distribution systems such as numba, and accelerate, but I

[2022-06-29 22:16] suquark commented on #25217
If it is related to page fault and swap to disk, maybe this could be helpful? https://man7.org/linux/man-pages/man2/memfd_create.2.html There are not macOS correspondings though

[2022-06-29 22:40] wuisawesome commented on #26144
I see, would it be possible to connect to all the clusters from the same driver process (like in the [docs](https://docs.ray.io/en/latest/cluster/ray-client.html#connect-to-multiple-ray-clusters-experimental))?

[2022-06-29 22:57] wuisawesome commented on #26173
The docker config is hardcoded to share a network with the host.

To temporarily port-forward or expose to a single machine, you can use the `ray dashboard` command to forward the connection.

You'll need to expose your dashboard port/add port forwarding to expose it publicly (this is cloud-provider specific, but you need to allow inbound connections on port 8265 in your aws security group for exa

[2022-06-30 00:06] iycheng commented on #26138
More informations:
The GCS is returning the right info, for example, if the node is marked dead by GCS it won't show up in the resource (GetAllResourceUsage)

Autoscaler should be able to detect the node failure and either terminate it and bring a new one back or just recover the local one.

@wuisawesome  could you take a look at what's going wrong?

I have a cluster here for you

https://console.

[2022-06-30 00:11] kiralaz commented on #26144
Yes, that's our primary use case, but we assumed it was also possible to create ray client connections across clusters to better support some other functionalities we had in mind. Is that not how ray client is intended to be used? Are there known limitations?

[2022-06-30 01:16] #26057 closed

[2022-06-30 02:17] ericl opened #26221 "[data] Actor pool scales infinitely now if a max size is not specified"
### What happened + What you expected to happen

When using just `compute="actors"` in Datasets (or ActorPoolStrategy with no max), it seems we no longer have a cap on the number of actors launched. This is a regression. cc @clarkzinzow @matthewdeng

### Versions / Dependencies

master

### Reproduction script

[code]

[code]

(this is on my 8-core laptop, which should never reach this many actors

[2022-06-30 02:56] ericl commented on #26221
The reason seems to be that some changes in scheduling_strategy handling made the line setting num_cpus for the actor ineffective, and we didn't have a test for the max actor pool size. A patch fixing this:

[code]

[2022-06-30 03:31] #17669 closed

[2022-06-30 03:46] JiahaoYao commented on #25816
the PR is now merged.

[2022-06-30 03:46] #25816 closed

[2022-06-30 05:43] Harris-Xie commented on #26184
Really appreciate your attention and answer! CUDA_VISIBLE_DEVICES is env variable right? So I think once I set it , it can't be changed during tune is running, so I'm wondering  how can I allocate a new trial on a specific gpu to balance the load of 4 gpu?

[2022-06-30 08:37] alan-cooney opened #26222 "[RLlib] AlgorithmConfig classes should be TypedDict"
### Description

It seems like `AlgorithmConfig` & extended classes are all just used to add config variables as chained methods, and then converted into dictionaries.

Wouldn't it make more sense to create them as typed dictionaries directly?

This would also make it easier for users to share base config objects between different algorithm implementations etc, and create abstractions to do that.

[2022-06-30 10:14] 1214583505 opened #26223 "PPO-LSTM custom model cannot be tested after training"
```Ray==1.13.0, python==3.8, pytorch==1.7.0 ```
I'm using a custom environment, and it is able to train properly using PPO with TorchPolicy with LSTMs, but when testing it, the time I call agent.compute_single_action(obs), the following error occurs：

[code]
Who can help to solve this problem，below is my custom model code:
[code]

[2022-06-30 10:19] 1214583505 commented on #26223
`class TorchRNNModel(TorchRNN, nn.Module):
    def __init__(
        self,
        obs_space,
        action_space,
        num_outputs,
        model_config,
        name,
        fc_size=128,
        lstm_state_size=256,
    ):
        nn.Module.__init__(self)
        super().__init__(obs_space, action_space, num_outputs, model_config, name)

        # self.obs_size = get_preprocessor(obs_space)

[2022-06-30 11:25] #25696 closed

[2022-06-30 11:33] junwucs opened #26224 "[Core]When the nightly wheels of ray on Apple Silicon can be supported?"
### Description

Since I had met many problems in the stabilization version of Ray 1.13.0, I wonder when the nightly wheels of ray on Apple Silicon can be supported so that I can develop with the latest version?

### Use case

_No response_

[2022-06-30 14:15] thatcort opened #26225 "[data] from_arrow() results in AttributeError"
### What happened + What you expected to happen

Calling ray.data.from_arrow on an in memory arrow table results in the error:

`AttributeError: module 'pickle' has no attribute 'PickleBuffer'`

Here's my test case where I first try reading a parquet file directly, and then try using `from_arrow` after reading in the same parquet file using pyarrow.

[code]

Here is the full trace:
[code]

### Ver

[2022-06-30 14:56] troymyname commented on #21781
Was anyone able to confirm that the issue is related to anything lower than Ray v1.11.0? What is the root-cause of the issue?

[2022-06-30 16:15] ethanabrooks opened #26226 "How to color-code console output"
Hello. When I use `tune.run`, different processes are distinguished by the number corresponding to their pid:
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/10344742/176714779-ae44e55b-3ec1-4bc5-8f32-ddfe2521e589.png">

I would like to implement color output to distinguish between processes similar to docker-compose:
<img width="1792" alt="image" src="https://user-ima

[2022-06-30 16:58] wuisawesome commented on #26138
It's quite concerning that the resource and node counts are inconsistent. also, the fact that the `wait_cluster.py` finishes makes me concerned things may actually be crashing in the ray core?

[2022-06-30 17:07] stephanie-wang commented on #26138
@iycheng can you confirm that you think this is not a problem with OSS? If so, let's remove the release-blocker tag.

[2022-06-30 17:29] iycheng commented on #26138
@wuisawesome I don't think it's a problem of ray core. In the cluster we set 250 as min/max for workers. So autoscaler should just work. Even `wait_cluster.py` finished, worker might crash in the future. The issue here is that, the cluster is never scaling to 250 nodes if there is a node failure.  (Even if there is demands not fulfilled [link](https://github.com/ray-project/ray/issues/26138#issuec

[2022-06-30 17:47] jiaodong opened #26229 "[RFC][Ray Core] Support zero-copy Pytorch tensor in Ray"
### Description

Previous work by @suquark that is reverted: https://github.com/ray-project/ray/pull/12344

Currently Ray support zero-copy for numpy arrays, but not Pytorch Tensor. This seems to be a feature asked by multiple folks we interacted with from Pytorch team in TorchX and PyTorch Geometric, etc. Similarly we encounter needs within Ray libraries down the road such as AIR (training data i

[2022-06-30 17:59] iycheng commented on #26138
@wuisawesome  I think there is some bugs in wait_cluster

https://github.com/ray-project/ray/blob/master/release/ray_release/command_runner/_wait_cluster.py#L48

We didn't check Alive actually. cc @rkooo567

[2022-06-30 18:28] gjoliver commented on #23515
ah I see. we recently fixed an issue so you can save rollouts during training from distributed workers.
https://github.com/ray-project/ray/issues/25696
I have a feeling this should solve all the problem here. we can take the action item of creating an example script for this.

[2022-06-30 19:22] zhe-thoughts commented on #25641
Ping here

[2022-06-30 20:27] TingkaiLiu commented on #26087
Several questions arise when further writing the doc:
1. For external_ip() function, the K8s node provider just raise an error saying "Must use internal IPs with K8s". In what case can this be allowed? It would be better if we can document how internal IP and external IP are used.
2. In the function header of get_node_id(), it says "Assumes IP-address is unique per node." Is this necessary? It see

[2022-06-30 20:29] TingkaiLiu commented on #26087
Another point regarding this:

This may not me necessary true, though. For K8s cluster it relies on the K8s command runner to run setup commands. For the customize platform which I am implementing node_provider for, SSH is also not the way to run commands. (This even leads to another topic: the command runner may not be fully needed if all the setup commands are bound to node creation, at least on

[2022-06-30 20:37] ZhijieWang opened #26237 "[Core] Local Mode deprecated, so we should mark it."
### Description

Hi,

i am told by people "local mode" is deprecated. If so, we should remove it or mark it for deprecation.

### Link

https://docs.ray.io/en/latest/ray-core/starting-ray.html#local-mode

[2022-06-30 21:05] #24615 closed

[2022-06-30 21:09] yoavhacohen opened #26239 "[autoscaler][gcp] NodeProvider: Terminate nodes in parallel"
### Description

The current implementation of `terminate_nodes` terminates nodes one by one:
[code]

Hence, `ray down` takes a lot of time when there are many nodes.

Instead, the loop should be parallelized, so all nodes will be terminated together.

### Use case

When using many nodes it takes a lot of time to `ray down` to complete.

[2022-06-30 21:20] rkooo567 commented on #25641
@richardliaw do you know how easy it is to fix the issue? @zhe-thoughts when do we plan to do the next release?

[2022-06-30 21:42] stephanie-wang opened #26240 "[core] dataset_shuffle_sort_1tb nightly test timed out"
### What happened + What you expected to happen

Test times out after 2h, normally takes ~45min. Output looks normal for the beginning but just suddenly stops partway through the map stage
[command_scd_Nfibmr4fbYt4Am7Wbx9dr662(1).log](https://github.com/ray-project/ray/files/9023578/command_scd_Nfibmr4fbYt4Am7Wbx9dr662.1.log)
.

### Versions / Dependencies

3.0dev

### Reproduction script

dataset

[2022-06-30 21:43] stephanie-wang commented on #26138
What were the symptoms for this issue? I'm wondering if #26240 is related to this too?

[2022-06-30 22:00] pavelbatyr commented on #11879
I second this. Although the distribution is actually uniform, not gaussian, except for the lower and upper values. They're sampled only half the time, for some reason. Tested on Ray Tune 1.13.0
[code]
![quniform](https://user-images.githubusercontent.com/18597890/176785430-6798a967-60d2-464f-9b4f-12cb54218df4.png)

And the proposed solution works:
[code]
![uniform_really](https://user-images.githu

[2022-06-30 22:21] DmitriGekhtman commented on #26087
Yeah, the autoscaling config has to find some way to get onto the head node.

[2022-06-30 22:25] gjoliver opened #26241 "[RLlib] Eval episode runs forever if Env doesn't terminate properly"
### What happened + What you expected to happen

If user specify "episode" eval unit, which is the default, we would automatically select "complete_episodes" batch_mode for them.

https://github.com/ray-project/ray/blob/master/rllib/algorithms/algorithm.py#L469-L475

as a result, if their env doesn't terminate properly, the eval episode will run forever, and the whole thing will look like a big me

[2022-06-30 23:04] #25969 closed

[2022-06-30 23:33] ericl opened #26243 "[air] When passing datasets to AIR trainers, reserve a fraction of cluster CPUs for dataset execution"
### Description

When users mix Dataset computations with Train computations (i.e., for data ingest: https://docs.ray.io/en/master/ray-air/check-ingest.html), currently Tune/Train do not reserve CPUs for Dataset tasks. This means that ingest could hang, or performance could be unpredictable, since Datasets is only able to use spare CPUs in the cluster.

The concrete proposal here is to add an opti

[2022-06-30 23:34] ericl commented on #26243
@clarkzinzow could you add some details/link to your prototype PR here?

[2022-06-30 23:37] wuisawesome commented on #26138
We did a bit of digging and it seems like there's a problem in which the autoscaler thinks there are more healthy nodes in the cluster than GCS does. I suspect this can be manifesting itself in many different ways (we're working off of a repro cluster that @iycheng started for us)

[2022-06-30 23:38] clarkzinzow commented on #26243
@ericl Can do!

[2022-07-01 00:02] jjyao commented on #20344
Sorry for missing this issue. Yea, you don't need to set object_store_memory and we do plan to deprecate it.

[2022-07-01 01:00] thatcort opened #26244 "[Datasets] GroupedDataset.map_groups() Doesn't Support Callable Classes"
### What happened + What you expected to happen

The GroupedDataset method map_groups() is missing support for callable classes.

Attempting to use a callable class with map_groups() results in the following error:

[code]

https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1656626491260859?thread_ts=1656616666.457479&cid=C01DLHZHRBJ

### Versions / Dependencies

This is using Ray 1.13.0 and

[2022-07-01 01:34] clarkzinzow commented on #26243
@ericl Here is the PR with some TODOs, the placement group scheduler part appears to work as expected after some manual testing and the added test: https://github.com/ray-project/ray/pull/26245

[2022-07-01 03:14] guodashun opened #26248 "[AIR] Bug for convert data to torch"
### What happened + What you expected to happen

I have some pandas data and I want to convert it to torch dataset. But I got the the error info

I review the code [torch_utils.py](https://github.com/ray-project/ray/blob/master/python/ray/air/_internal/torch_utils.py) and I think  there is a bug in line 88,

https://github.com/ray-project/ray/blob/ab44133fba1fe2c3a05890a6d2a8d7b37b0acd43/python/ra

[2022-07-01 03:23] hu6360567 commented on #26118
@scv119
1. Application Layer is done by adding a `clean_up` remote method to my `TaskRunner` explicit terminate/kill subprocesses before the actor killed.
2. Not for sure if it can be done from parent process, since I cannot control how task implement their subprogress.
3. There are discussions #3295 #3297 about this kind of problem. It seems #3297 control progress by process group, but code is no

[2022-07-01 03:52] jiaodong opened #26249 "[AIR][GPU Prediction] Use multiple GPU devices with sharded input"
### Description

Current `TorchPredictor` did not support GPU yet and the immediate step is to enable GPU prediction by adding user flags as well as ensure both data + model lives on GPU device.

However, ideally we should also utilize all GPU devices evenly on the host, for example, a g3.16xlarge has 4 devices, but `.cuda` and `torch_tensor.to(torch.device('cuda'))` by default only uses `cuda:0`.

[2022-07-01 04:09] jerry99s opened #26250 "[RLlib] Error with Python3.9 ('NoneType' object has no attribute 'worker')"
### What happened + What you expected to happen

After finishing all epochs, it report the following error:

[code]

The bug is very similar to #8003, #16947 and #16955, unless my environment is Python3.9 .

### Versions / Dependencies

Ray 3.0.0.dev0 (Daily Releases)
Python 3.9.7
Torch 1.10.0
Ubuntu 20.04

### Reproduction script

1. train.py:

[code]

2. pendulum-ddppo.yaml

[code]
Then, run wit

[2022-07-01 08:28] junwucs commented on #26181
Anyone can help me out? Thanks~

[2022-07-01 14:52] orm011 commented on #25423
Thank you!

[2022-07-01 15:40] spacegoing commented on #26172
@stephanie-wang Hi Stephanie, many thanks for your reply! I'd love to know is there an example running RLlib on a ray cluster (as well as the configuration file)? Many thanks :D

[2022-07-01 16:13] truelegion47 commented on #20808
I am thinking of working on this.

[2022-07-01 17:31] tupui commented on #26250
Hi @jerry99s, thanks for reporting. I am looking into it. It's a strange issue indeed. You are running a nightly from this week? I am surprised that `ray._private.worker` is evaluated to None here. Did you try any debugging of the underlying code?

[2022-07-01 17:51] richardliaw opened #26258 "[air] All AIR examples need to be converted to use session.report"
### What happened + What you expected to happen

Currently all the examples on master/docs seem to be still using `train.report`, etc.

### Versions / Dependencies

Master

### Reproduction script

...

### Issue Severity

High: It blocks me from completing my task.

[2022-07-01 17:57] xwjiang2010 commented on #26258
Antoni wanted to take this part on.
cc @Yard1

[2022-07-01 17:58] richardliaw commented on #26258
awesome, thanks.

[2022-07-01 18:52] Anando304 opened #26260 "[core] JobSupervisor cannot be created because the Ray cluster cannot satisfy its resource requirements."
### **Context:**

I am following the trying to submit a ray job via the CLI and/or the Python SDK as described [here](https://docs.ray.io/en/latest/cluster/job-submission.html#using-the-cli-on-kubernetes). The ray cluster is running on K8's and I am trying to submit the job to the head node.

**Steps to reproduce problem listed below**

### Problem
It seems as though my job status is stuck in `PEN

[2022-07-01 19:00] jiaodong commented on #26260
cc: @DmitriGekhtman do you mind taking a look on Anando's k8s setup ? From job submission perspective we schedule `JobSupervisor` actor on headnode with its node name resources as you can see from the screenshot `node:7.255.243.24`, but it didn't seem available. I suspect it has something to do with ray dashboard not attached to ray cluster correctly, but not familiar with how our k8s launcher set

[2022-07-01 19:29] stephanie-wang opened #26261 "[docs][core] Definitive guide for debugging hanging applications"
### Description

We are missing a user guide for how to debug applications, especially ones that are hanging. We should cover:

- Where to find logs
- What CLI tools are available (ray memory, ray stack)
- Possible causes (not enough resources, system bugs, etc)
- What alternative settings to try

### Link

_No response_

[2022-07-01 19:37] franklsf95 commented on #26203
Solved: add a `ray.shutdown()` call at the end. Probably related to Ray shutdown order.

[2022-07-01 19:37] #26203 closed

[2022-07-01 19:38] DmitriGekhtman commented on #26260
I'll take a look.

It is recommended to use KubeRay to deploy. I'm surprised the manual K8s deployment instructions are still accessible.
I'm noting the documentation issue.

[2022-07-01 19:42] jiaodong commented on #26260
Thanks for the quick response! Yes, indeed we should recommend new users to use KubeRay as default.

[2022-07-01 19:59] stephanie-wang opened #26262 "[core] More than 30s scheduling delay in embarrassingly parallel task workload after scaling from 100 to 300 cores"
### What happened + What you expected to happen

Hi Ray team, I’m experiencing some scalability issue when I’m testing my cluster with more nodes. Here’s a bit of context.

    ray version: 1.9
    workload: 300 tasks each of which takes about a minute to complete in a single core
    cluster: around 300 cores running on a k8s platform. Each node is configured with 15 cores. Before I run my test,

[2022-07-01 20:05] Anando304 commented on #26260
I see, is there any work around without using KubeRay?

[2022-07-01 20:08] DmitriGekhtman commented on #26260
I'll experiment with the supplied config later today and let you know.

[2022-07-01 20:08] Anando304 commented on #26260
I assume the CLI and/or Python SDK approaches should still work or are they no longer supported? Were you able to reproduce the same issue on your side?

[2022-07-01 20:09] Anando304 commented on #26260
Ah perfect, thanks @DmitriGekhtman

[2022-07-01 20:30] #24480 closed

[2022-07-01 21:49] jianoaix opened #26264 "[Datasets] Revamp Datasets execution semantics and code"
The current Datasets execution semantics and code are confusing or even self-conflicting, e.g. we run the execution in split() no matter if it's eager or lazy, we have lazy read even if the dataset indicates itself eager etc. The details shall be fleshed out in a doc.

We need to revamp these because it's difficult to understand, difficult to extend/add new features, difficult to optimize and may

[2022-07-02 08:15] evo11x commented on #10448
@jobeid1 I have lowered the observation size and using ray 1.11.0 because ray 1.13.0 is crashing from other problems now.

[2022-07-02 13:48] #25802 closed

[2022-07-02 14:53] xwjiang2010 commented on #26226
@ethanabrooks
Love that idea! Do you know what are the things you want to color code that will make reading the log much easier for you (I know that Tune log can be pretty verbose sometimes)? - That decides whether it can be achieved by `Logger`/`Reporter`.
FYI, the method for printing the light blue `(trainable pid=1988)` output is [here](https://sourcegraph.com/github.com/ray-project/ray/-/blob/

[2022-07-02 14:58] xwjiang2010 commented on #26225
@thatcort Can you make sure that the pickle5 backport is not installed, since pickle protocol 5 is the default for Python 3.8’s native pickle? `pip uninstall pickle5`

@clarkzinzow

[2022-07-02 15:49] Medkne opened #26270 "[Core] ray.get becomes very slow when i increase the number of epochs"
### What happened + What you expected to happen

I use ray.get(current_weights) to get the final weights of my model after finishing all epochs. The problem is when i use for example 2 epochs, ray.get(current_weights) takes 17s, and with 100 epochs takes 1000s. I don’t know why ?

[code]
As you can see, i don't use ray.get in the loop, and the duration changes with the number of epochs !

### Vers

[2022-07-02 17:02] jiewu-stanford opened #26271 "RLlib A3C AttributeError: 'RolloutWorker' object has no attribute 'tf_sess'"
Attempted to adapt the PPO trainer script to run A3C trainer in RLlib but got the following error:

[code]

All what I did is simply to use the default config of A3C:

[code]

I am really not sure where this attribute 'tf_sess' comes from.  Could somebody help me out or it is a bug? Many thanks!

[2022-07-02 17:32] spacegoing commented on #26172
Hi @stephanie-wang ,

Sorry to disturb you again. But my `rllib` does not seem to autoscale my `ray cluster`.

----
To start with:
- my ray cluster yaml: [gpu.yaml](https://github.com/spacegoing/ray_test/blob/master/gpu.yaml)
- rllib (algo: DDPPO) yaml: [rllib_test.yaml](https://github.com/spacegoing/ray_test/blob/master/rllib_test.yaml)

And I run the whole framework by executing following lines

[2022-07-02 18:27] ethanabrooks commented on #26226
Sure I would be happy to contribute a PR! I think this would not be too hard to implement. I'll let you know if I have questions.

[2022-07-02 20:28] DmitriGekhtman opened #26272 "[Core] Fix error messages around resource specification"
### What happened + What you expected to happen

`ray start --head --resources='{"CPU": 1}'` yields the useful error message
`AssertionError: 'CPU' should not be included in the resource dictionary. Use num_cpus instead.`

On the other hand
`ray start --head --resources='{"memory": 1000000000}'` yields the confusing message
`AssertionError: {'memory': 1}`.

(Similar for object store memory.)

The

[2022-07-03 06:32] suquark commented on #25981
Resolved by #26106

[2022-07-03 06:32] #25981 closed

[2022-07-03 06:33] suquark commented on #24803
Closed by #25618

[2022-07-03 06:33] #24803 closed

[2022-07-03 12:52] valentasgruzauskas opened #26275 "Ray dashboard, tune tab empty with lightgbm Sklearn API"
### What happened + What you expected to happen

We are working with python, lightgbm, sklearn API on docker and using sklearn.tune with TuneSearchCV and bayesian optimization for hyper parameter tuning. I have initialized ray dashboard, however, the tune tab is empty and displays an error message:

### Versions / Dependencies

Operating system:
Arch Linux

Graphic:
GeForce RTX 2080 TI

Requiremen

[2022-07-03 21:40] #26221 closed

[2022-07-04 06:56] the-cross-art commented on #20411
As you mentioned your python environment is python3.9 . So you need to install ray on python 3.9 .
Steps to follow

1.` python3.9 -m pip install pip` to install pip on the python 3.9
2. `python3.9 -m pip install ray`

run `python3.9 <Path of you .py file>`
make sure your client and server both run on the same python environment.
Also, it's advised to use python < 3.8 && python > 3.5 to run ray wit

[2022-07-04 07:03] mattip commented on #22859
This issue cannot be reproduced and the OP has not provided more information. I will close it, please reopen or open a new issue if the issue is seen again.

[2022-07-04 07:03] #22859 closed

[2022-07-04 07:06] mattip commented on #22509
This issue does not have a clear reproducer, and the only indication of a problem (high CPU use of redis) is no longer relevant since redis is no longer used by default. I will close it, please reopen or open a new issue if the problem returns.

[2022-07-04 07:06] #22509 closed

[2022-07-04 07:15] mattip commented on #16781
On the one hand I am the only commenter in this issue, the OP has not responded, so I am inclined to close it. On the other, there is a known problem with gpustat and the maintainer has not released a new version in over a year. Should we vendor the project into ray to get the latest HEAD?

[2022-07-04 07:18] mattip commented on #12481
I think that #24968 (which was reverted but should be merged soon as #25806) will solve the problem.

[2022-07-04 07:22] blshao84 commented on #26262
Quick update: tried ray 1.13 and adding scheduling_strategy='SPREAD' solved the issue. Now the performance matrix under 300 cores makes much sense now. For example, from dashboard I could the whole grid was taken up within 1-2 seconds, compared with 20-30 seconds without the fix. We are still doing more testing.

[2022-07-04 07:29] mattip commented on #23611
@kkr4353 do you have two network cards or are you running workers from a different machine?

[2022-07-04 08:26] ThomasCassimon opened #26280 "[RLlib] Repeated space doesn't work with DQNTrainer"
### What happened + What you expected to happen

When using a `ray.rllib.utils.spaces.repeated.Repeated` observation space in combination with the `ray.rllib.agents.dqn.dqn.DQNTrainer`, I am unable to start training.
The training process crashes before any actual training is done, due to various bugs related to support of the `Repeated` space.

Currently a bug that I am running into is that `get_d

[2022-07-04 08:58] ThomasCassimon commented on #26280
For anyone encountering the aforementioned issue with the `shape` attribute not being set correctly, the following is a possible workaround that works for me:

[code]

Each `gym.space` has a field `_shape` that can be accessed through a property `shape`. By setting this shape to the correct value, RLlib is able to continue working as if everything is OK, although this may lead to other issues down

[2022-07-04 09:31] #24292 closed

[2022-07-04 12:40] zxgm opened #26283 "Encounter TypeError “too many positional arguments“"
### What happened + What you expected to happen

I have encountered TypeError:too many positional arguments when Client call remote function that defined by Actor that have class member import from other module. The ray version 1.12.0
The reproduction code is in Section Reproduction script.

when execute _client.test1.remote function,encounter TypeError:

but update _client.test1.remote(leagueId)

[2022-07-04 15:04] tupui commented on #26283
Hi @zxgm, thank you for reporting. I cannot reproduce your issue. Can you try with the new version? (1.13)

[2022-07-04 16:21] #26275 closed

[2022-07-04 18:10] DmitriGekhtman commented on #26260
Thanks for the detailed reproduction!
Unfortunately, I was unable to replicate the issue following the reproduction steps -- the job ran successfully to completion.
If you'd like to schedule some time to pair program on this, let me know over on Slack.

[2022-07-04 22:41] reisub0 commented on #12128
Glad to see that there's official progress on this issue! I've been eagerly following the updates on this issue since December 2020 when I got my M1 MacBook.

I would love to get the latest versions of ray running on my Raspberry Pi k3s cluster so I am trying to compile the `manylinux2014_aarch64` wheels

I spent a few hours trying to build using @floucks's `Dockerfile` process on a virtualised aa

[2022-07-05 00:36] wuisawesome commented on #22996
@gramhagen @eisber @ijrsvt do y'all mind taking a look at this? There seems to be another user reporting the issue still. https://discuss.ray.io/t/what-makes-a-cluster-unique-in-the-resource-group/6710

typically cluster name should be a tag on instances to prevent this.

[2022-07-05 00:38] wuisawesome commented on #22996
It seems there's already good discussion about the issue and solution here. https://github.com/ray-project/ray/pull/22997

[2022-07-05 01:03] brown2021 opened #26285 "Issue on page /train/examples/train_fashion_mnist_example.html"
I tested this example swapping out a custom dataloader from that I created with the torchdata library. I am receiving errors like the below

  File "/Users/lecole/anaconda3/envs/playground/lib/python3.9/site-packages/torch/utils/data/datapipes/datapipe.py", line 317, in __getstate__
    value = pickle.dumps(self._datapipe)
AttributeError: Can't pickle local object 'S3ImageFolder.setup.<locals>.<la

[2022-07-05 01:14] pang-wu commented on #26172
Can you show the output of `ray monitor gpu.yaml`?

[2022-07-05 01:31] giucesar opened #26286 "[datasets] groupby random behaviour and dataset type"
### What happened + What you expected to happen

Hi.
I am running a simple groupby in a ray.data.Dataset.

The dataset is a list of namedtuples (ex. NamedTuple("dummy", [("value_a", list), ("value_b", int)])).
When I run the group by, the key is one of the fields of the named tuple.

[code]

When I run it, sometimes it runs normally sometimes it complains about the key:
`Table sort key must be a c

[2022-07-05 02:33] zxgm commented on #26283
I have encountered the same problem with new version(1.13.0).My environment:ubuntu18.04 WSL2 container in windows.Temporary solution:Use the key=value parameter to solve the problem

[2022-07-05 03:24] SongGuyang opened #26287 "The test windows://python/ray/tests:test_output failed deterministically"
The related PR is https://github.com/ray-project/ray/pull/25896.
Refer to https://flakey-tests.ray.io/.

[2022-07-05 03:26] SongGuyang commented on #26287
Who can take a look? Do we need to revert?

[2022-07-05 03:33] spacegoing commented on #26172
[code]

[2022-07-05 05:29] ddelange commented on #12128
Were you attempting to run the Docker image intended for arm mac on an aarch64 vm?

Mac uses the clang compiler by default. I wouldn't be surprised if this is a cpp compiler flavour setup (eg clang vs gcc). Ran into that before when compiling projects from source: https://github.com/ddelange/pyicu/blob/2804b7c34c216d7ef63cefea96f54b54757f9ec3/README.md?plain=1#L31-L36

[2022-07-05 05:42] steventrouble opened #26293 "Ray Core: Not respecting --node-ip-address"
### What happened + What you expected to happen

**Expected:**

Run `ray start --head --node-ip-address=127.0.0.1` should start a service using my localhost IP.

**What happened:**

It seems to have ignored the node-ip-address flag.

[code]

I cannot connect using the IP it tries to use, because my firewall blocks it.

### Versions / Dependencies

[code]

### Reproduction script

`ray start --head

[2022-07-05 06:05] tianlinzx opened #26294 "[Ray : Train] Ray Train is not actually running parallelly ?"
### What happened + What you expected to happen

We are running the officially example  '04-Ray-Train-with-PyTorch-FashionMNIST ' under  'academy/ ray-train'
We expect ray will utilize all 4 GPUs in ray cluster to run the same training job .
However ,we observe ray is running the same traing job per GPU, for 4 times.

If we want to use 4GPU to parallelly run the training job ? What should we do ?

[2022-07-05 06:05] tianlinzx commented on #26294
(BaseWorkerMixin pid=485, ip=10.244.5.187) 2022-07-04 22:29:11,826	INFO torch.py:98 -- Moving model to device: cuda:1
(BaseWorkerMixin pid=484, ip=10.244.5.187) 2022-07-04 22:29:11,845	INFO torch.py:98 -- Moving model to device: cuda:0
(BaseWorkerMixin pid=484, ip=10.244.5.187) 2022-07-04 22:29:11,848	INFO torch.py:132 -- Wrapping provided model in DDP.
(BaseWorkerMixin pid=485, ip=10.244.5.187) 2

[2022-07-05 06:06] tianlinzx commented on #26294
Above is the output for Step 7

[2022-07-05 07:58] mattip commented on #16781
gpustat has released a [new rc1 version](https://pypi.org/project/gpustat/1.0.0rc1/) @SheldonCurtiss could you see if this fixes the problem?

[2022-07-05 08:12] steventrouble commented on #26293
Alright, it looks like this is intentional:

https://github.com/ray-project/ray/blob/43aa2299e6623c8f8c7c4a1b80133459d0aa68b0/python/ray/_private/services.py#L487

If we were able to use "127.0.0.1", it would help work around firewall issues. There's already workarounds in the code for mac and windows to use "127.0.0.1", so it's clear that some users need to use loopback due to firewalls.

**Curre

[2022-07-05 09:49] tupui commented on #26283
If you strip down your example to the bare minimum, does it still fail?

[code]

[2022-07-05 09:55] zxgm commented on #26283
If  remove the line code 'self.ab = ATest()' in Server.py,that work fine.

[2022-07-05 10:04] tupui commented on #26293
Hi @steventrouble, thank you for reporting. You might also work this around by having a rule in your host file pointing to a random IP that you would redirect to localhost.

I will close this now since this is the intended behaviour here. FYI, there are work in progress around networking interfaces #22732. It might help.

[2022-07-05 10:04] #26293 closed

[2022-07-05 10:47] tupui commented on #26248
Hi @guodashun, thank you for reporting. Here is a complete reproducer:

[code]

I think this is intended as you have a 2D array here. What did you expect as a result? Did you find an inconsistency with respect to the doc https://docs.ray.io/en/latest/data/dataset-tensor-support.html#converting-to-a-torch-tensorflow-dataset?

[2022-07-05 11:20] tupui commented on #26294
Hi @tianlinzx, thank you for reporting. Where is this page coming from? Could you post a link instead? The issue is difficult to digest as it's not formatted.

[2022-07-05 13:42] tupui commented on #26283
@zxgm can you run the following? This is working fine on my side.

[code]

[2022-07-05 15:04] thatcort commented on #26225
Installing pickle5 fixed it. Thanks!

[2022-07-05 15:47] xwjiang2010 commented on #26285
Hi @brown2021
Could you share you entire script? Thanks!!

[2022-07-05 16:10] #26225 closed

[2022-07-05 16:15] #26195 closed

[2022-07-05 16:15] spolcyn opened #26299 "[k8s] SIGTERM is sent to the head node when GCS is busy."
### What happened + What you expected to happen

We have an embarrassingly parallel workload that is periodically (every ~15-30m) resulting in the Ray process crashing and maxed out GCS CPU usage.

We'd expect that we can scale across as many CPUs as we can provide, up to the scalability envelope, and that Ray wouldn't crash (or that Ray would crash with a useful error message about which resource

[2022-07-05 16:27] tupui commented on #26294
Thank you, I will update your description with this link instead.

Did you manage to use multiple GPUs following another example from the documentation? Like the one I linked?

[2022-07-05 16:28] stephanie-wang commented on #26240
Cannot reproduce, closing for now.

[2022-07-05 16:28] #26240 closed

[2022-07-05 16:31] xwjiang2010 commented on #26184
@Harris-Xie This is a great question. I did a bit digging into Ray Core concept and it seems there is this `RAY_scheduler_spread_threshold`, which is a global config that controls the fraction of resource utilization on a node after which the scheduler starts to prefer spreading tasks to other nodes. By setting this threshold, users can choose between spread scheduling and pack scheduling. This is

[2022-07-05 16:44] xwjiang2010 commented on #26184
@jjyao ah got it. I think @Harris-Xie is using one machine with 4 GPUs. Is there any other way to specify the intention of spreading the load evenly across the 4 GPUs?

[2022-07-05 17:14] gjoliver commented on #22266
the output of compute_single_action() is a 3-tuple, action, state, and fetch_dict.
essentially, I think you want to save the current state output, and pass it in with the next compute_single_action() call.
you can use trainer.get_policy(<policy_id>).get_initial_state() to get the first input state for your first compute_single_action() call.

[2022-07-05 17:29] xwjiang2010 commented on #26286
@clarkzinzow @jianoaix

[2022-07-05 17:36] jjyao commented on #26184
I checked the code and it does what @Harris-Xie says (code is [here](https://github.com/ray-project/ray/blob/ccabba88ae2f464688eab1e72f111b49b5dc9155/src/ray/raylet/scheduling/local_resource_manager.cc#L159)). The reason is that we want to avoid fragmentation (e.g. in case we want to schedule a 1 GPU task later).

Currently there is no way to change this behavior. For now, you can do what @matthew

[2022-07-05 17:41] jjyao commented on #26184
Actually can you also set "gpu" to 0.13 (4 / 30), which will force Ray to use all 4 gpus.

[2022-07-05 17:52] xwjiang2010 commented on #26294
Thanks folks!
I have a clarification question.
@tianlinzx Are you trying to run ddp on 4 GPUs, with each worker using 1 GPU? (so 4 workers all together) - just wondering since the example you linked is using 12 GPUs I think.

From the log, it seems ddp is doing what it's supposed to do - running parallelly on 4 GPUs:
[code]

[2022-07-05 18:01] #25110 closed

[2022-07-05 18:02] #24304 closed

[2022-07-05 18:08] jjyao commented on #26139
It passed for the past 10 runs.

[2022-07-05 18:08] #26139 closed

[2022-07-05 18:09] stephanie-wang commented on #26172
Looks like it may be a bug, ccing @DmitriGekhtman to help you further.

[2022-07-05 18:30] brycecoldcocacola opened #26305 "[Tune] NevergradSearch Budget Exception"
### What happened + What you expected to happen

Some Nevergrad search algorithms have required inputs, such as `budget` for the `NgOpt` search algorithm, but it is not possible with the `NevergradSearch` class to pass these parameters down to the search algorithm. I would propose adding something like `optimizer_kwargs` to the `NevergradSearch` that get passed to the optimizer when instantiating

[2022-07-05 18:47] xwjiang2010 commented on #26305
cc @Yard1

[2022-07-05 19:35] xwjiang2010 commented on #26285
Got it, thanks!
I can't quite run this locally but could you try moving data loading steps into the `train` func?
The lines
[code]
I believe the current way that `train` function is written implicitly captures some objects that cannot be pickled, causing the issue.

[2022-07-05 19:42] brown2021 commented on #26285
When I do that i get the following error. Does Ray need to have map style dataset. I am trying to use an iterable because I want to be able to stream very large out of memory dataset in manageable batches.

  File "/Users/lecole/anaconda3/envs/playground/lib/python3.9/site-packages/torch/utils/data/datapipes/datapipe.py", line 337, in __len__
    raise TypeError(
TypeError: _IterDataPipeSerializat

[2022-07-05 20:04] bryce-ang commented on #26305
Hey @Yard1, it would be small, but I don't have time to do so at the moment. If it's preferred that I create a PR, I'm happy to backlog this and tackle at a different time.

FWIW here's the workaround I'm currently using:

[code]

[2022-07-05 20:13] shrekris-anyscale opened #26308 "[Serve] `serve start` and `serve run` don't use HTTP"
### Description

It would be nice to add that `serve start` and `serve run` don't use HTTP somewhere in the docs. Since all the other `serve` CLI commands use HTTP, it's surprising that these two use Ray client. This can lead to confusing behavior when working with long-lived, remote Ray clusters.

### Link

https://docs.ray.io/en/master/serve/production.html

[2022-07-05 20:32] xwjiang2010 opened #26309 "[CI] `linux://python/ray/tune:test_progress_reporter` is failing/flaky on master."
- 6f683c8d1cc27060fdb1fec0aa5742c36daff46d FAILED [Buildkite :octopus: Tune tests {A-R; no RLlib}](https://buildkite.com/ray-project/ray-builders-branch/builds/8486#0181cfa2-14d2-4055-863a-674d99ebc59c)
- ccabba88ae2f464688eab1e72f111b49b5dc9155 FAILED [Buildkite :octopus: Tune tests {A-R; no RLlib}](https://buildkite.com/ray-project/ray-builders-branch/builds/8484#0181cf45-a755-478b-bb61-c759d4ab

[2022-07-05 20:40] DmitriGekhtman commented on #26260
@Anando304 and I looked at the issue together and were unable to detect any issues from the cluster scheduling / Ray resource annotation perspective.

In particular, we were able to successfully schedule a task requiring the "unavailable" node resource.

We may need help from the feature owners to get to the bottom of the issue.

[2022-07-05 20:43] clarkzinzow commented on #26286
@giucesar Thank you for filing the issue!

That error should only pop up when trying to supply a lambda groupby key for a tabular dataset, since this isn't supported. Can you share more of how the dataset `ds` is created?

[2022-07-05 20:48] DmitriGekhtman commented on #26260
That's correct!

[2022-07-05 20:49] DmitriGekhtman commented on #26260
Moreover, on my own GKE setup, I'm able to run everything successfully following the precise repro steps.

[2022-07-05 20:49] xwjiang2010 commented on #26309
`gpustat` releases a new version that requires certain nvml version.

[2022-07-05 20:51] xwjiang2010 commented on #26309
[code]

[2022-07-05 20:51] Yard1 commented on #26305
Thanks for letting us know! You are right, it will be a very simple change. Feel free to pick it up later when you have a moment.

[2022-07-05 20:53] xwjiang2010 commented on #26285
@brown2021
I believe Ray accepts Iter type dataset.
train_epoch` is where the error is thrown.

[2022-07-05 20:57] architkulkarni commented on #12623
Closed by https://github.com/ray-project/ray/pull/26166

[2022-07-05 20:57] #12623 closed

[2022-07-05 21:59] stephanie-wang commented on #26262
I confirmed this issue on nightly wheels. Looks like it's an issue at startup time. If you run 300 more tasks after the initial round, they are all scheduled within one second. Let's try to get this fixed before the 2.0 release.

[2022-07-05 22:17] #26287 closed

[2022-07-05 22:46] architkulkarni commented on #26260
On the off chance it's related to runtime_env somehow: is it possible to check `dashboard_agent.log` or `runtime_env_setup-*.log` on the head node to see if the runtime env setup succeeded or failed?

We should be streaming an error to the local machine's command line if the runtime_env fails, but might be worth checking these logs just in case.  I don't think a runtime env setup failure should re

[2022-07-05 22:48] tianlinzx commented on #26294
@xwjiang2010 Yes,it it running on 4 GPUs, but I wonder it is running the same traing task on 4 GPUs independently.
My target is to to split to train the model  parallelly on 4 GPUs to speed up the training ?
Are there any tickys ?

[2022-07-05 22:49] tianlinzx commented on #26294
@tupui @xwjiang2010 Since my Ray cluster has only 4 GPUs.
I have tried 1 worker, 2 worker, 4 workers. When I use 4 workder ,the training time is even longer than I used 2 GPUs.

[2022-07-05 22:59] tianlinzx commented on #26294
@tupui When I run https://github.com/anyscale/academy/blob/main/ray-train/02-Ray-Train-Quickstart-Distributed.ipynb this example using 2 GPUs, I encountered another error.

Output exceeds the [size limit](command:workbench.action.openSettings?[). Open the full output data [in a text editor](command:workbench.action.openLargeOutput?62f4554c-59a9-46bb-ac7a-f49a25cec7a6)
-----------------------------

[2022-07-05 23:10] xwjiang2010 commented on #26294
When you say split, do you mean split the data or split the model? If we are talking about splitting the data, every worker will be running the same code. So say if you have a global batch size of 16 and 4 workers, each worker will get 1/4 of the batch, which is 4 for each worker.

[2022-07-05 23:11] xwjiang2010 commented on #26294
This is definitely not expected. How are you configuring the batch size in both cases? And I am assuming epoch is the same in both cases?

[2022-07-05 23:23] #26309 closed

[2022-07-06 00:08] tianlinzx commented on #26294
@xwjiang2010
I am testing the example from https://github.com/anyscale/academy/blob/main/ray-train/04-Ray-Train-with-PyTorch-FashionMNIST.ipynb.

I just modified the number_of_workers in Step 6 from 1 to 2 and 4.
I didn't make any changed the rest of the code including batch-size and epoch.

[2022-07-06 00:47] DmitriGekhtman commented on #26172
Redirecting non-K8s-related autoscaler issues to @wuisawesome @cadedaniel

[2022-07-06 02:06] zxgm commented on #26283
It's working fine.If put the 'Toto' class code in same file with server.py, that's ok.Can you try to put Toto class to another file? The server.py and client.py connect to ray cluster that's already started by execute 'ray start --head'

[2022-07-06 02:07] zxgm commented on #26283
It's working fine.If put the 'Toto' class code in same file with server.py, that's ok.Can you try to put Toto class to another file? The server.py and client.py connect to ray cluster that's already started by execute 'ray start --head'

[2022-07-06 02:08] zxgm commented on #26283
It's working fine.If put the 'Toto' class code in same file with server.py, that's ok.Can you try to put Toto class to another file? The server.py and client.py connect to ray cluster that's already started by execute 'ray start --head'

[2022-07-06 02:08] giucesar commented on #26286
For sure.
Initially, it is create like:
`ds = ray.data.range(n_tuples).map_batches(lambda batch: generate_random_tuples(size=len(batch))`

After some processing, it gets to a point where I need to transform the data into groups defined by one of the values in the named tuples.
`ds = ds.group_by(lambda row: row.key).map_groups(lambda group: process_group_and_return_same_size_and_type(group))`

When

[2022-07-06 03:36] pmy0721 opened #26315 "ImportError: cannot import name '_mark_annotated'"
### What happened + What you expected to happen

I want to run the code of https://github.com/ray-project/ray/blob/master/rllib/examples/two_step_game.py, but I meet the error as follows:

Traceback (most recent call last):
  File "G:/Python3/RL/Pytorch/moziai/mozi_windows_ai_dev_code/moziai/mozi_ai_sdk/sc_code/ray_test6.py", line 12, in <module>
    from ray.rllib.agents import with_common_config

[2022-07-06 04:43] jianoaix opened #26316 "[Core] Remove the usage of placement_group/placement_group_bundle_index/placement_group_capture_child_tasks in Ray codebase"
The placement_group/placement_group_bundle_index/placement_group_capture_child_tasks are deprecated and we should use scheduling_strategy in ray.remote(). To complete the deprecation, we need to migrate the usage over in Ray codebase.

[2022-07-06 05:09] suquark commented on #17280
Close this issue, because it is outdated

[2022-07-06 05:09] #17280 closed

[2022-07-06 05:09] suquark commented on #3718
Close this issue, because it is outdated

[2022-07-06 05:09] #3718 closed

[2022-07-06 07:27] WangTaoTheTonic commented on #26183
Thanks for the reminding. I've update in the description.

[2022-07-06 08:42] jinfagang opened #26319 "WARNING: ray 1.13.0 does not provide the extra 'default'"
### What happened + What you expected to happen

WARNING: ray 1.13.0 does not provide the extra 'default'

### Versions / Dependencies

WARNING: ray 1.13.0 does not provide the extra 'default'

### Reproduction script

WARNING: ray 1.13.0 does not provide the extra 'default'

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-07-06 09:01] jinfagang opened #26320 "[dashboard] FileNotFoundError: [Errno 2] No such file or directory: '/tmp/ray/session_2022-07-06_16-46-30_058837_12938/logs/dashboard.log'"
### What happened + What you expected to happen

[code]

### Versions / Dependencies

1.13

### Reproduction script

[code]

macOS, full trace back:

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-07-06 11:16] antoine-galataud commented on #8583
I came across the same situation (needed fast and lightweight inference from a trained policy). I started working on it, check [here](https://github.com/airboxlab/rllib-fast-serve) and don't hesitate to report bugs/enhancement requests.

[2022-07-06 11:32] WangTaoTheTonic opened #26323 "[core][C++ worker]x-lang invocation between java and c++ hangs up in MacOS"
### What happened + What you expected to happen

The failure details is in attached log. We disable the test for now.
There must be some race condition here and caught by Mac tests
[ray-builders-branch_build_8493_mac-apple-ray-c-plus-plus-java-and-libraries.log](https://github.com/ray-project/ray/files/9054321/ray-builders-branch_build_8493_mac-apple-ray-c-plus-plus-java-and-libraries.log)
.

###

[2022-07-06 12:12] tupui commented on #26283
@zxgm I still cannot reproduce. I have the following:

[code]

I start Ray with `ray start --head` and execute `python toto_server.py`.

I also tried with an extra file for a client like you have. It still works (just need to specify a namespace on top of a name).

[2022-07-06 12:14] ArturNiederfahrenhorst opened #26324 "[RLlib] Build process broken on an M1"
### What happened + What you expected to happen

Since #26069 , building on my M1 fails with the following output:

Reverting c8a90e00acba0081af5a4f6b3f676febe136e358 lets me build as usual.
`bazel clean --expunge` does not help.

### Versions / Dependencies

ab44133fba1fe2c3a05890a6d2a8d7b37b0acd43 builds fine
c8a90e00acba0081af5a4f6b3f676febe136e358 does not

Python 3.8.13

### Reproduction scri

[2022-07-06 12:36] valentasgruzauskas opened #26325 "Tensorboard with Docker from Ray dashboard, tune tab cannot be accessed"
### What happened + What you expected to happen

I am running a gradient boosting algorithm with tune, TuneSearchCV.

I have initianalized the ray dashboard with:

I can access the Tune tab, however, when I provide the path to the results log, e.g. ./ray_results/_Trainable_2022-07-06_12-24-58/ and select tensorboard, I receive the following error:

In docker-compose.yml I have indicated the port m

[2022-07-06 13:48] ethanabrooks commented on #26226
Also, currently the colors adhere to the convention that yellow is for errors/warnings and cyan is for everything else. Not sure if we would want to add something other than color to distinguish errors/warnings, now that color also indicates different tasks.

[2022-07-06 15:06] ThomasCassimon commented on #26280
Upon further investigation, I've found that `SampleBatch` concatenation for elements from `Repeated` spaces doesn't seem to work?

The following script gives me the following output:

[code]

For `ray==1.11.1`:
[code]

For `ray==1.13.0`:
[code]

[2022-07-06 15:13] scv119 commented on #26137
ping, any update on this one?

[2022-07-06 15:26] ThomasCassimon commented on #26280
Going one step further, I noticed that both `concat()` and `concat_samples()` simply stopped working for complex spaces involving `Repeated`.

Test code:
[code]

<details>
<summary>For `ray==1.11.1`</summary>

[code]
</details>

<details>
<summary>For `ray==1.13.0`</summary>

[code]
</details>

[2022-07-06 15:55] richardliaw commented on #26319
Hi @jinfagang could you provide a reproducible example for this?

[2022-07-06 16:36] yyyuhan commented on #26325
What was the concrete error message for _the URL could not be found_ when you accessed http://localhost:6006/ inside the Docker container?

[2022-07-06 17:09] rickyyx commented on #26137
Oh - right, I wasn't able to reproduce the timeout error on anyscale with recent master, and looks like the nightly CI has been passing since then.

[2022-07-06 18:09] sihanwang41 opened #26328 "[Serve] Missing documentation for multi endpoint in deployment graph"
### Description

With the deployment graph in serve, there is no docs to explain how to achieve within one graph:
ModelA:
requests.post(http://127.0.0.1:8000/ModelA)
ModelB:
requests.post(http://127.0.0.1:8000/ModelB)

                    ---- modelA (http://127.0.0.1:8000/ModelA) ---  (subsequent nodes) --- output
                   /
    DagDriverNode    ------ modelB (http://127.0.0.1:8000/Mode

[2022-07-06 18:26] Anando304 commented on #26260
### **Problem Resolved**

**Problem Root Cause**
The problem seemed to be that the pip installations were getting blocked on the Kubernettes cluster since outbound internet access wasn't allowed due to security reasons. This caused connection timeouts and prevented the JobSupervisor from being executed correctly.

**Solution**
Adjusting the cluster to accept external traffic for pip libraries reso

[2022-07-06 18:26] #26260 closed

[2022-07-06 19:15] stephanie-wang opened #26329 "[core] Improve usability for `ray.init` when there is an existing cluster"
### Description

Two usability issues that I noticed:

1. `ray.init()` will always try to start a new standalone instance and will not warn you if there is an existing Ray instance on the same node. I think this is counter-intuitive to most newcomers and is a gotcha if you're trying to scale up from local development to a cluster.
2. When `ray.init()` is called implicitly (e.g., on the first `f.re

[2022-07-06 19:23] simon-mo commented on #26068
no more!  🎉
<img width="815" alt="image" src="https://user-images.githubusercontent.com/21118851/177626885-134f2c99-1367-4af3-bcf1-608552369403.png">

[2022-07-06 19:23] #26068 closed

[2022-07-06 19:33] richardliaw commented on #25037
Downgrading this because we'll have working TF examples with #26247

[2022-07-06 19:41] simon-mo commented on #26324
Can't reproduce it locally.

[2022-07-06 19:58] shrekris-anyscale opened #26332 "[Runtime Environments] [Jobs] Propagate a warning when pip install hangs"
### Description

In #26260, a job was stuck in `PENDING` because the `runtime_env` failed to `pip install` a package. The core issue was that the Kubernetes cluster disallowed outbound internet access, so the `pip install` hung indefinitely.

The only relevant message propagated back was `"Job has not started yet, likely waiting for the runtime_env to be set up."`. However, additional errors were

[2022-07-06 20:04] amogkam commented on #26104
`concat_for_tensor` is the way to go and will be documented

[2022-07-06 20:05] amogkam commented on #25614
@simon-mo is this already completed?

[2022-07-06 20:16] amogkam commented on #23234
Should be doable by setting the runtime env in `ray.init()`

[2022-07-06 20:16] #23234 closed

[2022-07-06 20:19] #25083 closed

[2022-07-06 20:42] amogkam commented on #25441
Currently when resuming training from a checkpoint we don't load the preprocessor state. This means that the provided preprocessor is fitted again.

[2022-07-06 20:43] #25224 closed

[2022-07-06 20:47] #25082 closed

[2022-07-06 20:51] spolcyn commented on #26299
@iycheng

[2022-07-06 21:02] stephanie-wang commented on #26299
Thanks for filing this, @spolcyn! If possible, can you also attach a dump of the system logs from one of these runs? You can get this by running `ray cluster-dump` on the head node.

[2022-07-06 21:07] DmitriGekhtman commented on #20837
I'll leave it to @AmeerHajAli to assign the item.

My two cents on the implementation is to do this in as lightweight a way as possible:
- Identify the fields that must be removed (at least the ones I listed above)
- Add a validation step **at the very start** of the Ray up sequence which checks for the forbidden fields and aborts with an error if the fields are present.

[2022-07-06 21:08] jjyao commented on #20837
Ideally we want this to be done by 07/15 (before the 2.0 branch cut).

[2022-07-06 21:08] stephanie-wang commented on #26270
Discussion is moved to [discuss.ray.io](https://discuss.ray.io/t/ray-get-becomes-very-slow-when-i-increase-the-number-of-epochs/6704/2).

[2022-07-06 21:08] #26270 closed

[2022-07-06 21:10] stephanie-wang commented on #26299
Yes, that would be great, thanks!

[2022-07-06 21:21] stephanie-wang commented on #26299
Could you also grab the same logs from one of the worker nodes?

[2022-07-06 21:23] spolcyn opened #26337 "[Core] Can't connect to Ray when repeatedly failing actors"
### What happened + What you expected to happen

1. Bug: When there is high actor turnover (e.g., many actors attempting to start/failing), connect to the Ray cluster with the Ray client hangs. Sometimes, the GCS also crashes during the high actor turnover.

2. Expected: Cluster connections are unaffected by actor turnover

3. Logs when GCS crashes:
[code]

### Versions / Dependencies

Python 3.9.

[2022-07-06 21:27] AmeerHajAli commented on #20837
@wuisawesome , can you make a PR for this?

[2022-07-06 21:27] spolcyn commented on #26299
@stephanie-wang Sure, those worker nodes have been autoscaled down since the issues, but I can re-run and get the worker node logs.

[2022-07-06 21:29] DmitriGekhtman commented on #22027
I believe we've also gotten reports of high **CPU** usage from the dashboard.
https://discuss.ray.io/t/ray-dashboard-is-hanging/6202
Is that issue known/understood/solved? Is that issue separate from this one?

[2022-07-06 21:41] rkooo567 commented on #25764
Just add unit tests with worker nodes

[2022-07-06 21:46] peterhaddad3121 opened #26338 "[Ray Client] Unable to connect to Ray Cluster with ray.init"
### What happened + What you expected to happen

Ray 1.12.1 was connecting through gRPC perfectly fine, after upgrading both the cluster and local SDK to 1.13.0 I am no longer able to connect.

The error I receive is:
[code]

It looks like non of the code really changed between versions in: `~/.local/lib/python3.9/site-packages/ray/util/client/worker.py:264`

Any ideas of what might be occurring?

[2022-07-06 21:58] yyyuhan commented on #26325
Thanks for the information! I haven't used the tensorboard under the Tune tab, but I'm also using Docker as runtime environment, and I've come across a few tensorboard issues before. If I were you, I might consider checking the following cases:

1. Has the tensorboard service already been started?
Inside Docker container, run one of the following cmds:
- `ss -tupln | grep 6006`
- `ps -ef | grep te

[2022-07-06 21:59] spolcyn commented on #26299
[worker-session.tar.gz](https://github.com/ray-project/ray/files/9058243/worker-session.tar.gz)

@stephanie-wang Here is the worker node session for a crashed session

[2022-07-06 22:25] ArturNiederfahrenhorst commented on #26324
@gjoliver can't reproduce locally, too.

Reverting the commit in question enables me to build again.
A fresh miniconda install and a fresh git clone won't help.
I'm keeping my hands off this for now to get other things done.

I'd like to leave the issue here so we can track this in case others experience this.

[2022-07-06 22:36] rkooo567 commented on #26337
cc @stephanie-wang is this related to the issue you are fixing now (from the release test)?

[2022-07-06 22:37] rkooo567 commented on #26136
To be clear, this is the bug right?

It is unexpected from this test. Can anybody confirm?

[2022-07-06 22:38] rkooo567 commented on #24943
This has pretty low failure rate now, so let me close it

[2022-07-06 22:38] #24943 closed

[2022-07-06 22:41] rkooo567 commented on #26332
Hmm this is a critical issue. We'd like to remove all these random hanging cases from Ray.

@architkulkarni should we probably have some sort of timeout to the API?

[2022-07-06 22:42] rkooo567 commented on #26329
Should we do this as 2.0 API revamp? cc @jianoaix @jjyao @scv119

[2022-07-06 22:43] rkooo567 commented on #26320
Are you using M1 macbook?

[2022-07-06 22:48] iycheng commented on #25963
I feel the overall direction looks ok. I'm curious about why step 5) is a RPC call? Shouldn't it be a REST call? I'm imagining in k8s env, we'll expose agent as a service and send to agent directly.

[2022-07-06 22:49] stephanie-wang commented on #26337
The assertion failure looks like it's the same issue as #18908, but I think the GCS connection error is different. Maybe that one is the same as #26299.

[2022-07-06 22:50] stephanie-wang commented on #26299
Thanks! Yes, it looks like the root cause is likely GCS failing under heavy load. From the worker's raylet.out file:
[code]

@iycheng is it okay to assign this one to you?

[2022-07-06 23:14] avnishn commented on #25914
Can you provide an exact script that reproduces your issue?

[2022-07-06 23:14] rkooo567 commented on #26337
This is also concerning. Maybe something we should handle before 2.0. (I remember this started happening when we migrated to no redis GCS, so it should be related to internal KV load on worker startup)

[2022-07-06 23:16] avnishn commented on #25799
Can you reformat your reproduction script. I'm having a difficult time understanding which parts of it were meant to be included in the code block. Thanks!

[2022-07-06 23:17] avnishn commented on #25631
this should be solved by #26304

[2022-07-06 23:19] #24788 closed

[2022-07-06 23:46] matthewdeng commented on #26136
Yeah that's my understanding of it.

[2022-07-07 01:01] #25631 closed

[2022-07-07 01:35] onlyone2019 opened #26342 "[runtime envs] pip package in runtime env is not installed"
### What happened + What you expected to happen

`ray job submit --address=‘http://192.168.0.166:8265’ --runtime-env-json=‘{“working_dir”:“./” , “pip”:[“smmap”]}’ -- /home/wanjia/conda/env1/bin/python ./job.py `

We submitted a job using the above command to check if ray worker will install python packages at runtime.According to the [document](https://docs.ray.io/en/latest/ray-core/handling-depen

[2022-07-07 02:30] jinfagang commented on #26320
this error got because of dashboard lack of package, please don't mute the import error.... otherwise users didn't know what's going on and how to fix it....

[2022-07-07 03:33] larrylian commented on #26324
I will find an m1 environment as soon as possible and fix this error。

[2022-07-07 04:08] xwjiang2010 commented on #26226
@ethanabrooks thanks so much! I get what you are trying to achieve now. I do want to check with Core code owners to make sure this does not overfit to Tune's case.

@rkooo567 @stephanie-wang Could you chime in?
I am wondering 1. does this make sense to apply generically?
2. if 1 is a no, does it make sense to offer this through some env var just for Tune users?

Let me know what you guys think! Th

[2022-07-07 04:24] xwjiang2010 opened #26345 "[ml release] lightning user test consistently failing"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/752#0181d064-d4a0-4642-82cd-6e16ce855f75

### Versions / Dependencies

master

### Reproduction script

NA

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-07-07 04:26] xwjiang2010 commented on #26345
Seems to have something to do with `tensorboard/summary/writer/event_file_writer.py`

[2022-07-07 04:36] DmitriGekhtman commented on #26332
Adding to the confusion, the dashboard displayed a red herring about resource availability for the job scheduler actor :/

[2022-07-07 04:45] xwjiang2010 commented on #26345
problematic one:
[code]

working one:
[code]

[2022-07-07 05:43] xwjiang2010 commented on #26294
@tianlinzx
for your comment [here](https://github.com/ray-project/ray/issues/26294#issuecomment-1175583466), the issue is that you need to use `to_device` to move the data onto GPU. You are right that we need to improve the tutorial here - it's pretty misleading rn. cc @amogkam

as for this [example](https://github.com/anyscale/academy/blob/main/ray-train/04-Ray-Train-with-PyTorch-FashionMNIST.ipy

[2022-07-07 07:36] tianlinzx commented on #26294
Line21 is modified as below after adding "move_to_device=True"
   model = train.torch.prepare_model(model, move_to_device=True)
However the acceleration is not obvious as expected.

4 GPUs
(BaseWorkerMixin pid=8573, ip=10.244.4.40) --------------------------------------------------------------------------------
(BaseWorkerMixin pid=2122, ip=10.244.5.18) Epoc: 100, Avg validation loss: 1.46, Avg va

[2022-07-07 09:10] guodashun commented on #26248
Thanks for your reply!
So based on my understanding, the **unsqueeze_feature_tensors** just should be set **False** when in the situation that feature columns are incompatible as the doc mentions, and in the other normal situations the **unsqueeze_feature_tensors** should be **True** as the default.
Is it?

[2022-07-07 09:31] tupui commented on #26248
Yes, this option would remove redundant information which is not present here. I will close the issue for now. Thanks again.

[2022-07-07 09:31] #26248 closed

[2022-07-07 10:16] tupui commented on #26342
Hi @onlyone2019, thank you for reporting. I suspect a conflict between pip/conda. Ray would not know to use `/home/wanjia/conda/env1/bin/pip` by itself. I would suggest to activate the environment as a first step instead of using `/home/wanjia/conda/env1/bin/python`. Something like this may work: `conda activate env1;python job.py`

[2022-07-07 10:43] tupui commented on #24899
@fuhuifang it makes sense, because you have `main_instance = Foo(x)` and in `Foo.run` you raise.

[2022-07-07 12:57] valentasgruzauskas commented on #26325
Good day,

I started docker with docker-compose run --rm train bash, and -d mode for tensorboard did not work, thus I entered again to the same container with docker ps and docker exec -it docker-id bash.

Than I launched the following commands as you indicated:

**ss -tupln | grep 6006:**

**ps -ef | grep tensorboard:**

**curl -v "http://localhost:6006"**

**tensorboard --bind_all --port 60006 -

[2022-07-07 13:13] mattip opened #26357 "[RLlib] test_a3c is failing and also emitting deprecation warnings"
### What happened + What you expected to happen

When running `python -m pytest rllib/algorithms/a3c/tests` on both windows and ubuntu, I get
[code]

### Versions / Dependencies

git HEAD (commit 7ea9d91e1a780f38b971093119df55dd247252cc)

pip install ray[serve]
pip install ray[rllib]
pip install pandas gym==0.24.1
pip install gym[atari] autorom[accept-rom-license]
python -m pip install tensorflow=

[2022-07-07 13:14] mattip commented on #26357
I also get DeprecationWarnings
[code]

[2022-07-07 13:16] yyyuhan commented on #26325
Thanks for the detailed reply.

It seems you started tensorboard on port 60006, with the following test on 6006 which was not consistent. Could you please try `tensorboard --bind_all --port **6006** --logdir ./ray_results/` instead, and then curl or visit tensorboard from the browser to see if it works?

[2022-07-07 13:26] valentasgruzauskas commented on #26325
Thank you, I fixed the issue. Now it returns the html page. However, I cannot reach the webpage from my host computer, and Tune dashboard also does not reach it, however, the error message changed to "localhost refused to connect.".

[2022-07-07 14:33] yyyuhan commented on #26325
Thank you. Was the Docker container and its tensorboard process still running when you tested it on your host machine?

[2022-07-07 14:37] spolcyn commented on #26299
@stephanie-wang In the meantime, is there anything we can do to provide the GCS more resources, or ways we can architect differently to minimize the load on the GCS?

[2022-07-07 15:10] evo11x commented on #10448
@jobeid1
Sorry for my previous answer, I thought the question was about other problem.
No I did not found a solution, did you find one?

[2022-07-07 16:33] cadedaniel opened #26359 "[Ray VM stack cluster launcher CI] Run mock script in BuildKite with AWS role"
We will use a separate IAM role which has only the permissions necessary for creating an EC2 cluster via the Ray cluster launcher. The BuildKite EC2 instance role will then assume this role and provide credentials to the test runner.

The [ray-project/buildkite-ci-stack](https://github.com/ray-project/buildkite-ci-stack/) project provides Terraform which defines resources in the OSS CI AWS account

[2022-07-07 16:35] cadedaniel opened #26360 "[Ray VM stack cluster launcher CI] AWS tests run on productionized prototype on BK"
Add AWS tests to BK

[2022-07-07 16:37] cadedaniel opened #26361 "[Ray VM stack cluster launcher CI] GCP tests run with GCP credentials in BK"
Because the BuildKite instances run in AWS, authentication with GCP is not trivial in the same way that assuming an AWS IAM role is. GCP provides [Workload Identity Federation](https://cloud.google.com/iam/docs/workload-identity-federation), which enables entities external to GCP to assume a GCP identity with its corresponding permissions.

An [open source project](https://github.com/ScaleSec/gcp-

[2022-07-07 16:38] cadedaniel opened #26362 "[Ray VM stack cluster launcher CI] Productionize prototype"
Productionize the prototype (described [here](https://docs.google.com/document/d/1kXZeQ6TCmbYzGQbDWx9InaTc5CK-3c4lFsZmbjIMz3g/edit#heading=h.oi9oj8vxagts)), integrate with BK

[2022-07-07 17:06] qinmoelei opened #26364 "[RLlib] TypeError after upgrading from Ray 1.10"
### What happened + What you expected to happen

Previously, I use python 3.7.11 and Ray 1.10 and my code works fine
afterI pose
``` trainer.train()```
there is a erroe coming out saying
 Exception ignored in: <function RolloutWorker.__del__ at 0x7f36998bc940>
Traceback (most recent call last):
  File "/home/sunshuo/miniconda3/envs/TradeMaster/lib/python3.8/site-packages/ray/util/tracing/tracing_h

[2022-07-07 17:30] tupui commented on #26342
What I don't get from the doc is that there is a way to install a package using conda, but I did not see how to specify the environment to use.

[2022-07-07 18:14] rkooo567 commented on #26226
@ethanabrooks can you tell me a bit more detail about how the task_index will be used? Alternatively, we can change the color by modifying the printing side code? https://github.com/ray-project/ray/blob/dcc913073f8b0a54f495d24d586a82492f261478/python/ray/_private/worker.py#L790

[2022-07-07 18:21] stephanie-wang commented on #26226
I like the idea of color-coding the process tag! Agree with @rkooo567 about checking whether we need to add the new task_index field. I'm a bit unclear on how we'll guarantee that this value will stay stable.

The other thing you could try is making the print code pluggable so that you can specify any behavior you want.

[2022-07-07 18:32] architkulkarni commented on #26332
I don't have a specific one in mind, but I know the pip and conda dependency resolver can be slow (googling "[conda install takes 10 minutes](https://www.google.com/search?q=conda+install+takes+10+minutes&oq=conda+install&aqs=chrome.0.69i59j69i57j0i131i433i512l5j69i65.926j0j7&sourceid=chrome&ie=UTF-8)" turns up some examples). I remember some users with heavyweight dependencies that took 10-20 min

[2022-07-07 18:58] ethanabrooks commented on #26226
@rkooo567 , I was thinking of something like this:
[code]
From here: https://github.com/ray-project/ray/blob/dcc913073f8b0a54f495d24d586a82492f261478/python/ray/_private/worker.py#L1653

[2022-07-07 20:58] tupui commented on #26342
But the doc mention that we can install packages in a conda env. Either from PyPi or conda. See here https://docs.ray.io/en/latest/ray-core/handling-dependencies.html#api-reference

[2022-07-07 21:01] DmitriGekhtman opened #26368 "[Autoscaler][Docs] AWS quickstart example fails to start"
### What happened + What you expected to happen

The AWS quickstart example appears not to work. Assignees to fill in the details.
See the discussion here:
https://discuss.ray.io/t/ray-quick-start-demo-not-working-on-aws/6697

### Versions / Dependencies

Ray master?

### Reproduction script

`ray up aws/example-minimal.yaml`

### Issue Severity

High: It blocks me from completing my task.

[2022-07-07 21:23] wuisawesome commented on #20837
It sounds like the urgency is now higher here with the branch cut approaching. Assuming we agree this is a p0 release blocker, I'll take it on

[2022-07-07 21:47] rickyyx opened #26370 "[doc][Core | State Observability] Document usage of the rate limiting env variable in public doc"
### What happened + What you expected to happen

The State API server has some additional configs (rate limiting max number of http requests in progress), which could be documented better once the APIs are finalized after alpha.

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

Low: It annoys or frustrates me.

[2022-07-07 22:27] shrekris-anyscale opened #26372 "[Serve] `test_standalone2.py` is flaky due to `test_controller_recover_and_delete`"
### What happened + What you expected to happen

`test_standalone2.py` is flaky:

<img width="1333" alt="Screen Shot 2022-07-07 at 3 20 33 PM" src="https://user-images.githubusercontent.com/92341594/177881094-3a1c39f6-5a6c-41cb-ba6f-271256750f83.png">

According to the tracebacks ([example](https://buildkite.com/ray-project/ray-builders-branch/builds/8517#0181d99a-d02e-44c2-a2b8-fde7a2378c3c)), th

[2022-07-07 22:52] Anando304 opened #26375 "[Core] Ray Example-Cluster Timeout from Quickstart NoHelm"
### Description

### **Context**

I was following the guide [here](https://docs.ray.io/en/latest/cluster/job-submission.html) on being able to start a ray cluster **without helm.**

### **Problem**

The [example_cluster.yaml](https://github.com/ray-project/ray/blob/master/deploy/components/example_cluster.yaml) used for running a ray cluster seems to be having **trouble port-forwarding** as it is

[2022-07-07 23:29] #25143 closed

[2022-07-07 23:29] #26258 closed

[2022-07-07 23:39] rkooo567 commented on #26226
Yes. I think although we have task index, there's the risk of conflicting color. Imagine your node has more than 500 workers for example (are we going to have color code as many as Ray's maximum worker proc?) or two task with the same index in different nodes.

[2022-07-07 23:56] rkooo567 opened #26376 "[Core][State Observability] Grouping state APIs when `ray --help` is called."
### Description

Currently, when `ray --help` is called, get and list APIs are mixed up.

We can group them under `Observability:` section so that users can easily know the observability APIs without looking at the documentation.

### Link

_No response_

[2022-07-08 00:08] DmitriGekhtman opened #26377 "[KubeRay][CI] KubeRay autoscaling test is flakey"
### What happened + What you expected to happen

The KubeRay autoscaling test is flaky.
It's on this list.
https://flakey-tests.ray.io/#showAll=true

That should be fixed -- we want high confidence in this feature.

### Versions / Dependencies

Ray master

### Reproduction script

N/A

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-07-08 00:08] aabmets opened #26378 "[Core] Ray not available through pip for Python 3.10"
### What happened + What you expected to happen

The command `pip install ray` fails to install Ray on Python 3.10 on Windows 10, because pip can't find a matching package of ray for Python 3.10.

Line nr 22 in Ray [setup.py file](https://github.com/ray-project/ray/blob/ea94cda1f3d0dc7fd39e259c7e82a07bdc9fafd3/python/setup.py) defines a list of supported Python versions, where version 3.10 is pres

[2022-07-08 00:15] DmitriGekhtman opened #26379 "[KubeRay][Autoscaler] Provide a flag to disable worker health-check."
### What happened + What you expected to happen

The Ray autoscaler health-checks Ray nodes by polling the GCS for Raylet resource data -- if the autoscaler doesn't get resources for long enough, it kills the Ray node.

This behavior is redundant with the health-check that will soon be implemented in KubeRay.
The task is to provide a flag that will disable this behavior when autoscaling with KubeR

[2022-07-08 00:17] #26113 closed

[2022-07-08 02:12] pcmoritz commented on #25228
I created a PR for this in https://github.com/ray-project/ray/pull/26330 :)

[2022-07-08 02:14] pcmoritz commented on #25715
Looks like this was fixed in https://github.com/ray-project/ray/pull/25800 :)

[2022-07-08 02:14] #25715 closed

[2022-07-08 02:23] larrylian commented on #26324
I don't have a mac m1 environment for the time being, so I can't reproduce the positioning problem. How do I use your mac m1 environment analysis。

[2022-07-08 02:33] tianlinzx commented on #26294
Above examle the batch_size is 1024.
Test another two rounds when batch_size is 128

GPUs=2
(BaseWorkerMixin pid=276, ip=10.244.4.46) Epoc: 50, Avg validation loss: 0.89, Avg validation accuracy: 69.84%
(BaseWorkerMixin pid=276, ip=10.244.4.46) --------------------------------------------------------------------------------
(BaseWorkerMixin pid=275, ip=10.244.4.46) Epoc: 50, Avg validation loss: 0

[2022-07-08 02:59] pcmoritz commented on #23847
Indeed!

[2022-07-08 02:59] #23847 closed

[2022-07-08 03:09] pcmoritz commented on #14975
This was fixed in https://github.com/ray-project/ray/pull/19312

[2022-07-08 03:09] #14975 closed

[2022-07-08 03:54] pdames commented on #25740
I can start looking into the changes required to close out this issue, since we have the same requirement for efficient preservation of per-input-file metadata for integrating Ray Datasets with DeltaCAT compute implementations like [statistics collection](https://github.com/ray-project/deltacat/tree/main/deltacat/compute/stats). In our case, this statistics collector needs to preserve a unique cat

[2022-07-08 04:04] jiaodong opened #26383 "[AIR][Dataset] Binary reading from s3 bucket is orders of magnitude slower than expected"
### What happened + What you expected to happen

## Problem

Parallel download from S3 bucket with dataset on large # of image data with binary datasource performs worse than plain aws cp cli.

## Details

While benchmarking AIR data ingest for imagenet, running the follow script with 20GB of images stored in single s3 bucket:

Worked e2e, 14mins doing data IO + processing, 40 secs doing “map” and

[2022-07-08 04:19] #25521 closed

[2022-07-08 04:34] dshi3553usyd commented on #23109
I got the same problem when I run my ray tune for a simple GCN model.

[2022-07-08 05:32] #25228 closed

[2022-07-08 07:51] Harris-Xie commented on #26184
Oh, thanks a lot, your answer really helps me a lot!  There is still only one question I want to ask you: when I get the `allocation` in local_resource_manager.cc , how does Ray implement GPU isolation according to `allocation` ,,does ray do so by setting `CUDA_VISIBLE_DEVICES` env variable ? could you yell me where the code is ?

[2022-07-08 07:54] Harris-Xie commented on #26184
@jjyao

[2022-07-08 08:30] VishDev12 opened #26385 "[Train] Add support for handling multiple batch data types for prepare_data_loader"
### What happened + What you expected to happen

When working with Ray Train, using the `ray.train.torch.prepare_data_loader` method with a dataset that returns a dictionary instead of a tuple from its `__getitem__` method causes issues.

That's because in the `_WrappedDataLoader` class, the `_move_to_device` method only deals with a tuple:

[code]

https://github.com/ray-project/ray/blob/6dd564d8

[2022-07-08 11:43] TedDeVriesLentsch opened #26388 "Remove"
Duplicate.

[2022-07-08 11:51] anaoum opened #26389 "[Datasets] Actors are incorrectly cached in local mode"
### What happened + What you expected to happen

When running an operation on a dataset (such as map, or map_batches), and using an actor strategy by passing in a CallableClass as the `fn`, and `compute="actors"`, the first actor class that is used will be cached and re-used, even if subsequent calls specify a new actor class. This only seems to be the case when ray has been initialised with `loca

[2022-07-08 12:07] ArturNiederfahrenhorst commented on #26324
Hey @larrylian ,
Thanks for taking the time. I cherry picked your commit and also tried out a few other things until I found that nothing helps - except removing the additional linker option for os x. If nobody else is experiencing this issue and it will not gain attention over time, I'll assume the cause of this is hidden somewhere within other libraries on this Mac and reset it at some point.

F

[2022-07-08 12:07] #26324 closed

[2022-07-08 12:49] ArturNiederfahrenhorst commented on #26172
I've reproduced and played a little with resources on the RLlib side to see if the placement groups / resource demands in the monitor change accordingly. This does not seem to be RLlib related to me.

[2022-07-08 12:56] ofey404 opened #26390 "[RFC][Ray Core] Add a warning when running `ray start` again on the same node."
### Description

Show a warning when user run `ray start` twice on the same node. It's a simple feature and I can do it.

 `ray start` should not be launched on the same node twice, but currently there haven't any warnings about this.
- The doc: [Starting Ray via the CLI (ray start)](https://docs.ray.io/en/latest/ray-core/starting-ray.html#starting-ray-via-the-cli-ray-start).

[code]

It would cre

[2022-07-08 13:24] Misterion777 commented on #26280
Hey, glad somebody else also found this problem. It seems, Rllib support for Repeated is buggy now, so I removed all repeated space in my project and made fixed Box spaces and handling padding myself. Hope the team will take a look into this problem.

[2022-07-08 13:45] inpefess opened #26391 "[RLlib] restore from checkpoint fails with torch==1.12"
### What happened + What you expected to happen

Any algorithm trained with torch==1.12 fails to restore from a checkpoint. In torch=1.11 it doesn't happen.
The reason is a new parameter of torch optimisers(e.g. https://pytorch.org/docs/stable/generated/torch.optim.SGD.html#torch.optim.SGD), `foreach`. It has type `Optional[bool]` and is `None` by default. For now, it's equivalent to `False` (see

[2022-07-08 13:48] inpefess commented on #26391
If setting `foreach` to False instead of None seems to be a reasonable workaround for now, I can work on this issue. Another option may be to allow None values in `TensorStructType`, but it can affect too many things.

[2022-07-08 14:05] ethanabrooks commented on #26226
So it sounds like using PID is the way to go?

[2022-07-08 18:02] Anando304 commented on #26375
Any idea what might be causing this? I already tried the suggestions [here](https://discuss.ray.io/t/valueerror-attempting-to-cap-object-store-memory-usage-at-67108864-bytes-but-the-minimum-allowed-is-78643200-bytes/1294/2), but the port-forward still seems to timeout.

### Yaml CHANGES:
I did the following changes to the [example_cluster.yaml](https://github.com/ray-project/ray/blob/master/deploy

[2022-07-08 18:08] rkooo567 commented on #26337
Revisit after https://github.com/ray-project/ray/issues/26299 cc (@iycheng it is highly likely the same cause) for the check failure @stephanie-wang will look at it (same as https://github.com/ray-project/ray/issues/18908).

[2022-07-08 18:08] jjyao opened #26395 "[Core] raylet crashed due to unhandled std::length_error"
### What happened + What you expected to happen

For chaos_dataset_shuffle_sort_1tb, raylet crashes due to unhandled std::length_error. The cause is that we are trying to create a string that exceeds the maximum size.
The code is
[code]

Seems the spilled file is corrupted.

### Versions / Dependencies

master

### Reproduction script

chaos_dataset_shuffle_sort_1tb

### Issue Severity

_No respon

[2022-07-08 18:18] rkooo567 commented on #26137
Only investigate it

[2022-07-08 18:21] rkooo567 commented on #25951
@scv119 @iycheng  can you guys make sure @suquark follow up on this (or find another owner? )

[2022-07-08 18:28] rkooo567 commented on #25429
cc @iycheng can you confirm if it is P0?

[2022-07-08 18:31] rkooo567 commented on #24216
cc @clarng can you let us know what's the current status of this issue?

[2022-07-08 18:31] thatcort opened #26396 "[Data] Pipelines create too many Actors"
### What happened + What you expected to happen

When using Actors with a Dataset Pipeline, the pipeline creates a new instance of the Actor per block processed. This ignores the ActorPoolStrategy and results in a lot of instantiation overhead that Actors are meant to avoid.

Here is the output of running the included reproduction script. You can see that the actor is instantiated for every block

[2022-07-08 18:42] rkooo567 commented on #25890
cc @jjyao

[2022-07-08 18:46] rkooo567 commented on #21782
cc @jjyao to update

[2022-07-08 18:50] #17001 closed

[2022-07-08 18:51] RuofanKong commented on #18053
Hi @rkooo567, it seems the ticket is automatically closed, and I wonder if this has been fixed.

[2022-07-08 18:51] #13995 closed

[2022-07-08 18:58] #25127 closed

[2022-07-08 19:16] DmitriGekhtman commented on #25909
Going to re-open as there's some indication that the issue is still occurring for some users.
https://github.com/ray-project/ray/issues/25909

[2022-07-08 19:16] DmitriGekhtman commented on #26375
I'd love to pair program on this, as we have been seeing dashboard port-forwarding issues off and on K8s.
https://github.com/ray-project/ray/issues/25909

[2022-07-08 20:06] rickyyx commented on #26137
We did see regressions with various scale of some stable shuffle tests, starting July 7 around 10pm reporting times.
The potential commits candidates resulting this regression are from:
- b803792b58de5a6d317aaadf030d59f269c0d0db (the previous nightly run)
- f2f108686841a3f5946523b65baaccb56c3a47f5 (the degraded nightly build)

<img width="1053" alt="image" src="https://user-images.githubuserconten

[2022-07-08 20:34] xwjiang2010 commented on #26294
Hmmm, just to make sure we are running the same example (as there are two in the thread already), are you using testing this [script](https://github.com/anyscale/academy/blob/main/ray-train/04-Ray-Train-with-PyTorch-FashionMNIST.ipynb)?
See my result [here](https://github.com/ray-project/ray/issues/26294#issuecomment-1177105132). We definitely are not expecting 4GPUs to take longer than 2GPUs time

[2022-07-08 20:45] clarkzinzow commented on #26389
@anaoum Can you try this on latest master? I'm not able to reproduce this on latest master, I think this might have been fixed incidentally in this commit: https://github.com/ray-project/ray/commit/caa3868570cfb39500766cdddf956b8494511e6b

[2022-07-08 20:51] clarkzinzow commented on #26286
@giucesar I tried to reproduce this issue following a similar flow on latest master but I wasn't able to encounter such a failure, could you post a reproduction script here the triggers this failure?

[2022-07-08 20:57] clarkzinzow commented on #26396
Hey @thatcort, thank you for filing the issue! I can reproduce this on latest master, this looks like an issue with sharing the actor pool strategy across windows of a pipeline.

[2022-07-08 21:06] kouroshHakha opened #26399 "[RLlib] Update the docstrings / error checkings regarding supported datasets in AlgorithmConfig"
### Description

With [this PR](https://github.com/ray-project/ray/pull/26304) merged, we have to now update the documentation regarding the input dataset format supported for offline RL. The old way of specifying the datasets does not work anymore:

Examples that do not work anymore:
[code]
[code]

### Link

_No response_

[2022-07-08 21:13] jiaodong commented on #26383
Updated investigation findings with @clarkzinzow:

1) Change PyArrow to open_input_file() should bring it from 25MB/s to ~170MB/s with 7x improvement
   - This is due to open_input_stream() took ~1sec to read a single file and didn't quite work as our expected way.

2) There's still another 3x improvement opportunity by better parallelizing the workload or amortize cost of creating new workers / t

[2022-07-08 21:19] kouroshHakha opened #26401 "[RLlib] error message confusing when path is wrong"
### What happened + What you expected to happen

Implement this https://github.com/ray-project/ray/blob/master/rllib/offline/dataset_reader.py#L30 with try except.

The behavior right now is that if the file does not exist, it will try to base the root from rllib and go from there, but then if it doesn't exist either it will throw error based off of rllib root, not the current directory. With try

[2022-07-08 22:26] #22069 closed

[2022-07-08 22:27] jianoaix commented on #22069
Closing now, feel free to reopen if we still see the issue.

[2022-07-08 22:31] rkooo567 commented on #26137
Fix WaitManager dealing with duplicate objects seem sketchy. cc @jjyao @stephanie-wang @scv119 do you guys have context of that PR? (have no memory reviewing that)

[2022-07-08 22:39] rkooo567 commented on #18053
Let me check this soon

[2022-07-09 00:03] anaoum commented on #26389
I can confirm that the issue is:

- resolved in d234348bd2cd0a6cf1d300c228e07980e4053268 (latest master)
- resolved in caa3868570cfb39500766cdddf956b8494511e6b (the commit you mentioned)
- present in 647f6790c07bfe5677fc0598772dace8c62fccbc (parent of the commit you mentioned)

[2022-07-09 00:03] #26389 closed

[2022-07-09 00:09] richardliaw opened #26410 "[AIR/Tune/Docs] Mass documentation testing failure"
### What happened + What you expected to happen

Basically, our Jupyter notebook testing has been broken for months, leading us to check in dozens of broken documentation and tests.

This is largely impacting RL / AIR / Tune.

Relevant PRs:
#26409

A full list of test failures can be found here:

<google-sheets-html-origin>

  | Status | Failure
-- | -- | --
//doc/source/data/examples:nyc_taxi_bas

[2022-07-09 00:13] stephanie-wang commented on #26226
Yes, let's try PID first!

[2022-07-09 00:16] richardliaw commented on #26410
My recommendation moving forward:

1. Fix the AIR issues, as there's mainly 2 issues (S3 and RL datatype handling)
2. Fix low hanging fruit
3. Disable other tests that require larger testing harness changes (horovod, pip installation), and file P0s for component owners to fix.

[2022-07-09 00:28] wuisawesome commented on #26138
Ok, it seems this was an infra issue misclassified as an autoscaler issue, due to a bug in the release testing infrastructure (fixed by https://github.com/ray-project/ray/pull/26236).

The actual infra issue is due to the (private) node provider providing returning corrupt information. The bug is that the output is corrupt.

#26236 means that this should be correctly classified as an infra issue n

[2022-07-09 00:28] #26138 closed

[2022-07-09 00:32] suquark commented on #24029
Close this issue with #24697

[2022-07-09 00:32] #24029 closed

[2022-07-09 00:37] wuisawesome commented on #26172
@spacegoing can you share your `gpu.yaml`?

[2022-07-09 00:40] spacegoing commented on #26172
Many Thanks Alex. Links are in this post. https://github.com/ray-project/ray/issues/26172#issuecomment-117293298. Sorry I'm on my phone now.

[2022-07-09 00:53] wuisawesome commented on #26172
@spacegoing on your worker node can you set `max_workers: 3` in your `ray.worker.default` configuration?

[2022-07-09 01:27] spacegoing commented on #26172
@wuisawesome Hi Alex, I did a quick test and it didn't work. Here are screenshots FYI:
Yaml:
<img width="689" alt="Screen Shot 2022-07-09 at 09 21 35" src="https://user-images.githubusercontent.com/5180020/178086369-3cfb929b-5fb2-479c-a484-c46d138f7987.png">

`ray exec gpu.yaml "rllib train -f rllib_test.yaml"` output:
<img width="1352" alt="Screen Shot 2022-07-09 at 09 25 42" src="https://user-im

[2022-07-09 01:36] onlyone2019 commented on #26342
@tupui  Thanks for your suggestions. I have tried using `conda activate env1;python job.py` , but It does not seem to work. Maybe @architkulkarni is right.
[code]

Unfortunately, I doesn't know how to debug. Next, I'll do some experiments with `environment.yaml`.

[2022-07-09 02:00] onlyone2019 commented on #26342
Hi @architkulkarni, thank you sincerely! I want to use different versions of python environments and I use anaconda to install them. Therefore, I only have conda environments in my PC. If I want to use specific python environment for each job, maybe providing a conda `environment.yaml` to install the environment from scratch is a better way. Next, I'll do some experiments with `environment.yaml` .

[2022-07-09 03:01] mgerstgrasser opened #26413 "[RLlib] check_multiagent_environments() tries to step all agents at the same time"
### What happened + What you expected to happen

The check_multiagent_environments() method in [rllib/utils/pre_checks/env.py](https://github.com/ray-project/ray/blob/master/rllib/utils/pre_checks/env.py) does not work correctly with environments that do not have all agents move at every step. Some issues are already fixed on the main branch (e.g. #25506 ), but there is at least one more:

In [lin

[2022-07-09 04:25] iycheng commented on #25429
I think it's important to fix. @scv119  can decide the priority.

[2022-07-09 04:29] iycheng opened #26414 "[Core] Deadlock when actor is failed"
### What happened + What you expected to happen

When actor is dead and driver submitting tasks, there is a deadlock. The deadlock is caused by GIL in python.

In this https://github.com/ray-project/ray/issues/12644, NOGIL is removed and this is the root cause.

### Versions / Dependencies

master

### Reproduction script

kill actor and submit task in the same time.

### Issue Severity

High: It

[2022-07-09 04:32] iycheng commented on #26414
[code]

[code]

[2022-07-09 05:08] tianlinzx commented on #26294
We are testing the same script .
I my ray cluster, I have 2 GPUs installed on  server 1 ,another 2 GPUs installed on  server 2 ?
Does this matter ?

[2022-07-09 09:13] richardliaw opened #26423 "[Datasets] fsspec HTTPFileSystem does not work for reading http files"
### What happened + What you expected to happen

[code]

This fails and is an important user path.

The main problem seems to be in https://github.com/ray-project/ray/blob/0c469e490e0ed5e6ca848c627f3b852382e2bf2a/python/ray/data/datasource/file_based_datasource.py#L505 since if you comment this out then the code will run.

What ends up happening is that the `https` prefix is removed and then `HTTP

[2022-07-09 10:05] troymyname opened #26424 "Issue Regarding Future Warnings"
Hi, I am currently at Ray 1.13.0, and am getting a lot warnings regarding deprecation of code from Pandas, SciPy, etc. Could these be taken care of? Please review below.

2022-07-09 06:04:11,456	INFO services.py:1470 -- View the Ray dashboard at http://127.0.0.1:8265
(raylet) /usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (4.0.0) does

[2022-07-09 11:12] troymyname commented on #21781
@scv119 I am not sure why this issue was closed without properly understanding the root-cause. Do we know what is different in different versions of ray that led to this issue going away?

[2022-07-09 14:28] simonsays1980 commented on #12509
@gjoliver This can be closed I think

[2022-07-09 15:21] clarkzinzow commented on #26423
Interesting, removing the protocol prefix is required for other filesystems (e.g. S3), but must not be for the HTTP fsspec implementation.

We can certainly add a special-case for `HTTPFileSystem` to make sure the protocol isn't removed.

[2022-07-09 16:25] tupui commented on #26294
It matters for small jobs. As any multi-cores strategy, it's only worth it if the unit of work is greater than the communications required between cores/nodes.

[2022-07-09 18:36] JiahaoYao opened #26426 "[Ray component: Core] Enable better progress bar"
### What happened + What you expected to happen

[code]

and I get the outputs

[code]

https://github.com/ray-project/ray/issues/9233 https://github.com/ray-project/ray_lightning/issues/176

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

High: It blocks me from completing my task.

[2022-07-09 18:39] wilsonwang371 opened #26427 "Add python redis package to ray Dockerfile"
### Description

To support Ray HA. currently we need external redis. For python to connect to redis server, we need python redis package. Currently, redis package is not installed in ray image. We need to have it installed in the dockerfile

For Kubeary to support Ray HA, in our current patch, we need to install redis package https://github.com/ray-project/kuberay/pull/294

@simon-mo @iycheng @br

[2022-07-09 20:24] jjyao commented on #26395
This is what happened:

1. Object A is fused with object B and C and the disk file is ray_spilled_objects/A-multi-3 (named after the first object)
2. Object A is unpinned and removed. However B and C are still in scope so the disk file is still there.
3. Object A is recreated due to lineage reconstruction.
4. Object A is fused with object D and E and the disk file is ray_spilled_objects/A-multi-3

[2022-07-09 22:40] truelegion47 commented on #26385
Hi folks, I have a[ Draft PR](https://github.com/ray-project/ray/pull/26430) for this issue. Is this what we are intending to do here for dict handling ? Please provide feedback when you get a chance.

[2022-07-09 23:18] #25491 closed

[2022-07-10 02:03] jobeid1 commented on #10448
@evo11x My colleague discovered that RLLib doesn't automatically initialize state or update state when using a trainer with attention or lstm as it does when using tune. It really ought to, and I think they have plans to make this easier in version 2.0. You will need to initialize the state and then update the state at each step.

[2022-07-10 04:46] brucez-anyscale commented on #26427
@iycheng Should we already have the package? Otherwise, how does the GCS access the redis now?

[2022-07-10 08:06] GoingMyWay commented on #7724
The same issue has not been resolved yet.

[2022-07-10 08:21] richardliaw commented on #26410
Merged #26409 which disables tests and reverts some of the Pandas changes (#26009). This is a regression and should be addressed before beta.

[2022-07-10 11:05] darkcoder2000 opened #26432 "[RLlib] Can't use environment "ALE/Tetris-v5" with rllib"
### What happened + What you expected to happen

Hello, I am having trouble using the 'ALE/Tetris-v5' env with rllib.

When starting training I am getting an error saying

[code]

However, I can use the same Tetris environment in stablebaselines which I use in the same virtual python env.
So the Tetris evironment is working in general.

### Versions / Dependencies

python 3.7.13
ale-py

[2022-07-10 11:59] evo11x commented on #10448
@jobeid1 the training is working, the error appears when I restore a trained agent and then I get the error at compute_single_action
How can I initialize and update the state?

[2022-07-10 14:46] thatcort commented on #21161
What sort of execution guarantee are you aiming to provide? Exactly once? At least once?

[2022-07-10 19:23] gjoliver commented on #26357
I have https://github.com/ray-project/ray/pull/26433 to fix the warnings.
Verified that this test passes fine on Linux.
also strangely, TF has some kind of low level issue on M1 as well.

[code]

[2022-07-10 19:27] mattip commented on #26357
You used the same versions of the dependencies as listed in the issue description and it passed?

[2022-07-10 19:52] christy commented on #26173
@spacegoing - Can you add more specific info to this issue to help our engineers?  Command you used?  Error message?

[2022-07-10 20:56] DmitriGekhtman commented on #26239
An ideal fix would be to make the `terminate_node` call non-blocking for the NodeProvider implementation you are using.

Alternatively, the NodeProvider implementation you are using could implement an override which batches the calls, as suggested in the doc string.

Which implementation are you using? We could consider optimizing that particular NodeProvider.

[2022-07-10 21:01] giucesar commented on #26286
It still happens randomly.
I tried to write a smaller script for you to reproduce but failed. From what I figured out, the named tuple has two dictonaries with named tuple values (dict[str, NamedTuple]) on it. I tend to believe that the overcomplicated data structure is the cause of it.

`NamedTuple('dummy',[('name',str),('table_a',NamedTuple('tablea',[('val1',int)...]),('table_b',NamedTuple('tabl

[2022-07-10 21:01] #26286 closed

[2022-07-10 21:14] DmitriGekhtman commented on #26087
K8s node provider is on the path to deprecation. external_ips are used in "Ray up" when starting the head node. internal_ips are used for communication within the cluster. I believe there's a "use_internal_ips" argument passed into the NodeUpdater that determines which ip is used to execute SSH commands.

Yes. One Ray node per VM per ip was the assumption when the autoscaler was implemented. As us

[2022-07-10 21:54] yoavhacohen commented on #26239
Thanks, I'm using GCP.
An optimized version of it would be really helpful!

[2022-07-10 22:16] hetankevin commented on #26320
Am experiencing this same issue. What do you mean by "dashboard lack of package"? `from ray.dashboard import *` works fine for me, but upon executing `ray.init()` or even `ray.init(include_dashboard=False)` my kernel dies.

[2022-07-10 22:34] hetankevin commented on #26320
Ah, got it. `pip uninstall grpcio` and then `conda install grpcio` worked for me.

[2022-07-11 00:04] ijrsvt commented on #26173
You may also want to add `--dashboard-host=0.0.0.0` to the `ray start` command to allow connections from outside the host.

[2022-07-11 02:15] tianlinzx commented on #26294
@tupui Thanks . We will try more complicated training tasks later on and temporally close this issue.

[2022-07-11 02:15] #26294 closed

[2022-07-11 02:33] kfstorm commented on #22664
I can work on making this upstreamed.

[2022-07-11 02:40] larrylian commented on #26324
OK，Because I can't find the m1 environment now, I can't reproduce the problem. So I will not solve this problem yet. If anyone encounters it again, I will try to solve it.

[2022-07-11 02:50] onlyone2019 commented on #26342
**Hi @architkulkarni. I want to submit a job using some python packages that my ray cluster doesn't have installed. Could you give me an example of getting the cluster to install packages at runtime, either using pip or conda?**

[2022-07-11 02:53] kfstorm commented on #21296
@clarkzinzow Sorry for the late reply. Unfortunately, I don't have the bandwidth to work on this.

[2022-07-11 03:21] clarkzinzow commented on #21296
Hey @kfstorm, no worries, I opened a PR for this last week! https://github.com/ray-project/ray/pull/26313

[2022-07-11 04:03] xwjiang2010 commented on #26410
Question:
How does converting to jupytext work?
For example I am looking at this `feast_example`. I notice that a bunch of commands are incorrectly commented out during conversion.

For example, the part of downloading and unzipping the feast repo, which then leads to the error.
[code]

Is this expected?

[2022-07-11 04:06] zhenfeng-cao commented on #2618
hi @atumanov
has the issue been solved in the latest version of workflow?

intuitively, the steps nested in some other step would have higher priority.
so, the priority could be automatically inferred from this relationship given that users using worflow to organize their tasks.

(I have no idea how ray's worklow constrols task priority internally--- using priority queue?)

could you explain this

[2022-07-11 07:10] #26271 closed

[2022-07-11 07:11] jiewu-stanford commented on #26271
This turns out to be the Ray version issue. The error occurs for Ray v1.6 but disappears once Ray is upgraded to v1.13

[2022-07-11 07:13] hongery commented on #21578
how to do ?

[2022-07-11 09:45] darkcoder2000 commented on #26432
After installing everything from scratch using python 3.8 in a new virtual environment the issue is gone.

[2022-07-11 09:45] #26432 closed

[2022-07-11 10:12] wqh17101 commented on #23046
keep it

[2022-07-11 12:08] WangTaoTheTonic opened #26435 "[core][c++ worker] RayClusterModeTest.DefaultActorLifetimeTest timed out in macOS"
### What happened + What you expected to happen

RayClusterModeTest.DefaultActorLifetimeTest failed, only in MacOS CI.
After offline discussion with @larrylian , it could be related with [symbols hiding](https://github.com/ray-project/ray/commit/c8a90e00acba0081af5a4f6b3f676febe136e358).
Will discover more and fix it.

### Versions / Dependencies

master branch

### Reproduction script

through CI

[2022-07-11 12:11] GoingMyWay commented on #24990
Similar issue, ray 1.13.0, `ray.get()` is slower than before.

[2022-07-11 12:47] TedLentsch opened #26437 "[RLlib] Use observations (input_dict) for exploration"
### Description

I want to do exploration based on the observations that follow from the environment. Currently, the network output is given as input to the exploration for the greedy action, but the network input (the observations) is not given as input to the exploration. For the random action, I want to give some actions a higher probability of being chosen, because I have a prior about some ac

[2022-07-11 12:50] #26388 closed

[2022-07-11 15:25] xwjiang2010 opened #26440 "[ml release] horovod train test is failing"
### What happened + What you expected to happen

  File "train_horovod_multi_node_test.py", line 26, in <module>
    assert len(worker_result) == num_epochs
TypeError: object of type 'NoneType' has no len()

https://buildkite.com/ray-project/release-tests-branch/builds/764#0181e4fe-99ff-45df-840a-56e289a62e11

### Versions / Dependencies

Master

### Reproduction script

NA

### Issue Severity

Me

[2022-07-11 16:11] jiaodong opened #26441 "[AIR][Dataset] Calling .map leads too 100GB+ spilled object on 20GB dataset with 140GB object store memory"
### What happened + What you expected to happen

As titled.[]

My setup
[code]

The `.map` leads to object spilling logs

[code]

In addition, over multiple runs, we didn't seem to release disk spaces as needed.

<img width="680" alt="Screen Shot 2022-07-11 at 9 13 50 AM" src="https://user-images.githubusercontent.com/6372689/178309783-57296d3a-b688-414d-9cc7-a94cb1f6d2de.png">

### Versions / Dep

[2022-07-11 16:21] johnwalz97 opened #26443 "[Core] Observing Multiple Exceptions When Using Different Python Patch Versions"
### What happened + What you expected to happen

I am using a Ray cluster running on Kubernetes (managed by the Kuberay Operator). The head and worker pods are using the official `rayproject/ray:1.13.1-py39` Docker image. The Ray client is being started on another pod, which is running the Jupyter Docker Stacks image, that provides a Jupyterlab server with Python 3.9 as well. I'm running into quit

[2022-07-11 16:36] clarkzinzow commented on #25743
Ropening since this was reverted.

[2022-07-11 17:14] richardliaw commented on #26423
Actually, can we also make it so that HTTPFileSystem is automatically inferred if `fsspec` is installed and the provided uri is prefixed with `http`?

This would allow all of our examples to read directly from the s3 http links.

[2022-07-11 17:14] clarkzinzow commented on #26286
@giucesar No worries, thank you for pushing on finding a workaround! I'll spend some time trying to reproduce it with some complicated data representation and will re-open if I'm able to reproduce it.

[2022-07-11 17:23] clarkzinzow commented on #26423
Definitely, that's a good idea!

Hmm I'm not sure that we want to advise that over the S3 object URIs, I think that this would result in degraded performance and some usability issues. We should instead focus on fixing the current perf and usability issues with the S3 object URI path, since that is more tailored to the storage system and therefore has a higher perf and usability ceiling.

[2022-07-11 17:34] Anando304 commented on #26375
Seems like we resolved the timeout issue!

### Solution:
Updating the **example-cluster.yaml** used for deploying the ray cluster via no helm approach, did the trick:
[code]

the difference is adding:

[code]
to each pod.

**Istio** is a mesh network add-on to Kubernetes, that injects a sidecar into every pod which can cause some issues. We can disable it on a pod-by-pod basis with that annotation

[2022-07-11 17:37] Yard1 commented on #26410
I'll pick up the tune/examples ones

[2022-07-11 17:43] jiaodong commented on #26410
Synced with @xwjiang2010 offline, i will start from the bottom with air examples with s3 related issues first

[2022-07-11 17:58] jiaodong commented on #26410
For `//doc/source/ray-air/examples:upload_to_comet_ml` the first error i see from repro-ci is

[code]

That seems to be the private key with an account https://www.comet.com/docs/quick-start/#getting-your-comet-api-key @Yard1 you seemed to added the notebook, do you have any context of what value to use there ?

[2022-07-11 18:10] richardliaw commented on #26423
Now if you can get this to work without configuring credentials, I think that'd be great. But as far as I can tell it's not possible?

[2022-07-11 18:22] DmitriGekhtman commented on #26427
The GCS does not access Redis by default right now. I'll open a quick PR for this now.

[2022-07-11 18:27] wuisawesome commented on #26172
Ah actually, I'm realizing right now that your job is starting its own separate ray "cluster", not connecting to the real one. Can you do `RAY_ADDRESS=auto ray exec gpu.yaml "rllib train -f rllib_test.yaml"`?

[2022-07-11 18:56] christy commented on #26173
@spacegoing - Can you try Alex's and Ian's comments?  Did this solve it for you?  Please let us know!  Thanks!

[2022-07-11 19:20] clarkzinzow commented on #26423
@richardliaw That's the usability issue that I'm referring to, and @c21 is looking into that this sprint (today, actually!) so we should have a feasibility conclusion this sprint.

Note that this isn't an access denied error, which is an [error code 15](https://github.com/aws/aws-sdk-cpp/blob/c4a5c1e5c861c880e638f66e37947094b4548e9e/aws-cpp-sdk-s3/include/aws/s3/S3Errors.h#L35), this is an unknown

[2022-07-11 19:32] richardliaw commented on #26423
Nice! So seems like the explicit configuration works and datasets will work now.

[2022-07-11 19:39] clarkzinzow commented on #26423
@richardliaw Thanks for checking! In that case, I think that defaulting to the HTTPS URLs in our docs and examples should be the default, although we should do a performance check; if the HTTPS fsspec filesystem is way slower than the Arrow S3 filesystem, then we should recommend using S3 URLs over the HTTPS URLs in the docs.

[2022-07-11 19:40] richardliaw commented on #26423
How did you come to that conclusion? The dataset option seems to work fine right, so we can default to s3 right?

[2022-07-11 19:41] clarkzinzow commented on #26423
Ah is the manual `S3FileSystem` configuration, `s3 = S3FileSystem(region="us-east-2", anonymous=True)`, not a dealbreaker? I thought that would dip it below the docs quality bar.

[2022-07-11 19:44] richardliaw commented on #26423
Hmm, well after you fixed the ACLs on the bucket, you can just do:

[code]
now, so s3 should work fine with datasets without any other configuration knobs?

[2022-07-11 19:45] clarkzinzow commented on #26423
Oh really? By

I thought that you mean that `ds = ray.data.read_csv("s3://air-example-data/breast_cancer.csv")` would break, since there's no explicit region-specific and anonymous filesystem specified. I.e. I thought that
[code]
would be required.

[2022-07-11 19:48] richardliaw commented on #26423
Yep I meant `Test Arrow with minimal configuration` codeblock is broken. Cool, thanks!

let's leave this open as the https path is still quite important to fix.

[2022-07-11 20:12] pcmoritz opened #26452 "[Core] context_dashrow.html.j2 file not shipped as part of linux wheels"
### What happened + What you expected to happen

This was introduced in https://github.com/ray-project/ray/pull/25730 -- the html templates are not shipped as part of the linux wheels. This leads to and error like

<img width="1299" alt="Screen Shot 2022-07-11 at 1 11 32 PM" src="https://user-images.githubusercontent.com/113316/178349790-7af3ce95-03cb-47d2-97c9-e9b64ec76dcf.png">

when ray.init is

[2022-07-11 20:15] clarkzinzow commented on #26423
@c21 If the latter (`ds = ray.data.read_csv("s3://air-example-data/breast_cancer.csv")`) works, then we can consider https://github.com/ray-project/ray/issues/19799 to be mitigated, and we should ping @dmatrix to try out public, anonymous access with Ray Datasets on one of our `air-example-data` S3 datasets. If it works, then we can consider that issue fully resolved.

@dmatrix could you try [this

[2022-07-11 21:23] richardliaw commented on #26423
OK this is unfortunate. I tried pushing this onto CI, and it's still not working, even after we adjusted the ACLs.

[2022-07-11 21:39] #26395 closed

[2022-07-11 22:21] spacegoing commented on #26172
@wuisawesome many thanks for your reply. I tried `RAY_ADDRESS=auto ray exec gpu.yaml "rllib train -f rllib_test.yaml"` in terminal but it seems not making much differences. Here are screenshots:

![Screen Shot 2022-07-12 at 06 19 07](https://user-images.githubusercontent.com/5180020/178368462-a8b66217-98cc-452a-a711-2636139f8e47.png)

![Screen Shot 2022-07-12 at 06 19 29](https://user-images.githu

[2022-07-11 22:38] spacegoing commented on #26173
@christy Hi Christy, sorry for the late reply. Everything works now. Many thanks for everybody's help!

Here is the ray cluster configuration file [gpu.yaml](https://github.com/spacegoing/ray_test/blob/master/gpu.yaml) I configured ray cluster to use p2.xlarge (it has 1 GPU / instance).

I run following commands:
1. On my `local` laptop, connecting to an AWS server through ssh port forwarding:
`ss

[2022-07-11 22:38] #26173 closed

[2022-07-11 22:55] simon-mo opened #26455 "[Serve] Autoscaler thrashing behavior when delay_s < look_back_period"
### What happened + What you expected to happen

When the downscale_delay and upscale_delay is < look_back_period_s, there are weird behavior that the replicas will be started and shutdown repeatedly until the metric stabilizes.

Log

[code]

### Versions / Dependencies

master

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-07-11 23:05] architkulkarni commented on #26455
+1 independently ran into this

[2022-07-11 23:26] simon-mo opened #26456 "User guide -> Configuring HTTP and BYO FastAPI"

[2022-07-11 23:27] #26456 closed

[2022-07-11 23:40] wuisawesome commented on #26172
Can you run `ray exec gpu.yaml "ray status"`? without running your script? (and then run it from a separate terminal with the script running?)

[2022-07-11 23:49] spacegoing commented on #26172
Am I using `ray exec gpu.yaml "ray status"` correctly? In my case this command returns immediately after executing. Below are outputs:

1. `ray status` before running script:
![Screen Shot 2022-07-12 at 07 43 58](https://user-images.githubusercontent.com/5180020/178376844-d3c67de2-f6b1-4ae0-bfc9-68b205476002.png)
2. `ray status` after running `RAY_ADDRESS=auto ray exec gpu.yaml "rllib train -f rll

[2022-07-12 00:33] DmitriGekhtman commented on #26173
Just double-checking:
Did you have to connect to a remote server to `ray up` as a work-around to the issue, or were you working with a remote server when you originally posted this issue?

[2022-07-12 00:51] wuisawesome commented on #26172
k 2 things

1. I confused the order of the env var, can you run `ray exec gpu.yaml "RAY_ADDRESS=auto rllib train -f rllib_test.yaml"`
2. It seems that you have multiple head nodes started on the same machine now. Can you rerun `ray down -y gpu.yaml; ray up -y gpu.yaml` to do this on a fresh cluster?

[2022-07-12 00:56] #26427 closed

[2022-07-12 01:32] spacegoing commented on #26172
@wuisawesome Hi Wu, good news. With `ray exec gpu.yaml "RAY_ADDRESS=auto rllib train -f rllib_test.yaml"`, the autoscaler is working now! I see workers are spinning up now.

However, a new problem: the algo is still pending and never run. Workers are kept removed because of ideling. Here are screenshots FYI:
<img width="1344" alt="Screen Shot 2022-07-12 at 09 25 29" src="https://user-images.github

[2022-07-12 01:34] GoingMyWay commented on #24990
Note that, initially, ray.get() is 50-60% slower than 1.11.0. Then, after many timesteps of training, ray.get() is faster and gradually become normal. Note that such behaviour is not frequent. Ray may keep such a slower speed during the whole training process.

In my case, the size of the data fetched by `ray.get()` is `60*50*88*88*8`.

[2022-07-12 03:16] xwjiang2010 commented on #26410
@jiaodong could you take a look at `setup_credentials.py`? I believe this is run to set up the right credentials to talk to either wandb or comet-ml backend. Maybe something is not working there.

[2022-07-12 04:14] zzNancy1106 commented on #23109
I met the same problem. Have you solved this problem?

[2022-07-12 06:04] larrylian commented on #26324
I have reverted my previous code, you can update the code and try again to see if there is still a problem.
https://github.com/ray-project/ray/pull/26438

[2022-07-12 07:56] #26377 closed

[2022-07-12 09:14] biello commented on #25886
@DmitriGekhtman any news?

[2022-07-12 11:15] WangTaoTheTonic commented on #26183
PR merged. Closing this.

[2022-07-12 11:15] #26183 closed

[2022-07-12 12:33] spacegoing commented on #26173
@DmitriGekhtman Hi Dmitri, the first time I post I used the server. My laptop is an MBP with apple M1 chip.

[2022-07-12 13:30] krfricke commented on #26047
This should have been resolved by #25406

[2022-07-12 13:30] #26047 closed

[2022-07-12 14:58] xwjiang2010 opened #26465 "[CI] `linux://doc/source/ray-air/examples:lightgbm_example` is failing/flaky on master."
- adfdc26dd32be6ce49dbd342e4d95aebb61fc887 FAILED [Buildkite :book: :airplane: Ray AIR examples](https://buildkite.com/ray-project/ray-builders-branch/builds/8571#0181f2a0-e883-4654-8673-5398575b011c)

....
Generated from flaky test tracker. Please do not edit the signature in this section.
DataCaseName-linux://doc/source/ray-air/examples:lightgbm_example-END
....

[2022-07-12 14:59] xwjiang2010 commented on #26465
seems to be related to https://github.com/ray-project/ray/pull/26442/files

[2022-07-12 15:26] WaterKnight1998 commented on #19909
This also worked for me, thank you very much :).

It would be good if `tune.run(...).best_config` returned the id of the mlflow run. I tried logging the run id in `tune.report` but didn't work :(

[2022-07-12 15:55] HJasperson opened #26468 "[RLlib] Unable to call ray.remote functions inside env/action dist"
### What happened + What you expected to happen

I have a multi-agent environment where the reward is calculated per agent. The reward function is fairly intensive so I'd like to run it in parallel for the various agents. Whenever I try something like below, the script hangs at the first call to the remote function.

I've also tried something similar inside a custom action distribution with the sa

[2022-07-12 16:51] janblumenkamp commented on #7923
Another follow-up: There must be an issue deep in RLLib that causes the gradients to become zero. This patch replaces nans in the gradient with zero in Ray 1.13.0:
[code]
Apply it with `patch -p1 /path/to/python/dist-packages/ray/rllib/policy/torch_policy.py ./patch.patch`
This, at least temporarily, seems to resolve this issue.

[2022-07-12 17:16] #26385 closed

[2022-07-12 18:13] rossstump commented on #26364
I've been dealing with this same issue. Downgrading torch to torch==1.10 fixed it for me. Hope that helps

[2022-07-12 18:22] zcin commented on #26207
This might be a related YAML bug, https://github.com/yaml/pyyaml/issues/411
Tried dumping `{'data': 'a\nb'}` and this is fine.
But dumping `{'data': 'a\n b'}` prints `data: "a\n b"`.

[2022-07-12 18:47] simon-mo commented on #26207
https://stackoverflow.com/questions/8640959/how-can-i-control-what-scalar-form-pyyaml-uses-for-my-data this seems to work!

[2022-07-12 19:13] lastephey opened #26477 "[ray-core] Unable to access worker nodes with ray remote function using NERSC Slurm cluster"
### What happened + What you expected to happen

Dear Ray developers,

I am a staff member at NERSC and am working with @maburidi this summer to evaluate Ray as an HPC workflow tool. We have started from the existing [NERSC scripts](https://github.com/NERSC/slurm-ray-cluster) and have made some modifications as the NERSC example is now a bit out of date.

Our problem seems to be that despite start

[2022-07-12 19:18] pcmoritz commented on #26329
How about we set `RAY_ADDRESS` in the cluster launcher? Then it is very clear which cluster we will connect to and we don't need to make the situation around auto starting clusters more complex :)

[2022-07-12 19:32] simon-mo opened #26479 "[Serve] Example of using FastAPI ingress with Deployment Graph"
### Description

Currently the deployment graph example did not mention how to integrate with existing FastAPI app and the `@serve.ingress` pattern. We need to add a page on that.

### Use case

_No response_

[2022-07-12 19:39] #26465 closed

[2022-07-12 19:40] xwjiang2010 commented on #26410
@Yard1 Can you mark fixed tests in the master table? Thanks!

[2022-07-12 19:48] simon-mo opened #26481 "[Serve][Doc] Best practices of dynamic dispatch"
### Description

Early testers of deployment graph API have been confused on the following questions:

- What's the different between dynamic dispatch vs just serve.get_handle()
- Why don't we juts call serve.get_handle() instead of injecting it in combiner node?
- What's the performance difference between using a dispatch node for chaining vs using the `model_b.predict.bind(model_a.predict.bind(i

[2022-07-12 20:12] d4l3k commented on #22221
Is setting ray address not needed at all any more even when running with a remote cluster?

The other thing is that RAY_ADDRESS is read by both `ray.init` and by job submission API but the format for the two usages is different. ray.init needs `RAY_ADDRESS=auto` or `RAY_ADDRESS=ray://...` but job submission API `RAY_ADDRESS=http://...` for the dashboard address

Are there plans to resolve this inc

[2022-07-12 20:28] architkulkarni commented on #22221
You're right, `RAY_ADDRESS` would still be needed when running with a remote cluster.

But even if using the same format, you wouldn't be able to use the same environment variable, because the ports would be different (you'd need `ray://...:10001` to connect with Ray Client, and `ray://...:8265` to connect to the Job Submission server.).

Our thought here was to prevent confusion by exclusively us

[2022-07-12 22:33] d4l3k commented on #22221
As a user I don't understand why they're different tbh -- seems like they could all go through one port and it'd make it way simpler to reason about. Or if two ports are necessary have one be discoverable by making a request to the other port so it's always exposed the same way

I'd be for splitting this into "RAY_ADDRESS" and "RAY_JOB_ADDRESS" to reduce confusion. Having a standard environment va

[2022-07-12 23:28] #13890 closed

[2022-07-12 23:28] #13894 closed

[2022-07-12 23:28] #13896 closed

[2022-07-12 23:48] suquark commented on #25951
@auderson Yes, this is indeed an error from cloudpickle. Currently a workaround is to move

[code]

to another python module and import it.

@rkooo567 @scv119 I think we should wait for the upstream (cloudpickle) to fix it if this is not a major blocker.

[2022-07-12 23:50] xiaolongrenlzj opened #26489 "[RLlib] "TypeError: can't pickle _thread.lock objects""
### What happened + What you expected to happen

I'm new to Ray. Thanks for providing such a good project.

I'm trying to customize an environment based on gym.Env for Unreal Engine4. In the step() function, I need to send the action to UE4 by socket, so that the UE4 can listen to the port and make changes based on that.  The question is when I use a socketio client in the step function, I got "Ty

[2022-07-12 23:55] pcmoritz commented on #19799
It looks like this is working without credentials now for `read_parquet` (possibly, I'm not 100% sure -- I tried to be as careful as possible to remove all credentials but I can't be sure there is none left).

This is **not** however currently working for `ray.data.read_binary_files` is seems.

[2022-07-12 23:57] pcmoritz commented on #19799
Btw, do we understand what is the difference from what @c21 and I are observing and what @dmatrix has observed before? Was there a code change on our side? Different pyarrow versions?

[2022-07-13 00:19] JiahaoYao opened #26490 "[Ray component: Air] (torch trainer) cuda visiual devices when using ray tune"
### What happened + What you expected to happen

This is the error message

[code]

### Versions / Dependencies

ray 1.13

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-07-13 00:20] JiahaoYao commented on #26490
use the local rank here

https://github.com/ray-project/ray/blob/master/python/ray/train/torch/train_loop_utils.py#L466-L478

[2022-07-13 00:35] ericl commented on #26383
For (2) wouldn't `read_binary_files(..., num_cpus=0.2)` increase the parallelism? Alternatively, we could also use multiple threads within the read task, that would probably be the simplest solution.

[2022-07-13 00:43] truelegion47 commented on #19018
@krfricke Should this issue be closed as it might be already resolved with this PR https://github.com/ray-project/ray/pull/26074 ?

[2022-07-13 00:57] jiaodong commented on #26383
I gave that a try but didn't find significant speed increase however, sometimes even slower as ray will complain for too many tasks. So the numbers I got in 2) is purely from s3 boto reading that might be cutting corners, but it suggests s3 reading NIC is not the bottleneck, we're just not reading efficiently.

[2022-07-13 01:49] truelegion47 commented on #23166
@DmitriGekhtman Added a draft, can you please help take a look when you get a chance ?

[2022-07-13 02:19] jianoaix commented on #26237
Clarence is working on this: https://github.com/ray-project/ray/pull/26092

[2022-07-13 02:42] #26323 closed

[2022-07-13 03:14] jovany-wang commented on #21547
DONE

[2022-07-13 03:14] #21547 closed

[2022-07-13 03:19] WangTaoTheTonic commented on #20460
job anonymous namespace, creating actor with specified names, getting actor with namespace has been supported.
Two subtasks and doc to do. Will implement them ASAP.

[2022-07-13 03:24] #21644 closed

[2022-07-13 03:38] iojw opened #26499 "[Core] Add flag to to block `ray up` until workers are healthy"
### Description

Currently, running the `ray up` command from a clean environment blocks until the head node is started. The worker nodes only begin launching after this, even if `min_workers` is specified. There should be a flag to `ray up` that blocks until `min_workers` worker nodes have started and are healthy.

cc @franklsf95

### Use case

We are trying to run benchmarks on the Ray autoscale

[2022-07-13 03:39] Michaelvll commented on #25886
I just met a similar problem. It seems if you remove the `"` around the entrypoint or the `--` before it. The problem will go away.

[2022-07-13 03:46] WangTaoTheTonic commented on #21380
x-lang invocation from c++ to java also has this requirement. Maybe we can consider them together.

[2022-07-13 03:53] #22561 closed

[2022-07-13 03:55] ericl commented on #25164
This can be a small section added to https://docs.ray.io/en/master/ray-air/check-ingest.html

[2022-07-13 03:57] ericl opened #26500 "[air] Add a Concat preprocessor"
### Description

It would be useful to add a Concat(list_of_columns) preprocessor that returns the columns concatenated. This would simplify basic Torch and TF workflows: https://docs.ray.io/en/master/ray-air/getting-started.html#preprocessing

cc @richardliaw

### Use case

_No response_

[2022-07-13 03:58] biello commented on #25886
@Michaelvll Thank you for your reply，but it seems not the problem.  I tried below but still get the "not found" failure

[code]

[2022-07-13 04:14] #23675 closed

[2022-07-13 04:49] Michaelvll commented on #25886
@biello Oops, sorry. Just tried again. Seems only `ray job submit -- echo test` works. Updated the previous comment. : )

[2022-07-13 05:47] DmitriGekhtman commented on #26064
Permissions errors with the same file are also being reported.
We will see if this if this resolved in the latest update.

[2022-07-13 05:48] DmitriGekhtman commented on #26064
We should make sure this is definitively fixed before the Ray 2.0 release.

[2022-07-13 05:50] DmitriGekhtman commented on #25909
^ Apparently, allowing istio to inject sidecars into your KubeRay pods can trigger this issue too.

[2022-07-13 05:51] DmitriGekhtman commented on #25909
I'm just going to leave this open as low-priority, so we can accumulate more info.

[2022-07-13 05:53] DmitriGekhtman commented on #24889
Duplicate of https://github.com/ray-project/ray/issues/25909

[2022-07-13 05:53] #24889 closed

[2022-07-13 06:11] DmitriGekhtman commented on #26064
See also https://ray-distributed.slack.com/archives/C02GFQ82JPM/p1657667989560389?thread_ts=1657663114.302419&cid=C02GFQ82JPM

[2022-07-13 06:14] DmitriGekhtman commented on #26064
Current status: Need to find out if issues recur with latest autoscaler changes.
Need to collect more data on the circumstances of the bug.

[2022-07-13 06:23] DmitriGekhtman commented on #25886
Thanks for your patience https://docs.ray.io/en/master/cluster/kubernetes.html#running-ray-programs-with-ray-jobs-submission

We have fixed this in the master docs
and added a warning
https://github.com/ray-project/ray/pull/25519

It should be `ray job submit --runtime-env-json='{"working_dir": "./", "pip": ["requests==2.26.0"]}' -- python script.py` without quotes.

I wonder if for certain doc fi

[2022-07-13 06:23] #25886 closed

[2022-07-13 06:45] biello commented on #25886
oh, it works!

`ray job submit --runtime-env-json='{"working_dir": "./", "pip": ["requests==2.26.0"]}' -- python script.py` works too!

Thank you so much, you saved my day!

[2022-07-13 07:44] annaprok commented on #8496
@acxz @ericl @Catypad  Did you manage to solve the issue? I am having the same problem :(

[2022-07-13 08:16] simonsays1980 opened #26511 "[RLlib] AttributeError: module 'tensorflow' has no attribute 'RunOptions'"
### What happened + What you expected to happen

# What happened
I ran PPO with the environment variable `"TF_TIMELINE_DIR"` to create the TensorFlow timeline for profiling. I got an error:

[code]

# What you expected to happen
That the timeline gets recorded to the directory I provided. I saw that it needs `tf1` and not `tf` here. I will prepare a PR that fixes this.

### Versions / Dependencies

[2022-07-13 09:02] WangTaoTheTonic opened #26513 "[Serve][Test]//python/ray/serve:test_cross_language timed out in macOS CI"
### What happened + What you expected to happen

//python/ray/serve:test_cross_language timed out and need to be fixed.
We skip it for now.
One of the detailed log is:
[ray-builders-pr_build_38024_mac-apple-ray-core-dashboard-and-serve.log](https://github.com/ray-project/ray/files/9100621/ray-builders-pr_build_38024_mac-apple-ray-core-dashboard-and-serve.log)
.

### Versions / Dependencies

master

[2022-07-13 09:11] Michaelvll opened #26514 "[Job] Job submission not following convention for quote"
### What happened + What you expected to happen

The job submission quotes the user cmd with `subprocess.list2cmdline` (changed in #22011 and proposed in #22004). That may cause the following problems:
1. It violates the conventions:
    - `ssh cluster "echo hello world"` is a valid command and will output `hello world`, but `ray job submit "echo hello world"` will error out.
    - `ssh cluster ec

[2022-07-13 14:14] yangbo19 opened #26518 "A bug"
![1657721361539](https://user-images.githubusercontent.com/95022180/178755131-b6affac3-7ac4-4d7c-846f-834c017aa705.png)

[2022-07-13 14:49] ofey404 commented on #11509
**Well, do we really need an `--address` flag for `ray stop`?**

Previously, I guess `ray stop --address` could:

- kill one set of ray process but leave another on the same node untouched.

But now I realized this functionality might be unproper, since:

1. In principle, there shouldn't be more than one set of ray process in a node.
    - (I submitted an issue about it: #26390)
2. `ray stop` mean

[2022-07-13 15:56] acxz commented on #23675
@pcmoritz this has been incorrectly closed as the latest pytest version is 7.1.2

[2022-07-13 16:37] Yard1 commented on #23449
Waiting on https://github.com/ray-project/ray/pull/25712

[2022-07-13 16:53] jiaodong commented on #26410
So I put up a new PR with uncommented broken notebooks to see which ones are still failing https://buildkite.com/ray-project/ray-builders-pr/builds/38054#0181f666-2fd9-4560-ae73-e9f30bb303d5 seems like the S3 related errors are gone.

Next step i gonna focus on torch related ones:

//doc/source/ray-air/examples:convert_existing_pytorch_code_to_ray_air
//doc/source/ray-air/examples:torch_incrementa

[2022-07-13 17:17] spacegoing commented on #26172
@wuisawesome yes we can LoL. It works now!!!

Didn't expect the answer is so easy. Many thanks for your help!

[2022-07-13 18:25] clarng opened #26524 "Observability: provide visibility into retried attempts"
### Description

It would be great to get visibility into what happened that led to task or actor to ultimately fail, after exhausting retries, or whether retries occured that slowed down the workload.

If I set the retry count and it is used up, or if I set it to infinite retry, I would like to know what are the reasons for the failures, and when, to give me information to better root cause the i

[2022-07-13 18:28] rkooo567 commented on #26524
cc @rickyyx

[2022-07-13 18:37] JiahaoYao commented on #26490
is fixed in the pr https://github.com/ray-project/ray/pull/26493

[2022-07-13 18:37] #26490 closed

[2022-07-13 18:49] Yard1 commented on #26410
`//doc/source/tune/examples:sigopt_example` needs to be moved to nightly tests to ensure that the API key is kept private. The API key is not present in buildkite runners. Also, all SigOpt unit tests are being skipped for the same reason.

[2022-07-13 18:52] stephanie-wang commented on #26137
Nice! I wonder if we can relax the alert thresholds for some of these tests?

[2022-07-13 19:01] pcmoritz commented on #26410
@jiaodong I changed the permissions on our S3 bucket (https://github.com/ray-project/ray/issues/19799#issuecomment-1182607248), that might have fixed the errors on the CI. However we are not out of the woods with those errors, I'm still seeing them in some settings.

[2022-07-13 19:20] yyyuhan commented on #26325
Good day. Have this problem been solved yet? If not, could you run `sudo ps -ef|grep tensorboard` on the host machine (outside Docker container)?

[2022-07-13 19:45] architkulkarni opened #26527 "[Serve] [Ray Client] `serve.shutdown()` starts new Ray cluster"
### What happened + What you expected to happen

After `ray.shutdown()` is called to disconnect from Ray Client, if you call `serve.shutdown()` a new Ray cluster is sometimes started.

`serve.shutdown()` should not create a new Ray cluster.

More details about this issue and a workaround can be found at https://discuss.ray.io/t/serve-shutdown-and-how-to-reconnect-to-cluster/6799.  The workaround i

[2022-07-13 20:04] ericl opened #26528 "[air] Add set_preprocessor / get_preprocessor on the Predictor class"
### Description

There is currently no way to get/set a preprocessor on a BatchPredictor / Predictor once created. This makes it very difficult to figure out how to pass a custom preprocessor to a predictor.

### Use case

_No response_

[2022-07-13 20:06] amogkam commented on #26528
@ericl would using to_air_checkpoint satisfy the use case?

You can create a checkpoint from a model and preprocessor and then pass that into the predictor.  cc @xwjiang2010

https://docs.ray.io/en/master/ray-air/use-pretrained-model.html

[2022-07-13 20:10] mattip commented on #23118
Is the dashboard team interested in updating the speedscope version?

[2022-07-13 20:25] ericl commented on #26528
What if I already have an AIR checkpoint and want to inspect or modify it?
You have to provide these kind of utility methods.

On Wed, Jul 13, 2022, 1:06 PM Amog Kamsetty ***@***.***>
wrote:

[2022-07-13 21:03] Yard1 commented on #26528
We also have `load_checkpoint`. You could combine the two

[2022-07-13 21:08] Harrypotterrrr commented on #13399
Thank you, i came across the same problem in different scenario. I initialize my model in apache beam `__init__`, which should be in `setup` function. Thanks for your answer!

[2022-07-13 21:13] clarkzinzow commented on #19799
@pcmoritz Thank you for making that change to the bucket policy!

I don't think we understand that discrepancy yet, right @c21?

[2022-07-13 21:13] ericl commented on #26528
@Yard1 I think the main issue here is discoverability. As a user, I spent upwards of 5 min trying to figure out how to do this. I would expect there to be some way to set a custom preprocessor in either Predictor directly, or if not, in Checkpoint. I think Checkpoint is the simplest change for now, since adding it to Predictor opens up some can of worms (two ways to set preprocessor).

Btw, for an

[2022-07-13 21:16] c21 commented on #19799
@clarkzinzow - I don't know given same observation between me and @pcmoritz.

Ping again - @dmatrix could you help us try the example (e.g. https://github.com/ray-project/ray/issues/19799#issuecomment-1180830683) again in your environment? Thanks.

[2022-07-13 21:22] pcmoritz commented on #19799
I followed up with @dmatrix offline and currently everything is working in his environment, but he will let us know if the error happens again.

Right now, I can only repro the problem in one setting, which is the CI (https://github.com/ray-project/ray/pull/26482). Will keep digging and seeing if I can find out more.

[2022-07-13 21:39] #18908 closed

[2022-07-13 21:39] clarkzinzow commented on #26383
@ericl in my benchmarking increasing the number of parallel read tasks only slightly improved the throughput (~15%) for the many file case. Once I changed from streaming reads to random access reads, the optimal configuration was 1 read task per CPU core.

[2022-07-13 21:41] avnishn opened #26533 "[RLlib] CRR and CQL consume more cpus than reported"
### What happened + What you expected to happen

the number of cpus that crr and cql consume is more than what is 1 + what is expected if using json reader, and 2+ if using the dataset reader. 1 probably belongs to the dataset reader, but I don't know where the other cpu is coming from...

### Versions / Dependencies

Master

### Reproduction script

rllib/tuned_examples/crr or cql

### Issue Seve

[2022-07-13 21:47] edoakes opened #26535 "[serve] Placement groups leaked when controller crashes at the same time as replicas"
When the controller crashes at the same time as a replica, the placement group(s) for that replica will not be cleaned up. This is because the controller recovery loop relies on listing all named actors in the system to recover the current state. Because the replicas are dead, information about them is not recovered, but their placement groups linger because they must be deleted manually.

This ha

[2022-07-13 21:48] simon-mo commented on #26535
+1 to option 1

[2022-07-13 21:52] Yard1 opened #26536 "[AIR/Docs] Deduplicate AIR-Train examples"
### Description

Legacy Train examples have been converted to use Train. Some of those examples showcase the same features or are outright copies of examples created specifically for AIR. We should review the examples and remove unnecessary ones.

Duplicates:
- python/ray/train/examples/torch_fashion_mnist_example.py : python/ray/air/examples/pytorch/torch_fashion_mnist_example.py
- python/ray/tra

[2022-07-13 21:53] architkulkarni opened #26537 "[runtime env] Add support for URIs in arbitrary plugins"
### Description

Currently only `working_dir` and `py_modules` support URIs.  Here URI means a local resource (e.g. a file directory) that is used by a plugin and can be reused by multiple jobs across the cluster.  We need to add support for arbitrary plugins to use URIs.  Here's the relevant location in the code: https://github.com/ray-project/ray/blob/6ef26cd8ff01628a5b921899d3dc9fe3a31da2e2/das

[2022-07-13 21:55] Yard1 opened #26538 "[AIR/Tune] Add a `ScalingConfig`-based API to `ResourceChangingScheduler`"
### Description

With the new AIR APIs, we should replace the existing `PlacementGroupFactory`-based API in `ResourceChangingScheduler` with a `ScalingConfig` based one (as a part of a greater effort to promote `ScalingConfig` and turn `PlacementGroupFactory` into a purely developer API).

The new API will need to be backwards compatible with the current `PlacementGroupFactory`-based API.

### Use

[2022-07-13 21:59] jiaodong opened #26539 "[AIR] Ensure TorchPredictor works with PredictorDeployment without manual conversion"
### What happened + What you expected to happen

Currently this work for our notebooks:

[code]

But ideally user shouldn't need to write another http adapter for it. We should have it fixed before AIR beta.

### Versions / Dependencies

master

### Reproduction script

https://github.com/ray-project/ray/pull/26453

### Issue Severity

Medium: It is a significant difficulty but I can work around i

[2022-07-13 22:18] DmitriGekhtman opened #26542 "[Feature][Autoscaler] Set RAY_ADDRESS env for the head pod #373"
### Description

For deployment stacks that use node updaters (VMs and legacy K8s operator), have the autoscaler automatically set the following env for the head node
RAY_ADDRESS=localhost:<ray-head-port>

The effect of this is simply to allow connecting to Ray via ray.init() rather than ray.init("auto").

### Use case

Simplifies connecting to Ray.

[2022-07-13 22:19] DmitriGekhtman commented on #26542
cc @pcmoritz

[2022-07-13 22:30] jjyao commented on #26542
Make sure we set that for worker pods as well since driver can run on any node.

[2022-07-13 22:33] lastephey commented on #26477
Hi everyone,

Here's an update. @maburidi discovered that if we added a 2 second sleep to the `print_hostname` remote function, then we see the multinode behavior we expect from the workers, so this is no longer blocking our progress 🎉 . We do have a few questions though.

1) Is this behavior expected? If so, how does ray decide if the function is "enough work" to send to the workers? Is there som

[2022-07-13 22:41] DmitriGekhtman commented on #26542
you are right...However, I am starting to think it'd be better simply to modify the `ray.init()` semantics and avoid messing with the env variables

[2022-07-13 22:59] DmitriGekhtman commented on #26329
Because this requires modifying every supported deployment stack.
Moreover, some users manually set up multi-node Ray clusters or build custom deployment systems.

Modifying `ray.init()` to look for an existing cluster would be simpler.

[2022-07-13 23:11] spolcyn commented on #24419
@simon-mo As it turns out, this didn't resolve the core problem, which appears to be in Ray Core (we've continued to run into the issue with Ray 1.13 and using just actors) -- posted a discussion thread here: https://discuss.ray.io/t/ray-actor-remote-call-blocks-forever/6820

[2022-07-13 23:24] xwjiang2010 commented on #26539
wait, I think I have written something similar for another example:

[code]

Should this also work natively?

[2022-07-13 23:37] kouroshHakha opened #26544 "[RLlib] OPE QReg needs to be fixed"
### What happened + What you expected to happen

Q regression model assumes that the incoming data has an episodic structure which is not true in something like DQN algorithm when time-steps are shuffled and passed to the `estimator.train(batch)`.  We either have to enforce this requirement some how and error out when it's violated, or fix our estimator to take care of this issue.

### Versions /

[2022-07-13 23:38] kouroshHakha opened #26545 "[RLlib] Write GPU tests for OPE methods"
### What happened + What you expected to happen

We need to test whether these methods run on GPU as well without hitting memory or device mismatch issues.

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-07-13 23:43] kouroshHakha opened #26546 "[RLlib] Write learning tests for OPE methods"
### What happened + What you expected to happen

We should write release tests to make sure our OPE implementations are correct and benchmarked properly and their performance metrics are tracked.

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-07-13 23:44] jiaodong commented on #26539
hmm isn't this also another custom adapter ? except this one returns pandas and the one in PR returns numpy

[2022-07-13 23:47] Rohan138 commented on #26544
Per discussion with @avnishn and @kouroshHakha, we're removing Q-Reg in #26279

[2022-07-13 23:47] #26544 closed

[2022-07-13 23:49] jiaodong commented on #26539
If you find the conversion type covered by one of the defaults in https://docs.ray.io/en/master/serve/http-adapters.html then i can be replaced by serve's built-in ones; otherwise we might need to stick with these for a bit.

I think the ideal case is for common cases we have all http adapters we need so just importing the right one is all we need ..

[2022-07-13 23:57] xwjiang2010 commented on #26539
No I don't think they are covered there. But `to_numpy` or `to_pandas` seem pretty common cases to me..

[2022-07-13 23:58] scv119 commented on #26137
I guess it's safe to downgrade to p1 now?

[2022-07-14 00:00] scv119 commented on #26137
<img width="1116" alt="image" src="https://user-images.githubusercontent.com/837180/178856891-3a2fdb42-e31b-4a29-8e0f-a5cd3a33fc84.png">
no obvious regression for last 3 months. closing it now.

[2022-07-14 00:03] scv119 opened #26548 "[Core] able to send signals to Ray actors"
### Description

Why Ray Actor is busy looping, it'd be nice to have a way to send signal to Ray Actor, similar to Posix signal handling.

### Use case

When a ray actor dies unexpectedly due to SIGTERM, etc., is there a way to gracefully shutdown it by creating a handler?

[2022-07-14 00:23] jiaodong commented on #26410
@pcmoritz do you have samples of failed tests due to S3 after your permission change ?

[2022-07-14 00:30] pcmoritz commented on #19799
I also found this, which seems to be the same issue: https://github.com/ray-project/ray/issues/18102

[2022-07-14 01:02] clarkzinzow commented on #19799
@richardliaw What's the current CI failure, do you have a traceback?

There's a code 15 error (access denied) and a code 100 error (unknown error), and we've at least fixed the non-CI cases of the latter.

[2022-07-14 05:18] ericl commented on #26396
This is an interesting issue: the reason the actors were re-created each window is that this avoids potential complications involving deadlock. Imagine for example two stages that both require GPU actors, but there is only 1 GPU available. Without this logic, deadlock could happen.

However, recreating actors does add overhead especially if windows are small. We could consider adding a mode to ret

[2022-07-14 06:08] #20376 closed

[2022-07-14 07:01] xbinglzh commented on #3899
ray.init(address="auto", _temp_dir='/tmp/s1')

also error:
$ /opt/python38/bin/python3 ray-demo1.py
Traceback (most recent call last):
  File "ray-demo1.py", line 12, in <module>
    ray.init(address="auto", _temp_dir='/tmp/s1')
  File "/opt/python38/lib/python3.8/site-packages/ray/_private/client_mode_hook.py", line 105, in wrapper
    return func(*args, **kwargs)
  File "/opt/python38/lib/python

[2022-07-14 08:44] jbedorf commented on #19353
Looks like this has been fixed in the current master, closing this issue.

[2022-07-14 08:44] #19353 closed

[2022-07-14 10:34] Manuscrit opened #26557 "[RLLib] Loading policy state or restoring trainer fails silently with pytorch complex input network."
### What happened + What you expected to happen

The weights inside the one_hot dict (and the flatten dict too I assume) of the pytorch complex input network are not added in the nn.Module.state_dict.
They are thus not saved and not restored/loaded.
This is a silent bug.

### Versions / Dependencies

Observed with:

Ray 1.12 and 1.13
MacOS M1
python 3.9
PyTorch 1.11 and 1.13xxxMacM1Support

### Re

[2022-07-14 10:36] Manuscrit commented on #26557
And also, policy.set_state needs to remove the None values to be able to load/restore checkpoints:

[code]

[2022-07-14 11:23] WaterKnight1998 commented on #20473
Same here @demiladef  @hseelawi

[2022-07-14 11:29] fehtemam commented on #11509
@ofey404 "In principle, there shouldn't be more than one set of ray process in a node."
There might be. It could be from two different users that are working on a shared server and don't know about each other's clusters. While this is not common and there are workarounds (e.g. use docker containers), it can happen. And look at it this way: if ray start starts a specific cluster, why shouldn't ray

[2022-07-14 13:44] #25639 closed

[2022-07-14 14:28] vrazdalovschi commented on #22518
Is it possible to update to 1.47+? We need 1.47+, because previous versions have issues with mac m1 wheels and need to do unpleasant interactions to support it. Thank you!

[2022-07-14 15:55] sihanwang41 opened #26565 "[Serve] Serve autoscaling with ray autoscaler."
### Description

Need a section to explain the how Serve autoscaling works with ray autoscaler

### Link

_No response_

[2022-07-14 16:30] architkulkarni commented on #16711
unstale

[2022-07-14 16:41] Yard1 opened #26567 "[Tune/CI] SigOpt Tests are skipped in CI"
### What happened + What you expected to happen

Tune unit tests concerning SigOpt searcher are currently skipped in CI (in code) and the docs notebook is excluded from CI explicitly. This is due to the missing SigOpt API key in the CI environments. Anyscale has its own API key, and we would like to use it without leaking it. One way to do it would be to run the tests & notebook only for branch bu

[2022-07-14 16:41] Yard1 commented on #26410
SigOpt tracked here - https://github.com/ray-project/ray/issues/26567

[2022-07-14 16:46] richardliaw commented on #26567
Can you pass it in via the buildkite UI? cc @simon-mo

[2022-07-14 17:06] gjoliver commented on #12509
@simonsays1980 thanks for the heads up.

[2022-07-14 17:06] #12509 closed

[2022-07-14 17:25] mihajenko opened #26568 "[Dashboard] The dashboard.py process leaks memory"
### What happened + What you expected to happen

We have observed `RayOutOfMemoryError`s on the ray cluster head node. This failed our main Serve Deployment replica, which is running on the head node. After successfully passing short-term (few hour) stress tests, we expected the head node to be stable.

---

Logs pointed out the `dashboard.py` process might be the cause:
[code]

I raised the issue

[2022-07-14 17:26] #26500 closed

[2022-07-14 17:50] simon-mo commented on #26567
No. The secrets must be injected through our CI infra manually. Release tests is the easiest way to put in such secret; CI build it a bit tough

[2022-07-14 17:52] rkooo567 opened #26570 "[State Observability] Truncate warning message is incorrect when `filter` is used."
### What happened + What you expected to happen

When we filter the data using `--filter`, the truncate warning message kicks in and report the incorrect truncation message. We should fix it.

### Versions / Dependencies

master

### Reproduction script

Try listing a large entries with `--filter`

### Issue Severity

_No response_

[2022-07-14 17:53] rkooo567 commented on #25718
We implemented both rate limiting and data truncation

[2022-07-14 17:57] bveeramani opened #26571 "[Core] Python-only build from source doesn't work"
### What happened + What you expected to happen

I followed the instructions at https://docs.ray.io/en/latest/ray-contribute/development.html#building-ray-python-only. I expected the tests to run correctly, but I got an error instead

[code]

### Versions / Dependencies

**Python**: 3.8.12
**Ray**: ab10890e908abbf50e33796e20f7dd5a3ac006e0
**OS**: Darwin

### Reproduction script

[code]

### Issue

[2022-07-14 18:22] matthewdeng commented on #26571
Hmmm do you somehow have an old version of ray?

    import ray.ray_constants as ray_constants
E   ModuleNotFoundError: No module named 'ray.ray_constants'

This was updated 3 weeks ago: https://github.com/ray-project/ray/blob/43aa2299e6623c8f8c7c4a1b80133459d0aa68b0/python/ray/exceptions.py

[2022-07-14 18:57] bveeramani commented on #26571
I don't think so.

This is the commit for the nightly wheel. It corresponds to a commit from yesterday.

[code]

This is the commit from my cloned repo. It corresponds to a commit from today.

[code]

[2022-07-14 19:04] bveeramani commented on #26571
Wait, I'm being stupid. It's using the Ray package in pyenv rather than the virtual environment. My bad

[2022-07-14 19:04] #26571 closed

[2022-07-14 19:53] fehtemam commented on #11509
@ofey404 That's an option. It has been a year since I last did this but the way I did it last time I grabbed the port number and killed the process on that port. You already know your port number since you put that in when you ray start (you don't have to but it's not a good practice to leave the port number to default). Besides that, I don't know a way.

[2022-07-14 20:52] avnishn opened #26579 "[RLlib Release Tests] Learning Tests a-e and f-z are failing"
### What happened + What you expected to happen

learning tests should be passing.

### Versions / Dependencies

Master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-07-14 20:53] avnishn opened #26580 "[RLlib Release Tests] APEX long running release test is failing"
### What happened + What you expected to happen

n/a

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-07-14 21:09] gjoliver commented on #26357
I believe so.
the most important is tf being 2.5.0. the other stuff is unlikely to cause problems here.

[2022-07-14 22:58] rkooo567 commented on #26568
cc @architkulkarni to investigate

[2022-07-14 23:58] pcmoritz commented on #19799
I think I now fully understand what is going on here -- after logging into our CI machine and running

[code]

Even though the bucket is public, the role of the CI machine is not granting access to S3. So since pyarrow is picking up the credentials from that role, it will not allow us to access even that public bucket.

I think the follow up item on this are:
(a) Improve the error message (it shou

[2022-07-15 00:05] pcmoritz commented on #19799
For comparison, pandas is giving a much better error message here -- it even tells us which operation failed so we can debug the permissions:

[code]

[2022-07-15 00:15] pcmoritz commented on #19799
This is now an anonymous user can be used -- it works even if the AWS role prevents S3 access:

[code]

[2022-07-15 01:06] Rohan138 commented on #26545
Fixed in #26279 by adding the "gpu" tag to the OPE test

[2022-07-15 01:06] #26545 closed

[2022-07-15 01:46] ofey404 commented on #11509
@fehtemam @richardliaw One more consideration: We have to define the default behavior of `ray stop`.

When there is only one set of ray process, `ray stop` (no `--address`) should stop it.

But with two sets of ray process, there are two possible behaviors:

1. The default `ray stop` just do nothing, and show a info about using `--address` flag.
2. It will ask user: 'Do you want to stop all ray pr

[2022-07-15 01:53] scv119 commented on #26299
@spolcyn one thing you can do is avoid jobs being scheduled on head node. you can achieve that by setting head node with 0 cpus.

[2022-07-15 03:07] fehtemam commented on #11509
@ofey404 IMO behavior 2 is better with the caveat that waiting for user input is not the best practice (i.e., don't wait for the user input and have some default). I would say `ray stop` can have an --all flag to stop all clusters and if that flag is not provided then the default behavior should be stopping the cluster that the current user has started. Now I don't know how you go about retrieving

[2022-07-15 04:25] #26383 closed

[2022-07-15 06:21] c21 commented on #19799
(a) Improve the error message (it should say explicitly that there is a permission error instead of "No response body" -- ideally it would also say which method it tried to call on the bucket for which the permission error happened)
(b) document that we pick up S3 credentials and how we can use an anonymous user
(d) document which privileges people need to give to their buckets so they can read th

[2022-07-15 07:16] #26413 closed

[2022-07-15 12:04] stephano41 commented on #26038
@matthewdeng any updates on this?

[2022-07-15 13:19] RaymondKoopmanschap opened #26593 "[RLlib] If disable preprocessor api True with GPU then get numpy array instead of Tensor"
### What happened + What you expected to happen

**What happened**
When I disable the preprocessor api and run on GPU. Then during training with my custom forward pass I get always tensors in my `input_dict` except when a batch (in my case 32 samples) are given then I get numpy arrays.

The code doesn't fail (always give tensors) when one of the following conditions is True

- a box space is used

[2022-07-15 13:42] olipinski opened #26594 "[RLlib] Subclassing DefaultCallbacks no longer works when passed as callback option"
### What happened + What you expected to happen

I'm uncertain if this is the desired behaviour, but DefaultCallbacks cannot be subclassed and passed to ray tune as an argument to callbacks. It has to be passed in the config. If this is correct, then with the new API, with config objects, I don't see how to pass arguments to the Callback class (i.e. `ray_config.callbacks(Callback(arg=args))`)

[co

[2022-07-15 14:55] spolcyn opened #26595 "[k8s Cluster] Autoscaler fails when unable to find pod name"
### What happened + What you expected to happen

Bug: The autoscaler occasionally fails with the error "pod not found". This prevents other pods from coming up and generally requires a restart of the operator deployment to resolve.

Expected behavior: If a pod is not found, the autoscaler assumes it's dead and continues functioning

Error trace:
[code]

### Versions / Dependencies

Ray 1.13, using

[2022-07-15 15:54] mlubej commented on #9327
If you're running this and want to spawn a cluster of SPOT instances and in the slim chance that you don't have the service-linked-role for creating SPOT instances (e.g. because you don't have access to a root user), you should do:

[code]

[2022-07-15 16:08] wxy117 commented on #17914
Still can not detect gpu on windows11 wsl2.

[2022-07-15 17:39] #26423 closed

[2022-07-15 18:19] PhilippWillms commented on #24926
I was able to reproduce the issue described above today with the very simple commands below, Important to choose `PyTorch`, with `tensorflow `it is not throwing the error, but leading to memory crash.

[code]

Error message:
[code]

Find my specs below:

- Windows 10.0.19044 Build 19044
- Ray: 1.13.0
- Python: 3.8.13
- PyTorch: 1.12.0

[2022-07-15 18:30] Anando304 opened #26599 "[xgboost_ray] Model Train Hangs/freeze when multiple actors used"
### Description

# Background/Context
I was following the guide [here](https://docs.ray.io/en/latest/ray-more-libs/xgboost-ray.html#usage) for running a sample XGBoost model using `xgboost_ray`.

# Problem
I have enough memory allocated(8 GB) and the program runs, but it seems to be training indefinitely for a long time.

Ray dashboard doesn't seem to show any errors in the logs.

![Screen Shot 20

[2022-07-15 18:36] ericl opened #26601 "[air] Should allow creating Predictor / BatchPredictor directly from a pandas UDF"
### Description

Currently, it's very difficult to create a custom Predictor without buying into the whole Checkpoint / etc. framework. We should allow users to write:

[code]

for custom use cases.

### Use case

_No response_

[2022-07-15 18:43] Anando304 commented on #26599
@richardliaw its the same result as before, basically training indefinitely

Result:
[code]

[2022-07-15 18:52] richardliaw commented on #26599
that's really odd ok... @krfricke or @Yard1 any thoughts here?

[2022-07-15 18:58] richardliaw commented on #26599
Can you post logs @Anando304 (/tmp/raylogs)?

[2022-07-15 19:03] holdenk opened #26605 "[Datasets] CSV reading of unspecified extension is not robust"
### What happened + What you expected to happen

Trying to load a CSV file fails because the extension does not match.

[code]

Results in

[code]

There is no easy way to override this that I can see.

### Versions / Dependencies

`ray @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl`
`Python 3.8.5`

### Reproduction script

[code]

### Issu

[2022-07-15 19:04] Anando304 commented on #26599
Here's the logs for `/tmp/raylogs`

[code]

[2022-07-15 19:08] richardliaw commented on #26599
how about in `/tmp/ray/session_latest/*`?

[2022-07-15 19:15] clarkzinzow commented on #26605
@holdenk Have you tried setting `partition_filter=None` in the `read_csv` call?
[code]
Docs: https://docs.ray.io/en/master/data/package-ref.html#ray.data.read_csv

[2022-07-15 19:16] Anando304 commented on #26599
cat: /tmp/ray/session_latest/logs: Is a directory
{"7.255.242.165:/tmp/ray/session_2022-07-15_11-55-53_598472_140/sockets/plasma_store": {"metrics_agent_port": 52101, "metrics_export_port": 57843}}cat: /tmp/ray/session_latest/runtime_resources: Is a directory
cat: /tmp/ray/session_latest/sockets: Is a directory

[2022-07-15 19:18] richardliaw commented on #26599
(check logs inside directory?)

[2022-07-15 19:22] Anando304 commented on #26599
There are quite a lot of different logs here, would you like to hop onto a quick call instead?

[2022-07-15 19:23] Anando304 commented on #26599
dashboard.log                                                                        ray_client_server.out
dashboard_agent.log                                                                  ray_client_server_23000.err
debug_state.txt                                                                      ray_client_server_23000.out
debug_state_gcs.txt

[2022-07-15 19:32] koushikam commented on #7047
Hi I am also getting the broken pipe error at Dataloader. I have 2 data train dataset and 2 testdata to load. Here is the snippet of the code:

E_trainloader = DataLoader(dataset=Energy_train, batch_size=int(config["batch_size"]),shuffle=True,num_workers=4)#,pin_memory=True)
    E_testloader =  DataLoader(dataset=Energy_test, batch_size=Ntotal-Ntrain,shuffle=True,num_workers=4)#,pin_memory=True)

[2022-07-15 20:22] iycheng commented on #26299
[code]

I actually see this multiple times. I think one issue is that when GCS is under high pressure, heartbeat is not processed well.

I'd prefer changing the heartbeat from pushing to pull, but before that I'm going to evaluating the bottleneck of the current method.

@spolcyn could you give this a try: setting the OS env `RAY_num_heartbeats_timeout=600` and see whether it can mitigate this iss

[2022-07-15 20:33] casassg commented on #26599
lets try to load the ones for xgboost ray actors

[2022-07-15 20:40] spolcyn commented on #26299
@iycheng Sure, we'll try that out -- is that timeout in seconds?

[2022-07-15 21:02] stefan4444 commented on #26315
Is there a workaround until this issue is fixed?

[2022-07-15 21:34] richardliaw opened #26612 "[air] Improvements to XGBoost Benchmarking script"
- Could we have separate scripts for training and prediction? This is for readability: it's not great to have multiple workflows in the same script.
- Should make `@run_and_time_it` a common util
- `to_air_checkpoint(".", model)` <--- isn't the "." fishy?
- `batch_predictor.predict(ds.drop_columns(["labels"]))` <--- I think you can use the "feature_columns" arg of predict() that Amog added, instea

[2022-07-15 21:39] ericl commented on #26612
Can we do this before merging https://github.com/ray-project/ray/pull/26608/files#diff-b16a9d2f3b7dc91a450950c3b85d726ebea905cfe1b3d45d757d2ff2b4fe61d5 ?

It should just take a few minutes.

[2022-07-15 21:41] ericl commented on #25111
Closed by https://github.com/ray-project/ray/pull/26251

[2022-07-15 21:41] #25111 closed

[2022-07-15 22:10] rickyyx opened #26613 "[Core][State Observability] Filtering with worker is alive does not work"
### What happened + What you expected to happen

[code]
While
[code]

### Versions / Dependencies

NA

### Reproduction script

NA

### Issue Severity

_No response_

[2022-07-15 22:21] truelegion47 commented on #22418
@simon-mo is this needed anymore ? I can look into it, if it is.

[2022-07-15 23:08] iycheng commented on #26337
I can't reproduce it on the master. @spolcyn  can you give it another try?

[2022-07-15 23:10] c21 commented on #19799
Having a PR ready for review to improve the error message to make it more actionable - https://github.com/ray-project/ray/pull/26619 .

[2022-07-15 23:12] #20888 closed

[2022-07-15 23:35] ericl opened #26620 "[data] Enable fusion of read->write stages"
### Description

Currently, stage fusion cannot fuse read to write stages (e.g., read->write, or read->map->write), since the write method of datasources does not support fusion with previous stages.

For batch prediction, this is usually OK since model output is relatively small, so there is little benefit from fusion. However in some scenarios where map output is large, this could improve effici

[2022-07-16 05:43] #23977 closed

[2022-07-16 11:48] #26059 closed

[2022-07-16 17:48] #26601 closed

[2022-07-16 18:01] jiaodong commented on #26249
Just confirmed this is automatically enabled by ` predictor.predict(dataset, num_gpus_per_worker=1)`

[2022-07-16 18:01] #26249 closed

[2022-07-16 19:17] jiaodong opened #26630 "[AIR][Train] TorchTrainer very slow data ingest with multiple GPU workers"
### What happened + What you expected to happen

Setup 8 g3.8xlarge hosts with autoscaler with 20GB open dataset. We're scheduling all GPU workers but after data reading, 20mins+ passed we still didn't see significant GPU utils. In the meantime same experiment one single GPU finished in another cluster.

<img width="1143" alt="Screen Shot 2022-07-16 at 12 15 23 PM" src="https://user-images.githubu

[2022-07-16 19:40] #23166 closed

[2022-07-16 20:45] amogkam commented on #26630
Is this on anyscale_default_cloud? If so the script is hanging due to this issue https://github.com/anyscale/product/issues/8310

See the thread in the linked issue for the workaround to unblock you

[2022-07-16 21:01] amogkam commented on #26630
Basically need to add this part tot he runtime env https://github.com/ray-project/ray/pull/26562/files#diff-28f7477ad49b945d6b24cd8a966732eef6ead84b2e8e0952ba20788463288aedR362

[2022-07-16 22:11] jiaodong commented on #26630
@amogkam i did my run on workspaces and i can see 16GPUs used. But it spilled 800GB+ of data … which i think is why gpu utils is mostly 0% because it took 30+ mins to prepare data.

[2022-07-16 23:48] richardliaw commented on #26630
Jiao posted:

[code]

Which may suggest that data processing is not able to use many resources?

[2022-07-17 00:05] ericl opened #26635 "[core] Edge cases with _max_cpu_fraction_per_node"
### What happened + What you expected to happen

When _max_cpu_fraction is very low, or 0, and 1, we should handle this specially to avoid corner conditions.

Example: Suppose you have a 4-CPU cluster, then
[code]

### Versions / Dependencies

master

### Reproduction script

n/a

### Issue Severity

_No response_

[2022-07-17 00:14] franklsf95 commented on #26499
@stephanie-wang @ericl Do you think this makes sense? We can help contribute.

[2022-07-17 00:32] matthewdeng commented on #26630
Looks unrelated to Datasets, hanging during PyTorch model setup. Most likely the network issue mentioned by Amog.

[code]

Specifically this part
[code]

[2022-07-17 01:18] ericl opened #26639 "[core] Ray incorrectly reports 1 byte of memory used during object spilling"
### What happened + What you expected to happen

When running the following workload, which tries to create 100GiB of objects, Ray will start reporting "1 byte" of memory used in "object_store_memory" resource instead of the actual amount. This seems to be a race condition in LocalObjectManager::GetPinnedBytes, where objects being spilled don't count as pinned.

To reproduce:
1. Create a single-no

[2022-07-17 01:41] ericl commented on #26499
Makes sense! We could add a --wait-for-worker-nodes or something similar.

[2022-07-17 04:09] Joshuaalbert opened #26642 "[Serve] Make it possible to assign queries to a replica based on a key -> replica map."
### Description

Make it possible to assign queries to a replica based on a `key -> replica`  map.

In iterative modelling applications where a state needs to be persisted between queries we must store the state in the plasma store. Now consider simultaneously serving a large number of users, each of which has a state that needs to be shuttled to and from plasma store between requests. With the ro

[2022-07-17 05:10] #26149 closed

[2022-07-17 05:12] #26151 closed

[2022-07-17 05:47] ofey404 commented on #15656
Well... I wonder what's going on this issue now. Is it fixed and should be closed?

[2022-07-17 20:43] bkatwal commented on #23680
Hi, I am running into the same issue.
The ray head node goes down after 9-10 days of running. Memory usage went to 97% just before it went down. Post that we added logs, that print all the processes and memory consumption.

We are still monitoring, but only on the second day,  I noticed the below process has already consumed about 1 GB of memory.
`/home/ray/anaconda3/lib/python3.7/site-packages/ra

[2022-07-17 22:05] truelegion47 commented on #24807
@DmitriGekhtman Is this still needed ? If yes, could you please add some logs/context here when you get a chance ? I can throw in a fix.

[2022-07-17 23:20] truelegion47 commented on #26210
Hi @edoakes @shrekris-anyscale I have a PR in for this, can you please take a look when you get a chance ?

[2022-07-17 23:21] #18297 closed

[2022-07-17 23:21] #24159 closed

[2022-07-18 00:27] dshi3553usyd commented on #22524
Exactly the same problem that I got in these days. Anyone knows how to increase the limit?

[2022-07-18 00:56] AmmarRashed opened #26653 "[RLlib] Consistently learning to lose!"
### What happened + What you expected to happen

So I have been trying with different algorithms, PPO, SAC, ...etc on a custom multi-agent discrete action environment, but the actor loss was consistently negative (which gets minimized further to large negative numbers) and consequently the reward plummets.
I suspected the environment, so I tried the tuned example CartPole-v0 with exactly the same

[2022-07-18 02:42] xbinglzh commented on #20634
This caused me a puzzle, I do not know when to enable multiple users to use the normal

[2022-07-18 03:01] jobeid1 commented on #10448
@evo11x when using attention, something along these lines should work:

[code]

The code may require minor adjustments to work and obviously will if you want to use LSTM. Hope this helps!

[2022-07-18 05:07] #26630 closed

[2022-07-18 05:49] scv119 commented on #25652
@gjoliver let you triage.

[2022-07-18 05:51] ArturNiederfahrenhorst commented on #23942
Closing because this the initial issue appears to be solved and the second issue should be as well. Feel free to reopen this if that is incorrect.

[2022-07-18 05:51] #23942 closed

[2022-07-18 07:52] xbinglzh commented on #6800
Hasn't it been solved for two years

[2022-07-18 08:16] vakker commented on #24465
@kouroshHakha do you need any further info or is that enough to move this forward? Thanks!

[2022-07-18 08:23] vakker commented on #21335
@gjoliver have you had the chance to look into this? Do you need any further info?

[2022-07-18 08:25] vakker commented on #22557
@gjoliver Have you found anything that might be causing this issue? Do you need any further information?

[2022-07-18 09:34] orcahmlee opened #26657 "[K8s][Autoscaler] expose serviceAccountName to values.yaml"
### Description

I'm using Helm Chart to deploy the ray cluster on GKE. For now, the ray head and workers are using `serviceAccountName: default`. I think it would be great if we can set our own service account via [raycluster](https://github.com/ray-project/ray/blob/master/deploy/charts/ray/templates/raycluster.yaml) and [values.yaml](https://github.com/ray-project/ray/blob/master/deploy/charts/r

[2022-07-18 09:36] chrisk314 commented on #25909
I'm seeing this issue in an AKS cluster. Dashboard was initially working fine for a couple of days. Coming back a couple weeks later we're now seeing this.

Kubernetes version 1.23.5
Ray version 1.13.0
Python version 3.7.7
Localhost OS: Ubuntu 20.04

[2022-07-18 09:36] orcahmlee commented on #26657
I also saw some related discuss: https://discuss.ray.io/t/k8s-cluster-does-not-set-serviceaccounts-correctly/1190/3?u=andrew_li

[2022-07-18 12:11] krfricke opened #26658 "[core] Add API to get allocated resources in remote trainable"
### Description

It would be great to be able to retrieve the number of allocated resources from within a remote task/actor:

[code]

### Use case

In XGBoost-Ray and LightGBM-Ray we set the number of threads the native boosting libraries can use to the number of CPUs available to the actor. We currently use the deprecated API `ray.worker.get_resource_ids()` for that.

We can pass the allocated re

[2022-07-18 14:25] dmatrix commented on #19799
Thanks to the team getting to the bottom & sorting this out!

[2022-07-18 14:44] #26222 closed

[2022-07-18 14:51] AmmarRashed opened #26660 "[RLlib] can't find ray.rllib.algorithms"
### What happened + What you expected to happen

Trying to run the following file with default args
https://github.com/ray-project/ray/blob/master/rllib/examples/two_step_game.py

ModuleNotFoundError: No module named 'ray.rllib.algorithms'

### Versions / Dependencies

ray 1.6.0
tensorflow 2.9.0

### Reproduction script

same as https://github.com/ray-project/ray/blob/master/rllib/examples/two_ste

[2022-07-18 15:03] DmitriGekhtman commented on #25909
@chrisk314 do you know if there are any other details about the K8s environment that might be relevant?

For one user, the issue had to do with istio.

Another question -- are you able to port-forward the Ray Client port 10001?

Finally, there should be a service configured for the RayCluster. Could you share the output of `kubectl get service <name of service>`?

[2022-07-18 15:42] stephanie-wang commented on #26639
Hmm I'm not sure why the memory usage goes back to 40GiB in the last bit, but it looks like it should be a simple fix to report the spilling bytes in addition to primary. I can take this one.

[2022-07-18 15:56] chrisk314 commented on #25909
Hmm, not sure really. We are using the k8s cluster for a few different things but we don't have anything that should impact networking in a significant way like an ingress or istio etc. I can tell you that we deployed our Ray cluster by manually cloning the Ray Github repo as per the docs, and running Helm install, rather than using KubeRay. I can also tell you we deployed in a namespace.

Unfortu

[2022-07-18 16:06] DmitriGekhtman commented on #25909
Thanks for the update!

There is indeed a dashboard server process and it is possible there was an issue with it.
By the way, dashboard logs are written to `/tmp/ray/session_latest/logs/dashboard.log` in the head pod.

cc @brucez-anyscale @rkooo567 @alanwguo for general awareness

[2022-07-18 16:09] rkooo567 commented on #26658
cc @scv119 I believe we don't have the corresponding API right now after the deprecation, and I think we should have one. I will mark it as a high priority item (P1).

[2022-07-18 16:44] jiaodong opened #26663 "[AIR][Train] Add default network setting for pytorch multi-host training"
### What happened + What you expected to happen

Currently user using AIR to do pytorch distributed training across multiple hosts will run into ganging issue if ens was not set or not set correctly. This hurts dev UX.

In https://github.com/inkawhich/pt-distributed-tutorial/blob/master/pytorch-aws-distributed-tutorial.py it mentioned about using `ipconfig` to find and set right interface with env

[2022-07-18 16:58] matthewdeng commented on #26663
It would be cool to find a way to exhaustively codify this 🤔

We could also add this to the FAQ as a stopgap, but I think the hard part for the user is identifying this issue in the first place...

cc @krfricke @amogkam

[2022-07-18 17:28] amogkam commented on #26663
In general, I believe NCCL should automatically be doing this. But agreed we should do this programmatically for safety. This has only surfaced as a problem in Anyscale though, specifically with `anyscale_default_cloud`, and thus so far has only affected release tests and not any users.

[2022-07-18 17:40] architkulkarni opened #26664 "[Serve] [CI] `windows://python/ray/serve:test_standalone2` is failing/flaky on master."
- 12825fc5aa0d98f49d121ec46507b25d1d3e2f82 FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/ray-builders-branch/builds/8704#01820e84-0fab-4f68-b21f-1294e743253a)
- 569fe0109629048d08e1d9e023f7769f10bd2244 FAILED [Buildkite :windows: Build & Test](https://buildkite.com/ray-project/ray-builders-branch/builds/8701#01820de3-0647-492c-81eb-db1992516019)
- feb53d01ab7180705849

[2022-07-18 17:41] architkulkarni commented on #26664
<img width="1746" alt="Screen Shot 2022-07-18 at 10 40 35 AM" src="https://user-images.githubusercontent.com/5459654/179570559-5e43cd02-905b-4db9-885f-4a860dcf11e9.png">
Unfortunately it gradually became flaky so it's not obvious which PR made it flaky.

It's timing out, but not always on the same test.  E.g. [here](https://buildkite.com/ray-project/ray-builders-branch/builds/8684#0182079b-a47f-4e

[2022-07-18 17:43] ArturNiederfahrenhorst opened #26665 "[RLlib] Offline training example does not work anymore and is not included in CI"
### What happened + What you expected to happen

Try to run rllib/examples/offline_rl.py.

### Versions / Dependencies

master

### Reproduction script

python rllib/examples/offline_rl.py

### Issue Severity

_No response_

[2022-07-18 17:53] simon-mo commented on #26664
@architkulkarni can you open a PR to skip this test for now on Windows? The failing tests are mostly about working with multi-node and multi-node isn't supported workflow on Windows.

[2022-07-18 17:56] architkulkarni commented on #26664
Sure, I'll open a PR.  Didn't know multi-node wasn't supported on Windows

[2022-07-18 18:10] #22945 closed

[2022-07-18 18:28] Rohan138 opened #26667 "[RLlib] MARWIL does is+wis OPE by default"
### What happened + What you expected to happen

MARWIL currently runs ImportanceSampling and WeightedImportanceSampling OPE by default.

This isn't really good design and has caused CI/release test problems-we should set it to None and have the user specify it if necessary.

We'll have to figure out how to deprecate this while warning users that may be using MARWIL with the current default.

###