[2022-04-19 19:09] mwtian commented on #24021
cc @stephanie-wang @jjyao

[2022-04-19 19:16] dynamicwebpaige commented on #23041
Would it be possible to tag in @tiangolo as the primary owner? cc: @edoakes

[2022-04-19 19:42] edoakes commented on #23041
Sounds good to me! 🎉

[2022-04-19 20:02] sven1977 commented on #24014
Hey @ZaberKo , thanks for filing this issue. This PR here (almost merged) fixes the issue. Thanks @avnishn for providing a fix for this problem so quickly!

[2022-04-19 20:02] sven1977 commented on #24014
https://github.com/ray-project/ray/pull/24019

[2022-04-19 20:15] #24014 closed

[2022-04-19 20:18] sven1977 commented on #21718
Hey @grechaw , yes, we have looked at this in close contact with the original reporter and have fixed on leak on our end via this PR (which also establishes solid CI memory leak tests for our main agents).
https://github.com/ray-project/ray/pull/15412

[2022-04-19 20:19] sven1977 commented on #21718
Closing this issue.

[2022-04-19 20:19] #21718 closed

[2022-04-19 20:28] daikeshi opened #24023 "[AIR] Support functionality to stitch Preprocessor with Keras model"
### Description

The existing preprocessor used for feature transformation needs to be pickled then can be used for serving. If the model serving is using a different language, such as Java, it's almost impossible to use Ray's preprocessor for the feature transformation. It would be nice if the feature transformation graph can be added to the Keras model graph similar to what `TF.Transform` does.

[2022-04-19 20:28] sven1977 commented on #22943
Let's actually keep this one open here as it provides a working repro script. Closing the other dupe. ...

[2022-04-19 20:29] sven1977 commented on #23531
Closing this one here as a dupe of this issue here, which has a working repro script:
https://github.com/ray-project/ray/issues/22943

[2022-04-19 20:29] #23531 closed

[2022-04-19 20:30] sven1977 commented on #22943
New repro script that also works w/o the deprecated build_trainer utility:

[code]

[2022-04-19 20:31] jianoaix commented on #23049
I used same test data as mentioned in https://github.com/ray-project/ray/issues/23663#issuecomment-1102931400, and it had no problem to run 10 replicas of 512MB sized files with your provided script.

Given that, I think it would be good to check:
1) The input data: if your data is highly compressed (e.g. a lot of same values), the inflation from disk to memory can be larger. You may check your da

[2022-04-19 20:54] richardliaw commented on #23937
@wuisawesome who is the right person to address/answer this?

[2022-04-19 20:55] richardliaw commented on #24023
OK, looks like we need to do a bit of scoping in order to better understand what's needed here.

We should also build an example that demonstrates this.

[2022-04-19 20:57] sven1977 commented on #22943
Fix-it PR. Confirmed that this works now with your script.
https://github.com/ray-project/ray/pull/24025

[2022-04-19 21:26] wuisawesome commented on #23937
@daikeshi hey, what do you mean by "worker group" here? The first thing that comes to mind, is can you do via custom resources. In your 2 examples, it would be

[code]

then, in your autoscaler yaml, you would have

[code]

[2022-04-19 21:44] ali-naqvi opened #24027 "Importing RLlib on M1 macOS gives illegal hardware instruction"
### What happened + What you expected to happen

Importing `rllib` on M1 Mac gives the following error

[code]

### Versions / Dependencies

Ray Version: 1.12.0
Python 3.8.12
OS: macOS Monterey 12.3.1 (21E258)
Chip: Apple M1 Max

### Reproduction script

[code]

### Issue Severity

_No response_

[2022-04-19 21:49] daikeshi commented on #23937
@wuisawesome the worker groups are different [worker pools](https://github.com/ray-project/kuberay/blob/master/helm-chart/ray-cluster/templates/raycluster-cluster.yaml#L43) defined in my Ray cluster.

What is `custom resources` here?  I actually don't know there's separate autoscaler config yaml. I'm using the Ray operator in Kuberay project. It seems that all I can config is through the RayCluste

[2022-04-19 21:52] jianoaix commented on #23133
It looks the Dataset has no issue to read scientific notion to me. @tsaoyu

(raycp38) jian@Jians-MacBook-Pro-16 ray % cat scinotion.csv
ID,rating,price
1,3,4
5,6,7
2,8,1e+05

[{'ID': 1, 'rating': 3, 'price': 4.0}, {'ID': 5, 'rating': 6, 'price': 7.0}, {'ID': 2, 'rating': 8, 'price': 100000.0}]

   ID  rating     price
0   1       3       4.0
1   5       6       7.0
2   2       8  100000.0

pyarrow

[2022-04-19 21:59] architkulkarni commented on #24027
cc @amogkam Perhaps the fix for this should be picked into 1.12.1?

[2022-04-19 22:01] edoakes commented on #24027
@gjoliver any experience w/ this one?

[2022-04-19 22:04] gmatev commented on #22405
All good @amogkam. thank you!

[2022-04-19 22:06] #17092 closed

[2022-04-19 22:06] #18412 closed

[2022-04-19 22:06] #23760 closed

[2022-04-19 22:09] jianoaix commented on #23448
Same as #23133

[2022-04-19 22:18] gjoliver commented on #24027
I looked at ali's installation. it was an x86 python build. so the x86 macos wheel got installed.
@ali-naqvi here is a document describing how to create a dev build of Ray on M1.

https://docs.google.com/document/d/1XgpuUX0vtk82NIVQyEk8d3tnbpSFHO8ZGmF-i2J8_9A/edit#heading=h.xmeeytf4d7fv

if you don't want to build Ray locally, you can simply follow all the env setup steps, and instead of "pip inst

[2022-04-19 22:18] #24027 closed

[2022-04-19 22:28] gutfeeling opened #24028 "[RLlib, Tune] [Bug] Segmentation Fault when running PPO, issue disappears after downgrading to 1.11.0"
### What happened + What you expected to happen

I was using PPO on `BipedalWalker-v3` using `tune.run()`. This works fine on version 1.9.1 and 1.11.0. But on 1.12.0, I immediately get segmentation faults.

[code]

### Versions / Dependencies

# Ray
1.12.0

# Python
3.8.13

# OS
elementary OS 5.1.7 Hera
Built on Ubuntu 18.04.6 LTS
Linux 5.4.0-107-generic

# Tensorflow
2.7.1
2.8

### Reproduction s

[2022-04-19 22:28] iycheng opened #24029 "[Workflows] [Feature] Feature to limit the maximum number of workflows running."
### Description

To better support https://github.com/ray-project/ray/issues/21161

One feature we need is to ensure workflow is able to limit the number of active workflows running.

We'll need APIs like this:

[code]

`max_concurrent_jobs` means for a given time, how many workflow jobs can run. A job will be queued if the number of running jobs reaches the limit.
`max_queueing_jobs` means the ma

[2022-04-19 22:28] iycheng commented on #24029
@ericl  could you help review the proposed API there?

[2022-04-19 22:30] gjoliver commented on #23769
why not just limit the horizon of the episodes to a reasonable length?

[2022-04-19 22:50] tianlinzx commented on #23858
(base) root@example-cluster-ray-worker-type-gpu1-7kk8j:~# ray stack
Stack dump for ray        14404  0.0  0.0 22098176 188108 ?     S    Apr18   0:39 ray::ImplicitFunc.train()
Error: Failed to get process executable name. Check that the process is running.
Reason: Permission denied (os error 13)

Stack dump for ray        16282  0.0  0.0 22098168 187548 ?     S    Apr18   0:39 ray::ImplicitFunc.tr

[2022-04-19 23:07] gutfeeling commented on #24028
I tried the same code with Ray version 1.12.0 and Python 3.9.

With Python 3.9, the segmentation fault is gone but the agent doesn't learn anything.

![image](https://user-images.githubusercontent.com/6130491/164115351-5e0bfaf9-1156-4aba-acb1-00d492688ad5.png)

Whereas, with Ray 1.11.0 and Ray 1.9.1, the agent learns quite well on the same environment.

![image](https://user-images.githubuserconte

[2022-04-19 23:41] SongGuyang commented on #21597
@edoakes The use case is clear. You can not guarantee user's python version is same with a long running cluster. Actually, we already using this way in our production. How about implement it in a plugin？We don't need to modify the ray core. But I hope we can maintain this plugin in the ray repo.

[2022-04-20 00:06] dynamicwebpaige commented on #23171
Related to @edoakes' earlier issue: [#13913](https://github.com/ray-project/ray/issues/13913)

[2022-04-20 00:13] #21346 closed

[2022-04-20 00:17] scv119 commented on #13995
@clarkzinzow is this done?

[2022-04-20 00:18] jiaodong opened #24032 "[Serve] Add release tests for deployment graph"
### Description

Before next branch cut we should at least ensure to have release tests running on nightly + track basic metrics for deployment graph beta readiness.

[2022-04-20 00:18] scv119 commented on #16413
still not done.

[2022-04-20 00:18] #17017 closed

[2022-04-20 00:19] scv119 commented on #17017
Looks fixed. We can reopen it if regressed.

[2022-04-20 00:19] clarkzinzow commented on #13995
@scv119 Only some of the no-brainer ones that were easy to move! There's still a good bit of work to reach the desired end-state.

I'll unassign myself from this issue!

[2022-04-20 00:20] scv119 commented on #17761
@ericl I think you fixed the first one and @rkooo567 fixed the second one.

[2022-04-20 00:20] #17761 closed

[2022-04-20 00:21] scv119 commented on #18333
@mwtian and @stephanie-wang should you take it as part of exo-shuffle work?

[2022-04-20 00:24] scv119 commented on #18506
@mwtian do you know the status of this one?

[2022-04-20 00:26] scv119 commented on #18523
@ericl is this still relevant?

[2022-04-20 00:27] scv119 commented on #18700
@jjyao is this something you are planning to work on?

[2022-04-20 00:27] Samreay opened #24033 "[Core] [Bug] Ray does not exit properly when conda is interrupted"
### What happened + What you expected to happen

1. Run a python program via conda
2. Interrupt it
3. Never terminates

I'd expect it to terminate.

### Versions / Dependencies

python 3.8, python 3.9. ray 1.11.0, conda 4.12.0

### Reproduction script

This file will reproduce:

[code]

And here is the difference in behaviour between python and contra interrupts. Notice the python termination, but

[2022-04-20 00:28] scv119 commented on #18916
@iycheng is this part of Ray HA?

[2022-04-20 00:28] jjyao commented on #18700
Yes, as part of 2.0

[2022-04-20 00:29] mwtian commented on #18333
I think supporting 5000 partitions is a reasonable intermediate goal. @stephanie-wang what do you think?

[2022-04-20 00:31] mwtian commented on #18506
This has been dropped for awhile .. Related questions are: whether and when should Ray move to the newer manylinux standard, and what kind of ABI should Ray guarantee. Maybe we can start a doc or REP ..

[2022-04-20 00:33] scv119 commented on #19052
@iycheng what's the status of this task?

[2022-04-20 00:34] scv119 commented on #20166
@mwtian @iycheng do you know the status of this one?

[2022-04-20 00:34] #21098 closed

[2022-04-20 00:37] scv119 commented on #22780
@jjyao  assign it to you and keep it low priority comparing to ray 2.0 work.

[2022-04-20 00:38] scv119 commented on #22814
@iycheng can you close this if it's fixed?

[2022-04-20 00:51] dynamicwebpaige commented on #20854
+1 for supporting gRPC in Serve; this is [something that Seldon Core supports today](https://docs.seldon.io/projects/seldon-core/en/latest/graph/protocols.html#graph-protocols--page-root), and something that [BentoML also has on its roadmap](https://github.com/bentoml/BentoML/issues/703).

[2022-04-20 00:54] richardliaw commented on #22977
@architkulkarni this was labeled P1; have we made progress on this?

[2022-04-20 01:17] tsaoyu commented on #23133
Your mock example does works. But I don't think it is strong enough and still fails on credit card csv as mentioned in dogfood issue https://github.com/ray-project/ray/issues/23448 . I noticed that such notation (1e+05) appears only once in the index column "Time", is there any chance that the logic to recognise the schema of the whole CSV is from the only chunk of the data? Attached error message

[2022-04-20 02:15] cmertin commented on #19116
There does seem to be a patch for [arch](https://aur.archlinux.org/packages/python-ray) for python 3.10, wonder why they haven't released it for 3.10 officially yet

[2022-04-20 02:23] pranav-vempati commented on #23951
Thanks for the suggested fix. What was the root cause of the issue?

[2022-04-20 02:28] tianlinzx commented on #23858
@amogkam Here is the result of ray stack.
 reproduce code is [qlib_ray_gat_158_tune.zip](https://github.com/ray-project/ray/files/8505176/qlib_ray_gat_158_tune.zip)
![微信图片_2](https://user-images.githubusercontent.com/1411754/164134882-3da0ee13-5eff-4b18-80ca-d47e92ac279f.png)

[2022-04-20 02:43] ZaberKo commented on #23769
Yeah, I think currently that is enough. Although it is still not suitable for machine with low memory size(eg: 32GB memory is not enough for horizion=3000). For original horizon(400,000), I test on a machine with 512GB memory still results in an OOM. Besides, I thinks additional "tip" for setting a reasonable horizon should be added to the document.

[2022-04-20 03:00] kira-lin commented on #23824
Okay, but I'm still not sure if we can use it. In our case, the function which puts the data (foo in your case) is not a remote function. We run spark executor in a thread of a ray actor. The data is put by the executors

[2022-04-20 03:02] SongGuyang commented on #18506
Wish to see a REP. 😊

[2022-04-20 03:24] xwjiang2010 commented on #24001
Actually I think the regression is not about `ray.get()` taking longer, as Core team has benchmark tests and they look fine.
What I am seeing now is it takes longer time for trials to start running causing the flakiness. Probably something related to ray initialization work.
Meanwhile working on a PR to deflake the master.

[2022-04-20 04:12] jovany-wang commented on #23973
@simon-mo Do you have more context about the Python async requirements around here? or related issues.  I don't know whether it's recommended for Python because we're now focusing on removing multiple core worker instances from a process.

[2022-04-20 05:07] amogkam commented on #23858
Hey @tianlinzx- from the second screenshot it looks like joblib is still using the multiprocessing backend.  It seems like it's being hardcoded by qlib here: https://github.com/microsoft/qlib/blob/v0.8.4/qlib/config.py#L123.

[2022-04-20 06:47] jovany-wang commented on #21734
@mwtian Do we have any update?

[2022-04-20 08:31] krfricke commented on #23470
Hi @jnpm, I've reproduced your problem in the colab and did two minor adjustments that fixed the problem for me.

First, you're currently calling `model = BertModel.from_pretrained('yiyanghkust/finbert-tone')` in each training function. This means that the model is downloaded for each trial separately (even though it should be cached - I've seen it being downlaoded four times). The solution here i

[2022-04-20 10:45] skabbit commented on #21785
Got the same issue on
[code]

[2022-04-20 11:03] jnpm commented on #23470
@xwjiang2010
I did try it with `sync_on_checkpoint=False` as Kai suggested earlier in the comments but it did not seem to work for me (atleast for the larger model with 2GB file size). Did you run it in Sagemaker Studio or a standard EC2 instance? I will look into it further next week though and will get back to you.

@krfricke
I have tried exactly that before and it worked for the smaller model (

[2022-04-20 12:38] stefanbschneider commented on #15297
I still have this issue every now and then in Ray 1.8. Since it only happens sporadically, I suspect @GiovanniGatti to be right (quoted).
For now, I simply rerun the broken training runs, but would be great if there's a fix. I'll try to upgrade to Ray 1.12 and see if the issue persists.

[2022-04-20 14:03] krfricke commented on #23470
Ah sorry, I missed that - let me look into the second colab.

The invalid literal bug was fixed here https://github.com/ray-project/ray/pull/23922 and will be included in the upcoming patch release 1.12.1

[2022-04-20 14:04] wuisawesome commented on #23937
Ah thanks for clarifying kuberay (I was assuming the legacy k8s operator).

By custom resources, I'm referring to Ray's custom resource concept. You can essentially achieve k8's "label" concept by creating a customer resource on a node, and request a small amount of the resource as a "nodeSelector" within Ray.

In KubeRay it seems the [current recommended way/mitigation for specifying custom resou

[2022-04-20 14:30] #23827 closed

[2022-04-20 15:10] krfricke commented on #23470
For the second colab I run into this:

[code]

Which makes sense, as the models are held in memory (4 * 2GB) and when they are serialized they will be added to the object store. These operations are not always zero-copy, and lastly the VM and Ray need RAM as well.

Can you run this on a larger machine?

[2022-04-20 16:04] xwjiang2010 commented on #24001
[code]

`https://buildkite.com/ray-project/ray-builders-branch/builds/6962#d6b1042b-0bba-40a8-a745-42dc8afc9336` is the first one this `PID` flaky pattern started. (April 11th) Before this, the previous ones are all caused by TIMEOUT. (last one at Feb 25th)

[2022-04-20 16:11] xwjiang2010 commented on #24001
test_progress_reporter is flaky from long ago:
[code]
at least since 3/8

[2022-04-20 16:16] xwjiang2010 commented on #24001
test_cluster_searcher
[code]

Started since 3/14 (https://buildkite.com/ray-project/ray-builders-branch/builds/6517#91eca884-b723-4632-afd4-70f93b89aecf)

[2022-04-20 16:42] siddgoel commented on #23663
@jianoaix I ran the same script on my mac and the output was as follows:

import ray, time
ray.init()

input_path = "/testpath/"
ds = ray.data.read_text(input_path)
print(ds.count())

ray.shutdown()

(perf) ➜  sid git:(master) ✗ time python test_perf.py
Map Progress:  40%|██████████████████████████████████████████████████████████████████████████████████

[2022-04-20 16:49] siddgoel commented on #23663
Moreover, when we add a timer to calculate the init and I/O times, the result is as follows:
(perf) ➜  sid git:(master) ✗ time python test_perf.py
Map Progress:  40%|██████████████████████████████████████████████████████████████████████████████████                                                                                                                           | 2/5 [00:26<00:03,  1.06s/it

[2022-04-20 16:51] clarkzinzow commented on #23994
@rkooo567 @scv119 Yep still flaky! https://buildkite.com/ray-project/release-tests-branch/builds/406#b17a86e9-d05c-45c0-8e80-d0c6fd24aac8

[2022-04-20 17:06] rohin-dasari commented on #16200
The script provided by @rfali still doesn't work for me. I'm using ray version `1.11.0`. When I run the script, the directory passed to `record_env` is created, but it is empty and no renderings are produced. Is there anything that needs to be added to the script to save the renderings?

[2022-04-20 17:09] architkulkarni commented on #23773
I see, thanks for checking!  We unfortunately don't support different Ray versions on the client and on the cluster.  Feel free to reopen this if the issue persists when using the same version.

[2022-04-20 17:09] #23773 closed

[2022-04-20 17:17] daikeshi commented on #23937
@wuisawesome thanks! That's good to know! I'll give a try.

[2022-04-20 17:34] clarkzinzow commented on #24032
@jiaodong Can you fill out the description of this issue when you get a chance?

[2022-04-20 17:39] clarkzinzow commented on #23977
@dynamicwebpaige Since this issue is very focused on canned image datasets and imagery data sources, I'll open a separate issue for doing the same for HuggingFace datasets!

[2022-04-20 17:53] clarkzinzow opened #24045 "[Datasets] [Feature] Integrate with HuggingFace datasets."
HuggingFace has a great [datasets library](https://huggingface.co/docs/datasets/index) for loading and preprocessing NLP, CV, and audio data that's also backed by Arrow. At a minimum, we should provide interop (`to_huggingface` and `from_huggingface`, or just a `HuggingFaceDatasource`), with the opportunity to explore tighter integrations in the future (e.g. using Ray Datasets to distributed Huggi

[2022-04-20 17:54] clarkzinzow opened #24046 "[Datasets] [Feature] Add datasource for canned HuggingFace datasets."
Datasets users should be able to easily load the [canned HuggingFace datasets](https://huggingface.co/datasets) into Ray Datasets, similar to our ongoing work for doing the same for canned Torch/TensorFlow datasets: https://github.com/ray-project/ray/issues/23977. This will most likely be a very simple wrapper, with the possibility for a more extensive integration captured [here](https://github.co

[2022-04-20 17:55] clarkzinzow commented on #23977
@dynamicwebpaige Created two issues:
- https://github.com/ray-project/ray/issues/24046
- https://github.com/ray-project/ray/issues/24045
The second needs more scoping, possibly after a PoC and/or talking to the HuggingFace datasets folks.

[2022-04-20 17:58] jnpm commented on #23470
I ran the notebook on a g4dn.12xlarge instance and got the following results:

Run 1: Got the PLACEMENT_GROUP_REMOVED error in the beginning and the tune process stopped requesting resources and did nothing for 5 minutes.

I then stopped the run and reduced the number of CPU cores per trial.

Run 2: Still PLACEMENT_GROUP_REMOVED errors but no more "idle" issue.

Eventually I stopped the run and tr

[2022-04-20 18:38] triciasfu opened #24047 "[Ray Job] --runtime-env-json gives runtime_env error"
### What happened + What you expected to happen

I was following along the code snippet in: https://docs.ray.io/en/latest/cluster/job-submission.html#job-cli-api

`ray job submit --runtime-env-json='{"working_dir": "./", "pip": ["requests==2.26.0"]}' -- "python test_ray_jobs.py"` gives an error

`ray job submit --working-dir . -- python test_ray_jobs.py` works fine

[code]

### Versions / Dependen

[2022-04-20 19:03] architkulkarni commented on #22977
@richardliaw Sorry for the delay, there hasn't been progress on this.  I'll try to prioritize it.

[2022-04-20 19:12] stephanie-wang commented on #23824
Hmm I'm a bit confused how this works then. What would the top-level task to rerun be? Can you provide a simplified example to show what behavior you want?

[2022-04-20 19:15] stephanie-wang commented on #18333
Agreed, although we should focus our efforts on the Datasets simple shuffle (which I think uses essentially the same task graph) since the experimental shuffle is not necessarily representative of actual applications. Probably, we can remove this module once Datasets shuffle is more stable.

[2022-04-20 19:26] xwjiang2010 opened #24048 "[release test] xgboost ray gpu tests are all failing"
### What happened + What you expected to happen

With the rollout of xgboost 1.6.0 over the weekend, two of our xgboost ray gpu tests have been failing.
The immediate issue is xgboost 1.6.0 dropped support for lower version of GPU card (which p2 is using). So we upgraded the machine to p3.

Anyscale + 1.6.0 + p3 instances --> failing
Anyscale + 1.5.0 --> passing
OSS + 1.6.0 + p3 instances --> pass

[2022-04-20 19:35] iycheng commented on #22814
No yeat.

[2022-04-20 20:00] #20902 closed

[2022-04-20 20:26] mwtian commented on #18333
I see, didn't realize this is for experimental shuffle. Agree we can close this after stabilizing Dataset shuffle.

[2022-04-20 20:35] architkulkarni commented on #24047
@triciasfu Thanks for finding this! Does this happen every time or only sometimes?

[2022-04-20 20:38] yinweisu opened #24050 "[Tune]Tune convert search space incorrectly into HyperOpt search space"
### What happened + What you expected to happen

If passing nested list as search space to `tune.choice()`, the hyperparameter being sampled is an empty dictionary instead.
For example,
[code]

### Versions / Dependencies

ray=1.11.0
python=3.7.12
OS:unix

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-04-20 20:46] Hamptonjc commented on #23971
With no dataloader workers, the issue is gone. Trying RAY_kill_worker_timeout_milliseconds=20000 still resulted in an error (though delayed from where the error typically occurs at around ~120 trial terminations). Currently attempting  RAY_kill_worker_timeout_milliseconds=60000.

Closing, as this seems to be a known issue. @amogkam Thanks!

[2022-04-20 20:46] #23971 closed

[2022-04-20 20:51] brucez-anyscale opened #24051 "[Dashboard] Ray start head does not start dashboard"
### What happened + What you expected to happen

I follow this doc https://docs.ray.io/en/latest/cluster/job-submission.html to test my ray job.
I run the following:
[code]

There is no line about ` INFO services.py:1360 -- View the Ray dashboard at http://127.0.0.1:8265`

And I cannot access http://127.0.0.1:8265/ either.

### Versions / Dependencies

$ ray --version
ray, version 1.9.0
$ python -

[2022-04-20 20:51] #23503 closed

[2022-04-20 20:55] jianoaix commented on #23663
At the beginning of this thread, you mentioned 40% time on init(), but now it showed 8.8s (out of 45s), so even from your side, the issue seemed not reproduced. At least not any random file.

[2022-04-20 21:23] HJasperson opened #24055 "[RLlib] Categorical action dist samples masked actions"
### What happened + What you expected to happen

The problem is here:
https://github.com/ray-project/ray/blob/6d8d7398df4f90abd008468c5b4fb1ebfa587256/rllib/models/tf/tf_action_dist.py#L90-L91

[tf.random.categorical](https://www.tensorflow.org/api_docs/python/tf/random/categorical) takes in **log probabilities** even though the name of the input variable is 'logits'. Here, self.inputs are the log

[2022-04-20 21:47] triciasfu commented on #24047
@architkulkarni Every time as far as I know! I couldn't get it to work

[2022-04-20 22:07] amogkam commented on #23299
Closing as we ended up deciding to keep tuner interface package specific (in ray.tune.*).

[2022-04-20 22:07] #23299 closed

[2022-04-20 22:09] amogkam commented on #9233
Bumping priority from P3 to P2 as this is a usability improvement for libraries/Ray AIR.

[2022-04-20 22:10] amogkam commented on #23304
Closing as the first point is duplicate of https://github.com/ray-project/ray/issues/9233 (priority of #9233 has been upgraded to P2) and the second point is resolved by https://github.com/ray-project/ray/pull/23697.

[2022-04-20 22:10] #23304 closed

[2022-04-20 22:15] xwjiang2010 commented on #24048
For my own reference:
https://gist.github.com/xwjiang2010/acf08c09ed0844c74dbb65c3a012c301

Things we are interested in:
without NCCL setting
[code]

To increase verbosity to help debugging, we can:
1. add `xgboost_params` with verbosity.
[code]
2. Enable two env vars
[code]

[2022-04-20 22:18] #24048 closed

[2022-04-20 22:20] #23314 closed

[2022-04-20 22:20] xwjiang2010 commented on #23974
Could we maybe remove those docker images so that people wouldn't accidentally install the wrong outdated one?
Granted, it is pretty hard to keep track of the tags and get them exactly right.

[2022-04-20 22:21] jiaodong commented on #23141
This is supported now.

[2022-04-20 22:21] #23141 closed

[2022-04-20 22:28] tianlinzx commented on #23171
Will this issue be picked up ? We have the same requirement to integrate Feast and Ray.

[2022-04-20 22:50] richardliaw opened #24059 "[test] test test test"
### What happened + What you expected to happen

[test] test test test

### Versions / Dependencies

[test] test test test

### Reproduction script

[test] test test test

### Issue Severity

Low: It annoys or frustrates me.

[2022-04-20 22:51] #24059 closed

[2022-04-20 22:51] richardliaw opened #24060 "[test] test 2"
### What happened + What you expected to happen

[test] test 2

### Versions / Dependencies

[test] test 2

### Reproduction script

[test] test 2

### Issue Severity

_No response_

[2022-04-20 22:54] jiaodong opened #24061 "[Serve][Master Task] Cleanup ray DAG -> serve DAG node types with clear layering"
### Description

In latest discussion about dag layering, we agreed on the following:

1) We allow stacked decorator '@ray.remote' first, '@serve.options' on top for Ray 2.0 to facilitate users using both ray & serve options in a single node or DAG. Same pattern applies to other libraries.

2) To make migration easy and smooth for users, we keep the existing single @serve.deployment decorator as s

[2022-04-20 22:59] mwtian commented on #21734
Let's see if https://github.com/ray-project/ray/pull/24058 can fix the issue.

[2022-04-20 23:00] jiaodong opened #24062 "[Serve] Let .bind() on @serve.deployment return ClassNode / FunctionNode only"
### Description

See https://github.com/ray-project/ray/issues/24061 for full context

We shouldn't need to introduce new serve DAGNode on .bind() as it makes our layering messy. It should only return Ray DAGNode types, executable by ray core and later on we apply transformations needed.

[2022-04-20 23:04] simon-mo commented on #23974
If there's a list of such images, we can run a job to delete them from dockerhub

[2022-04-20 23:25] #24060 closed

[2022-04-20 23:40] mjlbach commented on #23967
@sven1977 I am pretty sure the issue is that the MLPs are not added to the model attributes in the ComplexInputNetwork so they are not tracked by the model class. This is actually a pretty bad bug as it means the MLPs will never be trained.

[2022-04-20 23:52] #24018 closed

[2022-04-21 00:58] amogkam commented on #23298
For the first point, we decided that `ray.ml.train` will end up going into `ray.train` anyways, so it probably doesn't make sense to do the symlinking now. Will treat it as a won't do.

For the second point, @richardliaw @clarkzinzow could you provide more details here?

[2022-04-21 01:31] xychu commented on #18889
Ray 1.10 same issue.
From dashboard side, the cause of `TypeError: Cannot read properties of undefined (reading 'length')` is the response of `nodes?view=details` seems contain raylet `state: "ALIVE"` client but without `gpu` and a lot more real ALIVE client should have.

Bad
`
456: {raylet: {storeStats: {objectStoreBytesAvail: "10286394163"},…}, actors: {}, workers: [],…}
actors: {}
errorCount: 0

[2022-04-21 02:07] jianoaix commented on #23133
For dataset, although we take its schema from one block, here it has just a single block given this is only one file. So I think the issue is in pyarrow where it process the reading in batches.
This can actually be confirmed this way: for example, for the [UCI_Credit_Card.csv](https://github.com/ray-project/ray/files/8338068/UCI_Credit_Card.csv), if scientific notation for a column is in the first

[2022-04-21 02:35] kira-lin commented on #23824
How our from_spark runs now:
from_spark called in python -> call java and pass dataframe through py4j -> mapPartitions on the df passed, save the data in the function, and return the object ids, owner addresses to python -> register the objects in python

What we plan to do now:
from_spark called in python -> tasks(method of an actor) spawned to get a partition of dataframe for each -> use a lock,

[2022-04-21 03:44] xychu commented on #18889
Seems the dashboard crash may have been fixed in https://github.com/ray-project/ray/pull/21650
But still not sure if it's still a problem that some node raylet `status:ALIVE` but without resource usage from `ReporterAgent`.
Also the dispath remote task failures mentioned by @newmanwang  https://github.com/ray-project/ray/issues/18889#issuecomment-1041134711

[2022-04-21 05:31] Allgoerithm commented on #15893
@oscartackstrom I've added this line to the initialization commands as you suggested, but when I then run ray up, it fails because of a syntax error caused by the curly braces in {print $1}. What am I doing wrong? Just removing the curly braces fixes the syntax error, but then starting the head node fails with an SSH problem just as before.

[2022-04-21 06:24] scv119 opened #24070 "[Core] Crash in worker_pool RemoveWorker"
### What happened + What you expected to happen

When we debug shuffle_1tb_5000_partitions we encounter following error looks pretty bad

[code]

https://console.anyscale.com/o/anyscale-internal/projects/prj_SVFGM5yBqK6DHCfLtRMryXHM/clusters/ses_Tir3ZCQ1JMWWMLS7ALB7WeAZ?command-history-section=command_history

### Versions / Dependencies

latest master

### Reproduction script

run shuffle 5000 pa

[2022-04-21 06:37] melonipoika opened #24071 "[RLlib] `create_colocated` fails with "Unable to create enough colocated actors""
### What happened + What you expected to happen

When running on a GCP cluster with 21 machines (1 learner, 20 rollout generators) and using 5 aggregation workers (or more), Impala tends to error out with:

[code]

Full traceback:

[code]

### Versions / Dependencies

Ray 1.11.0
Python 3.8.13
Debian GNU/Linux 10 (buster)

### Reproduction script

Cluster config:

[code]

@hemanmach could you pleas

[2022-04-21 08:40] JessicaLopezEspejel commented on #23951
Hello,

I tried your solution. However, there is an error:

[code]

![ray_error](https://user-images.githubusercontent.com/53188008/164415712-e33a9038-c5c1-4889-916d-fd47c2ae9927.PNG)

Do you have any advice?
Thank you.

[2022-04-21 09:12] JessicaLopezEspejel commented on #23981
Hello,

[phosseini](https://github.com/phosseini)  did you achieve to resolve the issue? I tried the workarounds suggest by @amogkam , but I have the following error:

[code]
![ray_error](https://user-images.githubusercontent.com/53188008/164421186-365c14d0-a8f7-452f-95ce-ced284bec2a9.PNG)

It looks like the problem is in python 3.7, however when I install python 3.8 in my colab:

[code]
It does n

[2022-04-21 09:16] JessicaLopezEspejel commented on #23951
Hello,

Your solution is working until I work with huggingface. It looks like the problem is in python 3.7, however  when I install python 3.8 in my colab:

[code]
It does not recognize `transformers` , that I already install:

![ray_error](https://user-images.githubusercontent.com/53188008/164421186-365c14d0-a8f7-452f-95ce-ced284bec2a9.PNG)

It looks like the problem is in python 3.7, however
![p

[2022-04-21 09:24] fwitter commented on #23816
@ArturNiederfahrenhorst Great and thanks! I will submit a first draft soon.

My idea is not to subclass from `ReplayBuffer` but to introduce a new storage interface which is used by `ReplayBuffer`. This way, the storage location is independent of the sampling strategy used in the `ReplayBuffer`.

[2022-04-21 09:25] sven1977 commented on #21489
Thanks for the PR @grypesc , this is awesome!
I just pushed some minor changes to it (LINT was failing and re-pulled from our upstream master) and will merge right after confirming that all tests are passing now ...

[2022-04-21 10:05] jovany-wang commented on #23458
@ashione CC

[2022-04-21 10:48] bkatwal commented on #8359
The same problem I am facing too.
As I am testing my actor. Earlier I had used `ray.init()` unfortunately, this does not record coverage. To test i changed to `local_mode=True`. Now the problem is my actor's remote function call never returns as the actor code is supposed to run infinitely :(

[2022-04-21 11:04] melonipoika opened #24073 "[Core] [GCP] Unable to connect to Ray Dashboard running on head node"
### What happened + What you expected to happen

After launching a Ray cluster with `--include-dashboard=true` in the `head_start_ray_command`, I can see from the logs that the dashboard is started, but I am not able to connect to it:

[code]

nmap putput:

[code]

I have created a firewall rule to open port 8265 and added the firewall tag to the head node config:

[code]

### Versions / Dependenc

[2022-04-21 12:35] RocketRider opened #24074 "[RLlib] KeyError in _step() from multi_gpu_learner_thread"
### What happened + What you expected to happen

I have an env with an agent that is not always used. So no data is produced in some batches. This leads to a key error in the _step() function when accessing batch.policy_batches.

So I changed the code to the following:
https://github.com/ray-project/ray/blob/master/rllib/execution/multi_gpu_learner_thread.py#L206
[code]
Is this a reasonable change

[2022-04-21 12:41] tsaoyu commented on #23133
This explanation make sense to me.
Another point I want to bring is that if there is a data corruption (in between CSV batches) what will happend? CSV is in the wild and it is harder to deal with compared to Parquet and ORC.

[2022-04-21 12:46] philippGraf opened #24075 "[RLlib] Training on custom contextual bandits with multi-discrete actions throws error because of unexpected tensor shapes"
### What happened + What you expected to happen

I want to train on custom contextual bandits with multi discrete actions, but torch throws an error because of unexpected tensor-shapes:

Failure # 1 (occurred at 2022-04-21_14-36-44)
[code]

Simple discrete action spaces seem to work. Seems to be an older Problem: https://github.com/ray-project/ray/issues/14249

Nevertheless, i am puzzled as the Re

[2022-04-21 14:54] theocean154 opened #24078 "[Core] if "dataclasses" is installed as a pip dependency, cluster will silently fail to initialize"
### What happened + What you expected to happen

[code]

This will seemingly create an environment, but fail to respond or be useable without any reported error.

May relate to #23844

### Versions / Dependencies

Latest ray

### Reproduction script

ray.init(runtime_env={"pip":["dataclasses"]})

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-04-21 15:15] theocean154 commented on #24078
May relate to #12091

[2022-04-21 15:16] amogkam commented on #23951
cc @suquark any ideas on the pickle error?

[2022-04-21 17:39] simontindemans opened #24081 "[Core] [Multiprocessing] Pool.imap_unordered fails with iterator"
### What happened + What you expected to happen

When using `ray.util.multiprocessing.Pool.imap_unordered(func, iterable)` with a self-defined iterator, I am confronted with the error `TypeError: Could not serialize the argument [((<generator object new_range at 0x7fa07f71e2e0>,), {})] for a task or actor ray.util.multiprocessing.pool.PoolActor.run_batch.`

This is unexpected, as the iterator can

[2022-04-21 17:41] hemanmach commented on #24071
Here is a Impala config that oftentimes leads to the above error:

[code]

[2022-04-21 17:55] #21734 closed

[2022-04-21 18:00] melonipoika commented on #24073
passing `--dashboard-host=0.0.0.0` to the `head_start_ray_commands` fixed this issue. Thank you @chiefkarlin
 !!

[2022-04-21 18:48] #24062 closed

[2022-04-21 19:30] edoakes commented on #24081
@simontindemans thanks for the detailed issue & reproduction! Any chance you'd be willing to contribute a fix for this? I'd be happy to guide you through it & review. Looks like you already have a good understanding of the code.

[2022-04-21 19:50] sven1977 commented on #22943
Fixed by above PR, closing this now.

[2022-04-21 19:50] #22943 closed

[2022-04-21 19:50] mwtian commented on #24021
After preliminary investigations, the issue is probably due to raylet missing heartbeat to GCS. Raylet's GCS client uses the raylet's main event loop, which becomes very busy when there are >= 2.8M object refs. We can look into using separate event loop for reporting heartbeat. Optimizing the communication pattern when a raylet owns a large number of object refs should be helpful in other areas to

[2022-04-21 19:52] cassidylaidlaw opened #24082 "[RLlib] change to WorkerSet.trainable_policies in 1.12 breaks custom algorithms"
### What happened + What you expected to happen

In versions of RLlib up to 1.11, calling `trainer.workers.trainable_policies()` returns a list of policy IDs:

    ['default_policy']

Now in 1.12, it returns a list of booleans:

    [True]

I understand that this method is deprecated as of 1.12, but this breaks all the execution plans of my custom algorithms due to how `SelectExperiences` works. M

[2022-04-21 19:53] simontindemans commented on #24081
@edoakes Sure, I'm already working on one (as I need it for a project).

[2022-04-21 19:56] stephanie-wang commented on #24021
Hmm I see! I wonder if this will be a problem in a larger cluster setting, though, when hopefully the object ref overhead will be spread across all the raylets.

[2022-04-21 20:03] xwjiang2010 opened #24084 "[RLlib] [CI] rllib related MacOS tests are flaky"
### What happened + What you expected to happen

Context:
===========================
It looks like a Serve - RLlib tutorial is failing on MacOS with a TensorFlow <--> Keras compatibility issue?
https://buildkite.com/ray-project/ray-builders-branch/builds/7088#8c68fed9-9f86-4538-b2ca-1fdea2346adc
https://stackoverflow.com/questions/66178738/attributeerror-module-tensorflow-python-training-experime

[2022-04-21 20:08] simontindemans commented on #24081
@edoakes, here is a first attempt: https://github.com/simontindemans/ray/commit/110ce5e483e89b7458d755382bad973401c04acf

It fixes the problem above, but there are two issues:
* Serious is that I had to assume a somewhat arbitrary buffer size in line 354. Currently, I have used 10x the number of actors. If I set it too small, the code locks.
* Ugly-but-functional is a conversion from iterator to l

[2022-04-21 20:48] mwtian commented on #24021
The busiest handlers on the raylet are `ObjectManager.ObjectAdded` and `NodeManagerService.grpc_server.PinObjectIDs`. If they are associated not with the object owners, but with task workers, then the overhead will definitely be less when there are more raylets.

[2022-04-21 20:51] stephanie-wang commented on #24021
Nice, yeah, those would be called whenever a task returns an object. So it sounds like this issue is okay for now, although we should fix the heartbeat issue like you said. Do you want to open an issue for this on the Ray core backlog? I think it's been a known problem for a while but I don't see a definitive issue for it.

[2022-04-21 20:54] xwjiang2010 opened #24087 "[Tune] test_checkpoint_manager is flaky since recent change on checkpoint with nan values"
### What happened + What you expected to happen

[code]

@Yard1 Since you probably have more context here, I was wondering if you could take up this task? Thanks so much!

### Versions / Dependencies

Master

### Reproduction script

NA

### Issue Severity

Low: It annoys or frustrates me.

[2022-04-21 20:56] mwtian commented on #24021
Sounds good. Let me try a quick fix for the heartbeat problem and close this issue with it. If a quick fix is hard, I will open a separate issue.

[2022-04-21 20:58] Yard1 commented on #24087
Will take a look!

[2022-04-21 21:54] #23874 closed

[2022-04-21 23:04] siddgoel commented on #23663
The version I used while raising the issue was 2.0.0.dev0 whereas this time I used 1.12 as this was the one you used while testing. Moreover, I believe the discrepancy in ray performance is still there as it's still taking way more than 13s to process the files for me. @jianoaix

[2022-04-21 23:12] jianoaix commented on #23663
Did you try it on your internal data, or just some random data? I think we should nail that and make whatever issue reproducible. If you believe any random data can reproduce, can you create one and share it?

[2022-04-21 23:17] siddgoel commented on #23921
@clarkzinzow The in-memory size of each file was approx 850 MiB.

[2022-04-21 23:35] avnishn commented on #23895
I'm going to close this for now since it appears that @sven1977 has solved this

[2022-04-21 23:35] #23895 closed

[2022-04-22 00:00] jiaodong commented on #23054
this is resolved before previous branch cut.

[2022-04-22 00:00] #23054 closed

[2022-04-22 02:02] jeromeshan opened #24097 "[Core] [Docs/Question] Cython usage on Ray"
Hi
I have a questions about cython usage in ray
But i could find any examples listed in the article. Nor by google or searching in repo.
Could you please help me there

[2022-04-22 02:05] jeromeshan commented on #24097
BTW
I was using to use ray to parallel cython code, but got this error
`ValueError: buffer source array is read-only`
also using ray.put for shared memory

But since i havent found an examples yet im not opening this error as an issue

[2022-04-22 02:08] jiaodong commented on #23511
The high level question here is ideally we need a resolution story for deployment function to deal with something like

[code]

Where 1 and 2 are pre-bind values, and `user_input` comes from `.remote`

[2022-04-22 02:58] jiaodong commented on #23511
So given in serve we always want user to bring a DAGDriver class and DAG body executes fine with single function, this doesn't break core / serve dag layering or semantics, we can revisit later if we want single function node to be the root .. that is unlikely.

[2022-04-22 03:23] FedericoGarza opened #24100 "[Autoscaler] [Docs] Link to cluster setup is broken"
In the section [Run on a Cluster](https://docs.ray.io/en/latest/ray-more-libs/multiprocessing.html#run-on-a-cluster), the link to [cluster setup](https://docs.ray.io/en/latest/ray-more-libs/cluster/index.html) does not work.

<img width="802" alt="image" src="https://user-images.githubusercontent.com/10517170/164590051-60bad363-e6f0-4ef4-a78e-9813ea65162a.png">

[2022-04-22 04:25] #22825 closed

[2022-04-22 05:05] siddgoel commented on #23663
@jianoaix I tried it on the same data that you used. The exact same experiment with 5 files of 1GB each and the result is as mentioned above.

[2022-04-22 06:52] simontindemans commented on #24081
I spoke too soon: I have encountered a few issues with my proposed fix. I'll revisit and post back when I have something that works and is solid.

[2022-04-22 07:32] #22870 closed

[2022-04-22 09:54] simonsays1980 commented on #23890
@sven1977 Perfect solution, I am with you guys that making deep copies could harm the overall performance and is in most use cases not necessary.
The main use cases (use case is actually not even the right meaning here) where altering actions are needed are some where the environment is coded for a custom policy that sends actions in with maybe negative numbers. Imagine for example a market enviro

[2022-04-22 12:13] zhouzinimg commented on #21479
python muzero.py same error.

[2022-04-22 12:46] fwitter opened #24105 "[RLlib] Continuous SAC Messes up Order in Complex Dict-Observations"
### What happened + What you expected to happen

I am using CQL with custom offline data containing complex dict observations. Note that CQL does not apply any preprocessors for complex spaces but uses the data as provided. With this setup, I ran into an error which is caused by the underlying SAC model.

SAC models may mix up the order of sub-observations provided as a complex Dict space before p

[2022-04-22 14:16] stefanbschneider opened #24107 "RLlib: Silence external warnings"
### Description

It would be great to silence warnings from external libraries inside Ray, eg, from numpy.

Here, `warnings.filterwarnings("ignore", category=DeprecationWarning)` does not work and the warnings from Ray are still shown. Also, `ray.init(log_to_driver=False)` or reducing verbosity do not help.

Discussion and suggested approach on Discourse: https://discuss.ray.io/t/silence-numpy-dep

[2022-04-22 14:32] ArturNiederfahrenhorst commented on #23816
Under the hood all replay buffer write/read to/from self._storage, which is a simple list.
And they all inherit from ReplayBuffer, which sets self._storage.

So if you could do this as a MixIn-type of class, from which you inherit to make a ReplayBuffer behave like you describe, that would be awesome!

[code]

This is how I think it would be great to do what you are doing.
It enables us to basical

[2022-04-22 15:01] JessicaLopezEspejel commented on #23981
Hello @phosseini, I am using  6.0.1 version of `pyarrow`, which it is installed by default when I install datasets '!pip install datasets':
![pyarrow](https://user-images.githubusercontent.com/53188008/164738074-a91fdfa8-06e6-4c0a-ae25-3f8c5f9661dc.PNG)

I read in this [link](https://stackoverflow.com/questions/67798070/raytune-is-throwing-error-module-pickle-has-no-attribute-picklebuffer-whe) tha

[2022-04-22 15:12] jianoaix commented on #23133
The batch reading should not corrupt data. If data in CSV is already corrupted, I think it'd be similar to this error, i.e. it cannot parse it to the type it expects.

[2022-04-22 15:20] jianoaix commented on #23133
To summarize
- Issue: The batch reading of PyArrow infers the types of each column in the first batch and uses that as the schema to read/parse following batches. Scientific notation is inferred as double while the normal notation is as int64. When all numbers in first batch are normal notation and then followed by scientific notation in batches later, it will use int64 (instead of double) to pars

[2022-04-22 15:40] jovany-wang opened #24108 "[Ray Collective] Unable to connect to Redis when password enabled."
### What happened + What you expected to happen

In gloo mode, we always use a default password to connect to Redis, which cause failure once the password of Ray cluster is enabled.

### Versions / Dependencies

All

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-04-22 15:44] jovany-wang opened #24109 "[Ray Collective] Isolate the meta info in different group and different jobs in gloo mode."
### Description

Currently, there is no any isolation between different group and different jobs.
For instance, once a job fails when initialing a gloo group, the next job also fails due to the same meta info exists in the persistent store.

### Use case

_No response_

[2022-04-22 15:47] sai-prasanna commented on #9166
Anyone managed to fix this?

[2022-04-22 15:50] christy opened #24110 "[RLlib] SlateQ: Checkpoint restore fails"
### What happened + What you expected to happen

### Description

I was trying to save the SlateQ Policy so I could Serve it.  The save worked.  But restore did not.  Trying to restore the trained SlateQ policy from checkpoint file using <b>trainer.restore()</b> resulted in error with message (full error message is in the Output:):

Error detected in node 'default_policy/timestep_1' defined at: Fi

[2022-04-22 16:14] edoakes commented on #24081
Sounds good @simontindemans :)

Btw, the best way for me to review is for you to make a pull request to the ray repository based on your branch. You should be able to go to the ray-project/ray repo page and click "make a pull request," then select your branch. Assign me there / ping me.

[2022-04-22 16:19] jiaodong commented on #23987
This is not strictly broken but have a good answer for it improves UX.

[2022-04-22 16:29] ArturNiederfahrenhorst commented on #23527
I tried to reproduce this with Python 3.8 on master and with [this script](https://gist.github.com/ArturNiederfahrenhorst/409825f6a8d9b5c8647d064348db8acd).
Can someone confirm that this should produce the issue?

[2022-04-22 16:41] sven1977 commented on #23527
@ArturNiederfahrenhorst , let me try ...

[2022-04-22 16:45] sven1977 commented on #23527
I can run your script, @ArturNiederfahrenhorst , but don't see the error on master (py 3.8) Everything runs ok.

[2022-04-22 16:47] sven1977 commented on #23527
Hey @brodermind , could you post a small, fully self-sufficient repro script? We seem to be unable to reproduce this.

Either way, we should probably invest some time into providing a much more specific error message in our env-checker when checking these large, complex dict/tuple spaces. As a user, I would like to know, which exact sub-key was failing and why (shape, dtype, or data range wrong?).

[2022-04-22 16:51] sven1977 commented on #23527
Hey @smita-09 , one of your values in your given observation (value=1.2) is definitely outside the range of your observation space, which has ranges from 0.0 to 1.0, only. This would be one reason, why you see this error. Try increasing your observation space's range or fix the observation outputs from your environment to fall into the [0.0, 1.0] range.

[2022-04-22 17:01] gjoliver commented on #23890
sounds great, in _env_runner right before we send_action may be the best.

[2022-04-22 17:13] #23560 closed

[2022-04-22 18:14] clarkzinzow commented on #23819
@5huanghuai Also, our [discussion forum](https://discuss.ray.io/) is a perfect place for questions such as this!

[2022-04-22 18:28] jiaodong opened #24116 "[Serve] Fix weird missing methods upon doing `serve.run`"
### What happened + What you expected to happen

For a simple counter with passing results i'm seeing

[code]

[code]

That's quite annoying. I think it has something to do with our use of LazyHandle in sync while default to `__call__` in DAGDriver. We should get this fixed before next branch cut.

### Versions / Dependencies

.

### Reproduction script

.

### Issue Severity

Medium: It is a sign

[2022-04-22 18:50] sreddy-es commented on #23844
@theocean154 Still doesn't.

[2022-04-22 18:57] atrejut commented on #23527
In my older report linked above as a duplicate (#22429) I did include a self-contained reproduction script -- I can't test against latest master right now though.

[2022-04-22 19:00] simontindemans commented on #24081
@edoakes I have made a working version that addresses all issues, as far as I can tell. I made a pull request, but am unsure how to assign you. Also, some of the checks have not been done.

[2022-04-22 19:13] scv119 commented on #23458
@jovany-wang if you can find a minimal repro script we can help to debug.

[2022-04-22 19:53] Hamptonjc commented on #23971
For sake of completeness, setting RAY_kill_worker_timeout_milliseconds=60000 still resulted in a GPU out-of-memory error.

[2022-04-22 20:53] jianoaix commented on #23448
@amogkam do you want to try the mitigations summarized at: https://github.com/ray-project/ray/issues/23133#issuecomment-1106619322

Now these args are not exposed at Dataset level yet, but we may add if needed.

[2022-04-22 21:01] sven1977 commented on #23527
Don't you have to implement the `step()` method in TestEnv @atrejut ?

I'm getting:
[code]
when running your script on master, which makes sense as `step()` is not defined. ...

[2022-04-22 21:45] clarkzinzow opened #24121 "[Datasets] Track execution times of individual substages."
Currently, when building the stats for a multi-stage operation, the execution time of the operation as a whole and individual block tasks is instrumented, but the execution time of the individual substages is not. E.g., in a shuffle operation, we track the execution time for the entire shuffle, and for each of the map and reduce _tasks_, but not for the map and reduce _stages_.

We should add subs

[2022-04-22 22:12] jiaodong opened #24122 "[Serve] Default DAGDriver implementation cannot serve.run() or serve.build() twice"
### What happened + What you expected to happen

Use the same code snippet in https://github.com/ray-project/ray/issues/24116 but ensure to use default implementation of `from ray.serve.drivers import DAGDriver`

Also, run the test with parameterize, NOTE: running the test with use_build only as `True` or `False` will pass, but only fails when we run both.

[code]

### Observed issue

On the secon

[2022-04-22 23:23] architkulkarni commented on #23767
That's great that this is fixed in 1.12.0!  Feel free to reopen if the issue persists.

[2022-04-22 23:23] #23767 closed

[2022-04-22 23:26] architkulkarni commented on #23865
Hi @peterhaddad3121, we've tried to reproduce this on a multinode cluster with the following:
[code]
running it multiple times, but we couldn't reproduce it.  Do you have any more hints about how to make our setup closer to yours?  Also, did the problem persist with Ray 1.12.0?

[2022-04-22 23:30] architkulkarni commented on #23423
@ankur6ue do you know if your problem was resolved with Ray 1.12?  If not, could you provide some more details about how your Ray Kubernetes cluster is set up?  We've tried to reproduce this using Ray 1.11 on a multiple node cluster, but weren't successful.

[2022-04-22 23:33] #23915 closed

[2022-04-23 01:25] robertnishihara opened #24130 "[Core] ray start --head prints incorrect instructions for adding new nodes to the Ray cluster"
### What happened + What you expected to happen

If I run `ray start --head` on my laptop, I get the following output

[code]

However, the address `127.0.0.1` cannot be used to connect from another machine, so this won't work. I noticed this because of this Discourse post https://discuss.ray.io/t/having-trouble-connecting-to-head-node/5890.

Full output below

[code]

### Versions / Dependencies

[2022-04-23 01:29] robertnishihara commented on #24130
While we're at it, we should modify this line

[code]

and insert the actual head node IP address.

[2022-04-23 04:40] jovany-wang commented on #23458
@scv119 I see. Let me try to cherry-pick it back to our codebase.

[2022-04-23 06:47] piojanu opened #24133 "[RLlib] AttributeError: 'numpy.random._generator.Generator' object has no attribute 'randint' in ".../ray/rllib/env/wrappers/atari_wrappers.py""
### What happened + What you expected to happen

I've installed `ray[rllib]` and try to run [this](https://github.com/ray-project/ray/blob/master/rllib/tuned_examples/impala/pong-impala.yaml) IMPALA example config through: `rllib train -f pong-impala.yaml`. I'm expecting training to start, but instead I get this error:

[code]

_Note this is run with only one worker, but I get this error also with

[2022-04-23 06:49] piojanu commented on #24133
Note that I've read [these](https://github.com/ray-project/ray/issues/22622) [two](https://github.com/ray-project/ray/issues/22593) issues and still couldn't resolve this issue.

[2022-04-23 06:55] atrejut commented on #23527
Hi @sven1977,

yes, step was not necessary for reproduction, I guess `ray` already tries to validate the observation it gets from a `reset`.

when I run the above snippet (`ray==1.10.0`, `gym==0.21.0`) I get

[code]
Note that in my experiments also the gym version was relevant, not just the ray version.

[2022-04-23 07:04] atrejut commented on #23527
just tried with `ray==1.12` and can **not** reproduce -- I get the same `NotImplementedError` as you got above.
Adding a very simple `step`-method the trainer seems to instantiate just fine -- so I guess as far as I'm concerned this has been fixed in `1.12`.

[2022-04-23 08:07] brodermind commented on #23527
@sven1977 Hi, thank you for your reply, I have fixed my problem by degrading the ray version.

[2022-04-23 13:11] tfriedel opened #24137 "[Tune] support for FIRE PBT"
### Description

You already support PBT (population based training). One of the shortcomings of PBT is that it tends to favor short-term improvements. To address this issue, a DeepMind research team has proposed Faster Improvement Rate PBT (FIRE PBT), a novel approach that outperforms PBT methods and matches the performance of networks trained with traditional manual hyperparameter tuning on the

[2022-04-23 17:35] tgaddair opened #24139 "[train] Trainer modifies `resources_per_worker` dictionary"
### What happened + What you expected to happen

When passing in a param `resources_per_worker` to the Ray Train `Trainer`, the dictionary is cleared after it has been passed to the Trainer initializer.

This side effect appears to be undocumented, and is undesirable. As the user may want and expect to be able to create multiple `Trainer` instances with the same `resources_per_worker` dictionary.

[2022-04-23 17:37] sven1977 commented on #23527
Awesome @atrejut . Thanks for letting us know.
@brodermind: I'm going to close this issue. Should this become a problem again, please feel free to re-open.

[2022-04-23 17:37] #23527 closed

[2022-04-23 17:38] tgaddair commented on #24139
This is coming from here: https://github.com/ray-project/ray/blob/master/python/ray/train/trainer.py#L168

Simple solution would be to just copy / deepcopy the input `resources_per_worker` at the very top of the initializer.

[2022-04-23 17:44] gjoliver opened #24140 "[RLlib] some things are weird about examples/attention_net.py"
### What happened + What you expected to happen

While testing, I noticed a couple of things with this example:
1. TF runs 10x slower than Torch for this example.
2. TF2 is broken for this example. Don't know why it's trying to convert info dict into a Tensor.
I'd love to get to the bottom of these since I am here.

### Versions / Dependencies

Master.

### Reproduction script

python rllib/exampl

[2022-04-23 18:09] nayash commented on #23951
I got this error while executing "tune.run" on Colab. Workaround which I did was installing v1.11.0 instead of 1.12.0

[2022-04-23 22:01] #24139 closed

[2022-04-23 22:14] code-review-doctor opened #24143 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/ray-project/ray/blob/30ab5458a7e4ba2351d5e1beef8c8797b5946493/python/ray/data/dataset.py#L638
https://github.com/ray-project/ray/blob/30ab5458a7e4ba2351d5e1beef8c8797b5946493/python/ray/_private/log_monitor.py#L128
https://github.com/ray-project/ray/

[2022-04-24 01:29] jon-chuang commented on #23746
Actually maybe I will leave this open as the coverage is not complete, including currently not supporting windows and mac

[2022-04-24 02:44] #20932 closed

[2022-04-24 02:44] #20890 closed

[2022-04-24 03:00] jovany-wang commented on #21192
It's stall valid.

[2022-04-24 03:43] #20667 closed

[2022-04-24 03:44] #19004 closed

[2022-04-24 03:44] #20948 closed

[2022-04-24 03:44] #20944 closed

[2022-04-24 08:23] #24108 closed

[2022-04-24 10:00] Milad137 opened #24149 "[Core] Ray init memory issue with docker"
### What happened + What you expected to happen

When running ray in a docker container, if the memory size is not defined in docker run, "/sys/fs/cgroup/memory.max" file sets it as max instead of a integer number. This leads to ray.init() to fail, as it tries to get memory size.
https://github.com/ray-project/ray/blob/e402fc0eaa07d3dd396730661bb799e5aab9a03a/python/ray/_private/utils.py#L394

###

[2022-04-24 17:57] clarkzinzow opened #24152 "[Core] Support deserializing remote function handles across clusters"
**TL;DR:** When deserializing a remote function handle on a different cluster, we should trigger re-exporting of the remote function. Currently, this will sometimes not happen, and importing the function will hang forever since the remote function is never exported on the new cluster.

### Context

Tune needs to support resuming a stopped experiment on a different cluster; in order to achieve this

[2022-04-24 20:38] ArturNiederfahrenhorst commented on #22693
Hi again @max333, I have written fixes for these issue but I struggle to reconstruct what happend in the following case.

Do you think this is worth perusing? Otherwise we could close this issue.

[2022-04-24 20:45] max333 commented on #22693
No.  You can close the issue.  Thanks for fixing the other issues.

[2022-04-24 20:46] #22693 closed

[2022-04-24 22:03] Athe-kunal opened #24155 "[tune] get_system_memory() crashes with "ValueError: invalid literal for int() with base 10: 'max\n'""
### What happened + What you expected to happen

I am using Ray tune for [FInRL](https://github.com/AI4Finance-LLC/FinRL) with RLlib models and here is the tutorial [notebook](https://github.com/AI4Finance-Foundation/FinRL/blob/master/tutorials/4-Optimization/FinRL_HyperparameterTuning_Raytune_RLlib.ipynb)
This tutorial notebook was working fine just a month back but now it is showing the followin

[2022-04-25 00:54] clarkzinzow opened #24158 "[Datasets] Prefetching in `iter_batches()` does not work as expected"
Due to `ray.wait()`'s `fetch_local` semantics being broken, prefetching in `Dataset.iter_batches()` is currently not working as expected. I.e., the benchmarking done in https://github.com/ray-project/ray/pull/23952 suggests that pull requests are not being started for all objects in the prefetch window.

### Possible Solutions

We should use a prefetching alternative with minimal overhead. Two opt

[2022-04-25 01:06] clarkzinzow opened #24159 "[Datasets] Support local shuffle via in-memory buffer"
Not all training datasets/models benefit from high-quality global or psuedo-global (windowed) shuffles, but still want to cheaply decorrelate samples to a small degree. The status quo solution is to perform a local (intra-shard) shuffle using an in-memory buffer. We should support such a local shuffle via `.iter_batches()` to meet this use case.

[2022-04-25 03:22] clarkzinzow commented on #18117
Hey @YeahNew, I just tried out using the Arrow `csv.ReadOptions(column_names=[...])` passthrough arg and confirmed that this (1) prevents the first line from being read as a header containing the column names, and (2) properly sets the column names. I opened a [PR](https://github.com/ray-project/ray/pull/24161) adding a test that does this!

[2022-04-25 03:54] xwjiang2010 commented on #24155
Hi,
I searched around and seems there is a recent patch that addresses some of the issues with using Google Colab. https://github.com/ray-project/ray/pull/23922
Would you like to give it a try?

[2022-04-25 03:59] xwjiang2010 commented on #24149
Can you also add which version of Ray you are using?

[2022-04-25 03:59] xwjiang2010 commented on #24155
Actually.. looks related to #24149

[2022-04-25 04:52] richardliaw commented on #24155
There's a mega-hack you can use to get around this for now:
[code]

[2022-04-25 04:53] richardliaw commented on #24149
This should be fixed with #23922, which should come out in ray 1.13!

Otherwise you can try hacking around this:

[code]

[2022-04-25 06:20] yogeveran opened #24163 "[Ray Client] Util Client logsclient.py"
### What happened + What you expected to happen

During a run with pytorch lightning 1.5.7
python/ray/util/client/logsclient.py threw an ascii exception.

Options that might solve (not tested yet)
https://gankrin.org/fix-unicodeencodeerror-ascii-codec-cant-encode-character/

Also, here they suggest to use byte str to stay safe:
https://pythonhosted.org/kitchen/unicode-frustrations.html

Error mess

[2022-04-25 06:27] aksh-gupta commented on #2551
@erikerlandson Were you able to redirect logs to your pod logs?

[2022-04-25 09:17] #23826 closed

[2022-04-25 09:21] #24105 closed

[2022-04-25 09:40] #21991 closed

[2022-04-25 09:53] JoseZF opened #24169 "[Core] AttributeError: partially initialized module 'ray' has no attribute '_private' (most likely due to a circular import)"
### What happened + What you expected to happen
Error while importing Ray. first time got this error message:

ModuleNotFoundError: No module named 'redis'

Re-ran it and got this:

Input In [6], in <cell line: 3>()
      1 import numpy as np
      2 import pprint
----> 3 import ray
      5 # Start a new instance of Ray (when running this tutorial locally) or
      6 # connect to an already runnin

[2022-04-25 10:10] Milad137 commented on #24149
Thanks for your help. That was actually what I was doing. it's not a big issue though.

[2022-04-25 10:11] Milad137 commented on #24149
Thanks for your help. That was actually what I was doing. it's not a big issue though.

[2022-04-25 10:13] trnhattan commented on #24133
The document for `randint` function says it will be removed in the future, and use `rng.integers(low, [high, size, dtype])` instead. You can find this at `venv\Lib\site-packages\gym\utils\seeding.py`.
Because of this, I changed ```noops = self.unwrapped.np_random.randint(1, self.noop_max + 1)``` to
[code]
and it worked for me.

[2022-04-25 10:14] #24149 closed

[2022-04-25 10:14] Milad137 commented on #24149
This should be fixed with https://github.com/ray-project/ray/pull/23922, which should come out in ray 1.13!

[2022-04-25 11:10] peterhaddad3121 commented on #23423
@architkulkarni I am am experiencing problems after uploading to version 1.12.0 of Ray from 1.11.0.

I am using the job SDK and receive errors such as:

[code]

Also, I am using the Job SDK and when printing the status I receive this error (which seems very misleading from the client side).

[code]

Any help would be appreciated. I am using the exact RL script from 1.11.0, so i'm uncertain if my s

[2022-04-25 12:49] AmeerHajAli commented on #18378
@ckw017 this should be closed now, correct?

[2022-04-25 13:27] spolcyn commented on #22745
We've found the root cause here -- the `ray.ray_operator.operator_utils` module always sets the `ray` logger to `DEBUG` level, and we imported that module.

Likely a question for the team working on the operator, but is that intended behavior?

[2022-04-25 14:15] frosk1 commented on #23768
any comments on that someone? @clarkzinzow

[2022-04-25 14:35] thoglu commented on #21825
I wil ltry again with the latest version asap .. it is potentially hard to make this reprodicible, it only occurs after several days of running .. if I kill jobs before they are always resumed correctly, only after a while ( ~7 days) scripts are not resumed correctly .. my supsicion is that this is connected to ulimit and the logging directory, but I am not sure if this is possible.

[2022-04-25 14:49] peterhaddad3121 commented on #23865
Hey @architkulkarni, thank you for looking into this!

I upgraded to 1.12.0 and looks like we are having success on thee Head node when installing torch, but not on the workers.

These are thee errors I am seeing on the workers, both utilize the same image.

[code]

[2022-04-25 14:52] #22130 closed

[2022-04-25 15:24] clarkzinzow commented on #23768
cc @architkulkarni who is on-call for the platform team

[2022-04-25 15:31] #23595 closed

[2022-04-25 15:37] clarkzinzow commented on #23448
Downgrading this to a P2 since (1) this is an Arrow-level issue with type inference + merging on batched reading, and (2) valid workarounds are given by @jianoaix in this [comment](https://github.com/ray-project/ray/issues/23133#issuecomment-1106619322).

[2022-04-25 15:39] #24155 closed

[2022-04-25 15:41] xwjiang2010 commented on #24137
Yes, this is on our backlog. cc @krfricke @Yard1

[2022-04-25 15:43] xwjiang2010 commented on #24133
@avnishn

[2022-04-25 15:55] Athe-kunal commented on #24155
This solved the issue, thank you @richardliaw and @xwjiang2010

[2022-04-25 15:55] stephanie-wang opened #24176 "[core][datasets] Worker raylets OOM when using smaller machines and default object store memory"
### What happened + What you expected to happen

Currently the datasets_shuffle_* nightly tests use 32-vCPU large machines and limit the object store memory to only a fraction of the available RAM. This means that we're probably underutilizing the machines and it's not very representative to a real setup either. Previous attempts to use smaller instance types / larger object store memory cause wor

[2022-04-25 16:15] #23986 closed

[2022-04-25 16:15] #24001 closed

[2022-04-25 16:17] xwjiang2010 commented on #24028
Actually I think this is RLlib issue. @sven1977 mind taking a look?

[2022-04-25 16:19] iclaxton opened #24177 "[Autoscaler] upscaling_speed: 0 gets reset to 1"
https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/_private/autoscaler.py#L930

We are having issues when we want to scale a cluster to a static number of workers and for the workers to terminate when they become idle. This is to support distributing multiple long running processes.

Because we are unable to set this value to zero we are seeing the cluster scaling up more worker

[2022-04-25 17:24] #18378 closed

[2022-04-25 17:33] edoakes commented on #21472
Fixed: https://github.com/ray-project/ray/pull/24044

[2022-04-25 17:33] #21472 closed

[2022-04-25 17:36] edoakes commented on #23938
@simon-mo this is fixed now and it just streams logs, I think this is what we want (especially w/ new access logs)

[2022-04-25 17:37] edoakes commented on #23057
@jiaodong promoting this to P1 for at least a better error messager

[2022-04-25 17:38] edoakes commented on #23044
outdated

[2022-04-25 17:38] #23044 closed

[2022-04-25 17:38] edoakes commented on #23048
@simon-mo is this still relevant?

[2022-04-25 17:39] #12291 closed

[2022-04-25 17:39] #12285 closed

[2022-04-25 17:39] #12287 closed

[2022-04-25 17:39] #12288 closed

[2022-04-25 17:39] #12290 closed

[2022-04-25 17:39] #12294 closed

[2022-04-25 17:39] #19255 closed

[2022-04-25 17:39] gutfeeling commented on #24028
The Segmentation Fault is happening on my computer, but my friend couldn't reproduce it on his computer. So this may be a  computer-specific issue and not very interesting.

However, the deterioration of the PPO performance for `BipedalWalker-v3` is reproducible on every computer we have tried so far.

[2022-04-25 17:39] #16095 closed

[2022-04-25 17:40] #19249 closed

[2022-04-25 17:40] edoakes commented on #19256
`serve run` will handle this :)

[2022-04-25 17:40] #19256 closed

[2022-04-25 17:42] edoakes commented on #21099
this is merged

[2022-04-25 17:42] #21099 closed

[2022-04-25 17:42] clarkzinzow opened #24178 "[Datasets] Add stats instrumentation for split operations."
Stats instrumentation is still missing for `.split()`, `.split_at_indices()`, and the fast `.repartition()` path. Support should proceed in two stages:
1. **[P0]** Add support for `.split_at_indices()`, which should cover all three split operations to some degree, since both `.split()` and the fast `.repartition()` path use `.split_at_indices()` for splitting datasets/blocks.
2. **[P1]** Refactor

[2022-04-25 17:42] edoakes commented on #23036
fixed

[2022-04-25 17:42] #23036 closed

[2022-04-25 17:42] #23022 closed

[2022-04-25 17:43] spolcyn commented on #22450
This would also be very useful to us in expanding our use of Ray Serve -- right now we use actors for things we'd otherwise prefer to use deployments for, mainly because we can kill actors and cancel a job in the middle.

[2022-04-25 17:43] DmitriGekhtman commented on #23182
Is it possible that there was no spot availability at all at the time that this happened?
All of these failures are from NodeUpdater child threads, so it seems unlikely (but possible) that the main autoscaler thread was interrupted.
We'd expect spot instance preemption to cause a traceback in one of these threads.
I agree that the error handling is opaque.

[2022-04-25 17:52] dirkweissenborn commented on #23182
Typically you would see a clear message when availability is the issue.
That wasn't the case here.

On Mon, Apr 25, 2022, 12:44 Dmitri Gekhtman ***@***.***>
wrote:

[2022-04-25 18:04] ckw017 commented on #23778
Taking a look

[2022-04-25 18:36] jiaodong commented on #22811
Hi @EricSteinberger, thanks for providing context for the issue. You're testing a workload that we think is critical but haven't invested much yet, therefore some edges could be rough. I haven't got my hands on DeepSpeed before but after checking into the launcher script I think you would probably have easier time to prototype directly with Ray Actor APIs to spawn and coordinate child processes vi

[2022-04-25 18:37] xwjiang2010 commented on #24050
Minimal reproduce:
[code]

[2022-04-25 18:39] jiaodong commented on #23057
@simon-mo is this the same as existing P1 we filed https://github.com/ray-project/ray/issues/24116 or something else ?

[2022-04-25 18:59] simon-mo commented on #23016
downgrading this to P2 because it concerns `serve build` code path only

[2022-04-25 19:03] ckw017 commented on #23778
@architkulkarni looks like this error is being caught server side:

[code]

Guessing the serve code might be trying to do something with an actor that doesn't exist yet (Looks like running the repro twice doesn't reproduce the error since the actor is already created) The:

[code]

Can be bumped to debug level to be less noisy, but more details on what's going on with the actor would be handy

[2022-04-25 19:35] edoakes commented on #23778
@ckw017 what is the `Caught schedule exception` part about?

[2022-04-25 19:48] gjoliver commented on #23769
I see. completely agree! thanks for all the detective work :)

[2022-04-25 19:49] #21789 closed

[2022-04-25 19:49] simon-mo commented on #23057
hmm not quite. i think we should band passing node as method arg with a transformation pass here.

[2022-04-25 19:52] ckw017 commented on #23778
That can also be set to debug, looks like an artifact from before errors were properly propagated from server to client

[2022-04-25 19:57] gwisaacs2 opened #24182 "StopIteration Error"
Hello,

I'm getting a StopIteration Error at exactly 40,000 steps. I try restarting the tune and it stops at exactly 40,000 steps every single time. It'll stop earlier or later depending on what my training batch sizes are like (included tune config at the bottom). I have no Stopper implemented and no scheduler. I tried adding an ASHA scheduler to override the default FIFO, but that didn't help ei

[2022-04-25 20:06] #21883 closed

[2022-04-25 20:07] bveeramani opened #24184 "[Datasets] Raise descriptive error when missing AWS credentials"
### Description

If the user hasn't authenticated with AWS and tries reading from S3, raise an error with a descriptive message.

### Use case

I've uploaded some files to an S3 bucket.

When I run the code snippet below without configuring my AWS credentials, I get an unhelpful error message.

[code]

[code]

[2022-04-25 20:26] architkulkarni commented on #23423
Yes @peterhaddad3121 it would be great if you could make a separate issue.  In the issue would you also mind adding more details about the port concern and why it's limiting; i.e. is it an inconvenience or a blocker?  What does it mean for port 8265 to break default ingress?  In any case we can definitely try to improve the experience.

[2022-04-25 20:39] jianoaix commented on #24158
For drawback 1.b and 1.c, my sense is that they will matter in serving system with high throughput. I'm not sure it will matter that much here since it's one per validation node. I didn't realize 1.a is a problem, is it a real concern? Missing Ray Client already means broken ray node?

[2022-04-25 20:41] architkulkarni commented on #23865
I'm not sure what's causing the failure here--it's just running a `pip install` on the worker nodes.  If you manually run `pip install torch` on the worker node, does it fail with the same error?  Just brainstorming here.
@Catch-Bull have you ever seen this error before?

[2022-04-25 20:49] architkulkarni commented on #23768
Hi @frosk1, thanks for posting the workaround.  The original feature request makes sense, unfortunately we haven't been able to prioritize adding the feature yet.  Were you looking for a comment on the security issue you raised?  Could you give some more details about that?

[2022-04-25 20:51] jianoaix commented on #24158
Actually I just recalled that it should work even in serving systems context based on my past experience. But we can evaluate anyway.

[2022-04-25 20:58] edoakes commented on #23778
Suggest we make both DEBUG-level

[2022-04-25 20:59] edoakes commented on #23057
let's disallow it for now w/ a good error message, we can add support later if needed.

[2022-04-25 21:02] jiaodong commented on #23057
yes i also think that's better idea. I'm not so certain if allowing or encouraging people to pass a class instance directly into class method should be encouraged our not, as opposed to passing them to class constructor.

[2022-04-25 21:24] xwjiang2010 commented on #23470
@jnpm
I am coming back to copy exactly your setup (starting at Run 1).
I am using also just one node cluster with g4dn.12xlarge instance.
Running the exact same script as your Run 1 on head node with `ray.init(address="auto")`.

The result I am getting is:
[code]

Looking pretty reasonable to me.

I understand that you were getting "PLACEMENT_GROUP_REMOVED" error in the beginning. The only differe

[2022-04-25 21:26] peterhaddad3121 commented on #22945
Hi @mwtian any traction on this issue by chance? Was wondering if contributing the Python portion would be an option?

[2022-04-25 22:07] mwtian commented on #22945
Hi @peterhaddad3121, contributions are definitely welcomed! I think this feature should not have much controversy. Eventually we probably want to expand the flag for gRPC headers to all gRPC usages in Ray. cc @scv119 @iycheng @ericl

[2022-04-25 22:08] vakker commented on #13607
I'm having the same (or similar) issue, but for me the GPU resource is shown correctly. E.g.:
CPU only Slurm job:
[code]
Then `print(ray.cluster_resources())` says:
[code]

GPU job:
[code]

And:
[code]

[2022-04-25 22:17] jianoaix opened #24189 "[Dataset] Support pipelining in actor pool"
### Description

Currently the actor pool has at most one in-flight task. This limits the efficiency due to reduced parallelism: when the computation happens there is no block fetching in parallel. We can improve this by firing multiple tasks in the pool which will make the computation and prefetch pipelined.

### Use case

map_batches() is a key Dataset API supporting use cases like batch inferen

[2022-04-25 22:17] #18117 closed

[2022-04-25 23:10] peterhaddad3121 commented on #23865
Hi @architkulkarni, I was able to successfully get past this issue by setting the proxies of pip and the image i.e http_proxy, https_proxy, and no_proxy. However, when doing this it seems that the Ray Client i.e 10001 has broke when doing an interactive shell.

I believe I can work past this by unsetting the proxies and only setting the pip_config proxy; however, are there workarounds to get past

[2022-04-25 23:12] #16435 closed

[2022-04-25 23:52] simon-mo opened #24192 "[Serve] Rename `input_schema` to `http_adapter`"
We are using `input_schema` as keyword argument in both DAGDriver and ModelWrapper. This field is confusing for users. We should rename them to http_adapter for UX benefit.

[2022-04-25 23:53] clarkzinzow commented on #24158
1(b) and 1(c) can both affect latency/throughput of the batch iterator, which can affect GPU utilization. We've also run into miscellaneous issues with these kind of dummy actor patterns in the past.

Yes, it would cause this to break whenever batch prefetching is used with the consumer being Ray Client. In production workloads, the consumer will typically be another Ray library that will consume

[2022-04-25 23:53] simon-mo opened #24193 "[Serve] Accept Pydantic Object as HTTP Adapters"
As a special case for HTTP adapters, accept a pydantic type for quality of life improvement.

Before:
[code]

After:
[code]

[2022-04-26 00:56] #23992 closed

[2022-04-26 01:05] simon-mo opened #24198 "[DAG] DAG executor repeated actor instantiation"
### What happened + What you expected to happen

Upon each dag execute, the actor is instantiated afresh.

While debugging https://github.com/ray-project/ray/issues/24116, I discovered that ray dag's class node's exec_impl will instantiate new actor each time it's getting called. this is unexpected and expensive

### Versions / Dependencies

master

### Reproduction script

[code]

see different "

[2022-04-26 01:13] bveeramani opened #24200 "[Docs] Instructions for building documentation don't work"
### What happened + What you expected to happen

I followed the [instructions to build the documentation](https://docs.ray.io/en/master/ray-contribute/development.html#building-the-docs).

I received an error
[code]

### Versions / Dependencies

**Python**: 3.8.12
**Ray**: 1.12.0
**OS**: macOS 11.5.2 (20G95)

### Reproduction script

[code]

Note that the error also occurs after building Ray (Pyth

[2022-04-26 02:53] clarkzinzow opened #24206 "[Datasets] Provide explicit resource allocation option for Datasets"
Instead of letting Datasets implicitly use cluster resources in the margins of explicit allocations of other libraries, such as Tune, Datasets should provide an option for explicitly allocating resources for a Datasets workload for users that want to box Datasets in.

### Possible Solutions

1. Provide an optional placement group in the global Datasets context that every Datasets task will use, if

[2022-04-26 02:56] clarkzinzow opened #24207 "[Datasets] Automatically infer tensor columns when building tabular blocks"
When building tabular blocks row-by-row, Datasets should automatically cast any ndarray-containing columns as tensor columns. This should allow users to automatically benefit from our tensor column support.

[2022-04-26 03:00] clarkzinzow opened #24208 "[Datasets] Automatically infer tensor blocks when returning NumPy ndarrays from `.map_batches()`"
When the return type of the batch UDF in `.map_batches()` is a NumPy ndarray or list of ndarrays, we should automatically create a single-column table leveraging our tensor array extension. This should allow users to automatically benefit from our tensor block support.

[2022-04-26 03:38] Lorry1123 commented on #1315
@mitar Hi! I'm also interested in the way you mount `host-local` directory. Is it works like following steps?
1. create a tmpfs/hugepage directory(for memory sharing)  and a empty directory(for unix domain socket) on every node
2. run plasma_store using daemon set
3. mount those two directory to every pod by volume `hostPath` api (since the memory is not declared in node or pod spec, i'm affraid i

[2022-04-26 03:57] dingkh-at-github commented on #10431
@raghuvarranvh
**max_calls** can be used with specific keyword arguments as follows:
@ray.remote(max_calls=2)
def f():
    return 1,2
****max_calls** can only be used fro tasks. for actor as follows:**
remote(num_cpus=2, resources={"CustomResource": 1})
class Foo:
    def method(self):
        return 1
Bar = Foo.options(num_cpus=1, resources=None)

[2022-04-26 03:59] saidileep-kivi opened #24209 "[Core] Ray Cluster randmoly throws RuntimeError in get_node_to_connect_for_driver"
### What happened + What you expected to happen

We are running a ray cluster on 2 comps. Ray sometimes suddenly throws the following Error:
[code]

Expected Behavior:
Cluster to run smoothly

### Versions / Dependencies

Ray Version: 1.12.0
Python: 3.8.12
OS: Linux

### Reproduction script

The issue occurs randomly and it's not reproducible on my end reliably

### Issue Severity

High: It blocks

[2022-04-26 04:05] dingkh-at-github commented on #10431
I solve the RayOutOfMemoryError problem by expanding the ratio of CPU to memory, such as 8-core CPU and 16g memory, or even 8-core CPU and 24g memory. Even the maximum number of workers will not fill the memory,you can test it.

[2022-04-26 07:55] mitar commented on #1315
I haven't done it at the end in a way that would support automatic scheduling. So I cannot help you much here.

[2022-04-26 08:15] maxpumperla commented on #24200
@bveeramani I did the exact same thing (which is also what we run on CI) and can't reproduce your `xgboost_ray` related finding. Is it possible that your `/private/tmp` venv leaks into your build somehow? Can you try to re-install `xgboost_ray`?

I'm closing this for now, as I'm reasonably sure it's a fluke, but please reopen if it persists.

[2022-04-26 09:13] maxpumperla commented on #24200
@bveeramani interesting, I accidentally ran into the same issue on an outdated branch just now. you should be able to fix this by rebasing on latest master.

[2022-04-26 10:14] XuehaiPan opened #24213 "[RLlib][Bug] duplicate action unsquashing in DDPG / TD3 policy"
### What happened + What you expected to happen

By default, `normalize_actions` is set to `True` in Trainer config for `Box` action space.

https://github.com/ray-project/ray/blob/c0ec20dc3a3f733fda85dcf9cc71f83d51132276/rllib/agents/trainer.py#L258-L262

The policy action output is a normalized version in the range of `[-1, +1]`. The normalized action will be unsquashed (unnormalized to action s

[2022-04-26 10:37] benblamey commented on #20084
Can confirm the issue on macOS Monterey, (processor is 2.3 GHz Dual-Core Intel Core i5)

[2022-04-26 10:46] benblamey commented on #20084
Possibly because the symbol `_Py_GetArgcArgv` is not being exported for some versions of Python 3?
See: https://github.com/python/cpython/issues/85087

[2022-04-26 10:48] benblamey commented on #20084
Related issues:
https://github.com/ray-project/ray/issues/22408
https://github.com/ray-project/ray/issues/10428

[2022-04-26 11:14] EricSteinberger commented on #22811
Hi! I replied on Slack with more info about our usecase. Thank you for looking into the issue!

[2022-04-26 11:57] simonsays1980 commented on #23890
During implementation and testing I found out that the actions get deep-copied anyway as at some point they were not anymore immutable. I traced it back to the [`postprocess_episode()`](https://github.com/ray-project/ray/blob/f7be4094629a149c583e9d5bd1bb77fe883cd505/rllib/evaluation/sampler.py#L1002) method of the `SimpleListCollector`.

Anyway, my implementation will use the `_env_runner()` as th

[2022-04-26 12:19] Samreay opened #24216 "[Core] Actors leaking memory"
### What happened + What you expected to happen

I noticed an issue in production with our ray server continually chewing up more and more memory:

<img width="1410" alt="image" src="https://user-images.githubusercontent.com/6748505/165441366-90288129-0729-446b-9069-9c87e2d94fd7.png">

So I went and made a small reproduction of our ray setup showing that actors are not releasing memory when they s

[2022-04-26 12:30] maxpumperla commented on #24200
@bveeramani turns out to be an xgboost version issue. it fails with xgboost==1.6.0, but is fine with `xgboost==1.5.2` or earlier.

[2022-04-26 12:38] krfricke commented on #19895
Should have been fixed by #24015

[2022-04-26 12:38] #19895 closed

[2022-04-26 13:00] msat59 commented on #24169
I got same error when tried to use `modin`.

[2022-04-26 13:03] krfricke commented on #19192
This should have been fixed by recent fixes to the GCP cloud syncing release tests (e.g. #24015, #24008, #23804)

[2022-04-26 13:04] JoseZF commented on #24169
They already found this error on another thread. The best solution for now is to use an earlier version of ray and wait for 1.12.1

[2022-04-26 14:47] krfricke commented on #9419
This issue has been fixed in #21475 #20197 and #20181 and I've just confirmed that the original reproduction script now passes fine (when passing an additional `mode="max"`).

let me know if any issues come up with this again

[2022-04-26 15:38] #24200 closed

[2022-04-26 15:53] XuehaiPan commented on #24213
I found another bug for action squashing in DDPG.

https://github.com/ray-project/ray/blob/27e7c284ee628787bfdb86b066d24d91db90eb87/rllib/utils/exploration/random.py#L147-L167

The exploration outputs random action in the env's action bounds (line 161). It will be unsquashed again.

[2022-04-26 16:33] ngupta23 opened #24224 "[Core] Ray not producing same results as python serial run on Linux for ARIMA / lbgfs"
### What happened + What you expected to happen

Based on the example for [parallelizing ARIMA](https://www.anyscale.com/blog/scaling-time-series-forecasting-on-ray-arima-and-prophet-on-ray), I tried to replicate this with my dataset. I have multiple time series and I am using Ray to forecast these time series. When I forecast them serially using native python, I get a certain answer, and when I r

[2022-04-26 16:54] simon-mo commented on #23987
Might help if core team implement partial access of object refs cc @ericl
we will downgrade to P2 for now.

[2022-04-26 16:59] xwjiang2010 commented on #23470
@jnpm
How did you launch the ray cluster?
Did you just spin up a bare metal instance using deep learning AMI for example? And do `pip install xxx`?

[2022-04-26 17:19] DmitriGekhtman commented on #23182
I agree.
For the first stack trace, the "PREEMPTED" from the cloud provider at least eventually came out.
However, it was entirely unclear from the stack trace that the error was non-fatal.

[2022-04-26 18:53] #23258 closed

[2022-04-26 18:56] spolcyn opened #24228 "[Serve] Call to deployment handle sometimes blocks forever"
### What happened + What you expected to happen

Code like the following sometimes blocks forever:
[code]

This happens with both the synchronous and the asynchronous handle (the latter using `objref = await handle...`). It seems to happen most right after several Serve replicas die (e.g., due to OOM or a pod they're on getting killed).

We'd expect that the remote call *always* returns immediatel

[2022-04-26 18:57] spolcyn commented on #24228
@simon-mo

[2022-04-26 19:01] edoakes commented on #24228
@spolcyn do you have a minimal example we can use to reproduce this behavior? Would greatly help our ability to debug.

[2022-04-26 19:20] stephanie-wang commented on #24176
A few odd things from the above dmesg output that we should look into, looking at the RSS column (multiply by 4096 to get # bytes):
- raylet memory usage is very high. anon-rss (so not including shared memory) at time of OOM is ~7GB.
- reduce tasks should be reading and writing 1GB partitions, but table shows rss is sometimes more than 10GB. Even including inputs/outputs in shared memory, this see

[2022-04-26 19:52] gwisaacs2 commented on #24182
RESOLVED!!! My environment contains an Iterator object. We save it as `self._run_iterator` but we have a typo and accidentally reset it with `self.runiterator`... major typo.

This definitely should be marked as a bug though, because the error logs make it seem like the error originates in Ray. Ray is somehow picking up the StopIteration error that's thrown in my environment

[2022-04-26 20:06] spolcyn commented on #24228
@edoakes Unfortunately not -- tried to make one several times to debug with, but no luck. Our full test suite passes, and it only seems to happen in the middle of relatively large jobs once deployed on a cluster deployed on k8s.

We're able to consistently replicate it with that cluster setup and our workload, though.

We also have these logs that occur when the issue happens (attached), which mig

[2022-04-26 20:07] stephanie-wang commented on #23824
Let me see if I understand this correctly:
- there is one actor that owns all of the objects, let's call it `Owner`
- other threads will call `ray.put(x, owner_address=Owner)` to make sure that Owner owns all of the objects
- if `x` is lost, we want to make sure to re-execute whatever called `ray.put`.

Let me know if I misunderstood anything here.

In this case, the simplest solution I can think

[2022-04-26 20:46] simon-mo commented on #23497
done by @krfricke

[2022-04-26 20:46] #23497 closed

[2022-04-26 20:59] scv119 commented on #23994
@rkooo567 bump it to p0 as this has been flaky recenlty.

[2022-04-26 21:05] scv119 opened #24233 "[Core] many_nodes_actor_test failed twice"
### What happened + What you expected to happen

two consecutive failures.

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_w7v5L2gsuGaQP6jVrnMrKRRY?drivers-section=deployments&command-history-section=command_history

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_w7v5L2gsuGaQP6jVrnMrKRRY

### Vers

[2022-04-26 21:10] scv119 opened #24234 "[Core][Nightly-test] scheduling_test_many_0s_tasks_many_nodes failed"
### What happened + What you expected to happen

https://console.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_ZSSKSXJ5pjHAcws5g3Z2eGgM?command-history-section=command_history

[code]

### Versions / Dependencies

lastet ray

### Reproduction script

run nightly test

### Issue Severity

High: It blocks me from completing my task.

[2022-04-26 21:10] vakker commented on #24133
This should already be fixed on the latest master, see [here](https://github.com/ray-project/ray/blob/master/rllib/env/wrappers/atari_wrappers.py#L100). Try to install a daily release (see [here](https://docs.ray.io/en/latest/ray-overview/installation.html#daily-releases-nightlies)), that should fix it.

[2022-04-26 21:18] #21038 closed

[2022-04-26 21:19] #12045 closed

[2022-04-26 22:10] simontindemans opened #24237 "[Core][multiprocessing] Make Pool.imap() and Pool.imap_unordered() throw TypeError on non-iterable/iterator"
### Description

Currently, the Ray implementations of `Pool.imap()` and `Pool.imap_unordered()` accept arguments of the type `(func, iterable)`, where `iterable` can be an *actual* iterable, an iterator, *or a single input*. In In the letter case, the `IMapIterator` constructor treats `iterable` as `[iterable]`. The code implementing this (since [this PR](https://github.com/ray-project/ray/pull/2

[2022-04-26 22:12] siekmanj commented on #19116
Any updates on this issue?

[2022-04-26 22:17] simontindemans commented on #24237
Minimal reproducing code:
[code]

[2022-04-26 22:41] scv119 commented on #24234
@jjyao to triage.

[2022-04-26 22:42] scv119 commented on #24233
@jjyao to triage.

[2022-04-26 22:55] jjyao commented on #24237
We can do it as part of 2.0 if we decide to do it.

[2022-04-26 22:56] architkulkarni commented on #22977
Hi @ponner-github , sorry for the late reply.  I did some more thinking about this and I think your specific reproduction is actually supported by the current Ray if you add `PYTHONNOUSERSITE=1` to the runtime env.  For clarity here's the full repro:

[code]

Running your command:
[code]
The output is now
[code]
which is what we wanted.

There is a separate issue, which is that this only handles t

[2022-04-26 22:58] edoakes commented on #24237
@jjyao do we have a label tracking items for 2.0?

[2022-04-26 22:59] jjyao commented on #24237
@edoakes Not yet. Going to create one.

[2022-04-26 23:03] mwtian commented on #24176
I did not reproduce worker OOM yet, but managed to cause head raylet to exit unexpectedly with `m5.2xlarge` instances. We should first change the `dataset_shuffle_*` tests to use a smaller instance type like `m5.4xlarge`, and see if the tests can pass continuously. I'm investigating the head raylet issue with `m5.2xlarge` instances in parallel.

[2022-04-26 23:46] simon-mo opened #24240 "[Serve] Hard to understood serialization error for FastAPI"
### What happened + What you expected to happen

For generic Ray Serve with Starlette requests, we clearly tell user X is not JSON serializable. But with FastAPI, the error is hard to understand.

Starlette
[code]

FastAPI

[code]

### Versions / Dependencies

master ray serve

### Reproduction script

[code]

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-04-26 23:48] shrekris-anyscale opened #24241 "[CI] Use Bazel version 4.2.2 instead of 4.2.1 for MacOS Monterey"
### What happened + What you expected to happen

When compiling Ray from source, [Mac users first install Bazel 4.2.1](https://docs.google.com/document/d/1XgpuUX0vtk82NIVQyEk8d3tnbpSFHO8ZGmF-i2J8_9A/edit#heading=h.qqaa63bz6477). However, [MacOS Monterey has an issue with protoc](https://github.com/protocolbuffers/protobuf/issues/9172) that is resolved only in Bazel 4.2.2. [/ci/env/install-bazel.sh

[2022-04-27 00:07] gwisaacs2 opened #24243 "[Tune] Tune Catches StopIteration Error from Gym Environment"
### What happened + What you expected to happen

My custom Gym Environment has an Iterator object. If the iterator throws a StopIteration Error, Ray picks it up and assumes a stop iteration was called in the Ray Tune process. As you can see in the traceback below, there is no indication that the StopIteration error is coming from my environment. Rather, Ray catches it and assumes the StopIteration

[2022-04-27 00:08] gwisaacs2 commented on #24243
Spawned from issue #24182

[2022-04-27 00:09] gwisaacs2 commented on #24182
Created bug issue for my discovery #24243

[2022-04-27 00:09] #24182 closed

[2022-04-27 00:15] simon-mo opened #24244 "[Serve] [Doc] Deployment Graph Pattern Cookbooks"
We need documentation describing common pipeline patterns in self contained snippets to cover:
- Chaining
- Ensemble + combine
- Dynamic selection

Structured as
- DAG visualization
- Self contained code
- Runnable output

[2022-04-27 00:18] simon-mo opened #24245 "[Serve] [Doc] HTTP Adapters Cookbooks"
We need a list of "how do I" with self contained examples to cover common http adapters similar to FastAPI depends page.

[2022-04-27 01:22] robertnishihara commented on #24130
The discourse issue above https://discuss.ray.io/t/having-trouble-connecting-to-head-node/5890/9 actually occurs when creating a cluster of two **Windows** machines.

[2022-04-27 01:41] kira-lin commented on #23824
What you understand is almost right, except that we can't make ray.put to be called in ray tasks now. It works like:
[code]
The function will be executed on spark executors(each of which is a thread of a Ray actor). We'll check how hard it is to implement this mapPartitions with ray tasks.

[2022-04-27 01:43] stephanie-wang commented on #23824
Thanks, @kira-lin, to clarify, I meant that the `ray.put` can be run on an actor, as long as it's always the same task that produces that object.

[2022-04-27 01:49] kira-lin commented on #23824
Sorry, I don't get it. If ray.put is called like our current way(not in its method), what taskID will the object have? Can this task be rerun?

[2022-04-27 01:54] HJasperson commented on #10761
Thank you! This issue persists in ray 1.12 and I can't find any reference to this case in the documentation

[2022-04-27 01:59] stephanie-wang commented on #23824
This would only work with your planned refactor, which will associate each ObjectRef with a specific actor task, if I understand correctly.

[2022-04-27 04:32] Samreay commented on #24216
To aid in reproducing this, I containerised and ran `memray` to produce this flamechart.

`replicate.py`:

[code]

Dockerfile:

[code]

Zip of the flamechart attached, and here's a screenshot of the memory usage:

<img width="1114" alt="image" src="https://user-images.githubusercontent.com/6748505/165441132-039db39f-eefa-464f-8854-a272e7213484.png">

The main memory usage comes from:

[code]

[fla

[2022-04-27 04:51] Samreay commented on #24216
For completeness, here is the flamegraph when the above is run, but with `local_model=False` to reflect production conditions.

Primary memory usage from:

[code]

[flame4.html.gz](https://github.com/ray-project/ray/files/8568911/flame4.html.gz)

[2022-04-27 04:56] zhe-thoughts opened #24247 "[RLlib] Possible performance degradation from 1.10 to 1.12"
### What happened + What you expected to happen

With certain RL workloads, training will be slower with 1.12 than 1.10 (details TBA) cc @gjoliver @avnishn @sven1977

### Versions / Dependencies

1.12.0

### Reproduction script

TBA

### Issue Severity

High: It blocks me from completing my task.

[2022-04-27 05:16] frank-lsf opened #24248 "[Core] Restore worker silently fails and the program is stuck"
### What happened + What you expected to happen

When the restore worker encounters an error (e.g. in #24196, or in general for example the spilled file is removed), it silently fails (only prints an error `/tmp/ray/session_latest/logs/io-*.err`). It looks like the system will schedule a few retries to restore the object, but eventually give up.

The behavior on the application side is that the pr

[2022-04-27 05:42] simontindemans commented on #24237
Perfect; you can ping me if/when you'd like to make the change. It's fairly trivial: removing a four-line workaround I had to insert to maintain compatibility.

[2022-04-27 06:47] jjyao commented on #24130
Cross-posting here:
I think the issue is that for Windows and Mac, we use 127.0.0.1 by default to avoid security pop ups (https://github.com/ray-project/ray/pull/18904) (Assumption is that mac and windows are mostly used for single node development). This can be overridden by `--node-ip-address`.

I think we can at least provide better message here (mentioning --node-ip-address).

[2022-04-27 06:50] mattip commented on #15780
Since redis is no longer the default message broker, can we close this?

[2022-04-27 06:53] mattip opened #24251 "WINDOWS: test_ray_init is flaky in CI"
The call to `test_auto_init_non_client` in `test_ray_init.py` scores very high on the flaky tests. We have already skipped the previous use of the `call_ray_start` fixture on windows in `test_ray_address`. It would be good to figure out what is going on

[2022-04-27 07:22] JiahaoYao commented on #24213
Hi @XuehaiPan, does that mean if you change ` "normalize_actions": False, ` , the issue will be resolved?

[2022-04-27 07:25] XuehaiPan commented on #24213
If we set `"normalize_actions": False` for DDPG and TD3 policies, yes.

[2022-04-27 07:52] kira-lin commented on #23824
The refactor is not feasible. We cannot even pass df/rdd when calling methods of executor actor, because it is not serializable, same as spark session. Without these, the executor can't save the data.

If we can implement from_spark this way, we would have returned the data directly to create the object, no need to use ray.put.

[2022-04-27 08:12] gjoliver commented on #24247
we should be able to find a workaround without requiring cherrypicks.
unfortunately, a good fix exposed a different issue with our agent.
the real performance fix will need to come later after much investigation.

[2022-04-27 08:12] gjoliver commented on #24247
I will close this after working with Ben tomorrow.

[2022-04-27 08:22] gjoliver commented on #24247
wait, is this a release blocker for 1.13 or 1.12.1?
it may be nice if we can find a fix before 1.13 is out.

[2022-04-27 09:10] gjoliver commented on #24140
the tf2 problem was my bug, and has been fixed.

[2022-04-27 09:38] ZPFPHD opened #24255 "[<Ray component: Core|RLlib|etc...>]"
### What happened + What you expected to happen

Traceback (most recent call last):
File "E:\conda\envs\pytorch\lib\site-packages\ray_private\services.py", line 655, in wait_for_redis_to_start
redis_client.client_list()
File "E:\conda\envs\pytorch\lib\site-packages\redis\client.py", line 1194, in client_list
return self.execute_command('CLIENT LIST')
File "E:\conda\envs\pytorch\lib\site-packages\r

[2022-04-27 10:45] #14235 closed

[2022-04-27 11:01] frosk1 commented on #23768
That is fine @architkulkarni .

I am not quite sure how to handle public available ray cluster solutions actually (authentication).

If you managed to have access to a running ray cluster, at the moment it seems pretty easy to escape the cluster environment and access the underlying machine.

Having the runtime_environments features that automatically give access to underlying pip,
which has acces

[2022-04-27 13:38] AurelianTactics commented on #22279
I'm stuck on how to test this. In other projects I've submitted pull requests to the process was different. I downloaded, installed, and tested from my fork. I'm not sure how to do that with ray. Am I supposed to follow the instructions here? https://docs.ray.io/en/latest/ray-contribute/development.html#building-ray-python-only

If so, I'm unable to get the ray installation to read from my branch.

[2022-04-27 13:54] ngupta23 commented on #24224
I did some more digging and found that this issue is present even when using pyspark to parallelize the forecasts. However, the discrepancy is not present for the same time series. For example, in my case, for 1000 time series, pyspark mismatched on 3/1000 while ray mismatched on 1/1000 (and the one that was mismatching here was also mismatching in spark). Not sure if this is helpful for the final

[2022-04-27 15:45] colobas commented on #8033
I'm still facing this issue, both on 1.11 and 1.12.

One additional thing I noticed was in the `ray_client_server.err` log file:
[code]

The listed IP address is *not* the one I initiated ray with. And it is the container's IP in docker's network interface.

[2022-04-27 15:47] krfricke opened #24259 "[core/tune] Placement groups stuck in pending mode"
### What happened + What you expected to happen

This is on an Anyscale cluster with Ray 1.12.0rc0 (currently trying to repro on 1.12.0 proper).

I’m in a session (on anyscale) where a Ray Tune job is blocked on waiting for placement groups.

Ray Tune scheduled enough placement groups:

Counter({'REMOVED': 202, 'PENDING': 100})

Each placement group requests one CPU bundle:

{'placement_group_id':

[2022-04-27 16:20] zhe-thoughts commented on #24247
Hey @gjoliver : I think it should be a release blocker for 1.13.0. Probably not worth blocking 1.12.1 on this.

[2022-04-27 16:30] architkulkarni commented on #22977
One more question--you mentioned you added the flags in four places for it to work: [start_worker_cmd](https://github.com/ray-project/ray/blob/releases/1.9.1/python/ray/_private/services.py#L1549), [agent_command](https://github.com/ray-project/ray/blob/releases/1.9.1/python/ray/_private/services.py#L1586), [java_command](https://github.com/ray-project/ray/blob/releases/1.9.1/python/ray/_private/s

[2022-04-27 16:38] jiaodong opened #24260 "[Serve] Ray Serve leaking replicas in rolling update"
### What happened + What you expected to happen

From user reported cc: @frosk1

This script simply leads to a memory overflow:

[code]

When calling deploy() again, shouldn't this delete all further resources (serve replicas) and instantiate a new one?
Instead it just creates a new replica of the same deployment again and again  filling up memory till OOM error .

Calling

[code]

this kills the

[2022-04-27 16:40] architkulkarni commented on #23768
Thanks for the details! Let me pull in @ijrsvt who knows more about security.  @ijrsvt any comments about these concerns?  The relevant context from runtime_env is that runtime env calls the system's `pip install` on the remote cluster, and also writes `working_dir` to the remote cluster's filesystem.

[2022-04-27 16:47] frosk1 commented on #24260
After testing and input from Shreyas Krishnaswamy  *sry couldnt find the github handle from him :)

it seems to be a namespace issue. This here resolves the problem:

`ray.init(address="auto", namespace="serve")`

[2022-04-27 16:51] mwtian commented on #15780
@mattip can you see if the problem is still reproducible on Windows? Since `ray.init()` may still connect to the local `global control store` process, it is possible the problem still exists.

[2022-04-27 16:58] jiaodong commented on #24260
Thanks for the confirmation ! Looks like we have this issue on Ray 1.12 and need a bit more investigation and decide if we need to make a cherry-pick release. @shrekris-anyscale i've assigned this to you for now to see if the fix is sufficient or if we need any other next steps

[2022-04-27 18:22] GuillaumeDesforges opened #24264 "[Datasets] Support pipelining on data blocks within a single file (fully streaming reads)"
### Description

The file based datasource should only read block by block, and not block for a whole list of files.

My understanding is that there are only as many `ReadTask`s as `parallelism`:
https://github.com/ray-project/ray/blob/6560a2bf5df02ba7a975c249698f90bd850c2390/python/ray/data/datasource/file_based_datasource.py#L331-L333

and a `ReadTask` is ran from start to end in one go.

### Us

[2022-04-27 18:46] stephanie-wang commented on #24248
@rkooo567 do you think you could take this one since you worked on the spill error?

[2022-04-27 19:00] stephanie-wang commented on #23594
Closed by #23758.

[2022-04-27 19:00] #23594 closed

[2022-04-27 19:08] stephanie-wang opened #24267 "[Datasets][core] Data locality not working as expected during map stages"
### What happened + What you expected to happen

In cases where all inputs are already in Ray's object store, it should be possible to execute a map stage with little to no data movement. Datasets currently does this by relying on Ray core's data locality.

However, it doesn't seem to be working as expected. In the following screenshot of a synthetic sort benchmark, you can see that there is signi

[2022-04-27 19:10] jgiannuzzi commented on #22278
Hi everyone, I had opened #22385 about the same bug, and opened a PR that aims at fixing the warning rather than disabling it for concurrent actors: #22386.

Could you please take a look at it?

[2022-04-27 19:15] stephanie-wang opened #24270 "[Datasets] Sort should support fusion with previous stages"
### Description

Currently sort requires first sampling all of the input blocks in a map stage, getting the results of these, then executing the actual shuffle. The sample stage should be fused with any previous fuse-able stages to avoid materializing intermediate data.

### Use case

_No response_

[2022-04-27 19:40] jjyao commented on #24224
Seems the issue is not related to Ray then? Is my understanding correct @ngupta23?

[2022-04-27 19:44] #24133 closed

[2022-04-27 19:51] jjyao commented on #24255
Hi @ZPFPHD, could you improve the issue by having a title with summary of the issue? Also could you provide a minimal reproducible code?

Also seems you are using `ray 1.2.0` which is very old, could you try the latest ray?

[2022-04-27 19:59] architkulkarni opened #24272 "[Dashboard] Too many logs causes API requests (e.g. `job submit`, `job stop`) to fail"
### What happened + What you expected to happen

Start Ray and run the following script on the head node to produce a lot of logs:

[code]

This causes Dashboard API requests to fail.  For example, submitting a job with Ray Job Submission:

[code]

### Versions / Dependencies

Verified on Ray 1.10 Linux and Ray 1.12 Linux, Python 3.7 and 3.9

### Reproduction script

Given above.  Here is the py-s

[2022-04-27 20:01] spolcyn commented on #24228
An additional `py-spy` dump of what the call stack looks like when the actor is blocked:

[code]

[2022-04-27 20:15] timurcarstensen commented on #14477
@andras-kth

I'm running into the exact same issue but cannot figure out how to fix the synchronisation issue. Could you possibly elaborate on how you fixed your particular problem? :)

[2022-04-27 20:21] spolcyn commented on #24228
@edoakes Is this issue better for Ray Core? It seems to be triggered during some Serve behavior, but the logs below suggest maybe it's closer to core's work.

The core-worker logs on an actor that stalled (not responding to `ray.kill()` or other requests) are attached below, and it looks like the main error repeated over and over again is `GrpcUnavailable: RPC Error message: Socket closed...`

[py

[2022-04-27 20:34] ngupta23 commented on #24224
I would not put it that way. Reproducibility is still highly desired when we are parallelizing the run (compared to serial run). The fact that spark also does not produce same results always is just a side note. I am wondering if there is some initialization that is not happening correctly when parallelizing (I don't understand the internals of ray enough to comment on that).

[2022-04-27 20:40] bveeramani opened #24274 "[Autoscaler] Cluster launcher suggests using an option that doesn't exist"
### What happened + What you expected to happen

I ran `rsync_up`. The command suggested re-running the command with `--no-config-cache`, but that isn't a valid option.

[code]

[code]

### Versions / Dependencies

Ray: 2.0.0.dev0
Python: 3.8.12

### Reproduction script

TK

### Issue Severity

Low: It annoys or frustrates me.

[2022-04-27 20:43] #13952 closed

[2022-04-27 20:50] jjyao commented on #24209
@saidileep-kivi

Could you try what the log message suggests: `Are any of these actually a different IP address for the same node?You might need to provide --node-ip-address to specify the IP address that the head should use when sending to this node.`

[2022-04-27 20:57] jjyao commented on #24163
Assigning to @ckw017 for triage.

[2022-04-27 20:59] #24116 closed

[2022-04-27 21:11] jjyao commented on #23988
@chunweiyuan as mentioned in https://github.com/ray-project/ray/issues/6507, ray object is immutable so you shouldn't try to modify it in place. Even if you manage to make it work on a single box, it won't work in the cluster.  This use case is not something supported by Ray.

[2022-04-27 21:12] jjyao commented on #24169
@JoseZF Could you post the link to the another thread you found for visibility?

[2022-04-27 21:16] rkooo567 commented on #24259
@krfricke can you share the instruction to reproduce the issue? After initial investigation I found;
- pg state pending is definitely weird. It seems like they are not even tried to be scheduled for a long time
- the output of ray status doesn't match ray.available_resources()/cluster_resources() which might mean there's something weird going on

[2022-04-27 21:22] HJasperson opened #24275 "[RLlib] view requirements for custom action distributions"
### Description

allow view requirements for custom action distributions like for custom models

### Use case

I have an autoregressive action distribution that I use with a multiagent environment. Since a batch consists of multiple agents from multiple environment instances, it is critical to have the env_id of each agent. If you have different types of agents in an environment, it could also be

[2022-04-27 21:36] Yard1 opened #24277 "[Dashboard] Confusing `workers` terminology"
### Description

In Ray Cluster Configuration, "worker" refers to worker nodes. However, in Dashboard, "worker" refers to Ray processes on nodes (which are also confusingly named "hosts"). This is inconsistent and confusing, especially for new users. As an example, a user was setting `maxWorkers: 0` parameter in Ray Cluster Configuration file, thinking it will mean that no Ray Processes will be sc

[2022-04-27 21:36] Yard1 commented on #24277
cc @scottsun94 @Wendi-anyscale

[2022-04-27 21:51] #23484 closed

[2022-04-27 22:51] scottsun94 commented on #24277
@wuisawesome told me that
- we don't have any plan to improve the ray cluster config/yaml file
- Another confusing thing is the `head_node_type`. Its value is `available_node_types`

@Yard1 How do we triage those issues?

[2022-04-27 22:57] xwjiang2010 commented on #24243
@gwisaacs2
I tried to repro the issue you described with the following setup (ray 1.6 + python 3.6)

[code]

Output:
[code]

The output seems pretty clear to me where the StopIteration thing is raised.

Could you let me know where the gap is, and maybe we could improve ray's documentation accordingly. Thanks!

[2022-04-27 23:02] gwisaacs2 commented on #24243
@xwjiang2010 Thanks for the speedy response. One difference is that I was using a multi agent custom Environment (inheriting from `ray.rllib.env.multi_agent_env.MultiAgentEnv`). Let me see if I can put together a quick example

[2022-04-27 23:30] sihanwang41 commented on #23473
I took a look for this ticket, there are two issues:
 1.  `PosixPath` object has 'match' function, and it will not do a match call because `include` is not set to True (https://github.com/ray-project/ray/blob/master/python/ray/_private/thirdparty/pathspec/pattern.py#L89).
Add line `file1 = file1.absolute().relative_to(subdir)` in the test script, it will also fail.
Yet, in the _get_excludes interf

[2022-04-27 23:37] ponner-github commented on #22977
Thanks @architkulkarni

let me revisit my notes and  retry the setup on

I think the start worker command and the java_command should be sufficient, when i was initially trying to fix the issue i added the `-Ss` flag whereever `sys.executable` was invoked. However from later testing found only these two were sufficient.

[2022-04-27 23:59] architkulkarni commented on #23473
Thanks for checking this carefully, I think you're right on both counts!

I'll make a followup PR to the documentation doing the following, and then close this issue.
- Add type checking validation for `excludes`
- Edit https://docs.ray.io/en/latest/ray-core/handling-dependencies.html#api-reference to remove the word "also" from "also supports gitignore syntax", and explicitly mention that paths s

[2022-04-28 00:34] rkooo567 commented on #24248
Yeah I'd love to. It seems to be a part of better error message as well (which I have worked a bit and stopped for a while). Is P2 the correct priority?

[2022-04-28 01:10] acxz opened #24283 "[RLlib: Offline API] Implement ability for (JSON) Offline API to postprocess Multiagent Batches"
### Description

It would be great for the offline API to be able to allow the JSON reader to read in Multiagent Batches for input postprocessing.

for existing current comments:

https://github.com/ray-project/ray/blob/d68c1ecaf9f4cc7c574b6083e9aad263f4177293/rllib/offline/json_reader.py#L208-L222

### Use case

The use case for this feature is primarily for using off policy algorithms (such as i

[2022-04-28 01:42] DmitriGekhtman commented on #16679
I think there might be some permissions-related configuration that needs to be added to get this to work.
Let me in the immediate moment elevate the priority on this (since all Ray features should work on K8s), and hopefully someone can get back to this soon.

[2022-04-28 01:59] allendred opened #24286 "Received message larger than max (105683136 vs. 104857600)"
### What happened + What you expected to happen

At Reproduction script, if `config["num_workers"]` not 0, error will appear

Traceback (most recent call last):
  File "ray_test.py", line 135, in <module>
    trainer = sac.SACTrainer(config=config, env="my_env-v0")
  File "/home/gnn/conda/envs/gnn/lib/python3.6/site-packages/ray/rllib/agents/sac/sac.py", line 192, in __init__
    super().__init__(

[2022-04-28 03:11] jovany-wang opened #24288 "[Ray Collective] Remove Redis store and LocalFile store from gloo mode."
### Description

We now support `RayInternalKvStore` to store the meta information for Ray collective lib. And the users of Ray collective lib don't need to be aware of the store. So then it's unnecessary to support too many types of store.

The advantages should be:
- Making the code cleaner.
- Making easier to implement the reliability when initializing the collective group in a large scale clus

[2022-04-28 03:20] sihanwang41 commented on #23473
That looks good! Thank you @architkulkarni!

[2022-04-28 03:21] jovany-wang commented on #24109
An implementation could be add the job id and group name as the prefix of the key to store in to `RayInternalKvStore`.

[2022-04-28 03:31] gjoliver commented on #24247
sounds good

[2022-04-28 03:34] gwisaacs2 commented on #24243
Hey @xwjiang2010 I have a presentation tomorrow. I'll try to get you reproduceable code by the end of the day... I created a very generic multi agent Gym Environment that just returns `np.zeros()` for the action space and obs space, but I was having issues registering the gym environment I think. I'll give you an update tomorrow

[2022-04-28 04:25] ijrsvt commented on #23768
Hey @architkulkarni and @frosk1 , Ray currently doesn't include any security isolation or sandboxing. Someone with access to a Ray cluster (whether via Ray client or via task submission) will likely have full access to the underlying machines.

Ray is more or less a system that enables 'arbitrary code execution', so we suggest focusing one level up--preventing un-authorized access to Ray clusters.

[2022-04-28 05:25] dynamicwebpaige commented on #11277
Potential also related: [#16781](https://github.com/ray-project/ray/issues/16781).

[2022-04-28 05:32] jovany-wang commented on #19593
@kfstorm Sorry I haven't confirmed that yet. I'm going to add the reproduction script as our unit test and see if it's addressed today.

[2022-04-28 06:05] matthewdeng opened #24292 "[Core] k8s node silently disappears when out of disk"
### What happened + What you expected to happen

**Bug:** When running a script that has a large amount of object spilling, if the disk runs out of space then Kubernetes will silently terminate the node. Autoscaling will kick in and replace the dead node. There is no indication that there was a failure due to disk space.

**Expected Behavior:** Ray should detect when the disk is running out of spa

[2022-04-28 06:06] mattip commented on #16781
Where is the code for the lunarlander demo you tried? How exactly did you set this up: the entire demo is running inside WSL together with CUDA installed into WSL or some other variant? Which version of CUDA are you using?

It would be helpful if you could provide the exact commands you used to create the environment and run the ray instance.

[2022-04-28 06:12] mattip commented on #16781
I ask because the failure is due to a failure to get the gpu usage statistics, so somewhere between WSL, windows, and the way ray is probing the statistics, there is a problem. The lunarlander demo is not really involved, the question is more how you are starting the ray instance and the dashboard.

[2022-04-28 06:23] JoseZF commented on #24169
I'm sorry I can't seem to find it right now. However, in the content of the thread a bug was found which did not make ray completely redis-free for windows and it was causing the error. Several contributors discussed the issue.

Once I find the thread I'll add it

[2022-04-28 06:40] JoseZF commented on #24169
FIX-#4390 Here is discussed how redis is still used unintentionally in windows and how it will be removed for 1.12.1

[2022-04-28 06:46] mattip commented on #16781
Could you report what this prints (please check the output for sensitive personal data):
[code]

Maybe something in the data collection is off? For me, with my tiny graphics card, this prints
[code]

The [api](https://github.com/ray-project/ray/blob/629424f48957af55cf06d86d23b850be73fb3017/dashboard/client/src/api.ts#L97) wants exactly this structure (with the extra `processes` field the code abov

[2022-04-28 08:39] zhendongzd commented on #23636
@hellofinch  Hope to resolve this issue.

[2022-04-28 08:57] jovany-wang commented on #19593
I believe it's yes. See the PR #24293 , it still hangs on my laptop.

[2022-04-28 09:11] han14466 commented on #23423
I found the same error in 1.10.0
I attached my dashboard_agent.log below. Maybe first time, execute ray.init and quit . After several seconds, execute  ray.init again. Ray found same zip already in /tmp/ray/path, at sametime runtime_env_agent async  DeleteURIs. So it throws these errors.
2022-04-28 16:06:05,744 INFO runtime_env_agent.py:210 -- Successfully created runtime env: {"pyModules": ["gcs:

[2022-04-28 10:06] orcahmlee commented on #24047
I got the same situation. When I  connect to the Ray cluster for the first time, everything is fine. After the job was finished or `ray.shutdown()`, then I connect to the same Ray cluster, it shows `OSError: Failed to fetch URI gcs://_ray_pkg_xxxxxx.zip from GCS.`

[code]

I have a workaround for now. When I hit this `OSError`, I will change the file name within `working_dir`, e.g.: `/home/jovyan/

[2022-04-28 10:17] #20309 closed

[2022-04-28 10:17] #20723 closed

[2022-04-28 10:17] #21068 closed

[2022-04-28 11:01] iirekm opened #24294 "[Cloud] Multiple problems with Ray-default AMI (AWS)"
### What happened + What you expected to happen

- although I use 1.12.0, AMI seems to contain incompatible 2-dev version which causes problems
- AMI contains installed only `ray`, not `ray[default]`
- old Python (3.7) is used, which also forces me to use the same version in order to do `ray.init` from my laptop
- Ubuntu's `unattended-upgrades` uses 100% CPU, and new unnecessary workers are being

[2022-04-28 12:38] NikAleksFed commented on #19852
@dennymarcels I have the same issue. Can you describe your solution more specifically? Did you modify "head_start_ray_commands" and "worker_start_ray_commands" in "config.yaml"? If so, can you share this part of config?

[2022-04-28 12:56] GuillaumeDesforges commented on #24264
From [conversations on Slack](https://ray-distributed.slack.com/archives/C02PHB3SQHH/p1651081480004939) with @clarkzinzow :

[2022-04-28 13:21] dennymarcels commented on #19852
I won't remember the details but as far as I can tell, all I had to do was port forwarding.

[2022-04-28 14:07] GuillaumeDesforges opened #24296 "[Dataset] Truncate `parallelism` before `np.array_split()` in order to avoid huge list of ndarray allocations."
### What happened + What you expected to happen

When using `read_datasource` and providing a very high `parallelism` (e.g. 999999999999999999) I encounter a `MemoryError`.

[code]

I need to do that to ensure 1 ReadTask is generated per file, because of
https://github.com/ray-project/ray/blob/6560a2bf5df02ba7a975c249698f90bd850c2390/python/ray/data/datasource/file_based_datasource.py#L332

### Ve

[2022-04-28 14:11] GuillaumeDesforges commented on #24264
Using a very high value for `parallelism` crashes unexpectedly: #24264

[2022-04-28 15:23] edoakes opened #24300 "[job submission] Job submission IDs are inconsistent within API snapshot"
In some values it's `raysubmit_UWPyAc53xXmCCn9z`, in some keys it's `raysubmitUWPyAc53xXmCCn9z`. This prevents x-linking them.

Example:
[code]

[2022-04-28 15:38] xwjiang2010 commented on #24286
From the stack trace, it seems some large object is passed when remote worker is created - causing grpc resource exhausted error. This is consistent with your observation that this only happens when "config["num_workers"] not 0".

Do you have a env_creator that I can just plug in and run? The current one complains about `ray_env`.

[2022-04-28 15:44] jovany-wang opened #24301 "[Java] Shade jackson"
### Description

Jackson jar is introduced in `de.ruedigermoeller:fst:2.57.3-SNAPSHOT`. It's easy to be conflict with users. We should shade it.

Change should look like:
[code]

### Use case

_No response_

[2022-04-28 16:42] #24189 closed

[2022-04-28 17:11] xwjiang2010 opened #24304 "[air] data loading and processing inside of trials causes resource contention"
### What happened + What you expected to happen

`ray.init(num_cpus=4)`

Running two xgboost trial each claiming two CPUs. Expect to run through completion.

However, the program hangs with

[code]

It turns out data processing step is using CPUs not accounted for in the per trial request.

This may hit our users as surprise.

### Versions / Dependencies

master

### Reproduction script

[code]

#

[2022-04-28 17:13] xwjiang2010 commented on #24304
@clarkzinzow @matthewdeng Can you help clarify what should be the expected behavior here?

[2022-04-28 17:16] architkulkarni commented on #24047
Ah thanks for the details!  You're right it looks like a cache issue, probably the same underlying issue as https://github.com/ray-project/ray/issues/23423.

[2022-04-28 17:52] delkov opened #24305 "[Autoscaler/Gloo]"
### What happened + What you expected to happen

I have 2 ubuntu 18.04 & 20.04 machine with 1 GPU each;
Ray status says:
[code]

but if I make num_workers > 20 (exceed head node cpu amount), I've got:
[code]

My port are opened! (I checked via nc).
[code]
Please help!

### Versions / Dependencies

Ray 1.12

### Reproduction script

I've used exmple-minimal-manual.yaml to create cluster:
[code]

[c

[2022-04-28 18:00] delkov commented on #24305
Looks like problem in /etc/hosts
Left only 127.0.0.1 localhost

[2022-04-28 18:09] jiaodong commented on #24260
- We confirmed it's reproducible on 1.12, not on 1.11 or master.
- Shreyas is checking into which PR might have it fixed and verify locally against 1.12.1 branch
- We suggest finding the fix and cherry-pick on 1.12 asap and started a thread for it.

[2022-04-28 18:10] clarkzinzow commented on #24304
@xwjiang2010 This is a known issue, captured here: https://github.com/ray-project/ray/issues/24206

Can you comment on that issue what the ideal behavior would be, here? Should there be an option to capture Datasets tasks in a parent placement group, an option to capture all Datasets tasks in a dedicated global placement group, or some other option?

[2022-04-28 18:23] peterhaddad3121 opened #24307 "[RLlib] PPO - ray.rllib.agents.ppo "Put Error""
### What happened + What you expected to happen

I am trying to run the basic example of PPO utilizing a Remote Ray cluster. The cluster is running the nightly build from April 26th since there were some changes to fix pickling errors that other users reported. I am running the ray-py39 image both on the Cluster and in my Notebook.

I am hoping to report this additional bug or obtain some support

[2022-04-28 18:50] alanwguo opened #24309 "[Core] /api/cluster_status treats placement groups differently than ray status"
### What happened + What you expected to happen

When launching a simple cluster with placement groups that reserves CPUs, the output of `ray status` CLI command and the `/api/cluster_status` API endpoint treats reserved CPUs differently.

api/cluster_status: https://gist.github.com/alanwguo/a2349057b5618d72ba1d4c8a66df57ab
Excerpt:
[code]

ray status:
[code]

Notice the difference between CPUs "u

[2022-04-28 18:54] zhe-thoughts commented on #24158
@clarkzinzow thanks for writing the summary (I really like it)

Is this a blocker for Dataset GA? cc @ericl for assessment too

[2022-04-28 18:54] xwjiang2010 commented on #24309
I experienced the same thing recently as well.

[2022-04-28 18:59] ericl commented on #24158
I think this is a blocker for GA. There isn't a good way to get high performance for training with datasets on a multi node cluster if this feature is not working as intended.

[2022-04-28 19:00] ericl commented on #24158
We could also just fix ray.wait() right? Could we take a look into that first? Happy to hack on this in person say Monday.

[2022-04-28 19:00] iirekm opened #24310 "[aws][autoscaler] AWS: When using spot instances, always single availability zone is selected"
### What happened + What you expected to happen

With config `region: us-east-1` - always the last AZ is selected (`us-east-1f`) for AWS spot request.
When I list all AZs manually (`availability_zone: us-east-1d,us-east-1e,us-east-1f,us-east-1a,us-east-1b,us-east-1c`) - always first is selected!

Expected behavior should be to select ALL availability zones. Maybe it's less important for on demand

[2022-04-28 19:18] clarkzinzow commented on #23977
@zhe-thoughts The P0s are, the P1 is not. The only remaining P0, PR [here](https://github.com/ray-project/ray/pull/24022), should be merged by EOD.

[2022-04-28 19:27] xwjiang2010 commented on #24304
@clarkzinzow
We can talk more in the meeting next Monday.
My understanding is accounting of resources is pretty core to Ray and it also hooks into auto scaling mechanisms. Placement Group is introduced in response to the exact deadlock situation that we are seeing here.
Without proper accounting, the best we can do is ask user to over provision (in the case of static cluster) and change the autosc

[2022-04-28 19:48] jianoaix commented on #24158
We might need to root fix ray.wait() as actor pool is also relying on it.

[2022-04-28 19:49] clarkzinzow commented on #24158
@jianoaix The actor pool's use of `ray.wait()` should be fine, since it's not relying on any prefetching behavior (`fetch_local=False`): https://github.com/ray-project/ray/blob/024eafb5f4f07dbcb7f553085764272a82687944/python/ray/data/impl/compute.py#L192-L194

[2022-04-28 21:13] architkulkarni opened #24315 "[Ray Serve Autoscaling] Add release test that checks that nodes scale down when there are no requests"
Right now we don't have such a test, but it's basic functionality of the autoscaler.  It makes sense to have it as a release test and not a pre-merge test because it requires a physical cluster and depends on the Ray autoscaler.

[2022-04-28 22:25] kristinepetrosyan commented on #22734
This is issue is still appears to be there. It scales down all the actors but not the HTTP Proxy so at the end I have 7 workers being there empty and I need to manually delete them.

[2022-04-28 23:49] rkooo567 commented on #24309
Hmm it is because the ray status parses the data generated from `cluster_status` and makes it more user-friendly format like the one in `ray status`. I think since the processing is done on the client side (ray status CLI command), the same information is not available to cluster_status API.

"Reserved by placement group" means it allocates 2 cpus and create 2 pg custom resources (that look like `

[2022-04-28 23:56] gjoliver opened #24318 "[RLlib] Finish go/rllib-perf dashboard"
### Description

Make sure all agents that have a hard_learning test case, also have a place in performance_test.
This is extremely useful for tracking perf regression etc.

### Use case

_No response_

[2022-04-28 23:59] alanwguo commented on #24309
Yes, in the response: https://gist.github.com/alanwguo/a2349057b5618d72ba1d4c8a66df57ab
I likely receive enough information to convert it into a more user-friendly format.

Can we move that logic into the API? Otherwise the product will need to re-implement the logic and it doesn't make sense to maintain it in two places.

[2022-04-29 02:15] DmitriGekhtman opened #24323 "[Autoscaler][Docs] Add up-to-date docs on how the autoscaler works."
### What happened + What you expected to happen

I'm having trouble finding pages on how autoscaling works in the Ray documentation.
If these docs don't already exist, the they should explain how autoscaling interacts with the following things:
- node types
- node resource annotations
- Ray task, actor, and placement group annotations
Triggers for upscaling and downscaling should be explained prec

[2022-04-29 04:04] xwjiang2010 opened #24324 "[release] golden_notebook_modin_xgboost_test failing - client connect time out"
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/443#d4611552-4960-4e65-afd3-ac10628a83db

### Versions / Dependencies

nightly

### Reproduction script

NA

### Issue Severity

_No response_

[2022-04-29 04:08] xwjiang2010 opened #24326 "[release] "ml_user_tune_rllib_connect_test" failing due to "module anyscale does not exist""
### What happened + What you expected to happen

https://buildkite.com/ray-project/release-tests-branch/builds/443#36e155d1-e488-489f-8f5c-aefabd7c46e6

module "anyscale" does not exist...

### Versions / Dependencies

Nightly

### Reproduction script

NA

### Issue Severity

_No response_

[2022-04-29 04:10] scv119 commented on #23947
hey @scarlet25151 we are working on ray cli feature as part of ray 2.0. https://github.com/ray-project/ray/issues/22833; so in the ray 2.0.0beta release you are expected to query those state using ray cli.

[2022-04-29 04:12] scv119 commented on #22833
@denkensk there is a benchmark directory for each ray releases https://github.com/ray-project/ray/blob/ray-1.12.0/benchmarks/README.md

[2022-04-29 04:13] #24294 closed

[2022-04-29 04:15] iirekm commented on #24310
I found a workaround: go to https://aws.amazon.com/ec2/spot/instance-advisor/ and find instance type that is least likely to be interrupted. But anyway multi AZ support would be useful, because single AZs sometimes fail.

[2022-04-29 04:44] iycheng opened #24327 "[Core][observability] Enable observability features built in gRPC"
### Description

gRPC has some built-in features for observability.

One is metrics exported to open census: https://github.com/grpc/grpc/blob/master/include/grpcpp/opencensus.h

Here are the metrics reported there:
https://github.com/census-instrumentation/opencensus-specs/blob/master/stats/gRPC.md

It also covers distribution metrics which could be useful for debugging.

Another thing is channel

[2022-04-29 06:01] avnishn opened #24329 "[RLlib] IMPALA object plasma and disc filling up"
### What happened + What you expected to happen

With long running experiments that have environments with long trajectories, sometimes the object plasma and disc begin to unboundedly fill up.

This happens potentially because of a backpressure issue -- essentially too many remote requests are made on an actor that is not able to deliver on the requests as quickly as it is being requested -- this

[2022-04-29 06:04] allendred commented on #24286
Sorry about that,custom `ray_env` is confidential
I tried the example and it works.
I'm on another version of `ray==1.6.0`, on another server with no issues, but on this server tried the following error
  File "/home/gnn/conda/envs/gnn/lib/python3.6/site-packages/ray/rllib/models/preprocessors.py", line 187, in transform
    self.check_shape(observation)
  File "/home/gnn/conda/envs/gnn/lib/python

[2022-04-29 06:35] rkooo567 commented on #24259
Current state: waiting for @krfricke to provide minimal repro (ETA: tmrw)

[2022-04-29 06:36] rkooo567 commented on #24309
SGTM. What's the reasonable deadline for this task?

[2022-04-29 06:37] rkooo567 commented on #23994
Working on it now

[2022-04-29 06:48] gjoliver commented on #24247
this is now fixed.

[2022-04-29 06:48] #24247 closed

[2022-04-29 08:39] #13075 closed

[2022-04-29 09:56] GuillaumeDesforges commented on #20888
We hit the same limitation because of
https://github.com/ray-project/ray/blob/e9ae784e629e31f5291dde7bb881da1ab61ab5ec/python/ray/data/dataset_pipeline.py#L791-L821

A quick fix would be to make type stubs https://github.com/microsoft/pyright/blob/main/docs/type-stubs.md

[2022-04-29 10:55] saidileep-kivi commented on #24209
Hi @jjyao, I have tried this after your suggestion but the issue still seems to persist.

[2022-04-29 11:02] GuillaumeDesforges commented on #20888
In the meantime, I'll just stop using `.{method}_each_window` since it's just sugar for a one-liner which is well supported by all tooling:

[code]

[2022-04-29 12:27] SimonHashtag commented on #22259
I am also looking for such a feature.

I found one working for discrete spaces (https://github.com/ray-project/ray/blob/master/rllib/examples/models/action_mask_model.py), however not for continuous spaces. Just like @bkaplowitz I have to cap an action depending on the current state/obs (e.g. wealth -> agent is only allowed to spend his wealth and not more; wealth changes each period).

Discretizi

[2022-04-29 14:03] krfricke commented on #24259
I'm trying a not-so-simple repro (running the original job)

[2022-04-29 14:39] GuillaumeDesforges commented on #24296
From [Slack messages](https://ray-distributed.slack.com/archives/C02PHB3SQHH/p1651163967343629?thread_ts=1651081480.004939&cid=C02PHB3SQHH):

[2022-04-29 14:43] jjyao opened #24337 "[Release Test][Core] dask_on_ray_10gb_sort dask_on_ray_100gb_sort timed out"
### What happened + What you expected to happen

These two tests timed out twice in a row:

https://buildkite.com/ray-project/release-tests-branch/builds/439#6ea8aeec-09f6-419c-aa29-4beb35660113
https://buildkite.com/ray-project/release-tests-branch/builds/439#a889a8fe-4e13-4dda-8338-f40553b9736b

### Versions / Dependencies

master

### Reproduction script

Release Test

### Issue Severity

High:

[2022-04-29 14:45] jjyao opened #24338 "[Release Test][Core] datasets_ingest_400G timed out"
### What happened + What you expected to happen

It timed out twice in a row:

https://buildkite.com/ray-project/release-tests-branch/builds/441#106af549-01fe-42ff-95d7-8e921f68c91b

### Versions / Dependencies

master

### Reproduction script

Release test

### Issue Severity

High: It blocks me from completing my task.

[2022-04-29 14:58] XuehaiPan opened #24340 "[RLlib] wrong env step counting when train multi-agent with shared default policy"
### What happened + What you expected to happen

When I train a multi-agent environment with a shared policy, I set:

[code]

in my training config. Then the agents will use the same policy `default_policy`.

In the training result, the metric key `timesteps_total` means the number of sampled environment steps. And `agent_timesteps_total` means the sum of timesteps for all agents. I got:

[code]

[2022-04-29 15:06] maxpumperla opened #24341 "[rllib] complete development of config objects for rllib trainers"
### Description

For sake of completeness, let's track the impl of the new way of configuring RLlib algorithms here as well (see also https://docs.google.com/spreadsheets/d/1xlqv6lZvOdH4rA6OihRfGVb6wKkrTmq_Or3x3n0_X-Q/edit#gid=0):

- [x] IMPALA
- [x] DDPG
- [x] Dreamer
- [x] MAML
- [x] MBMPO
- [x] SlateQ
- [x] QMix
- [x] CQL
- [x] SAC
- [x] DD-PPO
- [x] DQN
- [x] MARWIL
- [x] A2C
- [x] A3C
- [x] B

[2022-04-29 15:10] xwjiang2010 commented on #24326
[code]

@ckw017 wondering if you have any idea here? This is a release test running ray client mode. Is this a real error message or just masking something else?

[2022-04-29 15:17] #20886 closed

[2022-04-29 15:17] #21022 closed

[2022-04-29 15:35] jjyao commented on #24209
Could you share what you did with the fix?

[2022-04-29 16:30] #24296 closed

[2022-04-29 16:43] #21112 closed

[2022-04-29 16:53] christy opened #24347 "[docs][rllib] Reorganize the RLlib docs Algorithms section"
### Description

Proposed Re-grouping of Algorithms in Docs

1. Rename UCB -> LinUCB on the [algorithms doc page](https://docs.ray.io/en/master/rllib/rllib-algorithms.html#available-algorithms-overview)
2. Add a friendly list of algorithms on the github RLlib page itself's [README](https://github.com/ray-project/ray/tree/master/rllib)
3. Repeat same groupings on the [algorithms doc page](https://d

[2022-04-29 17:13] ckw017 commented on #24326
Likely that something is getting masked there (error gets thrown if anything fails while trying to import anyscale). Is there a way to run this test off laptop?

[2022-04-29 17:31] rkooo567 commented on #24259
Hmm in the worst case, I can try your repro and investigate. Can you verify if that can reproduce issues? (I believe it is what you are doing now?)

[2022-04-29 17:32] djakubiec commented on #20634
I am seeing this as well.  I am started a new head node directly on a machine where a different user had previously started one:

[code]

[2022-04-29 17:50] ckw017 commented on #24326
^basically I just want to find out what packages are being installed in buildkite, I'm guessing either anyscale isn't being installed for some reason, or somethings overwriting anyscale's dependencies that's causing it to fail on import

[2022-04-29 18:39] xwjiang2010 commented on #24326
Thanks @ckw017. That makes sense!

Consolidate @krfricke's investigation here as well (along the same line):
https://buildkite.com/ray-project/release-tests-pr/builds/1841#dfe2029d-fdec-4a78-aa11-0234f21d5a10 - prints out the exact error during "import anyscale"

which is
[code]

The [fix](https://github.com/ray-project/ray/pull/24346/files) is now tried out at [here](https://buildkite.com/ray-pro

[2022-04-29 18:53] jjyao commented on #24337
[code]

Seems we have dependency issues

[2022-04-29 19:47] #22910 closed

[2022-04-29 20:40] jianoaix commented on #24158
Remove release-blocker since we took workaround https://github.com/ray-project/ray/pull/23952 for now.

[2022-04-29 20:48] jianoaix opened #24350 "[Dataset] Add performance test for Dataset prefetch"
Prefetching blocks from remote nodes is an enabler of performance for map_batches (as shown in https://github.com/ray-project/ray/pull/23952), which is a key API for Dataset. We should add nightly test for its performance.

[2022-04-29 22:11] #14071 closed

[2022-04-29 22:16] #24326 closed

[2022-04-29 22:23] simon-mo commented on #23473
Actually if @architkulkarni doesn't have the bandwidth, can @sihanwang41 can take this? This should help Sihan get familiar with runtime env code and documentation edits path.

[2022-04-29 23:14] #24192 closed

[2022-04-29 23:20] DenysAshikhin opened #24358 "[RLlib] _winapi.CreateProcess(executable, args, FileNotFoundError: [WinError 2]"
### What happened + What you expected to happen

Hi all,

I am getting the following error:

[code]

Thanks in advance!

### Versions / Dependencies

OS: Windows 10
Python: 3.8.9
Ray: Latest dev release for Windows 3.8: https://docs.ray.io/en/latest/ray-overview/installation.html

Here is my pip freeze:
[code]

### Reproduction script

Sample code to produce the issue:
[code]

### Issue Severity

[2022-04-29 23:54] scv119 commented on #24337
I can take a look!

[2022-04-29 23:55] jjyao commented on #24337
We already figured it out. It's anyscale dependency issue. We don't need to do anything.

[2022-04-30 00:03] #24032 closed

[2022-04-30 00:19] #22385 closed

[2022-04-30 00:25] dynamicwebpaige commented on #11564
It looks like this issue might have been solved by this [XGBoost + Dask-on-Ray + Tune example](https://github.com/ray-project/ray/blob/3cb85859cd4eb23a820871c3b00ba8215d6d59a1/doc/source/ray-core/examples/dask_xgboost/dask_xgboost.ipynb). Would it make sense to refer to this example in the ray.io documentation (if it isn't mentioned explicitly already)?

[2022-04-30 01:09] iycheng opened #24359 "[core] Ray task cancel race conditions"
### What happened + What you expected to happen

Task cancelation is not handled correctly and will cause race conditions.

### Versions / Dependencies

master/linux

### Reproduction script

If we put 2 seconds sleep, test_cancel.py will hang:

[code]

[code]

The race condition is:
1. task created
2. task pushed to core worker
3. ray worker hasn't started to run the task
4. ray worker get the ca

[2022-04-30 01:12] #18791 closed

[2022-04-30 05:09] simon-mo opened #24360 "[Serve] Promote Autoscaling out of Experimental"
It has been stable for quite some time, let's drop the experimental label in documentation and code.

[2022-04-30 05:13] czgdp1807 commented on #23625
I think I can look into this.

[2022-04-30 05:20] pcmoritz commented on #23625
That would be great :)

[2022-04-30 05:42] cardchase opened #24361 "[Core] ray.exceptions.LocalRayletDiedError: The task's local raylet died. Check raylet.out for more information."
### What happened + What you expected to happen

I was using ray as a dependency to run the Modin library in  Win 11 however I am getting Raylet error

### Versions / Dependencies

OS: Windows 11
Python: 3.7
Ray Version: 1.12.0

Ray agent failed
[dashboard.log](https://github.com/ray-project/ray/files/8596197/dashboard.log)
[dashboard_agent.log](https://github.com/ray-project/ray/files/8596198/das

[2022-04-30 07:10] gjoliver opened #24362 "[RLlib] MAML doesn't work with framework TF2"
### What happened + What you expected to happen

In setup_mixins(), we are trying to define an input placeholder even when the framework is TF2.

### Versions / Dependencies

master

### Reproduction script

Switch framework to tf2, then run:
rllib train -f rllib/tuned_examples/maml/cartpole-maml.yaml

### Issue Severity

High: It blocks me from completing my task.

[2022-04-30 07:57] czgdp1807 commented on #23625
I am unable to reproduce the scenario in the OP. What I am doing is running the following example by launching, `python dask_error.py` in first Anaconda prompt on Windows and then running `ps -ef` repeatedly in another Anaconda prompt on Windows. I always get the following line `ps -ef` output,

[code]

I tried running `python dask_error.py &` (appended an `&`) but it doesn't run in the background

[2022-04-30 08:06] andras-kth commented on #14477
@timurcarstensen

It's the _principle_ that's important, not the exact details of any particular case.
The point is that at all internal state in the environment that may affect the trajectory
*MUST* be saved and restored by `.get_state` and `.set_state` to guarantee that
the evolution of the environment restored from a "snapshot" is indistinguishable
from the evolution of the environment at the t

[2022-04-30 08:08] czgdp1807 commented on #23945
The script in the OP works fine with the `master` (f72555262afbbfc1aabb87c9e40839aaaee3ba0b) branch. Below are the logs,

[code]

I think this is connected with https://github.com/ray-project/ray/pull/23223. Not fully sure though. After merging with `master` workers get enough time to register themselves in the worker pool so may be that's why the script in the OP worked with the `master` branch b

[2022-04-30 08:16] czgdp1807 commented on #23611
I am able to reproduce this issue locally. Looking into it.

[2022-04-30 09:03] zhaoyaqia commented on #11843
Hello,I have this problem too.
How did you solve it?

[2022-04-30 10:07] czgdp1807 commented on #23611
I see. So, I thought you were executing the second command directly without running the first one. Its natural to have this issue in that case. However after running `ray start --head`, if you run `ray start --address=127.0.0.1:6379`, it works fine on my Windows system. `ray start --address=127.0.0.1:6379 --redis-password=''` also works fine after running, `ray start --head` on my Windows system.

[2022-04-30 10:34] tekumara opened #24366 "Core: GCS has started but no raylets have registered yet"
### What happened + What you expected to happen

[code]

### Versions / Dependencies

ray 1.12.0 python 3.7.7
deployed on Kubernetes using the helm chart

### Reproduction script

[code]

### Issue Severity

High: It blocks me from completing my task.

[2022-04-30 10:36] tekumara commented on #24366
Looks like my cluster has no workers, just a head node:
[code]

[2022-04-30 11:17] #17675 closed

[2022-04-30 11:27] tekumara commented on #24366
I've resolved this by restarting the cluster and applying the change in https://github.com/ray-project/ray/pull/23414

[2022-04-30 11:27] #24366 closed

[2022-04-30 13:15] tekumara opened #24367 "Workflows: Type stubs are incorrect: argument missing for parameter status_filter"
### What happened + What you expected to happen

Given the types already exist on the function, the type stubs aren't needed and are incorrect.

eg:

The [type stubs for list_all](https://github.com/ray-project/ray/blob/1.12.0/python/ray/workflow/api.pyi#L98) expect the `status_filter` parameter:

[code]

but [the function has a default arg of None](https://github.com/ray-project/ray/blob/1.12.0/p

[2022-04-30 15:40] #21489 closed

[2022-04-30 21:41] NumberChiffre commented on #23951
got the same error running the following in a local docker image built on my Mac, while I never seen this error on my Ubuntu machine, also python 3.17.13:

[code]

[2022-04-30 22:21] mehrdadn commented on #9166
@sai-prasanna @richardliaw you should be able to do

    python3 -m pip install wmi

and then

    ray.resource_spec._autodetect_num_gpus = lambda: len(list(filter(lambda c: c.wmi_property('AdapterCompatibility').value == "NVIDIA", __import__('wmi').WMI().Win32_VideoController())))

[2022-04-30 22:33] mehrdadn commented on #9166
Oh, this might also work:

    import ray.resource_spec
    import subprocess
    ray.resource_spec._autodetect_num_gpus = lambda: int(subprocess.check_output(['powershell', '-Command', "& {@(Get-WmiObject -Query \"SELECT * FROM Win32_VideoController WHERE AdapterCompatibility = 'NVIDIA'\").count}"], stdin=subprocess.DEVNULL, stderr=subprocess.DEVNULL, creationflags = subprocess.CREATE_NO_WINDOW).

[2022-05-01 04:30] #23778 closed

[2022-05-01 08:19] tekumara opened #24371 "[Core] No overloads for "remote" match the provided arguments"
### What happened + What you expected to happen

[code]

vscode/pyright errors with:
[code]
<img width="532" alt="Screen Shot 2022-05-01 at 6 20 16 pm" src="https://user-images.githubusercontent.com/125105/166137956-ffe92629-2d1e-41e5-8c28-57a103b64690.png">

### Versions / Dependencies

ray 1.12.0

### Reproduction script

[code]

### Issue Severity

Low: It annoys or frustrates me.

[2022-05-01 18:59] Jet132 commented on #23945
Can confirm it works. Installed today's nightly and it's successfully training. Thank you very much 👍

[2022-05-01 19:30] Jet132 commented on #23945
Nvm I was too quick to judge. Still the same error, even with the 2 newest passing commits (627b9f2e888b05434bb67f547b390409f26538e7 and f72555262afbbfc1aabb87c9e40839aaaee3ba0b) on `master`.

[2022-05-01 23:10] xwjiang2010 commented on #24324
[code]

[2022-05-02 00:21] Superskyyy commented on #24361
same issue for windows 11 Python 3.9

[2022-05-02 00:40] #18486 closed

[2022-05-02 01:57] xwjiang2010 commented on #24324
minimal reproduce:
Start a new conda env.
pip install anyscale
pip install aiobotocore==2.2.0

Open python console and
import anyscale

gives the same error
[code]

[2022-05-02 03:50] xwjiang2010 commented on #24324
Anyscale has a pinned requirement on aiobotocore, which is in conflict with the version required by OSS release test.
This was only surfaced recently when there is a change introduced product side that runs through utils/runtime_env.py during "import anyscale". The solution is just to guard AioSession type hint with TYPE_CHECKING.

This should be enough to unblock OSS release test but product side

[2022-05-02 04:42] dynamicwebpaige opened #24380 "[Docs] Create a more interesting / helpful `404: Page Not Found` for ray.io."
### Issue Description

When a user attempts to access a page on the [ray.io]() website that does not exist, they are shown the following error message:

<img width="710" alt="Screen Shot 2022-05-01 at 9 35 12 PM" src="https://user-images.githubusercontent.com/3712347/166184883-bd581edb-3742-4d60-8881-366c86b5f4fa.png">

### Desired Behavior
* A detailed description of what has happened (ex: _"Sorr

[2022-05-02 06:57] czgdp1807 commented on #23945
I executed the script multiple times on my system and it worked fine all the time. My Azure Windows has access to 8 CPUs and 16 GB RAM.

[2022-05-02 07:12] czgdp1807 commented on #24371
With `9a6e0538ea65839a56c8f8e9700ac7405818042a` commit in `master` branch, the following code works fine,

[code]

[2022-05-02 09:04] sven1977 commented on #24347
Hey @christy , thanks for listing these enhancement suggestions! Please feel free to create any docs PRs for fixing these shortcomings (I think you already posted a few that are in review rn).
Great stuff!

[2022-05-02 09:08] sven1977 commented on #24347
My suggestion for grouping our algos would be (only slight differences to your suggestion):

* Offline RL (put Off-policy Eval here): BC, MARWIL, CQL, OPE ("importance sampling" and "weighted importance sampling")
* Model-free RL (maybe split into off/on policy):
  * On-policy: APPO, PPO, IMPALA, A2C, A3C, PG
  * Off-policy: DQN, DDPG, TD3, SAC
* Model-based RL: MBMPO, Dreamer
* Derivative-free Al

[2022-05-02 10:00] sven1977 commented on #24340
Hey @XuehaiPan , thanks for filing this issue. Hopefully, this simple fix here solves your problem (need to wait for tests to pass, though!)

It's simply due to the fact that in the special case of you using only "default_policy" as PID, RLlib will not build MultiAgentBatches during rollouts, but only simple SampleBatches (which do NOT distinguish between agent and env steps).
Trying to generalize

[2022-05-02 11:18] sven1977 commented on #24307
Hey @peterhaddad3121 , thanks for filing this issue, but I cannot reproduce the error. I have seen something similar on a Windows machine recently (but I tried there as well and all runs well). Could you share more information about your ray versions and OS?

[2022-05-02 11:33] sven1977 commented on #24055
Hey @HJasperson , thanks for filing this issue. However, I'm not sure the fix would be that simple. Imagine a NN that outputs some values vie its last linear layer (supposed to produce action **logits** (not log-probs!)). Some of these logits may be 0 or at least very close to zero, which does NOT mean that these actions should be masked. Even negative action logit values are common and should sti

[2022-05-02 11:39] sven1977 commented on #24071
Hey @melonipoika and @hemanmach , thanks for posting this issue. Let's try to count the number of CPUs you have a) available in total on all machines, and b) available on your head-node (where learning happens on GPUs and where RLlib will try to create all your aggregation workers as these have to be co-located with the learner).
Your IMPALA config suggests that you require:
* 120 (1 per rollout w

[2022-05-02 11:41] sven1977 commented on #24074
Hey @RocketRider , thanks for filing this. I think this is a good fix for the described situation. Let's create a PR ...

[2022-05-02 12:16] sven1977 commented on #24075
Hey @philippGraf , thanks for raising this issue. Bandits don't support non-Discrete action spaces, but you can use a MultiDiscrete -> Discrete wrapper to achieve the same thing.

Could you try the following version of your repro script? I confirmed this one runs just fine.

[code]

[2022-05-02 12:16] sven1977 commented on #24075
We should add a action space check for bandits, though to make this less confusing for people in the future ...

[2022-05-02 13:12] lattverksted commented on #23942
I followed this procedure, and got another error so I tried to go back by deleting the repository and re-installing the library. But when I  run a test job:
 rllib train --run APPO --env CartPole-v0 --torch
I get
 AttributeError: module 'gym' has no attribute 'spaces'.

[2022-05-02 14:37] tisonkun commented on #7484
Closed as no more activities.

[2022-05-02 14:37] #7484 closed

[2022-05-02 14:37] HJasperson commented on #24055
What I'm suggesting is an emergency fix because right now **you are giving a tf method incorrect inputs**. The method expects log probabilities and you are giving it logits. Just look at the tf documentation!

You are welcome to address special cases (e.g. very small logits) through some helper method, but as it stands now, any results of a network trained via this distribution should be considere

[2022-05-02 14:43] #24087 closed

[2022-05-02 14:48] GuillaumeDesforges commented on #24264
From my investigations, a datasource can't be lazily generating data.

A datasource creates a list of `ReadTask` which are then consumed by `ray.data.read_datasource`.
https://github.com/ray-project/ray/blob/026849cd272013003212159c1a12de163449b761/python/ray/data/read_api.py#L227
https://github.com/ray-project/ray/blob/026849cd272013003212159c1a12de163449b761/python/ray/data/read_api.py#L259
http

[2022-05-02 15:10] krfricke commented on #21050
See also https://discuss.ray.io/t/experimentanalysis-on-google-cloud-storage/5783/6 - we should fix this soon

[2022-05-02 15:13] krfricke commented on #17032
This should be unrelated to fractional GPU usage. We've refactored the future handling code immensely in the past months and haven't seen this issue since then, so I'm closing this until it is raised again.

[2022-05-02 15:13] #17032 closed

[2022-05-02 15:21] hemanmach commented on #24071
Hi @sven1977, thanks for looking into this! We are using the "ray_learner" node type for the trainer process. It is the only node type with 4 GPUs, so we assumed that the learning would be forced to happen there. The Ray Dashboard also showed the trainer process under that node when the job was running. This node has 48 cpus in total.

[2022-05-02 15:21] iasoon commented on #23025
I think the offending log statement is no longer on master. A quick grep through all info logs doesn't seem to find any remaining newlines either.
Do you still know of any, or can this issue be closed?

[2022-05-02 15:22] HJasperson commented on #24055
I updated the PR with `tf.math.log(tf.nn.softmax(tf.where(x!=0, x, tf.float64.min)))`, which should address some of your concerns. Of course the padding/masking value can be modified later, but padding/masking with zeros is by far the most common

[2022-05-02 15:38] clarkzinzow commented on #24264
@GuillaumeDesforges What you're looking for here is for each `ReadTask` to be able to yield one or more blocks **and** for downstream operations to be able to start execution on those individual blocks; i.e., you're wanting to be able to pipeline execution within a single `ReadTask`'s blocks.

This aspect is already supported via dynamic block splitting (disabled by default due to some remaining f

[2022-05-02 15:42] clarkzinzow commented on #23977
With (1), (2), and (3) done, downgrading the remaining work, (4), to a P2.

[2022-05-02 16:09] Yard1 commented on #21050
@krfricke @xwjiang2010 let's talk about this during the tune eng sync

[2022-05-02 16:29] DmitriGekhtman commented on #24130
It appears it can come up on Linux as well:
https://stackoverflow.com/questions/72060228/ray-cluster-connection-closed-example-script-displays-127-0-0-1-instead-of-head/72089615#72089615

[2022-05-02 16:30] #24074 closed

[2022-05-02 16:33] #24082 closed

[2022-05-02 17:01] edoakes commented on #23025
Believe I fixed this in a drive-by :)

[2022-05-02 17:01] #23025 closed

[2022-05-02 17:10] #23979 closed

[2022-05-02 17:14] clarkzinzow opened #24391 "[Datasets] [Testing] Add more nightly large-data-scale stress tests for Datasets"
We've recently had users encounter OOMs and out-of-disk failures with large-data-scale training ingest. We should add more nightly tests that test memory and disk stress.

[2022-05-02 17:21] krfricke opened #24392 "[ci] Remove Docker GPU fix"
Once NVIDIA updates their docker images, we can remove the fixes from https://github.com/ray-project/ray/pull/24336

[2022-05-02 17:26] fwitter opened #24393 "[RLlib] Current Implementation of Replay Buffer is not a True Circular Buffer"
### What happened + What you expected to happen

A replay buffer stores batches of collected experiences. Each batch may consist of multiple timesteps and the capacity of a replay buffer is defined by the total number of timesteps that it can store.

The implemented [ReplayBuffer](https://github.com/ray-project/ray/blob/f066180ed58b0d7d17150f925c2454f91ede4a29/rllib/utils/replay_buffers/replay_buf

[2022-05-02 17:27] matthewdeng commented on #24305
@delkov were you able to fix this?

[2022-05-02 17:50] mwtian commented on #24176
Current status:
- https://github.com/ray-project/ray/pull/24322 should decrease driver Raylet memory usage significantly, based on profiling and testing.
- For worker Raylet memory usage, it is observed that the memory usage can grow significantly during the reduce stage. Memory profiling is a bit harder to interpret in this case. I'm still investigating the source of memory usages.
- Python worke

[2022-05-02 18:21] lchu-ibm opened #24394 "[Core][Workflow]ray.init(address="auto") won't pick up the storage that initialized in ray start"
### What happened + What you expected to happen

In the latest changes, I observed that we moved persistent storage from Ray Workflow to Ray Core (i.e. from `workflow.init()` to `ray.init()`).

When I have a cluster that is created with `ray start ... --storage my_storage`, I would expect I could do `ray.init(address="auto")` to connect to the cluster and use the storage specified there. However,

[2022-05-02 19:14] #24075 closed

[2022-05-02 19:27] fwitter commented on #24393
I just noticed the new [SimpleReplayBuffer](https://github.com/ray-project/ray/blob/fbbc9c33d6136e3ed8e5127944505dcf51091de4/rllib/utils/replay_buffers/simple_replay_buffer.py) where capacity is defined as the total number of batches instead of the total number of timesteps. This redefinition simplifies the implementation of a circular buffer.

[2022-05-02 19:31] Yard1 opened #24396 "[AIR] `Result` object doesn't work with Ray Client"
### What happened + What you expected to happen

Ran AIR training on the cluster using Ray Client. When I save the results, this is what happens. The files are present on the cluster, but they are not present on the driver, while the experiment analysis is ran on the driver.

[code]

### Versions / Dependencies

7cca7782f1648ad77b157d94c0f545cfaea52cc9

### Reproduction script

Run any example we

[2022-05-02 19:45] iycheng commented on #24394
@lchu-ibm I synced offline with @ericl
The right behavior here should be that:

- if ray.init without storage config, it'll use the one from the cluster. If no cluster is given, it'll not setup storage.
- if it's called with storage config, it'll use that.

[2022-05-02 19:46] iycheng commented on #24394
To make things simple, we can utilize internal kv to set it up and fetch it later.

[2022-05-02 20:16] stephanie-wang commented on #23824
Synced offline, and we agreed to try to support forwarding the current task spec during `ray.put(owner=XXX)` to support reconstruction. @kira-lin will try to refactor the Spark-on-Ray code to leverage this method.

[2022-05-02 20:24] Jet132 commented on #24259
Not sure if this is the same problem but for me, resources get reserved but never actually used causing no trails to be run:
[code]
It's also a major blocker for me cause trails don't train more than one iteration and then get stuck in paused. Even restarting the cluster doesn't change anything (except run the remaining pending trails because exited trails also sometimes don't mark resources as re

[2022-05-02 20:30] Jet132 commented on #23945
I've run the script also multiple times on two separate machines (same windows versions, 32GB RAM, min 8 CPUs, 1 GPU) but to no avail.

With what systems does gRPC interact? Might be useful information as I could give a more detailed environment description and check for misconfigurations.

[2022-05-02 20:39] iycheng opened #24400 "[core] Internal kv with timeout and async io"
### Description

Right now internal kv is sync call with infinite retry. It'll be nice to introduce API which can accept a time out and also an async version.

The code point is [here](https://github.com/ray-project/ray/blob/7cca7782f1648ad77b157d94c0f545cfaea52cc9/python/ray/_private/gcs_utils.py#L205-L279)

We should provide:
[code]

The first one is sync call with a timeout. If timeout=None, it

[2022-05-02 21:22] xwjiang2010 commented on #24396
Hmm, can you share your script/setup?

Basically, the file lookup should only happen on head node and the result grid will be streamed back to ray client. Is that aligned with your expectation?

Nonetheless, I think this is a case that we can use some good documentation.

[2022-05-02 21:29] Yard1 commented on #24396
It doesn't look to be happening, though. This is what seems to be happening:
1. TunerInternal finishes fitting on the node, creates a ResultGrid with ExperimentAnalysis pointing to a path on the node
2. ResultGrid is streamed back to the Trainer running on the driver
3. Trainer gets the first item of the ResultGrid - this calls the ExperimentAnalysis contained within. However, now that it's being

[2022-05-02 21:40] rkooo567 commented on #24259
@krfricke maybe let's meet in person to reproduce the issue together?

[2022-05-02 22:14] jiaodong opened #24406 "[Serve] Enhance deployment graph perf benchmark with a non-DAG API comparison"
### Description

Currently we have two release tests on single node for benchmarking:

https://sourcegraph.com/github.com/ray-project/ray/-/blob/release/serve_tests/workloads/deployment_graph_long_chain.py
https://sourcegraph.com/github.com/ray-project/ray/-/blob/release/serve_tests/workloads/deployment_graph_wide_ensemble.py

There're pretty simple with default knobs, basically a long chain of no

[2022-05-02 22:15] suquark commented on #24394
This is the same issue in https://github.com/ray-project/ray/pull/24401. I just made a workaround for that PR. Still need a systematic fix.

[2022-05-02 22:16] jiaodong commented on #24406
PR that introduced these tests https://github.com/ray-project/ray/pull/24246/files with plumbing.

We can create new test python files + yaml fields like above.

[2022-05-02 23:08] scv119 opened #24407 "[Core][CI] reduce the CI build time for mac"
### What happened + What you expected to happen

Currently our CI pipeline takes 10 hours to finish, mostly due to mac related build. We believe there are several low hanging fruits to improve this. some ideas from a better target determinator, or we just increase the number of mac machines.

 @simon-mo and @krfricke might have some idea on how to improve this.

### Versions / Dependencies

n/a

#

[2022-05-02 23:18] ArturNiederfahrenhorst commented on #24393
Although simpler, I think it's best to keep the definition of capacity/timesteps across the library.
So that a user can think of the capacity in terms of rough sample size in byes * capacity vs available memory. Thanks again for the related PR.

[2022-05-02 23:55] richardliaw opened #24411 "[core] Annotation and docstring for ray.remote wrapped functions"
### Description

As a library developer, I may expose Ray Remote as a primitive to my developers.

How can I easily document this using my documentation system, like mkdocstring?

https://discuss.ray.io/t/mkdocs-support-problem-with-ray-remote-annotation/3116

Perhaps you can support this via https://stackoverflow.com/questions/1782843/python-decorator-handling-docstrings

### Use case

This is ve

[2022-05-02 23:56] richardliaw commented on #24411
Maybe the right way to do this is via functools.wraps?

[2022-05-02 23:57] scv119 commented on #24292
Some ideas:

- Add size limit thing (or other solution)
- Updating documentation for Ray in these scenarios (K8s or otherwise)
- Nightly tests for out of disk.

[2022-05-03 00:04] richardliaw opened #24415 "[core] autocomplete for ray.remote wrapped functions/classes"
### Description

Autocomplete functionality for ray.remote decorated/wrapped function/classes

### Use case

As a library developer, I may expose Ray Remote as a primitive to my developers. However, decorators currently completely swallow the autocomplete functionality.

Can we better support this?

https://discuss.ray.io/t/autocomplete-in-pycharm/4237

[2022-05-03 00:17] pcmoritz commented on #24415
Related discussion about IDE complete functionality and type stubs by @tiangolo : https://github.com/python/typing/discussions/1163

[2022-05-03 00:48] simon-mo commented on #24122
I have reproduced this locally and went down a rabbit hole. It turns out to be a cloudpickle issue dealing with subclasses. https://github.com/cloudpipe/cloudpickle/issues/468

The main implication on Serve part is that users cannot do another dag definition + serve build after `serve.run`. Because `list_deployments()` call will deserialize the remote DAGDriver type and override local definition.

[2022-05-03 01:30] lchu-ibm commented on #24394
@iycheng

This should be easy, what we can do is:  when creating the cluster head, we push storage config to internal kv store so non-heads will fetch that value from kv store, exactly as you described.

I would like to clarify on this one.  I understand if it is called as the head, but how about non-heads? Say I have the following:
[code]

My thought is above setting in ray.init() with storage=B

[2022-05-03 02:15] spolcyn opened #24419 "[Serve] Serve stalls out after repeated replica failures"
### What happened + What you expected to happen

1. After using a ServeHandle to repeatedly query a deployment whose replicas die a few times, the code stalls out and makes no further progress. Additionally, a `Task exception is never retrieved` exception is logged from within `asyncio`.

2. Expected behavior is the queries keep getting run, and returning `RayActorError` (or, in a real example, mo

[2022-05-03 02:15] spolcyn commented on #24419
@simon-mo See this cleaned-up issue with a repro script for the earlier problem we were talking about

[2022-05-03 02:28] simon-mo commented on #24419
Thanks @spolcyn. This is a very detailed repro. I'll take a look.

[2022-05-03 02:32] lchu-ibm commented on #24394
Another option is to give user the flexibility of "overwriting" a storage config from a non-head worker/node, so above storage=B would overwrite the storage=A rather than error out, and jobs submitted from that driver will use storage=B.

Currently this is not possible because `create_valid_file()` is only done when creating head node so specifying new storage after the cluster is created (e.g. fr

[2022-05-03 02:51] #24359 closed

[2022-05-03 02:53] #20524 closed

[2022-05-03 04:19] rkooo567 commented on #24272
@simon-mo

Can you tell me more about what's the solution you are thinking?

Since we are not able to support `ray logs` API, I am thinking to just fetch logs on demand instead of always caching them in memory which is a bad design

[2022-05-03 04:20] robertnishihara opened #24422 "[Serve] Code snippet on ray.io/ray-serve fails"
### What happened + What you expected to happen

I'm running the code snippet from https://www.ray.io/ray-serve (copied below)

[code]

It fails with

[code]

Running `pip install aiorwlock` solves the issue.

The next issue I run into is that `print(response.text)` prints out

[code]

### Versions / Dependencies

Ray 1.12.0
MacOS

### Reproduction script

Included above

### Issue Severity

Low:

[2022-05-03 04:21] edoakes commented on #24422
@robertnishihara did you do `pip install ray[serve]` prior to the first error?

[2022-05-03 04:23] edoakes commented on #24422
Looks like the second issue is in the `payload = await request.json()["vector"]` call. Updated version that works here (also removed unused `pickle` import):

[code]

@robertnishihara do you know where this code lives / how we can update it?

[2022-05-03 04:34] robertnishihara commented on #24422
I didn't do that. I already had Ray installed so it didn't occur to me.

[2022-05-03 04:38] simon-mo commented on #24272
Currently it is "fixed" by a custom wheel that disabled the log subscriber loop. This is an optional part that can be disabled by env var.

You are correct that the proper fix should be fix log on demand.

[2022-05-03 04:46] zhe-thoughts opened #24425 "[Docs] Dark mode theme for code snippets and output"
### Description

TensorFlow docs has a dark mode theme, which allows easier visibility for text (light), code snippet (dark), and output (in-between). This is something we can consider.

E.g. https://www.tensorflow.org/guide/data

![Screen Shot 2022-05-02 at 9 43 25 PM](https://user-images.githubusercontent.com/10713559/166405497-47805821-1742-4e12-8fbd-aeec02569923.png)

### Use case

Better UX f

[2022-05-03 04:52] xwjiang2010 opened #24426 "[tune] Document Tune checkpoint concept properly"
### What happened + What you expected to happen

Checkpoint is a super loaded term. And it's not clear to our user what each type of checkpoint is. We should document this properly.

See context here: https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1651544792830879

### Versions / Dependencies

Master

### Reproduction script

NA

### Issue Severity

Low: It annoys or frustrates me.

[2022-05-03 05:55] maxpumperla commented on #24426
@xwjiang2010 like this https://docs.ray.io/en/latest/tune/tutorials/tune-checkpoints.html or a more general page about the topic?

[2022-05-03 06:10] sven1977 commented on #24071
Hey @hemanmach , that's correct, the learning will happen on that node with the 4 GPUs, and it does seem to have enough CPUs to place the aggregation workers there as well. Ok, let us try to reproduce this issue ...

[2022-05-03 07:14] frosk1 commented on #18134
would appreciate this feature

[2022-05-03 08:27] melonipoika commented on #24071
Thanks @sven1977 . Please let me know if I can help reproducing this issue. I am in your timezone :-)

[2022-05-03 09:43] sven1977 commented on #24071
Ok, I brought up a AWS cluster with 4 GPUs on the head node and up to 10 worker CPU-only machines (using auto-scaling). The following config worked fine and the job started running. The only difference between my config below and yours is the `num_gpus_per_worker=0.3` setting. I'll confirm this now with a GPU-worker cluster.

[code]

[2022-05-03 09:45] sven1977 commented on #24071
I do not see the `Exception: Unable to create enough colocated actors, abort.` message.
I'm using `g3.16xlarge` head node and up to 10 `m5.4xlarge` worker nodes.

Will try to swap out the worker nodes by GPU machines and see what happens with `num_gpus_per_worker=0.3`.

[2022-05-03 10:20] sven1977 opened #24428 "[Autoscaler] Autoscaler throws error when trying to run an RLlib workload with 120 rollout workers and 0.3 GPUs on each."
### What happened + What you expected to happen

When trying to run an RLlib IMPALA workload (repro see below) on the Anyscale Product with autoscaling, an error is logged in the Cluster's autoscaler logs:

ERROR message:
[code]

### Versions / Dependencies

Ray 1.12

### Reproduction script

Create a cluster on the Anyscale product using the Ray 1.12 Py3.8 ML image and the following compute confi

[2022-05-03 14:15] mattip commented on #11277
I don't think this is related to #16781. The issue here was that older versions of ray (the reporter was using 1.0.0) did not support the dashboard agent monitoring the gpu on windows. This was fixed in #19319, which was released as part of 1.8.0 and then refined to work better in later releases.

[2022-05-03 14:17] mattip commented on #16781
Still waiting to hear how to reproduce your setup for your head and worker nodes:
- which of them were on WSL and which on windows?
- how did you install CUDA on the WSL machine: via a nvidia docker? Directly in the WSL environment?

[2022-05-03 14:31] mattip commented on #22859
@irani74 is this still happening? Could you refine the reproducer so I can test it out?

[2022-05-03 14:32] #17506 closed

[2022-05-03 14:38] mattip commented on #23625
I don't think the original reproducer was running on windows

[2022-05-03 14:48] #24070 closed

[2022-05-03 14:59] mattip commented on #23945
The errors are being logged in the gRPC component, but they indicate that workers cannot be contacted. There are many causes for this. One is that it takes too much time to start the worker, so the monitoring process times out and reports an error back to the HEAD process. This is usually what I see when there is a `failed to connect to all addresses` message. Especially suspicious is the report t

[2022-05-03 15:31] xwjiang2010 commented on #24426
Hi @maxpumperla
The user who asked the question was actually referring to this page. The confusion is around different types of checkpoints: trial v.s. experiment state and what each one is for. The page you are linking is more advanced - the next step further to zoom into trial checkpoint.
See here for more context: https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1651544792830879

[2022-05-03 15:46] xwjiang2010 commented on #24396
Yeah that makes sense. Let me think that is a good CUJ for this ray client + air story.
Also @richardliaw can I put some color on how invested we are about ray client in the context of AIR?

[2022-05-03 16:02] avnishn commented on #24329
I evaluated this on our new IMPALA training itr fn and found this not to be an issue with high dimension image observations, so I'm going to close this for now.

[2022-05-03 16:02] #24329 closed

[2022-05-03 16:09] xwjiang2010 commented on #24396
@Yard1 One implementation is like:
1. convert everything from `experiment_analysis` eagerly in `ResultGrid.__init__`.
2. overwrite Checkpoint's ser/des behavior: checkpoints are not written to object store by default in this case(that would be a waste!). Instead convert it into Checkpoint(node="xxx", path="yyy") and then serialize it. "xxx" is head node ip in this case. Or we can special case it t

[2022-05-03 16:10] dyllanwli commented on #16505
Got the same issue in `ray-2.0.0.dev0`

[2022-05-03 16:28] Yard1 commented on #24396
I think it's fine if we just use object ref checkpoints and don't make any special provisions for client mode aside from that. We can pass those around without issues, they are very small.

[2022-05-03 16:33] hemanmach commented on #24071
Hi @sven1977, could you try using 20 nodes for rollout generation? I found that with 20 nodes and 5 aggregation workers, it was much more likely that I got that exception. Roughly more than 2/3rd of the time.

[2022-05-03 16:34] sven1977 commented on #24071
I also filed an issue about the autoscaler w/ GPU problem that I'm seeing: https://github.com/ray-project/ray/issues/24428

[2022-05-03 17:30] xwjiang2010 opened #24439 "[tune] improve documentation around "resource exhausted error""
### What happened + What you expected to happen

The fact that this kind of question (https://discuss.ray.io/t/statuscode-resource-exhausted/4379) is coming up again and again is an indication that our documentation needs some improvement.

We should:
- help user to understand why this happens
- how to structure their code to not implicitly capture data
- what does `tune.with_parameter` do
- may b

[2022-05-03 17:54] xwjiang2010 commented on #24439
And another similar question that just came up: https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1651558209256859?thread_ts=1651498471.329859&cid=C01DLHZHRBJ

[2022-05-03 19:10] Jet132 commented on #23945
Retested it with venv and an increased sleep of 30 seconds (updated the OP) with the same result. I'm using a normal pipenv installation (`pip install pipenv --user`) and run the program inside the `pipenv shell`. One thing to note is that I have to manually install the `redis` package to even be able to start the program.

Here are the notable environment variables on the main and worker process:

[2022-05-03 19:46] jjyao commented on #24338
It's an infra issue that has been resolved: https://buildkite.com/ray-project/release-tests-branch/builds/475#49f475d6-9ffc-43e8-b4b7-bce1ffee8683

[2022-05-03 19:46] #24338 closed

[2022-05-03 19:48] jjyao commented on #24337
The dependency issue has been fixed.

[2022-05-03 19:48] #24337 closed

[2022-05-03 19:54] jjyao commented on #24234
It's flaky, it failed 2 times in the past 24 runs.

[2022-05-03 20:00] jjyao commented on #24233
This has occasional timeouts starting in March.

[2022-05-03 20:10] uduse opened #24445 "[Ray Tune] `tune.run` hangs on a simple script that uses `ray.remote`"
### What happened + What you expected to happen

I expect this simple script to finish quickly but it turned out to hang forever. The reporter is still active (printing out stuff on the screen nonstop) while there's no actual progress made.

Possible duplicates: #6340

### Versions / Dependencies

[code]

### Reproduction script

[code]

Example log:
[code]

### Issue Severity

High: It blocks me

[2022-05-03 20:26] cassidylaidlaw commented on #24082
Thank you for the fix! I do understand it's deprecated, but hopefully this will make it easier to transition across versions to the new method :)

[2022-05-03 20:34] #21923 closed

[2022-05-03 20:39] jeffysam6 opened #24446 "[Autoscalar] Spot Instance stop feature"
### Description

Spot instances are being terminated instead of being stopped after executing **ray down**.  It would be great to have this feature since we want to preserve these nodes.

Ref: https://aws.amazon.com/about-aws/whats-new/2020/01/amazon-ec2-spot-instances-stopped-started-similar-to-on-demand-instances/

### Use case

_No response_

[2022-05-03 20:51] xwjiang2010 opened #24447 "[Tune] Make it easy to configure logger level"
### What happened + What you expected to happen

tune.run(verbosity) is only for configuring ProgressReporter's verbosity. There is user asking about how to configure all the loggers in Tune.
https://github.com/ray-project/ray_lightning/issues/147

There are several ways approaching it:
should we have a global configuration for all the loggers in ray
or a configuration for all the loggers in tune.

[2022-05-03 20:53] xwjiang2010 commented on #24445
hi @uduse
This is expected behavior. Please take a look at https://docs.ray.io/en/latest/ray-core/placement-group.html (the section around "In order to fully utilize resources pre-reserved by the placement group, Ray automatically schedules children tasks/actors to the same placement group as its parent.")

You could make your script work by either
1. `@ray.remote` --> `@ray.remote(num_cpus=0)` or

[2022-05-03 21:40] uduse commented on #24445
Thanks @xwjiang2010 for your quick response! I still don't quite understand what's happening here.

So the reason for `get_score.remote(config)` being blocked here is that the resources required for the `get_score` task is unavailable, right? Quote:

Why the resources for `get_score` is unavailable? The script doesn't specific `placement_group` argument and according to the docs this is set to `"d

[2022-05-03 22:17] #24240 closed

[2022-05-03 23:03] xwjiang2010 commented on #24445
Hi @uduse
This has something

[2022-05-03 23:07] zhe-thoughts commented on #23088
@pcmoritz @clarkzinzow @jianoaix Let's move the Slack discussion around examples here.

I think key decisions to make:

- What kind of examples should we have in Getting Started? "simple and crisp", or more representing real-world use cases?
- How much should we rely on external storage (S3) and how much "built-in" small files should we use?

I think having a number of small files (a few KBs) can

[2022-05-03 23:18] Jeffwan commented on #23522
This would be super helpful. I am working on a proposal to proactively migrate workloads to healthy nodes to reduce workloads overall downtime. `drain` is required here to achieve this. Let me know if I can give any help

[2022-05-03 23:19] rkooo567 commented on #23522
cc @scv119

[2022-05-03 23:33] ericl opened #24449 "[data] Add dataset.random_sample() API"
### Description

Per https://discuss.ray.io/t/how-do-i-sample-from-a-ray-datasets/5308, we should add a `random_sample(N)` API that returns N records from a Dataset. This can be implemented via a `map_batches()` followed by a take().

cc @simon-mo @clarkzinzow

### Use case

Random sample is useful for a variety of scenarios, including creating training batches, and downsampling the dataset for fa

[2022-05-03 23:40] Yard1 commented on #24445
Yeah, it was very similar to the setup here. Modin on Ray uses Ray Tasks/Actors internally, so unless you create a placement group with enough free resources, the training will get stuck on Modin calls. Since the first bundle in the placement group factory for Tune is allocated fully to the Trainable Actor, the fix was to add another bundle Modin could use (eg. `[{"CPU": 2}, {"CPU":1}]` for a tota

[2022-05-03 23:58] asm582 commented on #23522
@Jeffwan we tried adding a new scheduling state as referenced in here #18761, would be interesting to know your thoughts on it. our proposal for graceful scale-down is here #18576.

[2022-05-04 00:27] cardchase commented on #24361
Update: The issue is observed when working with Pycharm Community Edition IDE. Works fine with VSCode.
I am using Python 3.7.9
I am just happy Ray works with Python in Win 11

[2022-05-04 00:55] DmitriGekhtman commented on #18576
Let's reopen and take another look at the linked docs.

[2022-05-04 01:46] DmitriGekhtman commented on #23522
cc @wuisawesome

[2022-05-04 02:29] #24324 closed

[2022-05-04 03:05] franklsf95 opened #24454 "[Core] Arrow FS S3 Spilling Hangs without Visible Errors"
### What happened + What you expected to happen

I'm running a 1TB shuffle on 20x r6i.xlarge nodes. The reduce stage always hangs with some tasks not completing. debug_state.txt shows:
[code]

But there is no error from `io*.err` or `python-core-restore-worker-*`.

I'm currently trying to reproduce this with debug logging on and on a single node.

### Versions / Dependencies

master

### Reproduct

[2022-05-04 04:00] amogkam opened #24455 "[Jobs] No GPUs available in driver"
### What happened + What you expected to happen

I am running this simple script on a node with GPUs.

[code]

When run directly on the node, the assert statement passes. When running via Job submission, the assert statement fails. I expect the script to also pass when running via Job submission.

### Versions / Dependencies

Ray 1.12

### Reproduction script

[code]

### Issue Severity

Medium: I

[2022-05-04 06:59] mattip commented on #16781
I opened an issue in gpustat https://github.com/wookayin/gpustat/issues/121 about a failure to gather info.

[2022-05-04 10:43] YoelShoshan opened #24460 "Core - lack of simple way to redirect output to custom file"
### Description

It would be extremely useful if there was a simple way to redirect all remote job output into a custom file.

I've searched the documentation and available discussions online, and I did not encounter any solution that I believe is good enough.

The only solutions I've seen involve python logging (```import python logging```), which is limited in multiple ways:
1. It does not captu

[2022-05-04 11:19] cexen commented on #24361
same issue for me (windows 11, python 3.9.7, ipykernel on vscode)

OK: 1.10.0
OK: 1.11.1
NG: 1.12.0rc1
NG: 1.12.0
NG: nightly (2022-05-04)

[2022-05-04 11:27] voljumet commented on #7645
This worked for me in my fresh environment on my M1 MacOS 12.3.1

[2022-05-04 12:04] cexen commented on #24361
also same issue on windows 11, python 3.9.7 interpreter (without vscode)

minimal repro:
[code]

<details>
<summary>result (on ray 1.12.0)</summary>

[code]
</details>

maybe related to #23945 ?

[2022-05-04 12:13] cexen commented on #24361
another equivalent repro:
[code]
result: the same as above.

[2022-05-04 12:59] cexen commented on #24361
Update: Observed only with virtualenv.

OK: py 3.7.9, `python repro.py`
OK: py 3.9.7, `python repro.py`
NG: py 3.7.9, `.venv\Scripts\python.exe repro.py`
NG: py 3.9.7, `.venv\Scripts\python.exe repro.py`
NG: py 3.7.9, `.venv\Scripts\activate && python repro.py`

it may be related to PYTHONPATH etc., as suggested in #23945 .

[2022-05-04 13:21] mickelliu commented on #10761
I also encountered this issue. Seems like RLlib does not allow any of the agents to done earlier than its peers (or you have to manually set `done` to False in order to proceed).

[2022-05-04 14:09] orcahmlee commented on #24047
Thanks for the info. I'll check it.

[2022-05-04 14:43] #24193 closed

[2022-05-04 15:55] vakker opened #24465 "[RLlib] GPU OOM in _initialize_loss_from_dummy_batch because of sample_batch_size"
### What happened + What you expected to happen

I'm running an experiment with relatively large models, so my batch size is relatively small, otherwise it doesn't fit on a 10GB GPU.
The issue is that in `_initialize_loss_from_dummy_batch` the `sample_batch_size` is hardcoded as `max(self.batch_divisibility_req * 4, 32)`, which makes my training crash. See [here](https://github.com/ray-project/ray

[2022-05-04 16:07] ZhijieWang opened #24466 "[RL Lib] Graceful handle of GRPC connection reset."
### What happened + What you expected to happen

RL Lib rollout worker unable to recover from GRPC error. Detail in here. https://github.com/anyscale/product/issues/10871
[code]

### Versions / Dependencies

Ray 1.12

### Reproduction script

https://github.com/anyscale/product/issues/10871

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-05-04 16:08] ZhijieWang commented on #24466
OSS team, please consider this as P1. I talked with @zhe-thoughts . @richardliaw  can i get your team to triage this?

[2022-05-04 16:39] wuisawesome commented on #23522
upon slightly closer further inspection, this comment in the code details why we kill raylets:

[code]

#19350 says `It's the implementation detail. Drain != kill raylet, but we are having this behavior for now because that's the least breaking change.`

If I'm not mistaken, the autoscaler is the only user of this API and autoscaler folks are the ones who want to change this behavior.

https://sou

[2022-05-04 16:43] architkulkarni commented on #24455
@amogkam Thanks for filing this, do you already have a good sense of which configurations need to be passed to the job supervisor actor?  Is it just an environment variable? Not too familiar with `cuda` or how to make GPUs available.

[2022-05-04 16:45] architkulkarni commented on #24455
Adding a related note from @edoakes so we can track it here: "ideally we could set a resource request for the driver"

[2022-05-04 16:50] amogkam commented on #24455
What do you guys think about setting this env var for just the job supervisor actor so that it doesn't try to manage GPU resources? https://github.com/ray-project/ray/pull/17847

[2022-05-04 16:51] #23963 closed

[2022-05-04 17:12] #23964 closed

[2022-05-04 18:03] wuisawesome commented on #23522
agreed though (1) seems a little difficult to do right now. Starting by eliminating (3) seems like a step in the right direction right?

btw i assume when you say "migrate all the states from that node" you're referring to ownership info right?

[2022-05-04 18:20] fridary opened #24471 "RLlib: action masking with flatten gets <Missing data for input "observations">"
### What happened + What you expected to happen

I copy pasted from `ActionMaskModel(TFModelV2)` and `TorchActionMaskModel(TorchModelV2, nn.Module)` from `rllib/examples/models/action_mask_model.py` for simple action masking `PPO`. I have dict observation:
[code]
I guess I need flatten this in order to make correct network model, so I used `gym.spaces.utils.flatten_space`, but get error `ValueErro

[2022-05-04 19:04] stephanie-wang opened #24472 "[docs] Links in ipynb examples are not formatted correctly"
### What happened + What you expected to happen

Seems to be using .rst link format but the source is markdown, so the link doesn't appear correctly on the docs page:

[Example source](https://github.com/ray-project/ray/blob/master/doc/source/data/examples/big_data_ingestion.ipynb) gets rendered as:

![Screenshot from 2022-05-04 12-02-37](https://user-images.githubusercontent.com/2560516/166807443

[2022-05-04 20:00] iycheng commented on #24394
@lchu-ibm given that it's hard to support this, let's don't change the semantics since we are not very clear about the actual use case. Just throw an error is good enough.

[2022-05-04 21:17] jjyao commented on #24460
Hi @YoelShoshan could you provide a descriptive title? Thanks!

[2022-05-04 21:21] jjyao commented on #24371
@tekumara just want to confirm: the code works right? It's just pyright shows some warning?

[2022-05-04 21:22] jiaodong opened #24474 "[Serve] [Deployment Graph] Always use async handle for executor"
### Description

We're currently returning `RayServeSyncHandle` by default when we try to get the deployment handle for executor. See `deployment_node.py`, `deployment_method_node.py`, `deployment_function_node.py`.

Given the deployment handle is returned by us, in order to further improve performance we can default to the async version and implement an async executor to empower the `_execute_imp

[2022-05-04 21:31] jiaodong opened #24475 "[Serve] [Deployment Graph] Remove most code in DeploymentNode / DeploymentMethodNode to serve.build path"
### Description

For execution efficiency, every line of code we put in the constructor of DeploymentNode is executed and replaced upon each request. However we have too much logic that is only needed once at traversal time but added in constructor: https://sourcegraph.com/github.com/ray-project/ray/-/blob/python/ray/serve/pipeline/deployment_node.py?L22

This will slow down our execution signific

[2022-05-04 21:48] uduse commented on #24445
@Yard1 Thank you for your tip, it works now.

In case anyone wants more specific solution, we set `resources_per_trial=tune.PlacementGroupFactory([{}, {"CPU": 2}]),` in the script above, it won't hang.

[2022-05-04 22:04] YoelShoshan commented on #24460
Sure - done :)

[2022-05-04 22:04] demiladef commented on #20473
I'm facing this issue as well, is there a workaround?

[2022-05-04 22:07] asm582 commented on #23522
@scv119  @wuisawesome one solution would be we ask users to confine actors with placement groups on the ray cluster, then we try to drain the node that has stateless tasks only, will that help simplify the design?

[2022-05-04 22:12] xwjiang2010 commented on #24445
Yes, that means the actor gets zero resources itself and thus its child can get the remaining.

[2022-05-04 22:12] #24445 closed

[2022-05-04 22:18] amogkam opened #24478 "[Core] `dask_on_ray` and Dataset nightly tests failing on 1.12.1"
The following tests are consistently failing on the 1.12.1 branch
- `datasets_ingest_train_infer`
- `datasets_preprocess_ingest`
- `chaos_dask_on_ray_large_scale_test_no_spilling`
- `chaos_dask_on_ray_large_scale_test_spilling`

https://buildkite.com/ray-project/release-tests-branch/builds/472#_

The tests are failing due to not enough nodes starting up in the allotted time, before the actual test