[2020-10-19 15:51] PidgeyBE commented on #11417
And another issue is that it seems that after autoscaling 1 worker, the system does not autoscale anymore for additional resources:

[code]
[code]
[code]
[code]

Output of monitor.err:
[code]
Without intentions to scale more workers...

[2020-10-19 16:06] ericl commented on #11417
@wuisawesome can you take a look at the reported upscaling issue?

[2020-10-19 16:19] wuisawesome commented on #11367
Thanks for the bump, I will try to take a closer look at this and get back to you.

[2020-10-19 16:22] wuisawesome commented on #11417
Yeah cc @AmeerHajAli in case you happen to know off the top of your head.

[2020-10-19 16:38] selvaganesang opened #11467 "Ray placement group feature not releasing the resource when the actor dies in Java"
I have used the placement group concept to have node affinity to actors. A resource is specified as part of ray start command --resources='{"hank01": 1}. When the actor created, it correctly placed the actor in the node where this resource is available. When the actor dies for some reason, the actor is removed from GCS. But, when I tried to create the actor with the same resource, the following er

[2020-10-19 16:40] rkooo567 commented on #11467
Thanks for posting this! @ffbin You guys don't have the remove API yet?

[2020-10-19 16:49] stephanie-wang commented on #11437
Let's not discuss the definition of a "job" on this thread - that discussion is much larger and likely requires some user testing. The priority right now is that we fix this bug before the release.

@kfstorm, how about as a quick fix, we just never erase from `unfinished_jobs_`? We can take care of the memory leak in the future.

[2020-10-19 17:14] stephanie-wang commented on #11437
Yes, I think it's the same. Just an implementation detail.

[2020-10-19 17:16] wallneradam opened #11468 "[rllib] Unexpected key(s) in state_dic"
### What is the problem?

I'm playing with the new **Curiosity** exploration. I could make it work with PPO, but if I try to use it with other methods, such as DQN or SAC, I get the following error:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

Ray 1.0.0, Python 3.8.5, Ubuntu Linux, Torch 1.6.0

[2020-10-19 17:31] #10824 closed

[2020-10-19 18:17] krfricke opened #11469 "[tune] Support hierarchical search spaces in BOHB"
### Describe your feature request

BOHB (`ConfigSpace`) should support hierarchical search spaces.

Follow-up to https://github.com/ray-project/ray/issues/11216#issuecomment-710553677.

[2020-10-19 18:22] krfricke opened #11470 "[tune] Implement categorical features for dragonfly"
### Describe your feature request

Dragonfly does not support categorical features out of the box. This could potentially be solved with a `DiscreteDomain` that gets mapped and resolved internally by `DragonflySearch`.

See also https://github.com/ray-project/ray/issues/11216#issuecomment-710553677

[2020-10-19 18:25] krfricke commented on #11216
I added a couple of follow-up issues for these. I hope to get to BOHB soon. Dragonfly would be a little lower priority. By the way, do you require hierarchical search spaces here, too (as I don't think they're supported by Dragonfly out of the box)?

If so, we would probably need to think about a general approach to introduce hierarchical search spaces to algorithms. It might also be that some lib

[2020-10-19 18:39] richardliaw commented on #11464
@hcch0912 thanks for posting this issue! This is a duplicate of https://github.com/ray-project/ray/issues/10612. Closing this to track implementation in one issue.

[2020-10-19 18:39] #11464 closed

[2020-10-19 18:46] utke1 commented on #11166
same problem pops up for me

[2020-10-19 19:08] richardliaw commented on #11047
I think what we should do is just raise a better error here; @krfricke will take care of this.

[2020-10-19 19:16] mvindiola1 opened #11473 "[RLLIB] remote_worker environments not being closed"
### What is the problem?
Ray version 1.0.0
Python 3.7.7
Tensorflow 2.2

I have wrapped a custom environment in an rllib MultiAgentEnv. This environment requires that I post an http request when the environment is closed in order to shut down remote resources. If this request takes too long the remote resources are never freed.

I have attached a sample script adapted from ray/rllib/examples/centra

[2020-10-19 19:35] ag-tcm commented on #11309
I'm also suffering from this "Couldn't reconnect to GCS server. The last attempted GCS server address was ..." error. In my case, I'm using hyperopt as well. In some cases the errors start at just over 500 trials out of a planned 2,500 trials. The program gets to the first 500 trials in a few minutes and then keeps running forever without completing any other trials before I have to kill it. Also

[2020-10-19 19:54] simon-mo commented on #11166
@utke1 can you try the latest wheel? @mfitton and @edoakes  just merged a large refactor of the dashboard, and this issue might be fix now!

[2020-10-19 20:57] mfitton commented on #11166
I checked this again locally to make sure it's fixed by the new dashboard release and it is! The latest nightly works, and this code will be contained in the next stable release 1.0.1.

<img width="1536" alt="Screen Shot 2020-10-19 at 4 56 34 PM" src="https://user-images.githubusercontent.com/3156716/96510832-23001100-122c-11eb-96d2-78becdff2239.png">

[2020-10-19 21:23] matthewhall210 commented on #11401
FYI this also occurs if you add '--torch' to the [RLLib Offline Datasets](https://docs.ray.io/en/master/rllib-offline.html) example

[code]

[2020-10-19 21:47] #11188 closed

[2020-10-19 21:59] utke1 commented on #11166
For me the issue is not in first tab (which worked OK) but instead in the "TUNE" tab when I set the directory it gives the json error.
I got the latest(?) wheel from https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.1.0.dev0-cp36-cp36m-manylinux1_x86_64.whl following the instructions on https://docs.ray.io/en/master/installation.html
The ```ray install-nightly``` pointed to a non-existent

[2020-10-19 22:26] ericl opened #11484 "[autoscaler] EC2 instance type resources detection only works for first 100 instances"
### What is the problem?

The AWS node provider's call to boto3.client("ec2").describe_instance_types() only returns 100 results. It seems we need to paginate through the full set of instance types, which exceeds 100: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.Client.describe_instance_types

Otherwise, instances like "m4.16xlarge" are not found in the l

[2020-10-19 22:28] wuisawesome commented on #11484
boto sucks

[2020-10-19 22:28] wuisawesome commented on #11484
Maybe we should consider a warning? That way if we're doing something wrong, the user can hard code these things in. I agree we shouldn't be silent though.

[2020-10-19 22:38] ericl commented on #11239
@waldroje I was investigating this and realized there is a high likelihood the issue is the same as https://github.com/ray-project/ray/issues/11309, which is triggered by creating and destroying many actors.

To validate this, could you try the following?
- Instead of running with ASHAScheduler, run with just a small number of QBert trials that run forever (so that no actors are destroyed during t

[2020-10-19 22:39] ericl commented on #11239
Oh forgot to mention, you can also try the ulimit workaround in that issue: https://github.com/ray-project/ray/issues/11309

[2020-10-19 22:39] ericl commented on #11309
@rkooo567 since this seems to be confirmed to be a GCS connection leak , is Kai still the right person to work on it?

[2020-10-19 22:44] ericl commented on #11484
I can't think of a valid reason why the user would want to launch with an invalid instance type, so it seems fine to me to raise an error in this case.

Note that we already try-catch around the entire resource detection block, so it would get converted to a warning that it could not autodetect for that instance type.

[2020-10-19 22:45] ericl commented on #11445
Should this be a P0? Or is that only fixing the leak issue?

[2020-10-19 23:00] #11216 closed

[2020-10-19 23:00] wuisawesome commented on #11484
Ah yeah that's right, we do try-catch the whole thing. I'm happy with that, though I betcha boto will find a way to fail still :p (i wonder what instances will be returned if your default region doesn't have an instance type...)

[2020-10-19 23:30] richardliaw commented on #10939
That sounds quite nice...

[2020-10-20 00:15] #10322 closed

[2020-10-20 00:29] simon-mo commented on #11444
Broadcasting to all worker is now a work in progress and owned by @architkulkarni!

[2020-10-20 00:49] mfitton commented on #11166
@utke1 you're right, there's something wrong with the way the dashboard is built in the wheel. I'm currently working on a solution and will have it ready before tomorrow morning. Sorry for the false alarm on the fix.

[2020-10-20 00:53] waldroje commented on #11239
I’ll run some stuff tomorrow morning and revert

[2020-10-20 01:05] rkooo567 commented on #11309
@ag-tcm Can you also show us the log of `/tmp/ray/session_latest/logs/gcs_server.err`?

[2020-10-20 01:06] rkooo567 commented on #11309
@ericl So, my understanding here is the initial error was due to a connection leak, but the following errors (https://github.com/ray-project/ray/issues/11309#issuecomment-710726509) are just due to Tune?

[2020-10-20 01:07] ericl commented on #11309
I'm not sure any errors after the initial one make sense to look into--- once we run out of file descriptors, anything could happen.

[2020-10-20 01:08] rkooo567 commented on #11445
It only fixes the leak issue. Btw, @ffbin is working on 3 (He will do what we are doing for raylet's debug_state.txt for gcs server to detect leaks).

[2020-10-20 01:18] ericl commented on #11445
Ok. I will be working on fixing the leak.

[2020-10-20 01:49] ffbin commented on #11467
Yeah, we will add the remove Java API.

[2020-10-20 01:54] AmeerHajAli opened #11489 "[C++ API] Code generation for task/actor API to support multiple arguments."
- Support up to 6 (in java its 6) with type safety
- More than that will be not type safe

[2020-10-20 01:57] AmeerHajAli opened #11490 "[C++ API] Complete the missing arguments in ray.init(..)"
Currently, we support a fraction of the arguments under RayConfig class (`ray/api/ray_config.h`):
[code]

We should support the remaining arguments.
We should start with min_workers/max_workers at least.
This should also support adding a ray address for example so that we do not start a new head node every time (because we should be able to hook up to an existing one).

[2020-10-20 01:58] ankur6ue commented on #9474
This issue is still not resolved in the latest version of the code..

[2020-10-20 02:01] rkooo567 commented on #9474
Did you try ray memory --redis-password=""? Can you explain more about how it is not resolved and how to reproduce the issue?

[2020-10-20 03:44] kfstorm commented on #11437
@rkooo567 I see your point. In your solution, I think we also need some additional fields to track the relationship between a task/actor created by a detached actor and the worker process being registered, and we also need to handle the situation that a task arrives before the parent actor's state notification is received by Raylet. To me, it's not a quick fix.

I'll go ahead with Stephanie's sugg

[2020-10-20 03:52] rkooo567 commented on #11437
I see. But that means this issue

Is not covered in this case right? I might be missing something, but is Stephanie's solution covering this case?

I rather prefer to turn off the feature flag than making it slightly buggy to fix the issue quickly.

[2020-10-20 04:01] rkooo567 commented on #11432
Hmm I see... Do we have many tests that requires Function A - > Function B -> Callback scenario?

[2020-10-20 07:02] kfstorm commented on #11437
@rkooo567 You're not missing anything. Let's discuss the drawback of this solution in #11493.

[2020-10-20 07:10] rkooo567 opened #11494 "[Dashboard] Memory dashboard showing the wrong information."
### What is the problem?

<img width="522" alt="Screen Shot 2020-10-20 at 12 08 33 AM" src="https://user-images.githubusercontent.com/18510752/96552332-77c17d00-1268-11eb-9729-973a83da08b5.png">
<img width="625" alt="Screen Shot 2020-10-20 at 12 08 30 AM" src="https://user-images.githubusercontent.com/18510752/96552341-798b4080-1268-11eb-8e27-2706740c55fe.png">

The total memory in the memory dash

[2020-10-20 07:13] rkooo567 commented on #11494
Ah, it definitely seems to be the behavior of object spilling. It seems like objects that are evicted are still reported by the dashboard.

[2020-10-20 07:33] rkooo567 opened #11495 "[Object Spilling] IO Workers don't seem to be fully utilized."
### What is the problem?

While developing https://github.com/ray-project/ray/pull/11379, I found out the performance was really slow sometimes, and found out only 2 IO workers were utilized although I specified 10 IO workers.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or m

[2020-10-20 07:38] rkooo567 opened #11496 "[Object Spilling] Raylet should be more resilient to IO worker failures."
### What is the problem?

Currently, if IO worker dies unexpectedly, raylet receives SIGSEGV. This shouldn't happen.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my s

[2020-10-20 11:58] TanjaBayer commented on #11426
Not completly sure if it is connected to the inital question. But I came across this issue when looking for how to use logging module with ray and I needed to use it like this to actually see the ouputs wit

[code]

When trying to set logging config by a dict, it is not working at all, so when trying the following code I get no output at all
[code]

[2020-10-20 12:26] ffbin commented on #11432
This is mainly because it is different from the normal function execution process, so the significance of UT will become smaller.

[2020-10-20 12:48] HristoBuyukliev opened #11499 "[tune] PBT continues training a sample indefinitely"
I want to train a model with PopulationBasedTraining. More specifically, I want to train 8 samples for 40 epochs. However, when I do that, 7 of them are trained for 20-30 epochs, and the last one keeps training indefinitely (it's currently on epoch 340).

Below I've pasted the relevant piece of code.

### Reproduction (REQUIRED)
    class PBT(Trainable):
        def setup(self, config):

[2020-10-20 13:58] utke1 commented on #11166
Do you want to reopen this then or is there a different issue that I should watch for a solution to this problem?

[2020-10-20 15:55] krfricke commented on #11434
Hi @gregoruar - first thank you for raising this issue and for the exhaustive reproduction script!

The error is due to passing a tune search space directly to `HyperOptSearch` - until now we only allowed automatic conversion of tune search space when passed as the `tune.run(config)` parameter.

So with

[code]

it should work (or run into the next error, which is that HyperOpt does not support lo

[2020-10-20 15:58] krfricke commented on #11341
This is also a follow-up to https://github.com/ray-project/ray/issues/11216#issuecomment-710553677 and replaces #11469.

[2020-10-20 15:58] krfricke commented on #11469
Closed as duplicate of #11341

[2020-10-20 15:58] #11469 closed

[2020-10-20 16:10] krfricke commented on #11047
Hi @Karol-G, thanks for raising the issue.

`tune.with_parameters()` only works with the [function API](https://docs.ray.io/en/master/tune/api_docs/trainable.html#function-api). I would suggest to take a look if you could convert your trainable to a function trainable. Please note that we recommend the function API over the older class API.

Let me know if you need any help with that.

[2020-10-20 16:34] #11289 closed

[2020-10-20 17:11] richardliaw commented on #11499
What's the value of `training_iteration: num_epochs`?

Do you have any output/csv of the last trained model too?

[2020-10-20 17:17] richardliaw opened #11506 "[autoscaler] Support AWS Fleet Mode"
### Describe your feature request

from @markgoodhead:

Have you guys considered a version of the autoscaler that instead uses the EC2 Autoscaling? Some of the features there are kind of redundant/managed by the autoscaler right now but the killer feature I'm thinking of right now would be the ability to dynamically select different instance types based on availability / capacity. We're currently

[2020-10-20 17:33] HristoBuyukliev commented on #11499
@richard4912 num_epochs is 40. I deleted the folder, as I needed to clear some space, but the results looked the same as the regular output, only longer. Do you have anything specific you are looking for? I might run the experiment again and check the csv for you.

I found a workaround, where I set synch=True, as argument to PBT, which enforces models to be trained to the same epoch. Still, I'd ve

[2020-10-20 17:41] #11444 closed

[2020-10-20 18:30] richardliaw commented on #10918
cc @zhisbug

[2020-10-20 18:31] richardliaw commented on #10919
cc @zhisbug

[2020-10-20 18:41] sumanthratna commented on #8877
ray projects aren't a thing anymore (slack dm: https://ray-distributed.slack.com/archives/D01414RHGK1/p1603219032001200)

[2020-10-20 18:41] #8877 closed

[2020-10-20 19:07] ag-tcm commented on #11309
@rkooo567 I re-ran another job since the error and that gcs_server.err file has been overwritten. I'll post that log when it happens again though.

[2020-10-20 19:33] richardliaw commented on #11499
@HristoBuyukliev that's good to hear.

Hmm, I'm mainly trying to understand why:
[code]
isn't triggering the stopping correctly. I figured there might be something in the output or logs that would help me!

[2020-10-20 20:24] richardliaw opened #11509 "ray status should support `--address`"
### Describe your feature request

See #11252 for discussion.

[2020-10-20 20:26] edoakes commented on #11509
@richardliaw I think you mean 'ray stop'? We should probably just make sure that we have this for all relevant CLI commands.

[2020-10-20 20:33] ericl commented on #11309
I've managed to reproduce the error with this simplified script: https://gist.github.com/ericl/73dfd011a5c592e65bae66e6fab52052

with `ulimit -n 2000`

0.8.5 -> works
0.8.6 -> works
0.8.7 -> fails
1.0 -> fails

So it's pretty clearly tied to GCS actor manager on by default. Looking into how to fix next.

[2020-10-20 20:49] richardliaw commented on #11509
good catch! yeah we should have more consistency among cli commands.

[2020-10-20 22:11] rkooo567 commented on #11495
cc @ericl I will solve this issue before working on combining small objects into a big object.

[2020-10-20 23:03] #11047 closed

[2020-10-20 23:04] amogkam opened #11511 "[RaySGD] Add Builtin Logger Support"
### Describe your feature request
It would be great to add a built in loggers for libraries like W&B and Tensorboard to standalone RaySGD, similar to the ones with Tune. The user should be able to simply specify the logger(s) they want to use in `TorchTrainer`, and then call something like `self.log(...)` inside the `TrainingOperator` to log to all the specified loggers. Internally RaySGD should m

[2020-10-20 23:29] wuisawesome commented on #10872
@ericl @AmeerHajAli thinking about this now, we need a way of turning this off if it goes badly. We should probably hide the `monitor.py` stuff behind an environment variable for at least 1-2 stable releases just in case.

[2020-10-20 23:43] wallneradam commented on #11468
I could workaround the problem by placing `strict=False` arg to `load_state_dict` in `simple_q_torch_policy.py`. It is currently at line 34.

[2020-10-21 01:12] ericl commented on #11239
@soundway @waldroje after experimenting with 1.0 vs 0.8.5 more, I think the main difference is we use 2-3x more file descriptors due to the change in the way actors are managed with the GCS service--- it's not really a leak. I'll put more details in the linked bug.

I believe that increasing the file descriptor limit (`ulimit -n` value) will resolve the problem, can you try increasing the limit to

[2020-10-21 01:17] ericl commented on #11309
After more investigation, I don't believe this is really a leak of gRPC clients (I added constructor/destructor logging hooks and the number of gRPC clients remains bounded, and we seem to be cleaning up properly in all cases).

I believe that what's going on is there are a large number of connections stuck closing in TIME_WAIT state: https://github.com/grpc/grpc/issues/3855 This means that after

[2020-10-21 01:35] rkooo567 commented on #9786
This must be somewhat possible now with `runtime_context` API. I will document this method in 1.0.1.

[2020-10-21 02:08] forbxy opened #11513 "`ray stop` is dangerous"
ray stop will kill all process which name contain 'redis-server'.It's dangerours

[2020-10-21 03:40] richardliaw commented on #11309
@demattia if you are on the latest master release, you can also use `tune.run(reuse_actors=True)` to avoid this issue.

[2020-10-21 04:44] waldroje commented on #11239
I upped my file descriptors to ~16k… but still crashing, but getting more specific error now.. not something I’ve seen before..

Ray worker pid: 24628
WARNING:tensorflow:From /home/svc-tai-dev/virt/algo_37/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:1666: calling BaseResourceVariabl
e.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is depr

[2020-10-21 05:02] clay4444 opened #11514 "get_worker_table method bug in global_state_accessor"
### What is the problem?
1. The method `get_worker_table` in `global_state_accessor.pxi` is wrong, variable `result` is always null

[2020-10-21 05:08] ericl commented on #11309
Btw, I've also observed Tune getting pretty slow with a large number of finished trials (>2000). I guess this is a separate bug, please open another issue for it to track.

[2020-10-21 05:16] ericl commented on #11445
FYI @ffbin I don't think there is actually a leak here, rather an unfortunate issue that sockets "stick around" for a couple minutes after the connection is removed. See https://github.com/ray-project/ray/issues/11309#issuecomment-713230281 for more context.

This suggests that we should try to avoid making multiple connections to the same worker if possible, since a closed connection will still o

[2020-10-21 05:20] rkooo567 commented on #11513
Please add more description to the issue.

[2020-10-21 06:28] richardliaw commented on #11309
yep, the tune slowdown is tracked https://github.com/ray-project/ray/issues/11233

[2020-10-21 07:08] rkooo567 opened #11520 "[Core] Raylet can schedule tasks from a dead driver."
### What is the problem?

Imagine the situation;
1. Driver in node A sends a task schedule request R to node B.
2. Driver right after instantly.
3. node B receives GCS notification before R is sent to node B (due to some network delay or something).

This means the task submitted by a dead driver can be scheduled on node B. I don't know what will happen after this (maybe some unexpected behavior).

[2020-10-21 07:28] Liu-SD opened #11521 "[rllib] tuned_examples/dreamer not work: No module named 'ray.rllib.models.torch.modules.reshape'"
python: 3.7.7
pytorch: 1.6.0
ray: 1.1.0dev0
I used the setup-dev.py script to link master to ray binary installation.

when I run
`rllib train -f dreamer-deepmind-control.yaml`
error occurs as follow:

Traceback (most recent call last):
  File "/home/liu/miniconda3/envs/pt/lib/python3.7/site-packages/ray/tune/trial_runner.py", line 726, in _process_trial
    result = self.trial_executor.fetch_resu

[2020-10-21 08:12] UWFrankGu opened #11522 "[tune] Add HDFS as Cloud Sync Client"
### Describe your feature request
RayTune currently support syncing ray training results to S3 and GS buckets. Tune should also be able to sync with the popular HDFS storage solution.

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-10-21 08:14] soundway commented on #11239
@ericl I did some tests and I have some doubt that this is the root cause for our problem for several reasons. Though there might be alternative reasons for my observations.

The ulimit for file descriptor per process for our system is already at 65K according to `ulimit -a` (and both hard/soft limit are the same at 65K). Unfortunately, I couldn't make this any higher due to our infra setup, but t

[2020-10-21 08:21] richardliaw opened #11523 "[tune] Reenable skipped/commented tests"
### Describe your feature request

 - [ ] tune-sklearn
 - [ ] Ax tests?
 - [ ] test_cluster_simple
 - [ ] Pytorch-lightning tests

cc @ray-project/ray-tune

[2020-10-21 08:47] madScientist10 commented on #11454
I am having a similar issue. Does anyone have a workaround for this issue?

[2020-10-21 09:44] liuyuecheng-github commented on #11359
I have realized this by my self.

[2020-10-21 09:44] #11359 closed

[2020-10-21 10:20] Karol-G commented on #11047
Thanks for the reply. I managed to convert the trainable class to a trainable function. It works fine now 👍

[2020-10-21 10:55] demattia commented on #11309
Thanks @ericl and everyone for your help. The ulimit increase indeed seems to solve the issue for now. @richardliaw I will try the reuse_actors=True at the next chance, thanks for the suggestion. I will follow the slowdown on #11233 as that is the next bottleneck.

[2020-10-21 10:56] noprohuangqi commented on #8325
May be you can find something int this #[issue](https://github.com/ray-project/ray/issues/10890)

[2020-10-21 11:21] GTimothee opened #11525 "ray tune is re-downloading cifar10 dataset all the time"
Hi,

I am trying to make ray tune work to train a pytorch model (resnet18 from torchvision, pretrained).

I do not understand why ray tune re-downloads the cifar10 dataset (as tar.gz) every time I am trying to launch an hyperparameter tuning. Is there any flag I missed to disable that behavior? I am running ray tune on a single machine by the way.

Also, I find it a bit non practical to have to "c

[2020-10-21 11:24] GTimothee commented on #11525
to be continued in discussion...

[2020-10-21 11:24] #11525 closed

[2020-10-21 14:54] nosugerhcc opened #11528 "[rllib]MADDPG in two_steo_game.py cannot run"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
    python=3.7 tensorflow=2.0.0 window10
### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your

[2020-10-21 16:29] dHannasch opened #11530 "ray.init(address='auto') crashes without pytest"
### What is the problem?

Ray is successfully started on the head with
[code]
on on another node with
[code]
When `ray.init(address='auto')` is run on that second node, the terminal is immediately hit with an avalanche of
[code]
The messages `WARNING worker.py:1091 -- The agent on node XYZ failed with the following error:` are shown for both nodes (both the Red Hat and the Ubuntu), so this is happ

[2020-10-21 17:45] #11437 closed

[2020-10-21 17:58] ericl commented on #11239
Thanks for the investigations @soundway. It does indeed sound like a separate issue.

I'm trying to think of how to best reproduce this. Based on what you said, it sounds like it's potentially something triggered by the characteristics of a custom environment, and potentially TensorFlow related. To help me isolate the cause and hopefully get a fast repro, could you try the following?
1. Mock out t

[2020-10-21 18:08] soundway commented on #11239
For (1) I have tried something like that (with varying obs size, model size, environment memory occupancy), but unfortunately it still takes roughly the same amount of time to crash, and I could not get it to crash within minutes. Though I haven't done this too rigorously and I can revisit this.

I haven't tried running long jobs in the cloud with just one instance yet in the but I can try that.

[2020-10-21 18:14] ericl commented on #11239
I see, minutes would be ideal but even a couple hours isn't too bad. 40 hours is a bit hard to deal with though :/

[2020-10-21 18:31] dHannasch opened #11535 "ray.init(address='auto') crashes *with* pytest"
### What is the problem?
Ray is successfully started on the head with
[code]
on on another node with
[code]
When `ray.init(address='auto')` is run on that second node, if https://github.com/ray-project/ray/issues/11530 has been resolved, the terminal is immediately hit with an avalanche of
[code]
If *that* is fixed (or "fixed", see below), the same thing happens with `ModuleNotFoundError: No modul

[2020-10-21 18:46] richardliaw commented on #11535
Hmm, thanks a bunch for opening these issues. Adding __init__.py to ray.new_dashboard.tests to capture conftest sounds good.

I'm not so sure about adding __init__.py to ray.tests, can you post the stacktrace for that module error?

Also, both this and #11530 seem to be dependency problems introduced by the new_dashboard code.

cc @mfitton

[2020-10-21 18:46] #11292 closed

[2020-10-21 18:56] dHannasch commented on #11535
E.g.
[code]

Like the other two, this error appears for each node including the head node, and repeats until `ray stop`.

[2020-10-21 19:18] dHannasch commented on #11535
Ah, I see that https://github.com/ray-project/ray/pull/11510/files already has `dashboard/tests/__init__.py`.

Well, `python/ray/tests/__init__.py` is in https://github.com/ray-project/ray/pull/11536 if you want it in view of that stacktrace. (Not sure what you were looking for in that stacktrace, so I'm not sure what conclusion you'll draw from it.)

[2020-10-21 19:46] #11203 closed

[2020-10-21 20:31] dfaligertwood opened #11537 "Tips for First Time Users suggests passing object IDs out of band"
Tip 3 in doc/examples/tips-for-first-time.rst gives this example:

[code]

which suggests (to me...) that the following would work:
[code]

Which it doesn't. Per #9578, this is because out of band passing of object IDs is not supported. Should the documentation be updated to reflect this by pickling the passed object (also not formally supported per #9578) or should it be rewritten?

[2020-10-21 20:34] rkooo567 commented on #11537
When an object id is passed to the remote function / actors, they are translated automatically to values, so ray.get will just cause type errors. I am not sure if that issue is related to this.

[2020-10-21 20:43] dfaligertwood commented on #11537
Yeah you're right, I'm clearly not awake 👍

I'll put in a PR to just add pickling to that example then, because otherwise that example is a bit misleading.

[2020-10-21 21:29] #11309 closed

[2020-10-21 21:42] richardliaw opened #11540 "[tune] tutorial should indicate specific library version that we've tested against."
### What is the problem?

Since some frameworks are rapidly evolving, we should always indicate which expected version to use.

cc @krfricke

[2020-10-21 22:19] caesar025 commented on #7645
I am also still having this issue, despite the pip install. Any ideas on how to fix?

[2020-10-21 23:21] richardliaw commented on #11537
Hmm, actually I think this is a feature, not a bug. Perhaps instead we should document this really clearly:

[code]

[2020-10-22 01:30] #11362 closed

[2020-10-22 01:43] #11521 closed

[2020-10-22 04:03] fahadh4ilyas opened #11544 "[core] Named Actor fault tolerance - faulty retry"
### What is the problem?

I was running ray in Kubernetes cluster with config like in `ray/doc/kubernetes/ray-cluster.yaml` with some change in container command. I added command to create named actors inside the container. I named the actor based on the IP of the pod where the actor was running. Everything was running smoothly until after all the actor was initiated, I tried to remove one of the

[2020-10-22 04:05] richardliaw commented on #11544
cc @rkooo567 @stephanie-wang

[2020-10-22 04:10] rkooo567 commented on #11544
What version of ray are you using?

[2020-10-22 04:14] fahadh4ilyas commented on #11544
@rkooo567 I'm using wheels from [here](https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.1.0.dev0-cp36-cp36m-manylinux1_x86_64.whl "ray nightly")

[2020-10-22 05:14] #11430 closed

[2020-10-22 05:17] yiranwang52 opened #11545 "[RFC][k8s][autoscaler] Redesign Ray operator for k8s"
Current Ray operator was deprecated since it wasn't maintained, and fell behind in terms of scaling features. Users are encouraged to use k8s autoscaler/cluster launcher but that option requires Ray to be installed locally and extra permission for head node (See #10293 for details).

We are proposing a few new Ray operator designs to address these problems and improve deployment UX of Ray on k8s.

[2020-10-22 05:50] rkooo567 commented on #11544
@fahadh4ilyas One suspicion I have is that it takes some time to be clean the detached actors' name, and your node was up earlier. Can you add this code block and see if the error still exists?

[code]

[2020-10-22 06:40] fahadh4ilyas commented on #11544
@rkooo567 It's working but I'm still confused why Ray rename my old actor from `<my_old_ip>-<index>` to `<new_ip>-<index>`?

[2020-10-22 06:44] rkooo567 commented on #8550
@ericl Bump up the priority of this task as multi tenancy is turned on by default.

[2020-10-22 06:52] rkooo567 commented on #11537
@richardliaw I think his point is that the explanation for that example demonstrates how to "not copy the object" to the workers when passing an object ref created by `ray.put`. But the actual example needs to do copy (unless it is zero-copy-read).

[2020-10-22 06:54] rkooo567 commented on #11544
Hmm I see your point. Can you print the logs from `/tmp/ray/session_latest/logs/gcs_server.out`?

[2020-10-22 07:08] richardliaw commented on #11537
Sorry, I don't understand.

Tip 3 is "Avoid passing same object repeatedly to remote tasks". The given example for this tip *as-is* demonstrates that you can do 1 copy-into-object-store step for N tasks, instead of N copy-into-object-store steps for N tasks.

[2020-10-22 07:16] rkooo567 commented on #11537
Ah, my bad. You are definitely right.

[2020-10-22 07:38] forbxy commented on #11513
`ray stop` will kill all process which name contain 'redis-server'.It's dangerours

[2020-10-22 08:43] richardliaw opened #11547 "[cloudpickle] Too much override for cloudpickle, breaks scikit-learn usage"
### What is the problem?

[code]

Introduces:

[code]

This is because it uses `Joblib`, a library for parallel computation. Joblib is for multiprocessing, so has a IPC where they use cloudpickle on the client side to transfer data to child processes. I think these clients access some ray cloudpickle attributes on accident, causing deserialization to break down.

Can we avoid the ray cloudpickle p

[2020-10-22 08:58] zzchuman opened #11549 "[rllib] PPO with Shared Critic Methods, Fully Independent Learning, Parameter Sharing, and Transformers"
Hello, Can U teach me that PPO can be combined with Shared Critic Methods/Fully Independent Learning/Parameter Sharing?
And I find these three methods Depends on bootstrapped algorithm. I do  not know the meaning.

And Can I combined with transformer and Shared Critic Methods?

@sven1977
@ericl

[2020-10-22 09:36] iamhatesz commented on #10175
@lasagnaphil I've just retested and I can confirm that with today's latest wheels the script works. Thanks!

[2020-10-22 09:37] PidgeyBE opened #11551 "[autoscaler] Too many workers are scaled in kubernetes"
## What is the problem?
* ray = 1.0.0
* autoscaling on k8s

When autoscaling in kubernetes, it happens sometimes (almost 50% in my case) that instead of 1 worker, 2 workers are scaled up.

### Reproduction (REQUIRED)
* Have a ray autoscale cluster on kubernetes
* Deploy an actor that requires new worker resources
* Ray autoscale will start an extra worker
* When the first worker is (almost) ready,

[2020-10-22 10:15] hifazibm opened #11553 "RLlib Trainer Reset Agent State"
Adding reset method for RLlib trainers like DQNTrainer to reset the agent state instead of re-initializing the trainer. Currently trainers only support reset(new_config) to update to new config. Proposed reset() method would be useful for experiment with multiple trials ... for example to compare runs in a loop on env with different random seeds , at the beginning of run trainer.reset_state() woul

[2020-10-22 11:06] krfricke opened #11554 "[core] importing ray slows down pandas, xgboost, possibly other libraries"
### What is the problem?

`pandas.read_parquet()` is very fast even for larger files. For [this file from the NYC taxi dataset](https://ursa-labs-taxi-data.s3.us-east-2.amazonaws.com/2009/01/data.parquet), loading takes around 0.5 seconds. However, if ray is imported before, even when it is not used, the time to read bumps up the 1.5 seconds.

Something seems to interfere with pandas - I couldn't

[2020-10-22 11:40] krfricke commented on #11554
This seems to be a one-off overhead, however. Loading the data 10 times:

[code]

Without ray:
[code]

With ray:
[code]

[2020-10-22 11:59] krfricke commented on #11554
Follow-up: It also impacts training using XGBoost:

[code]

[code]

With `import ray`:

[code]

[code]

Note that ray is not initialized. Only the package is imported. No ray code is used at all.

[2020-10-22 12:09] krfricke commented on #11554
Here are some profiling results for the parquet loading.

Without ray:
[code]

With ray:

[code]

[2020-10-22 12:12] jsanjay63 commented on #11545
Not sure if I understand correctly or missing anything. As per this doc: https://docs.ray.io/en/latest/cluster/kubernetes.html we just need kubectl and config yaml files, we may not necessarily require Ray to be installed locally.

[2020-10-22 13:34] GTimothee opened #11556 "There may be an error in the doc"
Hi,

I was reading this page: https://docs.ray.io/en/master/configure.html#logging-and-debugging

When they suggested me to "Specify temp_dir when call ray.init()".

I tried it and I realized that there is not any temp_dir argument in ray.init, consistently with https://docs.ray.io/en/ray-0.3.0/api.html?highlight=ray%20init#ray.init Has this feature been removed or I am just missing something ?

[2020-10-22 14:10] GTimothee commented on #8552
I had the same problem and I solved it by changing the way I import modules in my script. I hope this tip can be of any help to someone.

[2020-10-22 15:04] sumanthratna commented on #11556
Hmm...in 0.8.7, `temp_dir` was a valid kwarg for `ray.init` but in 1.0 it was changed to `_temp_dir`. I think we should change that tip to "Specify _temp_dir when call ray.init()"

[2020-10-22 15:59] tgaddair opened #11558 "Dask on Ray: persisting a series with Ray scheduler raises error"
### What is the problem?

Calling `series.persist(scheduler=ray_dask_get)` on a Dask series raises:

[code]

Performing the same operation using the default scheduler works fine.

### Reproduction (REQUIRED)

[code]

- [X] I have verified my script runs in a clean environment and reproduces the issue.
- [X] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/lates

[2020-10-22 16:27] fshriver commented on #11201
Going to go ahead and close this, as the issues are stale and have been resolved (user error).

[2020-10-22 16:27] #11201 closed

[2020-10-22 16:46] dfaligertwood commented on #11537
Yep, now I've come back to this it was clearly a misunderstanding on my part. A comment to note that when you pass object_ids to remote functions they are resolved back to the object would be helpful, b/c it feels a bit unexpected (to me at least) that type changes can occur at that point.

[2020-10-22 16:49] rkooo567 commented on #11554
Cc @ericl we should probably handle this asap? Looks like pyarrow related

[2020-10-22 16:49] rkooo567 commented on #11551
Cc @wuisawesome probably should handle asap

[2020-10-22 16:50] rkooo567 commented on #11558
Cc @clarkzinzow

[2020-10-22 17:02] wuisawesome commented on #11551
Cc @AmeerHajAli @ericl

I'll look into this, but feel free to steal it if you have the bandwidth

[2020-10-22 17:30] fshriver opened #11559 "[Tune]Ray Tune cannot use GPU after first iteration"
### What is the problem?

When running Ray Tune to try and optimize some hyperparameter, it's apparently able to train for one iteration (one set of epochs) using TensorFlow however appears to choke up on subsequent iterations. The following is an example of the logs that Ray/TensorFlow generate, from start to finish, from the example script (also below) that reproduces the issue:

[code]

As you

[2020-10-22 17:57] ericl commented on #11554
Maybe because we set omp num threads environment variable to 1?

[2020-10-22 18:01] krfricke commented on #11554
Yeah, I just checked that - that seems to be the case.

[code]

solves the problem

[2020-10-22 18:03] krfricke commented on #11554
And it seems to be documented, too. It would be nice to include a note for this specifically with regard to numerical libraries in the docs, but I'm closing the issue for now.

[2020-10-22 18:03] #11554 closed

[2020-10-22 18:09] edoakes commented on #11551
@wuisawesome I vaguely remember seeing this in the past. IIRC the issue is that the autoscaler has no notion of "pending" nodes, so while the node is pending in k8s (which can take awhile), it continues to add more nodes because resource utilization is still high.

[2020-10-22 18:19] XuandongZhao commented on #7645
Still have the same error after installing dm-tree. And my python version is python3.8.

[2020-10-22 18:22] ericl commented on #11551
What's weird is that the autoscaler is reporting it has 1/1 target nodes, but 2 nodes connected. There seems to be a connected node that is not managed by the autoscaler, which leads to an off-by-one error.

@wuisawesome is this related to that issue you had with an unmanaged node being counted as a node?

@edoakes I do see `2020-10-20 09:30:33,392	INFO autoscaler.py:542 -- Cluster status: 1/2 tar

[2020-10-22 18:23] ericl commented on #11554
We used to log a warning, but removed it due to verbosity concerns :/ Not
sure of a great solution here since not setting it inevitably leads to
crashes and poor performance in the distributed setting.

On Thu, Oct 22, 2020, 11:04 AM Kai Fricke <notifications@github.com> wrote:

[2020-10-22 18:25] edoakes commented on #11551
huh, ok, that's actually sort of promising because it indicates that there's just some off-by-one or similar bug somewhere instead of a more intrinsic problem. @ericl does this mean you were able to easily reproduce the issue?

[2020-10-22 18:28] richardliaw commented on #11554
What if we set omp_num_threads only on the actor? i.e., ray.remote(num_cpus=10) => OMP_NUM_THREADS on actor is 10.

[2020-10-22 18:37] PidgeyBE commented on #11551
Indeed, I think there is notion of pending nodes in k8s autoscaler.
e.g. If I do
[code]
It does not influence the problem (doesnt make it better or worse) ...

I'm not sure about the off-by-one thing...
It starts with `0/0`, at this time the unmanaged node is already present and not counted.
Then, when deploying the Actor, it goes to `0/1`.
After some time, the status becomes `1/1` but the added G

[2020-10-22 18:43] richardliaw commented on #11537
Great, good to reach consensus! @dfaligertwood maybe you can update your PR to include the above comments and also become a ray contributor :D ?

[2020-10-22 19:01] clarkzinzow commented on #11558
@tgaddair I think I know where this is happening, but is there any chance that you have a full traceback available?

[2020-10-22 19:07] tgaddair commented on #11558
Here you go:

[code]

[2020-10-22 19:10] ericl commented on #11551
@edoakes I was just reading the logs above.

It's possible this PR fixes the issue: https://github.com/ray-project/ray/pull/11458 (it should be available in nightly wheels by now)

[2020-10-22 19:13] ericl commented on #11554
One issue is you have to set OMP_NUM_THREADS quite early (before import of other libraries) for it to take effect. It might be possible to delay it until a concrete task is run with resources. That still leaves the question of what to do for the driver though (which doesn't have resource specs). Users have complained before about the driver env being different from actor/task envs, which results i

[2020-10-22 19:32] clarkzinzow commented on #11558
Awesome, thanks!

[2020-10-22 19:35] krfricke commented on #11554
So the problem that I have is that I need to (un)set it within a library and then also in the remote workers (I suppose, at least I had to do that to make it work). This is because actual training via xgboost takes place in a remote ray actor. It's fine with me for the time being but feels a bit hacky.

[2020-10-22 21:08] #11530 closed

[2020-10-22 21:11] edoakes commented on #11168
@wuisawesome please remove triage label for these one issues you're using for work-tracking

[2020-10-22 21:12] wuisawesome commented on #11168
whoops sorry, there's probably a bunch of these i need to change

[2020-10-22 21:12] #11522 closed

[2020-10-22 21:18] richardliaw commented on #11535
Should be fixed on the latest nightly (by revert).

[2020-10-22 21:18] #11535 closed

[2020-10-22 21:22] richardliaw commented on #11426
@TanjaBayer this is addressed right? Perhaps we should fix up some documentation about using logging with Ray.

cc @rkooo567

[2020-10-22 21:22] #11426 closed

[2020-10-22 21:24] #11556 closed

[2020-10-23 02:05] richardliaw commented on #9028
@piggybox can you open a new issue for this?

[2020-10-23 04:18] waldroje commented on #11239
I tried various configurations today, and I increased my soft/hard ulimit -n to ~63k on head & workers…

Probably the only thing I can say is that for the most part, the same Trial, using fairly limited resources, 32 workers… ran fine on a small cluster, roughly 32-150 cpus… but as the number nodes increased the Trial would begin breaking, mostly right after starting, prior to completing a complet

[2020-10-23 05:25] richardliaw opened #11564 "[tune] Provide an example of using Dask on Ray with Tune"
### Describe your feature request

In Ludwig, different hyperparam configs can result in different preprocessing, so we may want to run Dask on Ray within a Ray Tune job.

We should provide a simple example (training xgboost on dask-on-ray) in Tune so that this is easy to do in the future.

cc @tgaddair

[2020-10-23 05:29] richardliaw opened #11565 "[dask] Object store fills up too quickly in simple processing script"
### What is the problem?
We get an OOM though the working set is much smaller than expected.

[code]

### Reproduction (REQUIRED)

[code]

Using: the netflix dataset: https://www.kaggle.com/netflix-inc/netflix-prize-data

cc @tgaddair

[2020-10-23 05:31] richardliaw commented on #11565
cc @clarkzinzow

[2020-10-23 05:33] richardliaw opened #11566 "[dask] Parquet write fails if directory does not exist in advance"
### What is the problem?

In dumping the dask df to parquet, the write fails if the provided directory does not exist in advance.

### Reproduction (REQUIRED)

[code]

Using: the netflix dataset: https://www.kaggle.com/netflix-inc/netflix-prize-data

cc @tgaddair

[2020-10-23 05:51] richardliaw commented on #11559
@fshriver hmm sorry to hear about your setup. Thanks for putting together such a detailed report. Can you enable verbose output from tensorflow and run this again? Also, what if you simply try using 1 GPU per trial instead of 6?

[2020-10-23 06:23] ericl commented on #11239
@stephanie-wang Looking through the above posted logs more carefully, there are a couple things that look odd to me:

1. We seem to be attempting to reconstruct objects, but for RLlib all objects are either ray.put or actor returns. Shouldn't this code path never be triggered?

2. I'm wondering if the assert here may be incorrect due to race conditions, triggered by GCS actor management. Maybe we

[2020-10-23 06:40] soundway commented on #11239
@ericl For 1., in our custom training/environment, we have some code in the training loop that dispatches remote calls and fetches the results via `ray.get`. Removing that code will still lead to crashes (but keeping it does seem to make it fail faster in general). The version of the log I provided I believe was using code that included the customization.

The Qbert reproduction script doesn't con

[2020-10-23 06:53] ericl commented on #11239
Ok, it could be the reconstruction is just a symptom of the node failure
initially caused by the check failure.

On Thu, Oct 22, 2020, 11:41 PM soundway <notifications@github.com> wrote:

[2020-10-23 07:14] fahadh4ilyas commented on #11544
@rkooo567 sorry for the late respond. here is the link to the pastebin of [gcs_server.out](https://pastebin.com/mFEspzBn "gcs_server.out pastebin")

[2020-10-23 09:05] lgerrets opened #11568 "[rllib] Missing ioctx for JsonReader in MixedInput"
@ericl This follows our discussion on Slack.

Currently, if `config["input"]` is
- eg. `"*.json"`, then `ioctx` is given to the constructor for `JsonReader`
- a `dict`, then `ioctx=None` in the constructor for `JsonReader`, which later **causes `config["postprocess_inputs"]` to be ignored**.

The fix is simple: in mixed_input.py, change to `JsonReader(k, ioctx)`.

[2020-10-23 11:26] claudiusalp commented on #8469
I have also the same issue. I have tried to decrease buffer size, but the memory is still growing. Can you please suggest a solution if you solve this problem?

[2020-10-23 12:39] young-chao commented on #11528
I also encountered the same problem.

[2020-10-23 14:01] andrewredd opened #11571 "[tune] Pytorch Lightning MIST Example Not Working Due to Validation End MisMatch"
### What is the problem?

Python 3.6.5
Pytorch-lightning 1.0.2
torch 1.6

### Reproduction (REQUIRED)
I ran https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/mnist_pytorch_lightning.py in the environment above.

I get the error

[code]

Is this something related to the versions of the package? I couldn't find anything related to under what versions this code works.

Thanks!

[2020-10-23 14:38] fshriver commented on #11559
Sure, I've attached the output of the program with verbose = 1 as a text file [here](https://github.com/ray-project/ray/files/5430075/example_tf_verbose_1.txt). As you can see, it's actually able to see and use the GPUs successfully for the first iteration... it looks like after that is where the issue starts. Perhaps some sort of lock on the resources that the underlying system/Ray don't like? I'

[2020-10-23 15:43] amogkam commented on #11571
Hi @andrewredd, this should be fixed in the latest Ray wheels. Can you upgrade to the latest Ray wheels (https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies) and try again?

[2020-10-23 16:00] andrewredd commented on #11571
@amogkam That got past the previous error but on one of the iterations I got the following

[code]

This is the same environment as above and ran for a period of time before having issues. (i.e. it was on the second iteration of population based tuning)

[2020-10-23 16:12] amogkam commented on #11571
Oh that's a good catch. Can you try replacing `lambda: tune.loguniform(1e-4, 1e-1).func(None)` with just `tune.loguniform(1e-4, 1e-1)`.

cc @krfricke

[2020-10-23 16:24] tgaddair commented on #11565
Thanks for raising this issue @richardliaw.

For more context @clarkzinzow, I'm finding that even with a dataset 1/12 the size (157M), this error is occurring when attempting to write to Parquet (but not, interestingly, when calling `compute()` with the Ray scheduler).  So it appears to be something related to the serialization / parquet writing procedure.

Let me know if you need more info from m

[2020-10-23 16:31] mfitton commented on #11457
@Vysybyl I believe the issue you're seeing is one that #11313 is tracking. I'm working on a fix at the moment.
As far as the issue that @ankur6ue mentioned, I'm not sure what the cause is exactly. Could you provide any additional information like the dashboard log and error log? It's at `/tmp/ray/session_latest/logs/dashboard.err` and `/tmp/ray/session_latest/logs/dashboard.out`

[2020-10-23 16:36] tgaddair commented on #11565
I take that back, I'm actually seeing this for `compute()` cals with Ray as well.  Will keep digging into this to find a simpler repro for you.

[2020-10-23 17:23] frosk1 opened #11572 "Python Ray shared memory access"
I have a question concerning the access of the shared memory within the Ray Framework.
Imagine the following setup on 1 machine:

1. Start Ray cluster

2. Start a process/worker python script w1.py, which puts an object O1 into the shared memory via ray.put(O1)

3. Start a process/worker python script w2.py, which tries to get O1 from the shared memory via ray.get(...)

Is there a way to access th

[2020-10-23 17:28] krfricke commented on #11571
Ah, we didn't catch this because the hyperparameter mutations are only evaluated after permutations. I pushed a PR to fix this. Let me know if there's still issues, and thanks for catching the bug, @andrewredd!

[2020-10-23 18:01] simon-mo opened #11574 "[Serve] [Doc] Add a section for fractional CPU/GPU"
### Describe your feature request
https://ray-distributed.slack.com/archives/CNCKBBRJL/p1603439306100200

[2020-10-23 18:09] simon-mo opened #11575 "[Serve] Full Support for HTTP response"
_Originally posted by @TanjaBayer in https://github.com/ray-project/ray/discussions/11570_

Allow configurable response type:
- HTTP status code
- Content Type
- Header
- Multipart Encoding

cc @edoakes @architkulkarni

[2020-10-23 18:15] rkooo567 opened #11576 "[Doc] We should document exception types"
### Describe your feature request

Ray exceptions are not properly documented.

[2020-10-23 18:24] simon-mo opened #11578 "[Serve] PTL Example"
Examples for deploying PyTorch Lightening modules.

[2020-10-23 18:25] zhe-thoughts commented on #11578
Deploying PTL modules or models?

[2020-10-23 18:46] #9802 closed

[2020-10-23 18:51] clarkzinzow commented on #11558
@tgaddair `ray.get()` doesn't play nicely with tuples of object refs, unfortunately, and this isn't properly handled in the Dask-on-Ray scheduler. I'll submit a PR!

[2020-10-23 18:57] raoul-khour-ts opened #11581 "[Tune] Sigopt (multi-metric) api fails with 1.1.0 (tries to hash list)"
If you run

py_test(
 name = "sigopt_prior_beliefs_example",
 size = "medium",
 srcs = ["examples/sigopt_prior_beliefs_example.py"],
 deps = [":tune_lib"],
 tags = ["exclusive", "example"],
 args = ["--smoke-test"]
)

in python/ray/tune/build (this part of the testing is commented out since you need a sigopt API key...)
You get an output that looks like this:

"""
...
  File "/usr/local/lib/python

[2020-10-23 18:58] raoul-khour-ts commented on #11581
This is a consequence of search metric being able to be multi-metric.

[2020-10-23 19:01] #11404 closed

[2020-10-23 19:01] richardliaw commented on #11581
cc @krfricke

Also, let me ping the sigopt folks for a working API key...

[2020-10-23 19:06] simon-mo commented on #11578
I think PTL's term uses module that encapsulate all code related to training/inference on a model: https://github.com/PyTorchLightning/pytorch-lightning#step-1-define-a-lightningmodule-nnmodule-subclass

Just a terminology.

[2020-10-23 19:32] clarkzinzow commented on #11565
In my attempt to reproduce, I'm getting a lot of segfaults, not sure what the cause is yet. I'll keep investigating.

Let me know if you are able to create a simpler reproduction.

[2020-10-23 19:35] richardliaw commented on #4004
This should be fixed via #11512 !

[2020-10-23 19:35] #4004 closed

[2020-10-23 19:48] richardliaw commented on #11571
(keeping this open until @andrewredd is good to go)

[2020-10-23 19:50] clarkzinzow commented on #11565
Hmm interesting, computing this _without_ using the Dask-on-Ray scheduler crashed my dev VM! Maybe there's an underlying Dask or Parquet issue at work here. Are you able to run this workload to completion with a non-Ray scheduler? How large of a machine are you running this on?

[2020-10-23 19:54] tgaddair commented on #11565
Yes, I can run without the Ray scheduler.  I'm using a MacBook Pro with 16GB of RAM.

[2020-10-23 19:56] jlarsen-usgs commented on #6900
This same issue is happening for me on windows subsystem for linux (ubuntu 18.04) with ray version 1.0.0. If I downgrade to ray 0.8.6, ray works fine.

[2020-10-23 21:12] richardliaw commented on #11565
I'm able to run this script on a MBP with 64GB of Ram. I can reliably produce failure with:

[code]

[2020-10-23 21:59] clarkzinzow commented on #11565
@tgaddair @richardliaw, which version of Ray, Dask, and Pandas are y'all on?

[2020-10-23 22:06] rkooo567 commented on #11544
Actually, can you elaborate on this more?

You mean when a new pod is spawned, it should have a different IP, meaning the name shouldn't have been registered right?

[2020-10-23 22:42] tgaddair commented on #11565
[code]

Thanks @clarkzinzow for continuing to look into this!

[2020-10-23 23:00] richardliaw commented on #11565
[code]
thanks a bunch @clarkzinzow !

[2020-10-23 23:15] tytarsi commented on #8023
@aretor were you able to resolve this? I am having the same issue.

Stack trace looks like:
[code]

[2020-10-23 23:21] richardliaw commented on #8023
hmm, what if you try setting ray.init(_redis_password="...")?

[2020-10-23 23:39] #11558 closed

[2020-10-24 00:12] richardliaw commented on #11581
Should be fixed on #11583 . We'll pick this onto the release.

[2020-10-24 00:12] #11581 closed

[2020-10-24 00:36] andrewredd commented on #11571
I’m good to go! Thanks all

On Fri, Oct 23, 2020 at 3:48 PM Richard Liaw <notifications@github.com>
wrote:

[2020-10-24 00:47] amogkam commented on #11571
Awesome!

[2020-10-24 00:47] #11571 closed

[2020-10-24 01:26] clarkzinzow commented on #11565
I'm still working on getting to the bottom of the segfaults on Parquet table writing that I keep hitting, which is concerning in and of itself. I'll try to poke at this a bit more tomorrow.

[2020-10-24 04:12] viotemp1 opened #11589 "ray install-nightly fail"
Hello,

Nightly link is broken fot python 3.8 package

ray install-nightly
Running: /home/xyz/anaconda3/envs/tf2_n1/bin/python3.8 -m pip install -U https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.0.0-cp38-cp38-manylinux1_x86_64.whl.
Collecting ray==1.0.0
  ERROR: HTTP error 404 while getting https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.0.0-cp38-cp38-manylinux1_x86_64.whl
E

[2020-10-24 04:13] rkooo567 commented on #11589
Hi, there was an error in the command `install-nightly` on Ray 1.0. Please download it from the link here https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies (Use the link to download). This will be fixed in the next release (1.0.1 in a few weeks).

[2020-10-24 04:16] viotemp1 commented on #11589
Yep. Download link from https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies works.
Thanks!

[2020-10-24 06:31] billyzs commented on #7673
bump, any update on this? v1.0.0 still doesn't implement these 2 functions

[2020-10-24 07:51] Purpleslz opened #11591 "[rllib] SAC does not multiply importance weights when calculating loss"
SAC should multiply importance weights here:
[code]
SAC code(without multiplying importance weights): https://github.com/ray-project/ray/blob/master/rllib/agents/sac/sac_torch_policy.py#L265

DQN/DDPG code(with multiplying importance weights): https://github.com/ray-project/ray/blob/4ccfd07a614c3b0620e75ccb47c327bb0f817299/rllib/agents/dqn/dqn_torch_policy.py#L98
https://github.com/ray-project/ray

[2020-10-24 11:58] Vysybyl commented on #11457
Hi @mfitton,

Thanks a lot for taking care of this!

I don't have the original logs right now since I'm using as head node a cloud VM that is deleted once I finish using it.

I tried to replicate the issue running `ray start --head` on my local machine. If what follows is not enough I'll grab the logs from the remote VM next time I use it.

Strangely, I run into a similar but maybe unrelated issue

[2020-10-24 15:22] 1seck opened #11594 "Ray error ray.exceptions.ObjectStoreFullError"
encountering this error while training:

This happens 1 min in training, 1 picture as observation. What should I do?

[2020-10-24 19:39] LucaCappelletti94 opened #11597 "[Tune] Bayesian Optimization does not perform correctly"
### What is the problem?
Weird duplicated points are searched, even with complex loss functions and parameters.

[code]

Returns:
[code]

While Ray does not.

### Reproduction (REQUIRED)
I have prepared a [Google Colab](https://colab.research.google.com/drive/1a0Pe3-Q0QJjrwVZQjb1W6MzJGWFtup26?usp=sharing) to reproduce the issue.

[2020-10-25 14:24] 1seck commented on #11594
It seems to create 1 big object of 25GB and tries to store it.

[2020-10-25 14:33] 1seck commented on #11594
Apparently the model size is too big so the weights are 25GB, should DRL-models be of smaller size, is it? and why does the model have to  saved in RAM, couldn't it also be saved on HDD instead?

[2020-10-25 21:35] sandguardian opened #11601 "AWS Security group rule issue"
When I restrict security group to have port 22 allowed for same vpc instances, ray up command get failed because it tries to ssh using public IP.

Should I allow ssh for all ip or is there any way to allow it only for internal vpc instances?

[2020-10-26 02:17] Litchilitchy opened #11602 "StreamingContext Builder error from Ray Streaming Example"
I am using Python 3.6, following code from example [ray stremaing](https://github.com/ray-project/ray/blob/master/streaming/python/examples/wordcount.py)
[code]
The error is raised at build `StreamingContext` line, which is
[code]

[2020-10-26 03:19] rkooo567 commented on #11602
cc @ashione

[2020-10-26 03:22] #11589 closed

[2020-10-26 03:23] #11572 closed

[2020-10-26 05:12] NumberChiffre opened #11605 "Torch Attention Net Fails Example Provided in Rllib"
### What is the problem?
Attention Net in rllib models doesn't seem to work with the example provided in rllib/examples, tried on ray 0.8.7 and 1.0.0. The following error is produced:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
python 3.6.9
ray==1.0.0
torch==1.6.0
Ubuntu 18.04.5

### Reproduction (REQUIRED)
Please provide a script that can be run t

[2020-10-26 06:37] ashione commented on #11602
@chaokunyang Is that failure in xlang?

[2020-10-26 06:39] ashione commented on #11602
@Litchilitchy Could you run it on python3.6 again?

[2020-10-26 06:56] chaokunyang commented on #11602
@Litchilitchy Does your machine have java installed? Seems `services.py` didn't detect java envirionment, so `StreamingContext` can't create java actor for streaming job build and execution

[2020-10-26 06:57] WangTaoTheTonic opened #11606 "[GCS]Separate heartbeat and resource updating"
### Describe your feature request

Currently raylet reports HEARTBEAT messages periodically, in which resources of node is included. HEARTBEAT message is for two purpose: node liveness probe and resource updating.

Mixing up simple heartbeat with resource reporting brings 3 issues:
1. System requires different frequency for liveness probing and resource updating. Now in ray we set reporting period

[2020-10-26 07:03] Litchilitchy commented on #11602
Sorry for mistake.. I ran it on Python 3.6 not Python3.8, edited the title.

[2020-10-26 07:04] Litchilitchy commented on #11602
I set environment variable `JAVA_HOME` to `path/to/jdk1.8.0_201` the error is still the same

[2020-10-26 08:08] rkooo567 commented on #11606
@ericl This is a part of plans Ant is doing to improve the GCS server scalability (they are trying to separate heartbeat from resource report logic so that heartbeat can be more stable). Please take a look! I asked Tao to write a simple design doc as well.

[2020-10-26 08:22] richardliaw commented on #3544
closing because stale

[2020-10-26 08:22] #3544 closed

[2020-10-26 08:27] richardliaw commented on #8410
closing because stale.

[2020-10-26 08:27] #8410 closed

[2020-10-26 08:29] richardliaw commented on #10178
Closing because answered.

[2020-10-26 08:29] #10178 closed

[2020-10-26 08:30] #9748 closed

[2020-10-26 08:31] richardliaw commented on #9143
Closing because fixed.

[2020-10-26 08:31] #9143 closed

[2020-10-26 08:31] #9507 closed

[2020-10-26 08:32] richardliaw commented on #9254
https://ray.io/whitepaper will help!

[2020-10-26 08:32] #9254 closed

[2020-10-26 08:33] richardliaw commented on #8872
(closing because stale)

[2020-10-26 08:33] #8872 closed

[2020-10-26 08:34] richardliaw commented on #8811
Implemented!

[2020-10-26 08:34] #8811 closed

[2020-10-26 08:34] #8807 closed

[2020-10-26 09:10] Servon-Lee opened #11608 "[RAY SGD] GPU memory is not released"
Ray version: 1.0.0

I run something like:
[code]
After the training, the actor handle `mytrainer` should not be referenced, so I think the GPU memory should be released with the help of gc. However, as shown in the figure below, there is not any process using GPU and the GPU memory is not released (2338Mib are occupied):
![image](https://user-images.githubusercontent.com/29559374/97151506-8b11a280

[2020-10-26 11:24] chaokunyang commented on #11602
@Litchilitchy Which ray version are you using? I need to try it on my machine to locate what's going arong

[2020-10-26 12:07] Litchilitchy commented on #11602
I am using ray 1.0.0. With PyCharm virtual env python 3.6.

[2020-10-26 13:45] ppdollhhh opened #11611 "Can Ray support TensorRT ？"
Can Ray support TensorRT ， please give me a quickstart？ How to select designated GPU？

[2020-10-26 14:04] zzcNEU commented on #11468
Hello,Can you help me?
I try to add curiosity into ppo. But:
![image](https://user-images.githubusercontent.com/38434094/97182157-21f45400-17d7-11eb-9065-59376667f8c7.png)
![image](https://user-images.githubusercontent.com/38434094/97182193-2e78ac80-17d7-11eb-9fab-25e6c92451cd.png)

[2020-10-26 14:50] viotemp1 opened #11612 "[tune] PopulationBasedTraining and Tensorboard HPARAMS"
Hello,

I set in config fixed learning rate and dropout and let PopulationBasedTraining do it's mutations.
Something like this:
hyperparameter_space = {
    "lr": 1e-3,
    "dense_1": tune.quniform(32, 128, 32),
    "count_dense_layers": tune.quniform(1, 4, 1),
    "dense_x": tune.quniform(32, 256, 32),
    "dropout_rate": 0.0,
    "tf_optimizer": tune.choice(["SGD", "Adam"]),
}
pbt_hyperparameter

[2020-10-26 15:01] fshriver commented on #11559
So I've worked with my cluster's support group and one of them suggested NVIDIA's CUDA Multi-Processing Service (MPS) is to blame; specifically, it isn't enabled on our compute nodes by default, which I didn't know about. Enabling it appears to make the above issue go away. If someone is looking back on this error message in the future, the issue is likely due to some issue with the CUDA Multi-Pro

[2020-10-26 15:10] fahadh4ilyas commented on #11544
@rkooo567 yup... usually the IP differ by one segment like from 10.10.2.102 to 10.10.2.103.

[2020-10-26 15:59] edoakes commented on #11551
@PidgeyBE have you had a chance to verify that the above PR fixes your issue?

[2020-10-26 15:59] edoakes commented on #11551
@PidgeyBE have you had a chance to verify that the above PR fixes your issue?

[2020-10-26 16:13] 1seck commented on #11594
So taking a larger aws instance, downsizing the model a bit and not using nn.sequence (seems too be implemented inefficiently) did the job for me.

[2020-10-26 16:13] #11594 closed

[2020-10-26 16:45] simon-mo commented on #11611
Hi @ppdollhhh, can you tell us a little more about how are you using TensorRT? Are you using their Python API? Are you using it for serving or batch inference? Thanks!

[2020-10-26 16:47] simon-mo opened #11616 "[Serve] Check Servable Interface in create_backend"
### Describe your feature request

We should use the `inspect` module to check servable has implemented `__call__(request)` interface. Just like how we are checking for the `@serve.accept_batch` decorator.

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-10-26 16:48] simon-mo opened #11617 "[Serve] Document ServeHandle Architecture"
### Describe your feature request
In the architecture doc, we should document how the ServeHandle is implemented and life of a query with ServeHandle.

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-10-26 17:37] ericl commented on #11239
@soundway could you try again with the assert removed? (you can use the nightly wheels)

[2020-10-26 17:37] amogkam commented on #11608
Hi @Servon-Lee can you do `trainer.shutdown()` after all your training is done (make sure to save any checkpoints before shutting down!) and see if you're still getting the same problem.

[2020-10-26 17:39] ttumiel opened #11620 "[rllib] TF Non-Trainable Variables Registered as Trainable"
### What is the problem?

TFModelV2 registers variables that are set to `trainable = False` as trainable. This means you can't freeze pretrained layers and leads to using more memory than expected.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: master
Tensorflow: 2.3.1

### Reproduction (REQUIRED)
Run script using: `python script.py --config '{"model":{"

[2020-10-26 17:57] mfitton commented on #11457
@Vysybyl Ah, I'm sorry you encountered this. There was a bug in the last couple versions of the dashboard that caused the page to not load when there are no workers in the cluster. If you start up some workers by launching tasks or actors, the page should display. That said, the issue is tracked here: https://github.com/ray-project/ray/issues/11384
This issue is actually fixed in the most recent v

[2020-10-26 17:58] mfitton commented on #11384
This issue has been fixed with the new dashboard backend, released in https://github.com/ray-project/ray/pull/11510

[2020-10-26 17:58] #11384 closed

[2020-10-26 18:02] ericl commented on #11606
I'm not sure I understand the motivations here, can you explain in more detail? I'd prefer not to make these changes, since they complicate the design, unless there is no other way to resolve the issue.

Can't this timeout be tuned independent of the implementation? We can say it is always 30 seconds or something like that.

The CPU reduction seems very marginal here.

[2020-10-26 19:33] #11434 closed

[2020-10-26 20:08] yncxcw opened #11624 "Timeout for Raylet heartbeat for I/O intensive workloads"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
`Ray`: Ray-0.8.7
`Python`: Python-3.7
`Tensorflow`: Tensorflow-1.4
`OS`: Ubuntu-16.04 image on K8s

### Context:
We are using Ray for data loading, basically the Ray actor loads both images and labels off of the disk and run some preprocessing (mostly numpy stuff).

### Stack trace:
[code

[2020-10-26 20:14] rkooo567 opened #11625 "[Dashboard] Dashboard should show which node is a head node."
### Describe your feature request

Currently, there's no way to know which node is the head node from the dashboard UI. It is very confusing when we are running multi nodes cluster setup.

[2020-10-26 20:14] rkooo567 commented on #11625
cc @mf

[2020-10-26 20:22] rkooo567 commented on #11369
@danwallach What was the threshold number that broke the job? I tried debugging this today, and my suspicion now is the Redis rejects requests from new nodes/workers because it reaches to the max number of clients (which is 10,000, which can be reached if we assume each worker has multiple connections to redis).

[2020-10-26 20:24] ericl commented on #11624
cc @WangTaoTheTonic

[2020-10-26 20:27] danwallach commented on #11369
The crashiness seems to be a function of the number of vCPUs. If I keep them around 700, everything works. Somewhere not too far north of that, everything starts crashing. This seems to be independent of the size of each machine. So, more vCPUs per machine, same crashy threshold in terms of the number of vCPUs.

[2020-10-26 20:31] rkooo567 commented on #11369
I see. It looks like around 1000 workers, the redis max connection issue starts happening. My guess is when this error happens, your job starts failing, and the error was for some reason now shown. I will keep troubleshooting this.

[2020-10-26 20:33] soundway commented on #11239
Sure, I can try that. I suppose that would enable me to be more aggressive about resetting trials.

A bit of update on some of the jobs I run lately. For Q-Bert, I launched several jobs without trial reset, and after almost a week, none has crashed so far. I don't think I had any past Q-bert jobs survived this long when training with the ASHA scheduler.

On the other hand, I also launched some job

[2020-10-26 20:36] tytarsi commented on #8023
Thanks for the response, I updated to use the default password as described here:

https://docs.ray.io/en/master/configure.html

But still have the same issue. I didn't set any explicit password so I assumed the default would be relevant.

[code]

[2020-10-26 20:49] ericl commented on #10987
Fixed by https://github.com/ray-project/ray/pull/11024/files

[2020-10-26 20:49] #10987 closed

[2020-10-26 20:50] #9480 closed

[2020-10-26 20:50] #10904 closed

[2020-10-26 21:06] rkooo567 commented on #11624
I've seen this issue from multiple users. It looks like the heartbeat report is deferred when there's high disk operations.

[2020-10-26 21:09] rkooo567 commented on #11369
@danwallach When I ran, I could see these logs from the job console.

[code]

But as far as I remember, you didn't see these logs right?

[2020-10-26 21:12] richardliaw opened #11626 "[tune] Improve error message without "mode""
### What is the problem?
We see the following error message:

[code]
when 'mode' is not passed into HyperOptSearch.
cc @krfricke

[2020-10-26 21:40] rkooo567 commented on #11369
Also, @danwallach I saw it starts around 400 workers for 1000 size ballots. Is it a normal behavior?

[2020-10-26 21:42] rkooo567 opened #11630 "[Dashboard] New dashboard crashes when looking at worker logs."
### What is the problem?

Not sure if it is reproducible in a single node. But when I ran multi-nodes clusters (59 nodes), the attempt to see worker logs from the UI crashed the frontend.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot

[2020-10-26 21:51] danwallach commented on #11369
Hmm. I don't recall ever seeing an error message like that, and I'm currently running 700+ workers without any issues.

[2020-10-26 21:54] danwallach commented on #11369
I just grepped through all the logs from every crash I have, and I've never seen a ConnectionError.

[2020-10-26 22:16] clarkzinzow commented on #11565
I'm assuming that both of y'all have `fastparquet` installed, and that Dask is using `fastparquet` and not `pyarrow` as the Parquet table writer? I get consistent segfaults with `pyarrow` as the Parquet I/O implementation, and the object store fills up with `fastparquet`.

[2020-10-26 22:19] rkooo567 opened #11631 "[Dashboard] New dashboard 'NoneType' object is not iterable"
### What is the problem?

When I ran fixed size multi node cluster, and kept the frontend open, this error starts appearing.

[code]

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I ha

[2020-10-26 22:52] richardliaw commented on #11565
@clarkzinzow nope didn't know that was a thing! trying it out now.

[2020-10-26 23:07] clarkzinzow commented on #11565
@richardliaw Interesting, not sure why the pyarrow Parquet implementation is segfaulting for me and not you. What version of pyarrow are you using?

[2020-10-26 23:11] ijrsvt opened #11633 "Use Pathlib instead of strings in Autoscaler"
### Describe your feature request
It would be great to use Pathlib `Paths` instead `os.path...`

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-10-26 23:31] richardliaw commented on #11565
[code]
though maybe we bundle it internally?

[2020-10-26 23:35] simon-mo opened #11634 "Docker build failing in CI"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]

https://travis-ci.com/github/ray-project/ray/jobs/408049645#L4784-L4795

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we can

[2020-10-27 02:47] zzcNEU commented on #7645
have you solve it? I have the same error on win10 system.

[2020-10-27 03:16] Servon-Lee commented on #11608
@amogkam Oh, I forgot about it. It works! Appreciate your help!!!

[2020-10-27 03:16] #11608 closed

[2020-10-27 03:20] rkooo567 opened #11638 "[Dashboard] New dashboard port errors in a large cluster."
### What is the problem?

When I ran 71 nodes cluster, and run `ray.init(address='auto')`, I am seeing this message indefinitely

[code]
The error seems to be from the dashboard agent failing to bind its address to the specific port. Note that the errors are streamed indefinitely. I am not sure why. (maybe the agent keeps restarting?)

### Reproduction (REQUIRED)
Please provide a script that can b

[2020-10-27 03:23] rkooo567 commented on #11638
Btw, at this moment, if I go to the dashboard, I am seeing this from the frontend. https://github.com/ray-project/ray/issues/11631

[2020-10-27 03:35] chaokunyang commented on #11602
After tested on my machine, I found following error by `grep -nr "Error" /tmp/ray/session_latest/logs/`:
[code]
Seems `ray_dist.jar` packaged in the ray wheel is compiled with java11 instead of java8, so using java8 will have get this error.
After deassemble `JobId.class` , it does invoke a method in java11 `// Method java/nio/ByteBuffer.flip:()Ljava/nio/ByteBuffer;` instead of ` // Method java/ni

[2020-10-27 03:37] chaokunyang commented on #11602
In ray1.0.0, jar is compiles with jdk11. We've already fixed it in master. If you just want to try out ray streaming, can you upgrade java to java11 or use ray in master branch?

[2020-10-27 03:38] chaokunyang commented on #11602
And ensure java is in your path. You can test it with `which java`

[2020-10-27 03:41] zzchuman opened #11639 "curiosity"
Hello, I try to use curiosity on ppo rllib. And I set the config as follows:

trainer = PPOTrainer(env="2x2grid", config={
        "exploration_config" :{
            "type": "Curiosity",  # <- Use the Curiosity module for exploring.
        },
        "multiagent": {
            "policy_graphs": {
                '0': (PPOTorchPolicy, spaces.Box(low=np.zeros(80), high=np.array(['inf'] * 80)), spa

[2020-10-27 04:20] rkooo567 commented on #11369
Okay. I successfully ran 1200+ workers scenario (101 nodes) without any error with this https://github.com/rkooo567/arlo-e2e-noop.

There were some differences in env setting because I couldn't run your example without modifying it. Here are the differences;

- Used ubuntu 16.04
- Used python 3.7 (and I allow python 3.7)
- I made sure ulimit -n 65000; works. There are some ami that fail to run uli

[2020-10-27 04:22] rkooo567 commented on #11369
So, in conclusion, I couldn't reproduce the error. I am not sure what's the exact cause (it is unlikely python 3.7 or ubuntu 16.04 affects this in my opinion). The only possibility in my mind is your ami actually doesn't allow you to run ulimit -n 65000, and it failed them, but you didn't notice that because it was buried in the middle of logs. But I am not sure. (You can see it from monitor.out).

[2020-10-27 04:37] rkooo567 commented on #8550
This is actually already resolved in the latest master

[2020-10-27 04:37] #8550 closed

[2020-10-27 04:40] rkooo567 commented on #11638
When I ran ray start with --max-worker-port & --min-worker-port, it doesn't seem to happen anymore. I think there might be port collisions with worker ports?

[2020-10-27 04:47] richardliaw opened #11640 "[flaky] gcs_server test is flaky"
### What is the problem?

gcs_server test is failing roughly 1/10 times.

cc @raulchen

[2020-10-27 06:01] WangTaoTheTonic commented on #11624
[code]
Adding information from slack.

That's interesting that heartbeat timeout happens when disk IO is high. Could any disk operations impact heartbeat reporting or handling？

[2020-10-27 06:09] rkooo567 commented on #11624
@WangTaoTheTonic I am not quite sure, but I"ve seen at least 3 users who all have the high disk IO and issues he mentioned.

[2020-10-27 06:09] rkooo567 commented on #11624
This might be a good scenario to test in our release tests. But haven't you seen this issue before @WangTaoTheTonic ?

[2020-10-27 06:13] ediezh commented on #1013
@EDario333 I just started trying Ray on VPN from local laptop to AWS. I'm having the same problem. Did you find a workaround?

[2020-10-27 06:43] WangTaoTheTonic commented on #11624
Heartbeat timeouts usually happened in our environment when gcs has too many tasks to handle, like lots of actor submitting or failing over.

[2020-10-27 07:02] Litchilitchy commented on #11602
I upgraded ray to `1.1.0-dev` and the error is the same.

I would try upgrade java next

[2020-10-27 07:22] JorDikk opened #11641 "Ray Dashboard not showing [tune] tab"
### What is the problem?
Ray Dashboard does not always display the Tune tab. And it seems random when it does display.
The first time that I used Ray the Tune tab worked fine(this was about a week ago), but from the day after until now the tab is not showing.
Except for yesterday, I did `ray.shutdown()` and then `ray.init()` again, and suddenly the tune tab was there(the web url went up to http://

[2020-10-27 08:35] WangTaoTheTonic commented on #11606
Now interval of heartbeat is mixed up with resources updating. We hope get resource changes ASAP but give it a longer time to check if node fails(like 30 seconds no heartbeat, so heartbeat doesn't need report so often).

For example, we wanna raylet check its resource every 100 ms and report the newest resources if it changed. In the meantime we wanna raylet send a PING(heartbeat) every 3 seconds

[2020-10-27 08:35] PidgeyBE commented on #11551
@edoakes Not yet. I'll try to do it today! Our build chain is not so flexible for changing ray versions but if the API is stable between 1.0 and the nightly it might go faster. I'll try

[2020-10-27 08:52] Litchilitchy commented on #11602
[code]
I checked above in terminal, java version is 11
[code]
The error is still the same -. -

[2020-10-27 09:20] WangTaoTheTonic commented on #11606
The other problem of current logic is: because heartbeat message also contains resource reporting, gcs server must put the message into main thread from rpc thread, then post it into node failure detector, which makes timestamp update easily impacted by busy main thread, resulting in false alarm of detecting failure nodes.

[2020-10-27 09:28] swicaksono commented on #11166
Hey, is this issue already solved? I got the problem and when I'm going to update the Ray from the wheel, it returns 404: Not Found. I guess the wheel [link](https://docs.ray.io/en/latest/installation.html) download is broken.

[2020-10-27 09:57] krfricke commented on #11641
Hi @JorDikk, thanks for raising this issue.

The Tune tab depends on the following dependencies:

[code]

The usual recommendation is to install `pip install "ray[tune]"` even after installing the latest wheels, as this will install dependencies such as pandas and tabulate. However, it currently does not install tensorboard, as it is tensorflow specific. So the Tune tab still wouldn't show.

cc @s

[2020-10-27 10:56] aeroaks commented on #9869
Is this up for grabs, as a first time contributor?

[2020-10-27 11:33] chaokunyang commented on #11602
I tested it in a linux machine and came across the same problem. It's an existing bug about packing jars into ray wheel. If the jars is not packaged into the wheel, ray will take ray java not installed. I'll try to fix it in #9896. Hope this will be fixed soon.

[2020-10-27 11:46] bentzinir commented on #4905
Returning to the multiagent cartpole [example](https://github.com/ray-project/ray/blob/master/rllib/examples/multi_agent_cartpole.py). The number of policies is set according to `num_policies` argument:

        "policy_{}".format(i): gen_policy(i)
        for i in range(args.num_policies)
    }

while the number of agents is set via the `num_agents` argument:

            "num_agents": args.num_a

[2020-10-27 11:54] zzchuman opened #11644 "[rllib] Could not find policy for agent"
Hello, when my rllib was 0.8.7. It runs well. But when I update it into rllib 1.0.0, it occours:
valueError: Could not find policy for agent: agent policy id `0` not in policy map keys dict_keys(['default_policy']).

In my code, I set all of the agents was 0,

def policy_mapping(id):
    return '0'

trainer = PPOTrainer(env="2x2grid", config={
        "framework": "torch",
        "multiagent": {

[2020-10-27 12:27] HuihuiTong opened #11645 "[RLLib]tensorflow.python.framework.errors_impl.InvalidArgumentError"
**I run the file ray/rllib/examples/attention_net.py without any changes,but I get some errors.**

_Ray version and other system information (Python version, TensorFlow version, OS):
Ray: 1.0.0
Tensorflow: 1.14.0
Python:3.6_

`Traceback (most recent call last):
File "/home/VirEnv/py36-latest_ray_test/lib/python3.6/site-packages/ray/tune/trial_runner.py", line 515, in _process_trial result = self.t

[2020-10-27 12:49] #11639 closed

[2020-10-27 13:37] danwallach commented on #11369
Hmm. Can you try Python 3.8 and Ubuntu 20.04? I could probably make my stuff work on older Ubuntu, but I have a bunch of dependencies on Python 3.8.

[2020-10-27 13:38] danwallach commented on #11369
Also, which exact AMI are you using? I'd like to make sure that I'm on the same base as you.

[2020-10-27 15:00] JorDikk commented on #11641
Thanks @krficke, doing the steps you mentioned works!

I couldn't find this information on the docs, maybe I missed it.
Otherwise I think it's useful to add it to the [Installing ray](https://docs.ray.io/en/master/installation.html) or [Ray Dashboard](https://docs.ray.io/en/master/installation.html) page.

[2020-10-27 15:28] krfricke commented on #11641
Yeah, updating the docs is definitely a good idea. I'd argue that we want to have a `Tune` tab in any case, but if the dependencies are not found, display a message with these install commands instead.

[2020-10-27 16:22] kumarvc opened #11648 "PicklingError in ray serve"
### What is the problem?
I have started exploring ray serve for model deployment and tried few ray serve examples but all are failing due to the below error.

PicklingError: Can't pickle <cyfunction _process_class.<locals>._pydantic_post_init at 0x7fc08b644ad0>: attribute lookup _pydantic_post_init on pydantic.dataclasses failed

I am using Ray version : 1.1.0 and tried running on both Linux and w

[2020-10-27 16:26] clarkzinzow commented on #11565
[Not anymore](https://github.com/ray-project/ray/pull/7233)! 😁

[2020-10-27 16:38] PidgeyBE opened #11649 "Async await not working when result is fetched from another node's object store"
### What is the problem?

* ray 1.0.0

### Reproduction (REQUIRED)
Ray remote actor tasks can be `await`ed. However, this only works reliably when the driver and the actor run on the same ray node. If this is not the case, `await` statements can take infinitely long.

In the script below, the `OTHER_NODE` custom resource is to indicate that this actor should be scheduled a node that's different fr

[2020-10-27 16:53] mfitton commented on #11641
@krfricke that's a great idea. I'm going to add a task to do that next sprint. Thanks for the suggestion.

[2020-10-27 16:55] PidgeyBE commented on #11551
@edoakes I tried with latest nightly wheel, but the autoscaling monitor doesn't seem to start so I can't test...
[code]
This looks ok (as in ray 1.0.0), but when I look into the ray head, it seems like the monitor doesnt start:
[code]

Also when I start actors, no workers are spawned...

[2020-10-27 16:59] edoakes commented on #11649
This looks really problematic. We will try to repro and get back to you ASAP.

[2020-10-27 17:15] simon-mo commented on #11649
Here's a modified version that can reproduce this on a single node, using ray cluster utils:
[code]

[2020-10-27 17:30] richardliaw opened #11652 "[k8s] command runner error handling"
### What is the problem?

[code]

There is a typo? Basically final_cmd can't be indexed properly?

[2020-10-27 17:35] richardliaw commented on #11565
ah nice! Let me know what other information you need to help debug your segfault.

[2020-10-27 17:37] #11634 closed

[2020-10-27 17:50] clarkzinzow commented on #11565
I'll probably end up opening a separate issue for the segfaults since it seems to be specific to using the pyarrow Parquet writer on Linux. Given that I have a workaround (using the fastparquet writer instead), I'm going to ignore the segfaults and keep investigating the object store OOMs so we can hopefully unblock @tgaddair's work.

[2020-10-27 18:07] rkooo567 commented on #11369
You can find ami I used from here https://github.com/rkooo567/arlo-e2e-noop. (You can look at aws-*.yaml file).

Also, can you make sure your ulimit ran successfully without `bash: ulimit: open files: cannot modify limit: Operation not permitted`?

[2020-10-27 18:20] mfitton commented on #11166
@swicaksono sorry you ran into this issue, it's a bug in the 1.0.0 release in which the `ray install-nightly` command fails because of a broken URL. You can still install the latest nightly (which also contains a fix for this error) by following the instructions to install manually here: https://docs.ray.io/en/master/installation.html#installing-from-a-specific-commit and following the `pip instal

[2020-10-27 18:20] #11166 closed

[2020-10-27 18:21] rkooo567 commented on #8967
cc @wuisawesome

[2020-10-27 18:58] rkooo567 opened #11655 "[Core] Reduce the Redis connection per worker."
### What is the problem?

Based on the recent investigation, it seems like each of ray workers has 8~9 direct connections to Redis along with other connections to other components. We should refactor code to use a shared pool among processes.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e

[2020-10-27 18:58] rkooo567 commented on #11655
cc @ericl

[2020-10-27 18:59] rkooo567 commented on #11655
Related https://github.com/ray-project/ray/issues/11445

[2020-10-27 20:00] edoakes commented on #11649
Did some more digging with @simon-mo, seems like this is a subtle race condition in the mess of callbacks we're using to async await for plasma objects. Think we've identified the root cause, should be able to open a PR with a fix soon.

[2020-10-27 20:21] #11559 closed

[2020-10-27 20:32] architkulkarni commented on #11648
Hi, sorry you ran into this--this should be fixed in the master branch.  Alternatively, you can also try running `pip install -U pydantic<1.7`.  Does that help?

[2020-10-27 21:32] felipeeeantunes commented on #7420
In our use case we are using a dummy environment just to set the structure of action and state spaces:
[code]

[2020-10-27 21:41] sven1977 opened #11658 "[RLlib] [Tune] Can not restore Trainer when using tune."
I was trying to load an already trained agent using restore. When I do not use tune, I can restore the agent without any issues. However, when I train an agent using ray tune, I get the following error:

ValueError: Cannot feed value of shape (256, 256) for Tensor 'default_policy/Placeholder_default_policy/default_policy/fc_out/kernel/Adam:0', which has shape '(256, 2)'

Here is my code:

import r

[2020-10-27 22:17] ericl commented on #11606
Thanks, it makes sense to be able to run the node failure detector in a more isolated way.

I still think the decoupling didn't necessarily need to happen, but I see it is fairly simple to implement so I have no objections. :+1:

[2020-10-27 22:17] #11606 closed

[2020-10-27 22:22] richardliaw opened #11659 "[flaky] tune:test_experiment_analysis is failing"
### What is the problem?
 Looks like this test is failing consistently - https://travis-ci.com/github/ray-project/ray/jobs/410590820

[2020-10-27 22:24] #11652 closed

[2020-10-27 22:29] tgaddair commented on #11565
Hey @clarkzinzow, sorry for the delayed response.  I'm actually using `pyarrow`, I don't have `fastparquet` installed.  In my case, we use Pyarrow to read the data after Dask writes it, so we may need to stick with pyarrow.

[2020-10-27 22:29] tgaddair commented on #11565
I'm using pyarrow `2.0.0` by the way.

[2020-10-27 23:06] clarkzinzow commented on #11565
@tgaddair Sweet, thanks! And if `pyarrow` isn't segfaulting for you, then no need to switch to `fastparquet`! Given that the OOMs are happening even without writing to Parquet files (just computing `dataset`), I'm considering it safe for me to debug the bloated object store while using `fastparquet` as the writer, with the hope that the solution will transfer.

So, despite the source dataset being

[2020-10-28 00:06] richardliaw commented on #3249
This works now.

[2020-10-28 00:06] #3249 closed

[2020-10-28 00:08] richardliaw commented on #8023
@tytarsi are you connecting to an existing ray cluster or a separate Redis instance?

Also, are there any configuration files set for Redis that it may be detecting?

[2020-10-28 00:15] richardliaw commented on #11565
@clarkzinzow thanks a bunch for this thorough evaluation!

So from what I understand, the same memory utilization occurs on both workloads, but the difference is that Dask does not have "memory limits" while Ray enforces memory limits. Is that correct?

[2020-10-28 00:38] tytarsi commented on #8023
I am connecting to an existing ray cluster. But I think the underlying issue is that I am using a container on kubeflow, so the machine that the container runs on is not the same as the head node. Is there a way to connect to an existing cluster if not running on head?

[2020-10-28 00:47] soundway commented on #11239
@ericl Just long. I set a really large stopping criterion for `training_iteration` (1M in this case). And according to the Tune output when it crashed, the job that got the error is at around ~7K steps. The only interesting error message I found is again related to the `mmap_records for fd 0`. Unless the `training_iteration` criterion does something different than what I expect, none of the trials

[2020-10-28 00:52] soundway commented on #11239
Lemme just change my avatar to make it easier to parse this thread. Our avatars happen to look the same...

[2020-10-28 01:01] richardliaw commented on #8023
Hmm, got it. Is the machine that you're running on on the same network (or vpc) as the Ray cluster?

It may be also some odd firewall issue/unopened port.

[2020-10-28 01:05] richardliaw commented on #8023
Also, on the ray cluster head node, can you download `/tmp/ray/session_latest/logs` for me? That'll help me take a look at some diagnostics/get some ideas about what's going on.

[2020-10-28 01:17] clarkzinzow commented on #11565
@richardliaw That's my current theory, yes! I do want to find out why the working set is so large during repartitioning and merging, and whether intermediate objects are being garbage collected in a timely manner (which I currently think they are, just want to double-check). Hopefully I'll have some time tomorrow to dig further and open up some issues.

[2020-10-28 01:21] richardliaw commented on #10712
Similar to https://github.com/ray-project/ray/issues/433

[2020-10-28 01:21] richardliaw commented on #10712
cc @maximsmol

[2020-10-28 01:37] WangTaoTheTonic commented on #11624
From our logs I also see lots of delayed heartbeat reporting(those WARNINGs). Maybe we can use a separate thread for heartbeat reporting in raylet side once we split the resource updating part out.

In this case I'm not sure if raylet really didn't report heartbeat for 30 seconds. That's a pretty long time for raylet as raylet did not do much heavy load. Maybe disk IO related?

[2020-10-28 01:51] richardliaw commented on #7859
fixed

[2020-10-28 01:51] #7859 closed

[2020-10-28 01:51] richardliaw opened #11661 "[flaky] test_object_manager is flaky"
Seems to fail quite a bit.

cc @rkooo567 can you reassign?

[2020-10-28 01:53] richardliaw opened #11662 "[flaky] test_object_spilling is occasionally failing"
Check flakey-tests tracker for failed instances.

cc @rkooo567 can you reassign?

[2020-10-28 02:00] richardliaw opened #11663 "[flaky] test_multi_node/2 is flaky"
this is a flaky test cc @rkooo567

[2020-10-28 02:59] simon-mo commented on #11649
The bug @edoakes is a false alarm. The race condition actually turned out to be somewhere between two instances of `object_manager_.CancelPull(object_id);` in:
- `TaskDependencyManager::HandleRemoteDependencyCanceled`
- `ObjectManager::HandleObjectAdded`

When we comment out the CancellPull in TaskDependencyManager, the script can run reliably 100% even when I increase the number of trials and siz

[2020-10-28 03:18] stephanie-wang commented on #11649
The TaskDependencyManager cancels outstanding pull requests once the raylet tells it the object is on longer needed by any worker on that node. This is to prevent a leak where the raylet will keep asking other nodes for an object even though no one needs it. That's also why pull requests get canceled for a ray.get with a timeout.

Took a quick look at the core worker code, and it seems like the [C

[2020-10-28 03:23] simon-mo commented on #11649
That's awesome! I will try out using `SubscribeWaitDependencies`

[2020-10-28 03:33] gui-li commented on #7488
I have encountered the same problem with pickle. The traceback is attached:

`2020-10-28 11:23:05,604	INFO services.py:1166 -- View the Ray dashboard at http://127.0.0.1:8265
Traceback (most recent call last):
  File "C:\Users\Ma\Anaconda3\lib\site-packages\ray\tune\experiment.py", line 258, in register_if_needed
    register_trainable(name, run_object)
  File "C:\Users\Ma\Anaconda3\lib\site-packa

[2020-10-28 03:34] gui-li commented on #7488
I have encountered the same problem with pickle. The traceback is attached:

[code]

[2020-10-28 03:35] gui-li commented on #7488
I have encountered the same problem with pickle. The traceback is attached:

[code]

[2020-10-28 04:02] rkooo567 commented on #11624
@yncxcw

Can you actually check two things?

1. Can you measure the cpu usage of all nodes, especially a head node and a worker node that was crashed due to the heartbeat issues?
2. Also, can you try running ray with `nice -n -19 ray start --head` and `nice -n -19 ray start --address=...`? Idk if it will have an impact, but this will give higher priority to raylet and gcs server for cpu scheduling

[2020-10-28 04:18] vivek4march commented on #11648
Thanks a lot. It worked for me.

[2020-10-28 04:21] kumarvc commented on #11648
Thanks a lot. It worked for me.

[2020-10-28 04:44] wuisawesome commented on #11624
@yncxcw
Can you try starting your cluster with `num_cpus=<true number - 1>`?

If that doesn't work, can you also provide some more specific diagnostic details?

1. How many nodes are in your cluster?

2. Are you running on a cloud provider, or what does your hardware look like?

3. Do you have special configuration for your containers? (Can you share the output of `docker info` or anything else sp

[2020-10-28 06:13] clay4444 opened #11666 "[PlacementGroup] GcsPlacementGroupTable should extends GcsTableWithJobId"
# What is the problem?
I am working on #11467  these days, the reason for this issue is we didn't  release resource when a job is finished, so, the solution is register a job state listener when placement group manager init, but there is a pre-issue to update, the GcsPlacementGroupTable is extends `GcsTable`,  it should update to extends `GcsTableWithJobId` so that we can get all placement group b

[2020-10-28 06:18] rkooo567 commented on #11666
I think this PR will fix the issue? https://github.com/ray-project/ray/pull/11546

[2020-10-28 06:19] rkooo567 commented on #11666
Also, the fundamental issue there is that Java doesn't have remove API? Does it have any equivalent API to `remove_placement_group`?

[2020-10-28 06:27] clay4444 commented on #11666
Do you mean to allow users to manually call remove_placement_group java api?  I think the core problem is that the placemenbt group resource is not released when the job is finished, which causes the second job submission failure.

[2020-10-28 06:29] rkooo567 commented on #11666
This is true, but that PR will handle the issue.

Also, we should support remove API anyway because users want to remove placement group before the job is done. We cannot always assume users will use placement group until the job is done.

[2020-10-28 06:31] clay4444 commented on #11666
yes, I will implements this java api~

[2020-10-28 06:38] #11666 closed

[2020-10-28 06:39] rkooo567 commented on #11666
Sounds good! I shared the design document with you :)

[2020-10-28 06:49] #10773 closed

[2020-10-28 08:38] ppdollhhh commented on #11611
I use Python API TensorRT do image inference(input single or batch)，such as detect，classification,  extract feature and so on.Now I have used celery to do these work，which connect to flask gunicorn.
Now I want estimate ray to replace celery.
thx

[2020-10-28 08:52] Litchilitchy commented on #11602
@chaokunyang So is it a issue related to ray streaming only?

[2020-10-28 09:40] jxz542189 commented on #11648
don't work for me

[2020-10-28 09:41] jxz542189 commented on #11648
pip install -U pydantic==1.6,but the same question

[2020-10-28 11:19] ljendele opened #11668 "[rllib] DDPG ApeX fails with PyTorch and GPU"
This is not a contribution.

### What is the problem?

I tried running this example (https://github.com/ray-project/ray/blob/master/rllib/tuned_examples/ddpg/mountaincarcontinuous-apex-ddpg.yaml) with PyTorch and GPU (Titan Xp).
However, it always fails due to this error:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray version: 1.0.0
Python version

[2020-10-28 12:27] WangTaoTheTonic commented on #10358
Seems sharding has been already supported in redis client, used by gcs table storage. Pub sub function uses single primary context but it is appropriate choice.

What else left to be done? maybe adding some tests?

[2020-10-28 13:10] andrewredd opened #11670 "[tune] Schedulers should automatically handle nans/inf values"
### What is the problem?

I get the following when I run the following code
[code]

When it's seeding the space there are no issues but as soon as it is on trial 30, I get the following error

[code]

My neural network is capable of inf and Nan losses but will not always generate these values. Further I would expect there to be a workaround if it does produce a Nan I just haven't been able to find

[2020-10-28 13:31] parthjaggi opened #11671 "Questions on Slurm Instructions"
### Describe your feature request/question:

Having a look at the script provided on:
https://docs.ray.io/en/master/cluster/slurm.html

Short snippet:
[code]

1. This script does not have values given for `#SBATCH --ntasks`. Is this something the user has to provide?
If I understand correctly then `--ntasks` acts as number of workers we want to create.

2. If above is true, why do we need to speci

[2020-10-28 14:18] chwhiteley commented on #11668
I also face this issue when running the "custom_rnn_model" example (https://github.com/ray-project/ray/blob/master/rllib/examples/custom_rnn_model.py), with APPO instead of PPO, both with Pytorch and Tensorflow. This issue has also been mentioned in #9436, it would be really helpful if someone found a solution.

`
"""Example of using a custom RNN keras model."""

import argparse

import ray
from r

[2020-10-28 17:51] ijrsvt commented on #11182
Issue does not exist anymore!
GCS receives the correct configuration because the user-specified config is **available on the head node**. The only nodes that need to use GCS to retrieve the SystemConfig are non-head nodes.

[2020-10-28 17:51] #11182 closed

[2020-10-28 18:07] richardliaw commented on #11670
@andrewredd thanks a bunch for raising this issue! We'll be sure to get to this in our 1.0.2 release.

[2020-10-28 18:07] architkulkarni commented on #11648
Hi @jxz542189, did that command not fix it for you?  Are you still seeing the issue on the latest master?  It should have been fixed by https://github.com/ray-project/ray/pull/11622.

[2020-10-28 19:03] simon-mo commented on #11611
Because Ray support arbitrary Python code, you can just call the TensorRT code. To select designated GPU, you can either manually mask the `CUDA_VISIBLE_DEVICES` environment variable or assign `num_gpus=1` for Ray to allocate and assign it for you.

If you are looking to replace flask, checkout [Ray Serve](https://docs.ray.io/en/latest/serve/index.html#rayserve)! You can create flask like endpoint

[2020-10-28 19:03] #11611 closed

[2020-10-28 19:20] amogkam opened #11675 "[SGD] Dcgan Example fails on Azure Cluster"
### What is the problem?
Ray SGD training operator initialization fails during DistributedDataParallel wrapping on Azure cluster, with NCCL backend (Gloo works fine).
[code]

Cluster information:
[code]

`python dcgan.py --use-gpu --num-workers 16 --address=auto`

Looks like it's an NCCL error with that specific Azure instance type.

*Ray version and other system information (Python version, Tenso

[2020-10-28 19:21] richardliaw commented on #11675
@amogkam do you have the full logs?

Also, can you add `NCCL_DEBUG=INFO` into the initialization_commands and print that?

[2020-10-28 19:26] andrijazz commented on #11675
@richardliaw @amogkam here is the full log
[code]

[2020-10-28 19:36] richardliaw commented on #11675
What is in your `initialization_hook`? Do you have `NCCL_SOCKET_IFNAME` configured?

[2020-10-28 19:38] amogkam commented on #11675
`initialization_hook` is
[code]
which is taken straight from https://docs.ray.io/en/latest/raysgd/raysgd_pytorch.html?highlight=initialization_hook#initialization-functions

[2020-10-28 19:44] andrijazz commented on #11675
pytorch version 1.16
nccl
[code]

[2020-10-28 19:46] amogkam commented on #11675
Btw NCCL works fine for single node; the error only happens for multi-node.

[2020-10-28 19:54] richardliaw opened #11676 "[tune] Client API improvements"
The client API is quite useful in tuning situations. However, there are a couple usability improvements that can be made:

 - [ ] Ray Tune Client API doesn't have an example usage
 - [ ] Ray Tune client API hangs after providing a faulty address
 - [ ] Ray Tune client API should have an option of printing a table after handling a GET response

[2020-10-28 19:59] richardliaw opened #11678 "[cli] attach `--tmux` should show parallel command output"
### Describe your feature request

While you can run `ray submit --tmux` twice, it will be unintuitive to the user where the two `--tmux` outputs are being created.

Perhaps we should start them in the same pane as an existing tmux? or let `ray attach --tmux` default to the "multi-window" screen.

[2020-10-28 20:01] richardliaw opened #11679 "[tune] doc should indicate print output"
### Describe your feature request

It'd be great for the intro tune docs to explicitly talk about the print output within the tune function. It can often be very overwhelming or unexpected that everyone prints to stdout.

[2020-10-28 20:10] richardliaw opened #11680 "[docs] tutorial for autoscaling (really basic version)"
### Describe your feature request

We should provide a really simple walkthrough of how to configure autoscaling. This ideally should include diagrams and also critically, talk about how to "monitor" the size of the cluster (and how to read the logs).

The target audience of this document will be folks who are non-distributed systems users.

[2020-10-28 20:18] #11626 closed

[2020-10-28 20:20] richardliaw opened #11681 "[docs] improve tune distributed tuning guide"
### Describe your feature request

The distributed tuning guide currently is a bit hard to follow. We probably want to split it into:

1. User guide (overview features)
2. Walkthrough/e2e example.

[2020-10-28 20:21] Menniti commented on #11648
Hey

Using Ray 1.0.0 I have the same issue,

[code]

The error is:
[code]

Thanks

[2020-10-28 20:52] ericl commented on #11239
I see, so it seems we still don't have a good root cause for the mmap crash (which is not related to the actor check failure?)

Btw

Back on the subject of a sharable repro, how about making a fake env that still dispatches the remote calls? You mentioned a mock env before was not able to reproduce. I suspect the remote calls are critical to reproducing if the error is mmap/object store related.

[2020-10-28 20:54] #11574 closed

[2020-10-28 20:57] Menniti commented on #11648
pip install -U pydantic==1.6

Workes for me !

Thanks

[2020-10-28 21:16] mvindiola1 commented on #10068
@ericl I just re-tested this with the nightly wheel. The result is the same as before. It works with tf but not with pytorch. The error seems to be in evaluation sampling. If I add this to the config `config["input_evaluation"] = []` then pytorch trains without issue. I tried it with `config["framework"]="tfe"` and that failed with a different type of error.

I am willing to hunt the pytorch issue

[2020-10-28 21:23] #11473 closed

[2020-10-28 21:49] ijrsvt opened #11683 "[core] Async Actor Task fails when `max_retries=-1`"
### What is the problem?
An actor task fails when the actor dies, _despite_ having `max_retries=-1` & `max_restart=-1`

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
The easiest way to test this is with Serve
1. Add the following method to `python/ray/serve/controller.py::ServeController`
[code]
2. Add the following between L44 &

[2020-10-28 22:01] yncxcw commented on #11624
Sure, let me try to figure out the answers to these questions.

[2020-10-28 22:13] edoakes commented on #9869
@aeroaks this still requires some scoping to figure out exactly how this integration could work. If you have thoughts about what the API should look like, please share them here! @simon-mo is currently working on a writeup for an MVP -- @simon-mo can you share that here once it's ready so we can get some feedback?

Once we have settled on a design we'd definitely welcome help on the implementation

[2020-10-28 22:45] #9481 closed

[2020-10-28 22:51] mkoh-asapp opened #11685 "[autoscaler/k8s] Kubernetes syncer is kind of spammy"
### Describe your feature request

Can you consider adding the `--quiet` flag to rsync in the rsync helper shell script? Otherwise, it tells you every single file that gets synced on every trial. :)

[2020-10-28 23:06] richardliaw commented on #11685
cc @Gekho457

[2020-10-28 23:20] ediezh commented on #8035
@Vysybyl tried your solution, and it worked! To access the dashboard, you can either do a ssh port forwarding, `ssh -L 8266:localhost:8266 <user>@<remote-head-ip>`, then you will be able to access dashboard `http://localhost:8266` locally.

Or use `--dashboard-host=0.0.0.0` on the head node when you start ray. Then you can access the dahsboard on `http://<remote-head-openvpn-ip>:8266`.

[2020-10-29 00:10] richardliaw opened #11687 "[docs] improve contributor guide"
1. pip install cython==0.29.0 doesn’t work for macOS 10.15
1. /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk/usr/include/sys/_types.h:61:9: error: unknown type name '__uint32_t'; did you mean '__uint128_t'?
1. Pip install cython==0.29 or pip install cython works.

1. Some FAQ for building Ray would be useful.
1. A typical development flow from a

[2020-10-29 00:12] richardliaw opened #11688 "[core] Support log rotation in Ray services"
When the ray cluster runs for a long time or execute many tasks, log files can be large, such as `monitor.err`, full of `could not find ip for client xxxx`. I find parameters `logging_level`, `logging_format` and `log_to_driver ` in `ray.init()`. Is there a way to restrict the size of log files by default, like using `logging.handlers.RotatingFileHandler` and set maxBytes?

![image](https://user-i

[2020-10-29 00:28] andrewredd commented on #11670
Thanks Richard, do you know what the rough timeline for 1.0.2 would be?

On Wed, Oct 28, 2020 at 2:07 PM Richard Liaw <notifications@github.com>
wrote:

[2020-10-29 00:40] richardliaw commented on #11670
In a month. However, @andrewredd can you you filter out inf/nan values for now? i.e., if a value is nan or inf, just set it to a very high or very low number?

[2020-10-29 01:50] chaokunyang commented on #11602
@Litchilitchy Actually it's a ray java related issue, not ray streaming related.

[2020-10-29 04:33] rkooo567 commented on #11624
@yncxcw Actually, can you also try this?

After you start the head / worker nodes, grep your raylet / gcs_server pid and run

[code]

This will give higher OS scheduling priority to raylet and gcs server. I wonder if this will alleviate the issue.

[2020-10-29 05:01] kumarvc opened #11691 "ray serve - model upgrade failing for Tensorflow keras model"
### What is the problem?
For traffic split testing, Model upgrade is failing in [ray serve] for tesnsorflow model. I am able to run demo to upgrade sklearn model but not tensorflow keras model.

I used below statement to connect and create backend for version 2 but it 's failed at stage 2 during backend creation.
client = serve.connect()
client.create_backend("tf:v2", TFVechileModelv2, TRAINED_MOD

[2020-10-29 05:31] rkooo567 opened #11692 "[Placement Group] Default actors won't be scheduled with placement groups."
### What is the problem?

[code]

This won't work because the default actor arguments have num_cpus=0. It means there's no resource that will be scheduled on the placement group-fied resources.

We should create some noop resources for the placement group, and add this resource requirements to all actors and tasks implicitly so that we can avoid this issue.

### Reproduction (REQUIRED)
Please prov

[2020-10-29 05:31] rkooo567 commented on #11692
@clay4444 Do you have bandiwidth to work on this issue?

Also, @richardliaw Do you think this is a blocker for tune integration?

[2020-10-29 05:44] jakeelkins commented on #7627
@ericl apologies for the late comment. I'm running into this exact problem. Could you give a quick example on what you mean by passing a function that creates the env to a remote actor? Thanks in advance.

[2020-10-29 06:00] ericl commented on #7627
e.g.,
[code]

[2020-10-29 06:08] jakeelkins commented on #7627
boom!! that works. thank you so much @ericl that was so simple

[2020-10-29 07:08] rkooo567 commented on #11683
Hmm this looks bad. Is it possible to make a reproducible script without using serve?

[2020-10-29 07:08] rkooo567 commented on #11683
cc @stephanie-wang @ericl

[2020-10-29 07:38] ijrsvt commented on #11683
@rkooo567  I'm not 100% if this exists outside of serve, and I've been trying to hone in on what the actual root cause is.

[2020-10-29 08:08] nadav-jac opened #11695 "[tune] HyperBand doesn't reach max_t"
Hi all.

When using HyperBand, except from the first bracket, no trial is reached to max_t steps. This it due to the next line in the successive_halving() method:

that sets the last milestone in a bracket to (max_t - (max_t/reduction_factor)).

I would love to understand what is the purpose of this feature. In my point of view, it stops the trials before they reached full training as defined by t

[2020-10-29 10:37] anotherbugmaster commented on #9869
Hello everyone. I've just found this project, seems like it has all the features one needs for serving ML models, kudos for that. :)

The only 2 things that's missing is data validation (pydantic models) and openapi/swagger specification. We're building REST API for other developers, so it would be great to have API specification built-in

[2020-10-29 12:15] ffbin commented on #10358
Yeah, we should add some tests.

[2020-10-29 13:45] jeanibarz commented on #10179
Hi,

I'm having some troubles to understand this rollout_fragment_length.... I am training in a multiagent custom environment with IMPALA and the following settings:

[code]

With this configuration, the RL algorithm seems to train well and to be very stable on 3000 different training sessions over 1M steps with different environment parameters:
![image](https://user-images.githubusercontent.com/3

[2020-10-29 14:10] mvindiola1 commented on #10068
I am thinking a change like this in torch_policy::compute_log_likelihoods:
[code]

It is the same thing you did in torch_policy::compute_actions here:
https://github.com/ray-project/ray/blob/91fa7e0b4e8f2dd997b855952e4e8e3bdc0bdb5c/rllib/policy/torch_policy.py#L163-L170

I also noticed that torch_policy::compute_actions_from_input_dict might have the same issue.
https://github.com/ray-project/ray/

[2020-10-29 18:39] rkooo567 commented on #10493
This is not done yet because spdlog is not the default logger yet.

[2020-10-29 18:53] #11649 closed

[2020-10-29 19:05] amogkam opened #11705 "[SGD] Better support for custom DDP"
Right now it's difficult to customize the DDP wrapping for the TorchTrainer. We should
1) Allow users to pass in custom args to DDP (create a `ddp_args` similar to `apex_args`).
2) Provide better documentation on how to use custom Distributed training wrappers.

### Describe your feature request

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray

[2020-10-29 19:10] amogkam opened #11706 "[SGD] Add torch.device property to TrainingOperator"
Have device_ids return a list of torch devices instead of a list of ints.

### Describe your feature request

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

[2020-10-29 19:10] #11659 closed

[2020-10-29 19:18] richardliaw commented on #10812
Added seeding section in FAQ already.

[2020-10-29 19:18] #10812 closed

[2020-10-29 19:19] richardliaw opened #11707 "[tune] documentation/examples improvement thread"
# Improving Tune examples

All examples should have

*   demonstrate how to retrieve best hyperparameter
*   verbose comments for code
*   set verbose=1 for better experience
*   [Load the best model from checkpoint](https://github.com/ray-project/ray/discussions/11332)
    *   (Is there something I missed in the examples? or is the suggested workflow to just get the best hyper settings with ray a

[2020-10-29 19:21] richardliaw commented on #9716
cc @krfricke

[2020-10-29 20:15] stephanie-wang commented on #11683
Oh actually, I think I may have seen this issue before with async actors in general, although I'm not totally sure it's the same issue. Unfortunately I forgot to open an issue earlier :( @ijrsvt can you try with just an async actor and see if you get the same issue?

The problem I saw before was because of the way that actor task retries are implemented. The caller includes an index with each task

[2020-10-29 20:40] richardliaw commented on #11597
I was able to make this close to standard performance by wrapping the BayesOptSearch object with a concurrency limiter:

[code]

[2020-10-29 21:10] waldroje commented on #11239
apologies, been offline for a couple days... not 100% sure @soundway problem and mine are the same, although my error traces look exactly the same... but I tried a bunch of iterations today... different combinations of nodes to make sure it wasn't a specific node causing problems... but I was able to run trials under many scenarios of 4-6 nodes... but when I go to 18 nodes, my trials die immediate

[2020-10-29 21:28] andrewredd commented on #11670
thanks @richardliaw that resolved my question

[2020-10-29 21:40] andrewredd opened #11711 "[tune] MLFlow, Neural Network Training (PyTorch-Lightning), and Cross Validation"
### Describe your feature request

I'm trying to do something that would require repetition similar to that mentioned in: #7744. But I'm having a hard time understanding how I can get the right values piped through the process.

1) I'm running a PyTorch-Lightning Model with the TuneCallback. I've realized that my network is overfitting on my validation when I run hundreds of models. (Good on Valid

[2020-10-29 22:06] crypdick commented on #11439
Having this functionality would enable a (hacky) integration with MetaFlow orchestration/scheduling https://github.com/Netflix/metaflow/issues/365#issuecomment-719045992

[2020-10-29 22:10] ericl commented on #11439
Can you use `ray.available_resources()` to check how many nodes are up? (checking the present condition instead of pending?)

[2020-10-29 22:19] crypdick commented on #11439
@ericl that's a possibility. I'd have to create an arg to  manually specify the number of expected nodes

[2020-10-29 23:05] #11711 closed

[2020-10-29 23:10] wuisawesome opened #11712 "[docker] Install docker by default if necessary"
### What is the problem?

Consider a yaml like this (this is from release testing

[code]

It makes no mention of docker, but will fail because docker is not installed. This is a regression and we should install docker by default if we need to use it.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can

[2020-10-29 23:10] wuisawesome commented on #11712
cc @ijrsvt

[2020-10-29 23:16] richardliaw commented on #11670
let's keep this open so we can track a fix for improving the error message :)

[2020-10-29 23:25] amogkam commented on #9999
Is this still an issue @angshine? Could you also send over the console output you are seeing on all the nodes as well as your python script?

[2020-10-29 23:36] andrewredd commented on #11670
👍

On Thu, Oct 29, 2020 at 7:16 PM Richard Liaw <notifications@github.com>
wrote:

[2020-10-29 23:41] #11712 closed

[2020-10-30 00:02] ericl opened #11713 "Socket connections from GCS stuck in TIME_WAIT after actor death"
### What is the problem?

This is a follow-up from https://github.com/ray-project/ray/issues/11309

Repro script: https://gist.github.com/ericl/73dfd011a5c592e65bae66e6fab52052
Context of TIME_WAIT state: https://vincent.bernat.ch/en/blog/2014-tcp-time-wait-state-linux

One thing to investigate is why the sockets from GCS are stuck in TIME_WAIT, even though the actor should be closing the socket f

[2020-10-30 01:10] ericl commented on #11713
This is a minimal script to reproduce:

[code]

If you watch the number of file descriptors used by GCS server, it rapidly increases to many hundreds:
[code]

[2020-10-30 01:12] ericl commented on #11713
A few notes:
- In the above workload, actors are killed by KillActor() in the core worker. This does not appear to call Shutdown() on the gRPC server.
- Modifying the kill path to call Shutdown() does not solve the problem.
- Neither does modifying KillActor() in the GCS server to only send the kill RPC and not close channels immediately (they will be cleaned up on receiving the worker death notif

[2020-10-30 03:44] SanaIRnI opened #11715 "Unable to create ActorHandle for already created inherited classes object list [java][ray]"
### What is the problem?
I have a list having different child class objects inheriting from same parent class. But when I try to pass this object list to ActorHandle, it gives below error:

java.lang.ClassCastException: actors.misc.Calendar cannot be cast to io.ray.api.ActorHandle

I have written below code :
for(TimedActor actor: actors_mod) {
				counters.add(Ray.actor((RayFunc0<TimedActor>) act

[2020-10-30 06:11] #11313 closed

[2020-10-30 07:58] ashione commented on #10493
It should be closed.

[2020-10-30 09:01] LianShuaiLong opened #11718 "[tune] final model saved is different from the best model?"
### What is the problem?
when i test the pbt algorithm in ray, i replace the ConvNet in with my own model
and my test data is same with train data
but i find the final model saved is not the best model
![image](https://user-images.githubusercontent.com/23699530/97680009-fde38c00-1ad0-11eb-8ec7-06f891bf4ee3.png)

*Ray version and other system information (Python version, TensorFlow version, OS):*
r

[2020-10-30 09:55] raulchen commented on #11640
Do you have a link of the failed test?

[2020-10-30 18:07] simon-mo commented on #8678
Can you try running `kubectl get pods -n ray` and paste the output here while the "final two lines repeated every five or six seconds"?

[2020-10-30 18:28] doctorcolossus commented on #8678
[code]

[2020-10-30 18:30] rkooo567 commented on #10493
@ashione You mean that PR turns it on by default?

[2020-10-30 18:56] doctorcolossus commented on #8678
I guess that this state indicates success, right? If so, maybe the `error: unable to upgrade connection: container not found` should be changed to a warning. And although it's not terrible to have to start it twice, it could probably make other people's lives easier if we could figure out how to make it work on the first run.

[2020-10-30 19:23] suquark opened #11721 "Specify the serializer for a certain object"
### Describe your feature request

The default serializer has many issues with certain objects. One case is the pydantic model. We can specify a flag `__ray_serializer__` in these object types to enforce ray using pickle as the default serializer instead. This avoids changing other functions like `ray.put`, `ray.remote` and `xxxx.remote(...)`. This could also cover our major cases and is super fle

[2020-10-30 20:46] simon-mo commented on #11721
@pcmoritz please take a look.

[2020-10-30 21:03] #11685 closed

[2020-10-30 21:45] simon-mo commented on #11721
@robertnishihara raised a good point:

@suquark thoughts?

[2020-10-30 22:05] AlessandroZavoli opened #11724 "[rllib] cluster resource are not correctly found"
### What is the problem?

I'm trying a simple pole-cart environment on a cluster,  but I cannot understand the following message:

2020-10-30 15:06:08,500 WARNING worker.py:1072 -- The actor or task with ID ffffffffffffffffdf5a1a8201000000 is pending and cannot currently be scheduled. It requires {CPU: 1.000000} for execution and {CPU: 1.000000} for placement, but this node only has remaining {nod

[2020-10-30 23:13] suquark commented on #11721
hmmmm, that's a good question. how about another style:

[code]

[2020-10-31 00:01] pcmoritz commented on #11721
The with context won't work I think because the user doesn't have control over the Ray codepath that invokes the serialization. We should try to overload `__reduce__` for these objects, that should allow you to have full flexibility on how to serialize those objects. If the actual class is not serializable/too large, you can also return a function as the first return value of `__reduce__` to reins

[2020-10-31 00:30] erezinman opened #11725 "[Feature Request] [Tune] Add a special 'evaluation-step' flag to avoid unnecessary lengthy evaluations"
I have a suggestion for a small change in Ray-Tune's  Trainable  - add the flag is_evaluation_step as a member to allow for better control over when evaluate the model.
It could speed-up performance greatly in tuning algorithms where inference takes a long time (such as tuning the very popular variants of 1NN-DTW for time-series, or similar); or when the tuning-by-metric takes a lot of time to cal

[2020-10-31 00:34] erezinman commented on #11725
Can't delete the discussion. I opened it prior to your request to open it as an issue, so I linked to it

[2020-10-31 00:59] simon-mo commented on #11721
I think @pcmoritz has a great idea here:

[code]

Now I just need to define unparse as:
[code]

[2020-10-31 01:24] suquark commented on #11721
yeah, a trivial solution is to overload `__reduce__` with pickle.dumps, so cloudpickle then pickles the pickled content again.

[2020-10-31 01:36] dciborow commented on #7645
this solution was previously working... looks to have recently broken again.

[2020-10-31 01:36] #9483 closed

[2020-10-31 08:47] xieydd commented on #10803
I alo meet this error, when i set "--dashboard-host=xxx", it is ok.

[2020-10-31 09:19] ashione commented on #10493
I turn it on in https://github.com/ray-project/ray/pull/10967.

[2020-10-31 10:38] clay4444 commented on #11514
fixed.

[2020-10-31 10:38] #11514 closed

[2020-10-31 11:24] erezinman opened #11728 "[tune] Error in 'run' and not in 'debug'"
Using Ray Tune, I get the weirdest error while training.
This error occurs during 'run' mode, but not in 'debug'.

A MWE:
[code]

If I either remove the annotation from `arg` or remove the `pandas` import statement, it works just fine (well, in this case it will obviously raise an error, but that's excpected). If I run the code like this in `run` mode, I get the following error:

  File "~/optimiz

[2020-10-31 16:51] richardliaw commented on #11728
This is very odd... what if you move the pandas import to after you import ray?

cc @suquark

[2020-10-31 20:16] MohamedGouaouri opened #11732 "Installation error"
How to solve please ?
`ERROR: Could not find a version that satisfies the requirement ray==1.0.0 (from versions: none)`

[2020-10-31 21:41] sumanthratna commented on #11732
Hi @MohamedGouaouri! What OS are you on? You'll likely need to build Ray from source; try following the steps in this link and let me know if it works: https://docs.ray.io/en/releases-1.0.0/development.html.

[2020-10-31 21:56] RodgerLuo opened #11733 "[rllib] IMPALA returns Actions as Nan"
### What is the problem?

OS: Ubuntu 16.04
Ray: 1.0.0
Python: 3.6
PyTorch: 1.4.0

IMPALA returns Actions as NaN during training, which results in the following error:
[code]
It happens in several gym environments and customized environments as well.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies

[2020-11-01 22:26] sergeivolodin commented on #9964
@richardliaw any updates? Do you want me to try different tf versions? Thank you.

[2020-11-02 04:39] richardliaw commented on #9964
Hmm, could you try the latest Ray wheels (latest snapshot of master) to see if this was fixed?

[2020-11-02 06:25] LianShuaiLong commented on #11718
hi, when i upgrade ray to 1.0, and i run the same python file ，then i get error ' No module named 'setproctitle' ocurrs

[2020-11-02 06:58] LianShuaiLong commented on #11718
thanks for your suggestion,

[2020-11-02 08:07] arpang opened #11744 "Bazel build failing with dyld: Symbol not found"
### **Info**
Ray version: master
Python version: Python 3.8.6
OS : macOS Mojave version 10.14.6
C++ version:
[code]

### **Problem**
On running the command `bazel build -c fastbuild //:ray_pkg `, I am getting

[code]
Any pointers will be helpful, thanks in advance!

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs wit

[2020-11-02 08:26] sven1977 commented on #11376
There is a hierarchical_training.py example in the examples folder, where this is done with a single trainer and two policies ("multi-agent" setup). You can then specify config-overrides within the "policies" config key:
[code]

[2020-11-02 08:27] sven1977 commented on #11382
It should be fine. I'm developing it on Mac and Win in python envs that both do not have MuJoCo installed.

[2020-11-02 08:27] sven1977 commented on #11382
What exactly are you running (command line, etc..)? Could you give more specifics?

[2020-11-02 08:42] sven1977 commented on #11668
Could you try the latest master?
It seems to be fixed now, I can run the above example fine on my GPU machine using the exact same yaml file as you and being on the latest master branch.

Here is the PR that fixed this (presumably):
https://github.com/ray-project/ray/pull/11033

Let me know, if this doesn't work.

There should be a more specific error message (something related to some torch tenso

[2020-11-02 09:10] oasfuyou commented on #5073
change the code "trainer = ppo.PPOTrainer(config=config, env=MetisEnv)",to "trainer = ppo.PPOTrainer",the config in the tune.run will instance a new trainer

[2020-11-02 09:19] sven1977 commented on #11620
Thanks for filing this!
Also, ideally, it should work fully automatically - just like in torch - w/o even having to call register_variables().
Will fix as suggested for now ...

[2020-11-02 09:34] m3t4n01a commented on #11376
Thanks @sven1977 !
I completely missed the policy overriding.

[2020-11-02 09:34] #11376 closed

[2020-11-02 09:54] sven1977 commented on #11620
The suggested solution above would not work well if a model does not have a base_model prop.
We should instead fully automate variable registration (using the keras model's trainable_variable() method to collect all sub-modules' variables). The use should not have to register variables manually anymore.
This would make tf models behave just like torch ones.
Milestone: https://github.com/ray-projec

[2020-11-02 10:18] ljendele commented on #11668
Hi @sven1977,

thanks for looking into this! I didn't see any more specific message or longer stack trace that what I have posted. However, I tried running with the latest wheels and the issue does seem to fixed. The PyTorch version does not seem to converge unlike the TF version. That's a different issue and most likely related to different initialization?

I will try ApeX execution plan with our

[2020-11-02 11:22] #11296 closed

[2020-11-02 11:43] #11732 closed

[2020-11-02 13:22] ttumiel commented on #11620
Sorry, I didn't mean this as a general solution (since it assumes the use of base_model). Maybe we could use __setattr__ like pytorch to add variables to an internal dict (https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/module.py#L798) or subclass keras's Layer class.

[2020-11-02 13:24] arpang commented on #11744
The issue was resolved with the help of this comment: https://github.com/ray-project/ray/issues/4727#issuecomment-488767829

[2020-11-02 13:24] #11744 closed

[2020-11-02 13:53] Purpleslz opened #11750 "[rllib]: PrioritizedReplayBuffer new data default weight equals 1."
In PER paper: https://arxiv.org/pdf/1511.05952.pdf , newly added data's priority is the maximum priority in the replay buffer.

In rllib implementation, newly added data priority equals 1: https://github.com/ray-project/ray/blob/4ccfd07a614c3b0620e75ccb47c327bb0f817299/rllib/agents/dqn/dqn_tf_policy.py#L417

It seems like a bug, this is by design or not?

[2020-11-02 14:49] pengzhenghao opened #11754 "[rllib] Behavior Cloning leaks memory"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Behavior Cloning leaks memory. Using `timesteps_per_iteration` will make leakage much faster.

I am using Ray 1.0.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or m

[2020-11-02 15:02] pengzhenghao commented on #11754
I think the issue is related to #9961 .

The document say `replay_buffer_size ` refer to the steps, while in practice it refers to the number of batches. This is extremely misleading.

[code]

[2020-11-02 15:17] dHannasch opened #11756 "Linter failing on rllib/utils/exploration/epsilon_greedy.py"
### What is the problem?
The linter is failing with
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):* master

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):
`./ci/travis/ci.sh lint`
If we cannot run your scr

[2020-11-02 17:01] ienkovich opened #11760 "[Core] Ray breaks alignment for NumPy arrays of doubles"
### What is the problem?
I'm using Ray 1.0.0 with Python 3.8.3 on Ubuntu 18.04

When I use Ray to serialize/deserialize a NumPy array of doubles, I get an unaligned NumPy array (data is not 8-byte aligned).

### Reproduction

Here is a reproducer I use
[code]

The output is:
[code]

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issu

[2020-11-02 17:02] #11756 closed

[2020-11-02 17:24] #11718 closed

[2020-11-02 18:18] #10707 closed

[2020-11-02 18:18] richardliaw commented on #10707
should be fixed

[2020-11-02 18:50] ericl commented on #11760
Is this a regression from Ray 0.8 series?

[2020-11-02 18:52] ericl commented on #11369
Closing this for now, as we cannot reproduce (perhaps related to ulimit).

[2020-11-02 18:52] #11369 closed

[2020-11-02 18:55] robertnishihara commented on #11760
I think we actually want the arrays to be 64-byte aligned for performance reasons. I know we guaranteed that when we were using pyarrow for serialization. @pcmoritz @suquark

[2020-11-02 18:56] #11347 closed

[2020-11-02 18:56] #9850 closed

[2020-11-02 19:03] andrewredd opened #11764 "[tune] Best way to tune hundreds of models"
# Describe your feature request

I need to tune several hundred XGBoost models. I'm planning on using a machine with 112 cores, implementing early stopping at the trial level (not using hyperband) and allowing the algorithm to have 4 cores to per trial. I'm planning on sequentially looping through each model (out of roughly 200 and tuning them individually) I have three questions:

1) Is there a b

[2020-11-02 19:10] ejunprung commented on #9551
Hi @richardliaw, we've upgraded to Ray 1.0 but this error still occurs.

However, I think we've figured out the problem. Since we use AWS spot instances, training can abruptly stop and resume at any given moment. When this happens, I think it messes up Ray's reference counting. The solution is to either use dedicated AWS instances that don't cut out randomly or restart the training from scratch.

[2020-11-02 20:00] ericl commented on #11760
Interesting, so this may have been broken for some time now.

[2020-11-02 20:05] rkooo567 commented on #11715
cc @kfstorm

[2020-11-02 20:13] aregm opened #11765 "[ray] Critical security vulnerabilities in Redis/Lua dependency"
### What is the problem?

- Ray version and other system information (Python version, TensorFlow version, OS):  1.x

3 Ray components have *critical* security vulnerabilities that prevent them from deploying into any enterprise or cloud infrastructures for production usage.

- c-ares
Current version - 1.14.0 OUTDATED
Latest version  - 1.16.1
CVE-2016-5180
CVE-2007-3152
CVE-2007-3153

- Lua
Current

[2020-11-02 20:15] wuisawesome commented on #11765
Thanks, I believe all those dependencies come from Redis. @barakmich is already working on upgrading our redis dependency.

[2020-11-02 20:23] rkooo567 commented on #11765
@wuisawesome We should include this update to 1.0.1?

[2020-11-02 20:30] vnlitvinov commented on #11760
Food for thought: I've tried pickling and unpickling back (by using builtin `pickle` module and calling `pickle.loads(pickle.dumps(arr, -1))`), and unpickled array is properly aligned, while retrieved via Ray is not.

[2020-11-02 20:42] #9849 closed

[2020-11-02 21:58] mfitton opened #11766 "[Dashboard] Error in datacenter line 201"
### What is the problem?
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):* Nightly, running with the autoscaler on AWS
### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments): User did not provide script

If we cannot

[2020-11-02 21:59] wuisawesome commented on #11765
@barakmich your call.

[2020-11-02 23:25] ericl opened #11772 "[Object Spilling] Avoid client starvation when spilling"
Currently, when spilling is triggered, clients retry indefinitely until space "shows up" in the object store.

As discovered in https://github.com/ray-project/ray/pull/11673, this simple policy doesn't work well when there are many concurrent clients spilling. Some clients might end up waiting forever for space to free up (e.g., if they are allocating larger objects, or get unlucky).

Solving this

[2020-11-03 00:07] #10295 closed

[2020-11-03 00:35] goelakash opened #11773 "[Wheel] Cannot import `dataclasses` module after installing Ray on MacOS with Python3.6"
### What is the problem?
Ray installation for MacOSX and Python 3.6 is missing the dataclasses module, which is only packaged Python 3.7 onwards, and is required to be installed separately by the user for older python versions. This should be automatically installed (as fixed by this commit - https://github.com/ray-project/ray/commit/67c653c0537c1a6ce8e87799e55e34cdcd037550). Maybe this commit isn

[2020-11-03 00:38] richardliaw commented on #11764
cc @krfricke

[2020-11-03 02:39] ericl commented on #11713
Interestingly this is a complete non issue with 0.8.5 (the owner fd count doesn't increase at all).

[2020-11-03 03:00] ericl commented on #11713
@raulchen has reported this isn't an issue in Ant due to use of a separate RPC system (not gRPC).

[2020-11-03 04:07] kfstorm commented on #11715
Hi, @SanaIRnI. Sorry for the late reply.

Your way of creating actors seems a bit strange to me. We usually pass a method to `Ray.actor(...)`, not an instance of a class. There are typically two ways for creating actors:

1) Creating from a constructor.

Suppose we have an actor class named `Counter` with a constructor `Counter(int initValue)`, we can create an actor instance via `ActorHandle<Coun

[2020-11-03 04:07] kfstorm commented on #11715
cc @raulchen @chaokunyang

[2020-11-03 05:57] kfstorm commented on #10493
@rkooo567 Should we turn it off by default or close this issue?

[2020-11-03 06:02] wumpus commented on #11287
I'm attempting to use the released pypi ray on travisci with 3.9 and travis says:

[code]

Am I doing it wrong?

3.9 was released October 5, that's nearly a month ago. I feel bad that I didn't try to mark my python packages as supporting 3.9 until now. Do I need to wait for some future release of ray that supports 3.9?

[2020-11-03 06:27] rkooo567 commented on #10493
No. Since it is not included in the next release, I think it’d be okay to turn it on by default.

[2020-11-03 06:27] #10493 closed

[2020-11-03 06:30] rkooo567 commented on #11773
cc @architkulkarni Can you take a look at this? I believe you made a PR about this.

[2020-11-03 08:45] Lewisracing opened #11781 "Apply Ray on multi-node PBS cluster"
Hi,

I'm having difficulty in starting ray on a multi-node cluster.
I'm using a university cluster with a job submittion script as below. How should I initialize ray on such a PBS system?
Many thanks

[code]

[2020-11-03 09:00] adriendoerig commented on #5757
I have the same problem with AsyncPPOTFPolicy. My policy behaves as expected with 'num_gpus: 1' but throws the same error at me with 'num_gpus: 2'.

Is there any known way to fix this?

[2020-11-03 10:21] viotemp1 opened #11782 "ray.tune - Lifecycle of a trial - where to set max_retries?"
Hello,

Where can I set max_retries when using tune.run? I'm running tune.run with tensorflow on a single workstation with two GPUs.

I'm trying to use this feature from trial lifecycle:
ERRORED: If a running trial throws an exception, Tune will catch that exception and mark the trial as errored. Note that exceptions can be propagated from an actor to the main Tune driver process. If **max_retries

[2020-11-03 11:19] krfricke commented on #11782
Hi @viotemp1, I think the parameter was renamed to `max_failures` - could you try setting this in `tune.run()`? E.g.

[code]

If you set it to `-1` it will retry an infinite number of times.

[2020-11-03 11:27] viotemp1 commented on #11782
Hi @krfricke,

I use max_failures=4 but I do not see the tasks going to PENDING. They are going to ERROR state after 4 retries.
I was looking for this behaviour:  If max_retries is set, Tune will set the trial back into “PENDING” and later start it from the last checkpoint.

So the tasks which require most GPU memory (end eventually failed because of this) will be left as PENDING and eventually re

[2020-11-03 11:46] HarvinderBhullar opened #11783 "RaySGD: Pytorch code does not work with Mlflow"
Mlflow code  is not working with cifr_pytorch_example.py example code. I am registering my experiments after shutting down training, (I tried before shutting down training as well without success) the program just hangs without any activity. I could not find anything related to this issue in the logs.  I am facing this issue only with PyTorch, tensorflow code is working fine.

I am using rayprojec

[2020-11-03 12:28] viotemp1 commented on #11782
Now I see there is Discussion section for this type of questions.
Should I close here on open in Discussion section?
Regards,

[2020-11-03 13:38] krfricke commented on #11782
It's fine to leave it here for the time being. Could you provide us with a bit more context, e.g. your `tune.run()` command? Specifically it would be helpful to see if you're requesting resources correctly. Do you pass `resources_per_trial` to `tune.run()`?

If not, you should try it:

[code]

This will request 1 GPU per trial, and it will only schedule trials if a GPU is free and available. You c

[2020-11-03 13:58] viotemp1 commented on #11782
Hello,

I'm doing resource allocations (general and per trial) - see bellow.
The ideea is that for most of trials I do not have errors, but some combinations of higher no of filters/units for conv2d/dense/LSTM from my model - give OOM when 2 tasks are running in parallel on one GPU.
Failed/Errored trials I would run later on with resume and only one trial not more - this is the solution I'm trying

[2020-11-03 14:22] AlessandroZavoli opened #11785 "[ray] - Testing ray on SLURM scheduler"
Dear all,
how can i test if ray cluster is properly setup when launching on a cluster with a SLURM scheduler?

when running a tipical rllib example
    rllib train --run=PPO --env=CartPole-v0 --config '{"num_workers": 4, "num_gpus": 1}'
on the login node, the code correctly find the proper number of cpus and gpus

instead when allocating the resource via slurm
    salloc -N1 --ntasks-per-node=1 --

[2020-11-03 14:29] viotemp1 commented on #11782
Just to make the question a little bit more clear: I set max_concurrency to 2, one task use 0.45 GPU and the next one has 0.55 GPU available, but does not fit into this (because the model is larger). The last task is not going to PENDING, but to ERROR after few retries.
![Screenshot 2020-11-03 at 16 23 15](https://user-images.githubusercontent.com/34300519/97997367-8fb10900-1df1-11eb-8163-26a6ae6d

[2020-11-03 16:48] richardliaw commented on #11782
Can you please post the error logs? The trial may be in "PENDING" for a very short period of time if there is space on the Ray cluster.

[2020-11-03 16:49] richardliaw commented on #7744
Ah, I think the resolution was to just not use this type of computation pattern.

[2020-11-03 16:54] richardliaw commented on #11783
Can you please post  the error message that you're getting?

[2020-11-03 17:06] mfitton commented on #9157
FYI, this issue is fixed in the new dashboard backend, which will be released with 1.0.2 and is currently in the nightly.

[2020-11-03 17:06] #9157 closed

[2020-11-03 17:34] #11484 closed

[2020-11-03 17:37] #10863 closed

[2020-11-03 17:55] viotemp1 commented on #11782
Hello,

You might me right, maybe I do not see it in Jupiter cell output  - refresh is not very frequent. I’m using verbose=1
Are you talking about experiment_state….json file? There are some lines there with "status": “PENDING” indeed.

Or I should look for another log file? Sorry, not sure about log filenames and their locations., that’s why I’m asking.
Should I set verbose to 2?

Regards,
Viore

[2020-11-03 18:11] wuisawesome commented on #11287
Yeah we don't have an official wheel for 3.9 yet (in fact I haven't had the time to test Ray on 3.9 at all yet).

Would you be interested in testing/contributing one?

[2020-11-03 18:41] rkooo567 commented on #11457
@ankur6ue can you verify if the issue is resolved in the latest version?

[2020-11-03 18:42] rkooo567 commented on #11601
cc @allenyin55

[2020-11-03 18:44] rkooo567 commented on #11640
@raulchen Check out this link! https://flakey-tests.ray.io/

Also, @ffbin will take care of this.

[2020-11-03 18:45] rkooo567 commented on #11648
@simon-mo will handle this issue alongside https://github.com/ray-project/ray/issues/11773.

[2020-11-03 18:45] rkooo567 commented on #11661
Fixed in the latest master

[2020-11-03 18:45] rkooo567 commented on #11661
Sorry it was a different one.

[2020-11-03 18:45] rkooo567 commented on #11662
Fixed in the latest master

[2020-11-03 18:45] #11662 closed

[2020-11-03 18:46] rkooo567 commented on #11671
cc @richardliaw

[2020-11-03 18:46] #11671 closed

[2020-11-03 18:47] HarvinderBhullar commented on #11783
Program just hangs before following line. I waited for 20 minutes.
[code]

[2020-11-03 18:47] rkooo567 commented on #11691
cc @mfitton

[2020-11-03 18:48] rkooo567 commented on #11760
@ericl What's the action item here?

[2020-11-03 18:49] rkooo567 commented on #11773
Please try https://ray-distributed.slack.com/archives/C01DLHZHRBJ/p1604425438226300?thread_ts=1604362613.219300&cid=C01DLHZHRBJ

[2020-11-03 18:49] rkooo567 commented on #11781
@richardliaw Do you know any good person he can communicate to?

[2020-11-03 18:54] #11781 closed

[2020-11-03 18:58] #11764 closed

[2020-11-03 19:12] stephanie-wang opened #11789 "[Object spilling] Object spilling can deadlock if there aren't enough IO workers"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* dev

IO workers are used both to spill and restore objects from external storage. If an IO worker is trying to restore an object, but there is not enough space, another object needs to be spilled to make room. This can cause a deadlock since the same IO worker is needed to spill the objec

[2020-11-03 20:26] ljendele commented on #11668
Thanks a lot for the pointers. I tried running with our custom environment with the latest wheels. The Error raised reading from queue is gone now and RLlib trains (and very fast). However, for some runs, I get the following error:

[code]

Is it possible that there is some race condition between the trainer and the TargetNetwork updater?

[2020-11-03 20:40] SanaIRnI commented on #11715
Hi kfstorm
You have mentioned two ways of creating Actors . But my requirement is bit different.
The methods you mentioned create new object of class Counter from its constructer or factory method and then that object is passed to Ray.actor().remote.
In my case I already have list of objects created, now I need to convert these lists of objects as Ray Actors. I am copy pasting my complete method :

[2020-11-03 21:10] ericl commented on #11789
Could we alternatively use a separate pool of workers for restore?

[2020-11-03 21:41] rkooo567 commented on #11789
I like that idea. I believe the implementation shouldn't be more complicated than making IO workers to process multiple requests in parallel. I will write a simple impl doc later.

[2020-11-03 21:43] edoakes commented on #11691
@kumarvc does the call to `set_traffic` fail and throw an exception? Or is the only error you're seeing the error from the dashboard?

[2020-11-03 21:58] valiantljk opened #11791 "name 'Actor' is not defined"
### What is the problem?
Followed the example in https://docs.ray.io/en/master/package-ref.html#ray.util.ActorPool
Trying to test ActorPool, with the following code
[code]
Got error:
`name 'Actor' is not defined`

*Ray version and other system information (Python version, TensorFlow version, OS):*

- Ray version: 1.1.0-dev0
- OS: Darwin
- Python: 3.8.3

### Reproduction (REQUIRED)
Please provide a

[2020-11-03 21:58] #11791 closed

[2020-11-03 22:02] stephanie-wang commented on #11789
Yes, good idea!

[2020-11-03 22:26] richardliaw commented on #11783
Hi @HarvinderBhullar can you try moving the entire model into CPU? Or perhaps using torch.save instead of pickle?

[2020-11-03 22:30] richardliaw commented on #11547
For reference, the fix is to import sklearn modules before Ray:
[code]

[2020-11-04 01:48] damvantai commented on #3265
thank you very much!

[2020-11-04 02:46] aregm commented on #11765
@barakmich any response?

[2020-11-04 03:36] #9666 closed

[2020-11-04 03:41] EDario333 commented on #1013
Nothing! In fact, temporary I left the attempts, gotta work in other stuffs... Perhaps is something related with Ray, I would really love to support the project but I don't have enough time for that.

I'll keep an eye on this.

Best wishes!

[2020-11-04 05:02] wuisawesome commented on #10872
#11615  closed this

[2020-11-04 05:02] #10872 closed

[2020-11-04 05:04] wuisawesome commented on #10717
Closed by #10826

[2020-11-04 05:04] #10717 closed

[2020-11-04 05:41] richardrl opened #11797 "Tune report histograms"
Last I checked, tune.report(...) cannot be used to report histograms.

[2020-11-04 06:14] #11091 closed

[2020-11-04 06:15] #11495 closed

[2020-11-04 06:23] #8257 closed

[2020-11-04 06:23] #9069 closed

[2020-11-04 08:03] ijrsvt commented on #11683
A similar issue I noticed is ([full stack trace](https://gist.github.com/ijrsvt/855b49330a54327a72bcbf2f0cbe9926)):
[code]
This is reproducable with this [script](https://gist.github.com/ijrsvt/b59fbc281b0b0d557ca3e7610d51b575) _{No serve needed}_

[2020-11-04 08:05] fatenghriss opened #11798 "rllib: Make single agent execution plans reusable/more modular"
In a multi-agent environment, it is common to experiment with different types of agents in one setting, based on a certain condition, such as this [example](https://github.com/ray-project/ray/blob/master/rllib/examples/two_trainer_workflow.py).

In that example, we are basically re-writing the execution plan of every single agent into a mixed multi-agent plan, which results in a lot of duplicate a

[2020-11-04 08:33] #10068 closed

[2020-11-04 09:16] krfricke commented on #11797
Hi @richardrl, could you elaborate on what exactly you're trying to get or plot? What kind of histograms are you looking for?

If you run `analysis = tune.run(...)` the `analysis.dataframe` will contain trial results and could be used with matplotlib to construct histograms over the objective values.

[2020-11-04 10:11] kfstorm commented on #11715
@SanaIRnI If I understand correctly, you want to make the execution of concurrent queues parallel, but not distributed. You still want to execute `ParentClass::preExecution` of different queues in the same process.

Ray is a framework for building distributed applications. You need to create actors and run tasks on remote nodes/workers to make your application distributed. I'm not sure if this is

[2020-11-04 12:21] sven1977 commented on #11401
Can you try to just convert the torch tensor passed into torch.nn.functional.one_hot() to long?
Like so:
[code]

[2020-11-04 12:26] sven1977 commented on #11401
Here is the PR that fixes this in DQN (it was already fixed in SimpleQ):
https://github.com/ray-project/ray/pull/11800

[2020-11-04 12:29] sven1977 commented on #11644
Maybe a int (0) vs str ("0") problem?

[2020-11-04 12:31] sven1977 commented on #11644
Oh, I see. Can you change "policy_graphs" into "policies"? The key "policy_graphs" has been deprecated.

[2020-11-04 12:42] sven1977 commented on #11644
Also, make sure that your env is a valid RLlib MultiAgentEnv, ExternalMultiAgentEnv, or BaseEnv, not a plain gym.Env.
If you would like to use a plain gym.Env, you will have to wrap it first via e.g. `rllib/examples/env/multi_agent.py::make_multi_agent("CartPole-v0")`
Then pass the `num_agents=[int]` arg into your env_maker.

[2020-11-04 12:42] #11644 closed

[2020-11-04 12:43] sven1977 commented on #11733
Hmm, yeah, IMPALA does not really learn well (or at all) in continuous action spaces (such as Pendulum). We made it such that it does run, but I really wouldn't recommend it. You should use SAC, PPO, or DDPG for cont. action problems.

[2020-11-04 12:43] #11733 closed

[2020-11-04 12:45] krfricke commented on #11797
Sorry, I think I misread your question. Still, it would be good if you could elaborate on what kind of histograms you're trying to report and what you're aiming to do with them later (e.g. how should schedulers/searchers react, or how you would want to interact with the histograms in general).

[2020-11-04 12:48] sven1977 commented on #11754
Closing this. This has been fixed here:
https://github.com/ray-project/ray/pull/10957 (not part of ray 1.0.0, only available in current master!).
A warning has been added and a counting bug related to returning the correct buffer size has been fixed.

[2020-11-04 12:48] #11754 closed

[2020-11-04 13:19] kishansagathiya commented on #11112
Hi @rkooo567, Have you started working on this?
I am trying to do this, and wanted to confirm the flow with you.

- All the actors are stored in `registered_actors`  (src/ray/gcs/gcs_server/gcs_actor_manager.cc), which could be used to list actors.
- An rpc method could be created say `ListActors`, which would get all the actors using `GetRegisteredActors` and return useful information about actor

[2020-11-04 13:40] devin-petersohn opened #11801 "Linux nightly wheels on documentation return 404"

[2020-11-04 13:53] futurepaycc commented on #6900
update windows probable the key

[2020-11-04 14:25] devin-petersohn commented on #11801
I also tried a number of git hashes and they were not working for me either. Are the wheels being built and uploaded properly?

[2020-11-04 15:25] sven1977 commented on #9576
This has been addressed in the master branch. The driver process now does not create an env anymore, if not needed.
It'll only create an env, iff:
a) num_workers=0 (driver has to do the sampling)
OR
b) config[create_env_on_driver] = True

Closing this issue. Please feel free to re-open, should this not address your problem.

[2020-11-04 15:25] #9576 closed

[2020-11-04 15:26] sven1977 commented on #9576
Here is the PR:
https://github.com/ray-project/ray/pull/11307

[2020-11-04 16:43] drmarios opened #11803 "Strange cached results with Windows cluster"
I'm using Ray cluster on Windows and encountered strange behavior. There are two functions below, f1() which sets a numpy array to value=5 and function f2() which sets numpy array to value=10. Now comes interesting part: if you execute shutdown() after calling 1st function and then try to access returned results at a later point they will be overwritten by f2() calls. Is this really expected behav

[2020-11-04 17:16] #11803 closed

[2020-11-04 17:29] rkooo567 commented on #11112
Oh, I was thinking to implement this in this weekend. Is it a hard blocker for you guys?

There's already an API called `ray.actors()`, which shows a list of actors in the cluster. We can probably add a name field there for actors that have names.

[2020-11-04 17:37] rohithill commented on #9116
@RocketRider  Ray uses single cpu only when in local_mode. See #8359

[2020-11-04 18:01] rkooo567 commented on #11801
There's an issue with latest doc. It should work if you use the master doc https://docs.ray.io/en/master/index.html

[2020-11-04 18:23] rkooo567 commented on #9551
cc @stephanie-wang Have you seen this issue before?

[2020-11-04 18:34] PidgeyBE commented on #11112
Hey @rkooo567
@kishansagathiya  is in our team, we asked him to start working on this as we could definitely use this functionality and would love to have it in the next release.

[2020-11-04 19:40] stephanie-wang commented on #9551
Sorry I can't really say without more information...it would help to have a reproducible example.

[2020-11-04 19:51] stephanie-wang commented on #11683
Yes that was the same issue that I saw earlier. I can think of two options to fix right now:
1. Force the caller to process an actor's replies in the order of initial submission. Probably not desirable since it could block the results of later tasks.
2. The caller should always set the index at which to restart task submission to the first task that it hasn't received a reply for yet. So if it sub

[2020-11-04 19:51] gladisor opened #11807 "[Rllib] Expected all tensors to be on same device. Found cuda:0 and cpu! While running ddpg with tune"
### What is the problem?
Hi,

This is my first issue. If I am missing any information please let me know and I will add it. I am trying to test the ddpg algorithm with a simple benchmark environment CartPole-v0. If I run with config['num_gpus'] set to 0 there is no problem. However If I set it to 1 then I get the following error.

*Ray version and other system information (Python version, TensorFl

[2020-11-04 20:04] #11436 closed

[2020-11-04 21:24] amogkam commented on #9923
This error happens again in the latest release

[2020-11-04 21:49] richardliaw commented on #11797
Can you try doing:

[code]
This should create a histogram on Tensorboard.

[2020-11-04 21:58] #11705 closed

[2020-11-04 22:01] amogkam commented on #10096
This is now easily doable with #11771! You can pass in custom ddp_args via the TrainingOperator.

[2020-11-04 22:01] #10096 closed

[2020-11-04 22:13] devin-petersohn commented on #11801
Linux wheels are not accessible from that link either.

[2020-11-04 22:14] rkooo567 commented on #11801
Hmm I think we are currently failing to push wheels after we started using manylinux10. Let me get back to you

[2020-11-04 22:35] simon-mo commented on #11801
For a workaround change the manylinux2014 -> manylinux1 in the url, e.g.:
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.1.0.dev0-cp36-cp36m-manylinux1_x86_64.whl

This should give you access to linux wheels from Nov. 3 before 05c4e3fb2a3b36ceea90cac4104d8466a0cc2ac5

[2020-11-04 22:40] AlexandraVolokhova opened #11813 "[rllib] AttributeError: 'MetricsContext' object has no attribute 'counter'"
Hello!

I tried to run Dreamer and got `AttributeError: 'MetricsContext' object has no attribute 'counter' `

That happens because of the typo here:
https://github.com/ray-project/ray/blob/92718de40c6ee67e37b25988d7f3c9f72df4dcb4/rllib/agents/dreamer/dreamer.py#L202

It should refer to `counters` instead of `counter` as follows:
`metrics.counters[STEPS_SAMPLED_COUNTER] *= self.repeat`

I fixed it

[2020-11-04 23:00] dHannasch commented on #11724
This is a total shot in the dark, but that error message can incorrectly appear when Ray runs out of available *ports* for the workers. Are you specifying `--worker-port-list`?

[2020-11-04 23:02] AlessandroZavoli commented on #11724
No, i just run that command inside a SLURM scheduler

[2020-11-04 23:03] simon-mo commented on #11801
We just merged a PR from @ijrsvt that will hopefully resolve this issue, will keep this updated.

[2020-11-04 23:22] #11370 closed

[2020-11-05 01:51] zzchuman commented on #11644
Thank you! I have try to change the policy graphs to policies. It works! Thank you!

[2020-11-05 02:04] simon-mo commented on #11801
Should be fixed now, please check it out: https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies

[2020-11-05 02:04] #11801 closed

[2020-11-05 02:04] mfitton commented on #11691
There's no reason a dashboard failure would affect the model upgrade, but it'll still be good for me to look into this issue, as the dashboard should be the natural way to debug this.

[2020-11-05 04:21] rkooo567 commented on #11813
cc @sven1977

[2020-11-05 06:40] #9923 closed

[2020-11-05 07:35] simon-mo commented on #11551
I will try to reproduce this on a local k8s instance.

[2020-11-05 08:34] zzchuman opened #11823 "[rllib] rllib curiosity"
Hello Ray & rllib!
   I find that you have the curiosity with torch! Have you  write it use the tensorflow?

[2020-11-05 08:39] viotemp1 commented on #11782
I was looking for longer time and I see tasks in PENDING.
We can close this question.
Regards,
Viorel

[2020-11-05 09:10] WangTaoTheTonic opened #11825 "[GCS]Split heartbeat message"
### Describe your feature request

Design document: https://docs.google.com/document/d/1l-P8_nDEjQYHhDNQPETZHKbHbDACLRzg5-FmqpFVd0M/edit#

The basic idea is to split resource reporting from heartbeat message, keeping the latter as simple as we can.

The change could be very large(about 1K lines code), so I use a couple of PRs to implement it:
- [x] Decouple node failure detector with resoure relat

[2020-11-05 14:44] wangzelong0663 commented on #7908
Have you solved your problem? I meet the same problem and still donnot know how to solve it...

[2020-11-05 15:23] waldroje opened #11833 "[autoscaler] Ray cluster start / re-start fails under certain conditions"
### What is the problem?
When restarting a cluster, and -` ray stop; ray start` are executed, it seems to create a race condition and often fails indicating ray is already running... rectified for now by putting - sleep 5 in between, but maybe better way to handle that.
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray latest .whl, Python 3.7, TF 2.3,

[2020-11-05 15:38] synapsesanddendrites opened #11834 "[tune] Tune runs until 'trials did not complete' error"
Python: 3.7.7, Pytorch: 1.6.0, Ray 0:8:1

I have the following script to tune the architecture of a regression model with 5 inputs and 225 outputs. It runs for a while but will eventually error after several runtime errors of the form 'RuntimeError: The size of tensor a (***) must match the size of tensor b (225) at non-singleton dimension 1'. *** is the size of a tunable layer in the optimization

[2020-11-05 15:58] wumpus commented on #11287
happy to test, with a clue I could probably build it.

[2020-11-05 16:15] krfricke commented on #11834
Hi @synapsesanddendrites, does the `train_reg()` function work if you instantiate the Network manually, i.e. without Ray Tune? On a first glance this doesn't seem to be a Tune error but rather something in your model.

[2020-11-05 16:16] krfricke commented on #11834
In any case it would be helpful to see which parameters (i.e. which values for l1, l2 etc) cause the problem.

[2020-11-05 16:24] synapsesanddendrites commented on #11834
'train_reg()' does run on its own. I have see the error with different sizes of 'tensor a' drawn from the distribution of layer sizes. I will see which 'l' parameter this seems to correspond to.

[2020-11-05 16:24] utke1 commented on #11166
Hi @mfitton  - sorry for the delay - I tried this morning's (Nov/5) nightly pulled from https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-1.0.0-cp36-cp36m-manylinux1_x86_64.whl
With that I got this error:
[code]

[2020-11-05 17:09] TommasoBendinelli opened #11836 "[Tune] PermissionError: [Errno 13] Permission denied: '/home/labuser' when running a cluster"
I am trying to run a cluster of two nodes. Separetely they work fine, but if I am starting them together I am getting this error on both computers.

I am using ray 1.0.0 on Python 3.8.5 on both machines. Seems related to this #4326, but I am using an updated version

2020-11-05 18:07:24,485 ERROR trial_runner.py:567 -- Trial DEFAULT_5eddadab: Error processing event.
Traceback (most recent call las

[2020-11-05 17:37] ArturNiederfahrenhorst commented on #5757
I have not worked on that issue, sorry. Does the execution plan automatically create a multi GPU Learner thread if you hand it more than one GPU resource?

[2020-11-05 17:45] krfricke commented on #11782
Great, let us know if there's anything else!

[2020-11-05 17:45] #11782 closed

[2020-11-05 18:19] viotemp1 commented on #11782
I did open some other threads in Discussion pane, thanks.
Anyhow, I start to like ray(tune) more and more. Very good job!

[2020-11-05 19:12] #11823 closed

[2020-11-05 19:14] rkooo567 commented on #11833
@waldroje This must've been resolved in the nightly. Can you try? https://github.com/ray-project/ray/pull/11735

[2020-11-05 19:14] rkooo567 commented on #11836
cc @richardliaw

[2020-11-05 20:43] richardliaw commented on #11836
Can you make sure `/home/labuser` is an accessible folder on all machines?

[2020-11-05 22:05] #11329 closed

[2020-11-05 22:05] edoakes commented on #11299
See #11480

[2020-11-05 22:05] #11299 closed

[2020-11-05 22:08] #11833 closed

[2020-11-05 22:08] #10255 closed

[2020-11-05 22:10] edoakes commented on #11070
@kfstorm @rkooo567 status on this?

[2020-11-05 22:12] #11597 closed

[2020-11-05 22:14] ericl commented on #11080
Should be fixed now

[2020-11-05 22:14] #11080 closed

[2020-11-05 22:16] edoakes commented on #11765
Won't make the cut for 1.0.1

[2020-11-05 22:32] ericl commented on #11765
We have to fix a number of upgrade issues with the latest redis, but it should be available in nightlies soon.

[2020-11-05 22:51] mkoh-asapp opened #11840 "[autoscaler] Ability to hide output of rsync and setup_commands"
### Describe your feature request

When I run `ray up` or call `create_or_update_cluster(...)`, the terminal is filled up with output from either `rsync` (from file_mounts, etc) or any commands i put in `setup_commands`. These can get pretty spammy.

It would be nice to be able to suppress these unless verbose output is requested explicitly.

[2020-11-05 23:25] richardliaw opened #11841 "[cli] `--block` always returns nonzero exit code"
### Describe your feature request

When starting a raylet with `--block`, the expected behavior is for the node to exit with exit code 0 if the cluster is shut down successfully.

Unfortunately, that is currently not the case? I ran the following command on a *worker node*, then ran *ray stop* on the driver node.
[code]

[2020-11-05 23:28] edoakes commented on #11841
@richardliaw we don't really have a notion of a "graceful shutdown" for clusters started with `ray start` at the moment. I don't see `ray stop` as being the right answer -- that's more of a forceful shutdown in my eyes. Maybe we should add the ability to `SIGINT` the `ray start` process and make that a graceful shutdown?

[2020-11-05 23:35] richardliaw commented on #11841
Hmm,

got it

How would this work? Would the head node be responsible for sending a sigint to the worker ray processes? (Just so that we're on the same page, the goal is to have the entire cluster "stop gracefully" upon termination of the Ray job).

cc @tgaddair

[2020-11-05 23:45] edoakes commented on #11841
Ah well we don't have any mechanism at the moment to gracefully stop the whole cluster. This should probably just be handled at the cluster manager level though (e.g., call ray stop on autoscaler or let k8s tear down your pods).

[2020-11-06 00:10] richardliaw opened #11843 "[cli] Bad Error if `ray start` on worker before the head node is up"
We get this terrible non-descript error message:

[code]

cc @tgaddair @rkooo567

[2020-11-06 00:14] richardliaw commented on #11843
Actually, on `master`, I get the following error when trying to connect on an unready head:

[code]

[2020-11-06 00:18] richardliaw commented on #9170
@nlnjnj this should be fixed on the current master.

[2020-11-06 00:23] richardliaw commented on #5119
@pengzhenghao does this still happen on 1.0?

[2020-11-06 00:30] richardliaw commented on #11843
Actually, this is a duplicate of #5119 .

[2020-11-06 00:30] #11843 closed

[2020-11-06 00:30] richardliaw commented on #9170
This is a duplicate of https://github.com/ray-project/ray/issues/5119

[2020-11-06 00:30] #9170 closed

[2020-11-06 00:54] architkulkarni opened #11845 "[Serve] psutil error, possibly memory related"
### What is the problem?
When running a lot of replicas, the following psutil traceback occurs:
[code]

If I use fewer replicas (4 instead of 12), there are no errors, so maybe it's just not handling an out of memory issue gracefully.

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray master branch and latest wheels, Mac OS, python 3.6, tensorflow 2.3.0, tran

[2020-11-06 01:36] suquark commented on #11760
@robertnishihara I almost sure when moving from pyarrow to pickle5, the buffer is still aligned:

https://github.com/ray-project/ray/blob/28e7439cf049bc54774f77d5a4dc166565aa7e3b/python/ray/includes/serialization.pxi#L301-L307

For large chunks, we align the buffer to 64 bytes(kMajorBufferAlign); for small chunks, we align it to 8 bytes (kMinorBufferAlign).

[2020-11-06 02:16] richardrl opened #11847 "Option to run script in Docker locally from YAML"
It would be very helpful to be able to generate the Docker locally from the YAML configuration file, similar to the "local_docker" flag in doodad.

The alternative is for the user to quite messy. For example, the user will have to manually/write a custom bash script to run all the `setup` commands locally (it doesn't make sense to duplicate this information with a custom bash script when it's alre

[2020-11-06 02:29] richardliaw commented on #11847
cc @ijrsvt what are your thoughts?

[2020-11-06 04:29] mdeib commented on #4827
It looks as though this still needs addressed. In addition to being extremely clunky there also does not seem to be any way to get the model on the GPU with pytorch due to tensors in the ddpg_torch_model.py file being defaulted onto the CPU. Setting a custom model should override all other model settings just like in every other RLlib algorithm to allow ease of generalization and usability.

[2020-11-06 04:49] TommasoBendinelli commented on #11836
Thank you for the answer, how can ensure that? Do I need to change the folder permission?

[2020-11-06 06:07] #11568 closed

[2020-11-06 06:07] #11813 closed

[2020-11-06 06:31] aaronhmiller opened #11850 "[launching cluster] `ray up` on Kubernetes failing"
### What is the problem?
Following the documentation: https://docs.ray.io/en/latest/cluster/launcher.html

When running `ray up example-full.yaml` receive an error:

jsonschema.exceptions.ValidationError: Additional properties are not allowed ('rsync_filter', 'rsync_exclude' were unexpected)

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray --version: `ray,

[2020-11-06 06:39] lisawhite137 opened #11851 "[autoscaler] Error: no such option: --webui-host"
When I used this [example](https://docs.ray.io/en/latest/cluster/launcher.html#launching-a-cluster-ray-up), the following error occurred.

[code]

Origin log as follow:
[code]

Ray version: 1.0.0
Kubectl version: 1.19.3

### Reproduction (REQUIRED)
[code]

- [☑️] I have verified my script runs in a clean environment and reproduces the issue.
- [☑️] I have verified the issue also occurs with the [l

[2020-11-06 06:52] lisawhite137 commented on #11851
some one already fixed it before 24days.

[2020-11-06 06:52] #11851 closed

[2020-11-06 07:41] richardliaw commented on #11836
I think you could try something like `touch /home/labuser/marker.log` on each machine?

[2020-11-06 07:43] aaronhmiller opened #11853 "[serve][quickstart] _pickle.PicklingError"
# What is the problem?

Running the existing `https://ray.io/#serve` sample and the newer one: `https://github.com/ray-project/ray/blob/master/python/ray/serve/examples/doc/quickstart_class.py` throw errors.

Focusing on the newer one, here's the full traceback:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray version, 1.0.0
Python 3.7.3
OS Version:

[2020-11-06 08:03] TommasoBendinelli commented on #11836
So I tried `touch /home/labuser/marker.log` on one machine and `touch /home/tommaso/marker.log` on the other. I tried to start to run again the cluster. Note that on the two computer the users name are different

[2020-11-06 08:12] richardliaw commented on #11836
Could you get the same absolute path for both machines?

[2020-11-06 08:13] TommasoBendinelli commented on #11836
Okey, a news from my side. on the labuser computer I created folder called tommaso in the home filesystem. Now I can bypass the error. So I guess that each node must have the same user and same paths

[2020-11-06 08:17] TommasoBendinelli commented on #11836
The thing, is that I am not an admin on a computer, so in general I am forced to use different users

[2020-11-06 08:31] viotemp1 opened #11854 "[tune] ray.tune HyperOptSearch - points_to_evaluate list"
Hello,

I tried HyperOptSearch with points_to_evaluate like below:

[{'tf_window_size': 15.0, 'tf_img_size': 64.0, 'tf_model_optimizer_movingaverage': 3, 'tf_model_dropout': 0.0, 'tf_model_optimizer': 8, 'tf_conv_layers': 2.0, 'tf_conv_no_neurons': 192.0, 'tf_lstm_layers': 2.0, 'tf_lstm_no_neurons': 128.0, 'tf_dense_layers': 2.0, 'tf_dense_no_neurons': 128.0}, {'tf_window_size': 12.0, 'tf_img_size

[2020-11-06 08:43] richardliaw commented on #11836
Hmm, do you have a /work or /tmp that you can access?

[2020-11-06 08:49] TommasoBendinelli commented on #11836
I have a personal computer with one GPU, where I have a user called tommaso, and then I can access to this computer where I have access to the path /home/labuser. I cannot really do anything that is outside this labuser folder or sudo related

[2020-11-06 09:05] krfricke commented on #11854
Hi @viotemp1, could you please clarify the sequence of events here? It is not clear to me when you stopped the trial and what exactly you're resuming.

Are you starting a run, stopping it, changing the `points_to_evaluate` parameter and trying to resume?

How many trials are you starting in total?

[2020-11-06 09:20] viotemp1 commented on #11854
Hi @krfricke,

The points_to_evaluate I load from a csv file (where I save best 2 trials results of experiment using ray Callback on_trial_result)

I would like to use these 2 parameters as starting point whenever I run again the experiment or resume.

When starting experiment without resume, everything looks fine, the best two hyperparams loaded before from csv and mentioned in the first post are

[2020-11-06 09:24] soundway commented on #11239
@ericl Didn't get to spend too much time on this in the last week but thought I should give an update on my part.

Regarding the dispatches of remote calls -- that was one of my earlier suspicions as well, so I wrote some similar versions for the Q-bert/mocked environments quite early on. Unfortunately, its inclusion doesn't seem to have much impact (and I just recently tested them again and obser

[2020-11-06 09:42] richardrl opened #11855 "[Tune] Wait for instances to spin up before giving up on jobs"
I am using Ray 1.1 dev0 installed from wheel.

If you run "ray submit --start ... " with AWS, and you are starting a new cluster, the "submit" will get killed if you are waiting on worker nodes to spin up:

`ray.tune.error.TuneError: Insufficient cluster resources to launch trial: trial requested 4 CPUs, 1 GPUs, but the cluster has only 0 CPUs, 0 GPUs, 8.64 GiB heap, 2.98 GiB objects (1.0 node:10.

[2020-11-06 11:08] TommasoBendinelli commented on #11836
I have access to tmp/, so I can place everything there. Actually I think the best would be having an NFS server accessible from all nodes and configure the logging path there

[2020-11-06 16:01] Gekho457 commented on #11850
Try commenting out the lines involving `rsync_exclude` and `rsync_filter` in `ray/python/ray/autoscaler/kubernetes/example-full.yaml`
and, just in case, also in
`ray/python/ray/autoscaler/kubernetes/defaults.yaml`
These options aren't compatible with Ray 1.0.0.

[2020-11-06 16:28] karstenddwx opened #11858 "[rllib] How to handle missing rewards in a MultiAgentEnv"
We have a MultiAgentEnv scenario where a single agent is selected per step that executes his action, and only one agent receives a reward, all others not.
Now the question is: how to handle these non-existing rewards?
The default is to return None (see multi_agent_env.py). This contradict with what is expected in the deploy-script rollout.py, where None is not allowed, as it crashes in line 433.
T

[2020-11-06 16:57] aaronhmiller commented on #11850
Thank you @Gekho457. I'll submit a tiny PR to update those. Both indicate the options are not compatible w/ K8S.

[2020-11-06 16:57] #11850 closed

[2020-11-06 17:31] architkulkarni commented on #11853
Duplicate of https://github.com/ray-project/ray/issues/11648.  Thanks for reporting, and sorry you ran into this!

[2020-11-06 17:31] #11853 closed

[2020-11-06 17:45] simon-mo opened #11860 "Asyncio equivalent of ray.wait"
### Describe your feature request
Currently `await asyncio.wait([object_ref])` will still call a ray.get under the hood. This incurs data transfer overhead. We are missing a ray.wait equivalent that doesn't pull the data.

[2020-11-06 17:48] edoakes commented on #11860
To be precise, it doesn't actually call `ray.get` under the hood, but it does fetch the data using a similar mechanism (just want to avoid potential confusion for readers).

[2020-11-06 18:02] edoakes commented on #11845
@architkulkarni is this consistently reproducible in a clean env with the above script?

[2020-11-06 18:11] ijrsvt commented on #11847
@richardliaw I think this is rather doable! The only question is it is not quite complete--file_mounts & initialization_commands would be rather hard to execute!

[2020-11-06 18:15] synapsesanddendrites commented on #11834
Actually you were quite right, the issue was the batch size parameter which I did not vary in tests. The validation did not work when this was larger than one.

[2020-11-06 18:15] #11834 closed

[2020-11-06 18:23] richardrl commented on #10216
Also, I believe ` ray rsync-up -A my_yaml.yaml` is currently completely reuploading all the mounts, its not incremental

[2020-11-06 18:24] rkooo567 commented on #11847
@ijrsvt I will assign yourself to the request. Feel free to set the priority.

[2020-11-06 18:25] rkooo567 commented on #11855
cc @krfricke

[2020-11-06 18:26] architkulkarni commented on #11845
Yes, I've added some more comments about the env (python 3.6, tensorflow 2.3.0, transformers 3.4.0)

[2020-11-06 18:26] ijrsvt commented on #11847
Thanks @rkooo567

[2020-11-06 18:45] #11112 closed

[2020-11-06 18:49] rkooo567 commented on #10216
@richardrl Can you create a feature request?

[2020-11-06 19:37] richardliaw opened #11863 "[cli] `ray rsync-up YAML` ignores the excluded files"
I think `ray rsync-up` currently ignores the excluded files in the YAML (it does not exclude anything)

_Originally posted by @richardrl in https://github.com/ray-project/ray/issues/10216#issuecomment-723190040_

[2020-11-06 19:38] richardliaw opened #11864 "[cli] ` ray rsync-up -A my_yaml.yaml` is not incremental?"
Also, I believe ` ray rsync-up -A my_yaml.yaml` is currently completely reuploading all the mounts, its not incremental

_Originally posted by @richardrl in https://github.com/ray-project/ray/issues/10216#issuecomment-723230263_

[2020-11-06 19:39] richardliaw commented on #10216
I did it just now.

On Fri, Nov 6, 2020 at 10:49 AM SangBin Cho <notifications@github.com>
wrote:

[2020-11-06 20:07] richardliaw commented on #11855
@richardrl do you set `queue_trials=True`?

[2020-11-06 20:52] EricPfleiderer opened #11866 "[Tune] TuneBOHB implementation of save/restore methods for checkpointing and resuming of experiments"
Hi,

I am using TuneBOHB and HyperBandForBOHB to run large experiments and was trying to test checkpointing and resuming experiments when I saw that

![image](https://user-images.githubusercontent.com/43475831/98413367-7ef9d080-2047-11eb-9826-924918594450.png)

However, when I checked the master, I saw that the necessary methods have been implemented in SigOptSearch and DragonflySearch to enable t

[2020-11-06 21:04] barakmich commented on #11765
As regards Redis: We've been fine this whole time.

Just because a newer version is available (a major version bump, which means upgrade issues), doesn't mean the CVE applies to the version we currently have. The issue quotes CVE-2020-14147.

According to the folks at Gentoo, it's fixed as of Redis 5.0.9: https://security.gentoo.org/glsa/202008-17
And according to Debian, it's fixed upstream in 5.

[2020-11-06 21:39] devin-petersohn commented on #11765
@barakmich I am disappointed that this is your response, it is not an attitude that is friendly to enterprise users. Enterprise users are very sensitive to security issues, and, by extension, Ray developers will need to be sensitive too if enterprise adoption is expected. I am sure it is a big ask to update the Redis dependency, but we cannot suggest to our customers to use Ray when there are know

[2020-11-06 22:10] crypdick commented on #10929
I have a usecase where ordering isn't necessarily based on cheapest node. I have a Ray Serve Actor whose resource allocation is simply num_gpu=1 and a couple CPUs. In this case, I am bottlenecked by network I/O so my ranking is based on bandwith per GPU.

[2020-11-06 22:44] wuisawesome commented on #11765
Hey just to recap this conversation:

It seems like from a purely technical perspective, Ray has a different threat model than Redis, so a RCE vulnerability for Redis isn't a a dealbreaker (since the attacker that can connect to Redis would have a much easier time executing remote code by connecting as a Ray driver).

Using an old version of Redis _is_ still a problem though because from a complia

[2020-11-06 22:49] aregm commented on #11765
@wuisawesome Thanks, that will solve the problem.

[2020-11-06 23:23] stephanie-wang commented on #11772
Reopening since I found in #11796 that there are still some issues with the current method of queuing. I think we can fix some of the issues by moving the OutOfMemory retry logic into the plasma store, instead of retrying on the client-side.

[2020-11-06 23:37] richardliaw opened #11867 "[tune] Automatically detect/activate proper SyncConfig given autoscaler"
## Describe your feature request

This is a common failure mode.

[code]
One common problem is that the user is using K8s or Docker with the autoscaler, and they do not remember to set DockerSyncer or KubernetesSyncer in the SyncConfig.

Instead, we should automatically detect the autoscaler configuration presence and activate these syncers without the user knowing about it.

@krfricke

cc @mkoh-a

[2020-11-06 23:40] richardliaw commented on #11836
Yeah, that sounds good. I'll close this issue for now, as I think this is resolved.

[2020-11-06 23:40] #11836 closed

[2020-11-07 03:16] amogkam opened #11871 "[Tune] Add more custom Error Types"
Currently all Tune related errors result in a `TuneError`. But it makes more sense to have more custom error types (like `TuneInsufficientResourceError`) so it is easier for upstream libraries (like tune-sklearn) to handle them.

[2020-11-07 09:20] carlos-vl commented on #8035
I am also interested in using ray as a task queue to transparently offload heavy computations from local machines (e.g., laptops) to a server/cluster on the same network. I planned to do this as mentioned above, by connecting the laptops to the cluster by running `ray start` with `--num_cpus=0` to ensure that no processing runs at the laptops.
My main doubt is: could the laptops run ray on windows

[2020-11-07 15:06] ingambe opened #11875 "[rllib] Problem when specific state size of the environment + Numpy Warning"
There is two problems:

- When the state has a specific size (**210**), we have an error, and the actor die
- A warning message about non-writable array from Numpy (discussed previously on the slack channel: https://ray-distributed.slack.com/archives/CMVUQ22JD/p1602160939157200)

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 1.0.0 but also tried with the

[2020-11-07 16:42] PidgeyBE commented on #11080
Still having issues with it.
This shows up as plain text in the dashboard in the latest nightly, when autoscaling:

[code]

[2020-11-08 04:51] richardliaw commented on #11864
Seems to be resolved.

[2020-11-08 05:23] richardliaw commented on #11867
This requires a utility function for identifying whether it's using an autoscaling cluster.

[2020-11-08 22:02] viotemp1 opened #11879 "tune - quniform distribution"
Hello,

quniform distribution looks more like gaussian. Shouln't be more flat?

code:
ht = tune.quniform(32, 96, 32)
#ht = tune.qloguniform(1e-4, 1e-2, 1e-4)
#ht = tune.loguniform(1e-4, 1e-2)
evaluated = [ht.sample() for _ in range(num_samples)]
df = pd.DataFrame(evaluated, columns=["var1"])
display(df.describe())
df["count"] = df.groupby('var1')['var1'].transform('count')
display(df.drop_duplicat

[2020-11-09 01:51] richardliaw commented on #11855
Fixed with queue_trials=True

[2020-11-09 01:51] #11855 closed

[2020-11-09 02:03] rkooo567 commented on #11879
cc @richardliaw

[2020-11-09 03:06] dHannasch commented on #1380
@ericl @richardliaw Is this needed on all nodes, or only on head nodes?

I'm not sure I'm quite understanding, but it seems like if the the node were *not* the head node, then the `redis_address` (well, `address` these days https://github.com/ray-project/ray/blob/master/python/ray/worker.py#L662) would be the address of the head node, rather than localhost, right?

That is, would it be sufficient

[2020-11-09 03:09] pcmoritz commented on #11760
@suquark Could it be that the relative addresses are aligned, but not the start? Maybe we need to make sure to make `ptr` aligned in here: https://github.com/ray-project/ray/blob/master/python/ray/includes/serialization.pxi#L360

Can you test that and create a PR for it?

[2020-11-09 03:09] robertnishihara commented on #11760
@suquark it's definitely not aligned right now, e.g.,

[code]

[2020-11-09 04:27] SanaIRnI commented on #11715
Hi @kfstorm

I understand well Ray is used for building distributed applications. We want our application to be distributed, and as Ray is now providing Java support we are trying to port our application Ray Java.
I want to make Parent class as Ray actor and want all the classes that is extending parent class to execute its tasks on remote/worker node.

[2020-11-09 06:10] kfstorm commented on #11715
@SanaIRnI I'm not sure why you talk about parent class and child class. Does the parent/child pattern make a difference here?

Can you try creating instances of child class with `ActorHandle<ChildClass> actor = Ray.actor(ChildClass::new, arg1, arg2, ...).remote()`? Ray actors need to be created remotely. If you already have instances of ChildClass locally, they cannot be distributed later.

If you

[2020-11-09 06:35] simon-mo commented on #11551
Ok so I tried running this
[code]

On nightly wheel+docker image, using minikube on a pretty beefy machine (32 cores). Running:
[code]

I saw what @PidgeyBE observed, even though the head node has enough resource, an extra worker is started, and after 10+ seconds, that worker not crashed somehow. And monitor failed with
[code]

[2020-11-09 07:00] ericl commented on #11858
I'm not sure I see why zero rewards is a problem. Since the agent is being trained to take the action maximizing the sum of future rewards (sum from t=0 to end of r(t)), won't adding extra zero reward terms have no effect on the optimization?

Do you mean zero vs None as affect the temporal discounting (dynamically adjusting discount _is_ something that seems commonly used, that we could support i

[2020-11-09 08:06] AmeerHajAli commented on #11551
@simon-mo , thanks for reporting this.
Will make a quick fix.

[2020-11-09 08:20] karstenddwx commented on #11858
No, temporal discounting is not used.

The problem is that our episode (optimization scenario) consists of one step only. It's not like a game or such things.
With one action being made to our environment, we can directly decide on good or bad action based on the single reward value.

[2020-11-09 08:33] zzchuman opened #11887 "custom Trainer"
Hello, I want  to wirte a custom trainer class!

But, I do not know the differance of custom trainer /custom policy and custom model.

Besides, I usually use the trainer in main.py. And I know it use tune.run in tune model.

[2020-11-09 09:09] PidgeyBE commented on #11551
I haven't seen the exact issue of @simon-mo, but have faced several others. I was wondering if k8s autoscaling is tested in CI/CD?

[2020-11-09 10:09] SanaIRnI commented on #11715
Hi @kfstorm

I implemented the solution you provided, but it gave me null pointer error while creating objects of ProxyClass. PFB error stactrace :
java.lang.NullPointerException
        at io.ray.api.call.ActorCreator.remote(ActorCreator.java:41)
        at simulator.RayBasedSimulator.preExecution(RayBasedSimulator.java:30)
        at simulator.Simulator.simulate(Simulator.java:34)
        at sim

[2020-11-09 10:15] kfstorm commented on #11715
Did you forget to call `Ray.init()`? BTW, which ray version are you using?

[2020-11-09 10:37] SanaIRnI commented on #11715
Oh sorry my bad, I forgot to call Ray.init() at start in void main(). My ray version is
After initilizing Ray and running the application got below error :

I1109 16:06:09.952931 22207 22208 global_state_accessor.cc:25] Redis server address = 192.168.140.63:53029, is test flag = 0
I1109 16:06:09.954768 22207 22208 redis_client.cc:146] RedisClient connected.
I1109 16:06:09.963248 22207 22208 redis_

[2020-11-09 11:37] kfstorm commented on #11715
Ray can only handle serialization for classes that implement Serializable or Externalizable. Do you think you can add `implements Serializable` for `SubClass`?

[2020-11-09 12:33] kumarvc commented on #11691
@edoakes, Call to set_traffic fail and throw an exception and hence unable to perform split testing for tensorflow model

[2020-11-09 13:07] krfricke commented on #9716
Thanks @asmv for the issue.

I added a test here: https://github.com/ray-project/ray/pull/11889

It seems contexts are already being finalized when trials are stopped by Tune. I'm not sure if this is due to our changes on the function API (we introduced a graceful trial shutdown, but the test still worked for me when I removed that) or default Python behavior. Can you take a look at the test and c

[2020-11-09 13:32] TommasoBendinelli opened #11891 "ray up, hangs indefinitely"
I have the following yaml file:
[code]

when running ray up test.yaml, I get the following
[code]

And then it is stuck forwever. Am I missing something?

[2020-11-09 14:04] mkoh-asapp commented on #11867
I missed the part in the docs explaining this so I had to have Richard explain it to me. But even after I set the syncer on `tune.run`, it wasn't working for me. I realized that this is because we are passing `Experiment` directly to `tune.run`, instead of passing a function or class. Once I set the syncer on the `Experiment`s, then it worked, but that was not very clear from the docs.

Maybe it i

[2020-11-09 16:02] ArciAndres opened #11895 "[rllib] Update pip version"
### `pip` version outdated

I bumped with a problem where the master version is needed. Ray **v1.1.0** is not loaded as pip module yet, and installing the nightly version is not working either, as both are v.1.0.0.

### Reproduction

The entire sequence of steps for reproduction is described in the following NotebooK

https://colab.research.google.com/drive/1SJHadMoAg2CmsLeYoTicGgZG8tpWoiRO?usp=sh

[2020-11-09 17:23] edoakes commented on #11691
@kumarvc I see, that's not good. Is it possible for you to provide a standalone script that will reproduce the issue? If you can provide that we should be able to fix it in short order.

[2020-11-09 17:30] krfricke commented on #11854
So when resuming a run the `HyperoptSearch._hpopt_trials` variable will be restored from the checkpoint. This means that everything passed as `points_to_evaluate` will be overwritten (and thus ignored).

We should consider throwing a warning for this.

However, if you started trials with this config before stopping (and resuming), the trials should have run on the initial call. Has one of the tria

[2020-11-09 18:08] viotemp1 commented on #11854
Clear now. points_to_evaluate will have values from first run with resume=False.
Thanks a lot!

I'm testing also NevergradSearch these days. Any chance this search algorithm to have initial points_to_evaluate?
Regards,

[2020-11-09 18:53] rkooo567 commented on #11891
cc @ameer

[2020-11-09 19:02] gimzmoe commented on #5959
I took at stab at building but failed, but I'm not exactly proficient...
I think this would be an appealing use, especially with the [turing pi 2](https://turingpi.com/turing-pi-2-announcement/) coming out soon.

[2020-11-09 19:05] architkulkarni commented on #11773
The fix actually was already in the nightly wheels.  After installing the nightly wheel, to update dependencies, you still have to run `pip install "ray[rllib]" "ray[tune]"` again, according to the note here https://docs.ray.io/en/master/installation.html.

[2020-11-09 19:05] #11773 closed

[2020-11-09 19:19] richardliaw commented on #11670
(opening to address Schedulers)

[2020-11-09 19:20] AmeerHajAli commented on #11891
Can you explain a bit more on where this is running?
What do you mean by `min_workers: 1` when you did not provide any worker_ips?
Are you trying to run this on your laptop?
Which ray version is that?

[2020-11-09 19:22] #5119 closed

[2020-11-09 19:37] #9716 closed

[2020-11-09 19:56] simon-mo commented on #5959
Thanks for taking a stab, @gimzmoe, can you post the error?

[2020-11-09 20:14] rohan-gt commented on #9983
@edoakes I was thinking that maybe you could use it to run a large no. of embarrassingly parallel processes like batch processing data or even as a backend for ray.tune where you can asynchronously call a 1000 lambdas to parallelly run multiple hyperparameter combinations instead of using the system's cores for multiprocessing

[2020-11-09 20:35] SanaIRnI commented on #11715
@kfstorm Thanks for the help, it finally worked for one function will be implementing it in whole project. Also I got error in my UI interface which for now I have commented. Will check if that error is due to Ray or in geneeral.
Thanks again for quick help 👍

[2020-11-09 21:44] krfricke commented on #11670
I tested #11835 with schedulers and it seems to work fine. Added unit tests for this as well: https://github.com/ray-project/ray/pull/11835/files#diff-3883e3ca074a1c1aa4339e6a35f1baeff54eac485cacf65522b650a5df16c063

[2020-11-09 22:05] krfricke commented on #11854
I'm afraid there isn't, as is true for most other algorithms. However, I don't see why we shouldn't support this - as long as the algorithms accept function evaluations for arbitrary configurations, this should be straightforward to implement.

Would adding this to Nevergrad something you might want to look into?