[2021-06-25 18:08] DmitriGekhtman opened #16679 "[ray debug][kubernetes] ray pdb connection error on k8s"
### What is the problem?

`ray debug` fails on k8s with a connection error
[code]

Discussion:
https://discuss.ray.io/t/using-ray-debug-with-the-official-helm-chart/2655

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue

[2021-06-25 18:10] devinsaini commented on #15650
I'm also seeing this error in dashboard_agent.log:

`2021-06-25 13:55:12,704 ERROR reporter_agent.py:539 -- Error publishing node physical stats.
Traceback (most recent call last):
  File "/home/devin/anaconda3/envs/phx/lib/python3.8/site-packages/ray/new_dashboard/modules/reporter/reporter_agent.py", line 534, in _perform_iteration
    records_reported = self._record_stats(stats, formatted_status

[2021-06-25 18:40] DmitriGekhtman commented on #16612
Failed with **Ray 1.3.0**
Running once more

Command executed
[code]
Confirming that the commit hash is the right one:
https://github.com/ray-project/ray/tree/releases/1.3.0

Traceback from terminal
[code]
Current # nodes: 249, target: 250
Waiting ...
Current # nodes: 249, target: 250
Waiting ...
Traceback (most recent call last):
  File "distributed/test_distributed.py", line 190, in <module>

[2021-06-25 18:41] mgerstgrasser opened #16681 "[rllib] WandbLoggerCallback crashes if a gym.spaces.Dict object is in the config dictionary."
### What is the problem?
WandbLoggerCallback fails if there is a gym.spaces.Dict object in the rllib config dictionary, e.g. because an agent's observation space is being set to this. The problem seems to be that [wandb.py:34](https://github.com/ray-project/ray/blob/master/python/ray/tune/integration/wandb.py#L34) tries to access `len()` of the gym.spaces.Dict object, which fails.

[code]

*Ray ve

[2021-06-25 18:41] wuisawesome commented on #16612
max clients sounds like a configuration issue. strange that it's only coming up on 1.3, but still.

[2021-06-25 18:46] DmitriGekhtman commented on #16612
hmm, what's our course of action?

[2021-06-25 18:49] DmitriGekhtman commented on #16612
trying with 1.2.0 just for kicks

[2021-06-25 19:45] #16630 closed

[2021-06-25 20:00] HuangLED opened #16682 "[raysgd] Placement group support in RaySGD"
We would like to request RaySGD to have placement group support.

More specifically, when starting a RaySGD trainer, we would like to assign resource allocations (num_workers, maybe other things as well) to a set of placement groups first, then RaySGD arrange training workers accordingly based on the placement-group specifications.

One particular toy example would go like this: Let say there are

[2021-06-25 20:11] akelloway opened #16683 "[rllib] Callback on_episode_end with MultiAgentEnv not returning empty dict for last_info"
### What is the problem?
With a MultiAgentEnv and for a on_episode_end custom callback (at least, I have not tested other callbacks or Envs) I am expecting to see the last info dictionary for each agent but I am seeing only empty dictionaries for each agent.

I think I have tracked down the issue to [this line](https://github.com/ray-project/ray/blob/9b17c35bee6a28b4b09ede36fdb9fdced3929f55/rllib/

[2021-06-25 20:46] DmitriGekhtman commented on #16612
no luck there:
[code]
a bit hard to understand from the command logs what happened in this case
https://beta.anyscale.com/o/anyscale-internal/projects/prj_6ql9vRLldtxt3yKyLDTdCo/clusters/ses_LpPrZRr3A8yNkS796P1ZY9V6?command-history-section=command_history

[2021-06-25 22:01] rkooo567 commented on #16617
Yes! Ray back ported the plasma store for further optimization. Unfortunately, it is currently not possible to change the different version of plasma store

[2021-06-25 23:26] jiaodong commented on #16597
This is what I saw on my terminal if running the same set of instructions:

[code]

[2021-06-26 02:48] jovany-wang commented on #16638
@slimshreydy Could you help to double check your issue is addressed with #16657 and #16650

[2021-06-26 08:19] iycheng opened #16688 "[flaky-test] Race condition in set removing callback."
### What is the problem?

Right now, contained_in_objects are reported by pushing a message WaitForRefRemoved.

But the main thread is not waiting for the return of this one which caused a race condition.

Think about this flow:

1. task return to the driver
2. driver deserialize the obj and notice the nested object is not contained, decrease the local references
3. the references now equals 0 whi

[2021-06-26 08:27] iycheng commented on #16688
@rkooo567 I have a question for contained_in_objects, will this include ids contained in nested ids which is still under resolving?

[2021-06-26 21:08] rkooo567 commented on #16688
oh interesting. Is it the root cause of the flaky test? I think for this question @stephanie-wang can answer better than me

[2021-06-27 11:03] #14088 closed

[2021-06-27 13:32] mimoralea commented on #8440
I realize this is a pretty old question, but for those looking for the answer `local_dir` is what you want:

[code]

[2021-06-27 22:08] tgaddair opened #16692 "[tune] Ray Tune requires torch installed when using tensorboardX==2.3"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* ray==1.4

`tensorboardX` is listed as a requirement when installing with `ray[tune]`. Even though `tensorboardX` is designed for PyTorch specifically, this isn't typically an issue because `tensorboardX` does not list `torch` as a requirement.

However, with the most recent 2.3 release (J

[2021-06-27 23:25] clarkzinzow commented on #16406
This error seems to be a bit transient:
[code]
Not sure why both of those error/exception log statements are empty, but I've confirmed that this sometimes makes it past the metadata computation (`divisions, sizes, mins, maxes = base.compute(divisions, sizes, mins, maxes)` from the traceback) to computing the actual output.

[2021-06-27 23:27] clarkzinzow commented on #16406
Upon dumping out all of the object refs before the `ray.get()` call, it looks like all are `ClientObjectRef`s, yet it's still failing with that same error, which doesn't make much sense:
[code]

[2021-06-27 23:37] clarkzinzow commented on #16406
On another run, the metadata stage computation appears to run successfully (and all to-be-fetched Ray objects are all `ClientObjectRef` type), but the actual output computation hangs indefinitely and the output Ray object is a plain `ObjectRef`). 🤔

[code]

[2021-06-27 23:42] clarkzinzow commented on #16406
And finally, on another run, the metadata stage computation appears to run successfully (since it reaches the next computation), but both show plain `ObjectRef`s and the actual output computation hangs:
[code]

It looks like the Ray Client hooks are somehow quite unreliably applied to Dask-on-Ray.

[2021-06-27 23:51] clarkzinzow commented on #16406
Interestingly, I haven't been able to reproduce using the single-threaded, synchronous Dask-on-Ray schedule ([`ray_dask_get_sync`](https://github.com/ray-project/ray/blob/54ce8092abdac461167ca064092ba330b9625cc7/python/ray/util/dask/scheduler.py#L385-L460)), so this might be an issue with using Ray Client in a multithreaded context.

[2021-06-28 00:33] richardliaw commented on #16692
2 sounds good to me!

On Sun, Jun 27, 2021 at 3:08 PM Travis Addair ***@***.***>
wrote:

[2021-06-28 01:14] clarkzinzow commented on #16406
It looks like client mode isn't reliably set when invoking remote functions in a multithreaded context, logging [here](https://github.com/ray-project/ray/blob/54ce8092abdac461167ca064092ba330b9625cc7/python/ray/remote_function.py#L201-L220) shows some invocations going through the client mode path while some go through the regular path.
[code]

[2021-06-28 03:08] iiapache opened #16693 "[rllib] Why can't I get a high reward when training PPO in BreakoutNoFrameskip-v4？"
I trained PPO in env BreakoutNoFrameskip-v4 using the almost same config as: [https://github.com/ray-project/ray/blob/master/rllib/tuned_examples/ppo/atari-ppo.yaml](https://github.com/ray-project/ray/blob/master/rllib/tuned_examples/ppo/atari-ppo.yaml). However, I can not get a high episode_mead_reward（around 2.0）, which should around 200.

![image](https://user-images.githubusercontent.com/41604

[2021-06-28 04:35] sxyd opened #16694 "Wrong implementation for critic_loss in CQL? [rllib]"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

In RLlib, CQL is built on top of SAC. They share the same `actor_loss` and `sac_critic_loss` (`critic_loss` for CQL is `sac_critic_loss + cql_loss`).

SAC `critic_loss` is obtained by
[code]
The problem the that the implementation of `q_t_target` is different in SAC and CQL. In CQL, it d

[2021-06-28 04:54] mwtian opened #16696 "Removing a custom resource can have inconsistencies"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray at HEAD, Python 3.7.

### Reproduction (REQUIRED)
`python releaser/e2e.py --test-config ray/release/xgboost_tests/xgboost_tests.yaml --test-name train_small`
- Some actors fail to schedule even after nodes with enough resources are available.

There can be other issues causing actors

[2021-06-28 05:42] iycheng commented on #16688
Yes, that's my speculation. But I need some knowledge from experts here to confirm. @stephanie-wang do you think what I mentioned makes sense?

[2021-06-28 07:08] krfricke commented on #16197
Closed by https://github.com/huggingface/transformers/pull/12357

[2021-06-28 07:08] #16197 closed

[2021-06-28 09:55] SongGuyang commented on #11385
Problem resolved now.

[2021-06-28 09:56] #11385 closed

[2021-06-28 10:03] SongGuyang commented on #11490
We already supported config now. Just like https://github.com/ray-project/ray/blob/master/cpp/example/example.cc#L47.

[2021-06-28 10:03] #11490 closed

[2021-06-28 11:27] SongGuyang opened #16702 "[C++ API] Completed object reference counting support"
- We already supported adding object ref when construct an ObjectRef and deleting object ref when destruct an ObjectRef.
- More complex scenes should be supported. For example, we should support nested objects. Refer to Java https://github.com/ray-project/ray/pull/10729/files#diff-5d54e685289f3c8bc1be45057761db5158cb8f27bdcbb149e7cb585a1322632e.

[2021-06-28 11:38] SongGuyang opened #16703 "[C++ API] Support named actor and named task"
- Support named actor and named task

[2021-06-28 11:40] SongGuyang opened #16704 "[C++ API] Support set resources"
- [C++ API] Support set resources, like cpu, memory.

[2021-06-28 11:41] SongGuyang opened #16705 "[C++ API] Support kill actor"
- Support kill actor.
- Support Manual termination within the actor. https://docs.ray.io/en/master/actors.html#manual-termination-within-the-actor

[2021-06-28 12:24] SongGuyang opened #16706 "[C++ API] documents"
- Add the documents which Java API already has.
![image](https://user-images.githubusercontent.com/26714159/123635883-c808ca00-d84e-11eb-89d6-c8f316236f3f.png)

[2021-06-28 12:25] SongGuyang opened #16707 "[C++ API] Release C++ API in python Wheel"
- Release C++ API in python Wheel

[2021-06-28 12:31] mch5048 commented on #16014
@ddworak94 Nice work!

[2021-06-28 12:32] Mathieu-Prouveur opened #16708 "[autoscaler][gcp] Worker "Could not open the configuration file" on "[5/7] Initalizing command runner""
First off, thanks for the amazing library!

### What is the problem?

The full example works fine for me https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/gcp/example-full.yaml , however when changing the public docker image to the same docker image hosted on a private repository, the image can't be pulled by any worker.
HeadNode instanciates just fine, it can pull the image on

[2021-06-28 13:11] tkaymak commented on #16679
Can I help somehow with the reproduction script?
It's really just
1. `helm -n ray install example-cluster ./ray`
2. `kubectl exec -ti -n ray example-cluster-ray-head-type-mccvg bash`
3. `ray debug`
After one app with a breakpoint has been deployed

[2021-06-28 15:01] krfricke commented on #14977
This seems to be an usage error and can be solved by passing ``tune.run(sync_config=tune.SyncConfig(upload_dir="s3://bucket/remote_checkpoint_dir"))``. I fixed the docstring and added more verbose printouts in #16709 - please let me know if this helps!

[2021-06-28 15:17] DmitriGekhtman commented on #16549
We have to fix the default behavior here or make max_workers required.
For now, please specify max_workers for all podTypes to get reasonable behavior.
I think this may resolve the rest of the bullets as well.
Thanks for helping us iron out the UX...

[2021-06-28 15:47] matthewdeng commented on #16388
Created the [ray-ci-higgs](https://console.aws.amazon.com/s3/buckets/ray-ci-higgs?region=us-west-2&tab=objects) S3 bucket for this.

Implementation/usage of this bucket for CI tests is currently pending Ray Client multi-node data loading support:
- Modin: https://github.com/modin-project/modin/issues/3179
- Dask: https://github.com/ray-project/ray/issues/16406

[2021-06-28 16:28] slimshreydy commented on #16638
Thanks! I'll check this out and report back soon. Really appreciate your work and prompt help here!

[2021-06-28 16:41] architkulkarni commented on #16627
We should be sure to unskip the tests that were skipped in https://github.com/ray-project/ray/pull/16710/files.

[2021-06-28 16:52] krfricke commented on #15681
@AlphaPlusTT can you provide a repro script and your cluster setup?

[2021-06-28 16:55] krfricke commented on #16599
cc @richardliaw do we have a target on when to fully support Python 3.9?

[2021-06-28 17:17] architkulkarni opened #16711 "[Dashboard] [Logging] Write CPU, GPU, RAM usage per node to a log file"
### Describe your feature request

The dashboard supports viewing CPU, GPU, and RAM usage per task over time, but there is no easy way to write this to a log file.  Ray should provide some API to support this.

[2021-06-28 17:46] sven1977 commented on #16459
@cola-nicolas , instead of just removing `num_gpus` from the config, could you explicitly set it to 0?

So, only when you restore the agent, make sure you create the new agent with `num_gpus=0` explicitly.
Reason: IMPALA has `num_gpus=1` by default, so just removing it from your dict won't work.

[2021-06-28 17:46] #16459 closed

[2021-06-28 17:47] sven1977 commented on #16065
@pxc , could you confirm this is working in the current master and re-open in case it's still an issue for you?

Closing this issue now.

[2021-06-28 17:47] #16065 closed

[2021-06-28 17:49] DmitriGekhtman commented on #16696
cc @rkooo567

[2021-06-28 18:02] sven1977 commented on #15942
Could you try this in the latest master? I'm pretty sure this was fixed for BC recently.

Here is the PR that fixed this issue:
https://github.com/ray-project/ray/pull/16019

[2021-06-28 18:02] #15942 closed

[2021-06-28 18:08] AmeerHajAli commented on #16612
Who is working on fixing this?

[2021-06-28 18:11] clarkzinzow commented on #16406
Even more odd, individual threads oscillate between client mode and normal mode, eventually settling on normal mode:
[code]

[2021-06-28 18:15] slimshreydy commented on #16638
Just wanted to check, how could I install a version of Ray with these changes incorporated? Would I use the Ray nightly build? https://docs.ray.io/en/master/installation.html#daily-releases-nightlies

[2021-06-28 19:40] The-obsrvr opened #16714 "[tune] Checkpoint pathing issue when restoring using PBT Scheduler"
### What is the problem?
I am not sure why but ray tune is misreading the checkpoint_dir path and unneccessarily adding " /./" to the path. I am relatively new to ray tune, so if I have missed something please let me know. The models are saved correctly in the folders and the issue is only when ray tune tries to restore the checkpoint again.

Traceback (most recent call last):
  File "/mnt/data2/S

[2021-06-28 19:48] michaelzhiluo commented on #16694
This was intentional. Found that training was more stable with the entropy term in the Q Target.

[2021-06-28 20:06] cassidylaidlaw opened #16715 "[rllib] Training crashes because get_gpu_ids() returns empty list"
### What is the problem?

When running a simple RLlib training script, almost identical to the example [here](https://docs.ray.io/en/master/rllib-training.html#basic-python-api), I get the following error:

[code]

The script that reproduces the error is below in the reproduction section. It looks like this error is caused by `ray.get_gpu_ids()` returning an empty list (`[]`) despite there being G

[2021-06-28 20:19] mvindiola1 commented on #16714
Hi @The-obsrvr,

I think this error is indicating that you have provided a path to a directory rather than a file. To restore the model tune is expecting a path to a checkpoint file not the directory containing the file. Have you verified that the path you are providing is actually a file?

[2021-06-28 20:43] Luis-Victor commented on #16549
Thanks for the answer, Dmitri. I've tried with maxWorkers in each podTypes (_head and worker_) and it continues presenting the same behavior. Actually, i've just forgotten to write it in `rayWorkerType` at `values.yaml`. My sincere apologies for it.
I am editing it right now and adding the following parameters: `.rayWorkerType.minWorkers: 0` and `.rayWorkerType.maxWorkers: 3` in the issue descript

[2021-06-28 22:08] zseymour commented on #16459
@sven1977 As with the PPO example in the first post, I feel like this doesn't solve the underlying issue with doing inference on the GPU. Doesn't removing `num_gpus` from the config or setting `num_gpus=0` force all inference to occur on the CPU? Is there some other parameter missing here for GPU inference/rollout?

[2021-06-28 22:08] The-obsrvr commented on #16714
I printed the path "checkpoint_dir" at the start of the my trainable function to see how it looks. As far as I know, this path itself is generated by ray tune itself and not defined by me. The path printed has the issue. Thus, I feel ray tune itself is misunderstanding the folder path for some reason. What is interesting is that I believe this problem only persists for folders named "checkpoint_tm

[2021-06-28 22:17] #14028 closed

[2021-06-28 22:18] zseymour commented on #16459
Of note:

This does **not** work:
[code]

This **does** work:
[code]

[2021-06-28 22:42] #16127 closed

[2021-06-28 22:53] george-skal opened #16718 "[RLlib] Policy weights overwritten in self-play"
Hi all!
I am trying a self-play based scheme, where I want to have two agents in waterworld environment have a policy that is being trained (“shared_policy_1”) and other 3 agents that sample a policy from a menagerie (set) of the previous policies of the first two agents ( “shared_policy_2”).
My problem is that I see that the weights in the menagerie are overwritten in every iteration by the curre

[2021-06-28 22:56] george-skal commented on #15363
Sorry for the late reply.
These solutions work fine so the issue can get closed.

Thanks,
George

[2021-06-28 22:56] #15363 closed

[2021-06-28 23:34] #16692 closed

[2021-06-28 23:43] xunzhang commented on #16617
I see, thanks. Can you briefly describe the specialization of plasma used by Ray?

[2021-06-28 23:59] mvindiola1 commented on #16714
Do you have a minimal reproduction script with the issue you can share?

[2021-06-29 00:21] sxyd commented on #16694
Thanks for your kind reply! Did  you mean `q_target` in CQL without the entropy term (`alpha * log_pis_tp1`) makes CQL training more stable?

[2021-06-29 00:27] juliusfrost opened #16720 "[rllib] d4rl: offline data path error"
### What is the problem?

I get the following error when reproducing cql.
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray 1.4.0, python 3.7, tensorflow 2.5.0, linux

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external li

[2021-06-29 01:01] jovany-wang commented on #16638
Yes.

[2021-06-29 01:50] mvindiola1 commented on #16720
I think you forgot the file switch (-f) . Try

`rllib train -f rllib/tuned_examples/cql/halfcheetah-cql.yaml`

[2021-06-29 02:14] juliusfrost commented on #16720
That was just my typo creating the issue, thanks for the catch.

[2021-06-29 02:46] DmitriGekhtman commented on #16549
I'm not yet able to reproduce --
Once the ray tasks are submitted, could you
- open a new shell,
- identify the ray-operator pod with `kubectl get pods`
- get the last 100 lines of operator logs with `kubectl logs ray-operator-<identifier>`

[2021-06-29 03:01] DmitriGekhtman commented on #16101
This is pretty important: https://discuss.ray.io/t/ray-exceptions-workercrashederror/2664

[2021-06-29 03:31] rkooo567 opened #16728 "Fix test_scheduling.py::test_many_args failing when it runs at the end of the test"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

If the code snippet cannot be run b

[2021-06-29 04:12] michaelzhiluo commented on #16694
Yes!

[2021-06-29 04:41] laphang commented on #15162
Just adding an update to this, after noticing this issue https://github.com/ray-project/ray/issues/16065 on the DQN for the simple cartpole, and the possible fix for that issue here https://github.com/ray-project/ray/pull/16354, and whether it would have any impact on the parametric cartpole.

Firstly, I was able to to reproduce the behaviour in my original post (which used ray 1.1.0) on the lates

[2021-06-29 05:25] ijrsvt commented on #16406
Ah shoot, the problem is that the Client does not handle multiple threads very well. The main issue is that there is a process global variable for whether or not to use client mode. This variable is often disabled to do certain operations, but since it is a python global variable this applies to other threads as well.

[Debug Info (from Clark)](https://github.com/clarkzinzow/ray/compare/master...c

[2021-06-29 06:25] ijrsvt opened #16733 "[Client][Modin] Does not Run"
### What is the problem?

Modin is trying to call a remote function in it's [`__reduce__`](https://github.com/modin-project/modin/blob/3269431a1a7d2366d43723f144d949c708bac03e/modin/pandas/dataframe.py#L2950) method (the method called when the object is being serialized).
This breaks here because Ray Client calls [`disable_client_hook`](https://github.com/ray-project/ray/blob/e5dfa4cfb9c94de53342f

[2021-06-29 06:40] sven1977 commented on #16472
@ThomasCassimon , thanks for catching this. This seems to have never worked, actually :/

Here is a fix for this issue:
https://github.com/ray-project/ray/pull/16734

[2021-06-29 06:49] The-obsrvr commented on #16714
My code is quite big since we are doing multi-task learning with multiple datasets and architectures. If it helps, my code for saving and recovering checkpoints is same as shown in this example, https://colab.research.google.com/drive/1tQgAKgcKQzheoh503OzhS4N9NtfFgmjF?usp=sharing

The only difference is that I just moved the save checkpoint code into my early stopping call. Please let me know if y

[2021-06-29 07:02] The-obsrvr commented on #16714
Also, not sure if it helps but when I change the path to correspond to the checkpoint file and not its directory, i get the following error.
Traceback:
[36mray::ImplicitFunc.train_buffered()[39m (pid=726755, ip=10.153.51.169)
  File "/mnt/data2/Sid/arg_quality/pytorch/argQ_env2/lib/python3.8/site-packages/ray/tune/function_runner.py", line 248, in run
    self._entrypoint()
  File "/mnt/data2/Si

[2021-06-29 07:23] #16472 closed

[2021-06-29 08:08] SongGuyang opened #16735 "[C++ API] arg optimization"
1.
ray start --head --port 6379 --redis-password 5241590000000000 --node-manager-port 62665
./bazel-bin/cpp/example/example --ray-dynamic-library-path=bazel-bin/cpp/example/example.so --ray-redis-address=127.0.0.1:6379

->

ray start --head
RAY_ADDRESS="127.0.0.1:6379" ./bazel-bin/cpp/example/example

2.
"--ray-dynamic-library-path" -> "code search path" of job config
auto add "bazel-bin/cpp/examp

[2021-06-29 08:10] richardliaw commented on #16714
`/./` generally is resolved correctly by the operating system (and is actually just ignored). Would you show me your `tune.checkpoint_dir` call?

[2021-06-29 08:47] SongGuyang opened #16736 "[C++ API]include and library path"
Ray C++ include path /home/admin/dev2/ray/python/ray/core/src/ray/cpp/example/thirdparty/include
Ray C++ library path /home/admin/dev2/ray/python/ray/core/src/ray/cpp/example/thirdparty/lib

->

Ray C++ include path /home/admin/dev2/ray/cpp/include
Ray C++ library path /home/admin/dev2/ray/cpp/lib

[2021-06-29 08:52] SongGuyang opened #16737 "[C++ API] lightweight wheel package"
Use `python setup.py bdist_wheel` to build wheel package.
- before, total size 48M
![image](https://user-images.githubusercontent.com/26714159/123916511-5185dc80-d9b4-11eb-9ca3-6a642dbe69f5.png)
- after, total size 63M
![image](https://user-images.githubusercontent.com/26714159/123916565-619dbc00-d9b4-11eb-986d-11d089bfd099.png)

I have included Java. And my environment is "x86_64 Linux" and "pyth

[2021-06-29 09:31] Wormh0-le commented on #5940
and I explicit `num_gpus=1`，but ray still can't get GPU, and `torch.cuda.is_available()` is True. why?

[2021-06-29 10:25] #16694 closed

[2021-06-29 10:29] The-obsrvr commented on #16714
with tune.checkpoint_dir(step=self.global_step) as checkpoint_dir:
                            output_dir = os.path.join(
                                checkpoint_dir,
                                "best_model-{}".format(self.global_step))
                            os.makedirs(output_dir, exist_ok=True)

                    early_stopping(avg_val_loss, self.model, optimizer, output_dir)

In

[2021-06-29 10:36] krfricke commented on #16284
Hey @sietseromijn, I opened a PR in #16739 to fix this. Could you take a look and maybe try out if the patch fixes your problem?

[2021-06-29 15:29] mvindiola1 commented on #16714
Hi @The-obsrvr,

I just tested the the google colab notebook you shared after updating pip install for ray to 1.4.0 and removing the wandb decorator and that ran without issue for me. Without more code to look at I do not think I can help.

[2021-06-29 15:29] sietseromijn commented on #16284
Thanks @krfricke. Will try it this week

[2021-06-29 15:58] matthewdeng opened #16743 "[Client][Dask] Dask Errors on Ray Client"
### What is the problem?

When running a simple Dask/XGBoost script using Ray Client, length computation of the Dask Dataframe ultimately errors out with the following:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

[code]

### Reproduction (REQUIRED)

1. Run `ray start --head` on local machine.
2. Create python script `dask-xgboost.py`:
[code]
3. Exe

[2021-06-29 16:09] ijrsvt commented on #16743
Is this a duplicate of
https://github.com/ray-project/ray/issues/16406

[2021-06-29 16:46] clarkzinzow commented on #16743
@ijrsvt I think that it might be!

[2021-06-29 17:20] ericl commented on #16136
Should be fixed in master. @soundway can you confirm? Feel free to close if so.

[2021-06-29 18:30] grechaw opened #16747 "ray.put with object reference leads to an Assertion Error in Ray Client."
mlflow integration.  Here is the stack trace that is blocking their work.  I will have more reproduction information today.

[code]

[2021-06-29 18:33] Luis-Victor commented on #16549
I've been testing this issue a little more and I realized that some things have changed. It seems to work better now.
Sending tasks that require `num_cpus=1` works as expected  when `.rayWorkerType.maxWorkers <= 3`, because Ray is scaling up to 3 workers, even if `maxWorkers` is greater than this.

Ray-operator logs:
[code]

[2021-06-29 18:37] DmitriGekhtman opened #16748 "[kubernetes][release] Consider automating K8s tests"
### Describe your feature request

https://github.com/ray-project/ray/pull/16662 added k8s tests to the release procedures.
Consider automating execution of these tests as part of release process.

[2021-06-29 18:38] DmitriGekhtman commented on #16748
cc @AmeerHajAli actually not sure about priority of this -- implementation effort to benefit ratio may be a little high

[2021-06-29 18:38] simon-mo opened #16749 "[Serve] [Investigation] ServeHandle stuck when overloaded and requests dropped."
### What is the problem?

I will try to find a more exact repro for this. Generally, this happens when the an load test overloaded the replicas and queue up a lot of requests. And then the load tests drop the http requests. You can observe that even in no active http connections, the http proxy is hanging and rejecting requests.

[code]
*Ray version and other system information (Python version, Te

[2021-06-29 18:43] simon-mo opened #16750 "[Serve] HTTP testing utility"
### Describe your feature request
It would be great to include some utilities for unit testing serve endpoint, similar to Starlette test client https://www.starlette.io/testclient/

It would be great to include some benchmarking utility that measures the throughput and latency for a given deployment

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-29 18:45] #16747 closed

[2021-06-29 19:10] The-obsrvr commented on #16714
It worked. You were right that the "/./" was not really an issue and it was actually an issue that stemmed from the pathing.
Thank you so much for the help.

[2021-06-29 19:50] DmitriGekhtman commented on #16748
cc @simon-mo (no rush on this, I think)

[2021-06-29 20:14] DmitriGekhtman commented on #16549
Glad it's working!
I am observing the `{ "GPU": 0 }` bug and think I understand the reason and fix -- the thing to do for now is to exclude that setting from values.yaml if possible.

[2021-06-29 20:23] ijrsvt commented on #16743
@matthewdeng One workaround is to use the single-threaded scheduler:
https://github.com/ray-project/ray/blob/54ce8092abdac461167ca064092ba330b9625cc7/python/ray/util/dask/scheduler.py#L385-L460

[2021-06-29 20:30] #16733 closed

[2021-06-29 20:44] #14395 closed

[2021-06-29 20:44] simon-mo commented on #14395
fixed in #14419

[2021-06-29 20:45] Luis-Victor commented on #16549
Nice!
There is some internal limit to ray MaxWorkers? Could it be more than 3 rayWorkers running simultaneously?

[2021-06-29 20:52] architkulkarni opened #16756 "[Serve] Old FastAPI integration tutorial does not work after Deployments API update"
Running https://docs.ray.io/en/master/serve/tutorials/web-server-integration.html#scaling-up-a-fastapi-application resulst in the following:

### What is the problem?
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the is

[2021-06-29 20:53] nikitavemuri opened #16757 "[Serve] Pydantic validation error for serve deployment"
### What is the problem?
There is a pydantic validation error when returning a model that includes a list in a serve deployment.

*Ray version and other system information (Python version, TensorFlow version, OS):* Python 3.7, Ray 1.4

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should

[2021-06-29 21:54] DmitriGekhtman commented on #16549
There’s no internal limit — autoscaling is only limited by the k8s
environment. If your k8s cluster is unable to accommodate a pod creation
request from the ray autoscaler, the pod will enter a pending state for up
to a certain timeout period, before the pod is deleted. Running and pending
pods are deleted on helm  cleanup.

We haven’t run scalability benchmarks on k8s, but things should run
smoot

[2021-06-29 22:15] DmitriGekhtman commented on #16549
https://github.com/ray-project/ray/pull/16761

[2021-06-29 22:46] crypdick commented on #14977
Thanks @krfricke. I did pass in a sync config but maybe other things have been fixed since v1.2.0?

[2021-06-29 23:28] #16757 closed

[2021-06-30 00:05] #14106 closed

[2021-06-30 00:39] crypdick commented on #15374
@architkulkarni awesome work. Will this be in v1.4.1?

[2021-06-30 02:37] vijaymobile123 opened #16767 "Memory requirement per trial in raytune"
<tune>

I am not able to pass memory requirement per trial in raytune using ray 1.14.

Is `memory` removed from `resources_per_trial`  in the recent raytune release ? If so - How do we allocate memory per trial ?

[2021-06-30 03:27] mvindiola1 commented on #16683
@akelloway, Which version of ray are you using? Nightly?

@krfricke, I think the regression was introduced in this commit:

 https://github.com/ray-project/ray/commit/be6db0648546f51d16dba4ccc6a8ddcff6d10400#diff-1554f1224e7fdc10fdf8875954f0dafdeaf4a05c411fefd6e557edc03e7565b1

[2021-06-30 03:38] mvindiola1 commented on #16714
Glad it is working. Does that mean this issue can be closed?

[2021-06-30 05:09] rkooo567 commented on #16540
Btw, I could repro this, but the interesting thing is that the error message is from "workers" not raylet. (afaik, all previous issues were done from raylet because that's where the allocation happens).

[2021-06-30 05:23] SnehaHegde24 opened #16769 "Issue in integrating Ray Serve with Ray's Cross language programming capability"
We are able to execute ray serve end points doing multiple activities like process tracking , CRUD operations (sqllite) and file based activities .

The issue comes up , when we are trying to bring in the cross language programming capability within ray serve

Use case is : We need to write few end points in ray serve  which has business logic to be used from java jar ( cross language programming

[2021-06-30 05:48] jovany-wang commented on #15533
CI is migrating to buildkite.

[2021-06-30 05:48] #15533 closed

[2021-06-30 05:55] #5495 closed

[2021-06-30 06:11] longyuzhao opened #16770 "[RLlib] lagrangian parameter in rllib cql config"
### What is the problem?

When specifying config['lagrangian'] = True using cql, I am getting the following error:
`RuntimeError: Trying to backward through the graph a second time, but the saved intermediate results have already been freed. Specify retain_graph=True when calling .backward() or autograd.grad() the first time.`

*Ray version and other system information (Python version, TensorFlow

[2021-06-30 06:43] krfricke commented on #14977
Yeah, that might be - 1.2.0 is a bit dated. Let me know if you run into this issue again, otherwise I'll consider this closed after mergin #16709

[2021-06-30 08:09] duburcqa commented on #16715
I have exactly the same issue using multi-gpu machines since at least v1.3.0 as  far as I remember.

[2021-06-30 08:53] ConeyLiu commented on #16606
Just want to take a try to verify the `code_search_path` works or not and got the following errors:

[code]

[2021-06-30 12:31] akelloway commented on #16683
@mvindiola1 I am using the Nightly version.

I agree with you that it is likely also causing that other issue for the on_episode_step callback since I think both make a call to BaseEnv.poll

[2021-06-30 12:56] ankur6ue opened #16776 "[client] SIGABRT while connecting to Ray inside docker from driver on host computer"
### What is the problem?
SIGABRT while using Ray server running from inside a docker container from a driver program running on the host computer

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python 3.8.8, Ray 1.4

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue.

[2021-06-30 13:06] mvindiola1 commented on #16683
@akelloway,

I think this should fix it for you:

[code]

[2021-06-30 13:52] clarkzinzow commented on #16540
@rkooo567 Indeed, I found that to be notable as well.

[2021-06-30 14:06] akelloway commented on #16683
@mvindiola1
Thanks - that looks like a more robust fix than mine. Do you want to the submit the fix?

[2021-06-30 14:09] ThomasLecat commented on #13760
I see the MR isn't merged yet. Don't you think that not sorting will do more harm than sorting? The Gym Dict space sorts the key in the [constructor](https://github.com/openai/gym/blob/ee5ee3a4a5b9d09219ff4c932a45c4a661778cd7/gym/spaces/dict.py#L38-L39), any environment using a Gym Dict space will fail unless the keys in the observation are sorted

[2021-06-30 14:30] #16756 closed

[2021-06-30 14:49] ReCodeLife opened #16777 "want to solve a problem that needs shielding action and has continuous and discrete mixed action space"
I want to solve a problem that needs shielding action and has continuous and discrete mixed action space, I can find a code that can mask some discrete action.This is done by adding -inf to the action distribution of the shield.

But I don't know how to mask continuous action, The above method doesn't work.Maybe it's easy.Can I get some effective suggestions from here？ My English is not very good,

[2021-06-30 14:53] edoakes commented on #16749
@simon-mo it's possible this is the same issue that causes `test_handle` to be flaky.

[2021-06-30 14:53] edoakes commented on #16749
Would be worth spending some time to try to fix it.

[2021-06-30 15:04] henrique opened #16779 "[tune] iter doesn't match epoch after loading a checkpoint in a Horovod trainable"
### What is the problem?

ray.tune.integration.horovod  DistributedTrainableCreator doesn't load latest checkpoint.
Although all the checkpoints seem to be saved correctly in the local folder, it doesn't seem to load the very last one.
checkpoint_dir might be None, or the checkpoint returned might be a few epochs behind, so it looks like it might not be saving the state correctly (?)
However, the

[2021-06-30 15:05] henrique commented on #16779
@krfricke thank you

[2021-06-30 15:40] zseymour commented on #16715
Discussed in #16459 as well

[2021-06-30 16:51] mvindiola1 commented on #16683
@krfricke is assigned to the task. I am happy to submit the PR if he wants me to.

[2021-06-30 17:03] SheldonCurtiss opened #16781 "Ray Dashboard not rendering"
### What is the problem?
Upon installing cuda I now see a white screen and get the following error in the console for the ray dashboard
Issue wasn't present pre installing gpu requirements???

![image](https://user-images.githubusercontent.com/78921582/124002201-732a9800-d9a3-11eb-9025-fbebe7c3851c.png)

Using WSL
Python39
Ubuntu LTS 18
Latest Ray

### Reproduction (REQUIRED)
Using lunarlander dem

[2021-06-30 18:48] #16406 closed

[2021-06-30 19:02] DrewBarclay opened #16782 "Priority scheduling of jobs"
I'd like a way to be able to specifically increase the priority of submitted jobs, or at least be able to mark some jobs as being 'background' priority.

My use case is that my company would like to use Ray to run a complex DAG whenever a customer submits an item to us, and the latency of these jobs differs depending on the task. Also, it'd be good if we could use any spare computing power to run

[2021-06-30 19:09] mvindiola1 commented on #8151
As far as I know this is still an issue

[2021-06-30 19:09] mvindiola1 commented on #16777
Hi @ReCodeLife,

This kind of question is better asked at discuss.ray.io

[2021-06-30 19:31] architkulkarni commented on #16226
The following is a simpler reproduction for what looks like the same issue, occuring on the Ray nightly:

[code]
Output: `52.98485231399536`

[2021-06-30 20:11] #14132 closed

[2021-06-30 23:30] longyuzhao opened #16789 "[RLlib] When using CQLTrainer to restore a checkpoint, config['input'] should not be required."
### Describe your feature request

Currently, during initialization of CQLTrainer, `input` is required as part of the config. However, if we have a checkpoint, and just need to restore it, `input` should not be required.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-06-30 23:37] ReCodeLife commented on #16777
Thank you.I am sorry.
I'm going to close it now

[2021-06-30 23:37] #16777 closed

[2021-06-30 23:56] matthewdeng commented on #16743
@ijrsvt I tried running the same script with the latest version of `ray` which includes #16731. It unfortunately runs into the same error.
[code]

I also tried setting the scheduler to `ray_dask_get_sync`, but I'm running into an error. Do I need to somehow import it from dask?
[code]

[2021-07-01 00:11] #14091 closed

[2021-07-01 00:25] simon-mo opened #16790 "[Serve] [Doc] Document how to split/shadow traffic with Deployment"
### Describe your feature request
these functions will be deprecated in 1.5.0.

For feature requests or questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-07-01 00:49] suquark opened #16792 "[Serialization] Cannot dereference object ref inside another object ref"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)

[code]

This raises

[code]

- [ ] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://docs.ray.io/en/master/installation.html).

[2021-07-01 00:52] suquark commented on #16792
Seems it is because we only keeps track of the "outer" object ref. Not sure why. Maybe we need to build a stack of object refs?

[2021-07-01 01:25] scv119 commented on #16540
So it turns out we are running out of tmpfs space.
[code]

and tmpfs only have ~14GB of space
[code]

[2021-07-01 01:28] scv119 commented on #16540
a simple fix to link /mnt/disk1/ray to /tmp/ray

[2021-07-01 01:30] mvindiola1 commented on #16770
Hi @longyuzhao,

If you change this line to retain_graph=True does it work for you?

https://github.com/ray-project/ray/blob/0cbeefdadfa36d048955c091d935118d76886ffe/rllib/agents/cql/cql_torch_policy.py#L249

[2021-07-01 02:29] mwtian commented on #11287
Ray 1.4.1 is available now, which provides Python 3.9 wheels.

[2021-07-01 02:29] #11287 closed

[2021-07-01 03:02] ankur6ue commented on #16776
There is a much easier way to repro the problem:
1. Run ray docker image:

[code]
2. Verify you can see ray dashboard on the host computer
3. Run a test program on the host computer:

[code]
crashes with a SIGABORT

[code]
Results in:
redis.exceptions.ResponseError: WRONGPASS invalid username-password pair

[2021-07-01 04:22] clarkzinzow commented on #16743
@matthewdeng `ray_dask_get_sync` should be importable from `ray.util.dask`:
[code]

[2021-07-01 04:31] matthewdeng commented on #16743
@clarkzinzow haha woops totally forgot that I had originally imported `ray_dask_get` in the python script, thanks for catching that. I updated it to use `ray_dask_get_sync` and am getting the same original error, which makes me think this may be a different issue than #16406?
[code]

[2021-07-01 04:50] ericl commented on #16540
I see, we should probably raise a better error at a minimum here (out of disk space).

[2021-07-01 07:14] longyuzhao commented on #16770
Does not seem to solve the problem. I got a different error
`RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation: [torch.FloatTensor [256, 1]], which is output 0 of TBackward, is at version 2; expected version 1 instead. Hint: enable anomaly detection to find the operation that failed to compute its gradient, with torch.autograd.set_detect_a

[2021-07-01 07:23] SongGuyang opened #16799 "[runtime env] Prepare images in agent instead of setup_worker"
- The preparing has been implemented in `start_worker_in_container` now. Move it to agent.

[2021-07-01 07:25] SongGuyang opened #16800 "[Runtime Env] Support rescheduling tasks when runtime env creation failed."
- make PopWorker to be an async function.

[2021-07-01 07:38] soundway commented on #16136
@ericl Just tried the latest build running the same script above, got tons of errors from pull_manager.cc, then eventually a failure in about 5 minutes.

[code]

[2021-07-01 07:39] SongGuyang opened #16801 "[Runtime Env] Eager mode of runtime env creation."
- Create runtime env when job starting, before PopWorker.

[2021-07-01 07:53] iiapache commented on #16693
Can anyone help solve this problem?

[2021-07-01 08:44] #16792 closed

[2021-07-01 09:34] chaokunyang opened #16802 "[Ray core] Ray worker process leak"
### What is the problem?
Ray python worker process leak after `ray.shutdown` called and driver process exited.
![image](https://user-images.githubusercontent.com/12445254/124102350-de9f6300-da92-11eb-9001-3e34aeda6c12.png)

*Ray version and other system information (Python version, TensorFlow version, OS):*
* ray:1.4.0
* os: macos 10.13.6
* python version: 3.8.1

### Reproduction (REQUIRED)
[code]

[2021-07-01 12:16] prutskov opened #16804 "`ray.init` hangs on WSL1"
### What is the problem?

`ray.init` hangs on WSL1 Ubuntu 20.04.2 LTS

Package versions:
ray==1.4.1
python==3.8.10

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

Run on WSL1.
[code]

If the cod

[2021-07-01 12:56] The-obsrvr commented on #16714
Yes, sorry for the late reply.

[2021-07-01 13:19] krfricke commented on #16681
Thanks! I fixed this in #16806.

Further I filed https://github.com/openai/gym/pull/2249 which will make `Dict` spaces proper `Mapping`s

[2021-07-01 13:54] SheldonCurtiss opened #16807 "Dashboard white screen gpu"
![image](https://user-images.githubusercontent.com/78921582/124135808-294cbb00-da52-11eb-97b4-1bc20f088567.png)

### What is the problem?
Cuda + nvidia drivers and I started to see this problem

On ubuntu lts 18
1.4.1 ray
Python3.9

### Reproduction (REQUIRED)
Running one of the examples

[2021-07-01 14:21] krfricke commented on #16683
Hi @mvindiola1, it would be great if you could create and submit the PR!

[2021-07-01 14:22] #16681 closed

[2021-07-01 14:37] loicsacre opened #16808 "[tune][rllib] Issue with the use of Wandb on MacOs/Linux"
### What is the problem?

When using tune.run with the WandbLoggerCallback, there is an error when the ray local mode is set to `True` due to the usage of a Tee object proper to Tune. The following condition fails in the wandb module when the OS is not Windows:

[code]

*System version*

OS: MacOs
Python version: 3.7.9
torch==1.7.1
wandb==0.10.33
ray==1.3.0

### Reproduction

It is difficult to gi

[2021-07-01 14:56] loicsacre opened #16809 "[RLIib] Backward compatibility issue with Pytorch"
It would be very interesting to introduce a check of the Pytorch version in order to be backward compatible with old versions at this place:

https://github.com/ray-project/ray/blob/6f48e4f56665aca5b351af9ea9bd1e3c06b81af9/rllib/evaluation/rollout_worker.py#L520

The old method name is [`set_deterministic`](https://pytorch.org/docs/1.7.1/generated/torch.set_deterministic.html?highlight=determ#torc

[2021-07-01 15:21] LondonAppDev opened #16811 "utils.get_num_cpus"
### Describe your feature request

I'm using `ray.utils.get_num_cpus` on a project which was removed in v1.4. As per the deprecation message, I'm raising a feature request.

I'm assuming this has been removed and isn't likely to be coming back, right?

[2021-07-01 15:57] amogkam commented on #16808
Hey @loicsacre, this bug has been fixed by https://github.com/ray-project/ray/pull/16674. It will be included in the next Ray release, but in the meantime you can update your Ray version to use the nightly wheels. I'm going to close this for now, but feel free to reopen if this is still not working for you.

[2021-07-01 15:57] #16808 closed

[2021-07-01 15:59] GTimothee commented on #16433
up

[2021-07-01 16:01] loicsacre commented on #16808
Ok my bad I did not update ray due to this issue which is not fixed yet https://github.com/ray-project/ray/commit/f8cf4a19856409b7d31007e384cc5cbdf81fe9ee and this one https://github.com/ray-project/ray/issues/16809

[2021-07-01 16:21] ericl commented on #16136
Those aren't real errors (just a misleading message), you can ignore for
now. Is the object loss issue reproducible or is it due to a node failure?

On Thu, Jul 1, 2021, 12:38 AM soundway ***@***.***> wrote:

[2021-07-01 16:22] rkooo567 commented on #16136
Hey the object loss error could be resolved after I fix the issue that happened in test_scheduling )it was a real bug)

[2021-07-01 16:22] rkooo567 commented on #16136
The PR is out, so you can try out in 1-2 days

[2021-07-01 16:46] renatobellotti opened #16814 "[tune] How to use BayesOpt?"
I am a bit confused about how to use the HyperOptSearch properly. The constructor needs a search space, but some examples give the search space to ``tune.run(config=...)``. Do i have to put it in both places, or is ``tune.run()`` enough?

[2021-07-01 16:48] richardliaw commented on #16814
Tune.run is enough. Search space is an optional argument in the constructor right? Maybe we can improve the docstring.

[2021-07-01 16:53] richardliaw commented on #14404
Closing for now!

[2021-07-01 16:53] #14404 closed

[2021-07-01 17:04] richardliaw commented on #16776
@DmitriGekhtman or @ijrsvt I think you all might be best suited to address this issue

[2021-07-01 17:06] renatobellotti commented on #16814
Thanks for your fast answer! I have asked the wrong question, what I meant was BayesOpt:

This algorithm requires setting a search space using the BayesianOptimization search space specification.

Is the usual space definition enough?

[2021-07-01 17:38] edoakes commented on #16802
Confirmed that I could reproduce it locally and `ray stop` did not kill the process:
[code]

cc @jiaodong this is likely the same issue you were seeing when working on release tests.

[2021-07-01 17:44] richardliaw commented on #16814
Yep! Same answer should apply.

[2021-07-01 17:55] clarkzinzow commented on #16743
It looks like the Dask-on-Ray data source for XGBoost-on-Ray hardcodes the multithreaded Dask-on-Ray scheduler [here](https://github.com/ray-project/xgboost_ray/blob/7cbb1347600b1b036a8d76cae882d62b41c51ce2/xgboost_ray/data_sources/dask.py#L122) when persisting the collection, so it could still be the same bug. And the `len(data)` call will trigger Dask computation which will use a non-Dask-on-Ray

[2021-07-01 17:57] slimshreydy commented on #16638
Alright we've had a chance to test this in our images and rescan. Seems like 3 of the 4 key vulnerabilities are gone -- thank you! It does, however, seem like log4j is still stuck at 1.2.17. We're double checking the scan on our end but figured I'd let y'all know.

Appreciate your work on these fixes!

[2021-07-01 17:58] xcharleslin opened #16815 "Node Config does not support NetworkInterfaces"
### What is the problem?

NetworkInterfaces is a valid field in [boto.create_instances()](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.ServiceResource.create_instances). However, Ray does not support this. If you try to specify this field in node configuration, a Boto error will be raised, saying that SubnetId and SecurityGroupIds fields must be moved ins

[2021-07-01 18:00] rkooo567 commented on #16807
cc @edoakes

Did you also see the issue from 1.3?

[2021-07-01 18:17] SheldonCurtiss commented on #11457
still getting this

[2021-07-01 18:20] rkooo567 commented on #11457
When you guys say it doesn't, work does that mean the port forwarding is not working or the page is not displayed?

[2021-07-01 18:20] rkooo567 commented on #11457
Also, not sure if it is K8s related, but cc @DmitriGekhtman

[2021-07-01 18:25] jiaodong commented on #16802
Yes the symptom is the same. And in this example it didn't even need to involve detached or ray cluster utils and previously I think Simon also pointed out to be suspicious.

[2021-07-01 18:28] SheldonCurtiss commented on #16807
![image](https://user-images.githubusercontent.com/78921582/124173061-8f4c3900-da78-11eb-8527-65dd289b5b2c.png)
![image](https://user-images.githubusercontent.com/78921582/124173082-94a98380-da78-11eb-950c-c510244ec7f9.png)

Unsure if I changed something but error is this @rkooo567

[2021-07-01 18:31] #15136 closed

[2021-07-01 18:37] SheldonCurtiss commented on #16807
Also I'm on WSL unsure if that's related

[2021-07-01 18:43] DmitriGekhtman commented on #16151
I've generalized the title.

[2021-07-01 18:51] SheldonCurtiss commented on #16807
Further information I'm using https://github.com/werner-duvaud/muzero-general
Issue with ray appears to happen on all examples and was functional pre gpu

[2021-07-01 19:12] AprilXiaoyanLiu opened #16818 "why only support up to 5 tasks"
Is there a reason that Rllib only supports up to 5 tasks? Is is possible to support more than 5 tasks?

[2021-07-01 19:18] ijrsvt commented on #16776
@ankur6ue I'm not able to reproduce this. Does this repro with `ray.client("localhost:10001").connect()`

[2021-07-01 19:29] edoakes commented on #16802
@chaokunyang does this only occur when using asyncio actors and when using `exit_actor`?

[2021-07-01 19:38] richardliaw commented on #16818
@AprilXiaoyanLiu Can you give more context about this?

[2021-07-01 20:10] mgerstgrasser commented on #16681
Brilliant, thank you! I can confirm that #16806 solves the issue for us.

[2021-07-01 20:30] DmitriGekhtman commented on #16815
@xcharleslin correct me if I'm wrong:
the most urgent use-case is covered by
https://github.com/ray-project/ray/pull/16816
and the longer term solution is to fix `aws/config.py` bootstrapping logic to respect `NetworkInterfaces`.

Based on that, I'm going to mark this P2.

Also, I think @ckw017 would probably a good person to implement the fix for this issue given his relatively recent work on aws

[2021-07-01 20:33] tkram01 opened #16820 "Dask on Ray - Too many open files"
When I run the following code with 100 workers it works fine. If I increase the worker count to 800 I get errors about running out of open file descriptors. I am using the Kubernetes operator which sets the ulimit to 65k which 800 workers should not exceed.

[code]

[code]

here is the Conda yaml

[code]

@rkooo567

[2021-07-01 20:36] rkooo567 commented on #16820
Can you also share the cluster.yaml?

[2021-07-01 20:49] tkram01 commented on #16820
This is the yaml I am passing to the helm chart `helm install ray -f custom_values.yaml ./ray`

[code]

[2021-07-01 20:59] rkooo567 commented on #16820
Leaving it as a triage state until reproduction & further investigation

[2021-07-01 21:07] architkulkarni opened #16821 "[Core] [runtime env] Use portable hash function for runtime_env_hash"
### Describe your feature request
See https://stackoverflow.com/questions/51929617/determinism-guaranteed-only-during-one-program-run-in-boosthash-combine

Currently the runtime_env_hash is communicated between processes and potentially different nodes.  However, we use `boost::hash_combine` in the calculation, and this is not guaranteed to yield the same value across different runs.  One option t

[2021-07-01 21:16] tkram01 commented on #16820
Here is the docker file we are using

[code]

[2021-07-01 21:20] DmitriGekhtman opened #16822 "[kubernetes] Make accessible + document K8s configurations consistent with Ray fault tolerance profile"
Ray nodes are stateful and it's in general challenging for Ray to deal with sudden node failure. This presents a difficulty when running Ray on K8s as each Ray node runs and stores all of its state in a K8s pod. However, [Pods are designed as relatively ephemeral, disposable entities](https://kubernetes.io/docs/concepts/workloads/pods/#working-with-pods).

Combined with the current state of [loggi

[2021-07-01 21:28] ericl commented on #8326
Reviving this issue as we now have a possible method of dealing with it: suppressing the warning if the cluster is autoscaling, and printing if the cluster autoscale.

[2021-07-01 22:27] ericl commented on #8326
Duplicates https://github.com/ray-project/ray/issues/8326

[2021-07-01 22:27] #8326 closed

[2021-07-01 22:45] ijrsvt commented on #16743
@matthewdeng I'm able to reproduce this!

[2021-07-01 23:03] ijrsvt commented on #16743
Actually this might be distinct from #16406 because neither `ObjectRef` nor a `ClientObjectRef` are subscriptable!

I'm not able to follow where this attempt to subscript is coming from :(

[2021-07-01 23:39] wuisawesome commented on #8326
Wait @ericl did you intentionally close this as a duplicate of itself?

[2021-07-01 23:45] ericl commented on #8326
Sorry, it duplicates https://github.com/ray-project/ray/issues/15933

[2021-07-01 23:51] fehtemam commented on #16114
I searched really hard but this open issue here is the only thing I could find that based on my limited understanding I think it might be related to my problem. I cut most of my code to keep it as close as I can to the example from the documentation (from here: https://docs.ray.io/en/master/serve/http-servehandle.html#serve-fastapi-http)

[code]

This creates an infinite loop with Serve printing t

[2021-07-02 01:35] #16720 closed

[2021-07-02 01:40] #14977 closed

[2021-07-02 02:04] richardliaw commented on #433
This is now supported with `ray status`.

[2021-07-02 02:04] #433 closed

[2021-07-02 02:04] richardliaw commented on #10712
Now supported with ray status.

[2021-07-02 02:04] #10712 closed

[2021-07-02 02:05] #2380 closed

[2021-07-02 02:06] richardliaw commented on #5936
I think local mode is fixed now (or at least have not heard this bug for a while).

[2021-07-02 02:06] #5936 closed

[2021-07-02 02:07] richardliaw commented on #7223
Should be solved by #14019

[2021-07-02 02:07] #7223 closed

[2021-07-02 02:09] richardliaw commented on #7297
Yeah, ray.wait(timeout=some_tiny_number) should work here.

[2021-07-02 02:09] #7297 closed

[2021-07-02 02:12] richardliaw commented on #7256
This is a duplicate of https://github.com/ray-project/ray/issues/15933

[2021-07-02 02:12] #7256 closed

[2021-07-02 02:13] richardliaw commented on #7195
You should use something like placement groups for this (colocation, and having a concept of "grouped resources").

[2021-07-02 02:13] #7195 closed

[2021-07-02 02:14] richardliaw commented on #958
This is the same user request as https://github.com/ray-project/ray/issues/7224

[2021-07-02 02:14] richardliaw commented on #7224
Closing as this is a duplicate.

[2021-07-02 02:14] #7224 closed

[2021-07-02 02:14] chaokunyang commented on #16802
It only occurs when using `asyncio` actors and `exit_actor` simultaneously

[2021-07-02 02:14] richardliaw commented on #958
[code]

[2021-07-02 02:17] #16809 closed

[2021-07-02 02:18] richardliaw commented on #16809
@loicsacre we just merged support for this in https://github.com/ray-project/ray/pull/16813.

[2021-07-02 02:18] richardliaw commented on #16809
Thanks a bunch for opening this issue!

[2021-07-02 02:19] richardliaw commented on #16811
@wuisawesome @rkooo567 please review?

[2021-07-02 02:21] #14465 closed

[2021-07-02 02:24] richardliaw commented on #16693
Try taking a look at this? https://github.com/ray-project/rl-experiments/tree/master/atari-ppo/2020-01-21/PPO_BreakoutNoFrameskip-v4_0_use_pytorch%3DFalse_2020-01-21_10-10-abcdefg

[2021-07-02 02:27] richardliaw commented on #16779
@Yard1 do you mind if I assign this item to you?

cc @amogkam @krfricke

[2021-07-02 02:28] richardliaw commented on #16549
nice! @DmitriGekhtman can we close this issue?

[2021-07-02 02:29] #14426 closed

[2021-07-02 02:29] #16714 closed

[2021-07-02 02:34] richardliaw commented on #14391
Hmm, maybe you'll need to open a port between 172.17.0.3 for your local machine?

[2021-07-02 02:35] richardliaw commented on #14394
Do you have a good idea as to how to reproduce this issue?

[2021-07-02 02:37] richardliaw commented on #16072
bumping to p1 due to a couple others now participating / following this issue.

[2021-07-02 02:37] #16549 closed

[2021-07-02 02:39] richardliaw commented on #16614
@rkooo567 can we assign someone for getting a repro for this? this could break a lot of GPU workloads

[2021-07-02 02:40] richardliaw commented on #16641
This seems similar to #15262 . Maybe we can bump this a bit?

[2021-07-02 02:41] #14029 closed

[2021-07-02 02:42] DmitriGekhtman commented on #11457
@SheldonCurtiss could you describe how you're deploying Ray on k8s and accessing the dashboard?

[2021-07-02 02:43] #15968 closed

[2021-07-02 02:44] richardliaw commented on #15766
This should be fixed in latest release.

[2021-07-02 02:44] #15766 closed

[2021-07-02 03:14] kfstorm commented on #14469
@SongGuyang @qicosmos Is this issue solved?

[2021-07-02 03:33] wuisawesome commented on #16811
Yeah most likely not. It was only meant to be an internal helper for picking a good default num_cpus.

Can you describe your use case? In particular, why would `ray.cluster_resources()` not work?

[2021-07-02 03:36] richardliaw commented on #16811
(Or even just `multiprocessing.cpu_count`)?

[2021-07-02 03:41] #15835 closed

[2021-07-02 03:47] richardliaw commented on #16585
nice!

[2021-07-02 03:47] #16585 closed

[2021-07-02 03:57] #15606 closed

[2021-07-02 03:57] richardliaw commented on #16421
I believe so!

[2021-07-02 03:57] #16421 closed

[2021-07-02 03:58] richardliaw commented on #16421
be sure to ask questions on discuss.ray.io too!

[2021-07-02 03:58] richardliaw commented on #16383
hey @leonnardo did you end up opening a request? sorry for the late followup!

[2021-07-02 03:59] #15975 closed

[2021-07-02 04:01] richardliaw commented on #16340
This is a good question! I think we should probably prepare an example for this.

[2021-07-02 04:07] richardliaw commented on #16293
Is this just ray.init? Can you try downgrading Ray?

[2021-07-02 04:09] juliusfrost opened #16829 "[rllib] train.py prepends rllib path to non file paths"
### What is the problem?

Through further inspection on issue #16720 and PR #16721, it seems that the `rllib/train.py` prepends the rllib absolute directory path to the `input` config options. However, it is not always the case that config values are file paths (ex. d4rl). This seems to be done due to testing reasons, but it blocks designing custom input APIs that are not files.

*Ray version and

[2021-07-02 04:11] richardliaw commented on #16159
Hmm, this seems odd. Maybe it's that one of the layers is overriding the underlying policy.

@michaelzhiluo, @krfricke , @sven1977 do you have time to take a look?

[2021-07-02 04:13] richardliaw commented on #15874
Hope things look good @Yuanzhuo-Liu  -- thanks for the help, @mvindiola1 !

[2021-07-02 04:13] #15874 closed

[2021-07-02 04:13] richardliaw commented on #15818
@rkooo567 can I assign this docs change to you?

[2021-07-02 04:18] #15387 closed

[2021-07-02 04:19] richardliaw commented on #15387
The solution to this probably is to make sure you call `ray.init(address="...")`.

[2021-07-02 04:19] richardliaw commented on #15081
This isn't supported right now. I'll leave this open as a feature request.

[2021-07-02 04:20] #10428 closed

[2021-07-02 04:21] richardliaw commented on #14897
@ericl @stephanie-wang FYI

[2021-07-02 04:22] richardliaw commented on #14834
cc @matthewdeng @yard1 for contributor guide efforts.

[2021-07-02 04:23] #15568 closed

[2021-07-02 04:24] richardliaw commented on #16308
will leave it to @ericl to triage/assign

[2021-07-02 04:26] #14151 closed

[2021-07-02 04:40] richardliaw commented on #13240
@Shentao-YANG I would suggest turning off Hyperband for now to validate the behavior properly.

Closing this issue because I think the original issue was addressed, and the behavior @Shentao-YANG is seeing now is just of Hyperband.

[2021-07-02 04:40] #13240 closed

[2021-07-02 05:41] jovany-wang commented on #16638
Thank you @slimshreydy .

BTW, do you know is there a tool that can check or scan the jar for vulnerabilities?

[2021-07-02 06:08] jovany-wang opened #16831 "[Java] Unable to locate appender "LogToRollingFile" for logger config "root""
This appears in Java driver:

![image](https://user-images.githubusercontent.com/19473861/124228500-dbfa4780-db3e-11eb-8eb1-09fb62d40c4b.png)

[2021-07-02 08:19] richardliaw commented on #14863
This may be fixed on latest master?

[2021-07-02 08:20] loicsacre opened #16837 "[Tune] Allow the logging of wandb.Image"
It would be nice to be able to log wandb.Image there

https://github.com/ray-project/ray/blob/e77a964640aff50f49916d70c239eb2a8dc44161/python/ray/tune/integration/wandb.py#L26

It would be enough to replace these lines above by:

[code]

[2021-07-02 08:22] richardliaw commented on #16494
@audreyccheng did you resolve this?

[2021-07-02 08:41] Yard1 commented on #16779
@richardliaw sure, go ahead

[2021-07-02 10:02] hokiegeek2 commented on #7297
@richardliaw sounds good, thank you!

[2021-07-02 11:12] xiuxiu commented on #8003
I can reproduce in the following environment:

ubuntu 18.04
Ray 1.4.1
Python 3.8.10

Sample code
`import ray
ray.init()

@ray.remote
class Counter(object):
    def __init__(self):
        self.n = 0

    def increment(self):
        self.n += 1

    def read(self):
        return self.n

counters = [Counter.remote() for i in range(4)]
[c.increment.remote() for c in counters]
futures = [c.read.remo

[2021-07-02 11:47] linpan commented on #8003
use ray2.0dev try again

At 2021-07-02 19:12:52, "Rock Luo" ***@***.***> wrote:

I can reproduce in the following environment:

ubuntu 18.04
Ray 1.4.1
Python 3.8.10

Sample code
`import ray
ray.init()

@ray.remote
class Counter(object):
def init(self):
self.n = 0

def increment(self):
    self.n += 1

def read(self):
    return self.n

counters = [Counter.remote() for i in range(4)]
[c.increment.r

[2021-07-02 13:28] Wormh0-le commented on #16715
I also encountered this issue, and I found set `framework=tf` or `framework=tfe` will work, but when set `framework=torch`, it'll `list index out of range`，and after downgraded 0.8.7, it works well.

[2021-07-02 16:39] frenkowski opened #16845 "[rlib] Independent bound for each dimension AssertionError"
### What is the problem?

Starting from [Ray-1.4.0](https://github.com/ray-project/ray/releases/tag/ray-1.4.0), the Box space type with independent bound for each dimension (e.g. `Box(low=np.array([-1.0, -2.0]), high=np.array([2.0, 4.0]), dtype=np.float32)`) is no longer supported.
Looking at the file `/ray/rllib/models/catalog.py`, in lines 244-245 I noticed the following  new asserts:

[code]

M

[2021-07-02 16:47] Wormh0-le opened #16848 "I also encountered this issue, and I found set `framework=tf` or `framework=tfe` will work, but when set `framework=torch`, it'll `list index out of range`，and after downgraded 0.8.7, it works well."
I also encountered this issue, and I found set `framework=tf` or `framework=tfe` will work, but when set `framework=torch`, it'll `list index out of range`，and after downgraded 0.8.7, it works well.

_Originally posted by @Wormh0-le in https://github.com/ray-project/ray/issues/16715#issuecomment-872999013_

[2021-07-02 17:13] architkulkarni commented on #14651
Closed by https://github.com/ray-project/ray/pull/15361

[2021-07-02 17:13] #14651 closed

[2021-07-02 17:18] architkulkarni commented on #15375
Closed by https://github.com/ray-project/ray/pull/16075

[2021-07-02 17:18] #15375 closed

[2021-07-02 17:19] architkulkarni commented on #15372
Closed by https://github.com/ray-project/ray/pull/15881

[2021-07-02 17:19] #15372 closed

[2021-07-02 17:19] architkulkarni commented on #15373
Closed by https://github.com/ray-project/ray/pull/15927

[2021-07-02 17:19] #15373 closed

[2021-07-02 17:20] architkulkarni commented on #15371
Closed by https://github.com/ray-project/ray/pull/15782

[2021-07-02 17:20] #15371 closed

[2021-07-02 17:21] architkulkarni commented on #15931
Closed by https://github.com/ray-project/ray/pull/15958

[2021-07-02 17:21] #15931 closed

[2021-07-02 17:40] architkulkarni commented on #16031
Closed by https://github.com/ray-project/ray/pull/16177

[2021-07-02 17:40] #16031 closed

[2021-07-02 18:03] wuisawesome opened #16851 "[Dataset] Modin Integration"
### Describe your feature request

We should have a Ray dataset <-> Modin integration.

The Modin -> Dataset portion will likely look very similar to #14039 (MLDataset integration).

The Dataset -> Modin part is TBD, and might require some support from the Modin codebase.

[2021-07-02 18:06] wuisawesome commented on #16851
cc @devin-petersohn

Companion issue: https://github.com/modin-project/modin/issues/3213

[2021-07-02 18:27] Wormh0-le commented on #16848
Opps, I found that It works well in ray 0.8.7, it is because `self.device=torch.device('cpu')`，and `ray.get_gpu_ids()` returned is still a empty list.

[2021-07-02 18:31] ericl opened #16852 "[RFC] Allow pipelining data processing and ML computations"
The problem: currently, several use cases for combining datasets with ML inference and training desire overlapping preprocessing and ML computation. Here are three scenarios that have come up:

## Use cases
**Batch inference**: The user wants to preprocess a large number of files from S3, and then use GPU actors to perform batch inference on it. Since the preprocessing stage can take a long time,

[2021-07-02 18:36] amogkam commented on #16682
Hey @HuangLED thanks for making the feature request! We are currently working on this implementation right now.

But a quick question: what default strategy do you think makes sense? Also why would you need multiple placement groups?

[2021-07-02 18:58] audreyccheng commented on #16494
I still am unable to build from source on my Mac so I'm going to try using Docker.

[2021-07-02 19:15] Wormh0-le commented on #16848
Maybe it's not a bug, just can't use in this way. should `tune.run()`

[2021-07-02 19:20] richardliaw commented on #16845
hey @frenkowski that looks right. Can you open a PR and tag me?

[2021-07-02 19:20] richardliaw commented on #16715
Assigning to Sven, but Sven will be out of town for a week. If anyone has a workaround please post!

[2021-07-02 19:22] richardliaw commented on #16770
@michaelzhiluo can you take a look?

[2021-07-02 19:23] rkooo567 commented on #10237
1) Yes you are right. If that's the case scheduling will not happen (and the work will hang). So using the IP directly is usually a bad practice when you use autoscaler (especially if you allow downscaling). If you'd like to tackle the locality problem, consider using https://docs.ray.io/en/master/placement-group.html
2) Resources are just key-value pairs. When you specify resources in any way, th

[2021-07-02 19:23] #10237 closed

[2021-07-02 19:23] richardliaw commented on #16529
Hmm, let me make sure we triage this.

[2021-07-02 19:24] richardliaw commented on #16529
@Bam4d can you reopen the PR?

[2021-07-02 19:24] rkooo567 commented on #10867
Still not handled. For example, it is not clear what's the behavior when we ray up and ray down, and ray up again.

[2021-07-02 19:25] michaelzhiluo commented on #16770
Hi all, `lagrangian=True` hasn't been fully tested yet (neither is the optimizer being used even when it is true); for now, CQL should work with it set to False.

[2021-07-02 19:27] HuangLED commented on #16682
Thanks Amog, @amogkam .  Let me explain the difficulty first, then throw out what default strategy I think work for my use case.

[Issue]
My use case is to train GNN model.  Let us say we have ray cluster with 10 nodes. In a distributed GNN setting, we partition graph into 10 partitions and load them into memory (Graph Sampling service, memory intensive) on each node, by using ip-based placement g

[2021-07-02 19:30] #16457 closed

[2021-07-02 19:31] rkooo567 commented on #12238
Should be available now.

[2021-07-02 19:31] #12238 closed

[2021-07-02 19:31] #10301 closed

[2021-07-02 19:31] richardliaw commented on #15764
@kk-55 could you submit a PR to fix? that would be really appreciated!

[2021-07-02 19:33] richardliaw commented on #15710
@yangysc would you be interested in pushing a fix?

[2021-07-02 19:36] #13605 closed

[2021-07-02 19:36] rkooo567 commented on #13605
Should be handled with better public/private API annoation

[2021-07-02 19:37] richardliaw commented on #14863
@architkulkarni can you take a look at this?

[2021-07-02 19:37] #14252 closed

[2021-07-02 19:38] richardliaw commented on #16769
@simon-mo can you assign some priority for this (and removing the triage label)? the triage label should be temporary at best -- thanks!

[2021-07-02 19:38] rkooo567 commented on #14502
We don't use arrow format currently by default

[2021-07-02 19:38] #14502 closed

[2021-07-02 19:39] rkooo567 commented on #14541
Should be available in the recent versions.

[2021-07-02 19:39] #14541 closed

[2021-07-02 19:41] #8023 closed

[2021-07-02 19:42] rkooo567 commented on #14570
Probably need to handle this in a different way than Prometheus

[2021-07-02 19:42] #14570 closed

[2021-07-02 19:45] rkooo567 commented on #12812
Spillback wasn't implemented yet, but we can always revisit when we discover issues. Closing it for now

[2021-07-02 19:45] #12812 closed

[2021-07-02 19:46] rkooo567 commented on #14428
@ericl The last one is about dumping ray memory output. I will close this issue now as most of them are handled.

[2021-07-02 19:46] #14428 closed

[2021-07-02 19:46] rkooo567 commented on #14702
@mGalarnyk Please do so!! I think it is very important for the adoption

[2021-07-02 19:48] rkooo567 commented on #15035
Do you still see this issue now?

[2021-07-02 19:49] richardliaw commented on #13910
IF anyone can reproduce on AWS, this would be very much appreciated.

[2021-07-02 19:50] Dylan-Kerler commented on #9419
What's the status of this?

[2021-07-02 19:51] rkooo567 commented on #7908
This issue must not exist in the master anymore because the object spilling is on by default

[2021-07-02 19:51] #7908 closed

[2021-07-02 19:52] amogkam commented on #16682
Thanks for the thorough description! The use case makes a lot of sense, and we should be able to support this fully.

Just want to point out that neither strategy actually require multiple placement groups.

For the short term fix- this can be done by using a single placement group with a bundle for each worker and SPREAD strategy.

For the ideal strategy- this still uses a single placement group,

[2021-07-02 19:53] #13181 closed

[2021-07-02 19:53] rkooo567 commented on #15265
Can we close it?

[2021-07-02 19:54] rkooo567 commented on #15435
The object is stored in the plasma store, which is different from Redis

[2021-07-02 19:54] #15435 closed

[2021-07-02 19:55] wuisawesome commented on #16696
cc @lixin-wei

If you're able to make the cluster resource scheduler use a `std::unordered_map<std::string, FixedPoint>` in your cleanup, you will fix this issue.

[2021-07-02 19:56] wuisawesome commented on #15265
yup

[2021-07-02 19:56] #15265 closed

[2021-07-02 20:00] wuisawesome commented on #16380
@radix0000 out of curiosity, in your opinion, what would've been the ideal way for us to have communicated this change?

[2021-07-02 20:38] ankur6ue commented on #11457
Here's how:
kubernetes yaml:
[code]
do k create -f <yaml-name>
exec into the container and start ray:
k exec --stdin --tty ray-head -- /bin/bash
ray start --head --num-cpus=4

Go to pod_ip:8265 on a browser. Dashboard should show up. It doesn't. Interestingly, when I curl pod_ip:8265, I get connection refused, but when I curl pod_ip:10001, I get curl: (1) Received HTTP/0.9 when not allowed, which

[2021-07-02 20:44] DmitriGekhtman commented on #16434
This is a duplicate of
https://github.com/ray-project/ray/issues/16279
The issue was resolved in Ray 1.4.1.
https://github.com/ray-project/ray/pull/16281
Please try it out with Ray 1.4.1 -- I hope you have better results there!

[2021-07-02 20:44] #16434 closed

[2021-07-02 20:46] Dylan-Kerler opened #16855 "Tune not saving checkpoint after Ctrl+c"
Run the following tune experiment:

[code]

Do Ctrl+C

Expect to see a checkpoint file but no checkpoint file is generated:

![Screenshot from 2021-07-02 21-45-51](https://user-images.githubusercontent.com/37438950/124326771-efc59e00-db7e-11eb-8009-67ece21f451a.png)

As per the docs here: https://docs.ray.io/en/master/tune/api_docs/execution.html
It says that a checkpoint file will be generated af

[2021-07-02 20:47] DmitriGekhtman commented on #16423
Feel free to reopen this issue or https://github.com/ray-project/ray/issues/16434 if you have trouble with the latest current release version of Ray, which is 1.4.1. :)

[2021-07-02 20:47] #16423 closed

[2021-07-02 20:53] DmitriGekhtman commented on #11457
What version of Ray is used here?

[2021-07-02 20:54] ankur6ue commented on #11457
Latest version.. 1.4.1 I believe

[2021-07-02 20:56] ericl commented on #14580
We should also remove the legacy plasma info string here.

[2021-07-02 21:10] ankur6ue commented on #11457
When I run ray from inside a docker container, then I'm able to access the dashboard from outside:

[code]
Please help debug what goes wrong when it is running as a kubernetes pod..

[2021-07-02 21:17] ankur6ue commented on #16776
The issue was related to setting a non-default redis password when starting ray from inside the docker container. This is because calling ray.client doesn't let me specify the redis password. This should be fixed, unless I'm missing something. You should definitely be able to reproduce the issue if you set a non-default redis password when you call ray start from the docker container.

[code]

[2021-07-02 21:27] ankur6ue commented on #16776
I now have a question about the same issue from inside a kubernetes pod.

Here's my kubernetes pod yaml:
[code]
I start a pod:
k create -f yaml_name
# exec into the pod and start ray:
 k exec --stdin --tty pod_name -- /bin/bash
ray start --head

Verify pod is running and get the pod ip. Then try to connect using ray.client("pod_ip:10001").connect()
You'll get an error. Let me know if you need any

[2021-07-02 21:51] outdoteth opened #16856 "how do I check enviroment frames per second in rllib?"
how do I check enviroment frames per second in rllib?

[2021-07-02 22:03] DmitriGekhtman commented on #16776
Using a non-default redis password is no longer a public part of our api, as we don't recommend using that to secure the redis -- you should isolate your network instead.

We should print a message saying it's deprecated.

For the k8s issue:
1. I recommend setting requests and limits (preferably equal) for ray to function correctly
2. I think to connect from outside the k8s you'd first want to do

[2021-07-02 22:10] DmitriGekhtman commented on #16776
oh I see you're connecting inside of the pod. let me take a look

[2021-07-02 22:16] DmitriGekhtman commented on #16776
I'm unable to reproduce the issue when connecting from inside the pod.
Could you post the error message?

[2021-07-02 22:21] DmitriGekhtman commented on #11457
To view the dashboard, you need to run the following locally (outside the cluster)
`kubectl port-forward ray-head 8265:8265`
then open `http://localhost:8265` in a browser.

Check out the [docs](https://docs.ray.io/en/master/cluster/kubernetes.html) for the recommended way of using Ray on K8s.

[2021-07-02 22:30] richardliaw commented on #16855
I think a checkpoint is only generated for the controller (not the trial itself).

[2021-07-02 23:24] Dylan-Kerler commented on #16855
What's the difference?

[2021-07-03 00:14] #16837 closed

[2021-07-03 00:16] richardliaw commented on #16855
Ah @Dylan-Kerler sorry for the bad reply, got distracted:

Checkpoint upon ctrl-c is only useful for checkpointing the experiment (i.e, what trials were run, etc). I think what you might be also interested in is trial checkpointing - in which case you should probably set "checkpoint_freq=1" and "keep_checkpoints_num=X". This makes it so that you can resume both the experiment and your trials after

[2021-07-03 01:01] xcharleslin commented on #16815
Correctamundo. Thanks for triaging @DmitriGekhtman !

[2021-07-03 02:26] #16728 closed

[2021-07-03 02:39] crazy25000 commented on #12940
Your limits are inverted, try flipping the min and max.

[2021-07-03 03:53] #16831 closed

[2021-07-03 03:56] #8325 closed

[2021-07-03 03:56] #14078 closed

[2021-07-03 06:28] ericl opened #16858 "Crash during cluster autoscaling: Check failed: node_info_opt Spilling back to a node manager, but no GCS info found for node"
Reproduction can be found in https://github.com/ray-project/ray/issues/16342:

`python3.7 cart_with_tree.py -n 1` (8-cpu HEAD node, up to 10 16-CPU workers)

The good news is the object SIGSEGV seems to be solved, however now one in 5 times I see:

(raylet) [2021-07-02 23:25:15,081 C 168 168] cluster_task_manager.cc:939:  Check failed: node_info_opt Spilling back to a node manager, but no GCS info

[2021-07-03 08:12] #16829 closed

[2021-07-03 10:02] StrangeTcy opened #16859 ""ray up" on GCP can't start a head node"
### What is the problem?

* Using ray 1.4.0. 14.1 and 2.0.0dev0 on Ubuntu 18.04, I can't start a cluster.

### Reproduction (REQUIRED)
`ray up  -y python/ray/autoscaler/gcp/exmaple-full.yaml` runs fine until it fails with the following error:

[code]

Manual editing of the `/usr/local/lib/python3.6/dist-packages/googleapiclient/http.py` file and setting the default timeout to 600 didn't help.
Perh

[2021-07-03 15:08] pxc commented on #16065
@sven1977 Many thanks. I've just tried this with `ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl` and can confirm that this issue is fixed there.

[2021-07-03 21:26] ericl commented on #16858
Update: I've bisected this down to https://github.com/ray-project/ray/pull/16261

I'm not entirely sure what the root cause is, but I suspect it's related to the node info tracking changes in `node_manager.cc`. Two follow-ups for this issue:
1. We should find and fix the root cause from #16261
2. We should change `cluster_task_manager` to gracefully handle missing node infos, rather than brittlely

[2021-07-03 22:08] ericl commented on #16136
The original issue should now be fixed in the nightly.

[2021-07-03 22:08] #16136 closed

[2021-07-03 23:28] #14214 closed

[2021-07-03 23:28] #14101 closed

[2021-07-04 01:37] guru4elephant opened #16866 "download dataset on each worker in parallel"
I'm trying to implement data parallel distributed training algorithm with ray. The design is to make each worker download one or several shards of the whole dataset and then go to distributed training. My question: Is there any best practice for distributed data parallel training?

Another question is if data parallel can be easily implemented with ray, how can I make sure I can evenly partition t

[2021-07-04 02:23] guru4elephant commented on #16866
I've tried a solution for download data with only one process on each worker, i.e. assign all cpu to my download remote function, but this solution is not doable if I want to overlap data download and model training process.

[2021-07-04 03:59] #10376 closed

[2021-07-04 06:12] lixin-wei commented on #16696
I don't understand this. Every node has its own string_to_int_map_, why removing a resource from a node will affect another node?

[2021-07-04 06:25] lixin-wei commented on #16696
@wuisawesome We shouldn't use string keys, this will be a huge performence regression. To fix this issue I think we can keep the hash result, don't remove items from string_to_int_map_ when removing resources.

[2021-07-04 08:02] richardliaw commented on #14506
Is this a shared mount across all nodes? You may want to consider disabling syncing in that case.

[2021-07-04 09:57] kk-55 commented on #15764
@richardliaw I've submitted this PR #16868

[2021-07-04 10:33] #14213 closed

[2021-07-04 14:43] imxuemei commented on #8003
I can reproduce in the following environment:
OS: win 10
python: 3.8
ray: 2.0 dev

The code is from https://github.com/ray-project/ray/blob/master/rllib/agents/maml/tests/test_maml.py, and I modify it as follows.
`ray.init(include_dashboard=False)
# TestMAML().test_maml_compilation()
config = maml.DEFAULT_CONFIG.copy()
config["framework"] = "torch"
config["num_workers"] = 1
config["horizon"] = 200

[2021-07-04 15:01] DmitriGekhtman commented on #16072
Solution involves adding retries in gcp node provider
https://github.com/ray-project/ray/blob/7b4a97c6100ba5a05e07d9b3712ccedd9f734e82/python/ray/autoscaler/_private/gcp/node_provider.py
and/or in autoscaler as in here
https://github.com/ray-project/ray/blob/41b2e569fbf85f7f236053cf08bfcaf28297511f/python/ray/autoscaler/_private/autoscaler.py#L155

[2021-07-04 15:28] DmitriGekhtman commented on #16859
Not sure if it's important, but what's your locally installed version of `google-api-python-client`?

[2021-07-04 15:45] DmitriGekhtman commented on #16859
Wasn't able to reproduce with `google-api-python-client==2.11.0` `python=3.7.10`
Will take a look with Python 3.6.
cc @ijrsvt -- any insights off the top of your head?

[2021-07-05 00:01] robertnishihara commented on #16638
Thanks @slimshreydy, we'll fix this. As a very short term patch, you can probably just `rm` all the jars from the Ray wheels.

[2021-07-05 00:03] robertnishihara commented on #16638
@jovany-wang I think the tools are using Grype and Trivy to scan containers with Ray.

[2021-07-05 01:01] LikvidJozsi commented on #9233
This carriage return problem is created when the worker adds the pid to the start of each line printed. After doing so it calls the print function, which by default puts a newline character at the end of the string. By modifying the print calls in [print_worker_logs](https://github.com/ray-project/ray/blob/973a7a3ffa9eee83007b605cb903191d3c0ee860/python/ray/worker.py#L1033) function in worker.py b

[2021-07-05 03:09] jovany-wang commented on #16638
@slimshreydy @robertnishihara Streaming dir is not checked.

[2021-07-05 03:19] jovany-wang commented on #16638
@chaokunyang @ashione  Can you also upgrade these dependencies in streaming?

[2021-07-05 03:21] jovany-wang commented on #16638
But it's wired that we also use low level guava and snakeyaml in streaming.

[2021-07-05 03:31] zhe-thoughts commented on #16638
Thanks @jovany-wang , @chaokunyang , @ashione . Once you have a PR to fix the remaining log4j issue, could you link here? Since this is a security issue, it would be great to fix quickly. Thank you for helping maintaining this!

[2021-07-05 04:01] #15963 closed

[2021-07-05 04:04] chenk008 opened #16871 "Add resource limit for worker in container"
### Describe your feature request

Currently ray can start worker in container when we set image in runtime env`, we want to limit resource usage for worker container. And in container, we can add cpushare limit, cpuset, memory hard/soft limit, nvidia gpu limit.

[2021-07-05 05:49] smorad opened #16872 "[RLlib] Graph convolutional Memory"
@sven1977

I used rllib for my paper [Graph Convolutional Memory for Deep Reinforcement Learning](https://arxiv.org/abs/2106.14117). I've found it outperforms GTrXL, LSTM, and DNC on partially observable problems such as stateless cartpole.

I'm curious if you would be interested in upstreaming my work. If so, I can clean it up and add it as a `TorchModelV2` similar to LSTMs/GTrXLs using something

[2021-07-05 06:43] chenk008 opened #16873 "Add resource IDs in TaskResourceInstances,NodeResourceInstances"
### Describe your feature request

We uses `ResourceIdSet` to keeps track of the specific IDs that are available for a collection of resources before. Now we uses `TaskResourceInstances` and `NodeResourceInstances` ,  there is no information about resource IDs.  We want to support resource limit in https://github.com/ray-project/ray/issues/16871, I think the information about resource IDs is impor

[2021-07-05 07:11] lixin-wei commented on #16873
We've discussed offline, this information is still available in the new scheduler's structs, this issue is invalid, closing.

[2021-07-05 07:26] lixin-wei commented on #16873
This information is still available in TaskResourceInstances.

[2021-07-05 08:28] #12683 closed

[2021-07-05 08:54] Tonyhao96 opened #16874 "[Tune] Progress report becomes strange after upgrading to ray 1.4.1"
Previous ray version, like 1.4, the log of tuning progress like this:

Memory usage on this node: 69.5/251.4 GiB
Using FIFO scheduling algorithm.
Resources requested: 16.0/24 CPUs, 8.0/8 GPUs, 0.0/146.26 GiB heap, 0.0/66.67 GiB objects (0.0/1.0 accelerator_type:V100)
Current best trial: 0b62c_00019 with val_accuracy=0.9474 and parameters={'lr': 0.0244, 'momentum': 0.28, 'weight_decay': 0.00936, 'b

[2021-07-05 08:57] Chethan-Babu-stack commented on #11547
Has this issue been solved?

[2021-07-05 08:59] richardliaw commented on #11547
@Chethan-Babu-stack the solution for me usually is to disable joblib (or set workers to 0 or 1) within the Ray process/worker.

[2021-07-05 09:02] Chethan-Babu-stack commented on #11547
Thanks for the quick reply Richard. I don't understand what you meant. Can you please explain a bit more?

[2021-07-05 09:13] chenk008 commented on #16873
Thanks. I think we can use  `predefined_resources` in `TaskResourceInstances` to get the assigned GPUs. And I have found `accelerator_type` in the remote option, so the GPU in `predefined_resources` can stand for the GPU resource.

How about other resource like FPGA?  Now UnitInstanceResources only contains CPU,GPU.

[2021-07-05 09:21] chenk008 commented on #16873
https://github.com/ray-project/ray/blob/7c21be545037ec5be09e41d49badb3ba0b4469e3/src/ray/raylet/scheduling/cluster_resource_scheduler.cc#L622
Why we treat all custom resource as none unit_instances?

[2021-07-05 09:22] richardliaw commented on #11547
I only see this error for scikitlearn usage with Ray. can you tell me whats your context for running into this?

[2021-07-05 09:35] Chethan-Babu-stack commented on #11547
I'm parallelizing the 10 Fold cross validation as "folds_val_test = Parallel(n_jobs=10)(delayed(train)(fold) for fold in range(n_folds)) " which uses scikit learn inside each fold.

Issue:
LokyProcess-10 failed with traceback:
--------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/home//my-kernel/lib/python3.6/site-packages/jobl

[2021-07-05 11:05] linpan commented on #8003
so weird bugs

At 2021-07-04 22:44:06, "imxuemei" ***@***.***> wrote:

I can reproduce in the following environment:
OS: win 10
python: 3.8
ray: 2.0 dev

The code is from https://github.com/ray-project/ray/blob/master/rllib/agents/maml/tests/test_maml.py, and I modify it as follows.
`ray.init(include_dashboard=False)

TestMAML().test_maml_compilation()

config = maml.DEFAULT_CONFIG.copy()
config["

[2021-07-05 11:32] sietseromijn commented on #16284
Hey @krfricke, I have been unable to test it.
I tried building Ray from source but i'm getting an AutoscalingExceptionRecovery error when creating a cluster.

Might be because I am building the Dockerfile wrong.
Does this look alright?
[code]

[2021-07-05 12:11] chenk008 commented on #16873
And I think `CPU` should not belong to UnitInstanceResources when we use cpushare to limit resource usage.

[2021-07-05 12:43] hamedhsn opened #16875 "ModuleNotFoundError: No module named 'joblib'"
### What is the problem?
I have deployed a ray cluster in kubernetes and I wanted to test simple sklearn but I am getting `ModuleNotFoundError: No module named 'joblib'`
I am running ray job as Kubernetes job.
[code]

this is the trace:
[code]

this is the code:
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*
ray, `version 1.4.1`

### Reproduction (REQUI

[2021-07-05 14:37] jaredvann commented on #15893
Issue is still occuring with Ray 1.4.0.

[2021-07-05 15:36] lixin-wei commented on #16873
Yeah, I'm also wondering why we only set unit_instances=true for predefined resources? Why we designed like that, @wuisawesome could you help?

[2021-07-05 17:05] janpawlowskiof opened #16877 "[kubernetes] Remote function scheduled to worker without a GPU despite specyfying num_gpus=1"
In the helm chart I specify `GPU: 0` for head node and `GPU: 1` for a worker node.
Then a schedule a simple function decorated with `@ray.remote(num_gpus=1)` expecting it to be only scheduled to worker nodes when called (since head node has no gpu), but it is scheduled to head node as well as worker nodes.
Also I checked that the GPU is actaully available only on the worker nodes as it should be.

[2021-07-05 17:15] mwtian commented on #16696
Not removing the items are great. If we want to avoid the complexity of passing `string_to_int_map_` for translation while maintaining performance, we can intern the string and use pointers to interned objects for comparisons. Maybe boost::flyweight can be used but I haven't verified.

[2021-07-05 17:42] ericharper opened #16878 "Hyperparameter tuning with Conversational AI Models"
Hi,

We have multiple NeMo users that are interested in using Ray Tune with PyTorch Lightning. NeMo also uses PTL so it's a natural idea to leverage Ray Tune with NeMo: https://github.com/NVIDIA/NeMo/issues/2442, https://github.com/NVIDIA/NeMo/issues/2376

However, there is an issue with the model not being able to be pickled. Can Ray Tune + PTL be used with the large models that are used in Conve

[2021-07-05 18:05] richardliaw commented on #16878
Hey @ericharper, thanks for raising this up!

I just took a look at the issues, and it seems like there's two separate threads:

1. Distributed fine-tuning using [Ray Accelerators](https://github.com/ray-project/ray_lightning).
2. Distributed hyperparameter tuning using Ray Tune.

RE: distributed fine-tuning with accelerators, it seems like there's some sort of serialization error for NeMo. Lightn

[2021-07-05 18:05] richardliaw commented on #16877
cc @DmitriGekhtman @AmeerHajAli

[2021-07-05 18:49] DmitriGekhtman commented on #16877
Thanks for pointing this out -- last time I looked at ResourceDemandSchedulet code it looked like it was overriding user settings with resources detected at runtime -- looks from this issue that that's indeed the case. This is a general autoscaler problem (not k8s specific)

[2021-07-05 20:00] richardliaw commented on #16877
@DmitriGekhtman got it, Is it possible to fix this for 1.5.0?

[2021-07-05 21:20] Rohan138 opened #16880 "[rllib] Torch fractional gpu does not work correctly"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python 3.8.10, ray 1.4.1 & 2.0.0dev, PyTorch 1.9, Ubuntu 18.04 LTS
I'm using a machine with 1 GPU, but have also tested on cluster with 2 g4dn.xlarge instances launched using ray cluster.

### Reproduction (REQUIRED)
python ray/rllib/examples/fractional_gpus.py --num_gpus=0.5 (This works

[2021-07-05 22:09] DmitriGekhtman commented on #16877
@richardliaw most likely

@janpawlowskiof could you provide more details about your kubernetes setup?

What could help in particular: details about the Ray head pod at runtime and about the k8s node the head pod is running on.
What's the k8s node's gpu setup?

[2021-07-06 00:09] dovahcrow commented on #16776
Same issue, Ray on Kubernetes using the official helm chart. No matter the client is outside the cluster or inside the cluster, it triggers a `SIGABRT` when running `ray.init(address="auto"`.

A little bit drill down using GDB it turns out `SpdLogMessage::Flush` triggers the `abort` which I guess the logger gets a critical log message but the log never got printed out before the whole process term

[2021-07-06 00:36] sheecegardezi opened #16881 "[ray] Whats the difference between core.raylet* and core.store* dumps?"
I have noticed following files being generated when I ran ray cluster:

core.ray*
core.raylet*
core.store.io* (currently)

On host node:

`ray start --head --num-cpus=${ncpu} --include-dashboard=true --dashboard-host=0.0.0.0 --dashboard-port=${rayDashboardPort} --port=${rayPort}`

On worker nodes:

`ray start --address=$hostIpNPort --num-cpus=${ncpu} --redis-password=${redisPassword} --block &`

I

[2021-07-06 02:35] iiapache commented on #16693
Thanks for reply！I have followed the config, however, the result is the same. Although 13M timesteps have been trained, the reward still remain about 2.  It's really strange.

[2021-07-06 04:25] DmitriGekhtman commented on #16877
Might have misdiagnosed the cause -- some details about the K8s nodes could help.

@wuisawesome just curious -- if a Ray node is started with a 0 GPU override, will GPU be absent from [resources_total](https://github.com/ray-project/ray/blob/500248163f88ce7a9a3a7b7c6fcb55e83dd27a8e/src/ray/protobuf/gcs.proto#L451)

[2021-07-06 04:42] DmitriGekhtman commented on #16877
Also @janpawlowskiof if things were working properly, this wouldn't be necessary, but I think you could get the correct behavior by adding `rayResources: {"GPU": 0}` to the head config.

I'm guessing the Ray head pod is scheduled on a gpu k8s node and Ray's gpu auto-detection is erroneously picking up the node's gpu as available.

[2021-07-06 05:12] DmitriGekhtman commented on #16776
I'm following these steps without seeing an error:
(1) helm install default chart
(2) kubectl exec into ray head after the head pod comes up
(3) open python shell
(4) run `import ray; ray.init("auto")`

@dovahcrow Does this cause a SIGABRT for you?

[2021-07-06 05:32] lixin-wei commented on #16696
@mwtian Did you mean `std::unordered_map<boost::flyweight<std::string>, FixedPoint>` ? I think it's a good idea.

[2021-07-06 05:40] dovahcrow commented on #16776
@DmitriGekhtman I didn't get any error if I run `import ray; ray.init("auto")` in the ray head container. However, I got sigabrt outside, e.g. in a container runs python:3.7.7.

I drilled down a little bit, and found that the reason for SIGABRT is "Failed to get the system config from Raylet: IOError: 14: failed to connect to all addresses`. However, I didn't have any issue connecting to the ports

[2021-07-06 07:27] lixin-wei commented on #16696
@mwtian Will you work on this? I think it worth the effort, we can set a task to the milestone. If you don't have time I can help.
@wuisawesome Do you agree with replacing it with `std::unordered_map<boost::flyweight<std::string>, FixedPoint>` ?

[2021-07-06 07:49] janpawlowskiof commented on #16877
Adding `rayResources: {"GPU": 0}` does fix this issue! Thanks a bunch!

Although I don't think that what your guess is correct.
The the head node really does not have any gpus according to `tf.config.experimental.list_physical_devices('GPU')`

[2021-07-06 07:59] #16448 closed

[2021-07-06 08:34] janpawlowskiof commented on #16877
For all my prior tests I used a kubernetes cluster configured with [this](https://github.com/NVIDIA/k8s-device-plugin#preparing-your-gpu-nodes) guide for a gpu support.

Docker image I used was `rayproject/ray-ml:1.4.0-py37-gpu`.

The only unusual thing (that I don't know if it's is supposed to happen?) was that I had to run these commands in the docker image in order for tensorflow to recognize t

[2021-07-06 08:50] #16284 closed

[2021-07-06 10:28] tekumara opened #16882 "[raysgd] example that includes experiment tracking"
An raysgd example that demonstrates experiment tracking would be really useful for getting started.

[2021-07-06 12:06] Amels404 commented on #16878
Thank you @ericharper  for opening this!
@richard4912  I'm actually more interested in the Hyperparamter part from my side.
I've tried to do as suggested in this: https://docs.ray.io/en/master/tune/tutorials/tune-pytorch-lightning.html
The issue is that I get an error telling me that:

`TypeError: can't pickle _thread.lock objects Other options:

[2021-07-06 13:03] smorad commented on #16529
@Bam4d @sven1977  I can verify this issue is back. Strangely, now `sample_time` explodes rather than `grad_time` using IMPALA
![image](https://user-images.githubusercontent.com/1743889/124604517-ebd99a80-de62-11eb-93c4-6e183a410ba6.png)

[2021-07-06 13:38] #14247 closed

[2021-07-06 13:38] #14245 closed

[2021-07-06 13:49] oroojlooy opened #16883 "Create separated actor and critic models in A2C"
Is it possible to have a separated model for the actor and the critic models in A2C from a config file, like the following config dict?

[code]

[2021-07-06 14:07] DmitriGekhtman commented on #16877
Great — the fact that the override resolved the problem identifies a fix I
can make for this issue.

On Tue, Jul 6, 2021 at 04:34 JuanPablo ***@***.***> wrote:

[2021-07-06 14:11] stefanbschneider commented on #15073
I'm also running into the issue now. But it seems like it doesn't affect functionality... I'll update if I find a reason/workaround/fix.

Btw, related issue here: https://github.com/ray-project/ray/issues/13511

[2021-07-06 14:13] chenk008 commented on #14077
Hi, @ericl  I have another look at the code about the way how Ray use share memory last days. Currently raylet pass the shared file descriptor to worker processes, it does not need HostIPC to use share memory in cross-pod containers  when disable SELinux. And I think most of kubernetes clusters make SELinux disable.

I think the originally proposed in this RFC is another option. How about moving o

[2021-07-06 14:32] mvindiola1 commented on #16883
Hi @oroojlooy,

It is not possible to do that with the default config and model in rllib but, you could do that yourself if you implemented a custom model. This will only work if you are using only fully connected layers. It is currently not possible to have seperate networks if you include an lstm.

https://docs.ray.io/en/master/rllib-models.html#custom-models-implementing-your-own-forward-logic

[2021-07-06 14:46] drewUCL commented on #9876
Note for anyone looking into this (_remove the commas_). Change:

[code]

to:

[code]

otherwise you will be evaluating on tuples which errors out.

[2021-07-06 15:11] Dylan-Kerler commented on #16855
Thanks 👍🏼

[2021-07-06 15:11] #16855 closed

[2021-07-06 15:19] DmitriGekhtman commented on #16776
Currently `ray.init` only works when run from within the Ray cluster -- this behavior may change in the near future (we know the current api is a bit confusing)
Right now client connections from outside a Ray cluster must use `ray.client(...).connect()`

[2021-07-06 15:26] translearn opened #16884 "[rllib] **model_config not passed to constructor for custom keras models"
### What is the problem?

*Ray version == 1.4.1*

When using a custom tf.keras.Model, the dictionary model_config is not passed to the constructor in rllib/models/catalog.py - line 456.

[code]

Adding **model_config fixes the issue:

[code]

### Reproduction

To reproduce the issue, create a custom model based on the class Keras_FullyConnectedNetwork in rllib/models/tf/fcnet.py.
When using the cu

[2021-07-06 15:48] richardliaw commented on #16878
@Amels404 do you mind posting your stack trace and also your training function?

[2021-07-06 16:05] ijrsvt commented on #16743
@clarkzinzow do you know have any insight into how to debug further?

[2021-07-06 16:32] clarkzinzow commented on #16743
My guess is that `df_train.persist()` in the user script is inlining Ray futures in the Dask collection, which XGBoost-on-Ray will try to use without the Dask-on-Ray scheduler since the `dask.config.set(scheduler=ray_dask_get)` in the user script isn't propagated to the server. As I noted above, we guarded against this by modifying the XGBoost-on-Ray data source to eagerly set the scheduler to Das

[2021-07-06 16:45] ijrsvt commented on #16313
TODO still:

* [ ] Configuring `ray.util.connect()`
* [ ] Explaining that dependencies must be the same version or else bad things might happen
* [ ] How to propagate environment variables to server
* [ ] Maybe a link to the `README.md` for how does it work

[2021-07-06 17:25] smorad opened #16891 "[tune] Resuming errored trials does not work"
### What is the problem?
`tune.run(..., resume='ERRORED_ONLY')` is supposed to reset and rerun failed experiments. It does not do so.

Verified using ray nightly wheel installed 7 July
### Reproduction (REQUIRED)
[code]

Truncated output:
[code]

If the code snippet cannot be run by itself, the issue will be closed with "needs-repro-script".

- [x] I have verified my script runs in a clean environ

[2021-07-06 17:40] DmitriGekhtman opened #16895 "[ray client][test] Add client tests for ray.multiprocessing"

[2021-07-06 18:01] ijrsvt commented on #16743
@matthewdeng I just tried removing that, it appears to work fine.

[2021-07-06 18:08] ijrsvt commented on #16743
@matthewdeng another workaround is to do:
[code]

[2021-07-06 18:15] ericl commented on #16638
Seems the above was erroneously reverted, @amogkam could you update this issue when that's undone?

[2021-07-06 18:57] matthewdeng commented on #16743
Nice, removing `persist()` I was able to get the original example! Though when trying on a more complex multi-node case (with Anyscale Connect) I started running into a new issue. To note, this issue does not occur every time and some runs have finished training successfully.

[code]

With `BETTER_EXCEPTIONS=1`:
[code]

[2021-07-06 19:00] MattEWeber opened #16900 "Huge memory usage from Ray's official docker images"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

I just started working from a new PC and for some reason I'm seeing huge memory usage from Ray's official docker images.
This is running with Linux kernel 5.10.42-1 docker version 20.10.7 and nothing configured aside from the usual docker user added to not run with sudo command.

### Rep

[2021-07-06 19:50] richardliaw commented on #16891
@matthewdeng maybe you can take a look into this?

cc @krfricke @amogkam

[2021-07-06 19:57] wuisawesome commented on #16873
I think GPU needs to be a unit resource and we should probably keep CPU a unit resource to avoid unexpected side effects. It's necessary because you can't split a 1 GPU task across multiple GPUs.

[2021-07-06 20:44] richardliaw opened #16908 "Provide an example config for TPU usage on GCP"
### Describe your feature request

We're seeing a good amount of usage for Ray with jax/TPU VMs.

It'd be great to provide an example Ray cluster configuration for accessing TPU VMs. Note that you'll probably need to have access to the TRC before then.

cc @shawwn from our correspondence.

[2021-07-06 20:44] richardliaw commented on #16908
@Yard1 maybe you can take a look at this next sprint?

[2021-07-06 20:59] Yard1 commented on #16908
Sounds exciting, please assign me @richardliaw!

[2021-07-06 21:01] amogkam commented on #16638
Just reverted it back so we're good here

[2021-07-06 21:01] #13557 closed

[2021-07-06 21:23] dkorolov opened #16909 "[windows][docker][core] Inconsistency between "ray status" and python ray.available_resources() results on manual cluster"
### Problem description
I use a manual on-premise cluster and I see different cluster resources availability results with `ray status` command and python `ray.available_resources()` function

1) If I use the `ray status` command on a simple 2 node cluster - I see the only head machine:

2) If I use `ray.available_resources()` on the same cluster - I see both machines in available resources:

I am

[2021-07-06 21:31] ericl commented on #16858
I've verified that this is a bug in the new grpc-based resource broadcast. Reverting as a short-term fix: https://github.com/ray-project/ray/pull/16910

After flipping the flag off, the above decision-tree suite passed 40x in a row with an autoscaling cluster.

[2021-07-06 21:36] edoakes commented on #16114
@fehtemam looks like your question was answered on Slack, but reposting here for future searchers:

You don't need to call uvicorn.run to run the FastAPI app yourself--that's taken care of by Ray Serve.  So here is a version of your script which should work (you'll need to call ray start --head before running, and call ray stop later when you want to shut it down):

[code]

[2021-07-06 21:57] #16100 closed

[2021-07-06 22:13] dkorolov commented on #16909
Also when I run standard tune_basic_example https://docs.ray.io/en/master/tune/examples/tune_basic_example.html . My work just pending and do nothing.  What strange - requested resources is zero. This related to cluster - all work fine on one local node.
I got log like this:

where `== Status ==` and following part repeat forever

[2021-07-07 00:49] oroojlooy commented on #16883
Thanks for the link!

[2021-07-07 00:49] #16883 closed

[2021-07-07 01:47] ericl commented on #16858
TODO: test this on master with latest wheels after the revert.

[2021-07-07 01:48] ericl commented on #16638
@slimshreydy the issue should be fixed now

[2021-07-07 01:49] thomasjpfan opened #16918 "Cython version is inconsistent in codebase"
The osx and linux wheels are pinned to `cython==0.29.15`:

https://github.com/ray-project/ray/blob/74c9fa065002a2e51b966528e4451bd78fe51fb2/python/build-wheel-macos.sh#L84

https://github.com/ray-project/ray/blob/74c9fa065002a2e51b966528e4451bd78fe51fb2/python/build-wheel-manylinux2014.sh#L78

while the rest of the codebase uses `0.29.0`. Should the rest of the codebase use `0.29.15` to be consist

[2021-07-07 01:50] DmitriGekhtman commented on #16909
Maybe something is going wrong at the windows layer.
cc @ijrsvt for any docker-related insights
cc @wuisawesome for any ray-core/networking insights

Adding a windows tag to description -- there's much room for improvement for ray's windows support.

[2021-07-07 02:13] chenk008 commented on #16873
Hi @wuisawesome How about adding a flag to enable cpu share mode? It is default policy in kubernetes. I have create a pull request.

[2021-07-07 02:26] seraphzl commented on #13879
I have the same problem as you. Does anybody know how to solve this issue?

### Reproduction (REQUIRED)

On remote server:

[code]

On the same server as above:

[code]

[2021-07-07 02:42] seraphzl opened #16921 "[cli] Support redis password for all ray commands"
### What is the problem?
When using customized redis password, redis reported response error: WRONGPASS invalid username-password pair

Ray version: 1.4.1
Python version: 3.7.10
OS: CentOS 7.9
Redis version: 3.5.3

### Reproduction (REQUIRED)

On remote host:

[code]

On the same host as above:

[code]

[2021-07-07 03:42] clay4444 commented on #16403
hmm..  I'm not sure if I got your mean correctly, the first question is that you killed an actor, and how to get the specific placement group bundle that the original actor located in?  If it is, I think you should save the relationship between actors and bundle indexes on the driver side, then you can always get the specific bundle.

And about the second question, I remember we have discussed it

[2021-07-07 03:47] #16858 closed

[2021-07-07 03:49] #16342 closed

[2021-07-07 03:49] ericl commented on #16342
Resolved

[2021-07-07 03:50] ericl commented on #16871
It makes sense. What are the semantics for the resource limits, would they come from the `num_cpus` or `num_gpus` options for tasks?

[2021-07-07 03:51] jovany-wang commented on #16047
@pcmoritz @ericl for the API approval.

[2021-07-07 04:08] ericl opened #16923 "Check failed: data_size == static_cast<uint64_t>(object_buffer.data->Size() + object_buffer.metadata->Size())"
object_buffer_pool.cc:74:  Check failed: data_size == static_cast<uint64_t>(object_buffer.data->Size() + object_buffer.metadata->Size())

I (very rarely) see the above when running https://github.com/ray-project/ray/issues/16342. It seems to occur at most a couple times per hundred runs.

This is a very strange, it seems to indicate that nodes are disagreeing about the size of an object.

[2021-07-07 05:46] mwtian commented on #16696
Sent #16888 to drop the `Remove()` method. We can convert map keys to `boost::flyweight<std::string>` in a subsequent refactoring.

[2021-07-07 07:04] ijrsvt commented on #16743
@matthewdeng Sorry for the delay, but if you reproduce this, can you print the output of `ray_client_server.err`?

[2021-07-07 07:11] ijrsvt commented on #16859
@DmitriGekhtman Nothing quickly comes to mind here.

@StrangeTcy I was wondering what modifications you made to `example-full.yaml` and `example-minimal.yaml` (i.e setting `project_id`).

[2021-07-07 08:02] malloc-naski commented on #16878
Thank you @richardliaw and @ericharper. My issue is related to [BERT pretraining](https://github.com/NVIDIA/NeMo/blob/main/examples/nlp/language_modeling/bert_pretraining.py) with [ray_lightning](https://github.com/ray-project/ray_lightning) and the BERTLMModel not being serializable apparently. I discussed this with @amogkam who suggested asking NeMo's team about it ([#2376](https://github.com/NV

[2021-07-07 08:12] subasah opened #16926 "TuneError: Trials did not complete", incomplete_trials"
### What is the problem?
Training ends with the following error:
 raise TuneError("Trials did not complete", incomplete_trials)
ray.tune.error.TuneError: ('Trials did not complete', [SAC_MountainCarCountinuous-v0_5ad25_00000])

*Ray version and other system information (Python version, TensorFlow version, OS):*

**Ray version: 1.4.0
Python Version: 3.7.10
Tensorflow version: 1.14.0
OS: Fedora 34**

[2021-07-07 08:20] richardliaw commented on #16926
Can you try doing `tune.run(fail_fast="raise")`?

[2021-07-07 08:30] subasah commented on #16926
[code]
Output:

 res = next(self.train_exec_impl)
AttributeError: 'SAC' object has no attribute 'train_exec_impl'
@richardliaw  Please let me know if you need any more details.

[2021-07-07 08:44] Sertingolix commented on #16635
Should be fixed with pull
[https://github.com/ray-project/ray/pull/16734](https://github.com/ray-project/ray/pull/16734)

[2021-07-07 08:44] #16635 closed

[2021-07-07 09:37] Amels404 commented on #16878
Yes sure, @richard4912

The cfg is a yaml file containing the parameters of the model.

`
@hydra_runner(config_path="configs", config_name=CONFIG_NAME)
def create_nemo_model(cfg):
    logging.info(f"Hydra config: {OmegaConf.to_yaml(cfg)}")
    callbacks = [
        TuneReportCallback(
            {"wer": "val_wer"}, on="validation_end"
        )
    ]
    trainer = pl.Trainer(**cfg.trainer,

[2021-07-07 10:15] subasah commented on #16926
[code]
Also tried running for my custom environment in both the ways, one above and this but unfortunately had no luck.
Error log:
Traceback (most recent call last):
  File "/home/ssah3@UTAD/miniconda3/envs/rl/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/home/ssah3@UTAD/miniconda3/envs/rl/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code,

[2021-07-07 11:03] subasah commented on #16926
I had to install the tensorflow_probability and then use the tensorflow >=1.15.0 and then downgrade my numpy to 1.19. Doing this resolved resolved the issue:  [message you can see from here:](https://docs.google.com/document/d/1bgzOsiCT80bOnf8sA27zqrVQbGG-0xz1Grq-Dy98sZI/edit?usp=sharing)

References:
https://github.com/tensorflow/models/issues/9706#issuecomment-782841778

[2021-07-07 11:14] amitshil opened #16928 "Cross Language programming not being supported in Kubernetes cluster. No way to pass code_search_path in ray.client().connect()"
Relevent tags:
#Kubernetes
#Multinode Cluster
#Cross Language Programming

### What is the problem?
Unable to run the cross language programming (python calling java) in Kubernetes ray cluster. There is no way to pass "job_config or code_search_path" in the ray client while connecting to kubernetes cluster.

Reproducible steps:
sample java code:
![image](https://user-images.githubusercontent.com/9

[2021-07-07 11:28] mrksr opened #16929 "[rllib] Relax the version constraints on opencv-python-headless"
### What is the problem?

Rllib depends on `opencv-python-headless`. In `setup.py`, a rather restrictive version constraint is placed on opencv:  https://github.com/ray-project/ray/blob/34422ef53fd072b21da9900a8b70e1b5756ff96a/python/setup.py#L113

This can lead to problems in a Python 3.9 environment, as there are no wheels for a 4.X version of opencv that also satisfy this constraint:
[code]
The

[2021-07-07 11:41] hamedhsn commented on #16875
Noticed that joblib was not present in the worker nodes. installing it fixed the issue.

[2021-07-07 11:41] #16875 closed

[2021-07-07 11:44] hamedhsn opened #16930 "xgboost prediction - AttributeError: 'str' object has no attribute 'id'"
### What is the problem?
trying to run xgboost code on my ray cluster in kuberntes and getting this error
[code]
The xgboost code is here:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should hav

[2021-07-07 11:56] amitshil commented on #16928
java code for reproducing, just if anyone wants to try reproducing by copying this:

package com.test;
public class Add {
	public static int add(int a, int b) {
		return a + b;
	}
	public static void main(String args[]) {
		System.out.println(add(5, 7));
	}
}

create a jar out of it, and place it under - pythonscriptdirectory/resources/

[2021-07-07 11:59] paramjeet2021 opened #16931 "TPU error: ray.exceptions.RayActorError: The actor died unexpectedly before finishing this task"
0

I am GCP user and creaed a VM in the US region. I have cloned the https://github.com/kingoflolz/mesh-transformer-jax and running train.py

Internally it creates a TPU and pass complex computations to the TPU. It also creates a radis server in between. When the code hit the line 39 in mesh-transformer-jax/mesh_transformer/TPU_cluster.py

elf.param_count = ray.get(params)[0]

It generates followi

[2021-07-07 13:28] ThomasLecat opened #16932 "[rllib] `replay_mode: lockstep` fails because of missing key "t" in MultiAgentBatch"
### What is the problem?

In `replay_mode == lockstep`, the replay buffer needs the time step indices to store agent steps together, but the key "t" is missing from the SampleBatch, such that the following operation fails:

https://github.com/ray-project/ray/blob/34422ef53fd072b21da9900a8b70e1b5756ff96a/rllib/policy/sample_batch.py#L776-L778

*Ray version and other system information (Python versi

[2021-07-07 13:34] clay4444 commented on #16403
if there are no big problems with this API (except some detailed questions), Can I start to submit the pr? because the Mars and the Streaming also want to use this feature, and actually, they have already used it in our internal.   @raulchen @rkooo567 @edoakes

[2021-07-07 13:43] Sertingolix commented on #15901
Should be fixed with pull
#16734

[2021-07-07 13:43] #15901 closed

[2021-07-07 14:48] oriolaranda opened #16933 "[core]logmonitor error when training distributed across a multinode setup."
### What is the problem?
We start a slurm cluster involving 2 nodes (each with 4 GPU) and we run 32 distributed training sequentially each one with a different set of hyperparameters. We use ray.init() to connect to the server and ray.shutdown() to disconnect in each of the trainings. At some point (the 24th iteration), we got these errors:
stdout:
[code]
sderr:
[code]
Any idea where the problem c

[2021-07-07 16:30] ericl commented on #16923
[code]

[2021-07-07 16:33] ericl commented on #16923
[code]

Based on the above two stack traces, it looks like data corruption (perhaps another thread-safety issue). cc @scv119

[2021-07-07 16:47] #16895 closed

[2021-07-07 16:52] tkram01 commented on #15407
Ran into an issue today where I was getting this strange error due to a version mismatch with some dependency (not Ray or Dask). Having the system detect and print out mismatches would have saved me a lot of digging into understanding this error message.

[code]

[2021-07-07 16:54] richardliaw commented on #15407
@matthewdeng also has run into this issue a lot.

@ijrsvt @AmeerHajAli is this something we can escalate to higher priority?

This is perhaps the largest pain point of using the client.

[2021-07-07 16:55] ericl commented on #16931
Seems this was a fatal error:
[code]

[2021-07-07 17:03] richardliaw commented on #16933
@wuisawesome the logmonitor is nuking the rest of the Ray cluster; can you take a look?

[2021-07-07 17:04] richardliaw commented on #16933
@oriolaranda is it possible to update Ray to the latest version?

[2021-07-07 17:06] Luis-Victor opened #16935 "[k8s][autoscaler][core] { "CPU": 0 } is not working for avoid task scheduling in rayHeadType Pod"
### What is the problem?

I'm trying to avoid task scheduling on rayHead by setting `.values.rayResourses: { "CPU": 0 }` but it keeps trying to schedule tasks at headPod, failing due to lack of resources and, this way, getting stuck without scaling any workerPods.

- Python version: 3.8.5
- Linux: Ubuntu 18.04
- Kubernetes version: 1.18.14 (AKS)

### Reproduction (REQUIRED)
- Install k8s ray clust

[2021-07-07 17:10] richardliaw commented on #16929
@vakker is taking a stab at removing the cv2 dependency.

cc @sven1977

[2021-07-07 17:11] wuisawesome commented on #16933
I think this might be #12565 which was fixed after 1.1.0.

[2021-07-07 17:37] paramjeet2021 commented on #16931
I am not able to find anything on google to overcome this. Can you suggest me, what could be the possible reason for this?

Is this some library versioning issue or something else? I have not made any change in the code under  https://github.com/kingoflolz/mesh-transformer-jax so I think this is not code issue.

[2021-07-07 17:45] ijrsvt commented on #16900
Hmm, I was not able to reproduce this :(

[2021-07-07 17:46] richardliaw commented on #16918
cc @wuisawesome any thoughts here?

[2021-07-07 17:51] ijrsvt commented on #16909
@wuisawesome do you know the difference in data sources for these two codepaths?

[2021-07-07 17:52] richardliaw commented on #16935
@DmitriGekhtman take a look?

[2021-07-07 17:53] richardliaw commented on #16930
@hamedhsn what version of ray are you on?

[2021-07-07 17:54] richardliaw commented on #16926
Awesome!

[2021-07-07 17:54] #16926 closed

[2021-07-07 17:57] paramjeet2021 commented on #16931
Another point, program halts approx 10 minutes after the code displays this message on the screen. If it is major concern then shouldn't it halts the code immediately?

[2021-07-07 17:59] #14539 closed

[2021-07-07 18:01] richardliaw commented on #15668
@ebr both the worker and head need to be running the custom image. Is that currently the case?

[2021-07-07 18:01] richardliaw commented on #15668
cc @DmitriGekhtman

[2021-07-07 18:04] richardliaw commented on #16874
Hmm, this seems like a regression on our side. We should be filtering those out.

cc @krfricke

[2021-07-07 18:08] richardliaw commented on #16708
@ijrsvt can you take a look at this?

[2021-07-07 18:08] wuisawesome commented on #8586
Closing because we've fully deleted the old scheduler.

[2021-07-07 18:08] #8586 closed

[2021-07-07 18:10] paramjeet2021 commented on #16931
**gcs_server.out**

021-07-07 10:52:10,648 I 10067 10067] io_service_pool.cc:36: IOServicePool is running with 1 io_service.
[2021-07-07 10:52:10,651 I 10067 10067] **gcs_redis_failure_detector.cc:30: Starting redis failure detector.**
[2021-07-07 10:52:10,651 I 10067 10067] gcs_init_data.cc:44: Loading job table data.
[2021-07-07 10:52:10,651 I 10067 10067] gcs_init_data.cc:56: Loading node table

[2021-07-07 18:11] wuisawesome commented on #7647
Closing because this doesn't happen anymore.

[2021-07-07 18:11] #7647 closed

[2021-07-07 18:12] oriolaranda commented on #16933
@richardliaw @wuisawesome Thank you for your quick response!! I've already launched 2 jobs loading the module ray 1.2.0 (the latest version we have installed), I will update as soon as I get results.

[2021-07-07 18:12] richardliaw commented on #16884
Hmm, nice catch! would you be willing to open a PR for this?

Happy to help merge this for you.

[2021-07-07 18:13] richardliaw commented on #15893
cc @ijrsvt can you address this?

[2021-07-07 18:19] richardliaw commented on #13884
@rkooo567 did you fix the docs for this?

[2021-07-07 18:23] richardliaw commented on #14825
Moved to https://github.com/horovod/horovod/issues/3022

[2021-07-07 18:23] #14825 closed

[2021-07-07 18:24] richardliaw commented on #14399
Yeah, the doc is just wiped out by github (it was just a github discussion note with a couple comments).

[2021-07-07 18:24] ericl commented on #16931
I don't think that's related, it seems pretty clear the error is raised
from the TPU library. Maybe try running it without Ray?

On Wed, Jul 7, 2021, 11:10 AM paramjeet2021 ***@***.***>
wrote:

[2021-07-07 18:24] #14530 closed

[2021-07-07 18:25] richardliaw commented on #15869
@jonathonyan can you post a reproducible script?

[2021-07-07 18:26] richardliaw commented on #15396
Hmm, haven't used pyinstaller before. Can you use pip instead?

[2021-07-07 18:31] richardliaw commented on #16539
cc @AmeerHajAli  @ijrsvt @DmitriGekhtman can you take a closer look at this ?

[2021-07-07 18:33] richardliaw commented on #15452
@Zarca this is more of a restriction of the Ray programming model.

You'll need to explicitly pass the object reference object to a ray worker on the remote node.

[2021-07-07 18:34] richardliaw commented on #15459
@wuisawesome can you take a look at this?

[2021-07-07 18:35] architkulkarni commented on #15873
Looks done!

[2021-07-07 18:35] #15873 closed

[2021-07-07 18:38] richardliaw commented on #15707
I think this is not ray related -- perhaps this should fix it https://askubuntu.com/questions/723955/sudo-apt-get-install-g-unmet-dependencies

[2021-07-07 18:39] richardliaw commented on #15647
Hmm, maybe we should add some docs for this. Will put it on the backlog.

[2021-07-07 18:40] rkooo567 commented on #13884
I believe so. Let me double check

[2021-07-07 18:40] richardliaw commented on #15600
closing this for now

[2021-07-07 18:40] #15600 closed

[2021-07-07 18:40] richardliaw commented on #13900
@rkooo567 can you take a look?

[2021-07-07 18:41] paramjeet2021 commented on #16931
I have cloned the code from https://github.com/kingoflolz/mesh-transformer-jax report and I think executing it without ray would require complete code change.

Could the TPU premptible == Yes or lower TPU configuration (used V3-8, Recommended V3-256) caused this error?

[2021-07-07 18:42] richardliaw commented on #15498
Hmm this should be fixed in the latest version of ray. please reopen if that's not the case!

[2021-07-07 18:42] #15498 closed

[2021-07-07 18:42] rkooo567 commented on #13884
It is handled

[2021-07-07 18:49] richardliaw commented on #15165
@rkooo567 any followup for this thread?

Also, perhaps this might be a good use case for Datasets?

[2021-07-07 18:52] #15053 closed

[2021-07-07 18:53] #14959 closed

[2021-07-07 18:54] #14682 closed

[2021-07-07 18:55] richardliaw commented on #14867
I think we've been seeing some progress for Arch builds recently. cc @wuisawesome to follow up here.

[2021-07-07 18:55] #14867 closed

[2021-07-07 18:56] simon-mo opened #16940 "[Serve] [Investigation] HTTPProxy memory usage and CPU spikes"
### What is the problem?
In production we have seen HTTP Proxy uses 600MBs of memory with just 1 routes and 3 handles. There are also occasional cpu spikes. We can assume about 1 qps over 24hr, but maybe stress testing can stress it out more.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less

[2021-07-07 18:58] richardliaw commented on #16126
This should be fixed in latest Ray? Please reopen an issue if this doesn't work!

[2021-07-07 18:58] #16126 closed

[2021-07-07 19:33] DmitriGekhtman commented on #16539
It looks like the second launch attempt succeeded.
`ray status` is only intended to work when executed on the head node (ray exec, then ray status).
We're aware this is confusing -- I think enabling it to run remotely is being tracked somewhere but I've misplaced the issue.

The failure of the first launch is problematic -- I haven't been able to replicate the issue, however.
It may be a transient

[2021-07-07 19:35] DmitriGekhtman commented on #16539
Please let us know if the issue with the first launch still recurs with Ray 1.4.1 or Ray master.

[2021-07-07 19:36] DmitriGekhtman commented on #16859
I'm currently unable to reproduce the problem, unfortunately.

[2021-07-07 19:59] DmitriGekhtman commented on #16072
I'm working on this now.

[2021-07-07 20:45] #16877 closed

[2021-07-07 21:47] ahah-figure opened #16945 "[gcp] Node mistakenly marked dead: increase heartbeat timeout?"
I’m using ray on a GCP gpu cluster for hyperparameter tuning, training, and prediction. For any of these use cases, about 25% of the time, ray crashes with the following message:

On nodes that are marked dead, I go to raylet.out, and I see many messages like

and

Most warnings are in the 500 ms range. But I do see a few as high as 20 seconds. When they hit 30 seconds, the node gets marked dead.

[2021-07-07 21:50] #16540 closed

[2021-07-07 21:51] rkooo567 commented on #16945
Maybe your rsync uses up all the network bandwidth which makes Ray heartbeat report slower? Is it possible to test with reduced data size when you move them around?

[2021-07-07 23:08] ahah-figure commented on #16945
The directories I'm rsync-ing contain somewhere between 10K and 50K chunks of data, each of which is around 20 MB. Happy to run a test and report back, but I think that reducing the number of data chunks or reducing the size of each chunk would just reduce the chance of a node's being marked dead, because rsync wouldn't run as long, right?

[2021-07-07 23:46] franklsf95 opened #16947 "Error on actor exit: AttributeError: 'NoneType' object has no attribute 'global_worker'"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

- latest master

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

Output:

[

[2021-07-07 23:52] munro commented on #15650
I'm having the same issue, it looks like the issue for me is `gpustat` is failing to import on Windows.
[code]

[2021-07-08 00:21] ijrsvt commented on #15893
@yoavg the `120s` timeout is only for the connection timing out, not for the actual connection.

[2021-07-08 00:23] ijrsvt commented on #15893
@jaredvann Can you rerun this with `-vvvv` flag. I am not able to reproduce this locally!

[2021-07-08 00:47] suquark opened #16951 "[Core] ObjectLostError related to ownership and named detached actor"
### What is the problem?

Kill the driver while the detached named actor holds the ownership will result in `ray.exceptions.ObjectLostError: Object 7ff8ed146320e218ffffffffffffffffffffffff0100000001000000 is lost due to node failure`. This happens when the driver is been terminated, not exiting normally (however for other examples not shown here, exit the driver normally raises the same issue).

#

[2021-07-08 00:57] #16212 closed

[2021-07-08 01:02] ericl commented on #8003
Duplicates https://github.com/ray-project/ray/issues/16947

[2021-07-08 01:02] #8003 closed

[2021-07-08 01:05] ericl commented on #16613
I cannot reproduce this (Linux, py37). @richardliaw @wuisawesome can you?

[2021-07-08 01:06] kira-lin opened #16954 "[cross language] Setting code search path after ray.init() in python"
### Describe your feature request

Setting code search path in `ray.init` is not quite user friendly. For example, one wants to use some libraries which use cross language, and all of them has a path to set. If a user needs to get the path from each library and concat them to set in `ray.init`, that would be quite annoying. I think at least when driver is in python, we should be able to modify cod

[2021-07-08 01:17] ericl commented on #13902
I'd be in favor of allowing ray.wait() on actors, would you be interested in contributing this?

[2021-07-08 01:21] richardliaw commented on #16613
Cannot repro on 3.7 mac. Trying again on latest master

[2021-07-08 01:22] richardliaw commented on #16613
Cannot repro on latest master.. for 3.7 mac unfortunately

[2021-07-08 02:42] jovany-wang commented on #13902
OK

[2021-07-08 03:09] jovany-wang commented on #13902
This issue will be enhanced in the feature `wait actor`:  https://github.com/ray-project/ray/issues/14923

[2021-07-08 03:18] jovany-wang commented on #14923
@ericl @raulchen Let us discuss the `ray.wait(actor)` here.

[2021-07-08 03:41] raulchen commented on #14923
@ericl regarding `ray.wait` on actors, my main concern is that if may cause confusions that `ray.wait` is used for both objects and actors. E.g., should we allow passing both objects and actors in one call (`ray.wait([object, actor])`)? If so, the return values will be a mixture of object refs and actor handles. And users will be confused about how to deal with the results.

Thus, I'd like to have

[2021-07-08 03:45] ericl commented on #14923
I agree, overloading wait seems problematic. I see two possible APIs:

1. Add a ray.wait_actors() method as suggested.
2. Generate a default actor.ready() method which can be used with normal wait (it can be put in its own concurrency group). This would be consistent with placement group's .ready().

[2021-07-08 03:51] #16947 closed

[2021-07-08 04:00] raulchen commented on #14923
I'm slightly in favor of `ray.wait([actor.ready()]`. The benefit is to avoid introducing a new API.
Regarding the implementation, I'd prefer not to use an concurrency group for it. As that will create an extra thread. We can cache the ready() result, so there won't be too many `ready` tasks. Then just putting it in the default thread should be fine.

[2021-07-08 04:29] ericl commented on #14923
I see, is the proposal to special case the implementation of ready in the
core worker so it doesn't get blocked by other tasks? If so then sgtm. We
could also use this pattern in the future to get other actor stats from the
core worker.

On Wed, Jul 7, 2021, 9:01 PM Hao Chen ***@***.***> wrote:

[2021-07-08 04:30] iycheng commented on #16951
I see errors like this
[code]

If looks like if the driver got killed, the actor somehow will exist as well, even it's a detached actor. But, when driver exist normally, it looks fine. When creating actor, there might be something wrong.

@suquark to unblock your side, could you use `sys.exit` in your test case until it being fixed? If looks like sys.exit works. For example, register signal handle

[2021-07-08 05:15] raulchen commented on #14923
core worker so it doesn't get blocked by other tasks

right

[2021-07-08 05:29] #16737 closed

[2021-07-08 05:31] jovany-wang commented on #14923
Thanks. `ray.wait([actor.ready()]` looks good to me as well.
I'll update the full API usage in the description.  And I believe the implementation of this API is light.

[2021-07-08 05:37] soundway commented on #3264
@richardliaw Sorry to comment on an old issue, but I'm curious if there's plan to make it possible for signal based timeout to work when ray.wait() is being called?

[2021-07-08 05:48] jovany-wang commented on #16047
@ericl  Can the V2 API be approved now?
The initial implementation based on the V1 API is here https://github.com/ray-project/ray/pull/16795
Once the V2 API is approved, this PR can be moved forward.

[2021-07-08 06:42] #16707 closed

[2021-07-08 06:45] richardliaw commented on #3264
Hmm, can you make a new issue?

Sounds like a thing worth investing in :)

[2021-07-08 06:46] suquark commented on #16951
@iycheng for my test case (not the case shown here) the same error occurs when I exit the driver normally.

[2021-07-08 06:49] wuisawesome commented on #16909
They both ultimately get their data from GcsResourceManager.

ray.available_resources() uses `global_state_accessor.get_all_available_resources()`

and `ray status` comes from internal kv, which is set by the autoscaler when it polls `GetAllResourceUsage`.

Actually, this makes me wonder, @dkorolov when you look at `ray status` it should tell you the time of the last update. Does it look up to dat

[2021-07-08 06:50] wuisawesome commented on #16933
@oriolaranda I think the patch came with the 1.3 release. Any chance you can use that, or ideally even 1.4.1?

[2021-07-08 06:51] wuisawesome commented on #15459
@DmitriGekhtman can you take a look at this too?

[2021-07-08 06:52] wuisawesome commented on #13884
We can close the issue then right?

[2021-07-08 06:52] #13884 closed

[2021-07-08 06:53] wuisawesome commented on #14867
@LutzWeischerFujitsu if you're still having this issue, can you try to follow #13780 and post there if it doesn't work?

[2021-07-08 06:56] suquark commented on #16951
(Add P1 label due to blocking some current work & detached named actor should be really stable)

[2021-07-08 10:07] oriolaranda commented on #16933
@wuisawesome Yes! The systems team is currently trying to update to 1.4.1. I'll test and update the info afterwards. Thanks!!

[2021-07-08 10:13] hamedhsn commented on #16930
@richardliaw am using the `rayproject/ray:latest` image which is using 1.4.1 version

[2021-07-08 11:03] jaredvann commented on #15893
Unfortunately the flag doesn't appear to display any additional error information.

Something to note is I am trying to deploy this cluster from another AWS EC2 machine. Could this have any bearing on the issue?

[code]

[2021-07-08 12:48] kfstorm commented on #16688
@iycheng Could you put some links to code blocks here? I don't quite understand the issue.

[2021-07-08 13:51] Simple-meimei opened #16960 "Why the self built ray image cannot start the worker nodes"
# I can't get worker nodes when I build my own ray1.0.0 image.
Here are my steps. The official code of ray 1.0.0 is used to build the image.I don't know what's wrong.
## 1.Modify ray/docker/development/dockerfile as follows:
[code]
## 2.docker build the Dockerfile to make the Dockerfile image.
## 3.docker push the image generated in step 2 to dockerhub.
## 4.docker pull the image generated in step

[2021-07-08 15:08] ijrsvt commented on #16708
@Mathieu-Prouveur is your GCR registry protected by some form of authentication?

[2021-07-08 15:29] DmitriGekhtman commented on #16935
Taking a look

[2021-07-08 15:38] Mathieu-Prouveur commented on #16708
Hi, my GCR registry's visibility is set to private, therefore gcloud needs to authenticate to a (service) account with the appropriate permissions. The ray-autoscaler-sa-v1 service account has these permissions so it looks to me as if the head node uses this service account during set up, but that the workers do not authenticate with it and therefore can't pull the image from the private gcr.

[2021-07-08 16:26] DmitriGekhtman commented on #16935
Reproduced.
The fact that nothing is getting scheduled on the head node is consistent with the CPU 0 annotation.
The fact that no nodes are coming up at all is alarming. Investigating.

[2021-07-08 17:17] DmitriGekhtman commented on #16935
Confirming that this is related to the resource annotation (does not happen without the annotation)

[2021-07-08 18:50] DmitriGekhtman commented on #16935
Reproduced with AWSNodeProvider: 0 CPU resource override for head node prevents workers from launching.

[2021-07-08 19:20] DmitriGekhtman commented on #16935
`autoscaler.sdk.request_resources` works as expected, but task submission does not.
cc @wuisawesome for ideas on what might be off / debugging strategy

[2021-07-08 19:36] ijrsvt commented on #16708
If you manually SSH into a GCP node, can you directly docker pull? I think
you might need to do a `docker login`. (something like
https://cloud.google.com/container-registry/docs/advanced-authentication#gcloud-helper).
These commands (if needed), would be put in `initialization_commands`.

On Thu, Jul 8, 2021 at 8:39 AM mprouveur ***@***.***> wrote:

[2021-07-08 20:54] phesse001 opened #16961 "[docker][Clusters][autoscaler][local] Can't connect to cluster when using docker with ray cluster launcher"
### What is the problem?
Hello all! So I've just been trying out ray the past week so forgive me if this is a question and not a bug, but I am trying to use the ray cluster launcher to launch a cluster on my schools cluster which I have access to. The trouble (I believe) is that I am a non-root user.

I can launch the cluster on multiple nodes without docker and have verified that this works using

[2021-07-08 20:54] #16072 closed

[2021-07-08 20:59] DmitriGekhtman commented on #16935
No resource demands visible from Ray status when the tasks are submitted; suggests Ray Core issue
[code]

[2021-07-08 22:17] slimshreydy commented on #16638
Awesome, I'll try this out and get this rescanned! Appreciate it.

[2021-07-08 22:40] zhe-thoughts commented on #16852
Thanks @ericl ! Are there any advantages of option 1 (native on Dataset)?

[2021-07-09 00:52] soundway opened #16962 "[rllib] Fractional GPU no longer works for Torch policies in RLLib"
This is not a contribution.

Since 1.4, using fractional GPUs for trainers lead to errors.

Example command:

[code]

Exceptions:

[code]

[2021-07-09 01:32] DmitriGekhtman commented on #16961
Thanks for posting this issue -- this scenario is one we have not considered.
I think @ijrsvt knows most about docker support and command execution.

[2021-07-09 03:09] raulchen commented on #16954
At Ant, our typical usage is to distribute all the libraries (both Python and Java) to a predefined path. So in the driver code, you only need to set one path in ray.init.
Do you think this can resolve your problem?

[2021-07-09 03:33] kira-lin commented on #16954
Thanks for your reply @raulchen. We are from the RayDP(Spark on Ray) team, and we also want to use cross language. At least our jar and spark jars needs to be added to code search path. That means our users need to add these path to the code search path in `ray.init` in the driver code , which might be less convenient. If users want to use other libraries using cross language, this would be annoyi

[2021-07-09 07:14] nikhil-sthalekar commented on #15244
Any chance someone can point me to an example that uses the Trainable Class API and checkpointing?  I want to use the Class API so I can reuse actors when training, and then once I have the best model, immediately use that for some predictions.  With the current documentation its unclear how this should work.

[2021-07-09 09:18] krfricke commented on #16284
Hm, this looks good tbh, but since we merged this into master a few days ago, can you try `rayproject/ray-ml:nightly-py38`?

[2021-07-09 09:18] krfricke commented on #16284
It might be that I didn't merge latest master into that branch and that this lead to conflicts

[2021-07-09 09:25] Amels404 commented on #16878
I'm sharing the trace using a better format.
 @richardliaw  @amogkam

Thank you!

[NeMo W 2021-07-09 10:20:00 nemo_logging:349] /home/xxx/anaconda3/envs/xxx/lib/python3.6/site-packages/torchaudio/backend/utils.py:54: UserWarning: "sox" backend is being deprecated. The default backend will be changed to "sox_io" backend in 0.8.0 and "sox" backend will be removed in 0.9.0. Please migrate to "sox_io"

[2021-07-09 09:37] #6876 closed

[2021-07-09 10:22] krfricke commented on #16930
Hi @hamedhsn, this was fixed in the latest xgboost-ray master (https://github.com/ray-project/xgboost_ray/pull/130/files)

Can you install xgboost-ray from that version?

`pip install -U git+https://github.com/ray-project/xgboost_ray#xgboost_ray`

We will release a new version of XGBoost-Ray soon that includes this fix.

[2021-07-09 10:33] krfricke commented on #15244
Hi @nikhil-sthalekar, does this section of the docs help? https://docs.ray.io/en/master/tune/api_docs/trainable.html#class-api-checkpointing

[2021-07-09 10:47] sietseromijn commented on #16284
Yes the latest nightly build works and fixed the issue for me. Thanks!

[2021-07-09 12:41] paramjeet2021 opened #16965 "Worker error while executing ray"
Ray
### I am executing train.py which is given in https://github.com/kingoflolz/mesh-transformer-jax
This uses
Jax, Ray, TPU to train this mdoel. However I it stops in between and generates following error:

(pid=9454, ip=10.164.0.9) jax runtime initialization starting
2021-07-09 12:11:59,794 ERROR worker.py:78 -- Unhandled error (suppress with RAY_IGNORE_UNHANDLED_ERRORS=1): ray::NetworkRunner.ru

[2021-07-09 14:05] paramjeet2021 commented on #16931
I reinstalled JAX using below commands and the fatal error goes away.

[code]

[2021-07-09 14:21] ironv commented on #16715
Adding to the OP's info...   This works fine    `rllib train --run=PPO env=CartPole-v0 --config='{"num_gpus":1, "framework":"torch"}'`  and uses the GPU.

This fails

[code]

stack trace posted above.  Env `python 3.7.10`, `ray 1.4.0`, `CUDA 11.2`

[2021-07-09 14:34] Yard1 commented on #16779
@henrique If I understand correctly, the symptom of the issue is that iter becomes bigger than epochs, yes?

[2021-07-09 14:57] richardliaw commented on #16965
This seems like an issue on the GPT-J repo. Let's close this for now and communicate on that issue tracker.

[2021-07-09 14:57] #16965 closed

[2021-07-09 15:10] Mathieu-Prouveur commented on #16708
I logged to a head node and a worker node using `gcloud beta compute ssh` and I could pull from the head node but not from the worker node. I confirmed using `gcloud auth list` that the head node has the ray-autoscaler service account activated while the workers have no service account activated by default.
I will try to write a key json file using the  `initialization_commands` and log with it as

[2021-07-09 15:35] ijrsvt commented on #16708
Ahhh @Mathieu-Prouveur Thanks for this information! It appears that by default the Service Account is **only set up for the head**. Let me try to find a way to set the `Service Account` for Worker Nodes :)

@DmitriGekhtman For AWS we still only set the `autoscaler` role for the `head_node_type`, correct?

[2021-07-09 16:00] DmitriGekhtman commented on #16708
For AWS we only set the autoscaler role for the _head node_ and we do this by internally populating the `head_node` field (which is not exposed to the user).

[2021-07-09 16:08] george-skal commented on #16718
Hey @richardliaw , I saw that you changed the title, so just to make sure we are in the same page, the problem is that in the above code the weights are overwritten without local_mode = True and with local_mode = True the code works ok.

[2021-07-09 16:10] ericl commented on #16047
I made some comments on the doc.

[2021-07-09 16:22] simon-mo opened #16966 "[Ray Client] [Usability] Help users spot bandwidth bounded workload"
A possible user journey: when users use Ray client, the connection between their local machine to the ray cluster is most likely over the WAN. This means upload bandwidth is limited and downloading bandwidth is also highly contended, packet loss is definitely more prominent over WAN. This means users you are just changing their ray.init() to ray.client().connect() might experience pathological per

[2021-07-09 16:24] wuisawesome commented on #16612
There are a couple of sub issues here:

1. Worker process startup time is extremely high w/ runtime envs (this might be an anyscale product bug, needs confirmation). Mitigating this by turning off runtime envs
2. Fault tolerance issue with actor startup. There are some times where GCS pushes an actor creation task to its assigned worker, but never gets a response when the task finishes. This seems

[2021-07-09 16:32] ericl commented on #16612
Thanks for digging into this. So what's the solution for (2)? Do we know why the response is lost, is the actor crashing? One solution could be a timeout here.

For (3), is this a problem only for tasks and not actors?

[2021-07-09 16:41] wuisawesome commented on #16612
I suspect some sort of timeout + retry is enough. Not seeing any indication from the core worker that it's actually receiving actor creation task.

Yes. Seems to imply some issue with task queuing.

[2021-07-09 16:49] ericl commented on #16612
How do we distinguish between a timed out or hung rpc and the creation task
just taking a long time?

On Fri, Jul 9, 2021, 9:41 AM Alex Wu ***@***.***> wrote:

[2021-07-09 16:57] DmitriGekhtman commented on #16935
cc @mwtian you might also be interested in interaction of c++ core and autoscaler

[2021-07-09 17:13] richardliaw commented on #16718
@george-skal thanks for this point -- fixed it!

@michaelzhiluo can you take a quick look at this issue?

[2021-07-09 17:34] stephanie-wang commented on #16951
Looks like the issue is that the worker that owns the innermost ObjectRef is fate-sharing with the first driver. So the order of events is:

1. Actor submits task foo.
2. `foo` is executed on Worker. Worker has the same job ID as the first driver. `foo`'s returned ObjectRef is referred to by Actor.
3. First driver exits. Raylet kills all workers with the same job ID, so Worker also exits. `foo`'s

[2021-07-09 18:17] AmeerHajAli commented on #16966
Isn’t this resolved in #16454 ?

[2021-07-09 19:03] translearn commented on #16884
Thank you! I've created a PR #16970.

[2021-07-09 20:14] simon-mo commented on #16966
This only covers one of the cases

[2021-07-09 20:19] homriidan opened #16971 "[rllib][models][torch][attention_net] wrong action dimensions when using dictionary action space"
Hi all,
I'm trying to use the attention net model with dictionary action space without success.
`action space: Dict(AAA:Box(0.0, 3.0, (2,), float32), BBB:Box(0.0, 3.0, (2,), float32), CCC:Box(0.0, 3.0, (2,), float32))`

I ran into a number of issues at class "AttentionWrapper(TorchModelV2, nn.Module)":
1. self.action_dim
It does not handle dictionary action dim and fall into default case.
https://

[2021-07-09 20:27] zseymour commented on #16715
Likewise, `rllib rollout --run=PPO --env=CartPole-v0 --config='{"num_gpus":1, "framework":"torch"}'` also produces the error.

[2021-07-09 20:42] ijrsvt commented on #15893
@jaredvann I don't think so :/ (I tried repro'ing from an EC2 machine). Do you know if it stalls at this and then stops? By this I mean does it freeze at:
[code]
and then close, or does it just close abruptly?

[2021-07-10 01:19] AmeerHajAli commented on #16966
It should be covering at least 2, if I understand correctly, CC @ckw017

[2021-07-10 02:55] ericl opened #16973 "Improve handling of nested tasks to avoid crashing due to too many workers"
When a workload of nested tasks executes, Ray should prioritize launching under-represented task classes. For example, in the following workload:

[code]

Ray should be executing at most 2 concurrent instances of `outer`. Priority should be given to scheduling `inner` tasks. This may be a regression.

cc @wuisawesome @stephanie-wang @anabranch

[2021-07-10 03:39] scv119 commented on #16923
while I trying to reproduce this by setting up two nodes on the same machine, I notices a lot of object lost errors which may or maynot related to this bug. Here is one of the interesting log trace:
https://gist.github.com/scv119/049cc18d3d77f668d03e2146f9f8ddc7

[2021-07-10 06:42] scv119 commented on #16923
[code]
this error message looks very suspicious actually. If i understand correctly it will lead to pull manager pulling the object with 0 object size:
[code]

[2021-07-10 07:07] ANarayan opened #16974 "Access GCP/AWS machine type from process on Ray node"
When running Ray on a Kubernetes or AWS cluster, I am interested in having the ability to collect information about the machine type (i.e. `n1-highmem-2`) that a Ray node is allocated to from a process on that node.

This would be particularly useful for computing cost estimates of individual process.

cc: @richardliaw

[2021-07-10 09:21] wuisawesome commented on #16973
I can take this. I think we can solve this with LIFO queuing on the raylet.

[2021-07-10 11:12] jovany-wang commented on #16047
Thanks. All comments look good to me.  Accepted.

[2021-07-10 14:14] #14560 closed

[2021-07-10 15:10] henrique commented on #16779
Thanks for the reply @Yard1

I've added 'done' like you suggested but now it doesn't seem to go past the first sample. Does 'done' mean that the whole experiment finished?

Anyway, let me try to explain a bit better:
iter becoming bigger than epochs is just a symptom.
I think the issue is that ray or my code is resuming the wrong checkpoint, perhaps the metadata is not being updated after the inte

[2021-07-10 15:50] Yard1 commented on #16779
Yes, if `done` is True in `tune.report`, it means the training is over. In my example, it's set to be true on the final iteration. Thanks for more details - I'll look more into it and keep you posted.

[2021-07-10 16:03] ericl commented on #16047
It LGTM. @pcmoritz any other thoughts?

[2021-07-10 16:13] ericl commented on #16973
I don't think lifo solves this problem entirely due to core worker level queuing right? What might work better is proportional fair share.

[2021-07-10 18:16] mvindiola1 commented on #16962
Duplicate of #16880

[2021-07-10 18:24] mvindiola1 commented on #16960
Hi @Simple-meimei

You will probably get a faster response if you pay this at discuss.ray.io

[2021-07-10 18:55] #16091 closed

[2021-07-10 19:13] DmitriGekhtman commented on #16960
The currently recommended way to deploy Ray on K8s is via the Ray Helm chart. If possible, I'd recommend using the latest release version of Ray, which is currently Ray 1.4.1.

Docs for K8s:
https://docs.ray.io/en/master/cluster/kubernetes.html

[2021-07-10 19:41] DmitriGekhtman opened #16975 "[autoscaler][core] Safe node termination"
Related to https://github.com/ray-project/ray/issues/15282

Currently the autoscaler issues `NodeProvider.terminate_nodes` requests without interacting with Ray processes on the nodes to be terminated.
It's left to the cloud provider to stop processes on the node and de-provision the node. The time between terminate node request and Ray process termination is dependent on the implementation of `No

[2021-07-10 21:40] richardliaw commented on #16613
@johnoleary sorry to bother; can you reproduce this on again with the latest nightly wheel?

i.e. -- `ray uninstall ray; pip install -U --no-cache-dir https://s3-us-west-2.amazonaws.com/ray-wheels/latestray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl`?

[2021-07-10 22:26] scv119 commented on #16923
[code]

[2021-07-10 22:30] rkooo567 commented on #16923
Hmm interesting. Wonder if I did a mistake in conversion from the previous logic or it was like that from before… but it seems like we should handle thid

[2021-07-10 22:37] richardliaw commented on #14580
@rkooo567 can you add a bit more about what type of action item is recommended?

A couple thoughts:

1. Common cause of object lost is node pre-emption. Suggestion: Many cloud providers have pre-emption notices. would it be possible to support "object drainage upon pre-emption"? This would mitigate but not fully prevent the problem.

2. One common possibility that my entire application grinds to a

[2021-07-10 22:45] richardliaw commented on #958
This is the same as #8822 .

[2021-07-10 22:45] #958 closed

[2021-07-10 22:45] richardliaw commented on #8822
More importantly, the usability issue also raises a warning like:
[code]
which is hard to act upon.

[2021-07-10 23:58] scv119 commented on #16923
my take is this is happens under some condition between push manager and object GC, under load.

[2021-07-11 00:00] ericl commented on #16923
Yea sounds like some race condition fetching an object that was already
deleted, which is failing in the wrong way due to metadata handling bug.

On Sat, Jul 10, 2021, 4:58 PM Chen Shen ***@***.***> wrote:

[2021-07-11 03:28] wuisawesome commented on #16973
Hmmm I don't quite understand why the core worker queue would cause problems here. In the single node case:

**===========after the first 2 tasks are kicked off=========== **

**Driver**
Queue: outer[3:1000]

**Worker 0 (outer[0])**
Queue: <N/A>

**Worker 1 (outer[1])**
Queue: <N/A>

**Raylet**
Queue: outer[2]

**===========after the `ray.get()` begins to execute (cpu is released)===========**

**

[2021-07-11 06:55] richardliaw commented on #16779
Ah @henrique -- could you try moving the `save_checkpoint` call before `tune.report`?

The checkpoint is registered with the Tune controller when the `report` call is made.

[2021-07-11 07:08] JF-D opened #16979 "NCCL error with RaySGD single node training"
1. Can ray automatically transfer tensors between cpu memory and gpu memory without explicitlly do `tensor.cuda()`?
2. How do ray do cross gpu tensor communication? Can I use nccl to do high performance training?
3. Can I split a model into multiple parts, and ray schedule parts onto different gpus and automatically train the model?
4. I follow the example in https://docs.ray.io/en/master/auto_exa

[2021-07-11 07:30] richardliaw commented on #16979
Hey @JF-D, nice!

Nope, you'll have to manually specify this.

You can use NCCL to do this. I would suggest using something like [RaySGD](https://docs.ray.io/en/master/raysgd/raysgd.html) or [Ray Collective Library](https://docs.ray.io/en/master/ray-collective.html), both of which use NCCL

There are many ways to do this manually, but it doesn't work directly out of the box; @zhisbug is currently

[2021-07-11 07:46] Yard1 commented on #16779
Hey @henrique, the cause of the issue is that we checkpoint both iterations and global experiment state separately. The latter does not necessarily happen after every iteration, but instead every X seconds (by default, 10). You can control the frequency of the global checkpointing with the `TUNE_GLOBAL_CHECKPOINT_S` environment variable. Setting it to 0 will ensure the global checkpoint is updated

[2021-07-11 08:07] JF-D commented on #16979
Thanks, Got it!!! @richardliaw
Are @zhisbug working on auto-parallel training of DL models with ray like FlexFlow which partition models according to layers and operators?

[2021-07-11 08:09] richardliaw commented on #16979
yep! something along that - still not public!

[2021-07-11 09:49] JF-D commented on #16979
Great! @richardliaw
I tried raysgd, and with the example benchmark https://github.com/ray-project/ray/blob/master/python/ray/util/sgd/torch/examples/benchmarks/benchmark.py, I met the following error
![ncclerr](https://user-images.githubusercontent.com/30710061/125190535-45313780-e270-11eb-894a-243fce89ca0c.jpg)
I use pytorch 1.7.1 + cuda-10.1 + nccl 2.7.8. I can run the single card training, but

[2021-07-11 11:40] MrityunjoyS opened #16981 "Error while trying to connect to ray cluster from docker"
Hello all! So I've just been trying out ray the past week so forgive me if this is a question and not a bug, but I'm starting my ray cluster in local and with docker and, trying to connect to a python script running in a docker and facing issue.

**My example-full.yaml file :**
`
[code]
 `

**Then I execute :**

**My output :**

[code]

**The i ran a python script written with fastapi and in docke

[2021-07-11 21:12] henrique commented on #16779
Thanks a lot @Yard1 and @richardliaw
Your 2 suggestions seem to fix the problem (which was partly caused just by my quick test, sorry).
Note that `iter` doesn't seem to perfectly follow `epoch` (e.g.: it saves `iter=7 epoch=6`, but restarts `iter=8 epoch=6` and so on, incrementing an additional 1 every time it stops and restarts, so it ends iter=epochs+number of restarts)
Making it run from `range

[2021-07-11 22:50] richardliaw commented on #16779
@henrique that's good to hear! can I ask what you're doing with Tune and how you're liking it?

hmm, that does seem like a bug.

@Yard1 I think it's that we don't restore `iter` correctly -- do you mind taking a quick look at that when you have time?

[2021-07-11 22:54] #9578 closed

[2021-07-11 23:42] mwtian opened #16982 "[Client] duplicated task stdout"
### What is the problem?
Ray from master, Python 3.7.10, MacOS

### Reproduction (REQUIRED)
[code]
When running with `RAY_CLIENT_MODE=1`, there are two lines of "(pid=...) running in pid=..." in the output. When not running in the client mode, there is only one line of "(pid=...) running in pid=...". `f` is only executed once in both cases.

- [ ] I have verified my script runs in a clean environm

[2021-07-11 23:52] Yard1 commented on #16779
Will do @richardliaw

[2021-07-12 01:45] jovany-wang commented on #14923
How to handle the case that once the target actor is restarted or dead if we cache the ready() result?

[2021-07-12 01:47] richardliaw commented on #16979
I think this is definitely a NCCL error -- can you take a look at this to see if it is relevant https://github.com/NVIDIA/nccl/issues/360 ?

[2021-07-12 02:00] richardliaw commented on #16878
Hmm, just to diagnose the issue, can you try commenting out `hydra_runner`?

[code]

[2021-07-12 02:03] jovany-wang commented on #14923
One light implementation is that submit a normal task. In Python just add a ready method for ActorClass, like `__ray_terminate__`.

I'm not sure it's necessary to  implement it in core worker.

[2021-07-12 02:05] richardliaw commented on #16878
The main issue is that there's something that is not serializable in `create_nemo_model`. I'm not sure what it is, but in order to fix that, you will either need to disable Tune's parallelism or convert the function to be serializable: see [Cloudpickle](https://github.com/cloudpipe/cloudpickle#:~:text=cloudpickle%20makes%20it%20possible%20to,possibly%20close%20to%20the%20data.) for more details.

[2021-07-12 02:07] richardliaw commented on #16945
@ahah-figure can you try disabling syncing and trying again? https://docs.ray.io/en/master/tune/user-guide.html#distributed-checkpointing

[2021-07-12 02:07] richardliaw commented on #16945
Also, @ahah-figure do you mind sharing your cluster config?

cc @DmitriGekhtman and @ijrsvt

[2021-07-12 02:14] ericl commented on #15962
@kfstorm are you actively working on this?

[2021-07-12 02:48] ericl commented on #16973
I think it could work in that case, but LIFO has significant disadvantages compared to fair sharing of resources for the following reasons:
1. In the distributed setting, the submission order of tasks becomes somewhat ill defined, especially if there are tasks from multiple nodes, or spillback. You might need complicated notions of tracking order such as timestamps.
2. Even if we track LIFO correc

[2021-07-12 02:49] Tonyhao96 opened #16984 "[tune] How to utilize the `trial.update_resources()` function"
Does ray tune support modifying trial resources？ I want to change different GPU numbers for different trials.

I find `update_resources()` function in `ray.tune.trial`, but how to use it? Would you provide us an example?

The problem I met:
I insert `trail.update_resources()` into `ray_trial_executor.start_trial()`, like this
[code]

However, all trials always pending and can not start, even after

[2021-07-12 02:58] JF-D commented on #16979
That nccl issue is caused by runing processes in different containers, but I run the processes in the same container. This does not seem to be the same problem.

[2021-07-12 03:10] richardliaw commented on #16984
hey @Tonyhao96, this is a cool request :)

This is currently in progress, but you should take a look at #16787 PR. We are about to implement some new alpha-stage functionality with this API.

Maybe you can take a look for some inspiration as to what you can do?

[2021-07-12 03:13] richardliaw commented on #16979
I would suggest looking around Github to find out the issue.

https://github.com/PyTorchLightning/pytorch-lightning/issues/4420#issuecomment-739105607
https://github.com/PyTorchLightning/pytorch-lightning/issues/4420#issuecomment-774031331

BTW, you can try setting environment variables within `def init_hook():`.

[2021-07-12 03:29] JF-D commented on #16979
`export NCCL_P2P_DISABLE=1` does help, but the performance is quite low. It seems it's caused bt p2p init failure...

[2021-07-12 03:29] Tonyhao96 commented on #16984
Thanks, it is useful for me.

[2021-07-12 03:48] iycheng opened #16986 "Fault tolerance"

[2021-07-12 03:48] #16986 closed

[2021-07-12 03:49] iycheng opened #16987 "S3 support"

[2021-07-12 03:49] iycheng opened #16988 "virtual actor support - read"

[2021-07-12 03:49] iycheng opened #16989 "virtual actor support - write"

[2021-07-12 03:50] iycheng opened #16990 "error handling"

[2021-07-12 03:50] iycheng opened #16991 "s3 support"

[2021-07-12 03:51] iycheng opened #16992 "runtime env in workflow"

[2021-07-12 04:17] JF-D commented on #16979
I checked the argument of `dist.init_process_group`  () of pytorch ddp and raysgd, the only difference is the `init_method`.
In pytorch ddp, `backend, init_method, world_size, world_rank` are the following
![image](https://user-images.githubusercontent.com/30710061/125230216-f8e70580-e30a-11eb-886a-f43885ce5c01.png)
these in raysgd are the following:
![image](https://user-images.githubusercontent.

[2021-07-12 04:28] richardliaw commented on #16979
Hmm, that's a good catch! we should make it so that the host address for rendezvous is modifiable in TorchTrainer. This would simplify a lot of issues I'm guessing.

By the way, would you be open to pushing a PR? No problem if you're busy - just wanted to offer it.

[2021-07-12 05:14] JF-D commented on #16979
Sure, although I'm not familiar with Ray yet.

I notice ray set up the process group at an uncommon ip address, why is this address? And I think for single node training, it's better to use localhost address.
![ray](https://user-images.githubusercontent.com/30710061/125234300-01dbd500-e313-11eb-8a71-de088b22f78b.jpg)

[2021-07-12 06:51] richardliaw commented on #16979
I think we just chose a public ip address, we should make it internal or
localhost for single node  for sure.

On Sun, Jul 11, 2021 at 10:14 PM JFDuan ***@***.***> wrote:

[2021-07-12 08:32] calvinwy commented on #15126
Is this completed and merged into the latest version if I update my Ray tune over conda-forge repo?  Also, is there instruction somewhere which describe how to use this?

[2021-07-12 09:12] SongGuyang opened #16994 "[C++ API] job config support"

[2021-07-12 09:16] sietseromijn opened #16995 "[Tune][SGD] Can't checkpoint when num_replicas > 1 with EfficientNet backbone"
### What is the problem?
When training a model with a EfficientNet backbone, it stalls when it attempts to checkpoint the model, but only if num_replicas > 1. No error is returned and the actors remain alive. It gets stuck in the TFRunner.get_state() call.

Really don't have a clue on how to debug this furher. If you could take a look or guide me on how to solve this it would be very much apprecia

[2021-07-12 09:50] henrique commented on #16779
Thanks guys!

@richardliaw I was evaluating tune for large hyperparam opt on SLURM clusters as, at least with Horovod, it easily allows training several multinode models within a single SLURM allocation -- should that also work with the regular DistTrainers for TF/PT (without Horovod)?
For some context, at CSCS we don't allow users having too many parallel allocations, but they can have a few allo

[2021-07-12 09:58] krfricke commented on #15126
Hi @calvinwy, it is not included in 1.4.1, but will be included in the upcoming 1.5.0 release.

The documentation is a bit sparse. We're currently having trouble with the master documentation on `docs.ray.io`, but here's a link to the API reference: https://ray--16501.org.readthedocs.build/en/16501/tune/api_docs/suggestion.html#random-search-and-grid-search-tune-suggest-basic-variant-basicvariantg

[2021-07-12 10:44] calvinwy commented on #15126
Thanks @krfricke, any idea when will the 1.5.0 be available on conda-forge?

[2021-07-12 11:00] krfricke commented on #15843
@wuisawesome is there any progress/update on this? Should we create a separate issue to track this or will this do?

Can I assign this to you?

[2021-07-12 11:02] krfricke commented on #15126
We're working on release testing as we speak and hope to release 1.5.0 this week (tentatively). I'm not sure how we manage conda releases (cc @richardliaw can you help?) but it should be available shortly after.

[2021-07-12 11:27] JF-D commented on #16979
Several results:
1. the ip address `10.148.18.24` is the ip of ethnet. It is indeed a public ip address. And  I use this ip address to do pytorch ddp training, it works well. So it is not caused by this.
2. I tried pytorch 1.6 + nccl 2.4.8, raysgd works well. But for pytorch 1.6 / 1.71 + nccl 2.7.8, the nccl error occurs. All cases, pytorch ddp works weel. I think there is something wrong with ray

[2021-07-12 13:38] ds21194 commented on #9641
How did you solve this? @Lewisracing

[2021-07-12 13:50] #13187 closed

[2021-07-12 14:04] ankur6ue commented on #16776
A related question. I'm using my own Ray - Kubernetes deployment, so I
understand exactly what is going on - which deployments are being set up,
how many pods are running etc. The official ray-kubernetes documentation is
sparse and doesn't really explain how the setup works.

I set up two deployments - one that creates a ray head (1 replica), another
that creates a ray worker (1 replica) and a ser

[2021-07-12 14:35] krfricke commented on #16578
Hi @heavenlxj, I cannot reproduce this issue. Can you try upgrading Ray to the latest release (1.4.1)?

Script I used:

[code]

Output:

[code]

[2021-07-12 14:37] krfricke commented on #16930
We just release a new XGBoost-Ray version that includes the fix.

[code]

should solve all your problems. Let me know if it doesn't!

[2021-07-12 14:37] #16930 closed

[2021-07-12 14:45] #16814 closed

[2021-07-12 15:08] krfricke commented on #16683
I went ahead and created the PR

[2021-07-12 15:11] krfricke commented on #15751
I think this should be closed by #15811 - let me know if the problem persists.

[2021-07-12 15:11] #15751 closed

[2021-07-12 15:30] mvindiola1 commented on #16683
@krfricke,  Thanks for letting me know. I was going to submit one tonight.

I wrote a unit test for the issue if you want to add it to your PR.

https://github.com/mvindiola1/ray/commit/08a899838e75aaca054f472b72197ed29bfd7a90

[2021-07-12 15:34] phesse001 commented on #16961
Update - I was moved from my schools Active Directory group to the system docker group, and was able to successfully start the ray runtime with docker. However, it only connects to the head node and ssh fails on all the other nodes.

When I run `ray monitor docker-cluster.yaml` to see what is happening, I can see it is failing on the ssh command:

`ssh -tt -o StrictHostKeyChecking=no -o UserKnownH

[2021-07-12 15:34] richardliaw commented on #16979
Can you provide the nccl debug info trace for both Ray and Pytorch?

[2021-07-12 16:56] stephanie-wang commented on #13488
Related to (subsumed by?) #15962.

[2021-07-12 17:15] stephanie-wang opened #17001 "[core] Ability to monitor task scheduling status"
### Describe your feature request

It's useful to have more detailed information about a task's scheduling status, e.g., `PENDING`, `SCHEDULED` (and on which node), `DONE`, `FAILED` etc. Ray has `ray memory` right now for `ObjectRefs`, but the information just says whether a task is completed or not. Eventually integration with the dashboard would also be good.

Implementation-wise, it would be go

[2021-07-12 17:30] rkooo567 commented on #17001
Huge +1.

[2021-07-12 17:41] ahah-figure commented on #16945
@richardliaw the error happens when I'm not using tune as well. Normally, it occurs during initial processing, where I'm copying data from cloud storage to workers, but it also happens when I'm copying trained models from workers to cloud storage. Also, I am using the manual cluster setup outlined [here](https://docs.ray.io/en/releases-0.8.5/using-ray-on-a-cluster.html). I'm working on using the c

[2021-07-12 17:46] rkooo567 commented on #14580
I think the P0 action item here is to figure out how to add structured information to the error object (so that it can include various more information). Once that's done, 1 & 2 both sounds good to me, but I'd say 2 is more low hanging fruit (and higher priority).

[2021-07-12 17:47] rkooo567 commented on #16614
@ericl This seems to be a bug when the real gpu is used. I am not sure how it's possible, but we should at least try reproducing it imo. I will leave the triaging to you.

[2021-07-12 17:48] rkooo567 commented on #16617
Plasma store was originally developed for Ray to support zero-copy distributed object store. Right now, it is used to provide shared memory distributed object store, but it doesn't use the Arrow format for storing data unlike the original design.

[2021-07-12 17:49] rkooo567 commented on #16643
Hey @ijrsvt @AmeerHajAli can you guys update the port documentation to take into account of the client server usage?

[2021-07-12 17:53] rkooo567 commented on #16007
Yeah this is the problem. You cannot call `put_async` without `await` keyword, and you cannot use this from ray task which is not running in the async context. One of possibilities is to use async actor instead (which by default support `async def`). https://docs.ray.io/en/master/async_api.html#asyncio-concurrency-for-actors

[2021-07-12 17:53] ijrsvt commented on #16643
The `client_server_port` is hardcoded to `10001`.

It can be set with `--ray-client-server-port=XXXX`

[2021-07-12 17:54] rkooo567 commented on #15960
Will work on it if repro is available.

[2021-07-12 17:56] DmitriGekhtman commented on #16935
Actually, I'm no longer able to reproduce on AWS. Looks like a K8s issue, but still have no idea why I'm not getting any resource demands from GCS.

[2021-07-12 18:08] richardliaw commented on #16614
@ericl @rkooo567 Hey, can we please treat this with high priority?

This can affect all ML libraries on Ray.

[2021-07-12 18:13] ericl opened #17006 "[placeholder] Runtime environment takes minutes to load (from S3) sometimes"
This issue is broken out from https://github.com/ray-project/ray/issues/16612

(TODO: add repro details)

cc @wuisawesome

[2021-07-12 18:13] ericl opened #17008 "[placeholder] Actor creation tasks very infrequently hang (<0.05% of the time)"
This issue is broken out from https://github.com/ray-project/ray/issues/16612

(TODO: add more repro details)

cc @wuisawesome

[2021-07-12 18:14] richardliaw commented on #16979
Can you also help provide the output of ` nvidia-smi topo -m`?

[2021-07-12 18:14] #16845 closed

[2021-07-12 18:15] ericl opened #17009 "[placeholder] Single node scalability envelope tests are broken (also the distributed tests)"
In the dashboard, the single node scalability tests are failing in master with 134 (abort).

cc @wuisawesome @rkooo567

[2021-07-12 18:16] amogkam opened #17011 "[rllib] Re-enable skipped tests"
### What is the problem?

https://github.com/ray-project/ray/pull/17010

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock data / envi

[2021-07-12 18:22] ericl commented on #16612
Closing since this is split into separate issues.

[2021-07-12 18:22] #16612 closed

[2021-07-12 18:24] ericl commented on #16614
Fixed in 1.3. Please re-open if you can reproduce on master.

[2021-07-12 18:29] richardliaw commented on #16945
Hmm, so it looks like there might be some OS scheduling issue here where the gsutil command hogs the threads and deprioritizes the Ray heartbeats.

cc @ericl and @stephanie-wang , as this issue has shown up a couple times now.

So there is a parameter to increase the heartbeat timeout, but it's an internal config and not recommended to rely on:

[code]

[2021-07-12 18:34] wuisawesome commented on #16614
Let's make sure this isn't fixed by #15049

[2021-07-12 18:39] edoakes commented on #16032
@SongGuyang -- @architkulkarni mentioned that you were planning to do this in a follow-up from your agent PR. We would like to have this merged in the next 2 weeks or so to make the cut for the 1.6 release, will you be able to prioritize it before then?

[2021-07-12 18:43] simon-mo commented on #16612
@ericl can you clarify which of the subissues are release blcokers?

[2021-07-12 18:45] ahah-figure commented on #16945
Thanks. Seems like changing the config values would certainly solve the issue in the short-run.

What are the default values for `num_heartbeats_timeout` and `heartbeat_timeout_milliseconds`? It seems like a node gets marked as dead if the heartbeat time is ever more than 30 seconds, so my guess would be the defaults are

- `num_heartbeats_timeout` = 1
- `hearbeat_timeout_milliseconds` = 30000

Mo

[2021-07-12 18:50] wuisawesome commented on #17006
@architkulkarni @edoakes can y'all find an owner for this?

[2021-07-12 18:54] richardliaw commented on #16945
Hey @ahah-figure -- https://github.com/ray-project/ray/blob/e925051ce412d60b74b142da14bea4a0a2cbf3ca/src/ray/common/ray_config_def.h#L46-L54

close! It's the above.

[2021-07-12 18:57] richardliaw commented on #14580
Just to link a user issue: https://discuss.ray.io/t/objectlosterror/2864

[2021-07-12 19:24] ahah-figure commented on #16945
@richardliaw In bash, I tried to do `ray start --head --internal-config=...` flag, and I'm seeing

`Error: no such option: --internal-config`

This happened with ray 1.3 and 1.4.1.

[2021-07-12 19:25] suquark commented on #16987
duplicated with https://github.com/ray-project/ray/issues/16991

[2021-07-12 19:25] #16987 closed

[2021-07-12 19:48] rkooo567 commented on #16945
I think it is `--system-config`

[2021-07-12 20:18] ericl commented on #16612
@simon-mo these two tagged issues:
https://github.com/ray-project/ray/issues/17008
https://github.com/ray-project/ray/issues/17009

[2021-07-12 20:21] Sepiafs opened #17013 "Why evaluation_config doesn't work?"
I'm following the example in https://github.com/ray-project/ray/blob/master/rllib/examples/custom_eval.py to create a custom evaluation environment for my problem. I need to override the env_config during evaluation. But, the result shows that evaluation is still using the env_config defined in the main configuration and is not overridden.  Am I missing something?

# Override the env config for ev

[2021-07-12 20:47] ericl commented on #16614
I can confirm this is a problem, but very strangely, it only affects `ray start --head`. Using ray.init() works fine.

Steps to reproduce:
1. Change the `ray.init()` in the original script in the issue description to `ray.init("auto")`.
2. Run `ray start --head --num-gpus=4`, then run the script. You'll see the bad GPU assignments as shown above.

[2021-07-12 20:55] anabranch commented on #16966
It didn't work in my experience, we observed the issue and received no warning. IIRC what is the expected behavior @AmeerHajAli ? What does this notification look and feel like from the user perspective?

[2021-07-12 21:05] #16643 closed

[2021-07-12 21:44] AmeerHajAli commented on #16966
What ray version were they using?
@ckw017 , can you please take care/follow up on this?

[2021-07-12 22:02] ericl opened #17017 "Object spill failures on disk full produce excess error logs"
### What is the problem?

If the disk fills up, spill requests get retried forever. We should probably give up spilling the same objects after a certain number of tries.

Issue discovered from https://github.com/ray-project/ray/pull/17016/files

[2021-07-12 22:12] ckw017 commented on #16966
It should pop up as a UserWarning, and you'll need ray >= 1.4.1 for it to kick in. Of the cases mentioned at the top, we're only handling scenario 2, which you can reproduce with something like:

[code]

Which should give something along the lines of:
[code]

[2021-07-12 22:27] edoakes commented on #17006
@architkulkarni is currently looking into it. Will likely need some help from @iycheng on the S3 codepath.

[2021-07-12 22:29] edoakes commented on #17006
@architkulkarni can you please report back here when you have a chance to repro w/ and w/o the S3 feature flag?

[2021-07-12 22:39] wuisawesome commented on #17006
thanks! lemme know if you want to sit down to get the repro working.

[2021-07-12 22:59] architkulkarni commented on #17006
Thanks a lot @wuisawesome -- before I take up more of your time, let me try to repro it myself, but I may ask for help if things don't work.  Do you happen to have the code for making the histogram lying around?

[2021-07-12 23:23] chaomengyuan commented on #15459
Similar observation found even though my setting up is a little bit different.

I have a cluster with 3 nodes, each node has 48 CPU and 104 GiB memory.

I am using Ray version 2.0.0.dev0 and testing Ray autoscaler with local cluster using _python/ray/autoscaler/local/example-minimal-manual.yaml_ to launch the cluster. I put one node's ip as the _head_ip_ and the other two's ips as _worker_ips_. Th

[2021-07-12 23:49] jiaodong opened #17019 "Ray 1.5.0 release checklist"
# Release Checklist
This checklist is meant to be used in conjunction with the RELEASE_PROCESS.rst document.

## Initial Steps
- [ ] Called for release blockers
	- [ ] Messaged Ant about release blockers
- [x] Announced branch cut date and estimated release date

## Branch Cut
- [x] Release branch created
- [x] Release branch versions updated
	- [x] Version keys have new version
	- [ ] Update of “

[2021-07-13 00:49] architkulkarni opened #17020 "[runtime env] Client Server runtime env should use agent"
### Describe your feature request
Currently only the runtime env setup for jobs, tasks and actors takes place in the runtime env agent.  The setup of the runtime env for the Ray Client server should also happen in the runtime env agent, to avoid having divergent code paths.
For questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-07-13 01:12] chaomengyuan opened #17021 "Autoscaler in local cluster mode only work one time"
### What is the problem?

I have a local cluster with 3 nodes, each node has 48 CPU and 104 GiB memory.

I am testing Ray autoscaler with local cluster using _python/ray/autoscaler/local/example-minimal-manual.yaml_ to launch the cluster. I put one node's ip as the _head_ip_ and the other two's ips as _worker_ips_. Then, I added the following configuration _min_workers: 0_, _max_workers: 2_ and _i

[2021-07-13 01:14] DmitriGekhtman commented on #15459
@chaomengyuan
The reason is that we don't properly support min_worker != max_workers for local (on-prem) clusters (and we should document that better).

What's happening internally is that the autoscaler is marking the two workers as not part of the cluster but they are not being disconnected from Ray.

I will open a separate issue for that -- if dynamic autoscaling on your on-prem cluster is some

[2021-07-13 01:22] DmitriGekhtman opened #17022 "[autoscaler][local] Downscaling doesn't work on on-prem clusters"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

See title. Nodes are marked terminated in a state file, but ray stop is not executed.
Either modify LocalNodeProvider.terminate_nodes to run ray stop via command runner or explicitly disallow min_workers != max_workers.

Discussion:
https://github.com/ray-project/ray/issues/15459#issueco

[2021-07-13 01:24] pcmoritz opened #17023 "Make `breakpoint()` work for Ray debugger"
Set `os.environ["PYTHONBREAKPOINT"] = "ray.util.rpdb.set_trace"` for Ray workers so `breakpoint()` inside a task or actor will automatically invoke the Ray debugger.

For questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-07-13 01:25] simon-mo commented on #14077
@chenk008 circling back, if we assume `SYS_ADMIN` cannot be turn on and we run container-in-container, is it possible to use something like rootless container? https://github.com/opencontainers/runc#rootless-containers

[2021-07-13 01:27] DmitriGekhtman commented on #15459
K8s support was in pretty bad shape in Ray 1.2.0
Would be good if the problem was confirmed in master or latest release (Ray 1.4.1)

[2021-07-13 02:07] johnoleary commented on #16613
No problem at all.  On RHEL 7.9, I created a fresh environment and installed the latest wheel via `pip install -U --no-cache-dir https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl`. I'm glad to report that everything looks good.

Back in the environment for my current project, I installed the latest wheel as above. Here the stdout issue remains,

[2021-07-13 02:10] DmitriGekhtman opened #17024 "[helm][k8s] Expose operator pod options in the helm chart."
### Describe your feature request
Expose options for the operator pod in the helm chart.
See e.g. https://github.com/ray-project/ray/pull/16983

These should be listed under an `operator` field.

e.g.
[code]

Keep the `operatorImage` field but mark as deprecated and overwrite with operator.image if present.

[2021-07-13 02:27] SongGuyang commented on #16032
@edoakes Sorry for the slow progress. I'm doing some thing about C++ API concurrently. But I can prioritize resolve this runtime env issue this week.

[2021-07-13 02:56] DmitriGekhtman commented on #16776
I think it should work if you add the `--block` flag to the Ray start command.

https://github.com/ray-project/ray/blob/27c2f570f1f703dba3e7be1445181bfac07007ef/doc/kubernetes/ray-cluster.yaml#L60

[2021-07-13 02:59] DmitriGekhtman commented on #16776
This flag makes sure that `ray start` blocks while ray processes are running.
https://docs.ray.io/en/master/package-ref.html#cmdoption-ray-start-block

[2021-07-13 03:22] chenk008 commented on #14077
@simon-mo I think `SYS_ADMIN` is a necessity.

1. When we start a container without `privileged`, the `/sys/fs/cgroup` will be mounted as read-only, so we cann't create a new cgroup. But with `SYS_ADMIN`, we can remount `/sys/fs/cgroup` as writable. There is a similar issue:https://github.com/opencontainers/runc/issues/1456. The below is my test script:
[code]
2. And when start a container, we nee

[2021-07-13 04:07] iycheng commented on #17006
I think right now, only the non-s3 code paths got tested. But from my understanding, it should be the same. Let me know if there is a huge difference.

[2021-07-13 04:55] wuisawesome commented on #17006
Unfortunately I think I `git reset` it away :(

I just regexed around log files to generate it though. I can try to recreate it if it helps.

[2021-07-13 05:35] ijrsvt commented on #16708
Similar to https://github.com/ray-project/ray/issues/13799

[2021-07-13 05:41] ijrsvt commented on #16708
@Mathieu-Prouveur  https://github.com/ray-project/ray/pull/17027 should allow you to specify
[code]

[2021-07-13 06:33] ijrsvt commented on #16961
@phesse001 Could you print the whole logs? I'm wondering if this is failing:
https://github.com/ray-project/ray/blob/5b7e76770d0e3dbabd0a9bdd93823a3bd36c35b9/python/ray/autoscaler/_private/command_runner.py#L394

[2021-07-13 06:57] #16776 closed

[2021-07-13 07:31] SongGuyang commented on #16954
We already do a discuss offline. We can solve this issue after support Java dependencies in Runtime Env. We will begin to do this recently.

[2021-07-13 07:33] kira-lin commented on #16954
Thanks, I'll close this issue for now.

[2021-07-13 07:33] #16954 closed

[2021-07-13 09:57] AnaMakarevich commented on #13511
I have a very similar error using the ray tune setup from here: https://pytorch.org/tutorials/beginner/hyperparameter_tuning_tutorial.html#sphx-glr-beginner-hyperparameter-tuning-tutorial-py
The error I get on Windows is:
PermissionError: [Errno 13] Permission denied: 'C:\\Users\\Ana\\ray_results\\DEFAULT_2021-07-13_12-17-01\\DEFAULT_15e3d_00000_0_anneal_rate=0.015316,lr=0.039717_2021-07-13_12-17-

[2021-07-13 10:00] Tonyhao96 opened #17032 "[tune] How to support GPU in float number"
I want to run 2 trials on 1 GPU and have tried two methods on example code [mnist trainable](https://github.com/ray-project/ray/blob/master/python/ray/tune/examples/mnist_pytorch_trainable.py).

**Method 1**

[code]

**Method 2**
[code]

Both of them raise the same exception:

[code]

I checked the [PlacementGroupFactory](https://docs.ray.io/en/master/tune/api_docs/internals.html?highlight=Placeme

[2021-07-13 10:49] KiloNovemberDelta commented on #10733
Hello everyone,
Even if this issue is quit old, I write here because it seems to be still open. For my case, I succeed to import a model without LSTM. But with the config "use_lstm : True", I face the same problem.

This code helped me, however I don't know what to write for the Placeholder:0 and Placeholder_1:0 (foo6 and foo7). The structure output provide this information :
`[<tf.Tensor 'policy_

[2021-07-13 11:12] Amels404 commented on #16878
Thanks @richardliaw I've tried as you suggested, I think the issue was related to the logging part.
Then I got another issue "ray.tune.error.TuneError: Wrapped function ran until completion without reporting results or raising an exception"
I've tried to disable distributed training and I've tried to move reading the config file in outer function but that did not seem to resolve the issue.

Thank

[2021-07-13 12:06] kfstorm commented on #15962
@ericl No. And I'm on vocation this week. Sorry for the late reply.

[2021-07-13 14:25] phesse001 commented on #16961
I spent a lot of time debugging and was able to get around the problem. For some reason, in the docker-cluster.yaml file, uncommenting the line:
https://github.com/ray-project/ray/blob/e4123fff271b1a358712850ba07195a6fb02e8b0/python/ray/autoscaler/aws/example-full.yaml#L48-L54
and we set the value of ssh_private_key to ~/.ssh/id_rsa

Since we already have keys set up between all the nodes in this

[2021-07-13 15:00] #16623 closed

[2021-07-13 15:07] DmitriGekhtman commented on #16708
Though the above might be giving the workers too many permissions.
One could also manually create a service account with necessary permissions and set it in the worker nodes' config, as above.

[2021-07-13 15:13] DmitriGekhtman commented on #16961
Glad you were able to get it to work. We're aware of the current dearth of documentation on on-prem deployment of Ray. Thank you for documenting your work debugging the problems you encountered! This will help us to improve the functionality and write better docs.

[2021-07-13 15:33] #16683 closed

[2021-07-13 16:38] #16096 closed

[2021-07-13 16:56] ijrsvt commented on #15222
The image is now pinned!

[2021-07-13 16:56] #15222 closed

[2021-07-13 16:58] nikhil-sthalekar commented on #15244
Hi @krfricke , Using those docs I was able to get the checkpointing to work some of the time, but the script using the class API was failing otherwise.  I am getting similar errors using the function API and the TuneReportCheckpointCallback, but my script is able to load the "best checkpoint" from the training run.   Right now I'm looking into using the durable wrapper for checkpointing.

[2021-07-13 17:26] jiaodong commented on #17009
Hi @ericl, what's the current status on this for 1.5.0 release that is cut this Monday morning on fd59518980ba2995c72035042cc3341b75baef78 ? It's passing nightly tests with minor issue and weekly tests are still run.

It will be great to know if this issue should be release blocking for 1.5.0, if not, what's the ETA you have in mind ? Thanks !

[2021-07-13 17:26] jiaodong commented on #17008
Hi @ericl , what's the current status on this for 1.5.0 release that is cut this Monday morning on fd59518980ba2995c72035042cc3341b75baef78 ? It's passing nightly tests with minor issue and weekly tests are still run.

It will be great to know if this issue should be release blocking for 1.5.0, if not, what's the ETA you have in mind ? Thanks !

[2021-07-13 17:33] clarkzinzow commented on #17008
@jiaodong I'm currently working on this as a P0 + release blocker, worked on a reproduction yesterday and continuing to work on a reproduction + fix today.

[2021-07-13 17:38] richardliaw commented on #16878
OK, so this error comes up because hydra_runner seems to fail inside your training job.

Is the primary benefit of using Hydra to convert YAML -> a structured object? Hydra generally assumes it is a top level construct (i.e., put Tune inside the Hydra call).

[2021-07-13 17:44] #13799 closed

[2021-07-13 17:48] ericl commented on #17009
If this is passing on the 1.5 branch, we can unblock the release. Otherwise, @rkooo567 is looking at fixing this on master as an interrupt.

[2021-07-13 17:50] rkooo567 commented on #17009
If the test succeeds in 1.5 release build, it should be fine to unmark as a release blocker.

[2021-07-13 18:01] #15910 closed

[2021-07-13 18:22] jiaodong commented on #17008
Thanks for confirming, I will update this in our release notes and feel free to keep me updated once you need cherrypicks :)

[2021-07-13 18:24] jiaodong commented on #17009
All nightly tests passed on 1.5.0 cut and the only failing long running weekly test is https://buildkite.com/ray-project/periodic-ci/builds/548#de9691e9-3027-44a1-a109-e2ab6e437fd2, which is the "distributed test", I think it should be relevant to the title of this PR ?

[2021-07-13 18:48] rkooo567 commented on #17009
That test was broken from before, so it is unrelated. I think we can just mark this as P1 (standard stability task), but not a release blocker?

[2021-07-13 18:49] pcmoritz opened #17040 "[Ray debugger] Clean up debugging state after job finishes"
### What is the problem?

Currently the active breakpoints in the debugger are not cleaned up after the job that set the breakpoints exists. We should clean them up.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to reproduce the issue. The snippet should have **no external library dependencies** (i.e., use fake or mock dat

[2021-07-13 18:51] jiaodong commented on #17009
Got it, I will leave it to you guys to make the call on this issue regarding if it should be release blocking or not, if not please update the label accordingly, otherwise please keep me updated if you have ETA on it :)

[2021-07-13 18:53] richardliaw commented on #14580
User here also brings up a `replicate` command available in Dask and whether that can be available in Ray:

https://discuss.ray.io/t/objectlosterror/2864/4

[2021-07-13 19:01] pcmoritz opened #17041 "[Ray debugger] Sort breakpoints in chronological order"
### Describe your feature request

The breakpoints in the Ray debugger `ray debug` should be sorted in chronological order, the most recent breakpoint that was hit should be listed first.

For questions, post on our Discussion page instead: https://discuss.ray.io/

[2021-07-13 19:12] rkooo567 commented on #14580
Hmm I am not sure if we support reconstruction replication is necessary. Could be useful for actor workload since reconstruction is hard to be supported for actors. @ericl Is other DP library like Spark exposing replication options to users (or is it even supported)?

[2021-07-13 19:16] tkram01 commented on #14580
Spark allows you to persist a dataframe at different storage levels including replicating it to 2 other cluster nodes - https://spark.apache.org/docs/latest/rdd-programming-guide.html#rdd-persistence

[2021-07-13 19:57] ahah-figure commented on #16945
I used `--system-config={"num_heartbeats_timeout":300}` and ran the script I provided many times on many nodes, and I didn't get a single error.

Thanks everyone!

Would you like me to close this issue?

[2021-07-13 20:13] iycheng opened #17044 "[placement group] Resource leak when allocating failure"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
When allocating resource failed, sometimes the resource failed to be released, ([code](https://github.com/ray-project/ray/blob/1fd0eb805e49c937f4670cb436fdddec6a3c158f/src/ray/raylet/scheduling/cluster_resource_scheduler.cc#L807-L809)) which might leads to a leak.

### Reproduction (REQUI

[2021-07-13 20:17] wuisawesome opened #17045 "Redis maxclients is sometimes artificially low"
### What is the problem?

This issue seems difficult to reproduce, but sometimes maxclients is much lower than the ulimit. This is one cause of flakiness for the scalability envelope.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 lines if possible) that can be copy-pasted to repro

[2021-07-13 20:52] #17023 closed

[2021-07-13 21:30] franklsf95 opened #17048 "An unexpected internal error occurred while the IO worker was spilling objects"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

* Ray master

When object store is operating close to memory limit, I see this error coming from all workers before one of them dies and objects become lost:

[code]

Will try to repro this on a single node.

### Reproduction (REQUIRED)
Please provide a short code snippet (less than 50 l

[2021-07-13 21:34] edoakes commented on #14923
@jovany-wang it's necessary to implement it in the core worker to avoid it blocking on other tasks that may be running

[2021-07-13 21:41] rkooo567 commented on #17048
@franklsf95 is working on the repro. If he cannot find the repro I think we should do some session to find a repro together cc @scv119 since we are aiming for 0 bug here.

[2021-07-13 21:41] rkooo567 commented on #17048
Leaving it as a triage for now.

[2021-07-13 21:46] rkooo567 commented on #17044
I have a couple questions;

- Without this fix, is your PR going to be broken? How did you find the issue?
- Also, can you update the description? (detailed problem)

[2021-07-13 22:39] slimshreydy commented on #16638
Sorry for delays on getting back to y'all! We've performed our scan again and confirm that log4j has been updated and that there are no outstanding critical or high severity vulnerabilities that we've been able to detect. Appreciate your work on getting this sorted for us!

[2021-07-13 22:39] #16638 closed

[2021-07-13 22:59] dkorolov commented on #16909
@wuisawesome  I checked if `ray status` really updated - all fine I see time changes. It looks up to date.
I made some extra tests and we set up on a machine with Windows dual boot with Ubuntu Linux.  In native Linux, all works fine.
So the issue is related to the case of running under Windows WSL2 linux.  Technically Ray runs under Linux under this case.  But this looks like a specific case and R

[2021-07-13 23:22] pcmoritz commented on #16638
Thanks a lot for checking again and also bringing this up in the first place :)

[2021-07-13 23:59] iycheng commented on #16688
Since this is an async call, we can just comment on this line to reproduce.

https://github.com/ray-project/ray/blob/33e319e9d76513ca18eec4968c15019e97cd271d/src/ray/core_worker/reference_count.cc#L855-L856

Basically, it's about whether WaitForRefRemoved got received by the caller, before or after task returns.

If `WaitForRefRemoved` received after tasks returns, it'll have log like this:
[code]