[2021-10-29 19:57] ericl opened #19896 "[Bug] Hangs when concurrently trying to get-or-create a named actor"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

It seems there are some bad error messages / race conditions around trying to implement getOrCreate named actor. cc @edoakes @simon-mo

### Versions / Dependencies

master

### Reproduction scr

[2021-10-29 20:05] ericl commented on #19896
(from Simon): this may be related to https://github.com/ray-project/ray/pull/17339

[2021-10-29 20:20] mwtian opened #19898 "[Bug] Revert `-g1` build option for `1.8.0` release"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

It increases wheel size from ~50MB to ~100MB which requires bumping wheel size limit.

### Versions / Dependencies

Ray 1.8.0

### Reproduction script

n/a

### Anything else

_No response_

###

[2021-10-29 20:24] architkulkarni opened #19899 "[Serve] [Doc] ray.io Ray Serve landing page snippet errors and doesn't have visible output"
Mini-audit:

- Google Ray, find ray.io, click on "Model Serving"
- Page says "Install Ray Serve with pip install "ray[serve]" and give this example a try."
- Install Ray Serve, run the example, get an error "`transformers` not found…"
- Pip install transformers
- “None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data

[2021-10-29 20:41] mwtian commented on #19898
Fix is merged into 1.8.0 release branch.

[2021-10-29 20:44] mwtian opened #19901 "[Feature][Release] Test wheel size in wheel sanity check"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Recently we ran into an issue late into the release where an unexpected wheel size increase makes the wheels unable to be uploaded into PyPi. Since PyPi has this limit, we should add a validation in the wheel sanity check CI step to m

[2021-10-29 20:51] #19898 closed

[2021-10-29 22:03] #18925 closed

[2021-10-29 22:29] jmugan commented on #19861
It looks like I fixed it by explicitly setting everything to `float32` in https://github.com/ray-project/ray/blob/master/rllib/contrib/alpha_zero/environments/cartpole.py. Do you want me to submit a pull request?

I chose `float32` because that is what is used here https://github.com/openai/gym/blob/master/gym/envs/classic_control/cartpole.py.

[2021-10-29 22:57] simon-mo opened #19905 "[Bug] [Core] Actor Memory Leak?"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

While I was debugging https://github.com/ray-project/ray/issues/19891, I found a repro for just Ray Core. The symptom here is the actor process's rss is growing unbounded, hinting at a potentia

[2021-10-29 23:00] simon-mo commented on #19905
cc @scv119 @rkooo567 @ericl please let me know if you can't reproduce this or this is a false alarm (could be just (py)malloc being weird and don't compact memory...)

[2021-10-29 23:01] simon-mo commented on #19891
Seems like I can repro this in ray core. I'm not 100% confident this is a real bug though: https://github.com/ray-project/ray/issues/19905

[2021-10-29 23:09] #19792 closed

[2021-10-30 01:13] scv119 commented on #19894
https://beta.anyscale.com/o/anyscale-internal/projects/prj_SVFGM5yBqK6DHCfLtRMryXHM/clusters/ses_rtAptfzd4MQn1G3TwVif8NeQ failed on commit e6d60d7.

Trying it's parent commit now

[2021-10-30 01:35] scv119 commented on #19905
can't reproduce with ray 1.7.0 + numpy 1.20.3 for 20 minutes on linux :/

[2021-10-30 01:37] scv119 commented on #19894
https://beta.anyscale.com/o/anyscale-internal/projects/prj_SVFGM5yBqK6DHCfLtRMryXHM/clusters/ses_PcSHCPXwFkK4c1NKqNd4Mgqj?command-history-section=command_history
parent commit passed. so probably e6d60d7 is the offending pr.

[2021-10-30 03:54] bstollnitz opened #19909 "mlflow_mixin should nest mlflow runs. This prevents the Ray Tune + MLflow scenario from working on Azure ML."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

I tried to use Ray Tune + MLflow + Azure ML by following the "MLflow Mixin API" approach detailed in these docs: https://docs.ray.io/en/latest/tune/tutorials/tune-mlflow.html#mlflow-mixin-api,

[2021-10-30 16:51] dfm794 opened #19914 "[Bug] 'from ray.rllib.agents.ppo import PPOTrainer' segfaults"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

After installing ray[rllib] into docker, attempted the RLlib in 60seconds example on the website. The example causes python to segfault. upon further examination, the single line
from ray.rllib.ag

[2021-10-30 19:22] #19894 closed

[2021-10-30 19:37] clarkzinzow commented on #14073
@ericl This is already fully implemented, right? I think we can close this, unless we want to discuss exposing this as a public API (it's private rn IIRC).

[2021-10-30 19:38] clarkzinzow commented on #14216
@rkooo567 Should we close this based on the progress bar that you added?

[2021-10-30 19:50] #19878 closed

[2021-10-30 20:00] gjoliver commented on #18454
Another data point. I am seeing the same thing on M1, with fresh env and wheel installation, python 3.9.
I think this used to print a warning message, not sure why it's an exception now.

[2021-10-31 00:01] kyoungseoun-chung commented on #5316
Recently, I also faced a similar issue with an error "ray.exception.WorkerCrashedError. The worker died unexpectedly while executing this task.".

But the issue arose only when I use many cores. For example, if I generate jobs for 20 cores to calculate, ray gave me the error. However, if I reduce the core counts (but the same task) down to 10, the error disappears.

Currently, I am okay with 10 co

[2021-10-31 00:27] robmoore commented on #19819
Thanks for the response.

The OS is Debian bullseye. I'm seeing this in single-node mode.

I'll try to create a stripped-down version to see if I can reproduce it there.

[2021-10-31 01:18] sronen1 opened #19919 "[Bug] train_fashion_mnist_example.py does not work with GPU."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

In Ray v2.0.0.dev0, trying to run ray/python/ray/train/examples/train_fashion_mnist_example.py with GPU. It doesn't work. It is stuck with
 "Warning: The following resource request cannot be s

[2021-10-31 02:32] sronen1 commented on #19919
This works:
ray/python/ray/train/examples$ python train_fashion_mnist_example.py -n=1 --use-gpu

I assume the problem is that the default num workers is 2, and with --use-gpu maybe it wants 2 gpu's.

[2021-10-31 02:32] #19919 closed

[2021-10-31 05:40] gjoliver opened #19920 "[Bug] Something a bit weird about the new per-commit wheel artifact"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Branch: https://github.com/ray-project/ray/commits/test_wheels/jungong-connect_tests
Commit: 895dc2ced5f5aaa88c69e9d239df2701ac5eac52
The Linux "wheels and jars" job seemed to complete successful

[2021-10-31 10:03] #19767 closed

[2021-10-31 11:09] internetcoffeephone commented on #7946
This comment is to remove the stale label.

[2021-10-31 14:52] jovany-wang commented on #19639
File a simple reproduced script:
[code]

[2021-10-31 15:51] jovany-wang commented on #19639
@stephanie-wang Could you take a look at this one?

[2021-10-31 16:59] jovany-wang commented on #19896
Sorry for the delay.
For this issue, I don't think it's related to  #17339

Could you guys try the reproduced script on #17339  and its parent commit?

[2021-10-31 20:57] stephanie-wang opened #19927 "[core] Assign tasks to the first available worker"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

See #18167. This PR caused a crash in a Dask-on-Ray test. We should fix the underlying issue and re-merge.

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to

[2021-11-01 02:47] rkooo567 opened #19929 "[Bug] SIGBUS on 2GB multi node shuffle on CI"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When I enabled fake multi node non streaming & streaming shuffle on CI, it seems to cause SIGBUS error. Check the screenshot and the link below.

CI link: https://buildkite.com/ray-project/ray-

[2021-11-01 02:48] rkooo567 commented on #19929
cc @scv119 Please triage the priority!

[2021-11-01 08:41] jovany-wang opened #19935 "[Bug][xlang] Unable to return a put NativeObject from Java to Python."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

We embeds some language specific meta into NativeObject which leads to a crash in xlang use case.

### Versions / Dependencies

ALL

### Reproduction script

xlang use case:

[code]

[code]

ra

[2021-11-01 08:44] jovany-wang commented on #19935
For short term plan, we should remove the language specific validation. For long term plan, we should support unified RayObject serialization framework in xlang.

[2021-11-01 10:13] czgdp1807 commented on #19800
Just dropping in:

To reproduce flaky tests locally, shift the test inside a nested function. In the parent test function, call the newly created one 100-200 times and it will fail at least once. For example see below,

[code]

[2021-11-01 10:14] #19427 closed

[2021-11-01 10:16] rkooo567 commented on #18308
This is pretty clear in the error message. It happened because dashboard agent uses the port that's supposed to be used for the worker;

[code]

[2021-11-01 10:47] rkooo567 opened #19937 "[Bug] Placement group removal refinement"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Currently, when placement groups are destroyed, all the relevant workers / tasks are fate shared. At this time, raylet basically calls `DisconnectClient` and `DestoryWorker`, meaning it closes

[2021-11-01 11:50] btseytlin opened #19938 "[Bug] Can't pickle function objects error on ray.init"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Running `ray.init()` throws this error:
[code]

### Versions / Dependencies

Ubuntu 20.04, Python 3.7.1 via pyenv, ray 1.7.1

### Reproduction script

[code]

### Anything else

Original discus

[2021-11-01 12:58] sjulias opened #19939 "[Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Dashboard

### What happened + What you expected to happen

Unable to start head node with dashboard

### Versions / Dependencies

version: ray[default]==1.7.0

### Reproduction script

Reproduce steps:
machine: Linux 4.15.0-88-generic x86_64

[2021-11-01 13:08] gilfree opened #19940 "[Bug] Ray master fails to start dashboard as a result of new aiohttp version (3.8)"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

After installing nightly, ray start fails to start dashboard because of missing import aiohttp.signals.

I ran
[code]

And got:
ImportError: Not all Ray Dashboard dependencies were found. To us

[2021-11-01 13:16] anoop-ml opened #19941 "[Bug] PBT using DurableTrainable raises ValueError: `checkpoint_dir` must be `self.logdir`, or a sub-directory"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Subclassed the ray tune example python/ray/tune/examples/pbt_tune_cifar10_with_keras.py to use DurableTrainable and seeing the below error. It is consistently reproducible and appreciate any in

[2021-11-01 13:54] #10272 closed

[2021-11-01 13:54] #10273 closed

[2021-11-01 13:54] #10274 closed

[2021-11-01 13:58] rkooo567 commented on #18835
Btw, when do we plan to do this task?

[2021-11-01 13:59] tom634 commented on #12091
My line (from tensortrade, sine example https://www.tensortrade.org/en/latest/tutorials/ray.html ):
`checkpoints = analysis.get_trial_checkpoints_paths(trial=analysis.get_best_trial("episode_reward_mean"), metric="episode_reward_mean")`
gives error:
`No `mode` has been passed and  `default_mode` has not been set. Please specify the `mode` parameter.`
what should I do?
Analysis is:
`analysis = tune

[2021-11-01 14:05] rkooo567 commented on #19938
Is it reproducible from conda env? (doesn't mean you should use the conda env, but I'd like to understand if it is the pyenv issue)

[2021-11-01 14:07] rkooo567 commented on #19309
After this PR, the Redis memory usage has drastically decreased, and the test seems to pass. https://github.com/ray-project/ray/pull/19699

But it is pretty clear there are GCS server & dashboard memory leak that are not fixed. Should be related to cleaning up actor states from memory, but we need more investigation. But I think this is not a high priority item to fix for now.

[2021-11-01 14:07] rkooo567 commented on #19309
^ cc @scv119 please let me know your thoughts!

[2021-11-01 14:32] andrewkhardy opened #19942 "[Bug] Ray not initializing with Slurm"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I think I have the same problem as #16009,or possibly #17491, but as this comes from the default [Slurm](https://docs.ray.io/en/latest/cluster/examples/slurm-template.html#slurm-template) templ

[2021-11-01 14:39] aloofhawk opened #19943 "HyperOpt doesnt seem to perform any optimization of the hyperparameters"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

When i run this code. It fires up two samples with some initial values but no optimization of those values with hyperopt happens. At the end of the run it just returns one of the two values wit

[2021-11-01 14:52] andrewkhardy commented on #17491
I am getting the same issue, could we fix this?

[2021-11-01 15:31] mustafaKus02 commented on #17745
Hi, Is this solved?

[2021-11-01 16:35] btseytlin commented on #19938
I have no idea, I don't use conda

[2021-11-01 19:31] avnishn commented on #17108
Saving the logits seems like it wouldn't be a fix, since the logits are conditioned on technically, old observations. This is fine in the case of PPO, but it would not work for any other case AFAICT. I'll investigate further.

[2021-11-01 19:40] ericl commented on #19896
@jovany-wang I can confirm reverting 17339 does not fix the issue.

[2021-11-01 20:38] afparsons commented on #8610
Is there any way as of 2021-11-01 to make this work without compiling Ray?

I'm simply trying to set a periodic Celery task to check whether or not some Ray Serve Deployments exist.

[2021-11-01 20:56] architkulkarni opened #19949 "Add py_modules to docs with examples"

[2021-11-01 20:58] architkulkarni commented on #19889
<img width="953" alt="Screen Shot 2021-11-01 at 1 58 04 PM" src="https://user-images.githubusercontent.com/5459654/139741288-1bd4d29d-60ef-431a-b88e-c845d0e322c3.png">
Seems to have resolved itself

[2021-11-01 20:58] #19889 closed

[2021-11-01 21:03] simon-mo opened #19951 "Unpin `aiohttp` dependency"
Pinned in #19948 to resolve build issue.

[2021-11-01 21:15] xwjiang2010 opened #19952 "[Tune] test_trial_requeue fails due to pg caching"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

When removing legacy resources, I noticed that if a node is taken out from the cluster, the corresponding PG is still recycled to place another trial on it.

To reproduce, use `test_trial_reque

[2021-11-01 21:25] xwjiang2010 commented on #19952
cc @krfricke @Yard1
I would wish PG to be some kind of "lease" for putting some computing tasks on some node. This lease's validity should be synchronized in best effort to reflect the current status. This doesn't seem to be the case.
In a more general case, can the following sequence happen? pg.ready() returns true --> node is down --> pg.ready() still returns true --> a trial is placed onto that

[2021-11-01 21:50] simon-mo opened #19954 "[Serve] [Replica Autoscaler] Release Test Autoscaling"

[2021-11-01 21:52] simon-mo opened #19955 "[RFC] [Serve] Model Composition Pipelines"

[2021-11-01 21:54] alvin-yang68 opened #19956 "[Bug] ImportError: Not all Ray Dashboard dependencies were found."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

`ray.init(include_dashboard=True)` throws ImportError: Not all Ray Dashboard dependencies were found. To use the dashboard please install Ray using `pip install ray[default]`.

This issue was

[2021-11-01 21:57] rkooo567 commented on #19952
Actually, if this `When removing legacy resources, I noticed that if a node is taken out from the cluster, the corresponding PG is still recycled to place another trial on it.` happens, placement group scheduler is supposed to re-create bundles on a dead node to other nodes. Do you see this cause hanging or sth like that?

[2021-11-01 21:59] edoakes commented on #19891
Downgraded to P1 because we can't consistently repro. @simon-mo doing more investigation

[2021-11-01 22:01] architkulkarni opened #19957 "[runtime env] Use abstract base class for plugin API"
We should use an abstract base class to unify `WorkingDirManager`, `PipManager`, `PyModulesManager` and `CondaManager`.

To simplify the code we can hide the cache behind the manager:
[code]

[2021-11-01 22:02] architkulkarni opened #19958 "[runtime env] Implement local GC for conda/pip"

[2021-11-01 22:04] ericl commented on #19639
Isn't this working as intended? We can't remove the worker if there are active references until it is drained.

[2021-11-01 22:11] xwjiang2010 opened #19959 "[Tune] pg does not support empty bundle resources"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Specifically, this won't work after fully switching to pg: https://sourcegraph.com/github.com/ray-project/ray/-/blob/python/ray/tune/tests/test_api.py?L280

Should we just remove this test case

[2021-11-01 22:15] xwjiang2010 commented on #19952
Thansk Sang! So there are actually some mechanisms there. Good to know! I am gonna check it out using a real cluster. `test_trial_requeue` is emulating a cluster for unit test, I don't know how realistic the set up is.
If there are discrepancies, maybe we should just move relevant tests to use real multi-node set up, the ones that Kai was setting up recently.

[2021-11-01 22:25] rkooo567 commented on #19959
I think it makes sense to remove the test? Empty bundle doesn't really make sense (it means the pg is not usable)

[2021-11-01 22:25] lucaguarro commented on #17686
When I try this in colab, the cell hangs with the following output:

[2021-11-01 23:07] DmitriGekhtman opened #19961 "[Bug] Use newly added drain node interface in autoscaler"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Use newly added drain node interface in autoscaler

### Use case

Get rid of the annoying messages

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2021-11-01 23:24] edoakes commented on #17686
@lucaguarro What are the contents of that log file?

[2021-11-01 23:28] architkulkarni opened #19962 "Support working_dir=None for skipping packaging upload/download"

[2021-11-02 00:16] nocluebutalotofit commented on #19956
Same problem with
Ray 1.7.0
aiohttp 3.8.0
Python 3.9.5
macOS Big Sur

[code]
fail with aiohttp 3.8.0 which is permitted by ray/python/requirements.txt which says aiohttp>=3.7

[2021-11-02 02:46] jovany-wang commented on #19639
I don't think it's intended.

[code]
For the above snippet, `normal_task` adds the `x` as its local reference, `normal_task` isn't the owner of `x`, so the `x` should be removed after `normal_task` finished.

And for the following one, if we send a SIGTERM to the `normal_task` worker when it's doing `time.sleep(60 * 60)`, the `normal_task` raises an exception to the user side or reconstruct it. Bu

[2021-11-02 02:49] kfstorm commented on #18308
@rkooo567 Shouldn't this be a bug? If the worker port range is specified, we should avoid using ports in the range by processes other than workers.

[2021-11-02 02:50] jovany-wang commented on #19639
Generally speaking, for both the `normal_task` finishing normally and terminating with errors, the local reference `x` should be removed and the local worker shouldn't drain anything.

[2021-11-02 02:51] kfstorm commented on #18308
If we leave it as is, `ray start` may fail randomly when the worker port range is specified.

[2021-11-02 02:56] rkooo567 commented on #18308
I think for agent port, we will make so that agent will choose its own port. I agree we should have some validation ahead to avoid port conflict. Let me reopen the issue

[2021-11-02 03:03] #14727 closed

[2021-11-02 03:06] ysx001 opened #19967 "[Bug] SegFault on Ubuntu 20.04 when creating actor"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When running simulation on ubuntu 20.04, create_actor seg faults with the below error. It works fine on MacOS.

https://github.com/ray-project/ray/blob/f101f7cc02e9388680f4ad8ccb49325f2cabcc53/pyt

[2021-11-02 03:08] rkooo567 commented on #19967
The link seems to be not available. Can you check the security settings? https://github.com/yunfanjiang/cs238-rps/blob/main/exp_scripts/baselines/a3c.py

[2021-11-02 05:28] ericl commented on #19639
I see. I can reproduce this locally. I wonder if it's because we improperly cancelled the task when handling SIGTERM, and did not get a chance to release references to the task arguments.

[2021-11-02 06:10] jovany-wang commented on #19639
Yes.  What do you think of the best fixing?
I don't make sure if it's possible to release them in Python layer. Otherwise we should release them in core worker once task canceled.

[2021-11-02 06:16] ericl commented on #19639
Hmm how about setting a reference to them in core worker that can be
released on hitting sigterm or other unexpected signals?

On Mon, Nov 1, 2021, 11:10 PM Qing Wang ***@***.***> wrote:

[2021-11-02 07:28] sjulias commented on #19939
In addition, when I ran the ps command this is the output

         ps -ef | grep ray
    yuls  33866     1  0 03:20 pts/2    00:00:00 /users/anaconda_data/shared/yuls/ray/lib/python3.8/site-packages/ray/core/src/ray/thirdparty/redis/src/redis-server *:6379
    yuls  33871     1  0 03:20 pts/2    00:00:00 /users/anaconda_data/shared/yuls/ray/lib/python3.8/site-packages/ray/core/src/ray/thirdparty/

[2021-11-02 12:43] smorad opened #19976 "[Bug] [rllib] RNN sequencing is incorrect"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I would expect given two sequences `A, B`:
`[A, A, A, B, B]; seq_lens=[3, 2], obs.shape = [5, 1]`
would be padded to
`[A, A, A, B, B, *]; seq_lens=[3, 2], obs.shape = [2, 3, 1]`

This does not app

[2021-11-02 13:39] kcpevey opened #19977 "[Bug] Tips for testing Ray Programs Tip 4 does not run on Windows"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I am running [Tip 4: Create a mini-cluster with ray.cluster_utils.Cluster](https://docs.ray.io/en/latest/auto_examples/testing-tips.html#id4) on [Tips for Testing Ray Programs](https://docs.ray

[2021-11-02 14:10] rohan-gt opened #19978 "[Bug] MLFlow nested runs don't work with Ray"
I'm trying to run 100 different regression models for 100 products (distributed using Ray and joblib) and track them using MLFlow. I want to group the 100 models under a single run so I use a parent MLFlow run function which calls a nested child MLFlow run function. But when I run it, it shows up as 101 seperate experiments on MLFlow UI. The experiments are properly nested when I use a simple for

[2021-11-02 14:50] JingZhang918 opened #19979 "How to set #of cpu and gpu per trial?"
I'm trying some really basic code:
[code]
But it's always pending with this message:

[code]

Then I add this code:
[code]
with the intent to request less cpu to make it run. But nothing happened. It still needs "3.0 cpu and 0.0 gpu per trial".

Then I try to use the parameter resources_per_trial from tune.run then I get an error:

[code]
Now what do I do?

[2021-11-02 14:51] rkooo567 commented on #19326
Potentially resolved after
https://github.com/ray-project/ray/pull/19911
and
https://github.com/ray-project/ray/pull/19823

We can reopen if we see this issue again

[2021-11-02 14:51] #19326 closed

[2021-11-02 14:52] smorad commented on #19976
I just checked and this is not an issue with `A2C`. Maybe it is just `PPO`-related?

[2021-11-02 14:53] rkooo567 commented on #14347
Please reopen if it is not resolved

[2021-11-02 14:53] #14347 closed

[2021-11-02 14:54] rkooo567 commented on #12562
It is a duplicate

[2021-11-02 14:54] #12562 closed

[2021-11-02 14:56] rkooo567 commented on #10275
Duplicate https://github.com/ray-project/ray/issues/18309

[2021-11-02 14:56] #10275 closed

[2021-11-02 14:56] rkooo567 commented on #10508
Duplicate https://github.com/ray-project/ray/issues/10232

[2021-11-02 14:56] #10508 closed

[2021-11-02 14:57] rkooo567 commented on #11432
Stale

[2021-11-02 14:57] #11432 closed

[2021-11-02 14:58] rkooo567 commented on #14621
What's the status of this?

[2021-11-02 14:58] #15327 closed

[2021-11-02 14:59] rkooo567 commented on #15327
Looks like the issue is resolved. Please reopen if not!

[2021-11-02 15:00] #16931 closed

[2021-11-02 15:01] rkooo567 commented on #18003
I believe this should be fixed int he master. Please reopen if you see the issue again

[2021-11-02 15:05] rkooo567 commented on #13932
Duplicate https://github.com/ray-project/ray/issues/17937

[2021-11-02 15:05] #13932 closed

[2021-11-02 15:06] rkooo567 commented on #13487
Duplicate https://github.com/ray-project/ray/issues/10232

[2021-11-02 15:13] nocluebutalotofit commented on #19956
Yes, that is why simple downgrading ray does not help.

[2021-11-02 15:26] kcpevey opened #19980 "[Feature] Add link checking to CI"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

There are some broken links in the docs. We can check for valid links in ci by using
[code]

I'd be happy to implement this if its desired. I'd just need someone to suggest the proper location for this.

### Use case

_No response_

#

[2021-11-02 16:23] richardliaw commented on #19980
Hey, thanks for opening this issue!

The problem with linkchecker is that it often just causes github to start throwing 404s/400s iirc. Did you experience this? is there something we can do to address this?

[2021-11-02 16:45] wuisawesome commented on #19800
Conclusion from the meeting: we'll hold off from now since it's a multi node issue.

[2021-11-02 16:57] richardliaw commented on #19939
Ah, this may be because of a recent aiohttp issue. Can you try running `pip install aiohttp<3.8`?

[2021-11-02 17:07] xwjiang2010 opened #19983 "[Tune] test_trial_runner_pg.py::PlacementGroupNoAutoSetupTest hangs after using PG"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

Program hangs
Maybe the unit test is not under the right assumption. If so, would like to correct and document it.

### Versions / Dependencies

master

### Reproduction script

`pytest -s pyth

[2021-11-02 17:08] xwjiang2010 commented on #19983
@rkooo567

[2021-11-02 17:23] xwjiang2010 opened #19985 "[Tune] test_api.py::testBuiltInTrainableResources failing after using PG path"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

`pytest -s python/ray/tune/tests/test_api.py::TrainableFunctionApiTest::testBuiltInTrainableResources`

Stuck in `pending` forever, without raising TuneError.

This is due to the fact that Tune

[2021-11-02 18:32] simon-mo opened #19987 "[Serve] Recovered cluster hang from loading actor class from gcs"
getting the following hanging when recovering a serve cluster form failure
[code]

To reproduce it, you can put this file
[code]
and run the full script
[code]

[2021-11-02 18:37] czgdp1807 commented on #19800
Updated OP with the status of `test_basic_3` and `test_basic_3_client_mode`. Both timeout on my system. I recently opened a PR for timing out of `test_fair_qeueing` - https://github.com/ray-project/ray/pull/19456. There I bumped the timeout limit for Windows from 60s to 510s after which it started working fine. Bazel's limit is still 300s so tests after `test_fair_qeueing` are not reached. I comme

[2021-11-02 18:51] mattip commented on #19800
Can you compare the logs from a windows run in %TEMP%/ray/session_latest to the logs in a linux run in /tmp/ray/session_latest of one of the slowest tests to see what is taking so much time? I think 8x slower is a bit extreme.

[2021-11-02 18:54] czgdp1807 commented on #19800
Sure. I can do the testing on Linux tomorrow. Yes 8x time taken is slow though the behaviour is same in every run. So, probably my Windows is slow. But still I will do the Linux testing tomorrow to be double sure.

[2021-11-02 18:57] mattip commented on #19800
I wonder if you could get a similar virtual machine running linux to be able to fairly compare the results.

[2021-11-02 19:01] simon-mo commented on #19987
identified that issue was _replicas, which contains actor handles are checkpointed https://github.com/ray-project/ray/blob/9385b6c1be97b25a31bcc475f8c6ee5b2e1a2455/python/ray/serve/backend_state.py#L624

[2021-11-02 19:02] czgdp1807 commented on #19800
Regarding, `test_basic_3::test_worker_startup_count`, the `debug_state.txt` takes 23.29ish seconds (on multiple runs on my machine). However, `wait_for_condition` (see below) has a default argument `timeout=10`. Hence, the test times out. So a simple fix and high level fix would be to bump the time limit from 10s to 25 or higher (if we want to be safe everywhere). cc: @wuisawesome @pcmoritz

https

[2021-11-02 19:25] cheind opened #19988 "Issue on page /tune/tutorials/tune-pytorch-lightning.html"
The first code snippet of
https://docs.ray.io/en/latest/tune/tutorials/tune-pytorch-lightning.html#talking-to-tune-with-a-pytorch-lightning-callback
refers to metrics `avg_val_loss` and `avg_val_accuracy`, but those have not been defined by the code above.

[2021-11-02 19:52] mattip commented on #19800
That seems painfully slow. Maybe another option would be to reduce the number of workers/tasks on windows

[2021-11-02 19:59] kcpevey commented on #19980
I haven't seen this. It did find that some links were 404s, but those appeared to be valid. For example, here is a snippet of the output:
[code]
Do you mean you added it to github actions and it caused 404s (outside of the report generation above) when it was run there?

[2021-11-02 20:28] edoakes opened #19989 "Add job submission ID + job status to /api/snapshot metadata"
1. Tack on `job_submission_id` as a field in the metadata of the `JobConfig`.
2. Add a `status` field to the jobs info in the `/api/snapshot` response. This will be set to the current job status for jobs submitted via API, else null.

[2021-11-02 20:28] edoakes commented on #19989
cc @tchordia

[2021-11-02 20:52] rkooo567 commented on #19983
If you use placement group directly without the factory, does it work?

[2021-11-02 20:55] rkooo567 commented on #19983
Actually, this seems to have an issue in the master. Are you using the commit after this PR? https://github.com/ray-project/ray/commit/a907168184ee233a19d4397c1185f3a1488b12d2

[2021-11-02 21:10] SebastianBo1995 opened #19993 "[Bug] [RLlib] Callback on_learn_on_batch inconsistent"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When using the callback on_learn_on_batch there is no access to the "infos" dict when using the default framework. When setting the framework to tf2, there is access to the infos dict.

Since acce

[2021-11-02 21:11] SebastianBo1995 commented on #8526
@jeanpm I just tested it. Unfortunately after on_sample_end Ray Checks the shape and throws an error if adding additional Datapoints, e.g. when applying the HER algorithm.

in the on_learn_on_batch it is working however there is a small Bug/Inconsistency.
Just be sure to use the "tf2" framework.

#19993 19993

[2021-11-02 21:20] SebastianBo1995 commented on #19993
Update: Seems to be comming from https://github.com/ray-project/ray/blob/master/rllib/policy/tf_policy.py
Lines 190ff:
[code]

where the infos dict gets disabled. Any way to enble it from outside without changing the tf_policy.py?

Still a consistent behaviour would be desireable  😄

[2021-11-02 21:39] xwjiang2010 commented on #19983
Not really. My master was a while ago. Head commit: `https://github.com/ray-project/ray/commit/db863aafc007e0dc45f1f3debd7008164856d3a5`

[2021-11-02 22:06] xwjiang2010 commented on #19855
@gjoliver

[2021-11-02 22:08] #19156 closed

[2021-11-02 22:16] gjoliver commented on #19855
What's your complete config dict? It's a little different for different agents.
Workers can definitely get accessed from multiple threads though.

[2021-11-02 22:21] xwjiang2010 commented on #19855
@gjoliver
complete driver code:
[code]

[2021-11-02 23:16] #19855 closed

[2021-11-02 23:21] scv119 commented on #19855
Did a pair debugging with @xwjiang2010; looks the error is `RecursionError: maximum recursion depth exceeded in comparison`.
This is actually a change introduced in #19758 being reverted in #19806; once it's reverted we no longer see this errors.
Hence, it's very likely the recursion bug is introduced by #19758 and being fixed.  Maybe @sven1977 could double check and confirm.

closing it, feel fre

[2021-11-02 23:36] simon-mo commented on #19252
Dup of #19253

[2021-11-02 23:36] #19252 closed

[2021-11-02 23:41] simon-mo commented on #19250
- [ ] Serve actual ML model
- [ ] Best practice
- [ ] How to hit the endpoint realistically via HTTP and Python
- [ ] Scaling out
- [ ] Updating code
- [ ] OpenAPI link
- [ ] Composition?

[2021-11-02 23:45] simon-mo commented on #19254
How to view the Serve logs?

[2021-11-02 23:46] worldveil opened #20002 "RLlib example w/ gym import doesn't work"
From [this example](https://docs.ray.io/en/latest/rllib-training.html#accessing-model-state):

[code]

[2021-11-02 23:49] worldveil opened #20003 "Broken link for offline RL in docs"
This link is broken:

https://github.com/ray-project/ray/tree/master/rllib/examples/serving/offline_rl.py

It's the first example under here:

https://docs.ray.io/en/latest/rllib-examples.html#serving-and-offline

Can we replace with an offline RL example? Popular among users.

[2021-11-02 23:49] simon-mo commented on #19257
Rewrite of https://docs.ray.io/en/latest/serve/deployment.html#lifetime-of-a-ray-serve-instance

convert it to a top level "serve concepts"

- deployment
- detached
- serve.start
- namespaces and how serve relates to namespaces
- ray init and how serve relates to

[2021-11-02 23:50] amogkam commented on #19993
cc @gjoliver

[2021-11-02 23:52] simon-mo commented on #19487
re-think this after #19255, a CLI might replace this.

[2021-11-03 00:20] scv119 opened #20005 "[Datasets, Core] ensure liveness when spilling happens."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

While benchmarking dataset once thing we noticed is that the performance is extremely slow, and sometime it even stalls when thrashing happens. we should guarantee liveness as long as the data

[2021-11-03 00:31] c3UdayKanwar opened #20007 "Issue on page /auto_examples/tips-for-first-time.html"
In the sub-section, "Tip2 : Avoid tiny tasks", do_some_work() should be tiny_work().

_Let’s now parallelize this code using Ray, by making every invocation of do_some_work() remote:_

<img width="938" alt="Screen Shot 2021-11-02 at 5 26 51 PM" src="https://user-images.githubusercontent.com/30840651/139969515-8921ffc3-e8dd-46c8-8d99-f27b08d347e4.png">
.

[2021-11-03 02:19] gjoliver commented on #19993
we should make things consistent.
can you share your script with me?
will take a look.

[2021-11-03 02:33] brandonros commented on #7184
Not related but all I could find on Google:

[code]

[2021-11-03 02:52] #14215 closed

[2021-11-03 02:52] #16582 closed

[2021-11-03 04:04] DmitriGekhtman opened #20012 "[ray client] Get ObjectRef within remote function doesn’t work with Ray Client and Jupyter Notebook"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Get ObjectRef within remote function doesn’t work with Ray Client and Jupyter Notebook.
Discussion here: https://discuss.ray.io/t/get-objectref-within-remote-function-doesnt-work-with-ray-clien

[2021-11-03 04:05] DmitriGekhtman commented on #20012
cc @ckw017

[2021-11-03 07:44] SebastianBo1995 commented on #19993
Changes permissions for the colab
https://colab.research.google.com/drive/1BxyoHYcCcLMfO9arMWhirtvDHDkLWcuB?usp=sharing

[2021-11-03 09:16] yiwei00000 opened #20017 "[Bug] no error in the log and no dashboard process"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

When I use ray version 1.8.0, I use the command ray start --head --port = 6379 --dashboard host = 0.0.0. After starting, there is no error in the log, but there is no dashboard process, and I

[2021-11-03 09:19] robot-xyh commented on #19977
I am using ray1.8.0 and have the same problem

[2021-11-03 10:02] MXD6 commented on #19938
I encountered the same problem, how did you solve it？

[2021-11-03 10:58] Hoeze commented on #13607
@richardliaw I adjusted our slurm configuration but it still does not work:
![image](https://user-images.githubusercontent.com/1200058/140048651-2965ba3d-a109-4b79-806b-a49bc77e117c.png)

[2021-11-03 11:47] birgerbr opened #20018 "[Bug] Object lost even though a reference to it exists"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

An object stored using `ray.put` is lost when the owner dies, even though there still exist references to the object.

I was expecting the object to be copied during the worker shutdown, such t

[2021-11-03 12:13] btseytlin commented on #19938
I did not! Still looking for a solution and hoping Ray team will help

[2021-11-03 13:20] rhamnett commented on #19309
Hello I am also experiencing this issue (am using W&B logger)

[code]

[2021-11-03 13:46] PidgeyBE commented on #12128
[ray-1.3.0-cp37-cp37m-linux_aarch64.zip](https://github.com/ray-project/ray/files/7467962/ray-1.3.0-cp37-cp37m-linux_aarch64.zip)
*rename .zip to .whl
Build with original instructions found in this thread, so I'm not sure what is going wrong in your case....

[2021-11-03 14:49] #19989 closed

[2021-11-03 15:21] SebastianBo1995 opened #20021 "[Bug] [RLLib] Bug when doing eval episodes without exploration"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

When setting explore to False and doing evaluation episodes, there is a mismatch between numpy an tf variable of the "last_timestep".

[code]

### Versions / Dependencies

V1.8

### Reproduction s

[2021-11-03 15:24] #17827 closed

[2021-11-03 15:30] SebastianBo1995 commented on #20021
Seems to be fixed in the latest branch: https://github.com/ray-project/ray/blob/e6ae08f41674d2ac1423f3c2a4f8d8bd3500379a/rllib/utils/exploration/gaussian_noise.py
from yesterday.

[2021-11-03 15:40] #19700 closed

[2021-11-03 16:22] edoakes opened #20025 "[serve] Support deploying/running from Serve CLI"
For development workflows, we want to be able to support the following UX similar to `uvicorn run`:
`serve run my_file:MyClass`

This should also be compatible with a future more structured production workflow where a deployment can be specified in JSON/YAML and deployed via a REST API:
[code]

In order to do this, we need to make all of the options currently available in the `@serve.deployment` d

[2021-11-03 17:26] Dylan-Kerler commented on #19804
@palkan21 Did you fix this issue? I'm getting a very similar error

[2021-11-03 17:30] rhamnett opened #20027 "[Bug] Ray 2.0 nightlies not reflecting current master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Tune

### What happened + What you expected to happen

Hello @richard4912  I am using a 2.0 py3.7 nightly installed today from link https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl

p

[2021-11-03 17:37] simon-mo commented on #20027
Current latest wheel should contains commit https://github.com/ray-project/ray/commit/3d7d341dd0003723124c171c5a0206b0a3793c44

I verified it by
[code]

[code]

Can you make sure to `pip uninstall -y ray; pip install ...`? Sometimes when you already have nightly installed, pip will not re-install when with `-U` because the version string is the same `2.0.0.dev0`.

[2021-11-03 17:40] Dylan-Kerler commented on #19804
I thought it might help if I downgraded from python3.8 to 3.7 but then I get this error instead:

[code]

[2021-11-03 17:47] jchemp commented on #7430
Same error as above^

[2021-11-03 17:49] rhamnett commented on #20027
Aha! I had not correctly uninstalled the previous version.

Perhaps a note would be useful on the nightly section explaining this.

Many thanks

[2021-11-03 17:49] #20027 closed

[2021-11-03 18:02] pcmoritz commented on #19800
So I'd say spend some time to investigate the performance issue. If we can identify it great, if we can fix it even better. If we can't or it would take too much time, bumping the timeout seems fine.

A reasonable time to spend on this would be about a day I'd say, if it needs longer let's reconsider.

[2021-11-03 18:04] outdoteth opened #20029 "Can't load from checkpoint [Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I ran the rllib agent in a ray cluster on AWS. Then I downloaded the tune_results with rsync_down. Then I tried to load in the checkpoint file locally which is where it gave an error.

### Version

[2021-11-03 18:26] simon-mo commented on #20027
Feel free to open a PR changing https://github.com/ray-project/ray/blob/master/doc/source/installation.rst ;-)

[2021-11-03 18:28] simon-mo opened #20033 "Remove shard_key, http_method, and http_headers"

[2021-11-03 18:29] rhamnett commented on #20027
As you wish! https://github.com/ray-project/ray/pull/20034

[2021-11-03 19:58] clarkzinzow commented on #19063
Bump for this, since users seem to expect that if `len(ds) % batch_size == 0`, then they will see the entire dataset when batching, even after windowing the dataset.

[2021-11-03 20:32] czgdp1807 commented on #19800
Sure. I will get back to you by tomorrow after noon. I am tracing the code block which consuming the most time. May be that can help us determine where the bottleneck lies.

[2021-11-03 20:37] ysx001 commented on #19967
We pulled the latest code from ray repo and build from scratch (instead of install with pip), and the code was able to run successfully. Maybe it was a bug fixed in the latest version and you need to bloom release it. Closing the issue for now.

[2021-11-03 20:37] #19967 closed

[2021-11-03 20:37] dennymarcels opened #20037 "[Bug] Not all Ray Dashboard dependencies were found"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

I install ray[default] and right afterwards, I start a cluster with ray start --head --include-dashboard=True, but I keep getting an `ImportError: Not all Ray Dashboard dependencies were found

[2021-11-03 20:38] dennymarcels commented on #19956
Same.
Ray 1.8 and 1.7
Python 3.9
Debian 11

[2021-11-03 20:39] ericl commented on #19063
Bumped to P1 (seems like an easy enough issue to fix).

[2021-11-03 20:39] dennymarcels commented on #20037
Sorry, just found it [here](https://github.com/ray-project/ray/issues/19956).

[2021-11-03 20:39] #20037 closed

[2021-11-03 20:55] edoakes commented on #20025
Conclusion from design review: we'll just support a JSON blob for now.

[2021-11-03 21:08] xwjiang2010 commented on #19985
@ericl
Do you think it makes sense for Core to expose an API to tell Tune if autoscaler is used or not?
Current way of relying on bootstrap file is not reliable, as discovered in #18608.
cc @richardliaw

[2021-11-03 21:21] pmmitche commented on #19868
Hi! I'm interested in working on this, but had some questions. In terms of "connecting" to the serve cluster, what call would that be? I see the `_connect()` in python/ray/serve/api.py, but don't see the ability to pass in any options. Or would it be the `ray_actor_options` field of `.deploy()`? Any info would be great, thanks!

[2021-11-03 21:52] pcmoritz commented on #19980
I made some progress in https://github.com/ray-project/ray/pull/20030 and added it to the README and fixed the links. Currently it is a bit too flaky to run it in the CI I think.

[2021-11-03 21:58] jiaodong commented on #19868
Hi @pmmitche ! Thanks for your interest on this issue. The options are passed from cli in https://sourcegraph.com/github.com/ray-project/ray/-/blob/python/ray/serve/scripts.py?L33-69 which are translated into serve/api.py calls such as `serve.start`

[2021-11-03 22:14] gjoliver commented on #19976
input_dict["obs_flat"] is already padded.
so shouldn't flat.shape[0] // seq_lens.shape[0] basically be seq_lens.max() assuming the padding is correct?
let me give your script a try.

[2021-11-03 22:34] triciasfu commented on #19253
https://docs.google.com/document/d/1oEaxdhXVZecPabzktRKI_nr5pgUdvQA91SNqwZmrsgc/edit

[2021-11-03 23:21] ericl commented on #19985
We should probably just have the autoscaler raise the error if the placement group is infeasible. Maybe we can prioritize for next Sprint? Cc @rkooo567 @scv119

[2021-11-03 23:31] franklsf95 commented on #8625
This is happening to me too.

[2021-11-04 00:22] xwjiang2010 commented on #19985
Yeah, maybe just something that let pg.ready() return instead of hang forever.

[2021-11-04 00:24] xwjiang2010 opened #20043 "[Core] have the autoscaler raise the error if the placement group is infeasible"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Context: https://github.com/ray-project/ray/issues/19985

### Versions / Dependencies

NA

### Reproduction script

NA

### Anything else

_No response_

### Are you willing to submit a PR?

-

[2021-11-04 00:25] xwjiang2010 commented on #20043
@scv119 @rkooo567

[2021-11-04 00:46] rkooo567 commented on #20043
I think this should already be supported. cc @ericl can you confirm it?

[2021-11-04 00:55] amogkam commented on #12562
@rkooo567 what's the link to the duplicate issue?

[2021-11-04 00:57] richardliaw commented on #18134
Bumping on this; anything we can do here, maybe by 1.9 or 1.10?

This seems to be a recurring issue for multiple engagements, and it seems to be lowhanging fruit (adding some more logs about current/peak memory usage)

[2021-11-04 01:03] ericl commented on #20043
It's definitely not supported (we have a P1 usability issue files on this...).

[2021-11-04 01:05] rkooo567 commented on #18134
Maybe you can try this in the short term; https://github.com/ray-project/ray/blob/b52cc6ecdcc6599886a6e8710b438b169791e8b2/python/ray/_private/test_utils.py#L737

Example; https://github.com/ray-project/ray/blob/b52cc6ecdcc6599886a6e8710b438b169791e8b2/release/nightly_tests/dask_on_ray/large_scale_test.py#L446

This will print top 10 process memory usage for print_interval

EX)
[code]

[2021-11-04 01:06] rkooo567 commented on #20043
Oh I see. We are only printing messages now right?

[2021-11-04 01:07] rkooo567 commented on #20043
I think we can close this issue as a duplicate; https://github.com/ray-project/ray/issues/18835

[2021-11-04 01:07] #20043 closed

[2021-11-04 01:08] rkooo567 commented on #12562
Here you go! https://github.com/ray-project/ray/issues/16403. There's a PR out, but we are deferring to merge them a bit until stability is good enough. Are you waiting for this feature now? cc @scv119

[2021-11-04 01:09] amogkam commented on #12562
It's not urgent, but would be useful to for elastic training if it's stable enough!

[2021-11-04 01:21] rkooo567 commented on #19985
@xwjiang2010 I think in the master, we always start the autoscaler. I agree we can prioritize https://github.com/ray-project/ray/issues/18835

[2021-11-04 01:49] rkooo567 opened #20046 "[Bug] Impala long running tests broken"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Impala  long running test recently failed, and it seems like it is the application error;
https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clu[…]ksT13S4pt6vC2V5udA

[2021-11-04 03:40] kr11 commented on #19891
Hi all, thanks for your work. I re-try my script and found the mem doesn't grow in Debain. But it still increase on MacOS 10.15.7. The output is as follows:

[code]

But it doesn't matter. Our practical code is to call the PyTorch model to forecast time series.  Sadly, we found the memory still grow unbound on `Debian` + `ray-serve -1.7.0` + `pytorch_forecasting`. I will provide a public version o

[2021-11-04 03:49] jovany-wang commented on #18703
So, that means it's an API change raising an exception right?

[2021-11-04 04:01] #19956 closed

[2021-11-04 04:03] amogkam commented on #20046
Hey @rkooo567 where are you seeing the failure?

I'm seeing the test passed earlier today: https://buildkite.com/ray-project/periodic-ci/builds/1499#98049a7a-a926-40ca-9a25-e22782ad91e8

[2021-11-04 04:11] DmitriGekhtman commented on #20012
According to discuss.ray.io discussion, resolved on Ray 1.8.0
Closing for now -- might be good to double check that things are ok.

[2021-11-04 04:15] rkooo567 opened #20051 "[Bug] Potential deadlock in task scheduling algorithm for placement group resources."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Right now, placement group scheduling can hang in this sort of scenario;

[code]

So, currently, {CPU:1} task request can occupy {CPU:1, GPU:1} bundle, which can cause issues when there is a su

[2021-11-04 04:43] sronen1 commented on #15668
I think I got a similar issue, on AWS, no k8s.

[2021-11-04 05:36] rkooo567 commented on #20046
Seemed to happen on 11/02. Maybe we fixed it in the master?

[2021-11-04 05:58] simon-mo opened #20054 "[Serve] Use concurrency group"
This new feature should make Serve a lot more stable and useful!

[2021-11-04 07:09] yiwei00000 commented on #20037
In ray 1.8.0, I encountered the same problem. Moreover, PIP install ray [default] cannot solve this problem

[2021-11-04 07:22] rkooo567 commented on #19309
@rhamnett what version of Ray are you using? I believe this issue should be solved in the master

[2021-11-04 07:22] rkooo567 commented on #19309
Also, for gcs & dashboard memory leak, it is deferred to next sprint due to other items.

[2021-11-04 07:25] rkooo567 commented on #19937
@clay4444 are you planning to looking into this?

I think you can probably reproduce it by making worker startup time very slow and remove the placement group while workers are starting up

[2021-11-04 10:28] czgdp1807 commented on #19800
Regarding the performance of test_worker_startup_count on Windows, I traced the code path and found that, [this line](https://github.com/ray-project/ray/blob/4cb23d1c95635974efbb68bc3edcdefbe6e5d83b/src/ray/raylet/main.cc#L293) consumes most of the time. The implementation of `run` method is from `boost::asio::io_context` as far as I can figure out. So, I think the time taken for this depends most

[2021-11-04 11:06] sven1977 commented on #19976
Hey @smorad , when I run your example as-is, I get a train_batch with batch dim=0 inside the PPO loss function. Something is definitely not right here, but I'm not sure it's a generic RLlib problem.

[2021-11-04 11:46] dennymarcels commented on #20037
As i commented [here](https://github.com/ray-project/ray/issues/19956), downgrading aiohttp solves it.

[2021-11-04 12:47] nocluebutalotofit commented on #19956
This should be reflected in ray/python/requirements.txt:
Instead of "aiohttp>=3.7" something like "aiohttp=3.7".

[2021-11-04 13:12] clay4444 opened #20058 "[Bug] [Placement Group] [Test] pg.ready() hang forever when GCS server restarting."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

`test_placement_group_3.py#test_create_placement_group_during_gcs_server_restart` flaky on master branch.
currently, it was skipped.

### Versions / Dependencies

None.

### Reproduction script

[2021-11-04 13:12] clay4444 commented on #20058
cc @rkooo567

[2021-11-04 13:35] Hsgngr commented on #19696
Have you find a solution for this problem ? @Athe-kunal

[2021-11-04 13:40] rkooo567 commented on #20058
Duplicate; https://github.com/ray-project/ray/issues/19671 Can you take it over? I will close the duplicated one

[2021-11-04 13:40] #19671 closed

[2021-11-04 13:43] smorad commented on #19976
@gjoliver
`seq_lens` is the non-padded length. So `seq_lens[0].shape` is not guaranteed to be equal to `seq_lens[1].shape.`, right? So `seq_len[0].shape` could conceivably be zero (first timestep in an episode) while `seq_lens[1]` could be 50 (about to finish episode). Then, I think `seq_lens.max() != seq_lens[0].shape`.

@sven1977
If you set `USE_CORRECT_SHAPE` to `True`, you should see a crash a

[2021-11-04 13:43] clay4444 commented on #20058
@rkooo567  oh, sorry,  I missed the one you created. sure, I will take it over.

[2021-11-04 13:49] rkooo567 commented on #20018
cc @ericl Is this addressable by _owner= private API? I assume this is the ownership transfer problem?

[2021-11-04 13:50] rkooo567 commented on #20017
cc @edoakes @simon-mo

[2021-11-04 14:33] xwjiang2010 commented on #19983
updated, still hanging.
[code]

[2021-11-04 14:46] rkooo567 commented on #19983
Oh, I think it is hanging because actor requires 1 CPU to start up (I also didn't know this. I think this is not that great because it is not straightforward, but this is how it works now...). This will raise a better error after this PR is merged; https://github.com/ray-project/ray/pull/19680

If you try with CPU:1, GPU:1 bundle for the bundle index 0, or if you set Trainer to have 0 cpu, it will

[2021-11-04 15:15] tom634 commented on #13401
Did anyone resolve it? My output:
`Failure # 1 (occurred at 2021-11-04_16-07-23)
Traceback (most recent call last):
  File "C:\Users\Tomek\AppData\Roaming\Python\Python38\site-packages\ray\tune\trial_runner.py", line 586, in _process_trial
    results = self.trial_executor.fetch_result(trial)
  File "C:\Users\Tomek\AppData\Roaming\Python\Python38\site-packages\ray\tune\ray_trial_executor.py", line

[2021-11-04 15:16] #19775 closed

[2021-11-04 15:49] simon-mo commented on #20017
Can you add `--include-dashboard=true`?

[2021-11-04 16:01] amogkam commented on #20046
Ah @rkooo567 I think you were looking at the tests that were kicked off manually by me to test out some changes. The actual nightly test is passing. Going to close this for now, but will make sure to check the test when it runs today.

[2021-11-04 16:01] #20046 closed

[2021-11-04 16:37] worldveil opened #20062 "Example of policy inference"
We need an example of policy inference for RLlib in the docs.

Could we include it in the intro example?

https://docs.ray.io/en/latest/rllib.html

I think it's important to show how users can actually use the thing they just trained when they are getting started to envision the end result.

[2021-11-04 16:56] simon-mo opened #20066 "[Serve] `serve.start` failure with existing regular ray actors."
From discuss forum https://discuss.ray.io/t/ray-serve-start-failure-when-actors-with-names-lacking-already-exist-in-namespace/4000:

I’m running ray 1.7.0
[code]
When I run the above script I get
[code]
This does not happen if I do not create the actor, and also does not happen if I name my actor
foo#bar. Is this behavior expected?

[2021-11-04 17:17] #19477 closed

[2021-11-04 17:27] clay4444 commented on #19937
Yeah, I will check this out

[2021-11-04 17:39] mmuru opened #20068 "[Bug] Can not start Ray with Apache Arrow flight on mac"
Using Ray 1.8.0 and PyArrow 6.0.0 (or 5.0.0) - Ray throws below error message on Mac.
[code]
However, it works on Linux environment. Please, see [https://discuss.ray.io/t/can-not-start-ray-with-arrow-flight-segmentation-fault-11/3898](url) for more information.

I think, it is a bug on Mac platform. Please, let me know how to resolve it. Thanks.

[2021-11-04 18:04] jfischer commented on #20017
Hi, I ran into the same issue. I'm starting ray with the following command line:
[code]

I added a print to my local copy of Ray to get the exact cause of the import error. This is the error: `No module named 'aiohttp.signals'`

In my environment, I'm using version 3.8.0 of aiohttp. It does not have a `signals` submodule. Looking at the commit history for aiohttp, I suspect the following change is

[2021-11-04 18:23] ebr commented on #19940
We are also affected by this; confirmed that `pip install 'aiohttp<3.8'` *on all nodes* fixes the issue.

[2021-11-04 18:35] simon-mo commented on #20017
yes. please downgrade aiohttp to <3.8 for now. https://github.com/ray-project/ray/issues/19940#issuecomment-961304640 We currently pinned the version in development branch and will make Ray compatible with 3.8.0 soon https://github.com/ray-project/ray/issues/19951

[2021-11-04 18:35] #20017 closed

[2021-11-04 18:59] #19613 closed

[2021-11-04 19:02] ceteri opened #20073 "[Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When our team runs Ray applications from command line, notebooks, etc., the code is running fine.
When we build and run containers, we get the following errors **when we do not disable the Ray

[2021-11-04 19:46] jjyao commented on #18730
@worldveil it should have been fixed. Could you verify and close the issue?

[2021-11-04 20:11] ericl opened #20077 "[tsan] Several global config variables accessed unsafely"
When running a basic `ray.get(f.remote())` script, TSAN reports the following unsafe accesses to global static variables:

(suppression list format):
[code]

[2021-11-04 20:12] ericl opened #20078 "[tsan] Race accessing global stats objects"
When running a basic ray.get(f.remote()) script, TSAN reports the following unsafe accesses to global stats declarations:

(suppression list format):
[code]

[2021-11-04 20:13] ericl opened #20079 "[tsan] Race in census SetGlobalTags"
When running a basic `ray.get(f.remote())` script, TSAN reports unsafe accesses related to SetGlobalTags:

(suppression list format):
[code]

[2021-11-04 20:14] ericl opened #20080 "[tsan] Add TSAN CI build that runs basic Python tests"
Currently, or TSAN build only covers C++ unit tests. Figure out how to enable/run TSAN with simple python tests.

The following PR was a first attempt: https://github.com/ray-project/ray/pull/20015

[2021-11-04 20:16] architkulkarni opened #20081 "[runtime env] Add flag for skipping local GC"
It's useful to have such a flag available for debugging (for example, to check whether the working dir was uploaded correctly).  Without this flag, the files are always cleaned up after the job exits.

[2021-11-04 20:17] ericl opened #20082 "Dataset with nested refs cannot be checkpointed in workflows"
If you comment out the `.map()` part of the test, this fails: https://github.com/ray-project/ray/blob/master/python/ray/workflow/tests/test_dataset.py#L13

It seems to be a bug checkpointing doubly nested refs, which occurs in Datasets on initial read (cc @wuisawesome @iycheng ).

[2021-11-04 20:19] architkulkarni opened #20083 "[runtime env] Remove filelock dependency"
Previously we used filelock because each worker installed its own runtime environment at the same time and we needed some way to coordinate this.  Now that all runtime env setup goes through the RuntimeEnvAgent, we don't need to worry about concurrent installs of environments, so there should be no reason to use filelock.  This will also fix the issue of .lock files not being cleaned up during loc

[2021-11-04 20:31] 28140 opened #20084 "[Bug] `import ray` fails on fresh install of macOS Monterey"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Hi there!

On a fresh install of macOS Monterey, I'm running the following commands:

python3 -m venv DRL
source DRL/bin/activate
/Users/user/DRL/bin/python3 -m pip install --upgrade pip
pip in

[2021-11-04 20:34] xwjiang2010 commented on #19952
Tried a small example to showcase the following scenario:
1. start a cluster with empty head and one worker node
2. start a trial successfully on the worker node
3. while the trial is running on worker node, the cluster lost the worker node
4. as a result, `ray.exceptions.RayActorError` is thrown
5. try to put another trial onto the pg without checking for pg.ready() (which is the current implemen

[2021-11-04 21:18] scv119 opened #20086 "[Bug] ML workflow has security warning popup when running on mac"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

N/A. Chen to reproduce.

### Versions / Dependencies

N/A

### Reproduction script

N/A

### Anything else

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit

[2021-11-04 21:29] amogkam commented on #20084
Hey @28140, just to confirm this is also happening when you do just a standard `pip install ray` (and not `pip install ray[rllib]`), is that right?

Maybe try out some of the responses here https://stackoverflow.com/questions/60684146/airflow-initdb-undefined-symbol-py-getargcargv and see if any of those work for you. It might be related to something with your Python installation.

[2021-11-04 21:34] jmakov commented on #19636
Still the case in ray 1.8.0 even with `os.environ["AUTOSCALER_EVENTS"] = "0"`:
[code]

[2021-11-04 21:37] iycheng opened #20087 "[core] nightly test failure investigation"
Test failures in recent run
[code]

[2021-11-04 21:38] 28140 commented on #20084
Yes, @amogkam, it is also happening when I do a standard \'pip install ray\' (and not \`pip install \'ray[rllib]\'\`).

Thanks, I'll do that.

[2021-11-04 21:39] iycheng commented on #20087
In https://github.com/ray-project/ray/pull/20076

many_drivers, node_failures, dask_on_ray_large_scale_test_no_spilling, dask_on_ray_large_scale_test_spilling should have been fixed

[2021-11-04 21:43] iycheng commented on #20087
pbt log looks wired:
[code]

[2021-11-04 21:45] iycheng commented on #20087
Apex log
[code]

[2021-11-04 21:47] mwtian commented on #19283
@czgdp1807 Is this still an issue? I think more recent compilers will be a bit more lenient here because there is no way to ignore a variable for structured binding here. I can definitely make a fix too.

[2021-11-04 21:50] rkooo567 commented on #20087
For Atari, it seems like there's an application change?
[code]

Maybe we should just ask ML team to look for it? (since all core tests seem to pass now with your change)

[2021-11-04 22:00] rkooo567 commented on #19952
Currently, the guarantee is same as regular actor/task based workload. We rely on the autoscaler that it will start up a proper node and the dead bundles are recovered properly. This is the best-efforts-based, and the guarantee is not so strong right now (it can hang if bundles are not re-created properly because of resource race with other actors / tasks).

[2021-11-04 22:13] simon-mo commented on #19920
Looks like you deleted the branch. Make sure to merge master and re-open if this happens again!

[2021-11-04 22:22] iycheng commented on #20087
@richardliaw could you help find the right person to take a look at this?

[2021-11-04 23:40] xwjiang2010 commented on #19985
Thanks @rkooo567 It would be great to know your timeline.  We have some Tune tech debt reduction work that's dependent on this ticket.
btw, to get the terminology correct, the request is less about knowing whether autoscaler is "used" than knowing if a pg request is feasible or not.

[2021-11-04 23:51] xwjiang2010 commented on #19952
Patching https://github.com/ray-project/ray/pull/19515/files makes the test pass.
@Yard1 this is sort of a different change. I think the reason of why that test is failing is understood, we just need to merge the changes one by one. I don't want to squash everything into one PR, if it's ok with you guys.

[2021-11-04 23:59] rkooo567 commented on #19985
We are planning to work on it next sprint. I think the task is quite complicated, so it might take some time.

That says, is there any short-term workaround for you? I wonder if you can add timeout to .ready or use .wait API instead

[2021-11-05 00:35] richardliaw commented on #20087
@gjoliver take a look?

[2021-11-05 02:10] czgdp1807 commented on #19283
It’s been quite sometime since I ran a build on Linux. AFAIK, if the above line is fixed then it should be working. I can tell you by Tuesday whether this needs a fix.

[2021-11-05 02:15] mwtian commented on #19283
Sounds good. Ray's Linux CI has been passing. When you try it again and if it fails, please let me know the system and compiler versions, thanks!

[2021-11-05 02:53] DarcyOly opened #20092 "[Bug] "PENDING_CREATION" status issue, and related resubmission problem. [non-head node]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Bugs and actor's creating problem:
1. Actor's status is frozen at "PENDING_CREATION", when register an actor from non-head nodes.
[code]

   Dashboard shows this registered actor is remaining "

[2021-11-05 03:22] #19611 closed

[2021-11-05 03:26] gjoliver commented on #20087
seems like problems with environment setup. missing tensorflow and atari ROMs.
let me ping some folks and figure out what environments they use.

[2021-11-05 03:32] iycheng commented on #20087
@gjoliver  in case you need more info, here is the session

https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_PkQvVV22pVuxWbnn9P1qEgBP?command-history-section=command_history

https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_hL48MS4GhQ3v7394DwCqy8fE?command-history-section=command_history

[2021-11-05 03:58] qicosmos commented on #20077
So does TSAN give suggestions: how to improve?
Use a function replace current global variable?

[2021-11-05 04:13] #19958 closed

[2021-11-05 04:32] DarcyOly commented on #20092
src\ray\gcs\gcs_server\gcs_actor_manager.cc :
...
Status GcsActorManager::RegisterActor(const ray::rpc::RegisterActorRequest &request,
                                      RegisterActorCallback success_callback) {
    ...
    auto actor = std::make_shared<GcsActor>(request.task_spec(), ray_namespace);
    if (!actor->GetName().empty()) {
        ...
    } else {
        std::stringstream stream;

[2021-11-05 04:46] rkooo567 commented on #19959
Actually, it is kind of possible to use empty bundle if the purpose is to schedule 0 resource tasks/actors to the same bundle. So, we can theoretically remove this input validation

[2021-11-05 06:28] gjoliver commented on #20087
@iycheng sent you a PR

[2021-11-05 06:28] ericl commented on #20077
You can see some of the tsan logs here, which point out the racing threads: https://gist.github.com/ericl/f062fc614731b2b2ccb15189db73aeb0

I assume making these variables atomic or guarding access via mutex would solve the issue.

[2021-11-05 06:43] kfstorm opened #20101 "[Bug] ray.wait against a single object is not allowed"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Invoking `ray.wait` against a single object ref raises an error. Expected to behave the same as waiting for a list with a single object.

[code]

### Versions / Dependencies

1.8.0

### Reprodu

[2021-11-05 06:46] rkooo567 commented on #20101
you can just do this? (per error message)
[code]

[2021-11-05 07:56] MXD6 commented on #19938
This issue has been solved for Python 3.8.2rc1, Python 3.9.0 alpha 4 or late versions.

[2021-11-05 09:55] Catch-Bull opened #20103 "[Bug] [ray client] ray.util.client.ray.get will change the type of exception"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Serve

### What happened + What you expected to happen

I use MLDataset with Ray Client, I got an exception as follower when I try to get whole shard data:
[code]
I expected no error will be reported (Mldataset get StopIteration), but I get Runtime

[2021-11-05 10:24] SebastianBo1995 commented on #8526
Fully working code example, for HER with random points and hit points. What is missing in comparison to the Paper is setting the goal to goals hit in the same sample batch. This can be done simiar to the random goal. Just read out the goals iteratively from the sample batch
[code]

[2021-11-05 11:17] btseytlin commented on #19938
My issue is that I need it to work on python 3.7 :(

[2021-11-05 11:17] btseytlin commented on #19938
I will try it as soon as I can

[2021-11-05 12:23] chenk008 commented on #17209
We also need some tool like `ray healthcheck` to use as a k8s liveness check. But a little different is that we want to check the `raylet` is alive.

[2021-11-05 12:25] fyrestone commented on #20103
from https://docs.python.org/3/whatsnew/3.7.html#changes-in-python-behavior

[2021-11-05 12:43] Nesqulck commented on #19480
I still get this error on 1.8.0. Any ideas? I also have to manually downgrade aiohttp from 3.8.0 to 3.7.4post0 for the dashboard agent and logs to appear inside ray log folder. Otherwise the dashboard does not even start.

win10
py3.9
ray[default]==1.8.0
aiohttp==3.7.4post0

running inside virtualenv but also fails outside an env

[2021-11-05 12:46] jeromeshan opened #20106 "Cant open dashboard"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

I was trying to use dashboard

Got message
ImportError: Not all Ray Dashboard dependencies were found. To use the dashboard please install Ray using `pip install ray[default]`.

But doing it h

[2021-11-05 13:11] klwuibm opened #20107 "[Feature] [Serve] Support Sticky Sessions for Stateful Workflows Deployed via Ray Serve"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

As a data scientist, I would like to use Ray Serve to deploy stateful Ray workflows to take advantage of auto-scaling of Ray Serve deployment.  When a stateful workflow is deployed, the workflow's state may change as incoming requests

[2021-11-05 13:21] crclark opened #20108 "[Bug] Dask on Ray set_index causes rows to disappear"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

After loading a Dask dataframe from a directory of Parquet on GCS, calling `.set_index('some_string_column')` on the dataframe will cause a large random number of rows to disappear from the dataf

[2021-11-05 13:50] rkooo567 commented on #20108
Is it possible for you to quickly verify if lower version of dask has the same issue? Like 2021.9 or 2021.8

[2021-11-05 13:51] rkooo567 commented on #20108
Cc @scv119 i think this should be P0? (Very bad correctness issue)

[2021-11-05 14:08] mvindiola1 commented on #19976
Hi @sven1977, @gjoliver  and @smorad,

I was able to reproduce both Sven's and Steven's errors in master.

The error, or at least part of it seems to arise as follows:

simple_list_collector, is creating SampleBatches with the max_seq_len set to the configuration value:
https://github.com/ray-project/ray/blob/9dba5e0eadd3a065023d6cc7cafff631355c980a/rllib/evaluation/collectors/simple_list_collecto

[2021-11-05 14:18] #20087 closed

[2021-11-05 14:22] mvindiola1 commented on #19976
P.S @smorad  If you are using 1 or fewer gpus then adding ""simple_optimizer": True" to the config seems to avoid this issue.

[2021-11-05 15:02] rkooo567 commented on #19896
So I verified it worked at Ray 1.7. It is a regression from ray 1.8. I will start investigating it.

[2021-11-05 15:02] rkooo567 commented on #19896
@iycheng was your async actor submission added before 1.7 right?

[2021-11-05 15:05] gjoliver commented on #19976
thanks @mvindiola1, I can reproduce these pretty reliably too.
I guess the start or stop indices shouldn't be conditioned on max_seq_len right? I need to read SampleBatch a bit more, but we should clean this up.

[2021-11-05 15:15] #19713 closed

[2021-11-05 15:16] wuisawesome commented on #20082
Yup, makes sense. We left nested refs as a TODO since they're a bit more complicated to support (especially while maintaining de-dupe behavior since the inner references will change upon recovery).

I think there are 2 options:

1. Just implement support for nested object references
2. Special case the reducer for lazy blocks in datasets, so we can serialize without serializing the underlying obje

[2021-11-05 15:18] mattmcclean commented on #20106
Facing the same problem with the cluster launcher on AWS on Linux machine. The head node is setup with the command: `pip install -U "ray[default]"`.

Do not see the message `View the Ray dashboard at...` anywhere when the cluster starts up and no port listening on 8265 when I run the command `lsof -i TCP| fgrep LISTEN`

[2021-11-05 15:34] mvindiola1 commented on #19976
@gjoliver

I changed this:

https://github.com/ray-project/ray/blob/9dba5e0eadd3a065023d6cc7cafff631355c980a/rllib/policy/rnn_sequencing.py#L116-L135

To the snippet below and I think it fixes the misalignment issue. I did not see it anymore in my quick test.

[code]

As for smorad's original issue where the max of seq_lens does not match the padded seq len, you will still see that is the case. Th

[2021-11-05 15:43] XuehaiPan opened #20110 "[Feature] [RLlib] Add config to initialize RLlib workers sequentially (but train in parallel)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I'm using RLlib to train with an environment that needs a unique system resource, such as a unique port for each individual environment (worker). In function `make_env`, I check for the free port and then instantiate an environment ob

[2021-11-05 15:46] sven1977 commented on #20003
This has been fixed in master. The problem was the additional `examples/serving` sub-directory. However, the script sits directly in `examples/`.
Closing this issue.

[2021-11-05 15:46] #20003 closed

[2021-11-05 15:54] mvindiola1 commented on #20110
@XuehaiPan  you could use a shared ray actor for this task. Construct an actor that will confirm or reject a port allocation request to prevent collisions. Ray actor remote calls are processed sequentially by default so you will not run into the issue you are having now.

[2021-11-05 16:08] XuehaiPan commented on #20110
@mvindiola1 Thanks for the quick reply!

I have just read the document for Actors. I think I can use this for port allocation.

In my use case, there are many other resources (not only port numbers) that can only access by one worker at a time, such as the configuration file for the environment engine. I think I will need a process lock or something similar. Can a shared actor return a shared proc

[2021-11-05 16:25] #19336 closed

[2021-11-05 17:11] ericl commented on #20082
We shouldn't special case anything for specific libraries.

On Fri, Nov 5, 2021, 8:16 AM Alex Wu ***@***.***> wrote:

[2021-11-05 17:14] edoakes commented on #20107
Hey @klwuibm this use case looks really exciting and thanks for the detailed feature request!

This is something we've thought about in the past, but didn't have any users with strong requirements for it yet. I think getting a basic version of this off the ground would be straightforward, but a "complete" solution would be a decent chunk of work. Specifically, handling scaling up/scaling down the

[2021-11-05 17:35] duburcqa commented on #13760
It does not always sort them, only if it is not `OrderedDict`. And, why would someone care about the order if someone is not using `OrderedDict` for constructing the the `gym.Dict` space in the first place ? The good solution for me is not to sort, so that people willing to do it can to it on there own, instead of doing it systematically.

[2021-11-05 17:40] mmuru commented on #20106
I had to downgrade aiohttp<3.8 to get dashboard working again in Ray 1.8.0. The details can be found in #19940

[2021-11-05 17:44] leeykang opened #20112 "Policy Mapping Function based on Environment Observation"
Is it possible to create an agent which uses different policies depending on an observation? For example, in a hypothetical Windy Gridworld environment where the wind can change direction spontaneously, an agent might choose a different policy depending on whether the wind is blowing North, South, East or West.
This is similar to Hierarchical Training, but the policy being used by the agent at eve

[2021-11-05 17:45] ericl commented on #20107
@klwuibm how about using the virtual actor feature of workflows for this? That's the intended solution for this class of use cases. Workflows guarantees transactional state updates on virtual workflow actors, so any Serve replica can talk to the virtual actor. Also, virtual actors can launch long-running sub-workflows so you aren't limited to actor API: https://docs.ray.io/en/master/workflows/acto

[2021-11-05 17:48] duburcqa commented on #14491
Any news about this issue ?

[2021-11-05 18:50] #20106 closed

[2021-11-05 19:25] klwuibm commented on #20107
@edoakes It is not urgent urgent.  I would say that it is probably medium for now.  @yuanchi2807 and I are creating some example use cases to experiment and better understand the interplay of Serve and Workflow virtual actors, and the performance implications.

Yes, we could look into this feature and work with you guys.

@ericl Thanks for the pointers.  I will play with it.

[2021-11-05 19:38] ericl commented on #20112
Sure, I think there are a couple ways. You could implement a custom Policy object. Another alternative is leveraging multi-agent: https://docs.ray.io/en/latest/rllib-env.html#hierarchical-environments

[2021-11-05 19:43] ericl commented on #20092
@rkooo567 this seems like another manifestation of this P0 bug (incorrect concurrency handling for named actor creation): https://github.com/ray-project/ray/issues/19896

[2021-11-05 20:04] lchu-ibm opened #20114 "[Bug][Workflow] S3 storage path issue"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

When using S3 as backend for workflow storage, I noticed two path issues:

1. [parse.urlparse](https://github.com/ray-project/ray/blob/master/python/ray/workflow/storage/__init__.py#L32) will app

[2021-11-05 20:08] iycheng commented on #20114
It looks good. cc @wuisawesome

[2021-11-05 20:11] wuisawesome commented on #20114
Yeah, it looks like there's `urllib.parse.urljoin(url1, url2)` is probably technically the correct helper function (which I just learned about...), but lgtm

[2021-11-05 21:29] pcmoritz commented on #19800
The fact that most time is spent in `main_service.run();` is expected since the call is blocking and will basically wait until the raylet shuts down (which is the duration of the Ray worker being up). So the real performance difference between windows and linux must come from somewhere else.

[2021-11-06 01:07] worldveil opened #20122 "Update RLlib in 60 seconds example"
A few things we want to do here:

- Show example that is more customizable, and shows something resembling user code
- Point to Tune [checkpointing docs](https://github.com/ray-project/ray/pull/20045)
- Point to [policy inference example](https://github.com/ray-project/ray/issues/20062)

On the first point, this can be any existing example in codebase/github, no need to design a new one unless we

[2021-11-06 01:12] worldveil commented on #20062
I'll also be adding a page or section in the docs (this page perhaps: https://docs.ray.io/en/latest/rllib-models.html ?), but once I have the example I can do the writing portion

[2021-11-06 04:36] #19438 closed

[2021-11-06 05:50] leeykang commented on #20112
Awesome, got it, thanks!

[2021-11-06 05:50] #20112 closed

[2021-11-06 13:23] Ivanyan0516 commented on #19938
have you solved this problem?

[2021-11-06 13:52] smorad commented on #19976
@mvindiola1 with respect to `simple_optimizer`: If I use the following config, I get intermittent crashes at around 50 iters:

[code]
This is even if I set `max_seq_len` to the horizon length. Is this the second error condition?

[code]

[2021-11-06 14:23] rkooo567 opened #20129 "[Bug] get_actor right after ray.kill returns the dead actor."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Currently, calling `get_actor` right after `ray.kill` can return the stale dead actor. Since ray.kill is blocking, and it is passing through GCS, it should theoretically never happen, so there

[2021-11-06 17:37] #19618 closed

[2021-11-07 02:38] souravraha commented on #17487
I have already suggested a solution to this. Using resume_from_checkpoint ensures that the full training state is restored. Hence, it is preferable to passing load_from_checkpoint in the LightningModule. You may find https://github.com/ray-project/ray/pull/17437/files instructive in this regard.

[2021-11-07 03:42] souravraha opened #20131 "Pytorch Lightning example code throws up error."
Simply running the mnist classifier [code](https://github.com/ray-project/ray/blob/76f8a9f125480f32c65008716d4a675d8a3291a0/python/ray/tune/examples/mnist_pytorch_lightning.py) using pytorch lightning throws up the signal error. I have seen a hack mentioned in another [issue](https://github.com/ray-project/ray/issues/18920#issue-1008182376), however am unable to apply the hack correctly to the sta

[2021-11-07 04:43] kiralaz opened #20132 "[Bug] Ray 1.7 and 1.8 ray.init hangs on some versions of Python gRPC dependency due to global symbol export"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

This is not a contribution.

After upgrading to Ray 1.7, we noticed that when we import pybinded C++ code that uses a different version of grpc than comes with ray, we consistently get segfault

[2021-11-07 05:19] rkooo567 commented on #20132
Cc @scv119 I think we should handle this (and probably fine streaming tests not passing)

[2021-11-07 13:11] clay4444 commented on #16053
hmm, It seems it has been fixed at some point, I can't reproduce this in the master branch.

[2021-11-07 13:44] mvindiola1 commented on #19976
@smorad

That is unfortunate. I only ran for 10 iterations in my test.

Did you try adding this snippet  mentioned above with the standard optimizer?

[code]

[2021-11-07 14:00] rkooo567 commented on #16053
That’s great!

[2021-11-07 14:00] #16053 closed

[2021-11-07 14:23] smorad commented on #19976
@mvindiola1 adding that line doesn't seem to stop it from crashing. This time it crashed at iter 88.

[2021-11-07 15:25] gjoliver commented on #19976
ok, seems there are 2 bug here.

1. chop_into_sequences doesn't work when dynamic_max is True. I think I need to repro with a unit test, and just fix the behavior.
2. the assert in _get_slice_indices(), which you guys hit. I feel like it should be <= in stead of <? The reason Steven only hits that crash towards later iteration is that the policy only gets good enough to run to the full max_seq_len

[2021-11-07 17:32] DmitriGekhtman commented on #17209
@wuisawesome what's a good liveness check for a raylet?

[2021-11-07 19:29] sjulias commented on #19939
You absolutely right,
I've run pip install aiohttp==3.7 , and now it is working
Thank you very much!!!

[2021-11-07 20:52] mvindiola1 commented on #19976
@gjoliver,

I dont think the <= is going to fix that error. I just eyeballed the code so I could be wrong but if you look at where it is called:

https://github.com/ray-project/ray/blob/ac3371a148385027cf034e152d50f528acb853de/rllib/utils/sgd.py#L53

It is checking that the seq lengths are shorter than the sgd_minibatch_size (128) but in thos example the horizon and max_seq_len is 200. When the po

[2021-11-07 21:17] gjoliver commented on #19976
hmm, yeah, but this doesn't make any sense.
why should sgd_minibatch_size has anything to do with how long the seqs are from the environment??

[2021-11-07 22:07] DBraun commented on #17487
In my case I wanted to resume a checkpoint and do `trainer.predict()` without first calling `trainer.fit()`. That required me to first do `trainer.checkpoint_connector.resume_start()`

[2021-11-08 01:15] DarcyOly commented on #20092
it's correct, the same. Thanks for help.
this one will be closed.

[2021-11-08 01:15] #20092 closed

[2021-11-08 02:57] DarcyOly commented on #20106
it's helpful, all fixed.

[2021-11-08 03:52] wuisawesome commented on #17209
I think doing a `ray health-check --node-address=... --node-port=...` would make sense for the API.

We should probably implement a health check grpc endpoint on the raylet that we can hit.

(I think the absolute simplest implementation would be to just `GetAllNodeInfo` from GCS, but I don't think we should be doing this in the spirit of a health check).

[2021-11-08 04:21] ashione commented on #20132
@rkooo567 This https://github.com/ray-project/ray/pull/20136 might fix symbol-wise issuse. I put duplicated symbols into _streaming.so.

[2021-11-08 04:25] rkooo567 commented on #20132
Oh nice. Let’s merge it and see if it fixes the issue

[2021-11-08 04:45] #20114 closed

[2021-11-08 04:45] #19027 closed

[2021-11-08 06:55] chenk008 commented on #17209
@wuisawesome We want to use the `health-check` as the K8s Pod liveness prober, when ray-operator trying to  create the Pod, the node-port is unknown.

[2021-11-08 08:44] rkooo567 commented on #16053
Actually @clay4444 can you actally create a PR that adds this repro to unit tests?

[2021-11-08 09:47] outdoteth commented on #19173
This is a major pain! It slows down downloading from the cluster with `rysnc_down` massively when I have 250 million timesteps and thousands of checkpoints when I only want `keep_checkpoints_num = 10`.

[2021-11-08 12:19] aswanthkrishna commented on #8018
were you able to get this to work? @bitosky

[2021-11-08 12:20] btseytlin commented on #19938
This resolved the issue. Would be great if it was made a requirement when ray is installed for python versions < 3.8

[2021-11-08 12:22] btseytlin commented on #19938
It did not resolve the issue:
[code]

[2021-11-08 12:34] clay4444 commented on #16053
Yeah, sure.

[2021-11-08 15:36] wuisawesome commented on #17209
I think that would make sense. `ray start --node-manager-port=....` should work right?

[2021-11-08 16:58] mvindiola1 commented on #19976
@gjoliver I think the max_seq_len th is to truncate BPTT but if that seq len is larger than the Mini-batch size you could not actually backprop through the seq length the user requested.

My thought on the solution here is to put a check in validate config that if the policy is recurrent then make sure the mini-batch size is >= to the max_seq_len.

[2021-11-08 17:06] mvindiola1 commented on #20110
@XuehaiPan

You can definitely call an actor from multiple different processes. I think that quote is just saying that the actor will always execute in one fixed process regardless of where it is called from.

[2021-11-08 17:12] scv119 opened #20146 "[Core][Object Store][Feature] Fair object store sharing across jobs running in the same node/cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

In Ray, there can be multiple worker processes in each computing node (e.g. one physical machine) sharing the same Raylet and Object Store. At the moment, there seems to be no restriction of each worker process actually consuming the

[2021-11-08 17:34] superhaiou commented on #20146
Things we could do are as follows:

1) "That’s definitely doable in Ray. This could be implemented as a thin layer over plasma store to do quota/admission control. The main challenge is that a Ray object could be shared between different workers so it’s a bit tricky to decide the owner of the objects."

2) "we had a legacy feature that could be used to set quotas per actor. However, we removed thi

[2021-11-08 17:36] superhaiou commented on #20146
We'd need to figure out a reasonable fairness criteria

[2021-11-08 17:43] clarkzinzow commented on #20108
@rkooo567 Definitely a P0, don't worry I'm already working on it!

[2021-11-08 17:46] scv119 commented on #20146
also cc @rkooo567 @ericl @stephanie-wang @clarkzinzow

[2021-11-08 17:52] superhaiou commented on #20146
The feature will be useful when memory is under pressure, e.g. we are leveraging Ray to replace Map/Reduce tasks, and memory is being used significantly;
Both CPU and memory will be used 100% all the times, so other tasks will be queued for scheduling;
Memory restriction per task/actor is essential for our scenario

[2021-11-08 17:54] superhaiou commented on #20146
More specifically, our use case is offline index building for web pages.

[2021-11-08 18:01] stephanie-wang commented on #20146
Hmm just to clarify, is the problem only about multitenant nodes/clusters, or is it also for worker processes in the same job? It's not clear to me that performance is a problem if the worker processes are all in the same job, as long as the total memory and spill bandwidth are maximized.

[2021-11-08 18:10] superhaiou commented on #20146
As the users would estimate the Object Store pushes for each task, so one approach would be to allow the users to set the quota/weight for each type of task such that the Object Store occupation would be much fair.

[2021-11-08 20:49] simon-mo opened #20154 "[Serve] `ray stop` doesn't kill ServeController process"
[code]

observe that the ServeContorller process is leaked via `pgrep ray::` or `htop`.

I have verified the bug on both master and 1.8.0

[2021-11-08 20:52] yuanchi2807 commented on #20107
Conceptually - is a replica mapped to a deployed instance, ie. one to one or a replica manages multiple deployed instances ie. one to many?

[2021-11-08 21:27] iycheng commented on #19896
@rkooo567  async actor submission is included in 1.8. In 1.7 it got reverted.

[2021-11-08 21:50] edoakes commented on #20154
Confirmed locally
[code]

[2021-11-08 22:34] iycheng commented on #20132
@ashione assign this issue to you since you are working on this.

[2021-11-08 23:03] simon-mo commented on #20154
@edoakes thanks. @architkulkarni also confirmed.
There are two separate issues (one ray core, one ray serve) behind this. I will close this after i opened new ones.

[2021-11-08 23:23] rkooo567 commented on #19896
@iycheng turned out the issue wasn’t from that PR! So no need to worry about it!

[2021-11-08 23:24] simon-mo opened #20158 "[Core] process leak hanging with `ray.nodes()` on OSX"
Repro:
1. `ray start --head`.
2. Run the following script in a terminal.
[code]
3. Run `ray stop --force` in another terminal.
4. Run `ps aux | grep ray::` to identify leaked process. You should see the ray::f() process is now leaked, even though ray stop responded
[code]
5. Running py-spy on the leaked process shows
[code]

[2021-11-08 23:25] simon-mo commented on #20158
@scv119 please help triage!

[2021-11-08 23:29] simon-mo commented on #20154
The controller is hanging issue can be isolated to #20158.

The following configuration doesn't leak process
[code]

[2021-11-08 23:34] simon-mo opened #20159 "[Core] async actor process shutdown leak on OSX"
[code]

[code]

shows that after ray stop, the actor process was not killed, and it uses 100% cpu

[2021-11-08 23:34] simon-mo commented on #20154
Here is the ticket to the separate replica process leak, closing this one. https://github.com/ray-project/ray/issues/20159

[2021-11-08 23:34] #20154 closed

[2021-11-08 23:40] simon-mo commented on #20159
active thread flamegraph
![image](https://user-images.githubusercontent.com/21118851/140835488-6aecaa62-11a1-4c9a-86c0-2c962f8ee035.png)

[2021-11-09 00:04] jordiae opened #20161 "Deadlock with ray.util.multiprocessing.Pool"
I have an application using Ray's ray.util.multiprocessing.Pool that eventually deadlocks during the application of a distributed map. Each worker in the map writes to disk in their own file, but some of them get stuck. Eventually, all of them seem to be stuck. If I stop the application with a keyboard interruption, the code is stuck at:

[code]

After Googling for a while, the only potentially re

[2021-11-09 00:10] franklsf95 opened #20162 "[Bug] prom_metrics_service_discovery.json only contains head node"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core, Ray Clusters

### What happened + What you expected to happen

Launch any Ray cluster; the `prom_metrics_service_discovery.json` file only contains the head node IP, rather than the IPs of all nodes. This makes me unable to monitor the cluste

[2021-11-09 00:11] RuofanKong commented on #17308
Any updates on it?

[2021-11-09 00:31] rhamnett commented on #20027
hi @simon-mo this does not seem to be live on the website. https://docs.ray.io/en/latest/installation.html

Best wishes

[2021-11-09 00:32] simon-mo commented on #20027
Try https://docs.ray.io/en/master/installation.html

The latest points to latest pip release which we do roughly once a month.

[2021-11-09 00:34] rhamnett commented on #20027
ah cool :)

[2021-11-09 01:09] rkooo567 commented on #20162
hmm interesting. This is basically written by the dashboard agent (agent.log) using ray.nodes. Is it like this for a long time? (although you wait, it doesn't update it?)

[2021-11-09 01:10] rkooo567 commented on #20162
cc @edoakes @simon-mo this seems to be the regression.

[2021-11-09 02:18] worldveil opened #20166 "mismatch of Ray versions causes redis error on starting Ray"
Same as this issue: https://github.com/ray-project/ray/issues/18443

Repro:

[code]

This consistently works, even on a clean conda environment on my machine. Not an M1.

Environment

[code]

Have also tried with `ray==1.8.0`, I see same issue.

More details:

[code]

And logs:

[code]

[2021-11-09 02:32] rkooo567 commented on #18454
@wuisawesome do we automatically increase the ulimit in the first run?

[2021-11-09 03:00] franklsf95 commented on #20162
@rkooo567 Correct, it does not update even after a long time.

[2021-11-09 03:44] cin-duke opened #20169 "[Feature] Threading for Ray Serve"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, Ray Serve only supports asyncio which will block the event loop when there are some computation heavy tasks. Which is not ideal for handling concurrent requests.
It'd be great if we can support threading for Ray Serve deplo

[2021-11-09 03:45] cin-duke commented on #20169
Hi @simon-mo, could you take a look at this feature. Thank you 😃

[2021-11-09 03:51] simon-mo commented on #20159
Ok i was able to reproduce this with simple async actor.
[code]

[code]

[2021-11-09 03:58] rkooo567 commented on #20162
Are you planning to submit the fix? (I saw you marked the checkbox)

[2021-11-09 03:59] franklsf95 commented on #20162
@rkooo567 I could help out, but right now I don't know what the problem is :)

[2021-11-09 04:04] rkooo567 commented on #20162
[code]

This is how we dump contents. Maybe you can try if `ray.nodes()`returns the correct output first, and then you can check dashboard_agent.log and see if there's any exception.

[2021-11-09 04:41] worldveil opened #20171 "running RLlib assumes cuda and crashes"
I've noticed this before, but we should give users a better error

[code]

this is fixed with:

[code]

[2021-11-09 04:41] rkooo567 commented on #20166
TODO; Raise an exception when Ray version mismatches when ray.init() is called

[2021-11-09 04:42] rkooo567 commented on #20166
@worldveil can you comment how you fixed the issue?

[2021-11-09 04:45] worldveil commented on #20166
There was a mismatch between Ray versions of a) code, and b) local cluster.

Solved with using the correct version via the conda path for binaries:

[code]

[2021-11-09 04:56] worldveil commented on #18730
I still see this on `ray start --head`

<img width="1073" alt="Screen Shot 2021-11-08 at 8 55 13 PM" src="https://user-images.githubusercontent.com/1045250/140864918-5f4d3da0-5cde-466c-a266-8eae9bb95b0a.png">

[2021-11-09 05:53] #11126 closed

[2021-11-09 05:59] czgdp1807 commented on #19283
On latest `master` I get the following,

[code]

Compilers

1. `g++`
[code]
2. `gcc`
[code]

[2021-11-09 06:14] mattip opened #20173 "[Bug] test_multithreading in test_advanced.py hangs when run on windows"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Running `test_multithreading` in `python/ray/tests/test_advanced' consistently fails on windows. The test runs twice: once in worker mode and once in driver mode. In worker mode, all the subtes

[2021-11-09 07:09] rkooo567 commented on #19283
Must be due to this PR https://github.com/ray-project/ray/pull/18941 I think this requires the gcc version >= 9

[2021-11-09 08:26] XuehaiPan commented on #20110
I tried to use a shared actor to construct a barrier in `make_env`, but it doesn't work.

My snippet:

[code]

Output:

[code]

[2021-11-09 08:46] XuehaiPan commented on #20110
Another snippet doesn't work either:

[code]

I will get:

[code]

Cause the `Process` object is not serializable.

[2021-11-09 08:47] XuehaiPan commented on #20110
Another snippet doesn't work either:

[code]

I will get:

[code]

Cause the `Process` object is not serializable.

[2021-11-09 08:49] WangTaoTheTonic commented on #13984
c++ part addressed. Let's close this.

[2021-11-09 08:49] #13984 closed

[2021-11-09 09:03] bitosky commented on #8018
I didn't solve it directly. I wrote my own scheduler and analyzer to deal with multi-objective optimization problems. It was not easy for me, And I spent quite a while to do that.

[2021-11-09 09:04] bitosky commented on #8018
@aswanthkrishna I didn't solve it directly. I wrote my own scheduler and analyzer to deal with multi-objective optimization problems. It was not easy for me, And I spent quite a while to do that.

[2021-11-09 10:27] #19896 closed

[2021-11-09 11:38] czgdp1807 commented on #19800
Should we investigate more if it's coming from somewhere due to Ray's code. Yeah, `run` is taken from `boost` but may be that thing is calling some other Ray code. If that's so then let me know, I can dig a bit more to find out which code is responsible for the slowdown in Windows. Bumping time limit is based on the fact, this test is out of our scope and the performance slow down is due to some t

[2021-11-09 11:52] jordiae commented on #20161
Update: the exact same code deadlocked both with Python's multiprocessing Pool and Ray's Pool. If I force Python's multiprocessing to use spawn() instead of fork(), as suggested by the link I shared above, it doesn't deadlock anymore! However, this is not possible in Ray (#13568).

[2021-11-09 11:55] smorad commented on #19976
@mvindiola1 that sounds like a good solution. It still allows for long or infinite-length episodes while chunking trajectories into manageable sizes.

[2021-11-09 12:12] smonsays commented on #19879
Did this issue go unnoticed? May I kindly ask you to consider if there is an easy solution to this issue?

[2021-11-09 14:06] ralbertazzi opened #20182 "[Feature] Ability to customize Ray session name"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Although [the Ray documentation](https://docs.ray.io/en/latest/configure.html#logging-and-debugging) makes me understand that the session name can be customized ("By default, the name is session_{timestamp}_{pid}"), it actually cannot

[2021-11-09 14:08] dmkulazhenko opened #20183 "[Bug] [Tune] [1.8.0] [1.7.0] Race condition in cluster checkpoint syncing"
## Abstract
A lot of checkpoints are not syncing from workers to head (driver) during tune job.

## Summary
Imagine that we have common `tune.Experiment` running via `tune.run`. All this executes in AWS using Ray Cluster Launcher.

#### Steps of execution
1. Cluster setups using `ray up`;
2. Payload submits using `ray submit`;
3. Right after end of execution `ray submit` -> `ray down` triggers.

#

[2021-11-09 14:31] XuehaiPan commented on #20110
The RLlib built-in environment `Unity3DEnv` does not handle the port collision too. It simply sleeps for a random interval. It still may fail with `num_workers` >> 1.

https://github.com/ray-project/ray/blob/90fd38c64ac282df63c2a7fbccf66a46217991a4/rllib/env/wrappers/unity3d_env.py#L76-L84

[2021-11-09 15:52] kcpevey commented on #19977
This is because multi-node Ray clusters are not supported on Windows. I'll open a PR to add this a note to the tip so new users won't be led astray :)

[2021-11-09 16:04] Hsgngr opened #20186 "[Bug] fcnet hiddens doesn't work as it supposed to."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I'm using a custom config dictionary to create my model.
[code]
As can be seen above I'm giving 2 hidden layers with 512 neurons each. The printed model is as follows:
[code]
There supposed be two

[2021-11-09 16:32] clay4444 opened #20189 "[Placement Group] [Java] Make the Class PlacementGroup serializable in Java Api"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Make the Class PlacementGroup serializable in Java API so that the placement group handler can be passed in multiple processes in cluster.

### Versions / Dependencies

Master

### Reproduction

[2021-11-09 16:39] #16388 closed

[2021-11-09 17:25] krfricke commented on #20183
Thanks for raising this - we are in the process of refactoring cloud checkpointing and simplifying configuration (e.g. https://github.com/ray-project/ray/pull/20155).

For your use case, could you try using an S3 bucket for cloud checkpointing? This is the recommended solution for distributed training on the cloud (e.g. AWS) anyways.

[2021-11-09 17:34] Yard1 commented on #9421
This looks like it's possible already? Can you confirm @krfricke ?

[2021-11-09 17:34] scv119 commented on #20173
:( @mattip where you able to get a stacktrace when it hangs?

[2021-11-09 17:41] mvindiola1 commented on #20110
How about this?
https://colab.research.google.com/drive/1bgL87SfImEpIUPU5nbF0-oWCwiBnPbg9?usp=sharing

[code]
Output:
[code]

[2021-11-09 17:49] scv119 commented on #20146
For **mechanism**, this looks trivial: whenever a client wants to create a new object in plasma store, we can consult an admission control component to allow-reject the requests.
For **policy**, we need to decide all the options to get the allowance for each task/worker. Some ideas I have (or inspired by this thread:)
- preallocate quota for worker/task. i.e. the task will set a hard limit on memo

[2021-11-09 17:53] mattip commented on #20173
@scv119 after updating to e5e62d89918835df5b6823a08c70a45caec5c8c6 it no longer hangs, just fails when using Actors in workers. There are 6 `worker*.err` files in the logs, three of them are empty and three end with
[code]

There are corresponding `worker*.out` files that are also empty or end with
[code]

Is there code repressing the dialog box usually associated with application crashes for wind

[2021-11-09 18:11] architkulkarni opened #20191 "[runtime env] test_runtime_env_working_dir flaky"
<img width="1625" alt="Screen Shot 2021-11-09 at 9 58 14 AM" src="https://user-images.githubusercontent.com/5459654/140978666-f2e07bd4-c5fa-42ff-a6a7-ddb3478b1b08.png">
Flakiness is 13% when summing OS X and Linux flakiness, which is pretty bad.  There seem to be at least two distinct causes so there may be room to make partial progress.

In the case where it times out, it's hanging during the sec

[2021-11-09 19:09] #19614 closed

[2021-11-09 19:09] #19612 closed

[2021-11-09 19:15] #19788 closed

[2021-11-09 19:16] stephanie-wang commented on #20146
For mechanism, I think the key question is how to reject requests without deadlocking. What happens if that client needs the object to continue? One simple option we could try is, instead of "rejecting" the request, we force the client to spill.

But I think I am still not super clear on the application setting. I'm not sure if fairness is enough to guarantee that small objects would get prioritiz

[2021-11-09 19:53] simon-mo commented on #20169
Thanks for posting this @cin-duke. cc @jiaodong @edoakes from the Serve team.

Actually after some thoughts, this is more nuanced than I thought.

When you want concurrent requests but it is CPU bounded, for example a single call using 100% CPU, you should use replicas instead of threading to ensure that each process. Replicas are easier to manage and performance is more predictable.

When you hav

[2021-11-09 19:57] simon-mo commented on #19704
Ah recently it is getting, i'm looking into this
[code]

[2021-11-09 20:07] matthewdeng opened #20196 "[Feature] get or create logic for placement groups"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, the logic to "get or create" a placement group feels a little complex and requires understanding of how `placement_group_capture_child_tasks` operates.

Example:
[code]

### Use case

For Ray Train, we want to be able to co

[2021-11-09 20:12] scv119 commented on #20159
uses 100% cpu makes this pretty bad. bump it to P0

[2021-11-09 20:13] scv119 commented on #20158
@simon-mo is this considered more like P1?

[2021-11-09 20:23] franklsf95 commented on #20162
This just fixed itself mysteriously on latest master. I'll reopen this if it happens again.

[2021-11-09 20:23] #20162 closed

[2021-11-09 20:47] simon-mo commented on #20158
Would appreciate a workaround if this is marked as P1. For example, specifying a deadline for ray.nodes(). We can't have process leak in Serve.

[2021-11-09 20:50] superhaiou commented on #20146
i think we cannot reject requests, instead we should spill;
Today we are dynamically launching a Ray cluster per job, if a reducer is pushing too much outputs to the Object Store, it would be blocking other mappers and reducers or future shufflers pushing their outputs to the Object Store even if the output is way smaller than that reducer, which is not fair;
In addition, we'll have to use multi-t

[2021-11-09 20:52] architkulkarni opened #20198 "[runtime env] Allow specifying Path instead of str for working_dir, py_modules"
Users might be using `pathlib.Path` in their code.  Currently they have to convert to `str` before passing into a runtime environment, but we should do this conversion for them.

[2021-11-09 21:01] superhaiou commented on #20146
For the application setting, say we are using a dynamically launched Ray cluster, and there are only two types of tasks: mapper and reducer; We are aware that reducer is outputting way more data to Object Store than mapper does, say 5 times;
We'd like to set the weight of mapper to 1 while the weight of reducer to 2 (5 without any change) such that the outputs of reducers would not impact the inte

[2021-11-09 21:47] Yard1 opened #20199 "[Bug][dashboard] `pytest` is a mandatory dashboard dependency for latest nightly"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Dashboard

### What happened + What you expected to happen

If `pytest` is not installed:

[code]

The dashboard doesn't respond in the browser.

### Versions / Dependencies

`b0550aa440b38298cde40ee5aa1757346e957c47`

### Reproduction script

[code]

[2021-11-09 21:53] edoakes commented on #20199
@Yard1 this should be addressed in master by: https://github.com/ray-project/ray/pull/20168

Please reopen if still an issue!

[2021-11-09 21:53] #20199 closed

[2021-11-09 22:14] scv119 opened #20201 "[Bug] autoscaling_shuffle_1tb_1000_partitions is failing"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_ETNyBxykFs6D9vL1UbeXn37i

### Versions / Dependencies

latest ray.

### Reproduction script

N/A

[2021-11-09 22:29] wuisawesome opened #20203 "[Bug] Background function with max calls doesn't release resources"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When `max_calls` is set and a background task is set, we don't return the worker until a process exit. Since there's a background task executing, the worker process can't or be reused since it

[2021-11-09 22:35] iycheng commented on #20159
maybe related to this: https://github.com/ray-project/ray/issues/18533

[2021-11-09 23:35] xwjiang2010 commented on #17720
@krfricke Agree with you.

default: TUNE_REQUEST_PAUSED_TRIAL_RESOURCES = True if pbt else False

User can override this if they have more advanced scheduling algorithms.

[2021-11-10 00:02] #19977 closed

[2021-11-10 00:16] scv119 commented on #20196
@rkooo567 any thought on this?

[2021-11-10 00:23] clarkzinzow opened #20207 "[Datasets] Preserve schema in the face of empty block lists and empty blocks."
When Datasets transformations result in empty block lists or empty blocks, the block (and therefore `Dataset`) schema is often dropped, leading to downstream operations having to properly handle empty block lists and empty blocks that don't have any available schema. Since we've already guaranteed that all in-band datasources yield schema-ful blocks, if we could guarantee that empty block lists an

[2021-11-10 00:36] #19610 closed

[2021-11-10 01:02] amogkam commented on #20186
cc @gjoliver any ideas here?

[2021-11-10 01:13] edoakes commented on #20107
One deployment => multiple physical replicas

[2021-11-10 01:19] gjoliver commented on #20186
yeah, this looks weird. we will take a look. thanks for the report!
how and where do you print the network? can you add a repro script that we can just run?
thanks.

[2021-11-10 01:35] ericl commented on #20146
Yeah I agree that you can achieve fairness at the spilling level only. For example, this could be achieved by blocking the request until we have spilled enough objects created by the client. Or, we can block all requests and only adjust the spilling policy to prefer spilling objects from over quota clients. The latter would be much simpler but provides lower QoS guarantees.

[2021-11-10 02:52] jovany-wang commented on #20189
Should we consider the xlang usage?

[2021-11-10 03:44] rkooo567 commented on #20196
A couple comments;

One note is that #18524 will be just a hint, and collocation or spread is not guaranteed. This might be a difference from placement group which can guarantee collocation if you place an actor to the same bundle.

About

[code]
Can you give me more context? Driver (caller) never needs to use `get_current_placement_group` cuz the driver doesn't have the current placement group. I

[2021-11-10 04:50] matthewdeng commented on #20196
Yep, for Ray Train best effort is okay. If we want strict scheduling placement groups is a viable solution (though maybe we would need the ability to add more bundles to a placement group).

Yeah, this is called within an actor. At a high level the flows are:

**Ray Train:**
1. Ray Train job should create a placement group.
2. Ray Train will spawn workers in this placement group.

**Ray Train as p

[2021-11-10 04:53] chenk008 commented on #19283
Maybe we should add some gcc version check in `setup.py`

[2021-11-10 04:54] rkooo567 commented on #20182
Session name customization is not supported by the public API https://docs.ray.io/en/master/package-ref.html#ray-init. If you let me know what sentence gave you that impression, I can delete them from the doc.

Regarding the feature request, I am curious if running fluentd on top of session_latest is working? (that's the symlink to the latest session).

[2021-11-10 04:58] rkooo567 commented on #20161
cc @edoakes ? do we use any multiprocessing pool functionality within our codebase?

Also @jordiae do you have any repro script that we can reproduce the issue?

[2021-11-10 04:59] rkooo567 commented on #20132
Hey @kiralaz can you check the latest master if this is resolved? We merged a PR that could solve the issue

[2021-11-10 05:14] kiralaz commented on #20132
Thanks @rkooo567! https://github.com/ray-project/ray/pull/20136 looks like it should fix my issue.

Though when I tried `python3 setup.py install` from `ray/python` on master, I got
[code]
For the bazel build of some ray_pkg targets:
[code]

[2021-11-10 05:15] rkooo567 commented on #20132
I think the build requires gcc >=9.0. Can you check ur compiler version?

[2021-11-10 05:16] rkooo567 commented on #19283
Yeah can we do this? Also cc @mwtian

[2021-11-10 05:53] chenk008 commented on #19283
I have upgrade to gcc 9, there is still some error:
[code]

[2021-11-10 06:24] kiralaz commented on #20132
I see, I was on gcc 7. It's a bit tricky for me to upgrade my gcc right now, but saw the PR landed 23 hours ago so I just tried via the nightly wheel from https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp36-cp36m-manylinux2014_x86_64.whl assuming the fix made it to the latest build.

Happy to report I didn't get a segfault 🎉  😄

[2021-11-10 07:02] scv119 commented on #20201
this is red-herring. the failed tests is not a custom run.

[2021-11-10 07:02] #20201 closed

[2021-11-10 07:17] XuehaiPan commented on #20110
@mvindiola1 It works for me and resolves my issue. Thanks a lot!

[2021-11-10 07:17] #20110 closed

[2021-11-10 07:43] jovany-wang opened #20214 "Move RayException to API module."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

1111

### Versions / Dependencies

1111111

### Reproduction script

111111

### Anything else

111

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-11-10 08:53] #20058 closed

[2021-11-10 08:54] #19288 closed

[2021-11-10 08:55] rkooo567 commented on #19215
Seems like we don't have a repro. Downgrade the priority until they request us to have a pair programming

[2021-11-10 08:55] rkooo567 commented on #16458
@DmitriGekhtman is this handled in the merged PR above?

[2021-11-10 08:58] rkooo567 commented on #19305
NOTE: This has been deprioritized by other tasks, but we are planning to look at in next 3 weeks.

[2021-11-10 12:03] gerboland commented on #20073
[This helped me](https://github.com/ray-project/ray/issues/19939#issuecomment-957945021):
[code]

[2021-11-10 13:28] Hsgngr commented on #20186
Thanks for responding fast I just added a very simple reproduction script. I use tensorflow as backend without GPU. It prints automatically itself when I use tensorflow rather than torch. I guess in somewhere in code it has `model.summary()` function.

[code]

[2021-11-10 13:43] yuanchi2807 commented on #20107
Thanks. Confirming one replica => one Ray actor and it is registered with a local node router?

[2021-11-10 13:59] dmkulazhenko commented on #20183
@krfricke, sorry, I don't get it :crying_cat_face:

I meant, that sync \<workers\> -- \<head\> doesn't work in right way... But with sync \<head\> -- \<S3\> all is OK.

Im already using S3 bucket as final place for checkpoint -- you can check my `upload_dir`, which is S3 URI.
So, to "hack" my problem - I just upload checkpoints to S3 directly from `tune.Trainable.save_checkpoint`.

[2021-11-10 14:53] sven1977 commented on #20002
This is due to a recent gym upgrade (to 0.21, I believe).
The solution is to pip install these up front:

[code]

[2021-11-10 14:55] sven1977 commented on #20002
The following is working now in a completely fresh env:
[code]

[code]

[2021-11-10 15:00] sven1977 opened #20216 "[Bug; RLlib]: Error in `SampleBatch.get_single_step_input_dict()`"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

There is a problem in SampleBatch.get_single_step_input_dict when having a complex traj. view setup for attention nets.
If a view-column is built from an underlying data column from a range of tim

[2021-11-10 15:46] rkooo567 commented on #19305
Btw, how is the 45 seconds defined? What's the average time that when it is passing?

[2021-11-10 17:29] DmitriGekhtman commented on #16458
Yep, closing.

[2021-11-10 17:29] #16458 closed

[2021-11-10 17:30] simon-mo opened #20221 "[Serve] Failure in serve_failure.py"
[code]

To reproduce, apply the following diff (some of changes to aid debugging) to `release/long_running_tests/workloads/serve_failure.py`
[code]

[2021-11-10 17:49] simon-mo commented on #19891
per https://discuss.ray.io/t/how-to-control-the-total-memory-of-ray-serve/3972/4 closing.

[2021-11-10 17:49] #19891 closed

[2021-11-10 17:49] simon-mo commented on #19905
closing, user identified as library bug.

[2021-11-10 17:49] #19905 closed

[2021-11-10 17:53] jjyao commented on #18730
@worldveil Can you try it now with the latest wheel. Sorry for so many iterations.

[2021-11-10 18:27] #19712 closed

[2021-11-10 18:31] ralbertazzi commented on #20182
Hi @rkooo567 thanks for reaching out!

The documentation that mislead me is [here](https://docs.ray.io/en/latest/configure.html#logging-and-debugging), specifically when it says:
[code]
What I thought it "If there is a default, there is also a non-default way that I can customize!". I think that just removing "By default" would solve the misleading.

My bad for not finding `session_latest`! I will

[2021-11-10 18:35] richardliaw commented on #19875
@sven1977 @avnishn is it possible to triage this?

[2021-11-10 18:50] edoakes commented on #20107
Yes, one replica maps to one ray actor. There is no per-node router, communication is directly actor<->actor.

[2021-11-10 18:51] edoakes commented on #20161
We don't use mp.Pool, we have our own custom implementation, but we may have a similar threading issue.

https://github.com/ray-project/ray/blob/master/python/ray/util/multiprocessing/pool.py

[2021-11-10 19:31] xwjiang2010 commented on #10484
@richardliaw Can you point me to what implementation details you are referring to?

[2021-11-10 19:46] worldveil commented on #20002
Created PR to fix this
https://github.com/ray-project/ray/pull/20225

[2021-11-10 20:02] jordiae commented on #20161
I didn't mean that you did. I meant that you expose an API purposedly identical to the one of mp.Pool (in the code @edoakes  sent). I use this API, and the exact same code but just changing the parallel backend:#
- Hangs if using mp.Pool with fork().
- Does NOT hang if using mp.Pool with spawn().
- HANGS if using Ray, which uses fork() (it doesn't support spawn).

In other words, implementations u

[2021-11-10 20:28] ceteri commented on #20073
Thank you kindly @gerboland -
That helped fix the issue for us.

Also, we have:

- rolled back Ray to release 1.7.0 as suggested in https://github.com/ray-project/ray/issues/20073
- pinned the Arrow/Parquet C++ library to stable release 5.0.0-1 on Ubuntu  (avoid Thrift mem leaks / seg faults in 6.0.0)

[2021-11-10 20:40] klwuibm commented on #20107
Based on today's discussions with @jiaodong and @iycheng, we think that to meet the requirement of our use cases, instead of using replica, we should do multiple deployments, each with a unique ID.  Requests with the same ID will be processed by the same deployment. Namely, the sticky sessions will be at the deployment level, not at the replica level.  Also, in order to have a meaningful performan

[2021-11-10 22:16] simon-mo commented on #20159
I can reproduce this on my mac on 1.8.0 and f8430e6eca2490f06647be3c8fe4b867e675eb93.

[2021-11-10 22:47] iycheng commented on #20159
Hmm, it seems related to the platform and linux seem work, but not mac.

[2021-11-10 22:49] ericl commented on #20158
@simon-mo I can't reproduce this on _master_. I can reproduce a potentially related bug, where the driver hangs, but I don't see ray::f() hang.

This is on Linux / current master.

[2021-11-10 22:54] simon-mo commented on #20158
I wonder if this is a mac os thing. @edoakes and @architkulkarni can repro this on their mac.

does it hang on ray.nodes() call? i think the root cause just relates to core worker shutdown interfering other things so it doesn't matter it's driver or worker.

[2021-11-10 22:57] ericl commented on #20158
The hang I'm seeing is at
[code]

Basically the driver isn't properly exiting when the raylet dies in this case, but it seems like a separate issue.

I do see the worker properly cleaned up on stop though.

[2021-11-10 23:00] iycheng commented on #20159
lower to P1, since only mac can reproduce this.

[2021-11-10 23:02] ericl commented on #20158
Reading through the code, I think the culprit may be in our use of Redis. Since @mwtian is removing the node table in favor of direct gRPC access currently, I think we can downgrade this and re-visit. It's highly likely to be fixed after that.

Separately I'll make a patch to fix the driver hang, I think that one is kind of bad.

[2021-11-10 23:12] simon-mo commented on #20158
sounds good with the downgrade. however, i think `ray.nodes()` currently go through GlobalStateAccessor -> gcs_client_ which isn't redis?

[2021-11-10 23:13] mwtian commented on #20158
GCS client uses Redis underneath currently. The default will be switched in a few weeks.

[2021-11-10 23:14] simon-mo commented on #20158
ah got it. thanks!

[2021-11-10 23:28] rkooo567 commented on #20132
Glad to hear that! I will close the issue. @scv119 @ericl we should consider having a patch release with this commit. I've seen other users who went through the same issue. Also we should consider adding code owner to the `src/ray/ray_version_script.lds` file.

[2021-11-11 00:07] architkulkarni opened #20234 "[Serve] Superfluous (?) warning when doing serve.start(detached=True)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

[code]

After running `python deploy.py` we see

[code]

The WARNING seems unnecessary, since we're automatically starting Serve in the "serve" namespace (according to the log, at least).

When running `python deploy.py` again we see

[2021-11-11 00:46] architkulkarni opened #20236 "[Serve] [Feature] Print warning if `detached=True` is set without having connected to a long-lived Ray cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Currently, calling `serve.start(detached=True)` without having previously called `ray start --head` doesn't print any warning.  The user would expect the Serve instance to outlive the script, but it doesn't.

Also, even if you have ca

[2021-11-11 00:49] #19167 closed

[2021-11-11 01:52] rkooo567 commented on #20132
This is fixed in the master, and the change will be included in 1.9

[2021-11-11 01:52] #20132 closed

[2021-11-11 02:11] kiralaz commented on #20132
Thank you @rkooo567 ! And @ashione for the fix 🙂

[2021-11-11 02:28] axelahmer commented on #19581
I am having the exact same problem. Ray 1.6 is running, but 1.7+ is failing.

[2021-11-11 03:21] infzo commented on #20068
I had the same problem. It is clear that:
1. In the Linux environment
2. PyArrow is installed using conda, but PIP does not have this problem.
3. This problem exists in both PyArrow 5.0.0 and PyArrow 6.0.0.
4. The Ray version is the latest version, including the preview version.

[code]

[2021-11-11 03:36] ericl opened #20239 "Propagate failure to acquire worker lease from local raylet instead of retrying forever"
Currently, we retry task leasing requests indefinitely: https://github.com/ray-project/ray/blob/master/src/ray/core_worker/transport/direct_task_transport.cc#L585

This leads to driver hangs if the raylet is dead. It would be better to propagate the error to the task if the raylet we tried to contact is local (local gRPC calls should never fail).

This can be reproduced by https://github.com/ray-p

[2021-11-11 04:07] rkooo567 commented on #20239
Hmm does that mean IsRayletFailed function is not working as expected? (Given code, it looks like the driver should QuicKExit())?

[2021-11-11 04:28] ericl commented on #20239
We shouldn't quickexit the driver though, just fail Ray API calls and let
the user code handle the exit.

Though the raylet pid isn't set there for sure.

On Wed, Nov 10, 2021, 8:07 PM SangBin Cho ***@***.***> wrote:

[2021-11-11 04:29] xwjiang2010 commented on #17479
`queue_trials` is deprecated now. Closing out the bug.

[2021-11-11 04:29] #17479 closed

[2021-11-11 04:37] DmitriGekhtman opened #20240 "[autoscaler] Simplify autoscaler.update output."
Refactor the autoscaler such that  autoscaler.update produces a single scale request containing nodes to terminate and quantities of each node type to launch.

Act on that scale recommendation in monitor.py

Move all rpc machinery out of autoscaler.py

[2021-11-11 04:46] cin-duke commented on #20169
Thanks for your detailed explanation @simon-mo

Here is some of my comments:

In this usecase, thread would be useful because spawning multiple workers will take lots of system RAM, and if the deployment uses GPU RA, it will be very hard to scale out.

I will look into this approach. However, it'd be easier for users if Ray implement the threadpool internally. uUer only needs to specify the argume

[2021-11-11 06:12] rkooo567 commented on #20239
Yeah I agree with that! I just wanted to know if this function was working properly or not. Good to know it is not, and I can repro…

[2021-11-11 06:58] kira-lin opened #20241 "[Feature] [Xlang] Arrow zerocopy deserialization"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Ray dataset uses Arrow as data format. In python, Arrow data is serialized by pickle5, which supports zerocopy deserialization. But workers in other languages cannot read it. If users want to pass Arrow data across language, they woul

[2021-11-11 07:25] gjoliver commented on #20186
I took a look. this is actually expected.
the model you see here is the wrapper LSTM model. Notice the name of the layer in question is "inputs".
Since the FullyConnected model feeds  into the LSTM model, the last layer of the FC model becomes the input layer of the LSMT model.

If you want to verify the shape of the FC model, you can add self.base_model.summary() right above here https://github.c

[2021-11-11 07:25] #20186 closed

[2021-11-11 07:49] rkooo567 opened #20243 "[Bug] Placement group performance gets drastically slower as # of bundles increase."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

## Problems
https://github.com/ray-project/ray/pull/20218

As you can see from this PR, the throughput of placement group drastically impacted by the number of bundles. (40 bundles are 70X slow

[2021-11-11 07:49] rkooo567 commented on #20243
cc @scv119

[2021-11-11 08:08] #20002 closed

[2021-11-11 08:23] rkooo567 opened #20244 "[Bug] Synchronous actor creation is too slow"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

cc @scv119

## Problem
According to @xwjiang2010's benchmark, the throughput of creating 100 actors synchronously is really low. When you run the script below,

- creating 1 actor and calling i

[2021-11-11 08:49] rahulmadanraju commented on #11966
Is there a way to get out of this error? I have upgraded the ray to 1.8 as well.. but still shows up with this issue.

On trying for both ray.init() and ray.init(num_cpus) the error remains.

[2021-11-11 08:57] rkooo567 commented on #20196
That makes sense! Thanks for the detail here...

Here, isn't `should_capture_child_tasks_in_placement_group ` always set to be True from the parent? Maybe you can just

[code]
?

[2021-11-11 08:58] rkooo567 commented on #20196
Btw, I feel like `should_capture_child_tasks_in_placement_group ` is a really bad name. Do you think renaming it to `inherit_placement_group` is more straightforward?

[2021-11-11 09:09] vladfi1 commented on #17322
I am still seeing this issue in ray 1.8.0 when I run `ray exec cluster.yaml --start --stop 'echo "hello world"'`.
[code]

[2021-11-11 09:15] jovany-wang commented on #14923
Will confirm later.

[2021-11-11 09:41] scho97 opened #20246 "[Bug] `quniform` error (specific to `HEBO` search algorithm)"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

When I use `tune.quniform()` to configure my search space with `HEBOSearch()`, the sampling does not give out properly quantized values.

I have tested this problem with three different search

[2021-11-11 09:56] larrylian opened #20247 "[Ray java api] Java api Ray.get support timeout param"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Java api Ray.get() support timeout param
add timeout(ms) param for Java ray.get. The API changes have been updated to doc ([Ray Core Walkthrough]->[Fetching Results]).
eg:
[code]

### Use case

actor.task(Counter::getValueDelay).remot

[2021-11-11 10:02] rkooo567 commented on #20239
@ericl Maybe I can take this next sprint as I recently added this IsRayletFailure logic to have cleaner log upon local raylet failure? I am thinking to find a way to detect local raylet failure better and reliably propagate the exception to the driver (whereas workers will just QuickExit()).

[2021-11-11 10:36] rkooo567 commented on #11966
What about if you do num_cpus=4 or sth? (Provide a kwarg instead of arg)

[2021-11-11 10:49] rahulmadanraju commented on #11966
It's still the same. Initially had the same setup.
The initialization of the ray is on the jupyterlab, which often sets the jupyter kernel to restart the moment it enters the function.remote()

On debugging, it showed with the mentioned error.
ValueError: After taking into account object store and redis memory usage, the amount of memory on this node available for tasks and actors (-0.01 GB) is le

[2021-11-11 10:51] rkooo567 commented on #11966
Hmm can you also tell me the memory size of the machine/container you runs your jupyter on?

[2021-11-11 11:16] rahulmadanraju commented on #11966
![image](https://user-images.githubusercontent.com/38735728/141288988-f80e5f51-fc24-49cd-a6c5-6b53a941932a.png)

[2021-11-11 13:54] rkooo567 commented on #19983
If trainer needs zero resources, you can specify num_cpus=0, num_gpus=0, resources ={}!

I think this is resolved, so let me close the issue!

[2021-11-11 13:54] #19983 closed

[2021-11-11 16:14] gjoliver commented on #19993
Looking around, I think the reason tf2 supports info_dict while tf doesn't is because the sample batch gets converted into a feed_dict for forward pass in tf1. the nn has no idea about these fields and will error out if we don't get rid of it.
Not sure what's the best fix here actually, can you use a callback that happens before post-processing?
I will discuss a bit among the team.

[2021-11-11 16:31] #14129 closed

[2021-11-11 16:31] #19961 closed

[2021-11-11 16:55] grechaw opened #20253 "[Bug] tune.run throws error"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

This is an escalation from a customer issue.

Ray 1.7.0, running from Ray Client.
After a tune job starts and runs for a few minutes, it fails with the following stack trace:

[code]

### Versi

[2021-11-11 17:28] krfricke commented on #20253
There is a mismatch of arguments when using Ray client:

https://github.com/ray-project/ray/blob/releases/1.7.0/python/ray/tune/tune.py#L351-L353
vs
https://github.com/ray-project/ray/blob/releases/1.7.0/python/ray/tune/tune.py#L104-L107

We fixed this in 1.8.0. I'll confirm if there's a workaround if we just remove deprecated arguments from the call to  `tune.run`

[2021-11-11 17:29] krfricke commented on #20253
Closing because bug is already fixed - but will add the relevant PR to the 1.7.x patch release milestone

[2021-11-11 17:29] #20253 closed

[2021-11-11 18:00] #20244 closed

[2021-11-11 18:00] ericl commented on #20244
Yeah this seems normal to me. Starting workers is inherently slow.

Applications should not assume any blocking calls are fast.

On Thu, Nov 11, 2021, 12:24 AM SangBin Cho ***@***.***> wrote:

[2021-11-11 18:04] amogkam commented on #10995
@maxwass I think PTL has done some refactoring to make this hack no longer work. Can you try downgrading your PTL version and see if the hack works?

[2021-11-11 18:06] ericl commented on #20243
Cc @iycheng could be a motivation for scheduler improvements

[2021-11-11 18:07] amogkam commented on #20131
Hey @souravraha, where exactly are you adding the `os.environ["SLURM_JOB_NAME"] = "bash"`? Are you doing right before your `Trainer` instantiation?

Also, what PTL version are you running and are you using the PTL fault tolerance feature?

If you can provide a code snippet of your script, that would help as well.

[2021-11-11 18:08] simon-mo commented on #20169
This is a great point! For the thread pool approach, if you can try to prototype it in your application and see it working, we can integrate it into Ray Serve :D.

[2021-11-11 18:43] scv119 opened #20258 "[release][core-nightly] inference is failing."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_nyHPVp7fNykxK9vAV8UCVLrn?command-history-section=command_history

### Versions / Dependencies

N/A

[2021-11-11 18:44] Gabr1e1 opened #20259 "[Bug] MADDPG algorithm does not use exploration config correctly"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

MADDPGTFPolicy inherits TFPolicy, which doesn't use the Exploration object's get_exploration_action method, therefore the MADDPG policy doesn't use exploration at all, despite setting config['expl

[2021-11-11 18:44] DmitriGekhtman opened #20260 "[ray client] Decouple ping from cluster resources RPC"
The ping used for Ray client reconnect logic currently relies on the cluster resources rpc request, which means we can't retry connection in client apis like ray.cluster_resources()

Ping should have a dedicated RPC.

[2021-11-11 19:03] scv119 commented on #20258
@wuisawesome can you take a quick look to see if anything is obviously wrong? seems to me nothing has changed in dataset for last 5-6 days.

[2021-11-11 19:34] mvindiola1 commented on #20259
Hi @Gabr1e1,

The maddpg implementation is not like most of the other algorithms in rllib. It has several non-standard things unfortunately. This is why it is in the contrib module.

It does do exploration by sampling from a RlaxedOnehitCategorical distribution. There is no way to turn off exploration to produce a deterministic action.

https://github.com/ray-project/ray/blob/71a162d8ab198dc0553b8

[2021-11-11 19:44] ericl commented on #20108
Is this still a P0 issue given we cannot reproduce?

[2021-11-11 19:59] iconix opened #20265 "[Bug] Kubernetes: GPU resource detection not accurate"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Ray's automatic GPU resource detection reflects the physical host's GPUs rather than the GPUs allocated to each kubernetes pod.

When using `ray.cluster_resources()` on a Ray K8s cluster th

[2021-11-11 21:15] offendo commented on #10995
I also have this problem, downgrading PTL to 1.4.8 seems to solve it. Pretty sure something in 1.5.0 broke it, but I don't know if 1.5.1 fixes it.

[2021-11-11 21:59] pollackscience opened #20267 "[Bug] Hyperparameter tune with xgboost does not checkpoint correct model."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

I'm training a binary classifier for a massively imbalanced dataset.  While doing hyperparameter search with ray.tune, I've noticed that the checkpointed 'best model' does not produce the liste

[2021-11-11 22:15] DmitriGekhtman commented on #20265
It may be worth also posting this issue in the KubeRay repo.

[2021-11-11 22:19] mmuru commented on #20068
@architkulkarni: Please, review this issue and provide an update. Thanks.

[2021-11-11 22:21] #20066 closed

[2021-11-11 22:21] DmitriGekhtman commented on #19004
One recommendation is to try using a newer version of the operator, say rayproject/ray:1.8.0.

To help diagnose the issue, can you verify that the config you are using for the operator has the following environment variable set:
https://github.com/ray-project/ray/blob/992ab3e0989c1422cccda0a684dea508b7e75f75/deploy/charts/ray/templates/operator_cluster_scoped.yaml#L56-L57

[2021-11-11 22:26] architkulkarni commented on #20068
I don't know much about PyArrow unfortunately, @clarkzinzow @jjyao do you have any ideas about this or know who should triage it?

[2021-11-11 22:31] iconix commented on #20265
Hmm why? What is the issue with the cluster config?

[2021-11-11 22:42] DmitriGekhtman commented on #20265
It's hard for me to say at this point -- I need to learn more about the KubeRay operator, which processes the config.

[2021-11-11 23:14] lorepieri8 opened #20269 "[Bug] Training-on-previously-saved-experiences, KeyError: 'new_obs'"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

Running the tutorial: https://docs.ray.io/en/latest/rllib-offline.html#example-training-on-previously-saved-experiences
I'm not able to train from an existing output, as in the tutorial.

[code]

[2021-11-11 23:30] pcmoritz commented on #14697
This is fixed in https://github.com/ray-project/ray/pull/19037 and M1 wheels are released for Ray 1.8.0 :)

[2021-11-11 23:30] #14697 closed

[2021-11-11 23:35] #19951 closed

[2021-11-11 23:59] #19617 closed

[2021-11-12 01:26] #19639 closed

[2021-11-12 02:30] nrhodes-asapp commented on #20265
Ah ok. I didn't realize that the kuberay and native ray cluster configs are so different.

So if I use the native RayOperator, will I no longer have this issue?

[2021-11-12 02:31] iconix commented on #20265
Ah ok. I didn't realize that the kuberay and native ray cluster configs are so different.

So if I use the native RayOperator, will I no longer have this issue?

[2021-11-12 03:06] cin-duke commented on #20169
Okay, we will experiment with it and let you know the result.

[2021-11-12 03:07] Gabr1e1 commented on #20259
I understand that it is currently sampling from a RelaxedOneHotCategorical distribution. But what I am saying is that it ignores the exploration_config specified. There could be other ways to explore other than using the RelaxedOneHotCategorical distribution, per my understanding.

[2021-11-12 03:13] mvindiola1 commented on #20259
@Gabr1e1,

OK I understand now. I agree, although in my opinion (which admittedly is not worth much) it would require a complete rewrite using the standard interfaces to support that kind of exploration.

[2021-11-12 03:19] #20221 closed

[2021-11-12 03:38] xwjiang2010 opened #20272 "[Tune] resource_changing_scheduler._are_resources_the_same"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

`resource_changing_scheduler._are_resources_the_same`  returns False
between `[{CPU: 1.0, GPU: 0.0}]` and `[{CPU: 1.0}]`

Is this expected?

Depending how we want to define the semantics of equ

[2021-11-12 03:38] xwjiang2010 commented on #20272
@Yard1 Do you mind taking a look?

[2021-11-12 03:43] mwtian commented on #7084
@lious68 are you running a Ray script or Ray Tune etc? Anyway this issue should have been fixed in the more recent Ray versions.

[2021-11-12 04:45] xwjiang2010 commented on #19983
So should I still pop the empty bundle or should I leave it there?

[2021-11-12 04:58] DmitriGekhtman commented on #20265
The two operators are independently developed solutions for the same problem.
In the future, we're aiming to simplify and have one preferred solution (likely based more closely on the KubeRay operator), exactly to reduce this sort of confusion.

The operator in the main Ray repo reads gpu resources from the k8s pod spec and advertises those to Ray (overriding the built-in detection, which is likel

[2021-11-12 05:17] Gabr1e1 commented on #20259
@mvindiola1 As far as exploration is concerned, I think a simple replacement of `act_sampler` would suffice? Like this:
[code]
Pretty much the same as in DynamicTfpolicy.
I agree, though, that a better way to do this is maybe to let Maddpg policy inherit Dynamictfpolicy instead of Tfpolicy

[2021-11-12 05:17] DmitriGekhtman commented on #20265
cc @pcmoritz

[2021-11-12 05:20] zeeshanalipanhwar opened #20275 "ValueError: No `mode` has been passed and `default_mode` has not been set. Please specify the `mode` parameter. [Bug]"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

The code:
[code]

The error details:
[code]
The example I am trying to work out is from [here](https://www.tensortrade.org/en/latest/tutorials/ray.html) and I am running it on Google CoLab, [he

[2021-11-12 05:23] Gabr1e1 commented on #20259
I just realized that this wouldn't work on most existing exploration classes. I am only writing this because I am implementing a custom exploration method.

[2021-11-12 06:10] rkooo567 commented on #19983
So the requirement is to allow to create an empty bundle, am I correct?

[2021-11-12 06:13] rkooo567 commented on #19983
So, let me reorganize this

- you pop a bundle because it requests 0 resource which is not allowed in pg
- After you pop you just schedule zero resource actor to the first bundle.

vs

- you create an empty bundle
- And schedule that on empty bundle
?

[2021-11-12 06:20] xwjiang2010 commented on #19983
Yes, correct.

[2021-11-12 06:44] birgerbr commented on #19004
Our operator is using `rayproject/ray:nightly`.
And our operator config is the same as https://raw.githubusercontent.com/ray-project/ray/releases/1.8.0/deploy/components/operator_namespaced.yaml

[2021-11-12 07:15] TanjaBayer commented on #16403
We are using Ray Serve mainly in our deployments. We have encountered so far that placement groups are right now supported for ray serve, which seems to be related to this feature. Let me quickly explain what are our needs, maybe that has an impact on this feature.
Right now we have no control where ray serve places the deployments (except for using custom resources), however there are tow differe

[2021-11-12 07:38] #20216 closed

[2021-11-12 07:54] rkooo567 commented on #19098
[code]

This is the latest test result. Seems like scheduling performance wasn't regressed a lot after running 5000 trials (each trial creates/removes 50 pgs). Close the issue

[2021-11-12 07:54] #19098 closed

[2021-11-12 07:55] rkooo567 commented on #20196
cc @matthewdeng

[2021-11-12 08:02] Yard1 commented on #20272
Yeah, this should not be happening. I will create a PR.

[2021-11-12 08:15] sandratatarevicova commented on #19004
`AUTOSCALER_MAX_NUM_FAILURES` is set to `inf`. We will upgrade to 1.8.0, and we will let you know if it helps.

[2021-11-12 08:19] Junphy-Jan opened #20278 "[Bug] sgd.save_checkpoint raise an error"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Train

### What happened + What you expected to happen

When I use sgd.save_checkpoint to save a DistributedDataParallel model, it raise an error about process group has not been initialized error. But before that the process group had been initial

[2021-11-12 08:22] JanJF commented on #20278
*Python:3.7

[2021-11-12 09:34] krfricke commented on #20183
Ah right, sorry. I read through the issue once more and I think I understand your problem now.

Let me recap just to be sure:

- You have trials running on worker nodes
- The checkpoints should be synced back to the head node (via a NodeSyncer)
- From there, they should be synced to S3 (via the ClusterSyncer)

To do this in the latest release you have to use `tune.durable(trainable)` to wrap aroun

[2021-11-12 13:48] dirkweissenborn commented on #19461
This seems to work now.

[2021-11-12 13:48] #19461 closed

[2021-11-12 13:49] dirkweissenborn opened #20286 "[Bug] Ray autoscaler doesn't respect namespace for TPU VMs."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Cluster names are not respected when launching 2 different clusters. The workers of the first cluster just get a deletion command once the new cluster starts.

### Versions / Dependencies

[2021-11-12 15:11] sven1977 commented on #20171
Yeah, @avnishn is working on these kinds of failure-modes and better error messages (e.g. no DL framework installed). Assigning him here.

[2021-11-12 15:32] iconix commented on #20265
I would like Ray to pick up GPU resources. How do I specify that in config?

[2021-11-12 15:49] clarkzinzow opened #20290 "[Datasets] Preserve Dataset type in the face of empty block lists and empty blocks."
When Datasets transformations result in empty block lists or empty blocks, the block (and therefore `Dataset`) type is dropped or incorrectly set, respectively, leading to downstream operations being unable to switch on the `Dataset` type in the former case, and such transformations having to manually preserve the block type in the latter case. We should try to preserve the Dataset type in general

[2021-11-12 16:00] matthewdeng commented on #20196
Ah isn't `should_capture_child_tasks_in_placement_group` set to True only if the parent specifies `placement_group_capture_child_tasks=True`?

[2021-11-12 16:02] rkooo567 commented on #20196
Yes. Are there cases where the parent doesn’t set that as True?

[2021-11-12 16:04] matthewdeng commented on #20196
Yeah the default value is now False: https://github.com/ray-project/ray/pull/17527

[2021-11-12 16:19] clarkzinzow commented on #20108
@ericl @crclark Downgrading this to a P1 until we have an open/mock data reproduction.

[2021-11-12 16:38] sumanthratna commented on #20246
Hi @scho97, do you see any warnings in your output? I believe HEBO does not support quantization:

https://github.com/ray-project/ray/blob/ce8504b0b29306a94f2b805d8093413f372b97b7/python/ray/tune/suggest/hebo.py#L343-L345

[2021-11-12 16:47] jovany-wang opened #20291 "[Bug] Failed to extract libcoreworker.so from jar due to session conflict"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Java workers will extract the libcoreworker.so from their jars, but they all extract it to the session dir, which will be conflict when multi workers from different jobs write them at the same

[2021-11-12 17:02] jovany-wang commented on #20241
Nice proposal.

[2021-11-12 17:02] #19987 closed

[2021-11-12 17:05] czgdp1807 commented on #19800
@pcmoritz @wuisawesome I am able to reproduce, `test_chaos::test_chaos_task_retry` (logs in the last point in OP). Can I work on this? Thought of asking as it appears to be a new test, so may be the work is already going on to fix this?

[2021-11-12 17:07] wpwpxpxp opened #20293 "[Bug] "SystemExit" issue and IOError: "Broken pipe [RayletClient] Failed to disconnect from raylet""
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

RLlib

### What happened + What you expected to happen

I built my PPOTFPolicy in which I changed the compute_gae_for_sample_batch() by adding a simple function to update the reward values in sample_batch["rewards"] used in gae calculation. The code ca

[2021-11-12 17:17] DmitriGekhtman commented on #20265
You should be able to do that by adding a `num-gpus` parameter to the rayStartParams for the headGroupSpec or the desired workerGroupSpec, similar to [num-cpus](https://github.com/ray-project/kuberay/blob/2c2bc7defbcb8c930d821dd8854bde5f44006cbb/ray-operator/config/samples/ray-cluster.heterogeneous.yaml#L28) in the example.

[2021-11-12 17:28] jovany-wang commented on #20291
Approach can be that, do not write the libcoreworker.so file to the same path+filename, and add a job id to it.

[2021-11-12 18:14] pcmoritz commented on #19800
@czgdp1807 Working on unskipping some of the non multi-node tests in https://github.com/ray-project/ray/pull/20212/files would be higher priority I think.

For now you can skip the `test_chaos::test_chaos_task_retry`. It is also a multi-node test :)

[2021-11-12 18:15] czgdp1807 commented on #19800
Great. Thanks for pointing me to the file. It will be easier to look for new tests to work on.

[2021-11-12 18:59] ericl commented on #20018
Yes, this duplicates https://github.com/ray-project/ray/issues/12635

[2021-11-12 18:59] #20018 closed

[2021-11-12 19:06] edoakes commented on #19640
More requests for this recently:
https://discuss.ray.io/t/how-can-i-run-a-python-function-in-each-workers-interpreter-as-it-joins/4122

[2021-11-12 19:06] edoakes commented on #19640
Bumping to P1 due to user requests

[2021-11-12 19:30] scv119 opened #20298 "[Core][symbols] audit all exported symbols"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

we are auditing the ray ABI export to ensure we are not over exporting symbols. There are some symbols such as PyInit looks very suspcious.

for example the PyInit and Java , are those symbols

[2021-11-12 19:31] scv119 commented on #20298
cc @rkooo567

[2021-11-12 19:49] jamesmishra commented on #19940
I believe that this issue was fixed when PR https://github.com/ray-project/ray/pull/20261 was landed into master.

[2021-11-12 19:51] jamesmishra commented on #19956
I think this issue was fixed when PR https://github.com/ray-project/ray/pull/20261 landed on master.

[2021-11-12 19:54] amogkam commented on #20278
Hey @JanJF- ah this is because when you save a checkpoint, the values get serialized and sent to the driver. Even though the workers have the process group initialized, the driver does not hence why this is failing.

The fix should just be saving `model.module` instead of the DDP wrapped `model` directly. I see you have this line commented out in the code snippet. Did that not work for you?

[2021-11-12 21:20] AntonP84 opened #20300 "[Tune] Add documentation for FunctionStopper"
`FunctionStopper` is not documented in [Stopping mechanisms (tune.stopper)](https://docs.ray.io/en/latest/tune/api_docs/stoppers.html)

[2021-11-12 21:33] amogkam opened #20303 "[release][nightly] `xgboost` tests failing"
There are multiple XGboost release tests failing on the nightly build:

`ft_small_elastic`: https://buildkite.com/ray-project/periodic-ci/builds/1606#f56a1ef9-c67c-4ac8-a529-7321ef0f1abd
`ft_small_non_elastic`: https://buildkite.com/ray-project/periodic-ci/builds/1606#63702d3f-5def-491b-82cf-f6f055b5a3eb
`train_small`: https://buildkite.com/ray-project/periodic-ci/builds/1606#5d094c61-836d-4bf8-88

[2021-11-12 21:35] amogkam opened #20304 "[Release] `pbt` test failing"
`pbt` release test is failing: https://buildkite.com/ray-project/periodic-ci/builds/1606#03523796-9675-4217-b51e-a2aa46d56c0e

Re-running it again results in a different failure: https://buildkite.com/ray-project/periodic-ci/builds/1606#69395bee-51df-410c-bade-dda12d39d4bd

This was passing yesterday: https://buildkite.com/ray-project/periodic-ci/builds/1599#97c743e8-03c8-49a8-9001-263d412de834

[2021-11-12 21:37] amogkam opened #20305 "[Release] `tune_rllib_connect_test` failing"
Failure: https://buildkite.com/ray-project/periodic-ci/builds/1606#c3d0d1f9-5e6e-45a0-94f7-8d5478059e96

Passing yesterday: https://buildkite.com/ray-project/periodic-ci/builds/1599#_

[2021-11-12 22:18] #19251 closed

[2021-11-12 22:33] wuisawesome opened #20307 "[RFC][Workflows][Events] Pre-commit function"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

# Context

At the moment, workflow events are _always_ checkpointed. Workflow events can also contain quite a bit of data, therefore, this checkpointing process can be quite inefficient.

Consider the case where a workflow tries to pr

[2021-11-12 23:36] xwjiang2010 opened #20309 "[release] many_ppo output is polluted with memory profile prints"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_KdA3jWbK8HDYnir84fpR8XsD?command-history-section=command_history

For some reason, only limited lo

[2021-11-13 00:36] architkulkarni commented on #19602
The GC logic in #20165 was flawed and the PR was reverted.

[2021-11-13 03:27] JanJF commented on #20278
Yeah, if use the model.module it works. But isn't the driver a special worker? If I have one head node and one worker node, how the process group initialized?

[2021-11-13 06:56] sronen1 opened #20316 "[Bug] minimal aws cluster does not launch"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Trying to do:
ray up config.yaml
Where config.yaml is the minimal aws file given below. Getting an error:

    class GcsAioPublisher:
  File "/home/ubuntu/anaconda3/envs/tensorflow2_latest_

[2021-11-13 06:59] rkooo567 commented on #20316
This should be fixed by https://github.com/ray-project/ray/pull/20287

[2021-11-13 07:00] rkooo567 commented on #20316
The wheel will be available in 3-4 hours I think

[2021-11-13 07:26] sronen1 commented on #20316
Thanks!

[2021-11-13 09:13] Yard1 commented on #20286
Thank you for the report. This is an oversight on our side. Looks like the PR by @dproctor will fix it.

[2021-11-13 13:54] clay4444 commented on #16403
hi, @TanjaBayer , Thanks for the comment! but I think the two problems you mentioned aren't related to this issue, right?
There are two sorts of ways to solve the problems you mention if you are using the placement group directly.
1. Create a placement group that uses spread strategy, then put the `deployments` you want to spread in different nodes to every single bundle and put the `deployments`

[2021-11-13 15:50] simon-mo commented on #16403
Ah to add the context here in Ray Serve we need resizeable placement group because the number of actors can change as we scale up and down.

[2021-11-13 16:06] jjyao commented on #20068
Sorry for the late reply. I'll take a look.

[2021-11-13 18:11] #20305 closed

[2021-11-13 18:49] amogkam opened #20327 "[Release] `xgboost_ray` fault tolerance tests don't pass with `xgboost` v1.5.0"
The `ft_small_elastic` and `ft_small_nonelastic` tests are passing with the `ray-ml:pinned-nightly` base image, but are failing on the `ray:nightly` image.

We should fix the Docker image so that `xgboost_ray` works out of the box with the image.

[2021-11-13 19:05] #16369 closed

[2021-11-13 19:44] matthewdeng opened #20329 "[Datasets] [Bug] Preserve row/partition order for non-shuffling operations; document row/partition reordering for non-obvious shuffle operations"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When passing `locality_hints` to `Dataset.split()`, the items/blocks in the `Dataset` appear to "reverse".

My initial expectation would be for to resulting splits to be the same as if I called

[2021-11-13 19:50] amogkam commented on #20327
Looks like this is due to an issue with xgboost-ray compatibility with newer versions of xgboost (1.5.0): https://github.com/ray-project/xgboost_ray/issues/176.

So the issue is not related to Ray or the Ray Docker image. Will remove this as a release blocker.

[2021-11-13 19:51] amogkam commented on #20327
Once https://github.com/ray-project/xgboost_ray/issues/176 is fixed, will upgrade back to the `ray:nightly` image.

[2021-11-13 19:55] matthewdeng opened #20330 "[Train] Refactor `TrainingIterator` result processing logic"
Result processing logic has moved from the `BackendExecutor` to the `TrainingIterator` in https://github.com/ray-project/ray/pull/20123. Now that it is centralized at the top layer, we can consolidate the logic so that it is cleaner and follows the same execution path.

For more details: https://github.com/ray-project/ray/pull/20123#discussion_r747964915

[2021-11-13 20:05] #20304 closed

[2021-11-13 20:05] #14391 closed

[2021-11-13 20:05] #6246 closed

[2021-11-13 20:05] #14972 closed

[2021-11-13 20:05] #16818 closed

[2021-11-13 20:05] #16593 closed

[2021-11-13 20:21] edoakes commented on #16403
Yup, this is blocked on being able to resize for Serve!

[2021-11-13 23:56] sheecegardezi commented on #16881
What are the use of temporary files that get generated
core.ray*
core.raylet*
core.store.io*

[2021-11-14 00:02] #14446 closed

[2021-11-14 00:02] #14592 closed

[2021-11-14 00:02] #14597 closed

[2021-11-14 00:02] #16848 closed

[2021-11-14 00:02] #16789 closed

[2021-11-14 04:04] jjyao commented on #20068
@mmuru Could you try the latest daily build, seems the issue has been fixed in master.

[2021-11-14 04:53] jjyao opened #20334 "[CI][Bug] CI uploads wrong Ray PR wheels to S3."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Similar to #18702, the PR wheel that's uploaded to s3 can be wrong and doesn't have the matching commit.

### Versions / Dependencies

master

### Reproduction script

https://beta.anyscale.com/o

[2021-11-14 04:54] jjyao commented on #20334
cc @simon-mo @krfricke

[2021-11-14 06:36] joseph-long opened #20335 "[Bug] Cluster memory resource format gets unit conversion wrong"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

When trying to schedule a task with these options `{'resources': {'gpu_memory_mb': 4307}, 'num_gpus': 0.1, 'memory': 1025507328}` I got this message

[code]

This part, in particular, is wrong:

[2021-11-14 06:49] joseph-long commented on #20335
It would also be great to have "in bytes" added everywhere the unit is ambiguous in the docs. I spent a long time trying to figure out whether the problem was that I was requesting too much memory, or that error message itself was wrong about how much I was requesting. (The root of *that* issue was requesting a custom resource when it hadn't been listed on the command line when starting the nodes

[2021-11-14 06:51] AmeerHajAli opened #20336 "[Bug] [Tune] Can't get attribute 'new_block' on <module 'pandas.core.internals.blocks'"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

I ran the example from https://docs.ray.io/en/latest/train/examples/tune_cifar_pytorch_pbt_example.html, when it finished I got the following error:
[code]

### Versions / Dependencies

ray-ml

[2021-11-14 06:54] AmeerHajAli opened #20337 "[Bug] [Tune] pbt_transformers takes >30 minutes per epoch"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

I ran https://docs.ray.io/en/latest/tune/examples/pbt_transformers.html

and it took more 30 minutes to show loss/accuracy values.

### Versions / Dependencies

ray-ml 1.8, python 3.7

### Repr

[2021-11-14 07:08] AmeerHajAli commented on #20336
installing pandas 1.3.4 on both cluster + laptop solved the problem.
this is a duplicate of https://github.com/ray-project/ray/issues/15407

[2021-11-14 07:20] mmuru commented on #20068
@jjyao: Yes, it works now with the latest daily build. Thanks for your help. Could you tell me what was the issue?

[2021-11-14 07:52] #20336 closed

[2021-11-14 07:54] AmeerHajAli opened #20338 "[Bug] [Tune] checkpointing fails on k8s clusters"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

running https://docs.ray.io/en/latest/train/examples/tune_cifar_pytorch_pbt_example.html .. throws the following error:
[code]

### Versions / Dependencies

python 3.7, ray 1.8

### Reproductio

[2021-11-14 08:45] richardliaw commented on #15407
@AmeerHajAli can someone on serverless team treat this as P0 for GA?

[2021-11-14 08:57] edoakes opened #20340 "[runtime_env] Document remote URI support"
- Specify you can pass remote URIs for working_dir, py_modules
- Add a section describing the options supported (s3, gs, http) and pre-reqs for them (e.g., pip installs)
- Short "howto" on how to use HTTP for git repos

[2021-11-14 08:58] edoakes commented on #20340
@shrekris-anyscale a follow-up from your recent PR -- we need to get this in before the 1.9 branch cut!

[2021-11-14 09:00] rkooo567 commented on #16403
I think we can start working on adopting this feature once all of existing P1s are closed. ETA is 2~4 weeks. (at that point, we can say the existing pg is fairly stable). A couple acceptance criteria;

- This feature needs to be proved to be working with failures/stress. We need e2e test for this.
- Ideally the feature should be completely orthogonal to existing create/removal workflow (so we can

[2021-11-14 09:42] AmeerHajAli commented on #15407
I will check. But I think it will be hard to get this in for ray 1.9 and hence won’t be as useful for the GA.

[2021-11-14 09:54] #15035 closed

[2021-11-14 09:54] #14153 closed

[2021-11-14 10:10] #19940 closed

[2021-11-14 14:22] iasoon commented on #19771
What would expected behaviour here? As the error states, this results from trying to create a placement group with no resources associated. To resolve this issue we would either need to allow this in ray core, or not associate a placement group with a replica in this instance. I'm not sure whether it's fine to do the latter - I think this would result in different behaviour compared to deployments

[2021-11-14 18:16] #18430 closed

[2021-11-14 18:31] edoakes opened #20343 "[runtime_env] Support a local .zip file for working_dir"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

{"working_dir": "my_prepackaged_files.zip"}

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-11-14 20:02] jjyao commented on #20068
I think it's related to #20132

[2021-11-14 20:56] holdenk opened #20344 "[Bug] missing set_object_store_client_options"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I set `object_store_memory` on an actor but when the actor is initialized I get the following error:

[code]

### Versions / Dependencies

Commit 66aac2e21925f64255803d0002222ab0d69f6a51 on Ubu

[2021-11-15 00:11] AmeerHajAli opened #20348 "[release][nightly][pg] tune_cifar_pytorch_pbt_example does not work on nightly (Placement group error)"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

I ran with ray 1.8 it works, when I run with commit c0aeb4a2368ca9c53f055522eebd65bcfd457b07 I get the following error:
[code]

### Versions / Dependencies

python 3.7, ray c0aeb4a2368ca9c53f05

[2021-11-15 00:24] AmeerHajAli commented on #20348
@chenk008 / @ericl do you know what can be going wrong?

[2021-11-15 01:43] AmeerHajAli commented on #20348
Looks like this commit broke it: https://github.com/ray-project/ray/pull/20123
Before that it works.

[2021-11-15 02:14] Hankpipi commented on #18884
Hi @simon-mo! I'm trying to fix this bug, could you please help review my PR #20315 if you are free.

[2021-11-15 02:40] rkooo567 commented on #20348
The error message shows what’s happening here? It tries to schedule an actor to the bundle that doesn’t have requested resources. (The node resources .128 is not in the bundle). Should be the application error

[2021-11-15 03:11] ashione commented on #6730
@ancrs this issue will be closed if no more comments about exceptions.

[2021-11-15 03:11] #6730 closed

[2021-11-15 04:03] raulchen commented on #18524
[code]
I'm confused about the semantic of this. Does this mean that `func` will be scheduled to a node that is different from the current node?
If I submit 5 tasks with `scheduling_hint="SPREAD"`. What happens to them? Are those 5 tasks independent or will they be spread?

[2021-11-15 04:28] jovany-wang opened #20353 "[Java] Introduce isDetached flag."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description
We have introduced `detached` flag to indicate the lifetime of the actor in Python as following.
[code]
But we have not introduced it for Java API.

The API in Java could look like:
[code]

### Are you willing to submit a PR?

- [ ] Ye

[2021-11-15 04:36] pcmoritz opened #20355 "[Bug] Ray auto init interacts badly with allow_multiple=True and kills python shell"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

First start a Ray server with
[code]
and then run the following in an interactive IPython shell:
[code]

After the exception is thrown, press Control + C, and see that instead of gracefully ter

[2021-11-15 04:41] jovany-wang opened #20356 "[RFC][Java] `Ray.getActor()` returns an `Optional` instead of throwing exception."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

We return an Optional in Java `Ray.getActor()` while throwing an ValueError from Python `ray.get_actor(name)`
Should we align it to Python version? @kfstorm @chaokunyang @raulchen
Some backgrounds: https://github.com/ray-project/ray/p

[2021-11-15 05:41] ericl commented on #18524
The scheduler will do its best to spread them equally across different nodes, similar to SPREAD in placement groups. No guarantees though.

[2021-11-15 05:45] edoakes opened #20357 "[job submission] Better error message when runtime_env for the job fails to start up"

[2021-11-15 05:48] edoakes opened #20358 "[runtime_env] Add smart_open to default dependencies (?)"
Can't use HTTP paths out of the box.

[2021-11-15 05:49] edoakes commented on #20358
Alternatively, we could not use smart_open for HTTP

[2021-11-15 05:57] jjyao commented on #18581
Redo #20026 after this issue is fixed.

[2021-11-15 06:10] clay4444 commented on #18524
hmm... It sounds like SOFT SPREAD in placement group but without Gang Scheduler?

[2021-11-15 07:20] chrisn-pik commented on #15428
I get similar error messages. My code actually works for several hours well, but it crashes after roughly 24 hours. However, I do not really know when the first problems occur.

This shows the end of my error logs:
[code]

I am using Pytorch.

What should I do? I read [#10842](https://github.com/ray-project/ray/issues/10842), but do not understand how this is applicable to me.

I am running the jo

[2021-11-15 07:29] #20129 closed

[2021-11-15 07:33] wuisawesome commented on #20258
Ok, this was an extremely strange issue, looks like it's an underlying numpy bug. The following code only works with numpy >=1.20 (yes the code doesn't directly use numpy).

[code]

#20001 seems to be the culprit, but reverting it isn't going to fix the problem.

This code seems pretty fundamental to our block representation, so we should probably (1) add a numpy version constraint: `numpy >= 1.20

[2021-11-15 07:49] iycheng opened #20360 "[release][nightly] AWS&GCP related tests failed in nightly tests"
`aws_no_sync_down`: https://buildkite.com/ray-project/periodic-ci/builds/1625#45e54933-4ac2-47b4-ac01-1572fec9e210
`aws_ssh_sync`: https://buildkite.com/ray-project/periodic-ci/builds/1625#b1cc0af9-563d-439b-b1ec-1acc081fa7b3
`aws_durable_upload`: https://buildkite.com/ray-project/periodic-ci/builds/1625#2a15f70d-12c9-4aef-93e5-2fc35668878e
`gcp_k8s_durable_upload `: https://buildkite.com/ray-proj

[2021-11-15 07:51] iycheng opened #20361 "[release][nightly] `result_throughput_cluster ` failed"
https://buildkite.com/ray-project/periodic-ci/builds/1625#113bf939-dd99-4838-a0ca-583f219e79e8

[2021-11-15 08:05] iycheng opened #20364 "[release][nightly] `test_many_nodes_actor` failed"
https://buildkite.com/ray-project/periodic-ci/builds/1625#e0aae96e-b2a1-415b-bfdf-a30082141a25

[2021-11-15 08:06] jovany-wang commented on #13833
Reopening this.

[2021-11-15 08:07] iycheng opened #20365 "[release] `stress_test_placement_group` failed"
https://buildkite.com/ray-project/periodic-ci/builds/1623#8da12f64-be8b-4e31-8cb5-c7ff1282ed2a

[2021-11-15 08:08] rkooo567 commented on #20365
https://github.com/ray-project/ray/pull/20362

[2021-11-15 08:08] rkooo567 commented on #20365
Can you approve this?

[2021-11-15 08:17] #20365 closed

[2021-11-15 09:30] jovany-wang commented on #16474
I believe this issue was totally finished.

[2021-11-15 09:53] jovany-wang opened #20367 "[Java] Review Java doc pages and API reference."
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

_No response_

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-11-15 12:55] outdoteth commented on #12246
+1

[2021-11-15 13:39] zhe-thoughts commented on #20258
Thanks @wuisawesome.

What's the implication of constraining the NumPy version to be >= 1.20?

[2021-11-15 14:46] liuyang-my opened #20369 "We encountered the cast exception after we got result from ray actor task"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

If the return type of Java class method is Object and an int value is returned, the result of ray task for this class's actor is Byte. We expect the result is Integer, so it can be casted to in

[2021-11-15 15:36] jovany-wang commented on #20369
This is an xlang issue I believe. The root cause is messagepack treat very small integer as byte.

[2021-11-15 15:41] #20269 closed

[2021-11-15 15:55] jovany-wang opened #20372 "[RFC][Feature] Enhance xlang usability"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

I summarized the status quo of xlang usability. Feel free to comment on the doc.
https://docs.google.com/document/d/1m1uIqt1Fj4hBjSse3-rY6uchZPjnaLb86Ni0fxYzvVI/edit?usp=sharing

After we reviewing and discussing it, we'll make a prop

[2021-11-15 15:58] jovany-wang commented on #20372
@ericl @raulchen

[2021-11-15 16:34] wuisawesome commented on #20258
I think we can keep the constraint to the dataprocessing requirements (and just update the default version in our own docker images) so the implications should be fairly minimal.

It seems like the main implication is that we're going to be tightening the version constraints for the numpy dependency quite a bit (since 1.20.0 was released in january of this year).

[2021-11-15 16:47] Yard1 commented on #18027
@CMobley7 unfortunately it looks like the Optuna API we are using doesn't support multi-objective optimization just yet. I have opened an issue for that in the Optuna repo - https://github.com/optuna/optuna/issues/3100. I will be looking into Dragonfly soon.

[2021-11-15 17:04] clarkzinzow commented on #20258
@wuisawesome Note that we can't require `numpy>=1.20.0` until we drop Python 3.6 support, since NumPy dropped Python 3.6 support in 1.20.0: https://numpy.org/devdocs/release/1.20.0-notes.html#numpy-1-20-0-release-notes

[2021-11-15 17:07] clarkzinzow commented on #20258
For our CI, I think it's already the case that all Datasets jobs are on Python 3.7 or greater?

[2021-11-15 17:12] wuisawesome commented on #20258
Oh shoot, that's a good point. Maybe we can just add that version rule for python >= 3.7 then.

[2021-11-15 17:32] xwjiang2010 commented on #19305
@krfricke may have better context. I remember being told that it used to take ~20 seconds.

[2021-11-15 17:48] ckw017 opened #20376 "[Bug] test_basic_2_client_mode is flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

Possibly related to object ref changes

### Versions / Dependencies

N/A

### Reproduction script

N/A

### Anything else

N/A

### Are you willing to submit a PR?

- [ ] Yes I am willing to subm

[2021-11-15 17:48] ckw017 opened #20377 "[Bug] test_advanced_client_mode is flaky"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

N/A

### Versions / Dependencies

Latest

### Reproduction script

N/A

### Anything else

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2021-11-15 18:16] pcmoritz opened #20379 "[Bug] Tune tutorial "Quick Start" not working with Ray client"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Tune

### What happened + What you expected to happen

I'm trying https://docs.ray.io/en/latest/tune/index.html#quick-start with the Ray client and getting an error

[code]

### Versions / Dependencies

This is on Ray 1.8.0

### Reproduction script

[2021-11-15 18:17] amogkam commented on #20379
@pcmoritz can you make sure that you have the same version of pandas on both the client and the server.

@AmeerHajAli @ckw017 this error has come up before. Is there a better error message we can show here?

[2021-11-15 18:19] amogkam commented on #20379
@pcmoritz how are you setting up the dependencies on the server (are you using Ray docker image)? And can you also share what versions of Pandas you have on the client and server?

I can look into this to see if we can pin the version somewhere to avoid the mismatch.

[2021-11-15 18:22] pcmoritz commented on #20379
I had version 1.3.4 on the server and 1.2.0 on the client side, that's likely the cause of the failure.

[2021-11-15 18:37] mattip commented on #20173
It seems the crash is when touching `logging_provider_` in the destructor for the worker. If I comment out the debug print in the worker destructor, I still get a similar crash in `RayLog::~RayLog()` when it tries to delete `logging_provider_`.

[2021-11-15 18:37] pcmoritz commented on #20379
After upgrading the laptop version to 1.3.4, it is working. I think the TL;DR here is we need better reporting on mismatches of laptopt/server libraries to avoid such scary error messages.

[2021-11-15 19:00] richardliaw commented on #20379
This is a duplicate of this - https://github.com/ray-project/ray/issues/15407.

[2021-11-15 19:00] #20379 closed

[2021-11-15 19:02] igorgad commented on #15495
Hey, adding here for future reference. I was having the same problem with the new G5 instances. Setting `NCCL_P2P_DISABLE=1` solved the issue.

[code]

[code]

[2021-11-15 19:07] amogkam commented on #20361
@krfricke @xwjiang2010 can you guys look into this please? Thanks!

[2021-11-15 19:10] richardliaw commented on #15407
cc @pcmoritz who just ran into this issue.

[2021-11-15 19:11] fishbone opened #20381 "[workflow] Fail to construct workflow within a workflow"
[code]
The above script will fail.

[2021-11-15 19:16] kshuggins commented on #3115
as an aside, for future users.

using the default IAM role creation that ray uses doesn't permit IAM role pass through. So you can't just specify the correct Arn in the yaml config ( unless I seriously borked something ).

You also have to specify a permissions policy to permit it:
[code]

[2021-11-15 19:24] MarvinSt commented on #18599
interested to know about this possibility as well!

[2021-11-15 19:24] iycheng opened #20382 "[release][weekly] `horovod_test` failed"
https://buildkite.com/ray-project/periodic-ci/builds/1621#e0f6cc54-9425-4d8a-979f-4c41d0253799

It looks like config is wrong:
[code]

[2021-11-15 19:26] iycheng opened #20383 "[release][weekly] `impala_test` failed"
https://buildkite.com/ray-project/periodic-ci/builds/1621#211dac65-def0-44e5-8fda-4b8d69a6a36b

[2021-11-15 19:26] amogkam commented on #20382
Thanks! Will address this ASAP and re-run.

[2021-11-15 19:28] iycheng opened #20384 "[release][weekly] `serve_failure` failed"
https://buildkite.com/ray-project/periodic-ci/builds/1621#cb1e72c7-b235-4c37-b97d-304d62aa4ea9

The build timeout
[code]

[2021-11-15 19:28] gjoliver commented on #19993
Hi Sebastian, I chatted with the team, it is not clear what is the best way for us to support this in tf1.
Any reason you can't use tf2? We have recently made some improvements to make sure that tf2 is as performant as tf1.
Also not sure what exactly is your use case, still think maybe we can do this some other way.
I am gonna close this issue for now. Please reopen if this really is a show stoppe

[2021-11-15 19:28] #19993 closed

[2021-11-15 19:29] iycheng opened #20385 "[release][weekly] `learning_tests` failed"
https://buildkite.com/ray-project/periodic-ci/builds/1621#eeafa268-0368-4875-a5de-3aa8b998d3f5

[code]

[2021-11-15 19:32] amogkam commented on #20383
@gjoliver @sven1977 can you look into this please?

[2021-11-15 19:44] amogkam commented on #20385
@gjoliver looks like there's been some throughput regressions.

[2021-11-15 19:52] gjoliver commented on #20385
it is actually a testing harness bug, I probably introduced it. let me send you a PR soon.

[2021-11-15 20:08] mvashishtha opened #20388 "[Bug] modin-on-ray's unwrap_partitions is 100x slower on Mac than on Windows"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

I was doing some development on [Modin](https://github.com/modin-project/modin) and wanted to call [unwrap_partitions](https://github.com/modin-project/modin/blob/7a8158873e77cb5f1a5a3b89be4dda

[2021-11-15 20:15] iycheng commented on #20303
offline synced with @krfricke  it looks like train_small's failure is expected. I've verified the rest tests passed

https://buildkite.com/ray-project/periodic-ci/builds/1638#d330556d-6074-4d26-8c9c-49b65175d74f

[2021-11-15 20:15] #20303 closed

[2021-11-15 20:35] krfricke commented on #20327
See also https://github.com/dmlc/xgboost/issues/7436

I'm going to fix this this week.

[2021-11-15 21:30] simon-mo commented on #18884
Thank you for the contribution ❤️ @architkulkarni from our (Ray Serve) team will be helping review and suggestion!

[2021-11-15 21:31] simon-mo commented on #19771
I would suggest either:
- not associate a placement group with a replica in this instance (as you said) (preferred)
- or completely disallow this behavior in serve validation path.

@edoakes thoughts?

[2021-11-15 21:46] xwjiang2010 commented on #20361
Failing one: https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_vqCzKf8kExDdjCZgkfh4riqD?command-history-section=command_history

Successful one: https://beta.anyscale.com/o/anyscale-internal/projects/prj_2xR6uT6t7jJuu1aCwWMsle/clusters/ses_Yu3N4fe5YVnnj1NKfSc5QMBj?command-history-section=command_history

In failing ones, a bunch of
[code]
and
[code]
@kr

[2021-11-15 22:12] rkooo567 opened #20391 "[Bug] Dask on Ray 1TB sort broken on nightly test in master"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Looks like dask on ray 1TB starts breaking again; https://buildkite.com/ray-project/periodic-ci/builds/1634#7faebaf7-81ce-4066-8f5e-69ac4dc0da32
And this two commits could be related
https://gi

[2021-11-15 22:28] simon-mo commented on #20384
[code]

[2021-11-15 22:36] #20348 closed

[2021-11-15 22:38] simon-mo commented on #20384
hmm i'm not sure why would this happen. @edoakes @jiaodong can you help here?

looking at the stack, it looks like `actor_resources` are accessed before they are set during `start()`. But the codepath shows that this is only called when actors are in STARTING state.

[2021-11-15 22:40] simon-mo commented on #20384
here's the full 200M log file https://drive.google.com/file/d/1D9pCDV9F8Lkm7A_v14Oyl7TzSUr-zjDi/view?usp=sharing

[2021-11-15 22:52] crclark opened #20394 "[Bug] DatasetPipeline .iter_epochs() can lead to infinite loops"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Others

### What happened + What you expected to happen

#### The bug

Iterating over the epochs of a DatasetPipeline containing a finite number of epochs can loop forever in some cases where it should not.

This example from the Dataset docs works cor

[2021-11-15 22:53] rkooo567 opened #20395 "[Bug] test_threaded_actor seems to start hanging in the master."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Threaded actor stress tests seems to start failing. Looks like it is hanging (this succeeds 4~5 times in a row before this happens).

https://buildkite.com/ray-project/periodic-ci/builds/1634#8

[2021-11-15 23:14] richardliaw commented on #20395
Filtered out user name.

[2021-11-15 23:18] rkooo567 commented on #20395
Thanks for catching that!

[2021-11-15 23:18] simon-mo opened #20396 "[Serve][Bug] invalid runtime env cause Serve controller to error forever"
[code]

Serve doesn't support working per for per deployment because they won't be uploaded dynamically. However, this is erroring infinitely in controller, when you run the script, you can see the following printed out
[code]

cc @edoakes

[2021-11-16 00:05] mwtian commented on #20344
cc @scv119

[2021-11-16 00:24] yiranwang52 commented on #20360
Also CC @allenyin55
looks like permission in base image changed.

[2021-11-16 00:35] #19755 closed

[2021-11-16 00:39] ericl commented on #20372
Thanks @jovany-wang . Could you also share with comment access? Also cc @gjoliver

[2021-11-16 00:46] #16866 closed

[2021-11-16 00:46] #14506 closed

[2021-11-16 00:56] jovany-wang commented on #20372
@ericl DONE

[2021-11-16 00:56] edoakes commented on #19771
Prefer to not associate it with a placement group for now, but we should probably in parallel add support for a placement group with no resources (I'm sure others will run into this too). Let me file an issue but let's go ahead with the hackier solution for now.

[2021-11-16 00:57] edoakes opened #20401 "[placement group] Support placement groups with no resources"
### Search before asking

- [X] I had searched in the [issues](https://github.com/ray-project/ray/issues) and found no similar feature requirement.

### Description

Users may want to use the scheduling hints w/o resources for each actor.

Needed in Serve: https://github.com/ray-project/ray/issues/19771

### Use case

_No response_

### Related issues

_No response_

### Are you willing to submit

[2021-11-16 00:58] edoakes commented on #20401
@rkooo567 @scv119 I assume this should be straightforward? Can we get it prioritized?

[2021-11-16 01:05] rkooo567 commented on #20401
I think implementation-wise, it is simple, but what’s the use case? (This has no practical meaning iiuc). You can just schedule without specifying a bundle index or not use placement group at all?

[2021-11-16 01:18] michaelzhiluo opened #20402 "[Bug] [Ray Autoscaler] [Core] Ray Worker Node Relaunching during 'ray up'"
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Clusters

### What happened + What you expected to happen

Ray Autoscaler will relaunch the worker even if the head and worker node are both healthy and their file systems are identical.
This can be replicated by running `ray up` on most Autoscaler

[2021-11-16 01:23] yiranwang52 commented on #20360
To manually repro:
[code]
This isn't a problem with released version `ray:latest`

[2021-11-16 01:26] yiranwang52 commented on #20360
It's because in latest nightly, there is already a .boto in base image
[code]

[2021-11-16 01:26] clarkzinzow commented on #20329
Our locality-aware split probably isn't stable, i.e. we don't guarantee that (1) block ordering will be preserved within splits, or (2) block ordering will be preserved across splits; even if all actors are on the same node, we don't make that guarantee.

Is this actually a functionality issue, or just unexpected behavior?

[2021-11-16 01:39] #16973 closed

[2021-11-16 01:52] scv119 commented on #20395
bisecting: 6777a31751f6851feee7df1604e6139ac00a52e7 [passed](6777a31751f6851feee7df1604e6139ac00a52e7).

[2021-11-16 02:26] rkooo567 commented on #20334
Another example;

https://ray-ci-artifact-pr-public.s3.amazonaws.com/34a0845b190c15806256aa3f422e2dfdfb1195de/tmp/artifacts/.whl/ray-2.0.0.dev0-cp37-cp37m-manylinux2014_x86_64.whl

Contains 846bdaf687ab5f2a7b84c02901baa68ec5c0e772

[2021-11-16 02:32] DmitriGekhtman commented on #20402
By relaunches the worker do you mean restarts Ray on the worker?

Ray up restarts Ray across the cluster by default.
To avoid the restart, add the flag `--no-restart`.

Let me know if that makes sense / solves the issue.

[2021-11-16 02:46] michaelzhiluo commented on #20402
Thanks for the quick reply! By relaunching the worker, I mean that the Autoscaler stops the EC2 worker node and restarts it again. Here is what we are trying to avoid in the image below. When we are running `ray up` again, we want to prevent the worker from relaunching from scratch.
<img width="501" alt="Screen Shot 2021-11-15 at 6 45 38 PM" src="https://user-images.githubusercontent.com/20640975/

[2021-11-16 03:26] scv119 commented on #20395
bisecting:  477b6265d98cb03676c1021df314d0769e43e885  [passed too](https://beta.anyscale.com/o/anyscale-internal/projects/prj_SVFGM5yBqK6DHCfLtRMryXHM/clusters/ses_g7mYRhm3vFjaDfFaEJ3zKk7T?command-history-section=command_history)

[2021-11-16 04:35] yiranwang52 commented on #20360
it was added in #8020.
It has the same content as the .boto file these tests are trying to add for GCP.
Better to update the tests to remove this line.

[2021-11-16 04:36] #20391 closed

[2021-11-16 04:44] yiranwang52 commented on #20360
Fix: https://github.com/ray-project/ray/pull/20407/files

[2021-11-16 04:48] scv119 commented on #20395
bisecting: 117219557190101d5a7cf776843e602ec5d06e74 [passed too](https://beta.anyscale.com/o/anyscale-internal/projects/prj_SVFGM5yBqK6DHCfLtRMryXHM/app-config-details/bld_1an5Dx5Ga6tg37qgwcYwe7X3)

[2021-11-16 04:50] #20360 closed

[2021-11-16 04:53] rkooo567 opened #20408 "[Bug] Lineage reconstruction not working always with no streaming shuffle."
### Search before asking

- [X] I searched the [issues](https://github.com/ray-project/ray/issues) and found no similar issues.

### Ray Component

Ray Core

### What happened + What you expected to happen

Please refer to https://github.com/ray-project/ray/pull/20277#discussion_r748034969

When enabling commented out test, I discovered the test is not passing as expected.

In the non streaming sh

[2021-11-16 05:07] rkooo567 commented on #20395
Hmm... not great lol.

Maybe we can bump down the priority and collect more data in this case?

[2021-11-16 05:17] jovany-wang commented on #20372
@kira-lin cc

[2021-11-16 05:35] DmitriGekhtman commented on #20402
Got it.
Yeah, that's a bug. Could you post autoscaler logs after running ray up again? (`ray monitor cluster.yaml`, or the contents of `/tmp/ray/session_latest/monitor.*`) Those should have some lines explaining why the worker was taken down.

[2021-11-16 05:45] michaelzhiluo commented on #20402
[code]

[2021-11-16 06:25] #17748 closed

[2021-11-16 06:25] #18317 closed

[2021-11-16 06:40] ericl commented on #20401
In the spirit of not supporting hacks, would implementing the colocation scheduler hint avoid the need for this? https://github.com/ray-project/ray/issues/18524

[2021-11-16 06:46] DmitriGekhtman commented on #20402
had a typo in path: `/tmp/ray/session_latest/logs/monitor.*` on the head node for the autoscaler logs

those look like driver logs (as opposed to autoscaler logs)

Those logs are helpful, though.
What we're seeing is that ray on the worker is failing to get restarted, so the autoscaler freaks out and shuts the worker down before launching a new one to satisfy the min_workers constraint.

Logs for

[2021-11-16 06:48] Sud0x67 commented on #19938
I use conda env and encounter the same problem.

[2021-11-16 07:07] DmitriGekhtman commented on #20402
ok, seeing the weirdness with the default example configs

[2021-11-16 07:15] DmitriGekhtman commented on #20402
[code]

[2021-11-16 07:28] DmitriGekhtman commented on #20402
@kfstorm @wuisawesome What does the error message mean? I see it mentions containers -- we do have those here.