[2020-01-30 07:00] ocorcoll opened #6968 "[ray] ray on slurm not respecting memory limits"
## What is the problem?
When running a ray script in Slurm (single node), it seems that ray is not respecting the memory limitations specified in ray.init. As I understand, the below script should fail with some memory limit error from Ray but instead is the cluster that fails. I book 40GB from the cluster and limit Ray memory to 1GB for workers and 1GB for the object store. It seems to consume th

[2020-01-30 08:07] AmeerHajAli commented on #6952
should be fixed in #6969

[2020-01-30 08:12] ericl commented on #6958
You need to pass the policy id to get policy, otherwise it tries to get the "default" policy which may not exist in multiagent.

[2020-01-30 08:13] justinkterry opened #6970 "[RlLib] Strange behavior surrounding episode reward vs policy reward in multiagent environments"
I have two similar multiagent RL environments, that I'm learning using a single policy network in the multiagent spec.

In environment A, everytime a good cooperative goal happens, every agent gets a reward. In this case my environment reward is the total reward given to all the agents ever, and my policy reward is that divided by the number of agents. This seems like the expected behavior.

In en

[2020-01-30 08:18] ericl commented on #6950
Check out https://github.com/ray-project/ray/blob/60d4d5e1aaa9fde3cf541ee335e284d05e75679c/rllib/tests/test_external_env.py

There is also the cartpole server example (look for the policy server class).

I think what you want is something like a bluesky client in an externalenv, which pulls actions from the policies when needed, and communicates them to the sim.

[2020-01-30 08:34] #6819 closed

[2020-01-30 08:42] richardliaw commented on #6953
Can you provide an issue for reproduction for what you tried and what errors you got?

Also you should be able to access trial names as:

[code]

[2020-01-30 08:43] richardliaw commented on #6938
Hi Nina, can you update to the latest version of Ray? (0.8 or even better, latest wheels)

[2020-01-30 09:04] devanderhoff commented on #6950
Thanks for the comment! I was looking at the cartpole server example indeed.
As for the bluesky client class, its a bit messy as it uses continuous zmq polling to get updates, which creates lots of overhead.
Ill try and think of something, can I add questions to this issue on a later date?

Thanks!

[2020-01-30 10:28] amitsadaphule commented on #4309
@felker I was able to get past the plasma build error by adding "--cxxopt=-std=gnu++0x" option to the bazel build command. Also, about nelhage/rules_boost@ebd1dd7, I've used a patch with a subset of those changes during ray 0.7.7 and 0.8.1 build. The reason being ray is using an old commit from https://github.com/nelhage/rules_boost repo.

[2020-01-30 15:59] bavaria95 opened #6976 "Sharing in memory"
Hi!
The project seems great, but I have an issue.

I'm having a relatively big dictionary (str -> int pairs), which I'm dumping to plasma store and want to use from the workers. If I understand correctly, it does have to download this dictionary from plasma, unlike if it was numpy array (however dict is to be used in read-only mode. any ways to avoid copying it to workers at all?). But what I don'

[2020-01-30 16:12] felker commented on #4309
Great! I will try that out. Can you share the patch?

I added a Travis CI `ppc64le` build to their repo in https://github.com/nelhage/rules_boost/pull/161 and this basic example could help for building a similar pipeline for this project.

[2020-01-30 17:10] fabianrbz opened #6977 "[rllib] MARWIL does not support ModelV2 models"
### What is the problem?

Ray version: 0.7.3
Os: macOs Mojave
Python: 3.7.4

I'm trying to run `Marwil` with a custom environment and a parametric action space. I was able to run DQN with the same env and action space by following https://ray.readthedocs.io/en/latest/rllib-models.html#variable-length-parametric-action-spaces and defining:
* [original env](https://gist.github.com/fabianrbz/b8d6cc67

[2020-01-30 17:36] Hailey-Liu opened #6978 "Problem with deploying on slurm"
Hello all,

I encounter the following error when try to run the [slurm example](https://ray.readthedocs.io/en/latest/deploying-on-slurm.html) on a cluster managed by slurm.

Ray version: 0.8.1
Python version: 3.7.5

[code]

[2020-01-30 17:46] #6952 closed

[2020-01-30 18:58] ericl commented on #6977
Ah, this is because MARWIL has not been upgraded to use ModelV2. You can probably still use custom models by extending the legacy rllib Model class (rllib/models/Model).

Or you can try changing the get_model() call in marwil_policy.py to get_model_v2(), but this might involve significant changes to marwil to get it working.

Btw, one other thing I noticed is your custom model is extending Distrib

[2020-01-30 19:00] ericl commented on #6976
Only certain data types can be kept in shared memory, such as numpy arrays. Dicts cannot, so it requires a copy on each read.

[2020-01-30 19:01] ericl commented on #6968
Ray doesn't actually enforce limits on `memory` -- that is only a hint for scheduling purposes (if you specify memory requests in task decorators). So it is up to your application to not exceed its memory.

[2020-01-30 19:03] ericl commented on #6970
The environment reward should be (mean) sum of all _agent rewards_ per episode.

Each policy reward will be the (mean) sum of all _agent rewards_, for agents assigned to that policy, per episode.

(and we don't track individual agent rewards since envs may have infinite number of randomly generated agent ids, etc.)

Let me know if that is not what you're seeing.

[2020-01-30 19:08] ericl commented on #6962
Interesting, previously we saw more on the order of 20-30% slowdown with torch only. It looks the configs you're using are the same as we benchmarked.

By the way, the inference for rollouts is done on CPU only, so it's odd it's much slower at 40ms.

cc @sven1977

[2020-01-30 19:16] justinkterry commented on #6970
That's not what I'm seeing, and this is with the general multi agent API not MADDPG. Note here that there's only one policy for many agents.

For env A) policy reward appears to be mean of rewards per episode, env reward is sum of rewards per episode
For env B) policy reward appears to be sum of rewards per episode, env reward is some number of unclear origin or meaning larger than policy reward.

[2020-01-30 19:17] justinkterry commented on #6970
Also, this different between the two should be in the documentation and isn't

[2020-01-30 19:30] ericl commented on #6977
Ah, https://github.com/ray-project/ray/pull/6975 looks like it might fix it.

[2020-01-30 19:41] ericl commented on #6970
(B) does sound odd. You can see how the metric logic works in `metrics.py`:

[code]

Maybe adding some debugging code here would help. The `summarize_episodes` function is passed the full record of rewards for each agent in the env (for each episode, a map from (agent_id, policy_id) -> total reward for the agent), so you should be able to track down any calculation discrepencies just in this funct

[2020-01-30 20:08] justinkterry commented on #6970
I'll take a look into that. There's one other piece of potentially relevant information- tensorboard can't recognize the log file folders for env B, but they look completely normal to everyone else I've shown them to. I just kinda gave up on the issue.

[2020-01-30 20:20] justinkterry commented on #6970
Also, just to be clear, the reward the policy learns with is the policy_reward right? Because if that's the case then this is an "after ICML" problem.

[2020-01-30 20:27] ericl commented on #6970
Yeah, policies always learn on their own rewards, never the global one .

On Thu, Jan 30, 2020, 12:20 PM Justin Terry <notifications@github.com>
wrote:

[2020-01-30 21:57] bavaria95 commented on #6976
Since the object hasn't changed, why isn't it just saved to local (i.e. worker's) storage?

[2020-01-30 22:13] felker commented on #4309
I got it working with Ray 0.8.0 with the following changes:

[code]
where I specified the latest `master` revision of https://github.com/nelhage/rules_boost/commit/67ddc505bc5ad5a15562f07e4954ac2011177e13
(not sure how to update the `sha256` field in `ray_deps_setup.bzl`).

After these changes (and the above mentioned steps to get Bazel and Pyarrow), `python3 setup.py bdist_wheel` successfully bui

[2020-01-30 22:51] shawn-rigdon commented on #6800
I just tried this to make sure, but I get the same error from my last comment.  Notice the last couple of lines in the trace from that error message.
[code]
shawnr is the user who ran `ray up cluster.yaml`, and raytest is the user who ran `ray.tune()`.  I can only speculate, but it seems ray does not manipulate system files with a group user resulting in a mix, where parts of the code seem to be t

[2020-01-30 23:40] deanwampler opened #6985 "build.sh should be more specific about the allowed Python version"
I ran into an issue where `build.sh` dutifully detected I have Python 3.8 installed, but then the build mysteriously failed when it couldn't find the `0.14.0.RAY` wheel for `pyarrow`. That happened because no wheel exists at this time for Python 3.8.

So,

1. `build.sh` should only allow versions of Python that are supported, i.e., for which artifacts exist.
2. As an extra sanity check, if the `py

[2020-01-31 00:18] edoakes commented on #6985
@mehrdadn maybe you could take a look at this when you have a chance? No rush.

[2020-01-31 00:32] edoakes commented on #6718
The `/dev/shm` usage will be cleared once the object store goes down. This should be done by `ray.shutdown()` if you called `ray.init()` in the same process, otherwise you'll have to call `ray stop`.

[2020-01-31 06:02] #4953 closed

[2020-01-31 07:32] rusu24edward commented on #6875
Here are few resources that have helped me better understand the MultiAgentEnv:

https://ray.readthedocs.io/en/latest/rllib-env.html
https://github.com/ray-project/ray/blob/master/rllib/examples/rock_paper_scissors_multiagent.py#L7
https://github.com/ray-project/ray/blob/master/rllib/examples/multiagent_two_trainers.py
https://github.com/ray-project/ray/blob/master/rllib/examples/multiagent_cartpo

[2020-01-31 07:44] rusu24edward opened #6986 "[Question][rllib] Stochastic Game tensorboard separate rewards"
### What is your question?

I am designing a simple stochastic game wherein I have two agents. The first agent (the good guy) is rewarded according to some task. The second agent (the adversary) is rewarded negative proportional to the first. This is to encourage the adversary to screw up the good guy.

As a first pass, I just set the reward of the adversary equal to negative the reward of the goo

[2020-01-31 08:07] amitsadaphule commented on #4309
That's great @felker ! Good that it's building properly with master from https://github.com/nelhage/rules_boost/commit/67ddc505bc5ad5a15562f07e4954ac2011177e13 and no patch is needed to be applied to it from ray. I'll try that as well when I try to build ray master.

Also, could you check if you're able to execute the unit tests? For me, it is complaining about a couple of missing packages and mos

[2020-01-31 08:18] rusu24edward commented on #6875
In particular, in looking at the [MultiAgentEnv](https://github.com/ray-project/ray/blob/master/rllib/env/multi_agent_env.py) interface documentation, we should notice a few things between MultiAgentEvnv and gym.Env.

Similarities:
1. We must implement the reset and step functions.

Differences:
1. We do not have to define an observation_space or an action_space in the environment. That doesn't ac

[2020-01-31 08:29] saibalmars commented on #6976
Hi, sorry about hijacking this topic, I'm using python Dicts for ray.put also since the document said it's supported (and now I know it's not optimized).

So I'm curious about the data types that are supported by ray.put that can be kept in shared memory, is there a list or documentation somewhere? Specifically, does ray.put's "kept in shared memory" feature support sparse matrix such as scipy.spa

[2020-01-31 08:52] #5561 closed

[2020-01-31 08:52] #6806 closed

[2020-01-31 09:17] LucCADORET commented on #2536
Hi, sorry for digging this old issue. I am pretty new to machine learning in general, and this use_lstm option also bugs me. My main concern is why, with usual LSTM inputs, we input a 3D array (batch x time x features), but in all the exemples with use_lstm provided (such as https://github.com/ray-project/ray/blob/5d7afe8092f5521a8faa8cdfc916dcd9a5848023/rllib/examples/cartpole_lstm.py ), only a 2

[2020-01-31 10:49] brukau commented on #5592
it seems like this behavior is not the same anymore since ray==0.7.7, i.e. running the same code in 0.7.6 and 0.7.7 returns different results

System information
Linux Ubuntu 18.04.3 LTS
ray istalled from binary binary (pip)
ray==0.7.7
Python 3.7.5

[2020-01-31 12:26] antonwnk commented on #6978
The error seems to be SLURM-related, specifically, the CUDA_VISIBLE_DEVICES variable looks like it's being set to 'NoDevFiles'.
These came up when googling for it: [[1]](https://bugs.schedmd.com/show_bug.cgi?id=2626), [[2]](https://www.cs.vu.nl/das/gpu.shtml), [[3]](https://serverfault.com/questions/685258/why-does-requesting-gpus-as-a-generic-resource-on-a-cluster-running-slurm-with-t) - hope it'

[2020-01-31 12:51] hokiegeek2 opened #6988 "ray plasma object store connection refused after 24hrs"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 Docker
- Ray installed from (source or binary): binary with pip in Docker container
- Ray version: 0.7.5
- Python version: 3.6.3
- Deployment: deployed in Docker on Kubernetes
- Exact command to reproduce: ray.is_initialized() is the call I see the error, but the

**What's the problem?**

I am deploying

[2020-01-31 15:26] sven1977 commented on #6732
Looking at this now. It's related to #6928  .

[2020-01-31 15:28] sven1977 commented on #6732
We should check the return values of custom `get_initial_state` methods for correct shape (no batch rank! no time rank!) and then unify the behavior and expected shapes (forward pass -> convert to batch=1, etc..). In PPO, the algo adds its own dim-conversion logic in the ValueFunction mixin, which adds more confusion.

[2020-01-31 16:22] devanderhoff commented on #6950
Works like a charm, thanks! A few questions remain:
1) When does the trainer train? As it cannot stop the simulator from providing data. So for on_policy methods, what exactly happens then? It does a sort of "off_policy" on_policy training?
2) Should the simulator stop providing observations when training?
3) If creating multiple workers on the simulator side, the episode ID distinguishes between

[2020-01-31 17:05] TisonKun opened #6990 "Example fails with redis.exceptions.ConnectionError: Connection closed by server."
### What is the problem?

env

[code]

script

[code]

stdout

[code]

If we cannot run your script, we cannot fix your issue.

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [ ] I have verified the issue also occurs with the [latest wheels](https://ray.readthedocs.io/en/latest/installation.html).

[2020-01-31 17:40] rusu24edward opened #6991 "[Question] [rllib] Not all agents may be present in the dict in each time step"
### What is your question?

I am attempting to create a stochastic game environment where the agents take turns. Each agent's turn modifies the state that the other agent would see. The [multiagent docs](https://ray.readthedocs.io/en/latest/rllib-env.html#multi-agent-and-hierarchical) seem to indicate that some agents may not be present in each time step, and that only those agents who are present

[2020-01-31 17:43] robertnishihara opened #6992 "Don't run Java or sanitizer tests when only Python changes."
For example, in https://github.com/ray-project/ray/pull/6983, we ran both.

[2020-01-31 18:23] robertnishihara opened #6993 "Allow `ray up` to take URL as argument."
To get started with the autoscaler, we tell people to run a line like `ray up ray/python/ray/autoscaler/aws/example-full.yaml`. In practice, the steps are

1. Figure out that this means you have to clone the Ray repository.
2. Clone the Ray repository.
3. Figure out the new correct relative file path based on where you cloned it.
4. Run `ray up ...`.

Instead, we could let people just copy and pas

[2020-01-31 18:23] #6635 closed

[2020-01-31 19:22] anqixu opened #6994 "[tune] Use Aggregated metric for tuning across seeds"
Not sure if this is already a feature or not, please forgive and provide insight :)

While I haven't tried yet, I understand that tune has support for search algorithms (like BO, spearmint, etc.), which decide on new hparam settings to try based on the performance of previous hparam trials.

It is known that [modern RL agents tend to be very sensitive / result-dependent on their initial random num

[2020-01-31 21:32] ericl commented on #2536
RLlib records the episode lengths in a separate seq_lens tensor, and
automatically adds the time dimension based on the sequence lengths prior
to passing the data to the LSTM.

On Fri, Jan 31, 2020, 1:17 AM LucCADORET <notifications@github.com> wrote:

[2020-01-31 21:35] ericl commented on #6950
For synchronous on-policy methods, the sampler will actually stop "providing" action returns while the trainer is not sampling. So there is no off-policy behaviour. If you want to allow the simulation to keep querying actions during optimization phases, you can set sample_async: True (but this will introduce some off-policy data as noted).

I think as long as the simulator can handle long delays i

[2020-01-31 22:31] felker commented on #4309
Both TensorFlow and gRPC are available on IBM's Conda channel, e.g.:
- https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/linux-ppc64le/grpc-cpp-1.23.0-568.g4f71a06.tar.bz2
- https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/linux-ppc64le/tensorflow-1.15.0-gpu_py37_841.g50de12c.tar.bz2

I also had to install the Cython examples from the Ray documentatio

[2020-01-31 22:37] pcmoritz commented on #4309
@felker Sorry I just saw your message from above! On Python >= 3.6, Ray should be able to run without our custom version of pyarrow, and we are working towards removing that as a built in dependeny, so you shouldn't need to get that working on power pc :)

[2020-01-31 23:00] richardliaw commented on #6993
Actually, even better, maybe we can have default cluster profiles available.

For example,

[code]

[2020-01-31 23:03] felker commented on #4309
@pcmoritz fortunately, I was able install pyarrow from IBM's Conda channel and use `export SKIP_PYARROW_INSTALL=1` to bypass the custom pyarrow stuff.

Still, Travis CI `ppc64le` containers could be useful to build and deploy Ray wheels for that architecture.

[2020-01-31 23:13] bek0s commented on #4417
Hi all,

First of all, thank you for this great framework. I was wondering if there is a [`dask.distributed.Client`](https://distributed.dask.org/en/latest/client.html)-equivalent in Ray.

The reason for asking about this is the following scenario: Imagine that you have a supercomputer with two different kinds of nodes (CPU-based, and GPU-based), and the administrators have setup two separate ray

[2020-01-31 23:22] pcmoritz commented on #4309
@felker Great to hear that! You should free to create a PR that adds the ppc64le build to the Ray matrix to build the wheels!

[2020-02-01 00:21] ericl commented on #6991
I think the error is unrelated to multi-agent: it's saying you need to return `np.array([1,2,3])` for the Box instead of `[1, 2, 3]`, which is required by the gym Spaces interface.

[2020-02-01 00:56] robertnishihara commented on #4417
@bek0s, I see, so the thing you want to do is to have an application that submits different tasks to different Ray clusters, right?

There are two parts to this.

1. Allowing you to have a Python script connect to a Ray cluster from outside of the Ray cluster. We are planning to do this, but it isn't implemented yet. There was some preliminary work on this a while back in https://github.com/ray-pr

[2020-02-01 01:03] simon-mo commented on #6993
The url thing is a standard practice in kubernetes world. for example https://aws.amazon.com/premiumsupport/knowledge-center/eks-cluster-kubernetes-dashboard/

[2020-02-01 01:07] robertnishihara commented on #6993
@richardliaw the thing I like about the URL approach is that it is extensible, so if I write a blog post, I can host my own cluster yaml somewhere and then give people one command to run to reproduce the experiments.

[2020-02-01 01:12] bek0s commented on #4417
Hi @robertnishihara,

I really appreciate the quick response. It is good to know that the features I would like to see are not impossible to implement due to some fundamental limitation of Ray. Indeed, my use case is quite unusual, and I think the current Ray API design should suffice for most cases. Nevertheless, any future developments related to the above-mentioned features will be more than we

[2020-02-01 01:43] ericl commented on #6986
Are you using separate policies for each agent? You can view the individual policy scores under the `policy_X_reward_mean` etc keys.

[2020-02-01 02:30] ericl commented on #6962
I did a bit of digging into this and it seems to happen when `OMP_NUM_THREADS` is not set. Here blue is pytorch with OMP_NUM_THREADS unset, and orange is torch with OMP_NUM_THREADS=1.

![image](https://user-images.githubusercontent.com/14922/73585385-aaff7a00-4455-11ea-8a5d-d08143035005.png)

This patch should auto set it to avoid it: https://github.com/ray-project/ray/pull/6998/files

[2020-02-01 02:41] #6977 closed

[2020-02-01 02:44] thiagocrepaldi commented on #6155
Experienced something similar.

I created a base class `BaseReader`, which was then extended on a new class `CoolReader(BaseReader)`. The extended class was then decorated with `@ray.remote` and instantiated as `cool_reader = CoolReader.remote()`

when I try to run `results = cool_reader.func.remote(0)`, I get:

2020-02-01 02:39:16,989 ERROR worker.py:1003 -- Possible unhandled error from worker:

[2020-02-01 02:53] edoakes commented on #6962
To summarize, the issue is that if `OMP_NUM_THREADS` is too low, `ray.put()` becomes slow. If `OMP_NUM_THREADS` is high, then we see performance degradation like the above due to thrashing.

@ericl  and I discussed, we think the most reasonable solution is:

- Force it to `1` by default and print a warning in the driver if unset.
- Print a warning if it is set to `1` and `ray.put()` is slow (or `r

[2020-02-01 03:32] #6860 closed

[2020-02-01 05:03] deanwampler opened #6999 "The project `setup.py` script doesn't install tools needed by `ci/travis/format.sh`"
When you attempt to push local work upstream, `ci/travis/format.sh` is executed. It expects to find:

* `yapf` version `0.23.0`
* `flake8` version `3.7.7`
* `clang_format` version `7.0.0`

It would nice if `setup.py` installed the first two with `pip` and checked that the installed version of `clang_format` is what's expected.

[2020-02-01 06:25] #3746 closed

[2020-02-01 08:48] xdever commented on #4309
Thanks for everyone! I'm glad to see this great progress. However, @felker be aware that in order to use ray on a mixed architecture cluster, you have to have exactly the same version of pyarrow on all of them, including the ".RAY" at the end of the version number. So probably the IBM Conda version would work only in case every machine is PPC64. Alternatively, as a hack, one could remove on the he

[2020-02-01 10:14] devanderhoff commented on #6950
Thanks a bunch! Your comments reminds me of a mistake I should solve.

[2020-02-01 12:17] roireshef opened #7001 "Building from source fails on pyarrow setup"
### What is the problem?

Trying to install ray from source by running "pip install" (no conda nor virtualenv, on plain Ubuntu) fails while building with the following exception:
[code]

This issue is probably a pip abuse (trying to use both _--user_ (implicitly?) and _--target_ (explicitly) flags) discussed in [here](https://askubuntu.com/questions/924564/installing-python-packages-using-pip)

##

[2020-02-01 16:09] linjohn commented on #6900
I've just encountered the same error on WSL:

- Windows 10 Pro Version 1909
- Ubuntu 18.04 LTS
- Python 3.6.9
- ray==0.8.1
- psutil==5.6.7
- setproctitle==1.1.10

`Traceback (most recent call last):
  File "test.py", line 59, in <module>
    ray.init()
  File "/mnt/c/Users/User/x/.venv/lib/python3.6/site-packages/ray/worker.py", line 743, in init
    ray_params=ray_params)
  File "/mnt/c/Users/Use

[2020-02-01 16:14] linjohn commented on #6900
I've just encountered the same error on WSL:

- Windows 10 Pro Version 1909
- Ubuntu 18.04 LTS
- Python 3.6.9
- ray==0.8.1
- psutil==5.6.7
- setproctitle==1.1.10

[code]

[2020-02-01 16:43] mehrdadn commented on #6900
Oh, this is exactly what I tried to fix in #6808. @pcmoritz thoughts?

[2020-02-01 17:15] linjohn commented on #6900
I've found a workaround. You need to downgrade `psutil` to at least version 4.3.1. Then `ray.init()` starts without difficulty.

[code]

[2020-02-01 18:42] linjohn commented on #6832
I get a similar message on WSL. Ray continues the processing though but in the dashboard all information are displayed with "0". Not sure if clusters would work.

- Windows 10 Pro Version 1909
- Ubuntu 18.04 LTS
- Python 3.6.9
- ray==0.8.1
- psutil==4.3.1
- setproctitle==1.1.10

[code]

[2020-02-01 18:49] devin-petersohn opened #7004 "ValueError: Resource quantities must be at most 40000."
Resource quantities are still causing problems for Modin. In an x1e.32xlarge, I cannot specify enough memory. The limit seems arbitrary, why is it 40000? Ideally Ray would allow me to run on these large memory machines using all of the resources.

Error below.
[code]

[2020-02-01 20:16] pmacalpine commented on #6962
Thanks for looking into this issue!  The fix in #6998 of setting OMP_NUM_THREADS=1 speeds things up and makes it much closer in performance to the tensorflow version of PPO.

The other equally problematic bug in this issue is that torch PPO is slowly eating up all the system RAM until all RAM is exhausted and the process is killed.  I still see this problem with OMP_NUM_THREADS=1.

[2020-02-02 00:32] ericl commented on #6962
@pmacalpine do you know which process is eating the RAM, is it the trainer or the workers?

[2020-02-02 03:12] pmacalpine commented on #6962
I think it is the workers.  In the log error.txt it says the following:
[code]

[2020-02-02 06:12] #6907 closed

[2020-02-02 07:19] jiahao87 opened #7008 "[tune] tune.run does not contain progress_reporter as indicated in documentation"
Using the latest 0.8.1 version of ray, but looking at the tune.py script in my local site-packages, the function run seems different from the one in Github. E.g., the run function does not contain progress_reporter parameter. I was also not able to perform "from ray.tune import CLIReporter". Terminal reported "ImportError: cannot import name 'CLIReporter'". Tried upgrading many times by "pip insta

[2020-02-02 13:15] matthewearl opened #7009 "[RLlib] Multi-cat. action space + PPO gives `Incompatible shapes: [128] vs. [2]`"
### What is the problem?

Ray version: 0.9.0.dev0
TF version: 2.1.0
OS: Ubuntu 16.04.4 LTS

When using a multi categorical action space with PPO, then an error occurs upon training:

[code]

I did a bit of debugging of the issue myself and discovered the problem appears to be in the definition of  `Multicategorical.kl`.  Make the following change (ie. change `axis` to 0) and the problem disappears

[2020-02-02 17:11] KaleabTessera opened #7011 "[tune] Hyperband Scheduler Not working"
### What is the problem?
Hyperband scheduler doesn't work. Some experiments succeed but about 50% fail.
I tried Ray version 0.7.2 and 0.9.0.dev0 running python 3.7 on Ubuntu 18.04.

The ` def update_trial_stats(self, trial, result)` function fails and here is the error:
[code]

I have run  `validate_save_restore(trainable_class, config=validate_save_config)` and
 `validate_save_restore(trainable_c

[2020-02-02 22:45] richardliaw commented on #7008
This problem should be gone if you install the latest wheels for the master branch. https://ray.readthedocs.io/en/latest/installation.html

[2020-02-02 22:45] #7008 closed

[2020-02-02 22:45] richardliaw commented on #7008
I've also enabled the 0.8.1 docs to match with the release. Feel free to reopen if you run into any more issues.

[2020-02-03 01:16] chaokunyang commented on #6944
@simon-mo `&buffer[0]`  is a bug. But `deserialize_args` shouldn't fail. Since there won't be a empty buffer of length 0, maybe this is a problem existed before. I'll look into this and submit a PR after I figured out.

[2020-02-03 02:51] drozzy opened #7016 "Easiest way to load/play a checkpoint after training is done? [tune]"
How do you guys currently manage the case of "I want to load up a saved checkpoint of that model from last week and play an episode with it?"

What is the easiest way to find the directory of the latest checkpoint for a given trainable class? There are two different directories where stuff is stored and I can't seem to ever remmember where things are.

Right now I have to open tensorboard, lookup

[2020-02-03 03:05] raulchen commented on #6944
I think @jovany-wang has encountered and fixed this bug in our internal version.

[2020-02-03 04:16] oroojlooy commented on #6875
Thanks @rusu24edward for the explanation. I agree with you that the `MultiCartPole` example is misleading, and we need to define agents who inherit form `gym`, and multi-agent env only needs to inherit from MultiAgentEnv. As I explained I have defined the state, action, reward, and done  as dictionaries. Inside each state, the observation is saved by a `list`. My main problem is to define the `obs

[2020-02-03 05:32] richardliaw opened #7017 "[tune] End-to-end wandb example for model training"
There's no way to use `wandb.watch(my_model_instance)` with tune. This call is to track gradient and save the model graph, to show sth. like this
![image](https://user-images.githubusercontent.com/17963619/65387321-d0c69500-dd78-11e9-8238-422e3d0bf3bc.png)
The problem [user] encountered is `watch` should called after `init`, but if we put `watch` in logger like below, we can't catch the model inst

[2020-02-03 05:37] richardliaw commented on #6696
Should be fixed!

[2020-02-03 05:37] #6696 closed

[2020-02-03 06:49] #7004 closed

[2020-02-03 07:18] jovany-wang commented on #6944
Yes, I have ran into this issue before in xlang. I‘m not sure it's the same issue as this one.

Anyway, it's actually a bug, I'll look into it later as well.

[2020-02-03 08:54] amitsadaphule commented on #4309
Thanks @felker for the quick reply on unit tests! I'll try it out.

[2020-02-03 10:56] antonwnk opened #7018 "[tune?] Performance Bottleneck warnings - operation took x seconds [...]"
### Describe your feature request

After seeing ``The `step_name` operation took x.xx seconds to complete, which may be a performance bottleneck.`` warnings several times with different step names and time ranges I'm not sure whether the warnings are supposed to tell me my steps are running too long or too short.
I think the warning message could be made more instructive by including that informat

[2020-02-03 12:09] sven1977 commented on #6928
No problem at all. I figured it out. This was (given that you are not using tf-eager) a problem in your model. Here is a working version of it (see code below). The trick was to correctly fold the time-rank into the batch rank before pushing it through the CNN, then correctly unfolding it again before the LSTM pass. Your original input with None was correct, however, the reshape with (-1, -1) does

[2020-02-03 12:09] #6928 closed

[2020-02-03 12:15] sven1977 commented on #7009
Will take a look.

[2020-02-03 14:34] floringogianu commented on #6994
Yes, this seems to be a big problem for the usability of these methods. Here's an example of hyperparam configurations found by `tune` on the `pybullet` inverse pendulum env:

![image](https://user-images.githubusercontent.com/1670348/73661260-72081500-46a2-11ea-9359-32cc3ad0d4af.png)

And here is the actual performance of these hyperparameters when training ten different seeds:

![image](https://

[2020-02-03 14:35] coreylowman opened #7023 "[rllib] How to pick all policies at once in MultiAgentEnvironment's policy_mapping_fn?"
### What is your question?

The `policy_mapping_fn` allows you to map a single Agent ID from a multi agent environment into a single policy name.

What I'd like to be able to do is:

[code]

My question is something like that possible with the 1 to 1 version of policy_mapping_fn? E.g. maybe the policy_mapping_fn is guaranteed to be called sequentially for each episode, in which case I could do som

[2020-02-03 15:39] sven1977 commented on #6732
There are other problems in there, caused by an incomplete tf_eager_policy.py::_compute_gradients(). Also, the OneHot preprocessor needs to force-cast to float32, in eager mode, for some reason, it's returning float64. It's running now on our example script, but I'll try your exact code from above also ...

[2020-02-03 15:46] sven1977 commented on #6732
Yup, works as well (also w/o eager). I'll close. See this patch:
https://github.com/ray-project/ray/pull/7021

[2020-02-03 15:46] #6732 closed

[2020-02-03 17:31] simon-mo opened #7025 "[Dashboard] Documentation"
From @richardliaw:

“documenting the dashboard” means outlining its features and demo-ing use case. in other words, the documentation should answer three questions: “what is the dashboard, how do I use/install it, and why would I use it” (having a couple lines on the installation page really isn’t enough). Here is a good example: https://www.tensorflow.org/tensorboard/get_started

@ijrsvt do you w

[2020-02-03 18:48] ijrsvt commented on #7025
Sure!

[2020-02-03 18:50] deanwampler commented on #6999
#7026 partially addresses this issue with documentation, but not automation.

[2020-02-03 19:28] dxu23nc opened #7027 "How do I use other simulators to generae experience?"
I saw that the default simulator was OpenAI gym. How do I change that to Arcade Learning Environment.

[2020-02-03 21:55] rusu24edward commented on #6875
Regarding the first error, I believe the observation_space and action_space for each policy must be a gym.spaces object. It looks like you are attempting to pass a dictionary of id's mapping to gym.spaces objects as the observation_space for a single policy. This won't work. Each policy must have a gym.space object. You can create a single policy like this and then map a bunch of agents to that po

[2020-02-03 21:58] rusu24edward commented on #6986
I am using separate policies for each agent. I'm not sure what you mean by `policy_x_reward_mean` key. Is that something in the tensorboard interface?

[2020-02-03 22:00] ericl commented on #6986
Yep, you should be able to find those in tensorboard, `result.json`, or printed to stdout if you use the `-v` flag.

[2020-02-03 22:02] rusu24edward commented on #6991
I may be misunderstanding the error, but it seems to me that it is encountering a None, not a list. Perhaps the error statement assumes it is a list and thus it outputs an error about a Python list. I am convinced that the values in the dict outputs are np.arrays, not lists, so I don't think that is the problem.

[2020-02-03 22:54] ninafiona commented on #6953
Thank you @richardliaw, I was able to access the trial names and create files into the directories (I think it would be better to create the files before running the tune.run(), in case there is an error coming up etc, but it's better than nothing.)

I wasn't able to reproduce the error for the trial name, the code below is running without any errors now. The resulting filename is "SAC_Pendulum-v0

[2020-02-03 23:07] justinkterry opened #7035 "[RLlib] Include rainbow DQN example code"
The [documentation](https://ray.readthedocs.io/en/latest/rllib-algorithms.html) mentions that rainbow DQNs can be run in RLlib, though not all settings for it are on by default. However, no where does it say what settings to change, or provide examples. This is a problem.

@ericl If you can tell me what to do, I'll submit a PR for this this weekend after ICML

[2020-02-03 23:16] ninafiona commented on #6900
@linjohn's suggestion unfortunately didn't fix it for me, I still get the same error as in the original post.

[2020-02-04 00:33] justinkterry opened #7036 "[RLlib] APEX-DQN reproducibly can't initiate across arbitrary environments"
Here's trying to initialize it with a dummy enviroment

[code]

Here's the error message:
[code]

I'm also using ray 0.9.dev0 pulling from the nightly builds. Could the issue be APEX methods don't actually support multiagent learning like the documentation says they do?

[2020-02-04 02:28] robertnishihara commented on #6155
Probably the same issue as https://github.com/ray-project/ray/issues/449.

[2020-02-04 03:05] oroojlooy commented on #6875
@rusu24edward As I mentioned I prefer to include the observation_space and action_space as part of the environment properties since I want to use the env with other packages than `ray` too. So, having passed the `observation_space` and `action_space` as it is in the `traffic light env` example does not work for me. So, you mean that there is no way of having what I want, right?

Beside, in the sec

[2020-02-04 03:22] robertnishihara opened #7040 "Deprecate `._remote()` and replace all instances with `.options()` for remote functions and actors."
Given a remote function like

[code]

We switched from syntax like

[code]

to

[code]

Regarding deprecating `._remote`, their are several steps

1. Start logging a warning that tells people to use `.options()` instead.
2. In a subsequent release, change the warning to an exception.
3. In a subsequent release, remove the method entirely.

[2020-02-04 06:32] rusu24edward commented on #6875
Do you expect that all the agents interacting with your environment will have the same observation_space and action_space?

[2020-02-04 12:29] linjohn commented on #6900
@ninafiona Could you please check if you have installed these additional dependencies in this order?
[code]

[2020-02-04 12:38] chaokunyang commented on #6944
After new serialization introduced in #6948, the error is:
[code]
It's failed in pyarrow.py_buffer():
[code]
It caused by `NULL` buffer when `make_shared[LocalMemoryBuffer](0)`. I'll fix this

[2020-02-04 14:07] oroojlooy commented on #6875
For this environment, all the observation_space are the same, but the action_space might be different. Let assume the action_space are also equal. Is there any solution for this case?

[2020-02-04 14:37] flying-mojo opened #7046 "[RLlib] Loading keras weights in Model __init__ doesnt work"
### What is the problem?
I have pretrained my keras model outside of RLlib. Now i would like to load the weights of that model and continue training it with rllib. Issuing load_weights in __init__ (TFModelV2) does load the weights with no errors. But it seems they get reinitialised/ereased by something further down the pipeline since we loss/reward starts an its initial value not a value i would e

[2020-02-04 15:05] amitsadaphule commented on #4309
@felker did you face a dependency issue with opencv-python while executing the tests? I couldn't find that through pip3 on UBI 7 ppc64le. I tried installing an rpm from http://mirror.centos.org/altarch/7/os/ppc64le/Packages/opencv-python-2.4.5-3.el7.ppc64le.rpm by resolving the necessary dependencies, but that didn't help either. Currently trying to build from source by following instructions from

[2020-02-04 15:35] felker commented on #4309
`py-opencv` and `opencv` are both available on WMLCE Conda channel for Python 3.6 and 3.7, e.g.: https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/linux-ppc64le/py-opencv-3.4.7-py37_725.g92aa195.tar.bz2

[2020-02-04 15:44] sherylwang opened #7047 "[Tune] BrokenPipeError when setting torch.dataloaders num_workers > 0"
Hi，

I'm using tune PopulationBasedTraining with pytorch. I found when setting num_workers > 0 in dataloader with num_sample > 1, it will raise "BrokenPipeError: [Errno 32] Broken pipe" error.
When don't use ray or just running the ray model, the error won't appear.
My ray[tune] version is 0.8.0, installed with pip, pytorch version is 1.2.0 cuda10.

[2020-02-04 16:42] drozzy opened #7048 "Bring dependency injection type config to [tune]"
It would be really nice to be able to configure tune with the way [sacred](https://sacred.readthedocs.io/en/stable/experiment.html#configuration) does it.

So instead of huge config being defined everywhere, one can just markup a function with a config annotation and the framework automatically resolves it:

[code]

This also gets rid of one problem - the inability of tune to see internal configur

[2020-02-04 16:43] drozzy commented on #7048
This bit me in the but a few times with tune, where I kept changing the config values, running the experiments, and then I wasn't able to tell which config values those experiments were run with (because I wasn't changing config at the right spot - outside trainable).

[2020-02-04 16:53] sven1977 commented on #7035
You basically set:
`dueling: True` Q-learning with the dueling layer
`double: True` double Q-loss function
`n_step: [some int > 1 and << 10]` n-step bootstrapping
`batch_mode: "complete_episodes"` must be set to this when running w/ parameter noise
`prioritized_replay: True` run with a prioritized replay buffer (instead of a regular uniform buffer)
`num_atoms: [>1]` switches on distributional Q-ou

[2020-02-04 16:53] #7035 closed

[2020-02-04 16:55] justinkterry commented on #7035
So parameterizing the action space isn't required for all that right? You
can just add this for any game?

On Tue, Feb 4, 2020 at 11:53 AM Sven Mika <notifications@github.com> wrote:

--
Thank you for your time,
Justin Terry

[2020-02-04 16:59] drozzy opened #7049 "[tune] Copy this code at the time of experiment into results dir"
It would be really nifty to have the exact code that the experiment was run with copied to the results directory, just like in [sacred](https://sacred.readthedocs.io/en/stable/collected_information.html#source-code).

Because when you run a lot of experiments it can be hard to tell what code change each experiment corresponds to.
I found that copying source was extremely helpful (especially for we

[2020-02-04 19:28] jCrompton opened #7050 "[ray] Redis has started but no raylets have registered yet error when connecting to a ray cluster in a private kuberenetes cluster"
I'm trying to connect to a ray (0.8.0) cluster in my private kuberenetes cluster (using the yaml file provided in the docs) but I get a redis authentication error. I have the ray head node exposed as a NodePort, what am I missing?

*Ray version 0.8.0*

[2020-02-04 20:03] richardliaw commented on #7040
The completion of this issue also needs _documentation_ and thorough examples.

[2020-02-04 20:08] richardliaw commented on #7049
Thanks for opening this issue! I've written something like this before but didn't find it useful (though I probably wasn't logging the right thing).

what would you like specifically here? the code of the trainable?

[2020-02-04 20:29] waldroje opened #7053 "Does memory tied up in buff/cache impact performance?"
### What is your question?
I find that on my local head node, if I type "top", I often have up to 75% of my memory in buffer/cache after training, and stopping and restarting Ray does not impact this condition.  I also note when I do a ray.init(), it indicates that it is assigning memory to workers and object store that seems to indicate it only sees the free memory, not the total... ie. it only g

[2020-02-04 20:56] gramhagen commented on #1438
Happy to help here as well. I'm wondering if it would be easier to use a Virtual Machine Scale Set (https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/overview) to configure the workers.

Also I'm curious what the head node is used for? Is it necessary to configure it separately from the worker nodes, or could a worker node arbitrarily be selected as the head node.

[2020-02-04 22:08] rusu24edward commented on #6875
If the observation and action space for all agents interacting with your environment is the same, then you can store that info in a singular location (like the environment) and grab it from there. You may add a static function that returns the space. For example,

[code]

Then when using ray, you can just do something like:

[code]

It doesn't have to look exactly like this, this is just a design

[2020-02-04 22:37] deanwampler commented on #7040
+1 This is a much more expressive, "fluent" API, easy to grasp and use.

[2020-02-04 23:23] ericl opened #7054 "[rllib] Add Amortized Q Learning (AQL) Example for large scale parametric action spaces"
### Describe your feature request
https://arxiv.org/pdf/2001.08116.pdf

AQL proposes to sample parametric actions from an action proposal distribution. This seems similar to how we currently handle parametric DQN, but the actions come from the model instead of provided from the env. We may be able to implement AQL as bolt on custom model / loss on top of parametric DQN.

[2020-02-04 23:30] mil-ad opened #7055 "How to use Ray with closures?"
Is it possible to define a remote function through closures?

In the example below I want get_func and my_func to share the same resources (e.g. one GPU):

[code]

I think just decorating `get_func` won't be enough and I guess below won't work either?

[code]

[2020-02-04 23:52] rusu24edward commented on #6991
Found the error and fixed. It did not have to do with a list instead of numpy array, just FYI. It may be that the error message should be updated.

[2020-02-04 23:52] #6991 closed

[2020-02-05 00:19] rusu24edward opened #7056 "[rllib] Key set for obs and rewards must be the same"
# What is your question?

I'm implementing a stochastic game, where two players take turns performing actions to modify the state of the game. In order to make this happen, I use the following logic in `step`:
[code]
This makes the most sense to me since I think of the reward as being an environment's response to an action (in addition to an updated state), and the player who receives that reward

[2020-02-05 02:31] ericl commented on #7056
Yeah, I agree this is undesirable.

Would automatically buffering the reward to the next time-step for that agent work for you? We can raise an error if no reward is specified, or if two different rewards are given for an agent on one of its own steps.

[2020-02-05 03:00] robertnishihara commented on #6155
Btw, a quick workaround is to call `super()` with no arguments.

[2020-02-05 03:38] oroojlooy commented on #6875
Thanks for the detailed explanation. This approach works when I have env-agents with different action spaces.

[2020-02-05 03:38] #6875 closed

[2020-02-05 05:12] reasonsolo opened #7057 "What's the raylet path for pperf profiling?"
I'm following this doc https://ray.readthedocs.io/en/latest/profiling.html to profiling my ray actors.
But I really don't understand what is the 'appropriate path'. Could someone provide a more detailed description?

Thanks.

[2020-02-05 05:23] reasonsolo commented on #7057
I got it. It's the path of raylet binary and usually locates at `python_root/site-packages/ray/core/src/ray/raylet/raylet`

[2020-02-05 05:23] #7057 closed

[2020-02-05 05:29] akurniawan opened #7058 "[tune] Hyperopt IndexError: list index out of range"
### What is the problem?
On space dictionary below, if I use hp.uniform everything run smoothly. However, if I change it to hp.choice I got **IndexError: list index out of range**

*Ray version and other system information (Python version, TensorFlow version, OS):*
Python: 3.7
OS: Catalina 10.15.2
Ray: 0.8.1

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issu

[2020-02-05 07:06] amitsadaphule commented on #4309
Thanks @felker! I'm trying to avoid switching to conda. I'll try to resolve the build issues for opencv-python first. If that doesn't not work out, the packages from conda channels that you suggested will help me get this done anyway.

[2020-02-05 07:07] rkooo567 commented on #6155
@alexcoca More concisely, use `super().__init__([your_args])`. (I believe Python2 does not support this, but Ray's python2 support reached to the end anyway)

[2020-02-05 08:19] jiahao87 commented on #5042
Same issue as well, using ray-0.8.1-cp36-cp36m-manylinux1_x86_64.whl. But if I did not pip install ```tensorflow``` in the cluster config file under setup_commands, the issue disappears.
[code]

[2020-02-05 09:56] mitar commented on #2605
Any updates here?

[2020-02-05 09:58] mitar commented on #2605
Is this related to: https://issues.apache.org/jira/browse/ARROW-1435

[2020-02-05 10:09] matter-funds opened #7059 "Allow remote functions to require running on a fresh worker"
I have been looking for a way to solve the 'outdated function definition' problem, as described here: https://ray.readthedocs.io/en/latest/troubleshooting.html#outdated-function-definitions

One almost solution is to set the `max_calls` argument to 1, when calling your remote function.
Here's is my code and instructions to replicate what I see:

`test_ray.py`:
[code]

`test_ray_lib.py`:
[code]

So

[2020-02-05 13:54] hartikainen commented on #7049
+1 for something like this. I personally don't need other than the git diffs to be copied over, but I guess copying over the whole sources wouldn't hurt anything. If I remember correctly, the wandb logger actually copied the git diffs over, which is great.

[2020-02-05 15:12] KristoferHansson commented on #6900
Hi, I commented on the original issue reported in modin, reported here by devin.
I now tried to uninstall all of the above and then install them in the proposed order.

Result is "slightly" better but still core dumping:

[code]

[2020-02-05 17:12] waldroje opened #7060 "[ray][tune] Tune errors under certain conditions when stopping trial from TuneClient"
### What is the problem?
When running experiment with_server, and sending a TuneClient.stop_trial, under certain conditions rather than returning TERMINATED trial, it instead returns ERROR, which seems related to slower step times, per the script

2020-02-05 12:03:40,734 ERROR trial_runner.py:627 -- Error processing event.

[2020-02-05 18:17] #6923 closed

[2020-02-05 18:36] wrosko commented on #5554
This was very helpful, thank you and apologies for my tardy reply.

[2020-02-05 19:09] richardliaw opened #7063 "[sgd-pyt] Implement learning rate schedulers"
There should be a separate creator field for learning rate schedulers (multiple).

[2020-02-05 19:17] #6830 closed

[2020-02-05 19:47] maximsmol opened #7064 "[autoscaler] Attach to a worker node"
### Describe your feature request
Currently `ray attach` only allows opening an SSH session on the head node. It could be useful to allow attaching to worker nodes to check what state the execution environment and file system are in (e.g. running `conda list`, examining config files such as `~/.keras/keras.json`).

Technically this also applies to `ray exec`, but in my experience the use cases are

[2020-02-05 20:05] richardliaw commented on #7058
Hi @akurniawan, thanks a bunch for opening this issue. This seems like a big issue; I'll take a look at this later this week.

[2020-02-05 20:06] RaedShabbir commented on #7016
Hey, this should help you. The simplest solution I found to load in a checkpoint and perform evaluations.
[code]

Alternatively, you can create a PolicyServer, though I could not get this to work with a different number of workers then what my model was initially trained with, and the server wouldn't support multiple workers because it's listening on some address. [Here's more info for that, they

[2020-02-05 22:34] gramhagen commented on #1438
first cut here: https://github.com/gramhagen/ray/tree/gramhagen/azure_autoscaler

Still WIP, after I test it out a bit I'll push a PR, there's definitely things that I don't understand perfectly on both the Ray side and the Azure side, but hopefully we can iron out all the kinks

[2020-02-06 01:03] richardliaw commented on #7060
As a hack, can you try setting `ray.tune.ray_trial_executor.DEFAULT_GET_TIMEOUT = float("inf")`?

[2020-02-06 01:07] richardliaw commented on #7047
Can you try deleting your custom dataloader? I think you can do this by putting `del {DataLoader}` in `_stop`.

If you are using `reuse_actors`, you'll have to do it in `reset_config`.

[2020-02-06 01:10] richardliaw commented on #7055
Thanks for making this issue! Can you provide some more context about what you're trying to do (i.e., elaborating more about "making your functions share the same resources (e.g. one GPU)"?

[2020-02-06 01:30] waldroje commented on #7060
Thanks for that... will try that in the morning.

[2020-02-06 01:40] #2323 closed

[2020-02-06 01:40] #2252 closed

[2020-02-06 01:42] #2458 closed

[2020-02-06 01:42] richardliaw commented on #7018
OK got it; this is usually if the steps are *too long*. Feel free to add something more actionable to the warning message and push a PR.

[2020-02-06 01:43] richardliaw commented on #7027
Can you try using something like `gym.make("Pong-v0")`? This should use Arcade Learning Environment under the hood.

[2020-02-06 01:44] edoakes commented on #2605
We're now using pickle5 for serialization, so this should be addressed. Could you try on latest ray?

[2020-02-06 02:04] mitar commented on #2605
Does pickle5 support efficient serialization of Pandas DataFrames?

[2020-02-06 02:43] sherylwang commented on #7047
Hi richardliaw. Thanks for your advice. I'm using the pbt scheduler, so I tried to delete the dataloader in reset_config function. When setting num_workers = 1, the broken pipe error still occurs in the first epoch(before the reset_config function be performed).

[2020-02-06 02:51] sherylwang commented on #7047
Actually, I found even  just warpped my pytorch model in ray.tune.Trainable. Then call the _train function to simply train the model, the num_workers in torch.utils.data.DataLoader seem not work, the data fetching time significantly increased compared to the raw torch model and training.

[2020-02-06 02:52] richardliaw commented on #7047
Can you provide a stack trace and repro script?

On Wed, Feb 5, 2020 at 6:43 PM Xiaqing Xu <notifications@github.com> wrote:

[2020-02-06 03:01] sherylwang commented on #7047
![image](https://user-images.githubusercontent.com/10609885/73902199-f7244180-48cf-11ea-9227-53dd0bbaaf27.png) This is the broken pipe error @richardliaw

[2020-02-06 03:17] lennardsnoeks opened #7069 "[rllib] MADDPG no exploration options applied?"
Is no exploration (parameter noise, ou exploration) possible/applied to chosen action values as in DDPG in the current version of contrib/MADDPG?

Also, would saving the trained model and restoring it be possible, to subsequently use `compute_action` methods to query the trained MADDPG model?

[2020-02-06 06:59] robertnishihara commented on #1438
Thanks @gramhagen! Looking forward to trying it out.

[2020-02-06 12:05] waldroje commented on #7060
So when I set it to float('inf'), I got an error during training,

`File "/home/svc-tai-dev/virt/algo_36/lib64/python3.6/site-packages/ray/worker.py", line 1450, in get                                                                values = worker.get_objects(object_ids, timeout=timeout)                                                                                                        File "/h

[2020-02-06 12:49] devanderhoff commented on #6950
Another question, when certain agents reach their goal state, I delete them from the simulation. This requires me to send a done dict normally when not using external envs. Is there a way to implement this for MultiAgentExternalEnv? Should I inherit both PolicyClient and PolicyServer and modify the log_returns to accept a done dict and process this?

[2020-02-06 13:25] MaksymPetyak commented on #5737
Hi!
Had the same issue when running on 4 GPUs.
- Ray version: 0.8.0
- Python version: 3.7.5
- CUDA Version: 10.0

Fixed it by not specifying a concrete GPU and letting cuda decide. Instead of ```"cuda:{}".format(ray.get_gpu_ids()[0])``` just used ```"cuda"```.

It is possible that there is a race condition when separate threads are trying to access ```ray.get_gpu_ids()[0]```.

[2020-02-06 13:39] sherylwang commented on #7047
I found the error  occurs due to improper data fetching method of torch's dataloader, the "next(iter(dataloader))" format actually makes the data fetching slow.

[2020-02-06 13:40] sherylwang commented on #7047
This is not caused by the Trainable wrapper, sorry. I've found the reason.

[2020-02-06 16:22] rusu24edward commented on #7056
Can you explain to me a little bit about what this means?

[2020-02-06 16:32] rusu24edward commented on #6986
Nice! I found them. For me, they are a few pages in stored as `policy_reward_mean/<policy_name>`

Thank you!

[2020-02-06 16:32] #6986 closed

[2020-02-06 16:49] matter-funds opened #7073 "Using max_calls=1 with high memory usage functions causes OOM issues"
### What is the problem?
Invoking ray.remote with `max_calls=1` and functions which require large amounts of memory causes workers to crash with OOM issues. Using `max_calls=None` causes no issues.
Ray throws the following error:
[code]
It seems that all those `ray::IDLE` processes are hanging around eating up memory. The worker machine sometimes recovers, but sometimes freezes due to lack of memo

[2020-02-06 17:23] #7060 closed

[2020-02-06 17:30] ericl commented on #6950
Yeah, that seems to a missing feature, you'll need to modify the env
implementation.

On Thu, Feb 6, 2020, 4:49 AM Dennis van der Hoff <notifications@github.com>
wrote:

[2020-02-06 17:33] stephanie-wang opened #7074 "[core] Gets timeout on randomly generated ObjectIDs"
## What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* 0.8

Normally when retrieving a plasma object, the worker waits until it is sure that the object has been created by contacting the owner and checking whether the task that created the object is still pending. Then, it tries to fetch the object, and if the object still is not available aft

[2020-02-06 17:33] stephanie-wang commented on #7074
cc @ericl @edoakes

[2020-02-06 17:35] ericl commented on #7074
I don't think we want to support this feature, could we remove it instead?

[2020-02-06 17:38] stephanie-wang commented on #7074
Remove the `from_random()` API? Yeah, I guess so, but it is useful for testing.

[2020-02-06 18:18] 1seck commented on #4371
Hi there,
any news on this topic of DQN for PyTorch?
Regards

[2020-02-06 19:51] richardliaw commented on #1438
@gramhagen feel free to make a draft PR and tag folks if you have questions on any parts of the code!

[2020-02-06 19:52] richardliaw commented on #7047
OK great; I'll close this issue then.

[2020-02-06 19:52] #7047 closed

[2020-02-06 19:53] richardliaw commented on #7049
Oh nice; would you be open to pushing a PR @drozzy ?

[2020-02-06 20:18] seanbow opened #7078 "[tune] Optional GPU allocation per trial when available"
If i have some objective function I'm trying to optimize that can be accelerated with a GPU but doesn't require one, it appears that there's no way to tell tune to allocate a process a GPU only if one is available. Setting resources_per_trial['gpu'] > 0 refuses to start running a trial unless a GPU is available.

Is there any way to tell ray.tune to allocate a GPU if it is available, otherwise onl

[2020-02-06 21:17] gramhagen commented on #1438
thanks @richardliaw! I'll do that. so far the bootstrap_azure() function seems to be working

[2020-02-06 22:37] #6112 closed

[2020-02-06 22:41] #5223 closed

[2020-02-06 22:41] edoakes commented on #6551
@suquark any progress on this?

[2020-02-06 22:44] edoakes commented on #6189
No reproducible error. We saw some issues like this in the release tests but resolved them, so closing for now. Feel free to re-open if the problem persists.

[2020-02-06 22:44] #6189 closed

[2020-02-06 22:46] edoakes commented on #6418
Looks like this is hanging in `ray.get()` somewhere. Is it possible that there aren't enough resources to run a task or a task is never finishing?

[2020-02-06 22:47] edoakes commented on #6422
@ericl do you know if this is fixed? Else @simon-mo will test/fix for release.

[2020-02-06 22:47] #6582 closed

[2020-02-06 22:49] edoakes commented on #6583
@virtualluke is this still a problem on latest builds? Also, could you please post the output of `ls /tmp/ray/session_latest/logs/`?

[2020-02-06 22:50] edoakes commented on #6592
@richardliaw was this fixed by #6376?

[2020-02-06 22:51] richardliaw commented on #6592
cc @hartikainen ?

[2020-02-06 22:51] edoakes commented on #6619
@fahadh4ilyas Is this still an issue on the latest release/master? If not, could you please post a fully runnable reproducible script?

[2020-02-06 22:53] edoakes commented on #6627
@AmeerHajAli please provide a reproducible script (or fix this in rllib)

[2020-02-06 22:53] mehrdadn commented on #6900
@KristoferHansson thanks for the info! Would you be able to find out what is the latest release of Ray that works for you?

[2020-02-06 22:54] edoakes commented on #6730
@ancrs any update on this?

[2020-02-06 22:56] edoakes commented on #6934
@rkooo567 is this fixed by your PR? If so could you close this issue? If not could you ask address this?

[2020-02-06 22:59] edoakes commented on #6990
@TisonKun looks like redis is going down. Could you see if redis is up using `ps aux | grep redis-server`? If it's down, can you also check `/tmp/ray/session_latest/logs/redis.{out,err}`?

[2020-02-07 00:52] edoakes commented on #6878
Fixed as of 93ed86f17567128f9cac2767da2f134203320f0b

[2020-02-07 00:59] ericl commented on #6878
Do we no longer need that bug fix then?

[2020-02-07 01:04] edoakes commented on #6878
Oops, still broken

[2020-02-07 02:02] richardliaw commented on #6968
@ocorcoll one thing that we had to do with YARN was actually also set `ray.init(driver_object_store_memory=DRIVER_MEMORY...)`.

[2020-02-07 02:03] richardliaw commented on #5245
BTW, I think this is still an issue and other people have run into this, causing them to stop using Ray.

[2020-02-07 02:05] ericl commented on #6422
@stephanie-wang says it is fixed (for all task types).

[2020-02-07 02:05] #6422 closed

[2020-02-07 02:46] AmeerHajAli commented on #6627
here is a simple example:
[code]
this will run for 4000 steps rather than 10 steps.

[2020-02-07 06:57] sherylwang opened #7082 "[tune] pytorch model warped in ray.tune.Trainable optimized abnormally"
Hi, I'm using tune PopulationBasedTraining with pytorch. I found after wrapping the pytorch model in ray.tune.Trainable api and train the model with ray.tune.run_experiments, The model's performance is much worse than the original pytorch's.  Even without the pbt scheduler, the performance is also worse than the original pytorch's. What would be the reason?

My ray[tune] version is 0.8.0, installe

[2020-02-07 07:04] GarrisonD commented on #7082
@sherylwang Any numbers / code?

[2020-02-07 07:14] sherylwang commented on #7082
`
import sys
import random
import numpy as np
from termcolor import cprint
import ray
from ray.tune import run_experiments
from ray.tune.schedulers import PopulationBasedTraining

import raymodel
import setup
from engine import parser

def main():
    args = parser.parse_args()
    setup.alter_args(args)
    # define the experiment object
    train_spec = {
        "run": raymodel.RayModel,

[2020-02-07 07:43] sherylwang commented on #7082
The training loss become around 27 after the first training epoch without tune. While with tune run_experiments and trainable, the loss is still 37 after 4 epochs. That's weird. @GarrisonD

[2020-02-07 09:07] richardliaw commented on #7082
Can you try this and print the output?
[code]

[2020-02-07 09:10] richardliaw commented on #7078
Hm, can you tell me more about your use case?

I guess preemptively, one option may be to use https://github.com/anderskm/gputil and try something like the following?

[code]

[2020-02-07 09:13] richardliaw commented on #7058
BTW @akurniawan, sorry for taking so long; I'll get to this on the weekend. If you want to take a crack at addressing the bug, you might want to start here: https://github.com/hyperopt/hyperopt/issues/615 which seems relevant.

[2020-02-07 09:16] richardliaw commented on #6864
Hey @RoeeEnbar, thanks for opening this issue! Can you actually push a fix and a test for this? Sorry for the delay.

[2020-02-07 09:39] Lawiss opened #7083 "[tune] Error handling checkpoint when using checkpoint_score_attr and keep_checkpoints_num"
Version info :
- Ray 0.8.1
- Python 3.7.3

Hi,
I'm using tune with the Trainable interface.
I'm trying to keep only the best checkpoint of each trial, thus this I've configured tune.run to do so :
[code]
The problem appears when the second checkpoint of a trial is about to be saved and the checkpoint manager attempt to remove the old checkpoint, I have the following error :
[code]
Indeed, the path

[2020-02-07 10:19] ujvl commented on #7083
Yeah this was fixed by #6758 so I would recommend just installing the latest wheels.

[2020-02-07 10:41] Lawiss commented on #7083
Thanks, i'll try it!

[2020-02-07 10:41] #7083 closed

[2020-02-07 11:17] sherylwang commented on #7082
[code]
I've run the above code. The result is same as using "run_experiments" api.
![image](https://user-images.githubusercontent.com/10609885/74025188-57090e00-49de-11ea-9c24-593f682e0dba.png)

[2020-02-07 11:21] hartikainen commented on #6592
Hmm, not 100% sure actually. I haven't seen the issue in a while, but it might be because some of my runs are still on the older version of ray.

[2020-02-07 13:06] sherylwang commented on #7082
I found the gap of performance is not due to tune. The hyper-parameter setting(weight decay) was set different when training origin pytorch model. Thanks for the help. @richardliaw @GarrisonD

[2020-02-07 16:04] thavlik opened #7084 "[Dashboard] OSError: [Errno 99] error while attempting to bind on address ('::1', 8265, 0, 0): cannot assign requested address"
### What is the problem?
I am building a Docker image with my branch and am unable to start the dashboard. Node 13.x is installed. The issue appears to be a port conflict. Perhaps there is something already listening on 8265?
[code]

### Reproduction (REQUIRED)
Here is the Dockerfile I'm using, which is based off base-deps:
[code]
Running any tune experiment produces the warning.

[2020-02-07 16:17] shawn-rigdon commented on #6800
In the [slack workspace](https://ray-distributed.slack.com/archives/CMVUQ1KMX/p1581011472141500?thread_ts=1581009382.141400&cid=CMVUQ1KMX), @simon-mo proposed adding a configuration option to specify the unix user group.  I believe that would solve the problems I've described, so I thought it best to document it here.

[2020-02-07 16:24] seanbow commented on #7078
Sure. I'm trying to optimize the hyperparameters of a relatively simple neural network that can absolutely be run on a CPU but is large enough to get a fairly decent speedup on the GPU. I'm using ray::Tune with the hyperopt search algorithm.

Because my computer has 16 cores and only 1 GPU, and my GPU only has enough memory to fit ~3 instances of the network in it at the largest network hyperparam

[2020-02-07 19:31] ujvl commented on #6592
I tested and couldn't repro fairly recently, I'd recommend just closing this for now and re-opening if anyone sees any issues.

[2020-02-07 19:37] #6592 closed

[2020-02-07 23:34] vrangaswamy opened #7087 "Ray 0.6.6 documentation"
I am using ray 0.6.6. Updating to the latest version is on my radar, but I haven't gotten around to it. I noticed that the older ray docs disappeared from https://ray.readthedocs.io/; the oldest version I see is 0.8.0. Is it possible to revive the docs for 0.6.6?

[2020-02-08 01:29] robertnishihara commented on #3472
@raulchen is this still an issue?

[2020-02-08 01:31] robertnishihara commented on #1516
@ericl do you know if this is still an issue?

[2020-02-08 01:36] ericl commented on #1516
Should be fixed

[2020-02-08 01:36] #1516 closed

[2020-02-08 02:07] richardliaw commented on #7087
Done!

[2020-02-08 02:07] #7087 closed

[2020-02-08 02:12] richardliaw commented on #7078
In this situation, I would just have a check in `_setup` to see if a GPU is available and acquire a Filelock to make sure only one training worker can keep it. I would also set `resources_per_trial = {"CPU": 1}` and handle the GPU allocation (cuda visible devices) out of band.

[2020-02-08 02:13] richardliaw commented on #7082
Great! Will close this for now.

[2020-02-08 02:13] #7082 closed

[2020-02-08 04:55] jCrompton commented on #7050
Since I'm on 0.8.0 I had to pass in the default redis password, on 0.9.0 I was able to connect without a password but my redis cluster thinks no raylets have been registered (very similar to this issue https://github.com/ray-project/ray/issues/5437) exception:
[code]
How do I resolve this in a kubernetes yaml file though, I need the ray-head nodes' public IP in the config but there is no environme

[2020-02-08 08:33] jan-matthis commented on #6289
Ray seems to work fine for me in a cluster setup without having `temp_dir` set to a shared location.

Is it generally required that `temp_dir` is shared between nodes, and if so, where is this documented?

[2020-02-08 11:02] amitsadaphule commented on #4309
I was finally able to get opencv-python-headless and tensorflow 2.0.1 built and installed. I executed the tests on UBI 7.6 ppc64le and got the following result:
[code]
There are quite a few test failures and the test execution gets terminated at 54%.
Just to check parity, I built the code for 0.8.1 on UBI 7.6 x86 as well. There too I got similar result in terms of test failures and the test execut

[2020-02-08 11:05] scarrazza opened #7092 "[tune] tensorflow2 and resources_per_trial"
What is the proper way to limit thread usage by trials stated in `resources_per_trial` when using tensorflow>=2 code? Should the user or ray care about limiting the intra/inter number of threads?

My tests on a single machine show that ray does not virtualize/sandbox the number of requested cpus per trial thus tensorflow runs with its default configuration on all available machine threads.

* Ray

[2020-02-08 13:10] mi-lad commented on #7055
So for example if you use something like [Ignite](https://github.com/pytorch/ignite) with PyTorch, what you often do is construct trainer functions that are later called to actually do the training. It would be nice if the resource allocation could propagate from the trainer factory function to the actual trainer function.

[2020-02-08 16:04] waldroje opened #7093 "[tune][rllib]Experiments failing under 0.8.1"
### What is the problem?
I upgraded to 0.8.1, and in running an experiment that I have no trouble completing under other versions with my custom env & model, it failed at a fairly early stage, and did not seem to recover. I can't provide a script to duplicate, as I don't know what kind of toy model to put together, but here is the error message from the log and console.
[code]

In the other logs,

[2020-02-08 18:15] Pranav2612000 commented on #7040
I'll like to work on it.

[2020-02-08 18:32] richardliaw commented on #7040
@Pranav2612000 got it; please open a PR within the next couple of days!

[2020-02-08 21:06] jakirkham opened #7094 "Docs on Cython extensions and install requirements"
### What is your question?

It appears that the documentation around Cython extensions [includes Cython in `install_requires`]( https://github.com/ray-project/ray/blob/60d4d5e1aaa9fde3cf541ee335e284d05e75679c/doc/examples/cython/setup.py#L9 ). While Cython is a dependency in this case, it usually doesn't make sense to have it `install_requires` (particularly if users are merely using Cython to bui

[2020-02-08 23:32] richardliaw commented on #7092
Good point; I think this is the API - https://www.tensorflow.org/api_docs/python/tf/config/threading

Feel free to push a fix to the docs.

[2020-02-08 23:57] rkooo567 commented on #7084
I highly doubt that it is a port problem because dashboard will increase a port number if it is not available before it runs a dashboard process. (For example, if the port is already used, it increases a number to be 8266). There could be many factors that can cause `OSError: [Errno 99] Cannot assign requested address`, but I assume it is related to how Docker. @wuisawesome Any thought?

[2020-02-09 00:23] linjohn commented on #6900
@KristoferHansson This could be a firewall/network issue. Could you please review your security settings?

[2020-02-09 01:07] linjohn commented on #6900
@KristoferHansson This could be a firewall/network issue. Could you please review your security settings if your firewall is blocking (e.g. temporarily disconnect from the internet and turn off the desktop firewall and re-run Ray locally)?

I have attached my Ray output for your reference. Despite the protocol error Ray successfully completes the processing.

[code]

[2020-02-09 03:13] ericl commented on #7093
Do you have some firewall blocking certain port ranges? It sounds like gRPC is failing to connect actors
Also, please include the full logs.

[2020-02-09 05:09] wuisawesome commented on #7084
Does adding `--webui-host 0.0.0.0` to `ray start` work?

[2020-02-09 06:38] Pranav2612000 commented on #7040
Right now, I should just log a warning, right?

[2020-02-09 06:40] robertnishihara commented on #7040
@Pranav2612000 yes, that sounds good.

[2020-02-09 07:51] Pranav2612000 commented on #7040
Is this the function in question:-

Should I add a line to log a warning message at the first line of the function?

[2020-02-09 20:17] #6345 closed

[2020-02-09 20:28] holdenk opened #7097 "Why is PyArrow packaged inside of Ray instead of as a dependency?"
### What is your question?

Why is PyArrow packaged inside of Ray instead of as a dependency?

[2020-02-09 21:07] tkang007 opened #7098 "Any option for single node?"
Hello,
I am surprising this super simple and powerful framewok.
Is there any option for a single node only?
Thanks.

[2020-02-09 21:45] richardliaw commented on #7098
Yep! `ray.init()`. Let me push a fix to the docs to make this clearer.

[2020-02-09 21:47] richardliaw commented on #7097
cc @pcmoritz

[2020-02-10 01:36] justinkterry commented on #7036
FYI, this is problem doesn't occur with APEX-DDPG

[2020-02-10 03:24] billtubbs opened #7102 "ValueError on simple DQN trainer example in documentation"
### Question

Sorry, I'm using rllab for the first time here and struggling to get any of the basic examples working after installing.

I am trying to execute this command-line example from the [Getting Started](https://ray.readthedocs.io/en/latest/rllib-training.html#getting-started) section:
`rllib train --run DQN --env CartPole-v0`

As far as I can tell the key traceback message here is:

`Valu

[2020-02-10 03:28] billtubbs commented on #7102
Maybe I should reinstall TensorFlow?

[2020-02-10 03:46] billtubbs commented on #7102
After starting with a fresh environment with Tensorflow 2.1.0 and Python 3.7 it works fine now.
You can close this issue.
Sorry for any inconvenience.

[2020-02-10 04:10] jovany-wang commented on #6944
@alindkhare  just FYI: The PR to fix this issue was merged.

[2020-02-10 05:56] alversafa commented on #4614
@Kismuz , it has been a while, but thank you, it was helpful.

Now I can evaluate the agents periodically. However, digging through the code, I was not able to locate where you set the temperature of softmax policies to zero during evaluation? I assuming that they are acting greedily during evaluation?

Is it possible for you to point me to the code?

[2020-02-10 06:58] #6944 closed

[2020-02-10 08:45] nevergiveuphe opened #7103 "how to delete object and release the store space created by ray.put"
i created a object by object = ray.put(data), whenever want to release object, and clear the store space in ray, how to

[2020-02-10 08:56] nevergiveuphe opened #7104 "is ray thread-safe. used in multiprocessing, encounter error"
![image](https://user-images.githubusercontent.com/11487479/74134837-303d1880-4c26-11ea-9965-4cec560bf7be.png)

[2020-02-10 09:27] Kismuz commented on #4614
@alversafa ,

- we didn't implemented this part actually, sorry

[2020-02-10 10:26] elpollouk opened #7105 "[Ray] Attempting to fetch an object that has been freed blocks forever"
### What is the problem?

Ray: 0.8.0/0.8.1
OS: Ubuntu 16.04/18.04

Attempting to `ray.get()` an object freed using `ray.internal.free()` causes the get request to block forever.

RLlib has the function [ray_get_and_free()](https://github.com/ray-project/ray/blob/247a4d022ac4ca0a10553616b7c806c4429ed355/rllib/utils/memory.py#L12) which is used to fetch and free up samples returned from environment

[2020-02-10 13:13] elpollouk opened #7106 "[RLlib] Errors originating from environment workers cause training to stall"
### What is the problem?

Ray: 0.8.0/0.8.1
OS: Ubuntu 16.04/18.04

Errors originating from environment `step()` or `reset()` functions cause training to stall when using  `AsyncSamplesOptimizer` (e.g. IMPALA) even if `ignore_worker_failures: True` is set in the experiment config.

If an environment request fails, the generator returned by `TaskPool.completed_prefetch()` never runs to completion an

[2020-02-10 13:30] waldroje commented on #7093
So yes, this clearly is something wrong in my local setup, as after you said that, I launched the same process in AWS and it's running fine....

It's not clear how I attach logs, as it wouldn't take the directory or the files as they are... I changed extension on log to get them to attach.. and one was to big so I tailed it to a new file...
[python-worker-83fdd37a870e042e5d26b5b386dfeeed7e905cf420

[2020-02-10 14:34] thavlik commented on #7084
I am not using `ray start` - this is with the `tune.run` API.

[2020-02-10 15:41] sven1977 opened #7107 "[RLlib] Off-policy estimation faulty (IS weights may be calculated incorrectly)"
The importance sampling weights for our off-policy estimators ("is" and "wis") are calculated incorrectly in case the new policy produces a different action than the old one (given the same observation). This is due to the new policy being queried for the action-prob via compute_actions([offline batch]), w/o caring about the action being produced (this new action may be different from the old one,

[2020-02-10 15:54] sven1977 opened #7108 "[RLlib] AsyncReplayOptimizer should retain good sample_tasks even if other sample_tasks have failed."
AsyncReplayOptimizer::_step() collects all self.sample_tasks that are completed (including crashed ones), leaving then self.sample_tasks with a count of 0 (empty).
After that collection step, it calls ray_get_and_free on all these tasks' IDs, which crashes (due to the error'd crashed tasks). This causes even the still-good tasks to not be processed and reinstated, leaving the optimizer in an infin

[2020-02-10 17:26] preeth1 opened #7109 "[autoscaler] docker `container_name` errors in yml file"
I am trying to use docker to provision my ray cluster. I have already pushed my image to a remote private registry. I am having trouble with the `docker` section of the example yml file. These are the only modifications I have made to the example gcp yml:

[code]
As well as some code to login to dockerhub (which does seem to work)
[code]

The dockerhub login seems to work, as I see this output:
[c

[2020-02-10 17:49] jCrompton commented on #7050
Any updates on this, I have tried in ray v0.9.dev too with the same issue

[2020-02-10 18:32] #6985 closed

[2020-02-10 18:48] tkang007 commented on #7098
Richardliaw,  Thanks for your quick response.
When you update docs for single, please consider to add additional information for minimum usage on the develop environment, such as memory and object_store_memory of ray.init().

[2020-02-10 18:53] richardliaw commented on #7098
yep, https://github.com/ray-project/ray/pull/7099

Feel free to review.

[2020-02-10 18:59] edoakes commented on #7105
This is very likely hanging on the in-memory store get() call - `ray.internal.free` deletes the object from both the in-memory and plasma stores so the subsequent `ray.get()` blocks forever waiting for the in-memory store entry to appear (which it never does).

Not sure the right solution here. We could leave a "freed" object in the store but it's not obvious when we can clean it up (maybe once al

[2020-02-10 19:02] edoakes commented on #854
You can now kill actors while they're still processing tasks using the `actor.__ray_kill__()`. This is similar to the solution @andyljones posted except it will work even if the actor is blocking on `ray.get()`, `ray.wait()`, or the GIL.

[2020-02-10 19:05] edoakes commented on #2242
I don't think this is relevant anymore now that we're working on doing exact GC for `ObjectID`s. Please feel free to re-open if you disagree.

[2020-02-10 19:05] #2242 closed

[2020-02-10 19:09] pcmoritz commented on #7097
@holdenk We are working on changing that, but it takes some time. The last part that needs work is removing the dependency from https://github.com/ray-project/ray/blob/master/python/ray/experimental/async_api.py and https://github.com/ray-project/ray/blob/master/python/ray/experimental/async_plasma.py, that's something @simon-mo is working on. He should be able to comment on an ETA.

[2020-02-10 19:17] ocorcoll commented on #6968
Thanks @richardliaw, that seems to avoid the memory issues. Since Ray does not limit the amount of memory consumed, I wonder why setting this attribute makes this issue go away... Is this attribute used to also evict objects from the store?

[2020-02-10 19:26] simon-mo commented on #7097
@ijrsvt is working on porting async plasma to cpp side so we can remove pyarrow dependency. as for an ETA, we might be able to get it in by the Feb release, otherwise it will be in the March release. I will comment on this thread when we remove it from nightly release.

[2020-02-10 19:27] richardliaw commented on #6968
yes, I think so - see https://ray.readthedocs.io/en/latest/memory-management.html

[2020-02-10 19:49] ericl commented on #7105
I see, I thought we only freed from plasma before actually. I think that is fine since local objects are recounted already.

[2020-02-10 20:17] alversafa commented on #4614
@Kismuz , i see, thanks!

[2020-02-10 20:47] mitar commented on #854
What about non-actors? So a simple Ray task?

[2020-02-10 20:47] mitar commented on #854
(BTW, any pointers how this is implemented?)

[2020-02-10 20:57] edoakes commented on #854
Not currently supported for tasks. See the original PR for details:
https://github.com/ray-project/ray/pull/6523

[2020-02-10 21:01] mitar commented on #854
So then it would be reasonable to turn all of my tasks into actors? That looks like a trivial thing to do.

BTW, why is method called `__ray_kill__`? This is generally reserved for Python standard method names for interfaces which have language-based syntax to access. Like if there would be `kill(actor)` function which would then internally call `__ray_kill__` or something.

[2020-02-10 21:38] simon-mo opened #7112 "Turn off OMP_NUM_THREADS warnings?"
Can we just turn off the warnings on each ray.init? We can't force everyone to set the environment variable.

https://github.com/ray-project/ray/blob/3f99be8dad5e0e1abfaede1f25753a0af74f1648/python/ray/__init__.py#L16-L21

[2020-02-10 21:39] simon-mo commented on #7112
I promoted this to release blockers because many users may find this warning annoying. (cc @pcmoritz @robertnishihara )

[2020-02-10 22:42] robertnishihara commented on #7112
How about we change the log level to INFO?

[2020-02-10 23:06] simon-mo commented on #7112
@robertnishihara sounds good. PR here https://github.com/ray-project/ray/pull/7114

[2020-02-10 23:28] #6636 closed

[2020-02-11 00:28] #6693 closed

[2020-02-11 01:45] alversafa commented on #6589
The conversation continues with issue #4614 .

[2020-02-11 01:45] #6589 closed

[2020-02-11 02:10] alversafa commented on #4614
@ericl, @Kismuz, is there an easy way (without changing much of the code) to achieve this?

[2020-02-11 05:17] #6610 closed

[2020-02-11 06:19] robertnishihara commented on #7040
You can try that, but I believe that is called under the hood when we do `f.remote`, so you'll need to find a way to suppress that error when we call `f.remote`. One option would be to add an extra boolean argument to `_remote` indicating whether it is called directly or called from `f.remote`. Does that make sense?

[2020-02-11 06:40] #7105 closed

[2020-02-11 06:57] ericl commented on #7106
@elpollouk could you try out the latest wheel and see if this is still an issue? The hang fix is merged in master as of https://github.com/ray-project/ray/pull/7117

[2020-02-11 07:21] semin-park commented on #7084
I had the exact same error. Solved it by adding

`ray.init(webui_host='127.0.0.1')` at the beginning of the python file.

It seems like hostname '::1' or 'localhost' are sometimes not recognized.

[2020-02-11 10:13] elpollouk commented on #7105
I can confirm that my test script runs to completion with the latest nightly.

[2020-02-11 10:31] elpollouk commented on #7106
Trying the latest nightly and the experiment does continue to run after knocking out workers.

However, it does appear that you're still re-using object ids for sample batches you've already processed after an error. Is this a concern?

The issue I was attempting to fix with my patch was that you are relying on the `completed_prefetch` generator to run to completion in order to maintain correct st

[2020-02-11 10:34] swicaksono commented on #5768
Hi @hokiegeek2, I have the same issue. How did you solved this?

[2020-02-11 11:35] sven1977 commented on #7009
Again, thanks for filing this!

The problem has been fixed in this patch: https://github.com/ray-project/ray/pull/7119

You were quite right about the reduction axis, however, we do have to maintain the batch until the very last loss-reduction step. The problem was in the MultiCategorical kl method not properly reducing/stacking.

Closing this issue.

[2020-02-11 11:35] #7009 closed

[2020-02-11 13:01] jovany-wang opened #7120 "Add a tool to parser IDs"
Mostly, when we debug, we'd like to know the meanings from an id from logs.

It's hard to parse by ourselves manually.

Add a python scripts called `ray parser_id` as a tool to parse the IDs, such as:
[code]

[2020-02-11 13:07] waldroje commented on #7093
Following up on this, on AWS I was running similar experiment, but using pbt... 8 samples... each sample had run for about 3600s time_total, and about 4-5mm steps each... when it threw this error

[code]

It's a p3..2xlarge head with a couple worker nodes... the monitor still shows 2/8 cpu working and 1/1 gpus, but it never actually stop the workers nodes... they have remained up even though there

[2020-02-11 13:16] yongjun823 opened #7121 "[rllib] How can I record the full episode results of rllib?"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*
[code]

Hello
I've trained an RL model using rllib
I have tested the breakout environment and the agent is running successfully.

Here is the python code I used. I used Rllib's python API
If you test at openai gym after learning, it works successfully.

I want to record the results of t

[2020-02-11 13:42] jovany-wang commented on #7120
@kfstorm  How do you think of this proposal?

[2020-02-11 13:53] LucCADORET commented on #5717
Same as @FedericoFontana, I have a trained agent using lstm and I want to load one of its checkpoint to run it against a test env. When calling the `model.compute_action` method, I get the error `ValueError: Must pass in RNN state batches for placeholders [<tf.Tensor 'default_policy/Placeholder:0' shape=(?, 256) dtype=float32>, <tf.Tensor 'default_policy/Placeholder_1:0' shape=(?, 256) dtype=float

[2020-02-11 14:47] tkang007 commented on #7098
Hi,

What is the minimum/recommended value for memory, object_store_memory,driver_object_store_memory and redis_max_memory for developer's single node small virtual machine.  Or, what is the calculation logic the auto set value for single node.
One place at docs for these information might be helpful.

[2020-02-11 16:00] Kismuz commented on #4614
@alversafa:
https://github.com/ray-project/ray/blob/3d9bd64591506c2d3cd79d18c96908c996b52c3f/rllib/models/tf/tf_action_dist.py#L179

one can use this for evaluators.

[2020-02-11 16:44] borovikovd opened #7122 "Failed to submit task to AWS cluster"
### What is the problem?

Ray: 0.8.1
Python: 3.6.9
OS: macOS 10.15

I am trying to submit a script using a command `ray submit tune-default.yaml tune_script.py --start --args=”localhost:6379”` but this command fails with a message:

`subprocess.CalledProcessError: Command '['ssh', '-i', '/Users/denis/.ssh/ray-autoscaler_eu-west-1.pem', '-o', 'ConnectTimeout=120s', '-o', 'StrictHostKeyChecking=no',

[2020-02-11 17:48] thavlik commented on #7084
This fixes the issue for me as well. Thank you.

[2020-02-11 17:48] #7084 closed

[2020-02-11 17:49] bodikp opened #7123 "ray + jupyterhub on Kubernetes"
Hi,
I'm running ray on a kubernetes cluster and ray.init(address='...') succeeds when running on the head node or the workers. However, I'm also running JupyterHub on the same cluster and would like to connect to ray from the pods that are spawned by JupyterHub.

Running ray.init from the JupyterHub container fails with "2020-02-11 16:53:01,783	WARNING services.py:172 -- Some processes that the dr

[2020-02-11 18:17] pmacalpine commented on #6962
Is anyone actively looking into this issue and/or have an idea of what the cause of this memory leak might be?  If not I might look into it a bit more as the issue is blocking me, but would prefer not to if someone who has more knowledge of the codebase is actively doing so.

[2020-02-11 18:38] bodikp commented on #7123
I installed ray 0.9.0.dev0 on the JupyterHub container, did 'ray start ...' and now I can connect. Is that the right way to do this?

Does ray support multiple users calling ray.init() and launching their own tasks?

[2020-02-11 19:08] ericl commented on #7093
Cc @edoakes

[2020-02-11 19:26] richardliaw commented on #7122
Thanks for opening this issue, @borovikovd!

First, `bash: cannot set terminal process group (-1): Inappropriate ioctl for device bash: no job control in this shell` is actually harmless, and doesn't seem to be the real issue here.

[code]

means that this actually failed on `ray stop`. If you ssh into the node and run `ray stop`, does it actually return an exit code of 0?

Please let me know! I'l

[2020-02-11 19:52] richardliaw commented on #6289
Yeah, we need to clean up these docs.

`temp_dir` doesn't need to be shared. In fact, nothing actually needs to be shared; files can be moved around using rsync.

[2020-02-11 20:09] wuisawesome commented on #7084
For reference, this issue appears to be described in more detail here: https://github.com/aio-libs/aiohttp/issues/4554

[2020-02-11 20:48] ericl commented on #5717
You need to specify the state argument of compute actions. The policy has a method to get the initial state, see the rollout.py script.

[2020-02-11 20:48] #5717 closed

[2020-02-11 20:51] #7108 closed

[2020-02-11 22:15] #7112 closed

[2020-02-11 22:47] hokiegeek2 commented on #6988
Okay, I figured it out. I had three workers on the same physical node--one for each container in my Kubernetes pod. I noticed there were only two nodes in the Ray cluster on the physical node even though there were three Ray workers. I think the orphaned Ray worker deleted via the ray.internal.free([oid]) command the object in it's plasma store and the head worker's plasma store, but not the secon

[2020-02-11 23:59] luigiw opened #7127 "Ray start failed on worker nodes for DeprecationWarning"
### What is the problem?

Ray version 0.8.1

When running ray start on worker nodes with --redis-address option, the command fails for DeprecationWarning, whereas ray start head works with the same option.

I understand redis-address will be deprecate eventually, but failing on a warning is very weird behavior, and breaks existing code.

### Reproduction (REQUIRED)

Start ray head

ray start --hea

[2020-02-12 00:33] jose-amendola opened #7130 "[rllib] MultiagentEnv with two Trainers and shared experiences"
First of all, congratulations for the work!Very resourceful!

I am attempting to train a Hierarchical RL agent, where the high level agent is trained with DDPG and the low level agent is trained with DQN. From the examples, I tried calling train() method from both trainers in sequence at each loop iteration, but the experiences are collected separately. Any hints of how should I use different trai

[2020-02-12 04:28] #6878 closed

[2020-02-12 04:31] ericl commented on #6962
I've taken a cursory look at torch_policy.compute_actions(), but didn't see anything suspicious there. I think it is originating from something in compute_actions(), but we do have torch.no_grad() there so I'm not sure what would be leaking.

[2020-02-12 04:35] ericl commented on #7106
The patch makes sense. Do you want to make a PR for it?

[2020-02-12 04:41] maxCodeVector opened #7133 "How to submit a task which is implemented in a separate module?"
## Evironment
- python version: 3.7.6
- ray version: 0.8.1
- OS of driver: ubuntu 18.04
- OS of worker: ubuntu 18.04

Hi, I met a problem recently when I was using ray. I want to let my remote function run in the remote node. This function was not written in the main script file but in a separate file. However, I get a exception said: `This function was not imported properly`.

This is what my scr

[2020-02-12 06:18] pmacalpine commented on #6962
I was looking at https://github.com/pytorch/pytorch/issues/13246 to see if the memory issue/leak with pytorch reported there might be related.  Not surprisingly we also see the the same memory leak with pytorch A2C.

[2020-02-12 07:47] richardliaw commented on #7127
Deprecation warning is an exception, so I think the behavior is fine - https://docs.python.org/3.7/library/exceptions.html#DeprecationWarning

Maybe we can raise `ValueError` instead?

[2020-02-12 08:58] rkooo567 commented on #7133
Can you try this?
https://github.com/ray-project/ray/issues/3116

[2020-02-12 09:58] 1seck opened #7135 "latest_dlami only in tree cc43c9c1a2434d377d232cb23a2abc425af06875"
Hi there,
just reporting that the latest_dlami imageId is only implemented in cc43c9c1a2434d377d232cb23a2abc425af06875, not in 0.8.1 yet.

Regards

[2020-02-12 10:44] drozzy opened #7136 "[RLlib] Cannot rollout ES after training."
Using ray 0.8.1.

Having trained an agent with ES:
[code]

I can't play it. (It works with PPO).

Executing this:
[code]
results in:
[code]

[2020-02-12 11:29] borovikovd commented on #7122
Thanks, @richardliaw! The stop command was indeed failing. Maybe it's something I didn't expect 'cause there was no actual error message shown. Just some ideas on how it could be improved:

1) I think if a remote command fails it's quite weird to see a stack trace. A stack trace makes me think that the tool you are running has a bug. I.e. I would rather show a nice error message with explanation o

[2020-02-12 11:29] #7122 closed

[2020-02-12 12:12] sven1977 commented on #7136
I'll take a look.

[2020-02-12 12:19] sven1977 commented on #7130
A very interesting setup, but I don't think we support hierarchical RL yet. I'm guessing you would like to pass the outputs of the high-level trainer down to the low-level one (kind of like picking an option/skill), and probably only from time to time. It also seems like the low-level trainer needs to operate on a different observation space (including the high level output).
Just out of curiosity

[2020-02-12 12:49] maxCodeVector commented on #7133
@rkooo567 Thank you for your advice. I check that issue. After synchronizing the two files in the remote node at the same path which has been contained in the `sys.path`, it works normally. Thanks.

[2020-02-12 12:49] #7133 closed

[2020-02-12 13:32] kfstorm commented on #7120
I'm not sure if it's a common use case that worths adding a new command to the `ray` script.

[2020-02-12 14:05] dissendahl commented on #7069
Hey, I read through the implementation and believe that you are right, there is no noise added.

I tried to apply MADDPG to a MultiAgentEnv, but no learning occurs. See #6949 .

Shall we implement it?

We can probably copy it over from how action noise is added on top of the policy output in the DDPG implementation [here.](https://github.com/ray-project/ray/blob/fc9352c588a0906bb8810c3da2f4fb09e39

[2020-02-12 14:09] sven1977 commented on #7121
Thanks for this issue. This sounds almost like a bug. @ericl could you comment? If yes, I'll take a look to get this fixed.

[2020-02-12 14:13] sven1977 commented on #7069
There will be a unified way of adding any exploration type to any agent (ready for ActionNoise in a few weeks) as well as to switch this on/off on a per-call basis. We have done this for EpsilonGreedy already (default for DQN). We are currently working on a (related) deterministic flag, available for controlling action sampling in `compute_actions` and will do ActionNoise (gaussian and OU) very so

[2020-02-12 14:14] yutaizhou opened #7137 "[rllib] Moving MADDPG from /contrib to /agents"
### What is your question?
@wsjeon, @justinkterry, thank you for the excellent refactor of the MADDPG using rllib. I am using the algorithm pretty extensively at my work (proprietary), and I would love to assist in developing it in my free time so that it can be moved out of /contrib into /agents.

What is currently keeping it in /contrib, and what does it need to be moved into /agents?

[2020-02-12 14:17] sven1977 commented on #7056
I guess what @ericl meant is that your Env should store player1's reward (when it returns player2's obs), not returning it, until the next time step and then return reward1 together with obs1. So in other words: rewards are always delayed by 1ts, but always go together with the corresponding player obs.

[2020-02-12 14:21] sven1977 commented on #7036
Thanks for opening this. It's on my TODO list now. Will keep you posted.

[2020-02-12 15:08] jose-amendola commented on #7130
Actually, RLLIB brings the example hierarchical_rl.py, where it uses MultiAgentEnv structure. However, it trains both agents using the same trainer. The observation and action spaces are indeed different and the action from the high-level-agent implies a new set-point for the low-agent to track. I think the paper which would mostly suit as my benchmark right now is "Hierarchical Deep Reinforcement

[2020-02-12 15:15] dxu23nc opened #7138 "How to customize observation space?"
I have read some examples. It seems that if we want to customize the observation and action, we have to change the code of the gym. Am I correct?

[2020-02-12 15:34] lennardsnoeks commented on #7069
I talked to @justinkterry and there is currently still a bug concerning the use of different action spaces. The implementation is made for the openai multiagent particle environments, so using MADDPG on a MultiAgentEnv may cause trouble.

[2020-02-12 15:49] yutaizhou commented on #7138
You don't change gym code itself, there are already some gym spaces that you can use. use this interface to tailor your environment to have the proper representation.
https://github.com/openai/gym/tree/master/gym/spaces

[2020-02-12 16:16] lemairecarl commented on #6289
Doesn't the `temp_dir` contain the communication sockets? If that's the case, the folder obviously needs to be shared.

Since I'm not using Ray myself (I was doing support for someone else), I don't think I'm qualified to drill down on this and/or edit the docs. I'm withdrawing.

[2020-02-12 16:46] dxu23nc commented on #7138
Thanks for the reply.

 The sample() function is to extract the observation that we need from the raw observation, it is like getting the first 56 unit from the raw 128byte RAM considered an atari game.   The gym does not give enough examples to show how to use that. So is my understanding right?

Thanks in advance.

[2020-02-12 16:54] yutaizhou commented on #7138
sample() doesn't extract observation, it merely draws a random value from whichever gym space you used. So if you do
`gym.spaces.Discrete(5).sample()`

That is equivalent to uniformly sampling for the discrete values 0-4.

Extracting observation is to be handled by you as part of the reset() or step() methods from gym.

[2020-02-12 17:08] dxu23nc commented on #7138
Thanks.

On Wed, Feb 12, 2020 at 11:54 AM Yutai Zhou <notifications@github.com>
wrote:

[2020-02-12 17:19] luigiw commented on #7127
So starting from 0.8.1, --redis-address can't be used at all? I tested the same commands with 0.8.0, no issue there.
I guess another confusing part is that ray start head works but ray start doesn't.

[2020-02-12 17:19] luigiw commented on #7127
So starting from 0.8.1, --redis-address can't be used at all? I tested the same commands with 0.8.0, no issue there.
I guess another confusing part is that ray start head works but ray start doesn't.

[2020-02-12 17:26] elpollouk commented on #7106
PR submitted, have fun!

[2020-02-12 17:57] sven1977 opened #7141 "[Travis] ci/travis/install-ray.sh fails sometimes."
We are getting this in our Travis builds sometimes (different jobs), when ci/travis/install-ray.sh is run. Seems to happen randomly, occasionally in different jobs:

[code]

e.g. this build:
https://travis-ci.com/ray-project/ray/jobs/286434928

[2020-02-12 18:05] simon-mo commented on #7141
I will fix this in travis soon. Just in case anyone end up here while debugging, please use
[code]
instead of
[code]
because pip handle binaries images correctly while the `setup.py` execution falsely parse the binary shared object as text data.

[2020-02-12 19:27] justinkterry commented on #7069
The specifics of the bug in terms of action spaces is still unclear (dealing with it is on my list), but I don't think it should keep it from learning at all?

[2020-02-12 19:28] simon-mo opened #7144 "Move named actor to C++ GCS"
Currently named actor is inside ray.experimental and uses redis to directly serialize actor handles. This approach is not maintainable, especially we might remove the redis abstraction for GCS service.

We should consider:
- Adding a field to actor table entry for actor names
- Or, adding a named actor table
- get_actor, register_actor should call GCS service instead of redis directly.

[2020-02-12 19:28] simon-mo commented on #7144
cc @edoakes

[2020-02-12 19:48] Pranav2612000 commented on #7040
Yes.` f.options().remote()` call the` _remote` function here:

So I change to _remote function to the following:

and will add a line to log warnings if the variable `suppress_warnings` is false.
I changed the `remote` function to pass `suppress_warnings` as true to `_remote` so that no warnings will be logged in this case.
@robertnishihara Is that what were you suggesting?
Any other changes or sh

[2020-02-12 19:53] richardliaw commented on #7109
Can you log onto the machine to check if `docker inspect -f '{{.State.Running}}' ray_docker` works?

[2020-02-12 19:54] justinkterry commented on #7069
Hey guys, my schedule just freed up. I'll fix the action space issue and
add exploration myself in the next few days.

On Wed, Feb 12, 2020 at 2:27 PM Justin Terry <notifications@github.com>
wrote:

--
Thank you for your time,
Justin Terry

[2020-02-12 20:19] rusu24edward commented on #7056
Ah, I see. Yes, that's effectively what I am doing now and it seems to be working correctly.

[2020-02-12 20:25] mjlbach commented on #7084
Should this be the default?

[2020-02-12 21:19] ericl commented on #7137
Hey @yutaizhou , I think the main reason is maddpg_policy is defined using the old style class API / v1 model instead of build_tf_policy() / get_model_v2. If that were fixed we could probably move it to agents.

The only other thing is that it has some weird constraints on the config (such as, the agent name must equal the policy name). These are probably minor though.

[2020-02-12 21:36] ericl commented on #7130
I think you would have to write a custom trainer right now -- right now we don't have a good story for how to auto-compose these two different training workflows.

[2020-02-12 21:42] ericl commented on #7121
Hm, all rollout.py does is adding `env = gym.wrappers.Monitor(...)`. Is it possible this is an issue with the env wrapper configuration from gym?

[2020-02-12 21:49] bavaria95 commented on #3472
@robertnishihara Hi Robert. Can confirm, still an issue on `0.8.1`

[2020-02-13 01:28] jsuarez5341 opened #7148 "Support for Infiniband connections"
RL chews through a ton of data when doing distributed training on high end GPU clusters in a Rapid (see OpenAI's DoTA release) or similar configuration. Infiniband connections are a great way to accelerate communications, which can quickly become a bottleneck in this setting. I've made this issue to gauge community interest in Infiniband support under the suggestion of @richardliaw. (relevant: #63

[2020-02-13 01:38] jsuarez5341 commented on #5013
Seems like this hasn't seen much attention -- note that as a workaround, you can check if an ErrorSignal is returned and print ErrorSignal.error. This at least allows you to develop without breaking print debugging (still breaks pdb)

[2020-02-13 06:16] yongjun823 commented on #7121
Thank you for the answer.

This is the Python code I used to run reinforcement.
I tested the result using rollout.py.

The gym env environment uses ``BreakoutbyNoFrameskip-v4`` and didn't fix it.

Can ``num_workers`` or ``num_envs_per_worker`` be a problem?

[code]

[2020-02-13 07:27] sven1977 commented on #7130
Cool stuff. I remember that paper. From the times, where everyone tried to get better results on Monetzuma (as it was the worst in DQN2015 :) ).
Discussing this internally right now. Will get back to you on this one.

[2020-02-13 10:16] justinkterry commented on #7137
If you look at other bug reports going on, there's some serious wierdness
going on in terms of action space and exploration. I'd object to moving it
out of contrib until I get a chance to fix those.

On Wed, Feb 12, 2020 at 4:19 PM Eric Liang <notifications@github.com> wrote:

--
Thank you for your time,
Justin Terry

[2020-02-13 12:12] vivecalindahlericsson opened #7153 "Inconsistent sample count for MultiAgentEnv [rllib], [tune]"
### What is the problem?
Assertion error triggered for MultiAgentEnv
[code]

* Ray 0.8.1, tensorflow 2.0.0,  Mac OS/Ubuntu

### Reproduction (REQUIRED)
[mockenv-debug.zip](https://github.com/ray-project/ray/files/4198196/mockenv-debug.zip)

Do `./mockenv-debug.zip`

The bug can be avoided by ensuring `batch_size % end_time== 0`, where `end_time` equals the number of steps per episode (see script).

[2020-02-13 13:00] yutaizhou commented on #7138
@dxu23nc please close this issue if your problem has been resolved.

[2020-02-13 16:22] thomaschn opened #7154 "[cluster] [rllib] Performance plummeting until Error "Failed to get Object""
I'm working on a local ray cluster with 5 nodes (160 CPU and 2 GPU in total). There, training with rllib always starts out rather stable, but after a while learning slows down to a crawl and never recovers. Eventually, the nodes in the cluster randomly spit out various amounts of the following error message:

This problem (very slow progress and sporadically "Failed to get object") persists until

[2020-02-13 18:17] ericl commented on #7153
Thanks for the repro. I think the assertion is incorrect, fixed here: https://github.com/ray-project/ray/pull/7157

[2020-02-13 20:12] ericl commented on #7154
It sounds like this is due to running out of object store memory. Pong observations are fairly large and with a very large number of workers this is likely to happen.

1. How much memory is available on the GPU node? For high throughput training you probably want at least several tens of gigabytes.
2. The object store is capped at 20GB by default, you can try increasing it on each node by setting

[2020-02-13 20:54] thomaschn commented on #7154
1. There are 180GB of memory available on the GPU node. However, the error occured on all other nodes (90GB each). Could too little memory on the GPU node cause this kind of error on the other nodes?

2. I will try this again tomorrow. Is there a rule of thumb on how much object store memory will be needed?
 However, I tried increasing the object_store_memory to 50GB on each node before (with a di

[2020-02-13 20:57] ericl commented on #7154
Yeah, it could be the CPU nodes running out. 50GB sounds like quite a lot though. A good rule of thumb is the obs size * sample batch size * num_workers * 5 (fudge factor), which shouldn't be anywhere near 50GB.

If increasing the object store size makes the run last longer before stalling, then it could be a memory leak. cc @edoakes

[2020-02-13 20:58] ericl commented on #7154
Actually can you also include the full trace for `object_buffer_pool.cc:49] Failed to get object` ?

[2020-02-13 21:07] thomaschn commented on #7154
There is no full trace, as far as the error message is concerned. I could try to increase the logging level to DEBUG and hope for more insight.

[2020-02-13 21:33] ocorcoll commented on #6968
It seems that those changes improved memory consumption but I still see the same issue. Ray keeps taking memory without evicting any object. The simplest example I found to replicate my issue is the following:

[code]

The memory consumed by the Store and Worker keeps growing without limits (I stopped it at 1.5 GB). What does Ray use to start evicting, the object_store_memory limits or the overall

[2020-02-13 22:11] ocorcoll commented on #6968
Those changes helped to improve memory consumption but I still see the same issue. Ray keeps consuming memory until reaches the cluster limit. The closest example I found to my situation is the following:

[code]
Ray seems to not evict any entry and memory keeps growing, I had to stop at 1.5GB. Seems that the actor's object_store_memory limit is not used for eviction. Does Ray use the overall mach

[2020-02-13 22:22] justinglibert opened #7159 "RLLib: PyTorch Recurrent Model: Hidden_state is not a Tensor, it's a Numpy Array"
### What is the problem?
Latest ray installed from this wheel: [https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl](https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl)

### Reproduction (REQUIRED)
PyTorch models get back a hidden state that has been casted to a Numpy array.
That breaks torch.nn and

[2020-02-13 23:55] RuofanKong opened #7160 "Ray Issue: The class state is never hold by passing it to the remote function/actors if the class is defined in separate files"
### What is the problem?

* Python version: 3.5.2
* Ray version: latest (and older versions)
* Issues:
Assume we define a class `A` with the state `_foo` in a separate file `utils.py`:

[code]
and we have a script `test.py` depending on the above one:
[code]
The problem is that when you run `test.py`, the state `_foo` of the class `A` is updated as `True`, but after it's passed to the remote funct

[2020-02-13 23:57] ericl commented on #7159
Hm so I think it's expected it will be numpy during inference (since we never backprop during that). However during learning, it should be a Tensor.

[2020-02-14 00:03] alversafa opened #7161 "[rllib] A way to add more info to the input_dict?"
What would be the easiest way to add `prev_dones` (as like `prev_rewards` and `prev_actions`) to the `input_dict`?

This is for the case where `lstm_use_prev_action_reward = True`.

[2020-02-14 00:06] ericl commented on #7159
Try out https://github.com/ray-project/ray/pull/7162 ? I couldn't get your example to run completely but it seems to have gotten further (had to also add `obs = obs.float()`).

[2020-02-14 00:49] justinglibert commented on #7159
Thanks for the fast reply!
"I think it's expected it will be numpy during inference (since we never backprop during that). However during learning, it should be a Tensor."
Do you mean that it is incorrectly doing some eval? Or is the default behaviour of the trainer to first eval before doing any training?
I'll try the PR tomorrow!

[2020-02-14 01:38] ericl commented on #7161
Hmm wouldn't you never see a prev_done since the episode?

If it's some special thing from the env you can put it in the observation space (use a Dict or Tuple space).

[2020-02-14 02:44] alversafa commented on #7161
I was thinking for a setting where you chain multiple episodes to form a trial.

How would we use a dict? I wrapped the environment so that it returns an observation dict of the form `{'obs': ..., 'done': ...}`, however, I don't seem to be getting it on the forward method of the model?

[2020-02-14 02:45] alversafa commented on #7161
I was thinking for a setting where you chain multiple episodes to form a trial.

How would we use a dict? I wrapped the environment so that it returns an observation dict of the form {'obs': ..., 'done': ...}, however, I don't seem to be getting it on the forward method of the model?

[2020-02-14 04:34] wumuzi520 opened #7164 "GCS Service"
### Why to introduce GCS service
Pls see the [document](https://docs.google.com/document/d/1ElbieEAhQqwBaLmjtpq1tOumUG4EPcnjckd4YOiefR0/edit#heading=h.r80tvhfux36o).

### The new gcs client interface
Pls see the [document](https://docs.google.com/document/d/1T3oing7ff3HC9iQZ4qZKowNXFGKeBhqKP4BEjqdN3vM/edit#heading=h.twqv2ptqtsi0).

### The protocol to create actors based on GCS Server.
Pls see the

[2020-02-14 04:45] raulchen commented on #3472
Yeah, this is still an issue on latest master. BTW, we've removed the `__del__` function in our production code.

[2020-02-14 05:10] alversafa commented on #7161
Made it possible by putting it in the observation vector.

[2020-02-14 05:10] #7161 closed

[2020-02-14 06:30] #7106 closed

[2020-02-14 06:36] mitar commented on #5243
I just had to debug this and came back to this issue. This is really not releasing a CPU for us (like `ray.get` does) so i t can deadlock when there are not many CPUs available.

How hard would it be to implement something like this?

[2020-02-14 06:49] thiagocrepaldi commented on #1856
Is there any update on supporting GPU backed buffers in Plasma *without* doing an extra copy to CPU?

[2020-02-14 06:58] billowkiller commented on #6184
hi, all this is State Management for Ray Streaming Proposal https://docs.google.com/document/d/1wGF3GgrxN4yc6i9wHFG9d4pFB75XBHLNMEu4rzW4sLg/edit#

[2020-02-14 08:47] iceman126 commented on #6372
This issue posted saved my life. I spent 1 hour and didn't have any clue to solve this problem.
I think this is important, maybe we should put this in the document so others can reference.

[2020-02-14 09:08] sherylwang opened #7168 "[tune] When would explore function be called at pbt?"
Hi, I'm using pbt for hyperparameter searching. I'm wondering when would the explore function be called. Does it only be called after the exploit function(after cloning the weight  and hyperparameters from good model to poor model)?

[2020-02-14 10:12] perara commented on #7154
I'm experiencing similar issues on a cluster of 6 DGX-2 where each has 500 GB object storage. Takes a while however before the error occurs.

I'll update if I get any useful input.

[2020-02-14 10:21] perara opened #7169 "Too many open files"
### What is the problem?
When running experiments across a local cluster (docker) I experience "Too many open files". Running on a relatively large cluster (96*6 cpus)
The first error i experience is:
[code]
Then the application finally exits with:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
**Ray**: 0.8.1
**Docker**: ulimit
[code]

### Reproduction

[2020-02-14 10:54] vivecalindahlericsson commented on #7153
thanks, I hope the fix is really that simple :)

[2020-02-14 16:28] thomaschn commented on #7154
**Regarding the object store limit**
I ran the same experiment with **20GB** (orange), **25GB** (dark blue) and **40GB** (light blue) object_store_memory on all nodes (50GB caused ray to crash after a few minutes - long before the memory even had a chance to fill up). The cluster consists of 4 CPU nodes (32 cores) with 93GB memory each and 1 GPU node (32 cores + 2 GPUs) with 186GB.
Here are the re

[2020-02-14 18:16] mitar opened #7171 "Using asserts for argument checks is probably a bad idea"
So I am looking at code [here](https://github.com/ray-project/ray/blob/master/python/ray/worker.py#L1830-L1831):

    if resources is not None:
        assert "CPU" not in resources, "Use the 'num_cpus' argument."
        assert "GPU" not in resources, "Use the 'num_gpus' argument."

This is not a good idea. `assert` statements are ignored when running [Python with optimizations](https://docs.pyth

[2020-02-14 18:44] mitar opened #7172 "ray.experimental.queue is very slow"
I have code like this:

[code]

The scheduler task is in fact generating ML pipelines to run and pushing them to the queue, for scheduler thread to run them on the cluster. The above code works well and if I run:

[code]

I get on my laptop:

[code]

Now, the problem is if there is only one CPU available, so if I initialize Ray with `ray.init(num_cpus=1)`. Then the code above hangs, which is expec

[2020-02-14 19:02] 123mitnik commented on #5520
Same issue in several environments
Python version:
Python 3.6.5 :: Anaconda, Inc.

Ray Build version:
ray-0.8.0.dev6-cp36-cp36m

[2020-02-14 19:12] 123mitnik commented on #5509
I got a "nan reward" also

and

[code]

[2020-02-14 19:20] ericl commented on #7154
Thanks, this confirms it is a Ray backend bug.

[2020-02-14 19:24] mitar commented on #6867
In which way is this different from [this queue](https://github.com/ray-project/ray/blob/master/python/ray/experimental/queue.py)?

[2020-02-14 19:39] yannbouteiller opened #7173 "[rllib]: SAC fails with MultiAgentEnv and "normalize_actions" set to True (default)?"
Hello,

I am having the following issue when letting the "normalize_actions" of SAC to True and using a subclass of MultiAgentEnv:

When I set "normalize_actions" to False, this issue disappears.
I am not sure whether this is a bug or if I am doing something wrong?

Ray version: 0.8.1

Regards,
Yann

[2020-02-14 20:00] edoakes commented on #5559
@kfstorm we want to remove the non-direct-call codepath as soon as possible, but it's failing some Java tests. From what I can tell, none of the above should be a problem anymore (we fixed 1 & 3 when implementing direct calls in Python and it looks like you've fixed 2).

I think the best way forward is to remove the option for non-direct-calls from both Python and Java first and then remove the co

[2020-02-14 20:16] waldroje commented on #7168
One simple situation is to control interaction between hyperparameters, example... . ensure that "train_batch_size" >= "sample_batch_size", if those two parameters where being updated.... so it could look something like this.

[code]

[2020-02-14 20:17] betelguez opened #7174 "Numpy arrays are mutable in object store in ray >=0.8"
My first ever github post and hopefully I am doing this right...

### System information
OS Platform: Linux RHEL7
Ray installed from binary
Ray version: 0.8.x onwards
Python version: 3.7.4
Exact command to reproduce: See example below.

### Describe the problem
Numpy arrays (and pandas dataframes) were immutable in 0.7.6, as described in the documentation. Any modification to a numpy array fetched

[2020-02-14 21:53] #7141 closed

[2020-02-14 21:55] simon-mo commented on #6867
Blocking get will be waiting inside the actor (using asyncio actor to support concurrent calls) instead of spin-retry get.

[2020-02-14 23:52] thavlik commented on #5001
I'm getting this with APPO on all trials.

[code]

[2020-02-15 01:01] sherylwang commented on #7168
I haven't found the meaning of sample_batch_size in tune. Is this a original parameter of tune? @waldroje

[2020-02-15 01:05] ericl commented on #7154
I'm having trouble reproducing on (TF 1.15, Ray 0.8.1, Python 3.6, p2.16xl GPU node, m4.16xl CPU node):

![image](https://user-images.githubusercontent.com/14922/74578874-f5035800-4f4b-11ea-96e0-31372d34988c.png)

Orange is 20GB object store size, blue is 2GB. Both seem to be operating fine past 15-20M timesteps, which has crashed for all configs above. Maybe there is some difference in TF version

[2020-02-15 01:19] ericl commented on #7173
It looks like NormalizeActions does not support multi-agent (this needs a better error message).

[2020-02-15 03:15] AbhimanyuAryan commented on #631
WSL2 is actual Linux kernel unlike WSL

[2020-02-15 05:24] alversafa commented on #4614
@Kismuz, is it possible for you point where I should use this?

[2020-02-15 06:22] mitar commented on #7172
In fact, I am not sure why the worker is not released, because if Ray does not know/care about threads, then when secondary thread calls `ray.get` it should release the worker, no? Even if the primary thread is blocked on the queue?

[2020-02-15 07:00] alversafa commented on #4614
@Kismuz,

I made it by creating another a deterministic version of the `Categorical` class in: https://github.com/ray-project/ray/blob/3d9bd64591506c2d3cd79d18c96908c996b52c3f/rllib/models/tf/tf_action_dist.py#L41

where I take the argmax in the following line:

https://github.com/ray-project/ray/blob/3d9bd64591506c2d3cd79d18c96908c996b52c3f/rllib/models/tf/tf_action_dist.py#L78

Thanks for all th

[2020-02-15 07:42] mitar commented on #6867
Nice. See also #7172.

[2020-02-15 15:24] waldroje commented on #7168
rllib.Trainer inherits fromtune.Trainable, and rllib.Trainer has default config, which you can view in the code... has a pretty good explanation for most of the default configuration, of which includes both sample_batch_size and train_batch_size.

[2020-02-16 01:22] #7153 closed

[2020-02-16 05:19] suquark commented on #7174
This could be related to the new serializer we are using. I am going to fix it.

[2020-02-16 05:22] yamada-github-account opened #7180 "[RLlib] PrioritizedReplayBuffer raises "IndexError: list index out of range" from SegmentTree"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

Docker image `python:3.7`

- Python 3.7.5
- Linux (Debian Buster)
- Ray 0.8.1

[code]
(Another issue: Pandas is missing from `install_requires`, needed manual installation.)

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should hav

[2020-02-16 07:29] pmacalpine opened #7182 "[rllib] GPU memory leak until out of memory when using local_mode with ray in pytorch PPO"
### What is the problem?
When running pytorch PPO with `ray.init(local_mode=True)` rllib steadily uses up all the GPU memory due to what appears to be a memory leak (the attached log shows a constant linear increase in vram usage until it nears 100% and eventually runs out of memory) when training on atari (breakout).  The CPU memory leak in #6962 is also still present, but in this case is much sl

[2020-02-16 18:56] zfavourite99 opened #7183 "ERROR: No matching distribution found for ray"
### ERROR: No matching distribution found for ray?
Python version: 3.8.1
OS: Ubuntu 18.04 TLS

[2020-02-16 19:00] heavyinfo opened #7184 "Bazel build error for boost when building from source on ARM(aarch64)"
I'm trying to build ray from source on Jetson Nano (aarch64).
I already have working PyArrow, bazel in my system, I compiled the requisite files to the ray build folder as required.x

Ubuntu 18.04, Linux Titan 4.9.140-tegra #1 SMP PREEMPT Sat Oct 19 15:54:06 PDT 2019 aarch64 aarch64 aarch64 GNU/Linux
bazel 2.1.0- (@non-git)
Python 3.6.9
ray - latest cloned from here.

But, I get the following erro

[2020-02-16 19:40] holdenk opened #7186 "Documentation for connecting to ray cluster could be improved"
### What is the problem?

ray, master of f0e62d7

### Reproduction (REQUIRED)

The connection string in the docs https://ray.readthedocs.io/en/latest/deploy-on-kubernetes.html 'ray.init(address="$RAY_HEAD_SERVICE_HOST:$RAY_HEAD_SERVICE_PORT_REDIS_PRIMARY")' should probably be replaced by something like ray.init(address=os.getenv("RAY_HEAD_SERVICE_HOST")+":"+os.getenv("RAY_HEAD_SERVICE_PORT_REDIS_P

[2020-02-16 19:42] holdenk opened #7187 "[autoscaler] Slim down docker images"
### Describe your feature request

The ray images are larger than they need to be, for example, we include apt cache information which we probably don't need most of the time.

[2020-02-16 19:43] holdenk opened #7188 "[docs] Clarify that in K8s the jobs need to be launched from the workers"
### Describe your feature request

You can not launch jobs on the head node, this is because A Pod cannot reach itself via Service IP and our connection string uses the service ip (see https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/)

[2020-02-16 19:45] holdenk opened #7189 "[docs] If the worker dies with state during a process, there is no recovery"
If the worker dies with an actor with state during a process, there is no recovery of the state or the actor. We should make this clear in the documentation if this is the intended effect (see https://www.youtube.com/watch?v=IUI5okVvgbQ for a demo of this).

[2020-02-16 23:26] #7138 closed

[2020-02-16 23:27] dxu23nc opened #7190 "How to customize the log_dir in the .yaml file? Thanks in advance."
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*

[2020-02-17 01:38] pmacalpine commented on #6962
I don't think the source of the problem is torch_policy.compute_actions().  I changed https://github.com/ray-project/ray/blob/6745459f966a9d9e68210aab19d948ead0c9f563/rllib/evaluation/sampler.py#L549 to
`eval_results[policy_id] = (np.array([0]), [], {'action_logp' : np.array([-0.0084]), 'behaviour_logits': np.array([np.array([5.15, -2.9, 0.33, -3.35])]), 'vf_preds': np.array([-0.21])})`
such that

[2020-02-17 01:52] richardliaw commented on #7187
These are great suggestions! BTW @holdenk would you be willing to join the ray slack? I can send you an invite; we'll be able to communicate faster there.

[2020-02-17 02:06] ericl commented on #6962
Interesting. What if you also comment out set_weights() in the rollout worker class?

[2020-02-17 03:13] ancrs opened #7191 "[cross-language]Problem about cross language data layout"
In issue [2576](https://github.com/ray-project/ray/issues/2576), I find out Ray plan to use PB or arrow as cross-language data layout. However , in the current master branch, I find out Ray changes serilization protocol from arrow to pickle5. Iwant to know if Ray will support Cross-language task invocation in thefuture. What are you planning to do?

[2020-02-17 05:18] pmacalpine commented on #6962
The memory leak is still there with RAM utilization climbing from around 10% to over 50% and still steadily rising.  Any other suggestions for possible code to comment out that might be causing a memory leak?

[2020-02-17 05:58] ericl commented on #6962
Hmm, with both those replaced I don't think we are even calling into pytorch any more beyond initializing the model. Perhaps go through TorchPolicy and replace code there with noops in case they are used.

It's also possible just deserializing (torch) weights is leaking memory somehow. You can have get_weights return an empty dict to see if that changes anything.

[2020-02-17 08:57] xavier-lr opened #7192 "Cancelling stale RPC"
I'm testing ray for data processing in python and I'm facing an error.
My script sets up an Actor that holds a Panda DataFrame, and then launch several processes with Ray; each one updates a different row of the Dataframe through the Actor. Everyone goes fines untill at some point it starts failing

My code could be summarized as follows (with symbolic variables):

[code]

The output is:
[code]

I

[2020-02-17 13:40] thomaschn commented on #7154
I've just tried the following versions on Python 3.6 with 2GB object storage:
- TF 1.15 (both tensorflow and tensorflow-gpu)
- TF 2.0.0
- TF 2.1.0
- ray 0.8.1
- ray 0.9.0 (latest nightly)

On all of these versions, the problem was occurring. Interestingly, it was also occurring very consistently across these runs at a rather precise number of steps (~2.5M). And it confirmed once more that there is

[2020-02-17 13:42] iceman126 opened #7194 "[rllib]PPO with action branching?"
### PPO with action branching?
Ray version: 0.8.0
Tensorflow Version: 1.14.0
OS: Ubuntu 18.04

I'm currently working on training action branching agents with PPO. What else do I need to do besides set the action space to something like `gym.spaces.Tuple([gym.spaces.Discrete(3), gym.spaces.Discrete(5)])`, or I need to write a custom loss function? I was wondering if the gradients would be correct.

[2020-02-17 14:35] hkvision opened #7195 "Question about nested actors resource allocation"
### What is your question?

[updated]

Hi,

I'm under the following scenario to use ray for parallelism:
I have created several ray actors, say each actor is on one node and occupies some resources on this node. In each actor, I am creating several nested actors (or remote functions) to perform tasks. The outer actor would collect results returned by inner actors followed by its own tasks.
Want to

[2020-02-17 15:14] dorcus01 commented on #6806
Hi, I have the same issue regarding allocating GPU resources among multiple nodes for one training task. When I'm doing hyperparameter tuning in ray, each node has a single GPU, but I want to use 2 GPUs for each training task. How can I achieve this?

[2020-02-17 16:44] thomaschn commented on #7154
I've ran some more experiments by changing the number of nodes in the cluster. It seems like the error only occures when there are more than 2 nodes in the cluster:
- **2 nodes** (64 CPUs, 2 GPUs): stable
- **3 nodes** (96 CPUs, 2 GPUs): 10M steps till error, little slowdown after object store >= 2GB
- **5 nodes** (160 CPUs, 2 GPUs): 2.5M steps till error, drastic slowdown after object store >= 2G

[2020-02-17 16:53] thavlik commented on #7008
FYI I installed the latest wheel (0.8.1) and still encountered this issue.

[2020-02-17 18:26] #7159 closed

[2020-02-17 18:26] #7173 closed

[2020-02-17 18:49] OscarVanL opened #7196 "Cannot install ray on Red Hat Enterprise 7.7"
### What is the problem?

`pip install ray` fails on my system running Red Hat Enterprise 7.7

*Ray version and other system information (Python version, TensorFlow version, OS):*

I'm using a new Anaconda environment.
`python --version`: 3.8.1
`pip --version`: 20.0.2

`pip list`:
[code]

`pip install --upgrade ray==0.8.1 --verbose`:

[code]

### Reproduction (REQUIRED)
Just run pip install ray in

[2020-02-17 18:49] jsuarez5341 opened #7197 "Cannot call ray.get inside async actor (not a request for async get)"
**Problem:** ray.get not allowed inside async actors

Have been discussing this issue with @edoakes on Slack. Apparently the decision was made to hard stop ray.get inside async actors to prevent people from accidentally running blocking code inside otherwise fully async tasks. The problem is that blocking code is actually needed inside _lightly_ async tasks.

**Key Example:** Ray.signal is quite b

[2020-02-17 18:50] jsuarez5341 commented on #7197
Edit: fixed code format

[2020-02-17 18:57] ericl commented on #7194
Yeah that's all you need for PPO. The action will be automatically computed for the space.

[2020-02-17 19:40] simon-mo commented on #7197
It seems the alternative async version of the run method is
[code]
the blocking code itself won't be pre-emptied. `asyncio` will only context switch when you are waiting for bar.remote() to execute. When the context switch happens, other coroutines will be allowed to run.

[2020-02-17 19:42] simon-mo commented on #7187
@wuisawesome might be interested in doing this?

[2020-02-17 19:47] ericl commented on #7154
I was able to reproduce this on a 5-node cluster with a p2.16xl head and 4 m4.16xl worker nodes.

After a few minutes, you start seeing "Failed to get object". The frequency of these errors seems to grow over time. Also, raylet CPU and memory seem to increase. The raylet reaches >100% CPU usage on worker nodes.

I was not able to reproduce the "drastic slowdown" part but it could be just these nod

[2020-02-17 19:53] ericl commented on #7154
@thomaschn can you confirm if you see the performance cliff even with ray==0.8.0? I see the error messages with that version, but am not if it is as severe.

[2020-02-17 20:02] wuisawesome commented on #7187
Yeah, this sounds like a good idea. Keeping images small will eventually be useful for improving how quickly the autoscaler can spin up new workers.

[2020-02-17 20:05] wuisawesome commented on #7187
I can try to do this some at some point, but if someone beats me to it, there's a easy things that siginificantly decrease vm/container size.

(Taken from https://github.com/Berkeley-CS162/vagrant)
``That can be done by running sudo apt clean, sudo dd if=/dev/zero of=/EMPTY bs=1M, and sudo rm -f /EMPTY inside the VM. You may also choose to clear the history with history -c (and clear the .bash_his

[2020-02-17 21:10] thomaschn commented on #7154
Yes, I can imagine your nodes having enough memory to smooth out this issue for a while. After all, your nodes are not even at 10% memory usage, whereas mine are towards 20-50% in total. More specifically, I regularly noticed the nodes which reported `Failed to get Object` to run completely out of memory. So even 50% of memory usage in total often times means that the failing nodes are at 100%.

[2020-02-17 21:12] ericl commented on #7154
The first log is the raylet.out from the worker node in /tmp/ray/session_latest/logs. The second one is the debug_state.txt in session_latest.

[2020-02-17 21:28] ericl commented on #7154
Current working hypothesis is something like this:
1. some spurious transfer failure causes a request to get stuck pending forever
2. the pending request consumes some amount of temporary buffer memory (and also object store memory)?
3. eventually enough pending requests accumulate to cause an OOM

The correlation of the events with filling up the object store could be due to transfer failures onl

[2020-02-17 21:33] cdelcacho-paradigma commented on #7011
I am getting the same result on OSX. It appears as if the _restore method is not being called.

[2020-02-17 21:46] yannbouteiller opened #7199 "[rllib] PPO: TF eager execution doesn't work with custom models"
I am trying to modify FullyConnectedNetwork(TFModelV2) to replace the last activation by a sigmoid (PPO keeps outputing saturated actions with the default model).

First, I set config["eager"] = True for debugging
Then, I copy-paste FullyConnectedNetwork(TFModelV2), rename it, register the renamed model and use it as a custom model.

Then, when executing

[code]

I get the following error:

If I u

[2020-02-17 21:58] jsuarez5341 commented on #7197
That works if you happen to be calling ray.get from an async method, but what if you want to call it from a synchronous method?

[2020-02-17 22:18] simon-mo commented on #7197
can you elaborate on why do you need to call it from synchronous method? Wrapping your synchronous method inside an async method have no performance penalty and there won't be any preemption. You have to explicitly yield control with await.

[2020-02-17 22:45] ericl commented on #7197
Isn't the bigger issue that `run` will block the entire event loop unless it's an `async def`? Even if we allowed get, the example above still wouldn't work. You would need:

[code]

@simon-mo can we raise a warning if a non-async method is called?

[2020-02-17 23:52] jsuarez5341 commented on #7197
@ericl Yes I missed an async def in my example, thank you.

@simon-mo The larger issue is that having to await ray.get forces you to redefine a potentially large number of functions as asynchronous (see below).

[code]

[2020-02-18 00:52] JiahaoYao opened #7202 "[tune] torchtext pickle error"
The following codes run on the colab,
[code]

where `train_lstm` is my own fined function using pytorch.

[code]
Can anyone figure out what is run with the pickle?

[2020-02-18 01:38] damianj commented on #7196
I think it's because you are trying to install it on Python 3.8.X, as far as I know compatibility with Python 3.8 is still being worked on. It's been stalled for quite some time, so if you need to use it I'd recommend just installing Python 3.7. See #5910 and #6423 for more info.

[2020-02-18 01:43] pcmoritz commented on #7196
We can get back to Python 3.8 wheels very soon, it is blocked on https://github.com/ray-project/ray/pull/7146 at the moment :)

[2020-02-18 01:47] OscarVanL commented on #7196
Thanks. Will try that tomorrow.

[2020-02-18 02:56] JasonWayne opened #7204 "Provide abstraction/interface to implement resource isolation for custom resources"
Currently, ray can use custom resources for new kind of hardwares like TPU. But to my best knowledge, custom resoures can not provide real resource isolation in ray like GPU in the following code:

[code]

Can we provide some interface for developers to implement resource isolation for custom resources?

[2020-02-18 05:29] iceman126 commented on #7194
Thank you for your answer. It helped a lot.

[2020-02-18 05:29] #7194 closed

[2020-02-18 05:47] simon-mo commented on #7154
@ericl is this fixed by #7201?

@thomaschn can you try install from latest development snapshot https://ray.readthedocs.io/en/latest/installation.html#latest-snapshots-nightlies see if the fix address this issue?

[2020-02-18 05:49] simon-mo commented on #7097
The nightly build removed pyarrow dependency. https://ray.readthedocs.io/en/latest/installation.html#latest-snapshots-nightlies

[2020-02-18 05:49] #7097 closed

[2020-02-18 05:50] simon-mo commented on #7097
Fixed by commit https://github.com/ray-project/ray/commit/2116fd3bcaf9552b2273cbc10e90cc6d66e904a8

[2020-02-18 05:56] ericl commented on #7154
@simon-mo it gets rid of the object get errors in my testing. Would be great to get confirmation.

[2020-02-18 07:00] pmacalpine commented on #6962
I still see the memory leak even after I've replaced pretty much everything in `TorchPolicy` to be noops as well as `get_weights()` and `set_weights()` in `RolloutWorker`, and also the change I mentioned above to sampler.py such that `torch_policy.compute_actions()` is never called.

I have however found a way to stop the memory leak with no changes to code other than not always calling the line a

[2020-02-18 11:00] OscarVanL commented on #7196
ray installed successfully with a Python 3.7 Conda environment :) Thanks!

[2020-02-18 11:00] #7196 closed

[2020-02-18 12:12] CavalloneChen commented on #7183
Seems that ray is not yet compatible with py3.8. Downgrading to py3.7 will resolve this issue.

[2020-02-18 13:31] kiranmaya opened #7205 "[Tune ::Rllib ::Apex:: Dqn ::RainBow] Saving ONNX model"
python:3.6.9
ray:0.8.1
Tensorflow-Gpu:1.14
os:Ubuntu 18.04

I want to save model to ONNX,so i can use it in my c# application windows. From the doc's i have seen 4 callbacks ,but those for training ,is there any api for save model file with weights ( including or seperate ) so that i can read that tf model to export onnx .

[code]

[2020-02-18 15:01] thomaschn commented on #7154
Thanks a lot!
Yes, I can confirm that this problem does not occur any more with the latest development snapshot. No `Failed to get object`, no drastic slowdown.

I've run some experiments with **2GB** (orange) and **20GB** (blue) object store limit on a 5 node cluster using 128 workers. For comparison: magenta is yesterdays "stable" run using 64 workers on 2 nodes with 2GB object store limit.

![f

[2020-02-18 16:07] holdenk commented on #7097
So with that change, does ray not use pyarrow anymore?

[2020-02-18 16:15] cfusting commented on #7202
I'm having the same issue.

[2020-02-18 16:17] justinglibert opened #7206 "RLLib: Pytorch + PPO + RNN: KeyError: 'seq_lens' in the batch dictionary"
### What is the problem?

Installed ray with the nightly wheel.
I wrote a custom env, model, and action distribution.
I attempt to train it with PPO but there is a key error in one of the internal object used by RLLib (the batch dict with "seq_lens" that is used for masking recurrent model when backpropagating)
`
2020-02-18 16:11:55,261	ERROR trial_runner.py:513 -- Trial PPO_test_49f2c33a: Error p

[2020-02-18 16:41] nateewall commented on #7202
Same issue here & I am using torchtext for preprocessing & batching my data.

[2020-02-18 16:48] simon-mo commented on #7097
Ray directly use arrow via cpp bindings.

[2020-02-18 16:54] holdenk commented on #7097
Cool, is there somewhere the version of Arrow is specified for folks looking to integrate?

[2020-02-18 17:27] ericl commented on #7206
I think this is since we don't support RNNs with pytorch yet, cc @sven1977

[2020-02-18 17:46] JiahaoYao commented on #7202
That is right, @cfusting  and @nateewall. I am using torchtext!

[2020-02-18 17:51] waldroje commented on #7093
I believe #7201 fixes these issues

[2020-02-18 17:51] #7093 closed

[2020-02-18 17:56] Hailey-Liu commented on #6978
I just solved this question. I did a couple of things and I am not sure which one solves it.

- reinstall Ray with the Latest Snapshots (Nightlies)
- extend the sleep time from 5s to 30s in this [slurm example](https://ray.readthedocs.io/en/latest/deploying-on-slurm.html)
- add `#SBATCH --time=0-10:00:00` (add time limit otherwise I received time limit error)

[2020-02-18 17:56] #6978 closed

[2020-02-18 17:59] justinglibert commented on #7206
From the [doc](https://ray.readthedocs.io/en/latest/rllib-models.html#pytorch-models): "Similarly, you can create and register custom PyTorch models for use with PyTorch-based algorithms (e.g., A2C, PG, QMIX). See these examples of fully connected, convolutional, and recurrent torch models."
It looks like you do!
Here is a pytorch rnn in the codebase: [https://github.com/ray-project/ray/blob/maste

[2020-02-18 18:55] ericl commented on #7199
Please provide a repro script (reopen this issue once you have it).

[2020-02-18 18:55] #7199 closed

[2020-02-18 21:09] hubcity commented on #6718
This looks very similar to this [os.setsid](https://stackoverflow.com/questions/25701333/os-setsid-operation-not-permitted) question where python raises an exception if the value is already set.

Could this be a simple as changing
`    os.setpgrp()`
to
`    if os.getpgrp() != os.getpid(): os.setpgrp()`

This worked for me on Ubuntu 18.04.

[2020-02-18 21:15] mehrdadn commented on #6451
I think #7146 removed the dependency on PyArrow, so this issue may be resolved.

Would you mind checking and letting us know if this issue still occurs?

[2020-02-18 21:16] mehrdadn commented on #6451
Oh, sorry, this is not released yet. We'll see if we can have this in the next release; if not, it should happen in the following release. If the issue still comes up when the PyArrow dependency is removed please do let us know.

[2020-02-18 21:17] vivecalindahlericsson opened #7208 "[rllib] I am running a PPO trainer with horizon=15000 for an environment that will run "forever", i.e. it should always terminate due to hitting the horizon, i.e. episode_length = horizon. By visualizing in Tensorboard, it however looks like episode _length < horizon after some time, see screenshot. How can this happen?"
### What is your question?

I am running a PPO trainer with `horizon=15000` for an environment that will run "forever", i.e. it should always terminate due to hitting the horizon, i.e. `episode_length = horizon`. By visualizing in Tensorboard, it however looks like  `episode _length < horizon` after some time, see screenshot. How can this happen?

<img width="353" alt="Screenshot 2020-02-18 at 22

[2020-02-18 21:26] ericl commented on #7154
I think that might be a TF issue. When I set num_gpus=1 and commented out the num_data_loader_buffers config, the slowdown vanished (orange line):

![image](https://user-images.githubusercontent.com/14922/74779380-38164180-5252-11ea-93fe-b803e811bb9d.png)

So it might be a multi-gpu or concurrent data loader caused leak.

[2020-02-18 21:27] ericl commented on #7154
I'm going to close this issue, feel free to open another one for the more gradual slowdown.

[2020-02-18 21:27] #7154 closed

[2020-02-18 21:31] #6451 closed

[2020-02-18 21:32] pmacalpine commented on #6962
I've been using [muppy](https://pythonhosted.org/Pympler/muppy.html) to try and better determine what memory is being leaked.  The following is the diff of added/leaked memory between 100 iterations of learning for a single worker (roughly 50,000 time steps for each worker)  which shows the main accumulation of memory being torch.Tensor:
types             |   # objects |   total size
torch.Tensor

[2020-02-18 21:38] ericl commented on #6962
That suggests it's something to do with serializing Torch tensors, since
each sample batch gets serialized and set back to the learner process.
What's odd is that the sample batch should only be containing numpy arrays,
there shouldn't be any tensors there.

Eric

On Tue, Feb 18, 2020 at 1:32 PM Patrick MacAlpine <notifications@github.com>
wrote:

[2020-02-18 21:52] olivierlefloch commented on #3751
Would it be possible to move `pytest` out of the installation requirements (`tests_require` would be fine)? I don't want to install it in the code I deploy, but `ray` requires it as things stand.

[2020-02-18 21:57] thavlik opened #7210 "[ray-operator] installation fails on kustomize build config/default"
Platform: MacOS 10.15.1
Head commit from master

I am trying out ray-operator and the base paths appear to be having issues building with kustomize:

[code]

For clarification, this command evaluates just fine:
[code]

It appears rbac/kustomization.yaml includes `resources: role.yaml`, which indeed does not exist.

[2020-02-18 22:14] ericl commented on #7208
You might be running with batch_mode: truncate_episodes. Try batch_mode: complete_episodes?

[2020-02-18 22:18] pmacalpine commented on #6962
Yes, I only see numpy arrays as the values stored in the dictionary for the batch.

[2020-02-18 22:43] ericl commented on #6962
One other thing we do approximately once per sample batch is calling
postprocess_ppo_gae(), which among other things calls policy._value().

On Tue, Feb 18, 2020 at 2:18 PM Patrick MacAlpine <notifications@github.com>
wrote:

[2020-02-18 23:00] richardliaw commented on #7202
@JiahaoYao can you help post a small reproducible script here?

[2020-02-18 23:09] pmacalpine commented on #6962
Preventing `policy._value()` from being called by setting `completed = True` at https://github.com/ray-project/ray/blob/c957ed58edfbfb9d9574e8ea1c73d12c1002d7c0/rllib/agents/ppo/ppo_tf_policy.py#L175 stops the memory leak of torch tensors.

[2020-02-18 23:13] ericl commented on #6962
Oh, maybe we need to do *with* *torch.no_grad*() in "def value" of
ppo_torch_policy.

Eric

On Tue, Feb 18, 2020 at 3:10 PM Patrick MacAlpine <notifications@github.com>
wrote:

[2020-02-18 23:24] #7063 closed

[2020-02-18 23:29] lychanl opened #7212 "[rllib] Impala with V-Trace evaluation"
Is it possible to run evaluation when using Impala with V-Trace?

From what I found in code, evaluation worker's config has `batch_mode` set to `complete_episodes` which makes v-trace config validation fail on assertion `config["batch_mode"] == "truncate_episodes"`.

Here is the full config that I used:
[code]

for the `SpaceInvaders-v0` environment

[2020-02-18 23:46] pmacalpine commented on #6962
Yes, that stops the torch tensor leaks!  There are a few other small things still accumulating memory, but maybe they'll be taken care of by the garbage collector later.  I'll test with this change to see if it fixes the overall problem.

[2020-02-18 23:51] yannbouteiller commented on #7199
Sorry for wasting your time, it works actually, it was a bug in my environment.

For reference, the bug was caused by the fact that, with multiagent environments, rllib calls step() with an empty action_dict at the beginning for some reason (?) and in this case I replace missing actions by actions sampled in an action_space that had one extra dimension (nb_agents * nb_agents * nb_actions instead o

[2020-02-19 01:38] JasonWayne commented on #7204
@ericl @richardliaw @robertnishihara Pls help to check this.

[2020-02-19 01:42] semin-park opened #7215 "[tune] separate fixed configuration from searchable parameters"
### Describe your feature request

I've wrapped an existing pytorch based project with ray tune PBT. It works great 👍thank you :)

But one thing I wish I had is, being able to input fixed configuration somewhere else other than in the configuration that is used for searching hyperparameters.

The things is, I have many options (e.g., dataset name and paths) that are completely irrelevant to the al

[2020-02-19 01:45] ericl commented on #7212
I think what we can do is disable that check in VTrace policy if in evaluation mode. The experiences won't be usable for training, but that is probably fine.

[2020-02-19 01:48] ericl commented on #7212
Try https://github.com/ray-project/ray/pull/7217/files ?

[2020-02-19 02:17] parthjaggi opened #7219 "AttributeError: module 'tensorflow' has no attribute 'executing_eagerly'"
### What is the problem?
On running the command: `rllib train --run=PPO --env=CartPole-v0`

I get the error:
`Traceback (most recent call last):
  File "/home/parth/miniconda3/envs/pyrl/lib/python3.6/site-packages/ray/tune/trial_runner.py", line 424, in _process_trial
    result = self.trial_executor.fetch_result(trial)
  File "/home/parth/miniconda3/envs/pyrl/lib/python3.6/site-packages/ray/tune/

[2020-02-19 02:32] robertnishihara commented on #3751
I agree with that. It should only be necessary for the tests.

[2020-02-19 07:09] JiahaoYao commented on #7202
Hi @richardliaw, here is the [colab](https://colab.research.google.com/drive/1jEEUz-wF9fYHi2QXgIIjKrHwiJtya85Y), which can reproduce the bug. I think that is probably because the dataset is too large to put into the memory.

Again, thank you so much for looking into this specific problem!

[2020-02-19 08:11] wangqipeng opened #7223 "The issue of "ModuleNotFoundError: No module named 'tensorflow'" in Use Actors for Parallel Models"
hi，guys：
i deploy a cluster based two machines. then i try to run the following code which is a example provide by the "Best Practices: Ray with Tensorflow"：

    import os
    import sys
    import ray
    import numpy as np

    ray.init(address="10.27.1.29:6379")

    def create_keras_model():
        from tensorflow import keras
        from tensorflow.keras import layers
        model = keras

[2020-02-19 08:14] vivecalindahlericsson commented on #7208
Thanks, that's a good hint!

[2020-02-19 08:31] vivecalindahlericsson opened #7224 "Smarter warnings for actor export"
### Describe your feature request
We are several people working on a long-lived ray cluster. We keep getting the warning

[code]

as soon as we've used in this case PPO for enough times. In this case I assume the warning is completely misplaced and that restarting the cluster would get rid of it, for a while.

[2020-02-19 09:45] richardliaw commented on #7215
@semin-park, can you post an example of your ideal code?

[2020-02-19 10:38] lychanl commented on #7212
This fix works fine, thanks

[2020-02-19 12:35] sven1977 commented on #6962
So it's the way we send torch gradients around? I'm assuming you had zero'd out the loss AND the value-function set to no_grad, when it stopped the leak.

I could also confirm this happening with our A3C torch (same experiment Atari SpaceInvaders on 1GPU/3 workers), actually it seems much worse there (not sure why).

I found another minor issue (within PPO), but it's not the true-underlying cause

[2020-02-19 13:42] sven1977 commented on #6962
Hmm, that's not the solution, though. We need the gradient for the vf_loss.
This is all very strange... I'm experimenting with A2C as that's also showing the same behavior.

[2020-02-19 14:47] sven1977 commented on #6962
I'm printing out the number of Torch tensors and it's always constant now with my new fix (no garbage collection necessary anymore), 46 tensors with `tuned_examples/atari-ppo.yml  + --torch option on a single env` but memory consumption still creeps up in PPO torch Atari.

[2020-02-19 16:17] pmacalpine commented on #6962
I can confirm the change of adding `with torch.no_grad()` to `def value` (attached) fixes this issue.
[ppo_torch_policy.zip](https://github.com/ray-project/ray/files/4225915/ppo_torch_policy.zip)
![LeakFixed](https://user-images.githubusercontent.com/7802157/74849997-41ed8280-52ee-11ea-8396-faabba9c1ee3.PNG)
While there are some extra floats and ints accumulated as I mentioned [earlier](https://gi

[2020-02-19 17:11] pmacalpine commented on #6962
Not sure but is https://github.com/ray-project/ray/blob/f76ce836b2cbfef53b71647684572a6fde228a8e/rllib/agents/ppo/ppo_torch_policy.py#L189 only used when computing the GAE?  If so I don't think we need a gradient there, and learning seems to be working fine without the gradient in `def value`

[2020-02-19 17:32] sven1977 commented on #7182
Thanks for opening this! This is the same issue as #6962 . We are currently working on a fix. I will close this one.

[2020-02-19 17:32] #7182 closed

[2020-02-19 17:34] sven1977 commented on #7206
I'll assign myself and take a look. Thanks for filing this!

[2020-02-19 17:34] sven1977 commented on #7206
Yes, we'll have to fix LSTM support for torch.

[2020-02-19 17:44] sven1977 commented on #7180
Thanks for filing this! Will take a look.

[2020-02-19 17:52] sven1977 commented on #7107
Will close this: PR https://github.com/ray-project/ray/pull/7124
fixes this issue.
There is now a `compute_log_likelihood` method in Policy, which is used by the off-policy evaluators (instead of compute_actions).

[2020-02-19 17:52] #7107 closed

[2020-02-19 17:57] sven1977 commented on #7069
Hey @justinkterry , that's awesome. Could you look at this PR, though?
https://github.com/ray-project/ray/pull/7155
It'll be merged probably today and unifies the way we do exploration/stochasticity/deterministic action draws.
I know, MADDPG doesn't really abide well to our Policy hierarchy (yet), so if you think it's better to fix this now in the existing MADDPG structure (without the new Explora

[2020-02-19 18:07] thedrow opened #7228 "Use AnyIO instead of AsyncIO"
#### Describe your feature request
AsyncIO is just one of the event loop implementations available for Python users.

We should allow our users to pick which asynchronous event loop implementation they would like to use.

This is especially important on the client side (e.g. When asynchronously fetching a result as in #6263) as it may use a different event loop such as [trio](https://github.com/py

[2020-02-19 18:29] thedrow opened #7229 "Async version for remote_func.remote()"
### Describe your feature request

Blocking while invoking remote functions is not acceptable if you have an event loop.
We should have an async implementation for invoking remote functions.

[2020-02-19 18:52] thedrow opened #7230 "PyPy support"
### Describe your feature request

Currently the project is not tested using PyPy which is a faster implementation of Python with a JIT.
Since the project is using Cython which uses the CPython API directly ray [will be slower on PyPy](https://morepypy.blogspot.com/2018/09/inside-cpyext-why-emulating-cpython-c.html).

This is likely to change soon with [HPy](https://github.com/pyhandle/hpy), an ef

[2020-02-19 19:27] kepricon opened #7231 "[rllib] Export model failure for TupleActions"
### What is the problem?
I wanted to export a model which has tuple actions.
But I got the `AttributeError: 'TupleActions' object has no attribute 'dtype'` error message while exporting TF model.

*Ray version and other system information (Python version, TensorFlow version, OS):*
OS: Ubuntu 16.04
Python: 3.7
Ray: 0.7.6(also tested with 0.8.1)
TF: 1.13.1(also tested with 1.15.0)

### Reproduction

[2020-02-19 19:54] #7212 closed

[2020-02-19 19:59] ericl commented on #6962
@sven1977 we should insert the no_grad at a higher level, in the postprocess_trajectory function of the policy. We never differentiate through that, since it is called during experience collection only.

[2020-02-19 21:24] simon-mo commented on #7229
You can directly `await` on objectid or converting it to asyncio.Future now
https://ray.readthedocs.io/en/latest/async_api.html#objectids-as-asyncio-futures

[2020-02-19 21:30] richardliaw commented on #7219
Are you on TF 1.4? or 1.14?

If 1.4, please upgrade to 1.14 or above.

[2020-02-19 21:49] thedrow commented on #7229
What if I don't want the result?
All I want is to invoke the remote function.

[2020-02-19 21:59] simon-mo commented on #7229
invoking remote function is non-blocking, `func.remote()` is fairly cheap and it immediately returns after invocation

[2020-02-19 23:50] parthjaggi commented on #7219
I am on version: 1.4.1
1. Isn't the 1.4.1 after the 1.15 version?

Also due to my PC being compatible with cuda80 only, this is the latest tensorflow version I can use.
https://miro.medium.com/max/812/1*la5vGjrIwpB4XqDL0FzXxw.png
2. Any workaround to this?

[2020-02-20 00:49] kepricon commented on #7231
[code]

this is a stack trace for the above error

[2020-02-20 00:51] kepricon commented on #7231
https://github.com/ray-project/ray/issues/5593#issuecomment-534620856
looks like this guy modified tf_policy.py to stack tuple tensors

[2020-02-20 02:42] edoakes commented on #6718
Thanks @hubcity!

@mehrdadn do you think you could take a look when you have a chance?

[2020-02-20 03:00] mehrdadn commented on #6718
Yeah I'll try to think about it, it seems like a nontrivial problem but there might be a solution.

[2020-02-20 03:20] vishalshar opened #7236 "[docs] Question on `rllib-algorithms.rst`"
# Documentation Problem/Question/Comment

I am trying to reduce "episodes_per_iteration" for DDQ algorithm but it seems to be default at 250. I tried playing with "sample_batch_size", "train_batch_size", "target_network_update_freq" but I am not sure not to set "episodes_per_iteration". Can someone please help ?

(Created directly from the docs)

[2020-02-20 03:32] jCrompton commented on #7050
Pleasseeeeeeee

[2020-02-20 05:50] semin-park commented on #7215
Sure :)

Currently my PBT perturbation log looks like this:

It looks like I'm tuning many different hyperparameters, but in reality, all I'm changing is the learning rate. However, I have to put in all the other configuration in `tune.run(config=...)` because I need them all in order to create my model and trainer in `_setup`, and there is no other way of specifying those fixed arguments except f

[2020-02-20 07:30] #7174 closed

[2020-02-20 08:59] thedrow commented on #7229
If it is non-blocking you may want to allow the user to context switch.
Otherwise if I wanted to rub `.remote()` in parallel to another operation I'd have to use a thread.

In addition, let's document that `.remote()` is non-blocking. Shell I open a separate issue on that?

[2020-02-20 10:01] sven1977 commented on #6962
@ericl Yes, you are right. We do not differentiate through the post processing (value_function), only for the loss. I'll move the no_grad up.

The torch.Tensor leak is a different issue, which - I hope - is fixed by this one here:
https://github.com/ray-project/ray/pull/7237
All unnecessary Tensors are however always garbage collected in the end and this PR does not fix the memory leak (which is a

[2020-02-20 10:46] sven1977 commented on #6962
Ok, I moved the no_grad all the way up into `postprocess_ppo_gae` (leaving it only around self._value was not enough, the call to `compute_advantages` seems to require being in no_grad as well, which nicely explains A2C's leak).
It looks very good now with a fully functional PPO. Also the torch.Tensor count is now constant with my fix from yesterday. #7237
I'll keep it running for a while ... then

[2020-02-20 11:10] sven1977 commented on #6962
This PR closes this issue:
https://github.com/ray-project/ray/pull/7238
Will be merged into master in a few days.

[2020-02-20 11:10] #6962 closed

[2020-02-20 11:13] thedrow opened #7239 "Why is Redis mandatory for using Ray?"
### What is your question?

It is not clear from the documentation why is Redis needed or that it is needed at all.

The installation guide only mentions that you need to specify a Redis port or one will be picked at random.
That implies that the Redis executable must be present alongside Ray but it isn't directly specified.

Can Redis be replaced with other backends or is there something unique t

[2020-02-20 11:41] thedrow opened #7241 "Are pickled functions cryptographically signed when invoked remotely?"
### What is your question?

If I understand correctly, Ray may transmit a function for execution to any node in the cluster.
This is done by pickling the function and transmitting it.

What's preventing a malicious attacker from injecting a payload which will execute arbitrary code on my cluster?
Is the code cryptographically signed so that we're sure of its authenticity?

Did I misinterpret the c

[2020-02-20 12:11] roireshef commented on #5223
@edoakes This still reproduces on my Ubuntu 16.04. So def not CentOS related.
I'm using Docker, but did worker->master AND master->worker open ports validation (using telnet) on all relevant ports. Still getting:
[code]

[2020-02-20 12:23] roireshef opened #7242 "Failed to forward task to node manager [ray]"
-> In a private cluster setup <-

It started with Tune not using nodes other than the head, then we took few steps back and tried to run lower level ray snippets, to identify the issue. We ended up getting:

[code]

Which seems related to #5223  but it is unfortunately closed without resolution so I'm opening this instead.

*Ray version and other system information (Python version, TensorFlow vers

[2020-02-20 12:27] #7205 closed

[2020-02-20 12:41] roireshef commented on #7242
I tried reproducing that on latest wheel https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl

This time I ran:
`ray start --head`
on the head node
and the ray start command as appeared in the head's output when starting ray.

Dashboard shows both nodes as connected and their CPU resources.
Nevertheless, when trying to schedule the above f() method,

[2020-02-20 12:41] sven1977 opened #7244 "[RLlib] A2C torch has a memory leak."
A2C torch has a memory leak, reproducible by:
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

[code]

- [ ] I have verified my script runs in a clean envir

[2020-02-20 12:42] sven1977 commented on #7244
The leak is less severe than it was before we fixed PPO (and A2C to some extend) here (Issue #6962).

[2020-02-20 14:16] vivecalindahlericsson commented on #7208
I'm having problems understanding how truncating episodes affects the measured episode length. My (maybe unusual) case is: PPO, using defaults `train_batch_size=4000`, sample_batch_size=200, `truncate_episode=True`,  horizon=150000, `num_workers=2`.

I  understand that each training iteration will work on truncated episodes. But the environment is not `reset` due to the truncation AFAICT, so why/h

[2020-02-20 14:29] ConeyLiu commented on #5223
I guess this may be caused by proxy related problems. The upstream has a patch fixed the `http_proxy` problem: https://github.com/ray-project/ray/pull/6744. I think you maybe should try the 0.8.1 or upstream branch.

[2020-02-20 14:41] ljendele opened #7245 "[rllib] PPO does not converge for CartPole with default config"
*This is not a contribution.*

## What is the problem?
I noticed that Pytorch implementation does not manage to solve CartPole environment with the default config (the reward is stuck around 145). Tensorflow solves it in about 13 iterations both in Graph (no extra flag) and Eager mode (`--eager`)

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray version: new

[2020-02-20 14:45] sven1977 commented on #7208
That's correct. Running with `truncated_episodes` (e.g. = 10) should not reset episodes always after 10ts. It's just saying that the samples sent to the learner are all 10ts long (in case of PPO: with value-estimates at the end or 0 if an actual `done` is encountered, which is not the case in your endless env).
Not sure. Did you test the env separately to see how it behaves? Maybe it does return `

[2020-02-20 15:21] roireshef commented on #7242
Some more information. It seems because the worker node runs inside a Docker container, it sends the head node its Docker internal IP rather than the machine's (external to docker) IP. My current assumption is that this is the cause.

I tried to use --node-ip-address flag at the worker node, without any further success.

[2020-02-20 15:55] roireshef commented on #5223
hi @ConeyLiu, please see my #7242, I'm not sure this has to do with proxy. I have tried ray 0.9.0dev0 as well, and it doesn't show any progress on top of 0.7.2

[2020-02-20 16:05] roireshef commented on #5223
OK, I now managed to supply the worker node with its own external IP and see it inside the head node's resources list. This didn't solve the problem though. I'm still getting:
[code]

[2020-02-20 16:05] roireshef commented on #7242
OK, I now managed to supply the worker node with its own external IP and see it inside the head node's resources list. This didn't solve the problem though. I'm still getting:
[code]

[2020-02-20 18:06] hokiegeek2 commented on #2213
Curious -> did you also see increased CPU utilization? I am seeing what may be a slow memory leak that appears to be coupled with an increase in CPU utilization from garbage collection.

[2020-02-20 18:54] richardliaw commented on #7215
Are you using argparse? One option is to simply keep everything in the Namespace object and update it on the worker:

[code]

BTW, this should also work:

[code]

[2020-02-20 20:05] hubcity opened #7246 "[doc][docs] Broken Links"
There are some broken links in your documentation.  These are mostly due to the facts that you changed the way that some files are named (multiagent to multi_agent) and some external websites have rearranged things.

I will submit a pull request soon.

[2020-02-20 20:19] drozzy opened #7248 "ModuleNotFoundError: No module named 'tabulate'"
When running rllib algorithm I get this error:

[code]

Yet the docs don't specify you need it.

[code]

[2020-02-20 20:29] hubcity commented on #7246
If the PR above is accepted there are still two broken links in doc/source/rllib-offline.rst that reference specific lines of code in  https://github.com/ray-project/ray/blob/b8a9e3f1064c6f8d754884fd9c75e0b2f88df4d6 - a blob that no longer exists.  I didn't know the proper way to fix it.

[2020-02-20 20:33] drozzy commented on #7248
Actually this is installed when I use:

[code]
(on macos zsh doesn't allow square brackets and they must be escaped with single quotes).

[2020-02-20 20:33] #7248 closed

[2020-02-20 21:00] mehrdadn commented on #6718
I a PR that should fix this (similar idea to @hubcity's solution) @edoakes.

Please let me know if you see any potential issues with this solution. Thanks!

[2020-02-20 21:16] coreylowman opened #7251 "[rllib] In multiagent environment, is timesteps_total the total timesteps per agent or over all agents?"
### In multiagent environment, is timesteps_total the total timesteps per agent or across all agents?

For example, I have 4 policies in my multiagent policy configuration, and after the first training iteration the timesteps_total is 4000.

Is that number per agent or overall? I.e.:

1. Per agent - each agent has run 4000 timesteps, so the total number of timesteps is 16000
2. Overall - each agen

[2020-02-20 21:18] thavlik opened #7252 "[rllib] Provide trial_id to callbacks"
Currently, the eight-character `trial_id` is not available in the callbacks. I am working around this with the following:

[code]

For context, I am updating a visdom visualization from the callback. I ran into a similar issue with Trainable, where I ended up using `trial_id = os.path.basename(self._logdir).split('_')[1]`.

It does not appear that Trainable or Trainer are aware of `trial_id` outsi

[2020-02-20 22:01] ericl commented on #7251
It's the number of times step has been called on the env (so probably it means each agent has run 4000 timesteps, assuming each agent participates in every step).

[2020-02-20 22:05] coreylowman commented on #7251
Thanks, makes sense!

[2020-02-20 22:05] #7251 closed

[2020-02-20 22:42] edoakes commented on #2213
@hokiegeek2 could you please file a separate issue? This is very old.

[2020-02-20 22:43] ijrsvt commented on #7001
This should be fixed now. Pyarrow is removed from master and will be in the next release.
@simon-mo

[2020-02-20 22:46] edoakes commented on #7183
@CavalloneChen is correct

[2020-02-20 22:46] #7183 closed

[2020-02-20 22:53] preeth1 commented on #7109
Yes, that worked, it returned `true`

[2020-02-20 22:53] edoakes commented on #6988
Thanks for the clarification @hokiegeek2. Is there anything in the kubernetes deployment documentation that would have clarified this issue?

[2020-02-20 23:52] OscarVanL commented on #6832
Getting the same errors in WSL.

[2020-02-21 00:40] simon-mo opened #7255 "[tune] doesn't show full trials info when finished"
In the end of the run, some of the trials are truncated. In addition, the columns and rows are not sorted.

[code]

@richardliaw @ujvl

[2020-02-21 00:58] #7001 closed

[2020-02-21 01:34] MihaMuskinja opened #7256 "Using ray as a task scheduler gives a warning"
I have a simple ray application to schedule tasks on multiple nodes on Cori Haswell HPC. Typically I run ~10 nodes with 32 worker processes each, but sometimes I get the following warning. Would this be expected behavior in this case? I can observe that it takes a while for all tasks to start. Please see below for some details about the implementation.

`2020-02-20 17:27:03,853%WARNING worker.py:1

[2020-02-21 02:49] landcold7 opened #7257 "Bazel build error inside docker: the repository '@bazel_gazelle' could not be resolved"
### What is the problem?

Bazel build error inside docker env:  the repository '@bazel_gazelle' could not be resolved

Full error message:

root@46b0c342dc0a:/ray# bazel build //...:all
INFO: Writing tracer profile to '/root/.cache/bazel/_bazel_root/5fe90af4e7d1ed9fcf52f59e39e126f5/command.profile.gz'
ERROR: error loading package 'deploy/ray-operator': Unable to find package for @bazel_gazelle//:d

[2020-02-21 02:52] landcold7 commented on #7257
Seem this issue already been reported #6218.

[2020-02-21 03:16] justinkterry commented on #7069
I think you're right that it would be better to make MADDPG apply to this hierarchy instead. Plain DDPG is using that hiercharchy right?

Also, does that PR include parameter noise (https://openai.com/blog/better-exploration-with-parameter-noise/)?

Also, this really is on my list to work on by the way, I've just been a little slammed recently.

[2020-02-21 03:17] waldroje opened #7258 "[tune][rllib] "node manager has mistakenly been marked dead by the monitor" - from long running PBT"
### What is the problem?
I was running PBT trials, and I thought after #7201 it might succeed, but after running for a decent amount of time, it crashed with the following.

[code]

Any insight? I'm running 2 x c5.18xlarge, no gpus, as my custom model is not very deep, and I've run this successfully in the past, definitely on 0,7,7,, but have generally been getting failure ever since 0.8.0,

A cou

[2020-02-21 04:56] ujvl commented on #7255
They're sorted by start time so the newest are at the top. You can avoid the truncation by `tune.run(..., ProgressReporter(max_progress_rows=float("inf"))`.

To be clear is your suggestion to not truncate at the end?

[2020-02-21 10:51] sven1977 commented on #7245
This is a strange initialization problem. PPO torch is performing at least as good as tf on Atari problems in terms of learning progress per timesteps (see https://github.com/ray-project/rl-experiments/tree/master/atari-ppo).
Yes, this test case sometimes flakes, but eventually does pass if you rerun it.
I'll see whether we can fine-tune this example differently.

[2020-02-21 14:18] hokiegeek2 commented on #6988
@edoakes Um, good question. It's possible that my use case is unique. Specifically, I have one Ray worker in head mode in 1 container and 2 drivers in 2 separate containers within the same k8s pod on the same physical k8s node. I am basically using Ray to parallelize Python by moving execution of CPU-intensive logic such as anomaly detection away from my main streaming processing Python process. T

[2020-02-21 14:55] sven1977 commented on #7231
Update: This bug is on my TODO list for next week.

[2020-02-21 14:59] sven1977 commented on #5593
On my TODO list. Will start working on this next week.

[2020-02-21 15:06] hokiegeek2 commented on #2213
@edoakes agree, will do

[2020-02-21 17:52] richardliaw commented on #7255
I think the desired behavior is to not truncate at the end (i.e.,
automatically see all of your results when the trial finishes).

On Thu, Feb 20, 2020 at 8:56 PM Ujval Misra <notifications@github.com>
wrote:

[2020-02-21 18:18] richardliaw commented on #7258
cc @edoakes @ericl

[2020-02-21 19:25] ericl commented on #7258
@waldroje can you make a reproduction script with a standard gym env?

[2020-02-21 19:50] simon-mo commented on #7197
https://github.com/ray-project/ray/pull/7262 change the error to warning

[2020-02-21 19:57] waldroje commented on #7258
i'll try and see if I can replicate the behavior... will revert

[2020-02-21 20:39] ujvl commented on #7255
sg will address when i have time

[2020-02-21 20:58] devin-petersohn opened #7263 "Tasks can exceed gRPC max message size (in modin)"
### What is the problem?

Multiple Modin users have reported Raylet failures that present themselves in various ways.

### Reproduction

Reproduction requires Modin and is only reproducible in certain environments. Scripts range from errors when chaining multiple operations together to setting environment variables. I will detail a few cases below.

Reproduction script 1 (most recent user) - modin

[2020-02-21 21:15] #6718 closed

[2020-02-22 01:40] ericl commented on #7263
@edoakes it looks like the task is exceeding the max gRPC message size `Error: IOError: 8: Received message larger than max (10899141 vs. 4194304)`

[2020-02-22 02:09] simon-mo opened #7266 "SIGSEGV in node_failure.py test"
Sometimes gRPC failed to bind ports when starting a new node
[code]

[2020-02-22 13:42] hubcity opened #7270 "[rllib] multiagent example fails on 'explore' error"
### What is the problem?
From the current nightly, running `ray/rllib/examples/rock_paper_scissors_multiagent.py` results in a 'Trials did not complete' error message:

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
ray - nightly https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl
python - 3.6.9
tensorfl

[2020-02-22 17:23] waldroje opened #7271 "[autoscaler]Changes in ssh defaults in 0.8.2 break code"
### What is the problem?
Due to firewall restrictions and the required use of elastic ips, I've had to build a workaround to launch aws clusters... this has worked reliably for many releases... but I noticed in 0.8.2 there has been an update to get_default_ssh_options method in SSHCommandRunner, which now causes my scripts to break, as setting "ExitOnForwardFailure" to "yes" causes an exception wh

[2020-02-22 18:33] richardliaw commented on #7271
cc @wuisawesome

[2020-02-22 18:59] richardliaw commented on #7202
Sorry for the slow reply - I actually thought I posted a reply already :)

Torchtext fields and datasets need to be created within the Trainable, because the Trainable needs to be pickled and replicated across multiple parallel processes.

For example, you'll want to do something like:

[code]

[2020-02-23 00:47] robertnishihara commented on #7160
@RuofanKong I think this has to do with how cloudpickle works. Basically, when you serialize something like `f` in the example below

[code]

cloudpickle doesn't actually serialize all of `module` and ship that along with `f`, instead, when `f` is deserialized on the other side, cloudpickle simple imports `module`. So any state that was mutated in `module` doesn't get carried over.

Can you avoid

[2020-02-23 02:04] ericl commented on #7270
Oops, looks like we forgot to add this to the tests. cc @sven1977

[2020-02-23 02:51] pmacalpine opened #7276 "[rllib] YAMLLoadWarning in ray/python/ray/rllib/utils/from_config.py"
### What is the problem?
When I run atari with ppo I see the following warning being printed many times:

`ray/python/ray/rllib/utils/from_config.py:134: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.`
`obj = yaml.load(type_)`

I didn't see this warning maybe a week ago or so when I h

[2020-02-23 03:38] pmacalpine opened #7277 "[rllib] TypeError when running atari with ppo and torch"
### What is the problem?

I get the following TypeError when I run ppo with torch on atari (Breakout):

`
  File "python/ray/_raylet.pyx", line 452, in ray._raylet.execute_task
  File "python/ray/_raylet.pyx", line 430, in ray._raylet.execute_task.function_executor
  File "/home/patmac/ray/python/ray/rllib/agents/trainer.py", line 497, in train
    raise e
  File "/home/patmac/ray/python/ray/rllib

[2020-02-23 03:46] ericl commented on #7277
Thanks for reporting, the attached PR should fix it.

[2020-02-23 05:44] drozzy opened #7279 "assert issubclass(model_cls, TFModelV2) when trying to use pytorch model"
I'm trying to use a custom model (pytorch [visionnet](https://github.com/ray-project/ray/blob/60d4d5e1aaa9fde3cf541ee335e284d05e75679c/rllib/models/torch/visionnet.py)) for a DQN policy.

When I try this:
[code]

I get this errror:
<pre>assert issubclass(model_cls, TFModelV2), model_cls
AssertionError: &lt;class &apos;my_model_pytorch.VisionNetwork&apos;&gt;
</pre>

[2020-02-23 05:55] drozzy opened #7280 "[docs] Remove redundant "Tune" and "RLlib" prefixes on the left menu"
I think the repeating "Tune" and "RLlib" words in the menu make it unecessarily cluttered.

![Screenshot from 2020-02-23 00-53-18](https://user-images.githubusercontent.com/140710/75104451-0a752380-55d7-11ea-87d3-3f7e359007a9.png)

[2020-02-23 05:58] drozzy opened #7281 "[docs] "Feature Compatibility Matrix" should be easier to find"
I always want to click on "RLlib Algorithms" when I'm looking for "Feature Compatibility Matrix".

Does anyone else have this problem?

I think the "Feature Compatibility Matrix" warrants its own menu entry - or maybe it should be moved to the "Algorithms" section (with a link to it from "environments" section)?

[2020-02-23 06:01] drozzy commented on #5447
I did this before I was familiar with rllib.
I'll re-open if I can reproduce it.

[2020-02-23 06:01] #5447 closed

[2020-02-23 06:02] drozzy commented on #5321
Closing until I need it again.

[2020-02-23 06:02] #5321 closed

[2020-02-23 06:03] drozzy commented on #5344
Closing as I don't need it anymore.

[2020-02-23 06:03] #5344 closed

[2020-02-23 06:08] drozzy commented on #5345
What I usually end up doing is switching the tensorboard to the "Relative" mode and compare "step" value at the same point on any graph.

[2020-02-23 06:08] #5345 closed

[2020-02-23 06:09] drozzy commented on #5855
Didn't try this yet, and will re-open if I need it again.
For now, I'm using default paths just fine.

[2020-02-23 06:09] #5855 closed

[2020-02-23 06:12] drozzy commented on #7016
Interesting! How would I access the model?

[2020-02-23 06:15] drozzy commented on #7251
Wouldn't his `timesteps_total` be 16,000 then?

[2020-02-23 06:18] drozzy commented on #7236
Not sure what you're trying to accomplish?

[2020-02-23 06:39] ericl commented on #7281
This is a good idea, I often have to search for it too. Do you want to make a PR to move it?

[2020-02-23 06:54] drozzy opened #7282 "[ray] Make memory units explicit"
_I was commenting on #7099, but I thought this might make a nice wholesome issue._

It is really hard to read the docs and understand memory units without explit units.
Maybe we can use something like [bitmath](https://github.com/tbielawa/bitmath):

[code]
This will make all of the code self-documenting.

The documentation and code make it really hard to know if units are in Bits/bits, bytes, kb,

[2020-02-23 13:23] sherylwang opened #7284 "[tune] pbt exploit clone trial in different epochs."
Hi, I'm using pbt for hyperparameter search. I find the "expoit" function will clone trial in different epochs, ie, 32->30 or 27->29.  For neural network training, the performance is largely affected by the epochs passed. The different trial in tune is not synchronous. Which will make the trial run fastest(more epoch) have more chances to cloned its weights to other weights, this is not reasonable

[2020-02-23 13:49] waldroje opened #7285 "[tune]Make tune random methods callable"
### Describe your feature request
I noticed that functions such as tune.loguniform wrap themselves in the sample_from function, which then makes them non-callable, and thus not usable in hyperparam_mutations in PBT... this creates the need to basically duplicate their functionality, which seems a waste, and since the sample_from function is there to use explicitly when needed, it would seem it mak

[2020-02-23 13:58] waldroje commented on #7285
I should add conversely, it might be better if PBT could utilize the sample_from interface in it's mutations, and not require a callable...

[2020-02-23 17:48] hubcity commented on #7270
I don't believe this error is specific to the multiagent example.  You would see the same thing any time that 'explore' is not included in your trainer config or if it is set to None.

[2020-02-23 21:13] #7276 closed

[2020-02-23 21:13] #7277 closed

[2020-02-23 23:14] ericl commented on #7270
I think this may be specific to TF 1.14 -- I have 2.0 and it seems to work there. We are supporting 1.14, so this should probably be fixed.

@sven1977 this looks like it could be a bug in the `tf_function` impl.

[2020-02-23 23:43] RuofanKong commented on #7160
@robertnishihara Thanks for looking it!

Using the RLLib, we have the use case that the customized `on_episode_start()`, `on_episode_step()` and `on_episode_end()` that needs to be "registered" and are passed to the Ray Actor.

I can make the state as local variable as short-term workaround. But apparently, they're the episode "state" and are definitely maintained as the "mutable state" following

[2020-02-23 23:46] pmacalpine opened #7287 "[rllib] PPO torch super slow again as OMP_NUM_THREADS not being set to 1"
### What is the problem?

Seeing the same exact slowdown problem again as in #6962 (but not the memory leak reported in that bug).  The same fix works again by setting OMP_NUM_THREADS=1.  This issue was originally fixed by setting OMP_NUM_THREADS=1 by default in #7006, but now it looks like #7254 removed the fix so that the bug is back.

It would be great if there were a regression test to catch t

[2020-02-23 23:55] ericl commented on #7287
Thanks. Reverting, and added a test so it doesn't happen again.

[2020-02-24 00:32] Degiorgio opened #7289 "Multiple Agents with different RL algorithms"
In RLlib Is is it possible to have multiple agents with different RL algorithms? For instance, one agent who behaves   according to a  reactive policy learned by DQN an other agent that behaviors   according to a policy learned by PPO

If so, can you point me to basic example of this setup? Thank you!

[2020-02-24 00:55] ericl commented on #7289
There's a basic example of this here: https://github.com/ray-project/ray/blob/master/rllib/examples/multi_agent_two_trainers.py

However, it requires alternating training. We're working on making it easier to compose real concurrent training with different agents, but this won't be for a couple releases.

[2020-02-24 01:20] Degiorgio commented on #7289
Great example, thanks @ericl !

[2020-02-24 01:31] dxu23nc opened #7290 "About what is in the checkpoint and how to load it?"
I have run a Tune scripts. The code is as follows:
`import ray
from ray import tune

ray.init()
tune.run(
    "DQN",
    stop={"timesteps_total": 18000000},
    config={
        "env": "BeamRider-ram-v0",
        "num_gpus": 0,
        "num_workers": 4,
        "lr": tune.grid_search([0.000625, 0.000125, 0.0000625, ]),
        "eager": False,
        "double_q": False,
        "dueling": False,

[2020-02-24 02:48] cbames commented on #7011
Same result on ray 8.1, python 3.7, and ubuntu 18.04

[2020-02-24 03:38] JasonWayne commented on #7184
@heavyinfo Hi, heavyinfo. I encountered the same issue, so do you solve it now?

[2020-02-24 04:22] JasonWayne commented on #4309
@amitsadaphule Could you pls share your changes with me..?

[2020-02-24 05:26] #7287 closed

[2020-02-24 08:13] ericl commented on #7289
It's because they are using two different trainers in different processes that don't weight share, so they have to be independently updated and synced.

[2020-02-24 09:03] vivecalindahlericsson commented on #7208
Thanks for putting me on the right track. Indeed, my simulator was ending prematurely due to running low on resources!

[2020-02-24 09:52] raulchen opened #7291 "First Release of Java API"
This is the master issue to track the progress of formally releasing Java API.

# Background
Java worker code was contributed by Ant Financial in 2018 as an experimental feature. It has also been used in the past 2 years internally at Ant. Now we think the code should be stable enough for the formal release.

# Action items.
- [ ] Simplify usage for beginners: deploy jars (with all platform binari

[2020-02-24 10:12] raulchen commented on #7291
We had a discussion last week, revisiting current Java API. One problem we found is that the current design sometimes doesn't follow Java convention very well (not object-oriented).

The following is an example of using actors (see [here](https://github.com/ray-project/ray/tree/master/java) and [here](https://github.com/ray-project/ray/blob/master/java/doc/api.rst) for other APIs).

[code]

The pr

[2020-02-24 13:37] falsemail opened #7293 "[rllib]custom metrics can be displayed on TensorBoard when override modelv2 's metrics method?"
I override metrics method of modelv2.py, return a dict of my custom metrics.
but the metrics can be displayed on tensorboard.
the algorithm I used is ppo

    def metrics(self):
        """Override to return custom metrics from your model.

        The stats will be reported as part of the learner stats, i.e.,
            info:
                learner:
                    model:

[2020-02-24 14:05] coreylowman commented on #7056
What happens when the game ends on one player's turn and both players need rewards? (I'm thinking about this from a board game stand point, like chess, where the game might end and both players might need to get rewards). Ideally the reward would be retroactively applied to the non-turn player?

[2020-02-24 15:57] dxu23nc opened #7295 "If the game(atari) is over, will the worker reset the environment into the initial state (such as call env.reset()) ?"

[2020-02-24 16:45] devin-petersohn opened #7296 "pyarrow._plasma.ObjectNotAvailable when passing multiple copies of the same object to a taks"
### What is the problem?

Ray no longer supports passing multiple copies of the same ObjectID to a task as of 0.8.1. This works in 0.8.0. In Modin we often reuse partitions and data to reduce our memory footprint. This issue is significant and we cannot update our Ray dependency until it is resolved.

*Ray version and other system information (Python version, TensorFlow version, OS):* 0.8.1+

###

[2020-02-24 16:52] hokiegeek2 opened #7297 "enable ray.list capability"
### Describe your feature request
In analogy to pyarrow PlasmaClient.list, I recommend adding a ray.list capability.

I am am running Ray in head mode, submitting jobs in async (non-blocking) mode, and periodically checking to see if there are any Ray jobs that have completed. I've implemented a list-like capability by storing the ObjectIDs returned from Ray upon job submission in Redis. I periodi

[2020-02-24 17:41] rkooo567 commented on #7297
Could you elaborate how it is different from `ray.wait()`?

[2020-02-24 17:55] hokiegeek2 commented on #7297
@rkooo567 because ray.wait blocks. I submit the job to Ray and then another process checks periodically if there are any completed jobs.

[2020-02-24 18:05] ericl commented on #7056
I think you can always return obs (a noop obs for the last step) and
rewards as long as done hasn't been sent yet to the agent.

On Mon, Feb 24, 2020, 6:05 AM Corey Lowman <notifications@github.com> wrote:

[2020-02-24 18:12] simon-mo commented on #7296
cc @edoakes any hints?

[2020-02-24 18:30] deanwampler commented on #7291
I haven't tried this to see if it can work, but what about this:

[code]

[2020-02-24 18:51] robertnishihara commented on #7291
@raulchen thanks for bringing this up.

1. `adder.call(Adder::add, 1);`
2. `Ray.call(Adder::add, adder, 1)` (the status quo)
3. `adder.add(1)`

I agree 1 looks better than 2. Is 3 feasible or no?

[2020-02-24 19:15] edoakes commented on #7282
@drozzy I think this is a good idea but I'm wary of introducing a separate package as part of the API. Maybe we could support both byte integers or human-readable strings and then parse them in the backend (possibly using `bitmath`)?

If this solution sounds good to you, would you be interested in working on a PR for it? :)

[2020-02-24 19:35] #2213 closed

[2020-02-24 19:38] simon-mo commented on #7296
As a separate note, for anyone who found this issue, a workaround is to pack the same argument into a list

[code]

[2020-02-24 19:41] devin-petersohn commented on #7296
@simon-mo The function signature will have to change in your example as well, and the new task will have to do a `ray.get` on the list passed in.

[2020-02-24 20:06] stephanie-wang commented on #6892
You can try using `ray.wait` ([docs](https://ray.readthedocs.io/en/latest/walkthrough.html#fetching-results)) to see how many tasks have completed so far. Something like this might work:

[code]

You can also try using a `ParallelIterator` ([docs](https://ray.readthedocs.io/en/latest/iter.html)), which will automatically submit tasks for you.

[2020-02-24 20:12] robertnishihara opened #7298 "Add test for Ray + numba."
One possibility would be the example from https://github.com/numba/numba/issues/4256#issuecomment-507683946 to avoid the regression described in that issue.

[2020-02-24 20:12] robertnishihara commented on #5250
Fixed in ray==0.8.2.

[2020-02-24 20:12] #5250 closed

[2020-02-24 20:13] robertnishihara commented on #7298
There are still one other numba related issue https://github.com/ray-project/ray/issues/593.

[2020-02-24 20:44] Degiorgio commented on #7289
@ericl one more thing, is it possible to use tune with this setup (i.e. with multiple agents and different RL algorithms)?

[2020-02-24 20:52] ericl commented on #7289
You can try using the tune function API: https://ray.readthedocs.io/en/latest/tune-usage.html#tune-function-based-api

[2020-02-24 20:55] ericl commented on #7295
Yes

[2020-02-24 20:56] ericl commented on #7293
Can you please provide a reproduction script (see the "bug" issue template)?

[2020-02-24 21:17] Hailey-Liu opened #7300 "[tune] HParams Dashboard shows no data when using Histogram Dashboard."
### What is your question?

HParams dashboard shows no data when using Histogram dashboard.
![Screen Shot 2020-02-24 at 3 57 51 PM](https://user-images.githubusercontent.com/44219935/75191208-e6712980-571f-11ea-9349-f918e1a6f79b.png)

![Screen Shot 2020-02-24 at 3 57 33 PM](https://user-images.githubusercontent.com/44219935/75191225-ee30ce00-571f-11ea-9cd9-e0c765db0ef9.png)

*Ray version and other

[2020-02-24 23:12] JiahaoYao commented on #7202
Thanks @richardliaw , and I will close #7202

[2020-02-24 23:12] #7202 closed

[2020-02-24 23:34] simon-mo commented on #7296
Correct. We will definitely fix this in upcoming release.

[2020-02-25 01:12] utke1 opened #7307 "[tune] would like a replay capability for particular PBT trace"
When I run PBT I have in the end a collection of hyper parameter traces, one of which I may want to declare the winner.
I understand that everything is “logged” so I can inspect that to find that info.
It isn’t obvious to us if there is already a facility in tune by which I can extract and ‘replay’ just the winner’s trace as a single training run.
This would be useful for reproducibility without h

[2020-02-25 01:19] waldroje commented on #7285
I guess you can just reference sample_from.func ... and put that in a lambda for the mutations...

[2020-02-25 01:19] #7285 closed

[2020-02-25 02:27] #7257 closed

[2020-02-25 02:51] raulchen commented on #7291
Hi @deanwampler, there is one problem with the approach you suggested. That is, the actor method should not only take arguments of the original type, but also take arguments of in-object-store objects.  For example,
[code]
The reason why this can work is because the `call` method is defined with multiple overloaded versions:
[code]
Note, `call` is defined in Ray's builtin class `RayActor` (equival

[2020-02-25 02:54] raulchen commented on #7291
@robertnishihara 3 isn't feasible in Java. Because the type of `adder` is `RayActor` (equivalent to Python's `ActorHandle`), we can't dynamically add a new method `add` to this class like Python.

[2020-02-25 03:18] #7296 closed

[2020-02-25 03:46] gauravg11 opened #7309 "[rllib] Persisting Arbitrary Data Between Timesteps"
I have multiple game-playing agents hooked up to a model that spits out both their next move as well as a vector of symbols to 'communicate' with their fellow agents. I plan to build out a custom policy that calculates an intrinsic reward based on the interplay between actions taken this timestep and symbols received last timestep.

What I'm struggling with is the right way to persist this bag of

[2020-02-25 04:38] devin-petersohn commented on #7296
Thanks @edoakes and @simon-mo!

[2020-02-25 05:11] robertnishihara opened #7310 "[dashboard] dashboard.py crashes in example where actors are quickly created and go out of scope."
### What is the problem?
I'm using
- `ray==0.8.2`
- Python 3.7.2
- MacOS

### Reproduction (REQUIRED)

#### Bug 1

This is likely somewhat timing dependent, but when I run the following script

[code]

the `dashboard.py` process crashes with the following error.

[code]

#### Bug 2

As a consequence, the dashboard doesn't display anything.

There is a second bug here, which is that the error messa

[2020-02-25 05:23] ericl commented on #7309
Can it be emitted as an action and included as part of the observation of agents in the next timestep?

[2020-02-25 05:26] ericl commented on #7309
Can it be emitted as an action and included as part of the observation of agents in the next timestep? The env would have to do this internally.

For calculating the rewards, it sounds like you can do it in the env as usual, if you save the last action/symbols, or it could also be done in a on_postprocess_traj callback where you have the opportunity to rewrite the entire rollout sequence if needed

[2020-02-25 06:32] richardliaw commented on #7300
Made a PR to fix - thanks for the bug report.

[2020-02-25 07:22] #7263 closed

[2020-02-25 07:23] ericl commented on #7263
It looks like some of the errors might not be related to this one, so please open a new issue if they persist after 7269.

[2020-02-25 08:25] falsemail commented on #7293
thanks for replay,here is my script below:

class HiRange(gym.Env):
    """Example of a custom env in which you have to walk down a corridor.
    You can configure the length of the corridor via the env config."""

    def __init__(self, config):
        # ctype class created
        self.action_space = Box(
            -1.0, 1.0, shape=(3,), dtype=np.float32)
        self.observation_space = Box(

[2020-02-25 09:00] timonbimon opened #7313 "[tune] PBT hyperparam_mutations does not allow for nested dicts any more"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray: 0.8.2

Just recently a new check that hyperparam_mutations are either a list or a callable was introduced. (https://github.com/ray-project/ray/blob/master/python/ray/tune/schedulers/pbt.py#L182)

Unfortunately the configs I use with my Experiments are nested dicts and I can now no lo

[2020-02-25 12:34] waldroje commented on #7258
So.. I'm going back to square one, and going to build up from simple cases to more complex.... I have installed 0.8.2,
I created a simple pbt with a toy gym env that I can use in more complex cases... but I'm getting errors on what appears to be checkpoint intervals on the most basic case.  It seems the fetch_result is returning a checkpoint string rather than a result dictionary
Do you get the sa

[2020-02-25 13:51] TisonKun commented on #6184
Could you please share a comment-able version?

[2020-02-25 13:55] TisonKun commented on #6990
@edoakes thanks for your reply! Really sorry for the late response.

Here are my outputs.

[code]

[code]

[2020-02-25 14:06] TisonKun commented on #6990
While I tested within REPL the redis is up and I can see a running redis without any output of *.err. But exception above thrown.

[2020-02-25 15:21] TisonKun commented on #6990
I guess the problem is about address auto-detection so that I hardcode the address_ip to 127.0.0.1 and now it reports with a new expection

[code]

[2020-02-25 15:26] TisonKun commented on #6990
ok I fix the problem by hardcode the address in `ray.services.get_node_ip_address`. We possibly need a more robost auto-detection where the ip returns by `s.getsockname()[0]` doesn't work for local.

[2020-02-25 15:30] TisonKun commented on #6990
All process works when I turn off my proxy...

[2020-02-25 15:30] #6990 closed

[2020-02-25 15:38] gauravg11 commented on #7309
Including the symbols as an observation did not not occur to me, I'll play around with encoding the communication as an action.

Regarding intrinsic rewards, I was planning to hard-code them into the policy to differentiate from environmental reward, as the collective environmental reward is the final 'score.' Is there a better way to differentiate between the two types of reward for reporting pur