[2020-09-10 14:17] stefanbschneider commented on #10704
What's your "supercomputer"?

Why would you do that?

---

I had a similar issue on Ubuntu 20 (WSL) with ray 0.8.7 but it works when downgrading to 0.8.6. You could give that a try.

[2020-09-10 14:31] zzcNEU commented on #9750
Yes, I find the error.txt.
![image](https://user-images.githubusercontent.com/38434094/92745939-6194e700-f3b5-11ea-9d7b-2d7797b95911.png)

[2020-09-10 14:43] PengLong666 commented on #10704
Thanks for replying. The supercomputer is a computing resource given by my university. I found someone said that the error may be caused by the ray.init(), so I change it. And the ray in my computer is 0.8.7, i will try to change it. Thank you.

[2020-09-10 15:59] edoakes opened #10717 "`ray start` should error by default if there's already a ray cluster running"
I often run into issues by accidentally starting a new cluster when one is already running. Then, this later causes problems when I try to connect and there are two running clusters. I'm then forced to `ray stop` both clusters and `ray start` my new one again.

My workflow would be improved if I just got an error when trying to start the second cluster and knew to immediately tear down the existin

[2020-09-10 16:20] ijrsvt opened #10718 "Rsync breaks when source or target is None"
### What is the problem?
When `rsync` is run with `source` and `target` set to `None` and `file_mounts` are included in the YAML, ray fails with
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., us

[2020-09-10 16:21] ijrsvt opened #10719 "Rsync breaks when source or target is None"
### What is the problem?
When `rsync` is run with `source` and `target` set to `None` and `file_mounts` are included in the YAML, ray fails with
[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., us

[2020-09-10 16:21] ijrsvt opened #10720 "[autoscaler] Rsync breaks when `target` or `source` is None"
### What is the problem?
When `rsync` is run with `source` and `target` set to `None` and `file_mounts` are included in the YAML, ray fails with
[code]

Introduced by #10633

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library de

[2020-09-10 16:21] ijrsvt commented on #10720
cc @allenyin55

[2020-09-10 16:51] wuisawesome commented on #10718
Duplicate of #10720?

[2020-09-10 16:51] #10718 closed

[2020-09-10 16:53] wuisawesome commented on #10719
I think this is also a duplicate of #10720 ?

[2020-09-10 16:53] #10719 closed

[2020-09-10 18:21] richardliaw commented on #10486
@rhamnett Hmm, I think there are a couple workarounds but they aren't first class. Just to help me with context, could you tell me more about your setting (are you using RLlib)?

Some questions I have:
 * Do you have multiple terminated trials in your experiment, and you want to continue all of them (i.e., `tune.run(resume="all")`)?
 * Do you want the continued run to append to its original logs?

[2020-09-10 18:30] rhamnett commented on #10486
@richardliaw thanks for the prompt reply.

I am trying a tune.run(.......,resume=True) not with rllib. In the current run there was just one trial where my stopper stopped things at 5000 iters.

I just want to carry on from where i left off basically to keep finding a better reward. So iter would start going up from 5001 in this example.

Sorry, I am struggling with the terminology a bit as I'm ne

[2020-09-10 18:35] richardliaw commented on #10486
OK got it. Do your logs (i.e., tensorboard, csv, etc) matter? If not, I think you can easily do something like:

[code]
Note that `restore` vs `resume`, where `restore` is for a specific checkpoint of a single run, while `resume` is for an entire experiment.

Checkpoints should be generated if you do something like `tune.run(checkpoint_at_end`. Let me know if that works!

[2020-09-10 18:54] richardliaw commented on #10305
hey @michaelitvin does #10679 help address your problem?

[2020-09-10 18:56] rhamnett commented on #10486
@richardliaw Ahh I see! Bingo, feel a bit silly now.

Sorry for polluting your thread. Perhaps the docs could hint to this difference a bit more ..or maybe it's just me.

[2020-09-10 18:57] rhamnett commented on #10486
@richardliaw on resuming, the reward is 'nan' - not what i expected?

[2020-09-10 19:01] richardliaw commented on #10486
Docs must be improved :) Is it nan? Then perhaps the state isn't being captured somewhere/restored correctly....... cc @sven1977

[2020-09-10 19:09] michaelitvin commented on #10305
Sounds great, thanks!

[2020-09-10 19:13] stephanie-wang opened #10722 "Can't start standalone Ray with ray.init()"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):* nightly wheels, Ubuntu 18.04

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

Run `ray.init()`.

There may just be something wrong with my

[2020-09-10 19:16] stephanie-wang commented on #10722
Confirmed that it's working on 0.8.7 but not the nightly wheels.

[2020-09-10 19:33] stephanie-wang commented on #10722
FYI, @barakmich.

It doesn't seem to be consistently reproducible, so I'll spend some time trying to fix it if it comes up again today. If I can't reproduce it, I'll remove the release-blocker tag.

[2020-09-10 20:03] rhamnett commented on #10486
Yes nan rewards for future iterations. Am using an APPO run and ray nightly (from today)

[2020-09-10 20:31] rhamnett commented on #10426
Fixed, thanks

[2020-09-10 21:07] rhamnett commented on #10426
@richardliaw Sorry to be a pain, but there are no charts for episode_reward_{min,max,mean} etc showing (which is kind of the point of using w&b :)

[2020-09-10 21:15] ijrsvt commented on #9615
A potential solution is to let **gRPC choose its own port** and then probably propagate it to GCS.

[2020-09-10 21:26] ijrsvt commented on #9615
A different solution is to set `GRPC_ARG_ALLOW_REUSEPORT` to `True`

[2020-09-10 21:31] richardliaw commented on #10426
Hmm thats odd! Can you post your output?

[2020-09-10 21:59] qxcv opened #10724 "[autoscaler] No module named 'cryptography' (GCP)"
### What is the problem?

`ray/autoscaler/gcp/config.py` imports something from `cryptography`, but this module is not installed by default (e.g. with `pip install ray[tune]`).

*Ray version and other system information (Python version, TensorFlow version, OS):* Ray 0.8.7, Python 3.8

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have

[2020-09-10 22:01] wuisawesome commented on #10724
non-critical dependencies are not packaged with Ray. since only the GCP autoscaler uses the `cryptography` package you will need to pip install it yourself.

[2020-09-10 22:03] #10228 closed

[2020-09-10 22:03] qxcv commented on #10724
Can it be added to `extras` so that users don't have to guess which version is required?
(e.g. `pip install ray[gcp]`)

[2020-09-10 22:40] #10696 closed

[2020-09-10 22:48] rhamnett commented on #10426
@richardliaw please can you describe what you are looking to see, are you asking for the W&B dashboard output?

[2020-09-10 22:59] #10702 closed

[2020-09-10 23:33] richardliaw commented on #10426
ah sorry your driver stdout/stderr output?

[2020-09-10 23:43] rhamnett commented on #10426
https://pastebin.com/5uYwFaXq

[2020-09-10 23:49] richardliaw commented on #10724
Yeah that'd be pretty useful.

[2020-09-11 00:06] #10690 closed

[2020-09-11 00:11] richardliaw commented on #10690
@twillkens we just merged a fix. It'll be available on the latest master in a couple hours - if you could try it out then and let me know if you run into issues!

[2020-09-11 00:12] wuisawesome commented on #10724
I think we do have `pip install ray[all]`. If `cryptography` isn't included in that, then that's a bug.

[2020-09-11 00:21] qxcv commented on #10724
I can't see it in setup.py. I also can't see google-api-python-client,
which is also required by the GCP stuff (it does appear in one of the
dockerfiles though).
The two deps I had to add are:

[code]

(`ray up` now runs without import errors, but I can't confirm that it works
for sure because I'm running into some Ray-unrelated permissions issues)

On Thu, 10 Sep 2020 at 17:13, Alex Wu <notificat

[2020-09-11 01:01] ericl commented on #10716
Great question. The difference is that DQNTrainer actually overrides some more aspects of training (mainly, adding a replay buffer). You can see this from dqn.py:
[code]

If you instead build your trainer with `DQNTrainer.with_updates(get_policy_class=...)`, then that will inherit the replay buffer and config from DQN and should achieve the same performance.

[2020-09-11 01:40] richardliaw commented on #10305
Merged then!

[2020-09-11 01:40] #10305 closed

[2020-09-11 01:56] guoxuxu commented on #9750
I think the error is raised with TensorFlow. It warns that your input data (data type, and shape) is incorrect

[2020-09-11 02:44] #10720 closed

[2020-09-11 03:28] stephanie-wang commented on #10722
Can't figure this out or reproduce at the moment, so I'm going to close for now.

[2020-09-11 03:36] rkooo567 commented on #10722
Maybe there was a memory corruption issue in that method? We rewrote the gcs server network resolution code (so that it will work inside docker) after 0.8.7

[2020-09-11 03:45] stephanie-wang commented on #10722
Ah I didn't realize that. Looking at the code, it does seem very likely... I'll reopen this issue for now, but I'm not sure how to reproduce it.

[2020-09-11 03:46] schukerzheng commented on #10708
Finally i found why, thanks a lot.
1. there is a personal proxy between hosts, I turned it off;
2. ray.shutdown() must not be called at pytest_sessionfinish.

[2020-09-11 03:46] #10708 closed

[2020-09-11 03:51] rkooo567 commented on #10722
Maybe we keep running asan tests on this method, we can probably detect them. I will spend some time later to write the test

[2020-09-11 08:04] neigh80 opened #10733 "[rllib] Invalid input/output signatures in tf.saved_model from TFPolicy.export_model"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
* Ray 0.8.7
* TensorFlow 2.1.1

I'd like to create ```tf.saved_model``` using a rllib checkpoint. ```TFPolicy.export_model``` works fine, but some input/output signatures are represented like ```default_policy/Placeholder:0```. These signatures are used for input/output to manage LSTM sta

[2020-09-11 09:00] ijrsvt opened #10735 "[docker] Config updates do not propagate into the container"
### What is the problem?

Docker file mounts are based on the inode of the host file. When `rsync` replaces the host file, it creates a new inode, effectively making the mount useless.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)

1. Run `ray up myscript.yaml`
2. Update worker nodes to include a larger number of `min/max/initial

[2020-09-11 09:02] ijrsvt commented on #10735
Found by @allenyin55

[2020-09-11 09:20] FabianSchuetze commented on #10716
Thanks for this wonderful answers - you helped me a lot!

[2020-09-11 09:20] #10716 closed

[2020-09-11 09:33] #10693 closed

[2020-09-11 11:05] #10433 closed

[2020-09-11 14:48] jeanpm opened #10738 "[tune] Using tune checkpointing with episode_reward_mean"
Hi,

I'm using TD3 in a custom environment, and a while ago (on 0.8.6)  I was able to save checkpoints for the best policy (that with the highest episode_reward_mean) during training with
[code]
Recently (at 0.8.7) I've noticed that the saved checkpoint is always the first and the last iteration. If I set `keep_checkpoints_num=2` then the first, second, and last are kept, regardless of actual `epi

[2020-09-11 15:39] ibrottier commented on #7645
Im having this problem when importing "from ray.rllib.env import MultiAgentEnv" and the pip install didn't seem to work

any idea?

[2020-09-11 15:54] ArturNiederfahrenhorst commented on #6399
Is there an update on this? Or a link to the TF issue? A workaround?
I am still experiencing this issue and would like to tune my policy on a cluster.

[2020-09-11 17:22] mfitton commented on #8410
@shreyagu sorry, realize it's been a while now but I came across this searching for another issue. If you switch to using a different "instance type" in your autoscaler YAML file (specifically an instance type that has 3 or more cores), then the system that Ray spins up will be able to run the job.

[2020-09-11 17:25] acdifran opened #10739 "IDLE workers holding GPU resources"
I am very new to ray and I recently updated some code from ray 0.8.0 to 0.8.6 and am running into an issue where my workers seem to be holding onto GPU resources after this update. Previously all submitted tasks would complete, but now after a few tasks run, the remaining tasks hang. I took a look at the dashboard and see some IDLE workers that have GPU resources assigned. I set "max_calls=1" for

[2020-09-11 18:44] sumanthratna opened #10742 "[tune] utility function for converting dicts to hparam search spaces"
### Describe your feature request

I'm writing a framework that allows users to tune hparams, where the users would provide a config file describing the search space. A function for converting Python dicts to the Ray hparam config would be a very useful addition to the 1.0 API.

the function should be:
- **file format agnostic**
    - by accepting a dict instead of file path, users can provide a J

[2020-09-11 18:50] ericl commented on #10271
Ah, this is since you're not using Ray Tune. Hence, the GPU allocation is incorrect on the driver since it's just whatever the main() program has allocated. When using Tune, the trainer is run on a different process with the correct GPU allocation. Sadly, the previous PR was intending to fix this exact issue but it seems we forgot this edge case. @sven1977 , I think this is the correct conditional

[2020-09-11 18:57] sumanthratna commented on #10742
e.g., if the "bonus" conversions are implemented,
[code]
would become:
[code]

[2020-09-11 18:58] ericl commented on #10510
I don't think anyone is working on this. Is the performance significantly better than other MARL algorithms though? (i.e., would this be of practical interest?)

[2020-09-11 19:02] ijrsvt opened #10743 "Stop using `file_mounts` for ray_bootstrap_config & ray_bootstrap_key"
### What is the problem?
The way that `ray_bootstrap_config.yaml` and `ray_bootstrap_key.pem` are synced to the head node is non-obvious.

They are currently synced by including them in the `file_mounts` dictionary that is passed into `NodeUpdaterThread` in `commands.py::get_or_create_head_node`.

They require somewhat special processing in that:
- They are never included in cached versions of the

[2020-09-11 19:04] #10521 closed

[2020-09-11 19:05] ericl commented on #10530
I could be wrong, but isn't this simply showing the replay buffer increasing in size? The default is 1 million timesteps.

[2020-09-11 19:08] ericl commented on #10743
@AmeerHajAli , will this cause any problems for you? @ijrsvt please keep either me or Ameer in the loop for autoscaler core changes, thanks!

[2020-09-11 19:09] ericl commented on #10717
I thought we actually used to raise an error, this might be a regression.

[2020-09-11 19:10] ericl commented on #10717
cc @stephanie-wang it might be related to the autoscaler issue you were investigating before.

[2020-09-11 19:16] ericl commented on #10653
Interesting, do you want to push a fix. Also cc @michaelzhiluo if you could take a look here.

[2020-09-11 19:42] richardliaw commented on #10643
Hi, can you provide an example of this?

[2020-09-11 19:51] richardliaw opened #10747 "[java] Java usage is shown when importing from Python"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*
master

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):
I get shown:
<img width="505" alt="Screen Shot 2020-09-11 at 12 50 54 PM" src="http

[2020-09-11 20:00] richardliaw commented on #10743
You can now cc everyone with @ray-project/ray-autoscaler

[2020-09-11 21:44] barakmich commented on #10747
That was easy to find:

[code]

I betcha dollars to donuts its afa0216280409ff9806640658605e24b64d81ea7, specifically https://github.com/ray-project/ray/commit/afa0216280409ff9806640658605e24b64d81ea7#diff-54ac27010a06993004bec4677c7e583eR1329-R1332

[2020-09-11 21:53] wuisawesome commented on #10700
@maximsmol @richardliaw do either of you have bandwidth for this?

[2020-09-11 21:57] richardliaw commented on #10700
@wuisawesome thanks i'll take a look.

[2020-09-11 22:35] #10722 closed

[2020-09-11 22:53] wuisawesome commented on #10717
@ericl when was the last time you saw an error? We don't have that check in 0.8.7 (starting multiple clusters is fine)

[2020-09-11 22:56] richardliaw commented on #10700
This is fixed on latest master, please reopen with repro if not.

[2020-09-11 22:56] #10700 closed

[2020-09-11 23:13] ericl commented on #10717
Ah, this is it: if you run `ray start --head --port 6379` (specifying the port), it does indeed start successfully only once. So @edoakes you can just make sure to specify the port and this behavior will happen by default.

[2020-09-11 23:29] rkooo567 commented on #10585
@wuisawesome Can I close the issue?

[2020-09-11 23:30] wuisawesome commented on #10585
whoops, yeah sorry

[2020-09-11 23:30] #10585 closed

[2020-09-11 23:32] rkooo567 commented on #9615
@wuisawesome I think it is better having some design doc to fix this properly. So, I will just downgrade back to P2. I definitely agree this shouldn't be a release blocker.

[2020-09-11 23:33] wuisawesome commented on #9615
oh yeah sorry, mistake on my part

[2020-09-11 23:36] rkooo567 commented on #10354
@ffbin Any progress on this?

[2020-09-11 23:37] rkooo567 commented on #10278
@mfitton Is this now available? I guess we can just expose APIs from Dashboard?

[2020-09-11 23:37] wuisawesome opened #10752 "Autoscaler should set RAY_ADDRESS environment variable"
### Describe your feature request

Currently when developing on a laptop and moving over to a server, we have to change

`ray.init()` => `ray.init(address="auto")`

This is annoying and easy to forget. If we set `export RAY_ADDRESS="auto"` we will be happier.

[2020-09-11 23:37] #10250 closed

[2020-09-11 23:38] rkooo567 commented on #8251
cc @stephanie-wang How was the status for our heartbeat lagging issue? Is it resolved?

[2020-09-11 23:39] rkooo567 commented on #10234
@Seraphli I will close this issue since we've merged the possible fix. Please try it and reopen if issues still occur!

[2020-09-11 23:39] #10234 closed

[2020-09-11 23:43] rkooo567 commented on #10481
@stephanie-wang Can I take this task next sprint?

[2020-09-11 23:43] pn12 opened #10753 "Suppress : UserWarning: PySoundFile failed"
Hi ,

I have been using ray for librosa audio files and am unable to supress the below userwarning.

**(pid=132) /opt/conda/lib/python3.7/site-packages/librosa/core/audio.py:162: UserWarning: PySoundFile failed. Trying audioread instead.
(pid=132)   warnings.warn("PySoundFile failed. Trying audioread instead.")**

Can anybody suggest a method to supress warnings in ray?

Thanks

[2020-09-11 23:56] #10735 closed

[2020-09-12 02:03] #10747 closed

[2020-09-12 06:20] #10431 closed

[2020-09-12 07:20] n-gao opened #10755 "Ray is only using a single CPU core"
### What is the problem?
I use ray to train using multiple GPUs with PyTorch though all processes only utilize a single core which impedes the GPU efficiency a lot (only about 20-30%).
Ray: 0.8.7
Python: 3.7.7
PyTorch: 1.5.1
![image](https://user-images.githubusercontent.com/9084670/92990041-02c88e00-f4d9-11ea-922d-a68cec8e10eb.png)

[2020-09-12 08:08] amogkam commented on #10755
@n-gao Could you please share your train.py script? It’ll help us diagnose what’s going on.

[2020-09-12 08:12] richardliaw commented on #10755
Also, is it possible that your Pytorch is installed via conda? Or to check whether there are settings for KMP/OMP threads pinning everything to 1 core?

[2020-09-12 08:36] n-gao commented on #10755
I installed PyTorch via pip.
Due to copyright etc. I sadly can not share my training script. I will see whether I can produce another example.
Also, I tested this on two completely different GPU clusters and it happens in both.

[2020-09-12 08:53] richardliaw commented on #10755
is `CUDA_VISIBLE_DEVICES` set somewhere?

[2020-09-12 08:58] n-gao commented on #10755
The processes are properly distributed to the GPUs, but they only use a single core. Here is a simple example:
[code]
Nvidia-smi:
[code]
Htop:
![image](https://user-images.githubusercontent.com/9084670/92991883-e3386200-f4e6-11ea-9b9d-2c7e397c2ab5.png)

[2020-09-12 09:02] richardliaw commented on #10755
That’s concerning - can you check if theres any explicit process affinity (
https://unix.stackexchange.com/questions/425065/linux-how-to-know-which-processes-are-pinned-to-which-core)
within the initialization of each actor?

Also can you check to unset any OMP and KMP environment variables?

Let me know it this leads to anything!

On Sat, Sep 12, 2020 at 1:59 AM Nicholas Gao <notifications@github

[2020-09-12 09:08] n-gao commented on #10755
[code]
These are the affinities for the ray processes. What OMP and KMP environment variables (sorry I am unfamiliar with these)?

[2020-09-12 09:35] #4604 closed

[2020-09-12 10:07] nasrin136 opened #10756 "tune.run issues "Insufficient cluster resources to launch trial" error after few successful rounds of running trials"
OS: 35-Ubuntu SMP
Ray: 0.8.7
python: 3.6.10

@richardliaw
I have a machine with 4 CPUs and 1 GPU.
I initiate ray with cpu=3 and gpu=1 and from within tune.run, resources_per_trial={"cpu": 1, "gpu": 0.5}.
At first, no error. and 3 trial run in parallel and around 20 trial get completes, however, after a while, I get this error:
[code]
I re-ran the tune.run but this time with queue_trials=True and I

[2020-09-12 16:24] sumanthratna commented on #10753
the warning came from `warnings.warn` which means you can add the following before calling whatever function raises that warning:
[code]

note that the following might be safer if you want to maintain warnings in other parts of your code:
[code]

see https://github.com/librosa/librosa/issues/1015

most importantly: make sure you're okay with using `audioread`.

---

by the way, I'm labeling this a

[2020-09-12 16:24] #10753 closed

[2020-09-12 17:26] richardliaw commented on #10756
Looks like a potential memory leak! Could you try the latest Ray wheels and let me know what the output is?

https://docs.ray.io/en/latest/installation.html#latest-snapshots-nightlies

[2020-09-12 17:33] richardliaw commented on #10755
Hey @n-gao,

Thanks a bunch for that output. It seems like the affinity list is not ideal (everything is being pinned to core 0). Ray doesn't manage CPU affinity, so this seems like a problem with an underlying library or environment.

You can read about OMP/KMP variables here: https://software.intel.com/content/www/us/en/develop/documentation/cpp-compiler-developer-guide-and-reference/top/optimiz

[2020-09-12 18:15] richardliaw commented on #3012
should be supported now: https://docs.ray.io/en/latest/rllib-algorithms.html#feature-compatibility-matrix

[2020-09-12 18:15] #3012 closed

[2020-09-12 18:15] #3163 closed

[2020-09-12 18:16] richardliaw commented on #3183
should be supported in #3637. Please open a new issue if you have a different use case.

[2020-09-12 18:16] #3183 closed

[2020-09-12 18:17] richardliaw commented on #3222
Closing because stale.

[2020-09-12 18:17] #3222 closed

[2020-09-12 18:17] richardliaw commented on #3251
Closing because stale.

[2020-09-12 18:17] #3251 closed

[2020-09-12 18:17] richardliaw commented on #4137
Closing because stale.

[2020-09-12 18:17] #4137 closed

[2020-09-12 18:18] #3279 closed

[2020-09-12 18:19] richardliaw commented on #3221
Should be done.

[2020-09-12 18:19] #3221 closed

[2020-09-12 18:22] richardliaw commented on #4983
closing because stale - please reopen if still an issue.

[2020-09-12 18:22] #4983 closed

[2020-09-13 00:09] richardliaw opened #10759 "[k8s] commands are not executing properly, unable to start cluster"
### What is the problem?

Seems like all commands are running properly but the fact that the help string is printed suggests that the command is returning a false error code/not actually executing the command.

[code]

cc @twillkens @wuisawesome

[2020-09-13 00:35] ffbin commented on #10354
@rkooo567 I will finish it next week. I want to save 1-N IDs and recycle them from 1 to N to avoid deleting records. If GCS restarts, i will start with 1. What's your suggestion?

[2020-09-13 03:54] raulchen commented on #3221
@tungwini Please see https://docs.ray.io/en/master/ for the latest Java doc.

[2020-09-13 06:18] nasrin136 commented on #10756
I installed the one for Linux python 3.6 (https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl)
Ray's version is now 0.9.0.dev0

Here is what I got when I ran the  same script:
  from ray import tune
  File "/home/ubuntu/anaconda3/envs/hydrot_tf2_gpu/lib/python3.6/site-packages/ray/tune/__init__.py", line 2, in <module>
    from ray.tune.tune import

[2020-09-13 06:53] n-gao commented on #10755
Main thread:
[code]
Every actor has the same environment variables (why is there no `CUDA_VISIBLE_DEVICES` set?):
[code]

[2020-09-13 07:19] n-gao commented on #10755
I found the issue on my system, the compute node was attributed to me by `slurm` and without specifying the number of cpu cores, slurm forces all processes to a single core. I could reproduce the same issue with `multiprocessing`, so this is completely `ray` unrelated. Sorry for the confusion and thank you for your time!

[2020-09-13 07:19] #10755 closed

[2020-09-13 07:26] richardliaw commented on #10755
Awesome! That's a good catch - should we add it to the docs?

Also, be sure to do `ModelActorClass = ray.remote(num_gpus=1)(ModelClass)` <= to use CUDA VISIBLE DEVICES.

[2020-09-13 07:30] n-gao commented on #10755
FYI, this is not solely `Slurm` specifiy, it seems that `PBS` does the same (has the same issue on a `PBS` cluster).

[2020-09-13 07:33] richardliaw commented on #10756
`pip install dataclasses`?

[2020-09-13 07:57] richardliaw commented on #10742
hmm, sounds interesting - should be much simpler though:

[code]

[2020-09-13 12:00] zzchuman opened #10760 "[rllib] using attention nets and multi-agent RL"
hello, @ericl
@sven1977
I just want to use the attention net in multi agent.
But, I can not find the example.
Can you write a example about attention on multiagent?

[2020-09-13 14:14] sumanthratna commented on #10742
@richardliaw i'm not sure what you mean–are you suggesting that the dict you sent should be the input for the conversion function?

[2020-09-13 14:49] #10284 closed

[2020-09-13 15:04] FruechteBini opened #10761 "[rllib] Multi-agent restet method only working if agents done at the same time (Batches sent to postprocessing must only contain steps from a single trajectory)"
Hello guys,

i am trying to connect my custom environment to rllib currently. In my env spaceships (agents) have to reach a goal. on the way to the goal, the spaceships can die by colliding with eachother or they can get hit by a projectile.

I am having a strange behaviour where my reset() method is only working if the agents collide and die at the same timestep:
![image](https://user-images.gith

[2020-09-13 16:05] FruechteBini commented on #10761
Edit: I just found the parameter "no_done_at_end". Now it is working, but i dont understand what exactly that parameter does. If i dont set it, do all agents have to be "done" at the same time?

In the documentation it says:
[code]

Can someone explain this in more detail maybe?

Thanks!

[2020-09-13 17:35] richardliaw commented on #10742
sorry - as input to the conversion function

[2020-09-13 17:35] richardliaw commented on #10742
(if you were to upstream it). Otherwise, perhaps it makes sense to just do this on your project for now!

[2020-09-13 17:47] ericl commented on #10761
This seems unusual and might be a bug on rllib. Can you provide a reproduction script? (please see the bug template for guidelines, it must be runnable after copy paste with no external librariesfor us to debug).

[2020-09-13 18:54] ericl opened #10763 "[autoscaler] Usability regressions in new autoscaler output"
@richardliaw we've regressed the output here, it's a minor issue but super annoying.

[code]

It used to print the absolute path of the yaml, so you can copy paste into any terminal. Now, the user has to navigate to the directory YAML for the command to work.

[2020-09-13 18:57] ericl commented on #10763
Also, didn't we used to print the raw SSH command if you want to a direct shell? If we don't print that, then users will have a hard time figuring out how to get direct access if they want more custom command execution.

[2020-09-13 18:58] #10404 closed

[2020-09-13 19:14] bentzinir opened #10765 "[rllib] SAC/DDPG state preprocessor variables not included in grad calculation"
### What is the problem?
It is not clear to me if the variables of a state-preprocessor, i.e. the core "forward" layers, are assigned to a gradient.
Assume I use sac (or ddpg) with a VisionNet as a state-preprocessor.
Those variables are not registered as actor variables, nor as q variables.
However, the actor (critic) gradient is selectively defined over actor (critic) variables only.
Is it possi

[2020-09-13 19:31] richardliaw commented on #10763
The first issue is fixed on master - https://github.com/ray-project/ray/commit/401195d9359b4d6641776f43706bc3ced414819e#diff-4fd45cbce68a36f9e4f5a688ac099228

[2020-09-13 19:32] richardliaw commented on #10763
If not please provide repro:
[code]

[2020-09-13 19:33] ericl commented on #10763
Thanks!

[2020-09-13 19:34] ericl commented on #10763
Actually, how about the raw SSH command?

[2020-09-13 19:34] richardliaw commented on #10763
the raw ssh command is not yet

[2020-09-13 19:35] ericl commented on #10763
Hm, maybe it was that when you run "ray attach etc.", it used to print the raw SSH command being executed. Can we ensure this is printed out so the commands aren't so "magic"?

[2020-09-13 19:38] richardliaw commented on #10763
Yeah - I'll add a line.

[2020-09-13 20:51] wuisawesome commented on #7697
this is done now right?

[2020-09-13 20:51] #7697 closed

[2020-09-13 21:06] richardliaw commented on #7697
yeah

[2020-09-13 22:19] wuisawesome commented on #9335
@crypdick can you provide some context about the scale of your parallel iterator needs (approx #keys, size of dataset, etc)?

[2020-09-13 23:36] sumanthratna commented on #10742
hmm in my case, pathologists with close to no CS experience are going to be specifying the search space via a config file, so I'd like to avoid syntax like `lambda`.

for now, I'll keep this in my project codebase; I'm still leaving this open at P3 because I think at some point (post-1.0) it would be cool to implement this in tune

[2020-09-14 00:07] richardliaw commented on #10742
very cool! sounds good.

[2020-09-14 00:07] richardliaw commented on #10763
see #10767

[2020-09-14 05:51] xlnwel commented on #10678
I've tried to incorporate the signal into observation using environment wrapper as follows:

[code]

When using the above wrapper, I received an issue from `make_model` function(see [this](https://github.com/ray-project/ray/blob/a43817f34b5fe8cff784385be455883335ecb45c/rllib/agents/dqn/dqn_tf_policy.py#L133) for an example) and I print the observation space(the one passed to `make_model` ) which b

[2020-09-14 06:36] ericl commented on #10678
@xlnwel thanks for posting this from slack. The way RLlib deals with complex observations is by flattening them into a vector, and then inside ModelV2, it unflattens them before calling forward() on your model: https://github.com/ray-project/ray/blob/master/rllib/models/modelv2.py#L199

Most likely, this means you shouldn't be looking at the obs space inside your custom policy at all -- only insid

[2020-09-14 06:37] #10763 closed

[2020-09-14 06:40] #8958 closed

[2020-09-14 06:40] #8983 closed

[2020-09-14 07:11] xlnwel commented on #10678
Hi @ericl

I now can retrieve the original observation space using `observation_space.original_space` as you suggested. But in [this function](https://github.com/ray-project/ray/blob/a43817f34b5fe8cff784385be455883335ecb45c/rllib/agents/dqn/dqn_tf_policy.py#L193), `obs_batch` is still a tensor of shape `(1, 49154)`. This further propagates to the `forward` function of my custom ModelV2 class. It s

[2020-09-14 08:17] Antymon opened #10769 "[tune] Trainable leaks GPUtil monitor thread"
### What is the problem?

Repeated creation-destruction of a PPO trainable results in exponential computation growth of each step of such a loop.

I have used such a loop in tests. With enough cases, exponential growth was able to bring down any server.

The problem seems related to the use of `GPutil` in conjunction with `rllib`. See the attachment below.

Perhaps this makes it more related to `t

[2020-09-14 09:53] ericzhao28 opened #10770 "[rllib] [tune] Running multiple trainers in parallel"
### What is your question?
In the rllib example where two trainers are used for multiagent learning, both a ppotrainer and dqntrainer are called at each iteration. The current flow is sequential and synchronous, like this:
[code]
Is there anyway to run these two .train() calls asynchronously so they run in parallel? I couldn’t find anything in the Tune documentation regarding how to run trainables

[2020-09-14 11:43] fyrestone opened #10771 "[Dashboard][Perf] http route handler cache"
Add a cache to http route handler,
- If the same request arrives in TTL, just return the cached data.
- If a new request arrives or the TTL is expired, schedule the http route handler to update cache, and return the cached data.

[2020-09-14 12:05] fyrestone opened #10773 "[Dashboard][Perf] datacenter optimization"
- Problem
  - The data in `datacenter.DataSource` is shared by all modules and `datacenter.DataOrganizer`. We want to keep the data from being corrupted. But, current logic(always deep copy) cost too many CPUs.
- Solution
  - Add Immutable container to avoid data being corrupted.
  - If a logic needs to modify the data, it should copy the data manually.
- In the future, we only enable the immutabl

[2020-09-14 12:12] rstrudel commented on #10530
Thanks for your answer @ericl ! Indeed it seems that I misunderstood the replay buffer logic. I thought the whole replay buffer memory was allocated statically at initialization and not dynamically which is the case.

I got out of memory errors after training during one night on environments working well with (rlkit)[https://github.com/vitchyr/rlkit/] so I thought about a memory leak.. Maybe it co

[2020-09-14 12:51] rkube opened #10774 "Installing ray on powerpc"
Hi,
not a bug report but a user history.
I installed ray on our powerpc cluster. Since there are no wheels for this architecture I'm sharing my steps to get it running:

1. Clone the git repository:
[code]

2. py-spy has provides no wheels for powerpc. I had to install it and rust from source:
Installing rust:
[code]
Add cargo, the rust package manager, to my PATH:
[code]
3. Install py-spy:
[code]

[2020-09-14 13:36] TanjaBayer commented on #9259
Having the same issue here:

* master-node running inside a docker
* second node also running inside docker
* ray node connects without a problem with the master
[code]
ist not able connect with the master
[code]
that works without a problem

[2020-09-14 14:24] TanjaBayer commented on #9259
I am not seeing the same behavior as mentioned above: setting `time.sleep(20)` did not solve the issue, also the timout from global state does not have any affect, because for me it hangs up on calling `self.global_state_accessor.connect()` in state.py

[2020-09-14 15:17] sumanthratna commented on #10774
thanks! this seems like something we should either mention in the docs or address in Ray's codebase. @rkube can you run ray's tests to see if anything breaks on powerpc? to test the python codebase just `cd python` and then run `pytest`

[2020-09-14 15:24] sumanthratna commented on #4814
since we now have `tune.create_searcher` and `tune.create_scheduler` (#10456), I don't think this is really necessary anymore. closing for now.

[2020-09-14 15:24] #4814 closed

[2020-09-14 15:55] sumanthratna commented on #7239
[from the ray 1.0 whitepaper](https://docs.google.com/document/d/1lAy0Owi-vPz2jEqBSaHNQcy2IBSDEHyXNOQZlGuj93c/preview#heading=h.vgylh5bif9mk):

---

not yet, but as mentioned above, redis may eventually be removed as a dependency.

[2020-09-14 15:55] #7239 closed

[2020-09-14 16:09] rkooo567 commented on #7239
Just to add more explanation, Redis is the data plane of the Ray cluster which stores cluster-level metadata. For example, it stores the state or Ray nodes or actors (like where actors are).

Redis was hard dependency to Ray before, but as mentioned in the paper, we are moving towards removing it from a hard dependency. We built a new component gcs_server which can have pluggable backend (Redis by

[2020-09-14 18:03] ericl commented on #10678
Hmm input_dict['obs'] should definitely be already restored. I'm not sure what's going on exactly, I would recommend trying to see how it works in DQN etc, which definitely support Dict spaces.

(basically, try getting your custom model to work in a normal algorithm first, then debugging any differences with your custom algorithm

[2020-09-14 18:22] ehsandu15 opened #10778 "How do i get around pickling database connection problem?"
### What is your question?

*Ray version and other system information (Python version, TensorFlow version, OS):*

[2020-09-14 18:59] #10759 closed

[2020-09-14 20:06] rkube opened #10781 "Segmentation faults in SLURM example"
Hi,
I'm trying to start a ray cluster from within slurm. For this I'm following the SLURM example here: https://docs.ray.io/en/master/cluster/slurm.html?highlight=slurm#deploying-on-slurm

I'm experiencing IOError: 14 error messages when running the example program:
[code]

This is my runscript:
[code]
python -u trainer.py $redis_password 15 # Pass the total number of allocated CPUs

Here is train

[2020-09-14 20:43] mfitton commented on #10278
This is still not stable. It will be more stable once we move over to the new dashboard backend, which should be the next couple weeks. That said, I hesitate to say the dashboard API will be frozen at that point. However, we can avoid making breaking changes from that point forward without deprecation warnings.

[2020-09-14 20:49] richardliaw commented on #10781
@rkube any clue why `2020-09-14 16:14:59,574	SUCC scripts.py:698 -- Ray runtime started.` gets printed 5 times?

[2020-09-14 22:19] ericl commented on #10770
Great question. To do that, you'll actually need to build a hybrid trainer that composes the two workflows so they can run concurrently. There's an example here of that: https://github.com/ray-project/ray/blob/master/rllib/examples/two_trainer_workflow.py

[2020-09-14 22:24] rkube commented on #10781
I believe this is coming from srun -x `hostname` -n $worker_num ray start --address $ip_head.
But it should only be 3 times, since worder_num=3. I'll take a look.

[2020-09-14 22:31] richardliaw commented on #10781
Sorry - 4 times. Question though; does it work if you remove that?

[2020-09-14 22:42] Leemoonsoo opened #10786 "[docker] Support non-root container"
### Describe your feature request

The Docker image created by `build-docker.sh` requires the root user to run.
Support non-root container is important to have better security. see

  - https://docs.docker.com/engine/security/security/
  - https://engineering.bitnami.com/articles/why-non-root-containers-are-important-for-security.html

Currently, docker image installs python conda environment and

[2020-09-14 22:51] ericzhao28 commented on #10770
Is there a way to do this without merging them into a single trainer? In the example, the two trainers train disjoint sets of policies (the dqn trainer updates the dqn policies, the ppo trainer updates the ppo policies). In our use-case, each of the two trainers is used to train all agents---I periodically average the policy weights between the trainers. I'm not sure if that is possible in a singl

[2020-09-14 23:04] ericl commented on #10770
I see, you should be able to create those trainers as remote actors. For example
[code]

[2020-09-14 23:35] timothynest opened #10787 "Tensorboard/Tune support for categorical/string parameters [tune]"
Currently Ray.Tune cleans strings before exporting to tensorboard. As a result categorical variables are not searchable from hparams tab without mapping to some numeric dictionary. This may be outside the scope of the project, but it would be nice to be able to easily search string parameters (model architectures for example)

@richardliaw

[2020-09-14 23:39] richardliaw commented on #10787
@timothynest can you quickly try this out?

[code]

[code]

[2020-09-14 23:43] richardliaw commented on #10787
Actually, upon closer inspection, the behavior that you're seeing is quite odd.

Even on the intro page, we have string outputs in the Tensorboard hparams tab (see "activation"): https://docs.ray.io/en/latest/_images/tune-hparams-coord.png

Does this not correspond to what you're seeing? if not, could you provide a simple repro script?

[2020-09-15 00:31] ericzhao28 commented on #10770
Thanks @ericl. Is it necessary to move the trainers into a remote worker? I tried the snippet below and it seems to be ok (as in doesn't immediately crash):
[code]
Does the use of multithreading on Ray introduce some bad side effect that I'm missing (I recall Ray being threadsafe)?

[2020-09-15 00:34] ericl commented on #10770
I think that should work as well. It might be a bit slower due to GIL contention though.

[2020-09-15 00:36] ericzhao28 commented on #10770
Do the trainers actually do a significant amount of work locally? I was under the impression that evaluation rollouts and policy updates occurred in remote workers (called by the Trainers) which shouldn't be affected by any GIL contention. Is there some non-trivial local computation being done by the trainers?

[2020-09-15 00:53] ericl commented on #10770
Yeah, the gathering of results and learn() step occur locally typically. Though, these are calls into TF/Torch and would release the GIL, but you might see some contention concatenating data and such.

[2020-09-15 01:01] #10787 closed

[2020-09-15 01:03] timothynest commented on #10787
Found workaround with the help of @richardliaw:
copy https://github.com/ray-project/ray/blob/releases/0.8.1/python/ray/tune/logger.py#L158-L220
to an external file, then :
from ray.tune.logger import JsonLogger # required
from {file} import tf2logger
tune.run(loggers=(JsonLogger, tf2logger))

As Richard explained, tensorboardx doesn't support string selection in hparams, but the older ray loggers

[2020-09-15 01:39] noprohuangqi opened #10789 "[tune] why some trail run more iters at a moment?"
+---------------------+----------+------------------+------------+--------+------------------+
| Trial name          | status   | loc              |         lr |   iter |   total time (s) |
|---------------------+----------+------------------+------------+--------+------------------|
| RayYolo_482d6_00000 | RUNNING  | 172.17.0.4:25969 | 0.00530472 |     28 |          2154.4  |
| RayYolo_482d6_0000

[2020-09-15 01:42] richardliaw commented on #10789
Good question; maybe check nvidia-smi or htop to see if CPU utilization is fair.

[2020-09-15 01:46] rkube commented on #10781
Hm, this is tricky. Apparently srun ignores the -x parameter (exclude the host on which the head node runs). It also ignores -N worker_num. I'll need to dig into slurm a bit to figure out how to properly launch the worker nodes on our installation.

[2020-09-15 01:48] noprohuangqi commented on #10789
Thanks for your quickly reply .
Do you mean that resource cause this situation? And what I really want to know is this situation whether to affect the normal operation of PBT .

[2020-09-15 02:53] xlnwel commented on #10678
Hi @ericl

Thank you for your advice. I finally find the source of the problem. It turns out that I should pass to my custom model the flatten `obs_space`, which has the `original_space` attribute.

I also noticed that the `reset` I defined in the wrapper is somehow changed when I print it in `forward`. Do you think my `Wrapper` class is right?

[code]

[2020-09-15 03:16] amogkam opened #10790 "[Ray SGD] Improve TorchTrainer Unit Tests"
P2: Simplify `test_torch_failure.py` and split up into smaller tests. This will prevent complicated mocking and make the tests more manageable.
P3: Get unit tests working on Mac OS. This is very low priority for users since distributed training is often done on Linux, but is useful for developers because it allows running tests on laptop.

### What is the problem?

*Ray version and other system in

[2020-09-15 03:19] amogkam commented on #10789
@noprohuangqi you can try running PBT with `synch=True` parameter set. This will add a synchronization barrier for all trials and makes sure perturbations only occur after all trials are at the same epoch ensuring fairness.

[2020-09-15 03:21] amogkam commented on #10789
More info here: https://docs.ray.io/en/master/tune/api_docs/schedulers.html#ray.tune.schedulers.PopulationBasedTraining

[2020-09-15 03:28] #10691 closed

[2020-09-15 03:29] noprohuangqi commented on #10789
Thanks , seem like this is new version of PBT. My version at 0.8.6 has no keyword like synch.

[2020-09-15 03:51] amogkam commented on #10789
Right, this was added recently and is in the 0.8.7 release. It should give you what you want in terms of perturbations only occurring when all trials are at the same epoch. Otherwise the default is async and there's no guarantee that this will hold. If you plan to try out synch mode let me know how it goes/if you run into any issues!

[2020-09-15 03:56] scottwedge opened #10791 "Typo "occured""
Typo "occured" in several files.

[2020-09-15 04:18] noprohuangqi commented on #10789
Yes, I want all perturbations only occurring when all trials are at the same epoch. But I can not understand why in the async mode, different trails compare at the different epoch? Because usually larger epoch has better perfermance,this compare is not reasonable.

[2020-09-15 04:55] amogkam commented on #10789
Sorry about that, I guess it didn't make it into 0.8.7! Yes it's in the latest nightly build.

Regarding async vs sync: In async mode each trial runs independently and theres no guarantee that they will all run at the same speed. Training state for each epoch for each trial is not stored, only the current state is. So when trial A reaches a perturbation interval, it will compare against the curren

[2020-09-15 05:05] edoakes commented on #10791
Thanks @scottwedge. See you already have a branch -- please make a PR!

[2020-09-15 06:04] pinggao187 opened #10793 "How to configure read the docs installation requirements？"
Your docs website is perfect. I want to refer to your website to configure my project, but I have a problem.

How to configure read the docs to run the file doc/requirements-doc.txt.

command on read the docs：
/home/docs/checkouts/readthedocs.org/user_builds/ray/envs/master/bin/python -m pip install --exists-action=w --no-cache-dir -r doc/requirements-doc.txt

[2020-09-15 06:27] kfstorm commented on #10694
These logs only occur if debug log is enabled. Currently, the only log we see when running a Java driver is `All processes started @ x.x.x.x`. This message is confusing. We'd better change it to `Ray started @ x.x.x.x`.

[2020-09-15 06:42] richardliaw commented on #10793
Thank you for the high praise.

[code]

[2020-09-15 07:05] pinggao187 commented on #10793
Thanks for your response. I may not express my needs clearly.

I see that your website is automatically updated through "read the docs", and the command pip install -r doc/requirements-doc.txt will be automatically executed when building.

I want to add the automatic execution command pip install -r doc/requirements-doc.txt on "read the docs". How to configure it？

read the docs link:
https://read

[2020-09-15 07:41] amogkam opened #10797 "[Ray SGD] Remove global actor handles from LocalDistributedTorchRunner"
When `TorchTrainer` is run with `use_local=True`,  dummy actors are used to handle resource reservation on the local node. The actor handles for these dummy actors are stored as global variables, so they are not reset when the trainer resizes. But this leads to problems when shutting down the Trainer since in some cases, these global variables are not set back to None.

Instead, we should have the

[2020-09-15 08:05] krfricke commented on #10426
Hi @rhamnett, I could confirm the issue and file a new PR to tackle this.
It seems like the log cleaning converted numpy floats to strings, which then got filtered out before logging. The PR should fix that.

[2020-09-15 08:19] moritzmeister commented on #10640
Thanks! That will do :)
I think the `memory` argument for `resources_per_trial` is not very well documented in the *tune* docs though.

[2020-09-15 09:03] #10694 closed

[2020-09-15 10:47] davidia commented on #8003
I'm seeing this in python 3.8.3 with  ray 0.8.7 and not using Torch.

[2020-09-15 11:45] #10699 closed

[2020-09-15 13:00] rkube opened #10803 "ray terminates when building without dashboard"
Hi,
I've compiled ray 1.1.0.dev0 from source for Power PC, skipping the ```npm build ``` steps to compile the dashboard.

The compile went fine but just after starting ray it terminates with the following error messages:

[code]

I've since compiled ray with its dashboard and ray launches as expected.

@wuisawesome

[2020-09-15 13:16] Glaucus-2G opened #10804 "[rllib][k8s]: ModuleNotFoundError: No module named 'game'"
### What is your question?
### **When I run my rode in a ray cluster, it shows ModuleNotFoundError: No module named 'game'**
I have a  game simulator and register it  in gym.
The evironment's name is "Ucav-v0" and the simple code structure in `/conda/lib/python3.7/site-packages/gym/envs `  is :

In ` ucav.py `, it will use some functions in GameManager.py

When I run  `gym_ppo.py` in my computer,

[2020-09-15 13:58] TanjaBayer commented on #9259
# Host Network
* when using host network instead of bridge network for the master node it is actually possible to set up a connection between the master and the other nodes
# Some additional findings
When running the master node inside docker with 'host' network I also see two more ports beeing used:
[code]
Each time I start the docker they get different ports, is it possible that those ports - wh

[2020-09-15 14:25] #10778 closed

[2020-09-15 14:47] karstenddwx opened #10805 "[rllib] rollout.py (line: 433) expects a valid reward for each env step"
I understand that a reward can be None for a certain env step.
Even in a MultiAgentEnv there might be no action for certain agents in a step, so no reward for that agent to return.
If there was no action for that agent in previous steps at all, there is also no delayed reward for that agent.

ray latest 0.8.7

to reproduce just run a multi agent env with...
- one agent/action per step
- calculate

[2020-09-15 15:21] sumanthratna commented on #10804
hey @Glaucus-2G! can you try adding an empty `__init__.py` file to the `game/` directory?

if that doesn't work, try `from ..game.GameManager import GameManager, planeNameMap` in `ucav.py`

let me know if that helps!

[2020-09-15 15:34] sumanthratna commented on #10803
@rkube can you try passing `--include-dashboard False` to `ray start` in your `srun` command?

maybe we should do the following:
[code]

although maybe we should do this only for the dashboard/non-vital components of Ray

https://github.com/ray-project/ray/blob/4ccfd07a614c3b0620e75ccb47c327bb0f817299/python/ray/scripts/scripts.py#L720-L742

[2020-09-15 15:39] crypdick commented on #9335
@wuisawesome ~7.1M keys, ~30 items per key

[2020-09-15 15:51] rkube commented on #10781
Solved. The error was due to misconfiguration of slurm.

1. It is important to launch ray with --block to keep the process running. If --block is omitted the ray processes will quit immediately. This leads to lost connections.

2. The example slurm script can be simplified by unrolling the loop and using the srun parameters -w (--nodelist) and -x (--exclude).

Fix:
[code]

[2020-09-15 15:51] #10781 closed

[2020-09-15 16:07] richardliaw commented on #10781
hey @rkube would you be interested to pushing a patch to the docs with a comment about this adjustment?

I'd be happy to do it if you're too busy!

[2020-09-15 16:19] rkube commented on #10781
No problem, I'll do it later today or tomorrow.

[2020-09-15 16:54] ericl commented on #9800
cc @AmeerHajAli this would be a good issue to look at since you're doing further autoscaler work

[2020-09-15 16:57] ericl commented on #9800
Some relevant PRs for background:
https://github.com/ray-project/ray/pull/10127
https://github.com/ray-project/ray/pull/9806

[2020-09-15 17:01] amogkam commented on #10790
Also add a test to make sure state_dict is restored after resizing.

[2020-09-15 17:33] stephanie-wang opened #10808 "[docs] Add examples for using custom resources"
### Describe your feature request

Many users ask about custom resources. The documentation explains the API, but only says this for usage:
[code]

It would be great to have some examples checked into master for common policies.

cc @romilbhardwaj

[2020-09-15 18:04] rhamnett opened #10809 "[docker] / [core] Regression in detection of multi CPU count after docker fix"
### What is the problem?

The Ray snapshot 1.1.0 will detect only 1 CPU on certain multi-core systems **when not using docker** due to this change from https://github.com/ray-project/ray/pull/10507/files#diff-dd52f82c5ae34621334f725acaeacc81R502

[code]

My current cgroup output is:
[code]

Code was added to python/ray/utils.py which now requires an explicit environmental variable to be set to det

[2020-09-15 18:15] rhamnett commented on #10809
group inside a docker container

[code]

[2020-09-15 18:16] wuisawesome commented on #10809
cc @ericl @ericl

[2020-09-15 18:16] rhamnett commented on #10809
regex match might be nicer

[code]

[2020-09-15 18:21] #10637 closed

[2020-09-15 18:48] wuisawesome commented on #10809
@rhamnett can you provide more details about how you're running Ray? (OS, cloud provider, etc)?

[2020-09-15 18:49] rallen10 commented on #10510
@ericl I think it would be of practical interest because it is one of the most cited MARL algorithms along with MADDPG and QMIX. I haven't seen direct comparison with QMIX, but it performs better than MADDPG in most environments (although, to be fair, MADDPG seems to perform poorly in anything but the particle envs it was developed with).

I think the real practical interest would come from the ex

[2020-09-15 18:50] rhamnett commented on #10809
Jupyter labs via conda on centos (no virtualisation)

[2020-09-15 18:55] wuisawesome commented on #10809
Are you able to share your version of jupyter labs, conda, and centos?

Also when you say "no virtulisation" do you mean that this is running on prem?

[2020-09-15 19:01] rhamnett commented on #10809
Lab 2.1.5
Conda 4.8.4
Centos 7.8

Not sure how relevant that is but I am running conda / jupter on a standard centos OS, on my own Dell R720 server.

I also have docker installed and have given you the different output from cgroup to show you how to detect being inside a docker environment.

HTH

[2020-09-15 19:33] sven1977 commented on #10676
Unfortunately, we have not integrated with UE4 so far (but are considering it). We do have a Unity3D adapter, an example usage of which you can find here: https://github.com/ray-project/ray/blob/master/rllib/examples/unity3d_env_local.py

[2020-09-15 19:34] richardliaw commented on #10640
Agree. Let me know what comes out of it! I'll label this as a documentation TODO for now.

[2020-09-15 19:55] jrtcppv opened #10810 "[rllib] How to train beyond 2^31 timesteps?"
I am using ray 0.8.5. I would like to continue training beyond 2 billion timesteps but am hitting an error related to the timesteps variable being of type `np.int32`. Is there a way to force the model to use `np.int64` without forking ray? Specifically I am using a `RecurrentTFModelV2` with APPO.

[2020-09-15 20:59] #9734 closed

[2020-09-15 21:29] rhamnett commented on #10426
@krfricke this is fixed in 1.1.0 thanks again for all your support with these issues

[2020-09-15 21:48] richardliaw commented on #10269
Should be fixed with #10663

[2020-09-15 21:48] #10269 closed

[2020-09-15 21:50] richardliaw opened #10812 "[tune] add reproducibility guide/section in docs"
### What is the problem?

Users often struggle with understanding the areas of randomness in Tune. It'd be important to provide a guide for reproducing a hyperparameter search.

[2020-09-15 21:53] mkoh-asapp commented on #10244
I also was being troubled by this issue. The problem is that it not only shows an error for mypy but it stops any further parsing, so you cannot type check anything if you import ray somewhere.

However, you can disable mypy checking of ray by adding this to your config file.

[code]

I guess since Ray is not using type hints then this is probably ok, but it would be nice to not have to configure

[2020-09-15 22:05] sumanthratna commented on #10793
Hi @pinggao187!

I'm guessing the ray team has chosen to [configure this in the RTD admin dashboard](https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html#using-the-project-admin-dashboard) instead of using a [config file](https://docs.readthedocs.io/en/stable/config-file/v2.html#requirements-file).

My personal preference is to use a config file; to do this, create a `.readthe

[2020-09-15 22:12] #8649 closed

[2020-09-15 23:02] ericl opened #10814 "[autoscaler] Support min_workers for multi node type"
### Describe your feature request

Currently, you cannot request a static set of mixed node types in the autoscaler; it can only respond dynamically to load. It would be nice to be able to support this feature.

[2020-09-15 23:21] wuisawesome commented on #10814
What's the use case for this/should we also support `initial_workers`?

[2020-09-15 23:31] ericl commented on #10814
If you know ahead of time that you need say 3 GPU nodes and 2 CPU nodes, it allows the user to predefine that, instead of waiting for the autoscaler (saves time / easier to reason about).

I don't think we need initial_workers, tbh not sure if initial_workers is that useful now that we have other APIs such as request_resources() , maybe we should remove that in the future.

[2020-09-16 00:20] austinmw opened #10816 "Best way to query large Pandas DataFrame"
#### Versions
Python 3.6, Ray 0.8.7

### What is your question?

What's the best way to query a large Pandas DataFrame with Ray?

[code]

I notice that if I pass the DataFrame as an argument, building the futures list takes a very long time (I assume because it has to pickle it).

If instead I query a global DataFrame, the futures list no longer takes a long time, but oddly if I change `df` and re

[2020-09-16 00:23] wuisawesome commented on #10816
I wrote a long stack overflow answer with more details, but the tldr is to do `df_ref = ray.put(df)` once and then do `parser.remote(df_ref, idx)` to pass the reference every time.

In the case of dataframes specifically, you may also consider using modin.

here's the stack overflow post for reference: https://stackoverflow.com/a/63769670/1906826

[2020-09-16 00:36] ericl commented on #10506
Hmm yeah, a magic number sounds good lol. I guess you still want the warning for normal placement group tasks, just not the ready task.

[2020-09-16 00:40] ericl opened #10817 "[autoscaler] Remove legacy autoscaling algorithm"
Remove the legacy autoscaling algorithm, it should be replaced by the new resource demand scheduler.  Specifically, we're only removing the upscaling path so there is only one algorithm managing upscaling instead of two. The downscaling is unchanged. This requires some more design. Some requirements:

1. backwards compatibility (e.g., the old options such as "target_util_fraction" shouldn't break)

[2020-09-16 00:40] austinmw commented on #10816
@wuisawesome Thanks so much, that worked great!

Quick question if you have the time, which feature(s) from modin would improve this? I'm not yet understanding how to make use of it to improve this task.

[2020-09-16 00:49] wuisawesome opened #10818 "Treat CPUs as abstract resources"
### Describe your feature request

The following code should work

[code]

The proposal is for the 2 calls to foo to happen concurrently here.

The current behavior is
1. We will error because `num_cpus` must be a whole number
2. Pretending this didn't error (i.e. we initialized with 2 cpus then used half of one), we would deterministically print 1 then 2 because the second task cannot be allocate

[2020-09-16 01:06] wuisawesome commented on #10816
The modin dataframe you interact with is already built with this idea in mind, so you could just call `parser.remote(df, idx)` with a modin dataframe and it would still be pretty fast. It would let you use regular pandas syntax though.

For example, you could've just done `df[list_of_idxs].apply(parser)` without annotating it as a remote function. If your task is this simple, it may not want to ad

[2020-09-16 01:22] ijrsvt commented on #4599
This has been fixed long ago

[2020-09-16 01:22] #4599 closed

[2020-09-16 01:37] ijrsvt commented on #7109
Closing as issue is most likely related to confusing behavior of ` ||`  syntax. This is **not a problem** as of #9515

[2020-09-16 01:37] #7109 closed

[2020-09-16 01:44] Glaucus-2G commented on #10804
Thank you for you help!

I have already created  `__init__.py` in the game/ directory. In fact, I have written empty  `__init__.py` in each subdirectory.
I have try `from ..game.GameManager import GameManager, planeNameMap` in `ucav.py`, and it reports like this:

[code]
I also try to use absolute paths such as `sys.path.append("/opt/conda/lib/python3.7/site-pacakges/gym/envs/code/game")` in `ucav

[2020-09-16 03:43] #10695 closed

[2020-09-16 03:55] #10235 closed

[2020-09-16 03:56] richardliaw commented on #10088
Addressed in documentation!

[2020-09-16 03:56] #10088 closed

[2020-09-16 03:57] richardliaw commented on #6227
@rherman9 this is actually now supported in master and will be GA in Ray 1.0.

[2020-09-16 03:57] #6227 closed

[2020-09-16 03:58] #9369 closed

[2020-09-16 03:59] richardliaw commented on #6348
fixed :)

[2020-09-16 03:59] #6348 closed

[2020-09-16 04:00] richardliaw commented on #6196
Yep, this is expected behavior to avoid cluttering application outputs.

[2020-09-16 04:00] #6196 closed

[2020-09-16 04:00] oliverhu commented on #10717
🙋  to help

[2020-09-16 04:01] richardliaw commented on #10076
Actually, this should be fixed on master! Feel free to reopen if not.

[2020-09-16 04:01] #10076 closed

[2020-09-16 06:02] rkooo567 commented on #10803
What OS are you using?

[2020-09-16 06:02] rkooo567 commented on #10803
cc @edoakes @ericl Do you guys think it is regression that the autoscaler terminates the cluster when dashboard is broken?

[2020-09-16 06:03] rkooo567 commented on #10786
cc @ijrsvt

[2020-09-16 06:04] rkooo567 opened #10824 "[New Dashboard] Turn it on by default."
### Describe your feature request

[2020-09-16 06:06] rkooo567 commented on #10739
Can you post a reproduction script? I can try to figure out why it happens in that case.

[2020-09-16 06:07] rkooo567 commented on #10714
cc @richardliaw

[2020-09-16 06:08] rkooo567 commented on #10697
This task is P0, but it doesn't have an owner. Should we downgrade it?

[2020-09-16 06:09] rkooo567 commented on #10675
cc @richardliaw

I don't think we have native autoscaler support for Docker Swarm. You should probably do manual cluster setup. https://docs.ray.io/en/latest/cluster/index.html#manual-ray-cluster-setup

[2020-09-16 06:09] wuisawesome commented on #10697
Only if you want documentation which refers to fields that don't exist in 1.0

[2020-09-16 06:11] rkooo567 commented on #10493
We'll try using it for event framework. We must need more discussion if we want to replace glog.

[2020-09-16 06:17] ericl commented on #10803
It's not great.

[2020-09-16 07:24] rkooo567 commented on #10697
I see my bad... Didn't read the description enough

[2020-09-16 07:34] romilbhardwaj commented on #10808
+1
There are some policy implementations [here](https://github.com/romilbhardwaj/ray/tree/dynamic-res-policies/test/dyn_res_policies), but they might be outdated. I can clean them and create a PR.

[2020-09-16 08:55] pinggao187 commented on #10793
@sumanthratna Thank you for your help, the problem has been solved.

[2020-09-16 12:52] #10793 closed

[2020-09-16 15:06] sumanthratna commented on #10804
Hmmm...do you also have an `__init__.py` in the `code/` directory? If you're writing a Python package, maybe write your appropriate `setup.py`, run `python -m pip install -e .`, and then import via `from code.game.GameManager import GameManager`.

I would also recommend you upgrade to Ray 0.8.7, which will let you do the following:
[code]
if you don't want to update, try the following:
[code]

sid

[2020-09-16 15:19] krfricke commented on #3466
The following code works in the latest master:

[code]

If there's still cases we don't consider, please open a new issue. Thanks!

[2020-09-16 15:22] krfricke commented on #3659
This has been addressed by #9803. Do we need to implement this for schedulers as well or can this be closed?

[2020-09-16 15:23] hartikainen commented on #3466
Nice, love it, thanks @krfricke!

[2020-09-16 15:31] krfricke commented on #4755
Solved via #10060

[2020-09-16 15:31] #4755 closed

[2020-09-16 15:47] krfricke commented on #5425
PBT works with reuse actors in the latest release. Feel free to re-open if there's something missing.

[2020-09-16 15:49] krfricke commented on #5501
There's been a number of new releases since this issue was originally filed. If the problem persists, please re-open with a usable replication script, and we will try to solve the problem.

[2020-09-16 15:49] #5501 closed

[2020-09-16 15:51] krfricke commented on #5560
The Keras callback got updated in #10509. If the issue persist, please re-open with a reproducible script, and we will try to solve the problem.

[2020-09-16 15:51] #5560 closed

[2020-09-16 15:52] gehring commented on #3466
@krfricke This issue was for nesting `grid_search` inside a lambda function (see above for some use cases). Is this now supported in master?

[2020-09-16 15:55] krfricke commented on #6417
With #10679 we now have a general utility to pass arbitrary objects via the Ray object store to tune trainables. If this does not solve your use-case, feel free to re-open.

[2020-09-16 15:55] #6417 closed

[2020-09-16 16:13] richardliaw commented on #5425
ah RLlib actually doesn't work out of the box with reuse_actors - I'll adjust the issue title.

[2020-09-16 16:24] krfricke commented on #6864
This has been fixed in our search space refactoring #10444.

[2020-09-16 16:24] #6864 closed

[2020-09-16 16:27] richardliaw commented on #3659
I think we can keep this open, there's still a couple search alg/schedulers to be done.

[2020-09-16 16:29] krfricke commented on #6927
Hi @hartikainen, with the [new wandb integration](https://docs.ray.io/en/master/tune/tutorials/tune-wandb.html) wandb logging should be fine. The trial names are inferred automatically, but the project is not and has to be set separately. Is this something you would still like to see?

[2020-09-16 16:34] krfricke commented on #7168
Hi @sherylwang, this is an old issue but I'll still answer it. Yes, the explore function is only called after exploiting. This makes sense because otherwise you would train two trials with the same parameters from the same checkpoint, and should get very similar results. Exploring after exploiting ensures that you end up with a different configuration to continue your training.

The rest of the pa

[2020-09-16 16:34] #7168 closed

[2020-09-16 16:35] krfricke commented on #7284
This should be fixed with #10283, where you can specify to run in synchronous mode. Feel free to re-open if you have more questions.

[2020-09-16 16:35] #7284 closed

[2020-09-16 16:37] krfricke commented on #7461
Since this issue is a bit dated, I'm closing it. If you still have problems running Tune, please open a new issue and provide a reproducible code example - that way we can better see if this is a problem on your side or in Tune. We're happy to help in either case.

[2020-09-16 16:37] #7461 closed

[2020-09-16 16:39] krfricke commented on #7783
Closing this due to inactivity. Please feel free to re-open if you have more questions.

[2020-09-16 16:39] #7783 closed

[2020-09-16 16:41] #10816 closed

[2020-09-16 16:47] krfricke commented on #3466
Ah, this looks a bit more complicated. I'll look into this again later. let me re-open this for now until I checked it.

[2020-09-16 17:05] FabianSchuetze opened #10828 "Conv_filter option doesn't seem to work with DDPG [rllib]"
### What is the problem?
The `conv_filter` option of `ddpg.DEFAULT_CONFIG` does not seem to be working.

Below, is a little example where I try to set up the a `DDPGTrainer` for a vision-based `Pendulum-v0` environment. The first three classes are basically taken from  [Rllib's Atari Wrappers](https://github.com/ray-project/ray/blob/master/rllib/env/atari_wrappers.py) to create an `Pendulum-v0` en

[2020-09-16 17:17] freol35241 commented on #9869
For me, the part of FastAPI I would like to see in ray is the pydantic models/schema validations and automatic API doc generation. It would be absolutely fantastic to get an automatically generated documentation with all endpoints included!

[2020-09-16 17:48] #10828 closed

[2020-09-16 19:07] javierabosch commented on #108
A tutorial on this would be great!

[2020-09-16 19:51] sven1977 opened #10832 "[RLlib] PPO PyTorch - Trainer config option `vf_share_layers` does not get passed into model config."
For PPO on PyTorch, the `vf_share_layers` config key is never passed into the Model's config, so it's value is always ignored. For Conv2D Models, this was only a minor issue before 0.8.7 as our PyTorch Conv2D stack did not support a separate value branch anyways.

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a scri

[2020-09-16 20:11] #10832 closed

[2020-09-16 20:13] sven1977 opened #10833 "[RLlib] Revert dependency on `ray.get_gpu_ids()` (not None) to place TorchPolicy on GPU."
Revert dependency on `ray.get_gpu_ids()` (not None) to place TorchPolicy on GPU (should only check torch.cuda.is_available() for now).

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock da

[2020-09-16 20:19] edoakes commented on #10803
Yeah, don't know if this is a regression, but we should definitely support running w/o the dashboard

[2020-09-16 20:23] JoshBroomberg commented on #8432
bump on this. We need to load ray inside a juypter server deploy on a subroute. We can do this using jupyter server proxying but the ray app is broken without the ability to add a base path

[2020-09-16 20:47] richardliaw commented on #8432
cc @mfitton can you look into this?

[2020-09-16 21:26] ericl opened #10836 "[autoscaler] Stabilize and document request_resources() API"
Currently, the request resources API which forces scale-up is buried and not documented.

[2020-09-16 21:27] ericl opened #10837 "[autoscaler] Expose stable public API, move internals to _private package"
Expose stable public API for scripts.py, tags.py, node_provider.py, move all other interfaces to private. We might have to also expose some more internal interfaces as needed.

A number of users are currently using unstable internal APIs of the autoscaler. Currently, the only stable public interface is the YAML file and node_provider. We should make this more explicit so platforms can build on the

[2020-09-16 22:05] josjo80 commented on #9963
How will our Tuesday, Anyscale Academy, tickets be associated with our accounts?  I signed up for the education sessions before creating my account.
Thanks.

[2020-09-16 22:31] AmeerHajAli opened #10838 "Private/onprem clusters always need explicit ssh_private_key in docker"
When starting private clusters without docker, it is not necessary to provide the ssh_private_key as the user has authorized access to the nodes. But when adding docker, the head node process inside the container does not have privileges to ssh to the other nodes and hence needs the ssh_private_key to be provided explicitly.

I think it is fine to leave it as is but just wanted to bring it up.

[2020-09-16 22:32] mi-lad opened #10839 "[tune] How to test if I'm running inside a tune session?"
Is there an API to test if I'm running inside a tune session? I'd like to conditionally call `tune.report()` in my code.

There are functions like `get_trial_dir`, `get_trial_name`, `get_trial_id`, that internally call `get_session()`. I guess I could use one of them see if they return `None` or not. But they also log a warning when they can't find a session which is not ideal.

[2020-09-16 22:42] mi-lad commented on #10839
Something like below works but I hope there's an official API for this?

[code]

[2020-09-16 22:44] richardliaw commented on #10839
Hey @mi-lad just pushed a fix in #10840 does that work for you?

[2020-09-16 22:45] richardliaw commented on #10839
Thanks a bunch for opening this issue BTW!

[2020-09-16 22:51] mi-lad commented on #10839
Thanks for the quick reply @richardliaw . Left some comments in #10840 .

[2020-09-16 22:56] sumanthratna opened #10841 "version flyout menu is hidden by table of contents rightbar in docs"
### What is the problem?

1. go to a doc page with many entries in the table of contents
2. click the version flyout menu in the bottom right corner

only on master, due to the theme change

screen share: https://gofile.io/d/hBMQtz (.mov, <10 s)

I haven't tried fixing this yet; it might be as simple as raising the version menu's z-index, or we might need to move the version menu back to the botto

[2020-09-16 23:04] rkooo567 commented on #10841
cc @richardliaw

[2020-09-16 23:05] kocic11 opened #10842 "ray.exceptions.RayTimeoutError: There was timeout in registering an actor. It is probably because GCS server is dead or there's a high load there."
### What is the problem?
Running multiple processes in parallel connected to the same ray cluster fails with the same error when trying to create an actor.
[code]
*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray 0.8.7
Python 3.7.7
Linux RH 7

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **

[2020-09-16 23:08] rkooo567 commented on #10842
cc @ericl I could reproduce this error. I will try to troubleshoot by today and decide if it is release blocker.

[2020-09-16 23:08] richardliaw commented on #10841
Yeah I just ran into this...

cc @simon-mo

[2020-09-16 23:12] simon-mo commented on #10841
Actually, @sumanthratna would you mind open a PR to push a quick fix? You can edit our custom css file here https://github.com/ray-project/ray/blob/master/doc/source/_static/css/custom.css

[2020-09-16 23:13] ericl commented on #10842
I think the issue is multiprocessing, that's not allowed to be used with ray. You might try ray.util.multiprocessing instead

[2020-09-16 23:13] richardliaw commented on #10841
I just did it

[2020-09-16 23:18] richardliaw commented on #10841
<img width="601" alt="Screen Shot 2020-09-16 at 4 18 13 PM" src="https://user-images.githubusercontent.com/4529381/93401908-39cfd400-f838-11ea-9e37-8ec504dcba6f.png">
seems to work with zindex-1200, though not sure if that's the right fix. See #10843

[2020-09-16 23:49] acdifran commented on #10739
@rkooo567 After some more digging around, I was able to find the code in my project that is causing this and create a simple example to show what's going on. The issue seems to stem from directly putting and getting objects. Here is a code sample that produces the error I was seeing:

[code]

When I run this on a machine with 1 gpu, the first 4 tasks to start will use up all the gpu resources and

[2020-09-17 00:13] #10542 closed

[2020-09-17 00:16] #10841 closed

[2020-09-17 00:21] ericl commented on #9808
@rkooo567 shall we prioritize this for next week? Either you or I can do it.

[2020-09-17 01:18] ijrsvt opened #10846 "Add testing to `commands.py`/`NodeUpdaterThread` level"
### What is the problem?
There is testing for `command_runners` and for the `StandardAutoscaler` and for the cluster launcher CLI (primarily in the form of user output validation). **We should have explicit integration tests from commands.py or CLI for interactions with the node provider**

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQU

[2020-09-17 01:19] richardliaw commented on #10846
Isn't there `test_cli.py`? :)

[2020-09-17 01:19] richardliaw commented on #10846
It hits boto mocks and goes through commands.py.

[2020-09-17 01:27] ijrsvt commented on #10838
If the key is available on the host at `/path/to/key/key` a quick fix would be to add a docker file mount to `docker::run_options` such as
[code]

[2020-09-17 01:34] ijrsvt commented on #10846
I mean we could use `test_cli`, but I would rather keep more "what the user sees" CLI tests separate from testing state changes enacted by the autoscaler (how does it manipulate the cluster).

[2020-09-17 01:35] kocic11 commented on #10842
Can you elaborate a bit, what exactly is not allowed? It seems to me that I am creating 5 clients which should be a pretty common case.

[2020-09-17 01:41] richardliaw commented on #10846
Right - could you adjust the issue description then? "testing cluster launching from the CLI" is already satisfied by existing tests; maybe change it to "We should have explicit integration tests from commands.py or CLI for interactions with the node provider"

[2020-09-17 01:47] ijrsvt commented on #10846
@richardliaw  that sounds _great!!!_, Thanks for the help 💯!!

[2020-09-17 01:55] #10839 closed

[2020-09-17 02:57] ashione commented on #10493
@rkooo567 I'll create a PR for making log tool configurable firstly and use glog by default. How about that?

[2020-09-17 04:02] #10809 closed

[2020-09-17 05:55] rkooo567 opened #10850 "Implement "Infeasible" state of bundles."
### Describe your feature request
Bundles currently don't have "infeasible" states, and they are tried to be scheduled every 200ms unnecessarily. We should create an "infeasible" state of bundles so that placement group with infeasible state of bundles are not scheduled until resources are ready.

[2020-09-17 05:55] rkooo567 commented on #9808
I can definitely do that. Let me know if you don't have bandwidth next week!

[2020-09-17 06:35] rkooo567 commented on #10842
Forking Ray drivers (script with ray.init) is not allowed (I assumes it somehow corrupts states of our drivers). Consider using `ray.util.multiprocessing` or just run 5 drivers instead.

[2020-09-17 06:41] ericl commented on #10846
Yep, note that you can follow the pattern for testGetOrCreateMultiNodeType https://github.com/ray-project/ray/blob/master/python/ray/tests/test_resource_demand_scheduler.py#L238

(this is the *one* unit test that tests commands.py)

[2020-09-17 06:42] ericl commented on #10810
Hmm I think this is a bug we'd have to fix. Probably the tensor is defined as int32 somewhere? cc @sven1977

[2020-09-17 07:42] noprohuangqi opened #10852 "[tune] ObjectStoreFullError:Failed to put object into object store"
#10792 # What is the problem?
ObjectStoreFullError:Failed to put object into object store

*Ray version and other system information (Python version, TensorFlow version, OS):*
Ray:0.8.6
Ubuntu:18.04
python:3.7

### Reproduction (REQUIRED)
Sorry , my script has so many dependencies.But the bug is easy to describe.
When I try to use PBT to train my models , I found the 8 trails occupy more and more

[2020-09-17 08:48] Yard1 opened #10854 "[tune] New feature: callback support for Tune"
### Describe your feature request

Callbacks are a very useful addition to tuning libraries, allowing to eg. measure progress of long tuning processes. Adding the possibility to use them in Ray Tune, with, for example:

[code]

would be very helpful and bring it in line with other hyperparameter tuning libraries like Optuna.

[2020-09-17 08:48] Yard1 commented on #10854
@richardliaw

[2020-09-17 09:26] WangTaoTheTonic commented on #10355
[ ] enhence robust of test cases
[ ] handle special case of resource turning empty
[ ] handle cluster resource view in gcs node manager
[ ] add light_heartbeat_enalbed flag in python
[ ] handle resource update in monitor.py
[ ] add get all heartbeat interface and use in state.py instead of broadcast

[2020-09-17 09:59] janblumenkamp commented on #10002
I am also very interested in a Multi-GPU PyTorch version of PPO! What are the challenges? Is it busy-work or are there some other issues that need to be solved first?

[2020-09-17 11:24] mi-lad commented on #9571
The documentation is clear about this in case of class-based API but I think if you're using functional API the directory still changes to what you'd pass `local_dir` in `tune.run`. It'd be good if this was also made clear in the documentation.

[2020-09-17 11:28] mi-lad commented on #9571
Perhaps each tune process could at least define an environment variable set to original path on that node. That way I can safely convert my relative paths to absolute ones when running in a tune session.

[2020-09-17 13:23] raoul-khour-ts commented on #10574
@rkooo567 and I have isolated the issue to being an issue with private networks. My machine can not ping out to 8.8.8.8 which makes the GCS configuration fail.

[2020-09-17 14:56] miguel-angel-monjas commented on #9546
Same comment with pretty similar code:

[code]

[2020-09-17 15:28] danlg opened #10858 "[Plasma] Improve plasma documentation on distributed storage"
### What is your question?

From the documentation https://arrow.apache.org/blog/2017/08/08/plasma-in-memory-object-store/ and https://arrow.apache.org/docs/python/plasma.html#starting-the-plasma-store

it is not clear if Plasma storage is distributed on several nodes or not.

I assumed in the example /tmp/plasma if a local FS not an NFS  mounted on several hosts.

Please advise.

[2020-09-17 15:31] sumanthratna opened #10859 "link to master version of docs in outputs"
### Describe your feature request

we often output links to the documentation. sometimes, we link to the latest version but other times, we link to master. e.g.:
https://github.com/ray-project/ray/blob/89da3f9ba7f68c16e7467dc545ed5c9510670400/python/ray/scripts/scripts.py#L1491
https://github.com/ray-project/ray/blob/89da3f9ba7f68c16e7467dc545ed5c9510670400/python/ray/util/joblib/__init__.py#L12

[2020-09-17 15:55] richardliaw commented on #10854
cc @ray-project/ray-tune

[2020-09-17 16:03] richardliaw commented on #10859
Linking to master sounds good.

[2020-09-17 17:19] junliangyu96 commented on #10491
Hi

The problem is still not solved yet

if I run this
@ray.remote(num_gpus=0.1)
def use_gpu():
    print("ray.get_gpu_ids(): {}".format(ray.get_gpu_ids()))
    print("CUDA_VISIBLE_DEVICES: {}".format(os.environ["CUDA_VISIBLE_DEVICES"]))
    print(torch.cuda.is_available())

the output would be
(pid=244822) ray.get_gpu_ids(): [0]
(pid=244822) CUDA_VISIBLE_DEVICES: 0
(pid=244822) False

the result

[2020-09-17 17:30] richardliaw commented on #10491
Sorry about that. Can you try `ray.init()` instead of `ray.init(num_cpus=32, num_gpus=1)`?

`num_gpus` and `num_cpus` are generally used for override purposes.

[2020-09-17 17:56] richardliaw commented on #10491
The main script to run is:

[code]

[2020-09-17 18:01] rkooo567 commented on #10858
Yes. We should definitely improve documentation about this.

About your question, here are answers.
- Is it distributed? Yes. It is distributed at each node (each plasma store is a part of raylet), and they don't use NFS. Objects are pulled and pushed to different nodes upon needs (I believe through RPC).

Plasma store is built to support zero-copy read. It stores objects in shared memory and use

[2020-09-17 18:01] sven1977 commented on #10810
Yeah, could be one of the timestep tensors used mainly for exploration that overflows. Taking a look. ...

[2020-09-17 18:06] #10833 closed

[2020-09-17 18:14] ptyshevs opened #10862 "What are the auto-filled metrics in step() output? [tune]"
### What is your question?

Reading through the user-guide, I've stumbled upon section about `stop` argument of `tune.run`:
https://docs.ray.io/en/latest/tune/user-guide.html#stopping-trials

There is the following code sample:
[code]
Where can I find the extensive list of what metrics were auto-filled by Tune?

*Ray version and other system information (Python version, TensorFlow version, OS):*
R

[2020-09-17 18:15] rkooo567 commented on #10739
Btw, you should also specify `num_gpus=1` in ray.init.

[2020-09-17 18:17] rkooo567 opened #10863 "[Dashboard] Add loading bar in memory view."
### Describe your feature request
It takes some time to load memory view page. In this case, it was confusing me if the memory view was
1. loading the table
2. or just empty.

To avoid this, I think it'll be great to have a rotating wheel or something while it is loading.

[2020-09-17 18:18] rkooo567 commented on #10739
I couldn't reproduce this in the nightly with this script.

[code]

[2020-09-17 18:27] richardliaw commented on #10862
Hmm we have them here:

https://docs.ray.io/en/master/tune/tutorials/overview.html#what-are-all-these-extra-outputs

But let me know where we should move this!

[2020-09-17 18:36] ericl commented on #10814
@AmeerHajAli this should be a nice starter task you might want to look at before https://github.com/ray-project/ray/issues/9800 cc @wuisawesome

[2020-09-17 18:56] mfitton commented on #8432
Yep, I'll take a look, thanks for bringing it to my attention

[2020-09-17 18:57] ptyshevs commented on #10862
@richardliaw
It appear that there are two version of docs:
* Built with sphinx: https://docs.ray.io/en/latest/tune/user-guide.html#stopping-trials
* This new fancy one: https://docs.ray.io/en/master/tune/tutorials/overview.html#what-are-all-these-extra-outputs

The problem is that only the first one is indexed in Google, so I've never actually seen the one you've sent.
Moreover, I'm working with t

[2020-09-17 19:03] kocic11 commented on #10842
Thanks,

How do I run 5 drivers?

[2020-09-17 19:08] ptyshevs commented on #10862
There is also a small problem. according to the doc mentioned in the issue we have `training_iteration` auto-filled, but I don't see this specific name in https://docs.ray.io/en/master/tune/tutorials/overview.html#what-are-all-these-extra-outputs.

Whom should I trust?

[2020-09-17 19:10] ksanjeevan commented on #10290
Ok so I finally found how to do this cleanly. Here is a toy example in case anyone else runs into this:

[code]
So I found the key is to set `checkpoint_freq=0` and manually keep track of the best metric in a trial as well as trigger a `should_checkpoint=True` if it's improved. Together with ` keep_checkpoints_num=1` only the best model in a trial is stored and it made the output size way more eff

[2020-09-17 19:53] acdifran commented on #10739
@rkooo567 The above code snippet that you tried is the one that works by using the nested call. The code that fails is in the first block I posted. I've edited that comment to make that more clear. I also tested to make sure the same issues occurs on the nightly build. Just to reiterate, here is the code that causes the issue:

[code]

This causes my gpu resources to be held up as I described in m

[2020-09-17 20:11] richardliaw commented on #10862
Hmm I think it is there -

   -

   training_iteration: The number of times tune.report() has been called

I think on your version of the docs you will see the same here
https://docs.ray.io/en/latest/tune/api_docs/trainable.html#ray.tune.Trainable.train

FYI the new docs are maybe “too new” (not reflected on the pip release) -
so maybe don’t use them yet ;)

The next release should be next week. H

[2020-09-17 20:23] junliangyu96 commented on #10491
thanks I think It can run now.

but
RuntimeError: CUDA out of memory. Tried to allocate 196.00 MiB (GPU 0; 10.76 GiB total capacity; 962.18 MiB already allocated; 175.69 MiB free; 1012.00 MiB reserved in total by PyTorch)

If I don't use ray I will not get this message

[2020-09-17 20:30] richardliaw commented on #10491
@junliangyu96 what was the fix?

Also cc @mfitton re: cuda out of memory

[2020-09-17 20:32] amogkam commented on #10862
Auto filled metrics are also listed here on latest docs: https://docs.ray.io/en/latest/tune/user-guide.html#reporting-metrics.

And on master: https://docs.ray.io/en/master/tune/user-guide.html#reporting-metrics

[2020-09-17 20:38] junliangyu96 commented on #10491
I used ray.init(). Now the error becomes cuda out of memory

now I try to pass my model into the function

@ray.remote(num_gpus=1)
def use_gpu1(tagger):
    print("ray.get_gpu_ids(): {}".format(ray.get_gpu_ids()))
    print("CUDA_VISIBLE_DEVICES: {}".format(os.environ["CUDA_VISIBLE_DEVICES"]))
    print(torch.cuda.is_available())

Then I got this error message with no output of printing.

I also t

[2020-09-17 20:43] junliangyu96 commented on #10491
And if I put the model on cpu, It is easy to use up all memory. Is it because the model is copied to every worker?

But if I put it to shared memory, then they original function doesn't work.

---> 59     tagger.eval()
     60
     61

AttributeError: 'ray._raylet.ObjectID' object has no attribute 'eval'

[2020-09-17 20:47] ptyshevs commented on #10862
@richardliaw you're totally right, I probably need to get some sleep. I'm looking forward to the release.

[2020-09-17 20:47] #10862 closed

[2020-09-17 21:43] aalbinati commented on #8194
It appears to be an issue with action normalization support. It is now only supported for Gym environments.

Try setting normalize_actions to False in the config. Next step is to normalize the actions yourself to keep them in between the real action bounds. I am doing this by setting the action space bounds as [-inf,inf] and applying my own normalization inside the environment step.

Hope this hel

[2020-09-17 21:59] rkooo567 commented on #10842
Just run scripts 5 times, or you can use `subprocess` module in one of your scripts.

[2020-09-17 22:24] rkooo567 opened #10867 "[Doc] Write a lifecycle documentation of cluster launcher config."
### Describe your feature request
Example: https://docs.travis-ci.com/user/job-lifecycle/

It is really confusing exactly when "setup_commands", "head_start_ray_commands", or things like that are called when clusters are launched. It'll be great if we can have a doc with a diagram to explain this.

[2020-09-17 23:12] ericl opened #10868 "[autoscaler] Crash with custom node types"
[code]

I think this happens if you don't specify autodetected resources in the YAML. cc @wuisawesome

[2020-09-17 23:22] ericl opened #10869 "[autoscaler] Inconsistent reporting of worker node types"
On master, it seems I have a cluster with a cpu_4_ondemand head node and cpu_64_ondemand worker (68 CPUs in total), but somehow the debug string is reporting 2 workers of cpu_64_ondemand (which is wrong, since there is only 1 worker node, and the head node is cpu_4_ondemand).

YAML: https://gist.github.com/ericl/f9c32b8bbbe4e1aed43899832730f70d (switching the Ray version to latest wheel)

[code]

[2020-09-17 23:23] ericl commented on #10868
This seems to be fixed in master (will be in next rc1 for 1.0)

[2020-09-17 23:24] wuisawesome commented on #10869
this is a bug in the debug string right? or are you noticing the wrong number of instances?

[2020-09-17 23:32] mil-ad opened #10870 "Does tune.checkpoint_dir() have to be used a context?"
All the examples of `tune.checkpoint_dir()` use it as a context manager. As far as I can tell it returns `str` so is there anything special happening in `__exit__` (or the equivalent of exit in `@contextmanager`)? Do I _have to_ use it with `with`?

[2020-09-17 23:34] wuisawesome commented on #10868
Somewhat concerned that maybe this wasn't picked in the 1.0 branch?

@barakmich when were the last commits for rc0 picked?

@ericl i'll reopen this and mark as needs-repro until we verify that there is no bug in the wheel

[2020-09-17 23:34] ericl commented on #10869
[code]

Here's some more inconsistency, with the node counts dict reporting 4 nodes instead of 2.

I'm not sure if this is impacting autoscaling, but it seems likely if the node counts dict is reused for scheduling.

[2020-09-17 23:38] richardliaw commented on #10870
You could hypothetically just call with:

[code]

[2020-09-17 23:49] mi-lad commented on #10870
I'm assuming this is needed because `__exit__` calls `set_checkpoint()` for the session.

I think the documentation should make it clear that using `tune.checkpoint_dir(step)` without `with` is not ok.

[2020-09-17 23:52] ericl commented on #10868
It seems to me this fixes it https://github.com/ray-project/ray/pull/10728/files fixes it (which is picked).

[2020-09-17 23:57] wuisawesome commented on #10869
ok i can reproduce the logging issue, doesn't seem to impact autoscaling behavior

[2020-09-17 23:58] wuisawesome commented on #10868
i would've thought that made it into rc0 though...

[2020-09-18 00:06] ericl opened #10872 "[autoscaler] resource_demand_scheduler should take into account queue of tasks"
Currently when scheduling tasks (not actors), the core worker will internally queue requests for the same type of resource. This means that, suppose it has queued 100 tasks of num_cpus=1, the autoscaler will only "see" a single task request of num_cpus=1. Hence, it cannot know to upscale more aggressively.

We should convey this information to the autoscaler to improve scheduling. At the same time

[2020-09-18 00:17] ericl commented on #10869
IIUC now the conclusion is it does impact the behavior, right?

[2020-09-18 00:22] ericl commented on #10872
fyi @AmeerHajAli

[2020-09-18 00:25] ericl opened #10873 "[autoscaler] Automatically detect CPU, GPU, accelerator_type, memory resources of known instance types"
Currently to use custom node types, you have to manually hard code the resources provided by each node types in the YAML. We can keep a table of known resources types and autodetect this to avoid this.

[2020-09-18 00:34] richardliaw commented on #10870
Yeah, that sounds good. Would you be willing to push a quick fix? Let me know!

[2020-09-18 00:38] wuisawesome commented on #10869
Yeah this will impact behavior if we need to instances of a type that is already up

[2020-09-18 00:46] wuisawesome commented on #10873
What would an example of this table look like for GCP?

[2020-09-18 00:59] oroojlooy opened #10875 "ModuleNotFoundError: No module named 'ray.tune'; 'ray' is not a package"
### What is the problem?
I get `ModuleNotFoundError: No module named 'ray.tune'; 'ray' is not a package` error once import `ray`.

[code]

*Ray version and other system information (Python version, TensorFlow version, OS):*
I have ray `0.8.7`, pytorch 1.3, and tensorflow 1.13.1, installed on Anaconda python `3.6.8`, and the OS is Red Hat 7.8.

### Reproduction (REQUIRED)
Please provide a script th

[2020-09-18 01:06] amogkam commented on #10875
It looks like it's trying to import `ray.tune` from your `ray.py` file and not the ray library. I think if you rename your file it should work.

[2020-09-18 01:14] oroojlooy commented on #10875
It solved the issue!
Thanks.!

[2020-09-18 01:14] #10875 closed

[2020-09-18 01:15] kocic11 commented on #10842
Thanks,

Are there any issues using multithreading? The script above works just fine with Thread instead of Process.

[2020-09-18 01:46] Glaucus-2G commented on #10804
I create an `__init__.py` in `code/` directory and add absolute paths to some files. Luckily, it works.

Although there are still problems (as show below)，I think I'm close to success. The biggest possibility of this problem is that the format of my path is not standard.

I didn't use Ray 0.8.7 before because it would output a lot of such information:
[code]
However, after I follow your site note,

[2020-09-18 02:36] sumanthratna commented on #10804
hmmm—so when you switched from the lambda to just passing in the class, it worked? that's strange. I added that side note without looking at any of gym's documentation; I assumed the lambda and class were equivalent.

In any case, I think your script works, so I'm closing this issue. Feel free to ask for a reopen if the issue hasn't really been solved.

of course; I hope I helped :)

[2020-09-18 02:39] sumanthratna commented on #10804
oh I think I misunderstood your comment. your script still doesn't work, but the TF warnings disappear after using a class instead of a lambda?

can you send your `../integrator/configs/planes.config`?

reopening, but this might be better suited for a support ticket in gym

[2020-09-18 06:12] sven1977 opened #10878 "[RLlib Trajectory View API] Research sample collection strategies: Central buffer vs appending to lists."
Find out whether the current approach is faster/slower than the alternative central-np-buffer approach:
- current: Appending to lists within an episode; builders are attached to an episode object and handle collection of data for n policies and m agents.
- alternative: see SampleCollector class and its implementation in MultiAgentSampleCollector and PerPolicySampleCollector (uses central buffer)

[2020-09-18 06:15] sven1977 opened #10879 "[RLlib Trajectory View API] Implement best sample collection strategy (given already collected experience with both approaches)."
- Either refine the already existing list-append strategy
  -- Add "shift"-spaces to the ends of the list to allow for not having to store new_obs, state_out, prev_actions, etc...
  -- Make sure samples are collected already in time-major fashion to speed up RNNs (10-20% speedup potential)
- Or: Finish PerPolicySampleCollector logic.

[2020-09-18 06:27] sven1977 opened #10880 "[RLlib Trajectory View API] Trajectory View API is switched on by default for all PG algos (no matter the model used; LSTM-agnostic approach)."
Switch on the Trajectory View API by default for all PG algos, no matter the model used.

[2020-09-18 06:29] sven1977 opened #10881 "[RLlib Trajectory View API] Trajectory View API is switched on by default for all algos."
The Trajectory View API is switched on by default for all RLlib algos.

[2020-09-18 06:33] sven1977 opened #10882 "[RLlib Trajectory View API] Trajectory View API can replace frame-stacking setup in Models (e.g. Atari)."
The Trajectory View API is able to replace the need for the frame-stacking option in the models through the `shift` parameter in the `ViewRequirement` objects, e.g.:
[code]

[2020-09-18 06:36] sven1977 opened #10883 "[RLlib Trajectory View API] Trajectory View API works with our Attention Nets."
The Trajectory View API works with our Attention Nets.
- This may involve enhancements on the attention networks itself (try to cache previous inputs (older observations) and successive computations on these for better performance).

[2020-09-18 06:38] sven1977 opened #10884 "[RLlib Trajectory View API] Trajectory View API allows easy multi-agent communication channel setup."
Multi-agent communication channels (shared models) can be easily setup through the Trajectory View API.
This will require the current ViewRequirement class to be enhanced to allow for cross-agent/cross-policy referencing (i.e. one agent can see some other agents' observations for its forward pass and loss calculations).

[2020-09-18 06:59] karstenddwx commented on #10805
Hi Eric, thanks for looking into this.

I'm a bit confused.
What about using all negative values for the allowed reward value range (e.g. -1.0.....0.0) being 0.0 the best achievable reward? Also with positive reward value range, 0.0 is just one reward value (minimum) of the possible range?

We are not using a mix of negative and positive value (e.g. -1.0.....0.0.....1.0), because the environment i

[2020-09-18 09:05] Jspujol opened #10887 "Assign different number of actors to different machines"
Dear Ray community,

I want to use Ray in a small computer cluster that I built, which consists of a powerful CPU machine, 80 cores, and another machine with 20 CPU cores and GPU, both connected in the same LAN network. Basically I am trying to run a deep RL solution on a heavy CPU demanding environment, so I would like to deploy 80 actors (which will gather the state from the environment and quer

[2020-09-18 09:13] abhayraw1 commented on #9166
I'm still getting this issue. Following the snippet posted by @mehrdadn `ray.resource_spec._autodetect_num_gpus()` returns `1` but `ray.get_gpu_ids()` still returns an empty list `[]`.

![Screenshot 2020-09-18 144156](https://user-images.githubusercontent.com/14311538/93580242-239f5080-f9bd-11ea-9ff6-eebd466f079c.jpg)

ray version: 0.9.0.dev0
OS: Windows 10

[2020-09-18 09:24] mehrdadn commented on #9166
@wuisawesome Might this be due to [`_get_gpu_info_string` not handling Windows](/ray-project/ray/commit/ea1ac15da01408c1a9cce4f5fa27a371ffafc9d7#diff-cad2260ab29de72a74d561c7721080f2R303)?

[2020-09-18 09:57] Glaucus-2G commented on #10804
Yes, in Ray 0.8.7,  the TF warnings disappear after using a class instead of a lambda.

Part of the code in `../integrator/configs/planes.config`  is as follows:

[code]

Today I see some codes of more complex environments which are registered in gym. And I find that my code path obviously doesn't meet the specification of gym.  So I think that there is a long way to go that migrate code from a si

[2020-09-18 11:07] FabianSchuetze opened #10889 "Does DDPG work on a cuda device with torch?[rllib]"
I receive several placement device errors when I try to train a model `DDPG` with the `torch` framework.

I installed the latest nighty build (ray-0.9.0.dev0-cp38-cp38-manylinux1_x86_64) and also merged the changes described in  #9683 . The config I used to instantiate the model is:

[code]
However, already model in the first lines in the `ddpg_actor_critic_loss`function
https://github.com/ray-pro

[2020-09-18 11:59] noprohuangqi opened #10890 "[tune] More and more LOCAL_REFERENCE when PBT train."
### What is your question?

When I use PBT for train my models, I use 'ray memory' and find more and more LOCAL_REFERENCE occur. And finally raise error : ObjectStoreFullError.
#### So my question is when PBT runs , whether is retain all object and never delete.For example I have 8 trails and 10 iters , is it save all 80 models as object?

And when I use 'reuse_actors=True', I find every 8 subproc

[2020-09-18 13:53] sumanthratna commented on #10841
looks like the issue hasn't been resolved but the [custom CSS](https://docs.ray.io/en/master/_static/css/custom.css) file has been updated. `!important` will probably do the job but hopefully, there's a better solution. regardless, I'm pushing a PR with the important rule as a hotfix

[2020-09-18 14:57] krfricke commented on #4538
Hi @Nithanaroy, I know it's been over 1.5 years, sorry for the large delay. You probably solved this issue by now or moved on.

For anyone finding this issue, the main thing I'd be looking at would be if you are using the same evaluation data/dataset as during training. If this is a test dataset and tensorboard reports accuracy on the validation dataset, differences are to be expected.

I'm closin

[2020-09-18 14:57] #4538 closed

[2020-09-18 15:52] amogkam commented on #10890
Hi @noprohuangqi, I don't think the very high memory usage is expected. Would you be able to share what your `tune.run` call looks like as well as the code for your `Trainable`? Also would be great if you could share a screenshot of what `ray memory` looks like.

[2020-09-18 16:01] noprohuangqi commented on #10890
Thanks for your quickly reply.
This is my 'ray memory' shows(first page of 2 pages)
![image](https://user-images.githubusercontent.com/35948614/93618814-5cb1e200-fa0a-11ea-82b2-1afa9d4d9409.png)

  This is my tune.run:
 `    analysis = run(RayDemo,
               name="ray_demo",
               checkpoint_at_end = True,
               reuse_actors=False,
               checkpoint_score_attr="bbox_

[2020-09-18 16:04] rkooo567 commented on #10890
@amogkam There's actually memory leak issue reported by me for pbt https://github.com/ray-project/ray/issues/9921

[2020-09-18 16:09] amogkam commented on #10890
Thanks @noprohuangqi. Another quick thing to try is upgrading to the latest [nightly wheel](https://docs.ray.io/en/latest/installation.html) and see if you are still getting the same issue. If you are, then I can investigate this further.

[2020-09-18 16:14] noprohuangqi commented on #10890
Ok. I will try the latest version as soon as posible. And other thing about this bug is when I use `reuse_actor=True`, the process  'Ray::xxx' will increase memory useage with epoch increase ; but when I use `reuse_actor=False`, the process 'Ray::xxx' will have a low and stable memory useage,but the initial process 'python start_pbt.py' will have a high memory useage.

[2020-09-18 16:31] noprohuangqi commented on #10890
Thanks for your attention.
But I do not think we are in the same bug .My failt is the more and more object, I do not know how to free those reference.

[2020-09-18 16:44] Yard1 opened #10895 "[core] Can the MemoryManager consider swap memory?"
Ray is a great tool and especially useful due to its ability to develop locally. However, the MemoryManager will kill Ray if physical memory is full, disregarding swap memory.

If Ray could consider swap, it would help me avoid OOM issues on less beefy PCs, which seriously speeds up my testing and development cycle.

I took a look at the feasibility of this, and turns out that the change simply am

[2020-09-18 16:45] noprohuangqi commented on #10890
@amogkam
I update the ray verison to 0.9.0, but  the question occurs again.

And `ray memory` shows:
![image](https://user-images.githubusercontent.com/35948614/93623244-fbd9d800-fa10-11ea-827a-d18ea16681de.png)

[2020-09-18 16:59] rhamnett commented on #10809
Fix confirmed for my configuration

[2020-09-18 17:08] richardliaw commented on #10895
cc @rkooo567 @ericl @wuisawesome  thoughts?

[2020-09-18 17:48] noprohuangqi commented on #10890
@amogkam

Hello, this is my simplfy script to describe what quesiton I meet.
After run this file, I find `ray memory` shows Hundreds of  Reference。

[code]
    pbt = PopulationBasedTraining(
        time_attr="training_iteration",
        metric="bbox_mAP_50",
        mode="max",
        perturbation_interval=1,
        hyperparam_mutations={
            "lr":[0,1],},
        quantile_fraction=0.5

[2020-09-18 18:17] ericl commented on #10895
If you're talking about the memory_monitor.py, you can disable this by setting RAY_DEBUG_DISABLE_MEMORY_MONITOR=1 to prevent early failing jobs entirely.

The reason we don't want to take into account swap is that for many systems hitting swap basically means your system becomes inoperable. If that happens a strange error (e.g., socket closed) will be raised, and the user won't realize the real er

[2020-09-18 18:47] Yard1 commented on #10895
That is the reason for keeping the parameter False by default. I believe that giving choice to informed users would certainly not hurt, especially given the ease of implementation and maintenance.

[2020-09-18 19:12] richardliaw commented on #10895
Hmm sounds like `RAY_DEBUG_DISABLE_MEMORY_MONITOR=1` should basically do the same thing right?

[2020-09-18 19:13] Yard1 commented on #10895
It would, though it would be convenient to have the ability to set it from script, and to have the correct memory usage logged.

[2020-09-18 19:18] richardliaw commented on #10890
Can you try again with `pip install -U ray==1.0.0rc0`?

[2020-09-18 19:22] richardliaw commented on #10895
Got it; I think you can do `os.environ["RAY_DEBUG_DISABLE_MEMORY_MONITOR"]="1"` for the same effect.

Question @Yard1 , is there a place where the memory usage gets logged?

[2020-09-18 19:46] ghost opened #10899 "Cannot call remote instance method of a superclass from within a different instance method of the superclass"
#10792
I want to call an instance method of the superclass (Class A) from within a different instance method of the superclass, and want the actor subclass (B, B2, or B3) to inherit both of these methods properly. All three variations of this that I have tried to implement throw the same error:

*Ray 0.8.6
Python 3.7.0
Windows 10*
[code]

I get the following error:

[code]

Ideally, I would like t

[2020-09-18 20:39] #10869 closed

[2020-09-18 21:16] Yard1 commented on #10895
I'm not logging things just yet, but I am planning to in the future when I move to the next stage of the project. I would like to have accurate memory usage statistics, but if I just set the env variable then I will have none (unless I am mistaken).

[2020-09-18 21:34] juliusfrost commented on #9961
@ericl I provided a new reproduction script. I still get memory leaks with both cpu and gpu

[2020-09-18 22:02] ericl commented on #9961
Hey @juliusfrost I'm happy to look at this, but can you trim it down so the repro script is self-contained as the bug template specifies? This means (1) one script that runs, with (2) no library dependencies. It's fine to have some data files since that's required in this case.

[2020-09-18 22:20] juliusfrost commented on #9961
I'm not sure how to separate the library that because you need it to download the data

[2020-09-18 22:23] ericl commented on #9961
Yeah, in that case I would try to reproduce it with CartPole-v0 or Pong-v0. You can use this script to quickly generate a bunch of fake data: https://docs.ray.io/en/master/rllib-offline.html#example-converting-external-experiences-to-batch-format

[2020-09-18 23:16] wuisawesome commented on #10895
hmmm @Yard1 would it work to set the `RAY_MEMORY_MONITOR_ERROR_THRESHOLD` to something very high?

[2020-09-18 23:25] Yard1 commented on #10895
@wuisawesome Haven't checked, will do

[2020-09-18 23:37] jennicetao commented on #10887
You may need to declare custom resources on your CPU node, and make your CPU bound tasks to require that. https://rise.cs.berkeley.edu/blog/ray-scheduling/

roughly,

https://rise.cs.berkeley.edu/blog/ray-scheduling/
ray start --address="ip of the GPU machine" --redis-password=" password seen on GPU machine" --num-cpus=80 --resources '{"cpu_node": 80}'

@ray.remote(num_gpus=1, num_cpus=1)
class GP

[2020-09-19 00:52] richardliaw opened #10900 "[wandb] Multiple training iterations are not being logged."
### What is the problem?

Currently not seeing multiple iterations per each of the runs, despite calling tune.report multiple times: https://wandb.ai/rliaw/RAY/groups/gcp_sep16_wmt?workspace=user-rliaw

Also, maybe we want to consider disabling the system metric monitoring, since it's not really accurate if using the logger.

cc @krfricke

[2020-09-19 00:53] richardliaw opened #10901 "[tune] Output is unintuitive"
### What is the problem?

We should always print many running trials at the top, deprioritize printing of PENDING trials, and only show the top 5 TERMINATED trials.

[2020-09-19 00:55] richardliaw opened #10902 "[tune] The search algorithms generate more trials than necessary"
### What is the problem?

I was under the impression that #10802 should avoid producing too many trials before resources are ready. However, on master, it seems like many trials are generated (especially when using search algorithms) before resources are ready, and this happens far into the experiment.

cc @krfricke

[2020-09-19 01:16] #10837 closed

[2020-09-19 01:18] ericl opened #10903 "[autoscaler] Add unit tests for sdk.py"
Test https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/sdk.py and stabilize the interface.

[2020-09-19 01:19] ericl commented on #10846
Related to https://github.com/ray-project/ray/issues/10903

[2020-09-19 06:08] wuisawesome opened #10904 "Send cluster_resource_scheduler state for heartbeat"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script

[2020-09-19 06:32] noprohuangqi commented on #10890
Thanks for your attention.
I update ray version to 1.0.0rc0, and this error occurs again.

This is my script `test.py`:
[code]

And I use `top` to monitor memory usage, the process  'python test.py' has a increasing memory usage , and `ray memory` shows 216 rows of  reference object.

[2020-09-19 07:30] #10859 closed

[2020-09-19 08:46] rkooo567 commented on #10842
As far as I know, multi threading would be fine, but I am not 100% sure about it.

[2020-09-19 08:46] #10842 closed

[2020-09-19 08:52] rkooo567 commented on #10739
The second issue will be resolved soon (we are implementing multi-tenancy of Ray, and IDLE workers will be all killed when the job is done). Unfortunately, I couldn't reproduce the first issue from the nightly Ray. Can you check

1. If you can still reproduce the same issue for the first script when you run it in non-gpu node.
2. Run it with nightly and see if the issue still occurs.

[2020-09-19 08:53] #10644 closed

[2020-09-19 08:54] rkooo567 commented on #10574
Note: I will make a PR to use Python code to resolve addresses of GCS servers

[2020-09-19 08:56] rkooo567 commented on #10565
Can you elaborate why `sys.argv` has to be empty in your case?

[2020-09-19 08:57] rkooo567 commented on #10493
How complicated is the PR? If it is simple enough, I think there's nothing to lose. Thought? @ericl

[2020-09-19 09:00] rkooo567 commented on #8550
@TBashida Can you check if it is still the case in the latest master? As far as I understood this could've been fixed already.

[2020-09-19 09:06] richardliaw commented on #10890
Maybe you could try #10905 !

[2020-09-19 09:17] noprohuangqi commented on #10890
Thanks for your quickly reply.
I will try this fix as soon as possible , and give you a feedback.

[2020-09-19 10:48] mi-lad commented on #10870
Yup I'll have a go today

[2020-09-19 11:08] mi-lad commented on #10870
Actually, there's not another thing that's not clear to me from reading the docs.

There are functionalities that the class-based API provides such as `checkpoint_at_end`, `checkpoint_freq`, and `checkpoint_score_attr`. I'm happy to handle these myself in my own code but I'm not sure whether Tune has expectations about them or not. In particular, if I only want to keep for instance 3 checkpoints,

[2020-09-19 11:16] mi-lad commented on #10870
Another confusion: [the `tune.run` doc](https://docs.ray.io/en/latest/tune/api_docs/execution.html) mentions `local_checkpoint_dir` but it's not clear to me what that is. I can see a reference to it in `TrialRunner` class but that's supposed to be an internal API and I shouldn't have to know about it.

[2020-09-19 13:09] saulzar commented on #5722
Also very interested in this question - seems relevant particularly for use cases with a slow ethernet and large data transfer, it is hard to get good performance without forcing local execution on parts of a system.

[2020-09-19 16:56] rohitrawat opened #10907 "Missing 'apt-get' before install in examples Dockerfile."
Missing 'apt-get' before install.

_Originally posted by @rohitrawat in https://github.com/ray-project/ray/pull/10349#discussion_r489029979_

[2020-09-19 17:42] wuisawesome commented on #10907
Cc @ijrsvt

[2020-09-19 18:05] #10907 closed

[2020-09-19 19:16] edoarn commented on #8035
This issue was interesting, as I was trying to achieve something similar. I'd like to containerize ray in such a way that the actual cluster is independent from my web server. Now, I'm currently starting a head node in the same container of a flask web app using `ray start --ead --num-cpus=0`, in order to make sure that this node won't execute any actual work, but it feels like a workaround.
I gue

[2020-09-19 22:41] juliusfrost commented on #9961
Okay, I updated the repro script to with Pong: https://github.com/juliusfrost/rllib-memory-leak

[2020-09-20 00:25] richardliaw commented on #9961
Maybe this might also be an instance related to #10890 and its corresponding fix #10905

[2020-09-20 00:34] netw0rkf10w opened #10910 "Questions regarding the PyTorch tutorial"
Hello,

Thank you so much for the software!

I've just started learning Ray Tune for PyTorch, and would like to ask some questions related to your [official PyTorch tutorial](https://docs.ray.io/en/master/tune/tutorials/tune-pytorch-cifar.html).

1. At the beginning of the `train_cifar()` function, we read a checkpoint if it's given:

[code]

The rest of the tutorial doesn't seem to use this `chec

[2020-09-20 00:43] richardliaw commented on #10910
cc @krfricke

[2020-09-20 00:48] richardliaw commented on #5722
Here's something very simple:

[code]

[2020-09-20 01:35] richardliaw commented on #10900
I think this happens due to updating the config during wandb.

You can repro using this yaml:

[code]

This script:

[code]
and this `transformers` repo:

https://github.com/richardliaw/transformers/tree/c08795e789e5824baa06059baf84a4c5a703c7fb

[2020-09-20 01:35] richardliaw commented on #10900
ray up $YAML
ray submit $YAML $SCRIPT

[2020-09-20 02:25] richardliaw opened #10911 "[wandb] partial functions don't have __name__"
[code]

If I try to do:
[code]

[2020-09-20 04:20] richardliaw commented on #10911
cc @krfricke

[2020-09-20 04:59] richardliaw commented on #10900
Fix here works for me:

[code]

[2020-09-20 06:47] richardliaw opened #10912 "[core] Support list of worker ports"
### Describe your feature request

This would be helpful for infrastructure setups where a pre-defined list of worker ports are provided to a container/job rather than a range of ports.

cc @edoakes

[2020-09-20 07:49] richardliaw opened #10913 "[placement groups] Feasibility Check"
### Describe your feature request

in ray currently, I can rate limit the actor creation/task invocation by checking cluster resources

but I can’t do the same for placement because I don’t have the physical placement plan of the cluster,

The only way i can find out that my placement is infeasible is if i submit a request.

It'd be great to expose an api that returns if pg is schedulable or not

[2020-09-20 18:26] sumanthratna opened #10917 "[docs] clarify platforms for questions, bug reports, feature requests, etc."
### Describe your feature request
on master, we currently say:

I think we should say something like the following:
1. GitHub Issues for bug reports, feature requests, and conceptual questions about Ray
2. StackOverflow for support with usage and debugging
3. Slack for discussing Ray

being consistent with platforms will probably make it easier for users to search previous questions + tickets

P3

[2020-09-20 20:07] sumanthratna opened #10918 "[RaySGD] multi-GPU training"
### Describe your feature request
currently, both `ray.util.sgd.torch.TorchTrainer` and `ray.tune.integration.torch.DistributedTrainableCreator` accept `use_gpu: bool` instead of tune's `resources_per_trial: dict` because RaySGD only utilizes 1 GPU to store the models and optimizers. It would be nice if there was a `resources: dict` arg to enable multi-GPU training.

[slack](https://ray-distribute

[2020-09-20 20:14] sumanthratna opened #10919 "[RaySGD] mixed precision on PyTorch using torch.cuda.amp"
### Describe your feature request
on pytorch >= 1.6.0, torch.cuda.amp could be used for mixed precision training instead of apex (which would reduce a dependency)

PyTorch Lightning allows using either apex or pytorch's native mixed precision. https://pytorch-lightning.readthedocs.io/en/latest/amp.html

[slack](https://ray-distributed.slack.com/archives/CSX7HVB5L/p1598555758016800)

[2020-09-20 23:24] amogkam commented on #10919
Yes this makes total sense to do. We probably would still want to support apex for torch versions < 1.6.

This is currently on our backlog, but please feel free to open a PR for this if you'd like!

[2020-09-21 00:42] netw0rkf10w commented on #10910
I have been trying very hard to deploy Ray Tune on a Slurm server with PyTorch DDP without success... Apparently this is a very tricky task, as I couldn't find a complete example in the documentation.

In summary, I have a training script which I launch using `torch.distributed.launch`. This script has some input arguments on which I would like to run a hyper-parameter search. Ideally, I would lik

[2020-09-21 01:08] ericl commented on #10913
What's the use case for this? It seems simpler to submit the request and check if it can be placed within a timeout.

[2020-09-21 02:17] ankur6ue opened #10920 "ray cluster fails to start using ray/autoscaler/local/example-full.yaml"
### What is the problem?
I modified the example-full.yaml file according to my local cluster (one master node, one slave node), see modified content below. The cluster fails to start. Not seeing any obvious errors. I'm able to use ray start to start the master node and then have the worker node join the master manually.

*Ray version and other system information (Python version, TensorFlow version

[2020-09-21 03:01] #10653 closed

[2020-09-21 05:19] ptyshevs opened #10923 "Issue on page /tune/api_docs/execution.html [tune]"
Documentation regarding `max_failures`:
[code]

However, if you look into `tune.run`, the default is `max_failure=0`. I think that the doc is outdated, because the observed behavior is as if `max_failure=0` is true.

[2020-09-21 08:17] amogkam commented on #10920
Are you running `ray status` on your laptop? In that case it's trying to identify a Ray cluster on your local machine; instead you want to run `ray status` on your cluster. You can do that by running `ray exec config.yml 'ray status'`, which will execute the `ray status` command on the cluster. Or, you can ssh into the head node of your cluster via `ray attach config.yml` and then run `ray status`

[2020-09-21 08:35] richardliaw commented on #10474
Hi @nscotto did you end up figuring this out? sorry for the slow reply.

[2020-09-21 10:32] krfricke commented on #10900
I currently can't run the reproduction script, and I also can't find a reproduction with a simpler script and bogus logging calls. Can you print the output of the `result`, `log` and `config_update` variables?

[2020-09-21 11:35] krfricke commented on #10910
Hi,

regarding your first post:

1) The `checkpoint_dir` parameter is automatically populated by Tune if the scheduler decides to restore a checkpoint. The code is then used to restore model weights/parameters from this checkpoint. This could happen e.g. if you continue trials after shutting down the training, or if algorithms such as PBT choose to copy parameters from one trial to another.

2) Ye

[2020-09-21 12:23] nscotto commented on #10474
Him

[2020-09-21 12:37] netw0rkf10w commented on #10910
Hi @krfricke,

Thank you very much for your answers!

I see. I would suggest to add the above explanation to the tutorial (e.g. right after the sentence "The checkpoint_dir parameter is used to restore checkpoints."), for the sake of inexperienced users like me.

That totally makes sense. I once used this trick to pre-download data, but for some reason I didn't recognize it when reading the tutori

[2020-09-21 13:54] ankur6ue commented on #10920
Thanks for your response, I was indeed ray status on the laptop. Unfortunately I still get the cluster not running error after following your instructions:
[code]
As I mentioned, I'm able to create a cluster by doing a ray start on my main laptop and then joining the main node from the other laptop. Conceptually, what is the difference between the two approaches?

[2020-09-21 14:26] Seraphli opened #10927 "[ray] Redis memory increase on head"
*Ray version and other system information (Python version, TensorFlow version, OS):* Ray 0.8.7, Python 3.8.5, Debian

We notice a memory increase problem on head machine.
We have done some researches to find out what happened.
First, we find a lot of keys increased in the Redis server.
![image](https://user-images.githubusercontent.com/1586755/93778411-77799600-fc58-11ea-91cd-137d8fb3bc89.png)
The

[2020-09-21 15:59] rkooo567 commented on #10927
Thanks for the report! There’s a PR to limit the number of profile table in Redis (, and it won’t be available in our next release, but will be included in the one after that). Are you using the nightly ray?

[2020-09-21 16:00] rkooo567 commented on #10927
https://github.com/ray-project/ray/pull/10888

[2020-09-21 16:32] Seraphli commented on #10927
We are not using the nightly ray. To use ray we have to build a docker image first. So it will be difficult to use nightly version.
Because we run ray on a cluster with 25 computers, we have to allocate the head machine with 900G memory in order to let the experiment run longger.

[2020-09-21 16:37] Seraphli commented on #10927
Can this be fixed more early? This memory issue I think is a major issue. This will make the system crash quickly.

[2020-09-21 17:01] ericl commented on #10927
These entries should start getting evicted once you hit the redis_max_memory config. Try lowering that config in ray.init()?

[2020-09-21 17:03] richardliaw commented on #10474
@nscotto did you see this from the original BOHB paper? I think this would explain quite a bit.

<img width="337" alt="Screen Shot 2020-09-21 at 10 02 41 AM" src="https://user-images.githubusercontent.com/4529381/93797833-98f36700-fbf1-11ea-847c-dfa4f6b70a25.png">

[2020-09-21 17:19] Seraphli commented on #10927
Okay, I will try this. We actually set redis_max_memory config equal to the whole memory. Any suggestions of this config? And BTW,  is the evict setting turned on default?

[2020-09-21 17:26] Seraphli commented on #10927
Another question, will this config only evict the key with `PROFILE` perfix, or will it evict the oldest key? Because we have a lot of actor class, I think some of them will stay longer than the profile keys. I don't know whether this will be a problem.

[2020-09-21 17:31] mkoh-asapp opened #10928 "[autoscaler] Unable to launch Kubernetes cluster if I don't have permission to list namespaces"
### What is the problem?
When trying to create a cluster, Ray is trying to check if the namespace that I provide in my cluster config exists or not. And if it does not exist, it will try to create it.  (https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/_private/kubernetes/config.py#L61)

This causes a problem if I do not have permission to list namespaces or create namespaces on

[2020-09-21 17:41] danwallach opened #10929 "[autoscaler] node type preferences"
The YAML currently allows you to specify a variety of different `available_node_type` entries, but when you want to say what workers to use, `worker_node_default_type` only takes one argument.

In many real scenarios, the job might be insensitive to node types (e.g., EC2 `c5` and `c5a` are roughly interchangeable), so what matters is what's available and/or what's cheapest.

Feature request: `work

[2020-09-21 17:44] ericl commented on #10929
Thanks for filing this. One way of achieving this is to have priorities associated with node types, and we'd prefer some type up to a max count (or fail to launch).

This also requires some algorithm improvements such as https://github.com/ray-project/ray/issues/10872 as a prereq.

[2020-09-21 17:48] krfricke commented on #10900
This seems to have been fixed with the latest wandb release 0.10.2. With 0.10.1 the bug occurred, with 0.10.2 it doesn't. Closing this.

[2020-09-21 17:48] #10900 closed

[2020-09-21 17:55] richardliaw commented on #10910
@netw0rkf10w can you open a separate issue for SLURM related questions? I can forward that to those who are more familiar.

[code]
this may not be seeing pip; try running `which -a ray` too.

Also, try running:
[code]

I will close this issue but be sure to open a new one ^ with the above information!

[2020-09-21 17:55] #10910 closed

[2020-09-21 17:55] ericl commented on #10927
I would recommend either going with the default setting, or something small like 500 megabytes. Ray does not use Redis for primary storage, only metadata.

The critical metadata tables like Actors are placed on the primary shard and won't get evicted -- only secondary tables like PROFILE are eligible for eviction.

[2020-09-21 18:21] richardliaw commented on #10870
[code]
In general checkpoints are expected to be entirely handled by Tune. Each checkpoint call should be in a new checkpoint subdirectory. If you want to keep 3 checkpoints, I think you will want to set `keep_checkpoint_num`.

Good point about `local_checkpoint_dir` - this should be fixed in master.

[2020-09-21 19:20] mkoh-asapp opened #10932 "[autoscaler] read_namespaced_pod vs. read_namespaced_pod_status"
### What is the problem?

There’s a bunch of places where ray is doing `core_api().read_namespaced_pod_status()` but I don’t have the permission to read `pods/status`. It needs to be explicitly granted, so having permission to `get pods` does not give you permission to `get pods/status`.  Can I suggest that you use `read_namespaced_pod` instead? It returns the same information but it seems like it

[2020-09-21 20:35] richardliaw commented on #10890
I think so! Did it work? @noprohuangqi

[2020-09-21 20:39] mkoh-asapp opened #10933 "[autoscaler] incorrect shell quoting in kubectl-rsync.sh"
### What is the problem?

When trying to sync file mounts, I was getting auth errors from kubectl. Upon further investigation, it looks like the namespace being passed to kubectl inside the `kubectl-rsync.sh` script incorrectly had a space added to the front of it.

https://github.com/ray-project/ray/blob/master/python/ray/autoscaler/_private/kubernetes/kubectl-rsync.sh#L26

By removing the quotes

[2020-09-21 20:47] mkoh-asapp commented on #10933
I see that this is already fixed on master. I'll close this.

[2020-09-21 20:47] #10933 closed

[2020-09-21 23:26] annaluo676 opened #10939 "[tune][rllib] Support switching between DurableTrainable and Trainable for RL jobs through Tune API"
### Describe your feature request
It is not uncommon for large scale RL jobs that one has to setup a complex cluster (e.g., mixture of CPU & GPU nodes). `DurableTrainable` supports checkpointing to and restoring from remote storage and removes the need to use `rsync` for checkpoints sync down.

It would be very useful if there exists a flag using which RLlib users can switch between `DurableTraina

[2020-09-21 23:27] richardliaw commented on #10939
cc @sven1977 @krfricke let's chat about how to best support this.

[2020-09-21 23:44] ericl commented on #10271
I think https://github.com/ray-project/ray/pull/10834/files fixes this. Please re-open this issue if there is still a problem after that commit.

[2020-09-21 23:44] #10271 closed

[2020-09-21 23:44] ericl commented on #10889
I think https://github.com/ray-project/ray/pull/10834/files fixes this. Please re-open this issue if there is still a problem after that commit.

[2020-09-21 23:44] #10889 closed

[2020-09-21 23:46] ericl commented on #9961
Thanks, I'll take a look!

[2020-09-21 23:50] ericl commented on #10765
Shouldn't they be registered by default by being members of nn.Module? You can probably check the .variables() list to see if they are indeed registered.

[2020-09-22 00:15] ericl commented on #10769
What kind of times are you seeing? I'm still seeing <4 seconds at 50 iterations. I did move the ray.init() out of the main loop though, since that was slowing things down quite a lot.

This is ray==1.0.0rc0 btw.

[2020-09-22 00:18] ericl commented on #10769
Ah, I see this is gputil related. I'm guessing it's since we never kill this thread here: https://github.com/ray-project/ray/blob/09d4a3241ff872866e6c0573abe24305ab8deeab/python/ray/tune/trainable.py#L258

cc @richardliaw can that thread be a process-global singleton or otherwise stopped?

[2020-09-22 00:36] richardliaw commented on #10769
ah yeah, it can be process global.

[2020-09-22 01:33] pengzhenghao commented on #10001
For example, if we set evaluation interval > 1, then in the first iteration the reported stats do not contain anything about evaluation. So that the saved `trial_dataframe` does not have the column for `evaluation/episode_reward_mean` and so on. We can't easily load the data about evaluation from `Analysis` API or from `progress.csv`, even though the data is properly saved at `result.json`

[2020-09-22 01:39] noprohuangqi commented on #10890
Yes,It works. (at version 0.8.7 and 1.0.0rc0)
Thank you for your help!

[2020-09-22 02:37] ankur6ue commented on #10920
Here's a shell script that starts a head node, copies (project specific) files and then launches worker nodes that join the head nodes. It makes sure that an identical conda environment is created on all nodes (which is very important, and should be emphasized in the docs)

[code]
I'd still like to understand why the ray up approach is not working, and also would like to understand what is it doin

[2020-09-22 02:57] Seraphli commented on #10927
Okay, I will try that out.

[2020-09-22 02:58] jieru-hu opened #10943 "Install ray release version from S3 wheel directly"
### What is your question?

I want to be able to download ray's release wheels directly from S3 and install (due to firewall rules on my machine, I do not want to open 443 to for pip)

However I'm not sure what would the path be like, how does one know which SHA to use when trying to install the official releases? Thank you!

[code]

[2020-09-22 03:03] wuisawesome commented on #10943
`051fdd8ee611e26950e104eeb9375d0d88a846d5`

Essentially, you should match the wheel name to the latest commit in the release branch. https://github.com/ray-project/ray/tree/releases/0.8.6

[2020-09-22 03:04] jieru-hu commented on #10943
Thank you for the super fast response! Got it :)

[2020-09-22 03:04] #10943 closed

[2020-09-22 04:52] Antymon commented on #10769
@ericl All good? Can repro?

[2020-09-22 05:46] rkooo567 opened #10945 "[GCS Actor Management] Bug discovered by placement group stress tests."
### What is the problem?

From the PR https://github.com/ray-project/ray/pull/10924, if we comment in the actor creation, it causes check failures.

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

Run https://github.com/ray-project/ray/pull/10924 sc

[2020-09-22 05:47] rkooo567 commented on #10945
cc @ffbin Do you have some time to take a look at this issue? Check failure happened from dependency resolution method.

[2020-09-22 05:50] rkooo567 commented on #10932
cc @yiranwang52

[2020-09-22 06:03] #8992 closed

[2020-09-22 06:03] #10372 closed

[2020-09-22 06:16] ffbin commented on #10945
@rkooo567 I will take a look.

[2020-09-22 06:23] rkooo567 commented on #9772
@ffbin I heard from hao you guys are already working on this.  Should I pass it to you again?

[2020-09-22 06:40] bentzinir commented on #10765
Forgive the misleading title. They are registered but do not belong to any gradient.
The sac implementation defines its gradients over a selected list of variables.
For example, the actor gradient is defined explicitly over the actor variables (see `gradients_fn` in sac_tf_policy.py`). Those are the weights that are returned by `policy_variables` in `sac_tf_model.py`. However, this contains just t

[2020-09-22 06:42] ericl commented on #10765
Good point. That does look like a problem, @michaelzhiluo can you have a closer look?

[2020-09-22 06:54] richardliaw commented on #10769
@Antymon can you try this PR: https://github.com/ray-project/ray/pull/10947

[2020-09-22 07:16] #2016 closed

[2020-09-22 07:17] #2215 closed

[2020-09-22 07:18] rkooo567 commented on #1157
Will be implemented by object spilling

[2020-09-22 07:18] #1157 closed

[2020-09-22 07:19] #2144 closed

[2020-09-22 07:19] #2494 closed

[2020-09-22 07:19] #2576 closed

[2020-09-22 07:21] #3214 closed

[2020-09-22 07:22] #3429 closed

[2020-09-22 07:23] #3807 closed

[2020-09-22 07:49] #9941 closed

[2020-09-22 08:31] amogkam commented on #10920
Ah sorry I misread your initial question. So you have a local cluster with 2 nodes, and the head node is your laptop correct? In that case both running `ray status` and `ray exec cluster.yaml "ray status"` from your laptop/head node are equivalent. From your output in the initial post it seems like Ray was started up properly so it's weird that you're getting an error when trying to connect to it.

[2020-09-22 08:32] michaelzhiluo commented on #10765
It makes sense that the preprocessor variables aren't part of the model, as intended in [data pipeline](https://docs.ray.io/en/latest/rllib-models.html). Is it possible you can move this preprocessor the model (i.e. define a custom model)?

[2020-09-22 10:07] Antonio-Dominguez opened #10949 "[rllib] how can I get the episode info dict from the on_sample_end callback?"
[rllib] I need to get the episode info dict from the on_sample_end callback so that I can display some custom metrics every time a rollout has finished. How can I do that?
Ray Version: 0.7.3

Thank you in advance!

[2020-09-22 11:10] bentzinir commented on #10765
The current data pipeline supports a shared body configuration because the state-preprocessor is assumed to be shared between the actor and the critic. I think this should be left as a design choice.

[2020-09-22 13:43] FabianSchuetze commented on #10889
Thanks for the reply, @ericl !

Besides #10834 , I also needed to merge (the `torch_model.py` file from) #9683 . #10834 works for other agents I have tried (SAC).

[2020-09-22 15:16] luca310795 opened #10954 "[tune] Distributed Torch"
https://docs.ray.io/en/releases-0.8.7/tune/api_docs/trainable.html#distributed-torch explains how to distribute training for a custom Trainable **function**. I'd like to distribute training for a custom Trainable **class**. The first step is to wrap my models with DistributedDataParallel, but of course it's not enough to make it work.
How should I modify my custom Trainable class to implement dist

[2020-09-22 15:33] edoakes opened #10955 "`ray stop` should wait for processes to exit"
### Describe your feature request

Wait for processes to exit when the user calls `ray stop`. If it hangs, we can print something like `use --force to forcibly clean up processes`.

[2020-09-22 16:02] #10923 closed

[2020-09-22 17:51] josjo80 commented on #10760
I'm also interested in this with the added request of constructing a centralized critic.  Would you just create two separate transformers, one actor and one critic, so that the stepwise outputs match?

[2020-09-22 17:56] ericl commented on #10765
@michaelzhiluo , that pipeline is referring to the preprocessor outside the model. @bentzinir is talking about the state_preprocessor network in SAC which is differentiable through the loss.

[2020-09-22 18:26] sven1977 commented on #10765
Yes, this is a bug. The "preprocessor" here is not an RLlib Preprocessor object, but e.g. a simple Conv2D stack (chosen automatically if possible by RLlib) pre-attached to the Q- and policy models.
Will fix this. ...

[2020-09-22 18:37] ericl commented on #10817
cc @wuisawesome

[2020-09-22 19:23] acdifran commented on #10739
@rkooo567

For the first issue, when I run that script using the nightly build, while the dashboard shows that GPUs are not being held, it seems they actually still are. Below is the exact code I just tried using the nightly build:

[code]

After the loop runs twice I get this output:

[code]

From this, it shows that after the first 4 processes run (each using 0.25 GPUs) there are no GPU resource

[2020-09-22 19:56] sven1977 commented on #10765
Sorry, can you be more specific about the version of ray you are using, as well as some information on your config, tf/pytorch, etc..?

[2020-09-22 19:57] sven1977 commented on #10765
@bentzinir

[2020-09-22 20:00] ericl commented on #9961
@juliusfrost it turns out there isn't a leak after all-- just misleading documentation on the replay buffer size. The size is controlling the number of batches, not steps, so 100k will lead to essentially infinite memory usage. Setting the replay buffer to a smaller value (like 20) fixes the issue.

[2020-09-22 20:00] sven1977 commented on #10765
I do see all variables registered correctly for tf as well as all parameters included in the nn.Module for pytorch:
`rllib\agents\sac\tests\test_sac.py::TestSAC::test_sac_compilation`
framework=torch|tf
env=MsPacmanNoFrameskip-v4

[2020-09-22 20:02] ericl opened #10958 "[rllib] Replay buffer size should be tracked in timesteps, not batches; Deprecate SimpleReplayBuffer"
See: https://github.com/ray-project/ray/issues/9961

It's not very user friendly to track replay buffer size in batches inserted. To fix this, we should
- deprecate SimpleReplayBuffer
- change the units of replay buffer size to limit timesteps, not batches inserted

cc @sven1977 for prioritization

[2020-09-22 20:03] ericl commented on #10765
@sven1977 see the comment https://github.com/ray-project/ray/issues/10765#issuecomment-696537955, it seems the vars are registered but not included in the grad calcuation?

[2020-09-22 20:06] bentzinir commented on #10765
ray 0.8, TensorFlow 1. I think that this is also the case with ddpg.

[2020-09-22 20:09] sven1977 commented on #10765
Ah, yes, sorry, checking the custom gradient functions ...

[2020-09-22 20:13] sven1977 commented on #10765
Yeah, we don't calculate or apply gradients for these, true. Ok, I'll make the `self._actor_optimizer` take care of training the preprocessor vars. Any objections?

[2020-09-22 20:40] sven1977 commented on #10765
https://github.com/ray-project/ray/pull/10959

[2020-09-22 20:41] sven1977 commented on #10765
DDPG still missing. Will PR (see above) tomorrow.

[2020-09-22 21:01] juliusfrost commented on #9961
Interesting. Thanks for figuring that out! Does it make sense to keep the `replay_buffer_size` measured in batches and not steps? Because one might not know the exact number of steps in each replay batch if they have different episode lengths. Maybe it should be `replay_buffer_size` repurposed to cap the measure on steps and `replay_batch_size` to denote the number of batches loaded into replay. A

[2020-09-22 23:10] rkooo567 commented on #10739
It looks like there's something wrong when you have implicit capture of object reference (`X_id` for example) to remote tasks. Not sure if it is the expected behavior, or a bug. cc @stephanie-wang

The workaround is just to pass `X_id` instead of having implicit capture and call `ray.get(X_id)` in your task. I will investigate the issue, but the best solution now is to go with the solution below.

[2020-09-22 23:16] rkooo567 opened #10960 "[Core] Resources are not returned when implicitly capturing object reference with `max_call` arg."
### What is the problem?

Reported from this https://github.com/ray-project/ray/issues/10739

When running the script below, GPU resources are never returned. There is a couple interesting behaviors.

1. We have local reference from our internal methods.
<img width="1665" alt="Screen Shot 2020-09-22 at 4 15 23 PM" src="https://user-images.githubusercontent.com/18510752/93946710-d1c53600-fcee-11ea-

[2020-09-22 23:39] rohitrawat opened #10961 "Incorrect port forwarding in `ray dashboard`"
https://github.com/ray-project/ray/blob/6a227ae50132639552b7d3601cc828c28143e2cb/python/ray/autoscaler/_private/command_runner.py#L530

^ incorrectly forwards the remote dashboard port. This bug is not visible if we are trying to forward the same remote port to the same local port. The correct port forward syntax is:
`ssh -L local_port:destination_server_ip:remote_port ssh_server_hostname`

I've v

[2020-09-22 23:48] richardliaw commented on #9202
This is actually fixed in #10539!

[2020-09-22 23:48] #9202 closed

[2020-09-22 23:59] ericl commented on #9961
I think we should change it to always cap on steps and remove / deprecate sizing in batches since it is quite confusing. Timesteps always corresponds fairly intuitive to memory usage.

[2020-09-23 01:29] vasnakh opened #10965 "centralized_critic example not working"
I tried to run centralized_critic.py from the example but  I see an error and am not able to run. Below is a screenshot of the error. Can someone please help me with this? I am running the code using python 3.7.9
![image](https://user-images.githubusercontent.com/11311208/93954004-78b2cd80-fd01-11ea-9788-3ee60e3380f9.png)

[2020-09-23 03:50] ashione commented on #10493
Spdlog compatible skeleton will be polished in this PR https://github.com/ray-project/ray/pull/10967

[2020-09-23 05:18] bentzinir commented on #10765
Makes sense. But the main issue IMOP is to allow a separate body configuration.
Another thing, you might want to take the minimum of the Qs in the discrete actor loss function.
Nir

[2020-09-23 05:33] bentzinir opened #10969 "[rllib] sample_batch_builder: pre batch is passed "by reference" (and not copied) to postprocessing function"
### What is the problem?
function `postprocess_batch_so_far` sends the batches to postprocessing. The batches from other agents are copied before sent (`other_batches = pre_batches.copy()`), while the "self" batch, i.e. the own batch of the agent is sent without being copied and is edited in place.
As a result, after iterating the first agent, the second agent will receive the post-processed batch

[2020-09-23 05:59] rkooo567 commented on #10961
cc @wuisawesome

[2020-09-23 06:00] wuisawesome commented on #10961
cc @mfitton

[2020-09-23 06:04] rkooo567 commented on #10920
Note Ray requires bi-directional network communication among nodes, so if you use your laptop as a node, it could cause troubles (because of personal laptop's firewall or other security-related features).

[2020-09-23 06:07] rkooo567 commented on #10868
Any progress on this?

[2020-09-23 06:08] wuisawesome commented on #10868
i think we're good

[2020-09-23 06:08] #10868 closed

[2020-09-23 06:39] sven1977 commented on #10765
So true. We are planning on making Model-architecture configurations much simpler and more flexible in the future (~Q4, Q1 2021). What you should do if you want to separate into 2 Conv2D stacks is to just write a custom Model class that does this, then wrap the SACModel with that custom class.

[2020-09-23 06:43] sven1977 commented on #10765
Great catch on the min Q for discrete actions! I'll fix that.

[2020-09-23 07:03] MrRace opened #10970 "[tune] `hyperparam_mutation` values must be either"
I use the example in https://github.com/ray-project/ray/tree/master/python/ray/tune/examples/pbt_transformers
[code]
when run `pbt_transformers.py`  it comes two errors:
first ：
With the raw code `ray.init(ray_address, log_to_driver=False)`, and the ray_address is None. The error is below:
[code]
Therefore I change the code above to `ray.init(dashboard_host="127.0.0.1")` and the error disappeared.

[2020-09-23 07:26] sven1977 commented on #10889
Yes, for some reason, we never merged the GPU DDPG torch fixes. This will be done now in this PR, which fixes a couple of other issues as well for DDPG and SAC (related to e.g. Conv2D state preprocessors).

https://github.com/ray-project/ray/issues/10765

Also has a small SAC discrete loss fix.

[2020-09-23 09:00] krfricke commented on #10911
Closed via #10950

[2020-09-23 09:00] #10911 closed

[2020-09-23 10:03] evanthomas commented on #9308
I'm having multiple problems trying to build on a jetson nano.

1. `npm ci` is not a thing
2. the bazel install script silently fails. I manually installed 3.5.0 (there doesn't seem to an arm64 version of 3.2.0)
3. py-spy is not a thing either, so I just removed the dependency
4. After all that it, sill fails with:

[code]

Of course, this might be because of my other hacks.

[2020-09-23 14:20] DanielWicz opened #10975 "[rllib][Ray] Running MPI compliant software as a custom environment together with rllib"
Hello, I want to use a custom environment, which is an MPI compliant application written in C language. The application has a  Python API and requires significant resources to run. Thus, the APP requires allocation through MPI to several nodes.

So two questions emerge?
1. It is possible to run a MPI compilant application through Ray and rllib custom environment.
2. It is possible to use custom en

[2020-09-23 14:28] sumanthratna commented on #10970
for your first question:
@MrRace can you tell me more about the machines you're running on? and can you send the output of `lsof -n -i :8265`

for your second question:
[code]

both versions of the `hyperparam_mutations` kwarg should work as expected.

@richardliaw might be convenient for users if we accept `tune.sample_from` instances as values for `hyperparam_mutation` in 1.0.

@MrRace I hope th

[2020-09-23 15:17] kfstorm opened #10976 "Support actor handle ref counting for Java"
Corresponding Python PR: https://github.com/ray-project/ray/pull/7434

[2020-09-23 15:20] kfstorm opened #10977 "Remove the `remove_after_get` flag"
As @stephanie-wang mentioned in https://github.com/ray-project/ray/pull/9371, we should remove the `remove_after_get` flag.

[2020-09-23 15:23] kfstorm opened #10978 "Implement `put_small_object_in_memory_store` for Java"
Corresponding Python PR: https://github.com/ray-project/ray/pull/8972

[2020-09-23 16:04] FabianSchuetze commented on #10765
I also had problems with this and assigned the variables to the critic loss, not the actor loss. My motivation for this was based on empirical evidence from the [deepmind control suite paper](https://arxiv.org/pdf/1801.00690.pdf). Figure 7 and 8 show that the network barely learns anything when the CNN variables are optimized as part of the actor loss.

[2020-09-23 16:05] FabianSchuetze commented on #10889
Thanks for the info!

[2020-09-23 17:02] amogkam commented on #10970
@MrRace Can you try upgrading ray to the latest nightly wheels (https://docs.ray.io/en/master/installation.html#latest-snapshots-nightlies)?. Both of these issues should be fixed in the latest wheels and will be included in the next 1.0 release.

If you want to continue using Ray 0.8.7, then your fix for the dashboard issue should work, and you should run the `pbt_transformers.py` example from the

[2020-09-23 17:02] amogkam commented on #10970
Also just curious, what OS are you running on? Also are you using Docker?

[2020-09-23 17:19] raoul-khour-ts commented on #10574
Was able to confirm that https://github.com/ray-project/ray/pull/10946 fixed the issue.

Thank you @rkooo567. This should make it out to the 1.1.0 release hopefully sometime in November?

[2020-09-23 17:19] #10574 closed

[2020-09-23 17:36] ericl commented on #10975
A good way to do this I think is to embed your MPI program inside a set of Ray actors. For example, start N ray actors, and use the MPI Python bindings to join those actors together into a MPI communication group. That way, your custom env can run using MPI, but still be easily accessible through Ray (via actor method calls).

[2020-09-23 17:37] rkooo567 commented on #10574
@raoul-khour-ts Yes! We have a monthly release cycle, and the 1.0 target date is the end of September.

[2020-09-23 18:08] #10902 closed

[2020-09-23 18:40] alexmascension commented on #8164
Hi!

Any new things over here?

[2020-09-23 20:55] crypdick opened #10983 "[Data] Add support for all Spark RDD transformations and actions"
Spark has a number of very useful [transformations](https://spark.apache.org/docs/latest/rdd-programming-guide.html#transformations) and [actions](https://spark.apache.org/docs/latest/rdd-programming-guide.html#actions). In the interest of using Ray for running general computation workloads, it would be nice if ParallelIterators implemented these methods.

(superset of https://github.com/ray-proje

[2020-09-23 21:03] richardliaw commented on #8164
@alexmascension thanks for following up. I suspect the issue that you're seeing is due to
1. Interprocess communication overheads (where the work is very minimal - np.random.randn() is an operation that takes no more than a millisecond)
2. Line-profiling probably also incurs overhead

Now, I've changed the function to a simple sleep call:

[code]
And then using the same exact functions as you have

[2020-09-23 22:46] #9961 closed

[2020-09-23 23:51] netw0rkf10w opened #10986 "How to properly deploying Ray Tune on a Slurm server for PyTorch hyper parameter search"
Hello,

After a lot of effort, I've managed to get Ray Tune somehow working on a Slurm server for doing distributed hyper parameter search of my PyTorch model. However, I still have some doubts about what I did, and thus I'm not sure if it's working properly.

Each node of my server has 8 GPUs and 24 CPUs (i.e. 3 CPUs per GPU). I want each trial of Tune runs on 8 GPUs (i.e. an entire node), so I d

[2020-09-23 23:55] netw0rkf10w commented on #10910
@richardliaw Thanks. Finally I could make it work, but still I'm not sure if the behavior is correct. I've just posted a new [issue](https://github.com/ray-project/ray/issues/10986), please have look.

[2020-09-23 23:56] richardliaw commented on #10986
cc @sumanthratna could you help take a look?

[2020-09-24 00:01] richardliaw commented on #10986
@netw0rkf10w thanks for this long write up! I'll try to answer a couple:
1. Not sure why interactive mode doesn't work
1. `--num-cpus` is only accounting/an override value. It doesn't necessarily correspond with physical CPUs. You should set it to `--num-cpus=3` which corresponds with `--cpus-per-task=3` (assuming each machine in your cluster only has 3 CPUs).
1. `srun --nodes=1 --ntasks=8 ` I'm n

[2020-09-24 00:05] richardliaw commented on #10605
@kiranvad I think there are new instructions for port forwarding here: https://docs.ray.io/en/master/cluster/slurm.html

[2020-09-24 00:34] netw0rkf10w commented on #10986
@richardliaw Thanks a lot for the prompt reply!

I already tried `--num-cpus=3` but then Tune had access to only 3 CPUs, which raised a resource error because for each trial I requested 8GPUs and 24 CPUs:

[code]

Well, on my Slurm server, I was instructed that `--ntasks` is the total number of GPUs requested (thus: `--ntasks=8` means 1 node and `--ntasks=16` means 2 nodes).

Actually that was the

[2020-09-24 00:40] netw0rkf10w commented on #10986
I tried 1 single task with 24 CPUs:

[code]

but it didn't work:

[2020-09-24 00:42] wuisawesome opened #10987 "[New Scheduler] Update cluster resource scheduler based from GCS heartbeats"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run your script, we cannot fix your issue.

- [ ] I have verified my script

[2020-09-24 00:54] netw0rkf10w commented on #10986
A clarification just in case: I managed to get Tune working on a single node, except that I'm not sure if the trials used all the 24 CPUs available on the node, or if they shared the same 3 CPUs between them because I launched Ray using

[code]

(It's late in Europe, I'll get back in 8-10 hours. Thanks.)

[2020-09-24 01:06] MrRace commented on #10970
Yeah, I run the script in Docker, the OS in the docker  is debian buster/sid

[2020-09-24 01:10] amogkam commented on #10970
Got it ok, that's the reason why the dashboard host was not working for you. More info can be found in this thread: https://github.com/ray-project/ray/issues/7084.

But we've recently fixed this issue (along with the hyperparam_mutation issue), so upgrading ray to the latest nightly wheels should work. Let me know how that goes!

[2020-09-24 01:15] MrRace commented on #10970
The command `ray install-nightly` seems not work.
![image](https://user-images.githubusercontent.com/10300313/94089743-83c34600-fe46-11ea-813c-98da08af0a62.png)

[2020-09-24 01:19] crypdick commented on #10809
Experienced this issue on `1.0.0rc1`, fixed it by installing `1.0.0rc2` (ty @amogkam)

[2020-09-24 01:21] amogkam commented on #10970
Right `install-nightly` was added recently and is not in ray 0.8.7 😅. Can you try `pip install -U ray==1.0.0rc2`. This will give the release candidate for ray 1.0.

[2020-09-24 01:51] MrRace commented on #10970
Thanks a lot, it can work now in the master example.

[2020-09-24 01:52] amogkam commented on #10970
Awesome!

[2020-09-24 01:52] #10970 closed

[2020-09-24 02:51] MrRace opened #10990 "[tune] what the core.4424 file is"
I run the script from https://github.com/ray-project/ray/tree/master/python/ray/tune/examples/pbt_transformers,
I find a core file in script directory:
![image](https://user-images.githubusercontent.com/10300313/94095059-7b253c80-fe53-11ea-9526-5c8e781a7741.png)

What is it? It confuse me.  The logs print in terminal is below:
[code]
Is there something I do wrong so that comes the core file? Thank

[2020-09-24 03:36] amogkam commented on #10990
Are you seeing this getting created consistently? I don't see it on my end when I run the script.

[2020-09-24 04:16] architkulkarni opened #10993 "[Serve] create_backend() hangs on adding too many replicas"
### What is the problem?
When adding certain numbers of replicas using create_backend(), it doesn't realize there aren't enough resources available, so create_backend() hangs forever waiting for another CPU to become available.  The repro script below makes it seem like it's an off-by-one error, but I'm not sure that's the case; I ran into this issue frequently on a multi-node cluster (5 nodes, 2

[2020-09-24 06:30] Rashindrie opened #10995 "Running ray with pytorch lightning in slurm job causes falure with error "ValueError: signal only works in main thread""
Hi,

I am a newbie trying to integrate ray with pytroch lightning. I followed the instructions at https://docs.ray.io/en/master/tune/tutorials/tune-pytorch-lightning.html when setting up hyperparam tuning with ray. However, I encountered 2 issues while using ray.

### ISSUE 1
Importing pytorch_lightning seems to throw an error with 0.8.7 version.

Cause:
`from ray.tune.integration.pytorch_lightnin

[2020-09-24 06:51] MrRace commented on #10990
Yes, it consistently happen when use `--smoke-test true`

[2020-09-24 07:09] amogkam commented on #10990
Hmm this is strange. Did you make any changes to the pbt_transformers script?

Also if you try another simpler Tune example like the Quick Start on our docs(https://docs.ray.io/en/master/tune/index.html#quick-start) or the PBT Convnet example (1python ray/python/ray/tune/example/pbt_convnet_function_example.py --smoke-test`) do you still see the file being created?

[2020-09-24 07:23] DanielWicz commented on #10975
Thank you for your answer. So you think it could be done like this: I start N actors like in A3C alg., from every actor I call a method from env, that spawns my MPI App and passes to it a given action. In this case, if I run e.g. 40 processes on 4 nodes with 2 CPUs per process through SLURM's `srun`, and spawn (through Spawn method in mpi4py) e.g. 20 actors with 2 CPU per actor and use the other 2

[2020-09-24 07:26] richardliaw commented on #10986
@netw0rkf10w can you post the output of the above Tune run with:

[code]

Can you also try:
[code]

From what I understand, here is what it seems like:
1. You should submit a 1 node, 1 task `srun` with `~/.local/bin/ray start --head`
2. You *should NOT* submit 1 node, 8 task `srun` - this is only relevant for something like pytorch DDP, which requires you to run the same script on each GPU. You do

[2020-09-24 07:34] richardliaw commented on #10995
Can you post a version of your SLURM script and python script?

It seems like you shouldn't be using the SLURMConnector with Ray Tune - after all, I think Ray will solve most of the SLURM problems that PTL aims to address.

We should put together some documentation on how to use Pytorch/PTL Distributed + Ray Tune + SLURM (cc @krfricke ).

[2020-09-24 07:42] Rashindrie commented on #10995
Slurm script:
[code]

tune.py

[code]

[2020-09-24 07:48] richardliaw commented on #10995
Can you try this hack? Add
[code]
to your Python script?

[2020-09-24 08:10] Rashindrie commented on #10995
Hi @richardliaw ,

The hack seems to have fixed it.

Thank you!

[2020-09-24 08:20] MrRace commented on #10990
Use the  example from the Quick Start on docs(https://docs.ray.io/en/master/tune/index.html#quick-start) also create the core file.

[code]

[2020-09-24 08:24] richardliaw commented on #10995
It's very terrible :) ! If it works for you, maybe you can submit a patch to Pytorch Lightning for a way to disable the SLURM detection?

[2020-09-24 08:26] richardliaw commented on #10990
Can you post the core file? I've never seen it and would like to know what's inside.

[2020-09-24 08:38] bentzinir commented on #10765
That's interesting. They say that separate bodies performed the worse, which is what I use now :(
In my opinion, though, such conclusions should be treated with caution.
I couldn't find Figure 8. I assume you referred to Fig7?

Any objections to closing the issue?

[2020-09-24 08:39] MrRace commented on #10990
It is a binary file, would you need?

[2020-09-24 08:46] Rashindrie commented on #10995
Yes true, I will look into that.
Before that got some bugs to fix in my ray run. Its still not running as expected 😓

[2020-09-24 08:47] pengzhenghao opened #10999 "ES Trainer does not support evaluation workers"
### What is the problem?

*Ray version and other system information (Python version, TensorFlow version, OS):*

When setting extra evaluation for ES, error would happen:

[code]

<img width="989" alt="image" src="https://user-images.githubusercontent.com/22206995/94122865-a88ade00-fe85-11ea-9b73-19169f32fc06.png">

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce th

[2020-09-24 08:50] richardliaw commented on #10995
Feel free to post (perhaps use a new github issue!)

[2020-09-24 09:13] Rashindrie commented on #10995
Ah fixed it (phew)! It was a bug in my code.

[2020-09-24 09:24] Antonio-Dominguez commented on #10949
I need to be able to get the custom metrics variable so that I can display information after every achieved rollout.

[2020-09-24 10:05] krfricke commented on #10854
Hi @Yard1, thanks for the issue. We're looking into supporting callbacks very soon. The main question I have is that there a many possibilities to inject callbacks. It would be great if you could provide some insight into your use case so we can make sure that we cover it with our implementation.

For instance, callbacks could be called every time when a result is received from a trial, i.e. after

[2020-09-24 10:07] alexmascension commented on #8164
Okey! Seems fair to me. Time to close the issue I guess!

Thanks @richardliaw!

[2020-09-24 10:07] #8164 closed

[2020-09-24 10:36] Yard1 commented on #10854
For me, the most important thing is being able to measure progress. I would like to be able to tell how many trials have been completed out of total use that information by eg. incrementing a counter in a progress bar. I think that the simplest way would be to have a callback at the end of a trial, so after `tune.report()` sounds like something I want.

I imagine that some people would want callba

[2020-09-24 10:44] MrRace commented on #10990
@richardliaw  The core file can be download from https://drive.google.com/file/d/13EoT0RMlJbLEZAfIFpUg32QCyOKzRc-b/view?usp=sharing

[2020-09-24 11:23] FabianSchuetze commented on #10765
@bentzinir  : No objection to closing - thanks for your comment! Yes, sorry, I meant Figure 6 and 7.

Did you have any success with training a pixel based policy other than on Atari? So far, its eluding me and I would be grateful for any hints which environments and algorithms work!

[2020-09-24 12:04] MrRace opened #11000 "[tune] why set hyperparam both config and scheduler"
I use the master example  from `ray/python/ray/tune/examples/pbt_transformers/pbt_transformers.py`,

1.  I find in the `config` and scheduler's hyperparam_mutations contain the `weight_decay, learning_rate, per_gpu_train_batch_size` . Why set the parameter in both `config` and `scheduler`, is it requisite?

[code]

2.  By the way,  I set `num_samples=8`, I think the `==Status==`  in terminal logs

[2020-09-24 12:53] #10995 closed

[2020-09-24 12:54] Vysybyl commented on #2327
Sorry to comment on a closed issue but I couldn't file any real solution. Spark for instance lets you add .py or .whl files to your context. Could you provide a working example? Thanks

[2020-09-24 13:49] krfricke commented on #10854
Thanks, that's helpful.

I started implementing a solution for this. The PR can be found here: #11001

There's a small usage example included in the PR description. It would be very helpful if you could take a look and confirm if you could use the callback API to do what you aim to do. If not, please let us know what we could improve here.

Thanks!

[2020-09-24 14:39] sumanthratna commented on #10804
Hi @Glaucus-2G, sorry for the late reply. Unfortunately, I'm not sure if there's a way of using relative imports in Ray. For now, try copying your entire source code directory to all of your worker nodes. #2327

[2020-09-24 14:40] krfricke opened #11004 "[tune] Simple examples are very slow/suffer from large overhead"
### What is the problem?

Very simple objectives have a lot of overhead when run with Ray Tune. For instance, the original Optuna example:

[code]
takes about `0.10` seconds to run on my machine.

In contrast, an equivalent example in Ray Tune:

[code]

takes about `22.73` (!) seconds to run.

- [x] I have verified my script runs in a clean environment and reproduces the issue.
- [x] I have verifi

[2020-09-24 15:57] #10354 closed

[2020-09-24 15:57] rkooo567 opened #11005 "[GCS] Implement daemon process to restart GCS server"
### Describe your feature request

[2020-09-24 16:16] ag-tcm opened #11006 "[tune] How can one discard experiment results without raising an error from a trial?"
When I use ray tune sometime I'll have an experiment that has an error while running my trainable function because the hyper-parameters used led to a model that won't converge. I can let the error propagate as a TuneError but I'd prefer to catch it within my trainable function, log it and then stop the experiment with the status of "error" so that the results will be discarded.

I can use the cust

[2020-09-24 16:18] netw0rkf10w commented on #10986
Hi @richardliaw !

The logs are shown below where I set 1 GPU for each trial (the logs is for `--num-cpus 25` but for `--num-cpus 24` they are similar):

I don't know why but I always have to put the full path to binaries in `srun`, otherwise I will obtain an error:

[code]

The output of

[code]

is 48 (I guess there are 24 cores, each has 2 threads). So your hypothesis is true, Python can access

[2020-09-24 16:39] amogkam commented on #10990
@MrRace you said you were running this on Docker right? Would you be able to try running the Quick Start example without using Docker to see if the core file still gets created? I've never seen this before so just trying to isolate the problem.

[2020-09-24 16:45] batu opened #11007 "[rllib] Setting rewards to 0 in Callbacks doesn't affect training."
### What is the problem?
OS: Windows 10
Ray version: 0.8.7 [current latest on pip]
Python version: Python 3.6.12

The eventual goal is to create an interactive RL workflow, where the user is giving feedback to trajectory and that information is used in the ongoing training.

One way to give feedback is to change the rewards per trajectory. In order to do that I used the `on_postprocess_trajectory`

[2020-09-24 16:50] ericl commented on #10975
You can launch MPI directly within the actor, so there is not a need to run
separate processes. Basically it should be possible to get the same set of
Ray actors to also be part of a MPI communication group.

On Thu, Sep 24, 2020, 12:23 AM Daniel Wiczew <notifications@github.com>
wrote:

[2020-09-24 16:57] bentzinir commented on #10765
It would be foolish of me to pretend to know the answer to this...
But here is my two cents:
Pixel-based policies usually go together with discrete actions. In this case, PPO is your go-to algorithm.
As a trust-region algorithm, it will provide you with "safe" optimization.
However, as an on-policy algorithm, you might be facing exploration challenges that are better to solve by tweaking the envir

[2020-09-24 16:57] #10765 closed

[2020-09-24 17:47] ericl commented on #11007
It's probably because advantages are already calculated; you'll need to change the batch before postprocessing or set the advantages directly.

[2020-09-24 18:56] ericl commented on #10969
Hmm, I realized that we never in fact deep copy the batches, only the dictionary containing them. If we were to add a copy, this could add a significant amount of overhead.

I assume you're running into this issue since your postprocessing is mutating the batch? Is it possible to add new fields instead of updating existing ones?

[2020-09-24 19:06] simon-mo commented on #10993
🤦 ok i found the bug. we were checking *total resource* but we should check *available resource*

[2020-09-24 19:34] simon-mo commented on #10993
We can fix it in Serve once #11014 is merged

[2020-09-24 19:37] simon-mo commented on #6867
ray.util.queue should satisfy this requirements. It's not exactly 100% clone of the multiprocessing API but it should be low overhead. (thanks @architkulkarni)

[2020-09-24 19:37] #6867 closed

[2020-09-24 19:40] simon-mo commented on #4632
Closing as the performance issue is stale and probably doesn't apply in Ray 1.0

[2020-09-24 19:40] #4632 closed

[2020-09-24 19:40] #5095 closed

[2020-09-24 19:40] #5178 closed

[2020-09-24 19:40] simon-mo commented on #5728
Closing this old issue. Thanks @ijrsvt for the great work

[2020-09-24 19:40] #5728 closed

[2020-09-24 19:40] #5813 closed

[2020-09-24 19:41] #6366 closed

[2020-09-24 19:41] simon-mo commented on #6838
`port range` option is available. closing this.

[2020-09-24 19:41] #6838 closed

[2020-09-24 19:42] #7734 closed

[2020-09-24 19:42] #7684 closed

[2020-09-24 20:45] ThomasLecat opened #11016 "[rllib] Support custom MultiActionDistribution classes"
### Describe your feature request

Hi,

The function [get_action_dist](https://github.com/ray-project/ray/blob/07bdf062b97cfa0ca6477d6e70212eb92bd2637b/rllib/models/catalog.py#L113) as it is now doesn't allow users to use custom action distribution classes, i.e. classes that inherit from `MultiActionDistribution`, `MultiDiscrete` or their torch counterparts.

The reason is that the `__init___` of

[2020-09-24 21:05] mitar commented on #4632
There is no more central log collecting in Ray 1.0? Because if it is, it still applies.

[2020-09-24 21:31] richardliaw commented on #11006
Maybe `tune.run(raise_on_failed_trial=False`?

[2020-09-24 21:50] richardliaw commented on #10986
Sounds good. Maybe you now want to try using multiple nodes for your Ray training script?
[code]

[2020-09-24 21:59] Yard1 commented on #10854
This looks like everything I needed and more, @krfricke. Thank you a lot!

[2020-09-24 21:59] rkooo567 opened #11018 "[Placement Group] Not working with @ray.remote"
### What is the problem?

Although @ray.remote contains an argument for placement group, it doesn't work. We should either remove it or allow it. (placement_group_capture_child_task)

### Reproduction (REQUIRED)
Please provide a script that can be run to reproduce the issue. The script should have **no external library dependencies** (i.e., use fake or mock data / environments):

If we cannot run

[2020-09-24 22:40] richardliaw commented on #11004
Note that this is similar to https://github.com/ray-project/ray/issues/7608

[2020-09-24 22:40] netw0rkf10w commented on #10986
@richardliaw Thanks. I adapted the [tutorial](https://docs.ray.io/en/master/cluster/slurm.html) in the master branch to my use case but haven't been able to get it working yet.

Consider the following scenario:

- Each node of my server has 4 GPUs and 40 CPUs (sorry for the change, the nodes with 8 GPUs and 24 CPUs are all allocated so I can only perform experiments on 4-GPU nodes).
- I want to us

[2020-09-24 22:47] netw0rkf10w commented on #10986
In a previous version of the tutorial, the worker nodes were started using a for loop. Maybe I can use that and start each node with a different port...

[2020-09-24 23:59] saffronh opened #11020 "[rllib] Checkpoint failing"
I'm running rllib on a SLURM cluster, and am finding it very difficult to debug this error. In my config, I've set `--local-dir=~/ray_results` and turned all checkpointing flags (that I'm aware of) off. (`checkpoint_at_end=False` etc)

But it seems that this checkpointing in `step()` isn't of that variety - so I'm just wondering what else is the problem here.

[code]

Ray version I'm using is 0.8.

[2020-09-25 00:00] netw0rkf10w commented on #10986
Some new strange behaviors...

I changed my script to start the worker nodes one by one using a for loop:

[code]

It seemed to work:

But then I had a typo in the Python code so it stopped. I fixed the typo, then launched it again, but it didn't work this time:

Arrrrrrr...

[2020-09-25 00:05] richardliaw commented on #11020
Maybe try:
1. global_checkpoint_freq=100000
2. upgrading to newest Ray? (`pip install -U ray --pre`)

[2020-09-25 00:31] richardliaw commented on #10986
Hmmm maybe try doing `ray stop &&` before `ray start` to make sure there's no zombie processes from previous runs?
[code]

[2020-09-25 00:55] netw0rkf10w commented on #10986
@richardliaw Even worse :((

[2020-09-25 01:09] richardliaw commented on #10986
Is it possible that some tasks are being placed on the same node?

[2020-09-25 01:18] #10605 closed

[2020-09-25 01:18] #9308 closed

[2020-09-25 01:19] richardliaw commented on #10901
This should be fixed! #10926

[2020-09-25 01:19] #10901 closed

[2020-09-25 02:34] richardliaw commented on #9571
Hmm, is this generally a very unintuitive design decision?

[2020-09-25 03:26] MrRace commented on #10990
@amogkam I try run the Quick Start example outer the docker and it does not create the core file. The docker I used comes from `pytorch/pytorch:1.6.0-cuda10.1-cudnn7-runtime`, maybe you can also get the reproduction. Looking forward to solve the unexpected  problem. Best regards!

[2020-09-25 03:30] richardliaw commented on #10990
great catch! Can you try this: https://stackoverflow.com/questions/58704192/how-to-disable-core-file-dumps-in-docker-container

[2020-09-25 05:47] MrRace commented on #10990
Therefore just disable the core file？Is there some other risk underlying ?

[2020-09-25 06:10] batu commented on #11007
Thank you, that makes a lot of sense. What would be the proper way to go about doing that? Seems like the callsbacks are executed too late for the purpose

[2020-09-25 06:18] richardrl commented on #10216
This seems to work as expected. Only problem is, and it may not be directly related, but I get a disk space error after running my cluster for a while and rsyncing up even if I'm not writing to disk.. I wonder if ray is constantly serializing logs somewhere that is filling up disk space.

[2020-09-25 06:24] richardrl opened #11026 "address=auto does not work"
Using ray 0.9.0

[code]

in my "train_ray_simple.py", I have:
    ray.init(local_mode=args.local_mode, address=args.address)

If I set args.address = "auto", it gives the above error. In other words, it's not connecting to REDIS server at all.

However, if I use the IP printed to stdout in "ray up ... ", it works as expected.

I can run the exact same "ray submit ... --address=<new ip>" instead of

[2020-09-25 07:21] saffronh commented on #11020
Looks like `global_checkpoint_freq` / `global_checkpoint_period` is deprecated but I changed the TUNE_GLOBAL_CHECKPOINT_S environment variable and updated to newest Ray -- still, getting the same error!

It's odd because this seems to work when I run locally on MacOSX but just doesn't work on the SLURM cluster. Is there something OS-related I need to change?

Extended traceback below:

[code]

[2020-09-25 07:34] richardliaw commented on #11026
hmm, can you try `pip install -U ray --pre` instead for your ray install?

[2020-09-25 07:40] richardliaw commented on #10990
No security risk afaik. Did it work?

[2020-09-25 07:52] yukiiwong commented on #6696
Thanks @ujvl

[2020-09-25 07:58] #11006 closed

[2020-09-25 08:26] bentzinir commented on #10969
Yes, it's possible.
Do you want to restrict postprocessing to allow addition and prohibit mutation?

[2020-09-25 08:31] GOnion opened #11027 "[GCS server]Distributed mode does not work，beacuse GCS service address is wrong"
When I start two nodes on the **virtual machine**，use the ray cmd ：`ray start --head --port=6397` and  the test file is shown below:
[code]

the log file like this：
[code]
the GCS service  address is 192.168.33.162:41771, so distributed mode works very well。

But when I deployed it on two **physical machines**，the GCS service  address like this：
[code]
Now the GCS service  address is 127.0.0.1:417

[2020-09-25 08:35] rkooo567 commented on #11027
This might be solved in nightly. Can you try?

[2020-09-25 08:45] GOnion commented on #11027
Thank you for your reply 。Yes，I can

[2020-09-25 10:17] manishagarwal23 commented on #9298
How to get what all ports should i open.
Also does these ports change once i restart ray ?

[2020-09-25 10:53] robbertvc opened #11030 "Using asyncio.wait on a ray ObjectRef can result in InvalidStateError logs"
### What is the problem?

#### Versions

[code]
[code]

#### Context

We use this construct to wait for an actor's result. The actor could fail (e.g. by going OOM) so we also do some periodic health checks on it. `asyncio.wait` is used to check for both the result and the health check concurrently.

#### Problem

When using `asyncio.wait` on a ray ObjectRef which represents an aync actor method ca

[2020-09-25 12:16] fredrikbissmarckatfoise commented on #9951
Looking in to it further, I found that learning is sensitive to the amplitude of the reward, in a way Stable baselines isn't. At least in the case of my particular task. Previously, I had a cumulative reward in the order of 10,000 per episode (50,000 time steps, for a somewhat successful sample). Reducing it by a factor of 1,000 (i.e. 10 per episode) and my problems with converging on the optimal

[2020-09-25 14:13] jennicetao commented on #10929
If the resource requirement of a task matches multiple node types (e.g. a task needs 8 CPUs and there are multiple node types with more than 8 CPUs), it would be great if the autoscaler can try from the cheapest (i.e. highest priority) to the most expensive; only trying the more expensive one if the cheaper one is not available. The autoscaler would need to timeout trying to create an instance typ

[2020-09-25 14:18] netw0rkf10w commented on #10986
@richardliaw Still same `Ray processes died unexpectedly` error.

[code]

The full logs are appended to the end of this message. Here are some highlights:

Full logs:

[2020-09-25 14:44] netw0rkf10w commented on #10986
I add a `sleep 60` every time I do `ray start` or `ray stop`:

[code]

and it seems to work!!

I obtained a strange warning though:

At some point I can see that there are 6 trials running at the same time, so it seems to work:

[code]

[2020-09-25 14:52] karstenddwx commented on #10805
Any further note/answer on that?
many thanks in advance
Karsten

[2020-09-25 15:27] netw0rkf10w commented on #10986
In addition to the above strange warning, I also observed some strange behaviors: the logs _inside the trials_ are repeated 3 times! For example:

It seems that something, the same thing, is running on all the 3 Ray nodes...

[2020-09-25 15:34] netw0rkf10w commented on #10910
@krfricke Could you please tell me if there's an option to save the current Tune job state and resume it later? My Slurm server has a time limit for each job, and I'm afraid that tuning large models will surpass that time limit. Thanks a lot!

[2020-09-25 15:35] rkooo567 commented on #9298
All of values above are port numbers that can be specified by ray start. Once you specify, I believe port numbers won’t be changed

[2020-09-25 15:47] krfricke commented on #10910
Hi @netw0rkf10w, absolutely.

There's three things you'll need to make this work:

1. Enable checkpointing (otherwise you cannot continue the training)
2. Call `tune.run()` with the `resume` parameter
3. Provide a logdir (this is actually optional but it makes it easier to track your run status)

Here's a simple example:

[code]

Can you work out on how to adapt this to your use case yourself?

[2020-09-25 16:11] netw0rkf10w commented on #10910
@krfricke Awesome!

According to the documentation:

if I set `resume='LOCAL'` or `resume=True` then it will resume from `local_checkpoint_dir`, "determined by `name` and `local_dir`". What happens if I don't set a `name` to the experiment?

My Python code looks like this:

[code]

I didn't think about setting a name. Will it be able to resume if I set `resume=True` though?

Thanks again!

[2020-09-25 16:55] richardrl commented on #11026
Is this installing the latest version of ray from the repository?

I'm using a version with custom modifications I developed such as file exclusion during syncing, so I don't think this would work.

[2020-09-25 17:44] rkooo567 commented on #11030
cc @ijrsvt @simon-mo Isn't it supposed to be fixed right? Was it pushed after 0.8.7?

@robbertvc Is it possible to try the latest commit and see if it still occurs?

[2020-09-25 17:49] richardliaw commented on #10986
Ah I noticed something really odd - notice that on two different worker nodes, they have the *same IP address* - is this expected?

[code]

[2020-09-25 17:52] ericl commented on #9951
Is it due to value function clipping? RLlib has vf clipping enabled by default, and it is sensitive to the reward magnitude. Past the clipping threshold, the VF will learn very slowly.

[2020-09-25 17:59] netw0rkf10w commented on #10986
I have no idea, but when starting the worker nodes, I set `--address $ip_head`, so maybe the worker nodes take the same IP address as the head:

[code]

The [tutorial](https://docs.ray.io/en/master/cluster/slurm.html)) does the same thing so I guess that's expected?

[2020-09-25 18:00] richardliaw commented on #10986
Hm, `--address $ip_head` tells the Ray "worker node" the location of the head node - this is how the cluster is joined together. However, each worker node should a unique IP address (which is printed in the logs).

[2020-09-25 18:36] netw0rkf10w commented on #10986
@richardliaw You are right. I didn't notice that the IP address of the head was different than the workers. So here the issue is that all the worker nodes have the same IP address. I have no idea how this can happen.

[2020-09-25 18:40] amogkam commented on #10920
@ankur6ue were you able to get this working?

[2020-09-25 18:41] #10890 closed

[2020-09-25 18:42] amogkam commented on #10852
@noprohuangqi this is the same as https://github.com/ray-project/ray/issues/10890 right? I'm going to close this, but if it's a different problem feel free to reopen.

[2020-09-25 18:42] #10852 closed

[2020-09-25 18:43] amogkam commented on #10789
@noprohuangqi were you able to try out synch mode?

[2020-09-25 18:45] richardliaw commented on #10986
One idea would just stick to using 1 worker node for now. Are you on the Ray slack? Happy to chat more there!

[2020-09-25 18:55] netw0rkf10w commented on #10986
I've just tried again with 4 nodes, same issues:

I'll ping you on Slack. Thanks!

[2020-09-25 21:25] danwallach opened #11037 "possible plasma-related crashes on long jobs"
### What is the problem?

Setup:
Ray 1.0rc2, running on Ubuntu 20.04, on Amazon c5.12xlarge VMs (roughly half of the bare metal, 48 virtual cores per node). The job is written in Python 3.8.5.

Source code here:
https://github.com/votingworks/arlo-e2e

The loop driving the cluster is here:
https://github.com/votingworks/arlo-e2e/blob/471fdd7f2fc11f57b58594fbd130a271859c902f/src/arlo_e2e/ray_tally.

[2020-09-25 22:58] #4638 closed

[2020-09-25 23:05] jdpena opened #11038 "Visionnet variable referenced before assignment"
Hi,

I'm trying to run MAPPO algorithm using PettingZoo's [Tiger-Deer environment](https://www.pettingzoo.ml/magent/tiger_deer), and I obtained the error, below.

[code]
Taking a look at the file `visionnet.py`, it does appear like the variable should have been set in the for-loop #L29. The only way for it not to have been set is if `enumerate(filters[:-1], 1)` returned empty. The offending line i

[2020-09-25 23:27] richardliaw commented on #10216
The disk space might be due to your ray tune logs. Be sure to clean them up over time.

[2020-09-26 04:00] Seraphli commented on #10927
After I remove all memory settings and let ray to choose all memory settings, the memory increases much slower than before.  I think the problem is solved.

[2020-09-26 04:00] #10927 closed

[2020-09-26 04:04] Seraphli opened #11044 "[ray] Is there any way to create actors more quickly?"
In our project, we have to initialize about 2000+ actors in the cluster. The whole process takes about 20+ mins to finish. It's quite a long time. Is there any way to create actors more quickly?

[2020-09-26 04:32] rkooo567 commented on #11044
1. What's the standard of "creating actors"? Is it time to create all handles or time it takes to ray.get on every actor's method?
2. Based on the stress test we performed on 100 nodes cluster (2 CPUs each), it took around 3 seconds to create 200 actors. So, 2000+ actors for 20 minutes definitely sounds like there are some bottlenecks.

Just note that unlike normal tasks, actor creation always sho

[2020-09-26 04:42] rkooo567 commented on #11037
1. Does job finish with that error?
2. Do you specify --plasma-store-memory when you run ray start?
3. You can probably specify `memory` argument per each task. `task.options(memory=[bytes]).remote()` This will help you to control the number of tasks per node.
4. Is that failure happens in one of nodes, a head node, or a node that runs a driver?
5. Is returned `ptally` from `r_encrypt_and_write` u

[2020-09-26 04:47] Seraphli commented on #11044
Yes, creating actors means creating actor handlers and making sure the actors are set up properly. I can do some tests and write feedback here. BTW, the GCS server is not overloaded.

[2020-09-26 05:01] rkooo567 commented on #11044
Got it. There might be some unknown bottlenecks we haven't discovered as well (since we don't currently have this large scale tests that test more than  2000+ workers). Feedback will be really helpful to investigate them!

[2020-09-26 07:30] #11044 closed

[2020-09-26 07:31] #9298 closed

[2020-09-26 07:33] #5661 closed

[2020-09-26 07:34] #7148 closed

[2020-09-26 09:37] fredrikbissmarckatfoise commented on #9951
Yes, vf clipping was my first suspicion. I experimented before with setting vf_clip_param to large and very large numbers, but to no avail. I also tried A2C and it had the same problem.

However, besides better understanding of the tool, it is a non-issue for me now, I can happily move forward with my Rllib work. Thanks for the concern.

[2020-09-26 11:42] Karol-G opened #11046 "Install ray from specific commit?"
Hi,

I want to install ray from the newest master commit. The documentation explains how to do it: https://docs.ray.io/en/latest/installation.html#installing-from-a-specific-commit. But I am unable to correctly determine the needed variables.

Hash:
552ebdbedae7327b2e6f084c989bae6c1010f58d  (Should be correct)

Ray version:
How do I know the ray version for the above commit?

Operating System:
My

[2020-09-26 11:51] danwallach commented on #11037
I've provided tarballs of the logs to Anyscale privately via Slack.

I'm currently using all the default arguments to `ray start` (see cloud/aws-config.yaml in my project), but if you think it would help, I can try others.

Does it finish? Once these errors start, the computation will sometimes complete, other times reach a ceiling and just stop. It's not consistent. There's also a possible connec

[2020-09-26 12:51] Dris101 commented on #9114
I had a similar issue:  After `ray start --head` the head node prints:-
\--------------------
Ray runtime started.
\--------------------

Next steps
  To connect to this Ray runtime from another node, run
    ray start --address='192.168.143.221:6379' --redis-password='password here'

but `address_to_ip(address):` in `services.py` does not trim the quotes from the IP address so `socket.gethostbyna

[2020-09-26 15:12] Karol-G opened #11047 "[tune] TypeError: __init__() got multiple values for argument 'arch' when using 'with_parameters'"
Hi,

### What is the problem?

I compiled ray from source from the commit 552ebdbedae7327b2e6f084c989bae6c1010f58d to be able to use the new `with_parameters` function #10679 to pass constant variables to my trainable class. However, I get the following error when calling `with_parameters`:

[code]

I am using Ubuntu 18.04.4 LTS (GNU/Linux 5.4.0-42-generic x86_64) with python 3.8.3 and pytorch 1.5

[2020-09-26 16:57] ag-tcm opened #11048 "[tune] KeyboardInterrupt error during tune.run"
### What is the problem?

Summary: I frequently get KeyboardInterrupt errors when I try to run more than a few dozen trials of my hyper parameter tuning script.

Detail: I setup a tune.run program to run 50 samples. It starts normally. But, after the program gets through a few dozen trials it will suddenly quit with the errors shown below. (Note: I'm not entering ctrl+C into the keyboard or any ot

[2020-09-26 18:07] ankur6ue commented on #10920
I haven't tried.. mostly because of a lack of full understanding of what's going on under the hood. Lacking this understanding, I'll likely run into other hard to debug issues.

I build my own scripts to run ray inside docker images. Attaching them here, along with a few bugs I encountered along the way.

[code]

[2020-09-26 18:15] ankur6ue commented on #10920
https://github.com/ray-project/ray/issues/9474 seems related to Bug# 2

[2020-09-26 20:51] robertnishihara commented on #11046
It should be similar to the filenames at https://pypi.org/project/ray/1.0.0rc2/#files!

[2020-09-26 21:34] robullelk commented on #7880
Hello,
I have had good results until I upgraded all my servers to Ubuntu 18.04.5-desktop-amd.iso that I downloaded from releases.ubuntu.com on 9/24/20.
I am using python 3.8.6 and ray 0.8.7 
Basically the head node does not see the worker nodes even though I get no errors when I start up ray on the nodes according to the most recent documentation.  I have not changed the code or how I start up Ray

[2020-09-26 21:36] rkooo567 commented on #7880
There were some implementation changes to connect worker nodes to the head node, and I’ve seen several users having the same issue. This should’ve been resolved in our nightly version. Do you mind trying that?

[2020-09-26 21:53] robullelk commented on #7880
Hi,
No I don't mind.  I've cutnpasted from the web page the options below.  I am a little gunshy in that it took me a day to get the most current python, pip, and ray ubuntu update/upgrade/dependencies mishmash to get me to a stable state - BUT I will dive in.  I'm hoping my current pip 20.2.3 from /usr/local/lib/python3.8/dist-packages  will work.  Any landmines/dependencies you can caution me ab

[2020-09-27 01:48] MrRace commented on #10990
Yes, It can work. Thanks a lot!

[2020-09-27 06:55] nasrin136 commented on #10756
Hi Richard, this is what I get now:

![image](https://user-images.githubusercontent.com/26745108/94358148-f71bc080-00af-11eb-9ce9-928d34514f7b.png)

[2020-09-27 07:00] nasrin136 commented on #10756
Hi Richard, this is what I get now:

![image](https://user-images.githubusercontent.com/26745108/94358225-8032f780-00b0-11eb-8997-b6508640f8ed.png)

[2020-09-27 07:19] richardliaw commented on #10990
Awesome!

[2020-09-27 07:19] #10990 closed

[2020-09-27 07:20] #11046 closed

[2020-09-27 07:22] richardliaw commented on #10756
It looks like you ran out of space on your hard-disk - perhaps consider cleaning up your hard-disk, using a machine with more disk space?

Also, maybe you should try the most recent version of ray -  `pip install -U ray --pre`.

[2020-09-27 07:53] richardliaw commented on #10954
Hm, yeah this currently not supported yet. Is there a reason why you're using the custom trainable class instead of the function API?

[2020-09-27 07:53] #10954 closed

[2020-09-27 08:57] nasrin136 commented on #10756
Yes! Actually, I did run out of disk space. I was saving models and figures but now I have disabled them. Updated ray to the latest version (thanks for the suggestion). I am re-running the simulation and if it successfully completes, I will close the thread.

[2020-09-27 09:17] DanielWicz commented on #10975
I will try to do as you told me Eric, thank you. I'll close the question and If I will need something further I will re-open it again.

[2020-09-27 09:17] #10975 closed

[2020-09-27 15:38] sumanthratna commented on #11048
This is pretty strange. My initial guess would be that the main thread is sending SIGINT because of low memory or some other lack of resources, but it's hard to say right now.

Can you please send info on what libraries you're using? (the names of the libraries and the versions)

Can you also try calling `tune.run` with the `loggers` kwarg set to `(tune.logger.JsonLogger, tune.logger.CSVLogger)`

[2020-09-27 17:16] rkooo567 commented on #11037
Reducing object lifetimes sounds like a good start. My biggest question is which node has OOM? Is it the node that has a progress bar? driver? or something else? We should figure out which components of your code incur OOM.

Also, I don't think 200 calls to the progress bar per second with small objects matter.

[2020-09-27 17:16] rkooo567 commented on #11027
Let me know how it works!

[2020-09-27 17:41] danwallach commented on #11037
Tomorrow, I'll hack up the shorter lifetime idea and see what happens. It's going to turn into a loop that keeps calling ray.wait and dispatching new jobs based on whatever is ready. That'll be fun. Might even be "optimal" in some fashion.

So far as I can tell, the node that's exploding in memory usage isn't actually out of memory. It's just desperately leaking memory at the same time as it's pro

[2020-09-27 18:37] saffronh commented on #11020
Still failing - any idea what else I can check?

[2020-09-27 21:35] rkooo567 commented on #11037
Zoom call sounds great. But before that, I'd like to see the log files (because the error you saw seems to happen because raylet or plasma store crashes). You said you shared it in the anyscale private channel, but I am not sure where that is. Can you tag me to the comment?

[2020-09-27 21:35] rkooo567 commented on #11037
It should be @sangcho

[2020-09-27 21:56] ag-tcm commented on #11048
I have a few models using sklearn and another one using xgboost. I've gotten this error using both of them. It seems to only happen after the code is running for several minutes (5-10 min.?). Anything shorter is finishing with no problems. I'm visually monitoring the system resources. CPU is at 100% and RAM is at about 50-60%. I ran the exact same code with the same library versions on a linux mac

[2020-09-27 22:18] sumanthratna commented on #11048
Thanks for all the debugging info! To clarify are those log files from running with the loggers I suggested? If so, could you please send the same logs but with the default loggers instead? Some more questions:
- do you have WSL installed?
- does the Python traceback always point to the same lines?
- are you trying to utilize a cluster, or are you only trying to run locally?

Thanks again!

[2020-09-27 23:50] #10854 closed

[2020-09-28 00:43] rkooo567 commented on #11037
What's the difference between crash/old and just crash/?

[2020-09-28 01:14] rkooo567 commented on #11037
Btw, when I looked into logs, it seems like it is what happened.

Around 21:00:00, there are some workers that failed to be initialized because of that error (broken pipe). I think around that time, those workers failed to be connected to `/tmp/ray/session_latest/sockets/plasma_store_socket`. It seems like after that other workers are started, and your job has finished. Am I correct?

[2020-09-28 01:49] GOnion commented on #11027
There may be something wrong with my previous description. In this paragraph, I try again. The reason for this problem may not be related to the virtual machine.
My work environment cannot be linked to the Internet. It is an offline environment. I can use ray distribution in the network environment, but it can't work in my work environment. So is the distribution of ray related to the network?
I t

[2020-09-28 02:33] #9808 closed

[2020-09-28 02:34] rkooo567 commented on #9919
https://github.com/ray-project/ray/pull/11061

cc @richardliaw Will there be any other future PRs to close this issue other than colocation?

[2020-09-28 02:35] rkooo567 opened #11062 "[Placement Group] APIs and feature parity between Python and Java APIs"
### Describe your feature request

For feature requests or questions, post on our Github Discussions page instead: https://github.com/ray-project/ray/discussions!

@ffbin Can you fill up this?

[2020-09-28 02:36] rkooo567 commented on #9802
This is crucial to give users a way to remove leaked placement groups. Will be implemented in the next week

[2020-09-28 02:36] rkooo567 commented on #9772
https://github.com/ray-project/ray/pull/10998

The first step.